<% appointments.each do |workflow| %>
  <% appointment = Appointment.find_by(id: workflow.appointment_id) %>
  <div class="row no_margin summary_appointment" data-appointment-id="<%= appointment.id.to_s %>" data-appointment-tab="<%= tab %>" style="border-left: 3px solid">
    <div class="col-sm-4 no_pading">
      <span><%= appointment.patient.fullname %></span>
    </div>
    <div class="col-sm-2 no_padding">
      <span class="label" style="background-color: <%= appointment.appointment_type.try(:background) %>" title="<%= appointment.try(:appointment_type_comment) %>"><%= appointment.appointment_type.label %> <%= "#{' - ' + appointment.try(:appointment_type_comment) if appointment.try(:appointment_type_comment).present?} " %></span>
    </div>
    <div class="col-sm-2 no_padding text-center">
      <% if tab == "my_queue" %>
        <% if workflow.state == 'away' %>
          <span>Away</span>
        <% else %>
          <span><%= workflow.total_transition_time_in_org %></span>
        <% end %>
      <% elsif tab == "followup" %>
        Followup on <br>  <%= workflow.followupdates.last.strftime("%d %b'%y") %>
      <% else %>
        <% if workflow.state == 'converted' and workflow.surgerydates.length > 0 %>
          Surgery on <br><%= Date.parse(workflow.surgerydates.last).strftime("%d %b'%y") %>
        <% elsif  workflow.state == 'converted' %>
          <%= workflow.converted_state.last %>
        <% elsif workflow.state == "followup" %>
          Followup on <br>  <%= workflow.followupdates.last.strftime("%d %b'%y") %>
        <% else %>
          <%= workflow.appointmentdate %>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-2 no_padding text-center">
      <%= workflow.start_time.try(:strftime, '%I:%M %p') %>
    </div>
    <div class="col-sm-1 no_padding text-right">
      <span class="badge badge-success"><%= workflow.state.split('_').join(' ').capitalize %></span>
    </div>
  </div>
<% end %>
