<div class="modal-dialog modal-hg-view-record-template" style="width: 50%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Add Followup</h4>
    </div>
    <form action="/opd_clinical_workflow/create_followup" data-remote="true" >
      <div class="modal-body"> <!-- modal-body starts -->
        <div class="row">
          <div class="col-md-4">
            <b>Date</b>
            <input class='form-control opdfollowupdate-datepicker' id="opdfollowupdate-datepicker" style="background: #fff;cursor: pointer;" readonly="readonly" name="opdfollowupdate">
          </div>
          <div class="col-md-4">
            <b>Time</b>
            <div class="bootstrap-timepicker timepicker">
              <input class='form-control opdfollowuptime-timepicker' id="opdfollowuptime-timepicker" style="background: #fff;cursor: pointer;" name="opdfollowuptime">
            </div>
          </div>
          <% facilities_array = current_user.organisation.facilities.map { |facility| [facility.name, facility.id] } %>
          <% if facilities_array.count >1 %>
              <div class="col-md-4">
                <b>Location</b>
                <select class="form-control fac_ddap" name="appointment_facility" style="height: 40px;">
                  <% facilities_array.each do |facility| %>
                      <option value="<%= facility[1].to_s %>" <%= "selected='selected'" if facility[1].to_s == current_facility.id.to_s %> >
                        <%= facility[0] %>
                      </option>
                  <% end %>
                </select>
              </div>
          <% else %>
              <input name="appointment_facility" value="<%= facilities_array[0][1] %>" type="hidden">
          <% end %>
          <input name="appointment_id" value="<%= @appointment_id %>" type="hidden">
        </div>
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Create">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </form>
  </div>
</div>
<script>
    $('#opdfollowupdate-datepicker').datepicker({
      dateFormat: "dd/mm/yy",
      minDate: 0
    })

    $('#opdfollowupdate-datepicker').datepicker("setDate", new Date("<%= Date.current %>"))
    timepicker_options = {defaultTIme: false, minuteStep: 5}
    $('#opdfollowuptime-timepicker').timepicker()

</script>