<% if opdrecord != nil %>
    <div class="advice mb5" id="advice">
      <% if opdrecord.has_advice? %>
          <%advice = opdrecord.advice%>
          <% advice_counter = 0 %>
          <% precaution_counter = 0 %>
          <% preop_instruction_counter = 0 %>
          <% advice_opdfollowuptimeframe = "" %>
          <% if advice.opdfollowuptimeframe.length > 0 %>
              <% advice_opdfollowuptimeframe = OpdRecordsHelper.get_label_for_opd_followup_timeframe(opdrecord.advice.opdfollowuptimeframe) %>
              <% advice_counter = advice_counter + 1 %>
          <% end %>




          <% if advice.opdprecautions.present? %>
              <% if advice.opdprecautions.length > 0 %>

                  <% advice.opdprecautions.length > 0 %>
                  <% advice_precaution = advice.opdprecautions %>
                  <% precaution_counter = precaution_counter + 1 %>
              <% end %>
          <%end%>

          <% if advice.opdpreop_instruction.present? %>
              <% if advice.opdpreop_instruction.length > 0 %>

                  <% advice.opdpreop_instruction.length > 0 %>
                  <% advice_preop_instruction = advice.opdpreop_instruction %>
                  <% preop_instruction_counter = preop_instruction_counter + 1 %>
              <% end %>
          <%end%>

          <% if advice_counter > 0 || precaution_counter > 0 || preop_instruction_counter > 0 || opdrecord.advice.read_attribute(:opdfollowupdate).present? || opdrecord.advicemanagementplan.present? %>
              <div class="row">
                <strong>ADVICE</strong>
                <div class="summary-line-border"></div>
              </div>
          <% end %>
          <% #if advice_counter > 0 %>
          <div class="row">
            <div class="col-md-12">
              <% if advice_opdfollowuptimeframe.length > 0 || opdrecord.advice.read_attribute(:opdfollowupdate).present?  %>
                  <strong>For Followup : </strong>
                  <% if opdrecord.advice.read_attribute(:opdfollowupdate).present? %>
                      Visit <b> <% if current_facility.clinical_workflow%>
                  <%doctor_id = OpdClinicalWorkflow.find_by(appointment_id: @appointment.id.to_s).try(:consultant_ids).try(:last)%>
                  <% if doctor_id%>
                      <span>Dr. <%=User.find_by(:id=> opdrecord.advice.appointment_doctor).fullname%></span>
                  <%else%>
                      <span>Dr. <%=User.find_by(:id=> opdrecord.advice.appointment_doctor).fullname%></span>
                  <%end%>

              <%else%>
                  <span>Dr. <%=User.find_by(:id=> opdrecord.advice.appointment_doctor).fullname%></span>
              <%end%> on
                      <b><%= Date.parse("#{opdrecord.advice.read_attribute(:opdfollowupdate)}").strftime('%a %b %d, %Y') %></b> at 
                        <b><%= Time.zone.parse("#{opdrecord.advice.read_attribute(:opdfollowuptime)}").strftime("%I:%M %p") %></b>
                      <%if User.find_by(:id=> opdrecord.advice.appointment_doctor).facilities.all.count>1%><%if opdrecord.advice.appointment_facility.present?%> in <%=Facility.find(opdrecord.advice.appointment_facility).try(:name)%><%end%><%end%>
                  <% else %>
                      Visit <b> Dr. <%= User.find_by(:id=> opdrecord.advice.appointment_doctor).fullname %> </b> <%= OpdRecordsHelper.get_label_for_opd_followup_timeframe(opdrecord.advice.opdfollowuptimeframe) %><%if User.find_by(:id=> opdrecord.advice.appointment_doctor).facilities.all.count>1%><%if opdrecord.advice.appointment_facility.present?%> at <%=Facility.find(opdrecord.advice.appointment_facility).try(:name)%><%end%><%end%>
                  <% end %>
              <% end %>
            </div>
          </div>
          <%# end %>


          <% if precaution_counter > 0 %>
              <div class="row">
                <div class="col-md-12">
                  <% if advice_precaution != 0 %>
                      <strong>Advice & Precautions : </strong>
                      <%= advice_precaution %>
                  <% end %>
                </div>
              </div>
          <% end %>

          <% if preop_instruction_counter > 0 %>
              <div class="row">
                <div class="col-md-12">
                  <% if advice_preop_instruction != 0 %>
                      <strong>Pre-operative instructions : </strong>
                      <%= advice_preop_instruction %>
                  <% end %>
                </div>
              </div>
          <% end %>

          <% if  opdrecord.advicemanagementplan.present? %>
              <div class="row">
                <div class="col-md-12">
                  <strong>Management Plan : </strong>
                  <%= opdrecord.advicemanagementplan %>
                </div>
              </div>
          <% end %>
      <%else%>
      None
      <% end %>
    </div>
<% end %>

