<div class="summary-template">
  <%= render partial: 'opd_clinical_workflow/counsellor/patient_info',locals: {patient: patient,record: @counsellor_record,appointment: @appointment} %>
  <% unless @counsellor_record.iol == "" %>
    <div class="row">
      <b>IOL Package</b>
      <div class="summary-line-border"></div>
    </div>
    <div class="row">
      <div class="col-md-6"><label style="text-decoration: underline">IOL:</label> <%= @counsellor_record.iol %></div>
    </div>
  <% end %>
  <div class="row">
    <b>Patient History</b>
    <div class="summary-line-border"></div>
  </div>
  <div class="row ">
    <div class="col-md-12">Cardiac Problem: &nbsp; <%= @counsellor_record.cardiac_problem.capitalize %>,&nbsp;Kidney Problem:&nbsp;<%= @counsellor_record.kidney_problem.capitalize %>,&nbsp;Other problems:&nbsp;
      <% unless @counsellor_record.other_problems == "" %>
        <%= @counsellor_record.other_problems %>
      <% else %>
        None
      <% end %>
    </div>
  </div>
  <div class="row">
    <b>Medical Record</b>
    <div class="summary-line-border"></div>
  </div>
  <div class="row ">
    <div class="col-md-12"><label style="text-decoration: underline">Diagnosis:</label>
      <% if @counsellor_record.diagnosis != "" %>
        <%= @counsellor_record.diagnosis %>
      <% else %>
        None
      <% end %>
    </div>
  </div>
  <% if @print_investigation.count > 0 %>
    <div class="row">
      <div class="col-md-12"><label style="text-decoration: underline">Investigations:</label> <%= @print_investigation.split(",").join(",") %></div>
    </div>
  <% end %>
  <% if @print_procedure.count > 0 %>
    <div class="row">
      <div class="col-md-12"><label style="text-decoration: underline">Procedures:</label> <%= @print_procedure.split(",").join(",") %></div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-12">
      <label style="text-decoration: underline">Implant Info:</label>
      <% if @counsellor_record.implant != "" %>
        <%= @counsellor_record.implant %>
      <% else %>
        None
      <% end %>
    </div>
  </div>
  <% if @counsellor_record.advice != "" %>
    <div class="row">
      <b>Advice</b>
      <div class="summary-line-border"></div>
    </div>
    <% if @counsellor_record.advice != "" %>
      <div class="row">
        <div class="col-md-12"><label style="text-decoration: underline">Doctor's Advice:</label><br> <%= @counsellor_record.advice %></div>
      </div>
    <% end %>
  <% end %>

  <% if @counsellor_record.patient_remark != "" %>
    <div class="row ">
      <b> Patient's Remark</b>
      <div class="summary-line-border"></div>
    </div>
    <div class="row">
      <div class="col-md-12"> <%= @counsellor_record.patient_remark %></div>
    </div>
  <% end %>

  <% if @counsellor_record.patient_discussion != "" %>
    <div class="row">
      <b>Discussions With the Patient</b>
      <div class="summary-line-border"></div>
    </div>
    <div class="row">
      <div class="col-md-12"> <%= @counsellor_record.patient_discussion %></div>
    </div>
  <% end %>
  <% if @counsellor_record.comment != "" %>
    <div class="row">
      <b>Comments</b>
      <div class="summary-line-border"></div>
    </div>
    <div class="row">
      <div class="col-md-12"> <%= @counsellor_record.comment %></div>
    </div>
  <% end %>
</div>