<div class="modal-dialog modal-hg-view-record-template" style="width: 80%;">
  <div class="modal-content">
    <div class="modal-header">
      <div class="pull-right">
        <!-- Action Buttons starts -->
        <!--<a class="btn btn-xs btn-primary " target="_blank" data-method="get" href="#"> <i class="fa fa-print mr5"></i> Print </a>-->
        <a aria-hidden="true" class="" style="cursor: pointer" data-dismiss="modal"><i class="fa fa-close"></i></a>
      </div> <!-- Action Buttons ends -->
      <h4 class="nomargin" style="text-align: center">Counsellor Summary</h4>

    </div>
        <div class="modal-body"> <!-- modal-body starts -->
          <div class="row">
            <div class="col-md-12">
              <div class="btn-group  pull-right">
                  <a href="/opd_clinical_workflow/edit_counsellor_summary?record_id=<%= @record.id%>" class="btn  btn-primary" data-remote="true"><i class="fa fa-edit">Edit</i></a>
                  <a href="/opd_clinical_workflow/print_counsellor_summary.pdf?record_id=<%= @record.id%>&print_procedure=<%= @print_procedure%>&print_investigation=<%= @print_investigation%>" class="btn btn-primary" target="_blank"><i class="fa fa-print">Print</i></a>
              </div>
            </div>
          </div>
         <%= render partial: 'opd_clinical_workflow/counsellor/print_summary',locals: {patient: @patient}%>
        </div>
        <div class="modal-footer">
          <div class="pull-right">
            <!-- Action Buttons starts -->
            <!--<a class="btn btn-xs btn-primary " target="_blank" data-method="get" href="#"> <i class="fa fa-print mr5"></i> Print </a>-->
          </div>
        </div>
  </div>
</div>