<div class="row mb20">
  <div class="col-md-12">
    <div class="col-md-12">
      <h2 style="font-size: 20px!important;">Argon Laser Trabeculoplasty (ALT)</h2>
    </div>
    <hr>
    <div class="col-md-4">
      Name of Patient: <%=@patient.fullname.split(" ").map(&:capitalize).join(" ") %>
    </div>
    <div class="col-md-2">
      Sex/Age:   &nbsp;&nbsp;<%= @patient.gender %>/<%= @patient.age %>
    </div>
    <div class="col-md-4">
      <% patient_other_identifier =  PatientOtherIdentifier.find_by(patient_id: @patient.id.to_s)  %>
      <%if patient_other_identifier.try(:mr_no).present? %>
        MR No: <%=patient_other_identifier.mr_no%>
      <%else%>
        Patient ID: <%= PatientIdentifier.find_by(patient_id: @patient.id.to_s).try(:patient_org_id) %>
      <%end%>
    </div>
    <div class="col-md-2">
      Date: <%= Date.current.strftime("%d/%m/%y")%>
    </div>
    <div class="col-md-12">
      Son / Daughter of..............................................................................................................................................................
      <br>
      Address:
      <% unless @patient.address_1.blank? && @patient.address_2.blank? || @patient.city.blank? || @patient.state.blank? || @patient.pincode.nil? %>
          <%=  @patient.address_1 %>,
          <%=  @patient.address_2 %>,
          <%=  @patient.city %>,
          <%=  @patient.state %>,
          <%=  @patient.pincode %>
          <br>
      <%else%>
          ..............................................................................................................................................................................<br>
      <% end%>Tel:<%= @patient.mobilenumber%>
      <br/>
      The argon laser causes photocoagulation of tissue. Thermal disruption of structural molecules, especially protein denaturation, results in
      tissue changes that are observed such as contraction, condensation, and separation. Formation of amorphous gels as well as clot formation
      can also occur. Higher temperatures result in non-selective coagulation necrosis of the target tissue and will lead to the burning of tissue.
      <h3 style="font-size: 15px!important;">Argon Laser Trabeculoplasty</h3>
      Laser trabeculoplasy (LTP) is indicated for the treatment of open-angle glaucomas and is particularly effective in the treatment of
      pigmentary and pseudoexfoliation glaucomas. LTP causes alteration of the TM by photocoagulation and a greater effect is seen with more
      heavily pigmented TM. The precise mechanism of action is unknown but it relates to the change in conformation of the TM by collagen
      shrinkage leading to the opening of meshwork in adjacent, nontreated regions.
      <h3 style="font-size: 15px!important;">Procedure</h3>
      A slit lamp-mounted argon laser is usually used with the laser beam focused at the outflow angle with a contact lens such as a Goldmann
      three-mirror lens. The laser settings are typically 800 mW to 1200 mW for 0.1 second and a 50-μm spot size. The laser is focused on the
      TM and the power adjusted to cause a slight focal bubble or blanching of the TM. The TM is treated for 180o to 360o with a total of 50 to
      100 spots. Treatment complications include elevation of IOP, inflammation, inadvertent treatment of the cornea or ciliary body, hemorrhage,
      and pain.
      <h3 style="font-size: 15px!important;">Antiglaucoma Medication History</h3>
      I have been explained about the procedure and the risk involved in the procedure in my own language. I have been explained that there
      might be decrease in vision, corneal burn, raised IOP, and IOP may not decrease to desired level. Knowing all these inadvertent
      complications, I am willing to undergo the above procedure and I give my consent for the procedure .<br><br>
      I THE UNDERSIGNED (THE PATIENT OR NEAREST RELATIVE) HEREBY GIVE MY CONSENT FOR THE OPERATION OF LEFT EYE / RIGHT EYE WITH THE FULL KNOWLEDGE OF POSSIBLE COMPLICATIONS AND GUARDED / POOR VISUAL PROGNOSIS. I CERTIFY THAT I HAVE READ THIS INFORMED CONSENT / IT HAS BEEN READ OVER TO ME AND EXPLAINED TO ME IN MY MOTHER TONGUE AND ALL BLANKS OR STATEMENTS REQUIRING INSERTION OR COMPLETION WERE FILLED IN AND ANY INAPPLICABLE PARAGRAPHS STRICKEN OFF BEFORE I SIGNED. THE DOCTOR HAS ANSWERED ALL MY QUESTIONS TO MY SATISFACTION.
      <br>
      Signature / Thumb Impression of Patient/ Parent / Guardian: ...............................................................................................................................<br> Name: ........................................................ Relationship    ............................ Date  .............................................<br>
      Address:   .............................................................................................................................................................................<br>
      Phone (Off) .......................................(Res).......................................(Mob).......................................


      <h3 style="font-size: 15px!important;">Declaration by Doctor</h3>
      I declare that I have explained the nature and consequences of the procedure to be performed, and discussed the risks that particularly concern the patient.
      I have given the patient an opportunity to ask questions and I have answered these.


      <br><br>Doctor's signature


      <br><br>Doctor's name


      <br><br>Date................................

      <br>
    </div>
    <div class="col-md-6">
      Witness 1<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>
    <div class="col-md-6">
      Witness 2<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>

  </div>

</div>

<br/>

<style>
    h2{
        text-align: center;
        position: relative;
        text-transform: uppercase;
        font-size: 13pt;
        color: #333333;
    }
</style>


