<div class="row mb20">
  <div class="col-md-12">
    <div class="col-md-12">
      <h2 style="font-size: 20px!important;">Astigmatic Keratotomy (AK)</h2>
    </div>
    <hr>
    <div class="col-md-4">
      Name of Patient: <%=@patient.fullname.split(" ").map(&:capitalize).join(" ") %>
    </div>
    <div class="col-md-2">
      Sex/Age:   &nbsp;&nbsp;<%= @patient.gender %>/<%= @patient.age %>
    </div>
    <div class="col-md-4">
      <% patient_other_identifier =  PatientOtherIdentifier.find_by(patient_id: @patient.id.to_s)  %>
      <%if patient_other_identifier.try(:mr_no).present? %>
        MR No: <%=patient_other_identifier.mr_no%>
      <%else%>
        Patient ID: <%= PatientIdentifier.find_by(patient_id: @patient.id.to_s).try(:patient_org_id) %>
      <%end%>
    </div>
    <div class="col-md-2">
      Date: <%= Date.current.strftime("%d/%m/%y")%>
    </div>
    <div class="col-md-12">
      Son / Daughter of..............................................................................................................................................................
      <br>
      Address:
      <% unless @patient.address_1.blank? && @patient.address_2.blank? || @patient.city.blank? || @patient.state.blank? || @patient.pincode.nil? %>
          <%=  @patient.address_1 %>,
          <%=  @patient.address_2 %>,
          <%=  @patient.city %>,
          <%=  @patient.state %>,
          <%=  @patient.pincode %>
          <br>
      <%else%>
          ..............................................................................................................................................................................<br>
      <% end%>Tel:<%= @patient.mobilenumber%>
      <br/>
      <h3 style="font-size: 15px!important;">Introduction:</h3>
      Astigmatic keratotomy (AK) is a surgical procedure which consists of making fine microscopic arcuate (curved) incisions, either singly
      or as a pair, at optical zones of either 6 or 7 mm, or relaxing incisions at the limbus, which is the junction of the clear part of the eye (cornea)
      with the white (sclera) of the eye. These cuts are made for the purpose of flattening the steepest part of the cornea in an attempt to obtain
      a more spherical cornea. AK permanently changes the shape of the cornea. Although the goal of AK is to improve vision to the point of
      not wearing glasses, this result is not guaranteed.<br>
      AK is an elective procedure: There is no emergency condition or other reason that requires or demands that you have it performed. You
      could continue wearing contact lenses or glasses and have adequate visual acuity. This procedure, like all surgery, presents some risks,
      many of which are listed below. You should also understand that there might be other risks not known to your doctor that may become
      known later. Despite the best of care, complications and side effects may occur; should this happen in your case, the result might be
      affected even to the extent of making your vision worse.
      <h3 style="font-size: 15px!important;">Alternatives to AK:</h3>
      If you decide not to have AK, there are other methods of correcting your astigmatism. These alternatives include, among others,
      eyeglasses, contact lenses, and other refractive surgical procedures such as PRK or LASIK.
      <h3 style="font-size: 15px!important;">Patient Consent:</h3>

      I give my consent to my ophthalmologist to perform AK, and I declare that I have received no guarantee as to the success of my particular
      case. I understand that the following risks are associated with the procedure:
      <h3 style="font-size: 15px!important;">Potential Risks and Complications:</h3>
      <li> I understand that there is a possibility that my vision may not improve with this surgery or that the desired results of surgery may not
      be obtained. It is possible that I may require additional surgery at a later date or that I could still need glasses after surgery. It is
      possible that I may not be able to wear contact lenses after having this surgery.</li>
      <li> As a result of the surgery, it is possible that I could lose vision or best-corrected vision. This could happen as a result of infection that
      could not be controlled with antibiotics or other means, which could even cause loss of my eye.</li>
      <li> Irregular healing of incisions may cause the corneal surface to be distorted. In that case, it may be necessary for me to wear a contact
      lens to affect useful vision, and there is a possibility that this may not restore useful vision.</li>
      <li> I understand that I may experience incapacitating light sensitivity from sunlight or other bright light sources for a varying length
      of time, or possibly permanently.</li>
      <li> I understand that I may experience incapacitating glare or halos from oncoming headlights or other bright light sources, particularly
      in the evening or at nighttime, for a varying length of time or possibly permanently. I am aware that this may interfere with driving
      for an indefinite period both during day and night, and I understand that I am not to drive until I am certain that my vision is
      adequate both during day and night.</li>
      <li> I understand that fluctuations or variation in vision may occur during the day during the initial stabilization period (up to three
      months or longer).</li>
      <li> As occurs in all surgical procedures, scarring is the result of making incisions in living tissue. This particular surgery is no
      exception.</li>
      <li> My eye will be more susceptible to a blow to the eye during the healing phase and possibly somewhat after healing as the microscopic
      scar tissue may not be as strong as the normal tissue. Protective eyewear is recommended for all contact and racquet sports where
      a direct blow to the eye could cause permanent injury to the eye.</li>
      <li> Additional reported complications include corneal perforation, which could possibly require sutures; incisional inclusions, corneal
      vascularization, corneal ulcer formation, endothelial cell loss, epithelial healing defects, and very rarely, endophthalmitis (internal
      infection of the eye, which could lead to permanent loss of vision).</li>
      <li> I understand that, as with all types of surgery, there is a possibility of complications due to anesthesia, drug reactions or other factors
      that may involve other parts of my body. I understand that, since it is impossible to state every complication that may occur as a result
      of any surgery, the list of complications in this form may not be complete.</li>
      <h3 style="font-size: 15px!important;">Patient’s Statement of Acceptance and Understanding:</h3>
      The details of the procedure known as AK have been presented to me in detail in this document and explained to me by my ophthalmologist.
      My ophthalmologist has answered all my questions to my satisfaction. I have read this informed consent form (or it has been read to me),
      and I fully understand it and the possible risks, complications, and benefits that can result from surgery. I therefore consent to AK surgery.<br>
      I wish to have AK performed on my R/L/Both eye(s).
      <br>
      <br>
      Signature / Thumb Impression of Patient/ Parent / Guardian: ...............................................................................................................................<br> Name: ........................................................ Relationship    ............................ Date  .............................................<br>
      Address:   .............................................................................................................................................................................<br>
      Phone (Off) .......................................(Res).......................................(Mob).......................................


      <h3 style="font-size: 15px!important;">Declaration by Doctor</h3>
      I declare that I have explained the nature and consequences of the procedure to be performed, and discussed the risks that particularly concern the patient.
      I have given the patient an opportunity to ask questions and I have answered these.


      <br><br>Doctor's signature


      <br><br>Doctor's name


      <br><br>Date................................

      <br>
    </div>
    <div class="col-md-6">
      Witness 1<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>
    <div class="col-md-6">
      Witness 2<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>

  </div>

</div>

<br/>
<style>
    h2{
        text-align: center;
        position: relative;
        text-transform: uppercase;
        font-size: 13pt;
        color: #333333;
    }
</style>





