<div class="row mb20">
  <div class="col-md-12">
    <div class="col-md-12">
      <h2 style="font-size: 20px!important;">Botox (Botulinum Toxin) Injection</h2>
    </div>
    <hr>
    <div class="col-md-4">
      Name of Patient: <%=@patient.fullname.split(" ").map(&:capitalize).join(" ") %>
    </div>
    <div class="col-md-2">
      Sex/Age:   &nbsp;&nbsp;<%= @patient.gender %>/<%= @patient.age %>
    </div>
    <div class="col-md-4">
      <% patient_other_identifier =  PatientOtherIdentifier.find_by(patient_id: @patient.id.to_s)  %>
      <%if patient_other_identifier.try(:mr_no).present? %>
        MR No: <%=patient_other_identifier.mr_no%>
      <%else%>
        Patient ID: <%= PatientIdentifier.find_by(patient_id: @patient.id).try(:patient_org_id) %>
      <%end%>
    </div>
    <div class="col-md-2">
      Date: <%= Date.current.strftime("%d/%m/%y")%>
    </div>
    <div class="col-md-12">
      Son / Daughter of..............................................................................................................................................................
      <br>
      Address:
      <% unless @patient.address_1.blank? && @patient.address_2.blank? || @patient.city.blank? || @patient.state.blank? || @patient.pincode.nil? %>
          <%=  @patient.address_1 %>,
          <%=  @patient.address_2 %>,
          <%=  @patient.city %>,
          <%=  @patient.state %>,
          <%=  @patient.pincode %>
          <br>
      <%else%>
          ..............................................................................................................................................................................<br>
      <% end%>Tel:<%= @patient.mobilenumber%>
      <br/>
      I .............................................................................. have discussed my illness with my treating eye surgeon and I consent to having Botox
      treatment carried out upon myself for the improvement of .......................................................................................
      <br>Botox is injected with a small needle into the skin/muscle, with the aim of inhibiting the underlying muscle contraction, therefore
      improving my underlying muscle spasms/illness. In squint cases, the injection will weaken the overacting muscle & help in making the
      eye look straight. Botox injection also gives additional information about squint and can be used instead of performing surgery.<br>
      I have been informed about the indications, treatment procedure, expected results & possible side effects. I understand that I may
      experience swelling, redness, tenderness, flu-like syndrome, temporary muscle aching, as well as paralysis of a nearby muscle (which can
      cause droopy eyelids, double vision, droopy mouth, or neck weakness), slight headache, pain and/or bruising that may occur for several
      days after my treatment, however these symptoms will resolve.<br>
      Although the results are usually dramatic, I have been informed that the practice of medicine is not an exact science and that no guarantees
      can be made concerning the expected results in my case. The injection will take 3-4 days to start acting & will usually last for up to 3
      months. Repeated injections may be required as the effect starts decreasing from 3-months onwards.<br>
      I understand that I am required to have a follow-up consultation at 2 weeks, and that I am required to have photographs taken before,
      during and after treatment for my medical records.
      <h3 style="font-size: 15px!important;">Contraindications</h3>
      You should not have Botox if you are pregnant; nursing; allergic to albumin; have an infection, skin condition, or muscle weakness at the
      site of the injection; or have Eaton-Lambert syndrome, Lou Gehrig’s disease, or myasthenia gravis. Botox contains human-derived
      albumin and carries a theoretical risk of virus transmission.<br>
      I understand that whilst every precaution will be taken to prevent complications and that whilst complications from this procedure are
      rare, they can and sometimes do occur. I certify that I have read, and fully understand the above paragraphs and that I have had sufficient
      opportunity for discussion to have any questions answered.
      <br>
      <br>
      Signature / Thumb Impression of Patient/ Parent / Guardian: ...............................................................................................................................<br> Name: ........................................................ Relationship    ............................ Date  .............................................<br>
      Address:   .............................................................................................................................................................................<br>
      Phone (Off) .......................................(Res).......................................(Mob).......................................


      <h3 style="font-size: 15px!important;">Declaration by Doctor</h3>
      I declare that I have explained the nature and consequences of the procedure to be performed, and discussed the risks that particularly concern the patient.
      I have given the patient an opportunity to ask questions and I have answered these.


      <br><br>Doctor's signature


      <br><br>Doctor's name


      <br><br>Date................................

      <br>
    </div>
    <div class="col-md-6">
      Witness 1<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>
    <div class="col-md-6">
      Witness 2<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>

  </div>

</div>

<br/>

<style>
    h2{
        text-align: center;
        position: relative;
        text-transform: uppercase;
        font-size: 13pt;
        color: #333333;
    }
</style>

