<div class="row mb20">
  <div class="col-md-12">
    <div class="col-md-12">
      <h2 style="font-size: 20px!important;">Cataract Surgery With / Without Implantation of Intraocular Lens</h2>
    </div>
    <hr>
    <div class="col-md-4">
      Name of Patient: <%=@patient.fullname.split(" ").map(&:capitalize).join(" ") %>
    </div>
    <div class="col-md-2">
      Sex/Age:   &nbsp;&nbsp;<%= @patient.gender %>/<%= @patient.age %>
    </div>
    <div class="col-md-4">
      <% patient_other_identifier =  PatientOtherIdentifier.find_by(patient_id: @patient.id.to_s)  %>
      <%if patient_other_identifier.try(:mr_no).present? %>
        MR No: <%=patient_other_identifier.mr_no%>
      <%else%>
        Patient ID: <%= PatientIdentifier.find_by(patient_id: @patient.id).try(:patient_org_id) %>
      <%end%>
    </div>
    <div class="col-md-2">
      Date: <%= Date.current.strftime("%d/%m/%y")%>
    </div>
    <div class="col-md-12">
      Son / Daughter of..............................................................................................................................................................
      <br>
      Address:
      <% unless @patient.address_1.blank? && @patient.address_2.blank? || @patient.city.blank? || @patient.state.blank? || @patient.pincode.nil? %>
          <%=  @patient.address_1 %>,
          <%=  @patient.address_2 %>,
          <%=  @patient.city %>,
          <%=  @patient.state %>,
          <%=  @patient.pincode %>
          <br>
      <%else%>
          ..............................................................................................................................................................................<br>
      <% end%>Tel:<%= @patient.mobilenumber%>
      <br/>
      <h3 style="font-size: 15px!important;">Introduction :</h3>
      A cataract is opacity of the lens. Cataract operation is indicated only when you cannot function adequately due to poor sight produced by the cataract. Maturity of cataract is no longer a criterion for surgery. The natural lens within your eye with a slight cataract, although not perfect, has distinct advantages over an artificial lens.<br>
      In giving permission for cataract extraction with / without implantation of an intraocular lens in my eye, I declare that I understand the following information
      <ul>
        <li>Alternative Treatments :<br>
          There are three methods of restoring vision after cataract surgery<br>
          a) Cataract Spectacles b) Contact Lens c) Intraocular Lens<br>
          Cataract spectacles increase image size by 30%. They cannot be used if there is cataract in only one eye (the other is normal) because they may cause double vision. A contact lens increases image size by 8%. However, it is difficult to handle and may not be tolerated by everyone. Intraocular lens does not increase image size. It is surgically placed inside the eye permanently</li>
        <li>An intraocular lens is implanted by surgery (not by laser). The implanted lens will be left in the eye permanently. At the time of surgery the doctor may decide not to implant an intraocular lens in the eye, if for any reason he feels that the lens implantation is not indicated or may prove deleterious to the well being of the eye, even though permission may have been given to do so</li>
        <li>Though the intraocular implant power is calculated by utilizing a computerised Biometer (A-scan), a small correction in the spectacles is to be considered inevitable postoperatively and this may be more in specific cases. An astigmatism (number with axis) which may reduce with time, is to be taken as inevitable and normal. Therefore, a small power is to be expected in the spectacles for distance and near for clear vision after the operation. In any case, the aim of cataract surgery is to remove the cloudy lens from the eye and replace it with a plastic lens and not to rid the patient of his spectacles</li>
        <li>The calibre of vision obtained after a successful cataract surgery/lens implantation depends upon the retina behind. In an advanced cataract even with the most sophisticated instruments (Ultrasound Scan etc.), it is not possible to be certain that the retina inside is normal. Removal of cataract is like opening a door to a room. If the retina is normal, you will see well, but it is not possible in a majority of advanced cataract cases to ascertain the visual status of the retina before operation</li>
        <li>With modern instrumentation and micro surgical techniques, the rate of complications in cataract surgery with/without intraocular lens implantation is very low. Complications can usually be managed by medical and/or surgical treatment. The chances of total loss of vision are less than 0.5%. However, the following complications can occur and are mentioned in standard text books of cataract and lens implantation surgery</li>
        a) It is possible that vision may drop after surgery due to thickening/opacification of the posterior capsule. This is not a complication but a sequelae to Extra Capsular Cataract Extraction. The condition is treated with the "Yag Laser"<br>
        b) Complications may include haemorrhage (bleeding), posterior capsule rupture, nucleus drop, vitreous loss, wound leakage, uveitis, cornea! decompensation, glaucoma, cystoid macular oedema or retinal detachment. In addition lens implantation may be complicated by severe reaction to the lens (Toxic Lens Syndrome) or dislocation of the lens. The implanted lens may have to be repositioned or removed surgically if it is likely to damage the eye. Though every effort is made to minimize the chances of infection, it cannot be eliminated altogether. Loss of vision is a risk common to any intraocular surgery<br>
        c) Although you may have opted for phacoemulsification surgery and the same may have been planned by your surgeon after pre operative examination, if during surgery phacoemulsification is found to be unsafe or not feasible. your surgeon will have the liberty to perform surgery by the conventional technique in the interest of patient safety<br>
        d) Complications of surgery in general:- As the procedure is generally done under local anaesthesia the risk to life is less than 0.5%. Risk is greater in patients with Diabetes, Hypertension, Cardiac ailments and other systemic disorders & when surgery is performed under general anaesthesia. There is a possibility of drug reaction, brain damage or risk to life
      </ul>
      Since it is impossible to state every complication that may occur as a result of surgery, the list of complications in this form is not exhaustive.
      <h3 style="font-size: 15px!important;">Consent for Operation</h3>
      <ul>
        <li>I hereby authorize Dr. .................................................................................... and those whom he may designate as associates or assistants to perform cataract operation with an intraocular lens / without an intraocular lens / as a secondary procedure on my left / right eye<br>
          It has been explained to me that during the course of operation/ procedure, unforeseen conditions may be revealed or encountered which necessitate surgical or other procedures in addition to or different from those contemplated. I, therefore, further request and authorize the above named Physician/Surgeon or his designates to perform such additional surgical or other procedures as he or they deem necessary or desirable</li>
        <li>The nature and purpose of the operation, the necessity thereof, the possible alternative methods of treatment of my condition have been fully explained to me and I understand the same</li>
        <li>I am fully aware that the surgery is being performed in good faith and that no guarantee or assurance has been given as to the result that may be obtained</li>
        <li>I consent to the administration of anesthesia and to the use of such anesthetics as may be deemed necessary or desirable</li>
        <li>I further consent to the administration of such drugs or infusions deemed necessary in the judgement of the medical staff</li>
        <li>I consent to the observing, photographing or televising of the procedure to be performed for medical, scientific or education purpose provided my identity is not revealed by the pictures or by descriptive text accompanying them</li>
        <li>Any tissues or parts surgically removed may be disposed off by the institution in accordance with customary practice</li>
      </ul>
      <h3 style="font-size: 15px!important;">Informed Consent for Operation on Patients With Guarded / Poor Visual Prognosis:</h3>
      I have been explained by the attending surgeon/Designated Assistant prior to the operation that visual prognosis after surgery is guarded/uncertain/poor/very poor. The reasons for this have been explained to me. The reasons are:(to be signed by the patient / person authorised to consent for the patient.)Trauma / Diabetic Retinopathy / Myopia / Glaucoma / Uveitis /Age Related Macular Degeneration / PVR / Complex Traction Retinal Detachment/Combined tractional rhegmatogenous retinal detachment /Dislocated lens or IOL /Endophthalmitis (Severe eye infection)
      .......................................................................................................................................................................................................................................
      .......................................................................................................................................................................................................................................<br>
      Signature of patient / person authorised to consent for patient:.....................................................................................<br>
      I THE UNDERSIGNED (THE PATIENT OR NEAREST RELATIVE) HEREBY GIVE MY CONSENT FOR THE OPERATION OF LEFT EYE / RIGHT EYE WITH THE FULL KNOWLEDGE OF POSSIBLE COMPLICATIONS AND GUARDED / POOR VISUAL PROGNOSIS. I CERTIFY THAT I HAVE READ THIS INFORMED CONSENT / IT HAS BEEN READ OVER TO ME AND EXPLAINED TO ME IN MY MOTHER TONGUE AND ALL BLANKS OR STATEMENTS REQUIRING INSERTION OR COMPLETION WERE FILLED IN AND ANY INAPPLICABLE PARAGRAPHS STRICKEN OFF BEFORE I SIGNED. THE DOCTOR HAS ANSWERED ALL MY QUESTIONS TO MY SATISFACTION.
            <br>
      Signature / Thumb Impression of Patient/ Parent / Guardian: ...............................................................................................................................<br> Name: ........................................................ Relationship    ............................ Date  .............................................<br>
      Address:   .............................................................................................................................................................................<br>
      Phone (Off) .......................................(Res).......................................(Mob).......................................


      <h3 style="font-size: 15px!important;">Declaration by Doctor</h3>
      I declare that I have explained the nature and consequences of the procedure to be performed, and discussed the risks that particularly concern the patient.
      I have given the patient an opportunity to ask questions and I have answered these.


      <br><br>Doctor's signature


      <br><br>Doctor's name


      <br><br>Date................................

      <br>
    </div>
    <div class="col-md-6">
      Witness 1<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>
    <div class="col-md-6">
      Witness 2<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>

  </div>

</div>

<br/>

<style>
    h2{
        text-align: center;
        position: relative;
        text-transform: uppercase;
        font-size: 13pt;
        color: #333333;
    }
</style>


