<div class="row mb20">
  <div class="col-md-12">
    <div class="col-md-12">
      <h2 style="font-size: 20px!important;">Conductive Keratoplasty</h2>
    </div>
    <hr>
    <div class="col-md-4">
      Name of Patient: <%=@patient.fullname.split(" ").map(&:capitalize).join(" ") %>
    </div>
    <div class="col-md-2">
      Sex/Age:   &nbsp;&nbsp;<%= @patient.gender %>/<%= @patient.age %>
    </div>
    <div class="col-md-4">
      <% patient_other_identifier =  PatientOtherIdentifier.find_by(patient_id: @patient.id.to_s)  %>
      <%if patient_other_identifier.try(:mr_no).present? %>
        MR No: <%=patient_other_identifier.mr_no%>
      <%else%>
        Patient ID: <%= PatientIdentifier.find_by(patient_id: @patient.id.to_s).try(:patient_org_id) %>
      <%end%>
    </div>
    <div class="col-md-2">
      Date: <%= Date.current.strftime("%d/%m/%y")%>
    </div>
    <div class="col-md-12">
      Son / Daughter of..............................................................................................................................................................
      <br>
      Address:
      <% unless @patient.address_1.blank? && @patient.address_2.blank? || @patient.city.blank? || @patient.state.blank? || @patient.pincode.nil? %>
          <%=  @patient.address_1 %>,
          <%=  @patient.address_2 %>,
          <%=  @patient.city %>,
          <%=  @patient.state %>,
          <%=  @patient.pincode %>
          <br>
      <%else%>
          ..............................................................................................................................................................................<br>
      <% end%>Tel:<%= @patient.mobilenumber%>
      <br/>
      In giving my permission for Conductive Keratoplasty (CK) I understand the following:<br>
      The long-term risks and effects of CK are unknown. I have received no guarantee as to the success of my particular case. I understand that
      the following risks are associated with the procedure:
      <li> I understand that the visual acuity I initially gain from CK could regress, and that my vision may go partially or completely back to
      the level it was immediately prior to having the procedure</li>
      <li> I understand that it is possible that damage to my cornea could also be caused by scarring, ulceration, or an eye infection that could
      not be controlled with antibiotics or other means</li>
      <li> I understand that I may not get a full correction from my CK procedure and this may require future enhancement procedures or the
      use of glasses or contact lenses. This procedure may also cause an increase in my astigmatism, which may cause blurred vision</li>
      <li> I understand that an over-correction could occur, causing me to become nearsighted, and that this nearsightedness could be either
      permanent or treatable</li>
      <li> I understand that the correction that I can expect to gain from CK may not be perfect and it is not realistic to expect that this
      procedure will result in perfect vision, at all times, under all circumstances, for the rest of my life. I understand I may need glasses
      to refine my vision for some purposes requiring fine detailed vision after some point in my life, and that this might occur soon after
      surgery or years later</li>
      <li> I understand that there may be pain, scratchiness, a foreign body sensation, or slight dryness in my eye, particularly during the first
      48 hours after surgery</li>
      <li> I understand that there may be increased sensitivity to light. I understand this condition usually resolves within the first few weeks
      following treatment, but it may also be permanent</li>
      <li> I understand that there may be a “balance” problem between my two eyes after CK has been performed on one eye, but not the other.
      This phenomenon is called anisometropia. I understand this would cause eyestrain and make judging distance or depth perception
      more difficult. I understand that my first eye may take longer to heal than is usual, prolonging the time I could experience
      anisometropia</li>
      <li> I understand I may temporarily experience corneal haze, small round hazy areas where the cornea was heated during the CK
      treatment. This haze will usually fade over time and may only be visible with a microscope within 3 months following surgery</li>
      <li> I understand that if I currently need reading glasses, I will still likely need reading glasses after this treatment</li>
      <li> Even 90% clarity of vision is still slightly blurry. Enhancement surgeries can be performed when vision is stable UNLESS it is
      unwise or unsafe. An assessment and consultation will be held with the surgeon at which time the benefits and risks of an
      enhancement surgery will be discussed</li>
      <li> I understand that there is a natural tendency of the eyelids to droop with age and that eye surgery may hasten this process.</li>
      <li> I understand that the follow-up effects of CK are unknown and that CK has not been in use long enough to measure long-term
      effects (those occurring after 10 years or more) following the procedures, and that unforeseen complications or side effects could
      occur</li>
      <li> I understand that I may be given medication in conjunction with the procedure. I understand that I must not drive for at least one
      day following the procedure and not until I am certain that my vision is adequate for driving</li>
      <li>I understand that, as with all types of surgery, there is a possibility of complications due to anesthesia, drug reactions, or other factors
      that may involve other parts of my body. I understand that, since it is impossible to state every complication that may occur as a result
      of any surgery, the list of complications in this form may not be complete</li>
      The details of the procedure known as CK have been presented to me in detail and explained to me by my ophthalmologist. My
      ophthalmologist has answered all my questions to my satisfaction. I therefore consent to CK surgery my R/L eye.
      <br>
      <br>
      Signature / Thumb Impression of Patient/ Parent / Guardian: ...............................................................................................................................<br> Name: ........................................................ Relationship    ............................ Date  .............................................<br>
      Address:   .............................................................................................................................................................................<br>
      Phone (Off) .......................................(Res).......................................(Mob).......................................


      <h3 style="font-size: 15px!important;">Declaration by Doctor</h3>
      I declare that I have explained the nature and consequences of the procedure to be performed, and discussed the risks that particularly concern the patient.
      I have given the patient an opportunity to ask questions and I have answered these.


      <br><br>Doctor's signature


      <br><br>Doctor's name


      <br><br>Date................................

      <br>
    </div>
    <div class="col-md-6">
      Witness 1<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>
    <div class="col-md-6">
      Witness 2<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>

  </div>

</div>

<br/>
<style>
    h2{
        text-align: center;
        position: relative;
        text-transform: uppercase;
        font-size: 13pt;
        color: #333333;
    }
</style>





