<div class="row mb20">
  <div class="col-md-12">
    <div class="col-md-12">
      <h2 style="font-size: 20px!important;">Dacryocystorhinostomy (DCR)</h2>
    </div>
    <hr>
    <div class="col-md-4">
      Name of Patient: <%=@patient.fullname.split(" ").map(&:capitalize).join(" ") %>
    </div>
    <div class="col-md-2">
      Sex/Age:   &nbsp;&nbsp;<%= @patient.gender %>/<%= @patient.age %>
    </div>
    <div class="col-md-4">
      <% patient_other_identifier =  PatientOtherIdentifier.find_by(patient_id: @patient.id.to_s)  %>
      <%if patient_other_identifier.try(:mr_no).present? %>
        MR No: <%=patient_other_identifier.mr_no%>
      <%else%>
        Patient ID: <%= PatientIdentifier.find_by(patient_id: @patient.id.to_s).try(:patient_org_id) %>
      <%end%>
    </div>
    <div class="col-md-2">
      Date: <%= Date.current.strftime("%d/%m/%y")%>
    </div>
    <div class="col-md-12">
      Son / Daughter of..............................................................................................................................................................
      <br>
      Address:
      <% unless @patient.address_1.blank? && @patient.address_2.blank? || @patient.city.blank? || @patient.state.blank? || @patient.pincode.nil? %>
          <%=  @patient.address_1 %>,
          <%=  @patient.address_2 %>,
          <%=  @patient.city %>,
          <%=  @patient.state %>,
          <%=  @patient.pincode %>
          <br>
      <%else%>
          ..............................................................................................................................................................................<br>
      <% end%>Tel:<%= @patient.mobilenumber%>
      <br/>

      I have been informed in my mother tongue that the natural passage for tear drainage from my eye (right/ left) is blocked. I understand that in order to overcome the problem of tearing in my eye because of the blockade I need to undergo dacryocystorhinostomy. This surgery involves by-passing the normal drainage system by making a direct communication between this passage and the nose. This will be done by making a bony opening in the adjacent wall of the nose, through a skin incision on the nose. A nasal pack would be kept in the nose for 24 hours post-operatively. Syringing of the passage created by the surgery may be required post-operatively.<br>
      I have been explained the risks of this surgery involving: failure ( approx 10%), excessive bleeding during the surgery or postoperatively, infection at the site of surgery and a potential risk of loss of vision due to any of the above reasons. I also understand the risks of local anesthesia under which this surgery will be performed.<br>
      Having completely understood the implications of the consent I hereby authorize the doctors to perform dacryocystorhinostomy on my left /right side.
      <br>
      Signature / Thumb Impression of Patient/ Parent / Guardian: ...............................................................................................................................<br> Name: ........................................................ Relationship    ............................ Date  .............................................<br>
      Address:   .............................................................................................................................................................................<br>
      Phone (Off) .......................................(Res).......................................(Mob).......................................


      <h3 style="font-size: 15px!important;">Declaration by Doctor</h3>
      I declare that I have explained the nature and consequences of the procedure to be performed, and discussed the risks that particularly concern the patient.
      I have given the patient an opportunity to ask questions and I have answered these.


      <br><br>Doctor's signature


      <br><br>Doctor's name


      <br><br>Date................................

      <br>
    </div>
    <div class="col-md-6">
      Witness 1<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>
    <div class="col-md-6">
      Witness 2<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>

  </div>

</div>

<br/>
<style>
    h2{
        text-align: center;
        position: relative;
        text-transform: uppercase;
        font-size: 13pt;
        color: #333333;
    }
</style>





