<div class="row mb20">
  <div class="col-md-12">
    <div class="col-md-12">
      <h2 style="font-size: 20px!important;">Descemet’s Stripping Endothelial  Keratoplasty(DSEK/DSAEK)</h2>
    </div>
    <hr>
    <div class="col-md-4">
      Name of Patient: <%=@patient.fullname.split(" ").map(&:capitalize).join(" ") %>
    </div>
    <div class="col-md-2">
      Sex/Age:   &nbsp;&nbsp;<%= @patient.gender %>/<%= @patient.age %>
    </div>
    <div class="col-md-4">
      <% patient_other_identifier =  PatientOtherIdentifier.find_by(patient_id: @patient.id.to_s)  %>
      <%if patient_other_identifier.try(:mr_no).present? %>
        MR No: <%=patient_other_identifier.mr_no%>
      <%else%>
        Patient ID: <%= PatientIdentifier.find_by(patient_id: @patient.id).try(:patient_org_id) %>
      <%end%>
    </div>
    <div class="col-md-2">
      Date: <%= Date.current.strftime("%d/%m/%y")%>
    </div>
    <div class="col-md-12">
      Son / Daughter of..............................................................................................................................................................
      <br>
      Address:
      <% unless @patient.address_1.blank? && @patient.address_2.blank? || @patient.city.blank? || @patient.state.blank? || @patient.pincode.nil? %>
          <%=  @patient.address_1 %>,
          <%=  @patient.address_2 %>,
          <%=  @patient.city %>,
          <%=  @patient.state %>,
          <%=  @patient.pincode %>
          <br>
      <%else%>
          ..............................................................................................................................................................................<br>
      <% end%>Tel:<%= @patient.mobilenumber%>
      <br/>

      I have been informed in the language I best understand that I am suffering from an ocular condition (specify.........................................................................	such as Fuchs’ Corneal Dystrophy, trauma, previous intraocular surgery, failed graft) in which a critical number of endothelial cells (inner layer of the cornea) have been lost because of which the cornea has become swollen and cloudy. The remainder of the corneal layers, the stroma and the outer epithelium, are healthy.<br>
      An operation known as Descemet’s Stripping Endothelial Keratoplasty (DSEK/DSAEK) will be carried out in which a thin button of donor tissue containing the endothelial cell layer will be inserted onto the back surface of my eye.<br>
      Advantages of DSEK over full thickness corneal transplantation are that it is faster to perform, the wound is smaller, more stable and less likely to break open from inadvertent trauma. Because the technique requires very few sutures, there is negligible postoperative astigmatism which can otherwise delay visual recovery. Since only the thin inner layer of the cornea is replaced, over 90% of the patient’s own cornea remains behind contributing to greater structural integrity and a reduced incidence of rejection.<br>
      <h3 style="font-size: 15px!important;">Risks and complications of DSEK/DSAEK</h3>
      These include general risks similar to those of a full thickness corneal transplantation such as hemorrhage in the eye, infection, a retinal detachment, rejection of the transplanted tissue, chronic inflammation, double vision, loss of corneal clarity, no improvement in vision or worsening of BCVA, glaucoma secondary to surgery or to medications and cataract formation.<br>
      Risks specific to DSEK include displacement of the thin button of endothelium within the first few days or weeks after surgery requiring a repeat surgery to reposition it. If the DSEK operation fails, the operation can be repeated with another button of donor endothelium. Alternatively, a traditional corneal transplant operation can also be performed. Repeat surgery may or may not lead to improvement of vision.
      Other complications from the local anesthesia include perforation of the eyeball, damage to the optic nerve, a droopy eyelid, interference with the circulation of the blood vessels in the retina, respiratory depression, and hypotension.<br>
      I have been explained the need for follow up as frequently as advised by the doctors that may span upto years, with multiple investigations at each visit. I have been explained that using medications properly is essential for the success of the graft. I have been explained that I will need to urgently come for follow-up to ophthalmic casualty if there is a sudden onset redness, photophobia, pain or deterioration of vision as these may be early signs of graft infection or rejection.<br>
      I understand that there may be other unexpected risks or complications that can occur that are not listed here. I also understand that during the course of the proposed operation, unforeseen conditions may be revealed that require the performance of additional procedures, and I authorize such procedures to be performed. I further acknowledge that no guarantees or promises have been made to me concerning the results of any procedure or treatment.<br>
      This consent form has also educated me about the various options available to me.<br>
      I certify that I have fully understood the implications of the above consent and authorize the doctors to perform endothelial keratoplasty on my right / left eye.
      <br>
      Signature / Thumb Impression of Patient/ Parent / Guardian: ...............................................................................................................................<br> Name: ........................................................ Relationship    ............................ Date  .............................................<br>
      Address:   .............................................................................................................................................................................<br>
      Phone (Off) .......................................(Res).......................................(Mob).......................................


      <h3 style="font-size: 15px!important;">Declaration by Doctor</h3>
      I declare that I have explained the nature and consequences of the procedure to be performed, and discussed the risks that particularly concern the patient.
      I have given the patient an opportunity to ask questions and I have answered these.


      <br><br>Doctor's signature


      <br><br>Doctor's name


      <br><br>Date................................

      <br>
    </div>
    <div class="col-md-6">
      Witness 1<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>
    <div class="col-md-6">
      Witness 2<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>

  </div>

</div>

<br/>


<style>
    h2{
        text-align: center;
        position: relative;
        text-transform: uppercase;
        font-size: 13pt;
        color: #333333;
    }
</style>



