<div class="row mb20">
  <div class="col-md-12">
    <div class="col-md-12">
      <h2 style="font-size: 20px!important;">Enucleation</h2>
    </div>
    <hr>
    <div class="col-md-4">
      Name of Patient: <%=@patient.fullname.split(" ").map(&:capitalize).join(" ") %>
    </div>
    <div class="col-md-2">
      Sex/Age:   &nbsp;&nbsp;<%= @patient.gender %>/<%= @patient.age %>
    </div>
    <div class="col-md-4">
      <% patient_other_identifier =  PatientOtherIdentifier.find_by(patient_id: @patient.id.to_s)  %>
      <%if patient_other_identifier.try(:mr_no).present? %>
        MR No: <%=patient_other_identifier.mr_no%>
      <%else%>
        Patient ID: <%= PatientIdentifier.find_by(patient_id: @patient.id.to_s).try(:patient_org_id) %>
      <%end%>
    </div>
    <div class="col-md-2">
      Date: <%= Date.current.strftime("%d/%m/%y")%>
    </div>
    <div class="col-md-12">
      Son / Daughter of..............................................................................................................................................................
      <br>
      Address:
      <% unless @patient.address_1.blank? && @patient.address_2.blank? || @patient.city.blank? || @patient.state.blank? || @patient.pincode.nil? %>
          <%=  @patient.address_1 %>,
          <%=  @patient.address_2 %>,
          <%=  @patient.city %>,
          <%=  @patient.state %>,
          <%=  @patient.pincode %>
          <br>
      <%else%>
          ..............................................................................................................................................................................<br>
      <% end%>Tel:<%= @patient.mobilenumber%>
      <br/>

      I have been informed in my own language that my right/ left eye may be harboring a tumor/ disease which if not removed may result in loss of vision in the same eye and may lead to spread of the disease to other parts of the body and cause risk to my life.
      <br>
      It has been explained to me that the exact confirmation of diagnosis can be obtained only after microscopic examination after removal of the eye.
      <br>The option of removing a piece of tissue through surgery or with the help of a needle for the purpose of diagnosis and its risks involved have been explained and given to me.
      <br>I understand that the entire eye along with its coverings and part of the nerve attached to it will be removed and replaced by an artificial prosthesis. I also understand that I will have to wear prosthetic eye for cosmetic purpose after the surgery.<br>
      I understand that in spite of the best efforts by the operating surgeons, there may be incomplete removal which may require additional surgery or treatment.
      <br>I hereby authorize...........................................................and those he/ the institute may designate as staff, associates or assistants to perform surgery for removal of my right/left eye.
      <br>It has been explained to me that during the course of treatment, unforeseen conditions may be revealed or encountered which may necessitate surgical and emergency procedures in addition to or different from those contemplated at the time of initial diagnosis. I, therefore, further request and authorize the above designated staff to perform such additional surgical or other procedures as they deem necessary or desirable.<br>
      I consent to the use of anesthesia and to use of anesthetics as may be deemed necessary or desirable.<br>
      I further consent to the administration of such drugs, infusions, plasma or blood transfusion or any other treatment or procedures deemed necessary.
      <br>I consent to the observing, photographing or televising of the procedure to be performed for medical, scientific or educational purpose provided my identity is not revealed by the pictures or by descriptive text accompanying them.
      <br>I have been given the opportunity to ask all/any questions and I have also been given the option to ask for any second opinion.
      <br>I am fully aware that the surgery is being performed in good faith and that no guarantee or assurance has been given as to the result that may be obtained.
      <br>Any tissues or parts surgically removed may be disposed off by the institution in accordance with customary practice.
      <br>
      Signature / Thumb Impression of Patient/ Parent / Guardian: ...............................................................................................................................<br> Name: ........................................................ Relationship    ............................ Date  .............................................<br>
      Address:   .............................................................................................................................................................................<br>
      Phone (Off) .......................................(Res).......................................(Mob).......................................


      <h3 style="font-size: 15px!important;">Declaration by Doctor</h3>
      I declare that I have explained the nature and consequences of the procedure to be performed, and discussed the risks that particularly concern the patient.
      I have given the patient an opportunity to ask questions and I have answered these.


      <br><br>Doctor's signature


      <br><br>Doctor's name


      <br><br>Date................................

      <br>
    </div>
    <div class="col-md-6">
      Witness 1<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>
    <div class="col-md-6">
      Witness 2<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>

  </div>

</div>

<br/>

<style>
    h2{
        text-align: center;
        position: relative;
        text-transform: uppercase;
        font-size: 13pt;
        color: #333333;
    }
</style>




