<div class="row mb20">
  <div class="col-md-12">
    <div class="col-md-12">
      <h2 style="font-size: 20px!important;">Fibrin Glue Adhesive for Corneal Perforation</h2>
    </div>
    <hr>
    <div class="col-md-4">
      Name of Patient: <%=@patient.fullname.split(" ").map(&:capitalize).join(" ") %>
    </div>
    <div class="col-md-2">
      Sex/Age:   &nbsp;&nbsp;<%= @patient.gender %>/<%= @patient.age %>
    </div>
    <div class="col-md-4">
      <% patient_other_identifier =  PatientOtherIdentifier.find_by(patient_id: @patient.id.to_s)  %>
      <%if patient_other_identifier.try(:mr_no).present? %>
        MR No: <%=patient_other_identifier.mr_no%>
      <%else%>
        Patient ID: <%= PatientIdentifier.find_by(patient_id: @patient.id.to_s).try(:patient_org_id) %>
      <%end%>
    </div>
    <div class="col-md-2">
      Date: <%= Date.current.strftime("%d/%m/%y")%>
    </div>
    <div class="col-md-12">
      Son / Daughter of..............................................................................................................................................................
      <br>
      Address:
      <% unless @patient.address_1.blank? && @patient.address_2.blank? || @patient.city.blank? || @patient.state.blank? || @patient.pincode.nil? %>
          <%=  @patient.address_1 %>,
          <%=  @patient.address_2 %>,
          <%=  @patient.city %>,
          <%=  @patient.state %>,
          <%=  @patient.pincode %>
          <br>
      <%else%>
          ..............................................................................................................................................................................<br>
      <% end%>Tel:<%= @patient.mobilenumber%>
      <br/>
      I have been clearly explained in the language I best understand that in view of my (diagnosis-corneal perforation), application of fibrin
      glue will be attempted to seal the defect.<br>
      I have also been informed of the fact that this procedure is being attempted because the tissue defect in my cornea is less than 2 mm in
      diameter.<br>
      I am fully aware of the risk of failure of the procedure which may necessitate reapplication of the glue or alternate treatment modalities like
      corneal patch grafting.<br>
      I am also aware of the fact that glue may produce inflammation of varying intensities in the eye and that the risk of endophthalmitis is
      greater with this procedure than a patch graft.<br>
      Nevertheless, I wish to have the procedure performed in my R/L eye and I am willing to accept the potential risks that my doctor has
      discussed with me.

      <br>
      <br>
      Signature / Thumb Impression of Patient/ Parent / Guardian: ...............................................................................................................................<br> Name: ........................................................ Relationship    ............................ Date  .............................................<br>
      Address:   .............................................................................................................................................................................<br>
      Phone (Off) .......................................(Res).......................................(Mob).......................................


      <h3 style="font-size: 15px!important;">Declaration by Doctor</h3>
      I declare that I have explained the nature and consequences of the procedure to be performed, and discussed the risks that particularly concern the patient.
      I have given the patient an opportunity to ask questions and I have answered these.


      <br><br>Doctor's signature


      <br><br>Doctor's name


      <br><br>Date................................

      <br>
    </div>
    <div class="col-md-6">
      Witness 1<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>
    <div class="col-md-6">
      Witness 2<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>

  </div>

</div>

<br/>
<style>
    h2{
        text-align: center;
        position: relative;
        text-transform: uppercase;
        font-size: 13pt;
        color: #333333;
    }
</style>





