<div class="row mb20">
  <div class="col-md-12">
    <div class="col-md-12">
      <h2 style="font-size: 20px!important;">Intacs</h2>
    </div>
    <hr>
    <div class="col-md-4">
      Name of Patient: <%=@patient.fullname.split(" ").map(&:capitalize).join(" ") %>
    </div>
    <div class="col-md-2">
      Sex/Age:   &nbsp;&nbsp;<%= @patient.gender %>/<%= @patient.age %>
    </div>
    <div class="col-md-4">
      <% patient_other_identifier =  PatientOtherIdentifier.find_by(patient_id: @patient.id.to_s)  %>
      <%if patient_other_identifier.try(:mr_no).present? %>
        MR No: <%=patient_other_identifier.mr_no%>
      <%else%>
        Patient ID: <%= PatientIdentifier.find_by(patient_id: @patient.id.to_s).try(:patient_org_id) %>
      <%end%>
    </div>
    <div class="col-md-2">
      Date: <%= Date.current.strftime("%d/%m/%y")%>
    </div>
    <div class="col-md-12">
      Son / Daughter of..............................................................................................................................................................
      <br>
      Address:
      <% unless @patient.address_1.blank? && @patient.address_2.blank? || @patient.city.blank? || @patient.state.blank? || @patient.pincode.nil? %>
          <%=  @patient.address_1 %>,
          <%=  @patient.address_2 %>,
          <%=  @patient.city %>,
          <%=  @patient.state %>,
          <%=  @patient.pincode %>
          <br>
      <%else%>
          ..............................................................................................................................................................................<br>
      <% end%>Tel:<%= @patient.mobilenumber%>
      <br/>
      <h3 style="font-size: 15px!important;">Nature of the Intacs Procedure :</h3>

      Intacs® is a non-laser procedure with FDA approval for use in patients with myopia and astigmatism. Intacs are intrastromal corneal ring
      segments in the shape of a semi-circle which an ophthalmologist inserts into the non-seeing periphery of the cornea through a tiny
      incision. These segments flatten the central cornea without removing tissue to better focus light. The segments are made of the same
      material that’s been implanted in human eyes after cataract surgery, called PMMA (polymethylmethacrylate). The procedure is performed
      under local anesthesia, peri-bulbar block or topical (eye drops) anesthesia. During the procedure, if performed under topical anesthesia,
      patient has to fix his or her gaze on the bright light of the operating microscope or as instructed by the operating ophthalmologist.
      Expected benefits: Intacs® have the advantage of removability or exchangeability for different sized segments, and maintaining a more
      natural corneal shape. Intacs cannot be felt by the patient, require no maintenance, and are probably less visible than a contact lens to the
      naked eye. Patients who elect to have Intacs® are not “locked in” to the procedure forever, as are patients who undergo other refractive
      procedures such as LASIK or PRK.
      Alternative treatments: I understand that continuous use of spectacles and / or contact lenses can provide good vision and Intacs® is an
      alternative to decrease the dependence on glasses and / or contact lenses.

      <h3 style="font-size: 15px!important;">Possible Side Effects, Risks and Complications:</h3>
     <li> OVER/UNDER-CORRECTION: I understand that calculations used in this surgery are based on previous experience on large
      number of patients and these use average values. I understand that Intacs® do not provide a full correction or a full reversal back to
      eye’s normal refractive state. Rather, the goal is to reduce myopia and astigmatism and /or to alter the shape of the cornea so that
      contact lenses can have a better fit. Thus depending on individual variations in response to the procedure, there may be some
      under-correction or over-correction.</li>
      <li> VISUAL ACUITY FLUCTUATION: I may have blurred vision or fluctuating vision following the procedure, this is due to
      modulation in the corneal tissue in response to Intacs® in the corneal stroma.</li>
      <li> LIGHT SENSTIVITY: I may experience glare or halos form light sources, more so during night time. These tend to disappear with
      time but glare may persist for a long time particularly at night.</li>
      <li> INDUCED ASTIGMATISM: I understand that I may experience a temporary blurring or distortion of vision for several days after
      the procedure. This type of visual distortion is normal during the healing process and, in most cases, it decreases over time.
      However, in rare instances, it may be permanent.</li>
      <li> PRESBYOPIA AND OTHER OCULAR CONDITIONS: I understand that Intacs® will NOT prevent the development of naturally
      occurring eye problems such as glaucoma, cataracts, retinal degeneration, or detachment. Further Intacs® do not correct the
      condition known as presbyopia (or aging of the eye), which may require reading glasses for close work at about age 40.</li>
      <li> OTHER COMPLICATIONS: Like any other surgical procedure of the eye, insertion of Intacs® can lead to trauma to corneal tissue
      leading to corneal edema, perforation, infection, which if severe could result in the loss of the eye or, rarely, a cataract. I understand
      that stromal thinning may occur due to shallow placement, which would require removal of the Intacs®. Further I have been made
      fully aware that if there are complications or problems during the surgery, the surgeon may not be able to insert Intacs®, and the
      surgery may have to be cancelled.</li>
      There are other risks associated with any surgery. Since it is impossible to state every risk or complication that may occur as a result of any
      surgery, the possible risks and complications listed in this informed consent may be incomplete. There may be risks or complications
      associated with this surgery that are unknown because this is a relatively new procedure.<br>
      I hereby give permission to release/publish medical data and/or video/audio record/photograph the current procedure and the procedures
      performed in subsequent/ follow up visits for the advancement of medical knowledge.<br>
      In signing this consent form for insertion of Intacs® I am stating that I have read this consent form (or it has been read to me) and I fully
      understand the nature and the purpose of and the possible side effects, risks and complications of this procedure. Although it is impossible
      for the doctor to inform me of every possible complication that may occur, the doctor has answered all my questions to my satisfaction.
      <br>
      <br>
      Signature / Thumb Impression of Patient/ Parent / Guardian: ...............................................................................................................................<br> Name: ........................................................ Relationship    ............................ Date  .............................................<br>
      Address:   .............................................................................................................................................................................<br>
      Phone (Off) .......................................(Res).......................................(Mob).......................................


      <h3 style="font-size: 15px!important;">Declaration by Doctor</h3>
      I declare that I have explained the nature and consequences of the procedure to be performed, and discussed the risks that particularly concern the patient.
      I have given the patient an opportunity to ask questions and I have answered these.


      <br><br>Doctor's signature


      <br><br>Doctor's name


      <br><br>Date................................

      <br>
    </div>
    <div class="col-md-6">
      Witness 1<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>
    <div class="col-md-6">
      Witness 2<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>

  </div>

</div>

<br/>
<style>
    h2{
        text-align: center;
        position: relative;
        text-transform: uppercase;
        font-size: 13pt;
        color: #333333;
    }
</style>





