<div class="row mb20">
  <div class="col-md-12">
    <div class="col-md-12">
      <h2 style="font-size: 20px!important;">Photorefractive Keratectomy (PRK)</h2>
    </div>
    <hr>
    <div class="col-md-4">
      Name of Patient: <%=@patient.fullname.split(" ").map(&:capitalize).join(" ") %>
    </div>
    <div class="col-md-2">
      Sex/Age:   &nbsp;&nbsp;<%= @patient.gender %>/<%= @patient.age %>
    </div>
    <div class="col-md-4">
      <% patient_other_identifier =  PatientOtherIdentifier.find_by(patient_id: @patient.id.to_s)  %>
      <%if patient_other_identifier.try(:mr_no).present? %>
        MR No: <%=patient_other_identifier.mr_no%>
      <%else%>
        Patient ID: <%= PatientIdentifier.find_by(patient_id: @patient.id).try(:patient_org_id) %>
      <%end%>
    </div>
    <div class="col-md-2">
      Date: <%= Date.current.strftime("%d/%m/%y")%>
    </div>
    <div class="col-md-12">
      Son / Daughter of..............................................................................................................................................................
      <br>
      Address:
      <% unless @patient.address_1.blank? && @patient.address_2.blank? || @patient.city.blank? || @patient.state.blank? || @patient.pincode.nil? %>
          <%=  @patient.address_1 %>,
          <%=  @patient.address_2 %>,
          <%=  @patient.city %>,
          <%=  @patient.state %>,
          <%=  @patient.pincode %>
          <br>
      <%else%>
          ..............................................................................................................................................................................<br>
      <% end%>Tel:<%= @patient.mobilenumber%>
      <br/>
      In giving my permission for PRK, I understand the following:
      The long-term risks and effects of PRK surgery are unknown. The goal of PRK with the excimer laser is to reduce dependence upon or need for contact lenses and/or eyeglasses; however, I understand that as with all forms of treatment, the results in my case cannot be guaranteed. For example:
      <ul>
        <li>I understand that an overcorrection or undercorrection could occur, causing me to become farsighted or nearsighted or increase my astigmatism and that this could be either permanent or treatable. I understand an overcorrection or undercorrection is more likely in people over the age of 40 years and may require the use of glasses for reading or for distance vision some or all of the time.</li>
        <li>If I currently need reading glasses, I will likely still need reading glasses after this treatment. It is possible that dependence on reading glasses may increase or that reading glasses may be required at an earlier age if I have PRK surgery.</li>
        <li>Further treatment may be necessary, including a variety of eye drops, the wearing of eyeglasses or contact lenses (hard or soft), or additional PRK or other refractive surgery.</li>
        <li>My best vision, even with glasses or contacts, may become worse.</li>
        <li>There may be a difference in spectacle correction between eyes, making the wearing of glasses difficult or impossible. Fitting and wearing contact lenses may be more difficult.</li>
        <li>I have been informed, and I understand, that certain complications and side effects have been reported in the post-treatment period by patients who have had PRK, including the following:
        <ul>
          <li>Possible short-term effects of PRK surgery: The following have been reported in the short- term post treatment period and are associated with the normal post-treatment healing process: mild discomfort or pain (first 72 to 96 hours), corneal swelling, double vision, feeling something is in the eye, ghost images, light sensitivity, and tearin</li>
          <li><b>Haze:</b> Loss of perfect clarity of the cornea, usually not affecting vision, which usually resolves over time.<br>
            <b>Starbursting:</b> After refractive surgery, a certain number of patients experience glare, a “starbursting” or halo effect around lights, or other low-light vision problems that may interfere with the ability to drive at night or see well in dim light. Although there are several possible causes for these difficulties, the risk may be increased in patients with large pupils or high degrees of correction. For most patients, this is a temporary condition that diminishes with time or is correctable by wearing glasses at night or taking eye drops. For some patients, however, these visual problems are permanent. I understand that my vision may not seem as sharp at night as during the day and that I may need to wear glasses at night or take eye drops. I understand that it is not possible to predict whether I will experience these night vision or low light problems, and that I may permanently lose the ability to drive at night or function in dim light because of them. I understand that I should not drive unless my vision is adequate. These risks in relation to my particular pupil size and amount of correction have been discussed with me.<br>
            <b>Los ofBestVision:</b> A decrease in my best vision even with glasses or contacts.<br>
            <b>IOP Elevation:</b> An increase in the inner eye pressure due to post-treatment medications, which is usually resolved by drug therapy or discontinuation of post-treatment medications.<br>
            <b>Mild or severe infection: </b>Mild infection can usually be treated with antibiotics and usually does not lead to permanent visual loss. Severe infection, even if successfully treated with antibiotics, could lead to permanent scarring and loss of vision that may require corrective laser surgery or, if very severe, corneal transplantation.<br>
            <b>Keratoconus:</b> Some patients develop keratoconus, a degenerative corneal disease affecting vision that occurs in approximately 1/2000 in the general population. While there are several tests that suggest which patients might be at risk, this condition can develop in patients who have normal preoperative topography (a map of the cornea obtained before surgery) and pachymetry (corneal thickness measurement) . Since keratoconus may occur on its own, there is no absolute test that will ensure a patient will not develop keratoconus following laser vision correction. Severe keratoconus may need to be treated with a corneal transplant while mild keratoconus can be corrected by glasses or contact lenses.</li>
          <li>Infrequent complications: The following complications have been reported infrequently by those who have had PRK surgery: itching, dryness of the eye, or foreign body feeling in the eye; double or ghost images; patient discomfort; inflammation of the cornea or iris; persistent corneal surface defect; persistent corneal scarring severe enough to affect vision; ulceration/ infection; irregular astigmatism (warped corneal surface which causes distorted images); cataract; drooping of the eyelid; loss of bandage contact lens with increased pain (usually corrected by replacing with another contact lens); and a slight increase of possible infection due to use of a bandage contact lens in the immediate post-operative period.</li>
        </ul>
        </li>
      </ul>

      <h3 style="font-size: 15px!important;">Risks</h3>
      These are the commoner risks. There may be other unusual risks that have not been listed here. I understand there are risks associated with any anesthetic agent.
      I may have side effects from any of the drugs used. The commoner side effects include light-headedness, nausea, skin rash and constipation. I understand the procedure has the following specific risks and limitations:
      <ul>
        <li>Failure to accomplish intent of surgery.</li>
        <li>Retinal detachments that may require additional surgery or may be inoperable</li>
        <li>Depending upon the surgery, Silicone Oil or Gas may be required for tamponade.</li>
        <li> In case of Silicone Oil or Gas injection, I have to maintain position depending upon the surgery.</li>
        <li>If Gas is injected, I have to restrict air travel until gas is absorbed.</li>
        <li>If Silicone oil is injected, then resurgery will be required to remove the oil.</li>
        <li>It may take up to 18 months before the final outcome of the surgery is known. </li>
        <li>In a few cases, the underlying condition cannot be treated and blindness cannot be prevented.</li>
        <li>It may not be possible to predict before the operation which cases will do well.</li>
        <li>There is a chance I may develop further retina detachments in future in the same eye or in the opposite eye</li>
        <li> In some cases, more than one operation may be required</li>
        <li>Though rare, I may develop complications like vitreous hemorrhage, infection, elevated eye pressure (glaucoma), poorly healing or non-healing corneal defects, corneal clouding and scarring, cataract, which might require eventual or immediate removal of lens, double vision, eyelid droop, and loss of circulation to vital tissues in the eye, resulting in decrease or loss of vision</li>
      </ul>
      There is an extremely small risk (1:17000 cases) that the opposite eye to the one having surgery may become inflamed, especially if complications occur after the operation. This is called sympathetic ophthalmia .Although this can be treated, in some cases, eyesight may be lost.
      I understand some of the above risks are more likely if I smoke, am overweight, diabetic, have high blood pressure or have had previous heart disease.

      <h3 style="font-size: 15px!important;">Individual Risks</h3>
      I understand the following are possible significant risks and complications specific to my individual circumstances, that I have considered in deciding to have this operation:
      .......................................................................................................................................................................................................................................
      .......................................................................................................................................................................................................................................

      <h3 style="font-size: 15px!important;"> Declaration By Patient</h3>
      I acknowledge doctors from the ophthalmic team have informed me about the procedure, alternative treatments and answered my specific queries and concerns about this matter.
      I acknowledge that I have discussed with the surgical team any significant risks and complications specific to my individual circumstances that I have considered in deciding to have this operation.
      I agree to any other additional procedures considered necessary in the judgment of my surgeon during this operation. I have received no guarantee the operation will be successful.
      I have received a copy of this form to take home with me.
      If a needle stick/sharps injury occurs to staff during any operation I give my permission for blood to be taken and tested for HIV and other blood borne disorders.
      I understand I will be advised and counselled as soon as practicable after the operation if this has been necessary.

      <br>
      Signature / Thumb Impression of Patient/ Parent / Guardian: ...............................................................................................................................<br> Name: ........................................................ Relationship    ............................ Date  .............................................<br>
      Address:   .............................................................................................................................................................................<br>
      Phone (Off) .......................................(Res).......................................(Mob).......................................


      <h3 style="font-size: 15px!important;">Declaration by Doctor</h3>
      I declare that I have explained the nature and consequences of the procedure to be performed, and discussed the risks that particularly concern the patient.
      I have given the patient an opportunity to ask questions and I have answered these.


      <br><br>Doctor's signature


      <br><br>Doctor's name


      <br><br>Date................................

      <br>
    </div>
    <div class="col-md-6">
      Witness 1<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>
    <div class="col-md-6">
      Witness 2<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>

  </div>

</div>

<br/>

<style>
    h2{
        text-align: center;
        position: relative;
        text-transform: uppercase;
        font-size: 13pt;
        color: #333333;
    }
</style>


