<div class="row mb20">
  <div class="col-md-12">
    <div class="col-md-12">
      <h2 style="font-size: 20px!important;">Lucentis Intravitreal Injection</h2>
    </div>
    <hr>
    <div class="col-md-4">
      Name of Patient: <%=@patient.fullname.split(" ").map(&:capitalize).join(" ") %>
    </div>
    <div class="col-md-2">
      Sex/Age:   &nbsp;&nbsp;<%= @patient.gender %>/<%= @patient.age %>
    </div>
    <div class="col-md-4">
      <% patient_other_identifier =  PatientOtherIdentifier.find_by(patient_id: @patient.id.to_s)  %>
      <%if patient_other_identifier.try(:mr_no).present? %>
        MR No: <%=patient_other_identifier.mr_no%>
      <%else%>
        Patient ID: <%= PatientIdentifier.find_by(patient_id: @patient.id.to_s).try(:patient_org_id) %>
      <%end%>
    </div>
    <div class="col-md-2">
      Date: <%= Date.current.strftime("%d/%m/%y")%>
    </div>
    <div class="col-md-12">
      Son / Daughter of..............................................................................................................................................................
      <br>
      Address:
      <% unless @patient.address_1.blank? && @patient.address_2.blank? || @patient.city.blank? || @patient.state.blank? || @patient.pincode.nil? %>
          <%=  @patient.address_1 %>,
          <%=  @patient.address_2 %>,
          <%=  @patient.city %>,
          <%=  @patient.state %>,
          <%=  @patient.pincode %>
          <br>
      <%else%>
          ..............................................................................................................................................................................<br>
      <% end%>Tel:<%= @patient.mobilenumber%>
      <br/>
      <h3 style="font-size: 15px!important;"> Indications:</h3>

      Lucentis is used to treat adults with an eye problem called the wet form (neovascular) of age-related macular degeneration. Macular
      degeneration causes vision loss leading to blindness.
      <h3 style="font-size: 15px!important;"> Contraindications:</h3>

      Do not use Lucentis if you have an infection in or around your eye
      <h3 style="font-size: 15px!important;"> Possible Limitations:</h3>

      The goal of treatment is to prevent further loss of vision. Although some patients have regained vision, the medication may not restore
      vision that has already been lost, and may not ultimately prevent further loss of vision caused by the disease.
      <h3 style="font-size: 15px!important;"> Alternatives:</h3>

      You do not have to receive treatment for your condition, although without treatment, these diseases can lead to further vision loss and
      blindness, sometimes very quickly. Other forms of treatment are available. At present, there are three FDA-approved treatments for
      neovascular age-related macular degeneration. The first is photodynamic therapy with a drug called Visudyne TM . The other two are
      injection into the eye of Lucentis TM . and Macugen TM . In addition to the FDA-approved medications, some ophthalmologists use intravitreal
      Avastin TM and triamcinolone —”off-label” to treat eye conditions like yours.
      <h3 style="font-size: 15px!important;"> Side Effects:</h3>
      The most common side effects with Lucentis include:
      <li> Inflammation of the eye</li>
      <li> Blurred vision or changes in vision</li>
      <li> Cataracts</li>
      <li> Bleeding in the eye</li>
      <li> Swelling of the eye</li>
      <li> Eye discharge</li>
      <li> Irritation or discomfort of the eye</li>
      <li> Eye pain</li>
      <li> Seeing “spots” in your vision</li>
      <li> The most common non–eye-related side effects were high blood pressure, nose and throat infection, and headache.</li>
      <li> Although uncommon, conditions associated with eye- and non–eye-related blood clots (arterial thromboembolic events) may occur.</li>
      <h3 style="font-size: 15px!important;"> Patient Responsibilities:</h3>

      I will inform my doctor if I’m pregnant, planning to conceive or breast feeding.<br>
      I will immediately contact my doctor if any of the following signs of infection or other complications develops: pain, blurry or decreased
      vision, sensitivity to light, redness of the eye, or discharge from the eye. I will keep all my post-injection appointments so that my doctor
      can check for complications.<br>
      Although the likelihood of serious complications affecting other organs of my body is low, I will immediately contact my physician if I experience abdominal pain associated with constipation & vomiting, abnormal bleeding, chest pain, severe headache,
      slurred speech, or weakness on one side of the body. As soon as possible, I will also notify the treating ophthalmologist of these problems.<br>
      I will inform any other surgeon that I am on a medication that needs to be stopped before I can have surgery<br>
      <h3 style="font-size: 15px!important;">Patient Consent:</h3>

      The above explanation has been read by/to me. The nature of my eye condition has been explained to me and the proposed treatment has
      been described. The risks, benefits, alternatives, and limitations of the treatment have been discussed with me. All my questions have been
      answered.<br>
      I understand that Lucentis TM was approved by the FDA for the treatment of metastatic colorectal cancer, and has not been approved for the
      treatment of eye conditions. Nevertheless, I wish to be treated with Lucentis TM , and I am willing to accept the potential risks that my
      physician has discussed with me. I hereby authorize the treating eye-surgeon to administer the intravitreal Lucentis TM in my affected eye
      as needed. This consent will be valid until I revoke it or my condition changes to the point that the risks and benefits of this medication
      for me are significantly different.


      <br>
      <br>
      Signature / Thumb Impression of Patient/ Parent / Guardian: ...............................................................................................................................<br> Name: ........................................................ Relationship    ............................ Date  .............................................<br>
      Address:   .............................................................................................................................................................................<br>
      Phone (Off) .......................................(Res).......................................(Mob).......................................


      <h3 style="font-size: 15px!important;">Declaration by Doctor</h3>
      I declare that I have explained the nature and consequences of the procedure to be performed, and discussed the risks that particularly concern the patient.
      I have given the patient an opportunity to ask questions and I have answered these.


      <br><br>Doctor's signature


      <br><br>Doctor's name


      <br><br>Date................................

      <br>
    </div>
    <div class="col-md-6">
      Witness 1<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>
    <div class="col-md-6">
      Witness 2<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>

  </div>

</div>

<br/>
<style>
    h2{
        text-align: center;
        position: relative;
        text-transform: uppercase;
        font-size: 13pt;
        color: #333333;
    }
</style>





