<div class="row mb20">
  <div class="col-md-12">
    <div class="col-md-12">
      <h2 style="font-size: 20px!important;">Macular Hole Surgery</h2>
    </div>
    <hr>
    <div class="col-md-4">
      Name of Patient: <%=@patient.fullname.split(" ").map(&:capitalize).join(" ") %>
    </div>
    <div class="col-md-2">
      Sex/Age:   &nbsp;&nbsp;<%= @patient.gender %>/<%= @patient.age %>
    </div>
    <div class="col-md-4">
      <% patient_other_identifier =  PatientOtherIdentifier.find_by(patient_id: @patient.id.to_s)  %>
      <%if patient_other_identifier.try(:mr_no).present? %>
        MR No: <%=patient_other_identifier.mr_no%>
      <%else%>
        Patient ID: <%= PatientIdentifier.find_by(patient_id: @patient.id.to_s).try(:patient_org_id) %>
      <%end%>
    </div>
    <div class="col-md-2">
      Date: <%= Date.current.strftime("%d/%m/%y")%>
    </div>
    <div class="col-md-12">
      Son / Daughter of..............................................................................................................................................................
      <br>
      Address:
      <% unless @patient.address_1.blank? && @patient.address_2.blank? || @patient.city.blank? || @patient.state.blank? || @patient.pincode.nil? %>
          <%=  @patient.address_1 %>,
          <%=  @patient.address_2 %>,
          <%=  @patient.city %>,
          <%=  @patient.state %>,
          <%=  @patient.pincode %>
          <br>
      <%else%>
          ..............................................................................................................................................................................<br>
      <% end%>Tel:<%= @patient.mobilenumber%>
      <br/>
      <h3 style="font-size: 15px!important;">Indications and Benefits</h3>
      Your doctor has diagnosed you with macular hole and informed you that if it is left untreated, it is likely that you will have gradual central vision deterioration but you will not lose all of the vision in your eye.<br>
      Your doctor has informed you that a procedure involving pars plana vitrectomy(VTX) with/without internal limiting membrane removal and gas injection will be performed in your eye under local/general anesthesia. The important factors in predicting whether the hole closes as a result of surgery is the duration for which the hole has been present and the size of the hole. The success rate for holes that have been present for less than six months is about 90%. However, this reduces to around 60% for a hole which has been present for a year or more. Your doctor has told you that a successful macular hole closure does not guarantee complete visual recovery and that a 2-line improvement is usually the measure of success of the surgery. You have been told that postoperative positioning also has an important role to play for closure of macular hole and that a good majority of the failures stem from incomplete and inconsistent postoperative positioning.
      <h3 style="font-size: 15px!important;">Complications</h3>
      As with any surgical procedure, there are risks associated with macular hole surgery. Not every conceivable complication can be covered in this form but the following are examples of risk encountered with macular hole surgery. These complications can occur days, weeks, months, or years later. They can result in loss of vision or blindness. Careful follow-up is required after surgery.
      <h3 style="font-size: 15px!important;">Complications of the surgery</h3>
      <ul>
        <li>Failure to accomplish closure of the hole(10-40% depending primarily on the duration and size)</li>
        <li>Retinal detachments that may require additional surgery or may be inoperable (1-2%)</li>
        <li>Vitreous hemorrhage</li>
        <li>Infection (0.02%-0.1%)</li>
        <li>Elevated eye pressure (glaucoma)</li>
        <li>Cataract, which might require eventual or immediate removal of lens</li>
        <li>Poorly healing or non-healing corneal defects</li>
        <li>Corneal clouding and scarring</li>
      </ul>
      <h3 style="font-size: 15px!important;">Complications of anesthesia injections around the eye</h3>
      <ul>
        <li>Perforation of eyeball</li>
        <li>Needle damage to the optic nerve, which could destroy vision</li>
        <li>Retrobulbar hemorrhage</li>
        <li>Possible drooping of eyelid</li>
        <li>Systemic effects that have the potential for life-threatening complications and death</li>
      </ul>

      <h3 style="font-size: 15px!important;"> Patient Consent</h3>
      In spite of the risks noted above, I understand that there is more risk to my vision if I do not have the operation than if I do. I have read and understand the consent form, I have had my questions answered, and I authorize my surgeon to proceed with the operation on my
      .................................. (indicate “right” or “left” eye).

      <br>
      Signature / Thumb Impression of Patient/ Parent / Guardian: ...............................................................................................................................<br> Name: ........................................................ Relationship    ............................ Date  .............................................<br>
      Address:   .............................................................................................................................................................................<br>
      Phone (Off) .......................................(Res).......................................(Mob).......................................


      <h3 style="font-size: 15px!important;">Declaration by Doctor</h3>
      I declare that I have explained the nature and consequences of the procedure to be performed, and discussed the risks that particularly concern the patient.
      I have given the patient an opportunity to ask questions and I have answered these.


      <br><br>Doctor's signature


      <br><br>Doctor's name


      <br><br>Date................................

      <br>
    </div>
    <div class="col-md-6">
      Witness 1<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>
    <div class="col-md-6">
      Witness 2<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>

  </div>

</div>

<br/>
<style>
    h2{
        text-align: center;
        position: relative;
        text-transform: uppercase;
        font-size: 13pt;
        color: #333333;
    }
</style>





