<div class="row mb20">
  <div class="col-md-12">
    <div class="col-md-12">
      <h2 style="font-size: 20px!important;">Osteo-odonto Keratoprosthesis (OOKP)</h2>
    </div>
    <hr>
    <div class="col-md-4">
      Name of Patient: <%=@patient.fullname.split(" ").map(&:capitalize).join(" ") %>
    </div>
    <div class="col-md-2">
      Sex/Age:   &nbsp;&nbsp;<%= @patient.gender %>/<%= @patient.age %>
    </div>
    <div class="col-md-4">
      <% patient_other_identifier =  PatientOtherIdentifier.find_by(patient_id: @patient.id.to_s)  %>
      <%if patient_other_identifier.try(:mr_no).present? %>
        MR No: <%=patient_other_identifier.mr_no%>
      <%else%>
        Patient ID: <%= PatientIdentifier.find_by(patient_id: @patient.id.to_s).try(:patient_org_id) %>
      <%end%>
    </div>
    <div class="col-md-2">
      Date: <%= Date.current.strftime("%d/%m/%y")%>
    </div>
    <div class="col-md-12">
      Son / Daughter of..............................................................................................................................................................
      <br>
      Address:
      <% unless @patient.address_1.blank? && @patient.address_2.blank? || @patient.city.blank? || @patient.state.blank? || @patient.pincode.nil? %>
          <%=  @patient.address_1 %>,
          <%=  @patient.address_2 %>,
          <%=  @patient.city %>,
          <%=  @patient.state %>,
          <%=  @patient.pincode %>
          <br>
      <%else%>
          ..............................................................................................................................................................................<br>
      <% end%>Tel:<%= @patient.mobilenumber%>
      <br/>
      I have been informed in my mother tongue that I will need a specially designed keratoprosthesis where the artificial cornea is embedded
      in a biological frame made of the canine tooth to enhance support and long-term stability of the visual aid to treat my blind eye/eyes as this
      is the last option of restoring vision in my present condition and no other surgical procedure e.g. keratoplasty will be successful as I have
      severe dry eyes also.<br>
      I understand that Keratoprosthesis will replace my opaque, white cornea and act like a telescope, so that the light rays can go in the eye and
      reach the retina (back of the eye which is the seeing machinery of the eye) and I will be able to see.<br>
      I have been fully explained that for osteo-odonto-keratoprosthesis (OOKP), one of my healthy canine tooth/teeth will be harvested for
      the surgery and a layer of the inner lining of the cheek will also be taken to cover the surface of the eye. The surgery will be done in two
      stages which will be two months apart, so it may take a long time to gain vision after the first stage of the surgery.<br>
      I have been explained the potential benefits and risks of the procedure and that there is a possibility of no visual gain after surgery. There
      may be potential complications like extrusion or necrosis of the OOKP lamina, infection in the eye and increased pressure in the eye.
      There may be need of further surgeries if tissue grows over the OOKP cylinder or a membrane forms behind the cylinder, both of which
      will need to be removed.<br>
      I certify that I have fully understood the implications of the above consent and authorize the doctors to perform OOKP surgery in my right/
      left eye

      <br>
      <br>
      Signature / Thumb Impression of Patient/ Parent / Guardian: ...............................................................................................................................<br> Name: ........................................................ Relationship    ............................ Date  .............................................<br>
      Address:   .............................................................................................................................................................................<br>
      Phone (Off) .......................................(Res).......................................(Mob).......................................


      <h3 style="font-size: 15px!important;">Declaration by Doctor</h3>
      I declare that I have explained the nature and consequences of the procedure to be performed, and discussed the risks that particularly concern the patient.
      I have given the patient an opportunity to ask questions and I have answered these.


      <br><br>Doctor's signature


      <br><br>Doctor's name


      <br><br>Date................................

      <br>
    </div>
    <div class="col-md-6">
      Witness 1<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>
    <div class="col-md-6">
      Witness 2<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>

  </div>

</div>

<br/>
<style>
    h2{
        text-align: center;
        position: relative;
        text-transform: uppercase;
        font-size: 13pt;
        color: #333333;
    }
</style>





