<div class="row mb20">
  <div class="col-md-12">
    <div class="col-md-12">
      <h2 style="font-size: 20px!important;">Orbitotomy</h2>
    </div>
    <hr>
    <div class="col-md-4">
      Name of Patient: <%=@patient.fullname.split(" ").map(&:capitalize).join(" ") %>
    </div>
    <div class="col-md-2">
      Sex/Age:   &nbsp;&nbsp;<%= @patient.gender %>/<%= @patient.age %>
    </div>
    <div class="col-md-4">
      <% patient_other_identifier =  PatientOtherIdentifier.find_by(patient_id: @patient.id.to_s)  %>
      <%if patient_other_identifier.try(:mr_no).present? %>
        MR No: <%=patient_other_identifier.mr_no%>
      <%else%>
        Patient ID: <%= PatientIdentifier.find_by(patient_id: @patient.id.to_s).try(:patient_org_id) %>
      <%end%>
    </div>
    <div class="col-md-2">
      Date: <%= Date.current.strftime("%d/%m/%y")%>
    </div>
    <div class="col-md-12">
      Son / Daughter of..............................................................................................................................................................
      <br>
      Address:
      <% unless @patient.address_1.blank? && @patient.address_2.blank? || @patient.city.blank? || @patient.state.blank? || @patient.pincode.nil? %>
          <%=  @patient.address_1 %>,
          <%=  @patient.address_2 %>,
          <%=  @patient.city %>,
          <%=  @patient.state %>,
          <%=  @patient.pincode %>
          <br>
      <%else%>
          ..............................................................................................................................................................................<br>
      <% end%>Tel:<%= @patient.mobilenumber%>
      <br/>
      I have been explained in my mother tongue that a mass has grown adjacent to my left/ right eye. The growth is causing the following:<br>
      <div class="col-md-8"> Displacement and/ protrusion of the eye ball</div>
      <div class="col-md-4">Yes/No</div><br>
      <div class="col-md-8">Decrease vision (Which is due to globe distortion
      and/or compression of the optic nerve)</div> <div class="col-md-4">Yes/No</div><br>
        <div class="col-md-8">Restriction of the movements of the eyeball</div><div class="col-md-4"> Yes/No</div><br>
          <div class="col-md-8">Abnormal deviation of the eyeball</div><div class="col-md-4"> Yes/No</div><br>
            <div class="col-md-8">Drooping of the eyelid</div> <div class="col-md-4">Yes/No</div><br>
              <div class="col-md-8">Altered sensations in the area surrounding the eye (forehead/ nose/ cheek)</div><div class="col-md-4"> Yes/No</div><br>
                <div class="col-md-8">Incomplete closure of the eye</div><div class="col-md-4"> Yes/No</div><br>
      I understand that I need to undergo orbitotomy in order to remove this mass. It is a surgical procedure that involves entering and/or
      opening up the orbit that is the bony compartment within which the eye is placed. The mass that is removed will then be examined by the
      pathologist. The histopathological diagnosis will guide further treatment that may involve no further management/ local radiotherapy/
      chemotherapy.<br>
      I fully understand that it may not be possible to remove the mass completely. The vision, eyeball and eyelid movements, deviation of the
      eyeball and the sensations around the eye may not recover completely and may even deteriorate due to surgical manipulation.
      The surgery has a risk of post operative bleeding and infection in the orbit that may need further treatment in the form of medication or
      surgery. I also understand the risks of general anesthesia under which this surgery will be done.<br>
      Having clearly understood all that is stated above I hereby authorize the doctors to carry out orbitotomy on the right /left side.



      <br>
      <br>
      Signature / Thumb Impression of Patient/ Parent / Guardian: ...............................................................................................................................<br> Name: ........................................................ Relationship    ............................ Date  .............................................<br>
      Address:   .............................................................................................................................................................................<br>
      Phone (Off) .......................................(Res).......................................(Mob).......................................


      <h3 style="font-size: 15px!important;">Declaration by Doctor</h3>
      I declare that I have explained the nature and consequences of the procedure to be performed, and discussed the risks that particularly concern the patient.
      I have given the patient an opportunity to ask questions and I have answered these.


      <br><br>Doctor's signature


      <br><br>Doctor's name


      <br><br>Date................................

      <br>
    </div>
    <div class="col-md-6">
      Witness 1<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>
    <div class="col-md-6">
      Witness 2<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>

  </div>

</div>

<br/>
<style>
    h2{
        text-align: center;
        position: relative;
        text-transform: uppercase;
        font-size: 13pt;
        color: #333333;
    }
</style>





