<div class="row mb20">
  <div class="col-md-12">
    <div class="col-md-12">
      <h2 style="font-size: 20px!important;">Photodynamic Therapy (PDT)</h2>
    </div>
    <hr>
    <div class="col-md-4">
      Name of Patient: <%=@patient.fullname.split(" ").map(&:capitalize).join(" ") %>
    </div>
    <div class="col-md-2">
      Sex/Age:   &nbsp;&nbsp;<%= @patient.gender %>/<%= @patient.age %>
    </div>
    <div class="col-md-4">
      <% patient_other_identifier =  PatientOtherIdentifier.find_by(patient_id: @patient.id.to_s)  %>
      <%if patient_other_identifier.try(:mr_no).present? %>
        MR No: <%=patient_other_identifier.mr_no%>
      <%else%>
        Patient ID: <%= PatientIdentifier.find_by(patient_id: @patient.id.to_s).try(:patient_org_id) %>
      <%end%>
    </div>
    <div class="col-md-2">
      Date: <%= Date.current.strftime("%d/%m/%y")%>
    </div>
    <div class="col-md-12">
      Son / Daughter of..............................................................................................................................................................
      <br>
      Address:
      <% unless @patient.address_1.blank? && @patient.address_2.blank? || @patient.city.blank? || @patient.state.blank? || @patient.pincode.nil? %>
          <%=  @patient.address_1 %>,
          <%=  @patient.address_2 %>,
          <%=  @patient.city %>,
          <%=  @patient.state %>,
          <%=  @patient.pincode %>
          <br>
      <%else%>
          ..............................................................................................................................................................................<br>
      <% end%>Tel:<%= @patient.mobilenumber%>
      <br/>
      I hereby authorize Dr................................................................. to perform upon me Photodynamic Therapy (PDT) in Right/Left eye for neovascular
      changes in the Macula (which is the vital region of the retina for clear central vision) caused by Age Related Macular Degeneration /
      Pathologic Mypia/other causes..........................................................................................................................<br>
      Photodynamic Therapy (PDT) is a type of laser therapy designed for the treatment of subretinal new-vessel formation especially when
      these new vessels involve the subfoveal region. These new vessels most commonly develop in i) Aging Macular Degeneration ii) Myopia,
      iii) Post inflammatory and iv) Idiopathic causes. When the fovea (the vital region of the retina for fine central reading and colour vision)
      is not involved, these vessels can be destroyed by laser photocoagulation. However there is also simultaneous destruction of the retinal
      cells overlying these abnormal new vessels. This loss of function of retinal cells is usually acceptable in other areas but not at the fovea.
      Hence the search for alternative therapies which can destroy these abnormal vessels without destroying the overlying foveal retinal cells.
      The various alternatives tried for this are:<br>
      1) Surgery 2) Photodynamic Therapy (PDT) 3) TTT 4) Radiation 5) Anti-angiogenic factors.<br>
      <li> Surgery : Results especially in Aging Macular Degeneration have been poor because in removing the membrane retinal pigment
      epithelial cells are also lost and vision usually does not improve. There is also a risk of significant vision loss if complications occur.
      <li> Photodynamic Therapy : Verteporfin “Visudyne” dye is injected into a vein in the arm and after that a contact lens is placed on the
      eye and laser treatment is applied to the area of neovascularization. After the treatment the entire body has to be protected from
      sunlight and strong light. For a few hours after treatment you will have blurred vision because of drops and the laser light exposure.
      Treatment results have been encouraging.<br>
      Most patients have stabilization of vision. A very small number may have actual improvement in vision. Some patients may experience
      reduction in central vision after the treatment. PDT treatment may need to be repeated depending on the progress seen on follow up
      examinations and fluorescein/indocyanine green angiograms/OCT results.</li>
      <li> Radiation - Results have not been encouraging.</li>
      <li> Anti-angiogenic factors :- Definitive results are not available so far.</li>
      <li> Trans Pupillary Thermo Therapy:- Large spot of diode laser 810 nm with relatively low energy is applied to the area of new-vessels.</li>
      This therapy has shown encouraging results in some cases, especially occult new-vessels.
      You do not have to agree to have this therapy and, if you wish, we will continue to monitor your progress even if you choose not to try
      Photodynamic Therapy (PDT).
      <h3 style="font-size: 15px!important;">Post-Treatment Regime</h3>
      After treatment you should not bend down and lift weights, and you should sleep with head up with 2 pillows. You must not be exposed
      to sunlight and very bright light as mentioned earlier.<br>
      After treatment, periodic re-examination is necessary to monitor the response to treatment and detect any changes in the status of the
      retinopathy, especially any change that would require additional treatment. I understand that it is the patient’s responsibility to maintain
      follow up appointments necessary after laser treatment. I acknowledge that the nature and the purpose of
      this procedure, the risks involved, alternatives and the possible complications have been explained to me and that all my questions, if any,
      have been answered to my satisfaction. I am aware that the practice of medicine and surgery is not an exact science, and I acknowledge
      that no guarantee can be made as to the results that may be obtained. All this has been explained to me in the language I understand.<br>
      I have read, or had read to me, the above information, and I consent to treatment, recognizing the potential risks that are involved.


      <br>
      <br>
      Signature / Thumb Impression of Patient/ Parent / Guardian: ...............................................................................................................................<br> Name: ........................................................ Relationship    ............................ Date  .............................................<br>
      Address:   .............................................................................................................................................................................<br>
      Phone (Off) .......................................(Res).......................................(Mob).......................................


      <h3 style="font-size: 15px!important;">Declaration by Doctor</h3>
      I declare that I have explained the nature and consequences of the procedure to be performed, and discussed the risks that particularly concern the patient.
      I have given the patient an opportunity to ask questions and I have answered these.


      <br><br>Doctor's signature


      <br><br>Doctor's name


      <br><br>Date................................

      <br>
    </div>
    <div class="col-md-6">
      Witness 1<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>
    <div class="col-md-6">
      Witness 2<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>

  </div>

</div>

<br/>
<style>
    h2{
        text-align: center;
        position: relative;
        text-transform: uppercase;
        font-size: 13pt;
        color: #333333;
    }
</style>





