<div class="row mb20">
  <div class="col-md-12">
    <div class="col-md-12">
      <h2 style="font-size: 20px!important;">Pediatric Cataract</h2>
    </div>
    <hr>
    <div class="col-md-4">
      Name of Patient: <%=@patient.fullname.split(" ").map(&:capitalize).join(" ") %>
    </div>
    <div class="col-md-2">
      Sex/Age:   &nbsp;&nbsp;<%= @patient.gender %>/<%= @patient.age %>
    </div>
    <div class="col-md-4">
      <% patient_other_identifier =  PatientOtherIdentifier.find_by(patient_id: @patient.id.to_s)  %>
      <%if patient_other_identifier.try(:mr_no).present? %>
        MR No: <%=patient_other_identifier.mr_no%>
      <%else%>
        Patient ID: <%= PatientIdentifier.find_by(patient_id: @patient.id.to_s).try(:patient_org_id) %>
      <%end%>
    </div>
    <div class="col-md-2">
      Date: <%= Date.current.strftime("%d/%m/%y")%>
    </div>
    <div class="col-md-12">
      Son / Daughter of..............................................................................................................................................................
      <br>
      Address:
      <% unless @patient.address_1.blank? && @patient.address_2.blank? || @patient.city.blank? || @patient.state.blank? || @patient.pincode.nil? %>
          <%=  @patient.address_1 %>,
          <%=  @patient.address_2 %>,
          <%=  @patient.city %>,
          <%=  @patient.state %>,
          <%=  @patient.pincode %>
          <br>
      <%else%>
          ..............................................................................................................................................................................<br>
      <% end%>Tel:<%= @patient.mobilenumber%>
      <br/>
      Pediatric cataract may affect one or both eyes of children in any age group. Some children have cataract at birth where as some can get it during their developing years. The need for surgery is undertaken on the discretion of the ophthalmologist after a thorough assessment of child’s visual behaviour. If the cataract is visually significant, then early surgery is the best option for improving visual outcome and giving the child binocular vision. The surgery is performed under general anesthesia and whether or not the intra ocular lens is placed at the time of primary surgery, depends on the age of the child and the laterality of cataract whether unilateral or bilateral. If both the eyes need to be operated, then two separate requirements for anesthesia are needed and the time for second eye is decided by the ophthalmologist after seeing the response of the first eye. It is very critical that clear ocular media is ensured so that the child can develop full visual potential.
      <h3 style="font-size: 15px!important;">Post operative care</h3>
      The eye may be red, swollen and painful following the procedure for which pain relieving oral medications and some eyedrops are given to bring about relief. The medications may need to be used for a prolonged period after the procedure to ensure maximal efficacy of the procedure. It is very important for the child's parents/legal guardians to understand that their role in the optimal visual outcome is as param ount as the ophthalmic physician.They need to ensure regular folowup of the child,to make note of abnormal visual behaviour, the need for regular examinations under anesthesia due to the changing refractive errors as the pediatric eye grows over time. Sometimes children may have other associated ocular and systemic abnormalities accompanying their cataract which might need additional surgical interventions/ systemic pediatric evaluation.
      <h3 style="font-size: 15px!important;">Post operative course & complications</h3>
      <ul>
        <li>After cataract and membrane formation: The incidence has decreased in recent years with the availability of modern techniques of surgery but can still occur especially in small children under the age of one year.</li>
        <li>Changing refractive errors and the frequent need of glasses: Periodic assessment of child’s refractive status is a must for which repeated examinations under anesthesia are needed to ensure proper refraction. It is also important for the parents/ legal guardians to realize that they ensure that the proper refractive correction in the form of glasses/ contact lenses is worn by the child during waking hours.</li>
        <li>Amblyopia (lazy eye) treatment: This is the single most important factor in the success of unilateral cataract cases. The parents/ legal guardians need to ensure that the child is on proper occlusion therapy, the frequency of which is decided by the treating ophthalmologist.</li>
        <li>Glaucoma: This is the single most important cause of late onset visual loss after successful pediatric cataract surgery. The rate of this complication varies widely. To ensure safety, it is very important for the parents’/ legal guardians to ensure that periodic Intra ocular pressure of the child’s eye is monitored so that early detection is possible and remedial measures can be undertaken.</li>
        <li>Retinal detachment/ endophthalmitis: These are rare complications.</li>
        <li>Strabismus (squint) and nystagmus: These may sometimes be present at the time of presentation. Both of these require separate surgical intervention usually at a later date.</li>
      </ul>
      It is very important for you to realize that meticulous regular life long follow up is very important on your part so that the treating physician is able to assess your child’s visual function and early detection of any complication as listed above is possible.<br>
      I have been made aware of the above mentioned facts and I have been counseled about the potential benefits and possible side effects of the procedure and by thoroughly going through all of the above, I give my full informed consent for the above procedure on my child.
      <br>
      Signature / Thumb Impression of Patient/ Parent / Guardian: ...............................................................................................................................<br> Name: ........................................................ Relationship    ............................ Date  .............................................<br>
      Address:   .............................................................................................................................................................................<br>
      Phone (Off) .......................................(Res).......................................(Mob).......................................


      <h3 style="font-size: 15px!important;">Declaration by Doctor</h3>
      I declare that I have explained the nature and consequences of the procedure to be performed, and discussed the risks that particularly concern the patient.
      I have given the patient an opportunity to ask questions and I have answered these.


      <br><br>Doctor's signature


      <br><br>Doctor's name


      <br><br>Date................................

      <br>
    </div>
    <div class="col-md-6">
      Witness 1<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>
    <div class="col-md-6">
      Witness 2<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>

  </div>

</div>

<br/>
<style>
    h2{
        text-align: center;
        position: relative;
        text-transform: uppercase;
        font-size: 13pt;
        color: #333333;
    }
</style>



