<div class="row mb20">
  <div class="col-md-12">
    <div class="col-md-12">
      <h2 style="font-size: 20px!important;">Phakic IOL</h2>
    </div>
    <hr>
    <div class="col-md-4">
      Name of Patient: <%=@patient.fullname.split(" ").map(&:capitalize).join(" ") %>
    </div>
    <div class="col-md-2">
      Sex/Age:   &nbsp;&nbsp;<%= @patient.gender %>/<%= @patient.age %>
    </div>
    <div class="col-md-4">
      <% patient_other_identifier =  PatientOtherIdentifier.find_by(patient_id: @patient.id.to_s)  %>
      <%if patient_other_identifier.try(:mr_no).present? %>
        MR No: <%=patient_other_identifier.mr_no%>
      <%else%>
        Patient ID: <%= PatientIdentifier.find_by(patient_id: @patient.id.to_s).try(:patient_org_id) %>
      <%end%>
    </div>
    <div class="col-md-2">
      Date: <%= Date.current.strftime("%d/%m/%y")%>
    </div>
    <div class="col-md-12">
      Son / Daughter of..............................................................................................................................................................
      <br>
      Address:
      <% unless @patient.address_1.blank? && @patient.address_2.blank? || @patient.city.blank? || @patient.state.blank? || @patient.pincode.nil? %>
          <%=  @patient.address_1 %>,
          <%=  @patient.address_2 %>,
          <%=  @patient.city %>,
          <%=  @patient.state %>,
          <%=  @patient.pincode %>
          <br>
      <%else%>
          ..............................................................................................................................................................................<br>
      <% end%>Tel:<%= @patient.mobilenumber%>
      <br/>
      <h3 style="font-size: 15px!important;">Nature Of The Phakic Iol Procedure</h3>
      Surgical implantation of a phakic intraocular lens is one of a number of alternatives for correcting nearsightedness. In phakic implant surgery, an artificial lens (such as the ICL or Verisyse phakic intraocular lens) is surgically placed inside your eye. The lens is made from material similar to the type used for intraocular lenses currently being implanted in the eye to correct vision after cataract surgery. The difference between phakic implant surgery and other intraocular lens implants is that your natural lens is not removed during phakic implant surgery. The phakic lens is inserted in addition to your natural lens. The procedure is performed under local anesthesia, peri- bulbar block.<br>
      The surgeon will make two small holes in the colored portion of your eye (the iris) to help ensure that intraocular fluid does not build up behind the phakic lens; this procedure is called an iridotomy. It will take place either at the time of surgery by using an instrument (a surgical iridotomy) or within two weeks before the placement of the phakic implant by using a laser (YAG-laser iridotomy).
      <h3 style="font-size: 15px!important;">Indications & Expected Benefits</h3>
      If you have myopia, hyperopia or astigmatism, phakic implant surgery may improve your natural vision without the use of glasses or contacts. Further they have the advantage of removability and maintaining a more natural corneal shape. Phakic IOL cannot be felt by the patient, require no maintenance, and are less visible than a contact lens to the naked eye. Patients who elect to have Phakic IOL implants are not “locked in” to the procedure forever, as are patients who undergo other refractive procedures such as LASIK or PRK.
      <h3 style="font-size: 15px!important;">Alternative Treatment</h3>
      I understand that continuous use of spectacles and / or contact lenses can provide good vision and Phakic IOL is an alternative to decrease the dependence on glasses and / or contact lenses.
      <h3 style="font-size: 15px!important;">Possible Side Effects, Risks And Complications Vision Threatening Complications:</h3>
      ANAESTHETIC COMPLICATIONS: In most cases, the surgery will be accomplished with use of an injection around the eye for anesthesia. Very rare complications from injections include damage to the eye muscles, perforation of the eye, and damage to the retina or optic nerve leading to loss of vision.<br>
      INFECTION: I understand that mild or severe infection is possible. Mild infection can usually be treated with antibiotics and usually does not lead to permanent visual loss. Severe infection, even if treated with antibiotics, could lead to permanent scarring and loss of vision.<br>
      IRIS ATROPHY: I understand that I could experience damage to the iris (the colored portion of the eye) leading to iris atrophy or develop a rise in the pressure in my eye (secondary glaucoma). I may require another iridotomy if this occurs or eye drops to control the pressure.<br>
      RETINAL DETATCHMENT: I understand that I could develop a retinal detachment, a separation of the retina from its adhesion at the back of the eye, which usually results from a tear in the retina and could lead to vision loss. Patients with moderate to high levels of nearsightedness have a higher risk of retinal detachment when compared to the general population. This risk level may be increased with implantation of the phakic IOL.<br>
      CATARACT: I understand that I may develop a cataract, or a clouding of the eye’s natural lens, which impairs normal vision, and may require removal of the lens, the phakic implant, and insertion of an artificial lens.<br>

      CORNEAL INVOLVEMENT: I understand that I may develop corneal swelling (edema) and/or ongoing loss of cells lining the inner surface of my cornea (endothelial cells). These cells play a role in keeping the cornea healthy and clear. Corneal edema and loss of endothelial cells may result in a hazy and opaque appearance of the cornea, which could reduce vision and may require a corneal transplant.<br>
      GLAUCOMA: I understand that I may develop glaucoma, which is an increase in the pressure of the eye caused by slowed fluid drainage. Glaucoma can lead to vision loss, and may require treatment with long-term medications or surgery.<br>
      I understand that other complications could threaten my vision, including, but not limited to, iritis or inflammation of the iris (immediate and persistent), uveitis, bleeding, swelling in the retina (macular edema), and other visual complications. Though rare, certain complications may result in total loss of vision or even loss of the eye. Complications may develop days, weeks, months, or even years later.
      <h3 style="font-size: 15px!important;">Non-vision-threatening Side Effects</h3>
      GLARE OR HALOS: I understand that there may be increased sensitivity to light or night glare. I also understand that at night there may be a “starbursting” or halo effect around lights. The risk of this side effect may be related to the size of my pupil, and larger pupils may put me at increased risk.<br>
      UNDER/OVER CORRECTION: I understand that an over-correction or under-correction could occur, causing me to become farsighted, remain nearsighted, or increase my astigmatism and that this could be either permanent or treatable with either glasses, contact lenses, or additional  surgery.<br>
      REPEAT SURGERY: I understand that the phakic lens may need to be repositioned, removed surgically, or exchanged for another lens implant. The lens may change position (de-centration), or I may require a different size or power of lens than that of the implanted lens. Potential complications of additional surgery include all of the complications possible from the original  surgery.<br>
      PROTECTIVE GLASSES: I understand that, after phakic implant surgery, the eye may be more fragile to trauma from impact. I understand that the treated eye, therefore, is somewhat more vulnerable to all varieties of injuries. I understand it would be advisable for me to wear protective eyewear when engaging in sports or other activities in which the possibility of a ball, projectile, elbow, fist, or other traumatizing object contacting the eye may be high.<br>
      PRESYOPIA: I understand that if I currently need reading glasses, I will still likely need reading glasses after this treatment. It is possible that dependence on reading glasses may increase or that reading glasses may be required at an earlier age if I have this surgery.<br>
      I understand that the correction that I can expect to gain from phakic implant surgery may not be perfect. I understand that it is not realistic to expect that this procedure will result in perfect vision, at all times, under all circumstances, for the rest of my life. I understand I may need glasses to refine my vision for some purposes requiring fine detailed vision after some point in my life, and that this might occur soon after surgery or years later.<br>
      I understand that, since it is impossible to state every complication that may occur as a result of any surgery, the list of complications in this form may not be complete.<br>
      I understand that because I have a phakic lens, it is important for me to be seen at all follow-up visits as felt necessary by my surgeon.<br>
      I hereby give permission to release/publish medical data and/or video/audio record/photograph the current procedure and the procedures performed in subsequent/ follow up visits for the advancement if medical knowledge.<br>
      In signing this consent form for insertion of Phakic IOL I am stating that I have read this consent form (or it has been read to me) and I fully understand the nature and the purpose of and the possible side effects, risks and complications of this procedure. Although it is impossible for the doctor to inform me of every possible complication that may occur, the doctor has answered all my questions to my satisfaction.<br>
      I give permission to perform phakic IOL insertion on my R/L/Both eye(s).
<br>
      Signature / Thumb Impression of Patient/ Parent / Guardian: ...............................................................................................................................<br> Name: ........................................................ Relationship    ............................ Date  .............................................<br>
      Address:   .............................................................................................................................................................................<br>
      Phone (Off) .......................................(Res).......................................(Mob).......................................


      <h3 style="font-size: 15px!important;">Declaration by Doctor</h3>
      I declare that I have explained the nature and consequences of the procedure to be performed, and discussed the risks that particularly concern the patient.
      I have given the patient an opportunity to ask questions and I have answered these.


      <br><br>Doctor's signature


      <br><br>Doctor's name


      <br><br>Date................................

      <br>
    </div>
    <div class="col-md-6">
      Witness 1<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>
    <div class="col-md-6">
      Witness 2<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>

  </div>

</div>

<br/>
<style>
    h2{
        text-align: center;
        position: relative;
        text-transform: uppercase;
        font-size: 13pt;
        color: #333333;
    }
</style>





