<div class="row mb20">
  <div class="col-md-12">
    <div class="col-md-12">
      <h2 style="font-size: 20px!important;">Laser Photocoagulation for Proliferative Retinopathy</h2>
    </div>
    <hr>
    <div class="col-md-4">
      Name of Patient: <%=@patient.fullname.split(" ").map(&:capitalize).join(" ") %>
    </div>
    <div class="col-md-2">
      Sex/Age:   &nbsp;&nbsp;<%= @patient.gender %>/<%= @patient.age %>
    </div>
    <div class="col-md-4">
      <% patient_other_identifier =  PatientOtherIdentifier.find_by(patient_id: @patient.id.to_s)  %>
      <%if patient_other_identifier.try(:mr_no).present? %>
        MR No: <%=patient_other_identifier.mr_no%>
      <%else%>
        Patient ID: <%= PatientIdentifier.find_by(patient_id: @patient.id).try(:patient_org_id) %>
      <%end%>
    </div>
    <div class="col-md-2">
      Date: <%= Date.current.strftime("%d/%m/%y")%>
    </div>
    <div class="col-md-12">
      Son / Daughter of..............................................................................................................................................................
      <br>
      Address:
      <% unless @patient.address_1.blank? && @patient.address_2.blank? || @patient.city.blank? || @patient.state.blank? || @patient.pincode.nil? %>
          <%=  @patient.address_1 %>,
          <%=  @patient.address_2 %>,
          <%=  @patient.city %>,
          <%=  @patient.state %>,
          <%=  @patient.pincode %>
          <br>
      <%else%>
          ..............................................................................................................................................................................<br>
      <% end%>Tel:<%= @patient.mobilenumber%>
      <br/>
      I hereby authorize Dr. ......................................................... to perform upon me Laser Photocoagulation in the Right / Left eye. The aim of this
      treatment is to decrease the risk of severe visual loss by preventing development of or promoting regression or shrinkage of abnormal
      retinal blood vessels.<br>
      I acknowledge that I understand that:
     <li> I have been diagnosed to have ............................................................</li>
      <li> This treatment is usually indicated when it is likely that bleeding inside the eye from new abnormal blood vessels can occur.
      Sometimes laser photocoagulation may be indicated to prevent the development of new blood vessels. The intent of treatment is to
      reduce likelihood of hemorrhage and/or retinal detachment that could cause severe and possible permanent loss of vision. However
      hemorrhage and/or retinal detachment can occur despite laser treatment.</li>
      <li> This treatment is not designed to improve my vision, only to stabilize it. In fact, it may make the vision somewhat worse. For
      example, the treatment may diminish my night vision and side vision to some extent. There is a 5% to 10% chance that it will
      diminish my reading vision as well.</li>
      <li> No safer alternative exists to reduce the likelihood of losing vision. If treatment is not carried out. I understand that there is an
      increased risk of permanent vision loss from bleeding and scar tissue formation inside the eye.</li>
      <li> Application of Cryo in Proliferative Vascular Retinopathy. In some cases of Diabetic Retinopathy or Eales Disease inspite of good
      photocoagulation, there can be neovascularization or recurrent Vitreous Hemorrhage. Hence, to ablate peripheral retina, Cryotherapy
      is used to avoid further problems.</li>
      <li> Laser treatment may be carried out in one or several treatment sessions depending on the severity and extent of the new vessels and
      my tolerance for the treatment. When a peribulbar or retrobulbar Injection is given for local anesthesia, there is an extremely
      small chance of ocular penetration.</li>
      <li> After treatment, periodic re-examination is necessary to monitor the response to treatment and detect any changes in the status of
      the retinopathy, especially any change that would require additional treatment. I understand that it is the patient’s responsibility to
      maintain follow up appointments necessary after laser treatment.</li>
      I acknowledge that the nature and the purpose of this procedure, the risks involved, alternatives and possible complications have been
      explained to me by my doctor and that all my questions have been answered to my satisfaction. I am aware that the practice of medicine
      and surgery is not an exact science, and I acknowledge that no guarantee can be made as to the results that may be obtained. All this has
      been explained to me in the language I understand.<br>
      I have read, or had read to me, the above information and I consent to treatment, recognizing the potential risks that are involved.



      <br>
      <br>
      Signature / Thumb Impression of Patient/ Parent / Guardian: ...............................................................................................................................<br> Name: ........................................................ Relationship    ............................ Date  .............................................<br>
      Address:   .............................................................................................................................................................................<br>
      Phone (Off) .......................................(Res).......................................(Mob).......................................


      <h3 style="font-size: 15px!important;">Declaration by Doctor</h3>
      I declare that I have explained the nature and consequences of the procedure to be performed, and discussed the risks that particularly concern the patient.
      I have given the patient an opportunity to ask questions and I have answered these.


      <br><br>Doctor's signature


      <br><br>Doctor's name


      <br><br>Date................................

      <br>
    </div>
    <div class="col-md-6">
      Witness 1<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>
    <div class="col-md-6">
      Witness 2<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>

  </div>

</div>

<br/>
<style>
    h2{
        text-align: center;
        position: relative;
        text-transform: uppercase;
        font-size: 13pt;
        color: #333333;
    }
</style>





