<div class="row mb20">
  <div class="col-md-12">
    <div class="col-md-12">
      <h2 style="font-size: 20px!important;">Contracted Socket</h2>
    </div>
    <hr>
    <div class="col-md-4">
      Name of Patient: <%=@patient.fullname.split(" ").map(&:capitalize).join(" ") %>
    </div>
    <div class="col-md-2">
      Sex/Age:   &nbsp;&nbsp;<%= @patient.gender %>/<%= @patient.age %>
    </div>
    <div class="col-md-4">
      <% patient_other_identifier =  PatientOtherIdentifier.find_by(patient_id: @patient.id.to_s)  %>
      <%if patient_other_identifier.try(:mr_no).present? %>
        MR No: <%=patient_other_identifier.mr_no%>
      <%else%>
        Patient ID: <%= PatientIdentifier.find_by(patient_id: @patient.id.to_s).try(:patient_org_id) %>
      <%end%>
    </div>
    <div class="col-md-2">
      Date: <%= Date.current.strftime("%d/%m/%y")%>
    </div>
    <div class="col-md-12">
      Son / Daughter of..............................................................................................................................................................
      <br>
      Address:
      <% unless @patient.address_1.blank? && @patient.address_2.blank? || @patient.city.blank? || @patient.state.blank? || @patient.pincode.nil? %>
          <%=  @patient.address_1 %>,
          <%=  @patient.address_2 %>,
          <%=  @patient.city %>,
          <%=  @patient.state %>,
          <%=  @patient.pincode %>
          <br>
      <%else%>
          ..............................................................................................................................................................................<br>
      <% end%>Tel:<%= @patient.mobilenumber%>
      <br/>
      I have been explained in my own language the risks and complications of surgery which is being performed to relieve my orbital socket
      contracture. These are enumerated below:
      <li> The surgery is being done to correct my contracted socket and there will be no gain in my vision.</li>
      <li> Infection and hemorrhage and gape of the surgical wound may occur.</li>
      <li> Suture erosion, infection and granuloma formation may occur.</li>
      <li> I may require a mucous membrane graft/ amniotic membrane graft or dermis fat graft. I have been explained that:
      <ul>
      <li> Graft rejection, infection, contracture or fibrosis may occur.
      <li> It has been explained to me that regular aseptic cleaning of the graft has to be done and that the donor site in case of a mucous
      membrane graft is buccal mucosa. I have also been explained the importance of regular oral hygiene.
      <li> In case of dermis fat graft, the graft site will be my gluteal region and I been fully explained the importance of donor site
      hygiene.</li>
      </ul>  </li>
      <li> I will require fornix formation sutures which will be removed after 3 weeks</li>
      <li> I will be required to wear a conformer for 2 months</li>
      <li> I will be given an artificial eye after 2 months. There is a risk of inadequate fitting of the artificial eye. There will only be minimal
      ocular movements.</li>
      <li> There is a high risk of failure of the socket reconstruction and I may require multiple surgeries.</li>



      <br>
      <br>
      Signature / Thumb Impression of Patient/ Parent / Guardian: ...............................................................................................................................<br> Name: ........................................................ Relationship    ............................ Date  .............................................<br>
      Address:   .............................................................................................................................................................................<br>
      Phone (Off) .......................................(Res).......................................(Mob).......................................


      <h3 style="font-size: 15px!important;">Declaration by Doctor</h3>
      I declare that I have explained the nature and consequences of the procedure to be performed, and discussed the risks that particularly concern the patient.
      I have given the patient an opportunity to ask questions and I have answered these.


      <br><br>Doctor's signature


      <br><br>Doctor's name


      <br><br>Date................................

      <br>
    </div>
    <div class="col-md-6">
      Witness 1<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>
    <div class="col-md-6">
      Witness 2<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>

  </div>

</div>

<br/>
<style>
    h2{
        text-align: center;
        position: relative;
        text-transform: uppercase;
        font-size: 13pt;
        color: #333333;
    }
</style>
