<div class="row mb20">
  <div class="col-md-12">
    <div class="col-md-12">
      <h2 style="font-size: 20px!important;">Squint Surgery</h2>
    </div>
    <hr>
    <div class="col-md-4">
      Name of Patient: <%=@patient.fullname.split(" ").map(&:capitalize).join(" ") %>
    </div>
    <div class="col-md-2">
      Sex/Age:   &nbsp;&nbsp;<%= @patient.gender %>/<%= @patient.age %>
    </div>
    <div class="col-md-4">
      <% patient_other_identifier =  PatientOtherIdentifier.find_by(patient_id: @patient.id.to_s)  %>
      <%if patient_other_identifier.try(:mr_no).present? %>
        MR No: <%=patient_other_identifier.mr_no%>
      <%else%>
        Patient ID: <%= PatientIdentifier.find_by(patient_id: @patient.id.to_s).try(:patient_org_id) %>
      <%end%>
    </div>
    <div class="col-md-2">
      Date: <%= Date.current.strftime("%d/%m/%y")%>
    </div>
    <div class="col-md-12">
      Son / Daughter of..............................................................................................................................................................
      <br>
      Address:
      <% unless @patient.address_1.blank? && @patient.address_2.blank? || @patient.city.blank? || @patient.state.blank? || @patient.pincode.nil? %>
          <%=  @patient.address_1 %>,
          <%=  @patient.address_2 %>,
          <%=  @patient.city %>,
          <%=  @patient.state %>,
          <%=  @patient.pincode %>
          <br>
      <%else%>
          ..............................................................................................................................................................................<br>
      <% end%>Tel:<%= @patient.mobilenumber%>
      <br/>
      <h3 style="font-size: 15px!important;">Information about Squint</h3>
      Adults & children of any age with eye deviation may benefit from eye muscle surgery to make both eyes look straight. This will help maximizing the chance of binocular fusion (3-D vision/depth perception) and normalizing the field of vision. Apart from making them look cosmetically better, squint surgery may also allow patients to see more comfortably with a relaxed head position.

      <h3 style="font-size: 15px!important;">Events during surgery</h3>
      <ul>
        <li>General anesthesia is given in children & some special squint cases.</li>
        <li>Local anesthesia in the form of injections around the eye is given in adults.</li>
        <li>During surgery, one eye or both eye muscles are either tightened or loosened & the positions of the eye muscles are changed to make eyes look straight.</li>
      </ul>
      <h3 style="font-size: 15px!important;">Risks associated with Squint surgery</h3>
      While we are unable to list every possible complication, the following are some potential risks.

      <h3 style="font-size: 15px!important;">Major risks</h3>
      <ul>
        <li><b>Due to anesthesia (both general & local)</b> – includes breathing difficulties, vomiting, sore throat, or even risk of heart attack or death. Local complications of anesthesia injections around the eye can be in the form of perforation of eyeball, destruction of optic nerve, interference with circulation of retina, drooping of eyelid, hypotension & respiratory depression.</li>
        <li><b>Need for reoperation – Over- and under-correction after surgery is common. </b>A reoperation may be necessary because a totally predictable response is not possible in every case. Need for reoperation may be high in cases where prior surgery has been performed, when the squint is complicated, in cases of a slipped or lost muscle, excessive hemorrhage, or fat exposure. Reoperation in some cases may be needed in the other (normal) eye also later to fine tune the surgical results.</li>
        <li><b>Loss of vision </b> is quite rare but can be associated with anesthesia or other causes like hemorrhage, retinal detachment (after needle perforation), infection, or change in blood supply to the eye.</li>
      </ul>
    <h3 style="font-size: 15px!important;">Minor risks</h3>
      Include inflammation of the eye (conjunctivitis), reaction to the sutures, pain, temporary double vision, temporary blurry vision, alteration of the eyelid position and scar tissue formation including implantation cysts.
      <h3 style="font-size: 15px!important;">General information</h3>
      <ul>
        <li>Discomfort of eyes, redness & swollen eyelids for the first few days after surgery is common.</li>
        <li>If child wears glasses, they will likely continue to wear glasses after the surgery.</li>
        <li>Eyes are not patched after surgery & usually there is no permanent scar.</li>
        <li>Eye drops are given 3 to 6 times a day for up to 1 month after surgery.</li>
        <li>Temporary double vision after surgery is common.</li>
        <li>Absorbable sutures are used & need not be removed after surgery.</li>
      </ul>
      Additional   comments:  .................................................................................................................................................................................................................................................................
      <br>
      I have read & understand the consent form including potential risks & benefits of the squint surgery. I have discussed with my treating eye surgeons & am satisfied with the explanation provided & I authorize them to proceed with my/child’s surgery. Occasionally a different, unsuspected condition may arise at the time of surgery requiring immediate attention, and I authorize my surgeon to do what he/she deems necessary.
      <br>
      Signature / Thumb Impression of Patient/ Parent / Guardian: ...............................................................................................................................<br> Name: ........................................................ Relationship    ............................ Date  .............................................<br>
      Address:   .............................................................................................................................................................................<br>
      Phone (Off) .......................................(Res).......................................(Mob).......................................


      <h3 style="font-size: 15px!important;">Declaration by Doctor</h3>
      I declare that I have explained the nature and consequences of the procedure to be performed, and discussed the risks that particularly concern the patient.
      I have given the patient an opportunity to ask questions and I have answered these.


      <br><br>Doctor's signature


      <br><br>Doctor's name


      <br><br>Date................................

      <br>
    </div>
    <div class="col-md-6">
      Witness 1<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>
    <div class="col-md-6">
      Witness 2<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>

  </div>

</div>

<br/>
<style>
    h2{
        text-align: center;
        position: relative;
        text-transform: uppercase;
        font-size: 13pt;
        color: #333333;
    }
</style>





