<div class="row mb20">
  <div class="col-md-12">
    <div class="col-md-12">
      <h2 style="font-size: 20px!important;">Therapeutic Keratoplasty</h2>
    </div>
    <hr>
    <div class="col-md-4">
      Name of Patient: <%=@patient.fullname.split(" ").map(&:capitalize).join(" ") %>
    </div>
    <div class="col-md-2">
      Sex/Age:   &nbsp;&nbsp;<%= @patient.gender %>/<%= @patient.age %>
    </div>
    <div class="col-md-4">
      <% patient_other_identifier =  PatientOtherIdentifier.find_by(patient_id: @patient.id.to_s)  %>
      <%if patient_other_identifier.try(:mr_no).present? %>
        MR No: <%=patient_other_identifier.mr_no%>
      <%else%>
        Patient ID: <%= PatientIdentifier.find_by(patient_id: @patient.id).try(:patient_org_id) %>
      <%end%>
    </div>
    <div class="col-md-2">
      Date: <%= Date.current.strftime("%d/%m/%y")%>
    </div>
    <div class="col-md-12">
      Son / Daughter of..............................................................................................................................................................
      <br>
      Address:
      <% unless @patient.address_1.blank? && @patient.address_2.blank? || @patient.city.blank? || @patient.state.blank? || @patient.pincode.nil? %>
          <%=  @patient.address_1 %>,
          <%=  @patient.address_2 %>,
          <%=  @patient.city %>,
          <%=  @patient.state %>,
          <%=  @patient.pincode %>
          <br>
      <%else%>
          ..............................................................................................................................................................................<br>
      <% end%>Tel:<%= @patient.mobilenumber%>
      <br/>
      Therapeutic keratoplasty is an ocular surgical procedure which is carried out in patients having infections involving the transparent outer coat of the eye ie cornea. The procedure is usually undertaken in cases with impending corneal perforation or frank perforation or sometimes in cases which are not responding to conventional medical therapy and cases with infection spreading onto deeper layers of the cornea. The procedure is usually carried out under general anesthesia but can be performed under local anesthesia as well depending upon the condition of the patient’s eye and systemic status of the patient.

      <h3 style="font-size: 15px!important;">Post operative care</h3>
      The eye may be red, swollen and painful following the procedure for which pain relieving oral medications and some eyedrops are given to bring about relief. Out patient visits are done on first day post operatively, day three, day seven and then after every two weeks. It is very important for you to realize that the primary motive of the surgical procedure is salvaging of the eye, and prevention of spread of infection into the eye which can be devastating. Attainment of useful vision is only a secondary objective of the procedure for which additional procedures including a repeat corneal replacement may be required at a later date once the infection gets controlled.
      <h3 style="font-size: 15px!important;">Post operative course and complications</h3>
      <ul>
        <li>Corneal wound healing problems including persistent epithelial defect</li>
        <li>Secondary  glaucoma</li>
        <li>Graft rejection and opacification of the donor cornea</li>
        <li>Suture related problems including loose, broken sutures, suture abscess</li>
        <li>Recurrence of original infection in the graft</li>
        <li>Endophthalmitis and shrinkage of globe- these are rare</li>
      </ul>
      It is very important for the patient to realize that you have to be on certain topical medications in the form of antibiotics, local anti inflammatory agents, lubricants etc. for a prolonged period of time to bring about an optimal graft and visual acuity outcome. Also, the importance of regular follow up as decided by the treating physician cannot be over emphasized. Needless to say that you are actively involved in the care of the graft to ensure success.<br>
      I have been made aware of the above mentioned facts and I have been counseled about the potential benefits and possible side effects of the procedure and by thoroughly going through all of the above, I give my full informed consent for the above procedure.<br>

      Signature / Thumb Impression of Patient/ Parent / Guardian: ...............................................................................................................................<br> Name: ........................................................ Relationship    ............................ Date  .............................................<br>
      Address:   .............................................................................................................................................................................<br>
      Phone (Off) .......................................(Res).......................................(Mob).......................................


      <h3 style="font-size: 15px!important;">Declaration by Doctor</h3>
      I declare that I have explained the nature and consequences of the procedure to be performed, and discussed the risks that particularly concern the patient.
      I have given the patient an opportunity to ask questions and I have answered these.


      <br><br>Doctor's signature


      <br><br>Doctor's name


      <br><br>Date................................

      <br>
    </div>
    <div class="col-md-6">
      Witness 1<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>
    <div class="col-md-6">
      Witness 2<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>

  </div>

</div>

<br/>
<style>
    h2{
        text-align: center;
        position: relative;
        text-transform: uppercase;
        font-size: 13pt;
        color: #333333;
    }
</style>





