<div class="row mb20">
  <div class="col-md-12">
    <div class="col-md-12">
      <h2 style="font-size: 20px!important;">Trabeculectomy With / Without Anti-Fibroblastic Agents</h2>
    </div>
    <hr>
    <div class="col-md-4">
      Name of Patient: <%=@patient.fullname.split(" ").map(&:capitalize).join(" ") %>
    </div>
    <div class="col-md-2">
      Sex/Age:   &nbsp;&nbsp;<%= @patient.gender %>/<%= @patient.age %>
    </div>
    <div class="col-md-4">
      <% patient_other_identifier =  PatientOtherIdentifier.find_by(patient_id: @patient.id.to_s)  %>
      <%if patient_other_identifier.try(:mr_no).present? %>
        MR No: <%=patient_other_identifier.mr_no%>
      <%else%>
        Patient ID: <%= PatientIdentifier.find_by(patient_id: @patient.id.to_s).try(:patient_org_id) %>
      <%end%>
    </div>
    <div class="col-md-2">
      Date: <%= Date.current.strftime("%d/%m/%y")%>
    </div>
    <div class="col-md-12">
      Son / Daughter of..............................................................................................................................................................
      <br>
      Address:
      <% unless @patient.address_1.blank? && @patient.address_2.blank? || @patient.city.blank? || @patient.state.blank? || @patient.pincode.nil? %>
          <%=  @patient.address_1 %>,
          <%=  @patient.address_2 %>,
          <%=  @patient.city %>,
          <%=  @patient.state %>,
          <%=  @patient.pincode %>
          <br>
      <%else%>
          ..............................................................................................................................................................................<br>
      <% end%>Tel:<%= @patient.mobilenumber%>
      <br/>
      <h3 style="font-size: 15px!important;">Indications, Benefits, and Alternatives</h3>
      I have been informed by my treating doctor that I have been diagnosed with glaucoma and if it is left untreated, it is very likely that I will experience loss of vision which could end up in blindness. Glaucoma means rise in pressure of the eye which can sometimes be treated successfully with medications, or if medications are not effective, laser and other surgical procedures may be of value in controlling the pressure and preventing further vision loss.<br>
      My doctor has informed me that an operation called trabeculectomy is necessary to help control the pressure in my eye(s) because prolonged rise of this pressure can damage my optic nerve leading to loss of vision and eventual blindness. When successful, this procedure will lower the pressure in my eye, minimizing the risk of further vision loss from glaucoma. The purpose of the operation is to control the pressure and preserve my vision; any vision lost to glaucoma cannot be restored.
      <h3 style="font-size: 15px!important;">Complications</h3>
      As with any surgical procedure, there are risks associated with glaucoma drainage surgery. For example, there is always the possibility that the surgery cannot control my eye pressure, for which medications or more procedures may be needed after surgery. Not every possible complication can be covered in this form but the following are examples of risk encountered with glaucoma drainage surgery. These complications can occur days, weeks, months, or years later. They can result in loss of vision or blindness. So frequent follow-up is mandatory after surgery.<br>
      After complete healing also, regular eye examination is necessary to monitor eye pressure and to look for other problems.
      <h3 style="font-size: 15px!important;">Complications of the surgery</h3>
      <ul>
        <li>Failure to control eye pressure, with the need for another operation (early or late)</li>
        <li>Generally vision might decrease for 2 months or so. There may be development of cataract which can reduce vision but it can be treated with cataract surgery</li>
        <li>There might be too high or too low pressure after glaucoma surgery for which other necessary treatment or operation might be needed.</li>
        <li>Bleeding in the eye</li>
        <li>Pronged redness and mild pain resulting in chronic inflammation</li>
        <li>Irritation or discomfort in the eye that may persist</li>
        <li>In spite of surgery, vision could become worse from continuing degenerative changes in the eye</li>
        <li>Infection resulting in pain, redness and decrease in vision which can occur early or much later</li>
        <li>In rare cases, there could be total loss of vision</li>
        Operation will be done under local or general anesthesia which also includes complications of anesthesia.
        <li>Perforation of eyeball</li>
        <li>Needle damage to the optic nerve, which could destroy vision</li>
        <li>Interference with circulation of the retina</li>
        <li>Possible drooping of eyelid</li>
        <li>Systemic effects that have the potential for life-threatening complications and death</li>
      </ul>
      <h3 style="font-size: 15px!important;">Patient Consent</h3>
      There may arise unwanted situation during surgery. In that situation I give my full authority to my treating doctor to take any necessary decision. In spite of the risks noted above, I understand that there is more risk to my vision if I do not have the operation than if I do. I have read and understood the consent form, and all my queries have been answered, and I authorize my surgeon to proceed with the operation on my .............................. (indicate “right” or “left” eye).

      <br>
      Signature / Thumb Impression of Patient/ Parent / Guardian: ...............................................................................................................................<br> Name: ........................................................ Relationship    ............................ Date  .............................................<br>
      Address:   .............................................................................................................................................................................<br>
      Phone (Off) .......................................(Res).......................................(Mob).......................................


      <h3 style="font-size: 15px!important;">Declaration by Doctor</h3>
      I declare that I have explained the nature and consequences of the procedure to be performed, and discussed the risks that particularly concern the patient.
      I have given the patient an opportunity to ask questions and I have answered these.


      <br><br>Doctor's signature


      <br><br>Doctor's name


      <br><br>Date................................

      <br>
    </div>
    <div class="col-md-6">
      Witness 1<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>
    <div class="col-md-6">
      Witness 2<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>

  </div>

</div>

<br/>
<style>
    h2{
        text-align: center;
        position: relative;
        text-transform: uppercase;
        font-size: 13pt;
        color: #333333;
    }
</style>





