<div class="row mb20">
  <div class="col-md-12">
    <div class="col-md-12">
      <h2 style="font-size: 20px!important;">Vitreo Retinal Surgery</h2>
    </div>
    <hr>
    <div class="col-md-4">
      Name of Patient: <%=@patient.fullname.split(" ").map(&:capitalize).join(" ") %>
    </div>
    <div class="col-md-2">
      Sex/Age:   &nbsp;&nbsp;<%= @patient.gender %>/<%= @patient.age %>
    </div>
    <div class="col-md-4">
      <% patient_other_identifier =  PatientOtherIdentifier.find_by(patient_id: @patient.id.to_s)  %>
      <%if patient_other_identifier.try(:mr_no).present? %>
        MR No: <%=patient_other_identifier.mr_no%>
      <%else%>
        Patient ID: <%= PatientIdentifier.find_by(patient_id: @patient.id).try(:patient_org_id) %>
      <%end%>
    </div>
    <div class="col-md-2">
      Date: <%= Date.current.strftime("%d/%m/%y")%>
    </div>
    <div class="col-md-12">
      Son / Daughter of..............................................................................................................................................................
      <br>
      Address:
      <% unless @patient.address_1.blank? && @patient.address_2.blank? || @patient.city.blank? || @patient.state.blank? || @patient.pincode.nil? %>
          <%=  @patient.address_1 %>,
          <%=  @patient.address_2 %>,
          <%=  @patient.city %>,
          <%=  @patient.state %>,
          <%=  @patient.pincode %>
          <br>
      <%else%>
          ..............................................................................................................................................................................<br>
      <% end%>Tel:<%= @patient.mobilenumber%>
      <br/>
      <h3 style="font-size: 15px!important;">Proposed Treatment</h3>
      The doctor has explained that I, (name of patient: <%=@patient.fullname.split(" ").map(&:capitalize).join(" ") %>),have a retinal detachment in my.................eye and that...................................................................is proposed:

      <h3 style="font-size: 15px!important;">Risks</h3>
      These are the commoner risks. There may be other unusual risks that have not been listed here. I understand there are risks associated with any anesthetic agent.
      I may have side effects from any of the drugs used. The commoner side effects include light-headedness, nausea, skin rash and constipation. I understand the procedure has the following specific risks and limitations:
      <ul>
        <li>Failure to accomplish intent of surgery.</li>
        <li>Retinal detachments that may require additional surgery or may be inoperable</li>
        <li>Depending upon the surgery, Silicone Oil or Gas may be required for tamponade.</li>
        <li> In case of Silicone Oil or Gas injection, I have to maintain position depending upon the surgery.</li>
        <li>If Gas is injected, I have to restrict air travel until gas is absorbed.</li>
        <li>If Silicone oil is injected, then resurgery will be required to remove the oil.</li>
        <li>It may take up to 18 months before the final outcome of the surgery is known. </li>
        <li>In a few cases, the underlying condition cannot be treated and blindness cannot be prevented.</li>
        <li>It may not be possible to predict before the operation which cases will do well.</li>
        <li>There is a chance I may develop further retina detachments in future in the same eye or in the opposite eye</li>
        <li> In some cases, more than one operation may be required</li>
        <li>Though rare, I may develop complications like vitreous hemorrhage, infection, elevated eye pressure (glaucoma), poorly healing or non-healing corneal defects, corneal clouding and scarring, cataract, which might require eventual or immediate removal of lens, double vision, eyelid droop, and loss of circulation to vital tissues in the eye, resulting in decrease or loss of vision</li>
      </ul>
      There is an extremely small risk (1:17000 cases) that the opposite eye to the one having surgery may become inflamed, especially if complications occur after the operation. This is called sympathetic ophthalmia .Although this can be treated, in some cases, eyesight may be lost.
      I understand some of the above risks are more likely if I smoke, am overweight, diabetic, have high blood pressure or have had previous heart disease.

      <h3 style="font-size: 15px!important;">Individual Risks</h3>
      I understand the following are possible significant risks and complications specific to my individual circumstances, that I have considered in deciding to have this operation:
      .......................................................................................................................................................................................................................................
      .......................................................................................................................................................................................................................................

      <h3 style="font-size: 15px!important;"> Declaration By Patient</h3>
      I acknowledge doctors from the ophthalmic team have informed me about the procedure, alternative treatments and answered my specific queries and concerns about this matter.
      I acknowledge that I have discussed with the surgical team any significant risks and complications specific to my individual circumstances that I have considered in deciding to have this operation.
      I agree to any other additional procedures considered necessary in the judgment of my surgeon during this operation. I have received no guarantee the operation will be successful.
      I have received a copy of this form to take home with me.
      If a needle stick/sharps injury occurs to staff during any operation I give my permission for blood to be taken and tested for HIV and other blood borne disorders.
      I understand I will be advised and counselled as soon as practicable after the operation if this has been necessary.

      <br>
      Signature / Thumb Impression of Patient/ Parent / Guardian: ...............................................................................................................................<br> Name: ........................................................ Relationship    ............................ Date  .............................................<br>
      Address:   .............................................................................................................................................................................<br>
      Phone (Off) .......................................(Res).......................................(Mob).......................................


      <h3 style="font-size: 15px!important;">Declaration by Doctor</h3>
      I declare that I have explained the nature and consequences of the procedure to be performed, and discussed the risks that particularly concern the patient.
      I have given the patient an opportunity to ask questions and I have answered these.


      <br><br>Doctor's signature


      <br><br>Doctor's name


      <br><br>Date................................

      <br>
    </div>
    <div class="col-md-6">
      Witness 1<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>
    <div class="col-md-6">
      Witness 2<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>

  </div>

</div>

<br/>

<style>
    h2{
        text-align: center;
        position: relative;
        text-transform: uppercase;
        font-size: 13pt;
        color: #333333;
    }
</style>


