<div class="modal-body">
  <%= f.hidden_field :organisation_id %>
  <div class="col-12">
    <div class="row mb20">
      <div class="col-md-2 col-sm-2 col-xs-2"><strong>Country: </strong></div>
      <div class="col-md-4">
        <%= f.select :country_id, options_for_select(@countries.collect {|p| [ p.name + " ("+p.abbreviation1+") ", p.id ] }, @region_master.country_id), {include_blank: "Select Country"}, {class: 'form-control country'} %>
      </div>
    </div>
    <div class="row mb20">
      <div class="col-md-2 col-sm-2 col-xs-2"><strong>Name: </strong></div>
      <div class="col-md-4">
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="col-md-2"><strong>Abbreviation: </strong></div>
      <div class="col-md-4">
        <%= f.text_field :abbreviation, class: "form-control", minlength: 2, maxlength: 5 %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#region_master_country_id").select2();
  
  function save_region_master() {
    $('#manage_region_master').validate({
      rules: {
        "region_master[name]": {
          required: true,
          remote: "/region_masters/validate_region_master?organisation_id=<%= @region_master.organisation_id %>&existing_name=<%=raw @region_master.name %>"
        },
        "region_master[abbreviation]": {
          required: true,
          remote: "/region_masters/validate_region_master?organisation_id=<%= @region_master.organisation_id %>&existing_abbreviation=<%=raw @region_master.abbreviation %>"
        }
      },
      messages: {
        "region_master[name]": {
          required: "Name Required",
          remote: "Already Taken"
        },
        "region_master[abbreviation]": {
          required: "Abbreviation Required",
          remote: "Already Taken"
        }
      },
      errorPlacement: function (error, element) {
        error.insertAfter(element);
      }
    });
  }
</script>