<div class="modal-dialog modal-lg" style="width: 90%">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-center">Review the item</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="review_field">
                        <%= form_for @inventory_item, :url => inventory_items_path, remote: true do |f|%>
                            <table class="table-inventory table-add-item">
                            <tr>
                                <td width="50%">
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">Brand</label>
                                    <div class="col-sm-7">
                                    <%= f.text_field :brand,{:class=> "form-control review_field", :placeholder=>"", value: @inventory_params[:brand]} %>
                                    </div>
                                </div>
                                </td>
                                <td>
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">Description</label>
                                    <div class="col-sm-7">
                                    <%= f.text_field :description,{:class=> "form-control review_field", :placeholder=>"", value: @inventory_params[:description]} %>
                                    </div>
                                </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">Model No.</label>
                                    <div class="col-sm-7">
                                    <%= f.text_field :model_no,{:class=> "form-control review_field", :placeholder=>"", value: @inventory_params[:model_no]} %>
                                    </div>
                                </div>
                                </td>
                                <td>
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">Serial Number</label>
                                    <div class="col-sm-7">
                                    <%= f.text_field :reference_no,{:class=> "form-control review_field", :placeholder=>"", value: @inventory_params[:reference_no]} %>
                                    </div>
                                </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">Frame Type</label>
                                    <div class="col-sm-7">
                                    <%= f.text_field :frame_type, id: "frame_type_item", class: "form-control review_field", value: @inventory_params[:frame_type] %>
                                    <%= f.select :frame_type, [['Rimless','Rimless'],['Full Rim','Full Rim'],['Semi-Rimless','Semi-Rimless'],['Half-Eye','Half-Eye'],['Shell','Shell'],['Kids Shell','Kids Shell'],['Supra','Supra'],['Others','Others']],{ :class=> "form-control resize-select" } %>
                                    </div>
                                </div>
                                </td>
                                <td>
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">Frame Material</label>
                                    <div class="col-sm-7">
                                    <%= f.text_field :frame_material, id: "frame_material_item", class: "form-control review_field", value: @inventory_params[:frame_material] %>
                                    <%= f.select :frame_material, [['Monel Metal','Monel Metal'],['Stainless Steel','Stainless Steel'],['Plastic','Plastic'],['Carbon Fibre','Carbon Fibre'],['Others','Others']] ,{ :class=> "form-control resize-select" } %>
                                    </div>
                                </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">Frame Color</label>
                                    <div class="col-sm-7">
                                    <%= f.text_field :color,{:class=> "form-control review_field", :placeholder=>"", value: @inventory_params[:color]} %>
                                    </div>
                                </div>
                                </td>
                                <td>
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">Gender</label>
                                    <div class="col-sm-7">
                                    <%= f.text_field :gender, id: "item_for_gender", class: "form-control review_field", value: @inventory_params[:gender] %>
                                    <%= f.select :gender, [['Men','men'],['Women','women'],['Unisex','unisex'],['Children','children'],['Boys','boys'],['Girls','girls']],{ :class=> "form-control resize-select" } %>
                                    </div>
                                </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">Manufacturer</label>
                                    <div class="col-sm-7">
                                    <%= f.text_field :manufacturer,{:class=> "form-control review_field", :placeholder=>"", value: @inventory_params[:manufacturer]} %>
                                    </div>
                                </div>
                                </td>
                                <td>
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">Distributor (Supplier)</label>
                                    <div class="col-sm-7">
                                    <%= text_field_tag :vendor ,"",class: 'form-control review_field',placeholder: "" , value: @vendor%>
                                    </div>
                                </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">Barcode</label>
                                    <div class="col-sm-7">
                                    <%= f.text_field :barcode,{:class=> "form-control review_field", :placeholder=>"", value: @inventory_params[:barcode]} %>
                                    </div>
                                </div>
                                </td>
                                <td>
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">Stock <i class="fa fa-info-circle hg-tooltip" title="Total No." style="cursor:help;"></i></label>
                                    <div class="col-sm-7">
                                    <%= text_field_tag :stock ,"",class: 'form-control review_field',placeholder: "" , value: @stock%>
                                    </div>
                                </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">Price Range</label>
                                    <div class="col-sm-7 unedit_field">
                                        <%= f.text_field :pricing_index, id: "price_index_item", class:"form-control review_field", value: @inventory_params[:pricing_index]%>
                                    </div>
                                    <div class="col-sm-7 edit_field">
                                        <div class="col-md-3" style="padding: 0px;">
                                            <div class="rdio rdio-primary rdio-changes">
                                            <%= f.radio_button :pricing_index, "Low", { :class => 'radio-inline', id: "item_pricing_index1"} %>
                                            <label style="padding-left:5px;" for="item_pricing_index1"> Low</label>
                                            </div>
                                        </div>
                                        <div class="col-md-5" style="padding: 0px;">
                                            <div class="rdio rdio-primary rdio-changes">
                                            <%= f.radio_button :pricing_index, "Medium", {:class => 'radio-inline', id: "item_pricing_index2"} %>
                                            <label style="padding-left:5px;" for="item_pricing_index2"> Medium</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="padding: 0px;">
                                            <div class="rdio rdio-primary rdio-changes">
                                            <%= f.radio_button :pricing_index, "High", {:class => 'radio-inline', id: "item_pricing_index3"} %>
                                            <label style="padding-left:5px;" for="item_pricing_index3"> High</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">Purchase Price</label>
                                    <div class="col-sm-7">
                                    <div class="input-group">
                                        <span class="input-group-addon">&#x20B9</span>
                                        <%= text_field_tag :price ,"",id: 'price_pack',class: 'form-control review_field',placeholder: "", value: @price %>
                                    </div>
                                    </div>
                                </div>
                                </td>
                                <td>
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">MRP</label>
                                    <div class="col-sm-7">
                                    <div class="input-group">
                                        <span class="input-group-addon">&#x20B9</span>
                                        <%= text_field_tag :mrp ,"",id: 'mrp_pack',class: 'form-control review_field',placeholder: "", value: @mrp %>
                                    </div>
                                    </div>
                                </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">Selling Price</label>
                                    <div class="col-sm-7">
                                    <div class="input-group">
                                        <span class="input-group-addon">&#x20B9</span>
                                        <%= text_field_tag :list_price ,"",id: 'list_price_pack',class: 'form-control review_field',placeholder: "", value: @list_price %>
                                    </div>
                                    </div>
                                </div>
                                </td>
                                <td>
                                <div class="form-group">
                                    <label for="" class="col-sm-4 control-label">Mark up <i class="fa fa-info-circle hg-tooltip" title="Total Profit Margin(in %)" style="cursor:help;"></i></label>
                                    <div class="col-sm-7">
                                    <div class="input-group">
                                        <%= text_field_tag :mark_up ,"",class: 'form-control review_field',placeholder: "", value: @mark_up %>
                                        <span class="input-group-addon">%</span>
                                    </div>
                                    </div>
                                </div>
                                </td>
                            </tr>
                            </table>
                            <%= f.hidden_field :checkoutable,{:value=>"true",:class=> "form-control review_field", :placeholder=>""} %>
                            <%= f.hidden_field :category,{:value=>"optical",:class=> "form-control review_field", :placeholder=>""} %>
                            <%= hidden_field_tag "inventory_item_optical_frame[item_type]", "frame", :class=> "form-control review_field", :placeholder=>"" %>
                            <%= f.submit "Save", class: "btn btn-success", remote: true,'data-disable-with' =>"Please Wait...", :onclick => 'addFrame_page()' %>
                        <% end %>
                        <button class="btn btn edit_item">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
  input.error, select.error {
    border-color: #b94a48;
    background-image: none;
  }
  input.valid, select.valid {
    border-color: #468847;
    background-image: none;
  }
  #inventory_item_optical_frame_frame_type{
    display: inline-block;
        height: 40px;
    width: 100%;
    background: none;
    margin-top: 10px;
  }
  #inventory_item_optical_frame_frame_material{
    display: inline-block;
        height: 40px;
    width: 100%;
    background: none;  
     margin-top: 10px;
  }
  #inventory_item_optical_frame_gender{
    display: inline-block;
        height: 40px;
    width: 100%;
    background: none; 
     margin-top: 10px;
  }
  .edit_item{
       margin-left: 122px;
    margin-top: -55px;
    border: 1px solid #FF7E7E;
    background: #FF7E7E;
    color: #fff;
  }
</style>
<script type="text/javascript">
  // Tooltip
  $(".hg-tooltip").tipsy();

  function addFrame_page() {
    $("#new_inventory_item").validate({
      rules: {
        "inventory_item[description]": {
          required: true,
        },
//        "inventory_item[barcode]": {
//          required: true,
//        },
        "stock": {
          required: true,
          number: true
        },
        "inventory_item[manufacturer]": {
          required: true,
        },
        "price": {
          required: true,
          number: true
        },
        "mrp": {
          required: true,
          number: true
        },
        "list_price": {
          required: true,
          number: true
        },
        "expiry": {
          required: true,
          dateISO: true
        },

      },
      messages: {
        "inventory_item[description]": {
          required: "Please enter Description."
        },

      },
      errorPlacement: function (error, element) {
        var id = $(element).attr("id");
        var parent = $("#"+id).parents(".input-group").length
        if(parent == 0){
          error.insertAfter(element);
        } else {
          error.insertAfter($("#"+id).parents(".input-group"));
        }
      }
    });
  }
  addFrame_page()

</script>
<script>
    $('.review_field').attr('readonly', true);
    $("#inventory_item_optical_frame_frame_material").hide();
    $("#inventory_item_optical_frame_gender").hide();
    $("#inventory_item_optical_frame_frame_type").hide();    
    //$("#threshold_edit").hide();
    $(".edit_field").hide();
    $(".edit_item").on('click', function(){
        $('.review_field').removeAttr('readonly');
        //$(".dispensing_unit_unedit").hide();
        $(".edit_field").show();
        $(".unedit_field").hide();
        $("#inventory_item_optical_frame_frame_material").show();
        $("#inventory_item_optical_frame_gender").show();
        $("#inventory_item_optical_frame_frame_type").show(); 
    })
</script>