<div id="aspect-content">

  <% @patient_diagnosis[icd].each do |i| %>
    <div class="aspect-tab">
      <% rand_str = rand(36**5).to_s(36) %>
      <input id="<%= i.id.to_s + rand_str %>" type="checkbox" class="aspect-input" name="aspect">
      <label for="<%= i.id.to_s + rand_str %>" class="aspect-label"></label>
      <div class="aspect-content">
        <div class="aspect-info">
          <span class="aspect-name"><%= i.patient_name.capitalize%></span>
        </div>
        <div class="aspect-stat">
          <div class="all-opinions">
            <span class="font13"><%= i.patient_mrn.present? ? i.patient_mrn : i.patient_identifier_id %></span>
          </div>
          <div>
            <span class="font12"><%if i.calculate_patient_age.present? || i.patient_gender.present?%>(<%= i.calculate_patient_age %>/<%= i.patient_gender.to_s.slice(0) %>)<% else %> <% end %></span>
          </div>
        </div>
      </div>
      <div class="aspect-tab-content">
        <div class="sentiment-wrapper">
          <div class="opd_data">
            <div>
              <div class="positive-count opinion-header for_opd_icon">
                <span><strong>OPD Data</strong></span>
                <span><%= i.opd_data.count %></span>
              </div>
              <% if i.opd_data.present? && i.opd_data.count > 0 %>
              <div>
                <% i.opd_data.each do |opd_rec| %>
                <p><strong>Diagnosis Name:</strong> <%= opd_rec["originalname"] %></p>
                <p><strong>Advised By:</strong> <%= opd_rec["advised_by"].to_s.try(:capitalize) %> <strong>Entered By:</strong> <%= opd_rec["entered_by"].to_s.try(:capitalize) %> <strong>at Facility:</strong> <%= opd_rec["entered_at_facility"].to_s.try(:capitalize) %> <strong>On </strong> <%= opd_rec["entered_datetime"].strftime("%d/%m/%Y") if  opd_rec["entered_datetime"].present? %></p>
                <%  end %>
              </div>
              <% end %>
            </div>
          </div>
          <div class="ipd_data">
            <div>
              <div class="neutral-count opinion-header for_ipd_icon">
                <span><strong>IPD Data</strong></span>
                <span><%= i.ipd_data.count %></span>
              </div>
             <% if i.ipd_data.present? && i.ipd_data.count > 0 %>
              <div>
                 <% i.ipd_data.each do |ipd_rec| %>
                  <p><strong>Diagnosis Name:</strong> <%= ipd_rec["originalname"] %></p>
                  <p><strong>Advised By:</strong> <%= ipd_rec["advised_by"].to_s.try(:capitalize) %> <strong>Entered By:</strong> <%= ipd_rec["entered_by"].to_s.try(:capitalize) %> <strong>at Facility:</strong> <%= ipd_rec["entered_at_facility"].to_s.try(:capitalize) %> <strong>On </strong> <%= ipd_rec["entered_datetime"].strftime("%d/%m/%Y") if  ipd_rec["entered_datetime"].present? %></p>  
                <%  end %>
              </div>
              <% end %>
            </div>
          </div>
          <div class="systemic_history">
            <div>
              <div class="negative-count opinion-header for_icon_systemic_header">
                <span><strong>Systemic History</strong></span>
                <span><%= i.try(:systemic_history_name).try(:compact).present? ? i.try(:systemic_history_name).try(:compact).count : 0 %></span>
              </div>
              <% if i.try(:systemic_history_name).present? && i.try(:systemic_history_name).try(:compact).count > 0 %>
                <div>
                  <span><%= i.try(:systemic_history_name).try(:compact).reject(&:nil?).map(&:humanize).map(&:titleize).join(", ") unless i.try(:systemic_history_name).try(:compact).nil? %></span>
                </div>
              <% end %>

            </div>
          </div>
          <div class="eye_drop_allergies">
            <div>
              <div class="negative-count opinion-header eye_drop_allergies">
                <span><strong>Eye Drop Allergies</strong></span>
                <span><%= i.try(:eye_drop_allergy_name).try(:compact).present? ? i.try(:eye_drop_allergy_name).try(:compact).count : 0 %></span>
              </div>
              <% if i.try(:eye_drop_allergy_name).present? && i.try(:eye_drop_allergy_name).try(:compact).count > 0 %>
                <div>
                  <span><%= i.try(:eye_drop_allergy_name).try(:compact).reject(&:nil?).map(&:humanize).map(&:titleize).join(", ") unless i.try(:eye_drop_allergy_name).try(:compact).nil? %></span>
                </div>
              <% end %>

            </div>
          </div>

        </div>
      </div>
    </div>
  <% end %>
</div>