<%= render partial: 'common_css.html.erb' %>
<!--<script src="/assets/jquery.tagsinput.min.js"></script>-->
<!--<link rel="stylesheet" href="/assets/jquery.tagsinput.css" />-->

<style>
  .row{
    margin-left: -6px !important;
    margin-right: -6px !important;
  }
  /* Some Sass variables */
  body {
    margin: 0;
    font-family: "Roboto";
    font-size: 14px;
    line-height: 1.3em;
  }

  /*.ui {*/
  /*height: 100vh;*/
  /*display: grid;*/
  /*grid-template-rows: 40px 50px 1fr;*/
  /*background-color: #0079bf;*/
  /*color: #eee;*/
  /*}*/

  /*.navbar {*/
  /*padding-left: 10px;*/
  /*display: flex;*/
  /*align-items: center;*/
  /*}*/
  /*.navbar.app {*/
  /*background-color: #0067a3;*/
  /*font-size: 1.5rem;*/
  /*}*/
  /*.navbar.board {*/
  /*font-size: 1.1rem;*/
  /*}*/

  .lists {
    display: flex;
    overflow-x: auto;
  }
  .lists > * {
    flex: 0 0 auto;
    /*margin-left: 10px;*/
  }
  .lists::after {
    content: "";
    flex: 0 0 10px;
  }

  .list {
    height: calc(100% - 10px - 30px);
    margin-top: 10px;
    padding: 10px;
  }
  .list > * {
    background-color: #e2e4e6;
    color: #333;
    padding: 10px 10px;
  }
  .list header {
    border: 1px solid #ddd;
    border-bottom: none;
    /*box-shadow: 0 0 16px #ccc;*/

    /*box-shadow: 0 -5px 5px -5px #ccc;*/


    /*box-shadow: 5px -5px 5px -5px #ccc;*/

    line-height: 36px;
    font-size: 15px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 10px;
  }
  .list footer {
    border: 1px solid #ddd;
    border-top: none;

    /*box-shadow: 5px 0 5px -5px #ccc;*/
    /*box-shadow: 0 0 16px #ccc;*/

    line-height: 36px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #888;
  }
  .list ul {
    border: 1px solid #ddd;
    border-bottom: none;
    border-top: none;

    /*box-shadow: 5px 0 5px -5px #ccc;*/

    /*box-shadow: 0 0 16px #ccc;*/

    list-style: none;
    margin: 0;
    max-height: calc(100% - 36px - 36px);
    overflow-y: auto;
  }
  .list ul li {
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  .list ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .list ul li img {
    display: block;
    width: calc(100% + 2 * 10px);
    margin: -10px 0 10px -10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }


  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f2f2f2;
    border-radius: 8px;
    /*padding: 2px;*/
  }

  ::-webkit-scrollbar-track:horizontal {
    background: #f2f2f2;
    border-radius: 8px;
    margin: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 8px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }


  .right-scroll-arrow {
    background: #313f5fb8;
    position: absolute;
    right: 0px;
    top: 50%;
    z-index: 900;
    font-size: 40px;
    opacity: 0.4;
    border-radius: 50%;
    padding: 10px 23px;
    outline: 0;
    color: white;
  }
  .left-scroll-arrow {
    background: #313f5fb8;
    position: absolute;
    left: 0px;
    top: 50%;
    z-index: 900;
    font-size: 40px;
    opacity: 0.4;
    border-radius: 50%;
    padding: 10px 23px;
    outline: 0;
    color: white;
  }

  div.tagsinput {
    background: rgb(53, 70, 112)!important;
    border: none !important;
    padding:5px;
    width: auto !important;
    height: 48px !important;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
  }

  /*.tagsinput {*/
    /*width: auto !important;*/
    /*height: 48px !important;*/
    /*background: rgb(53, 70, 112)!important;*/
    /*border: none !important;*/
  /*}*/
  div.tagsinput span.tag {
    display: block;
    float: left;
    padding: 8px 5px;
    text-decoration: none;
    background: #ffffff !important;
    color: #000 !important;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
  }

  div.tagsinput span.tag:hover {
    text-decoration: line-through;
  }

  div.tagsinput span.tag a {
    font-weight: bold;
    color: #000 !important;
    opacity: 0.5;
    text-decoration: none;
    font-size: 11px;
  }
  .clear-filters-tag {
    padding: 10px;
    /*display: block;*/
    float: left;
    padding: 8px 5px;
    text-decoration: none;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
  }
  .show_more_footer{
    padding: 0;
  }
  .show_more_footer a{
    display: block;
    text-align: right;
  }
</style>
<%= render partial: "/search/results/shared/accordian_css" %>
<input type="hidden" id="diagnosis_code" name="diagnosis_code" value= <%= @diagnosis_code%> >
<div class="col-xs-12 esearch_main_content" style="padding:0px;">
  <div id="toolbar">
    <nav class="navbar navbar-secondary navbar-inverse navbar-fixed-top " style="margin-top: 50px; left: auto; right: auto; width: 100%;z-index:555;">
      <div class="container-fluid">
        <div class="col-xs-6">
          <h4 style="margin:7px 0 0 0;font-size:18px;">Search Result for : <%= @diagnosis_name %> (<%if @diagnosis_code.length > 3%><%= @diagnosis_code.try(:capitalize).insert(3,".")%>)<%else%><%= @diagnosis_code.try(:capitalize) %>)<%end%></h4>

          <!--Total Diagnosis: <strong><%#= @patient_diagnosis.try(:keys).flatten.length%></strong>-->
          <!--Total Patients: <strong><%#= @patient_diagnosis.try(:values).flatten.length%></strong>-->

          Total <strong><%= @patient_diagnosis.try(:values).flatten.length%></strong> Patient/s in <strong><%= @patient_diagnosis.try(:keys).flatten.length%></strong> Diagnoses

        </div>



        <div class="col-xs-5">
          <%#= text_field_tag "tags","abc,left", {:id=>"tags",:class=> "form-control tagsinput" , :style=> "margin-top: 5px;", :data=>{:role=>"tagsinput"} }%>


          <!--<input type="text" placeholder="Search Patient" class="tagsinput form-control " id="tags" maxlength="50">-->


          <!--<input name="diagnosis-fileter-tags" id="diagnosis-filter-tags" class="form-control" value="Right Eye, 15 - 20 yrs, Male"  style="width: auto;height: 48px;background: #354670;border: none;"/>-->
          <%#= text_field_tag "search_filters_tag","abc,left", {:class=> "form-control tagsinput" , :style=> "margin-top: 5px;", :data=>{:role=>"tagsinput"} }%>

          <div class="tagsinput">
            <%if @laterality.present? %>
              <span class="tag" data-attribute="laterality"><span><%=@laterality%> Eye&nbsp;&nbsp;</span><span title="Removing tag">x</span></span>
            <%end%>
            <%if @above_age.present? && @below_age.present? %>
              <span class="tag" data-attribute="age"><span><%= @above_age%> - <%= @below_age%> yrs&nbsp;&nbsp;</span><span title="Removing tag">x</span></span>
            <%elsif @above_age.present? && @below_age.blank? %>
              <span class="tag" data-attribute="age"><span> >= <%=  @above_age%> yrs&nbsp;&nbsp;</span><span title="Removing tag">x</span></span>
            <%elsif @above_age.blank? && @below_age.present? %>
              <span class="tag" data-attribute="age"><span> <= <%= @below_age%> yrs&nbsp;&nbsp;</span><span title="Removing tag">x</span></span>
            <%end%>
            <%if @gender.present? %>
              <span class="tag" data-attribute="gender"><span>Gender&nbsp;&nbsp;</span><span title="Removing tag">x</span></span>
            <%end%>
            <% if @systemic_history.present? %>
              <span class="tag" data-attribute="systemic_history_hidden"><span>Systemic History &nbsp; &nbsp;</span><span title="Removing tag">x</span></span>
            <% end %>
            <% if @eye_drop_allergies.present? %>
              <span class="tag" data-attribute="eye_drop_allergy_hidden"><span>Allergies &nbsp; &nbsp;</span><span title="Removing tag"></span> </span>
            <% end %>
            <%if @laterality.present? || @above_age.present? || @below_age.present? || @gender.present?%>
              <span class="clear-filters-tag">Clear Filters</span>
            <%end%>
            <input type="hidden" name="hiddenfilter[gender]" class="gender form-control hiddenfilter"  value='<%= raw @gender %>'>
            <input type="hidden" name="hiddenfilter[above_age]" class="age form-control hiddenfilter" value='<%= @above_age%>'>
            <input type="hidden" name="hiddenfilter[below_age]" class="age form-control hiddenfilter" value='<%= @below_age%>'>
            <input type="hidden" name="hiddenfilter[laterality]" class="laterality form-control hiddenfilter" value='<%= @laterality%>'>
            <input type="hidden" name="hiddenfilter[search_filter]" class="search_filter form-control" value='<%= @search_filter%>'>
            <input type="hidden" name="hiddenfilter[icd_type]" class="icd_type form-control" value='<%= @icd_type%>'>
            <input type="hidden" name="hiddenfilter[systemic_history]" class="systemic_history_hidden" value="<%= @systemic_history %>">
            <input type="hidden" name="hiddenfilter[eye_drop_allergies]" class="eye_drop_allergy_hidden" value="<%= @eye_drop_allergies %>">
          </div>

        </div>

        <div class="col-xs-1 text-right" style="border-left: 1px solid #fff;">
          <!-- <button class="btn btn-orange navbar-btn navbar-btn-hover" style="border:none;"><i class="fa fa-filter"></i> Filter</button> -->
          <%= link_to search_results_diagnoses_filter_path, data: { remote: true, 'toggle': 'modal1', 'target': '#filter-modal1' }, class: 'btn btn-orange navbar-btn navbar-btn-hover open_side_modal', style: 'border:none;' do %><i class="fa fa-filter"></i> Filter<% end %>
        </div>
      </div>
    </nav>
  </div>
  

  <div id="esearch_summary" style="height: calc(100% - 50px);overflow: hidden; margin-top: 50px;background: #efefef;">
    <%= render partial: "/search/results/diagnoses/filter_nav"%>
    <div class="ui" style=" height: calc(100%); display: grid;">
      <button class="right-scroll-arrow"><i class="fa fa-angle-right"></i></button>
      <button class="left-scroll-arrow"><i class="fa fa-angle-left"></i></button>

      <div class="lists ">
        <!--<div class="row">-->
          <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
        <% if false %>
        <% @patient_diagnosis.try(:keys).each do |icd| %>
            <div class="col-md-4 col-sm-4 col-xs-6 list">
              <header>

                <span><%= @patient_diagnosis[icd][0].diagnosisname %> </span> (<%if icd.length > 3%><%= icd.try(:capitalize).insert(3,".")%>)<%else%><%= icd.try(:capitalize) %>)<%end%>


                <span class="pull-right" style="color: #354670;"><%= @patient_diagnosis[icd].try(:length) %></span>

              </header>
              <ul>

                <% @patient_diagnosis[icd].each do |i| %>
                    <li class="row">

                      <strong class="col-md-4" style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;padding: 0px 5px;"><%= i.patient_name.capitalize%></strong>
                      <span class="col-md-4" style="padding: 0px;font-size: 12px;"><%= i.patient_mrn.present? ? i.patient_mrn : i.patient_identifier_id %></span>
                      <span class="col-md-4" style="padding: 0px;font-size: 12px;"><%if i.calculate_patient_age.present? || i.patient_gender.present?%>(<%= i.calculate_patient_age %>/<%= i.patient_gender.to_s.slice(0) %>)<% else %> <% end %></span>

                    </li>

                <%end%>
              </ul>
              <footer>Show more...</footer>
            </div>
        <%end%>
        <% end %> <!-- if false end -->

      
       <% @patient_diagnosis.try(:keys).each do |icd| %>
        <div class="col-md-4 col-sm-4 col-xs-6 list">
        <header>
          <span><%= @patient_diagnosis[icd][0].diagnosisname %> </span> (<%if icd.length > 3%><%= icd.try(:capitalize).insert(3,".")%>)<%else%><%= icd.try(:capitalize) %>)<%end%>
          <span class="pull-right" style="color: #354670;"><%= @patient_diagnosis[icd].try(:length) %></span>
        </header>
          <%= render partial: "search/results/diagnoses/accordian_html", locals: {icd: icd} %>
          <footer class="show_more_footer"><a href="#" class="show_more_clicked" data-icd_code="<%= icd %>">Show more...</a></footer>
        </div>
       <% end %>
          <!--</div>-->
        <!--</div>-->



      </div>
    </div>





  </div>
</div>


<script type="text/javascript">
  // Window Size
  var window_height = $(window).height() - 50
  $(".esearch_main_content").css('height',window_height)

  $(window).resize(function() {
    var window_height = $(window).height() - 50
    $(".esearch_main_content").css('height',window_height)
  })


  var step = 250;
  var scrolling = false;

  $(".right-scroll-arrow").on("click",function(event){
//    event.preventDefault();
//    $(".lists").animate({
//      scrollLeft: "+=" + step + "px"
//    });

    scrollright()
  }).bind("mouseover", function(event) {
    scrolling = true;
    scrollContent("left");
    $(this).css("opacity", "1");

  }).bind("mouseout", function(event) {
    scrolling = false;
    $(this).css("opacity", "0.4");
  });

//  $(".right-scroll-arrow").on("mouseover",function(){
//    $('.lists').animate({scrollLeft: $(window).width()}, 3000);
//  })
//  $(".left-scroll-arrow").on("mouseover",function(){
//    $('.lists').animate({scrollLeft: 0}, 3000);
//  })

  $(".left-scroll-arrow").on("click",function(){
    scrollleft()
  }).bind("mouseover", function(event) {
    scrolling = true;
    scrollContent("right");
    $(this).css("opacity", "1");
  }).bind("mouseout", function(event) {
    scrolling = false;
    $(this).css("opacity", "0.4");
  });


  function scrollContent(direction) {
    var amount = (direction === "left" ? "+=1px" : "-=1px");
    $(".lists").animate({
      scrollLeft: amount
    }, 1, function() {
      if (scrolling) {
        scrollContent(direction);
      }
    });
  }

  function scrollright() {
    var mvleft = $(window).width()/3*1
//    $('.lists').animate({'left':'+=300px'});
    var leftPos = $('.lists').scrollLeft();
    $('.lists').animate({scrollLeft: leftPos + mvleft}, 800);
  }

  function scrollleft() {
    var mvleft = $(window).width()/3*1
//    $('.lists').animate({'left':'+=300px'});
    var leftPos = $('.lists').scrollLeft();
    $('.lists').animate({scrollLeft: leftPos - mvleft}, 800);
  }


//  $('#diagnosis-filter-tags').tagsInput({width:'auto'});
//  $("#diagnosis-filter-tags_addTag").hide()

  $(".clear-filters-tag").on("click", function () {
    $(this).hide()
    $(".tagsinput .tag").hide()
    $(".hiddenfilter").val("")
    refreshdiagnosissearchpage()
  })

  $(".tagsinput .tag").on("click", function(){
    var tagattr = $(this).attr("data-attribute")
    $(this).hide()
    $("."+tagattr).val("")
//    e.preventDefault()
    refreshdiagnosissearchpage()
  })


var SearchParams = {};

function search_params(){
  SearchParams = {}
    var gender
    var laterality
    var above_age
    var below_age
    var search_filter = $("input[name='hiddenfilter[search_filter]']").val()
    var icd_type = $("input[name='hiddenfilter[icd_type]']").val()
    var systemic_history
    var eye_drop_allergies
    gender = eval($("input[name='hiddenfilter[gender]']").val())
    
    if (!gender) {
      gender = ""
    }
    laterality = $("input[name='hiddenfilter[laterality]']").val()
    if (!laterality) {
      laterality = ""
    }
    above_age = $("input[name='hiddenfilter[above_age]']").val()
    if (!above_age) {
      above_age = ""
    }
    below_age = $("input[name='hiddenfilter[below_age]']").val()
    if (!below_age) {
      below_age = ""
    }
    systemic_history = eval($("input[name='hiddenfilter[systemic_history]']").val());
    if (systemic_history === null || systemic_history === "undefined"){
      systemic_history = []
    }
    eye_drop_allergies = eval($("input[name='hiddenfilter[eye_drop_allergies]']").val());
    if (eye_drop_allergies === null || eye_drop_allergies === "undefined"){
      eye_drop_allergies = []
    }
    var diagnosis_code = $("#diagnosis_code").val();

    SearchParams.gender = gender;
    SearchParams.laterality = laterality;
    SearchParams.above_age = above_age;
    SearchParams.below_age = below_age;
    SearchParams.type = icd_type;
    SearchParams.search_filter = search_filter;
    SearchParams.icd_code = diagnosis_code;
    SearchParams.remote = true;
    SearchParams.systemic_history = systemic_history;
    SearchParams.eye_drop_allergies = eye_drop_allergies;
    SearchParams.show_more = false;
}


  function refreshdiagnosissearchpage(){
    loading_dots()
    search_params();

    jQuery.ajax({
      type: "GET",
      dataType: "script",
      data: SearchParams,
      url: "/search/results/diagnoses/",
    }).done(function(data){
    })
  }


$(".show_more_clicked").on('click',function(e){
  e.preventDefault();
   search_params();
   var data_icd_code = $(this).attr("data-icd_code");
   SearchParams.show_more = true;
   SearchParams.icd_code = data_icd_code;
   
   $.ajax({
    type: "GET",
    dataType: 'script',
    data: SearchParams,
    url: "/search/results/diagnoses",
   }).done(function(data){

   });
})


$(document).on('click', '.download_csv_file', function(e){
  // e.preventDefault();
  search_params();
  var data_icd_code = $(this).attr("data-icd_code");
  SearchParams.show_more = false;
  SearchParams.icd_code = data_icd_code;
  SearchParams.format   = 'xls';
  $.ajax({
    type: "GET",
    dataType: 'script',
    data:SearchParams,
    url: "/search/results/diagnoses"
  }).done(function(data){

  })

  // return false;

})


function loading_dots(){
  $(".lists ").html("<div class='loading_dots'><span></span> <span></span> <span></span></div>")
}

</script>


