<style type="text/css">
  .width90{
    width: 95%;
  }
  .modal-footer{
    border-top: transparent;
  }
</style>
<div class="modal-dialog width90">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col-md-8">
          <h4 class="modal-title">Search Result for : <%= @diagnosis_name %> (<%if @diagnosis_code.length > 3%><%= @diagnosis_code.try(:capitalize).insert(3,".")%>)<%else%><%= @diagnosis_code.try(:capitalize) %>)<%end%></h4>
        </div>
        <div class="col-md-4 text-right">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <a class="btn btn-success download_csv_file" target="_blank" data-icd_code="<%= @diagnosis_code %>">Download XLS</a>
        </div>
      </div>
    </div>

    <div class="modal-body">
      
      <% @patient_diagnosis.try(:keys).each do |icd| %>
        <div class="row">
          <% group_in = (@patient_diagnosis[icd].count / 3)  + (@patient_diagnosis[icd].count % 3) %>
          <% @patient_diagnosis[icd].in_groups_of(group_in).each do |icds| %>
            <div class="col-md-4 col-sm-4 col-xs-6 list">
              <%= render partial: "search/results/diagnoses/patient_list_modal_data", locals: {icd: icds} %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="modal-footer">
      &nbsp;
    </div>
  </div>
</div>

<script type="text/javascript">
  
  SearchParams.icd_code = $('.download_csv_file').attr('data-icd_code')
  $(".download_csv_file").attr('href',"/search/results/diagnoses.xls?above_age="+SearchParams.above_age+"&below_age="+SearchParams.below_age+"&eye_drop_allergies="+eval(SearchParams.eye_drop_allergies)+"&gender="+SearchParams.gender+"&icd_code="+SearchParams.icd_code+"&search_filter="+SearchParams.search_filter+"&systemic_history="+eval(SearchParams.systemic_history)+"&laterality="+SearchParams.laterality)

</script>