<table>
 <tr>
   <th>Patient Name</th>
   <th>Patient Mrn / Patient Identifier Id</th>
   <th>Patient Mobile</th>
   <th>Diagnosis Name</th>
   <th>Code</th>
   <th>Systemic History Name</th>
   <th>Eye Drop Allergies</th>
 </tr>
<% @patient_diagnosis.try(:keys).each do |icd| %>
  <% @patient_diagnosis[icd].each do |record| %>
 <tr>
   <td><%= record.try(:patient_name) %></td>
   <td><%= record.try(:patient_mrn) %>/ <%= record.try(:patient_identifier_id) %></td>
   <td><%= record.try(:patient).try(:mobilenumber) %></td>
   <td><%= record.try(:diagnosisname) %></td>
   <td><%= record.try(:code) %></td>
   <td><%= record.try(:systemic_history_name).try(:compact).reject(&:nil?).map(&:humanize).map(&:titleize).join(", ") if record.try(:systemic_history_name).try(:compact).present? %></td>
   <td><%= record.try(:eye_drop_allergy_name).try(:compact).reject(&:nil?).map(&:humanize).map(&:titleize).join(", ") if record.try(:eye_drop_allergy_name).try(:compact).present? %></td>
 </tr>
<% end %>
<% end %>
</table>