
<% if @communication_number.is_disable == false %>
$('#number_setting_disable_button_<%= @communication_number.id %>').html(`
      <div class="btn btn-danger btn-xs btn-disable-approve_number" style="display: inline;" data-toggle="modal" data-target="#confirmation-modal" data-category='<%= @communication_number.communication_number %>'>Disable</div>
    <%= escape_javascript(link_to 'Confirm', toggle_disable_number_communication_setting_path(id: @communication_number.id, is_disable: true), class: "btn btn-danger", remote: true, style: "display: none;", data: {dismiss: "modal"}) %>
  `)
$('#number_edit_button_<%= @communication_number.id %>').css({'display': 'block'})
<% else %>
$('#number_setting_disable_button_<%= @communication_number.id %>').html(`
    <div class="btn btn-primary btn-xs btn-active-approve_number" style="display: inline;" data-toggle="modal" data-target="#confirmation-modal" data-category='<%= @communication_number.communication_number %>'>Active</div>
    <%= escape_javascript(link_to 'Confirm', toggle_disable_number_communication_setting_path(id: @communication_number.id, is_disable: false), class: "btn btn-danger", remote: true, style: "display: none;", data: {dismiss: "modal"}) %>`)
$('#number_edit_button_<%= @communication_number.id %>').css({'display': 'none'})
<% end %>
<%= render partial: 'communication_settings/approved_numbers/active.js.erb' %>
<%= render partial: 'communication_settings/approved_numbers/disable.js.erb' %>
