// var currency_span = '(<span id="span_currency"><%= @mis_params[:currency_symbol] %></span>)';
var currency_span = '';
var dynamic_thead = '<thead>';
dynamic_thead += '<tr>';
dynamic_thead += '<th class="text-center">&nbsp;Department&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Receipt&nbsp;Number&nbsp;</th>';
dynamic_thead += '<th width="10%" class="text-center">&nbsp;Patient&nbsp;Details&nbsp;</th>';
dynamic_thead += '<th width="10%" class="text-center">&nbsp;Area&nbsp;</th>';
dynamic_thead += '<th width="10%" class="text-center">&nbsp;Location&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Mode&nbsp;of&nbsp;Payment&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Status&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Reason&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Received'+currency_span+'&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Settled'+currency_span+'&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Remaining'+currency_span+'&nbsp;</th>';
dynamic_thead += '<th width="10%" class="text-center">&nbsp;Created&nbsp;By&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Receipt&nbsp;Status&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Cancel/Refund&nbsp;Reason&nbsp;</th>';
dynamic_thead += '</tr>';

dynamic_thead += '&nbsp;</thead>';

$('#finance_advance_receipts').append(dynamic_thead);

var reports = $('#finance_advance_receipts').dataTable({
  "sDom": "<'top'p>",
  "bLength": false,
  "bFilter": false,
  "bInfo": false,
  "bDestroy": true,
  "ordering": false,
  "sPaginationType": "full_numbers",
  "iDisplayStart": parseInt("<%= @mis_params[:iDisplayStart] || 0 %>"),
  "iDisplayLength": parseInt("<%= @mis_params[:iDisplayLength] || 100 %>"),
  "bServerSide": true,
  "sAjaxSource":"/mis/revenue_reports/reports_data.json?start_date=<%= @mis_params[:start_date] %>&end_date=<%= @mis_params[:end_date] %>&organisation_id=<%= @mis_params[:organisation_id] %>&facility_id=<%= @mis_params[:facility_id] %>&facility_name=<%= @mis_params[:facility_name].gsub(/\'/,'`') %>&time_period=<%= @mis_params[:time_period] %>&title=<%= @mis_params[:title] %>&group=<%= @mis_params[:group] %>&has_params=true&user_id=<%= @mis_params[:user_id] %>&user_name=<%= @mis_params[:user_name] %>&department_id=<%= @mis_params[:department_id] %>&department_name=<%= @mis_params[:department_name] %>&bill_type=<%= @mis_params[:bill_type] %>&bill_status=<%= @mis_params[:bill_status] %>&payer_name=<%= @mis_params[:payer_name] %>",
  "oLanguage": {
    "sZeroRecords": "Nothing to Display",
    "sLoadingRecords": "Please wait - loading reports..."
  },
  "rowCallback": function( row, data ) {
    $(row).find('td:eq(1)').addClass('align_left');
    $(row).find('td:eq(2)').addClass('align_left');
    $(row).find('td:eq(5)').addClass('align_left');
    $(row).find('td:eq(9)').addClass('align_left');
    $(row).find('td:eq(11)').addClass('align_left');
    if(data[10] == 'Cancelled') {
      $(row).addClass("danger");
    } else if(data[10] == 'Returned') {
      $(row).addClass("warning");
    }
  }
});

// &currency_id=<%= @mis_params[:currency_id] %>&currency_symbol=<%= @mis_params[:currency_symbol] %>
