// var currency_span = '(<span id="span_currency"><%= @mis_params[:currency_symbol] %></span>)';
var currency_span = '';
var dynamic_thead = '<thead>';
dynamic_thead += '<tr>';
dynamic_thead += '<th class="text-center" rowspan="2">&nbsp;Department&nbsp;</th>';
dynamic_thead += '<th class="text-center" rowspan="2">&nbsp;Bill&nbsp;Details&nbsp;</th>';
dynamic_thead += '<th class="text-center" rowspan="2">&nbsp;Patient&nbsp;Details&nbsp;</th>';
dynamic_thead += '<th class="text-center" rowspan="2">&nbsp;Area&nbsp;</th>';
dynamic_thead += '<th class="text-center" rowspan="2">&nbsp;Patient&nbsp;Address&nbsp;</th>';
dynamic_thead += '<th class="text-center" rowspan="2">&nbsp;Bill&nbsp;Type&nbsp;</th>';
dynamic_thead += '<th class="text-center" rowspan="2">&nbsp;Payer&nbsp;Details&nbsp;</th>';
dynamic_thead += '<th class="text-center" rowspan="2">&nbsp;Total'+currency_span+'&nbsp;</th>';
dynamic_thead += '<th class="text-center" colspan="3">&nbsp;Offers'+currency_span+'&nbsp;</th>';
dynamic_thead += '<th class="text-center" colspan="3">&nbsp;Discount'+currency_span+'&nbsp;</th>';
dynamic_thead += '<th class="text-center" rowspan="2">&nbsp;Tax'+currency_span+'&nbsp;</th>';
dynamic_thead += '<th class="text-center" rowspan="2">&nbsp;Net'+currency_span+'&nbsp;</th>';
dynamic_thead += '<th class="text-center" rowspan="2">&nbsp;Round(+/-)'+currency_span+'&nbsp;</th>';
dynamic_thead += '<th class="text-center" colspan="2">&nbsp;Pending'+currency_span+'&nbsp;</th>';
dynamic_thead += '<th class="text-center" rowspan="2">&nbsp;Advance&nbsp;Adjusted'+currency_span+'&nbsp;</th>';
dynamic_thead += '<th class="text-center" colspan="5">&nbsp;Settled'+currency_span+'&nbsp;</th>';
dynamic_thead += '<th class="text-center" rowspan="2">&nbsp;Refunded'+currency_span+'&nbsp;</th>';
dynamic_thead += '<th class="text-center" rowspan="2">&nbsp;Number&nbsp;of&nbsp;Refunds'+currency_span+'&nbsp;</th>';
dynamic_thead += '<th class="text-center" rowspan="2">&nbsp;#&nbsp;Of&nbsp;Services&nbsp;In&nbsp;The&nbsp;Bill&nbsp;</th>';
dynamic_thead += '<th class="text-center" rowspan="2">&nbsp;#&nbsp;Of&nbsp;Receipts&nbsp;In&nbsp;The&nbsp;Bill&nbsp;</th>';
dynamic_thead += '<th class="text-center" rowspan="2">&nbsp;Created&nbsp;By&nbsp;</th>';
dynamic_thead += '<th class="text-center" rowspan="2">&nbsp;Modified&nbsp;By&nbsp;</th>';
dynamic_thead += '<th class="text-center" rowspan="2">&nbsp;Bill&nbsp;Status&nbsp;</th>';
dynamic_thead += '<th class="text-center" rowspan="2">&nbsp;Reason(s)&nbsp;</th>';
<% if @mis_params[:organisation_id] == '5fca3a6b6ab05d1cbb8c75c4' %>
  dynamic_thead += '<th class="text-center" rowspan="2">&nbsp;Assigned/Consultant&nbsp;</th>';
<% end %>
dynamic_thead += '</tr>';

dynamic_thead += '<tr>';
dynamic_thead += '<th class="text-center">&nbsp;&nbsp;Item&nbsp;Offer&nbsp;&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;&nbsp;Additional&nbsp;Offer&nbsp;&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;&nbsp;Total&nbsp;Offers&nbsp;&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;&nbsp;Item&nbsp;Discount&nbsp;&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;&nbsp;Additional&nbsp;Discount&nbsp;&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;&nbsp;Total&nbsp;Discount&nbsp;&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;&nbsp;Still&nbsp;Pending&nbsp;&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;&nbsp;Cancelled&nbsp;&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;&nbsp;Received&nbsp;&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;&nbsp;Tax&nbsp;Deducted&nbsp;&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;&nbsp;Spillage&nbsp;&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;&nbsp;Payer&nbsp;Difference&nbsp;&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;&nbsp;Total&nbsp;Settled&nbsp;&nbsp;</th>';
dynamic_thead += '</tr>';
dynamic_thead += '</thead>';

$('#finance_billing_summary').append(dynamic_thead);
var reports = $('#finance_billing_summary').dataTable({
  "sDom": "<'top'p>",
  "bLength": false,
  "bFilter": false,
  "bInfo": false,
  "bDestroy": true,
  "ordering": false,
  "sPaginationType": "full_numbers",
  "iDisplayStart": parseInt("<%= @mis_params[:iDisplayStart] || 0 %>"),
  "iDisplayLength": parseInt("<%= @mis_params[:iDisplayLength] || 100 %>"),
  "bServerSide": true,
  "sAjaxSource":"/mis/revenue_reports/reports_data.json?start_date=<%= @mis_params[:start_date] %>&end_date=<%= @mis_params[:end_date] %>&organisation_id=<%= @mis_params[:organisation_id] %>&facility_id=<%= @mis_params[:facility_id] %>&facility_name=<%= @mis_params[:facility_name].gsub(/\'/,'`') %>&time_period=<%= @mis_params[:time_period] %>&title=<%= @mis_params[:title] %>&group=<%= @mis_params[:group] %>&has_params=true&user_id=<%= @mis_params[:user_id] %>&user_name=<%= @mis_params[:user_name] %>&department_id=<%= @mis_params[:department_id] %>&department_name=<%= @mis_params[:department_name] %>&bill_type=<%= @mis_params[:bill_type] %>&bill_status=<%= @mis_params[:bill_status] %>&payer_name=<%= @mis_params[:payer_name] %>",
  "oLanguage": {
    "sZeroRecords": "Nothing to Display",
    "sLoadingRecords": "Please wait - loading reports..."
  },
  "rowCallback": function( row, data ) {
    $(row).find('td:eq(2)').addClass('align_left');
    $(row).find('td:eq(4)').addClass('align_left');
    $(row).find('td:eq(20)').addClass('align_left');
    $(row).find('td:eq(21)').addClass('align_left');
    if(data[22] == 'Cancelled') {
      $(row).addClass("danger");
    } else if(data[22] == 'Refunded') {
      $(row).addClass("warning");
    }
  }
});

// &currency_id=<%= @mis_params[:currency_id] %>&currency_symbol=<%= @mis_params[:currency_symbol] %>
