// var currency_span = '(<span id="span_currency">&nbsp;<%= @mis_params[:currency_symbol] %></span>)';
var currency_span = '';
var dynamic_thead = '<thead>';
dynamic_thead += '<tr>';
dynamic_thead += '<th class="text-center">&nbsp;Advised&nbsp;On&nbsp;</th>';
dynamic_thead += '<th width="10%" class="text-center">&nbsp;Conversion&nbsp;Status&nbsp;</th>';
dynamic_thead += '<th width="10%" class="text-center">Reasons</th>';
dynamic_thead += '<th width="10%" class="text-center">&nbsp;Patient&nbsp;Details&nbsp;</th>';
dynamic_thead += '<th width="10%" class="text-center">&nbsp;Area&nbsp;</th>';
dynamic_thead += '<th width="10%" class="text-center">&nbsp;Location&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Advised&nbsp;by&nbsp;</th>';
dynamic_thead += '<th width="10%" class="text-center">&nbsp;Converted&nbsp;By&nbsp;</th>';
dynamic_thead += '<th width="10%" class="text-center">&nbsp;Current&nbsp;Status&nbsp;</th>';
dynamic_thead += '<th width="10%" class="text-center">&nbsp;Bill&nbsp;Details&nbsp;</th>';
dynamic_thead += '<th width="10%" class="text-center">&nbsp;Bill&nbsp;Status&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Bill&nbsp;Amount'+currency_span+'&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Discount'+currency_span+'&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Offer'+currency_span+'&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Tax'+currency_span+'&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Net&nbsp;Amount'+currency_span+'&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Payment&nbsp;Received'+currency_span+'&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Conversion&nbsp;(in&nbsp;Days)&nbsp;</th>';
dynamic_thead += '</tr>';

dynamic_thead += '&nbsp;</thead>';

$('#finance_optical_conversion_summary').append(dynamic_thead);

var reports = $('#finance_optical_conversion_summary').dataTable({
  "sDom": "<'top'p>",
  "bLength": false,
  "bFilter": false,
  "bInfo": false,
  "bDestroy": true,
  "ordering": false,
  "sPaginationType": "full_numbers",
  "iDisplayStart": parseInt("<%= @mis_params[:iDisplayStart] || 0 %>"),
  "iDisplayLength": parseInt("<%= @mis_params[:iDisplayLength] || 100 %>"),
  "bServerSide": true,
  "sAjaxSource":"/mis/revenue_reports/reports_data.json?start_date=<%= @mis_params[:start_date] %>&end_date=<%= @mis_params[:end_date] %>&organisation_id=<%= @mis_params[:organisation_id] %>&facility_id=<%= @mis_params[:facility_id] %>&facility_name=<%= @mis_params[:facility_name].gsub(/\'/,'`') %>&time_period=<%= @mis_params[:time_period] %>&title=<%= @mis_params[:title] %>&group=<%= @mis_params[:group] %>&has_params=true&user_id=<%= @mis_params[:user_id] %>&user_name=<%= @mis_params[:user_name] %>&optical_store_id=<%= @mis_params[:optical_store_id] %>&optical_store_name=<%= @mis_params[:optical_store_name] %>&conversion_status=<%= @mis_params[:conversion_status] %>",
  "oLanguage": {
    "sZeroRecords": "Nothing to Display",
    "sLoadingRecords": "Please wait - loading reports..."
  },
  "rowCallback": function( row, data ) {
    $(row).find('td:eq(2)').addClass('align_left');
    $(row).find('td:eq(3)').addClass('align_left');
    $(row).find('td:eq(4)').addClass('align_left');
    if(data[6] == 'Cancelled') {
      $(row).addClass("danger");
    } else if(data[6] == 'Refunded') {
      $(row).addClass("warning");
    }
  }
});

// &currency_id=<%= @mis_params[:currency_id] %>&currency_symbol=<%= @mis_params[:currency_symbol] %>
