// var currency_span = '(<span id="span_currency"><%= @mis_params[:currency_symbol] %></span>)';
var currency_span = '';
var dynamic_thead = '<thead>';
dynamic_thead += '<tr>';
dynamic_thead += '<th class="text-center">&nbsp;Package&nbsp;Details&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Bill&nbsp;Details&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Bill&nbsp;Type&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Payer&nbsp;Details&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Sub&#45;Specialty&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Department&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Standard&nbsp;Unit&nbsp;Cost&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Unit&nbsp;Cost&nbsp;In&nbsp;Bill&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Unit&nbsp;Cost&nbsp;Difference&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Discount&nbsp;On&nbsp;Package&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Net&nbsp;Amount&nbsp;Billed&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;%&nbsp;Discount&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Discount&nbsp;Type&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Patient&nbsp;Details&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Area&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Location&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Created&nbsp;By&nbsp;</th>';
dynamic_thead += '</tr>';
dynamic_thead += '</thead>';

$('#finance_package_summary').append(dynamic_thead);
var reports = $('#finance_package_summary').dataTable({
  "sDom": "<'top'p>",
  "bLength": false,
  "bFilter": false,
  "bInfo": false,
  "bDestroy": true,
  "ordering": false,
  "sPaginationType": "full_numbers",
  "iDisplayStart": parseInt("<%= @mis_params[:iDisplayStart] || 0 %>"),
  "iDisplayLength": parseInt("<%= @mis_params[:iDisplayLength] || 100 %>"),
  "bServerSide": true,
  "sAjaxSource":"/mis/revenue_reports/reports_data.json?start_date=<%= @mis_params[:start_date] %>&end_date=<%= @mis_params[:end_date] %>&organisation_id=<%= @mis_params[:organisation_id] %>&facility_id=<%= @mis_params[:facility_id] %>&facility_name=<%= @mis_params[:facility_name].gsub(/\'/,'`') %>&time_period=<%= @mis_params[:time_period] %>&title=<%= @mis_params[:title] %>&group=<%= @mis_params[:group] %>&has_params=true&user_id=<%= @mis_params[:user_id] %>&user_name=<%= @mis_params[:user_name] %>&department_id=<%= @mis_params[:department_id] %>&department_name=<%= @mis_params[:department_name] %>&bill_type=<%= @mis_params[:bill_type] %>&bill_status=<%= @mis_params[:bill_status] %>&discount_type=<%= @mis_params[:discount_type] %>&sub_specialty_id=<%= @mis_params[:sub_specialty_id] %>&bill_entry_type_id=<%= @mis_params[:bill_entry_type_id] %>",
  "oLanguage": {
    "sZeroRecords": "Nothing to Display",
    "sLoadingRecords": "Please wait - loading reports..."
  }
});

// &currency_id=<%= @mis_params[:currency_id] %>&currency_symbol=<%= @mis_params[:currency_symbol] %>
