// var currency_span = '(<span id="span_currency"><%= @mis_params[:currency_symbol] %></span>)';
var currency_span = '';
var dynamic_thead = '<thead>';
dynamic_thead += '<tr>';
dynamic_thead += '<th width="10%" class="text-center">&nbsp;Created&nbsp;By&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Department&nbsp;</th>';
dynamic_thead += '<th width="10%" class="text-center">&nbsp;Patient&nbsp;Details&nbsp;</th>';
dynamic_thead += '<th width="10%" class="text-center">&nbsp;Area&nbsp;</th>';
dynamic_thead += '<th width="10%" class="text-center">&nbsp;Location&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Receipt&nbsp;Type&nbsp;</th>';
dynamic_thead += '<th width="10%" class="text-center">&nbsp;Receipt&nbsp;Details&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Mode&nbsp;Of&nbsp;Payment&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Remark&nbsp;</th>';
dynamic_thead += '<th class="text-center">&nbsp;Amount'+currency_span+'&nbsp;</th>';
dynamic_thead += '</tr>';
dynamic_thead += '</thead>';

$('#finance_receipt_summary_by_user').append(dynamic_thead);

var reports = $('#finance_receipt_summary_by_user').dataTable({
  "sDom": "<'top'p>",
  "bLength": false,
  "bFilter": false,
  "bInfo": false,
  "bDestroy": true,
  "ordering": false,
  "sPaginationType": "full_numbers",
  "iDisplayStart": parseInt("<%= @mis_params[:iDisplayStart] || 0 %>"),
  "iDisplayLength": parseInt("<%= @mis_params[:iDisplayLength] || 100 %>"),
  "bServerSide": true,
  "sAjaxSource":"/mis/revenue_reports/reports_data.json?start_date=<%= @mis_params[:start_date] %>&end_date=<%= @mis_params[:end_date] %>&organisation_id=<%= @mis_params[:organisation_id] %>&facility_id=<%= @mis_params[:facility_id] %>&facility_name=<%= @mis_params[:facility_name].gsub(/\'/,'`') %>&time_period=<%= @mis_params[:time_period] %>&title=<%= @mis_params[:title] %>&group=<%= @mis_params[:group] %>&has_params=true&user_id=<%= @mis_params[:user_id] %>&user_name=<%= @mis_params[:user_name] %>&department_id=<%= @mis_params[:department_id] %>&department_name=<%= @mis_params[:department_name] %>&bill_type=<%= @mis_params[:bill_type] %>&bill_status=<%= @mis_params[:bill_status] %>&is_advance=<%= @mis_params[:is_advance] %>&is_bill=<%= @mis_params[:is_bill] %>&is_refund=<%= @mis_params[:is_refund] %>",
  "oLanguage": {
    "sZeroRecords": "Nothing to Display",
    "sLoadingRecords": "Please wait - loading reports..."
  },
  "rowCallback": function( row, data ) {
    $(row).find('td:eq(0)').addClass('align_left');
    $(row).find('td:eq(2)').addClass('align_left');
    $(row).find('td:eq(4)').addClass('align_left');
    $(row).find('td:eq(6)').addClass('align_left');
  }
});

// &currency_id=<%= @mis_params[:currency_id] %>&currency_symbol=<%= @mis_params[:currency_symbol] %>
