<% if !@organisation.customised_letter_head %>
    <div style="border-bottom: 1px solid;border-bottom-color: #ddd;height:<%= @organisation.letter_head_customisations[:header_height] %>cm">

    </div>
<% else %>
    <%= render "print/print_header",:doctor => @user %>
<%end%>
<div class="row table-hg-print opdsummaryprint">

  <div class="summary-template">

    <div class="row">

      <div class="col-md-12">

        <div class="opdsummary">

          <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/opd_summary_form_patientinfo", locals: { patient: @patient, appointment: @appointment, opdrecord: @opdrecord } %>

          <% if @templatetype == "express" %>
              <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/opd_summary_form_expresshistory", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>
              <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/opd_summary_form_assessment", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>
              <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/opd_summary_form_plan", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>
              <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/opd_summary_form_advice", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, advice: @opdrecord.advice, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>
          <% elsif @templatetype == "freeform" %>
              <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/opd_summary_form_freeform", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>
          <% elsif @templatetype == "eye" || @templatetype == "paediatrics" %>
              <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_squint_examination", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>
              <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_examination", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>
              <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_assessment", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>
              <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_plan", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>
              <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_advice", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, advice: @opdrecord.advice, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>
            <% elsif @templatetype == "refraction" %>
              <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_refraction.html.erb", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality} %>
              <% if @opdrecord.dilate_patient %>
                <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_dilated_refraction.html.erb", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality} %>
              <% end %>
              <% if @opdrecord.perform_pmt %>
                <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_pmt_refraction.html.erb", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality} %>
              <% end %>
            <% elsif @templatetype == "quickeye" %>
              <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_quickexamination", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>
              <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_assessment", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>
              <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_plan", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>
              <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_advice", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, advice: @opdrecord.advice, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>
          <% end %>

        </div>

      </div>

    </div>

  </div>

</div>