<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title"><%=@call_type%> Service</h4>
	</div>
	<div class="modal-body">

			<%= form_for( @service, :remote => "true" ) do |f| %>

                <%= f.text_field :organisation_id, { :type => "hidden", :value=> @organisationid } %>

                <%= f.text_field :service_type, { :type => "hidden", :value=> @service_type } %>
                <%= f.text_field :service_type_id, { :type => "hidden", :value=> @service_type_id } %>
        <% if @service_typ == "Assessment" %>
        <div class="row form-group">
          <div class="col-md-3"><%= f.label :name %></div>
          <div class="col-md-5"><%= f.text_field :name,{:class => "form-control"} %>
          </div>
        <% else %>
        <div class="row form-group">
					<div class="col-md-3"><%= f.label :name %></div>
					<div class="col-md-5"><%= f.text_field :name,{:class => "form-control"} %></div>
				</div>
        <% end %>
				<div class="row form-group">
					<div class="col-md-3"><%= f.label :unit_cost %></div>
					<div class="col-md-2"><%= f.text_field :unit_cost,{:class => "form-control"} %></div>
				</div>
				<div class="row form-group">
					<div class="col-md-3"><%= f.label "No of Units" %></div>
					<div class="col-md-2"><%= f.text_field :default_units,{:type=>"number",:class => 'form-control',:min=>"1"} %></div>
				</div>
				<div class="row">
					<%= f.submit @call_type+" Service",{:class => 'btn btn-success'} %>
				</div>

            <% end %>

	</div>
  </div>
</div>
