<div class="container-fluid copay_print">
  <div class="row mb5">
    <span class="text-center col-md-12"><b style="font-size:14px !important;" ><%= @copay.service %></b></span>
  </div>
  <div class="row mb10" id="patient_button">
    <% @w = Ward.find_by(id: @admission.ward_id) %>
    <% unless @w.nil? %><% @wr = @w.rooms.find_by(id: @admission.room_id) %><% else %><% @wr = nil %><% end %>
    <% unless @wr.nil? %><% @wrb = Ward.find_by(id: @admission.ward_id).rooms.find_by(id: @admission.room_id).beds.find_by(id: @admission.bed_id) %><% else %><% @wrb = nil %><% end %>

    <div class="row mb10" style="padding:5px;">
      <div class="col-md-3">
        <p><b>Patient Name</b></p>
        <p><b>Patient ID </b></p>
        <p><b>Mobile </b></p>
      </div>
      <div class="col-md-3">
        <p><b>:</b>&nbsp; <%= @patient.fullname.split(" ").map(&:capitalize).join(" ") %></p>
        <p><b>:</b>&nbsp; <%= PatientIdentifier.find_by(patient_id: @patient.id.to_s).try(:patient_org_id) %></p>
        <p><b>:</b>&nbsp; <%= @patient.mobilenumber %></p>
      </div>
      <div class="col-md-3">
        <p><b>Admitting Doctor</b></p>
        <p><b>Date Admitted</b></p>
      </div>
      <div class="col-md-3">
        <p><b>:</b>&nbsp; <%= User.find_by(id: @admission.doctor).fullname %></p>
        <p><b>:</b>&nbsp; <%= @admission.admissiondate.strftime("%d-%m-%y %H:%M %p") %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th style="padding:0px"><b>Name</b></th>
          <th style="padding:0px"><b>Amount</b></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @copay.service %></td>
          <td><%= @copay.amount %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<style type="text/css">
  .copay_print * {
    font-size: 10px;
  }
</style>