                       <div class="step-pane" data-step="2">

                                <div class="row">

                                  <div class="col-md-8">

                                    <div class="panel panel-primary">

                                      <div class="panel-body">

                                        <div class="row">
                                          <div class="col-md-12">
                                            <div class="row">
                                              <strong>Body mass index(BMI):  </strong>
                                              <span>NA</span>
                                            </div>


                                            <div class="row">
                                              <strong>Waist Circumference in Cms:  </strong>
                                              <span>NA</span>
                                            </div>

                                          </div>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>History of Allergies</strong> </div>
                                          <%= f.input :built, wrapper_html: {:class=>"col-md-9"},collection: [['Physical Examination','physicalexamination'],['Cardiovascular Examination','cardiovascularexamination']], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white cardiotemp' %>
                                        </div>

                                        <br>


                                      <div class="physicalexaminationcontent">
                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Physical Examinations</strong></div>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Built</strong> </div>
                                          <%= f.input :built, wrapper_html: {:class=>"col-md-9"},collection: ['Thin','Average','Heavy','Obese','Morbidly obese'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Level of consciousness</strong> </div>
                                          <%= f.input :levelofconsciouness, wrapper_html: {:class=>"col-md-9"},collection: ['Fully conscious','Stuporous','Semi-conscious','Unconscious','Comatose'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Pulse</strong></div>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="col-md-2">
                                            <div class="form-group">
                                              <label for="vitalsigns-temperaturelabel">Rate</label>
                                              <div class="input-group">
                                                <%= f.input_field :durationhours, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                                <span class="input-group-addon">/min</span>
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Rythm</strong></div>
                                          <%= f.input :rythm, wrapper_html: {:class=>"col-md-9"},collection: ['Regular','Regularly irregular','Irregularly regular'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Peripheral Pulses</strong></div>
                                          <%= f.input :peripheralpulses, wrapper_html: {:class=>"col-md-9"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="col-md-2">
                                            <div class="form-group">
                                              <label for="vitalsigns-temperaturelabel">BP</label>
                                              <div class="input-group">
                                                <%=f .input_field :durationhours, :class=> "form-control", :maxlength => 4, :size => 4, :required => false %>
                                                <span class="input-group-addon">mm/Hg</span>
                                              </div>
                                            </div>
                                          </div>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Position</strong></div>
                                          <%= f.input :position, wrapper_html: {:class=>"col-md-9"},collection: ['Sitting','Standing','Supine'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white bp' %>
                                        </div>



                                        <div class="col-md-12 bpposition">
                                          <div class="col-md-3"><strong>Position</strong></div>
                                          <%= f.input :position, wrapper_html: {:class=>"col-md-9"},collection: ['Right Upper limb','Left Lower limb','Right Lower limb','Left Lower limb'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-2">
                                            <div class="form-group">
                                              <label for="vitalsigns-temperaturelabel">Respiratory rate</label>
                                              <div class="input-group">
                                                <%= f.input_field :durationhours, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                                <span class="input-group-addon">/min</span>
                                              </div>
                                            </div>
                                          </div>
                                        </div>




                                        <div class="col-md-6">
                                          <div class="panel panel-default">

                                            <div class="panel-body">
                                              <div><strong>SpO2% </strong></div><br />
                                              <label for="spo2"><span>Sp02%: </span><span id="spo2"></span></label>

                                              <div id="spo2-slider"></div>
                                            </div><!-- panel-body -->
                                          </div><!-- panel -->
                                        </div><!-- col-md-6 -->

                                        <div class="col-md-6">
                                          <div class="panel panel-default">

                                            <div class="panel-body">

                                              <label for="temp"><span>Temparature: </span><span id="temp"></span><%= raw '&#8457'%> </label>

                                              <div id="slider-min"></div>
                                            </div><!-- panel-body -->
                                          </div><!-- panel -->
                                        </div><!-- col-md-6 -->



                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Pallor</strong></div>
                                          <%= f.input :bp, wrapper_html: {:class=>"col-md-9"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Oedema</strong></div>
                                          <%= f.input :bp, wrapper_html: {:class=>"col-md-9"},collection: ['Grade I', 'Grade II','Grade III'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>



                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Clubbing</strong></div>
                                          <%= f.input :bp, wrapper_html: {:class=>"col-md-9"},collection: ['Grade I', 'Grade II','Grade III','Grade IV'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Back and spine</strong></div>
                                          <%= f.input :backandspine, wrapper_html: {:class=>"col-md-9"},collection: ['Normal', 'Scoliosis','Kyphosis','Kyphoscoliosis'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Psychiatric status</strong></div>
                                          <%= f.input :psychiatricstatus, wrapper_html: {:class=>"col-md-9"},collection: ['Calm and quiet', 'Anxious','Agitated','Irritable','Tearful','Obtunded','Psychotic'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>
                                 </div>







                                    <div class="cardiovascularexaminationcontent">
                                        <div class="col-md-12">
                                          <div class="col-md-5"><strong>Cardiovascular Examination</strong> </div>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Inspection</strong></div>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="col-md-3">Precordium</div>
                                          <%= f.input :precordium , wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Bulged','Depressed'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="col-md-3">Deformity</div>
                                          <%= f.input :deformity , wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Pectus Excavatum','Pectus Carinatum','Barrel shaped'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3">Dilated neck veins</div>
                                          <%= f.input :dilatedneckveins , wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3">JVP</div>
                                          <%= f.input :jvp , wrapper_html: {:class=>"col-md-9"},collection: ['Raised','Not Raised'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>





                                        <div class="col-md-12 palpation">
                                          <div class="col-md-3"><strong>Palpation</strong> </div>
                                          <%= f.input :palpation, wrapper_html: {:class=>"col-md-9"},collection: ['Palpable','Not Palpable'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white palpation' %>
                                        </div>


                                      <div class="col-md-12 questionsforpalpation">
                                        <div class="col-md-3">Palpable </div>
                                        <%= f.input :questionsforpalpation , wrapper_html: {:class=>"col-md-9"},collection: ['Diffuse','Sustained','Shifted Inferiorly','Shifted Laterally','Shifted Medially'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white palpatation' %>
                                      </div>


                                      <div class="col-md-12">
                                        <div class="col-md-3"><strong>Other findings</strong> </div>
                                        <%= f.input :otherfindings, wrapper_html: {:class=>"col-md-9"},collection: ['Thrill','Diastolic Shock','Palpable S3','Parasternal Heave'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white otherfindings' %>
                                      </div>


                                      <div class="col-md-12 questionsforthrill">
                                        <div class="col-md-3">Thrill </div>
                                        <%= f.input :thrill, wrapper_html: {:class=>"col-md-9"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white thrill' %>
                                      </div>


                                      <div class="col-md-12 questionsfordiastolicshock">
                                        <div class="col-md-3">Diastolic Shock </div>
                                        <%= f.input :questionsfordiastolicshock , wrapper_html: {:class=>"col-md-9"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white palpatations' %>
                                      </div>


                                      <div class="col-md-12 questionsforpalpables3">
                                        <div class="col-md-3">Palpable s3</div>
                                        <%= f.input :questionsforpalpables3 , wrapper_html: {:class=>"col-md-9"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white palpatations' %>
                                      </div>


                                      <div class="col-md-12 questionsforparasternalheave">
                                        <div class="col-md-3">Parasternal Heave </div>
                                        <%= f.input :questionsforparasternalheave , wrapper_html: {:class=>"col-md-9"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white palpatations' %>
                                      </div>

                                      <div class="col-md-12">
                                        <div class="col-md-3"><strong>Auscultation</strong> </div>
                                      </div>



                                      <div class="col-md-12">
                                        <div class="col-md-2">
                                          <div class="form-group">
                                            <label for="vitalsigns-temperaturelabel">Rate</label>
                                            <div class="input-group">
                                              <%= f.input_field :durationhours, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                              <span class="input-group-addon">/min</span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>


                                      <div class="col-md-12">
                                        <div class="col-md-3"><strong>Rhythm</strong> </div>
                                        <%= f.input :rhythm, wrapper_html: {:class=>"col-md-9"},collection: ['Regular','Irregularly irregular','Regularly irregular','Tachycardia','Bradycardia'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                      </div>

                                      <div class="col-md-12 heartsounds">
                                        <div class="col-md-3"><strong>Heart sounds</strong> </div>
                                        <%= f.input :heartsounds, wrapper_html: {:class=>"col-md-9"},collection: ['S1','S2','S3','S4'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white heartsounds_ram' %>
                                      </div>

                                      <div class="col-md-12 questionsforS1">
                                        <div class="col-md-3"><strong>S1</strong> </div>
                                        <%= f.input :questionsfors1, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Loud','Soft','Variable'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white s1' %>
                                      </div>


                                      <div class="col-md-12 questionsforS2">
                                        <div class="col-md-3"><strong>S2</strong> </div>
                                        <%= f.input :questionsfors2, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Physiological Split','Paradoxical Split','Fixed Split','Exaggerated Split','Loud P2'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white s2' %>
                                      </div>


                                      <div class="col-md-12 questionsforS3">
                                        <div class="col-md-3"><strong>S3</strong> </div>
                                        <%= f.input :questionsfors3, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white s1' %>
                                      </div>


                                      <div class="col-md-12 questionsforS4">
                                        <div class="col-md-3"><strong>S4</strong> </div>
                                        <%= f.input :questionsfors4, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white s1' %>
                                      </div>


                                      <div class="col-md-12 extrasounds">
                                        <div class="col-md-3"><strong>Extra sounds</strong> </div>
                                        <%= f.input :extrasounds, wrapper_html: {:class=>"col-md-9"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white extrasounds' %>
                                      </div>

                                  <div class="questionsforextrasounds">
                                      <div class="col-md-12">
                                        <div class="col-md-3">Clicks </div>
                                        <%= f.input :clicks, wrapper_html: {:class=>"col-md-9"},collection: ['Single','Multiple'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white clicks' %>
                                      </div>


                                      <div class="col-md-12">
                                        <div class="col-md-3">Rub Component </div>
                                        <%= f.input :rubcomponent, wrapper_html: {:class=>"col-md-9"},collection: ['1','2','3'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white rubcomponent' %>
                                      </div>


                                      <div class="col-md-12">
                                        <div class="col-md-3">Prosthetic Sounds </div>
                                        <%= f.input :prostheticsounds, wrapper_html: {:class=>"col-md-9"},collection: ['Crisp','Dull'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white prostheticsounds' %>
                                      </div>


                                      <div class="col-md-12">
                                        <div class="col-md-3"><strong>Other findings</strong> </div>
                                      </div>

                                      <div class="col-md-12">
                                        <div class="col-md-3">Pericardial Knock</div>
                                        <%= f.input :precardialknock, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white precardialknock' %>
                                      </div>

                                      <div class="col-md-12">
                                        <div class="col-md-3">Opening snap </div>
                                        <%= f.input :openingsnap, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white openingsnap' %>
                                      </div>

                                      <div class="col-md-12">
                                        <div class="col-md-3">Aortic Ejection Click</div>
                                        <%= f.input :aorticejection, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white aorticejection' %>
                                      </div>

                                      <div class="col-md-12">
                                        <div class="col-md-3">Pleural Rub</div>
                                        <%= f.input :pleuralrub, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white pleuralrub' %>
                                      </div>

                                      <div class="col-md-12">
                                        <div class="col-md-3">Splenic Rub</div>
                                        <%= f.input :splenicrub, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white splenicrub' %>
                                      </div>
                                   </div>



                                      <div class="col-md-12">
                                        <div class="col-md-3"><strong>Murmurs</strong> </div>
                                      </div>
                                      
                                      

                                        <div class="col-md-12">
                                          <div class="col-md-4">Number of Murmurs</div>
                                          <%= f.input :numberofmurmurs, wrapper_html: {:class=>"col-md-8"},collection: ['1','2','3'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white numberofmurmurs' %>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="col-md-3">Grade</div>
                                          <%= f.input :grade, wrapper_html: {:class=>"col-md-9"},collection: ['I','II','III','IV','V','VI'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white grade' %>
                                        </div>
  
                                        <div class="col-md-12">
                                          <div class="col-md-3">Systolic Murmur</div>
                                          <%= f.input :systolicmurmur, wrapper_html: {:class=>"col-md-9"},collection: ['Ejection Systolic/Holosytolic'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white systolicmurmur' %>
                                        </div>
                                        
                                        <div class="questionsforsystolicmurmur">
                                          <div class="col-md-12">
                                            <div class="col-md-3"></div>
                                               <%= f.input :systolicmurmur, wrapper_html: {:class=>"col-md-9"},collection: ['Harsh','Cooling','Late Peaking','Cresendo','Decresendo'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white systolicmurmur' %>
                                          </div>
                                        </div>
  
  
                                        <div class="col-md-12">
                                          <div class="col-md-3">Diastolic Murmur</div>
                                              <%= f.input :diastolic_murmur, wrapper_html: {:class=>"col-md-9"},collection: ['Blowing','Rumbling','High-Pitched','Decrescendo'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white diastolic_murmur' %>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="col-md-3">Continuous Murmur</div>
                                              <%= f.input :continuous_murmur, wrapper_html: {:class=>"col-md-9"},collection: ['None','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white continuous_murmur' %>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3">Location</div>
                                              <%= f.input :murmur_location, wrapper_html: {:class=>"col-md-9"},collection: ['Mitral Area','Tricuspid Area','Arotic Area','Pulmonary Area','Left Sternal Border'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white murmur_location' %>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3">Radiation to</div>
                                              <%= f.input :murmur_radiationto, wrapper_html: {:class=>"col-md-9"},collection: ['Axilla','Neck'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white murmur_radiationto' %>
                                        </div>        


                                         <div class="col-md-12">
                                          <div class="col-md-3">Maneuvers</div>
                                              <%= f.input :murmur_maneuvers, wrapper_html: {:class=>"col-md-9"},collection: ['Valsalva','Squatting','Jumping','Exercise','Handgrip'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white murmur_maneuvers' %>
                                        </div>         

                                       <div class="questionsformaneuvers">
                                        <div class="col-md-12">
                                          <div class="col-md-3">Maneuvers</div>
                                              <%= f.input :questionsformaneuvers, wrapper_html: {:class=>"col-md-9"},collection: ['Increase','Decrease','No Change'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white murmur_maneuvers' %>
                                        </div>         
                                       </div> 
                                        
                                          <div class="col-md-12 murmurcomments">
                                             <div class="col-md-12 row">
                                                  <div class="col-md-2">Comments</div>
                                             </div>
                                              <div class="col-md-12 row">
                                                <%= f.input :murmurcomments, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 40 } %>                                     
                                              </div>
                                          </div>
                        


                                      <div class="col-md-12">
                                        <div class="col-md-3"><strong>Respiratory System</strong></div>
                                      </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3">Inspection</div>
                                          <%= f.input :inspection, wrapper_html: {:class=>"col-md-9"},collection: ['Tachypnoea','Use of accessory muscles','Exhalation with pursed lips','Audible wheeze','Paradoxical Breathing','Clubbing','Cyanosis','Tobacco Staining','Flapping Tremor','Kussmaul\'s breathing','Cheyne-Stokes breathing','Operation scars'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white respiratory_inspection' %>
                                        </div>




                                      <div class="col-md-12 questionsforinspection">
                                       <div class="row"><span class="col-md-3" id="inspectionvalue"></span>
                                          <%= f.input :questionsforinspection, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white questionsforinspection' %>
                                        </div>
                                      </div>


                                      <div class="col-md-12">
                                        <div class="col-md-3">Ausculation</div>
                                        <%= f.input :ausculation, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Rhonchi','Basal Rales','Bronchial Breath Sounds',' Basal Crackles','Basal Crepitations'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white ausculation' %>
                                      </div>

                                      <div class="col-md-12 questionsforausculation">
                                        <div class="row"><span class="col-md-3" id="ausculationvalue"></span>
                                          <%= f.input :questionsforausculation, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white questionsforausculation' %>
                                        </div>
                                      </div>


                                      <div class="col-md-12">
                                        <div class="col-md-3">Gastroinstestinal System</div>
                                      </div>


                                      <div class="col-md-12">
                                        <div class="col-md-3">Inspection</div>
                                        <%= f.input :gastroinspection, wrapper_html: {:class=>"col-md-9"},collection: ['Facial Puffiness','Ascites','dilated veins over abdomen','Facial Flushing','Visible pulsations'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white gastroinspection' %>
                                      </div>



                                      <div class="col-md-12 questionsforgastrointestinalinspection">
                                        <div class="row"><span class="col-md-3" id="gastroinspectionvalue"></span>
                                          <%= f.input :questionsforgastrointestinalinspection, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white questionsforgastrointestinal gastroinspection' %>
                                        </div>
                                      </div>


                                      <div class="col-md-12">
                                        <div class="col-md-3">Palpation</div>
                                        <%= f.input :gastropalpation, wrapper_html: {:class=>"col-md-9"},collection: ['Hepatomegaly','Splenomegaly','Splenic Tenderness','Hepatojugular Reflex','Pulsatile Liver','Pulsatile Spleen'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white gastropalpation' %>
                                      </div>



                                      <div class="col-md-12 questionsforgastrointestinalpalpation">
                                        <div class="row"><span class="col-md-3" id="gastropalpationvalue"></span>
                                          <%= f.input :questionsforgastrointestinalpalpation, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white questionsforgastrointestinalpalpation' %>
                                        </div>
                                      </div>




                                      <div class="col-md-12">
                                        <div class="col-md-3">Ausculation</div>
                                        <%= f.input :gastroausculation, wrapper_html: {:class=>"col-md-9"},collection: ['Bowel Sounds','Renal Bruit'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white gastroausculation' %>
                                      </div>



                                      <div class="col-md-12 questionsforgastrointestinalausculation">
                                        <div class="row"><span class="col-md-3" id="gastroausculationvalue"></span>
                                          <%= f.input :gastrointestinalausculation, wrapper_html: {:class=>"col-md-9"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white gastrointestinalausculation' %>
                                        </div>
                                      </div>



                                      <div class="col-md-12">
                                        <div class="col-md-3">Nervous System</div>
                                      </div>
                                      <div class="col-md-12">
                                        <div class="col-md-3">Level of Conciousness</div>
                                        <%= f.input :levelofconsciousness, wrapper_html: {:class=>"col-md-9"},collection: ['Clouding of consciousness','Confusional state','Lethargy','Obtunded','Stupor','Coma'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white gastroausculation' %>
                                      </div>


                                      <div class="col-md-12">
                                        <div class="col-md-3">Fundoscopy</div>
                                        <%= f.input :fundoscopy, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Changes of Hypertensive Retinopathy','Microaneurysms','Papilloedema'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white gastroausculation' %>
                                      </div>


                                      <div class="col-md-12 questionsfornervoussystemfundoscopy">
                                        <div class="row"><span class="col-md-3" id="nervousfundoscopyvalue"></span>
                                          <%= f.input :nervoussystemfundoscopy, wrapper_html: {:class=>"col-md-9"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white nervoussystemfundoscopy' %>
                                        </div>
                                      </div>



                                      <div class="col-md-12">
                                        <div class="col-md-3">Higher mental Functions</div>
                                        <%= f.input :highermentalfunctions, wrapper_html: {:class=>"col-md-9"},collection: ['Speech','Language','Memory','Cognition'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white highermentalfunctions' %>
                                      </div>


                                      <div class="col-md-12 questionsfornervoussystemmentalfunctions">
                                        <div class="row"><span class="col-md-3" id="nervousmentalfunctionsvalue"></span>
                                          <%= f.input :questionsfornervoussystemmentalfunctions, wrapper_html: {:class=>"col-md-9"},collection: ['Intact','Impaired'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white questionsfornervoussystemmentalfunctions' %>
                                        </div>
                                      </div>





                                      <div class="col-md-12">
                                        <div class="col-md-3">Focal Neurological Deficit </div>
                                        <%= f.input :focalneurologicaldeficit, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white focalneurologicaldeficit' %>
                                      </div>




                                      <div class="col-md-12">
                                        <div class="col-md-3"><strong>Mitral Area</strong> </div>

                                        <div class="col-md-9">
                                          <div class="row">
                                            <div class="col-md-12 palpationmitralarea">
                                              <div class="col-md-12">
                                                <div class="col-md-2">
                                                  <div class="form-group">

                                                    <div class="input-group">
                                                      <%= f.input_field :durationhours, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                                      <span class="input-group-addon">/character</span>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-md-2">
                                                  <div class="form-group">

                                                    <div class="input-group">
                                                      <%= f.input_field :durationdays, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                                      <span class="input-group-addon">/rate</span>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-md-2">
                                                  <div class="form-group">

                                                    <div class="input-group">
                                                      <%= f.input_field :durationweeks, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                                      <span class="input-group-addon">/rhythm</span>
                                                    </div>
                                                  </div>
                                                </div>

                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>



                                      <div class="col-md-12">
                                        <div class="col-md-3">Palpation Thrill </div>
                                        <%= f.input :palpationthrill, wrapper_html: {:class=>"col-md-9"},collection: ['Present','Absent'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                      </div>

                                      <div class="col-md-12">
                                          <div class="col-md-3"><strong>Pulmonary Area</strong> </div>
                                        </div>




                                        <div class="col-md-12">
                                          <div class="col-md-3">Pulsation </div>
                                          <%= f.input :pulsation, wrapper_html: {:class=>"col-md-9"},collection: ['Present','Absent'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="col-md-3">Palpable heart sound </div>
                                          <%= f.input :palpableheartsound, wrapper_html: {:class=>"col-md-9"},collection: ['Present','Absent'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="col-md-3">Diastolic Shock</div>
                                          <%= f.input :diastolicShock, wrapper_html: {:class=>"col-md-9"},collection: ['Present','Absent'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Aortic Area</strong></div>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="col-md-3">Pulsation </div>
                                          <%= f.input :pulsation, wrapper_html: {:class=>"col-md-9"},collection: ['Present','Absent'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="col-md-3">Palpable heart sound </div>
                                          <%= f.input :palpableheartsound, wrapper_html: {:class=>"col-md-9"},collection: ['Present','Absent'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3">Aortic Area Thrill</div>
                                          <%= f.input :aorticareathrill, wrapper_html: {:class=>"col-md-9"},collection: ['Present','Absent'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>



                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Tricupid Area</strong></div>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3">Left Parasternal heave </div>
                                          <%= f.input :leftparasternalheave, wrapper_html: {:class=>"col-md-9"},collection: ['Present','Absent'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3">Palpable heart sound </div>
                                          <%= f.input :palpableheartsound, wrapper_html: {:class=>"col-md-9"},collection: ['Present','Absent'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3">Tricupid Area Thrill</div>
                                          <%= f.input :tricupidareathrill, wrapper_html: {:class=>"col-md-9"},collection: ['Present','Absent'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3">Palpable pericardial Rub </div>
                                          <%= f.input :palpableprecardialrub, wrapper_html: {:class=>"col-md-9"},collection: ['Present','Absent'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3">Carotid Thrill </div>
                                          <%= f.input :carotidthrill, wrapper_html: {:class=>"col-md-9"},collection: ['Present','Absent'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>










                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Auscultation</strong> </div>
                                        </div>




                                        <div class="col-md-12">
                                          <div class="col-md-2">
                                            <div class="form-group">
                                              <label for="vitalsigns-temperaturelabel">Rate</label>
                                              <div class="input-group">
                                                <%= f.input_field :durationhours, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                                <span class="input-group-addon">/min</span>
                                              </div>
                                            </div>
                                          </div>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Rhythm</strong> </div>
                                          <%= f.input :rhythm, wrapper_html: {:class=>"col-md-9"},collection: ['Regular','Irregularly irregular','Regularly irregular','Tachycardia','Bradycardia'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>



                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Splitting of S1</strong> </div>
                                          <%= f.input :splittingofs1, wrapper_html: {:class=>"col-md-9"},collection: ['Wide','Reversed'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Adventitious</strong></div>
                                          <%= f.input :adventitious, wrapper_html: {:class=>"col-md-9"},collection: ['Opening snap','Ejection click','S3 or Gallop'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Rhythm</strong></div>
                                          <%= f.input :rhythm, wrapper_html: {:class=>"col-md-9"},collection: ['Present','Absent'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>S4-atrial gallop</strong></div>
                                          <%= f.input :S4atrialgallop, wrapper_html: {:class=>"col-md-9"},collection: ['Present','Absent'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>



                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Murmur</strong></div>
                                          <%= f.input :murmur, wrapper_html: {:class=>"col-md-9"},collection: ['Mid-diastolic rumbling','Ejection systolic click','Pansystolic','Pansystolic and radiating to axilla'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Mid-diastolic rumbling</strong></div>
                                          <%= f.input :bp, wrapper_html: {:class=>"col-md-9"},collection: ['Grade I', 'Grade II','Grade III','Grade IV'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>



                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Ejection systolic click</strong></div>
                                          <%= f.input :bp, wrapper_html: {:class=>"col-md-9"},collection: ['Grade I', 'Grade II','Grade III','Grade IV','Grade V','Grade VI'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Pansystolic</strong></div>
                                          <%= f.input :bp, wrapper_html: {:class=>"col-md-9"},collection: ['Grade I', 'Grade II','Grade III','Grade IV'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Pansystolic and radiating to axilla</strong></div>
                                          <%= f.input :bp, wrapper_html: {:class=>"col-md-9"},collection: ['Grade I', 'Grade II','Grade III','Grade IV'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>




                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Arotic Area</strong></div>
                                          <%= f.input :bp, wrapper_html: {:class=>"col-md-9"},collection: ['Grade I', 'Grade II','Grade III','Grade IV'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>




                                        <div class="col-md-12">
                                          <div class="col-md-3">Pulmonary Area</div>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="col-md-3">Systolic murmur</div>
                                          <%= f.input :bp, wrapper_html: {:class=>"col-md-9"},collection: ['Grade I', 'Grade II','Grade III','Grade IV','Grade V','Grade VI'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>



                                        <div class="col-md-12">
                                          <div class="col-md-3">Diastolic mumur</div>
                                          <%= f.input :bp, wrapper_html: {:class=>"col-md-9"},collection: ['Grade I', 'Grade II','Grade III','Grade IV'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3">Tricuspid Area</div>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3">Systolic murmur</div>
                                          <%= f.input :bp, wrapper_html: {:class=>"col-md-9"},collection: ['Grade I', 'Grade II','Grade III','Grade IV','Grade V','Grade VI'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>



                                        <div class="col-md-12">
                                          <div class="col-md-3">Diastolic mumur</div>
                                          <%= f.input :bp, wrapper_html: {:class=>"col-md-9"},collection: ['Grade I', 'Grade II','Grade III','Grade IV'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3">PecardialRub </div>
                                          <%= f.input :rate, wrapper_html: {:class=>"col-md-9"},collection: ['Present','Absent'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>
                                     </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>



