<div class="step-pane active" data-step="1">

    <div class="row">

    <div class="col-md-3">

      <div class="col-md-6">Follow-up visit :</div>
      <%= f.input :isfollowupvisit, wrapper_html: {:class=>"col-md-6"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[isfollowupvisit]" }, :checked => opdrecord.read_attribute(:isfollowupvisit) || "No" %>

    </div>

    <div class="col-md-9 generalcomplaints-options">

      <div class="col-md-2">Complaints :</div>
      <%= f.input :generalcomplaints, wrapper_html: {:class=>"col-md-10"},collection: ['Resolved','Substantial improvement','Some improvement', 'Same','Worse'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[generalcomplaints]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:generalcomplaints)) %>

    </div>

    </div>

    <div class="row">

    <div class="col-md-3">

      <div class="col-md-6">Post-operative case :</div>
      <%= f.input :ispostoperativecase, wrapper_html: {:class=>"col-md-6"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[ispostoperativecase]" }, :checked => opdrecord.read_attribute(:ispostoperativecase) || "No" %>

    </div>

    <div class="col-md-9 surgergyperformed-options">

      <div class="col-md-2">Surgery Performed :</div>
      <div class="col-md-6">
        <%= f.input :surgergyperformedcomments, :label => false, :required => false, :input_html => {:class => "form-control", :name => "opdrecord[surgergyperformedcomments]", :size => "80", :maxlength => "100", :value => opdrecord.read_attribute(:surgergyperformedcomments) } %>
      </div>
      <div class="mr5"></div>
      <div class="col-md-1">Surgergy Date :</div>
      <div class="col-md-2">
        <%= f.input :surgergydate, :label => false, :required => false, :input_html => {:class => "form-control", :name => "opdrecord[surgergydate]", :size => "11", :maxlength => "11", :value => opdrecord.read_attribute(:surgergydate) } %>
      </div>

    </div>

    </div>

    <div class="row mb5">
        <div class="col-md-4">
            <div class="col-md-4">Activity level :</div>
             <%= f.input :activitylevel, wrapper_html: {:class=>"col-md-8"},collection: ['Sedentary','Active','Athletic'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[activitylevel]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:activitylevel)) %>
        </div>

          <div class="col-md-8">

              <div class="col-md-3">Profession :</div>
              <div class="col-md-9">
                <%= f.input :professioncomments, :label => false, :required => false, :input_html => {:class => "form-control", :name => "opdrecord[professioncomments]", :size => "80", :maxlength => "100", :value => opdrecord.read_attribute(:professioncomments) } %>
              </div>

          </div>

    </div>

    <div class="row">



        <div class="col-md-4">

          <div class="col-md-4">Affected :</div>
          <%= f.input :areaaffected, wrapper_html: {:class=>"col-md-8"}, collection: ['Elbow','Forearm'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[areaaffected]" }, :checked => opdrecord.read_attribute(:areaaffected) %>

        </div>

        <div class="col-md-4">

          <div class="col-md-2">Side :</div>
          <%= f.input :sidesubjective, wrapper_html: {:class=>"col-md-8"}, collection: [['Left','L'],['Bilateral','B/L'],['Right','R']], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[sidesubjective]" }, :checked => opdrecord.read_attribute(:sidesubjective) %>

        </div>
      <div class="col-md-4">

        <div class="col-md-4">Preferred hand :</div>
        <%= f.input :preferredhand, wrapper_html: {:class=>"col-md-8"}, collection: ['Right','Left'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[preferredhand]" }, :checked => opdrecord.read_attribute(:preferredhand) %>

      </div>

    </div>

    <div class="row">

      <div class="col-md-2">Chief complaint:</div>
      <%= f.input :chiefcomplaint, wrapper_html: {:class=>"col-md-10"},collection: ['Pain', 'Swelling', 'Stiffness', 'Instability', 'Deformity', 'Mass', 'Locking', 'Clicking'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[chiefcomplaint]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:chiefcomplaint)) %>

    </div>

    <div class="row">
      <div class="col-md-2">Onset:</div>
      <%= f.input :onset, wrapper_html: {:class=>"col-md-10"},collection: ['Acute','Chronic','Insidious','Recent aggravation', 'Activity related'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[onset]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:onset)) %>
    </div>

      <div class="row">
        <div class="col-md-2">Etiology:</div>
        <%= f.input :etiology, wrapper_html: {:class=>"col-md-9"},collection: ['Sports injury', 'RTA', 'Fall on hand', 'Fall on elbow', 'Spontaneous', 'Degenerative', 'Congenital', 'Other'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[etiology]" }, :checked => opdrecord.read_attribute(:etiology) %>
      </div>

      <div class="row mb5">
        <div class="col-md-2">Duration:</div>

        <div class="col-md-2">
          <div class="form-group">
            <label for="vitalsigns-pulselabel">Days</label>
            <div class="input-group">
              <%= f.input_field :durationdays, :class => "form-control", :maxlength => 4, :size => 4, :required => false, :name => "opdrecord[durationdays]", :value => opdrecord.read_attribute(:durationdays) %>
              <span class="input-group-addon">D</span>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="vitalsigns-rrlabel">Months</label>
            <div class="input-group">
              <%= f.input_field :durationmonths, :class => "form-control", :maxlength => 4, :size => 4, :required => false, :name => "opdrecord[durationmonths]", :value => opdrecord.read_attribute(:durationmonths) %>
              <span class="input-group-addon">M</span>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="vitalsigns-rrlabel">Years</label>
            <div class="input-group">
              <%= f.input_field :durationyears, :class => "form-control", :maxlength => 4, :size => 4, :required => false, :name => "opdrecord[durationyears]", :value => opdrecord.read_attribute(:durationyears)  %>
              <span class="input-group-addon">Y</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">Local treatment taken :</div>
        <%= f.input :localtreatmenttaken, wrapper_html: {:class=>"col-md-10"},collection: ['None','Massage','Manipulation', 'Immobilization', 'Radiation'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white localtreatmenttaken_buttons', :input_html => {:name => "opdrecord[localtreatmenttaken]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:localtreatmenttaken)) || ['None'] %>
      </div>

      <div class="row">
        <div class="col-md-2">Difficulty :</div>
        <%= f.input :difficulty, wrapper_html: {:class=>"col-md-10"},collection: ['Lifting','Throwing','Raising hands', 'Playing sports'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[difficulty]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:difficulty)) %>
      </div>

      <div class="row mb5">
        <div class="col-md-2">Comments :</div>
        <div class="col-md-10">
          <%= f.input :subjectivecomments, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 70, :name => "opdrecord[subjectivecomments]", :value => opdrecord.read_attribute(:subjectivecomments) } %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">Other complaints :</div>
        <%= f.input :othercomplaints, wrapper_html: {:class=>"col-md-7"},collection: ['Night pain','Rest pain','Cosmetic concern', 'Tingling in U/L', 'Numbness of fingers','Radicular U/L pain','Morning stiffness','Multiple joint pain', 'Fever', 'Kochs history'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[othercomplaints]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:othercomplaints)) %>
      </div>

    <% if params[:action] == "new" %>
      <%= render partial:'/opd_records/patient_general_history',locals: {f: f, patient_data: @patient, commen_form: "opdrecord", today: "no"}  %>
    <% elsif params[:action] == "edit" &&  @opdrecord.created_at.to_date == Date.current %>
      <%= render partial:'/opd_records/patient_general_history',locals: {f: f, patient_data: @patient, commen_form: "opdrecord", today: "yes"}  %>
    <% else %>
      <%= render partial:'/opd_records/patient_general_history',locals: {f: f, patient_data: @opdrecord, commen_form: "opdrecord", today: "no"}  %>
    <% end %>
</div>

<script>
    jQuery("#patient_patient_history_attributes_patientpersonalhistory_attributes_problems, #patient_patient_history_attributes_patientallergyhistory_attributes_antimicrobialagents, #patient_patient_history_attributes_patientallergyhistory_attributes_antifungalagents, #patient_patient_history_attributes_patientallergyhistory_attributes_antiviralagents, #patient_patient_history_attributes_patientallergyhistory_attributes_contact, #patient_patient_history_attributes_patientallergyhistory_attributes_food,#patient_patient_history_attributes_patientallergyhistory_attributes_nsaids,#patient_patient_history_attributes_patientallergyhistory_attributes_eyedrops").select2({
        tags: true,
        tokenSeparators: [',', ';'],
        theme: "bootstrap",
        multiple: true
    });
</script>