<div class="step-pane active" data-step="1">

  <ul class="nav nav-tabs nav-justified" id="ul_clinical">
    <li data-id="clinicaldetails" class="active" onclick="prefix_and_toggle('clinicaldetails', 'cda');"><a href="#clinicaldetails" data-toggle="tab"><strong>Clinical Details</strong></a></li>
    <li data-id="diagnosis" class="" onclick="prefix_and_toggle('diagnosis', 'cda');"><a href="#diagnosis" data-toggle="tab"><strong style="<%= heading_font_size %>">DIAGNOSIS</strong></a></li>
    <li data-id="radiology" class="" onclick="prefix_and_toggle('radiology', 'cda');"><a href="#radiology" data-toggle="tab"><strong>Radiology</strong></a></li>
    <li data-id="radiology" class="" onclick="prefix_and_toggle('radiology', 'cda');"><a href="#laboratory" data-toggle="tab"><strong>Laboratory</strong></a></li>
  </ul>

  <div class="tab-content">
    <%= render partial: "opd_records/orthopedics_notes/opd_partials/expresssoap_subjectiveassessment_tab_clinicaldetails" , locals: { f: f, specalityfoldername: @speciality_folder_name, opdrecord: @opdrecord, templatetype: @templatetype, opdspeciality: @opdspeciality } %>
    <%= render partial: "opd_records/orthopedics_notes/opd_partials/expresssoap_subjectiveassessment_tab_diagnosis" , locals: { f: f, specalityfoldername: @speciality_folder_name, opdrecord: @opdrecord, templatetype: @templatetype, opdspeciality: @opdspeciality } %>  
    <%= render partial: "opd_records/orthopedics_notes/opd_partials/expresssoap_subjectiveassessment_tab_radiology", locals: { f: f, specalityfoldername: @speciality_folder_name, opdrecord: @opdrecord, templatetype: @templatetype, opdspeciality: @opdspeciality } %>
    <%= render partial: "opd_records/orthopedics_notes/opd_partials/expresssoap_subjectiveassessment_tab_laboratory", locals: { f: f, specalityfoldername: @speciality_folder_name, opdrecord: @opdrecord, templatetype: @templatetype, opdspeciality: @opdspeciality } %>
  </div>

</div>