<div class="step-pane" data-step="2">

    <div class="row">
    <div class="col-md-2">General Signs :</div>
    <%= f.input :generalsigns, wrapper_html: {:class=>"col-md-10"}, collection: ['Hyperlaxity','RA','Kochs', 'Leprosy', 'PVD'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[generalsigns]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:generalsigns)) %>
  </div>

  <div class="row">
      <div class="col-md-4">
        <div class="col-md-4">Affected :</div>        
        <%= f.input :areaaffectedobjective, wrapper_html: {:class=>"col-md-8"}, collection: ['Foot','Ankle'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[areaaffectedobjective]" }, :checked => opdrecord.read_attribute(:areaaffectedobjective) %>
      </div>
      <div class="col-md-4">
        <div class="col-md-2">Side :</div>
        <%= f.input :sideobjective, wrapper_html: {:class=>"col-md-8"}, collection: [['Left','L'],['Bilateral','B/L'],['Right','R']], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[sideobjective]" }, :checked => opdrecord.read_attribute(:sideobjective) %>
      </div>
    </div>

  <div class="row">
    <div class="col-md-2">Location :</div>
    <%= f.input :location, wrapper_html: {:class=>"col-md-10"},collection: ['Ankle','Retro-calcaneum','Heel', 'Hindfoot', 'Midfoot', 'Forefoot', '1st toe', '2nd toe', '3rd toe', '4th toe', '5th toe'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[location]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:location)) %>
  </div>

  <div class="row">
    <div class="col-md-2">Foot arches :</div>
    <%= f.input :footarches, wrapper_html: {:class=>"col-md-10"},collection: ['Normal','Pes cavus','Pes planus', 'Flexible pes planus', 'Rocker-bottom foot'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white footarches_buttons', :input_html => {:name => "opdrecord[footarches]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:footarches)) || ["Normal"] %>
  </div>

  <div class="row">
    <div class="col-md-2">Skin condition :</div>
    <%= f.input :skincondition, wrapper_html: {:class=>"col-md-10"},collection: ['Normal','Tense','Contused','Abrasion', 'Wound', 'Surgical scar', 'Sinus'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white skincondition_buttons', :input_html => {:name => "opdrecord[skincondition]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:skincondition)) || ["Normal"] %>
  </div>

  <div class="row">
      <div class="col-md-2">Nails :</div>
      <%= f.input :nails, wrapper_html: {:class=>"col-md-10"},collection: ['Normal', 'In-grown', 'Paronychia', 'Dystrophy', 'Mycosis', 'Psoriasis', 'Poor arterial supply'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white nails_buttons', :input_html => {:name => "opdrecord[nails]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:nails)) || ['Normal'] %>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <%= f.input :examinationsigns, wrapper_html: {:class=>"col-md-10"},collection: ['Warmth', 'Effusion', 'Synovial thickening', 'Bony swelling', 'Soft tissue swelling', 'Tenderness', 'Crepitus'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white examinationsigns_buttons', :input_html => {:name => "opdrecord[examinationsigns]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:examinationsigns)) %>
  </div>

  <div class="row">
    <div class="col-md-2">ROM:</div>
    <div class="col-md-10">

      <table class="table table-bordered">
        <thead>
        <tr>
          <th width="6%" style="padding-top:0px;padding-bottom:0px;"></th>
          <th width="30%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Right</th>
          <th width="17%" style="padding-top:0px;padding-bottom:0px;"></th>
          <th width="30%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Left</th>
          <th width="17%" style="padding-top:0px;padding-bottom:0px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="success">
          <td class="text-center" style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">Ankle DF:PF</td>
          <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
            <div class="row">

              <div class="col-md-8">

                <div id="rom-slider-range-right-dorsi-plantar-flexion"></div>

              </div>

              <div class="col-md-4">
                <%= f.input_field :romsliderrangerightdorsiplantarflexion, :class => "form-control", :maxlength => 8, :size => 8, :required => false, :name => "opdrecord[romsliderrangerightdorsiplantarflexion]", :value => opdrecord.read_attribute(:romsliderrangerightdorsiplantarflexion) %>
              </div>

            </div>
          </td>
          <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
            <%= f.input :r_romdorsiplantarflexion, wrapper_html: {:class=>"col-md-12"},collection: ['Painful', 'Painless','Restricted', 'Crepitus'], :as => :hg_checkbox, :label => false,:required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[r_romdorsiplantarflexion]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_romdorsiplantarflexion)) %>
          </td>
          <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
            <div class="row">

              <div class="col-md-8">

                <div id="rom-slider-range-left-dorsi-plantar-flexion"></div>

              </div>

              <div class="col-md-4">
                <%= f.input_field :romsliderrangeleftdorsiplantarflexion, :class => "form-control", :maxlength => 8, :size => 8, :required => false, :name => "opdrecord[romsliderrangeleftdorsiplantarflexion]", :value => opdrecord.read_attribute(:romsliderrangeleftdorsiplantarflexion) %>
              </div>

            </div>

          </td>
          <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
            <%= f.input :l_romdorsiplantarflexion, wrapper_html: {:class=>"col-md-12"},collection: ['Painful', 'Painless','Restricted', 'Crepitus'], :as => :hg_checkbox, :label => false,:required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[l_romdorsiplantarflexion]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_romdorsiplantarflexion)) %>
          </td>
        </tr>
        <tr class="danger">
          <td class="text-center" style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">Ankle I:E</td>
          <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
            <div class="row">
              <div class="col-md-8">
                <div id="rom-slider-range-right-inversion-eversion"></div>
              </div>
              <div class="col-md-4">
                <%= f.input_field :romsliderrangerightinversioneversion, :class => "form-control", :maxlength => 8, :size => 8, :required => false, :name => "opdrecord[romsliderrangerightinversioneversion]", :value => opdrecord.read_attribute(:romsliderrangerightinversioneversion) %>
              </div>
            </div>
          </td>
          <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
            <%= f.input :r_rominversioneversion, wrapper_html: {:class=>"col-md-12"},collection: ['Painful', 'Painless','Restricted', 'Crepitus'], :as => :hg_checkbox, :label => false,:required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[r_rominversioneversion]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_rominversioneversion)) %>
          </td>
          <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
            <div class="row">
              <div class="col-md-8">
                <div id="rom-slider-range-left-inversion-eversion"></div>
              </div>
              <div class="col-md-4">
                <%= f.input_field :romsliderrangeleftinversioneversion, :class => "form-control", :maxlength => 8, :size => 8, :required => false, :name => "opdrecord[romsliderrangeleftinversioneversion]", :value => opdrecord.read_attribute(:romsliderrangeleftinversioneversion) %>
              </div>
            </div>
          </td>
          <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
            <%= f.input :l_rominversioneversion, wrapper_html: {:class=>"col-md-12"},collection: ['Painful', 'Painless','Restricted', 'Crepitus'], :as => :hg_checkbox, :label => false,:required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[l_rominversioneversion]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_rominversioneversion)) %>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="row">
    <div class="col-md-2">Ankle Instability :</div>
    <%= f.input :ankleinstability, wrapper_html: {:class=>"col-md-5"},collection: ['No', 'Yes'], :as => :hg_radio_button, :label => false,:required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[ankleinstability]" }, :checked => opdrecord.read_attribute(:ankleinstability) || "No" %>
  </div>

  <div class="row ankleinstability-options">
    <div class="col-md-2">Positive test :</div>
    <%= f.input :ankleinstabilitytests, wrapper_html: {:class=>"col-md-10"},collection: ['Anterior drawer','Talar tilt','Squeeze', 'Increased ER'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[ankleinstabilitytests]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:ankleinstabilitytests)) %>
  </div>

  <div class="row">
    <div class="col-md-2">Nerve Entrapment :</div>
    <%= f.input :nerveentrapment, wrapper_html: {:class=>"col-md-10"},collection: ['None','Sural','Tibial', 'Deep peroneal', 'Medial plantar', 'Lateral plantar'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white nerveentrapment_buttons', :input_html => {:name => "opdrecord[nerveentrapment]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:nerveentrapment)) || ['None'] %>
  </div>

  <div class="row">
    <div class="col-md-2">Other signs :</div>
    <%= f.input :othersigns, wrapper_html: {:class=>"col-md-9"}, collection: ['Hallux valgus','Bunion', 'Bunionette', 'Mortons', '1st MTP Instability', '1st MT rise', 'Mallet toe', 'Hammer toe', 'Claw toe', 'Too-many-toes', 'Peroneal subluxation', 'Heel pain on passive dorsiflexion', 'Heel pain on lateral squeezing of calcaneus', 'Achilles insufficiency', 'Ankle impingement', 'Prominent navicular', 'Abnormal heel walking', 'Abnormal toe walking', 'Abnormal shoe wear'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[othersigns]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:othersigns)) %>
  </div>

  <div class="row">
    <div class="col-md-2">Distal neuro-vascular deficit:</div>
    <%= f.input :distalneurovasculardeficit, wrapper_html: {:class=>"col-md-10"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[distalneurovasculardeficit]" }, :checked => opdrecord.read_attribute(:distalneurovasculardeficit) || 'No' %>
  </div>



  <div class="row">
    <div class="col-md-2">L/L Neurologic examination:</div>
    <%= f.input :llneurologicexamination, wrapper_html: {:class=>"col-md-10"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[llneurologicexamination]" }, :checked => opdrecord.read_attribute(:llneurologicexamination) || 'Normal' %>
  </div>

  <div class="row">
    <div class="col-md-2">Spine examination:</div>
    <%= f.input :spineexamination, wrapper_html: {:class=>"col-md-10"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[spineexamination]" }, :checked => opdrecord.read_attribute(:spineexamination) || 'Normal' %>
  </div>

  <div class="row">
    <div class="col-md-2">Hip examination:</div>
    <%= f.input :hipexamination, wrapper_html: {:class=>"col-md-10"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[hipexamination]" }, :checked => opdrecord.read_attribute(:hipexamination) || 'Normal' %>
  </div>

  <div class="row">
    <div class="col-md-2">Knee examination:</div>
    <%= f.input :kneeexamination, wrapper_html: {:class=>"col-md-10"}, collection: ['Normal', 'Genu varus', 'Genu valgus'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[kneeexamination]" }, :checked => opdrecord.read_attribute(:kneeexamination) || 'Normal' %>
  </div>

  <div class="row">
    <div class="col-md-2">LLD:</div>
    <%= f.input :lld, wrapper_html: {:class=>"col-md-10"}, collection: ['Absent', 'Shortening', 'Lengthening'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[lld]" }, :checked => opdrecord.read_attribute(:lld) || 'Absent' %>
  </div>
  <div class="row mb10">
    <div class="col-md-2">Comments:</div>
    <%= f.input :objectivecomments, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 70, :required => false, :name => "opdrecord[objectivecomments]", :value => opdrecord.read_attribute(:objectivecomments) } %>
  </div>

  <%= render partial: "opd_records/orthopedics_notes/opd_partials/anthropometry_template", locals: { f: f, opdrecord: @opdrecord }   %>

  <%= render partial: "opd_records/orthopedics_notes/opd_partials/vitalsigns_template", locals: { f: f, opdrecord: @opdrecord }   %>

</div>