
                <div class="step-pane" data-step="2">
  
                  <div class="row">
  
                    <div class="col-md-8">
  
                      <div class="panel panel-primary">
  
                        <div class="panel-body">
  
                              <div class="physicalexaminationcontent">
                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Physical Examinations</strong></div>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Built</strong> </div>
                                          <%= f.input :built, wrapper_html: {:class=>"col-md-9"},collection: ['Thin','Average','Heavy','Obese','Morbidly obese'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Level of consciousness</strong> </div>
                                          <%= f.input :levelofconsciouness, wrapper_html: {:class=>"col-md-9"},collection: ['Fully conscious','Stuporous','Semi-conscious','Unconscious','Comatose'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Pulse</strong></div>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="col-md-2">
                                            <div class="form-group">
                                              <label for="vitalsigns-temperaturelabel">Rate</label>
                                              <div class="input-group">
                                                <%= f.input_field :durationhours, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                                <span class="input-group-addon">/min</span>
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Rythm</strong></div>
                                          <%= f.input :rythm, wrapper_html: {:class=>"col-md-9"},collection: ['Regular','Regularly irregular','Irregularly regular'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Peripheral Pulses</strong></div>
                                          <%= f.input :peripheralpulses, wrapper_html: {:class=>"col-md-9"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>

                                        <div class="col-md-12">                                         
                                            <div class="form-group">
                                              <div class="col-md-6">
                                                <label for="vitalsigns-bplabel">BP</label>
                                              </div>
                                              <div class="col-md-6">
                                              <div class="input-group">
                                                <%=f .input_field :bp, :class=> "form-control", :maxlength => 4, :size => 4, :required => false %>
                                                <span class="input-group-addon">mm/Hg</span>
                                              </div>
                                             </div>
                                          </div>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Position</strong></div>
                                          <%= f.input :position, wrapper_html: {:class=>"col-md-9"},collection: ['Sitting','Standing','Supine'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white bp' %>
                                        </div>



                                        <div class="col-md-12 bpposition">
                                          <div class="col-md-3"><span id="bpposition"></span></div>
                                          <%= f.input :position, wrapper_html: {:class=>"col-md-9"},collection: ['Right Upper limb','Left Lower limb','Right Lower limb','Left Lower limb'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-2">
                                            <div class="form-group">
                                              <label for="vitalsigns-temperaturelabel">Respiratory rate</label>
                                              <div class="input-group">
                                                <%= f.input_field :durationhours, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                                <span class="input-group-addon">/min</span>
                                              </div>
                                            </div>
                                          </div>
                                        </div>


                                       <div class="col-md-6">
                                          <div class="panel panel-default">

                                            <div class="panel-body">
                                              
                                              <label for="spo2value"><span>Sp02: </span><span id="spo2value"></span><%= raw '&#37'%></label>

                                              <div id="spo2-slider"></div>
                                            </div><!-- panel-body -->
                                          </div><!-- panel -->
                                        </div><!-- col-md-6 -->




                                        <div class="col-md-6">
                                          <div class="panel panel-default">

                                            <div class="panel-body">

                                              <label for="temp"><span>Temparature: </span><span id="temp"></span><%= raw '&#8457'%> </label>

                                              <div id="slider-min"></div>
                                            </div><!-- panel-body -->
                                          </div><!-- panel -->
                                        </div><!-- col-md-6 -->



                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Pallor</strong></div>
                                          <%= f.input :bp, wrapper_html: {:class=>"col-md-9"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Oedema</strong></div>
                                          <%= f.input :bp, wrapper_html: {:class=>"col-md-9"},collection: ['Absent','Grade I', 'Grade II','Grade III'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>



                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Clubbing</strong></div>
                                          <%= f.input :bp, wrapper_html: {:class=>"col-md-9"},collection: ['Grade I', 'Grade II','Grade III','Grade IV'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Back and spine</strong></div>
                                          <%= f.input :backandspine, wrapper_html: {:class=>"col-md-9"},collection: ['Normal', 'Scoliosis','Kyphosis','Kyphoscoliosis'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3"><strong>Psychiatric status</strong></div>
                                          <%= f.input :psychiatricstatus, wrapper_html: {:class=>"col-md-9"},collection: ['Calm and quiet', 'Anxious','Agitated','Irritable','Tearful','Obtunded','Psychotic'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>
                                 </div>

                                        <div class="col-md-12"><strong>Systemic Examination</strong></div>
<br><br><br>
            
                                      <div class="col-md-12">
                                        <div class="col-md-3"><strong>Respiratory System</strong></div>
                                      </div>

           

                                        <div class="col-md-12">
                                          <div class="col-md-3">Inspection</div>
                                          <%= f.input :inspection, wrapper_html: {:class=>"col-md-9"},collection: ['Tachypnoea','Use of accessory muscles','exhalation with pursed lips','Audible wheeze','Paradoxical Breathing','Clubbing','Cyanosis','Tobacco Staining','Flapping Tremor','Kussmaul\'s breathing','Cheyne-Stokes breathing','Operation scars'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white inspection' %>
                                        </div>


                                       <div class="questionsfortachypnoea">
                                        <div class="col-md-12">
                                          <div class="col-md-3">Tachypnoea</div>
                                              <%= f.input :questionsfortachypnoea, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white inspection' %>
                                        </div>         
                                       </div>
                                      
                                      
                                       <div class="questionsforuseofaccessorymuscles">
                                        <div class="col-md-12">
                                          <div class="col-md-3">Use of accessory muscles</div>
                                              <%= f.input :questionsforuseofaccessorymuscles, wrapper_html: {:class=>"col-md-9"},collection: ['NO','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white inspection' %>
                                        </div>         
                                       </div>
                                       
                                       <div class="questionsforexhalationwithpursedlips">
                                        <div class="col-md-12">
                                          <div class="col-md-3">Exhalation with pursed lips</div>
                                              <%= f.input :questionsforexhalationwithpursedlips, wrapper_html: {:class=>"col-md-9"},collection: ['NO','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white inspection' %>
                                        </div>         
                                       </div>
                                       
                                       
                                       
                                       <div class="questionsforaudiblewheeze">
                                        <div class="col-md-12">
                                          <div class="col-md-3">Audible wheeze</div>
                                              <%= f.input :questionsforaudiblewheeze, wrapper_html: {:class=>"col-md-9"},collection: ['NO','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white inspection' %>
                                        </div>         
                                       </div>                                    
                                      
                                      
                                      
                                       <div class="questionsforparadoxicalbreathing">
                                        <div class="col-md-12">
                                          <div class="col-md-3">Paradoxical Breathing</div>
                                              <%= f.input :questionsforparadoxicalbreathing, wrapper_html: {:class=>"col-md-9"},collection: ['NO','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white inspection' %>
                                        </div>         
                                       </div>
                                      
                                      
                                      
                                       <div class="questionsforclubbing">
                                        <div class="col-md-12">
                                          <div class="col-md-3">Clubbing</div>
                                              <%= f.input :questionsforclubbing, wrapper_html: {:class=>"col-md-9"},collection: ['NO','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white inspection' %>
                                        </div>         
                                       </div>
                                      
                                      

                                       <div class="questionsforcyanosis">
                                        <div class="col-md-12">
                                          <div class="col-md-3">Cyanosis</div>
                                              <%= f.input :questionsforcyanosis, wrapper_html: {:class=>"col-md-9"},collection: ['NO','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white inspection' %>
                                        </div>         
                                       </div>
                                      
                                      
                                       <div class="questionsfortobaccostaining">
                                        <div class="col-md-12">
                                          <div class="col-md-3">Tobacco Staining</div>
                                              <%= f.input :questionsfortobaccostaining, wrapper_html: {:class=>"col-md-9"},collection: ['NO','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white inspection' %>
                                        </div>         
                                       </div>
                                      

                                       <div class="questionsforflappingtremor">
                                        <div class="col-md-12">
                                          <div class="col-md-3">Flapping Tremor</div>
                                              <%= f.input :questionsforflappingtremor, wrapper_html: {:class=>"col-md-9"},collection: ['NO','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white inspection' %>
                                        </div>         
                                       </div>
                                      

                                       <div class="questionsforkussmaulsbreathing">
                                        <div class="col-md-12">
                                          <div class="col-md-3">Kussmauls breathing</div>
                                              <%= f.input :questionsforkussmaulsbreathing, wrapper_html: {:class=>"col-md-9"},collection: ['NO','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white inspection' %>
                                        </div>         
                                       </div>
                                      

                                       <div class="questionsforcheyne-stokesbreathing">
                                        <div class="col-md-12">
                                          <div class="col-md-3">Cheyne-Stokes breathing</div>
                                              <%= f.input :questionsforcheynestokesbreathing, wrapper_html: {:class=>"col-md-9"},collection: ['NO','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white inspection' %>
                                        </div>         
                                       </div>                                

                                       <div class="questionsforoperationscars">
                                        <div class="col-md-12">
                                          <div class="col-md-3">Operation scars</div>
                                              <%= f.input :questionsforoperationscars, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white inspection' %>
                                        </div>         
                                       </div>
                                      
                                      
                                      

                                      <div class="col-md-12">
                                        <div class="col-md-3">Ausculation</div>
                                        <%= f.input :ausculation, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Rhonchi','Basal Rales','Bronchial Breath Sounds',' Basal Crackles','Basal Crepitations'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white inspection' %>
                                      </div>
                                      
                                      

                                      <div class="col-md-12 questionsforrhonchi">
                                        <div class="col-md-3">Rhonchi</div>
                                          <%= f.input :questionsforrhonchi, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white questionsforausculation' %>
                                      
                                      </div>
                                        
                                        
                                      <div class="col-md-12 questionsforbasalrales">
                                        <div class="col-md-3">Basal Rales</div>
                                          <%= f.input :questionsforbasalrales, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white questionsforausculation' %>
                                      
                                      </div>


                                      <div class="col-md-12 questionsforbronchialbreathsounds">
                                        <div class="col-md-3">Bronchial Breath Sounds</div>
                                          <%= f.input :questionsforbronchialbreathsounds, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white questionsforausculation' %>
                                      
                                      </div>


                                      <div class="col-md-12 questionsforbasalcrackles">
                                        <div class="col-md-3">Basal Crackles</div>
                                          <%= f.input :questionsforbasalcrackles, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white questionsforausculation' %>
                                      
                                      </div>


                                      <div class="col-md-12 questionsforbasalcrepitations">
                                        <div class="col-md-3">Basal Crepitations</div>
                                          <%= f.input :questionsforbasalcrepitations, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white questionsforausculation' %>
                                      </div>
                                      


                                            
                                      <div class="col-md-12">
                                        <div class="col-md-3"><strong>Gastroinstestinal System</strong></div>
                                      </div>


                                      <div class="col-md-12">
                                        <div class="col-md-3">Inspection</div>
                                        <%= f.input :gastroinspection, wrapper_html: {:class=>"col-md-9"},collection: ['Facial Puffiness','Ascites','dilated veins over abdomen','Facial Flushing','Visible pulsations'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white gastroinspection' %>
                                      </div>



                                      <div class="col-md-12 questionsforgastrointestinalinspection">
                                        <div class="row"><span class="col-md-3" id="gastroinspectionvalue"></span>
                                          <%= f.input :questionsforgastrointestinalinspection, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white questionsforgastrointestinal gastroinspection' %>
                                        </div>
                                      </div>


                                      <div class="col-md-12">
                                        <div class="col-md-3">Palpation</div>
                                        <%= f.input :gastropalpation, wrapper_html: {:class=>"col-md-9"},collection: ['Hepatomegaly','Splenomegaly','Splenic Tenderness','Hepatojugular Reflex','Pulsatile Liver','Pulsatile Spleen'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white gastropalpation' %>
                                      </div>



                                      <div class="col-md-12 questionsforgastrointestinalpalpation">
                                        <div class="row"><span class="col-md-3" id="gastropalpationvalue"></span>
                                          <%= f.input :questionsforgastrointestinalpalpation, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white questionsforgastrointestinalpalpation' %>
                                        </div>
                                      </div>




                                      <div class="col-md-12">
                                        <div class="col-md-3">Ausculation</div>
                                        <%= f.input :gastroausculation, wrapper_html: {:class=>"col-md-9"},collection: ['Bowel Sounds','Renal Bruit'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white gastroausculation' %>
                                      </div>



                                      <div class="col-md-12 questionsforgastrointestinalausculation">
                                        <div class="row"><span class="col-md-3" id="gastroausculationvalue"></span>
                                          <%= f.input :gastrointestinalausculation, wrapper_html: {:class=>"col-md-9"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white gastrointestinalausculation' %>
                                        </div>
                                      </div>

                                            
                                            
                                            
                                      <div class="col-md-12">
                                        <div class="col-md-4"><strong>Cardiovascular Examination</strong></div>                                        
                                      </div>
                                      
                                      
                                        <div class="col-md-12">
                                          <div class="col-md-3">Inspection</div>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="col-md-3">Precordium</div>
                                          <%= f.input :precordium , wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Bulged','Depressed'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="col-md-3">Deformity</div>
                                          <%= f.input :deformity , wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Pectus Excavatum','Pectus Carinatum','Barrel shaped'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3">Dilated neck veins </div>
                                          <%= f.input :dilatedneckveins , wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3">JVP </div>
                                          <%= f.input :jvp , wrapper_html: {:class=>"col-md-9"},collection: ['Raised','Not Raised'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                        </div>





                                        <div class="col-md-12 palpation">
                                          <div class="col-md-3"><strong>Palpation</strong> </div>
                                          <%= f.input :palpation, wrapper_html: {:class=>"col-md-9"},collection: ['Palpable','Not Palpable'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white palpation' %>
                                        </div>


                                      <div class="col-md-12 questionsforpalpation">
                                        <div class="col-md-3">Palpable </div>
                                        <%= f.input :questionsforpalpation , wrapper_html: {:class=>"col-md-9"},collection: ['Diffuse','Sustained','Shifted Inferiorly','Shifted Laterally','Shifted Medially'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white palpatation' %>
                                      </div>


                                      <div class="col-md-12">
                                        <div class="col-md-3"><strong>Other findings</strong> </div>
                                        <%= f.input :otherfindings, wrapper_html: {:class=>"col-md-9"},collection: ['Thrill','Diastolic Shock','Palpable S3','Parasternal Heave'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white otherfindings' %>
                                      </div>


                                      <div class="col-md-12 questionsforthrill">
                                        <div class="col-md-3">Thrill </div>
                                        <%= f.input :thrill, wrapper_html: {:class=>"col-md-9"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white thrill' %>
                                      </div>


                                      <div class="col-md-12 questionsfordiastolicshock">
                                        <div class="col-md-3">Diastolic Shock </div>
                                        <%= f.input :questionsfordiastolicshock , wrapper_html: {:class=>"col-md-9"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white palpatations' %>
                                      </div>


                                      <div class="col-md-12 questionsforpalpables3">
                                        <div class="col-md-3">Palpable S3</div>
                                        <%= f.input :questionsforpalpables3 , wrapper_html: {:class=>"col-md-9"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white palpatations' %>
                                      </div>


                                      <div class="col-md-12 questionsforparasternalheave">
                                        <div class="col-md-3">Parasternal Heave </div>
                                        <%= f.input :questionsforparasternalheave , wrapper_html: {:class=>"col-md-9"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white palpatations' %>
                                      </div>

                                      <div class="col-md-12">
                                        <div class="col-md-3"><strong>Auscultation</strong> </div>
                                      </div>



                                      <div class="col-md-12">
                                        <div class="col-md-2">
                                          <div class="form-group">
                                            <label for="vitalsigns-temperaturelabel">Rate</label>
                                            <div class="input-group">
                                              <%= f.input_field :durationhours, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                              <span class="input-group-addon">/min</span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>


                                      <div class="col-md-12">
                                        <div class="col-md-3"><strong>Rhythm</strong> </div>
                                        <%= f.input :rhythm, wrapper_html: {:class=>"col-md-9"},collection: ['Regular','Irregularly irregular','Regularly irregular','Tachycardia','Bradycardia'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                      </div>

                                      <div class="col-md-12 heartsounds">
                                        <div class="col-md-3"><strong>Heart sounds</strong> </div>
                                        <%= f.input :heartsounds, wrapper_html: {:class=>"col-md-9"},collection: ['S1','S2','S3','S4'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white heartsounds' %>
                                      </div>

                                      <div class="col-md-12 questionsfors1">
                                        <div class="col-md-3"><strong>S1</strong> </div>
                                        <%= f.input :questionsfors1, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Loud','Soft','Variable'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white s1' %>
                                      </div>


                                      <div class="col-md-12 questionsfors2">
                                        <div class="col-md-3"><strong>S2</strong> </div>
                                        <%= f.input :questionsfors2, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Physiological Split','Paradoxical Split','Fixed Split','Exaggerated Split','Loud P2'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white s2' %>
                                      </div>


                                      <div class="col-md-12 questionsfors3">
                                        <div class="col-md-3"><strong>S3</strong> </div>
                                        <%= f.input :questionsfors3, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white s1' %>
                                      </div>


                                      <div class="col-md-12 questionsfors4">
                                        <div class="col-md-3"><strong>S4</strong> </div>
                                        <%= f.input :questionsfors4, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white s1' %>
                                      </div>


                                      <div class="col-md-12 extrasounds">
                                        <div class="col-md-3"><strong>Extra sounds</strong> </div>
                                        <%= f.input :extrasounds, wrapper_html: {:class=>"col-md-9"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white extrasounds' %>
                                      </div>

                                  <div class="questionsforextrasounds">
                                      <div class="col-md-12">
                                        <div class="col-md-3">Clicks </div>
                                        <%= f.input :clicks, wrapper_html: {:class=>"col-md-9"},collection: ['Single','Multiple'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white clicks' %>
                                      </div>


                                      <div class="col-md-12">
                                        <div class="col-md-3">Rub Component </div>
                                        <%= f.input :rubcomponent, wrapper_html: {:class=>"col-md-9"},collection: ['1','2','3'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white rubcomponent' %>
                                      </div>


                                      <div class="col-md-12">
                                        <div class="col-md-3">Prosthetic Sounds </div>
                                        <%= f.input :prostheticsounds, wrapper_html: {:class=>"col-md-9"},collection: ['Crisp','Dull'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white prostheticsounds' %>
                                      </div>


                                      <div class="col-md-12">
                                        <div class="col-md-3"><strong>Other findings</strong> </div>
                                      </div>

                                      <div class="col-md-12">
                                        <div class="col-md-3">Pericardial Knock</div>
                                        <%= f.input :precardialknock, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white precardialknock' %>
                                      </div>

                                      <div class="col-md-12">
                                        <div class="col-md-3">Opening snap </div>
                                        <%= f.input :openingsnap, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white openingsnap' %>
                                      </div>

                                      <div class="col-md-12">
                                        <div class="col-md-3">Aortic Ejection Click</div>
                                        <%= f.input :aorticejection, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white aorticejection' %>
                                      </div>

                                      <div class="col-md-12">
                                        <div class="col-md-3">Pleural Rub</div>
                                        <%= f.input :pleuralrub, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white pleuralrub' %>
                                      </div>

                                      <div class="col-md-12">
                                        <div class="col-md-3">Splenic Rub</div>
                                        <%= f.input :splenicrub, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white splenicrub' %>
                                      </div>
                                   </div>



                                      <div class="col-md-12">
                                        <div class="col-md-3"><strong>Murmurs</strong> </div>
                                      </div>
                                      
                                      

                                        <div class="col-md-12">
                                          <div class="col-md-4">Number of Murmurs</div>
                                          <%= f.input :numberofmurmurs, wrapper_html: {:class=>"col-md-8"},collection: ['1','2','3'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white numberofmurmurs' %>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="col-md-3">Grade</div>
                                          <%= f.input :grade, wrapper_html: {:class=>"col-md-9"},collection: ['I','II','III','IV','V','VI'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white grade' %>
                                        </div>
  
                                        <div class="col-md-12">
                                          <div class="col-md-3">Systolic Murmur</div>
                                          <%= f.input :systolicmurmur, wrapper_html: {:class=>"col-md-9"},collection: ['Ejection Systolic/Holosytolic'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white systolicmurmur' %>
                                        </div>
                                        
                                        <div class="questionsforsystolicmurmur">
                                          <div class="col-md-12">
                                            <div class="col-md-3"></div>
                                               <%= f.input :systolicmurmur, wrapper_html: {:class=>"col-md-9"},collection: ['Harsh','Cooling','Late Peaking','Cresendo','Decresendo'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white systolicmurmur' %>
                                          </div>
                                        </div>
  
  
                                        <div class="col-md-12">
                                          <div class="col-md-3">Diastolic Murmur</div>
                                              <%= f.input :diastolic_murmur, wrapper_html: {:class=>"col-md-9"},collection: ['Blowing','Rumbling','High-Pitched','Decrescendo'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white diastolic_murmur' %>
                                        </div>

                                        <div class="col-md-12">
                                          <div class="col-md-3">Continuous Murmur</div>
                                              <%= f.input :continuous_murmur, wrapper_html: {:class=>"col-md-9"},collection: ['None','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white continuous_murmur' %>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3">Location</div>
                                              <%= f.input :murmur_location, wrapper_html: {:class=>"col-md-9"},collection: ['Mitral Area','Tricuspid Area','Arotic Area','Pulmonary Area','Left Sternal Border'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white murmur_location' %>
                                        </div>


                                        <div class="col-md-12">
                                          <div class="col-md-3">Radiation to</div>
                                              <%= f.input :murmur_radiationto, wrapper_html: {:class=>"col-md-9"},collection: ['Axilla','Neck'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white murmur_radiationto' %>
                                        </div>        


                                         <div class="col-md-12">
                                          <div class="col-md-3">Maneuvers</div>
                                              <%= f.input :murmur_maneuvers, wrapper_html: {:class=>"col-md-9"},collection: ['Valsalva','Squatting','Jumping','Exercise','Handgrip'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white murmur_maneuvers' %>
                                        </div>         

                                       <div class="questionsformaneuvers">
                                        <div class="col-md-12">
                                          <div class="col-md-3">Maneuvers</div>
                                              <%= f.input :questionsformaneuvers, wrapper_html: {:class=>"col-md-9"},collection: ['Increase','Decrease','No Change'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white murmur_maneuvers' %>
                                        </div>         
                                       </div> 
                                        
                                          <div class="col-md-12 murmurcomments">
                                             <div class="col-md-12 row">
                                                  <div class="col-md-2">Comments</div>
                                             </div>
                                              <div class="col-md-12 row">
                                                <%= f.input :murmurcomments, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 40 } %>                                     
                                              </div>
                                          </div>
                        

                                        <div class="col-md-12">
                                        <div class="col-md-3">Nervous System</div>
                                      </div>
                                      <div class="col-md-12">
                                        <div class="col-md-3">Level of Conciousness</div>
                                        <%= f.input :levelofconsciousness, wrapper_html: {:class=>"col-md-9"},collection: ['Clouding of consciousness','Confusional state','Lethargy','Obtunded','Stupor','Coma'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white gastroausculation' %>
                                      </div>


                                      <div class="col-md-12">
                                        <div class="col-md-3">Fundoscopy</div>
                                        <%= f.input :fundoscopy, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Changes of Hypertensive Retinopathy','Microaneurysms','Papilloedema'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white fundoscopy' %>
                                      </div>



                                      <div class="col-md-12">
                                        <div class="col-md-5">Changes of Hypertensive Retinopathy</div>
                                        <%= f.input :fundoscopy, wrapper_html: {:class=>"col-md-7"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false,:checked=>'Absent', :required => false,:class => 'btn btn-xs btn-white fundoscopy' %>
                                      </div>



                                      <div class="col-md-12">
                                        <div class="col-md-5">Microaneurysms</div>
                                        <%= f.input :microaneurysms, wrapper_html: {:class=>"col-md-7"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false,:checked=>'Absent', :required => false,:class => 'btn btn-xs btn-white microaneurysms' %>
                                      </div>


                                      <div class="col-md-12">
                                        <div class="col-md-5">Papilloedema</div>
                                        <%= f.input :papilloedema, wrapper_html: {:class=>"col-md-7"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false,:checked=>'Absent', :required => false,:class => 'btn btn-xs btn-white papilloedema' %>
                                      </div>



                                      <div class="col-md-12">
                                        <div class="col-md-3">Higher mental Functions</div>
                                        <%= f.input :highermentalfunctions, wrapper_html: {:class=>"col-md-9"},collection: ['Speech','Language','Memory','Cognition'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white highermentalfunctions' %>
                                      </div>


                                      <div class="col-md-12 questionsfornervoussystemmentalfunctions">
                                        <div class="row"><span class="col-md-3" id="nervousmentalfunctionsvalue"></span>
                                          <%= f.input :questionsfornervoussystemmentalfunctions, wrapper_html: {:class=>"col-md-9"},collection: ['Intact','Impaired'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white questionsfornervoussystemmentalfunctions' %>
                                        </div>
                                      </div>


                                      
                                      <div class="col-md-12">
                                        <div class="col-md-2">
                                          <div class="form-group">
                                            <label for="vitalsigns-temperaturelabel">MMSE Score</label>
                                            <div class="input-group">
                                              <%= f.input_field :durationhours, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                              <span class="input-group-addon">/30</span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                      
                                            
                                      <div class="col-md-12">
                                        <div class="row col-md-3"><strong>Cranial Nerves</strong></div>
                                          <%= f.input :cranialnerves, wrapper_html: {:class=>"col-md-9"},collection: ['CN I','CN II','CN III','CN IV','CN V','CN VI','CN VII','CN VIII','CN IX','CN X','CN XI','CN XII'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white cranialnerves' %>                                        
                                      </div>
                                      
                                            
                                      <div class="col-md-12 questionsfornervoussystemcranialnerves">
                                        <div class="row col-md-3"><span id="cranialnerves"></span></div>
                                          <%= f.input :questionsfornervoussystemcranialnerves, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Abnormal'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white questionsfornervoussystemcranialnerves' %>                                        
                                      </div>
                                      
                                      


                                      <div class="col-md-12">
                                        <div class="col-md-3"><strong>Motor System</strong></div> 
                                      </div>


                                      <div class="col-md-12">
                                        <div class="col-md-3">Focal Neurological Deficit</div>
                                        <%= f.input :focol_neurological_deficit, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white s1' %>
                                      </div>

                                     <div class="questionsforfocalneurologicaldeficit">
                                      <div class="col-md-12">
                                        <div class="col-md-3">Pronator Drift</div>
                                        <%= f.input :pronator_drift, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white s1' %>
                                      </div> 

                                      <div class="col-md-12">
                                        <div class="col-md-3">Nutrition of Muscles</div>
                                        <%= f.input :nutrition_of_muscles, wrapper_html: {:class=>"col-md-9"},collection: ['Wasting','Hypertrophy','Tone'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white s1' %>
                                      </div>
                                      
                                      
                                      <div class="col-md-12 questionsfornutritionofmuscles">
                                        <div class="col-md-3"><span id="nutritionofmuscles"></span></div>
                                        <%= f.input :questionsfornutritionofmuscles, wrapper_html: {:class=>"col-md-9"},collection: ['Absent','Present'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white questionsfornutritionofmuscles' %>
                                      </div>
                                      

                                                 
                
      
                                      
                                      <div class="col-md-12 questionsfornutrionofmusclestone">
                                         <div class="col-md-3"><span id="nutritionofmusclestone"></span></div>
                                        <%= f.input :questions_for_nutrion_of_muscles_tone, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Abnormal'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white s1' %>
                                      </div>       
  
                                   <div class="questionsformuscletone">
                                      <div class="col-md-12 abnormal_tone_table">
                                         <table class="table table-bordered table-hover">
                                           <tr>
                                            <td></td>
                                            <td>Right</td>
                                            <td>Left</td>
                                           </tr>
                                           
                                           <tr>
                                            <td>UL</td>
                                            <td><%= f.input :abnormal_tone_ul1, wrapper_html: {:class=>"col-md-9"},collection: ['Hypertonia/Hypotonia'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white s1' %></td>
                                            <td><%= f.input :abnormal_tone_ul2, wrapper_html: {:class=>"col-md-9"},collection: ['Hypertonia/Hypotonia'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white s1' %></td>
                                           </tr>
                                           
                                           <tr>
                                             <td>LL</td>
                                             <td><%= f.input :abnormal_tone_ll1, wrapper_html: {:class=>"col-md-9"},collection: ['Hypertonia/Hypotonia'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white s1' %></td>
                                              <td><%= f.input :abnormal_tone_ll2, wrapper_html: {:class=>"col-md-9"},collection: ['Hypertonia/Hypotonia'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white s1' %></td>
                                           </tr>
                                         </table>                                        
                                      </div>  
                            
                                     <div class="col-md-12 abnormal_power_table">
                                         <table class="table table-bordered table-hover">
                                           <tr>
                                            <td></td>
                                            <td style="text-align: center">Right</td>
                                            <td style="text-align: center">Left</td>
                                           </tr>
                                           
                                           <tr>
                                            <td>UL</td>
                                            <td><%= f.input :abnormal_power_ul1, wrapper_html: {:class=>"col-md-9"},collection: ['Grade I','Grade II','Grade III','Grade IV','Grade V/V'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white s1' %></td>
                                            <td><%= f.input :abnormal_power_ul2, wrapper_html: {:class=>"col-md-9"},collection: ['Grade I','Grade II','Grade III','Grade IV','Grade V/V'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white s1' %></td>
                                           </tr>
                                           
                                           <tr>
                                             <td>LL</td>
                                             <td><%= f.input :abnormal_power_ll1, wrapper_html: {:class=>"col-md-9"},collection: ['Grade I','Grade II','Grade III','Grade IV','Grade V/V'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white s1' %></td>
                                              <td><%= f.input :abnormal_power_ll2, wrapper_html: {:class=>"col-md-9"},collection: ['Grade I','Grade II','Grade III','Grade IV','Grade V/V'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white s1' %></td>
                                           </tr>
                                         </table>                                        
                                      </div>
                                     
                                     
                                     
                                     <div class="col-md-12 abnormal_reflex_table">
                                         <table class="table table-bordered table-hover">
                                           <tr>
                                            <td></td>
                                            <td class="col-md-2" style="text-align: center">Biceps</td>
                                            <td class="col-md-2" style="text-align: center">Triceps</td>
                                            <td class="col-md-2" style="text-align: center">Supinator</td>
                                            <td class="col-md-2" style="text-align: center">Knee</td>
                                            <td class="col-md-2" style="text-align: center">Ankle</td>
                                           </tr>
                                           
                                           <tr>
                                            <td>Right</td>
                                           <td>  <span class="col-md-2"><i class="glyphicon glyphicon-minus bicepsminusright"></i><span id="bicepsvalueright"></span><i class="glyphicon glyphicon-plus bicepsplusright"></i></span></td>
                                           <td>  <span class="col-md-2"><i class="glyphicon glyphicon-minus tricepsminusright"></i><span id="tricepsvalueright"></span><i class="glyphicon glyphicon-plus tricepsplusright"></i></span></td>
                                           <td>  <span class="col-md-2"><i class="glyphicon glyphicon-minus supinatorminusright"></i><span id="supinatorvalueright"></span><i class="glyphicon glyphicon-plus supinatorplusright"></i></span></td>
                                           <td>  <span class="col-md-2"><i class="glyphicon glyphicon-minus kneeminusright"></i><span id="kneevalueright"></span><i class="glyphicon glyphicon-plus kneeplusright"></i></span></td>
                                           <td>  <span class="col-md-2"><i class="glyphicon glyphicon-minus ankleminusright"></i><span id="anklevalueright"></span><i class="glyphicon glyphicon-plus ankleplusright"></i></span></td>                                                  
                                            
                                           </tr>
                                           
                                           <tr>
                                             <td>Left</td>
                                            <td>  <span class="col-md-2"><i class="glyphicon glyphicon-minus bicepsminusleft"></i><span id="bicepsvalueleft"></span><i class="glyphicon glyphicon-plus bicepsplusleft"></i></span></td>
                                           <td>  <span class="col-md-2"><i class="glyphicon glyphicon-minus tricepsminusleft"></i><span id="tricepsvalueleft"></span><i class="glyphicon glyphicon-plus tricepsplusleft"></i></span></td>
                                           <td>  <span class="col-md-2"><i class="glyphicon glyphicon-minus supinatorminusleft"></i><span id="supinatorvalueleft"></span><i class="glyphicon glyphicon-plus supinatorplusleft"></i></span></td>
                                           <td>  <span class="col-md-2"><i class="glyphicon glyphicon-minus kneeminusleft"></i><span id="kneevalueleft"></span><i class="glyphicon glyphicon-plus kneeplusleft"></i></span></td>
                                           <td>  <span class="col-md-2"><i class="glyphicon glyphicon-minus ankleminusleft"></i><span id="anklevalueleft"></span><i class="glyphicon glyphicon-plus ankleplusleft"></i></span></td>                                                  
                                           </tr>
                                         </table>                                        
                                      </div>
                                     
                                     
                                     
                                     <div class="col-md-6 abnormal_plantar_table">
                                         <table class="table table-bordered table-hover">
                                           <tr>
                                            <td>Right</td>                                            
                                            <td><%= f.input :abnormal_plantar_right, wrapper_html: {:class=>"col-md-9"},collection: ['Flexor/Extensor'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white s1' %></td>
                                           </tr>
                                           <tr>
                                            <td>Left</td>
                                            <td><%= f.input :abnormal_plantar_left, wrapper_html: {:class=>"col-md-9"},collection: ['Flexor/Extensor'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white s1' %></td>
                                           </tr>                                                                                     
                                         </table>                                        
                                      </div>  
                               </div>
  
                                      
                                      <div class="col-md-12">
                                        <div class="col-md-3"><strong>Gait</strong></div>                                                                             
                                          <%= f.input :gait, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Abnormal'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white gait' %>
                                      </div>
                                      
  
                                      
                                      
                                      <div class="col-md-12 questionsforgait">
                                        <div class="col-md-3">Gait</div>                                                                             
                                          <%= f.input :abnormal_gait, wrapper_html: {:class=>"col-md-9"},collection: ['Antalgic gait','Charlie - Chaplin gait','Circumduction gait','Waddling gait','High stepping gait','Scissoring gait','Stiff hip gait','Trendelenburg gait'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white abnormal_gait' %>
                                      </div>
                                   </div>         
  
  <!--  all the contents in one line,
upon click a popup                      <div class="col-md-12">
will open                                <div class="col-md-3"><strong>Sensory System</strong></div>
                                        <%= f.input :sensory_system, wrapper_html: {:class=>"col-md-9"},collection: ['Vibration','Joint position sense','Crude Touch','Pain','Temparature','Light Touch','Graphesthesia','Stereognosis','Romberg'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white sensory_system' %>
                                      </div>
               -->
                                     <div class="col-md-12">
                                       <div class="col-md-3"><strong>Sensory System</strong></div>                                      
                                     </div>
  
  
                                      <div class="col-md-12">
                                        <div class="col-md-3">Vibration</div>
                                          <%= f.input :vibration, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Impaired'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white vibration' %>
                                      </div>
                                      
                                      
                                      <div class="col-md-12">
                                        <div class="col-md-3">Joint position sense</div>
                                          <%= f.input :joint_position_sense, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Impaired'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white joint_position_sense' %>
                                      </div>
                                      
                                      
                                      <div class="col-md-12">
                                        <div class="col-md-3">Crude Touch</div>
                                          <%= f.input :crude_touch, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Impaired'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white crude_touch' %>
                                      </div>
                                      
                                      
                                      <div class="col-md-12">
                                        <div class="col-md-3">Pain</div>
                                          <%= f.input :pain, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Impaired'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white pain' %>
                                      </div>
                                      
                                      
                                      <div class="col-md-12">
                                        <div class="col-md-3">Temparature</div>
                                          <%= f.input :temparature, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Impaired'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white temparature' %>
                                      </div>
                                      
                                      
                                      <div class="col-md-12">
                                        <div class="col-md-3">Light touch</div>
                                          <%= f.input :light_touch, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Impaired'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white vibration' %>
                                      </div>
                                      
                                      
                                      <div class="col-md-12">
                                        <div class="col-md-3">Graphesthesia</div>
                                          <%= f.input :graphesthesia, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Impaired'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white graphesthesia' %>
                                      </div>
                                      
                                      
                                      <div class="col-md-12">
                                        <div class="col-md-3">Stereognosis</div>
                                          <%= f.input :stereognosis, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Impaired'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white stereognosis' %>
                                      </div>
                                      
                                      
                                      <div class="col-md-12">
                                        <div class="col-md-3">Romberg</div>
                                          <%= f.input :romberg, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Impaired'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white romberg' %>
                                      </div>
                                      
                                      
                                      
                                     <div class="col-md-12">
                                       <div class="col-md-3"><strong>Co-ordination</strong></div>                                      
                                     </div>  
                                      
                                      
                                      <div class="col-md-12">
                                        <div class="col-md-3">Truncal stability</div>
                                          <%= f.input :truncal_stability, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Impaired'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white truncal_stability' %>
                                      </div>
                                      
                                      
                                      <div class="col-md-12">
                                        <div class="col-md-3">Fine finger movements</div>
                                          <%= f.input :fine_finger_movement, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Impaired'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white fine_finger_movement' %>
                                      </div>
                                      
                                      
                                      <div class="col-md-12">
                                        <div class="col-md-3">Fine Finger</div>
                                          <%= f.input :fine_finger, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Impaired'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white fine_finger' %>
                                      </div>
                                      
                                      
                                      <div class="col-md-12">
                                        <div class="col-md-3">Finger-nose-finger</div>
                                          <%= f.input :finger_nose_finger, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Impaired'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white finger_nose_finger' %>
                                      </div>
                                      
                                      
                                      <div class="col-md-12">
                                        <div class="col-md-3">Heel-knee-shin</div>
                                          <%= f.input :heel_knee_shin, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Impaired'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white heel_knee_shin' %>
                                      </div>
                                      
                                      
                                      <div class="col-md-12">
                                        <div class="col-md-3">Dysdiadochokinesia</div>
                                          <%= f.input :dysdiadochokinesia, wrapper_html: {:class=>"col-md-9"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white dysdiadochokinesia' %>
                                      </div>
                                                                        
                                      
                                      
                                      
                                      
<!--                                      
                                      <div class="col-md-12 questionsforsensorysystem">                                        
                                        <%= f.input :sensory_system_condition, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Impaired'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white sensory_system_condition' %>
                                      </div>
                                      
                                      
                                      
                                      <div class="col-md-12">
                                        <div class="col-md-3"><strong>Co-ordination</strong></div>
                                        <%= f.input :co_ordination, wrapper_html: {:class=>"col-md-9"},collection: ['Truncal stability','Fine finger movements','Finger-Finger','Finger-nose-finger','Heel-knee-shin','Dysdiadochokinesia'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white co_ordination' %>
                                      </div>
                                      
                                      
                                      
                                      <div class="col-md-12 questionsforcoordinationcondition">                                        
                                        <%= f.input :co_ordination_condition, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Impaired'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white co_ordination_condition' %>
                                      </div>
                                      
                                      
                                      <div class="col-md-12 questionsfordysdiadochokinesia">                                        
                                        <%= f.input :dysdiadochokinesia_condition, wrapper_html: {:class=>"col-md-9"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white dysdiadochokinesia_condition' %>
                                      </div>
 -->                                     
                                     
                                      <div class="col-md-12">
                                        <div class="col-md-3"><strong>Meningeal Signs</strong></div>                                                                             
                                          <%= f.input :meningeal_signs, wrapper_html: {:class=>"col-md-9"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white meningeal_signs' %>
                                      </div>
                                       
                                      
                                      
                                      
         
  
  
  
  
  
                      </div>
  
                    </div>
  
                  </div>
  
                </div>
  
              </div>
  
  