<div class="step-pane" data-step="2">

    <div class="row">
      <div class="col-md-2">General Signs :</div>
      <%= f.input :generalsigns, wrapper_html: {:class=>"col-md-10"}, collection: ['Hyperlaxity','RA','Kochs', 'Blood disorder', 'Rickets'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[generalsigns]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:generalsigns)) %>
    </div>
    
    <div class="row">
      <div class="col-md-4">
        <div class="col-md-4">Affected :</div>        
        <%= f.input :areaaffectedobjective, wrapper_html: {:class=>"col-md-8"}, collection: ['Hip','Thigh'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[areaaffectedobjective]" }, :checked => opdrecord.read_attribute(:areaaffectedobjective) %>
      </div>
      <div class="col-md-4">
        <div class="col-md-2">Side :</div>
        <%= f.input :sideobjective, wrapper_html: {:class=>"col-md-8"}, collection: [['Left','L'],['Bilateral','B/L'],['Right','R']], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[sideobjective]" }, :checked => opdrecord.read_attribute(:sideobjective) %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">Gait :</div>
      <%= f.input :gait, wrapper_html: {:class=>"col-md-10"},collection: ['Normal','Antalgic','Trendelenburg','Waddling','G. max lurch', 'Quadriceps lurch'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white gait_buttons', :input_html => {:name => "opdrecord[gait]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:gait)) || ['Normal'] %>
    </div>    

    <div class="row">
      <div class="col-md-2">Skin condition :</div>
      <%= f.input :skincondition, wrapper_html: {:class=>"col-md-10"},collection: ['Normal','Tense','Contused','Abrasion','Wound', 'Surgical scar', 'Sinus'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white skincondition_buttons', :input_html => {:name => "opdrecord[skincondition]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:skincondition)) || ['Normal'] %>
    </div>

  <div class="row">
    <div class="col-md-2"></div>
    <%= f.input :examinationsigns, wrapper_html: {:class=>"col-md-10"},collection: ['Warmth', 'Effusion', 'Synovial thickening', 'Bony swelling', 'Soft tissue swelling', 'Loss of lumbar lordosis'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white examinationsigns_buttons', :input_html => {:name => "opdrecord[examinationsigns]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:examinationsigns)) %>
  </div>

    <div class="row">
        <div class="col-md-2">Tenderness :</div>
        <%= f.input :tenderness, wrapper_html: {:class=>"col-md-10"},collection: ['None', 'Anterior', 'Trochanteric', 'Trans-trochanteric', 'Gluteal', 'Adductor insertion', 'Ischial tuberosity', 'Sacro-ilaic', 'Thigh'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white tenderness_buttons', :input_html => {:name => "opdrecord[tenderness]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:tenderness)) || ['None'] %>
    </div>

    <div class="row">
        <div class="col-md-2">GT :</div>
        <%= f.input :gt, wrapper_html: {:class=>"col-md-10"},collection: ['Normal', 'Upriding', 'Broadened', 'Externally rotated'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white gt_buttons', :input_html => {:name => "opdrecord[gt]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:gt)) || ['Normal'] %>
    </div>

    <div class="row">
      <div class="col-md-2">Deformity :</div>
      <%= f.input :deformity, wrapper_html: {:class=>"col-md-10"},collection: ['None', 'Flexion', 'Adduction', 'Abduction', 'IR', 'ER'], :as => :hg_checkbox,:label => false,  :required => false, :class => 'btn btn-xs btn-white deformity_buttons', :input_html => {:name => "opdrecord[deformity]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:deformity)) || ['None'] %>
    </div>

    <div class="row">
      <div class="col-md-2">ROM :</div>
      <div class="col-md-10">

        <table class="table table-bordered">
          <thead>
          <tr>
            <th width="6%" style="padding-top:0px;padding-bottom:0px;"></th>
            <th width="30%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Right</th>
            <th width="17%" style="padding-top:0px;padding-bottom:0px;"></th>
            <th width="30%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Left</th>
            <th width="17%" style="padding-top:0px;padding-bottom:0px;"></th>
          </tr>
          </thead>
          <tbody>
          <tr class="success">
            <td class="text-center" style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">Hip E:F</td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="row">

                <div class="col-md-8">

                  <div id="rom-slider-range-right-extension-flexion"></div>

                </div>

                <div class="col-md-4">
                  <%= f.input_field :romsliderrangerightextensionflexion, :class => "form-control", :maxlength => 8, :size => 8, :required => false, :name => "opdrecord[romsliderrangerightextensionflexion]", :value => opdrecord.read_attribute(:romsliderrangerightextensionflexion) %>
                </div>

              </div>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input :r_romextensionflexion, wrapper_html: {:class=>"col-md-12"},collection: ['Painful', 'Painless','Restricted', 'Crepitus'], :as => :hg_checkbox, :label => false,:required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[r_romextensionflexion]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_romextensionflexion)) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="row">

                <div class="col-md-8">

                  <div id="rom-slider-range-left-extension-flexion"></div>

                </div>

                <div class="col-md-4">
                  <%= f.input_field :romsliderrangeleftextensionflexion, :class => "form-control", :maxlength => 8, :size => 8, :required => false, :name => "opdrecord[romsliderrangeleftextensionflexion]", :value => opdrecord.read_attribute(:romsliderrangeleftextensionflexion) %>
                </div>

              </div>

            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input :l_romextensionflexion, wrapper_html: {:class=>"col-md-12"},collection: ['Painful', 'Painless','Restricted', 'Crepitus'], :as => :hg_checkbox, :label => false,:required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[l_romextensionflexion]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_romextensionflexion)) %>
            </td>
          </tr>
          <tr class="danger">
            <td class="text-center" style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">Hip AD:AB</td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="row">
                <div class="col-md-8">
                  <div id="rom-slider-range-right-adduction-abduction"></div>
                </div>
                <div class="col-md-4">
                  <%= f.input_field :romsliderrangerightadductionabduction, :class => "form-control", :maxlength => 8, :size => 8, :required => false, :name => "opdrecord[romsliderrangerightadductionabduction]", :value => opdrecord.read_attribute(:romsliderrangerightadductionabduction) %>
                </div>
              </div>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input :r_romadductionabduction, wrapper_html: {:class=>"col-md-12"},collection: ['Painful', 'Painless','Restricted', 'Crepitus'], :as => :hg_checkbox, :label => false,:required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[r_romadductionabduction]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_romadductionabduction)) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="row">
                <div class="col-md-8">
                  <div id="rom-slider-range-left-adduction-abduction"></div>
                </div>
                <div class="col-md-4">
                  <%= f.input_field :romsliderrangeleftadductionabduction, :class => "form-control", :maxlength => 8, :size => 8, :required => false, :name => "opdrecord[romsliderrangeleftadductionabduction]", :value => opdrecord.read_attribute(:romsliderrangeleftadductionabduction) %>
                </div>
              </div>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input :l_romadductionabduction, wrapper_html: {:class=>"col-md-12"},collection: ['Painful', 'Painless','Restricted', 'Crepitus'], :as => :hg_checkbox, :label => false,:required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[l_romadductionabduction]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_romadductionabduction)) %>
            </td>
          </tr>
          <tr class="success">
            <td class="text-center" style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">Hip IR:ER</td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="row">
                <div class="col-md-8">
                  <div id="rom-slider-range-right-ir-er"></div>
                </div>
                <div class="col-md-4">
                  <%= f.input_field :romsliderrangerightirer, :class => "form-control", :maxlength => 8, :size => 8, :required => false, :name => "opdrecord[romsliderrangerightirer]", :value => opdrecord.read_attribute(:romsliderrangerightirer) %>
                </div>
              </div>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input :r_romirer, wrapper_html: {:class=>"col-md-12"},collection: ['Painful', 'Painless','Restricted', 'Crepitus'], :as => :hg_checkbox, :label => false,:required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[r_romirer]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_romirer)) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="row">
                <div class="col-md-8">
                  <div id="rom-slider-range-left-ir-er"></div>
                </div>
                <div class="col-md-4">
                  <%= f.input_field :romsliderrangeleftirer, :class => "form-control", :maxlength => 8, :size => 8, :required => false, :name => "opdrecord[romsliderrangeleftirer]", :value => opdrecord.read_attribute(:romsliderrangeleftirer) %>
                </div>
              </div>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input :l_romirer, wrapper_html: {:class=>"col-md-12"},collection: ['Painful', 'Painless','Restricted', 'Crepitus'], :as => :hg_checkbox, :label => false,:required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[l_romirer]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_romirer)) %>
            </td>
          </tr>
          </tbody>
        </table>

      </div>


    </div>

    <div class="row">
      <div class="col-md-2">Wasting :</div>
      <%= f.input :wasting, wrapper_html: {:class=>"col-md-10"},collection: ['None', 'Gluteus maximus', 'Gluteus medius', 'Quadriceps', 'Hamstrings'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white wasting_buttons', :input_html => {:name => "opdrecord[wasting]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:wasting)) || ['None'] %>
    </div>

    <div class="row">
      <div class="col-md-2">SI joint pathology :</div>
      <%= f.input :sijointpathology, wrapper_html: {:class=>"col-md-5"},collection: ['No', 'Yes'], :as => :hg_radio_button, :label => false,:required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[sijointpathology]" }, :checked => opdrecord.read_attribute(:sijointpathology) || "No" %>
    </div>

    <div class="row sijointpathology-options">
      <div class="col-md-2">Positive test :</div>
      <%= f.input :sijointpathologytests, wrapper_html: {:class=>"col-md-10"},collection: ['FABER','Gaenslen','Pelvic compression-distraction'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[sijointpathologytests]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:sijointpathologytests)) %>
    </div>

    <div class="row">
      <div class="col-md-2">Ankylosing Spondylitis signs :</div>
      <%= f.input :ankylosingspondylitissigns, wrapper_html: {:class=>"col-md-5"},collection: ['No', 'Yes'], :as => :hg_radio_button, :label => false,:required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[ankylosingspondylitissigns]" }, :checked => opdrecord.read_attribute(:ankylosingspondylitissigns) || "No" %>
    </div>

    <div class="row ankylosingspondylitissigns-options">
      <div class="col-md-2">Abnormal test :</div>
      <%= f.input :ankylosingspondylitissignstests, wrapper_html: {:class=>"col-md-10"},collection: ['Schobers','Chest expansion','Chin-brow measure'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[ankylosingspondylitissignstests]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:ankylosingspondylitissignstests)) %>
    </div>

    <div class="row">
      <div class="col-md-2">Distal neuro-vascular deficit:</div>
      <%= f.input :distalneurovasculardeficit, wrapper_html: {:class=>"col-md-10"}, collection: ['Absent', 'Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[distalneurovasculardeficit]" }, :checked => opdrecord.read_attribute(:distalneurovasculardeficit) || 'Absent' %>
    </div>

  <div class="row">
    <div class="col-md-2">Other signs :</div>
    <%= f.input :othersigns, wrapper_html: {:class=>"col-md-7"}, collection: ['None','Impingement', 'Trendelenburg', 'Telescopy', 'Negative SLR', 'Limb lengthening', 'Limb shortening', 'Ortolani', 'Barlows', 'Obers', 'Phelps', 'Elys', 'Narath', 'Galeazzi', 'Gear-stick', 'Sectoral', 'FAIR'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[othersigns]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:othersigns)) %>
  </div>

  <div class="row mb10">
    <div class="col-md-2">Comments:</div>
    <%= f.input :objectivecomments, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 70, :required => false, :name => "opdrecord[objectivecomments]", :value => opdrecord.read_attribute(:objectivecomments) } %>
  </div>

  <%= render partial: "opd_records/orthopedics_notes/opd_partials/anthropometry_template", locals: { f: f, opdrecord: @opdrecord }   %>

  <%= render partial: "opd_records/orthopedics_notes/opd_partials/vitalsigns_template", locals: { f: f, opdrecord: @opdrecord }   %>

</div>