<div class="step-pane" data-step="2">

  <div class="row">
    <div class="col-md-2">General Signs :</div>
    <%= f.input :generalsigns, wrapper_html: {:class=>"col-md-10"}, collection: ['Hyperlaxity','RA','Kochs', 'Blood disorder', 'Rickets'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[generalsigns]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:generalsigns)) %>
  </div>

  <div class="row">
      <div class="col-md-4">
        <div class="col-md-4">Affected :</div>        
        <%= f.input :areaaffectedobjective, wrapper_html: {:class=>"col-md-8"}, collection: ['Knee','Leg'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[areaaffectedobjective]" }, :checked => opdrecord.read_attribute(:areaaffectedobjective) %>
      </div>
      <div class="col-md-4">
        <div class="col-md-2">Side :</div>
        <%= f.input :sideobjective, wrapper_html: {:class=>"col-md-8"}, collection: [['Left','L'],['Bilateral','B/L'],['Right','R']], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[sideobjective]" }, :checked => opdrecord.read_attribute(:sideobjective) %>
      </div>
  </div>

  <div class="row">
    <div class="col-md-2">Alignment :</div>
    <%= f.input :alignment, wrapper_html: {:class=>"col-md-10"},collection: ['Normal','Constitutional Varus','Correctible Varus','Fixed Varus','Valgus'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white alignment_buttons', :input_html => {:name => "opdrecord[alignment]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:alignment)) || ["Normal"] %>
  </div>

  <div class="row">
    <div class="col-md-2">Skin condition :</div>
    <%= f.input :skincondition, wrapper_html: {:class=>"col-md-10"},collection: ['Normal', 'Tense', 'Contused', 'Abrasion', 'Wound', 'Surgical scar', 'Sinus'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white skincondition_buttons', :input_html => {:name => "opdrecord[skincondition]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:skincondition)) || ["Normal"] %>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <%= f.input :examinationsigns, wrapper_html: {:class=>"col-md-10"},collection: ['Warmth', 'Effusion', 'Synovial thickening', 'Bony swelling', 'Soft tissue swelling', 'Posterior fullness'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white examinationsigns_buttons', :input_html => {:name => "opdrecord[examinationsigns]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:examinationsigns)) %>
  </div>

  <div class="row">
    <div class="col-md-2">Tenderness :</div>
    <%= f.input :tenderness, wrapper_html: {:class=>"col-md-10"},collection: ['None', 'Medial Joint Line', 'Lateral Joint Line', 'RPT', 'Pes anserinus', 'ITB', 'Anterior', 'Retropatellar', 'Tibal- Upper Third', 'Tibal- Middle Third', 'Tibal- Lower Third'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white tenderness_buttons', :input_html => {:name => "opdrecord[tenderness]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:tenderness)) || ['None'] %>
  </div>

  <div class="row">
    <div class="col-md-2">ROM:</div>
    <div class="col-md-10">

      <table class="table table-bordered">
        <thead>
        <tr>
          <th width="6%" style="padding-top:0px;padding-bottom:0px;"></th>
          <th width="30%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Right</th>
          <th width="17%" style="padding-top:0px;padding-bottom:0px;"></th>
          <th width="30%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Left</th>
          <th width="17%" style="padding-top:0px;padding-bottom:0px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="success">
          <td class="text-center" style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">Knee E:F</td>
          <td style="padding-left:0px;padding-top:0px;padding-bottom:0px;padding:0px;">
            <div class="row">

              <div class="col-md-8">

                <div id="rom-slider-range-right-extension-flexion"></div>

              </div>

              <div class="col-md-4">
                <%= f.input_field :romsliderrangerightextensionflexion, :class => "form-control", :maxlength => 10, :size => 10, :required => false, :name => "opdrecord[romsliderrangerightextensionflexion]", :value => opdrecord.read_attribute(:romsliderrangerightextensionflexion) %>
              </div>

            </div>
          </td>
          <td style="padding-left:0px;padding-top:0px;padding-bottom:0px;padding:0px;">
                <%= f.input :r_rom, wrapper_html: {:class=>"col-md-12"},collection: ['Painful', 'Painless','Restricted', 'Crepitus'], :as => :hg_checkbox, :label => false,:required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[r_rom]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_rom)) %>
          </td>
          <td style="padding-left:0px;padding-top:0px;padding-bottom:0px;padding:0px;">
            <div class="row">

              <div class="col-md-8">

                <div id="rom-slider-range-left-extension-flexion"></div>

              </div>

              <div class="col-md-4">
                <%= f.input_field :romsliderrangeleftextensionflexion, :class => "form-control", :maxlength => 10, :size => 10, :required => false, :name => "opdrecord[romsliderrangeleftextensionflexion]", :value => opdrecord.read_attribute(:romsliderrangeleftextensionflexion) %>
              </div>

            </div>

          </td>
          <td style="padding-left:0px;padding-top:0px;padding-bottom:0px;padding:0px;">
            <%= f.input :l_rom, wrapper_html: {:class=>"col-md-12"},collection: ['Painful', 'Painless','Restricted', 'Crepitus'], :as => :hg_checkbox, :label => false,:required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[l_rom]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_rom)) %>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="row">
    <div class="col-md-2">Patello-femoral Crepitus :</div>
    <%= f.input :patellofermoralcrepitus, wrapper_html: {:class=>"col-md-5"},collection: ['No', 'Yes'], :as => :hg_radio_button, :label => false,:required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[patellofermoralcrepitus]" }, :checked => opdrecord.read_attribute(:patellofermoralcrepitus) || "No" %>
  </div>

  <div class="row">
    <div class="col-md-2">Mcmurray test :</div>
    <%= f.input :mcmurraytest, wrapper_html: {:class=>"col-md-5"},collection: ['Negative', 'Positive'], :as => :hg_radio_button, :label => false,:required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[mcmurraytest]" }, :checked => opdrecord.read_attribute(:mcmurraytest) || "Negative" %>
  </div>

  <div class="row">
    <div class="col-md-2">Instability :</div>
    <%= f.input :instability, wrapper_html: {:class=>"col-md-5"},collection: ['No', 'Yes'], :as => :hg_radio_button, :label => false,:required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[instability]" }, :checked => opdrecord.read_attribute(:instability) || "No" %>
  </div>

  <div class="row instabilitytests-options">
    <div class="col-md-2">Positive test :</div>
    <%= f.input :instabilitytests, wrapper_html: {:class=>"col-md-10"},collection: ['Anterior drawer','Anterior Lachman','Pivot shift', 'Posterior drawer', 'Posterior Lachman', 'Posterior sag', 'Dial', 'Varus stres', 'Valgus stress'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[instabilitytests]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:instabilitytests)) %>
  </div>

  <div class="row">
    <div class="col-md-2">Patella:</div>
    <%= f.input :patella, wrapper_html: {:class=>"col-md-7"}, collection: ['Normal', 'Alta', 'Baja', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[patella]" }, :checked => opdrecord.read_attribute(:patella) || 'Normal' %>
  </div>

  <div class="row patellatests-options">
    <div class="col-md-2">Patella tests :</div>
    <%= f.input :patellatests, wrapper_html: {:class=>"col-md-10"},collection: ['J-sign','Apprehension','Painful grind', 'Reduced tilt', 'Excessive glide'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[patellatests]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:patellatests)) %>
  </div>

  <div class="row">
    <div class="col-md-2">Wasting:</div> 
    <%= f.input :wasting, wrapper_html: {:class=>"col-md-7"}, collection: ['None', 'VMO', 'Quadriceps', 'Hamstrings', 'Calf'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white wasting_buttons', :input_html => {:name => "opdrecord[wasting]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:wasting)) || ['None'] %>
  </div>

  <div class="row">
    <div class="col-md-2">Distal neuro-vascular deficit:</div>
    <%= f.input :distalneurovasculardeficit, wrapper_html: {:class=>"col-md-10"}, collection: ['Absent', 'Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[distalneurovasculardeficit]" }, :checked => opdrecord.read_attribute(:distalneurovasculardeficit) || 'Absent' %>
  </div>

  <div class="row">
    <div class="col-md-2">Other signs :</div>
    <%= f.input :othersigns, wrapper_html: {:class=>"col-md-7"}, collection: ['Varus thrust gait','Gait asymmetry','Limb shortening', 'Lower limb varicosities', 'Flat feet', 'Foot over-pronation', 'ITB tightness', 'Quadriceps tightness', 'Hamstring tightness', 'Squinting patella'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[othersigns]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:othersigns)) %>
  </div>

  <div class="row mb10">
    <div class="col-md-2">Comments:</div>
    <%= f.input :objectivecomments, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 70, :required => false, :name => "opdrecord[objectivecomments]", :value => opdrecord.read_attribute(:objectivecomments) } %>
  </div>

  <%= render partial: "opd_records/orthopedics_notes/opd_partials/anthropometry_template", locals: { f: f, opdrecord: @opdrecord }   %>

  <%= render partial: "opd_records/orthopedics_notes/opd_partials/vitalsigns_template", locals: { f: f, opdrecord: @opdrecord }   %>

</div>