<div class="step-pane active" data-step="1">

  <div class="row">

    <div class="col-md-8">

      <div class="panel panel-primary">

        <div class="panel-heading">
          <h4 class="panel-title">History</h4>
        </div>
        <div class="panel-body">

          <div class="row">
            <div class="col-md-2">Encounter Type:</div>
            <%= f.input :encountertype, wrapper_html: {:class=>"col-md-10"},collection: ['Initial encounter for fracture', 'Subsequent encounter for fracture with routine healing', 'Subsequent encounter for fracture with delayed healing', 'Subsequent encounter for fracture with nonunion', 'Subsequent encounter for fracture with malunion', 'Initial encounter for fracture sequelae', 'Subsequent encounter for fracture sequelae'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white' %>
          </div>

          <div class="row">
            <div class="col-md-2">Mode of Injury :</div>
            <%= f.input :etiology, wrapper_html: {:class=>"col-md-10"},collection: ['RTA', 'Sports injury', 'Fall(standing)', 'Fall(stairs)', 'Fall(height)', 'Direct trauma', 'Twisting injury', 'Spontaneous', 'Others'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white' %>
          </div>

          <div class="row mb10">
            <div class="col-md-2">Date of injury :</div>
            <div class="input-group col-md-3">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              <%= f.input_field :dateofinjury, class: "form-control dateofinjury", :id => "dateofinjury", :required => false, :placeholder => "dd/mm/yyyy" %>
            </div>
          </div>

          <div class="row mb10">
            <div class="col-md-2">Duration :</div>
            <div class="col-md-10">
              <div class="col-md-2">
                <div class="input-group">
                  <%= f.input_field :durationhours, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                  <span class="input-group-addon">H</span>
                </div>
              </div>
              <div class="col-md-2">
                <div class="input-group">
                  <%= f.input_field :durationdays, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                  <span class="input-group-addon">D</span>
                </div>
              </div>
              <div class="col-md-2">
                <div class="input-group">
                  <%= f.input_field :durationweeks, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                  <span class="input-group-addon">W</span>
                </div>
              </div>
              <div class="col-md-2">
                <div class="input-group">
                  <%= f.input_field :durationmonths, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                  <span class="input-group-addon">M</span>
                </div>
              </div>
              <div class="col-md-2">
                <div class="input-group">
                  <%= f.input_field :durationyears, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                  <span class="input-group-addon">Y</span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">Possible type of fracture :</div>
            <%= f.input :possibletypeoffracture, wrapper_html: {:class=>"col-md-9"},collection: ['Traumatic', 'Pathologic fracture', 'Stress fracture', 'Periprosthetic fracture'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white' %>
          </div>

          <div class="col-md-12 ifpathologic" id="ifpathologic">
            <label for="ifpathologic-radioselectlabel">If Pathologic</label>
            <table class="table table-bordered">

              <thead>
              <tr>
                <th width="50%"></th>
                <th width="50%"></th>
              </tr>
              </thead>
              <tbody>
              <tr class="success">
                <td>
                  <div class="form-group col-md-12" id="nightpain">
                    <div for="nightpain-radioselectlabel" class="col-md-3">Night pain</div>
                    <%= f.input :nightpain, wrapper_html: {:class=>"col-md-3"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[nightpain]" }, :checked => opdrecord.read_attribute(:nightpain) || 'No' %>
                  </div>

                </td>

                <td>
                  <div class="form-group col-md-12" id="painatfracturesitebeforeinjury">
                    <div for="painatfracturesitebeforeinjury-radioselectlabel" class="col-md-7">Pain at fracture site before injury</div>
                    <%= f.input :painatfracturesitebeforeinjury, wrapper_html: {:class=>"col-md-4"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[painatfracturesitebeforeinjury]" }, :checked => opdrecord.read_attribute(:painatfracturesitebeforeinjury) || 'No' %>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-group col-md-12" id="historyofprevioussuchfractures">
                    <div for="historyofprevioussuchfractures-radioselectlabel" class="col-md-7">Pain at fracture site before injury</div>
                    <%= f.input :historyofprevioussuchfractures, wrapper_html: {:class=>"col-md-4"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[historyofprevioussuchfractures]" }, :checked => opdrecord.read_attribute(:historyofprevioussuchfractures) || 'No' %>
                  </div>
                </td>
                <td>
                  <div class="form-group col-md-12" id="focalradiationexposure">
                    <div for="postdrawer-radioselectlabel" class="col-md-4">Focal radiation exposure</div>
                    <%= f.input :focalradiationexposure, wrapper_html: {:class=>"col-md-4"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[focalradiationexposure]" }, :checked => opdrecord.read_attribute(:focalradiationexposure) || 'No' %>
                  </div>
                </td>
              </tr>
              <tr class="success">
                <td>
                  <div class="form-group col-md-12" id="sedentarylifestyle">
                    <div for="sedentarylifestyle-radioselectlabel" class="col-md-4">Sedentary lifestyle(disuse)</div>
                    <%= f.input :sedentarylifestyle, wrapper_html: {:class=>"col-md-4"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[sedentarylifestyle]" }, :checked => opdrecord.read_attribute(:sedentarylifestyle) || 'No' %>
                  </div>
                </td>
              </tr>

              </tbody>

            </table>

          </div>

          <div class="col-md-12 ifstress" id="ifstress">
            <label for="ifstress-radioselectlabel">If Stress fracture</label>
            <table class="table table-bordered">

              <thead>
              <tr>
                <th width="50%"></th>
                <th width="50%"></th>
              </tr>
              </thead>
              <tbody>
              <tr class="success">
                <td>
                  <div class="form-group col-md-12" id="unusualincreaseinactivity">
                    <div for="unusualincreaseinactivity-radioselectlabel" class="col-md-4">Unusual increase in activity</div>
                    <%= f.input :unusualincreaseinactivity, wrapper_html: {:class=>"col-md-4"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[unusualincreaseinactivity]" }, :checked => opdrecord.read_attribute(:unusualincreaseinactivity) || 'No' %>
                  </div>
                </td>

                <td>
                  <div class="form-group col-md-12" id="activityrelatedpain">
                    <div for="activityrelatedpain-radioselectlabel" class="col-md-4">Activity related pain</div>
                    <%= f.input :activityrelatedpain, wrapper_html: {:class=>"col-md-4"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[activityrelatedpain]" }, :checked => opdrecord.read_attribute(:activityrelatedpain) || 'No' %>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-group col-md-12" id="graduallyprogressiveincreaseinpain">
                    <div for="graduallyprogressiveincreaseinpain-radioselectlabel" class="col-md-4">Gradually progressive increase in pain</div>
                    <%= f.input :graduallyprogressiveincreaseinpain, wrapper_html: {:class=>"col-md-4"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[graduallyprogressiveincreaseinpain]" }, :checked => opdrecord.read_attribute(:graduallyprogressiveincreaseinpain) || 'No' %>
                  </div>
                </td>
              </tr>
              </tbody>

            </table>

          </div>

          <div class="col-md-12 ifperiprosthetic" id="ifperiprosthetic">
            <label for="ifstress-radioselectlabel">If Periprosthetic fracture</label>
            <table class="table table-bordered">

              <thead>
              <tr>
                <th width="50%"></th>
                <th width="50%"></th>
              </tr>
              </thead>
              <tbody>
              <tr class="success">
                <td>
                  <div class="form-group" id="indexdiagnosis">
                    <label for="indexdiagnosis-radioselectlabel">Index diagnosis</label>
                    <%= f.input :indexdiagnosis, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 40, :required => false } %>
                  </div>

                </td>
                <td>
                  <div class="form-group" id="procedureperformed">
                    <label for="procedureperformed-radioselectlabel">Procedure performed</label>
                    <%= f.input :procedureperformed, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 40, :required => false } %>
                  </div>
                </td>
              </tr>

              <tr>
                <td>

                  <label>Date of surgery</label>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    <%= f.input_field :dateofsurgery, class: "form-control dateofsurgery", :id => "dateofsurgery", :required => false, :placeholder => "dd/mm/yyyy" %>
                  </div>
                </td>
                <td>
                  <div class="form-group" id="ifperiprostheticdetails">
                    <label for="ifperiprostheticdetails-radioselectlabel">Details</label>
                    <%= f.input :ifperiprostheticdetails, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 40, :required => false } %>
                  </div>

                </td>
              </tr>
              </tbody>

            </table>

          </div>

          <div class="col-md-12">

            <div class="row">

              <div class="col-md-6">
                <div class="form-group col-md-12" id="headinjurylossofconsciousness">
                  <div for="graduallyprogressiveincreaseinpain-radioselectlabel" class="col-md-4">Head injury/Loss of consciousness</div>
                  <%= f.input :headinjurylossofconsciousness, wrapper_html: {:class=>"col-md-4"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[headinjurylossofconsciousness]" }, :checked => opdrecord.read_attribute(:headinjurylossofconsciousness) || 'No' %>
                </div>

              </div>

              <div class="col-md-6">
                <div class="form-group col-md-12" id="chestinjury">
                  <div for="chestinjury-radioselectlabel" class="col-md-4">Chest injury</div>
                  <%= f.input :chestinjury, wrapper_html: {:class=>"col-md-4"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[chestinjury]" }, :checked => opdrecord.read_attribute(:chestinjury) || 'No' %>
                </div>

              </div>

            </div>

          </div>

          <div class="col-md-12">

            <div class="row">

              <div class="col-md-6">

                <div class="form-group col-md-12" id="chestinjury">
                  <div for="chestinjury-radioselectlabel" class="col-md-4">Chest injury</div>
                  <%= f.input :chestinjury, wrapper_html: {:class=>"col-md-4"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[chestinjury]" }, :checked => opdrecord.read_attribute(:chestinjury) || 'No' %>
                </div>

                <div class="form-group col-md-12" id="abdomeninjury">
                  <div for="abdomeninjury-radioselectlabel" class="col-md-4">Abdomen Injury</div>
                  <%= f.input :abdomeninjury, wrapper_html: {:class=>"col-md-4"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[abdomeninjury]" }, :checked => opdrecord.read_attribute(:abdomeninjury) || 'No' %>
                </div>

              </div>

              <div class="col-md-6">

                <div class="form-group col-md-12" id="backinjury">
                  <div for="backinjury-radioselectlabel" class="col-md-4">Back injury</div>
                  <%= f.input :backinjury, wrapper_html: {:class=>"col-md-4"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[backinjury]" }, :checked => opdrecord.read_attribute(:backinjury) || 'No' %>
                </div>


              </div>

            </div>

          </div>

          <div class="col-md-12">

            <label for="comments-textarealabel">Comments</label>
            <%= f.input :subjectivecomments, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 70} %>

          </div>



        </div>

      </div><!-- panel -->

    </div>

    <div class="col-md-4">

      <div class="panel panel-success">

        <div class="panel-heading">
          <div class="pull-right">
            <div class="dropdown optional_switch" >
              <button type="button" class="btn btn-default" data-toggle="dropdown">Toggle <span class="caret"></span></button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="optional-dropdown" hg-parent-element="hg_subjective_optional">
                <li role="presentation"><a role="menuitem" hg-element="treatment_history" href="#">Treatment history</a></li>
                <li role="presentation"><a role="menuitem" hg-element="family_history" href="#">Family history</a></li>
                <li role="presentation"><a role="menuitem" hg-element="personal_history" href="#">Personal history</a></li>
                <li role="presentation"><a role="menuitem" hg-element="current_medications" href="#">Current medications</a></li>
                <li role="presentation"><a role="menuitem" hg-element="allergies" href="#">Allergies</a></li>
              </ul>
            </div>
          </div>
          <h4 class="panel-title">Optional</h4>
        </div>
        <div class="panel-body" id="hg_subjective_optional">

          <div class="row" id="treatment_history" style="display: none">

            <div class="col-md-4">
              <h3 id="treatmenthistory"><span class="label label-info">Treatment history</span></h3>
            </div>

            <div class="col-md-8">

              <div class="row" id="treatmenthistoryfields">

                <div class="col-md-12">

                  <label for="treatmenthistoryprevioushospitalization-radioselectlabel">Previous Hospitalization</label>
                  <%= f.input :treatmenthistoryprevioushospitalization, collection: ['No', 'Yes'], as: :radio_buttons,  :label => false, :item_wrapper_class => 'radio-inline', :checked => ['No'] %>

                </div>

                <div class="col-md-12">

                  <label for="treatmenthistoryofsurgery-radioselectlabel">H/o surgery</label>
                  <%= f.input :treatmenthistoryofsurgery, collection: ['No', 'Yes'], as: :radio_buttons,  :label => false, :item_wrapper_class => 'radio-inline', :checked => ['No'] %>

                </div>

                <div class="col-md-12">

                  <label for="treatmenthistoryhtn-radioselectlabel">HTN</label>
                  <%= f.input :treatmenthistoryhtn, collection: ['No', 'Yes'], as: :radio_buttons,  :label => false, :item_wrapper_class => 'radio-inline', :checked => ['No'] %>

                </div>

                <div class="col-md-12">

                  <label for="treatmenthistorydm-radioselectlabel">DM</label>
                  <%= f.input :treatmenthistorydm, collection: ['No', 'Yes'], as: :radio_buttons,  :label => false, :item_wrapper_class => 'radio-inline', :checked => ['No'] %>

                </div>

                <div class="col-md-12">

                  <label for="treatmenthistorytuberculosis-radioselectlabel">Tuberculosis</label>
                  <%= f.input :treatmenthistorytuberculosis, collection: ['No', 'Yes'], as: :radio_buttons,  :label => false, :item_wrapper_class => 'radio-inline', :checked => ['No'] %>

                </div>

                <div class="col-md-12">

                  <label for="treatmenthistoryasthma-radioselectlabel">Asthma</label>
                  <%= f.input :treatmenthistoryasthma, collection: ['No', 'Yes'], as: :radio_buttons,  :label => false, :item_wrapper_class => 'radio-inline', :checked => ['No'] %>

                </div>

                <div class="col-md-12">

                  <label for="treatmenthistoryallergies-radioselectlabel">Allergies</label>
                  <%= f.input :treatmenthistoryallergies, collection: ['No', 'Yes'], as: :radio_buttons,  :label => false, :item_wrapper_class => 'radio-inline', :checked => ['No'] %>

                </div>

                <div class="col-md-12">

                  <label for="treatmenthistorycardiovasculardisease-radioselectlabel">Cardiovascular disease</label>
                  <%= f.input :treatmenthistorycardiovasculardisease, collection: ['No', 'Yes'], as: :radio_buttons,  :label => false, :item_wrapper_class => 'radio-inline', :checked => ['No'] %>

                </div>

                <div class="col-md-12">

                  <label for="treatmenthistorystroke-radioselectlabel">Stroke</label>
                  <%= f.input :treatmenthistorystroke, collection: ['No', 'Yes'], as: :radio_buttons,  :label => false, :item_wrapper_class => 'radio-inline', :checked => ['No'] %>

                </div>

                <div class="col-md-12">

                  <label for="treatmenthistoryhepatitis-radioselectlabel">Hepatitis</label>
                  <%= f.input :treatmenthistoryhepatitis, collection: ['No', 'Yes'], as: :radio_buttons,  :label => false, :item_wrapper_class => 'radio-inline', :checked => ['No'] %>

                </div>

              </div>


            </div>

          </div>


          <div class="row" id="family_history" style="display: none">

            <div class="col-md-4">
              <h3 id="familyhistory"><span class="label label-info">Family history</span></h3>
            </div>

            <div class="col-md-8">

              <div class="row" id="familyhistoryfields">

                <div class="col-md-12">

                  <label for="familyhistoryhypertension-radioselectlabel">Hypertension</label>
                  <%= f.input :familyhistoryhypertension, collection: ['No', 'Yes'], as: :radio_buttons,  :label => false, :item_wrapper_class => 'radio-inline', :checked => ['No'] %>

                </div>

                <div class="col-md-12">

                  <label for="familyhistorydm-radioselectlabel">DM</label>
                  <%= f.input :familyhistorydm, collection: ['No', 'Yes'], as: :radio_buttons,  :label => false, :item_wrapper_class => 'radio-inline', :checked => ['No'] %>

                </div>

                <div class="col-md-12">

                  <label for="familyhistoryallergy-radioselectlabel">Allergy/Asthma</label>
                  <%= f.input :familyhistoryallergy, collection: ['No', 'Yes'], as: :radio_buttons,  :label => false, :item_wrapper_class => 'radio-inline', :checked => ['No'] %>

                </div>

                <div class="col-md-12">

                  <label for="familyhistorytb-radioselectlabel">Tuberculosis</label>
                  <%= f.input :familyhistorytb, collection: ['No', 'Yes'], as: :radio_buttons,  :label => false, :item_wrapper_class => 'radio-inline', :checked => ['No'] %>

                </div>

                <div class="col-md-12">

                  <label for="familyhistorycardiovasculardisease-radioselectlabel">Cardiovascular disease</label>
                  <%= f.input :familyhistorycardiovasculardisease, collection: ['No', 'Yes'], as: :radio_buttons,  :label => false, :item_wrapper_class => 'radio-inline', :checked => ['No'] %>

                </div>

                <div class="col-md-12">

                  <label for="familyhistorygeneticdisease-radioselectlabel">Genetic disease</label>
                  <%= f.input :familyhistorygeneticdisease, collection: ['No', 'Yes'], as: :radio_buttons,  :label => false, :item_wrapper_class => 'radio-inline', :checked => ['No'] %>

                </div>

                <div class="col-md-12">

                  <label for="familyhistorycancer-radioselectlabel">Cancer</label>
                  <%= f.input :familyhistorycancer, collection: ['No', 'Yes'], as: :radio_buttons,  :label => false, :item_wrapper_class => 'radio-inline', :checked => ['No'] %>

                </div>

              </div>

            </div>

          </div>


          <div class="row" id="personal_history" style="display: none">

            <div class="col-md-4">
              <h3 id="personalhistory"><span class="label label-info">Personal history</span></h3>
            </div>

            <div class="col-md-8">

              <div class="row" id="personalhistoryfields">

                <div class="col-md-12">

                  <label for="personalhistoryalocholintake-radioselectlabel">Alcohol intake-significant</label>
                  <%= f.input :personalhistoryalocholintake, collection: ['No', 'Yes'], as: :radio_buttons,  :label => false, :item_wrapper_class => 'radio-inline', :checked => ['No'] %>

                </div>

                <div class="col-md-12">

                  <label for="personalhistorysmoking-radioselectlabel">Smoking</label>
                  <%= f.input :personalhistorysmoking, collection: ['No', 'Yes'], as: :radio_buttons,  :label => false, :item_wrapper_class => 'radio-inline', :checked => ['No'] %>

                </div>

                <div class="col-md-12">

                  <label for="personalhistoryfamily-radioselectlabel">Family</label>
                  <%= f.input :personalhistoryfamily, collection: ['No', 'Yes'], as: :radio_buttons,  :label => false, :item_wrapper_class => 'radio-inline', :checked => ['No'] %>

                </div>

                <div class="col-md-12">

                  <label for="personalhistoryjob-radioselectlabel">Job</label>
                  <%= f.input :personalhistoryjob, collection: ['No', 'Yes'], as: :radio_buttons,  :label => false, :item_wrapper_class => 'radio-inline', :checked => ['No'] %>

                </div>

              </div>

            </div>

          </div>


          <div class="row" id="current_medications" style="display: none">

            <div class="col-md-4">
              <h3 id="currentmedications"><span class="label label-info">Current medications</span></h3>
            </div>

            <div class="col-md-8">

              <div class="row" id="currentmedicationsfields">

                <div class="col-md-12">

                  <%= f.input :currentmedicationslist, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 30 } %>

                </div>

              </div>


            </div>

          </div>


          <div class="row" id="allergies" style="display: none">

            <div class="col-md-4">
              <h3 id="allergies"><span class="label label-info">Allergies</span></h3>
            </div>

            <div class="col-md-8">

              <div class="row" id="allergiesfields">

                <div class="col-md-12">

                  <%= f.input :allergieslist, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 30 } %>

                </div>

              </div>


            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>