<div class="step-pane" data-step="2">

  <div class="row">
    <div class="col-md-2">General Signs :</div>
    <%= f.input :generalsigns, wrapper_html: {:class=>"col-md-10"}, collection: ['Hyperlaxity','RA','Kochs', 'Blood disorder', 'Rickets'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[generalsigns]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:generalsigns)) %>
  </div>

    <div class="row">

      <div class="col-md-4">
        <div class="col-md-4">Affected :</div>        
        <%= f.input :areaaffectedobjective, wrapper_html: {:class=>"col-md-8"}, collection: ['Shoulder','Arm'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[areaaffectedobjective]" }, :checked => opdrecord.read_attribute(:areaaffectedobjective) %>
      </div>
      <div class="col-md-4">
        <div class="col-md-2">Side :</div>
        <%= f.input :sideobjective, wrapper_html: {:class=>"col-md-8"}, collection: [['Left','L'],['Bilateral','B/L'],['Right','R']], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[sideobjective]" }, :checked => opdrecord.read_attribute(:sideobjective) %>
      </div>
      <div class="col-md-4">
        <div class="col-md-4">Preferred hand :</div>
        <%= f.input :preferredhandobjective, wrapper_html: {:class=>"col-md-8"}, collection: ['Right','Left'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[preferredhandobjective]" }, :checked => opdrecord.read_attribute(:preferredhandobjective) %>
      </div>
    </div>

  <div class="row">
    <div class="col-md-2">Skin condition :</div>
    <%= f.input :skincondition, wrapper_html: {:class=>"col-md-10"},collection: ['Normal', 'Tense', 'Contused', 'Abrasion', 'Wound', 'Surgical scar', 'Sinus'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white skincondition_buttons', :input_html => {:name => "opdrecord[skincondition]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:skincondition)) || ["Normal"] %>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <%= f.input :examinationsigns, wrapper_html: {:class=>"col-md-10"},collection: ['Warmth', 'Effusion', 'Synovial thickening', 'Bony swelling', 'Soft tissue swelling', 'Scapular Dyskinesia'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white examinationsigns_buttons', :input_html => {:name => "opdrecord[examinationsigns]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:examinationsigns)) %>
  </div>

  <div class="row">
      <div class="col-md-2">Tenderness :</div>
      <%= f.input :tenderness, wrapper_html: {:class=>"col-md-10"},collection: ['None', 'Anterior capsular', 'Biceps', 'Deltoid', 'Posterior', 'Clavicle', 'AC joint', 'Coracoid', 'SC joint', 'Trapezius', 'Rhomboids', 'Cervical spine'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white tenderness_buttons', :input_html => {:name => "opdrecord[tenderness]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:tenderness)) || ['None'] %>
  </div>

  <div class="row">
        <div class="col-md-2">ROM:</div>
        <div class="col-md-10">

          <table class="table table-bordered">
            <thead>
            <tr>
              <th width="6%" style="padding-top:0px;padding-bottom:0px;"></th>
              <th width="30%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Right</th>
              <th width="17%" style="padding-top:0px;padding-bottom:0px;"></th>
              <th width="30%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Left</th>
              <th width="17%" style="padding-top:0px;padding-bottom:0px;"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="success">
              <td class="text-center" style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">Shoulder E:F</td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="row">

                  <div class="col-md-8">

                    <div id="rom-slider-range-right-extension-flexion"></div>

                  </div>

                  <div class="col-md-4">
                    <%= f.input_field :romsliderrangerightextensionflexion, :class => "form-control", :maxlength => 8, :size => 8, :required => false, :name => "opdrecord[romsliderrangerightextensionflexion]", :value => opdrecord.read_attribute(:romsliderrangerightextensionflexion) %>
                  </div>

                </div>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input :r_romextensionflexion, wrapper_html: {:class=>"col-md-12"},collection: ['Painful', 'Painless','Restricted', 'Crepitus'], :as => :hg_checkbox, :label => false,:required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[r_romextensionflexion]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_romextensionflexion)) %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="row">

                  <div class="col-md-8">

                    <div id="rom-slider-range-left-extension-flexion"></div>

                  </div>

                  <div class="col-md-4">
                    <%= f.input_field :romsliderrangeleftextensionflexion, :class => "form-control", :maxlength => 8, :size => 8, :required => false, :name => "opdrecord[romsliderrangeleftextensionflexion]", :value => opdrecord.read_attribute(:romsliderrangeleftextensionflexion) %>
                  </div>

                </div>

              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input :l_romextensionflexion, wrapper_html: {:class=>"col-md-12"},collection: ['Painful', 'Painless','Restricted', 'Crepitus'], :as => :hg_checkbox, :label => false,:required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[l_romextensionflexion]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_romextensionflexion)) %>
              </td>
            <tr class="danger">
              <td class="text-center" style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">Shoulder AB</td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="row">
                  <div class="col-md-8">
                    <div id="rom-slider-range-right-abduction"></div>
                  </div>
                  <div class="col-md-4">
                    <%= f.input_field :romsliderrangerightabduction, :class => "form-control", :maxlength => 8, :size => 8, :required => false, :name => "opdrecord[romsliderrangerightabduction]", :value => opdrecord.read_attribute(:romsliderrangerightabduction) %>
                  </div>
                </div>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input :r_romabduction, wrapper_html: {:class=>"col-md-12"},collection: ['Painful', 'Painless','Restricted', 'Crepitus'], :as => :hg_checkbox, :label => false,:required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[r_romabduction]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_romabduction)) %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="row">
                  <div class="col-md-8">
                    <div id="rom-slider-range-left-abduction"></div>
                  </div>
                  <div class="col-md-4">
                    <%= f.input_field :romsliderrangeleftabduction, :class => "form-control", :maxlength => 8, :size => 8, :required => false, :name => "opdrecord[romsliderrangeleftabduction]", :value => opdrecord.read_attribute(:romsliderrangeleftabduction) %>
                  </div>
                </div>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input :l_romabduction, wrapper_html: {:class=>"col-md-12"},collection: ['Painful', 'Painless','Restricted', 'Crepitus'], :as => :hg_checkbox, :label => false,:required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[l_romabduction]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_romabduction)) %>
              </td>
            </tr>
            <tr class="success">
              <td class="text-center" style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">Shoulder ER</td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="row">
                  <div class="col-md-8">
                    <div id="rom-slider-range-right-external-rotation"></div>
                  </div>
                  <div class="col-md-4">
                    <%= f.input_field :romsliderrangerightexternalrotation, :class => "form-control", :maxlength => 8, :size => 8, :required => false, :name => "opdrecord[romsliderrangerightexternalrotation]", :value => opdrecord.read_attribute(:romsliderrangerightexternalrotation) %>
                  </div>
                </div>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input :r_romexternalrotation, wrapper_html: {:class=>"col-md-12"},collection: ['Painful', 'Painless','Restricted', 'Crepitus'], :as => :hg_checkbox, :label => false,:required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[r_romexternalrotation]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_romexternalrotation)) %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="row">
                  <div class="col-md-8">
                    <div id="rom-slider-range-left-external-rotation"></div>
                  </div>
                  <div class="col-md-4">
                    <%= f.input_field :romsliderrangeleftexternalrotation, :class => "form-control", :maxlength => 8, :size => 8, :required => false, :name => "opdrecord[romsliderrangeleftexternalrotation]", :value => opdrecord.read_attribute(:romsliderrangeleftexternalrotation) %>
                  </div>
                </div>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input :l_romexternalrotation, wrapper_html: {:class=>"col-md-12"},collection: ['Painful', 'Painless','Restricted', 'Crepitus'], :as => :hg_checkbox, :label => false,:required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[l_romexternalrotation]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_romexternalrotation)) %>
              </td>
            </tr>
            <tr class="danger">
              <td class="text-center" style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">Shoulder IR</td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="row">
                  <div class="col-md-8">
                    <div id="rom-slider-range-right-internal-rotation"></div>
                  </div>
                  <div class="col-md-4">
                    <%= f.input_field :romsliderrangerightinternalrotation, :class => "form-control", :maxlength => 8, :size => 8, :required => false, :name => "opdrecord[romsliderrangerightinternalrotation]", :value => opdrecord.read_attribute(:romsliderrangerightinternalrotation) %>
                  </div>
                </div>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input :r_rominternalrotation, wrapper_html: {:class=>"col-md-12"},collection: ['Painful', 'Painless','Restricted', 'Crepitus'], :as => :hg_checkbox, :label => false,:required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[r_rominternalrotation]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_rominternalrotation)) %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="row">
                  <div class="col-md-8">
                    <div id="rom-slider-range-left-internal-rotation"></div>
                  </div>
                  <div class="col-md-4">
                    <%= f.input_field :romsliderrangeleftinternalrotation, :class => "form-control", :maxlength => 8, :size => 8, :required => false, :name => "opdrecord[romsliderrangeleftinternalrotation]", :value => opdrecord.read_attribute(:romsliderrangeleftinternalrotation) %>
                  </div>
                </div>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input :l_rominternalrotation, wrapper_html: {:class=>"col-md-12"},collection: ['Painful', 'Painless','Restricted', 'Crepitus'], :as => :hg_checkbox, :label => false,:required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[l_rominternalrotation]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_rominternalrotation)) %>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
  </div>

  <div class="row">
    <div class="col-md-2">Impingement :</div>
    <%= f.input :impingement, wrapper_html: {:class=>"col-md-2"},collection: ['No', 'Yes'], :as => :hg_radio_button, :label => false,:required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[impingement]" }, :checked => opdrecord.read_attribute(:impingement) || "No" %>
            <div class="impingement-options">
              <div class="col-md-2">Positive test :</div>
              <%= f.input :impingementtests, wrapper_html: {:class=>"col-md-6"},collection: ["Neer's",'Hawkin-Kennedy','Painful arc', "Jobe's"], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[impingementtests]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:impingementtests)) %>
            </div>
  </div>


  <div class="row">
    <div class="col-md-2">Cuff signs :</div>
    <%= f.input :cuffsigns, wrapper_html: {:class=>"col-md-2"},collection: ['No', 'Yes'], :as => :hg_radio_button, :label => false,:required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[cuffsigns]" }, :checked => opdrecord.read_attribute(:cuffsigns) || "No" %>
            <div class="cuff-options">
              <div class="col-md-2">Positive test :</div>
              <%= f.input :cuffsignstests, wrapper_html: {:class=>"col-md-6"},collection: ['Empty can','Full can','Drop-arm', 'Belly press', 'Bear hug', 'Lift-off', 'IR lag', 'ER lag', 'Horn Blowers'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[cuffsignstests]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:cuffsignstests)) %>
            </div>
  </div>

  <div class="row">
    <div class="col-md-2">Biceps/ SLAP signs :</div>
    <%= f.input :bicepsslapsigns, wrapper_html: {:class=>"col-md-2"},collection: ['No', 'Yes'], :as => :hg_radio_button, :label => false,:required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[bicepsslapsigns]" }, :checked => opdrecord.read_attribute(:bicepsslapsigns) || "No" %>
            <div class="biceps-options">
              <div class="col-md-2">Positive test :</div>
              <%= f.input :bicepsslapsignstests, wrapper_html: {:class=>"col-md-6"},collection: ["O'Brien",'Speed', 'Yergason', 'Popeye sign'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[bicepsslapsignstests]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:bicepsslapsignstests)) %>
            </div>
  </div>

  <div class="row">
    <div class="col-md-2">Instability :</div>
    <%= f.input :instability, wrapper_html: {:class=>"col-md-2"},collection: ['No', 'Yes'], :as => :hg_radio_button, :label => false,:required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[instability]" }, :checked => opdrecord.read_attribute(:instability) || "No" %>
            <div class="instability-options">
              <div class="col-md-2">Positive test :</div>
              <%= f.input :instabilitytests, wrapper_html: {:class=>"col-md-6"},collection: ["Jobe's relocation",'Anterior apprehension',"Crank's","Kim's", 'Load-shift'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[instabilitytests]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:instabilitytests)) %>
            </div>
  </div>

  <div class="row">
    <div class="col-md-2">Weakness :</div>
    <%= f.input :weakness, wrapper_html: {:class=>"col-md-10"},collection: ['Global','Deltoid', 'Trapezius', 'Rhomboids', 'Serratus anterior', 'Latissimus dorsi', 'Pectoralis major', 'Supraspinatus', 'Infraspinatus', 'Subscapularis', 'Biceps'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[weakness]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:weakness)) %>
  </div>

  <div class="row">
    <div class="col-md-2">Distal neuro-vascular deficit:</div>
    <%= f.input :distalneurovasculardeficit, wrapper_html: {:class=>"col-md-10"}, collection: ['Absent', 'Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[distalneurovasculardeficit]" }, :checked => opdrecord.read_attribute(:distalneurovasculardeficit) || 'Absent' %>
  </div>

  <div class="distalneurovasculardeficit-options" id="distalneurovasculardeficit-options">

    <div class="row">
      <div class="col-md-2">Sensory deficit :</div>
      <%= f.input :sensorydeficit, wrapper_html: {:class=>"col-md-10"},collection: ['C5','C6', 'C7', 'C8', 'T1', 'Axillary', 'Musculocutaneous', 'Median', 'Radial', 'Ulnar'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[sensorydeficit]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:sensorydeficit)) %>
    </div>

    <div class="row">
      <div class="col-md-2">Motor deficit :</div>
      <%= f.input :motordeficit, wrapper_html: {:class=>"col-md-10"},collection: ['C5','C6', 'C7', 'C8', 'T1', 'Axillary', 'Musculocutaneous', 'Median', 'Radial', 'Ulnar'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[motordeficit]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:motordeficit)) %>
    </div>

    <div class="row">
      <div class="col-md-2">Vascular deficit :</div>
      <%= f.input :vascualardeficit, wrapper_html: {:class=>"col-md-10"},collection: ['Brachial','Radial', 'Ulnar'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[vascualardeficit]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:vascualardeficit)) %>
    </div>

  </div>

  <div class="row">
    <div class="col-md-2">Other signs :</div>
    <%= f.input :othersigns, wrapper_html: {:class=>"col-md-7"}, collection: ['Gleno-humeral crepitus','Cross-body adduction test', 'Spurlings sign', 'Adsons test', 'Hyper-abduction test', 'Restricted neck ROM', 'Inability to initiate abduction', 'Inability to maintain abduction'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[othersigns]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:othersigns)) %>
  </div>

  <div class="row mb10">
    <div class="col-md-2">Comments:</div>
    <%= f.input :objectivecomments, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 70, :required => false, :name => "opdrecord[objectivecomments]", :value => opdrecord.read_attribute(:objectivecomments) } %>
  </div>

  <%= render partial: "opd_records/orthopedics_notes/opd_partials/anthropometry_template", locals: { f: f, opdrecord: @opdrecord }   %>

  <%= render partial: "opd_records/orthopedics_notes/opd_partials/vitalsigns_template", locals: { f: f, opdrecord: @opdrecord }   %>

</div>