<div class="step-pane" data-step="2">

  <div class="row">
    <div class="col-md-2">General Signs :</div>
    <%= f.input :generalsigns, wrapper_html: {:class=>"col-md-10"}, collection: ['Hyperlaxity','RA','Kochs', 'Skeletal dysplasia', 'Neurofibromatosis', 'Klippel-Feil syndrome', 'Non-musculoskeletal primary malignancy'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[generalsigns]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:generalsigns)) %>
  </div>

  <div class="row">
    <div class="col-md-2">Level:</div>
    <%= f.input :level, wrapper_html: {:class=>"col-md-10"},collection: ['Atlanto-occipital', 'Atlanto-axial', 'Cervical', 'Cervico-dorsal', 'Dorsal', 'Dorso-lumbar', 'Lumbar', 'Lumbo-sacral', 'Sacro-iliac', 'Coccyygeal'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[level]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:level)) %>
  </div>

  <div class="row">
    <div class="col-md-2">Skin condition :</div>
    <%= f.input :skincondition, wrapper_html: {:class=>"col-md-10"},collection: ['Normal', 'Tense', 'Contused', 'Abrasion', 'Wound', 'Surgical scar', 'Sinus'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white skincondition_buttons', :input_html => {:name => "opdrecord[skincondition]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:skincondition)) || ["Normal"] %>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <%= f.input :examinationsigns, wrapper_html: {:class=>"col-md-10"},collection: ['Warmth', 'Tenderness', 'Paraspinal spasm', 'Soft swelling', 'Knuckle', 'Gibbus', 'List', 'Scapular asymmetry', 'Pelvic asymmetry'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white examinationsigns_buttons', :input_html => {:name => "opdrecord[examinationsigns]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:examinationsigns)) %>
  </div>

  <div class="row">
    <div class="col-md-2">Deformity :</div>
    <%= f.input :deformity, wrapper_html: {:class=>"col-md-10"},collection: ['None','Increased kyphosis','Decreased kyphosis','Increased lordosis', 'Decreased lordosis', 'Scoliosis', 'Rib hump'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white deformity_buttons', :input_html => {:name => "opdrecord[deformity]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:deformity)) || ["None"] %>
  </div>

  <div class="row">
    <div class="col-md-2">Movements :</div>
    <%= f.input :movements, wrapper_html: {:class=>"col-md-10"},collection: ['Free','Restricted', 'Painful'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[movements]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:movements)) %>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <%= f.input :movementsigns, wrapper_html: {:class=>"col-md-10"},collection: ['Flexion', 'Extension', 'Left rotation', 'Right rotation', 'Left bending', 'Right bending'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white movementsigns_buttons', :input_html => {:name => "opdrecord[movementsigns]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:movementsigns)) %>
  </div>

  <div class="row">
    <div class="col-md-2">Positive root tension signs :</div>
    <%= f.input :positiveroottensionsigns, wrapper_html: {:class=>"col-md-10"},collection: ['None','SLRT', 'Crossed SLRT', 'Lasegues', 'Femoral N. stretch', 'Spurlings'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white positiveroottensionsigns_buttons', :input_html => {:name => "opdrecord[positiveroottensionsigns]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:positiveroottensionsigns)) || ['None'] %>
  </div>

  <div class="row">
    <div class="col-md-2">SI joint pathology :</div>
    <%= f.input :sijointpathology, wrapper_html: {:class=>"col-md-5"},collection: ['No', 'Yes'], :as => :hg_radio_button, :label => false,:required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[sijointpathology]" }, :checked => opdrecord.read_attribute(:sijointpathology) || "No" %>
  </div>

  <div class="row sijointpathology_options">
    <div class="col-md-2">Positive test :</div>
    <%= f.input :sijointpathologytests, wrapper_html: {:class=>"col-md-10"},collection: ['FABER', 'Gaenslen', 'Pelvic compression-distraction'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[sijointpathologytests]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:sijointpathologytests)) %>
  </div>

  <div class="row">
    <div class="col-md-2">Ankylosing Spondylitis signs :</div>
    <%= f.input :ankylosingspondylitissigns, wrapper_html: {:class=>"col-md-5"},collection: ['No', 'Yes'], :as => :hg_radio_button, :label => false,:required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[ankylosingspondylitissigns]" }, :checked => opdrecord.read_attribute(:ankylosingspondylitissigns) || "No" %>
  </div>

  <div class="row ankylosingspondylitissigns_options">
    <div class="col-md-2">Abnormal test :</div>
    <%= f.input :ankylosingspondylitissignstests, wrapper_html: {:class=>"col-md-10"},collection: ['Schobers', 'Chest expansion', 'Chin-brow measure'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[ankylosingspondylitissignstests]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:ankylosingspondylitissignstests)) %>
  </div>

  <div class="row">
    <div class="col-md-2">Gait :</div>
    <%= f.input :gait, wrapper_html: {:class=>"col-md-10"},collection: ['Normal', 'Ataxic', 'Broad-based', 'Spastic', 'Heel-toe walking', 'Walking aid', 'Wheel-chair'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white gait_buttons', :input_html => {:name => "opdrecord[gait]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:gait)) || ['Normal'] %>
  </div>

  <div class="row">
    <div class="col-md-2">Neurological examination :</div>
    <%= f.input :neurologicalexamination, wrapper_html: {:class=>"col-md-10"},collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white neurologicalexamination', :input_html => {:name => "opdrecord[neurologicalexamination]" }, :checked => opdrecord.read_attribute(:neurologicalexamination) || 'Normal' %>
  </div>

  <div class="row neurologicalexamination-options">

    <div class="col-md-2"></div>

    <div class="col-md-10">

      <table class="table table-bordered">
        <thead>
        <tr>
          <th width="50%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Right

            <table class="table table-bordered">
              <thead>
              <tr>
                <th width="20%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Region</th>
                <th width="20%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Level</th>
                <th width="20%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Power</th>
                <th width="20%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Sensory Loss</th>
                <th width="20%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Activity</th>
              </tr>
              </thead>
              <tbody>
              <tr class="success">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">Upper Limb</td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  C5
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :lossofpowerupperlimbrightc5, collection: ['5/5', '4/5', '3/5', '2/5', '1/5', '0/5'], selected: opdrecord.read_attribute(:lossofpowerupperlimbrightc5), as: :select, :label => false, :required => false, :class => 'form-control lossofpowerupperlimbrightc5' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :sensorylossupperlimbrightc5, collection: ["0%", "25%", "50%", "75%", "100%"], selected: opdrecord.read_attribute(:sensorylossupperlimbrightc5), as: :select, :label => false, :required => false, :class => 'form-control sensorylossupperlimbrightc5' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
              </tr>
              <tr class="danger">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;"></td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  C6
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :lossofpowerupperlimbrightc6, collection: ['5/5', '4/5', '3/5', '2/5', '1/5', '0/5'], selected: opdrecord.read_attribute(:lossofpowerupperlimbrightc6), as: :select, :label => false, :required => false, :class => 'form-control lossofpowerupperlimbrightc6' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :sensorylossupperlimbrightc6, collection: ["0%", "25%", "50%", "75%", "100%"], selected: opdrecord.read_attribute(:sensorylossupperlimbrightc6), as: :select, :label => false, :required => false, :class => 'form-control sensorylossupperlimbrightc6' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
              </tr>
              <tr class="success">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;"></td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  C7
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :lossofpowerupperlimbrightc7, collection: ['5/5', '4/5', '3/5', '2/5', '1/5', '0/5'], selected: opdrecord.read_attribute(:lossofpowerupperlimbrightc7), as: :select, :label => false, :required => false, :class => 'form-control lossofpowerupperlimbrightc7' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :sensorylossupperlimbrightc7, collection: ["0%", "25%", "50%", "75%", "100%"], selected: opdrecord.read_attribute(:sensorylossupperlimbrightc7), as: :select, :label => false, :required => false, :class => 'form-control sensorylossupperlimbrightc7' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
              </tr>
              <tr class="danger">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;"></td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  C8
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :lossofpowerupperlimbrightc8, collection: ['5/5', '4/5', '3/5', '2/5', '1/5', '0/5'], selected: opdrecord.read_attribute(:lossofpowerupperlimbrightc8), as: :select, :label => false, :required => false, :class => 'form-control lossofpowerupperlimbrightc8' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :sensorylossupperlimbrightc8, collection: ["0%", "25%", "50%", "75%", "100%"], selected: opdrecord.read_attribute(:sensorylossupperlimbrightc8), as: :select, :label => false, :required => false, :class => 'form-control sensorylossupperlimbrightc8' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
              </tr>
              <tr class="success">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;"></td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  T1
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :lossofpowerupperlimbrightt1, collection: ['5/5', '4/5', '3/5', '2/5', '1/5', '0/5'], selected: opdrecord.read_attribute(:lossofpowerupperlimbrightt1), as: :select, :label => false, :required => false, :class => 'form-control lossofpowerupperlimbrightt1' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :sensorylossupperlimbrightt1, collection: ["0%", "25%", "50%", "75%", "100%"], selected: opdrecord.read_attribute(:sensorylossupperlimbrightt1), as: :select, :label => false, :required => false, :class => 'form-control sensorylossupperlimbrightt1' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
              </tr>
              <tr class="danger">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">Lower Limb</td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  L2
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :lossofpowerlowerlimbrightl2, collection: ['5/5', '4/5', '3/5', '2/5', '1/5', '0/5'], selected: opdrecord.read_attribute(:lossofpowerlowerlimbrightl2), as: :select, :label => false, :required => false, :class => 'form-control lossofpowerlowerlimbrightl2' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :sensorylosslowerlimbrightl2, collection: ["0%", "25%", "50%", "75%", "100%"], selected: opdrecord.read_attribute(:sensorylosslowerlimbrightl2), as: :select, :label => false, :required => false, :class => 'form-control sensorylosslowerlimbrightl2' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
              </tr>
              <tr class="success">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;"></td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  L3
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :lossofpowerlowerlimbrightl3, collection: ['5/5', '4/5', '3/5', '2/5', '1/5', '0/5'], selected: opdrecord.read_attribute(:lossofpowerlowerlimbrightl3), as: :select, :label => false, :required => false, :class => 'form-control lossofpowerlowerlimbrightl3' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :sensorylosslowerlimbrightl3, collection: ["0%", "25%", "50%", "75%", "100%"], selected: opdrecord.read_attribute(:sensorylosslowerlimbrightl3), as: :select, :label => false, :required => false, :class => 'form-control sensorylosslowerlimbrightl3' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
              </tr>
              <tr class="danger">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;"></td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  L4
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :lossofpowerlowerlimbrightl4, collection: ['5/5', '4/5', '3/5', '2/5', '1/5', '0/5'], selected: opdrecord.read_attribute(:lossofpowerlowerlimbrightl4), as: :select, :label => false, :required => false, :class => 'form-control lossofpowerlowerlimbrightl4' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :sensorylosslowerlimbrightl4, collection: ["0%", "25%", "50%", "75%", "100%"], selected: opdrecord.read_attribute(:sensorylosslowerlimbrightl4), as: :select, :label => false, :required => false, :class => 'form-control sensorylosslowerlimbrightl4' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
              </tr>
              <tr class="success">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;"></td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  L5
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :lossofpowerlowerlimbrightl5, collection: ['5/5', '4/5', '3/5', '2/5', '1/5', '0/5'], selected: opdrecord.read_attribute(:lossofpowerlowerlimbrightl5), as: :select, :label => false, :required => false, :class => 'form-control lossofpowerlowerlimbrightl5' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :sensorylosslowerlimbrightl5, collection: ["0%", "25%", "50%", "75%", "100%"], selected: opdrecord.read_attribute(:sensorylosslowerlimbrightl5), as: :select, :label => false, :required => false, :class => 'form-control sensorylosslowerlimbrightl5' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
              </tr>
              <tr class="danger">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;"></td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  S1
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :lossofpowerlowerlimbrights1, collection: ['5/5', '4/5', '3/5', '2/5', '1/5', '0/5'], selected: opdrecord.read_attribute(:lossofpowerlowerlimbrights1), as: :select, :label => false, :required => false, :class => 'form-control lossofpowerlowerlimbrights1' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :sensorylosslowerlimbrights1, collection: ["0%", "25%", "50%", "75%", "100%"], selected: opdrecord.read_attribute(:sensorylosslowerlimbrights1), as: :select, :label => false, :required => false, :class => 'form-control sensorylosslowerlimbrights1' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
              </tr>
              <tr class="success">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">Trunk</td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  upto T4
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :sensorylosstrunkrightt4, collection: ["0%", "25%", "50%", "75%", "100%"], selected: opdrecord.read_attribute(:sensorylosstrunkrightt4), as: :select, :label => false, :required => false, :class => 'form-control sensorylosstrunkrightt4' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
              </tr>
              <tr class="danger">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;"></td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  upto T10
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :sensorylosstrunkrightt10, collection: ["0%", "25%", "50%", "75%", "100%"], selected: opdrecord.read_attribute(:sensorylosstrunkrightt10), as: :select, :label => false, :required => false, :class => 'form-control sensorylosstrunkrightt10' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
              </tr>
              <tr class="success">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;"></td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  upto T12
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :sensorylosstrunkrightt12, collection: ["0%", "25%", "50%", "75%", "100%"], selected: opdrecord.read_attribute(:sensorylosstrunkrightt12), as: :select, :label => false, :required => false, :class => 'form-control sensorylosstrunkrightt12' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
              </tr>
              <tr class="danger">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">Neck</td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  C2
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :sensorylossneckrightc2, collection: ["0%", "25%", "50%", "75%", "100%"], selected: opdrecord.read_attribute(:sensorylossneckrightc2), as: :select, :label => false, :required => false, :class => 'form-control sensorylossneckrightc2' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
              </tr>
              <tr class="success">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;"></td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  C3
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :sensorylossneckrightc3, collection: ["0%", "25%", "50%", "75%", "100%"], selected: opdrecord.read_attribute(:sensorylossneckrightc3), as: :select, :label => false, :required => false, :class => 'form-control sensorylossneckrightc3' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
              </tr>
              <tr class="danger">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;"></td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  C4
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :sensorylossneckrightc4, collection: ["0%", "25%", "50%", "75%", "100%"], selected: opdrecord.read_attribute(:sensorylossneckrightc4), as: :select, :label => false, :required => false, :class => 'form-control sensorylossneckrightc4' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
              </tr>
              <tr class="success">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">Biceps</td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :deepreflexbicepsright, collection: ["++", "0", "+", "+++", "Clonus"], selected: opdrecord.read_attribute(:deepreflexbicepsright), as: :select, :label => false, :required => false, :class => 'form-control deepreflexbicepsright' %>
                </td>
              </tr>
              <tr class="danger">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">Triceps</td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :deepreflextricepsright, collection: ["++", "0", "+", "+++", "Clonus"], selected: opdrecord.read_attribute(:deepreflextricepsright), as: :select, :label => false, :required => false, :class => 'form-control deepreflextricepsright' %>
                </td>
              </tr>
              <tr class="success">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">Supinator</td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :deepreflexsupinatorright, collection: ["++", "0", "+", "+++", "Clonus"], selected: opdrecord.read_attribute(:deepreflexsupinatorright), as: :select, :label => false, :required => false, :class => 'form-control deepreflexsupinatorright' %>
                </td>
              </tr>
              <tr class="danger">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">Knee</td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :deepreflexkneeright, collection: ["++", "0", "+", "+++", "Clonus"], selected: opdrecord.read_attribute(:deepreflexkneeright), as: :select, :label => false, :required => false, :class => 'form-control deepreflexkneeright' %>
                </td>
              </tr>
              <tr class="success">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">Ankle</td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :deepreflexankleright, collection: ["++", "0", "+", "+++", "Clonus"], selected: opdrecord.read_attribute(:deepreflexankleright), as: :select, :label => false, :required => false, :class => 'form-control deepreflexankleright' %>
                </td>
              </tr>
              <tr class="danger">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">Anal Sensation</td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :analsensationright, collection: ["Normal", "Abnormal"], selected: opdrecord.read_attribute(:analsensationright), as: :select, :label => false, :required => false, :class => 'form-control analsensationright' %>
                </td>
              </tr>
              <tr class="success">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">Voluntary Anal contraction</td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :voluntaryanalcontractionright, collection: ["Normal", "Abnormal"], selected: opdrecord.read_attribute(:voluntaryanalcontractionright), as: :select, :label => false, :required => false, :class => 'form-control voluntaryanalcontractionright' %>
                </td>
              </tr>
              </tbody>
            </table>

          </th>
          <th width="50%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Left

            <table class="table table-bordered">
              <thead>
              <tr>
                <th width="20%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Region</th>
                <th width="20%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Level</th>
                <th width="20%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Power</th>
                <th width="20%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Sensory Loss</th>
                <th width="20%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Activity</th>
              </tr>
              </thead>
              <tbody>
              <tr class="success">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">Upper Limb</td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  C5
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :lossofpowerupperlimbleftc5, collection: ['5/5', '4/5', '3/5', '2/5', '1/5', '0/5'], selected: opdrecord.read_attribute(:lossofpowerupperlimbleftc5), as: :select, :label => false, :required => false, :class => 'form-control lossofpowerupperlimbleftc5' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :sensorylossupperlimbleftc5, collection: ["0%", "25%", "50%", "75%", "100%"], selected: opdrecord.read_attribute(:sensorylossupperlimbleftc5), as: :select, :label => false, :required => false, :class => 'form-control sensorylossupperlimbleftc5' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
              </tr>
              <tr class="danger">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;"></td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  C6
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :lossofpowerupperlimbleftc6, collection: ['5/5', '4/5', '3/5', '2/5', '1/5', '0/5'], selected: opdrecord.read_attribute(:lossofpowerupperlimbleftc6), as: :select, :label => false, :required => false, :class => 'form-control lossofpowerupperlimbleftc6' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :sensorylossupperlimbleftc6, collection: ["0%", "25%", "50%", "75%", "100%"], selected: opdrecord.read_attribute(:sensorylossupperlimbleftc6), as: :select, :label => false, :required => false, :class => 'form-control sensorylossupperlimbleftc6' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
              </tr>
              <tr class="success">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;"></td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  C7
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :lossofpowerupperlimbleftc7, collection: ['5/5', '4/5', '3/5', '2/5', '1/5', '0/5'], selected: opdrecord.read_attribute(:lossofpowerupperlimbleftc7), as: :select, :label => false, :required => false, :class => 'form-control lossofpowerupperlimbleftc7' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :sensorylossupperlimbleftc7, collection: ["0%", "25%", "50%", "75%", "100%"], selected: opdrecord.read_attribute(:sensorylossupperlimbleftc7), as: :select, :label => false, :required => false, :class => 'form-control sensorylossupperlimbleftc7' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
              </tr>
              <tr class="danger">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;"></td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  C8
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :lossofpowerupperlimbleftc8, collection: ['5/5', '4/5', '3/5', '2/5', '1/5', '0/5'], selected: opdrecord.read_attribute(:lossofpowerupperlimbleftc8), as: :select, :label => false, :required => false, :class => 'form-control lossofpowerupperlimbleftc8' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :sensorylossupperlimbleftc8, collection: ["0%", "25%", "50%", "75%", "100%"], selected: opdrecord.read_attribute(:sensorylossupperlimbleftc8), as: :select, :label => false, :required => false, :class => 'form-control sensorylossupperlimbleftc8' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
              </tr>
              <tr class="success">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;"></td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  T1
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :lossofpowerupperlimbleftt1, collection: ['5/5', '4/5', '3/5', '2/5', '1/5', '0/5'], selected: opdrecord.read_attribute(:lossofpowerupperlimbleftt1), as: :select, :label => false, :required => false, :class => 'form-control lossofpowerupperlimbleftt1' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :sensorylossupperlimbleftt1, collection: ["0%", "25%", "50%", "75%", "100%"], selected: opdrecord.read_attribute(:sensorylossupperlimbleftt1), as: :select, :label => false, :required => false, :class => 'form-control sensorylossupperlimbleftt1' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
              </tr>
              <tr class="danger">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">Lower Limb</td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  L2
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :lossofpowerlowerlimbleftl2, collection: ['5/5', '4/5', '3/5', '2/5', '1/5', '0/5'], selected: opdrecord.read_attribute(:lossofpowerlowerlimbleftl2), as: :select, :label => false, :required => false, :class => 'form-control lossofpowerlowerlimbleftl2' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :sensorylosslowerlimbleftl2, collection: ["0%", "25%", "50%", "75%", "100%"], selected: opdrecord.read_attribute(:sensorylosslowerlimbleftl2), as: :select, :label => false, :required => false, :class => 'form-control sensorylosslowerlimbleftl2' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
              </tr>
              <tr class="success">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;"></td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  L3
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :lossofpowerlowerlimbleftl3, collection: ['5/5', '4/5', '3/5', '2/5', '1/5', '0/5'], selected: opdrecord.read_attribute(:lossofpowerlowerlimbleftl3), as: :select, :label => false, :required => false, :class => 'form-control lossofpowerlowerlimbleftl3' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :sensorylosslowerlimbleftl3, collection: ["0%", "25%", "50%", "75%", "100%"], selected: opdrecord.read_attribute(:sensorylosslowerlimbleftl3), as: :select, :label => false, :required => false, :class => 'form-control sensorylosslowerlimbleftl3' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
              </tr>
              <tr class="danger">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;"></td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  L4
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :lossofpowerlowerlimbleftl4, collection: ['5/5', '4/5', '3/5', '2/5', '1/5', '0/5'], selected: opdrecord.read_attribute(:lossofpowerlowerlimbleftl4), as: :select, :label => false, :required => false, :class => 'form-control lossofpowerlowerlimbleftl4' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :sensorylosslowerlimbleftl4, collection: ["0%", "25%", "50%", "75%", "100%"], selected: opdrecord.read_attribute(:sensorylosslowerlimbleftl4), as: :select, :label => false, :required => false, :class => 'form-control sensorylosslowerlimbleftl4' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
              </tr>
              <tr class="success">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;"></td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  L5
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :lossofpowerlowerlimbleftl5, collection: ['5/5', '4/5', '3/5', '2/5', '1/5', '0/5'], selected: opdrecord.read_attribute(:lossofpowerlowerlimbleftl5), as: :select, :label => false, :required => false, :class => 'form-control lossofpowerlowerlimbleftl5' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :sensorylosslowerlimbleftl5, collection: ["0%", "25%", "50%", "75%", "100%"], selected: opdrecord.read_attribute(:sensorylosslowerlimbleftl5), as: :select, :label => false, :required => false, :class => 'form-control sensorylosslowerlimbleftl5' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
              </tr>
              <tr class="danger">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;"></td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  S1
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :lossofpowerlowerlimblefts1, collection: ['5/5', '4/5', '3/5', '2/5', '1/5', '0/5'], selected: opdrecord.read_attribute(:lossofpowerlowerlimblefts1), as: :select, :label => false, :required => false, :class => 'form-control lossofpowerlowerlimblefts1' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :sensorylosslowerlimblefts1, collection: ["0%", "25%", "50%", "75%", "100%"], selected: opdrecord.read_attribute(:sensorylosslowerlimblefts1), as: :select, :label => false, :required => false, :class => 'form-control sensorylosslowerlimblefts1' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
              </tr>
              <tr class="success">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">Trunk</td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  upto T4
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :sensorylosstrunkleftt4, collection: ["0%", "25%", "50%", "75%", "100%"], selected: opdrecord.read_attribute(:sensorylosstrunkleftt4), as: :select, :label => false, :required => false, :class => 'form-control sensorylosstrunkleftt4' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
              </tr>
              <tr class="danger">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;"></td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  upto T10
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :sensorylosstrunkleftt10, collection: ["0%", "25%", "50%", "75%", "100%"], selected: opdrecord.read_attribute(:sensorylosstrunkleftt10), as: :select, :label => false, :required => false, :class => 'form-control sensorylosstrunkleftt10' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
              </tr>
              <tr class="success">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;"></td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  upto T12
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :sensorylosstrunkleftt12, collection: ["0%", "25%", "50%", "75%", "100%"], selected: opdrecord.read_attribute(:sensorylosstrunkleftt12), as: :select, :label => false, :required => false, :class => 'form-control sensorylosstrunkleftt12' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
              </tr>
              <tr class="danger">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">Neck</td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  C2
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :sensorylossneckleftc2, collection: ["0%", "25%", "50%", "75%", "100%"], selected: opdrecord.read_attribute(:sensorylossneckleftc2), as: :select, :label => false, :required => false, :class => 'form-control sensorylossneckleftc2' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
              </tr>
              <tr class="success">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;"></td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  C3
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :sensorylossneckleftc3, collection: ["0%", "25%", "50%", "75%", "100%"], selected: opdrecord.read_attribute(:sensorylossneckleftc3), as: :select, :label => false, :required => false, :class => 'form-control sensorylossneckleftc3' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
              </tr>
              <tr class="danger">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;"></td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  C4
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :sensorylossneckleftc4, collection: ["0%", "25%", "50%", "75%", "100%"], selected: opdrecord.read_attribute(:sensorylossneckleftc4), as: :select, :label => false, :required => false, :class => 'form-control sensorylossneckleftc4' %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
              </tr>
              <tr class="success">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">Biceps</td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :deepreflexbicepsleft, collection: ["++", "0", "+", "+++", "Clonus"], selected: opdrecord.read_attribute(:deepreflexbicepsleft), as: :select, :label => false, :required => false, :class => 'form-control deepreflexbicepsleft' %>
                </td>
              </tr>
              <tr class="danger">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">Triceps</td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :deepreflextricepsleft, collection: ["++", "0", "+", "+++", "Clonus"], selected: opdrecord.read_attribute(:deepreflextricepsleft), as: :select, :label => false, :required => false, :class => 'form-control deepreflextricepsleft' %>
                </td>
              </tr>
              <tr class="success">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">Supinator</td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :deepreflexsupinatorleft, collection: ["++", "0", "+", "+++", "Clonus"], selected: opdrecord.read_attribute(:deepreflexsupinatorleft), as: :select, :label => false, :required => false, :class => 'form-control deepreflexsupinatorleft' %>
                </td>
              </tr>
              <tr class="danger">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">Knee</td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :deepreflexkneeleft, collection: ["++", "0", "+", "+++", "Clonus"], selected: opdrecord.read_attribute(:deepreflexkneeleft), as: :select, :label => false, :required => false, :class => 'form-control deepreflexkneeleft' %>
                </td>
              </tr>
              <tr class="success">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">Ankle</td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :deepreflexankleleft, collection: ["++", "0", "+", "+++", "Clonus"], selected: opdrecord.read_attribute(:deepreflexankleleft), as: :select, :label => false, :required => false, :class => 'form-control deepreflexankleleft' %>
                </td>
              </tr>
              <tr class="danger">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">Anal Sensation</td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :analsensationleft, collection: ["Normal", "Abnormal"], selected: opdrecord.read_attribute(:analsensationleft), as: :select, :label => false, :required => false, :class => 'form-control analsensationleft' %>
                </td>
              </tr>
              <tr class="success">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">Voluntary Anal contraction</td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :voluntaryanalcontractionleft, collection: ["Normal", "Abnormal"], selected: opdrecord.read_attribute(:voluntaryanalcontractionleft), as: :select, :label => false, :required => false, :class => 'form-control voluntaryanalcontractionleft' %>
                </td>
              </tr>
              </tbody>
            </table>

          </th>
        </tr>
        </thead>
      </table>

    </div>

  </div>

  <div class="row">
    <div class="col-md-2">Other abnormal responses :</div>
    <%= f.input :otherabnormalresponses, wrapper_html: {:class=>"col-md-10"}, collection: ['Cremastric', 'Anal', 'Bulbo-cavernosus', 'Babinskis', 'Hoffmans', 'Finger escape', 'Lhermittes', 'Rombergs'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[otherabnormalresponses]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:otherabnormalresponses)) %>
  </div>

  <div class="row">
    <div class="col-md-2">Other signs :</div>
    <%= f.input :othersigns, wrapper_html: {:class=>"col-md-7"}, collection: ['Increased tone', 'Decreased tone', 'Wasting', 'Loss of co-ordination', 'Loss of proprioception', 'Urine retention', 'Bladder Incontinence', 'Constipation', 'Bowel incontinence'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[othersigns]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:othersigns)) %>
  </div>

  <div class="row mb10">
    <div class="col-md-2">Comments:</div>
    <%= f.input :objectivecomments, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 70, :required => false, :name => "opdrecord[objectivecomments]", :value => opdrecord.read_attribute(:objectivecomments) } %>
  </div>

  <%= render partial: "opd_records/orthopedics_notes/opd_partials/anthropometry_template", locals: { f: f, opdrecord: @opdrecord }   %>

  <%= render partial: "opd_records/orthopedics_notes/opd_partials/vitalsigns_template", locals: { f: f, opdrecord: @opdrecord }   %>


</div>