<div class="step-pane active" data-step="1">

  <div class="row">

    <div class="col-md-12">

          <div class="col-md-4"> 

            <%= inline_svg Rails.root.join('app', 'assets', 'images', "skeletonnew.svg"), :size => "350px*600px" %>

            <div class="limb_partials_hidden" id="limb_partials_hidden">

                <!-- Upper limbs Shoulder R & L -->          
                <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/upperlimbshoulderr", locals: { f: f, opdrecord: @opdrecord, specalityfoldername: @speciality_folder_name } %>
                <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/upperlimbshoulderl", locals: { f: f,opdrecord: @opdrecord, specalityfoldername: @speciality_folder_name } %>
                <!-- Upper limbs Elbow R & L --> 
                <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/upperlimbelbowr", locals: { f: f, opdrecord: @opdrecord, specalityfoldername: @speciality_folder_name } %>
                <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/upperlimbelbowl", locals: { f: f,opdrecord: @opdrecord, specalityfoldername: @speciality_folder_name } %>
                <!-- Upper limbs Forearm R & L --> 
                <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/upperlimbforearmr", locals: { f: f, opdrecord: @opdrecord, specalityfoldername: @speciality_folder_name } %>
                <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/upperlimbforearml", locals: { f: f,opdrecord: @opdrecord, specalityfoldername: @speciality_folder_name } %>
                <!-- Upper limbs Spine neck, midback, lowback, there is no R & L in spine -->
                <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/upperlimbspineneck", locals: { f: f, opdrecord: @opdrecord, specalityfoldername: @speciality_folder_name } %>
                <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/upperlimbspinemidback", locals: { f: f,opdrecord: @opdrecord, specalityfoldername: @speciality_folder_name } %>
                <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/upperlimbspinelowback", locals: { f: f,opdrecord: @opdrecord, specalityfoldername: @speciality_folder_name } %>
                <!-- Upper limbs Arm R & L -->
                <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/upperlimbarmr", locals: { f: f, opdrecord: @opdrecord, specalityfoldername: @speciality_folder_name } %>
                <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/upperlimbarml", locals: { f: f,opdrecord: @opdrecord, specalityfoldername: @speciality_folder_name } %>
                <!-- Upper limbs Hand R & L -->
                <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/upperlimbhandr", locals: { f: f, opdrecord: @opdrecord, specalityfoldername: @speciality_folder_name } %>
                <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/upperlimbhandl", locals: { f: f,opdrecord: @opdrecord, specalityfoldername: @speciality_folder_name } %>
                <!-- Upper limbs Wrist R & L -->
                <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/upperlimbwristr", locals: { f: f, opdrecord: @opdrecord, specalityfoldername: @speciality_folder_name } %>
                <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/upperlimbwristl", locals: { f: f,opdrecord: @opdrecord, specalityfoldername: @speciality_folder_name } %>
                <!-- Lower limbs Knee R & L -->
                <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/lowerlimbkneer", locals: { f: f, opdrecord: @opdrecord, specalityfoldername: @speciality_folder_name } %>
                <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/lowerlimbkneel", locals: { f: f,opdrecord: @opdrecord, specalityfoldername: @speciality_folder_name } %>
                <!-- Lower limbs Knee R & L -->
                <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/lowerlimbankler", locals: { f: f, opdrecord: @opdrecord, specalityfoldername: @speciality_folder_name } %>
                <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/lowerlimbanklel", locals: { f: f,opdrecord: @opdrecord, specalityfoldername: @speciality_folder_name } %>
                <!-- Lower limbs Foot R & L -->
                <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/lowerlimbfootr", locals: { f: f, opdrecord: @opdrecord, specalityfoldername: @speciality_folder_name } %>
                <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/lowerlimbfootl", locals: { f: f,opdrecord: @opdrecord, specalityfoldername: @speciality_folder_name } %>
                <!-- Lower limbs Hip R & L -->
                <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/lowerlimbhipr", locals: { f: f, opdrecord: @opdrecord, specalityfoldername: @speciality_folder_name } %>
                <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/lowerlimbhipl", locals: { f: f,opdrecord: @opdrecord, specalityfoldername: @speciality_folder_name } %>
                <!-- Lower limbs Leg R & L -->
                <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/lowerlimblegr", locals: { f: f, opdrecord: @opdrecord, specalityfoldername: @speciality_folder_name } %>
                <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/lowerlimblegl", locals: { f: f,opdrecord: @opdrecord, specalityfoldername: @speciality_folder_name } %>
                <!-- Lower limbs Thigh R & L -->
                <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/lowerlimbthighr", locals: { f: f, opdrecord: @opdrecord, specalityfoldername: @speciality_folder_name } %>
                <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/lowerlimbthighl", locals: { f: f,opdrecord: @opdrecord, specalityfoldername: @speciality_folder_name } %>

            </div>

          </div>

          <div class="col-md-8">

               <div class="col-md-12">
                  <div class="col-md-2">Dominant Hand :</div>
                  <%= f.input :dominanthand, wrapper_html: {:class=>"col-md-5"}, collection: [['Left','L'],['Right','R']], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[dominanthand]" }, :checked =>opdrecord.read_attribute(:dominanthand) %>
                </div>   

                <div class="col-md-12">
                  <div class="col-md-2">Mode of Injury :</div>
                  <%= f.input :etiology, wrapper_html: {:class=>"col-md-10"},collection: ['RTA', 'Sports injury', 'Direct Trauma', 'Indirect injury', 'Twisting Injury', 'Crush Injury', 'Fall(standing)', 'Fall(stairs)', 'Fall(height)', 'Spontaneous', 'Others'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[etiology]" }, :checked => opdrecord.read_attribute(:etiology) %>
                    
                </div>

                <div class="col-md-12 mb10">

                  <div class="col-md-2">Time since injury:</div>

                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="vitalsigns-pulselabel">Days</label>
                      <div class="input-group">
                        <%= f.input_field :durationdays, :class => "form-control", :maxlength => 4, :size => 4, :required => false, :name => "opdrecord[durationdays]", :value => opdrecord.read_attribute(:durationdays) %>
                        <span class="input-group-addon">D</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="vitalsigns-rrlabel">Months</label>
                      <div class="input-group">
                        <%= f.input_field :durationmonths, :class => "form-control", :maxlength => 4, :size => 4, :required => false, :name => "opdrecord[durationmonths]", :value => opdrecord.read_attribute(:durationmonths) %>
                        <span class="input-group-addon">M</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="vitalsigns-rrlabel">Years</label>
                      <div class="input-group">
                        <%= f.input_field :durationyears, :class => "form-control", :maxlength => 4, :size => 4, :required => false, :name => "opdrecord[durationyears]", :value => opdrecord.read_attribute(:durationyears)  %>
                        <span class="input-group-addon">Y</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="col-md-2"></div>
                  <%= f.input :injury, wrapper_html: {:class=>"col-md-10"},collection: ['Head injury', 'Chest injury', 'Abdomen Injury'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[injury]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:injury)) %>
                </div>
                <div class="row" ></div>
                <div>
                      <div class="col-md-2">Current Disability</div>
                      <div class="col-md-10">
                        <%= f.text_area :current_disability, :class => "form-control", :cols => 50 %>
                      </div>
                    </div>

                <div class="col-md-12" style="margin-bottom: 100px;">

                  <%= hidden_field_tag "opdrecord[limb_limblocation_side_mouseclicked]", @opdrecord[:limb_limblocation_side_mouseclicked], { :class => 'form-control opdrecord_limb_limblocation_side_mouseclicked'} %>

                    <div class="trauma_locations_mouseclicked" style="overflow: hidden;">

                    </div>

                </div>

                <div class="col-md-12 mb10">
                  <div class="col-md-2">Vital signs :</div>
                  <div class="col-md-3">
                  <%= f.input :vitalsignscondition, collection: [['Stable','Stable'],['Abnormal','Abnormal']], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white vital_signs', :input_html => {:name => "opdrecord[vitalsignscondition]" }, :checked => opdrecord.read_attribute(:vitalsignscondition) || "Stable" %>
                  </div>
                    <%= f.input :vitalsignsconditioncomments, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control vital_signs_comment", :rows => 2, :cols => 40, :name => "opdrecord[vitalsignsconditioncomments]", :value => opdrecord.read_attribute(:vitalsignsconditioncomments) } %>
                </div>

                <div class="col-md-12 mb10">
                  <div class="col-md-2 mb10">Previous Treatment:</div>
                  <div class="col-md-3">
                  <%= f.input :previoustreatment,  collection: [['No','No'],['Yes','Yes']], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white previous_treatment', :input_html => {:name => "opdrecord[previoustreatment]" }, :checked => opdrecord.read_attribute(:previoustreatment) || "No" %>
                    </div>
                    
                    <%= f.input :previoustreatmentcomments, as: :text,  :label => false, :required => false, :input_html => {
                      :class => "form-control previous_treatment_comment", :rows => 2, :cols => 40, :name => "opdrecord[previoustreatmentcomments]",:value => opdrecord.read_attribute(:previoustreatmentcomments) } %>
                    
                </div>

                <div class="col-md-12">

                  <div class="row">

                    <div class="col-md-2">

                      <label for="anthropometry-radioselectlabel">Anthropometry:</label>

                    </div>

                    <div class="col-md-10">

                      <div class="row">

                        <div class="col-md-3">

                          <div class="form-group">
                            <label for="anthropometry-heightlabel">Height</label>
                            <div class="input-group">
                              <%= f.input_field :anthropometryheight, :class => "form-control", :maxlength => 4, :size => 4, :required => false, :name => "opdrecord[anthropometryheight]", :value => opdrecord.read_attribute(:anthropometryheight) %>
                              <span class="input-group-addon">cms</span>
                            </div>
                          </div>

                        </div>
                        <div class="col-md-3">

                          <div class="form-group">
                            <label for="anthropometry-weightlabel">Weight</label>
                            <div class="input-group">
                              <%= f.input_field :anthropometryweight, :class => "form-control", :maxlength => 4, :size => 4, :required => false, :name => "opdrecord[anthropometryweight]", :value => opdrecord.read_attribute(:anthropometryweight) %>
                              <span class="input-group-addon">kg</span>
                            </div>
                          </div>

                        </div>
                        <div class="col-md-3">

                          <div class="form-group">
                            <label for="anthropometry-bmilabel">BMI (auto calc)</label>
                            <div class="input-group">
                              <%= f.input_field :anthropometrybmi, :class => "form-control", :maxlength => 4, :size => 4, :required => false, :name => "opdrecord[anthropometrybmi]", :value => opdrecord.read_attribute(:anthropometrybmi) %>
                              <span class="input-group-addon">kg/m2</span>
                            </div>
                          </div>

                        </div>

                      </div>

                    </div>

                  </div>

                </div>

          </div>

    </div>

  </div>

</div>
<script>

if ('<%= opdrecord.read_attribute(:previoustreatment) %>' == 'No'){
jQuery(".previous_treatment_comment").hide()
}

  if ('<%= opdrecord.read_attribute(:vitalsignscondition) %>' == 'Stable'){
    jQuery(".vital_signs_comment").hide() 
  }

  $(".vital_signs").on('click',function(){
    if ($(this).attr("input-value") == "Abnormal"){
        jQuery(".vital_signs_comment").show()  
    }
    if ($(this).attr("input-value") == "Stable"){
        jQuery(".vital_signs_comment").hide()  
        jQuery(".vital_signs_comment").val(" ")
    }

  })
  $(".previous_treatment").on('click',function(){
    if ($(this).attr("input-value") == "Yes"){
        jQuery(".previous_treatment_comment").show()  
    }
    if ($(this).attr("input-value") == "No"){
        jQuery(".previous_treatment_comment").hide()
        jQuery(".previous_treatment_comment").val(" ")  
    }

  })
</script>