<div class="step-pane" data-step="2">

  <div class="row">

    <div class="col-md-8">

      <div class="panel panel-danger">

        <div class="panel-heading">
          <h4 class="panel-title">General signs of</h4>
        </div>
        <div class="panel-body">

          <div class="row">

            <div class="col-md-12">

              <div class="row">
                <div class="col-md-1">Rickets:</div>
                <%= f.input :rickets, wrapper_html: {:class=>"col-md-2"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[rickets]" }, :checked => opdrecord.read_attribute(:rickets) || 'No' %>
                <div class="col-md-1">RA:</div>
                <%= f.input :ra, wrapper_html: {:class=>"col-md-2"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[ra]" }, :checked => opdrecord.read_attribute(:ra) || 'No' %>
                <div class="col-md-3">Hypermobility syndrome:</div>
                <%= f.input :hypermobilitysyndrome, wrapper_html: {:class=>"col-md-2"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[hypermobilitysyndrome]" }, :checked => opdrecord.read_attribute(:hypermobilitysyndrome) || 'No' %>
                <div class="col-md-2">Haemophilia:</div>
                <%= f.input :haemophilia, wrapper_html: {:class=>"col-md-2"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[haemophilia]" }, :checked => opdrecord.read_attribute(:haemophilia) || 'No' %>
                <div class="col-md-1">Kochs:</div>
                <%= f.input :kochs, wrapper_html: {:class=>"col-md-2"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[kochs]" }, :checked => opdrecord.read_attribute(:kochs) || 'No' %>
              </div>
            </div>
          </div>
        </div>
      </div><!-- panel -->

      <div class="panel panel-primary">

        <div class="panel-heading">
          <h4 class="panel-title">Local examination</h4>
        </div>
        <div class="panel-body">

          <div class="row">

            <div class="col-md-12">


              <div class="row">

                <div class="col-md-12 mb5">

                  <div class="row">

                    <div class="col-md-2">

                      <label for="vitalsigns-radioselectlabel">Vital Signs:</label>

                    </div>

                    <div class="col-md-10">

                      <div class="row">

                        <div class="col-md-2">
                          <label for="vitalsigns-temperaturelabel">Temperature</label>
                        </div>

                        <div class="col-md-2">
                          <label for="vitalsigns-pulselabel">Pulse</label>
                        </div>

                        <div class="col-md-2">
                          <label for="vitalsigns-bplabel">BP</label>
                        </div>

                        <div class="col-md-2">
                          <label for="vitalsigns-rrlabel">RR</label>
                        </div>

                        <div class="col-md-2">
                          <label for="vitalsigns-spo2label">SpO2</label>
                        </div>

                      </div>

                      <div class="row">

                        <div class="col-md-2">
                          <div class="input-group">
                            <%= f.input_field :vitalsignstemperature, :class => "form-control", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[vitalsignstemperature]", :value => opdrecord.read_attribute(:vitalsignstemperature) %>
                            <span class="input-group-addon">&deg;C</span>
                          </div>
                        </div>

                        <div class="col-md-2">
                          <div class="input-group">
                            <%= f.input_field :vitalsignspulse, :class => "form-control", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[vitalsignspulse]", :value => opdrecord.read_attribute(:vitalsignspulse) %>
                            <span class="input-group-addon">bpm</span>
                          </div>
                        </div>

                        <div class="col-md-2">
                          <div class="input-group">
                            <%= f.input_field :vitalsignsbp, :class => "form-control", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[vitalsignsbp]", :value => opdrecord.read_attribute(:vitalsignsbp) %>
                            <span class="input-group-addon">mmHg</span>
                          </div>
                        </div>

                        <div class="col-md-2">
                          <div class="input-group">
                            <%= f.input_field :vitalsignsrr, :class => "form-control", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[vitalsignsrr]", :value => opdrecord.read_attribute(:vitalsignsrr) %>
                            <span class="input-group-addon">brpm</span>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="input-group">
                            <%= f.number_field :vitalsignsspo2, { class: "form-control vitalsignsspo2", value: opdrecord.read_attribute(:vitalsignsspo2)} %>
                            <span class="input-group-addon">%</span>
                          </div>
                        </div>

                      </div>

                    </div>

                  </div>

                </div>

                <div class="col-md-12 mb5">

                  <div class="row">

                    <div class="col-md-2">

                      <label for="anthropometry-radioselectlabel">Anthropometry:</label>

                    </div>

                    <div class="col-md-10">

                      <div class="row">

                        <div class="col-md-3">
                          <label for="anthropometry-heightlabel">Height</label>
                        </div>

                        <div class="col-md-3">
                          <label for="anthropometry-weightlabel">Weight</label>
                        </div>

                        <div class="col-md-3">
                          <label for="anthropometry-bmilabel">BMI (auto calc)</label>
                        </div>

                      </div>

                      <div class="row">

                        <div class="col-md-3">
                          <div class="input-group">
                            <%= f.input_field :anthropometryheight, :class => "form-control", :maxlength => 4, :size => 4, :required => false, :name => "opdrecord[anthropometryheight]", :value => opdrecord.read_attribute(:anthropometryheight) %>
                            <span class="input-group-addon">feet</span>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="input-group">
                            <%= f.input_field :anthropometryweight, :class => "form-control", :maxlength => 4, :size => 4, :required => false, :name => "opdrecord[anthropometryweight]", :value => opdrecord.read_attribute(:anthropometryweight) %>
                            <span class="input-group-addon">kg</span>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="input-group">
                            <%= f.input_field :anthropometrybmi, :class => "form-control", :maxlength => 4, :size => 4, :required => false, :name => "opdrecord[anthropometrybmi]", :value => opdrecord.read_attribute(:anthropometrybmi) %>
                            <span class="input-group-addon">kg/m2</span>
                          </div>
                        </div>

                      </div>

                    </div>
                  </div>

                </div>

                <div class="col-md-12 mb5">

                  <div class="form-group">
                    <label for="glasgowcomascale-temperaturelabel">Glasgow Coma Scale</label>
                    <div class="input-group">
                      <%= f.input_field :glasgowcomascale, :class => "form-control", :maxlength => 4, :size => 4, :required => false, :name => "opdrecord[glasgowcomascale]", :value => opdrecord.read_attribute(:glasgowcomascale) %>
                      <span class="input-group-addon">/15</span>
                    </div>
                  </div>

                </div>

                <div class="col-md-12 mb5">

                  <div for="systemicexamination-radioselectlabel" class="col-md-2">Systemic Examination:</div>
                  <%= f.input :systemicexamination, wrapper_html: {:class=>"col-md-10"},collection: ['Airway', 'Breathing', 'Circulation', 'Cervical spine', 'Pelvis'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[systemicexamination]" }, :checked => opdrecord.read_attribute(:systemicexamination) %>
                </div>

                <div class="col-md-12 mb5">

                  <div class="row">

                    <div class="col-md-6">

                      <div for="distalneurovasculardeficit-radioselectlabel" class="col-md-8">Distal Neuro-vascular deficit:</div>
                      <%= f.input :distalneurovasculardeficit, wrapper_html: {:class=>"col-md-4"},collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[distalneurovasculardeficit]" }, :checked => opdrecord.read_attribute(:distalneurovasculardeficit) || 'No' %>

                    </div>

                    <div class="col-md-6">

                      <div class="form-group" id="functionalstatuscurrentdisability">
                        <label for="functionalstatuscurrentdisability-radioselectlabel">Functional status / Current Disability</label>
                        <%= f.input :functionalstatuscurrentdisability, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 70, :required => false } %>
                      </div>

                    </div>

                  </div>

                </div>


                <div class="col-md-12 mb5">

                  <div class="row">

                    <div class="col-md-6">

                      <div for="previoustreatmenttakenelsewhere-radioselectlabel" class="col-md-8">Previous treatment taken elsewhere:</div>
                      <%= f.input :previoustreatmenttakenelsewhere, wrapper_html: {:class=>"col-md-4"},collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[previoustreatmenttakenelsewhere]" }, :checked => opdrecord.read_attribute(:previoustreatmenttakenelsewhere) || 'No' %>
                    </div>

                    <div class="col-md-6">

                      <div class="form-group" id="previoustreatmenttakenelsewherecomments">
                        <label for="previoustreatmenttakenelsewherecomments-radioselectlabel">Previous treatment taken elsewhere comments</label>
                        <%= f.input :previoustreatmenttakenelsewherecomments, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 70, :required => false } %>
                      </div>

                    </div>

                  </div>

                </div>


                <div class="col-md-12">
                  <label for="comments-textarealabel">Comments</label>
                  <%= f.input :objectivecomments, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 70, :required => false } %>
                </div>


              </div>


            </div>

          </div>

        </div>

      </div><!-- panel -->

    </div>

    <div class="col-md-4">

      <div class="panel panel-success">

        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="minimize">−</a>
          </div>
          <h4 class="panel-title">Optional</h4>
        </div>
        <div class="panel-body">

          <%= render "opd_records/upperlimbskeletonsvg" %> <!-- SVG skeleton include -->
          <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/upperlimbshoulderr", locals: { f: f } %>  <!-- fields of upper limb shoulder right -->
          <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/upperlimbshoulderl", locals: { f: f } %>  <!-- fields of upper limb shoulder left -->
          <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/upperlimbelbowr", locals: { f: f } %>   <!-- fields of upper limb elbow right -->
          <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/upperlimbelbowl", locals: { f: f } %>   <!-- fields of upper limb elbow left -->
          <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/upperlimbspinec", locals: { f: f } %>  <!-- fields of upper limb spine cervical -->
          <%= render partial: "opd_records/#{@speciality_folder_name}_notes/traumaannotations/upperlimbspinel", locals: { f: f } %>  <!-- fields of upper limb spine lumbar -->

        </div>

      </div>

    </div>

  </div>

</div>