<div clsss="row">
    <%= render partial:  "opd_records/orthopedics_notes/opd_summary_tab.html.erb"%>
</div>
<script>
	jQuery(".show-opd-record-comments-bydoctors").html("<%= escape_javascript(render 'opd_records/add_comment_opd_record') %>")
	jQuery(".opd-record-comment-form").html("<%= escape_javascript(render 'opd_records/opd_record_comment_form') %>")
	jQuery("#contactCard").html("<%= escape_javascript(render partial: 'patients/contactcard') %>")


	if ("<%=@appointment.id%>"  == $(".patient-summary-to-templates").attr("data-appointmentid")) {
	  jQuery(".opd_templates_links").empty();
	//setTimeout(function(){
	  jQuery(".opd_templates_links").append("<%= escape_javascript(render partial: 'patients/opd_templates_links') %>")
	  jQuery(".enable-patient-summary-template-buttons").removeClass("disabled")
	}

	if($(".appointment-panel").length > 0){
	  $(".appointment_today").find('.active').find("[data-appointment-id='" + $("#appointment_refresher").val() + "']").trigger('click');
	  // $("#patient-opd-templates").html("<%= escape_javascript(render 'outpatients/appointment/appointment_details/opd_templates_details.html.erb') %>")
	}

	// Appointment Scheduler
	if($(".appointment-calendar-panel").length > 0){
	  $("#opd-calendar").fullCalendar('refetchEvents')
	  // $("#patient-opd-templates").html("<%= escape_javascript(render 'outpatients/appointment/appointment_details/opd_templates_details.html.erb') %>")
	}

	if($(".patient-timeline-panel").length > 0){
	  $('#btn-timeline-refresh').trigger('click')
	}

	// for toggle history
	$(document).ready(function(){
	  $(".show-history-toggle").on('click', function(){
	    if($(this).html() == "Show Details"){
	      $(this).html("Hide Details")
	    } else {
	      $(this).html("Show Details")
	    }
	    $(".show-history-details").toggle()
	    $(".info-history-abbv").toggle()
	  })
	})
</script>