<!-- Needs further Cleaning -->
<div class="col-md-12">
  <% @patient_uploads.each do |upload| %>
    <% if upload.is_folder == 'N' && upload.content_type %>
      <% if upload.content_type.include?('pdf') %>
        <div class="col-md-2 col-md-5-shared document" oncontextmenu="return false;">
          <div class="category-tag">
            <span class="letter"><%= upload.upload_tag %></span>
          </div>
          <div class="thumb">
            <div class="btn-group fm-group">
              <button type="button" class="btn btn-default dropdown-toggle fm-toggle" data-toggle="dropdown">
              <span class="caret"></span>
              </button>
              <ul class="dropdown-menu fm-menu" role="menu">
                <li><%= link_to paperrecords_download_asset_path(id: upload.id, format: 'application/pdf') do %>
                  <span><i class="fa fa-download"></i> Download</span>
                  <% end %>
                </li>
                <li><%= link_to edit_paperrecords_path(id: upload.id), data: { remote: true }  do %>
                  <span><i class="fa fa-pencil-alt"></i> Edit</span>
                  <% end %>
                </li>
                <li><%= link_to paperrecords_path(id: upload.id), data: { remote: true, action: 'destroy', method: :delete, confirm: 'Are you sure want to delete this?' } do %>
                  <span><i class="fa fa-trash-alt"></i> Delete</span>
                  <% end %>
                </li>
              </ul>
            </div>
            <div class="thumb-prev">
              <a href="/investigation/records/pdf_upload_details?investigation_id=<%= upload.try(:investigation_detail_id).to_s %>&clicked_image_id=<%= upload.id %>" class="file" data-remote="true">
                <%= image_tag 'photos/pdf-page.png', class: 'img-responsive', width: '90px' %>
              </a>
            </div>
            <h5 class="fm-title text-center"><a href="<%= upload.asset_path_url %>" target="_blank"><%= upload.try(:name).try(:capitalize) %></a></h5>
            <small class="text-muted text-center">Added:<%= upload.try(:reported_date).try(:strftime, "%d %b '%y") %></small>
          </div>
          <!-- thmb -->
        </div>
      <% end %>
      <% if upload.content_type.include?("text") %>
        <div class="col-md-2 col-md-5-shared document" oncontextmenu="return false;">
          <div class="category-tag">
            <span class="letter"><%= upload.upload_tag %></span>
          </div>
          <div class="thumb">
            <div class="btn-group fm-group">
              <button type="button" class="btn btn-default dropdown-toggle fm-toggle" data-toggle="dropdown">
              <span class="caret"></span>
              </button>
              <ul class="dropdown-menu fm-menu" role="menu">
                <li><%= link_to paperrecords_download_asset_path(id: upload.id, format: 'application/text') do %>
                  <i class="fa fa-download"></i> Download
                  <% end %>
                </li>
                <li><%= link_to edit_paperrecords_path(id: upload.id), data: { remote: true }  do %>
                  <i class="fa fa-pencil-alt"></i> Edit
                  <% end %>
                </li>
                <li><%= link_to paperrecords_path(id: upload.id), data: { remote: true, action: 'destroy', method: :delete, confirm: 'Are you sure want to delete this?' } do %>
                  <i class="fa fa-trash-alt"></i> Delete
                  <% end %>
                </li>
              </ul>
            </div>
            <div class="thumb-prev">
              <%= link_to paperrecords_download_asset_path(id: upload.id, format: 'application/text') do %>
                <%= image_tag 'photos/text.png', class: 'img-responsive', width: '90px' %>
              <% end %>
            </div>
            <h5 class="fm-title text-center"><a href="<%= upload.asset_path_url %>" target="_blank"><%= upload.try(:name).try(:capitalize) %></a></h5>
            <small class="text-muted text-center">Added:<%= upload.try(:reported_date).try(:strftime, "%d %b '%y") %></small>
          </div>
          <!-- thmb -->
        </div>
      <% end %>
      <% if upload.content_type.include?("ms-excel") %>
        <div class="col-md-2 col-md-5-shared document" oncontextmenu="return false;">
          <div class="category-tag">
            <span class="letter"><%= upload.upload_tag %></span>
          </div>
          <div class="thumb">
            <div class="btn-group fm-group">
              <button type="button" class="btn btn-default dropdown-toggle fm-toggle" data-toggle="dropdown">
              <span class="caret"></span>
              </button>
              <ul class="dropdown-menu fm-menu" role="menu">
                <li><%= link_to paperrecords_download_asset_path(id: upload.id, format: 'application/doc') do %>
                  <i class="fa fa-download"></i> Download
                  <% end %>
                </li>
                <li><%= link_to edit_paperrecords_path(id: upload.id), data: { remote: true }  do %>
                  <i class="fa fa-pencil-alt"></i> Edit
                  <% end %>
                </li>
                <li><%= link_to paperrecords_path(id: upload.id), data: { remote: true, action: 'destroy', method: :delete, confirm: 'Are you sure want to delete this?' } do %>
                  <i class="fa fa-trash-alt"></i> Delete
                  <% end %>
                </li>
              </ul>
            </div>
            <div class="thumb-prev">
              <%= link_to paperrecords_download_asset_path(id: upload.id, format: 'application/doc') do %>
                <%= image_tag 'photos/xls.png', class: 'img-responsive', width: '90px' %>
              <% end %>
            </div>
            <h5 class="fm-title text-center"><a href="<%= upload.asset_path_url %>" target="_blank"><%= upload.try(:name).try(:capitalize) %></a></h5>
            <small class="text-muted text-center">Added:<%= upload.try(:reported_date).try(:strftime, "%d %b '%y") %></small>
          </div>
          <!-- thmb -->
        </div>
      <% end %>
      <% if upload.content_type.include?("doc") %>
        <div class="col-md-2 col-md-5-shared document" oncontextmenu="return false;">
          <div class="category-tag">
            <span class="letter"><%= upload.upload_tag %></span>
          </div>
          <div class="thumb">
            <div class="btn-group fm-group">
              <button type="button" class="btn btn-default dropdown-toggle fm-toggle" data-toggle="dropdown">
              <span class="caret"></span>
              </button>
              <ul class="dropdown-menu fm-menu" role="menu">
                <li><%= link_to paperrecords_download_asset_path(id: upload.id, format: 'application/doc') do %>
                  <i class="fa fa-download"></i> Download
                  <% end %>
                </li>
                <li><%= link_to edit_paperrecords_path(id: upload.id), data: { remote: true }  do %>
                  <i class="fa fa-pencil-alt"></i> Edit
                  <% end %>
                </li>
                <li><%= link_to paperrecords_path(id: upload.id), data: { remote: true, action: 'destroy', method: :delete, confirm: 'Are you sure want to delete this?' } do %>
                  <i class="fa fa-trash-alt"></i> Delete
                  <% end %>
                </li>
              </ul>
            </div>
            <div class="thumb-prev">
              <%= link_to paperrecords_download_asset_path(id: upload.id, format: 'application/text') do %>
                <%= image_tag 'photos/doc.ico', class: 'img-responsive', style: 'height: 90px' %>
              <% end %>
            </div>
            <h5 class="fm-title text-center"><a href="<%= upload.asset_path_url %>" target="_blank"><%= upload.try(:name).try(:capitalize) %></a></h5>
            <small class="text-muted text-center">Added:<%= upload.try(:reported_date).try(:strftime, "%d %b '%y") %></small>
          </div>
          <!-- thmb -->
        </div>
      <% end %>
      <% if upload.format == nil && upload.content_type.include?("png") || upload.content_type.include?("jpg") || upload.content_type.include?("jpeg") || upload.content_type.include?("gif") || upload.content_type.include?("tif") %>
        <div class="col-md-2 col-md-5-shared image" oncontextmenu="return false;">
          <div class="category-tag">
            <span class="letter"><%= upload.upload_tag %></span>
          </div>
          <div class="thumb">
            <div class="btn-group fm-group">
              <button type="button" class="btn btn-default dropdown-toggle fm-toggle" data-toggle="dropdown">
              <span class="caret"></span>
              </button>
              <ul class="dropdown-menu fm-menu" role="menu">
                <li><%= link_to paperrecords_download_asset_path(id: upload.id, format: 'image/*') do %>
                  <i class="fa fa-download"></i> Download
                  <% end %>
                </li>
                <li><%= link_to edit_paperrecords_path(id: upload.id), data: { remote: true }  do %>
                  <i class="fa fa-pencil-alt"></i> Edit
                  <% end %>
                </li>
                <li><%= link_to paperrecords_path(id: upload.id), data: { remote: true, action: 'destroy', method: :delete, confirm: 'Are you sure want to delete this?' } do %>
                  <i class="fa fa-trash-alt"></i> Delete
                  <% end %>
                </li>
              </ul>
            </div>
            <div class="thumb-prev">
              <a href="/investigation/records/upload_details?investigation_id=<%= upload.try(:investigation_detail_id).to_s %>&clicked_image_id=<%= upload.id %>" class="file" data-remote="true">
                <img style="height: 100px;width:100%;" src="<%= upload.asset_path_url %>" class="img-responsive" data-rel="prettyPhoto" alt="">
              </a>
            </div>
            <h5 class="fm-title text-center"><a href="<%= upload.asset_path_url %>" target="_blank"><%= upload.try(:name).try(:capitalize) %> <% if upload.try(:eyeside).present? %>(<%= upload.try(:eyeside).try(:upcase) %>)<% end %></a></h5>
            <small class="text-muted text-center">Added:<%= upload.try(:reported_date).try(:strftime, "%d %b '%y") %></small>
          </div>
          <!-- thmb -->
        </div>
      <% end %>
      <% if upload.content_type.include?("png") || upload.content_type.include?("jpg") || upload.content_type.include?("jpeg") and upload.format == "dicom" %>
        <div class="col-md-2 col-md-5-shared image" oncontextmenu="return false;">
          <div class="category-tag">
            <span class="letter"><%= upload.upload_tag %></span>
          </div>
          <div class="thumb">
            <div class="btn-group fm-group">
              <button type="button" class="btn btn-default dropdown-toggle fm-toggle" data-toggle="dropdown">
              <span class="caret"></span>
              </button>
              <ul class="dropdown-menu fm-menu" role="menu">
                <li><%= link_to paperrecords_download_asset_path(id: upload.id, format: 'application/doc') do %>
                  <i class="fa fa-download"></i> Download
                  <% end %>
                </li>
                <li><%= link_to edit_paperrecords_path(id: upload.id), data: { remote: true }  do %>
                  <i class="fa fa-pencil-alt"></i> Edit
                  <% end %>
                </li>
                <li><%= link_to paperrecords_path(id: upload.id), data: { remote: true, action: 'destroy', method: :delete, confirm: 'Are you sure want to delete this?' } do %>
                  <i class="fa fa-trash-alt"></i> Delete
                  <% end %>
                </li>
              </ul>
            </div>
            <div class="thumb-prev">
              <a href="/investigation/records/upload_details?investigation_id=<%= upload.try(:investigation_detail_id).to_s %>&clicked_image_id=<%= upload.try(:id) %>" class="file" data-remote="true">
                <img style="height: 100px;width:100%;" src="<%= upload.asset_path_url %>" class="img-responsive" data-rel="prettyPhoto" alt="">
              </a>
            </div>
            <h5 class="fm-title text-center"><a href="<%= upload.asset_path_url %>" target="_blank"><%= upload.try(:name).try(:capitalize) %></a></h5>
            <small class="text-muted text-center">Added:<%= upload.try(:reported_date).try(:strftime, "%d %b '%y") %></small>
          </div>
          <!-- thmb -->
        </div>
      <% end %>
      <% if upload.content_type.include?("video/mp4") %>
        <div class="col-md-6 col-sm-6 image" oncontextmenu="return false;">
          <div class="category-tag">
            <span class="letter"><%= upload.upload_tag %></span>
          </div>
          <div class="thumb">
            <div class="btn-group fm-group" style="display: none;z-index: 100; ">
              <button type="button" class="btn btn-default dropdown-toggle fm-toggle" data-toggle="dropdown">
              <span class="caret"></span>
              </button>
              <ul class="dropdown-menu fm-menu" role="menu">
                <li><%= link_to paperrecords_download_asset_path(id: upload.id, format: 'application/doc') do %>
                  <i class="fa fa-download"></i> Download
                  <% end %>
                </li>
                <li><%= link_to edit_paperrecords_path(id: upload.id), data: { remote: true }  do %>
                  <i class="fa fa-pencil-alt"></i> Edit
                  <% end %>
                </li>
                <li><%= link_to paperrecords_path(id: upload.id), data: { remote: true, action: 'destroy', method: :delete, confirm: 'Are you sure want to delete this?' } do %>
                  <i class="fa fa-trash-alt"></i> Delete
                  <% end %>
                </li>
              </ul>
            </div>
            <div class="thumb-prev">
              <%#= video_tag upload.asset_path_url,:size => "350x160", :style=>"height: 100px",controls: true %>
              <video width="350" height="160" style="height: 100px" controls="controls">
                <source src="/investigation/records/upload_details?investigation_id=<%= upload.try(:investigation_detail_id).to_s %>&clicked_image_id=<%= upload.try(:id) %>">
                Your browser does not support the video tag.
              </video>
            </div>
            <h5 class="fm-title text-center"><a href="<%= upload.asset_path_url %>" target="_blank"><%= upload.try(:name).try(:capitalize) %></a></h5>
            <small class="text-muted text-center">Added:<%= upload.try(:reported_date).try(:strftime, "%d %b '%y") %></small>
          </div>
          <!-- thmb -->
        </div>
      <% end %>
    <% end %>
  <% end %>

  <% if @patient_uploads.count == 0 %>
    <div class="text-center">
      <b><i class="fa fa-upload"></i> No Uploads</b>
    </div>
  <% end %>
</div>

<style>
  .category-tag {
    padding: 8px;
    background: dodgerblue;
    border: 2px solid dodgerblue;
    color: whitesmoke;
    text-align: center;
    z-index: 100;
    font: 32px Arial, sans-serif;
    position: absolute;
    left: 10px;
  }

  .fm-title {
     text-overflow: ellipsis;
  }

  .thumb .fm-group {
     display: none;
  }

  .letter {
    position: absolute;
    left: 3px;
    font-size: 14px;
    top: 1px;
  }

  .thumb {
     background:#D3D3D3;
     height: 170px
  }

  .filemanager .fm-group {
    position: absolute;
    top: 2px;
    right: 15px;
  }
</style>

<script>
  $('.thumb').hover(function(){
    $(this).find('.fm-group').show();
  }, function() {
    if(!$(this).closest('.thumb').hasClass('checked')) {
      $(this).find('.fm-group').hide();
    }
  });
</script>
