<div class="print-template">

  <div class="pcs-entity-title"><span><%= @user_note.category.upcase %></span></div>

  <% patient = Patient.find(@user_note.patient_id)%>

  <div class="patientinfo" id="patientinfo">
    <table cellpadding="0" cellspacing="0" border="0" style="margin-top: 25px;width: 100%;">
      <tbody>
      <tr>
        <td style="width:50%;vertical-align:top;word-wrap: break-word;line-height: 18px;" valign="top">
          <div>
          <span>
            <%= patient.fullname %>
            <% if !patient.gender.nil? || !patient.age.nil? %> - <% end %>
            <% if patient.gender == 'Male' %>M <% if !patient.age.nil? %>/<% end %><% end %>
            <% if patient.gender == 'Female' %>F <% if !patient.age.nil? %>/<% end %><% end %>
            <% if patient.age? %>
                <%= patient.age %>
            <% end %>
          </span><br>
            <span><%= PatientIdentifier.find_by(patient_id: patient.id, organisation_id: current_user.organisation_id).try(:patient_org_id) %></span><br>
            <span>+91<%= patient.mobilenumber %></span><br>
            <span><%= @user_note.date_of_issue.strftime("%d %B, %Y") %></span>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <br>
  <div class="row text-center" style="text-decoration: underline;">

    <p style="font-size:15px;"><%= @user_note.medical_subject %></p>
    <br>
  </div>

  <div class="row" style="margin: 0px 10px;text-align: justify;">

    <%= @user_note.medical_body.html_safe %>
    <br>
    <br>
    <br>
  </div>

  <!--Signature-->
    <%= render partial: 'common/user_signature.html.erb',locals: {user_id: @user_note_doctor.try(:id)} %>
  <!--Signature Ends-->

</div>