<p id="notice"><%= notice %></p>

<h1>Listing Medical Certificates</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medical_certificates.each do |medical_certificate| %>
      <tr>
        <td><%= link_to 'Show', medical_certificate %></td>
        <td><%= link_to 'Edit', edit_medical_certificate_path(medical_certificate) %></td>
        <td><%= link_to 'Destroy', medical_certificate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medical certificate', new_user_note_path %>
