<%= javascript_include_tag 'application-loggedin', 'data-turbolinks-track' => true %>
<div class="modal-dialog modal-md" style="width:98%;">
  <!-- Modal content-->
  <div class="modal-content">
    <%= form_tag '/inventory/rol_rules/update_multiple', method: 'patch', remote: true, id: 'new-rol-rules-form', class: 'new-rol-rules-form' do %>
      <div class="modal-header">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <h4 class="modal-title">Add Rol Rules</h4>
          </div>
          <div class="col-md-4 text-right">
            <% if @variants.count > 0 && @selected_store.present? %>
              <%= submit_tag 'Save', class: "btn btn-success", id: 'save-multiple-rol-rules', data: { 'disable-with': 'Please Wait...' }, onclick: 'rol_rule_form()' %>
            <% end %>
            <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:5px;">Close</button>
          </div>
        </div>
      </div>

      <div class="modal-body rol-rule-body">
        <div class="row mb10">
          <div class="col-md-12 text-center">
            <b style="color:#000;">Rol Rule</b>
            <p style="color:#f00;">Create/Update ROL Rule in Bulk for Item Masters.</p>
          </div>
        </div>


        <div class="row">

          <div class="col-md-1 col-md-3-shared text-right">
            <b class="form-control" style="border: 0;">Store : </b>
          </div>
          <div class="col-md-2">
            <%= select_tag 'store_id', options_for_select(@stores, @selected_store), include_blank: 'Please select', class: 'form-control store_dropdown' %>
          </div>
          <% if (@variants.count > 0 && @selected_store.present?) %>
            <div class="col-md-3">
              <b class="form-control" style="border: 0;">SEARCH ITEMS VARIANTS : </b>
            </div>
            <div class="col-md-3">
              <input type="text" name="search-item-variants" id="search-item-variants" class="form-control" placeholder="Search Item Variants">
            </div>
          <% end %>
        </div>
        <hr style="margin:5px;">

        <div class="row mb5">
          <div class="col-md-2">
            SR No.
          </div>
          <div class="col-md-2">
            Item Variant Name
          </div>
          <div class="col-md-2">
            Category
          </div>
          <div class="col-md-2">
            Sub-Category
          </div>
          <div class="col-md-2">
            Rol Value
          </div>
          <div class="col-md-1">
            Max Value
          </div>
          <div class="col-md-1">
            Min Value
          </div>
        </div>

        <div class="item-variants-rates">
          <% if @selected_store.present? %>
            <% @counter = 0 %>
            <%= render partial: 'inventory/rol_rules/form_fields.html.erb', locals: { variants: @variants } %>

        <% end %>
        </div>
      </div>
      <div class="modal-footer">
      </div>
  <% end %>
  </div>
</div>

<script>

  function rol_rule_list(){
    var store_id = $('.store_dropdown').val();
    if (store_id == ""){
      $('.item-variants-rates').html('')
    }else{
      $('.item-variants-rates').html('<div class="loader"></div>')
    }
    $.ajax({
      type: "GET",
      url: '/inventory/rol_rules/edit_multiple',
      data: { store_id: store_id,
        remote: "true" },
    })
  }

  $('.store_dropdown').on('change', function() {
    if ($('.main-rol-rule-list').length > 0){
      $('#confirm-filter')
          .html(confirmationModal('rol_rule_list', '<%= @selected_store %>'))
          .modal('show')
          .css('background-color', 'rgba(0,0,0,0.5)')
    } else {
      rol_rule_list()
    }
  })
</script>
