<hr style="margin:5px 0 10px;" />
<% variants.each do |variant| %>
  <% existing_rol = Inventory::RolRule.where(variant_id: variant.id)&.last %>
  <div class="main-rol-rule-list">

    <div class="row mb5">
      <div class="col-md-2">
        <b class="sr_no"><%= @counter + 1 %>.</b>
      </div>
      <div class="col-md-2">
        <b class="variant_name"><%= variant.description %></b>
      </div>
      <div class="col-md-2">
        <b class="category_name"><%= variant.category_name %></b>
      </div>
      <div class="col-md-2">
        <b class="sub_category_name"><%= sub_category_name(variant) %></b>
      </div>
      <div class="row inventory-rol-rule-details mb10">
        <input type='hidden' name='inventory_rol_rule[<%= @counter %>][id]' value='<%= existing_rol&.id %>' class=''>
        <input type='hidden' name='inventory_rol_rule[<%= @counter %>][is_updated]' value='false' class='is_updated'>
        <input type='hidden' name='inventory_rol_rule[<%= @counter %>][store_id]' value='<%= @selected_store %>' class='store_id'>
        <input type='hidden' name='inventory_rol_rule[<%= @counter %>][store_name]' value='<%= @store.name %>' class='store_name'>
        <input type='hidden' name='inventory_rol_rule[<%= @counter %>][variant_id]' value='<%= variant.id %>' class='variant_id'>
        <input type='hidden' name='inventory_rol_rule[<%= @counter %>][variant_reference_id]' value='<%= variant.reference_id %>' class='variant_id'>
        <input type='hidden' name='inventory_rol_rule[<%= @counter %>][item_id]' value='<%= variant.item_id %>' class='variant_id'>
        <input type='hidden' name='inventory_rol_rule[<%= @counter %>][variant_name]' value='<%= variant.description %>' class='variant_name'>


        <div class="col-md-2">
          <input type='text' step='any' name='inventory_rol_rule[<%= @counter %>][rol_value]' class='form-control item_rol_value p5_10' id='inventory_rol_rule_<%= @counter %>_rol_value' value="<%= existing_rol&.rol_value %>" maxlength= '10' onkeypress= 'return event.charCode >= 48 && event.charCode <= 57'>
        </div>
        <div class="col-md-1">
          <input type='text' step='any' name='inventory_rol_rule[<%= @counter %>][max_value]' class='form-control item_max_value p5_10' id='inventory_rol_rule_<%= @counter %>_max_value' value="<%= existing_rol&.max_value %>" maxlength= '10' onkeypress= 'return event.charCode >= 48 && event.charCode <= 57'>
        </div>
        <div class="col-md-1">
          <input type='text' step='any' name='inventory_rol_rule[<%= @counter %>][min_value]' class='form-control item_min_value p5_10' id='inventory_rol_rule_<%= @counter %>_min_value' value="<%= existing_rol&.min_value %>" maxlength= '10' onkeypress= 'return event.charCode >= 48 && event.charCode <= 57'>
        </div>
      </div>
    </div>
    <hr style="margin:5px 0 10px;" />
  </div>
  <% @counter += 1 %>
<% end %>
