<% @all_facility = current_user_facilities.sort! { |first, last| first.name.downcase <=> last.name.downcase } %>
<%# if @all_facility.size > 1 %>
  <li class="common-li-class">
    <button type="button" class="btn btn-default dropdown-toggle focus-set facility_dropdown" data-toggle="dropdown" style="padding:13px; background-color:#fff; border:none;">
      <span class="fa-color">
        <i class="fa fa-hospital-o" style="font-size: 20px;opacity: 1;"></i>
        <%= current_facility.abbreviation %>
      </span>
      <span class="caret fa-color"></span>
    </button>

    <ul class="dropdown-menu children" id="main-facility-list" style="background-color:#fff;overflow-y: auto;max-height: 520px">
      <% if @all_facility.count > 10 %>
        <li><input type="text" name="search_facility" id='search-facility' placeholder="Search Facility" class="form-control p5_10"></li>
        <hr style="margin:5px;">
      <% end %>
      <li class="facility_name"><%= current_facility.name %> - <%= current_facility.abbreviation %></li>
      <li class="dropdown-divider"></li>
      <% @all_facility.reject { |fac| fac.id == current_facility.id }.each do |facility| %>
        <li class="main-facility-list">
          <% if  facility.id != current_facility.id %>
              <%= link_to "/set_facility/#{facility.id}", class: 'facility_select rightnav-link', value: facility.id, style: 'color: #ccc', method: :post do %>
              <i class="fa fa-hospital-o"></i>
              <span id="facility_name">&nbsp; <%= facility.name %> - <%= facility.abbreviation %> </span>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </li>
<%# end %>
<% if @all_facility.count > 10 %>
  <script type="text/javascript">
    // To Prevent Dropdown from Closing On Input Focus
    $(document).on('click', '#main-facility-list', function (e) {
      e.stopPropagation();
    });

    // JS SEARCH
    $("#search-facility").on('keyup', function(){
      facility_list = $(".main-facility-list");
      search = $(this).val().toUpperCase().trim();
      for (var i = facility_list.length - 1; i >= 0; i--) {
        facility_name = $(facility_list[i]).find("#facility_name")
        if ($(facility_name).html().toUpperCase().indexOf(search) > -1) {
          $(facility_list[i]).css("display", "");
        } else {
          $(facility_list[i]).css("display", "None");
        }
      }
    })
  </script>
<% end %>
