<% if (current_organisation['type'] == 'hospital') %>
  <% @all_inventory_department = Inventory::Department.where(facility_id: current_facility.id) %>

  <% if @all_inventory_department.size > 0 %>
    <li class="common-li-class <%= 'activate' if params[:controller] == 'patient_management' && params[:action] == 'home' %>">
    <button type="button" class="btn btn-default dropdown-toggle focus-set" data-toggle="dropdown" style="padding:14px 10px; background-color:#fff; border:none;">
      <span class="fa-color"><i class="fa fa-shopping-cart fa-lg" style="font-size:15px;"></i> INVENTORIES</span>
      <span class="caret fa-color"></span>
    </button>

      <ul class="dropdown-menu children">
        <% if current_facility.try(:show_finances) %>
          <% @all_inventory_department.each do |inventory| %>
            <% if inventory.department_id == "central" %>
              <li>
              <%= link_to '/inventory', target: '_blank' do %>
                  <span><%= inventory.name %> Store</span>
                <% end %>
              </li>
            <% else %>
              <li>
              <%= link_to "/inventory/department/#{inventory.department_id}", target: '_blank' do %>
                  <span><%= inventory.name %></span>
                <% end %>
              </li>
            <% end %>
          <% end %>
        <% else %>
          <% @all_inventory_department.each do |inventory| %>
            <% unless inventory.department_id == "central" %>
              <li>
                <%= link_to "/prescriptions/#{inventory.display_name.downcase.split(' ')[0]}_management", target: '_blank' do %>
                  <span><%= inventory.name %></span>
                <% end %>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </li>
  <% end %>
<% end %>
