<li class="username text-center"><%= current_user.try(:fullname) %><br><span class='username-subsection' style=''>User Id:&nbsp;&nbsp;<%= current_user.username%></span></li>
<li class="dropdown-divider"></li>
<li>
  <a href="/settings/profile" data-remote="true" data-toggle="dropdown" class="dropdown-toggle ps rightnav-link logout-settings">
    <i class="fa fa-user manage_account_settings"></i>&emsp; Profile Settings
  </a>
</li>

<% if current_user.role_ids.any?{|i| [159282002, 159561009, 59561000, 159562000, 106292003, 28229004, 28221005, 499992366, 2822900478].include?i} %>
  <li>
    <a href="/settings/staffs/practice_setting" data-remote="true" data-toggle="dropdown" class="dropdown-toggle ps rightnav-link logout-settings">
      <i class="fa fa-medkit manage_account_settings" style="color: #000"></i>&emsp; Practice Settings
    </a>
  </li>
<% end %>

<% if current_user.role_ids.any?{|i| [158965000].include?i} %>
  <li>
    <a href="/doctors/practice_settings" data-remote="true" data-toggle="dropdown" class="dropdown-toggle ps rightnav-link logout-settings">
      <i class="fa fa-stethoscope manage_account_settings"></i>&emsp; Practice Settings
    </a>
  </li>
<% end %>

<% if current_user.role_ids.any?{|i| [159561009, 59561000, 159562000,106292003,28229004,28221005,499992366].include?i} %>
  <li>
    <a href="/settings/staff" data-remote="true" data-toggle="dropdown" class="dropdown-toggle ps rightnav-link logout-settings">
      <i class="fa fa-wrench manage_account_settings"></i>&emsp; View Settings
    </a>
  </li>
<% end %>

<% if user_authorized_by_policy?('HGP-103-100-101') %>
  <li>
    <%= link_to organisation_notifications_path, data: { remote: true, toggle: 'dropdown' }, class: 'dropdown-toggle ps rightnav-link notification-settings' do %>
      <i class="fa fa-envelope"></i>&emsp; In-App Notification Settings
    <% end %>
  </li>
<% end %>

<% if current_user.department_ids.include?('224608005') %>
  <li>
    <a href="/admins/facility_settings" data-remote="true" data-toggle="dropdown" class="dropdown-toggle ps rightnav-link logout-settings">
      <i class="fa fa-hospital-o manage_account_settings"></i>&emsp; Facility Settings
    </a>
  </li>
  <% if current_user.role_ids.any?{|i| [160943002, 6868009].include?i} %>
    <li>
      <a href="/admins/organisation_settings" data-remote="true" data-toggle="dropdown" class="dropdown-toggle ps rightnav-link logout-settings">
        <i class="fa fa-hospital-o manage_account_settings"></i>&emsp; Organisation Settings
      </a>
    </li>
  <% end %>
<% end %>

<% if current_user.department_ids.include?('224608005') %>
  <li>
    <a href="/print_settings" data-remote="true" data-toggle="dropdown" class="dropdown-toggle ps rightnav-link logout-settings">
      <i class="fa fa-print manage_account_settings"></i>&emsp; Print Settings
    </a>
  </li>
<% end %>
<li class="dropdown-divider"></li>
<% count = 0 %>
<% if current_user.role_ids.any?{|i| [158965000].include?i} %>
  <li>
    <a href="/analytics/users" data-remote="true" data-toggle="dropdown" class="dropdown-toggle ps rightnav-link logout-settings">
      <i class="fa fa-line-chart"></i>&nbsp;&nbsp; My Analytics
    </a>
  </li>
  <% count += 1 %>
<% end %>
<% if current_user.role_ids.any?{|i| [158966000].include?i} %>
  <li>
    <a onclick="location.reload();location.href='/mis/new_clinical_reports/reports_view?group=outpatient&title=patient_adverse_event'" data-remote="true" data-toggle="dropdown" class="dropdown-toggle ps rightnav-link logout-settings" style="cursor: pointer;">
      <i class="fa fa-line-chart"></i>&nbsp;&nbsp; Adverse Events Report
    </a>
  </li>
  <% count += 1 %>
<% end %>
<% if current_user.role_ids.any?{|i| [160943002,6868009,46255001,387619007].include?i} %>
  <% if current_facility.show_finances? %>
    <li>
      <%= link_to finance_reports_path, class: 'rightnav-link' do %>
        <i class="fa fa-line-chart">
        </i> <span>&nbsp;&nbsp;Reports</span>
      <% end %>
    </li>
    <% count += 1 %>
  <% end %>
<% end %>

<% unless current_user.role_ids.any?{|i| [159561009].include?i} %>
  <% if current_user.department_ids.include?('224608005') || (current_facility.country.id == 'KH_039' && current_user.role_ids.any?{|i| [28229004].include?i}) %>
    <% if current_facility.show_finances? %>
      <% if current_user.department_ids.include?('224608005') %>
        <li>
          <a href="/finance/expenses" data-remote="true" data-toggle="dropdown" class="dropdown-toggle ps rightnav-link logout-settings">
            <i class="fa fa-money"></i>&nbsp;&nbsp;Expenses
          </a>
        </li>
      <% end %>
      <li>
        <a href="/mis/financial_reports" data-remote="true" data-toggle="dropdown" class="dropdown-toggle ps rightnav-link logout-settings">
          <i class="fa fa-rupee"></i>&nbsp;&nbsp;Finance Reports
        </a>
      </li>
    <% end %>
    <li>
      <a href="/mis/new_clinical_reports" data-remote="true" data-toggle="dropdown" class="dropdown-toggle ps rightnav-link logout-settings">
        <i class="fa fa-stethoscope"></i>&nbsp;&nbsp;Clinical Reports
      </a>
    </li>
  <% end %>
  <% if current_user.department_ids.include?('224608005') %>
    <li>
      <a href="/mis/administrative_reports" data-remote="true" data-toggle="dropdown" class="dropdown-toggle ps rightnav-link logout-settings">
        <i class="fa fa-shield-alt"></i>&nbsp;&nbsp;Administrative Reports
      </a>
    </li>
    <li>
      <a href="/analytics/admins" data-remote="true" data-toggle="dropdown" class="dropdown-toggle ps rightnav-link logout-settings">
        <i class="fa fa-line-chart"></i>&nbsp;&nbsp; Analytics
      </a>
    </li>
    <%# count += 2 %>
  <% end %>
  <% count += 2 %>
<% end %>
<% if count > 0 %>
  <li class="dropdown-divider"></li>
<% end %>
<li>
  <%= link_to users_logout_path, data: { method: :delete, remote: true, 'toggle' => 'modal', 'target' => '#org-modal' }, class: 'rightnav-link' do %>
    <i class="glyphicon glyphicon-log-out"></i>&emsp; Log Out
  <% end %>
</li>

<script>
  <% unless current_organisation_setting.organisation_notification_enabled %>
    $('.notification-settings').hide();
  <% end %>


  $('.logout-settings').on('click', function(e){
    $('.departments_button').html("<span class='fa-color departments_span'><i class='fa fa-hospital-o fa-lg' style='font-size:15px;'><strong> DEPARTMENTS </strong><span class='caret fa-color'></span></span>").trigger('change');
  })
</script>
