<% if new_user_notifications.present? || old_user_notifications.present? %>
  <ul class="nav navbar-nav navbar-right notification-nav">
    <!-- Notification Icon -->
    <li class="headermenu-notification">
      <button class="btn btn-default dropdown-toggle notification_button" data-toggle="dropdown">
          <% if new_user_notifications.any? %>
            <span class="text-danger">
              <i class="fa fa-info"></i>
              <sup class='notification-count'><%= new_user_notifications.count %></sup>
            </span>
          <% else %>
            <span><i class="fa fa-info"></i></span>
          <% end %>
      </button>
      <ul class="dropdown-menu children notification_list">
        <% new_user_notifications.first(5).each_with_index do |notification, i| %>
          <% if i == 0 %>
            <li class="dropdown-divider text-center bg-orange"><small>New Notification</small></li>
          <% end %>
          <li>
            <%= link_to display_all_organisation_notifications_path(notification_id: notification['id'].to_s, type: 'new'), data: { remote: true, toggle: 'modal', target: '#display-notification-modal' }, class: 'dropdown-toggle new-notification-link' do %>
              <div class="row">
                <div class="col-md-12">
                  <span><%= notification['title'] %></span>
                </div>
                <div class="col-md-12 text-right">
                  <small class="text-danger"><%= notification['fullname'] %>, <%= Date.parse(notification['start_date']).to_s(:standard) %></small>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
        <% if new_user_notifications.count > 5 %>
          <li class="dropdown-divider"></li>
          <li class="text-center">
            <%= link_to display_all_organisation_notifications_path(notification_id: new_user_notifications[0]['id'].to_s, type: 'new'), data: { remote: true, toggle: 'modal', target: '#display-notification-modal' }, class: 'dropdown-toggle new-notification-link' do %>
              <small class="text-danger"><strong>SHOW ALL</strong></small>
            <% end %>
          </li>
        <% end %>
        <% old_user_notifications.first(5).each_with_index do |notification, i| %>
          <% if i == 0 %>
            <li class="dropdown-divider text-center bg-orange"><small>Old Notification</small></li>
          <% end %>
          <li>
            <%= link_to display_all_organisation_notifications_path(notification_id: notification['id'].to_s, type: 'old'), data: { remote: true, toggle: 'modal', target: '#display-notification-modal' }, class: 'dropdown-toggle old-notification-link' do %>
              <div class="row">
                <div class="col-md-12">
                  <span><%= notification['title'] %></span>
                </div>
                <div class="col-md-12 text-right">
                  <small class="text-danger"><%= notification['fullname'] %>, <%= Date.parse(notification['start_date']).to_s(:standard) %></small>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
        <% if old_user_notifications.count > 5 %>
          <li class="dropdown-divider"></li>
          <li class="text-center">
            <%= link_to display_all_organisation_notifications_path(notification_id: old_user_notifications[0]['id'].to_s, type: 'old'), data: { remote: true, toggle: 'modal', target: '#display-notification-modal' }, class: 'dropdown-toggle old-notification-link' do %>
              <small class="text-danger"><strong>SHOW ALL</strong></small>
            <% end %>
          </li>
        <% end %>
      </ul>
    </li>
  </ul>

  <style type="text/css">
    .notification-nav {
      margin-right: -12px;
    }

    .notification_button {
       background:none;
       border:none;
       margin: 7px 0;
    }

    .notification-count {
      font-size: 10px;
      color: #fff;
      background: #a94442;
      border-radius: 50%;
      padding: <%= new_user_notifications.count >= 10 ? 4 : 2 %>px 4px;
    }

    .bg-orange {
      background-color: #d9534f;
      color: #fff;
    }

    .notification_list {
      max-height: calc(100vh - 100px);
      overflow: scroll;
    }
  </style>

  <% unless current_organisation_setting.organisation_notification_enabled %>
    <script type="text/javascript">
        $(".notification_button").hide();
    </script>
  <% end %>
<% end %>
