<% if (current_organisation['type'] == 'hospital') %>
  <% stores = Inventory::Store.where(facility_id: current_facility.id, :user_ids.in => [@current_user.id], is_active: true, is_disable: false).pluck(:id, :name, :department_name) %>
  <% hubs = Inventory::Store.where(department_id: '550368792', is_active: true, :user_ids.in => [@current_user.id], is_disable: false).pluck(:id, :name, :department_name) %>
  <% @all_stores = stores + hubs %>
  <% if @all_stores.size > 0 %>
    <li class="common-li-class <%= 'activate' if params[:controller] == 'patient_management' && params[:action] == 'home' %>">
      <button type="button" class="btn btn-default dropdown-toggle focus-set" data-toggle="dropdown" style="padding:14px 10px; background-color:#fff; border:none;">
        <span class="fa-color"><i class="fa fa-shopping-cart fa-lg" style="font-size:15px;"></i> Stores</span>
        <span class="caret fa-color"></span>
      </button>
      <ul class="dropdown-menu children" id="store-list">
       <li><input type="search" name="search_facility" id='search-store' placeholder="Store" class="form-control p5_10 deletable"></li>
       <li>
        <% @all_stores.each do |store| %>
          <li class="main-store-list" id='navbar_store_<%= store[0] %>'>
            <%= link_to "/inventory/stores/#{store[0]}", target: '_blank' do %>
              <span id="store_name"><%= store[1] %>- <%= store[2] %></span>
            <% end %>
          </li>
        <% end %>
       </li> 
      </ul>
    </li>
  <% end %>
<% end %>

 <script type="text/javascript">
    // To Prevent Dropdown from Closing On Input Focus
    $(document).on('click', '#store-list', function (e) {
      e.stopPropagation();
    });
    // JS SEARCH
    $("#search-store").on('keyup', function(){
      store_filter = $(this).val().toUpperCase().trim();
      store_list_search(store_filter)
    })
    $(document).ready(function() {
        $('input.deletable').wrap('<span class="deleteicon"></span>').after($('<span>x</span>').click(function() {
          store_list_search("")
        $(this).prev('input').val('').trigger('change').focus();
        }));
       });
 function store_list_search (store_filter){
  store_list = $(".main-store-list");
   for (var i = store_list.length - 1; i >= 0; i--) {
        store_name = $(store_list[i]).find("#store_name")
        if ($(store_name).html().toUpperCase().indexOf(store_filter) > -1) {
          $(store_list[i]).css("display", "");
        } else {
          $(store_list[i]).css("display", "None");
        }
      }
 }
</script>
<style>
  span.deleteicon {
   position: relative;
    display: inline-flex;
    align-items: center;
    width: 100%;
  }
  span.deleteicon span {
  position: absolute;
  display: block;
  right: 3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  color: #fff;
  background-color: #ccc;
  font: 13px monospace;
  text-align: center;
  line-height: 1em;
  cursor: pointer;
  }
  span.deleteicon input {
  box-sizing: border-box;
  }
 </style>