<% if current_facility.show_user_state %>
  <% if current_user.facilities.where(show_user_state: true).size == 1 %>
    <li class="">
      <button type="button" class="btn btn-default dropdown-toggle focus-set facility_dropdown" data-toggle="dropdown" style="padding:14px; background-color:#fff; border:none;">
            <span class="" style="color:<%= user_state.state_color %>;">
              <i class="fa fa-circle"></i>&nbsp;&nbsp; <%= user_state.active_state %> <i class="fa fa-caret-down"></i>
            </span>
      </button>
      <ul class="dropdown-menu children">
        <% user_state.inactive_states.each do |inactive_state| %>
          <li>
            <%= link_to user_states_change_state_path(state: inactive_state, single_facility: true), :data => {remote: true, method: :post, 'toggle' => 'modal', "target" => "#org-modal"}, class: "state_select statenav-link", value: inactive_state[0], style:'color: ' + inactive_state[1] + ' !important;' do %>
              <i class="fa fa-circle"></i>&nbsp;&nbsp; <%= inactive_state[0] %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </li>
  <% else %>
    <li class="common-li-class">
      <%= link_to user_states_set_user_state_path(single_facility: false), data: { :remote => true, 'toggle' => 'modal', 'target' => '#org-modal' }, class: 'hover-effect', id: 'user_state', style: 'padding:15px; background-color:#fff; border:none;' do %>
        <span class="leftnav-main-title fa-color"><i class="fa fa-cog"></i> Set State</span>
      <% end %>
    </li>
  <% end %>
<% end %>
