<!-- <div class="navbar navbar-inverse navbar-fixed-top mis_navbar_custom"> -->
<div class="navbar navbar-inverse navbar-fixed-top mis_navbar">
  <%= render partial: "reports_navbar.html.erb" %>
</div>
<% if @mis_params[:back_group].present? && @mis_params[:back_title].present? %>
  <% back_url = "#{@mis_params[:url]}&group=#{@mis_params[:back_group]}&title=#{@mis_params[:back_title]}&start_date=#{@mis_params[:back_start_date]}&end_date=#{@mis_params[:back_end_date]}&facility_id=#{@mis_params[:facility_id]}&facility_name=#{@mis_params[:facility_name].gsub(/\'/,'`')}&pharmacy_store_id=#{@mis_params[:pharmacy_store_id]}&pharmacy_store_name=#{@mis_params[:pharmacy_store_name]&.gsub(/\'/,'`')}&optical_store_id=#{@mis_params[:optical_store_id]}&optical_store_name=#{@mis_params[:optical_store_name]&.gsub(/\'/,'`')}&currency_id=#{@mis_params[:currency_id]}&currency_symbol=#{@mis_params[:currency_symbol]}&time_period=#{@mis_params[:back_time_period]}&iDisplayStart=#{@mis_params[:back_iDisplayStart]}&iDisplayLength=#{@mis_params[:back_iDisplayLength]}&has_params=#{@mis_params[:has_params]}" %>
<% else %>
  <% if @mis_params[:title] == 'patient_adverse_event'%>
    <% back_url = "/mis/clinical_reports" %>
  <% else %>
    <% back_url = "/mis/new_clinical_reports" %>
  <% end %>

<% end %>
<!-- <div class="filters" style="margin-top: 3%;">
  <div class="container tag-box">
    <span style='float:left; margin: 10px 10px 15px 0;'>
      <a class="btn btn-default btn-xs ps" href="<%= back_url %>" role="button" data-remote="true"><i class="fa fa-arrow-left"></i>&emsp;Back</a>
    </span>
    <div class="tag-container">
    </div>
    <%#= render partial: "filters_sidebar.html.erb" %>
  </div>
</div> -->

<!-- <div class="mis-reports-list custsom-mis-style"> -->
<div class="mis-reports-list">
  <div class="filters" style="margin-top: 3%;">
    <div class="container tag-box">
      <span style='float:left; margin: 10px 10px 15px 0;'>
        <a class="btn btn-default btn-xs ps" href="<%= back_url %>" role="button" data-remote="true"><i class="fa fa-arrow-left"></i>&emsp;Back</a>
      </span>
      <div class="tag-container">
      </div>
      <%= render partial: "filters_sidebar.html.erb" %>
    </div>
  </div>
  <div class="page">
    <div class="page-content container-fluid">
      <div class="panel">
        <div class="panel-body">
          <!-- <div class="row row-lg col-md-12"> -->
          <!-- <div class="col-md-12"> -->
          <!-- Example Table For Url -->
          <div class="example-wrap m-sm-0">
            <div class="example">
              <div class="bootstrap-table">
                <div class="fixed-table-container no-border">
                  <div class="fixed-table-body no-border">
                    <div id='div_clinical_note' style="display: none;"></div>
                    <% if @mis_params[:group].present? && @mis_params[:title].present? %>
                      <table id="<%= @mis_params[:group] %>_<%= @mis_params[:title] %>" class="table mis-dataTable dataTable nowrap text-center" style="width:100%; <%= 'min-width: 200%' if @mis_params[:title] == 'patient_time_spent_wise' %>">
                      </table>
                    <% else %>
                      <h3 class="text-center">SOMETHING SEEMS TO BE WRONG.</h3>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <!-- End Example Table For Url -->
    <!-- </div> -->
    <!-- </div> -->
  </div>
</div>

<%= render partial: 'info_modal_dialog.html.erb' %>

<script type="text/javascript">
  <%= render partial: 'reports_view.js.erb' %>
  // Page Height on Window Resize
  var window_height = $(window).height() - 50
  $(".mis_reports_panel").css('height', window_height)

  $(window).resize(function() {
    var window_height = $(window).height() - 50
    $(".mis_reports_panel").css('height', window_height)
  })

  // dataTable width on Window Resize
  $(window).resize(function() {
    $(".mis-dataTable").css('width', "100%")
  })

  <% if @mis_params[:group].present? && @mis_params[:title].present? %>
    <%= render partial: "/mis/new_clinical_reports/#{@mis_params[:group]}/#{@mis_params[:title]}.js.erb" %>

    url = "<%= @mis_params[:url] %>group=<%= @mis_params[:group] %>&title=<%= @mis_params[:title] %>"
    history.pushState('', '', url); // history.pushState([data], [title], [url]);
  <% end %>
</script>

<style>
  .mis_navbar_custom {
    background: #354670;
    margin:-5px;
    border-radius: 0px;
  }
  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .report-table-header {
    border-right: 1px solid #e0e0e0 !important;
  }
  #investigation_investigation_detail{
    min-width: 180% !important;
  }
</style>