// Stop Dropdown From Closing when Searching in list
$(document).on('click', '.mis-search-toggle-off', function (e) {
  $(".dropdown").removeClass("open");
  e.stopPropagation();
});

// Search Facility
$("#mis-search-facility").on('keyup', function(){
  facility_list = $(".facility-list");
  search = $(this).val().toUpperCase().trim();
  for (var i = facility_list.length - 1; i >= 0; i--) {
    facility_name = $(facility_list[i]).find(".mis-facility-name")
    if ($(facility_name).html().toUpperCase().indexOf(search) > -1) {
      $(facility_list[i]).css("display", "");
    } else {
      $(facility_list[i]).css("display", "None");
    }
  }
})

// Refresh Button
$(".refresh-mis-reports").on("click", function(e){
  e.preventDefault();
  $('.modal-backdrop').remove();
  var start_date = "<%= @mis_params[:start_date] %>"
  var end_date = "<%= @mis_params[:end_date] %>"
  var facility_id = "<%= @mis_params[:facility_id] %>"
  var facility_name = '<%= @mis_params[:facility_name].gsub(/\'/,"`") %>'
  var time_period = "<%= @mis_params[:time_period] %>"
  var invoice_type = "<%= @mis_params[:invoice_type] %>"
  var store_id = "<%= @mis_params[:store_id] %>"
  var store_name = '<%= @mis_params[:store_name]&.gsub(/\'/,"`") %>'
  var initial_age = "<%= @mis_params[:initial_age] %>"
  var final_age = "<%= @mis_params[:final_age] %>"
  var gender_type = "<%= @mis_params[:gender_type] %>"
  var appointmenttype = "<%= @mis_params[:appointmenttype] %>"
  var consulting_doctor = "<%= @mis_params[:consulting_doctor] %>"
  var appointment_type = "<%= @mis_params[:appointment_type] %>"
  var location_type = "<%= @mis_params[:location_type] %>"
  var patient_visit = "<%= @mis_params[:patient_visit] %>"
  var person_responsible = "<%= @mis_params[:person_responsible] %>"
  var event_category = "<%= @mis_params[:event_category] %>"
  var event_description = "<%= @mis_params[:event_description] %>"
  var sub_category = "<%= @mis_params[:sub_category] %>"
  var moh = "<%= @mis_params[:moh] %>"
  var ipd_current_status = "<%= @mis_params[:ipd_current_status] %>"
  var admission_type = "<%= @mis_params[:admission_type] %>"
  var date_wise = "<%= @mis_params[:date_wise] %>"
  var procedure_state = "<%= @mis_params[:procedure_state] %>"
  var procedure_date_wise = "<%= @mis_params[:procedure_date_wise] %>"
  var performed_by = "<%= @mis_params[:performed_by] %>"
  var performed_by_name = "<%= @mis_params[:performed_by_name] %>"
  var advised_by = "<%= @mis_params[:advised_by] %>"
  var advised_by_name = "<%= @mis_params[:advised_by_name] %>"
  var referral_type = "<%= @mis_params[:referral_type] %>"
  var referral_source = "<%= @mis_params[:referral_source] %>"
  var investigation_state = "<%= @mis_params[:investigation_state] %>"  
  var investigation_date_wise = "<%= @mis_params[:investigation_date_wise] %>"  
  var investigation_type = "<%= @mis_params[:investigation_type] %>"
  var investigation_type_name = "<%= @mis_params[:investigation_type_name] %>" 
  var performed_at  = "<%= @mis_params[:performed_at] %>"
  var role_id = "<%= @mis_params[:role_id] %>"
  var role_name = "<%= @mis_params[:role_name] %>"
  var pharmacy_store_id = "<%= @mis_params[:pharmacy_store_id] %>"
  var pharmacy_store_name = "<%= @mis_params[:pharmacy_store_name] %>"
  var optical_store_id = "<%= @mis_params[:optical_store_id] %>"
  var optical_store_name = "<%= @mis_params[:optical_store_name] %>"
  var conversion_status = $('#mis-conversion_status-filter').val();
  update_data(start_date, end_date, facility_id, facility_name, time_period, invoice_type, store_id, store_name, initial_age, final_age, gender_type, appointmenttype, consulting_doctor, appointment_type, location_type, patient_visit, person_responsible, event_category, event_description, sub_category, moh, ipd_current_status, admission_type, date_wise,procedure_state, procedure_date_wise, advised_by, advised_by_name,performed_by, performed_by_name, referral_type, referral_source, role_id, role_name, investigation_state, investigation_date_wise, investigation_type, performed_at, investigation_type_name, pharmacy_store_id, pharmacy_store_name, optical_store_id, optical_store_name, conversion_status)

})

// Date Filter Dropdown

$("#mis-custom-filter").on("click", function(e){
  e.preventDefault();
  $('.modal-backdrop').remove();
  var selected = $('#mis-appointment_type-filter').find("option:selected");
  var arrSelected = [];

  selected.each((idx, val) => {
    arrSelected.push(val.value);
  });
  var start_date = $('#period_start_date').val();
  var end_date = $('#period_end_date').val();
  var facility_id = $('#mis-facility_id-filter').val();
  var facility_name = $('#mis-facility_id-filter  option:selected').text();
  var time_period = $('#mis-date-filter').text();
  var invoice_type = "<%= @mis_params[:invoice_type] %>"
  var store_id = "<%= @mis_params[:store_id] %>"
  var store_name = '<%= @mis_params[:store_name]&.gsub(/\'/,"`") %>'
  var initial_age = 0;
  var final_age = 0;
  var range = $("#age_range").val();
  if (range) {
    range_arr = range.split("-");
     initial_age = parseInt(range_arr[0]);
     final_age = parseInt(range_arr[1]);
  }
  var gender_type = $('#mis-gender_type-filter').val();
  var appointmenttype = $('#mis-appointmenttype-filter').val();
  var consulting_doctor = $('#mis-consulting_doctor-filter').val();
  var appointment_type = arrSelected.join();
  var location_type = $('#mis-location-type').val();
  var patient_visit = "<%= @mis_params[:patient_visit] %>"
  var person_responsible = $('#mis-person_responsible-filter').val()
  var event_category = $('#mis-event_category-filter').val();
  var event_description = $('#mis-event_description-filter').val();
  var sub_category = $('#mis-sub_category-filter').val();
  var admission_type =  $("#mis-admission_type-filter").val()
  var moh = $("#mis-moh-filter").val()
  var ipd_current_status = $("#mis-ipd_current_status-filter").val()
  var date_wise = $("#mis-date_wise-filter").val()
  var procedure_state = $("#mis-procedure_state-filter").val();
  var procedure_date_wise = $("#mis-procedure_date_wise-filter").val();
  var advised_by = $("#mis-advised_by-filter").val();
  var advised_by_name = $('#mis-advised_by-filter option:selected').text();
  var performed_by = $("#mis-performed_by-filter").val();
  var performed_by_name = $('#mis-performed_by-filter option:selected').text();
  var referral_type = $("#mis-referral_type-filter").val();
  var referral_source = $("#mis-referral_source-filter").val();
  var investigation_state = $("#mis-investigation_state-filter").val();
  var investigation_date_wise = $("#mis-investigation_date_wise-filter").val();  
  var investigation_type = $("#mis-investigation_type-filter").val(); 
  var investigation_type_name = $("#mis-investigation_type-filter option:selected").text();
  var performed_at = $("#mis-performed_at-filter").val();
  var role_id = $('#mis-role_id-filter').val()
  var role_name = $('#mis-role_id-filter option:selected').text();
  var pharmacy_store_id = $('#mis-pharmacy_store_id-filter').val();
  var pharmacy_store_name = $('#mis-pharmacy_store_id-filter option:selected').text();
  var optical_store_id = $('#mis-optical_store_id-filter').val();
  var optical_store_name = $('#mis-optical_store_id-filter option:selected').text();
  var conversion_status = $('#mis-conversion_status-filter').val();
  update_data(start_date, end_date, facility_id, facility_name, time_period, invoice_type, store_id, store_name, initial_age, final_age, gender_type, appointmenttype, consulting_doctor, appointment_type, location_type, patient_visit, person_responsible, event_category, event_description, sub_category, moh, ipd_current_status, admission_type, date_wise, procedure_state, procedure_date_wise, advised_by, advised_by_name, performed_by, performed_by_name, referral_type, referral_source, role_id, role_name, investigation_state, investigation_date_wise, investigation_type, performed_at, investigation_type_name, pharmacy_store_id, pharmacy_store_name, optical_store_id, optical_store_name, conversion_status)
})

// Custom Date Modal
$(".mis-date-filter-custom").on("click", function(e){
  e.preventDefault();
  $("#mis-modal").html("<%= escape_javascript(render partial: 'custom_dates.html.erb') %>")
  $("#mis-modal").find("#custom_start_date").val('<%= "#{@mis_params[:start_date].strftime("%d/%m/%Y")} - #{@mis_params[:end_date].strftime("%d/%m/%Y")}" %>')
})

function update_data(start_date, end_date, facility_id, facility_name, time_period, invoice_type, store_id, store_name, initial_age, final_age, gender_type, appointmenttype, consulting_doctor, appointment_type, location_type, patient_visit, person_responsible, event_category, event_description, sub_category, moh, ipd_current_status, admission_type, date_wise, procedure_state, procedure_date_wise, advised_by, advised_by_name, performed_by, performed_by_name, referral_type, referral_source, role_id, role_name, investigation_state, investigation_date_wise, investigation_type, performed_at, investigation_type_name, pharmacy_store_id, pharmacy_store_name, optical_store_id, optical_store_name, conversion_status){ //, referred_date

  // Fixed Params
  var organisation_id = "<%= @mis_params[:organisation_id] %>"
  var has_params = true
  var group = "<%= @mis_params[:group] %>"
  var title = "<%= @mis_params[:title] %>"

  // Filter Params
  var current_state = "<%= @mis_params[:current_state] %>"
  var appointment_category_label = "<%= @mis_params[:appointment_category_label] %>"
//  var appointmenttype = "<%#= @mis_params[:appointmenttype] %>"
  var patient_type = "<%= @mis_params[:patient_type] %>"
  var insurance_state = "<%= @mis_params[:insurance_state] %>"
  var admitting_doctor_id = "<%= @mis_params[:admitting_doctor_id] %>"
  var operating_doctor_id = "<%= @mis_params[:operating_doctor_id] %>"
  var counsellor_id = "<%= @mis_params[:counsellor_id] %>"
  var camp_username = "<%= @mis_params[:camp_username] %>"
  var patient_visit = "<%= @mis_params[:patient_visit] %>"
  var referral_type_id = "<%= @mis_params[:referral_type_id] %>"

  // Back Params
  var back_start_date = "<%= @mis_params[:back_start_date] %>"
  var back_end_date = "<%= @mis_params[:back_end_date] %>"
  var back_time_period = "<%= @mis_params[:back_time_period] %>"
  var back_group = "<%= @mis_params[:back_group] %>"
  var back_title = "<%= @mis_params[:back_title] %>"
  var back_iDisplayStart = "<%= @mis_params[:back_iDisplayStart] %>"
  var back_iDisplayLength = "<%= @mis_params[:back_iDisplayLength] %>"
  var investigation_id = "<%= @mis_params[:investigation_id] %>"
  $.ajax({
    type: "GET",
    dataType: "script",
    url: "/mis/new_clinical_reports/reports_view",
    data: {
      start_date: start_date,
      end_date: end_date,
      organisation_id: organisation_id,
      has_params: has_params,
      facility_id: facility_id,
      facility_name: facility_name,
      store_id: store_id,
      store_name: store_name,
      time_period: time_period,
      group: group,
      title: title,
      invoice_type: invoice_type,
      current_state: current_state,
      appointment_category_label: appointment_category_label,
      appointmenttype: appointmenttype,
      patient_type: patient_type,
      insurance_state: insurance_state,
      admitting_doctor_id: admitting_doctor_id,
      operating_doctor_id: operating_doctor_id,
      counsellor_id: counsellor_id,
      back_start_date: back_start_date,
      back_end_date: back_end_date,
      back_time_period: back_time_period,
      back_group: back_group,
      back_title: back_title,
      camp_username: camp_username,
      initial_age: initial_age,
      final_age: final_age,
      gender_type: gender_type,
      consulting_doctor: consulting_doctor,
      appointment_type: appointment_type,
      location_type: location_type,
      patient_visit: patient_visit,
      person_responsible: person_responsible,
      event_category: event_category,
      event_description: event_description,
      sub_category: sub_category,
      referral_type_id: referral_type_id,
      moh: moh,
      ipd_current_status: ipd_current_status,
      admission_type: admission_type,
      date_wise: date_wise,
      procedure_state: procedure_state,
      procedure_date_wise: procedure_date_wise,
      advised_by: advised_by,
      advised_by_name: advised_by_name,
      performed_by: performed_by,
      performed_by_name: performed_by_name,
      referral_type: referral_type,
      referral_source: referral_source,
      investigation_date_wise: investigation_date_wise,
      investigation_state: investigation_state,
      investigation_type: investigation_type,
      investigation_type_name: investigation_type_name,
      performed_at: performed_at,
      // referred_date: referred_date,
      role_id: role_id,
      role_name: role_name,
      pharmacy_store_id: pharmacy_store_id,
      pharmacy_store_name: pharmacy_store_name,
      optical_store_id: optical_store_id,
      optical_store_name: optical_store_name,
      conversion_status: conversion_status,
      back_iDisplayStart,
      back_iDisplayLength,
      role_id: role_id,
      role_name: role_name,
      investigation_id: investigation_id
    }
  });
}

$('#mis-facility_id-filter').on("change", function(e){
  facility_id = $(this).val();
  if($('#mis-pharmacy_store_id-filter').length) {
    get_store_from_facility(facility_id, 'pharmacy');
  } else if($('#mis-optical_store_id-filter').length) {
    get_store_from_facility(facility_id, 'optical');
  } 
});

function get_store_from_facility(facility_id, store_type) {
  var params = { facility_id: facility_id, store_type: store_type };
  $.ajax({
    dataType: "JSON",
    type: "GET",
    url: "/inventory/stores/load_store_filters",
    data: {ajax: params},
    success: function(response){
      response_first_key = Object.keys( response )[0];
      response_first_val = Object.values( response )[0];
      $(".mis-"+store_type+"_store_id-filter").html("");
      $.each(response, function(key, value) {
        $(".mis-"+store_type+"_store_id-filter").append("<option value=" + value + ">" + key + "</option>")
      });
      if(response_first_key == 'Store Not Found') {
        $(".mis-"+store_type+"_store_id-filter").prop('disabled', true);
      } else {
        $(".mis-"+store_type+"_store_id-filter").prop('disabled', false);
        if(store_type == 'pharmacy') {
          if($.inArray( "<%= @mis_params[:pharmacy_store_id] %>", Object.values( response ) ) == -1) {
            $(".mis-"+store_type+"_store_id-filter").val(response_first_val);
          } else {
            $(".mis-"+store_type+"_store_id-filter").val("<%= @mis_params[:pharmacy_store_id] %>");
          }
        } else if(store_type == 'optical') {
          if($.inArray( "<%= @mis_params[:optical_store_id] %>", Object.values( response ) ) == -1) {
            $(".mis-"+store_type+"_store_id-filter").val(response_first_val);
          } else {
            $(".mis-"+store_type+"_store_id-filter").val("<%= @mis_params[:optical_store_id] %>");
          }
        }
      }
      appendinTag();
      addTags();
    }
  });
}

if($('#mis-pharmacy_store_id-filter').length) {
  get_store_from_facility($('#mis-facility_id-filter').val(), 'pharmacy');
} else if($('#mis-optical_store_id-filter').length) {
  get_store_from_facility($('#mis-facility_id-filter').val(), 'optical');
}
