<% if @inventory_vendor_group.is_disable == false %>
$('#vendor_group_disable_button_<%= @inventory_vendor_group.id %>').html(`
  	  <div class="btn btn-danger btn-xs btn-disable-vendor-group" style="display: inline;" data-toggle="modal" data-target="#confirmation-modal" data-store='<%= @inventory_vendor_group.name %>'>Disable</div>
	  <%= escape_javascript(link_to 'Confirm', toggle_disable_inventory_vendor_group_path(id: @inventory_vendor_group.id, is_disable: true), class: "btn btn-danger", remote: true, style: "display: none;", data: {dismiss: "modal"}) %>
	`)
$('#vendor_group_disable_button_<%= @inventory_vendor_group.id %>').closest('tr').find('td:not(#vendor_group_disable_button_<%= @inventory_vendor_group.id %>)').css({'visibility': 'visible'})
<% else %>
$('#vendor_group_disable_button_<%= @inventory_vendor_group.id %>').html(`
  	<%= escape_javascript(link_to 'Active', toggle_disable_inventory_vendor_group_path(id: @inventory_vendor_group.id, is_disable: false), class: "btn btn-xs btn-primary", remote: true, style: "display: inline;") %>
  	`)
$('#vendor_group_disable_button_<%= @inventory_vendor_group.id %>').closest('tr').find('td:not(#vendor_group_disable_button_<%= @inventory_vendor_group.id %>)').css({'visibility': 'hidden'})
<% end %>

$('.btn-disable-vendor-group').on('click', function(){
  var btn = $(this).closest('td').find('a')
  var vendor_group = $(this).data('vendor-group')
  $('#confirmation-modal').html(`
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Are You Sure?</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure, you want disable ${vendor_group} store?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        ${btn[0].outerHTML}
      </div>
    </div>
  </div>
  `)
})