<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog" style="width:75%;">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Dilation Options</h4>
    </div>
    <%= form_for @patient_dilation, data: { remote: true }, html: { id: 'dilation-appointment-form' } do |f| %>
      <input type="hidden" name="appointment_id" value="<%= @appointment.id.to_s %>">
      <%= f.hidden_field :user_id, value: current_user.id.to_s %>
      <%= f.hidden_field :appointment_id, value: @appointment.id.to_s %>
      <%= f.hidden_field :patient_id, value: @patient.id.to_s %>
      <div class="modal-body">
        <%if @eyedrop_allergy.present?%>
          <div class="row mb5">
            <div class="col-md-12">
              <b style="color:#f00;">Alert: Patient is allergic to <span style="font-size: 20px;"><%= "#{@eyedrop_allergy.join(", ")}" %>.</span></b>
            </div>
          </div>
          <hr style="margin:10px;">
        <% end %>
        <div class="row">
          <div class="col-md-2">
            <b>Date & Time</b>
            <%= f.text_field :start_time, class: 'form-control p5_10 start_time', value: Time.current.strftime('%I:%M %p %d/%m/%Y'), readonly: 'readonly' %>
          </div>
          <div class="col-md-2">
            <b>Drops</b>
            <%= f.select :drops, options_for_select(@eye_drops, :selected => @last_dilation.try(:drops)), {include_blank: true}, { :class => 'drop form-control p5_10' } %>
          </div>
          <div class="col-md-2">
            <b>Eye</b>
            <%= f.select :eye_side, options_for_select([['Right Eye', '18944008'], ['Left Eye', '8966001'], ['Both Eye', '40638003']], selected: @last_dilation&.eye_side), { include_blank: true }, { class: 'eye form-control p5_10' }  %>
          </div>
          <div class="col-md-2">
            <b>Advising Doctor</b>
            <%= f.select :advised_by, options_for_select(@doctors, :selected => @last_dilation.try(:advised_by)), {}, { :class => 'advised_by form-control p5_10' } %>
          </div>
          <div class="col-md-2"patient_dilations/_new.html.erb>
            <b>Dilating User</b>
            <%= f.text_field :dilated_by, :value => @last_dilation.try(:dilated_by), class: 'form-control p5_10 dilated_by' %>
          </div>
          <div class="col-md-2">
            <b>Comment</b>
            <%= f.text_field :comment, :value => @last_dilation.try(:comment), class: 'form-control p5_10 comment' %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "Start Dilation", class: 'btn btn-success', onclick: 'option()' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>

</div>

<style type="text/css">
  input.error, select.error {
    border-color: #b94a48;
    background-image: none;
  }
  input.valid, select.valid {
    border-color: #468847;
    background-image: none;
  }
</style>