<li class="dropdown" style="margin-right:25px;">
  <% if @stores.count > 0 %>
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <span class="mis-dropdown-title">Store</span>
      <span id="mis-store-filter" facility-id="<%= @mis_params[:store_id] %>" store-name="<%= @mis_params[:store_name] %>"><%= @mis_params[:store_name] %></span><% if @stores.count > 1 %>&emsp;<span class="fa fa-caret-down"></span><% end %>
    </a>
  <% end %>
  <% if @stores.count > 1 %>
    <ul class="dropdown-menu mis-search-toggle-off" id="store-list" style="overflow-y: auto;max-height:400px;">
      <% if @stores.count > 10 %>
        <li><input type="text" name="search_store" id='mis-search-store' placeholder="Search store" class="form-control p5_10"></li>
        <hr style="margin:5px;" />
      <% end %>
      <!-- <li class="store-list"><a class="mis-store-filter" href="#" store-id="" store-name="All store"><span class="mis-store-name">All store</span></a></li> -->
      <% @stores.each do |store| %>
        <li class="store-list"><a class="mis-store-filter" href="#" store-id="<%= store[:id].to_s %>" store-name="<%= store[:name] %>"><span class="mis-store-name"><%= store[:name].titleize %></span></a></li>
      <% end %>
    </ul>
  <% end %>
</li>