<div class="row checklist-form mb30" style="margin-top: 20px;">
  <div class="col-md-6 discharge_checklist">
    <div class="row mb20">
      <div class="col-md-10 col-md-offset-2">
        <div class="ckbox ckbox-success mb5">
          <%= f.check_box :check_all, {class: "check_all_box", id: "check_all",:value=> @discharge_note.read_attribute(:check_all)}, "true", "false" %>
          <label for="check_all">&emsp;<b style="color:#000">CHECK ALL</b></label>
        </div>
      </div>
      <div class="col-md-10 col-md-offset-2">
        <div class="ckbox ckbox-success mb5">
          <%= f.check_box :discharge_intimation, {class: "discharge_intimation check_all", id: "discharge_intimation",:value=> @discharge_note.read_attribute(:discharge_intimation)}, "true", "false" %>
          <label for="discharge_intimation">&emsp; Given Discharge Intimation to Administration.</label>
        </div>
      </div>
      <div class="col-md-10 col-md-offset-2">
        <div class="ckbox ckbox-success mb5">
          <%= f.check_box :band_removed, {class: "band_removed check_all", id: "band_removed",:value=> @discharge_note.read_attribute(:band_removed)}, "true", "false" %>
          <label for="band_removed">&emsp;Identification Band Removed.</label>
        </div>
      </div>
      <div class="col-md-10 col-md-offset-2">
        <div class="ckbox ckbox-success mb5">
          <%= f.check_box :intracath_removed, {class: "intracath_removed check_all", id: "intracath_removed",:value=> @discharge_note.read_attribute(:intracath_removed)}, "true", "false" %>
          <label for="intracath_removed">&emsp;Intracath (IV) and other tubes removed.</label>
        </div>
      </div>
      <div class="col-md-10 col-md-offset-2">
        <div class="ckbox ckbox-success mb5">
          <%= f.check_box :discharge_summary_given, {class: "discharge_summary_given check_all", id: "discharge_summary_given",:value=> @discharge_note.read_attribute(:discharge_summary_given)}, "true", "false" %>
          <label for="discharge_summary_given">&emsp;Discharge Summary Given and Explained.</label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row mb20">
      <div class="col-md-10 col-md-offset-2">
        <div class="ckbox ckbox-success mb5">
          <%= f.check_box :correct_dose_explained, {class: "correct_dose_explained check_all", id: "correct_dose_explained",:value=> @discharge_note.read_attribute(:correct_dose_explained)}, "true", "false" %>
          <label for="correct_dose_explained">&emsp;Correct Dose and Frequency of Medications Explained.</label>
        </div>
      </div>
      <div class="col-md-10 col-md-offset-2">
        <div class="ckbox ckbox-success mb5">
          <%= f.check_box :wound_dressing_needs, {class: "wound_dressing_needs check_all", id: "wound_dressing_needs",:value=> @discharge_note.read_attribute(:wound_dressing_needs)}, "true", "false" %>
          <label for="wound_dressing_needs">&emsp;Wound Dressing needs, if any, Explained.</label>
        </div>
      </div>
      <div class="col-md-10 col-md-offset-2">
        <div class="ckbox ckbox-success mb5">
          <%= f.check_box :process_of_followup_explained, {class: "process_of_followup_explained check_all", id: "process_of_followup_explained",:value=> @discharge_note.read_attribute(:process_of_followup_explained)}, "true", "false" %>
          <label for="process_of_followup_explained">&emsp;Process of follow-up visits and contact numbers Explained.</label>
        </div>
      </div>
      <div class="col-md-10 col-md-offset-2">
        <div class="ckbox ckbox-success mb5">
          <%= f.check_box :pending_reports_given, {class: "pending_reports_given check_all", id: "pending_reports_given",:value=> @discharge_note.read_attribute(:pending_reports_given)}, "true", "false" %>
          <label for="pending_reports_given">&emsp;Information regarding pending investigations/reports given.</label>
        </div>
      </div>
      <div class="col-md-10 col-md-offset-2">
        <div class="ckbox ckbox-success mb5">
              <%= f.check_box :emergency_contact_explained, {class: "emergency_contact_explained check_all", id: "emergency_contact_explained",:value=> @discharge_note.read_attribute(:emergency_contact_explained)}, "true", "false" %>
          <label for="emergency_contact_explained">&emsp;Whom and how to contact in case of emergency explained.</label>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .discharge_checklist {
    border-right: 1px solid #eee;
  }
</style>

<script type="text/javascript">
  $("#check_all").on('click', function(){
    if($("#check_all").attr('checked')){
      $('.checklist-form').find('.check_all').attr('checked','checked')
    } else {
      $('.checklist-form').find('.check_all').removeAttr('checked','checked')
    }
    check_text(this)
  })

  function check_text(name){
    if($(name).attr('checked')){
      $(name).siblings('label').find('b').html('UNCHECK ALL')
    } else {
      $(name).siblings('label').find('b').html('CHECK ALL')
    }
  }
  check_text("#check_all")
</script>