<!-- Roles Search -->
  <!-- Owner -->
  <% @owner = User.where(:role_ids => 160943002, :facility_ids => facility.id, is_active: true) %>
  <!-- Admin -->
  <% @admin = User.where(:role_ids => 6868009, :facility_ids => facility.id, is_active: true) %>
  <!-- Doctor -->
  <% @doctor = User.where(:role_ids => 158965000, :facility_ids => facility.id, is_active: true) %>
  <!-- Doctor clinical Auditor -->
  <% @doctor_clinical_auditor = User.where(:role_ids => 158966000, :facility_ids => facility.id, is_active: true) %>
  <!-- Nurse -->
  <% @nurse = User.where(:role_ids => 106292003, :facility_ids => facility.id, is_active: true) %>
  <!-- Receptionist -->
  <% @receptionist = User.where(:role_ids => 159561009, :facility_ids => facility.id, is_active: true) %>
  <!-- Cashier -->
  <% @cashier = User.where(:role_ids => 159562000, :facility_ids => facility.id, is_active: true) %>
  <!-- Floor Manager -->
  <% @floormanager = User.where(:role_ids => 59561000, :facility_ids => facility.id, is_active: true) %>
  <!-- Resident -->
  <% @resident = User.where(:role_ids => 405277009, :facility_ids => facility.id, is_active: true) %>
  <!-- Pharamacist -->
  <% @pharmacist = User.where(:role_ids => 46255001, :facility_ids => facility.id, is_active: true) %>
  <!-- Optometrist -->
  <% @optometrist = User.where(:role_ids => 28229004, :facility_ids => facility.id, is_active: true) %>
  <!-- Ar/NCT -->
  <% @ar_nct = User.where(:role_ids => 28221005, :facility_ids => facility.id, is_active: true) %>
  <!-- Optician -->
  <% @optician = User.where(:role_ids => 387619007, :facility_ids => facility.id, is_active: true) %>
  <!-- Laboratory -->
  <% @laboratory = User.where(:role_ids => 159282002, :facility_ids => facility.id, is_active: true) %>
  <!-- Radiologist -->
  <% @radiologist = User.where(:role_ids => 41904004, :facility_ids => facility.id, is_active: true) %>
<!-- Roles Search Ends -->

<div class="col-sm-12 col-md-12" style="margin-top: -20px;">
  <div class="" style="padding:0px;">
    <div class="panel-body" style="">
      <div class="row">
        <div class="table-responsive" id="discharge_list_dashboard_today">
          <table class="table table-bordered table-success mb30">
          <!-- Facility Name Starts -->
            <thead>
              <tr>
                <th colspan="12" style="text-align:center;">Users of <%= facility.name %></th>
              </tr>
            </thead>
          <!-- Facility Name Ends -->
          <!-- Thead for Table -->
            <tbody class="almost-thead">
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Username</th>
                <th>DOB</th>
                <th>Age/Gender</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Department</th>
                <th>License Number</th>
              </tr>
            </tbody>
          <!-- Thead for Table Ends -->
            <tbody>
              <!-- Owner Table Starts -->
                <% if @owner.count > 0 %>
                  <tr class="owner-caret"style="cursor:pointer;">
                    <% if @owner.count > 1 %>
                      <td colspan="12" style="font-size:16px;font-family:lucida;color:#000;"><b>Owners (<%= @owner.count %>)</b> <i class="fa fa-xs"></i></td>
                    <%else%>
                      <td colspan="12" style="font-size:16px;font-family:lucida;color:#000;"><b>Owner (<%= @owner.count %>)</b> <i class="fa fa-xs"></i></td>
                    <% end %>
                  </tr>
                  <% @owner.each.with_index do |owner,i| %>
                    <tr class="toggle-owner">
                      <% if !owner.user_profile_pic_url.nil? %>
                        <td class="thumbnail col-md-6" style="width:7%;padding:5px;">
                          <%= image_tag(owner.user_profile_pic_url.to_s )%>
                        </td>
                      <%else%>
                        <td class="thumbnail col-md-6" style="width:7%;padding:5px;">
                          <%= image_tag "photos/no_picture_available.png"%>
                        </td>
                      <%end%>
                      <td><%= owner.salutation %>.&nbsp;<%= owner.fullname %></td>
                      <td><%= owner.username %></td>
                      <td><%= owner.dob.strftime("%d-%B") %></td>
                      <td><%= owner.age %><%if owner.age && owner.gender %>/<%end%><%= owner.gender %></td>
                      <td><%= owner.email %><br/><%= owner.alternate_email %></td>
                      <td><%= owner.telephone %><br/><%= owner.alternate_telephone %></td>
                      <td><%= owner.department.name %></td>
                      <% if owner.licence_number %>
                        <td><%= owner.licence_number %></td>
                      <% else %>
                        <td>-</td>
                      <% end %>
                    </tr>
                  <% end %>
                <%end%>
              <!-- Owner Table Ends -->
              <!-- Admin Table Starts -->
                <% if @admin.count > 0 %>
                  <tr class="admin-caret"style="cursor:pointer;">
                    <% if @admin.count > 1 %>
                      <td colspan="12" style="font-size:16px;font-family:lucida;color:#000;"><b>Admins (<%= @admin.count %>)</b> <i class="fa fa-xs"></i></td>
                    <%else%>
                      <td colspan="12" style="font-size:16px;font-family:lucida;color:#000;"><b>Admin (<%= @admin.count %>)</b> <i class="fa fa-xs"></i></td>
                    <% end %>
                  </tr>
                  <% @admin.each.with_index do |admin,i| %>
                    <tr class="toggle-admin">
                        <% if !admin.user_profile_pic_url.nil? %>
                          <td class="thumbnail col-md-6" style="width:7%;padding:5px;">
                            <%= image_tag(admin.user_profile_pic_url.to_s )%>
                          </td>
                        <%else%>
                          <td class="thumbnail col-md-6" style="width:7%;padding:5px;">
                            <%= image_tag "photos/no_picture_available.png"%>
                          </td>
                        <%end%>
                      <td><%= admin.salutation %>.&nbsp;<%= admin.fullname %></td>
                      <td><%= admin.username %></td>
                      <% if admin.dob? %>
                        <td><%= admin.dob.strftime("%d-%B") %></td>
                      <% else %>
                        <td>-</td>
                      <% end %>
                      <td><%= admin.age %><%if admin.age && admin.gender %>/<%end%><%= admin.gender %></td>
                      <td><%= admin.email %><br/><%= admin.alternate_email %></td>
                      <td><%= admin.telephone %><br/><%= admin.alternate_telephone %></td>
                      <td><%= admin.department.name %></td>
                      <% if admin.licence_number %>
                        <td><%= admin.licence_number %></td>
                      <% else %>
                        <td>-</td>
                      <% end %>
                    </tr>
                  <% end %>
                <% end %>
              <!-- Admin Table Ends -->
              <!-- Doctor Table Starts -->
                <% if @doctor.count > 0 %>
                  <tr class="doctor-caret"style="cursor:pointer;">
                    <% if @doctor.count > 1 %>
                    <td colspan="11" style="font-size:16px;font-family:lucida;color:#000;"><b>Doctors (<%= @doctor.count %>)</b> <i class="fa fa-xs"></td>
                    <%else%>
                    <td colspan="11" style="font-size:16px;font-family:lucida;color:#000;"><b>Doctor (<%= @doctor.count %>)</b> <i class="fa fa-xs"></td>
                    <% end %>
                  </tr>
                  <% @doctor.each.with_index do |doctor,i| %>
                    <tr class="toggle-doctor">
                      <% if !doctor.user_profile_pic_url.nil? %>
                        <td class="thumbnail col-md-6" style="width:7%;padding:5px;">
                          <%= image_tag(doctor.user_profile_pic_url.to_s )%>
                        </td>
                      <%else%>
                        <td class="thumbnail col-md-6" style="width:7%;padding:5px;">
                          <%= image_tag "photos/no_picture_available.png"%>
                        </td>
                      <%end%>
                      <td><%= doctor.salutation %>.&nbsp;<%= doctor.fullname %></td>
                      <td><%= doctor.username %></td>
                      <% if doctor.dob? %>
                        <td><%= doctor.dob.strftime("%d-%B") %></td>
                      <% else %>
                        <td>-</td>
                      <% end %>
                      <td><%= doctor.age %><%if doctor.age && doctor.gender %>/<%end%><%= doctor.gender %></td>
                      <td><%= doctor.email %><br/><%= doctor.alternate_email %></td>
                      <td><%= doctor.telephone %><br/><%= doctor.alternate_telephone %></td>
                      <% if doctor.licence_number %>
                        <td><%= doctor.licence_number %></td>
                      <% else %>
                        <td>-</td>
                      <% end %>
                    </tr>
                  <% end %>
                <% end %>
              <!-- Doctor Table Ends -->
              <!-- Doctor Clinical Auditor Table Starts -->
                <% if @doctor_clinical_auditor.count > 0 %>
                  <tr class="doctor-caret"style="cursor:pointer;">
                    <% if @doctor_clinical_auditor.count > 1 %>
                    <td colspan="11" style="font-size:16px;font-family:lucida;color:#000;"><b>Doctor Clinical Auditors (<%= @doctor_clinical_auditor.count %>)</b> <i class="fa fa-xs"></td>
                    <% else %>
                    <td colspan="11" style="font-size:16px;font-family:lucida;color:#000;"><b>Doctor Clinical Auditor (<%= @doctor_clinical_auditor.count %>)</b> <i class="fa fa-xs"></td>
                    <% end %>
                  </tr>
                  <% @doctor_clinical_auditor.each.with_index do |doctor_clinical_auditor,i| %>
                    <tr class="toggle-doctor">
                      <% if !doctor_clinical_auditor.user_profile_pic_url.nil? %>
                        <td class="thumbnail col-md-6" style="width:7%;padding:5px;">
                          <%= image_tag(doctor_clinical_auditor.user_profile_pic_url.to_s )%>
                        </td>
                      <% else %>
                        <td class="thumbnail col-md-6" style="width:7%;padding:5px;">
                          <%= image_tag "photos/no_picture_available.png"%>
                        </td>
                      <%end%>
                      <td><%= doctor_clinical_auditor.salutation %>.&nbsp;<%= doctor_clinical_auditor.fullname %></td>
                      <td><%= doctor_clinical_auditor.username %></td>
                      <% if doctor_clinical_auditor.dob? %>
                        <td><%= doctor_clinical_auditor.dob.strftime("%d-%B") %></td>
                      <% else %>
                        <td>-</td>
                      <% end %>
                      <td><%= doctor_clinical_auditor.age %><%if doctor_clinical_auditor.age && doctor_clinical_auditor.gender %>/<%end%><%= doctor_clinical_auditor.gender %></td>
                      <td><%= doctor_clinical_auditor.email %><br/><%= doctor_clinical_auditor.alternate_email %></td>
                      <td><%= doctor_clinical_auditor.telephone %><br/><%= doctor_clinical_auditor.alternate_telephone %></td>
                      <% if doctor_clinical_auditor.licence_number %>
                        <td><%= doctor_clinical_auditor.licence_number %></td>
                      <% else %>
                        <td>-</td>
                      <% end %>
                    </tr>
                  <% end %>
                <% end %>
              <!-- Doctor Clinical Auditor Table Ends -->
              <!-- Nurse Table Starts -->
                <% if @nurse.count > 0 %>
                  <tr class="nurse-caret"style="cursor:pointer;">
                    <% if @nurse.count > 1 %>
                    <td colspan="11" style="font-size:16px;font-family:lucida;color:#000;"><b>Nurses (<%= @nurse.count %>)</b> <i class="fa fa-xs"></td>
                    <%else%>
                    <td colspan="11" style="font-size:16px;font-family:lucida;color:#000;"><b>Nurse (<%= @nurse.count %>)</b> <i class="fa fa-xs"></td>
                    <% end %>
                  </tr>
                  <% @nurse.each.with_index do |nurse,i| %>
                    <tr class="toggle-nurse">
                      <% if !nurse.user_profile_pic_url.nil? %>
                        <td class="thumbnail col-md-6" style="width:7%;padding:5px;">
                          <%= image_tag(nurse.user_profile_pic_url.to_s )%>
                        </td>
                      <%else%>
                        <td class="thumbnail col-md-6" style="width:7%;padding:5px;">
                          <%= image_tag "photos/no_picture_available.png"%>
                        </td>
                      <%end%>
                      <td><%= nurse.salutation %>.&nbsp;<%= nurse.fullname %></td>
                      <td><%= nurse.username %></td>
                      <% if nurse.dob? %>
                        <td><%= nurse.dob.strftime("%d-%B") %></td>
                      <% else %>
                        <td>-</td>
                      <% end %>
                      <td><%= nurse.age %><%if nurse.age && nurse.gender %>/<%end%><%= nurse.gender %></td>
                      <td><%= nurse.email %><br/><%= nurse.alternate_email %></td>
                      <td><%= nurse.telephone %><br/><%= nurse.alternate_telephone %></td>
                      <% if nurse.licence_number %>
                        <td><%= nurse.licence_number %></td>
                      <% else %>
                        <td>-</td>
                      <% end %>
                    </tr>
                  <% end %>
                <%end%>
              <!-- Nurse Table Starts -->
              <!-- Receptionist Table Starts -->
                <% if @receptionist.count > 0 %>
                  <tr class="receptionist-caret"style="cursor:pointer;">
                    <% if @receptionist.count > 1 %>
                      <td colspan="11" style="font-size:16px;font-family:lucida;color:#000;"><b>Receptionists (<%= @receptionist.count %>)</b> <i class="fa fa-xs"></td>
                    <%else%>
                      <td colspan="11" style="font-size:16px;font-family:lucida;color:#000;"><b>Receptionist (<%= @receptionist.count %>)</b> <i class="fa fa-xs"></td>
                    <% end %>
                  </tr>
                  <% @receptionist.each.with_index do |receptionist,i| %>
                    <tr class="toggle-receptionist">
                      <% if !receptionist.user_profile_pic_url.nil? %>
                        <td class="thumbnail col-md-6" style="width:7%;padding:5px;">
                          <%= image_tag(receptionist.user_profile_pic_url.to_s )%>
                        </td>
                      <%else%>
                        <td class="thumbnail col-md-6" style="width:7%;padding:5px;">
                          <%= image_tag "photos/no_picture_available.png"%>
                        </td>
                      <%end%>
                      <td><%= receptionist.salutation %>.&nbsp;<%= receptionist.fullname %></td>
                      <td><%= receptionist.username %></td>
                      <% if receptionist.dob? %>
                        <td><%= receptionist.dob.strftime("%d-%B") %></td>
                      <% else %>
                        <td>-</td>
                      <% end %>
                      <td><%= receptionist.age %><%if receptionist.age && receptionist.gender %>/<%end%><%= receptionist.gender %></td>
                      <td><%= receptionist.email %><br/><%= receptionist.alternate_email %></td>
                      <td><%= receptionist.telephone %><br/><%= receptionist.alternate_telephone %></td>
                      <td><%= receptionist.department.name %></td>
                      <% if receptionist.licence_number %>
                        <td><%= receptionist.licence_number %></td>
                      <% else %>
                        <td>-</td>
                      <% end %>
                    </tr>
                  <% end %>
                <% end %>
              <!-- Receptionist Table Ends -->
              <!-- Cashier Table Starts -->
                <% if @cashier.count > 0 %>
                  <tr class="cashier-caret"style="cursor:pointer;">
                    <% if @cashier.count > 1 %>
                      <td colspan="11" style="font-size:16px;font-family:lucida;color:#000;"><b>Cashier (<%= @cashier.count %>)</b> <i class="fa fa-xs"></td>
                    <%else%>
                      <td colspan="11" style="font-size:16px;font-family:lucida;color:#000;"><b>Cashier (<%= @cashier.count %>)</b> <i class="fa fa-xs"></td>
                    <% end %>
                  </tr>
                  <% @cashier.each.with_index do |cashier,i| %>
                    <tr class="toggle-cashier">
                      <% if !cashier.user_profile_pic_url.nil? %>
                        <td class="thumbnail col-md-6" style="width:7%;padding:5px;">
                          <%= image_tag(cashier.user_profile_pic_url.to_s )%>
                        </td>
                      <%else%>
                        <td class="thumbnail col-md-6" style="width:7%;padding:5px;">
                          <%= image_tag "photos/no_picture_available.png"%>
                        </td>
                      <%end%>
                      <td><%= cashier.salutation %>.&nbsp;<%= cashier.fullname %></td>
                      <td><%= cashier.username %></td>
                      <% if cashier.dob? %>
                        <td><%= cashier.dob.strftime("%d-%B") %></td>
                      <% else %>
                        <td>-</td>
                      <% end %>
                      <td><%= cashier.age %><%if cashier.age && cashier.gender %>/<%end%><%= cashier.gender %></td>
                      <td><%= cashier.email %><br/><%= cashier.alternate_email %></td>
                      <td><%= cashier.telephone %><br/><%= cashier.alternate_telephone %></td>
                      <td><%= cashier.department.name %></td>
                      <% if cashier.licence_number %>
                        <td><%= cashier.licence_number %></td>
                      <% else %>
                        <td>-</td>
                      <% end %>
                    </tr>
                  <% end %>
                <% end %>
              <!-- Cashier Table Ends -->
              <!-- Floor Manager Table Starts -->
                <% if @floormanager.count > 0 %>
                  <tr class="floormanager-caret"style="cursor:pointer;">
                    <% if @floormanager.count > 1 %>
                      <td colspan="11" style="font-size:16px;font-family:lucida;color:#000;"><b>FloorManager (<%= @floormanager.count %>)</b> <i class="fa fa-xs"></td>
                    <%else%>
                      <td colspan="11" style="font-size:16px;font-family:lucida;color:#000;"><b>FloorManager (<%= @floormanager.count %>)</b> <i class="fa fa-xs"></td>
                    <% end %>
                  </tr>
                  <% @floormanager.each.with_index do |floormanager,i| %>
                    <tr class="toggle-floormanager">
                      <% if !floormanager.user_profile_pic_url.nil? %>
                        <td class="thumbnail col-md-6" style="width:7%;padding:5px;">
                          <%= image_tag(floormanager.user_profile_pic_url.to_s )%>
                        </td>
                      <%else%>
                        <td class="thumbnail col-md-6" style="width:7%;padding:5px;">
                          <%= image_tag "photos/no_picture_available.png"%>
                        </td>
                      <%end%>
                      <td><%= floormanager.salutation %>.&nbsp;<%= floormanager.fullname %></td>
                      <td><%= floormanager.username %></td>
                      <% if floormanager.dob? %>
                        <td><%= floormanager.dob.strftime("%d-%B") %></td>
                      <% else %>
                        <td>-</td>
                      <% end %>
                      <td><%= floormanager.age %><%if floormanager.age && floormanager.gender %>/<%end%><%= floormanager.gender %></td>
                      <td><%= floormanager.email %><br/><%= floormanager.alternate_email %></td>
                      <td><%= floormanager.telephone %><br/><%= floormanager.alternate_telephone %></td>
                      <td><%= floormanager.department.name %></td>
                      <% if floormanager.licence_number %>
                        <td><%= floormanager.licence_number %></td>
                      <% else %>
                        <td>-</td>
                      <% end %>
                    </tr>
                  <% end %>
                <% end %>
              <!-- Floor Manager Table Ends -->
              <!-- Resident Table Starts -->
                <% if @resident.count > 0 %>
                  <tr class="resident-caret"style="cursor:pointer;">
                    <% if @resident.count > 1 %>
                      <td colspan="11" style="font-size:16px;font-family:lucida;color:#000;"><b>Residents (<%= @resident.count %>)</b> <i class="fa fa-xs"></td>
                    <%else%>
                      <td colspan="11" style="font-size:16px;font-family:lucida;color:#000;"><b>Resident (<%= @resident.count %>)</b> <i class="fa fa-xs"></td>
                    <% end %>
                  </tr>
                  <% @resident.each.with_index do |resident,i| %>
                    <tr class="toggle-resident">
                      <% if !resident.user_profile_pic_url.nil? %>
                        <td class="thumbnail col-md-6" style="width:7%;padding:5px;">
                          <%= image_tag(resident.user_profile_pic_url.to_s )%>
                        </td>
                      <%else%>
                        <td class="thumbnail col-md-6" style="width:7%;padding:5px;">
                          <%= image_tag "photos/no_picture_available.png"%>
                        </td>
                      <%end%>
                      <td><%= resident.salutation %>.&nbsp;<%= resident.fullname %></td>
                      <td><%= resident.username %></td>
                      <% if resident.dob? %>
                        <td><%= resident.dob.strftime("%d-%B") %></td>
                      <% else %>
                        <td>-</td>
                      <% end %>
                      <td><%= resident.age %><%if resident.age && resident.gender %>/<%end%><%= resident.gender %></td>
                      <td><%= resident.email %><br/><%= resident.alternate_email %></td>
                      <td><%= resident.telephone %><br/><%= resident.alternate_telephone %></td>
                      <td><%= resident.department.name %></td>
                      <% if resident.licence_number %>
                        <td><%= resident.licence_number %></td>
                      <% else %>
                        <td>-</td>
                      <% end %>
                    </tr>
                  <% end %>
                <% end %>
             <!-- Resident Table Ends -->
             <!-- Pharmacist Table Starts -->
                <% if @pharmacist.count > 0 %>
                  <tr class="pharmacist-caret"style="cursor:pointer;">
                    <% if @pharmacist.count > 1 %>
                      <td colspan="11" style="font-size:16px;font-family:lucida;color:#000;"><b>Pharmacists (<%= @pharmacist.count %>)</b> <i class="fa fa-xs"></td>
                    <%else%>
                      <td colspan="11" style="font-size:16px;font-family:lucida;color:#000;"><b>Pharmacist (<%= @pharmacist.count %>)</b> <i class="fa fa-xs"></td>
                    <% end %>
                  </tr>
                  <% @pharmacist.each.with_index do |pharmacist,i| %>
                    <tr class="toggle-pharmacist">
                      <% if !pharmacist.user_profile_pic_url.nil? %>
                        <td class="thumbnail col-md-6" style="width:7%;padding:5px;">
                          <%= image_tag(pharmacist.user_profile_pic_url.to_s )%>
                        </td>
                      <%else%>
                        <td class="thumbnail col-md-6" style="width:7%;padding:5px;">
                          <%= image_tag "photos/no_picture_available.png"%>
                        </td>
                      <%end%>
                      <td><%= pharmacist.salutation %>.&nbsp;<%= pharmacist.fullname %></td>
                      <td><%= pharmacist.username %></td>
                      <% if pharmacist.dob? %>
                        <td><%= pharmacist.dob.strftime("%d-%B") %></td>
                      <% else %>
                        <td>-</td>
                      <% end %>
                      <td><%= pharmacist.age %><%if pharmacist.age && pharmacist.gender %>/<%end%><%= pharmacist.gender %></td>
                      <td><%= pharmacist.email %><br/><%= pharmacist.alternate_email %></td>
                      <td><%= pharmacist.telephone %><br/><%= pharmacist.alternate_telephone %></td>
                      <td><%= pharmacist.department.name %></td>
                      <% if pharmacist.licence_number %>
                        <td><%= pharmacist.licence_number %></td>
                      <% else %>
                        <td>-</td>
                      <% end %>
                    </tr>
                  <% end %>
                <% end %>
             <!-- Pharmacist Table Ends -->
             <!-- Optometrist Table Starts -->
                <% if @optometrist.count > 0 %>
                  <tr class="optometrist-caret"style="cursor:pointer;">
                    <% if @optometrist.count > 1 %>
                      <td colspan="11" style="font-size:16px;font-family:lucida;color:#000;"><b>Optometrists (<%= @optometrist.count %>)</b> <i class="fa fa-xs"></td>
                    <%else%>
                      <td colspan="11" style="font-size:16px;font-family:lucida;color:#000;"><b>Optometrist (<%= @optometrist.count %>)</b> <i class="fa fa-xs"></td>
                    <% end %>
                  </tr>
                  <% @optometrist.each.with_index do |optometrist,i| %>
                    <tr class="toggle-optometrist">
                      <% if !optometrist.user_profile_pic_url.nil? %>
                        <td class="thumbnail col-md-6" style="width:7%;padding:5px;">
                          <%= image_tag(optometrist.user_profile_pic_url.to_s )%>
                        </td>
                      <%else%>
                        <td class="thumbnail col-md-6" style="width:7%;padding:5px;">
                          <%= image_tag "photos/no_picture_available.png"%>
                        </td>
                      <%end%>
                      <td><%= optometrist.salutation %>.&nbsp;<%= optometrist.fullname %></td>
                      <td><%= optometrist.username %></td>
                      <% if optometrist.dob? %>
                        <td><%= optometrist.dob.strftime("%d-%B") %></td>
                      <% else %>
                        <td>-</td>
                      <% end %>
                      <td><%= optometrist.age %><%if optometrist.age && optometrist.gender %>/<%end%><%= optometrist.gender %></td>
                      <td><%= optometrist.email %><br/><%= optometrist.alternate_email %></td>
                      <td><%= optometrist.telephone %><br/><%= optometrist.alternate_telephone %></td>
                      <td><%= optometrist.department.name %></td>
                      <% if optometrist.licence_number %>
                        <td><%= optometrist.licence_number %></td>
                      <% else %>
                        <td>-</td>
                      <% end %>
                    </tr>
                  <% end %>
                <% end %>
             <!-- Optometrist Table Ends -->
             <!-- AR/NCT Table Starts -->
                <% if @ar_nct.count > 0 %>
                  <tr class="ar_nct-caret"style="cursor:pointer;">
                    <% if @ar_nct.count > 1 %>
                      <td colspan="11" style="font-size:16px;font-family:lucida;color:#000;"><b>AR/NCT (<%= @ar_nct.count %>)</b> <i class="fa fa-xs"></td>
                    <%else%>
                      <td colspan="11" style="font-size:16px;font-family:lucida;color:#000;"><b>AR/NCT (<%= @ar_nct.count %>)</b> <i class="fa fa-xs"></td>
                    <% end %>
                  </tr>
                  <% @ar_nct.each.with_index do |ar_nct,i| %>
                    <tr class="toggle-ar_nct">
                      <% if !ar_nct.user_profile_pic_url.nil? %>
                        <td class="thumbnail col-md-6" style="width:7%;padding:5px;">
                          <%= image_tag(ar_nct.user_profile_pic_url.to_s )%>
                        </td>
                      <%else%>
                        <td class="thumbnail col-md-6" style="width:7%;padding:5px;">
                          <%= image_tag "photos/no_picture_available.png"%>
                        </td>
                      <%end%>
                      <td><%= ar_nct.salutation %>.&nbsp;<%= ar_nct.fullname %></td>
                      <td><%= ar_nct.username %></td>
                      <% if ar_nct.dob? %>
                        <td><%= ar_nct.dob.strftime("%d-%B") %></td>
                      <% else %>
                        <td>-</td>
                      <% end %>
                      <td><%= ar_nct.age %><%if ar_nct.age && ar_nct.gender %>/<%end%><%= ar_nct.gender %></td>
                      <td><%= ar_nct.email %><br/><%= ar_nct.alternate_email %></td>
                      <td><%= ar_nct.telephone %><br/><%= ar_nct.alternate_telephone %></td>
                      <td><%= ar_nct.department.name %></td>
                      <% if ar_nct.licence_number %>
                        <td><%= ar_nct.licence_number %></td>
                      <% else %>
                        <td>-</td>
                      <% end %>
                    </tr>
                  <% end %>
                <% end %>
             <!-- AR/NCT Table Ends -->
             <!-- Optician Table Starts -->
                <% if @optician.count > 0 %>
                  <tr class="optician-caret"style="cursor:pointer;">
                    <% if @optician.count > 1 %>
                      <td colspan="11" style="font-size:16px;font-family:lucida;color:#000;"><b>Opticians (<%= @optician.count %>)</b> <i class="fa fa-xs"></td>
                    <%else%>
                      <td colspan="11" style="font-size:16px;font-family:lucida;color:#000;"><b>Optician (<%= @optician.count %>)</b> <i class="fa fa-xs"></td>
                    <% end %>
                  </tr>
                  <% @optician.each.with_index do |optician,i| %>
                    <tr class="toggle-optician">
                      <% if !optician.user_profile_pic_url.nil? %>
                        <td class="thumbnail col-md-6" style="width:7%;padding:5px;">
                          <%= image_tag(optician.user_profile_pic_url.to_s )%>
                        </td>
                      <%else%>
                        <td class="thumbnail col-md-6" style="width:7%;padding:5px;">
                          <%= image_tag "photos/no_picture_available.png"%>
                        </td>
                      <%end%>
                      <td><%= optician.salutation %>.&nbsp;<%= optician.fullname %></td>
                      <td><%= optician.username %></td>
                      <% if optician.dob? %>
                        <td><%= optician.dob.strftime("%d-%B") %></td>
                      <% else %>
                        <td>-</td>
                      <% end %>
                      <td><%= optician.age %><%if optician.age && optician.gender %>/<%end%><%= optician.gender %></td>
                      <td><%= optician.email %><br/><%= optician.alternate_email %></td>
                      <td><%= optician.telephone %><br/><%= optician.alternate_telephone %></td>
                      <td><%= optician.department.name %></td>
                      <% if optician.licence_number %>
                        <td><%= optician.licence_number %></td>
                      <% else %>
                        <td>-</td>
                      <% end %>
                    </tr>
                  <% end %>
                <% end %>
             <!-- Optician Table Ends -->
             <!-- Laboratory Table Starts -->
                <% if @laboratory.count > 0 %>
                  <tr class="laboratory-caret"style="cursor:pointer;">
                    <% if @laboratory.count > 1 %>
                      <td colspan="11" style="font-size:16px;font-family:lucida;color:#000;"><b>laboratorys (<%= @laboratory.count %>)</b> <i class="fa fa-xs"></td>
                    <%else%>
                      <td colspan="11" style="font-size:16px;font-family:lucida;color:#000;"><b>laboratory (<%= @laboratory.count %>)</b> <i class="fa fa-xs"></td>
                    <% end %>
                  </tr>
                  <% @laboratory.each.with_index do |laboratory,i| %>
                    <tr class="toggle-laboratory">
                      <% if !laboratory.user_profile_pic_url.nil? %>
                        <td class="thumbnail col-md-6" style="width:7%;padding:5px;">
                          <%= image_tag(laboratory.user_profile_pic_url.to_s )%>
                        </td>
                      <%else%>
                        <td class="thumbnail col-md-6" style="width:7%;padding:5px;">
                          <%= image_tag "photos/no_picture_available.png"%>
                        </td>
                      <%end%>
                      <td><%= laboratory.salutation %>.&nbsp;<%= laboratory.fullname %></td>
                      <td><%= laboratory.username %></td>
                      <% if laboratory.dob? %>
                        <td><%= laboratory.dob.strftime("%d-%B") %></td>
                      <% else %>
                        <td>-</td>
                      <% end %>
                      <td><%= laboratory.age %><%if laboratory.age && laboratory.gender %>/<%end%><%= laboratory.gender %></td>
                      <td><%= laboratory.email %><br/><%= laboratory.alternate_email %></td>
                      <td><%= laboratory.telephone %><br/><%= laboratory.alternate_telephone %></td>
                      <td><%= laboratory.department.name %></td>
                      <% if laboratory.licence_number %>
                        <td><%= laboratory.licence_number %></td>
                      <% else %>
                        <td>-</td>
                      <% end %>
                    </tr>
                  <% end %>
                <% end %>
             <!-- Laboratory Table Ends -->
             <!-- Radiologist Table Starts -->
                <% if @radiologist.count > 0 %>
                  <tr class="radiologist-caret"style="cursor:pointer;">
                    <% if @radiologist.count > 1 %>
                      <td colspan="11" style="font-size:16px;font-family:lucida;color:#000;"><b>Radiologists (<%= @radiologist.count %>)</b> <i class="fa fa-xs"></td>
                    <%else%>
                      <td colspan="11" style="font-size:16px;font-family:lucida;color:#000;"><b>Radiologist (<%= @radiologist.count %>)</b> <i class="fa fa-xs"></td>
                    <% end %>
                  </tr>
                  <% @radiologist.each.with_index do |radiologist,i| %>
                    <tr class="toggle-radiologist">
                      <% if !radiologist.user_profile_pic_url.nil? %>
                        <td class="thumbnail col-md-6" style="width:7%;padding:5px;">
                          <%= image_tag(radiologist.user_profile_pic_url.to_s )%>
                        </td>
                      <%else%>
                        <td class="thumbnail col-md-6" style="width:7%;padding:5px;">
                          <%= image_tag "photos/no_picture_available.png"%>
                        </td>
                      <%end%>
                      <td><%= radiologist.salutation %>.&nbsp;<%= radiologist.fullname %></td>
                      <td><%= radiologist.username %></td>
                      <% if radiologist.dob? %>
                        <td><%= radiologist.dob.strftime("%d-%B") %></td>
                      <% else %>
                        <td>-</td>
                      <% end %>
                      <td><%= radiologist.age %><%if radiologist.age && radiologist.gender %>/<%end%><%= radiologist.gender %></td>
                      <td><%= radiologist.email %><br/><%= radiologist.alternate_email %></td>
                      <td><%= radiologist.telephone %><br/><%= radiologist.alternate_telephone %></td>
                      <td><%= radiologist.department.name %></td>
                      <% if radiologist.licence_number %>
                        <td><%= radiologist.licence_number %></td>
                      <% else %>
                        <td>-</td>
                      <% end %>
                    </tr>
                  <% end %>
                <% end %>
             <!-- Radiologist Table Ends -->
            </tbody>
          </table>
        </div>
      </div>
    </div><!-- panel-body -->
  </div><!-- panel -->
</div>

<style type="text/css">
.almost-thead th {
  background:#ddd;
  font-size:12px;
}
</style>
<script type="text/javascript">
  $(document).ready(function(){
    // $(".toggle-owner").hide();
    // $(".toggle-doctor").hide();
    // $(".toggle-nurse").hide();
    // $(".toggle-receptionist").hide();
    // $(".toggle-resident").hide();
    // $(".toggle-pharmacist").hide();
    // $(".toggle-optometrist").hide();
    // $(".toggle-optician").hide();
    // $(".toggle-laboratory").hide();
    // $(".toggle-radiologist").hide();
    $(".owner-caret").click(function(){
      $(this).children().children().next().toggleClass("fa-angle-down");
      $(".toggle-owner").toggle();
    });
    $(".admin-caret").click(function(){
      $(this).children().children().next().toggleClass("fa-angle-down");
      $(".toggle-admin").toggle();
    });
    $(".doctor-caret").click(function(){
      $(this).children().children().next().toggleClass("fa-angle-down");
      $(".toggle-doctor").toggle();
    });
    $(".nurse-caret").click(function(){
      $(this).children().children().next().toggleClass("fa-angle-down");
      $(".toggle-nurse").toggle();
    });
    $(".receptionist-caret").click(function(){
      $(this).children().children().next().toggleClass("fa-angle-down");
      $(".toggle-receptionist").toggle();
    });
    $(".cashier-caret").click(function(){
      $(this).children().children().next().toggleClass("fa-angle-down");
      $(".toggle-cashier").toggle();
    });
    $(".ar_nct-caret").click(function(){
      $(this).children().children().next().toggleClass("fa-angle-down");
      $(".toggle-ar_nct").toggle();
    });
    $(".floormanager-caret").click(function(){
      $(this).children().children().next().toggleClass("fa-angle-down");
      $(".toggle-floormanager").toggle();
    });
    $(".resident-caret").click(function(){
      $(this).children().children().next().toggleClass("fa-angle-down");
      $(".toggle-resident").toggle();
    });
    $(".pharmacist-caret").click(function(){
      $(this).children().children().next().toggleClass("fa-angle-down");
      $(".toggle-pharmacist").toggle();
    });
    $(".optometrist-caret").click(function(){
      $(this).children().children().next().toggleClass("fa-angle-down");
      $(".toggle-optometrist").toggle();
    });
    $(".optician-caret").click(function(){
      $(this).children().children().next().toggleClass("fa-angle-down");
      $(".toggle-optician").toggle();
    });
    $(".laboratory-caret").click(function(){
      $(this).children().children().next().toggleClass("fa-angle-down");
      $(".toggle-laboratory").toggle();
    });
    $(".radiologist-caret").click(function(){
      $(this).children().children().next().toggleClass("fa-angle-down");
      $(".toggle-radiologist").toggle();
    });
  });
</script>