<div class="row">
  <div class="col-md-12">
    <% if @communication_event_setups.count > 0 %>
      <table class="table table-primary table-bordered">
        <thead>
          <th>Sr No</th>
          <th>Faclity Name</th>
          <th>Module name</th>
          <th>Feature Type</th>
          <th class="text-center">Actions</th>
        </thead>
        <tbody id="communication_event_setup_master-list">
          <% @communication_event_setups.each_with_index do |event, index| %>
            <% visibility = event.is_disable ? 'visibility: hidden;' : 'visibility: visible' %>
            <tr class="each-contact-table-row communication_event_tr">
              <td>
                <b class="sno" style="color:#000;"><%= index+1 %></b>
              </td>
              <td>
                <b class="event_name" style="color:#000;"><%= event.try(:facility).try(:name) %></b>
              </td>
              <td>
                <b class="event_module_name" style="color:#000;"><%= event.try(:module_name).try(:titleize) %></b>
              </td>
              <td>
                <b class="event_feature_type" style="color:#000;"><%= event.try(:feature_type).try(:titleize) %></b>
              </td>
              <td>
                <table style="width: 100%;">
                  <tr>
                    <td style="<%=visibility%>">
                      <%= link_to edit_communication_event_setup_path(id: event.id.to_s), method: :get, data: { remote: true, toggle: 'modal', target: '#communication-event-setup-modal' }, class: 'btn btn-info btn-xs', style: 'display: inline;' do %>Edit<% end %>
                    </td>

                    <td id='category_disable_button_<%= event.id %>'>
                      <% if event.try(:is_disable) == true %>
                        <%= link_to 'Active', toggle_disable_communication_event_setup_path(id: event.id, is_disable: false), class: 'btn btn-xs btn-primary', remote: true, style: 'display: inline;' %>
                      <% else %>
                        <div class="btn btn-danger btn-xs btn-disable-category" style="display: inline;" data-toggle="modal" data-target="#confirmation-modal" data-category='<%= event.module_name %>'>Disable</div>
                        <%= link_to 'Confirm', toggle_disable_communication_event_setup_path(id: event.id, is_disable: true), class: 'btn btn-danger', remote: true, style: 'display: none;', data: { dismiss: 'modal' } %>
                      <% end %>
                    </td>
                    <!-- <td>
                      <%#= link_to "Delete", communication_event_path(event), method: :delete, data: {confirm: "Are you sure?"} , class: 'btn btn-danger', :remote => true %>
                    </td> -->
                  </tr>
                </table>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="col-md-12 text-center mt10">
        No Communication Event to Show.
      </div>
    <% end %>
  </div>
</div>