<div class="row mb20" style="background:#354670;color:#fff">
  <div class="col-xs-6">
    <h4>MANAGE COMMUNICATION EVENT SETUP</h4>
  </div>
  <div class="col-md-3" style="margin-top:7px;">
    <% if @facilities.count > 1 %>
      <select class="form-control p5_10 ot-facility_id" name="facility_id" id="event_setup_facility_dropdown">
        <option value="">Please select</option>
        <% @facilities.each do |facility| %>
          <% if facility[1].to_s == params[:facility_id] %>
            <option value=<%= facility[1].to_s  %> selected="selected"><%= facility[0] %></option>
          <% else %>
            <option value=<%= facility[1].to_s %>><%= facility[0] %></option>
          <% end %>
        <% end %>
      </select>
    <% end %>
  </div>
  <div class="col-md-2">
    <%= link_to new_communication_event_setup_path, class: 'btn btn-primary', id: "cm-event-setup", data: { remote: true, 'toggle': 'modal', 'target': '#communication-event-setup-modal' } do %><i class="fa fa-plus"></i> Add Communication Event Setup<% end %>
  </div>
</div>
<hr>
<%= render "display_event_setups" %>

<style>
  .tab-class {
    min-width: 120px;
  }
  #confirmation-modal a{
    display: inline-block !important;
  }
  .row-container{
    height: 25px;
  }
  .child-details-section{
    border-radius: 10px;
    display: none;
    border: 2px solid #357ebd;
    box-shadow: 2px 4px 12px grey;
  }
  .departments > .active::after {
    content:"\25bc";
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent transparent transparent transparent;
    position: absolute;
    color: #357ebd;
    left: 90px;
    bottom: -27px;
  }
  .details-section{
    padding: 15px;
  }
  .table-borderless > tbody > tr > td,
  .table-borderless > tbody > tr > th{
    border: none;
  }
  .start-heading{
    width: 400px;
    height: 100px;
    font-style: italic;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  table tr td, textarea{
    word-wrap: break-word !important;
  }
</style>

<script type="text/javascript">
  $("#event_setup_facility_dropdown").on('change', function(){
    facility_id = this.value
    link = $("#cm-event-setup").attr('href')
    link = link.split('?')[0]
    new_url = link+"?facility_id="+facility_id
    $("#cm-event-setup").attr("href", new_url);
  });

  $("#event_setup_facility_dropdown").on('change', function(){
    $.ajax({
      type: "GET",
      dataType: "script",
      data: { facility_id: this.value},
      url: '/communication_event_setups'
    });
  })
</script>
