<!-- Theatre Counter -->
<% view_inventory_counter = 0 %>
<% view_medication_counter = 0 %>
<% view_consumable_counter = 0 %>
<% view_swabs_counter = 0 %>
<% view_implants_counter = 0 %>
<% view_packs_counter = 0 %>
<% view_dressing_counter = 0 %>
<% view_instruments_counter = 0 %>
<% view_preps_counter = 0 %>

<% if @operative_note.inventorymedication.length > 0%>
    <% view_inventory_counter = view_inventory_counter+1 %>
    <% view_medication_counter = view_medication_counter+1 %>
<% end %>

<% if @operative_note.inventoryconsumables.length > 0%>
    <% view_inventory_counter = view_inventory_counter+1 %>
    <% view_consumable_counter = view_consumable_counter+1 %>
<% end %>

<% if @operative_note.inventorypack.length > 0%>
    <% view_inventory_counter = view_inventory_counter+1 %>
    <% view_packs_counter = view_packs_counter+1 %>
<% end %>

<% if @operative_note.inventoryprep.length > 0%>
    <% view_inventory_counter = view_inventory_counter+1 %>
    <% view_preps_counter = view_preps_counter+1 %>
<% end %>

<% if @operative_note.inventorydressings.length > 0%>
    <% view_inventory_counter = view_inventory_counter+1 %>
    <% view_dressing_counter = view_dressing_counter+1 %>
<% end %>

<% if @operative_note.inventoryinstrument.length > 0%>
    <% view_inventory_counter = view_inventory_counter+1 %>
    <% view_instruments_counter = view_instruments_counter+1 %>
<% end %>

<% if @operative_note.inventoryimplants.length > 0%>
    <% view_inventory_counter = view_inventory_counter+1 %>
    <% view_implants_counter = view_implants_counter+1 %>
<% end %>

<% if @operative_note.inventoryswabs.length > 0%>
    <% view_inventory_counter = view_inventory_counter+1 %>
    <% view_swabs_counter = view_swabs_counter+1 %>
<% end %>

<% if view_inventory_counter > 0%>
  <div class="row mb10">
    <div class="col-md-12">
      <div class="row">
        <strong>INVENTORY :</strong>
        <div class="summary-line-border"></div>
      </div>
      <div class="row mt10">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th width="40%"><b>Name</b></th>
                <th width="20%"><b>Quantity</b></th>
                <th width="20%"><b>Used</b></th>
                <th width="20%"><b>Remaining</b></th>
              </tr>
            </thead>
            <tbody>
              <% if view_medication_counter > 0 %>
                <tr>
                  <th colspan="4" style="padding:3px 10px;">Medication</th>
                </tr>
                <% @operative_note.inventorymedication.each do |medication|%>
                  <tr>
                    <td><%= medication.name.capitalize%></td>
                    <td><%= medication.quantity%></td>
                    <td><%= medication.used%></td>
                    <td><%= medication.remaining%></td>
                  </tr>
                <% end %>
              <% end %>
              <% if view_consumable_counter > 0 %>
                <tr>
                  <th colspan="4" style="padding:3px 10px;">Consumables</th>
                </tr>
                <% @operative_note.inventoryconsumables.each do |consumable|%>
                  <tr>
                    <td><%= consumable.name.capitalize%></td>
                    <td><%= consumable.quantity%></td>
                    <td><%= consumable.used%></td>
                    <td><%= consumable.remaining%></td>
                  </tr>
                <% end %>
              <% end %>
              <% if view_packs_counter > 0 %>
                <tr>
                  <th colspan="4" style="padding:3px 10px;">Packs/Drapes</th>
                </tr>
                <% @operative_note.inventorypack.each do |pack|%>
                  <tr>
                    <td><%= pack.name.capitalize%></td>
                    <td><%= pack.quantity%></td>
                    <td><%= pack.used%></td>
                    <td><%= pack.remaining%></td>
                  </tr>
                <% end %>
              <% end %>
              <% if view_preps_counter > 0 %>
                <tr>
                  <th colspan="4" style="padding:3px 10px;">Irrigation/Solution/Prep</th>
                </tr>
                <% @operative_note.inventoryprep.each do |prep|%>
                  <tr>
                    <td><%= prep.name.capitalize%></td>
                    <td><%= prep.quantity%></td>
                    <td><%= prep.used%></td>
                    <td><%= prep.remaining%></td>
                  </tr>
                <% end %>
              <% end %>
              <% if view_dressing_counter > 0 %>
                <tr>
                  <th colspan="4" style="padding:3px 10px;">Dressing/Drains/Sutures</th>
                </tr>
                <% @operative_note.inventorydressings.each do |dress|%>
                  <tr>
                    <td><%= dress.name.capitalize%></td>
                    <td><%= dress.quantity%></td>
                    <td><%= dress.used%></td>
                    <td><%= dress.remaining%></td>
                  </tr>
                <% end %>
              <% end %>
              <% if view_instruments_counter > 0 %>
                <tr>
                  <th colspan="4" style="padding:3px 10px;">Instruments & Equipments</th>
                </tr>
                <% @operative_note.inventoryinstrument.each do |instrument|%>
                  <tr>
                    <td><%= instrument.name.capitalize%></td>
                    <td><%= instrument.quantity%></td>
                    <td><%= instrument.used%></td>
                    <td><%= instrument.remaining%></td>
                  </tr>
                <% end %>
              <% end %>
              <% if view_implants_counter > 0 %>
                <tr>
                  <th colspan="4" style="padding:3px 10px;">Implants</th>
                </tr>
                <% @operative_note.inventoryimplants.each do |implant|%>
                  <tr>
                    <td><%= implant.name.capitalize%></td>
                    <td><%= implant.quantity%></td>
                    <td><%= implant.used%></td>
                    <td><%= implant.remaining%></td>
                  </tr>
                <% end %>
              <% end %>
              <% if view_implants_counter > 0 %>
                <tr>
                  <th colspan="4" style="padding:3px 10px;">Swabs/Sponges</th>
                </tr>
                <% @operative_note.inventoryswabs.each do |swab|%>
                  <tr>
                    <td><%= swab.name.capitalize%></td>
                    <td><%= swab.quantity%></td>
                    <td><%= swab.used%></td>
                    <td><%= swab.remaining%></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div><!-- Table Row -->
      <div class="row mb20">
        <div class="col-md-12">
          <b>Comment :</b> <%= @operative_note.ot_note_inventory_comments %>
        </div>
      </div>
    </div>
  </div>
<%end%>


<style type="text/css">
  .table thead tr th, .table tbody tr td {
    padding: 3px;
  }
</style>