<div class="row medication_row inventory_row mb20" style="margin-top: 20px;">
    <%= f.fields_for :inventorymedication, @inventorymedication do |medication| %>

        <div class="row mb5">
            <div class="col-md-2 text-right">
                <b class="medlab">Medications</b>
            </div>
            <div class="col-md-2">
                <%= medication.text_field :name,{class: "form-control med_name", :value => @operative_note.read_attribute(:name)} %>
            </div>

            <div class="col-md-2">
              <%= medication.number_field :quantity,{class: "form-control med_name", :value => @operative_note.read_attribute(:name)} %>
            </div>

            <div class="col-md-2">
              <%= medication.number_field :used,{class: "form-control med_name", :value => @operative_note.read_attribute(:name)} %>
            </div>
            <div class="col-md-2">
              <%= medication.number_field :remaining,{class: "form-control med_name", :value => @operative_note.read_attribute(:name)} %>
            </div>
        </div>

    <% end %>
</div>