<%if @operative_note.present?%>
  <!-- Counter Logic -->
  <% personnel_counter = 0 %>
  <% if @operative_note.surgeon.to_i != 0 || @operative_note.surgeon_assistant.to_i != 0 || @operative_note.anaesthetist.to_i != 0 || @operative_note.anesthetic_assistant.to_i != 0 || @operative_note.circulating_nurse.to_i != 0 || @operative_note.scrub_nurse.to_i != 0 || @operative_note.other_staff.to_i != 0 || @operative_note.personnel_comments.to_i != 0 %>
    <% personnel_counter = personnel_counter + 1 %>
  <% end %>

  <!-- Surgeon -->
  <% surgeon_present_counter = 0 %>
  <% surgeon1 = (@operative_note.surgeon1 if (@operative_note.surgeon1.present?)) || ("--") %>
  <% surgeon2 = (@operative_note.surgeon2 if (@operative_note.surgeon2.present?)) || ("--") %>
  <% surgeon3 = (@operative_note.surgeon3 if (@operative_note.surgeon3.present?)) || ("--") %>

  <% if @operative_note.surgeon.to_i == 1 %>
    <% surgeon = surgeon1 %>
    <% surgeon_present_counter += 1 %>
  <% elsif @operative_note.surgeon.to_i == 2 %>
    <% if @operative_note.surgeon1.blank? && @operative_note.surgeon2.blank? %>
      <% surgeon = '--' %>
    <% else %>
      <% surgeon = surgeon1 + ',  ' + surgeon2 %>
    <% end %>
    <% surgeon_present_counter += 1 %>
  <% elsif @operative_note.surgeon.to_i == 3 %>
    <% if @operative_note.surgeon1.blank? && @operative_note.surgeon2.blank? && @operative_note.surgeon3.blank? %>
      <% surgeon = '--' %>
    <% else %>
      <% surgeon = surgeon1 + ',  ' + surgeon2 + ',  ' + surgeon3  %>
    <% end %>
    <% surgeon_present_counter += 1 %>
  <% end %>

  <!-- Surgeon Assistant -->
  <% surgeon_assistant_counter = 0 %>
  <% surgeon_assistant1 = (@operative_note.surgeon_assistant1 if (@operative_note.surgeon_assistant1.present?)) || ("--") %>
  <% surgeon_assistant2 = (@operative_note.surgeon_assistant2 if (@operative_note.surgeon_assistant2.present?)) || ("--") %>
  <% surgeon_assistant3 = (@operative_note.surgeon_assistant3 if (@operative_note.surgeon_assistant3.present?)) || ("--") %>

  <% if @operative_note.surgeon_assistant.to_i == 1 %>
    <% surgeon_assistant = surgeon_assistant1 %>
    <% surgeon_assistant_counter += 1 %>
  <% elsif @operative_note.surgeon_assistant.to_i == 2 %>
    <% if @operative_note.surgeon_assistant1.blank? && @operative_note.surgeon_assistant2.blank? %>
      <% surgeon_assistant = '--' %>
    <% else %>
      <% surgeon_assistant = surgeon_assistant1 + ',  ' + surgeon_assistant2 %>
    <% end %>
    <% surgeon_assistant_counter += 1 %>
  <% elsif @operative_note.surgeon_assistant.to_i == 3 %>
    <% if @operative_note.surgeon_assistant1.blank? && @operative_note.surgeon_assistant2.blank? && @operative_note.surgeon_assistant3.blank? %>
      <% surgeon_assistant = '--' %>
    <% else %>
      <% surgeon_assistant = surgeon_assistant1 + ',  ' + surgeon_assistant2 + ',  ' + surgeon_assistant3  %>
    <% end %>
    <% surgeon_assistant_counter += 1 %>
  <% end %>

  <!-- Anaesthetist -->
  <% anaesthetist = "" %>
  <% if @operative_note.anaesthetist.to_i == 1 %>
    <% anaesthetist = @operative_note.anaesthetist1 %>
  <% elsif @operative_note.anaesthetist.to_i == 2 %>
    <% anaesthetist = @operative_note.anaesthetist1 + ', ' + @operative_note.anaesthetist2 %>
  <% elsif @operative_note.anaesthetist.to_i == 3 %>
    <% anaesthetist = @operative_note.anaesthetist1 + ', ' + @operative_note.anaesthetist2 + ', ' + @operative_note.anaesthetist3 %>
  <% end %>

  <!-- Anesthetic Assistant -->
  <% anesthetic_assistant = "" %>
  <% if @operative_note.anesthetic_assistant.to_i == 1 %>
    <% anesthetic_assistant = @operative_note.anesthetic_assistant1 %>
  <% elsif @operative_note.anesthetic_assistant.to_i == 2 %>
    <% anesthetic_assistant = @operative_note.anesthetic_assistant1 + ', ' + @operative_note.anesthetic_assistant2 %>
  <% elsif @operative_note.anesthetic_assistant.to_i == 3 %>
    <% anesthetic_assistant = @operative_note.anesthetic_assistant1 + ', ' + @operative_note.anesthetic_assistant2 + ', ' + @operative_note.anesthetic_assistant3 %>
  <% end %>

  <!-- Circulating Nurse -->
  <% circulating_nurse = "" %>
  <% if @operative_note.circulating_nurse.to_i == 1 %>
    <% circulating_nurse = @operative_note.circulating_nurse1 %>
  <% elsif @operative_note.circulating_nurse.to_i == 2 %>
    <% circulating_nurse = @operative_note.circulating_nurse1 + ', ' + @operative_note.circulating_nurse2 %>
  <% elsif @operative_note.circulating_nurse.to_i == 3 %>
    <% circulating_nurse = @operative_note.circulating_nurse1 + ', ' + @operative_note.circulating_nurse2 + ', ' + @operative_note.circulating_nurse3 %>
  <% end %>

  <!-- Scrub Nurse -->
  <% scrub_nurse = "" %>
  <% if @operative_note.scrub_nurse.to_i == 1 %>
    <% scrub_nurse = @operative_note.scrub_nurse1 %>
  <% elsif @operative_note.scrub_nurse.to_i == 2 %>
    <% scrub_nurse = @operative_note.scrub_nurse1 + ', ' + @operative_note.scrub_nurse2 %>
  <% elsif @operative_note.scrub_nurse.to_i == 3 %>
    <% scrub_nurse = @operative_note.scrub_nurse1 + ', ' + @operative_note.scrub_nurse2 + ', ' + @operative_note.scrub_nurse3 %>
  <% end %>

  <!-- Other Staff -->
  <% other_staff = "" %>
  <% if @operative_note.other_staff.to_i == 1 %>
    <% other_staff = @operative_note.other_staff1 %>
  <% elsif @operative_note.other_staff.to_i == 2 %>
    <% other_staff = @operative_note.other_staff1 + ', ' + @operative_note.other_staff2 %>
  <% elsif @operative_note.other_staff.to_i == 3 %>
    <% other_staff = @operative_note.other_staff1 + ', ' + @operative_note.other_staff2 + ', ' + @operative_note.other_staff3 %>
  <% end %>


  <% if personnel_counter > 0 %>
    <div class="row mb10">
      <div class="col-md-12">
        <div class="row">
          <strong>PERSONNEL :</strong>
          <div class="summary-line-border"></div>
        </div>
        <% if surgeon_present_counter > 0 %>
          <div class="row mb5 personnel-row">
            <div class="col-md-12 personnel-col">
              <b>Surgeon :</b> <%= surgeon %>
            </div>
          </div>
        <% end %>
        <% if surgeon_assistant_counter > 0 %>
          <div class="row mb5 personnel-row">
            <div class="col-md-12">
              <b>Surgeon Assistant :</b> <%= surgeon_assistant %>
            </div>
          </div>
        <% end %>
        <% unless @operative_note.anaesthetist.to_i == 0 %>
          <div class="row mb5 personnel-row">
            <div class="col-md-12">
              <b>Anaesthetist :</b> <%= anaesthetist %>
            </div>
          </div>
        <% end %>
        <% unless @operative_note.anesthetic_assistant.to_i == 0 %>
          <div class="row mb5 personnel-row">
            <div class="col-md-12 ">
              <b>Anesthetic Assistant :</b> 
              <%= anesthetic_assistant %>
            </div>
          </div>
        <% end %>
        <% unless @operative_note.circulating_nurse.to_i == 0 %>
          <div class="row mb5 personnel-row">
            <div class="col-md-12">
              <b>Circulating Nurse :</b> 
              <%= circulating_nurse %>
            </div>
          </div>
        <% end %>
        <% unless @operative_note.scrub_nurse.to_i == 0 %>
          <div class="row mb5 personnel-row">
            <div class="col-md-12">
              <b>Instrument(Scrub) Nurse :</b> 
              <%= scrub_nurse %>
            </div>
          </div>
        <% end %>
        <% unless @operative_note.other_staff.to_i == 0 %>
          <div class="row mb5 personnel-row">
            <div class="col-md-12">
              <b>Other Staff :</b> 
              <%= other_staff %>
            </div>
          </div>
        <% end %>
        <% if @operative_note.personnel_comments.present? %>
          <div class="row mb5 personnel-row">
            <div class="col-md-12">
              <b>Comments :</b> 
              <%= @operative_note.personnel_comments %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<%end%>