<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">Edit Custom ICD Diagnosis</h4>
    </div>
    <%= form_for(@custom_icd_diagnosis, url: custom_icd_diagnosis_path, html: { id: 'edit_custom_icd_diagnosis' }, remote: true) do |f| %>
      <% if @custom_icd_diagnosis.icd_type == 'TranslatedIcdDiagnosis' %>
        <input type="hidden" name="icd_data_from" value="translated_icd_diagnosis">
        <div class="modal-body form-bordered">

          <div class="row text-center" style="margin: 5px;">
            <label>This Diagnosis is attached with  <b style="font-style: italic;"><%= @custom_icd_diagnosis.search_icd_name.upcase %> (<%=@custom_icd_diagnosis.code.upcase%>)</b></label><hr>
          </div>
          <div class="row" style="padding-top: 25px;">
            <% if @custom_icd_diagnosis.try(:translated_language).present? %>
              <% lcid_code = @custom_icd_diagnosis.translated_language %>
              <% language = Language.where(lcid_code: lcid_code).pluck(:name) %>
              <div class="col-md-1">
                <label>Language:&nbsp&nbsp&nbsp<b><%= language.join("")%></b></label>
              </div>
            <% end %>
            <div class="col-md-2"></div>
            <div class="col-md-2"><%= f.label "ICD Name :" %></div>
            <div class="col-md-5"><%= f.text_field :fullname, { class: 'form-control', value: @custom_icd_diagnosis[:fullname] } %></div>
          </div>
        </div> 
      <% elsif @custom_icd_diagnosis.is_attached == false %>
        <input type="hidden" name="icd_data_from" value="custom_icd_diagnosis">
        <div class="modal-body form-bordered">
          <div class="row form-group">
            <div class="col-md-2"></div>
            <div class="col-md-2"><%= f.label "ICD Name :" %></div>
            <% if @custom_icd_diagnosis.try(:translated_language).present? %>
              <div class="col-md-5"><%= f.text_field :originalname, { class: 'form-control', value: @custom_icd_diagnosis[:fullname] } %></div>
            <% else %>
            <div class="col-md-5"><%= f.text_field :originalname, { class: 'form-control', value: @custom_icd_diagnosis[:originalname] } %></div>
            <% end %>
          </div>
        </div>
      <%else%>
        <input type="hidden" name="icd_data_from" value="synonym_icd_diagnosis">
        <div class="modal-body form-bordered">

          <div class="row text-center" style="margin: 5px;">
            <label>This Diagnosis is attached with  <b style="font-style: italic;"><%= @custom_icd_diagnosis.search_icd_name.upcase %> (<%=@custom_icd_diagnosis.code.upcase%>)</b></label><hr>
          </div>
          <div class="row" style="padding-top: 25px;">
            <% if @custom_icd_diagnosis.try(:translated_language).present? %>
              <% lcid_code = @custom_icd_diagnosis.translated_language %>
              <% language = Language.where(lcid_code: lcid_code).pluck(:name) %>
              <div class="col-md-1">
                <label>Language:&nbsp&nbsp&nbsp<b><%= language.join("")%></b></label>
              </div>
            <% end %>
            <div class="col-md-2"></div>
            <div class="col-md-2"><%= f.label "ICD Name :" %></div>
            <div class="col-md-5"><%= f.text_field :fullname, { class: 'form-control', value: @custom_icd_diagnosis[:fullname] } %></div>
          </div>
        </div>
      <% end %>
      <div class="modal-footer">
        <%= f.submit "Update Custom ICD",{ class: 'btn btn-success', onclick: 'validate_custom_icd_page()'}%>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>

<style type="text/css">
  input.error, select.error {
    border-color: #b94a48;
    background-image: none;
  }
  input.valid, select.valid {
    border-color: #468847;
    background-image: none;
  }
</style>