<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">Custom ICD Diagnosis</h4>
    </div>
    <%= form_for(@custom_icd_diagnosis, remote: true) do |f| %>
      <input type="hidden" name="custom_icd_diagnosis[organisation_id]" value="<%= current_user.organisation_id%>">
      <input type="hidden" name="synonym_icd_diagnosis[organisation_id]" value="<%= current_user.organisation_id%>">
      <input type="hidden" name="translated_icd_diagnosis[organisation_id]" value="<%= current_user.organisation_id%>">
      <input type="hidden" name="translated_icd_diagnosis[facility_ids]" value="<%= current_user.facility_ids%>">

      <div class="modal-body form-bordered clearfix custom_icd_diagnosis_fields">
        <div class="row form-control" style="border: 1px; margin: inherit;">
          <div class="col-md-3">
            <div class="rdio rdio-primary col-md-12">
              <%= radio_button_tag "custom_icd_type", "create_new_icd", false, { class: 'custom_icd_type', id: "CustomIcdRadio1" } %>
              <label for="CustomIcdRadio1">Create New ICD</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="rdio rdio-primary col-md-12">
              <%= radio_button_tag "custom_icd_type", "attach_icd", false, { class: 'custom_icd_type', id: "CustomIcdRadio2" } %>
              <label for="CustomIcdRadio2">Attach to existing ICD</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="rdio rdio-primary col-md-12">
              <%= radio_button_tag "custom_icd_type", "translated_icd", false, { class: 'custom_icd_type', id: 'CustomIcdRadio3' } %>
              <label for="CustomIcdRadio3">Translation</label>
            </div>
          </div>
          <div class="col-md-3">
            <%= f.select :specialty_id, options_for_select(@available_specialties.pluck(:name, :id), selected: @advice_set.try(:specialty_id)), { include_blank: false }, { class: 'form-control specialty_dropdown' } %>
          </div>
        </div>

        <div class="custom_new_icd" id="custom_new_icd">
          <div class="custom_new_icd_name" id="custom_new_icd_name">
            <div class="col-md-12 row" id="new_icd_name" style="margin-top: 23px;">
              <div class="col-md-3"></div>
              <div class="col-md-6"><%= text_field_tag "custom_icd_diagnosis[fullname]", nil, class: 'form-control', placeholder: 'Enter new ICD name' %>
              </div>
            </div>
          </div>
          <div class="col-md-12 row" id="add_laterality_checkbox" style="margin-top: 15px;">
            <div class="col-lg-2"></div>
            <span class="ckbox ckbox-primary" style="margin-left: 20px;">
              <%= f.check_box :children_has_laterality , { id: 'add_laterality', checked: false }, 'true', 'false'  %>
              <label style="margin-top: 10px; " for="add_laterality">Add Laterality</label>
            </span>
          </div>
          <div class="col-md-12 row" id="note_text">
            <span class="col-md-3"></span>
            <h5 class="col-md-8" style="color: red">Note: Don't enter laterality name, if using Add Laterality option </h5>
          </div>
        </div>

        <div class="attach_standard_icd" id="attach_standard_icd">
          <div class="col-md-12 row" id="search_icd_name" style="margin-top: 15px;">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <input type="text" class="form-control" name="synonym_icd_diagnosis[search_icd_name]" id="search_icd" placeholder="Search by Diagnosis name" style= "width: 100%;" />
              <input type="hidden" class="form-control" name="synonym_icd_diagnosis[code]" id="search_icd_code" style= "width: 100%;" />
              <input type="hidden" class="form-control" name="synonym_icd_diagnosis[icd_type]" id="search_icd_type"  style= "width: 100%;" />
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" name="searched_code_display" id="search_icd_code_display" placeholder="ICD Code" readonly="disabled" style= "width: 100%;" />
            </div>
          </div>
          <div class="synonym_new_icd_name_rows" id="synonym_new_icd_name_rows">
            <div class="col-md-12 row" id="new_icd_name_row" style="margin-top: 23px;margin-bottom: 10px;">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <%= text_field_tag "synonym_icd_diagnosis[fullname][0]", nil, class: 'synonym_new_icd_name_field form-control', placeholder: 'Enter new ICD name' %>
              </div>
              <div class="col-md-3">
                <span id="add_custom_synonym_name" class="btn btn-sm btn-primary btn-square glyphicon glyphicon-plus-sign add-icon"></span>
              </div>
            </div>
          </div>
          <div class="col-md-12 row" id="note_text">
            <span class="col-md-3"></span>
            <h5 class="col-md-9" style="font-style: italic;">Visit &nbsp;<a target="_blank" href="http://www.icd10data.com/" style="color: blue;">http://www.icd10data.com/</a> &nbsp; For more information about ICDs</h5>
          </div>
        </div>

        <div class="translated_icd_diagnosis" id="translated_icd_diagnosis">
          <div class="col-md-12 row" id="search_translated_icd_name" style="margin-top: 15px;">
            <div class="col-md-8">
              <input type="text" class="form-control" name="translated_icd_diagnosis[search_icd_name]" id="search_translated_icd" placeholder="Search by Diagnosis name" style= "width: 100%;" />
              <input type="hidden" class="form-control" name="translated_icd_diagnosis[code]" id="search_diagnosis_icd_code" style= "width: 100%;" />
              <!-- <input type="hidden" class="form-control" name="translated_icd_diagnosis[icd_type]" id="search_translated_icd_type"  style= "width: 100%;" /> -->
            </div>
            <div class="col-md-4">
              <input type="text" class="form-control" name="searched_code_display" id="search_translated_icd_code_display" placeholder="ICD Code" readonly="disabled" style= "width: 100%;" />
            </div>
          </div>
          <div class="col-md-12 row" id="new_icd_name_row" style="margin-top: 23px;margin-bottom: 10px;">
            <div class="col-md-4">
              <%= select_tag("translated_icd_diagnosis[translated_language]", options_for_select(@languages), { prompt: "Select Language", class: 'form-control select2 selected_language', style: 'width: 80%' }) %>
            </div>
            <div class="col-md-8">
              <input type="hidden" class="form-control" name="translated_icd_diagnosis[data][0][code]" id="search_translated_icd_code" style= "width: 100%;" />
              <%= text_field_tag "translated_icd_diagnosis[data][0][fullname]", nil, class: 'synonym_new_icd_name_field form-control', placeholder: 'Enter new ICD name' %>
            </div>
          </div>
          <div class="child_translated_icd_diagnosis"></div>
          <div class="col-md-12 row" id="note_text">
            <span class="col-md-3"></span>
            <h5 class="col-md-9" style="font-style: italic;">Visit &nbsp;<a target="_blank" href="http://www.icd10data.com/" style="color: blue;">http://www.icd10data.com/</a> &nbsp; For more information about ICDs</h5>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <%= f.submit "Create Custom ICD",{ class: 'btn btn-success', onclick: 'validate_custom_icd_page()'}%>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>
