<div class="modal-dialog modal-ward-note">
  <!-- Modal content-->
  <div class="modal-content">
    <%= simple_form_for @ipdrecord, url: @url,method: @method,action: 'update',  format: :js, remote: true, multipart: true, html: { class: "admission_note_form", id: "admission_note_form" } do |f| %>
      <div class="modal-header">
        <div class="pull-right">
          <% if params[:action] == "new" %>
            <%= f.submit "Save", class: "btn btn-success btn-sm", 'data-disable-with' => "Please wait.." %>
          <% else %>
            <%= f.submit "Update", class: "btn btn-success btn-sm", 'data-disable-with' => "Please wait.." %>
          <% end %>
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        </div>
        <h4 class="modal-title" style="margin-top:2px;color:#000;margin-left: 10%;">Ward Note</h4>
      </div>
      <div class="modal-body">
        <!-- Common Fields -->
        <%= f.hidden_field :admission_id, value: @admission.id %>
        <%= f.simple_fields_for :ward_notes, @ward_note do |ward| %>
          <%= ward.hidden_field :note_created_at, value: Time.current %>
          <%= ward.hidden_field :id, value: @ward_note.id %>
          <%= ward.hidden_field :organisation_id, value: @admission.facility.organisation_id %>
          <%= ward.hidden_field :admission_id, value: @admission.id %>
          <%= ward.hidden_field :patient_id, value: @patient.id %>
          <%= ward.hidden_field :user_id, value: current_user.id %>
          <%= ward.hidden_field :department, value: 'Inpatient Department' %>
          <%= ward.hidden_field :specalityname, value: @speciality_folder_name %>
          <%= ward.hidden_field :specalityid, value: @specialty_id %>
          <%= ward.hidden_field :ward_id, value: @admission.ward_id %>
          <%= ward.hidden_field :room_id, value: @admission.room_id %>
          <%= ward.hidden_field :bed_id, value: @admission.bed_id %>
          <%= ward.hidden_field :daycare, value: @admission.daycare %>
          <%= ward.hidden_field :patient_name, value: @patient.fullname %>
          <%= ward.hidden_field :patient_age, value: @patient.age %>
          <%= ward.hidden_field :patient_gender, value: @patient.gender %>
          <%= ward.hidden_field :mr_no, value: @patient_mrn %>
          <%= ward.hidden_field :patient_identifier_id, value: @patient_identifier_id %>
            <!-- Common Fields -->
            <!-- Patient Info -->
            <div class="row text-center">
              <div class="col-md-3">
                <b style="color:#000;">Name:</b> <%= @patient.fullname %>
              </div>
              <div class="col-md-3">
                <b style="color:#000;">Age/Sex:</b> <%if @patient.calculate_age.present? || @patient.gender.present?%><%= @patient.calculate_age %>/<%= @patient.gender %><% else %> Unavailable<% end %>
              </div>
              <div class="col-md-5">
                <b style="color:#000;">Patient ID <% if @patient_mrn.to_s != "" %>/ MR No. <% end %> :</b> <%= @patient_identifier_id %><% if @patient_mrn.to_s != "" %> / <%= @patient_mrn %><% end %>
              </div>
            </div>
            <hr style="margin:10px;">
            <!-- Patient Info -->
            <div class="row">
              <div class="col-md-12">
                <%= render partial: 'inpatient/ipd_record/ward_note/' + @speciality_folder_name + '_notes/form_body', locals: { f: ward, patient: @patient, admission: @admission, department: @department} %>
              </div>
              <!-- <div class="col-md-2">

              </div> -->
            </div>
        <% end %>
      </div>
    <% end %>

  </div>

</div>