<div class="master-row col-md-12">
	<div class="row mb10">
    <div class="col-md-12">
      <%= render partial: 'inpatient/ipd_record/patient_info.html.erb', locals: { note: @ward_note } %>
    </div>
	  <div class="col-md-12">
	    <div class="row mb5">
	      <div class="col-md-8">
	        <b>Ward Note :</b><% if @ward_note.notetext.present? %> <%= @ward_note.notetext %> <% else %> <b style="opacity:0.5;">No Note</b> <% end %>
	      </div>
	      <div class="col-md-4 text-right">
	      </div>
	    </div>
	    <% if @ward_note.anthropometryheight.present? || @ward_note.anthropometryweight.present? || @ward_note.anthropometrybmi.present? %>
	      <div class="row mb5">
	        <% if @ward_note.anthropometryheight.present? %>
	          <div class="col-md-3">
	            <b>Height :</b> <%= @ward_note.anthropometryheight %>
	          </div>
	        <% end %>
	          <% if @ward_note.anthropometryweight.present? %>
	          <div class="col-md-3">
	            <b>Weight :</b> <%= @ward_note.anthropometryweight %>
	          </div>
	        <% end %>
	          <% if @ward_note.anthropometrybmi.present? %>
	          <div class="col-md-3">
	            <b>BMI :</b> <%= @ward_note.anthropometrybmi %>
	          </div>
	        <% end %>
	      </div>
	    <% end %>
	    <% if @ward_note.vitalsignstemperature.present? || @ward_note.vitalsignspulse.present? || @ward_note.vitalsignsbp.present? || @ward_note.vitalsignsrr.present? || @ward_note.vitalsignsspo2.present? %>
	      <div class="row mb5">
	        <% if @ward_note.vitalsignstemperature.present? %>
	          <div class="col-md-3">
	            <b>Temperature :</b> <%= @ward_note.vitalsignstemperature %>
	          </div>
	        <% end %>
	          <% if @ward_note.vitalsignspulse.present? %>
	          <div class="col-md-3">
	            <b>Pulse :</b> <%= @ward_note.vitalsignspulse %>
	          </div>
	        <% end %>
	          <% if @ward_note.vitalsignsbp.present? %>
	          <div class="col-md-3">
	            <b>Blood Pressure :</b> <%= @ward_note.vitalsignsbp %>
	          </div>
	        <% end %>
	        <% if @ward_note.vitalsignsrr.present? %>
	          <div class="col-md-3">
	            <b>RR :</b> <%= @ward_note.vitalsignsrr %>
	          </div>
	        <% end %>
          <% if @ward_note.vitalsignsspo2.present? %>
            <div class="col-md-3">
              <b>SpO2 :</b>
              <% if @ward_note.vitalsignsspo2.to_i <= 90 %>
                <span style="color:red;">
                  <%= @ward_note.vitalsignsspo2 %> %
                </span>
              <% elsif @ward_note.vitalsignsspo2.to_i > 90 && @ward_note.vitalsignsspo2.to_i <= 94 %>
                <span style="color:orange;">
                  <%= @ward_note.vitalsignsspo2 %> %
                </span>
              <% else %>
                <span>
                  <%= @ward_note.vitalsignsspo2 %> %
                </span>
              <% end %>
            </div>
          <% end %>
	      </div>
	    <% end %>
	  </div>
	</div>
	<div class="row mt20" style="margin-top: 150px;">
		<%= render partial: 'common/user_signature.html.erb',locals: { user_id: @admission.doctor } %>
	</div>
</div>


<!--style_start-->
<style type="text/css" media="all">
  .master-row * {
    font-size: 9px;
    margin-top: 5px;
  }
</style>
