<div class="modal-dialog modal-clinical-note">
  <!-- Modal content-->
  <div class="modal-content">
    <%= simple_form_for @ipdrecord, url: @url,method: @method,action: 'update', format: :js, remote: true, multipart: true, html: { class: "discharge-note-form", id: "discharge-note-form" } do |f| %>
      <div class="modal-header">
        <div class="pull-left">
          <b style="color:#c9302c;">Note Date: </b>
          <input type="text" name="inpatient_ipd_record[discharge_note_attributes][note_date]" style="border:none;border-bottom:1px solid;background:#fff;color:#c9302c;cursor:pointer" class="note-created-date" readonly="readonly" value="<%= @discharge_note.note_created_at.strftime('%d/%m/%Y') %>">
          <input type="hidden" name="inpatient_ipd_record[discharge_note_attributes][note_time]" class="note-created-time" value='<%= Time.current.strftime("%I:%M %p") %>'>
        </div>
        <div class="pull-right">
          <% if params[:action] == "new" %>
            <%= f.submit "Save", class: "btn btn-success btn-sm", 'data-disable-with' => "Please wait..", style:"letter-spacing:1px;" %>
          <% else %>
            <%= f.submit "Update", class: "btn btn-success btn-sm", 'data-disable-with' => "Please wait..", style:"letter-spacing:1px;" %>
          <% end %>
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" style = "letter-spacing:1px;">Close</button>
        </div>
        <h4 class="modal-title" style="margin-top:2px;color:#000;margin-left: 10%;">Discharge Form</h4>
      </div>
      <div class="modal-body discharge_note_btn" style="letter-spacing:1px;">
        <!-- Common Fields -->
          <%= f.hidden_field :id,name: 'inpatient_ipd_record[discharge_note_attributes][id]', value: @discharge_note.try(:id)%>
          <%= f.hidden_field :note_created_at,name: 'inpatient_ipd_record[discharge_note_attributes][note_created_at]', value: Time.current.strftime('%d/%m/%Y %I:%M %p') %>
          <%= f.hidden_field :organisation_id,name: 'inpatient_ipd_record[discharge_note_attributes][organisation_id]', value: @admission.facility.organisation_id %>
          <%= f.hidden_field :admission_id,name: 'inpatient_ipd_record[discharge_note_attributes][admission_id]', value: @admission.id %>
          <%= f.hidden_field :patient_id,name: 'inpatient_ipd_record[discharge_note_attributes][patient_id]', value: @patient.id %>
          <%= f.hidden_field :user_id,name: 'inpatient_ipd_record[discharge_note_attributes][user_id]', value: current_user.id %>
          <%= f.hidden_field :department, name: 'inpatient_ipd_record[discharge_note_attributes][department]', value: '486546481' %>              <!--  inpatient - department  -->
          <%= f.hidden_field :specalityname,name: 'inpatient_ipd_record[discharge_note_attributes][specalityname]', value: @specialty %>
          <%= f.hidden_field :specalityid,name: 'inpatient_ipd_record[discharge_note_attributes][specalityid]', value: @specialty_id %>
          <%= f.hidden_field :ward_id,name: 'inpatient_ipd_record[discharge_note_attributes][ward_id]', value: @admission.ward_id %>
          <%= f.hidden_field :room_id,name: 'inpatient_ipd_record[discharge_note_attributes][room_id]', value: @admission.room_id %>
          <%= f.hidden_field :bed_id,name: 'inpatient_ipd_record[discharge_note_attributes][bed_id]', value: @admission.bed_id %>
          <%= f.hidden_field :daycare,name: 'inpatient_ipd_record[discharge_note_attributes][daycare]', value: @admission.daycare %>
          <%= f.hidden_field :patient_name,name: 'inpatient_ipd_record[discharge_note_attributes][patient_name]', value: @patient.fullname %>
          <%= f.hidden_field :patient_age,name: 'inpatient_ipd_record[discharge_note_attributes][patient_age]', value: @patient.age %>
          <%= f.hidden_field :patient_gender,name: 'inpatient_ipd_record[discharge_note_attributes][patient_gender]', value: @patient.gender %>
          <%= f.hidden_field :mr_no,name: 'inpatient_ipd_record[discharge_note_attributes][mr_no]', value: @patient_mrn %>
          <%= f.hidden_field :patient_identifier_id,name: 'inpatient_ipd_record[discharge_note_attributes][patient_identifier_id]', value: @patient_identifier_id %>
          <input type="hidden" name="" id="inpatient_ipd_record_doctor_id" value="<%= @admission.doctor %>">
          <% if @stores_array.present? %>
            <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][store_id]", @discharge_note.store_id ? @discharge_note.store_id : @stores_array[0][1], {:class => 'form-control inpatient_ipd_record_store_id' } %>
            <% if @stores_array.size == 1 %>
              <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][store_name]", @stores_array[0][0], {:class => 'form-control inpatient_ipd_record_store_name' } %>
            <% else %>
              <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][store_name]", @discharge_note.store_id ? @discharge_note.store_id : @stores_array[0][0], {:class => 'form-control inpatient_ipd_record_store_name' } %>
            <% end %>
          <% end %>
          <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][store_present]", @stores_array.present? ? true : false, {:class => 'form-control inpatient_ipd_record_store_present' } %>
        <!-- Common Fields -->
        <!-- Patient Info -->
        <div class="row text-center">          
          <div class="col-md-3">
            <b style="color:#000;">Name:</b> <%= @patient.fullname %>
          </div>
          <div class="col-md-3">
            <b style="color:#000;">Age/Sex:</b> <%if @patient.calculate_age.present? || @patient.gender.present?%><%= @patient.calculate_age %>/<%= @patient.gender %><% else %> --<% end %>
          </div>
          <div class="col-md-4">
            <b style="color:#000;">Patient ID <% if @patient_mrn.to_s != "" %>/ MR No. <% end %> :</b> <%= @patient_identifier_id %><% if @patient_mrn.to_s != "" %> / <%= @patient_mrn %><% end %>
          </div>
          <div class="col-md-2">
            <b style="color:#000;">Adm Date:</b> <%= @admission.admissiondate.strftime("%d %b %Y") if @admission.admissiondate.present?%>
          </div>
        </div>
        <hr style="margin:10px;">
        <!-- Patient Info -->
        <div class="row">
          <div class="col-md-12">
            <%= render partial: 'inpatient/ipd_record/discharge_note/' + @speciality_folder_name + '_notes/form_body', locals: { f: f, patient: @patient, admission: @admission, department: @department} %>
          </div>
          <!-- <div class="col-md-2">

          </div> -->
        </div>
      </div>
    <% end %>

  </div>

</div>
<style>
.discharge_note_btn .btn{
  letter-spacing: 1px;
}
#inpatient_ipd_record_discharge_note_attributes_followup_facility{
    letter-spacing: 1px;
    height: 35px
}
#inpatient_ipd_record_discharge_note_attributes_followup_doctor_id{
    letter-spacing: 1px;
    height: 35px
}
</style>