<% @ward_notes.each do |ward_note| %>
  <% if ward_note.notetext.present? || ward_note.vitalsignstemperature.present? || ward_note.vitalsignspulse.present? || ward_note.vitalsignsbp.present? || ward_note.vitalsignsrr.present? || ward_note.anthropometryheight.present? || ward_note.anthropometryweight.present? || ward_note.anthropometrybmi.present? || ward_note.vitalsignsspo2.present? %>
    <div class="row mb10" style="border-bottom:1px solid #aaa;">
      <div class="col-md-12">
        <div class="row mb5">
          <div class="col-md-12 text-right">
            <b style="font-size: 10px;">Created By: <%= User.find(ward_note.user_id.to_s).fullname %> at <%= ward_note.note_created_at.strftime("%I:%M %p on %d %B, %Y") %></b>
          </div>
          <div class="col-md-8">
            <b>Ward Note :</b><% if ward_note.notetext.present? %> <%= ward_note.notetext %> <% else %><b style="opacity:0.5;">No Note</b> <% end %>
          </div>
          <div class="col-md-4 text-right">
            <% edit_ward_note = "edit_inpatient_ipd_record_ward_note_" + @speciality_folder_name + "_note_path(id: ward_note.id, admission_id: ward_note.admission_id.to_s)" %>
            <%= link_to eval(edit_ward_note), :class => "btn btn-default btn-xs edit-ward-note-btn", style: "padding:0 5px;color:#636e7b", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ipdrecord-modal', method: :get } do %>Edit<% end %>
            <!-- Clone -->
            <% new_ward_note = "new_inpatient_ipd_record_ward_note_" + @speciality_folder_name + "_note_path(admission_id: @admission.id.to_s, ward_note_id: ward_note.id, clone: true)" %>
            <%= link_to eval(new_ward_note), class: "btn btn-default btn-xs clone-ward-note-btn", style: "padding:0 5px;color:#636e7b", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ipdrecord-modal'} do %> Clone<% end %>

            <% if @print_settings.count > 1 %>
              <div class="btn-group" style="padding-top: 10px;">
                <button type="button" class="btn btn-primary dropdown-toggle btn-xs" style="padding:0 5px;" data-toggle="dropdown"><i class="glyphicon glyphicon-print mr5"></i> Print <i class="fa fa-caret-down"></i></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="summary-print-dropdown">
                  <% @print_settings.each do |print_setting| %>
                    <li style="text-align:left" class="multi-print">
                      <% print_link = "inpatient_ipd_record_ward_note_#{@speciality_folder_name.to_s}_note_print_path(id: ward_note.id, " + @speciality_folder_name + "_note_id: ward_note.id, admission_id: ward_note.admission_id.to_s, format: 'pdf', print_setting_id: print_setting.id)" %>
                      <%= link_to eval(print_link), class: "btn btn-default btn-xs", style: 'padding:3px 0px;color: #d9534f;', target: '_blank', data: { method: :get } do %><i class="fa fa-print"></i> <%= print_setting.name %> <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% else %>
              <% print_link = "inpatient_ipd_record_ward_note_#{@speciality_folder_name.to_s}_note_print_path(id: ward_note.id, " + @speciality_folder_name + "_note_id: ward_note.id, admission_id: ward_note.admission_id.to_s, format: 'pdf', print_setting_id: @print_settings[0].id)" %>
              <%= link_to eval(print_link), class: "btn btn-primary btn-xs", style: 'padding: 0px 5px;', target: '_blank', data: { method: :get } do %><i class="fa fa-print"></i> Print <% end %>
            <% end %>
          </div>
        </div>

        <% if ward_note.anthropometryheight.present? || ward_note.anthropometryweight.present? || ward_note.anthropometrybmi.present? %>
          <div class="row mb5">
            <% if ward_note.anthropometryheight.present? %>
              <div class="col-md-3">
                <b>Height :</b> <%= ward_note.anthropometryheight %>
              </div>
            <% end %>
              <% if ward_note.anthropometryweight.present? %>
              <div class="col-md-3">
                <b>Weight :</b> <%= ward_note.anthropometryweight %>
              </div>
            <% end %>
              <% if ward_note.anthropometrybmi.present? %>
              <div class="col-md-3">
                <b>BMI :</b> <%= ward_note.anthropometrybmi %>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if ward_note.vitalsignstemperature.present? || ward_note.vitalsignspulse.present? || ward_note.vitalsignsbp.present? || ward_note.vitalsignsrr.present? || ward_note.vitalsignsspo2.present? %>
          <div class="row mb5">
            <% if ward_note.vitalsignstemperature.present? %>
              <div class="col-md-3">
                <b>Temperature :</b> <%= ward_note.vitalsignstemperature %>
              </div>
            <% end %>
              <% if ward_note.vitalsignspulse.present? %>
              <div class="col-md-3">
                <b>Pulse :</b> <%= ward_note.vitalsignspulse %>
              </div>
            <% end %>
              <% if ward_note.vitalsignsbp.present? %>
              <div class="col-md-3">
                <b>BP :</b> <%= ward_note.vitalsignsbp %>
              </div>
            <% end %>
              <% if ward_note.vitalsignsrr.present? %>
              <div class="col-md-3">
                <b>RR :</b> <%= ward_note.vitalsignsrr %>
              </div>
            <% end %>
            <% if ward_note.vitalsignsspo2.present? %>
              <div class="col-md-3">
                <b>SpO2 :</b>
                <% if ward_note.vitalsignsspo2.to_i <= 90 %>
                  <span style="color:red;">
                    <%= ward_note.vitalsignsspo2 %> %
                  </span>
                <% elsif ward_note.vitalsignsspo2.to_i > 90 && ward_note.vitalsignsspo2.to_i <= 94 %>
                  <span style="color:orange;">
                    <%= ward_note.vitalsignsspo2 %> %
                  </span>
                <% else %>
                  <span>
                    <%= ward_note.vitalsignsspo2 %> %
                  </span>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="row mb10" style="padding-bottom:10px;border-bottom:1px solid #aaa;">
      <div class="col-md-12 text-right">
        <b style="font-size: 10px;">Created By: <%= User.find(ward_note.user_id.to_s).fullname %> at <%= ward_note.note_created_at.strftime("%I:%M %p on %d %B, %Y") %></b>
      </div>
      <div class="col-md-8">
        <b>Empty Record</b>
      </div>
      <div class="col-md-4 text-right">
        <% edit_ward_note = "edit_inpatient_ipd_record_ward_note_" + @speciality_folder_name + "_note_path(id: ward_note.id, admission_id: ward_note.admission_id.to_s)" %>
        <%= link_to eval(edit_ward_note), :class => "btn btn-default btn-xs edit-ward-note-btn", style: "padding:0 5px;color:#636e7b", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ipdrecord-modal', method: :get } do %>Edit<% end %>
      </div>
    </div>
  <% end %>
<% end %>