<%= render partial: '/dashboard/common_css.html.erb' %>
<div class="col-xs-9 main-dashboard" style="background:#efefef;">
  <% if current_facility.is_hospital? %>
    <div id="toolbar_area_dashboard">
      <div id="toolbar">
        <nav class="navbar navbar-secondary navbar-inverse navbar-fixed-top" style="margin-top: 50px; left: auto; right: auto; width: 75%;z-index:100;">
          <div class="container-fluid nav-dashboard" style="padding-right:0;border-right: 1px solid #aaa;">
            <div class="col-xs-2">
              <button class="btn btn-danger navbar-btn navbar-btn-hover ps" id="btn-dashboard-today" style="padding-left: 8.4px !important;padding-right: 8.4px !important;background:transparent;" <%= 'disabled="disabled"' if @current_date == Date.current %>> Today</button>
            </div>
            <div class="col-xs-4 text-center">
              <button class="btn btn-success  navbar-btn navbar-btn-hover" id="btn-dashboard-backdate" style="padding-left: 8.4px !important;padding-right: 8.4px !important;border: none;margin-top:10px;padding-left:15px;"> <i class="fa fa-chevron-left"></i></button>
              <span><%= @current_date.strftime("%b %d, %Y") %></span>
              <button class="btn btn-success  navbar-btn navbar-btn-hover" id="btn-dashboard-frontdate" style="padding-left: 8.4px !important;padding-right: 8.4px !important;border: none;margin-top:10px;padding-left:15px;"> <i class="fa fa-chevron-right"></i></button>
            </div>
            <div class="col-xs-1 text-right" style="border-right:1px solid #aaa;">
              <input type="text" id="dashboard-datepicker-inline" style="display: none;">
              <!-- Logic in admission_management.js.erb -->
            </div>
            <div class="col-xs-2 col-xs-3-shared">
              <span style="font-size:10px;">Facility:</span>
              <% fac_array = current_user.facilities.order('name ASC').where(is_active: true).map { |p| [ p.name, p.id.to_s ] } %>
              <% if current_user.facilities.where(is_active: true).count > 1 %>
                <% fac_array =  [["All Facility", "0"]] + fac_array %>
              <% end %>
              <%= select_tag "facility_dropdown", options_for_select(fac_array,selected: @dashboard_settings.try(:default_facility)), { :class=> "facility-dropdown form-control" } %>
            </div>
            <div class="col-xs-1 col-xs-3-shared">
              <span style="font-size:10px;">Users:</span>
              <%= select_tag "user_dropdown", options_for_select(""), { :class=> "user-dropdown form-control" } %>
            </div>
            <div class="col-xs-1">
              <span style="font-size:10px;">Show:</span>
              <% show_array = [[10,10],[20,20],[30,30],[40,40],[50,50],[100,100]] %>
              <%= select_tag "show_dropdown", options_for_select(show_array,selected: @dashboard_settings.try(:show)), { :class=> "show-dropdown form-control" } %>
            </div>
            <div class="col-xs-1">
              <span style="font-size:10px;">Sort:</span>
              <% sort_array = [["Desc",":desc"],["Asc",":asc"]] %>
              <%= select_tag "sort_dropdown", options_for_select(sort_array,selected: @dashboard_settings.try(:sort)), { :class=> "sort-dropdown form-control" } %>
            </div>
          </div>
        </nav>
      </div>
    </div><!-- #toolbar_area -->
    <div class="dashboard-content">
      <div class="loading_dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  <% else %>
    <div class="dashboard-content">
      <div class="text-center" style="font-size: large">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <span></span>
        <span>Welcome back <strong><%= current_user.try(:fullname) %></strong>.</span>
        <span></span>
      </div>
    </div>
  <% end %>
</div>
<div class="col-xs-3 main-others" style="background:#fff;">
  <div id="toolbar_area_others">
    <div id="toolbar">
      <nav class="navbar navbar-secondary navbar-inverse navbar-fixed-top" style="margin-top: 50px; left: auto; right: auto; width: 25%;z-index:auto;">
        <div class="container-fluid nav-dashboard">
          <div class="col-md-6">
            <h4 style="margin:13px 0 0 0;font-size:18px;">Others</h4>
          </div>
        </div>
      </nav>
    </div>
  </div><!-- #toolbar_area -->
  <div class="other-content">
    <%= render partial: 'sidebar_content.html.erb' %>
  </div>
</div>


<script type="text/javascript">
  <%= render partial: 'index.js.erb' %>
</script>