
<div class="dashboard-panel">
  <div class="row" style="margin:10px;">
    <div class="col-md-6">
      <div class="panel panel-success" style="padding:0px;box-shadow:0 0 5px;">
        <%= render partial: '/dashboard/appointment/appointment_panel.html.erb' %>
      </div><!-- panel -->
      <br>
      <div class="panel panel-success" style="padding:0px;box-shadow:0 0 5px;">
        <%= render partial: '/dashboard/admission/admission_panel.html.erb' %>
      </div><!-- panel -->
      <br>
      <div class="panel panel-success" style="padding:0px;box-shadow:0 0 5px;">
        <%= render partial: '/dashboard/discharge/discharge_panel.html.erb' %>
      </div><!-- panel -->
    </div>
    <div class="col-md-6">
      <div class="panel panel-success" style="padding:0px;box-shadow:0 0 5px;">
        <%= render partial: '/dashboard/ot/ot_panel.html.erb' %>
      </div><!-- panel -->
      <br>
      <div class="panel panel-success" style="padding:0px;box-shadow:0 0 5px;">
        <%= render partial: '/dashboard/admitted/admitted_panel.html.erb' %>
      </div><!-- panel -->
    </div>
   </div>
</div>