<div class="modal-dialog" style="width:80%;">
  <div class="modal-content">
    <div class="modal-header">
      <div class="pull-right">
        <button aria-hidden="true" class="btn btn-default btn-xs" data-dismiss="modal">Close</button>
      </div>
      <div class="text-center">
        <b style="font-size: 18px;"> <%= @speciality_folder_name.split("_").join(" ").upcase %> CONSOLIDATE  REPORTS</b>
      </div>
    </div>

    <div class="modal-body">
      <div class="row">
        <%if @patient_timeline_dates.blank? && @patient_legacy_appointment.blank? && @camp_patient_data.blank?%>
          <h3 class="text-center" style="padding-top:30px;">No Reports Found</h3>
        <%else%>
          <div class="col-md-6">
            <div class="col-md-1" style="padding: 6px" >Filter:</div>
            <div class="col-md-4" >
              <select class="select-template form-control p7_10">
                <%@drop_down_filter.each do |template|%>
                  <option value="<%=template['templatename']%>" ><%=template['displayname'].upcase%></option>
                <%end%>
              </select>
            </div>
          </div>
          <div class="col-md-12" id="consolidate-report-data">
            <%= render partial:'consolidate_report_date'%>  
          </div>

          <% if @camp_patient_data.present? %>
            <div class="col-md-12" style="padding-left: 2px; padding-right: 0px;">
              <div class="panel panel-success">
                <div class="panel-heading" style="padding: 2px;">
                  <h4 class="panel-title text-center" style="color:#FFF;">Patient Camp Details</h4>
                </div>
                <%= render partial: "patients/partials/patient_camp_details_tbody" %>
              </div>
            </div>
          <% end %>
          <% unless @patient_legacy_appointment.count < 1 %>
              <div class="col-md-12" style="padding-left: 2px; padding-right: 0px;">
                <div class="panel panel-success">
                  <div class="panel-heading" style="padding: 2px;">
                    <h4 class="panel-title text-center" style="color:#FFF;">Legacy Clinical History / Migrated Data(Read Only)</h4>
                  </div>
                  <!--<div class="table-responsive patient-legacy-summary-div">-->
                    <!--<table class="table table-hover patient-legacy-table patient-legacy-summary-table" id="patient-legacy-table">-->
                      <!--<thead>-->
                      <!--<tr class="active">-->
                        <!--<th style="padding-top:1px;padding-bottom:1px;width:25%;">Date</th>-->
                        <!--<th style="padding-top:1px;padding-bottom:1px;width:25%;">Type</th>-->
                        <!--<th style="padding-top:1px;padding-bottom:1px;width:25%;">Action</th>-->
                      <!--</tr>-->
                      <!--</thead>-->
                      <!--<tbody class="patient-summary-legacyappointmentnote-tbody">-->
                      <%= render partial: "patients/partials/patient_legacy_tbody", locals: { patient: @patient } %>

                      <%= render partial: "patients/partials/patient_legacy_appointment_tbody", locals: { patient: @patient } %>
                      <!--</tbody>-->
                    <!--</table>-->
                  <!--</div>-->
                </div>
              </div>
          <%end%>

        <%end%>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .paper_view {
    box-shadow: 0 0 6px #ccc;
    padding: 0 0.400000in 0 0.550000in;
    font-family: 'Open Sans';
    background-color: #fff;
  }
  .modal-content {
    width: 102%;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 7px 7px 0 rgba(0,0,0,0.4);
    -webkit-box-shadow: 7px 7px 0 rgba(0,0,0,0.4);
    box-shadow: 7px 7px 0 rgba(0,0,0,0.4);
    border: 0;
  }
  .nav-pills > li.active > a {
  font: bold 15px arial;
  padding: 10px;
  margin: 10px;
  }

</style>
<script type="text/javascript">
  $('.select-template').on('change',function(){
    var template_type = $(this).val()
    var patient_id = '<%= @patient.id%>'
    $.ajax({
      url: '/consolidate_reports/template_filter',
      type: "GET",
      data: {
        template_type: template_type,
        patient_id: patient_id,
        specialty_id: <%= params[:specialty_id] %>
      }
    });
  })
</script>