<div class="tab-content">
  <%@ipd_record.each do |record|%>
    <%@ipdrecord = record%>
    <% @specialty_folder_name = TemplatesHelper.get_speciality_folder_name(record.specialty_id) %>
    <%@clinical_note = record.clinical_note%>
    <%@operative_notes = record.operative_notes%>
    <%@discharge_note = record.discharge_note%>
    <%@admission = Admission.find_by(id: record.admission_id)%>
    <%@case_sheet = CaseSheet.find_by(id: record.case_sheet_id)%>
    <%@tpa = @admission %>
    <%@procedure = record.procedure.where(procedurestage: "P") %>
    <%@diagnosislist = record.diagnosislist %>
    <h3 class="text-center" style="border-bottom: 2px solid #000;border-top: 2px solid #000; padding: 2px;">
      <%if @templatetype == 'Clinical Note'%>
        <%= @templatetype.try(:upcase) %>
        <span style="font-size: 13px;">
        created <%= "by " + @ipdrecord.consultant_name.to_s if @ipdrecord.consultant_name.present?%>
        on <%= @ipdrecord.created_at.strftime("%d %b %y at %I:%M %p")%>
        </span >
      <%elsif @templatetype == 'Operative Note' %>
        <%= @templatetype.try(:upcase) %>
        <span style="font-size: 13px;">
        created <%= "by " + @ipdrecord.consultant_name.to_s if @ipdrecord.consultant_name.present?%>
        on <%= @ipdrecord.created_at.strftime("%d %b %y at %I:%M %p")%>
        </span >
      <%else%>
        <%= @templatetype.try(:upcase) %>
        <span style="font-size: 13px;">
        created <%= "by " + @ipdrecord.consultant_name.to_s if @ipdrecord.consultant_name.present?%>
        on <%= @ipdrecord.created_at.strftime("%d %b %y at %I:%M %p")%>
        </span >
      <%end%>  
    </h3>
    <%if @templatetype == 'Clinical Note'%>
      <div class="ipdsummary">
        <div class="col-md-12">
          <% if @clinical_note %>
            <div class="text-left">
              <% @print = "inpatient_ipd_record_clinical_note_" + @specialty_folder_name + "_note_print_path(id: @clinical_note.id, " + @specialty_folder_name + "_note_id: @clinical_note.id, admission_id: @admission.id.to_s, view: 'Summary', format: 'pdf')" %>
              <%= link_to eval(@print), :class => "btn btn-primary btn-xs", :target => "_blank", :data => {method: :get} do %><i class="fa fa-print"></i> Summary <% end %>
              <% @print = "inpatient_ipd_record_clinical_note_" + @specialty_folder_name + "_note_print_path(id: @clinical_note.id, " + @specialty_folder_name + "_note_id: @clinical_note.id, admission_id: @admission.id.to_s, view: 'Note', format: 'pdf')" %>
              <%= link_to eval(@print), :class => "btn btn-primary btn-xs", :target => "_blank", :data => {method: :get} do %><i class="fa fa-print"></i> Note <% end %>
            </div>
          <% end %>
        </div>
        <% if @clinical_note %>
          <div class="paper_view">
            <h4 class="text-center" style="padding-top:10px;text-transform: uppercase;">Admission Summary</h4>
            <%= render partial: "inpatient/ipd_record/clinical_note/" + @specialty_folder_name + "_notes/view_body", locals: {view: "Summary", mail_job:false} %>
          </div>
          <div class="paper_view">
            <h4 class="text-center" style="padding-top:10px;text-transform: uppercase;">Admission Note</h4>
            <%= render partial: "inpatient/ipd_record/clinical_note/" + @specialty_folder_name + "_notes/view_body", locals: {view: "Note", mail_job:false} %>
          </div>
        <% else %>
          <h3 class="text-center" style="padding-top:30px;">No Admission Note/Summary</h3>
        <% end %>
      </div>
    <%elsif @templatetype == 'Operative Note'%>
      <%if @operative_notes.count > 0 %>
        <%@operative_notes.each do |operative|%>
          <div class="ipdsummary">
            <div class="col-md-12">
              <% if operative %>
                <div class="text-left">
                <% @print = "inpatient_ipd_record_operative_note_" + @specialty_folder_name + "_note_print_path(id: operative.id, " + @specialty_folder_name + "_note_id: operative, admission_id: @admission.id.to_s, view: 'Summary', format: 'pdf')" %>
                <%= link_to eval(@print), :class => "btn btn-primary btn-xs", :target => "_blank", :data => {method: :get} do %><i class="fa fa-print"></i> Summary <% end %>
                <% @print = "inpatient_ipd_record_operative_note_" + @specialty_folder_name + "_note_print_path(id: operative, " + @specialty_folder_name + "_note_id: operative.id, admission_id: @admission.id.to_s, view: 'Note', format: 'pdf')" %>
                <%= link_to eval(@print), :class => "btn btn-primary btn-xs", :target => "_blank", :data => {method: :get} do %><i class="fa fa-print"></i> Note <% end %>
              </div>
              <% end %>
            </div>
            <% if operative %>
              <div class="paper_view">
                  <h4 class="text-center" style="padding-top:10px;text-transform: uppercase;">Operative Summary</h4>
                  <%= render partial: "inpatient/ipd_record/operative_note/" + @specialty_folder_name + "_notes/view_body", locals: {view: "Summary",operative: operative, mail_job: false} %>
                </div>
                <div class="paper_view">
                  <h4 class="text-center" style="padding-top:10px;text-transform: uppercase;">Operative Note</h4>
                  <%= render partial: "inpatient/ipd_record/operative_note/" + @specialty_folder_name + "_notes/view_body", locals: {view: "Note",operative: operative, mail_job: false} %>
                </div>
            <% else %>
            <h3 class="text-center" style="padding-top:30px;">No Admission Note/Summary</h3>
            <% end %>
          </div>
        <%end%>
      <%else%>
        <h3 class="text-center" style="padding-top:30px;">No Operative Note/Summary</h3>
      <%end%>
    <%elsif @templatetype == 'Discharge Note'%>
      <div class="ipdsummary">
        <div class="col-md-12">
          <% if @discharge_note %>
            <div class="text-left">
              <% @print = "inpatient_ipd_record_discharge_note_" + @specialty_folder_name + "_note_print_path(id: @discharge_note.id, " +@specialty_folder_name + "_note_id: @discharge_note.id, admission_id: @admission.id.to_s, view: 'Summary', format: 'pdf')" %>
              <%= link_to eval(@print), :class => "btn btn-primary btn-xs", :target => "_blank", :data => {method: :get} do %><i class="fa fa-print"></i> Summary <% end %>
              <% @print = "inpatient_ipd_record_discharge_note_" +@specialty_folder_name + "_note_print_path(id: @discharge_note.id, " +@specialty_folder_name + "_note_id: @discharge_note.id, admission_id: @admission.id.to_s, view: 'Note', format: 'pdf')" %>
              <%= link_to eval(@print), :class => "btn btn-primary btn-xs", :target => "_blank", :data => {method: :get} do %><i class="fa fa-print"></i> Note <% end %>
            </div>
            <% end %>
          </div>
        <% if @discharge_note %>
          <div class="paper_view">
            <h4 class="text-center" style="padding-top:10px;text-transform: uppercase;">Discharge Summary</h4>
            <%= render partial: "inpatient/ipd_record/discharge_note/" + @specialty_folder_name + "_notes/view_body", locals: {view: "Summary", mail_job:false} %>
          </div>
          <div class="paper_view">
            <h4 class="text-center" style="padding-top:10px;text-transform: uppercase;">Discharge Note</h4>
            <%= render partial: "inpatient/ipd_record/discharge_note/" + @specialty_folder_name + "_notes/view_body", locals: {view: "Note", mail_job:false} %>
          </div>
        <% else %>
          <h3 class="text-center" style="padding-top:30px;">No Discharge Note/Summary</h3>
        <% end %>
      </div>
    <%end%>
  <%end%>
</div>