<div class="col-md-2">
  <ul class="nav nav-pills nav-stacked">
    <%@patient_timeline_dates.each do |date,value|%>
      <li><a href="#date_<%= date%>" class='tablinks' onclick="sideTab(event,'date')" data-toggle="tab" style="padding:10px;"><%= date.strftime("%d %b %Y") %>  (<%=value.count%>)</a></li>
    <%end%>
  </ul>
</div>

<div class="col-md-10">
  <div class="tab-content">
    <%@patient_timeline_dates.each do |date, value|%>
      <div class="tab-pane" id="date_<%= date %>">
        <div class="col-md-12">
          <% value.each do |report| %>
            <% if report.primary_model == 'OpdRecord'%>
              <%= render partial:'opd_consolidate_report_view',locals: {report: report}%>
            <%else%>
              <%= render partial:'ipd_consolidate_report_view',locals: {report: report} %>
            <%end%>
          <%end%>
        </div>
      </div>
    <%end%>
  </div>
</div>

<script type="text/javascript">
  document.getElementsByClassName('tablinks')[0].click()
  function sideTab(evt, dte) {
    var i, tablinks;      
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
  }
</script>