<!-- Counter Logic -->
<% inventory_counter = 0 %>
<% table_counter = 0 %>
<% if ipdrecord.irrigation_solution.present? || ipdrecord.sutures.present? || ipdrecord.viscoelastic.present? || ipdrecord.trypan_blue.present? || ipdrecord.other_consumables.present? %>
  <% inventory_counter = inventory_counter + 1 %>
  <% table_counter = table_counter + 1 %>
<% end %>
<% if ipdrecord.implants.present? || ipdrecord.power_inventory.present? %>
  <% inventory_counter = inventory_counter + 1 %>
<% end %>

<% if inventory_counter > 0 %>
  <div class="row mb10">
    <div class="col-md-12">
      <div class="row">
        <strong>INVENTORY :</strong>
        <div class="summary-line-border"></div>
      </div>
      <% if table_counter > 0 %>
        <div class="row mt10">
          <div class="col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th width="25%"><b>Consumables</b></th>
                  <th width="50%"><b>Name</b></th>
                  <th width="25%"><b>Batch No.</b></th>
                </tr>
              </thead>
              <tbody>
                <% if ipdrecord.irrigation_solution.present? %>
                  <tr>
                    <td>Irrigation Solution :</td>
                    <td><%= ipdrecord.irrigation_solution %></td>
                    <td><%= ipdrecord.irrigation_solution_batch_no %></td>
                  </tr>
                <% end %>
                <% if ipdrecord.sutures.present? %>
                  <tr>
                    <td>Sutures :</td>
                    <td><%= ipdrecord.sutures %></td>
                    <td><%= ipdrecord.sutures_batch_no %></td>
                  </tr>
                <% end %>
                <% if ipdrecord.viscoelastic.present? %>
                  <tr>
                    <td>Viscoelastic :</td>
                    <td><%= ipdrecord.viscoelastic %></td>
                    <td><%= ipdrecord.viscoelastic_batch_no %></td>
                  </tr>
                <% end %>
                <% if ipdrecord.trypan_blue.present? %>
                  <tr>
                    <td>Trypan Blue :</td>
                    <td><%= ipdrecord.trypan_blue %></td>
                    <td><%= ipdrecord.trypan_blue_batch_no %></td>
                  </tr>
                <% end %>
                <% if ipdrecord.other_consumables.present? %>
                  <tr>
                    <td>Other Consumables :</td>
                    <td><%= ipdrecord.other_consumables %></td>
                    <td><%= ipdrecord.other_consumables_batch_no %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
      <div class="row">
        <% if ipdrecord.implants.present? %>
          <div class="col-md-6">
            <b>Implants :</b> <%= ipdrecord.implants %>
          </div>
        <% end %>
        <% if ipdrecord.power_inventory.present? %>
        <div class="col-md-6">
            <b>Power :</b> <%= ipdrecord.power_inventory %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<style type="text/css">
  .table thead tr th, .table tbody tr td {
    padding: 3px;
  }
</style>