<div class="modal-dialog modal-lg" style="font-size: 12px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center"><%=@inventory_item.description%></h4>
      </div>
      <div class="modal-body" style=" ">
        <div class="row">
          <div class="col-lg-6">
            <h4 style="margin-top:0;">Item Details&nbsp;
              <% if @current_inventory == '334046963' %>
                  <a href="/inventory/items/<%=@inventory_item.id%>/edit" data-remote="true" class="btn btn-default btn-xs"> <i class="fa fa-pencil-alt"></i>&nbsp;Edit Details</a>
              <% end %>
            </h4>
          </div>
          <div class="col-lg-6 text-right">
            <% if @current_inventory == '334046963' %>
                <input class="" placeholder="Type item code" id="input_remove_confirmation" style="display: none;">

                <button class="btn btn-xs btn-danger" data-model="<%= @inventory_item.id %>" id="btn_remove_item_confirm" title="Confirm" data-content="Please type item code to confirm." data-placement="bottom">
                  <i class="fa fa-trash-alt"></i> &nbsp; Delete Item
                </button>

                <a href="/inventory/items/<%=@inventory_item.id%>" data-method="delete" data-remote="true" style="display: none" class="btn btn-danger btn-xs" id="verified_item_remove"> <i class="fa fa-trash-alt"></i>&nbsp;Confirm Delete</a>
            <% end %>
          </div>
        </div>
    
        <div id="item_information" class="row">
          
          <ul id="lots" style="list-style-type: none;">
            
              
            <div class="row" style="margin-bottom: 5px;">
              <div class="col-lg-3 text-right">
                <span class="item_code">Item Code:</span>
              </div>
              <div class="col-lg-3" id="details-item-code">
                <strong class="item_code item_code_value"><%= @inventory_item.item_code %></strong>
              </div>

              <div class="col-lg-3 text-right">
                Description:
              </div>
              <div class="col-lg-3">
                <strong><%= @inventory_item.description %></strong>
              </div>
            </div>
            <div class="row" style="margin-bottom: 5px;">
              <div class="col-lg-3 text-right">
                Barcode:
              </div>
              <div class="col-lg-3">
                <strong><%= @inventory_item.barcode %></strong>
              </div>

              <div class="col-lg-3 text-right">
                Manufacturer:
              </div>
              <div class="col-lg-3">
                <strong><%= @inventory_item.manufacturer %></strong>
              </div>
            </div>
            <div class="row" style="margin-bottom: 5px;">
              <div class="col-lg-3 text-right">
                Condition:
              </div>
              <div class="col-lg-3">
                <strong><%= @inventory_item.condition %></strong>
              </div>
              
            </div>

            <div class="row" style="margin-bottom: 5px;">
              <div class="col-lg-3 text-right">
                Last Mantained On:
              </div>
              <div class="col-lg-3">
                <strong><%= @inventory_item.maintained_on %></strong>
              </div>

              <div class="col-lg-3 text-right">
                Maintanance Due:
              </div>
              <div class="col-lg-3">
                <strong><%= @inventory_item.maintainance_due %></strong>
              </div>
            </div>

                    
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->

<style type="text/css">
  .table-add-item td{
    padding: 5px 5px 0;
  }
</style>

<script type="text/javascript">
  $('#btn_remove_item_confirm').on('click', function(){
    $('#input_remove_confirmation').show()
    $('#verified_item_remove').show()
    $(this).hide()
    $('#verified_item_remove').attr('disabled','disabled')

    $(".item_code").addClass("glow-animation")
  })

  $('#input_remove_confirmation').on('keyup', function(){
    if ($(".item_code_value").text().trim() == $(this).val()){
      $('#verified_item_remove').removeAttr('disabled')
    } else
    {
      $('#verified_item_remove').attr('disabled', 'disabled')
    }

  })

  // $('.btn_remove_item_confirm').on('click', function(){
  //   $.ajax({
  //     type: "GET",
  //     data: {
  //       current_date:  $('#current_date').text().trim()
  //     },
  //     url: "/prescriptions/optical_refresh",
  //   })
  // })
</script>