<div class="modal-dialog modal-lg" style="font-size: 12px; width:90%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center"><%=@inventory_item.description%></h4>
      </div>
      <div class="modal-body" style=" ">
        <div class="row">
          <div class="col-lg-6">
            <h4 style="margin-top:0;">Item Details&nbsp;
                <% if @current_inventory == '334046963' %>
                 <a href="/inventory/items/<%=@inventory_item.id%>/edit" data-remote="true" class="btn btn-default btn-xs"> <i class="fa fa-pencil-alt"></i>&nbsp;Edit Details</a>
              <% end %>
            </h4>
          </div>
          <div class="col-lg-6 text-right">
            <% if @current_inventory == '334046963' %>
              <input class="" placeholder="Type item code" id="input_remove_confirmation" style="display: none;">

              <button class="btn btn-xs btn-danger" data-model="<%= @inventory_item.id %>" id="btn_remove_item_confirm" title="Confirm" data-content="Please type item code to confirm." data-placement="bottom">
                <i class="fa fa-trash-alt"></i> &nbsp; Delete Item
              </button>

              <a href="/inventory/items/<%=@inventory_item.id%>" data-method="delete" data-remote="true" style="display: none" class="btn btn-danger btn-xs" id="verified_item_remove"> <i class="fa fa-trash-alt"></i>&nbsp;Confirm Delete</a>
            <% end %>
          </div>
        </div>
    
        <div id="item_information" class="row">
          
          <ul id="lots" style="list-style-type: none;">
            
              
              <div class="row" style="margin-bottom: 5px;">
                <div class="col-lg-2 text-right">
                  <span class="item_code">Item Code:</span>
                </div>
                <div class="col-lg-2" id="details-item-code">
                  <strong class="item_code item_code_value"><%= @inventory_item.item_code %></strong>
                </div>

                <div class="col-lg-2 text-right">
                  Description:
                </div>
                <div class="col-lg-2">
                  <strong><%= @inventory_item.description %></strong>
                </div>

                <div class="col-lg-2 text-right">
                  Dispensing Unit:
                </div>
                <div class="col-lg-2">
                  <strong><%= @inventory_item.dispensing_unit %></strong>
                </div>
              </div>
              <div class="row" style="margin-bottom: 5px;">
                <div class="col-lg-2 text-right">
                  Barcode:
                </div>
                <div class="col-lg-2">
                  <strong><%= @inventory_item.barcode %></strong>
                </div>


                <div class="col-lg-2 text-right">
                  Quantity:
                </div>
                <div class="col-lg-2">
                  <strong><%= @inventory_item.sub_units %>/<%= @inventory_item.packaging_type %></strong>
                </div>
                    

                <div class="col-lg-2 text-right">
                  Dosage:
                </div>
                <div class="col-lg-2">
                  <strong><%= @inventory_item.dosage %></strong>
                </div>
              </div>
              <div class="row" style="margin-bottom: 5px;">
                <div class="col-lg-2 text-right">
                  Manufacturer:
                </div>
                <div class="col-lg-2">
                  <strong><%= @inventory_item.manufacturer %></strong>
                </div>

                <div class="col-lg-2 text-right">
                  Stock:
                </div>
                <div class="col-lg-2">
                  <strong><%= @inventory_item.stock %></strong>
                </div>

                <div class="col-lg-2 text-right">
                  Threshold:
                </div>
                <div class="col-lg-2">
                  <strong><%= @inventory_item.threshold %></strong>
                </div>
                
              </div>
            
                    
          </ul>

          <div class="col-md-12 add_item_lot" style="border-bottom: 1px solid #dfdfdf;padding-bottom: 10px">
            <h4>Lots <% if @current_inventory == '334046963' %><a href="/inventory/item/lots/new?item_id=<%=@inventory_item.id%>" data-remote="true" class="btn btn-primary btn-xs"> Add</a><%end%>
            </h4>
          </div>
          <ul style="list-style-type: none; font-weight: bold; text-decoration: underline; border-bottom: 1px solid #dfdfdf;">
            <li>
              <div class="row">
                <div class="col-lg-1">
                  Sl. No.
                </div>
                <div class="col-lg-2">
                  Batch No.
                </div>

                <div class="col-lg-2">
                  Vendor
                </div>

                <div class="col-lg-2">
                  Expiry
                </div>

                <div class="col-lg-1">
                  Stock
                </div>

                <div class="col-lg-1">
                  List Price
                </div>
                <div class="col-lg-1">
                  Mark Up
                </div>
                <div class="col-lg-1">
                  MRP
                </div>
                <div class="col-lg-1">

                </div>
              </div>
            </li>
          </ul>
          <ul style="list-style-type: none;">
          <% @inventory_item.lots.where('stock' => {'$gte' => 1},is_deleted: false).each_with_index do |lot,index| %>
            <li>
              <div class="row">

                <div class="col-lg-1">
                  <%= index+1 %>
                </div>
                <div class="col-lg-2">
                  <%= lot.batch_no %>
                  <% if lot.self_batched %>
                    &nbsp;<i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="System created batch number!" style="cursor: pointer;"></i>
                  <% end %>
                </div>

                <div class="col-lg-2">
                  <%= lot.vendor %>
                </div>

                <div class="col-lg-2">
                  <%= lot.expiry %>
                </div>

                <div class="col-lg-1">
                  <%= lot.stock %>
                </div>

                <div class="col-lg-1">
                  <%= lot.list_price.round(2)%>
                </div>
                <div class="col-lg-1">
                  <%= lot.mark_up %>
                </div>
                <div class="col-lg-1">
                  <%= lot.mrp.round(2) %>
                </div>

                <div class="col-lg-1">
                  <% if @current_inventory == '334046963' %>
                  <a href="/inventory/item/lots/<%=lot.id%>" data-method="delete" data-remote="true" style="display: none" class="btn btn-danger btn-xs verified_lot_remove" id="" title="Are you sure ?"> <i class="fa fa-trash-alt"></i>&nbsp;Confirm</a>

                  <button class="btn btn-xs btn-danger btn_remove_lot_confirm" data-model="<%= lot.id %>" id="" data-content="Please type Batch code to confirm." data-placement="bottom">
                    <i class="fa fa-trash-alt"></i>
                  </button>
                  <%end%>
                </div>
              </div>
            </li>

          <% end %>
          </ul>


        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->

<style type="text/css">
  .table-add-item td{
    padding: 5px 5px 0;
  }
</style>

<script type="text/javascript">
  $('#btn_remove_item_confirm').on('click', function(){
    $('#input_remove_confirmation').show()
    $('#verified_item_remove').show()
    $(this).hide()
    $('#verified_item_remove').attr('disabled','disabled')
    
    $(".item_code").addClass("glow-animation")
  })

  $('#input_remove_confirmation').on('keyup', function(){
    if ($(".item_code_value").text().trim() == $(this).val()){
      $('#verified_item_remove').removeAttr('disabled')
    } else
    {
      $('#verified_item_remove').attr('disabled', 'disabled')
    }
    
  })

  $('.btn_remove_lot_confirm').on('click', function(){
    $('.verified_lot_remove').hide()
    $('.btn_remove_lot_confirm').show()
    $(this).siblings('.verified_lot_remove').show()
    $(this).hide()
  })

  // $('.btn_remove_item_confirm').on('click', function(){
  //   $.ajax({
  //     type: "GET",
  //     data: {
  //       current_date:  $('#current_date').text().trim()
  //     },
  //     url: "/prescriptions/optical_refresh",
  //   }) 
  // })
</script>