<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title"><%= params[:flag].split("_").map{ |ele| ele.capitalize }.join(' ') %> Custom Print Settings </h4>
    </div>

    <%= form_tag "/custom_template_headers/#{@organisation_setting.id}", method: "patch", validate: true, remote: true, id: 'custom-template-header-form', class: "custom-template-header-form" do %>
      
      <%= hidden_field_tag 'setting_name', params[:setting_name] %>
      <%= hidden_field_tag 'setting_type', params[:setting_type] %>
      <%= hidden_field_tag 'flag', params[:flag] %>

      <div class="modal-body">
        <% if params[:setting_type] == 'invoices'%>
          <%= render partial: 'invoice_custom_header_title_form.html.erb' %>
        <% end %>
        <%= render partial: 'form.html.erb' %>
      </div>

      <div class="modal-footer">
        <div class="col-md-12">
          <div class="col-md-4">
            <div class="notify_area"></div>
          </div>
          <div class="col-md-8">
            <%= submit_tag "Save", class: "btn btn-success", id: 'save-custom-template-header', data: { 'disable-with': 'Please Wait...' } %>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<style type="text/css">
  div#header_titles_cash_header_title-error, div#header_titles_credit_header_title-error {
    position: relative;
    text-align: right;
  }
</style>