<div class="row mb10" style="background:#354670;color:#fff">
  <div class="col-md-12" style="margin: 9px;">
    <span class="heading"><b>TEMPLATE CUSTOM HEADER SETTINGS</b></span>
  </div>
</div>

<div class="row text-center">
  <div class="col-md-2"></div>
  <div class="col-md-8 parent-details-section">

    <div class="row departments" style="margin: 10px;">
      <div class="col-sm-3 button-section">
        <button class="opd-button btn btn-primary btn-sm department-button" id="opd-department-button" data-department='opd' style="width:125px;height:30px;">OPD</button>
      </div>
      <div class="col-sm-3 button-section">
        <button class="ipd-button btn btn-primary btn-sm department-button" id="ipd-department-button" data-department='ipd' style="width:125px;height:30px;">IPD</button>
      </div>
      <div class="col-sm-3 button-section">
        <button class="pharmacy-button btn btn-primary btn-sm department-button" id="pharmacy-department-button" data-department='pharmacy' style="width:125px;height:30px;">PHARMACY</button>
      </div>
      <div class="col-sm-3 button-section">
        <button class="optical-button btn btn-primary btn-sm department-button" id="optical-department-button" data-department='optical' style="width:125px;height:30px;">OPTICAL</button>
      </div>
    </div>
  </div>
</div>

<div class="row text-center">
  <div class="col-sm-1"></div>
  <div class="col-sm-10 child-details-section">
    <div class="details-section">
      <div class="opd-details-section">
        <div class="row" style="border-bottom: 2px #d1d8e1 solid;">
          <span style="text-decoration: underline;font-weight: bold;">OPD TEMPLATES SETTINGS</span>
          <%= link_to edit_custom_template_header_path(id: @organisation_setting.id, setting_name: 'opd_settings', setting_type: 'templates', flag: 'opd_templates'), title: 'Edit OPD TEMPLATES View', class: 'btn btn-danger opd-template-edit-btn btn-sm', style: 'float: right;margin-bottom: 4px;margin-top: -4px; border-radius: 50%;', id: 'edit-opd-template-view', :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#patient-custom-print-modal'} do %> <i class="fa fa-pencil-square-o"></i> <% end %>
        </div>

        <div class="opd-template-view" style="padding-top: 12px;">
          <div class="row">
            <% fields = @organisation_setting.custom_template_header_options[:opd_settings][:templates][0].select{ |key, value| value == true }  %>
            <% values = OrganisationSettingsHelper.get_data('opd_templates', fields) %>
            <% values.each_with_index do |(key, value), i| %>
              <div class="col-sm-5">
                <div class="row">
                  <div class="col-sm-5"><%= key %></div>
                  <div class="col-sm-2">-</div>
                  <div class="col-sm-5"><%= value %></div>
                </div>
              </div>
              <% if i % 2 == 0 %> <div class="col-sm-1"></div> <% end %>
            <% end %>
          </div>
        </div>

        <div class="row" style="border-bottom: 2px #d1d8e1 solid;padding-top: 48px;">
          <span style="text-decoration: underline;font-weight: bold;">OPD INVOICES SETTINGS</span>
          <%= link_to edit_custom_template_header_path(id: @organisation_setting.id, setting_name: 'opd_settings', setting_type: 'invoices', flag: 'opd_invoices'), title: 'Edit OPD INVOICES View', class: 'btn btn-danger opd-invoice-edit-btn btn-sm', style: 'float: right;margin-bottom: 4px;margin-top: -4px; border-radius: 50%;', id: 'edit-opd-invoices-view', :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#patient-custom-print-modal'} do %> <i class="fa fa-pencil-square-o"></i> <% end %>
        </div>

        <div class="opd-invoice-view" style="padding-top: 12px;padding-bottom: 19px;">
          <div class="row">
            <% fields = @organisation_setting.custom_template_header_options[:opd_settings][:invoices][0].select{ |key, value| value == true }  %>
            <% values = OrganisationSettingsHelper.get_data('opd_invoices', fields) %>
            <% values.each_with_index do |(key, value), i| %>
              <div class="col-sm-5">
                <div class="row">
                  <div class="col-sm-5"><%= key %></div>
                  <div class="col-sm-2">-</div>
                  <div class="col-sm-5"><%= value %></div>
                </div>
              </div>
              <% if i % 2 == 0 %> <div class="col-sm-1"></div> <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="ipd-details-section">
        <div class="row" style="border-bottom: 2px #d1d8e1 solid;">
          <span style="text-decoration: underline;font-weight: bold;">IPD TEMPLATES SETTINGS</span>
          <%= link_to edit_custom_template_header_path(id: @organisation_setting.id, setting_name: 'ipd_settings', setting_type: 'templates', flag: 'ipd_templates'), title: 'Edit IPD TEMPLATES View', class: 'btn btn-danger ipd-template-edit-btn btn-sm', style: 'float: right;margin-bottom: 4px;margin-top: -4px; border-radius: 50%;', id: 'edit-ipd-template-view', :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#patient-custom-print-modal'} do %> <i class="fa fa-pencil-square-o"></i> <% end %>
        </div>

        <div class="ipd-template-view" style="padding-top: 12px;">
          <div class="row">
            <% fields = @organisation_setting.custom_template_header_options[:ipd_settings][:templates][0].select{ |key, value| value == true }  %>
            <% values = OrganisationSettingsHelper.get_data('ipd_templates', fields) %>
            <% values.each_with_index do |(key, value), i| %>
              <div class="col-sm-5">
                <div class="row">
                  <div class="col-sm-5"><%= key %></div>
                  <div class="col-sm-2">-</div>
                  <div class="col-sm-5"><%= value %></div>
                </div>
              </div>
              <% if i % 2 == 0 %> <div class="col-sm-1"></div> <% end %>
            <% end %>
          </div>
        </div>

        <div class="row" style="border-bottom: 2px #d1d8e1 solid;padding-top: 48px;">
          <span style="text-decoration: underline;font-weight: bold;">IPD INVOICES SETTINGS</span>
          <%= link_to edit_custom_template_header_path(id: @organisation_setting.id, setting_name: 'ipd_settings', setting_type: 'invoices', flag: 'ipd_invoices'), title: 'Edit IPD INVOICES View', class: 'btn btn-danger ipd-invoice-edit-btn btn-sm', style: 'float: right;margin-bottom: 4px;margin-top: -4px; border-radius: 50%;', id: "edit-ipd-invoices-view", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#patient-custom-print-modal'} do %> <i class="fa fa-pencil-square-o"></i> <% end %>
        </div>

        <div class="ipd-invoice-view" style="padding-top: 12px;padding-bottom: 19px;">
          <div class="row">
            <% fields = @organisation_setting.custom_template_header_options[:ipd_settings][:invoices][0].select{ |key, value| value == true }  %>
            <% values = OrganisationSettingsHelper.get_data('ipd_invoices', fields) %>
            <% values.each_with_index do |(key, value), i| %>
              <div class="col-sm-5">
                <div class="row">
                  <div class="col-sm-5"><%= key %></div>
                  <div class="col-sm-2">-</div>
                  <div class="col-sm-5"><%= value %></div>
                </div>
              </div>
              <% if i % 2 == 0 %> <div class="col-sm-1"></div> <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="pharmacy-details-section">
        <div class="row" style="border-bottom: 2px #d1d8e1 solid;">
          <span style="text-decoration: underline;font-weight: bold;">PHARMACY INVOICES SETTINGS</span>
          <%= link_to edit_custom_template_header_path(id: @organisation_setting.id, setting_name: 'pharmacy_settings', setting_type: 'invoices', flag: 'pharmacy_invoices'), title: 'Edit PHARMACY INVOICES View', class: 'btn btn-danger pharmacy-invoice-edit-btn btn-sm', style: 'float: right;margin-bottom: 4px;margin-top: -4px; border-radius: 50%;', id: 'edit-pharmacy-invoices-view', :data => { :remote => true, 'toggle' =>  "modal", 'target' => '#patient-custom-print-modal'} do %> <i class="fa fa-pencil-square-o"></i> <% end %>
        </div>

        <div class="pharmacy-invoice-view" style="padding-top: 12px;padding-bottom: 19px;">
          <div class="row">
            <% fields = @organisation_setting.custom_template_header_options[:pharmacy_settings][:invoices][0].select{ |key, value| value == true }  %>
            <% values = OrganisationSettingsHelper.get_data('pharmacy_invoices', fields) %>
            <% values.each_with_index do |(key, value), i| %>
              <div class="col-sm-5">
                <div class="row">
                  <div class="col-sm-5"><%= key %></div>
                  <div class="col-sm-2">-</div>
                  <div class="col-sm-5"><%= value %></div>
                </div>
              </div>
              <% if i % 2 == 0 %> <div class="col-sm-1"></div> <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="optical-details-section">
      <!--  <div class="row" style="border-bottom: 2px #d1d8e1 solid;">
          <span style="text-decoration: underline;font-weight: bold;">OPTICAL ORDER SETTINGS</span>
          <%#= link_to edit_custom_template_header_path(id: @organisation_setting.id, setting_name: 'optical_settings', setting_type: 'templates', flag: 'optical_templates'), title: 'Edit OPTICAL TEMPLATES View', class: 'btn btn-danger optical-template-edit-btn btn-sm', style: 'float: right;margin-bottom: 4px;margin-top: -4px; border-radius: 50%;', id: 'edit-optical-template-view', :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#patient-custom-print-modal'} do %> <i class="fa fa-pencil-square-o"></i> <%# end %>
        </div>

        <div class="optical-template-view" style="padding-top: 12px;">
          <div class="row">
            <%# fields = @organisation_setting.custom_template_header_options[:optical_settings][:templates][0].select{ |key, value| value == true }  %>
            <%# values = OrganisationSettingsHelper.get_data('optical_templates', fields) %>
            <%# values.each_with_index do |(key, value), i| %>
              <div class="col-sm-5">
                <div class="row">
                  <div class="col-sm-5"><%#= key %></div>
                  <div class="col-sm-2">-</div>
                  <div class="col-sm-5"><%#= value %></div>
                </div>
              </div>
              <%# if i % 2 == 0 %> <div class="col-sm-1"></div> <%# end %>
            <%# end %>
          </div>
        </div> -->
        <div class="row" style="border-bottom: 2px #d1d8e1 solid;">
          <span style="text-decoration: underline;font-weight: bold;">OPTICAL INVOICES SETTINGS</span>
          <%= link_to edit_custom_template_header_path(id: @organisation_setting.id, setting_name: 'optical_settings', setting_type: 'invoices', flag: 'optical_invoices'), title: 'Edit OPTICAL INVOICES View', class: 'btn btn-danger optical-invoice-edit-btn btn-sm', style: 'float: right;margin-bottom: 4px;margin-top: -4px; border-radius: 50%;', id: 'edit-optical-invoices-view', :data => { :remote => true, 'toggle' =>  "modal", 'target' => '#patient-custom-print-modal'} do %> <i class="fa fa-pencil-square-o"></i> <% end %>
        </div>

        <div class="optical-invoice-view" style="padding-top: 12px;padding-bottom: 19px;">
          <div class="row">
            <% fields = @organisation_setting.custom_template_header_options[:optical_settings][:invoices][0].select{ |key, value| value == true }  %>
            <% values = OrganisationSettingsHelper.get_data('optical_invoices', fields) %>
            <% values.each_with_index do |(key, value), i| %>
              <div class="col-sm-5">
                <div class="row">
                  <div class="col-sm-5"><%= key %></div>
                  <div class="col-sm-2">-</div>
                  <div class="col-sm-5"><%= value %></div>
                </div>
              </div>
              <% if i % 2 == 0 %> <div class="col-sm-1"></div> <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row text-center">
  <span class="start-heading"><b>Click any Department to View Details</b></span>
</div>

<style type="text/css">
  .child-details-section{
    border-radius: 10px;
    display: none;
    border: 2px solid #357ebd;
    box-shadow: 2px 4px 12px grey;
  }

  .departments > .active::after {
    content:"\25bc";
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent transparent transparent transparent;
    position: absolute;
    color: #357ebd;
    left: 90px;
    bottom: -27px;
  }

  .details-section{
    padding: 15px;
  }

  .table-borderless > tbody > tr > td,
  .table-borderless > tbody > tr > th{
    border: none;
  }

  .start-heading{
    width: 400px;
    height: 100px;
    font-style: italic;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
</style>

<script type="text/javascript">
  $('.department-button').on('click', function(e) {
    e.preventDefault();
    var department_value = $(this).data('department')
    $('.start-heading').hide();

    $('.child-details-section').show();
    $('.details-section').children().hide();

    $('.'+ department_value + '-details-section').fadeIn()

    $('.button-section').removeClass('active')
    $(this).parent().addClass('active')
  })
</script>