<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<%= render partial: 'common_css_login.html.erb' %>
<div class="container-fluid main-sign-in">
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag "healthgraph_full.png", class: "foss_login" %>
    </div>
    <div class="col-sm-7 text-right text-forgot-password-div">
      <%= link_to password_resets_recover_path do %><b class="forgot-password-link">I forgot my password</b><% end %>
    </div>
    <div class="col-sm-1 text-right fa-forgot-password-div">
      <%= link_to password_resets_recover_path do %><i class="fa fa-question-circle forgot-password-circle"></i><% end %>
    </div>
  </div>

  <%= simple_form_for :session, url: users_login_path, :html => {:id => "signin-form"} do |f| %>
    <div class="row">
      <div class="col-sm-12 col-md-4 col-md-offset-4 login-form">
        <div class="account-wall row">
          <div class="col-md-10 col-md-offset-1">
            <%= image_tag "foss_health_logo.png", class: "foss_square img-responsive" %>
          </div>
          <% if !flash.empty? && flash[:notice].present?%>
            <div class="col-md-12 text-center" style="margin-top: 5px;">
              <span style="color:#f00;"><%= flash[:notice] %></span>
            </div>
          <% end %>
          <div class="col-md-10 col-md-offset-1" style="margin-top: 25px;">
            <div class="inner-addon left-addon">
              <i class="fa fa-user icon-addon"></i>
              <%= f.input_field :username, class: "form-control username", placeholder: "Username" %>
            </div>
          </div>
          <div class="col-md-10 col-md-offset-1" style="margin-top: 25px;">
            <div class="inner-addon left-addon">
              <i class="fa fa-lock icon-addon"></i>
              <%= f.input_field :password, class: "form-control password", placeholder: "Password" %>
            </div>
          </div>
          <div class="col-md-10 col-md-offset-1" style="margin-top: 20px;">
            <div class="inner-addon left-addon">
              <div class="g-recaptcha" style="transform:scale(0.8);transform-origin:0 0" data-sitekey="<%=@recaptcha_site_key%>"></div>
            </div>
          </div>
          <div class="col-md-8 col-md-offset-2 text-center" style="margin-top: 40px;">
            <%= f.button :submit, "LOGIN", class: "btn btn-info", id: "signinbutton", style: 'background: #2ebdfc;padding: 10px 50px;' %>
          </div>
          <div class="col-md-4 col-md-offset-4 text-center" style="margin-top: 25px;">
            <%= link_to users_signup_path, class: 'signup-link' do %><b class="ssignup-link">Sign up</b><% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-md-offset-4 show-loader" style="display: none;">
        <div id="center-loader">
          <div id="loader"></div>
          <div id="loader-text">Please wait while we work our MAGIC!!</div>
        </div>
      </div>
    </div>
  <% end %>

  <footer>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center" style="font-size: 12px;">
        <b style="color: #fbf9fd;"><a href='http://www.healthgraph.in/terms.html' target="_blank"> Terms &emsp;|&emsp;</a><a href="http://www.healthgraph.in/privacy_policy.html" target="_blank">Privacy</a></b><br>
        <b><i class="fa fa-copyright"></i> <%= Date.current.year %>. All Rights Reserved. HealthGraph India</b>
      </div>
    </div>
  </footer>
</div>

<script type="text/javascript">
  $("#signinbutton").on('click', function(){
    $('.show-loader').show()
    $('.login-form').hide()
  })
</script>

<style>
  /* Center the loader */
  #center-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
  }

  #loader-text {
    margin: 20px 0 0 -100px;
    width: 250px;
    height: 100px;
    color: #2ebdfc;
  }

  #loader {
    margin: 140px 0 0 -40px;
    width: 100px;
    height: 100px;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #2ebdfc;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }

  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }

  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
</style>
