<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<%= render partial: 'common_css_signup.html.erb' %>
<div class="container-fluid main-sign-up">
  <%= form_tag users_signup_path, method: "post", id: 'new-signup-form', multipart: true, class: "signup-form" do %>
    <!-- _id Fields -->
    <%= hidden_field_tag "user[_id]", BSON::ObjectId.new %>

    <!-- Integration Identifier -->
    <%= hidden_field_tag "user[integration_identifier]", BSON::ObjectId.new %>
    <%= hidden_field_tag "facility[integration_identifier]", BSON::ObjectId.new %>
    <%= hidden_field_tag "organisation[integration_identifier]", BSON::ObjectId.new %>

    <!-- User Hidden Field -->
    <%= hidden_field_tag "user[age]", '' %>
    <%= hidden_field_tag "user[user_selected_url]", '' %>

    <!-- Facility Hidden Field -->
    <%= hidden_field_tag "facility[clinical_workflow]", false %>

    <!-- Organisation Hidden Field -->
    <%= hidden_field_tag "organisation[type]", 'hospital' %>
    <%= hidden_field_tag "organisation[type_id]", '22232009' %>
    <%= hidden_field_tag "organisation[account_counter]", Date.current.strftime('%d%m%Y') + "1" %>
    <%= hidden_field_tag "organisation[account_expiry_date]", (Date.current + 30.days).strftime('%d/%m/%Y') %>
    <%= hidden_field_tag "organisation[onboarding_completed]", true %>

    <!-- LETTER HEAD CUSTOMISATION -->
    <%= hidden_field_tag "organisation[letter_head_customisations][header_height]", "3" %>
    <%= hidden_field_tag "organisation[letter_head_customisations][footer_height]", "0" %>
    <%= hidden_field_tag "organisation[letter_head_customisations][left_margin]", "1" %>
    <%= hidden_field_tag "organisation[letter_head_customisations][right_margin]", "1" %>
    <%= hidden_field_tag "organisation[letter_head_customisations][logo_location]", "left" %>
    <%= hidden_field_tag "organisation[letter_head_customisations][header_location]", "left" %>
    <%= hidden_field_tag "organisation[letter_head_customisations][right]", "<br>" %>
    <%= hidden_field_tag "organisation[letter_head_customisations][header]", "<br>" %>

    <div class="row signup-navbar">
      <% if !flash.empty? && flash[:notice].present?%>
        <div class="col-md-12 text-center" style="margin-top: 5px;">
          <span style="color:#f00;"><b><%= flash[:notice] %></b></span>
        </div>
      <% end %>
    </div>
    <div class="row signup-navbar">
      <div class="col-sm-3">
        <h3><%= link_to users_login_path do %><%= image_tag 'healthgraph_full.png', id: 'healthgraph-main-logo', style: 'height:27px;' %><% end %></h3>
      </div>
      <div class="col-sm-6 text-center">
        <h3 style="color: #424a56;"><%= image_tag 'foss_health_logo.png', id: 'foss-text-logo', style: 'height:38px;margin-top:-8px;' %>&nbsp;Signup Process</h3>
      </div>
      <div class="col-sm-3">
        <h3 style="font-size: 15px;margin-top: 10px;margin-left: 100px;">
          <span style="display: block;margin-bottom: 5px;"><i class="fa fa-envelope" style="font-weight: bolder;"></i>&nbsp;&nbsp;support@healthgraph.in</span>
          <span style="display: block;"><i class="fab fa-whatsapp" style="color: #34af23;font-weight: bolder;"></i>&nbsp;&nbsp;+91 797 598 9664</span>
        </h3>
      </div>
    </div>
    <div class="row account-wall">
      <div class="col-sm-5 onbooarding-instruction" style="overflow-y: auto;">
        <%= render partial: 'onboarding_info.html.erb' %>
      </div>
      <div class="col-sm-7 form-signup" style="overflow-y: auto;">
        <div class="row user-signup-fields">
          <%= render partial: 'sessions/forms/user_signup_form.html.erb' %>
        </div>
        <div class="row organisation-signup-fields">
          <%= render partial: 'sessions/forms/organisation_signup_form.html.erb' %>
        </div>
        <div class="row" style="margin-bottom: 5px;">
          <div class="col-sm-10">
            <div class="col-sm-12">
              <div class="row">
                <div class="g-recaptcha" style="transform:scale(0.8);transform-origin:0 0" data-sitekey="<%=@recaptcha_site_key%>"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer style="box-shadow: 0 0 15px 0 #aaa;margin-left: -15px;">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center" style="font-size: 12px;">
          <b style="color: #fbf9fd;"><a style="color: #3cc1ff;" href='http://www.healthgraph.in/terms.html' target="_blank"> Terms &emsp;|&emsp;</a><a style="color: #3cc1ff;" href="http://www.healthgraph.in/privacy_policy.html" target="_blank">Privacy</a></b><br>
          <b><i class="fa fa-copyright"></i> <%= Date.current.year %>. All Rights Reserved. HealthGraph India</b>
        </div>
        <div class="col-sm-3 text-right">
          <%= submit_tag 'SIGN UP & PROCEED', class: 'btn btn-success sign-up-btn', onclick: "new_organisation()" %>
        </div>
      </div>
    </footer>
  <% end %>
</div>

<script type="text/javascript">
  <%= render partial: 'signup.js.erb' %>
</script>