<div class="medication mb5" id="medication">
  <% if ipdrecord.has_treatmentmedication? %>
      <% medication_counter = ipdrecord.treatmentmedication.size %>
      <% if medication_counter > 0 %>
           <div class="row">
                <div class="col-md-12">
                  <table cellpadding="0" cellspacing="0" border="0" class="pcs-itemtable" style="max-width:100%;background-color:transparent;border-collapse:collapse;border-collapse: collapse;border-spacing: 0;width:100%;margin-top:5px;table-layout:fixed;border-right-color: transparent;">
                    <thead>
                    <tr>
                      <td class="pcs-itemtable-header" style="padding:5px 5px;word-wrap: break-word;width: 5%;text-align: center;">
                        #
                      </td>
                      <td class="pcs-itemtable-header" style="padding:5px 10px 5px 10px;word-wrap: break-word;width: 14%;">
                        Name
                      </td>
                      <td class="pcs-itemtable-header" style="padding:5px 10px 5px 5px;word-wrap: break-word;width: 10%;">
                        Qty
                      </td>
                      <td class="pcs-itemtable-header" style="padding:5px 10px 5px 5px;word-wrap: break-word;width: 18%;">
                        Frequency
                      </td>
                      <td class="pcs-itemtable-header" style="padding:5px 10px 5px 5px;word-wrap: break-word;width:14%;">
                        Duration
                      </td>
                      <td class="pcs-itemtable-header" style="padding:5px 10px 5px 5px;word-wrap: break-word;width:25%;">
                        Instructions
                      </td>
                    </tr>
                    </thead>
                    <tbody class="itemBody">
                        <% ipdrecord.treatmentmedication.each_with_index do |elem, i|  %>
                            <tr>
                              <td class="pcs-item-row" style="padding: 5px;word-wrap: break-word;text-align: center;" valign="top">
                                <%= (i.to_i + 1) %>.
                              </td>
                              <td class="pcs-item-row" style="padding: 5px" valign="top">
                                <%= elem.medicinename %>, <%= elem.medicinetype %>
                              </td>
                              <td class="pcs-item-row" style="padding: 5px;word-wrap: break-word;" valign="top">
                               <%= elem.medicinequantity %>
                              </td>
                              <td class="pcs-item-row" style="padding: 5px;word-wrap: break-word;" valign="top">
                                <% unless elem.medicinefrequency == "SOS" %>
                                  <%= ActionController::Base.helpers.pluralize(elem.medicinefrequency, ' time a day', ' times a day') %>
                                <% else %>
                                  <%= elem.medicinefrequency %>
                                <% end %>
                              </td>
                              <td class="pcs-item-row" style="padding: 5px;word-wrap: break-word;" valign="top">
                                <% if elem.medicinedurationoption == "D" %>
                                    <%= ActionController::Base.helpers.pluralize(elem.medicineduration, ' Day', ' Days') %>
                                <% elsif elem.medicinedurationoption == "W" %>
                                    <%= ActionController::Base.helpers.pluralize(elem.medicineduration, ' Week', ' Weeks') %>
                                <% elsif elem.medicinedurationoption == "M" %>
                                    <%= ActionController::Base.helpers.pluralize(elem.medicineduration, ' Month', ' Months') %>
                                <% elsif elem.medicinedurationoption == "F" %>
                                    Till next followup
                                <% end %>
                              </td>
                              <td class="pcs-item-row" style="padding: 5px;word-wrap: break-word;" valign="top">
                                <%= elem.medicineinstructions %>
                              </td>
                            </tr>
                        <% end %>
                    </tbody>
                  </table>
                </div>
            </div>
      <% end %>
  <% end %>
</div>