<div class="sessions-row">
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="row each-ckbox">
        <div class="col-md-10 mb10">
          <% Date::DAYNAMES.each do |day| %>
            <div class="ckbox ckbox-primary">
              <%= check_box_tag 'user_time_slot[0][ckbox_days][]', day, false, { id: "sessions_0_ckbox_days_#{day}", class: 'sessions_0_ckbox_days sessions_ckbox_days', 'data-day': day } %>
              <label for="sessions_0_ckbox_days_<%= day %>"><%= day %></label>
            </div>
          <% end %>
        </div>
        <div class="col-md-2 text-right">
          <button type="button" class="btn btn-danger btn-xs remove-slot-row hidden" id='sessions_0_remove'>Remove Timings</button>
        </div>
      </div>
      <div class="row">
        <%#= Note the BSON::ObjectId will overwrite from JS when added using the add more link %>
        <% shared_id = BSON::ObjectId.new %>
        <% 3.times do |i| %>
          <div class="col-md-4">
            <div class="each-session">
              <h4 class="text-center">
                <span>Session <%= i + 1 %></span>
                <button type="button" class="btn btn-link pull-right clear-selection" style="padding: 0px;">Clear</button>
              </h4>
              <div class="row">
                <%= hidden_field_tag "user_time_slot[sessions_attributes][#{i}][shared_id]", shared_id, class: 'sessions_shared_id' %>
                <div class="hidden-days">
                  <% Date::DAYNAMES.each do |day| %>
                    <%= check_box_tag "user_time_slot[sessions_attributes][#{i}][days][]", day, false, { class: "sessions_days_#{day}" } %>
                  <% end %>
                </div>
                <div class="col-md-6 mb10">
                  <b>Facility</b>
                  <%= select_tag "user_time_slot[sessions_attributes][#{i}][facility_id]", options_for_select(@facilities_array, ''), include_blank: true, class: "form-control p7_10 sessions_facility_id section-session-#{i}-facility_id" %>
                </div>
                <div class="col-md-6 mb10">
                  <b>Department</b>
                  <%= select_tag "user_time_slot[sessions_attributes][#{i}][department_id]", options_for_select([['OPD', '485396012'], ['IPD', '486546481']], ''), include_blank: true, class: "form-control p7_10 sessions_department_id section-session-#{i}-department_id" %>
                </div>
                <div class="col-md-6 mb10">
                  <b>Start Time</b>
                  <%= text_field_tag "user_time_slot[sessions_attributes][#{i}][start_time]", nil, class: "form-control p7_10 sessions_start_time section-session-#{i}-start_time", readonly: 'readonly', data: { provide: 'timepicker', 'minute-step': 5, 'show-inputs': false } %>
                </div>
                <div class="col-md-6 mb10">
                  <b>End Time</b>
                  <%= text_field_tag "user_time_slot[sessions_attributes][#{i}][end_time]", nil, class: "form-control p7_10 sessions_end_time section-session-#{i}-end_time", readonly: 'readonly', data: { provide: 'timepicker', 'minute-step': 5, 'show-inputs': false } %>
                </div>
                <div class="col-md-6 mb10">
                  <b>Slot Duration</b>
                  <%= number_field_tag "user_time_slot[sessions_attributes][#{i}][slot_duration]", nil, class: "form-control p7_10 sessions_slot_duration section-session-#{i}-slot_duration", min: 1, max: 120 %>
                </div>
                <div class="col-md-6 mb10">
                  <b>Time Duration</b>
                  <%= number_field_tag "user_time_slot[sessions_attributes][#{i}][time_duration]", nil, class: "form-control p7_10 sessions_time_duration section-session-#{i}-time_duration", min: 1, max: 120 %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
