<% if sessions.count > 0 %>
  <% sessions.includes(:facility).group_by(&:shared_id).each do |shared_id, sessions| %>
    <tr>
      <td class="text-center" colspan="3"><%= sessions[0]&.days&.join(' - ') %></td>
    </tr>
    <tr>
      <% sessions.each_with_index do |session, i| %>
        <td class="text-center">
          Session <%= i + 1 %><br>
          <%= session.facility.name %> - <%= session.department_name %><br>
          <%= session.start_time %> - <%= session.end_time %><br>
          <%= session.slot_duration %> Minutes - <%= session.time_duration %> Minutes
        </td>
      <% end %>
    </tr>
  <% end %>
<% end %>
