<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-lg">
  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">Edit Cash Register Template</h4>
	</div>
	<%= form_for(@cash_register_template,:html=>{:id=>'edit_cash_register'}, :remote=>true) do |f| %>
		<div class="modal-body form-bordered">
			<%= f.text_field :user_id,{:type => "hidden",:value=>@userid} %>
			<div class="row form-group">
				<div class="col-md-1"><%= f.label "Name :" %></div>
				<div class="col-md-3"><%= f.text_field :name,{:class => 'form-control',:value=>@cash_register_template[:name]} %></div>
			</div>
			<hr>
			<div class="cash_register_fields_group" style="padding-bottom:10px">
				<div class="row form-group">
						<div class="col-sm-4"> <b>Item</b> </div>
						<div class="col-sm-2"> <b>Unit Price</b></div>
						<div class="col-sm-2"> <b>Qty</b></div>
						<div class="col-sm-2"> <b>Total Price</b></div>

				</div>
				<% @total_rows = 0 
				@template_cash_register_details.each do |index,cash_register_detail| %>
					<div class="row form-group register_row">
						<div class="col-sm-4">
							<input class="form-control services-label-validation" id="cash_register_template_template_details_attributes_<%= index %>_label" name="cash_register_template[template_details][<%= index %>][label]" type="text" value="<%= cash_register_detail['label']%>">
						</div>
						<div class="col-sm-2">
							<input class="form-control services-unit-price-validation unit_price" id="cash_register_template_template_details_attributes_<%= index %>_unit_price" name="cash_register_template[template_details][<%= index %>][unit_price]" type="text" value="<%= cash_register_detail['unit_price']%>">
						</div>
						<div class="col-sm-2">
							<input class="form-control services-total-units-validation total_units" id="cash_register_template_template_details_attributes_<%= index %>_total_units" min="1" name="cash_register_template[template_details][<%= index %>][total_units]" type="number" value="<%= cash_register_detail['total_units']%>">
						</div>
						<div class="col-sm-2">
							<input class="form-control total total_price" disabled="disabled" id="total_<%= index %>" name="total_<%= index %>" type="text">
						</div>
						<div class="col-sm-1">
							<span id="add_cash_register_item" class="btn btn-sm btn-primary btn-square glyphicon glyphicon-plus-sign add-icon"></span>
						</div>
						<div class="col-sm-1">
							<span id="remove_cash_register_item_<%= index %>" class="btn btn-sm btn-primary btn-danger glyphicon glyphicon-remove remove-icon"></span>
						</div>
					</div>

				<% 	@total_rows += 1
					end %>
			</div>
		
		<%= f.submit "Update Cash Register Template",{:class => 'btn btn-success', :onclick => 'invoice_page()'}%>
		</div>
	<% end %>
	<input id= "total_cash_register_detail_row_count" type="hidden" value="<%=@total_rows %>">
</div>
</div>


<style type="text/css">

  input.error, select.error {
    border-color: #b94a48;
    background-image: none;
  }
  input.valid, select.valid {
    border-color: #468847;
    background-image: none;
  }
</style>