<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-lg">
  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">Cash Register Template</h4>
    </div>
    <%= form_for(@cash_register_template, :remote=>true) do |f| %>
        <div class="modal-body form-bordered">
          <%= f.text_field :user_id,{:type => "hidden",:value=>@userid} %>
          <div class="row form-group">
            <div class="col-md-1"><%= f.label "Name :" %></div>
            <div class="col-md-3"><%= f.text_field :name,{:class => 'form-control cash-register-name-validation'} %></div>
          </div>
          <hr>
          <div class="cash_register_fields_group" style="padding-bottom:10px">
            <div class="row form-group">
              <div class="col-sm-4"> <b>Item</b> </div>
              <div class="col-sm-2"> <b>Unit Price</b></div>
              <div class="col-sm-2"> <b>Qty</b></div>
              <div class="col-sm-2"> <b>Total Price</b></div>

            </div>
            <div class="row form-group cash_register_rows">
              <div class="col-sm-4">
                <input class="form-control services-label-validation" id="cash_register_template_template_details_attributes_0_label" name="cash_register_template[template_details][0][label]" type="text">
              </div>
              <div class="col-sm-2">
                <input class="form-control services-unit-price-validation" id="cash_register_template_template_details_attributes_0_unit_price" name="cash_register_template[template_details][0][unit_price]" type="text">
              </div>
              <div class="col-sm-2">
                <input class="form-control services-total-units-validation" id="cash_register_template_template_details_attributes_0_total_units" min="1" name="cash_register_template[template_details][0][total_units]" type="number">
              </div>
              <div class="col-sm-2">
                <input class="form-control total" disabled="disabled" id="total_0" name="total_0" type="text" value="0">
              </div>
              <div class="col-sm-1">
                <span id="add_cash_register_item" class="btn btn-sm btn-primary btn-square glyphicon glyphicon-plus-sign add-icon"></span>
              </div>
              <div class="col-sm-1">
                <span id="remove_cash_register_item_0" class="btn btn-sm btn-primary btn-danger glyphicon glyphicon-remove remove-icon" style="display: none;"></span>
              </div>
            </div>
          </div>

          <%= f.submit "Create Cash Register Template",{:class => 'btn btn-success', :onclick => 'invoice_page()'}%>
        </div>
    <% end %>
    <input id= "total_cash_register_detail_row_count" type="hidden" value="1">
  </div>
</div>


<style type="text/css">

  input.error, select.error {
    border-color: #b94a48;
    background-image: none;
  }
  input.valid, select.valid {
    border-color: #468847;
    background-image: none;
  }
</style>