<% unless investigation.state == "removed" %>
  <div class="dropdown" style="display: inline;">
    <button type="button" class="btn btn-primary btn-primary-transparent btn-xs" title="Patient File Manager" id="patient-file-manager-dropdown" data-toggle="dropdown"><i class="fa fa-user"></i> Upload</button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="patient-file-manager-dropdown">
      <!-- <li><a target="_blank" href="/paperrecords/upload_patient_asset?patientid=<%#= @patient.id.to_s%>&investigation_id=<%#= investigation.id.to_s%>&type=<%#= investigation._type.split("::")[1].downcase%>"> <i class="glyphicon glyphicon-cloud-upload"></i>Upload Paper</a></li> -->

      <li><%= link_to new_patient_summary_asset_upload_path(investigation_id: investigation.id.to_s), target: '_blank' do %><i class="glyphicon glyphicon-cloud-upload"></i>Upload Paper<% end %></li>

      <li><%= link_to patient_summary_asset_uploads_new_dicom_upload_path(investigation_id: investigation.id.to_s), target: '_blank' do %><i class="glyphicon glyphicon-cloud-upload"></i>Upload Dicom<% end %></li>

      <!-- <li><a target="_blank" href="/dicomrecords/upload_patient_asset?patientid=<%#= @patient.id.to_s%>&investigation_id=<%#= investigation.id.to_s%>&type=<%#= investigation._type.split("::")[1].downcase%>"> <i class="glyphicon glyphicon-cloud-upload"></i> Upload Dicom</a></li> -->
    </ul>
  </div>

  <% if investigation.try(:investigation_record_id) %>
    <a class="btn btn-xs btn-success btn-success-transparent edit-template" data-template-id="<%= investigation.investigation_record_id.to_s%>" data-remote="true" href="/investigation/records/<%= investigation.investigation_record_id.to_s%>"><i class="fa fa-edit"></i> Template</a>
  <% else %>
    <a class="btn btn-xs btn-success btn-success-transparent create-template" data-investigation-id="<%= investigation.id.to_s%>" data-remote="true" href="/investigation/records/new?investigation_id=<%= investigation.id%>">Template</a>
  <% end %>
<% end %>
<% if investigation.state == "performed" %>
  |
  <% if investigation.performed_by == current_user.id %>
    <%= link_to investigation_investigation_details_undo_state_path(investigation_id: investigation.id.to_s, state: 'payment_taken'), class: "btn btn-xs btn-danger btn-danger-transparent", data: { remote: true } do %>Undo<% end %>
  <% end %>  
  <%#= link_to investigation_investigation_details_investigation_performed_form_path(investigation_id: investigation.id.to_s, state: 'performed'), class: "btn btn-xs btn-success btn-success-transparent", data: { remote: true, 'toggle': 'modal', 'target': '#investigation-modal' } do %><!-- <i class="fa fa-check"></i> Performed --><%# end %>
<% elsif investigation.state == "removed" %>
  <%= link_to investigation_investigation_details_undo_state_path(investigation_id: investigation.id.to_s, state: 'payment_taken'), class: "btn btn-xs btn-danger btn-danger-transparent", data: { remote: true } do %>Undo<% end %>
<% else %>
  |
  <%= link_to investigation_investigation_details_investigation_performed_form_path(investigation_id: investigation.id.to_s, state: 'performed'), class: "btn btn-xs btn-info btn-info-transparent", data: { remote: true, 'toggle': 'modal', 'target': '#investigation-modal' } do %>Performed<% end %>
  <%= link_to investigation_investigation_details_investigation_removed_form_path(investigation_id: investigation.id.to_s, state: 'removed'), class: "btn btn-xs btn-danger btn-danger-transparent", data: { remote: true, 'toggle': 'modal', 'target': '#investigation-modal' } do %>Remove<% end %>
<% end %>