<div class="row no_margin" style="padding: 10px 5px;">
  <div class="row no_margin no_padding" style="padding: 5px;">
    <%= render partial: 'investigation/investigation_managements/investigation_details/patient_details.html.erb' %>
  </div>
  <% if @clinical_workflow_present && @current_date == Date.current %>
    <div class="row no_margin no_padding appointment-actions-file" style="padding: 5px;">
      <% if @organisation.workflow_waiting_disable %>
        <!-- This file can be removed in future. Thats why I am creating a new file rather than making any changes in existing file. -->
        <%= render partial: 'investigation/investigation_managements/investigation_details/clinical_workflow_actions_waiting_disabled.html.erb' %>
      <% else %>
        <%= render partial: 'investigation/investigation_managements/investigation_details/clinical_workflow_actions.html.erb' %>
      <% end %>
    </div>
  <% end %>
  <div class="clinical_workflow_flow">
    <% if @clinical_workflow_present && @current_date == Date.current && @clinical_workflow.present? %>
      <div class="row no_margin no_padding" style="padding: 5px;">
        <%= render partial: 'investigation/investigation_managements/investigation_details/clinical_workflow_send.html.erb' %>
      </div>
    <% end %>

    <% if @clinical_workflow.state == 'away' %>
      <div id="dialog-confirm-get-patient-<%= @clinical_workflow.id %>" title="Patient is Away" class="hidden">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Are you sure ? </p>
      </div>
    <% else %>
      <div id="dialog-confirm-get-patient-<%= @clinical_workflow.id %>" title="Patient is already in waiting/call/check-in with <%= @clinical_workflow.with_user %>" class="hidden">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Are you sure ? </p>
      </div>
    <% end %>
   
    <% if @clinical_workflow.present? %>
      <div class="row no_margin no_padding clinical_workflow_timeline" style="padding: 5px;">
        <%= render partial: 'investigation/investigation_managements/investigation_details/clinical_workflow_timeline.html.erb' %>
      </div>
    <% end %>
  </div>

  <hr>
  
  <div class="row no_margin no_padding" style="padding: 5px;">
    <%= render partial: 'investigation/investigation_managements/investigation_details/investigation_details.html.erb' %>
  </div>
  <hr>
  <div class="row no_margin no_padding" style="padding: 5px;">
    <div class="col-xs-6">
      <%= render partial: "investigation/investigation_managements/investigation_details/patient_notes_details.html.erb" %>
    </div>
  </div>
  <% if false && current_facility.show_finances %>
    <% if @appointment.present? %>
      <hr>
      <div class="row no_margin no_padding" style="padding: 5px;">
        <%= render partial: 'outpatients/appointment/appointment_details/opd_invoices.html.erb' %>
      </div>
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
  let url = $(location).attr('href');
  if (url.includes('outpatients')) {
    department_id = '485396012'
  } else if (url.includes('inpatients')) {
    department_id = '486546481'
  } else if (url.includes('309935007')) {
    department_id = '309935007'
  } else if (url.includes('ot_management')) {
    department_id = '225738002'
  } else if (url.includes('50121007')) {
    department_id = '50121007'
  } else if (url.includes('284748001')) {
    department_id = '284748001'
  } else if (url.includes('ward_management')) {
    department_id = '225746001'
  } else if (url.includes('309964003')) {
    department_id = '309964003'
  } else if (url.includes('261904005')) {
    department_id = '261904005'
  } else if (url.includes('dashboard')) {
    department_id = '224608005'
  }
  let primary_department_id = '<%= current_user.department_ids[0] %>'
  if (department_id != primary_department_id) {
    $('.appointment-actions-file').hide()
  }
</script>

