<!-- Note: Any Changes Here May also be needed in Outpatient/Appointment Module file with the same name -->
<div class="row no_margin no_padding" style="padding: 5px;">
  <div class="col-md-3">
    <h4 style="display: inline;">Investigation Details</h4>
    <button class="btn btn-link btn-xs" id="btn-investigation-details-refresh"><i class="fa fa-refresh"></i>    </button>
  </div>
  <div class="col-md-9 btn-group text-right" style="margin-top: -4px;">

    <div class="btn-group dropdown">
      <a type="button" title="Counsell or Mark payment taken for multiple investigation" class="btn btn-primary btn-primary-transparent btn-xs tooltip-inner action-investigation-dropdown" data-toggle="dropdown">
        <span class="">All Investigations</span>&nbsp;
        <span class="caret fa-color"></span>
      </a>
      <ul class="dropdown-menu children dropdown-menu-right action-investigation-dropdown" style="margin-right: -35px;">
        <% if @current_user.department_ids.any? { |ele| ['309935007','261904005','309964003'].include?(ele) } %>
          <li><a href="#" class=" text-center" id="counsel-all" >Counselled</a></li>
        <% end %>
        <li><a href="#" class="  text-center" id="payment-all">Payment Taken</a></li>
        <% if @current_user.role_ids.include?158965000 %>
          <li><a href="#" class="text-center" id="review-all">Approved</a></li>
        <% end %>
      </ul>
    </div>

    <button class="btn btn-xs btn-success btn-success-transparent" id="all-reports"></i> View Reports</button>
    <button class="btn btn-xs btn-success btn-success-transparent" id="create-reports"></i> Create Reports</button>

    <% if @department_id == "309935007" %>
      <%= link_to new_investigation_investigation_detail_path(patient_id: @patient.id, appointment_id: @appointment.try(:id), flag: 'ophthal'), :class => "btn btn-info btn-info-transparent btn-xs add-ophthal", data: { remote: true, 'toggle': 'modal', 'target': '#investigation-modal' } do %>Add Ophthal<% end %>
    <% elsif @department_id == "309964003" %>
      <%= link_to new_investigation_investigation_detail_path(patient_id: @patient.id, appointment_id: @appointment.try(:id), flag: 'radiology'), :class => "btn btn-info btn-info-transparent btn-xs add-radiology", data: { remote: true, 'toggle': 'modal', 'target': '#investigation-modal' } do %>Add Radiology<% end %>
    <% elsif @department_id == "261904005" %>
      <%= link_to new_investigation_investigation_detail_path(patient_id: @patient.id, appointment_id: @appointment.try(:id), flag: 'laboratory'), :class => "btn btn-info btn-info-transparent btn-xs add-laboratory", data: { remote: true, 'toggle': 'modal', 'target': '#investigation-modal' } do %>Add Laboratory<% end %>
    <% end %>
  </div>
</div>
<hr style="margin:5px;">
<div class="row no_margin no_padding" id='investigation-wizard-inhere' style="padding: 0px;margin:5px;">
  <%= render partial: 'investigation/investigation_managements/investigation_details/investigation_details_wizard.html.erb' %>
</div>

<script type="text/javascript">
  <%= render partial: 'investigation/investigation_managements/investigation_details/investigation_details_section.js.erb' %>
</script>