<!-- Note: Any Changes Here May also be needed in Outpatient/Appointment Module file with the same name -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<% @investigation = investigation %>
<% @investigation.try(:each_with_index) do |investigation, i| %>
    <div class="row toggle-row">
      <div class="col-sm-12">
        <div class="row mb5">
          <div class="col-sm-3">
            <b>
              <%= i+1 %>. <%= investigation.name %>
              <% if investigation.try(:investigation_side).present? %>
                  <% if investigation.try(:investigation_side) == '40638003' %>
                      (B/E)
                  <% elsif investigation.try(:investigation_side) == '18944008' %>
                      (R)
                  <% elsif investigation.try(:investigation_side) == '8966001' %>
                      (L)
                  <% end %>
              <% end %>
            </b><br>
          </div>
          <div class="col-sm-2">
            <label class="label label-primary toggle-detailed-timeline" style="border-radius: 10px;cursor: pointer;">Status: <%= investigation.state.split("_").map(&:capitalize).join(' ') %></label>
          </div>
          <div class="col-sm-7 text-right" id="action-<%= investigation.id%>">
            <% if current_user.organisation.type_id == '22232009' %>
                <%= render partial: 'investigation/investigation_managements/investigation_details/investigation_workflow_actions.html.erb', locals: { investigation: investigation } %>
            <% else %>
                <%= render partial: 'investigation/investigation_managements/investigation_details/investigation_pp_actions.html.erb', locals: { investigation: investigation } %>
            <% end %>
          </div>
        </div>
        <div class="row toggle-this" style="display: none;">
          <div class="col-sm-12">
            <%= render partial: 'investigation/investigation_managements/investigation_details/investigation_timeline.html.erb', locals: { investigation: investigation } %>
          </div>
        </div>
        <% inv_upload = @uploads.where(test_id: investigation.id.to_s) %>
        <% if inv_upload.count > 0 %>
            <div class="row mb10">
              <!--<h2 class="w3-center">Manual Slideshow</h2>-->

              <div class="w3-content w3-display-container">
                <% inv_upload.each_with_index do |upload,i| %>
                    <img src="<%= upload.asset_path_url %>" class="mySlides" style="width:100%;height: 400px">
                <% end %>
                <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
              </div>
            </div>
        <% end %>
      </div>
    </div>
    <% unless i+1 == @investigation.count %>
        <hr style="margin:10px 0;">
    <% end %>
<% end %>
<% if @investigation.count == 0 %>
    <div class="row">
      <div class="col-sm-3">
        <b>No <%= flag %> Investigation</b>
      </div>
    </div>
<% end %>

<style>
    .thmb-prev {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 90px;
        height: 130px;
    }

    .thmb-prev:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }
</style>
<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex-1].style.display = "block";
    }
</script>