<style>
  
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
</style>
<%= nested_form_for(@note, remote: true, :multipart => true ) do |f| %>
<div class="modal-body">
    <div role="tabpanel">

      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a href="#rfa" aria-controls="rfa" role="tab" data-toggle="tab" class="active">Reason for admission</a></li>
        <li role="presentation" class="dropdown">
          <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown" aria-controls="myTabDrop1-contents">History <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents">
            <li><a href="#dropdown1" tabindex="-1" role="tab" id="dropdown1-tab" data-toggle="tab" aria-controls="dropdown1">Past history</a></li>
            <li><a href="#dropdown2" tabindex="-1" role="tab" id="dropdown2-tab" data-toggle="tab" aria-controls="dropdown2">Pervious / Ongoing medication</a></li>
            <li><a href="#dropdown3" tabindex="-1" role="tab" id="dropdown3-tab" data-toggle="tab" aria-controls="dropdown3">Family history</a></li>
            <li><a href="#dropdown4" tabindex="-1" role="tab" id="dropdown4-tab" data-toggle="tab" aria-controls="dropdown4">Personal / Social history</a></li>
            <li><a href="#dropdown5" tabindex="-1" role="tab" id="dropdown5-tab" data-toggle="tab" aria-controls="dropdown5">History of present illness</a></li>
          </ul>
        </li>
        <li role="presentation" class="dropdown">
          <a href="#" id="myTabDrop2" class="dropdown-toggle" data-toggle="dropdown" aria-controls="myTabDrop2-contents">System reviews <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop2" id="myTabDrop1-contents">
            <li><a href="#dropdown6" tabindex="-1" role="tab" id="dropdown6-tab" data-toggle="tab" aria-controls="dropdown6">Constitutional symptoms</a></li>
            <li><a href="#dropdown7" tabindex="-1" role="tab" id="dropdown7-tab" data-toggle="tab" aria-controls="dropdown7">Eyes</a></li>
            <li><a href="#dropdown8" tabindex="-1" role="tab" id="dropdown8-tab" data-toggle="tab" aria-controls="dropdown8">Ent</a></li>
            <li><a href="#dropdown9" tabindex="-1" role="tab" id="dropdown9-tab" data-toggle="tab" aria-controls="dropdown9">Cardio-Respiratory</a></li>
            <li><a href="#dropdown10" tabindex="-1" role="tab" id="dropdown10-tab" data-toggle="tab" aria-controls="dropdown10">Gastrointestinal</a></li>
            <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Genitourinary</a>
                <ul class="dropdown-menu">
                  <li><a href="#dropdown11" tabindex="-1" role="tab" id="dropdown11-tab" data-toggle="tab" aria-controls="dropdown11">Urinary</a></li>
                  <li><a href="#dropdown12" tabindex="-1" role="tab" id="dropdown12-tab" data-toggle="tab" aria-controls="dropdown12">Genital</a></li>
                  <li><a href="#dropdown13" tabindex="-1" role="tab" id="dropdown13-tab" data-toggle="tab" aria-controls="dropdown13">Menses</a></li>      
                </ul>
            </li>
            <li><a href="#dropdown14" tabindex="-1" role="tab" id="dropdown14-tab" data-toggle="tab" aria-controls="dropdown14">Breast</a></li>
            <li><a href="#dropdown15" tabindex="-1" role="tab" id="dropdown15-tab" data-toggle="tab" aria-controls="dropdown15">Neorological</a></li>
            <li><a href="#dropdown16" tabindex="-1" role="tab" id="dropdown16-tab" data-toggle="tab" aria-controls="dropdown16">Psychiatric</a></li>
            <li><a href="#dropdown17" tabindex="-1" role="tab" id="dropdown17-tab" data-toggle="tab" aria-controls="dropdown17">Musculoskeletal</a></li>
          </ul>
        </li>
        <li role="presentation" class="dropdown">
          <a href="#" id="myTabDrop3" class="dropdown-toggle" data-toggle="dropdown" aria-controls="myTabDrop3-contents">Assessment <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop3" id="myTabDrop1-contents">
            <li><a href="#painassessment" tabindex="-1" role="tab" id="painassessment-tab" data-toggle="tab" aria-controls="painassessment">Pain assessment</a></li>
            <li><a href="#functionalassessment" tabindex="-1" role="tab" id="functionalassessment-tab" data-toggle="tab" aria-controls="functionalassessment">Functional Assessment</a></li>
            <li><a href="#vitalsigns" tabindex="-1" role="tab" id="vitalsigns-tab" data-toggle="tab" aria-controls="vitalsigns">Vital Signs</a></li>
            <li><a href="#generalexamination" tabindex="-1" role="tab" id="generalexamination-tab" data-toggle="tab" aria-controls="generalexamination">General Examination</a></li>
          </ul>
        </li>
        <li role="presentation" class="dropdown">
          <a href="#" id="myTabDrop4" class="dropdown-toggle" data-toggle="dropdown" aria-controls="myTabDrop4-contents">Investigations <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop3" id="myTabDrop1-contents">
            <li><a href="#laboratory" tabindex="-1" role="tab" id="laboratory-tab" data-toggle="tab" aria-controls="laboratory">Laboratory</a></li>
            <li><a href="#radiology" tabindex="-1" role="tab" id="radiology-tab" data-toggle="tab" aria-controls="radiology">Radiology</a></li>
            <li><a href="#others" tabindex="-1" role="tab" id="others-tab" data-toggle="tab" aria-controls="others">Others </a></li>
          </ul>
        </li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane " id="rfa">
            <%= @admission.admissionreason %>
        </div>
        <div role="tabpanel" class="tab-pane " id="dropdown1">
            <%= render "pasthistory", :f => f %>
        </div>
        <div role="tabpanel" class="tab-pane " id="dropdown2">
            <%= render "previousmedications", :f => f %>
        </div>
        <div role="tabpanel" class="tab-pane" id="dropdown3">
            <%= render "familyhistory", :f => f %>
        </div>
        <div role="tabpanel" class="tab-pane" id="dropdown4">
            <%= render "socialhistory", :f => f %>
        </div>
        <div role="tabpanel" class="tab-pane" id="dropdown5">
            <%= render "historyofpresentillness", :f => f %>
        </div>
        <div role="tabpanel" class="tab-pane" id="dropdown6">
            <%= render "constitutionalsymptom", :f => f %>
        </div>
        <div role="tabpanel" class="tab-pane" id="dropdown7">
            <%= render "eyeadmissionnote", :f => f %>
        </div>
        <div role="tabpanel" class="tab-pane" id="dropdown8">
            <%= render "entadmissionnote", :f => f %>
        </div>
        <div role="tabpanel" class="tab-pane" id="dropdown9">
            <%= render "cardiorespiratory", :f => f %>
        </div>
        <div role="tabpanel" class="tab-pane" id="dropdown10">
            <%= render "gastrointestinal", :f => f %>
        </div>
        <div role="tabpanel" class="tab-pane" id="dropdown11">
            <%= render "genitourinary", :f => f %>
        </div>
        <div role="tabpanel" class="tab-pane" id="dropdown12">
            <%= render "genitourinaryg", :f => f %>
        </div>
        <div role="tabpanel" class="tab-pane" id="dropdown13">
            <%= render "genitourinarym", :f => f %>
        </div>
        <div role="tabpanel" class="tab-pane" id="dropdown14">
            <%= render "breast", :f => f %>
        </div>
        <div role="tabpanel" class="tab-pane" id="dropdown15">
            <%= render "neurological", :f => f %>
        </div>
        <div role="tabpanel" class="tab-pane" id="dropdown16">
            <%= render "psychiatric", :f => f %>
        </div>
        <div role="tabpanel" class="tab-pane" id="dropdown17">
            <%= render "musculoskeletal", :f => f %>
        </div>
        <div role="tabpanel" class="tab-pane" id="painassessment">
            <%= render "pain", :f => f %>
        </div>
        <div role="tabpanel" class="tab-pane" id="functionalassessment">
            <%= render "functionalassessment", :f => f %>
        </div>
        <div role="tabpanel" class="tab-pane" id="vitalsigns">
            <%= render "vitalsigns", :f => f %>
        </div>
        <div role="tabpanel" class="tab-pane" id="generalexamination">
            <%= render "generalexamination", :f => f %>
        </div>
        <div role="tabpanel" class="tab-pane" id="laboratory">
            <%= render "upload", :f => f %>
        </div>
        <div role="tabpanel" class="tab-pane" id="radiology">
            <%= render "upload", :f => f %>
        </div>
        <div role="tabpanel" class="tab-pane" id="others">
            <%= render "upload", :f => f %>
        </div>
      </div>
      <%= hidden_field_tag "_id", @admission.id %>
      <%= hidden_field_tag "patient_id", @admission.patient_id %>
    </div>
</div>
<div class="modal-footer">
    <%= f.submit "Save", class: "btn btn-success", remote: true, 'data-disable-with' => "Please wait.." %>
    <%= button_tag "Reset", class: "btn btn-danger ", :type => 'reset' %>
    <%= button_tag "Print", class: "btn btn-danger inpatient-admission-note-summary", :type => 'button', data: {admissionid: @admission.id} %>
    <button aria-hidden="true" class="btn btn-info signup-patient-form-close" data-dismiss="modal">Close</button> 
</div>
<% end %>