<div class="modal-body">
	<div class="row">
	  <div class="col-md-3">TYPE OF ADMISSION :</div>
	  <div class="col-md-9"><%= @admission.admission_type %></div>
	</div>
	<div class="row">
	  <div class="col-md-3">REASON FOR ADMISSION (RFA):</div>
	  <div class="col-md-9"><%= @admission.admissionreason %></div>
	</div>
	<div class="row">
	  <div class="col-md-3">HISTORY OF PRESENT ILLNESS(HPI):</div>
	  <div class="col-md-9"><%= @note.hpi %></div>
	</div>
	<div class="row">
	  <div class="col-md-3">PAST HISTORY :</div>
	  <div class="col-md-9"><% if @note.ph %> Previous Hospitalization <% end %><% if @note.hosurgery %> H/o Surgery <% end %><% if @note.htn %> HTN <% end %><% if @note.dm %> DM <% end %><% if @note.tuberculosis %> Tuberculosis <% end %><% if @note.asthma %> Asthma <% end %><% if @note.allergies %> Allergies <% end %><% if @note.cvd %> Cardiovascular disease <% end %><% if @note.stroke %> Stroke <% end %><% if @note.hepatitis %> Hepatitis <% end %></div>
	</div>
	<div class="row">
	  <div class="col-md-3">PREVIOUS/ON-GOING MEDICATIONS :</div>
	  <div class="col-md-9"><% if @note.pogm %> <%= @note.pogm %> <% end %></div>
	</div>
	<div class="row">
	  <div class="col-md-3">FAMILY HISTORY :</div>
	  <div class="col-md-9"><% if @note.fhypertension %> Hypertension <% end %><% if @note.fdm %> DM <% end %><% if @note.allergyasthma %> Allergy/Asthma <% end %><% if @note.ftuberculosis %> Tuberculosis <% end %><% if @note.fcvd %> Cardiovascular Disease <% end %><% if @note.fgen %> Genetics <% end %><% if @note.fcancer %> Cancer <% end %></div>
	</div>
	<div class="row">
	  <div class="col-md-3">PERSONAL/SOCIAL HISTORY :</div>
	  <div class="col-md-9"><% if @note.alcohol %> Alcohol intake-significant <% end %> <% if @note.smoking %> Smoking-significant <% end %> <% if @note.substance %> Substance abuse <% end %> <% if @note.family %> Family <% end %> <% if @note.job %> Job <% end %></div>
	</div>
	<div class="row">
	  <div class="col-md-3">SYSTEMS REVIEW :</div>
	  <div class="col-md-9"><% if @note.fgw %> Fatigue/General weakness <% end %> <% if @note.unwl %> Unexplained weight loss <% end %> <% if @note.fever %> Fever <% end %> <% if @note.loa %> Loss of appetite <% end %> <% if @note.alsp %> Altered sleep pattern <% end %> <% if @note.headache %> Headache <% end %> <% if @note.rtra %> Recent trauma <% end %> <% if @note.lbm %> Lumps/bumps/masses <% end %> <% if @note.unf %> Unexplained falls <% end %> <% if @note.itchrash %> Itch/Rash <% end %> <% if @note.rash %> Rash <% end %> <% if @note.pigment %> Pigmentation <% end %> <% if @note.vc %> Visual changes <% end %> <% if @note.dv %> Double vision <% end %> <% if @note.redness %> Redness <% end %> <% if @note.eyepain %> Eye pain <% end %> <% if @note.runnynose %> Runny nose <% end %> <% if @note.nosebleed %> Nose bleed <% end %> <% if @note.heardiff %> Hearing difficulty <% end %> <% if @note.earpain %> Ear pain <% end %> <% if @note.ringinginears %> Ringing in ears <% end %> <% if @note.gumbleeding %> Gum bleeding <% end %> <% if @note.toothache %> Toothache <% end %> <% if @note.sorethroat %> Sore throat <% end %> <% if @note.diffswallow %> Difficulty in swallowing <% end %> <% if @note.sinuspain %> Sinus pain <% end %> <% if @note.chestpain %> Chest pain <% end %> <% if @note.sob %> Shortness of breath <% end %> <% if @note.palpitations %> Palpitations <% end %> <% if @note.swellbloat %> Swelling/Bloating <% end %> <% if @note.eit %> Exercise intolerance <% end %> <% if @note.chesttightness %> Chest tightness <% end %> <% if @note.cough %> Cough <% end %> <% if @note.sputum %> Sputum <% end %> <% if @note.wheeze %> Wheeze <% end %> <% if @note.hemoptysis %> Hemoptysis <% end %> <% if @note.tracheostomy %> Tracheostomy done <% end %> <% if @note.nauseavomiting %> Nausea/Vomiting <% end %> <% if @note.abdominalpain %> Abdominal pain <% end %> <% if @note.diarrhea %> Diarrhea <% end %> <% if @note.constipation %> Constipation <% end %> <% if @note.indigestion %> Indigestion <% end %> <% if @note.bloodinstools %> Blood in stools <% end %> <% if @note.vomitingblood %> Vomiting blood <% end %> <% if @note.stoma %> Stoma done <% end %> <% if @note.incontinence %> Incontinence <% end %> <% if @note.burningmicturition %> Burning micturition <% end %> <% if @note.incfreq %> Increased frequency <% end %> <% if @note.bloodinurine %> Blood in urine <% end %> <% if @note.nocturia %> Nocturia <% end %> <% if @note.hesistancy %> Hesistancy <% end %> <% if @note.terminaldribbling %> Terminal dribbling <% end %> <% if @note.urinarycatheter %> Urinary catheter in place <% end %> <% if @note.vaginaldischarge %> Vaginal discharge <% end %> <% if @note.vaginalpain %> Vaginal pain <% end %> <% if @note.chinfreq %> Change in frequency <% end %> <% if @note.irregularity %> Irregularity <% end %> <% if @note.heavybleeding %> Heavy bleeding <% end %> <% if @note.firstdayoflmp %> First day of LMP <% end %> <% if @note.gravida %> Gravida <% end %> <% if @note.para %> Para <% end %> <% if @note.menopause %> Menopause <% end %> <% if @note.contraception %> Contraception <% end %> <% if @note.itchrasheczema %> Itch/rash/eczema <% end %> <% if @note.woundlesion %> Wound/lesion <% end %> <% if @note.nodulemass %> Nodule/mass <% end %> <% if @note.painsoreness %> Pain/soreness <% end %> <% if @note.discharge %> Discharge <% end %> <% if @note.ahf %> Altered higher functions <% end %> <% if @note.seizures %> Seizures <% end %> <% if @note.limbweakness %> Limb weakness <% end %> <% if @note.paresthesianumbness %> Paresthesia/numbness <% end %> <% if @note.speechproblems %> Speech problems <% end %> <% if @note.sleepprobs %> Sleep problems <% end %> <% if @note.dec %> Decreased energy/concentration <% end %> <% if @note.anxiety %> Anxiety <% end %> <% if @note.paranoia %> Paranoia <% end %> <% if @note.changeinpers %> Change in personality <% end %> <% if @note.muspain %> Pain <% end %> <% if @note.stiffness %> Stiffness <% end %> <% if @note.functionaldeficit %> Functional deficit <% end %> <% if @note.decreasedrom %> Decreased range of motion <% end %> <% if @note.jointswelling %> Joint swelling <% end %></div>
	</div>
	<div class="row">
	  <div class="col-md-3">PAIN ASSESSMENT :</div>
	  <div class="col-md-9"><% if @note.pain %> Pain Level <% end %> </div>
	</div>
	<div class="row">
	  <div class="col-md-3">FUNCTIONAL ASSESSMENT :</div>
	  <div class="col-md-9"><% if @note.activitiesofdailyliving %> Activities of daily living <% end %> <% if @note.paralysis %> Paralysis <% end %> <% if @note.aids %> Aids <% end %></div>
	</div>
	<div class="row">
	  <div class="col-md-3">VITAL SIGNS :</div>
	  <div class="col-md-9"><% if @note.temperature %> <%= @note.temperature %> <% end %><% if @note.pulse %> <%= @note.pulse %> <% end %><% if @note.respiratoryrate %> <%= @note.respiratoryrate %> <% end %><% if @note.bloodpressure %> <%= @note.bloodpressure %><% end %><% if @note.weight %> <%= @note.weight %> <% end %><% if @note.height %> <%= @note.height %> <% end %> <% if @note.bmi %> <%= @note.bmi %> <% end %></div>
	</div>
	<div class="row">
	  <div class="col-md-3">GENERAL EXAMINATION :</div>
	  <div class="col-md-9"><% if @note.appearance %> Appearance <% end %> <% if @note.mentalstatus %> Mental status <% end %> <% if @note.orientation %> Orientation <% end %> <% if @note.pallor %> Pallor <% end %> <% if @note.icterus %> Icterus <% end %> <% if @note.cyanosis %> Cyanosis <% end %> <% if @note.clubbing %> Clubbing <% end %> <% if @note.edema %> Edema <% end %> <% if @note.rcp %> Rash/ecchymosis/purpura <% end %> <% if @note.whiteoralpatch %> White oral patch <% end %> <% if @note.engorgedveins %> Engorged veins <% end %> <% if @note.lymphadenopathy %> Lymphadenopathy <% end %> <% if @note.enlargedthyroid %> Enlarged thyroid <% end %> <% if @note.palpablemass %> Palpable mass <% end %> <% if @note.tenderness %> Tenderness <% end %> <% if @note.abnormalheartsounds %> Abnormal heart sounds <% end %> <% if @note.abnormalairentry %> Abnormal air entry <% end %> <% if @note.abnormalbreathsounds %> Abnormal breath sounds <% end %> <% if @note.guardingtenderness %> Guarding-tenderness <% end %> <% if @note.abnormalbowelsounds %> Abnormal bowel sounds <% end %> <% if @note.organomegaly %> Organomegaly <% end %></div>
	</div>
	<div class="row">
	  <div class="col-md-3">LOCAL EXAMINATION :</div>
	  <div class="col-md-9">Back pain</div>
	</div>
	<div class="row">
	  <div class="col-md-3">INVESTIGATIONS :</div>
	  <div class="col-md-9">Back pain</div>
	</div>
	<div class="row">
	  <div class="col-md-3">ASSESSMENT :</div>
	  <div class="col-md-9">Back pain</div>
	</div>
	<div class="row">
	  <div class="col-md-3">CARE PLAN :</div>
	  <div class="col-md-9">Back pain</div>
	</div>
	<div class="row">
	  <div class="col-md-3">SIGNATURE </div>
	  <div class="col-md-3">NAME </div>
	  <div class="col-md-3">DESIGNATION</div>
	  <div class="col-md-3">DATE </div>
	</div>

	
</div>
<div class="modal-footer">
	<button aria-hidden="true" class="btn btn-danger admission-note-print" data-admissionid="<%= "#{ @admission.admissionid }" %>">Print</button>
	<button aria-hidden="true" class="btn btn-info search-patient-form-close" data-dismiss="modal">Close</button>
</div>