<!-- File Of No Use -->
<% if false %>
  <div class="col-md-4">
  </div>


  <div class="col-md-4" style="margin-top:-60px; text-align:center;">
    <div class="btn-group">
      <%= link_to ipd_admissions_path(:admission_day => "#{@current_date.yesterday.strftime("%d-%b-%Y")}"), :class => "btn btn-success", :data => {:remote => true} do %> <i class="fa fa-chevron-left"></i> <% end %>
      <button type="button" class="btn btn-success date-display" disabled><%= @current_date.strftime("%d-%b-%Y") %></button>

      <input type="text" id="admission-datepicker-inline" style="display: none;">

      <%= link_to ipd_admissions_path(:admission_day => "#{@current_date.tomorrow.strftime("%d-%b-%Y")}"), :class => "btn btn-success", :data => {:remote => true} do %> <i class="fa fa-chevron-right"></i></i> <% end %>
    </div>

  </div>
  <div class="pull-right btn-group" style="margin-top:-60px;">
    <%= link_to ipd_patients_makeadmission_path, :class => "btn btn-danger", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#inpatient-modal'} do %> <i class="glyphicon glyphicon-plus"></i> Schedule Admission <% end %>
    <% @fac = current_user.facilities.map %>
    <% if @fac.count > 1 %>
      <ul class="nav navbar-nav navbar-main">
        <li class="print-dropdown">
          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" style="border-radius:0px;">
            <span class=""><i class="fa fa-print" style="font-size:15px;"></i> Print Admission</span>&nbsp;&nbsp;<span class="caret"></span>
          </button>
          <ul class="dropdown-menu children" style="width:100% !important;">
            <% @fac.each do |fac| %>
              <li style=""><%= link_to ipd_patients_printadmission_path(:admissiondate => Date.strptime("#{@datepicker_date}", "%Y-%m-%d"), :organisation => current_user.organisation,:facility_id => fac.id.to_s, :format => :pdf), :target => "_blank" do %> <i class="fa fa-print"></i> <%= fac.name %> <% end %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    <% else %>
      <% @fac.each do |fac| %>
        <%= link_to ipd_patients_printadmission_path(:admissiondate => Date.strptime("#{@datepicker_date}", "%Y-%m-%d"), :organisation => current_user.organisation,:facility_id => fac.id.to_s, :format => :pdf), :class => "btn btn-info", :target => "_blank" do %> <i class="fa fa-print"></i> Print Admission <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>