<div class="modal-body">

	<div class="row mb20">

    <div class="col-md-12">

      <p>I, <b><%= @patient.fullname %></b> authorize & consent to the performance upon myself or
        <b><%= @patient.fullname %></b> with Hospital No <%= current_user.organisation.id %> of the following operating
        / procedure to be performed by or under the direction of <b>Dr. <%= current_user.fullname %></b> at
        <b><%= current_user.organisation.name %> Hospital</b> on
        <b><%= "#{Date.strptime("#{@admission.admissiondate}", "%Y-%m-%d").strftime('%d/%m/%Y')}" %>
          <%= "#{Time.strptime("#{@admission.admissiontime}", "%Y-%m-%d %H:%M:%S").strftime("%I:%M %p")}" %></b></p>
      <br/>
      Name of Procedure / Treatment / Surgery:
			<br/>
      <br/>
      <p>I further consent to the performance of any additional procedures during the course of my operation / procedure
        which the doctor or associates judge necessary or desirable to correct the existing condition or any other
        unhealthy condition which they many discover. I also consent the hospital authorities for disposal for any
        tissue or parts which may be removed during my operation.</p>
			<br/>
      <br/>
      <p>I have been advised by my doctor about alternatives to the operation / procedures suggested, but I believe that
        the treatment suggested, is the treatment / operation I should have.</p>

		</div>

	</div>
  <br/>
  <br/>

  <div class="row">

    <div class="col-md-6">
      <table>
        <thead>
        <tr>
          <th>Patient's Name :</th>
          <td><%= @patient.fullname %></td>
        </tr>
        <tr>
          <th>Patient's Sign :</th>
          <td>_ _ _ _ _ _ _ _</td>
        </tr>
        <tr>
          <th>Date :</th>
          <td>
            <% Date.current %></td>
        </tr>
        </thead>
      </table>
		</div>
		<div class="col-md-6">
      <table>
        <thead>
        <tr>
          <th>Admitted By :</th>
          <td>_ _ _ _ _ _ _ _</td>
        </tr>
        <tr>
          <th>Doctor's name :</th>
          <td><%= current_user.fullname %></td>
        </tr>
        <tr>
          <th>Recorded by :</th>
          <td>_ _ _ _ _ _ _ _</td>
        </tr>
        </thead>
      </table>
		</div>
	</div>

</div>
<div class="modal-footer">
  <%= link_to ipd_patients_print_admissionconsent_path(:admission_id => @admission.id, :patient_id => @patient.id, :format => :pdf), :target => "_blank", :class => "btn btn-danger" do %>
      Print
  <% end %>
  <button aria-hidden="true" class="btn btn-info consent-form-close" id="close-modal" data-dismiss="modal">Close</button>
</div>