
        <div class="checkbox">
                <%= f.label :itchrasheczema do %>
                        <%= f.check_box :itchrasheczema %>
                        Itch/rash/eczema
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :woundlesion do %>
                        <%= f.check_box :woundlesion %>
                        Wound/lesion
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :nodulemass do %>
                        <%= f.check_box :nodulemass %>
                         Nodule/mass
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :painsoreness do %>
                        <%= f.check_box :painsoreness %>
                        Pain/soreness
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :discharge do %>
                        <%= f.check_box :discharge %>
                        Discharge
                <% end %>
        </div>
