
        <div class="checkbox">
                <%= f.label :chestpain do %>
                        <%= f.check_box :chestpain %>
                        Chest pain
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :sob do %>
                        <%= f.check_box :sob %>
                        Shortness of breath
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :palpitations do %>
                        <%= f.check_box :palpitations %>
                        Palpitations
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :swellbloat do %>
                        <%= f.check_box :swellbloat %>
                        Swelling/Bloating
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :eit do %>
                        <%= f.check_box :eit %>
                        Exercise intolerance
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :chesttightness do %>
                        <%= f.check_box :chesttightness %>
                        Chest tightness
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :cough do %>
                        <%= f.check_box :cough %>
                        Cough
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :sputum do %>
                        <%= f.check_box :sputum %>
                        Sputum
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :wheeze do %>
                        <%= f.check_box :wheeze %>
                        Wheeze
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :hemoptysis do %>
                        <%= f.check_box :hemoptysis %>
                        Hemoptysis
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :tracheostomy do %>
                        <%= f.check_box :tracheostomy %>
                        Tracheostomy done
                <% end %>
        </div>
