
        <div class="checkbox">
                <%= f.label :fgw do %>
                        <%= f.check_box :fgw %>
                        Fatigue/General weakness
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :unwl do %>
                        <%= f.check_box :unwl %>
                <input type="checkbox" name="unwl" > Unexplained weight loss
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :fever do %>
                        <%= f.check_box :fever %>
                        Fever
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :loa do %>
                        <%= f.check_box :loa %>
                <input type="checkbox" name="loa" > Loss of appetite
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :alsp do %>
                        <%= f.check_box :alsp %>
                        Altered sleep pattern
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :headache do %>
                        <%= f.check_box :headache %>
                        Headache
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :rtra do %>
                        <%= f.check_box :rtra %>
                        Recent trauma
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :lbm do %>
                        <%= f.check_box :lbm %>
                        Lumps/bumps/masses
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :unf do %>
                        <%= f.check_box :unf %>
                        Unexplained falls
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :itchrash do %>
                        <%= f.check_box :itchrash %>
                        Itch/Rash
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :rash do %>
                        <%= f.check_box :rash %>
                        Rash
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :pigment do %>
                        <%= f.check_box :pigment %>
                        Pigmentation
                <% end %>
        </div>
