
        <div class="checkbox">
                <%= f.label :runnynose do %>
                        <%= f.check_box :runnynose %>
                Runny nose
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :nosebleed do %>
                        <%= f.check_box :nosebleed %>
                        Nose bleed
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :heardiff do %>
                        <%= f.check_box :heardiff %>
                        Hearing difficulty
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :earpain do %>
                        <%= f.check_box :earpain %>
                        Ear pain
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :ringinginears do %>
                        <%= f.check_box :ringinginears %>
                        Ringing in ears
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :gumbleeding do %>
                        <%= f.check_box :gumbleeding %>
                        Gum bleeding
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :toothache do %>
                        <%= f.check_box :toothache %>
                        Toothache
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :sorethroat do %>
                        <%= f.check_box :sorethroat %>
                        Sore throat
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :diffswallow do %>
                        <%= f.check_box :diffswallow %>
                        Difficulty in swallowing
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :sinuspain do %>
                        <%= f.check_box :sinuspain %>
                        Sinus pain
                <% end %>
        </div>
