
        <div class="checkbox">
                <%= f.label :vc do %>
                        <%= f.check_box :vc %>
                        Visual changes
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :dv do %>
                        <%= f.check_box :dv %>
                        Double vision
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :redness do %>
                        <%= f.check_box :redness %>
                        Redness
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :eyepain do %>
                        <%= f.check_box :eyepain %>
                        Eye pain
                <% end %>
        </div>
