
        <div class="checkbox">
                <%= f.label :fhypertension do %>
                        <%= f.check_box :fhypertension %>
                        Hypertension
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :fdm do %>
                        <%= f.check_box :fdm %>
                        DM
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :allergyasthma do %>
                        <%= f.check_box :allergyasthma %>
                        Allergy/Asthma
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :ftuberculosis do %>
                        <%= f.check_box :ftuberculosis %>
                        Tuberculosis
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :fcvd do %>
                        <%= f.check_box :fcvd %>
                        Cardiovascular disease
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :fgen do %>
                        <%= f.check_box :fgen %>
                        Genetic disease
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :fcancer do %>
                        <%= f.check_box :fcancer %>
                <input type="checkbox" name="fcancer" > Cancer
                <% end %>
        </div>
