
        <div class="checkbox">
                <%= f.label :activitiesofdailyliving do %>
                        <%= f.check_box :activitiesofdailyliving %> 
                        Activities of daily living
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :paralysis do %>
                        <%= f.check_box :paralysis %>
                        Paralysis
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :aids do %>
                        <%= f.check_box :aids %>
                        Aids
                <% end %>
        </div>
