
        <div class="checkbox">
                <%= f.label :nauseavomiting do %>
                        <%= f.check_box :nauseavomiting %>
                        Nausea/Vomiting
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :abdominalpain do %>
                        <%= f.check_box :abdominalpain %>
                        Abdominal pain
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :diarrhea do %>
                        <%= f.check_box :diarrhea %>
                        Diarrhea
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :constipation do %>
                        <%= f.check_box :constipation %>
                        Constipation
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :indigestion do %>
                        <%= f.check_box :indigestion %>
                        Indigestion
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :bloodinstools do %>
                        <%= f.check_box :bloodinstools %>
                        Blood in stools
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :vomitingblood do %>
                        <%= f.check_box :vomitingblood %>
                        Vomiting blood
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :stoma do %>
                        <%= f.check_box :stoma %>
                        Stoma done
                <% end %>
        </div>
