
        <div class="checkbox">
                <%= f.label :incontinence do %>
                        <%= f.check_box :incontinence %>
                        Incontinence
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :burningmicturition do %>
                        <%= f.check_box :burningmicturition %>
                        Burning micturition
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :incfreq do %>
                        <%= f.check_box :incfreq %>
                        Increased frequency
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :bloodinurine do %>
                        <%= f.check_box :bloodinurine %>
                        Blood in urine
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :nocturia do %>
                        <%= f.check_box :nocturia %>
                        Nocturia
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :hesistancy do %>
                        <%= f.check_box :hesistancy %>
                        Hesistancy
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :terminaldribbling do %>
                        <%= f.check_box :terminaldribbling %>
                        Terminal dribbling
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :urinarycatheter do %>
                        <%= f.check_box :urinarycatheter %>
                        Urinary catheter in place
                <% end %>
        </div>
