
        <div class="checkbox">
                <%= f.label :chinfreq do %>
                        <%= f.check_box :chinfreq %>
                        Change in frequency
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :irregularity do %>
                        <%= f.check_box :irregularity %>
                        Irregularity
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :heavybleeding do %>
                        <%= f.check_box :heavybleeding %>
                        Heavy bleeding
                <% end %>
        </div>
        
        <div class="checkbox">
                <%= f.label :menopause do %>
                        <%= f.check_box :menopause %>
                        Menopause
                <% end %>
        </div>
        <%= f.label :firstdayoflmp %>
        <%= f.text_area :firstdayoflmp, :class => 'form-control', row: "5" %> 
        <%= f.label :gravida %>
        <%= f.text_area :gravida, :class => 'form-control', row: "5" %> 
        <%= f.label :para %>
        <%= f.text_area :para, :class => 'form-control', row: "5" %> 
        <%= f.label :contraception %>
        <%= f.text_area :contraception, :class => 'form-control', row: "5" %> 
        