
        <div class="checkbox">
                <%= f.label :appearance do %>
                        <%= f.check_box :appearance %>
                        Appearance
                <% end %>
        </div>

        <div style="display:inline;">
                <%= f.radio_button :mentalstatus, 1 %>
                <%= f.label :mentalstatus, "Alert", :value => 1 %>
                <%= f.radio_button :mentalstatus, 2 %>
                <%= f.label :mentalstatus, "Drowsy", :value => 2 %>
                <%= f.radio_button :mentalstatus, 3 %>
                <%= f.label :mentalstatus, "Comatose", :value => 3 %>
        </div>

        <div class="checkbox">
                <%= f.label :orientation do %>
                        <%= f.check_box :orientation %>
                        Orientation
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :pallor do %>
                        <%= f.check_box :pallor %>
                        Pallor
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :icterus do %>
                        <%= f.check_box :icterus %>
                        Icterus
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :cyanosis do %>
                        <%= f.check_box :cyanosis %>
                        Cyanosis
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :clubbing do %>
                        <%= f.check_box :clubbing %>
                        Clubbing
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :edema do %>
                        <%= f.check_box :edema %>
                        Edema
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :rcp do %>
                        <%= f.check_box :rcp %>
                        Rash/ecchymosis/purpura
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :whiteoralpatch do %>
                        <%= f.check_box :whiteoralpatch %>
                        White oral patch
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :engorgedveins do %>
                        <%= f.check_box :engorgedveins %>
                        Engorged veins
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :lymphadenopathy do %>
                        <%= f.check_box :lymphadenopathy %>
                        Lymphadenopathy
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :enlargedthyroid do %>
                        <%= f.check_box :enlargedthyroid %>
                        Enlarged thyroid
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :palpablemass do %>
                        <%= f.check_box :palpablemass %>
                        Palpable mass
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :tenderness do %>
                        <%= f.check_box :tenderness %>
                        Tenderness
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :abnormalheartsounds do %>
                        <%= f.check_box :abnormalheartsounds %>
                        Abnormal heart sounds
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :abnormalairentry do %>
                        <%= f.check_box :abnormalairentry %>
                        Abnormal air entry
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :abnormalbreathsounds do %>
                        <%= f.check_box :abnormalbreathsounds %>
                        Abnormal breath sounds
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :guardingtenderness do %>
                        <%= f.check_box :guardingtenderness %>
                        Guarding-tenderness
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :abnormalbowelsounds do %>
                        <%= f.check_box :abnormalbowelsounds %>
                        Abnormal bowel sounds
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :organomegaly do %>
                        <%= f.check_box :organomegaly %>
                        Organomegaly
                <% end %>
        </div>
