
        <div class="checkbox">
                <%= f.label :muspain do %>
                        <%= f.check_box :muspain %>
                        Pain
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :stiffness do %>
                        <%= f.check_box :stiffness %>
                        Stiffness
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :functionaldeficit do %>
                        <%= f.check_box :functionaldeficit %>
                        Functional deficit
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :decreasedrom do %>
                        <%= f.check_box :decreasedrom %>
                        Decreased range of motion
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :jointswelling do %>
                        <%= f.check_box :jointswelling %>
                        Joint swelling
                <% end %>
        </div>
