
        <div class="checkbox">
                <%= f.label :ahf do %>
                        <%= f.check_box :ahf %>
                        Altered higher functions
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :seizures do %>
                        <%= f.check_box :seizures %>
                        Seizures
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :limbweakness do %>
                        <%= f.check_box :limbweakness %>
                        Limb weakness
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :paresthesianumbness do %>
                        <%= f.check_box :paresthesianumbness %>
                        Paresthesia/numbness
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :speechproblems do %>
                        <%= f.check_box :speechproblems %>
                        Speech problems
                <% end %>
        </div>
