<%= nested_form_for(@note, remote: true, :multipart => true ) do |f| %>
<div class="modal-body">
    <div class="invoice-patient-details">
        <%= f.fields_for :patient do |builder|%>
            <div class="row">
                <div class="col-md-2 label-custom">
                    Patient Name : 
                </div>
                <div class="col-md-4">
                    <%= builder.text_field :fullname,{:class => 'form-control',:value=>@patient.fullname}%>
                </div>
                <div class="col-md-2 label-custom">
                    Mobile: 
                </div>
                <div class="col-md-2">
                    <%= builder.text_field :mobilenumber,{:class => 'form-control',:value=>@patient.mobilenumber}%>
                </div>
                <div class="col-md-1 label-custom">
                    Age: 
                </div>
                <div class="col-md-1">
                    <%= builder.text_field :age,{:class => 'form-control',:value=>@patient.age}%>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-2 label-custom">
                    Address Line 1: 
                </div>
                <div class="col-md-4">
                    <%= builder.text_field :address_1,{:class => 'form-control',:value=>@patient.address_1}%>
                </div>

                <div class="col-md-2 label-custom">
                    Address Line 2: 
                </div>
                <div class="col-md-4">
                    <%= builder.text_field :address_2,{:class => 'form-control',:value=>@patient.address_2}%>
                </div>

            </div>
            <div class="row">
                <div class="col-md-1 label-custom">
                    Gender: 
                </div>
                <div class="col-md-2">
                    <%= builder.radio_button(:gender,"Male",{:checked=>(@patient[:gender]=="Male")}) %>
                    <%= builder.label :gender ,"Male" %><br>
                    <%= builder.radio_button(:gender, "Female",{:checked=>(@patient[:gender]=="Female")}) %>
                    <%= builder.label :gender ,"Female" %>                      
                </div>
                <div class="col-md-1 label-custom">
                    city: 
                </div>
                <div class="col-md-2">
                    <%= builder.text_field :city,{:class => 'form-control',:value=>@patient[:city]}%>
                </div>
                <div class="col-md-1 label-custom">
                    state: 
                </div>
                <div class="col-md-2">
                    <%= builder.text_field :state,{:class => 'form-control',:value=>@patient[:state]}%>
                </div>
                <div class="col-md-1 label-custom">
                    pincode: 
                </div>
                <div class="col-md-2">
                    <%= builder.text_field :pincode,{:class => 'form-control',:value=>@patient[:pincode]}%>
                </div>

            </div>
        <% end %>
      <%= hidden_field_tag "_id", @admission.id %>
      <%= hidden_field_tag "patient_id", @admission.patient_id %>
    </div>
</div>
<div class="modal-footer">
    <%= f.submit "Save", class: "btn btn-success", remote: true, 'data-disable-with' => "Please wait.." %>
    <%= button_tag "Reset", class: "btn btn-danger ", :type => 'reset' %>
    <%= button_tag "Print", class: "btn btn-danger inpatient-admission-note-summary", :type => 'button', data: {admissionid: @admission.id} %>
    <button aria-hidden="true" class="btn btn-info signup-patient-form-close" data-dismiss="modal">Close</button> 
</div>
<% end %>