
        <div class="checkbox">
                <%= f.label :ph do %>
                        <%= f.check_box :ph %>
                        Previous Hospitalisation
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :hosurgery do %>
                        <%= f.check_box :hosurgery %>
                        H/o surgery
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :htn do %>
                        <%= f.check_box :htn %>
                        HTN
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :dm do %>
                        <%= f.check_box :dm %>
                        DM
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :tuberculosis do %>
                        <%= f.check_box :tuberculosis %>
                        Tuberculosis
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :asthma do %>
                        <%= f.check_box :asthma %>
                        Asthma
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :allergies do %>
                        <%= f.check_box :allergies %>
                        Allergies
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :cvd do %>
                        <%= f.check_box :cvd %>
                        Cardiovascular disease
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :stroke do %>
                        <%= f.check_box :stroke %>
                        Stroke
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :hepatitis do %>
                        <%= f.check_box :hepatitis %>
                        Hepatitis
                <% end %>
        </div>
