<% @admission.each do |admission| %>
    <tr>
      <td><%= admission.display_id %></td>
      <td><%= admission.patient.fullname %></td>
      <td><%= admission.patient.gender %></td>
      <td><%= admission.patient.age %></td>
      <td><%= admission.admissionreason %></td>
      <td><%= admission.patient.mobilenumber %></td>
      <td><%= "#{Time.strptime("#{admission.admissiontime}", "%Y-%m-%d %H:%M:%S").strftime("%I:%M %p")}" %></td>
    </tr>
<% end %>