
        <div class="checkbox">
                <%= f.label :sleepprobs do %>
                        <%= f.check_box :sleepprobs %>
                        Sleep problems
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :dec do %>
                        <%= f.check_box :dec %>
                        Decreased energy/concentration
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :anxiety do %>
                        <%= f.check_box :anxiety %>
                        Anxiety
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :paranoia do %>
                        <%= f.check_box :paranoia %>
                        Paranoia
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :changeinpers do %>
                        <%= f.check_box :changeinpers %>
                        Change in personality
                <% end %>
        </div>
