<div id="followuppatientform" class="followuppatientform">

  <%= form_tag ipd_patients_admit_patient_path, {:method => :post, remote: true, :multipart => true, :class => "signuppatientformtag"} do %>
      <!-- Used For Calender Purposes please dont delete without informing -->
      <input type="hidden" name="admissiondate" value=<%= params[:admissiondate] %>>
      <input type="hidden" name="admissiontime" value=<%= params[:admissiontime] %>>
      <div class="row mb10">

        <div class="col-md-6">
          <% if !@patient.id.nil? %>

              <div class="people-item">

                <div class="media">

                  <div class="row">

                    <div class="col-md-4">
                      <a href="#" class="pull-left">
                        <% if @patient.patientassets.present? %>
                          <%= image_tag @patient.patientassets[@patient.patientassets.size-1].asset_path_url(:thumb), :class => "thumbnail media-object" %>
                        <% else %>
                          <%= image_tag "photos/no_picture_available.png", :class => "thumbnail media-object" %>
                        <% end %>
                      </a>
                    </div>

                    <div class="col-md-8">

                      <div class="media-body">

                        <div class="row">

                          <div class="col-md-12">

                            <h4 class="person-name"> <%= @patient.fullname %> </h4>
                            <% if @patient.gender == 'Male' %>
                                <div class="text-muted"><i class="fa fa-male"></i> <%= @patient.gender %></div>
                            <% end %>
                            <% if @patient.gender == 'Female' %>
                                <div class="text-muted"><i class="fa fa-female"></i> <%= @patient.gender %></div>
                            <% end %>
                            <div class="text-muted"><i class="fa fa-map-marker"></i> <%= @patient.age %></div>
                            <div class="text-muted"><i class="fa fa-mobile-phone"></i> <%= @patient.mobilenumber %></div>
                            <% if @patient_ident.present? %>
                                <% if @patient_ident.mr_no.present? %>
                                    <div class="text-muted"><i class="glyphicon glyphicon-record"></i> MR NO: <%= @patient_ident.mr_no %></div>
                                <% end %>
                                <% if @patient_ident.ip_no.present? %>
                                    <div class="text-muted"><i class="glyphicon glyphicon-record"></i> IP NO. <%= @patient_ident.ip_no %></div>
                                <% end %>
                            <% end %>
                          </div>

                        </div>

                      </div>

                    </div>

                  </div>

                </div>
              </div>

          <% end %>
        </div>
        


        <!--<div class="col-md-6">-->

          <!--<div class="col-sm-12">-->
            <!--<label><span class="label label-success">Custom fields for saving patient's info for your personal reference.</span></label>-->
          <!--</div>-->

          <!--<div class="row mb10">-->

            <!--<div class="col-sm-6">-->
              <!--<label class="control-label">MR NO.</label>-->
              <!--<%= text_field_tag "mr_no","",  {:class => 'form-control patientmrno'} %>-->
            <!--</div>-->
            <!--<div class="col-sm-6">-->
              <!--<label class="control-label">IP NO. </label>-->
              <!--<%= text_field_tag "ip_no","", {:class => 'form-control patientipno'} %>-->
            <!--</div>-->

          <!--</div>-->
        <!--</div>-->
      </div>
      <%= hidden_field_tag "patientid", @patient.id %>
      <% @adms = Admission.find_by(patient_id: @patient.id, is_deleted: false, isdischarged: false) %>
      <% if @adms.nil? %>
          <%= submit_tag "Schedule Admission", class: "btn btn-success", remote: true, 'data-disable-with' => "Please wait.." %>
        <button aria-hidden="true" class="btn btn-info signup-patient-form-close" data-dismiss="modal">Close</button>
      <% else %>
        <b style="color:#f00;">Admission Exists For Patient <% unless @adms.facility_id == current_facility.id %> in Location: <%= @adms.facility.name %><% end %></b><br>
        <% if @adms.facility_id == current_facility.id %>
          <%= link_to edit_admission_path(:id => @adms.id), :class => "btn btn-info", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#admission-modal'} do %>Edit<% end %>
        <% else %>
          <button class="btn btn-info" disabled>Edit</button>
        <% end %>
        <button aria-hidden="true" class="btn btn-default signup-patient-form-close" data-dismiss="modal">Close</button>
      <% end %>

  <% end %>

</div>