
        <div class="checkbox">
                <%= f.label :alcohol do %>
                        <%= f.check_box :alcohol %>
                        Alcohol intake-significant
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :smoking do %>
                        <%= f.check_box :smoking %>
                        Smoking-significant
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :substance do %>
                        <%= f.check_box :substance %>
                        Substance abuse
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :family do %>
                        <%= f.check_box :family %>
                        Family
                <% end %>
        </div>

        <div class="checkbox">
                <%= f.label :job do %>
                        <%= f.check_box :job %>
                        Job
                <% end %>
        </div>
