<div class="modal-body">

    <div id="signuppatient" class="signuppatient">

      <div id="siguppatientform" class="signuppatientform">

        <%= form_tag ipd_patients_discharge_path, {:method => :post, remote: true, :multipart => true, :class => "signuppatientformtag"} do %>

            <div class="row mb10">

                <div class="col-md-12">
                    <label class="control-label">Discharge Details</label>

                    <br/>
                    <br/>

                    <div class="row mb10">

                        <div class="col-md-2">

                          <label>Discharge Date</label>
                            <div class="input-group">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                              <%= text_field_tag "dischargedate", nil, {:class => 'form-control dischargedate', :id => "dischargedate-datepicker", :placeholder => "dd/mm/yyyy" } %>
                            </div>

                        </div>

                        <div class="col-md-2">

                          <label>Discharge Time</label>
                            <div class="input-group mb15">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                <div class="bootstrap-timepicker timepicker">
                                  <%= text_field_tag "dischargetime", nil, {:class => 'form-control dischargetime', :id => "dischargetime-timepicker" } %>
                              </div>

                          </div>

                        </div>

                        <%= hidden_field_tag "patient_id", @patient.patientid %>
                        <%= hidden_field_tag "admissionid", @admission.admissionid %>

                    </div>

                </div>

            </div>

           <%= submit_tag "Discharge Patient", class: "btn btn-success", remote: true, 'data-disable-with' => "Please wait.." %>
           <%= button_tag "Cancel", class: "btn btn-danger", :type => 'reset' %>
           <button aria-hidden="true" class="btn btn-info signup-patient-form-close" data-dismiss="modal">Close</button>

          <% end %>

      </div>

    </div>

</div>
  <%= javascript_include_tag "bootstrap-timepicker.min", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "bootstrap-wizard.min", "data-turbolinks-track" => true %>
  <script>
    jQuery(document).ready(function() {
      jQuery('#dischargedate-datepicker').datepicker({
        dateFormat: "dd/mm/yy",
        minDate: 0
      });
      jQuery('#dischargetime-timepicker').timepicker({defaultTIme: false, minuteStep: 5});

    });
  </script>
