
    <div>
      <%= f.label :attachments %>
      <%= f.fields_for :attachments do |fi| %>
        <% if fi.object.new_record? %>
            <%= fi.file_field :attachment %>
        <% else %>
            <%= image_tag fi.object.attachment.url %>
            <%= fi.link_to_remove "Remove" %>
        <% end %>
      <% end %>
      <%= f.link_to_add "Add", :attachments %>
    </div>