<div class="row">
  <div class="col-md-6">
    <%= f.label :temperature %>
    <%= f.text_field :temperature, :class => 'form-control' %>
  </div>
  <div class="col-md-6">
    <%= f.label :weight %>
    <%= f.text_field :weight, :class => 'form-control' %>    
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.label :pulse %>
    <%= f.text_field :pulse, :class => 'form-control' %>
  </div>
  <div class="col-md-6">
    <%= f.label :respiratoryrate %>
    <%= f.text_field :respiratoryrate, :class => 'form-control' %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= f.label :bloodpressure %>
    <%= f.text_field :bloodpressure, :class => 'form-control' %>
  </div>
  <div class="col-md-6">
    <%= f.label :height %>
    <%= f.text_field :height, :class => 'form-control' %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= f.label :bmi %>
    <%= f.text_field :bmi, :class => 'form-control' %>
  </div>
</div>
