    <% @admissionlist.each_with_index() do |admission, index| %>
        <tr>
              <td> <%= index + 1 %></td>
              <td> <%= admission.patient.id %></td>
              <td>
                  <a id="popoverData" class="btn" href="#" data-content="<%= render "patientdetails", :admission => admission %>" rel="popover" data-placement="top" data-html="true" data-trigger="hover" data-toggle='popover' data-original-title="<%= admission.patient.fullname %>"><%= admission.patient.fullname %></a>
              </td>
              <td><%= admission.patient.gender %> </td>
              <td><%= admission.patient.age %> </td>
              <td> OA knee* </td>
              <td><%= "#{Date.strptime("#{admission.admissiondate}", "%Y-%m-%d").strftime('%d/%m/%Y')}" %></td>
              <td> <%= admission.ward %></td>
              <td> <% if (admission.try(:dischargedate)) %> <%= "#{Date.strptime("#{admission.dischargedate}", "%Y-%m-%d").strftime('%d/%m/%Y')}" %> <% end %> </td>
              <td> <% if (admission.try(:dischargetime)) %> <%= "#{Time.strptime("#{admission.dischargetime}", "%Y-%m-%d %H:%M:%S").strftime("%I:%M %p")}" %> <% end %> </td>
              <td class="table-action">

                  <div class="row">

                    <div class="col-md-3">
                        <span class="btn btn-xs btn-success inpatient-admission-discharge-update" data-patientid="<%= "#{ admission.patient_id }" %>" data-admissionid="<%= "#{ admission.id }" %>"><i class="fa fa-pencil-alt"></i></span>
                    </div>

                    <div class="col-md-3">
                        <span class="btn btn-xs btn-success inpatient-admission-discharge-print" data-patientid="<%= "#{ admission.patient_id }" %>" data-admissionid="<%= "#{ admission.id }" %>"><i class="fa fa-print"></i></span>
                    </div>

                    <div class="col-md-3">

                            <div class="btn-group">
                              <a data-toggle="dropdown" class="dropdown-toggle btn btn-xs btn-info">
                                <i class="fa fa-list-ol"></i>
                              </a>
                              <ul role="menu" class="dropdown-menu pull-right">
                                <li><span class="inpatient-admission-consent-form hg-span-highlight" data-patientid="<%= "#{ admission.patient_id }" %>" data-admissionid="<%= "#{ admission.id }" %>"><i class="fa fa-print"></i> Consent Form</span></li>
                                <li><span class="inpatient-admission-operation-note hg-span-highlight" data-patientid="<%= "#{ admission.patient_id }" %>" data-admissionid="<%= "#{ admission.id }" %>"><i class="fa fa-print"></i> OT Note</span></li>
                              </ul>
                          </div>

                    </div>

                    <div class="col-md-3">
                        <span class="btn btn-xs btn-success inpatient-admission-discharged" data-patientid="<%= "#{ admission.patient_id }" %>" data-admissionid="<%= "#{ admission.id }" %>"><i class="fa fa-sign-out-alt"></i></span>
                    </div>

                  </div>                                  
                  
              </td>
        </tr>
    <% end %>
    