<div style="font-family: <%= UsersSetting.find_by(user_id: current_user.id).font_style %>">

	<h4 style="text-align:center; border-bottom: 1px solid #aaa;font-weight:bold;">Admission List</h4>
	<h5><b>Date :</b> <span style="background-color:#eee;padding:2px;"><%= @datepicker_date %></span></h5>

	<table class="pcs-table">
		<thead>
		<tr>
			<th width="5%" style="font-weight:bold;">S.No</th>
			<th width="18%" style="font-weight:bold;">Admission ID</th>
			<th width="15%" style="font-weight:bold;">Facility</th>
			<th width="19%" style="font-weight:bold;">Patient ID</th>
			<th width="17%" style="font-weight:bold;">Patient Name</th>
			<th width="10%" style="font-weight:bold;">Gender</th>
			<th width="5%" style="font-weight:bold;">Age</th>
			<th width="12%" style="font-weight:bold;">Reason</th>
		</tr>
		</thead>
		<% if current_user.has_role?(:doctor) %>
    	<% @admission = Admission.where(:admissiondate => @datepicker_date, :facility_id => @facility.id.to_s,:doctor => current_user.id).order(admissiondate: :desc) %>
	  <% else %>
  		<% @admission = Admission.where(:admissiondate => @datepicker_date, :facility_id => @facility.id.to_s).order(admissiondate: :desc) %>
	  <% end %>
		<tbody>
			<% @admission.each_with_index do |admission, i| %>
			<tr>
				<td style="font-size:10px;"><%= i+1 %></td>
				<td style="font-size:10px;"><%= admission.display_id %></td>
				<td style="font-size:10px;"><%= admission.facility.name %></td>
				<td style="font-size:10px;"><%= admission.patient.patient_identifiers.where(:organisation_id => current_user.organisation_id).first.try(:patient_org_id) %></td>
				<td style="font-size:10px;"><%= admission.patient.fullname %></td>
				<td style="font-size:10px;"><%= admission.patient.gender %></td>
				<td style="font-size:10px;"><%= admission.patient.age %></td>
				<td style="font-size:10px;"><%= admission.admissionreason %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<div class="page_break_once"></div>
</div>
<style type="text/css">

.pcs-table, .pcs-table th, .pcs-table td {
    border: 1px solid #eeeeee;
    text-align: center;
    font-size: 10px;
    padding: 5px 10px;
}

.page_break_once {
  page-break-after: always;
}

</style>