<div style="font-family: <%= UsersSetting.find_by(user_id: current_user.id).font_style %>">
<h3 style="text-align:center; border-bottom: 1px solid #aaa;font-weight:bold;">Discharge List</h3>
<h5><b>Date :</b> <span style="background-color:#eee;padding:2px;"><%= Date.current.strftime("%d-%m-%y") %></span></h5>

<table class="pcs-table">
	<thead>
	<tr>
		<th width="5%" style="font-weight:bold;">S.No</th>
		<th width="20%" style="font-weight:bold;">Admission ID</th>
		<th width="20%" style="font-weight:bold;">Patient ID</th>
		<th width="20%" style="font-weight:bold;">Patient Name</th>
		<th width="10%" style="font-weight:bold;">Gender/Age</th>
		<th width="15%" style="font-weight:bold;">Reason for Admission</th>
		<th width="15%" style="font-weight:bold;">Discharged At</th>
	</tr>
	</thead>
	<% @admission.each_with_index do |admission, i| %>
	<tbody>
	<tr>
		<td><%= i+1 %></td>
		<td><%= admission.display_id %></td>
		<td><%= admission.patient.patient_identifiers.where(:organisation_id => current_user.organisation_id).first.try(:patient_org_id) %></td>
		<td><%= admission.patient.fullname %></td>
		<td><%= admission.patient.gender %>/<%= admission.patient.age %></td>
		<td><%= admission.admissionreason %></td>
		<td><%= admission.dischargetime.strftime("%I:%M %p, %d-%m-%y") %></td>
	</tr>
	</tbody>

	<% end %>


</table>

</div>
<style type="text/css">

.pcs-table, .pcs-table th, .pcs-table td {
    border: 1px solid #eeeeee;
    text-align: center;
    font-size: 10px;
    padding: 5px 10px;
}

</style>