<div style="font-family: <%= UsersSetting.find_by(user_id: current_user.id).font_style %>">
<h3 style="text-align:center; border-bottom: 1px solid #aaa;font-weight:bold;">Ot List</h3>
<h5><b>Date :</b> <span style="background-color:#eee;padding:2px;"><%= Date.current %></span></h5>

<table class="pcs-table">
	<thead>
	<tr>
		<th width="5%" style="font-weight:bold;">S.No</th>
		<th width="20%" style="font-weight:bold;">Otschedule ID</th>
		<th width="20%" style="font-weight:bold;">Patient ID</th>
		<th width="20%" style="font-weight:bold;">Patient Name</th>
		<th width="10%" style="font-weight:bold;">Gender</th>
		<th width="5%" style="font-weight:bold;">Age</th>
		<th width="30%" style="font-weight:bold;">Procedure Name</th>
		<th width="30%" style="font-weight:bold;">Surgeon Name</th>
	</tr>
	</thead>
	<% @otschedule.each_with_index do |otschedule, i| %>
	<tbody>
	<tr>
		<td><%= i+1 %></td>
		<td><%= otschedule.display_id %></td>
		<td><%= otschedule.patient.patient_identifiers.where(:organisation_id => current_user.organisation_id).first.try(:patient_org_id) %></td>
		<td><%= otschedule.patient.fullname %></td>
		<td><%= otschedule.patient.gender %></td>
		<td><%= otschedule.patient.age %></td>
		<td><%= otschedule.procedurename %></td>
		<td><%= otschedule.surgeonname %></td>
	</tr>
	</tbody>

	<% end %>


</table>
</div>

<style type="text/css">

.pcs-table, .pcs-table th, .pcs-table td {
    border: 1px solid #eeeeee;
    text-align: center;
    font-size: 10px;
    padding: 5px 10px;
}

</style>