<div style="font-family: <%= UsersSetting.find_by(user_id: current_user.id).font_style %>">
	<h4 style="text-align:center; border-bottom: 1px solid #aaa;font-weight:bold;">OT List</h4>
	<h5><b>Date :</b> <span style="background-color:#eee;padding:2px;"><%= @datepicker_date %></span></h5>

	<table class="pcs-table">
		<thead>
		<tr>
			<th style="font-weight:bold;">S.No</th>
			<th style="font-weight:bold;">OT ID</th>
			<th style="font-weight:bold;">Patient ID</th>
			<th style="font-weight:bold;">Patient Name</th>
			<th style="font-weight:bold;">Gender/Age</th>
			<th style="font-weight:bold;">Procedure Name</th>
			<th style="font-weight:bold;">Surgeon Name</th>
		</tr>
		</thead>
		<% @otschedule = OtSchedule.where(:otdate => Date.strptime("#{@datepicker_date}", "%Y-%m-%d"),:user_id => current_user.id) %>
		<% if [[158965000],[158965000,6868009]].include? current_user.role_ids %>
	    <% @otschedule = OtSchedule.where(:otdate => Date.strptime("#{@datepicker_date}", "%Y-%m-%d"),:surgeonname => current_user.id, :facility_id => @facility.id) %>
	  <% else %>
	    <% @appointmentlist = Appointment.where(:appointmentdate => @datepicker_date, :facility_id => @facility.id).order(appointmenttime: :desc) %>
	    <% @otschedule = OtSchedule.where(:otdate => Date.strptime("#{@datepicker_date}", "%Y-%m-%d"), :facility_id => @facility.id) %>
	  <% end %>
		<tbody>
			<% @otschedule.each_with_index do |otschedule, i| %>
			<tr>
				<td><%= i+1 %></td>
				<td><%= otschedule.display_id %></td>
				<td><%= otschedule.patient.patient_identifiers.where(:organisation_id => current_user.organisation_id).first.try(:patient_org_id) %></td>
				<td><%= otschedule.patient.fullname %></td>
				<td><%= otschedule.patient.gender %><% if !otschedule.patient.gender.nil? && !otschedule.patient.age.nil? %>/<% end %><%= otschedule.patient.age %></td>
				<td><%= otschedule.procedurename %></td>
				<td><%= User.find_by(:id => otschedule.surgeonname.to_s).fullname %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<div class="page_break_once"></div>

</div>
<style type="text/css">

.pcs-table, .pcs-table th, .pcs-table td {
    border: 1px solid #eeeeee;
    text-align: center;
    font-size: 10px;
    padding: 5px 10px;
}

.page_break_once {
  page-break-after: always;
}

</style>

</style>