<div style="font-family: <%= UsersSetting.find_by(user_id: current_user.id).font_style %>">
<% @user = User.find_by(:id => @admission.doctor.to_s) %>
<h4 style="text-align:center">OT Consent Form</h4>

<div class="container-fluid">
  <div class="row mb20">

    <div class="col-md-12">

      <p style="font-size:10px;">I, <b><%= @patient.fullname %></b> authorize and consent to the performance of the following
        surgery/ procedure:<span style="color:#fff;"> _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _  _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</span>
        to be performed by or under the direction of <b>&nbsp;Dr. <%= @user.fullname %></b> for treatment/management of<span style="color:#fff;">  _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</span>  on _ _ _ _ _ _ _ _
        I have been explained by the doctor that the known possible complications of the surgery/ procedure are :</p>
      <br/>
      <br/>


      <ul>
        <li style="font-size:10px;">
          I have been fully explained about the kind of procedure the doctor will perform and she/ he has answered my
          questions about my condition and the procedure to my satisfaction. The doctor has also explained alternative
          methods of treatment to me and I give consent for the surgery/ procedure including the administration of blood
          or blood components if necessary, as a best means of trying to correct the condition.
        </li>
        <li style="font-size:10px;">
          I further consent to the performance of any additional procedures during the course of my surgery/procedure
          which the doctor or associates deem necessary to correct the existing condition or any other unhealthy
          condition which they may discover.
        </li>
        <li style="font-size:10px;">
          I have been explained clearly that no medication/ investigation/ anesthesia/ operation/ therapy/ procedure/
          dialysis is totally safe and that such procedure/ anesthesia can pose a risk to life of a otherwise healthy
          person also.
        </li>
        <li style="font-size:10px;">
          I consent to observing, recording or televising the procedure to be performed, including appropriate portions
          of the patient's body, for medical, scientific or educational purpose, provided the patient's identity is not
          revealed.
        </li>
        <li style="font-size:10px;">
          I consent to disposal by hospital authorities of any tissue or part that may be removed during the surgery/
          procedure. The tissue removed shall be tested for histopathology.
        </li>
        <li style="font-size:10px;">
          I have been explained the aforesaid and/ or the above written text has been read out to me in my preferred/
          spoken language. I have understood the same and I given informed, written, valid consent.
        </li>
      </ul>
    </div>

  </div>

  <br/>
  <div class="row mb10">
    <div class="col-md-6">
      <table>
        <tbody>
        <tr>
          <th style="font-size:10px; width:65%;">Patient Name:</th>
          <td style="font-size:10px;"><%= @patient.fullname %></td>
        </tr>
        <tr>
          <th style="font-size:10px; width:65%;">Guardian:</th>
          <td style="font-size:10px;">_ _ _ _ _ _ _ _ _</td>
        </tr>
        <tr>
          <th style="font-size:10px; width:65%;">Relative/Witness:</th>
          <td style="font-size:10px;">_ _ _ _ _ _ _ _ _</td>
        </tr>
        <tr>
          <th style="font-size:10px; width:65%;">Recorded by:</th>
          <td style="font-size:10px;">_ _ _ _ _ _ _ _ _</td>
        </tr>
        <tr>
          <th style="font-size:10px; width:65%;">Signature:</th>
          <td style="font-size:10px;"></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table>
        <tbody>
        <tr>
          <th style="font-size:10px; width:65%;">Doctor Name:</th>
          <td style="font-size:10px;"><%= @user.fullname %></td>
        </tr>
        <tr>
          <th style="font-size:10px; width:65%;">Designation:</th>
          <% if @user.designation.blank? %>
            <td style="font-size:10px;">_ _ _ _ _ _ _ _ _</td>
          <% else %>
            <td style="font-size:10px;"><%= @user.designation %></td>
          <% end %>
        </tr>
        <tr>
          <th style="font-size:10px; width:65%;">Date & Time:</th>
          <td style="font-size:10px;">_ _ _ _ _ _ _ _ _</td>
        </tr>
        <tr>
          <th style="font-size:10px; width:65%;">Doctors Signature:</th>
          <td style="font-size:10px;"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>