<div style="font-family: <%= UsersSetting.find_by(user_id: current_user.id).font_style %>">
<h4 style="text-align:center;font-size: 20pt;text-decoration: underline">Admission Consent </h4>
<br>
<div class="container-fluid adjust_font_size_print">
  <div class="row mb20">

    <div class="col-md-12">

      <% patient_other_identifier =  PatientOtherIdentifier.find_by(patient_id: @patient.id.to_s)  %>

      <p ><span style="text-align: center">I, <b><%= @patient.fullname.split(" ").map(&:capitalize).join(" ") %></b>(patient) with Hospital No:<span><%if patient_other_identifier.try(:mr_no).present? %><%=patient_other_identifier.mr_no%><%else%><%= PatientIdentifier.find_by(patient_id: @patient.id.to_s).try(:patient_org_id) %><%end%> </span></span>or ...............................(representative of patient) have read and have been explained this consent form in the language I fully understand.</p>
      <br/>
        <p>I give my full consent and authorization for admission and treatment at this hospital. The proposed treatment plan has been explained to me. I consent and authorize the hospital, treating doctors, nursing, technical and paramedical staff to provide relevant care and to advice and conduct diagnostic and therapeutic management as deemed necessary.</p>
        <br>
        <p>I also consent to be administered necessary drugs, medications, intravenous fluids, as advised by the treating doctor / team.</p>
      <br>
      <p>I also consent to use of assistants such as resident doctors, other doctors (including trainees), nurses, and other healthcare workers by the hospital and treating doctor / team.</p>
      <br>
      <p>I have been explained about the proposed care plan, expected result(s), possible outcome(s), and expected cost of treatment / hospital stay.</p>
      <br>
      <p>I understand that the hospital will take due care of me / my patient but, that there is always a possibility of unexpected complication(s) which may necessitate longer stay and / or use of intensive care services. In such cases, procedure(s) different from those contemplated and other intervention(s) may sometimes be needed.</p>
      <br>
      <p>I declare that, I have and will inform the doctors my medical history including previous illnesses, allergies, drug reactions, surgical procedure, relevant medical family history, and  all other facts relevant to my treatment. I shall not hold the hospital / doctor responsible for any consequences which may arise  due to non-disclosure of relevant information on my part.</p>

    </div>

  </div>
  <br/>
  <br/>

  <div class="row">

    <div class="col-md-6">
      <table>
        <thead>
        <tr>
          <th style=" width:65%">Patient's Name :</th>
          <td style=""><%= @patient.fullname.split(" ").map(&:capitalize).join(" ") %></td>
        </tr>
        <tr>
          <th style="width:65%">Patient's Sign. :</th>
          <td style=""></td>
        </tr>
        <tr>
          <th style=" width:65%">Date :</th>
          <td style="">
            <%= Date.current %></td>
        </tr>
        </thead>
      </table>
    </div>
    <div class="col-md-6">
      <table>
        <thead>
        <tr>
          <th style=" width:65%">Admitted By :</th>
          <td style="">_ _ _ _ _ _ _ </td>
        </tr>
        <tr>
          <th style=" width:65%">Doctor's name :</th>
          <td style="">Dr.<%= User.find_by(id: @admission.doctor).fullname %></td>
        </tr>
        <tr>
          <th style=" width:65%">Recorded by :</th>
          <td style="">_ _ _ _ _ _ _ </td>
        </tr>
        </thead>
      </table>
    </div>
  </div>

</div>
</div>
<style type="text/css">
    .adjust_font_size_print * {
        font-size: 10pt;
        font-family: "Verdana";
        text-align: justify;
    }
</style>