<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header window-header">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Adverse Events</h4>
      </div>
    </div>
    <div class="modal-body window-body">
      <div class="adverse-event" style="box-shadow: 0 0 6px #ccc;max-width: 110%;padding: 0 0.400000in 0 0.550000in;padding-top: 10px;padding-right: 0.4in;padding-bottom: 10px;padding-left: 0.55in;">
        <%= render partial: 'adverse_events/patient_info' %>
        <div class="row">
          <div class="col-md-4">
            <b style="color:#000;">Occurence Date</b><br>
            <%= @adverse_event.try(:occured_date).try(:strftime, '%d/%m/%Y') %>
          </div>
          <div class="col-md-4">
            <b style="color:#000;">Occurence Time</b><br>
            <%= @adverse_event.try(:occured_time).try(:strftime, '%I:%M %p') %>
          </div>
          <div class="col-md-4">
            <b style="color:#000;">Concerned Person</b><br>
            <% user = User.where(id: @adverse_event.concerned_person).pluck(:fullname) %>
            <%= user[0] %>
          </div>
        </div><br>
        <div class="row">
          <div class="col-md-12">
            <% if @adverse_event.method_management.present? %>
              <b style="color:#000;">Method Of Management</b>
              <span>: <%= @adverse_event.method_management.titleize %></span>
            <% end %>
          </div>
          <div class="col-md-12">
            <% if @adverse_event.final_outcome.present? %>
              <b style="color:#000;">Final Outcome</b>
              <span>: <%= @adverse_event.final_outcome.titleize %></span>
            <% end %>
          </div>
        </div>
        <hr>
        <div class="row adverse-type">
          <% sub_speciality = @adverse_event&.sub_speciality %>
          <div class="col-md-6">
            <b style="color:#000;">Sub Speciality <%= sub_speciality.to_s.upcase %></b>
          </div>
        </div>
        <div class="row adverse-type">
          <% type = @adverse_event&.type %>
          <div class="col-md-6">
            <b style="color:#000;"><%= type.to_s.upcase %> EVENT</b>
          </div>
        </div>
        <div style="margin-left: 5px">
          <% if type == 'critical' %>
            <div class="type-data row">
              <% options = @critical_events[sub_speciality.downcase.gsub(' ','_')]%>
              <% if options.present? %>
                <% options.each do |option| %>
                  <% if @adverse_event.send(option[:value]).present? %>
                    <div class="col-md-12">
                      <b><%= option[:name]%></b>
                      <% if @adverse_event.send("#{option[:value]}_comment".to_sym).present? %>
                        <span>: <%= @adverse_event.send("#{option[:value]}_comment".to_sym) %></span>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>

          <% if type == 'major' %>
            <div class="type-data row">
              <% if @adverse_event.patient_distress.present? %>
                <div class="col-md-12">
                  <b>Patient Distress managed within Hospital premises</b><br/>
                  <% if @adverse_event.patient_distress_one.present? %>
                    <span><%= @adverse_event.patient_distress_one.titleize %></span>
                  <% end %>
                  <% if @adverse_event.patient_distress_comment.present? %>
                    <span>: <%= @adverse_event.patient_distress_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.postop_inflammation.present? %>
                <div class="col-md-12">
                  <b>POSTOP INFLAMMATION not requiring IVAB/PPV</b><br/>
                  <% if @adverse_event.postop_inflammation_one.present? %>
                    <span><%= @adverse_event.postop_inflammation_one.titleize %></span>
                  <% end %>
                  <% if @adverse_event.postop_inflammation_comment.present? %>
                    <span>: <%= @adverse_event.postop_inflammation_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.aqueous_meets_vitreous.present? %>
                <div class="col-md-12">
                  <b>Aqueous meets vitreous</b><br/>
                  <% if @adverse_event.aqueous_meets_vitreous_one.present? %>
                    <span><%= @adverse_event.aqueous_meets_vitreous_one.titleize %></span>
                  <% end %>
                  <% if @adverse_event.aqueous_meets_vitreous_comment.present? %>
                    <span>: <%= @adverse_event.aqueous_meets_vitreous_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.surgical_complications_repeat_surgeries.present? %>
                <div class="col-md-12">
                  <b>Surgical complications/Repeat surgeries</b><br/>
                  <% if @adverse_event.surgical_complications_repeat_surgeries_one.present? %>
                    <span><%= @adverse_event.surgical_complications_repeat_surgeries_one.titleize %></span><br/>
                  <% end %>
                  <% if @adverse_event.major_cornea.present? %>
                    <span><%= @adverse_event.major_cornea.titleize %></span>
                  <% end %>
                  <% if @adverse_event.major_cataract.present? %>
                    <span><%= @adverse_event.major_cataract.titleize %></span>
                  <% end %>
                  <% if @adverse_event.major_refractive.present? %>
                    <span><%= @adverse_event.major_refractive.titleize %></span>
                  <% end %>
                  <% if @adverse_event.major_retina.present? %>
                    <span><%= @adverse_event.major_retina.titleize %></span>
                  <% end %>
                  <% if @adverse_event.major_squint.present? %>
                    <span><%= @adverse_event.major_squint.titleize %></span>
                  <% end %>
                  <% if @adverse_event.major_glaucoma.present? %>
                    <span><%= @adverse_event.major_glaucoma.titleize %></span>
                  <% end %>
                  <% if @adverse_event.surgical_complications_repeat_surgeries_comment.present? %>
                    <span>: <%= @adverse_event.surgical_complications_repeat_surgeries_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.wrong_iol_power.present? %>
                <div class="col-md-12">
                  <b>IOL related complication</b><br/>
                  <% if @adverse_event.wrong_iol_power_one.present? %>
                    <span><%= @adverse_event.wrong_iol_power_one.titleize %></span>
                  <% end %>
                  <% if @adverse_event.wrong_iol_power_comment.present? %>
                    <span>: <%= @adverse_event.wrong_iol_power_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.culture_postivity_ot_electrical.present? %>
                <div class="col-md-12">
                  <b>OT CULTURE positive</b>
                  <% if @adverse_event.culture_postivity_ot_electrical_comment.present? %>
                    <span>: <%= @adverse_event.culture_postivity_ot_electrical_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.abandoning_surgery.present? %>
                <div class="col-md-12">
                  <b>Abandoning surgery ( e.g. due to retina -severe bleed, lasik lost flap, PKP - donor graft loss)</b>
                  <% if @adverse_event.abandoning_surgery_comment.present? %>
                    <span>: <%= @adverse_event.abandoning_surgery_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.customer_complaint_staff.present? %>
                <div class="col-md-12">
                  <b>Complaint letter/Mail towards doctor or staff</b>
                  <% if @adverse_event.customer_complaint_staff_comment.present? %>
                    <span>: <%= @adverse_event.customer_complaint_staff_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.pbk_surgery.present? %>
                <div class="col-md-12">
                  <b>PBK following any surgery in our hospital within 1 year of initial surgery</b>
                  <% if @adverse_event.pbk_surgery_comment.present? %>
                    <span>: <%= @adverse_event.pbk_surgery_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.rescheduling_cancelling_surgery.present? %>
                <div class="col-md-12">
                  <b>Rescheduling / cancelling surgery</b><br/>
                  <% if @adverse_event.rescheduling_cancelling_surgery_one.present? %>
                    <span><%= @adverse_event.rescheduling_cancelling_surgery_one.titleize %></span>
                  <% end %>
                  <% if @adverse_event.rescheduling_cancelling_surgery_comment.present? %>
                    <span>: <%= @adverse_event.rescheduling_cancelling_surgery_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.optical_related.present? %>
                <div class="col-md-12">
                  <b>Optical related complaint/problem</b><br/>
                  <% if @adverse_event.optical_related_one.present? %>
                    <span><%= @adverse_event.optical_related_one.titleize %></span>
                  <% end %>
                  <% if @adverse_event.optical_related_comment.present? %>
                    <span>: <%= @adverse_event.optical_related_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.retrobulbar_hemorrhage.present? %>
                <div class="col-md-12">
                  <b>Retrobulbar hemorrhage post anesthesia</b><br/>
                  <% if @adverse_event.retrobulbar_hemorrhage_comment.present? %>
                    <span>: <%= @adverse_event.retrobulbar_hemorrhage_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.previously_attached_retina.present? %>
                <div class="col-md-12">
                  <b>RD in previously attached retina /Re- RD within 2 months of SB/PPV/SOR</b><br/>
                  <% if @adverse_event.previously_attached_retina_comment.present? %>
                    <span>: <%= @adverse_event.previously_attached_retina_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.resurgery_sclerotomy_closure.present? %>
                <div class="col-md-12">
                  <b>Re-surgery – Sclerotomy closure/Vitreous lavage/Re vitrectomy/Revision Buckle within 2 months of the primary surgery</b><br/>
                  <% if @adverse_event.resurgery_sclerotomy_closure_comment.present? %>
                    <span>: <%= @adverse_event.resurgery_sclerotomy_closure_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.post_operative_bcva.present? %>
                <div class="col-md-12">
                  <b>Post-operative BCVA less than pre-operative BCVA at 4 months</b><br/>
                  <% if @adverse_event.post_operative_bcva_comment.present? %>
                    <span>: <%= @adverse_event.post_operative_bcva_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.secondary_glaucoma.present? %>
                <div class="col-md-12">
                  <b>Secondary glaucoma leading to vision reduction/ vision loss</b><br/>
                  <% if @adverse_event.secondary_glaucoma_comment.present? %>
                    <span>: <%= @adverse_event.secondary_glaucoma_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.infection_after_procedure.present? %>
                <div class="col-md-12">
                  <b>Infection after any procedure</b><br/>
                  <% if @adverse_event.infection_after_procedure_comment.present? %>
                    <span>: <%= @adverse_event.infection_after_procedure_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.resurgery_bleb_version.present? %>
                <div class="col-md-12">
                  <b>Re-surgery/ Bleb revision</b><br/>
                  <% if @adverse_event.resurgery_bleb_version_comment.present? %>
                    <span>: <%= @adverse_event.resurgery_bleb_version_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.persistent_choroidal_effusion.present? %>
                <div class="col-md-12">
                  <b>Persistent choroidal effusion</b><br/>
                  <% if @adverse_event.persistent_choroidal_effusion_comment.present? %>
                    <span>: <%= @adverse_event.persistent_choroidal_effusion_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.maglignant_glaucoma_post_surgery.present? %>
                <div class="col-md-12">
                  <b>Malignant glaucoma post-surgery</b><br/>
                  <% if @adverse_event.maglignant_glaucoma_post_surgery_comment.present? %>
                    <span>: <%= @adverse_event.maglignant_glaucoma_post_surgery_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.stoppage_of_OT.present? %>
                <div class="col-md-12">
                  <b>Biomedical/electrical/ project related issue leading to stoppage of OT</b>
                  <% if @adverse_event.stoppage_of_OT_comment.present? %>
                    <span>: <%= @adverse_event.stoppage_of_OT_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.wrong_drugs.present? %>
                <div class="col-md-12">
                  <b>Pharmacy dispensing wrong drugs</b>
                  <% if @adverse_event.wrong_drugs_comment.present? %>
                    <span>: <%= @adverse_event.wrong_drugs_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.customer_complaint_department.present? %>
                <div class="col-md-12">
                  <b>Lab report of wrong patient</b>
                  <% if @adverse_event.customer_complaint_department_comment.present? %>
                    <span>: <%= @adverse_event.customer_complaint_department_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.consent_not_taken.present? %>
                <div class="col-md-12">
                  <b>Consent form not taken</b>
                  <% if @adverse_event.consent_not_taken_comment.present? %>
                    <span>: <%= @adverse_event.consent_not_taken_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.major_others.present? %>
                <div class="col-md-12">
                  <b>Others - specify</b>
                  <% if @adverse_event.major_others_comment.present? %>
                    <span>: <%= @adverse_event.major_others_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.failed_bleb.present? %>
                <div class="col-md-12">
                  <b>Failed Bleb requiring 2 or more anti-glaucoma medications post-surgery at 3 months</b>
                  <% if @adverse_event.failed_bleb_comment.present? %>
                    <span>: <%= @adverse_event.failed_bleb_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.encapsulated_bleb.present? %>
                <div class="col-md-12">
                  <b>Encapsulated bleb at 3 months after the surgery</b>
                  <% if @adverse_event.encapsulated_bleb_comment.present? %>
                    <span>: <%= @adverse_event.encapsulated_bleb_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.corneal_endothelial.present? %>
                <div class="col-md-12">
                  <b>Corneal endothelial touch by valve/shunt tube, exposure of tube or plate</b>
                  <% if @adverse_event.corneal_endothelial_comment.present? %>
                    <span>: <%= @adverse_event.corneal_endothelial_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.persistent_ptosis.present? %>
                <div class="col-md-12">
                  <b>Persistent ptosis post glaucoma surgery</b>
                  <% if @adverse_event.persistent_ptosis_comment.present? %>
                    <span>: <%= @adverse_event.persistent_ptosis_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.diplopia_or_strabismus.present? %>
                <div class="col-md-12">
                  <b>Diplopia or Strabismus post valve surgery</b>
                  <% if @adverse_event.diplopia_or_strabismus_comment.present? %>
                    <span>: <%= @adverse_event.diplopia_or_strabismus_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.severe_hyphema.present? %>
                <div class="col-md-12">
                  <b>Moderate to severe hyphema post YAG PI, reducing vision</b>
                  <% if @adverse_event.severe_hyphema_comment.present? %>
                    <span>: <%= @adverse_event.severe_hyphema_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.lasik.present? %>
                <div class="col-md-12">
                  <b>Free flap, Buttonhole, sx postponed due to suction loss (LASIK)</b>
                  <% if @adverse_event.lasik_comment.present? %>
                    <span>: <%= @adverse_event.lasik_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.opaque_bubble_layer.present? %>
                <div class="col-md-12">
                  <b>Opaque Bubble layer, Vertical breakthroughs (Femto LASIK)</b>
                  <% if @adverse_event.opaque_bubble_layer_comment.present? %>
                    <span>: <%= @adverse_event.opaque_bubble_layer_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.macrostriae_dlk.present? %>
                <div class="col-md-12">
                  <b>Macrostriae, Diffuse Lamellar keratitis (LASIK/ Femto LASIK)</b>
                  <% if @adverse_event.macrostriae_dlk_comment.present? %>
                    <span>: <%= @adverse_event.macrostriae_dlk_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.infection.present? %>
                <div class="col-md-12">
                  <b>Infection after CXL/OPK/DALK/refractive procedure</b>
                  <% if @adverse_event.infection_comment.present? %>
                    <span>: <%= @adverse_event.infection_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.graft_failure.present? %>
                <div class="col-md-12">
                  <b>Graft failure/melt within 6 months (PKP/DALK/PDEK/DSEK)</b>
                  <% if @adverse_event.graft_failure_comment.present? %>
                    <span>: <%= @adverse_event.graft_failure_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.lenticule_detachment.present? %>
                <div class="col-md-12">
                  <b>Lenticule detachment (PDEK/DSEK)</b>
                  <% if @adverse_event.lenticule_detachment_comment.present? %>
                    <span>: <%= @adverse_event.lenticule_detachment_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.corneal_haze.present? %>
                <div class="col-md-12">
                  <b>Corneal haze/scar after CXL/PRK after 3 months</b>
                  <% if @adverse_event.corneal_haze_comment.present? %>
                    <span>: <%= @adverse_event.corneal_haze_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.epithelial_ingrowth.present? %>
                <div class="col-md-12">
                  <b>Epithelial ingrowth grade 3 (LASIK)</b>
                  <% if @adverse_event.epithelial_ingrowth_comment.present? %>
                    <span>: <%= @adverse_event.epithelial_ingrowth_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.cataract_icl.present? %>
                <div class="col-md-12">
                  <b>Cataract within 6 months of ICL</b>
                  <% if @adverse_event.cataract_icl_comment.present? %>
                    <span>: <%= @adverse_event.cataract_icl_comment %></span>
                  <% end %>
                </div>
              <% end %>
              <% if @adverse_event.cornea_melt.present? %>
                <div class="col-md-12">
                  <b>Cornea melt/ Extrusion of CAIRS/INTACS within 6 weeks of surgery</b>
                  <% if @adverse_event.cornea_melt_comment.present? %>
                    <span>: <%= @adverse_event.cornea_melt_comment %></span>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>

          <% if type == 'minor' %>
            <div class="type-data row">
              <% options = @minor_events[sub_speciality.downcase.gsub(' ','_')]%>
              <% if options.present? %>
                <% options.each do |option| %>
                  <% if @adverse_event.send(option[:value]).present? %>
                    <div class="col-md-12">
                      <b><%= option[:name]%></b>
                      <% if @adverse_event.send("#{option[:value]}_comment".to_sym).present? %>
                        <span>: <%= @adverse_event.send("#{option[:value]}_comment".to_sym) %></span>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="pull-right">
        <% if @adverse_event.occured_date == Date.current %>
          <%= link_to edit_adverse_event_path(id: @adverse_event.id, patient_id: @patient.id), id: 'edit_adverse_event', data: { remote: true }, class: 'btn btn-primary' do %><i class="fa fa-edit"></i> Edit<% end %>
        <% end %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
