<div class="row mb10">
  <div class="col-md-12 text-center">
    <div class="pcs-entity-title">
      <span>OT Checklist Summary</span>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <strong>OT CHECKLIST :</strong>
        <div class="summary-line-border"></div>
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-12 col-sm-12">
        <div class="col-md-4 col-sm-4"><b>Comment : </b></div>
        <div class="col-md-8 col-sm-8">
          <% if ot_checklist.otchecklist_comments.present? %>
            <span><%= ot_checklist.otchecklist_comments %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-12 col-sm-12">
        <div class="col-md-4 col-sm-4"> <b>Procedures : </b></div>
        <div class="col-md-8 col-sm-8">
          <% if @ipdrecord.present? && @ipdrecord.procedure.count > 0 %>
            <% @ipdrecord.procedure.each_with_index do |procedure,i| %>
              <% if procedure.ot_checklist == true %>
                <li>
                  <% if procedure.try(:procedureside) == "18944008" %>
                      <%= procedure.procedurename + ', R' %>
                  <% elsif procedure.try(:procedureside) == "8966001" %>
                      <%= procedure.procedurename + ', L' %>
                  <% elsif  procedure.try(:procedureside) == "40638003" %>
                      <%= procedure.procedurename + ', B/E' %>
                  <% else %>
                      <%= procedure.procedurename %>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-12 col-sm-12">
        <strong><b style="text-decoration:underline;">SIGN-IN (Before Induction):</b></strong>
      </div>
      <div class="col-md-12 col-sm-12">
        <% if ot_checklist.site_marked.present? %>
          <div class="col-md-12 col-sm-12">
            <span>Site Marked</span>
          </div>
        <% end %>
        <% if ot_checklist.id_band_by_patient.present? %>
          <div class="col-md-12 col-sm-12">
            <span>Id Band Worn By The Patient</span>
          </div>
        <% end %>
        <% if ot_checklist.history_physical_condition.present? %>
          <div class="col-md-12 col-sm-12">
            <span>History & Physical Conditions Reviewed</span>
          </div>
        <% end %>
        <% if ot_checklist.procedure_explained.present? %>
          <div class="col-md-12 col-sm-12">
            <span>Procedure Explained To Patient & Attended</span>
          </div>
        <% end %>
        <% if ot_checklist.bill_payment.present? %>
          <div class="col-md-12 col-sm-12">
            <span>Bill Payment Done</span>
          </div>
        <% end %>
        <% if ot_checklist.anaesthesia_safety_check.present? %>
          <div class="col-md-12 col-sm-12">
            <span>Anaesthesia Safety Check Done</span>
          </div>
        <% end %>
        <% if ot_checklist.anesthesia_machine.present? %>
          <div class="col-md-12 col-sm-12">
            <span>Anesthesia Machine checked</span>
          </div>
        <% end %>
        <% if ot_checklist.manitol.present? %>
          <div class="col-md-12 col-sm-12">
            <span>IV manitol</span>
          </div>
        <% end %>
        <% if ot_checklist.tourniquet_drills_suction.present? %>
          <div class="col-md-12 col-sm-12">
            <span>Tourniquet/Drills/Suction Checked</span>
          </div>
        <% end %>
        <% if ot_checklist.implants_checked.present? %>
          <div class="col-md-12 col-sm-12">
            <span>Implants checked</span>
          </div>
        <% end %>
        <% if ot_checklist.lidocaine_test_dose.present? %>
          <div class="col-md-4 col-sm-4">
            <span>lidocaine test done :</span>
          </div>
          <div class="col-md-8 col-sm-8">
            <span><%=ot_checklist.lidocaine_test_dose %></span>
          </div>
        <% end %>
        <% if ot_checklist.dose_given_by.present? %>
          <div class="col-md-4 col-sm-4">
            <span>Dose given by :</span>
          </div>
          <div class="col-md-8 col-sm-8">
            <span><%=ot_checklist.dose_given_by %></span>
          </div>
        <% end %>
        <% if ot_checklist.dose_checked_by.present? %>
          <div class="col-md-4 col-sm-4">
            <span>Dose checked by :</span>
          </div>
          <div class="col-md-8 col-sm-8">
            <span><%= ot_checklist.dose_checked_by %></span>
          </div>
        <% end %>
        <div class="col-md-4 col-sm-4">
          <span>Patient Allergy :</span>
        </div>
        <div class="col-md-8 col-sm-8">
          <% if ot_checklist.patient_allergy.present? %>
            <span><%= ot_checklist.patient_allergy.titleize %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-4 col-sm-4">
          <span>Pre Op Iodine applied :</span>
        </div>
        <div class="col-md-8 col-sm-8">
          <% if ot_checklist.pre_op_iodine.present? %>
            <span><%= ot_checklist.pre_op_iodine.titleize %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <% if ot_checklist.correct_patient.present? %>
          <div class="col-md-4 col-sm-4">
            <span>Correct Patient :</span>
          </div>
          <div class="col-md-8 col-sm-8">
            <% if ot_checklist.correct_identity.present? %>
              <span>Identity | </span>
            <% end %>
            <% if ot_checklist.site.present? %>
              <span>Site | </span>
            <% end %>
            <% if ot_checklist.correct_procedure.present? %>
              <span>Correct Procedure | </span>
            <% end %>
            <% if ot_checklist.before_induction_valid_consent.present? %>
              <span>Valid Consent | </span>
            <% end %>
          </div>
        <% end %>
        <% if ot_checklist.pre_surgical_assessemt.present? %>
          <div class="col-md-4 col-sm-4">
            <span>Pre Surgical Assessment :</span>
          </div>
          <div class="col-md-8 col-sm-8">
            <% if ot_checklist.pupils_dilated.present? %>
              <span>Pupils Dilated | </span>
            <% end %>
            <% if ot_checklist.preoperative_medication.present? %>
              <span>Preoperative Medication Given | </span>
            <% end %>
            <% if ot_checklist.vital_monitored.present? %>
              <span>Vital Monitored & Recorded | </span>
            <% end %>
            <% if ot_checklist.surgical_antibiotic.present? %>
              <span>Surgical Antibiotic Prophylaxis Given | </span>
            <% end %>
            <% if ot_checklist.iol_power_check.present? %>
              <span>Iol Power Checked By Surgeon |</span>
            <% end %>
          </div>
        <% end %>
        <% if ot_checklist.pre_anaesthesia_complete.present? %>
          <div class="col-md-4 col-sm-4">
            <span>Pre Anaesthesia Complete :</span>
          </div>
          <div class="col-md-8 col-sm-8">
            <% if ot_checklist.any_significant_systemic_ailments_noted.present? %>
              <span>Any Significant Systemic Ailments Noted | </span>
            <% end %>
            <% if ot_checklist.any_drug_allergy_noted.present? %>
              <span>Any Drug Allergies Noted |</span>
            <% end %>
          </div>
        <% end %>
        <% if ot_checklist.difficult_airway.present? %>
          <div class="col-md-4 col-sm-4">
            <span>Difficult Airway :</span>
          </div>
          <div class="col-md-8 col-sm-8">
            <% if ot_checklist.not_applicable.present? %>
              <span>Not Applicable | </span>
            <% end %>
            <% if ot_checklist.equipment_assessment_available.present? %>
              <span>Equipment/Assessment Available |</span>
            <% end %>
          </div>
        <% end %>
        <% if ot_checklist.history_and_anticoagulants.present? %>
          <div class="col-md-4 col-sm-4">
            <span>History & Anticoagulants :</span>
          </div>
          <div class="col-md-8 col-sm-8">
            <% if ot_checklist.continued.present? %>
              <span>Continued | </span>
            <% end %>
            <% if ot_checklist.stopped_as_instructed.present? %>
              <span>Stopped As Instructed |</span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-12 col-sm-12">
        <strong><b style="text-decoration:underline;">TIME-OUT (Surgeon-Anesthetist-Nurse Verify):</b></strong>
      </div>
      <div class="col-md-12 col-sm-12">
        <% if ot_checklist.confirm_team_listed.present? %>
          <div class="col-md-12 col-sm-12">
            <span>Confirm All Team Members Listed</span>
          </div>
        <% end %>
        <% if ot_checklist.reviewed.present? %>
          <div class="col-md-12 col-sm-12">
            <span>Reviewed</span>
          </div>
        <% end %>
        <div class="col-md-4 col-sm-4">
          <span>Valid Consent :</span>
        </div>
        <div class="col-md-8 col-sm-8">
          <span>
            <% if ot_checklist.valid_consent.present? %>
              <%= ot_checklist.valid_consent.titleize %>
            <% else %>
              --
            <% end %>
          </span>
        </div>
        <div class="col-md-4 col-sm-4">
          <span>Imaging Checked :</span>
        </div>
        <div class="col-md-8 col-sm-8">
          <span>
            <% if ot_checklist.imaging_checked.present? %>
              <%= ot_checklist.imaging_checked.titleize %>
            <% else %>
              --
            <% end %>
          </span>
        </div>
        <div class="col-md-4 col-sm-4">
         <span>X-ray safety check :</span>
        </div>
        <div class="col-md-8 col-sm-8">
          <span>
            <% if ot_checklist.xray_safety_check.present? %>
              <%= ot_checklist.xray_safety_check.titleize %>
            <% else %>
              --
            <% end %>
          </span>
        </div>
        <% if ot_checklist.surgeon_review.present? %>
          <div class="col-md-4 col-sm-4">
            <span>Surgeon Review :</span>
          </div>
          <div class="col-md-8 col-sm-8">
            <% if ot_checklist.critical_and_unexpected.present? %>
              <span>Critical OR Unexpected Steps |</span>
            <% end %>
          </div>
        <% end %>
        <% if ot_checklist.non_anticipated.present? %>
          <div class="col-md-4 col-sm-4">
            <span>Non Anticipated :</span>
          </div>
          <div class="col-md-8 col-sm-8">
            <% if ot_checklist.operative_duration.present? %>
              <span>Operative Duration |</span>
            <% end %>
          </div>
        <% end %>
        <% if ot_checklist.anaesthesia_provided_review.present? %>
          <div class="col-md-4 col-sm-4">
            <span>Anaesthesia Provided :</span>
          </div>
          <div class="col-md-8 col-sm-8">
            <% if ot_checklist.any_patient_specific_concerns.present? %>
              <span>Any Patient Specific Concerns |</span>
            <% end %>
          </div>
        <% end %>
        <% if ot_checklist.nursing_team_reviews.present? %>
          <div class="col-md-4 col-sm-4">
            <span>Nursing Team Review :</span>
          </div>
          <div class="col-md-8 col-sm-8">
            <% if ot_checklist.sterility.present? %>
              <span>Sterility(including indicator results) | </span>
            <% end %>
            <% if ot_checklist.equipment_issue.present? %>
              <span>Equipment Issue | </span>
            <% end %>
            <% if ot_checklist.concerns.present? %>
              <span>Concerns |</span>
            <% end %>
          </div>
        <% end %>
        <% if ot_checklist.surgeon_nurse_orally_confirm.present? %>
          <div class="col-md-4 col-sm-4">
            <span>Surgeon Nurse Confirm :</span>
          </div>
          <div class="col-md-8 col-sm-8">
            <% if ot_checklist.antibiotic_prophylaxis_given.present? %>
              <span>Antibiotic Prophylaxis Given | </span>
            <% end %>
            <% if ot_checklist.mitomycin_c_anti_neo_plastic.present? %>
              <span>Mitomycin-C/Anti Neo Plastic | </span>
            <% end %>
            <% if ot_checklist.implant_style_power.present? %>
              <span>Implant Style Power | </span>
            <% end %>
            <% if ot_checklist.devices.present? %>
              <span>Devices | </span>
            <% end %>
            <% if ot_checklist.tissue.present? %>
              <span>Tissue | </span>
            <% end %>
            <% if ot_checklist.dyes.present? %>
              <span>Dyes |</span>
            <% end %>
          </div>
        <% end %>
        <% if ot_checklist.surgeon_anaesthesia_provider_and_nurse_orally_confirmed.present? %>
          <div class="col-md-4 col-sm-4">
            <span>Anaesthesia Provider And Nurse Confirm :</span>
          </div>
          <div class="col-md-8 col-sm-8">
            <% if ot_checklist.patient_checked.present? %>
              <span>Patient Checked | </span>
            <% end %>
            <% if ot_checklist.site_checked_and_marked.present? %>
              <span>Site Checked & Marked | </span>
            <% end %>
            <% if ot_checklist.procedure_checked.present? %>
              <span>Procedure Checked |</span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-12 col-sm-12">
        <strong><b style="text-decoration:underline;">SIGN-OUT (Before Leaving Operation Room):</b></strong>
      </div>
      <div class="col-md-12 col-sm-12">
        <% if ot_checklist.nurse_orally_confirm_with_team.present? %>
          <div class="col-md-4 col-sm-4">
            <span>Nurse Orally Confirms With Team :</span>
          </div>
          <div class="col-md-8 col-sm-8">
            <% if ot_checklist.procedure_recorded.present? %>
              <span>Name Of Procedure Recorded | </span>
            <% end %>
            <% if ot_checklist.equipment_issue_addressed.present? %>
              <span>Equipment Issues Addressed |</span>
            <% end %>
          </div>
        <% end %>
        <% if ot_checklist.surgeon_anaesthesia_provider_and_nurse.present? %>
          <div class="col-md-4 col-sm-4">
            <span>Surgeon Anaesthesia Provider And Nurse :</span>
          </div>
          <div class="col-md-8 col-sm-8">
            <% if ot_checklist.recovery_management_reviewed.present? %>
              <span>Key Concerns for Recovery and Management Reviewed |</span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>