<% @current_facility = current_facility %>
<div class="row" style="margin-top: 2px; padding-left: 10px">
  <% if @patient.allergy_histories.present? || @patient.others_allergies.present? || @patient.drug_allergies_comment.present? || @patient.contact_allergies_comment.present? || @patient.food_allergies_comment.present? %>
    <% @allergies = Array.new %>
    <% @patient.allergy_histories.each do |aller|%>
      <% if aller.duration.present? && aller.duration_unit.present? &&  aller.comment.present? %>
        <% history =   aller.name.to_s.capitalize.split('_').map(&:capitalize).join(' ') + ' since ' + aller.duration + ' '+ aller.duration_unit + ' - ' + aller.comment%>
      <% elsif  aller.duration.present? && aller.duration_unit.present? %>
        <% history =   aller.name.to_s.capitalize.split('_').map(&:capitalize).join(' ') + ' since ' + aller.duration + ' '+ aller.duration_unit %>
      <% elsif aller.comment.present? %>
        <%  history = aller.name.to_s.capitalize.split('_').map(&:capitalize).join(' ') + ' - ' + aller.comment %>
      <% else %>
        <%  history = aller.name.to_s.capitalize.split('_').map(&:capitalize).join(' ') %>
      <% end %>
      <% @allergies.push(history) %>
    <% end %>

    <% if @allergies.present? %>
      <div class="col-md-12"><!-- Patient is -->
        <% @allergies.each do |allergy| %>
          <li>
            From <%= allergy %>
          </li>
        <% end %>
      </div>
    <% end %>     
    <% if @patient.others_allergies.present? %>
      <div class="col-md-12">
        <li>
          Other Allergies- <%= @patient.others_allergies %>
        </li>
      </div>
    <% end %>  
    <% if @patient.drug_allergies_comment.present? %>
      <div class="col-md-12">
        <li>
          Drug Allergies Comment: <%= @patient.drug_allergies_comment %>
        </li>
      </div>  
    <% end %>
    <% if @patient.contact_allergies_comment.present? %>
      <div class="col-md-12">
        <li>
          Contact Allergies Comment: <%= @patient.contact_allergies_comment %>
        </li>
      </div>
    <% end %>
    <% if @patient.food_allergies_comment.present? %>
      <div class="col-md-12">
        <li>
          Food Allergies Comment: <%= @patient.food_allergies_comment %>
        </li>
      </div>
    <% end %>
  <% else %>
    <span>No Allergies</span>
  <% end %>
</div>