<hr style="margin:2px;"/>
<div class="row">
  <div class="col-md-12">
    <div class="row mb5">
      <div class="col-md-2">
        <strong>CASE DETAILS</strong>
      </div>
      <div class="col-md-10">
        <% if @case_sheet.present? %>
          <%= ("#{@case_sheet.case_name.titleize}" if @case_sheet.case_name.present?) || "No Name" %> - <%= @case_sheet.case_id %>
        <% end %>
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-12">
        <!-- This Partial -->
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 mb5">
    <div id="patient-diagnoses">
      <div class="row patient-diagnosis">
        <% if @case_sheet.present? %>
          <% if @case_sheet.diagnoses.count > 0 %>
            <div class="col-md-12"><b>DIAGNOSIS</b></div>
            <% @case_sheet.diagnoses.each_with_index do |diagnosis, i| %>
              <div class="col-md-12">
                <span><b style="color: #333;"><%= diagnosis.diagnosisoriginalname.to_s %> - <%= diagnosis.icddiagnosiscode.to_s.upcase.insert(3, '.') %></b> - <%= diagnosis.consultant_name %></span>
              </div>
            <% end %>
          <% end %>
          <% if @case_sheet.free_form_diagnoses.count > 0 %>
            <div class="col-md-12"><b>DIAGNOSIS</b></div>
            <% @case_sheet.free_form_diagnoses.each do |key, diagnosis| %>
              <div class="col-md-12">
                <span><b style="color: #333;"><%= diagnosis[:content].to_s.html_safe() %></b></span>
              </div>
            <% end %>
          <% end %>
          <% if @case_sheet.diagnoses.count == 0 && @case_sheet.free_form_diagnoses.count == 0 %>
            <div class="col-md-12"><b>DIAGNOSIS</b></div>
            <div class="col-md-12">
              <span>No Diagnoses</span>
            </div>
          <% end %>
        <% else %>
          <div class="col-md-12">
            <span>No Diagnoses</span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-12 mb5">
    <div id="patient-procedures">
      <div class="row patient-diagnosis">
        <% if @case_sheet.present? %>
          <% if @case_sheet.procedures.count > 0 %>
            <div class="col-md-12"><b>PROCEDURE</b></div>
            <% @case_sheet.procedures.each_with_index do |procedure, i| %>
              <div class="col-md-12">
                <span><b style="color: #333;"><%= procedure.procedurename.to_s + ', ' + procedure.get_label_for_procedure_side(procedure.procedureside) %></b> - <%= procedure.consultant_name %></span>
              </div>
            <% end %>
          <% end %>
          <% if @case_sheet.free_form_procedures.count > 0 %>
            <div class="col-md-12"><b>PROCEDURE</b></div>
            <% @case_sheet.free_form_procedures.each do |key, procedure| %>
              <div class="col-md-12">
                <span><b style="color: #333;"><%= procedure[:content].to_s.html_safe() %></b></span>
              </div>
            <% end %>
          <% end %>
          <% if @case_sheet.procedures.count == 0 && @case_sheet.free_form_procedures.count == 0 %>
            <div class="col-md-12"><b>PROCEDURE</b></div>
            <div class="col-md-12">
              <span>No procedures</span>
            </div>
          <% end %>
        <% else %>
          <div class="col-md-12">
            <span>No procedures</span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>