<% if @patient.try(:patientassets).count > 0 and @patient.patientassets[0].asset_path_url.present? %>
  <% patient_asset = (@patient.patientassets[-1].asset_path_url  ) %>
<% else %>
  <% patient_asset = "placeholder.png" %>
<% end %>
<% @calculated_age = (@patient.calculate_age if @patient.age.present? || @patient.age_month.present?) || "-" %>
<div class="row" style="font-size:13px;">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-2">
        <%= image_tag(patient_asset, class: "patient_profile_pic", style: 'width:90%;') %>
      </div>
      <div class="col-md-10">
        <div class="row mb5">
          <div class="col-sm-2">
            <strong>FULLNAME</strong>
          </div>
          <div class="col-md-8">
            <%= @patient.fullname.to_s.upcase %><%= " (#{@patient.gender})" if @patient.gender? %>&emsp;
            <% if @patient.patient_type.present? %><span class="label" style="font-size:12px;background: <%= @patient.patient_type.try(:color) %>"><%= @patient.patient_type.try(:label) %></span><% end %>
          </div>
          <div class="col-sm-2 text-right">
            <button class="btn btn-toggle-patient-form btn-link btn-xs" style="padding: 0px;">Edit Patient</button>
          </div>
        </div>
        <div class="row mb5">
          <div class="col-md-2">
            <strong>CONTACT</strong>
          </div>
          <div class="col-md-4">
            <%= @patient.mobilenumber %><%= " | #{@patient.secondarymobilenumber}" if @patient.secondarymobilenumber.present? %>
          </div>
          <div class="col-md-2">
            <strong>EMAIL</strong>
          </div>
          <div class="col-md-4">
            <%= ("#{@patient.email}" if @patient.email.present?) || "-" %>
          </div>
        </div>
        <div class="row mb5">
          <div class="col-md-2">
            <strong>AGE | DOB</strong>
          </div>
          <div class="col-md-4">
            <%= "#{@calculated_age}" %> | <%= ("#{@patient.dob.try(:strftime, '%d %b %Y')}" if @patient.dob.present?) || "NA" %>
          </div>
          <% if @patient.primary_language.present? || @patient.secondary_language.present? %>
            <div class="col-md-2">
              <strong>LANGUAGE</strong>
            </div>
            <div class="col-md-4">
              <%= "#{@patient.primary_language}" if @patient.primary_language.present? || "-" %><%= " | #{@patient.secondary_language}" if @patient.secondary_language.present? %>
            </div>
          <% end %>
        </div>
        <div class="row mb5">
          <div class="col-md-2">
            <strong>PATIENT ID</strong>
          </div>
          <div class="col-md-10">
            <%= @patient.patient_identifier_id %><%= " | #{@patient.patient_mrn}" if @patient.patient_mrn.present? %>
          </div>
        </div>
        <% if @patient.occupation.present? %>
          <% if current_facility.country_id == 'VN_254' %>
            <div class="row mb5">
              <div class="col-md-2">
                <strong>OCCUPATION</strong>
              </div>
              <div class="col-md-10">
                <%= @occupation_name %>
              </div>
            </div>
          <% else %>
            <div class="row mb5">
              <div class="col-md-2">
                <strong>OCCUPATION</strong>
              </div>
              <div class="col-md-10">
                <%= @patient.occupation %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <% if @patient.patient_full_address.present? %>
          <div class="row mb5">
            <div class="col-md-3">
              <strong>ADDRESS</strong>
            </div>
            <div class="col-md-9">
              <%= @patient.patient_full_address %>
            </div>
          </div>
        <% end %>
        <% if @patient.emergency_contact.present? %>
          <div class="row mb5">
            <div class="col-md-3">
              <strong>EMERGENCY CONTACT</strong>
            </div>
            <div class="col-md-9">
              <%= @patient.emergency_contact %>
            </div>
          </div>
        <% end %>
        <div class="row mb5">
          <div class="col-md-12">
            <strong>HISTORY</strong>
            <%= render partial: "patients/view/patient_history.html.erb" %>
          </div>
        </div>
        <div class="row mb5">
          <div class="col-md-12">
            <strong>ALLERGIES</strong>
            <%= render partial: "patients/view/patient_allergy.html.erb" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
