<% @current_facility = current_facility %>
<% personel_history_counter = 0 %>
<% personel_systemic_history_counter = 0 %>
<% speciality_history_counter = 0 %>
<% personel_ophthal_history_counter = 0 %>
<% if @patient.try(:speciality_history_records).present? %>
  <% speciality_history_counter = 0 %>
  <% personel_ophthal_history_counter = 0 %>

  <% if @patient.opthal_history_comment != "" && @patient.opthal_history_comment != nil %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% speciality_history_counter = speciality_history_counter + 1 %>
  <% end %>

  <% @personal_history = @patient.speciality_history_records %>
  <% if @personal_history.find_by(name: "glaucoma").present? %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% speciality_history_counter = speciality_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "retinal_detachment").present? %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% speciality_history_counter = speciality_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "glasses").present? %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% speciality_history_counter = speciality_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "ocular_disease").present?  %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% speciality_history_counter = speciality_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "ocular_surgery").present? %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% speciality_history_counter = speciality_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "eye_surgery").present? %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% speciality_history_counter = speciality_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "eye_disease").present? %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% speciality_history_counter = speciality_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "consanguinity").present? %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% speciality_history_counter = speciality_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "uveitis").present?  %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% speciality_history_counter = speciality_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "retinal_laser").present?  %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% speciality_history_counter = speciality_history_counter + 1 %>
  <% end %>
<% end %>

<% if @patient.try(:personal_history_records).present? %>
  <% personel_history_counter = 0 %>
  <% personel_systemic_history_counter = 0 %>

  <% @personal_history = @patient.personal_history_records %>

  <% if @patient.history_comment != "" && @patient.history_comment != nil %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "diabetes").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "hypertension").present?  %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if  @personal_history.find_by(name: "alcoholism").present?  %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "smoking_tobacco").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "steroid_intake").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "drug_abuse").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "hiv_aids").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "cancer_tumor").present?  %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "cardiac_disorder").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "rheumatoid_arthritis").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if  @personal_history.find_by(name: "tuberculosis").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if  @personal_history.find_by(name: "asthma").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if  @personal_history.find_by(name: "cns_disorder_stroke").present?  %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if  @personal_history.find_by(name: "thyroid_disorder").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if  @personal_history.find_by(name: "hypothyroidism").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "hyperthyroidism").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if  @personal_history.find_by(name: "hepatitis_cirrhosis").present?  %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if  @personal_history.find_by(name: "renal_disorder").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if  @personal_history.find_by(name: "acidity").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if  @personal_history.find_by(name: "on_insulin").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if  @personal_history.find_by(name: "on_aspirin_blood_thinners").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "consanguinity").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "hypothyroidism").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "hyperthyroidism").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "benign_prostatic_hyperplasia").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>
<% end %>

<div class="row" style="margin-top: 2px; padding-left: 10px">
  <% if @patient.try(:speciality_history_records).present? %>
    <% if speciality_history_counter > 0 %>
      <!-- Patient has a history of -->
      Known cases of
      <% @speciality_history = @patient.speciality_history_records %>
      <% @glaucoma = @speciality_history.find_by(name: "glaucoma") %>
      <% if @glaucoma.present?  %>
        <% speciality_history_counter = speciality_history_counter - 1 %>
        Glaucoma
        <% if @glaucoma.l_duration.present? %>
          Left Eye since  <%= @glaucoma.l_duration %> <%= @glaucoma.l_duration_unit.try(:singularize).try(:pluralize, @glaucoma.l_duration.to_i) %>
        <% end %>
        <% if @glaucoma.r_duration.present? %>
          <%= "&" if @glaucoma.l_duration.present? %>
          Right Eye since  <%= @glaucoma.r_duration %> <%= @glaucoma.r_duration_unit.try(:singularize).try(:pluralize, @glaucoma.r_duration.to_i) %>
        <% end %>
        <% if @glaucoma.comment.present? %>
          <%= " - " +  @glaucoma.comment %>
        <% end %>
        <%if speciality_history_counter == 0 %>.
        <% else %>,
        <% end %>
      <% end %>

      <% @retinal_detachment = @speciality_history.find_by(name: "retinal_detachment") %>
      <% if @retinal_detachment.present? %>
        <% speciality_history_counter = speciality_history_counter - 1 %>
        Retinal Detachment
        <% if @retinal_detachment.l_duration.present? %>
          Left Eye since <%= @retinal_detachment.l_duration %> <%= @retinal_detachment.l_duration_unit.try(:singularize).try(:pluralize, @retinal_detachment.l_duration.to_i) %>
        <% end %>
        <% if @retinal_detachment.r_duration.present? %>
          <%= "&" if @retinal_detachment.l_duration.present? %>
          Right eye since <%= @retinal_detachment.r_duration %> <%= @retinal_detachment.r_duration_unit.try(:singularize).try(:pluralize, @retinal_detachment.r_duration.to_i) %>
        <% end %>
        <% if @retinal_detachment.comment.present? %>
          <%= " - " + @retinal_detachment.comment %>
        <% end %>
        <%if speciality_history_counter == 0 %>.
        <% else %>,
        <% end %>
      <% end %>

      <% @glasses = @speciality_history.find_by(name: "glasses") %>
      <% if @glasses.present? %>
        <% speciality_history_counter = speciality_history_counter - 1 %>
        Glasses
        <% if  @glasses.l_duration.present? %>
          Left Eye since  <%= @glasses.l_duration %> <%= @glasses.l_duration_unit.try(:singularize).try(:pluralize, @glasses.l_duration.to_i) %>
        <% end %>
        <% if  @glasses.r_duration.present? %>
          <%= "&" if @glasses.l_duration.present? %>
          Right Eye since  <%= @glasses.r_duration %> <%= @glasses.r_duration_unit.try(:singularize).try(:pluralize, @glasses.r_duration.to_i) %>
        <% end %>
        <% if @glasses.comment.present? %>
          <%= " - " +  @glasses.comment %>
        <% end %>
        <%if speciality_history_counter == 0 %>.
        <% else %>,
        <% end %>
      <% end %>

      <% @ocular_disease = @speciality_history.find_by(name: "ocular_disease") %>
      <% if @ocular_disease.present? %>
        <% speciality_history_counter = speciality_history_counter - 1 %>
        Ocular disease
        <% if  @ocular_disease.l_duration.present? %>
          Left Eye since  <%= @ocular_disease.l_duration %> <%= @ocular_disease.l_duration_unit.try(:singularize).try(:pluralize, @ocular_disease.l_duration.to_i) %>
        <% end %>
        <% if  @ocular_disease.r_duration.present? %>
          <%= "&" if @ocular_disease.l_duration.present? %>
          Right Eye since  <%= @ocular_disease.r_duration %> <%= @ocular_disease.r_duration_unit.try(:singularize).try(:pluralize, @ocular_disease.r_duration.to_i) %>
        <% end %>
        <% if @ocular_disease.comment.present? %>
          <%= " - " + @ocular_disease.comment %>
        <% end %>
        <%if speciality_history_counter == 0 %>.
        <% else %>,
        <% end %>
      <% end %>

      <% @ocular_surgery = @speciality_history.find_by(name: "ocular_surgery") %>
      <% if @ocular_surgery.present? %>
        <% speciality_history_counter = speciality_history_counter - 1 %>
        Ocular surgery
        <% if  @ocular_surgery.l_duration.present? %>
          Left Eye since  <%= @ocular_surgery.l_duration %> <%= @ocular_surgery.l_duration_unit.try(:singularize).try(:pluralize, @ocular_surgery.l_duration.to_i) %>
        <% end %>
        <% if  @ocular_surgery.r_duration.present? %>
          <%= "&" if @ocular_surgery.l_duration.present? %>
          Right Eye since  <%= @ocular_surgery.r_duration %> <%= @ocular_surgery.r_duration_unit.try(:singularize).try(:pluralize, @ocular_surgery.r_duration.to_i) %>
        <% end %>
        <% if @ocular_surgery.comment.present? %>
          <%= " - " +  @ocular_surgery.comment %>
        <% end %>
        <%if speciality_history_counter == 0 %>.
        <% else %>,
        <% end %>
      <% end %>

      <% @eye_surgery = @speciality_history.find_by(name: "eye_surgery") %>
      <% if @eye_surgery.present? %>
        <% speciality_history_counter = speciality_history_counter - 1 %>
        Eye surgery
        <% if  @eye_surgery.l_duration.present? %>
          Left Eye since  <%= @eye_surgery.l_duration %> <%= @eye_surgery.l_duration_unit.try(:singularize).try(:pluralize, @eye_surgery.l_duration.to_i) %>
        <% end %>
        <% if  @eye_surgery.r_duration.present? %>
          <%= "&" if @eye_surgery.l_duration.present? %>
          Right Eye since  <%= @eye_surgery.r_duration %> <%= @eye_surgery.r_duration_unit.try(:singularize).try(:pluralize, @eye_surgery.r_duration.to_i) %>
        <% end %>
        <% if @eye_surgery.comment.present? %>
          <%= " - " +  @eye_surgery.comment %>
        <% end %>
        <%if speciality_history_counter == 0 %>.
        <% else %>,
        <% end %>
      <% end %>

      <% @eye_disease = @speciality_history.find_by(name: "eye_disease") %>
      <% if @eye_disease.present? %>
        <% speciality_history_counter = speciality_history_counter - 1 %>
        Eye disease
        <% if  @eye_disease.l_duration.present? %>
          Left Eye since  <%= @eye_disease.l_duration %> <%= @eye_disease.l_duration_unit.try(:singularize).try(:pluralize, @eye_disease.l_duration.to_i) %>
        <% end %>
        <% if  @eye_disease.r_duration.present? %>
          <%= "&" if @eye_disease.l_duration.present? %>
          Right Eye since  <%= @eye_disease.r_duration %> <%= @eye_disease.r_duration_unit.try(:singularize).try(:pluralize, @eye_disease.r_duration.to_i) %>
        <% end %>
        <% if @eye_disease.comment.present? %>
          <%= " - " +  @eye_disease.comment %>
        <% end %>
        <%if speciality_history_counter == 0 %>.
        <% else %>,
        <% end %>
      <% end %>

      <% @consanguinity = @speciality_history.find_by(name: "consanguinity") %>
      <% if @consanguinity.present? %>
        <% speciality_history_counter = speciality_history_counter - 1 %>
        Consanguinity
        <% if  @consanguinity.l_duration.present? %>
          Left Eye since  <%= @consanguinity.l_duration %> <%= @consanguinity.l_duration_unit.try(:singularize).try(:pluralize, @consanguinity.l_duration.to_i) %>
        <% end %>
        <% if  @consanguinity.r_duration.present? %>
          <%= "&" if @consanguinity.l_duration.present? %>
          Right Eye since  <%= @consanguinity.r_duration %> <%= @consanguinity.r_duration_unit.try(:singularize).try(:pluralize, @consanguinity.r_duration.to_i) %>
        <% end %>
        <% if @consanguinity.comment.present? %>
          <%= " - " + @consanguinity.comment %>
        <% end %>
        <%if speciality_history_counter == 0 %>.
        <% else %>,
        <% end %>
      <% end %>

      <% @uveitis = @speciality_history.find_by(name: "uveitis") %>
      <% if @uveitis.present? %>
        <% speciality_history_counter = speciality_history_counter - 1 %>
        Uveitis
        <% if  @uveitis.l_duration.present? %>
          Left Eye since  <%= @uveitis.l_duration %> <%= @uveitis.l_duration_unit.try(:singularize).try(:pluralize, @uveitis.l_duration.to_i) %>
        <% end %>
        <% if  @uveitis.r_duration.present? %>
          <%= "&" if @uveitis.l_duration.present? %>
          Right Eye since  <%= @uveitis.r_duration %> <%= @uveitis.r_duration_unit.try(:singularize).try(:pluralize, @uveitis.r_duration.to_i) %>
        <% end %>
        <% if @uveitis.comment.present? %>
          <%= " - " +  @uveitis.comment %>
        <% end %>
        <%if speciality_history_counter == 0 %>.
        <% else %>,
        <% end %>
      <% end %>

      <% @retinal_laser = @speciality_history.find_by(name: "retinal_laser") %>
      <% if @retinal_laser.present? %>
        <% speciality_history_counter = speciality_history_counter - 1 %>
        Retinal Laser
        <% if @retinal_laser.l_duration.present? %>
          Left Eye since  <%= @retinal_laser.l_duration %> <%= @retinal_laser.l_duration_unit.try(:singularize).try(:pluralize, @retinal_laser.l_duration.to_i) %>
        <% end %>
        <% if @retinal_laser.r_duration.present? %>
          <%= "&" if @retinal_laser.l_duration.present? %>
          Right Eye since  <%= @retinal_laser.r_duration %> <%= @retinal_laser.r_duration_unit.try(:singularize).try(:pluralize, @retinal_laser.r_duration.to_i) %>
        <% end %>
        <% if @retinal_laser.comment.present? %>
          <%= " - " +  @retinal_laser.comment %>
        <% end %>
        <%if speciality_history_counter == 0 %>.
        <% else %>,
        <% end %>
      <% end %>

      <% if @patient.opthal_history_comment != "" && @patient.opthal_history_comment != nil %>
        <% speciality_history_counter = speciality_history_counter - 1 %>
        <%= @patient.opthal_history_comment %><%if speciality_history_counter == 0 %>.<%else%>,<% end %>
      <% end %>

    <% end %>
  <% end %>
  <% if @patient.try(:personal_history_records).present? %>
    <% if personel_history_counter > 0 %>
      <% @personal_history = @patient.personal_history_records %>

      <% @diabetes = @personal_history.find_by(name: "diabetes") %>
      <% if  @diabetes.present? %>
        <% personel_history_counter = personel_history_counter - 1 %>
        Diabetes
        <% unless @diabetes.duration == "" || @diabetes.duration == nil %>
          since
        <% end %>
        <%= @diabetes.duration %>
        <%= @diabetes.duration_unit.try(:singularize).try(:pluralize, @diabetes.duration.to_i) %>
        <% if @diabetes.comment.present? %>
          - <%= @diabetes.comment %>
        <% end %>
        <%if personel_history_counter == 0 %>.
        <% else %>,
        <% end %>
      <% end %>

      <% @hypertension = @personal_history.find_by(name: "hypertension") %>
      <% if @hypertension.present? %>
        <% personel_history_counter = personel_history_counter - 1 %>
        Hypertension
        <%unless @hypertension.duration == "" || @hypertension.duration == nil%>
          since
        <% end %>
        <%= @hypertension.duration%>
        <%= @hypertension.duration_unit.try(:singularize).try(:pluralize, @hypertension.duration.to_i)%>
        <% if @hypertension.comment.present? %>
          - <%= @hypertension.comment %>
        <% end %>
        <%if personel_history_counter == 0 %>.
        <% else %>,
        <% end %>
      <% end %>

      <% @alcoholism = @personal_history.find_by(name: "alcoholism") %>
      <% if @alcoholism.present? %>
        <% personel_history_counter = personel_history_counter - 1 %>
        Alcoholism
        <%unless @alcoholism.duration == "" || @alcoholism.duration == nil%>
          since
        <% end %>
        <%= @alcoholism.duration%>
        <%= @alcoholism.duration_unit.try(:singularize).try(:pluralize, @alcoholism.duration.to_i) %>
        <% if @alcoholism.comment.present? %>
          - <%= @alcoholism.comment %>
        <% end %>
        <%if personel_history_counter == 0 %>.<% else %>,<% end %>
      <% end %>

      <% @smoking_tobacco = @personal_history.find_by(name: "smoking_tobacco") %>
      <% if @smoking_tobacco.present? %>
        <% personel_history_counter = personel_history_counter - 1 %>
        Smoking/Tobacco
        <%unless @smoking_tobacco.duration == "" || @smoking_tobacco.duration == nil%>
          since
        <% end %>
        <%= @smoking_tobacco.duration %>
        <%= @smoking_tobacco.duration_unit.try(:singularize).try(:pluralize, @smoking_tobacco.duration.to_i) %>
        <% if @smoking_tobacco.comment.present? %>
          - <%= @smoking_tobacco.comment %>
        <% end %>
        <%if personel_history_counter == 0 %>.<% else %>,<% end %>
      <% end %>

      <% @steroid_intake = @personal_history.find_by(name: "steroid_intake") %>
      <% if @steroid_intake.present? %>
        <% personel_history_counter = personel_history_counter - 1 %>
        Steroid Intake
        <%unless @steroid_intake.duration == "" || @steroid_intake.duration == nil%>
          since
        <% end %>
        <%= @steroid_intake.duration%>
        <%= @steroid_intake.duration_unit.try(:singularize).try(:pluralize, @steroid_intake.duration.to_i) %>
        <% if @steroid_intake.comment.present? %>
          - <%= @steroid_intake.comment %>
        <% end %>
        <% if personel_history_counter == 0 %>.<% else %>,<% end %>
      <% end %>

      <% @drug_abuse = @personal_history.find_by(name: "drug_abuse") %>
      <% if @drug_abuse.present? %>
        <% personel_history_counter = personel_history_counter - 1 %>
        Drug Abuse
        <%unless @drug_abuse.duration == "" || @drug_abuse.duration == nil%>
          since
        <% end %>
        <%= @drug_abuse.duration%>
        <%= @drug_abuse.duration_unit.try(:singularize).try(:pluralize, @drug_abuse.duration.to_i) %>
        <% if @drug_abuse.comment.present? %>
          - <%= @drug_abuse.comment %>
        <% end %>
        <%if personel_history_counter == 0 %>.<% else %>,<% end %>
      <% end %>

      <% @hiv_aids = @personal_history.find_by(name: "hiv_aids") %>
      <% if @hiv_aids.present? %>
        <% personel_history_counter = personel_history_counter - 1 %>
        HIV/AIDS
        <%unless @hiv_aids.duration == "" || @hiv_aids.duration == nil%>
          since
        <% end %>
        <%= @hiv_aids.duration %>
        <%=@hiv_aids.duration_unit.try(:singularize).try(:pluralize, @hiv_aids.duration.to_i) %>
        <% if @hiv_aids.comment.present? %>
          - <%= @hiv_aids.comment %>
        <% end %>
        <% if personel_history_counter == 0 %>.<% else %>,<% end %>
      <% end %>

      <% @cancer_tumor = @personal_history.find_by(name: "cancer_tumor") %>
      <% if @cancer_tumor.present? %>
        <% personel_history_counter = personel_history_counter - 1 %>
        Cancer/Tumor
        <%unless @cancer_tumor.duration == "" || @cancer_tumor.duration == nil%>
          since
        <% end %>
        <%= @cancer_tumor.duration%>
        <%=@cancer_tumor.duration_unit.try(:singularize).try(:pluralize, @cancer_tumor.duration.to_i)%>
        <% if @cancer_tumor.comment.present? %>
          - <%= @cancer_tumor.comment %>
        <% end %>
        <%if personel_history_counter == 0 %>.<%else%>,<% end %>
      <% end %>

      <% @cardiac_disorder = @personal_history.find_by(name: "cardiac_disorder") %>
      <% if @cardiac_disorder.present? %>
        <% personel_history_counter = personel_history_counter - 1 %>
        Cardiac disorder
        <%unless @cardiac_disorder.duration == "" || @cardiac_disorder.duration == nil%>
          since
        <% end %>
        <%= @cardiac_disorder.duration%>
        <%=@cardiac_disorder.duration_unit.try(:singularize).try(:pluralize, @cardiac_disorder.duration.to_i)%>
        <% if @cardiac_disorder.comment.present? %>
          - <%= @cardiac_disorder.comment %>
        <% end %>
        <%if personel_history_counter == 0 %>.<%else%>,<% end %>
      <% end %>

      <% @rheumatoid_arthritis = @personal_history.find_by(name: "rheumatoid_arthritis") %>
      <% if @rheumatoid_arthritis.present? %>
        <% personel_history_counter = personel_history_counter - 1 %>
        Rheumatoid Arthritis
        <%unless @rheumatoid_arthritis.duration == "" || @rheumatoid_arthritis.duration == nil%>
          since
        <% end %>
        <%= @rheumatoid_arthritis.duration%>
        <%=@rheumatoid_arthritis.duration_unit.try(:singularize).try(:pluralize, @rheumatoid_arthritis.duration.to_i)%>
        <% if @rheumatoid_arthritis.comment.present? %>
          - <%= @rheumatoid_arthritis.comment %>
        <% end %>
        <%if personel_history_counter == 0 %>.<%else%>,<% end %>
      <% end %>


      <% @tuberculosis = @personal_history.find_by(name: "tuberculosis") %>
      <% if @tuberculosis.present?  %>
        <% personel_history_counter = personel_history_counter - 1 %>
        Tuberculosis
        <%unless @tuberculosis.duration == "" || @tuberculosis.duration == nil%>
          since
        <% end %>
        <%= @tuberculosis.duration %>
        <%= @tuberculosis.duration_unit.try(:singularize).try(:pluralize, @tuberculosis.duration.to_i) %>
        <% if @tuberculosis.comment.present? %>
          - <%= @tuberculosis.comment %>
        <% end %>
        <%if personel_history_counter == 0 %>.<%else%>,<% end %>
      <% end %>

      <% @asthma = @personal_history.find_by(name: "asthma") %>
      <% if @asthma.present? %>
        <% personel_history_counter = personel_history_counter - 1 %>
        Asthma
        <%unless @asthma.duration == "" || @asthma.duration == nil%>
          since
        <% end %>
        <%= @asthma.duration%>
        <%=@asthma.duration_unit.try(:singularize).try(:pluralize, @asthma.duration.to_i)%>
        <% if @asthma.comment.present? %>
          - <%= @asthma.comment %>
        <% end %>
        <%if personel_history_counter == 0 %>.<%else%>,<% end %>
      <% end %>

      <% @cns_disorder_stroke = @personal_history.find_by(name: "cns_disorder_stroke") %>
      <% if @cns_disorder_stroke.present? %>
        <% personel_history_counter = personel_history_counter - 1 %>
        CNS disorder/Stroke
        <%unless @cns_disorder_stroke.duration == "" || @cns_disorder_stroke.duration == nil%>
          since
        <% end %>
        <%= @cns_disorder_stroke.duration%>
        <%=@cns_disorder_stroke.duration_unit.try(:singularize).try(:pluralize, @cns_disorder_stroke.duration.to_i)%>
        <% if @cns_disorder_stroke.comment.present? %>
          - <%= @cns_disorder_stroke.comment %>
        <% end %>
        <%if personel_history_counter == 0 %>.<%else%>,<% end %>
      <% end %>

      <% @thyroid_disorder = @personal_history.find_by(name: "thyroid_disorder") %>
      <% if @thyroid_disorder.present? %>
        <% personel_history_counter = personel_history_counter - 1 %>
        Thyroid disorder
        <%unless  @thyroid_disorder.duration == "" ||  @thyroid_disorder.duration == nil%>
          since
        <% end %>
        <%=  @thyroid_disorder.duration%>
        <%= @thyroid_disorder.duration_unit.try(:singularize).try(:pluralize, @thyroid_disorder.duration.to_i)%>
        <% if @thyroid_disorder.comment.present? %>
          - <%= @thyroid_disorder.comment %>
        <% end %>
        <%if personel_history_counter == 0 %>.<%else%>,<% end %>
      <% end %>

      <% @hypothyroidism = @personal_history.find_by(name: "hypothyroidism") %>
      <% if @hypothyroidism.present? %>
        <% personel_history_counter = personel_history_counter - 1 %>
        Hypothyroidism
        <%unless  @hypothyroidism.duration == "" ||  @hypothyroidism.duration == nil%>
          since
        <% end %>
        <%=  @hypothyroidism.duration%>
        <%= @hypothyroidism.duration_unit.try(:singularize).try(:pluralize, @hypothyroidism.duration.to_i)%>
        <% if @hypothyroidism.comment.present? %>
          - <%= @hypothyroidism.comment %>
        <% end %>
        <%if personel_history_counter == 0 %>.<%else%>,<% end %>
      <% end %>

      <% @hyperthyroidism = @personal_history.find_by(name: "hyperthyroidism") %>
      <% if @hyperthyroidism.present? %>
        <% personel_history_counter = personel_history_counter - 1 %>
        Hyperthyroidism
        <%unless @hyperthyroidism.duration == "" ||  @hyperthyroidism.duration == nil%>
          since
        <% end %>
        <%=  @hyperthyroidism.duration%>
        <%= @hyperthyroidism.duration_unit.try(:singularize).try(:pluralize, @hyperthyroidism.duration.to_i)%>
        <% if @hyperthyroidism.comment.present? %>
          - <%= @hyperthyroidism.comment %>
        <% end %>
        <%if personel_history_counter == 0 %>.<%else%>,<% end %>
      <% end %>

      <% @hepatitis_cirrhosis = @personal_history.find_by(name: "hepatitis_cirrhosis") %>
      <% if @hepatitis_cirrhosis.present? %>
        <% personel_history_counter = personel_history_counter - 1 %>
        Hepatitis/Cirrhosis
        <%unless  @hepatitis_cirrhosis.duration == "" ||  @hepatitis_cirrhosis.duration == nil%>
          since
        <% end %>
        <%=  @hepatitis_cirrhosis.duration%>
        <%= @hepatitis_cirrhosis.duration_unit.try(:singularize).try(:pluralize, @hepatitis_cirrhosis.duration.to_i)%>
        <% if @hepatitis_cirrhosis.comment.present? %>
          - <%= @hepatitis_cirrhosis.comment %>
        <% end %>
        <%if personel_history_counter == 0 %>.<%else%>,<% end %>
      <% end %>

      <% @renal_disorder = @personal_history.find_by(name: "renal_disorder") %>
      <% if @renal_disorder.present? %>
        <% personel_history_counter = personel_history_counter - 1 %>
        Renal disorder
        <%unless @renal_disorder.duration == "" ||  @renal_disorder.duration == nil%>
          since
        <% end %>
        <%=  @renal_disorder.duration%>
        <%= @renal_disorder.duration_unit.try(:singularize).try(:pluralize, @renal_disorder.duration.to_i)%>
        <% if @renal_disorder.comment.present? %>
          - <%= @renal_disorder.comment %>
        <% end %>
        <%if personel_history_counter == 0 %>.<%else%>,<% end %>
      <% end %>

      <% @acidity = @personal_history.find_by(name: "acidity") %>
      <% if @acidity.present? %>
        <% personel_history_counter = personel_history_counter - 1 %>
        Acidity
        <%unless @acidity.duration == "" || @acidity.duration == nil%>
          since
        <% end %>
        <%= @acidity.duration%>
        <%=@acidity.duration_unit.try(:singularize).try(:pluralize, @acidity.duration.to_i)%>
        <% if @acidity.comment.present? %>
          - <%= @acidity.comment %>
        <% end %>
        <%if personel_history_counter == 0 %>.<%else%>,<% end %>
      <% end %>

      <% @on_insulin = @personal_history.find_by(name: "on_insulin") %>
      <% if @on_insulin.present? %>
        <% personel_history_counter = personel_history_counter - 1 %>
        On Insulin
        <%unless @on_insulin.duration == "" || @on_insulin.duration == nil%>
          since
        <% end %>
        <%= @on_insulin.duration%>
        <%=@on_insulin.duration_unit.try(:singularize).try(:pluralize, @on_insulin.duration.to_i)%>
        <% if @on_insulin.comment.present? %>
          - <%= @on_insulin.comment %>
        <% end %>
        <%if personel_history_counter == 0 %>.<%else%>,<% end %>
      <% end %>

      <% @on_aspirin_blood_thinners = @personal_history.find_by(name: "on_aspirin_blood_thinners") %>
      <% if @on_aspirin_blood_thinners.present? %>
        <% personel_history_counter = personel_history_counter - 1 %>
        On Aspirin/Blood Thinners
        <%unless  @on_aspirin_blood_thinners.duration == "" ||  @on_aspirin_blood_thinners.duration == nil%>
          since
        <% end %>
        <%=  @on_aspirin_blood_thinners.duration%>
        <%= @on_aspirin_blood_thinners.duration_unit.try(:singularize).try(:pluralize, @on_aspirin_blood_thinners.duration.to_i)%>
        <% if @on_aspirin_blood_thinners.comment.present? %>
          - <%= @on_aspirin_blood_thinners.comment %>
        <% end %>
        <%if personel_history_counter == 0 %>.<%else%>,<% end %>
      <% end %>

      <% @consanguinity = @personal_history.find_by(name: "consanguinity") %>
      <% if @consanguinity.present? %>
        <% personel_history_counter = personel_history_counter - 1 %>
        Consanguinity
        <%unless  @consanguinity.duration == "" ||  @consanguinity.duration == nil%>
          since
        <% end %>
        <%=  @consanguinity.duration%>
        <%= @consanguinity.duration_unit.try(:singularize).try(:pluralize, @consanguinity.duration.to_i)%>
        <% if @consanguinity.comment.present? %>
          - <%= @consanguinity.comment %>
        <% end %>
        <%if personel_history_counter == 0 %>.<%else%>,<% end %>
      <% end %>

      <% @benign_prostatic_hyperplasia = @personal_history.find_by(name: "benign_prostatic_hyperplasia") %>
      <% if @benign_prostatic_hyperplasia.present? %>
        <% personel_history_counter = personel_history_counter - 1 %>
        Benign Prostatic Hyperplasia(BPH)
        <%unless  @benign_prostatic_hyperplasia.duration == "" ||  @benign_prostatic_hyperplasia.duration == nil%>
            since
        <% end %>
        <%=  @benign_prostatic_hyperplasia.duration%>
        <%= @benign_prostatic_hyperplasia.duration_unit.try(:singularize).try(:pluralize, @benign_prostatic_hyperplasia.duration.to_i)%>
        <% if @benign_prostatic_hyperplasia.comment.present? %>
            - <%= @benign_prostatic_hyperplasia.comment %>
        <% end %>
        <%if personel_history_counter == 0 %>.<%else%>,<% end %>
      <% end %>

      <% if @patient.history_comment != "" && @patient.history_comment != nil %>
        <% personel_history_counter = personel_history_counter - 1 %>
        <%= @patient.history_comment %><%if personel_history_counter == 0 %>.<%else%>,<% end %>
      <% end %>
    <% end %>
  <% end %>
  <% if @current_facility.specialty_ids.include?("309989009") %>
    <%if personel_ophthal_history_counter == 0 && personel_systemic_history_counter == 0 %>
      <div class="row col-md-12">No Sytemic History.</div>
    <% end %>
  <% elsif @current_facility.specialty_ids.include?("309988001") %>
    <% if personel_ophthal_history_counter == 0 && personel_systemic_history_counter == 0 %>
      <div class="row col-md-12">No Ophthalmic Or Systemic History.</div>
    <% elsif personel_ophthal_history_counter == 0 && personel_systemic_history_counter > 0 %>
      <div class="row col-md-12">No Ophthalmic History.</div>
    <% elsif personel_ophthal_history_counter > 0 && personel_systemic_history_counter == 0 %>
      <div class="row col-md-12">No Systemic History.</div>
    <% end %>
  <% end %>

  <% if @patient.other_history.medical_history != "" && @patient.other_history.medical_history != nil %>
    <div class="row" style="margin-top: 2px; padding-left: 10px">
      <!-- Patient has a --> Medical history of <%= @patient.other_history.medical_history %>
    </div>
  <% end %>
  <% if @patient.other_history.family_history != "" && @patient.other_history.family_history != nil %>
    <div class="row" style="margin-top: 2px; padding-left: 10px">
      <!-- Patient has a --> Family history of <%=@patient.other_history.family_history%>
      </div>
  <% end %>
</div>