<div class="container-fluid recover-password">
  <div class="row">
    <div class="col-sm-4">
      <%= link_to users_login_path do %><%= image_tag "healthgraph_full.png", class: "foss_login" %><% end %>
    </div>
  </div>
  <%= form_for @user, :method => "post", :url => password_resets_update_path, validate: true do |user| %>
    <%= user.hidden_field :id %>
    <div class="row">
      <div class="col-sm-12 col-md-4 col-md-offset-4">
        <div class="account-wall row">
          <div class="col-md-10 col-md-offset-1">
          <%= image_tag "foss_health_logo.png", class: "foss_square" %>
          </div>
          <div class="col-md-10 col-md-offset-1" style="margin-top: 25px;">
            <div class="inner-addon left-addon">
              <i class="fa fa-lock icon-addon"></i>
              <%= user.password_field :password, class: 'form-control password', placeholder: 'New Password', data: { toggle: "tooltip", trigger: "hover", placement: "left", title: "Min. 8 Characters | Include 1 Number | Include 1 Capital Letter | A special Character @#$%^&+="} %>
            </div>
          </div>
          <div class="col-md-10 col-md-offset-1" style="margin-top: 25px;">
            <div class="inner-addon left-addon">
              <i class="fa fa-lock icon-addon"></i>
              <%= user.password_field :password_confirmation, class: "form-control password_confirmation", placeholder: "Confirm Password" %>
            </div>
          </div>
          <div class="col-md-8 col-md-offset-2 text-center" style="margin-top: 40px;">
            <%= user.submit "Set Password", class: "btn btn-info", id: "signinbutton", style: 'background: #2ebdfc;padding: 10px 50px;' %>
          </div>
          <div class="col-md-4 col-md-offset-4 text-center" style="margin-top: 25px;">
            <%= link_to users_login_path, class: 'signin-link' do %><b>Go Back</b><% end %>
          </div>          
        </div>            
      </div>
    </div>
  <% end %>
  <footer>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center" style="font-size: 12px;">
        <b style="color: #fbf9fd;"><a href='http://www.healthgraph.in/terms.html' target="_blank"> Terms &emsp;|&emsp;</a><a href="http://www.healthgraph.in/privacy_policy.html" target="_blank">Privacy</a></b><br>
        <b><i class="fa fa-copyright"></i> <%= Date.current.year %>. All Rights Reserved. HealthGraph India</b>
      </div>
    </div>
  </footer>
</div>

<style type="text/css">
  .signin {
    background: #fff !important;
  }

  .recover-password a:hover, .recover-password a:focus {
    text-decoration: none;
  }

  .foss_login {
    margin-top: 25px;
    margin-left: 16px;
  }

  .password, .password_confirmation {
    box-shadow: 2px 2px 0px #eee;
    border : none;
  }

  .signin-link {
    font-size: 10px;
    color: #aaa !important;
  }

  .signin-link:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 35px;
    border-bottom: 2px solid #2ebdfc;
    transition: .5s;
  }

  .signin-link:hover::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 75px;
    border-bottom: 2px solid #2ebdfc;
  }
  
  .account-wall {
    margin: 32% 30px;
    padding: 45px 0px 0px 0px;
    background-color: #fbf9fd;
  }

  .foss_circle {
    margin: -125px auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .foss_square {
    margin: -75px auto 10px;
    display: block;
  }

  footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    background: #fff;
  }

  /*Code for Inner Icons*/
  .inner-addon {
    position: relative;
  }

  /* style icon */
  .inner-addon .icon-addon {
    position: absolute;
    padding: 12px;
    pointer-events: none;
  }

  /* align icon */
  .left-addon .icon-addon {
    left:  0px;
  }

  /* add padding  */
  .left-addon input  {
    padding-left:  30px;
  }
</style>

<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>