<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<div class="container-fluid recover-password">
  <div class="row">
    <div class="col-sm-4">
      <%= link_to users_login_path do %><%= image_tag "healthgraph_full.png", class: "foss_login" %><% end %>
    </div>
  </div>
  <%= form_tag password_resets_verification_path, method: :post do %>
    <div class="row">
      <div class="col-sm-12 col-md-4 col-md-offset-4">
        <div class="account-wall row">
          <div class="col-md-10 col-md-offset-1">
          <%= image_tag "foss_health_logo.png", class: "foss_square img-responsive" %>
          </div>
          <% if !flash.empty? && flash[:notice].present?%>
            <div class="col-md-12 text-center" style="margin-top: 5px;">
              <span style="color:#f00;"><%= flash[:notice] %></span>
            </div>
          <% end %>
          <div class="col-md-10 col-md-offset-1" style="margin-top: 25px;">
            <div class="inner-addon left-addon">
              <i class="fa fa-user icon-addon"></i>
              <%= text_field_tag :username, params[:username], class: "form-control username", placeholder: "Enter username", required: true, oninvalid: "this.setCustomValidity('Enter Username')", oninput: "this.setCustomValidity('')" %>
            </div>
          </div>
          <div class="col-md-10 col-md-offset-1" style="margin-top: 25px;">
            <div class="inner-addon left-addon">
              <i class="fa fa-envelope icon-addon"></i>
              <%= text_field_tag :emailaddress, params[:emailaddress], class: "form-control email_address", placeholder: "Enter email address", required: true, oninvalid: "this.setCustomValidity('Enter Email Address')", oninput: "this.setCustomValidity('')" %>
            </div>
          </div>
          <div class="col-md-10 col-md-offset-1" style="margin-top: 15px;">
            <div class="inner-addon left-addon">
              <div class="g-recaptcha" style="transform:scale(0.8);transform-origin:0 0" data-sitekey="<%=@recaptcha_site_key%>"></div>
            </div>
          </div>
          <div class="col-md-8 col-md-offset-2 text-center" style="margin-top: 20px;">
            <%= submit_tag "Verify User", class: "btn btn-info", id: "signinbutton", style: 'background: #2ebdfc;padding: 10px 50px;' %>
          </div>
          <div class="col-md-4 col-md-offset-4 text-center" style="margin-top: 25px;">
            <%= link_to users_login_path, class: 'signin-link' do %><b>Sign In</b><% end %>
          </div>          
        </div>            
      </div>
    </div>
  <% end %>
  <footer>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center" style="font-size: 12px;">
        <b style="color: #fbf9fd;"><a href='http://www.healthgraph.in/terms.html' target="_blank"> Terms &emsp;|&emsp;</a><a href="http://www.healthgraph.in/privacy_policy.html" target="_blank">Privacy</a></b><br>
        <b><i class="fa fa-copyright"></i> <%= Date.current.year %>. All Rights Reserved. HealthGraph India</b>
      </div>
    </div>
  </footer>
</div>

<style type="text/css">
  .signin {
    background: #fff !important;
  }

  .recover-password a:hover, .recover-password a:focus {
    text-decoration: none;
  }

  .foss_login {
    margin-top: 25px;
    margin-left: 16px;
  }

  .username, .email_address {
    box-shadow: 2px 2px 0px #eee;
    border : none;
  }

  .signin-link {
    font-size: 10px;
    color: #aaa !important;
  }

  .signin-link:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 35px;
    border-bottom: 2px solid #2ebdfc;
    transition: .5s;
  }

  .signin-link:hover::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 75px;
    border-bottom: 2px solid #2ebdfc;
  }

  
  .account-wall {
    margin: 20% 30px;
    padding: 45px 0px 0px 0px;
    background-color: #fbf9fd;
  }

  .foss_circle {
    margin: -125px auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    background: #fff;
  }

  /*Code for Inner Icons*/
  .inner-addon {
    position: relative;
  }

  /* style icon */
  .inner-addon .icon-addon {
    position: absolute;
    padding: 12px;
    pointer-events: none;
  }

  /* align icon */
  .left-addon .icon-addon {
    left:  0px;
  }

  /* add padding  */
  .left-addon input  {
    padding-left:  30px;
  }

  .foss_square {
    margin: -75px auto 10px;
    display: block;
  }
</style>
