<%= f.hidden_field :loinc_class,:value => @investigation_advised.loinc_class %>
<%= f.hidden_field :loinc_code,:value => @investigation_advised.loinc_code %>


<% if @panel_investigations.try(:size) > 0 %>
    <% i = 0 %>

    <div class="row mb20">
      <div class="col-md-4">
        <%= f.text_field :investigation_name,value: lab_test.investigation_name,class: "fi_input_style",style: 'width: 100%'%>
      </div>

      <div class="col-md-4 ">
        <%= f.text_field :specimen_type,class: "fi_input_style ",placeholder: "Specimen Type" ,style: 'width: 100%'%>
      </div>

      <div class="col-md-4 pull-right">
        <%= f.text_field :specimen_date,class: "fi_input_style datepicker pull-right",placeholder: "Specimen Date"%>
      </div>
    </div>


    <%= f.fields_for :panel_records do |panel_test| %>
        <%= render partial: 'investigation/records/panel_form',locals: {panel_test: panel_test,i: i} %>
        <% i+=1 %>
    <% end %>

    <div class="row mb10" >
      <div class=" col-md-offset-4 col-md-8">
        <%= f.text_area :investigation_comment ,class: "form-control",placeholder: "Investigation Remark" %>
      </div>
    </div>
<%else%>
    <%= render partial: 'investigation/records/common_form',locals: {f: f,lab_test: lab_test,action: 'new'} %>
<% end %>
