<br>
<div style="border:1px solid #ccc;">
  <div class="row" style="border-bottom:1px solid #ccc;">
    <div class="row mb5">
      <div class="col-md-6">
        <b><%= @facility_name %></b>
      </div>
      <div class="col-md-6 text-right">
        <b><%= @store_name %></b>
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-12">
        <b><%= @address %></b>
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-12">
        <b><%= @time_period %></b>
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-12">
        <b><%= @generate_on %></b>
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-12">
        <b><%= @generate_by %></b>
      </div>
    </div>
  </div>
  <div class="row" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;">
    <% if @data_array.size > 0 %>
      <div class="row check-font mt10 mb5">
        <table class="table table table-striped table-bordered">
          <tr class="t-head">
            <th>ITEM NAME</th>
            <th>BATCH</th>
            <th>MODEL NO</th>
            <th>QTY. SOLD</th>
            <th>UNIT PURCHASE VALUE</th>
            <th>TOTAL PURCHASE VALUE</th>
            <th>UNIT SELLING VALUE</th>
            <th>TOTAL SELLING VALUE</th>
            <th>TOTAL MARGIN</th>
          </tr>
          <% @data_array.each do |item| %>
            <tr>
              <td><%= item[0] %></td>
              <td><%= item[1] %></td>
              <td><%= item[2] %></td>
              <td><%= item[3] %></td>
              <td><%= item[4] %></td>
              <td><%= item[5] %></td>
              <td><%= item[6]&.round(2) %></td>
              <td><%= item[7] %></td>
              <td><%= item[8]&.round(2) %></td>
            </tr>
          <% end %>
          <tr>
            <td></td>
            <td style="background-color: #FFC0CB;"></td>
            <td style="background-color: #FFC0CB;"></td>
            <td style="background-color: #FFC0CB;">Total</td>
            <td style="background-color: #FFC0CB;"></td>
            <td style="background-color: #FFC0CB;"><%= @total_purchase_value&.round(2) %></td>
            <td style="background-color: #FFC0CB;"></td>
            <td style="background-color: #FFC0CB;"><%= @total_selling_value&.round(2) %></td>
            <td style="background-color: #FFC0CB;"><%= @total_margin&.round(2) %></td>
            <td></td>
          </tr>
        </table>
      </div>
    <% else %>
      <b>No Sale To Display</b><br>
    <% end %>
    <span style="font-size: 9px; color: #FF0000; font-style: italic;">Note: This report only lists the items that were marked sold. Returns and cancellations are not a part of this report.</span>
  </div>
</div>

<style type="text/css">
  .text-labels {
    font-weight: bold;
  }
  .check-font table tr th {
    padding: 1px 1px;
    background-color: #00b2f8;
    color: white;
  }

  .check-font table tr td {
    padding: 1px 1px;
    text-align: center;
  }

  .check-font {
    font-size: 9px;
  }
  .t-head th {
    background-color: skyblue !important;
  }
  tr{
    page-break-inside: avoid;
  }
</style>
