<div class="col-md-12">
  <div class="panel panel-dark panel-alt widget-quick-status-post">
    <div class="panel-heading" style="background-color: #49587E;margin-top: 0px !important;line-height: 0px;!important;padding: 10px;">
      <div class="panel-btns">
        <a href="" class="minimize" style="margin-top: 0px;color: white;opacity: 1">-</a>
      </div><!-- panel-btns -->
      <p class="panel-title" style="font-size: 11px;margin-top: 0px !important;line-height: 0px;!important;">Clinical Details</p>
    </div>
    <div class="panel-body" style="display: block;">
      <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#post-checkin" data-toggle="tab"><i class="fa fa-search"></i> <strong>Investigations</strong></a></li>
        <li class=""><a href="#post-photo" data-toggle="tab"><i class="fa fa-scissors"></i> <strong>Procedures</strong></a></li>
      </ul>
      <div class="tab-content">
        <div id="post-photo" class="tab-pane">
          <% unless last_opdrecord.nil? %>
              <table  class="table table-bordered" style="width:100%">
                <tr>
                  <th>Advised</th>
                  <th>Counselling Done</th>
                  <th>Performed</th>
                </tr>
                <tr>
                  <td>
                    <% if last_opdrecord.procedure.count > 0%>
                        <% last_opdrecord.procedure.each do |i| %>
                            <li><%= i.procedurename+"("+last_opdrecord.get_label_for_procedure_side(i.procedureside)+")"%></li>
                        <%end%>
                    <%else%>
                        None
                    <%end%>
                  </td>
                  <td>
                    <% if last_opdrecord.procedure.where(counselling: true).count > 0%>
                        <% last_opdrecord.procedure.where(counselling: true).each do |i| %>
                            <li><%= i.procedurename+"("+last_opdrecord.get_label_for_procedure_side(i.procedureside)+")"%></li>
                        <%end%>
                    <%else%>
                        None
                    <%end%>
                  </td>
                  <td>
                    <% if last_opdrecord.procedure.where(procedurestage: "P").count > 0%>
                        <% last_opdrecord.procedure.where(procedurestage: "P").each do |i| %>
                            <li><%= i.procedurename+"("+last_opdrecord.get_label_for_procedure_side(i.procedureside)+")"%></li>
                        <%end%>
                    <%else%>
                        None
                    <%end%>
                  </td>
                </tr>
              </table>
          <%else%>
              None
          <%end%>
        </div>
        <div id="post-checkin" class="tab-pane active">
          <%if last_opdrecord%>
              <table class="table table-bordered" style="width:100%">
                <tr>
                    <th>Advised</th>
                    <th>Counselling Done</th>
                    <th>Performed</th>
                </tr>
                <tr>
                  <td>
                    <% if last_opdrecord.ophthalinvestigationlist.count >0%>
                        <% last_opdrecord.ophthalinvestigationlist.each do |i|%>
                            <li>
                              <%= i.investigationname+"("+last_opdrecord.get_label_for_ophthalinvestigations_side(i.investigationside)+")"%>
                            </li>
                        <%end%>
                     <%else%>
                        None
                     <%end%>
                  </td>
                  <td>
                    <%if last_opdrecord.ophthalinvestigationlist.where(counselling: true).count > 0%>
                        <% last_opdrecord.ophthalinvestigationlist.where(counselling: true).each do |i|%>
                            <li>
                              <%= i.investigationname+"("+last_opdrecord.get_label_for_ophthalinvestigations_side(i.investigationside)+")"%>
                            </li>
                        <% end %>
                    <%else%>
                        None
                    <%end%>
                  </td>
                  <td>
          <%if last_opdrecord.ophthalinvestigationlist.where(investigationstage: "P").count > 0%>
              <% last_opdrecord.ophthalinvestigationlist.where(investigationstage: "P").each do |i|%>
                  <li>
                    <%= i.investigationname+"("+last_opdrecord.get_label_for_ophthalinvestigations_side(i.investigationside)+")"%>
                  </li>
              <% end %>
           <%else%>
              None
          <%end%>
                  </td>
                </tr>

              </table>
          <%else%>
              No OpdRecords found
          <%end%>
        </div>
      </div><!-- tab-content -->

    </div><!-- panel-body -->
  </div>
</div>