<% if @investigation %>
mark_start_td = $('#'+'<%= @investigation.id%>').parent('#mark_start_td')
upload_td = $('#'+'<%= @investigation.id%>').parent().siblings('#upload_td')
$('#'+'<%= @investigation.id%>').remove()//Class('btn btn-info').html
mark_start_td.append('<button class="btn btn-xs btn-primary" id="noUploads" data-attr="<%= @investigation.record_id%>" style="padding: 2px 21px"><i class="fa fa-hourglass-start"></i>No Uploads</button>')

upload_td.children('#inv_payment_status').remove()
upload_td.append('<button class="btn btn-xs btn-primary" id="opthalOpdFindings"><i class="fa fa-plus-circle"></i> Upload </button>')
<% end %>

<% if @radio_investigation %>
mark_start_td = $('#'+'<%= @radio_investigation.id%>').parent('#mark_start_td')
upload_td = $('#'+'<%= @radio_investigation.id%>').parent().siblings('#upload_td')
$('#'+'<%= @radio_investigation.id%>').remove()//Class('btn btn-info').html
mark_start_td.append('<button class="btn btn-xs btn-primary" id="noUploads" data-attr="<%= @radio_investigation.record_id%>" style="padding: 2px 21px"><i class="fa fa-hourglass-start"></i>No Uploads</button>')

upload_td.children('#inv_payment_status').remove()
upload_td.append('<button class="btn btn-xs btn-primary" id="radioOpdFindings"><i class="fa fa-plus-circle"></i> Upload </button>')
<% end %>