<style type="text/css" media="all">
    .table thead > tr > th,
    .table tbody > tr > th,
    .table tfoot > tr > th,
    .table thead > tr > td,
    .table tbody > tr > td,
    .table tfoot > tr > td {
      border-color: #aaa!important;
    }

    .table-bordered th,.table-bordered td{border:1px solid #aaa!important}

    .table>tbody+tbody {
      border-top: 2px solid #aaa;
    }

    .print-template {
        font-family: Open Sans;
        font-size: 8pt;
        color: #333333;
        background:  #ffffff ;
    }
    .pcs-header-content {
        font-size: 8pt;
        color: #333333;
        background-color: #ffffff;
    }
    .pcs-template-body {
        padding: 0 0.400000in 0 0.550000in;
    }
    .pcs-template-footer {
        height: 0.700000in;
        font-size: 6pt;
        color: #aaaaaa;
        padding: 0 0.400000in 0 0.550000in;
        background-color: #ffffff;
    }
    .pcs-footer-content {
        word-wrap: break-word;
        color: #aaaaaa;
        border-top: 1px solid #eeeeee;
    }
    .pcs-label {
        color: #000000;
    }
    .pcs-entity-title {
        font-size: 9pt;
        color: #333333;
    }
    .pcs-orgname {
        font-size: 9pt;
        color: #333333;
    }
    .pcs-customer-name {
        font-size: 9pt;
        color: #333333;
    }
    .pcs-itemtable-header {
        font-size: 8pt;
        color: #333333;
        background-color: #eff0f1;
    }
    .pcs-taxtable-header {
        font-size: 8pt;
        color: #000;
        background-color: #f5f4f3;
    }
    .pcs-item-row {
        font-size: 8pt;
        border-bottom: 1px solid #eeeeee;
        background-color: #ffffff;
        color: #333333;
    }
    .pcs-item-desc {
        color: #8e8e8e;
        font-size: 8pt;
    }
    .pcs-balance {
        background-color: #ffffff;
        font-size: 9pt;
        color: #333333;
    }
    .pcs-totals {
        font-size: 9pt;
        color: #333333;
        background-color: #ffffff;
    }
    .pcs-notes {
        font-size: 8pt;
    }
    .pcs-terms {
        font-size: 8pt;
    }
    .pcs-header-first {
        background-color: #ffffff;
        font-size: 8pt;
        color: #333333;
        height: auto;
    }
    .pcs-status {
        color: '';
        font-size: 15pt;
        border: 3px solid ;
        padding: 3px 8px;
    }
    .pcs-template-header {
        padding: 0 0.400000in 0 0.550000in;
        height: 0.700000in;
    }
    .pcs-entity-title {
        text-align: center;
        position: relative;
        text-transform: uppercase;
    }
    .pcs-entity-title:before {
        content: "";
        display: block;
        border-top: 1px solid #eeeeee;
        width: 100%;
        height: 1pt;
        position: absolute;
        top: 50%;
        font-size: 1pt;
    }
    .pcs-entity-title span {
        background: #ffffff;
        padding: 0 20px;
        position: relative;
    }
    .pcs-itemtable {
        border: 1px solid #eeeeee;
    }
    .pcs-itemtable-header {
        border-right: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
    }
    .pcs-item-row {
        border-right: 1px solid #eeeeee;
        border-bottom: none;
    }
    .pcs-bdr-top {
        border-top: 1px solid #eeeeee;
    }
    .pcs-bdr-bottom {
        border-bottom: 1px solid #eeeeee;
    }
    .pcs-table, .pcs-table th, .pcs-table td {
        border: 1px solid #eeeeee;
    }
</style>
<div class="summary-template">
  <%appointment = Appointment.find_by(id: @record.appointment_id)%>
  <div class="appointment-patient-details row mb10 mt10">
    <div class="col-md-3">
      <p><b>Patient Name</b></p>
      <p><b>Patient ID </b></p>
      <p><b>Mobile </b></p>
      <p><b>Age / Gender </b></p>
      <%if PatientOtherIdentifier.find_by(patient_id: @patient.id).present? %>
          <%if PatientOtherIdentifier.find_by(patient_id: @patient.id).mr_no.present? %>
              <p><b>MR No. </b></p>
          <%end%>
      <%end%>
    </div>
    <div class="col-md-3">
      <p><b>:</b>&nbsp; <b><%= @patient.fullname.upcase %></b></p>
      <p><b>:</b>&nbsp; <%= PatientIdentifier.find_by(patient_id: @patient.id.to_s).try(:patient_org_id) %></p>
      <p><b>:</b>&nbsp; <%= @patient.mobilenumber %></p>
      <p><b>:</b>&nbsp; <%if @patient.calculate_age.present? || @patient.gender.present?%><%= @patient.calculate_age %>/<%= @patient.gender %><% else %> Unavailable<% end %> </p>
      <%if PatientOtherIdentifier.find_by(patient_id: @patient.id).present? %>
          <%if PatientOtherIdentifier.find_by(patient_id: @patient.id).mr_no.present? %>
              <p><b>:</b>&nbsp;
                <%= PatientOtherIdentifier.find_by(patient_id: @patient.id).try(:mr_no) %>
              </p>
          <%end%>
      <%end%>
    </div>
    <div class="col-md-3">
      <p><b>Doctor Name</b></p>
      <p><b>Appointment Date</b></p>
      <p><b>Note Created On</b></p>
      <p><b>Facility</b></p>
    </div>
    <div class="col-md-3">
      <p><b>:</b>&nbsp; <b>
        <% if current_facility.clinical_workflow%>
            <% doctor_id = OpdClinicalWorkflow.find_by(appointment_id: @appointment.id.to_s).doctor_ids.last %>
            <% if doctor_id %>
                <%= User.find_by(id: doctor_id).fullname.upcase %>
            <% else %>
                <%= User.find_by(id: appointment.consultant_id).fullname.upcase %>
            <% end %>
        <% else %>
            <%= User.find_by(id: appointment.consultant_id).fullname.upcase %>
        <% end %>
      </b></p>
      <p><b>:</b>&nbsp; <%= appointment.appointmentdate.strftime("%d %b'%y ") %></p>
      <p><b>:</b>&nbsp; <%= @record.created_at.strftime("%d %b'%y") %></p>
      <p><b>:</b>&nbsp; <%= appointment.facility.name %> </p>
    </div>

  </div>


  <% if params[:action] ==  "print_opd_record" %>
      <style type="text/css">
          .appointment-patient-details * {
              font-size: 9px;
          }
          .appointment-patient-details {
              border:1px solid #aaa;
              padding:5px;
          }
      </style>
  <% else %>
      <style type="text/css">
          .appointment-patient-details p {
              margin: 0px;
              font-size: 10px;
          }
          .appointment-patient-details {
              border:1px solid #aaa;
              /*padding:5px;*/
          }
      </style>
  <% end %>
  <div class="pcs-entity-title" style="text-align: center;position: relative;text-transform: uppercase;"><span>Counsellor Summary</span></div>
  <div class="row">
    <b>IOL Package</b>
    <div class="summary-line-border"></div>
  </div>
  <div class="row">
    <div class="col-md-6"><label style="text-decoration: underline">IOL:</label> <%= @record.iol%></div>
  </div>

  <div class="row">
    <b>Patient History</b>
    <div class="summary-line-border"></div>
  </div>
  <div class="row ">
    <div class="col-md-12">Cardiac Problem: &nbsp; <%= @record.cardiac_problem.capitalize%>,&nbsp;Kidney Problem:&nbsp;<%= @record.kidney_problem.capitalize%>,&nbsp;Other problems:&nbsp;
      <%unless @record.other_problems == ""%>
          <%= @record.other_problems%>
      <%else%>
          None
      <%end%>
    </div>
  </div>

  <div class="row">
    <b>Medical Record</b>
    <div class="summary-line-border"></div>
  </div>

  <div class="row ">
    <div class="col-md-12"><label style="text-decoration: underline">Diagnosis:</label><%= @record.diagnosis%></div>
  </div>
  <% if @print_investigation.count > 0%>
      <div class="row">
        <div class="col-md-12"><label style="text-decoration: underline">Pre-op Investigations:</label> <%= @print_investigation.split(",").join(",")%></div>
      </div>
  <%end%>
  <% if @print_procedure.count > 0%>
      <div class="row">
        <div class="col-md-12"><label style="text-decoration: underline">Pre-op Procedures:</label> <%= @print_procedure.split(",").join(",")%></div>
      </div>
  <%end%>
  <div class="row">
    <div class="col-md-12"><label style="text-decoration: underline">Implant Info:</label> <%= @record.implant%></div>
  </div>

  <% if @record.advice != ""   %>
      <div class="row ">
        <b>Doctor's Advice</b>
        <div class="summary-line-border"></div>
      </div>
      <div class="row">
        <div class="col-md-12"><%= @record.advice%></div>
      </div>
  <%end%>

  <% if @record.patient_remark != ""   %>
      <div class="row ">
        <b> Patient's Remark</b>
        <div class="summary-line-border"></div>
      </div>

      <div class="row">
        <div class="col-md-12"> <%= @record.patient_remark%></div>
      </div>
  <%end%>

  <% if @record.patient_discussion != ""   %>
      <div class="row ">
        <b>Discussions With the Patient</b>
        <div class="summary-line-border"></div>
      </div>
      <div class="row">
        <div class="col-md-12"> <%= @record.patient_discussion%></div>
      </div>
  <%end%>


  <% if @record.comment != ""   %>

      <div class="row ">
        <b>Comments</b>
        <div class="summary-line-border"></div>
      </div>

      <div class="row">
        <div class="col-md-12"> <%= @record.comment%></div>
      </div>
  <%end%>
</div>