<table class="table table-success mb30">
  <thead class="thead-appt">
    <tr>
      <th>#</th>
      <!--<th>Patient ID</th>-->
      <th>Patient Name</th>
      <th>Admission Time</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="tbody-appt">
  <!-- If Admission count is more than 0 show "td" -->
    <% if @admission.size > 0 %>
      <% @admission_by_facility.try(:keys).each do |fac| %>
        <% if @admission_by_facility[fac].size > 0 && @all_facilities.size > 1 %>
            <tr>
              <td class="facility-name" colspan="5"><%= @admission_facilities[fac][0].name.upcase %></td>
            </tr>
        <% end %>
        <%  @admission_by_facility[fac].each_with_index do |admission,i| %>
          <% if i.to_i < @count.to_i %>
            <% @patient = admission.patient %>
            <tr>
              <td><%= i+1 %></td>
              <!--<td><%# @display_id = PatientIdentifier.find_by(patient_id: admission.patient_id).try(:patient_org_id).split("-") %><%#= @display_id[1] %>-<%#= @display_id[2] %></td>-->
              <td><%= @patient.fullname %></td>
              <td><%= admission.admissiontime.strftime("%I:%M %p") %></td>
              <td class="table-action">
                <%= link_to '/patient_summary/' + @patient.id.to_s, class: "ps", id: "patient-summary-timeline-link ps", data: {remote: "true"} do %><i class="fa fa-chevron-right"></i><% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    <!-- If admission count is less than 0 dont show "td" -->
    <%else%>
      <td></td>
      <td>No Admissions</td>
    <%end%>
  <!-- admissionList Ends -->
  </tbody>
</table>