<div class="modal-dialog modal-lg" style="width: 90%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">OT Details</h4>
    </div>
    <div class="modal-body">
      <div class="row mb10">
        <div class="col-md-12 text-right">
          <%= link_to inpatients_print_ot_details_path(id: params[:id], format: :pdf), class: 'btn btn-xs btn-primary', target: '_blank' do %>
            <span><i class="fa fa-print" aria-hidden="true"></i>&nbsp;Print</span>
          <% end %>
          <%= link_to inpatients_download_ot_details_path(id: params[:id], format: :xls), class: 'btn btn-xs btn-primary' do %>
            <span><i class="fa fa-download" aria-hidden="true"></i>&nbsp;Download</span>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover table-bordered">
            <thead>
              <tr style="text-align: center;">
                <th>OT Date</th>
                <th>OT Theatre</th>
                <th>Patient Name</th>
                <th>Age/Gender</th>
                <th>Patient ID</th>
                <th>Admission ID</th>
                <th>Current State</th>
                <th>Procedures</th>
                <th>Surgeon Name</th>
              </tr>
            </thead>
            <tbody>
              <% @ot_list_views.each do |ot_list_view| %>
                <tr style="text-align: center;">
                  <td><%= ot_list_view.ot_date.strftime('%d/%m/%Y') %></td>
                  <td><%= ot_list_view.theatre_name %></td>
                  <td><%= ot_list_view.patient_name %></td>
                  <td>
                    <% if ot_list_view.patient_age.nil? %>
                      - /
                    <% else %>
                      <%= ot_list_view.patient_age %> /
                    <% end %>
                    <% if ot_list_view.patient_gender.nil? %>
                      -
                    <% else %>
                      <%= ot_list_view.patient_gender %>
                    <% end %>
                  </td>
                  <td><%= ot_list_view.patient_display_id %></td>
                  <td>
                    <% if ot_list_view.admission_display_id.nil? %>
                      -
                    <% else %>
                      <%= ot_list_view.admission_display_id %>
                    <% end %>
                  </td>
                  <td><%= ot_list_view.current_state %></td>
                  <td>
                    <% case_sheet = @case_sheets.find { |cs| cs[:ot_schedule_ids].include?(ot_list_view.ot_id.to_s) } %>
                    <% all_procedures = case_sheet[:procedures] %>
                    <% if all_procedures == [] %>
                      No Procedures
                    <% else %>
                      <% all_procedures.each do |procedure| %>
                        <%= procedure.procedurename.to_s + ', ' + procedure.get_label_for_procedure_side(procedure.procedureside) %>
                      <% end %>
                    <% end %>
                  </td>
                  <td><%= ot_list_view.operating_doctor %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
