<%= render partial: 'ot_summary_filter_css.html.erb' %>
<div class="modal-dialog filter_modal">
  <div class="modal-content">
    <div class="modal-header">
      <button class="btn btn-xs btn-success apply-filter">Apply</button>
      <button class="btn btn-xs btn-primary clear-filter">Clear Filters</button>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <div class="row mb10">
        <div class="col-md-6 text-left ot-filter">
          <b>OT &nbsp;&nbsp;<span class="clear_OT clear_btn">clear</span></b>
        </div>
        <div class="col-md-6 text-left select-ot">
          <select class="form-control ot_dropdown">
            <option value="">Select OT</option>
            <% @ot_rooms.each do |ot_room| %>
              <option value="<%= ot_room[0] %>"><%= ot_room[1] %></option>
            <% end %>
          </select>
        </div>
      </div>
      <hr style='margin:10px;'>
      <div class="row mb10">
        <div class="col-md-6 text-left ot-filter">
          <b>Status &nbsp;&nbsp;<span class="clear_status clear_btn">clear</span></b>
        </div>
        <div class="col-md-6 text-left select-status">
          <%= select_tag "filter['status']", options_for_select(@all_status), class: 'form-control status_dropdown', include_blank: 'Select Status' %>
        </div>
      </div>
      <hr style='margin:10px;'>
      <div class="row mb10">
        <div class="col-md-6 text-left ot-filter">
          <b>Date &nbsp;&nbsp;<span class="clear_date clear_btn">clear</span></b>
        </div>
        <div class="col-md-6 text-left select-date">
          <input type="text" class="form-control select_date p5_10" readonly="readonly">
        </div>
      </div>
      <hr style='margin:10px;'>
      <div class="row mb10">
        <div class="col-md-6 text-left ot-filter">
          <b>Specialty &nbsp;&nbsp;<span class="clear_specialty clear_btn">clear</span></b>
        </div>
        <div class="col-md-6 text-left select-specialty">
          <select class="form-control specialty_dropdown">
            <option value="">Select Specialty</option>
            <% @specialties.each do |specialty| %>
              <option value="<%= specialty[0] %>"><%= specialty[1] %></option>
            <% end %>
          </select>
        </div>
      </div>
      <hr style='margin:10px;'>
      <div class="row mb10">
        <div class="col-md-6 text-left surgeon-filter">
          <b>Surgeon &nbsp;&nbsp;<span class="clear_surgeon clear_btn">clear</span></b>
        </div>
        <div class="col-md-6 text-left select-surgeon">
          <%= select_tag 'filter[surgeon]', options_for_select(@surgeon_name), class: 'form-control surgeon_dropdown', include_blank: 'Select Surgeon' %>
        </div>
      </div>
      <hr style='margin:10px;'>
      <div class="row mb10">
        <div class="col-md-6 text-left age-filter">
          <b>Age &nbsp;&nbsp;<span class="clear_age clear_btn">clear</span></b>
        </div>
        <div class="col-md-6 text-left select-age">
          <input type="number" name="filter[age_years]" value="" class="form-control age_fields p7_10" min="0" max="100" placeholder="Years">
        </div>
      </div>
      <!-- <hr style='margin:10px;'> -->
      <!-- <div class="row mb10">
        <div class="col-md-6 text-left ot-filter">
          <b>Procedure &nbsp;&nbsp;<span class="clear_procedure clear_btn">clear</span></b>
        </div>
        <div class="col-md-6 text-left select-procedure">
          <%# procedures = CommonProcedure.all.pluck(:name, :code) %>
          <%#= select_tag "filter['procedure']", options_for_select(procedures), {class:"form-control procedure_dropdown", include_blank: "Select Procedure" } %>
        </div>
      </div> -->
      <hr style='margin:10px;'>
      <div class="row mb10">
        <div class="col-md-12 text-left ot-filter">
          <b>Gender &nbsp;&nbsp;<span class="clear_gender clear_btn">clear</span></b>
        </div>
        <div class="col-md-12 gender_checkboxes">
          <div class="row">
            <div class="col-md-4">
              <div class="rdio rdio-primary">
                <input id="gender_male" name="filter[gender]" type="radio" value="Male">
                <label for="gender_male">Male</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="rdio rdio-primary">
                <input id="gender_female" name="filter[gender]" type="radio" value="Female">
                <label for="gender_female">Female</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="rdio rdio-primary">
                <input type="radio" name="filter[gender]" id='gender_other' value="Transgender">
                <label for="gender_other">Transgender</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <hr style='margin:10px;'>
      <div class="row mb10">
        <div class="col-md-12 text-left age-filter">
          <b>Age &nbsp;&nbsp;<span class="clear_age clear_btn">clear</span></b>
        </div>
        <div class="col-md-12 text-left age_inputs">
          <div class="col-md-3">
            <label for="filter_age_years">Years</label>
          </div>
          <div class="col-md-3">
            <input type="number" name="filter[age_years]" value="" class="form-control age_fields p7_10" min="0" max="100" placeholder="Years">
          </div>
          <div class="col-md-3">
            <label for="filter_age_months">Months</label>
          </div>
          <div class="col-md-3">
            <input type="number" name="filter[age_months]" value="" class="form-control age_fields p7_10" min="1" max="12" placeholder="Months">
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.age_fields').on('keyup', function(){
    let value = $(this).val()
    if(parseInt(value) < 0 || value == NaN){
      $(this).val(0)
    }
  })
</script>
