<div class="row ot-summary" style="font-size:12px;">
  <div class="col-md-4"></div>
  <div class="col-md-4 text-center">
    <b>OT Procedures</b>
  </div>
  <div class="col-md-4"></div>
</div>
<div>
  <table class="table table-bordered" style="text-align: center;">
    <thead>
      <tr style="font-size: 12px; color: #000;">
        <th>OT Date</th>
        <th>OT Theatre</th>
        <th>Patient Name</th>
        <th>Age/Gender</th>
        <th>Patient ID</th>
        <th>Admission ID</th>
        <th>Current State</th>
        <th>Procedures</th>
        <th>Surgeon Name</th>
      </tr>
    </thead>
    <tbody>
      <% @ot_list_views.each do |ot_list_view| %>
        <tr style="font-size: 12px; color: #000;">
          <td><%= ot_list_view.ot_date.strftime('%d-%m-%Y') %></td>
          <td><%= ot_list_view.theatre_name %></td>
          <td><%= ot_list_view.patient_name %></td>
          <td>
            <% if ot_list_view.patient_age.nil? %>
              -/
            <% else %>
              <%= ot_list_view.patient_age %>/
            <% end %>
            <% if ot_list_view.patient_gender.nil? %>
              -
            <% else %>
              <%= ot_list_view.patient_gender %>
            <% end %>
          </td>
          <td><%= ot_list_view.patient_display_id %></td>
          <td>
            <% if ot_list_view.admission_display_id == nil %>
              -
            <% else %>
              <%= ot_list_view.admission_display_id %>
            <% end %>
          </td>
          <td><%= ot_list_view.current_state %></td>
          <td>
            <% case_sheet = @case_sheets.find { |cs| cs[:ot_schedule_ids].include?(ot_list_view.ot_id.to_s) } %>
            <% all_procedures = case_sheet[:procedures] %>
            <% if all_procedures == [] %>
              No Procedures
            <% else %>
              <% all_procedures.each do |procedure| %>
                <%= procedure.procedurename.to_s + ', ' + procedure.get_label_for_procedure_side(procedure.procedureside) %>
              <% end %>
            <% end %>
          </td>
          <td><%= ot_list_view.operating_doctor %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
