<div class="col-sm-5">
  <div class="row no_margin">
    <% if @current_facility.show_finances && @current_facility.invoice_compulsory && @invoices&.size == 0 %>
      <% if ['doctor', 'doctor_clinical_auditor', 'receptionist', 'floormanager', 'cashier', 'nurse', 'counsellor', 'optometrist'].include?(@clinical_workflow.state) || @appointment_list_view.current_state == "Waiting" %>
        <i style="color:#f00;">* Invoice is not created for this Visit.</i>
      <% end %>
    <% end %>
  </div>

  <% if @current_user.role_ids.any? { |ele| [158965000,158966000, 106292003, 686800945].include?(ele) } %>
    <div class="dropdown">
      <button type="button" class="btn btn-xs btn-primary btn-danger" data-toggle="dropdown" id="adverse_event_form">Adverse Event&nbsp;&nbsp;<i class="fa fa-caret-down"></i></button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="adverse_events-dropdown" style="">
        <li style="text-align: center;">
          <%= link_to new_adverse_event_path(patient_id: @patient.id.to_s), id: 'adverse-event-btn', data: { remote: true, toggle: 'modal', target: '#adverse-event-modal' } do %>Report Adverse Event<% end %>
        </li>
        <strong style="margin-left: 10px">Previously Reported: <%= @adverse_events.length %></strong>
      </ul>
    </div>
  <% end %>
</div>


<% unless @clinical_workflow_present %>
  <!-- Non-Workflow -->
  <div class="col-sm-7 text-right">
    <div class="row no_margin">
      <% if @current_date == Date.current %>
        <% if @appointment_list_view.current_state == "Scheduled" %>
          <% if @current_facility.consultancy_type_enabled %>
            <% past_appointment_ids = @past_appointment.pluck(:id).uniq.join(',') %>
            <%= link_to consultancy_types_appointments_path(appointment_id: @appointment.id, past_appointment_ids: past_appointment_ids, token_setting_enabled: @token_setting.try(:token_enabled)), data: { remote: true, toggle: 'modal', target: '#appointment-modal' }, class: 'btn btn-xs btn-danger p_arrived mb10' do %>Patient Arrived<% end %>
          <% else %>
            <% if @token_setting.try(:token_enabled) && @current_date == Date.current %>
              <%= link_to token_settings_show_tokens_path(token_setting_id: @token_setting.id.to_s, appointment_id: @appointment.id), data: { remote: true, toggle: 'modal', target: '#appointment-modal' }, class: 'btn btn-xs btn-danger p_arrived mb10' do %>Mark Patient Arrived<% end %>
            <% else %>
              <%= link_to opd_clinical_workflow_mark_as_arrived_path(id: @appointment.id, appointment_id: @appointment.id, patient_arrived: true), data: { remote: true, 'disable-with': 'Please Wait...' }, class: ' btn btn-danger btn-xs' do %>Patient Arrived<% end %>
            <% end %>
          <% end %>
        <% elsif @appointment_list_view.current_state == "Waiting" %>
          <%= link_to opd_clinical_workflow_mark_as_arrived_path(id: @appointment.id, appointment_id: @appointment.id, patient_arrived: false), data: { remote: true, 'disable-with': 'Please Wait...' }, class: ' btn btn-danger btn-xs' do %>NA<% end %>
          <% if @current_facility.show_finances && @current_facility.invoice_compulsory && @invoices&.size == 0 %>
            <button class="btn btn-orange btn-xs" style="cursor: not-allowed;opacity: 0.5;">Mark Engaged</button>
          <% else %>
            <%= link_to opd_clinical_workflow_patient_engaged_path(id: @appointment.id, appointment_id: @appointment.id, patient_engaged: true), data: { remote: true, 'disable-with': 'Please Wait...' }, class: ' btn btn-orange btn-xs' do %>Mark Engaged<% end %>
          <% end %>
          <%= link_to opd_clinical_workflow_patient_completed_path(id: @appointment.id, appointment_id: @appointment.id, patient_completed: true), data: { remote: true, 'disable-with': 'Please Wait...' }, class: 'btn btn-success btn-xs' do %>Mark Completed<% end %>
        <% elsif @appointment_list_view.current_state == "Engaged" %>
          <%= link_to opd_clinical_workflow_patient_engaged_path(id: @appointment.id, appointment_id: @appointment.id, patient_engaged: false), data: { remote: true, 'disable-with': 'Please Wait...' }, class: 'btn btn-warning btn-xs' do %>Undo<% end %>
          <%= link_to opd_clinical_workflow_patient_completed_path(id: @appointment.id, appointment_id: @appointment.id, patient_completed: true), data: { remote: true, 'disable-with': 'Please Wait...' }, class: 'btn btn-success btn-xs' do %>Mark Completed<% end %>
        <% elsif @appointment_list_view.current_state == "Completed" %>
          <%= link_to opd_clinical_workflow_patient_completed_path(id: @appointment.id, appointment_id: @appointment.id, patient_engaged: false), data: { remote: true, 'disable-with': 'Please Wait...' }, class: 'btn btn-success btn-xs' do %><i class="fa fa-check"></i>&nbsp;&nbsp; Completed<% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <!-- Workflow -->
  <% if @clinical_workflow.is_qm_enabled == @queue_management_present %>
    <% if @user_station.present? || !@queue_management_present %>
      <div class="col-sm-7 text-right">
        <% if @current_date == Date.current %>
          <% if @clinical_workflow.state == 'not_arrived' %>
            <% if @queue_management_present %>
              <div class="row no_margin">
                <% if @current_facility.consultancy_type_enabled %>
                  <% past_appointment_ids = @past_appointment.pluck(:id).uniq.join(',') %>
                  <%= link_to consultancy_types_appointments_path(appointment_id: @appointment.id, past_appointment_ids: past_appointment_ids, token_setting_enabled: @token_setting.try(:token_enabled), to_station: @user_station&.id), data: { remote: true, toggle: 'modal', target: '#appointment-modal' }, class: 'btn btn-xs btn-danger p_arrived mb10' do %>Mark Patient Arrived<% end %>
                <% else %>
                  <% if @token_setting.try(:token_enabled) %>
                    <%= link_to token_settings_show_tokens_path(token_setting_id: @token_setting.id.to_s, appointment_id: @appointment.id, to_station: @user_station&.id, assigned_as: 'my_station', from: 'appointment_action'), data: { remote: true, toggle: 'modal', target: '#appointment-modal' }, class: 'btn btn-xs btn-danger p_arrived mb10' do %>Mark as Arrive-MyStation<% end %>
                    <%= link_to token_settings_show_tokens_path(token_setting_id: @token_setting.id.to_s, appointment_id: @appointment.id, to_station: @user_station&.id, assigned_as: 'my_queue', from: 'appointment_action'), data: { remote: true, toggle: 'modal', target: '#appointment-modal' }, class: 'btn btn-xs btn-danger p_arrived mb10' do %>Mark as Arrive-MyQueue<% end %>
                  <% else %>
                    <a href="/opd_clinical_workflow/patient_arrived?appointment_id=<%= @appointment.id.to_s %>&to_station=<%= @user_station&.id %>&assigned_as=my_station" data-remote="true" data-disable-with="Please Wait..." class="btn btn-xs btn-danger p_arrived mb10 ">Mark as Arrive-MyStation</a>
                    <a href="/opd_clinical_workflow/patient_arrived?appointment_id=<%= @appointment.id.to_s %>&to_station=<%= @user_station&.id %>&assigned_as=my_queue" data-remote="true" data-disable-with="Please Wait..." class="btn btn-xs btn-danger p_arrived mb10 ">Mark as Arrive-MyQueue</a>
                  <% end %>
                <% end %>
              </div>
            <% else %>
              <div class="row no_margin">
                <% if @current_facility.consultancy_type_enabled %>
                  <% past_appointment_ids = @past_appointment.pluck(:id).uniq.join(',') %>
                  <%= link_to consultancy_types_appointments_path(appointment_id: @appointment.id, past_appointment_ids: past_appointment_ids, token_setting_enabled: @token_setting.try(:token_enabled), to_station: @user_station&.id), data: { remote: true, toggle: 'modal', target: '#appointment-modal' }, class: 'btn btn-xs btn-danger p_arrived mb10' do %>Mark Patient Arrived<% end %>
                <% else %>
                  <% if @token_setting.try(:token_enabled) %>
                    <%= link_to token_settings_show_tokens_path(token_setting_id: @token_setting.id.to_s, appointment_id: @appointment.id, to_station: @user_station&.id), data: { remote: true, toggle: 'modal', target: '#appointment-modal' }, class: 'btn btn-xs btn-danger p_arrived mb10' do %>Mark Patient Arrived<% end %>
                  <% else %>
                    <%# if (@organisations_setting.try(:mandatory_invoice) && !@appointment.try(:opd_consultation_taken)) %>
                  <!--                <%#= link_to new_invoice_opd_path(specialty_id: @appointment.specialty_id, appointment_id: @appointment.id, type: Global.ehrcommon.opd.abbr, service_type: "General Consultation"), id: 'opd_new_invoice', data: { :remote => true, 'toggle' => 'modal', 'target' => '#invoice-modal' }, class: "btn btn-xs btn-info p_arrived mb10" do %>Consultation Bill<%# end %>-->
                <%# else %>
                  <% if Authorization::PolicyHelper.verification(current_user.id, "HGP-102-105-100") %>
                    <a href="/opd_clinical_workflow/patient_arrived?appointment_id=<%= @appointment.id.to_s%>&to_station=<%= @user_station&.id %>" data-remote="true" data-disable-with="Please Wait..." class="btn btn-xs btn-danger p_arrived mb10 ">Mark Patient Arrived</a>
                  <% else %>
                    <a class="btn btn-xs btn-danger p_arrived mb10 disabled" style="pointer-events: all" title="Not Authorized">Mark Patient Arrived</a>
                  <% end %>
                <%# end %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <% call_patient = false %>
          <% if @queue_management_present && (@clinical_workflow.state == 'check_out' || @clinical_workflow.state == 'waiting') && (@clinical_workflow.user_id.to_s == current_user.id.to_s) %>
            <!-- Call -->
            <%= link_to opd_clinical_workflow_change_state_path(to: current_user.primary_role, to_user: current_user.id, workflow_id: @clinical_workflow, to_station: @user_station&.id, call_patient: true), data: { remote: 'true', 'disable-with': 'Please Wait...' }, title: 'Call Patient', class: 'btn btn-xs btn-danger' do %><i class="fa fa-door-open"></i>&nbsp;Call Patient<% end %>
            <% call_patient = true %>
          <% elsif @queue_management_present && (@clinical_workflow.state == 'check_out' || @clinical_workflow.state == 'waiting') && (@clinical_workflow.user_id.nil? && @clinical_workflow.station_id.to_s == @user_station.station_id.to_s) %>
            <%= link_to opd_clinical_workflow_change_state_path(to: current_user.primary_role, to_user: current_user.id, workflow_id: @clinical_workflow, to_station: @user_station&.id, call_patient: true), data: { remote: 'true', 'disable-with': 'Please Wait...' }, title: 'Call Patient', class: 'btn btn-xs btn-danger' do %><i class="fa fa-door-open"></i>&nbsp;Call Patient<% end %>
            <% call_patient = true %>
          <% elsif @clinical_workflow.state == "call" && @clinical_workflow.user_id.to_s == current_user.id.to_s %>
            <% if @queue_management_present %>
              <a href='#' class="btn btn-xs btn-primary undo-state" data-disable-with="Please Wait...">Undo</a>
            <% end %>
            <!-- Check-In -->
            <%= link_to opd_clinical_workflow_change_state_path(to: current_user.primary_role, to_user: current_user.id, workflow_id: @clinical_workflow, to_station: @user_station&.id), data: { remote: 'true', 'disable-with': 'Please Wait...' }, title: 'Check-In', class: 'btn btn-xs btn-info' do %>Check-In<% end %>
          <% end %>

          <% if !@queue_management_present && (@clinical_workflow.state == 'check_out' || @clinical_workflow.state == 'waiting') && (@clinical_workflow.user_id.to_s == current_user.id.to_s) %>
            <%= link_to opd_clinical_workflow_change_state_path(to: current_user.primary_role, to_user: current_user.id, workflow_id: @clinical_workflow), data: { remote: 'true', 'disable-with': 'Please Wait...' }, title: 'Check-In', class: 'btn btn-xs btn-info' do %>Check-In<% end %>
            <% if @clinical_workflow.state != 'check_out' %>
              <% unless @clinical_workflow_timeline.count == 1 || @clinical_workflow.state == 'call' %>
                <a href="/opd_clinical_workflow/mark_as_away?appointment_id=<%= @appointment.id.to_s %>" data-remote="true" data-disable-with="Please Wait..." class="btn btn-xs btn-primary mark-away">Mark as Away</a>
              <% end %>
            <% end %>
          <% end %>

          <% if @clinical_workflow.state != "complete" && ["doctor","doctor_clinical_auditor","receptionist","floormanager", "cashier","nurse","counsellor","optometrist","ar_nct","check_out","call"].include?(@clinical_workflow.state) %>
            <% if (@clinical_workflow_timeline.try(:count).to_i == 1 && @appointment.try(:opd_record_count).to_i == 0) && @invoices.try(:count).to_i == 0 %>
              <a href="/opd_clinical_workflow/mark_as_not_arrived?appointment_id=<%= @appointment.id.to_s%>" data-remote="true" data-disable-with="Please Wait..." title="Not Arrived" class="btn btn-xs btn-danger">NA</a>
            <% end %>
            <% if @clinical_workflow.try(:user_id) == @current_user.id.to_s && @clinical_workflow.state != 'check_out'%>
              <% if ((@organisations_setting.try(:mandatory_invoice) && !@appointment.try(:opd_consultation_taken))) %>
                <%= link_to new_invoice_opd_path(specialty_id: @appointment.specialty_id, appointment_id: @appointment.id, type: Global.ehrcommon.opd.abbr, service_type: "General Consultation"), id: 'opd_new_invoice', data: { :remote => true, 'toggle' => 'modal', 'target' => '#invoice-modal' }, class: "btn btn-xs btn-info p_arrived" do %>Consultation Bill<% end %>
              <% else %>
                <%unless @clinical_workflow_timeline.count == 1 || @clinical_workflow.state == 'call'%>
                  <a href="/opd_clinical_workflow/mark_as_away?appointment_id=<%= @appointment.id.to_s%>" data-remote="true" data-disable-with="Please Wait..." class="btn btn-xs btn-primary mark-away" >Mark as Away</a>
                <% end %>
                <% unless @clinical_workflow.state == 'call' %>
                  <% if Authorization::PolicyHelper.verification(current_user.id, "HGP-102-105-102") %>
                    <a href="/opd_clinical_workflow/patient_complete?appointment_id=<%= @appointment.id.to_s%>" data-remote="true" data-disable-with="Please Wait..." class="btn btn-xs btn-success mark-completed">Mark as Completed </a>
                  <% else %>
                    <a class="btn btn-xs btn-success mark-completed disabled" style="pointer-events: all" title="Not Authorized">Mark as Completed</a>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <% if @clinical_workflow.state == "complete" %>
            <% if @clinical_workflow_timeline_second_last.try(:user_id).to_s == @current_user.id.to_s %>
              <a href='#' class="btn btn-xs btn-primary undo-state" data-disable-with="Please Wait...">Undo</a>
            <% end %>
          <% else %>
            <% if @clinical_workflow.try(:user_id) != @current_user.id.to_s %>
              <% if (@clinical_workflow_timeline_second_last.try(:user_id).to_s == @current_user.id.to_s) && (@clinical_workflow_timeline&.last&.transition_type != 'get_patient') %>
                <a href='#' class="btn btn-xs btn-primary undo-state" data-disable-with="Please Wait...">Undo</a>
              <% end %>
            <% end %>
          <% end %>

          <% if ['complete', 'not_arrived', 'away'].exclude?( @clinical_workflow.state ) && @clinical_workflow.try(:user_id) != @current_user.id.to_s && !call_patient %>
            <% if ((@organisations_setting.try(:mandatory_invoice) && !@appointment.try(:opd_consultation_taken))) %>
              <button class="btn btn-primary btn-xs" style="cursor: not-allowed;opacity: 0.8;">Get Patient</button>
            <% else %>
              <% if @current_facility.show_finances && @current_facility.invoice_compulsory && @invoices&.size == 0 %>
                <button class="btn btn-primary btn-xs" style="cursor: not-allowed;opacity: 0.8;">Get Patient</button>
              <% elsif @clinical_workflow.state == 'call' && @queue_management_present %>
                <b style="color:#f00;">Patient is on Call | </b>
                <!-- <button class="btn btn-primary btn-xs" style="cursor: not-allowed;opacity: 0.8;">Get Patient</button> -->
                <a href="#" class="btn btn-xs btn-primary get-patient" data-id="<%= @current_user.id %>" style="">Get Patient</a>
              <% else %>
                <a href="#" class="btn btn-xs btn-primary get-patient" data-id="<%= @current_user.id %>" style="">Get Patient</a>
                  <!-- <ahref="/opd_clinical_workflow/get_patient?to=<%= @current_user.primary_role%>&to_user=<%= @current_user.id%>&workflow_id=<%= @clinical_workflow.id%>&to_station=<%= @user_station&.id %>" data-remote="true" class="btn btn-xs btn-primary get-patient" data-disable-with="Please Wait...">Get Patient</a>-->
              <% end %>
            <% end %>
          <% end %>
          <% if @clinical_workflow.state == "away" %><a href="#" class="btn btn-xs btn-primary get-patient" data-id="<%= @current_user.id %>" style="">Get Patient</a>
            <!-- <a href="/opd_clinical_workflow/get_patient?to=<%= @current_user.primary_role%>&to_user=<%= @current_user.id%>&workflow_id=<%= @clinical_workflow.id%>&to_station=<%= @user_station&.id %>" data-remote="true" class="btn btn-xs btn-primary get-patient" data-disable-with="Please Wait...">Get Patient</a>-->
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div class="col-sm-7 text-right">
        <% if current_facility_setting&.user_set_station %>
          <b style="color:#f00;">No Station Assigned. Please select <%= link_to 'Station', link_user_queue_management_sub_stations_path, data: { remote: true, toggle: 'modal', target: '#organisation-modal' } %></b>
        <% else %>
          <b style="color:#f00;">No Station Assigned. Contact Admin.</b>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <span style="font-style: italic; color: red;">Note: If you want to complete the workflow then revert the QM setting and complete the flow and then change the setting again.</span>
  <% end %>
<% end %>

<% if @current_user.role_ids[0] == 499992366 && @clinical_workflow_present && @counsellor_workflow.present?#counsellor %>
  <div class="col-sm-12 mt10">
    <% unless @counsellor_workflow.state == 'deleted' %>
      <label class="label label-success" style="margin-left: 16px">
        <% if @counsellor_workflow.state == 'converted' and @counsellor_workflow.surgerydates.length > 0 %>
          Surgery on <br><%= Date.parse(@counsellor_workflow.surgerydates.last).strftime("%d %b'%y") %>
        <% elsif  @counsellor_workflow.state == 'converted' %>
            <%= @counsellor_workflow.converted_state.last %>
            <% if @investigation_appointment.size > 0 %>
                Scheduled on <%= @investigation_appointment.last.appointmentdate.strftime('%d %b,%y') %>
            <% elsif @investigation_appointment.size == 0 %>
                Today
            <% else %>
                Deleted
            <% end %>
        <% elsif @counsellor_workflow.state == "followup" %>
          Followup on <%= @counsellor_workflow.followupdates.last.strftime("%d %b'%y") %>
        <% else %>
          <%= @counsellor_workflow.state.titleize %>
        <% end %>
      </label>
    <% end %>
  </div>
<% end %>

<script>
  $(".get-patient").click(function(e){
    e.preventDefault();
    $(".get-patient-note").remove();
    var user = '<%= @current_user.id %>'
    var counter = 0;
    $('#dialog-confirm-get-patient-'+'<%= @clinical_workflow.id %>').removeClass("hidden")
    var dialog = $('#dialog-confirm-get-patient-'+'<%= @clinical_workflow.id %>').dialog({
      resizable: false,
      height: "auto",
      width: 500,
      modal: true,
      buttons: {
        "Yes": function() {
          if (counter == 0){
            counter++;
            // $( "button:contains('No')" ).text( "Not a Refferal" );
            $( "button:contains('Yes')" ).text( "Get Patient" );
            dialog.html("Are you sure ? <br><textarea value='' class='get-patient-note form-control' placeholder='Write a note' rows='3' cols='50'>")
          } else if (counter > 0){
            var get_patient_note = $(".get-patient-note").val();
            $.ajax({
              data: { get_patient: true, get_patient_note: get_patient_note, transition_type: 'get_patient'},
              url: '/opd_clinical_workflow/checkout?to='+'<%= @current_user.primary_role %>'+'&to_user='+user+'&workflow_id=<%= @clinical_workflow.id %>&to_station=<%= @user_station&.id %>'
            })
            dialog.dialog('close');
          }
        }
      }
    });
    $('.ui-dialog-titlebar-close').addClass("fa fa-close")
  })
</script>

<style type="text/css">
  .ui-dialog {
    background-color: #FFFFFF;
    border: solid 1px black;
    border-radius: 3px;
    top: 30% !important;
  }

  .ui-dialog-titlebar {
    border-bottom: 1px solid #e5e5e5;
  }

  .ui-dialog .ui-dialog-buttonpane button {
    background-color: #31b0d5;
    border: 1px;
    color: #FFFFFF;
    padding: 0px 10px;
    border-radius: 3px;
    border-color: #46b8da;
  }
</style>
