<div class="panel panel-dark panel-alt clinical-details">
  <div class="panel-heading" style="background-color: #49587E;margin-top: 0px !important;line-height: 0px !important;padding: 10px;">
    <div class="panel-btns">
      <a href="" class="minimize minimize-clinical-box" style="margin-top: 0px;color: white;opacity: 1">-</a>
    </div><!-- panel-btns -->
    <p class="panel-title" style="font-size: 11px;margin-top: 0px !important;line-height: 0px;!important;">Clinical Details</p>
  </div>
  <div class="panel-body appointment_tabs clinical-note-section" style="display: block;padding:0px;">
    <ul class="nav nav-tabs tab_active">
      <li class="full-width active"><a href="#clinical_investigation" data-toggle="tab"><i class="fa fa-search"></i> <strong>Investigations</strong></a></li>
      <li class="full-width"><a href="#clinical_procedure" data-toggle="tab"><i class="fa fa-scissors"></i> <strong>Procedures</strong></a></li>
      <li class="full-width"><a href="#clinical_diagnosis" data-toggle="tab"><i class="fa fa-stethoscope"></i> <strong>Diagnosis</strong></a></li>
    </ul>
    <div class="tab-content">
      <div id="clinical_diagnosis" class="tab-pane">
        <% if @opd_record.present? %>
          <% if @opd_record.diagnosislist.count > 0 || @opd_record.diagnosiscomments.present?%>
            <%= render partial: 'inpatient/ipd_records/common/diagnosis_output',locals: {diagnosis: @opd_record.diagnosislist}%>
            <% if @opd_record.diagnosiscomments.present?%>
              <li><%=@opd_record.diagnosiscomments%></li>
            <%end%>
          <%else%>
            None
          <%end%>
        <%else%>
          None
        <%end%>
      </div>
      <div id="clinical_procedure" class="tab-pane">
        <% if @opd_record.present? %>
          <% if @opd_record.procedure.count > 0 || @opd_record.procedurecomments.present?%>
            <% @opd_record.procedure.where(procedurestage: "A",counselling: false).each do |proc|%>
              <li>
                <%=proc.procedurename%>
                <%if proc.try(:procedureside) == "18944008"%>
                  , R  <%= ', Advised on' + proc.entered_datetime.try(:strftime,"%d %b,%y")  if !proc.entered_datetime.nil?%>
                <%elsif proc.try(:procedureside) == "8966001"%>
                  , L  <%= ', Advised on' + proc.entered_datetime.try(:strftime,"%d %b,%y")  if !proc.entered_datetime.nil?%>
                <%elsif  proc.try(:procedureside) == "40638003"%>
                  , B/E  <%= ', Advised on' + proc.entered_datetime.try(:strftime,"%d %b,%y")  if !proc.entered_datetime.nil?%>
                <%else%>
                   <%= ', Advised on' + proc.entered_datetime.try(:strftime,"%d %b,%y")  if !proc.entered_datetime.nil?%>
                <%end%>
              </li>
            <%end%>
            <% if @opd_record.procedurecomments.present?%>
              <div class="summary-line-border">From Procedure comments</div>
              <li>
                <%= @opd_record.procedurecomments%>
              </li>
            <%end%>
          <%else%>
            None
          <%end%>
        <%else%>
          None
        <%end%>
      </div>
      <div id="clinical_investigation" class="tab-pane active">
        <% unless @opd_record.nil?%>
          <% if @opd_record.ophthalinvestigationlist.where(investigationstage: "A",counselling: false).size > 0 || @opd_record.ophthalcomments.present?%>
            <% @opd_record.ophthalinvestigationlist.where(investigationstage: "A",counselling: false).each_with_index do |elem, i|  %>
              <li>
                <%= elem.investigationname %>
                <% if elem.investigationside? %>
                  (<%= @opd_record.get_label_for_ophthalinvestigations_side(elem.investigationside) %>),<%= Date.parse(elem.investigationadviseddate).strftime("%d %b,%y") %>
                <% end %>
              </li>
            <% end %>
            <% if @opd_record.ophthalcomments.present?%>
              <div class="summary-line-border">From Investigation comments</div>
              <li><%=  @opd_record.ophthalcomments%></li>
            <% end %>
          <%else%>
            None
          <% end %>
        <%else%>
          None
        <% end %>
      </div>
    </div><!-- tab-content -->
  </div><!-- panel-body -->
</div>

<style type="text/css">
  .clinical-details .full-width {
    width: 33.33%;
  }
</style>