<div class="col-sm-12">
  <div class="row no_margin" style="padding: 0 15px;">
    <b>Followup Details:</b>&emsp;
  </div>
  <div class="row no_margin" style="padding: 0 15px">
    <% @followupdates.where(:followup_date.gte => params[:current_date]).sort.each_with_index do |f,i| %>
      <%= link_to orders_followup_path(f.id, case_sheet_id: @case_sheet.id.to_s, appointment_id: @appointment.id.to_s), style: "float: left;", remote: true do %>
        <%= f.followup_date.strftime("%d %b,%y")%> at <%= f.followup_time%>
      <% end %>
      &emsp;
    <% end %>
    <% if @followupdates.where(:followup_date.lte => params[:current_date]).length > 0 %>
      <div class="col-lg-offset-1 col-sm-2 no_padding text-left">
        <button style="" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">Past Followups&nbsp;&nbsp;<i class="fa fa-caret-down"></i></button>
        <ul class="dropdown-menu dropdown-menu-right" style="min-width: 200px;" role="menu" aria-labelledby="followup-dropdown">
          <% @followupdates.where(:followup_date.lte => params[:current_date]).sort.each_with_index do |f,i| %>
            <li>
              <%= link_to orders_followup_path(f.id, case_sheet_id: @case_sheet.id.to_s, appointment_id: @appointment.id.to_s), remote: true do %>
                <%= f.followup_date.strftime("%d %b,%y")%> at <%= f.followup_time%>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
<style>
 a {
  text-decoration: none;
  color: #000;
 }
 a:hover {
  color: #2a6496;
  text-decoration: underline;
 }
</style>