<div class="row">
  <div id="patient-notes-header" class="col-md-10 col-md-offset-1" style="padding:5px 0px;">
    <div class="panel panel-default" style="margin-left: 3px;">
      <div class="panel-heading" style="background-color: #49587E;margin-top: 0px;line-height: 0px;padding: 10px;">
        <div class="panel-btns">
          <a href="" class="minimize minimize-counsellor-box" style="margin-top: 0px;color: white;opacity: 1">-</a>
        </div><!-- panel-btns -->
        <p class="panel-title"  style="font-size: 11px;margin-top: 0px;line-height: 0px;color: white">COUNSELLOR NOTE</p>
      </div>
      <div class="panel-body counsellor-note-section" style="display: block;padding: 0 15px;">
        <%= form_tag "/opd_appointments/save_counsellor_note.js", :method => :post, :remote => true, :id => 'note_form', :class => 'form form-bordered' do %>
          <span class="col-md-10 row mb15" ><%= hidden_field_tag :patient_id ,@patient.id,class: 'form-control'%></span>
          <div class="mb15 row">
            <div class="col-md-12 col-sm-12  mb10px">
              <span class="col-xs-12 mb15" ><%= text_area_tag :comment ,"",class: 'form-control counsellor-note-message message',placeholder: "Enter your note..",style: "width: 100%; max-width: 260px; min-width: 224px; max-height:100px;"%></span>
            </div>
            <div class="co,-md-12 col-sm-12">  
              <span class="col-xs-12"><%= submit_tag("Save",{:class=>"btn btn-success btn-sm", :id=> "submit_cona_notes", :style => "float: right; margin-right: 0px;"}) %></span>
            </div>  
          </div>
        <%end%>
        <span class="row error_block" style="display:none;">
            <div class="error_consullar_message" style="color:red;display:none;">Please enter the note</div>
        </span>
        <div id="counsellor-notes">
          <%= render partial: 'outpatients/appointment/appointment_details/counsellor_notes.html.erb' %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    $("#submit_cona_notes").on('click', function(e){
      var counsellor_note_message = $(".counsellor-note-message").val();
      if(counsellor_note_message == ""){
        $('.error_block').css('display', 'block');
        $('.error_consullar_message').css('display', 'block');
        $('.error_consullar_message').fadeOut(3000);
        e.preventDefault();
      }
    })
    $('.minimize-counsellor-box').on('click', function(e){
      e.preventDefault();
      $(".counsellor-note-section").toggle();
    })
  
</script>