<% if @patient_invoices.count > 0 %>
  <% currency_wise_invoices = @patient_invoices.group_by(&:currency_symbol) %>
  <div class="row no_margin mb10">
    <div class="col-md-3"><b style="color:#000;">All Bills (<%= @patient_invoices.count %>) : </b></div>
    <div class="col-sm-3">
      <span>Total :
        <label class="label label-success">
          <% counter = 0 %>
          <% currency_wise_invoices.each do |currency_symbol, invoices| %>
            <% if counter > 0 %>&nbsp;|&nbsp;<% end %> <%= currency_symbol %><%= invoices.map { |va| va[:net_amount].to_f }.sum %>
            <% counter += 1 %>
          <% end %>
        </label>
      </span>
    </div>
    <div class="col-sm-3">
      <span>Received :
        <label class="label label-info">
          <% counter = 0 %>
          <% currency_wise_invoices.each do |currency_symbol, invoices| %>
            <% if counter > 0 %>&nbsp;|&nbsp;<% end %> <%= currency_symbol %><%= invoices.map { |va| (va[:payment_received].to_f + va[:advance_payment].to_f) }.sum %>
            <% counter += 1 %>
          <% end %>
        </label>
      </span>
    </div>
    <div class="col-sm-3">
      <span>Pending :
        <label class="label label-danger">
          <% counter = 0 %>
          <% currency_wise_invoices.each do |currency_symbol, invoices| %>
            <% if counter > 0 %>&nbsp;|&nbsp;<% end %> <%= currency_symbol %><%= invoices.map { |va| va[:payment_pending].to_f }.sum %>
            <% counter += 1 %>
          <% end %>
        </label>
      </span>
    </div>
  </div>
  <hr>
<% end %>
<div class="row no_margin">
  <div class="col-sm-6">
    <div style="display: inline;">
      <% if @invoices.count > 0 %>
        <% currency_wise_invoices = @invoices.group_by(&:currency_symbol) %>
        <span>Bills Amount :
          <label class="label label-success">
            <% counter = 0 %>
            <% currency_wise_invoices.each do |currency_symbol, invoices| %>
              <% if counter > 0 %>&nbsp;|&nbsp;<% end %> <%= currency_symbol %><%= invoices.map { |va| va[:net_amount].to_f }.sum %>
              <% counter += 1 %>
            <% end %>
          </label>
        </span>
      <% else %>
        <span>Bills Amount : <label class="label label-success"> No Bills Found </label></span>
      <% end %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="btn-group pull-right" style="margin-bottom: 0; margin-left: 10px;">
      <div class="btn-group">
        <button type="button" class="btn btn-xs btn-success dropdown-toggle opd-invoice" data-toggle="dropdown">
          <%= current_facility.currency_symbol %> Bills
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="invoice-print-dropdown">
          <!-- Stored Receipts -->
          <% @invoice_templates.each do |invoice_template| %>
            <li style="text-align:center;">
              <%= link_to new_invoice_opd_path(specialty_id: @appointment.specialty_id, appointment_id: @appointment.id, type: Global.ehrcommon.opd.abbr, department_id: '485396012', invoice_template_id: invoice_template.id), data: { :remote => true, 'toggle' => 'modal', 'target' => '#invoice-modal' } do %><%= invoice_template[:name] %><% end %>
            </li>
          <% end %>
          <!-- New Draft Receipt -->
          <li style="text-align:center;">
            <%= link_to new_invoice_opd_path(specialty_id: @appointment.specialty_id, appointment_id: @appointment.id, type: Global.ehrcommon.opd.abbr, is_draft: true), id: 'opd_new_invoice', data: { :remote => true, 'toggle' => 'modal', 'target' => '#invoice-modal' } do %>New Draft Bill<% end %>
          </li>
          <!-- New Receipt -->
          <li style="text-align:center;">
            <%= link_to new_invoice_opd_path(specialty_id: @appointment.specialty_id, appointment_id: @appointment.id, type: Global.ehrcommon.opd.abbr), id: 'opd_new_invoice', data: { :remote => true, 'toggle' => 'modal', 'target' => '#invoice-modal' } do %>New Bill<% end %>
          </li>
          <!-- Advance Receipt -->
          <li style="text-align:center;">
            <%= link_to new_invoice_advance_payment_path(appointment_id: @appointment.id, type: Global.ehrcommon.opd.abbr, patient_id: @appointment.patient_id, specialty_id: @appointment.specialty_id), data: { :remote => true, 'toggle' => 'modal', 'target' => '#invoice-modal' } do %> Advance Receipt<% end %>
          </li>
          <!-- Old Receipts -->
          <% if @patient_invoices.size > 0 %>
            <li class="old_invoice_ss"><span>Previous Bills</span></li>
            <% @patient_invoices.newest_invoice_first.each do |patient_pastinvoice| %>
              <% is_draft = (patient_pastinvoice.is_draft.present? && patient_pastinvoice.is_draft == true) ? true : false%>
              <% draft_class = (is_draft == true) ? 'is-draft-bg' : '' %>
              <% fa_class = (is_draft == true) ? 'fa-edit' : 'fa-fw' %>
              <li style="text-align:center;">
                <% if patient_pastinvoice._type == 'Invoice::Opd' %>
                  <%= link_to invoice_opd_path(id: patient_pastinvoice.id), class: draft_class, data: { remote: true } do %><i class="fa <%=fa_class%>"></i><%= patient_pastinvoice.created_at.strftime("%d %b'%y at %I:%M %p") %> <label class='label label-info'>OP</label><% end %>
                <% elsif patient_pastinvoice._type == 'Invoice::Ipd' %>
                  <%= link_to invoice_ipd_path(id: patient_pastinvoice.id), class: draft_class, data: { remote: true } do %><i class="fa <%=fa_class%>"></i><%= patient_pastinvoice.created_at.strftime("%d %b'%y at %I:%M %p") %> <label class='label label-danger'>IP</label><% end %>
                <% end %>
              </li>
            <% end %>
          <% end %>
          <!-- All Receipts End -->
        </ul>
      </div>
    </div><!-- btn-group -->
  </div>
</div>
<% if @advance_payments.count > 0 %>
  <div class="row no_margin">
    <div class="col-sm-12 mb10">
      <% advance_payment_total = @advance_payments.group_by(&:currency_symbol) %>
      <span>Advance Payment (Remaining Adv. Amt.):
          <label class="label label-warning">
            <% counter = 0 %>
            <% advance_payment_total.each do |currency_symbol, advance_payments| %>
              <% if counter > 0 %>&nbsp;|&nbsp;<% end %> <%= currency_symbol %><%= (advance_payments.map { |va| va[:amount].to_f.try(:round, 3) }.sum).try(:round, 3) %> (<%= (advance_payments.map { |va| va[:amount_remaining].to_f }.sum).to_f.try(:round, 3) - (advance_payments.map { |va| va[:refund_amount].to_f }.sum).to_f.try(:round, 3) %> )
              <% counter += 1 %>
            <% end %>
          </label>
        </span>
    </div>
    <!-- <div class="col-sm-8 col-md-offset-4 text-right">
      <p style="font-size:10px;"><b style="font-size:14px;">Note:</b> This is Amount Which Is Not Yet Been Adjusted Or Refunded</p>
    </div> -->
    <% @advance_payments.each do |advance_payment| %>
      <div class="col-sm-4 mb3">
        <% if advance_payment.is_refunded %>
          <%= link_to invoice_advance_payment_path(id: advance_payment.id), class: 'btn btn-xs btn-default', data: { :remote => true, 'toggle' => 'modal', 'target' => '#invoice-modal' } do %><%= advance_payment.currency_symbol %><%= advance_payment.amount.try(:round, 3) %>(<strike> <%= advance_payment.currency_symbol %><%= advance_payment.amount_remaining.try(:round, 3) %> </strike>) on <%= advance_payment.created_at.strftime("%d %b'%y") %><% end %>
        <% else %>
          <%= link_to invoice_advance_payment_path(id: advance_payment.id), class: 'btn btn-xs btn-default', data: { :remote => true, 'toggle' => 'modal', 'target' => '#invoice-modal' } do %><%= advance_payment.currency_symbol %><%= advance_payment.amount.try(:round, 3) %> (<%= advance_payment.currency_symbol %><%= advance_payment.amount_remaining.try(:round, 3) %>) on <%= advance_payment.created_at.strftime("%d %b'%y") %><% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
<hr>
<% if @refund_payments.count > 0 %>
  <div class="row no_margin">
    <div class="col-sm-12 mb10">
      <% refund_payment_total = @refund_payments.group_by(&:currency_symbol) %>
      <span>Refund Payment :
          <label class="label label-warning">
            <% counter = 0 %>
            <% refund_payment_total.each do |currency_symbol, refund_payments| %>
              <% if counter > 0 %>&nbsp;|&nbsp;<% end %> <%= currency_symbol %><%= (refund_payments.map { |va| va[:amount].to_f }.sum).try(:round, 3) %>
              <% counter += 1 %>
            <% end %>
          </label>
        </span>
    </div>
    <!-- <div class="col-sm-8 col-md-offset-4 text-right">
      <p style="font-size:10px;"><b style="font-size:14px;">Note:</b> This is Amount Which Is Not Yet Been Adjusted Or Refunded</p>
    </div> -->
    <% @refund_payments.each do |refund_payment| %>
      <div class="col-sm-4 mb3">
        <%= link_to invoice_refund_payment_path(id: refund_payment.id), class: 'btn btn-xs btn-default', data: { :remote => true, 'toggle' => 'modal', 'target' => '#invoice-modal' } do %><%= refund_payment.currency_symbol %><%= refund_payment.amount.try(:round, 3) %> on <%= refund_payment.created_at.strftime("%d %b'%y") %><% end %>
      </div>
    <% end %>
  </div>
<% end %>
<hr>
