<% if @appointment.referral_text.present? %>
  <div class="row">
    <div class="col-sm-4 text-left">
      Patient Referral
    </div>
    <div class="col-sm-1 text-left">:</div>
    <div class="col-sm-6">
      <%= @appointment.referral_text %>
    </div>
  </div>
<% else %>
  <% if @initial_referral_type.present? %>
    <div class="row">
      <div class="col-sm-4 text-left">
        Patient Referral
        <% if (@initial_referral_type.try(:appointment_id) == @patient_referral_type.try(:appointment_id)) && @initial_referral_type.referral_type_id != "FS-RT-0010" %>
          <%= link_to edit_patient_referral_type_path(id: @initial_referral_type.id.to_s), data: { remote: true, toggle: 'modal', target: '#referral-appointment-modal' }, class: 'btn btn-link btn-xs', style: 'padding: 0px 5px;' do %><i class="fa fa-edit"></i><% end %>
        <% end %>
      </div>
      <div class="col-sm-1 text-left">:</div>
      <div class="col-sm-6">
        <% if @initial_referral_type.referral_type_id != "FS-RT-0010" && @initial_referral_type.referral_type_id != "FS-RT-0001" %>
          <b><%= @initial_referral_type.referral_type.name.to_s.titleize %> - <%= @initial_referral_type.sub_referral_type.name.to_s.titleize %></b>
          <% if @initial_referral_type.referral_type_id != "FS-RT-0001" %>
            <button class="btn btn-link btn-xs btn-initial-more-detail" style="padding: 0px 5px;">More</button>
          <% end %>
          <div id="initial-more-detail" style="display: none;"><%= render partial: 'patient_referral_types/views/sub_referral_view.html.erb', locals: { sub_referral_type: @initial_referral_type.sub_referral_type } %></div>
        <% else %>
          <b><%= @initial_referral_type.sub_referral_type.name.to_s %></b>
        <% end %>
      </div>
      <div class="col-sm-1">
        <% if current_user.role_ids.include?(158965000) %>
          <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-envelope" aria-hidden="true"></i> <span class="caret"></span>
          </a>
          <%= render partial: 'patient_summary_timelines/other_details/form_referral_message.html.erb' %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-sm-4 text-left">
        Patient Referral
      </div>
      <div class="col-sm-1 text-left">:</div>
      <div class="col-sm-6">
        <b>None</b>
        <% if @deleted_patient_referral_type.present? %>
          <%= link_to edit_patient_referral_type_path(id: @deleted_patient_referral_type.id.to_s), data: { remote: true, toggle: 'modal', target: '#referral-appointment-modal' }, class: 'btn btn-link btn-xs tabletwork', style: 'padding: 0px 5px;' do %>Add<% end %>
        <% else %>
          <%= link_to new_patient_referral_type_path(appointment_id: @appointment.id.to_s), data: { remote: true, toggle: 'modal', target: '#referral-appointment-modal' }, class: 'btn btn-link btn-xs tabletwork', style: 'padding: 0px 5px;' do %>Add<% end %>
        <% end %>
      </div>
      <div class="col-sm-1">
        <% if current_user.role_ids.include?(158965000) %>
          <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-envelope" aria-hidden="true"></i> <span class="caret"></span>
          </a>
          <%= render partial: 'patient_summary_timelines/other_details/form_referral_message.html.erb' %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if (@initial_referral_type.try(:appointment_id) != @patient_referral_type.try(:appointment_id)) && @initial_referral_type.try(:referral_type_id) != "FS-RT-0010" %>
    <% if @patient_referral_type.present? %>
      <div class="row">
        <div class="col-sm-4 text-left">
          Appt Referral
          <%= link_to edit_patient_referral_type_path(id: @patient_referral_type.id.to_s), data: { remote: true, toggle: 'modal', target: '#referral-appointment-modal' }, class: 'btn btn-link btn-xs tabletwork', style: 'padding: 0px 5px;' do %><i class="fa fa-edit"></i><% end %>
        </div>
        <div class="col-sm-1 text-left">:</div>
        <div class="col-sm-7">
          <b><%= @patient_referral_type.referral_type.name.to_s.titleize %> - <%= @patient_referral_type.sub_referral_type.name.to_s.titleize %></b>
          <% if @patient_referral_type.referral_type_id != "FS-RT-0001" %>
            <button class="btn btn-link btn-xs btn-patient-referral-more-detail" style="padding: 0px 5px;">More</button>
          <% end %>
          <div id="patient-referral-more-detail" style="display: none;">
            <%= render partial: 'patient_referral_types/views/sub_referral_view.html.erb', locals: { sub_referral_type: @patient_referral_type.sub_referral_type } %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-sm-4 text-left">Appt Referral</div>
        <div class="col-sm-1 text-left">:</div>
        <div class="col-sm-7">
          <b>None</b>
          <% if @deleted_patient_referral_type.present? %>
            <%= link_to edit_patient_referral_type_path(id: @deleted_patient_referral_type.id.to_s), data: { remote: true, toggle: 'modal', target: '#referral-appointment-modal' }, class: 'btn btn-link btn-xs', style: 'padding: 0px 5px;' do %>Add<% end %>
          <% else %>
            <%= link_to new_patient_referral_type_path(appointment_id: @appointment.id.to_s), data: { remote: true, toggle: 'modal', target: '#referral-appointment-modal' }, class: 'btn btn-link btn-xs', style: 'padding: 0px 5px;' do %>Add<% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<script type="text/javascript">
  $(".btn-initial-more-detail").on('click', function(){
    if($(this).html() == "More"){
      $(this).html("Less")
      $("#initial-more-detail").show()
    } else {
      $(this).html("More")
      $("#initial-more-detail").hide()
    }
  })

  $(".btn-patient-referral-more-detail").on('click', function(){
    if($(this).html() == "More"){
      $(this).html("Less")
      $("#patient-referral-more-detail").show()
    } else {
      $(this).html("More")
      $("#patient-referral-more-detail").hide()
    }
  })
</script>
