<% drug_allergies = @patient.allergy_histories.where(allergy_type: 'drug_allergies') %>
<% contact_allergies = @patient.allergy_histories.where(allergy_type: 'contact_allergies') %>
<% food_allergies = @patient.allergy_histories.where(allergy_type: 'food_allergies') %>

<% if drug_allergies.present? || contact_allergies.present? || food_allergies.present? || @patient.drug_allergies_comment.present? || @patient.contact_allergies_comment.present? || @patient.food_allergies_comment.present? %>
  <div class="col-md-12">
    <% if drug_allergies.present? || @patient.drug_allergies_comment.present? %>
      <div class="row">
        <div class="col-md-3 text-left">
          <b>Drug (Allergies)</b>
        </div>
        <div class="col-md-1">:</div>
        <div class="col-md-8">
          <% drug_allergies.each_with_index do |allergy, i| %>
            <span>
              <% if i > 0 %>,&nbsp;&nbsp;<% end %>
              <b class="text-danger"><%= allergy.name.split('_').map(&:capitalize).join(' ') %></b>
              <% allergy_hidden_duration, allergy_duration, allergy_duration_unit = allergy.allergy_started %>
              <% if allergy_duration.present? &&  allergy_duration_unit.present? %>
                Since <%= allergy_duration %> <%= allergy_duration_unit %>
              <% end %>
            </span>
          <% end %>
          <% if @patient.drug_allergies_comment.present? %>
            <% if drug_allergies.present? %>,&nbsp;&nbsp;<% end %><b class="text-danger"><%= @patient.drug_allergies_comment %></b>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if contact_allergies.present? || @patient.contact_allergies_comment.present? %>
      <div class="row">
        <div class="col-md-3 text-left">
          <b>Contact (Allergies)</b>
        </div>
        <div class="col-md-1">:</div>
        <div class="col-md-8">
          <% contact_allergies.each_with_index do |allergy, i| %>
            <span>
              <% if i > 0 %>,&nbsp;&nbsp;<% end %>
              <b class="text-danger"><%= allergy.name.split('_').map(&:capitalize).join(' ') %></b>
              <% allergy_hidden_duration, allergy_duration, allergy_duration_unit = allergy.allergy_started %>
              <% if allergy_duration.present? &&  allergy_duration_unit.present? %>
                Since <%= allergy_duration %> <%= allergy_duration_unit %>
              <% end %>
            </span>
          <% end %>
          <% if @patient.contact_allergies_comment.present? %>
            <% if contact_allergies.present? %>,&nbsp;&nbsp;<% end %><b class="text-danger"><%= @patient.contact_allergies_comment %></b>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if food_allergies.present? || @patient.food_allergies_comment.present? %>
      <div class="row">
        <div class="col-md-3 text-left">
          <b>Food (Allergies)</b>
        </div>
        <div class="col-md-1">:</div>
        <div class="col-md-8">
          <% food_allergies.each_with_index do |allergy, i| %>
            <span>
              <% if i > 0 %>,&nbsp;&nbsp;<% end %>
              <b class="text-danger"><%= allergy.name.split('_').map(&:capitalize).join(' ') %></b>
              <% allergy_hidden_duration, allergy_duration, allergy_duration_unit = allergy.allergy_started %>
              <% if allergy_duration.present? &&  allergy_duration_unit.present? %>
                Since <%= allergy_duration %> <%= allergy_duration_unit %>
              <% end %>
            </span>
          <% end %>
          <% if @patient.food_allergies_comment.present? %>
            <% if food_allergies.present? %>,&nbsp;&nbsp;<% end %><b class="text-danger"><%= @patient.food_allergies_comment %></b>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% if @patient.others_allergies.present? %>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3 text-left">
        <b>Other (Allergies)</b>
      </div>
      <div class="col-md-1">:</div>
      <div class="col-md-8">
        <b class="text-danger"><%= @patient.others_allergies %></b>
      </div>
    </div>
  </div>
<% end %>
