<% personel_history_counter = 0 %>
<% personel_history_counter += 1 if @patient.opthal_history_comment.present? || @patient.history_comment.present? %>

<% patient_histories = ['glaucoma', 'retinal_detachment', 'retinal_dystrophies', 'glasses', 'ocular_disease', 'ocular_surgery', 'eye_surgery', 'eye_disease', 'consanguinity', 'uveitis', 'retinal_laser', 'diabetes', 'hypertension', 'alcoholism', 'smoking_tobacco', 'steroid_intake', 'drug_abuse', 'hiv_aids', 'cancer_tumor', 'cardiac_disorder', 'tuberculosis', 'asthma', 'cns_disorder_stroke', 'thyroid_disorder', 'hypothyroidism', 'hyperthyroidism', 'hepatitis_cirrhosis', 'renal_disorder', 'acidity', 'on_insulin', 'on_aspirin_blood_thinners', 'chewing_tobacco', 'rheumatoid_arthritis', 'benign_prostatic_hyperplasia', 'contact_lens'] %>

<% patient_histories.each do |patient_history| %>
  <% personel_history_counter += 1 if @patient.speciality_history_records.find_by(name: patient_history).present? || @patient.personal_history_records.find_by(name: patient_history).present? %>
<% end %>

<% if personel_history_counter > 0 %>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3 text-left">
        <b><%= current_facility.specialty_ids.include?('309988001') ? 'Ophthalmic & Systemic' : 'Systemic' %></b>
      </div>
      <div class="col-md-1">:</div>
      <div class="col-md-8">
        <span>
          <% ph_count = 0 %>
          <% patient_histories.each do |patient_history| %>
            <% name = patient_history.split('_').map(&:capitalize).join(' ') %>
            <% if @patient.speciality_history_records.find_by(name: patient_history).present? %>
              <% ph_count += 1 %>
              <% speciality_history = @patient.speciality_history_records.find_by(name: patient_history) %>
              <span>
                <% if ph_count > 1 %>,&nbsp;&nbsp;<% end %><b class="text-success"><%= name %></b>
                <% l_hidden_duration, l_duration, l_duration_unit, r_hidden_duration, r_duration, r_duration_unit = speciality_history.l_r_set_duration %>
                <% if l_duration.present? && l_duration_unit.present? %>
                  Left Eye since <%= l_duration %> <%= l_duration_unit %>
                <% end %>
                <% if r_duration.present? && r_duration_unit.present? %>
                  <%= '&' if l_duration.present? || l_duration_unit.present? %>
                  Right Eye since <%= r_duration %> <%= r_duration_unit %>
                <% end %>
              </span>
            <% elsif @patient.personal_history_records.find_by(name: patient_history).present? %>
              <% ph_count += 1 %>
              <% peronal_history = @patient.personal_history_records.find_by(name: patient_history) %>
              <span>
                <% if ph_count > 1 %>,&nbsp;&nbsp;<% end %><b class="text-success"><%= name %></b>
                <% hidden_duration, duration, duration_unit = peronal_history.set_duration %>
                <% if duration.present? && duration_unit.present? %>
                  <%= duration %> <%= duration_unit %>
                <% end %>
              </span>
            <% end %>
          <% end %>
          <% if @patient.opthal_history_comment.present? %>
            <b class="text-success">
              <% if ph_count > 0 %>,&nbsp;&nbsp;<% end %><%= @patient.opthal_history_comment %>
            </b>
          <% end %>
          <% if @patient.history_comment.present? && (@patient.opthal_history_comment.present? || ph_count > 0) %>
            ,&nbsp;&nbsp;
          <% end %>
          <% if @patient.history_comment.present? %>
            <b class="text-success">
              <%= @patient.history_comment %>
            </b>
          <% end %>
        </span>
      </div>
    </div>
  </div>
<% end %>
<% if @patient.other_history.medical_history.present? %>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3 text-left">
        <b>Medical</b>
      </div>
      <div class="col-md-1">:</div>
      <div class="col-md-8">
        <b class="text-success"><%= @patient.other_history.medical_history %></b>
      </div>
    </div>
  </div>
<% end %>
<% if @patient.other_history.family_history.present? %>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3 text-left">
        <b>Family</b>
      </div>
      <div class="col-md-1">:</div>
      <div class="col-md-8">
        <b class="text-success"><%= @patient.other_history.family_history %></b>
      </div>
    </div>
 </div>
<% end %>
<% if @patient.other_history.specialstatus.present? && @patient.other_history.specialstatus != 'None' %>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3 text-left">
        <b>Special Status</b>
      </div>
      <div class="col-md-1">:</div>
      <div class="col-md-8">
        <b class="text-success"><%= @patient.other_history.specialstatus %></b>
      </div>
    </div>
  </div>
<% end %>
