<div class="col-md-12">
  <% if @patient.present? %>
    <% personel_history_counter = 0 %>

    <% if @patient.opthal_history_comment != "" && @patient.opthal_history_comment != nil %>
      <% personel_history_counter = personel_history_counter + 1 %>
    <%end%>

    <% if @patient.history_comment != "" && @patient.history_comment != nil %>
      <% personel_history_counter = personel_history_counter + 1 %>
    <%end%>

    <% patient_history = ["glaucoma","retinal_detachment","retinal_dystrophies","glasses","ocular_disease","ocular_surgery","eye_surgery","eye_disease","consanguinity","uveitis","retinal_laser","diabetes","hypertension","alcoholism","smoking_tobacco","steroid_intake","drug_abuse","hiv_aids","cancer_tumor","cardiac_disorder","tuberculosis","asthma","cns_disorder_stroke","thyroid_disorder","hypothyroidism","hyperthyroidism","hepatitis_cirrhosis","renal_disorder","acidity","on_insulin","on_aspirin_blood_thinners", "chewing_tobacco", "rheumatoid_arthritis", "benign_prostatic_hyperplasia"] %>

    <% patient_history.each do |patient_history| %>
      <% if @patient.speciality_history_records.find_by(name: patient_history).present? %>
        <% personel_history_counter = personel_history_counter + 1 %>
      <% elsif @patient.personal_history_records.find_by(name: patient_history).present? %>
        <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
    <% end %>

    <% if personel_history_counter > 0  %>
      <% if current_facility.specialty_ids.include?("309988001") %>
        <h5 style="margin:2px;display:inline;" class="col-md-4 no_padding text-left"><b>Ophthalmic & Systemic :</b></h5>
      <% else %>
      <h5 style="margin:2px;display:inline;" class="col-md-2 no_padding text-left"><b>Systemic :</b></h5>
      <% end %>
      <% if @patient.opthal_history_comment != "" && @patient.opthal_history_comment != nil %>
        <label class='label-history'><%= @patient.opthal_history_comment %></label>
      <%end%>
      <% if @patient.history_comment != "" && @patient.history_comment != nil %>
        <label class='label-history'><%=  @patient.history_comment %></label>
      <%end%>
      <% patient_history.each do |patient_history| %>
        <% name = patient_history.split("_").map(&:capitalize).join(" ") %>
        <% if @patient.speciality_history_records.find_by(name: patient_history).present? %>
          <% @speciality_history = @patient.speciality_history_records.find_by(name: patient_history) %>
          <label class='label-history'>
          <%= name %>
            <% l_hidden_duration, l_duration, l_duration_unit, r_hidden_duration, r_duration, r_duration_unit  = @speciality_history.l_r_set_duration %>
            <% if l_duration.present? && l_duration_unit.present? %>
              Left Eye since <%= l_duration  %> <%= l_duration_unit  %>
            <% end %>
            <% if r_duration.present? && r_duration_unit.present? %>
              <% "&" if @speciality_history.l_duration.present?  %>
              Right Eye since <%= r_duration  %> <%= r_duration_unit  %>
            <% end %>
          </label>
        <% elsif @patient.personal_history_records.find_by(name: patient_history).present?  %>
          <% @peronal_history = @patient.personal_history_records.find_by(name: patient_history) %>
          <label class='label-history'>
            <%= name %>
            <% hidden_duration, duration, duration_unit  = @peronal_history.set_duration %>
            <% if duration.present? && duration_unit.present? %>
              <%= duration  %> <%= duration_unit %>
            <% end %>
          </label>
        <%end%>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class="col-md-12" style="overflow: auto;">
  <% if @patient.other_history.medical_history.present?%>
    <div class="mb3"></div>
    <h5 style="margin:2px;display:inline;" class="col-md-2 no_padding text-left"><b>Medical :</b></h5>
    <label class="label-history"><%= @patient.other_history.medical_history %></label>
  <% end %>
</div>
<div class="col-md-12" style="overflow: auto;">
  <% if @patient.other_history.family_history.present?%>
    <div class="mb3"></div>
    <h5 style="margin:2px;display:inline;" class="col-md-2 no_padding text-left"><b>Family :</b></h5>
    <label class="label-history"><%= @patient.other_history.family_history %></label>
  <% end %>
</div>
<div class="col-md-12">
  <% if @patient.other_history.specialstatus.present? && @patient.other_history.specialstatus != "None"%>
    <div class="mb3"></div>
    <h5 style="margin:2px;display:inline;" class="col-md-2 no_padding text-left"><b>Special Status :</b></h5>
      <label class="label-history"><%= @patient.other_history.specialstatus %></label>
  <% end %>
</div>
<div class="row" style="margin-left: 1px">
  <% if @patient.present? %>
    <% if @patient.allergy_histories.present? || @patient.drug_allergies_comment.present? || @patient.contact_allergies_comment.present? || @patient.food_allergies_comment.present? %>
      <% allergy_counter = 0 %>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <% allergy_counter = allergy_counter + 1 %>
        <h5 style="margin:2px;display:inline;" class="col-md-3 no_padding text-left"><b>Drug (Allergies) :</b></h5>
        <% @drug_allergies = @patient.allergy_histories.where(allergy_type: "drug_allergies") %>
        <% if @drug_allergies.present? %>
          <% @drug_allergies.each do |allergy| %>
            <label class="label-allergy"><%= allergy.name.split("_").map(&:capitalize).join(" ") %>
              <% @allergy_hidden_duration, @allergy_duration, @allergy_duration_unit  = allergy.allergy_started %>
              <% if @allergy_duration.present? &&  @allergy_duration_unit.present? %>
                  Since <%=  @allergy_duration %> <%= @allergy_duration_unit%>
              <% end %>
            </label>
          <% end %>
        <% end %>
        <% if @patient.drug_allergies_comment.present? %>
          <label class="label-allergy"><%= @patient.drug_allergies_comment %></label>
        <% end %>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="mb3"></div>
        <% allergy_counter = allergy_counter + 1 %>
        <h5 style="margin:1px;display:inline;" class="col-md-3 no_padding text-left"><b>Contact (Allergies) :</b></h5>
        <% @contact_allergies = @patient.allergy_histories.where(allergy_type: "contact_allergies") %>
        <% if @contact_allergies.present? %>
          <% @contact_allergies.each do |allergy| %>
            &nbsp;<label class="label-allergy"><%= allergy.name.split("_").map(&:capitalize).join(" ") %>
              <% if allergy.duration.present? && allergy.duration_unit.present? %>
                 <% @allergy_hidden_duration, @allergy_duration, @allergy_duration_unit  = allergy.allergy_started %>
                 Since <%=  @allergy_duration %> <%= @allergy_duration_unit%>
              <% end %>
            </label>
          <% end  %>
        <% end %>
        <% if @patient.contact_allergies_comment.present? %>
          <label class="label-allergy"><%= @patient.contact_allergies_comment %></label>
        <% end %>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="mb3"></div>
        <% allergy_counter = allergy_counter + 1 %>
        <h5 style="margin:2px;display:inline;" class="col-md-3 no_padding text-left"><b>Food (Allergies) :</b></h5>
        <% @food_allergies = @patient.allergy_histories.where(allergy_type: "food_allergies") %>
        <% if @food_allergies.present? %>
          <% @food_allergies.each do |allergy| %>
            <label class="label-allergy"><%= allergy.name.split("_").map(&:capitalize).join(" ") %>
              <% if allergy.duration.present? && allergy.duration_unit.present? %>
                 <% @allergy_hidden_duration, @allergy_duration, @allergy_duration_unit  = allergy.allergy_started %>
                 Since <%=  @allergy_duration %> <%= @allergy_duration_unit%>
              <% end %>
            </label>
          <% end %>
        <% end %>
        <% if @patient.food_allergies_comment.present? %>
          <label class="label-allergy"><%= @patient.food_allergies_comment %></label>
        <% end %>
      </div>
    <% end %>
    <% if @patient.others_allergies.present? %>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="mb3"></div>
          <h5 style="margin:2px;display:inline;" class="col-md-3 no_padding text-left"><b>Other (Allergies) :</b></h5>
          <label class="label-allergy"><%= @patient.others_allergies %></label>
        </div>
      <% end %>
  <% end %>
</div>

<style>
  .label-allergy{
    background: none;
    border: 2px solid #ec644b;
    color: #444;
    margin: 2px !important;
    padding: 2px;
    padding-left: 7px;
    letter-spacing: .5px;
    padding-right: 7px;
    border-radius: 5px;
  }
  .label-history{
    background: none;
    border: 2px solid #1ba39c;
    color: #444;
    margin: 2px !important;
    padding: 2px;
    padding-left: 7px;
    letter-spacing: .5px;
    border-radius: 5px;
    padding-right: 7px;
  }
  .label-allergy:hover{
    background: #ec644b;
    color: white;
    box-shadow:1px 0px 0px #333;
  }
  .label-history:hover{
    background: #1ba39c;
    color: white;
    box-shadow:1px 0px 0px #333;
  }
</style>