<div class="row">
  <div class="col-sm-4 text-left">Patient ID</div>
  <div class="col-sm-1 text-left">:</div>
  <div class="col-sm-7">
    <%= @patient.patient_identifier_id %>
  </div>
</div>
<% if @patient.patient_mrn.present? %>
  <div class="row">
    <div class="col-sm-4 text-left">MR No.</div>
    <div class="col-sm-1 text-left">:</div>
    <div class="col-sm-7"><b style="color:#000;background: #fed136;"><%= @patient.patient_mrn %></b></div>
  </div>
<% end %>
<% if @patient.patient_type.present? %>
  <div class="row">
    <div class="col-sm-4 text-left">Patient Type</div>
    <div class="col-sm-1 text-left">:</div>
    <div class="col-sm-7">
      <label class="label label-default" style="margin-left:0px;background:<%= @patient.patient_type.color %>"><%= @patient.patient_type.label.to_s.upcase %> <% if @patient.patient_type_comment? %>- <%= @patient.patient_type_comment %><% end %></label>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-sm-4 text-left">Registration Date</div>
  <div class="col-sm-1 text-left">:</div>
  <div class="col-sm-7">
    <%= @patient.reg_time.try(:strftime, '%d/%m/%Y') %>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 text-left">Primary Contact</div>
  <div class="col-sm-1 text-left">:</div>
  <div class="col-sm-7">
    <%= Authorization::PolicyHelper.verification(current_user.id, "HGP-102-103-100") ? @patient.mobilenumber : "X"*6 + @patient.mobilenumber[-4,4] %>
  </div>
</div>

<% if @patient.address_1.present? || @patient.address_2.present? || @patient.city.present? || @patient.state.present? || @patient.pincode.present? || @patient.commune.present? || @patient.district.present? %>
  <div class="row">
    <div class="col-sm-4 text-left">Address</div>
    <div class="col-sm-1 text-left">:</div>
    <div class="col-sm-7">
      <%= "#{@patient.try(:address_1)}" %>
      <% if @patient.try(:address_1).present? %>, <% end %>
      <%= "#{ @patient.try(:address_2) }" %>
      <%= " #{ @patient.try(:area_manager_name) } #{ @patient.try(:city) } #{ @patient.try(:state) } #{ @patient.try(:commune) } #{ @patient.try(:district) }" %>
      <% if @patient.try(:pincode).present? %>
        <%= "(#{ @patient.try(:pincode) })" %>
      <% end %>
    </div>
  </div>
<% end %>
<% if @patient.emergency_contact.present? %>
  <div class="row">
    <div class="col-sm-4 text-left">Emergency Details</div>
    <div class="col-sm-1 text-left">:</div>
    <div class="col-sm-7">
      <%= @patient.emergency_contact %>
    </div>
  </div>
<% end %>
<% if @patient.primary_language.present? || @patient.secondary_language.present? %>
  <div class="row">
    <div class="col-sm-4 text-left">Language</div>
    <div class="col-sm-1 text-left">:</div>
    <div class="col-sm-7">
      <%= @patient.primary_language %>
      <%= (', ' + @patient.secondary_language.to_s if @patient.secondary_language.present? && @patient.primary_language.present?) || @patient.secondary_language.to_s %>
    </div>
  </div>
<% end %>
<% if @patient.occupation.present? || @patient.employee_id.present? %>
  <% occupation_full_details = (@patient.employee_id.present? && @patient.occupation.present?) %>
  <div class="row">
    <div class="col-sm-4 text-left">
      <% if occupation_full_details || @patient.occupation.present? %>
        Occupation
      <% else %>
        Employee ID
      <% end %>
    </div>
    <div class="col-sm-1 text-left">:</div>
    <% if current_facility.country_id == 'VN_254' %>
      <div class="col-sm-7">
        <%= @occupation_name %>
        <%= (', ' + @patient.employee_id.to_s if occupation_full_details) || @patient.employee_id.to_s %>
      </div>
    <% else %>
      <div class="col-sm-7">
        <%= @patient.occupation %>
        <%= (', ' + @patient.employee_id.to_s if occupation_full_details) || @patient.employee_id.to_s %>
      </div>
    <% end %>
  </div>
<% end %>
<% if @patient.social_security_number.present? %>
  <div class="row">
    <div class="col-sm-4 text-left">VSS Number</div>
    <div class="col-sm-1 text-left">:</div>
    <div class="col-sm-7">
      <%= @patient.social_security_number %>
    </div>
  </div>
<% end %>
<div id="patient-referral-type">
  <%= render partial: 'outpatients/appointment/appointment_details/patient_referral_type.html.erb' %>
</div>
<% if @appointment.try(:patient_visit_category).present? %>
  <div class="row">
    <div class="col-sm-4 text-left">
      Patient Visit Category
    </div>
    <div class="col-sm-1 text-left">:</div>
    <div class="col-sm-6">
      <label class="label label-warning">
        <%= @appointment.try(:patient_visit_category) %>
      </label>
    </div>
  </div>
<% end %>
<% if @appointment.try(:patient_category).present? %>
  <div class="row">
    <div class="col-sm-4 text-left">
      Patient Category
    </div>
    <div class="col-sm-1 text-left">:</div>
    <div class="col-sm-6">
      <label class="label label-warning">
        <%= @appointment.try(:patient_category) %>
      </label>
    </div>
  </div>
<% end %>
<% if @past_appointment.count > 0 %>
  <div class="row">
    <div class="col-sm-4 text-left">Last Visit</div>
    <div class="col-sm-1 text-left">:</div>
    <div class="col-sm-7">
      <% @past_appointment.each.with_index do |past_appointment,i| %>
        <span class="past-appointment" style="<%= 'display:none;' if i > 0 %>">
          <% day = Time.current.day - past_appointment.appointment_date.day %>
          <% month = Time.current.month - past_appointment.appointment_date.month %>
          <% year = Time.current.year - past_appointment.appointment_date.year %>
          <% if day < 0 %><% day = past_appointment.appointment_date.end_of_month.day + day %><% month -= 1 %><% end %>
          <% if month < 0 %><% month = 12 + month %><% year -= 1 %><% end %>
          <% if year < 1 %>
            <% if month < 1 %>
              <%= day %> <%= 'day'.pluralize(day) %> ago (<%= past_appointment.appointment_date.strftime('%b %d') %>)
            <% else %>
              <%= month %> <%= 'month'.pluralize(month) %> and <%= day %> <%= 'day'.pluralize(day) %> ago (<%= past_appointment.appointment_date.strftime('%b %d') %>)
            <% end %>
          <% else %>
            <%= year %> <%= 'year'.pluralize(year) %> and <%= month %> <%= 'month'.pluralize(month) %> ago (<%= past_appointment.appointment_date.strftime('%b %d') %>)
          <% end %>
          <span> Dr.
            <% if current_facility.clinical_workflow %>
              <% last_clinical_workflow = OpdClinicalWorkflow.find_by(appointment_id: past_appointment.appointment_id.to_s) %>
              <%= @last_visit_doctor = User.find_by(id: last_clinical_workflow.try(:consultant_ids).try(:last)).try(:fullname).to_s.split(" ")[0] %>
            <% else %>
              <%= past_appointment.consulting_doctor.split(' ')[0] %>
            <% end %>
          </span>
        </span>
        <% if i == 0 && @past_appointment.count > 1 %><button class="btn btn-link expand-last-visits"><i class="fa fa-caret-down"></i></button>
        <% end %>
        <div class="mb1"></div>
      <% end %>
    </div>
  </div>
<% end %>
<% if @case_sheet.diagnoses.count > 0 %>
  <div class="row">
    <div class="col-sm-4 text-left">Previous Diagnosis</div>
    <div class="col-sm-1 text-left">:</div>
    <div class="col-sm-7">
      <% @case_sheet.diagnoses.each_with_index do |diagnosis, i| %>
        <span class="previous-diagnosis" style="<%= 'display:none;' if i > 0 %>">
          <% if diagnosis.icd_type == 'TranslatedIcdDiagnosis' %>
            <%= diagnosis.diagnosisname.to_s %> - <%= diagnosis.icddiagnosiscode.to_s.upcase.insert(3, '.') %>- <%= diagnosis.consultant_name %>
          <% else %>
            <%= diagnosis.diagnosisoriginalname.to_s %> - <%= diagnosis.icddiagnosiscode.to_s.upcase.insert(3, '.') %> - <%= diagnosis.consultant_name %>
          <% end %>
          <% if i == 0 && @case_sheet.diagnoses.count > 1 %>
            <a class="btn btn-link expand-previous-diagnosis" style="padding: 1px;"><i class="fa fa-caret-down"></i></a>
          <% end %>
          <div class="mb1"></div>
        </span>
      <% end %>
    </div>
  </div>
<% end %>
<% if current_facility["link_to_external_app"] && @patient.patient_mrn.present? %>
  <div class="row">
    <div class="col-sm-4 text-left">DMR Images</div>
    <div class="col-sm-1 text-left">:</div>
    <div class="col-sm-7">
      <%= link_to "#{current_facility['url_of_external_app']}#{CommonHelper.sankara_dmr_integration(@patient.patient_mrn)}", target: :_blank do %>
          DMR Link
      <% end %>
    </div>
  </div>
<% end %>
