<% if @provisional_appointment.present? %>
  <input type="hidden" name="none" id="appointment_refresher" value="<%= @provisional_appointment.id.to_s %>">
  <input type="hidden" name="none" id="investigation_click_counter" value="0">
  <% if @show_user_state && @active_state.present? %>
    <div class="row mb10" style="margin-left: -20px;">
      <div class="col-md-12" style="background-color:<%= @user_state_color %>;color:#fff;">
        <h3 style="margin:0;text-align:center;padding:5px;font-size:18px;"><b>You are working in <%= @active_state %> Mode.</b></h3>
      </div>
    </div>
  <% end %>

  <div class="row no_margin" style="padding: 10px 5px;">
    <div class="row no_margin no_padding" style="padding: 5px;">
      <div class="col-sm-3 text-center no_padding">
        <%= image_tag('placeholder.png', class: "patient_profile_pic") %>
      </div>


      <div class="col-sm-9 no_padding">
        <div id='patient-details'>
          <div class="row no_margin">
            <div class="col-sm-4 no_padding text-left">Full Name</div>
            <div class="col-sm-1 no_padding text-left">:</div>
            <div class="col-sm-7 no_padding"><b><%= "#{@provisional_appointment.firstname.to_s.upcase} #{@provisional_appointment.lastname.to_s.upcase}" %></b>
              <% if @provisional_appointment.gender? %>
                <%= "(" + @provisional_appointment.gender + ")" %>
              <% end %>
            </div>
          </div>
          <div class="row no_margin">
            <div class="col-sm-4 no_padding text-left">Date of Birth
              <% if @provisional_appointment.try(:age).present? %> | Age
              <% end %>
            </div>
            <div class="col-sm-1 no_padding text-left">:</div>
            <div class="col-sm-6 no_padding">
              <%= @provisional_appointment.try(:dob) ? @provisional_appointment.try(:dob).strftime("%d-%m-%Y") : "Unavailable" %>
              <% if @provisional_appointment.try(:age).present? %> <strong>|</strong>
                <%= @provisional_appointment.try(:age) %>
              <% end %>
            </div>
          </div>
          <div class="row no_margin">
            <div class="col-sm-4 no_padding text-left">Primary Contact</div>
            <div class="col-sm-1 no_padding text-left">:</div>
            <div class="col-sm-7 no_padding">
              <%= @provisional_appointment.mobilenumber %>
            </div>
          </div>
          <% if @provisional_appointment.try(:emergency_contact).present? %>
            <div class="row no_margin">
              <div class="col-sm-4 no_padding text-left">Emergency Details</div>
              <div class="col-sm-1 no_padding text-left">:</div>
              <div class="col-sm-7 no_padding">
                <%= @provisional_appointment.emergency_contact %>
              </div>
            </div>
          <% end %>


          <div class="row no_margin">
            <div class="col-sm-4 no_padding text-left">Appointment Date</div>
            <div class="col-sm-1 no_padding text-left">:</div>
            <div class="col-sm-7 no_padding">
              <%= @provisional_appointment.start_time.try(:strftime, '%d/%m/%Y') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <script type="text/javascript">
    if ($('.ui-pnotify').length == 0) {
      notice = new PNotify({
        title: 'Appointment Cancelled',
        text: 'Seems like someone cancelled this appointment.',
        type: 'success'
      });
      notice.get().click(function(){ notice.remove() });
    }
    $("#btn-appointment-management-refresh").trigger('click')
  </script>
<% end %>
