<div class="show-referral text-primary" style="margin-left: 16px;text-decoration: underline;cursor: pointer" >Show Referral details</div>
<div class="row no_margin no_padding referral-body" style="padding: 5px;" hidden>
  <div class="col-md-12">
    <div class="panel panel-default panel-alt widget-messaging ">
      <div class="panel-body">
        <i class="fa fa-minus pull-right minimize" title='minimize' style="cursor: pointer"></i>
        <ul>
          <li style="padding: 0px;">
            <% if appointment.try(:referral_details).try(:size).to_i > 0 %>
                <% appointment.referral_details.each do |key,value| %>
                    <% if appointment.referral_details[key].size == 3  %>
                        <h4 class="sender" style="display: inline">
                          Referred to Dr. <%=  value[2] %>
                          by Dr. <%= key.split("_")[0]%>
                          <%= "," + appointment.refer_from_facility_name if appointment.refer_from_facility_name  %>                     <br>Note: <span class="text-primary" style=""> <%= value[0].try(:capitalize) %></span>
                           <small class="pull-right">Referred at <%= value[1].try(:localtime).try(:strftime,"%I:%M %P") %>,
                           </small>
                        </h4>
                        <br>
                    <% elsif appointment.referral_details[key].size == 4 %>
                        <h4 class="sender" style="display: inline">
                          Referred to Dr. <%=  value[3] %>
                          by Dr. <%= value[0]%>
                          <%= "," + appointment.refer_from_facility_name if appointment.refer_from_facility_name  %>                     <br>Note: <span class="text-primary" style=""> <%= value[1].try(:capitalize) %></span>
                          <small class="pull-right">Referred at <%= value[2].try(:localtime).try(:strftime,"%I:%M %P") %>,
                            </small>
                        </h4>
                        <br>
                    <% end  %>
                <% end %>
            <% end %>
            <% if !appointment.intra_referral_id.blank? %>
                <h4 class="sender" style="display: inline">
                  Referred to Dr. <%=  appointment.referee_doctor %>
                  by Dr. <%= appointment.referring_doctor%>
                  <br>Note: <span class="text-primary" style=""> <%= appointment.referral_note %></span>
                  <small class="pull-right">Referred on
                    <%= appointment.try(:referral_created_on).try(:strftime,"%d %b '%y") %></small>
                </h4>
            <% end %>
            <% if !appointment.refer_from_facility_name.blank? %>
                <h4 class="sender" style="display: inline">
                  Referred to Dr. <%=  appointment.referee_doctor %>,<%= appointment.refer_to_facility_name %>
                  from Dr. <%= appointment.referring_doctor%>
                  <%= "," + appointment.refer_from_facility_name if appointment.refer_from_facility_name  %>                     <br>Note: <span class="text-primary" style=""> <%= appointment.referral_note %></span>
                  <small class="pull-right">Referred on
                    <%= appointment.try(:referral_created_on).try(:strftime,"%d %b '%y") %></small>
                </h4>
            <% end %>
          </li>

        </ul>
      </div><!-- panel-body -->
    </div>
  </div>
</div>

<script>
  $(".minimize").click(function(){
      $(".referral-body").hide();
      $(".show-referral").show();
  })
  $(".show-referral").click(function(){
      $(".referral-body").show();
      $(".show-referral").hide();
  })
  if(<%=current_facility.hide_referral_note == false%>){
    $(".show-referral").trigger('click');
  }
</script>