<style type="text/css">
  p.alert.alert-warning{
    padding:3px;
    margin: 0;
  }
</style>
<div class="panel">
	<div class="panel-heading" style="overflow:auto;">
    <div class="row">
      <div class="col-md-8 col-lg-8">
        <% if @level.present? && @level == "facility" %>
          <p class="alert alert-warning"> Medical Certificate will be saved for current facility only. Please change the facility to save in others</p>
        <% else %>
           &nbsp;
        <% end %>
      </div>
      <div class="col-md-4 col-lg-4">
        <% level = @level.present? ? @level : 'user' %>
  
        <div class="col-md-7 mb5 specialty_dropdown_div">
          <%= select_tag "user_note_type", options_for_select(Global.user_notes_types['template_types'].map { |k,v| [k[:name], k[:label]]}, @type), { class: 'form-control'} %>
        </div>
        <div class="pull-right">
          <%= link_to new_user_notes_template_path(level:level, type: Global.user_notes_types['template_types'].find {|x| x[:label] == @type}[:label]), data: {:remote => true,'toggle' =>  "modal", 'target' => '#invoice-modal'}, :class => 'btn btn-success' do%><i class="fa fa-plus"></i> New Template<% end %>
        </div>
      </div>
	  </div>
    <div class="panel-body">
      <table class="table table-striped table-bordered table-primary" id="certificate-template-list">

      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
 
$("#user_note_type").on("change",function(){
    
  if('<%= @level %>' == 'organisation'){
    type_url = '/user_notes_templates/get_organisation_certificates'
  }
  else if ('<%= @level %>' == 'facility') {
    type_url = '/user_notes_templates/get_facility_certificates'
  }
  else if ('<%= @level %>' == 'user') {
    type_url = '/user_notes_templates/get_user_certificates'
  }

  $.ajax({
    type: 'GET',
    url: type_url,
    data: {type: $("#user_note_type").val()}
  })
});

</script>
