<div class="row mb30" style="margin-top: 20px;">
  <div class="col-md-12 mb10">
    <div class="row mb20">
      <div class="col-md-2 text-center">
        <b>Vital Signs:</b>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-2">
           <div class="form-group">
             <b>Temperature</b>
             <div class="input-group">
               <%= f.number_field :vital_signs_temperature, {class: "form-control vital_signs_temperature",value: opdrecord.read_attribute(:vital_signs_temperature)} %>
               <span class="input-group-addon">°C</span>
             </div>
           </div>
          </div>

          <div class="col-md-2">
           <div class="form-group">
             <b>Pulse</b>
             <div class="input-group">
              <%= f.number_field :vital_signs_pulse, {class: "form-control vital_signs_pulse",value: opdrecord.read_attribute(:vital_signs_pulse)} %>
               <span class="input-group-addon">bpm</span>
             </div>
           </div>
          </div>

          <div class="col-md-2">
           <div class="form-group">
             <b>Blood Pressure</b>
             <div class="input-group">
               <%= f.text_field :vital_signs_bp, {class: "form-control vital_signs_bp",value: opdrecord.read_attribute(:vital_signs_bp)} %>
               <span class="input-group-addon">mmHg</span>
             </div>
           </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
             <b>RR</b>
              <div class="input-group">
                <%= f.number_field :vital_signs_rr, {class: "form-control vital_signs_rr",value: opdrecord.read_attribute(:vital_signs_rr)} %>
                <span class="input-group-addon">brpm</span>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
             <b>SpO2</b>
              <div class="input-group">
                <%= f.number_field :vital_signs_spo2, {class: "form-control vital_signs_spo2",value: opdrecord.read_attribute(:vital_signs_spo2)} %>
                <span class="input-group-addon">%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 mb10">
    <div class="row mb20">
      <div class="col-md-2 text-center">
        <b>Anthropometry:</b>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <b>Height</b>
              <div class="input-group">
                <%= f.number_field :anthropometry_height, {class: "form-control anthropometry_height",value: opdrecord.read_attribute(:anthropometry_height)} %>
                <span class="input-group-addon">cms</span>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <b>Weight</b>
              <div class="input-group">
                <%= f.number_field :anthropometry_weight, {class: "form-control anthropometry_weight",value: opdrecord.read_attribute(:anthropometry_weight)} %>
                <span class="input-group-addon">kg</span>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <b>BMI</b>
              <div class="input-group">
                <%= f.number_field :anthropometry_bmi, {class: "form-control anthropometry_bmi",value: opdrecord.read_attribute(:anthropometry_bmi)} %>
                <span class="input-group-addon">kg/m2</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 mb10">
    <div class="row mb20">
      <div class="col-md-2 text-center">
        <b>Comments:</b>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-8">
            <div class="">
              <%= f.text_area :vital_signs_comments, { class: "form-control", style: 'width: 100%;', rows:5, value: opdrecord.read_attribute(:vital_signs_comments) } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .step-content{
    background-color: #fff !important;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>
<script type="text/javascript">
  $(".anthropometry_height, .anthropometry_weight").on('keyup', function() {
    if (($(".anthropometry_height").val().length > 0) && ($(".anthropometry_weight").val().length > 0)) {
      var height = $(".anthropometry_height").val() / 100;
      var weight = $(".anthropometry_weight").val();
      var bmi = "";
      bmi = weight / Math.pow(height, 2);
      $(".anthropometry_bmi").val(bmi.toFixed(1));
    } else {
      $(".anthropometry_bmi").val("");
    }
  });
</script>