<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 mb20">
    <% if @icddiagnosis.root == 0 %>
      <div class="row mb15 diagnosis-row">
        <div class="col-md-7 col-sm-7 col-xs-7">
          <%= text_field_tag "diagnosis[parent]", @parent_diagnosis.fullname.capitalize, {:maxlength => 50, :size => 50,:readonly => 'readonly', :class => 'form-control diagnosisname' } %>
        </div>
        <%if @icddiagnosis.has_children%>
          <div class="col-md-5 col-sm-5 col-xs-5">
            <%= select_tag "diagnosis[children]", options_for_select(@parent_diagnosis.childrencodename, ""), {:include_blank => 'Select', :class => 'form-control diagnosislist-attributes-children'} %>
          </div>
        <%end%>
      </div>
    <%elsif @icddiagnosis.root == 1%>
      <%if @icddiagnosis.has_children == false && @icddiagnosis.has_parent == false %>  <!-- some icddiagnosis don't have parent or children diagnosis and 3 digit, with root 1 and no children -->
        <div class="row mb15">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <%= text_field_tag "diagnosis[parent]", @parent_diagnosis.fullname.capitalize, {:maxlength => 50, :size => 50,:readonly => 'readonly', :class => 'form-control diagnosisname' } %>
          </div>
        </div>
      <%else%>
        <div class="row mb15">
          <div class="col-md-7 col-sm-7 col-xs-7">
            <%= text_field_tag "diagnosis[parent]", @parent_diagnosis.fullname.capitalize, {:maxlength => 50, :size => 50,:readonly => 'readonly', :class => 'form-control diagnosisname' } %>
          </div>
          <div class="col-md-5 col-sm-5 col-xs-5">
            <%= select_tag "diagnosis[children]", options_for_select(@parent_diagnosis.childrencodename, @children_diagnosis.code), { :class => 'form-control diagnosislist-attributes-children'} %>
          </div>
        </div>
      <%end%>
      <div class="row mb15">
        <b class="col-md-2 col-sm-2 col-xs-2" style="color:#000;">Diagnosis Comment</b>
        <div class="col-md-10 col-sm-10 col-xs-10">
          <%= text_field_tag "diagnosis[diagnosiscomment]",@diagnosis_comment || @diagnosis.try(:diagnosis_comment)||"", {:maxlength => 150, :size => 50, :class => 'form-control diagnosiscomment' } %>
        </div>
      </div>
      <div class="row mb15">
        <b class="col-md-2 col-sm-2 col-xs-2" style="color:#000;">User Comment</b>
        <div class="col-md-10 col-sm-10 col-xs-10">
          <%= text_area_tag "diagnosis[usercomment]",@users_comment || @diagnosis.try(:users_comment)||"", {:maxlength => 150, :size => 50, :class => 'form-control usercomment' } %>
        </div>
      </div>
    <% end %>

    <!--<div class="row">-->
      <%#= hidden_field_tag "diagnosis[usersincomment]","", {:maxlength => 50, :size => 50, :class => 'form-control usersincomment' } %>
    <!--</div>-->

    <div class="row mb15">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <b style="color:#000;">ICD-10-CM Code</b>
        <%= text_field_tag "diagnosis[icdcode]", @icddiagnosiscode.upcase, {:maxlength => 50, :size => 50,:readonly => 'readonly', :class => 'form-control' } %>
        <%= hidden_field_tag "diagnosis[fullicdcode]", @icddiagnosis.code, {:maxlength => 50, :size => 50,:readonly => 'readonly', :class => 'form-control' } %>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <b style="color:#000;">Entered By</b>
        <%= text_field_tag "diagnosis[enteredby]",@diagnosis.try(:entered_by) || current_user.fullname, {:maxlength => 50, :size => 50,:readonly => 'readonly', :class => 'form-control',:placeholder => "Entered by" } %>
        <%= hidden_field_tag "diagnosis[enteredby_id]", @diagnosis.try(:entered_by_id) || current_user.id, {:maxlength => 50, :size => 50,:readonly => 'readonly', :class => 'form-control',:placeholder => "Entered by" } %>
        <%= hidden_field_tag "diagnosis[updatedby]", current_user.fullname, {:maxlength => 50, :size => 50,:readonly => 'readonly', :class => 'form-control',:placeholder => "Entered by" } %>
        <%= hidden_field_tag "diagnosis[updatedby_id]", current_user.id, {:maxlength => 50, :size => 50,:readonly => 'readonly', :class => 'form-control',:placeholder => "Entered by" } %>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <b style="color:#000;">Entry Date and time</b>
        <%= text_field_tag "diagnosis[entrytime]", ((@diagnosis.try(:entry_datetime).strftime("%d/%m/%Y | %I:%M %p")) if @diagnosis.try(:entry_datetime)) || Time.current.strftime("%d/%m/%Y | %I:%M %p"), {:maxlength => 50, :size => 50,:readonly => 'readonly', :class => 'form-control' } %>
        <%= hidden_field_tag "diagnosis[entrydatetime]",@diagnosis.try(:entry_datetime) || Time.current, {:maxlength => 50, :size => 50,:readonly => 'readonly', :class => 'form-control' } %>
        <%= hidden_field_tag "diagnosis[updatedtime]", ((@diagnosis.try(:updated_datetime).strftime("%d/%m/%Y | %I:%M %p")) if @diagnosis.try(:updated_datetime)) || Time.current.strftime("%d/%m/%Y | %I:%M %p"), {:maxlength => 50, :size => 50,:readonly => 'readonly', :class => 'form-control' } %>
        <%= hidden_field_tag "diagnosis[updateddatetime]", Time.current, {:maxlength => 50, :size => 50,:readonly => 'readonly', :class => 'form-control' } %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <%= hidden_field_tag "diagnosis[saperatedicdcode]", ""+@icddiagnosis.try(:separated_code).to_s, {:maxlength => 50, :size => 50, :class => 'form-control' } %>
      </div>
    </div>
  </div>
  <% if params[:icd_type] != 'TranslatedIcdDiagnosis' %>
    <div class="col-md-12 col-sm-12 col-xs-12" style="width: 97%;margin-left: 10px;border: solid 1px #aaa;border-radius: 3px;">
      <% count = 0 %>
      <% if @icddiagnosis.originatingcodes %>
        <% @icddiagnosis.originatingcodes.reverse.each_with_index do |orig_code,i| %>
          <div class="mb5" >
            <%if i != 0%>
              <span style="font-size: larger; color: red"><% i.times do %>&emsp;&emsp;<%end%>&#8627;</span>
              <span class=" p3_10">
                <% if @elemid.present? %>
                  <%= link_to icdtree_edit_diagnosis_icd_path(icdcode: orig_code[1].to_s, icd_type: @icd_type, source: params[:source], elemid: @elemid, diagnosis_id: @diagnosis_id, opd_record_id: @opd_record_id), data: {remote: true}, class: "btn btn-link btn-xs",style: "padding:0px;" do %><%=orig_code[1].upcase.insert(3, '.')%><% end %>
                <%else%>
                  <%= link_to icdtree_modal_diagnosis_icd_path(ajax: orig_code[1].to_s, icd_type: @icd_type, source: params[:source]), data: {remote: true}, class: "btn btn-link btn-xs",style: "padding:0px;" do %><%=orig_code[1].upcase.insert(3, '.')%><% end %>
                <%end%>
                <%=orig_code[0]%>
              </span>
            <%else%>
              <span class=" p3_10"><strong><%=orig_code[0]%> <%=orig_code[1].upcase%> -></strong></span>
            <%end%>
          </div>
          <% count = i+1 %>
        <% end %>
      <% end %>
      <%if @children_diagnosis.present? %>
        <div class="mb5" >
          <span style="font-size: larger; color: green"><% count.times do %>&emsp;&emsp;<%end%>&#8627;</span>
          <span class=" p3_10">
            <% if @elemid.present? %>
              <%= link_to icdtree_edit_diagnosis_icd_path(icdcode: @icddiagnosis.code.to_s, icd_type: @icd_type, source: params[:source],elemid: @elemid, diagnosis_id: @diagnosis_id, opd_record_id: @opd_record_id), data: {remote: true}, class: "btn btn-link btn-xs",style: "padding:0px;" do %><%=@icddiagnosiscode.upcase%><% end %>
            <%else%>
              <%= link_to icdtree_modal_diagnosis_icd_path(ajax: @icddiagnosis.code.to_s, icd_type: @icd_type, source: params[:source]), data: {remote: true}, class: "btn btn-link btn-xs",style: "padding:0px;" do %><%=@icddiagnosiscode.upcase%><% end %>
            <%end%>
            ........ <%=@children_diagnosis.shortname%></span>
        </div>
      <%else%>
        <div class="mb5" >
          <span style="font-size: larger; color: red"><% count.times do %>&emsp;&emsp;<%end%>&#8627;</span>
          <span class=" p3_10">
            <% if @elemid.present? %>
              <%= link_to icdtree_edit_diagnosis_icd_path(icdcode: @icddiagnosis.code.to_s, icd_type: @icd_type, source: params[:source],elemid: @elemid, diagnosis_id: @diagnosis_id, opd_record_id: @opd_record_id), data: {remote: true}, class: "btn btn-link btn-xs",style: "padding:0px;" do %><%=@icddiagnosiscode.upcase%><% end %>
            <%else%>
              <%= link_to icdtree_modal_diagnosis_icd_path(ajax: @icddiagnosis.code.to_s, icd_type: @icd_type, source: params[:source]), data: {remote: true}, class: "btn btn-link btn-xs",style: "padding:0px;" do %><%=@icddiagnosiscode.upcase%><% end %>
            <%end%>
            <%=@icddiagnosis.shortname%>
          </span>
        </div>
      <%end%>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h5 style="color: red">Note: ICD-10-CM code can be between 3-7 in size, you will have to Select the options till you reach the "Specific Code" pointed by - <span style="font-size: small; color: green"> &#8627;</span></h5>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(".diagnosislist-attributes-children").on("change",function(){
    if("<%=@children_diagnosis %>"){}
    else{
      $(".diagnosis-row").hide("slide", {direction: "left"}, function () {})
    }
   // setTimeout(function() {}, 100);
    var url
    params = $(this).val()
    var icd_type = '<%= @icd_type%>'
    if("<%=@elemid%>"){
      var elemid = "<%=@elemid%>"
      var diagnosis_id = "<%= @diagnosis_id%>"
      var opd_record_id = "<%= @opd_record_id%>"
      var source = '<%= @source %>'
      url = "/icdtree/edit_diagnosis_icd"
      var icddata = {icdcode: params, icd_type: icd_type, elemid: elemid,diagnosis_id: diagnosis_id,opd_record_id: opd_record_id ,source: source, remote: "true"}
    }
    else {
      url = "/icdtree/modal_diagnosis_icd"
      var icddata = {ajax: params,icd_type: icd_type, source: "<%= @source %>", remote: "true"}
    }
    jQuery.ajax({
      type: "GET",
      url: url,
      data: icddata,
    })
  })

  setTimeout(function() {
    var words = <%=raw @doctorsarray%>
    $('#diagnosis_usercomment').textcomplete([{
      match: /@(\w*)$/,
      search: function (term, callback) {
        callback($.map(words, function (word) {

          return word[0].toLowerCase().indexOf(term.toLowerCase()) === 0 ? word[0] : null;
        }));
      },
      index: 1,
      replace: function (word) {
        // for(i=0;i<words.length;i++)
        // {
        //   if (words[i][0] == word){
        //     prevval = $("#diagnosis_usersincomment").val()
        //     if (prevval){
        //       newval = prevval + "," + words[i][1]
        //     }
        //     else{newval = words[i][1]}
        //     $("#diagnosis_usersincomment").val(newval)
        //   }
        // }
        return '@' + word + ' ';
      }
    }]);
  }	 , 100);

</script>

<style>
  .textcomplete-dropdown {
    z-index: 1500 !important;
  }
  .glow-animation{
    -webkit-animation: glow .5s infinite alternate;
  }
  @-webkit-keyframes glow {
    to {
      text-shadow: 0 0 10px red;
    }
  }
</style>