jQuery("#diagnosis-icd-modal").html("<%= escape_javascript(render '/icdtree/modal_diagnosis_icd.html') %>")
jQuery("#diagnosis-icd-modal").modal("show")

<%= render partial: "templates/common/js/popup_modal_hidden.js" %>

$("#close-icd-modal").on("click",function(){
  jQuery("#diagnosis-icd-modal").modal("hide")
})


jQuery('#update-icd-modal').on('click', function() {

  if ($("#diagnosis_children").val() != "") {
    var fieldcounter = <%=@elemid%>;
    $("#<%= @source %>_diagnosislist_attributes_" + fieldcounter + "_diagnosisname").val("<%=@icddiagnosis.fullname%>")
    $("#<%= @source %>_diagnosislist_attributes_" + fieldcounter + "_diagnosisoriginalname").val("<%=@icddiagnosis.originalname%>")
    $("#<%= @source %>_diagnosislist_attributes_" + fieldcounter + "_icddiagnosiscode").val("<%=@icddiagnosis.code%>")
    $("#<%= @source %>_diagnosislist_attributes_" + fieldcounter + "_updated_by").val($("#diagnosis_updatedby").val())
    $("#<%= @source %>_diagnosislist_attributes_" + fieldcounter + "_updated_by_id").val($("#diagnosis_updatedby_id").val())
    $("#<%= @source %>_diagnosislist_attributes_" + fieldcounter + "_diagnosis_comment").val($("#diagnosis_diagnosiscomment").val())
    $("#<%= @source %>_diagnosislist_attributes_" + fieldcounter + "_users_comment").val($("#diagnosis_usercomment").val())
    $("#<%= @source %>_diagnosislist_attributes_" + fieldcounter + "_updated_datetime").val($("#diagnosis_updateddatetime").val())
    $("#<%= @source %>_diagnosislist_attributes_" + fieldcounter + "_saperatedicddiagnosiscode").val($("#diagnosis_saperatedicdcode").val())
    let icd_type = '<%= @icd_type%>'
    if (icd_type == 'TranslatedIcdDiagnosis') {
      $("#<%= @source %>_diagnosis_text_" + fieldcounter + "_diagnosisoriginalname").text("<%=@icddiagnosis.fullname.capitalize%>")
    } else {
      $("#<%= @source %>_diagnosis_text_" + fieldcounter + "_diagnosisoriginalname").text("<%=@icddiagnosis.originalname.capitalize%>")
    }
    $("#<%= @source %>_diagnosis_text_" + fieldcounter + "_icddiagnosiscode").html("<strong><%=@icddiagnosis.code.upcase%></strong>")
    $("#<%= @source %>_diagnosis_text_" + fieldcounter + "_updated").html("| - Edited by <b>" + $("#diagnosis_updatedby").val() + "</b>")

    if ($("#diagnosis_diagnosiscomment").val()) {
      $("#<%= @source %>_diagnosis_text_" + fieldcounter + "_diagnosis_comment").html("<li>" + $("#diagnosis_diagnosiscomment").val() + "</li>")
    }
    else {
      $("#<%= @source %>_diagnosis_text_" + fieldcounter + "_diagnosis_comment").html("")
    }
    if ($("#diagnosis_usercomment").val()) {
      $("#<%= @source %>_diagnosis_text_" + fieldcounter + "_users_comment").html("<li>" + $("#diagnosis_usercomment").val() + "</li>")
    }
    else {
      $("#<%= @source %>_diagnosis_text_" + fieldcounter + "_users_comment").html("")
    }

    jQuery("#diagnosis-icd-modal").modal("hide")
  }
  else {

    $("#diagnosis_children").addClass("glow-animation")
    if ($(".ui-pnotify").length > 0) { $(".ui-pnotify").remove() }
    notice = new PNotify({
      title: 'Error',
      text: 'Diagnosis can be more specific, Please select options',
      icon: 'fa fa-error',
      type: 'error'
    })
    notice.get().click(function(){ notice.remove() });

  }
});