<%= form_for @service_group, remote: true, html: { id: 'new-service-group-form', class: "service-group-form" } do |f| %>
  <%= f.hidden_field :organisation_id, value: current_user.organisation_id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="row mb10">
    <div class="col-md-5">
      <b style="color:#000;">Name:</b>
      <%= f.text_field :name, class: 'form-control p5_10' %>
      <label class="error-message-uniqueness"></label>
    </div>
    <div class="col-md-3">
      <b style="color:#fff;display:block;">|</b>
      <%= f.submit "Save", class: "btn btn-success btn-xs", id: 'service_group_new', data: { 'disable-with': 'Please Wait...' }, :onclick => 'service_group_new()' %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  // Validation
  function service_group_new(){
    $(".error-message-uniqueness").html("")
    $("#new-service-group-form").validate({
      rules: {      
        "service_group[name]": {
          required: true,
        }
      },
      messages: {
        "service_group[name]": {
          required: "Name Cant be Blank"
        }
      },
      errorPlacement: function (error, element) {
        error.insertAfter(element);
      }
    });
  }

  service_group_new()
</script>