<%= javascript_include_tag 'application-loggedin', 'data-turbolinks-track' => true %>
<div class="modal-dialog modal-md" style="width:98%;">
  <!-- Modal content-->
  <div class="modal-content">
    <%= form_tag '/service_masters/update_multiple', method: 'patch', remote: true, id: 'new-services-form', class: 'new-services-form' do %>
      <div class="modal-header">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <h4 class="modal-title">Add Procedure Service</h4>
          </div>
          <div class="col-md-4 text-right">
            <% if (@common_procedures.size > 0 || @custom_common_procedures.size > 0 || @translated_common_procedures.size > 0) && @selected_sub_specialty %>
              <%= submit_tag 'Save', class: 'btn btn-success', id: 'save-multiple-procedure', data: { 'disable-with': 'Please Wait...' }, onclick: 'service_master_form()' %>
            <% end %>
            <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:5px;">Close</button>
          </div>
        </div>
      </div>
      <div class="modal-body procedure-service-body">
        <div class="row mb10">
          <div class="col-md-12 text-center">
            <b style="color:#000;">COMMON/CUSTOM PROCEDURES LIST</b>
            <p style="color:#f00;">Create/Update Service Master in Bulk for different Service Type your Organisation provide for each Procedure.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 col-md-3-shared text-right">
            <b class="form-control" style="border: 0;">SPECIALTY : </b>
          </div>
          <div class="col-md-2">
          <% @available_specialties = [['Please Select', nil]]+@available_specialties if @available_specialties.size > 1 %>
            <%= select_tag 'specialty_id', options_for_select(@available_specialties, params[:specialty_id]), class: 'form-control procedures_specialty_dropdown' %>
          </div>
          <div class="col-md-1 col-md-3-shared text-right">
            <b class="form-control" style="border: 0;">SUB SPECIALTY : </b>
          </div>
          <div class="col-md-2">
            <% pre_collection  = if params[:specialty_id] == '309988001' || params[:specialty_id] == '309989009' || params[:specialty_id].blank?
                                    [['Please Select', nil]]
                                 else
                                    [['Please Select', nil], ['No Sub Speciality Applicable', '']]
                                 end
                collection =  pre_collection+@sub_specialties    
                               %>
            <%= select_tag 'sub_specialty_id', options_for_select(collection, @selected_sub_specialty), class: 'form-control procedures_sub_specialty_dropdown', disabled: params[:specialty_id].blank? %>
          </div>
          <% if (@common_procedures.size > 0 || @custom_common_procedures.size > 0 || @translated_common_procedures.size > 0) && @selected_sub_specialty %>
          <div class="col-md-2">
            <b class="form-control" style="border: 0;">SEARCH PROCEDURE : </b>
          </div>
          <div class="col-md-3">
            <input type="text" name="search-procedure" id="search-procedure" class="form-control" placeholder="Search Procedures">
          </div>
          <% end %>
        </div>
        <hr style="margin:5px;">
        <div class="row mb5">
          <div class="col-md-2">
            Procedure Name
          </div>
          <div class="col-md-10">
            <div class="col-md-2">
              Service Group
            </div>
            <div class="col-md-2">
              Service Sub Group
            </div>
            <div class="col-md-2">
              Service Name
            </div>
            <div class="col-md-2 col-md-3-shared">
              Service Code
            </div>
            <div class="col-md-2 col-md-3-shared">
              Service Amount
            </div>
            <div class="col-md-2">
              Department
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="investigations">
          <% if @selected_sub_specialty %>
            <% @counter = 0 %>
            <%= render partial: 'service_masters/forms/procedure_fields.html.erb', locals: { procedures: @common_procedures } %>
            <%= render partial: 'service_masters/forms/procedure_fields.html.erb', locals: { procedures: @custom_common_procedures } %>
            <%= render partial: 'service_masters/forms/procedure_fields.html.erb', locals: { procedures: @translated_common_procedures } %>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">

  function procedures_specialty() {
    var specialty_id = $('.procedures_specialty_dropdown').val();
    $.ajax({
      dataType: "json",
      type: 'get',
      url: '/sub_specialties',
      data: { specialty_id: specialty_id },
      success: function(response) {
        $('.procedures_sub_specialty_dropdown').children().remove();

        $('.procedures_sub_specialty_dropdown').html(`<option value="">Please Select</option>
        <option value="">Sub Speciality Not Applicable</option>`)
        $.each(response, function(key, value) {
          $('.procedures_sub_specialty_dropdown').append($("<option></option>").attr("value", value[0]).text(value[1]));
        });
        procedures_sub_specialty()
      }
    });
  }

  function procedures_sub_specialty() {
    var specialty_id = $('.procedures_specialty_dropdown').val();
    sub_specialty_text = $('.procedures_sub_specialty_dropdown option:selected').text()
    sub_specialty_id = $('.procedures_sub_specialty_dropdown').val()
    if (sub_specialty_text == 'Please Select')
    {
      var data = { specialty_id: specialty_id, flag: "<%= params[:flag] %>",  remote: "true" }
    }else{
      var data = { specialty_id: specialty_id, sub_specialty_id: sub_specialty_id,
              flag: "<%= params[:flag] %>",  remote: "true" }
    }
    if (sub_specialty_text == 'Please Select'){
      $('.investigations').html('')
    } else {
      $('.investigations').html('<div class="loader"></div>')
    }
    $.ajax({
      type: "GET",
      url: '/service_masters/edit_multiple',
      data: data
    })
  }

  $('.procedures_specialty_dropdown').on('change', function() {
    if ($('.main-procedure-list').length > 0){
    $('#confirm-filter')
      .html(confirmationModal('procedures_specialty', '<%= params[:specialty_id] %>'))
      .modal('show')
      .css('background-color', 'rgba(0,0,0,0.5)')
    } else {
      procedures_specialty()
    }
  })

  $('.procedures_sub_specialty_dropdown').on('change', function() {
    if ($('.main-procedure-list').length > 0){
      $('#confirm-filter')
        .html(confirmationModal('procedures_sub_specialty', '<%= @selected_sub_specialty.blank? && !@selected_sub_specialty.nil? ? '-1' : @selected_sub_specialty %>'))
        .modal('show')
        .css('background-color', 'rgba(0,0,0,0.5)')
    } else {
      procedures_sub_specialty()
    }
  })

</script>
