<%= javascript_include_tag 'application-loggedin', 'data-turbolinks-track' => true %>
<div class="modal-dialog modal-md" style="width:98%;">
  <!-- Modal content-->
  <div class="modal-content">
    <%= form_tag '/service_masters/update_multiple', method: 'patch', remote: true, id: 'new-services-form', class: 'new-services-form' do %>

      <input type="hidden" name="specialty_id" value="309988001">
      <div class="modal-header">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <h4 class="modal-title">Add Ophthal Investigation Service</h4>
          </div>
          <div class="col-md-4 text-right">
            <% if (@ophthalmology_investigations.count > 0 || @custom_ophthal_investigations.count > 0)&& @selected_sub_specialty.present? %>
              <%= submit_tag 'Save', class: "btn btn-success", id: 'save-multiple-ophthal-investigations', data: { 'disable-with': 'Please Wait...' }, onclick: 'service_master_form()' %>
            <% end %>
            <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:5px;">Close</button>
          </div>
        </div>
      </div>
      <div class="modal-body ophthal_investigation-service-body">
        <div class="row mb10">
          <div class="col-md-12 text-center">
            <b style="color:#000;">COMMON/CUSTOM OPHTHAL INVESTIGATIONS LIST</b>
            <p style="color:#f00;">Create/Update Service Master in Bulk for different Service Type your Organisation provide for each Investigation.</p>
          </div>
        </div>
        <div class="row">

          <div class="col-md-1 col-md-3-shared text-right">
            <b class="form-control" style="border: 0;">SUB SPECIALTY : </b>
          </div>
          <div class="col-md-2">
            <%= select_tag 'sub_specialty_id', options_for_select(@sub_specialties, @selected_sub_specialty), include_blank: 'Please select', class: 'form-control ophthal_sub_specialty_dropdown' %>
          </div>
          <% if (@ophthalmology_investigations.count > 0 || @custom_ophthal_investigations.count > 0)&& @selected_sub_specialty.present? %>
            <div class="col-md-3">
              <b class="form-control" style="border: 0;">SEARCH OPHTHAL INVESTIGATION : </b>
            </div>
            <div class="col-md-3">
              <input type="text" name="search-ophthal_investigation" id="search-ophthal_investigation" class="form-control" placeholder="Search Ophthal Investigations">
            </div>
            <% end %>
        </div>
        <hr style="margin:5px;">
        <div class="row mb5">
          <div class="col-md-2">
            Investigation Name
          </div>
          <div class="col-md-10">
            <div class="col-md-2">
              Service Group
            </div>
            <div class="col-md-2">
              Service Sub Group
            </div>
            <div class="col-md-2">
              Service Name
            </div>
            <div class="col-md-2 col-md-3-shared">
              Service Code
            </div>
            <div class="col-md-2 col-md-3-shared">
              Service Amount
            </div>
            <div class="col-md-2">
              Department
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="investigations">
          <% if @selected_sub_specialty.present? %>
            <% @counter = 0 %>
            <%= render partial: 'service_masters/forms/ophthal_investigation_fields.html.erb', locals: { ophthal_investigations: @ophthalmology_investigations, ophthal_investigation_type: 'OphthalmologyInvestigationData' } %>
            <%= render partial: 'service_masters/forms/ophthal_investigation_fields.html.erb', locals: { ophthal_investigations: @custom_ophthal_investigations, ophthal_investigation_type: 'CustomOphthalInvestigation' } %>
          <% end %>
        </div>
        
      </div>
      <div class="modal-footer">
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">

function ophthal_sub_specialty(){
  var sub_specialty_id = $('.ophthal_sub_specialty_dropdown').val();
  var specialty_id = '309988001'
  if (sub_specialty_id == ""){
    $('.investigations').html('')
  }else{
    $('.investigations').html('<div class="loader"></div>')
  }
  $.ajax({
    type: "GET",
    url: '/service_masters/edit_multiple',
    data: { specialty_id: specialty_id,
            sub_specialty_id: sub_specialty_id,
            flag: "<%= params[:flag] %>",
            remote: "true" },
  })
}

  $('.ophthal_sub_specialty_dropdown').on('change', function() {
    if ($('.main-ophthal_investigation-list').length > 0){
    $('#confirm-filter')
      .html(confirmationModal('ophthal_sub_specialty', '<%= @selected_sub_specialty %>'))
      .modal('show')
      .css('background-color', 'rgba(0,0,0,0.5)')
    } else {
      ophthal_sub_specialty()
    }
  })  
</script>
