<div class="col-md-12">
  <div class="row mb20">
    <div class="col-md-2">
      <b style="color:#000;">Specialty</b>
    </div>
    <div class="col-md-4">
      <%= f.select :specialty_id, options_for_select(@available_specialties, @selected_specialty), { include_blank: '' }, class: 'form-control specialty_dropdown', style: 'height:30px;padding:5px;' %>
    </div>
    <div class="col-md-2">
      <b style="color:#000;">Sub Specialty</b>
    </div>
    <div class="col-md-4">
      <%= f.select :sub_specialty_id, options_for_select(@sub_specialties, @service_master.sub_specialty_id), { include_blank: 'Sub Speciality Not Applicable', prompt: true }, class: 'form-control sub_specialty_dropdown', style: 'height:30px;padding:5px;' %>
    </div>
  </div>
  <div class="row mb20">
    <div class="col-md-2">
      <b style="color:#000;">Department</b>
    </div>
    <div class="col-md-4">
      <%= f.input :department_ids, collection: [['OPD', '485396012'], ['IPD', '486546481']], as: :hg_checkbox, label: false, required: false, class: 'btn btn-xs btn-white', input_html: { name: 'service_master[department_ids]' }, checked: @service_master.department_ids %>
    </div>
  </div>
  <div class="row mb20">
    <div class="col-md-2">
      <b style="color:#000;">Service Type</b>
    </div>
    <div class="col-md-4">
      <% @service_type = Global.service_types.send(@selected_specialty.to_s)['type'] %>
      <%= f.select :service_type, options_for_select(@service_type, @service_master.service_type), { include_blank: '' }, class: 'form-control service_type', style: 'height:30px;padding:5px;' %>
    </div>
    <% style = 'display:none;' unless @service_master.service_type_code %>
    <div class="search-procedure-investigation" style="<%= style %>">
      <div class="col-md-2">
        <b style="color:#000;">Search</b>&nbsp;
        <% undo_style = ('padding:0px;display: none;' unless @service_master.service_type_code) || 'padding:0px;' %>
        <span class="btn btn-link btn-xs clear-service-code" style="<%= undo_style %>"><i class="fa fa-undo"></i></span>
      </div>
      <div class="col-md-4 service_code_name">
        <% if @service_master.service_type_code %>
          <%= f.text_field :service_type_code_name, value: @service_master.service_type_code_name, class: 'form-control search_service_type_code p5_10', readonly: 'readonly', style: 'background:#fff;' %>
        <% else %>
          <%= f.text_field :service_type_code_name, value: @service_master.service_type_code_name, class: 'form-control search_service_type_code p5_10' %>
        <% end %>
        <span class="service_type_code">Code: <%= @service_master.service_type_code %></span>
      </div>
    </div>
  </div>

  <div class="row mb20">
    <div class="col-md-2">
      <b style="color:#000;">Group</b>
    </div>
    <div class="col-md-4">
      <%= f.select :service_group_id, options_for_select(@service_groups.pluck(:name, :id), @service_master.service_group_id), { include_blank: '' }, class: 'form-control service_group_list', style: 'height:30px;padding:5px;' %>
    </div>
    <div class="col-md-2">
      <b style="color:#000;">Sub Group</b>
    </div>
    <div class="col-md-4">
      <%#= f.text_field :service_sub_group, {class: 'form-control service_sub_group p5_10'} %>
      <%= f.select :service_sub_group_id, options_for_select(@service_sub_groups.pluck(:name, :id), @service_master.service_sub_group_id), { include_blank: '' }, class: 'form-control service_sub_group_list', style: 'height:30px;padding:5px;' %>
    </div>
  </div>

  <div class="row mb20">
    <div class="col-md-2">
      <b style="color:#000;">Service Name</b>
    </div>
    <div class="col-md-4">
      <%= f.text_field :service_name, class: 'form-control service_name p5_10' %>
    </div>
    <div class="col-md-2">
      <b style="color:#000;">Service Code</b>
    </div>
    <div class="col-md-4">
      <%= f.text_field :organisation_service_code, class: 'form-control service_code p5_10' %>
    </div>
  </div>

  <div class="row mb20">
    <div class="col-md-2">
      <b style="color:#000;">Amount</b>
    </div>
    <div class="col-md-4">
      <%= f.number_field :service_amount, class: 'form-control service_amount p5_10', min: 0 %>
    </div>
    <% unless params[:action] == "new" %>
      <div class="col-md-6">
        <span class="ckbox ckbox-primary" style="margin-left: 20px;">
          <%= check_box_tag 'update_amount', true, false, id: 'update_amount' %>
          <label for="update_amount"><b style="color:#000;">Update Amount in Pricing Master</b></label>
        </span>
      </div>
    <% end %>
  </div>
</div>
<script>
  <% if @no_subspeciality.present? %>
    $('.sub_specialty_dropdown option').filter(function() {
      return this.text == 'Sub Speciality Not Applicable'; 
    }).attr('selected', true);
  <% end %>
</script>