<!-- HEADER -->
<div class="row mb20" style="background:#354670;color:#fff">
  <div class="col-md-2">
    <h4>Service Master</h4>
  </div>
  <div class="col-md-3 text-right">
    <input type="text" name="" class="search-service-master form-control" placeholder="Search Service Name or Sub Group" value="" style="margin-top: 5px;">
  </div>
  <div class="col-md-7 text-right">
    <button type="button" id="service-master-dropdown" class='btn btn-primary navbar-btn' data-toggle="dropdown"><span class=""><i class="fa fa-file-alt fa-xs"></i> Add Service Master</span>&nbsp;<span class="caret fa-color"></span></button>
    <ul class="dropdown-menu children service-master-dropdown-content" style="margin-left: 10%;">
      <li>
        <%= link_to new_service_master_path, data: { remote: true, 'toggle': 'modal', 'target': '#service-master-modal' }, id: 'add-service-master' do %><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Single Service Master<% end %>
      </li>

      <li class="dropdown-submenu">
        <a class="sub-button" tabindex="-1" href="#">
          <i class="fa fa-plus"></i>&nbsp;&nbsp;Add/ Update Multiple Service Master
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to edit_multiple_service_masters_path(flag: 'Procedure'), data: { remote: true, 'toggle': 'modal', 'target': '#service-master-modal' }, id: 'add-procedure-service' do %><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Procedure Services<% end %>
          </li>
          <% if current_organisation["specialty_ids"].include?("309988001") %>
            <li>
              <%= link_to edit_multiple_service_masters_path(flag: 'Ophthal Investigation'), data: { remote: true, 'toggle': 'modal', 'target': '#service-master-modal' }, id: 'add-ophthal-investigation-service' do %><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Ophthalmology Investigation Services<% end %>
            </li>
          <% end %>
          <li>
            <%= link_to edit_multiple_service_masters_path(flag: 'Laboratory Investigation'), data: { remote: true, 'toggle': 'modal', 'target': '#service-master-modal' }, id: 'add-laboratory-investigation-service' do %><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Laboratory Investigation Services<% end %>
          </li>
          <li>
            <%= link_to edit_multiple_service_masters_path(flag: 'Radiology Investigation'), data: { remote: true, 'toggle': 'modal', 'target': '#service-master-modal' }, id: 'add-radioloy-investigation-service' do %><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Radiology Investigation Services<% end %>
          </li>
        </ul>
      </li>


    </ul>
    <%= link_to service_sub_groups_path, data: { remote: true, 'toggle': 'modal', 'target': '#service-master-modal' }, class: 'btn btn-primary navbar-btn', id: 'service-sub-group' do %><i class="fa fa-plus"></i>&nbsp;&nbsp;Service Sub Group<% end %>
    <%= link_to service_groups_path, data: { remote: true, 'toggle': 'modal', 'target': '#service-master-modal' }, class: 'btn btn-primary navbar-btn', id: 'service-group' do %><i class="fa fa-plus"></i>&nbsp;&nbsp;Service Group<% end %>
  </div>
</div>
<!-- HEADER ENDS -->

<!-- SERVICE MASTER LIST -->
<div id="service_master_table_content">
  <div class="row">
    <div class="col-md-12">
      <input type="hidden" name="count" class="count" value="0">
      <table class="table table-bordered service-master-table" id="service_master_table">
        <thead>
          <tr>
            <th>Service Type</th>
            <th>Service Group</th>
            <th>Service Sub Group</th>
            <th>Service Name</th>
            <th style="width:20%;">Action</th>
          </tr>
        </thead>
        <tbody id="sub-service_master-list">
          <%= render partial: 'view.html.erb' %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- SERVICE MASTER LIST ENDS -->

<style type="text/css">
  #service_master_table_content {
    /*height: 500px;*/
    overflow-y: scroll;
    overflow-x: hidden;
  }

  #service_master_table {
    width: relative;
  }
  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin: auto;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
  margin-left: 5px;
}

</style>

<script type="text/javascript">
  $(".search-service-master").on('keyup', function(){
    service_list = $(".service_master_tr");
    service_list_count = service_list.length;
    search = $(this).val().toUpperCase().trim();
    counter = 0
    for (var i = service_list.length - 1; i >= 0; i--) {
      service_name = $(service_list[i]).find(".sm_service_name")
      service_sub_group = $(service_list[i]).find(".sm_service_sub_group")
      if(($(service_name).html().toUpperCase().indexOf(search) > -1) || ($(service_sub_group).html().toUpperCase().indexOf(search) > -1)) {
        $(service_list[i]).css("display", "");
      } else {
        $(service_list[i]).css("display", "None");
        counter += 1
      }
    }

    if(service_list_count == counter){
      if($(".show-nothing").length <= 0){
        $("#sub-service_master-list").append(`<tr class="show-nothing"><td class="text-center" colspan="5">Nothing to Show</td></tr>`)
      }
    } else {
      $(".show-nothing").remove();
    }
  })
  $('.dropdown-submenu a.sub-button').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
  $('.dropdown-menu a, #service-master-dropdown').not('.sub-button').on("click", function(e){
    $('.dropdown-submenu ul').hide();
  });
</script>
