<%= javascript_include_tag 'application-loggedin', 'data-turbolinks-track' => true %>
<div class="modal-dialog modal-md" style="width:60%;">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Add Service</h4>
    </div>
    <%= simple_form_for @service_master, remote: true do |f| %>
      <%= f.hidden_field :organisation_id, value: current_user.organisation_id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <div class="modal-body">
        <div class="row">
          <%= render partial: 'form.html.erb', locals: { f: f } %>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit 'Save', class: 'btn btn-success', id: 'new-service-master-form', data: { 'disable-with': 'Please Wait...' }, onclick: 'service_master_form()' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>
