<div class="modal-dialog modal-md" style="width:70%;">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Service Master</h4>
    </div>
    <div class="modal-body">
      <div class="row mb20">
        <div class="col-md-4">
          <b style="color:#000;">Specialty</b><br>
          <span><%= @specialty.name %></span>
        </div>
        <div class="col-md-4">
          <b style="color:#000;">Sub Specialty</b><br>
          <span><%= @sub_specialty&.name || '-' %></span>
        </div>
        <div class="col-md-4">
          <b style="color:#000;">Departments</b><br>
          <% departments = { '485396012' => 'OPD', '486546481' => 'IPD' } %>
          <span><%= @service_master.department_ids.map { |d| departments[d] }.join(', ') %></span>
        </div>
      </div>
      <div class="row mb20">
        <div class="col-md-4">
          <b style="color:#000;">Service Type</b><br>
          <span>
            <%= @service_master.service_type %>
            <%= @service_master.service_type_code_name.present? ? "(#{@service_master.service_type_code_name})" : '' %>
          </span>
        </div>
        <div class="col-md-4">
          <b style="color:#000;">Service Group</b><br>
          <span><%= @service_master.service_group.name %></span>
        </div>
        <div class="col-md-4">
          <b style="color:#000;">Service Sub Group</b><br>
          <span><%= @service_master.service_sub_group.name %></span>
        </div>
      </div>
      <div class="row mb20">
        <div class="col-md-4">
          <b style="color:#000;">Service Name</b><br>
          <span><%= @service_master.service_name %></span>
        </div>
        <div class="col-md-4">
          <b style="color:#000;">Service Code</b><br>
          <span><%= @service_master.organisation_service_code.present? ? @service_master.organisation_service_code : '-' %></span>
        </div>
        <div class="col-md-4">
          <b style="color:#000;">Service Amount</b><br>
          <span><%= @service_master.service_amount || '0.00' %></span>
        </div>
      </div>
      <hr>
      <div class="row mb20">
        <div class="col-md-12">
          <p style="color:#f00;">Information :</p>
          <ul style="color:#f00;">
            <li><b>Pricing Master</b> for each facility has been created automatically from above given information.</li>
            <li>To change Amount for a particular Facility. Visit that facility & click on <a href="#" class="redirect-pricing-master" style="color:#3071a9">Pricing Master link</a>.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= link_to edit_service_master_path(id: @service_master.id.to_s), data: { remote: true }, class: 'btn btn-primary edit_service_master' do %>Edit<% end %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(".redirect-pricing-master").on('click', function(e){
    e.preventDefault();
    $("#service-master-modal").modal("hide");
    $("#manage_pricing_master_id").trigger("click");
  })
</script>
