<% if params[:flag] == "Procedure" %>
  $("#service-master-modal").html("<%= j render partial: 'edit_multiple_procedures.html.erb' %>");
  <%= render partial: 'edit_multiple_procedures.js.erb' %>
<% elsif params[:flag] == "Ophthal Investigation" %>
  $("#service-master-modal").html("<%= j render partial: 'edit_multiple_ophthal_investigations.html.erb' %>");
  <%= render partial: 'edit_multiple_ophthal_investigations.js.erb' %>
<% elsif params[:flag] == "Laboratory Investigation" %>
  $("#service-master-modal").html("<%= j render partial: 'edit_multiple_laboratory_investigations.html.erb' %>");
  <%= render partial: 'edit_multiple_laboratory_investigations.js.erb' %>
<% elsif params[:flag] == "Radiology Investigation" %>
  $("#service-master-modal").html("<%= j render partial: 'edit_multiple_radiology_investigations.html.erb' %>");
  <%= render partial: 'edit_multiple_radiology_investigations.js.erb' %>
<% end %>
$("#service-master-modal .modal-body").css({'max-height': '80vh', 'overflow-y': 'auto'})
$('.department_dropdown').select2();

function service_master_form(){
  $("#new-services-form").validate({
    ignore: [],
    rules: {
      "department_ids[]": {
        required: true,
      }
    },
    messages: {
      "department_ids[]": {
        required: "Department Required",
      }
    },
    errorPlacement: function (error, element) {
      error.insertAfter(element);
    }
  });
}
service_master_form()

function confirmationModal(method, prev){
  return `<div class="modal-dialog modal-sm">
      <div class="modal-content">
          <div class="modal-header">
            <div class="row text-center">
              <h5><b>Confirmation Requird!</b></h5>
            </div>
          </div>
          <div class="modal-body">
            <p>You are about to change speciality or subspeciality</p>
            <p><span class='text-danger'> All unsaved changes to the services will be lost.</span>
            Would you still want to change speciality/sub-speciality ?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info cancel-filter" onclick='cancel_filter("${method}_dropdown", "${prev}")' data-dismiss="modal">No don't change</button>
            <button type="button" class="btn btn-danger" onclick='${method}()' data-dismiss="modal">Yes change</button>
          </div>
      </div>
    </div>`
}

function cancel_filter(element, prev){
  if (prev == '-1')
  {
    $('.'+element+' option:eq(1)').attr('selected', 'selected');
  } else {
    $('.'+element).val(prev)
  }
}
