<div class="clinicaldetails mb5" id="clinicaldetails">
  <% if opdrecord.clincalevaluation.length > 0 %>
    <div class="row">
      <strong style="<%= heading_font_size %>">HISTORY :</strong>
      <div class="summary-line-border"></div>
    </div>

    <div class="row" style="<%= text_font_size %>">
      <%= opdrecord.clincalevaluation.html_safe() %>
    </div>
  <% end %>
</div>

<div class="examination mb5" id="examination">
  <% if opdrecord.examination.length > 0 && opdrecord.examination != "<br>"%>
    <div class="row">
      <strong style="<%= heading_font_size %>">EXAMINATION :</strong>
      <div class="summary-line-border"></div>
    </div>

    <div class="row" style="<%= text_font_size %>">
      <%= opdrecord.examination.html_safe() %>
    </div>
  <% end %>
</div>

<div class="diagnosis_section mb5" id="diagnosis_section">
  <% if opdrecord.send("#{@flag}_diagnosis_flag") == "1" %>
    <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/opd_summary_form_diagnosis.html", locals: { specalityid: @specalityid, opdrecord: @opdrecord } %>
  <% end %>
</div>

<div class="advice mb5 <%= 'print_text_font_size' if  @print_setting %>" id="advice" style="<%= text_font_size %>">
  <% if opdrecord.send("#{@flag}_investigations_flag") == "1" %>
    <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/opd_summary_form_radiologyinvestigations.html", locals: { opdrecord: @opdrecord } %>
    <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/opd_summary_form_laboratoryinvestigations.html", locals: { opdrecord: @opdrecord } %>
  <% end %>
</div>

<div class="advice mb5" id="procedure">
  <% if opdrecord.send("#{@flag}_advice_flag") == "1" %>
    <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/opd_summary_form_procedure.html", locals: { opdrecord: @opdrecord } %>
  <% end %>
</div>
