<%= render partial: 'currency_dropdown.html.erb' %>
<div class="" style="padding: 0px;">
  <div class="row tile_count" style="margin-bottom: 15px;">
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
      <div class="panel_h">
        <div class="count_top title_h"> OPD Collection </div>
        <span class="count_earning ">
          <% if @todays_data.present?%>
            <%= @opd_new_patient_amount.reject(&:blank?).last.to_f + @opd_old_patient_amount.reject(&:blank?).last.to_f %>
          <% else %>
            <%= @opd_new_patient_amount.reject(&:blank?).sum.to_f + @opd_old_patient_amount.reject(&:blank?).sum.to_f %>
          <% end %>
        </span>
        <span id="finance_weekly-appointment-created-counts" class="panel_chart chart pull-right"></span>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
      <div class="panel_h">
        <div class="count_top title_h"> IPD Collection</div>
        <span class="count_earning ">
          <% if @todays_data.present?%>
            <%= @ipd_new_patient_amount.reject(&:blank?).last.to_f + @ipd_old_patient_amount.reject(&:blank?).last.to_f %>
          <% else %>
            <%= @ipd_new_patient_amount.reject(&:blank?).sum.to_f + @ipd_old_patient_amount.reject(&:blank?).sum.to_f %>
          <% end %>
        </span>
        <span id="finance_weekly-appointment-arrived-counts" class="panel_chart chart pull-right"></span>
      </div>
    </div>
    <% if @specialty_id == '309988001' || (@current_user.specialty_ids.include?('309988001') && @specialty_id == 'all') %>
      <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
        <div class="panel_h">
          <div class="count_top title_h">Optical Collection</div>
          <span class="count_earning green">
            <% if @todays_data.present?%>
              <%= @optical_new_patient_amount.reject(&:blank?).last.to_f + @optical_old_patient_amount.reject(&:blank?).last.to_f %>
            <% else %>
              <%= @optical_new_patient_amount.reject(&:blank?).sum.to_f + @optical_old_patient_amount.reject(&:blank?).sum.to_f %>
            <% end %>
          </span>
          <span id="finance_weekly-admission-counts" class="panel_chart chart pull-right"></span>
        </div>
      </div>
    <% end %>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head">
      <div class="panel_h">
        <div class="count_top title_h"> Pharmacy Collection </div>
        <span class="count_earning">
          <% if @todays_data.present?%>
              <%= @pharmacy_new_patient_amount.reject(&:blank?).last.to_f + @pharmacy_old_patient_amount.reject(&:blank?).last.to_f %>
          <% else %>
            <%= @pharmacy_new_patient_amount.reject(&:blank?).sum.to_f + @pharmacy_old_patient_amount.reject(&:blank?).sum.to_f %>
          <% end %>
          </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
      <%= render partial: '/analytics/partials/daily_total_earning.html.erb' %>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <%= render partial: '/analytics/partials/daily_department_earning.html.erb' %>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <%= render partial: '/analytics/partials/opd_new_old_earning.html.erb' %>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <%= render partial: '/analytics/partials/ipd_new_old_earning.html.erb' %>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <%= render partial: '/analytics/partials/pharmacy_new_old_earning.html.erb' %>
    </div>
    <% if @current_user.specialty_ids.include?('309988001') || true %>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <%= render partial: '/analytics/partials/optical_new_old_earning.html.erb' %>
      </div>
    <% end %>
  </div>
</div>

<style>
.panel_h {
    border: 1px solid #fff;
    padding: 20px;
    text-align: center;
    background: #fff;
    padding: 25px;
    height: 110px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    white-space: nowrap;
}
.title_h{
    border-bottom: 1px solid #dcdde1;
    color: black;
    position: relative;
    top: -15px;
    white-space: nowrap;
}
.title_emoji{
  font-size: 18px;
  padding-right: 20px;
}
.count{
    position: relative;
    top: 11px;
    font-size: 20px;
    position: relative;
    color: #487eb0;
}

.count_earning{
    position: relative;
    top: 11px;
    font-size: 20px;
    position: relative;
    color: #487eb0;
}
.panel_chart{
}
.panel-head{
  padding-bottom: 10px;
}

</style>
<script type="text/javascript">
window.counting_animation()
</script>
