<% if @specialty_id == '309988001' || (@current_user.specialty_ids.include?('309988001') && @specialty_id == 'all') %>
  <%= render partial: 'currency_dropdown.html.erb' %>
  <div class="" style="padding: 0px;">
      <div class="row tile_count" style="margin-bottom: 15px;">
      <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
        <div class="panel_h">
          <div class="count_top title_h"> Optical Collection </div>
          <span class="count_earning ">
          <% if @todays_data.present?%>
            <%= @optical_new_patient_amount.reject(&:blank?).last.to_f + @optical_old_patient_amount.reject(&:blank?).last.to_f %>
          <% else %>
            <%= @optical_new_patient_amount.reject(&:blank?).sum.to_f + @optical_old_patient_amount.reject(&:blank?).sum.to_f %>
          <% end %>
          </span>
          <span id="finance_weekly-appointment-created-counts" class="panel_chart chart pull-right"></span>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
        <div class="panel_h">
          <div class="count_top title_h">Optical New Collection</div>
          <span class="count_earning ">
          <% if @todays_data.present?%>
            <%= @optical_new_patient_amount.reject(&:blank?).last.to_f %>
          <% else %>
            <%= @optical_new_patient_amount.reject(&:blank?).sum.to_f %>
          <% end %>
          </span>
          <span id="finance_weekly-appointment-arrived-counts" class="panel_chart chart pull-right"></span>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
        <div class="panel_h">
          <div class="count_top title_h">Optical Old Collection</div>
          <span class="count_earning green">
            <% if @todays_data.present?%>
              <%= @optical_old_patient_amount.reject(&:blank?).last.to_f %>
            <% else %>
              <%= @optical_old_patient_amount.reject(&:blank?).sum.to_f %>
            <% end %>
          </span>
          <span id="finance_weekly-admission-counts" class="panel_chart chart pull-right"></span>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 panel-head">
        <div class="panel_h">
          <div class="count_top title_h">Optical Total Invoice Count </div>
          <span class="count_earning">
            <% if @todays_data.present?%>
              <%= @optical_invoice_count.reject(&:blank?).last.to_i %>
            <% else %>
              <%= @optical_invoice_count.reject(&:blank?).sum.to_i %>
            <% end %>
            </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <%= render partial: '/analytics/partials/total_optical_collection.html.erb' %>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <%= render partial: '/analytics/partials/total_optical_invoice.html.erb' %>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <%= render partial: '/analytics/partials/total_optical_new_collection.html.erb' %>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <%= render partial: '/analytics/partials/total_optical_old_collection.html.erb' %>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    window.counting_animation()
  </script>
<% else %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default panel_b borderd_panel">
        <div class="panel-heading to_add_expand_button">
          <span>Change Specialty to&emsp;<b style="color:#000;"><i>Ophthalmology</i></b>&emsp;or&emsp;<b style="color:#000;"><i>All Specialties</i></b>&emsp;to view Graphs.</span>
        </div>
      </div>
    </div>
  </div>
<% end %>