<%= render partial: 'currency_dropdown.html.erb' %>
<div class="" style="padding: 0px;">
    <div class="row tile_count" style="margin-bottom: 15px;">
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
      <div class="panel_h">
        <div class="count_top title_h"> Pharmacy Collection </div>
        <span class="count_earning ">
          <% if @todays_data.present?%>
              <%= @pharmacy_new_patient_amount.reject(&:blank?).last.to_f + @pharmacy_old_patient_amount.reject(&:blank?).last.to_f %>
          <% else %>
            <%= @pharmacy_new_patient_amount.reject(&:blank?).sum.to_f + @pharmacy_old_patient_amount.reject(&:blank?).sum.to_f %>
          <% end %>
        </span>
        <span id="finance_weekly-appointment-created-counts" class="panel_chart chart pull-right"></span>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
      <div class="panel_h">
        <div class="count_top title_h">Pharmacy New Collection</div>
        <span class="count_earning ">
          <% if @todays_data.present?%>
              <%= @pharmacy_new_patient_amount.reject(&:blank?).last.to_f %>
          <% else %>
            <%= @pharmacy_new_patient_amount.reject(&:blank?).sum.to_f %>
          <% end %>
          </span>
        <span id="finance_weekly-appointment-arrived-counts" class="panel_chart chart pull-right"></span>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
      <div class="panel_h">
        <div class="count_top title_h">Pharmacy Old Collection</div>
        <span class="count_earning green">
          <% if @todays_data.present?%>
              <%= @pharmacy_old_patient_amount.reject(&:blank?).last.to_f %>
          <% else %>
            <%= @pharmacy_old_patient_amount.reject(&:blank?).sum.to_f %>
          <% end %>
        </span>
        <span id="finance_weekly-admission-counts" class="panel_chart chart pull-right"></span>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head">
      <div class="panel_h">
        <div class="count_top title_h">Pharmacy Total Invoice Count</div>
        <span class="count_earning">
          <% if @todays_data.present?%>
            <%= @pharmacy_invoice_count.reject(&:blank?).last.to_f %>
          <% else %>
            <%= @pharmacy_invoice_count.reject(&:blank?).sum.to_i %>
          <% end %>
          </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <%= render partial: '/analytics/partials/total_pharmacy_collection.html.erb' %>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <%= render partial: '/analytics/partials/total_pharmacy_invoice.html.erb' %>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <%= render partial: '/analytics/partials/total_pharmacy_new_collection.html.erb' %>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <%= render partial: '/analytics/partials/total_pharmacy_old_collection.html.erb' %>
    </div>
  </div>
</div>
<script type="text/javascript">
window.counting_animation()
</script>