<div class="modal-dialog modal-md">
  <!-- Modal content-->
  <div class="modal-content">
    <%= form_for @courier,:format => :js,:method => :put,remote: true,:multipart => true,url: inpatient_courier_path, html: { :class => "courier_new_form", :id => "courier_new_form" } do |cour| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Fill Courier Details</h4>
      </div>
      <div class="modal-body">
        <%= cour.hidden_field :patient_id, value: @patient.id %>
        <%= cour.hidden_field :admission_id, value: @admission.id %>
        <%= cour.hidden_field :tpa_id, value: @tpa.try(:id) %>
        <div class="row mb20">
          <div class="col-md-6">
            <%= cour.label :courier_company, "Courier Company" %>
            <%= cour.text_field :courier_company, {:class => 'form-control courier_company',:id => "courier_company", :placeholder => "Courier Company" } %>
          </div>
          <div class="col-md-6">
            <%= cour.label :courier_number, "Courier Number" %>
            <%= cour.text_field :courier_number, {:class => 'form-control courier_number',:id => "courier_number", :placeholder => "Courier Number" } %>
          </div>
        </div>
        <div class="row mb20">
          <div class="col-md-6">
            <%= cour.label :sent_day, "Courier Send Date" %>
            <%= cour.text_field :sent_day, {:class => 'form-control send_day',:id => "send_day", :placeholder => "Courier Send Date" } %>
          </div>
          <div class="col-md-6">
            <%= cour.label :contact_number, "Contact Number" %>
            <%= cour.text_field :contact_number, {:class => 'form-control contact_number',:id => "contact_number", :placeholder => "Contact Number" } %>
          </div>
        </div>
        <div class="row mb20">
          <div class="col-md-6">
            <%= cour.label :courier_collected, "Courier Collected By" %>
            <%= cour.text_field :courier_collected, {:class => 'form-control courier_collected',:id => "courier_collected", :placeholder => "Courier Collected By" } %>
          </div>
          <div class="col-md-6">
            <%= cour.label :courier_handed, "Courier Handed By" %>
            <%= cour.text_field :courier_handed, {:class => 'form-control courier_handed',:id => "courier_handed", :placeholder => "Courier Handed By" } %>
          </div>
        </div>
        <div class="row mb20">
          <div class="col-md-6">
            <%= cour.label :comment, "Comment" %>
            <%= cour.text_field :comment, {:class => 'form-control comments',:id => "comments", :placeholder => "Comment" } %>
          </div>
          <div class="col-md-6">
            <%= cour.label :current_status, "Current Status" %>
            <%= cour.text_field :current_status, {:class => 'form-control current_status',:id => "current_status", :placeholder => "Current Status" } %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= cour.submit "Save",{:class => 'btn btn-success'}%>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>

  </div>

</div>