<div class="modal-dialog modal-md">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Fill Courier Details</h4>
    </div>
    <div class="modal-body">
      <div class="row mb20">
        <div class="col-md-6">
          <b>Courier Company : </b> <%= @courier.courier_company %>
        </div>
        <div class="col-md-6">
          <b>Courier Number : </b> <%= @courier.courier_number %>
        </div>
      </div>
      <div class="row mb20">
        <div class="col-md-6">
          <b>Courier Send Date : </b> <%= @courier.sent_day %>
        </div>
        <div class="col-md-6">
          <b>Contact Number : </b> <%= @courier.contact_number %>
        </div>
      </div>
      <div class="row mb20">
        <div class="col-md-6">
          <b>Courier Collected By : </b> <%= @courier.courier_collected %>
        </div>
        <div class="col-md-6">
          <b>Courier Handed By : </b> <%= @courier.courier_handed %>
        </div>
      </div>
      <div class="row mb20">
        <div class="col-md-6">
          <b>Comment : </b> <%= @courier.comment %>
        </div>
        <div class="col-md-6">
          <b>Current Status : </b> <%= @courier.current_status %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= link_to edit_inpatient_courier_path(:id => @courier.id.to_s), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#insurance-modal'}, :class => "btn btn-danger" do %> Edit <% end %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

</div>