<% clinical_counter = 0 %>
<% history_counter = 0 %>
<% if ipdrecord.r_hpi.present? %>
    <% history_counter += 1 %>
<% end %>
<% if ipdrecord.r_refraction.present? || ipdrecord.l_refraction.present? || ipdrecord.r_iop.present? || ipdrecord.l_iop.present? || ipdrecord.r_appendages.present? || ipdrecord.l_appendages.present? || ipdrecord.r_anterior.present? || ipdrecord.l_anterior.present? || ipdrecord.r_eom.present? || ipdrecord.r_eom.present?%>
  <% clinical_counter = clinical_counter + 1 %>
<% end %>

<% if clinical_counter > 0 || history_counter >0%>
  <div class="row mb10">
    <div class="col-md-12">
      <div class="row">
        <strong>CLINCAL DETAILS :</strong>
        <div class="summary-line-border"></div>
      </div>
      <% if ipdrecord.r_hpi.present? %>
        <div class="row mb5">
          <div class="col-md-12">
            <b>History of Present Illness :</b> <%= ipdrecord.r_hpi %>
          </div>
        </div>
      <% end %>
      <% if clinical_counter> 0 %>
          <div class="row mb5">
            <div class="col-md-3">
            </div>
            <div class="col-md-4 text-center">
              <b>R/OD </b>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4  text-center">
              <b>L/OS </b>
            </div>
          </div>
      <% end %>
      <% if ipdrecord.r_refraction.present? || ipdrecord.l_refraction.present?%>
        <div class="row mb5">
          <div class="col-md-3">
            <b>Refraction :</b>
          </div>
          <div class="col-md-4">
             <%= ipdrecord.r_refraction %>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-4">
             <%= ipdrecord.l_refraction %>
          </div>
        </div>
      <% end %>
      <% if ipdrecord.r_iop.present? || ipdrecord.l_iop.present?%>
          <div class="row mb5">
            <div class="col-md-3">
              <b>IOP :</b>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
               <%= ipdrecord.r_iop %>
            </div>
            <div class="col-md-4">
               <%= ipdrecord.l_iop %>
            </div>
          </div>
      <% end %>
      <% if ipdrecord.r_appendages.present? || ipdrecord.l_appendages.present?%>
          <div class="row mb5">
            <div class="col-md-3">
              <b>Appendages :</b>
            </div>
            <div class="col-md-4">
              <%= ipdrecord.r_appendages %>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
               <%= ipdrecord.l_appendages %>
            </div>
          </div>
      <% end %>
      <% if ipdrecord.r_anterior.present? || ipdrecord.l_anterior.present?%>
          <div class="row mb5">
            <div class="col-md-3">
              <b>Anterior Segment  :</b>
            </div>
            <div class="col-md-4">
              <% r_ant =  ipdrecord.r_anterior.gsub(/\n/, '|') %>
              <% r_ant.split("|") .each do |i|%>
                  <%= i %><br>
              <%end%>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
              <% l_ant =  ipdrecord.l_anterior.gsub(/\n/, '|') %>
              <% l_ant.split("|") .each do |i|%>
                  <%= i %><br>
              <%end%>
            </div>
          </div>
      <% end %>
      <% if ipdrecord.r_posterior.present? || ipdrecord.l_posterior.present?%>
          <div class="row mb5">
            <div class="col-md-3">
              <b>Posterior Segment  :</b>
            </div>
            <div class="col-md-4">
              <%= ipdrecord.r_posterior %>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
              <%= ipdrecord.l_posterior %>
            </div>
          </div>
      <% end %>
      <% if ipdrecord.r_eom.present? || ipdrecord.l_eom.present?  %>
        <div class="row mb5">
          <div class="col-md-3">
            <b>EOM :</b>
          </div>
          <div class="col-md-4">
            <%= ipdrecord.r_eom %>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <%= ipdrecord.l_eom %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>