<% nursing_counter = 0 %>
<% if @ipdrecord.patient_weight.present? || @ipdrecord.patient_height.present? || @ipdrecord.patient_temperature.present? || @ipdrecord.patient_pulse.present? || @ipdrecord.patient_bp.present? || @ipdrecord.patient_respiration_rate.present? || @ipdrecord.patient_accompanied.present? || @ipdrecord.patient_allergies.present? || @ipdrecord.patient_ambulation.present? || @ipdrecord.prosthetic_visual.present? || @ipdrecord.prosthetic_hearing.present? || @ipdrecord.prosthetic_dentures.present? || @ipdrecord.ability_bathing.present? || @ipdrecord.ability_eating.present? || @ipdrecord.ability_dressing.present? || @ipdrecord.ability_toilet_use.present? || @ipdrecord.ability_walking.present? || @ipdrecord.diet_needs.present? || @ipdrecord.current_medications.present? %>
  <% nursing_counter = nursing_counter + 1 %>
<% end %>


<% if nursing_counter > 0 %>
  <div class="row mb10">
    <div class="col-md-12">
      <div class="row">
        <strong>NURSING DETAILS :</strong>
        <div class="summary-line-border"></div>
      </div>
      <div class="row mb5">
        <% if @ipdrecord.patient_weight.present? %>
          <div class="col-md-4">
            <b>Weight :</b> <%= @ipdrecord.patient_weight %>Kg
          </div>
        <% end %>
        <% if @ipdrecord.patient_height.present? %>
          <div class="col-md-4">
            <b>Height :</b> <%= @ipdrecord.patient_height %>cm
          </div>
        <% end %>
        <% if @ipdrecord.patient_temperature.present? %>
          <div class="col-md-4">
            <b>Temperature :</b> <%= @ipdrecord.patient_temperature %> &deg;C
          </div>
        <% end %>
      </div>
      <div class="row mb5">
        <% if @ipdrecord.patient_pulse.present? %>
          <div class="col-md-4">
            <b>Pulse :</b> <%= @ipdrecord.patient_pulse %>/min
          </div>
        <% end %>
        <% if @ipdrecord.patient_bp.present? %>
          <div class="col-md-4">
            <b>Blood Pressure :</b> <%= @ipdrecord.patient_bp %>mm Hg
          </div>
        <% end %>
        <% if @ipdrecord.patient_respiration_rate.present? %>
          <div class="col-md-4">
            <b>Respiration Rate :</b> <%= @ipdrecord.patient_respiration_rate %>/min
          </div>
        <% end %>
      </div>
      <div class="row mb5">
        <% if @ipdrecord.patient_accompanied.present? %>
          <div class="col-md-4">
            <% if @ipdrecord.patient_accompanied == "Yes" %>
              <b>Patient</b> is <b>Accompanied By Relative.</b>
            <% else %>
              <b>Patient</b> is <b>Alone.</b>
            <% end %>
          </div>
        <% end %>
        <% if @ipdrecord.patient_allergies.present? %>
          <div class="col-md-8">
            <% if @ipdrecord.patient_allergies != "None" %>
              <b>Patient</b> is Allergic to <b> <%= @ipdrecord.patient_allergies.split(",").join(", ") %>.</b>
            <% else %>
              <b>Patient</b> is Allergic to <b> Nothing.</b>
            <% end %>
          </div>
        <% end %>
        <% if @ipdrecord.patient_ambulation.present? %>
          <div class="col-md-4">
            <% if @ipdrecord.patient_ambulation == "Independent" %>
              <b>Patient</b> is <b>Independent</b>
            <% else %>
              <b>Patient</b> needs <b> <%= @ipdrecord.patient_ambulation %>.</b>
            <% end %>
          </div>
        <% end %>
      </div>
      <% if @ipdrecord.prosthetic_visual.present? || @ipdrecord.prosthetic_hearing.present? || @ipdrecord.prosthetic_dentures.present? %>
        <div class="row mb5">
          <div class="col-md-12">
            <b>PROSTHETIC AIDS :</b>
          </div>
        </div>
        <div class="row mb5" style="margin-left:10px;">
          <% if @ipdrecord.prosthetic_visual.present? %>
            <div class="col-md-5">
              <b>Visual :</b> <%= @ipdrecord.prosthetic_visual.split(",").join(", ") %>
            </div>
          <% end %>
          <% if @ipdrecord.prosthetic_hearing.present? %>
            <div class="col-md-3">
              <b>Hearing :</b> <%= @ipdrecord.prosthetic_hearing.split(",").join(", ") %>
            </div>
          <% end %>
          <% if @ipdrecord.prosthetic_dentures.present? %>
            <div class="col-md-4">
              <b>Dentures :</b> <%= @ipdrecord.prosthetic_dentures.split(",").join(", ") %>
            </div>
          <% end %>
        </div>
      <% end %>
      <% if @ipdrecord.ability_bathing.present? || @ipdrecord.ability_eating.present? || @ipdrecord.ability_dressing.present? || @ipdrecord.ability_toilet_use.present? || @ipdrecord.ability_walking.present? %>
        <div class="row mb5">
          <div class="col-md-12">
            <b>ABILITY TO PERFORM ADL :</b>
          </div>
        </div>
        <div class="row mb5" style="margin-left:10px;">
          <% if @ipdrecord.ability_bathing.present? %>
            <div class="col-md-4">
              <b>Bathing :</b> <%= @ipdrecord.ability_bathing %>
            </div>
          <% end %>
          <% if @ipdrecord.ability_eating.present? %>
            <div class="col-md-4">
              <b>Eating :</b> <%= @ipdrecord.ability_eating %>
            </div>
          <% end %>
          <% if @ipdrecord.ability_dressing.present? %>
            <div class="col-md-4">
              <b>Dressing :</b> <%= @ipdrecord.ability_dressing %>
            </div>
          <% end %>
          <% if @ipdrecord.ability_toilet_use.present? %>
            <div class="col-md-4">
              <b>Toilet Use :</b> <%= @ipdrecord.ability_toilet_use %>
            </div>
          <% end %>
          <% if @ipdrecord.ability_walking.present? %>
            <div class="col-md-4">
              <b>Walking :</b> <%= @ipdrecord.ability_walking %>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="row mb5">
        <% if @ipdrecord.diet_needs.present? %>
          <div class="col-md-6">
            <b>Diet Needs :</b> <%= @ipdrecord.diet_needs %>
          </div>
        <% end %>
        <% if @ipdrecord.current_medications.present? %>
          <div class="col-md-6">
            <b>Current Medications :</b> <%= @ipdrecord.current_medications %>
          </div>
        <% end %>
      </div >
    </div>
  </div>
<% end %>