<div class="col-md-12" style="overflow: scroll;height:300px;">
  <% @opdcomments.newest_comment_first.each_with_index do |elem, i|  %>
    <div class="row mb5">
      <div class="col-md-3">
        <% image_user = User.find(elem.user_id) %>
        <%if image_user.present?%>   <!-- had put extra condition coz of error.-->
          <% if !image_user.user_profile_pic_url.nil? %>
              <%= image_tag(image_user.user_profile_pic_url.to_s, height: '55', width: '55')%>
          <% else %>
              <img class="thumbnail media-object" src="/assets/photos/no_picture_available.png" alt="No picture available" style="width:55px; height:55px;margin-bottom:0px;">
          <% end %>
        <%else%>
          <img class="thumbnail media-object" src="/assets/photos/no_picture_available.png" alt="No picture available" style="width:55px; height:55px;margin-bottom:0px;">
        <%end%>
      </div>
      <div class="col-md-8">
        <p style="margin-bottom:-5px;">
          <span style="color:#428bca"><b><%= elem.doctorname.capitalize %></b></span> <!--this should be username-->
        <span style="font-size:12px;float:right;">
          <% if ((Time.current - elem.commenttime)/60).to_i < 60 %>
            <% if ((Time.current - elem.commenttime)/60).to_i == 0 %>
              Just Now
            <%else%>
              <%= ((Time.current - elem.commenttime)/60).to_i %> minutes ago
            <% end %>
          <% elsif (((Time.current - elem.commenttime)/60)/60).to_i < 24 %>
            <%= (((Time.current - elem.commenttime)/60)/60).to_i %> hours ago
          <% else %>
            <%= elem.commentdate.strftime("%d %B") %> at <%= elem.commenttime.strftime("%H:%M") %>
          <% end %>
        </span>
        </p>
        <span><%= elem.comment %></span>
      </div>
      <div class="col-md-1" style="padding: 0px;">
        <a href="/opd_records/delete_comment_opd_record?id=<%= elem.id %>&opdrecordid=<%=@opdrecord.id%>" method = "get" data-remote="true" class="btn btn-link btn-xs pull-right" style="padding: 2px 2px" id="delete"><span style="color: red;padding: 2px 2px;" class="glyphicon glyphicon-trash" method="delete" ></span></a>
      </div>
    </div>
  <% end %>
</div>

<% if 1 == 0 %>
    <ul class="media-list comment-list">
      <% @opdcomments.each_with_index do |elem, i|  %>
          <li class="media">
            <div class="media-body">

              <h4><%= elem.comment %></h4>
              <small class="text-muted">
                <% if ((Time.current - elem.commenttime)/60).to_i < 60 %>
                    <%= ((Time.current - elem.commenttime)/60).to_i %> minutes ago
                <% elsif (((Time.current - elem.commenttime)/60)/60).to_i < 24 %>
                    <%= (((Time.current - elem.commenttime)/60)/60).to_i %> hours ago
                <% else %>
                    <%= elem.commentdate.strftime("%d %B") %> at <%= elem.commenttime.strftime("%H:%M") %>
                <% end %>
              </small>
              <p><%= elem.doctorname %></p>

            </div><!-- media-body -->
          </li><!-- media -->
      <% end %>
    </ul>
<% end %>