<% @data.each do |key, value| %>
  <% key = key.to_i + params[:row_count].to_i %>

  <tr class="investigationlist">
    <td style="padding: 2px 2px 2px 2px;" class="col-md-3 cols-sm-3 col-xs-3" id="">
      <div class="rdio rdio-primary" id="">
        <input class="optional form-control investigationstage" id="opdrecord_investigationlist_attributes_<%= key %>_investigationstage_A" name="opdrecord[investigationlist_attributes][<%= key %>][investigationstage]" type="radio" checked="checked" value="A">
        <label for="opdrecord_investigationlist_attributes_<%= key %>_investigationstage_A" id="">Advised</label>
      </div>
      <div class="rdio rdio-primary" id="">
        <input class="optional form-control investigationstage" id="opdrecord_investigationlist_attributes_<%= key %>_investigationstage_P" name="opdrecord[investigationlist_attributes][<%= key %>][investigationstage]" type="radio" value="P">
        <label for="opdrecord_investigationlist_attributes_<%= key %>_investigationstage_P" id="">Performed</label>
      </div>
    </td>
    <td style="padding: 2px 2px 2px 2px;" class="col-md-5 col-sm-5 col-xs-5" id="">
      <div class="form-group" id="">
        <div class="input-group mb15" id="">
          <input id="opdrecord_investigationlist_attributes_<%= key %>destroy" name="opdrecord[investigationlist_attributes][<%= key %>][_destroy]" type="hidden" value="0">
          <!-- Entered Details -->
          <%= hidden_field_tag "opdrecord[investigationlist_attributes][#{key}][entered_by_id]", @current_user.id %>
          <%= hidden_field_tag "opdrecord[investigationlist_attributes][#{key}][order_item_advised_id]", BSON::ObjectId.new().to_s %>
          <%= hidden_field_tag "opdrecord[investigationlist_attributes][#{key}][entered_by]", @current_user.fullname  %>
          <%= hidden_field_tag "opdrecord[investigationlist_attributes][#{key}][entered_at_facility_id]", @current_facility.id %>
          <%= hidden_field_tag "opdrecord[investigationlist_attributes][#{key}][entered_at_facility]", @current_facility.name %>
          <%= hidden_field_tag "opdrecord[investigationlist_attributes][#{key}][entered_datetime]", Time.current.strftime('%d/%m/%Y %I:%M %p') %>
          <!-- Advised Details -->
          <%= hidden_field_tag "opdrecord[investigationlist_attributes][#{key}][advised_by_id]", @consultant.id, class: 'advised_by_id' %>
          <%= hidden_field_tag "opdrecord[investigationlist_attributes][#{key}][advised_by]", @consultant.fullname, class: 'advised_by' %>
          <%= hidden_field_tag "opdrecord[investigationlist_attributes][#{key}][advised_at_facility_id]", @current_facility.id, class: 'advised_at_facility_id' %>
          <%= hidden_field_tag "opdrecord[investigationlist_attributes][#{key}][advised_at_facility]", @current_facility.name, class: 'advised_at_facility' %>
          <%= hidden_field_tag "opdrecord[investigationlist_attributes][#{key}][advised_datetime]", Time.current.strftime('%d/%m/%Y %I:%M %p'), class: 'advised_datetime' %>
          <!-- Performed Details -->
          <%= hidden_field_tag "opdrecord[investigationlist_attributes][#{key}][is_performed]", false, class: 'is_performed' %>
          <%= hidden_field_tag "opdrecord[investigationlist_attributes][#{key}][performed_by_id]", "", class: 'performed_by_id' %>
          <%= hidden_field_tag "opdrecord[investigationlist_attributes][#{key}][performed_by]", "", class: 'performed_by' %>
          <%= hidden_field_tag "opdrecord[investigationlist_attributes][#{key}][performed_at_facility_id]", "", class: 'performed_at_facility_id' %>
          <%= hidden_field_tag "opdrecord[investigationlist_attributes][#{key}][performed_at_facility]", "", class: 'performed_at_facility' %>
          <%= hidden_field_tag "opdrecord[investigationlist_attributes][#{key}][performed_datetime]", "", class: 'performed_datetime' %>
          <!--  -->
          <%= hidden_field_tag "opdrecord[investigationlist_attributes][#{key}][investigation_type]", value['investigation_type'] %>
          <input class="string optional form-control investigationname" id="opdrecord_investigationlist_attributes_<%= key %>_investigationname" name="opdrecord[investigationlist_attributes][<%= key %>][investigationname]" type="text" size="40" maxlength="40" value="<%= value['investigationname'] %>">
          <input class="form-control" id="opdrecord_investigationlist_attributes_<%= key %>_investigation_id" name="opdrecord[investigationlist_attributes][<%= key %>][investigation_id]" type="hidden" value="<%= value['investigation_id'] %>">
          <input class="form-control" id="opdrecord_investigationlist_attributes_<%= key %>_haslaterality" name="opdrecord[investigationlist_attributes][<%= key %>][haslaterality]" type="hidden" value="N">
          <input class="form-control opdrecord_investigation_performed" id="opdrecord_investigationlist_attributes_<%= key %>_investigation_performed" name="opdrecord[investigationlist_attributes][<%= key %>][investigation_performed]" type="hidden" value="">
        </div>
      </div>
    </td>
    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" id="">
      <input class="form-control" id="opdrecord_investigationlist_attributes_<%= key %>_loinccode" name="opdrecord[investigationlist_attributes][<%= key %>][loinccode]" type="hidden" value="<%= value['loinc_code'] %>">
      <input class="form-control" id="opdrecord_investigationlist_attributes_<%= key %>_laterality" name="opdrecord[investigationlist_attributes][<%= key %>][laterality]" type="hidden" value="410594000">
      <input class="form-control" id="opdrecord_investigationlist_attributes_<%= key %>_is_spine" name="opdrecord[investigationlist_attributes][<%= key %>][is_spine]" type="hidden" value="Y">
    </td>
    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" id="">
      <% if value['radiologyoptions'].present? %>
        <div class="form-group" id="">
          <div class="input-group mb15" id="">
            <select class="form-control radiologyoptions" id="opdrecord_investigationlist_attributes_<%= key %>_radiologyoptions" name="opdrecord[investigationlist_attributes][<%= key %>][radiologyoptions]">
              <option <%= "selected='selected'" if value['radiologyoptions'] == "90084008" %> value="90084008">w/o contrast</option>
              <option <%= "selected='selected'" if value['radiologyoptions'] == "51619007" %> value="51619007">with contrast</option>
              <option <%= "selected='selected'" if value['radiologyoptions'] == "429859008" %> value="429859008">with complete screening</option>
              <option <%= "selected='selected'" if value['radiologyoptions'] == "431985004" %> value="431985004">screening of other region</option>
              <option <%= "selected='selected'" if value['radiologyoptions'] == "22400007" %> value="22400007">3D-reconstruction</option>
            </select>
          </div>
        </div>
      <% end %>
    </td>
    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" id="">
      <div class="form-group" id="">
        <a id="investigationdeletebutton<%= key %>" class="btn btn-xs btn-primary btn-danger" href="javascript:;" name="investigationdeletebutton">
        <span class="glyphicon glyphicon-remove" id="">
        </span>
        </a>
        <input class="form-control" id="opdrecord_investigationlist_attributes_<%= key %>_investigationadviseddate" name="opdrecord[investigationlist_attributes][<%= key %>][investigationadviseddate]" type="hidden" value="<%= Date.current.strftime('%d/%m/%Y') %>">
        <input class="form-control" id="opdrecord_investigationlist_attributes_<%= key %>_investigationfullcode" name="opdrecord[investigationlist_attributes][<%= key %>][investigationfullcode]" type="hidden" value="<%= value['investigation_id'] %>###410594000###<%= value['loinc_code'] %>">
      </div>
    </td>
  </tr>
<% end %>