<% key = @row_count %>
<tr class="ophthalinvestigation">
  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" id="">
    <div class="rdio rdio-primary" id="">
      <input class="optional form-control investigationstage" id="opdrecord_ophthalinvestigationlist_attributes_<%= key %>_investigationstage_A" name="opdrecord[ophthalinvestigationlist_attributes][<%= key %>][investigationstage]" type="radio" checked="checked" value="A">
      <label for="opdrecord_ophthalinvestigationlist_attributes_<%= key %>_investigationstage_A" id="">Advised</label>
    </div>
    <div class="rdio rdio-primary" id="">
      <input class="optional form-control investigationstage" id="opdrecord_ophthalinvestigationlist_attributes_<%= key %>_investigationstage_P" name="opdrecord[ophthalinvestigationlist_attributes][<%= key %>][investigationstage]" type="radio" value="P">
      <label for="opdrecord_ophthalinvestigationlist_attributes_<%= key %>_investigationstage_P" id="">Performed</label>
    </div>
  </td>
  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" id="">
    <div class="form-group" id="">
      <div class="input-group mb15" id="">
        <input id="opdrecord_ophthalinvestigationlist_attributes_<%= key %>destroy" name="opdrecord[ophthalinvestigationlist_attributes][<%= key %>][_destroy]" type="hidden" value="0">
        <!-- Entered Details -->
        <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{key}][order_item_advised_id]", BSON::ObjectId.new().to_s %>
        <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{key}][entered_by_id]", @current_user.id %>
        <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{key}][entered_by]", @current_user.fullname  %>
        <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{key}][entered_at_facility_id]", @current_facility.id %>
        <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{key}][entered_at_facility]", @current_facility.name %>
        <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{key}][entered_datetime]", Time.current.strftime('%d/%m/%Y %I:%M %p') %>
        <!-- Advised Details -->
        <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{key}][advised_by_id]", @consultant.id, class: 'advised_by_id' %>
        <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{key}][advised_by]", @consultant.fullname, class: 'advised_by' %>
        <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{key}][advised_at_facility_id]", @current_facility.id, class: 'advised_at_facility_id' %>
        <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{key}][advised_at_facility]", @current_facility.name, class: 'advised_at_facility' %>
        <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{key}][advised_datetime]", Time.current.strftime('%d/%m/%Y %I:%M %p'), class: 'advised_datetime' %>
        <!-- Performed Details -->
        <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{key}][is_performed]", false, class: 'is_performed' %>
        <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{key}][performed_by_id]", "", class: "performed_by_id" %>
        <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{key}][performed_by]", "", class: "performed_by" %>
        <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{key}][performed_at_facility_id]", "", class: "performed_at_facility_id" %>
        <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{key}][performed_at_facility]", "", class: "performed_at_facility" %>
        <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{key}][performed_datetime]", "", class: "performed_datetime" %>
        <!--  -->
        <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{key}][investigation_type]", "CustomOphthalInvestigation" %>
        <input class="string optional form-control investigationname" id="opdrecord_ophthalinvestigationlist_attributes_<%= key %>_investigationname" name="opdrecord[ophthalinvestigationlist_attributes][<%= key %>][investigationname]" type="text" size="40" maxlength="40" value="<%= @custom_oph_inv.investigation_name %>">
        <input class="form-control ophthalinvestigation_id" id="opdrecord_ophthalinvestigationlist_attributes_<%= key %>_investigation_id" name="opdrecord[ophthalinvestigationlist_attributes][<%= key %>][investigation_id]" type="hidden" value="<%= @custom_oph_inv.investigation_id %>">
        <input class="form-control opdrecord_investigation_performed" id="opdrecord_ophthalinvestigationlist_attributes_<%= key %>_investigation_performed" name="opdrecord[ophthalinvestigationlist_attributes][<%= key %>][investigation_performed]" type="hidden" value=" ">
      </div>
    </div>
  </td>
  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" id="">
    <select class="form-control investigationside" id="opdrecord_ophthalinvestigationlist_attributes_<%= key %>_investigationside" name="opdrecord[ophthalinvestigationlist_attributes][<%= key %>][investigationside]">
      <option data-laterality="R" value="18944008" id="">R</option>
      <option data-laterality="L" value="8966001" id="">L</option>
      <option data-laterality="B/E" selected="selected" value="40638003" id="">B/E</option>
    </select>
  </td>
  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" id="">
    <div class="form-group" id="">
      <a id="ophthalinvestigationdeletebutton<%= key %>" class="btn btn-xs btn-primary btn-danger" href="javascript:;" name="ophthalinvestigationdeletebutton">
      <span class="glyphicon glyphicon-remove" id="">
      </span>
      </a>
      <input class="form-control" id="opdrecord_ophthalinvestigationlist_attributes_<%= key %>_investigationadviseddate" name="opdrecord[ophthalinvestigationlist_attributes][<%= key %>][investigationadviseddate]" type="hidden" value="<%= Date.current.strftime('%d/%m/%Y') %>">
      <input class="form-control" id="opdrecord_ophthalinvestigationlist_attributes_<%= key %>_investigationfullcode" name="opdrecord[ophthalinvestigationlist_attributes][<%= key %>][investigationfullcode]" type="hidden" value="<%= @custom_oph_inv.investigation_id %>">
    </div>
  </td>
</tr>