<% @show_language_support = current_facility.show_language_support %>
<% if @show_language_support %>
  <% if @medication_set.specialty_id == 309988001 %>
      <% @medication_kit_data.each do |i, medication_data| %>
          <tr class="treatmentmedications">
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="form-group">
                <div class="input-group mb15">
                  <div class="ui-widget">
                    <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
                    <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][pharmacy_item_id]", medication_data['pharmacy_item_id'], {:class => 'form-control pharmacy_item_id' } %>
                    <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][generic_display_name]", medication_data['generic_display_name'], {:class => 'form-control generic_display_name' } %>
                    <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][generic_display_ids]", medication_data['generic_display_ids'], {:class => 'form-control generic_display_ids' } %>
                    <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicine_from]", medication_data['medicine_from'], {:class => 'form-control medicine_from' } %>
                    <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinename]", medication_data['medicinename'], {:maxlength => 300, :size => 40, :class => 'form-control medicinename' } %>
                  </div>
                  <span id="medicinename-contents-<%= "#{i}" %>" class="btn btn-xs btn-success btn-square medicinename-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
                </div>
              </div>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="form-group">
                <div class="input-group mb15">
                  <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinetype]",  medication_data['medicinetype'], { :class => 'form-control medicinetype' } %>
                </div>
              </div>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="form-group">
                <div class="input-group mb15">
                  <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinequantity]", options_for_select(['1/4', '1/2', '1', '2', '3','4','5','6','7','8','9','10','11','12','13','14','15','20','25','30','35','40','45','50'], medication_data["medicinequantity"]), { :class => 'form-control medicinequantity' } %>
                </div>
              </div>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="form-group">
                <div class="input-group mb15">
                  <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinefrequency]", options_for_select([['Sel',''], ['1','1'],['2','2'],[ '3','3'], ['4','4'], ['5','5'], ['6','6'], ['8','8'], ['10','10'], ['12', '12'], ['18','18'], ['24','24'], ['SOS','SOS']], medication_data['medicinefrequency']), { :class => 'form-control medicinefrequency'} %>
                </div>
              </div>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="form-group">
                <div class="input-group mb15">
                  <div class="row">
                    <div class="col-md-4">
                      <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineduration]", options_for_select([['Sel',''],['1','1'], ['2','2'], ['3','3'], ['4','4'], ['5','5'], ['6','6'], ['7','7'], ['8','8'], ['9','9'], ['10','10'], ['11','11'], ['12','12'], ['15', '15'], ['20', '20'], ['25', '25'], ['30', '30'], ['40', '40'], ['50', '50']  ], medication_data['medicineduration']), { :class => 'form-control medicineduration'} %>
                    </div>
                    <div class="col-md-8">
                      <div class="col-md-12">
                        <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinedurationoption]", options_for_select([['Sel',''], ['Days', 'D'], ['Weeks', 'W'], ['Months', 'M'], ['Next followup', 'F']], medication_data['medicinedurationoption']), { :class => 'form-control medicinedurationoption'} %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;text-align:center;">
              <div class="form-group" style="margin-right:0px;">
                <% @taper_kit = TaperingKit.find_by(id: medication_data['taper_id']) %>
                <% if @taper_kit.present? %>
                  <% @new_taper_kit = @taper_kit.clone %>
                  <% @new_taper_kit.tapering_set.each_with_index do |tapering, _index| %>
                    <% taper_number_of_days =  @new_taper_kit.tapering_set[_index].number_of_days.to_i %>
                    <% if _index == 0 %>
                      <% @new_taper_kit.tapering_set[_index].start_date = Date.current.strftime("%d/%m/%Y") %>
                    <% else %>
                      <% @new_taper_kit.tapering_set[_index].start_date =  @new_taper_kit.tapering_set[_index - 1].end_date.advance(days: 1) %>
                    <% end %>
                    <% @new_taper_kit.tapering_set[_index].end_date = @new_taper_kit.tapering_set[_index].start_date.advance(days: taper_number_of_days) %>
                  <% end %>
                  <% @new_taper_kit.created_at = Time.current %>
                  <% @new_taper_kit.updated_at = Time.current %>
                  <% @new_taper_kit.save %>
                <% else %>
                  <% @new_taper_kit = nil %>
                <% end %>
                <div class="input-group mb15 link_medication">
                  <span class="btn btn-link btn-xs tapering_btn" style="display:inline;"><i class="fa fa-plus"></i> Add</span>
                  <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][taper_id]", @new_taper_kit.try(:id) || 0, {:class => 'form-control tapering_id' } %>
                </div>
              </div>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="form-group" style="width: 100%;">
                <div class="input-group mb15">
                  <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][eyeside]", options_for_select(['L', 'R', 'BE'],medication_data['eyeside']), {:prompt => 'Select', :class => 'form-control eyeside',:style => "padding: 10px 0px" } %>
                </div>
              </div>
            </td>
            <td class="medication_instruction_box" style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%if medication_data['medicineinstructions'].present?%>
                <div class="form-group edit_instruction_box">
                  <div class="input-group mb15">
                    <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineinstructions]", medication_data['medicineinstructions'], {:maxlength => 300, :size => 40, :class => 'form-control text_box_val', :style => "width: 86%" } %>
                    <button type="button" class="btn btn-link undo_button_edit fa fa-undo" style="width: 0%; margin-left: -4%;"></button>
                  </div>
                </div>
                <div class="form-group hide edit_instruction">
                  <div class="input-group mb15">
                    <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][instruction]", options_for_select(@medication_instruction_set,""), {:prompt => 'Please Select', :class => 'form-control instruction_dropdown_edit',:style => "padding: 10px 0px" } %>
                  </div>
                </div>
              <%elsif medication_data['instruction'].present?%>
                <div class="form-group edit-instruction">
                  <div class="input-group mb15">
                    <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][instruction]", options_for_select(@medication_instruction_set,medication_data['instruction']), {:prompt => 'Please Select', :class => 'form-control instruction_dropdown_magic',:style => "padding: 10px 0px" } %>
                  </div>
                </div>
                <div class="form-group hide instruction_box">
                  <div class="input-group mb15">
                    <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineinstructions]", nil, {:maxlength => 300, :size => 40, :class => 'form-control text_box_val', :style => "width: 86%" } %>
                    <button type="button" class="btn btn-link undo_button_magic fa fa-undo" style="width: 0%; margin-left: -4%;"></button>
                  </div>
                </div>
              <%else%>
                <div class="form-group instruction">
                  <div class="input-group mb15">
                    <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][instruction]", options_for_select(@medication_instruction_set,""), {:prompt => 'Please Select', :class => 'form-control instruction_dropdown',:style => "padding: 10px 0px" } %>
                  </div>
                </div>
                <div class="form-group instruction_box hide">
                  <div class="input-group mb15">
                    <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineinstructions]", nil, {:maxlength => 300, :size => 40, :class => 'form-control text_box_val', :style => "width: 86%" } %>
                    <button type="button" class="btn btn-link undo_button fa fa-undo" style="width: 0%; margin-left: -4%;"></button>
                  </div>
                </div>
              <%end%>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="form-group">
                <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
                <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger removemedicationbutton" href="javascript:;" name="removemedicationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
              </div>
            </td>
          </tr>
      <% end %>
      <script type="text/javascript">
        _add_button_at_last()
        taper_form();
      </script>
  <% else %>
      <% @medication_kit_data.each do |i, medication_data| %>
          <tr class="treatmentmedications">
            <td style="text-align:center;">
              <div class="form-group">
                <div class="input-group mb15">
                  <div class="ui-widget">
                    <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
                    <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][pharmacy_item_id]", medication_data['pharmacy_item_id'], {:class => 'form-control pharmacy_item_id' } %>
                    <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][generic_display_name]", medication_data['generic_display_name'], {:class => 'form-control generic_display_name' } %>
                    <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][generic_display_ids]", medication_data['generic_display_ids'], {:class => 'form-control generic_display_ids' } %>
                    <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicine_from]", medication_data['medicine_from'], {:class => 'form-control medicine_from' } %>
                    <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinename]", medication_data['medicinename'], {:maxlength => 300, :size => 40, :class => 'form-control medicinename' } %>
                  </div>
                  <span id="medicinename-contents-<%= "#{i}" %>" class="btn btn-xs btn-success btn-square medicinename-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
                </div>
              </div>
            </td>
            <td style="text-align:center;">
              <div class="form-group">
                <div class="input-group mb15">
                  <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinetype]",  medication_data['medicinetype'], { :class => 'form-control medicinetype' } %>
                </div>
              </div>
            </td>
            <td style="text-align:center;">
              <div class="form-group">
                <div class="input-group mb15">
                  <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinefrequency]", options_for_select([['Select', ''], '1-1-1', '1-1-0', '1-0-1', '0-1-1', '1-0-0', '0-1-0', '0-0-1','2-2-2','2-0-2', '1-1-1-1','once a week','once a month', '5 times a day', '6 times a day', '8 times a day', '10 times a day', '12 times a day', '24 times a day','Sat-Sun', 'SOS'], medication_data['medicinefrequency']), { :class => 'form-control medicinefrequency'} %>
                </div>
              </div>
            </td>
            <td style="text-align:center;">
              <div class="form-group">
                <div class="input-group mb15">
                  <div class="row">
                    <div class="col-md-4">
                      <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineduration]", options_for_select([['Sel',''],['1','1'], ['2','2'], ['3','3'], ['4','4'], ['5','5'], ['6','6'], ['7','7'], ['8','8'], ['9','9'], ['10','10'], ['11','11'], ['12','12'], ['15', '15'], ['20', '20'], ['25', '25'], ['30', '30'], ['40', '40'], ['50', '50']  ], medication_data['medicineduration']), { :class => 'form-control medicineduration'} %>
                    </div>
                    <div class="col-md-8">
                      <div class="col-md-12">
                        <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinedurationoption]", options_for_select([['Sel',''], ['Days', 'D'], ['Weeks', 'W'], ['Months', 'M'], ['Next followup', 'F']], medication_data['medicinedurationoption']), { :class => 'form-control medicinedurationoption'} %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="medication_instruction_box" style="text-align:center;">
              <%if medication_data['medicineinstructions'].present?%>
                <div class="form-group edit_instruction_box">
                  <div class="input-group mb15">
                    <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineinstructions]", medication_data['medicineinstructions'], {:maxlength => 300, :size => 40, :class => 'form-control text_box_val', :style => "width: 86%" } %>
                    <button type="button" class="btn btn-link undo_button_edit fa fa-undo" style="width: 0%; margin-left: -4%;"></button>
                  </div>
                </div>
                <div class="form-group hide edit_instruction">
                  <div class="input-group mb15">
                    <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][instruction]", options_for_select(@medication_instruction_set,""), {:prompt => 'Please Select', :class => 'form-control instruction_dropdown_edit',:style => "padding: 10px 0px" } %>
                  </div>
                </div>
              <%elsif medication_data['instruction'].present?%>
                <div class="form-group edit-instruction">
                  <div class="input-group mb15">
                    <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][instruction]", options_for_select(@medication_instruction_set,medication_data['instruction']), {:prompt => 'Please Select', :class => 'form-control instruction_dropdown_magic',:style => "padding: 10px 0px" } %>
                  </div>
                </div>
                <div class="form-group hide instruction_box">
                  <div class="input-group mb15">
                    <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineinstructions]", nil, {:maxlength => 300, :size => 40, :class => 'form-control text_box_val', :style => "width: 86%" } %>
                    <button type="button" class="btn btn-link undo_button_magic fa fa-undo" style="width: 0%; margin-left: -4%;"></button>
                  </div>
                </div>
              <%else%>
                <div class="form-group instruction">
                  <div class="input-group mb15">
                    <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][instruction]", options_for_select(@medication_instruction_set,""), {:prompt => 'Please Select', :class => 'form-control instruction_dropdown',:style => "padding: 10px 0px" } %>
                  </div>
                </div>
                <div class="form-group instruction_box hide">
                  <div class="input-group mb15">
                    <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineinstructions]", nil, {:maxlength => 300, :size => 40, :class => 'form-control text_box_val', :style => "width: 86%" } %>
                    <button type="button" class="btn btn-link undo_button fa fa-undo" style="width: 0%; margin-left: -4%;"></button>
                  </div>
                </div>
              <%end%>
            </td>
            <td style="text-align:center;">
              <div class="form-group">
                <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
                <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger removemedicationbutton" href="javascript:;" name="removemedicationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
              </div>
            </td>
          </tr>
      <% end %>
      <script type="text/javascript">
        _add_button_at_last()
        //      taper_form();
      </script>
  <% end %>
<%else%>
  <% if @medication_set.specialty_id == 309988001 %>
      <% @medication_kit_data.each do |i, medication_data| %>
          <tr class="treatmentmedications">
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="form-group">
                <div class="input-group mb15">
                  <div class="ui-widget">
                    <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
                    <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][pharmacy_item_id]", medication_data['pharmacy_item_id'], {:class => 'form-control pharmacy_item_id' } %>
                    <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][generic_display_name]", medication_data['generic_display_name'], {:class => 'form-control generic_display_name' } %>
                    <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][generic_display_ids]", medication_data['generic_display_ids'], {:class => 'form-control generic_display_ids' } %>
                    <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicine_from]", medication_data['medicine_from'], {:class => 'form-control medicine_from' } %>
                    <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinename]", medication_data['medicinename'], {:maxlength => 300, :size => 40, :class => 'form-control medicinename' } %>
                  </div>
                  <span id="medicinename-contents-<%= "#{i}" %>" class="btn btn-xs btn-success btn-square medicinename-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
                </div>
              </div>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="form-group">
                <div class="input-group mb15">
                  <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinetype]",  medication_data['medicinetype'], { :class => 'form-control medicinetype' } %>
                </div>
              </div>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="form-group">
                <div class="input-group mb15">
                  <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinequantity]", options_for_select(['1/4', '1/2', '1', '2', '3','4','5','6','7','8','9','10','11','12','13','14','15','20','25','30','35','40','45','50'], medication_data["medicinequantity"]), { :class => 'form-control medicinequantity' } %>
                </div>
              </div>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="form-group">
                <div class="input-group mb15">
                  <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinefrequency]", options_for_select([['Sel',''], ['1','1'],['2','2'],[ '3','3'], ['4','4'], ['5','5'], ['6','6'], ['8','8'], ['10','10'], ['12', '12'], ['18','18'], ['24','24'], ['SOS','SOS']], medication_data['medicinefrequency']), { :class => 'form-control medicinefrequency'} %>
                </div>
              </div>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="form-group">
                <div class="input-group mb15">
                  <div class="row">
                    <div class="col-md-4">
                      <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineduration]", options_for_select([['Sel',''],['1','1'], ['2','2'], ['3','3'], ['4','4'], ['5','5'], ['6','6'], ['7','7'], ['8','8'], ['9','9'], ['10','10'], ['11','11'], ['12','12'], ['15', '15'], ['20', '20'], ['25', '25'], ['30', '30'], ['40', '40'], ['50', '50']  ], medication_data['medicineduration']), { :class => 'form-control medicineduration'} %>
                    </div>
                    <div class="col-md-8">
                      <div class="col-md-12">
                        <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinedurationoption]", options_for_select([['Sel',''], ['Days', 'D'], ['Weeks', 'W'], ['Months', 'M'], ['Next followup', 'F']], medication_data['medicinedurationoption']), { :class => 'form-control medicinedurationoption'} %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;text-align: center;">
              <div class="form-group" style="margin-right:0px;">
                <% @taper_kit = TaperingKit.find_by(id: medication_data['taper_id']) %>
                <% if @taper_kit.present? %>
                  <% @new_taper_kit = @taper_kit.clone %>
                  <% @new_taper_kit.tapering_set.each_with_index do |tapering, _index| %>
                    <% taper_number_of_days =  @new_taper_kit.tapering_set[_index].number_of_days.to_i %>
                    <% if _index == 0 %>
                      <% @new_taper_kit.tapering_set[_index].start_date = Date.current.strftime("%d/%m/%Y") %>
                    <% else %>
                      <% @new_taper_kit.tapering_set[_index].start_date =  @new_taper_kit.tapering_set[_index - 1].end_date.advance(days: 1) %>
                    <% end %>
                    <% @new_taper_kit.tapering_set[_index].end_date = @new_taper_kit.tapering_set[_index].start_date.advance(days: taper_number_of_days) %>
                  <% end %>
                  <% @new_taper_kit.created_at = Time.current %>
                  <% @new_taper_kit.updated_at = Time.current %>
                  <% @new_taper_kit.save %>
                <% else %>
                  <% @new_taper_kit = nil %>
                <% end %>
                <div class="input-group mb15 link_medication">
                  <span class="btn btn-link btn-xs tapering_btn" style="display:inline;"><i class="fa fa-plus"></i> Add</span>
                  <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][taper_id]", @new_taper_kit.try(:id) || 0, {:class => 'form-control tapering_id' } %>
                </div>
              </div>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="form-group" style="width: 100%;">
                <div class="input-group mb15">
                  <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][eyeside]", options_for_select(['L', 'R', 'BE'],medication_data['eyeside']), {:prompt => 'Select', :class => 'form-control eyeside',:style => "padding: 10px 0px" } %>
                </div>
              </div>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="form-group">
                <div class="input-group mb15">
                  <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineinstructions]", medication_data['medicineinstructions'], {:maxlength => 300, :size => 40, :class => 'form-control' } %>
                </div>
              </div>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="form-group">
                <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
                <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger removemedicationbutton" href="javascript:;" name="removemedicationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
              </div>
            </td>
          </tr>
      <% end %>
      <script type="text/javascript">
        _add_button_at_last()
        taper_form();
      </script>
  <% else %>
      <% @medication_kit_data.each do |i, medication_data| %>
          <tr class="treatmentmedications">
            <td style="text-align:center;">
              <div class="form-group">
                <div class="input-group mb15">
                  <div class="ui-widget">
                    <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
                    <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][pharmacy_item_id]", medication_data['pharmacy_item_id'], {:class => 'form-control pharmacy_item_id' } %>
                    <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][generic_display_name]", medication_data['generic_display_name'], {:class => 'form-control generic_display_name' } %>
                    <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][generic_display_ids]", medication_data['generic_display_ids'], {:class => 'form-control generic_display_ids' } %>
                    <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicine_from]", medication_data['medicine_from'], {:class => 'form-control medicine_from' } %>
                    <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinename]", medication_data['medicinename'], {:maxlength => 300, :size => 40, :class => 'form-control medicinename' } %>
                  </div>
                  <span id="medicinename-contents-<%= "#{i}" %>" class="btn btn-xs btn-success btn-square medicinename-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
                </div>
              </div>
            </td>
            <td style="text-align:center;">
              <div class="form-group">
                <div class="input-group mb15">
                  <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinetype]",  medication_data['medicinetype'], { :class => 'form-control medicinetype' } %>
                </div>
              </div>
            </td>
            <td style="text-align:center;">
              <div class="form-group">
                <div class="input-group mb15">
                  <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinefrequency]", options_for_select([['Select', ''], '1-1-1', '1-1-0', '1-0-1', '0-1-1', '1-0-0', '0-1-0', '0-0-1','2-2-2','2-0-2', '1-1-1-1','once a week','once a month', '5 times a day', '6 times a day', '8 times a day', '10 times a day', '12 times a day', '24 times a day','Sat-Sun', 'SOS'], medication_data['medicinefrequency']), { :class => 'form-control medicinefrequency'} %>
                </div>
              </div>
            </td>
            <td style="text-align:center;">
              <div class="form-group">
                <div class="input-group mb15">
                  <div class="row">
                    <div class="col-md-4">
                      <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineduration]", options_for_select([['Sel',''],['1','1'], ['2','2'], ['3','3'], ['4','4'], ['5','5'], ['6','6'], ['7','7'], ['8','8'], ['9','9'], ['10','10'], ['11','11'], ['12','12'], ['15', '15'], ['20', '20'], ['25', '25'], ['30', '30'], ['40', '40'], ['50', '50']  ], medication_data['medicineduration']), { :class => 'form-control medicineduration'} %>
                    </div>
                    <div class="col-md-8">
                      <div class="col-md-12">
                        <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinedurationoption]", options_for_select([['Sel',''], ['Days', 'D'], ['Weeks', 'W'], ['Months', 'M'], ['Next followup', 'F']], medication_data['medicinedurationoption']), { :class => 'form-control medicinedurationoption'} %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td style="text-align:center;">
              <div class="form-group">
                <div class="input-group mb15">
                  <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineinstructions]", medication_data['medicineinstructions'], {:maxlength => 300, :size => 40, :class => 'form-control' } %>
                </div>
              </div>
            </td>
            <td style="text-align:center;">
              <div class="form-group">
                <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
                <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger removemedicationbutton" href="javascript:;" name="removemedicationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
              </div>
            </td>
          </tr>
      <% end %>
      <script type="text/javascript">
        _add_button_at_last()
        //      taper_form();
      </script>
  <% end %>
<% end %>
<%= javascript_include_tag "autocomplete/medicine" %>

<style type="text/css">
  .hide{
    display: none;
  }
</style>

<script type="text/javascript">

  function button_disable_enable() {
    if($('.medication_set_body tr').length === 1){
      $('.removemedicationbutton').attr("disabled", true)
    } else{
      $('.removemedicationbutton').attr("disabled", false)
    }
  }
  button_disable_enable()

  $('.removemedicationbutton').on('click', function(e) {
    e.preventDefault();
    if($('.medication_set_body tr').length == 1){
      $('.removemedicationbutton').attr("disabled", true)
    } else{
      $('.removemedicationbutton').attr("disabled", false)
    }
  });

  var med_row = $(".treatmentmedications")
  for (var i = med_row.length - 1; i >= 0; i--) {
    // console.log($(med_row[i]).find(".link_medication").find(".tapering_id").val())
    if($(med_row[i]).find(".link_medication").find(".tapering_id").val() != 0){
      $(med_row[i]).find(".link_medication").find(".tapering_btn").html("")
      $(med_row[i]).find(".link_medication").find(".tapering_btn").html("<i class='fa fa-edit'></i>")
      $(med_row[i]).find(".link_medication").find(".btn_taper_remove").remove()
      $(med_row[i]).find(".link_medication").append("<span class='btn btn-link btn-xs btn_taper_remove' style='margin-left:-10px;'><i class='fa fa-trash-alt'></i></span>")
    }

    $(".btn_taper_remove").on('click', function(){
      $(this).closest(".link_medication").find(".tapering_id").val(0)
      $(this).closest(".link_medication").find(".tapering_btn").html("")
      $(this).closest(".link_medication").find(".tapering_btn").html("<i class='fa fa-plus'></i> Add")
      $(this).remove()
    })
  }

  $(".instruction_dropdown_edit").on("change",function(){
    var id = $(this).attr("id")
    if ($("#"+id).val() == "Add a text Box"){
      $("#"+id).parent(".input-group").parent(".edit_instruction").prev(".edit_instruction_box").removeClass('hide').removeAttr("disabled","disabled");
      $("#"+id).parent(".input-group").parent(".edit_instruction").addClass("hide").attr("disabled","disabled")
      $("#"+id).val("")
    }
  })

  $(".undo_button_edit").on("click",function(e){
    e.preventDefault();
    $(this).parent(".input-group").parent('.edit_instruction_box').children(".input-group").children(".text_box_val").val("")
    $(this).parent(".input-group").parent('.edit_instruction_box').next(".edit_instruction").removeClass("hide");
    $(this).parent(".input-group").parent('.edit_instruction_box').addClass("hide")
  })

  $(".instruction_dropdown_magic").on("change",function(){
    var id = $(this).attr("id")
    if ($("#"+id).val() == "Add a text Box"){
      $("#"+id).parent(".input-group").parent(".edit-instruction").next(".instruction_box").removeClass('hide').removeAttr("disabled","disabled");
      $("#"+id).parent(".input-group").parent(".edit-instruction").hide().attr("disabled","disabled")
      $("#"+id).val("")
    }
  })

  $(".undo_button_magic").on("click",function(e){
    e.preventDefault();
    $(this).parent(".input-group").parent('.instruction_box').parent('.medication_instruction_box').children('.edit-instruction').show().removeAttr("disabled","disabled");
    $(this).parent(".input-group").parent('.instruction_box').children(".input-group").children(".text_box_val").val("")
    $(this).parent(".input-group").parent('.instruction_box').addClass("hide").attr("disabled","disabled");
  })

  $(".instruction_dropdown").on("change",function(){
    var id = $(this).attr("id")
    if ($("#"+id).val() == "Add a text Box"){
      $("#"+id).parent(".input-group").parent(".instruction").next(".instruction_box").removeClass('hide').removeAttr("disabled","disabled");
      $(this).parent(".input-group").parent(".instruction").hide().attr("disabled","disabled");
      $("#"+id).val("")
    }
  })

  $(".undo_button").on("click",function(e){
    e.preventDefault();
    $(this).parent(".input-group").parent('.instruction_box').parent('.medication_instruction_box').children('.instruction').show().removeAttr("disabled","disabled");
    $(this).parent(".input-group").parent('.instruction_box').children(".input-group").children(".text_box_val").val("")
    $(this).parent(".input-group").parent('.instruction_box').addClass("hide").attr("disabled","disabled");
  })

  $('.medicinename').keyup(function() {
      var medicine = []
      console.log("========================3")
      var inputs = $(".medicinename")
      var rowCount = $('.medication_set_body tr').length
      for(var i = 0; i < rowCount - 1; i++) {
        medicine.push($(inputs[i]).val());
      }
      if (medicine.filter(Boolean).length > 0) {
        $('#inpatient_ipd_record_view_pharmacy_store_id').prop('disabled', true)
      } else {
        $('#inpatient_ipd_record_view_pharmacy_store_id').prop('disabled', false)
      }
      update_store_details()
    })

  $('.removemedicationbutton').on('click', function(e) {
    e.preventDefault();
    var name = $(this).closest('.treatmentmedications').find('.medicinename').val();
    var medicine = []
    var inputs = $(".medicinename")
    var rowCount = $('.medication_set_body tr').length
    for(var i = 0; i < rowCount - 1; i++) {
      medicine.push($(inputs[i]).val());
      medicine = medicine.filter(e => e !== name)
    }
    if (medicine.filter(Boolean).length > 0) {
      $('#inpatient_ipd_record_view_pharmacy_store_id').prop('disabled', true)
    } else {
      $('#inpatient_ipd_record_view_pharmacy_store_id').prop('disabled', false)
    }
    update_store_details()
  })

  $('#inpatient_ipd_record_medicationsets').on('click', function(e) {
    e.preventDefault();
    $('#inpatient_ipd_record_view_pharmacy_store_id').prop('disabled', true)
    update_store_details()
  })

  function update_store_details(){
    if ($('#store_array_size').val() == '1'){
      var store = single_store_details()
    } else {
      var store = mutiple_store_details()
    }
    if (medicinename_length() == false) {
      store = ['', '']
    }
    $(".inpatient_ipd_record_store_id").val(store[1])
    $(".inpatient_ipd_record_store_name").val(store[0])
  }

  function single_store_details(){
    if ($('#is_disable_store').val() == 'true'){
      condition = medicinename_readonly_length()
    } else {
      condition = $('.ipd-stores').css('display') != 'none'
    } 
    if (condition == true){
      store_name = $('.single-store-name span').html()
      store_id = $("#inpatient_ipd_record_view_pharmacy_store_id").val()
    } else {
      store_id = ''
      store_name = ''
    }
    return [store_name, store_id]
  }

  function mutiple_store_details() {
    if ($('.ipd-stores').css('display') != 'none'){
      store_id = $("#inpatient_ipd_record_view_pharmacy_store_id").val()
      store_name = $("#inpatient_ipd_record_view_pharmacy_store_id option:selected").text()
    } else {
      store_id = ''
      store_name = ''
    }
    return [store_name, store_id]
  }

</script>