<% @show_language_support = current_facility.show_language_support %>
<% if @show_language_support %>
  <% if @specialty.to_i == 309988001 %>
    <% @medication_kit_data.each do |i, medication_data| %>
      <tr class="treatmentmedications">
        <td style="text-align:center;" class="col-md-2">
          <div class="form-group">
            <div class="input-group mb15">
              <div class="ui-widget">
                <%= hidden_field_tag "opdrecord[treatmentmedication_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
                <%= hidden_field_tag "opdrecord[treatmentmedication_attributes][#{i}][pharmacy_item_id]", medication_data['pharmacy_item_id'], {:class => 'form-control pharmacy_item_id' } %>
                <%= hidden_field_tag "opdrecord[treatmentmedication_attributes][#{i}][generic_display_name]", medication_data['generic_display_name'], {:class => 'form-control generic_display_name' } %>
                <%= hidden_field_tag "opdrecord[treatmentmedication_attributes][#{i}][generic_display_ids]", medication_data['generic_display_ids'], {:class => 'form-control generic_display_ids' } %>
                <%= hidden_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicine_from]", medication_data['medicine_from'], {:class => 'form-control medicine_from' } %>
                <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinename]", medication_data['medicinename'], {:maxlength => 300, :size => 40, :class => 'form-control medicinename',:style => 'width:100%'} %>
              </div>
              <span id="medicinename-contents-<%= "#{i}" %>" class="btn btn-xs btn-success btn-square medicinename-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
            </div>
          </div>
        </td>
        <td style="text-align:center;" class="col-md-1">
          <div class="form-group">
            <div class="input-group mb15">
              <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinetype]",  medication_data['medicinetype'], { :class => 'form-control medicinetype' } %>
            </div>
          </div>
        </td>
        <td style="text-align:center;" class="col-md-1">
          <div class="form-group">
            <div class="input-group mb15">
              <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinequantity]", options_for_select(['1/4', '1/2', '1', '2', '3','4','5','6','7','8','9','10','11','12','13','14','15','20','25','30','35','40','45','50'], medication_data["medicinequantity"]), { :class => 'form-control medicinequantity' } %>
            </div>
          </div>
        </td>
        <td style="text-align:center;" class="col-md-1">
          <div class="form-group">
            <div class="input-group mb15">
              <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinefrequency]", options_for_select([['Sel',''], ['1','1'],['2','2'],[ '3','3'], ['4','4'], ['5','5'], ['6','6'], ['8','8'], ['10','10'], ['12', '12'], ['18','18'], ['24','24'], ['SOS','SOS']], medication_data['medicinefrequency']), { :class => 'form-control medicinefrequency'} %>
            </div>
          </div>
        </td>
        <td style="text-align:center;" class="col-md-2">
          <div class="form-group">
            <div class="input-group mb15">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][medicineduration]", options_for_select([['Sel',''],['1','1'], ['2','2'], ['3','3'], ['4','4'], ['5','5'], ['6','6'], ['7','7'], ['8','8'], ['9','9'], ['10','10'], ['11','11'], ['12','12'], ['15', '15'], ['20', '20'], ['25', '25'], ['30', '30'], ['40', '40'], ['50', '50']  ], medication_data['medicineduration']), { :class => 'form-control medicineduration', :style => 'width:100%;padding-left:0px;padding-right:0px;'} %>
                </div>
                <div class="col-md-6 col-sm-6">
                  <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinedurationoption]", options_for_select([['Sel',''], ['Days', 'D'], ['Weeks', 'W'], ['Months', 'M'], ['Next followup', 'F']], medication_data['medicinedurationoption']), { :class => 'form-control medicinedurationoption', :style => 'width:100%;padding-left:0px;padding-right:0px;'} %>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td style="text-align:center;" class="col-md-1">
          <div class="form-group" style="margin-right:0px;">
            <% @taper_kit = TaperingKit.find_by(id: medication_data['taper_id']) %>
            <% if @taper_kit.present? %>
              <% @new_taper_kit = @taper_kit.clone %>
              <% @new_taper_kit.tapering_set.each_with_index do |tapering, _index| %>
                <% taper_number_of_days =  @new_taper_kit.tapering_set[_index].number_of_days.to_i %>
                <% if _index == 0 %>
                  <% @new_taper_kit.tapering_set[_index].start_date = Date.current.strftime("%d/%m/%Y") %>
                <% else %>
                  <% @new_taper_kit.tapering_set[_index].start_date =  @new_taper_kit.tapering_set[_index - 1].end_date.advance(days: 1) %>
                <% end %>
                <% @new_taper_kit.tapering_set[_index].end_date = @new_taper_kit.tapering_set[_index].start_date.advance(days: taper_number_of_days) %>
              <% end %>
              <% @new_taper_kit.created_at = Time.current %>
              <% @new_taper_kit.updated_at = Time.current %>
              <% @new_taper_kit.save %>
            <% else %>
              <% @new_taper_kit = nil %>
            <% end %>
            <div class="input-group mb15 link_medication">
              <span class="btn btn-link btn-xs tapering_btn" style="display:inline;"><i class="fa fa-plus"></i> Add</span>
              <%= hidden_field_tag "opdrecord[treatmentmedication_attributes][#{i}][taper_id]", @new_taper_kit.try(:id) || 0, {:class => 'form-control tapering_id' } %>
            </div>
          </div>
        </td>
        <td style="text-align:center;" class="col-md-1">
          <div class="form-group" style="width: 100%;">
            <div class="input-group mb15">
              <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][eyeside]", options_for_select(['L', 'R', 'BE'],medication_data['eyeside']), {:prompt => 'Select', :class => 'form-control eyeside',:style => "padding: 10px 0px" } %>
            </div>
          </div>
        </td>
        <td class="medication_instruction_box" style="text-align:center;" class="col-md-2">
          <%if medication_data['medicineinstructions'].present?%>
            <div class="form-group edit_instruction_box">
              <div class="input-group mb15">
                <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicineinstructions]", medication_data['medicineinstructions'], {:maxlength => 300, :size => 40, :class => 'form-control text_box_val', :style => "width: 86%" } %>
                <button type="button" class="btn btn-link undo_button_edit fa fa-undo" style="width: 0%; margin-left: -11%;"></button>
              </div>
            </div>
            <div class="form-group hide edit_instruction">
              <div class="input-group mb15">
                <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][instruction]", options_for_select(@medication_instruction_set,""), {:prompt => 'Please Select', :class => 'form-control instruction_dropdown',:style => "padding: 10px 0px" } %>
              </div>
            </div>
          <%elsif medication_data['instruction'].present?%>
            <div class="form-group edit-instruction">
              <div class="input-group mb15">
                <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][instruction]", options_for_select(@medication_instruction_set,medication_data['instruction']), {:prompt => 'Please Select', :class => 'form-control instruction_dropdown',:style => "padding: 10px 0px" } %>
              </div>
            </div>
            <div class="form-group hide instruction_box">
              <div class="input-group mb15">
                <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicineinstructions]", nil, {:maxlength => 300, :size => 40, :class => 'form-control text_box_val', :style => "width: 86%" } %>
                <button type="button" class="btn btn-link undo_button fa fa-undo" style="width: 0%; margin-left: -11%;"></button>
              </div>
            </div>
          <%else%>
            <div class="form-group instruction">
              <div class="input-group mb15">
                <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][instruction]", options_for_select(@medication_instruction_set,""), {:prompt => 'Please Select', :class => 'form-control instruction_dropdown',:style => "padding: 10px 0px" } %>
              </div>
            </div>
            <div class="form-group instruction_box hide">
              <div class="input-group mb15">
                <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicineinstructions]", nil, {:maxlength => 300, :size => 40, :class => 'form-control text_box_val', :style => "width: 86%" } %>
                <button type="button" class="btn btn-link undo_button fa fa-undo" style="width: 0%; margin-left: -11%;"></button>
              </div>
            </div>
          <%end%>
        </td>
        <td style="text-align:center;" class="col-md-1">
          <div class="form-group">
            <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square add-new-btn" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
            <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger removemedicationbutton" href="javascript:;" name="removemedicationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
          </div>
        </td>
      </tr>
    <% end %>
    <script type="text/javascript">
      taper_form();
    </script>
  <% else %>
    <% @medication_kit_data.each do |i, medication_data| %>
      <tr class="treatmentmedications">
        <td class="col-md-2" style="text-align:center;">
          <div class="form-group">
            <div class="input-group mb15">
              <div class="ui-widget">
                <%= hidden_field_tag "opdrecord[treatmentmedication_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
                <%= hidden_field_tag "opdrecord[treatmentmedication_attributes][#{i}][pharmacy_item_id]", medication_data['pharmacy_item_id'], {:class => 'form-control pharmacy_item_id' } %>
                <%= hidden_field_tag "opdrecord[treatmentmedication_attributes][#{i}][generic_display_name]", medication_data['generic_display_name'], {:class => 'form-control generic_display_name' } %>
                <%= hidden_field_tag "opdrecord[treatmentmedication_attributes][#{i}][generic_display_ids]", medication_data['generic_display_ids'], {:class => 'form-control generic_display_ids' } %>
                <%= hidden_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicine_from]", medication_data['medicine_from'], {:class => 'form-control medicine_from' } %>
                <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinename]", medication_data['medicinename'], {:maxlength => 300, :size => 40, :class => 'form-control medicinename' } %>
              </div>
              <span id="medicinename-contents-<%= "#{i}" %>" class="btn btn-xs btn-success btn-square medicinename-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
            </div>
          </div>
        </td>
        <td class="col-md-1" style="text-align:center;">
          <div class="form-group">
            <div class="input-group mb15">
              <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinetype]",  medication_data['medicinetype'], { :class => 'form-control medicinetype' } %>
            </div>
          </div>
        </td>
        <td class="col-md-1" style="text-align:center;">
          <div class="form-group">
            <div class="input-group mb15">
              <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinequantity]", options_for_select(['1/4', '1/2', '1', '2', '3','4','5','6','7','8','9','10','11','12','13','14','15','20','25','30','35','40','45','50'], medication_data['medicinequantity']), { :class => 'form-control medicinequantity' } %>
            </div>
          </div>
        </td>
        <td class="col-md-1" style="text-align:center;">
          <div class="form-group">
            <div class="input-group mb15">
              <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinefrequency]", options_for_select([['Select', ''], '1-1-1', '1-1-0', '1-0-1', '0-1-1', '1-0-0', '0-1-0', '0-0-1','2-2-2','2-0-2', '1-1-1-1','once a week','once a month', '5 times a day', '6 times a day', '8 times a day', '10 times a day', '12 times a day', '24 times a day','Sat-Sun', 'SOS'], medication_data['medicinefrequency']), { :class => 'form-control medicinefrequency'} %>
            </div>
          </div>
        </td>
        <td class="col-md-2" style="text-align:center;">
          <div class="form-group">
            <div class="input-group mb15">
              <div class="row">
                <div class="col-md-4 col-sm-4">
                  <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][medicineduration]", options_for_select([['Sel',''],['1','1'], ['2','2'], ['3','3'], ['4','4'], ['5','5'], ['6','6'], ['7','7'], ['8','8'], ['9','9'], ['10','10'], ['11','11'], ['12','12'], ['15', '15'], ['20', '20'], ['25', '25'], ['30', '30'], ['40', '40'], ['50', '50']  ], medication_data['medicineduration']), { :class => 'form-control medicineduration'} %>
                </div>
                <div class="col-md-8 col-sm-8">
                  <div class="col-md-12 col-sm-12">
                    <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinedurationoption]", options_for_select([['Sel',''], ['Days', 'D'], ['Weeks', 'W'], ['Months', 'M'], ['Next followup', 'F']], medication_data['medicinedurationoption']), { :class => 'form-control medicinedurationoption'} %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td class="col-md-2 medication_instruction_box" style="text-align:center;">
          <%if medication_data['medicineinstructions'].present?%>
            <div class="form-group edit_instruction_box">
              <div class="input-group mb15">
                <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicineinstructions]", medication_data['medicineinstructions'], {:maxlength => 300, :size => 40, :class => 'form-control text_box_val', :style => "width: 86%" } %>
                <button type="button" class="btn btn-link undo_button_edit fa fa-undo" style="width: 0%; margin-left: -11%;"></button>
              </div>
            </div>
            <div class="form-group hide edit_instruction">
              <div class="input-group mb15">
                <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][instruction]", options_for_select(@medication_instruction_set,""), {:prompt => 'Please Select', :class => 'form-control instruction_dropdown',:style => "padding: 10px 0px" } %>
              </div>
            </div>
          <%elsif medication_data['instruction'].present?%>
            <div class="form-group edit-instruction">
              <div class="input-group mb15">
                <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][instruction]", options_for_select(@medication_instruction_set,medication_data['instruction']), {:prompt => 'Please Select', :class => 'form-control instruction_dropdown',:style => "padding: 10px 0px" } %>
              </div>
            </div>
            <div class="form-group hide instruction_box">
              <div class="input-group mb15">
                <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicineinstructions]", nil, {:maxlength => 300, :size => 40, :class => 'form-control text_box_val', :style => "width: 86%" } %>
                <button type="button" class="btn btn-link undo_button fa fa-undo" style="width: 0%; margin-left: -11%;"></button>
              </div>
            </div>
          <%else%>
            <div class="form-group instruction">
              <div class="input-group mb15">
                <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][instruction]", options_for_select(@medication_instruction_set,""), {:prompt => 'Please Select', :class => 'form-control instruction_dropdown',:style => "padding: 10px 0px" } %>
              </div>
            </div>
            <div class="form-group instruction_box hide">
              <div class="input-group mb15">
                <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicineinstructions]", nil, {:maxlength => 300, :size => 40, :class => 'form-control text_box_val', :style => "width: 86%" } %>
                <button type="button" class="btn btn-link undo_button fa fa-undo" style="width: 0%; margin-left: -11%;"></button>
              </div>
            </div>
          <%end%>
        </td>
        <td class="col-md-1" style="text-align:center;">
          <div class="form-group">
            <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square add-new-btn" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
            <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger removemedicationbutton" href="javascript:;" name="removemedicationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
          </div>
        </td>
      </tr>
    <% end %>
  <% end %>
<% else %>
  <% if @specialty.to_i == 309988001 %>
      <% @medication_kit_data.each do |i, medication_data| %>
          <tr class="treatmentmedications">
            <td style="text-align: center;" class="col-md-2">
              <div class="form-group">
                <div class="input-group mb15">
                  <div class="ui-widget">
                    <%= hidden_field_tag "opdrecord[treatmentmedication_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
                    <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinename]", medication_data['medicinename'], {:maxlength => 300, :size => 40, :class => 'form-control medicinename',:style => 'width:100%' } %>
                  </div>
                  <span id="medicinename-contents-<%= "#{i}" %>" class="btn btn-xs btn-success btn-square medicinename-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
                </div>
              </div>
            </td>
            <td style="text-align: center;" class="col-md-1">
              <div class="form-group">
                <div class="input-group mb15">
                  <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinetype]",  medication_data['medicinetype'], { :class => 'form-control medicinetype' } %>
                </div>
              </div>
            </td>
            <td style="text-align: center;" class="col-md-1">
              <div class="form-group">
                <div class="input-group mb15">
                  <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinequantity]", options_for_select(['1/4', '1/2', '1', '2', '3','4','5','6','7','8','9','10','11','12','13','14','15','20','25','30','35','40','45','50'], medication_data["medicinequantity"]), { :class => 'form-control medicinequantity' } %>
                </div>
              </div>
            </td>
            <td style="text-align: center;" class="col-md-1">
              <div class="form-group">
                <div class="input-group mb15">
                  <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinefrequency]", options_for_select([['Sel',''], ['1','1'],['2','2'],[ '3','3'], ['4','4'], ['5','5'], ['6','6'], ['8','8'], ['10','10'], ['12', '12'], ['18','18'], ['24','24'], ['SOS','SOS']], medication_data['medicinefrequency']), { :class => 'form-control medicinefrequency'} %>
                </div>
              </div>
            </td>
            <td style="text-align: center;" class="col-md-2">
              <div class="form-group">
                <div class="input-group mb15">
                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][medicineduration]", options_for_select([['Sel',''],['1','1'], ['2','2'], ['3','3'], ['4','4'], ['5','5'], ['6','6'], ['7','7'], ['8','8'], ['9','9'], ['10','10'], ['11','11'], ['12','12'], ['15', '15'], ['20', '20'], ['25', '25'], ['30', '30'], ['40', '40'], ['50', '50']  ], medication_data['medicineduration']), { :class => 'form-control medicineduration',:style => 'width:100%;padding-left:0px;padding-right:0px;'} %>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinedurationoption]", options_for_select([['Sel',''], ['Days', 'D'], ['Weeks', 'W'], ['Months', 'M'], ['Next followup', 'F']], medication_data['medicinedurationoption']), { :class => 'form-control medicinedurationoption', :style => 'width:100%;padding-left:0px;padding-right:0px;'} %>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td style="text-align: center;" class="col-md-1">
              <div class="form-group" style="margin-right:0px;">
                <% @taper_kit = TaperingKit.find_by(id: medication_data['taper_id']) %>
                <% if @taper_kit.present? %>
                  <% @new_taper_kit = @taper_kit.clone %>
                  <% @new_taper_kit.tapering_set.each_with_index do |tapering, _index| %>
                    <% puts "current_index: #{_index}" %>
                    <% taper_number_of_days =  @new_taper_kit.tapering_set[_index].number_of_days.to_i %>
                    <% if _index == 0 %>
                      <% @new_taper_kit.tapering_set[_index].start_date = Date.current.strftime("%d/%m/%Y") %>
                    <% else %>
                      <% @new_taper_kit.tapering_set[_index].start_date =  @new_taper_kit.tapering_set[_index - 1].end_date.advance(days: 1) %>
                    <% end %>
                    <% @new_taper_kit.tapering_set[_index].end_date = @new_taper_kit.tapering_set[_index].start_date.advance(days: taper_number_of_days) %>
                  <% end %>
                  <% @new_taper_kit.created_at = Time.current %>
                  <% @new_taper_kit.updated_at = Time.current %>
                  <% @new_taper_kit.save %>
                <% else %>
                  <% @new_taper_kit = nil %>
                <% end %>
                <div class="input-group mb15 link_medication">
                  <span class="btn btn-link btn-xs tapering_btn" style="display:inline;"><i class="fa fa-plus"></i> Add</span>
                  <%= hidden_field_tag "opdrecord[treatmentmedication_attributes][#{i}][taper_id]", @new_taper_kit.try(:id) || 0, {:class => 'form-control tapering_id' } %>
                </div>
              </div>
            </td>
            <td style="text-align: center;" class="col-md-1">
              <div class="form-group" style="width: 100%;">
                <div class="input-group mb15">
                  <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][eyeside]", options_for_select(['L', 'R', 'BE'],medication_data['eyeside']), {:prompt => 'Select', :class => 'form-control eyeside',:style => "padding: 10px 0px" } %>
                </div>
              </div>
            </td>
            <td style="text-align: center;" class="col-md-2">
              <div class="form-group">
                <div class="input-group mb15">
                  <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicineinstructions]", medication_data['medicineinstructions'], {:maxlength => 300, :size => 40, :class => 'form-control text_box_val' } %>
                </div>
              </div>
            </td>
            <td style="text-align: center;" class="col-md-1">
              <div class="form-group">
                <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square add-new-btn" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
                <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger removemedicationbutton" href="javascript:;" name="removemedicationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
              </div>
            </td>
          </tr>
      <% end %>
      <script type="text/javascript">
        taper_form();
      </script>
  <% else %>
      <% @medication_kit_data.each do |i, medication_data| %>
          <tr class="treatmentmedications">
            <td class="col-md-2" style="text-align: center;">
              <div class="form-group">
                <div class="input-group mb15">
                  <div class="ui-widget">
                    <%= hidden_field_tag "opdrecord[treatmentmedication_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
                    <%= hidden_field_tag "opdrecord[treatmentmedication_attributes][#{i}][pharmacy_item_id]", medication_data['pharmacy_item_id'], {:class => 'form-control pharmacy_item_id' } %>
                    <%= hidden_field_tag "opdrecord[treatmentmedication_attributes][#{i}][generic_display_name]", medication_data['generic_display_name'], {:class => 'form-control generic_display_name' } %>
                    <%= hidden_field_tag "opdrecord[treatmentmedication_attributes][#{i}][generic_display_ids]", medication_data['generic_display_ids'], {:class => 'form-control generic_display_ids' } %>
                    <%= hidden_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicine_from]", medication_data['medicine_from'], {:class => 'form-control medicine_from' } %>
                    <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinename]", medication_data['medicinename'], {:maxlength => 300, :size => 40, :class => 'form-control medicinename' } %>
                  </div>
                  <span id="medicinename-contents-<%= "#{i}" %>" class="btn btn-xs btn-success btn-square medicinename-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
                </div>
              </div>
            </td>
            <td class="col-md-1" style="text-align: center;">
              <div class="form-group">
                <div class="input-group mb15">
                  <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinetype]",  medication_data['medicinetype'], { :class => 'form-control medicinetype' } %>
                </div>
              </div>
            </td>
            <td class="col-md-1" style="text-align: center;">
              <div class="form-group">
                <div class="input-group mb15">
                  <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinequantity]", options_for_select(['1/4', '1/2', '1', '2', '3','4','5','6','7','8','9','10','11','12','13','14','15','20','25','30','35','40','45','50'], medication_data['medicinequantity']), { :class => 'form-control medicinequantity' } %>
                </div>
              </div>
            </td>
            <td class="col-md-1" style="text-align: center;">
              <div class="form-group">
                <div class="input-group mb15">
                  <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinefrequency]", options_for_select([['Select', ''], '1-1-1', '1-1-0', '1-0-1', '0-1-1', '1-0-0', '0-1-0', '0-0-1','2-2-2','2-0-2', '1-1-1-1','once a week','once a month', '5 times a day', '6 times a day', '8 times a day', '10 times a day', '12 times a day', '24 times a day','Sat-Sun', 'SOS'], medication_data['medicinefrequency']), { :class => 'form-control medicinefrequency'} %>
                </div>
              </div>
            </td>
            <td class="col-md-2" style="text-align: center;">
              <div class="form-group">
                <div class="input-group mb15">
                  <div class="row">
                    <div class="col-md-4 col-sm-4">
                      <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][medicineduration]", options_for_select([['Sel',''],['1','1'], ['2','2'], ['3','3'], ['4','4'], ['5','5'], ['6','6'], ['7','7'], ['8','8'], ['9','9'], ['10','10'], ['11','11'], ['12','12'], ['15', '15'], ['20', '20'], ['25', '25'], ['30', '30'], ['40', '40'], ['50', '50']  ], medication_data['medicineduration']), { :class => 'form-control medicineduration'} %>
                    </div>
                    <div class="col-md-8 col-sm-8">
                      <div class="col-md-12 col-sm-12">
                        <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinedurationoption]", options_for_select([['Sel',''], ['Days', 'D'], ['Weeks', 'W'], ['Months', 'M'], ['Next followup', 'F']], medication_data['medicinedurationoption']), { :class => 'form-control medicinedurationoption'} %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="col-md-2" style="text-align: center;">
              <div class="form-group">
                <div class="input-group mb15">
                  <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicineinstructions]", medication_data['medicineinstructions'], {:maxlength => 300, :size => 40, :class => 'form-control text_box_val' } %>
                </div>
              </div>
            </td>
            <td class="col-md-1" style="text-align: center;">
              <div class="form-group">
                <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square add-new-btn" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
                <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger removemedicationbutton" href="javascript:;" name="removemedicationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
              </div>
            </td>
          </tr>
      <% end %>
  <% end %>
<% end %>

<%= javascript_include_tag "autocomplete/medicine" %>
<script type="text/javascript">

  function button_disable_enable() {
    if($('.medication_set_body tr').length === 1){
      $('.removemedicationbutton').attr("disabled", true)
    } else{
      $('.removemedicationbutton').attr("disabled", false)
    }
  }
  button_disable_enable()

  function add_button_at_last() {
    $('.medication_set_body').find('.add-new-btn').addClass("hidden")
    $('.medication_set_body').find('.add-new-btn').last().removeClass("hidden")
  }
  add_button_at_last()

  function taper_form(){
    $(".tapering_btn").on('click', function(e){
      _this = this
      var med_id = $(this).closest(".link_medication").find(".tapering_id").attr("id")
      var medicinename = $(this).closest(".treatmentmedications").find(".medicinename").val()
      var medicinefrequency = $(this).closest(".treatmentmedications").find(".medicinefrequency").val()
      var medicineduration = $(this).closest(".treatmentmedications").find(".medicineduration").val()
      var medicinedurationoption = $(this).closest(".treatmentmedications").find(".medicinedurationoption").val()
      if(medicinename != "" && medicineduration != "" && medicinedurationoption != "" && medicinedurationoption != "F"){
        e.preventDefault();
        if($(this).closest(".link_medication").find(".tapering_id").val() == 0){
          $.ajax({
            type: "GET",
            url: "/tapering_kits/new",
            data: {
              remote: "true",
              med_id: med_id,
              medicinename: medicinename,
              medicineduration: medicineduration,
              medicinedurationoption: medicinedurationoption,
              medicinefrequency: medicinefrequency,
              source: "Templates"
            },
            success: function(){
              $(_this).closest(".treatmentmedications").find(".medicinename").closest(".input-group").find(".fill_detail").remove()
              $(_this).closest(".treatmentmedications").find(".medicineduration").closest(".input-group").find(".fill_detail").remove()
            }
          })
        } else {
          $.ajax({
            type: "GET",
            url: "/tapering_kits/" + $(this).closest(".link_medication").find(".tapering_id").val() + "/edit",
            data: {
              remote: "true",
              med_id: med_id,
              medicinename: medicinename,
              medicineduration: medicineduration,
              medicinedurationoption: medicinedurationoption,
              medicinefrequency: medicinefrequency,
              source: "Templates"
            },
            success: function(){
              $(_this).closest(".treatmentmedications").find(".medicinename").closest(".input-group").find(".fill_detail").remove()
              $(_this).closest(".treatmentmedications").find(".medicineduration").closest(".input-group").find(".fill_detail").remove()
            }
          })
        }
      } else {
        if(medicinename == ""){
          $(this).closest(".treatmentmedications").find(".medicinename").closest(".input-group").find(".fill_detail").remove()
          $(this).closest(".treatmentmedications").find(".medicinename").closest(".input-group").append("<span class='label label-danger fill_detail'>Fill Medicine</span>")
        } else {
          $(this).closest(".treatmentmedications").find(".medicinename").closest(".input-group").find(".fill_detail").remove()
        }
        if(medicineduration == ""|| medicinedurationoption == ""){
          $(this).closest(".treatmentmedications").find(".medicineduration").closest(".input-group").find(".fill_detail").remove()
          $(this).closest(".treatmentmedications").find(".medicineduration").closest(".input-group").append("<span class='label label-danger fill_detail'>Fill Duration</span>")
        } else if(medicinedurationoption == "F"){
          $(this).closest(".treatmentmedications").find(".medicineduration").closest(".input-group").find(".fill_detail").remove()
          $(this).closest(".treatmentmedications").find(".medicineduration").closest(".input-group").append("<span class='label label-danger fill_detail'>Select Month, Week or Day</span>")
        } else {
          $(this).closest(".treatmentmedications").find(".medicineduration").closest(".input-group").find(".fill_detail").remove()
        }
      }
    })
  }
  taper_form();

  function add_taper_id(id, value) {
    $("#"+id).val(value)
    $("#"+id).closest(".link_medication").find(".tapering_btn").html("")
    $("#"+id).closest(".link_medication").find(".tapering_btn").html("<i class='fa fa-edit'></i>")
    $("#"+id).closest(".link_medication").find(".btn_taper_remove").remove()
    $("#"+id).closest(".link_medication").append("<span class='btn btn-link btn-xs btn_taper_remove' style='margin-left:-10px;'><i class='fa fa-trash-alt'></i></span>")

    $(".btn_taper_remove").on('click', function(){
      $(this).closest(".link_medication").find(".tapering_id").val(0)
      $(this).closest(".link_medication").find(".tapering_btn").html("")
      $(this).closest(".link_medication").find(".tapering_btn").html("<i class='fa fa-plus'></i> Add")
      $(this).remove()
    })
  }

  function remove_taper_id(){
    $(".btn_taper_remove").on('click', function(){
      $(this).closest(".link_medication").find(".tapering_id").val(0)
      $(this).closest(".link_medication").find(".tapering_btn").html("")
      $(this).closest(".link_medication").find(".tapering_btn").html("<i class='fa fa-plus'></i> Add")
      $(this).remove()
    })
  }

  jQuery('.add-new-btn').on('click', function() {
    event.preventDefault();
    if ($('.specialty_dropdown').val() == "") {
      flag = false
      alert('Select Specialty First')
    }else{
      flag = true
    }
    if (flag) {
      var fieldcounter;
      if (jQuery(".medication-table-body-added > .treatmentmedications").length == 0){
        fieldcounter = 0;
      } else {
        fieldcounter = jQuery(".medication-table-body-added > .treatmentmedications").length;
      }
      var params = { counter: fieldcounter};
      jQuery.ajax({
        type: "GET",
        dataType: "script",
        url: "/opd_records/add_medication",
        data: {ajax: params, remote: "true" },
        async: false,
        success: function(){
          add_button_at_last()
          _renumber_id_after_remove("tbody.medication-table-body-added", "div.medication-table-body-removed");
        }
      });
    }
  })

  function _renumber_id_after_remove(added, removed) {
    var counter = 0;
    jQuery(added).find("tr").each(function() {
      jQuery(this).find("input").each(function(index, element) {
        var nameattr, idattr;
        nameattr = element.name.replace(/\[[0-9]+\]/g, '['+counter+']');
        idattr = element.id.replace(/\_[0-9]+\_/g, '_'+counter+'_');
        jQuery(this).attr('name', nameattr);
        jQuery(this).attr('id', idattr);
      });
      jQuery(this).find("select").each(function(index, element) {
        var nameattr, idattr;
        nameattr = element.name.replace(/\[[0-9]+\]/g, '['+counter+']');
        idattr = element.id.replace(/\_[0-9]+\_/g, '_'+counter+'_');
        jQuery(this).attr('name', nameattr);
        jQuery(this).attr('id', idattr);
      });
      jQuery(this).find("a").each(function(index, element) {
        var idattr;
        idattr = element.id.replace(/[0-9]/g, counter);
        jQuery(this).attr('id', idattr);
      });
      counter++;
    });
    jQuery(removed).find("tr").each(function() {
      jQuery(this).find("input").each(function(index, element) {
        var nameattr, idattr;
        nameattr = element.name.replace(/\[[0-9]+\]/g, '['+counter+']');
        idattr = element.id.replace(/\_[0-9]+\_/g, '_'+counter+'_');
        jQuery(this).attr('name', nameattr);
        jQuery(this).attr('id', idattr);
      });
      jQuery(this).find("select").each(function(index, element) {
        var nameattr, idattr;
        nameattr = element.name.replace(/\[[0-9]+\]/g, '['+counter+']');
        idattr = element.id.replace(/\_[0-9]+\_/g, '_'+counter+'_');
        jQuery(this).attr('name', nameattr);
        jQuery(this).attr('id', idattr);
      });
      jQuery(this).find("a").each(function(index, element) {
        var idattr;
        idattr = element.id.replace(/[0-9]/g, counter);
        jQuery(this).attr('id', idattr);
      });
      counter++;
    });
  }

  var med_row = $(".treatmentmedications")
  for (var i = med_row.length - 1; i >= 0; i--) {
    if($(med_row[i]).find(".link_medication").find(".tapering_id").val() != 0){
      $(med_row[i]).find(".link_medication").find(".tapering_btn").html("")
      $(med_row[i]).find(".link_medication").find(".tapering_btn").html("<i class='fa fa-edit'></i>")
      $(med_row[i]).find(".link_medication").find(".btn_taper_remove").remove()
      $(med_row[i]).find(".link_medication").append("<span class='btn btn-link btn-xs btn_taper_remove' style='margin-left:-10px;'><i class='fa fa-trash-alt'></i></span>")
    }

    $(".btn_taper_remove").on('click', function(){
      $(this).closest(".link_medication").find(".tapering_id").val(0)
      $(this).closest(".link_medication").find(".tapering_btn").html("")
      $(this).closest(".link_medication").find(".tapering_btn").html("<i class='fa fa-plus'></i> Add")
      $(this).remove()
    })
  }

  $(".undo_button").on("click",function(e){
    e.preventDefault();
    $(this).parent(".input-group").children(".text_box_val").val('');

    $(this).parent(".input-group").parent('.instruction_box').parent('.medication_instruction_box').children('.edit-instruction').removeClass('hide').removeAttr("disabled","disabled");
    $(this).parent(".input-group").parent('.instruction_box').addClass("hide").attr("disabled","disabled");

    $(this).parent(".input-group").parent('.instruction_box').parent('.medication_instruction_box').children(".instruction").removeClass("hide").removeAttr("disabled","disabled");
    $(this).parent(".input-group").parent('.instruction_box').addClass("hide").attr("disabled","disabled");
  })

  $(".undo_button_edit").on("click",function(e){
    e.preventDefault();
    $(this).parent(".input-group").children(".text_box_val").val('');
    $(this).parent(".input-group").parent('.edit_instruction_box').next(".edit_instruction").removeClass("hide");
    $(this).parent(".input-group").parent('.edit_instruction_box').addClass("hide").attr("disabled","disabled");
  })

  $(".instruction_dropdown").on("change",function(){
    var id = $(this).attr("id");
    if ($("#"+id).val() == "Add a text Box"){
      if($("#"+id).parent(".input-group").parent(".edit-instruction").length) {
        $("#"+id).parent(".input-group").parent(".edit-instruction").next(".instruction_box").removeClass('hide').removeAttr("disabled","disabled");
        $("#"+id).parent(".input-group").parent(".edit-instruction").addClass('hide').attr("disabled","disabled");
      } else if($("#"+id).parent(".input-group").parent(".instruction").length) {
        $("#"+id).parent(".input-group").parent(".instruction").next(".instruction_box").removeClass('hide').removeAttr("disabled","disabled");
        $("#"+id).parent(".input-group").parent(".instruction").addClass('hide').attr("disabled","disabled");
      } else if($("#"+id).parent(".input-group").parent(".edit_instruction").length) {
        $("#"+id).parent(".input-group").parent(".edit_instruction").prev(".edit_instruction_box").removeClass('hide').removeAttr("disabled","disabled");
        $("#"+id).parent(".input-group").parent(".edit_instruction").addClass('hide').attr("disabled","disabled");
      }
      $("#"+id).val("");
    }
  })

  $('.medicinename').keyup(function() {
    console.log("========================4")
    var medicine = []
    var inputs = $(".medicinename")
    var rowCount = $('.medication_set_body tr').length
    for(var i = 0; i < rowCount - 1; i++) {
      medicine.push($(inputs[i]).val());
    }
    if (medicine.filter(Boolean).length > 0) {
      $('#opdrecord_view_pharmacy_store_id').prop('disabled', true)
    } else {
      $('#opdrecord_view_pharmacy_store_id').prop('disabled', false)
    }
    $('#opdrecord_view_pharmacy_store_id').trigger('change')
  })

  $('.removemedicationbutton').on('click', function(e) {
    e.preventDefault();
    if($('.medication_set_body tr').length == 1){
      $('.removemedicationbutton').attr("disabled", true)
    } else{
      $('.removemedicationbutton').attr("disabled", false)
    }
    var name = $(this).closest('.treatmentmedications').find('.medicinename').val();
    var medicine = []
    var inputs = $(".medicinename")
    var rowCount = $('.medication_set_body tr').length
    for(var i = 0; i < rowCount - 1; i++) {
      medicine.push($(inputs[i]).val());
      medicine = medicine.filter(e => e !== name)
    }
    if (medicine.filter(Boolean).length > 0) {
      $('#opdrecord_view_pharmacy_store_id').prop('disabled', true)
    } else {
      $('#opdrecord_view_pharmacy_store_id').prop('disabled', false)
    }
    $('#opdrecord_view_pharmacy_store_id').trigger('change')
  });

  $('#opdrecord_medicationsets').on('click', function(e) {
    e.preventDefault();
    $('#opdrecord_view_pharmacy_store_id').prop('disabled', true).trigger('change')
  });

  $('.medication-table-body-added').on('click', "a[name*='removemedicationbutton']", function() {
    event.preventDefault();
    var medications_removed_tr_html;
    if(jQuery('.medication-table-body-added tr').length != 1) {
      var medications_tr_array = jQuery(this).parents('.treatmentmedications').find(".id");
      if (medications_tr_array.length > 0) {
        jQuery(this).parents('.treatmentmedications').find("input[name*='_destroy']").val("1");
        medications_removed_tr_html = $(this).parents('.treatmentmedications').wrap('<p/>').parent().html();
        jQuery(this).parents('.treatmentmedications').unwrap();
        jQuery('.medication-table-body-removed').append(medications_removed_tr_html);
        jQuery(this).parents('.treatmentmedications').remove();
        _renumber_id_after_remove("tbody.medication-table-body-added", "div.medication-table-body-removed");
      } else {
        jQuery(this).parents('.treatmentmedications').remove();
        _renumber_id_after_remove("tbody.medication-table-body-added", "div.medication-table-body-removed");
      }
    }
    add_button_at_last()
    var name = $(this).closest('.treatmentmedications').find('.medicinename').val();
    var medicine = []
    var inputs = $(".medicinename")
    var rowCount = $('.medication_set_body tr').length
    for(var i = 0; i < rowCount - 1; i++) {
      medicine.push($(inputs[i]).val());
      medicine = medicine.filter(e => e !== name)
    }
    if (medicine.filter(Boolean).length > 0) {
      $('#opdrecord_view_pharmacy_store_id').prop('disabled', true)
    } else {
      $('#opdrecord_view_pharmacy_store_id').prop('disabled', false)
    }
    $('#opdrecord_view_pharmacy_store_id').trigger('change')
});


</script>

<style type="text/css">
  .col-xs-1-5 {
    width: 12.49995%;
  }
  .col-md-1-5 {
    width: 12.49995%;
  }
  .col-sm-1-5 {
    width: 12.49995%;
  }
</style>