<% unless @provisional_diagnosis_history[:count] == 0 %>
  <table class="table table-dark table-bordered">
    <thead>
      <tr>
        <th><%= LanguageHelper.translation('sr_no', @translated_language)%></th>
        <th>Date</th>
        <th><%= LanguageHelper.translation('instruction', @translated_language)%></th>
      </tr>
    </thead>
    <tbody>
      <% @provisional_diagnosis_history.each_with_index do |v, k| %>
        <tr>
          <td><%=k+1%></td>
          <td><%=v[0].to_s(:hg_history_date_time)%></td>
          <td><%=v[1].html_safe()%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <table class="table table-dark table-bordered">
    <tbody><p><%= @provisional_diagnosis_history[:message] %></p></tbody>
  </table>
<% end %>
