<%= stylesheet_link_tag  "bootstrap-timepicker.min", media: "all", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag  "bootstrap-fileupload.min", media: "all", "data-turbolinks-track" => true %>
<style>
  <%= render 'form.css' %>
</style>
<div class="contentpanel">
  <div class="panel">
    <div class="panel-body">
      <%= render 'form.html' %>
    </div>
  </div>
</div>
<script>
  <%= render 'form.js' %>
</script>

