<div class="row no_margin">
  <% if @admission.isdischarged %>
    <div class="col-md-12 mb5">
      <span class="label label-danger">Note: The OTs Created From Here Won't Be TIED<br> to this ADMISSION - as Patient is already DISCHARGED.</span>
    </div>
  <% end %>
  <div class="col-md-12">
    <h4 class="" style="display: inline"><% if !@ot_schedules.present? %> No <% end %>OTs Scheduled </h4>
    <%= link_to new_ot_path(patient_id: @admission.patient_id, date: Date.current, time: Time.current, direct: true, case_sheet_id: @case_sheet.id, specialty_id: @admission.specialty_id, facility_id: @admission.facility_id, admission_id: @admission.id.to_s), class: "btn btn-info btn-xs pull-right", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ot-modal'} do %> Schedule OT<% end %>
  </div>
  <ul class="col-md-12 mt5" style="padding-left:5px;list-style-type:none;">
    <% @ot_schedules.each.with_index do |otschedule, i| %>
      <% ot_list_view = @ot_list_views.find { |olv| otschedule.id.to_s == olv[:ot_id].to_s } %>
      <% if ot_list_view.present? %>
        <div class="row mt10">
          <li>
            <div class="col-md-6">
              <a href="" class="link-to-ot" data-ot-date="<%= otschedule.otdate %>" data-ot-id="<%= otschedule.id %>" data-ot-state="<%= ot_list_view[:state] %>"><%= otschedule.ottime.strftime("%d %b at %I:%M %p") %></a>
            </div>
            <div class="col-md-6 text-right">
              <% unless otschedule.operation_done || otschedule.is_engaged %>
                <%= link_to ot_unlink_ot_path(id: otschedule.id,ot_id: otschedule.id),class: "btn btn-link btn-xs otschedule_list engage_ot",method: 'get', :data => {:remote => true}, style: "color:#f00;" do %>Unlink<% end %>
                <%= link_to ipd_patients_deleteot_path(id: otschedule.id,active_id: otschedule.id),class: "btn btn-link btn-xs otschedule_list delete_ot",method: 'delete', :title => "Delete this OT ?", :data => {:remote => true, :confirm => "<h4>Are you sure that you want to delete OT for #{otschedule.patient.fullname} ?</h4>".html_safe, :commit => 'Delete OT' }, style: "color:#f00;" do %>Delete<% end %>
              <% else %>
                <% if otschedule.operation_done && !(otschedule.is_engaged) %>
                  <button style="margin-left:20px;" class="btn btn-link btn-xs" disabled="disabled" style="margin-top:0px;">OT Completed</button>
                <% elsif !(otschedule.operation_done) && otschedule.is_engaged %>
                  <button style="margin-left:20px;" class="btn btn-link btn-xs" disabled="disabled" style="margin-top:0px;">OT Engaged</button>
                <% end %>
              <% end %>
            </div>
            <div class="col-md-12">
              <p style="margin-bottom:0;margin-top:-10px;"><b style="font-size:10px;">by <%= User.find(otschedule.user_id).fullname %></b></p>
            </div>
          </li>
        </div>
      <% end %>
    <% end %>
  </ul>
</div>
