<%= simple_form_for(@inventory_item_description) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :details %>
    <%= f.input :manufacturer %>
    <%= f.input :expiry %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
