<p id="notice"><%= notice %></p>

<h1>Listing Inventory Item Descriptions</h1>

<table>
  <thead>
    <tr>
      <th>Details</th>
      <th>Manufacturer</th>
      <th>Expiry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventory_item_descriptions.each do |inventory_item_description| %>
      <tr>
        <td><%= inventory_item_description.details %></td>
        <td><%= inventory_item_description.manufacturer %></td>
        <td><%= inventory_item_description.expiry %></td>
        <td><%= link_to 'Show', inventory_item_description %></td>
        <td><%= link_to 'Edit', edit_inventory_item_description_path(inventory_item_description) %></td>
        <td><%= link_to 'Destroy', inventory_item_description, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Description', new_inventory_item_description_path %>
