<p id="notice"><%= notice %></p>

<p>
  <strong>Details:</strong>
  <%= @inventory_item_description.details %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @inventory_item_description.manufacturer %>
</p>

<p>
  <strong>Expiry:</strong>
  <%= @inventory_item_description.expiry %>
</p>

<%= link_to 'Edit', edit_inventory_item_description_path(@inventory_item_description) %> |
<%= link_to 'Back', inventory_item_descriptions_path %>
