<div class="mis_list">
  <h4>Conversion reports</h4>
  <% group = "conversion" %>
  <ul data-test-title="Conversion" class="nav">
    <li data-test-title="Surgery Advised vs Performed">
      <%= link_to reports_view_mis_clinical_reports_path(group: group, title: "procedure_conversion_wise"), data: { remote: true }, class: "mis_reports_link ps" do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Surgery Advised vs Performed</span>
      <% end %>
    </li>
    <li data-test-title="Opthal Investigation Advised vs Performed">
      <%= link_to reports_view_mis_clinical_reports_path(group: group, title: "ophthal_conversion_wise"), data: { remote: true }, class: "mis_reports_link ps" do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Opthal Investigation Advised vs Performed</span>
      <% end %>
    </li>
    <li data-test-title="Laboratory Investigation Advised vs Performed">
      <%= link_to reports_view_mis_clinical_reports_path(group: group, title: "laboratory_conversion_wise"), data: { remote: true }, class: "mis_reports_link ps" do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Laboratory Investigation Advised vs Performed</span>
      <% end %>
    </li>
    <li data-test-title="Radiology Investigation Advised vs Performed">
      <%= link_to reports_view_mis_clinical_reports_path(group: group, title: "radiology_conversion_wise"), data: { remote: true }, class: "mis_reports_link ps" do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Radiology Investigation Advised vs Performed</span>
      <% end %>
    </li>
    <li data-test-title="Surgery Doctor Wise">
      <%= link_to reports_view_mis_clinical_reports_path(group: group, title: "procedure_doctor_wise"), data: { remote: true }, class: "mis_reports_link ps" do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Surgery Doctor Wise</span>
      <% end %>
    </li>
    <li data-test-title="Surgery Counsellor Wise">
      <%= link_to reports_view_mis_clinical_reports_path(group: group, title: "procedure_counsellor_wise"), data: { remote: true }, class: "mis_reports_link ps" do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Surgery Counsellor Wise </span>
      <% end %>
    </li>
    <li data-test-title="Lab Investigation Doctor Wise">
      <%= link_to reports_view_mis_clinical_reports_path(group: group, title: "laboratory_doctor_wise"), data: { remote: true }, class: "mis_reports_link ps" do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Laboratory Investigation Doctor Wise </span>
      <% end %>
    </li>
    <li data-test-title="Opthal Investigation Doctor Wise">
      <%= link_to reports_view_mis_clinical_reports_path(group: group, title: "ophthal_doctor_wise"), data: { remote: true }, class: "mis_reports_link ps" do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Ophthal Investigation Doctor Wise</span>
      <% end %>
    </li>
    <li data-test-title="Radiology Investigation Doctor wise">
      <%= link_to reports_view_mis_clinical_reports_path(group: group, title: "radiology_doctor_wise"), data: { remote: true }, class: "mis_reports_link ps" do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Radiology Investigation Doctor Wise</span>
      <% end %>
    </li>
    <li data-test-title="Lab Investigation Counsellor Wise">
      <%= link_to reports_view_mis_clinical_reports_path(group: group, title: "laboratory_counsellor_wise"), data: { remote: true }, class: "mis_reports_link ps" do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Laboratory Investigation Counsellor Wise </span>
      <% end %>
    </li>
    <li data-test-title="Ophthal Investigation Counsellor Wise">
      <%= link_to reports_view_mis_clinical_reports_path(group: group, title: "ophthal_counsellor_wise"), data: { remote: true }, class: "mis_reports_link ps" do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Ophthal Investigation Counsellor Wise</span>
      <% end %>
    </li>
    <li data-test-title="Radiology Investigation Counsellor Wise">
      <%= link_to reports_view_mis_clinical_reports_path(group: group, title: "radiology_counsellor_wise"), data: { remote: true }, class: "mis_reports_link ps" do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Radiology Investigation Counsellor Wise </span>
      <% end %>
    </li>
    <li data-test-title="Pharmacy List">
      <%= link_to reports_view_mis_clinical_reports_path(group: group, title: "pharmacy_list_wise"), data: { remote: true }, class: "mis_reports_link ps" do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Pharmacy List</span>
      <% end %>
    </li>
    <li data-test-title="Optical List">
      <%= link_to reports_view_mis_clinical_reports_path(group: group, title: "optical_list_wise"), data: { remote: true }, class: "mis_reports_link ps" do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Optical List</span>
      <% end %>
    </li>
  </ul>
</div>
