<h3>Today</h3>
<%if @birthday_patients.count == 0%>
  <h2 style="text-align:center;">No Birthdays Today</h2>
<%else%>
      <div class="row">
      <%@birthday_patients.each do|patient|%>
          <div class="col-md-3">
            <%if patient.gender %>
                <%if patient.gender.split("")[0] == "M"%>
                    <div class="patient_grid" style="padding:5px 15px;margin:6px;background:#fff;border-radius:12px;color:black;box-shadow:0 2px 12px #428bca;">
                <% else %>
                    <div class="patient_grid" style="padding:5px 15px;margin:6px;background:#fff;border-radius:12px;color:black;box-shadow:0 2px 12px #e76486;">
                <% end %>
            <% else %>
                <div class="patient_grid" style="padding:5px 15px;margin:6px;background:#fff;border-radius:12px;color:black;box-shadow:0 2px 12px #428bca;">
            <% end %>
            <div class="row">
              <div class ="col-md-2"style="height: 100%">
                <%if patient.patientassets.present?%>
                    <%=image_tag(patient.patientassets[patient.patientassets.size-1].asset_path_url, size: "40",class: "img-circle",style: "margin-top: 6px;" )%>
                <%else%>
                    <%= image_tag "photos/no_picture_available.png", size: "40",class: "img-circle",style: "margin-top: 6px;" %>
                <%end%>
              </div>
              <div class="col-md-8">
                <p style="margin-bottom:0px;font-size:12px;">
                  <span style="font-weight:bold;"><%= patient.fullname.capitalize %></span>
                  <%if patient.gender %>
                      <%if patient.gender.split("")[0] == "M"%>
                          <i class="fa fa-male" style="color:#428bca"></i>
                      <%else%>
                          <i class="fa fa-female" style="color:#e76486"></i>
                      <%end%>
                  <% else %>
                      <i class="fa fa-male" style="color:#fff"></i>
                  <% end %>&nbsp;
                  <i class="fa fa-birthday-cake" style="color: chocolate"></i>
                  <br>
                  <%if patient.blood_group %>
                      <i class="glyphicon glyphicon-tint" style="   color: #d9534f"></i><span style="color:#000;"><%=patient.blood_group%></span>
                  <%end%>&nbsp;
                  <i class="fa fa-mobile"styel="font-size: 19px"></i>&nbsp;<%=patient.mobilenumber.to_i%>
                </p>
              </div>
              <div class="col-md-2">

                <%= link_to edit_patient_path(:id => patient.id), :class => "btn btn-xs btn-default margin-fix", :title => "Edit Patient Details", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#appointment-modal'} do %>
                    <i class="fa fa-edit" ></i>
                <% end %>
              </div>
            </div>
            </div>
            </div>
      <% end %>
      </div>
      </div>
    </div>
<%end%>
<h3>Upcoming Birthdays</h3>
<%if @upcoming_birthdays.count == 0%>
    <h4 style="margin-left: 40px;color: royalblue;">No Upcoming Birthdays this month</h4>
<%else%>
    <div class="row">
      <%@upcoming_birthdays.each do|patient|%>
          <div class="col-md-3">
            <%if patient.gender %>
                <%if patient.gender.split("")[0] == "M"%>
                    <div class="patient_grid" style="padding:5px 15px;margin:6px;background:#fff;border-radius:12px;color:black;box-shadow:0 2px 12px #428bca;">
                <% else %>
                    <div class="patient_grid" style="padding:5px 15px;margin:6px;background:#fff;border-radius:12px;color:black;box-shadow:0 2px 12px #e76486;">
                <% end %>
            <% else %>
                <div class="patient_grid" style="padding:5px 15px;margin:6px;background:#fff;border-radius:12px;color:black;box-shadow:0 2px 12px #428bca;">
            <% end %>
            <div class="row">
              <div class ="col-md-2"style="height: 100%">
                <%if patient.patientassets.present?%>
                    <%=image_tag(patient.patientassets[patient.patientassets.size-1].asset_path_url, size: "40",class: "img-circle",style: "margin-top: 6px;" )%>
                <%else%>
                    <%= image_tag "photos/no_picture_available.png", size: "40",class: "img-circle",style: "margin-top: 6px;" %>
                <%end%>
              </div>
              <div class="col-md-8">
                <p style="margin-bottom:0px;font-size:12px;">
                  <span style="font-weight:bold;"><%= patient.fullname.capitalize %></span>
                  <%if patient.gender %>
                      <%if patient.gender.split("")[0] == "M"%>
                          <i class="fa fa-male" style="color:#428bca"></i>
                      <%else%>
                          <i class="fa fa-female" style="color:#e76486"></i>
                      <%end%>
                  <% else %>
                      <i class="fa fa-male" style="color:#fff"></i>
                  <% end %>&nbsp;
                  <i class="fa fa-birthday-cake" style="color: chocolate"></i>
                  <i><%=patient.dob.strftime('%d %b')%></i>
                  <br>
                  <%if patient.blood_group %>
                      <i class="glyphicon glyphicon-tint" style="   color: #d9534f"></i><span style="color:#000;"><%=patient.blood_group%></span>
                  <%end%>&nbsp;
                  <i class="fa fa-mobile"styel="font-size: 19px"></i>&nbsp;<%=patient.mobilenumber.to_i%>
                </p>
              </div>
              <div class="col-md-2">

                <%= link_to edit_patient_path(:id => patient.id), :class => "btn btn-xs btn-default margin-fix", :title => "Edit Patient Details", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#appointment-modal'} do %>
                    <i class="fa fa-edit" ></i>
                <% end %>
              </div>
            </div>
            </div>
            </div>
      <% end %>
      </div>
      </div>
    </div>
<%end%>
<style type="text/css">
    .margin-fix {
        margin-top:6px;
    }
</style>