<%if @patients_overdue.count == 0%>
    <h2 style="text-align:center;">No Patients With Long Overdue</h2>
<%else%>
    <div class="row">
      <%@patients_overdue.each do|followup|%>
          <div class="col-md-3">
            <%if followup.patient.gender %>
                <%if followup.patient.gender.split("")[0] == "M"%>
                    <div class="patient_grid" style="padding:5px 15px;margin:6px;background:#fff;border-radius:12px;color:black;box-shadow:0 2px 12px #428bca;">
                <% else %>
                    <div class="patient_grid" style="padding:5px 15px;margin:6px;background:#fff;border-radius:12px;color:black;box-shadow:0 2px 12px #e76486;">
                <% end %>
            <% else %>
                <div class="patient_grid" style="padding:5px 15px;margin:6px;background:#fff;border-radius:12px;color:black;box-shadow:0 2px 12px #428bca;">
            <% end %>
            <div class="row">
              <div class ="col-md-2"style="height: 100%">
                <%if followup.patient.patientassets.present?%>
                    <%=image_tag(followup.patient.patientassets[followup.patient.patientassets.size-1].asset_path_url, size: "40",class: "img-circle",style: "margin-top: 6px;" )%>
                <%else%>
                    <%= image_tag "photos/no_picture_available.png", size: "40",class: "img-circle",style: "margin-top: 6px;" %>
                <%end%>
              </div>
              <div class="col-md-8">
                <p style="margin-bottom:0px;font-size:12px;">
                  <span style="font-weight:bold;"><%= followup.patient.fullname.capitalize %></span>
                  <%if followup.patient.gender %>
                      <%if followup.patient.gender.split("")[0] == "M"%>
                          <i class="fa fa-male" style="color:#428bca"></i>
                      <%else%>
                          <i class="fa fa-female" style="color:#e76486"></i>
                      <%end%>
                  <% else %>
                      <i class="fa fa-male" style="color:#fff"></i>
                  <% end %>&nbsp;

                  <%if followup.patient.blood_group %>
                      <i class="glyphicon glyphicon-tint" style="   color: #d9534f"></i><span style="color:#000;"><%=followup.patient.blood_group%></span>
                  <%end%>&nbsp;
                  <i class="fa fa-mobile"styel="font-size: 19px"></i>&nbsp;<%=followup.patient.mobilenumber.to_i%>
                  <br>
                  was due:<%= followup.followup_date.strftime('%-d %b %y')%>/Dr.<%=followup.doctor_name%>
                  <br>
                </p>
              </div>

              <div class="col-md-2">


              </div>
            </div>
            </div>
            </div>
      <% end %>
      </div>
      </div>
    </div>
<%end%>

<style type="text/css">
    .margin-fix {
        margin-top:6px;
    }
</style>
