<div class="row" style="margin:20px 0 50px;">
  <div class="col-md-6" style="border-right:1px solid #eee;">
    <div class="row mb30">
      <div class="col-md-12">
        <b>Blood group :</b>
      </div>
      <div class="col-md-12">
        <div class="row" style="margin-left:5px;">
          <% for bloodgroup in Patient::BLOODGROUPS %>
            <div class='rdio rdio-danger col-md-3'>
              <input type='radio' name='inpatient_ipd_record[patient_attributes][blood_group]' class = 'bloodgroup' id='<%= bloodgroup.to_s %>' value='<%= bloodgroup.to_s %>' <%= "checked='checked'" if @patient.try(:blood_group) == bloodgroup.to_s %>/>
              <label for='<%= bloodgroup.to_s %>'> <%= bloodgroup.to_s %> </label>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row mb20">
      <div class="col-md-4">
        <b>Marital Status :</b>
      </div>
      <div class="col-md-8">
        <div class='rdio rdio-primary col-md-6'>
          <input type='radio' name='inpatient_ipd_record[patient_attributes][maritalstatus]' class = 'maritalstatus' id='maritalstatus-single' value='Single' <%= "checked='checked'" if @patient.try(:maritalstatus) == "Single" %>/>
          <label for='maritalstatus-single'> Single </label>
        </div>
        <div class='rdio rdio-primary col-md-6'>
          <input type='radio' name='inpatient_ipd_record[patient_attributes][maritalstatus]' class = 'maritalstatus' id='maritalstatus-married' value='Married' <%= "checked='checked'" if @patient.try(:maritalstatus) == "Married" %>/>
          <label for='maritalstatus-married'> Married </label>
        </div>
      </div>
    </div>
    <%= f.fields_for :patient do |patient| %>

    <div class="row mb10">
      <div class="col-md-4">
        <b>Occupation :</b>
      </div>
      <div class="col-md-4">
        <%= patient.text_field :occupation, {:maxlength => 40, :size => 30, :class => 'form-control occupation', :placeholder => "Occupation", value: @patient.occupation } %>
      </div>
      <div class="col-md-4">
        <%= patient.text_field :employee_id, {:maxlength => 40, :size => 30, :class => 'form-control employee_id', :placeholder => "Employee ID", value: @patient.employee_id } %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row mb30">
      <div class="col-md-12">
        <b>Patient Address :</b>
        <a href="" class="clear-pincode" style="display:none;font-size: 10px;margin-top: -7px;cursor: pointer;">Clear</a>
      </div>
      <% if current_facility.country_id == 'KH_039' %>
        <div class="col-md-3 mb5">
          <%= patient.text_field :pincode, {:maxlength => 6, :size => 6, :id => 'search_pincode_cambodia', :class => 'form-control pincode', :placeholder => "PIN Code", value: @patient.pincode ,onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
        </div>
        <div class="col-md-3 mb5">
          <%= patient.text_field :state, {:maxlength => 30, :size => 30, :id => 'search_state_cambodia' , :class => 'form-control state', :placeholder => "Province/State", value: @patient.state } %>
        </div>
        <div class="col-md-4 mb5">
          <%= patient.text_field :district, {:maxlength => 6, :size => 6, :id => 'search_district_cambodia', :class => 'form-control district', :placeholder => "District", value: @patient.district ,onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
        </div>
        <div class="col-md-4 mb5">
          <%= patient.text_field :commune, {:maxlength => 30, :size => 30, :id => 'search_commune_cambodia' , :class => 'form-control commune', :placeholder => "Commune", value: @patient.commune } %>
        </div>
      <% else %>
        <div class="col-md-4 mb5">
          <%= patient.text_field :pincode, {:maxlength => 6, :size => 6, :id => 'search_pincode', :class => 'form-control pincode', :placeholder => "PIN Code", value: @patient.pincode ,onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
        </div>
        <div class="col-md-4 mb5">
          <%= patient.text_field :state, {:maxlength => 30, :size => 30, :id => 'search_state' , :class => 'form-control state', :placeholder => "State", value: @patient.state } %>
        </div>
        <div class="col-md-4 mb5">
          <%= patient.text_field :city, {:maxlength => 30, :size => 30, :id => 'search_city',:class => 'form-control city', :placeholder => "City", value: @patient.city } %>
        </div>
      <% end %>
      <div class="col-md-12 mb5">
        <%= patient.text_field :address_1, {:maxlength => 50, :size => 50, :class => 'form-control addressline1', :placeholder => "Address line1", value: @patient.address_1 } %>
      </div>
      <div class="col-md-12 mb5">
        <%= patient.text_field :address_2, {:maxlength => 50, :size => 50, :class => 'form-control addressline2', :placeholder => "Address line2", value: @patient.address_2 } %>
      </div>
    </div>
    <div class="row mb30">
      <div class="col-md-12">
        <b>Emergency Contact Person :</b>
      </div>
      <div class="col-md-6">
        <%= patient.text_field :emergencycontactname, {:maxlength => 40, :size => 30, :class => 'form-control emergencycontactname', :placeholder => "Name", value: @patient.emergencycontactname } %>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon">+91</span>
          <%= patient.text_field :emergencymobilenumber, {:maxlength => 10, :size => 10, :class => 'form-control emergencymobilenumber', :placeholder => "Mobile Number", value: @patient.emergencymobilenumber } %>
        </div>
      </div>
    <%end %>
    </div>
  </div>
</div>