<%= render partial: '/settings/common_css.html.erb' %>
<div class="row"> 
  <div class="col-md-5 col-sm-5 sidebar_area" style="background: white;">
    <div class="sidebar_area_content">
      <div class="col-md-3 col-sm-3 sidebar_pane sidebar-doctors-letterhead no_padding" style="overflow-y:auto;">
        <div class="row no_margin text-center">
          <h4>Print Settings</h4>
        </div>
        <div class="row no_margin">
          <ul class="nav nav-pills nav-stacked prints_list" >
            <li class="sidebar-print-letterhead <%= "active" if params[:action] == "index" || params[:print_setting_id].nil? %>">
              <%= link_to new_settings_print_setting_path, data: { remote: true }, class: "new_print_setting" do %>New<% end %>
            </li>
            <li class="mini-li-ee" style="border-bottom: 1px solid;border-top: 1px solid;text-align: center;"></li>
            <% @print_settings.each do |print_setting| %>
              <li class="sidebar-print-letterhead <%= "active" if params[:print_setting_id].present? && params[:print_setting_id] == print_setting.id.to_s %>">
                <%= link_to edit_settings_print_setting_path(id: print_setting.id.to_s), data: { remote: true }, class: "edit_print_setting_#{print_setting.id.to_s}" do %><% print_setting.name %><% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 sidebar_pane" id="sidebar_summary" style="background: #fff; border-right: 1px solid #c7c6c7;">
        <div class="setting-options" style="margin-left: 10px">
          <%#= render 'setting_options' %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7 col-sm-7 letterhead_main_content" style="padding: 0px;">
    <div id="letterhead_summary" class='print-preview' style="height: 100%; overflow-y: scroll;background: #fff;">
    </div>
  </div>
</div>
<script type="text/javascript">
  <%= render partial: 'index.js.erb'%>
</script>
