<div class="row" id="print-customisation-alert-messages"></div>
<div class="row" id="customised_letter_head_alert_false"></div>
<% unless @print_setting.try(:updated) %>
  <div class="row mb10 setting-warning" style="margin-left: -20px;">
    <div class="col-md-12" style="background-color:grey;color:#fff;">
      <h6 style="margin:0;text-align:center;padding:5px;font-size:18px;"><b>Setup Incomplete <%= "for Print Setting "+@print_setting.try(:name) if !@print_setting.try(:name).nil? %> press Save to complete setup. </b></h6>
    </div>
  </div>
<% end %>
<% if @print_setting.logo_url %>
  <% image_url = @print_setting.try(:logo) %>
<% else %>
  <% image_url = @organisation.try(:logo) %>
<% end %>

<div class="pcs-entity-title">
  <span>Preview For A4 Size Paper</span>
</div>
<br>

<% if @print_setting.try(:updated) %>
  <% top = 20%>
<%else%>
  <% top = 60%>
<%end%>

<a class=" viewsummary btn btn-warning btn-warning-transparent btn-xs btn-circle pull-right" id="timeline-viewsummary-print" target="_blank" title="Pdf Print Preview" data-method="get" data-toggle="tooltip" href="/settings/print_settings/:print_setting_id/preview_print.pdf?id=<%= @print_setting.try(:id).to_s %>" style="position: absolute;left: 14px;top: <%= top%>px;" format="PDF" ><i class="fa fa-print"></i></a>
<div class="print-template" style="margin: 15px;">
  <br/>
  <div class="inner-content" style="margin-left: <%=@print_setting.try(:left_margin)%>cm;margin-right: <%=@print_setting.try(:right_margin).to_i%>cm">
    <% if !@print_setting.try(:customised_letter_head) %>
        <div style="height:<%= @print_setting.header_height.to_i %>cm">
        </div>
    <% else %>
        <div style="overflow:hidden;">
          <div class="header-content" style="margin-top:<%= @print_setting.header_height.to_i-3 %>cm;">
              <div class="row table-hg-print">
                <div class="col-md-12 text-left">
                  <% if @print_setting.try(:header_location)=="left"%>
                      <% text = @print_setting.try(:header)%>
                      <%= text.try(:html_safe) %>
                  <%end%>
                </div>
                <div class="col-md-12 text-center">
                  <% if @print_setting.try(:header_location)=="center"%>
                      <% text = @print_setting.try(:header)%>
                      <%= text.try(:html_safe) %>
                  <%end%>
                </div>
                <div class="col-md-12 text-right">
                  <% if @print_setting.try(:header_location)=="right"%>
                      <% text = @print_setting.try(:header)%>
                      <%= text.try(:html_safe) %>
                  <%end%>
                </div>
              </div>
              <div class="row table-hg-print">
                <div class="col-md-6 text-left">
                  <% if @print_setting.try(:header_logo_location)=='left' %>
                      <img src="<%= image_url %>" style="max-width:240px;max-height:100px;">
                  <% else %>
                      <% text  = @print_setting.try(:left) %>
                      <%= text.try(:html_safe) %>
                  <% end %>
                </div>
                <div class="col-md-6 text-right" style="text-align:right;">
                  <% if @print_setting.try(:header_logo_location)=='right' %>
                      <img src="<%= image_url%>" style="max-width:240px;max-height:100px;">
                  <% else %>
                      <% text  = @print_setting.try(:right) %>
                      <%= text.try(:html_safe) %>
                  <% end %>
                </div>
              </div>
            </div>
        </div>
    <% end %>
    <br>
    <div class="pcs-entity-title">
      <span>Out/In Patient Receipt</span>
    </div>
    <div class="container-fluid">
      <div class="row mb10" style="border:1px solid #666;padding:5px;">
        <div class="col-md-3">
          <p style="margin-bottom:0px;"><b>Patient Name</b></p>
          <p style="margin-bottom:0px;"><b>Patient ID </b></p>
          <p style="margin-bottom:0px;"><b>Mobile </b></p>
          <p style="margin-bottom:0px;"><b>Age / Gender </b></p>
          <p style="margin-bottom:0px;"><b>Address </b></p>

        </div>
        <div class="col-md-3">
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; John Doe</p>
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; JOH-PAT-001</p>
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; 9510052631</p>
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; 23 Year(s)  Male </p>
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; 1, WestCoast Street</p>
        </div>
        <div class="col-md-3">
          <p style="margin-bottom:0px;"><b>Doctor</b></p>
          <p style="margin-bottom:0px;"><b>Appointment Date</b></p>
          <p style="margin-bottom:0px;"><b>Bill Date </b></p>
          <p style="margin-bottom:0px;"><b>Bill No. </b></p>
          <p style="margin-bottom:0px;"><b>Department</b></p>
        </div>
        <div class="col-md-3">
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; Jane Doe</p>
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; 20 Jul'16 01:15 AM</p>
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; 30 Jul'16 01:15 AM</p>
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; JOH-INV-001</p>
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; Outpatient Department</p>
        </div>
      </div>
      <div class="row mb5" style="border-bottom:1px solid #eee;">
        <div class="col-md-1"><b style="color:#000;">S.No</b></div>
        <div class="col-md-3"><b style="color:#000;">Service Name</b></div>
        <div class="col-md-2 text-right"><b style="color:#000;">Quantity</b></div>
        <div class="col-md-2 text-right"><b style="color:#000;">Unit Price</b></div>
        <div class="col-md-2 text-right"><b style="color:#000;">Price</b></div>
      </div>
      <div class="row service_list">
        <div class="col-md-1">
          <b style="color:#000;">1.</b>
        </div>
        <div class="col-md-3">
          <b style="color:#000;">Medication - Combiflam</b>
        </div>
        <div class="col-md-2 text-right">
          <b style="color:#000;">10</b>
        </div>
        <div class="col-md-2 text-right">
          <b style="color:#000;">20</b>
        </div>
        <div class="col-md-2 text-right">
          <b style="color:#000;">200</b>
        </div>
      </div>
      <div class="row service_list">
        <div class="col-md-1">
          <b style="color:#000;">2.</b>
        </div>
        <div class="col-md-3">
          <b style="color:#000;">Operation - Surgery Name</b>
        </div>
        <div class="col-md-2 text-right">
          <b style="color:#000;">1</b>
        </div>
        <div class="col-md-2 text-right">
          <b style="color:#000;">10000</b>
        </div>
        <div class="col-md-2 text-right">
          <b style="color:#000;">10000</b>
        </div>
      </div>
      <hr>
      <div class="row invoice_calculation_list">
        <div class="row mb5">
          <div class="col-md-3 col-md-offset-5 text-right">
            <b>Gross Bill Total :</b>
          </div>
          <div class="col-md-2 text-right">
            <b style="color:#000;">10200</b>
          </div>
        </div>
        <div class="row mb5">
          <div class="col-md-3 col-md-offset-5 text-right">
            <b>Discount :</b>
          </div>
          <div class="col-md-2 text-right">
            <b>0</b>
          </div>
        </div>
        <div class="row mb5">
          <div class="col-md-5">
            <b>Mode Of Payment :</b> Cash
          </div>
          <div class="col-md-3 text-right">
            <b>Net Amount :</b>
          </div>
          <div class="col-md-2 text-right">
            <b style="color:#000;">10200</b>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <% if @print_setting.try(:customised_footer) %>
    <div class="row" style="padding-bottom: 1cm">
      <div class="col-md-12" style="margin-bottom: <%=@print_setting.try(:footer_height).to_i%>cm;">
        <div>
          <%=raw @print_setting.try(:footer_text) %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<style type="text/css">
  .fixed_font * {
    font-size: 10px;
  }
</style>

<script>
  $(".setting-warning").slideDown("slow");
</script>