<style type="text/css">
  h5.subtitle.mb5{
    font-size: 12px;
  }
  /*.panel.panel-default.panel_b{*/
    /*height: 240px;*/
    /*max-height: 240px;*/
    /*min-height: 240px;*/
  /*}*/
</style>

<div class="row">
  <div class="col-md-4">
    <%= render partial: "analytics/partials/patients_count_by_complications" %>
  </div>

  <div class="col-md-4">
    <%= render partial: "analytics/partials/facility_wise_elective_emergency" %>
  </div>
  <div class="col-md-4">
    <%= render partial: "analytics/partials/patients_count_bcva_near" %>
  </div>



<!-- static graphs below -->

  <div class="col-md-4">
    <%= render partial: "analytics/partials/patients_count_bcva_far"%>
  </div>
  <div class="col-md-4">
    <%= render partial: "analytics/partials/patients_count_by_diagnosis_gender_cataract"%>
   
  </div>
  <div class="col-md-4">
    <%= render partial: "analytics/partials/patients_count_by_diagnosis_gender_cornea"%>
  </div>

  <div class="col-md-4">
    <%= render partial: "analytics/partials/patients_count_by_surgery_type" %>
  </div>
  <div class="col-md-4">
    <%= render partial: "analytics/partials/patients_count_by_surgeries_cornea" %>
  </div>
  <div class="col-md-4">
     <%= render partial: "analytics/partials/patients_count_by_surgeries_cataract" %>
  </div>


  <div class="col-md-4">
    <%= render partial: "analytics/partials/patients_count_by_surgery_age_seg_cataract"%>
  </div>
  <div class="col-md-4">
    <%= render partial: "analytics/partials/patients_count_by_surgery_age_seg_cornea"%>
  </div>
  <div class="col-md-4">
    <%= render partial: "analytics/partials/patients_count_by_diagnosis"%>
  </div>
</div>


<div class="modal_wrapper">
  <%#= render partial: "analytics/patient_surgical/modals/complicated_surgery_modal" %>
  <%#= render partial: "analytics/patient_surgical/modals/elective_emergency_modal" %>
</div>