<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">Edit Custom Investigation</h4>
    </div>
     <%= form_for(@investigation, :html=>{:id=>'edit_custom_radiology_investigation'}, :remote=>true) do |f| %>
        
      <div class="modal-body form-bordered">
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-6">
            <b>Investigation Name: </b>  
            <%= text_field_tag "custom_radiology_investigation[investigation_name]", @investigation.investigation_name ,class: 'form-control', placeholder: 'Enter new Investigation name'  %>
          </div>
          <div class="col-sm-3">
            <b>Specialty:</b>
            <%= f.select :specialty_id, options_for_select(@available_specialties.map { |ele| [ele[:name], ele[:id]] }, @investigation.specialty_id),{ :include_blank => 'Select any Specialty' }, { :class => 'form-control specialty_dropdown' } %>
          </div>
        </div>
      </div> 

      <div class="modal-footer">
        <%= submit_tag "Update",{:class => 'btn btn-success', :onclick => 'validate_radiology_form()'}%>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  validate_radiology_form()
   function validate_radiology_form() {
    $("#edit_custom_radiology_investigation").validate({
      rules: {
        "custom_radiology_investigation[investigation_name]": {
          remote:"/custom_radiology_investigations/inv_name_validation?saved_inv_name=<%= @investigation.investigation_name %>",
          required: true,
          minlength: 3
        },
        "custom_radiology_investigation[specialty_id]":{
          required: true
        }
      },
      messages: {
        "custom_radiology_investigation[investigation_name]": {
          required: "Please fill the Investigation name.",
          remote: "Name already exist, type another"
        },
        "custom_radiology_investigation[specialty_id]":{
          required: "Please select any Specialty"
        }
      }
    });

  }

</script>

