<% @count = 0 %>
<div class="col-sm-12 text-center" style="margin-bottom:10px;">
  <% @invoices.reverse.each do |invoice|%>
    <% @count = @count + 1 %>
    <% @invoice = invoice %>
     <div class="row" style="border-bottom: 1px solid #ccc;padding: 5px 0;margin: 10px 0;">
        <div class="col-xs-12" style="padding-left: 10px;padding-right: 2px;">
          <% if invoice.is_canceled  %>
            <p class="text-center" style="color: #d43f3a"><b>
              Bill Date : <%= invoice.created_at.strftime('%d %b %Y').upcase %> - Cancelled
              <% if invoice.is_refunded %> / Refunded(<%= invoice.try(:refund_amount) %>) <% end %>
            </b></p>
          <% elsif invoice.is_refunded %>
            <p class="text-center" style="color: #000"><b>Bill Date : <%= invoice.created_at.strftime('%d %b %Y').upcase %> - Refunded(<%= invoice.try(:refund_amount) %>)</b></p>
          <% else %>
            <p class="text-center" style="color: #000"><b>Bill Date : <%= invoice.created_at.strftime('%d %b %Y').upcase %></b></p>
          <% end %>
        </div>
        <div class="col-xs-12" style="padding-left: 10px;padding-right: 2px;border: 1px solid #aaa;padding: 20px;">
          <% @skip_patient_info = true %>
          <% if @invoice.tax_enabled %>
            <%= render partial: 'invoice/opd/show_tax_enabled.html.erb' %>
          <% else %>
            <%= render partial: 'invoice/opd/show_tax_disabled.html.erb' %>
          <% end %>
        </div>
    </div>
  <% end %>
</div>

<% if @count == 0 %>
  <div class="text-center" style="margin-top:20%;">
    <b style="font-size: 20px;">No Bills</b>
  </div>
<% end %>