<% @count = 0 %>
<div class="col-sm-12 text-center" style="margin-bottom:10px;">
  <% @optical.each do |optical| %>
    <% intermediate = !optical.prescription_type.nil? %>
    <% @count = @count+1 %>
     <div class="row" style="border-bottom: 1px solid #ccc;padding: 5px 0;margin: 10px 0;">
        <div class="col-xs-12" style="padding-left: 10px;padding-right: 2px;">
          <p class="text-center" style="color: #000"><b><%= "Intermediate" if intermediate %> Glasses Prescription Date : <%= optical.created_at.strftime('%d %b %Y').upcase %></b></p>
        </div>
        <div class="col-xs-6" style="padding-left: 10px;padding-right: 2px;">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th width="20%" style="padding-top:0px;padding-bottom:0px;"><div class="text-center">R/OD</div></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="padding:0;">
                  <div class="row">
                    <div class="col-xs-12">
                      <table class="mb3 table-bordered" style="margin-left: 0%; width: 100%">
                        <thead>
                          <tr>
                            <th width="20%" style="padding: 5px;text-align: center;"></th>
                            <th width="20%" style="padding: 5px;text-align: center;">Sph</th>
                            <th width="20%" style="padding: 5px;text-align: center;">Cyl</th>
                            <th width="20%" style="padding: 5px;text-align: center;">Axis</th>
                            <th width="20%" style="padding: 5px;text-align: center;">Vision</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td style="padding: 5px;text-align: center;">
                              Distant
                            </td>
                            <td style="padding: 5px;text-align: center;">
                              <%= intermediate ? optical.r_intermediate_glasses_prescriptions_distant_sph : optical.r_glassesprescriptions_distant_sph %>
                            </td>
                            <td style="padding: 5px;text-align: center;">
                              <%= intermediate ? optical.r_intermediate_glasses_prescriptions_distant_cyl : optical.r_glassesprescriptions_distant_cyl %>
                            </td>
                            <td style="padding: 5px;text-align: center;">
                              <%= intermediate ? optical.r_intermediate_glasses_prescriptions_distant_axis : optical.r_glassesprescriptions_distant_axis %>
                            </td>
                            <td style="padding: 5px;text-align: center;">
                              <%= intermediate ? optical.r_intermediate_glasses_prescriptions_distant_vision : optical.r_glassesprescriptions_distant_vision %>
                            </td>
                          </tr>
                          <tr>
                            <td style="padding: 5px;text-align: center;">
                              Near
                            </td>
                            <td style="padding: 5px;text-align: center;">
                              <%= intermediate ? optical.r_intermediate_glasses_prescriptions_near_sph : optical.r_glassesprescriptions_near_sph %>
                            </td>
                            <td style="padding: 5px;text-align: center;">
                              <%= intermediate ? optical.r_intermediate_glasses_prescriptions_near_cyl : optical.r_glassesprescriptions_near_cyl %>
                            </td>
                            <td style="padding: 5px;text-align: center;">
                              <%= intermediate ? optical.r_intermediate_glasses_prescriptions_near_axis : optical.r_glassesprescriptions_near_axis %>
                            </td>
                            <td style="padding: 5px;text-align: center;">
                              <%= intermediate ? optical.r_intermediate_glasses_prescriptions_near_vision : optical.r_glassesprescriptions_near_vision %>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xs-6" style="padding-left: 2px;padding-right: 10px;">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th width="20%" style="padding-top:0px;padding-bottom:0px;"><div class="text-center">L/OS</div></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="padding:0;">
                  <div class="row">
                    <div class="col-xs-12">
                      <table class="mb3 table-bordered" style="margin-left: 0%; width: 100%">
                        <thead>
                          <tr>
                            <th width="20%" style="padding: 5px;text-align: center;"></th>
                            <th width="20%" style="padding: 5px;text-align: center;">Sph</th>
                            <th width="20%" style="padding: 5px;text-align: center;">Cyl</th>
                            <th width="20%" style="padding: 5px;text-align: center;">Axis</th>
                            <th width="20%" style="padding: 5px;text-align: center;">Vision</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td style="padding: 5px;text-align: center;">
                              Distant
                            </td>
                            <td style="padding: 5px;text-align: center;">
                              <%= intermediate ? optical.l_intermediate_glasses_prescriptions_distant_sph : optical.l_glassesprescriptions_distant_sph %>
                            </td>
                            <td style="padding: 5px;text-align: center;">
                              <%= intermediate ? optical.l_intermediate_glasses_prescriptions_distant_cyl : optical.l_glassesprescriptions_distant_cyl %>
                            </td>
                            <td style="padding: 5px;text-align: center;">
                              <%= intermediate ? optical.l_intermediate_glasses_prescriptions_distant_axis : optical.l_glassesprescriptions_distant_axis %>
                            </td>
                            <td style="padding: 5px;text-align: center;">
                              <%= intermediate ? optical.l_intermediate_glasses_prescriptions_distant_vision : optical.l_glassesprescriptions_distant_vision %>
                            </td>
                          </tr>
                          <tr>
                            <td style="padding: 5px;text-align: center;">
                              Near
                            </td>
                            <td style="padding: 5px;text-align: center;">
                              <%= intermediate ? optical.l_intermediate_glasses_prescriptions_near_sph : optical.l_glassesprescriptions_near_sph %>
                            </td>
                            <td style="padding: 5px;text-align: center;">
                              <%= intermediate ? optical.l_intermediate_glasses_prescriptions_near_cyl : optical.l_glassesprescriptions_near_cyl %>
                            </td>
                            <td style="padding: 5px;text-align: center;">
                              <%= intermediate ? optical.l_intermediate_glasses_prescriptions_near_axis : optical.l_glassesprescriptions_near_axis %>
                            </td>
                            <td style="padding: 5px;text-align: center;">
                              <%= intermediate ? optical.l_intermediate_glasses_prescriptions_near_vision : optical.l_glassesprescriptions_near_vision %>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xs-6" style="padding-left: 2px;padding-right: 10px;">

          <% if optical.r_acceptance_framematerial.present? || optical.r_intermediate_acceptance_framematerial.present? %>
            <div class="col-md-4 text-center">
              <span><b style="color:#444;">Frame Material </b><br> <%= intermediate ? optical.r_intermediate_acceptance_framematerial : optical.r_acceptance_framematerial %></span>
            </div>
          <% end %>
          <% if optical.r_acceptance_ipd.present? || optical.r_intermediate_acceptance_ipd.present? %>
            <div class="col-md-4 text-center">
              <span><b style="color:#444;">IPD </b><br> <%= intermediate ? optical.r_intermediate_acceptance_ipd : optical.r_acceptance_ipd %></span>
            </div>
          <% end %>
          <% if optical.r_acceptance_lensmaterial.present? || optical.r_intermediate_acceptance_lensmaterial.present? %>
            <div class="col-md-4 text-center">
              <span><b style="color:#444;">Lens Material </b><br> <%= intermediate ? optical.r_intermediate_acceptance_lensmaterial : optical.r_acceptance_lensmaterial %></span>
            </div>
          <% end %>
          <% if optical.r_acceptance_lenstint.present? || optical.r_intermediate_acceptance_lenstint.present? %>
            <div class="col-md-4 text-center">
              <span><b style="color:#444;">Lens Tint </b><br> <%= intermediate ? optical.r_intermediate_acceptance_lenstint : optical.r_acceptance_lenstint %></span>
            </div>
          <% end %>
          <% if optical.r_acceptance_typeoflens.present? || optical.r_intermediate_acceptance_typeoflens.present? %>
            <div class="col-md-4 text-center">
              <span><b style="color:#444;">Type of Lens </b><br> <%= intermediate ? optical.r_intermediate_acceptance_typeoflens : optical.r_acceptance_typeoflens %></span>
            </div>
          <% end %>

          <% if optical.r_acceptance_dia.present? %>
            <div class="col-md-4 text-center">
              <span><b style="color:#444;">Dia </b><br> <%= optical.r_acceptance_dia %></span>
            </div>
          <% end %>
          <% if optical.r_acceptance_size.present? %>
            <div class="col-md-4 text-center">
              <span><b style="color:#444;">Size </b><br> <%= optical.r_acceptance_size %></span>
            </div>
          <% end %>
          <% if optical.r_acceptance_fittingheight.present? %>
            <div class="col-md-4 text-center">
              <span><b style="color:#444;">Fitting Height </b><br> <%= optical.r_acceptance_fittingheight %></span>
            </div>
          <% end %>
          <% if optical.r_acceptance_prismbase.present? %>
            <div class="col-md-4 text-center">
              <span><b style="color:#444;">Prism Base </b><br> <%= optical.r_acceptance_prismbase %></span>
            </div>
          <% end %>

          <% if optical.r_acceptance_comments.present? || optical.r_intermediate_acceptance_comments.present? %>
              <div class="col-md-12">
                <span><b style="color:#444;">Advise: </b> <%= intermediate ? optical.r_intermediate_acceptance_comments : optical.r_acceptance_comments %>
              </div>
          <% end %>
        </div>
        <div class="col-xs-6" style="padding-left: 2px;padding-right: 10px;">

          <% if optical.l_acceptance_framematerial.present? || optical.l_intermediate_acceptance_framematerial.present? %>
            <div class="col-md-4 text-center">
              <span><b style="color:#444;">Frame Material </b><br> <%= intermediate ? optical.l_intermediate_acceptance_framematerial : optical.l_acceptance_framematerial %></span>
            </div>
          <% end %>
          <% if optical.l_acceptance_ipd.present? || optical.l_intermediate_acceptance_ipd.present? %>
            <div class="col-md-4 text-center">
              <span><b style="color:#444;">IPD </b><br> <%= intermediate ? optical.l_intermediate_acceptance_ipd : optical.l_acceptance_ipd %></span>
            </div>
          <% end %>
          <% if optical.l_acceptance_lensmaterial.present? || optical.l_intermediate_acceptance_lensmaterial.present? %>
            <div class="col-md-4 text-center">
              <span><b style="color:#444;">Lens Material </b><br> <%= intermediate ? optical.l_intermediate_acceptance_lensmaterial : optical.l_acceptance_lensmaterial %></span>
            </div>
          <% end %>
          <% if optical.l_acceptance_lenstint.present? || optical.l_intermediate_acceptance_lenstint.present? %>
            <div class="col-md-4 text-center">
              <span><b style="color:#444;">Lens Tint </b><br> <%= intermediate ? optical.l_intermediate_acceptance_lenstint : optical.l_acceptance_lenstint %></span>
            </div>
          <% end %>
          <% if optical.l_acceptance_typeoflens.present? || optical.l_intermediate_acceptance_typeoflens.present? %>
            <div class="col-md-4 text-center">
              <span><b style="color:#444;">Type of Lens </b><br> <%= intermediate ? optical.l_intermediate_acceptance_typeoflens : optical.l_acceptance_typeoflens %></span>
            </div>
          <% end %>

          <% if optical.l_acceptance_dia.present? %>
            <div class="col-md-4 text-center">
              <span><b style="color:#444;">Dia </b><br> <%= optical.l_acceptance_dia %></span>
            </div>
          <% end %>
          <% if optical.l_acceptance_size.present? %>
            <div class="col-md-4 text-center">
              <span><b style="color:#444;">Size </b><br> <%= optical.l_acceptance_size %></span>
            </div>
          <% end %>
          <% if optical.l_acceptance_fittingheight.present? %>
            <div class="col-md-4 text-center">
              <span><b style="color:#444;">Fitting Height </b><br> <%= optical.l_acceptance_fittingheight %></span>
            </div>
          <% end %>
          <% if optical.l_acceptance_prismbase.present? %>
            <div class="col-md-4 text-center">
              <span><b style="color:#444;">Prism Base </b><br> <%= optical.l_acceptance_prismbase %></span>
            </div>
          <% end %>

          <% if optical.l_acceptance_comments.present? || optical.l_intermediate_acceptance_comments.present? %>
              <div class="col-md-12 ">
                <span><b style="color:#444;">Advise: </b> <%= intermediate ? optical.l_intermediate_acceptance_comments : optical.l_acceptance_comments %>
              </div>
          <% end %>
        </div>
    </div>
  <% end %>
</div>

<% if @count == 0 %>
  <div class="text-center" style="margin-top:20%;">
    <b style="font-size: 20px;">No Optical Prescriptions</b>
  </div>
<% end %>