<% @empty = 0 %>
<div class="sidebar-panel" style="background: #fff;">
  <div class="row medication-row" style="margin:20px;">
    <div class="col-sm-12 text-center" style="margin-bottom:10px;">
      <% @opd_record.each do |opd_record| %>
        <% if opd_record.has_procedure? || opd_record.procedurecomments != "" %>
          <% @empty = @empty + 1 %>
          <h4 style="font-size: 14px;">Procedures Date : <%= opd_record.created_at.strftime('%d %b %Y').upcase %></h4>
          <hr style="margin:5px;">
          <div class="procedure mb5" id="procedure">
            <% procedure_counter = opd_record.procedure.size %>
            <% advised_counter = 0%>
            <% performed_counter = 0%>
            <% advised_total = 0%>
            <% performed_total = 0%>
            <% procedures.procedure.each_with_index do |elem, i| %>
              <%if elem.procedurestage == "A"%>
                <% advised_total = advised_total+1 %>
              <%else%>
                <% performed_total = performed_total+1 %>
              <%end%>
            <%end%>
            <% if procedure_counter > 0 %>
              <div class="row">
                <%if advised_total>0%>
                <div class="col-md-2">
                  <strong>Advised:</strong>
                </div>
                <%end%>
                <div class="col-md-10">
                  <% opd_record.procedure.each_with_index do |elem, i| %>
                  <%if elem.procedurestage == "A"%>
                  <!--<div class="row col-md-6">-->
                  <% advised_counter = advised_counter+1 %>
                  <strong><%= advised_counter%>. </strong><%= elem.procedurename %>
                  <% if elem.procedureside? %>(<%= procedures.get_label_for_procedure_side(elem.procedureside) %>)<% end %>
                  <%if advised_counter < advised_total%><%else%><%end%> &nbsp;
                  <!--</div>-->
                  <%end%>
                  <%end%>
                </div>
              </div>
              <div class="row">
                <%if performed_total>0%>
                <div class="col-md-2">
                  <strong>Performed:</strong>
                </div>
                <%end%>
                <div class="col-md-10">
                  <% procedures.procedure.each_with_index do |elem, i| %>
                  <%if elem.procedurestage == 'P'%>
                  <!--<div class="row col-md-6">-->
                  <% performed_counter = performed_counter+1 %>
                  <strong><%= performed_counter%>. </strong><%= elem.procedurename %>
                  <% if elem.procedureside? %>
                  (<%= procedures.get_label_for_procedure_side(elem.procedureside) %>)
                  <% end %>
                  <% if elem.procedurestage == 'P' && elem.procedure_performed.present? %>
                  - <%= elem.procedure_performed%>
                  <% end %><%if performed_counter < performed_total%><%else%><%end%> &nbsp;
                  <!--</div>-->
                  <%end%>
                  <%end%>
                </div>
              </div>
            <% end %>
            <div class="">
              <% if procedures.procedurecomments != "" %>
                <li> <%= procedures.procedurecomments %> </li>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if @empty == 0 %>
    <div class="text-center" style="margin-top:20%;">
      <b style="font-size: 20px;">No Procedures</b>
    </div>
  <% end %>
</div>