<% @current_facility_time_zone = current_facility.time_zone%>
<% @patient_summary_timeline.each.with_index do |pst,i| %>
  <hr style="margin:5px;">
  <div class="row">
    <div class="col-sm-1 text-center">
      <span style="font-size:12px;"><%= pst.encounter_date_time.in_time_zone(@current_facility_time_zone).strftime("%I:%M%p") %> <%= pst.encounter_date_time.in_time_zone(@current_facility_time_zone).strftime("%d/%m/%y") %></span>
    </div>
    <div class="col-sm-11">
      <div class="row">
        <div class="col-sm-11">
          <span style="font-size:12px;line-height:0;">
            <% if pst.comments[0]&.split&.include? 'BOM'  %>
              <% comment = "BILL OF MATERIAL #{pst.comments[0]&.split&.last}" %>
            <% else %>
              <% comment = pst.comments[0] %>
            <% end %>
            <b style="color:#000;"><%= comment %></b>
            <br>At: <b><%= pst.facility_name %></b>&nbsp;|&nbsp;
            
            <% if pst.user_id != nil %>
              <% by_name = pst.user_name %>
            <% elsif pst.department_id != nil %>
              <% by_name = pst.department_name %>
            <% else %>
              <% by_name = pst.try(:last_state_name) %>
            <% end %>
            By: <b><%= by_name %></b>
            
            <% if pst.users %>&nbsp;|&nbsp;
              For: <b><%= pst.users[0][1] %></b>
            <% end %>

            <% if pst.specialty_id.present? %>&nbsp;|&nbsp;
              <% specialty_name = TemplatesHelper.get_speciality_folder_name(pst.specialty_id) %>
              In: <b><%= specialty_name.split('_').map{ |ele| ele.capitalize }.join(' ') %> Specialty</b> 
            <% end %>
          </span>
        </div>
        <div class="col-sm-1 text-right">
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if @patient_summary_timeline.count == 0 %>
  <hr style="margin:5px;">
  <div class="row">
    <div class="col-sm-12 text-center">
      <b style="font-size: 12px;">No Sub-Event</b>
    </div>
  </div>
<% end %>