<% if @mode == 'tabview' %>
  <% @timeline_div_width = '100%' %>
<% else %>
  <% @timeline_div_width = '70.83%' %>
<% end %>

<ul class="nav nav-pills nav-justified filter-header" style="background: #fff;position:fixed;width:<%=@timeline_div_width%>;z-index:555;">
  <li class="<%= 'active' if @filter == "All" || !@filter.present? %>">
    <a href="#upload_filter" class="filter-tab" data-tab-id="All" data-toggle="tab"><strong>All</strong></a>
  </li>
  <li class="<%= 'active' if @filter == "560cc6f72b2e26135d000007" %>">
    <a href="#upload_filter" class="filter-tab" data-tab-id="560cc6f72b2e26135d000007" data-toggle="tab"><strong>Drawings</strong></a>
  </li>
  <li class="<%= 'active' if @filter == "560cc6f72b2e26135d000005" %>">
    <a href="#upload_filter" class="filter-tab" data-tab-id="560cc6f72b2e26135d000005" data-toggle="tab"><strong>OPD</strong></a>
  </li>
  <li class="<%= 'active' if @filter == "560cc6f72b2e26135d000006" %>">
    <a href="#upload_filter" class="filter-tab" data-tab-id="560cc6f72b2e26135d000006" data-toggle="tab"><strong>IPD</strong></a>
  </li>
  <li class="<%= 'active' if @filter == "560cc6f72b2e26135d000000" %>">
    <a href="#upload_filter" class="filter-tab" data-tab-id="560cc6f72b2e26135d000000" data-toggle="tab"><strong>Prescriptions</strong></a>
  </li>
  <li class="<%= 'active' if @filter == "560cc6f72b2e26135d000001" %>">
    <a href="#upload_filter" class="filter-tab" data-tab-id="560cc6f72b2e26135d000001" data-toggle="tab"><strong>Radiology</strong></a>
  </li>
  <li class="<%= 'active' if @filter == "560cc6f72b2e26135d000002" %>">
    <a href="#upload_filter" class="filter-tab" data-tab-id="560cc6f72b2e26135d000002" data-toggle="tab"><strong>Laboratory</strong></a>
  </li>
  <% if current_organisation["specialty_ids"].include?("309988001") %>
    <li class="<%= 'active' if @filter == "560cc6f72b2e26135d000008" %>">
      <a href="#upload_filter" class="filter-tab" data-tab-id="560cc6f72b2e26135d000008" data-toggle="tab"><strong>Ophthal</strong></a>
    </li>
  <% end %>
  <li class="<%= 'active' if @filter == "560cc6f72b2e26135d000003" %>">
    <a href="#upload_filter" class="filter-tab" data-tab-id="560cc6f72b2e26135d000003" data-toggle="tab"><strong>Others</strong></a>
  </li>
  <li class="<%= 'active' if @filter == "560cc6f72b2e26135d000004" %>">
    <a href="#upload_filter" class="filter-tab" data-tab-id="560cc6f72b2e26135d000004" data-toggle="tab"><strong>Insurance</strong></a>
  </li>
</ul>
<div class="tab-content assets-view-content" id="links" style="box-shadow: none;background:#fff;margin-top: 25px;">
  <div class="tab-pane active" id="upload_filter">
    <%= render partial: "patients/display_all_patient_asset.html.erb" %>
  </div>
</div>

<style type="text/css">
  .filter-tab {
    padding: 5px 5px 5px 0 !important;
  }

  .filter-header li {
    border:1px solid #ccc;
    border-top: 0;
    border-left: 0;
  }

  .filter-header li:last-child {
    border-right: 0;
  }
</style>
<script type="text/javascript">
  var mode = "<%=@mode%>"

  $(".filter-tab").on('click', function(){
    var filter = $(this).data("tab-id")
    $.ajax({
      type: "GET",
      dataType: "script",
      data: {
        patient_id: '<%= @patient.id.to_s %>',
        filter: filter,
        mode: mode
      },
      url: "/patient_summary_timelines/filter_uploads"
    })
  })
</script>