<div class="row transaction-title">
  <div class="col-sm-12 text-center" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;"><strong>Return Item</strong></div>
</div>
<div class="row transaction-common-fields mb5" style="margin-top:15px;">
  <div class="col-sm-6">
    <strong>Note</strong><br>
    <%= f.text_field :note, { class: 'form-control p7_10 fullname', placeholder: 'Return Note' } %>
  </div>
  <div class="col-sm-2">
    <strong>Vendor</strong><br>
    <%= f.text_field :vendor_location_address, { value: @vendor_location_address, class: 'form-control p7_10', readonly: 'readonly',style: "background-image: none;" } %>
  </div>
  <div class="col-sm-2">
    <strong>Return Date</strong><br>
    <% unless Authorization::PolicyHelper.verification(current_user.id,"HGP-100-108-101") %>
      <%= f.text_field :transaction_date, { value: Date.current.strftime('%d/%m/%Y'), class: 'form-control p7_10 fullname', placeholder: 'Date of transition', readonly: 'readonly' } %>
    <% else %>
      <%= f.text_field :transaction_date, { value: Date.current.strftime('%d/%m/%Y'), class: 'form-control p7_10 fullname transaction-datepicker', placeholder: 'Date of transition' } %>
    <% end %>
  </div>
  <div class="col-sm-2">
    <strong>Return Time</strong><br>
    <%= f.text_field :transaction_date, { value: Time.current.strftime("%I:%M %p"), class: 'form-control p7_10 fullname transaction-datepicker', placeholder: "Date of transition", readonly: 'readonly' } %>
  </div>
</div>

<%= f.hidden_field :transaction_time, { value: Time.now } %>
<%#= f.hidden_field :purchase_transaction_id, { value: @purchase.id } %>
<%= f.hidden_field :entry_type, { value: 'Purchase Return' } %>
<%= f.hidden_field :entered_by, { value: current_user.fullname } %>
<%= f.hidden_field :user_id, { value: current_user.id } %>
<%= f.hidden_field :store_id, { value: @inventory_store.id } %>
<%= f.hidden_field :store_name, { value: @inventory_store.name } %>
<%= f.hidden_field :facility_id, { value: current_facility.id } %>
<%= f.hidden_field :organisation_id, { value: current_user.organisation_id } %>
<%= f.hidden_field :department_name, value: @inventory_store.department_name %>
<%= f.hidden_field :department_id, value: @inventory_store.department_id %>
<%= f.hidden_field :vendor_mobile, value: @vendor.mobile_number %>
<%= f.hidden_field :return_type, value: 'return_against_all' %>
<%= f.hidden_field :vendor_id, value: @vendor.id %>
<%= f.hidden_field :vendor_name, value: @vendor.name %>
<%= f.hidden_field :vendor_address, value: @vendor_location_address %>
<%= f.hidden_field :vendor_location_name, value: @vendor_location.name %>
<%= f.hidden_field :vendor_location_id, value: @vendor_location.id %>

<div class="row mb5 vendor-table-height" style="border-bottom:1px solid #eee;border-top:1px solid #eee;overflow-y: auto;">

  <div class="transaction-lots-list" style="margin-top:15px;">
    <table class="table transaction-lots-table table-striped table-bordered" style="padding:0">
      <thead class="transaction-table-head">
        <tr class='thead-fixable'>
          <th class='thead-fix'>#</th>
          <th class='thead-fix'>Description</th>
          <th class='thead-fix'>Unit Cost W/O Tax</th>
          <th class='thead-fix'>Net Unit Cost W/O Tax</th>
          <th class='thead-fix'>Margin</th>
          <th class='thead-fix'>GRN Qty.</th>
          <th class='thead-fix'>GRN Free Qty.</th>
          <th class='thead-fix'>Returnable Qty.</th>
          <th class='thead-fix'>Available Qty.</th>
          <th class='thead-fix'>Return Qty</th>
          <th class='thead-fix'>Tax Rate</th>
          <th class='thead-fix'>Net Amount</th>
          <th class='thead-fix'>Remark</th>
          <th class='thead-fix'>Action</th>
        </tr>
      </thead>
      <tbody class="transaction-table-body" style="overflow-y: auto;">
      </tbody>
    </table>
  </div>

  <!-- <div class="transaction-table-body" style="overflow-y: auto; min-height: 150px;"></div> -->
</div>

<%= render partial: 'inventory/transaction/vendor_returns/payment_details.html', locals: { f: f } %>

<style>
  .transaction-datepicker{
    cursor: pointer !important;
  }
  .disabled_row{
    pointer-events: none;
  }
  .transaction-datepicker:disabled {
    cursor: not-allowed !important;
  }

  .font_size {
    font-size: 11px;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .text-labels {
    font-weight: bold;
  }
  .check-font table tr th {
    padding: 2px 5px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
  }

  .check-font table tr td {
    padding: 2px 5px;
    text-align: center;
  }

  .check-font {
    font-size: 11px;
  }
  .thead-fix{
    background-color: green;
  }

</style>
