<% if @returns.length > 0 %>
  <% @returns.each do |ret| %>
    <tr id="<%= ret.id %>" class="inventory-list-row">
      <td style="font-size: 10px; color: #17a08c;" class="col-md-4"><%= ret.transaction_date.try(:strftime, '%Y-%m-%d') %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= ret.transaction_time&.strftime("%I:%M%p") %></td>
      <td style="font-size: 10px; color: #17a08c;" class="col-md-3"><%= ret.note.try(:capitalize) %></td>
      <td class="col-md-3"><%= ret.vendor_name %></td>
      <td class="col-md-2 text-right"><%= ret.return_amount %></td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td align="center"><strong style="font-size: 20px;">Nothing to Display</strong></td>
  </tr>
<% end %>
