<% total_lots = 0 %>
<% if @purchases.length > 0 %>
  <% @purchases.each_with_index do |purchase, index| %>
    <% lots = Inventory::Item::Lot.where(transaction_id: purchase.id, store_id: @inventory_store.id, 'stock' => { '$gte' => 1 }) %>
    <% total_lots += lots.size %>
    <% if lots.size > 0 %>
      <tr id="<%= purchase.id%>" class="inventory-purchase-row" style="background-color:  #6fbbde; color: white;<%= 'border-bottom:  2px solid white;' if index > 0 %>">
        <td style="font-size: 11px;#" class="col-md-5"><%= purchase.transaction_date %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= purchase.created_at&.strftime("%I:%M%p") %></td>
        <td class="col-md-4"><b><%= purchase.purchase_display_id %></b>
        <td class="col-md-3"><b><%= purchase.total_cost %></b></td>
      </tr>
      <tr class="list-head">
        <td class="col-md-5" style="color: white">Description</td>
        <td class="col-md-3" style="color: white">Batch</td>
        <td class="col-md-2" style="color: white">Stock</td>
        <td class="col-md-2" style="color: white">Price</td>
      </tr>
      <% lots.each do |item| %>
        <tr id="<%= item.id%>" class="inventory-list-row">
          <td class="col-md-5"><%= item.description %></td>
          <td class="col-md-3"><%= item.batch_no %></td>
          <td class="col-md-2"><%= item.stock %></td>
          <td class="col-md-2"><%= item.unit_cost %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
  <% if total_lots == 0 %>
    <tr>
      <td align="center"><strong style="font-size: 20px;">Nothing to Display</strong></td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td align="center"><strong style="font-size: 20px;">Nothing to Display</strong></td>
  </tr>
<% end %>

<style type="text/css">
  div.items-lots {
  width: 24%;
  height: 300px;
  overflow: scroll;
}
</style>
