<div class="container-fluid" id="freeInvoiceEdit" style="border-bottom:1px solid #eee;">
  <div class="row mb5">
    <div class="row mb5 col-md-12">
      <% v_name = @return_transaction.vendor_location_address.present? ? @return_transaction.vendor_location_address : @return_transaction.vendor_name %>
      <div class="col-md-4 font_size"><b>Vendor:&nbsp;&nbsp;<%= v_name %></b></div>
      <div class="col-md-4 font_size"><b>Mobile:&nbsp;&nbsp;<%= @return_transaction.vendor_mobile %></b></div>
      <div class="col-md-4 font_size"><b>Total Cost:&nbsp;&nbsp;<%= @return_transaction.total_cost %></b></div>
    </div>
    <div class="row mb5 col-md-12">
      <div class="col-md-4 font_size"><b>Transaction ID:&nbsp;&nbsp;<%= @return_transaction.purchase_return_id %></b></div>
      <div class="col-md-4 font_size"><b>Created By:&nbsp;&nbsp;<%= @return_transaction.entered_by %></b></div>
      <div class="col-md-4 font_size"><b>Date|Time:&nbsp;&nbsp;<%= @return_transaction.transaction_date.try(:strftime, '%Y-%m-%d') %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= @return_transaction.transaction_time&.strftime("%I:%M%p")%></b></div>
    </div>
    <div class="row mb5 col-md-12">
      <% if @return_transaction.vendor_dl_number.present? %>
        <div class="col-md-4 font_size"><b>DL Number:&nbsp;&nbsp;<%= @return_transaction.vendor_dl_number %></b></div>
      <% end %>
      <% if @return_transaction.vendor_gst_number.present? %>
        <div class="col-md-4 font_size"><b>GST:&nbsp;&nbsp;<%= @return_transaction.vendor_gst_number %></b></div>
      <% end %>
      <% if @return_transaction&.note.present? %>
        <div class="col-md-4 font_size"><b>Note:&nbsp;&nbsp;<%= @return_transaction.note%></b></div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <h4 style="color: #00BFFF;">Item Details:</h4>
  </div>
  <div class="row check-font mt10 mb5">
    <table class="table table table-striped table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Code</th>
          <th>Description</th>
          <th>QTY</th>
          <th>Batch</th>
          <th>Model No.</th>
          <th>U.Price</th>
          <th>Remark</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% @return_transaction.items.each_with_index do |item,index| %>
          <tr>
            <td><%= index + 1%></td>
            <td><%= item.item_code %></td>
            <td><%= item.description&.capitalize %></td>
            <td><%=item.stock %></td>
            <td><%= item.batch_no %></td>
            <td><%= item.model_no %></td>
            <td><%= item.unit_cost.round(2) %></td>
            <td><%= item.remarks %></td>

            <% if item.unit_cost.present? %>
              <% unit_cost = item.unit_cost %>
            <% else %>
              <% unit_cost = 0 %>
            <% end %>
            <% if item.stock.present? %>
              <% stock = item.stock %>
            <% else %>
              <% stock = 0 %>
            <% end %>

            <td><%= (unit_cost * stock).round(2) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <hr style="padding: 0px;margin: 0px;">
  <div class="row mb5" style="border-top: 1px solid #eee">
    <div class="col-md-7 col-md-offset-5 text-labels" style="text-align: right;">
      <div class="col-sm-6 col-lg-6 font_size">
        <b>Amount Before Tax</b>
      </div>
      <div class="col-sm-3 col-lg-3 text-center font_size">
        :
      </div>
      <div class="col-sm-2 font_size" id="">
          <%= @return_transaction.total_cost.to_f.round(2) %>
      </div>
      <% @return_transaction.items.each do |item| %>
         <div class="col-sm-6 font_size">
        <b><%= item.tax_name %></b>
      </div>
      <div class="col-sm-3 text-center font_size">
        :
      </div>
      <div class="col-sm-2 font_size" id="">
        <%= item.purchase_tax_amount %>
      </div>
      <% end %>
      <% if @return_transaction.return_discount.present? %>
        <div class="col-sm-6 font_size">
          <b>Discount</b>
        </div>
        <div class="col-sm-3 text-center font_size">
          :
        </div>
        <div class="col-sm-2 font_size">
          <%= @return_transaction.return_discount.to_f.round(2) %>
        </div>
      <%end%>
      <div class="col-sm-6 font_size">
        <b>Net Return With Tax</b>
      </div>
      <div class="col-sm-3 text-center font_size">
        :
      </div>
      <div class="col-sm-2 font_size" id="">
        <%= @return_transaction.return_amount.to_f.round(2) %>
      </div>
    </div>
  </div>
</div>

<style>
  .font_size {
    font-size: 11px;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .text-labels {
    font-weight: bold;
  }
  .check-font table tr th {
    padding: 2px 5px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
  }

  .check-font table tr td {
    padding: 2px 5px;
    text-align: center;
  }

  .check-font {
    font-size: 11px;
  }
</style>
