<div style="border:1px solid #ccc;">
  <div class="row" style="border-bottom:1px solid #ccc;">
    <div class="col-md-12" style="border-bottom:1px solid #ccc;">
      <% entity_name = @entity&.name.present? ? @entity&.name : @inventory_store.name %>
      <h5 style="text-align: center;"><%= entity_name %></h5>
    </div>
    <div class="row" style="border-bottom:1px solid #ccc;">
      <div class="col-md-3 text-left">
        <% if @inventory_store.asset_path.url %>
          <% unless @inventory_store.asset_path.url.split('/').last == '_old_' %>
            <img width="80" height="80" src="<%= @inventory_store.asset_path.url %>">
          <% end %>
        <%end%>
      </div>
    <!-- <div class="col-sm-6 text-center">
      <%# if @inventory_store.name ==nil || @inventory_store.name == "" || @inventory_store.shop_name == 'org-name' %>
        <h3 style="margin:0px"><%#= current_facility.name %></h3>
      <%#else%>
        <h3 style="margin:0px"><%#= @inventory_store.shop_name %></h3>
      <%#end%>
    </div> -->
    <!-- <div class="col-sm-3 text-right">
      <%# unless @inventory_store.address == 'org-address' %>
        <h5 style="margin: 0px"><%#= @inventory_store.address %></h5>
      <%#end%>
      <%# if @inventory_store.email.present? %>
        <p> <h5 style="margin: 0px"><%#= @inventory_store.email %></h5> </p>
      <%#end%>
      <%# if @inventory_store.mobilenumber.present? %>
        <p> <h5 style="margin: 0px"><%#= @inventory_store.mobilenumber %></h5> </p>
      <%#end%>
    </div> -->
    <div class="col-sm-6 text-center" style="margin-top: 5px;">
          <% unless @inventory_store.address == 'org-address' %>
            <h5 style="margin: 0px"><%= @entity.try(:address)&.present? ? @entity&.address : @inventory_store&.address  %></h5>
          <%end%>
          <% if @inventory_store.email.present? %>
            <p> <h5 style="margin: 0px"><%= @inventory_store.email %></h5> </p>
          <%end%>
          <% if @inventory_store.mobilenumber.present? %>
            <p> <h5 style="margin: 0px"><%= @inventory_store.mobilenumber %></h5> </p>
          <%end%>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-7 text-right">
        <!-- <b><%#= @inventory_store.department_name&.upcase %> RETURN RECEIPT</b> -->
        <b>GRN RETURN / DEBIT NOTE</b>
      </div>
      <div class="col-sm-5">
        <span><b>GSTIN:</b>&emsp;<%=  @inventory_store.gst.present? ? @inventory_store.gst : "NA"  %></span>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="freeInvoiceEdit" style="border-bottom:1px solid #ccc;">
    <div class="col-md-6" style="border-right:1px solid #ccc;">
      <div class="col-md-12"><span><b>GRN Return No.:</b>&emsp;<%= @return_transaction.purchase_return_id %></span></div>
      <div class="col-md-12"><span><b>Created At:</b>&emsp;<%= @return_transaction.store_name %> - <%= @return_transaction.department_name %></span></div>
    </div>
    <div class="col-md-6">
      <div class="col-md-12"><span><b>Return Created On:</b>&emsp;<%= @return_transaction.transaction_date.try(:strftime,"%d-%m-%Y") %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= @return_transaction.transaction_time&.strftime("%I:%M %p")%></span></div>
      <div class="col-md-12"><b>Note:</b>&emsp;<%= @return_transaction.note %></div>
    </div>
  </div>
  <div class="row" style="border-bottom:1px solid #ccc;">
    <div class="col-md-12"><span><b>Vendor Name:</b>&emsp;<%= @return_transaction.vendor_name %></span></div>
    <div class="col-md-12"><span><b>Address:</b>&emsp;<%= @return_transaction.vendor_location_address %></span></div>
    <div class="col-md-12"><span><b>GST No.:</b>&emsp;<%= @return_transaction.vendor_gst_number %></span></div>
  </div>
  <!-- <div class="row">
    <h4 style="color: #00BFFF;">Item Details:</h4>
  </div> -->
  <div class="row check-font mt10 mb5">
    <table class="table table table-striped table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Description</th>
          <th>GRN No.</th>
          <th>GRN Date</th>
          <th>Bill No.</th>
          <th>Bill date</th>
          <th>Challan No.</th>
          <th>Challan Date</th>
          <th>Batch No.</th>
          <th>Expiry</th>
          <th>Net Rate</th>
          <th>Tax</th>
          <th>MRP</th>
          <th>Qty.</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% @return_transaction.items.each_with_index do |item,index| %>
          <tr>
            <% purchase = Inventory::Transaction::Purchase.find_by(id: item.transaction_id) %>
            <td><%= index + 1 %></td>
            <td style="text-align: left;"><%= item.description&.capitalize %></td>
            <td><%= purchase.purchase_display_id %></td>
            <td><%= purchase.transaction_date.try(:strftime,"%d/%m/%Y") %></td>
            <td><%= purchase.bill_number %></td>
            <td><%= purchase.bill_date.try(:strftime,"%d/%m/%Y") %></td>
            <td><%= purchase.challan_number %></td>
            <td><%= purchase.challan_date.try(:strftime,"%d/%m/%Y") %></td>
            <td><%= item.batch_no %></td>
            <td><%= item.expiry %></td>
            <td><%= item.net_unit_cost_without_tax %></td>
            <td><%= item.tax_rate %></td>
            <td><%= item.list_price %></td>
            <td><%= item.stock %></td>
            <td><%= item.total_cost %></td>

            <%# if item.unit_cost.present? %>
              <%# unit_cost = item.unit_cost %>
            <%# else %>
              <%# unit_cost = 0 %>
            <%# end %>
            <%# if item.stock.present? %>
              <%# stock = item.stock %>
            <%# else %>
              <%# stock = 0 %>
            <%# end %>

            <!-- <td><%#= (unit_cost * stock).round(2) %></td> -->
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- <hr style="padding: 0px;margin: 0px;"> -->
  <div class="row mb5">
    <div class="col-md-7">
      <!-- <div class="row font_size" style="border-top: 1px solid #eee"></div> -->
        <div class="col-sm-6 check_font" style="text-align: center;">
          <span style>CREATED BY</span>
          <div style="font-weight: bold;"><%= @return_transaction.entered_by %></div>
          <span><%= @return_transaction.transaction_date.try(:strftime,"%d-%m-%Y") %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= @return_transaction.transaction_time&.strftime("%I:%M %p")%></span>
        </div>
    </div>
    <div class="col-sm-5 text-labels">
      <div class="col-sm-6 check_font">
        <b>Amount Before Tax</b>
      </div>
      <div class="col-sm-3 text-center check_font">
        :
      </div>
      <div class="col-sm-2 check_font" id="">
          <%= @return_transaction.total_cost.to_f.round(2) %>
      </div>
      <% if @return_transaction.return_discount.present? %>
        <div class="col-sm-6 check_font">
          <b>Discount</b>
        </div>
        <div class="col-sm-3 text-center check_font">
          :
        </div>
        <div class="col-sm-2 check_font">
          <%= @return_transaction.return_discount.to_f.round(2) %>
        </div>
      <%end%>
      <% @return_transaction.items.each do |item| %>
         <div class="col-sm-6 check_font">
        <b><%= item.tax_name %></b>
      </div>
      <div class="col-sm-3 text-center check_font">
        :
      </div>
      <div class="col-sm-2 check_font" id="">
        <%= item.purchase_tax_amount %>
      </div>
      <% end %>
      <div class="col-sm-6 check_font">
        <b>Net Return With Tax</b>
      </div>
      <div class="col-sm-3 text-center check_font">
        :
      </div>
      <div class="col-sm-2 check_font" id="">
        <%= @return_transaction.return_amount.to_f.round(2) %>
      </div>
    </div>
  </div>
</div>


<style>
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .text-labels {
    font-weight: bold;
  }
  .check-font table tr th {
    padding: 2px 5px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
  }

  .check-font table tr td {
    padding: 2px 5px;
    text-align: center;
  }

  .check-font {
    font-size: 11px;
  }
</style>