<% current_date = Date.current %>

<div id="filterModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-custom">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn btn-succes" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
        <div style="float: right;">
          <button type="button" class="btn btn-success" id="mis-custom-filter" data-dismiss="modal" >
            <span class="glyphicon glyphicon-ok"></span> Apply
          </button>
          <%= link_to reports_view_mis_administrative_reports_path(group: @mis_params[:group], title: @mis_params[:title]),id: 'clear-to-default', data: { remote: true }, style: "color:#fff; display: none;" do %>
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              <span class="glyphicon glyphicon-remove"></span>Clear to default
            </button>
          <% end %>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="panel-body">
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12">
                  <ul class="nav navbar-nav" style="font-size:16px;margin-right:2%;">
                    <!-- TimePeriod -->
                    <li class="dropdown" style="margin-right:25px;">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0); " style="padding: 5px 2px; float: left;">
                        <span class="mis-dropdown-title">Period</span>
                        <span id="mis-date-filter" start-date="<%= @mis_params[:start_date] %>" end-date="<%= @mis_params[:end_date] %>"><%= @mis_params[:time_period] %></span>&emsp;<span class="fa fa-caret-down"></span>
                      </a>
                      <span id= "default-period" class="apply-default" style="float: right"> Apply default</span>
                      <ul class="dropdown-menu mis-search-toggle-off" id="period-list" style="overflow-y: auto;max-height:400px;">
                        <li class="period-list"><a class="mis-date-filter" href="javascript:void(0);" start-date="<%= current_date %>" end-date="<%= current_date %>">Today</a></li>
                        <li class="period-list"><a class="mis-date-filter" href="javascript:void(0);" start-date="<%= current_date.beginning_of_week %>" end-date="<%= current_date.end_of_week %>">This Week</a></li>
                        <li class="period-list"><a class="mis-date-filter" href="javascript:void(0);" start-date="<%= current_date.beginning_of_month %>" end-date="<%= current_date.end_of_month %>">This Month</a></li>
                        <li class="period-list"><a class="mis-date-filter" href="javascript:void(0);" start-date="<%= current_date.beginning_of_quarter %>" end-date="<%= current_date.end_of_quarter %>">This Quarter</a></li>
                        <li class="period-list"><a class="mis-date-filter" href="javascript:void(0);" start-date="<%= current_date.beginning_of_year %>" end-date="<%= current_date.end_of_year %>">This Year</a></li>
                        <li class="period-list"><a class="mis-date-filter" href="javascript:void(0);" start-date="<%= current_date.yesterday %>" end-date="<%= current_date.yesterday %>">Yesterday</a></li>
                        <li class="period-list"><a class="mis-date-filter" href="javascript:void(0);" start-date="<%= (current_date - current_date.wday).beginning_of_week %>" end-date="<%= (current_date - current_date.wday).end_of_week %>">Previous Week</a></li>
                        <li class="period-list"><a class="mis-date-filter" href="javascript:void(0);" start-date="<%= (current_date - current_date.mday).beginning_of_month %>" end-date="<%= (current_date - current_date.mday).end_of_month %>">Previous Month</a></li>
                        <li class="period-list"><a class="mis-date-filter" href="javascript:void(0);" start-date="<%= (current_date - 3.months).beginning_of_quarter %>" end-date="<%= (current_date - 3.months).end_of_quarter %>">Previous Quarter</a></li>
                        <li class="period-list"><a class="mis-date-filter" href="javascript:void(0);" start-date="<%= (current_date - current_date.yday).beginning_of_year %>" end-date="<%= (current_date - current_date.yday).end_of_year %>">Previous Year</a></li>
                        <li class="period-list"><a class="mis-date-filter" href="javascript:void(0);">Custom</a></li>
                        <!-- Custom -->
                      </ul>
                    </li>
                    <!-- Inventory -->
                  </ul>
                </div>
                <div class="form-group col-md-6">
                  <label class="f-title" for="pref-orderby" style="color: #428bca;">Start Date  </label>
                  <%= text_field_tag :start_date, "", id: 'period_start_date',  class: 'form-control start-datepicker dropdown-filter' %>
                </div>
                <div class="form-group col-md-6">
                  <label class="f-title" for="pref-orderby" style="color: #428bca;">End Date  </label>
                  <%= text_field_tag :end_date, "", id: 'period_end_date',  class: 'form-control end-datepicker dropdown-filter' %>
                </div>
                <% @default_filter&.each do |filter| %>
                  <div class="form-group col-md-12">
                    <%= render partial: "/report_filters/#{filter.filter_type.downcase}.html.erb", locals: { filter: filter } %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="col-md-8 box-seperator">
              <% if @mis_params[:title] == 'organisation_notification' %>
                <div class="row">
                  <% @notification_filter.each do |filter| %>
                    <div class="form-group col-md-6">
                      <%= render partial: "/report_filters/#{filter.filter_type.downcase}.html.erb", locals: { filter: filter } %>
                    </div>
                  <% end %>
                </div>
              <% else %>
                <div class="row">
                  <div class="form-group col-md-6">
                    <div class="dropdown" style="margin-right:1%;">
                      <label class="f-title" for="pref-orderby" style="color: #428bca;">
                        Event Type
                      </label>
                      <% filter_id = "mis-event-filter" %>
                      <%= select_tag :event, options_for_select(["All", "Login", "Logout"] , @mis_params[:event].present? ? @mis_params[:event] : "All"), { class: "form-control dropdown-filter #{filter_id}", required: true, id: filter_id }%>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<script>
  // removing modal overlayer if it is present
  $('.modal-backdrop').remove();
  //  methood to update tag aarray every time data is being maniupated in filter
  $('.end-datepicker').datepicker({
    dateFormat: "yy-mm-dd"
  });

  $('.start-datepicker').datepicker({
    dateFormat: "yy-mm-dd",
    onSelect: function(dateText, inst) {
      var selectedDate = $(this).datepicker("getDate");
      $(".end-datepicker").datepicker("option", "minDate", selectedDate);
    }
  });

  var period_start_date =  $("#mis-date-filter").attr("start-date");
  var period_end_date = $("#mis-date-filter").attr("end-date");

  $("#period_start_date").val(period_start_date);
  $("#period_end_date").val(period_end_date);

  let tags = ['Period-today' ];
  let tags_hash = {period: 'Today' }

  const tagContainer = document.querySelector('.tag-container');
  const input = document.querySelector('.tag-container');

  function createTag(label) {
    const div = document.createElement('div');
    div.setAttribute('class', 'tag');
    const span = document.createElement('span');
    span.innerHTML = label;
    div.appendChild(span);
    return div;
  }

  function clearTags() {
    document.querySelectorAll('.tag').forEach(tag => {
      tag.parentElement.removeChild(tag);
  });
  }

  function addTags() {
    tags =  tags.filter((a, b) => tags.indexOf(a) === b)
    clearTags();
    for(var index in tags_hash) {
      tagContainer.prepend(createTag(tags_hash[index]));
    }
  }

  document.addEventListener('click', (e) => {

    if ((e.target.tagName === 'A') && ($(e.target).attr('class') == 'mis-date-filter')) {
    var new_text = $(e.target).text();
    $("#mis-date-filter").text(new_text);
    if (new_text != 'Today'){
      $("#default-period").show();
    }else{
      $("#default-period").hide();
    }
    if (new_text != 'Custom') {
      var start_date = e.target.getAttribute('start-date');
      var end_date = e.target.getAttribute('end-date');
      var time_period = 'Period-' + todateFormat(start_date) + " to " + todateFormat(end_date);
      $("#mis-date-filter").attr("start-date", start_date);
      $("#mis-date-filter").attr("end-date", end_date);
//    add date to start date and end date.
      $("#period_start_date").val(start_date);
      $("#period_end_date").val(end_date);
//    tags.push(time_period)
      tags_hash['period_date'] = time_period;
    }else{
      $("#period_start_date").val("");
      $("#period_end_date").val("");
    }
    tags_hash['period'] = new_text
    addTags();
  }
  })

  function invertHash(original){
    const modified = Object
            .entries(original)
            .reduce((all, [key, value]) => ({ ...all, [value]: key }), {});
    return modified
  }

  
  $("#mis-facility_id-filter").on("change", function(e){
    e.preventDefault();
    appendinTag()
    addTags();
  })

  $("#default-facility_id").on("click", function(e){
    $('#mis-facility_id-filter').val(current_facility_id);
    $("#default-facility_id").hide();
  })

  
  let period =  $("#mis-date-filter").text();
  let start_date = $('#mis-date-filter').attr("start-date")
  let end_date = $('#mis-date-filter').attr("end-date")
  let initial_age = 0;
  let final_age = 0;
  var age_in_range = $("#age_range").val();
  if (age_in_range) {
    range_arr = age_in_range.split("-");
    initial_age = parseInt(range_arr[0]);
    final_age = parseInt(range_arr[1]);
  }

  
  let facility =  $('#mis-facility_id-filter').val();
  let current_facility_name = "<%= current_facility.name %>"
  let current_facility_id = "<%= current_facility.id %>"

  function appendinTag(){
    tags_hash['period'] = period
    let time_period = 'Period-' + todateFormat(start_date) + " to " + todateFormat(end_date);
    tags_hash['period_date'] = time_period
    tags_hash['facility'] = $('#mis-facility_id-filter option:selected').text();
  }

  function todateFormat(dateString){
    var dateParts = dateString.split("-");
    return dateParts[2] + '/' + dateParts[1] + '/' + dateParts[0]
  }

  function intial_load() {
    appendinTag();
    addTags();
  }
  input.focus();
  intial_load();

  filter_btn_color ();
  function filter_btn_color (){
    var selected_facility = $('#mis-facility_id-filter option:selected').text();
    var selected_period = $("#mis-date-filter").text();
  }

  $("#mis-facility_id-filter").on("change", function(e){
    var default_value = $('#mis-facility_id-filter').val();
    if (default_value == current_facility_id){
      $("#default-facility_id").hide();
    }else{
      $("#default-facility_id").show();
    }
  })

  
  $("#default-period").on("click", function(e){
    var start_date = "<%= current_date.strftime("%Y-%m-%d") %>";
    var end_date = "<%= current_date.strftime("%Y-%m-%d") %>";
    $("#mis-date-filter").attr("start-date", start_date);
    $("#mis-date-filter").attr("end-date", end_date);
//    add date to start date and end date.
    $("#period_start_date").val(start_date);
    $("#period_end_date").val(end_date);
    $("#mis-date-filter").text("Today");
    $('#default-period').hide();
  })

  check_default_span();
  function check_default_span(){

    if (facility == current_facility_id){
      $("#default-facility_id").hide();
    }else{
      $("#default-facility_id").show();
    }
    
    if (period == 'Today'){
      $("#default-period").hide();
    }else{
      $("#default-period").show();
    }
  }

</script>
