<div class="row">
  <div class="col-sm-12 text-center" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;"><strong>Tpa Information</strong></div>
</div>

<% if params[:action] == 'edit_corporate_detail' %>
  <h4><b><%= @finance_tpa.name %></b> - <%= @finance_tpa.description %></h4>
  <% display_parent_fields = 'none' %>
  <% display_embedded_fields = 'block' %>
<% else %>
  <% display_parent_fields = 'block' %>
  <% display_embedded_fields = 'none' %>
<% end %>

<div class="row" style="margin-top:15px; display: <%= display_parent_fields %>">
  <div class="col-sm-6">
    <strong>Name</strong><br>
    <%= f.text_field :name, { class: 'form-control p7_10 fullname', placeholder: 'Fullname' } %>
  </div>
  <div class="col-sm-6">
    <strong>Description</strong><br>
    <%= f.text_field :description, { class: 'form-control p7_10 description', placeholder: 'Description' } %>
  </div>
</div>


<div class="col-md-12" style="background: white;border-top: 6px solid #e4e7ea;min-height: 65px;  display: <%= display_embedded_fields %>">
  <strong style="text-decoration: underline; color: #1E90FF;">
    TPA Corporate Details:
    <%= link_to add_corporate_detail_finance_tpa_master_path(id: @finance_tpa.id), method: :get, data: { remote: true }, class: "btn btn-primary btn-xs", title: 'Add extra fields with possible values' do %><i class="fa fa-plus"></i><% end %>
  </strong>
  <div class="row col-md-12">
    <div class="col-md-12">
      <div class="tpa-corporate-details row">
        <% if @finance_tpa&.corporate_details.present? %>
          <%= render partial: '/finance/tpa_masters/corporate_details_form.html.erb', locals: { f: f, index: nil } %>
        <% else %>
        <% end %>
      </div>
    </div>
  </div>
</div>