<div class="row">
  <div class="col-md-4">
    <h4>MANAGE TPA</h4>
  </div>
  <div class="col-md-3 text-right">
    <input type="text" name="" class="search-tpa-master form-control" placeholder="Search By Tpa Name" value="" style="margin-top: 5px;">
  </div>
  <div class="col-md-5 text-right">
    <%= link_to new_finance_tpa_master_path, class: 'btn btn-primary', data: { remote: true, 'toggle': 'modal', 'target': '#finance-tpa-modal' } do %><i class="fa fa-plus"></i> Add Tpa<% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <% if @finance_tpas.count > 0 %>
      <table id="manage_finance_tpas_table" class="table table-primary table-bordered">
        <thead>
        <th>Name</th>
        <th>Description</th>
        <th class="text-center">Actions</th>
        </thead>
        <tbody id="tpa_master-list">

        <% @finance_tpas.each do |tpa| %>
          <% visibility = tpa.is_disable ? 'visibility: hidden;' : 'visibility: visible' %>
          <tr class="each-contact-table-row tpa_master_tr">
            <td>
              <b class="tpa_name" style="color:#000;"><%= tpa.try(:name) %></b>
            </td>

            <td>
              <b class="tpa_description" style="color:#000;"><%= tpa.try(:description) %></b>
            </td>

            <td>
              <table style="width: 100%;">
                <tr>
                  <td style="<%=visibility%>">
                    <%= link_to edit_finance_tpa_master_path(id: tpa.id.to_s), method: :get, data: { remote: true, toggle: 'modal', target: '#finance-tpa-modal' }, class: 'btn btn-info btn-xs', style: 'display: inline;' do %>Edit<% end %>
                  </td>
<!--                  <td style="<%#=visibility%>">-->
<!--                    <%#= link_to edit_corporate_detail_finance_tpa_master_path(id: tpa.id.to_s), method: :get, data: { remote: true, toggle: 'modal', target: '#finance-tpa-modal' }, class: 'btn btn-info btn-xs', style: 'display: inline;' do %>Tpa Corporate Detail<%# end %>-->
<!--                  </td>-->

                  <td id='tpa_disable_button_<%= tpa.id %>'>
                    <% if tpa.try(:is_disable) == true %>
                      <%= link_to 'Active', toggle_disable_finance_tpa_master_path(id: tpa.id, is_disable: false), class: 'btn btn-xs btn-primary', remote: true, style: 'display: inline;' %>
                    <% else %>
                      <div class="btn btn-danger btn-xs btn-disable-tpa" style="display: inline;" data-toggle="modal" data-target="#confirmation-modal" data-tpa='<%= tpa.name %>'>Disable</div>
                      <%= link_to 'Confirm', toggle_disable_finance_tpa_master_path(id: tpa.id, is_disable: true), class: 'btn btn-danger', remote: true, style: 'display: none;', data: { dismiss: 'modal' } %>
                    <% end %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="col-md-12 text-center mt10">
        No Data to Show.
      </div>
    <% end %>
  </div>
</div>

<style>
  #confirmation-modal a{
    display: inline-block !important;
  }
  .row-container{
    height: 25px;
  }
</style>

<script type="text/javascript">
  $(".search-tpa-master").on('keyup', function(){
    tpa_list = $(".tpa_master_tr");
    tpa_list_count = tpa_list.length;
    search = $(this).val().toUpperCase().trim();
    counter = 0
    for (var i = tpa_list.length - 1; i >= 0; i--) {
      tpa_name = $(tpa_list[i]).find(".tpa_name")
      tpa_description = $(tpa_list[i]).find(".tpa_description")
      if($(tpa_name).html().toUpperCase().indexOf(search) > -1 || $(tpa_description).html().toUpperCase().indexOf(search) > -1) {
        $(tpa_list[i]).css("display", "");
      } else {
        $(tpa_list[i]).css("display", "None");
        counter += 1
      }
    }

    if(tpa_list_count == counter){
      if($(".show-nothing").length <= 0){
        $("#tpa_master-list").append(`<tr class="show-nothing"><td class="text-center" colspan="5">Nothing to Show</td></tr>`)
      }
    } else {
      $(".show-nothing").remove();
    }
  })
</script>
