<% @inventory_checkout_logs.each_with_index do |log,i| %>
  <tr class="inventroy_items_log">
    <td><%= i + @count.to_i + 1 %></td>
    <td><%= log.created_at.strftime("%d %b %Y") %></td>
    <td><%= Inventory::Department.find_by(department_id: log.department_id)&.name %></td>
    <td><%= log.items.length %></td>
    <td><a href="invoices/inventory_checkout_log?log_id=<%= log.id %>" class="btn btn-success" target="_blank"><i class="fa fa-print"></i>&nbsp; Print </a></td>
  </tr>
<%end%>