<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog" style="width: 70%;">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Add Patient Referral</h4>
    </div>
    <%= form_for @patient_referral_type, remote: true do |f| %>
      <%= f.hidden_field :patient_id, value: @appointment.patient_id.to_s %>
      <%= f.hidden_field :appointment_id, value: @appointment.id.to_s %>
      <div class="modal-body">
        <div class="row mb10">
          <div class="col-sm-3">
            <b style="color:#000;">Patient Referral Source</b>
          </div>
          <div class="col-sm-3">
            <%= select_tag "patient_referral_type[referral_type_id]", options_for_select(@referral_types.pluck(:name, :id), @patient_referral_type.try(:referral_type_id).to_s), {include_blank: true, :class => 'patient-referral-type form-control p7_10' } %>
          </div>
          <div class="col-sm-3 sub-referral-types-section" style="display: none;">
            <select name="patient_referral_type[sub_referral_type_id]" id="patient_referral_type_sub_referral_type_id" class="sub-referral-types form-control p7_10">
            </select>
          </div>
          <% if Authorization::PolicyHelper.verification(current_user.id, "HGP-102-102-102") %>
            <div class="col-sm-2">
              <button id="btn-add-sub-referral-type" class="btn btn-link btn-xs"><i class='fa fa-plus'></i> Add</button>
            </div>
          <% end %>
        </div>
        <div id='patient_referral_form'>
          <!-- In Case of PatientReferralType Relative -->
          <%#= render partial: 'appointments/form/relative_referral_form.html.erb' %>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit 'Save', class: "btn btn-success", data: { 'disable-with': 'Please Wait...' }, onclick: "patient_referral_page()" %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>