<% @all_total = (@maintotalinvoice_opd.inject(0){|sum,x| sum + x }).to_f + (@maintotalinvoice_ipd.inject(0){|sum,x| sum + x }).to_f + (@maintotalinvoice_cash_opd.inject(0){|sum,x| sum + x }).to_f + (@maintotalinvoice_cash_ipd.inject(0){|sum,x| sum + x }).to_f + (@maintotalinvoice_insurance.inject(0){|sum,x| sum + x }).to_f + (@maintotalinvoice_pharmacy.inject(0){|sum,x| sum + x }).to_f + (@maintotalinvoice_optical.inject(0){|sum,x| sum + x }).to_f + (@maintotalinvoice_optical.inject(0){|sum,x| sum + x }).to_f %>

<div class="panel panel-default" style="padding:0px;">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12" style="display:inline;">
        <h5 class="subtitle mb5" style="display:inline;">Today's Reports<span class="btn btn-link minimize-btn-reports pull-right" style="padding:0px;"><b style="font-size:30px;">-</b></span></h5>
      </div>
    </div>
    <div class="row show-reports">
      <div class="col-md-12">
        <div class="table table-responsive" id="reports_dashboard" style="box-shadow:none;">
          <div class="row mb10">
            <div class="col-md-12">
              <b>OPD</b>
            </div>
            <div class="col-md-12">
              <div class="col-md-6">
                Receipt :
              </div>
              <div class="col-md-4">
                <i class="fa fa-rupee"></i> <%= (@maintotalinvoice_opd.inject(0){|sum,x| sum + x }).to_f %>
              </div>
              <div class="col-md-2">
                <% if (@maintotalinvoice_opd.inject(0){|sum,x| sum + x }).to_i != 0 %>
                  <%= link_to reports_daily_report_path(:date => Date.current, location: "OPD Invoice", :format => :pdf), :class => "btn btn-link btn-xs navbar-btn", style:"padding:0 3px;margin:0px;", :target => "_blank" do %><i class="fa fa-print"></i><% end %>
                <% else %>
                  <button class="btn btn-link btn-xs navbar-btn" style="padding:0 3px;margin:0px;" disabled="disabled"><i class="fa fa-print"></i></button>
                <% end %>
              </div>
              <div class="col-md-6">
                Cash Register :
              </div>
              <div class="col-md-4">
                <i class="fa fa-rupee"></i> <%= (@maintotalinvoice_cash_opd.inject(0){|sum,x| sum + x }).to_f %>
              </div>
              <div class="col-md-2">
                <% if (@maintotalinvoice_cash_opd.inject(0){|sum,x| sum + x }).to_i != 0 %>
                  <%= link_to reports_daily_report_path(:date => Date.current, location: "OPD Cash", :format => :pdf), :class => "btn btn-link btn-xs navbar-btn", style:"padding:0 3px;margin:0px;", :target => "_blank" do %><i class="fa fa-print"></i><% end %>
                <% else %>
                  <button class="btn btn-link btn-xs navbar-btn" style="padding:0 3px;margin:0px;" disabled="disabled"><i class="fa fa-print"></i></button>
                <% end %>
              </div>
            </div>
          </div>
          <div class="row mb10">
            <div class="col-md-12">
              <b>IPD</b>
            </div>
            <div class="col-md-12">
              <div class="col-md-6">
                Receipt :
              </div>
              <div class="col-md-4">
                <i class="fa fa-rupee"></i> <%= (@maintotalinvoice_ipd.inject(0){|sum,x| sum + x }).to_f %>
              </div>
              <div class="col-md-2">
                <% if (@maintotalinvoice_ipd.inject(0){|sum,x| sum + x }).to_i != 0 %>
                  <%= link_to reports_daily_report_path(:date => Date.current, location: "IPD Invoice", :format => :pdf), :class => "btn btn-link btn-xs navbar-btn", style:"padding:0 3px;margin:0px;", :target => "_blank" do %><i class="fa fa-print"></i><% end %>
                <% else %>
                  <button class="btn btn-link btn-xs navbar-btn" style="padding:0 3px;margin:0px;" disabled="disabled"><i class="fa fa-print"></i></button>
                <% end %>
              </div>
              <div class="col-md-6">
                Cash Register :
              </div>
              <div class="col-md-4">
                <i class="fa fa-rupee"></i> <%= (@maintotalinvoice_cash_ipd.inject(0){|sum,x| sum + x }).to_f %>
              </div>
              <div class="col-md-2">
                <% if (@maintotalinvoice_cash_ipd.inject(0){|sum,x| sum + x }).to_i != 0 %>
                  <%= link_to reports_daily_report_path(:date => Date.current, location: "IPD Cash", :format => :pdf), :class => "btn btn-link btn-xs navbar-btn", style:"padding:0 3px;margin:0px;", :target => "_blank" do %><i class="fa fa-print"></i><% end %>
                <% else %>
                  <button class="btn btn-link btn-xs navbar-btn" style="padding:0 3px;margin:0px;" disabled="disabled"><i class="fa fa-print"></i></button>
                <% end %>
              </div>
              <div class="col-md-6">
                Insurance :
              </div>
              <div class="col-md-4">
                <i class="fa fa-rupee"></i> <%= (@maintotalinvoice_insurance.inject(0){|sum,x| sum + x }).to_f %>
              </div>
              <div class="col-md-2">
                <% if (@maintotalinvoice_insurance.inject(0){|sum,x| sum + x }).to_i != 0 %>
                  <%= link_to reports_daily_report_path(:date => Date.current, location: "IPD Insurance", :format => :pdf), :class => "btn btn-link btn-xs navbar-btn", style:"padding:0 3px;margin:0px;", :target => "_blank" do %><i class="fa fa-print"></i><% end %>
                <% else %>
                  <button class="btn btn-link btn-xs navbar-btn" style="padding:0 3px;margin:0px;" disabled="disabled"><i class="fa fa-print"></i></button>
                <% end %>
              </div>
            </div>
          </div>
          <% unless @pharmacy.nil? && @optical.nil? %>
            <div class="row mb10">
              <div class="col-md-12">
                <b>Others</b>
              </div>
              <div class="col-md-12">
                <% unless @pharmacy.nil? %>
                  <div class="col-md-6">
                    Pharmacy :
                  </div>
                  <div class="col-md-4">
                    <i class="fa fa-rupee"></i> <%= (@maintotalinvoice_pharmacy.inject(0){|sum,x| sum + x }).to_f %>
                  </div>
                  <div class="col-md-2">
                    <% if (@maintotalinvoice_pharmacy.inject(0){|sum,x| sum + x }).to_i != 0 %>
                      <%= link_to reports_daily_report_path(:date => Date.current, location: "Pharmacy", :format => :pdf), :class => "btn btn-link btn-xs navbar-btn", style:"padding:0 3px;margin:0px;", :target => "_blank" do %><i class="fa fa-print"></i><% end %>
                    <% else %>
                      <button class="btn btn-link btn-xs navbar-btn" style="padding:0 3px;margin:0px;" disabled="disabled"><i class="fa fa-print"></i></button>
                    <% end %>
                  </div>
                <% end %>
                <% unless @optical.nil? %>
                  <div class="col-md-6">
                    Optical :
                  </div>
                  <div class="col-md-4">
                    <i class="fa fa-rupee"></i> <%= (@maintotalinvoice_optical.inject(0){|sum,x| sum + x }).to_f %>
                  </div>
                  <div class="col-md-2">
                    <% if (@maintotalinvoice_optical.inject(0){|sum,x| sum + x }).to_i != 0 %>
                      <%= link_to reports_daily_report_path(:date => Date.current, location: "Optical", :format => :pdf), :class => "btn btn-link btn-xs navbar-btn", style:"padding:0 3px;margin:0px;", :target => "_blank" do %><i class="fa fa-print"></i><% end %>
                    <% else %>
                      <button class="btn btn-link btn-xs navbar-btn" style="padding:0 3px;margin:0px;" disabled="disabled"><i class="fa fa-print"></i></button>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
          <hr>
          <div class="row mb10">
            <div class="col-md-6">
              <b>Total</b>
            </div>
            <div class="col-md-4">
              <i class="fa fa-rupee"></i> <%= @all_total %>
            </div>
            <div class="col-md-2">
              <% if @all_total != 0 %>
                <%= link_to reports_daily_report_summary_path(:date => Date.current, location: "All", :format => :pdf), :class => "btn btn-link btn-xs navbar-btn", style:"padding:0 3px;margin:0px;", :target => "_blank" do %><i class="fa fa-print"></i><% end %>
              <% else %>
                <button class="btn btn-link btn-xs navbar-btn" style="padding:0 3px;margin:0px;" disabled="disabled"><i class="fa fa-print"></i></button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- panel-body -->
</div><!-- panel -->


<!-- To be Removed In Near Future -->
<% if false %>
  <div class="row">
    <div class="col-md-12">
      <div class="table table-responsive" id="reports_dashboard" style="box-shadow:none;">
        <div class="row mb10">
          <div class="col-md-3">
            OPD
          </div>
          <div class="col-md-1">
            :
          </div>
          <div class="col-md-8">
            <%= link_to reports_daily_report_path(:date => Date.current, location: "OPD Invoice", :format => :pdf), :class => "btn btn-link btn-xs navbar-btn", style:"padding:0 3px;margin:0px;", :target => "_blank" do %> Receipt<% end %>
            <%= link_to reports_daily_report_path(:date => Date.current, location: "OPD Cash", :format => :pdf), :class => "btn btn-link btn-xs navbar-btn", style:"padding:0 3px;margin:0px;", :target => "_blank" do %> Cash Register<% end %>
          </div>
        </div>
        <div class="row mb10">
          <div class="col-md-3">
            IPD
          </div>
          <div class="col-md-1">
            :
          </div>
          <div class="col-md-8">
            <%= link_to reports_daily_report_path(:date => Date.current, location: "IPD Invoice", :format => :pdf), :class => "btn btn-link btn-xs navbar-btn", style:"padding:0 3px;margin:0px;", :target => "_blank" do %> Receipt<% end %>
            <%= link_to reports_daily_report_path(:date => Date.current, location: "IPD Cash", :format => :pdf), :class => "btn btn-link btn-xs navbar-btn", style:"padding:0 3px;margin:0px;", :target => "_blank" do %> Cash Register<% end %>
          </div>
        </div>
        <div class="row mb10">
          <div class="col-md-3">
            Insurance
          </div>
          <div class="col-md-1">
            :
          </div>
          <div class="col-md-8">
            <%= link_to reports_daily_report_path(:date => Date.current, location: "IPD Insurance", :format => :pdf), :class => "btn btn-link btn-xs navbar-btn", style:"padding:0 3px;margin:0px;", :target => "_blank" do %> Insurance Receipt<% end %>
          </div>
        </div>
        <div class="row mb10">
          <div class="col-md-3">
            Pharmacy
          </div>
          <div class="col-md-1">
            :
          </div>
          <div class="col-md-8">
            <%= link_to reports_daily_report_path(:date => Date.current, location: "IPD Insurance", :format => :pdf), :class => "btn btn-link btn-xs navbar-btn", style:"padding:0 3px;margin:0px;", :target => "_blank" do %> Pharmacy Receipt<% end %>
          </div>
        </div>
        <div class="row mb10">
          <div class="col-md-3">
            Optical
          </div>
          <div class="col-md-1">
            :
          </div>
          <div class="col-md-8">
            <%= link_to reports_daily_report_path(:date => Date.current, location: "IPD Insurance", :format => :pdf), :class => "btn btn-link btn-xs navbar-btn", style:"padding:0 3px;margin:0px;", :target => "_blank" do %> Optical Receipt<% end %>
          </div>
        </div>
      </div><!-- table-responsive -->
    </div>
  </div>
<% end %>


<style type="text/css">
  .minimize-btn-reports:hover {
    text-decoration: none;
  }
</style>
<script type="text/javascript">
  $(".show-reports").hide();
  $(".minimize-btn-reports").on('click', function(){
    $(".show-reports").toggle();
  })
</script>