<% patient_complaint_counter = 0 %>
<% personel_history_counter = 0 %>
<% personel_systemic_history_counter = 0 %>
<% personel_ophthal_history_counter = 0 %>
<% family_history_counter = 0 %>
<%if patient_self_history.try(:chief_complaints).present? %>
  <div class="row">
    <div class="col-md-2">
      Present Complaint:
    </div>
      <% patient_complaint_counter = patient_self_history.chief_complaints.count %>
      <%patient_self_history.chief_complaints.each do|complaint|%>
        <div class="col-md-offset-2">
          <% if complaint["name"].present? %>
            <% patient_complaint_counter = patient_complaint_counter + 1%>
            <strong><%=complaint["name"].titleize%>: </strong> <%if complaint["duration"].present? && complaint["duration_unit"].present?%> Since <%=complaint["duration"]%> <%=complaint["duration_unit"]%><%end%><%if complaint["side"].present?%> in <%=complaint["side"]%><%end%> <%if complaint["complaint_options"].present?%>, <%=complaint["complaint_options"]%><%end%><%if complaint["comment"].present?%>, <%=complaint["comment"]%><%end%>
          <%end%>
        </div>
      <%end%>
    <% if patient_complaint_counter == 0 %>
      <div class="col-md-10 row">
        No complaints entered.
      </div>
    <%end%>
  </div>
  <hr>
<% end %>
<% if patient_self_history.opthal_history_comment != "" && patient_self_history.opthal_history_comment != nil %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
<%end%>
<% if patient_self_history.history_comment != "" && patient_self_history.history_comment != nil %>
  <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<%if patient_self_history.try(:personal_history_records).present? %>
  <% personel_history_counter = 0 %>
  <% personel_systemic_history_counter = 0 %>
  <% if patient_self_history.try(:personal_history_records).find_by(name: "diabetes").present?  %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <%end%>
  <% if patient_self_history.try(:personal_history_records).find_by(name: "hypertension").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <%end%>
  <% if patient_self_history.try(:personal_history_records).find_by(name: "alcoholism").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <%end%>
  <% if patient_self_history.try(:personal_history_records).find_by(name: "smoking_tobacco").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <%end%>
  <% if patient_self_history.try(:personal_history_records).find_by(name: "steroid_intake").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <%end%>
  <% if patient_self_history.try(:personal_history_records).find_by(name: "drug_abuse").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <%end%>
  <% if patient_self_history.try(:personal_history_records).find_by(name: "hiv_aids").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <%end%>
  <% if patient_self_history.try(:personal_history_records).find_by(name: "cancer_tumor").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <%end%>
  <% if patient_self_history.try(:personal_history_records).find_by(name: "cardiac_disorder").present?%>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <%end%>
  <% if patient_self_history.try(:personal_history_records).find_by(name: "rheumatoid_arthritis").present?%>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>
  <% if patient_self_history.try(:personal_history_records).find_by(name: "tuberculosis").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <%end%>
  <% if patient_self_history.try(:personal_history_records).find_by(name: "asthma").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <%end%>
  <% if patient_self_history.try(:personal_history_records).find_by(name: "cns_disorder_stroke").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <%end%>
  <% if patient_self_history.try(:personal_history_records).find_by(name: "thyroid_disorder").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <%end%>
  <% if patient_self_history.try(:personal_history_records).find_by(name: "hepatitis_cirrhosis").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <%end%>
  <% if patient_self_history.try(:personal_history_records).find_by(name: "renal_disorder").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <%end%>
  <% if patient_self_history.try(:personal_history_records).find_by(name: "acidity").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <%end%>
  <% if patient_self_history.try(:personal_history_records).find_by(name: "on_insulin").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <%end%>
  <% if patient_self_history.try(:personal_history_records).find_by(name: "on_aspirin_blood_thinners").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>
  <% if  patient_self_history.try(:personal_history_records).find_by(name: "hypothyroidism").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>
  <% if  patient_self_history.try(:personal_history_records).find_by(name: "hyperthyroidism").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>
  <% if  patient_self_history.try(:personal_history_records).find_by(name: "consanguinity").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>
<% end %>

<% if patient_self_history.try(:speciality_history_records).present? %>
  <% personel_ophthal_history_counter = 0 %>

  <% @personal_history = patient_self_history.speciality_history_records %>
  <% if @personal_history.find_by(name: "glaucoma").present? %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "retinal_detachment").present? %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "glasses").present? %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "ocular_disease").present?  %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "ocular_surgery").present? %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "eye_surgery").present? %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "eye_disease").present? %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "consanguinity").present? %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "uveitis").present?  %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "retinal_laser").present?  %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>
<% end %>

<div class="row" style="margin-top: 2px; padding-left: 10px">
  <% if personel_history_counter > 0 %>
    <div class="row">
      <div class="col-md-2 col-sm-2">
        Ophthalmic Complaint:
      </div>
      <% patient_ophthal_history = ["glaucoma","retinal_detachment","glasses","eye_disease","eye_surgery","uveitis","retinal_laser"] %>
      <% patient_ophthal_history.each do |oph_history| %>
        <div class="col-md-offset-2">
          <% if patient_self_history.try(:speciality_history_records).find_by(name:oph_history).present? %>
            <% @history = patient_self_history.try(:speciality_history_records).find_by(name:oph_history) %>
            <strong><%= oph_history.titleize %></strong> <%unless @history.try(:l_duration) == "" || @history.try(:l_duration) == nil%>Left Eye since<%end%> <%= @history.try(:l_duration)%> <%=@history.try(:l_duration_unit)%><%unless @history.try(:r_duration) == "" || @history.try(:r_duration) == nil%>Right Eye since<%end%> <%= @history.try(:r_duration)%> <%=@history.try(:r_duration_unit)%>
          <%end%>
        </div>
      <%end%>
      <div class="col-md-offset-2 col-sm-offset-2">
        <% if patient_self_history.current_glasses.to_s == "true" %>
          <strong>Current Glasses</strong> <%if patient_self_history.current_glasses_age.present?%>since<%end%> <%= patient_self_history..current_glasses_age%> yrs <%if patient_self_history.glasses_last_powerchange.present?%>, Recent Glasses power changed <%= patient_self_history.glasses_last_powerchange_duration%>  <%= patient_self_history.glasses_last_powerchange_duration_unit%> ago <%end%>
        <%end%>
      </div>
      <div class="col-md-offset-2 col-sm-offset-2">
        <% if patient_self_history.opthal_history_comment != "" && patient_self_history.opthal_history_comment != nil %>
            - <%= patient_self_history.opthal_history_comment %>
        <%end%>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2">
        Systemic Complaint:
      </div>
      <% patient_systemic_history = ["diabetes","hypertension","alcoholism","smoking_tobacco","steroid_intake","drug_abuse","hiv_aids","cancer_tumor","cardiac_disorder","tuberculosis","asthma","cns_disorder_stroke","thyroid_disorder","hypothyroidism","hyperthyroidism","hepatitis_cirrhosis","renal_disorder","acidity","on_insulin","consanguinity","on_aspirin_blood_thinners","rheumatoid_arthritis"] %>
      <% patient_systemic_history.each do |systemic_history| %>
        <div class="col-md-offset-2">
          <% if patient_self_history.try(:personal_history_records).find_by(name:systemic_history).present? %>
            <% @history = patient_self_history.try(:personal_history_records).find_by(name:systemic_history) %>
            <strong><%= systemic_history.titleize %></strong> <%unless @history.try(:duration) == "" || @history.try(:duration) == nil%>since<%end%> <%= @history.try(:duration)%> <%=@history.try(:duration_unit)%>
          <% end %>
        </div>
      <% end %>
      <div class="col-md-offset-2">
        <% if patient_self_history.history_comment != "" && patient_self_history.history_comment != nil %>
            - <%= patient_self_history.history_comment %>
        <%end%>
      </div>
    </div>
    <% if current_facility.specialty_ids.include?("309989009") %>
      <%if personel_ophthal_history_counter == 0 && personel_systemic_history_counter == 0%>
          <div class="row col-md-12">No Sytemic History.</div>
      <%end%>
      <% elsif current_facility.specialty_ids.include?("309988001") %>
        <%if personel_ophthal_history_counter == 0 && personel_systemic_history_counter == 0%>
            <div class="row col-md-12">No Ophthalmic Or Systemic History.</div>
        <%elsif personel_ophthal_history_counter == 0 && personel_systemic_history_counter > 0%>
            <div class="row col-md-12">No Ophthalmic History.</div>
        <%elsif personel_ophthal_history_counter > 0 && personel_systemic_history_counter == 0 %>
            <div class="row col-md-12">No Systemic History.</div>
      <%end%>
    <% end %>
  <% end %>
</div>
<% if patient_self_history.other_history.medical_history != "" && patient_self_history.other_history.medical_history != nil %>
    <div class="row" style="margin-top: 2px; padding-left: 10px">
      <!-- Patient has a --> Medical history of <%=patient_self_history.other_history.medical_history%>
    </div>
<%end%>
<% if patient_self_history.other_history.family_history.present? %>
  <% family_history_counter = family_history_counter + 1 %>
<% end %>
<% if patient_self_history.other_history.glaucoma_history == "Yes" %>
  <% family_history_counter = family_history_counter + 1 %>
<% end %>
<% if patient_self_history.other_history.myopia_history == "Yes" %>
  <% family_history_counter = family_history_counter + 1 %>
<% end %>
<% if patient_self_history.other_history.retinal_detachment_history == "Yes" %>
  <% family_history_counter = family_history_counter + 1 %>
<% end %>

<% if family_history_counter > 0 %>
  <div class="row" style="margin-top: 2px; padding-left: 10px">
    <!-- Patient has a --> Family history of <% if patient_self_history.other_history.glaucoma_history == "Yes" %> Glaucoma<% family_history_counter =  family_history_counter - 1 %><%if family_history_counter > 0 %>, <%end%><%end%> <% if patient_self_history.other_history.myopia_history == "Yes" %> Myopia<% family_history_counter =  family_history_counter - 1 %><%if family_history_counter > 0 %>, <%end%><%end%> <% if patient_self_history.other_history.retinal_detachment_history == "Yes" %> Retinal Detachment<% family_history_counter =  family_history_counter - 1 %><%if family_history_counter > 0 %>, <%end%><%end%> <% if patient_self_history.other_history.family_history.present? %> <%=patient_self_history.other_history.family_history%><%end%>
  </div>
<%end%>
<% if patient_self_history.other_history.current_medications != "" && patient_self_history.other_history.current_medications != nil %>
    <div class="row" style="margin-top: 2px; padding-left: 10px">
      <!-- Patient has a --> Current Medication: <%=patient_self_history.other_history.current_medications%>
    </div>
<%end%>
<% if patient_self_history.try(:allergies).present? %>
  <% patientselfallergyhistorycounter = 0 %>
  <% patientselfallergyhistory = "" %>
  <% patient_allergy_history = ["contact","eyedrop","food","drug"] %>
  <% patient_allergy_history.each do |pah| %>
    <% if patient_self_history.allergies[pah + "_allergies_present"].to_s == "YES" %>
      <% if patientselfallergyhistorycounter > 0 %><% patientselfallergyhistory = patientselfallergyhistory + " , "%><%end%>
      <% patientselfallergyhistorycounter = patientselfallergyhistorycounter + 1 %>
      <% if patient_self_history.allergies[pah + "_comment"].present? %>
        <% patientselfallergyhistory = patientselfallergyhistory + pah.try(:titleize) +"- #{patient_self_history.allergies[pah + "_comment"]} "  %>
      <%else%>
          <% patientselfallergyhistory = patientselfallergyhistory + pah.try(:titleize) %>
      <% end %>
    <% end %>
  <%end%>
  <% if patientselfallergyhistorycounter > 0 || patient_self_history.allergies["other_allergies"].length > 0%>
    <hr>
    <div class="col-md-2 row">
    Allergies:
    </div>
    <% patientselfallergyhistory.split(" , ").each do |allergy|  %>
      <div class="col-md-offset-2">
        <strong><%=allergy%></strong>
      </div>
    <%end %>
    <div class="col-md-offset-2"><!-- Patient is -->   <%if patientselfallergyhistorycounter > 0 && patient_self_history.allergies["other_allergies"].length > 0%><%end%><%= patient_self_history.allergies["other_allergies"] %>
    </div>
  <%end%>
<% end %>