<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog" style="width: 70%;">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Add Sub Referral</h4>
    </div>
    <%= form_for @sub_referral_type, remote: true do |f| %>
      <%= f.hidden_field :organisation_id, value: @sub_referral_type.organisation_id %>
      <%= f.hidden_field :user_id, value: @sub_referral_type.user_id %>
      <%= f.hidden_field :referral_type_id, value: @sub_referral_type.referral_type_id %>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3">
                Referral Type :
              </div>
              <div class="col-md-3">
                <%= @sub_referral_type.referral_type.name %>
              </div>
            </div>
          </div>
        </div>
        <hr/>
        <div class="row mb20">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                Select Facility :
              </div>
              <div class="col-md-6">
                <!-- include_hidden: false is used to avoid hidden field getting created. Although this might affect in case where validation is not ClientSide as it will not send params[:field_name] in the request when nothing is selected -->
                <%= f.select(:facility_ids, @facilities.pluck(:name, :id), { include_hidden: false }, { multiple: true, class: 'form-control', style: 'height: 250px;' }) %>
                <button class="btn btn-link btn-xs" id='select_all_facility'>Select All</button><button class="btn btn-link btn-xs pull-right" id='deselect_all_facility'>Deselect All</button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div id="sub_referral_form">
              <%= render partial: "sub_referral_types/forms/#{@sub_referral_type.referral_type.label}.html.erb" %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit 'Save', class: "btn btn-success", id: "save-sub-referral", data: { 'disable-with': 'Please Wait...' }, onclick: "sub_referral_form()" %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  <%= render partial: 'form.js.erb' %>
</script>