<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog" style="width: 70%;">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Add Sub Referral</h4>
    </div>
    <%= form_for @sub_referral_type, remote: true do |f| %>
      <%= f.hidden_field :organisation_id, value: current_user.organisation_id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3">
                Select Referral Type :
              </div>
              <div class="col-md-3 referral_type_id_section">
                <%= f.select :referral_type_id, options_for_select(@referral_types.map{ |rt| [rt.name, rt.id, {'data-referral-label': rt.label}] }), include_blank: true, class: 'form-control p5_10' %>
              </div>
            </div>
          </div>
        </div>
        <div id='sub_referral_form_content'>
          <hr/>
          <div class="row mb20">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  Select Facility :
                </div>
                <div class="col-md-6">
                  <!-- include_hidden: false is used to avoid hidden field getting created. Although this might affect in case where validation is not ClientSide as it will not send params[:field_name] in the request when nothing is selected -->
                  <%= f.select(:facility_ids, @facilities.pluck(:name, :id), { include_hidden: false }, { multiple: true, class: 'form-control', style: 'height: 250px;' }) %>
                  <button class="btn btn-link btn-xs" id='select_all_facility'>Select All</button><button class="btn btn-link btn-xs pull-right" id='deselect_all_facility'>Deselect All</button>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div id="sub_referral_form">
                <!-- Form Logic Here - Refer _new.js.erb for logic, forms/#{referral_type}.html.erb for code -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit 'Save', class: "btn btn-success", id: "save-sub-referral", data: { 'disable-with': 'Please Wait...' }, onclick: "sub_referral_form()" %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>