<div style="max-width:800px;font-family:roboto,sans-serif;font-weight:400;">
  <div style="font-size:16px;border:1px solid #dedede;">
    <div style="padding:15px;">
      <table style="width:100%;" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td>
              <a href="https://healthgraph.in/" target="_blank"><%= image_tag Rails.application.config.ip + '/assets/f_foss.png', style: 'height:40px;' %></a>
            </td>
            <td style="text-align: right;">
              <span style="display: block;font-size:12px;"><b>Email :</b>&nbsp;&nbsp;support@healthgraph.in</span>
              <span style="display: block;font-size:12px;"><b>Whatsapp :</b>&nbsp;&nbsp;+91 797 598 9664</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="welcome-page">
      <div style="padding:24px 20px 24px 20px;background-color:#3cc1ff">
        <table style="width:100%;color:#ffffff" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <div style="font-size:20px;line-height:24px">Activate Account</div>
              </td>
              <td style="text-align: right;">
                <div style="font-size:20px;line-height:24px"><%= @user.organisation.name.to_s if @user.organisation.present? %></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="welcome-content" style="margin:auto 30px 10px 30px;font-size:14px;line-height:20px">
        <div style="font-size:20px;font-weight:700;line-height:24px;padding-top:20px">Hi <%= @user.fullname %>,</div>
        <div style="padding-top:20px;">Welcome to Healthgraph! Please click on the below link to activate your account & set your password.</div>
        <div>
          Your Password should contain:
          <ul style="font-size: 12px;">
            <li>Min. 8 Characters</li>
            <li>Include 1 Number</li>
            <li>Include 1 Capital Letter</li>
            <li>A special Character @#$%^&+=</li>
          </ul>
        </div>
      </div>
      <div id="signup-url-content" style="margin:auto 30px 10px 30px;font-size:14px;line-height:20px">
        <div style="text-align:center;padding:10px;">
          <a href="<%= Rails.application.config.ip %>/users/set_details?code=<%= @user.id.to_s%>" target="_blank" style="background-color:#3cc1ff;border:1px solid #3cc1ff;border-radius:4px;color:#ffffff;display:inline-block;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:bold;line-height:35px;text-align:center;text-decoration:none;padding:0 25px 0 25px;letter-spacing:.5px;min-width:150px">Activate Account</a>
        </div>
      </div>
      <div id="details-content" style="margin:auto 30px 10px 30px;font-size:12px;line-height:20px">
        <div style="padding-top:20px;"><b>We're always here to help! Feel free to contact us at :</b>
          <span style="display: block;"><b>Email :</b>&nbsp;&nbsp;support@healthgraph.in</span>
          <span style="display: block;"><b>Whatsapp :</b>&nbsp;&nbsp;+91 797 598 9664</span>
        </div>
      </div>
      <div id="footer-content" style="margin:auto 30px 10px 30px;font-size:14px;line-height:20px">
        <div style="padding-top:20px;"><b>Team Healthgraph</b></div>
      </div>
      <div style="background-color:#eee;padding:24px;height:42px">
        <table style="width:100%" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://healthgraph.in/" target="_blank"><%= image_tag Rails.application.config.ip + '/assets/healthgraph_full.png', style: 'height:30px;' %></a>
              </td>
              <td style="text-align:right;padding:0">
                <div style="line-height:14px;font-size:12px">
                  <a style="color:#666;text-decoration:none">Health Graph India Pvt. Ltd.<br>Bengaluru, Karnataka, India</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- END -->
</div>