<div style="max-width:800px;font-family:roboto,sans-serif;font-weight:400;">
  <div style="font-size:16px;border:1px solid #dedede;">
    <div style="padding:15px;">
      <table style="width:100%;" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td>
              <a href="https://healthgraph.in/" target="_blank"><%= image_tag Rails.application.config.ip + '/assets/f_foss.png', style: 'height:40px;' %></a>
            </td>
            <td style="text-align: right;">
              <span style="display: block;font-size:12px;"><b>Email :</b>&nbsp;&nbsp;support@healthgraph.in</span>
              <span style="display: block;font-size:12px;"><b>Whatsapp :</b>&nbsp;&nbsp;+91 797 598 9664</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="welcome-page">
      <div style="padding:24px 20px 24px 20px;background-color:#3cc1ff">
        <table style="width:100%;color:#ffffff" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <div style="font-size:20px;line-height:24px">Welcome to Healthgraph!</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="welcome-content" style="margin:auto 30px 10px 30px;font-size:14px;line-height:20px">
        <div style="font-size:20px;font-weight:700;line-height:24px;padding-top:20px">Hi <%= @user.fullname %>,</div>
        <div style="padding-top:20px;">Welcome to Healthgraph! You are now part of a community of hundreds of thousands of medical practioners using our Electronic Health Record (EHR) product to provide better patient care and manage clinical operations.</div>
      </div>
      <div id="details-content" style="margin:auto 30px 10px 30px;font-size:14px;line-height:20px">
        <div style="padding-top:20px;">Below are the details you filled during Signup :</div>
        <div style="padding-top:20px;">
          <table style="width:100%;" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <th style="text-align: left;width:25%;">Fullname</th>
                <th style="width:5%;">:</th>
                <td style="width:70%;"><%= @user.fullname %>(<%= @user.gender %>)</td>
              </tr>
              <tr>
                <th style="text-align: left;width:25%;">Email</th>
                <th style="width:5%;">:</th>
                <td style="width:70%;"><%= @user.email %></td>
              </tr>
              <tr>
                <th style="text-align: left;width:25%;">Username</th>
                <th style="width:5%;">:</th>
                <td style="width:70%;"><%= @user.username %></td>
              </tr>
              <tr>
                <th style="text-align: left;width:25%;">Mobile No.</th>
                <th style="width:5%;">:</th>
                <td style="width:70%;"><%= @user.mobilenumber %></td>
              </tr>
              <tr>
                <th style="text-align: left;width:25%;">Role</th>
                <th style="width:5%;">:</th>
                <td style="width:70%;"><%= @user.roles.pluck(:name).join(", ").titleize %></td>
              </tr>
              <tr>
                <th style="text-align: left;width:25%;">Organisation</th>
                <th style="width:5%;">:</th>
                <td style="width:70%;"><%= @organisation.name %></td>
              </tr>
              <tr>
                <th style="text-align: left;width:25%;">Setup Type</th>
                <th style="width:5%;">:</th>
                <td style="width:70%;"><%= @organisation.setup_type.titleize %></td>
              </tr>
              <tr>
                <th style="text-align: left;width:25%;">Address</th>
                <th style="width:5%;">:</th>
                <td style="width:70%;">
                  <%= @organisation.address1 %>, <%= @organisation.address2 %><br>
                  <%= @organisation.city %>, <%= @organisation.state %> - <%= @organisation.pincode %><br>
                  <b><%= Country.find(@facility.country_id).name.to_s %></b>
                </td>
              </tr>
              <tr>
                <th style="text-align: left;width:25%;">Acceptee Name</th>
                <th style="width:5%;">:</th>
                <td style="width:70%;"><%= @organisation.acceptancy_name %> - Date & Time <%= @organisation.acceptance_date.strftime('%I:%M %p (%d %b %Y)') %></td>
              </tr>
              <% if @organisation.try(:referral_code).present? %>
                <tr>
                  <th style="text-align: left;width:25%;">Referral Code</th>
                  <th style="width:5%;">:</th>
                  <td style="width:70%;"><%= @organisation.referral_code %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div id="welcome-content" style="margin:auto 30px 10px 30px;font-size:14px;line-height:20px">
        <div style="padding-top:20px;"><b>Please click on the below link to activate your account & set your password.</b></div>
        <div>
          <b>Your Password should contain:</b>
          <ul style="font-size: 12px;">
            <li>Min. 8 Characters</li>
            <li>Include 1 Number</li>
            <li>Include 1 Capital Letter</li>
            <li>A special Character @#$%^&+=</li>
          </ul>
        </div>
      </div>
      <div id="signup-url-content" style="margin:auto 30px 10px 30px;font-size:14px;line-height:20px">
        <div style="text-align:center;padding:10px;">
          <a href="<%= Rails.application.config.ip %>/users/activate?code=<%= @user.id.to_s%>" target="_blank" style="background-color:#3cc1ff;border:1px solid #3cc1ff;border-radius:4px;color:#ffffff;display:inline-block;font-family:Helvetica,Arial,sans-serif;font-size:14px;font-weight:bold;line-height:35px;text-align:center;text-decoration:none;padding:0 25px 0 25px;letter-spacing:.5px;min-width:150px">Activate Account</a>
        </div>
      </div>
      <div id="account-expiry-details" style="margin:auto 30px 10px 30px;font-size:14px;line-height:20px">
        <div style="padding:10px;">
          <h4 style="color:#3cc1ff;">Enjoy your <b><%= (@organisation.account_expiry_date - Date.current).to_i %> days</b> free trial.Your Trial will expire on <b><%= @organisation.account_expiry_date.strftime('%d %b %Y') %></b>.</h4>
          <b>To continue using product post trial.Below is the pricing.</b>
          <table cellpadding="0" cellspacing="0" style="font-size: 14px;width:100%;border:1px solid #333;">
            <thead>
              <tr style="border:1px solid #333;">
                <th style="border:1px solid #333;">Single User</th>
                <th style="border:1px solid #333;">Small Clinic</th>
                <th style="border:1px solid #333;">Mid-Size Hospital</th>
                <th style="border:1px solid #333;">Large Hospital</th>
              </tr>
            </thead>
            <tbody>
              <tr style="text-align: center;">
                <td style="border:1px solid #333;">1 User.</td>
                <td style="border:1px solid #333;">Max 5 Users.</td>
                <td style="border:1px solid #333;">Max 10 Users.</td>
                <td style="border:1px solid #333;">Max 20 Users.</td>
              </tr>
              <tr style="text-align: center;">
                <td style="border:1px solid #333;color:#3cc1ff;"><b>&#8377; 15,000/year</b></td>
                <td style="border:1px solid #333;color:#3cc1ff;"><b>&#8377; 54,000/year</b></td>
                <td style="border:1px solid #333;color:#3cc1ff;"><b>&#8377; 99,000/year</b></td>
                <td style="border:1px solid #333;color:#3cc1ff;"><b>&#8377; 1,72,500/year</b></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="details-content" style="margin:auto 30px 10px 30px;font-size:12px;line-height:20px">
        <div style="padding-top:20px;"><b>We're always here to help! Feel free to contact us at :</b>
          <span style="display: block;"><b>Email :</b>&nbsp;&nbsp;support@healthgraph.in</span>
          <span style="display: block;"><b>Whatsapp :</b>&nbsp;&nbsp;+91 797 598 9664</span>
        </div>
      </div>
      <div id="footer-content" style="margin:auto 30px 10px 30px;font-size:14px;line-height:20px">
        <div style="padding-top:20px;"><b>Team Healthgraph</b></div>
      </div>
      <div style="background-color:#eee;padding:24px;height:42px">
        <table style="width:100%" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://healthgraph.in/" target="_blank"><%= image_tag Rails.application.config.ip + '/assets/healthgraph_full.png', style: 'height:30px;' %></a>
              </td>
              <td style="text-align:right;padding:0">
                <div style="line-height:14px;font-size:12px">
                  <a style="color:#666;text-decoration:none">Health Graph India Pvt. Ltd.<br>Bengaluru, Karnataka, India</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- END -->
</div>