<div class="modal-dialog" style="width: 50%">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h5 class="modal-title" style="color: #1E90FF">Collection Report</h5>
    </div>
    <div class="modal-body window-body">
      <div class="row mb10">
        <div class="col-md-6">
          <b>From</b>
        </div>
        <div class="col-md-6">
          <b>To</b>
        </div>
        <div class="col-md-3">
          <b>Date:</b>
          <%= text_field_tag 'collection_report[start_date]', @start_date, class: 'form-control collection-report-start-datepicker p5_10' %>
        </div>
        <div class="col-md-3">
          <b>Time:</b>
          <div class="bootstrap-timepicker timepicker">
            <% start_time = Time.now.beginning_of_day %>
            <%= text_field_tag 'collection_report[start_time]', start_time.try(:strftime, '%I:%M %p'), class: 'form-control collection-report-timepicker p5_10' %>
          </div>
        </div>
        <div class="col-md-3">
          <b>Date:</b>
          <%= text_field_tag 'collection_report[end_date]', @end_date, class: 'form-control collection-report-end-datepicker p5_10' %>
        </div>
        <div class="col-md-3">
          <b>Time:</b>
          <div class="bootstrap-timepicker timepicker">
            <% end_time = Time.now.end_of_day %>
            <%= text_field_tag 'collection_report[end_time]', end_time.try(:strftime, '%I:%M %p'), class: 'form-control collection-report-timepicker p5_10' %>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row mb10">
        <div class="col-md-4">
          <b>User:</b>
          <% @all_user = @all_user << ['All User', 'all_user'] %>
          <%= select_tag 'collection_report[user_name]', options_for_select(@all_user, selected: current_user.id), include_blank: false, include_hidden: false, class: 'form-control collection-report-concerned-person', style: 'padding: 5px' %>
          <input type="hidden" name="collection_report[user_id]" id="concerned_user_id">
        </div>
        <div class="col-md-4">
          <b>Format:</b>
          <%= select_tag 'collection_report[format]', options_for_select([['xlsx'],['pdf']], selected: 'xlsx'), include_blank: false, include_hidden: false, class: 'form-control collection-report-format', style: 'padding: 5px' %>
        </div>
        <div class="col-md-4">
          <b>Sort By:</b>
          <%= select_tag 'collection_report[sort]', options_for_select([['User'], ['Time']], selected: 'User'), include_blank: false, include_hidden: false, class: 'form-control collection-report-sort', style: 'padding: 5px' %>
        </div>
      </div>
    </div>
    <div class="modal-footer window-footer">
      <% if @inventory_store.department_id == '50121007' %>
        <% download_report = "optical_sales_report_invoice_inventory_reports_path(start_date: @start_date, end_date: @end_date, store_id: @inventory_store.id, format: 'xlsx')"
          download_report_in_pdf = "optical_sales_report_invoice_inventory_reports_path(start_date: @start_date, end_date: @end_date, store_id: @inventory_store.id, format: 'pdf')"
         %>
      <% else %>
        <% download_report = "pharmacy_sales_report_invoice_inventory_reports_path(start_date: @start_date, end_date: @end_date, store_id: @inventory_store.id, format: 'xlsx')"
          download_report_in_pdf = "pharmacy_sales_report_invoice_inventory_reports_path(start_date: @start_date, end_date: @end_date, store_id: @inventory_store.id, format: 'pdf')"
         %>
      <% end %>
      <%= link_to eval(download_report), class: "download-report btn btn-primary download_report_setting xlsx_report", data: { method: :get } do %> <i class="fa fa-download mr5"></i> Download <% end %>
      <%= link_to eval(download_report_in_pdf), class: "download-report btn btn-primary download_report_setting pdf_report", data: { method: :get } do %> <i class="fa fa-download mr5"></i> Download <% end %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>

<style type="text/css">
  .collection-report-start-datepicker, .collection-report-end-datepicker, .collection-report-timepicker {
    cursor: pointer !important;
    background-color: #fff !important;
  }
</style>
