<div style="border:1px solid #ccc;">
  <div class="row" style="border-bottom:1px solid #ccc;">
    <div class="row mb5">
      <div class="col-md-6">
        <b><%= @facility_name %></b>
      </div>
      <div class="col-md-6 text-right">
        <b><%= @store_name %></b>
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-12">
        <b><%= @address %></b>
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-12">
        <b><%= @time_period %></b>
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-12">
        <b><%= @generate_on %></b>
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-12">
        <b><%= @generate_by %></b>
      </div>
    </div>
  </div>
  <div class="row" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;">
    <b style="background-color: #90EE90">SALES</b><br>
    <% if @optical_data_array.size > 0 %>
      <div class="row check-font mt10 mb5">
        <table class="table table table-striped table-bordered">
          <thead>
            <tr>
              <th>BILL NUMBER</th>
              <th>NAME</th>
              <th>PAYER</th>
              <th>PATIENT ID</th>
              <th>BILL AMOUNT</th>
              <th>DISCOUNT</th>
              <th>TAX AMOUNT</th>
              <th>NET AMOUNT</th>
              <th>CASH</th>
              <th>CARD</th>
              <th>ONLINE TRANSFER</th>
              <th>OTHERS</th>
              <th>DUE CASH</th>
              <th>REFUND CHARGES</th>
              <th>REFUND AMOUNT</th>
            </tr>
          </thead>
          <tbody>
            <% @optical_data_array.each do |item| %>
              <tr>
                <td><%= item[0] %></td>
                <td><%= item[1] %></td>
                <td><%= item[2] %></td>
                <td><%= item[3] %></td>
                <td><%= item[4] %></td>
                <td><%= item[5] %></td>
                <td><%= item[6] %></td>
                <td><%= item[7] %></td>
                <td><%= item[8] %></td>
                <td><%= item[9] %></td>
                <td><%= item[10] %></td>
                <td><%= item[11] %></td>
                <td><%= item[12] %></td>
                <td><%= item[13] %></td>
                <td><%= item[14] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <b>No Order To Display</b><br>
    <% end %>
    <b style="background-color: #90EE90">DELIVERY</b><br>
    <% if @optical_delivered_array.size > 0 %>
      <div class="row check-font mt10 mb5">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>BILL NUMBER</th>
              <th>NAME</th>
              <th>PAYER</th>
              <th>PATIENT ID</th>
              <th>BILL AMOUNT</th>
              <th>DISCOUNT</th>
              <th>TAX AMOUNT</th>
              <th>NET AMOUNT</th>
              <th>CASH</th>
              <th>CARD</th>
              <th>ONLINE TRANSFER</th>
              <th>OTHERS</th>
              <th>DUE CASH</th>
              <th>REFUND CHARGES</th>
              <th>REFUND AMOUNT</th>
            </tr>
          </thead>
          <tbody>
            <% @optical_delivered_array.each do |item| %>
              <tr>
                <td><%= item[0] %></td>
                <td><%= item[1] %></td>
                <td><%= item[2] %></td>
                <td><%= item[3] %></td>
                <td><%= item[4] %></td>
                <td><%= item[5] %></td>
                <td><%= item[6] %></td>
                <td><%= item[7] %></td>
                <td><%= item[8] %></td>
                <td><%= item[9] %></td>
                <td><%= item[10] %></td>
                <td><%= item[11] %></td>
                <td><%= item[12] %></td>
                <td><%= item[13] %></td>
                <td><%= item[14] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <b>No Order To Display</b><br>
    <% end %>
    <b style="background-color: #90EE90">RETURN / CANCELLATION</b><br>
    <% if @optical_return_array.size > 0 %>
      <div class="row check-font mt10 mb5">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>BILL NUMBER</th>
              <th>NAME</th>
              <th>PAYER</th>
              <th>PATIENT ID</th>
              <th>BILL AMOUNT</th>
              <th>DISCOUNT</th>
              <th>TAX AMOUNT</th>
              <th>NET AMOUNT</th>
              <th>CASH</th>
              <th>CARD</th>
              <th>ONLINE TRANSFER</th>
              <th>OTHERS</th>
              <th>DUE CASH</th>
              <th>REFUND CHARGES</th>
              <th>REFUND AMOUNT</th>
            </tr>
          </thead>
          <tbody>
            <% @optical_return_array.each do |item| %>
              <tr>
                <td><%= item[0] %></td>
                <td><%= item[1] %></td>
                <td><%= item[2] %></td>
                <td><%= item[3] %></td>
                <td><%= item[4] %></td>
                <td><%= item[5] %></td>
                <td><%= item[6] %></td>
                <td><%= item[7] %></td>
                <td><%= item[8] %></td>
                <td><%= item[9] %></td>
                <td><%= item[10] %></td>
                <td><%= item[11] %></td>
                <td><%= item[12] %></td>
                <td><%= item[13] %></td>
                <td><%= item[14] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <b>No Order To Display</b>
    <% end %>
  </div>
  <div class="row" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc; font-size: 11px">
    <div class="row mb5">
      <div class="col-md-1"></div>
      <div class="col-md-9">
        <div class="col-md-5">
          <span style="background-color: #87CEFA">Orders Advance Collection</span>
        </div>
        <div class="col-md-2">
          <span style="background-color: #87CEFA">Count</span>
        </div>
        <div class="col-md-2">
          <span style="background-color: #87CEFA">Amount</span>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row mb5">
      <div class="col-md-1"></div>
      <div class="col-md-9">
        <div class="col-md-5">
          <span>Cash</span>
        </div>
        <div class="col-md-2">
          <span><%= @cash_count_placed %></span>
        </div>
        <div class="col-md-2">
          <span><%= @cash_collection_placed&.round(2) %></span>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row mb5">
      <div class="col-md-1"></div>
      <div class="col-md-9">
        <div class="col-md-5">
          <span>Card</span>
        </div>
        <div class="col-md-2">
          <span><%= @card_count_placed %></span>
        </div>
        <div class="col-md-2">
          <span><%= @card_collection_placed&.round(2) %></span>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row mb5">
      <div class="col-md-1"></div>
      <div class="col-md-9">
        <div class="col-md-5">
          <span>Online Transfer</span>
        </div>
        <div class="col-md-2">
          <span><%= @online_transfer_count_placed %></span>
        </div>
        <div class="col-md-2">
          <span><%= @online_transfer_collection_placed&.round(2) %></span>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row mb5">
      <div class="col-md-1"></div>
      <div class="col-md-9">
        <div class="col-md-5">
          <span>Others</span>
        </div>
        <div class="col-md-2">
          <span><%= @others_count_placed %></span>
        </div>
        <div class="col-md-2">
          <span><%= @others_collection_placed&.round(2) %></span>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row mb5">
      <div class="col-md-1"></div>
      <div class="col-md-7">
        <div class="col-md-6">
          <span>Total Collection From Orders</span>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="col-md-2">
        <span><%= @total_collection_order&.round(2) %></span>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="row mb5">
      <div class="col-md-1"></div>
      <div class="col-md-9">
        <div class="col-md-5">
          <span style="background-color: #87CEFA">Delivery Collection</span>
        </div>
        <div class="col-md-2">
          <span style="background-color: #87CEFA">Count</span>
        </div>
        <div class="col-md-2">
          <span style="background-color: #87CEFA">Amount</span>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row mb5">
      <div class="col-md-1"></div>
      <div class="col-md-9">
        <div class="col-md-5">
          <span>Cash</span>
        </div>
        <div class="col-md-2">
          <span><%= @cash_count_delivered %></span>
        </div>
        <div class="col-md-2">
          <span><%= @cash_collection_delivered&.round(2) %></span>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row mb5">
      <div class="col-md-1"></div>
      <div class="col-md-9">
        <div class="col-md-5">
          <span>Card</span>
        </div>
        <div class="col-md-2">
          <span><%= @card_count_delivered %></span>
        </div>
        <div class="col-md-2">
          <span><%= @card_collection_delivered&.round(2) %></span>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row mb5">
      <div class="col-md-1"></div>
      <div class="col-md-9">
        <div class="col-md-5">
          <span>Online Transfer</span>
        </div>
        <div class="col-md-2">
          <span><%= @online_transfer_count_delivered %></span>
        </div>
        <div class="col-md-2">
          <span><%= @online_transfer_collection_delivered&.round(2) %></span>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row mb5">
      <div class="col-md-1"></div>
      <div class="col-md-9">
        <div class="col-md-5">
          <span>Others</span>
        </div>
        <div class="col-md-2">
          <span><%= @others_count_delivered %></span>
        </div>
        <div class="col-md-2">
          <span><%= @others_collection_delivered&.round(2) %></span>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row mb5">
      <div class="col-md-1"></div>
      <div class="col-md-7">
        <div class="col-md-6">
          <span>Total Collection From Delivery</span>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="col-md-2">
        <span><%= @total_collection_delivery&.round(2) %></span>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row mb5">
      <div class="col-md-1"></div>
      <div class="col-md-7">
        <div class="col-md-4">
          <span>Gross Collection</span>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        <span><%= @gross_collection_order&.round(2) %></span>
      </div>
    </div>

    <div class="row mb5">
      <div class="col-md-1"></div>
      <div class="col-md-9">
        <div class="col-md-5">
          <span style="background-color: #87CEFA">Return / Cancellation</span>
        </div>
        <div class="col-md-2">
          <span style="background-color: #87CEFA">Count</span>
        </div>
        <div class="col-md-2">
          <span style="background-color: #87CEFA">Amount</span>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row mb5">
      <div class="col-md-1"></div>
      <div class="col-md-9">
        <div class="col-md-5">
          <span>Return</span>
        </div>
        <div class="col-md-2">
          <span><%= @return_count %></span>
        </div>
        <div class="col-md-2">
          <span><%= @return_total_cash_collection&.round(2) %></span>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row mb5">
      <div class="col-md-1"></div>
      <div class="col-md-9">
        <div class="col-md-5">
          <span>Cancellation</span>
        </div>
        <div class="col-md-2">
          <span><%= @cancellation_count %></span>
        </div>
        <div class="col-md-2">
          <span><%= @return_cancelation_cash_collection&.round(2) %></span>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row mb5">
      <div class="col-md-1"></div>
      <div class="col-md-7">
        <div class="col-md-6">
          <span>Total Refund Amount</span>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="col-md-2">
        <span><%= @total_refund_amount&.round(2) %></span>
      </div>
      <div class="col-md-2"></div>
    </div><br>
    <div class="row mb5">
      <div class="col-md-1"></div>
      <div class="col-md-7">
        <div class="col-md-4">
          <span>Net Collection</span>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        <span><%= @net_collection&.round(2) %></span>
      </div>
    </div>
  </div>
  <div class="row" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc; font-size: 11px">
    <div class="row mb5">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="col-md-6">
          <span>Gross Cash Collection</span>
        </div>
        <div class="col-md-2">
          <%= @total_cash_collection&.round(2) %>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row mb5">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="col-md-6">
          <span>Net Cash Collection</span>
        </div>
        <div class="col-md-2">
          <%= @net_cash_collection&.round(2) %>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div><br><br>
    <div class="row mb5">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="col-md-6">
          <span>Collection By Card</span>
        </div>
        <div class="col-md-2">
          <%= @total_card_collection&.round(2) %>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row mb5">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="col-md-6">
          <span>Orders Discount</span>
        </div>
        <div class="col-md-2">
          <%= @total_discount&.round(2) %>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row mb5">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="col-md-6">
          <span>Total Order Net Amount</span>
        </div>
        <div class="col-md-2">
          <%= @net_amount_placed&.round(2) %>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row mb5">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="col-md-6">
          <span>Total Order Collection</span>
        </div>
        <div class="col-md-2">
          <%= @total_collection_order&.round(2) %>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row mb5">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="col-md-6">
          <b>Average Order Value</b>
        </div>
        <div class="col-md-2">
          <b><%= @avg_order_value&.round(2) %></b>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>

<style>
  .text-labels {
    font-weight: bold;
  }
  .check-font table tr th {
    padding: 1px 1px;
    background-color: #87CEFA;
    color: white;
    text-align: center;
  }

  .check-font table tr td {
    padding: 1px 1px;
    text-align: center;
  }

  .check-font {
    font-size: 9px;
  }
</style>
