<div style="border:1px solid #ccc;">
  <div class="row" style="border-bottom:1px solid #ccc;font-size: 10px; padding-top: 3px;">
    <div class="row ">
      <div class="col-md-12">
        Start Date:&nbsp;&nbsp;&nbsp;<%= Date.parse(params[:start_date]).strftime("%d/%m/%Y") %>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-12">
        End Date:&nbsp;&nbsp;&nbsp;<%= Date.parse(params[:end_date]).strftime("%d/%m/%Y") %>
      </div>
    </div>  
    <div class="row ">
      <div class="col-md-12">
        Store Name:&nbsp;&nbsp;&nbsp;<%= @store_name %>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-12">
        Facility Name:&nbsp;&nbsp;&nbsp;<%= @facility_name %>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-12">
        Address:&nbsp;&nbsp;&nbsp;<%= @address %>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-12">
        Sorted By:&nbsp;&nbsp;&nbsp;<%= params[:sort] %>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-12">
        User:&nbsp;&nbsp;&nbsp;<%= @user %>
      </div>
    </div>
  </div>
  <div class="row" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;">
    <% if @data_array.size > 0 %>
      <div class="row check-font mt10 mb5">
        <table class="table table table-striped table-bordered">
          <tr>
            <th style="background-color: #3399ff;">&nbsp;#&nbsp;</th>
            <th style="background-color: #3399ff;">Time</th>
            <th style="background-color: #3399ff;">Created By</th>
            <th style="background-color: #3399ff;">Patient Info</th>
            <th style="background-color: #3399ff;">Patient ID / MRN</th>
            <th style="background-color: #3399ff;">Receipt / Bill No. </th>
            <th style="background-color: #3399ff;">Type / MOP</th>
            <th style="background-color: #3399ff;">Remark</th>
            <th style="background-color: #3399ff;">Amount</th>
          </tr>
          <tbody>
           <% @data_array.each do |item| %>
              <tr>
                <td><%= item[0] %></td>
                <td style="width: 60px;word-wrap: break-word;"><%= item[1] %></td>
                <td><%= item[2] %></td>
                <td><%= Invoice::InventoryReportHelper.patient_info(item) %></td>
                <td><%= Invoice::InventoryReportHelper.patient_id_mrn(item) %></td>
                <td><%= "#{item[17]} / <br> #{item[21]}" .html_safe %></td>
                <td style="width: 60px;word-wrap: break-word;"><%= "#{item[16]} / #{item[18]}" %></td>
                <td style="width: 50px;word-wrap: break-word;"><%= item[19] %></td>
                <td><%= item[20]%></td>
              </tr>
            <% end %> 
          </tbody>
        </table>
      </div>
    <% else %>
      <b>No Order To Display</b><br>
    <% end %>
    <%if @user_wise_summary_array.present?%>
      <%@user_wise_summary_array.each_slice(3) do |data_set|%>
         <div class="border-primary" style="margin: 5px;">
          <div class="border-1">
            <h5 class="col-sm-12 text-primary" ><%=data_set[1][0]%></h5>
            <div class="row check-font">
              <div class="col-sm-6" style="padding-bottom: 5px;">
                <div class="row summary-head">
                  <div class="col-sm-6 border-l">Payment Mode</div>
                  <div class="col-sm-6 border-l">Amount</div>
                </div>
                <%data_set[0][1..-1].each_slice(2) do |mop| %>
                  <div class="row border-b" >
                    <div class="col-sm-6 border-l"><%=mop[0]%></div>
                    <div class="col-sm-6 border-lr"><%=mop[1]%></div>
                  </div>
                <%end%>
              </div>
              <div class="col-sm-6" style="padding-bottom: 5px;">
                <div class="row summary-head" >
                  <div class="col-sm-6 border-l"></div>
                  <div class="col-sm-6 border-l">Amount</div>
                </div>
                <%data_set[1][1..-1].each_slice(2) do |flow| %>
                  <div class="row border-b">
                    <div class="col-sm-6 border-l" ><%=flow[0]%></div>
                    <div class="col-sm-6 border-lr" ><%=flow[1]%></div>
                  </div>
                <%end%>                
              </div>
            </div>
          </div>
        </div> 
      <% end %>    
    <%end%>
    <% if @total_mop_array.present? && @total_val_array.present?%>
      <div class="border-primary" style="margin: 5px;">
        <div class="border-1">
          <h5 class="col-sm-12 text-primary" ><%=@summary%></h5>
          <div class="row check-font">
            <div class="col-sm-6" style="padding-bottom: 5px;">
              <div class="row summary-head">
                <div class="col-sm-6 border-l">Payment Mode</div>
                <div class="col-sm-6 border-l">Amount</div>
              </div>
              <%@total_mop_array.each_slice(2) do |mop| %>
                <div class="row border-b" >
                  <div class="col-sm-6 border-l"><%=mop[0]%></div>
                  <div class="col-sm-6 border-lr"><%=mop[1]%></div>
                </div>
              <%end%>
            </div>
            <div class="col-sm-6" style="padding-bottom: 5px;">
              <div class="row summary-head" >
                <div class="col-sm-6 border-l"></div>
                <div class="col-sm-6 border-l">Amount</div>
              </div>
              <%@total_val_array.each_slice(2) do |flow| %>
                <div class="row border-b">
                  <div class="col-sm-6 border-l" ><%=flow[0]%></div>
                  <div class="col-sm-6 border-lr" ><%=flow[1]%></div>
                </div>
              <%end%>                
            </div>
          </div>
        </div>
      </div> 
    <%end%>
  </div>
</div>

<style>
  .text-labels {
    font-weight: bold;
  }
  .check-font table tr th {
    padding: 1px 1px;
    background-color: #00b2f8;
    color: white;
    text-align: center;
  }

  .check-font table tr td {
    padding: 1px 1px;
    text-align: center;
  }

  .check-font {
    font-size: 9px;
  }
  .border-1{
    border: 1px solid black;
  }
  .border-l{
    border-left: 1px solid gray;
  }
  .border-lr{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
  }    
  .border-b{
    border-bottom: 1px solid gray;
  }
  .summary-head{
    background-color: #33b0ff;
    border: 1px solid gray;
    color: white;
  }
</style>
