<!-- Counter Logic -->
<% personnel_counter = 0 %>
<% if ipdrecord.surgeon.to_i != 0 || ipdrecord.surgeon_assistant.to_i != 0 || ipdrecord.anaesthetist.to_i != 0 || ipdrecord.anesthetic_assistant.to_i != 0 || ipdrecord.circulating_nurse.to_i != 0 || ipdrecord.scrub_nurse.to_i != 0 || ipdrecord.other_staff.to_i != 0 || ipdrecord.personnel_comments.to_i != 0 %>
  <% personnel_counter = personnel_counter + 1 %>
<% end %>

<!-- Surgeon -->
<% if ipdrecord.surgeon.to_i == 1 %>
  <% surgeon = ipdrecord.surgeon1 %>
<% elsif ipdrecord.surgeon.to_i == 2 %>
  <% surgeon = ipdrecord.surgeon1 + ', ' + ipdrecord.surgeon2 %>
<% elsif ipdrecord.surgeon.to_i == 3 %>
  <% surgeon = ipdrecord.surgeon1 + ', ' + ipdrecord.surgeon2 + ', ' + ipdrecord.surgeon3 %>
<% end %>

<!-- Surgeon Assistant -->
<% surgeon_assistant = "" %>
<% if ipdrecord.surgeon_assistant.to_i == 1 %>
  <% surgeon_assistant = ipdrecord.surgeon_assistant1 %>
<% elsif ipdrecord.surgeon_assistant.to_i == 2 %>
  <% surgeon_assistant = ipdrecord.surgeon_assistant1 + ', ' + ipdrecord.surgeon_assistant2 %>
<% elsif ipdrecord.surgeon_assistant.to_i == 3 %>
  <% surgeon_assistant = ipdrecord.surgeon_assistant1 + ', ' + ipdrecord.surgeon_assistant2 + ', ' + ipdrecord.surgeon_assistant3 %>
<% end %>

<!-- Anaesthetist -->
<% anaesthetist = "" %>
<% if ipdrecord.anaesthetist.to_i == 1 %>
  <% anaesthetist = ipdrecord.anaesthetist1 %>
<% elsif ipdrecord.anaesthetist.to_i == 2 %>
  <% anaesthetist = ipdrecord.anaesthetist1 + ', ' + ipdrecord.anaesthetist2 %>
<% elsif ipdrecord.anaesthetist.to_i == 3 %>
  <% anaesthetist = ipdrecord.anaesthetist1 + ', ' + ipdrecord.anaesthetist2 + ', ' + ipdrecord.anaesthetist3 %>
<% end %>

<!-- Anesthetic Assistant -->
<% anesthetic_assistant = "" %>
<% if ipdrecord.anesthetic_assistant.to_i == 1 %>
  <% anesthetic_assistant = ipdrecord.anesthetic_assistant1 %>
<% elsif ipdrecord.anesthetic_assistant.to_i == 2 %>
  <% anesthetic_assistant = ipdrecord.anesthetic_assistant1 + ', ' + ipdrecord.anesthetic_assistant2 %>
<% elsif ipdrecord.anesthetic_assistant.to_i == 3 %>
  <% anesthetic_assistant = ipdrecord.anesthetic_assistant1 + ', ' + ipdrecord.anesthetic_assistant2 + ', ' + ipdrecord.anesthetic_assistant3 %>
<% end %>

<!-- Circulating Nurse -->
<% circulating_nurse = "" %>
<% if ipdrecord.circulating_nurse.to_i == 1 %>
  <% circulating_nurse = ipdrecord.circulating_nurse1 %>
<% elsif ipdrecord.circulating_nurse.to_i == 2 %>
  <% circulating_nurse = ipdrecord.circulating_nurse1 + ', ' + ipdrecord.circulating_nurse2 %>
<% elsif ipdrecord.circulating_nurse.to_i == 3 %>
  <% circulating_nurse = ipdrecord.circulating_nurse1 + ', ' + ipdrecord.circulating_nurse2 + ', ' + ipdrecord.circulating_nurse3 %>
<% end %>

<!-- Scrub Nurse -->
<% scrub_nurse = "" %>
<% if ipdrecord.scrub_nurse.to_i == 1 %>
  <% scrub_nurse = ipdrecord.scrub_nurse1 %>
<% elsif ipdrecord.scrub_nurse.to_i == 2 %>
  <% scrub_nurse = ipdrecord.scrub_nurse1 + ', ' + ipdrecord.scrub_nurse2 %>
<% elsif ipdrecord.scrub_nurse.to_i == 3 %>
  <% scrub_nurse = ipdrecord.scrub_nurse1 + ', ' + ipdrecord.scrub_nurse2 + ', ' + ipdrecord.scrub_nurse3 %>
<% end %>

<!-- Other Staff -->
<% other_staff = "" %>
<% if ipdrecord.other_staff.to_i == 1 %>
  <% other_staff = ipdrecord.other_staff1 %>
<% elsif ipdrecord.other_staff.to_i == 2 %>
  <% other_staff = ipdrecord.other_staff1 + ', ' + ipdrecord.other_staff2 %>
<% elsif ipdrecord.other_staff.to_i == 3 %>
  <% other_staff = ipdrecord.other_staff1 + ', ' + ipdrecord.other_staff2 + ', ' + ipdrecord.other_staff3 %>
<% end %>


<% if personnel_counter > 0 %>
  <div class="row mb10">
    <div class="col-md-12">
      <% if source == "otschedule"%>
        <div class="col-md-12" style="margin-left: 10px;">
          Personnels:
        </div>
      <% elsif source == "operativenote"%>
        <div class="row">
          <strong>PERSONNEL :</strong>
          <div class="summary-line-border"></div>
        </div>
      <%end%>
      <% unless ipdrecord.surgeon.to_i == 0 %>
        <div class="row mb5 personnel-row">
          <div class="col-md-12 personnel-col">
            <b>Surgeon :</b> <%= surgeon %>
          </div>
        </div>
      <% end %>
      <% unless ipdrecord.surgeon_assistant.to_i == 0 %>
        <div class="row mb5 personnel-row">
          <div class="col-md-12">
            <b>Surgeon Assistant :</b> <%= surgeon_assistant %>
          </div>
        </div>
      <% end %>
      <% unless ipdrecord.anaesthetist.to_i == 0 %>
        <div class="row mb5 personnel-row">
          <div class="col-md-12">
            <b>Anaesthetist :</b> <%= anaesthetist %>
          </div>
        </div>
      <% end %>
      <% unless ipdrecord.anesthetic_assistant.to_i == 0 %>
        <div class="row mb5 personnel-row">
          <div class="col-md-12 ">
            <b>Anesthetic Assistant :</b> 
            <%= anesthetic_assistant %>
          </div>
        </div>
      <% end %>
      <% unless ipdrecord.circulating_nurse.to_i == 0 %>
        <div class="row mb5 personnel-row">
          <div class="col-md-12">
            <b>Circulating Nurse :</b> 
            <%= circulating_nurse %>
          </div>
        </div>
      <% end %>
      <% unless ipdrecord.scrub_nurse.to_i == 0 %>
        <div class="row mb5 personnel-row">
          <div class="col-md-12">
            <b>Instrument(Scrub) Nurse :</b> 
            <%= scrub_nurse %>
          </div>
        </div>
      <% end %>
      <% unless ipdrecord.other_staff.to_i == 0 %>
        <div class="row mb5 personnel-row">
          <div class="col-md-12">
            <b>Other Staff :</b> 
            <%= other_staff %>
          </div>
        </div>
      <% end %>
      <% if ipdrecord.personnel_comments %>
        <div class="row mb5 personnel-row">
          <div class="col-md-12">
            <b>Comments :</b> 
            <%= ipdrecord.personnel_comments %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>