<% if !@organisation.customised_letter_head %>
    <div style="border-bottom: 1px solid;border-bottom-color: #ddd;height:<%= @organisation.letter_head_customisations[:header_height] %>cm">

    </div>
<% else %>
    <%= render "print/print_header",:doctor => @user %>
<%end%>
<div class="row table-hg-print ipdsummaryprint">

  <div class="ipdsummary">

    <%= render partial: "templates/ipd/common/ipd_summary_form_patientinfo", locals: { patient: @patient } %>

    <% if @templatetype == "operativenote" %>
        <%= render partial: "templates/ipd/common/ipd_summary_otnote_form", locals: { patient: @patient, ipdrecord: @ipdrecord } %>
    <% elsif @templatetype == "dischargenote" %>
        <%= render partial: "templates/ipd/common/ipd_summary_dischargenote_form", locals: { patient: @patient, ipdrecord: @ipdrecord } %>
    <% elsif @templatetype == "admissionnote" %>
        <%= render partial: "templates/ipd/common/ipd_summary_admissionnote_form", locals: { patient: @patient, ipdrecord: @ipdrecord } %>
    <% end %>

  </div>

</div>