<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog" style="width: 70%;">
  <%= form_for @ophthal_laboratory_set, remote: true, html: {id: 'new-ophthal-set-form'} do |f| %>
    <div class="modal-content">    
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= @path.to_s %> Ophthal Laboratory Set</h4>
      </div>
      <div class="modal-body">
        <% if current_user.has_role?(:doctor) %>
          <%= f.hidden_field :doctor_id, value: current_user.id %>
        <% end %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :organisation_id, value: current_user.organisation_id %>
        <%= f.hidden_field :facility_id, value: current_facility.id %>
        <div class="row mb20">
          <div class="col-md-3">
            <b>Ophthal Laboratory Set Name :</b>
          </div>
          <div class="col-md-3">
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>

        <div class="row">
          <% unless @disable_default_investigation %>
            <div class="col-sm-12">
              <div class="col-md-2"></div>
              <div class="rdio rdio-primary col-md-4">
                <div id="standard_oph_inv" class="standard_oph_inv" style="margin-bottom:15px;">
                  <%= radio_button_tag "ophthal_inv_type", "standard_opthal_investigation", true, {:class => 'ophthal_inv_type', :id => "OphthalRadio1"} %>
                  <label for="OphthalRadio1">Standard Investigations</label>
                </div>
              </div>
              <div class="rdio rdio-primary col-md-6 custom_oph_inv" id="custom_oph_inv">
                <%= radio_button_tag "ophthal_inv_type", "custom_opthal_investigation", false, {:class => 'ophthal_inv_type', :id => "OphthalRadio2"} %>
                <label for="OphthalRadio2">Custom Investigations</label>
              </div>
            </div>
            <% end %>
        </div>

        <div class="row">
          <div class="standard-ophthal-investigations">
            <div class="col-sm-3">
              <b>Eye Region</b>
              <%= select_tag  "eyearea", options_for_select([ ["All", "all_region"], ["Cornea", "cornea###181162001"], ["Retina", "retina###5665001"], ["Glaucoma", "glaucoma###23986001"], ["Cataract", "cataract###193570009"], ["Neuro-Ophthalmology & Squint", "squint###22066006"]]) ,{ multiple: true, :style => 'height: 250px; width:100%', :class => 'form-control' } %>
            </div>
          </div>

          <div class="custom-ophthal-investigations">
            <% @custom_oph_inv_regions =  (CustomOphthalInvestigation.where(:organisation_id => current_user.organisation_id, '$or' => [{ level: 'organisation' }, { facility_id: current_facility.id.to_s, level: 'facility' }], is_deleted: false).pluck(:region)) %>
            <% @custom_ophthal_investigations_regions = @custom_oph_inv_regions.flatten.map { |region| region.to_s.downcase }.uniq %>

            <div class="col-sm-3">
               <b>Eye Region</b>
              <%= select_tag "custom_eyearea", options_for_select( @custom_ophthal_investigations_regions.map { |region| [region.capitalize, region] } ) , {:class => 'form-control opdrecord_eyearea', :multiple => true, :style => "min-height: 250px; width: 88%"} %>
            </div>
          </div>

          <div class="col-sm-3 custom_ophthal_investigations_label_select" id="custom_ophthal_investigations_label_select">
            <b>Investigation</b>
            <select class='form-control eyearea-options'  multiple='true' id="investigation-eyearea-option" style="height:250px;min-width:80%;"></select>
          </div>
          
          <div class="col-sm-6 selected-investigations">
            <b>Selected Tests</b>
            <% ophthal_investigation_data = JSON.parse(@ophthal_laboratory_set.data) if @ophthal_laboratory_set.data.present? %>
            <% ophthal_investigation_data.try(:each) do |key, value| %>
              <div class='row ophthal-investigation-row mb5'>
                <input type='hidden' name='ophthal_laboratory_set[data][<%= key %>][investigation_id]' class='form-control investigation_id' id='ophthal_laboratory_set_data_<%= key %>_investigation_id' value='<%= value["investigation_id"] %>'>
                <div class='col-sm-5'>
                  <input type='text' name='ophthal_laboratory_set[data][<%= key %>][investigationname]' class='form-control investigationname p5_10' id='ophthal_laboratory_set_data_<%= key %>_investigationname' value='<%= value["investigationname"] %>'>
                </div>
                <div class='col-sm-5'>
                  <select class='form-control investigationside p5_10' name='ophthal_laboratory_set[data][<%= key %>][investigationside]' id='ophthal_laboratory_set_data_<%= key %>_investigationside'>
                    <% if current_user.role_ids.include?(158965000) %>
                      <option value='40638003' <%= "selected='selected'" if value["investigationside"] == '40638003' %>>BE</option>
                    <% else %>
                      <option value='' <%= "selected='selected'" if ['40638003', nil].include?(value["investigationside"]) %>></option>
                    <% end %>
                    <option value='18944008' <%= "selected='selected'" if value["investigationside"] == '18944008' %>>R</option>
                    <option value='8966001' <%= "selected='selected'" if value["investigationside"] == '8966001' %>>L</option>
                  </select>
                </div>
                <div class='col-sm-2'>
                  <button class='btn btn-danger btn-xs delete-row'>&times;</button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "Save", data: { remote: true }, class: "btn btn-success", id: "save-ophthal-set-form", onclick: 'ophthal_set_form()' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  jQuery(document).ready(function() {
    if (<%= @disable_default_investigation %>) {
      jQuery(".standard-ophthal-investigations").hide();
      jQuery(".custom-ophthal-investigations").show();

    } else {
      jQuery(".custom-ophthal-investigations").hide();
      jQuery("input[name='ophthal_inv_type']").on('click', function () {
        var ophthal_inv_type = jQuery("input[name='ophthal_inv_type']:checked").val();
        if (ophthal_inv_type == 'standard_opthal_investigation') {
          jQuery(".standard-ophthal-investigations").show();
          jQuery(".custom-ophthal-investigations").hide();
        }
        else if (ophthal_inv_type == 'custom_opthal_investigation') {
          jQuery(".standard-ophthal-investigations").hide();
          jQuery(".custom-ophthal-investigations").show();
        }
      });
    }
  });

  $('#eyearea').on('change', function() {
      var eyearea_selected_option_value = $("#eyearea option:selected").val();      
      var selected_eyearea_region = eyearea_selected_option_value.split("###")[0];
      var selected_eyearea_region_snomedid = eyearea_selected_option_value.split("###")[1];
      
      var params = { eyearea: selected_eyearea_region, selected_eyearea_region_snomedid: selected_eyearea_region_snomedid };

      $.ajax({
        dataType: "JSON",
        type: "GET",
        url: "/opd_records/populate_ophthal_investigations",
        data: { ajax: params, ophthal_model: 'OphthalmologyInvestigationData', remote: "true" },
        success: function(response){
          $(".eyearea-options").html("")
          $.each(response, function(key, value) {            
            $(".eyearea-options").append("<option value=" + value[1] + ">" + value[0] + "</option>")
          });
        }
      })
  });


  $('#custom_eyearea').on('change', function() {
      var eyearea_selected_option_value = $("#custom_eyearea option:selected").val();      
      var selected_eyearea_region = eyearea_selected_option_value.split("###")[0];
      var selected_eyearea_region_snomedid = eyearea_selected_option_value.split("###")[1];
      
      var params = { eyearea: selected_eyearea_region, selected_eyearea_region_snomedid: selected_eyearea_region_snomedid };

      $.ajax({
        dataType: "JSON",
        type: "GET",
        url: "/opd_records/populate_ophthal_investigations",
        data: { ajax: params, ophthal_model: 'CustomOphthalInvestigation', remote: "true" },
        success: function(response){
          $(".eyearea-options").html("")
          $.each(response, function(key, value) {            
            $(".eyearea-options").append("<option value=" + value[1] + ">" + value[0] + "</option>")
          });
        }
      })
  });

  $(".eyearea-options").on('change', function(){
    var this_length = $(".selected-investigations").find('.ophthal-investigation-row').length
    var investigation_id = "<input type='hidden' name='ophthal_laboratory_set[data][" + this_length + "][investigation_id]' class='form-control investigation_id' id='ophthal_laboratory_set_data_" + this_length + "_investigation_id' value='" + $(".eyearea-options option:selected").val() + "'>"
    var investigationname = "<input type='text' name='ophthal_laboratory_set[data][" + this_length + "][investigationname]' class='form-control investigationname p5_10' id='ophthal_laboratory_set_data_" + this_length + "_investigationname' value='" + $(".eyearea-options option:selected").text() + "'>"
    if("<%= current_user.role_ids.include?(158965000) %>" == "true"){
      var investigationside = "<select class='form-control investigationside p5_10' name='ophthal_laboratory_set[data][" + this_length + "][investigationside]' id='ophthal_laboratory_set_data_" + this_length + "_investigationside'><option selected='selected' value='40638003'>B/E</option><option value='18944008'>R</option><option value='8966001'>L</option></select>"
    } else {
      var investigationside = "<select class='form-control investigationside p5_10' name='ophthal_laboratory_set[data][" + this_length + "][investigationside]' id='ophthal_laboratory_set_data_" + this_length + "_investigationside'><option value=''></option><option value='18944008'>R</option><option value='8966001'>L</option></select>"
    }

    $(".selected-investigations").append("<div class='row ophthal-investigation-row mb5'>" + investigation_id + "<div class='col-sm-5'>" + investigationname + "</div><div class='col-sm-5'>" + investigationside + "</div><div class='col-sm-2'><button class='btn btn-danger btn-xs delete-row'>&times;</button></div></div>")

    $(".delete-row").on('click', function(){
      $(this).closest('.ophthal-investigation-row').remove()
      renumber_investigation_rows()
    })
    $('.eyearea-options option:selected').removeAttr('selected');
  })

  $(".delete-row").on('click', function(){
    $(this).closest('.ophthal-investigation-row').remove()
    renumber_investigation_rows()
  })

  function renumber_investigation_rows(){
    var ophthal_investigation_rows = $(".selected-investigations").find('.ophthal-investigation-row')
    for (var i = ophthal_investigation_rows.length - 1; i >= 0; i--) {
      $(ophthal_investigation_rows[i]).find('.investigationname').attr('name','ophthal_laboratory_set[data][' + i + '][investigationname]')
      $(ophthal_investigation_rows[i]).find('.investigationside').attr('name','ophthal_laboratory_set[data][' + i + '][investigationside]')
      $(ophthal_investigation_rows[i]).find('.investigation_id').attr('name','ophthal_laboratory_set[data][' + i + '][investigation_id]')
      $(ophthal_investigation_rows[i]).find('.investigationname').attr('id','ophthal_laboratory_set_data_' + i + '_investigationname')
      $(ophthal_investigation_rows[i]).find('.investigationside').attr('id','ophthal_laboratory_set_data_' + i + '_investigationside')
      $(ophthal_investigation_rows[i]).find('.investigation_id').attr('id','ophthal_laboratory_set_data_' + i + '_investigation_id')
    }
  }
</script>