<div class="form-inputs"><hr>
  <div class="row">
    <div class="col-md-12 text-center">
      <b style="font-size: 20px;"><%=i.to_i+1%></b>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      Language:
    </div>
    <div class="col-md-4 dropdown_area">
      <%= hidden_field_tag "advice_set[language_advice_subset_attributes][#{i}][_destroy]","0", {:class => 'form-control' }%>
      <% @languages = Language.all %>
      <%= select_tag("advice_set[language_advice_subset_attributes][#{i}][lcid_code]", options_for_select(@languages.pluck(:name,:lcid_code).drop(1),@advice_set.try(:lcid_code)),{:class => 'form-control select2 language_dropdown selected_language', :style => 'width: 100%'}) %>
      <%= hidden_field_tag "advice_set[language_advice_subset_attributes][#{i}][language]","" ,{:class => 'form-control lcid_code' }%>
    </div>
    <div class="col-md-5 col-md-offset-3">
      <a id="remove_sub_advice_set_<%=i%>" class="pull-right btn btn-xs btn-danger btn-square remove_sub_advice_set" ><span class="glyphicon glyphicon-remove"></span>Remove</a>
    </div>
  </div><br>

  <div class="row">
    <div class="col-md-12 col-lg-12">
      Content:
    </div>
    <div class="col-md-12 advice-set">
      <%= text_area_tag "advice_set[language_advice_subset_attributes][#{i}]content", nil,{:class => 'form-control text_note_down', :rows => "7" ,:onBlur=> "lasttext=this",:style=> "overflow-y: auto"} %>
    </div>
  </div>
</div>
<%@i = i%>