<!-- Not in Use -->
<div class="modal-body">

      <div class="row">

        <div class="col-md-12">

            <div class="opdsummary">

                    <div class="patientinfo mb10" id="patientinfo">

                            <div class="row">
                              <div class="col-sm-4">
                                <div class="row">
                                  <div class="col-xs-4">Patient Name:</div>
                                  <div class="col-xs-8"><%= @patient.fullname %></div>
                                </div>
                                <div class="row">
                                  <div class="col-xs-4">Age/Gender:</div>
                                  <div class="col-xs-8"><%= @patient.age %> Years/<%= @patient.gender %></div>
                                </div>
                                <div class="row">
                                  <div class="col-xs-4">Doctor:</div>
                                  <div class="col-xs-8">Dr. <%= current_user.fullname %></div>
                                </div>
                                <div class="row">
                                  <div class="col-xs-4">Company Name:</div>
                                  <div class="col-xs-8">XYZ</div>
                                </div>
                                <div class="row">
                                  <div class="col-xs-4">Bill no:</div>
                                  <div class="col-xs-8">O</div>
                                </div>
                              </div><!-- col-sm-4 -->
                              <div class="col-sm-4">
                                <div class="row">
                                  <div class="col-xs-4">Hospital Id:</div>
                                  <div class="col-xs-8"><%= @patient.hospitalpatientid %></div>
                                </div>
                                <div class="row">
                                  <div class="col-xs-4">Nationality:</div>
                                  <div class="col-xs-8">Indian</div>
                                </div>
                                        <% if current_user.designation.present? %>
                                        <div class="row">
                                        <div class="col-xs-4">Designation:</div>
                                    <div class="col-xs-8">current_user.designation</div>
                                        </div>
                                    <% end %>
                                <div class="row">
                                  <div class="col-xs-4">Specialisation:</div>
                                  <div class="col-xs-8"><%= current_user.department.name %></div>
                                </div>
                                <div class="row">
                                  <div class="col-xs-4">Encountered Date:</div>
                                  <div class="col-xs-8"><%= Date.current.strftime("%d-%m-%Y") %></div>
                                </div>
                              </div><!-- col-sm-4 -->
                            </div><!-- row -->

                    </div>

                  <div class="chiefcomplaint mb10" id="chiefcomplaint">

                      <% if @opdrecord.chiefcomplaintselectedtags.length > 0 %>

                          <div class="col-md-12">

                              <h3 class="panel-title">Chief Complaint</h3>
                              <%= @opdrecord.get_chiefcomplaints_for_opdsummary(@opdrecord.chiefcomplaintselectedtags) %>

                          </div>

                      <% end %>

                  </div>

                  <div class="diagnosis mb10" id="diagnosis">

                      <% if @opdrecord.has_diagnosislist? %>

                          <div class="col-md-10">
                                <h3 class="panel-title">Diagnosis</h3>
                                <table class="table table-striped table-bordered">
                                    <thead style="background-color: #7989BB;">
                                        <tr>
                                              <th width="3%">#</th>
                                              <th width="20%"></th>
                                              <th width="10%"></th>
                                              <th width="10%"></th>
                                              <th width="10%"></th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                      <% @opdrecord.diagnosislist.each_with_index do |elem, i|  %>

                                          <tr>
                                              <td><%= (i.to_i + 1) %></td>
                                              <td><%= elem.diagnosisname %></td>

                                              <% if elem.icddiagnosiscodehasattributes == "Y" %>

                                                  <% if elem.position_4? %>

                                                      <% if elem.send("icddiagnosiscodeattrdisplayrule_#{elem.icddiagnosiscodelength + 1}") == "Y" %>
                                                            <td><%= @opdrecord.get_diagnosis_icd_label("#{elem.icddiagnosiscode}#{elem.position_4}", elem.position_4, elem.send("icddiagnosiscodeattrposition_#{elem.icddiagnosiscodelength.to_i + 1}") ) %></td>

                                                      <% elsif elem.send("icddiagnosiscodeattrdisplayrule_#{elem.icddiagnosiscodelength + 1}") == "N" %>

                                                            <td>--</td>

                                                      <% end %>

                                                  <% else %>
                                                      <td>--</td>
                                                  <% end %>

                                                  <% if elem.position_5? %>

                                                      <% if elem.position_4? %>

                                                          <% if elem.send("icddiagnosiscodeattrdisplayrule_#{elem.icddiagnosiscodelength + 2}") == "Y" %>

                                                                <td><%= @opdrecord.get_diagnosis_icd_label("#{elem.icddiagnosiscode}#{elem.position_4}", elem.position_5, elem.send("icddiagnosiscodeattrposition_#{elem.icddiagnosiscodelength.to_i + 2}") ) %></td>

                                                          <% elsif elem.send("icddiagnosiscodeattrdisplayrule_#{elem.icddiagnosiscodelength + 2}") == "N" %>

                                                                <td>--</td>

                                                          <% end %>

                                                      <% else %>

                                                          <% if elem.send("icddiagnosiscodeattrdisplayrule_#{elem.icddiagnosiscodelength + 1}") == "Y" %>

                                                                <td><%= @opdrecord.get_diagnosis_icd_label("#{elem.icddiagnosiscode}", elem.position_5, elem.send("icddiagnosiscodeattrposition_#{elem.icddiagnosiscodelength.to_i + 1}") ) %></td>

                                                          <% elsif elem.send("icddiagnosiscodeattrdisplayrule_#{elem.icddiagnosiscodelength + 1}") == "N" %>

                                                                <td>--</td>

                                                          <% end %>

                                                      <% end %>

                                                  <% else %>
                                                      <td>--</td>
                                                  <% end %>

                                                  <% if elem.position_6? %>

                                                      <% if elem.position_4? && elem.position_5? %>

                                                          <% if elem.send("icddiagnosiscodeattrdisplayrule_#{elem.icddiagnosiscodelength + 3}") == "Y" %>

                                                                <td><%= @opdrecord.get_diagnosis_icd_label("#{elem.icddiagnosiscode}#{elem.position_4}#{elem.position_5}", elem.position_6, elem.send("icddiagnosiscodeattrposition_#{elem.icddiagnosiscodelength.to_i + 3}") ) %></td>

                                                          <% elsif elem.send("icddiagnosiscodeattrdisplayrule_#{elem.icddiagnosiscodelength + 3}") == "N" %>

                                                                <td>--</td>

                                                          <% end %>

                                                      <% elsif elem.position_4? %>

                                                          <% if elem.send("icddiagnosiscodeattrdisplayrule_#{elem.icddiagnosiscodelength + 2}") == "Y" %>

                                                                <td><%= @opdrecord.get_diagnosis_icd_label("#{elem.icddiagnosiscode}#{elem.position_4}", elem.position_6, elem.send("icddiagnosiscodeattrposition_#{elem.icddiagnosiscodelength.to_i + 2}") ) %></td>

                                                          <% elsif elem.send("icddiagnosiscodeattrdisplayrule_#{elem.icddiagnosiscodelength + 2}") == "N" %>

                                                                <td>--</td>

                                                          <% end %>

                                                      <% elsif elem.position_5? %>

                                                          <% if elem.send("icddiagnosiscodeattrdisplayrule_#{elem.icddiagnosiscodelength + 2}") == "Y" %>

                                                                <td><%= @opdrecord.get_diagnosis_icd_label("#{elem.icddiagnosiscode}#{elem.position_5}", elem.position_6, elem.send("icddiagnosiscodeattrposition_#{elem.icddiagnosiscodelength.to_i + 2}") ) %></td>

                                                          <% elsif elem.send("icddiagnosiscodeattrdisplayrule_#{elem.icddiagnosiscodelength + 2}") == "N" %>

                                                                <td>--</td>

                                                          <% end %>

                                                      <% else %>

                                                          <% if elem.send("icddiagnosiscodeattrdisplayrule_#{elem.icddiagnosiscodelength + 1}") == "Y" %>

                                                                <td><%= @opdrecord.get_diagnosis_icd_label("#{elem.icddiagnosiscode}", elem.position_6, elem.send("icddiagnosiscodeattrposition_#{elem.icddiagnosiscodelength.to_i + 1}") ) %></td>

                                                          <% elsif elem.send("icddiagnosiscodeattrdisplayrule_#{elem.icddiagnosiscodelength + 1}") == "N" %>

                                                                <td>--</td>

                                                          <% end %>

                                                      <% end %>

                                                  <% else %>
                                                      <td>--</td>
                                                  <% end %>

                                              <% elsif elem.icddiagnosiscodehasattributes == "N" %>

                                                  <td>--</td>

                                                  <td>--</td>

                                                  <td>--</td>

                                              <% end %>
                                          </tr>

                                      <% end %>

                                    </tbody>

                                </table>

                          </div>

                      <% end %>

                  </div>

                  <div class="investigations mb10" id="investigations">

                        <% if @opdrecord.has_investigationlist? %>

                            <div class="col-md-4">

                                <h3 class="panel-title">Radiology</h3>

                                    <table class="table table-striped table-bordered">
                                        <thead style="background-color: #7989BB;">
                                          <tr>
                                            <th width="3%">#</th>
                                            <th width="50%"></th>
                                            <th width="10%"></th>
                                            <th width="25%"></th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <% @opdrecord.investigationlist.each_with_index do |elem, i|  %>

                                              <tr>
                                                <td>
                                                  <h5><%= (i.to_i + 1) %></h5>
                                                </td>
                                                <td>
                                                  <h5><%= elem.investigationname %></h5>
                                                </td>
                                                <% if elem.is_spine == 'N' %>
                                                    <td>
                                                      <h5><%= elem.laterality %></h5>
                                                    </td>
                                                <% else %>
                                                    <td>
                                                      <h5>--</h5>
                                                    </td>
                                                <% end %>

                                                <% if elem.investigationoption1_collection? %>
                                                    <td>
                                                      <%= elem.investigationoption1_collection.join(", ") %>
                                                    </td>
                                                <% else %>
                                                    <td>
                                                      <h5>--</h5>
                                                    </td>
                                                <% end %>
                                              </tr>

                                          <% end %>
                                        </tbody>
                                    </table>
                            </div>

                        <% end %>

                        <% if @opdrecord.has_addedlaboratoryinvestigationlist? %>

                            <div class="col-md-3">
                                  <h3 class="panel-title">Laboratory</h3>
                                  <table class="table table-striped table-bordered">
                                    <thead style="background-color: #7989BB;">
                                    <tr>
                                      <th width="3%">#</th>
                                      <th width="40%">Name</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% @opdrecord.addedlaboratoryinvestigationlist.each_with_index do |elem, i|  %>
                                        <tr>
                                          <td>
                                            <h5><%= (i.to_i + 1) %></h5>
                                          </td>
                                          <td>
                                            <h5><%= elem.investigationname %></h5>
                                          </td>
                                        </tr>
                                    <% end %>
                                    </tbody>
                                  </table>
                            </div>

                        <% end %>

                        <% if @opdrecord.has_addedotherinvestigationlist? %>

                            <div class="col-md-3">
                                <h3 class="panel-title">Others</h3>
                                <table class="table table-striped table-bordered">
                                  <thead style="background-color: #7989BB;">
                                  <tr>
                                    <th width="3%">#</th>
                                    <th width="40%">Name</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <% @opdrecord.addedotherinvestigationlist.each_with_index do |elem, i|  %>
                                      <tr>
                                        <td>
                                          <h5><%= (i.to_i + 1) %></h5>
                                        </td>
                                        <td>
                                          <h5><%= elem.investigationname %></h5>
                                        </td>
                                      </tr>
                                  <% end %>
                                  </tbody>
                                </table>
                            </div>

                        <% end %>

                  </div>

                  <div class="medication mb10" id="medication">

                      <% if @opdrecord.has_treatmentmedication? %>

                          <div class="col-md-10">

                            <h3 class="panel-title">Medication</h3>
                            <table class="table table-striped table-bordered">
                                <thead style="background-color: #7989BB;">
                                    <tr>
                                      <th width="3%">#</th>
                                      <th width="25%">Medicine Name</th>
                                      <th width="10%">Frequency</th>
                                      <th width="10%">Days & Duration</th>
                                      <th width="8%">Start Date</th>
                                      <th width="8%">Stop Date</th>
                                      <th width="20%">Directions for use</th>
                                    </tr>
                                </thead>
                                <tbody class="medication-table-body">

                                      <% @opdrecord.treatmentmedication.each_with_index do |elem, i|  %>

                                            <tr class="treatmentmedications">

                                              <td>
                                                  <%= (i.to_i + 1) %>
                                              </td>

                                              <td>
                                                  <%= elem.medicinename %>
                                              </td>

                                              <td>
                                                  <%= elem.medicinefrequency %>
                                              </td>

                                              <td>
                                                  <%= elem.medicineduration %>
                                              </td>

                                              <td>
                                                  <%= Date.current.strftime("%d-%m-%Y") %>
                                              </td>

                                              <td>
                                                  <%= (Date.current + 1.week).strftime("%d-%m-%Y") %>
                                              </td>

                                              <td>
                                                  <%= elem.medicineinstructions %>
                                              </td>

                                            </tr>

                                      <% end %>

                                </tbody>

                            </table>

                          </div>

                      <% end %>

                  </div>

                  <div class="procedure mb10" id="procedure">

                        <% if @opdrecord.has_procedure? %>

                            <div class="col-md-12">

                              <h3 class="panel-title">Procedure</h3>
                              <% @opdrecord.procedure.each_with_index do |elem, i|  %>
                                    <%= (i.to_i + 1) %>
                                    <% if elem.procedureside == '' %>

                                          --

                                    <% else %>

                                          <%= elem.procedureside %>

                                    <% end %>
                                    <% if elem.procedurestatus == '' %>

                                          --

                                    <% else %>

                                          <%= elem.procedurestatus %>

                                    <% end %>
                                    <% if elem.procedureapproach == '' %>

                                          --

                                    <% else %>

                                          <%= elem.procedureapproach %>

                                    <% end %>
                                    <% if elem.proceduretype == '' %>

                                          --

                                    <% else %>

                                          <%= elem.proceduretype %>

                                    <% end %>
                                    <% if elem.procedurename == 'No Procedure Sub Type' || elem.procedurename == '' %>

                                          --

                                    <% else %>

                                          <%= elem.procedurename %>

                                    <% end %>
                                    <% if elem.procedurequalifier == 'No Procedure Qualifier' || elem.procedurequalifier == '' %>

                                          --

                                    <% else %>

                                          <%= elem.procedurequalifier %>

                                    <% end %>
                                    <% if elem.proceduresubqualifier == '' %>

                                          --

                                    <% else %>

                                          <%= elem.proceduresubqualifier %>

                                    <% end %>

                              <% end %>

                            </div>

                        <% end %>

                  </div>

                  <div class="advice mb10 <%= 'print_text_font_size' if  @print_setting %>" id="advice" style="<%= text_font_size %>">

                     <% if @opdrecord.has_advice? %>

                        <div class="col-md-12">

                          <h3 class="panel-title">Advice</h3>

                              <% if @opdrecord.advice.physiotherapyadviceselectedtags.length > 0 %>

                                  <div class="col-md-5">

                                      <h5 class="panel-title">Physiotherapy</h5>
                                      <%= @opdrecord.advice.physiotherapyadviceselectedtags %>

                                  </div>

                              <% end %>

                              <% if @opdrecord.advice.otherprecautionsselectedtags.length > 0 %>

                                  <div class="col-md-5">

                                      <h5 class="panel-title">Diet & Other precautions</h5>
                                      <%= @opdrecord.advice.otherprecautionsselectedtags %>

                                  </div>

                              <% end %>

                              <div class="col-md-5">

                                  <h5 class="panel-title">Advice Date</h5>
                                  <%= Date.current.strftime("%d-%m-%Y") %>

                              </div>

                              <% if @opdrecord.advice.opdfollowuptimeframe.length > 0 %>

                                <div class="col-md-5">

                                    <h5 class="panel-title">Followup</h5>
                                    <%= OpdRecordsHelper.get_label_for_opd_followup_timeframe(@opdrecord.advice.opdfollowuptimeframe) %>
                                    <%#= @opdrecord.get_label_for_opd_followup_timeframe(@opdrecord.advice.opdfollowuptimeframe) %>

                                </div>

                              <% end %>

                        </div>

                     <% end %>

                  </div>

            </div>

        </div>

      </div>

</div>
