<% if @mode == "tabview" %>
  <% request = false %>
<% else %>
  <% request = true %>
<% end %>
<%= simple_form_for :opdrecord, url: eval(@url_path), :remote => request, :html => { :id => "#{@speciality_folder_name}-#{@templatetype}-soap-note #{@speciality_folder_name}-#{@templatetype}-form", :class => "form-inline #{@speciality_folder_name}-#{@templatetype}-soap-note #{@speciality_folder_name}-#{@templatetype}-form soapnote", "data-templatetype" => "#{@templatetype}", "data-templatetypeid" => eval('Global.send("#{@speciality_folder_name}").send("#{@templatetype}template").templateid'), "data-specality" => "#{@speciality_folder_name}", "data-specalityid" => "#{@specalityid}", "data-specality-templatetype" => "#{@speciality_folder_name}-#{@templatetype}", :method => @url_method } do |f| %>
<div class="row mb5">
  <% if params[:action]!= 'custom_new' && params[:action]!= 'custom_edit' %>
    <%= render partial: "templates/common/patient_info", locals: { patient: @patient } %>  <!-- Render common patient info template from partial -->
  <% end %>
</div>
<%= hidden_field_tag "opdrecord[consultant_id]", @opdrecord.consultant_id, {:class => 'form-control opdrecord_owner_id' } %>
<%= hidden_field_tag "opdrecord[consultant_name]", @opdrecord.consultant_name, {:class => 'form-control opdrecord_owner_name' } %>

<%= hidden_field_tag "opdrecord[organisation_id]", @current_user.organisation_id, {:class => 'form-control opdrecord_organisation_name' } %>
<!-- CaseSheet -->
<%= hidden_field_tag "opdrecord[case_sheet_id]", @case_sheet.id %>
<%= hidden_field_tag "mode_of_request", @mode %>
<% if @templatetype == "express" %>
    <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/express_template_form", locals: { f: f, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>
<% elsif @templatetype == "freeform" %>
    <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/freeform_template_form", locals: { f: f, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>
<% elsif @templatetype == "trauma" %>
    <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/trauma_template_form", locals: { f: f, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>
<% else %>
    <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/regionopd_template_form", locals: { f: f, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>
<% end %>

<% end %>

<style type="text/css">
  hr{
    background-color: black;
    margin:0px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
</style>
<% if @mode == "tabview"%>
  <style>
    @media only screen and (min-device-width : 480px)  and (max-device-width: 1280px) {
    .text_head{
      display: none
    }
    .tooltip {
        display: none !important;
    }
    /*.steps li{
      width: 160px !important;
    }*/

    /*.fuelux .wizard>.steps li span{
      display: none;
    }*/

    .visit_mob{
      margin-left: -80px;
    }
    #opdrecord_view_owner_id{
    width: 60%;
    padding: 8px 0px;
    border-radius: 4px;
    }
    .checkuptype{
      font-size: 11px;
    }
    .checkuptypecomments{
      width: 60% !important;
      height: 30px;
    }
    .custom-radio-button{
      font-size: 11px;
    }
    .ckbox .ckbox-primary{
      font-size:11px;
    }
    .chiefcomplaint-table-body-added{
      font-size:12px;
    }
    .form-control{
      font-size:12px;
    }
    .wizard-form-prev-next-buttons{
      background: none !important;
      border: none !important;
      margin-top: -4px;
      display: none;
    }
    .mobile_header_eye{
      margin-top: -47px;
      position: relative;
    }
    .mobile_content_eye{
      margin-left: -14px;
      margin-right: -14px;
    }
    .tabview{
      display: block !important;
    }
    .webview{
      display: none !important;
    }
    .tab_select_tag{
      border: 1px solid #444;
      padding: 5px;
      background: none !important;
      color: #444;
      border-radius: 5px;
      width: 90%;
    }
    
    #opdrecord_xraysmrictothersinvestigations_tab{
      border: 1px solid #444;
      padding: 5px;
      background: none;
      color: #444;
      display:block;
      margin-top: 10px;
      height: 30px;
      border-radius: 5px;
    }
    .form-inline .form-group {
    margin-right: 0px;
    }
  }
  </style>
<% end %>