<% @opdrecord.procedure.each_with_index do |elem, i| %>

    <tr class="procedurelist">
      <%= hidden_field_tag "opdrecord[procedure_attributes][#{i}][id]", elem.id, {:class => 'form-control id' } %>
      <%= hidden_field_tag "opdrecord[procedure_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
      <td>
        <div class="row">
          <% if elem.procedurestage == "A" %>
              <div class="col-md-12">
                <%= radio_button_tag "opdrecord[procedure_attributes][#{i}][procedurestage]", "A", true, { :class => 'form-control opdrecord_procedurexxx' } %> <%= label_tag "Advised" %>
              </div>
              <div class="col-md-12">
                <%= radio_button_tag "opdrecord[procedure_attributes][#{i}][procedurestage]", "P", false, { :class => 'form-control opdrecord_procedurexxx' } %> <%= label_tag "Performed" %>
              </div>
          <% end %>
          <% if elem.procedurestage == "P" %>
              <div class="col-md-12">
                <%= radio_button_tag "opdrecord[procedure_attributes][#{i}][procedurestage]", "A", false, { :class => 'form-control opdrecord_procedurexxx' } %> <%= label_tag "Advised" %>
              </div>
              <div class="col-md-12">
                <%= radio_button_tag "opdrecord[procedure_attributes][#{i}][procedurestage]", "P", true, { :class => 'form-control opdrecord_procedurexxx' } %> <%= label_tag "Performed" %>
              </div>
          <% end %>
        </div>
      </td>

      <td>
        <%= select_tag "opdrecord[procedure_attributes][#{i}][procedureside]", options_for_select(opdrecord.get_procedure_side_list_attribute("side", specalityfoldername, elem.procedureregionnametext), elem.procedureside), { :class => 'form-control opdrecord_procedureside', :include_blank => true} %>
        <%= hidden_field_tag "opdrecord[procedure_attributes][#{i}][proceduresidetext]", elem.proceduresidetext, { :class => 'form-control opdrecord_proceduresidetext'} %>
      </td>

      <td>
        <%= select_tag "opdrecord[procedure_attributes][#{i}][procedurestatus]", options_for_select(opdrecord.get_procedure_status_list_attribute("type", specalityfoldername, elem.procedureregionnametext), elem.procedurestatus), { :class => 'form-control opdrecord_procedurestatus', :style => "width: 100%" } %>
        <%= hidden_field_tag "opdrecord[procedure_attributes][#{i}][procedurestatustext]", elem.procedurestatustext, { :class => 'form-control opdrecord_procedurestatustext' } %>
      </td>

      <td>
        <%= select_tag "opdrecord[procedure_attributes][#{i}][procedureapproach]", options_for_select(opdrecord.get_procedure_approach_list_attribute("approach", specalityfoldername, elem.procedureregionnametext), elem.procedureapproach), { :class => 'form-control opdrecord_procedureapproach', :style => "width: 100%" } %>
        <%= hidden_field_tag "opdrecord[procedure_attributes][#{i}][procedureapproachtext]", elem.procedureapproachtext, { :class => 'form-control opdrecord_procedureapproachtext'} %>
      </td>

      <td>
        <%= select_tag "opdrecord[procedure_attributes][#{i}][procedurename]", options_for_select(opdrecord.get_procedure_subtype_list_attributes(elem.proceduretype, specalityfoldername, elem.procedureregionnametext), elem.procedurename), { :class => 'form-control opdrecord_procedurename', :include_blank => false, :style => "width: 100%" } %>
        <%= hidden_field_tag "opdrecord[procedure_attributes][#{i}][procedurenametext]", elem.procedurenametext, { :class => 'form-control opdrecord_procedurenametext'} %>
      </td>

      <td>
        <%= select_tag "opdrecord[procedure_attributes][#{i}][procedurequalifier]", options_for_select(opdrecord.get_procedure_qualifier_list_attributes(elem.procedurenametext, specalityfoldername, elem.procedureregionnametext), elem.procedurequalifier), { :class => 'form-control opdrecord_procedurequalifier', :include_blank => false, :style => "width: 100%" } %>
        <%= hidden_field_tag "opdrecord[procedure_attributes][#{i}][procedurequalifiertext]", elem.procedurequalifiertext, { :class => 'form-control opdrecord_procedurequalifiertext'} %>
      </td>

      <td>
        <%= select_tag "opdrecord[procedure_attributes][#{i}][proceduresubqualifier]", options_for_select(opdrecord.get_procedure_sub_qualifier_list_attributes("proceduresubqualifier", specalityfoldername, elem.procedureregionnametext), elem.proceduresubqualifier), { :class => 'form-control opdrecord_proceduresubqualifier', :include_blank => true, :style => "width: 100%" } %>
        <%= hidden_field_tag "opdrecord[procedure_attributes][#{i}][proceduresubqualifiertext]", elem.proceduresubqualifiertext, { :class => 'form-control opdrecord_proceduresubqualifiertext'} %>
      </td>

      <td>
        <a id="removeprocedurebutton" class="btn btn-sm btn-primary btn-danger removeprocedurebutton" href="javascript:;" name="removeprocedurebutton" ><span class="glyphicon glyphicon-remove"></span></a>
      </td>

    </tr>

<% end %>