<div class="tab-pane" id="radiology">
  
  <div class="row">
    <div class="col-sm-12">
      <div class="col-md-2"></div>
      <% unless @disable_default_investigation %>
        <div class="rdio rdio-primary col-md-4">
          <div id="standard_rad_inv" class="standard_rad_inv" style="margin-bottom:15px;">
            <%= radio_button_tag "radiology_inv_type", "standard_radiology_investigation", true, {:class => 'radiology_inv_type', :id => "RadiologyRadio1"} %>
            <label for="RadiologyRadio1">Standard Radiology Investigations</label>
          </div>
        </div>

        <div class="rdio rdio-primary col-md-6 custom_oph_inv" id="custom_oph_inv">
          <%= radio_button_tag "radiology_inv_type", "custom_radiology_investigation", false, {:class => 'radiology_inv_type', :id => "RadiologyRadio2"} %>
          <label for="RadiologyRadio2">Custom Radiology Investigations</label>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-12 radiology_region_label_select">
    <div class="col-md-2">Body Region :</div>
    <%= f.input :radiologyregion, wrapper_html: {:class=>"col-md-9"}, collection: (opdrecord.get_radiology_regions_list("radiologyregions", specalityfoldername, templatetype)), :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white mb10 opdrecord_radiologyregion', :input_html => {:name => "opdrecord[radiologyregion]" } %>
  </div>

  <div class="col-md-6 standard-radiology-investigations">
    <!-- <div class="col-md-3">
      <b>Radiology Sets</b>
      <%#= select_tag  "radiology_set", options_for_select(@radiology_laboratory_set.pluck(:name, :id)) ,{ multiple: true, :style => 'height: 250px; width:100%', :class => 'form-control' } %>
    </div> -->
    <div class="col-md-5 opdrecord_xraysinvestigations_label_select" id="opdrecord_xraysinvestigations_label_select">
      <label for="comments-textarealabel">Xrays</label>
      <%= f.input :xraysinvestigations, collection: [], input_html: { multiple: true, :size => '15', :style => 'height: 100%; width: 100%;', :class => 'form-control opdrecord_xraysinvestigations'}, as: :select,  :label => false,  :item_wrapper_class => 'form-control', :required => false %>
    </div>

    <div class="col-md-4 opdrecord_ctmriinvestigations_label_select" id="opdrecord_ctmriinvestigations_label_select">
      <label for="comments-textarealabel">CT & MRI</label>
      <%= f.input :ctmriinvestigations, collection: [], input_html: { multiple: true, :size => '15', :style => 'height: 100%; width: 100%;', :class => 'form-control opdrecord_ctmriinvestigations'}, as: :select,  :label => false,  :item_wrapper_class => 'form-control', :required => false %>
    </div>
  </div>

  <div class="col-md-5 opdrecord_custom_xraysmrictothersinvestigations_label_select custom-radiology-investigations" id="opdrecord_custom_xraysmrictothersinvestigations_label_select">
    <label for="comments-textarealabel">Investigations</label>
     <%= select_tag "ophthal_set", options_for_select(@custom_radiology_investigations.map{|inv| [ inv.investigation_name, inv.investigation_id, 'data-has_laterality' => 'N', 'data-investigation_type_id' => '40701008']}) ,{ multiple: true, :style => 'height: 250px; width:100%', :class => 'form-control opdrecord_custom_xraysmrictothersinvestigations_label_select', :id => 'opdrecord_custom_xraysmrictothersinvestigations_label_select' } %>
  </div>

  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped table-bordered">
          <tbody class="investigations-added" id='investigations-added'>
            <%= render partial: "templates/common/soap_assessment_tab_radiology_table_list" , locals: { f: f, investigationlist: @opdrecord.investigationlist, opdrecord: @opdrecord,  specalityfoldername: @speciality_folder_name, templatetype: @templatetype, opdspeciality: @opdspeciality } %>
          </tbody>
        </table>
        <div class="investigations-removed" style="display:none;">
        </div>
      </div>
    </div>
    <% if @case_sheet.radiology_investigations.where(:record_id.nin => [@opdrecord.id]).count > 0 %>
      <div class="row">
        <%= render partial: "opd_records/ophthalmology_notes/opd_partials/case_sheet_radiology_investigations.html.erb" %>
      </div>
    <% end %>
  </div>
</div>


<script type="text/javascript">
  jQuery(document).ready(function() {
    if (<%= @disable_default_investigation %>) {
      jQuery(".standard-radiology-investigations").hide();
      jQuery(".custom-radiology-investigations").show();
    } else {
      jQuery(".custom-radiology-investigations").hide();
      jQuery("input[name='radiology_inv_type']").on('click', function () {
        var radiology_inv_type = jQuery("input[name='radiology_inv_type']:checked").val();
        if (radiology_inv_type == 'standard_radiology_investigation') {
          jQuery(".standard-radiology-investigations").show();
          jQuery(".custom-radiology-investigations").hide();
          jQuery(".radiology_region_label_select").show();
        }
        else if (radiology_inv_type == 'custom_radiology_investigation') {
          jQuery(".standard-radiology-investigations").hide();
          jQuery(".custom-radiology-investigations").show();
          jQuery(".radiology_region_label_select").hide();
        }
      });
    }
  });

  jQuery('#opdrecord_custom_xraysmrictothersinvestigations_label_select').on('click', function() {
    event.preventDefault();
    
    var fieldcounter = jQuery(".investigations-added > .investigationlist").length;
    var investigation_name = jQuery("#opdrecord_custom_xraysmrictothersinvestigations_label_select option:selected").text();
    var investigation_id = jQuery("#opdrecord_custom_xraysmrictothersinvestigations_label_select option:selected").val();
    var vals = $('.radiologyinvestigation_id').map(function(){
      return $(this).val()
    }).get();
    if(vals.indexOf(investigation_id) == -1) {
      $.ajax({
        dataType: "script",
        type: "GET",
        url: "/opd_records/append_custom_radiology_investigation",
        data: {investigation_id: investigation_id, row_count: fieldcounter},
        success: function(response){
          // jQuery('#opdrecord_custom_xraysmrictothersinvestigations_label_select option:selected').removeAttr('selected');
        },
        complete: function (data) {
          _renumber_id_after_remove("tbody.investigations-added", "div.investigations-removed");
        }
      });
    }
    jQuery('#opdrecord_custom_xraysmrictothersinvestigations_label_select option:selected').removeAttr('selected');
  });
</script>