<div class="tab-pane" id="laboratory">
   <div class="row">
    <div class="col-sm-12">
      <div class="col-md-2"></div>
      <% unless @disable_default_investigation %>
        <div class="rdio rdio-primary col-md-4">
          <div id="standard_lab_inv" class="standard_lab_inv" style="margin-bottom:15px;">
            <%= radio_button_tag "laboratory_investigation_type", "standard_laboratory_investigation", true, {:class => 'laboratory_investigation_type', :id => "LabRadio1"} %>
            <label for="LabRadio1">Standard Laboratory Investigations</label>
          </div>
        </div>

        <div class="rdio rdio-primary col-md-6 custom_oph_inv" id="custom_oph_inv">
          <%= radio_button_tag "laboratory_investigation_type", "custom_laboratory_investigation", false, {:class => 'laboratory_investigation_type', :id => "LabRadio2"} %>
          <label for="LabRadio2">Custom Laboratory Investigations</label>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-2">
    <div class="col-md-10">
      <p>Laboratory Sets</p>
      <%= f.input :toplaboratoryset, collection: (@set_type), input_html: { multiple: true, :size => '20', :style => 'height: 80%; width: 100%;', :class => 'form-control'}, as: :select,  :label => false,  :item_wrapper_class => 'form-control', :required => false %>
    </div>
  </div>

  <% @all_investigations = LaboratoryInvestigationData.where(only_sub_test: false, facility_id: current_facility.id, is_deleted: false) %>

  <div class="col-md-3 standard-laboratory-investigations">
    <div class="col-md-12">
      <p>Investigation Tests</p>
      <% @standard_investigations = @all_investigations.where(is_custom: false) %>
      <% @standard_investigations = @standard_investigations.sort_by!{ |investigation| investigation.investigation_name.downcase } %>
      <%= select_tag "toplaboratoryinvestigation", options_for_select(@standard_investigations.map{|inv| [ inv.investigation_name, inv.loinc_code ]}) ,{ multiple: true, :style => 'height: 320px; width:100%', :class => 'form-control', :id => 'opdrecord_toplaboratoryinvestigation' } %>
    </div>
  </div>  

  <div class="col-md-3 custom-laboratory-investigations">
    <div class="col-md-12">
      <p>Investigation Test</p>
      <% @custom_investigations = @all_investigations.where(is_custom: true) %>
      <% @custom_investigations = @custom_investigations.sort_by!{ |investigation| investigation.investigation_name.downcase } %> 
      <%= select_tag "toplaboratoryinvestigation", options_for_select(@custom_investigations.map{|inv| [ inv.investigation_name, inv.loinc_code ]}) ,{ multiple: true, :style => 'height: 320px; width:100%', :class => 'form-control', :id => 'opdrecord_custom_toplaboratoryinvestigation' } %>
    </div>
  </div>  

  <div class="col-md-7">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped table-bordered table-investigationlist">
          <tbody class="laboratoryinvestigations-added" id='laboratoryinvestigations-added'>
            <%= render partial: "templates/common/soap_assessment_tab_laboratory_table_list" , locals: { f: f, addedlaboratoryinvestigationlist: @opdrecord.addedlaboratoryinvestigationlist, opdrecord: @opdrecord,  specalityfoldername: @speciality_folder_name, templatetype: @templatetype, opdspeciality: @opdspeciality } %>
          </tbody>
        </table>
        <div class="laboratoryinvestigations-removed" style="display:none;">
        </div>
      </div>
    </div>
    <% if @case_sheet.laboratory_investigations.where(:record_id.nin => [@opdrecord.id]).count > 0 %>
      <div class="row">
        <%= render partial: "opd_records/ophthalmology_notes/opd_partials/case_sheet_laboratory_investigations.html.erb" %>
      </div>
    <% end %>
  </div>

</div>
