<div class="col-md-12 mb10">
 <div class="row">
   <div class="col-md-2">
     <label for="vitalsigns-radioselectlabel">Vital Signs:</label>
   </div>
   <div class="col-md-10">
     <div class="row">
       <div class="col-md-2">
         <div class="form-group">
           <b>Temperature</b>
           <div class="input-group">
             <%= f.input_field :vitalsignstemperature, :class => "form-control", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[vitalsignstemperature]", :value => opdrecord.read_attribute(:vitalsignstemperature) %>
             <span class="input-group-addon">&deg;C</span>
           </div>
         </div>
       </div>
       <div class="col-md-2">
         <div class="form-group">
           <b>Pulse</b>
           <div class="input-group">
             <%= f.input_field :vitalsignspulse, :class => "form-control", :maxlength => 4, :size => 4, :required => false, :name => "opdrecord[vitalsignspulse]", :value => opdrecord.read_attribute(:vitalsignspulse) %>
             <span class="input-group-addon">bpm</span>
           </div>
         </div>
       </div>
       <div class="col-md-2">
         <div class="form-group">
           <b>BP</b>
           <div class="input-group">
             <%= f.input_field :vitalsignsbp, :class => "form-control", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[vitalsignsbp]", :value => opdrecord.read_attribute(:vitalsignsbp) %>
             <span class="input-group-addon">mmHg</span>
           </div>
         </div>
       </div>
       <div class="col-md-2">
         <div class="form-group">
           <b>RR</b><br/>
           <div class="input-group">
             <%= f.input_field :vitalsignsrr, :class => "form-control", :maxlength => 4, :size => 4, :required => false, :name => "opdrecord[vitalsignsrr]", :value => opdrecord.read_attribute(:vitalsignsrr) %>
             <span class="input-group-addon">brpm</span>
           </div>
         </div>
       </div>
       <div class="col-md-2">
         <div class="form-group">
           <b>SpO2</b><br/>
           <div class="input-group">
             <%= f.input_field :vitalsignsspo2, :class => "form-control vitalsignsspo2", :maxlength => 3, :size => 3, :required => false, :name => "opdrecord[vitalsignsspo2]", :value => opdrecord.read_attribute(:vitalsignsspo2) %>
             <span class="input-group-addon">%</span>
           </div>
         </div>
       </div>
     </div>
   </div>
  </div>
</div>