<%if @all_prescriptions_data.count > 0 %>
  <% @prescription_array.each_with_index do |pres, index| %>
    <tr class="data-row">
      <td class="text-center"><%= pres[0] %></td>
      <td class="text-center"><%= User.find(pres[1]).fullname%></td>
      <td class="text-center"><%= pres[2] %></td>
      <td class="text-center"><%= pres[3] %></td>
      <td class="text-center"><%= pres[4] %></td>
      <td class="text-center"><%= pres[5] %></td>
    </tr>
  <% end %>
<%else%>
  <tr>
    <td></td>
    <td></td>
    <td>No Data Found</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
<%end%>