<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col-md-12" style="padding:0px;">
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              <input type="text" id="start-report-datepicker"  class="form-control report-to-datepicker" value="<%= @start_date.strftime('%d/%m/%Y') %>" style="cursor:pointer;background-color:#fff;" placeholder="Start Date" readonly="readonly">
            </div>
          </div>
          <div class="col-md-1 text-center">
            <i class="fa fa-arrows-alt-h" style="margin-top:15px;color:dodgerblue;font-size: 20px;"></i>
          </div>
          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            <input type="text" id="end-report-datepicker" class="form-control report-from-datepicker" value="<%= @end_date.strftime('%d/%m/%Y') %>" style="cursor:pointer;background-color:#fff;" placeholder="End Date" readonly="readonly">
             </div>
          </div>
          <div class="col-md-1">
            <div class="btn btn-primary" id="btnReportRange" style=" margin-top: 2px;margin-left: 30px;"><i class="fa fa-search"></i> &nbsp;Search</div>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
    <div class="modal-body form-bordered clearfix" style="margin-bottom: -17px">
      <div class='loading_dots'><span></span> <span></span> <span></span></div>
      <div class="col-md-12 table-data">
        <table class="table table-bordered">
          <thead class="thead-inverse">
          <tr>
            <th class="text-center" style="padding-top:0px;padding-bottom:0px;">Date</th>
            <th class="text-center" style="padding-top:0px;padding-bottom:0px;">Doctor</th>
            <th class="text-center" style="padding-top:0px;padding-bottom:0px;">Total</th>
            <th class="text-center" style="padding-top:0px;padding-bottom:0px;">Converted</th>
            <th class="text-center" style="padding-top:0px;padding-bottom:0px;">Not Converted</th>
            <th class="text-center" style="padding-top:0px;padding-bottom:0px;">No Action</th>
          </tr>
          </thead>
          <tbody>
            <%= render partial: 'prescriptions/pharmacy/report_table_data.html.erb' %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="col-md-6">
          <h5 class="col-md-8" style="color: red">Note: Click Search first to Download </h5>
          <span class="col-md-2"></span>
        </div>
        <div class="col-md-6">
          <% params = { start_date: @start_date.strftime('%d/%m/%Y'), end_date: @end_date.strftime('%d/%m/%Y'), inv_name: 'pharmacy'} %>
          <%= link_to prescriptions_download_conversion_report_path(params: params, format: "xls"), :class => "btn btn-success btn-sm download_excel" do %><i class="fa fa-download text-left"></i> Download Report <% end %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


<style type="text/css">
  .loading_dots{
    margin-top: 0px;
    display: none;
    padding: 78px 1px;
  }
</style>

<script type="text/javascript">

  jQuery('#start-report-datepicker').datepicker({
      dateFormat: "dd/mm/yy",
  })

  jQuery('#end-report-datepicker').datepicker({
      dateFormat: "dd/mm/yy",
  })
    
  $("#btnReportRange").on("click",function(){
    $('.table-data').hide()
    $('.loading_dots').show()
    $(this).attr('disabled', 'disabled');
    $(this).html('Please wait...')
    
    var start_date = $("#start-report-datepicker").val()
    var end_date = $("#end-report-datepicker").val()
   
    $.ajax({
        type: "GET",
        url: "/prescriptions/show_pharmacy_conversion_report",
        data: {start_date: start_date,end_date: end_date, inv_name: 'pharmacy'},
        success: function(response){
        }
    });
  })

  if ($('.data-row').length == 0) {
    $('.download_excel').attr('disabled', 'disabled')
  }

  // $("#start-report-datepicker").on('change',function(){
  //   var start_date = $("#start-report-datepicker").val()
  //   var end_date = $("#end-report-datepicker").val()
  //   $(".download_excel").attr("href","/prescriptions/download_conversion_report.xls?start_date="+start_date+"&end_date="+end_date+"&inv_name="+"pharmacy")
  // })

  // $("#end-report-datepicker").on('change',function(){
  //   var start_date = $("#start-report-datepicker").val()
  //   var end_date = $("#end-report-datepicker").val()
  //   $(".download_excel").attr("href","prescriptions/download_conversion_report.xls?start_date="+start_date+"&end_date="+end_date+"&inv_name="+"pharmacy")
  // })
</script>