<% if opdrecord.print_procedures_flag == "1" || (request.format.symbol == :js rescue false) %>
  <div class="clinicaldetails mb5" id="clinicaldetails">
    <% if opdrecord.free_procedure != '<br>' %>
      <div class="row">
        <strong style="<%= heading_font_size %>">PROCEDURE :</strong>
        <div class="summary-line-border"></div>
      </div>

      <div class="row <%= 'print_text_font_size' if  @print_setting %>" style="<%= text_font_size %>">
        <%= opdrecord.free_procedure.try(:html_safe) %>
      </div>
    <% end %>
  </div>

  <% if opdrecord.has_procedure? || (opdrecord.procedurecomments != "" && opdrecord.procedurecomments != "<br>")  %>
      <div class="procedure mb5 <%= 'print_text_font_size' if  @print_setting %>" id="procedure" style="<%= heading_font_size %>">
        <% procedure_counter = opdrecord.procedure.size %>
        <% advised_counter = 0%>
        <% performed_counter = 0%>
        <% advised_total = 0%>
        <% performed_total = 0%>

        <% opdrecord.procedure.each_with_index do |elem, i| %>
            <%if elem.procedurestage == "A"%>
                <% advised_total = advised_total+1 %>
            <%else%>
                <% performed_total = performed_total+1 %>
            <%end%>
        <%end%>

        <% if procedure_counter > 0 %>
        		<% if opdrecord.free_procedure == '<br>' %>
  	          <div class="row">
  	            <strong style="<%= heading_font_size %>">PROCEDURE</strong>
  	            <div class="summary-line-border"></div>
  	          </div>
  	        <% end %>

            <div class="row">
              <%if advised_total>0%>
                  <div class="col-md-2 col-sm-2">
                    <strong>Advised:</strong>
                  </div>
              <%end%>
              <div class="col-md-10 col-sm-10">
                <% opdrecord.procedure.each_with_index do |elem, i| %>
                    <%if elem.procedurestage == "A"%>
                        <!--<div class="row col-md-6">-->
                        <% advised_counter = advised_counter+1 %>
                        <strong><%= advised_counter%>. </strong><%= elem.procedurename %>
                        <% if elem.procedureside? %>(<%= opdrecord.get_label_for_procedure_side(elem.procedureside) %>)<% end %>
                        <% if elem.procedure_performed.present? %>
                          - <%= elem.procedure_performed%>
                        <% end %>
                        <%if advised_counter < advised_total%><%else%><%end%> &nbsp;
                        <!--</div>-->
                    <%end%>
                <%end%>
              </div>
            </div>

            <div class="row">
              <%if performed_total>0%>
                  <div class="col-md-2 col-sm-2">
                    <strong>Performed:</strong>
                  </div>
              <%end%>
              <div class="col-md-10 col-sm-10">
                <% opdrecord.procedure.each_with_index do |elem, i| %>
                    <%if elem.procedurestage == 'P'%>
                        <!--<div class="row col-md-6">-->
                        <% performed_counter = performed_counter+1 %>
                        <strong><%= performed_counter%>. </strong><%= elem.procedurename %>
                        <% if elem.procedureside? %>
                            (<%= opdrecord.get_label_for_procedure_side(elem.procedureside) %>)
                        <% end %>
                        <% if elem.procedure_performed.present? %>
                            - <%= elem.procedure_performed%>
                            <% end %><%if performed_counter < performed_total%><%else%><%end%> &nbsp;
                        <!--</div>-->
                    <%end%>
                <%end%>
              </div>
            </div>

        <% end %>
        <% if procedure_counter == 0 %>
            <div class="row">
              <strong style="<%= heading_font_size %>">PROCEDURE</strong>
              <div class="summary-line-border"></div>
            </div>
        <% end %>
        <div class="">
          <% if opdrecord.procedurecomments.present? && opdrecord.procedurecomments != "" && opdrecord.procedurecomments!="<br>" %>
              <span style="white-space: pre-line"> <%= opdrecord.procedurecomments.html_safe() %> </span>
          <% end %>
        </div>
      </div>
  <% end %>
<%end %>

<style type="text/css">
  .<%= 'print_text_font_size' if  @print_setting %> *{
    font-size: inherit!important
  }

</style>