<% if @purchase_bills.length > 0 %>
  <% @purchase_bills.each_with_index do |purchase_bill,index| %>
    <tr id="<%= purchase_bill.id%>" class="inventory-list-row">
      <td class="col-md-1"><%= index + 1 %></td>
      <td class="col-md-3" style="font-size: 10px; color: #17a08c;">
        <span class="col-md-12"><%= purchase_bill.transaction_date&.strftime("%d-%m-%Y") %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= purchase_bill.transaction_time&.strftime("%I:%M %p") %></span>
        <span class="col-md-12"><%= purchase_bill.purchase_bill_display_id %></span></td>
      <td class="col-md-3" style="font-size: 10px; color: #17a08c;"><%= purchase_bill.invoice_number %></td>
      <td class="col-md-2 notes"><b><%= purchase_bill.vendor_name %></b></td>
      <td class="col-md-2 status"><b><%=  purchase_bill.status %></b> </td>
    </tr>
  <%end%>
<% else %>
  <tr>
    <td align="center"><strong style="font-size: 20px;">Nothing to Display</strong></td>
  </tr>
<% end %>