<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-lg" style="width: 98%">
  <div class="modal-content order-content" style="">
    <div class="modal-header order-header" style="padding: 6px;">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title text-center">Create Purchase Bill</h4>
    </div>

    <div class="modal-body order-body">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-6 items-variants purchase-transactions" style="padding: 0;">
          <div class="col-md-7">
            <div class="col-md-4" style="padding: 0">
              <button type="button" class="btn  dropdown-toggle purchase-bill-search-criteria" data-toggle="dropdown" aria-expanded="false" data-search-category='patient' data-search-filter='grn'><span class="criteria-text">GRN No</span> <span class="caret"></span></button>

              <ul class="dropdown-menu" role="menu">
                <li><a class="search-criteria-list"  data-search-filter="grn" data-placeholder-message="Search By GRN No">GRN No</a></li>
                <li><a class="search-criteria-list" data-search-filter="po" data-placeholder-message="Search By PO No">PO No</a></li>
                <li><a class="search-criteria-list" data-search-filter="bill" data-placeholder-message="Search By Bill No">Bill No</a></li>
                <li><a class="search-criteria-list" data-search-filter="challan" data-placeholder-message="Search By Challan No">Challan No</a></li>
              </ul>
            </div>

            <div class="col-md-8" style="padding: 0">
              <div class="items-variants-search transactions-search">
                <div class="input-group">
                  <input type="text" class="form-control" name="master_search purchase_bill-search" id="purchase_bill_search" placeholder="Search By <%= "GRN NO" %>" style="padding:8px;">
                  <span class="input-group-addon"><i class="fa fa-times-circle" style="display: none"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-sm-9 col-xs-9" style="padding: 0;">
            <% current_date = Date.current %>
            <div class="col-md-4 col-xs-6" style="padding: 0;">
              <div class="input-group-btn master-search-button-grp">
                <button type="button" class="btn btn-primary " aria-expanded="false" id="purchase_bill_search_button" disabled="disabled">Submit</button>
              </div>
            </div>
            <div class="col-md-8 col-xs-10" style="padding: 0;">
              <div class="btn-group" style="margin-bottom: 0px;" role="group" aria-label="">
                <a class="btn btn-primary btn-md" id="time_period_purchase_bill" style="font-size: 14px;"><%= @time_period %></a>
                <button type="button" class="btn btn-primary btn-md dropdown-toggle " data-toggle="dropdown" style=""><span class="caret"></span></button>

                <ul class="dropdown-menu children" style="" id="purchase-bill-date-filter-ul">
                  <li class="period-list"><a class="mis-date-filter today" href="#" start-date="<%= current_date %>" end-date="<%= current_date %>">Today</a></li>
                  <li class="period-list"><a class="mis-date-filter yesterday" href="#" start-date="<%= current_date.yesterday %>" end-date="<%= current_date.yesterday %>">Yesterday</a></li>
                  <li class="period-list"><a class="mis-date-filter this-week" href="#" start-date="<%= current_date.beginning_of_week %>" end-date="<%= current_date.end_of_week %>">This Week</a></li>
                  <li class="period-list"><a class="mis-date-filter this-month" href="#" start-date="<%= current_date.beginning_of_month %>" end-date="<%= current_date.end_of_month %>">This Month</a></li>
                  <li class="period-list"><a class="mis-date-filter this-quarter" href="#" start-date="<%= current_date.beginning_of_quarter %>" end-date="<%= current_date.end_of_quarter %>">This Quarter</a></li>
                  <li class="period-list"><a class="mis-date-filter this-year" href="#" start-date="<%= current_date.beginning_of_year %>" end-date="<%= current_date.end_of_year %>">This Year</a></li>
                  <li class="period-list"><a class="mis-date-filter previous-week" href="#" start-date="<%= (current_date - current_date.wday).beginning_of_week %>" end-date="<%= (current_date - current_date.wday).end_of_week %>">Previous Week</a></li>
                  <li class="period-list"><a class="mis-date-filter previous-month" href="#" start-date="<%= (current_date - current_date.mday).beginning_of_month %>" end-date="<%= (current_date - current_date.mday).end_of_month %>">Previous Month</a></li>
                  <li class="period-list"><a class="mis-date-filter previous-quarter" href="#" start-date="<%= (current_date - 3.months).beginning_of_quarter %>" end-date="<%= (current_date - 3.months).end_of_quarter %>">Previous Quarter</a></li>
                  <li class="period-list"><a class="mis-date-filter previous-year" href="#" start-date="<%= (current_date - current_date.yday).beginning_of_year %>" end-date="<%= (current_date - current_date.yday).end_of_year %>">Previous Year</a></li>
                    <!-- Custom -->
                  <li class="period-list"><div class="mis-date-filter mis-date-filter-custom custom" data-remote="true" data-toggle="modal" data-target="#mis-modal">Custom</div></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-12 items-variants-list purchase-transactions-list mt10">
            <table class="table items-variants-table purchase-transactions-table" style="border: 2px solid #ddd;padding: 0">
              <thead>
                <tr>
                  <th>GRN</th>
                  <th>PO</th>
                  <th>Vendor Bill/Challan</th>
                </tr>
              </thead>
              <tbody class="items-variants-body purchase-transactions-body">
                <%= render partial: 'inventory/transaction/purchase_bills/purchase_transaction' %>
              </tbody>
            </table>
          </div>
          <% unless @purchase_transactions.count < 30 %>
            <div class="show-more-timeline">
              <a class="col-sm-12", href="javascript:;", id="show_more_variants", data-count = "0" , style="text-align: right;text-decoration: none;position: fixed;margin-left: 200px;">
                <i class="fa fa-spinner fa-spin"></i> Loading...
              </a>
            </div>
          <% end %>
        </div>

        <div class="col-md-8 col-sm-6 col-xs-6 items-lots">
          <%= form_for @purchase_bill, remote: true , html: { id: "inventory_purchase_bills_form" } do |f| %>
          <div>
            <%= render partial: '/inventory/transaction/purchase_bills/form', locals: {f:f} %>
          </div>
          <div class="col-md-2 col-sm-4 col-md-offset-10">
            <%= f.submit "Save Changes", { class: 'btn btn-success validate-create-button', onclick: 'validate_inventory_purchase_bills_form()' } %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<style>

  .inventory-list-row {
    cursor: pointer;
  }
  .items-variants-search .fa {
    cursor: pointer;
  }
  .items-variants-search input {
    border-radius: 3px 0px 0px 3px !important;
    border-right: none;
    padding-left: 43px;
    padding-right: 43px;
    padding: 6px 12px;
    background: #FFFFFF;
    line-height: 1.42857;
    box-shadow: none;
    transition: none;
  }

  .items-variants-search input:focus {
    border-color: #ccc;
    box-shadow: none;
  }

  .items-variants-search .input-group-addon {
    box-shadow: none;
    transition: none;
    color: #636e7b;
    background: #FFFFFF;
    border-radius: 0px 3px 3px 0px;
  }


  .items-variants-list {
    background: #eef1f7;
  }
  .items-variants-list .table-striped > tbody > tr:nth-child(2n+1) > td, .items-variants-list .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #fcfdfe;
  }
  .items-variants-list .table {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0px;
    /* even columns width , fix width of table too*/
  }
  .items-variants-list .table thead {
    font-weight: bold;
    background: #8c95b3;
    color: white;
  }
  .items-variants-list .table thead, .items-variants-list .table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  .items-variants-list .table tbody {
    display: block;
    overflow-y: scroll;
  }
  .items-variants-list .table tbody tr td {
    vertical-align: middle;
  }

  .order-lots-list {
    background: #eef1f7;
  }
  .order-lots-list .table-striped > tbody > tr:nth-child(2n+1) > td, .order-lots-list .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #fcfdfe;
  }
  .order-lots-list .table {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0px;
    /* even columns width , fix width of table too*/
  }
  .order-lots-list .table thead {
    font-weight: bold;
    background: #8c95b3;
    color: white;
  }
  .order-lots-list .table thead, .order-lots-list .table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  .order-lots-list .table tbody {
    display: block;
    overflow-y: scroll;
  }
  .order-lots-list .table tbody tr td {
    vertical-align: middle;
  }
  .items-variants-table thead th{
    background-color: #acadae !important;
    color: #fff !important;
    padding: 6px 8px !important;
  }
</style>
<!-- 2px solid #ddd; -->