<div class="">
  <div class="row check_font col-md-12 mt5">
    <div class="col-md-4 col-lg-3 check_font text-right"><b>Purchase Bill No.</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
    <div class="col-md-8 col-lg-9 check_font" style="padding: 0;margin: 0;">
      <span><%= @purchase_bill.purchase_bill_display_id %></span>
    </div>
  </div>
  <div class="row check_font col-md-12">
  	<div class="col-md-4 col-lg-3 check_font text-right"><b>Vendor</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
  	<div class="col-md-8 col-lg-9 check_font" style="padding: 0;margin: 0;">
  		<span><%= @purchase_bill.vendor_location_address %></span>
  	</div>
  </div>
  <div class="row check_font col-md-12">
    <div class="col-md-4 col-lg-3 check_font text-right"><b>Vendor GSTIN</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
    <div class="col-md-8 col-lg-9 check_font" style="padding: 0;margin: 0;">
      <span><%= @purchase_bill.vendor_gst_number %></span>
    </div>
  </div>
  <div class="row check_font col-md-12">
    <div class="col-md-4 col-lg-3 check_font text-right"><b>Invoice No.</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
    <div class="col-md-8 col-lg-9 check_font" style="padding: 0;margin: 0;">
      <span><%= @purchase_bill.invoice_number %></span>
      <span style="padding: 2px;font-weight: bolder;">|</span>
      <span><%= @purchase_bill.invoice_date_time.try(:strftime, '%d-%m-%Y') %>&nbsp;|&nbsp;<%= @purchase_bill.invoice_date_time&.strftime("%I:%M %p") %></span>
    </div>
  </div>
  <div class="row check_font col-md-12">
  	<div class="col-md-4 col-lg-3 check_font text-right"><b>Created By</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
  	<div class="col-md-8 col-lg-9 check_font" style="padding: 0;margin: 0;">
  		<span><%= @purchase_bill.created_by %></span>
      <span style="padding: 2px;font-weight: bolder;">|</span>
      <span><%= @purchase_bill.created_at.try(:strftime, '%d-%m-%Y') %>&nbsp;|&nbsp;<%= @purchase_bill.created_at&.strftime("%I:%M %p") %></span>
  	</div>
  </div>
  <% if @purchase_bill.approved? %>
    <div class="row check_font col-md-12">
    	<div class="col-md-4 col-lg-3 check_font text-right"><b>Approved By</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
    	<div class="col-md-8 col-lg-9 check_font" style="padding: 0;margin: 0;">
    		<span><%= @purchase_bill.approved_by_name %></span>
        <span style="padding: 2px;font-weight: bolder;">|</span>
        <span><%= @purchase_bill.approved_on.try(:strftime, '%d-%m-%Y') %>&nbsp;|&nbsp;<%= @purchase_bill.approved_on&.strftime("%I:%M %p") %></span>
    	</div>
    </div>
  <% end %>
  <% if @purchase_bill.cancelled? %>
    <div class="row check_font col-md-12">
    	<div class="col-md-4 col-lg-3 check_font text-right"><b>Cancelled By</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
    	<div class="col-md-8 col-lg-9 check_font" style="padding: 0;margin: 0;">
    		<span><%= @purchase_bill.cancelled_by_name %></span>
        <span style="padding: 2px;font-weight: bolder;">|</span>
        <span><%= @purchase_bill.cancelled_on.try(:strftime, '%d-%m-%Y') %>&nbsp;|&nbsp;<%= @purchase_bill.cancelled_on&.strftime("%I:%M %p") %></span>
        <span style="padding: 2px;font-weight: bolder;">|</span>
        <span><%= @purchase_bill.cancelled_reason %></span>
    	</div>
    </div>
  <% end %>
  <div class="row check_font col-md-12">
  	<div class="col-md-4 col-lg-3 check_font text-right"><b>Status</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
  	<div class="col-md-8 col-lg-9 check_font" style="padding: 0;margin: 0;">
  		<span><%= @purchase_bill.try(:status)&.capitalize %></span>
  	</div>
  </div>
  <% if @purchase_bill.approved? %>
  <div class="row check_font col-md-12">
  	<div class="col-md-4 col-lg-3 check_font text-right"><b>Vendor Invoice</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
  	<div class="col-md-8 col-lg-9 check_font" style="padding: 0;margin: 0;">
      <%= link_to inventory_transaction_purchase_bill_documents_url(@purchase_bill),
          class: "btn btn-success btn-xs", remote: true do %>
          <i class="fa fa-file-image-o"></i>View</a>
      <% end %>
      <%= link_to new_inventory_transaction_purchase_bill_document_url(@purchase_bill),
        class: "btn btn-info btn-xs btn-info-transparent", target: :_blank do %>
        <i class="glyphicon glyphicon-cloud-upload"></i>Upload</a>
      <% end %>
  	</div>
  </div>
  <% end %>
  <div class="row check_font col-md-12" style="margin-top: 2px;">
  	<div class="col-md-4 col-lg-3 check_font text-right"><b>Vendor Docs</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
  	<div class="col-md-8 col-lg-9 check_font" style="padding: 0;margin: 0;">
  		<%= link_to inventory_vendor_documents_path(@vendor,type: "purchase_bill"),
          class: "btn btn-success btn-xs", remote: true do %>
          <i class="fa fa-file-image-o"></i>View</a>
      <% end %>
  	</div>
  </div>

  <% if @purchase_bill.open? %>
    <div class="btn-group" style="margin: 10px;">
      <%# if Authorization::PolicyHelper.verification(current_user.id ,"HGP-100-103-101") %>
        <%= link_to 'Approve', approve_inventory_transaction_purchase_bill_path(@purchase_bill), class: "btn btn-xs btn-info", remote: true %>
      <%# end %>
      <%# if Authorization::PolicyHelper.verification(current_user.id ,"HGP-100-103-102") %>
        <%= link_to edit_inventory_transaction_purchase_bill_path(@purchase_bill, vendor_location_id: @purchase_bill&.vendor_location_id, create_against: @purchase_bill&.create_against), class: 'btn btn-primary btn-xs', remote: true do %>
          <i class="fa fa-edit"></i> Edit
        <% end %>
      <%# end %>
      <%# if Authorization::PolicyHelper.verification(current_user.id ,"HGP-100-103-103") %>
        <button class="btn btn-xs btn-danger cancel-purchase" data-toggle="modal" data-target="#confirmation-modal" data-id="<%= @purchase_bill.id.to_s%>">
          <i class="fa fa-trash-alt"></i> &nbsp; Cancel
        </button>
      <%# end %>
    </div>
  <% end %>

  <% if @purchase_bill.approved? %>
    <a href="/inventory/transaction/purchase_bills/print?order_id=<%= @purchase_bill.id %>&page_size=A4" class="btn btn-success btn-xs" target='_blank'> <i class="fa fa-print"></i>&nbsp;Print A4</a>
    <a href="/inventory/transaction/purchase_bills/print?order_id=<%= @purchase_bill.id %>&page_size=A5" class="btn btn-success btn-xs" target='_blank'> <i class="fa fa-print"></i>&nbsp;Print A5</a>
  <% end %>
  <div id="cancelModal" class="modal false fade in" tabindex="-1" role="dialog" aria-labelledby="cancelModal" aria-hidden="false" style="z-index: 1051; display: hidden;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close close-button" data-dismiss="modal" aria-hidden="true">×</button>
          <h5 id="cancelModal" class="modal-title">Are you sure?</h5> 
        </div>
        <%= form_tag cancel_inventory_transaction_purchase_bill_path(@purchase_bill), method: 'get', remote: true, id: 'new-message-form', class: "new-message-form" do %>
          <div class="modal-body">
            <%= label_tag "Reason for Cancellation"%>
            <%= text_field_tag :cancelled_reason, '', class: "form-control p7_10", placeholder: 'Reason for Cancellation', minlength: '5', required: true %>
          </div>
          <div class="modal-footer">
            <button class="btn commit btn-success close-button" data-dismiss="modal">Don't Cancel</button>
            <%= submit_tag "Cancel Purchase Bill", class: "btn btn-danger", data: { 'disable-with': 'Please Wait...' } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $('.cancel-purchase').click(function(e){
      e.preventDefault();
      $("#cancelModal").modal('show');
    })

    $(".close-button").click(function(e){
      e.preventDefault();
      $("#closeModal").modal('show');
    })

    $(".close-button").click(function(e){
      e.preventDefault();
      $("#cancelled_reason").val("")
      $("#closed_reason").val("")
      $("#confirmation-modal").modal('hide')
    })
  </script>
</div>

<style type="text/css">
  .table-add-item td{
    padding: 5px 5px 0;
  }

  .check_font table tr th {
    padding: 2px 5px;
  }

  .check_font table tr td {
    padding: 2px 5px;
  }

  .check_font {
    font-size: 11px;
  }
</style>
