<div class="col-md-12 purchase-invoice-information">
  <div class="col-sm-7 font-size">
    <div class="row">
      <div class="col-md-5">
        <%#= f.text_area :comments, class: 'form-control', placeholder: 'Comments' %>
      </div>
      <div class="col-md-7">
        <b>Tax Breakup:</b>
        <% if @inventory_store.try(:country_id) == 'IN_108' %>
          <div id="tax-cage" class="col-md-12" style="background: #eee;padding: 5px;">
            <div class="col-md-4">
              <b style="padding: 30px;">CGST</b><br>
              <div class="row col-md-12">
                <div class="col-md-6"><b>Rate</b><br>
                  <div class="row cgst-tax-name-section">
                  </div>
                </div>
                <div class="col-md-6"><b>Amount</b><br>
                  <div class="row cgst-tax-amount-section"></div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <b style="padding: 30px;">SGST</b><br>
              <div class="row col-md-12">
                <div class="col-md-6"><b>Rate</b><br>
                  <div class="row sgst-tax-name-section"></div>
                </div>
                <div class="col-md-6"><b>Amount</b><br>
                  <div class="row sgst-tax-amount-section"></div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <b style="padding: 30px;">IGST</b><br>
              <div class="row col-md-12">
                <div class="col-md-6"><b>Rate</b><br>
                  <div class="row igst-tax-name-section"></div>
                </div>
                <div class="col-md-6"><b>Amount</b><br>
                  <div class="row igst-tax-amount-section"></div>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <div id="tax-cage" class="col-md-12" style="background: #eee;padding: 5px;">
            <div class="col-md-4">
              <b style="padding: 30px;">VAT</b><br>
              <div class="row col-md-12">
                <div class="col-md-6"><b>Rate</b><br>
                  <div class="row vat-tax-name-section"></div>
                </div>
                <div class="col-md-6"><b>Amount</b><br>
                  <div class="row vat-tax-amount-section"></div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-5 text-right">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-6">
          <b>Bill Amount</b>
        </div>
        <div class="col-sm-2 text-center">
          :
        </div>
        <div class="col-sm-4">
          <%= f.text_field :total_cost, class: 'fi_input_style fullname', placeholder: 'Amount', style: 'width:92%; background-image: none;',readonly: true %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-6">
          <b>Total Discount</b>
        </div>
        <div class="col-sm-2 text-center">
          :
        </div>
        <div class="col-sm-4">
          <%= f.text_field :discount, class: 'fi_input_style', placeholder: 'Amount', style: 'width:92%; background-image: none;', value: 0, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57', readonly: true %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-6">
          <b>Total Amt. Before Tax</b>
        </div>
        <div class="col-sm-2 text-center">
          :
        </div>
        <div class="col-sm-4">
          <%= f.text_field :amt_before_tax, class: 'fi_input_style purchase-net-amount', placeholder: 'Amount', style: 'width:92%',readonly: true %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-6">
          <b>Total Tax</b>
        </div>
        <div class="col-sm-2 text-center">
          :
        </div>
        <div class="col-sm-4">
          <%= f.text_field :purchase_taxable_amount, class: 'fi_input_style purchase-net-amount', placeholder: 'Amount', style: 'width:92%',readonly: true %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-6">
          <b>Other Charges</b>
        </div>
        <div class="col-sm-2 text-center">
          :
        </div>
        <div class="col-sm-4">
          <%= f.text_field :total_other_charges_amount, class: 'fi_input_style purchase-net-amount', placeholder: 'Amount', style: 'width:92%',readonly: true %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-6">
          <b>Net Amount</b>
        </div>
        <div class="col-sm-2 text-center">
          :
        </div>
        <div class="col-sm-4">
          <%= f.text_field :net_amount, class: 'fi_input_style purchase-net-amount', placeholder: 'Amount', style: 'width:92%; background-image: none;',readonly: true, min: 1 %>
        </div>
      </div>
    </div>
  </div>
</div>