<div style="border:1px solid #ccc;">
  <div class="row" style="border-bottom:1px solid #ccc;">
    <div class="col-md-12" style="border-bottom:1px solid #ccc;">
      <% entity_name = @entity_name.present? ? @entity_name : @inventory_store.name %>
      <h5 style="text-align: center;font-weight: bold;"><%= entity_name %></h5>
    </div>
    <div class="row" style="border-bottom:1px solid #ccc;">
      <div class="col-md-3 text-left">
        <% if @inventory_store.asset_path.url %>
          <% unless @inventory_store.asset_path.url.split('/').last == '_old_' %>
            <img width="80" height="80" src="<%= @inventory_store.asset_path.url %>">
          <% end %>
        <%end%>
      </div>
      <div class="col-sm-6 text-center" style="margin-top: 5px;">
        <% unless @inventory_store.address == 'org-address' %>
          <% address = [] %>
          <% address  << @inventory_store&.district << @inventory_store&.state&.capitalize << @inventory_store&.pincode %>
          <h5 class="check_font" style="margin: 0px"><%= @inventory_store.address %><%= ', ' +  address.reject(&:blank?)&.join(', ') %></h5>
        <%end%>
        <% if @inventory_store.email.present? %>
          <p> <h5 class="check_font" style="margin: 0px"><%= @inventory_store.email %></h5> </p>
        <%end%>
        <% if @inventory_store.mobilenumber.present? %>
          <p> <h5 class="check_font" style="margin: 0px"><%= @inventory_store.mobilenumber %></h5> </p>
        <%end%>
      </div>
      <div class="col-sm-3">
      </div>
    </div>

    <div class="row" style="border-bottom:1px solid #ccc;">
      <div class="col-md-7 text-right">
        <b style="color: black">PURCHASE BILL</b>
      </div>
      <div class="col-md-5">
        <% if @purchase_bill.tax_type == 'GST' %>
          <div>
            <span>GSTIN:&emsp;<%= @inventory_store.gst.present? ? @inventory_store.gst : "NA"  %></span>
          </div>
        <% end %>
      </div>
      <div class="col-md-12" style="border-bottom:1px solid #ccc;"></div>
    <div class="row" style="border-bottom:1px solid #ccc;">
        <div class="col-md-6" style="border-right:1px solid #ccc;">
          <div class="col-md-12 check_font">
            <div class="col-md-4 col-lg-4 check_font text-right"><b>Purchase Bill No.</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
            <div class="col-md-8 col-lg-8 check_font" style="padding: 0;margin: 0;">
              <span><%= @purchase_bill&.purchase_bill_display_id %></span>
            </div>
          </div>
          <div class="col-md-12 check_font">
            <div class="col-md-4 col-lg-4 check_font text-right"><b>Vendor Invoice No.</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
            <div class="col-md-8 col-lg-8 check_font" style="padding: 0;margin: 0;">
              <span><%= @purchase_bill&.invoice_number %></span>
            </div>
          </div>
          <div class="col-md-12 check_font">
            <div class="col-md-4 col-lg-4 check_font text-right"><b>Vendor Name</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
            <div class="col-md-8 col-lg-8 check_font" style="padding: 0;margin: 0;">
              <span><%= @purchase_bill&.vendor_name %></span>
            </div>
          </div>
          <div class="col-md-12 check_font">
            <div class="col-md-4 col-lg-4 check_font text-right"><b>Vendor GSTIN</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
            <div class="col-md-8 col-lg-8 check_font" style="padding: 0;margin: 0;">
              <span><%= @purchase_bill&.vendor_gst_number || 'NA' %></span>
            </div>
          </div>
          <div class="col-md-12 check_font">
            <div class="col-md-4 col-lg-4 check_font text-right"><b>Vendor Email</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
            <div class="col-md-8 col-lg-8 check_font" style="padding: 0;margin: 0;">
              <span><%= @purchase_bill&.vendor_location_email || 'NA' %></span>
            </div>
          </div>
        </div>
        <div class="col-md-6" style="padding: 0">
          <div class="col-md-12 check_font">
            <div class="col-md-4 col-lg-4 check_font text-right"><b>Purchase Bill Date</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
            <div class="col-md-8 col-lg-8 check_font" style="padding: 0;margin: 0;">
              <span><%= @purchase_bill&.transaction_date.try(:strftime, '%d-%m-%Y') %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= @purchase_bill&.transaction_time&.strftime("%I:%M %p")%></span>
            </div>
          </div>
          <div class="col-md-12 check_font">
            <div class="col-md-4 col-lg-4 check_font text-right"><b>Vendor Invoice Date</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
            <div class="col-md-8 col-lg-8 check_font" style="padding: 0;margin: 0;">
              <span><%= @purchase_bill.invoice_date_time.try(:strftime, '%d-%m-%Y') %>&nbsp;|&nbsp;<%= @purchase_bill.invoice_date_time&.strftime("%I:%M %p") %></span>   
            </div>
          </div>
          <div class="col-md-12 check_font">
            <div class="col-md-4 col-lg-4 check_font text-right"><b>Vendor Address</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
            <div class="col-md-8 col-lg-8 check_font" style="padding: 0;margin: 0;">
              <span><%= @purchase_bill.vendor_location_address %></span>
            </div>
          </div>
          <div class="col-md-12 check_font">
            <div class="col-md-4 col-lg-4 check_font text-right"><b>Vendor Mobile No.</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
            <div class="col-md-8 col-lg-8 check_font" style="padding: 0;margin: 0;">
              <span><%= @purchase_bill&.vendor_location_mobile || 'NA' %></span>
            </div>
          </div> 
          <div class="col-md-12 check_font">
            <div class="col-md-4 col-lg-4 check_font text-right"><b>Remarks</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
            <div class="col-md-8 col-lg-8 check_font" style="padding: 0;margin: 0;">
              <span><%= "NA" %></span>
            </div>
          </div> 
        </div>
      </div>

    <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0">
      <!-- <h4 style="margin-top:0;">Transaction Details&nbsp; -->
        <div class="row check_font">
          <table class="table table-bordered">
            <col>
            <colgroup span="2"></colgroup>
            <colgroup span="2"></colgroup>
            <tr class="table-dark-cols">
              <th rowspan="2">#</th>
              <th rowspan="2">GRN NO.</th>
              <th rowspan="2">GRN Date</th>
              <th rowspan="2"><%= @purchase_bill.create_against == 'bill' ? 'Vendor Bill NO.' : 'Vendor Challan No.' %></th>
              <th rowspan="2">Description</th>
              <th rowspan="2">HSN</th>
              <th rowspan="2">Qty.</th>
              <th rowspan="2">Free Qty.</th>
              <th rowspan="2">UOM</th>
              <th rowspan="2">Batch</th>
              <th rowspan="2">Expiry Dt.</th>
              <th rowspan="2">Rate</th>
              <th rowspan="2">Amount</th>
              <th rowspan="2"><%= @purchase_bill.tax_type == 'GST' ? 'GST %' : 'VAT %' %></th>
              <th rowspan="2">Discount</th>
              <% if @purchase_bill.tax_type == 'GST' %>
                <% if @purchase_bill.gst_type == "intrastate" %>
                  <th colspan="2" scope="colgroup">CGST</th>
                  <th colspan="2" scope="colgroup">SGST</th>
                <% else %>
                  <th colspan="2" scope="colgroup">IGST</th>
                <% end %>
              <% else %>
                 <th colspan="2" scope="colgroup">VAT</th>
              <% end %>
            </tr>
            <tr class="table-dark-cols">
              <% if @purchase_bill.tax_type == 'GST' %>
                <% if @purchase_bill.gst_type == "intrastate" %>
                  <th scope="col">Rate</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Rate</th>
                  <th scope="col">Amount</th>
                <% else %>
                  <th scope="col">Rate</th>
                  <th scope="col">Amount</th>
                <% end %>
              <% else %>
                <th scope="col">Rate</th>
                <th scope="col">Amount</th>
              <% end %>
            </tr>
            <% @count = 1 %>
            <% total = {"paid": 0, "free": 0, "amount_total": 0, "discount": 0, "cgst_total": 0, "sgst_total": 0, "igst_total": 0, "vat_total": 0} %>
            <% @purchase_transactions.each do |purchase| %>
              <% purchase.items.each do |item| %>
                <tr>
                  <% hsn_no = Inventory::Item.find_by(id: item.item_id.to_s).try(:hsn_no).present? ? Inventory::Item.find_by(id: item.item_id.to_s).hsn_no : 'NA' %>
                  <td scope="col"><%= @count %></td>
                  <td scope="col"><%= purchase.purchase_display_id %></td>
                  <td scope="col"><%= purchase.transaction_date.strftime("%d/%m/%Y") %></td>
                  <td scope="col"><%= @purchase_bill.create_against == 'bill' ? purchase.bill_number : purchase.challan_number %></td>
                  <td scope="col"><%= item.description %></td>
                  <td scope="col"><%= hsn_no %></td>
                  <td scope="col"><%= item.paid_stock %></td>
                  <td scope="col"><%= item.stock_free_unit %></td>
                  <td scope="col"><%= item.dispensing_unit %></td>
                  <td scope="col"><%= item.batch_no %></td>
                  <td scope="col"><%= item&.expiry&.strftime("%d/%m/%Y") %></td>
                  <td scope="col"><%= item&.unit_cost_without_tax %></td>
                  <% total_amount =  (item&.unit_cost_without_tax * item.paid_stock).round(2) %>
                  <td scope="col"><%= total_amount %></td>
                  <td scope="col"><%= item.tax_rate %></td>
                  <td scope="col"><%= item.item_discount %></td>
                  <% total[:paid] += item.paid_stock %>
                  <% total[:free] += item.stock_free_unit %>
                  <% total[:amount_total] += total_amount %>
                  <% total[:discount] += item.item_discount %>
                  <% tax_amount = item.try(:purchase_tax_amount) %>
                  <% if @purchase_bill.tax_type == 'GST' %>
                    <% if @purchase_bill.gst_type == "intrastate" %>
                      <td><%= item.tax_rate / 2 %></td>
                      <td><%= item.paid_stock > 0 ? (tax_amount / 2).round(2) : 0.0 %></td>
                      <td><%= item.tax_rate / 2%></td>
                      <td><%= item.paid_stock > 0 ? (tax_amount / 2).round(2) : 0.0 %></td>
                      <% total[:cgst_total] += item.paid_stock > 0 ? (tax_amount / 2) : 0.0 %>
                      <% total[:sgst_total] += item.paid_stock > 0 ? (tax_amount / 2)  : 0.0 %>
                    <% else %>
                      <td><%= item.tax_rate %></td>
                      <td><%= item.paid_stock > 0 ? tax_amount.round(2) : 0.0 %></td>
                      <% total[:igst_total] += item.paid_stock > 0 ? tax_amount : 0.0 %>
                    <% end %>
                  <% else %>
                    <td><%= item.tax_rate %></td>
                    <td><%= item.paid_stock > 0 ? tax_amount.round(2) : 0.0 %></td>
                    <% total[:vat_total] += item.paid_stock > 0 ? tax_amount : 0.0 %>
                  <% end %>
                </tr>
                <% @count += 1 %>
              <% end %>
            <% end %>
            <tfoot class="table-footer">
              <tr>
                <td colspan="6"></td>
                <td><%= total[:paid] %></td>
                <td><%= total[:free] %></td>
                <td colspan="4"></td>
                <td><%= total[:amount_total].round(2) %></td>
                <td></td>
                <td><%= total[:discount] %></td>
                <% if @purchase_bill.tax_type == 'GST' %>
                  <% if @purchase_bill.gst_type == "intrastate" %>
                    <td></td>
                    <td><%= total[:cgst_total].round(2) %></td>
                    <td></td>
                    <td><%= total[:sgst_total].round(2) %></td>
                  <% else %>
                    <td></td>
                    <td><%= total[:igst_total].round(2) %></td>
                  <% end %>
                <% else %>
                  <td></td>
                  <td><%= total[:vat_total].round(2) %></td>
                <% end %>
              </tr>
            </tfoot>
          </table>
        </div>
      </h4>
    </div>
    <div id="item_information" class="col-lg-12 col-md-12 col-sm-12">
      <div class="col-md-6 check_font" style="padding-left: 100px;">
        <table> 
          <% if @purchase_bill.tax_type == 'GST' %>
            <tr> 
              <th colspan="2">CGST</th> 
              <th colspan="2">SGST</th> 
              <th colspan="2">IGST</th> 
            </tr> 
            <tr> 
              <th>Rate</th> 
              <th>Amount</th> 
              <th>Rate</th> 
              <th>Amount</th> 
              <th>Rate</th> 
              <th>Amount</th> 
            </tr> 
          <% else %>
            <tr>
              <th colspan='2'>VAT</th>
            </tr>
            <tr>
              <th>Rate</th>
              <th>Amount</th>
            </tr>
          <% end %>
          <% @purchase_bill.tax_breakup.group_by{|x| x["id"]}.values.each do |tax_breakup| %> 
            <% if @purchase_bill.tax_type == 'GST' %>
              <% if @purchase_bill.gst_type == "intrastate" %>
                <tr>
                  <td><%= tax_breakup[0][:rate] %></td> 
                  <td><%= tax_breakup[0][:amount] %></td> 
                  <td><%= tax_breakup[0][:rate] %></td> 
                  <td><%= tax_breakup[0][:amount] %></td> 
                  <td>-</td> 
                  <td>-</td> 
                </tr> 
              <% else %>
                <tr>
                  <td>-</td> 
                  <td>-</td> 
                  <td>-</td> 
                  <td>-</td> 
                  <td><%= tax_breakup[0][:rate] %></td> 
                  <td><%= tax_breakup[0][:amount] %></td> 
                </tr> 
              <% end %>
            <% else %>
              <tr>
                <td><%= tax_breakup[0][:rate] %></td> 
                <td><%= tax_breakup[0][:amount] %></td> 
              </tr> 
            <% end %>
          <% end %>
        </table>
      </div>
      <div class="col-md-6">
        <div class="col-sm-12 text-right">
          <div class="col-sm-7 check_font">
            <b>Bill Amount</b>
          </div>
          <div class="col-sm-1 text-center check_font">
            :
          </div>
          <div class="col-sm-2 check_font">
            <%= @purchase_bill&.total_cost.to_f.round(2) %>
          </div>
        </div>
        <div class="col-sm-12 text-right">
          <div class="col-sm-7 check_font">
            <b>Total Discount</b>
          </div>
          <div class="col-sm-1 text-center check_font">
            :
          </div>
          <div class="col-sm-2 check_font" id="discount">
            <%= @purchase_bill&.discount %>
          </div>
        </div>
        <% @purchase_bill.tax_breakup.group_by{|x| x[:rate]}.values.each do |tax_breakup| %>
          <%# tax_breakup[0].each do |tax| %>
          <% if @purchase_bill.tax_type == 'GST' %>
            <% if @purchase_bill.gst_type == "intrastate" %>
            <div class="col-sm-12 text-right">
              <div class="col-sm-7 check_font">
                <b>GST<%= (tax_breakup[0][:rate].to_f * 2).to_i %></b>
              </div>
              <div class="col-sm-1 text-center check_font">
                :
              </div>
              <div class="col-sm-2 check_font">
                <%= tax_breakup[0][:amount].to_f * 2 %>
              </div>
            </div>
          <% else %>
            <div class="col-sm-12 text-right">
              <div class="col-sm-7 check_font">
                <b>GST<%= tax_breakup[0][:rate] %></b>
              </div>
              <div class="col-sm-1 text-center check_font">
                :
              </div>
              <div class="col-sm-2 check_font">
                <%= tax_breakup[0][:amount] %>
              </div>
            </div>
          <% end %>
          <% else %>
            <div class="col-sm-12 text-right">
              <div class="col-sm-7 check_font">
                <b>VAT<%= tax_breakup[0][:rate] %></b>
              </div>
              <div class="col-sm-1 text-center check_font">
                :
              </div>
              <div class="col-sm-2 check_font">
                <%= tax_breakup[0][:amount] %>
              </div>
            </div>
          <% end %>
          
          <%# end %>
        <% end %>
        <div class="col-sm-12 text-right">
          <div class="col-sm-7 check_font">
            <b>Total Other Charges</b>
          </div>
          <div class="col-sm-1 text-center check_font">
            :
          </div>
          <div class="col-sm-2 check_font" id="credit_adjustment">
            <%= @purchase_bill&.total_other_charges_amount %>
          </div>
        </div>
        <div class="col-sm-12 text-right">
          <div class="col-sm-7 check_font">
            <b>Net Amount</b>
          </div>
          <div class="col-sm-1 text-center check_font">
            :
          </div>
          <div class="col-sm-2 check_font">
            <%= @purchase_bill&.net_amount %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8" style="margin-top: 7px;">
      <div class="row">
          <div class="col-sm-6" style="text-align: center;">
            <span style>CREATED BY</span>
            <div style="font-weight: bold;"><%= @purchase_bill&.created_by %></div>
            <span><%= @purchase_bill.try(:created_at)&.strftime("%d %b %Y %H:%M %p")%></span>
          </div>
          <div class="col-sm-6" style="text-align: center;">
            <span>APPROVED BY</span>
            <div style="font-weight: bold;"><%= @purchase_bill&.approved_by_name%></div>
            <span><%= @purchase_bill&.approved_on&.strftime("%d %b %Y %H:%M %p")%></span>
          </div>
        </div>
    </div>
  </div>
</div>

<style type="text/css">
  .table-add-item td{
    padding: 5px 5px 0;
  }

  .check_font table tr th {
    padding: 1px 2px;
    /*background-color: #4CAF50;*/
    /*color: white;*/
    text-align: center;
  }

  .check_font table tr td {
    padding: 5px 8px;
    text-align: center;
  }
  .table-footer td{
    border-left: none !important;
    border-right: none !important;
  }
  .table-dark-cols th {
    background: #4CAF50;
    color: #fff;
  }
  .check_font {
    font-size: 11px;
  }
  .table-borderless tr td {
    border: none !important;
    padding:  1px 1px 0 !important;
  }
  table th {
    vertical-align: middle !important;
  }
  table { page-break-inside:auto }
  tr    { page-break-inside:avoid; page-break-after:auto }
  thead { display:table-header-group }
  tfoot { display:table-row-group }
</style>
