<% if sessions.count > 0 %>
  <tr>
    <td class="text-center bg-info" colspan="3"><b>Exception Sessions</b></td>
  </tr>
  <% sessions.includes(:facility).group_by(&:shared_id).each do |shared_id, sessions| %>
    <% next if sessions.empty? %>
    <tr>
      <td class="text-center" colspan="3">
        <%= sessions[0]&.start_date&.strftime('%d %b\'%y') %> - <%= sessions[0]&.end_date&.strftime('%d %b\'%y') %>
      </td>
    </tr>
    <tr>
      <% sessions.group_by(&:days).each do |days, g_sessions| %>
        <td class="text-center" colspan="3">
          <%= days.join(' - ') %>
        </td>
        <td class="text-center" colspan="3">
          <tr>
            <% g_sessions.each_with_index do |session, i| %>
              <td class="text-center">
                Session <%= i + 1 %><br>
                <%= session.facility.name %> - <%= session.department_name %><br>
                <%= session.start_time %> - <%= session.end_time %><br>
                <%= session.slot_duration %> Minutes - <%= session.time_duration %> Minutes
              </td>
            <% end %>
          </tr>
        </td>
      <% end %>
    </tr>
  <% end %>
<% end %>
