<div class="sub-section-rows">
  <hr>
  <div class="row mb10 each-ckbox">
    <div class="col-md-10">
      <% Date::DAYNAMES.each do |day| %>
        <div class="ckbox ckbox-primary">
          <%= check_box_tag 'user_time_slot[0][exception_ckbox_days][]', day, false, { id: "exception_sessions_0_ckbox_days_#{day}", class: 'exception_sessions_0_ckbox_days exception_sessions_ckbox_days', 'data-day': day } %>
          <label for="exception_sessions_0_ckbox_days_<%= day %>"><%= day %></label>
        </div>
      <% end %>
    </div>
    <div class="col-md-2 text-right">
      <button type="button" class="btn btn-danger btn-xs exception-remove-section-row" id='exception_sessions_0_remove'>Remove Sub Section</button>
    </div>
  </div>
  <div class="row">
    <% 3.times do |i| %>
      <div class="col-md-4">
        <div class="each-exception-session">
          <h4 class="text-center">
            <span>Session <%= i + 1 %></span>
            <button type="button" class="btn btn-link pull-right clear-selection" style="padding: 0px;">Clear</button>
          </h4>
          <div class="row">
            <%= hidden_field_tag "user_time_slot[exception_sessions_attributes][#{i}][shared_id]", nil, class: 'exception_session_shared_id' %>
            <%= hidden_field_tag "user_time_slot[exception_sessions_attributes][#{i}][start_date]", nil, class: 'exception_session_start_date' %>
            <%= hidden_field_tag "user_time_slot[exception_sessions_attributes][#{i}][end_date]", nil, class: 'exception_session_end_date' %>
            <div class="hidden-days">
              <% Date::DAYNAMES.each do |day| %>
                <%= check_box_tag "user_time_slot[exception_sessions_attributes][#{i}][days][]", day, false, { class: "exception_sessions_days_#{day}" } %>
              <% end %>
            </div>
            <div class="col-md-6 mb10">
              <b>Facility</b>
              <%= select_tag "user_time_slot[exception_sessions_attributes][#{i}][facility_id]", options_for_select(@facilities_array, ''), include_blank: true, class: "form-control p7_10 exception_sessions_facility_id section-exception-session-#{i}-facility_id" %>
            </div>
            <div class="col-md-6 mb10">
              <b>Department</b>
              <%= select_tag "user_time_slot[exception_sessions_attributes][#{i}][department_id]", options_for_select([['OPD', '485396012'], ['IPD', '486546481']], ''), include_blank: true, class: "form-control p7_10 exception_sessions_department_id section-exception-session-#{i}-department_id" %>
            </div>
            <div class="col-md-6 mb10">
              <b>Start Time</b>
              <%= text_field_tag "user_time_slot[exception_sessions_attributes][#{i}][start_time]", nil, class: "form-control p7_10 exception_sessions_start_time section-exception-session-#{i}-start_time", readonly: 'readonly', data: { provide: 'timepicker', 'minute-step': 5, 'show-inputs': false } %>
            </div>
            <div class="col-md-6 mb10">
              <b>End Time</b>
              <%= text_field_tag "user_time_slot[exception_sessions_attributes][#{i}][end_time]", nil, class: "form-control p7_10 exception_sessions_end_time section-exception-session-#{i}-end_time", readonly: 'readonly', data: { provide: 'timepicker', 'minute-step': 5, 'show-inputs': false } %>
            </div>
            <div class="col-md-6 mb10">
              <b>Slot Duration</b>
              <%= number_field_tag "user_time_slot[exception_sessions_attributes][#{i}][slot_duration]", nil, class: "form-control p7_10 exception_sessions_slot_duration section-exception-session-#{i}-slot_duration", min: 1, max: 120 %>
            </div>
            <div class="col-md-6 mb10">
              <b>Time Duration</b>
              <%= number_field_tag "user_time_slot[exception_sessions_attributes][#{i}][time_duration]", nil, class: "form-control p7_10 exception_sessions_time_duration section-exception-session-#{i}-time_duration", min: 1, max: 120 %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
