<%= form_for transfer_transaction, :url => inventory_transaction_transfers_path, :authenticity_token => false do |f| %>
  <%= f.fields_for :items, :child_index => (Time.current.to_f.round(3)*1000).to_i do |builder| %>
    <table width="100%" class="transfer-transaction-log-item lot-table lot-table-<%=@lot.id%>">
      <tr class="tr-lot-table-<%= @lot.id %>">
        <%= builder.hidden_field :item_code, { value: @variant.item_code } %>
        <%= builder.hidden_field :variant_code, { value: @variant.variant_code } %>
        <%= builder.hidden_field :item_id, { value: @variant.item_id } %>
        <%= builder.hidden_field :lot_id, { value: @lot.id } %>
        <%= builder.hidden_field :variant_id, { value: @variant.id } %>
        <%= builder.hidden_field :category, { value: @variant.category_name } %>
        <%= builder.hidden_field :barcode, { value: @variant.barcode } %>
        <%= builder.hidden_field :barcode_present, { value: @variant.barcode_present } %>
        <%= builder.hidden_field :variant_reference_id, { value: @variant.reference_id } %>
        <%= builder.hidden_field :item_reference_id, { value: @item.reference_id } %>
        <%= builder.hidden_field :lot_reference_id, { value: @lot.reference_id } %>
        <%= builder.hidden_field :facility_id, { value: @variant.facility_id } %>
        <%= builder.hidden_field :store_id, { value: @variant.store_id } %>
        <%= builder.hidden_field :organisation_id, { value: @variant.organisation_id } %>
        <%= builder.hidden_field :search, { value: @lot.search } %>
        <%= builder.hidden_field :variant_identifier, { value: @lot.variant_identifier } %>
        <%= builder.hidden_field :mark_up, { value: @lot.mark_up } %>
        <%= builder.hidden_field :mrp, { value: @lot.mrp } %>
        <%= builder.hidden_field :list_price, { value: @lot.list_price } %>
        <%= builder.hidden_field :unit_non_taxable_amount, { value: @lot.unit_non_taxable_amount } %>
        <%= builder.hidden_field :unit_taxable_amount, { value: @lot.unit_taxable_amount } %>
        <%= builder.hidden_field :tax_rate, { value: @lot.tax_rate ,class: "tax_rate"} %>
        <%= builder.hidden_field :tax_name, { value: @lot.tax_name } %>
        <%= builder.hidden_field :tax_group_id, { value: @lot.tax_group_id } %>
        <%= builder.hidden_field :tax_inclusive, { value: @lot.tax_inclusive } %>
        <%= builder.hidden_field :vendor_name, { value: @lot.vendor_name } %>
        <%= builder.hidden_field :vendor_id, { value: @lot.vendor_id } %>
        <%= builder.hidden_field :model_no, { value: @lot.model_no } %>
        <%= builder.hidden_field :sub_store_id, { value: @lot.sub_store_id } %>
        <%= builder.hidden_field :sub_store_name, { value: @lot.sub_store_name } %>
        <%= builder.hidden_field :hsn_no, { value: @item.hsn_no } %>
        <%= builder.hidden_field :dispensing_unit, { value: @item.dispensing_unit } %>
        <%= builder.hidden_field :unit_purchase_tax_amount, { value: "", class: "unit_purchase_tax_amount" } %>
        <%= builder.hidden_field :item_cost_without_tax, value: "", :class => "item_cost_without_tax"%>
        <%= builder.hidden_field :purchase_tax_amount, value: "" , :class => "purchase_tax_amount"%>
        <%#= builder.hidden_field :stock_package %>
        <%#= builder.hidden_field :stock_subpackage %>
        <%#= builder.hidden_field :stock_unit %>
        <%#= builder.hidden_field :stock_free_unit %>
        <%#= builder.hidden_field :mrp_pack%>
        <%#= builder.hidden_field :mrp_pack_denomination %>
        <%#= builder.hidden_field :list_price_pack %>
        <%#= builder.hidden_field :list_price_pack_denomination %>

        <% if @lot.custom_field_data.present? %>
          <% @lot.custom_field_data.each do |k,v| %>
            <%= builder.hidden_field :custom_field_data, {value: v,name: "inventory_transaction_transfer[items_attributes][#{builder.options[:child_index] }][custom_field_data][#{k}]"} %>
          <% end %>
        <% end %>

        <%= builder.select :custom_field_tags,options_for_select(@lot.custom_field_tags,@lot.custom_field_tags),{include_hidden: false}, {multiple:true, style: "display: none;"} %>

        <td class="col-md-2 col-sm-2 col-xs-2 font_size">
          <strong><%= @lot.description %></strong>
          <%= builder.hidden_field :description,value: @item.description,readonly: true, :class => "item_description modalRequest_input_style", :placeholder=>"Description" %>
          <%= builder.hidden_field :_destroy,  {value: 0 ,class: 'form-control' } %>
        </td>
        <td class="col-md-2 col-sm-2 col-xs-2 font_size">
          <% if @lot_units.present? %>
            <%= builder.select :lot_unit_ids, options_for_select(@lot_units, @lot_units), { include_hidden: false }, multiple: true, style: "display: none;"%>
            <% @lot_units.each do |lot_unit_id| %>
              <% lot_unit = Inventory::Item::LotUnit.find_by(id: lot_unit_id) %>
              <label class="label label-info" style="font-size: 9px; padding: 2px; font-style: italic;"><%= lot_unit.barcode_id %></label><br>
            <% end %>
          <% else %>
            <label class="label label-info" style="font-size: 10px; padding: 2px"><%= @lot.barcode_id %></label>
          <% end %>
        </td>
        <td class="col-md-2 col-sm-2 col-xs-2 font_size">
          <label class="label label-info" style="font-size: 10px; padding: 2px"><%= @lot.batch_no %></label>
          <%= builder.hidden_field :batch_no,value: @lot.batch_no,readonly: true, :class => "item_batch modalRequest_input_style", :placeholder=>"Batch" %>
          <%= builder.hidden_field :self_batched,value: @lot.self_batched %>
        </td>
        <td class="col-md-2 col-sm-2 col-xs-2 font_size">
          <label class="label label-info" style="font-size: 10px; padding: 2px"><%= @lot.model_no %></label>
        </td>
        <td class="col-md-1 col-sm-1 col-xs-1 font_size">
          <% if @lot.expiry_present %>
            <%= @lot.expiry %>
          <%else %>
            N.A
          <%end %>
          <%= builder.hidden_field :expiry_present, value: @lot.expiry_present,readonly: true, :class => "exp_datepicker item_expiry modalRequest_input_style", :placeholder=>"Expiry" %>
          <%= builder.hidden_field :expiry, value: @lot.expiry,readonly: true, :class => "exp_datepicker item_expiry modalRequest_input_style", :placeholder=>"Expiry" %>
        </td>

        <td class="col-md-1 col-sm-1 col-xs-1 font_size">
          <% stock_val = @lot_units.present? ? @lot_units.size : '' %>
          <% total_cost = @lot_units.present? ? stock_val * @lot.unit_cost : 0 %>
          <% readonly = @lot_units.present? ? true : false %>
          <%= builder.number_field :stock, :class => "item_quantity modalRequest_input_style", :placeholder=>"Qty", :style=>"width:100%;text-align:left", value: stock_val, readonly: readonly %>
          <input type="hidden" value= "<%= @lot.available_stock %>" class="item_max_quantity modalRequest_input_style" placeholder="" style="width:90%;text-align:left" />
        </td>
        <td class="col-md-1 col-sm-1 col-xs-1 font_size">
          <%= builder.text_field :total_cost,readonly: true ,:class => "price_including_tax modalRequest_input_style", :placeholder=>"Total", :style=>"width:100%;text-align:left", value: total_cost %>
          <%= builder.hidden_field :unit_cost, value: @lot.unit_cost, :class => "item_unit_cost modalRequest_input_style"%>
          <%= builder.hidden_field :unit_cost_without_tax, value: @lot.unit_cost_without_tax, :class => "unit_cost_without_tax modalRequest_input_style"%>
        </td>
        <td class="col-md-1 col-sm-1 col-xs-1 font-size text-center">
          <button type="button" class="btn btn-link hg-tooltip delete_empty_item" tabindex="-1" style="padding:0px;" title="Remove From List" value="<%= @lot.id %>"><i class="fa fa-trash-alt" style="color:#000;"></i></button>
          <% if @lot_units.present? && params[:is_lot_unit] != 'true' %>
            <%= link_to new_lot_inventory_transaction_transfers_path(lot_id: @lot.id, lot_unit_ids: @lot_units, class_val: "lot-table-#{@lot.id}"), id: 'edit_added_lot_unit', data: { remote: true, toggle: 'modal', target: '#add-unit-lot-modal' }, class: 'btn btn-xs' do %><i class="fa fa-edit"></i><% end %>
          <% end %>
        </td>
      </tr>
    </table>
  <% end %>
<% end %>
