<div class="modal-dialog" style="width: 50%">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title" style="color: #00BFFF">Transfer Item</h4>
    </div>
    <div class="modal-body window-body">
      <div class="row mb5">
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <b>Transfer to:</b>
        </div>

        <div class="col-md-9">
          <div class="col-md-4">
            <div class="rdio rdio-primary">
              <%= radio_button_tag 'transfer[type]', 'facility_store', true, class: 'transfer_type', id: 'transfer_type_facility_store' %>
              <label for="transfer_type_facility_store">Facility Store</label>
            </div>
          </div>

          <div class="col-md-5">
            <div class="rdio rdio-primary">
              <%= radio_button_tag 'transfer[type]', 'central_hub', false, class: 'transfer_type', id: 'transfer_type_central_hub' %>
              <label for="transfer_type_central_hub">Another Central Store</label>
            </div>
          </div>
        </div>
      </div><br>
      <div class="transfer-facility-store">
        <div class="row mb5">
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <b>Select Facility:</b>
          </div>
          <div class="col-md-5">
            <%= select_tag 'facility_list[facility_name]', options_for_select(@facility_array, selected: @facility), include_blank: true, include_hidden: false, class: 'form-control facility-name', id: 'facility_id', style: 'padding: 5px' %>
          </div>
          <div class="col-md-3"></div>
        </div>
        <div class="row mb5">
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <b>Select Store:</b>
          </div>
          <div class="col-md-5">
            <%= select_tag 'store_list[store_name]', options_for_select(@inventory_stores, selected: ''), include_blank: true, include_hidden: false, class: 'form-control store-name', id: 'store_id', style: 'padding: 5px' %>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div><br>
      <div class="transfer-facility-central-hub">
        <div class="row mb5">
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <b>Select Central Hub:</b>
          </div>
          <div class="col-md-5">
            <%= select_tag 'store_list[store_name]', options_for_select(@receive_central_hub_stores, selected: ''), include_blank: true, include_hidden: false, class: 'form-control facility-name', id: 'central_hub_id', style: 'padding: 5px' %>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer window-footer">
      <button type="button" class="btn btn-primary" id="create_facility_transfer">Select</button>
      <button type="button" class="btn btn-primary" id="create_central_hub_transfer">Select</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>

<script type="text/javascript">
</script>