<% if @transfers.length > 0 %>
<%# count = 1 %>
  <% @transfers.each_with_index do |transfer,index| %>
    <% receive = Inventory::Transaction::Receive.find_by(id: transfer.receive_id) %>
    <% requisition = Inventory::Order::Requisition.find_by(id: transfer.requisition_id) %>
    <% receive_user_name = User.find_by(id: receive&.user_id)&.fullname %>
    <tr id="<%= transfer.id %>" class="inventory-list-row">
      <td class="col-md-1 transfer_<%#= index %> transfer"><b><%#= index + 1 %></b></td>
      <!-- <td style="font-size: 10px; color: #17a08c;" class="col-md-3"><%#= transfer.transaction_date&.strftime('%d-%m-%Y') %>&nbsp;&nbsp;|&nbsp;&nbsp;<%#= transfer.transaction_time&.strftime("%I:%M%p") || transfer.created_at&.strftime("%I:%M%p") %></td> -->
      <td style="font-size: 10px; color: #17a08c;" class="col-md-2">
        <div><%= transfer.transfer_from == "store" ? "Direct" : transfer.transfer_from.try(:capitalize) %></div>   
        <div><%= transfer.receive_store_name %></div>   
      </td>
      <!-- <td style="font-size: 10px; color: #17a08c;" class="col-md-3"><%# if transfer.receive_facility_name.present? %><%#= transfer.receive_facility_name %>&nbsp;/&nbsp;<%# end %><%#= transfer.receive_store_name %></td> -->
      <td style="font-size: 10px; color: #17a08c;" class="col-md-3">
        <div><%= transfer.transfer_from == "requisition" ? transfer.issue_display_id : transfer.transfer_display_id %></div>
        <div><%= transfer.transaction_date&.strftime("%d-%m-%Y") %>&nbsp;&nbsp;<%= transfer.transaction_time&.strftime("%I:%M %p") %></div>
        <div><%= transfer.entered_by %></div>
      </td>
      <!-- <td class="col-md-3"><b><%#= transfer.note.try(:capitalize) %></b></td> -->
      <td class="col-md-3">
        <% if  requisition != nil && transfer.transfer_from == "requisition" %>
          <div><%= requisition&.approved_by %></div>
          <div><%= requisition&.approved_date_time&.strftime("%d-%m-%Y") %>&nbsp;&nbsp;<%= requisition&.approved_date_time&.strftime("%I:%M %p") %></div>
          <div><%= requisition.store_name %> - <%= requisition&.department_name %></div>
        <% end %>
      </td>
      <!-- <td class="col-md-3"><b><%#= transfer.total_cost %></b> </td> -->
      <td class="col-md-3">
        <div><%= receive_user_name %></div>
        <div><%= receive&.transaction_date&.strftime("%d-%m-%Y") %>&nbsp;&nbsp;<%= receive&.transaction_time&.strftime("%I:%M %p") %></div>
        <div><span>Status:&nbsp;<%= transfer.receive_status.try(:capitalize) %></span></div>
      </td>
    </tr>
    <%# count += 1 %>
  <% end %>
<% else %>
  <tr>
    <td align="center"><strong style="font-size: 20px;">Nothing to Display</strong></td>
  </tr>
<% end %>
