<% receive = Inventory::Transaction::Receive.find_by(id: transfer.receive_id)%>
<% requisition = Inventory::Order::Requisition.find_by(id: transfer.requisition_id) %>
<% receive_user_name = User.find_by(id: receive&.user_id)&.fullname %>
<td class="col-md-1 transfer_<%#= count&.to_i - 1 %> transfer"><b><%#= count %></b></td>
<td style="font-size: 10px; color: #17a08c;" class="col-md-2">
  <div><%= transfer.transfer_from == "store" ? "Direct" : transfer.transfer_from.try(:capitalize) %></div>
  <div><%= transfer.receive_store_name %></div>   
</td>
<td style="font-size: 10px; color: #17a08c;" class="col-md-3">
  <div><%= transfer.transfer_from == "requisition" ? transfer.issue_display_id : transfer.transfer_display_id %></div>
  <div><%= transfer.transaction_date&.strftime("%d-%m-%Y") %>&nbsp;&nbsp;<%= transfer.transaction_time&.strftime("%I:%M %p") %></div>
  <div><%= transfer.entered_by %></div>
</td>
<td class="col-md-3">
  <% if  requisition != nil && transfer.transfer_from == "requisition" %>
    <div><%= requisition&.approved_by %></div>
    <div><%= requisition&.approved_date_time&.strftime("%d-%m-%Y") %>&nbsp;&nbsp;<%= requisition&.approved_date_time&.strftime("%I:%M %p") %></div>
    <div><%= requisition.store_name %> - <%= requisition&.department_name %></div>
  <% end %>
</td>
<td class="col-md-3">
  <div><span>Status:&nbsp;<%= receive.nil? ? "None" : receive&.status.try(:capitalize) %></span></div>
  <div><%= receive&.transaction_date&.strftime("%d-%m-%Y") %>&nbsp;&nbsp;<%= receive&.transaction_time&.strftime("%I:%M %p") %></div>
  <div><%= receive_user_name %></div>
</td>
