<div class="row mb10">
  <div class="col-md-12">
    <div class="row">
      <div class="summary-line-border"></div>
      <div class="col-md-5 text-left"><strong>INVESTIGATION </strong></div>
      <div class="col-md-7 text-center"><strong>FINDINGS</strong> </div>
      <div class="summary-line-border" style="margin-top: 20px;"></div>
    </div>
  </div>
  <div class="col-md-12">
    <% if @investigation_record.try(:panel_records).size > 0  %>
        <strong><%= @investigation_record.investigation_name %></strong>
        <%@investigation_record.panel_records.each do |panel| %>
            <div class="col-md-12">
              <div class="row mb10">
                <div class="col-md-4 text-left"><%= panel.investigation_name %> </div>
                <div class="col-md-1 text-center">: </div>
                <div class="col-md-3 text-center"><strong><%= panel.investigation_val %></strong> </div>
                <div class="col-md-4 text-right"><%= panel.normal_range %> </div>
              </div>
            </div>
        <% end %>
    <%else%>
        <div class="col-md-12">
          <div class="row mb10">
            <div class="col-md-4 text-left"><%= @investigation_record.investigation_name %> </div>
            <div class="col-md-1 text-center">: </div>
            <div class="col-md-7 text-center"><strong><%= @investigation_record.investigation_val %></strong> </div>
          </div>
          <% if @investigation_record.try(:investigation_comment).present? %>
              <div class="row mb10">
                <div class='col-md-4'><b>Investigation Remark</b> </div>
                <div class="col-md-1 text-center">:</div>
                <div class='col-md-7 text-center'><%= @investigation_record.investigation_comment %></div>
              </div>
          <% end %>
        </div>
    <% end %>
  </div>

</div>