<% @wards.each_with_index do |ward,i| %>
  <div class="row no_margin text-center ward-name" data-toggle="collapse" data-target="#summary_ward_today_<%= i.to_s %>">
    <%= ward.name %>
    <span class="pull-right"><i class="fa fa-caret-square-o-down" aria-hidden="true"></i></span>
  </div>

  <div class="row no_margin summary_body ward-details collapse" id="summary_ward_today_<%= i.to_s %>">
    <div class="ward_today">
      <div class="tab-content">
        <div class="ward_type_content" id="ward_details">
          <% ward.rooms.each do |room| %>
            <div class='row no_margin summary_ward' data-room-id="<%= room.id %>">
              <div class='col-sm-7 no_padding text-left'>
                <b><%= room.name %></b>
              </div>
              <div class='col-sm-5 no_padding text-right'>
                Total Beds: <%= room.beds.count %>
              </div>
              <div class='col-sm-3 no_padding text-left'>
                Code: <%= room.code %>
              </div>
              <div class='col-sm-9 no_padding text-right'>
                Occupied: <%= room.beds.where(status: 1669000).count %> | Unoccupied: <%= room.beds.where(status: 78848005).count %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>