<%= render partial: '/inpatients/common_css.html.erb' %>
<div class="col-xs-4 sidebar_area" style="background: white;">
  <div id="row toolbar_area">
    <div id="toolbar">
      <nav class="navbar navbar-secondary navbar-inverse navbar-fixed-top" style="margin-top: 50px; left: auto; right: auto; width: 33.33%;z-index:100;">
        <div class="container-fluid" style="padding-right:0;border-right: 1px solid #aaa;">
          <div class="col-xs-6" style="padding-left:initial;">
            <h4 style="margin:13px 0 0 0;font-size:18px;">Ward/Room Details</h4>
          </div>
          <div class="col-xs-6 text-right" style="margin-top: 7px;">
            <%= link_to "/inpatients/admission_management", class: "btn btn-primary navbar-btn btn-ward ps", data: { remote: true }, style: "margin:0px;" do %>Admission<% end %>
          </div>
        </div>
      </nav>
    </div>
  </div><!-- #toolbar_area -->
  <div class="sidebar_area_content">
    <div class="col-xs-12 sidebar_pane" id="sidebar_summary">
      <div class="sidebar-summary-ward">
        <%= render partial: "/inpatients/ward/sidebar_summary.html.erb" %>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-8 ward_main_content" style="padding:0px;">
  <%= render partial: '/inpatients/ward/ward_main_content.html.erb' %>
</div>

<script type="text/javascript">
  <%= render partial: '/inpatients/ward/ward_management.js.erb' %>
</script>