<% counter_class = '' %>
<% if name == "separator" %>
  <div class="col-md-3 col-sm-3 col-xs-3">
    <div class="title">
      Separator
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6 separator_val">
    <%=display_field%>
  </div>
<% elsif name == "original_counter" %>
  <% counter_name = "#{counter_level}_counter" %>
  <div class="col-md-3 col-sm-3 col-xs-3">
    <div class="title">
      <%= sequence_manager.alias_fields(counter_name).titleize %>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6">
    <div class="val">
      <% if counter_level == 'organisation' %>
        <%= text_field_tag "sequence_manager[original_counter]", sequence_manager.original_counter, class: "form-control original_counter", value: sequence_manager.organisation_counter, type: 'number', min: 1 %>
      <% elsif counter_level == 'facility' %>
        <% details = @facility_details %>
        <%= hidden_field_tag "sequence_manager[facility_id]", @current_facility.id.to_s, class: "form-control", value: @current_facility.id.to_s %>
        <%= hidden_field_tag "sequence_manager[facility_name]", @current_facility.name, class: "form-control", value: @current_facility.name %>
        <%= hidden_field_tag "sequence_manager[facility_abbreviation]", @current_facility.abbreviation, class: "form-control", value: @current_facility.abbreviation %>
        <%= hidden_field_tag "sequence_manager[facility_counter]", sequence_manager.facility_counter, class: "form-control", value: sequence_manager.facility_counter %>
        <strong><%= @current_facility.abbreviation %> : </strong><%= text_field_tag "sequence_manager[original_counter]", sequence_manager.original_counter, class: "form-control original_counter", value: sequence_manager.original_counter, type: 'number', min: 1 %>
      <% elsif counter_level == 'region' %>
        <% details = @region_details %>
        <%= hidden_field_tag "sequence_manager[region_id]", @current_region.try(:id).to_s, class: "form-control", value: @current_region.try(:id).to_s %>
        <%= hidden_field_tag "sequence_manager[region_name]", @current_region.try(:name), class: "form-control", value: @current_region.try(:name) %>
        <%= hidden_field_tag "sequence_manager[region_abbreviation]", @current_region.try(:abbreviation), class: "form-control", value: @current_region.try(:abbreviation) %>
        <%= hidden_field_tag "sequence_manager[region_counter]", sequence_manager.region_counter, class: "form-control", value: sequence_manager.region_counter %>
        <strong><%= @current_region.try(:abbreviation) %> : </strong><%= text_field_tag "sequence_manager[original_counter]", sequence_manager.original_counter, class: "form-control original_counter", value: sequence_manager.original_counter, type: 'number', min: 1 %>
      <% elsif counter_level == 'entity_group' %>
        <% details = @entity_group_details %>
        <%= hidden_field_tag "sequence_manager[entity_group_id]", @current_entity_group.try(:id).to_s, class: "form-control", value: @current_entity_group.try(:id).to_s %>
        <%= hidden_field_tag "sequence_manager[entity_group_name]", @current_entity_group.try(:name), class: "form-control", value: @current_entity_group.try(:name) %>
        <%= hidden_field_tag "sequence_manager[entity_group_abbreviation]", @current_entity_group.try(:abbreviation), class: "form-control", value: @current_entity_group.try(:abbreviation) %>
        <%= hidden_field_tag "sequence_manager[entity_group_counter]", sequence_manager.entity_group_counter, class: "form-control", value: sequence_manager.entity_group_counter %>
        <strong><%= @current_entity_group.try(:abbreviation) %> : </strong><%= text_field_tag "sequence_manager[original_counter]", sequence_manager.original_counter, class: "form-control original_counter", value: sequence_manager.original_counter, type: 'number', min: 1 %>
      <% end %>
      <% details&.each do |key, val| %>
        <strong><%= val[:prefix] %> : </strong><%= text_field_tag "sequence_manager[#{counter_level}_details][#{key}][#{'original_counter'.to_sym}]", val[:original_counter], class: "form-control val_counter", value: val[:original_counter], type: 'number', min: 1 %>
        <%= hidden_field_tag "sequence_manager[#{counter_level}_details][#{key}][#{'current_counter'.to_sym}]", val[:current_counter], class: "form-control", value: val[:current_counter] %>
        <%= hidden_field_tag "sequence_manager[#{counter_level}_details][#{key}][#{'name'.to_sym}]", val[:name], value: val[:name] || nil %>
        <%= hidden_field_tag "sequence_manager[#{counter_level}_details][#{key}][#{'abbreviation'.to_sym}]", val[:abbreviation], value: val[:abbreviation] || nil %>
        <%= hidden_field_tag "sequence_manager[#{counter_level}_details][#{key}][#{'prefix'.to_sym}]", val[:prefix], value: val[:prefix] || nil %>
      <% end %>
    </div>
  </div>
<% elsif name == "abbreviation" %>
  <div class="col-md-3 col-sm-3 col-xs-3">
    <div class="title">
      <%= sequence_manager.alias_fields("#{sub_field}_abbreviation").titleize %>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6">
    <div class="val">
      <% if sub_field == 'organisation' %>
        <%= text_field_tag "sequence_manager[organisation_abbreviation]", sequence_manager.organisation_abbreviation || @current_organisation.identifier_prefix, class: "form-control sequence_add_rule", placeholder: "Enter the Rule...", value: sequence_manager.organisation_abbreviation || @current_organisation.identifier_prefix, readonly: true %>
      <% elsif sub_field == 'facility' %>
        <%= text_field_tag "sequence_manager[facility_abbreviation]", @current_facility.abbreviation, class: "form-control sequence_add_rule", value: @current_facility.abbreviation, readonly: true %>
      <% elsif sub_field == 'region' %>
        <%= text_field_tag "sequence_manager[region_abbreviation]", @current_region.try(:abbreviation), class: "form-control sequence_add_rule", value: @current_region.try(:abbreviation), readonly: true %>
      <% elsif sub_field == 'entity_group' %>
        <%= text_field_tag "sequence_manager[entity_group_abbreviation]", @current_entity_group.try(:abbreviation), class: "form-control sequence_add_rule", value: @current_entity_group.try(:abbreviation), readonly: true %>
      <% end %>
    </div>
  </div>
<% elsif name == "module_prefix" %>
  <div class="col-md-3 col-sm-3 col-xs-3">
    <div class="title">
      <%= sequence_manager.alias_fields('module_prefix').titleize %>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6">
    <div class="val">
      <%= text_field_tag "sequence_manager[module_prefix]", sequence_manager.module_prefix, class: "form-control sequence_add_rule", placeholder: "Enter the Rule...", value: sequence_manager.module_prefix %>
    </div>
  </div>
<% elsif name == "has_date" %>
  <div class="col-md-3 col-sm-3 col-xs-3">
    <div class="title">
      <%= sequence_manager.alias_fields('has_date').titleize %>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6">
    <div class="val">
      <%= f.select :date_format, options_for_select(@date_formats, sequence_manager.date_format), {include_blank: "Select Date Format"}, {class: 'form-control has_date', style:'max-height:34px;'} %>
      <label id="sequence_manager_date_format-error" class="error" for="sequence_manager_date_format">Date Format Required</label>
    </div>
  </div>
<% elsif name == "year_format" %>
  <div class="col-md-3 col-sm-3 col-xs-3">
    <div class="title">
      <%= sequence_manager.alias_fields('year_format').titleize %>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6">
    <div class="val">
      <%= f.select :year_format, options_for_select(@year_formats, sequence_manager.year_format), {include_blank: "Select Year Format"}, {class: 'form-control year_format', style:'max-height:34px;'} %>
      <label id="sequence_manager_year_format-error" class="error" for="sequence_manager_year_format">Year Format Required</label>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="ckbox ckbox-primary">
          <%= f.hidden_field :reset_on_newyear, value: false %>
          <%= check_box_tag 'sequence_manager[reset_on_newyear]', true, sequence_manager.try(:reset_on_newyear), id: 'sequence_manager_reset_on_newyear_box', class: 'chk_reset_on_newyear' %>
          <label for="sequence_manager_reset_on_newyear_box">Reset On New Year</label>
        </div>
      </div><br>
      <div class="col-md-12 col-sm-12 col-xs-12 div_reset_month">
        <div class="col-md-4 col-sm-4 col-xs-4"><strong><%= sequence_manager.alias_fields('reset_month') %></strong></div>
        <div class="col-md-8 col-sm-8 col-xs-8">
          <%= f.select :reset_month, options_for_select(@reset_months, sequence_manager.reset_month), {include_blank: "Reset Month"}, {class: 'form-control country', style:'max-height:34px;'} %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="col-md-2 col-sm-2 col-xs-2">
  <div class="action">
    <button class="btn btn-primary btn-xs move_row_up_btn" title="Move Up"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></button>&nbsp;
    <button class="btn btn-primary btn-xs move_row_down_btn" title="Move Down"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></button>&nbsp;
    <button class="btn btn-danger btn-xs remove_entity"><i class="fa fa-trash-alt"></i></button>
  </div>
</div>

<script type="text/javascript">
  move_position();
  remove_rule_div();
  $('.chk_reset_on_newyear').on('click', function(){
    reset_month_div($(this).prop('checked'));
  });
  // $('#sequence_manager_reset_month').on('click', function(){
  //   reset_month_div($('.chk_reset_on_newyear').prop('checked'));
  // });
  reset_month_div($('.chk_reset_on_newyear').prop('checked'));

  $('.year_format').on('change', function(){
    reset_month_div($('.chk_reset_on_newyear').prop('checked'));
  });
</script>