<% admission_list.try(:each) do |admission| %>
  <% patient = @patient_fields.find { |p| p[:id].to_s == admission.patient_id.to_s } %>
  <div class='row no_margin summary_ipd summary_ipd_clickable' data-store-id='<%= @inventory_store.try(:id).to_s %>' data-admission-id='<%= admission.id.to_s %>'>
    <div class='col-sm-6 no_padding text-left patient_name' style="overflow: hidden;white-space: nowrap; text-overflow: ellipsis;" title="<%= admission.patient_name.to_s.upcase %>">
      <% if patient.present? %>
        <span title="<%= patient[:title] %>"><%= patient[:bang] ? "<b><i class='fa fa-exclamation' style='font-size: 14px;color:#FF8735;'></i>&nbsp;</b>".html_safe : "" %></span>
      <% end %>
      <span><b><%= admission.patient_name.upcase %></b></span>
    </div>

    <% if admission.current_state == 'Discharged' %>
      <% date = admission.discharge_date %>
      <% time = admission.discharge_time %>
    <% else %>
      <% date = admission.admission_date %>
      <% time = admission.admission_time %>
    <% end %>

    <div class="col-sm-6 no_padding text-right" style="padding-right: 5%;">
      <span class=""><%= admission.current_state %><b>&nbsp;&nbsp;On&nbsp;&nbsp;</b><%= date.try(:strftime, '%d-%m-%Y') %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= time&.strftime("%I:%M%p") %></span>
    </div>

    <div class="col-sm-6 no_padding text-left" style="padding-right: 5%;">
      <b style='font-size:12px;'>Admitted By :&nbsp;&nbsp; <%= admission.admitting_doctor&.titleize %></b>
    </div>

    <div class="col-sm-6 no_padding text-right" style="padding-right: 5%;">
      <% state = admission.is_tray_created == true ? 'Processed' : 'Un-Processed' %>
      <% if state == 'Processed' %>
        <span class="label label-success"><%= state %></span>
      <% else %>
        <span class="label label-danger"><%= state %></span>
      <% end %>
    </div>
  </div>
<% end %>
