// Window Size
var window_height = $(window).height() - 50
$(".sidebar_area").css('height',window_height)
$(".ipd_main_content").css('height',window_height)

$(window).resize(function() {
  var window_height = $(window).height() - 50
  $(".sidebar_area").css('height',window_height)
  $(".ipd_main_content").css('height',window_height)
})

// To Refresh Admission Management Page
function refresh_ipd_management(active_tab, admission_id, current_date){
  $.ajax({
    type: "GET",
    dataType: "script",
    data: {
      current_date: current_date,
      active_tab: active_tab,
      admission_id: admission_id,
      store_id: "<%= @inventory_store.id %>"
    },
    url: "/ipd_management/filter_index"
  })
}

$(document).ready(function(){

  $(".datepicker-for-btn").datepicker(); 
  $('#ipd-datepicker-inline').datepicker({
    dateFormat: "dd/mm/yy", 
    showOn: "button",
    buttonText: '<i class="fa fa-calendar"></i>',
    onSelect: function (dateText,obj) {
      jQuery.ajax({
        type: "GET",
        dataType: "script",
        data: {
          store_id: "<%= @inventory_store.id %>"
        },
        url: '/ipd_management/filter_index?current_date='+moment(dateText, "DD/MM/YYYY").format('DD-MMMM-YYYY')+'&active_tab=' + $(".tab_active").find(".active").attr('data-tab-id'),
      })
      $.datepicker.setDefaults({"defaultDate": dateText});
    }
  })
  $(".ui-datepicker-trigger").addClass("btn btn-danger calender-btn navbar-btn navbar-btn-calender navbar-btn-hover")

  $("#btn-ipd-backdate").on('click',function(){
    var doctor_id = $("#sidebar_doctors_ipd .active").find('a').attr('data-doctor-id')
    var active_tab = $(".tab_active").find(".active").attr('data-tab-id')
    $.ajax({
      type: "GET",
      dataType: "script",
      data: {
        current_date: "<%= @current_date.yesterday %>",
        store_id: "<%= @inventory_store.id %>",
        active_tab: active_tab
      },
      url: "/ipd_management/filter_index"
    })
  })

  $("#btn-ipd-frontdate").on('click',function(){
    var doctor_id = $("#sidebar_doctors_ipd .active").find('a').attr('data-doctor-id')
    var active_tab = $(".tab_active").find(".active").attr('data-tab-id')
    $.ajax({
      type: "GET",
      dataType: "script",
      data: {
        current_date: "<%= @current_date.tomorrow %>",
        store_id: "<%= @inventory_store.id %>",
        active_tab: active_tab
      },
      url: "/ipd_management/filter_index"
    })
  })

  $("#btn-ipd-today").on('click',function(){
    var doctor_id = $("#sidebar_doctors_ipd .active").find('a').attr('data-doctor-id')
    var active_tab = $(".tab_active").find(".active").attr('data-tab-id')
    $.ajax({
      type: "GET",
      dataType: "script",
      data: {
        current_date: "<%= Date.current %>",
        store_id: "<%= @inventory_store.id %>",
        active_tab: active_tab
      },
      url: "/ipd_management/filter_index"
    })
  })

  $("#btn-ipd-management-refresh").on('click', function(){
    var active_tab = $(".tab_active").find(".active").attr('data-tab-id')
    var admission_id = $(".ipd_today").find('.active').find('.active-ipd').attr('data-prescription-id')
    refresh_ipd_management(active_tab, admission_id, "<%= @current_date %>")
  })

  $("#search_ipd").autocomplete({
    minLength: 3,
    source: function(request, response) {
      $.ajax({
        dataType: "json",
        type : 'get',
        url: '/ipd_management/search_patient',
        //data: {searchpatient: params, remote: "true" },
        data: {
          current_date: "<%= @current_date %>",
          store_id: "<%= @inventory_store.id %>",
          q: $( "#search_ipd").val().replace(/[^\w\s]/gi, '').toLowerCase(),
          filter: $(".search-filter.dropdown-toggle").attr('data-active-filter'),
          type: 'ipd'
        },
        success: function(data) {
          if(data.length == 0){
            $('.empty-result').text('** No Matching Prescription found').css('color','red')
          } else {
            $('.empty-result').text('')
          }
          items = [];
          x = [];
          for (i = 0, len = data.length; i < len; i++) {
              items.push(data[i].fullname);
              x[data[i].fullname] = data[i].id;
          }
          response(data)
        },
        error: function(data) {
        }
      })
    },
    create: function () {
      $(this).data('ui-autocomplete')._renderItem = function (ul, admission) {
      $(ul).css("border","1px solid #000").css("border-top","none").css('max-height','50%').css('overflow','auto')
      return $('<li>')
        .append('<hr style="margin:0 0 5px;padding:0;border-color:#354670;"><a style="color:#428bca"><b><span>' + admission.label + '</span><span class="badge badge-primary pull-right">' + admission.patient_display_id + '</span><br/><span class="">' + admission.mobile_number + '</span><span class="badge badge-warning pull-right">'+ admission.admission_created_on + '</span></b></a>')
        .appendTo(ul);
      }
    },
    select: function( event, ui ) {

      $.ajax({
        type: "GET",
        data: {
          admission_id:  ui.item.admission_id,
          store_id: "<%= @inventory_store.id %>",
          current_date:  "<%= @current_date %>"
        },
        url: "/ipd_management/ipd_details",
      })
    },
  })

  $(".dropdown-options").on('click',function(e){
    e.preventDefault();
    var button_html = $(this).text()[0] + " <span class='caret'></span>"
    $(".search-filter.dropdown-toggle").html(button_html);
    $(".search-filter.dropdown-toggle").attr('data-active-filter', $(this).attr('data-filter-id'));
    $("#search_ipd").val("")
  });
})