<% if @logo %>
    <% image_url = @logo %>
<% else %>
    <% image_url = '/assets/medical.png' %>
<% end %>
<div class="row">
  <% if !@print_settings[0]['customised_letter_head'] %>
    <div style="height:<%= @print_settings[0]['header_height'].to_i %>cm">
    </div>
  <% else %>
    <div class="row table-hg-print">
      <div class="col-md-4 text-left">
        <% if @print_settings[0]['header_location']=="left"%>
          <% text = @print_settings[0]['header']%>
          <%= text.try(:html_safe) %>
        <%end%>
      </div>
      <div class="col-md-4 text-center">
        <% if @print_settings[0]['header_location']=="center"%>
            <% text = @print_settings[0]['header']%>
            <%= text.try(:html_safe) %>
        <%end%>
      </div>
      <div class="col-md-4 text-right">
        <% if @print_settings[0]['header_location']=="right"%>
            <% text = @print_settings[0]['header']%>
            <%= text.try(:html_safe) %>
        <%end%>
      </div>
    </div>
    <div class="row table-hg-print">
      <div class="col-md-6 text-left">
      <% if @print_settings[0]['logo_location']=='left' %>
        <img src="<%= image_url %>" style="max-width:240px;max-height:100px;">
      <% else %>
        <% text  = @print_settings[0]['left'] %>
        <%= text.try(:html_safe) %>
      <% end %>
      </div>
      <div class="col-md-6 text-right" style="text-align:right;">
        <% if @print_settings[0]['logo_location']=='right' %>
          <img src="<%= image_url%>" style="max-width:240px;max-height:100px;">
        <% else %>
          <% text  = @print_settings[0]['right'] %>
          <%= text.try(:html_safe) %>
        <% end %>
      </div>
    </div>
    <% end %>
</div>