<% if !@organisation.customised_letter_head %>
    <div style="border-bottom: 1px solid;border-bottom-color: #ddd;height:<%= @organisation.letter_head_customisations[:header_height] %>cm">

    </div>
<% else %>
    <%= render "print/print_header",:doctor => @invoice.appointment.user %>
<%end%>
<%=render 'invoices/print';%>
<% if @organisation.customised_footer %>
    <div class="invoice-print-footer row" style="margin-bottom: <%=current_user.organisation.letter_head_customisations.footer_height.to_i%>cm">
      <div class="col-md-12" style="text-align: center;width: 100%"><%= current_user.organisation.footer_text %></div>
    </div>
<% end %>
