<% if @direct_stocks.length > 0 %>
  <% @direct_stocks.each do |direct_stock| %>
    <tr id="<%= direct_stock.id%>" class="inventory-list-row">
      <td style="font-size: 10px; color: #17a08c;" class="col-md-3">
        <%= direct_stock.transaction_date %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= direct_stock.transaction_time&.strftime("%I:%M%p") %>
      </td>
      <td class="col-md-3 notes"><b><%= direct_stock.note.try(:capitalize) %></b></td>
      <td class="col-md-2 notes"><b><%= direct_stock.vendor_name.try(:capitalize) %></b></td>
      <td class="col-md-2 total-cost"><b><%= direct_stock.total_cost %></b> </td>
      <td class="col-md-2 status"><b><%= direct_stock.status_text %></b> </td>
    </tr>
  <%end%>
<% else %>
  <tr>
    <td align="center"><strong style="font-size: 20px;">Nothing to Display</strong></td>
  </tr>
<% end %>