<% lots.each do |lot| %>
  <% index = (Time.current.to_f.round(3)*1000).to_i %>
  <%= f.fields_for :items_attributes, lot, :index => index do |builder| %>
    <%= builder.hidden_field :id %>
    <table width="100%" class="stock-opening-transaction-log-item" data-child-index=<%= index %>>
      <tr>
        <%= builder.select :custom_field_tags,lot.custom_field_tags,{include_hidden: false}, {multiple:true, style: "display: none;"} %>

        <td class="col-md-2 font_size">
          <strong><%= lot.description %></strong>
          <%= builder.hidden_field :description,value: lot.description,readonly: true, :class => "item_description modalRequest_input_style", :placeholder=>"Description", :style=>"width:100%;text-align:left" %>
          <%= builder.hidden_field :_destroy,  {value: 0, class: 'form-control destroy-item' } %>
        </td>

        <td class="col-md-1 font_size">
          <%= builder.text_field :stock,readonly: true, :class => "item_quantity modalRequest_input_style", :placeholder=>"Qty", :style=>"width:100%;text-align:left" %>
          <input type="hidden" class="item_max_quantity modalRequest_input_style" placeholder="" style="width:90%;text-align:left" />
        </td>

        <td class="col-md-1 font_size">
          <%= builder.text_field :batch_no,readonly: true, :class => "item_batch modalRequest_input_style", :style=>"width:100%;text-align:left" %>
          <%= builder.hidden_field :self_batched %>
        </td>

        <td class="col-md-1 font_size">
          <%= builder.text_field :expiry,readonly: true, :class => "exp_datepicker item_expiry modalRequest_input_style", :placeholder=>"Expiry", :style=>"width:100%;text-align:left" %>
          <%= builder.hidden_field :expiry_present,readonly: true %>
        </td>

        <%= builder.hidden_field :barcode_id, readonly: true, class: 'item_barcode modalRequest_input_style', style: 'width:100%; text-align:left' %>
        <%= builder.hidden_field :system_generated_barcode %>
        <%= builder.hidden_field :sub_store_id %>
        <%= builder.hidden_field :sub_store_name %>
        <%= builder.hidden_field :model_no, readonly: true, class: 'item_barcode modalRequest_input_style', style: 'width:100%; text-align:left' %>

        <td class="col-md-1 font_size">
          <%= builder.text_field :item_cost_without_tax, class: 'item_barcode modalRequest_input_style item_cost_without_tax', style: 'width:100%; text-align:left', readonly: true %>
        </td>

        <td class="col-md-1 font_size">
          <%= builder.hidden_field :tax_group_id, value: lot.tax_group_id,readonly: true, :class => "item_tax_group_id modalRequest_input_style", :placeholder=>"Tax", :style=>"width:100%;text-align:left" %>
          <div class="tax_fields"></div>
          <%= builder.text_field :tax_rate, class: 'item_barcode modalRequest_input_style', style: 'width:100%; text-align:left', readonly: true %>
          <%= builder.hidden_field :item_taxable_amount_with_disc, :class => "item_taxable_amount_with_disc", :value => '0.0' %>
        </td>

        <td class="col-md-1 font-size">
          <%= lot.tax_inclusive? ? 'YES' : 'NO' %>
          <% builder.hidden_field :tax_inclusive, class: 'item_barcode modalRequest_input_style', style: 'width:100%; text-align:left' %>
        </td>

        <td class="col-md-1 font-size">
          <%= builder.text_field :purchase_tax_amount, class: 'item_barcode modalRequest_input_style purchase_tax_amount', style: 'width:100%; text-align:left', readonly: true %>
        </td>

        <td class="col-md-1 font_size">
          <%= builder.text_field :unit_cost, class: 'item_barcode modalRequest_input_style', style: 'width:100%; text-align:left', readonly: true %>
        </td>

        <td class="col-md-1 font_size">
          <%= builder.text_field :total_cost, readonly: true ,:class => "price_including_tax modalRequest_input_style", :placeholder=>"Total Cost Price", :style=>"width:100%;text-align:left" %>
        </td>

        <td class="col-md-1 font-size text-center">
          <button type="button" class="btn btn-link hg-tooltip delete_empty_item" tabindex="-1" style="padding:0px;" title="Remove From List"><i class="fa fa-trash-alt" style="color:#000;"></i></button>
        </td>
      </tr>
    </table>
  <script>
    <%
      tax_group = TaxGroup.find(lot.tax_group_id)
      tax_rate_details = tax_group.tax_rate_details
                             .collect { |tax_rate| tax_rate.merge(type: TaxRate.find(tax_rate[:_id]).type) }
    %>
    var tax_group = {}
    tax_group['tax_rates'] = <%= raw tax_rate_details.to_json %>
    tax_group['id'] = '<%=tax_group.id%>'
    tax_group['group_rate'] = '<%=tax_group.rate%>'
    tax_group['item_id'] = '<%=lot.item_id.to_s%>'
    tax_breakup['<%= index %>'] = tax_group
  </script>
  <% end %>
<% end %>