<div class="">
  <h3 class="text-center" style="color: #00BFFF"><%= @direct_stock.note %></h3>
  <div class="col-sm-12 mb5">
    <div class="col-sm-3"><b>Status: &nbsp;&nbsp;&nbsp;<%= @direct_stock.status_text %></b></div>
    <div class="col-sm-9">
      <% if @direct_stock.bill_type_bill? %>
        Bill Number: &nbsp;&nbsp;&nbsp; <%= @direct_stock.bill_number %> &nbsp;&nbsp;
        |&nbsp;&nbsp; Bill Date: &nbsp;&nbsp;&nbsp; <%= @direct_stock.bill_date&.strftime("%d/%m/%Y") %>
      <% else %>
        Challan Number: &nbsp;&nbsp;&nbsp; <%= @direct_stock.challan_number %> &nbsp;&nbsp;
        |&nbsp;&nbsp; Challan Date: &nbsp;&nbsp;&nbsp; <%= @direct_stock.challan_date&.strftime("%d/%m/%Y") %>
      <% end %>
    </div>
  </div>
  <div class="col-md-12 mb5">
    <div class="col-sm-4"><b>Transaction ID&nbsp;<%= @direct_stock.direct_stock_display_id %></b></div>
  </div>
  <br>

  <div class="btn-group" style="margin: 10px;">
    <%= link_to print_inventory_transaction_direct_stock_path(@direct_stock, page_size: 'A4'),
          class: "btn btn-xs btn-success", target: :_blank  do %>
      <i class="fa fa-print"></i>&nbsp;Print A4
    <% end %>
    <%= link_to print_inventory_transaction_direct_stock_path(@direct_stock, page_size: 'A5'),
          class: "btn btn-xs btn-success", target: :_blank  do %>
      <i class="fa fa-print"></i>&nbsp;Print A5
    <% end %>
  </div>
  <% if @direct_stock.status_open? %>
    <div class="btn-group" style="margin: 10px;">
      <% if Authorization::PolicyHelper.verification(current_user.id ,"HGP-100-105-101", @direct_stock.user_id) %>
        <%= link_to 'Approve', approve_inventory_transaction_direct_stock_path(@direct_stock), class: "btn btn-xs btn-info", remote: true %>
      <% end %>
      <% if Authorization::PolicyHelper.verification(current_user.id ,"HGP-100-105-102") %>
        <%= link_to edit_inventory_transaction_direct_stock_path(@direct_stock), class: 'btn btn-primary btn-xs', remote: true do %>
          <i class="fa fa-edit"></i> Edit
        <% end %>
      <% end %>
      <% if Authorization::PolicyHelper.verification(current_user.id ,"HGP-100-105-103") %>
        <button class="btn btn-xs btn-danger cancel-stock-opening" data-toggle="modal" data-target="#confirmation-modal" data-id="<%= @direct_stock.id.to_s%>">
          <i class="fa fa-trash-alt"></i> &nbsp; Cancel
        </button>
      <% end %>
    </div>
  <% end %>
  <br><br>

  <%= render '/inventory/transaction/direct_stocks/show_body.html.erb', direct_stock: @direct_stock %>
</div>

<style type="text/css">
  .table-add-item td{
    padding: 5px 5px 0;
  }

  .check_font table tr th {
    padding: 2px 5px;
  }

  .check_font table tr td {
    padding: 2px 5px;
  }

  .check_font {
    font-size: 11px;
  }
</style>
