<div class="row">
  <div class="col-md-8">
    <h4>Tax Settings</h4>
  </div>
  <div class="col-md-4 text-right col_save_gstin">
    <button class="btn btn-primary save_invoice_tax_settings">Save</button>
  </div>
</div>
<div id="invoice_tax_settings" style="border:1px solid #354670;padding:10px;">
  <div class="row mb10">
    <div class="col-md-6">
      <div class="row">
        <% if false || Rails.env == "development" # Temporarily disabling Taxes in OPD/IPD Invoice %>
          <div class="col-md-12">
            <div class="ckbox ckbox-primary">
              <input type="checkbox" name="tax_enabled_opd" id='tax_enabled_opd' class="tax_enabled_opd" <%= "checked='checked'" if @invoice_setting.tax_enabled_opd %>>
              <label for='tax_enabled_opd'><b>Enable Tax in OPD Receipt</b></label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="ckbox ckbox-primary">
              <input type="checkbox" name="tax_enabled_ipd" id='tax_enabled_ipd' class="tax_enabled_ipd" <%= "checked='checked'" if @invoice_setting.tax_enabled_ipd %>>
              <label for='tax_enabled_ipd'><b>Enable Tax in IPD Receipt</b></label>
            </div>
          </div>
        <% end %>
        <div class="col-md-12">
          <div class="ckbox ckbox-primary">
            <input type="checkbox" name="tax_enabled_pharmacy" id='tax_enabled_pharmacy' class="tax_enabled_pharmacy" <%= "checked='checked'" if @invoice_setting.tax_enabled_pharmacy %>>
            <label for='tax_enabled_pharmacy'><b>Enable Tax in Pharmacy Receipt</b></label>
          </div>
        </div>
        <div class="col-md-12">
          <div class="ckbox ckbox-primary">
            <input type="checkbox" name="tax_enabled_optical" id='tax_enabled_optical' class="tax_enabled_optical" <%= "checked='checked'" if @invoice_setting.tax_enabled_optical %>>
            <label for='tax_enabled_optical'><b>Enable Tax in Optical Receipt</b></label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12 mb10">
        <div class="ckbox ckbox-primary">
          <input type="checkbox" name="show_tax_in_print" id='show_tax_in_print' class="show_tax_in_print" <%= "checked='checked'" if @invoice_setting.show_tax_in_print %>>
          <label for='show_tax_in_print'><b>Show Tax in Receipt Print</b></label>
        </div>
        </div>
        <div class="col-md-12">
          <b style="color:#000;">GSTIN / UIN</b>
          <span class="text-muted">(15 digits)</span>
        </div>
        <div class="col-md-6">
          <input type="text" name="gst_indentification_number" id='gst_indentification_number' class="gst_indentification_number form-control p7_10" maxlength="15" value="<%= @invoice_setting.gst_indentification_number %>">
        </div>
      </div>
    </div>
    <!-- <div class="col-md-1">
      <button class="btn btn-primary save_gst_indentification_number">Save</button>    
    </div> -->
  </div>
</div>