<div class="row mb10" style="background:#354670;color:#fff">
  <div class="col-md-12 text-center">
    <h4>Tax Rate</h4>
  </div>
  <% if false %>
    <div class="col-md-5 text-right">
      <%= link_to new_tax_rate_path, data: {remote: true, toggle: 'modal', target: "#invoice-modal"}, class: "btn btn-primary navbar-btn" do %><i class="fa fa-plus"></i> Add Tax<% end %>
      <%= link_to new_tax_group_path, data: {remote: true, toggle: 'modal', target: "#invoice-modal"}, class: "btn btn-primary navbar-btn" do %><i class="fa fa-plus"></i> Add Tax Group<% end %>    
    </div>
  <% end %>
</div>
<div class=" tax-settings-panel">
  <%= render partial: 'tax_settings_panel.html.erb' %>
</div>
<hr style="margin: 5px 0">
<div class="row">
  <div class="col-md-6 tax-rate-panel">
    <%= render partial: 'tax_rates/index.html.erb' %>
  </div>
  <div class="col-md-6 tax-group-panel">
    <%= render partial: 'tax_groups/index.html.erb' %>
  </div>
</div>