<tr class="table-row-procedure" style="font-size:12px;">
  <% if @procedure[:stage] == "P" %>
    <% stage = "Performed" %>
  <% else %>
    <% stage = "Advised" %>
  <% end %>
  <%= hidden_field_tag "case_sheet[procedures][" + @counter + "][order_item_advised_id]", BSON::ObjectId.new.to_s %>
  <%= hidden_field_tag "case_sheet[procedures][" + @counter + "][procedurestage]", stage %>
  <%= hidden_field_tag "case_sheet[procedures][" + @counter + "][procedurename]", @procedure[:name] %>
  <%= hidden_field_tag "case_sheet[procedures][" + @counter + "][procedure_id]", @procedure[:code] %>
  <%= hidden_field_tag "case_sheet[procedures][" + @counter + "][procedure_performed]", @procedure[:procedure_comment] %>
  <%= hidden_field_tag "case_sheet[procedures][" + @counter + "][procedureoriginalside]", @procedure[:side] %>
  <%= hidden_field_tag "case_sheet[procedures][" + @counter + "][procedureside]", @procedure[:side] %>
  <%= hidden_field_tag "case_sheet[procedures][" + @counter + "][procedurefullcode]", @procedure[:code] %>
  <%= hidden_field_tag "case_sheet[procedures][" + @counter + "][procedure_type]", @procedure[:procedure_type] %>
  <!-- Entered Details -->
  <%= hidden_field_tag "case_sheet[procedures][" + @counter + "][entered_by]", @procedure[:entered_by] %>
  <%= hidden_field_tag "case_sheet[procedures][" + @counter + "][entered_by_id]", @procedure[:entered_by_id] %>
  <%= hidden_field_tag "case_sheet[procedures][" + @counter + "][entered_datetime]", @procedure[:entered_datetime] %>
  <%= hidden_field_tag "case_sheet[procedures][" + @counter + "][entered_at_facility]", @procedure[:entered_at_facility] %>
  <%= hidden_field_tag "case_sheet[procedures][" + @counter + "][entered_at_facility_id]", @procedure[:entered_at_facility_id] %>
  <!-- Performed Details -->
  <% if @procedure[:stage] == "P" %>
    <%= hidden_field_tag "case_sheet[procedures][" + @counter + "][performed_by]", @performed_by %>
    <%= hidden_field_tag "case_sheet[procedures][" + @counter + "][performed_by_id]", @procedure[:performed_by_id] %>
    <%= hidden_field_tag "case_sheet[procedures][" + @counter + "][performed_datetime]", @procedure[:performed_datetime] %>
    <%= hidden_field_tag "case_sheet[procedures][" + @counter + "][performed_at_facility]", @procedure[:entered_at_facility] %>
    <%= hidden_field_tag "case_sheet[procedures][" + @counter + "][performed_at_facility_id]", @procedure[:entered_at_facility_id] %>
  <% end %>
  <!-- Comments -->
  <%= hidden_field_tag "case_sheet[procedures][" + @counter + "][procedure_comment]", @procedure[:procedure_comment] %>
  <%= hidden_field_tag "case_sheet[procedures][" + @counter + "][users_comment]", @procedure[:users_comment] %>
  <% if @procedure[:side].to_s == '18944008' %>
    <% side_name = 'R' %>
  <% elsif @procedure[:side].to_s == '8966001' %>
    <% side_name = 'L' %>
  <% else %>
    <% side_name = 'B/E' %>
  <% end %>
  <td style="width:5%;">
    <div class="ckbox ckbox-primary mb5">
      <input type="hidden" name="case_sheet[procedures][<%=@counter%>][flow_in_ipd]" value='true'>
      <button class="btn btn-primary btn-xs btn-remove-procedure" style="padding: 0px 4px;">&times;</button>
    </div>
  </td>
  <td>
    <span><%= @procedure[:name].to_s + ', ' + side_name %></span>
  </td>
  <td>
    <span><%= @procedure[:entered_by] %></span>
  </td>
  <td>
    <span><%= Time.zone.parse(@procedure[:entered_datetime]).strftime("%d/%m/%Y") %></span>
  </td>
  <td>
    <span><%= stage %></span>
  </td>
  <td></td>
</tr>


<% if @speciality_id == '309988001' %>
  <tr class="table-row-procedure-iol thead-fixable" style="">
    <td class="col-md-1 thead-fix">
      <span></span>
    </td>
    <td class="col-md-3 thead-fix">
      <span>IOL Present</span>
    </td>
    <td class="col-md-2 thead-fix">
      <div class="ckbox ckbox-primary mb5">
        <input type="hidden" name="case_sheet[procedures][<%= @counter %>][iol_present]" value='false'>
        <%= check_box_tag "case_sheet[procedures][#{@counter}][iol_present]", true, false, {id: "iol_present_#{@counter}", class: 'iol_present'} %>
        <label for="iol_present_<%= @counter %>"></label>
      </div>
    </td>

    <% iol_item_category_ids = Inventory::Category.where(type: 4, organisation_id: current_user.organisation_id).pluck(:id) %>
    <% iol_items = Inventory::Item.where(:category_id.in => iol_item_category_ids, level: 'organisation').pluck(:description, :id) %>
    <%# if @procedure.iol_present %>
      <%# display_iol = "block" %>
    <%# else %>
      <% display_iol = "none" %>
    <%# end %>
    <td class="col-md-2 thead-fix">
                        <span style="display: <%= display_iol %>" class="iol_inventory_item_span">
                          <%= select_tag "case_sheet[procedures][#{@counter}][iol1_inventory_item_id]", options_for_select(iol_items, @procedure.try(:iol1_inventory_item_id)), { include_blank: 'Select IOL', :class=> "iol1_inventory_item iol_inventory_item", style: "width: 20%!important" } %>
                        </span>
    </td>
    <td class="col-md-2 thead-fix">
                        <span style="display: <%= display_iol %>" class="iol_inventory_item_span">
                          <%= select_tag "case_sheet[procedures][#{@counter}][iol2_inventory_item_id]", options_for_select(iol_items, @procedure.try(:iol2_inventory_item_id)), { include_blank: 'Select IOL', :class=> "iol2_inventory_item iol_inventory_item" } %>
                        </span>
    </td>
    <td class="col-md-2 thead-fix">
                        <span style="display: <%= display_iol %>" class="iol_inventory_item_span">
                          <%= select_tag "case_sheet[procedures][#{@counter}][iol3_inventory_item_id]", options_for_select(iol_items, @procedure.try(:iol3_inventory_item_id)), { include_blank: 'Select IOL', :class=> "iol3_inventory_item iol_inventory_item" } %>
                        </span>
    </td>

  </tr>
<% end %>

<script>
  $(".flow_in_ipd").on("click change", function () {
    if ($(this).is(':checked')){
      // $(".table-row-procedure-iol").show()
      $(this).parents('tr.table-row-procedure').next('.table-row-procedure-iol').show()
    } else {
      $(this).parents('tr.table-row-procedure').next('.table-row-procedure-iol').hide()
      $(this).parents('tr.table-row-procedure').next('.table-row-procedure-iol').find('.iol_present').prop("checked", false)
    }
  }).trigger("change")

  $('.iol_present').on("click change", function () {
    if ($(this).is(':checked')){
      // $(this).parents('.table-row-procedure-iol').find('.iol_inventory_item').show()
      $(this).parents("tr.table-row-procedure-iol").find('.iol_inventory_item_span').show()
    } else {
      $(this).parents("tr.table-row-procedure-iol").find('.iol_inventory_item_span').hide()



      $(this).parents("tr.table-row-procedure-iol").find('.iol_inventory_item').each(function( index ) {
        deselected_select2tag($( this ).attr("name"), $( this ).attr("id"), "Select IOL");
      })
    }
  }).trigger("change")

  function deselected_select2tag(fieldname, input_fieldname,input_text){
    jQuery("#" + input_fieldname).val("");
    jQuery("#select2-" + input_fieldname + "-container").html(input_text);
  }

  $('.iol_inventory_item').select2()
</script>