<div class="col-md-12 diagnosislist mb5">
  <%= hidden_field_tag "case_sheet[diagnoses][#{i}][diagnosisname]", @diagnosis_fullname %>
  <%= hidden_field_tag "case_sheet[diagnoses][#{i}][diagnosisoriginalname]", @diagnosis_originalname %>
  <%= hidden_field_tag "case_sheet[diagnoses][#{i}][icddiagnosiscode]", @icdcode %>
  <%= hidden_field_tag "case_sheet[diagnoses][#{i}][saperatedicddiagnosiscode]", @saperatedicdcode %>
  <%= hidden_field_tag "case_sheet[diagnoses][#{i}][icddiagnosiscodelength]", @icdcode.length %>
  <%= hidden_field_tag "case_sheet[diagnoses][#{i}][icd_type]", @icd_type %>
  <%= hidden_field_tag "case_sheet[diagnoses][#{i}][user_id]", current_user.id %>
  <!-- Entered Details -->
  <%= hidden_field_tag "case_sheet[diagnoses][#{i}][entered_by]", @entered_by %>
  <%= hidden_field_tag "case_sheet[diagnoses][#{i}][entered_by_id]", @entered_by_id %>
  <%= hidden_field_tag "case_sheet[diagnoses][#{i}][entered_datetime]", @entry_datetime %>
  <%= hidden_field_tag "case_sheet[diagnoses][#{i}][entered_at_facility]", current_facility.name %>
  <%= hidden_field_tag "case_sheet[diagnoses][#{i}][entered_at_facility_id]", current_facility.id %>
  <!-- Comments -->
  <%= hidden_field_tag "case_sheet[diagnoses][#{i}][diagnosis_comment]", @diagnosis_comment %>
  <%= hidden_field_tag "case_sheet[diagnoses][#{i}][users_comment]", @users_comment %>
  <span class="ckbox ckbox-primary mb5">
    <input type="hidden" name="case_sheet[diagnoses][<%=i%>][flow_in_ipd]" value='true'>
    <button class="btn btn-primary btn-xs btn-remove-diagnosis" style="padding: 0px 4px;">&times;</button>
  </span>
  <% if @icd_type == 'TranslatedIcdDiagnosis' %>
    <span><b style="color: #333;"><%= @diagnosis_fullname.to_s %> - <%= @icdcode.to_s.upcase.insert(3, '.') %></b></span>
  <% else %>
    <span><b style="color: #333;"><%= @diagnosis_originalname.to_s %> - <%= @icdcode.to_s.upcase.insert(3, '.') %></b></span>
  <% end %>
</div>