<div class="modal-body" style="padding:10px;">
  <div class="row mb5">
    <div class="col-md-12">
      <strong>Contact Group</strong><br>
      <%= f.select(:contact_group_id, @contact_groups.pluck(:name, :id), {}, class: 'form-control contact_group_id', style: 'height:34px;padding:0px;') %>
    </div>
  </div>
  <hr style="margin:10px;">
  <div class="row mb5">
    <div class="col-md-12 mb5">
      <strong>Primary Contact</strong>
    </div>
    <div class="col-md-2">
      <%= f.select(:salutation, [' ', 'Mr.', 'Mrs.', 'Miss', 'Dr.'], {}, class: 'form-control salutation', style: 'height:34px;padding:0px;') %>
    </div>
    <div class="col-md-3" style="width:27.77%;">
      <%= f.text_field :first_name, class: 'form-control first_name p7_10', placeholder: 'First Name' %>
    </div>
    <div class="col-md-3" style="width:27.77%;">
      <%= f.text_field :middle_name, class: 'form-control middle_name p7_10', placeholder: 'Middle Name' %>
    </div>
    <div class="col-md-3" style="width:27.77%;">
      <%= f.text_field :last_name, class: 'form-control last_name p7_10', placeholder: 'Last Name' %>
    </div>
  </div>
  <div class="row mb5">
    <div class="col-md-8">
      <strong>Company Name</strong><br>
      <%= f.text_field :company_name, class: 'form-control p7_10', placeholder: 'Company Name' %>
    </div>
    <div class="col-md-4">
      <strong>Abbreviation</strong><br>
      <%= f.text_field :abbreviation, class: 'form-control p7_10', placeholder: 'Abbreviation', maxlength: '5' %>
    </div>
  </div>
  <div class="row mb5">
    <div class="col-md-8">
      <strong>Display Name</strong> <span style="font-size:12px;color:#f00;">(Required)</span><br>
      <%= f.text_field :display_name, class: 'form-control p7_10', placeholder: 'Display Name' %>
    </div>
    <div class="col-md-4">
      <strong style="color:#fff;"><i class="fa fa-info"></i> Info</strong><br>
      <p style="font-size: 12px;line-height: 1.4;">Name by which Contact will be recognized, searched.</p>
    </div>
  </div>
  <div class="row mb5">
    <div class="col-md-4">
      <strong>Email</strong><br>
      <%= f.text_field :email, class: 'form-control p7_10', placeholder: 'Email' %>
    </div>
    <div class="col-md-4">
      <strong>Mobile Number</strong><br>
      <%= f.text_field :mobile_number, class: 'form-control p7_10', placeholder: 'Mobile', minlength: 10, maxlength: 10, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
    </div>
    <div class="col-md-4">
      <strong>Work Contact</strong><br>
      <%= f.text_field :work_number, class: 'form-control p7_10', placeholder: 'Work Phone', minlength: 10, maxlength: 10, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
    </div>
  </div>
  <div class="row mb5">
    <div class="col-md-12 mb5">
      <strong>Address</strong>
      <a href="" class="clear-pincode" style="display:none;font-size: 10px;margin-top: -7px;">Clear</a>
    </div>
    <div class="col-md-4">
      <%= f.text_field :pincode, class: 'form-control p7_10', placeholder: 'Pincode', id: 'search_pincode', maxlength: 6, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
    </div>
    <div class="col-md-4">
      <%= f.text_field :state, class: 'form-control p7_10', placeholder: 'State', id: 'search_state' %>
    </div>
    <div class="col-md-4">
      <%= f.text_field :city, class: 'form-control p7_10', placeholder: 'City', id: 'search_city' %>
    </div>
  </div>
  <div class="row mb5">
    <div class="col-md-6">
      <%= f.text_field :address_line_1, class: 'form-control p7_10', placeholder: 'Address 1' %>
    </div>
    <div class="col-md-6">
      <%= f.text_field :address_line_2, class: 'form-control p7_10', placeholder: 'Address 2' %>
    </div>
  </div>
  <hr style="margin:10px;">
  <div class="row mb5">
    <div class="col-md-12">
      <strong>Contact Settings</strong>
    </div>
    <% if @current_facility.show_finances %>
      <!-- <div class="col-md-6">
        <div class="ckbox ckbox-primary">
          <%#= f.hidden_field :for_invoice, value: false %>
          <%#= check_box_tag 'facility_contact[for_invoice]', true, @facility_contact.try(:for_invoice), id: 'facility_contact_for_invoice_box' %>
          <label for="facility_contact_for_invoice_box">Show in Receipt</label>
        </div>
      </div> -->
      <div class="col-md-6">
        <div class="ckbox ckbox-primary">
          <%= f.hidden_field :for_expense, value: false %>
          <%= check_box_tag 'facility_contact[for_expense]', true, @facility_contact.try(:for_expense), id: 'facility_contact_for_expense_box' %>
          <label for="facility_contact_for_expense_box">Show in Expense</label>
        </div>
      </div>
    <% else %>
      <%= f.hidden_field :for_invoice, value: false %>
      <%= f.hidden_field :for_expense, value: false %>
    <% end %>
  </div>
</div>
<div class="modal-footer">
  <%= f.submit 'Create Contact', class: 'btn btn-success', data: { 'disable-with': 'Please Wait...' }, onclick: 'contact_new()' %>
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
<style type="text/css">
  .ui-menu-item a.ui-state-focus {
    background-color: #929090;
    color: #fff;
  }
</style>
