<div class="row all-facility-contact-row">
  <% if @facility_contacts.count > 0 %>
    <table class="table">
      <thead>
        <th>Details</th>
        <th class="text-center">Contact</th>
        <th class="text-left">Address</th>
        <th class="text-left">Group</th>
        <th class="text-center">Actions</th>
      </thead>
      <tbody>
        <% @facility_contacts.each do |facility_contact| %>
          <tr class="each-facility-contact-table-row">
            <td>
              <b class="contact_name" style="color:#000;"><%= facility_contact.display_name.to_s %></b>
              <% if facility_contact.first_name.present? || facility_contact.last_name.present? %><br>Name: <%= "#{facility_contact.first_name} #{facility_contact.last_name}" %><% end %>
              <% if facility_contact.company_name.present? %><br>Company: <%= facility_contact.company_name %><% end %>
            </td>
            <td class="text-center">
              <%= facility_contact.work_number.to_s %>
              <%= "/" if facility_contact.work_number.present? && facility_contact.mobile_number.present? %>
              <%= facility_contact.mobile_number.to_s %>
            </td>
            <td>
              <%= (facility_contact.address_line_1 + ',' if facility_contact.address_line_1.present?) || '<span style="opacity:0.4">Address Line 1,</span>'.html_safe %><br>
              <%= (facility_contact.address_line_2 + ',' if facility_contact.address_line_2.present?) || '<span style="opacity:0.4">Address Line 2,</span>'.html_safe %><br>
              <%= (facility_contact.city + ',' if facility_contact.city.present?) || '<span style="opacity:0.4">City, </span>'.html_safe %>
              <%= (facility_contact.state + ' - ' if facility_contact.state.present?) || '<span style="opacity:0.4">State - </span>'.html_safe %>
              <%= (facility_contact.pincode if facility_contact.pincode.present?) || '<span style="opacity:0.4">Pincode</span>'.html_safe %>
            </td>
            <td>
              <% contact_group = @contact_groups_hash.find{ |contact_group| contact_group[:id].to_s == facility_contact.contact_group_id.to_s } %>
              <span class="contact_group"><%= (contact_group[:name] if contact_group.present?) || "-" %></span>
            </td>
            <td class="text-center">
              <%= link_to edit_facility_contact_path(id: facility_contact.id.to_s), method: :get, data: {remote: true, toggle: 'modal', target: "#contact-modal"}, class: "btn btn-info btn-xs edit-btn-facility-contact" do %>Edit<% end %>
              <% if false #unless facility_contact.created_from == "contact" %>
                <%= link_to facility_contact_path(id: facility_contact.id.to_s), method: :delete, data: {confirm: "<b style='color:#000'>This Will Disable Contact - <b style='color:#ff0000'>'" + facility_contact.display_name.to_s + "'</b></b>", :remote => true}, class: "btn btn-danger btn-xs delete-btn-facility-contact" do %>Disable<% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="col-md-12 text-center mt10">
      No Contacts to Show.
    </div>
  <% end %>
</div>