<% if opdrecord.send("#{@flag}_examination_flag") == "1" %>

    <!--counter code-->
    <% examination_counter = 0 %>
    <%romcounter = 0%>
    <% if opdrecord.romsliderrangerightdorsiplantarflexion.length > 0 && opdrecord.romsliderrangerightdorsiplantarflexion != "-20 : 50" %>
        <% examination_counter = examination_counter+1 %>
        <%romcounter = romcounter+1%>

    <% end %>
    <% if opdrecord.romsliderrangeleftdorsiplantarflexion.length > 0 && opdrecord.romsliderrangeleftdorsiplantarflexion != "-20 : 50" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangerightinversioneversion.length > 0 && opdrecord.romsliderrangerightinversioneversion != "-35 : 15" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangeleftinversioneversion.length > 0 && opdrecord.romsliderrangeleftinversioneversion != "-35 : 15" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
        <div class="mb3"></div>
    <% end %>
    <% if opdrecord.r_romdorsiplantarflexion.length > 0 || opdrecord.r_rominversioneversion.length > 0 || opdrecord.l_romdorsiplantarflexion.length > 0 || opdrecord.l_rominversioneversion.length > 0 %>
      <%romcounter = romcounter+1%>
      <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.generalsigns.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.areaaffectedobjective.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.sideobjective.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.location.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.footarches.blank? %>
        <% unless opdrecord.footarches == "Normal" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.skincondition.blank? %>
        <% unless opdrecord.skincondition == "Normal" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.nails.blank? %>
        <% unless opdrecord.nails == "Normal" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.ankleinstability.blank? %>
        <% if opdrecord.ankleinstability == "Yes" %>
            <% examination_counter = examination_counter+1 %>

        <% end %>
    <% end %>
    <% unless opdrecord.nerveentrapment.blank? %>
        <% unless opdrecord.nerveentrapment == "None" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.distalneurovasculardeficit.blank? %>
        <% unless opdrecord.distalneurovasculardeficit == "No" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.othersigns.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.objectivecomments.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.llneurologicexamination.blank? %>
        <% unless opdrecord.llneurologicexamination == "Normal" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.spineexamination.blank? %>
        <% unless opdrecord.spineexamination == "Normal" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.hipexamination.blank? %>
        <% unless opdrecord.hipexamination == "Normal" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.kneeexamination.blank? %>
        <% unless opdrecord.kneeexamination == "Normal" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.lld.blank? %>
        <% unless opdrecord.lld == "Absent" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <!--counter code ends here-->

    <div class="examination mb5" id="examination">
      <%if examination_counter > 0 %>

          <div class="row">
            <strong style="<%= heading_font_size %>">EXAMINATION :</strong>
            <div class="summary-line-border"></div>

          </div>
      <%end%>

      <div class="row">

        <div class="col-mb-12 <%= 'print_text_font_size' if  @print_setting %>" style="<%= text_font_size %>">
          <% unless opdrecord.sideobjective.blank? %>
            <b style="text-decoration: underline;">
              <% if opdrecord.read_attribute(:"sideobjective") == "R" %>
                RIGHT
              <% elsif opdrecord.read_attribute(:"sideobjective") == "L" %>
                LEFT
              <% else %>
                BILATERAL
              <% end %>
          <% else %>
            <b style="text-decoration: underline;">
          <% end %>
          <% unless opdrecord.location.blank? %>
              <%= opdrecord.read_attribute(:"location").to_s.upcase %></b><br>
          <% else %>
            <% unless opdrecord.areaaffectedobjective.blank? %>
              <%= opdrecord.read_attribute(:"areaaffectedobjective").to_s.upcase %></b>
            <% else %>
              </b>
            <% end %>
          <% end %>
          <div class="mb3"></div>
          <% unless opdrecord.generalsigns.blank? %>
            <b>General Signs</b> of <%= opdrecord.read_attribute(:"generalsigns") %><br>
          <% end %>
          <% unless opdrecord.skincondition.blank? %>
            <% unless opdrecord.skincondition == "Normal" %>
              <b>Skin Condition :</b> <%= opdrecord.read_attribute(:"skincondition") %>
            <% end %>
          <% end %>
          <% unless opdrecord.examinationsigns.blank? %>
            <% unless opdrecord.skincondition.blank? %>,<% else %><b>Skin Condition :</b> <% end %> <%= opdrecord.read_attribute(:"examinationsigns") %>
          <% end %>
          <div class="mb3"></div>
          <% unless opdrecord.footarches.blank? %>
            <% unless opdrecord.footarches == "Normal" %>
              <b>Foot arches :</b> <%= opdrecord.read_attribute(:"footarches").split(",").join(", ") %>
            <% end %>
          <% end %>
          <% unless opdrecord.nails.blank? %>
            <% unless opdrecord.footarches.blank? || opdrecord.footarches == "Normal" %>
              |
            <% end %>
            <% unless opdrecord.nails == "Normal" %>
              <b>Nails :</b> <%= opdrecord.read_attribute(:"nails").split(",").join(", ") %>
            <% end %>
          <% end %>
          <div class="mb3"></div>
          <% if romcounter > 0 %>
            <div class="row">
              <table class="table table-bordered">
                <thead class="rom-thead">
                  <tr>
                    <th>ROM</th>
                    <th class="right-row" colspan="2">RIGHT</th>
                    <th class="left-row" colspan="2">LEFT</th>
                  </tr>
                </thead>
                <tbody class="rom-tbody">
                  <% if opdrecord.romsliderrangerightdorsiplantarflexion.length > 0 && (opdrecord.romsliderrangerightdorsiplantarflexion != "-20 : 50" || opdrecord.r_romdorsiplantarflexion.length > 0) || opdrecord.romsliderrangeleftdorsiplantarflexion.length > 0 && (opdrecord.romsliderrangeleftdorsiplantarflexion != "-20 : 50" || opdrecord.l_romdorsiplantarflexion.length > 0) %>
                    <tr>
                      <td>Ankle DF:PF</td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"romsliderrangerightdorsiplantarflexion") if opdrecord.romsliderrangerightdorsiplantarflexion != "-20 : 50" %></td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"r_romdorsiplantarflexion").to_s.split(",").join("<br>").html_safe %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"romsliderrangeleftdorsiplantarflexion") if opdrecord.romsliderrangeleftdorsiplantarflexion != "-20 : 50" %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"l_romdorsiplantarflexion").to_s.split(",").join("<br>").html_safe %></td>
                    </tr>
                  <% end %>
                  <% if opdrecord.romsliderrangerightinversioneversion.length > 0 && (opdrecord.romsliderrangerightinversioneversion != "-35 : 15" || opdrecord.r_rominversioneversion.length > 0) || opdrecord.romsliderrangeleftinversioneversion.length > 0 && (opdrecord.romsliderrangeleftinversioneversion != "-35 : 15" || opdrecord.l_rominversioneversion.length > 0) %>
                    <tr>
                      <td>Ankle I:E</td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"romsliderrangerightinversioneversion") if opdrecord.romsliderrangerightinversioneversion != "-35 : 15" %></td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"r_rominversioneversion").to_s.split(",").join("<br>").html_safe %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"romsliderrangeleftinversioneversion") if opdrecord.romsliderrangeleftinversioneversion != "-35 : 15" %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"l_rominversioneversion").to_s.split(",").join("<br>").html_safe %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <div class="mb3"></div>
          <% end %>
          <% unless opdrecord.ankleinstability.blank? %>
              <% if opdrecord.ankleinstability == "Yes" %>
                  <b>Ankle Instability :</b> Positive test-
                  <%= opdrecord.read_attribute(:"ankleinstabilitytests") %>
                  |

              <% end %>
          <% end %>
          <% unless opdrecord.nerveentrapment.blank? %>
              <% unless opdrecord.nerveentrapment == "None" %>
                  <b>Nerve Entrapment :</b>
                  <%= opdrecord.read_attribute(:"nerveentrapment") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.distalneurovasculardeficit.blank? %>
              <% unless opdrecord.distalneurovasculardeficit == "No" %>
                  <b>Distal Neurovascular Deficit :</b>
                  <%= opdrecord.read_attribute(:"distalneurovasculardeficit") %>
                  <div class="mb3"></div>
              <% end %>
          <% end %>
          <% unless opdrecord.othersigns.blank? %>
              <b>Other Signs :</b>
              <%= opdrecord.read_attribute(:"othersigns") %>
              <div class="mb3"></div>
          <% end %>
          <% unless opdrecord.objectivecomments.blank? %>
              <li>
              <%= opdrecord.read_attribute(:"objectivecomments") %>
              </li>
              <div class="mb3"></div>
          <% end %>
          <% unless opdrecord.llneurologicexamination.blank? %>
              <% unless opdrecord.llneurologicexamination == "Normal" %>
                  <b>L/L Neurologic examination :</b>
                  <%= opdrecord.read_attribute(:"llneurologicexamination") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.spineexamination.blank? %>
              <% unless opdrecord.spineexamination == "Normal" %>
                  <b>Spine examination :</b>
                  <%= opdrecord.read_attribute(:"spineexamination") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.hipexamination.blank? %>
              <% unless opdrecord.hipexamination == "Normal" %>
                  <b>Hip examination :</b>
                  <%= opdrecord.read_attribute(:"hipexamination") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.kneeexamination.blank? %>
              <% unless opdrecord.kneeexamination == "Normal" %>
                  <b>Knee examination :</b>
                  <%= opdrecord.read_attribute(:"kneeexamination") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.lld.blank? %>
              <% unless opdrecord.lld == "Absent" %>
                  <b>LLD :</b>
                  <%= opdrecord.read_attribute(:"lld") %>
                  <div class="mb3"></div>
              <% end %>
          <% end %>

          <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/vitalsigns.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>
          <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/anthropometry.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>

        </div>

      </div>

    </div>
<% end %>

<style type="text/css">
  <% if @print_setting %>
    .print_text_font_size *{
      font-size: inherit!important
    }
  <% else %>
    .rom-thead tr th, .rom-tbody tr td {
      padding: 2px !important;
      text-align: center !important;
      <%if @mail_job == false%>
        <% if params[:action] == "print_opd_record" %>
          font-size: 9px !important;
        <% end %>
      <% end %>
    }
  <% end %>
  <% unless (opdrecord.romsliderrangerightdorsiplantarflexion.length > 0 && (opdrecord.romsliderrangerightdorsiplantarflexion != "-20 : 50" || opdrecord.r_romdorsiplantarflexion.length > 0)) || (opdrecord.romsliderrangerightinversioneversion.length > 0 && (opdrecord.romsliderrangerightinversioneversion != "-35 : 15" || opdrecord.r_rominversioneversion.length > 0)) %>
    .right-row {
      display: none;
    }
  <% end %>
  <% unless (opdrecord.romsliderrangeleftdorsiplantarflexion.length > 0 && (opdrecord.romsliderrangeleftdorsiplantarflexion != "-20 : 50" || opdrecord.l_romdorsiplantarflexion.length > 0)) || (opdrecord.romsliderrangeleftinversioneversion.length > 0 && (opdrecord.romsliderrangeleftinversioneversion != "-35 : 15" || opdrecord.l_rominversioneversion.length > 0)) %>
    .left-row {
      display: none;
    }
  <% end %>
</style>
