<%@mail_job ||= mail_job %>
<% if opdrecord.send("#{@flag}_history_flag") == "1" %>
  <div class="row">
    <strong class="history-title" style="<%= heading_font_size %>">HISTORY</strong>
    <div class="summary-line-border"></div>
  </div>
  <div class="history mb5 <%= 'print_text_font_size' if  @print_setting %>" id="history" style="<%= text_font_size %>">
    <% history_counter = 0 %>
    <% history_finding_1 = "" %>
    <% history_finding_2 = "" %>
    <% history_finding_3 = "" %>
    <% history_finding_4 = "" %>
    <% history_finding_5 = "" %>
    <% history_finding_6 = "" %>
    <% history_finding_7 = "" %>
    <% history_finding_8 = "" %>
    <% history_finding_9 = "" %>
    <% activitylevel = "" %>
    <% professioncomments = "" %>
    <% areaaffected = "" %>
    <% sidesubjective = "" %>
    <% isfollowupvisit = "" %>
    <% generalcomplaints = "" %>
    <% ispostoperativecase = "" %>
    <% surgergyperformedcomments = "" %>
    <% surgergydate = "" %>
    <% chiefcomplaint = "" %>
    <% ulchiefcomplaint = "" %>
    <% llchiefcomplaint = "" %>
    <% onset = "" %>
    <% etiology = "" %>
    <% durationdays = "" %>
    <% durationmonths = "" %>
    <% durationyears = "" %>
    <% difficulty = "" %>
    <% assistance = "" %>
    <% subjectivecomments = "" %>
    <% othercomplaints = "" %>
    <!-- L1 -->
    <% unless opdrecord.isfollowupvisit.blank? %>
      <% unless opdrecord.isfollowupvisit == "No" %>
        <% generalcomplaints = "Follow-up visit. Complaints- #{opdrecord.read_attribute(:"generalcomplaints")}" %>
        <% history_finding_1 = "#{generalcomplaints}" %>
        <% history_counter = history_counter + 1 %>
      <% end %>
    <% end %>
    <!-- L1 Ends -->
    <!-- L2 -->
    <% unless opdrecord.ispostoperativecase.blank? %>
      <% unless opdrecord.ispostoperativecase == "No" %>
        <% if opdrecord.surgergyperformedcomments.length > 0 %>
          <% surgergyperformedcomments = "Post-operative case- #{opdrecord.read_attribute(:"surgergyperformedcomments")}" %>
          <% history_finding_2 = "#{history_finding_2}#{surgergyperformedcomments}" %>
          <% history_counter = history_counter + 1 %>
        <% end %>
        <% if opdrecord.surgergydate.length > 0 %>
          <% surgergydate = " on #{opdrecord.read_attribute(:"surgergydate")}" %>
          <% history_finding_2 = "#{history_finding_2}#{surgergydate}" %>
          <% history_counter = history_counter + 1 %>
        <% end %>
      <% end %>
    <% end %>
    <!-- L3 -->
    <% unless opdrecord.activitylevel.blank? %>
      <% history_finding_3 = "Activity Level: #{opdrecord.read_attribute(:"activitylevel").split(",").join(", ")}" %>
      <% history_counter = history_counter + 1 %>
    <% end %>
    <% if opdrecord.professioncomments.present? %>
      <% if history_finding_3.length > 0 %>
        <% history_finding_3 = "#{history_finding_3} | Profession: #{opdrecord.read_attribute(:"professioncomments").split(",").join(", ")}" %>
      <% else %>
        <% history_finding_3 = "Profession: #{opdrecord.read_attribute(:"professioncomments").split(",").join(", ")}" %>
      <% end %>
      <% history_counter = history_counter + 1 %>
    <% end %>
    <% unless opdrecord.preferredhand.blank? %>
      <% if history_finding_3.length > 0 %>
        <% history_finding_3 = "#{history_finding_3} | Preferred hand: #{opdrecord.read_attribute(:"preferredhand")}" %>
      <% else %>
        <% history_finding_3 = "Preferred hand: #{opdrecord.read_attribute(:"preferredhand")}" %>
      <% end %>
      <% history_counter = history_counter + 1 %>
    <% end %>
    <!-- L3 Ends -->
    <!-- L4 -->
    <% unless opdrecord.sidesubjective.blank? %>
      <% sidesubjective = opdrecord.read_attribute(:"sidesubjective") %>
      <% if sidesubjective == "L" %>
        <% sidesubjective = "Left" %>
      <% elsif sidesubjective == "B/L" %>
        <% sidesubjective = "Bilateral" %>
      <% elsif sidesubjective == "R" %>
        <% sidesubjective = "Right" %>
      <% end %>
      <% history_finding_4 = "#{sidesubjective}" %>
      <% history_counter = history_counter + 1 %>
    <% end %>
    <% unless opdrecord.areaaffected.blank? %>
      <% areaaffected = " #{opdrecord.read_attribute(:"areaaffected")}" %>
      <% history_finding_4 = "#{history_finding_4}#{areaaffected}" %>
      <% history_counter = history_counter + 1 %>
    <% end %>
    <% unless opdrecord.chiefcomplaint.blank? %>
      <!-- cc = chiefcomplaints | lcc = lastchiefcomplaint -->
      <% @cc = opdrecord.read_attribute(:"chiefcomplaint").split(",") %>
      <% @lcc = @cc.pop %>
      <% @cc = @cc.join(", ") %>
      <% if @cc.length > 1 %>
        <% chiefcomplaint = " #{@cc} & #{@lcc}" %>
      <% else %>
        <% chiefcomplaint = " #{@lcc}" %>
      <% end %>
      <% history_finding_4 = "#{history_finding_4}#{chiefcomplaint}" %>
      <% history_counter = history_counter + 1 %>
    <% end %>
    <% if opdrecord.durationdays.length > 0 || opdrecord.durationmonths.length > 0 || opdrecord.durationyears.length > 0 %>
      <% history_finding_4 = "#{history_finding_4} since" %>
    <% end %>
    <% if opdrecord.durationdays.length > 0 %>
      <% durationdays = ActionController::Base.helpers.pluralize(opdrecord.read_attribute(:"durationdays"), 'Day', 'Days') %>
      <% history_finding_4 = "#{history_finding_4} #{durationdays}" %>
      <% history_counter = history_counter + 1 %>
    <% end %>
    <% if opdrecord.durationmonths.length > 0 %>
      <% durationmonths = ActionController::Base.helpers.pluralize(opdrecord.read_attribute(:"durationmonths"), "Month", "Months") %>
      <% history_finding_4 = "#{history_finding_4} #{durationmonths}" %>
      <% history_counter = history_counter + 1 %>
    <% end %>
    <% if opdrecord.durationyears.length > 0 %>
      <% durationyears = ActionController::Base.helpers.pluralize(opdrecord.read_attribute(:"durationyears"), 'Year', 'Years') %>
      <% history_finding_4 = "#{history_finding_4} #{durationyears}" %>
      <% history_counter = history_counter + 1 %>
    <% end %>
    <!-- L4 End -->
    <!-- L5 -->
    <% unless opdrecord.upperlimbcomplaints.blank? %>
      <% unless opdrecord.upperlimbcomplaints == "None" %>
        <% ulchiefcomplaint = "#{opdrecord.read_attribute(:"upperlimbcomplaints").split(",").join(", ")}. " %>
        <% history_finding_5 = "#{ulchiefcomplaint}" %>
        <% history_counter = history_counter + 1 %>
      <% end %>
    <% end %>
    <% unless opdrecord.lowerlimbcomplaints.blank? %>
      <% unless opdrecord.lowerlimbcomplaints == "None" %>
        <% llchiefcomplaint = "#{opdrecord.read_attribute(:"lowerlimbcomplaints").split(",").join(", ")}." %>
        <% history_finding_5 = "#{history_finding_5}#{llchiefcomplaint}" %>
        <% history_counter = history_counter + 1 %>
      <% end %>
    <% end %>
    <!-- L5 Ends -->
    <!-- L6 -->
    <% unless opdrecord.onset.blank? %>
      <% onset = "#{opdrecord.read_attribute(:"onset")}" %>
      <% history_finding_6 = "#{onset} Onset" %>
      <% history_counter = history_counter + 1 %>
    <% end %>
    <% unless opdrecord.etiology.blank? %>
      <% etiology = "#{opdrecord.read_attribute(:"etiology")}" %>
      <% if etiology == "Spontaneous" || etiology == "Degenerative" || etiology == "Degenerate" %>
        <% history_finding_6 = "#{history_finding_6} may be #{etiology}" %>
      <% else %>
        <% history_finding_6 = "#{history_finding_6} following #{etiology}" %>
      <% end %>
      <% history_counter = history_counter + 1 %>
    <% end %>
    <!-- L6 Ends -->
    <!-- L7 -->
    <% unless opdrecord.difficulty.blank? %>
      <% difficulty = "#{opdrecord.read_attribute(:"difficulty").split(",").join(", ")}" %>
      <% history_finding_7 = "Difficulty in #{difficulty}." %>
      <% history_counter = history_counter + 1 %>
    <% end %>
    <% unless opdrecord.assistance.blank? %>
      <% unless opdrecord.assistance == "None" %>
        <% assistance = "#{opdrecord.read_attribute(:"assistance").split(",").join(", ")} needed." %>
        <% history_finding_7 = "#{history_finding_7} #{assistance}" %>
        <% history_counter = history_counter + 1 %>
      <% end %>
    <% end %>
    <% unless opdrecord.subjectivecomments.blank? %>
      <% subjectivecomments = "#{opdrecord.read_attribute(:"subjectivecomments")}" %>
      <% history_finding_7 = "#{history_finding_7} | #{subjectivecomments}" %>
      <% history_counter = history_counter + 1 %>
    <% end %>
    <!-- L7 Ends -->
    <!-- L8 -->
    <% unless opdrecord.othercomplaints.blank? %>
      <% othercomplaints = "#{opdrecord.read_attribute(:"othercomplaints").split(",").join(" | ")}" %>
      <% history_finding_8 = "#{othercomplaints}" %>
      <% history_counter = history_counter + 1 %>
    <% end %>
    <!-- L8 Ends -->

    <% if history_counter > 0 %>
      <div class="row">
        <div class="col-md-12">
          <% if history_finding_1.length > 0 %>
            <%= history_finding_1 %>
            <div class="mb3"></div>
          <% end %>

          <% if history_finding_2.length > 0 %>
            <%= history_finding_2 %>
            <div class="mb3"></div>
          <% end %>

          <% if history_finding_3.length > 0 %>
            <%= history_finding_3 %>
            <div class="mb3"></div>
          <% end %>

          <% if history_finding_4.length > 0 %>
            <%= history_finding_4 %>
            <div class="mb3"></div>
          <% end %>

          <% if history_finding_5.length > 0 %>
            <%= history_finding_5 %>
            <div class="mb3"></div>
          <% end %>

          <% if history_finding_6.length > 0 %>
            <%= history_finding_6 %>
            <div class="mb3"></div>
          <% end %>

          <% if history_finding_7.length > 0 %>
            <%= history_finding_7 %>
            <div class="mb3"></div>
          <% end %>

          <% if history_finding_8.length > 0 %>
            <%= history_finding_8 %>
            <div class="mb3"></div>
          <% end %>
        </div>
      </div>
    <% end %>
     <% if opdrecord.personal_history_records.present?  || opdrecord.allergy_histories.present? || @patient.personal_history_records.present?  || @patient.allergy_histories.present? || @patient.history_comment.present? || opdrecord.history_comment.present? || @patient.others_allergies.present? || opdrecord.others_allergies.present? || opdrecord.other_history.present? || @patient.other_history.present? %>
      <% if @mail_job == false %>
        <% if params[:action] == "view_opd_summary" && opdrecord.created_at.to_date == Date.current %>
          <%= render partial: "templates/common/allergies_view.html.erb", locals: {opdrecord: @patient} %>
        <% elsif params[:action] == "print_opd_record" &&  opdrecord.created_at.to_date == Date.current %>
          <%= render partial: "templates/common/allergies_view.html.erb", locals: {opdrecord: @patient} %>
        <% else %>
          <%= render partial: "templates/common/allergies_view.html.erb", locals: {opdrecord: opdrecord} %>
        <% end %>
      <% elsif @mail_job == true %>
        <% if opdrecord.created_at.to_date == Date.current %>
          <%= render partial: "templates/common/allergies_view.html.erb", locals: {opdrecord: @patient} %>
        <% else %>
          <%= render partial: "templates/common/allergies_view.html.erb", locals: {opdrecord: opdrecord} %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
<%if @mail_record == false%>
  <% if params[:action] == "print_opd_record" %>
    <style type="text/css">
      .history * {
        font-size: 10px;
      }
    </style>
  <% end %>
<% end %>
