<% if opdrecord.send("#{@flag}_examination_flag") == "1" %>
    <!--counter code-->
    <% examination_counter = 0 %>
    <%romcounter = 0%>
    <% unless opdrecord.generalsigns.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.areaaffectedobjective.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.sideobjective.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.gait.blank? %>
        <% unless opdrecord.gait == "Normal" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.skincondition.blank? %>
        <% unless opdrecord.skincondition == "Normal" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.tenderness.blank? %>
        <% unless opdrecord.tenderness == "None" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.gt.blank? %>
        <% unless opdrecord.gt == "Normal" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.deformity.blank? %>
        <% unless opdrecord.deformity == "None" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>

    <% if opdrecord.romsliderrangerightextensionflexion.length > 0 && opdrecord.romsliderrangerightextensionflexion != "-30 : 140" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangeleftextensionflexion.length > 0 && opdrecord.romsliderrangeleftextensionflexion != "-30 : 140" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangerightadductionabduction.length > 0 && opdrecord.romsliderrangerightadductionabduction != "-30 : 45" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangeleftadductionabduction.length > 0 && opdrecord.romsliderrangeleftadductionabduction != "-30 : 45" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangerightirer.length > 0 && opdrecord.romsliderrangerightirer != "-40 : 45" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangeleftirer.length > 0 && opdrecord.romsliderrangeleftirer != "-40 : 45" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.r_romextensionflexion.length > 0 || opdrecord.r_romadductionabduction.length > 0 || opdrecord.r_romirer.length > 0 || opdrecord.l_romextensionflexion.length > 0 || opdrecord.l_romadductionabduction.length > 0 || opdrecord.l_romirer.length > 0 %>
      <%romcounter = romcounter+1%>
      <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.wasting.blank? %>
        <% unless opdrecord.wasting == "None" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.sijointpathology.blank? %>
        <% if opdrecord.sijointpathology == "Yes" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.ankylosingspondylitissigns.blank? %>
        <% if opdrecord.ankylosingspondylitissigns == "Yes" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.distalneurovasculardeficit.blank? %>
        <% unless opdrecord.distalneurovasculardeficit == "Absent" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.othersigns.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.objectivecomments.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>

    <!--counter code ends here-->

    <div class="examination mb5" id="examination">
      <%if examination_counter > 0 %>

          <div class="row">
            <strong style="<%= heading_font_size %>">EXAMINATION :</strong>
            <div class="summary-line-border"></div>

          </div>
      <%end%>

      <div class="row">

        <div class="col-md-12 <%= 'print_text_font_size' if  @print_setting %>" style="<%= text_font_size %>">
          <% unless opdrecord.sideobjective.blank? %>
            <b style="text-decoration: underline;">
              <% if opdrecord.read_attribute(:"sideobjective") == "R" %>
                RIGHT
              <% elsif opdrecord.read_attribute(:"sideobjective") == "L" %>
                LEFT
              <% else %>
                BILATERAL
              <% end %>
          <% else %>
            <b style="text-decoration: underline;">
          <% end %>
          <% unless opdrecord.areaaffectedobjective.blank? %>
            <%= opdrecord.read_attribute(:"areaaffectedobjective").to_s.upcase %></b>
          <% else %>
            </b>
          <% end %>
          <div class="mb3"></div>
          <% unless opdrecord.generalsigns.blank? %>
            <b>General Signs</b> of <%= opdrecord.read_attribute(:"generalsigns") %><br>
          <% end %>
          <% unless opdrecord.skincondition.blank? %>
            <% unless opdrecord.skincondition == "Normal" %>
              <b>Skin Condition :</b> <%= opdrecord.read_attribute(:"skincondition") %>
            <% end %>
          <% end %>
          <% unless opdrecord.examinationsigns.blank? %>
            <% unless opdrecord.skincondition.blank? %>,<% else %><b>Skin Condition :</b> <% end %> <%= opdrecord.read_attribute(:"examinationsigns") %>
          <% end %>
          <div class="mb3"></div>
          <% unless opdrecord.tenderness.blank? %>
            <% unless opdrecord.tenderness == "None" %>
              <b>Tenderness :</b> <%= opdrecord.read_attribute(:"tenderness") %>
            <% end %>
          <% end %>
          <div class="mb3"></div>
          <% unless opdrecord.gait.blank? %>
            <% unless opdrecord.gait == "Normal" %>
              <b>Gait :</b>
              <%= opdrecord.read_attribute(:"gait") %>
            <% end %>
          <% end %>
          <% unless opdrecord.gt.blank? %>
            <% unless opdrecord.gt == "Normal" %>
              <% unless opdrecord.gait.blank? %>| <% end %>
              <b>GT :</b>
              <%= opdrecord.read_attribute(:"gt") %>
            <% end %>
          <% end %>
          <% unless opdrecord.deformity.blank? %>
            <% unless opdrecord.deformity == "None" %>
              <% unless opdrecord.gt.blank? %>| <% end %>
              <b>Deformity :</b>
              <%= opdrecord.read_attribute(:"deformity") %>
            <% end %>
          <% end %>
          <!--  -->
          <div class="mb3"></div>
          <% if romcounter > 0 %>
            <div class="row">
              <table class="table table-bordered">
                <thead class="rom-thead">
                  <tr>
                    <th>ROM</th>
                    <th class="right-row" colspan="2">RIGHT</th>
                    <th class="left-row" colspan="2">LEFT</th>
                  </tr>
                </thead>
                <tbody class="rom-tbody">
                  <% if opdrecord.romsliderrangerightextensionflexion.length > 0 && (opdrecord.romsliderrangerightextensionflexion != "-30 : 140" || opdrecord.r_romextensionflexion.length > 0) || opdrecord.romsliderrangeleftextensionflexion.length > 0 && (opdrecord.romsliderrangeleftextensionflexion != "-30 : 140" || opdrecord.l_romextensionflexion.length > 0) %>
                    <tr>
                      <td>Hip E:F</td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"romsliderrangerightextensionflexion") if opdrecord.romsliderrangerightextensionflexion != "-30 : 140" %></td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"r_romextensionflexion").to_s.split(",").join("<br>").html_safe %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"romsliderrangeleftextensionflexion") if opdrecord.romsliderrangeleftextensionflexion != "-30 : 140" %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"l_romextensionflexion").to_s.split(",").join("<br>").html_safe %></td>
                    </tr>
                  <% end %>
                  <% if opdrecord.romsliderrangerightadductionabduction.length > 0 && (opdrecord.romsliderrangerightadductionabduction != "-30 : 45" || opdrecord.r_romadductionabduction.length > 0) || opdrecord.romsliderrangeleftadductionabduction.length > 0 && (opdrecord.romsliderrangeleftadductionabduction != "-30 : 45" || opdrecord.l_romadductionabduction.length > 0) %>
                    <tr>
                      <td>Hip AD:AB</td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"romsliderrangerightadductionabduction") if opdrecord.romsliderrangerightadductionabduction != "-30 : 45" %></td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"r_romadductionabduction").to_s.split(",").join("<br>").html_safe %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"romsliderrangeleftadductionabduction") if opdrecord.romsliderrangeleftadductionabduction != "-30 : 45" %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"l_romadductionabduction").to_s.split(",").join("<br>").html_safe %></td>
                    </tr>
                  <% end %>
                  <% if opdrecord.romsliderrangerightirer.length > 0 && (opdrecord.romsliderrangerightirer != "-40 : 45" || opdrecord.r_romirer.length > 0) || opdrecord.romsliderrangeleftirer.length > 0 && (opdrecord.romsliderrangeleftirer != "-40 : 45" || opdrecord.l_romirer.length > 0) %>
                    <tr>
                      <td>Hip IR:ER</td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"romsliderrangerightirer") if opdrecord.romsliderrangerightirer != "-40 : 45" %></td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"r_romirer").to_s.split(",").join("<br>").html_safe %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"romsliderrangeleftirer") if opdrecord.romsliderrangeleftirer != "-40 : 45" %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"l_romirer").to_s.split(",").join("<br>").html_safe %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <div class="mb3"></div>
          <% end %>
          <!--  -->
          <% unless opdrecord.wasting.blank? %>
              <% unless opdrecord.wasting == "None" %>
                  <b>Wasting :</b>
                  <%= opdrecord.read_attribute(:"wasting") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.sijointpathology.blank? %>
              <% if opdrecord.sijointpathology == "Yes" %>
                  <b>SI joint pathology :</b> Positive test-
                  <%= opdrecord.read_attribute(:"sijointpathologytests") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.ankylosingspondylitissigns.blank? %>
              <% if opdrecord.ankylosingspondylitissigns == "Yes" %>
                  <b>Ankylosing Spondylitis signs :</b>Abnormal test -
                  <%= opdrecord.read_attribute(:"ankylosingspondylitissignstests") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.distalneurovasculardeficit.blank? %>
              <% unless opdrecord.distalneurovasculardeficit == "Absent" %>
                  <b>Distal Neurovascular Deficit :</b>
                  <%= opdrecord.read_attribute(:"distalneurovasculardeficit") %>
                  <div class="mb3"></div>
              <% end %>
          <% end %>
          <% unless opdrecord.othersigns.blank? %>
              <b>Other Signs :</b>
              <%= opdrecord.read_attribute(:"othersigns") %>
              <div class="mb3"></div>
          <% end %>
          <% unless opdrecord.objectivecomments.blank? %>
              <li>
              <%= opdrecord.read_attribute(:"objectivecomments") %>
              </li>
              <div class="mb3"></div>
          <% end %>

          <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/vitalsigns.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>
          <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/anthropometry.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>

        </div>

      </div>

    </div>
<% end %>

<style type="text/css">
  <% if @print_setting %>
    .print_text_font_size *{
      font-size: inherit!important
    }
  <% else %>  
    .rom-thead tr th, .rom-tbody tr td {
      padding: 2px !important;
      text-align: center !important;
      <%if @mail_job == false%>
        <% if params[:action] == "print_opd_record" %>
          font-size: 9px !important;
        <% end %>
      <% end %>
    }
  <% end %>
  <% unless opdrecord.romsliderrangerightextensionflexion.length > 0 && (opdrecord.romsliderrangerightextensionflexion != "-30 : 140" || opdrecord.r_romextensionflexion.length > 0) || opdrecord.romsliderrangerightadductionabduction.length > 0 && (opdrecord.romsliderrangerightadductionabduction != "-30 : 45" || opdrecord.r_romadductionabduction.length > 0) || opdrecord.romsliderrangerightirer.length > 0 && (opdrecord.romsliderrangerightirer != "-40 : 45" || opdrecord.r_romirer.length > 0) %>
    .right-row {
      display: none;
    }
  <% end %>
  <% unless opdrecord.romsliderrangeleftextensionflexion.length > 0 && (opdrecord.romsliderrangeleftextensionflexion != "-30 : 140" || opdrecord.l_romextensionflexion.length > 0) || opdrecord.romsliderrangeleftadductionabduction.length > 0 && (opdrecord.romsliderrangeleftadductionabduction != "-30 : 45" || opdrecord.l_romadductionabduction.length > 0) || opdrecord.romsliderrangeleftirer.length > 0 && (opdrecord.romsliderrangeleftirer != "-40 : 45" || opdrecord.l_romirer.length > 0) %>
    .left-row {
      display: none;
    }
  <% end %>
</style>
