<% mail_job ||= @mail_job %>
<% if opdrecord.send("#{@flag}_advice_flag") == "1" %>
    <div class="advice mb5 <%= 'print_text_font_size' if  @print_setting %>" id="advice" style="<%= text_font_size %>">
	 <% if opdrecord.has_advice? || opdrecord.has_inter_facility_referral? || opdrecord.has_intra_facility_referral? || opdrecord.has_outside_organisation_referral?%>

      <% advice_counter = 0 %>
      <% limbelevation_content = "" %>
      <% dressing_content = "" %>
      <% immobilizationsupport_content = "" %>
      <% physicalexercise_content = "" %>
      <% weightbearing_content = "" %>
      <% aid_content = "" %>
      <% aidsupport_content = "" %>
      <% physiotherapy_content = "" %>
      <% physiotherapyadvicecommentbox_content = "" %>
      <% otherprecautionscommentbox_content = "" %>
      <% otherreferencecommentbox_content = advice.read_attribute(:"otherreferencecommentbox") %>
      <% opdfollowuptimeframe_content = OpdRecordsHelper.get_label_for_opd_followup_timeframe(opdrecord.advice.opdfollowuptimeframe) %>

      <% referral_counter = 0 %>

      <% if opdrecord.has_inter_facility_referral? || opdrecord.has_intra_facility_referral? || opdrecord.has_outside_organisation_referral?%>
          <% referral_counter = referral_counter + 1 %>
          <% advice_counter = advice_counter + 1 %>
      <%end%>

      <% unless advice.limbelevation.blank? %>
          <% limbelevation_content = advice.read_attribute(:"limbelevation") %>
          <% advice_counter = advice_counter + 1 %>
      <% end %>

      <% unless advice.dressing.blank? %>
          <% dressing_content = advice.read_attribute(:"dressing") %>
          <% advice_counter = advice_counter + 1 %>
      <% end %>

      <% unless advice.immobilizationsupport.blank? %>
          <% unless advice.immobilizationsupport == "None" %>
              <% immobilizationsupport_content =  advice.read_attribute(:"immobilizationsupport") %>
              <% spine_content =  advice.read_attribute(:"splintbracespine") %>
              <% cast_content =  advice.read_attribute(:"cast") %>
              <% splint_content =  advice.read_attribute(:"immobilizationsplint") %>
              <% advice_counter = advice_counter + 1 %>
          <% end %>
      <% end %>

      <% unless advice.physicalexercise.blank? %>
          <% physicalexercise_content = advice.read_attribute(:"physicalexercise") %>
          <% advice_counter = advice_counter + 1 %>
      <% end %>

      <% unless advice.weightbearing.blank? %>
          <% weightbearing_content = advice.read_attribute(:"weightbearing") %>
          <% advice_counter = advice_counter + 1 %>
      <% end %>

      <% unless advice.aid.blank? %>
          <% unless advice.aid == "None" %>
              <% aid_content = advice.read_attribute(:"aid") %>
              <% advice_counter = advice_counter + 1 %>
          <% end %>
      <% end %>

      <% unless advice.aidsupport.blank? %>
          <% aidsupport_content = advice.read_attribute(:"aidsupport") %>
          <% advice_counter = advice_counter + 1 %>
      <% end %>

      <% unless advice.physiotherapy.blank? %>
          <% if advice.physiotherapy == "Yes" %>
              <% physiotherapy_content = advice.read_attribute(:"physiotherapyadvice") %>
              <% advice_counter = advice_counter + 1 %>
              <% if advice.physiotherapyadvicecommentbox.length > 0 %>
                  <% physiotherapyadvicecommentbox_content = advice.read_attribute(:"physiotherapyadvicecommentbox") %>
                  <% advice_counter = advice_counter + 1 %>
              <% end %>
          <% end %>
      <% end %>

      <% if advice.otherprecautionscommentbox.length > 0 %>
          <% otherprecautionscommentbox_content = advice.read_attribute(:"otherprecautionscommentbox") %>
          <% advice_counter = advice_counter + 1 %>
      <% end %>

      <% if advice.otherreferencecommentbox.length > 0 %>
          <% otherreferencecommentbox_content = advice.read_attribute(:"otherreferencecommentbox") %>
          <% advice_counter = advice_counter + 1 %>
      <% end %>

      <% if advice.opdfollowuptimeframe.length > 0 %>
          <% opdfollowuptimeframe_content = OpdRecordsHelper.get_label_for_opd_followup_timeframe(opdrecord.advice.opdfollowuptimeframe) %>
          <% advice_counter = advice_counter + 1 %>
      <% end %>

      <% chk_mgt_plan = (mail_job == false && params[:action] != 'print_opd_record' && opdrecord.management_personal_cmt.present?) %>

      <% if advice_counter > 0 || opdrecord.advice.read_attribute(:opdfollowupdate).present? || opdrecord.advicemanagementplan.present? || chk_mgt_plan %>
          <div class="row">
            <strong>ADVICE</strong>
            <div class="summary-line-border"></div>
          </div>
      <% end %>

      <% if advice_counter > 0 %>
          <div class="row">
            <div class="col-md-12">

              <% unless advice.limbelevation.blank? %>
                  <%= limbelevation_content %>
                  <div class="mb3"></div>
              <% end %>

              <% unless advice.dressing.blank? %>
                   <%= dressing_content %>
                  <div class="mb3"></div>
              <% end %>

              <% unless advice.immobilizationsupport.blank? %>
                  <% unless advice.immobilizationsupport == "None" %>
                       <%= immobilizationsupport_content%>
                  <% end %>
                  <% if advice.immobilizationsupport == "Cast" %>
                      :<%= cast_content%>
                      <div class="mb3"></div>
                  <% end %>
                  <% if advice.immobilizationsupport == "Slab" %>
                      :<%= splint_content%>
                      <div class="mb3"></div>
                  <% end %>
                  <% if advice.immobilizationsupport == "Splint-Brace" %>
                      :<%= spine_content%>
                      <div class="mb3"></div>
                  <% end %>

              <% end %>

              <% unless advice.physicalexercise.blank? %>
                 <%= physicalexercise_content %>
                  <div class="mb3"></div>
              <% end %>

              <% unless advice.weightbearing.blank? %>
                  Weight Bearing : <%= weightbearing_content %>
                  <div class="mb3"></div>
              <% end %>

              <% unless advice.aid.blank? %>
                  <% unless advice.aid == "None" %>
                      Aid : <%= aid_content %>
                      <div class="mb3"></div>
                  <% end %>
              <% end %>

              <% unless advice.aidsupport.blank? %>
                  Aid Support : <%= aidsupport_content %>
                  <div class="mb3"></div>
              <% end %>

              <% unless advice.physiotherapy.blank? %>
                  <% if advice.physiotherapy == "Yes" %>
                      Physiotherapy : <%= physiotherapy_content %>
                      <div class="mb3"></div>
                      <% if advice.physiotherapyadvicecommentbox.length > 0 %>
                          <%= physiotherapyadvicecommentbox_content %>
                          <div class="mb3"></div>
                      <% end %>
                  <% end %>
              <% end %>

              <% if advice.otherprecautionscommentbox.length > 0 %>
                  <%= otherprecautionscommentbox_content %>
                  <div class="mb3"></div>
              <% end %>

              <% if advice.otherreferencecommentbox.length > 0 %>
                  <%= otherreferencecommentbox_content %>
                  <div class="mb3"></div>
              <% end %>

            </div>
          </div>
      <% end %>

          <div class="col-md-12">
            <% if referral_counter > 0 %>
                <div class="col-md-2" style="margin: 0px; padding: 0px"><strong>For Referral : </strong></div>
            <%end%>
            <div class="col-md-10">
              <% if opdrecord.has_inter_facility_referral?%>
                  <% opdrecord.inter_facility_referral.each_with_index do |elem, i| %>
                      <div><div style="display: inline" >- Visit <b>Dr. <%= User.find_by(id: elem.to_user).try(:fullname).try(:upcase) %></b> at <b><%= Facility.find(elem.to_facility).name.titlecase %></b> on <b><%= "#{Date.strptime("#{elem.read_attribute(:referraldate)}", "%Y-%m-%d").strftime('%a %b %d, %Y')}" %></b> at <b><%= "#{Time.strptime("#{elem.referraltime}", "%Y-%m-%d %H:%M:%S").strftime("%I:%M %p")}" %></b></div></div>
                      <%if elem.referralnote.present?%>
                        <div>Note:</div>
                          <span style="white-space: pre-line"><%= elem.referralnote %></span>
                      <%end%>
                  <%end%>
              <%end%>

              <% if opdrecord.has_intra_facility_referral?%>
                  <% opdrecord.intra_facility_referral.each_with_index do |elem, i| %>
                      <div><div style="display: inline" >- Visit <b>Dr. <%= User.find_by(id: elem.to_user).try(:fullname).try(:upcase) %></b> at <b><%= Facility.find(elem.facility_id).name.titlecase %></b> on <b><%= "#{Date.strptime("#{elem.read_attribute(:referraldate)}", "%Y-%m-%d").strftime('%a %b %d, %Y')}" %></b> at <b><%= "#{Time.strptime("#{elem.referraltime}", "%Y-%m-%d %H:%M:%S").strftime("%I:%M %p")}" %></b></div></div>
                      <%if elem.referralnote.present?%>
                        <div>Note:</div>
                          <span style="white-space: pre-line"><%= elem.referralnote %></span>
                      <%end%>
                  <%end%>
              <%end%>

              <% if opdrecord.has_outside_organisation_referral?%>
                  <% opdrecord.outside_organisation_referral.each_with_index do |elem, i| %>
                      <div><div style="display: inline" >- Visit <b>Dr. <%=elem.referred_doctor_name.upcase%></b> at <b><%= elem.referred_facility_name.titlecase %></b> on <b><%= "#{Date.strptime("#{elem.read_attribute(:referraldate)}", "%Y-%m-%d").strftime('%a %b %d, %Y')}" %></b></div></div>
                      <%if elem.referralnote.present?%>
                        <div>Note:</div>
                          <span style="white-space: pre-line"><%= elem.referralnote %></span>
                      <%end%>
                  <%end%>
              <%end%>
            </div>
          </div>

          <% if opdrecord.advicemanagementplan.present? %>
          <div class="row">
            <div class="col-md-12">
              <strong>Management Plan : </strong>
            </div>
            <span style="white-space: pre-line"><%= opdrecord.advicemanagementplan %></span>
          </div>
        <% end %>

        <% if opdrecord.advice.opdfollowuptimeframe.length > 0 || opdrecord.advice.read_attribute(:opdfollowupdate).present? %>
        <div class="col-md-12 mb5">
          <div class="col-md-2" style="margin: 0px; padding: 0px"> <strong>For Followup : </strong></div>
          <div class="col-md-10">
            <% if opdrecord.advice.read_attribute(:opdfollowupdate).present?  %>
                - Visit <b> Dr. <%= User.find_by(:id=> @appointment.consultant_id).fullname.upcase %> </b> <%if User.find_by(:id=> opdrecord.advice.appointment_doctor).facilities.all.count>1%><%if opdrecord.advice.appointment_facility.present?%> at <b><%=Facility.find(opdrecord.advice.appointment_facility).try(:name).titlecase %></b><%end%><%end%> on
                  <b><%= Date.parse("#{opdrecord.advice.read_attribute(:opdfollowupdate)}").strftime('%a %b %d, %Y') %></b> at
                  <b><%= Time.zone.parse("#{opdrecord.advice.read_attribute(:opdfollowuptime)}").strftime("%I:%M %p") rescue nil %></b>
            <% else %>
                - Visit <b> Dr. <%= User.find_by(:id=> opdrecord.advice.appointment_doctor).fullname.upcase %> </b> <%= OpdRecordsHelper.get_label_for_opd_followup_timeframe(opdrecord.advice.opdfollowuptimeframe) %><%if User.find_by(:id=> opdrecord.advice.appointment_doctor).facilities.all.count>1%><%if opdrecord.advice.appointment_facility.present?%> at <%=Facility.find(opdrecord.advice.appointment_facility).try(:name)%><%end%><%end%>
            <% end %>
          </div>
        </div>
      <% end %>

        <% if chk_mgt_plan %>
          <div class="row">
            <div class="col-md-12">
              <strong>Personal Comments: </strong><br>
              <span style="white-space: pre-line"><%= opdrecord.management_personal_cmt %></span>
            </div>
          </div>
        <% end %>
	 <% end %>

    </div>
<% end %>
<%if mail_job == false%>
  <% if params[:action] == "print_opd_record" %>
    <style type="text/css">
      .advice * {
        font-size: 10px;
      }
    </style>
  <% end %>
<%else%>
  <style type="text/css">
    .advice * {
      font-size: 10px;
    }
  </style>
<%end%>
