<% if opdrecord.send("#{@flag}_examination_flag") == "1" %>
    <!--counter code-->
    <%romcounter = 0%>
    <% examination_counter = 0 %>
    <% if opdrecord.romsliderrangerightextensionflexion.length > 0 && opdrecord.romsliderrangerightextensionflexion != "-60 : 180" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangeleftextensionflexion.length > 0 && opdrecord.romsliderrangeleftextensionflexion != "-60 : 180" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>

    <% if opdrecord.romsliderrangerightabduction.length > 0 && opdrecord.romsliderrangerightabduction != "0 : 180" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangeleftabduction.length > 0 && opdrecord.romsliderrangeleftabduction != "0 : 180" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>

    <% if opdrecord.romsliderrangerightexternalrotation.length > 0 && opdrecord.romsliderrangerightexternalrotation != "0 : 90" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangeleftexternalrotation.length > 0 && opdrecord.romsliderrangeleftexternalrotation != "0 : 90" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangerightinternalrotation.length > 0 && opdrecord.romsliderrangerightinternalrotation != "0 : 70" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>

    <% end %>
    <% if opdrecord.romsliderrangeleftinternalrotation.length > 0 && opdrecord.romsliderrangeleftinternalrotation != "0 : 70" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>

    <% end %>
    <% if opdrecord.r_romextensionflexion.length > 0 || opdrecord.r_romabduction.length > 0 || opdrecord.r_romexternalrotation.length > 0 || opdrecord.r_rominternalrotation.length > 0 || opdrecord.l_romextensionflexion.length > 0 || opdrecord.l_romabduction.length > 0 || opdrecord.l_romexternalrotation.length > 0 || opdrecord.l_rominternalrotation.length > 0 %>
      <%romcounter = romcounter+1%>
      <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.generalsigns.blank? %>
        <% examination_counter = examination_counter+1 %>

    <% end %>
    <% unless opdrecord.areaaffectedobjective.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.sideobjective.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.skincondition.blank? %>
        <% unless opdrecord.skincondition == "Normal" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.tenderness.blank? %>
        <% unless opdrecord.tenderness == "None" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.impingement.blank? %>
        <% unless opdrecord.impingement == "No" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.cuffsigns.blank? %>
        <% unless opdrecord.cuffsigns == "No" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.bicepsslapsigns.blank? %>
        <% unless opdrecord.bicepsslapsigns == "No" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.instability.blank? %>
        <% unless opdrecord.instability == "No" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.weakness.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.distalneurovasculardeficit.blank? %>
        <% unless opdrecord.distalneurovasculardeficit == "Absent" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.sensorydeficit.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.motordeficit.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.vascualardeficit.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.othersigns.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.objectivecomments.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.preferredhandobjective.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>

    <!--counter code ends here-->

    <div class="examination mb5" id="examination">
      <%if examination_counter > 0 %>

          <div class="row">
            <strong style="<%= heading_font_size %>">EXAMINATION :</strong>
            <div class="summary-line-border"></div>

          </div>
      <%end%>
      <div class="row">
        <div class="col-md-12 <%= 'print_text_font_size' if  @print_setting %>" style="<%= text_font_size %>">
          <% unless opdrecord.sideobjective.blank? %>
            <b style="text-decoration: underline;">
              <% if opdrecord.read_attribute(:"sideobjective") == "R" %>
                RIGHT
              <% elsif opdrecord.read_attribute(:"sideobjective") == "L" %>
                LEFT
              <% else %>
                BILATERAL
              <% end %>
          <% else %>
            <b style="text-decoration: underline;">
          <% end %>
          <% unless opdrecord.areaaffectedobjective.blank? %>
            <%= opdrecord.read_attribute(:"areaaffectedobjective").to_s.upcase %></b>
          <% else %>
            </b>
          <% end %>
          <div class="mb3"></div>
          <% unless opdrecord.generalsigns.blank? %>
            <b>General Signs</b> of <%= opdrecord.read_attribute(:"generalsigns") %>
          <% end %>
          <% unless opdrecord.preferredhandobjective.blank? %>
            <% unless opdrecord.generalsigns.blank? %> | <% end %>
            <b>Prefered Hand :</b> <%= opdrecord.read_attribute(:"preferredhandobjective") %><br>
          <% end %>
          <% unless opdrecord.skincondition.blank? %>
            <% unless opdrecord.skincondition == "Normal" %>
              <b>Skin Condition :</b> <%= opdrecord.read_attribute(:"skincondition") %>
            <% end %>
          <% end %>
          <% unless opdrecord.examinationsigns.blank? %>
            <% unless opdrecord.skincondition.blank? %>,<% else %><b>Skin Condition :</b> <% end %> <%= opdrecord.read_attribute(:"examinationsigns") %>
          <% end %>
          <div class="mb3"></div>
          <% unless opdrecord.tenderness.blank? %>
            <% unless opdrecord.tenderness == "None" %>
              <b>Tenderness :</b> <%= opdrecord.read_attribute(:"tenderness") %>
            <% end %>
          <% end %>
          <div class="mb3"></div>
          <% if romcounter > 0 %>
            <div class="row">
              <table class="table table-bordered">
                <thead class="rom-thead">
                  <tr>
                    <th>ROM</th>
                    <th class="right-row" colspan="2">RIGHT</th>
                    <th class="left-row" colspan="2">LEFT</th>
                  </tr>
                </thead>
                <tbody class="rom-tbody">
                  <% if opdrecord.romsliderrangerightextensionflexion.length > 0 && (opdrecord.romsliderrangerightextensionflexion != "-60 : 180" || opdrecord.r_romextensionflexion.length > 0) || opdrecord.romsliderrangeleftextensionflexion.length > 0 && (opdrecord.romsliderrangeleftextensionflexion != "-60 : 180" || opdrecord.l_romextensionflexion.length > 0) %>
                    <tr>
                      <td>Shoulder E:F</td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"romsliderrangerightextensionflexion") if opdrecord.romsliderrangerightextensionflexion != "-60 : 180" %></td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"r_romextensionflexion").to_s.split(",").join("<br>").html_safe %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"romsliderrangeleftextensionflexion") if opdrecord.romsliderrangeleftextensionflexion != "-60 : 180" %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"l_romextensionflexion").to_s.split(",").join("<br>").html_safe %></td>
                    </tr>
                  <% end %>
                  <% if opdrecord.romsliderrangerightabduction.length > 0 && (opdrecord.romsliderrangerightabduction != "0 : 180" || opdrecord.r_romabduction.length > 0) || opdrecord.romsliderrangeleftabduction.length > 0 && (opdrecord.romsliderrangeleftabduction != "0 : 180" || opdrecord.l_romabduction.length > 0) %>
                    <tr>
                      <td>Shoulder AB</td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"romsliderrangerightabduction") if opdrecord.romsliderrangerightabduction != "0 : 180" %></td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"r_romabduction").to_s.split(",").join("<br>").html_safe %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"romsliderrangeleftabduction") if opdrecord.romsliderrangeleftabduction != "0 : 180" %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"l_romabduction").to_s.split(",").join("<br>").html_safe %></td>
                    </tr>
                  <% end %>
                  <% if opdrecord.romsliderrangerightexternalrotation.length > 0 && (opdrecord.romsliderrangerightexternalrotation != "0 : 90" || opdrecord.r_romexternalrotation.length > 0) || opdrecord.romsliderrangeleftexternalrotation.length > 0 && (opdrecord.romsliderrangeleftexternalrotation != "0 : 90" || opdrecord.l_romexternalrotation.length > 0) %>
                    <tr>
                      <td>Shoulder ER</td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"romsliderrangerightexternalrotation") if opdrecord.romsliderrangerightexternalrotation != "0 : 90" %></td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"r_romexternalrotation").to_s.split(",").join("<br>").html_safe %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"romsliderrangeleftexternalrotation") if opdrecord.romsliderrangeleftexternalrotation != "0 : 90" %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"l_romexternalrotation").to_s.split(",").join("<br>").html_safe %></td>
                    </tr>
                  <% end %>
                  <% if opdrecord.romsliderrangerightinternalrotation.length > 0 && (opdrecord.romsliderrangerightinternalrotation != "0 : 70" || opdrecord.r_rominternalrotation.length > 0) || opdrecord.romsliderrangeleftinternalrotation.length > 0 && (opdrecord.romsliderrangeleftinternalrotation != "0 : 70" || opdrecord.l_rominternalrotation.length > 0) %>
                    <tr>
                      <td>Shoulder IR</td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"romsliderrangerightinternalrotation") if opdrecord.romsliderrangerightinternalrotation != "0 : 70" %></td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"r_rominternalrotation").to_s.split(",").join("<br>").html_safe %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"romsliderrangeleftinternalrotation") if opdrecord.romsliderrangeleftinternalrotation != "0 : 70" %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"l_rominternalrotation").to_s.split(",").join("<br>").html_safe %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <div class="mb3"></div>
          <% end %>
          <!-- The End -->
          <% unless opdrecord.impingement.blank? %>
              <% unless opdrecord.impingement == "No" %>
                  <b>Impingement :</b> Positive test-
                  <%= opdrecord.read_attribute(:"impingementtests") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.cuffsigns.blank? %>
              <% unless opdrecord.cuffsigns == "No" %>
                  <b>Cuff Signs :</b> Positive test-
                  <%= opdrecord.read_attribute(:"cuffsignstests") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.bicepsslapsigns.blank? %>
              <% unless opdrecord.bicepsslapsigns == "No" %>
                  <b>Biceps/ SLAP signs :</b> Positive test-
                  <%= opdrecord.read_attribute(:"bicepsslapsignstests") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.instability.blank? %>
              <% unless opdrecord.instability == "No" %>
                  <b>Instability :</b>  Positive test-
                  <%= opdrecord.read_attribute(:"instabilitytests") %>
                  <div class="mb3"></div>
              <% end %>
          <% end %>
          <% unless opdrecord.weakness.blank? %>
              <b>Weakness :</b>
              <%= opdrecord.read_attribute(:"weakness") %>
              |
          <% end %>
          <% unless opdrecord.distalneurovasculardeficit.blank? %>
              <% unless opdrecord.distalneurovasculardeficit == "Absent" %>
                  <b>Distal Neurovascular Deficit :</b>
                  <%= opdrecord.read_attribute(:"distalneurovasculardeficit") %>

              <% end %>
          <% end %>
          <% unless opdrecord.sensorydeficit.blank? %>
              <b>Sensory deficit :</b>
              <%= opdrecord.read_attribute(:"sensorydeficit") %>
              |
          <% end %>
          <% unless opdrecord.motordeficit.blank? %>
              <b>Motor deficit :</b>
              <%= opdrecord.read_attribute(:"motordeficit") %>
              |
          <% end %>
          <% unless opdrecord.vascualardeficit.blank? %>
              <b>Vascular deficit :</b>
              <%= opdrecord.read_attribute(:"vascualardeficit") %>
              <div class="mb3"></div>
          <% end %>
          <% unless opdrecord.othersigns.blank? %>
              <b>Other Signs :</b>
              <%= opdrecord.read_attribute(:"othersigns") %>
              |
          <% end %>
          <% unless opdrecord.objectivecomments.blank? %>
              <li>
              <%= opdrecord.read_attribute(:"objectivecomments") %>
              </li>
              <div class="mb3"></div>
          <% end %>

          <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/vitalsigns.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>
          <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/anthropometry.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>

        </div>

      </div>

    </div>
<% end %>

<style type="text/css">
  <% if @print_setting %>
    .print_text_font_size *{
      font-size: inherit!important
    }
  <% else %>
    .rom-thead tr th, .rom-tbody tr td {
      padding: 2px !important;
      text-align: center !important;
      <%if @mail_job = false%>
        <% if params[:action] == "print_opd_record" %>
          font-size: 9px !important;
        <% end %>
      <%else%>
        font-size: 9px !important;
      <%end%>
    }
  <% end %>
  <% unless opdrecord.romsliderrangerightextensionflexion.length > 0 && (opdrecord.romsliderrangerightextensionflexion != "-60 : 180" || opdrecord.r_romextensionflexion.length > 0) || opdrecord.romsliderrangerightabduction.length > 0 && (opdrecord.romsliderrangerightabduction != "0 : 180" || opdrecord.r_romabduction.length > 0) || opdrecord.romsliderrangerightexternalrotation.length > 0 && (opdrecord.romsliderrangerightexternalrotation != "0 : 90" || opdrecord.r_romexternalrotation.length > 0) || opdrecord.romsliderrangerightinternalrotation.length > 0 && (opdrecord.romsliderrangerightinternalrotation != "0 : 70" || opdrecord.r_rominternalrotation.length > 0) %>
    .right-row {
      display: none;
    }
  <% end %>
  <% unless opdrecord.romsliderrangeleftextensionflexion.length > 0 && (opdrecord.romsliderrangeleftextensionflexion != "-60 : 180" || opdrecord.l_romextensionflexion.length > 0) || opdrecord.romsliderrangeleftabduction.length > 0 && (opdrecord.romsliderrangeleftabduction != "0 : 180" || opdrecord.l_romabduction.length > 0) || opdrecord.romsliderrangeleftexternalrotation.length > 0 && (opdrecord.romsliderrangeleftexternalrotation != "0 : 90" || opdrecord.l_romexternalrotation.length > 0) || opdrecord.romsliderrangeleftinternalrotation.length > 0 && (opdrecord.romsliderrangeleftinternalrotation != "0 : 70" || opdrecord.l_rominternalrotation.length > 0) %>
    .left-row {
      display: none;
    }
  <% end %>
</style>
