<% if opdrecord.send("#{@flag}_examination_flag") == "1" %>
    <!--counter code starts here-->
    <%romcounter = 0%>
    <% examination_counter = 0 %>
    <% if opdrecord.romsliderrangerightwristextnflexn.length > 0 && opdrecord.romsliderrangerightwristextnflexn != "-70 : 80" %>

        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>

    <% end %>
    <% if opdrecord.romsliderrangeleftwristextnflexn.length > 0 && opdrecord.romsliderrangeleftwristextnflexn != "-70 : 80" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>



    <% if opdrecord.romsliderrangerightwristradioulnardev.length > 0 && opdrecord.romsliderrangerightwristradioulnardev != "-20 : 40" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangeleftwristradioulnardev.length > 0 && opdrecord.romsliderrangeleftwristradioulnardev != "-20 : 40" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>

    <% if opdrecord.romsliderrangeright1stcmcabduction.length > 0 && opdrecord.romsliderrangeright1stcmcabduction != "0 : 70" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangeleft1stcmcabduction.length > 0 && opdrecord.romsliderrangeleft1stcmcabduction != "0 : 70" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>

    <% if opdrecord.romsliderrangeright1stcmcextnflexn.length > 0 && opdrecord.romsliderrangeright1stcmcextnflexn != "-20 : 15" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangeleft1stcmcextnflexn.length > 0 && opdrecord.romsliderrangeleft1stcmcextnflexn != "-20 : 15" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>

    <% if opdrecord.romsliderrangeright1stmcpextnflexn.length > 0 && opdrecord.romsliderrangeright1stmcpextnflexn != "0 : 50" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangeleft1stmcpextnflexn.length > 0 && opdrecord.romsliderrangeleft1stmcpextnflexn != "0 : 50" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>

    <% if opdrecord.romsliderrangeright1stipextnflexn.length > 0 && opdrecord.romsliderrangeright1stipextnflexn != "0 : 80" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangeleft1stipextnflexn.length > 0 && opdrecord.romsliderrangeleft1stipextnflexn != "0 : 80" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>

    <% if opdrecord.romsliderrangerightfingermcpextnflexn.length > 0 && opdrecord.romsliderrangerightfingermcpextnflexn != "0 : 90" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangeleftfingermcpextnflexn.length > 0 && opdrecord.romsliderrangeleftfingermcpextnflexn != "0 : 90" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>

    <% if opdrecord.romsliderrangerightfingerpipextnflexn.length > 0 && opdrecord.romsliderrangerightfingerpipextnflexn != "0 : 90" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangeleftfingerpipextnflexn.length > 0 && opdrecord.romsliderrangeleftfingerpipextnflexn != "0 : 90" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>

    <% if opdrecord.romsliderrangerightfingerdipextnflexn.length > 0 && opdrecord.romsliderrangerightfingerdipextnflexn != "0 : 90" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangeleftfingerdipextnflexn.length > 0 && opdrecord.romsliderrangeleftfingerdipextnflexn != "0 : 90" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>

    <% if opdrecord.r_romwristextnflexn.length > 0 || opdrecord.r_romwristradioulnardev.length > 0 || opdrecord.r_rom1stcmcabduction.length > 0 || opdrecord.r_rom1stcmcextnflexn.length > 0 || opdrecord.r_rom1stmcpextnflexn.length > 0 || opdrecord.r_rom1stipextnflexn.length > 0 || opdrecord.r_romfingermcpextnflexn.length > 0 || opdrecord.r_romfingerpipextnflexn.length > 0 || opdrecord.r_romfingerdipextnflexn.length > 0 || opdrecord.l_romwristextnflexn.length > 0 || opdrecord.l_romwristradioulnardev.length > 0 || opdrecord.l_rom1stcmcabduction.length > 0 || opdrecord.l_rom1stcmcextnflexn.length > 0 || opdrecord.l_rom1stmcpextnflexn.length > 0 || opdrecord.l_rom1stipextnflexn.length > 0 || opdrecord.l_romfingermcpextnflexn.length > 0 || opdrecord.l_romfingerpipextnflexn.length > 0 || opdrecord.l_romfingerdipextnflexn.length > 0 %>
      <%romcounter = romcounter+1%>
      <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.generalsigns.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.areaaffectedobjective.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.sideobjective.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.location.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.skincondition.blank? %>
        <% unless opdrecord.skincondition == "Normal" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.nails.blank? %>
        <% unless opdrecord.nails == "Normal" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.distalneurovasculardeficit.blank? %>
        <% unless opdrecord.distalneurovasculardeficit == "Absent" %>
            <% examination_counter = examination_counter+1 %>

        <% end %>
    <% end %>
    <% unless opdrecord.sensorydeficit.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.motordeficit.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.vascualardeficit.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.othersigns.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.objectivecomments.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>

    <!--counter code ends here-->

    <div class="examination mb5" id="examination">
      <%if examination_counter > 0 %>

          <div class="row">
            <strong style="<%= heading_font_size %>">EXAMINATION :</strong>
            <div class="summary-line-border"></div>

          </div>
      <%end%>

      <div class="row">

        <div class="col-mb-12 <%= 'print_text_font_size' if  @print_setting %>" style="<%= text_font_size %>">
          <% unless opdrecord.sideobjective.blank? %>
            <b style="text-decoration: underline;">
              <% if opdrecord.read_attribute(:"sideobjective") == "R" %>
                RIGHT
              <% elsif opdrecord.read_attribute(:"sideobjective") == "L" %>
                LEFT
              <% else %>
                BILATERAL
              <% end %>
          <% else %>
            <b style="text-decoration: underline;">
          <% end %>
          <% unless opdrecord.location.blank? %>
            <%= opdrecord.read_attribute(:"location").to_s.upcase %></b><br>
          <% else %>
            <% unless opdrecord.areaaffectedobjective.blank? %>
              <%= opdrecord.read_attribute(:"areaaffectedobjective").to_s.upcase %></b>
            <% else %>
              </b>
            <% end %>
          <% end %>
          <div class="mb3"></div>
          <% unless opdrecord.generalsigns.blank? %>
            <b>General Signs</b> of <%= opdrecord.read_attribute(:"generalsigns") %>
          <% end %>
          <% unless opdrecord.preferredhandobjective.blank? %>
            <% unless opdrecord.generalsigns.blank? %> | <% end %>
            <b>Prefered Hand :</b> <%= opdrecord.read_attribute(:"preferredhandobjective") %><br>
          <% end %>
          <% unless opdrecord.skincondition.blank? %>
            <% unless opdrecord.skincondition == "Normal" %>
              <b>Skin Condition :</b> <%= opdrecord.read_attribute(:"skincondition") %>
            <% end %>
          <% end %>
          <% unless opdrecord.examinationsigns.blank? %>
            <% unless opdrecord.skincondition.blank? %>,<% else %><b>Skin Condition :</b> <% end %> <%= opdrecord.read_attribute(:"examinationsigns") %>
          <% end %>
          <div class="mb3"></div>
          <% unless opdrecord.nails.blank? %>
            <% unless opdrecord.nails == "Normal" %>
              <b>Nails :</b> <%= opdrecord.read_attribute(:"nails").split(",").join(", ") %>
            <% end %>
          <% end %>
          <div class="mb3"></div>
          <% if romcounter > 0 %>
            <div class="row">
              <table class="table table-bordered">
                <thead class="rom-thead">
                  <tr>
                    <th>ROM</th>
                    <th class="right-row" colspan="2">RIGHT</th>
                    <th class="left-row" colspan="2">LEFT</th>
                  </tr>
                </thead>
                <tbody class="rom-tbody">
                  <% if opdrecord.romsliderrangerightwristextnflexn.length > 0 && (opdrecord.romsliderrangerightwristextnflexn != "-70 : 80" || opdrecord.r_romwristextnflexn.length > 0) || opdrecord.romsliderrangeleftwristextnflexn.length > 0 && (opdrecord.romsliderrangeleftwristextnflexn != "-70 : 80" || opdrecord.l_romwristextnflexn.length > 0) %>
                    <tr>
                      <td>Wrist E:F</td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"romsliderrangerightwristextnflexn") if opdrecord.romsliderrangerightwristextnflexn != "-70 : 80" %></td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"r_romwristextnflexn").to_s.split(",").join("<br>").html_safe %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"romsliderrangeleftwristextnflexn") if opdrecord.romsliderrangeleftwristextnflexn != "-70 : 80" %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"l_romwristextnflexn").to_s.split(",").join("<br>").html_safe %></td>
                    </tr>
                  <% end %>
                  <% if opdrecord.romsliderrangerightwristradioulnardev.length > 0 && (opdrecord.romsliderrangerightwristradioulnardev != "-20 : 40" || opdrecord.r_romwristradioulnardev.length > 0) || opdrecord.romsliderrangeleftwristradioulnardev.length > 0 && (opdrecord.romsliderrangeleftwristradioulnardev != "-20 : 40" || opdrecord.l_romwristradioulnardev.length > 0) %>
                    <tr>
                      <td>Wrist RD-UD</td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"romsliderrangerightwristradioulnardev") if opdrecord.romsliderrangerightwristradioulnardev != "-20 : 40" %></td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"r_romwristradioulnardev").to_s.split(",").join("<br>").html_safe %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"romsliderrangeleftwristradioulnardev") if opdrecord.romsliderrangeleftwristradioulnardev != "-20 : 40" %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"l_romwristradioulnardev").to_s.split(",").join("<br>").html_safe %></td>
                    </tr>
                  <% end %>
                  <% if opdrecord.romsliderrangeright1stcmcabduction.length > 0 && (opdrecord.romsliderrangeright1stcmcabduction != "0 : 70" || opdrecord.r_rom1stcmcabduction.length > 0) || opdrecord.romsliderrangeleft1stcmcabduction.length > 0 && (opdrecord.romsliderrangeleft1stcmcabduction != "0 : 70" || opdrecord.l_rom1stcmcabduction.length > 0) %>
                    <tr>
                      <td>1st CMC AB</td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"romsliderrangeright1stcmcabduction") if opdrecord.romsliderrangeright1stcmcabduction != "0 : 70" %></td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"r_rom1stcmcabduction").to_s.split(",").join("<br>").html_safe %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"romsliderrangeleft1stcmcabduction") if opdrecord.romsliderrangeleft1stcmcabduction != "0 : 70" %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"l_rom1stcmcabduction").to_s.split(",").join("<br>").html_safe %></td>
                    </tr>
                  <% end %>
                  <% if opdrecord.romsliderrangeright1stcmcextnflexn.length > 0 && (opdrecord.romsliderrangeright1stcmcextnflexn != "-20 : 15" || opdrecord.r_rom1stcmcextnflexn.length > 0) || opdrecord.romsliderrangeleft1stcmcextnflexn.length > 0 && (opdrecord.romsliderrangeleft1stcmcextnflexn != "-20 : 15" || opdrecord.l_rom1stcmcextnflexn.length > 0) %>
                    <tr>
                      <td>1st CMC E:F</td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"romsliderrangeright1stcmcextnflexn") if opdrecord.romsliderrangeright1stcmcextnflexn != "-20 : 15" %></td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"r_rom1stcmcextnflexn").to_s.split(",").join("<br>").html_safe %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"romsliderrangeleft1stcmcextnflexn") if opdrecord.romsliderrangeleft1stcmcextnflexn != "-20 : 15" %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"l_rom1stcmcextnflexn").to_s.split(",").join("<br>").html_safe %></td>
                    </tr>
                  <% end %>
                  <% if opdrecord.romsliderrangeright1stmcpextnflexn.length > 0 && (opdrecord.romsliderrangeright1stmcpextnflexn != "0 : 50" || opdrecord.r_rom1stmcpextnflexn.length > 0) || opdrecord.romsliderrangeleft1stmcpextnflexn.length > 0 && (opdrecord.romsliderrangeleft1stmcpextnflexn != "0 : 50" || opdrecord.l_rom1stmcpextnflexn.length > 0) %>
                    <tr>
                      <td>1st MCP E:F</td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"romsliderrangeright1stmcpextnflexn") if opdrecord.romsliderrangeright1stmcpextnflexn != "0 : 50" %></td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"r_rom1stmcpextnflexn").to_s.split(",").join("<br>").html_safe %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"romsliderrangeleft1stmcpextnflexn") if opdrecord.romsliderrangeleft1stmcpextnflexn != "0 : 50" %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"l_rom1stmcpextnflexn").to_s.split(",").join("<br>").html_safe %></td>
                    </tr>
                  <% end %>
                  <% if opdrecord.romsliderrangeright1stipextnflexn.length > 0 && (opdrecord.romsliderrangeright1stipextnflexn != "0 : 80" || opdrecord.r_rom1stipextnflexn.length > 0) || opdrecord.romsliderrangeleft1stipextnflexn.length > 0 && (opdrecord.romsliderrangeleft1stipextnflexn != "0 : 80" || opdrecord.l_rom1stipextnflexn.length > 0) %>
                    <tr>
                      <td>Finger 1st IP E:F</td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"romsliderrangeright1stipextnflexn") if opdrecord.romsliderrangeright1stipextnflexn != "0 : 80" %></td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"r_rom1stipextnflexn").to_s.split(",").join("<br>").html_safe %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"romsliderrangeleft1stipextnflexn") if opdrecord.romsliderrangeleft1stipextnflexn != "0 : 80" %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"l_rom1stipextnflexn").to_s.split(",").join("<br>").html_safe %></td>
                    </tr>
                  <% end %>
                  <% if opdrecord.romsliderrangerightfingermcpextnflexn.length > 0 && (opdrecord.romsliderrangerightfingermcpextnflexn != "0 : 90" || opdrecord.r_romfingermcpextnflexn.length > 0) || opdrecord.romsliderrangeleftfingermcpextnflexn.length > 0 && (opdrecord.romsliderrangeleftfingermcpextnflexn != "0 : 90" || opdrecord.l_romfingermcpextnflexn.length > 0) %>
                    <tr>
                      <td>Finger MCP E:F</td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"romsliderrangerightfingermcpextnflexn") if opdrecord.romsliderrangerightfingermcpextnflexn != "0 : 90" %></td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"r_romfingermcpextnflexn").to_s.split(",").join("<br>").html_safe %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"romsliderrangeleftfingermcpextnflexn") if opdrecord.romsliderrangeleftfingermcpextnflexn != "0 : 90" %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"l_romfingermcpextnflexn").to_s.split(",").join("<br>").html_safe %></td>
                    </tr>
                  <% end %>
                  <% if opdrecord.romsliderrangerightfingerpipextnflexn.length > 0 && (opdrecord.romsliderrangerightfingerpipextnflexn != "0 : 90" || opdrecord.r_romfingerpipextnflexn.length > 0) || opdrecord.romsliderrangeleftfingerpipextnflexn.length > 0 && (opdrecord.romsliderrangeleftfingerpipextnflexn != "0 : 90" || opdrecord.l_romfingerpipextnflexn.length > 0) %>
                    <tr>
                      <td>Finger PIP E:F</td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"romsliderrangerightfingerpipextnflexn") if opdrecord.romsliderrangerightfingerpipextnflexn != "0 : 90" %></td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"r_romfingerpipextnflexn").to_s.split(",").join("<br>").html_safe %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"romsliderrangeleftfingerpipextnflexn") if opdrecord.romsliderrangeleftfingerpipextnflexn != "0 : 90" %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"l_romfingerpipextnflexn").to_s.split(",").join("<br>").html_safe %></td>
                    </tr>
                  <% end %>
                  <% if opdrecord.romsliderrangerightfingerdipextnflexn.length > 0 && (opdrecord.romsliderrangerightfingerdipextnflexn != "0 : 90" || opdrecord.r_romfingerdipextnflexn.length > 0) || opdrecord.romsliderrangeleftfingerdipextnflexn.length > 0 && (opdrecord.romsliderrangeleftfingerdipextnflexn != "0 : 90" || opdrecord.l_romfingerdipextnflexn.length > 0) %>
                    <tr>
                      <td>Finger DIP E:F</td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"romsliderrangerightfingerdipextnflexn") if opdrecord.romsliderrangerightfingerdipextnflexn != "0 : 90" %></td>
                      <td class="right-row"><%= opdrecord.read_attribute(:"r_romfingerdipextnflexn").to_s.split(",").join("<br>").html_safe %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"romsliderrangeleftfingerdipextnflexn") if opdrecord.romsliderrangeleftfingerdipextnflexn != "0 : 90" %></td>
                      <td class="left-row"><%= opdrecord.read_attribute(:"l_romfingerdipextnflexn").to_s.split(",").join("<br>").html_safe %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <div class="mb3"></div>
          <% end %>

          <% unless opdrecord.distalneurovasculardeficit.blank? %>
              <% unless opdrecord.distalneurovasculardeficit == "Absent" %>
                  <b>Distal Neurovascular Deficit :</b>
                  <%= opdrecord.read_attribute(:"distalneurovasculardeficit") %>

              <% end %>
          <% end %>
          <% unless opdrecord.sensorydeficit.blank? %>
              <b>Sensory deficit :</b>
              <%= opdrecord.read_attribute(:"sensorydeficit") %>
              |
          <% end %>
          <% unless opdrecord.motordeficit.blank? %>
              <b>Motor deficit :</b>
              <%= opdrecord.read_attribute(:"motordeficit") %>
              |
          <% end %>
          <% unless opdrecord.vascualardeficit.blank? %>
              <b>Vascular deficit :</b>
              <%= opdrecord.read_attribute(:"vascualardeficit") %>
              <div class="mb3"></div>
          <% end %>
          <% unless opdrecord.othersigns.blank? %>
              <b>Other Signs :</b>
              <%= opdrecord.read_attribute(:"othersigns") %>
              <div class="mb3"></div>
          <% end %>
          <% unless opdrecord.objectivecomments.blank? %>
              <li>
              <%= opdrecord.read_attribute(:"objectivecomments") %>
              </li>
              <div class="mb3"></div>
          <% end %>

          <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/vitalsigns.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>
          <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/anthropometry.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>


        </div>

      </div>

    </div>
<% end %>

<style type="text/css">
  <% if @print_setting %>
    .print_text_font_size *{
      font-size: inherit!important
    }
  <% else %>  
    .rom-thead tr th, .rom-tbody tr td {
      padding: 2px !important;
      text-align: center !important;
      <%if @mail_job == false%>
        <% if params[:action] == "print_opd_record" %>
          font-size: 9px !important;
        <% end %>
      <% end %>
    }
  <% end %>
  <% unless opdrecord.romsliderrangerightwristextnflexn.length > 0 && (opdrecord.romsliderrangerightwristextnflexn != "-70 : 80" || opdrecord.r_romwristextnflexn.length > 0) || opdrecord.romsliderrangerightwristradioulnardev.length > 0 && (opdrecord.romsliderrangerightwristradioulnardev != "-20 : 40" || opdrecord.r_romwristradioulnardev.length > 0) || opdrecord.romsliderrangeright1stcmcabduction.length > 0 && (opdrecord.romsliderrangeright1stcmcabduction != "0 : 70" || opdrecord.r_rom1stcmcabduction.length > 0) || opdrecord.romsliderrangeright1stcmcextnflexn.length > 0 && (opdrecord.romsliderrangeright1stcmcextnflexn != "-20 : 15" || opdrecord.r_rom1stcmcextnflexn.length > 0) || opdrecord.romsliderrangeright1stmcpextnflexn.length > 0 && (opdrecord.romsliderrangeright1stmcpextnflexn != "0 : 50" || opdrecord.r_rom1stmcpextnflexn.length > 0) || opdrecord.romsliderrangeright1stipextnflexn.length > 0 && (opdrecord.romsliderrangeright1stipextnflexn != "0 : 80" || opdrecord.r_rom1stipextnflexn.length > 0) || opdrecord.romsliderrangerightfingermcpextnflexn.length > 0 && (opdrecord.romsliderrangerightfingermcpextnflexn != "0 : 90" || opdrecord.r_romfingermcpextnflexn.length > 0) || opdrecord.romsliderrangerightfingerpipextnflexn.length > 0 && (opdrecord.romsliderrangerightfingerpipextnflexn != "0 : 90" || opdrecord.r_romfingerpipextnflexn.length > 0) || opdrecord.romsliderrangerightfingerdipextnflexn.length > 0 && (opdrecord.romsliderrangerightfingerdipextnflexn != "0 : 90" || opdrecord.r_romfingerdipextnflexn.length > 0) %>
    .right-row {
      display: none;
    }
  <% end %>
  <% unless opdrecord.romsliderrangeleftwristextnflexn.length > 0 && (opdrecord.romsliderrangeleftwristextnflexn != "-70 : 80" || opdrecord.l_romwristextnflexn.length > 0) || opdrecord.romsliderrangeleftwristradioulnardev.length > 0 && (opdrecord.romsliderrangeleftwristradioulnardev != "-20 : 40" || opdrecord.l_romwristradioulnardev.length > 0) || opdrecord.romsliderrangeleft1stcmcabduction.length > 0 && (opdrecord.romsliderrangeleft1stcmcabduction != "0 : 70" || opdrecord.l_rom1stcmcabduction.length > 0) || opdrecord.romsliderrangeleft1stcmcextnflexn.length > 0 && (opdrecord.romsliderrangeleft1stcmcextnflexn != "-20 : 15" || opdrecord.l_rom1stcmcextnflexn.length > 0) || opdrecord.romsliderrangeleft1stmcpextnflexn.length > 0 && (opdrecord.romsliderrangeleft1stmcpextnflexn != "0 : 50" || opdrecord.l_rom1stmcpextnflexn.length > 0) || opdrecord.romsliderrangeleft1stipextnflexn.length > 0 && (opdrecord.romsliderrangeleft1stipextnflexn != "0 : 80" || opdrecord.l_rom1stipextnflexn.length > 0) || opdrecord.romsliderrangeleftfingermcpextnflexn.length > 0 && (opdrecord.romsliderrangeleftfingermcpextnflexn != "0 : 90" || opdrecord.l_romfingermcpextnflexn.length > 0) || opdrecord.romsliderrangeleftfingerpipextnflexn.length > 0 && (opdrecord.romsliderrangeleftfingerpipextnflexn != "0 : 90" || opdrecord.l_romfingerpipextnflexn.length > 0) || opdrecord.romsliderrangeleftfingerdipextnflexn.length > 0 && (opdrecord.romsliderrangeleftfingerdipextnflexn != "0 : 90" || opdrecord.l_romfingerdipextnflexn.length > 0) %>
    .left-row {
      display: none;
    }
  <% end %>
</style>
