<div class="row">
  <div class="col-sm-12 text-center" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;"><strong>Policy Information</strong></div>
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-sm-12">
    <strong>Description</strong><br>
    <%= f.text_field :description, { class: 'form-control p7_10 description', placeholder: 'Description' } %>
  </div>

  <div class="col-sm-6">
    <strong>Authorized</strong><br>
    <div class="col-md-6">
      <div class="rdio rdio-primary">
        <%= f.radio_button :authorized, true, {} %>
        <label for="authorization_policy_authorized_true">Yes</label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="rdio rdio-primary">
        <%= f.radio_button :authorized, false, {} %>
        <label for="authorization_policy_authorized_false">No</label>
      </div>
    </div>
  </div>


  <% if @hg_policy.try(:maker_checker_ability) %>
    <div class="col-sm-6">
      <strong>Maker Checker</strong><br>
      <div class="col-md-6">
        <div class="rdio rdio-primary">
          <%= f.radio_button :maker_checker, true, {} %>
          <label for="authorization_policy_maker_checker_true">Yes</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rdio rdio-primary">
          <%= f.radio_button :maker_checker, false, {} %>
          <label for="authorization_policy_maker_checker_false">No</label>
        </div>
      </div>
    </div>
  <% end %>


</div>