<div class="sidebar-panel" style="padding-top:0px;background:#fff;">
<!--      <ul class="nav nav-pills nav-justified filter-header" style="background: #fff;position:fixed;z-index:555;top:100px">-->
<!--        <li class="<%#= 'active' if @filter == "All" || !@filter.present? %>">-->
<!--          <a href="#policy_filter" class="filter-tab" data-tab-id="All" data-toggle="tab"><strong>All</strong></a>-->
<!--        </li>-->
<!--        <li class="<%#= 'active' if @filter == "Appointment" %>">-->
<!--          <a href="#policy_filter" class="filter-tab" data-tab-id="Appointment" data-toggle="tab"><strong>Appointment</strong></a>-->
<!--        </li>-->
<!--        <li class="<%#= 'active' if @filter == "OpdRecord" %>">-->
<!--          <a href="#policy_filter" class="filter-tab" data-tab-id="OpdRecord" data-toggle="tab"><strong>OP Templates</strong></a>-->
<!--        </li>-->
<!--        <li class="<%#= 'active' if @filter == "Admission" %>">-->
<!--          <a href="#policy_filter" class="filter-tab" data-tab-id="Admission" data-toggle="tab"><strong>Admission</strong></a>-->
<!--        </li>-->
<!--        <li class="<%#= 'active' if @filter == "Ot" %>">-->
<!--          <a href="#policy_filter" class="filter-tab" data-tab-id="Ot" data-toggle="tab"><strong>OT</strong></a>-->
<!--        </li>-->
<!--        <li class="<%#= 'active' if @filter == "Inpatient::IpdRecord" %>">-->
<!--          <a href="#policy_filter" class="filter-tab" data-tab-id="Inpatient::IpdRecord" data-toggle="tab"><strong>IP Templates</strong></a>-->
<!--        </li>-->
<!--        <li class="<%#= 'active' if @filter == "Inventory" %>">-->
<!--          <a href="#policy_filter" class="filter-tab" data-tab-id="Inventory" data-toggle="tab"><strong>Inventory</strong></a>-->
<!--        </li>-->
<!--        <li class="<%#= 'active' if @filter == "Invoice" %>">-->
<!--          <a href="#policy_filter" class="filter-tab" data-tab-id="Invoice" data-toggle="tab"><strong>Bills</strong></a>-->
<!--        </li>-->
<!--        <li class="<%#= 'active' if @filter == "PatientSummaryAssetUpload" %>">-->
<!--          <a href="#policy_filter" class="filter-tab" data-tab-id="PatientSummaryAssetUpload" data-toggle="tab"><strong>Reports</strong></a>-->
<!--        </li>-->
<!--      </ul>-->
  <% filter_parameters = @policies.keys %>
  <div id="policyWizard" class="basic-wizard">
    <ul class="filter-tabs">
      <% filter_parameters.each do |filter_parameter| %>
        <li role="presentation" class="filter-tab <%= 'active' if filter_parameter == 'INVENTORY' %>"><a href="#<%= filter_parameter.parameterize.underscore %>" data-link-id="<%= filter_parameter.parameterize.underscore %>" data-toggle="tab"><%= filter_parameter %></a></li>
      <% end %>
    </ul>
    <div class="tab-content">
      <div class="search-area">
        <input class="search-policies" type="text" placeholder="Search Policies by feature & component"></input>
      </div>
      <%= render partial: "authorization/policies/list_section.html.erb" %>
    </div>
  </div>
</div>

<style>
  <%= render partial: 'authorization/authorization_styles.css' %>
</style>

<script>
  $("#policyWizard").wizard();
  $(".search-policies").on('keyup', function(){
    policy_list = $("#policyWizard").find(".tab-pane.active").find(".policy");
    search = $(this).val().trim().toUpperCase();

    if(search.trim() === "" ){
      $(".header").show()
    }else{
      $(".header").hide()
    }

    for (var i = policy_list.length - 1; i >= 0; i--) {
      policy_header = policy_list[i].firstElementChild.firstElementChild
      policy_feature_text = policy_header.textContent.split("(")[0].trim()
      policy_component_text = policy_header.textContent.split("(")[1].trim()

      if((policy_feature_text.indexOf(search) > -1) || (policy_component_text.indexOf(search) > -1)) {
        $(policy_list[i]).show();
      } else {
        $(policy_list[i]).hide();
      }
    }

  })
</script>
