<%= javascript_include_tag 'application-loggedin', 'data-turbolinks-track' => true %>
<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Add Policy</h4>
    </div>
    <%= form_for @policy, remote: true, html: { id: 'authorization_policy_form' } do |f| %>
      <%= f.hidden_field :organisation_id, { value: @current_user.organisation_id } %>
      <%= f.hidden_field :last_edited_by, { value: @current_user.fullname } %>
      <%= f.hidden_field :hg_policy_id, { value: @hg_policy.id } %>
      <%= f.hidden_field :module_name, { value: @hg_policy.module_name } %>
      <%= f.hidden_field :module_id, { value: @hg_policy.module_id } %>
      <%= f.hidden_field :feature_name, { value: @hg_policy.feature_name } %>
      <%= f.hidden_field :feature_id, { value: @hg_policy.feature_id } %>
      <%= f.hidden_field :component_name, { value: @hg_policy.component_name } %>
      <%= f.hidden_field :component_id, { value: @hg_policy.component_id } %>
      <div class="modal-body">
        <%= render partial: 'form.html.erb', locals: { f: f } %>
      </div>
      <div class="modal-footer">
        <%= f.submit 'Save Changes', { class: 'btn btn-success', onclick: 'validate_authorization_policy_form()' } %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>

<style type="text/css">

  .ui-menu-item a.ui-state-focus {
    background-color: #929090;
    color: #fff;
  }

  .select2-container .select2-selection--single {
    height: 34px !important;
  }
</style>
