<% specialities = (current_facility.specialty_ids & current_user.specialty_ids).count %>
<% admission_list.try(:each) do |admission| %>
  <% patient = @patient_fields.find { |p| p[:id].to_s == admission.patient_id.to_s } %>
  <div class='row no_margin summary_admission summary_admission_clickable' data-admission-id='<%= admission.admission_id %>'>
    <div class='col-sm-5 no_padding text-left' style="overflow: hidden;white-space: nowrap; text-overflow: ellipsis;">
      <% if patient.present? %>
        <span title="<%= patient[:title] %>"><%= patient[:bang] ? "<b><i class='fa fa-exclamation' style='font-size: 14px;color:#FF8735;'></i>&nbsp;</b>".html_safe : "" %></span>
      <% end %>
      <span><b><%= admission.patient_name.to_s.upcase %></b></span>
    </div>
    <div class='col-sm-3 no_padding text-center'>
      <% opacity = admission.current_state == "Discharged" ? "0.5" : "1" %>
      <span style='font-size: 12px;opacity: <%= opacity %>'>
        <% if admission.present? && admission.admission_time.present? %>
          Adm: <%= admission.admission_time.in_time_zone.strftime('%I:%M %p') %>
        <% end %>
        <% if admission.current_state == "Admitted" || admission.current_state == "Scheduled" %>
          <% unless admission.admission_date == Date.current %>
            <%= admission.admission_date.strftime(' (%d%b)') %>
          <% else %>
            (Today)
          <% end %>
        <% end %>
      </span>
    </div>
    <div class='col-sm-4 no_padding text-right' style="overflow: hidden;white-space: nowrap; text-overflow: ellipsis;">
      <b style='font-size:12px;'><%= admission.admitting_doctor %></b>
      <% atis = AdmissionListViewsHelper.admission_type_insurance_state(admission) %>
      <div class="type_section" style="display: inline;">
        <span class="<%= atis[2] %>" title="<%= atis[3] %>"><i class="<%= atis[0] %>"> <%= atis[1] %></i></span>
      </div>
    </div>
    <div class='col-sm-5 no_padding text-left' style="overflow: hidden;white-space: nowrap; text-overflow: ellipsis;">
      Reason : <b style='font-size:12px;'><%= admission.reason_for_admission %></b>
    </div>
    <div class='col-sm-3 no_padding text-center'>
      <% if admission.discharge_time.present? && admission.discharge_date.present? %>
        <% opacity = admission.current_state == "Discharged" ? "1" : "0.5" %>
        <span style='font-size: 12px;opacity: <%= opacity %>;'>
          Dis: <%= admission.discharge_time.in_time_zone.strftime('%I:%M %p') %>
          <% if admission.current_state == "Admitted" || admission.current_state == "Scheduled" %>
            <% unless admission.discharge_date == Date.current %>
              <%= admission.discharge_date.strftime(' (%d%b)') %>
            <% else %>
              (Today)
            <% end %>
          <% end %>
        </span>
      <% end %>
    </div>
    <div class='col-sm-4 no_padding text-right'>
      <span style='font-size:12px;'>
        <% if admission.ward_code.nil? || admission.room_code.nil? || admission.bed_code.nil? %>
          <!-- <i class="fa fa-bed"></i> : DAYCARE -->
        <% else %>
          <i class="fa fa-bed"></i> : <%= admission.ward_code.try(:upcase) %>/<%= admission.room_code.try(:upcase) %>/<%= admission.bed_code.try(:upcase) %>
        <% end %>
        <% if specialities > 1 %>
          <% if admission.specialty_name.present? %>
            <div class="specialty_section" style="display: inline;">
              <span class="label label-info" title="Specialty Name"><%= admission.specialty_name %></span>
            </div>
          <% end %>
        <% end %>
      </span>
    </div>
  </div>
<% end %>