<div class="panel">
  <div class="panel-heading" style="overflow:auto;">    
    <div class="pull-right">
      <%= link_to new_tapering_kit_path(source: "Setting", medicineduration: 12, medicinedurationoption: "W"),:data => {:remote => true}, :class => "btn btn-success" do %><i class="fa fa-plus"></i> Tapering Set(Week)<% end %>
      <%= link_to new_tapering_kit_path(source: "Setting", medicineduration: 12, medicinedurationoption: "D"),:data => {:remote => true}, :class => "btn btn-success" do %><i class="fa fa-plus"></i> Tapering Set(Day)<% end %>
    </div>
  </div>
  <div class="panel-body">

    <table class="table table-striped" id="tapering-set-table">
      <thead>
      <tr>
        <th style="background: white; color: #383838">Tapering Set Name</th>
        <th style="text-align: -webkit-center; background: white; color: #383838">Actions</th>
      </tr>
      </thead>

      <tbody class="tapering-kits">
        <% @tapering_sets.each do |tapering| %>
          <tr>
            <td><%= tapering.medicine_name %></td>
            <td class="text-center">
              <%= link_to edit_tapering_kit_path(id: tapering.id) ,:data => {:remote => true}, :class=> "btn btn-xs btn-success" do%><i class="fa fa-pencil-square-o"></i><%end%>
              <%= link_to tapering_kit_path(id: tapering.id), method: :delete, data: { :remote => true,confirm: 'Are you sure?' }, :class=> "btn btn-xs btn-danger" do%><i class="fa fa-trash-alt"></i><% end %> 
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>