<div class="step-pane <%= stepcount == 1 ? "active" : "" %>" data-step="<%=stepcount%>" style="min-height: 340px">
  <div class="row">
    <div class="col-md-12" style="margin-left: 94px;">
      <% @department.each do |department| %>
          <% checked = (true if @facility.department_ids.include?(department.id)) || false %>
          <div class="ckbox ckbox-primary col-md-6" style="margin-top:15px;">
            <%= check_box_tag 'facility[department_ids][]', department.id, checked, { id: "#{department.id}", class: "department_ids_checkboxes" } %>
            <label for="<%= department.id %>"><%= department.name.upcase %></label>
            
            <% if department.id == '309935007' %>
              <span class='label label-danger' id="ophthal_dep_note" style='font-style:italic;display: none;'>Un-check Ophthalmology Specialty first.</span>
            <% end %>
          </div>
      <% end %>
    </div>    
  </div>
</div>