<div class="step-pane <%= stepcount == 1 ? "active" : "" %>" data-step="<%=stepcount%>">

  <div class="row" style="margin-top:15px; display: none">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-md-12" style="margin-bottom: 10px;">
          <strong>Hospital</strong>
        </div>
        <div class="col-md-6">
          <div class="rdio rdio-primary">
            <%= f.radio_button :is_hospital, true, {class: 'is_hospital', id: 'is_hospital_true' } %>
            <label for="is_hospital_true">Yes</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="rdio rdio-primary">
            <%= f.radio_button :is_hospital, false, {class: 'is_hospital', id: 'is_hospital_false' } %>
            <label for="is_hospital_false">No</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:15px;">
    <div class="col-sm-5">
      <strong>Name</strong><br>
      <%= f.text_field :name, { :class => 'form-control p7_10 name', :placeholder => "Name" } %>
    </div>
    <div class="col-sm-4">
      <strong>Display Name</strong><br>
      <%= f.text_field :display_name, { :class => 'form-control p7_10 display_name', :placeholder => "Display Name" } %>
    </div>
    <div class="col-sm-3">
      <strong>Facility Code</strong><br>
      <%= f.text_field :abbreviation, { :class => 'form-control p7_10 abbreviation', :placeholder => "Ex. ABC", minlength: 3, maxlength: 6 } %>
    </div>
  </div>

  <div class="row" style="margin-top:15px;">
    <div class="col-sm-4">
      <strong>Country</strong><br>
      <%= f.select :country_id, options_for_select(@countries.collect {|p| [ p.name + " ("+p.abbreviation1+") ", p.id ] },@facility.country_id), {include_blank: "Select Country"}, {class: 'form-control country'} %>
    </div>
    <div class="col-sm-4">
      <strong>Time Zone</strong><br>
      <%= f.select :time_zone, options_for_select(@zones_array || [], @facility.time_zone), {include_blank: "Select Timezone"}, { class: "form-control time_zone" } %>
    </div>
    <div class="col-sm-4">
    <strong>Primary Currency</strong><br>
      <%= f.hidden_field :currency_symbol, value: @facility.currency_symbol %>
      <% currency_array = ([["#{@currency.name} - #{@currency.code}", @currency.id, "data-symbol": @currency.symbol]] if @currency.present?) || [] %>
      <%= f.select :currency_id, options_for_select(currency_array, @facility.currency_id), {include_blank: "Select Currency"}, {class: 'form-control currency'} %>
    </div>
  </div>

  <div class="row" style="margin-top:15px;">
    <div class="<%=@col_length%>">
      <strong>Address</strong><br>
      <%= f.text_field :address, { :class => 'form-control p7_10 address', :placeholder => "Address" } %>
    </div>
    <div class="<%=@col_length%>">
      <strong>Supported Currencies</strong><br>
      <%= f.select :currency_ids, options_for_select(Currency.all.collect {|c| [ "#{c.code} - #{c.name}", c.id ] }, @facility.currency_ids), {}, {class: 'form-control currency', multiple: 'multiple', style:'max-height:34px;'} %>
    </div>
    <% if @enable_region.present? %>
      <div class="<%=@col_length%>">
        <strong>Region</strong><br>
        <%= f.select :region_master_id, options_for_select(@region_masters.collect {|r| [ "#{r.name} - #{r.abbreviation}", r.id ] }, @facility.region_master_id), {include_blank: "Select Region"}, {class: 'form-control', style:'max-height:34px;'} %>
      </div>
    <% end %>
  </div>
  <div class="row cambodia_facility" style="margin-top:15px;">
    <div class="col-sm-3">
      <strong>Pincode</strong>
      <a href="" class="clear-pincode" style="display:none;font-size: 10px;margin-top: -7px;cursor: pointer;">Clear</a><br>
      <%= f.text_field :pincode, { :id =>'search_pincode_cambodia', :class => 'form-control p7_10 pincode', :placeholder => "Pincode", minlength: 5, maxlength: 7, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
    </div>
    <div class="col-sm-3">
      <strong>Province/ State</strong><br>
        <%= f.text_field :state, { :id =>'search_state_cambodia', :class => 'form-control p7_10 state', :placeholder => "State" } %>
    </div>
    <div class="col-sm-3">
      <strong>District</strong><br>
      <%= f.text_field :district, { id: 'search_district_cambodia', class: 'form-control district p5_10', placeholder: "District" } %>
    </div>
    <div class="col-sm-3">
      <strong>Commune</strong><br>
      <%= f.text_field :commune, {id: 'search_commune_cambodia', class: 'form-control commune p5_10', placeholder: "Commune"} %>
    </div>
  </div>

  <div class="row vietnam_facility" style="margin-top:15px;">
    <div class="col-sm-4">
      <strong>City</strong>
      <a href="" class="clear-commune" style="display:none;font-size: 10px;margin-top: -7px;cursor: pointer;">Clear</a>
      <%= f.text_field :city, { id: 'search_city_vietnam', class: 'form-control facility-city p5_10', placeholder: "City"} %>
    </div>
    <div class="col-sm-4">
      <strong>District</strong><br>
      <%= f.text_field :district, { id: 'search_district_vietnam', class: 'form-control district p5_10', placeholder: "District" } %>
    </div>
    <div class="col-sm-4">
      <strong>Commune</strong><br>
      <%= f.text_field :commune, {id: 'search_commune_vietnam', class: 'form-control commune p5_10', placeholder: "Commune"} %>
    </div>
  </div>

  <div class="row other_facility" style="margin-top:15px;">
    <div class="col-sm-4">
      <strong>Pincode</strong>
      <a href="" class="clear-pincode" style="display:none;font-size: 10px;margin-top: -7px;cursor: pointer;">Clear</a><br>
      <%= f.text_field :pincode, { :id =>'search_pincode_other', :class => 'form-control p7_10 pincode', :placeholder => "Pincode", minlength: 5, maxlength: 7, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
    </div>
    <div class="col-sm-4">
      <strong>State</strong><br>
        <%= f.text_field :state, { :id =>'search_state_other', :class => 'form-control p7_10 state', :placeholder => "State" } %>
    </div>
    <div class="col-sm-4">
      <strong>City</strong><br>
      <%= f.text_field :city, { :id =>'search_city_other', :class => 'form-control p7_10 facility-city', :placeholder => "City" } %>
    </div>
  </div>

  <div class="row" style="margin-top:15px;">
    <div class="col-sm-4">
      <strong>Email</strong><br>
      <% if @trusted_domains.present? && @trusted_domains.count > 0 %>
        <%= f.hidden_field :email, value: @facility.email %>
        <% email_local, email_domain = @facility.email&.split('@') %>
        <div class="row">
          <div class="col-sm-6 pr-0">
            <%= text_field_tag :email_local, email_local, class: 'form-control p7_10 email_local', placeholder: 'Email' %>
          </div>
          <div class="col-sm-6 pl-0">
            <% email_domain = @trusted_domains.first&.name if @trusted_domains.count == 1 && params[:action] == 'new' %>
            <%= select_tag :email_domain, options_for_select(@trusted_domains.map { |td| ["@#{td.name}", td.name] }, email_domain), include_blank: 'Select', class: 'form-control p9_10 email_domain' %>
          </div>
        </div>
      <% else %>
        <%= f.text_field :email, { class: 'form-control p7_10 email', placeholder: 'Email' } %>
      <% end %>
    </div>
    <div class="col-sm-4">
      <strong>Landline</strong><br>
      <%= f.text_field :telephone, { :class => 'form-control p7_10 telephone', :placeholder => "Landline", minlength: 10, maxlength: 10, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
    </div>
    <div class="col-sm-4">
      <strong>Fax</strong><br>
      <%= f.text_field :fax, { :class => 'form-control p7_10 fax', :placeholder => "Fax", minlength: 5, maxlength: 15, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
    </div>
  </div>
</div>
