<div class="step-pane <%= stepcount == 1 ? "active" : "" %>" data-step="<%=stepcount%>" style="min-height: 290px">
  <div class="facility_settings_tab">
    <div class="row" style="margin:25px;">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12" style="margin-bottom: 10px;">
            <strong>Enable OPD Clinical Workflow</strong>
          </div>
          <div class="col-md-6">
            <div class="rdio rdio-primary">
              <%= f.radio_button :clinical_workflow, true, { id: 'workflow_true' } %>
              <label for="workflow_true">Yes</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="rdio rdio-primary">
              <%= f.radio_button :clinical_workflow, false, {id: 'workflow_false' } %>
              <label for="workflow_false">No</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12" style="margin-bottom: 10px;">
            <strong>Enable IPD Clinical Workflow</strong>
          </div>
          <div class="col-md-6">
            <div class="rdio rdio-primary">
              <%= f.radio_button :ipd_clinical_workflow, true, { id: 'ipd_workflow_true' } %>
              <label for="ipd_workflow_true">Yes</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="rdio rdio-primary">
              <%= f.radio_button :ipd_clinical_workflow, false, {id: 'ipd_workflow_false' } %>
              <label for="ipd_workflow_false">No</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin:25px;">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12" style="margin-bottom: 10px;">
            <strong>Enable Finance Module</strong>
          </div>
          <div class="col-md-6">
            <div class="rdio rdio-primary">
              <%= f.radio_button :show_finances, true, { id: 'finance_true' } %>
              <label for="finance_true">Yes</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="rdio rdio-primary">
              <%= f.radio_button :show_finances, false, {id: 'finance_false' } %>
              <label for="finance_false">No</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12" style="margin-bottom: 10px;">
            <strong>Enable Online/Offline Feature</strong>
          </div>
          <div class="col-md-6">
            <div class="rdio rdio-primary">
              <%= f.radio_button :show_user_state, true, { id: 'user_state_true' } %>
              <label for="user_state_true">Yes</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="rdio rdio-primary">
              <%= f.radio_button :show_user_state, false, {id: 'user_state_false' } %>
              <label for="user_state_false">No</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin:25px;">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12" style="margin-bottom: 10px;">
            <strong>Enable Appointment Token System</strong>
          </div>
          <div class="col-md-6">
            <div class="rdio rdio-primary">
              <%= radio_button_tag 'facility_settings[token_enabled]', true, @token_setting.try(:token_enabled), { class: 'token_enabled', id: 'token_enabled_true' } %>
              <label for="token_enabled_true">Yes</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="rdio rdio-primary">
              <%= radio_button_tag 'facility_settings[token_enabled]', false, !@token_setting.try(:token_enabled), { class: 'token_enabled', id: 'token_enabled_false' } %>
              <label for="token_enabled_false">No</label>
            </div>
          </div>
          <div class="show_on_token_enabled" <%= "style=display:none;" unless @token_setting.try(:token_enabled) %>>
            <div class="col-md-5">
              <strong>Sort By Token</strong>
            </div>
            <div class="col-md-3">
              <div class="rdio rdio-primary">
                <%= radio_button_tag 'facility_settings[sort_list_by_token]', true, @token_setting.try(:sort_list_by_token), { id: 'sort_list_by_token_true' } %>
                <label for="sort_list_by_token_true">Yes</label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="rdio rdio-primary">
                <%= radio_button_tag 'facility_settings[sort_list_by_token]', false, !@token_setting.try(:sort_list_by_token), { id: 'sort_list_by_token_false' } %>
                <label for="sort_list_by_token_false">No</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12" style="margin-bottom: 10px;">
            <strong>Print Generic Name</strong>
          </div>
          <div class="col-md-6">
            <div class="rdio rdio-primary">
              <%= f.radio_button :display_generic_name, true, { id: 'generic_name_true' } %>
              <label for="generic_name_true">Yes</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="rdio rdio-primary">
              <%= f.radio_button :display_generic_name, false, {id: 'generic_name_false' } %>
              <label for="generic_name_false">No</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% unless @organisation.workflow_waiting_disable %>
      <div class="row" style="margin:25px;">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12" style="margin-bottom: 10px;">
              <strong>Enable Queue Management</strong>
              <% if params[:action] == 'edit' %>
                <br><span style="font-size: 11px; font-style: italic; color: red;">It can be changed only between 9PM to 11:59PM in night</span>
              <% end %>
            </div>
             <div style="display: <%= enable_qm_settings ? 'block' : 'none' %>">
              <div class="col-md-6">
                <div class="rdio rdio-primary">
                  <%= radio_button_tag 'facility_settings[queue_management]', true, @facility_setting&.queue_management, { class: 'queue_management', id: 'queue_management_true', readonly: true } %>
                  <label for="queue_management_true">Yes</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="rdio rdio-primary">
                  <%= radio_button_tag 'facility_settings[queue_management]', false, !@facility_setting&.queue_management, { class: 'queue_management', id: 'queue_management_false' } %>
                  <label for="queue_management_false">No</label>
                </div>
              </div>
              <div class="show_on_qm_enabled" <%= "style=display:none;" unless @facility_setting&.queue_management %>>
                <div class="col-md-5">
                  <strong>Enable User's to Set Station</strong>
                </div>
                <div class="col-md-3">
                  <div class="rdio rdio-primary">
                    <%= radio_button_tag 'facility_settings[user_set_station]', true, @facility_setting&.user_set_station, { id: 'user_set_station_true' } %>
                    <label for="user_set_station_true">Yes</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="rdio rdio-primary">
                    <%= radio_button_tag 'facility_settings[user_set_station]', false, !@facility_setting&.user_set_station, { id: 'user_set_station_false' } %>
                    <label for="user_set_station_false">No</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="row" style="margin:25px;">
      <div class="col-md-4">
          <div class="row">
            <div class="col-md-12" style="margin-bottom: 10px;">
              <strong>Preferred Number Format</strong>
            </div>
            <div class="col-md-6">
              <%= f.select :number_format, options_for_select([[ "12345678.99 (Default)", 0], ["12,345,678.99 (Western)", 1], ["1,23,45,678.99 (Indian)", 2]], selected: @facility.try(:number_format)), { include_blank: false }, { class: 'form-control number_format', id: 'number_format' } %>
            </div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="col-md-12" style="margin-bottom: 10px;">
          <strong>SMS Contact Number</strong>
        </div>
        <div class="col-sm-12">
          <%= f.text_field :sms_contact_number, {class: 'form-control p7_10 sms_contact_number', placeholder: "SMS Contact Number", minlength: 10, maxlength: 10, onkeypress:' return event.charCode >= 48 && event.charCode <= 57', value: @facility.try(:sms_contact_number).present? ? @facility.try(:sms_contact_number) : @facility.try(:telephone) } %>
        </div>
      </div>
    </div>
    <% if current_organisation_setting.try(:organisation_whatsapp_enabled) && @communication_numbers.count > 1 %>
      <div class="col-md-4">
        <div class="col-md-12" style="margin-bottom: 10px;">
          <strong>Whatsapp Number</strong>
        </div>
        <div class="col-sm-12">
          <%= f.select :communication_number_id, options_for_select(@communication_numbers.map{|p| ["#{p.country_code} #{p.communication_number} #{'(HG Default)' if p.communication_number == '8904058001'}", p.id.to_s] }, selected: @facility.try(:communication_number_id)), { include_blank: "Select Number" }, { class: 'form-control communication_number', id: 'communication_number' }%>
        </div>
      </div>
    <% end %>
  </div>
</div>
