<div class="step-pane <%= stepcount == 1 ? "active" : "" %>" data-step="<%=stepcount%>" style="min-height: 340px">
  <div class="row specialities_selection_tab">

    <div class="col-md-12" style="margin-left: 94px;">
      <% @specialties.each do |specialty| %>
          <% checked = (true if @facility.specialty_ids.include?(specialty.id)) || false %>
          <div class="ckbox ckbox-primary col-md-6" style="margin-top:15px;">
            <%= check_box_tag 'facility[specialty_ids][]', specialty.id, checked, { id: "#{specialty.id}", class: "specialty_ids_checkboxes" } %>
            <label for="<%= specialty.id %>"><%= specialty.name.upcase %></label>
          </div>
      <% end %>
    </div>    
  </div>
</div>