<div class="row fuelux">
  <div class="col-md-12">
    <div class="">
      <div class="wizard" data-initialize="wizard" id="MyWizard">
        
        <ul class="steps">
          <li data-step="1" id="facility_details" class="active" style="cursor:pointer;"><span class="badge text_head badge-info ">Step 1</span>Details<span class="chevron"></span></li>
          <li data-step="2" id="specialties_section" style="cursor:pointer;"><span class="badge text_head badge-info ">Step 2</span> Specialties <span class="chevron"></span></li>
          <li data-step="3" id="departments_section" style="cursor:pointer;"><span class="badge text_head badge-info ">Step 3</span> Departments <span class="chevron"></span></li>
          <li data-step="4" id="facility_section" style="cursor:pointer;"><span class="badge text_head badge-info ">Step 4</span>Settings <span class="chevron"></span></li>
          <li data-step="5" id="facility_security" style="cursor:pointer;"><span class="badge text_head badge-info ">Step 5</span>Security <span class="chevron"></span></li>
        </ul>
      
        <div class="actions wizard-form-prev-next-buttons">
          <button type="button" class="btn btn-mini btn-prev" value="prev" id="prev" title="Previous"><i class="glyphicon glyphicon-arrow-left"></i> Prev</button>
          <button type="button" class="btn btn-mini btn-next" value="next" id="next" title="Next">Next<i class="glyphicon glyphicon-arrow-right"></i></button>
        </div>

        <div class="step-content">
          <%= render partial: "facilities/stepper/facility_details.html.erb", locals: { f: f , stepcount: 1 } %>
          <%= render partial: "facilities/stepper/specialties_selection.html.erb", locals: { f: f, stepcount: 2 } %>
          <%= render partial: "facilities/stepper/departments_selection.html.erb", locals: { f: f, stepcount: 3 } %>
          <%= render partial: "facilities/stepper/facility_settings.html.erb", locals: { f: f, stepcount: 4 } %>
          <%= render partial: "facilities/stepper/facility_security_settings.html.erb", locals: { f: f, stepcount: 5 } %>
        </div>

      </div> <!-- wizard div ends -->
    </div> <!-- fuelux div ends -->
  </div>
</div> <!-- 1st row ends -->

<script type="text/javascript">
  <%= render partial: 'facilities/stepper/form.js.erb' %>

  jQuery('#facility_details').on("click", function() {
    jQuery("#MyWizard").wizard('next');
  });
  jQuery('#specialties_section').on("click", function() {
    jQuery("#MyWizard").wizard('next').wizard('next');
  });
  jQuery('#departments_section').on("click", function() {
    jQuery("#MyWizard").wizard('next').wizard('next').wizard('next');
  });
  jQuery('#facility_section').on("click", function() {
    jQuery("#MyWizard").wizard('next').wizard('next').wizard('next').wizard('next');
  });
  jQuery('#facility_security').on("click", function() {
    jQuery("#MyWizard").wizard('next').wizard('next').wizard('next').wizard('next').wizard('next');
  });
</script>