<% if @sub_store_id.blank? %>
  <tr id="today_stock_balance" class="inventory-list-row">
    <td class="col-md-2" style="font-size: 12px; color: #17a08c;"><%= Date.current %></td>
    <td class="col-md-2"><b><%= @opening_stock %></b></td>
    <td class="col-md-2"><b><%= @closing_stock %></b></td>
    <td class="col-md-3"><b><%= @opening_amount&.round(2) %></b></td>
    <td class="col-md-3"><b><%= @closing_amount&.round(2) %></b></td>
  </tr>
<% elsif @balances.length > 0 %>
  <% @balances.each do |balance| %>
    <tr id="<%= balance.id %>" class="inventory-list-row">
      <td class="col-md-2" style="font-size: 12px; color: #17a08c;"><%= balance.date %></td>
      <td class="col-md-2"><b><%= balance.opening_stock %></b></td>
      <td class="col-md-2"><b><%= balance.closing_stock %></b></td>
      <td class="col-md-3"><b><%= balance.opening_amount&.round(2) %></b></td>
      <td class="col-md-3"><b><%= balance.closing_amount&.round(2) %></b></td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td align="center"><strong style="font-size: 20px;">Nothing to Display</strong></td>
  </tr>
<% end %>
