<%= javascript_include_tag 'application-loggedin', 'data-turbolinks-track' => true %>
<div class="modal-dialog station-dialog" style="width:60%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Select Sub Station - <%= current_facility.name.to_s %></h4>
    </div>
    <%= form_tag update_link_user_queue_management_sub_stations_path, method: :patch, remote: true, id: 'link-user-form', class: 'link-user-form' do %>
      <div class="modal-body">
        <% if current_sub_station %>
          <div class="row">
            <div class="col-md-12">
              <b>Current Sub Station</b>
            </div>
            <div class="col-md-4">
              <b><%= current_sub_station.area&.name %></b>
            </div>
            <div class="col-md-4">
              <b><%= current_sub_station.station&.name %> (<%= current_sub_station.station&.display_code %>)</b>
            </div>
            <div class="col-md-4">
              <b><%= current_sub_station.display_code %></b>
            </div>
          </div>
          <hr>
        <% end %>
        <% if @opd_clinical_workflows_empty %>
          <div class="row mb30">
            <div class="col-md-4">
              <b>Area</b>
              <%= select_tag :area_id, options_for_select(@areas.pluck(:name, :id), ''), include_blank: @areas.count > 1 ? 'Select' : false, required: true, class: 'qm_area_id form-control' %>
            </div>
            <div class="col-md-4">
              <b>Station</b>
              <%= select_tag :station_id, options_for_select([], ''), include_blank: 'Select', class: 'qm_station_id form-control', required: true %>
            </div>
            <div class="col-md-4">
              <b>Sub Station</b>
              <%= select_tag :sub_station_id, options_for_select([], ''), include_blank: 'Select', class: 'qm_sub_station_id form-control', required: true %>
            </div>
          </div>
          <div class="row confirm-snatch">
            <div class="col-md-12">
              <div class="ckbox ckbox-primary">
                <input type="hidden" name="snatch_active_station" value='false'>
                <%= check_box_tag :snatch_active_station, true, false, { required: true } %>
                <label for="snatch_active_station" class="snatch_active_station_label"></label>
              </div>
            </div>
          </div>
        <% else %>
          <div class="row">
            <div class="col-md-12 text-center">
              <h4><b class="text-danger">There are appointments in your queue. Please move them to change Sub Station.</b></h4>
            </div>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <% if @opd_clinical_workflows_empty %>
          <%= submit_tag 'Save', class: 'btn btn-success btn-save-station', data: { 'disable-with': 'Please Wait...' }, onclick: 'linkUserForm()' %>
        <% end %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  <%= render partial: 'link_user.js.erb' %>
</script>
