<%= javascript_include_tag 'application-loggedin', 'data-turbolinks-track' => true %>
<div class="modal-dialog station-dialog" style="width:<%= current_facility_setting&.user_set_station ? 75 : 60 %>%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Link Users</h4>
    </div>
    <%= form_tag update_link_users_queue_management_sub_stations_path, method: :patch, remote: true, id: 'link-users-form', class: 'link-users-form' do %>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-5 col-md-offset-1">
            <b>Step 1 : Select Facility</b>
            <%= select_tag :facility_id, options_for_select(@facilities, params[:facility_id]), class: 'area_facility_id form-control' %>
          </div>
        </div>
        <div class='row mb10' id="link-user-form">
          <%#= render partial: 'set_sub_stations.html.erb' %>
        </div>
      </div>
      <div class="modal-footer">
        <%= submit_tag 'Save', class: 'btn btn-success btn-save-station', data: { 'disable-with': 'Please Wait...' }, onclick: 'uniqueUserForm()' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>

<style type="text/css">
  .station-form, .station-message {
    margin: 0 10px 10px 10px;
  }

  #link-user-form {
    padding: 8px;
  }

  .station-dialog hr {
    border-color: #000 !important;
  }
</style>

<script type="text/javascript">
  <%= render partial: 'link_users.js.erb' %>
</script>
