<% user_set_station = @facility_setting&.user_set_station %>
<% if @sub_stations.count > 0 %>
  <div class="col-md-12 station-row">
    <div class="row station-form">
      <hr>
      <div class="col-md-12">
        <b>Step 2 : Link Users to Sub Station</b>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-<%= user_set_station ? 3 : 4 %>">
            <b style="color:#000;">Station Details</b>
          </div>
          <div class="col-md-2">
            <b style="color:#000;">Sub Station Code</b>
          </div>
          <div class="col-md-<%= user_set_station ? 3 : 6 %>">
            <b style="color:#000;">Permanent User</b>
          </div>
          <% if user_set_station %>
            <div class="col-md-3">
              <b style="color:#000;">Active User</b>
            </div>
          <% end %>
        </div>
      </div>
      <% station = '' %>
      <% area = '' %>
      <% @sub_stations.each_with_index do |sub_station, i| %>
        <% if sub_station.station.present? %>
          <% if area != sub_station.area %>
            <% area = sub_station.area %>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h4 class="area-name"><%= sub_station.area.name %></h4>
                </div>
              </div>
            </div>
          <% end %>
          <div class="col-md-12">
            <input type="hidden" name="sub_stations[<%= i %>][id]" value='<%= sub_station.id %>' class='sub-station-id'>
            <input type="hidden" name="sub_stations[<%= i %>][station_id]" value='<%= sub_station.station_id %>' class='sub-station-station_id'>
            <br>
            <div class="row">
              <div class="col-md-<%= user_set_station ? 3 : 4 %>">
                <% if station != sub_station.station %>
                  <% station = sub_station.station %>
                  <span><%= station.name %> (<%= station.type.to_s.titleize %>) - <%= station.display_code&.upcase %></span>
                <% end %>
              </div>
              <div class="col-md-2">
                <span><%= sub_station.display_code&.upcase %></span>
              </div>
              <div class="col-md-<%= user_set_station ? 3 : 6 %>">
                <input type="hidden" name="sub_stations[<%= i %>][is_updated]" value='false' class='sub-station-is_updated'>
                <%# if @users.pluck(:id).uniq.include?(sub_station.user_id) && (@starting_time..@end_time).cover?(Time.current) %>
                  <!-- <select class="form-control sub-station-user_id" disabled name="sub_stations[<%= i %>][user_id]" id="stations_<%= i %>_user_id" value="<%= sub_station.user_id %>"> -->
                <%# else %>
                  <select class="form-control sub-station-user_id" name="sub_stations[<%= i %>][user_id]" id="stations_<%= i %>_user_id" value="<%= sub_station.user_id %>">
                <%# end %>
                  <option value="">Select</option>
                  <% @users.each do |user| %>
                    <option value="<%= user.id %>" <%= 'selected' if user.id.to_s == sub_station.user_id.to_s %>>
                      <%= qm_format_user(user) %>
                    </option>
                  <% end %>
                </select>
              </div>
              <% if user_set_station %>
                <div class="col-md-3">
                  <span><%= qm_format_user(sub_station.active_user) %></span>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="col-md-12">
    <div class="row station-message">
      <hr>
      <div class="col-md-12">
        <b>Oops!! Seems like this Facility has no Stations.</b>
      </div>
    </div>
  </div>
<% end %>

<style type="text/css">
  .area-name {
    padding: 5px 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
  }
</style>
