<div class="modal-dialog modal-hg-template">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="nomargin text-center"> <b><%= @level.capitalize %> level <%= Global.ehrcommon.send("#{@templatetype}").label  %> for  -> <%= @level_name %> </b></h4>
      <%= render partial: "templates/common/stylesheetincludes" %> <!-- Render common stylesheet includes template from partial -->
    </div>
    <%= render 'new_medication_set_form' %>
  </div>
</div>
