<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<% @show_language_support = @current_facility.show_language_support %>
<% if @show_language_support %>
  <div class="modal-body">
    <div class="panel panel-default">
      <%= simple_form_for(@medication_kit, url: create_medication_set_medication_kits_path,:remote => true) do |f| %>
        <div class="panel-body ">
          <%= f.hidden_field :level, id: "level_hidden_id", value: @level %>
          <%= f.hidden_field :facility_id, id: "facility_hidden_id", value: @current_facility.id %>
          <%= f.text_field :user_id,{:type => "hidden",:value=> current_user.id } %>
          <div class="row">
            <div class="col-md-4">
              <div class="row">
                <div class="col-sm-3 col-sm-offset-1"><b style="font-size: 16px;">Set Name :</b></div>
                <div class="col-sm-7"><%= f.text_field :name, { :class => 'form-control set-name' } %></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-sm-3 col-sm-offset-1"><b style="font-size: 16px;">Set Type :</b></div>
                  <%= f.input :set_type, wrapper_html: {:class=>"col-md-6 set-type"}, collection: [ ['OPD', 440655000], ['IPD', 440654001],['WARD', 444950001],['All', 0]], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "medication_kit[set_type]" }, :checked => @medication_kit.read_attribute(:set_type)|| 440655000 %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-sm-3 col-sm-offset-1"><b style="font-size: 16px;">Specialties :</b></div>
                <div class="col-sm-7">
                  <div class="col-sm-10">
                    <% if @single_select == false %>
                      <%= select_tag "medication_kit[specialty_id]", options_for_select(@user_specialties, @medication_kit.specialty_id), { :class => 'form-control',  :include_blank => 'Select Specialty' } %>
                    <% else %>
                      <%= select_tag "medication_kit[specialty_id]", options_for_select(@user_specialties, @medication_kit.specialty_id), { :class => 'form-control' } %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row form-group text-center">
            <strong style="color: red">(NOTE: Please select Set Type carefully.If you select OPD, set will appear in OPD only)</strong>
          </div>
          <div class="medication_group" style="padding-bottom:10px; margin-top: -18px;">
            <table class="table table-striped table-bordered">
              <div class="row form-group">
                <thead>
                <tr>
                  <th class="col-sm-3"><b>Name</b> </th>
                  <th class="col-sm-1"><b>Type</b></th>
                  <th class="col-sm-1"> <b>Quantity</b></th>
                  <th class="col-sm-1"><b>Frequency</b>&nbsp;&nbsp;<a href="#" data-toggle="tooltip" data-placement="bottom" title="Number of times in a day"><i class="fa fa-info-circle" aria-hidden="true"></i></a></th>
                  <th class="col-sm-3"><b>Duration</b>&nbsp;&nbsp;<a href="#" data-toggle="tooltip" data-placement="bottom" title="How long you need to take this"><i class="fa fa-info-circle" aria-hidden="true"></i></a></th>
                  <th class="col-sm-2"><b>Instruction</b></th>
                  <th class="col-sm-1"><b>Actions</b></th>
                </tr>
                </thead>
              </div>
              <div class="row form-group">
                <tbody class="medication-table-body-added">
                    <% (1..5).each_with_index do |elem, i| %>
                        <tr class="treatmentmedications">
                          <td>
                            <div class="form-group">
                              <div class="input-group mb15">
                                <div class="ui-widget">
                                  <%= hidden_field_tag "opdrecord[treatmentmedication_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
                                  <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinename]", nil, {:maxlength => 300, :size => 80, :class => 'form-control medicinename' } %>
                                </div>
                                <span id="medicinename-contents-<%= "#{i}" %>" class="btn btn-xs btn-success btn-square medicinename-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="form-group">
                              <div class="input-group mb15">
                                <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinetype]",nil, { :class => 'form-control medicinetype' } %>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="form-group">
                              <div class="input-group mb15">
                                <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinequantity]", options_for_select(['1/4', '1/2', '1', '2', '3'], "1"), { :class => 'form-control medicinequantity' } %>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="form-group">
                              <div class="input-group mb15">
                                <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinefrequency]", options_for_select([['Select', ''], '1-1-1', '1-1-0', '1-0-1', '0-1-1', '1-0-0', '0-1-0', '0-0-1','2-2-2','2-0-2', '1-1-1-1','once a week','once a month', '5 times a day', '6 times a day', '8 times a day', '10 times a day', '12 times a day', '24 times a day','Sat-Sun', 'SOS'], ""), { :class => 'form-control medicinefrequency'} %>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="form-group">
                              <div class="input-group mb15">
                                <div class="row">
                                  <div class="col-md-4">
                                    <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][medicineduration]", options_for_select([['Sel',''],['1','1'], ['2','2'], ['3','3'], ['4','4'], ['5','5'], ['6','6'], ['7','7'], ['8','8'], ['9','9'], ['10','10'], ['11','11'], ['12','12'], ['15', '15'], ['20', '20'], ['25', '25'], ['30', '30'], ['40', '40'], ['50', '50']  ], ""), { :class => 'form-control medicineduration'} %>
                                  </div>
                                  <div class="col-md-8">
                                    <div class="col-md-12">
                                      <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinedurationoption]", options_for_select([['Sel',''], ['Days', 'D'], ['Weeks', 'W'], ['Months', 'M'], ['Next followup', 'F']], ""), { :class => 'form-control medicinedurationoption', :include_blank => true} %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td class="medication_instruction_box">
                            <div class="form-group instruction">
                              <div class="input-group mb15">
                                <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][instruction]", options_for_select(@medication_instruction_set), {:prompt => 'Please Select', :class => 'form-control instruction_dropdown',:style => "padding: 10px 0px" } %>
                              </div>
                            </div>
                            <div class="form-group hide instruction_box">
                              <div class="input-group mb15">
                                <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicineinstructions]", nil, {:maxlength => 300, :size => 40, :class => 'form-control', :style => "width: 86%" } %>
                                <button type="button" class="btn btn-link undo_button fa fa-undo" style="width: 0%; margin-left: -4%;"></button>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="form-group">
                              <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
                              <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger" href="javascript:;" name="removemedicationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
                            </div>
                          </td>
                        </tr>
                    <%end%>
                </tbody>
              </div>
            </table>
          </div>
          <%= f.submit "Add Medication Set",{:class => 'btn btn-success'}%>
          <button aria-hidden="true" class="btn btn-info medication-kits-cancel" data-dismiss="modal">Cancel</button>
        </div>
      <% end %>
      <input id= "medi_row_count" type="hidden" value="1">
    </div>

    <script>
        <%= render partial: 'manage.js'  %>
    </script>

  </div>
<%else%>
  <div class="modal-body">
    <div class="panel panel-default">
      <%= simple_form_for(@medication_kit, url: create_medication_set_medication_kits_path,:remote => true) do |f| %>
          <div class="panel-body ">
            <%= f.hidden_field :level, id: "level_hidden_id", value: @level %>
            <%= f.hidden_field :facility_id, id: "facility_hidden_id", value: @current_facility.id %>
            <%= f.hidden_field :user_id, { value: @userid } %>
            <%= f.hidden_field :doctor, { value: @userid } %>
            <%= f.hidden_field :department, { value: @department_id, id: "opdrecord_specalityid" } %>
            <div class="row form-group">
              <div class="col-md-1"><%= f.label "Set Name :" %></div>
              <div class="col-md-3 mr10"><%= f.text_field :name,{:class => 'form-control set-name'} %></div>
              <div class="col-md-1">Set Type :</div>
              <%= f.input :set_type, wrapper_html: {:class=>"col-md-6 set-type"}, collection: [ ['OPD', 440655000], ['IPD', 440654001],['Both', 0] ], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "medication_kit[set_type]" }, :checked => @medication_kit.read_attribute(:set_type)|| 440655000 %>
            </div>
            <div class="row form-group">
              <div class="mr10 col-md-4"></div>
              <div class="col-md-7">
                <strong style="color: red">(NOTE: Please select Set Type carefully.If you select OPD, set will appear in OPD only.)</strong>
              </div>
            </div>
            <div class="medication_group" style="padding-bottom:10px">
              <table class="table table-striped table-bordered">
                <div class="row form-group">
                  <thead>
                    <tr>
                      <th class="col-md-2" style="text-align:center;"><b>Name</b> </th>
                      <th class="col-md-1" style="text-align:center;"><b>Type</b></th>
                      <th class="col-sm-1" style="text-align:center;"><b>Quantity</b></th>
                      <th class="col-md-1" style="text-align:center;"><b>Frequency</b>&nbsp;&nbsp;<a href="#" data-toggle="tooltip" data-placement="bottom" title="Number of times in a day"><i class="fa fa-info-circle" aria-hidden="true"></i></a></th>
                      <th class="col-md-2" style="text-align:center;"><b>Duration</b>&nbsp;&nbsp;<a href="#" data-toggle="tooltip" data-placement="bottom" title="How long you need to take this"><i class="fa fa-info-circle" aria-hidden="true"></i></a></th>
                      <th class="col-md-2" style="text-align:center;"><b>Instruction</b></th>
                      <th class="col-md-1" style="text-align:center;"><b>Actions</b></th>
                    </tr>
                  </thead>
                </div>
                <div class="row form-group">
                  <tbody class="medication-table-body-added">
                      <% (1..5).each_with_index do |elem, i| %>
                          <tr class="treatmentmedications">
                            <td style="text-align:center;">
                              <div class="form-group">
                                <div class="input-group mb15">
                                  <div class="ui-widget">
                                    <%= hidden_field_tag "opdrecord[treatmentmedication_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
                                    <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinename]", nil, {:maxlength => 300, :size => 80, :class => 'form-control medicinename' } %>
                                  </div>
                                  <span id="medicinename-contents-<%= "#{i}" %>" class="btn btn-xs btn-success btn-square medicinename-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
                                </div>
                              </div>
                            </td>
                            <td style="text-align:center;">
                              <div class="form-group">
                                <div class="input-group mb15">
                                  <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinetype]",nil, { :class => 'form-control medicinetype' } %>
                                </div>
                              </div>
                            </td>
                            <td style="text-align:center;">
                              <div class="form-group">
                                <div class="input-group mb15">
                                  <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinequantity]", options_for_select(['1/4', '1/2', '1', '2', '3'], "1"), { :class => 'form-control medicinequantity' } %>
                                </div>
                              </div>
                            </td>
                            <td style="text-align:center;">
                              <div class="form-group">
                                <div class="input-group mb15">
                                  <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinefrequency]", options_for_select([['Select', ''], '1-1-1', '1-1-0', '1-0-1', '0-1-1', '1-0-0', '0-1-0', '0-0-1','2-2-2','2-0-2', '1-1-1-1','once a week','once a month', '5 times a day', '6 times a day', '8 times a day', '10 times a day', '12 times a day', '24 times a day','Sat-Sun', 'SOS'], ""), { :class => 'form-control medicinefrequency'} %>
                                </div>
                              </div>
                            </td>
                            <td style="text-align:center;">
                              <div class="form-group">
                                <div class="input-group mb15">
                                  <div class="row">
                                    <div class="col-md-4">
                                      <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][medicineduration]", options_for_select([['Sel',''],['1','1'], ['2','2'], ['3','3'], ['4','4'], ['5','5'], ['6','6'], ['7','7'], ['8','8'], ['9','9'], ['10','10'], ['11','11'], ['12','12'], ['15', '15'], ['20', '20'], ['25', '25'], ['30', '30'], ['40', '40'], ['50', '50']  ], ""), { :class => 'form-control medicineduration'} %>
                                    </div>
                                    <div class="col-md-8">
                                      <div class="col-md-12">
                                        <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinedurationoption]", options_for_select([['Sel',''], ['Days', 'D'], ['Weeks', 'W'], ['Months', 'M'], ['Next followup', 'F']], ""), { :class => 'form-control medicinedurationoption', :include_blank => true} %>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </td>
                            <td style="text-align:center;">
                              <div class="form-group">
                                <div class="input-group mb15">
                                  <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicineinstructions]", nil, {:maxlength => 300, :size => 40, :class => 'form-control' } %>
                                </div>
                              </div>
                            </td>
                            <td style="text-align:center;">
                              <div class="form-group">
                                <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
                                <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger" href="javascript:;" name="removemedicationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
                              </div>
                            </td>
                          </tr>
                      <%end%>
                  </tbody>
                </div>
              </table>
            </div>
            <%= f.submit "Add Medication Set",{:class => 'btn btn-success'}%>
            <button aria-hidden="true" class="btn btn-info medication-kits-cancel" data-dismiss="modal">Cancel</button>
          </div>
      <% end %>
      <input id= "medi_row_count" type="hidden" value="1">
    </div>

    <script>
        <%= render partial: 'manage.js'  %>
    </script>

  </div>
<%end%>

<style type="text/css">
  .hide{
    display: none;
  }
</style>

<%= javascript_include_tag "autocomplete/medicine" %>
