<div class="modal-body">

  <div class="panel panel-default">
    <%= simple_form_for(@medication_kit, url: create_medication_set_medication_kits_path,:remote => true) do |f| %>
        <div class="panel-body ">
          <%= f.text_field :user_id,{:type => "hidden",:value=>@userid} %>

          <div class="row form-group">

            <div class="col-md-1"><%= f.label "Set Name :" %></div>
            <div class="col-md-3 mr10"><%= f.text_field :name,{:class => 'form-control'} %></div>

            <div class="col-md-2">Laboratory Set Type :</div>
            <%= f.input :medicationsettype, wrapper_html: {:class=>"col-md-5"}, collection: [ ['OPD', 1], ['Admission', 2], ['Post-op', 3] ], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white' %>

          </div>

          <hr>
          <div class="medication_group" style="padding-bottom:10px">
            <div class="row form-group">
              <div class="col-sm-3"> <b>Name</b> </div>
              <div class="col-sm-2"> <b>Contents</b></div>
              <div class="col-sm-2"> <b>Frequency</b></div>
              <div class="col-sm-1"> <b>Duration (in days)</b></div>
              <div class="col-sm-2"> <b>Instruction</b></div>
              <div class="col-sm-2"></div>
            </div>
            <div class="row form-group">
              <div class="col-sm-3">
                <input class="form-control medicinename" id="medication_kit_kit_details_0_medicinename" name="medication_kit[kit_details][0][medicinename]" type="text">
              </div>
              <div class="col-sm-2">
                <textarea class="form-control" id="medication_kit_kit_details_0_medicinecontents" name="medication_kit[kit_details][0][medicinecontents]"></textarea>
              </div>
              <div class="col-sm-2">
                <select class="form-control" id="medication_kit_kit_details_0_medicinefrequency" name="medication_kit[kit_details][0][medicinefrequency]">
                  <option value=""></option>
                  <option value="1-0-0">1-0-0</option>
                  <option value="0-1-0">0-1-0</option>
                  <option value="0-0-1">0-0-1</option>
                  <option value="1-1-0">1-1-0</option>
                  <option value="1-0-1">1-0-1</option>
                  <option value="0-1-1">0-1-1</option>
                  <option value="1-1-1">1-1-1</option>
                </select>
              </div>
              <div class="col-sm-1">
                <input class="form-control" id="medication_kit_kit_details_0_medicineduration" name="medication_kit[kit_details][0][medicineduration]" type="text">
              </div>
              <div class="col-sm-2">
                <input class="form-control medicinename" id="medication_kit_kit_details_0_medicineinstructions" name="medication_kit[kit_details][0][medicineinstructions]" type="text">
              </div>
              <div class="col-sm-2">
                <span id="add_medication_item" class="btn btn-sm btn-primary btn-square glyphicon glyphicon-plus-sign"></span>
                <span id="remove_medication_item_0" class="btn btn-sm btn-primary btn-danger glyphicon glyphicon-remove"></span>
              </div>
            </div>
          </div>

          <%= f.submit "Add Laboratory Set",{:class => 'btn btn-success'}%>
          <button aria-hidden="true" class="btn btn-info medication-kits-cancel" data-dismiss="modal">Cancel</button>

        </div>
    <% end %>
    <input id= "medi_row_count" type="hidden" value="1">
  </div>

  <script>
      <%= render partial: 'manage.js'  %>
  </script>

</div>