<table class="table table-striped table-bordered" id="medication_main_table">
  <thead>
    <tr>
      <th class="col-md-2" style="text-align:center;"><b>Name</b> </th>
      <th class="col-md-1" style="text-align:center;"><b>Type</b></th>
      <th class="col-md-1 quantity_th" style="text-align:center;"><b>Quantity</b></th>
      <th class="col-md-1" style="text-align:center;"><b>Frequency</b></th>
      <th class="col-md-2" style="text-align:center;"><b>Duration</b></th>
      <th class="col-md-1 taper_th" style="text-align:center;"><b>Taper</b></th>
      <th class="col-md-1 eyeside_th" style="text-align:center;"><b>Side</b></th>
      <th class="col-md-2" style="text-align:center;"><b>Instruction</b></th>
      <th class="col-md-1" style="text-align:center;"><b>Actions</b></th>
    </tr>
  </thead>
  <tbody class="medication-table-body-added medication_set_body" id="medicationTable">
    <% if @medication_details.count > 0 %>
      <% @medication_details.each do |index, medication_data| %>
        <tr class="treatmentmedications">
          <td style="text-align:center;">
            <div class="form-group">
              <div class="input-group mb15">
                <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{index}][medicinename]", medication_data['medicinename'], {:maxlength => 300, :size => 80, :class => 'form-control medicinename' } %>
              </div>
            </div>
          </td>
          <td style="text-align:center;">
            <div class="form-group">
              <div class="input-group mb15">
                <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{index}][medicinetype]", medication_data['medicinetype'], { :class => 'form-control medicinetype' } %>
              </div>
            </div>
          </td>
          <td style="text-align:center;">
            <div class="form-group">
              <div class="input-group mb15">
                <%= select_tag "opdrecord[treatmentmedication_attributes][#{index}][medicinequantity]", options_for_select(['1/4', '1/2', '1', '2', '3'], medication_data['medicinequantity']), { :class => 'form-control medicinequantity' } %>
              </div>
            </div>
          </td>
          <td style="text-align:center;">
            <div class="form-group">
              <div class="input-group mb15">
                <%= select_tag "opdrecord[treatmentmedication_attributes][#{index}][medicinefrequency]", options_for_select([['Sel',''], ['1','1'],['2','2'],[ '3','3'], ['4','4'], ['5','5'], ['6','6'], ['8','8'], ['10','10'], ['12', '12'], ['18','18'], ['24','24'], ['SOS','SOS']], medication_data['medicinefrequency']), { :class => 'form-control medicinefrequency'} %>
              </div>
            </div>
          </td>
          <td style="text-align:center;">
            <div class="form-group">
              <div class="input-group mb15">
                <div class="row">
                  <div class="col-md-6">
                    <%= select_tag "opdrecord[treatmentmedication_attributes][#{index}][medicineduration]", options_for_select([['Sel',''],['1','1'], ['2','2'], ['3','3'], ['4','4'], ['5','5'], ['6','6'], ['7','7'], ['8','8'], ['9','9'], ['10','10'], ['11','11'], ['12','12'], ['15', '15'], ['20', '20'], ['25', '25'], ['30', '30'], ['40', '40'], ['50', '50']  ],medication_data['medicineduration']), {:class => 'form-control medicineduration'} %>
                  </div>
                  <div class="col-md-6">
                    <%= select_tag "opdrecord[treatmentmedication_attributes][#{index}][medicinedurationoption]", options_for_select([['Sel',''], ['Days', 'D'], ['Weeks', 'W'], ['Months', 'M'], ['Next followup', 'F']], medication_data['medicinedurationoption']), { :class => 'form-control medicinedurationoption'} %>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td style="text-align:center;" class="taper_td">
            <div class="form-group" style="margin-right:0px;">
              <div class="input-group mb15 link_medication">
                <% @taper_kit = TaperingKit.find_by(id: medication_data['taper_id']) %>
                <%if @taper_kit.present? %>
                  <% @taper_kit.tapering_set[0].start_date = Date.current.strftime("%d/%m/%Y") %>
                  <% @taper_kit.updated_at = Time.current %>
                  <% @taper_kit.save %>
                <% end %>
                <span class="btn btn-link btn-xs tapering_btn" style="display:inline;"><i class="fa fa-plus"></i> Add</span>
                <%= hidden_field_tag "opdrecord[treatmentmedication_attributes][#{index}][taper_id]", medication_data['taper_id'], {:class => 'form-control tapering_id' } %>
              </div>
            </div>
          </td>
          <td style="text-align:center;" class="eyeside_td">
            <div class="form-group" style="width: 100%;">
              <div class="input-group mb15">
                <%= select_tag "opdrecord[treatmentmedication_attributes][#{index}][eyeside]", options_for_select(['L', 'R', 'BE'], medication_data['eyeside']), {:prompt => 'Select', :class => 'form-control eyeside',:style => "padding: 10px 0px" } %>
              </div>
            </div>
          </td>
          <td class="medication_instruction_box" style="text-align:center;">
            <% if @current_facility.show_language_support %>
              <% if medication_data['medicineinstructions'].present? %>
                <div class="form-group edit_instruction_box">
                  <div class="input-group mb15">
                    <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{index}][medicineinstructions]", medication_data['medicineinstructions'], {:maxlength => 300, :size => 40, :class => 'form-control text_box_val', :style => "width: 86%" } %>
                    <button type="button" class="btn btn-link undo_button_edit fa fa-undo" style="width: 0%; margin-left: -4%;"></button>
                  </div>
                </div>
                <div class="form-group hide edit-instruction">
                  <div class="input-group mb15">
                    <%= select_tag "opdrecord[treatmentmedication_attributes][#{index}][instruction]", options_for_select(@medication_instruction_set,""), {:prompt => 'Please Select', :class => 'form-control instruction_dropdown',:style => "padding: 10px 0px" } %>
                  </div>
                </div>
              <% elsif medication_data['instruction'].present? %>
                <div class="form-group edit-instruction">
                  <div class="input-group mb15">
                    <%= select_tag "opdrecord[treatmentmedication_attributes][#{index}][instruction]", options_for_select(@medication_instruction_set,medication_data['instruction']), {:prompt => 'Please Select', :class => 'form-control instruction_dropdown',:style => "padding: 10px 0px" } %>
                  </div>
                </div>
                <div class="form-group edit_instruction_box hide">
                  <div class="input-group mb15">
                    <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{index}][medicineinstructions]", medication_data['medicineinstructions'], {:maxlength => 300, :size => 40, :class => 'form-control text_box_val', :style => "width: 86%" } %>
                    <button type="button" class="btn btn-link undo_button_edit fa fa-undo" style="width: 0%; margin-left: -4%;"></button>
                  </div>
                </div>
              <% else %>
                <div class="form-group edit-instruction">
                  <div class="input-group mb15">
                    <%= select_tag "opdrecord[treatmentmedication_attributes][#{index}][instruction]", options_for_select(@medication_instruction_set,""), {:prompt => 'Please Select', :class => 'form-control instruction_dropdown',:style => "padding: 10px 0px" } %>
                  </div>
                </div>
                <div class="form-group edit_instruction_box hide">
                  <div class="input-group mb15">
                    <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{index}][medicineinstructions]", medication_data['medicineinstructions'], {:maxlength => 300, :size => 40, :class => 'form-control text_box_val', :style => "width: 86%" } %>
                    <button type="button" class="btn btn-link undo_button_edit fa fa-undo" style="width: 0%; margin-left: -4%;"></button>
                  </div>
                </div>
              <% end %>
            <% else %>
              <div class="form-group instruction_box">
                <div class="input-group mb15">
                  <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{index}][medicineinstructions]", nil, {:maxlength => 300, :size => 40, :class => 'form-control', :style => "width: 86%" } %>
                </div>
              </div>
            <% end %>
          </td>
          <td style="text-align:center;">
            <div class="form-group">
              <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square add-new-btn" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
              <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger removemedicationbutton" name="removemedicationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
            </div>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= javascript_include_tag "autocomplete/medicine" %>
<script>
  function remove_taper_id(){
    $(".btn_taper_remove").on('click', function(){
      $(this).closest(".link_medication").find(".tapering_id").val(0)
      $(this).closest(".link_medication").find(".tapering_btn").html("")
      $(this).closest(".link_medication").find(".tapering_btn").html("<i class='fa fa-plus'></i> Add")
      $(this).remove()
    })
  }

  jQuery('.add-new-btn').on('click', function() {
    event.preventDefault();
    if ($('.specialty_dropdown').val() == "") {
      flag = false
      alert('Select Specialty First')
    }else{
      flag = true
    }
    if (flag) {
      var fieldcounter;
      if (jQuery(".medication-table-body-added > .treatmentmedications").length == 0){
        fieldcounter = 0;
      } else {
        fieldcounter = jQuery(".medication-table-body-added > .treatmentmedications").length;
      }
      var params = { counter: fieldcounter};
      jQuery.ajax({
        type: "GET",
        dataType: "script",
        url: "/opd_records/add_medication",
        data: {ajax: params, remote: "true" },
        async: false,
        success: function(){
          //add_button_at_last()
        }
      });
      //_renumber_id_after_remove("tbody.medication-table-body-added", "div.medication-table-body-removed");
    }
  })

  function button_disable_enable() {
    if($('#medicationTable tr').length === 1){
      $('.removemedicationbutton').attr("disabled", true)
    } else{
      $('.removemedicationbutton').attr("disabled", false)
    }
  }
  button_disable_enable()

  function add_button_at_last() {
    $('#medicationTable').find('.add-new-btn').addClass("hidden")
    $('#medicationTable').find('.add-new-btn').last().removeClass("hidden")
  }
  add_button_at_last()

  function _renumber_id_after_remove(added, removed) {
    var counter = 0;
    jQuery(added).find("tr").each(function() {
      jQuery(this).find("input").each(function(index, element) {
        var nameattr, idattr;
        nameattr = element.name.replace(/\[[0-9]+\]/g, '['+counter+']');
        idattr = element.id.replace(/\_[0-9]+\_/g, '_'+counter+'_');
        jQuery(this).attr('name', nameattr);
        jQuery(this).attr('id', idattr);
      });
      jQuery(this).find("select").each(function(index, element) {
        var nameattr, idattr;
        nameattr = element.name.replace(/\[[0-9]+\]/g, '['+counter+']');
        idattr = element.id.replace(/\_[0-9]+\_/g, '_'+counter+'_');
        jQuery(this).attr('name', nameattr);
        jQuery(this).attr('id', idattr);
      });
      jQuery(this).find("a").each(function(index, element) {
        var idattr;
        idattr = element.id.replace(/[0-9]/g, counter);
        jQuery(this).attr('id', idattr);
      });
      counter++;
    });
    jQuery(removed).find("tr").each(function() {
      jQuery(this).find("input").each(function(index, element) {
        var nameattr, idattr;
        nameattr = element.name.replace(/\[[0-9]+\]/g, '['+counter+']');
        idattr = element.id.replace(/\_[0-9]+\_/g, '_'+counter+'_');
        jQuery(this).attr('name', nameattr);
        jQuery(this).attr('id', idattr);
      });
      jQuery(this).find("select").each(function(index, element) {
        var nameattr, idattr;
        nameattr = element.name.replace(/\[[0-9]+\]/g, '['+counter+']');
        idattr = element.id.replace(/\_[0-9]+\_/g, '_'+counter+'_');
        jQuery(this).attr('name', nameattr);
        jQuery(this).attr('id', idattr);
      });
      jQuery(this).find("a").each(function(index, element) {
        var idattr;
        idattr = element.id.replace(/[0-9]/g, counter);
        jQuery(this).attr('id', idattr);
      });
      counter++;
    });
  }

  $('.removemedicationbutton').on('click', function(e) {
    e.preventDefault();
    if($('#medicationTable tr').length == 1){
      $('.removemedicationbutton').attr("disabled", true)
    } else{
      $('.removemedicationbutton').attr("disabled", false)
    }
  });

  $('.medication-table-body-added').on('click', "a[name*='removemedicationbutton']", function() {
    event.preventDefault();
    var medications_removed_tr_html;
    var fieldcounter;
    fieldcounter = jQuery(this).attr('id').slice(-1);
    var medications_tr_array = jQuery(this).parents('.treatmentmedications').find(".id");
    if (medications_tr_array.length > 0) {
      jQuery(this).parents('.treatmentmedications').find("input[name*='_destroy']").val("1");
      medications_removed_tr_html = jQuery(this).parents('.treatmentmedications').wrap('<p/>').parent().html();
      jQuery(this).parents('.treatmentmedications').unwrap();
      jQuery('.medication-table-body-removed').append(medications_removed_tr_html);
      jQuery(this).parents('.treatmentmedications').remove();
      add_button_at_last()
      _renumber_id_after_remove("tbody.medication-table-body-added", "div.medication-table-body-removed");
    } else {
      jQuery(this).parents('.treatmentmedications').remove();
      add_button_at_last()
      _renumber_id_after_remove("tbody.medication-table-body-added", "div.medication-table-body-removed");
    }
  });


  function add_taper_id(id, value) {
    $("#"+id).val(value)
    $("#"+id).closest(".link_medication").find(".tapering_btn").html("")
    $("#"+id).closest(".link_medication").find(".tapering_btn").html("<i class='fa fa-edit'></i>")
    $("#"+id).closest(".link_medication").find(".btn_taper_remove").remove()
    $("#"+id).closest(".link_medication").append("<span class='btn btn-link btn-xs btn_taper_remove' style='margin-left:-10px;'><i class='fa fa-trash-alt'></i></span>")

    remove_taper_id()
  }

  // Logic to get add button on Load
  var med_row = $(".treatmentmedications")
  for (var i = med_row.length - 1; i >= 0; i--) {
    if($(med_row[i]).find(".link_medication").find(".tapering_id").val() != 0){
      $(med_row[i]).find(".link_medication").find(".tapering_btn").html("")
      $(med_row[i]).find(".link_medication").find(".tapering_btn").html("<i class='fa fa-edit'></i>")
      $(med_row[i]).find(".link_medication").find(".btn_taper_remove").remove()
      $(med_row[i]).find(".link_medication").append("<span class='btn btn-link btn-xs btn_taper_remove' style='margin-left:-10px;'><i class='fa fa-trash-alt'></i></span>")
    }
    remove_taper_id()
  }

  $(".instruction_dropdown").on("change",function(){
    var id = $(this).attr("id")
    if ($("#"+id).val() == "Add a text Box"){
      $("#"+id).parent(".input-group").parent(".instruction").next(".instruction_box").removeClass('hide').removeAttr("disabled","disabled");
      $(this).parent(".input-group").parent(".instruction").hide().attr("disabled","disabled");
    }
  })

  $(".undo_button").on("click",function(e){
    e.preventDefault();
    $(this).parent(".input-group").parent('.instruction_box').parent('.medication_instruction_box').children('.instruction').show().removeAttr("disabled","disabled");
    $(this).parent(".input-group").parent('.instruction_box').addClass("hide").attr("disabled","disabled");
  })

  $(".undo_button_edit").on("click",function(e){
    e.preventDefault();
    $(this).parent(".input-group").parent('.edit_instruction_box').children(".input-group").children(".text_box_val").val("")
    $(this).parent(".input-group").parent('.edit_instruction_box').next(".edit_instruction").removeClass("hide");
    $(this).parent(".input-group").parent('.edit_instruction_box').hide()
  })

  $(".instruction_dropdown").on("change",function(){
    var id = $(this).attr("id")
    if ($("#"+id).val() == "Add a text Box"){
      $("#"+id).parent(".input-group").parent(".edit-instruction").next(".instruction_box").removeClass('hide').removeAttr("disabled","disabled");
      $("#"+id).parent(".input-group").parent(".edit-instruction").hide().attr("disabled","disabled")
      $("#"+id).val("")
    }
  })

  function taper_form(){
    $(".tapering_btn").on('click', function(e){
      _this = this
      var med_id = $(this).closest(".link_medication").find(".tapering_id").attr("id")
      var medicinename = $(this).closest(".treatmentmedications").find(".medicinename").val()
      var medicinefrequency = $(this).closest(".treatmentmedications").find(".medicinefrequency").val()
      var medicineduration = $(this).closest(".treatmentmedications").find(".medicineduration").val()
      var medicinedurationoption = $(this).closest(".treatmentmedications").find(".medicinedurationoption").val()
      var pharmacy_item_id = $(this).closest(".treatmentmedications").find(".pharmacy_item_id").val()
      var generic_display_name = $(this).closest(".treatmentmedications").find(".generic_display_name").val()
      var generic_display_ids = $(this).closest(".treatmentmedications").find(".generic_display_ids").val()
      if(medicinename != "" && medicineduration != "" && medicinedurationoption != "" &&  medicinedurationoption != "F"){
        e.preventDefault();
        if($(this).closest(".link_medication").find(".tapering_id").val() == 0){
          $.ajax({
            type: "GET",
            url: "/tapering_kits/new",
            data: {
              remote: "true",
              med_id: med_id,
              medicinename: medicinename,
              medicineduration: medicineduration,
              medicinedurationoption: medicinedurationoption,
              medicinefrequency: medicinefrequency,
              pharmacy_item_id: pharmacy_item_id,
              generic_display_ids: generic_display_ids,
              generic_display_name: generic_display_name,
              source: "Templates"
            },
            success: function(){
              $(_this).closest(".treatmentmedications").find(".medicinename").closest(".input-group").find(".fill_detail").remove()
              $(_this).closest(".treatmentmedications").find(".medicineduration").closest(".input-group").find(".fill_detail").remove()
            }
          })
        } else {
          $.ajax({
            type: "GET",
            url: "/tapering_kits/" + $(this).closest(".link_medication").find(".tapering_id").val() + "/edit",
            data: {
              remote: "true",
              med_id: med_id,
              medicinename: medicinename,
              medicineduration: medicineduration,
              medicinedurationoption: medicinedurationoption,
              medicinefrequency: medicinefrequency,
              source: "Templates"
            },
            success: function(){
              $(_this).closest(".treatmentmedications").find(".medicinename").closest(".input-group").find(".fill_detail").remove()
              $(_this).closest(".treatmentmedications").find(".medicineduration").closest(".input-group").find(".fill_detail").remove()
            }
          })
        }
      } else {
        if(medicinename == ""){
          $(this).closest(".treatmentmedications").find(".medicinename").closest(".input-group").find(".fill_detail").remove()
          $(this).closest(".treatmentmedications").find(".medicinename").closest(".input-group").append("<span class='label label-danger fill_detail'>Fill Medicine</span>")
        } else {
          $(this).closest(".treatmentmedications").find(".medicinename").closest(".input-group").find(".fill_detail").remove()
        }
        if(medicinedurationoption == ""){
          $(this).closest(".treatmentmedications").find(".medicineduration").closest(".input-group").find(".fill_detail").remove()
          $(this).closest(".treatmentmedications").find(".medicineduration").closest(".input-group").append("<span class='label label-danger fill_detail'>Fill Duration</span>")
        } else if( medicinedurationoption == "F"){
          $(this).closest(".treatmentmedications").find(".medicineduration").closest(".input-group").find(".fill_detail").remove()
          $(this).closest(".treatmentmedications").find(".medicineduration").closest(".input-group").append("<span class='label label-danger fill_detail'>Select Month, Week or Day</span>")
        } else {
          $(this).closest(".treatmentmedications").find(".medicineduration").closest(".input-group").find(".fill_detail").remove()
        }
      }
    })
  }
  taper_form();

  // $(".specialty_dropdown").on("change",function(){
  //   var value = $(this).attr("value")
  //   if (value != '309988001') {
  //     $(".taper_th").hide();$(".taper_td").hide();$(".eyeside_th").hide();$(".eyeside_td").hide()
  //   }else{
  //     $(".taper_th").show();$(".taper_td").show();$(".eyeside_th").show();$(".eyeside_td").show()
  //   }
  // }).trigger('change')

  function medication_page() {
  $("#new_medication_kit").validate({
  });

  $("#edit_medication_kit").validate({
  });

  $.validator.addMethod("fieldRequired", $.validator.methods.required, "Please enter set name.");
  $.validator.addClassRules("set-name", { fieldRequired: true});

  $.validator.addMethod("SpecialtyRequired", $.validator.methods.required, "Please select any specialty");
  $.validator.addClassRules("specialty_dropdown", { SpecialtyRequired: true});
 }
 medication_page()

</script>
