<%= javascript_include_tag 'application-loggedin', 'data-turbolinks-track' => true %>
<div class="modal-dialog" style="width: 65%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Receipt Template</h4>
    </div>
    <%= simple_form_for @invoice_template, remote: true do |f| %>
      <%= f.hidden_field :organisation_id, value: @invoice_template.organisation_id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :version, value: 'v21.0' %>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <b>Name</b>
            <%= f.text_field :name, class: 'form-control invoice_template_name p5_10' %>
          </div>
          <% facilities = Common.new.fetch_facilities(user: current_user) %>
          <% if facilities.count > 1 %>
            <div class="col-md-3">
              <b>Location</b>
              <%= f.select :facility_id, options_for_select(facilities.pluck(:name, :id), @invoice_template.facility_id.to_s), {}, class: 'form-control p5_10', style: 'height:30px;' %>
            </div>
          <% else %>
            <%= f.hidden_field :facility_id, value: @invoice_template.facility_id.to_s %>
          <% end %>
          <div class="col-md-3">
            <b>Specialty</b>
            <%= f.select :specialty_id, options_for_select(@available_specialties.pluck(:name, :id), @invoice_template.specialty_id), {}, class: 'form-control', style: 'height:30px;' %>
          </div>
          <div class="col-md-2">
            <b>Department</b>
            <%= f.input :department_id, collection: [['OPD', '485396012'], ['IPD', '486546481']], as: :hg_radio_button, label: false, required: false, class: 'btn btn-xs btn-white', input_html: { name: 'invoice_template[department_id]' }, checked: @invoice_template.department_id || '485396012' %>
          </div>
        </div>
        <hr>
        <div class="row mb10">
          <div class="col-md-4">
            <b>Contact</b>
            <% @payer_fields.prepend(id: 'general', display_name: 'General') %>
            <%= f.select :payer_master_id, options_for_select(@payer_fields.pluck(:display_name, :id), @invoice_template.payer_master_id), { include_blank: 'Select' }, class: 'form-control', style: 'height:30px;' %>
          </div>
        </div>
        <%= render partial: 'invoice_templates/edit_service_item_v21.html.erb' %>
      </div>
      <div class="modal-footer">
        <%= f.submit 'Update Template', class: 'btn btn-success', onclick: 'invoice_page()' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>
