<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog add_medication_list_modal">
 
  <%= form_tag save_medication_list_path, method: "post", remote: true, id: 'medication-list-form' do %>
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-lg-8 text-center">
            <h4 class="modal-title">
              <b style="font-size: 18px;">Add Medication List for  -> <%= @level_name %>  </b>
            </h4>
          </div>
          <div class="col-lg-4">
            <div class="pull-right">
              <button type="submit" class="btn btn-success" id="save_medication_list_btn" onclick="valivate_medication_list_form()"> Save </button>
              <button type="button" class="btn btn-default" data-dismiss="modal" id="close_medication_list_btn">Close</button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="modal-body">
        <div class="medication_list_wrapper">
          <div class="row clearfix padding_row">
            <div class="col-md-5">
              <div class="row">
                <div class="col-sm-3 col-sm-offset-1" style="margin-top: 4px;"><b style="font-size: 16px;">Specialty :</b></div>
                <div class="col-sm-7">
                  <%= select_tag "medication_kit[specialty_id]", options_for_select(@available_specialties.pluck(:name, :id), @selected_specialty), { :class => 'form-control specialty_dropdown',  :include_blank => 'Select any Specialty' } %>
                </div>
              </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-3">
              <button class="btn btn-info" type="button" id="add_new_row">Add new row</button>
            </div>  
          </div>
          <div class="row">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Medicine Name</th>
                  <th>Generic Name</th>
                  <th>Medicine Type</th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="tr_adder">
                <% (1..5).each_with_index do |elem, i|%>
                  <tr>
                    <td>
                      <div class="form-group">
                        <%= hidden_field_tag "my_practice_medication_list[#{i}][specialty_id]", @selected_specialty, class: 'specialty_id_field' %>
                        <%= text_field_tag "my_practice_medication_list[#{i}][name]", nil, placeholder: "Medicine Name", class:"form-control" %>
                      </div>
                    </td>
                    <td>
                      <div class="form-group">
                        <%= text_field_tag "my_practice_medication_list[#{i}][contents]", nil, placeholder: "Generic Name", class: "form-control" %>
                      </div>
                    </td>
                    <td>
                      <div class="form-group">
                        <%#= text_field_tag "my_practice_medication_list[#{i}][med_type]", nil, placeholder: "Medicine Type", class: "form-control" %>
                       <%= select_tag "my_practice_medication_list[#{i}][med_type]", options_for_select([['Select',''],['Tablets','Tablets'],['Capsules','Capsules'],['Sachets','Sachets'],['Syrups','Syrups'],['Spray','Spray'],['Powder','Powder'],['Eyedrops','Eyedrops'],['Vaccines','Vaccines'],['Ointment','Ointment'],['Granules','Granules'],['Inhalers','Inhalers'],['Rotacaps','Rotacaps'],['Oraldrops','Oraldrops'],['Eardrops','Eardrops'],['Cream','Cream'],['Aerosols','Aerosols'],['Cartridges','Cartridges'],['Gel','Gel'],['Enema','Enema'],['Suppository','Suppository'],['Pessary','Pessary'],['Lotion','Lotion'],['Nosedrops','Nosedrops'],['Solution','Solution'],['Suspension','Suspension'],['Injectable','Injectable'], ['Liquid', 'Liquid']], { :prompt => 'Select' }),{ :class=> "form-control select2_class" } %>
                      </div>
                    </td>
                     <td class="align_row_remover">
                      <a href="#" class="text-danger row_remover">
                      <i class="fa fa-times" aria-hidden="true"></i>
                      </a>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <input type="hidden" name="level" value="<%= @level %>">
        <input type="hidden" name="row_counter" value='6' class="row_counter">
      </div>
    </div>
  <% end %>

</div>

<style type="text/css">
  .add_medication_list_modal{
    width: 70%;
  }
  .align_row_remover{
    vertical-align: middle !important;
  }
  .padding_row{
    padding: 8px 0;
  }
</style>

<script type="text/javascript">
  $("#add_new_row").on('click',function(){
    var row_counter = $('.row_counter').val();
    var specialty_id = $(".specialty_dropdown").val()

    var select_tag  = '<select class="form-control select2_class" name="my_practice_medication_list['+row_counter+'][med_type]" id="my_practice_medication_list_'+row_counter+'_med_type" class="form-control dispensing-unit-dd"><option value="">Select</option><option value="Tablets">Tablets</option><option value="Capsules">Capsules</option><option value="Sachets">Sachets</option><option value="Syrups">Syrups</option><option value="Spray">Spray</option><option value="Powder">Powder</option><option value="Eyedrops">Eyedrops</option><option value="Vaccines">Vaccines</option><option value="Ointment">Ointment</option><option value="Granules">Granules</option><option value="Inhalers">Inhalers</option><option value="Rotacaps">Rotacaps</option><option value="Oraldrops">Oraldrops</option><option value="Eardrops">Eardrops</option><option value="Cream">Cream</option><option value="Aerosols">Aerosols</option><option value="Cartridges">Cartridges</option><option value="Gel">Gel</option><option value="Enema">Enema</option><option value="Suppository">Suppository</option><option value="Pessary">Pessary</option><option value="Lotion">Lotion</option><option value="Nosedrops">Nosedrops</option><option value="Solution">Solution</option><option value="Suspension">Suspension</option><option value="Injectable">Injectable</option></select>';

    var single_row = "<tr><td><div class='form-group'><input type='hidden' name='my_practice_medication_list["+ row_counter +"][specialty_id]' id='my_practice_medication_list_"+row_counter+"_specialty_id' class='specialty_id_field' value='" + specialty_id + "'><input type='text' name='my_practice_medication_list["+ row_counter +"][name]' id='my_practice_medication_list_"+row_counter+"_name' placeholder='Medicine Name' class='form-control'></div></td><td><div class='form-group'><input type='text' name='my_practice_medication_list["+row_counter+"][contents]' id='my_practice_medication_list_"+row_counter+"_contents' placeholder='Generic Name' class='form-control'></div></td><td><div class='form-group'>"+select_tag+"</div></td><td class='align_row_remover'><a href='#' class='text-danger row_remover'><i class='fa fa-times' aria-hidden='true'></i></td></tr>";
    
    $(".tr_adder").prepend(single_row);
    $('.row_counter').val(parseInt(row_counter) + 1);
    $(".select2_class").select2();
  })

  $(document).on('click',".row_remover",function(e){
    e.preventDefault();
    $(this).closest('tr').remove();

  })
  $(".select2_class").select2();

  $(".specialty_dropdown").on('change',function(){
    var specialty_id = $(this).val();

    $('.specialty_id_field').attr('value', specialty_id)
  })

  function valivate_medication_list_form() {
    $("#medication-list-form").validate({
      rules: {
        "medication_kit[specialty_id]": {
          required: true,
        }
      },
      messages: {
        "medication_kit[specialty_id]": {
          required: "Please Select any Specialty"
        }
      }
    });
  }
  valivate_medication_list_form()
</script>