let form_name = $('#form_object_name').val()
<%= render partial: 'form.js.erb' %>

<% @medication_list.generic_names.each do |generic_name| %>
  fill_generic_composition(<%= raw generic_name.to_json %>)
<% end %>

<% if @medication_list.generic_names.count == 0 %>
  $('.btn-add-item').trigger('click')
  $('.clear-generic-tag').hide()
<% end %>

function fill_generic_composition(generic_name)
{
  let counter = $('.generic-composition-row').length
  $('.generic-btn-container').remove()
  $('.generic-composition-section').append(`
    <div class="generic-composition-row mb10 col-sm-6">
      <div class="col-md-5">
        <input type="text" name="${form_name}[generic_names_attributes][${counter}][name]" value='${generic_name.name}' class='item_name form-control p5_10' readonly>
        <input type="hidden" name="${form_name}[generic_names_attributes][${counter}][generic_id]" value='${generic_name.generic_id}' class='generic_id'>
      </div>
      <div class="col-md-5" style="padding: 0">
        <div class="col-md-5" style="padding: 0;">
          <input type="number" name="${form_name}[generic_names_attributes][${counter}][quantity]" value='${generic_name.quantity}' class='item_quantity form-control' style="padding: 5px 2px;" step='0.00001' min=0.0>
        </div>
        <div class="col-md-7" style="padding: 0;">
          <select name="${form_name}[generic_names_attributes][${counter}][unit]" class='form-control item_unit item-unit-${counter}' style="padding: 6px 4px;">
          <option value="">Select</option>
          <option value="E/O">E/O</option>
          <option value="mg">mg</option>
          <option value="ml">ml</option>
          <option value="%">%</option>
          <option value="% E/O">% E/O</option>
          <option value="% w/v">% w/v</option>
          <option value="mg/ml">mg/ml</option>
          <option value="w/v">w/v</option>
          <option value="IU">IU</option>
        </select>
        </div>
      </div>
      <div class="col-md-2">
        <button class="btn btn-danger btn-xs btn-remove-item" style="padding: 3px 10px;">&times;</button>
      </div>
    </div>
    <div class='generic-btn-container col-md-1'>
      <span class="btn btn-primary btn-xs btn-add-item" onclick='add_generic_composition()'><i class="fa fa-plus"></i></sapn>
    </div>
  `)
  $('.item-unit-'+counter).val(generic_name.unit)
}


let medicine_class_name = ""
<% @medication_list.medicine_class_name.each_with_index do |class_name, index| %>
  medicine_class_name += `
	<div class="alert alert-info col-md-4 item-class-card">
	  <span class='btn-remove-class' aria-hidden="true">&times;</span></button>
	  <p><%= class_name.medicine_class %></p>
	  <input type="hidden" name="${form_name}[medicine_class_name_attributes][<%=index%>][medicine_class]" class='item_class' readonly='true' value='<%= class_name.medicine_class %>'>
	  <input type="hidden" name="${form_name}[medicine_class_name_attributes][<%=index%>][medicine_class_id]" class='item_class_id' readonly='true' value='<%= class_name.medicine_class_id%>'>
	</div> 
  `
<% end %>

$('#item_class_section').append(medicine_class_name)