<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog add_medication_list_modal">
  <%= form_with model: @medication_list, remote: true, id: 'medication-list-form', url: practice_medication_list_path(@medication_list), method: :patch do |f| %>
    <input type="hidden" id="form_object_name" value="<%= f.object_name %>">
    <div class="modal-content">
      <%= f.hidden_field :level, {value: @level} %>
      <%= f.hidden_field :user_id, {value: current_user.id} %>
      <%= f.hidden_field :facility_id, {value: current_facility.id} %>
      <%= f.hidden_field :organisation_id, {value: current_user.organisation_id} %>
      <%= f.hidden_field :specialty_id, {value: @selected_specialty, class: 'specialty_id_field' } %>
      <%= render partial: 'form.html.erb', locals: {f: f} %>  
    </div>
    <div class="modal-footer">
      <%= f.submit "Update", { class: 'btn btn-success', onclick: 'valivate_medication_list_form()', data: { disable_with: "Please Wait..."} } %>
    </div>  
  <% end %>
</div>

<style type="text/css">
  .add_medication_list_modal{
    width: 70%;
  }
</style>