<div class="modal-header">
  <div class="row">
    <div class="col-lg-6 text-center">
      <h4 class="modal-title">
        <b style="font-size: 18px;">Add Medication List for  -> <%= @level_name %>  </b>
      </h4>
    </div>
    <div class="col-lg-5">
      <div class="col-sm-3 col-sm-offset-1 required" style="margin-top: 4px;"><strong>Specialty:</strong></div>
      <div class="col-sm-7">
        <%= f.select :specialty_id, options_for_select(@available_specialties.pluck(:name, :id), @selected_specialty), {include_blank: 'Select any Specialty' }, {class: 'form-control specialty_dropdown'} %>
      </div>
    </div>    
    <div class="col-lg-1">
      <div class="pull-right">
        <button type="button" class="close" style="font-size: 38px; margin-top: -7px;" data-dismiss="modal">&times;</button>
      </div>
    </div>
  </div>
</div>

<div class="modal-body">
  <div class="medication_list_wrapper">
    <div class="row">
      <div class="col-md-6">
        <strong class="required">Medication Name:</strong>
        <%= f.text_field :name, placeholder: "Medicine Name", class: "form-control p6_10 medication_name" %>
      </div>
      <div class="col-md-6 form-group">
        <strong class="required">Dispensing Unit :</strong>
        <%= f.select :med_type, options_for_select(MyPracticeMedicationList::DISPENSING_UNIT, @medication_list.med_type), {include_blank: 'Select any '}, {class: 'form-control p7_10 dispensing_unit'} %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <strong >Medicine Class:</strong>          
      </div>
      <div class="col-md-4">
        <input type="text" name="" id="item_medicine_class" class="form-control p7_10" placeholder="Search by class Name">
      </div>
      <div class="col-sm-8" style="background: white;">
        <div id="item_class_section">
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <strong >Generic Composition:</strong>
        <span class="clear-generic-tag" style="text-decoration: underline; color: gray; cursor: pointer;">Clear All</span>
        <div class="generic-composition-section row">
          <div class='generic-btn-container col-md-1'>
            <span class="btn btn-primary btn-xs btn-add-item" disabled='disabled'><i class="fa fa-plus"></i></sapn>
          </div>
        </div>
        <div class="row"></div>
      </div>         
    </div>
    <br>
    <div class="row">
      <div class="col-md-2">
        <strong>Generic Name:</strong>          
      </div>
      <div class="col-md-10">
        <div class="generic_name_container text-danger">
          <%= @medication_list.contents %>
        </div>
        <%= f.hidden_field :contents, {id: :generic_name_container} %>
      </div>     
    </div>
</div>
<style>
  .required:after {
    content:" *";
    color: red;
  }
  .padding_row{
    padding: 8px 0;
  }
  .item-class-card{
    padding-top: 1px;
    margin-left: 3px;
    margin-bottom: 3px;
    overflow: hidden;
    width: 32%;
    padding-bottom: 3px;
  }
  .item-class-card .btn-remove-class{
    float: right;
    font-weight: bold;
    color: red;
    font-size: 25px;
    cursor: pointer;
  }
  .p6_10{
    padding: 6px 10px;
  }
  .generic-composition-row{
    padding-left: 0;
    padding-right: 0;
    width: 31%;
  }
  .generic-btn-container{
    width: 3%;
    padding: 0;
  }  
</style>
