<!-- Surgeon -->
<div class="row personnel_row mb30" style="margin-top: 20px;">
  <div class="col-md-2 text-right">
    Surgeon :
  </div>
  <div class="col-md-3">
    <div class="rdio rdio-primary col-md-3">
      <input type="radio" name="inpatient_ipd_record[surgeon]" class = "surgeon radio_0" id="surgeon_0" value="0" <%= 'checked="checked"' if ipdrecord.surgeon == '0' || ipdrecord.surgeon.nil? %> />
      <label for="surgeon_0"> 0 </label>
    </div>
    <div class="rdio rdio-primary col-md-3">
      <input type="radio" name="inpatient_ipd_record[surgeon]" class = "surgeon radio_1" id="surgeon_1" value="1" <%= 'checked="checked"' if ipdrecord.surgeon == '1' %> />
      <label for="surgeon_1"> 1 </label>
    </div>
    <div class="rdio rdio-primary col-md-3">
      <input type="radio" name="inpatient_ipd_record[surgeon]" class = "surgeon radio_2" id="surgeon_2" value="2" <%= 'checked="checked"' if ipdrecord.surgeon == '2' %> />
      <label for="surgeon_2"> 2 </label>
    </div>
    <div class="rdio rdio-primary col-md-3">
      <input type="radio" name="inpatient_ipd_record[surgeon]" class = "surgeon radio_3" id="surgeon_3" value="3" <%= 'checked="checked"' if ipdrecord.surgeon == '3' %> />
      <label for="surgeon_3"> 3 </label>
    </div>
  </div>
  <div class="col-md-2 count1" style="display:none;">
    <%=  f.text_field :surgeon1, { class:"form-control p_field", placeholder: "Surgeon 1" }  %>
  </div>
  <div class="col-md-2 count2" style="display:none;">
    <%=  f.text_field :surgeon2, { class:"form-control p_field", placeholder: "Surgeon 2" }  %>
  </div>
  <div class="col-md-2 count3" style="display:none;">
    <%=  f.text_field :surgeon3, { class:"form-control p_field", placeholder: "Surgeon 3" }  %>
  </div>
</div>
<!-- Surgeon Assistant -->
<div class="row personnel_row mb30">
  <div class="col-md-2 text-right">
    Surgeon Assistant :
  </div>
  <div class="col-md-3">
    <div class="rdio rdio-primary col-md-3">
      <input type="radio" name="inpatient_ipd_record[surgeon_assistant]" class = "surgeon_assistant radio_0" id="surgeon_assistant_0" value="0" <%= 'checked="checked"' if ipdrecord.surgeon_assistant == '0' || ipdrecord.surgeon_assistant.nil? %> />
      <label for="surgeon_assistant_0"> 0 </label>
    </div>
    <div class="rdio rdio-primary col-md-3">
      <input type="radio" name="inpatient_ipd_record[surgeon_assistant]" class = "surgeon_assistant radio_1" id="surgeon_assistant_1" value="1" <%= 'checked="checked"' if ipdrecord.surgeon_assistant == '1' %> />
      <label for="surgeon_assistant_1"> 1 </label>
    </div>
    <div class="rdio rdio-primary col-md-3">
      <input type="radio" name="inpatient_ipd_record[surgeon_assistant]" class = "surgeon_assistant radio_2" id="surgeon_assistant_2" value="2" <%= 'checked="checked"' if ipdrecord.surgeon_assistant == '2' %> />
      <label for="surgeon_assistant_2"> 2 </label>
    </div>
    <div class="rdio rdio-primary col-md-3">
      <input type="radio" name="inpatient_ipd_record[surgeon_assistant]" class = "surgeon_assistant radio_3" id="surgeon_assistant_3" value="3" <%= 'checked="checked"' if ipdrecord.surgeon_assistant == '3' %> />
      <label for="surgeon_assistant_3"> 3 </label>
    </div>
  </div>
  <div class="col-md-2 count1" style="display:none;">
    <%=  f.text_field :surgeon_assistant1, { class:"form-control p_field", placeholder: "Surgeon Assistant 1" }  %>
  </div>
  <div class="col-md-2 count2" style="display:none;">
    <%=  f.text_field :surgeon_assistant2, { class:"form-control p_field", placeholder: "Surgeon Assistant 2" }  %>
  </div>
  <div class="col-md-2 count3" style="display:none;">
    <%=  f.text_field :surgeon_assistant3, { class:"form-control p_field", placeholder: "Surgeon Assistant 3" }  %>
  </div>
</div>
<!-- Anaesthetist -->
<div class="row personnel_row mb30">
  <div class="col-md-2 text-right">
    Anaesthetist :
  </div>
  <div class="col-md-3">
    <div class="rdio rdio-primary col-md-3">
      <input type="radio" name="inpatient_ipd_record[anaesthetist]" class = "anaesthetist radio_0" id="anaesthetist_0" value="0" <%= 'checked="checked"' if ipdrecord.anaesthetist == '0' || ipdrecord.anaesthetist.nil? %> />
      <label for="anaesthetist_0"> 0 </label>
    </div>
    <div class="rdio rdio-primary col-md-3">
      <input type="radio" name="inpatient_ipd_record[anaesthetist]" class = "anaesthetist radio_1" id="anaesthetist_1" value="1" <%= 'checked="checked"' if ipdrecord.anaesthetist == '1' %> />
      <label for="anaesthetist_1"> 1 </label>
    </div>
    <div class="rdio rdio-primary col-md-3">
      <input type="radio" name="inpatient_ipd_record[anaesthetist]" class = "anaesthetist radio_2" id="anaesthetist_2" value="2" <%= 'checked="checked"' if ipdrecord.anaesthetist == '2' %> />
      <label for="anaesthetist_2"> 2 </label>
    </div>
    <div class="rdio rdio-primary col-md-3">
      <input type="radio" name="inpatient_ipd_record[anaesthetist]" class = "anaesthetist radio_3" id="anaesthetist_3" value="3" <%= 'checked="checked"' if ipdrecord.anaesthetist == '3' %> />
      <label for="anaesthetist_3"> 3 </label>
    </div>
  </div>
  <div class="col-md-2 count1" style="display:none;">
    <%=  f.text_field :anaesthetist1, { class:"form-control p_field", placeholder: "Anaesthetist 1" }  %>
  </div>
  <div class="col-md-2 count2" style="display:none;">
    <%=  f.text_field :anaesthetist2, { class:"form-control p_field", placeholder: "Anaesthetist 2" }  %>
  </div>
  <div class="col-md-2 count3" style="display:none;">
    <%=  f.text_field :anaesthetist3, { class:"form-control p_field", placeholder: "Anaesthetist 3" }  %>
  </div>
</div>
<!-- Anesthetic Assistant -->
<div class="row personnel_row mb30">
  <div class="col-md-2 text-right">
    Anesthetic Assistant:
  </div>
  <div class="col-md-3">
    <div class="rdio rdio-primary col-md-3">
      <input type="radio" name="inpatient_ipd_record[anesthetic_assistant]" class = "anesthetic_assistant radio_0" id="anesthetic_assistant_0" value="0" <%= 'checked="checked"' if ipdrecord.anesthetic_assistant == '0' || ipdrecord.anesthetic_assistant.nil? %> />
      <label for="anesthetic_assistant_0"> 0 </label>
    </div>
    <div class="rdio rdio-primary col-md-3">
      <input type="radio" name="inpatient_ipd_record[anesthetic_assistant]" class = "anesthetic_assistant radio_1" id="anesthetic_assistant_1" value="1" <%= 'checked="checked"' if ipdrecord.anesthetic_assistant == '1' %> />
      <label for="anesthetic_assistant_1"> 1 </label>
    </div>
    <div class="rdio rdio-primary col-md-3">
      <input type="radio" name="inpatient_ipd_record[anesthetic_assistant]" class = "anesthetic_assistant radio_2" id="anesthetic_assistant_2" value="2" <%= 'checked="checked"' if ipdrecord.anesthetic_assistant == '2' %> />
      <label for="anesthetic_assistant_2"> 2 </label>
    </div>
    <div class="rdio rdio-primary col-md-3">
      <input type="radio" name="inpatient_ipd_record[anesthetic_assistant]" class = "anesthetic_assistant radio_3" id="anesthetic_assistant_3" value="3" <%= 'checked="checked"' if ipdrecord.anesthetic_assistant == '3' %> />
      <label for="anesthetic_assistant_3"> 3 </label>
    </div>
  </div>
  <div class="col-md-2 count1" style="display:none;">
    <%=  f.text_field :anesthetic_assistant1, { class:"form-control p_field", placeholder: "Anesthetic Assistant 1" }  %>
  </div>
  <div class="col-md-2 count2" style="display:none;">
    <%=  f.text_field :anesthetic_assistant2, { class:"form-control p_field", placeholder: "Anesthetic Assistant 2" }  %>
  </div>
  <div class="col-md-2 count3" style="display:none;">
    <%=  f.text_field :anesthetic_assistant3, { class:"form-control p_field", placeholder: "Anesthetic Assistant 3" }  %>
  </div>
</div>
<!-- Circulating Nurse -->
<div class="row personnel_row mb30">
  <div class="col-md-2 text-right">
    Circulating Nurse :
  </div>
  <div class="col-md-3">
    <div class="rdio rdio-primary col-md-3">
      <input type="radio" name="inpatient_ipd_record[circulating_nurse]" class = "circulating_nurse radio_0" id="circulating_nurse_0" value="0" <%= 'checked="checked"' if ipdrecord.circulating_nurse == '0' || ipdrecord.circulating_nurse.nil? %> />
      <label for="circulating_nurse_0"> 0 </label>
    </div>
    <div class="rdio rdio-primary col-md-3">
      <input type="radio" name="inpatient_ipd_record[circulating_nurse]" class = "circulating_nurse radio_1" id="circulating_nurse_1" value="1" <%= 'checked="checked"' if ipdrecord.circulating_nurse == '1' %> />
      <label for="circulating_nurse_1"> 1 </label>
    </div>
    <div class="rdio rdio-primary col-md-3">
      <input type="radio" name="inpatient_ipd_record[circulating_nurse]" class = "circulating_nurse radio_2" id="circulating_nurse_2" value="2" <%= 'checked="checked"' if ipdrecord.circulating_nurse == '2' %> />
      <label for="circulating_nurse_2"> 2 </label>
    </div>
    <div class="rdio rdio-primary col-md-3">
      <input type="radio" name="inpatient_ipd_record[circulating_nurse]" class = "circulating_nurse radio_3" id="circulating_nurse_3" value="3" <%= 'checked="checked"' if ipdrecord.circulating_nurse == '3' %> />
      <label for="circulating_nurse_3"> 3 </label>
    </div>
  </div>
  <div class="col-md-2 count1" style="display:none;">
    <%=  f.text_field :circulating_nurse1, { class:"form-control p_field", placeholder: "Circulating Nurse 1" }  %>
  </div>
  <div class="col-md-2 count2" style="display:none;">
    <%=  f.text_field :circulating_nurse2, { class:"form-control p_field", placeholder: "Circulating Nurse 2" }  %>
  </div>
  <div class="col-md-2 count3" style="display:none;">
    <%=  f.text_field :circulating_nurse3, { class:"form-control p_field", placeholder: "Circulating Nurse 3" }  %>
  </div>
</div>
<!-- Instrument(Scrub) Nurse -->
<div class="row personnel_row mb30">
  <div class="col-md-2 text-right">
    Instrument(Scrub) Nurse :
  </div>
  <div class="col-md-3">
    <div class="rdio rdio-primary col-md-3">
      <input type="radio" name="inpatient_ipd_record[scrub_nurse]" class = "scrub_nurse radio_0" id="scrub_nurse_0" value="0" <%= 'checked="checked"' if ipdrecord.scrub_nurse == '0' || ipdrecord.scrub_nurse.nil? %> />
      <label for="scrub_nurse_0"> 0 </label>
    </div>
    <div class="rdio rdio-primary col-md-3">
      <input type="radio" name="inpatient_ipd_record[scrub_nurse]" class = "scrub_nurse radio_1" id="scrub_nurse_1" value="1" <%= 'checked="checked"' if ipdrecord.scrub_nurse == '1' %> />
      <label for="scrub_nurse_1"> 1 </label>
    </div>
    <div class="rdio rdio-primary col-md-3">
      <input type="radio" name="inpatient_ipd_record[scrub_nurse]" class = "scrub_nurse radio_2" id="scrub_nurse_2" value="2" <%= 'checked="checked"' if ipdrecord.scrub_nurse == '2' %> />
      <label for="scrub_nurse_2"> 2 </label>
    </div>
    <div class="rdio rdio-primary col-md-3">
      <input type="radio" name="inpatient_ipd_record[scrub_nurse]" class = "scrub_nurse radio_3" id="scrub_nurse_3" value="3" <%= 'checked="checked"' if ipdrecord.scrub_nurse == '3' %> />
      <label for="scrub_nurse_3"> 3 </label>
    </div>
  </div>
  <div class="col-md-2 count1" style="display:none;">
    <%=  f.text_field :scrub_nurse1, { class:"form-control p_field", placeholder: "Instrument(Scrub) Nurse 1" }  %>
  </div>
  <div class="col-md-2 count2" style="display:none;">
    <%=  f.text_field :scrub_nurse2, { class:"form-control p_field", placeholder: "Instrument(Scrub) Nurse 2" }  %>
  </div>
  <div class="col-md-2 count3" style="display:none;">
    <%=  f.text_field :scrub_nurse3, { class:"form-control p_field", placeholder: "Instrument(Scrub) Nurse 3" }  %>
  </div>
</div>
<!-- Other Staff -->
<div class="row personnel_row mb30">
  <div class="col-md-2 text-right">
    Other Staff :
  </div>
  <div class="col-md-3">
    <div class="rdio rdio-primary col-md-3">
      <input type="radio" name="inpatient_ipd_record[other_staff]" class = "other_staff radio_0" id="other_staff_0" value="0" <%= 'checked="checked"' if ipdrecord.other_staff == '0' || ipdrecord.other_staff.nil? %> />
      <label for="other_staff_0"> 0 </label>
    </div>
    <div class="rdio rdio-primary col-md-3">
      <input type="radio" name="inpatient_ipd_record[other_staff]" class = "other_staff radio_1" id="other_staff_1" value="1" <%= 'checked="checked"' if ipdrecord.other_staff == '1' %> />
      <label for="other_staff_1"> 1 </label>
    </div>
    <div class="rdio rdio-primary col-md-3">
      <input type="radio" name="inpatient_ipd_record[other_staff]" class = "other_staff radio_2" id="other_staff_2" value="2" <%= 'checked="checked"' if ipdrecord.other_staff == '2' %> />
      <label for="other_staff_2"> 2 </label>
    </div>
    <div class="rdio rdio-primary col-md-3">
      <input type="radio" name="inpatient_ipd_record[other_staff]" class = "other_staff radio_3" id="other_staff_3" value="3" <%= 'checked="checked"' if ipdrecord.other_staff == '3' %> />
      <label for="other_staff_3"> 3 </label>
    </div>
  </div>
  <div class="col-md-2 count1" style="display:none;">
    <%=  f.text_field :other_staff1, { class:"form-control p_field", placeholder: "Other Staff 1" }  %>
  </div>
  <div class="col-md-2 count2" style="display:none;">
    <%=  f.text_field :other_staff2, { class:"form-control p_field", placeholder: "Other Staff 2" }  %>
  </div>
  <div class="col-md-2 count3" style="display:none;">
    <%=  f.text_field :other_staff3, { class:"form-control p_field", placeholder: "Other Staff 3" }  %>
  </div>
</div>
<!-- Comment Box -->
<div class="row personnel_row mb30">
  <div class="col-md-2 text-right">
    COMMENT BOX :
  </div>
  <div class="col-md-3">
    <%= f.text_area :personnel_comments, {style: "width:125%;", class: "form-control"} %>
  </div>
</div>
<!-- Style -->
<style type="text/css">
  .p_field {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -2px;
  }
</style>
<!-- Script -->
<script type="text/javascript">
  // Variables
  var radio_0 = $(".radio_0")
  var radio_1 = $(".radio_1")
  var radio_2 = $(".radio_2")
  var radio_3 = $(".radio_3")

  // Logic For Radio Button 0
  $(".radio_0").on('click', function(){
    $(this).closest(".personnel_row").find(".count1").hide()
    $(this).closest(".personnel_row").find(".count2").hide()
    $(this).closest(".personnel_row").find(".count3").hide()
  })

  // Logic For Radio Button 1
  $(".radio_1").on('click', function(){
    $(this).closest(".personnel_row").find(".count1").show()
    $(this).closest(".personnel_row").find(".count2").hide()
    $(this).closest(".personnel_row").find(".count3").hide()
  })
  // Logic For Radio Button 2
  $(".radio_2").on('click', function(){
    $(this).closest(".personnel_row").find(".count1").show()
    $(this).closest(".personnel_row").find(".count2").show()
    $(this).closest(".personnel_row").find(".count3").hide()
  })
  // Logic For Radio Button 3
  $(".radio_3").on('click', function(){
    $(this).closest(".personnel_row").find(".count1").show()
    $(this).closest(".personnel_row").find(".count2").show()
    $(this).closest(".personnel_row").find(".count3").show()
  })

  // Trigger Change on Load if Checked
  for (var i = radio_0.length - 1; i >= 0; i--) {
    if($(radio_0[i]).is(':checked') === true) {
      $(radio_0[i]).trigger("click")
    }
  }

  for (var i = radio_1.length - 1; i >= 0; i--) {
    if($(radio_1[i]).is(':checked') === true) {
      $(radio_1[i]).trigger("click")
    }
  }

  for (var i = radio_2.length - 1; i >= 0; i--) {
    if($(radio_2[i]).is(':checked') === true) {
      $(radio_2[i]).trigger("click")
    }
  }
  
  for (var i = radio_3.length - 1; i >= 0; i--) {
    if($(radio_3[i]).is(':checked') === true) {
      $(radio_3[i]).trigger("click")
    }
  }
  function autocomplete_personnel(){
      jQuery(".p_field").autocomplete({
          minLength: 3,
          source: function(request, response) {
              jQuery.ajax({
                  dataType: "json",
                  type : 'get',
                  url: '/inpatient/ipd_records/search_sugery_personnel',
                  //data: {searchpatient: params, remote: "true" },
                  data: {q: request.term,  remote: "true" },
                  success: function(data) {
                      //jQuery('#searchpatientkeyword').removeClass('ui-autocomplete-loading')
                      response( data);
                  },
                  error: function(data) {
                      //jQuery('#searchpatientkeyword').removeClass('ui-autocomplete-loading');
                  }
              });

          },
          focus: function(event, ui) {
              //return false;
          },
          select: function( event, ui ) {
              var name = ui.item.value;
              var id = ui.item.id;
              jQuery(this).val(name);
              jQuery(this).closest('div').next().find('textarea').val(name);
              //                jQuery(this).val(medicinemame);
              //                jQuery(this).closest('div').next().find('textarea').val(presentation);
              //            }
              return false;
          }
      });
      jQuery(".p_field").autocomplete( "option", "appendTo", ".ipdrecord_form" );
  }
  autocomplete_personnel();
</script>