<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">Edit Custom Procedure</h4>
    </div>
    <%= form_for(@custom_common_procedure, url: custom_common_procedure_path, html: {id: 'edit_custom_common_procedure'}, remote: true) do |f| %>
      <% if @custom_common_procedure.is_attached == false %>
        <input type="hidden" name="procedure_data_from" value="custom_common_procedure">
        <div class="modal-body form-bordered">
          <div class="row form-group">
            <div class="col-md-2"></div>
            <div class="col-md-2"><%= f.label "Procedure Name :" %></div>
            <div class="col-md-5"><%= f.text_field :name, { class: 'form-control', value: @custom_common_procedure[:name]} %></div>
          </div>
        </div>
      <% else %>
        <% if @custom_common_procedure.try(:language).present? %>
          <input type="hidden" name="procedure_data_from" value="translated_common_procedure">
        <% else %>
          <input type="hidden" name="procedure_data_from" value="synonym_common_procedure">
        <% end %>
        <div class="modal-body form-bordered" style="margin: 5px;">
          <div class="row text-center">
            <label>This Procedure is attached with <b style="font-style: italic;"><%= @custom_common_procedure[:search_procedure_name] %></b></label>
          </div>
          <div class="row form-group" style="padding-top: 25px;">
            <% if @language.present? %>
              <div class="col-md-1">
                <label>Language:&nbsp&nbsp&nbsp<b><%= @language.join("")%></b></label>
              </div>
            <% end %>
            <div class="col-md-2">
            </div>
            <div class="col-md-2"><%= f.label "Procedure Name :" %></div>
            <div class="col-md-5"><%= f.text_field :name, { class: 'form-control', value: @custom_common_procedure[:name]} %></div>
          </div>
        </div>
      <%end%>
      <div class="modal-footer">
        <%= f.submit "Update Procedure", { class: 'btn btn-success', onclick: 'validate_custom_procedure_page()'}%>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>

<style type="text/css">
  input.error, select.error {
    border-color: #b94a48;
    background-image: none;
  }
  input.valid, select.valid {
    border-color: #468847;
    background-image: none;
  }
</style>