<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>

<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">Custom Common Procedure</h4>
    </div>

    <%= form_for(@custom_common_procedure, remote: true) do |f| %>
      <input type="hidden" name="custom_common_procedure[organisation_id]" value="<%= @current_user.organisation_id %>">
      <input type="hidden" name="synonym_common_procedure[organisation_id]" value="<%= @current_user.organisation_id %>">
      <input type="hidden" name="translated_common_procedure[organisation_id]" value="<%= @current_user.organisation_id %>">
      
      <div class="modal-body form-bordered clearfix custom_common_procedure_fields">
        <div class="row form-control" style="border: 1px; margin: inherit;">
          <div class="col-md-4">
            <div class="rdio rdio-primary col-md-12">
              <%= radio_button_tag "custom_procedure_type", "create_new_procedure", false, {:class => 'custom_procedure_type', :id => "CustomProcedureRadio1"} %>
              <label for="CustomProcedureRadio1">Create New Procedure</label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="rdio rdio-primary col-md-12">
              <%= radio_button_tag "custom_procedure_type", "attach_procedure", false, {:class => 'custom_procedure_type', :id => "CustomProcedureRadio2"} %>
              <label for="CustomProcedureRadio2">Attach to existing Procedure</label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="rdio rdio-primary col-md-12">
              <%= radio_button_tag "custom_procedure_type", "translated_procedure", false, {:class => 'custom_procedure_type', :id => "TranslatedProcedureRadio3"} %>
              <label for="TranslatedProcedureRadio3">Translated Procedure</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8"></div>
          <div class="col-md-3">
            <%= f.select :speciality_id, options_for_select(@available_specialties.pluck(:name, :id), selected: @advice_set.try(:specialty_id)),{ :include_blank => 'Select any Specialty' }, { :class => 'form-control specialty_dropdown', id: 'speciality_id' } %>
          </div>
        </div>

        <div class="custom_new_procedure" id="custom_new_procedure">
          <div class="row">
            <div class="col-md-6">
              <span class="col-md-4"></span>
              <div class="col-md-6">
                <% @region_array = ['cornea', 'glaucoma', 'retina', 'cataract', 'plasty', 'squint'] %>
                <%= select_tag "custom_common_procedure[region]",options_for_select( @region_array.map{ |procedure| [procedure.capitalize, procedure] } ), {:class => 'form-control ', :multiple => true, 'data-placeholder' => 'Choose region',:include_blank=> false} %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="custom_new_procedure_name" id="custom_new_procedure_name">
                <div class="col-md-12 row" id="new_procedure_name" style="margin-top: 23px;">
                  <div class="col-md-10"><%= text_field_tag "custom_common_procedure[name]",nil ,class: 'form-control', placeholder: 'Enter new Procedure name'  %>
                  </div>
                </div>
              </div>

              <div class="col-md-8 row" id="has_laterality_checkbox" style="margin-top: 15px;">
                <span class="ckbox ckbox-primary" style="margin-left: 20px;padding: inherit;">
                  <input type="hidden" name="custom_common_procedure[has_laterality]" value="false">
                  <%= check_box_tag "custom_common_procedure[has_laterality]", true, false, { class: 'form-control col-md-6', id: "has_laterality", style: 'margin-top: -4px;'} %>
                  <label class="laterality_label" style="margin-left: 15px;margin-top: 14px;" for="has_laterality">Add Laterality</label>
                </span>
              </div>
            </div>
          </div>

          <div class="row text-center" style="padding-top: 15px;">
            <h5 style="color: red">Note: Don't enter laterality name, if using Add Laterality option </h5>
          </div>
        </div>

        <div class="attach_standard_procedure" id="attach_standard_procedure">
          <div class="col-md-12 row" id="search_procedure_name" style="margin-top: 15px;">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <input type="text" class="form-control" name="synonym_common_procedure[search_procedure_name]" id="search_procedure" placeholder="Search by Procedure name" style= "width: 100%;" />
              <input type="hidden" class="form-control" name="synonym_common_procedure[code]" id="search_procedure_code" style= "width: 100%;" />
              <input type="hidden" class="form-control" name="synonym_common_procedure[procedure_type]" id="search_procedure_type"  style= "width: 100%;" />
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" name="searched_display_code" id="search_procedure_code_display" placeholder="Procedure Code" readonly="disabled" style= "width: 100%;" />
            </div>
          </div>

          <div class="synonym_new_procedure_name_rows" id="synonym_new_procedure_name_rows">
            <div class="col-md-12 row" id="new_procedure_name_row" style="margin-top: 23px;margin-bottom: 10px;">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <%= text_field_tag "synonym_common_procedure[name][0]", nil, class: 'synonym_common_procedure form-control', placeholder: 'Enter new Procedure name' %>
              </div>
              <div class="col-md-3">
                <span id="add_custom_synonym_name" class="btn btn-sm btn-primary btn-square glyphicon glyphicon-plus-sign add-icon"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="translated_standard_procedure" id="translated_standard_procedure">
          <div class="col-md-12 row" id="search_procedure_name" style="margin-top: 15px;">
            <div class="col-md-8">
              <input type="text" class="form-control" name="translated_common_procedure[search_procedure_name]" id="search_all_procedure" placeholder="Search by Procedure name" style= "width: 100%;" />
              <input type="hidden" class="form-control" name="translated_common_procedure[code]" id="translated_procedure_code" style= "width: 100%;" />
            </div>
            <div class="col-md-4">
              <input type="text" class="form-control" name="searched_display_code" id="translated_procedure_code_display" placeholder="Procedure Code" readonly="disabled" style= "width: 100%;" />
            </div>
          </div>
          <div class="col-md-12 row" id="new_procedure_name_row" style="margin-top: 23px;margin-bottom: 10px;">
            <div class="col-md-4">
              <%= select_tag("translated_common_procedure[language]", options_for_select(@languages), { prompt: "Select Language", class: 'form-control select2 selected_language', style: 'width: 80%' }) %>
            </div>
            <div class="col-md-8">
              <%= text_field_tag "translated_common_procedure[name][0]", nil, class: 'translated_common_procedure form-control', placeholder: 'Enter new  procedure name' %>
            </div>
          </div>
        </div>

      </div>

      <div class="modal-footer">
      	<%= f.submit "Create Custom Procedure",{:class => 'btn btn-success', :onclick => 'validate_custom_procedure_page()'}%>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>

<style type="text/css">
  #custom_common_procedure_region{
    height: 162px;
  }
  .laterality_label:before{
    margin-top: -3px;
  }
  .laterality_label:after{
    margin-top: -2px;
  }
</style>
