<div class="device-name" style="text-align: left;">
  <div class="row"  style="padding: 1%;">
    <div class="col-md-12" >
      <div class="col-md-4">
        <div class="col-md-12">
          <div class="col-md-3">
            <label>Camp Name</label>
          </div>
          <div class="form-group col-md-9">
            <%= f.text_field :camp_name , class: 'form-control p5_10'%>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="col-md-12">
          <div class="col-md-3">
            <label>Camp Type</label>
          </div>
          <div class="form-group col-md-9">
            <%= f.select :camp_type, ['For Profit', 'Non Profit'], { include_blank: 'Select Type' }, class: 'form-control p5_10 camp_facility_select' %>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="col-md-12">
          <div class="col-md-3">
            <label>Select facility</label>
          </div>
          <%= f.hidden_field :country_id, value: current_facility.country_id %>
          <div class="form-group col-md-9">
            <%= f.select :facility_id, options_for_select(@facility_arr,@camp.facility_id || current_facility.id), { include_blank: false}, class: 'form-control p5_10 camp_facility_select',id: 'fac_dropdown', :disabled => @type.present?  %>
            <%if @type.present? %>
              <%= f.hidden_field :facility_id, value: current_facility.id %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row"  style="padding: 1%;">
    <div class="col-md-12">
      <div class="col-md-4">
        <div class="col-md-12">
          <div class="col-md-3">
            <label>Contact Persons</label>
          </div>
          <div class="form-group col-md-9">
            <%= f.text_field :contact_person, class: 'form-control p5_10' %>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="col-md-12">
          <div class="col-md-3">
            <label>Contact No.</label>
          </div>
          <div class="form-group col-md-9">
            <%= f.text_field :contact_no, class: 'form-control p5_10', minlength: Facility.find(current_facility.id).country.minimum_phone_no_length.to_i, maxlength: Facility.find(current_facility.id).country.maximum_phone_no_length.to_i, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-md-12">
          <div class="col-md-3">
            <label>Sponsors</label>
          </div>
          <div class="form-group col-md-9"  id="sponsors">
            <%= f.select :co_sponsors, options_for_select(@sponsors,@camp.co_sponsors ), { }, multiple: true, class: 'form-control p5_10 sponsor_facility_select'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="padding: 1%;">


  <% if current_facility.country_id == 'VN_254' %>
    <div class="col-sm-12">
      <div class=" mb10">
        <div class="col-md-4">
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Commune</label> <a href="" class="clear-commune" style="display:none;font-size: 10px;margin-top: -7px;">Clear</a>
            </div>
            <div class="col-md-9">
              <%= f.text_field :commune, { id: 'search_commune', validate: true, class: 'form-control camp-commune camp-address p5_10', placeholder: "Commune" } %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="col-md-12">
            <div class="col-md-3">
              <label>District</label>
            </div>
            <div class="col-md-9">
              <%= f.text_field :district, { id: 'search_district', validate: true, class: 'form-control camp-district camp-address p5_10', placeholder: "District" } %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="col-md-12">
            <div class="col-md-3">
              <label>City</label>
            </div>
            <div class="col-md-9">
              <%= f.text_field :city, { id: 'search_city', validate: true, class: 'form-control camp-city camp-address p5_10', placeholder: "City" } %>
            </div>
          </div>
        </div>
      </div>
    </div>

  <% elsif current_facility.country_id == 'KH_039' %>
    <div class="col-md-12">
      <div class=" cambodia_facility">
        <div class="col-md-3">
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Pincode</label> <a class="clear-pincode" style="display:none;font-size: 10px;margin-top: -7px;cursor: pointer;">Clear</a>
            </div>
            <div class="col-md-9">
              <%= f.text_field :pincode, { class: 'form-control p7_10 camp-pincode camp-address',id:'search_pincode_cambodia', maxlength: 7 , placeholder: 'Pincode' , validate: true, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57'} %>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="col-md-12">
            <div class="col-md-3">
              <label>State</label>
            </div>
            <div class="col-md-9">
              <%= f.text_field :state, { id:'search_state_cambodia', validate: true, class: 'form-control camp-state camp-address p7_10', placeholder: "Province/ State" } %>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="col-md-12">
            <div class="col-md-3">
              <label>District</label>
            </div>
            <div class="col-md-9">
              <%= f.text_field :district, { id: 'search_district_cambodia', validate: true, class: 'form-control camp-district camp-address p5_10', placeholder: "District" } %>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="col-md-12">
            <div class="col-md-3">
              <label>Commune</label> <a class="clear-commune" style="display:none;font-size: 10px;margin-top: -7px;cursor: pointer;">Clear</a>
            </div>
            <div class="col-md-9">
              <%= f.text_field :commune, { id: 'search_commune_cambodia', validate: true, class: 'form-control camp-commune camp-address p5_10', placeholder: "Commune" } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="col-md-12">
      <div class="col-md-4">
        <div class="col-md-12">
          <div class="col-md-3">
            <label>Pincode</label> <a class="clear-pincode" style="display:none;font-size: 10px;margin-top: -7px;cursor: pointer;">Clear</a>
          </div>
          <div class="col-md-9">
            <%= f.text_field :pincode, { id:'search_pincode', maxlength: 6, class: 'form-control camp-pincode camp-address p5_10', placeholder: "Pincode", validate: true, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57'} %>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="col-md-12">
          <div class="col-md-3">
            <label>State</label>
          </div>
          <div class="col-md-9">
            <%= f.text_field :state, {id:'search_state', validate: true, class: 'form-control camp-state camp-address p7_10', placeholder: "State" } %>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="col-md-12">
          <div class="col-md-3">
            <label>City</label>
          </div>
          <div class="col-md-9">
            <%= f.text_field :city, { id:'search_city', validate: true, class: 'form-control camp-city camp-address p7_10', placeholder: "City" } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row" style="padding: 1%;">
  <div class="col-md-12">
    <div class="col-md-4">
      <div class="col-md-12">
        <div class="col-md-3">
          <label>Area</label>
        </div>
        <div class="form-group col-md-9">
          <%= f.text_field :area, class: 'form-control p5_10' %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="col-md-12">
        <div class="col-md-3">
          <label>Venue</label>
        </div>
        <div class="form-group col-md-9">
          <%= f.text_field :venue, class: 'form-control p5_10' %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="col-md-12">
        <div class="col-md-3">
          <label>No. of days</label>
        </div>
        <div class="form-group col-md-9">
          <%= f.text_field :days, class: 'form-control p5_10', onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="padding: 1%;">
  <div class="col-md-12">
    <div class="col-md-4">
      <div class="col-md-12">
        <div class="col-md-3">
          <label>Expected Outpatients</label>
        </div>
        <div class="form-group col-md-9">
          <%= f.text_field :expected_outpatients, class: 'form-control p5_10', onkeypress: 'return event.charCode >= 48 && event.charCode <= 57'%>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="col-md-12">
        <div class="col-md-3">
          <label>Expected Surgeries</label>
        </div>
        <div class="form-group col-md-9">
          <%= f.text_field :expected_surgeries, class: 'form-control p5_10', onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="col-md-12">
        <div class="col-md-3">
          <label>Camp Date</label>
        </div>
        <div class="form-group col-md-9">
          <%= f.text_field :camp_date, class: 'form-control p5_10 camp-datepicker',  readonly: 'readonly' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="padding: 1%;">
  <div class="col-md-12">
    <div class="col-md-4" style="padding: 1%;">
      <div class="col-md-12">
        <div class="col-md-3">
          Review camp applicable
        </div>

        <div class="col-md-9">

          <div class="col-md-4" style="padding: 0px;">
            <div class="rdio rdio-primary rdio-changes">
              <%= f.radio_button :review_camp_applicable, true, { :class => 'radio-inline', id: "review_yes" } %>
              <label style="padding-left:5px;" for="review_yes"> Yes</label>
            </div>
          </div>
          <div class="col-md-4" style="padding: 0px;">
            <div class="rdio rdio-primary rdio-changes">
              <%= f.radio_button :review_camp_applicable, false, { :class => 'radio-inline', id: "review_no" } %>
              <label style="padding-left:5px;" for="review_no"> No</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id= "review" style="display: none;">
      <div class="col-md-4" style="padding: 1%;">
        <div class="col-md-12">
          <div class="col-md-3">
            <label>Review date</label>
          </div>
          <div class="form-group col-md-9">
            <%= f.text_field :review_date ,class: 'form-control p5_10 camp-datepicker', readonly: 'readonly' %>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="col-md-12">
          <div class="col-md-3">
            <labe>Review Camp Venue</labe>
          </div>
          <div class="form-group col-md-9">
            <%= f.text_field :review_camp_venue, class: 'form-control p5_10' %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script>

  $('.sponsor_facility_select').select2({multiple: true});

  $("#fac_dropdown").on('change', function() {
        var fac_id = $('#fac_dropdown').val()
        $.ajax({
          url: "/camps/facility_sponsors",
          type: "GET",
          data: {facility_id: fac_id},
          // Callbacks that will be explained
          success: function(data) {
            $(".sponsor_facility_select").children().remove();
            $('.sponsor_facility_select').select2({
              data: data,
              multiple: true
            });

            }

          } )
        })
   var rad =  $('#review_yes').val()
    if (rad == true){
      $('#review').show();
    }else{
      $('#review').hide();
    }

  $("#review_yes").on('click', function() {
    $('#review').show();

  })
  $("#review_no").on('click', function() {
    $('#review').hide();

  })



</script>