<div class="row mb20" style="background:#354670;color:#fff">
  <div class="col-xs-6">
    <span style="float: left">
      <h4> Camps</h4>
    </span>
    <span>
      <a class="navbar-brand refresh-camps" id="refresh-camps" style="color:#fff;font-size:12px;" href="#"><i class="fa fa-refresh"></i></a>
    </span>
  </div>
  <div class="col-md-3" style="margin-top:7px;">
    <% if @facilities.count > 1 && @type.nil? %>
      <select class="form-control p5_10 ot-facility_id" name="facility_id" id="camps_facility_dropdown">
        <% @facilities.each do |facility| %>
          <% if  @facility_id.to_s == facility.id.to_s %>
            <option value=<%= facility.id %> selected="selected"><%= facility.name %></option>
          <% else %>
            <option value=<%= facility.id %>><%= facility.name %></option>
          <% end %>
        <% end %>
      </select>
    <% end %>
  </div>
  <div class="col-md-2">
    <%= link_to new_camp_path( type: @type), data: { remote: true, toggle: "modal", target: "#camp-modal" }, class: "btn btn-primary",  style: "margin:6px;" do %><i class="fa fa-plus"></i> Add Camp<% end %>
  </div>
</div>
<div class="row">
  <%= render :partial => 'view.html.erb' %>
</div>

<style type="text/css">

</style>
<script>
  $("#camps_facility_dropdown").on('change', function(){
    var facility_id = $(this).val()
    send_ajax_request_camp(facility_id)
  })

  function send_ajax_request_camp(facility_id) {
    $.ajax({
      type: "GET",
      dataType: "script",
      data: {remote: "true", facility_id: facility_id},
      url: "/camps"
    })
  }
  $('#refresh-camps').click(function(e) {
    e.preventDefault();
    var facility_id = $('#camps_facility_dropdown').val()
    send_ajax_request_camp(facility_id)
  });
  $(document).ready(function() {
    $('#camps_facility_dropdown').select2();
  });
</script>