<table class="table table-bordered ot-room-table" style="table-layout: fixed;">
  <thead>
  <tr>
    <th>Camp Name</th>
    <th>Scheduled on</th>
    <th>Created by/on</th>
    <th>Camp Location</th>
    <th>Pt. Expt./ served</th>
    <th>Status</th>
    <th>Username</th>
    <th>Password</th>
    <th>Action</th>
  </thead>
  <tbody style="text-align:left; font-size: 12px;">
  <% @camps.each do |camp| %>
    <tr>
      <td> <%= camp.camp_name %></td>
      <td> <%= camp.camp_date %></td>
      <td> <%= camp.created_by %> / <%= camp.created_at.strftime("%d/%m/%y")%></td>
      <td> <%= camp.area %></td>
      <td> <%= camp.expected_outpatients  %>/ <%= camp.patient_served  %> </td>
      <td> <%= @camp_status[camp.id] %></td>
      <td> <%= camp.username%></td>
      <td><button id="<%= camp.id %>_password" class="toggle-btn btn btn-default"> <i class="fa fa-eye"></i></button> <div style= "display: none;" class="password" ><%= camp.password %></div></td>
      <td>
        <%= link_to edit_camp_path(id: camp.id), data: { remote: true, toggle: "modal", target: "#camp-modal" }, class: "btn btn-primary btn-xs edit-ot-room" do %><i class="fa fa-edit"></i><% end %>
        <% if camp.is_active %>
        <%= link_to  camps_deactivate_path(id: camp.id, value: false ), data: { remote: true, confirm: 'Are you sure' }, class: "btn btn-danger btn-xs state-change", id: 'state-change' do %> <i class="fa fa-ban"></i><% end %>
          <% else %>
          <%= link_to camps_deactivate_path(id: camp.id, value: true ), data: { remote: true, confirm: 'Are you sure' }, class: "btn btn-success btn-xs state-change", id: 'state-change' do %><i class="fa fa-ban"></i><%end%>
        <%end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<script>
  $(".toggle-btn").click(function(){
    $(this).siblings().toggle()
  });

</script>

