<div class="inventory-toolbar2 inventory-toolbar">
  <nav class="navbar navbar-secondary navbar-fixed-top" style="margin-bottom: 0px; left: auto; right: auto; width: auto; position: relative;z-index:100; background: #354670;">
    <div class="container-fluid" style="padding-right:0">
      <div class="navbar-header col-md-8" style="margin-top: 7px;">
        <div class="inventory_search_panel">
          <div class="input-group">
            <input type="text" id="inventory_search" placeholder="Search by Patinet Name" class="form-control">
            <span class="input-group-addon"><i class="fa fa-times-circle" style="display: none"></i></span>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <!-- <ul class="nav navbar-nav navbar-right" style="font-size:16px;margin-right: 2%;margin-top:10px;">
          <a href="/inventory/transaction/purchases/download_data.xls?start_date=<%= @start_date %>&end_date=<%= @end_date %>&department_id=<%= @inventory_store.department_id %>&department_name=<%= @inventory_store.department_name %>&store_id=<%= @inventory_store.id %>" class="btn btn-primary btn-primary-transparent download-invoice-data" style="color:#fff; margin-right: 20px; margin-top: -3px;" title="Purchase Transaction Report"><i class="fa fa-download"></i> Download</a>
        </ul> -->
      </div>
    </div>
  </nav>
</div>
<div class="inventory-show-panel" style="overflow-y: auto">
  <h3 class="text-center" style="margin-top: 200px">Please select from list.</h3>
</div>
