<%= f.hidden_field :transaction_date, { value: Date.current } %>
<%= f.hidden_field :transaction_time, { value: Time.current } %>
<%= f.hidden_field :entry_type, { value: 'tray' } %>
<%= f.hidden_field :entered_by, { value: current_user.fullname } %>
<%= f.hidden_field :user_id, { value: current_user.id } %>
<%= f.hidden_field :store_id, { value: @inventory_store.id } %>
<%= f.hidden_field :store_name, { value: @inventory_store.name } %>
<%= f.hidden_field :facility_id, { value: current_facility.id } %>
<%= f.hidden_field :organisation_id, { value: current_user.organisation_id } %>
<%= f.hidden_field :department_name, value: @inventory_store.department_name %>
<%= f.hidden_field :user_name, value: current_user.fullname %>
<%= f.hidden_field :department_id, value: @inventory_store.department_id %>
<%= f.hidden_field :patient_name, value: @patient.fullname %>
<%= f.hidden_field :patient_id, value: @patient.id %>
<%= f.hidden_field :admission_id, value: @admission.admission_id %>
<%= f.hidden_field :admitting_doctor, value: @admission.admitting_doctor %>
<%= f.hidden_field :admission_date, value: @admission.admission_date %>
<%= f.hidden_field :patient_mobile, value: @admission.patient_mobilenumber %>
<%= f.hidden_field :patient_display_id, value: @admission.patient_display_id %>

<div class="row mb5" style="border-bottom:1px solid #eee;border-top:1px solid #eee;">

  <div class="tray-lots-list" style="">
    <table class="table tray-lots-table" style="">
      <thead class="tray-table-head">
      <tr class='thead-fixable'>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Description</td>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Category</td>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Batch</td>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Expiry</td>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>MRP</td>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Initial Qty</td>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Quantity</td>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Total&nbsp;(<%= current_facility.currency_symbol %>)</td>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Action</td>
      </tr>
      </thead>
    </table>
  </div>
  <div class="tray-table-body" style="overflow-y: auto; min-height: 100px; font-size: 11px">
    <% if (params[:action] == 'edit') && (@tray_transaction.items.size > 0) %>
      <%= render partial: 'inventory/transaction/trays/item_list.html.erb', locals: { f:f } %>
    <% end %>
  </div>
</div>

<style>
  .transaction-datepicker{
    cursor: pointer !important;
  }
  .disabled_row{
    pointer-events: none;
  }
</style>
