<% if @tray_transaction.length > 0 %>
  <% @tray_transaction.each do |tray| %>
    <tr id="<%= tray.id %>" class="inventory-list-row">
      <td style="font-size: 10px; color: #17a08c;" class="col-md-4"><%= tray.transaction_date.try(:strftime, '%d-%m-%Y') %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= tray.transaction_time&.strftime("%I:%M%p") %></td>
      <td style="font-size: 10px; color: #17a08c;" class="col-md-3"><%= tray.patient_name&.titleize %> / <%= tray.patient_display_id %></td>
      <td class="col-md-3"><b><%= tray.status.try(:titleize) %></b></td>
      <td class="col-md-2"><b><%= tray.total_cost %></b> </td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td align="center"><strong style="font-size: 20px;">Nothing to Display</strong></td>
  </tr>
<% end %>
