<div class="inventory-item-toolbar1 inventory-toolbar">
  <% current_date = Date.current %>
  <nav class="navbar navbar-secondary navbar-fixed-top" style="margin-bottom: 0px; left: auto; right: auto; width: auto; position: relative;z-index:100; background: #354670;">
    <div class="container-fluid" style="padding-right:0;">
      <div class="col-xs-1 link-to-calendar" style="padding-left:initial">
        <div class="navbar-header" style="margin-top: 7px;">
          <button class="btn btn-link btn-xs btn-inventory-refresh"><i class="fa fa-refresh" style="color:#fff;"></i></button>
        </div>
      </div>

      <div class="col-xs-4" style="padding: 5px 10px;">
        <% state_name =  @state_name.present? ? @state_name : 'Status' %>
        <div class="btn-group" style="margin-bottom: 0px;" role="group" aria-label="">
          <a class="btn btn-warning btn-sm" id="inventory_tray_state"></i><%= state_name&.camelize %></a>
          <button type="button" class="btn btn-warning btn-sm dropdown-toggle " data-toggle="dropdown" style="">
            <span class="caret"></span>
          </button>
          <% tray_state_array = [['All', 'all'], ['Open', 'open'], ['Consumed', 'consumed'], ['Closed', 'closed'], ['Partially Consumed', 'partially_consumed'], ['Cancelled', 'canceled']] %>
          <ul class="dropdown-menu children" style="">
            <% tray_state_array.each do |state| %>
              <li>
                <a class="tray-state-filter" href="#" state_name="<%= state[0] %>" state_id="<%= state[1] %>"><%= state[0].try(:camelize) %></a></li>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="col-xs-4" style="padding: 5px 10px">
        <div class="btn-group" style="margin-bottom: 0px;" role="group" aria-label="">
          <a class="btn btn-primary btn-sm" id="time_period"><%= @time_period %></a>
          <button type="button" class="btn btn-primary btn-sm dropdown-toggle " data-toggle="dropdown" style="">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu children" style="">
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date %>" end-date="<%= current_date %>">Today</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.yesterday %>" end-date="<%= current_date.yesterday %>">Yesterday</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.beginning_of_week %>" end-date="<%= current_date.end_of_week %>">This Week</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.beginning_of_month %>" end-date="<%= current_date.end_of_month %>">This Month</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.beginning_of_quarter %>" end-date="<%= current_date.end_of_quarter %>">This Quarter</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.beginning_of_year %>" end-date="<%= current_date.end_of_year %>">This Year</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= (current_date - current_date.wday).beginning_of_week %>" end-date="<%= (current_date - current_date.wday).end_of_week %>">Previous Week</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= (current_date - current_date.mday).beginning_of_month %>" end-date="<%= (current_date - current_date.mday).end_of_month %>">Previous Month</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= (current_date - 3.months).beginning_of_quarter %>" end-date="<%= (current_date - 3.months).end_of_quarter %>">Previous Quarter</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= (current_date - current_date.yday).beginning_of_year %>" end-date="<%= (current_date - current_date.yday).end_of_year %>">Previous Year</a></li>
              <!-- Custom -->
            <li class="period-list"><div class="mis-date-filter-custom" data-remote="true" data-toggle="modal" data-target="#mis-modal">Custom</div></li>
          </ul>
        </div>
        <div style="margin-left: 130px; margin-top: -25px">
          <span style="color: #fff;"><%= @start_date&.gsub! '-', '/' %>&nbsp;&nbsp;to&nbsp;&nbsp;</span><span style="color: #fff;"><%= @end_date&.gsub! '-', '/' %></span>
        </div>
      </div>

      <!-- <div class="col-xs-4">
        <ul class="nav navbar-nav navbar-right" style="font-size:16px;margin-right: 2%;margin-top:10px;">
          <a href="/inventory/transaction/trays/download_data.xls?start_date=<%= @start_date %>&end_date=<%= @end_date %>&department_id=<%= @inventory_store.department_id %>&department_name=<%= @inventory_store.department_name %>&store_id=<%= @inventory_store.id %>" class="btn btn-primary btn-primary-transparent download-invoice-data" style="color:#fff; margin-right: -10px;"><i class="fa fa-download"></i> Download</a>
        </ul>
      </div> -->
      <div id="esearch_summary">
        <%#= render partial: '/inventory/transaction/trays/filter' %>
      </div>
    </div>
  </nav>
</div>

<div class="inventory-items" style=" height: initial;">
  <table class="table inventory_table_center">
    <thead class="inventory-table-head">
    <tr class='thead-fixable'>
      <td class='thead-fix col-md-4'>Date | Time</td>
      <td class='thead-fix col-md-3'>Patient / Id</td>
      <td class='thead-fix col-md-3'>Status</td>
      <td class='thead-fix'>Amount</td>
    </tr>
    </thead>
    <tbody class="inventory-table-body">
      <%= render partial: 'inventory/transaction/trays/index_body' %>
    </tbody>
  </table>
  <% unless @tray_transaction.count < 30 %>
    <div class="show-more-timeline">
      <a class="col-sm-12", href="javascript:;", id="show_more_inventory", data-count = "0" , style="text-align: center;text-decoration: none;position: fixed;">
        <i class="fa fa-spinner fa-spin"></i> Loading...
      </a>
    </div>
  <% end %>

<style>
  .print_button{
    border: 1px solid #6EC7EE;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    background: #6EC7EE;
    border-radius: 4px;
  }
  .print_button:hover{
    color: #fff;
    text-decoration: none;
  }

  .inventory-list-row:hover{
    background: aliceblue;
    cursor: pointer;
  }

  .inventory-list-row {
    cursor: pointer;
  }
  div.tagsinput {
    background: rgb(53, 70, 112)!important;
    border: none !important;
    padding:5px;
    width: auto !important;
    height: 48px !important;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
  }
  div.tagsinput span.tag {
    display: block;
    /*float: left;*/
    /*padding: 8px 5px;*/
    text-decoration: none;
    background: #ffffff !important;
    color: #000 !important;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
  }

  div.tagsinput span.tag:hover {
    text-decoration: line-through;
  }

  div.tagsinput span.tag a {
    font-weight: bold;
    color: #000 !important;
    opacity: 0.5;
    text-decoration: none;
    font-size: 11px;
  }
  .clear-filters-tag {
    padding: 10px;
    /*display: block;*/
    float: left;
    padding: 8px 5px;
    text-decoration: none;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
  }
  .inventory-date-filter-custom{
    /*padding: 5px 10px;*/
    /*color: #666;*/
    cursor: pointer;
  }

  .inventory-date-filter-custom:hover {
    background-color: #e7e7e7;
    color: #333;
  }
  @media only screen and (max-width: 800px) {
    .inventory-date-filter-custom{
      padding: 5px 15px 5px 25px;
    }

    .inventory-date-filter-custom:hover {
      background-color: transparent;
      color: #fff;
    }
  }
</style>
