<h4 class="text-center" style="margin: 10px; color: #00BFFF;">Tray</h4>
<div class="btn-group" style="margin: 10px;">

<% from = params[:from] == 'patient_queue' ? 'patient_queue' : 'transaction' %>

	<% if @tray.status == 'open' %>
		<%= link_to delete_tray_inventory_transaction_trays_path(tray_id: @tray.id, store_id: @tray.store_id, patient_id: @tray.patient_id, admission_id: @tray.admission_id, from: "#{from}"), class: "btn btn-danger btn-xs", data: { confirm: 'Are you sure to delete this tray?', commit: 'Yes', remote: true, 'disable-with' => 'Please Wait...',  class: 'btn btn-danger' } do %>Delete<% end %>
	<% end %>

	<% if @tray.status == 'consumed' || @tray.status == 'partially_consumed' %>
		<%= link_to close_tray_inventory_transaction_trays_path(tray_id: @tray.id, store_id: @tray.store_id, patient_id: @tray.patient_id, admission_id: @tray.admission_id, from: "#{from}"), class: "btn btn-warning btn-xs", data: { confirm: 'Are you sure to close this tray?', commit: 'Yes', remote: true, 'disable-with' => 'Please Wait...',  class: 'btn btn-danger' } do %>Close<% end %>
	<% end %>

	<% if (@from == 'patient_queue' && @tray.status == 'open') && (@admission.current_state != 'Deleted') %>
		<%= link_to edit_inventory_transaction_tray_path(id: @tray.id, store_id: @tray.store_id, patient_id: @tray.patient_id, admission_id: @tray.admission_id), class: "btn btn-primary btn-xs", data: { remote: true, 'toggle' => 'modal', 'target' => '#ot-store-tray-modal', class: 'btn btn-info'} do %><i class="fa fa-edit"></i>Edit Tray<% end %>
	<% end %>

  <!-- <a href="/inventory/transaction/trays/print?id=<%= @tray.id %>&page_size=A4" class="btn btn-success btn-xs" target='_blank'> <i class="fa fa-print"></i>&nbsp;Print A4</a> -->
  <!-- <a href="/inventory/transaction/trays/print?id=<%= @tray.id %>&page_size=A5" class="btn btn-success btn-xs" target='_blank'> <i class="fa fa-print"></i>&nbsp;Print A5</a> -->
</div>
<%= render partial: '/inventory/transaction/trays/show_body.html.erb' %>
