<% user_set_station = @facility_setting&.user_set_station %>
<% if @stations.count > 0 %>
  <div class="col-md-12 mt10 text-center">
    <div class="row station-form">
      <span class="text-danger">Existing Sub Stations can only be deleted between 9 PM to 11:59 PM</span>
    </div>
  </div>
  <% @stations.each_with_index do |station, i| %>
    <% sub_stations = station.sub_stations.includes(:active_user) %>
    <div class="col-md-12 station-row">
      <div class="row station-form">
        <hr>
        <input type="hidden" name="stations[<%= i %>][id]" id="stations_<%= i %>_id" value="<%= station.id %>">
        <input type="hidden" name="stations[<%= i %>][is_deleted]" id="stations_<%= i %>_is_deleted" class="station-is_deleted" value="0">
        <input type="hidden" name="stations[<%= i %>][is_updated]" id="stations_<%= i %>_is_updated" class="station-is_updated" value="false">
        <input type="hidden" name="stations[<%= i %>][organisation_id]" class="stations_organisation_id" id="stations_<%= i %>_organisation_id" value="<%= station.organisation_id || current_facility.organisation_id %>">
        <input type="hidden" name="stations[<%= i %>][facility_id]" class="stations_facility_id" id="stations_<%= i %>_facility_id" value="<%= station.facility_id || current_facility.id %>">
        <input type="hidden" name="stations[<%= i %>][user_id]" class="stations_user_id" id="stations_<%= i %>_user_id" value="<%= station.user_id || current_user.id %>">
        <input type="hidden" name="stations[<%= i %>][area_id]" class="stations_area_id" id="stations_0_area_id" value="<%= station.area_id %>">
        <div class="col-md-12">
          <b>Step 3 : Add Station & Sub Stations</b>
        </div>
        <div class="col-md-4">
          <b style="color:#000;">Station Name</b>
          <input type="text" class="form-control p5_10 station-name" name="stations[<%= i %>][name]" id="stations_<%= i %>_name" value="<%= station.name %>">
        </div>
        <div class="col-md-3">
          <b style="color:#000;">Station Type</b>
          <select class="form-control station-type" name="stations[<%= i %>][type]" id="stations_<%= i %>_type" value="<%= station.type %>">
            <% @station_types.each do |station_type| %>
              <% if station_type == station.type %>
                <option value="<%= station_type %>" selected="selected"><%= station_type.to_s.titleize %></option>
              <% else %>
                <option value="<%= station_type %>"><%= station_type.to_s.titleize %></option>
              <% end %>
            <% end %>
          </select>
        </div>
        <div class="col-md-2">
          <b style="color:#000;">Station Code</b>
          <input type="text" class="form-control p5_10 station-display_code" name="stations[<%= i %>][display_code]" id="stations_<%= i %>_display_code" maxlength="4" style="text-transform: uppercase;" value="<%= station.display_code %>">
        </div>
        <div class="col-md-3">
          <b style="color:#000;">Actions</b><br>
          <button class="btn btn-primary btn-add-sub_station btn-xs" id="stations_<%= i %>_add"><i class="fa fa-plus"></i>&nbsp;Sub</button>
          <!-- <button class="btn btn-danger btn-remove-station btn-xs" id="stations_<%= i %>_remove"><i class="fa fa-trash-alt"></i></button> -->
        </div>
      </div>
      <div class="row sub_station-form-row">
        <% if sub_stations.count > 0 %>
          <div class="col-md-10 col-md-offset-1 sub_station-header">
            <div class="row" style="margin:0 10px">
              <div class="col-md-3">
                <b style="color:#000;">Sub Station Code</b>
              </div>
              <div class="col-md-<%= user_set_station ? 4 : 6 %>">
                <b style="color:#000;">Permanent User</b>
              </div>
              <% if user_set_station %>
                <div class="col-md-4">
                  <b style="color:#000;">Active User</b>
                </div>
              <% end %>
              <div class="col-md-1">
                <b style="color:#000;">Action</b>
              </div>
            </div>
          </div>
          <% sub_stations.each_with_index do |sub_station, j| %>
            <div class="col-md-10 col-md-offset-1 sub_station-row">
              <div class="row sub_station-form">
                <input type="hidden" name="stations[<%= i %>][sub_stations_attributes][<%= j %>][id]" class="sub_station-id" id="stations_<%= i %>_sub_stations_attributes_<%= j %>_id" value="<%= sub_station.id %>">
                <input type="hidden" name="stations[<%= i %>][sub_stations_attributes][<%= j %>][organisation_id]" class="sub_station-organisation_id" id="stations_<%= i %>_sub_stations_attributes_<%= j %>_organisation_id" value="<%= sub_station.organisation_id %>">
                <input type="hidden" name="stations[<%= i %>][sub_stations_attributes][<%= j %>][facility_id]" class="sub_station-facility_id" id="stations_<%= i %>_sub_stations_attributes_<%= j %>_facility_id" value="<%= sub_station.facility_id %>">
                <input type="hidden" name="stations[<%= i %>][sub_stations_attributes][<%= j %>][created_by_id]" class="sub_station-created_by_id" id="stations_<%= i %>_sub_stations_attributes_<%= j %>_created_by_id" value="<%= sub_station.created_by_id %>">
                <input type="hidden" name="stations[<%= i %>][sub_stations_attributes][<%= j %>][area_id]" class="sub_station-area_id" id="stations_<%= i %>_sub_stations_attributes_<%= j %>_area_id" value="<%= sub_station.area_id %>">
                <input type="hidden" name="stations[<%= i %>][sub_stations_attributes][<%= j %>][_destroy]" class="sub_station-destroy" id="stations_<%= i %>_sub_stations_attributes_<%= j %>__destroy" value="0">
                <input type="hidden" name="stations[<%= i %>][sub_stations_attributes][<%= j %>][is_deleted]" class="sub_station-is_deleted" id="stations_<%= i %>_sub_stations_attributes_<%= j %>_is_deleted" value="0">
                <div class="col-md-3">
                  <input type="text" class="form-control p5_10 sub_station-display_code" name="stations[<%= i %>][sub_stations_attributes][<%= j %>][display_code]" maxlength="4" style="text-transform: uppercase;" value="<%= sub_station.display_code %>">
                </div>
                <div class="col-md-<%= user_set_station ? 4 : 6 %>">
                  <%= qm_format_user(sub_station.user) %>
                </div>
                <% if user_set_station %>
                  <div class="col-md-4">
                    <%= qm_format_user(sub_station.active_user) %>
                  </div>
                <% end %>
                <div class="col-md-1">
                  <% if delete_sub_station? %>
                    <% if sub_stations.count > 1 %>
                      <button class="btn btn-danger btn-remove-sub_station btn-xs"><i class="fa fa-trash-alt"></i></button>
                    <% else %>
                      <button class="btn btn-danger btn-remove-sub_station btn-xs" disabled="disabled"><i class="fa fa-trash-alt"></i></button>
                    <% end %>
                  <% else %>
                    -
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="col-md-12 station-row">
    <div class="row station-form">
      <hr>
      <input type="hidden" name="stations[0][is_updated]" id="stations_0_is_updated" class="station-is_updated" value="true">
      <input type="hidden" name="stations[0][organisation_id]" class="stations_organisation_id" id="stations_0_organisation_id" value="<%= current_facility.organisation_id %>">
      <input type="hidden" name="stations[0][facility_id]" class="stations_facility_id" id="stations_0_facility_id" value="<%= params[:facility_id] %>">
      <input type="hidden" name="stations[0][user_id]" class="stations_user_id" id="stations_0_user_id" value="<%= current_user.id.to_s %>">
      <input type="hidden" name="stations[0][area_id]" class="stations_area_id" id="stations_0_area_id" value="<%= params[:area_id] %>">
      <div class="col-md-12">
        <b>Step 3 : Add Station & Sub Stations</b>
      </div>
      <div class="col-md-4">
        <b style="color:#000;">Station Name</b>
        <input type="text" class="form-control p5_10 station-name" name="stations[0][name]" id="stations_0_name">
      </div>
      <div class="col-md-3">
        <b style="color:#000;">Station Type</b>
        <select class="form-control station-type" name="stations[0][type]" id="stations_0_type">
          <% @station_types.each do |station_type| %>
            <option value="<%= station_type %>"><%= station_type.to_s.titleize %></option>
          <% end %>
        </select>
      </div>
      <div class="col-md-2">
        <b style="color:#000;">Station Code</b>
        <input type="text" class="form-control p5_10 station-display_code" name="stations[0][display_code]" id="stations_0_display_code" maxlength="4" style="text-transform: uppercase;">
      </div>
      <div class="col-md-3">
        <b style="color:#000;">Actions</b><br>
        <button class="btn btn-primary btn-add-sub_station btn-xs" id="stations_0_add"><i class="fa fa-plus"></i>&nbsp;Sub</button>
        <button class="btn btn-danger btn-remove-station btn-xs removeable" id="stations_0_remove"><i class="fa fa-trash-alt"></i></button>
      </div>
    </div>
    <div class="row sub_station-form-row">
      <div class="col-md-10 col-md-offset-1 sub_station-header">
        <div class="row" style="margin:0 10px">
          <div class="col-md-3">
            <b style="color:#000;">Sub Station Code</b>
          </div>
          <div class="col-md-<%= user_set_station ? 4 : 6 %>">
            <b style="color:#000;">Permanent User</b>
          </div>
          <% if user_set_station %>
            <div class="col-md-4">
              <b style="color:#000;">Active User</b>
            </div>
          <% end %>
          <div class="col-md-1">
            <b style="color:#000;">Action</b>
          </div>
        </div>
      </div>
      <div class="col-md-10 col-md-offset-1 sub_station-row">
        <div class="row sub_station-form">
          <input type="hidden" name="stations[0][sub_stations_attributes][0][organisation_id]" class="sub_station-organisation_id" id="station_0_sub_stations_attributes_0_organisation_id" value="<%= current_facility.organisation_id %>">
          <input type="hidden" name="stations[0][sub_stations_attributes][0][facility_id]" class="sub_station-facility_id" id="station_0_sub_stations_attributes_0_facility_id" value="<%= params[:facility_id] %>">
          <input type="hidden" name="stations[0][sub_stations_attributes][0][created_by_id]" class="sub_station-created_by_id" id="station_0_sub_stations_attributes_0_created_by_id" value="<%= current_user.id %>">
          <input type="hidden" name="stations[0][sub_stations_attributes][0][area_id]" class="sub_station-area_id" id="station_0_sub_stations_attributes_0_area_id" value="<%= params[:area_id] %>">
          <div class="col-md-3">
            <input type="text" class="form-control p5_10 sub_station-display_code" name="stations[0][sub_stations_attributes][0][display_code]" maxlength="4" style="text-transform: uppercase;">
          </div>
          <div class="col-md-<%= user_set_station ? 4 : 6 %>">
            <i>-</i>
          </div>
          <% if user_set_station %>
            <div class="col-md-4">
              <i>-</i>
            </div>
          <% end %>
          <div class="col-md-1">
            <button class="btn btn-danger btn-remove-sub_station btn-xs removeable" disabled="disabled"><i class="fa fa-trash-alt"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  <%= render partial: 'set_stations.js.erb', locals: { user_set_station: user_set_station } %>
</script>
