<% users_linked = 0 %>
<% user_set_station = @facility_setting&.user_set_station %>
<% @area_stations.each do |area, stations| %>
  <div class="col-md-4 area-<%= area.id.to_s %> mb20">
    <div class="col-md-12">
      <div class="row" style="background:#354670;color:#fff;padding:5px;">
        <div class="col-md-6">
          <h5>Area : <%= area.name %></h5>
        </div>
      </div>
      <div class="row station-details">
        <% stations.each do |station| %>
          <table class="table table-bordered table-station-details">
            <thead>
              <tr>
                <th colspan="<%= user_set_station ? 3 : 2 %>" style="padding:10px;text-align:center;">
                  <span>Station : <%= station.name %> (<%= station.type.to_s.titleize %>) - <%= station.display_code&.upcase %></span>
                </th>
              </tr>
              <tr>
                <th>Sub Station Name</th>
                <th>Permanent User</th>
                <% if user_set_station %>
                  <th>Active User</th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% station.sub_stations.each do |sub_station| %>
                <% users_linked += 1 if sub_station.user_id || sub_station.active_user_id %>
                <tr>
                  <td><%= sub_station.try(:display_code).upcase %></td>
                  <td><%= qm_format_user(sub_station.user) %></td>
                  <% if user_set_station %>
                    <td><%= qm_format_user(sub_station.active_user) %></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<% if users_linked == 0 %>
  <div class="col-md-12">
    <div id="service-master-guide" class="row" style="border-top: 1px solid #354670;">
      <div class="col-md-12">
        <h4 style="color:#428bca;">STEP 3 - LINK USERS TO SUB STATIONS</h4>
        <ul>
          <li>Next LINK USERS to their respective Sub Station. Click on &nbsp; <%= link_to link_users_queue_management_sub_stations_path, data: { remote: true, toggle: 'modal', target: '#ward-modal' }, class: 'btn btn-primary btn-xs', style: 'margin:5px;' do %><i class="fa fa-plus"></i> Link Users<% end %></li>
          <li>
            <b>What is Linking Users?</b>
            <ol style="list-style-type: upper-alpha;">
              <li>Every Sub Station should be linked to a User who is tied to that Station.</li>
            </ol>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>
