<!-- <div class="row no_margin text-center">
  <h4>Summary</h4>
</div> -->
<% unless current_facility.clinical_workflow %>
    <%= render 'opd_appointments/list/sidebar_summary_without_workflow' %>
<% else%>
    <% if current_user.role_ids.include?159561009 %>
      <%= render 'opd_appointments/list/sidebar_summary_with_workflow_receptionist' %>
    <% elsif current_user.role_ids.include?59561000 %>
      <%= render 'opd_appointments/list/sidebar_summary_with_workflow_receptionist' %>
    <% elsif current_user.role_ids.include?159562000 %>
      <%= render 'opd_appointments/list/sidebar_summary_with_workflow_receptionist' %>
    <%elsif current_user.role_ids.include?158965000%>
      <%= render 'opd_appointments/list/sidebar_summary_doctor'%>
    <%elsif current_user.role_ids.include?28229004%>
      <%= render 'opd_appointments/list/sidebar_summary_optometrist'%>
    <%elsif current_user.role_ids.include?28221005%>
      <%= render 'opd_appointments/list/sidebar_summary_optometrist'%>
    <%elsif current_user.role_ids.include?(106292003)%>
      <%= render 'opd_appointments/list/sidebar_summary_with_workflow_receptionist'%>
    <%elsif current_user.role_ids.include?(405277009)%>
      <%= render 'opd_appointments/list/sidebar_summary_with_workflow_receptionist'%>
    <%elsif current_user.role_ids.include?(499992366)%>
      <%#= render 'opd_appointments/list/sidebar_summary_counsellor'%>
      <%= render 'opd_clinical_workflow/counsellor/counsellor_list_view_sidebar'%>
    <%end%>
<% end %>