<% if @current_facility.show_language_support %>
  <div class="col-md-10">

    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th width="20%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Name</th>
        <th width="12%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Type</th>
        <th width="6%"  class="text-center" style="padding-top:0px;padding-bottom:0px;">Quantity</th>
        <th width="14%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Frequency&nbsp;&nbsp;<a href="#" data-toggle="tooltip" data-placement="bottom" title="Number of times in a day"><i class="fa fa-info-circle" aria-hidden="true"></i></a></th>
        <th width="18%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Duration&nbsp;&nbsp;<a href="#" data-toggle="tooltip" data-placement="bottom" title="How long you need to take this"><i class="fa fa-info-circle" aria-hidden="true"></i></a></th>
        <th width="18%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Instruction</th>
        <th width="12%" class="text-center" style="padding-top:0px;padding-bottom:0px;"></th>
      </tr>
      </thead>
      <tbody class="medication-table-body-added">
        <%@medication_instruction_set << 'Add a text Box'%>
        <% if @discharge_note.has_treatmentmedication? %>

          <% @discharge_note.treatmentmedication.each_with_index do |elem, i| %>
              <tr class="treatmentmedications">

                  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                    <div class="form-group">
                      <div class="input-group mb15">
                        <div class="ui-widget">
                          <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][id]", elem.id, {:class => 'form-control id' } %>
                          <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
                          <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinename]", elem.medicinename, {:maxlength => 300, :size => 40, :class => 'form-control medicinename' } %>
                        </div>
                        <span id="medicinename-contents-<%= "#{i}" %>" class="btn btn-xs btn-success btn-square medicinename-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
                      </div>
                    </div>
                  </td>

                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <div class="input-group mb15">
                      <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinetype]",elem.medicinetype, { :class => 'form-control medicinetype' } %>
                    </div>
                  </div>
                </td>

                  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                    <div class="form-group">
                      <div class="input-group mb15">
                        <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinequantity]", options_for_select(['1/4', '1/2', '1', '2', '3'], elem.medicinequantity), { :class => 'form-control medicinequantity' } %>
                      </div>
                    </div>
                  </td>                              

                  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                    <div class="form-group">
                      <div class="input-group mb15">
                        <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinefrequency]", options_for_select(['['Select', ''], 1-1-1', '1-1-0', '1-0-1', '0-1-1', '1-0-0', '0-1-0', '0-0-1','2-2-2','2-0-2', '1-1-1-1','once a week','once a month', '5 times a day', '6 times a day', '8 times a day', '10 times a day', '12 times a day', '24 times a day','Sat-Sun', 'SOS'], elem.medicinefrequency), { :class => 'form-control medicinefrequency'} %>
                      </div>
                    </div>
                  </td>

                  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                    <div class="form-group">
                      <div class="input-group mb15">

                        <div class="row">

                          <div class="col-md-4">
                            <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineduration]", options_for_select([['Sel',''],['1','1'], ['2','2'], ['3','3'], ['4','4'], ['5','5'], ['6','6'], ['7','7'], ['8','8'], ['9','9'], ['10','10'], ['11','11'], ['12','12']  ], elem.medicineduration), { :class => 'form-control medicineduration'} %>
                          </div>

                          <div class="col-md-8">

                              <div class="col-md-12">

                                <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinedurationoption]", options_for_select([['Sel',''], ['Days', 'D'], ['Weeks', 'W'], ['Months', 'M'], ['Next followup', 'F'] ], elem.medicinedurationoption), { :class => 'form-control medicinedurationoption'} %>

                              </div>

                          </div>

                        </div>
                      
                      </div>
                    </div>
                  </td>

                  <td class="medication_instruction_box" style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                    <%if elem.medicineinstructions.present?%>
                      <div class="form-group edit_instruction_box">
                        <div class="input-group mb15">
                          <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineinstructions]", elem.medicineinstructions, {:maxlength => 300, :size => 40, :class => 'form-control text_box_val', :style => "width: 86%" } %>
                          <button type="button" class="btn btn-link undo_button_edit fa fa-undo" style="width: 0%; margin-left: -4%;"></button>
                        </div>
                      </div>
                      <div class="form-group hide edit_instruction">
                        <div class="input-group mb15">
                          <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][instruction]", options_for_select(@medication_instruction_set,""), {:prompt => 'Please Select', :class => 'form-control instruction_dropdown_edit',:style => "padding: 10px 0px" } %>
                        </div>
                      </div>
                    <%elsif elem.instruction.present?%>
                      <div class="form-group edit-instruction">
                        <div class="input-group mb15">
                          <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][instruction]", options_for_select(@medication_instruction_set,elem.instruction), {:prompt => 'Please Select', :class => 'form-control instruction_dropdown_magic',:style => "padding: 10px 0px" } %>
                        </div>
                      </div>
                      <div class="form-group hide instruction_box">
                        <div class="input-group mb15">
                          <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineinstructions]", nil, {:maxlength => 300, :size => 40, :class => 'form-control text_box_val', :style => "width: 86%" } %>
                          <button type="button" class="btn btn-link undo_button_magic fa fa-undo" style="width: 0%; margin-left: -4%;"></button>
                        </div>
                      </div>
                    <%else%>
                      <div class="form-group instruction">
                        <div class="input-group mb15">
                          <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][instruction]", options_for_select(@medication_instruction_set,""), {:prompt => 'Please Select', :class => 'form-control instruction_dropdown',:style => "padding: 10px 0px" } %>
                        </div>
                      </div>
                      <div class="form-group instruction_box hide">
                        <div class="input-group mb15">
                          <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineinstructions]", nil, {:maxlength => 300, :size => 40, :class => 'form-control text_box_val', :style => "width: 86%" } %>
                          <button type="button" class="btn btn-link undo_button fa fa-undo" style="width: 0%; margin-left: -4%;"></button>
                        </div>
                      </div>
                    <%end%>
                  </td>

                  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">

                    <div class="form-group">
                      <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
                      <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger" href="javascript:;" name="removemedicationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
                    </div>

                  </td>

              </tr>
          <% end %>

          <% counter = @discharge_note.treatmentmedication.size %>

          <% ((counter + 1)..5).each_with_index do |elem, i| %>

              <tr class="treatmentmedications">

                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <div class="input-group mb15">
                      <div class="ui-widget">
                        <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][_destroy]", "0", {:class => 'form-control' } %>
                        <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][medicinename]", nil, {:maxlength => 300, :size => 40, :class => 'form-control medicinename' } %>
                      </div>
                      <span id="medicinename-contents-<%= "#{counter}" %>" class="btn btn-xs btn-success btn-square medicinename-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
                    </div>
                  </div>
                </td>

                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <div class="input-group mb15">
                      <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][medicinetype]",nil, { :class => 'form-control medicinetype' } %>
                    </div>
                  </div>
                </td>

                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <div class="input-group mb15">
                      <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][medicinequantity]", options_for_select(['1/4', '1/2', '1', '2', '3'], "1"), { :class => 'form-control medicinequantity' } %>
                    </div>
                  </div>
                </td>

                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <div class="input-group mb15">
                      <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][medicinefrequency]", options_for_select([['Select', ''], '1-1-1', '1-1-0', '1-0-1', '0-1-1', '1-0-0', '0-1-0', '0-0-1','2-2-2','2-0-2', '1-1-1-1','once a week','once a month', '5 times a day', '6 times a day', '8 times a day', '10 times a day', '12 times a day', '24 times a day','Sat-Sun', 'SOS'], ""), { :class => 'form-control medicinefrequency'} %>
                    </div>
                  </div>
                </td>

                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <div class="input-group mb15">

                      <div class="row">

                        <div class="col-md-4">
                          <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][medicineduration]", options_for_select([['Sel',''],['1','1'], ['2','2'], ['3','3'], ['4','4'], ['5','5'], ['6','6'], ['7','7'], ['8','8'], ['9','9'], ['10','10'], ['11','11'], ['12','12'], ['15', '15'], ['20', '20'], ['25', '25'], ['30', '30'], ['40', '40'], ['50', '50']  ], ""), { :class => 'form-control medicineduration'} %>
                        </div>

                        <div class="col-md-8">

                          <div class="col-md-12">

                            <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][medicinedurationoption]", options_for_select([['Sel',''], ['Days', 'D'], ['Weeks', 'W'], ['Months', 'M'], ['Next followup', 'F'] ], ""), { :class => 'form-control medicinedurationoption'} %>

                          </div>

                        </div>

                      </div>

                    </div>
                  </div>
                </td>

                <td class="medication_instruction_box" style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group instruction">
                    <div class="input-group mb15">
                      <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][instruction]", options_for_select(@medication_instruction_set), {:prompt => 'Please Select', :class => 'form-control instruction_dropdown',:style => "padding: 10px 0px" } %>
                    </div>
                  </div>
                  <div class="form-group instruction_box hide">
                    <div class="input-group mb15">
                      <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineinstructions]", nil, {:maxlength => 300, :size => 40, :class => 'form-control text_box_val', :style => "width: 86%" } %>
                      <button type="button" class="btn btn-link undo_button fa fa-undo" style="width: 0%; margin-left: -4%;"></button>
                    </div>
                  </div>
                </td>

                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">

                  <div class="form-group">
                    <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
                    <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger" href="javascript:;" name="removemedicationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
                  </div>

                </td>

              </tr>

              <% counter = counter + 1 %>

          <% end %>

        <% else %>

              <% (1..5).each_with_index do |elem, i| %>

                    <tr class="treatmentmedications">

                      <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                        <div class="form-group">
                          <div class="input-group mb15">
                            <div class="ui-widget">
                              <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
                              <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinename]", nil, {:maxlength => 300, :size => 40, :class => 'form-control medicinename' } %>
                            </div>                                      
                            <span id="medicinename-contents-<%= "#{i}" %>" class="btn btn-xs btn-success btn-square medicinename-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
                          </div>
                        </div>
                      </td>

                      <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                        <div class="form-group">
                          <div class="input-group mb15">
                            <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinetype]",nil, { :class => 'form-control medicinetype' } %>
                          </div>
                        </div>
                      </td>

                      <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                        <div class="form-group">
                          <div class="input-group mb15">
                            <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinequantity]", options_for_select(['1/4', '1/2', '1', '2', '3'], "1"), { :class => 'form-control medicinequantity' } %>
                          </div>
                        </div>
                      </td>                              

                      <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                        <div class="form-group">
                          <div class="input-group mb15">
                            <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinefrequency]", options_for_select([['Select', ''], '1-1-1', '1-1-0', '1-0-1', '0-1-1', '1-0-0', '0-1-0', '0-0-1','2-2-2','2-0-2', '1-1-1-1','once a week','once a month', '5 times a day', '6 times a day', '8 times a day', '10 times a day', '12 times a day', '24 times a day','Sat-Sun', 'SOS'], ""), { :class => 'form-control medicinefrequency'} %>
                          </div>
                        </div>
                      </td>

                      <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                        <div class="form-group">
                          <div class="input-group mb15">

                            <div class="row">

                              <div class="col-md-4">
                                    <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineduration]", options_for_select([['Sel',''],['1','1'], ['2','2'], ['3','3'], ['4','4'], ['5','5'], ['6','6'], ['7','7'], ['8','8'], ['9','9'], ['10','10'], ['11','11'], ['12','12'], ['15', '15'], ['20', '20'], ['25', '25'], ['30', '30'], ['40', '40'], ['50', '50']  ], ""), { :class => 'form-control medicineduration'} %>
                              </div>

                              <div class="col-md-8">

                                <div class="col-md-12">

                                  <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinedurationoption]", options_for_select([['Sel',''], ['Days', 'D'], ['Weeks', 'W'], ['Months', 'M'], ['Next followup', 'F'] ], ""), { :class => 'form-control medicinedurationoption'} %>

                                </div>

                              </div>

                            </div>
                          
                          </div>
                        </div>
                      </td>

                      <td class="medication_instruction_box" style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                        <div class="form-group instruction">
                          <div class="input-group mb15">
                            <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][instruction]", options_for_select(@medication_instruction_set), {:prompt => 'Please Select', :class => 'form-control instruction_dropdown',:style => "padding: 10px 0px" } %>
                          </div>
                        </div>
                        <div class="form-group hide instruction_box">
                          <div class="input-group mb15">
                            <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineinstructions]", nil, {:maxlength => 300, :size => 40, :class => 'form-control text_box_val', :style => "width: 86%" } %>
                            <button type="button" class="btn btn-link undo_button fa fa-undo" style="width: 0%; margin-left: -4%;"></button>
                          </div>
                        </div>
                      </td>

                      <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">

                        <div class="form-group">
                          <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
                          <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger" href="javascript:;" name="removemedicationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
                        </div>

                      </td>

                    </tr>

              <% end %>

        <% end %>


      </tbody>

    </table>

    <div class="medication-table-body-removed" style="display:none;">
    </div>

  </div>
<%else%>
  <div class="col-md-10">

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th width="20%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Name</th>
          <th width="12%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Type</th>
          <th width="6%"  class="text-center" style="padding-top:0px;padding-bottom:0px;display: none">Quantity</th>
          <th width="14%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Frequency&nbsp;&nbsp;<a href="#" data-toggle="tooltip" data-placement="bottom" title="Number of times in a day"><i class="fa fa-info-circle" aria-hidden="true"></i></a></th>
          <th width="18%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Duration&nbsp;&nbsp;<a href="#" data-toggle="tooltip" data-placement="bottom" title="How long you need to take this"><i class="fa fa-info-circle" aria-hidden="true"></i></a></th>
          <th width="18%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Instruction</th>
          <th width="12%" class="text-center" style="padding-top:0px;padding-bottom:0px;"></th>
        </tr>
      </thead>
      <tbody class="medication-table-body-added">

        <% if @discharge_note.has_treatmentmedication? %>

          <% @discharge_note.treatmentmedication.each_with_index do |elem, i| %>
              <tr class="treatmentmedications">

                  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                    <div class="form-group">
                      <div class="input-group mb15">
                        <div class="ui-widget">
                          <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][id]", elem.id, {:class => 'form-control id' } %>
                          <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
                          <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinename]", elem.medicinename, {:maxlength => 300, :size => 40, :class => 'form-control medicinename' } %>
                        </div>
                        <span id="medicinename-contents-<%= "#{i}" %>" class="btn btn-xs btn-success btn-square medicinename-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
                      </div>
                    </div>
                  </td>

                  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                    <div class="form-group">
                      <div class="input-group mb15">
                        <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinetype]",elem.medicinetype, { :class => 'form-control medicinetype' } %>
                      </div>
                    </div>
                  </td>

                  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                    <div class="form-group">
                      <div class="input-group mb15">
                        <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinequantity]", options_for_select(['1/4', '1/2', '1', '2', '3'], elem.medicinequantity), { :class => 'form-control medicinequantity' } %>
                      </div>
                    </div>
                  </td>                              

                  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                    <div class="form-group">
                      <div class="input-group mb15">
                        <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinefrequency]", options_for_select([['Select', ''], '1-1-1', '1-1-0', '1-0-1', '0-1-1', '1-0-0', '0-1-0', '0-0-1','2-2-2','2-0-2', '1-1-1-1','once a week','once a month', '5 times a day', '6 times a day', '8 times a day', '10 times a day', '12 times a day', '24 times a day','Sat-Sun', 'SOS'], elem.medicinefrequency), { :class => 'form-control medicinefrequency'} %>
                      </div>
                    </div>
                  </td>

                  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                    <div class="form-group">
                      <div class="input-group mb15">
                        <div class="row">
                          <div class="col-md-4">
                            <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineduration]", options_for_select([['Sel',''],['1','1'], ['2','2'], ['3','3'], ['4','4'], ['5','5'], ['6','6'], ['7','7'], ['8','8'], ['9','9'], ['10','10'], ['11','11'], ['12','12']  ], elem.medicineduration), { :class => 'form-control medicineduration'} %>
                          </div>

                          <div class="col-md-8">
                            <div class="col-md-12">
                              <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinedurationoption]", options_for_select([['Sel',''], ['Days', 'D'], ['Weeks', 'W'], ['Months', 'M'], ['Next followup', 'F'] ], elem.medicinedurationoption), { :class => 'form-control medicinedurationoption'} %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>

                  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                    <div class="form-group">
                      <div class="input-group mb15">
                        <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineinstructions]", elem.medicineinstructions, {:maxlength => 300, :size => 40, :class => 'form-control' } %>
                      </div>
                    </div>
                  </td>

                  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                    <div class="form-group">
                      <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
                      <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger" href="javascript:;" name="removemedicationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                  </td>

              </tr>
          <% end %>

          <% counter = @discharge_note.treatmentmedication.size %>
          <% ((counter + 1)..5).each_with_index do |elem, i| %>

              <tr class="treatmentmedications">

                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <div class="input-group mb15">
                      <div class="ui-widget">
                        <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][_destroy]", "0", {:class => 'form-control' } %>
                        <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][medicinename]", nil, {:maxlength => 300, :size => 40, :class => 'form-control medicinename' } %>
                      </div>
                      <span id="medicinename-contents-<%= "#{counter}" %>" class="btn btn-xs btn-success btn-square medicinename-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
                    </div>
                  </div>
                </td>

                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <div class="input-group mb15">
                      <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][medicinetype]",nil, { :class => 'form-control medicinetype' } %>
                    </div>
                  </div>
                </td>

                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <div class="input-group mb15">
                      <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][medicinequantity]", options_for_select(['1/4', '1/2', '1', '2', '3'], "1"), { :class => 'form-control medicinequantity' } %>
                    </div>
                  </div>
                </td>

                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <div class="input-group mb15">
                      <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][medicinefrequency]", options_for_select([['Select', ''], '1-1-1', '1-1-0', '1-0-1', '0-1-1', '1-0-0', '0-1-0', '0-0-1','2-2-2','2-0-2', '1-1-1-1','once a week','once a month', '5 times a day', '6 times a day', '8 times a day', '10 times a day', '12 times a day', '24 times a day','Sat-Sun', 'SOS'], ""), { :class => 'form-control medicinefrequency'} %>
                    </div>
                  </div>
                </td>

                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <div class="input-group mb15">

                      <div class="row">

                        <div class="col-md-4">
                          <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][medicineduration]", options_for_select([['Sel',''],['1','1'], ['2','2'], ['3','3'], ['4','4'], ['5','5'], ['6','6'], ['7','7'], ['8','8'], ['9','9'], ['10','10'], ['11','11'], ['12','12'], ['15', '15'], ['20', '20'], ['25', '25'], ['30', '30'], ['40', '40'], ['50', '50']  ], ""), { :class => 'form-control medicineduration'} %>
                        </div>

                        <div class="col-md-8">

                          <div class="col-md-12">

                            <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][medicinedurationoption]", options_for_select([['Sel',''], ['Days', 'D'], ['Weeks', 'W'], ['Months', 'M'], ['Next followup', 'F'] ], ""), { :class => 'form-control medicinedurationoption'} %>

                          </div>

                        </div>

                      </div>

                    </div>
                  </div>
                </td>

                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <div class="input-group mb15">
                      <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][medicineinstructions]", nil, {:maxlength => 300, :size => 40, :class => 'form-control' } %>
                    </div>
                  </div>
                </td>

                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">

                  <div class="form-group">
                    <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
                    <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger" href="javascript:;" name="removemedicationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
                  </div>

                </td>

              </tr>

              <% counter = counter + 1 %>

          <% end %>

        <% else %>

          <% (1..5).each_with_index do |elem, i| %>

                <tr class="treatmentmedications">

                  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                    <div class="form-group">
                      <div class="input-group mb15">
                        <div class="ui-widget">
                          <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
                          <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinename]", nil, {:maxlength => 300, :size => 40, :class => 'form-control medicinename' } %>
                        </div>                                      
                        <span id="medicinename-contents-<%= "#{i}" %>" class="btn btn-xs btn-success btn-square medicinename-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
                      </div>
                    </div>
                  </td>

                  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                    <div class="form-group">
                      <div class="input-group mb15">
                        <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinetype]",nil, { :class => 'form-control medicinetype' } %>
                      </div>
                    </div>
                  </td>

                  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                    <div class="form-group">
                      <div class="input-group mb15">
                        <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinequantity]", options_for_select(['1/4', '1/2', '1', '2', '3'], "1"), { :class => 'form-control medicinequantity' } %>
                      </div>
                    </div>
                  </td>                              

                  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                    <div class="form-group">
                      <div class="input-group mb15">
                        <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinefrequency]", options_for_select([['Select', ''], '1-1-1', '1-1-0', '1-0-1', '0-1-1', '1-0-0', '0-1-0', '0-0-1','2-2-2','2-0-2', '1-1-1-1','once a week','once a month', '5 times a day', '6 times a day', '8 times a day', '10 times a day', '12 times a day', '24 times a day','Sat-Sun', 'SOS'], ""), { :class => 'form-control medicinefrequency'} %>
                      </div>
                    </div>
                  </td>

                  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                    <div class="form-group">
                      <div class="input-group mb15">

                        <div class="row">

                          <div class="col-md-4">
                                <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineduration]", options_for_select([['Sel',''],['1','1'], ['2','2'], ['3','3'], ['4','4'], ['5','5'], ['6','6'], ['7','7'], ['8','8'], ['9','9'], ['10','10'], ['11','11'], ['12','12'], ['15', '15'], ['20', '20'], ['25', '25'], ['30', '30'], ['40', '40'], ['50', '50']  ], ""), { :class => 'form-control medicineduration'} %>
                          </div>

                          <div class="col-md-8">

                            <div class="col-md-12">

                              <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinedurationoption]", options_for_select([['Sel',''], ['Days', 'D'], ['Weeks', 'W'], ['Months', 'M'], ['Next followup', 'F'] ], ""), { :class => 'form-control medicinedurationoption'} %>

                            </div>

                          </div>

                        </div>
                      
                      </div>
                    </div>
                  </td>

                  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                    <div class="form-group">
                      <div class="input-group mb15">
                        <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineinstructions]", nil, {:maxlength => 300, :size => 40, :class => 'form-control' } %>
                      </div>
                    </div>
                  </td>

                  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">

                    <div class="form-group">
                      <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
                      <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger" href="javascript:;" name="removemedicationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
                    </div>

                  </td>

                </tr>

          <% end %>

        <% end %>

      </tbody>

    </table>

    <div class="medication-table-body-removed" style="display:none;">
    </div>
  </div>
<%end%>
<script type="text/javascript">
  $(".instruction_dropdown_edit").on("change",function(){
    var id = $(this).attr("id")
    if ($("#"+id).val() == "Add a text Box"){
      $("#"+id).parent(".input-group").parent(".edit_instruction").prev(".edit_instruction_box").removeClass('hide').removeAttr("disabled","disabled");
      $("#"+id).parent(".input-group").parent(".edit_instruction").addClass("hide").attr("disabled","disabled")
      $("#"+id).val("")
    }
  })

  $(".undo_button_edit").on("click",function(e){
    e.preventDefault();
    $(this).parent(".input-group").parent('.edit_instruction_box').children(".input-group").children(".text_box_val").val("")
    $(this).parent(".input-group").parent('.edit_instruction_box').next(".edit_instruction").removeClass("hide");
    $(this).parent(".input-group").parent('.edit_instruction_box').addClass("hide")
  })

  $(".instruction_dropdown_magic").on("change",function(){
    var id = $(this).attr("id")
    if ($("#"+id).val() == "Add a text Box"){
      $("#"+id).parent(".input-group").parent(".edit-instruction").next(".instruction_box").removeClass('hide').removeAttr("disabled","disabled");
      $("#"+id).parent(".input-group").parent(".edit-instruction").hide().attr("disabled","disabled")
      $("#"+id).val("")
    }
  })  

  $(".undo_button_magic").on("click",function(e){
    e.preventDefault();
    $(this).parent(".input-group").parent('.instruction_box').parent('.medication_instruction_box').children('.edit-instruction').show().removeAttr("disabled","disabled");
    $(this).parent(".input-group").parent('.instruction_box').children(".input-group").children(".text_box_val").val("")
    $(this).parent(".input-group").parent('.instruction_box').addClass("hide").attr("disabled","disabled");
  })

  $(".instruction_dropdown").on("change",function(){
    var id = $(this).attr("id")
    if ($("#"+id).val() == "Add a text Box"){
      $("#"+id).parent(".input-group").parent(".instruction").next(".instruction_box").removeClass('hide').removeAttr("disabled","disabled");
      $(this).parent(".input-group").parent(".instruction").hide().attr("disabled","disabled");
      $("#"+id).val("")
    }
  })

  $(".undo_button").on("click",function(e){
    e.preventDefault();
    $(this).parent(".input-group").parent('.instruction_box').parent('.medication_instruction_box').children('.instruction').show().removeAttr("disabled","disabled");
    $(this).parent(".input-group").parent('.instruction_box').children(".input-group").children(".text_box_val").val("")
    $(this).parent(".input-group").parent('.instruction_box').addClass("hide").attr("disabled","disabled");
  })
</script>