<div id="optical-<%= location %>-modal-<%= i %>" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <% intermediate = prescription.prescription_type %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= 'Intermediate' if intermediate %> Glasses Prescription</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="text-center" colspan="5">R/OD</th>
                </tr>
                <tr>
                  <th class="text-center"></th>
                  <th class="text-center">Sph</th>
                  <th class="text-center">Cyl</th>
                  <th class="text-center">Axis</th>
                  <th class="text-center">Vision</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">
                    Distant
                  </td>
                  <td class="text-center">
                    <%= intermediate ? prescription.r_intermediate_glasses_prescriptions_distant_sph : prescription.r_glassesprescriptions_distant_sph %>
                  </td>
                  <td class="text-center">
                    <%= intermediate ? prescription.r_intermediate_glasses_prescriptions_distant_cyl : prescription.r_glassesprescriptions_distant_cyl %>
                  </td>
                  <td class="text-center">
                    <%= intermediate ? prescription.r_intermediate_glasses_prescriptions_distant_axis : prescription.r_glassesprescriptions_distant_axis %>
                  </td>
                  <td class="text-center">
                    <%= intermediate ? prescription.r_intermediate_glasses_prescriptions_distant_vision : prescription.r_glassesprescriptions_distant_vision %>
                  </td>
                </tr>
                <tr></tr>
                <tr>
                  <td class="text-center">
                    Near
                  </td>
                  <td class="text-center">
                    <%= intermediate ? prescription.r_intermediate_glasses_prescriptions_near_sph : prescription.r_glassesprescriptions_near_sph %>
                  </td>
                  <td class="text-center">
                    <%= intermediate ? prescription.r_intermediate_glasses_prescriptions_near_cyl : prescription.r_glassesprescriptions_near_cyl %>
                  </td>
                  <td class="text-center">
                    <%= intermediate ? prescription.r_intermediate_glasses_prescriptions_near_axis : prescription.r_glassesprescriptions_near_axis %>
                  </td>
                  <td class="text-center">
                    <%= intermediate ? prescription.r_intermediate_glasses_prescriptions_near_vision : prescription.r_glassesprescriptions_near_vision %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="text-center" colspan="5">L/OS</div></th>
                </tr>
                <tr>
                  <th class="text-center"></th>
                  <th class="text-center">Sph</th>
                  <th class="text-center">Cyl</th>
                  <th class="text-center">Axis</th>
                  <th class="text-center">Vision</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">
                    Distant
                  </td>
                  <td class="text-center">
                    <%= intermediate ? prescription.l_intermediate_glasses_prescriptions_distant_sph : prescription.l_glassesprescriptions_distant_sph %>
                  </td>
                  <td class="text-center">
                    <%= intermediate ? prescription.l_intermediate_glasses_prescriptions_distant_cyl : prescription.l_glassesprescriptions_distant_cyl %>
                  </td>
                  <td class="text-center">
                    <%= intermediate ? prescription.l_intermediate_glasses_prescriptions_distant_axis : prescription.l_glassesprescriptions_distant_axis %>
                  </td>
                  <td class="text-center">
                    <%= intermediate ? prescription.l_intermediate_glasses_prescriptions_distant_vision : prescription.l_glassesprescriptions_distant_vision %>
                  </td>
                </tr>
                <tr></tr>
                <tr>
                  <td class="text-center">
                    Near
                  </td>
                  <td class="text-center">
                    <%= intermediate ? prescription.l_intermediate_glasses_prescriptions_near_sph : prescription.l_glassesprescriptions_near_sph %>
                  </td>
                  <td class="text-center">
                    <%= intermediate ? prescription.l_intermediate_glasses_prescriptions_near_cyl : prescription.l_glassesprescriptions_near_cyl %>
                  </td>
                  <td class="text-center">
                    <%= intermediate ? prescription.l_intermediate_glasses_prescriptions_near_axis : prescription.l_glassesprescriptions_near_axis %>
                  </td>
                  <td class="text-center">
                    <%= intermediate ? prescription.l_intermediate_glasses_prescriptions_near_vision : prescription.l_glassesprescriptions_near_vision %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <div class="row mb10">
              <% if prescription.r_acceptance_framematerial.present? || prescription.r_intermediate_acceptance_framematerial.present? %>
                <div class="col-md-4 text-center">
                  <span><b>Frame Material</b><br> <%= intermediate ? prescription.r_intermediate_acceptance_framematerial : prescription.r_acceptance_framematerial %></span>
                </div>
              <% end %>
              <% if prescription.r_acceptance_ipd.present? || prescription.r_intermediate_acceptance_ipd.present? %>
                <div class="col-md-4 text-center">
                  <span><b>IPD</b><br> <%= intermediate ? prescription.r_intermediate_acceptance_ipd : prescription.r_acceptance_ipd %></span>
                </div>
              <% end %>
              <% if prescription.r_acceptance_lensmaterial.present? || prescription.r_intermediate_acceptance_lensmaterial.present? %>
                <div class="col-md-4 text-center">
                  <span><b>Lens Material</b><br> <%= intermediate ? prescription.r_intermediate_acceptance_lensmaterial : prescription.r_acceptance_lensmaterial %></span>
                </div>
              <% end %>
            </div>
            <div class="row mb10">
              <% if prescription.r_acceptance_lenstint.present? || prescription.r_intermediate_acceptance_lenstint.present? %>
                <div class="col-md-4 text-center">
                  <span><b>Lens Tint</b><br> <%= intermediate ? prescription.r_intermediate_acceptance_lenstint : prescription.r_acceptance_lenstint %></span>
                </div>
              <% end %>
              <% if prescription.r_acceptance_typeoflens.present? || prescription.r_intermediate_acceptance_typeoflens.present? %>
                <div class="col-md-4 text-center">
                  <span><b>Type of Lens</b><br> <%= intermediate ? prescription.r_intermediate_acceptance_typeoflens : prescription.r_acceptance_typeoflens %></span>
                </div>
              <% end %>
            </div>
            <div class="row mb10">
              <% if prescription.r_acceptance_dia.present? %>
                <div class="col-md-4 text-center">
                  <span><b>Dia</b><br> <%= prescription.r_acceptance_dia %></span>
                </div>
              <% end %>
              <% if prescription.r_acceptance_size.present? %>
                <div class="col-md-4 text-center">
                  <span><b>Size</b><br> <%= prescription.r_acceptance_size %></span>
                </div>
              <% end %>
              <% if prescription.r_acceptance_fittingheight.present? %>
                <div class="col-md-4 text-center">
                  <span><b>Fitting Height</b><br> <%= prescription.r_acceptance_fittingheight %></span>
                </div>
              <% end %>
              <% if prescription.r_acceptance_prismbase.present? %>
                <div class="col-md-4 text-center">
                  <span><b>Prism Base</b><br> <%= prescription.r_acceptance_prismbase %></span>
                </div>
              <% end %>
            </div>
            <div class="row mb10">
              <% if prescription.r_acceptance_comments.present? || prescription.r_intermediate_acceptance_comments.present? %>
                <div class="col-md-12 text-center">
                  <span><b>Advise</b><br> <%= intermediate ? prescription.r_intermediate_acceptance_comments : prescription.r_acceptance_comments %></span>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row mb10">
              <% if prescription.l_acceptance_framematerial.present? || prescription.l_intermediate_acceptance_framematerial.present? %>
                <div class="col-md-4 text-center">
                  <span><b>Frame Material</b><br> <%= intermediate ? prescription.l_intermediate_acceptance_framematerial : prescription.l_acceptance_framematerial %></span>
                </div>
              <% end %>
              <% if prescription.l_acceptance_ipd.present? || prescription.l_intermediate_acceptance_ipd.present? %>
                <div class="col-md-4 text-center">
                  <span><b>IPD</b><br> <%= intermediate ? prescription.l_intermediate_acceptance_ipd : prescription.l_acceptance_ipd %></span>
                </div>
              <% end %>
              <% if prescription.l_acceptance_lensmaterial.present? || prescription.l_intermediate_acceptance_lensmaterial.present? %>
                <div class="col-md-4 text-center">
                  <span><b>Lens Material</b><br> <%= intermediate ? prescription.l_intermediate_acceptance_lensmaterial : prescription.l_acceptance_lensmaterial %></span>
                </div>
              <% end %>
            </div>
            <div class="row mb10">
              <% if prescription.l_acceptance_lenstint.present? || prescription.l_intermediate_acceptance_lenstint.present? %>
                <div class="col-md-4 text-center">
                  <span><b>Lens Tint</b><br> <%= intermediate ? prescription.l_intermediate_acceptance_lenstint : prescription.l_acceptance_lenstint %></span>
                </div>
              <% end %>
              <% if prescription.l_acceptance_typeoflens.present? || prescription.l_intermediate_acceptance_typeoflens.present? %>
                <div class="col-md-4 text-center">
                  <span><b>Type of Lens</b><br> <%= intermediate ? prescription.l_intermediate_acceptance_typeoflens : prescription.l_acceptance_typeoflens %></span>
                </div>
              <% end %>
            </div>
            <div class="row mb10">
              <% if prescription.l_acceptance_dia.present? %>
                <div class="col-md-4 text-center">
                  <span><b>Dia</b><br> <%= prescription.l_acceptance_dia %></span>
                </div>
              <% end %>
              <% if prescription.l_acceptance_size.present? %>
                <div class="col-md-4 text-center">
                  <span><b>Size</b><br> <%= prescription.l_acceptance_size %></span>
                </div>
              <% end %>
              <% if prescription.l_acceptance_fittingheight.present? %>
                <div class="col-md-4 text-center">
                  <span><b>Fitting Height</b><br> <%= prescription.l_acceptance_fittingheight %></span>
                </div>
              <% end %>
              <% if prescription.l_acceptance_prismbase.present? %>
                <div class="col-md-4 text-center">
                  <span><b>Prism Base</b><br> <%= prescription.l_acceptance_prismbase %></span>
                </div>
              <% end %>
            </div>
            <div class="row mb10">
              <% if prescription.l_acceptance_comments.present? || prescription.l_intermediate_acceptance_comments.present? %>
                  <div class="col-md-12 text-center">
                    <span><b>Advise</b><br> <%= intermediate ? prescription.l_intermediate_acceptance_comments : prescription.l_acceptance_comments %></span>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
