<table id="opticalTable" class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Advised By</th>
      <th>Advised On</th>
      <th>Processed By</th>
      <th>Processed On</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <% @optical_prescriptions.each_with_index do |prescription, i| %>
      <tr class="optical-prescription-details" data-modal-id="optical-prescription-modal-<%= i %>" style="cursor: pointer;">
        <td><%= i + 1 %></td>
        <td><%= prescription.consultant_name %></td>
        <td><%= prescription.prescription_date.try(:strftime, '%d/%m/%Y') %></td>
        <td><%= prescription.mark_converted_by ? @optical_converted_by_users.find { |user| user.id.to_s == prescription.mark_converted_by.to_s }.try(:fullname) : '-' %></td>
        <td><%= prescription.converted_date ? prescription.converted_date.try(:strftime, '%d/%m/%Y') : '-' %></td>
        <td><%= prescription.prescription_type ? 'IGP' : 'GP' %></td>
      </tr>
    <% end %>
    <% if @optical_prescriptions.count == 0 %>
      <tr class="text-center">
        <td colspan="5">No Optical Prescriptions</td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- Running another loop as the modal content is not fitting correctly in <tr> above -->
<% @optical_prescriptions.each_with_index do |prescription, i| %>
  <%= render partial: 'outpatients/appointment/appointment_details/tab_details/optical_prescriptions/modal.html.erb', locals: { i: i, prescription: prescription, location: 'prescription' } %>
<% end %>

<style type="text/css">
  #ApptWizard .optical-prescription-details:hover {
    background-color: #428bca;
    color: #fff;
  }
</style>

<% if @optical_prescriptions.size > 5 %>
  <script type="text/javascript">
    $('#opticalTable').DataTable({
      sDom: "<'top'p>",
      ordering: false,
      displayStart: 0,
      displayLength: 5,
    });
  </script>
<% end %>
