<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>

<%= form_for @servicecard, remote: true do |f|  %>
  <%= f.hidden_field :organisation_id, value: current_facility.organisation_id.to_s %>
  <%= f.hidden_field :facility_id, value: current_facility.id.to_s %>
  <%= f.hidden_field :user_id, value: current_user.id.to_s %>
  <%= f.hidden_field :created_from, value: "Settings" %>

  <div class="col-md-3">
    <%= f.text_field :service_name, class: "form-control", placeholder: "Service Name" %>
  </div>
  <div class="col-md-2 error-placement"></div>
  <div class="col-md-7 text-right">
    <%= f.submit "Save", class: "btn btn-success btn-xs invoice-card-btn", onclick: "validate_service_list()" %>
    <button id="hide-new-form" class="btn btn-danger btn-xs invoice-card-btn">Close</button>
  </div>
<% end %>