$(document).ready(function(){
  // PNotify
  if("<%= params[:controller] %>" == "invoice_service_cards"){
    switch ("<%= params[:action] %>") {
      case "bed_service":
        card_success_notice("Rooms & Beds Added Succesfully")
        break;
      case "save_excel_data":
        card_success_notice("Excel Updated Succesfully")
        break;
      case "update":
        card_success_notice("Service Updated Succesfully")
        break;
      case "create":
        card_success_notice("Service Created Succesfully")
        break;
      case "destroy":
        card_success_notice("Service Disabled Succesfully")
        break;
      case "enable":
        card_success_notice("Service Enabled Succesfully")
        break;
      default: 
        console.log("<%= params[:action] %>")
    }
  } else if("<%= params[:controller] %>" == "invoice_item_cards"){
    switch ("<%= params[:action] %>") {
      case "update":
        card_success_notice("Item Updated Succesfully")
        break;
      case "create":
        card_success_notice("Item(s) Created Succesfully")
        break;
      case "destroy":
        card_success_notice("Item Disabled Succesfully")
        break;
      case "enable":
        card_success_notice("Item Enabled Succesfully")
        break;
      default: 
        console.log("<%= params[:action] %>")
    }
  }

  function card_success_notice(text){
    $(".ui-pnotify").remove()
    notice = new PNotify({
      title: 'Success',
      text: text,
      type: 'success'
    });
    notice.get().click(function(){ notice.remove() });
  }

  $(".view-items-btn").on('click', function(){
    var hide_buttons = $("#manage_services_card").find('.hide-items-btn')
    for (var i = hide_buttons.length - 1; i >= 0; i--) {
      hide_items(hide_buttons[i])
    }
    $(this).hide()
    $(this).siblings(".hide-items-btn").show()
    $(this).closest(".all-service-row").find(".all-items-row").show()
  })

  $(".hide-items-btn").on('click', function(){
    hide_items(this)
  })

  $(".edit-btn-service").on('click', function(){
    $(this).closest(".all-service-view").hide()
    $(this).closest(".all-service-view").siblings(".edit-service-view").show()
  })

  $(".close-update-form").on('click', function(){
    var service_data_value = $(this).closest(".edit-service-view").find(".edit-service-name").attr('data-value')
    $(this).closest(".edit-service-view").find(".edit-service-name").val(service_data_value)
    $(this).closest(".edit-service-view").find(".edit-error-placement").html("")
    $(this).closest(".edit-service-view").hide()
    $(this).closest(".edit-service-view").siblings(".all-service-view").show()
  })
  
  $(".update-service").on('click', function(){
    var service_value = $(this).closest(".edit-service-view").find(".edit-service-name")
    if(service_value.val().trim() == ""){
      $(this).closest(".edit-service-view").find(".edit-error-placement").html("<span style='color:#ff0000;'>Name Cant Be Blank</span>")
    } else {
      $(this).html("Please Wait...")
      $(this).attr('disabled', 'disabled')
      $.ajax({
        type: "patch",
        dataType: "script",
        data: {
          remote: "true",
          service_name: service_value.val()
        },
        url: '/invoice_service_cards/' + service_value.attr("data-service-id"),
        success: function(){
          
        }
      })
    }
  })

  $(".view-items-btn_<%= @service_card_id.to_s %>").trigger('click')


  $(".show-disabled-card-btn").on('click', function(){
    $(this).hide()
    $(".hide-disabled-card-btn").show()
    $(".show-disabled-cards").show()
  })

  $(".hide-disabled-card-btn").on('click', function(){
    $(this).hide()
    $(".show-disabled-card-btn").show()
    $(".show-disabled-cards").hide()
  })

  function hide_items(_this){
    $(_this).hide()
    $(_this).siblings(".view-items-btn").show()
    $(_this).closest(".all-service-row").find(".all-items-row").hide()
  }
})