<%= javascript_include_tag 'application-loggedin', 'data-turbolinks-track' => true %>
<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Update Communication Event</h4>
    </div>
    <%= form_for @communication_event, remote: true, html: { id: 'inventory_category_form' } do |f| %>
      <%= f.hidden_field :organisation_id, { value: @current_user.organisation_id } %>
      <div class="modal-body">
        <%= render partial: 'form.html.erb', locals: { f: f } %>
      </div>
      <div class="modal-footer">
        <%= f.submit 'Update Changes', data: { confirm: "Are you sure you want to update <b>#{@communication_event.name}</b>?" }, class: 'btn btn-success' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>

<style type="text/css">
  .ui-menu-item a.ui-state-focus {
    background-color: #929090;
    color: #fff;
  }
  .select2-container .select2-selection--single {
    height: 34px !important;
  }
</style>

<script type="text/javascript">
  $(document).ready( function() {
    value = $("#communication_event_event_type").val();
    communication_event_id = $("#communication_event_id").val();
    $.ajax({
      type: "GET",
      dataType: "script",
      url: '/communication_events/'+value+'/communication_event_type?communication_event_id='+communication_event_id,
    });
  })
</script>
