<div class="row">
  <div class="col-md-4">
    <h4>MANAGE COMMUNICATION EVENT</h4>
  </div>
  <div class="col-md-3 text-right">
    <input type="text" name="" class="search-communication-event-master form-control" placeholder="Search By communication event Name" value="" style="margin-top: 5px;">
  </div>
  <div class="col-md-5 text-right">
    <!-- <%#= link_to new_communication_event_path, class: 'btn btn-primary', data: { remote: true, 'toggle': 'modal', 'target': '#communication-event-modal' } do %><i class="fa fa-plus"></i> Add Communication Event<%# end %> -->
  </div>
</div>

<div class="row text-center">
  <div class="col-md-2"></div>
  <div class="col-md-8 parent-details-section">
    <div class="row departments" style="margin: 15px 0 0; ">
      <div class="col-sm-3 button-section">
        <button class="opd-button btn btn-primary btn-sm tab-class <%= 'active' if (params["module_name"] == '0' || params["module_name"]== 0) || @module_name == "0" %>" id="opd-department-button" data-department='opd' data-value="0">OPD</button>
      </div>
      <div class="col-sm-3 button-section">
        <button class="ipd-button btn btn-primary btn-sm tab-class <%= 'active' if params["module_name"] == '1' || @module_name == "1"%>" id="ipd-department-button" data-department='ipd' data-value="1">IPD</button>
      </div>
      <div class="col-sm-3 button-section">
        <button class="optical-button btn btn-primary btn-sm tab-class <%= 'active' if params["module_name"] == '2' || @module_name == "2" %>" id="optical-department-button" data-department='optical' data-value="2">OPTICAL</button>
      </div>
      <div class="col-sm-3 button-section">
        <button class="pharmacy-button btn btn-primary btn-sm tab-class <%= 'active' if params["module_name"] == '3' || @module_name == "3"%>" id="pharmacy-department-button" data-department='pharmacy' data-value="3">PHARMACY</button>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row" id="communication-events-index">
  <%= render "communication_event_list" %>
</div>


<style>
  .tab-class {
    min-width: 120px;
  }
  #confirmation-modal a{
    display: inline-block !important;
  }
  .row-container{
    height: 25px;
  }
  .child-details-section{
    border-radius: 10px;
    display: none;
    border: 2px solid #357ebd;
    box-shadow: 2px 4px 12px grey;
  }
  .departments > .active::after {
    content:"\25bc";
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent transparent transparent transparent;
    position: absolute;
    color: #357ebd;
    left: 90px;
    bottom: -27px;
  }
  .details-section{
    padding: 15px;
  }
  .table-borderless > tbody > tr > td,
  .table-borderless > tbody > tr > th{
    border: none;
  }
  .start-heading{
    width: 400px;
    height: 100px;
    font-style: italic;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
    table tr td{
    word-wrap: break-word !important;
  }
</style>

<script type="text/javascript">
  $(".search-communication-event-master").on('keyup', function(){
    communication_event_list = $(".communication_event_tr");
    communication_event_list_count = communication_event_list.length;
    search = $(this).val().toUpperCase().trim();
    counter = 0
    for (var i = communication_event_list.length - 1; i >= 0; i--) {
      event_name = $(communication_event_list[i]).find(".event_name")
      event_module_name = $(communication_event_list[i]).find(".event_module_name")
      if($(event_name).html().toUpperCase().indexOf(search) > -1 || $(event_module_name).html().toUpperCase().indexOf(search) > -1) {
        $(communication_event_list[i]).css("display", "");
      } else {
        $(communication_event_list[i]).css("display", "None");
        counter += 1
      }
    }

    if(communication_event_list_count == counter){
      if($(".show-nothing").length <= 0){
        $("#communication_event_master-list").append(`<tr class="show-nothing"><td class="text-center" colspan="5">Nothing to Show</td></tr>`)
      }
    } else {
      $(".show-nothing").remove();
    }
  })
  $(document).on("click","#opd-department-button, #ipd-department-button, #optical-department-button, #pharmacy-department-button" ,function() {
    this.classList.add('active')
    $.ajax({
      type: "GET",
      data: { module_name: this.dataset.value},
      url: '/module_type_based'
    });
  });

  <%if @module_name.present? && @module_name != "0" %>
    $.ajax({
      type: "GET",
      data: { module_name: "<%= @module_name %>"},
      url: '/module_type_based'
    });
  <% end %>
</script>
