<div class="row transaction-title">
  <div class="col-sm-12 text-center" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;"><strong>Adjustment</strong></div>
</div>
<div class="row transaction-common-fields" style="margin-top:15px;">
  <div class="col-sm-8">
    <strong>Note</strong><br>
    <%= f.text_field :note, class: 'form-control p7_10 transaction-note', placeholder: 'Transaction Note' %>
  </div>

  <div class="col-sm-4">
    <strong>Transaction Date</strong><br>
    <% unless Authorization::PolicyHelper.verification(current_user.id,"HGP-100-110-101") %>
      <%= f.text_field :transaction_date, value: Date.current.strftime('%d/%m/%Y'), class: 'form-control p7_10 fullname', placeholder: 'Date of transition', readonly: 'readonly' %>
    <% else %>
      <%= f.text_field :transaction_date, value: Date.current.strftime('%d/%m/%Y'), class: 'form-control p7_10 fullname transaction-datepicker', placeholder: 'Date of transition'%>
    <% end %>
  </div>
  <%= f.hidden_field :entry_type, { value: "adjustment" } %>
  <%= f.hidden_field :entered_by, { value: current_user.fullname } %>
  <%= f.hidden_field :user_id, { value: current_user.id } %>
  <%= f.hidden_field :store_id, { value: @store_id } %>
  <%= f.hidden_field :store_name, { value: @inventory_store.name } %>
  <%= f.hidden_field :facility_id, { value: current_facility.id } %>
  <%= f.hidden_field :organisation_id, { value: current_user.organisation_id } %>
  <%= f.hidden_field :department_name, value: @inventory_store.department_name %>
  <%= f.hidden_field :department_id, value: @inventory_store.department_id %>
</div>

<div class="transaction-lots-list" style="margin-top:15px;">
  <table class="table transaction-lots-table">
    <thead class="transaction-table-head">
      <tr class='thead-fixable'>
        <td class='thead-fix col-md-2 col-sm-2 col-xs-2'>Description</td>
        <td class='thead-fix col-md-1 col-sm-2 col-xs-1'>Batch No.</td>
        <td class='thead-fix col-md-2 col-sm-2 col-xs-2'>Barcode</td>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Model No.</td>
        <td class='thead-fix col-md-2 col-sm-2 col-xs-2'>Expiry</td>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Add/Deduct</td>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Quantity</td>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Total Cost Price</td>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Action</td>
      </tr>
    </thead>
  </table>
</div>

<div class="transaction-table-body" style="overflow-y: auto"></div>

<style>
  .transaction-datepicker{
    cursor: pointer !important;
  }
  .disabled_row{
    pointer-events: none;
  }
</style>
