<% if @adjustments.size > 0 %>
  <% @adjustments.each do |adjustment| %>
    <tr id="<%= adjustment.id %>" class="inventory-list-row">
      <td style="font-size: 10px; color: #17a08c;" class="col-md-3"><%= adjustment.transaction_date %></td>
      <td style="font-size: 10px; color: #17a08c;" class="col-md-3"><%= adjustment.store_name %></td>
      <td class="col-md-4"><b><%= adjustment.note.try(:capitalize) %></b></td>
      <td class="col-md-2"><b><%= adjustment.total_cost %></b></td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td align="center"><strong style="font-size: 20px;">Nothing to Display</strong></td>
  </tr>
<% end %>
