<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-lg" style="width: 90%;">
  <div class="modal-content">
    <div class="modal-header" style=" padding: 1px;">
      <div class="modal-title">
        <h3>TPA Note Preview</h3>
      </div>
    </div>
   
    <div class="modal-body">
      <div class="row" style="background-color: #e7e7e752;padding-top: 40px;">

        <div class="col-md-12" style="margin-top: 11px;padding-bottom: 18px;font-style: italic;">
          <span class="col-md-5"><b>Note Created by:</b>&nbsp;&nbsp;  <%= User.find_by(id: @tpa_note.created_by).fullname.capitalize %> </span>
          <span class="col-md-4"><b>Note Date & Time:</b>&nbsp;&nbsp; <%= @tpa_note.created_at.strftime("%I:%M %p, %d %b %Y") %></span>
          <hr>
        </div>

        <div class="col-md-2" style="border-right: 2px solid #d1d2d3;">
          <div class="col-md-12" style="padding-bottom: 18px;">
            <b>Reply Date:</b><br>
            <%= if @tpa_note.tpa_date_of_reply.present? then @tpa_note.tpa_date_of_reply.strftime('%d/%m/%Y')  else '--' end%>
          </div>
          <div class="col-md-12">
            <b>Reply Time:</b><br>
            <%= if @tpa_note.tpa_time_of_reply.present? then @tpa_note.tpa_time_of_reply else '--' end%>
          </div>
          <div class="col-md-12" style="padding-top: 29px;">
            <b>Mode of Reply</b><br>
            <%= @tpa_note.try(:mode_of_reply).try(:capitalize) %>
          </div>
        </div>

        <div class="col-md-5" style="border-right: 2px solid #d1d2d3;">
          <div class="col-md-12" style="padding-bottom: 18px;">
            <div class="col-md-6">
              <b>Room cap per day:</b><br>
              <div><%= if @tpa_note.room_cap_per_day.present? then @tpa_note.room_cap_per_day else '--' end%></div>
            </div>
            <div class="col-md-6">
              <b>Room Restrictions Comments:</b><br>
              <div><%= if @tpa_note.room_restrictions_comments.present? then @tpa_note.room_restrictions_comments else '--' end%></div>
            </div>
          </div>

          <div class="col-md-12" style="padding-bottom: 18px;">
            <div class="col-md-6">
              <b>Ailment /Procedure cap:</b><br>
              <div><%= if @tpa_note.ailment_procedure_cap.present? then @tpa_note.ailment_procedure_cap else '--' end%></div>
            </div>
            <div class="col-md-6">
              <b>Comments:</b><br>
              <div><%= if @tpa_note.ailment_procedure_comments.present? then @tpa_note.ailment_procedure_comments else '--' end%></div>
            </div>
          </div>

          <div class="col-md-12" style="padding-bottom: 25px;padding-left: 19px;">
            <b>Additional Comments:</b><br>
            <div><%= if @tpa_note.ailment_procedure_additional_comments.present? then @tpa_note.ailment_procedure_additional_comments else '--' end%></div>
          </div>

          <div class="col-md-12" style="padding-bottom: 18px;">
            <div class="col-md-6">
              <b>Query:</b><br>
              <div><%= if @tpa_note.query.present? then @tpa_note.query else '--' end%></div>
            </div>
            <div class="col-md-6">
              <b>Denial:</b><br>
              <div><%= if @tpa_note.denial.present? then @tpa_note.denial else '--' end%></div>
            </div>
          </div>

        </div>

        <div class="col-md-5">
          <b>Pre-authorization Admission</b>
          <div class="col-md-12" style="margin-top: 11px;"><span class="col-md-4">Approved Date: </span><span class="col-md-4">Approved amount: </span><span class="col-md-4">Comments: </span></div>
          <div class="col-md-12">
            <div class="col-md-4">
              <div><%= if @tpa_note.pre_auth_admission_amount_date.present? then @tpa_note.pre_auth_admission_amount_date else '--' end%></div>
            </div>
            <div class="col-md-4">
              <div><%= if @tpa_note.pre_auth_admission_amount_approved.present? then @tpa_note.pre_auth_admission_amount_approved else '--' end%></div>
            </div>
            <div class="col-md-4">
              <div><%= if @tpa_note.pre_auth_admission_comments.present? then @tpa_note.pre_auth_admission_comments else '--' end%></div>
            </div>
          </div>
          
          <b class="col-md-12" style="padding-top: 23px;">Additional Authorizations</b>
          <div class="col-md-12" style="margin-top: 11px;"><span class="col-md-4">Approved Date: </span><span class="col-md-4">Approved amount: </span><span class="col-md-4">Comments: </span></div>
          <div class="col-md-12">
            <div class="col-md-4">
              <div><%= if @tpa_note.addition_authorize_approval_date.present? then @tpa_note.addition_authorize_approval_date else '--' end%></div>
            </div>
            <div class="col-md-4">
              <div><%= if @tpa_note.addition_authorize_amount_approved.present? then @tpa_note.addition_authorize_amount_approved else '--' end%></div>
            </div>
            <div class="col-md-4">
              <div><%= if @tpa_note.addition_authorize_comments.present? then @tpa_note.addition_authorize_comments else '--' end%></div>
            </div>
          </div>

          <b class="col-md-12" style="padding-top: 23px;">Patient Co-pays</b>
          <div class="col-md-12 copays_details_section" style="padding-top: 10px;">
            <span class="col-md-3">Co-pays: </span>
            <div class="col-md-8 copays_text_fields">
              <%= if @tpa_note.patient_copays.present? then @tpa_note.patient_copays else '--' end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="modal-footer">
      <%= link_to edit_tpa_insurance_note_path(:id => @tpa_note.id, :tpa_insurance_workflow_id => @tpa_note.tpa_insurance_workflow_id), :class => "btn btn-primary", :data => {:remote => true} do %>Edit
      <% end %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div> 