<% patient_age =  @patient.dob ? @patient.dob.strftime("%d-%m-%Y") : "Unavailable" %>
<% if @patient.exact_age.present? %>
  <% patient_exact_age = @patient.exact_age.to_s.split("-").join(" ") %>
<% end %>

<div class="col-md-4">
  <h3 class="text-center">Patient Details</h3>
  <div class="col-md-12">
    <b class="col-md-4">Patient name:</b>
    <span class="col-md-6 col-lg-6"><%= @patient.firstname %></span>
  </div>
  <div class="col-md-12">
    <b class="col-md-4">Contact no:</b>
    <span class="col-md-6 col-lg-6"><%= @patient.mobilenumber %></span>
  </div>
  <div class="col-md-12">
    <b class="col-md-4">Gender:</b>
    <span class="col-md-6 col-lg-6"><%= @patient.gender %></span>
  </div>
  <div class="col-md-12">
    <b class="col-md-4"><b>DOB | Age: </b></b>
    <span class="col-md-6 col-lg-6">
      <%= patient_age %><% if patient_exact_age.present? %> | <%= patient_exact_age %><% else %>--<%end%>
    </span>
  </div>
</div>

<div class="col-md-4">
  <h3  class="text-center">TPA Details</h3>
  <div class="col-md-12">
    <b class="col-md-3">TPA name:</b>
    <span class="col-md-9"><%= if @insurance_details.try(:tpa_name).present? then @insurance_details.try(:tpa_name) else '--' end%></span>
  </div>
  <div class="col-md-12">
    <b class="col-md-3">Contact no:</b>
    <span class="col-md-6 col-lg-6"><%= if @insurance_details.try(:tpa_contact_no).present? then @insurance_details.try(:tpa_contact_no) else '--' end%></span>
  </div>
  <div class="col-md-12">
    <b class="col-md-3">Address:</b>
    <span class="col-md-6 col-lg-6"><%= if @insurance_details.try(:tpa_address).present? then @insurance_details.try(:tpa_address) else '--' end%></span>
  </div>
</div>

<div class="col-md-4">
  <h3 class="text-center">Insurance Details</h3>
  <div class="col-md-12">
    <b class="col-md-4 text-right">Insurance name:</b>
    <span class="col-md-8"><%= if @insurance_details.try(:insurance_name).present? then @insurance_details.try(:insurance_name) else '--' end%></span>
  </div>
  <div class="col-md-12">
    <b class="col-md-4 text-right">Contact no:</b>
    <span class="col-md-6"><%= if @insurance_details.try(:insurance_contact_no).present? then @insurance_details.try(:insurance_contact_no) else '--' end%></span>
  </div>
  <div class="col-md-12">
    <b class="col-md-4 text-right">Address:</b>
    <span class="col-md-6"><%= if @insurance_details.try(:insurance_address).present? then @insurance_details.try(:insurance_address) else '--' end%></span>
  </div>
</div>