<div class="col-md-2" style="border-right: 2px solid #d1d2d3;">
  <div class="col-md-12" style="padding-bottom: 18px;">
    <b>Reply Date:</b><br>
    <%= if @tpa_note.tpa_date_of_reply.present? then @tpa_note.tpa_date_of_reply.strftime('%d/%m/%Y')  else '--' end%>
  </div>
  <div class="col-md-12">
    <b>Reply Time:</b><br>
    <%= if @tpa_note.tpa_time_of_reply.present? then @tpa_note.tpa_time_of_reply else '--' end%>
  </div>
  <div class="col-md-12" style="padding-top: 29px;">
    <b>Mode of Reply</b><br>
    <%= @tpa_note.try(:mode_of_reply).try(:capitalize) %>
  </div>
</div>

<div class="col-md-6" style="border-right: 2px solid #d1d2d3;">
  <div class="col-md-12" style="padding-bottom: 18px;">
    <div class="col-md-6">
      <b>Room cap per day:</b><br>
      <div style="margin-left: 30px;"><%= if @tpa_note.room_cap_per_day.present? then @tpa_note.room_cap_per_day else '--' end%></div>
    </div>
    <div class="col-md-6">
      <b>Room Restrictions Comments:</b><br>
      <div style="margin-left: 30px;"><%= if @tpa_note.room_restrictions_comments.present? then @tpa_note.room_restrictions_comments else '--' end%></div>
    </div>
  </div>

  <div class="col-md-12" style="padding-bottom: 18px;">
    <div class="col-md-6">
      <b>Ailment /Procedure cap:</b><br>
      <div style="margin-left: 30px;"><%= if @tpa_note.ailment_procedure_cap.present? then @tpa_note.ailment_procedure_cap else '--' end%></div>
    </div>
    <div class="col-md-6">
      <b>Comments:</b><br>
      <div style="margin-left: 30px;"><%= if @tpa_note.comments.present? then @tpa_note.comments else '--' end%></div>
    </div>
  </div>

  <div class="col-md-12" style="padding-bottom: 18px;">
    <b>Additional Comments:</b><br>
    <div style="margin-left: 30px;"><%= if @tpa_note.additional_comments.present? then @tpa_note.additional_comments else '--' end%></div>
  </div>
</div>

<div class="col-md-4">
  <b>Pre-authorization Admission</b>
  <div class="col-md-12"><span class="col-md-6">Approved amount: </span><span class="col-md-6">Comments: </span></div>
  <div class="col-md-12">
    <div class="col-md-6">
      <div style="margin-left: 30px;"><%= if @tpa_note.pre_auth_admission_amount_approved.present? then @tpa_note.pre_auth_admission_amount_approved else '--' end%></div>
    </div>
    <div class="col-md-6">
      <div style="margin-left: 30px;"><%= if @tpa_note.pre_auth_admission_comments.present? then @tpa_note.pre_auth_admission_comments else '--' end%></div>
    </div>
  </div>
  
  <b class="col-md-12" style="padding-top: 23px;">Additional Authorizations</b>
  <div class="col-md-12"><span class="col-md-6">Approved amount: </span><span class="col-md-6">Comments: </span></div>
  <div class="col-md-12">
    <div class="col-md-6">
      <div style="margin-left: 30px;"><%= if @tpa_note.additional_auth_amount_approved.present? then @tpa_note.additional_auth_amount_approved else '--' end%></div>
    </div>
    <div class="col-md-6">
      <div style="margin-left: 30px;"><%= if @tpa_note.additional_auth_comments.present? then @tpa_note.additional_auth_comments else '--' end%></div>
    </div>
  </div>

  <b class="col-md-12" style="padding-top: 23px;">Patient Co-pays</b>
  <div class="col-md-12 copays_details_section" style="padding-top: 10px;">
    <span class="col-md-4 text-right">Co-pays: </span>
    <div class="col-md-8 copays_text_fields">
      <% if @tpa_note.patient_copays.count == 1 && @tpa_note.patient_copays[0] == "" %>
        --  
      <% else %>
        <%= @tpa_note.patient_copays.join(", ") %>
      <% end %>   
    </div>
  </div>
</div>