<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-lg" style="width: 90%;">
  <div class="modal-content">
    <div class="modal-header" style=" padding: 1px;">
      <div class="modal-title">
        <h3>TPA Note</h3>
      </div>
    </div>
    <% if params[:action] == 'new' %>
      <% form_method =  "post" %>
    <% else %>
      <% form_method =  "patch" %>
    <% end %>
    <%= form_for(@tpa_note, method: form_method, :remote => true) do |f| %>
      <input type="hidden" name="tpa_insurance_note[organisation_id]" value="<%= @current_user.organisation_id %>">
      <input type="hidden" name="tpa_insurance_note[facility_id]" value="<%= @current_facility.id %>">
      <input type="hidden" name="tpa_insurance_note[tpa_insurance_workflow_id]" value="<%= @tpa_workflow.id %>">
      <input type="hidden" name="tpa_insurance_note[patient_id]" value="<%= @tpa_workflow.patient_id %>">
      <input type="hidden" name="tpa_insurance_note[admission_id]" value="<%= @tpa_workflow.admission_id %>">
      <input type="hidden" name="tpa_insurance_note[created_by]" value="<%= @current_user.id %>">

      <div class="modal-body form-bordered">
        <div class="row details_section " style="margin-top: 0px; background-color: #fafafa;padding-bottom: 21px;">
          <%= render partial: "tpa_insurance_notes/tpa_note_header_section.html.erb" %>
        </div>
        
        <div class="row" style="font-size: 18px;padding-top: 17px;padding-left: 28px;">
          <div class="col-md-4">
            <b>Reply from TPA</b>
          </div>
          <div class="col-md-6"> 
          </div>
        </div>

        <div class="row reply_from_tpa_details_section" id="tpa_note_details" style="padding-top: 22px;padding-left: 9px;">
          <%= render partial: "tpa_insurance_notes/tpa_note_sections/tpa_note_content_section.html.erb", locals: {f: f} %>
        </div>
      </div>

      <div class="modal-footer">
        <%= f.submit "Save Note",{:class => 'btn btn-primary', :onclick => ''}%>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  <%= render partial: 'tpa_note_validations.js.erb' %>
</script>