<style>
  .pcs-header-content {
      font-size: 9pt;
      color: #333333;
      background-color: #ffffff;
  }
  .pcs-template-body {
      padding: 0 0.400000in 0 0.550000in;
  }
  .pcs-template-footer {
      height: 0.700000in;
      font-size: 6pt;
      color: #aaaaaa;
      padding: 0 0.400000in 0 0.550000in;
      background-color: #ffffff;
  }
  .pcs-footer-content {
      word-wrap: break-word;
      color: #aaaaaa;
      border-top: 1px solid #eeeeee;
  }
  .pcs-label {
      color: #000000;
  }
  .pcs-entity-title {
      font-size: 13pt;
      color: #333333;
  }
  .pcs-entity-title {
      text-align: center;
      position: relative;
      text-transform: uppercase;
  }
  .pcs-entity-title:before {
      content: "";
      display: block;
      border-top: 1px solid #eeeeee;
      width: 100%;
      height: 1pt;
      position: absolute;
      top: 50%;
      font-size: 1pt;
  }
  .pcs-entity-title span {
      background: #ffffff;
      padding: 0 20px;
      position: relative;
  }
  .pcs-table, .pcs-table th, .pcs-table td {
      border: 1px solid #eeeeee;
  }
  .pcs-orgname {
      font-size: 9pt;
      color: #333333;
  }
  .pcs-customer-name {
      font-size: 9pt;
      color: #333333;
  }
  .pcs-itemtable-header {
      font-size: 9pt;
      color: #333333;
      background-color: #eff0f1;
  }
  .pcs-taxtable-header {
      font-size: 9pt;
      color: #000;
      background-color: #f5f4f3;
  }
  .pcs-item-row {
      font-size: 9pt;
      border-bottom: 1px solid #eeeeee;
      background-color: #ffffff;
      color: #333333;
  }
  .pcs-item-desc {
      color: #8e8e8e;
      font-size: 9pt;
  }
  .pcs-balance {
      background-color: #ffffff;
      font-size: 9pt;
      color: #333333;
  }
  .pcs-totals {
      font-size: 9pt;
      color: #333333;
      background-color: #ffffff;
  }
  .pcs-notes {
      font-size: 9pt;
  }
  .pcs-terms {
      font-size: 9pt;
  }
  .pcs-header-first {
      background-color: #ffffff;
      font-size: 9pt;
      color: #333333;
      height: auto;
  }
  .pcs-status {

      font-size: 15pt;
      border: 3px solid ;
      padding: 3px 8px;
  }
  .pcs-template-header {
      padding: 0 0.400000in 0 0.550000in;
      height: 0.700000in;
  }
  .pcs-itemtable {
      border: 1px solid #eeeeee;
  }
  .pcs-itemtable-header {
      border-right: 1px solid #eeeeee;
      border-bottom: 1px solid #eeeeee;
  }
  .pcs-item-row {
      border-right: 1px solid #eeeeee;
      border-bottom: none;
  }
  .pcs-bdr-top {
      border-top: 1px solid #eeeeee;
  }
  .pcs-bdr-bottom {
      border-bottom: 1px solid #eeeeee;
  }
  .pcs-table, .pcs-table th, .pcs-table td {
      border: 1px solid #eeeeee;
  }
  .medication_title{
    font-size: 15px !important;
  }
</style>

<% @mail_job = false %>

<%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/opd_summary_form_actions", locals: {patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>

<div class="summary-template" style="box-shadow: 0 0 6px #ccc;max-width: 110%;padding: 0 0.400000in 0 0.550000in;padding-top: 0px;padding-right: 0.4in;padding-bottom: 0px;padding-left: 0.55in;font-family: '<%= UsersSetting.find_by(user_id: current_user.id).font_style %>';">

  <div class="row">

    <div class="col-md-12 col-sm-12">
      <div class="opdsummary">
        <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/opd_summary_form_patientinfo", locals: { patient: @patient, appointment: @appointment, opdrecord: @opdrecord } %>

        <div class="pcs-entity-title"><span>Opd Summary</span></div>

        <% if @templatetype == "freeform" %>
          <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/opd_summary_form_freeform", locals: {patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>
          <div class="mb5" >
            <% if @opdrecord.treatmentmedication.length > 0 || @opdrecord.medicationcomments.length > 0 %>
              <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/opd_summary_form_medication.html.erb", locals: {patient: @patient, appointment: @appointment,specalityfoldername: @speciality_folder_name,opdrecord: @opdrecord, templatetype: @templatetype, opdspeciality: @opdspeciality } %>
            <% end %>
          </div>
          <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/opd_summary_form_advice", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, advice: @opdrecord.advice, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>

        <% elsif @templatetype == "vitalsign" %>
          <%= render partial: "/opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/opd_summary_vital_signs", locals: { patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, advice: @opdrecord.advice, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false } %>

        <% end %>

      </div>
    </div>
  </div>
</div>

<script>
    jQuery(document).ready(function() {
        jQuery('.templates_review_opd_record').on("click", function() {
            var params = {opd_record_author_user: jQuery('.templates_review_opd_record').attr("data-opd-record-author-user"), opd_record_reviewer_user: jQuery("#opdrecord_select_reviewer_user option:selected").val(), opdrecordid: jQuery('.templates_review_opd_record').attr("data-opdrecordid"), patientid: jQuery('.templates_review_opd_record').attr("data-patientid"), templatetype: jQuery('.templates_review_opd_record').attr("data-templatetype") };
            jQuery.ajax({
                type: "GET",
                dataType: "script",
                url: "/opd_records/review_opd_record",
                data: {review_opd_record: params, remote: "true" }
            });
        });
        jQuery('.print_diagnosis_flag').on("click", function() {
            var flagvalue = "0";
            if (jQuery('.print_diagnosis_flag').attr("value") == "1") {
                flagvalue = "0";
                jQuery('.print_diagnosis_flag').attr("value", flagvalue);
            } else if (jQuery('.print_diagnosis_flag').attr("value") == "0") {
                flagvalue = "1";
                jQuery('.print_diagnosis_flag').attr("value", flagvalue);
            }
            var params = { flag_name: "print_diagnosis_flag", opd_record_id: "<%= @opdrecord.id %>", flag_value: flagvalue };
            jQuery.ajax({
                type: "GET",
                dataType: "script",
                url: "/opd_records/print_flag",
                data: {ajax: params, remote: "true" }
            });
        });
        jQuery('.print_advice_flag').on("click", function() {
            var flagvalue = "0";
            if (jQuery('.print_advice_flag').attr("value") == "1") {
                flagvalue = "0";
                jQuery('.print_advice_flag').attr("value", flagvalue);
            } else if (jQuery('.print_advice_flag').attr("value") == "0") {
                flagvalue = "1";
                jQuery('.print_advice_flag').attr("value", flagvalue);
            }
            var params = { flag_name: "print_advice_flag", opd_record_id: "<%= @opdrecord.id %>", flag_value: flagvalue };
            jQuery.ajax({
                type: "GET",
                dataType: "script",
                url: "/opd_records/print_flag",
                data: {ajax: params, remote: "true" }
            });
        });
        jQuery('.print_examination_flag').on("click", function() {
            var flagvalue = "0";
            if (jQuery('.print_examination_flag').attr("value") == "1") {
                flagvalue = "0";
                jQuery('.print_examination_flag').attr("value", flagvalue);
            } else if (jQuery('.print_examination_flag').attr("value") == "0") {
                flagvalue = "1";
                jQuery('.print_examination_flag').attr("value", flagvalue);
            }
            var params = { flag_name: "print_examination_flag", opd_record_id: "<%= @opdrecord.id %>", flag_value: flagvalue };
            jQuery.ajax({
                type: "GET",
                dataType: "script",
                url: "/opd_records/print_flag",
                data: {ajax: params, remote: "true" }
            });
        });
        jQuery('.print_contactlens_flag').on("click", function() {
            var flagvalue = "0";
            if (jQuery('.print_contactlens_flag').attr("value") == "1") {
                flagvalue = "0";
                jQuery('.print_contactlens_flag').attr("value", flagvalue);
            } else if (jQuery('.print_contactlens_flag').attr("value") == "0") {
                flagvalue = "1";
                jQuery('.print_contactlens_flag').attr("value", flagvalue);
            }
            var params = { flag_name: "print_contactlens_flag", opd_record_id: "<%= @opdrecord.id %>", flag_value: flagvalue };
            jQuery.ajax({
                type: "GET",
                dataType: "script",
                url: "/opd_records/print_flag",
                data: {ajax: params, remote: "true" }
            });
        });
        jQuery('.print_glassesprescriptions_flag').on("click", function() {
            var flagvalue = "0";
            if (jQuery('.print_glassesprescriptions_flag').attr("value") == "1") {
                flagvalue = "0";
                jQuery('.print_glassesprescriptions_flag').attr("value", flagvalue);
            } else if (jQuery('.print_glassesprescriptions_flag').attr("value") == "0") {
                flagvalue = "1";
                jQuery('.print_glassesprescriptions_flag').attr("value", flagvalue);
            }
            var params = { flag_name: "print_glassesprescriptions_flag", opd_record_id: "<%= @opdrecord.id %>", flag_value: flagvalue };
            jQuery.ajax({
                type: "GET",
                dataType: "script",
                url: "/opd_records/print_flag",
                data: {ajax: params, remote: "true" }
            });
        });

        jQuery('.print_investigations_flag').on("click", function() {
            var flagvalue = "0";
            if (jQuery('.print_investigations_flag').attr("value") == "1") {
                flagvalue = "0";
                jQuery('.print_investigations_flag').attr("value", flagvalue);
            } else if (jQuery('.print_investigations_flag').attr("value") == "0") {
                flagvalue = "1";
                jQuery('.print_investigations_flag').attr("value", flagvalue);
            }
            var params = { flag_name: "print_investigations_flag", opd_record_id: "<%= @opdrecord.id %>", flag_value: flagvalue };
            jQuery.ajax({
                type: "GET",
                dataType: "script",
                url: "/opd_records/print_flag",
                data: {ajax: params, remote: "true" }
            });
        });

        $('.print_procedures_flag').on("click", function() {
            var flagvalue = "0";
            if (jQuery('.print_procedures_flag').attr("value") == "1") {
                flagvalue = "0";
                jQuery('.print_procedures_flag').attr("value", flagvalue);
            } else if (jQuery('.print_procedures_flag').attr("value") == "0") {
                flagvalue = "1";
                jQuery('.print_procedures_flag').attr("value", flagvalue);
            }
            var params = { flag_name: "print_procedures_flag", opd_record_id: "<%= @opdrecord.id %>", flag_value: flagvalue };
            jQuery.ajax({
                type: "GET",
                dataType: "script",
                url: "/opd_records/print_flag",
                data: {ajax: params, remote: "true" }
            });
        });
        jQuery('.print_history_flag').on("click", function() {
          var flagvalue = "0";
          if (jQuery('.print_history_flag').attr("value") == "1") {
            flagvalue = "0";
            jQuery('.print_history_flag').attr("value", flagvalue);
          } else if (jQuery('.print_history_flag').attr("value") == "0") {
            flagvalue = "1";
            jQuery('.print_history_flag').attr("value", flagvalue);
          }
          var params = { flag_name: "print_history_flag", opd_record_id: "<%= @opdrecord.id %>", flag_value: flagvalue };
          jQuery.ajax({
            type: "GET",
            dataType: "script",
            url: "/opd_records/print_flag",
            data: {ajax: params, remote: "true" }
          });
        });

        $('.hide-show-edit-btn').on('click',function(){
          if ($(this).hasClass('revert-sign-off-btn')){
            $('.edit-record').removeClass('disabled')
            $('.record-signed-off-title').hide()
            var status = false
          }
          else{
            $('.edit-record').addClass('disabled')
            $('.record-signed-off-title').show()
            var status = true
          }
          $.ajax({
            type: "GET",
            dataType: "script",
            url: "/opd_records/sign_off",
            data: {status: status,opd_record_id: "<%= @opdrecord.id %>", remote: "true" }
          })
        })

    });
</script>
