
  <div class="patientinfo mb10" id="patientinfo" style="font-size:8pt;margin-top:20px;margin-left:20px;">

    <div class="row">
      <div class="col-md-6">
        <span><b><%= patient.fullname %></b></span><br>
        <% if patient.age? || patient.gender? %><span><% if patient.age? %><%= patient.age %><% end %><% if patient.gender == 'Male' %>/M<% end %><% if patient.gender == 'Female' %>/F)<% end %></span><br><% end %>
        <span><%= PatientIdentifier.find_by(:patient_id => patient.id, :organisation_id => current_user.organisation_id).try(:patient_org_id) %></span><br>
        <span><%= patient.mobilenumber %></span>
      </div>
      <div class="col-md-6 text-right">
        <span><b>Dr. <%= User.find_by(id: admission.doctor).fullname %></b></span><br>
        <% unless User.find_by(id: admission.doctor).designation.nil? %><span><%= User.find_by(id: admission.doctor).designation %></span><br><% end %>
        <span><%= @admission.display_id %></span><br>
        <span><%= admission.admissiontime.strftime("%d-%m-%y") %></span>
      </div>
    </div>

  </div>
  <div class="pcs-entity-title"><span>OT Note</span></div>
  <div class="row">

    <div class="col-md-4">
      <% unless @ipdrecord.admissiondate.blank? %>
        <i style="font-weight:bold;">Admission Date : </i>
        <%= @ipdrecord.read_attribute(:"admissiondate") %>
        <div class="mb3"></div>
      <% end %>
    </div>

    <div class="col-md-4">
      <% unless @ipdrecord.surgerytype.blank? %>
        <i style="font-weight:bold;">Type of Surgery : </i>
        <%= @ipdrecord.read_attribute(:"surgerytype") %>
        <div class="mb3"></div>
      <% end %>
    </div>

    <div class="col-md-4">
      <% unless @ipdrecord.anesthesia.blank? %>
        <i style="font-weight:bold;">Anesthesia : </i>
        <%= @ipdrecord.read_attribute(:"anesthesia") %>
        <div class="mb3"></div>
      <% end %>
    </div>
  </div>
  <div class="row">

    <div class="col-md-6">
      <% unless @ipdrecord.diagnosis.blank? %>
          <% if @ipdrecord.diagnosis.length > 0 %>
              <i style="font-weight:bold;">Diagnosis : </i>
              <%= @ipdrecord.read_attribute(:"diagnosis") %>
              <div class="mb3"></div>
          <% end %>
      <% end %>
    </div>
    <!-- <div class="col-md-6">
      <% unless @ipdrecord.assessment.blank? %>
          <% if @ipdrecord.assessment.length > 0 %>
              <i style="font-weight:bold;">Assessment : </i>
              <%= @ipdrecord.read_attribute(:"assessment") %>
              <div class="mb3"></div>
          <% end %>
      <% end %>
    </div> -->
    <div class="col-md-6">
      <% unless @ipdrecord.procedurename.blank? %>
          <% if @ipdrecord.procedurename.length > 0 %>
              <i style="font-weight:bold;">Procedure Name : </i>
              <%= @ipdrecord.read_attribute(:"procedurename") %>
              <div class="mb3"></div>
          <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4" style="margin-top:10px;">
      <% if !@ipdrecord.surgeon1.blank? || !@ipdrecord.surgeon2.blank? || !@ipdrecord.surgeon3.blank? %>
        <i style="font-weight:bold;">Surgeons : </i>
      <% end %>
      <ul>
        <% unless @ipdrecord.surgeon1.blank? %>
          <% if @ipdrecord.surgeon1.length > 0 %>
             <li><%= @ipdrecord.read_attribute(:"surgeon1") %></li>
          <% end %>
        <% end %>
        <% unless @ipdrecord.surgeon2.blank? %>
          <% if @ipdrecord.surgeon2.length > 0 %>
             <li><%= @ipdrecord.read_attribute(:"surgeon2") %></li>
          <% end %>
        <% end %>
        <% unless @ipdrecord.surgeon3.blank? %>
          <% if @ipdrecord.surgeon3.length > 0 %>
             <li><%= @ipdrecord.read_attribute(:"surgeon3") %></li>
          <% end %>
        <% end %>
      </ul>
      <div class="mb3"></div>
    </div>
    <div class="col-md-4" style="margin-top:10px;">
      <% if !@ipdrecord.anesthetist1.blank? || !@ipdrecord.anesthetist2.blank? || !@ipdrecord.anesthetist3.blank? %>
        <i style="font-weight:bold;">Anesthetists : </i>
      <% end %>
      <ul>
        <% unless @ipdrecord.anesthetist1.blank? %>
          <% if @ipdrecord.anesthetist1.length > 0 %>
             <li><%= @ipdrecord.read_attribute(:"anesthetist1") %></li>
          <% end %>
        <% end %>
        <% unless @ipdrecord.anesthetist2.blank? %>
          <% if @ipdrecord.anesthetist2.length > 0 %>
             <li><%= @ipdrecord.read_attribute(:"anesthetist2") %></li>
          <% end %>
        <% end %>
        <% unless @ipdrecord.anesthetist3.blank? %>
          <% if @ipdrecord.anesthetist3.length > 0 %>
             <li><%= @ipdrecord.read_attribute(:"anesthetist3") %></li>
          <% end %>
        <% end %>
      </ul>
      <div class="mb3"></div>
    </div>
    <div class="col-md-4" style="margin-top:10px;">
      <% if !@ipdrecord.theatrestaff1.blank? || !@ipdrecord.theatrestaff2.blank? || !@ipdrecord.theatrestaff3.blank? %>
        <i style="font-weight:bold;">Theatre Staff : </i>
      <% end %>
      <ul>
        <% unless @ipdrecord.theatrestaff1.blank? %>
          <% if @ipdrecord.theatrestaff1.length > 0 %>
             <li><%= @ipdrecord.read_attribute(:"theatrestaff1") %></li>
          <% end %>
        <% end %>
        <% unless @ipdrecord.theatrestaff2.blank? %>
          <% if @ipdrecord.theatrestaff2.length > 0 %>
             <li><%= @ipdrecord.read_attribute(:"theatrestaff2") %></li>
          <% end %>
        <% end %>
        <% unless @ipdrecord.theatrestaff3.blank? %>
          <% if @ipdrecord.theatrestaff3.length > 0 %>
             <li><%= @ipdrecord.read_attribute(:"theatrestaff3") %></li>
          <% end %>
        <% end %>
      </ul>
      <div class="mb3"></div>
    </div>
  </div>
  <div class="row" style="margin-top:10px;">
    <div class="col-md-6">
    <% unless @ipdrecord.preoperativestatus.blank? %>
        <% if @ipdrecord.preoperativestatus.length > 0 %>
            <i style="font-weight:bold;">Pre-Op Status : </i>
            <%= @ipdrecord.read_attribute(:"preoperativestatus") %>
            <div class="mb3"></div>
        <% end %>
    <% end %>
    </div>
    <div class="col-md-6">
      <% unless @ipdrecord.procedurefindings.blank? %>
        <% if @ipdrecord.procedurefindings.length > 0 %>
            <i style="font-weight:bold;">Procedure Findings : </i>
            <%= @ipdrecord.read_attribute(:"procedurefindings") %>
            <div class="mb3"></div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-12">
      <% unless @ipdrecord.procedurenote.blank? %>
          <% if @ipdrecord.procedurenote.length > 0 %>
              <i style="font-weight:bold;">Procedure Note : </i>
              <%= @ipdrecord.read_attribute(:"procedurenote").html_safe() %>
              <div class="mb3"></div>
          <% end %>
      <% end %>
    </div>
    <div class="break-on-will"></div>
    <div class="col-md-12">
      <% unless @ipdrecord.additionalprocedure.blank? %>
          <% if @ipdrecord.additionalprocedure.length > 0 %>
              <i style="font-weight:bold;">Additional Note : </i>
              <%= @ipdrecord.read_attribute(:"additionalprocedure").html_safe() %>
              <div class="mb3"></div>
          <% end %>
      <% end %>
    </div>
  </div>
  <br>
  <br>