
  <div class="patientinfo mb10" id="patientinfo" style="font-size:8pt;margin-top:20px;margin-left:20px;">

    <div class="row">
      <div class="col-md-6">
        <span><b><%= patient.fullname %></b></span><br>
        <% if patient.age? || patient.gender? %><span><% if patient.age? %><%= patient.age %><% end %><% if patient.gender == 'Male' %>/M<% end %><% if patient.gender == 'Female' %>/F)<% end %></span><br><% end %>
        <span><%= PatientIdentifier.find_by(:patient_id => patient.id, :organisation_id => current_user.organisation_id).try(:patient_org_id) %></span><br>
        <span><%= patient.mobilenumber %></span>
      </div>
      <div class="col-md-6 text-right">
        <span><b>Dr. <%= User.find_by(id: admission.doctor).fullname %></b></span><br>
        <% unless User.find_by(id: admission.doctor).designation.nil? %><span><%= User.find_by(id: admission.doctor).designation %></span><br><% end %>
        <span><%= @admission.display_id %></span><br>
        <span><%= admission.admissiontime.strftime("%d-%m-%y") %></span>
      </div>
    </div>

  </div>
  <div class="pcs-entity-title"><span>Admission Note</span></div>
<div class="container-fluid">
  <div class="row">

    <div class="col-md-6">
      <% unless @ipdrecord.surgerytype.blank? %>
        <span style="font-weight:bold"><i>Type of Surgery : </i></span>
        <%= @ipdrecord.read_attribute(:"surgerytype") %>
        <div class="mb3"></div>
      <% end %>
    </div>

    <div class="col-md-6">
      <% unless @ipdrecord.admissiondate.blank? %>
        <span style="font-weight:bold"><i>Admission Date : </i></span>
        <%= @ipdrecord.read_attribute(:"admissiondate") %>
        <div class="mb3"></div>
      <% end %>
    </div>
  </div>
  <br>
  <div class="row">
    <% if !@ipdrecord.hpi.blank? || !@ipdrecord.pasthistory.blank? || !@ipdrecord.familyhistory.blank? || !@ipdrecord.socialhistory.blank? || !@ipdrecord.pastmedications.blank? %>
      <h5 class="hpi-ei-cp-title">History of Patient Illness</h5>
    <% end %>
    <div class="col-md-6">
      <% unless @ipdrecord.hpi.blank? %>
          <% if @ipdrecord.hpi.length > 0 %>
              <span style="font-weight:bold"><i>History of present illness : </i></span>
              <%= @ipdrecord.read_attribute(:"hpi") %>
              <div class="mb3"></div>
          <% end %>
      <% end %>
    </div>
    <div class="col-md-6">
      <% unless @ipdrecord.pasthistory.blank? %>
          <% if @ipdrecord.pasthistory.length > 0 %>
              <span style="font-weight:bold"><i>Past history : </i></span>
              <%= @ipdrecord.read_attribute(:"pasthistory") %>
              <div class="mb3"></div>
          <% end %>
      <% end %>
    </div>
    <div class="col-md-6">
      <% unless @ipdrecord.familyhistory.blank? %>
          <% if @ipdrecord.familyhistory.length > 0 %>
              <span style="font-weight:bold"><i>Family history : </i></span>
              <%= @ipdrecord.read_attribute(:"familyhistory") %>
              <div class="mb3"></div>
          <% end %>
      <% end %>
  </div>
    <div class="col-md-6">
      <% unless @ipdrecord.socialhistory.blank? %>
          <% if @ipdrecord.socialhistory.length > 0 %>
              <span style="font-weight:bold"><i>Personal / social history : </i></span>
              <%= @ipdrecord.read_attribute(:"socialhistory") %>
              <div class="mb3"></div>
          <% end %>
      <% end %>
    </div>
    <div class="col-md-6">
    <% unless @ipdrecord.pastmedications.blank? %>
        <% if @ipdrecord.pastmedications.length > 0 %>
            <span style="font-weight:bold"><i>Previous / on-going medications : </i></span>
            <%= @ipdrecord.read_attribute(:"pastmedications") %>
            <div class="mb3"></div>
        <% end %>
    <% end %>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <% if !@ipdrecord.generalexamination.blank? || !@ipdrecord.localexamination.blank? || !@ipdrecord.laboratory.blank? || !@ipdrecord.radiology.blank? || !@ipdrecord.otherinvestigations.blank? || !@ipdrecord.provisionaldiagnosis.blank? %>
        <h5 class="hpi-ei-cp-title">Examination & Investigation</h5>
      <% end %>
    <div class="col-md-6">
      <% unless @ipdrecord.generalexamination.blank? %>
        <% if @ipdrecord.generalexamination.length > 0 %>
            <span style="font-weight:bold"><i>General examination : </i></span>
            <%= @ipdrecord.read_attribute(:"generalexamination") %>
            <div class="mb3"></div>
        <% end %>
    <% end %>
  </div>

    <div class="col-md-6">
      <% unless @ipdrecord.localexamination.blank? %>
        <% if @ipdrecord.localexamination.length > 0 %>
            <span style="font-weight:bold"><i>Local examination : </i></span>
            <%= @ipdrecord.read_attribute(:"localexamination") %>
            <div class="mb3"></div>
        <% end %>
    <% end %>
  </div>

    <div class="col-md-6">
      <% unless @ipdrecord.laboratory.blank? %>
        <% if @ipdrecord.laboratory.length > 0 %>
            <span style="font-weight:bold"><i>laboratory : </i></span>
            <%= @ipdrecord.read_attribute(:"laboratory") %>
            <div class="mb3"></div>
        <% end %>
    <% end %>
  </div>

    <div class="col-md-6">
      <% unless @ipdrecord.radiology.blank? %>
        <% if @ipdrecord.radiology.length > 0 %>
            <span style="font-weight:bold"><i>Radiology : </i></span>
            <%= @ipdrecord.read_attribute(:"radiology") %>
            <div class="mb3"></div>
        <% end %>
    <% end %>
  </div>

    <div class="col-md-6">
      <% unless @ipdrecord.otherinvestigations.blank? %>
        <% if @ipdrecord.otherinvestigations.length > 0 %>
            <span style="font-weight:bold"><i>Others : </i></span>
            <%= @ipdrecord.read_attribute(:"otherinvestigations") %>
            <div class="mb3"></div>
        <% end %>
    <% end %>
  </div>

    <div class="col-md-6">
      <% unless @ipdrecord.provisionaldiagnosis.blank? %>
        <% if @ipdrecord.provisionaldiagnosis.length > 0 %>
            <span style="font-weight:bold"><i>Provisional diagnosis : </i></span>
            <%= @ipdrecord.read_attribute(:"provisionaldiagnosis") %>
            <div class="mb3"></div>
        <% end %>
    <% end %>
  </div>
  </div>
  <br>
  <br>
  <div class="row">
    <% if !@ipdrecord.investigations.blank? || !@ipdrecord.treatment.blank? %>
      <h5 class="hpi-ei-cp-title">Care Plan</h5>
    <% end %>
    <div class="col-md-6">
      <% unless @ipdrecord.investigations.blank? %>
        <% if @ipdrecord.investigations.length > 0 %>
            <span style="font-weight:bold"><i>Investigations : </i></span>
            <%= @ipdrecord.read_attribute(:"investigations") %>
            <div class="mb3"></div>
        <% end %>
      <% end %>
    </div>

    <div class="col-md-6">
      <% unless @ipdrecord.treatment.blank? %>
        <% if @ipdrecord.treatment.length > 0 %>
            <span style="font-weight:bold"><i>Treatment : </i></span>
            <%= @ipdrecord.read_attribute(:"treatment") %>
            <div class="mb3"></div>
        <% end %>
      <% end %>
    </div>
</div>
</div>


<style type="text/css">
.hpi-ei-cp-title {
  border-bottom: 1px solid #000;
  margin-top: 10px;
}
</style>