<tr style="background-color:#bbb">
  <td colspan="7" style="padding:5px 10px 2px;">
    <% @taper = TaperingKit.find_by(id: medication['taper_id']) %>
    <% @tapering_set = @taper.tapering_set %>
    <% if @taper.taper_by == "Dosage" %>
      <table class="table table-bordered" style="margin: 0 0 5px;">
        <thead>
          <tr>
            <th>Sr No.</th>
            <th>No of Days</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th width="16%">Dosage</th>
            <th width="16%">Interval</th>
          </tr>
        </thead>
        <tbody>
          <% @tapering_set.each.with_index do |taper, i| %>
            <tr class="taper_row">
              <td>
                <%= i.to_i + 1 %>
              </td>
              <td>
                <%= taper.number_of_days %>
              </td>
              <td>
                <%= taper.try(:start_date).try(:strftime, '%d/%m/%Y') %>
              </td>
              <td>
                <%= taper.try(:end_date).try(:strftime, '%d/%m/%Y') %>
              </td>
              <td>
                <%= taper.try(:start_time).try(:strftime, '%I:%M %p') %>
              </td>
              <td>
                <%= taper.try(:end_time).try(:strftime, '%I:%M %p') %>
              </td>
              <td>
                <%= taper.dosage %>
              </td>
              <td>
                <%= taper['interval'].to_i > 0 ? 'Every ' + pluralize(taper['interval'], 'hour') : '-' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <table class="table table-bordered" style="margin: 0 0 5px;">
        <thead>
          <tr>
            <th>Sr No.</th>
            <th>Day</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th width="16%">Frequency</th>
            <th width="16%">Interval</th>
          </tr>
        </thead>
        <tbody>
          <% @tapering_set.each.with_index do |taper, i| %>
            <% unless (taper.frequency).to_i == 0 %>
              <tr class="taper_row">
                <td>
                  <%= i.to_i + 1 %>
                </td>
                <td>
                  <%= taper.number_of_days %>
                </td>
                <td>
                  <%= taper.try(:start_date).try(:strftime, '%d/%m/%Y') %>
                </td>
                <td>
                  <%= taper.try(:end_date).try(:strftime, '%d/%m/%Y') %>
                </td>
                <td>
                  <%= taper.try(:start_time).try(:strftime, '%I:%M %p') %>
                </td>
                <td>
                  <%= taper.try(:end_time).try(:strftime, '%I:%M %p') %>
                </td>
                <td>
                  <%= pluralize(taper['frequency'], 'time') %> a day
                </td>
                <td>
                  <%= taper['interval'].to_i > 0 ? 'Every ' + pluralize(taper['interval'], 'hour') : '-' %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </td>
</tr>
