<div class="modal-dialog modal-lg" style="width: 80%">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Counselling Followup</h4>
    </div>
      <div class="modal-body">
        <div style="padding: 10px; border: 1px solid #e3e3e3;">
          <%= simple_form_for @order_followup, url: orders_followup_path(@order_followup), class: "order", method: :put, remote: true  do |f| %>
            <%= hidden_field_tag "case_sheet_id", @case_sheet.id.to_s %>
            <%= f.hidden_field :appointment_id, value: @appointment.id.to_s %>
            <%= f.hidden_field :id, value: @order_followup.id.to_s %>
            <%= render partial: 'form.html.erb', locals: { f: f, submit_btn: "Update - Counsel Followup" } %>
          <% end %>
        </div>  
      </div>
  </div>
</div>

<style>
  #order-procedures-table.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #fff;
  }
  #procedures .row:nth-child(even) {
    background-color: #e3e3e3;
  }
  #order_followup_followup_time, #order_followup_followup_date{
    cursor: pointer;
    background-color: #fff,
  }
</style>