<div class="modal-dialog modal-lg" style="width: 80%">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Followup Details:</h4>
    </div>
      <div class="modal-body">
        <div style="padding: 10px; border: 1px solid #e3e3e3;">

          <div class="row" style="margin-bottom: 10px;">
            <div class="col-sm-2" >
              Counselled by:
            </div>
            <div class="col-sm-3">
              <%= User.find_by(id: @followup.counselled_by_id)&.fullname %>
            </div>
          </div>
          <ul class="nav nav-pills nav-justified" style="width: 20%">
            <li role="presentation" class="active"><a href="#procedures" data-toggle="tab">Procedures</a></li>
            <!-- <li role="presentation"><a href="#investigations" data-toggle="tab">Investigations</a></li> -->
          </ul>
          <hr style="margin:0;border: 0.5px solid #e3e3e3;"/>
          <div class="tab-content admission-form-body">
            <div class="tab-pane active" id="procedures">
              <div class="row" style="color: #333;">
                <div class="col-sm-6"><strong>Procedure - Order</strong></div>
                <div class="col-sm-6"><strong>Current Status</strong></div>
              </div>
              <% @order_procedures.each do |procedure| %>
                <div class="row">
                  <div class="col-sm-6">
                    <strong><%= procedure.procedurename %> - <%= procedure.get_label_for_side(procedure.procedureside) %></strong>
                  </div>
                  <div class="col-sm-6" style="text-align: left;"><%= procedure.status %></div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="form-container">
            <div style="text-align: left; margin-top: 10px">
              <h5 style="width: 100%;background-color: #31b0d5;padding: 10px;color: #fff;">Followup Details:</h5>
              <div class="row">
                <div class="col-sm-5" style="margin-top: 10px;">
                  <div class="row orders-count" style="padding: 10px;color: #ff0000;">
                  </div>
                  <div class="row" style="text-align: left; margin-left: 10px">
                    Followup Notes:-
                  </div>
                  <div class="row" style="text-align: left; margin-left: 10px">
                    <%= @followup.followup_notes %>
                  </div>
                </div>
                <div class="col-sm-7">
                  <div style="background-color: #eee;padding: 10px;margin-top: 10px; width: 100%;">
                    <div class="row" style="margin-top: 10px">
                      <div class="col-sm-4">
                        Followup Date:
                      </div>
                      <div class="col-sm-8" style="text-align: left">
                        <%=@followup.followup_date&.strftime("%d/%m/%Y")%>
                      </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                      <div class="col-sm-4">
                        Followup Time:
                      </div>
                      <div class="col-sm-8" style="text-align: left">
                        <%=@followup.followup_time%>
                      </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                      <div class="col-sm-4">
                        Followup Type:
                      </div>
                      <div class="col-sm-8" style="text-align: left;">
                        <%= @followup.followup_type == "in_person" ? "In-Person" : "Over Phone" %>
                      </div>
                    </div>
                    <div class="row" style="margin-top: 10px; display: none">
                      <div class="col-sm-4">
                        Followup Reasons:
                      </div>
                      <div class="col-sm-8" style="text-align: left">
                        <%@followup.followup_reasons.reject{|a| a.blank? }.each do |reason| %>
                          <%= reason %></br>
                        <% end %>
                      </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                      <div class="col-sm-4">
                        Counsellor:
                      </div>
                      <div class="col-sm-8" style="text-align: left">
                        <%= User.find_by(id: @followup.followup_for_id)&.fullname %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div style="text-align: right; margin-top: 10px">
                <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>