<div class="row">
  <div class="col-md-4">
    <h4>MANAGE INVENTORY SUB CATEGORY</h4>
  </div>
  <div class="col-md-3 text-right">
    <input type="text" name="" class="search-sub-category-master form-control" placeholder="Search Sub Category" value="" style="margin-top: 5px;">
  </div>
  <div class="col-md-5 text-right">
    <%= link_to new_inventory_sub_category_path, class: 'btn btn-primary', data: { remote: true, 'toggle': 'modal', 'target': '#sub-category-modal' } do %><i class="fa fa-plus"></i> Add Sub Category<% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <% if @inventory_sub_categories.count > 0 %>
      <table id="manage_inventory_sub_categories_table" class="table table-primary table-bordered">
        <thead>
          <th>Name</th>
          <th>Description</th>
          <th>Category</th>
          <th class="text-center">Actions</th>
        </thead>
        <tbody id="sub_category_master-list">
        <% @inventory_sub_categories.each do |sub_category| %>
          <% visibility = sub_category.is_disable ? 'visibility: hidden;' : 'visibility: visible' %>
          <tr class="each-contact-table-row sub_category_master_tr">
            <td>
              <b class="sub_category_name" style="color:#000;"><%= sub_category.try(:name) %></b>
            </td>

            <td>
              <b class="sub_category_description" style="color:#000;"><%= sub_category.try(:description) %></b>
            </td>
            <td>
              <b class="category" style="color:#000;"><%= sub_category.try(:category).try(:name) %></b>
            </td>
            <td>
              <table style="width: 100%;">
                <tr>
                  <td style="<%=visibility%>">
                    <%= link_to edit_inventory_sub_category_path(id: sub_category.id.to_s), method: :get, data: { remote: true, toggle: 'modal', target: '#sub-category-modal' }, class: 'btn btn-info btn-xs', style: 'display: inline;' do %>Edit<% end %>
                  </td>
                  <td id='sub_category_disable_button_<%= sub_category.id %>'>
                    <% if sub_category.try(:is_disable) == true %>
                      <%= link_to 'Active', toggle_disable_inventory_sub_category_path(id: sub_category.id, is_disable: false), class: 'btn btn-xs btn-primary', remote: true, style: 'display: inline;' %>
                    <% else %>
                      <div class="btn btn-danger btn-xs btn-disable-sub-category" style="display: inline;" data-toggle="modal" data-target="#confirmation-modal" data-sub-category='<%= sub_category.name %>'>Disable</div>
                      <%= link_to 'Confirm', toggle_disable_inventory_sub_category_path(id: sub_category.id, is_disable: true), class: 'btn btn-danger', remote: true, style: 'display: none;', data: { dismiss: 'modal' } %>
                    <% end %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="col-md-12 text-center mt10">
        No Sub Categories to Show.
      </div>
    <% end %>
  </div>
</div>

<style>
  #confirmation-modal a{
    display: inline-block !important;
  }
  .row-container{
    height: 25px;
  }
</style>

<script type="text/javascript">
  $(".search-sub-category-master").on('keyup', function(){
    sub_category_list = $(".sub_category_master_tr");
    sub_category_list_count = sub_category_list.length;
    search = $(this).val().toUpperCase().trim();
    counter = 0
    for (var i = sub_category_list.length - 1; i >= 0; i--) {
      sub_category_name = $(sub_category_list[i]).find(".sub_category_name")
      sub_category_description = $(sub_category_list[i]).find(".sub_category_description")
      sub_category_category = $(sub_category_list[i]).find(".category")
      if($(sub_category_name).html().toUpperCase().indexOf(search) > -1 || $(sub_category_description).html().toUpperCase().indexOf(search) > -1 || $(sub_category_category).html().toUpperCase().indexOf(search) > -1) {
        $(sub_category_list[i]).css("display", "");
      } else {
        $(sub_category_list[i]).css("display", "None");
        counter += 1
      }
    }

    if(sub_category_list_count == counter){
      if($(".show-nothing").length <= 0){
        $("#sub_category_master-list").append(`<tr class="show-nothing"><td class="text-center" colspan="5">Nothing to Show</td></tr>`)
      }
    } else {
      $(".show-nothing").remove();
    }
  })
</script>
