<% if @inventory_sub_category.is_disable == false %>
$('#sub_category_disable_button_<%= @inventory_sub_category.id %>').html(`
  	  <div class="btn btn-danger btn-xs btn-disable-sub-category" style="display: inline;" data-toggle="modal" data-target="#confirmation-modal" data-store='<%= @inventory_sub_category.name %>'>Disable</div>
	  <%= escape_javascript(link_to 'Confirm', toggle_disable_inventory_sub_category_path(id: @inventory_sub_category.id, is_disable: true), class: "btn btn-danger", remote: true, style: "display: none;", data: {dismiss: "modal"}) %>
	`)
$('#sub_category_disable_button_<%= @inventory_sub_category.id %>').closest('tr').find('td:not(#sub_category_disable_button_<%= @inventory_sub_category.id %>)').css({'visibility': 'visible'})
<% else %>
$('#sub_category_disable_button_<%= @inventory_sub_category.id %>').html(`
  	<%= escape_javascript(link_to 'Active', toggle_disable_inventory_sub_category_path(id: @inventory_sub_category.id, is_disable: false), class: "btn btn-xs btn-primary", remote: true, style: "display: inline;") %>
  	`)
$('#sub_category_disable_button_<%= @inventory_sub_category.id %>').closest('tr').find('td:not(#sub_category_disable_button_<%= @inventory_sub_category.id %>)').css({'visibility': 'hidden'})
<% end %>

$('.btn-disable-sub_category').on('click', function(){
  var btn = $(this).closest('td').find('a')
  var sub_category = $(this).data('sub_category')
  $('#confirmation-modal').html(`
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Are You Sure?</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure, you want disable ${sub_category} store?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        ${btn[0].outerHTML}
      </div>
    </div>
  </div>
  `)
})