<div class="step-pane <%= stepcount == 1 ? 'active' : '' %>" data-step="<%= stepcount %>" style="min-height: 340px;">

  <div class="row" style="margin-top:15px;margin-left: 7px;">
    <div class="col-sm-4">
      <strong>Employee ID (if applicable)</strong><br>
      <%= f.text_field :employee_id, class: 'form-control p7_10 employee_id', placeholder: 'Employee ID' %>
    </div>

    <div class="col-sm-4">
      <strong>Designation (if applicable)</strong><br>
      <%= f.text_field :designation, class: 'form-control p7_10 designation', placeholder: 'Designation' %>
    </div>

    <div class="col-sm-4">
      <strong>Registration Number (if applicable)</strong><br>
      <%= f.text_field :registration_number, class: 'form-control p7_10 registration_number', placeholder: 'Registration Number' %>
    </div>
  </div>

  <div class="row" style="margin-top:15px;margin-left: 7px;">
    <div class="col-sm-4">
      <strong>Qualification (if applicable)</strong><br>
      <%= f.text_field :qualification, class: 'form-control p7_10 qualification', placeholder: 'E.g MBBS, MS, FRS' %>
    </div>

    <div class="col-sm-4">
      <strong>Fellowship (if applicable)</strong><br>
      <%= f.text_field :fellowship, class: 'form-control p7_10 fellowship', placeholder: 'E.g Fellowship at HG Hospital India' %>
    </div>
  </div>

  <div class="row internal_user_section" style="padding-left: 6px;padding-top: 22px;display: none;">
    <div class="col-sm-12">
      <div class="col-sm-3"></div>
      <div class="col-md-2"><strong>Is Internal Doctor</strong></div>

      <div class="col-md-2">
        <div class="rdio rdio-primary">
          <%= f.radio_button :is_internal_user, true, id: 'is_internal_user_yes', class: 'is_internal_user', checked: @user.is_internal_user == true %>
          <label for="is_internal_user_yes"><b>Yes</b></label>
        </div>
      </div>

      <div class="col-md-2">
        <div class="rdio rdio-primary">
          <%= f.radio_button :is_internal_user, false, id: 'is_internal_user_no', class: 'is_internal_user', checked: @user.is_internal_user == false %>
          <label for="is_internal_user_no"><b>No</b></label>
        </div>
      </div>
    </div>
  </div>
<!-- removing roles of  admin, owner, doc-admin, doc-owner for centerhead -->
  <% @roles_arr.delete_if { |role| role.include?("158966000") } %>
  <% if  @current_user.role_ids.include?(686800945) %>
    <% @roles_arr.delete_if { |role| role.include?("6868009") || role.include?("160943002") } %>
  <% else %>
    <!-- adding roles of doc-admin and doc-owner for other users  -->
    <% @roles_arr << ['Doctor Owner', '158965000,160943002'] << ['Doctor Admin', '158965000,6868009'] << ['Doctor Clinical Auditor', '158965000,158966000'] %>
  <% end %>
  <div class="row user_roles_section" style="margin-top:15px;margin-left: 1px;">
    <div style="font-size: 16px;padding-left: 17px;">
      <strong>User Role</strong>
    </div><br>
    <div class="col-sm-12">
      <% @roles_arr.each do |role| %>
        <div class="col-sm-3">
          <div class="rdio rdio-primary">
            <% value = @user.role_ids.join(',') == role[1] %>
            <%= radio_button_tag 'user[role_ids]', role[1], value, id: "role_ids_#{role[1]}", class: 'role_ids_list' %>
            <label for="role_ids_<%= role[1] %>"><b><%= role[0] %></b></label>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row specialty_section" style="margin-top: 15px;margin-left: 13px;">
    <div style="font-size: 16px;">
      <strong>Specialties List</strong> &nbsp;&nbsp;
      <span class="label label-danger specialty_restriction_label" style="display: none;">List Restricted to single specialty</span>
      <span class="label label-danger no_specialty_selection" style="display: none;">Specialty selection is not possible for this User Role.</span>
      <span class="specialty_needed_label" style="display: none;color: red;font-weight: bold;font-size: 15px;">Select atleast one Specialty</span>
    </div><br>
    <div class="specialty_list_panel">
      <% @specialties_arr.each_with_index do |specialty, i| %>
        <div class="col-md-3" style="padding: 1px;">
          <span class="ckbox ckbox-primary" style="padding-top: 5px;">
            <input type="hidden" name="user[specialty_ids][<%= i %>][id]" value='<%= specialty.id %>'>
            <input type="hidden" name="user[specialty_ids][<%= i %>][flag]" value='false'>
            <% value = @user.specialty_ids.include?(specialty.id) ? 'checked' : '' %>
            <input type="checkbox" name="user[specialty_ids][<%= i %>][flag]" id="checkbox_<%= specialty.id %>" value="<%= specialty.id %>" class="specialty_list" <%= value %>>
            <label for="checkbox_<%= specialty.id %>"><b><%= specialty.name %></b></label>
          </span>
        </div>
      <% end %>
    </div>
  </div>

  <% sub_specialty_style = @sub_specialties.count > 0 ? 'margin-top: 15px;margin-left: 13px;' : 'margin-top: 15px;margin-left: 13px;display:none;' %>
  <div class="row sub_specialty_section" style="<%= sub_specialty_style %>">
    <div style="font-size: 16px;">
      <strong>Sub Specialties List</strong>
      <span class="sub_specialty_needed_label" style="display: none;color: red;font-weight: bold;font-size: 15px;">Select atleast one Sub Specialty</span>
    </div>
    <div class="sub_specialty_list_panel">
      <% @sub_specialties.each_with_index do |sub_specialty, i| %>
        <div class="col-md-4" style="padding: 1px;">
          <span class="ckbox ckbox-primary" style="padding-top: 5px;">
            <input type="hidden" name="user[sub_specialty_ids][<%= i %>][id]" value='<%= sub_specialty.id %>'>
            <input type="hidden" name="user[sub_specialty_ids][<%= i %>][name]" value='<%= sub_specialty.name %>'>
            <input type="hidden" name="user[sub_specialty_ids][<%= i %>][flag]" value='false'>
            <% value = @user.sub_specialty_ids.include?(sub_specialty.id) ? 'checked' : '' %>
            <input type="checkbox" name="user[sub_specialty_ids][<%= i %>][flag]" id="sub_checkbox_<%= sub_specialty.id %>" value="<%= sub_specialty.id %>" class="sub_specialty_list" <%= value %>>
            <label for="sub_checkbox_<%= sub_specialty.id %>"><b><%= sub_specialty.name %></b></label>
          </span>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row departments_section" style="margin-top: 15px;margin-left: 13px;">
    <div style="font-size: 16px;">
      <strong>Departments List</strong> &nbsp;&nbsp;
      <span class="label label-danger departments_availablility_label" style="display: none;">Departments available according to selected Role.</span>
      <span class="department_needed_label" style="display: none;color: red;font-weight: bold;font-size: 15px;">Select atleast one Department</span>
    </div><br>

    <div class="specialty_list_panel">
      <% @departments.each_with_index do |department, i| %>
        <div class="col-md-3" style="padding: 1px;">
          <span class="ckbox ckbox-primary" style="padding-top: 5px;">
            <input type="hidden" name="user[department_ids][<%= i %>][id]" value='<%= department.id %>'>
            <input type="hidden" name="user[department_ids][<%= i %>][flag]" value='false'>

            <% value = @user.department_ids.include?(department.id) ? 'checked' : '' %>
            <input type="checkbox" name="user[department_ids][<%= i %>][flag]" id="checkbox_<%= department.id %>" value="<%= department.id %>" class="department_list" <%= value %> data-name="<%= department.name %>">
            <label for="checkbox_<%= department.id %>"><b><%= department.name %></b></label>
          </span>
        </div>
      <% end %>
    </div>
  </div>

  <!-- default_department_checkbox -->
  <div class="row url_default_url_section" style="margin-top: 15px;margin-left: 13px;">
    <div style="font-size: 16px;">
      <strong>Select any Default Department from selected departments</strong> &nbsp;&nbsp;
    </div><br>

    <div class="col-md-12 department_selection_list">
    </div>
  </div>

</div>
