<div class="step-pane <%= stepcount == 1 ? "active" : "" %>" data-step="<%=stepcount%>">
  <div class="row" style="margin-top:15px;">
    <div class="col-sm-2">
      <strong>Salutation</strong><br>
      <%= f.select :salutation, ["Dr", "Mr", "Ms", "Mrs"], {include_blank: true}, { class: 'form-control salutation' } %>
    </div>
    <div class="col-sm-6">
      <strong>Name</strong><br>
      <%= f.text_field :fullname, { class: 'form-control p7_10 fullname', placeholder: "Fullname" } %>
    </div>
    <div class="col-sm-4">
      <strong>Email</strong><br>
      <% if @trusted_domains.count > 0 %>
        <%= f.hidden_field :email, value: @user.email %>
        <% email_local, email_domain = @user.email&.split('@') %>
        <div class="row">
          <div class="col-sm-6 pr-0">
            <%= text_field_tag :email_local, email_local, class: 'form-control p7_10 email_local', placeholder: 'Email' %>
          </div>
          <div class="col-sm-6 pl-0">
            <% email_domain = @trusted_domains.first&.name if @trusted_domains.count == 1 && params[:action] == 'new' %>
            <%= select_tag :email_domain, options_for_select(@trusted_domains.map { |td| ["@#{td.name}", td.name] }, email_domain), include_blank: 'Select', class: 'form-control p9_10 email_domain' %>
          </div>
        </div>
      <% else %>
        <%= f.text_field :email, { class: 'form-control p7_10 email', placeholder: 'Email' } %>
      <% end %>
    </div>
  </div>

  <div class="row" style="margin-top:15px;">
    <div class="col-sm-4">
      <strong>Gender</strong><br>
      <%= f.select :gender, ["Female","Male"], {include_blank: true}, {class: 'form-control gender'} %>
    </div>
    <div class="col-sm-4">
      <strong>Birth Date</strong><br>
      <%= f.text_field :dob, { class: 'form-control p7_10 dob', placeholder: "Date of Birth", readonly: 'readonly' } %>
    </div>
    <div class="col-sm-4">
      <strong>Age</strong><br>
      <%= f.text_field :age, { class: 'form-control p7_10 age', placeholder: "Age", readonly: 'readonly' } %>
    </div>
  </div>

  <div class="row" style="margin-top:15px;">
    <div class="col-sm-4">
      <strong>Mobile Number</strong><br>
      <%= f.text_field :mobilenumber, { class: 'form-control p7_10 mobilenumber', placeholder: "Mobile", minlength: 6, maxlength: 10, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
    </div>
    <div class="col-sm-4">
      <strong>Telephone</strong><br>
      <%= f.text_field :telephone, { class: 'form-control p7_10 telephone', placeholder: "Telephone", minlength: 6, maxlength: 10, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
    </div>
    <div class="col-sm-4">
      <strong>Country</strong><br>
      <%= f.select :country_id, options_for_select(@countries.collect {|p| [ p.name + " ("+p.abbreviation1+") ", p.id ] },@user.country_id), {include_blank: "Select Country"}, {class: 'form-control country', style:'max-height:40px;'} %>
    </div>
  </div>

  <div class="row" style="margin-top:15px;">
    <div class="col-sm-12">
      <strong>Address</strong><br>
      <%= f.text_field :address, { class: 'form-control p7_10 address', placeholder: "Address" } %>
    </div>
  </div>

  <div class="row vietnam_facility" style="margin-top:15px;">
    <div class="col-sm-4">
      <strong>City</strong>
      <a href="" class="clear-commune" style="display:none;font-size: 10px;margin-top: -7px;">Clear</a>
      <%= f.text_field :city, { id: 'search_city_vietnam', class: 'form-control p7_10 city', placeholder: "City" } %>
    </div>
    <div class="col-sm-4">
      <strong>District</strong><br>
      <%= f.text_field :district, { id: 'search_district_vietnam', class: 'form-control district p5_10', placeholder: "District" } %>
    </div>
    <div class="col-sm-4">
      <strong>Commune</strong><br>
      <%= f.text_field :commune, {id: 'search_commune_vietnam', class: 'form-control commune p5_10', placeholder: "Commune"} %>
    </div>
  </div>

  <div class="row cambodia_facility">
    <div class="col-sm-3">
      <strong>Pincode</strong><a href="" class="clear-pincode" style="display:none;font-size: 10px;margin-top: -7px;">  Clear</a><br>
      <%= f.text_field :pincode, { class: 'form-control p7_10 pincode', id: 'search_pincode_cambodia', placeholder: "Pincode", minlength: 5, maxlength: 7, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
    </div>
    <div class="col-sm-3">
      <strong>Province/ State</strong><br>
      <%= f.text_field :state, { class: 'form-control p7_10 state',id: 'search_state_cambodia', placeholder: "State" } %>
    </div>
    <div class="col-sm-3">
      <strong>District</strong><br>
      <%= f.text_field :district, { id: 'search_district_cambodia', class: 'form-control district p5_10', placeholder: "District" } %>
    </div>
    <div class="col-sm-3">
      <strong>Commune</strong><br>
      <%= f.text_field :commune, {id: 'search_commune_cambodia', class: 'form-control commune p5_10', placeholder: "Commune"} %>
    </div>
  </div>

  <div class="row other_facility" style="margin-top:15px;">
    <div class="col-sm-4">
      <strong>Pincode</strong><a href="" class="clear-pincode" style="display:none;font-size: 10px;margin-top: -7px;">  Clear</a><br>
      <%= f.text_field :pincode, { id: 'search_pincode_other', class: 'form-control p7_10 pincode', placeholder: "Pincode", minlength: 5, maxlength: 7, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
    </div>
    <div class="col-sm-4">
      <strong>State</strong><br>
      <%= f.text_field :state, { class: 'form-control p7_10 state', id: 'search_state_other', placeholder: "State" } %>
    </div>
    <div class="col-sm-4">
      <strong>City</strong><br>
      <%= f.text_field :city, { id: 'search_city_other', class: 'form-control p7_10 city', placeholder: "City" } %>
    </div>
  </div>
</div>