<% if params[:action] == 'edit' %>
  <%= f.hidden_field :id, value: @pre_admission_note.try(:id) %>
<% end %>
<%= f.hidden_field :patient_id, value: @patient_id %>
<%= f.hidden_field :admission_id, value: @admission_id %>
<%= f.hidden_field :specalityid, value: @specalityid %>
<%= f.hidden_field :specalityname, value: @speciality_folder_name %>
<%= f.hidden_field :organisation_id, value: @current_user.organisation_id %>
<%= f.hidden_field :facility_id, value: @current_facility.id %>

<div class="mb20">

  <div class="row form-group">
<!--    <div class="col-md-2"><%#= f.label :entered_by, "Form completed by" %></div>-->
<!--    <div class="col-md-2"><%#= @current_user.fullname %></div>-->
    <%= f.hidden_field :entered_by,{:class => "form-control",:value=>@current_user.id} %>
  </div>

</div>

<div class="row mb20">
  <div class="col-md-12">

    <div class="row mb5">
      <div class="col-md-1">Instructions Note :</div>
      <div class="col-md-8">
        <%= f.input :instruction_note, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 15, :cols => 70, :value => @pre_admission_note.read_attribute(:instruction_note), readonly: true } %>
      </div>

      <div class="col-md-3">

        <label style= "margin-top:20px;margin-left:15px;">Select Instruction Notes :</label>
        <ul class="col-md-12 list-group saved_instruction_notes" style="margin-top:5px;margin-left:-15px;">
          <% @pre_admission_instruction_notes.each do |note| %>
            <li class="list-group-item saved_instruction_note" id="saved_instruction_note_<%= note.id %>" data-instruction_note_id="<%= note.id %>" data-text="<%= note.text %>">
              <h5 class="list-group-item-heading clearfix">
                <div class="procedure_note_name" data-toggle="tooltip" title="<%= note.name %>"  data-placement="right"><%= note.name %></div>
              </h5>
            </li>
          <% end %>
        </ul>

      </div>

    </div>


  </div>
</div>

<div class="row mb20">
  <div class="col-md-12">
    <div class="row mb5">
      <div class="col-md-1">Pre Operative Medication :</div>
      <div class="col-md-8">
        <%= f.input :medication_note, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 15, :cols => 70, :value => @pre_admission_note.read_attribute(:medication_note), readonly: true } %>
      </div>

      <div class="col-md-3">

        <label style= "margin-top:20px;margin-left:15px;">Select Medication Notes :</label>
        <ul class="col-md-12 list-group saved_medication_notes" style="margin-top:5px;margin-left:-15px;">
          <% @pre_admission_medication_notes.each do |note| %>
            <li class="list-group-item saved_medication_note" id="saved_medication_note_<%= note.id %>" data-medication_note_id="<%= note.id %>" data-text="<%= note.text %>">
              <h5 class="list-group-item-heading clearfix">
                <div class="procedure_note_name" data-toggle="tooltip" title="<%= note.name %>"  data-placement="right"><%= note.name %></div>
              </h5>
            </li>
          <% end %>
        </ul>

      </div>

    </div>
  </div>


</div>


<div class="row mb20">
  <div class="col-md-12">
    <div class="row mb5">
      <div class="col-md-1">Investigations Required :</div>
      <div class="col-md-8">
        <%= f.input :investigation_note, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 15, :cols => 70, :value => @pre_admission_note.read_attribute(:investigation_note), readonly: true } %>
      </div>

      <div class="col-md-3">

        <label style= "margin-top:20px;margin-left:15px;">Select Investigation Notes :</label>
        <ul class="col-md-12 list-group saved_investigation_notes" style="margin-top:5px;margin-left:-15px;">
          <% @pre_admission_investigation_notes.each do |note| %>
            <li class="list-group-item saved_investigation_note" id="saved_investigation_note_<%= note.id %>" data-investigation_note_id="<%= note.id %>" data-text="<%= note.text %>">
              <h5 class="list-group-item-heading clearfix">
                <div class="procedure_note_name" data-toggle="tooltip" title="<%= note.name %>"  data-placement="right"><%= note.name %></div>
              </h5>
            </li>
          <% end %>
        </ul>

      </div>

    </div>
  </div>

</div>

<div class="row mb20">

  <div class="col-md-12">
    <%#= f.input :special_note, :value=> @pre_admission_special_notes[0].try(:text) %>
  </div>
</div>


<script>


  var summernote_options = {
    toolbar: [
    ],height: 200,
    fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','Georgia','Times New Roman','Palatino Linotype','Lucida Console','Verdana','Trebuchet MS','Helvetica','English111 Adagio BT Regular','Impact']
  };
  $("#inpatient_pre_admission_note_instruction_note").summernote(summernote_options)
  $("#inpatient_pre_admission_note_medication_note").summernote(summernote_options)
  $("#inpatient_pre_admission_note_investigation_note").summernote(summernote_options)
  $("#inpatient_pre_admission_note_special_note").summernote(summernote_options)



  $('.saved_instruction_note').on("click", function () {
    $("#inpatient_pre_admission_note_instruction_note").code($(this).attr("data-text"))
    $('#inpatient_pre_admission_note_instruction_note').summernote('disable');
  })


  $('.saved_medication_note').on("click", function () {
    $("#inpatient_pre_admission_note_medication_note").code($(this).attr("data-text"))
    $('#inpatient_pre_admission_note_medication_note').summernote('disable');
  })


  $('.saved_investigation_note').on("click", function () {
    $("#inpatient_pre_admission_note_investigation_note").code($(this).attr("data-text"))
    $('#inpatient_pre_admission_note_investigation_note').summernote('disable');
  })

  //$('#procedure_note').code("<%#= escape_javascript @proceduretextstring.html_safe %>")
</script>

<style>
  .saved_instruction_note {
    pointer-events: visible;
  }
  .saved_medication_note {
    pointer-events: visible;
  }
  .saved_investigation_note {
    pointer-events: visible;
  }
</style>
