<div class="modal-dialog modal-pre-admission" style="width:99%;">
  <div class="modal-content">
    <div class="modal-header">
      <div class="pull-right"> <!-- Action Buttons starts -->
        <button aria-hidden="true" class="btn btn-info" data-dismiss="modal">Close</button>
      </div>
      <div class="text-center">
        <h4 class="nomargin">Pre Admission Note </h4>
      </div>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-9 col-sm-9" style="padding-right: 30px; padding-left: 30px;">


          <!-- Action Button -->
          <div class="row mb10">
            <div class="col-md-12 mb5">
              <div class="ipd-review-actions">
                <div class="btn-group mr10">

                  <%= link_to edit_inpatient_pre_admission_note_path(id: @pre_admission_note.id, patient_id: @patient.id.to_s, admission_id: @admission.id.to_s, specialty_id: @admission.specialty_id), id: "pre_admission-note-btn", class: "btn btn-primary pre_admission_note", data: { remote: true, toggle:  "modal", target: '#pre-admission-modal' } do %><i class="fa fa-edit"></i> Edit <% end %>

                  <% if @print_settings.count > 1 %>
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-print mr5"></i> Print <i class="fa fa-caret-down"></i></button>
                      <ul class="dropdown-menu dropdown-left-manual" role="menu" aria-labelledby="summary-print-dropdown">
                        <% @print_settings.each do |print_setting| %>
                          <li style="text-align:left" class="multi-print">
                            <%= link_to inpatient_pre_admission_note_print_path(patient_id: @patient.id.to_s,admission_id: @admission.id.to_s, pre_admission_note_id: @pre_admission_note.id, print_setting_id: print_setting.id, format: 'pdf'), :class => "pre_admission_note_print",:style => "color: #d9534f;",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> <%= print_setting.name %> <% end %>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                  <% else %>
                    <%= link_to inpatient_pre_admission_note_print_path(patient_id: @patient.id.to_s,admission_id: @admission.id.to_s, pre_admission_note_id: @pre_admission_note.id, print_setting_id: @print_settings[0].id, format: 'pdf'), :class => "btn btn-primary pre_admission_note_print",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> Print <% end %>
                  <% end %>
                  
                </div>
              </div>
            </div>
          </div>
          
          
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <%= render partial: 'inpatient/ipd_record/patient_info.html.erb' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <%= render partial: 'inpatient/pre_admission_notes/pre_admission_notes_details.html.erb', locals: {pre_admission_note: @pre_admission_note} %>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>
