<div class="row mb20">
  <div class="col-md-4">
    <%= p.text_field :investigation_name,value: pat_investigation.name,class: "fi_input_style",name: 'investigation_record['+i.to_s+'][investigation_name]',style: 'width: 100%'%>
  </div>

  <div class="col-md-4 ">
    <%= p.text_field :specimen_type,class: "fi_input_style ",placeholder: "Specimen Type" ,name: 'investigation_record['+i.to_s+'][specimen_type]',style: 'width: 100%'%>
  </div>

  <div class="col-md-4 pull-right">
    <%= p.text_field :specimen_date,class: "fi_input_style datepicker pull-right",name: 'investigation_record['+i.to_s+'][specimen_date]',placeholder: "Specimen Date"%>
  </div>
</div>


<%panel_data.each_with_index do |panel_records,j|%>
    <%= fields_for :panel_records,panel_records do |panel_test| %>
        <%#= panel_test.hidden_field :id,value: panel_test.id,name: 'investigation_record['+i.to_s+'][panel_records_attributes]['+j.to_s+'][id]' %>
        <input name="investigation_record[<%= i %>][panel_records_attributes][<%= j %>][_id]" class="form-control" placeholder="Result" type="hidden"value="<%= panel_records.id %>" id="panel_records_investigation_val">
        <div class="row mb20">

          <div class="col-md-4" style="">
            <%= panel_test.text_field :investigation_name,name: 'investigation_record['+i.to_s+'][panel_records_attributes]['+j.to_s+'][investigation_name]',class: "fi_input_style",style: 'width: 90%;margin-top: 15px;margin-left: 25px'%>
          </div>

          <div class="col-md-4">
            <%= panel_test.text_field :investigation_val,name: 'investigation_record['+i.to_s+'][panel_records_attributes]['+j.to_s+'][investigation_val]',class: "form-control",placeholder: "Result" %>
          </div>

          <div class="col-md-4">
            <%= panel_test.text_field :normal_range,name: 'investigation_record['+i.to_s+'][panel_records_attributes]['+j.to_s+'][normal_range]',class: "form-control",placeholder: "Normal Range" %>
          </div>
        </div>

    <% end %>
<% end %>


<div class="row mb10" >
  <div class=" col-md-offset-4 col-md-8">
    <%= p.text_area :investigation_comment ,name: 'investigation_record['+i.to_s+'][investigation_comment]',class: "form-control",placeholder: "Investigation Remark" %>
  </div>
</div>