<div class="modal-dialog modal-lg" style="width: 80%">
  <div class="modal-content">
    <%= simple_form_for(@investigation_records,as: :investigation_record,:url => {:controller => "records",:action => 'update_all_reports'}, :remote => true) do |f| %>
        <%= f.error_notification %>
        <div class="modal-header hidden-print">
          <div class="pull-right">
            <%= f.button :submit,class: "btn btn-sm btn-success" %>
            <button aria-hidden="true" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
          </div>

          <div class="text-center">
            <h4 class="modal-title">Edit Record</h4>
          </div>
        </div>

        <div class="modal-body ">
          <div class="row">
            <div class="col-md-12 template-new-sidebar">
              <div class="row text-left mb10" style="border-bottom: 1px solid #eee">
                <div class="col-md-4">
                  <b style="color:#000;">Name:</b> <%= @patient.fullname %>
                </div>
                <div class="col-md-4">
                  <b style="color:#000;">Age/Sex:</b> <%if @patient.calculate_age.present? || @patient.gender.present?%><%= @patient.calculate_age %>/<%= @patient.gender %><% else %> Unavailable<% end %>
                </div>
                <div class="col-md-4">
                  <b style="color:#000;">Patient ID  :</b> <%= @patient.patient_identifier_id %>
                </div>
              </div>
              <div class="panel-heading mb10" style="padding: 0;">
                <div class="row mb10" style="margin-left: 20px;">
                  <h5 class="col-md-4 text-center">
                    <strong>INVESTIGATION</strong>
                  </h5>

                  <h5 class="col-md-4 text-center">
                    <strong>RESULT</strong>
                  </h5>

                  <h5 class="col-md-4 text-center">
                    <strong>NORMAL RANGE</strong>
                  </h5>

                </div>
              </div>
              <% @investigation_records.each_with_index do |pat_investigation,i|%>
                  <%= f.fields_for pat_investigation do |p| %>

                      <%if  pat_investigation.panel_records.size > 0 %>
                          <%= render partial: 'investigation/records/edit_all_panel_form',locals: {pat_investigation: pat_investigation,p: p,i: i,panel_data: pat_investigation.panel_records} %>
                      <%else %>
                          <%= render partial: 'all_form',locals: {p: p,pat_investigation: pat_investigation,i: i,type: pat_investigation._type}%>
                      <%end  %>

                      <%= f.hidden_field :patient_id,value: pat_investigation.patient_id,name: 'investigation_record['+i.to_s+'][patient_id]' %>
                      <%= f.hidden_field :id,value: pat_investigation.id,name: 'investigation_record['+i.to_s+'][id]' %>


                        <%= fields_for :record_histories do |record| %>
                          <%= record.hidden_field :user_id,name: 'investigation_record['+i.to_s+'][record_histories_attributes][0][user_id]',:value => current_user.id.to_s%>
                          <%= record.hidden_field :action,name: 'investigation_record['+i.to_s+'][record_histories_attributes][0][action]',:value => 'U'%>
                          <%= record.hidden_field :actiontime,name: 'investigation_record['+i.to_s+'][record_histories_attributes][0][actiontime]',:value => Time.current%>
                          <%= record.hidden_field :template_type,name: 'investigation_record['+i.to_s+'][record_histories_attributes][0][template_type]',:value => pat_investigation._type%>
                      <%end%>

                      <!--</div>-->
                  <% end %>
              <% end %>
            </div>
            <%#= render 'template_sidebar' %>
          </div>
        </div>
        <div class="modal-footer hidden-print">

        </div>
    <% end %>
  </div>

</div>
<style>
    .circle-text
    {
        border-radius: 100%;
        background-color: #026AA7;
        padding: 7px 10px;
        font-size: 12px;
        color: white;
        font-weight: bold;
    }
    .fi_input_style{
        padding-left:3px;
        border: none;
        border-bottom: 1px solid #ccc;
        outline: none;
    }
    .fi_input_style:focus {
        background: #ffc;
    }
</style>

<script>
    $(".testing-tooltip").tooltip();
    //    $('.last-updated').on('hover',function(){
    //        $('.hidden-history').show();
    //    })
    $(".last-updated").on({
        mouseover: function () {
            $(".hidden-history").show();
        },

        mouseout: function () {
            $(".hidden-history").hide();
        }
    });
    $(".hidden-history").on({
        mouseover: function () {
            $(".hidden-history").show();
        },

        mouseout: function () {
            $(".hidden-history").hide();
        }
    });
    $('.datepicker').each(function(){
        $(this).datepicker({
            format: 'dd/mm/yy'
        });
    });

</script>