<div class="row mb<%= request.format.pdf? ? '5' : '10' %> mt10" style="border:1px solid #eee;">
  <% @poi = PatientOtherIdentifier.find_by(patient_id: @patient.id) %>
  <% patient_identifier = PatientIdentifier.find_by(patient_id: @patient.id.to_s).try(:patient_org_id) %>
  <div class="row">
    <div class="col-md-2" >
      <b>Patient Name</b><br>
    </div>
    <div class="col-md-4">
      : <b><%= @patient.fullname.upcase %></b>
    </div>
    <div class="col-md-2">
      <b>MR No.</b>
    </div>
    <div class="col-xs-4">
      : <%= (@poi.try(:mr_no) if @poi.mr_no.present?) || 'N/A' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <b>Patient ID </b><br>
    </div>
    <div class="col-md-4">
       : <%= patient_identifier %><br>
    </div>
    <div class="col-md-2">
      <b>Mobile </b><br>
    </div>
    <div class="col-md-4">
       : <%= @patient.mobilenumber %><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <b>Age / Gender  </b><br>
    </div>
    <div class="col-md-4">
       : <%if @patient.calculate_age.present? || @patient.gender.present?%><%= @patient.calculate_age %>/<%= @patient.gender %><% else %> Unavailable<% end %> <br>
    </div>
    <div class="col-md-2">
      <b>Facility </b>
    </div>
    <div class="col-md-4">
      : <%= current_facility.name %>
      <br>
    </div>
  </div>
  <% if investigation_record_values.present? && investigation_record_values[0].present? && investigation_record_values[0][0].present? %>
    <div class="row">
      <div class="col-md-2">
        <b>Display ID  </b><br>
      </div>
      <div class="col-md-4">
        : <%= "#{report.try(:upcase)}-#{PatientIdentifier.find_by(patient_id: @patient.id.to_s).try(:patient_org_id).gsub!(/[^0-9A-Za-z]/, '')}-#{investigation_record_values[0][0].try(:created_at).try(:strftime, '%d%m%Y')}" %>
        <br>
      </div>
    </div>
  <% end %>
</div>
