<% all_comments.order(created_at: :desc).each_with_index do |comment,i| %>
    <%created_by = User.find_by(id: comment.created_by) %>
    <div class="row mt10 mb10"  id="comment-<%= comment.id.to_s%>">
      <div class="col-md-2">
        <span title="<%= created_by.try(:fullname).try(:upcase)%>" style="border-radius: 100%;position: absolute;background-color: <%= created_by.background_color || '#1920a5'%>;padding: 7px 11px;font-size: 20px;color: #ffffff;"><%= created_by.try(:fullname).try(:first)%></span>
      </div>
      <div class="col-md-10">
        <span class="form-control " style="border:none;"><b style="font-size: 14px;"><%= comment.try(:comment_text)%></b>
          <% if comment.created_by.to_s == current_user.id.to_s %>
              <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/comments/<%= comment.id%>?upload_id=<%= current_image.id.to_s%>" data-remote="true">
                <i class="fa fa-trash-alt pull-right" style="cursor: pointer;"></i>
              </a>
              <a rel="nofollow" href="/comments/<%= comment.id%>/edit?upload_id=<%= current_image.id.to_s%>" data-remote="true">
                <i class="fa fa-pencil pull-right " style="cursor: pointer;"></i>
              </a>
          <% end %>
        </span>
      </div>
    </div>
<% end %>

