<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header hidden-print">
      <div class="pull-right">
        <%= link_to edit_investigation_record_path(id: @investigation_record.id), data: {remote: true,target: "#fill-lab-record",toggle: "modal"},class: "btn btn-sm btn-primary" do %>
            <i class="fa fa-edit"> Edit</i>
        <% end %>
        <% if @print_settings.count > 1 %>
          <div class="btn-group" style="margin-bottom:0px;">
            <button type="button" class="btn btn-primary btn-sm full_print dropdown-toggle" data-toggle="dropdown"><i class="fa fa-print mr5"></i> Print <i class="fa fa-caret-down"></i></button>
            <ul class="dropdown-menu dropdown-left-manual" role="menu" aria-labelledby="summary-print-dropdown" style="">
              <% @print_settings.each do |print_setting| %>
                <li style="text-align:left" class="multi-print">
                  <%= link_to investigation_record_print_path(id: @investigation_record.id.to_s, record_id: @investigation_record.id.to_s, print_setting_id: print_setting.id, :format => :pdf), :class => "",:style => "color: #d9534f;",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> <%= print_setting.name %> <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        <% else %>
          <%= link_to investigation_record_print_path(id: @investigation_record.id.to_s, record_id: @investigation_record.id.to_s, print_setting_id: @print_settings[0].id, :format => :pdf), :class => "btn btn-primary btn-sm full_print",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> Print <% end %>
        <% end %>
        <button aria-hidden="true" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
      </div>

      <div class="text-center">
        <h4 class="modal-title">Report</h4>
      </div>
    </div>

    <div class="modal-body">
      <%= render 'investigation_summary' %>
    </div>

    <div class="modal-footer hidden-print">
      <div class="form-actions">
      </div>
    </div>
  </div>
</div>
