<!--<head>-->
  <!--<script src='/assets/jquery.elevatezoom.js'></script>-->
<!--</head>-->
<p id="notice"><%= notice %></p>
<!--<img height="400" id="zoom_01" src="https://instagram.fblr2-1.fna.fbcdn.net/t51.2885-15/e35/18808914_123523044892736_8270905709743308800_n.jpg" data-zoom-image="https://instagram.fblr2-1.fna.fbcdn.net/t51.2885-15/e35/18808914_123523044892736_8270905709743308800_n.jpg">-->
<a href='/investigation/records/upload_details?record_id=<%=@investigation_records[0].id%>' data-remote="true" class="btn btn-xs btn-primary openphoto">Photo</a>
<h1>Listing Lab Records</h1>
<%= link_to 'New Lab record', new_investigation_record_path(type: @type) ,class: "btn btn-xs btn-primary mb10 ml10",data: {remote: true} %>

<table class="table table-bordered table-responsive">
  <thead>
  <tr>
    <th>Test </th>
    <!--<th>Patient</th>-->
    <!--<th>Test category</th>-->
    <th colspan="3">Action</th>
  </tr>
  </thead>

  <tbody>
  <% @investigation_records.each do |investigation_record| %>
      <tr>
        <td><%= investigation_record.investigation_name %></td>
        <!--<td><%#= record.patient_id %></td>-->
        <!--<td><%#= record.test_category %></  td>-->
        <td><%= link_to 'Show', investigation_record_path(investigation_record.id,type: @type), data: {remote: true}%></td>
        <td><%= link_to 'Edit', edit_investigation_record_path(id: investigation_record.id), data: {remote: true,target: "#fill-lab-record",toggle: "modal"} %></td>
        <td><%= link_to 'Destroy', investigation_record_path(investigation_record,type: @type), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<style>
    /*.zoomContainer{*/
        /*z-index: 9999;*/
    /*}*/
    /*.zoomWindow{*/
        /*z-index: 9999;*/
    /*}*/
</style>
<script>
    $("#zoom_01").elevateZoom({
            zoomType: "lens",
            lensShape: "round",
            lensSize: 300
    });


</script>

