<style>
    .paper_view {
        box-shadow: 0 0 6px #ccc;
        max-width: 90%;
        padding: 2px 0.400000in 0 0.550000in;
        font-family: 'Open Sans';
        padding-bottom: 2px;
    }
</style>
<div class="container-fluid">
  <%= render partial: 'patient_info.html.erb',locals: {record: @investigation_record, investigation_record_values: @investigation_record.try(:values), report: @type.to_s} %>

  <div class="row mb10">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-5 text-left"><strong>INVESTIGATION </strong></div>
        <%if ["RadiologyRecord","OphthalmologyRecord"].include?@investigation_record._type%>
            <div class="col-md-7 text-center"><strong>FINDINGS</strong> </div>
        <% else  %>
            <div class="col-md-3 text-center"><strong>RESULT</strong> </div>
            <div class="col-md-4 text-right"><strong>NORMAL RANGE </strong></div>
        <% end %>
        <div class="summary-line-border mb5" style="margin-top: 10px;"></div>
      </div>
    </div>
    <div class="col-md-12 mb10">
      <div class="row mb10">
        <%if @investigation_record.specimen_type.present? %>
            <div class="col-md-4 text-right">
              Specimen Type:
              <%= @investigation_record.specimen_type %>
            </div>
        <% end %>
        <% if @investigation_record.specimen_date.present? %>
            <div class="col-md-4 text-right">
              Specimen Date:
              <%= @investigation_record.specimen_date %>
            </div>
        <% end %>
      </div>
      <% if @investigation_record.panel_records.try(:size) > 0 %>
          <%@investigation_record.panel_records.each do |panel| %>
            <%if !panel.investigation_val.blank?  %>
              <div class="col-md-12">
                <div class="row mb10">
                  <div class="col-md-4 text-left"><%= panel.investigation_name %> </div>
                  <div class="col-md-1 text-center">: </div>
                  <div class="col-md-3 text-center"><strong><%= panel.investigation_val %></strong> </div>
                  <div class="col-md-4 text-right"><%= panel.normal_range %> </div>
                </div>
              </div>
            <% end %>
          <% end %>
      <%else%>
          <div class="col-md-12">
            <div class="row mb10">
              <div class="col-md-4 text-left"><%= @investigation_record.investigation_name %> </div>
              <div class="col-md-1 text-center">: </div>
              <% if ["RadiologyRecord","OphthalmologyRecord"].include?@investigation_record._type %>
                  <div class="col-md-7 text-center"><strong><%= @investigation_record.investigation_val %></strong> </div>
              <% else %>
                  <div class="col-md-3 text-center"><strong><%= @investigation_record.investigation_val %></strong> </div>
                  <div class="col-md-4 text-right"><%=  @investigation_record.normal_range %> </div>
              <% end %>
            </div>
          </div>
      <% end %>
      <% if @investigation_record.try(:investigation_comment).present? %>
          <div class="row mb10">
            <div class='col-md-4' ><b>Investigation Remark</b> </div>
            <div class="col-md-1 text-center">:</div>
            <%if ["RadiologyRecord","OphthalmologyRecord"].include?@investigation_record._type%>
                <div class='col-md-7 text-center'><%= @investigation_record.investigation_comment %></div>
            <% else %>
                <div class='col-md-3 text-center'><%= @investigation_record.investigation_comment %></div>
            <% end %>

          </div>
      <% end %>
    </div>
  </div>
  <% if !@investigation_record.try(:doctors_remark).blank? %>
      <div class="row mb10" >
        <div class="col-md-12" >
          <div class="col-md-4 text-left">
            <b>Doctor's Remark</b>
          </div>
          <div class="col-md-1 text-center">:</div>
          <div class='col-md-3 text-center' style="font-style: italic;"><%= @investigation_record.doctors_remark
          %></div>
        </div>
      </div>
  <% end %>
  <% if @investigation_detail.state == "reviewed" %>
      <div class="row">
        <div class="col-md-12 pull-right">
          <%= render partial: 'common/user_signature.html.erb',locals: {user_id: @investigation_detail.reviewed_by} %>
        </div>
        <!-- <div class="col-md-offset-8 col-md-4 text-center"><%#= User.find(@investigation_detail.reviewed_by).designation%></div> -->
      </div>
  <% end %>
</div>
<style type="text/css">
    .container-fluid {
        font-size: 8px;
        font-family: <%= UsersSetting.find_by(user_id: current_user.id).font_style %>;
    }

    /*.page_breaker {
      page-break-after: always;
    }*/
</style>