<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<input type="hidden" name="" class="path_for_change" value="edit">
<div class="modal-dialog modal-lg">
  <!-- Modal content-->
  <div class="modal-content">
    <%= form_for @invoice,:format => :js,:method => :put,remote: true,:multipart => true,html: { :class => "invoice_edit_form", :id => "invoice_edit_form" } do |inv| %>
      <%= inv.hidden_field :patient_id, value: @patient.id %>
      <%= inv.hidden_field :admission_id, value: @admission.id %>
      <%= inv.hidden_field :tpa_id, value: @tpa.id %>
      <%= inv.hidden_field :organisation_id, value: @organisation_id %>
      <%= inv.hidden_field :mode_of_payment, value: "None" %>
      <%= inv.hidden_field :facility_id,  value: @admission.facility_id.to_s %>
      <%= inv.hidden_field :user_id,  value: @invoice.user_id %>
      <input type="hidden" id="deleted-services" name="deleted_services" value="">
      <input type="hidden" id="deleted-items" name="deleted_items" value="">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Insurance Receipt</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <!-- Patient Info -->
          <div class="row" id="patient_button">
            <span class="btn btn-primary btn-xs mb10" id="add_patient_info" style="padding:0 5px;"><i class="fa fa-plus"></i> Edit Patient Info</span>
            <%= render partial: 'inpatient/insurance/insured_patient_info', locals: { patient: @patient , admission: @admission} %>
          </div>
          <div class="patient_info_partial mb20" style="display:none;">
            <%= render partial: 'inpatient/insurance/insured_patient_info_edit', locals: { patient: @patient , admission: @admission} %>
          </div>
          <!-- Patient Info Ends -->
          <div class="services_items" id="services_items">
            <!-- Display Once -->
            <% @invoice.services.each.with_index do |ser, i| %>
              <div class="service_row_count mb5 mt5" title=<%= i %>>
                <input style="padding:5px 10px;" class="form-control service_id" type="hidden" name="invoice_insurance[services][<%= i %>][_id]" value= "<%= ser.id %>">
                <div class="row service_row mb10">
                  <div class="col-md-3">
                    <!-- <input style="padding:5px 10px;" class="form-control service_name" placeholder="Service Name" type="text" name="" value= "<%= ser.name %>"> -->
                    <% if InvoiceServiceCard.find(ser.name).card_deleted == false %>
                      <select class="form-control service_name" name="invoice_insurance[services][<%= i %>][name]">
                        <% @invoiceservicecard.each do |servicecard| %>
                          <option value="<%= servicecard.id.to_s %>" <% if(ser.name == servicecard.id.to_s) %>selected="selected"<% end %>><%= servicecard.service_name %></option>
                        <% end %>
                      </select>
                    <% else %>
                      <select class="form-control service_name" name="invoice_insurance[services][<%= i %>][name]">
                        <% @invoiceservicecard.each do |servicecard| %>
                          <option value="<%= servicecard.id.to_s %>" <% if(ser.name == servicecard.id.to_s) %>selected="selected"<% end %>><%= servicecard.service_name %></option>
                        <% end %>
                      </select>
                    <% end %>
                  </div>
                  <div class='col-md-4'>
                    <button class="btn btn-primary btn-xs add_service_item" style="padding:0 5px;margin-top:3px;"><i class="fa fa-plus"></i> New Item</button>
                  </div>
                  <div class="col-md-3">
                    <input style="padding:5px 10px;" class="form-control service_total text-right" placeholder="Service Total" type="text" name="invoice_insurance[services][<%= i %>][service_total]" readonly="readonly" value="<%= ser.service_total %>">
                  </div>
                  <div class="col-md-2 text-right">
                    <button class="btn btn-danger btn-xs remove_service_item" style="padding:0 5px;margin-top:3px;"><i class="fa fa-trash-alt"></i> Remove Service</button>
                  </div>
                </div>
                <div class="service_item_row_count mb10" id="service_item_row">
                  <% ser.items.each.with_index do |it, j|%>
                  <div class="invoice_service_item_row row mt5" id="invoice_service_item_row">
                    <input name="invoice_insurance[services][<%= i %>][items][<%= j %>][_id]" style="padding:5px 10px;" class="form-control i_id" type="hidden" value = "<%= it.id %>">
                    <div class="col-md-1 field_for_date">
                      <input name="invoice_insurance[services][<%= i %>][items][<%= j %>][item_entry_date]" style="padding:5px 10px;" class="form-control i_item_entry_date" type="hidden" value="<%= it.item_entry_date %>">
                    </div>
                    <div class="col-md-3 field_for_description">
                      <!-- <input name="invoice_insurance[services][<%= i %>][items][<%= j %>][description]" style="padding:5px 10px;" class="form-control i_description" placeholder="Description" type="text" value = "<%= it.description %>"> -->
                      <% @iic = InvoiceItemCard.find_by(id: it.description) %>
                      <% @isc = InvoiceServiceCard.find(@iic.invoice_service_card_id.to_s).id.to_s %>
                      <% if InvoiceServiceCard.find(ser.name).card_deleted == true || InvoiceItemCard.find(it.description).card_deleted == true %>
                        <select class="form-control i_description" name="invoice_insurance[services][<%= i %>][items][<%= j %>][description]">
                          <% InvoiceItemCard.where(invoice_service_card_id: @isc).each do |iic| %>
                            <option value="<%= iic.id.to_s %>" <% if iic.id.to_s == it.description %>selected="selected"<% end %>>
                              <%= iic.item_name %> <% if iic.user_name %> - <%= iic.user_name %><% end %>
                            </option>
                          <% end %>
                        </select>
                      <% else %>
                        <select class="form-control i_description" name="invoice_insurance[services][<%= i %>][items][<%= j %>][description]">
                          <% InvoiceItemCard.where(invoice_service_card_id: @isc, card_deleted: false).each do |iic| %>
                            <option value="<%= iic.id.to_s %>" <% if iic.id.to_s == it.description %>selected="selected"<% end %>>
                              <%= iic.item_name %> <% if iic.user_name %> - <%= iic.user_name %><% end %>
                            </option>
                          <% end %>
                        </select>
                      <% end %>
                    </div>
                    <div class="col-md-2 field_for_quantity">
                      <input name="invoice_insurance[services][<%= i %>][items][<%= j %>][quantity]" style="padding:5px 10px;" class="form-control i_quantity" placeholder="Quantity" maxlength="4" value= "<%= it.quantity %>" type="text">
                    </div>
                    <div class="col-md-2 field_for_unit_price">
                      <input name="invoice_insurance[services][<%= i %>][items][<%= j %>][unit_price]" style="padding:5px 10px;" class="form-control i_unit_price" value= "<%= it.unit_price %>" maxlength="12" placeholder="Unit Price" type="text">
                    </div>
                    <div class="col-md-2 field_for_price">
                      <input name="invoice_insurance[services][<%= i %>][items][<%= j %>][price]" style="padding:5px 10px;" class="form-control i_price" value= "<%= it.price %>" placeholder="Total" readonly="readonly" type="text">
                      <input name="invoice_insurance[services][<%= i %>][items][<%= j %>][patient_payed]" style="padding:5px 10px;" class="form-control i_patient_payed text-right" value= "<%= it.patient_payed %>" placeholder="Total" readonly="readonly" type="hidden">
                    </div>
                    <div class="col-md-2">
                      <button class="btn btn-danger btn-xs remove_item" style="padding:0 5px;margin-top:3px;"><i class="fa fa-trash-alt"></i> Remove Item</button>
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="row" style="margin-left:0px;">
            <button class="btn btn-primary btn-xs" id="add_service_insurance" style="padding:0 5px;"><i class="fa fa-plus"></i> Add Service</button>
          </div>
          <div class="row">
            <div class="row invoice_calculation_list">
              <div class="row mb5">
                <div class="col-md-3 col-md-offset-5 text-right">
                  <b>Gross Bill Total :</b>
                </div>
                <div class="col-md-2 text-right">
                  <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control invoice_gross_total text-right" id="invoice_gross_total" placeholder="Gross Amount" value="<%= @invoice.total %>" type="text" name="invoice_insurance[total]" readonly="readonly">
                </div>
              </div>
              <div class="row mb5">
                <div class="col-md-3 col-md-offset-5 text-right">
                  <b>Discount :</b>
                </div>
                <div class="col-md-2 text-right">
                  <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control discount_amount text-right" id="discount_amount" placeholder="Discount" value="<%= @invoice.additional_discount %>" type="text" name="invoice_insurance[additional_discount]">
                </div>
              </div>
              <div class="row mb5">
                <div class="col-md-3 col-md-offset-5 text-right">
                  <b>Net Total :</b>
                </div>
                <div class="col-md-2 text-right">
                  <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control invoice_net_total text-right" id="invoice_net_total" placeholder="Net Amount" value="<%= @invoice.net_amount %>" type="text" name="invoice_insurance[net_amount]" readonly="readonly">
                </div>
              </div>
              <% if @tpa.insurance_status == "Approved" || @tpa.insurance_status == "Waiting" %>
                <div class="row mb5">
                  <div class="col-md-3 col-md-offset-5 text-right">
                    <b>Balance Amount Insurance :</b>
                  </div>
                  <div class="col-md-2 text-right">
                    <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control amount_paid_tpa text-right" id="amount_paid_tpa" placeholder="Amount" value="<%= @invoice.amount_paid_tpa %>" type="text" name="invoice_insurance[amount_paid_tpa]">
                  </div>
                </div>
                <div class="row mb5">
                  <div class="col-md-3 col-md-offset-5 text-right">
                    <b>Balance Amount Patient :</b>
                  </div>
                  <div class="col-md-2 text-right">
                    <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control amount_paid_patient text-right" id="amount_paid_patient" placeholder="Amount" value="<%= @invoice.amount_paid_patient %>" type="text" readonly="readonly" name="invoice_insurance[amount_paid_patient]">
                  </div>
                </div>
              <% end %>
              <div class="row mb5">
                <div class="col-md-5">
                  <b  style="margin-left:9%;">Comments:</b> <%= inv.text_area :comments, {class: "form-control", placeholder: "Comments", style: "margin-left:9%;width:95%"} %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= inv.submit "Save", class: "btn btn-success", data: { 'disable-with': 'Please Wait...' }, :onclick => 'insurance_invoice_page_edit()' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>

<style type="text/css">
  /*input {
    border: none !important;
    border-bottom: 1px solid #aaa !important;
  }*/

  .service_row_count {
    border: 1px solid #aaa;
    padding: 21px;
    margin-bottom: 10px;
  }

  .patient_info_box {
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-left: 1px solid #aaa;
    padding: 10px 0;
    margin-bottom: 10px;
  }

  input.error, select.error {
    border-color: #b94a48;
    background-image: none;
  }
  input.valid, select.valid {
    border-color: #468847;
    background-image: none;
  }
</style>