<div class="container-fluid">
  <div class="row mb5">
    <span style="font-size:12px;" class="text-center col-md-12"><b>Services Invoice</b></span>
  </div>
  <div class="row mb10" id="patient_button">
    <%= render partial: 'invoice/insurance_estimates/overall_info.html.erb', locals: { patient: @patient , admission: @admission, tpa: @tpa, invoice: @invoice, flag: "Invoice"} %>
  </div>
  <div class="row">
    <div class="row mb5" style="border-bottom:1px solid #eee;">
      <div class="col-md-1"><b style="color:#000;">S.No</b></div>
      <div class="col-md-3"><b style="color:#000;">Service Name</b></div>
      <div class="col-md-2 col-md-offset-6 text-right"><b style="color:#000;">Total</b></div>
    </div>
  </div>
  <% @invoice.services.each.with_index do |serv, i| %>
    <div class="row service_item_list">
      <div class="row service_list">
        <div class="col-md-1">
          <b style="color:#000;"><%= i + 1 %>.</b>
        </div>
        <div class="col-md-7">
          <b style="color:#000;"><%= InvoiceServiceCard.find_by(id: serv.try(:name)).service_name %></b>
        </div>
        <div class="col-md-4 text-right">
          <b style="color:#000;"><%= serv.service_total %>0</b>
        </div>
      </div>
    </div>
  <% end %>
  <hr>
  <div class="row invoice_calculation_list">
    <div class="row mb5">
      <div class="col-md-3 col-md-offset-7 text-right">
        <b>Gross Bill Total :</b>
      </div>
      <div class="col-md-2 text-right">
        <b style="color:#000;"><%= @invoice.total %>0</b>
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-3 col-md-offset-7 text-right">
        <b>Discount :</b>
      </div>
      <div class="col-md-2 text-right">
        <b><%= @invoice.additional_discount %>0</b>
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-3 col-md-offset-7 text-right">
        <b>Net Amount :</b>
      </div>
      <div class="col-md-2 text-right">
        <b style="color:#000;"><%= @invoice.net_amount %>0</b>
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-4 col-md-offset-6 text-right">
        <b>Balance Amount Insurance :</b>
      </div>
      <div class="col-md-2 text-right">
        <b><%= @invoice.amount_paid_tpa %>0</b>
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-3">
        <b>Mode Of Payment :</b>
      </div>
      <div class="col-md-4">
        <%= @invoice.mode_of_payment %>
      </div>
      <div class="col-md-3 text-right">
        <b>Balance Amount Patient :</b>
      </div>
      <div class="col-md-2 text-right">
        <b style="color:#000;"><%= @invoice.amount_paid_patient %>0</b>
      </div>
    </div>
    <div class="row" style="margin-top: 4%">
      <div class="col-md-7">
        <% if @organisation_settings.cin.present? %>
          <strong>CIN:&nbsp;&nbsp;</strong><%= @organisation_settings.cin %>
        <% end %>
      </div>
      <div class="col-md-5 text-right">
        <b>___________________</b><br>
        <b>Authorised Signatory</b>
      </div>
    </div>
  </div>
  <!-- <div class='row'>
    <div class="col-md-8"></div>
  </div> -->
</div>

<style type="text/css">
  .container-fluid{
    font-size: 8px;
      font-family: "<%= UsersSetting.find_by(user_id: current_user.id).font_style %>";
  }
</style>