<div class="container-fluid">
  <div class="row mb5">
    <span style="font-size:12px;" class="text-center col-md-12"><b>Insurance Invoice</b></span>
  </div>
  <div class="row mb10" id="patient_button">
    <%= render partial: 'invoice/insurance_estimates/overall_info.html.erb', locals: { patient: @patient , admission: @admission, tpa: @tpa, invoice: @invoice, flag: "Invoice"} %>
  </div>
  <div class="row">
    <div class="row mb5" style="border-bottom:1px solid #eee;">
      <div class="col-md-1"><b style="color:#000;">S.No</b></div>
      <div class="col-md-6"><b style="color:#000;">Name</b></div>
      <!-- <div class="col-md-3"><b style="color:#000;">Date</b></div> -->
      <div class="col-md-1"><b style="color:#000;">Quantity</b></div>
      <div class="col-md-2 text-right"><b style="color:#000;">Unit Price</b></div>
      <div class="col-md-2 text-right"><b style="color:#000;">Price</b></div>
    </div>

  </div>
  <% counter = 1 %>
  <% @price = 0 %>
  <% @invoice.services.each.with_index do |serv, i| %>
    <div class="row service_item_list">
      <div class="row item_list">
        <% serv.items.where(patient_payed: "No").each do |it| %>
          <div class="row item">
            <div class="col-md-1">
              <b><%= counter %></b>
            </div>
            <div class="col-md-3" style='padding-left:20px;word-wrap: break-word;'>
              <b><%= InvoiceItemCard.find_by(id: it.try(:description)).item_name %></b>
            </div>
            <div class="col-md-3">
              <% if it.item_entry_date %>
                <b><%= it.item_entry_date.strftime("%d-%m-%y") %></b>
              <% else %>
                <b><%= @invoice.created_at.strftime("%d-%m-%y") %></b>
              <% end %>
            </div>
            <div class="col-md-1">
              <b><%= it.quantity %></b>
            </div>
            <div class="col-md-2 text-right">
              <b><%= it.unit_price %>0</b>
            </div>
            <div class="col-md-2 text-right">
              <b><%= it.price %>0</b>
            </div>
          </div>
          <% @price = @price + it.price %>
          <% counter = counter + 1 %>
        <% end %>
      </div>
    </div>
  <% end %>
  <hr>
  <div class="row invoice_calculation_list">
    <div class="row mb5">
      <div class="col-md-3 col-md-offset-7 text-right">
        <b>Total :</b>
      </div>
      <div class="col-md-2 text-right">
        <b style="color:#000;"><%= @price %></b>
      </div>
    </div>
  </div>
  <!-- <div class='row'>
    <div class="col-md-8"></div>
  </div> -->
</div>

<style type="text/css">
  .container-fluid{
    font-size: 8px;
      font-family: "<%= UsersSetting.find_by(user_id: current_user.id).font_style %>";
  }
</style>