<div class="modal-dialog" role="document" style="width: 90%">
  <div class="modal-content">
    <div class="modal-header clearfix">
      <div class="row">
        <div class="col-md-11">
            <%= render partial: "analytics/shared/modal_header" %>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
    <div class="modal-body" id="partial_data_here">
       
    </div>
  </div>
</div>

<script type="text/javascript">
  $(".analytics-from-datepicker_modal").datepicker({
    minDate: "-90D",
    maxDate: 0,
    numberOfMonths: 1,
    dateFormat: "dd/mm/yy",
    onSelect: function(selected) {
      $(".analytics-to-datepicker_modal").datepicker("option","minDate", selected)
    }
  });
  $(".analytics-to-datepicker_modal").datepicker({
    minDate: "-90D",
    maxDate: 0,
    numberOfMonths: 1,
    dateFormat: "dd/mm/yy",
    onSelect: function(selected) {
      $(".analytics-from-datepicker_modal").datepicker("option","maxDate", selected)
    }
  });
  $('.dropdown-menu-facilitymenu_modal li').find("a").click(function(e){
    e.preventDefault();
    $('.dropdown-facilitymenu-button_modal').html($(this).html()+'<span class="caret"></span>');

    $('.dropdown-facilitymenu-button_modal').attr("data-facility-id", $(this).attr("data-search-category"))
    $(".facility_btn_space").removeClass('open')
  });

  $('.dropdown-menu-specialtymenu_modal li').find("a").click(function(e){
    e.preventDefault();
    $('.dropdown-specialtymenu-button_modal').html($(this).html()+'<span class="caret"></span>');

    $('.dropdown-specialtymenu-button_modal').attr("data-specialty-id", $(this).attr("data-search-category"))
    $(".facility_btn_space").removeClass('open')
  });


  $('.dropdown-menu-timemenu_modal li').find("a").click(function(e){
    e.preventDefault();
    $('.dropdown-timemenu-button_modal').html($(this).html()+'<span class="caret"></span>');
    var time_value = $(this).attr('data-time-period');
    var data_range = $(this).attr('data-data_range');

    $('.dropdown-timemenu-button_modal').attr('data-data_range', data_range);
    $('.analytics-to-datepicker_modal').val("<%= Date.current.strftime('%d/%m/%Y')%>");

    if (time_value == "day") {
      $('.analytics-from-datepicker_modal').val("<%= Date.current.strftime('%d/%m/%Y')%>")
    }
    if(time_value == "week") {
      $('.analytics-from-datepicker_modal').val("<%= (Date.current.beginning_of_week).strftime('%d/%m/%Y') %>");
      $('.analytics-to-datepicker_modal').val("<%= (Date.current.end_of_week).strftime('%d/%m/%Y')%>");
    }
    if(time_value == "month") {
      $('.analytics-from-datepicker_modal').val("<%= (Date.current.beginning_of_month).strftime('%d/%m/%Y')%>");
      $('.analytics-to-datepicker_modal').val("<%= (Date.current.end_of_month).strftime('%d/%m/%Y')%>");
    }
    if(time_value == "3months") {
      $('.analytics-from-datepicker_modal').val("<%= (Date.current.beginning_of_quarter).strftime('%d/%m/%Y')%>");
      $(".analytics-to-datepicker_modal").val("<%= (Date.current.end_of_quarter).strftime('%d/%m/%Y')%>");
    }

    if(time_value == "year") {
      $('.analytics-from-datepicker_modal').val("<%= (Date.current.beginning_of_year).strftime('%d/%m/%Y')%>");
      $(".analytics-to-datepicker_modal").val("<%= (Date.current.end_of_year).strftime('%d/%m/%Y')%>");
    }
    if(time_value == "yesterday") {
      $('.analytics-from-datepicker_modal').val("<%= (Date.current.yesterday).strftime('%d/%m/%Y')%>");
      $(".analytics-to-datepicker_modal").val("<%= (Date.current.yesterday).strftime('%d/%m/%Y')%>");
    }
    if(time_value == "prev_week") {
      $('.analytics-from-datepicker_modal').val("<%= (Date.current.last_week.beginning_of_week).strftime('%d/%m/%Y')%>");
      $(".analytics-to-datepicker_modal").val("<%= (Date.current.last_week.end_of_week).strftime('%d/%m/%Y')%>");
    }
    if(time_value == "prev_month") {
      $('.analytics-from-datepicker_modal').val("<%= (Date.current.last_month.beginning_of_month).strftime('%d/%m/%Y')%>");
      $(".analytics-to-datepicker_modal").val("<%= (Date.current.last_month.end_of_month).strftime('%d/%m/%Y')%>")
    }
    if(time_value == "prev_quarter") {
      $('.analytics-from-datepicker_modal').val("<%= (Date.current.last_quarter.beginning_of_quarter).strftime('%d/%m/%Y')%>");
      $(".analytics-to-datepicker_modal").val("<%= (Date.current.last_quarter.end_of_quarter).strftime('%d/%m/%Y')%>")
    }
    if(time_value == "prev_year") {
      $('.analytics-from-datepicker_modal').val("<%= (Date.current.prev_year.beginning_of_year).strftime('%d/%m/%Y')%>");
      $(".analytics-to-datepicker_modal").val("<%= (Date.current.prev_year.end_of_year).strftime('%d/%m/%Y')%>")
    }
  });


  $(".custom_date_selector").on("click", function(e){
    e.preventDefault();
    $("#custom_date_modal").modal("show");
    $("#custom_date_modal").html("<%= escape_javascript(render partial: '/analytics/shared/custom_date_select') %>");

  })
</script>