<% partial_name = @partial_name.present? %>
<% data = {
    service_name: "PatientOutcome",
    action_name: "marked_complicated_data",
    partial_name: "patients_count_by_complications"
}%>
<div class="row">
  <div class="<%= partial_name ? 'col-md-6': 'col-md-12' %>">
    <div class="panel panel-default panel_b borderd_panel">
      <div class="panel-heading to_add_expand_button">
        <h5 class="subtitle mb5 title_in_caps"><i class="fa fa-bar-chart" aria-hidden="true"></i><strong>Opd Old Vs New Earning</strong></h5>
        <%=render partial: "/analytics/shared/expand_button", locals:{partial_name: partial_name, data: data }%>
      </div>
      <div class="panel-body reduced_padding">
        <canvas id="total_collection_<%= partial_name %>" width="800" height="400"></canvas>
      </div>
    </div>
  </div>
  <% if partial_name %>
    <div class="col-md-6">
      <div class="table_wrapper">
        <table class="table table_data table-bordered table-hover">
          <thead>
          <tr>
            <th>Laboratory Investigation Name</th>
            <th>Count</th>
          </tr>
          </thead>
          <tbody>
          <% @laboratory_investigation_label_counsellor.each_with_index do |f_name, indx|%>
            <tr>
              <td><%= f_name %></td>
              <td><%= @laboratory_investigation_data_counsellor[indx].to_i %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>

</div>


<script>


  var ctx = document.getElementById('counsellor-surgery-converted_<%= partial_name %>');


  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: <%= raw @counsellor_procedure_labels %>,
      datasets: [
        {
          label: 'Not-Converted',
          data: <%= raw @counsellor_procedures_not_converted_count %>,
          backgroundColor: '#576574',
        },
        {
          label: 'Converted',
          data: <%= raw @counsellor_procedures_converted_count %>,
          backgroundColor: '#54a0ff',
        }
      ]
    },
    options: {
      legend: { display: false },
      responsive: true,
      title: {
        display: false
      },
      scales: {
        yAxes: [{
          stacked: true,
          barPercentage: 0.2,
          categoryPercentage: 0.3,
          gridLines:{
            display : false
          },
          ticks: {
            beginAtZero: true,
            // stepSize: 1
          }
        }],
        xAxes: [{
          stacked: true,
          barPercentage: 0.2,
          categoryPercentage: 0.4,
          gridLines:{
            display : false
          }
        }]
      }
    }
  });
</script>
<script !src="">


   // rotation: -0.7 * Math.PI,
   //     responsive: true,
   //     legend: {
   //   display: false,
   // },
   // title: {
   //   display: false,
   //   // text: 'Horizontal Bar Chart'
   // },
   // animation: {
   //   duration: 500,
   //       onComplete () {
   //     const chartInstance = this.chart;
   //     const ctx = chartInstance.ctx;
   //     const dataset = this.data.datasets[0];
   //     const meta = chartInstance.controller.getDatasetMeta(0);
   //
   //     Chart.helpers.each(meta.data.forEach((bar, index) => {
   //       const label = this.data.labels[index];
   //       const labelPositionX = 20;
   //       const labelWidth = ctx.measureText(label).width + labelPositionX;
   //
   //       ctx.textBaseline = 'middle';
   //       ctx.textAlign = 'left';
   //       ctx.fillStyle = '#333';
   //     }));
   //   }
   // }
</script>