<% if opdrecord.print_procedures_flag == "1" || (request.format.symbol == :js rescue false) %>
  <div class="procedure mb5 <%= 'print_text_font_size' if  @print_setting %>" id="procedure" style="<%= text_font_size %>">
    <% if opdrecord.procedurecomments.length > 0 %>
      <div class="row">
        <strong class="procedure-title">PROCEDURE</strong>
        <div class="summary-line-border"></div>
      </div>
      <% if false %>
        <% procedure_display_flag = 0 %>
        <% opdrecord.procedure.each_with_index do |elem, i|  %>
          <% unless elem.procedurename.nil? %>
              <% procedure_display_flag = procedure_display_flag + 1 %>
          <% end %>
        <% end %>
        <% if procedure_display_flag == 1 %>
          <div class="row">
            <table class="table table-striped table-bordered">
              <thead style="background-color: #7989BB;">
              <tr>
                <th width="3%" style="padding-top:0px;padding-bottom:0px;">#</th>
                <th width="10%" style="padding-top:0px;padding-bottom:0px;">Stage</th>
                <th width="3%" style="padding-top:0px;padding-bottom:0px;">Side</th>
                <th width="15%" style="padding-top:0px;padding-bottom:0px;">Approach</th>
                <th width="15%"style="padding-top:0px;padding-bottom:0px;">Procedure Name</th>
                <th width="15%"style="padding-top:0px;padding-bottom:0px;">Qualifier</th>
                <th width="15%" style="padding-top:0px;padding-bottom:0px;">sub-Qualifier</th>
              </tr>
              </thead>
              <tbody class="procedure-table-body">
              <% opdrecord.procedure.each_with_index do |elem, i|  %>

                  <tr class="procedurelist">

                    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                      <%= (i.to_i + 1) %>.
                    </td>

                    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                      <% if elem.procedurestage == "A" %>
                          Advised
                      <% elsif elem.procedurestage == "P" %>
                          Performed
                      <% end %>
                    </td>

                    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                      <% if elem.procedureside? %>
                          <%= elem.procedureside %>
                      <% end %>
                    </td>

                    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                      <% if elem.procedureapproach? %>
                          <%= elem.procedureapproach %>
                      <% end %>
                    </td>

                    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                      <% if elem.procedurename? %>
                          <%= elem.procedurename %>
                      <% end %>
                    </td>

                    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                      <% if elem.procedurequalifier? %>
                          <%= elem.procedurequalifier %>
                      <% end %>
                    </td>

                    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                      <% if elem.proceduresubqualifier? %>
                          <%= elem.proceduresubqualifier %>
                      <% end %>
                    </td>

                  </tr>

              <% end %>
              </tbody>

            </table>
          </div>
        <% end %>
      <% end %>
      <% if opdrecord.procedurecomments.length > 0 %>
        <span style="white-space: pre-line"><%= opdrecord.procedurecomments %></span>
      <% end %>
    <% end %>
  </div>
<% end %>
<%if mail_job == false%>
  <% if params[:action] == "print_opd_record" %>
    <style type="text/css">
      .procedure * {
        font-size: 10px;
      }
    </style>
  <% end %>
<% end %>

<style type="text/css">
  .<%= 'print_text_font_size' if  @print_setting %> *{
    font-size: inherit!important
  }

</style>