<% if opdrecord.send("#{@flag}_history_flag") == "1" %>
    <% if opdrecord.dominanthand.present? || opdrecord.etiology.present? || opdrecord.durationdays.present? || opdrecord.durationweeks.present? || opdrecord.durationmonths.present? || opdrecord.durationyears.present? || opdrecord.injury.present? || opdrecord.current_disability.present? || opdrecord.previoustreatmentcomments.present? || opdrecord.vitalsignsconditioncomments.present? || opdrecord.limb_limblocation_side_mouseclicked.length > 0 %>
        <div class="clinicaldetails mb5" id="clinicaldetails">

        <div class="row">
            <strong style="<%= heading_font_size %>">CLINICAL DETAILS :</strong>
            <div class="summary-line-border"></div>
        </div>

        <div class="row <%= 'print_text_font_size' if  @print_setting %>" style="<%= text_font_size %>">

            <% unless opdrecord.dominanthand.present? %>
                <i>Dominant Hand : </i>
                <%= opdrecord.read_attribute(:"dominanthand") %>
                <div class="mb3"></div>
            <% end %>
            <% unless opdrecord.etiology.blank? %>
                <i>Mode of Injury : </i>
                <%= opdrecord.read_attribute(:"etiology") %>
                <div class="mb3"></div>
            <% end %>
            <% unless opdrecord.durationdays.blank? %>
                <i>Time since injury : </i>
                <%= ActionController::Base.helpers.pluralize(opdrecord.read_attribute(:"durationdays"), 'Day', 'Days') %>
                <div class="mb3"></div>
            <% end %>
            <% unless opdrecord.durationweeks.blank? %>
                <i>Time since injury : </i>
                <%= ActionController::Base.helpers.pluralize(opdrecord.read_attribute(:"durationweeks"), 'Week', 'Weeks') %>
                <div class="mb3"></div>
            <% end %>
            <% unless opdrecord.durationmonths.blank? %>
                <i>Time since injury : </i>
                <%= ActionController::Base.helpers.pluralize(opdrecord.read_attribute(:"durationmonths"), 'Month', 'Months') %>
                <div class="mb3"></div>
            <% end %>
            <% unless opdrecord.durationyears.blank? %>
                <i>Time since injury : </i>
                <%= ActionController::Base.helpers.pluralize(opdrecord.read_attribute(:"durationyears"), 'Year', 'Years') %>
                <div class="mb3"></div>
            <% end %>
            <% unless opdrecord.injury.blank? %>
                <%= opdrecord.read_attribute(:"injury") %>
                <div class="mb3"></div>
            <% end %>
            <% unless opdrecord.current_disability.blank? %>
                <div>Current Disability :<%= opdrecord.read_attribute(:"current_disability") %>
                </div>
                <div class="mb3"></div>
            <% end %>

            <% unless opdrecord.previoustreatmentcomments.blank? %>
                <div>Previous Treatment :<%= opdrecord.read_attribute(:"previoustreatmentcomments") %>
                </div>
                <div class="mb3"></div>
            <% end %>
            <% unless opdrecord.vitalsignsconditioncomments.blank? %>
                <div>Vital Signs :<%= opdrecord.read_attribute(:"vitalsignsconditioncomments") %>
                </div>
                <div class="mb3"></div>
            <% end %>


                <div class="trauma_locations_mouseclicked mb5" id="trauma_locations_mouseclicked">

                    <% if opdrecord.limb_limblocation_side_mouseclicked.length > 0 %>

                        <% opdrecord.limb_limblocation_side_mouseclicked.split(",").each do |limb_limblocation_side| %>

                            <div class="row">

                                  <div class="col-md-2">
                                    <strong><%= opdrecord.read_attribute(:"limblocationside_#{limb_limblocation_side}") %> :</strong>
                                  </div>

                                  <div class="col-md-10">

                                        <i>Chief Complaints : </i>
                                        <%= opdrecord.read_attribute(:"chiefcomplaint_#{limb_limblocation_side}") %>

                                        <div class="mb3"></div>

                                        <i>Examination : </i>
                                        <%= opdrecord.read_attribute(:"localexamination_#{limb_limblocation_side}") %>

                                        <div class="mb3"></div>
                                        <i>Comment : </i>
                                        <%= opdrecord.read_attribute(:"localexamination_#{limb_limblocation_side}_wound_comment") %>

                                  </div>

                            </div>

                        <% end %>

                    <% end %>

                </div>

        </div>
        </div>
    <% end %>
<% end %>
<%if @mail_job == false%>
  <% if params[:action] == "print_opd_record" %>
    <style type="text/css">
      .clinicaldetails * {
        font-size: 10px;
      }
    </style>
  <% end %>
<%else%>
  <style type="text/css">
  .clinicaldetails * {
    font-size: 10px;
  }
  </style>
<% end %>
