<% if opdrecord.has_investigationlist? || opdrecord.radiologycomments.present? %>

  <div class="radiologyinvestigations mb5" id="radiologyinvestigations">
    <% radiologyinvestigations_counter = opdrecord.investigationlist.size %>
    <% advised_counter = 0%>
    <% performed_counter = 0%>
    <% advised_total = 0%>
    <% performed_total = 0%>

    <% opdrecord.investigationlist.each_with_index do |elem, i| %>
      <%if elem.investigationstage == "A"%>
        <% advised_total = advised_total+1 %>
      <%else%>
        <% performed_total = performed_total+1 %>
      <%end%>
    <%end%>

    <% if radiologyinvestigations_counter > 0 %>
      <div class="row">
        <strong style="<%= heading_font_size %>">Radiology Investigation</strong>
        <div class="summary-line-border"></div>
      </div>

      <div class="row" style="<%= text_font_size %>">
        <%if opdrecord.investigationlist.count>0%>
            <div class="col-md-2 col-sm-2">
              <strong>Advised:</strong>
            </div>
        <%end%>
        <div class="col-md-10 col-sm-10">
          <% opdrecord.investigationlist.each_with_index do |elem, i| %>
            <% advised_counter = advised_counter+1 %>
            <strong><%= advised_counter%>. </strong><%= elem.investigationname %>&nbsp;
            <% if elem.is_spine == 'N' %>
                <%= elem.laterality %>&nbsp;
            <% end %>
            <% if elem.radiologyoptions? %>
                <%= opdrecord.get_label_for_radiology_option(elem.radiologyoptions) %>
            <% end %>
            <%if advised_counter < advised_total%><%else%><%end%> &nbsp;
          <%end%>
        </div>
      </div>

      <div class="row" style="<%= text_font_size %>">
        <!--  performed_datetime: opdrecord.created_at.to_date.beginning_of_day..opdrecord.created_at.to_date.end_of_day, -->
        <% performed_opd_radiology ||= @performed_opd_radiology %>
        <% if performed_opd_radiology && performed_opd_radiology.count > 0 %>
          <br>
          <div class="col-md-2 col-sm-2">
            <strong>Performed:</strong>
          </div>
          <div class="col-md-10 col-sm-10">
            <table class="table table-bordered" style="margin:0px;">
              <thead>
                <tr>
                  <th width="10%" rowspan="2" style="padding:0px;text-align:center;">#</th>
                  <th width="45%" rowspan="2" style="padding:0px;text-align:center;">Investigation</th>
                  <th width="45%" rowspan="2" style="padding:0px;text-align:center;">Doctor's Comment</th>
                </tr>
              </thead>
              <tbody>
                <% performed_opd_radiology.each_with_index do |elem, i| %>
                  <tr>
                    <td style="padding:0px;text-align:center;"><%= i+1 %></td>
                    <td style="padding:0px;text-align:center;"><%= elem.investigationname %> <% if elem.investigationside %>(<%= opdrecord.get_label_for_radiology_option(elem.investigationside) %>)<% end %></td>
                    <td style="padding:0px;text-align:center;"><%= elem.investigation_performed || '-' %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if radiologyinvestigations_counter == 0 %>
      <div class="row">
        <strong style="<%= heading_font_size %>">Radiology Investigation</strong>
        <div class="summary-line-border"></div>
      </div>
    <% end %>
    <div class="" style="<%= text_font_size %>">
      <% if opdrecord.radiologycomments.present? %>
        <span> <%= opdrecord.radiologycomments %> </span>
      <% end %>
    </div>
  </div>
<% end %>
