<% unless opdrecord.vitalsignstemperature.blank? || opdrecord.vitalsignspulse.blank? || opdrecord.vitalsignsbp.blank? || opdrecord.vitalsignsrr.blank? || opdrecord.vitalsignsspo2.blank? %>
    <b>Vital Signs : </b>
    <% if opdrecord.vitalsignstemperature.length > 0 %>
        <b>Temperature : </b>
        <%= opdrecord.read_attribute(:"vitalsignstemperature") %> &deg;C
        ,
    <% end %>
    <% if opdrecord.vitalsignspulse.length > 0 %>
        <b>Pulse : </b>
        <%= opdrecord.read_attribute(:"vitalsignspulse") %> bpm
        ,
    <% end %>
    <% if opdrecord.vitalsignsbp.length > 0 %>
        <b>BP : </b>
        <%= opdrecord.read_attribute(:"vitalsignsbp") %> mmHg
        ,
    <% end %>
    <% if opdrecord.vitalsignsrr.length > 0 %>
        <b>RR : </b>
        <%= opdrecord.read_attribute(:"vitalsignsrr") %> brpm
        ,
    <% end %>
    <% if opdrecord.vitalsignsspo2.length > 0 %>
        <b>SpO2 : </b>
        <% if opdrecord.vitalsignsspo2.to_i <= 90 %>
          <span style="color:red;">
            <%= opdrecord.vitalsignsspo2 %> %
          </span>
        <% elsif opdrecord.vitalsignsspo2.to_i > 90 && opdrecord.vitalsignsspo2.to_i <= 94 %>
          <span style="color:orange;">
            <%= opdrecord.vitalsignsspo2 %> %
          </span>
        <% else %>
          <span>
            <%= opdrecord.vitalsignsspo2 %> %
          </span>
        <% end %>
    <% end %>
<% end %>
<div class="mb3"></div>
