<% investigation.try(:each) do |queue| %>
  <div class='row no_margin summary_investigation summary_investigation_clickable' data-department-id='<%= @department_id %>' data-patient-id='<%= queue.patient_id.to_s %>' data-appointment-id='<%= queue.appointment_id.to_s %>'>
    <div class='col-sm-4 no_padding text-left' style="overflow: hidden;white-space: nowrap; text-overflow: ellipsis;">
      <span><b><%= queue.patient_name.to_s.upcase %></b></span>
    </div>
    <div class='col-sm-3 no_padding text-center'>
      <span><b><%= queue.try(:appointment_time).try(:strftime, "%I:%M %p (%d %b)") %></b></span>
    </div>
    <div class='col-sm-5 no_padding text-center'>
      <span><%= 'Ready for Investigation' if queue.payment_taken  %></span>
    </div>

  </div>

<% end %>

<% unless investigation.count > 0 %>
  <div class='row no_margin summary_investigation'>
    <div class="col-md-12 text-center">
      <b>Nothing to Show</b>
    </div>
  </div>
<% end %>