<div class="modal-dialog" style="width:80%;">
  <div class="modal-content">
    <div class="modal-header">
      <div class="pull-right">
        <% if @lab_records || @radio_records || @ophthal_records %>
            <%#\= link_to #, view: "Summary", format: :pdf), :class => "btn btn-primary btn-xs", :target => "_blank", :data => {method: :get} do %>
                <!--<i class="fa fa-print mr5"></i> All Summary-->
            <%# end %>
        <% end %>
        <button aria-hidden="true" class="btn btn-default btn-xs" data-dismiss="modal">Close</button>
      </div>
      <div class="text-left">
        <h4 class="nomargin">Investigation Summary</h4>
      </div>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="col-md-2">
          <ul class="nav nav-pills nav-stacked nav-all">
            <%if @current_user.department_ids.include?('309964003') and @current_user.role_ids.include?41904004 %>
                <li class=""><a href="#radio_record" data-toggle="tab" style="padding:10px;">Radiology</a></li>
            <% elsif @current_user.department_ids.include?('261904005')and @current_user.role_ids.include?159282002 %>
                <li class=""><a href="#lab_record" data-toggle="tab" style="padding:10px;">Laboratory</a></li>
            <% elsif @current_user.department_ids.include?('309935007') and @current_user.role_ids.include?2822900478%>
                <li><a href="#ophthal_record" data-toggle="tab" style="padding:10px;">Ophthalmology</a></li>
            <% else %>
                <li class=""><a href="#lab_record" data-toggle="tab" style="padding:10px;">Laboratory</a></li>
                <li><a href="#radio_record" data-toggle="tab" style="padding:10px;">Radiology</a></li>
                <% if @current_user.specialty_ids.include?('309988001')%>
                    <li><a href="#ophthal_record" data-toggle="tab" style="padding:10px;">Ophthalmology</a></li>
                 <% end %>
            <% end %>
          </ul>
        </div>

        <div class="col-md-10">
          <div class="tab-content tab-all">
            <div class="tab-pane" id="lab_record">
              <div class="col-md-12">
                <% if @lab_records %>
                    <div class="text-right">
                      <% if @print_settings.count > 1 %>
                        <div class="btn-group" style="margin-bottom:0px;">
                          <button type="button" class="btn btn-primary btn-xs full_print dropdown-toggle" data-toggle="dropdown"><i class="fa fa-print mr5"></i> Approved Summary <i class="fa fa-caret-down"></i></button>
                          <ul class="dropdown-menu dropdown-left-manual" role="menu" aria-labelledby="summary-print-dropdown" style="">
                            <% @print_settings.each do |print_setting| %>
                              <li style="text-align:left" class="multi-print">
                                <%= link_to investigation_records_print_all_path(record_ids: @lab_record_ids.map(&:to_s).join(','),patient_id: @patient.id,view: 'laboratory', approved_flag: "true", print_setting_id: print_setting.id, :format => :pdf), :class => "",:style => "color: #d9534f;",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> <%= print_setting.name %> <% end %>
                              </li>
                            <% end %>
                          </ul>
                        </div>
                        <div class="btn-group" style="margin-bottom:0px;">
                          <button type="button" class="btn btn-primary btn-xs full_print dropdown-toggle" data-toggle="dropdown"><i class="fa fa-print mr5"></i> Summary <i class="fa fa-caret-down"></i></button>
                          <ul class="dropdown-menu dropdown-left-manual" role="menu" aria-labelledby="summary-print-dropdown" style="">
                            <% @print_settings.each do |print_setting| %>
                              <li style="text-align:left" class="multi-print">
                                <%= link_to investigation_records_print_all_path(record_ids: @lab_record_ids.map(&:to_s).join(','),patient_id: @patient.id,view: 'laboratory', approved_flag: "false", print_setting_id: print_setting.id, :format => :pdf), :class => "",:style => "color: #d9534f;",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> <%= print_setting.name %> <% end %>
                              </li>
                            <% end %>
                          </ul>
                        </div>
                      <% else %>
                        <%= link_to investigation_records_print_all_path(record_ids: @lab_record_ids.join(','),patient_id: @patient.id,view: 'laboratory', approved_flag: "true", print_setting_id: @print_settings[0].id, :format => :pdf), :class => "btn btn-primary btn-xs full_print",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> Approved Summary <% end %>

                        <%= link_to investigation_records_print_all_path(record_ids: @lab_record_ids.join(','),patient_id: @patient.id,view: 'laboratory', approved_flag: "false", print_setting_id: @print_settings[0].id, :format => :pdf), :class => "btn btn-primary btn-xs full_print",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> Summary <% end %>
                      <% end %>
                      <a href="/investigation/records/edit_all_reports?record_ids=<%= @lab_record_ids.join(',')%>&patient_id=<%= @patient.id %>" data-remote='true' class="btn btn-primary btn-xs text-right"><i class="fa fa-pencil-alt"></i> Edit</a>
                    </div>

                <% end %>
              </div>
              <div class="col-md-12">
                <div class="opdsummary">
                  <% if @lab_records.size > 0 %>
                      <div class="paper_view">
                        <h4 class="text-center" style="padding-top:10px;text-transform: uppercase;">Laboratory Report</h4>
                        <div class="master-row" style="box-sizing: border-box;">
                          <%#= render partial: 'investigation/records/summary_filters.html.erb' %>
                          <%= render partial: 'investigation/records/patient_info', locals: {investigation_record_values: @lab_records.try(:values), report: 'lab'} %>
                          <div id='lab_report_data'>
                            <%= render partial: "investigation/records/laboratory/report.html", locals: {view: "lab",investigation_record: @lab_records, report: 'lab'} %>
                          </div>
                        </div>
                      </div>
                  <% else %>
                      <h3 class="text-center" style="padding-top:30px;">No Reports</h3>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="tab-pane" id="radio_record">
              <div class="col-md-12">
                <% if @radio_records.size > 0 %>
                    <div class="text-right">
                      <% if @print_settings.count > 1 %>
                        <div class="btn-group" style="margin-bottom:0px;">
                          <button type="button" class="btn btn-primary btn-xs full_print dropdown-toggle" data-toggle="dropdown"><i class="fa fa-print mr5"></i> Summary <i class="fa fa-caret-down"></i></button>
                          <ul class="dropdown-menu dropdown-left-manual" role="menu" aria-labelledby="summary-print-dropdown" style="">
                            <% @print_settings.each do |print_setting| %>
                              <li style="text-align:left" class="multi-print">
                                <%= link_to investigation_records_print_all_path(record_ids: @radio_record_ids.join(','),patient_id: @patient.id,view: 'radiology', print_setting_id: print_setting.id, :format => :pdf), :class => "",:style => "color: #d9534f;",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> <%= print_setting.name %> <% end %>
                              </li>
                            <% end %>
                          </ul>
                        </div>
                      <% else %>
                        <%= link_to investigation_records_print_all_path(record_ids: @radio_record_ids.map(&:to_s).join(','),patient_id: @patient.id,view: 'radiology', approved_flag: "false", print_setting_id: @print_settings[0].id, :format => :pdf), :class => "btn btn-primary btn-xs full_print",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> Summary <% end %>
                      <% end %>
                      <a href="/investigation/records/edit_all_reports?record_ids=<%= @radio_record_ids.join(',')%>&patient_id=<%= @patient.id %>" data-remote='true' class="btn btn-primary btn-xs text-right"><i class="fa fa-pencil-alt"></i> Edit</a>
                    </div>
                <% end %>
              </div>
              <div class="col-md-12">
                <div class="opdsummary">
                  <% if @radio_records.size > 0 %>
                      <div class="paper_view">
                        <h4 class="text-center" style="padding-top:10px;text-transform: uppercase;">Radiology Report</h4>
                        <%= render partial: 'investigation/records/patient_info', locals: {investigation_record_values: @radio_records.try(:values), report: 'rad'} %>
                          <%= render partial: "investigation/records/laboratory/report.html", locals: {view: "lab",investigation_record: @radio_records, report: 'rad'} %>
                      </div>
                  <% else %>
                      <h3 class="text-center" style="padding-top:30px;">No Reports</h3>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="tab-pane" id="ophthal_record">
              <div class="col-md-12">
                <% if @ophthal_records.size > 0 %>
                    <div class="text-right">
                      <% if @print_settings.count > 1 %>
                        <div class="btn-group" style="margin-bottom:0px;">
                          <button type="button" class="btn btn-primary btn-xs full_print dropdown-toggle" data-toggle="dropdown"><i class="fa fa-print mr5"></i> Summary <i class="fa fa-caret-down"></i></button>
                          <ul class="dropdown-menu dropdown-left-manual" role="menu" aria-labelledby="summary-print-dropdown" style="">
                            <% @print_settings.each do |print_setting| %>
                              <li style="text-align:left" class="multi-print">
                                <%= link_to investigation_records_print_all_path(record_ids: @ophthal_record_ids.join(','),patient_id: @patient.id,view: 'Ophthalmology', print_setting_id: print_setting.id, :format => :pdf), :class => "",:style => "color: #d9534f;",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> <%= print_setting.name %> <% end %>
                              </li>
                            <% end %>
                          </ul>
                        </div>
                      <% else %>
                        <%= link_to investigation_records_print_all_path(record_ids: @ophthal_record_ids.join(','),patient_id: @patient.id,view: 'Ophthalmology', approved_flag: "false", print_setting_id: @print_settings[0].id, :format => :pdf), :class => "btn btn-primary btn-xs full_print",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> Summary <% end %>
                      <% end %>
                      <a href="/investigation/records/edit_all_reports?record_ids=<%= @ophthal_record_ids.join(',')%>&patient_id=<%= @patient.id %>" data-remote='true' class="btn btn-primary btn-xs text-right"><i class="fa fa-pencil-alt"></i> Edit</a>
                    </div>
                <% end %>
              </div>
              <div class="col-md-12">
                <div class="opdsummary">
                  <% if @ophthal_records.size > 0 %>
                      <div class="paper_view">
                        <h4 class="text-center" style="padding-top:10px;text-transform: uppercase;">Ophthalmology Report</h4>
                        <%= render partial: 'investigation/records/patient_info', locals: {investigation_record_values: @ophthal_records.try(:values), report: 'oph'} %>
                        <%= render partial: "investigation/records/laboratory/report.html", locals: {view: "lab",investigation_record: @ophthal_records, report: 'oph'} %>
                      </div>
                  <% else %>
                      <h3 class="text-center" style="padding-top:30px;">No Reports</h3>
                  <% end %>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
    .paper_view {
        box-shadow: 0 0 6px #ccc;
        padding: 0 0.400000in 0 0.550000in;
        font-family: 'Open Sans';
        background-color: #fff;
        min-height: 407px;
    }
    .group-head{
      font-size: 10px;
    }
</style>

<script>
    $('.nav-all').children().first().addClass('active')
    var tab = $('.nav-all').children().first().children().attr('href')
    $(tab).addClass('active')
</script>
