<% if params[:filter_by].present? %>
  $('#lab_report_data').html('<%= escape_javascript(render partial: "investigation/records/laboratory/report.html", locals: {view: "lab",investigation_record: @lab_records}) %>')
  <% unless @filter_by.include?('advised_date') %>
    $('#advised_date_filter').html('<%= escape_javascript(render("investigation/records/laboratory/advised_date_filter.html.erb")) %>')
  <% end %>
  <% unless @filter_by.include?('performed_date') %>
    $('#performed_date_filter').html('<%= escape_javascript(render("investigation/records/laboratory/performed_date_filter.html.erb")) %>')
  <% end %>
  <% unless @filter_by.include?('advised_user') %>
    $('#advised_by_filter').html('<%= escape_javascript(render("investigation/records/laboratory/advised_by_filter.html.erb")) %>')
  <% end %>
  <% unless @filter_by.include?('performed_user') %>
    $('#performed_by_filter').html('<%= escape_javascript(render("investigation/records/laboratory/performed_by_filter.html.erb")) %>')
  <% end %>
<% else %>
  $("#fill-lab-record").html('<%= escape_javascript(render "show_all_reports") %>').modal("show")
<% end %>

var filters = <%= raw @filter_by || []%>


function filter(id){
  var url = '<%= investigation_investigation_managements_show_all_reports_path(template_ids: params[:template_ids], patient_id: params[:patient_id]) %>'
  advised_at = $('#advised_date').val()
  performed_at = $('#performed_date').val()
  advised_by = $('#advised_user').val()
  performed_by = $('#performed_user').val()
  if ( ((advised_at.length > 0) && $('#advised_date option').length > 1 ) || ((performed_at.length > 0) && ($('#performed_date option').length > 1)) || ((advised_by.length > 0) && ($('#advised_user option').length > 1)) || ((performed_by.length > 0) && ($('#performed_user option').length > 1)) ){
    $(".filter-button-container").html("<span class='btn btn-link' onclick='clear_filter()'>Clear Filter</span>")
  } else {
    $(".filter-button-container").html("")
  }
  if (id.length == 0) {
    filters = []
  } else {
    filters.push(id)
  }
  
  if (!filters.includes('advised_date')){
    advised_date = ""
  }
  if (!filters.includes('performed_date')){
    performed_at = ""
  }
  if (!filters.includes('advised_user')){
    advised_by = ""
  }
  if (!filters.includes('performed_user')){
    performed_by = ""
  }
  $.get(url+"&advised_at="+advised_at+"&performed_at="+performed_at+"&advised_by="+advised_by+"&performed_by="+performed_by+"&filter_by="+filters.toString())
}

function clear_filter(){
  if ($('#advised_date option').length > 1) {
    $('#advised_date').val("")
  }
  if ($('#performed_date option').length > 1) {
    $('#performed_date').val("")
  }
  if ($('#advised_user option').length > 1) {
    $('#advised_user').val("")
  }
  if ($('#performed_user option').length > 1) {
    $('#performed_user').val("")
  }
  $(".filter-button-container").html("")
  filter("")
}

$('.approved-data-tabs .btn-default').on('click', function(){
  
})