<% partial_name = @partial_name.present? %>
<% data = {
    service_name: "CounsellorData",
    action_name: "age_wise_counsellor_radiology_investigations",
    partial_name: "age_wise_counsellor_radiology_investigations_data"
}%>
<div class="row">
  <div class="<%= partial_name ? 'col-md-6': 'col-md-12' %>">
    <div class="panel panel-default panel_b borderd_panel">
      <div class="panel-heading to_add_expand_button">
        <h5 class="subtitle mb5"><i class="fa fa-bar-chart" aria-hidden="true"></i><strong>  &nbsp;&nbsp; Age wise Radiology Investigations</strong> &nbsp;&nbsp;
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="This Graph Shows Age wise Radiology Investigations count"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
        </h5>
        <%=render partial: "/analytics/shared/expand_button", locals:{partial_name: partial_name, data: data }%>
      </div>
      <div class="panel-body reduced_padding">
        <canvas id="age-wise-radiology-investigations-line-chart_counsellor_<%= partial_name %>" width="800" height="400"></canvas>
      </div>
    </div>
  </div>
  <% if partial_name %>
    <div class="col-md-6">
      <div class="table_wrapper">
        <table class="table table_data table-bordered table-hover">
          <thead>
          <tr>
            <th>Age Group</th>
            <th>Count</th>
          </tr>
          </thead>
          <tbody>
          <% @age_wise_radiology_inv_labels_counsellor.each_with_index do |f_name, indx|%>
            <tr>
              <td><%= f_name %></td>
              <td><%= @age_wise_radiology_inv_data_counsellor[indx].to_i %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>


<script type="text/javascript">
  $('[data-toggle="tooltip"]').tooltip();

  new Chart(document.getElementById("age-wise-radiology-investigations-line-chart_counsellor_<%= partial_name %>"), {
    type: 'bar',
    data: {
      labels: <%= raw @age_wise_radiology_inv_labels_counsellor %>,
      datasets: [{
        data: <%= raw @age_wise_radiology_inv_data_counsellor %>,
        backgroundColor:<%= raw get_chart_dataset_color %>
      }
      ]
    },
    options: {
      tooltips: {
        callbacks: {
          label: function(tooltipItem) {
            return "Radiology Investigations count: " + Number(tooltipItem.yLabel);
          }
        }
      },
      legend: { display: false },
      responsive: true,
      title: {
        display: false,
        text: ''
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true,
            // stepSize: 2
          }
        }],
        xAxes: [{
          barPercentage: 0.4,
          categoryPercentage: 0.6,
          gridLines:{
            display : false
          }
        }]
      }
    }
  });

</script>