<% partial_name = @partial_name.present? %>
<% data = {
  service_name: "AdminOverviewData",
  action_name: "appointments_facility_data",
  partial_name: "appointments_facility_wise"
}%>
<div class="row">
  <div class="<%= partial_name ? 'col-md-6': 'col-md-12' %>">
    <div class="panel panel-default panel_b borderd_panel">
      <div class="panel-heading to_add_expand_button">
        <h5 class="subtitle mb5 title_in_caps"><i class="fa fa-bar-chart" aria-hidden="true"></i><strong>Appointment in top facilities</strong></h5>
        <%=render partial: "/analytics/shared/expand_button", locals:{partial_name: partial_name, data: data }%>
      </div>
      <div class="panel-body reduced_padding">
        <canvas id="appointments_facility_wise_<%= partial_name %>" width="800" height="400"></canvas>
      </div>
    </div><!-- panel -->
  </div>
  <% if partial_name %>
    <div class="col-md-6">
      <div class="table_wrapper">
      <table class="table table_data table-bordered table-hover">
        <thead>
          <tr>
            <th>Facility Name</th>
            <th>Abbreviation</th>
            <th>Arrived</th>
            <th>Not Arrived</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody>
          <% @facility_names_full.each_with_index do |f_name, indx|%>
            <tr>
              <td><%= f_name %></td>
              <td><%= @facility_names_abbr[indx].to_s %></td>
              <td><%= @appointment_arrived_count[indx].to_i %></td>
              <td><%= @appointment_not_arrived_count[indx].to_i %></td>
              <td><%= @appointment_arrived_count[indx].to_i + @appointment_not_arrived_count[indx].to_i %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>

    </div>
  <% end %>
</div>

<script>
  var ctx = document.getElementById('appointments_facility_wise_<%= partial_name %>');
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: <%= raw @top_5_facility_names_abbr %>,
      datasets: [
        {
          label: 'Not Arrived',
          data: <%= raw @top_5_appointment_not_arrived_count %>,
          backgroundColor: '#576574',
        },
        {
          label: 'Arrived',
          data: <%= raw @top_5_appointment_arrived_count %>,
          backgroundColor: '#54a0ff',
        }
      ]
    },
    options: {
      legend: { display: false },
      responsive: true,
      title: {
        display: false,
      },
      scales: {
        yAxes: [{
          stacked: true,
          barPercentage: 0.0,
          categoryPercentage: 0.0,
          gridLines:{
            display : false
          },
          ticks: {
            beginAtZero: true,
          }
        }],
        xAxes: [{
          stacked: true,
          maxBarThickness: 20,
          gridLines:{
            display : false
          }
        }]
      }
    }
  });
</script>

