<% partial_name = @partial_name.present? %>
<% data = {
  service_name: "FinanceOverviewData",
  action_name: "periodic_outpatient_data",
  partial_name: "daily_department_earning"
}%>
<style type="text/css">
  .font12{
    font-size:12px;
  }
</style>
<div class="row">
  <div class="<%= partial_name ? 'col-md-6': 'col-md-12' %>">
    <div class="panel panel-default panel_b borderd_panel">
      <div class="panel-heading to_add_expand_button">
        <h5 class="subtitle mb5 title_in_caps"><i class="fa fa-bar-chart" aria-hidden="true"></i><strong>Total collection By Departments</strong></h5>
        <%=render partial: "/analytics/shared/expand_button", locals:{partial_name: partial_name, data: data }%>
      </div>
      <div class="panel-body reduced_padding">
        <canvas id="bar-chart_<%= partial_name %>" width="800" height="400"></canvas>
      </div>
    </div>
  </div>
  <% if partial_name %>
    <div class="col-md-6">
      <div class="table_wrapper">
      <table class="table table_data table-bordered table-hover font12">
        <thead>
          <tr>
            <th>On</th>
            <th>OPD Amount</th>
            <th>IPD Amount</th>
            <th>Pharmacy Amount</th>
            <th>Optical Amount</th>
            <th>Total Amount</th>

          </tr>
        </thead>
        <tbody>
          <% appointment_chart_labels = @appointment_chart_labels.reverse %>
          <% weekly_opd_amount = @weekly_opd_amount.reverse %>
          <% weekly_ipd_amount = @weekly_ipd_amount.reverse %>
          <% weekly_pharmacy_amount = @weekly_pharmacy_amount.reverse %>
          <% weekly_optical_amount = @weekly_optical_amount.reverse %>
          <% appointment_chart_labels.each_with_index do |f_name, indx|%>
            <tr>
              <td><%= f_name %></td>
              <td><%= weekly_opd_amount[indx].to_f %></td>
              <td><%= weekly_ipd_amount[indx].to_f %></td>
              <td><%= weekly_pharmacy_amount[indx].to_f %></td>
              <td><%= weekly_optical_amount[indx].to_f %></td>
              <td><%= weekly_opd_amount[indx].to_f +
                      weekly_ipd_amount[indx].to_f +
                      weekly_pharmacy_amount[indx].to_f +
                      weekly_optical_amount[indx].to_f %>  </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  <% end %>

</div>

<script>
var ctx = document.getElementById('bar-chart_<%= partial_name %>');

var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: <%= raw @appointment_chart_labels%>,
    datasets: [
      {
        label: 'OPD',
        data: <%= raw @weekly_opd_amount %>,
        backgroundColor: '#54a0ff',
      },
      {
        label: 'IPD',
        data: <%= raw @weekly_ipd_amount%>,
        backgroundColor: '#576574',
      },
      {
        label: 'PHARMACY',
        data: <%= raw @weekly_pharmacy_amount%>,
        backgroundColor: '#5352ed',
      },{
        label: 'OPTICAL',
        data: <%= raw @weekly_optical_amount%>,
        backgroundColor: '#6a89cc',
      }
    ]
  },
  options: {
      legend: { display: false },
      responsive: true,
      title: {
        display: false
      },
      scales: {
        yAxes: [{
            stacked: true,
            barPercentage: 0.4,
            categoryPercentage: 0.4,
            gridLines:{
              display : false
            },
            ticks: {
              beginAtZero: true
//              stepSize: 1
            }
        }],
        xAxes: [{
          maxBarThickness:20,
          stacked: true,
          barPercentage: 0.4,
          categoryPercentage: 0.4,
            gridLines:{
                display : false
            }
        }]
      }
    }
});
</script>
