<% partial_name = @partial_name.present? %>
<% data = {
  service_name: "DoctorOperationalData",
  action_name: "doctor_diagnosis_advised",
  partial_name: "doctor_advised_diagnoses"
}%>
<% if @group_by == '$dayOfMonth' %>
  <% @group_by = 'DAY' %>
<% end %>

<% text_val =  ('Diagnoses Advised ( ' + @group_by.gsub("$",'').to_s + ' - WISE )').upcase %>
<div class="row">
  <div class="<%= partial_name ? 'col-md-6': 'col-md-12' %>">
    <div class="panel panel-default panel_b borderd_panel">
      <div class="panel-heading to_add_expand_button">
        <h5 class="subtitle mb5 title_in_caps"><i class="fa fa-bar-chart" aria-hidden="true"></i><strong><%= text_val %></strong></h5>
          <%=render partial: "/analytics/shared/expand_button", locals:{partial_name: partial_name, data: data }%>
      </div>
      <div class="panel-body reduced_padding">
        <canvas id="doctor-diagnoses-advised-chart_<%= partial_name %>" width="800" height="400"></canvas>
      </div>
    </div>  
  </div>
  <% if partial_name %>
    <div class="col-md-6">
      <div class="table_wrapper">
      <table class="table table_data table-bordered table-hover">
        <thead>
          <tr>
            <th>Diagnoses</th>
            <th>Advised Count</th>
          </tr>
        </thead>
        <tbody>
    
          <% @diagnoses_labels.each_with_index do |f_name, indx|%>
            <tr>
              <td><%= f_name %></td>
              <td><%= @diagnoses_advised_count[indx].to_i %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  <% end %>

</div>

<script>


  var ctx = document.getElementById('doctor-diagnoses-advised-chart_<%= partial_name %>');
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: <%= raw @diagnoses_labels %>,
      datasets: [
        {
          label: 'Advised',
          data: <%= raw @diagnoses_advised_count %>,
          backgroundColor: '#54a0ff',
        },
      ]
    },
    options: {
      legend: { display: false },
      responsive: true,
      title: {
        display: false
      },
      scales: {
        yAxes: [{
          stacked: true,
          barPercentage: 0.4,
          categoryPercentage: 0.4,
          gridLines:{
            display : false
          },
          ticks: {
            beginAtZero: true,
             // stepSize: 1
          }
        }],
        xAxes: [{
          stacked: true,
          barPercentage: 0.4,
          categoryPercentage: 0.4,
          maxBarThickness: 20,
          gridLines:{
            display : false
          }
        }]
      }
    }
  });
</script>