<% partial_name = @partial_name.present? %>
<% data = {
  service_name: "ProcedureData",
  action_name: "get_facility_wise_procedures",
  partial_name: "facility_wise_procedures"
} %>
<div class="row">
  <div class="<%= partial_name ? 'col-md-6': 'col-md-12' %>">
    <div class="panel panel-default panel_b borderd_panel">
      <div class="panel-heading to_add_expand_button">
        <h5 class="subtitle mb5"><i class="fa fa-bar-chart" aria-hidden="true"></i><strong>  &nbsp;&nbsp; Top Facility's Procedures</strong> &nbsp;&nbsp;
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="This Graph Shows Top 10 Facility wise Procedures count"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
        </h5>
        <%= render partial: "/analytics/shared/expand_button", locals:{partial_name: partial_name, data: data } %>
      </div>

      <div class="panel-body reduced_padding">
        <canvas id="facility-wise-procedures-chart_<%= partial_name%>" width="800" height="400"></canvas>
      </div>
    </div>
  </div>
  <% if partial_name %>
    <div class="col-md-6">
      <div class="table_wrapper">
      <table class="table table_data table-bordered table-hover">
        <thead>
          <tr>
            <th>Facility Name</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
          <% @facility_wise_procedures_labels.each_with_index do |f_name, indx|%>
            <tr>
              <td><%= f_name %></td>
              <td><%= @facility_wise_procedures_data[indx].to_i %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  <% end %>
</div>



<style type="text/css">
  #facility-wise-procedures-bar-chart{
    margin-top: 28px;
  }
</style>


<script type="text/javascript">
 
  var ctx = document.getElementById("facility-wise-procedures-chart_<%= partial_name%>");
  var myChart = new Chart(ctx, {
 
    type: 'pie',
    data: {
      labels: <%= raw @facility_wise_procedures_labels[0..5] %>,
      datasets: [{
        data: <%= raw @facility_wise_procedures_data[0..5] %>,
        fill: false,
        backgroundColor:["#778beb", "#e77f67", "#cf6a87"]
        }
      ]
    },
    options: {
      rotation: -0.7 * Math.PI,
      legend: { display: false },
      responsive: true,
      title: {
        display: false,
        // text: ''
      },
      scales: {
        yAxes: [{
            display : false,
            ticks: {
              // beginAtZero: true,
              // stepSize: 2
            }
        }],
      xAxes: [{
          display : false,
          gridLines:{
              display : false
          }
        }]
      }
    }
  });

</script>