<% partial_name = @partial_name.present? %>
<% data = {
    service_name: "PatientOutcome",
    action_name: "facility_wise_elective_emergency",
    partial_name: "facility_wise_elective_emergency"
}%>
<div class="row">
  <div class="<%= partial_name ? 'col-md-6': 'col-md-12' %>">
    <div class="panel panel-default panel_b borderd_panel">
      <div class="panel-heading to_add_expand_button">
        <h5 class="subtitle mb5 title_in_caps"><i class="fa fa-bar-chart" aria-hidden="true"></i>  <strong> Top Facility with procedure type</strong>
        </h5>
        <%=render partial: "/analytics/shared/expand_button", locals:{partial_name: partial_name, data: data }%>
      </div>
      <div class="panel-body reduced_padding">
        <canvas id="facility_wise_elective_emergency_<%= partial_name %>" width="800" height="400"></canvas>
      </div>
    </div>
  </div>
  <% if partial_name %>
    <div class="col-md-6">
      <div class="table_wrapper">
        <table class="table table_data table-bordered table-hover">
          <thead>
          <tr>
            <th>Facility Code</th>
            <th>Emergency</th>
            <th>Elective</th>
            <th>Not Filled</th>
          </tr>
          </thead>
          <tbody>
          <% @all_facility_name_labels_emergency.each_with_index do |f_name, indx|%>
            <tr>
              <td><%= f_name %></td>
              <td><%= @all_emergency[indx].to_i %></td>
              <td><%= @all_elective[indx].to_i %></td>
              <td><%= @all_not_filled[indx].to_i %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>



<script type="text/javascript">

  var facility_wise_elective_emergency = document.getElementById('facility_wise_elective_emergency_<%= partial_name %>');

  var myChart = new Chart(facility_wise_elective_emergency, {
    type: 'bar',
    data: {
      labels: <%= raw @facility_name_label_emergency %>,
      datasets: [
        {
          label: 'Emergency',
          data: <%= raw @emergency %>,
          backgroundColor: '#54a0ff',
        },
        {
          label: 'Elective',
          data: <%= raw @elective %>,
          backgroundColor: '#576574',
        },
        {
          label: 'Not Filled',
          data: <%= raw @not_filled %>,
          backgroundColor: '#5352ed',
        }
      ]
    },
    options: {
      legend: { display: false },
      responsive: true,
      title: {
        display: false,
      },
      scales: {
        yAxes: [{
          stacked: true,
          barPercentage: 0.4,
          categoryPercentage: 0.4,
          gridLines:{
            display : false
          },
          ticks: {
            beginAtZero: true,
          }
        }],
        xAxes: [{
          maxBarThickness: 20,
          stacked: true,
          barPercentage: 0.4,
          categoryPercentage: 0.4,
          gridLines:{
            display : false
          }
        }]
      }
    }
  });

</script>