<% partial_name = @partial_name.present? %>
<% data = {
  service_name: "NewOldPatient",
  action_name: "call",
  partial_name: "new_old_patients"
}%>
<div class="row">
    <div class="<%= partial_name ? 'col-md-6': 'col-md-12' %>">
      <div class="panel panel-default panel_b borderd_panel">
        <div class="panel-heading to_add_expand_button">
          <h5 class="subtitle mb5 title_in_caps"><i class="fa fa-bar-chart" aria-hidden="true"></i><strong> Patient Visits</strong></h5>
        <%=render partial: "/analytics/shared/expand_button", locals:{partial_name: partial_name, data: data }%>
        </div>
        <div class="panel-body reduced_padding">
          <canvas id="patients-line-chart_<%= partial_name %>" width="800" height="400"></canvas>
        </div>
      </div>
    </div>
  <% if partial_name %>
    <div class="col-md-6">
      <div class="table_wrapper">
      <table class="table table_data table-bordered table-hover">
        <thead>
          <tr>
            <th>On</th>
            <th>New Patient Count</th>
            <th>Old Patient Count</th>
          </tr>
        </thead>
        <tbody>
          <!-- to show today's data at top -->
          <% appointment_chart_labels = @appointment_chart_labels.reverse %>
          <% appointment_chart_new_pat_data = @appointment_chart_new_pat_data.reverse %>
          <% appointment_chart_old_pat_data = @appointment_chart_old_pat_data.reverse %>

          <% appointment_chart_labels.each_with_index do |f_name, indx|%>
            <tr>
              <td><%= f_name %></td>
              <td><%= appointment_chart_new_pat_data[indx].to_s %></td>
              <td><%= appointment_chart_old_pat_data[indx].to_i %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  <% end %>

</div>

<script>
  new Chart(document.getElementById("patients-line-chart_<%= partial_name %>"), {
    type: 'line',
    data: {
      labels: <%=raw @appointment_chart_labels %>,
      datasets: [{
        data: <%=raw @appointment_chart_new_pat_data%>,
        label: "New Patients",
        borderColor: "#227093",
        fill: false
      }, {
        data: <%=raw @appointment_chart_old_pat_data%>,
        label: "Old Patients",
        borderColor: "#3c40c6",
        fill: false
      }
      ]
    },
    options: {
      legend: { display: false },
      responsive: true,
      title: {
        display: false,
        text: 'New vs Old Patient (Arrived Patients)'
      },
      scales: {
        yAxes: [{
            ticks: {
              beginAtZero: true
//              stepSize: 1
            }
        }],
        xAxes: [{
          gridLines:{
              display : false
          },
          ticks: {
            fontSize: 9
          }
        }]
      }
    }
  });

</script>

<style>
  .no_data{
    text-align: center;
    color: #444;
  }
</style>