<% partial_name = @partial_name.present? %>
<% data = {
  service_name: "OpticalData",
  action_name:  "call",
  partial_name: "optical_earnings_data"
}%>
<div class="row">
  <div class="<%= partial_name ? 'col-md-6': 'col-md-12' %>">
    <div class="panel panel-default panel_b borderd_panel">
      <div class="panel-heading to_add_expand_button">
        <h5 class="subtitle mb5"><i class="fa fa-bar-chart" aria-hidden="true"></i><strong>Optical Earnings</strong></h5>
        <%=render partial: "/analytics/shared/expand_button", locals:{partial_name: partial_name, data: data }%>
      </div>
      <div class="panel-body reduced_padding">
        <canvas id="optical_earnings_data_<%= partial_name %>" width="800" height="400"></canvas>
      </div>
    </div>
  </div>
   <% if partial_name %>
    <div class="col-md-6">
      <div class="table_wrapper">
      <table class="table table_data table-bordered table-hover">
        <thead>
          <tr>
            <th>On</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <% optical_chart_labels = @optical_chart_labels.reverse %>
          <% optical_earnings = @optical_earnings.reverse %>

          <% optical_chart_labels.each_with_index do |f_name, indx|%>
            <tr>
              <td><%= f_name %></td>
              <td><%= optical_earnings[indx].to_f %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  <% end %>
</div>



<script>
  new Chart(document.getElementById("optical_earnings_data_<%= partial_name %>"), {
    type: 'line',
    data: {
      labels: <%= raw @optical_chart_labels %>,
      datasets: [
        {
          label: "Earnings",
          backgroundColor: "#82ccdd",
          data: <%= raw @optical_earnings %>
        }
      ]
    },
    options: {
      responsive: true,
      legend: { display: false },
      title: {
        display: true
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          },
          gridLines:{
            display : false
          }
        }],
        xAxes: [{
          gridLines:{
            display : false
          },
          barPercentage: 0.4
        }]
      }
    }
  });
</script>
