<% partial_name = @partial_name.present? %>
<% data = {
  service_name: "PatientFeedbacks",
  action_name: "overall_rating",
  partial_name: "overall_rating"
}%>
<div class="row">
  <div class="<%= partial_name ? 'col-md-6': 'col-md-12' %>">
    <div class="panel panel-default panel_b borderd_panel">
      <div class="panel-heading to_add_expand_button">
        <h5 class="subtitle mb5 title_in_caps"><i class="fa fa-bar-chart" aria-hidden="true"></i><strong> Facility Rating in Category</strong></h5>
      <%=render partial: "/analytics/shared/expand_button", locals:{partial_name: partial_name, data: data }%>
      </div>

      <div class="panel-body reduced_padding">
        <canvas id="facility_bar-chart-patient-rating_<%= partial_name %>" width="800" height="400"></canvas>
      </div>
    </div>
  </div>
  <% if partial_name %>
    <div class="col-md-6">
      <div class="table_wrapper">
      <table class="table table_data table-bordered table-hover">
        <thead>
          <tr>
            <th>Criteria</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>

          <% @feedback_labels.each_with_index do |f_name, indx|%>
            <tr>
              <td><%= f_name.titleize %></td>
              <td><%= @feedback_data[indx].round(2).to_s %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  <% end %>
</div>



<script>
  new Chart(document.getElementById("facility_bar-chart-patient-rating_<%= partial_name %>"), {
    type: 'doughnut',
    data: {
      labels: <%= raw @feedback_labels.map(&:titleize) %>,
      datasets: [
        {
          label: "Rating",
          backgroundColor: ["#82ccdd", "#fed156","#1B9CFC","#58B19F", "#3e21ad", "#008080"],
          data: <%= raw @feedback_data.map{|e| e.round(2)} %>
        }
      ]
    },
    options: {
      legend: {
        display: true,
        position: 'top'
      },
      title: {
        display: false,
        text: 'Patient Gender'
      }
    }
  });
</script>
