<% partial_name = @partial_name.present? %>
<% data = {
  service_name: "PatientData",
  action_name: "patient_age_group_count_data",
  partial_name: "patient_age_data"
}%>
<div class="row">
  <div class="<%= partial_name ? 'col-md-6': 'col-md-12' %>">
    <div class="panel panel-default panel_b borderd_panel">
      <div class="panel-heading to_add_expand_button">
        <h5 class="subtitle mb5"><i class="fa fa-bar-chart" aria-hidden="true"></i><strong> Patient Age</strong></h5>
        <%=render partial: "/analytics/shared/expand_button", locals:{partial_name: partial_name, data: data }%>
      </div>
      <div class="panel-body reduced_padding">
        <canvas id="patients-age-chart_<%= partial_name%>" width="800" height="400"></canvas>
      </div>
    </div><!-- panel -->
  </div>
  <% if partial_name %>
    <div class="col-md-6">
      <div class="table_wrapper">
      <table class="table table_data table-bordered table-hover">
        <thead>
          <tr>
            <th>Age Group</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
          <% ["0-20", "21-40", "41-60", "61-80", ">81"].each_with_index do |f_name, indx|%>
            <tr>
              <td><%= f_name %></td>
              <td><%= @patient_age_array[indx].to_s %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  <% end %>
</div>


<script>
  new Chart(document.getElementById("patients-age-chart_<%=partial_name %>"), {
    type: 'doughnut',
    data: {
      labels: ["0-20", "21-40", "41-60", "61-80", ">81"],
      datasets: [{
        label: "OPD",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9"],
        data: <%= raw @patient_age_array%>
      }]
    },
    options: {
      legend: {
        display: true,
        position: 'top'
      },
      title: {
        display: false,
        text: 'Patient Age'
      }
    }
  });


</script>

<style>
  .no_data{
    text-align: center;
    color: #444;
  }
</style>