<% partial_name = @partial_name.present? %>
<% data = {
    service_name: "PatientOutcome",
    action_name: "patients_count_by_surgery_age_cataract",
    partial_name: "patients_count_by_surgery_age_seg_cataract"
}%>
<div class="row">
  <div class="<%= partial_name ? 'col-md-6': 'col-md-12' %>">
    <div class="panel panel-default panel_b borderd_panel">
      <div class="panel-heading to_add_expand_button">
        <h5 class="subtitle mb5 title_in_caps"><i class="fa fa-bar-chart" aria-hidden="true"></i>  <strong> Patient Count by Age Group in Cataract </strong></h5>
        <%=render partial: "/analytics/shared/expand_button", locals:{partial_name: partial_name, data: data }%>
      </div>
      <div class="panel-body reduced_padding">
        <canvas id="patients_count_by_surgery_age_seg_cataract_<%= partial_name %>" width="800" height="400"></canvas>
      </div>
    </div>
  </div>
  <% if partial_name %>
    <div class="col-md-6">
      <div class="table_wrapper">
        <table class="table table_data table-bordered table-hover">
          <thead>
          <tr>
            <th>Cataract</th>
            <th>0-20 Age</th>
            <th>21-40 Age</th>
            <th>41-60 Age</th>
            <th>60 + Age</th>
          </tr>
          </thead>
          <tbody>
          <% @labels_cataract_age.each_with_index do |f_name, indx|%>
            <tr>
              <td><%= f_name %></td>
              <td><%= @cataract_0_20[indx].to_i %></td>
              <td><%= @cataract_21_40[indx].to_i %></td>
              <td><%= @cataract_41_60[indx].to_i %></td>
              <td><%= @cataract_61[indx].to_i %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  var patients_count_by_surgery_age_seg_cataract = document.getElementById("patients_count_by_surgery_age_seg_cataract_<%= partial_name %>");

  var patients_count_by_surgery_age_seg_cataract_chart = new Chart(patients_count_by_surgery_age_seg_cataract, {
    type: 'horizontalBar',
    height: 10,
    width: 300,
    data: {
      labels: <%= raw @labels_cataract_age %>,
      datasets: [{
        label: '0 - 20',
        data: <%= raw @cataract_0_20 %>,
        backgroundColor: [
          'rgba(111, 32, 167, 1)',
          'rgba(32, 149, 167, 1)',
          'rgba(50, 167, 32, 1)',
          'rgba(167, 165, 32, 1)',
          'rgba(125, 114, 74, 1)',
        ],
        borderWidth: 1
      },
        {
          label: '21 - 40',
          data: <%= raw @cataract_21_40 %>,
          backgroundColor: [
            'rgba(1, 99, 132, 0.5)',
            'rgba(1, 162, 235, 0.5)',
            'rgba(1, 206, 86, 0.5)',
            'rgba(1, 192, 192, 0.5)',
            'rgba(1, 12, 68, 0.5)',
          ],
          borderWidth: 1
        },
        {
          label: '41 - 60',
          data: <%= raw @cataract_41_60 %>,
          backgroundColor: [
            'rgba(45, 95, 132, 0.5)',
            'rgba(56, 96, 235, 0.5)',
            'rgba(67, 97, 86, 0.5)',
            'rgba(78, 98, 192, 0.5)',
            'rgba(89, 99, 68, 0.5)',
          ],
          borderWidth: 1
        },
        {
          label: '60 + ',
          data: <%= raw @cataract_61 %>,
          backgroundColor: [
            'rgba(106, 95, 132, 0.6)',
            'rgba(117, 96, 235, 0.6)',
            'rgba(128, 97, 86, 0.6)',
            'rgba(139, 98, 192, 0.6)',
            'rgba(160, 99, 68, 0.6)',
          ],
          borderWidth: 1
        }
      ]
    },
    options: {
      legend: { display: <%= partial_name %> },
      responsive: true,
      title: {
        display: false,
        text: ''
      },
      scales: {
        yAxes: [{
          maxBarThickness: 20,
          stacked: true,
          barPercentage: 0.6,
          categoryPercentage: 0.8,
          gridLines:{
            display : false
          },
          ticks: {
            beginAtZero: true,
            mirror: true,
            fontSize: 8
          },
          display: false
        }],
        xAxes: [{
          maxBarThickness: 20,
          stacked: true,
          barPercentage: 0.6,
          categoryPercentage: 0.8,
          gridLines:{
            display : false
          }
        }]
      },
      animation: {
        duration: 500,
        onComplete () {
          const chartInstance = this.chart;
          const ctx = chartInstance.ctx;
          const dataset = this.data.datasets[0];
          const meta = chartInstance.controller.getDatasetMeta(0);

          Chart.helpers.each(meta.data.forEach((bar, index) => {
            const label = this.data.labels[index];
            if(typeof label !== 'undefined') {
              const labelPositionX = 20;
              const labelWidth = ctx.measureText(label).width + labelPositionX;

              ctx.textBaseline = 'middle';
              ctx.textAlign = 'left';
              ctx.fillStyle = '#333';
              ctx.font = '10px Arial';
              ctx.fillText(label, labelPositionX, bar._model.y);
            }
          }));
        }
      }
    }
  });

</script>