<% partial_name = @partial_name.present? %>
<% data = {
    service_name: "PatientOutcome",
    action_name: "patients_count_by_laterality",
    partial_name: "patients_count_by_diagnosis"
}%>
<div class="row">
  <div class="<%= partial_name ? 'col-md-6': 'col-md-12' %>">
    <div class="panel panel-default panel_b borderd_panel">
      <div class="panel-heading to_add_expand_button">
        <h5 class="subtitle mb5"><i class="fa fa-bar-chart" aria-hidden="true"></i>  <strong> Procedure count by Laterality</strong></h5>
        <%= render partial: "/analytics/shared/expand_button", locals:{partial_name: partial_name, data: data }%>
      </div>
      <div class="panel-body reduced_padding">
        <canvas id="patients_count_by_laterality_<%= partial_name %>" width="800" height="400"></canvas>
      </div>
    </div>
  </div>
  <% if partial_name %>
    <div class="col-md-6">
      <div class="table_wrapper">
        <table class="table table_data table-bordered table-hover">
          <thead>
          <tr>
            <th>Laterality </th>
            <th>Male</th>
            <th>Female</th>
            <th>Transgender</th>
            <th>Other</th>
          </tr>
          </thead>
          <tbody>
          <% @laterality_labels.each_with_index do |f_name, indx|%>
            <tr>
              <td><%= f_name %></td>
              <td><%= @male_data[indx].to_i %></td>
              <td><%= @female_data[indx].to_i %></td>
              <td><%= @trans_data[indx].to_i %></td>
              <td><%= @other_data[indx].to_i %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>


<script type="text/javascript">
  var patients_count_by_diagnosis = document.getElementById("patients_count_by_laterality_<%= partial_name %>");
  var patients_count_by_laterality_chart = new Chart(patients_count_by_diagnosis, {
    type: 'bar',
    data: {
      labels: <%= raw @laterality_labels %>,
      datasets: [{
        label: 'Male',
        data: <%= raw @male_data %>,
        backgroundColor: "#54a0ff",
        borderWidth: 1
      },
      {
        label: 'Female',
        data: <%= raw @female_data %>,
        backgroundColor: "#576574",
        borderWidth: 1
      },
      {
        label: 'Transgender',
        data: <%= raw @trans_data %>,
        backgroundColor: "#53efaa",
        borderWidth: 1
      },
      {
        label: 'Other',
        data: <%= @other_data %>,
        backgroundColor:"#52efee",
        borderWidth: 1
      }]
    },
    options: {
      legend: { display: false },
      responsive: true,
      title: {
        display: false,
      },
      scales: {
        yAxes: [{
          stacked: true,
          barPercentage: 0.4,
          categoryPercentage: 0.4,
          gridLines:{
            display : false
          },
          ticks: {
            beginAtZero: true
          }
        }],
        xAxes: [{
          stacked: true,
          barPercentage: 0.4,
          categoryPercentage: 0.4,
          gridLines:{
            display : false
          }
        }]
      }
    }
  });
</script>