<% partial_name = @partial_name.present? %>
<% data = {
  service_name: "PatientFeedbacks",
  action_name: "each_facility_rating",
  partial_name: "patient_feedback_rating"
}%>
<div class="row">
  <div class="<%= partial_name ? 'col-md-6': 'col-md-12' %>">
    <div class="panel panel-default panel_b borderd_panel">
      <div class="panel-heading to_add_expand_button">
        <h5 class="subtitle mb5 title_in_caps"><i class="fa fa-bar-chart" aria-hidden="true"></i><strong>Facility Rating</strong></h5>
  <%=render partial: "/analytics/shared/expand_button", locals:{partial_name: partial_name, data: data }%>
      </div>

      <div class="panel-body reduced_padding">
        <canvas id="bar-chart-patient-rating_<%= partial_name %>" width="800" height="400"></canvas>
      </div>
    </div><!-- panel -->
    
  </div>
  <% if partial_name %>
    <div class="col-md-6">
      <div class="table_wrapper">
      <table class="table table_data table-bordered table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Usability</th>
            <th>Waiting</th>
            <th>Cleanliness</th>
            <th>OverallCare</th>
            <th>Recommendation</th>
            <th>Average</th>
          </tr>
        </thead>
        <tbody>
          <% @facility_feedback_label.each_with_index do |f_name, indx|%>
            <tr>
              <td><%= f_name %></td>
              <td><%= @facility_feedback_data[0]["data"][indx] %></td>
              <td><%= @facility_feedback_data[1]["data"][indx] %></td>
              <td><%= @facility_feedback_data[2]["data"][indx] %></td>
              <td><%= @facility_feedback_data[3]["data"][indx] %></td>
              <td><%= @facility_feedback_data[4]["data"][indx] %></td>
              <td><%= @facility_feedback_data[5]["data"][indx] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  <% end %>
  
</div> <!-- row end -->


<script>
  new Chart(document.getElementById("bar-chart-patient-rating_<%= partial_name %>"), {
    type: 'bar',
    data: {
      labels: <%= raw @facility_feedback_label %>,
      datasets: <%= raw @facility_feedback_data.to_json %>
    },
    options: {
      responsive: true,
      legend: { display: false },
      title: {
        display: true
      },
      scales: {
        yAxes: [{
          stacked: true,
          barPercentage: 0.0,
          categoryPercentage: 0.0,
          ticks: {
            beginAtZero: true
          },
          gridLines:{
            display : false
          }
        }],
        xAxes: [{
          stacked: true,
          maxBarThickness: 20,
          barPercentage: 0.4,
          categoryPercentage: 0.4,
          gridLines:{
            display : false
          },
          ticks:{
            minRotation: 0,
            maxRotation:0
          }
        }]
      }
    }
  });
</script>
