<% partial_name = @partial_name.present? %>
<% data = {
    service_name: "PatientsAllergyData",
    action_name: "all_allergy_data",
    partial_name: "patients_allergy_all"
}%>
<div class="row">
  <div class="<%= partial_name ? 'col-md-6': 'col-md-12' %>">
    <div class="panel panel-default panel_b borderd_panel">
      <div class="panel-heading to_add_expand_button">
        <h5 class="subtitle mb5"><i class="fa fa-bar-chart" aria-hidden="true"></i>  <strong> All Allergies</strong></h5>
        <%= render partial: "/analytics/shared/expand_button", locals:{partial_name: partial_name, data: data } %>
      </div>
      <div class="panel-body reduced_padding">
        <canvas id="patients-allergy_all_data_<%= partial_name %>" width="800" height="400"></canvas>
      </div>
    </div>
  </div>
  <% if partial_name %>
    <div class="col-md-6">
      <div class="table_wrapper">
        <table class="table table_data table-bordered table-hover">
          <thead>
          <tr>
            <th>Allergy Name</th>
            <th>Male</th>
            <th>Female</th>
            <th>Transgender</th>
            <th>Other</th>
          </tr>
          </thead>
          <tbody>
          <% @all_allergy_label.each_with_index do |f_name, indx|%>
            <tr>
              <td><%= f_name %></td>
              <td><%= @all_allergy_data[0]["data"][indx].to_i %></td>
              <td><%= @all_allergy_data[1]["data"][indx].to_i %></td>
              <td><%= @all_allergy_data[2]["data"][indx].to_i %></td>
              <td><%= @all_allergy_data[3]["data"][indx].to_i %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>

</div>

<script>
  new Chart(document.getElementById("patients-allergy_all_data_<%= partial_name %>"), {
    type: 'bar',
    data: {
      labels: <%=raw @all_allergy_label  %>,
      datasets: <%=raw @all_allergy_data.to_json %>,
    },
    options: {
      legend: { display: true },
      responsive: true,
      title: {
        display: false,
        text: 'Patient Allergy Data'
      },
      scales: {
        yAxes: [{
          stacked: true,
          barPercentage: 0.4,
          categoryPercentage: 0.4,
          gridLines: {
            display: false
          },
          ticks: {
            beginAtZero: true,
          },
        }],
        xAxes: [{
          stacked: true,
          barPercentage: 0.4,
          categoryPercentage: 0.8,
          gridLines:{
            display : false
          },
        }]
      }
    }
  });

</script>
<style>
  .no_data{
    text-align: center;
    color: #444;
  }
</style>
