<% partial_name = @partial_name.present? %>
<% data = {
    service_name: "PatientOutcome",
    action_name: "patient_count_surgery_type",
    partial_name: "patients_count_by_surgery_type"
}%>
<div class="row">
  <div class="<%= partial_name ? 'col-md-6': 'col-md-12' %>">
    <div class="panel panel-default panel_b borderd_panel">
      <div class="panel-heading to_add_expand_button">
        <h5 class="subtitle mb5 title_in_caps"><i class="fa fa-bar-chart" aria-hidden="true"></i>  <strong> Patients Count By Surgeries Type</strong></h5>
        <%= render partial: "/analytics/shared/expand_button", locals:{ partial_name: partial_name, data: data } %>
      </div>
      <div class="panel-body reduced_padding">
        <canvas id="patients_count_by_surgery_type_<%= partial_name %>" width="800" height="400"></canvas>
      </div>
    </div>
  </div>
  <% if partial_name %>
    <div class="col-md-6">
      <div class="table_wrapper">
        <table class="table table_data table-bordered table-hover">
          <thead>
          <tr>
            <th>Surgery</th>
            <th>Count</th>
          </tr>
          </thead>
          <tbody>
          <% @surgery_label.each_with_index do |f_name, indx|%>
            <tr>
              <td><%= f_name %></td>
              <td><%= @count_data[indx].to_i %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>


<script type="text/javascript">
  // example
  var patients_count_by_surgery_type = document.getElementById("patients_count_by_surgery_type_<%= partial_name %>");
  var patients_count_by_surgery_type_chart = new Chart(patients_count_by_surgery_type, {
    type: 'doughnut',
    data: {
      labels: <%= raw @surgery_label %>,
      datasets: [{
        label: '',
        data: <%= raw @count_data %>,
        backgroundColor: ['#acc236','#166a8f','#00a950','#58595b','#8549ba']
      }
      ]
    },
    options: {
      responsive: true,
      legend: {
        display: <%= partial_name %>,
        position: 'top',
      },
      title: {
        display: false,
        // text: 'Surgery Type'
      },
      animation: {
        animateScale: true,
        animateRotate: true
      }
    }
  });

</script>