<% partial_name = @partial_name.present? %>
<% data = {
    service_name: "DoctorOperationalData",
    action_name: "doctor_average_time",
    partial_name: "patient_seen_count"
}%>
<div class="row">
  <div class="<%= partial_name ? 'col-md-6': 'col-md-12' %>">
    <div class="panel panel-default panel_b borderd_panel">
      <div class="panel-heading to_add_expand_button">
        <h5 class="subtitle mb5 title_in_caps"><i class="fa fa-bar-chart" aria-hidden="true"></i><strong>Frequency of Patient Seen</strong></h5>
        <%=render partial: "/analytics/shared/expand_button", locals:{partial_name: partial_name, data: data }%>
      </div>
      <div class="panel-body reduced_padding">
        <canvas id="bar-chart-patient_seen_<%= partial_name %>" width="800" height="400"></canvas>
      </div>
    </div>
  </div>
  <% if partial_name %>
    <div class="col-md-6">
      <div class="table_wrapper">
        <table class="table table_data table-bordered table-hover">
          <thead>
          <tr>
            <th>On</th>
            <th>Patient Seen Count</th>
          </tr>
          </thead>
          <tbody>
          <% @doctor_name_labels.each_with_index do |f_name, indx|%>
            <tr>
              <td><%= f_name %></td>
              <td><%= @total_patient_seen[indx].to_i %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>

<script>

  new Chart(document.getElementById("bar-chart-patient_seen_<%= partial_name %>"), {
    type: 'bar',
    data: {
      labels: <%=raw @doctor_name_labels %>,
      datasets: [
        {
          label: "Patient Seen",
          backgroundColor: ["#82ccdd", "#fed156","#1B9CFC","#58B19F","#c45850","#182C61"],
          data: <%=raw @total_patient_seen %>
        }
      ]
    },
    options: {
      responsive: true,
      legend: { display: false },
      title: {
        display: false,
        text:""
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          },
          gridLines:{
            display : false
          }
        }],
        xAxes: [{
          maxBarThickness: 20,
          gridLines:{
            display : false
          },
          barPercentage: 0.4
        }]
      }
    }
  });
</script>