<% partial_name = @partial_name.present? %>
<% data = {
  service_name: "DoctorOperationalData",
  action_name:  "total_patient_seen_by_doc_in_facility",
  partial_name: "total_patient_seen_by_doc_in_facility"
}%>
<div class="row">
  <div class="<%= partial_name ? 'col-md-6': 'col-md-12' %>">
    <div class="panel panel-default panel_b borderd_panel">
      <div class="panel-heading to_add_expand_button">
        <h5 class="subtitle mb5 title_in_caps"><i class="fa fa-bar-chart" aria-hidden="true"></i><strong>PATIENT SEEN IN EACH FACILITY (TOP 5 FACILITY)</strong></h5>
        <%=render partial: "/analytics/shared/expand_button", locals:{partial_name: partial_name, data: data }%>
      </div>
      <div class="panel-body reduced_padding">
        <canvas id="total_patient_seen_by_doc_in_facility_<%= partial_name %>" width="800" height="400"></canvas>
      </div>
    </div>
  </div>
  <% if partial_name %>
    <div class="col-md-6">
      <div class="table_wrapper">
      <table class="table table_data table-bordered table-hover">
        <thead>
          <tr>
            <th>Facility Name</th>
            <th>Facility Code</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
       
          <% @all_facility_name_seen.each_with_index do |f_name, indx|%>
            <tr>
              <td><%= f_name %></td>
              <td><%= @all_facility_abbreviation[indx].to_s %></td>
              <td><%= @all_total_patient_seen_count[indx].to_i %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  <% end %>
</div>

<script>
  
  var ctx = document.getElementById('total_patient_seen_by_doc_in_facility_<%= partial_name %>');
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: <%= raw @facility_name_label %>,
      datasets: [
        {
          label: 'Seen',
          data: <%= raw @total_patient_seen_count %>,
          backgroundColor: '#54a0ff',
        }
      ]
    },
    options: {
      legend: { display: false },
      responsive: true,
      title: {
        display: false
      },
      scales: {
        yAxes: [{
          stacked: false,
          barPercentage: 0.4,
          gridLines:{
            display : false
          },
          ticks: {
            beginAtZero: true,
            // stepSize: 1
          }
        }],
        xAxes: [{
          stacked: false,
          barPercentage: 0.4,
          categoryPercentage: 0.4,
          gridLines:{
            display : false
          },
          maxBarThickness:20
        }]
      }
    }
  });
</script>