<% partial_name = @partial_name.present? %>
<% data = {
  service_name: "FinanceOverviewData",
  action_name: "periodic_outpatient_data",
  partial_name: "total_opd_old_collection"
}%>
<div class="row">
  <div class="<%= partial_name ? 'col-md-6': 'col-md-12' %>">
    <div class="panel panel-default panel_b borderd_panel">
      <div class="panel-heading to_add_expand_button">
        <h5 class="subtitle mb5 title_in_caps"><i class="fa fa-bar-chart" aria-hidden="true"></i><strong>Opd old earnings</strong></h5>
        <%=render partial: "/analytics/shared/expand_button", locals:{partial_name: partial_name, data: data }%>
      </div>
      <div class="panel-body reduced_padding">
        <canvas id="old-chart_<%= partial_name %>" width="800" height="400"></canvas>
      </div>
    </div>
  </div>
  <% if partial_name %>
    <div class="col-md-6">
      <div class="table_wrapper">
      <table class="table table_data table-bordered table-hover">
        <thead>
          <tr>
            <th>On</th>
            <th>Total OPD Old Earning</th>
          </tr>
        </thead>
        <tbody>
          <% appointment_chart_labels = @appointment_chart_labels.reverse %>
          <% weekly_opd_old_patient_amount = @weekly_opd_old_patient_amount.reverse %>
          <% appointment_chart_labels.each_with_index do |f_name, indx|%>
            <tr>
              <td><%= f_name %></td>
              <td><%= weekly_opd_old_patient_amount[indx].to_f %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  <% end %>

</div>




<script>
var ctx = document.getElementById('old-chart_<%= partial_name %>');

var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: <%= raw @appointment_chart_labels%>,
    datasets: [
      {
        label: 'Old Patient',
        data: <%= raw @weekly_opd_old_patient_amount%>,
        backgroundColor: '#1e3799',
      }
    ]
  },
  options: {
      legend: { display: false },
      responsive: true,
      title: {
        display: false,
      },
      scales: {
        yAxes: [{
            stacked: true,
            barPercentage: 0.4,
            categoryPercentage: 0.4,
            gridLines:{
              display : false
            },
            ticks: {
              beginAtZero: true
//              stepSize: 1
            }
        }],
        xAxes: [{
          maxBarThickness: 20,
          stacked: true,
          barPercentage: 0.4,
          categoryPercentage: 0.4,
            gridLines:{
                display : false
            }
        }]
      }
    }
});
</script>