<div class="patient-card">
  <div class="col-md-8 col-xs-offset-2" style="font-size: 12px; border:2px solid black;padding: 5px;width: 70%;">
    <div class="row">
      <div class="col-md-12" style="text-align: center;">
        <h4><b><%= current_organisation['name'] %></b></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <% @poi = PatientOtherIdentifier.find_by(patient_id: @patient.id) %>
        <% patient_identifier = PatientIdentifier.find_by(patient_id: @patient.id).try(:patient_org_id) %>
        <div class="row no_margin">
          <div class="col-sm-3 col-sm-offset-1 no_padding text-right"><b>Patient</b></div>
          <div class="col-sm-1 no_padding text-left">&nbsp;&nbsp;:</div>
          <div class="col-sm-5 no_padding text-left"><b><%= @patient.fullname.to_s.upcase %></b>
          </div>
        </div>
        <% if @patient.calculate_age.present? || @patient.gender.present? %>
          <div class="row no_margin">
            <div class="col-sm-3 col-sm-offset-1 no_padding text-right"><b>Age/Sex</b></div>
            <div class="col-sm-1 no_padding text-left">&nbsp;&nbsp;:</div>
            <div class="col-sm-5 no_padding text-left"><%= @patient.try(:calculate_age) %>/<%= @patient.try(:gender) %></div>
          </div>
        <% end %>
        <% if patient_identifier.present? %>
          <div class="row no_margin">
            <div class="col-sm-3 col-sm-offset-1 no_padding text-right"><b>PID</b></div>
            <div class="col-sm-1 no_padding text-left">&nbsp;&nbsp;:</div>
            <div class="col-sm-5 no_padding text-left"><%= patient_identifier %></div>
          </div>
        <% end %>
        <% if @poi.mr_no.present? %>
          <div class="row no_margin">
            <div class="col-sm-3 col-sm-offset-1 no_padding text-right"><b>MR No.</b></div>
            <div class="col-sm-1 no_padding text-left">&nbsp;&nbsp;:</div>
            <div class="col-sm-5 no_padding text-left"><%= @poi.try(:mr_no) %></div>
          </div>
        <% end %>
        <% if @patient.mobilenumber.present? %>
          <div class="row no_margin">
            <div class="col-sm-3 col-sm-offset-1 no_padding text-right"><b>Contact</b></div>
            <div class="col-sm-1 no_padding text-left">&nbsp;&nbsp;:</div>
            <div class="col-sm-5 no_padding text-left"><%= @patient.mobilenumber %></div>
          </div>
        <% end %>
        <% if @patient.city.present? || @patient.state.present? || @patient.pincode.present? || @patient.commune.present? || @patient.district.present?%>
          <div class="row no_margin">
            <div class="col-sm-3 col-sm-offset-1 no_padding text-right"><b>Address</b></div>
            <div class="col-sm-1 no_padding text-left">&nbsp;&nbsp;:</div>
            <div class="col-sm-5 no_padding text-left">
              <% if @patient.city.present? %><%= @patient.city %><% end %>
              <% if @patient.state.present? %>
                <% if @patient.city.present? %>,<% end %>
                <%= @patient.state.titleize %>
              <% end %>
              <% if @patient.pincode.present? %>
                <% if @patient.city.present? || @patient.state.present? %> - <% end %>
                <%= @patient.pincode %>
              <% end %>
              <% if @patient.district.present? %>
                <% if @patient.city.present? %>,<% end %>
                <%= @patient.district.titleize %>
              <% end %>
              <% if @patient.commune.present? %>
                <% if @patient.city.present? || @patient.district.present? %>,<% end %>
                  <%= @patient.commune.titleize %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>