<div style="font-size: 20px;">
  <div class="row patient-details" style="width: 100%;">
    <div class="col-md-12 details">
      <div class="col-md-12" style="font-size: 30px;" ><%= @patient.try(:patient_identifier_id).to_s.upcase %></div>
      <div class="col-md-12" style="font-style: italic;font-size: 25px;"> <%= @patient.fullname %> </div>
      <div class="col-md-6"> <%= @patient.gender %>/<%=  @patient&.age || 'Age' %> </div>
      <div class="col-md-6" style="font-size: 20px;text-align: left; margin-left: -10%;"> <%=  @patient.created_at.try(:strftime, "%d-%b-%Y") %> </div>
      <div class="col-md-12"> <%= @patient&.address_1%>  <%= @patient.city%></div>
      <div class="col-md-6"> <%= @patient&.mobilenumber%></div>
    </div>
  </div>
</div>

<style>

  .details {
    /*margin: 5%;*/
    /*width: 85%;*/
    /*margin-left: -5%;*/
    margin-top: 30% !important;
    /*padding: 50px; !important;*/
    /*-webkit-transform: rotate(-90deg); !* Safari prior 9.0 *!*/
    /*transform: rotate(-90deg);*/
  }


</style>