<div class="row mb30" style="margin-top: 20px;">
    <div class="col-md-12 mb10">
      <div class="row">
        <div class="col-md-2">
          <b>Ward Note:</b>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.text_area :notetext, {class: "form-control", rows:5,value: @ward_note.read_attribute(:notetext)} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mb10">
      <div class="row">
        <div class="col-md-2">
          <b>Anthropometry:</b>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <b>Height</b>
                <div class="input-group">
                  <%= f.number_field :anthropometryheight, {class: "form-control anthropometryheight",value: @ward_note.read_attribute(:anthropometryheight)} %>
                  <span class="input-group-addon">cms</span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <b>Weight</b>
                <div class="input-group">
                  <%= f.number_field :anthropometryweight, {class: "form-control anthropometryweight",value: @ward_note.read_attribute(:anthropometryweight)} %>
                  <span class="input-group-addon">kg</span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <b>BMI</b>
                <div class="input-group">
                  <%= f.number_field :anthropometrybmi, {class: "form-control anthropometrybmi",value: @ward_note.read_attribute(:anthropometrybmi)} %>
                  <span class="input-group-addon">kg/m2</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mb10">
       <div class="row">
         <div class="col-md-2">
           <b>Vital Signs:</b>
         </div>
         <div class="col-md-10">
           <div class="row">
             <div class="col-md-4">
               <div class="form-group">
                 <b>Temperature</b>
                 <div class="input-group">
                   <%= f.number_field :vitalsignstemperature, {class: "form-control vitalsignstemperature",value: @ward_note.read_attribute(:vitalsignstemperature)} %>
                   <span class="input-group-addon">°C</span>
                 </div>
               </div>
             </div>
             <div class="col-md-4">
               <div class="form-group">
                 <b>Pulse</b>
                 <div class="input-group">
                  <%= f.number_field :vitalsignspulse, {class: "form-control vitalsignspulse",value: @ward_note.read_attribute(:vitalsignspulse)} %>
                   <span class="input-group-addon">bpm</span>
                 </div>
               </div>
             </div>
             <div class="col-md-4">
               <div class="form-group">
                 <b>Blood Pressure</b>
                 <div class="input-group">
                   <%= f.text_field :vitalsignsbp, {class: "form-control vitalsignsbp",value: @ward_note.read_attribute(:vitalsignsbp)} %>
                   <span class="input-group-addon">mmHg</span>
                 </div>
               </div>
             </div>
             <div class="col-md-4">
               <div class="form-group">
                 <b>RR</b>
                 <div class="input-group">
                   <%= f.number_field :vitalsignsrr, {class: "form-control vitalsignsrr",value: @ward_note.read_attribute(:vitalsignsrr)} %>
                   <span class="input-group-addon">brpm</span>
                 </div>
               </div>
             </div>
             <div class="col-md-4">
              <div class="form-group">
                <b>SpO2</b><br/>
                <div class="input-group">
                <%= f.number_field :vitalsignsspo2, { class: "form-control vitalsignsspo2", value: @ward_note.read_attribute(:vitalsignsspo2), onkeypress:'return event.charCode >= 48 && event.charCode <= 57', min: "0", max: "100"} %>
                  <span class="input-group-addon">%</span>
                </div>
              </div>
            </div>
           </div>
         </div>
       </div>
    </div>
  </div>
</div>

<style type="text/css">
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>
<script type="text/javascript">
  $(".anthropometryheight, .anthropometryweight").on('keyup', function() {
    if (($(".anthropometryheight").val().length > 0) && ($(".anthropometryweight").val().length > 0)) {
      var height = $(".anthropometryheight").val() / 100;
      var weight = $(".anthropometryweight").val();
      var bmi = "";
      bmi = weight / Math.pow(height, 2);
      $(".anthropometrybmi").val(bmi.toFixed(1));
    }
  });

  $('.vitalsignsspo2').on('keyup change', function(){
    var pattern = new RegExp('^[0-9]$|^[1-9][0-9]$|^(100)$');
    if(!$(this).val().match(pattern)){
      $(this).val('')
    }
  });
</script>