<div class="row mb10">
  <div class="col-md-4">
    <% if lab_test.try(:laboratory_panel_investigation_datas) %>
        <%= f.text_field :investigation_name,:value => lab_test.investigation_name ,class: "form-control"%>
    <% end %>
  </div>
</div>


<% if lab_test.try(:laboratory_panel_investigation_datas)%>
    <% i = 0 %>
    <%= f.fields_for :panel_records do |panel_test| %>

        <div class="row mb10">
          <div class="col-md-4">
            <%= lab_test.laboratory_panel_investigation_datas[i].investigation_name %>
            <%= panel_test.hidden_field :investigation_name,value: lab_test.laboratory_panel_investigation_datas[i].investigation_name%>
          </div>

          <div class="col-md-4">
            <%= panel_test.text_field :investigation_val,class: "form-control "%>
          </div>

          <div class="col-md-4">
            <%= panel_test.text_field :normal_range,value: lab_test.laboratory_panel_investigation_datas[i].normal_range,class: "form-control "%>
          </div>
        </div>
        <% i+=1 %>
    <% end %>
<%else%>
    <%= render partial: 'investigation/records/common_form',locals: {f: f,lab_test: lab_test,action: 'new'} %>
<% end %>