<div class="row mb10">
  <div class="col-md-12 text-center">
    <h3 style="color:#000;"><%= @creditor %></h3>
  </div>
</div>
<% if @contact.present? %>
  <div class="row mb10">
    <div class="col-md-6">
      <% if @contact.first_name.present? || @contact.last_name.present? %>Name: <%= "#{@contact.first_name} #{@contact.last_name}" %><% end %>
      <% if @contact.company_name.present? %><br>Company: <%= @contact.company_name %><% end %>
    </div>
    <div class="col-md-6 text-right">
      <%= @contact.address_line_1 + ',' if @contact.address_line_1.present? %><% if @contact.address_line_1.present? %><br><% end %>
      <%= @contact.address_line_2 + ',' if @contact.address_line_2.present? %><% if @contact.address_line_2.present? %><br><% end %>
      <%= @contact.city + ',' if @contact.city.present? %>
      <%= @contact.state + ' - ' if @contact.state.present? %>
      <%= @contact.pincode if @contact.pincode.present? %>
    </div>
  </div>
<% end %>

<table class="table table_for_printing">
  <thead>
    <tr>
      <th class="text-center">Patient</th>
      <th class="text-center">Number</th>
      <th class="text-center">Patient ID</th>
      <th class="text-center">Receipt ID</th>
      <th class="text-center">Receipt Date</th>
      <th class="text-right">Receipt Amount</th>
      <th class="text-right">Amount Pending</th>
    </tr>
  </thead>
  <tbody>
    <% @payment_pending.order(created_at: :desc).each do |payment_pending| %>
      <tr>
        <td class="text-center"><b style="color:#000;"><%= payment_pending.invoice.patient.fullname %></b></td>
        <td class="text-center"><b style="color:#000;"><%= payment_pending.invoice.patient.mobilenumber %></b></td>
        <td class="text-center"><b style="color:#000;"><%= payment_pending.invoice.patient.patient_identifier_id %><%= "<br>".html_safe + (payment_pending.invoice.patient.patient_mrn if payment_pending.invoice.patient.patient_mrn.present?) %></b></td>
        <td class="text-center"><b style="color:#000;"><%= payment_pending.invoice.bill_number %></b></td>
        <td class="text-center"><b style="color:#000;"><%= payment_pending.created_at.strftime('%d/%m/%Y') %></b></td>
        <td class="text-right"><b style="color:#000;"><%= payment_pending.invoice.net_amount %></b></td>
        <td class="text-right"><b style="color:#000;"><%= payment_pending.amount %></b></td>
      </tr>
    <% end %>
  </tbody>
</table>