<% colspan = 2 # As SNo. and PatientName has no checks %>
<% colspan += 1 if (@patient_id || @mr_no) %>
<% colspan += 1 if @cash_register_id %>

<div class="row">
  <div class="col-md-12 text-center">
    <h3 style="color:#000;">IPD CASH REGISTERS <small>(<%= Date.parse(@start_date).strftime('%d/%m/%Y') %>)</small></h3>
  </div>
</div>

<table class="table">
  <thead style="border-top:1px solid #000;border-bottom:1px solid #000;">
    <tr>
      <th>S No.</th>
      <% if @patient_id || @mr_no %><th class="text-center">Patient ID</th><% end %>
      <th>Patient Name</th>
      <% if @cash_register_id %><th>Cash Reg. ID</th><% end %>
      <% if @amount %><th class="text-right">Amount</th><% end %>
    </tr>
  </thead>
  <tbody style="border-top:1px solid #000;border-bottom:1px solid #000;">
    <% if @cash_reg_adm.count > 0 %>
      <tr>
        <td class="main-display-row" colspan="<%= colspan %>">Total <%= @cash_reg_adm.count %> Receipts :</td>
        <% if @amount %><td class="text-right main-display-row">&#8377;<%= @cash_reg_adm.pluck(:total).map(&:to_f).sum %></td><% end %>
      </tr>
      <% @cash_reg_adm.each.with_index do |cash_reg_adm, i| %>
      <tr>
        <td><%= i+1 %></td>
        <% if @patient_id || @mr_no %>
          <td class="text-center">
            <% if @patient_id %><%= cash_reg_adm.patient.patient_identifier_id %><% end %>
            <% if @patient_id && @mr_no %><br><% end %>
            <% if @mr_no %><%= (cash_reg_adm.patient.patient_mrn if cash_reg_adm.patient.patient_mrn.present?) %><% end %>
          </td>
        <% end %>
        <td><%= cash_reg_adm.patient.fullname %></td>
        <% if @cash_register_id %><td><%= cash_reg_adm.bill_number %></td><% end %>
        <% if @amount %><td class="text-right">&#8377; <%= cash_reg_adm.total %></td><% end %>
      </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="5" class="text-center">No Data to Display</td>
      </tr>
    <% end %>
  </tbody>
</table>