<div class="row">
  <div class="col-md-12 text-center">
    <h3 style="color:#000;">OPTICAL INCOME <small>(<%= Date.parse(@start_date).strftime('%d/%m/%Y') %> - <%= Date.parse(@end_date).strftime('%d/%m/%Y') %>)</small></h3>
  </div>
</div>

<table class="table">
  <thead style="border-top:1px solid #000;border-bottom:1px solid #000;">
    <tr>
      <th><b>S No.</b></th>
      <th><b>Date</b><span style="font-size:8px;">&nbsp;(Click For Details)</span></th>
      <!-- <th class="text-right"><b>Tax</b></th> -->
      <th class="text-right"><b>Total</b></th>
    </tr>
  </thead>
  <tbody style="border-top:1px solid #000;border-bottom:1px solid #000;">
    <% if @optical_dates.count > 0 %>
      <tr>
        <td class="main-display-row" colspan="2">Total :</td>
        <td class="main-display-row text-right">&#8377; <%= @optical_total.sum.to_f %></td>
      </tr>
      <% @optical_dates.each_with_index do |optical_date, i| %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= Date.parse(optical_date).strftime('%d/%m/%Y') %></td>
            <!-- <td class="text-right">&#8377; <%#= @optical_tax[i].flatten.inject(0){|amount,x| amount += x[:amount].to_f}.round(2) %></td> -->
            <td class="text-right">&#8377; <%= @optical_total[i].to_f.round(2) %></td>
          </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="11" class="text-center">No Data to Display</td>
      </tr>
    <% end %>
  </tbody>
</table>