<div class="modal-dialog modal-hg-fileupload" style="width: 600px;">
  <div class="modal-content">
    <div class="modal-header">
      <div class="pull-right"> <!-- Action Buttons starts -->
        <button aria-hidden="true" class="btn btn-sm btn-success savecorneadiagram">Save Diagram</button>
        <button aria-hidden="true" class="btn btn-sm btn-danger closecorneadiagram" data-dismiss="modal">Cancel</button>
      </div> <!-- Action Buttons ends -->
      <h3>Cornea Diagram</h3>
      <%= stylesheet_link_tag "wColorPicker.min", media: "all", "data-turbolinks-track" => true, 'data-turbolinks-eval'=>false %>
      <%= javascript_include_tag "wColorPicker.min", "data-turbolinks-track" => true %>

      <%= stylesheet_link_tag "wPaint.min", media: "all", "data-turbolinks-track" => true, 'data-turbolinks-eval'=>false %>
      <%= javascript_include_tag "wPaint.min", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "wPaint.menu.main.min", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "wPaint.menu.text.min", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "wPaint.menu.main.shapes.min", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "wPaint.menu.main.file.min", "data-turbolinks-track" => true %>
    </div>
    <div class="modal-body">
      <%= hidden_field_tag "opdrecord[eyeside_cornea]", "#{eyeside}" %>
      <%= hidden_field_tag "opdrecord[#{eyeside}_cornea_diagram]", "#{eyeside}" %>
      <%= hidden_field_tag "opdrecord[patient_id]", "#{patient_id}" %>
      <center>
        <div style="position:relative; width:100%; height:600px; background-color:#FFF; border:solid black 1px; overflow:hidden;">
          <div id="wPaint" class="wPaint" style="position:relative; width:511px; height:500px; margin:70px auto 20px auto;"></div>
        </div>
      </center>
    </div>
  </div>
</div>