<div class="row">
  <div class="col-md-3 col-sm-3">
    <% temp_asset_id = "#{eyeside}_fundus_temp_asset_id" %>
    <% temp_asset = opdrecord.send(temp_asset_id) %>
    <%# fundus_image_url_thumb = "#{eyeside}_fundus_diagram_thumb" %>
    <% fundus_image_url_thumb = PatientSummaryAssetUpload.find_by(id: temp_asset).try(:asset_path) %>
    <%#= image_tag "#{opdrecord.send(fundus_image_url_thumb)}", height: '60', width: '60' %>
    <%= image_tag fundus_image_url_thumb.to_s, height: '60', width: '60' %>
    <%= hidden_field_tag "opdrecord[eyeside]", "#{eyeside}" %>
    <%= hidden_field_tag "opdrecord[#{eyeside}_fundus_diagram_present]", "Y" %>
    <%= hidden_field_tag "opdrecord[#{eyeside}_fundus_diagram]", "#{eyeside}" %>
    <% fundus_diagram_full = "#{eyeside}_fundus_diagram_full" %>
    <%= hidden_field_tag "opdrecord[#{eyeside}_fundus_diagram_full]", "#{opdrecord.send(fundus_diagram_full)}" %>
    <% fundus_diagram_thumb = "#{eyeside}_fundus_diagram_thumb" %>
    <%= hidden_field_tag "opdrecord[#{eyeside}_fundus_diagram_thumb]", "#{opdrecord.send(fundus_diagram_thumb)}" %>
    <%= hidden_field_tag "opdrecord[#{eyeside}_fundus_temp_asset_id]", "#{opdrecord.send(temp_asset_id)}" %>

  </div>
  <div class="col-md-3 col-sm-3">
    <%= link_to opd_records_edit_fundus_diagram_path(:temp_asset_id => "#{opdrecord.send(temp_asset_id)}", :eyeside => "#{eyeside}"), :class => "btn btn-xs btn-warning editfundusdiagram", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ajax-modal', "eye_side": "#{eyeside}" } do %><i class="fa fa-file"></i> Edit <% end %>
    <div class="mb2"></div>
    <%= link_to opd_records_discard_fundus_diagram_path(:temp_asset_id => "#{opdrecord.send(temp_asset_id)}", :eyeside => "#{eyeside}"), :class => "btn btn-xs btn-danger discardfundusdiagram", :data => {:remote => true, "eye_side": "#{eyeside}" } do %><i class="glyphicon glyphicon-remove"></i> Delete <% end %>
  </div>
</div>