<div class="row">
  <div class="col-md-3 col-sm-3">
    <% temp_asset_id = "#{eyeside}_cornea_temp_asset_id" %>
    <% temp_asset = opdrecord.send(temp_asset_id) %>
    <%# cornea_image_url_thumb = "#{eyeside}_cornea_diagram_thumb" %>
    <% cornea_image_url_thumb = PatientSummaryAssetUpload.find_by(id: temp_asset).try(:asset_path) %>
    <%#= image_tag "#{opdrecord.send(cornea_image_url_thumb)}", height: '60', width: '60' %>
    <%= image_tag cornea_image_url_thumb.to_s, height: '60', width: '60' %>
    <%= hidden_field_tag "opdrecord[eyeside]", "#{eyeside}" %>
    <%= hidden_field_tag "opdrecord[#{eyeside}_cornea_diagram_present]", "Y" %>
    <%= hidden_field_tag "opdrecord[#{eyeside}_cornea_diagram]", "#{eyeside}" %>
    <% cornea_diagram_full = "#{eyeside}_cornea_diagram_full" %>
    <%= hidden_field_tag "opdrecord[#{eyeside}_cornea_diagram_full]", "#{opdrecord.send(cornea_diagram_full)}" %>
    <% cornea_diagram_thumb = "#{eyeside}_cornea_diagram_thumb" %>
    <%= hidden_field_tag "opdrecord[#{eyeside}_cornea_diagram_thumb]", "#{opdrecord.send(cornea_diagram_thumb)}" %>
    <%= hidden_field_tag "opdrecord[#{eyeside}_cornea_temp_asset_id]", temp_asset %>

  </div>
  <div class="col-md-3 col-sm-3">
    <%= link_to opd_records_edit_cornea_diagram_path(:temp_asset_id => temp_asset, :eyeside => "#{eyeside}"), :class => "btn btn-xs btn-warning editcorneadiagram", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ajax-modal', "eye_side": "#{eyeside}" } do %><i class="fa fa-file"></i> Edit <% end %>
    <div class="mb2"></div>
    <%= link_to opd_records_discard_cornea_diagram_path(:temp_asset_id => temp_asset, :eyeside => "#{eyeside}"), :class => "btn btn-xs btn-danger discardcorneadiagram", :data => {:remote => true, "eye_side": "#{eyeside}" } do %><i class="glyphicon glyphicon-remove"></i> Delete <% end %>
  </div>
</div>