<% country_id = current_facility.country_id %>
  <div class="row l-visualacuity-row">
    <div class="col-md-12 col-sm-12 l-visualacuity-column questionsforvisualacuity" id="l-questionsforvisualacuity" style="padding-top: 3px;">
      <div class="col-md-3 col-sm-3" style="padding: 0px">
        <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>VISUAL ACUITY (Va)&nbsp;&nbsp;</strong><i class="fa fa-arrow-left lvacopybutton" title="Copy Left to Right" aria-hidden="true"></i></div>
      </div>
      <% if @organisations_setting.mandatory_opd_templates %>
        <div class="col-md-6 col-sm-6" style="margin-left: 8px; margin-top: -1px;">
          <div class="ckbox ckbox-success">
            <%= f.check_box :no_left_va_advised, {class: "left_va_advised", :value => opdrecord.read_attribute(:no_left_va_advised)}, "true", "false" %>
            <label for="opdrecord_no_left_va_advised">VA not examined</label>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-12 col-sm-12 l-answersforvisualacuity">
      <div class="row col-md-12 col-sm-12">
          <span class="col-md-2 col-sm-2">UCVA <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_l_visualacuity_unaided" class="clear_l_visualacuity_unaided">clear</small>
            <%= f.input_field :l_visualacuity_unaided_comments, class: 'l_visualacuity_unaided_comments form-control form-control-comment ref_field', maxlength: 12, required: false, name: 'opdrecord[l_visualacuity_unaided_comments]', value: opdrecord.read_attribute(:l_visualacuity_unaided_comments) %>
          </span>
        <%= f.input :l_visualacuity_unaided, wrapper_html: { class: 'col-md-9 col-sm-9', style: 'padding: 0px' }, collection: opdrecord.visual_acuity_values(country_id), as: :hg_radio_button, label: false, required: false, class: 'btn btn-xs btn-white l_va l_visualacuity_unaided', input_html: { name: 'opdrecord[l_visualacuity_unaided]' }, checked: opdrecord.read_attribute(:l_visualacuity_unaided) %>
        <%= f.input :l_visualacuity_unaided_p, wrapper_html: { class: 'col-md-1 col-sm-1' }, collection: [['P', 'P']], as: :hg_checkbox, label: false, required: false, class: 'btn btn-xs btn-white l_va l_visualacuity_unaided_p l_va_unaided_p', input_html: { name: 'opdrecord[l_visualacuity_unaided_p]' }, checked: opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_visualacuity_unaided_p)) %>
        <span class="col-md-2 col-sm-2">Near<small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_l_visualacuity_ua_near" class="clear_l_visualacuity_ua_near">clear</small>
          <%= f.input_field :l_visualacuity_ua_near_comments, class: 'l_visualacuity_ua_near_comments form-control form-control-comment ref_field', maxlength: 12, required: false, name: 'opdrecord[l_visualacuity_ua_near_comments]', value: opdrecord.read_attribute(:l_visualacuity_ua_near_comments) %>
        </span>
        <%= f.input :l_visualacuity_ua_near, wrapper_html: { class: 'col-md-9 col-sm-9', style: 'padding: 0px' }, collection: opdrecord.visual_acuity_near_values(country_id), as: :hg_radio_button, label: false, required: false, class: 'btn btn-xs btn-white l_va l_visualacuity_ua_near', input_html: { name: 'opdrecord[l_visualacuity_ua_near]' }, checked: opdrecord.read_attribute(:l_visualacuity_ua_near) %>
        <%= f.input :l_visualacuity_ua_near_p, wrapper_html: { class: 'col-md-1 col-sm-1' }, collection: [['P', 'P']], as: :hg_checkbox, label: false, required: false, class: 'btn btn-xs btn-white l_va l_visualacuity_ua_near_p', input_html: { name: 'opdrecord[l_visualacuity_ua_near_p]' }, checked: opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_visualacuity_ua_near_p)) %>
        <div class="col-md-offset-2 col-sm-offset-2 col-md-10 col-sm-10 mb10" style="padding: 0px">
          <div class="col-md-1 col-sm-1" style="margin-top: 1%">PR:</div>
          <div class="col-md-10 col-sm-10" style="padding: 0">
            <span class="col-md-1 col-sm-1 text-right" style="margin-top: 1%">S</span>
            <%= f.input :l_visualacuity_ua_s, wrapper_html: { class: 'col-md-2 col-sm-2' }, collection: ['+', '-'], include_blank: 'Sel', label: false, required: false, class: 'btn btn-xs btn-white l_va l_visualacuity_ua_s form-control', input_html: { name: 'opdrecord[l_visualacuity_ua_s]', class: 'form-control l_va l_visualacuity_ua_s', style: 'padding: 4px 0px' }, checked: opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_visualacuity_ua_s)) %>
            <span class="col-md-1 col-sm-1 text-right" style="margin-top: 1%">I</span>
            <%= f.input :l_visualacuity_ua_i, wrapper_html: { class: 'col-md-2 col-sm-2' }, collection: ['+', '-'], include_blank: 'Sel', label: false, required: false, class: 'btn btn-xs btn-white l_va l_visualacuity_ua_i form-control', input_html: { name: 'opdrecord[l_visualacuity_ua_i]', class: 'form-control l_va l_visualacuity_ua_i', style: 'padding: 4px 0px' }, checked: opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_visualacuity_ua_i)) %>
            <span class="col-md-1 col-sm-1 text-right" style="margin-top: 1%">N</span>
            <%= f.input :l_visualacuity_ua_n, wrapper_html: { class: 'col-md-2 col-sm-2' }, collection: ['+', '-'], include_blank: 'Sel', label: false, required: false, class: 'btn btn-xs btn-white l_va l_visualacuity_ua_n form-control', input_html: { name: 'opdrecord[l_visualacuity_ua_n]', class: 'form-control l_va l_visualacuity_ua_n', style: 'padding: 4px 0px' }, chncked: opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_visualacuity_ua_n)) %>
            <span class="col-md-1 col-sm-1 text-right" style="margin-top: 1%">T</span>
            <%= f.input :l_visualacuity_ua_t, wrapper_html: { class: 'col-md-2 col-sm-2' }, collection: ['+', '-'], include_blank: 'Sel', label: false, required: false, class: 'btn btn-xs btn-white l_va l_visualacuity_ua_t form-control', input_html: { name: 'opdrecord[l_visualacuity_ua_t]', class: 'form-control l_va l_visualacuity_ua_t', style: 'padding: 4px 0px' }, checked: opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_visualacuity_ua_t)) %>
          </div>
        </div>
        <span class="col-md-2 col-sm-2">Pinhole <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_l_visualacuity_pinhole">clear</small>
          <%= f.input_field :l_visualacuity_pinhole_comments, class: 'form-control form-control-comment ref_field', maxlength: 12, required: false, name: 'opdrecord[l_visualacuity_pinhole_comments]', value: opdrecord.read_attribute(:l_visualacuity_pinhole_comments) %>
        </span>
        <%= f.input :l_visualacuity_pinhole, wrapper_html: { class: 'col-md-9 col-sm-9', style: 'padding: 0px' }, collection: opdrecord.visual_acuity_values(country_id), as: :hg_radio_button, label: false, required: false, class: 'btn btn-xs btn-white l_va l_visualacuity_pinhole', input_html: { name: 'opdrecord[l_visualacuity_pinhole]' }, checked: opdrecord.read_attribute(:l_visualacuity_pinhole) %>
        <div class="col-md-1 col-sm-1 visualacuity_pinhole">
          <%= f.input :l_visualacuity_pinhole_p, wrapper_html: { class: '' }, collection: [['P', 'P']], as: :hg_checkbox, label: false, required: false, class: 'btn btn-xs btn-white l_va l_visualacuity_pinhole_p', input_html: { name: 'opdrecord[l_visualacuity_pinhole_p]' }, checked: opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_visualacuity_pinhole_p)) %>
          <%= f.input :l_visualacuity_pinhole_ni, wrapper_html: { class: '' }, collection: [['NI', 'NI']], as: :hg_checkbox, label: false, required: false, class: 'btn btn-xs btn-white l_va l_visualacuity_pinhole_ni', input_html: { name: 'opdrecord[l_visualacuity_pinhole_ni]' }, checked: opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_visualacuity_pinhole_ni)) %>
        </div>
      </div>
      <div class="row" style="padding-bottom: 20px">
        <div class="col-md-2 col-sm-2">Comments: </div>
        <div class="col-md-10 col-sm-10">
          <%= f.text_area :l_visualacuity_comments, { class: 'form-control l_visualacuity_comments', style: 'width:85%;margin-left: -9px;', required: false, name: 'opdrecord[l_visualacuity_comments]', value: opdrecord.read_attribute(:l_visualacuity_comments) } %>
        </div>
      </div>
    </div>
  </div>

  <div class="hr-line-border mb5"></div>
  <%= render partial: "opd_records/ophthalmology_notes/opd_partials/l_eye_pgp_optometrist_examination.html.erb", locals: { f: f, opdrecord: @opdrecord } %>

  <div class="hr-line-border mb5"></div>
  <div class="row l-autorefraction-row">
    <div class="col-md-12 col-sm-12 l-refraction-column questionsforautorefraction" id="l-questionsforautorefraction">
      <div class="col-md-3 col-sm-3" style="padding: 0px">
        <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>AUTO REFRACTION (ARx)&nbsp;&nbsp;</strong><i class="fa fa-arrow-left lcopybutton" title="Copy Left to Right" aria-hidden="true"></i></div>
        <span class="row col-md-12 col-sm-12" style="margin-top: 5px; cursor: pointer; display:none;" title="Fill Auto Refraction" id="fill-auto-refraction"><a href="/opd_records/ophthalmology_notes/fill_refraction_data?flag=auto_refraction" data-remote="true"> <i class="fa fa-arrow-circle-left filldatabutton "> Fill</i></a></span>
      </div>
      <div class="col-md-9 col-sm-9 l-answersforautorefraction">
        <div class="editview_toggle_l">
          <table class="table table-bordered">
            <thead>
            <tr class="success">
              <th width="20%" style="padding-top:0px;padding-bottom:0px;"></th>
              <th width="20%" style="padding-top:0px;padding-bottom:0px;">Sph</th>
              <th width="20%" style="padding-top:0px;padding-bottom:0px;">Cyl</th>
              <th width="20%" style="padding-top:0px;padding-bottom:0px;">Axis</th>
              <th width="20%" style="padding-top:0px;padding-bottom:0px;">Vision</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  Dry
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_autorefraction_dry_sph, :class => "form-control form-control-custom auto-refraction l_autorefraction_dry_sph ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_autorefraction_dry_sph]", :value => opdrecord.read_attribute(:l_autorefraction_dry_sph) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_autorefraction_dry_cyl, :class => "form-control form-control-custom auto-refraction l_autorefraction_dry_cyl ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_autorefraction_dry_cyl]", :value => opdrecord.read_attribute(:l_autorefraction_dry_cyl) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_autorefraction_dry_axis, :class => "form-control form-control-custom auto-refraction l_autorefraction_dry_axis ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_autorefraction_dry_axis]", :value => opdrecord.read_attribute(:l_autorefraction_dry_axis) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_autorefraction_dry_vision, :class => "form-control form-control-custom auto-refraction l_autorefraction_dry_vision ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_autorefraction_dry_vision]", :value => opdrecord.read_attribute(:l_autorefraction_dry_vision) %>
                </td>
              </tr>
              <tr>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_autorefraction_dry1_sph, :class => "form-control form-control-custom auto-refraction l_autorefraction_dry1_sph ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_autorefraction_dry1_sph]", :value => opdrecord.read_attribute(:l_autorefraction_dry1_sph) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_autorefraction_dry1_cyl, :class => "form-control form-control-custom auto-refraction l_autorefraction_dry1_cyl ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_autorefraction_dry1_cyl]", :value => opdrecord.read_attribute(:l_autorefraction_dry1_cyl) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_autorefraction_dry1_axis, :class => "form-control form-control-custom auto-refraction l_autorefraction_dry1_axis ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_autorefraction_dry1_axis]", :value => opdrecord.read_attribute(:l_autorefraction_dry1_axis) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_autorefraction_dry1_vision, :class => "form-control form-control-custom auto-refraction l_autorefraction_dry1_vision ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_autorefraction_dry1_vision]", :value => opdrecord.read_attribute(:l_autorefraction_dry1_vision) %>
                </td>
              </tr>
              <tr>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_autorefraction_dry2_sph, :class => "form-control form-control-custom auto-refraction l_autorefraction_dry2_sph ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_autorefraction_dry2_sph]", :value => opdrecord.read_attribute(:l_autorefraction_dry2_sph) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_autorefraction_dry2_cyl, :class => "form-control form-control-custom auto-refraction l_autorefraction_dry2_cyl ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_autorefraction_dry2_cyl]", :value => opdrecord.read_attribute(:l_autorefraction_dry2_cyl) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_autorefraction_dry2_axis, :class => "form-control form-control-custom auto-refraction l_autorefraction_dry2_axis ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_autorefraction_dry2_axis]", :value => opdrecord.read_attribute(:l_autorefraction_dry2_axis) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_autorefraction_dry2_vision, :class => "form-control form-control-custom auto-refraction l_autorefraction_dry2_vision ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_autorefraction_dry2_vision]", :value => opdrecord.read_attribute(:l_autorefraction_dry2_vision) %>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;width: 20%;">
                  Cycloplegic
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_autorefraction_dilated1_sph, :class => "form-control form-control-custom auto-refraction l_autorefraction_dilated1_sph ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_autorefraction_dilated1_sph]", :value => opdrecord.read_attribute(:l_autorefraction_dilated1_sph) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_autorefraction_dilated1_cyl, :class => "form-control form-control-custom auto-refraction l_autorefraction_dilated1_cyl ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_autorefraction_dilated1_cyl]", :value => opdrecord.read_attribute(:l_autorefraction_dilated1_cyl) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_autorefraction_dilated1_axis, :class => "form-control form-control-custom auto-refraction l_autorefraction_dilated1_axis ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_autorefraction_dilated1_axis]", :value => opdrecord.read_attribute(:l_autorefraction_dilated1_axis) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_autorefraction_dilated1_vision, :class => "form-control form-control-custom auto-refraction l_autorefraction_dilated1_vision ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_autorefraction_dilated1_vision]", :value => opdrecord.read_attribute(:l_autorefraction_dilated1_vision) %>
                </td>
              </tr>
              <tr>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_autorefraction_dilated2_sph, :class => "form-control form-control-custom auto-refraction l_autorefraction_dilated2_sph ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_autorefraction_dilated2_sph]", :value => opdrecord.read_attribute(:l_autorefraction_dilated2_sph) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_autorefraction_dilated2_cyl, :class => "form-control form-control-custom auto-refraction l_autorefraction_dilated2_cyl ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_autorefraction_dilated2_cyl]", :value => opdrecord.read_attribute(:l_autorefraction_dilated2_cyl) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_autorefraction_dilated2_axis, :class => "form-control form-control-custom auto-refraction l_autorefraction_dilated2_axis ref_field", :maxlength => 6,  :required => false, :name => "opdrecord[l_autorefraction_dilated2_axis]", :value => opdrecord.read_attribute(:l_autorefraction_dilated2_axis) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_autorefraction_dilated2_vision, :class => "form-control form-control-custom auto-refraction l_autorefraction_dilated2_vision ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_autorefraction_dilated2_vision]", :value => opdrecord.read_attribute(:l_autorefraction_dilated2_vision) %>
                </td>
              </tr>
              <tr>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_autorefraction_dilated3_sph, :class => "form-control form-control-custom auto-refraction l_autorefraction_dilated3_sph ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_autorefraction_dilated3_sph]", :value => opdrecord.read_attribute(:l_autorefraction_dilated3_sph) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_autorefraction_dilated3_cyl, :class => "form-control form-control-custom auto-refraction l_autorefraction_dilated3_cyl ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_autorefraction_dilated3_cyl]", :value => opdrecord.read_attribute(:l_autorefraction_dilated3_cyl) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_autorefraction_dilated3_axis, :class => "form-control form-control-custom auto-refraction l_autorefraction_dilated3_axis ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_autorefraction_dilated3_axis]", :value => opdrecord.read_attribute(:l_autorefraction_dilated3_axis) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_autorefraction_dilated3_vision, :class => "form-control form-control-custom auto-refraction l_autorefraction_dilated3_vision ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_autorefraction_dilated3_vision]", :value => opdrecord.read_attribute(:l_autorefraction_dilated3_vision) %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="hr-line-border mb5"></div>
  <div class="row l-pd-row">
    <div class="col-md-12 col-sm-12 r-refraction-column questionsforpd" id="l-questionsforpd">
      <div class="col-md-3 col-sm-3" style="padding: 0px">
        <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>PD&nbsp;&nbsp;</strong><i class="fa fa-arrow-left lcopybutton" title="Copy Left to Right" aria-hidden="true"></i></div>
      </div>
      <div class="col-md-9 col-sm-9 l-answersforpd">
        <div class="col-md-12 col-sm-12 editview_toggle_l">
          <div class="col-md-3 col-sm-3">Monocular Distance PD: &nbsp;</div>
          <div class="col-md-3 col-sm-3">
            <%= f.input_field :l_monocular_distance_pd, :class => "form-control form-control-custom l_monocular_distance_pd", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[l_monocular_distance_pd]", :value => opdrecord.read_attribute(:l_monocular_distance_pd), :style => "margin-left: -1%"%>&nbsp;mm
          </div>
          <div class="col-md-3 col-sm-3">Monocular Near PD: &nbsp;</div>
          <div class="col-md-3 col-sm-3">
            <%= f.input_field :l_monocular_near_pd, :class => "form-control form-control-custom l_monocular_near_pd", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[l_monocular_near_pd]", :value => opdrecord.read_attribute(:l_monocular_near_pd), :style => "margin-left: -1%"%>&nbsp;mm
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hr-line-border mb5"></div>
  <div class="row l-retinoscopy-row">
    <div class="col-md-12 col-xs-12 l-refraction-column questionsforretinoscopy" id="l-questionsforretinoscopy">
      <div class="col-md-3 col-xs-3" style="padding: 0px">
        <div class="col-md-12 col-xs-12 badge badge-eye-template-labels"><strong>DRY NET <div class="mb1"></div>RETINOSCOPY&nbsp;&nbsp;</strong><i class="fa fa-arrow-left lcopybutton" title="Copy Left to Right" aria-hidden="true"></i></div>
        <span class="row col-md-12 col-xs-12" style="margin-top: 5px; cursor: pointer;display: none;" title="Fill Retinoscopy" id="fill-retinoscopy"><a href="/opd_records/ophthalmology_notes/fill_retinoscopy_data?flag=retinoscopy" data-remote="true"> <i class="fa fa-arrow-circle-left filldatabutton"> Fill</i></a></span>
      </div>
      <div class="col-md-9 col-xs-9 l-answersfordryretinoscopy">
        <div class="editview_toggle_l">
          <table class="table table-bordered">
            <thead>
              <tr class="success">
                <th width="15%" style="padding-top:0px;padding-bottom:0px;"></th>
                <th width="15%" style="padding-top:0px;padding-bottom:0px;">Sph</th>
                <th width="15%" style="padding-top:0px;padding-bottom:0px;">Cyl</th>
                <th width="15%" style="padding-top:0px;padding-bottom:0px;">Axis</th>
                <th width="15%" style="padding-top:0px;padding-bottom:0px;">Vision</th>
                <th width="25%" style="padding-top:0px;padding-bottom:0px;">Reflex Type</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  Distant
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_retinoscopy_sph, :class => "form-control form-control-custom retinoscopy l_retinoscopy_sph ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_retinoscopy_sph]", :value => opdrecord.read_attribute(:l_retinoscopy_sph) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_retinoscopy_cyl, :class => "form-control form-control-custom retinoscopy l_retinoscopy_cyl ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_retinoscopy_cyl]", :value => opdrecord.read_attribute(:l_retinoscopy_cyl) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_retinoscopy_axis, :class => "form-control form-control-custom retinoscopy l_retinoscopy_axis ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_retinoscopy_axis]", :value => opdrecord.read_attribute(:l_retinoscopy_axis) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_retinoscopy_vision, :class => "form-control form-control-custom retinoscopy l_retinoscopy_vision ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_retinoscopy_vision]", :value => opdrecord.read_attribute(:l_retinoscopy_vision) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input :l_retinoscopy_reflex, wrapper_html: {:class => "form-control form-control-custom l_retinoscopy_reflex ref_field"},collection: ['Clear Reflex','Dull Reflex','Peripheral Reflex','White Reflex','Central Reflex'], :include_blank => 'Select', :label => false, :required => false, :class => 'btn btn-xs btn-white l_retinoscopy_reflex form-control-custom form-control', :input_html => {:name => "opdrecord[l_retinoscopy_reflex]", :class => "form-control retinoscopy form-control-custom",:style=>"width: 100%;padding:0px;" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_retinoscopy_reflex)) %>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="col-md-12 col-xs-12" style="margin-top: 2%;margin-bottom: 2%;width: 144%; margin-left: -37%;">
            <span class="col-md-6 col-xs-6">At Distance: &nbsp;&nbsp;&nbsp;
              <div class="input-group">
                <%= f.input_field :l_retinoscopy_distance, :class => "form-control form-control-custom l_retinoscopy_distance", :maxlength => 8, :size => 6, :required => false, :name => "opdrecord[l_retinoscopy_distance]", :value => opdrecord.read_attribute(:l_retinoscopy_distance), :style => "margin-left: -1%"%>
              </div>
            </span>
          </div>
          <div class="row mb5" style="width: 145%;margin-left: -39%;">
            <div class="col-md-3 col-xs-3 text-center">Comments: </div>
            <div class="col-md-9 col-xs-9">
              <%= f.text_area :l_retinoscopy_dry_comments, {:class => "form-control l_retinoscopy_dry_comments", :style => "width:95%;", :required => false, :name => "opdrecord[l_retinoscopy_dry_comments]", :value => opdrecord.read_attribute(:l_retinoscopy_dry_comments)} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hr-line-border mb5"></div>
  <div class="row l-cycloretinoscopy-row">
    <div class="col-md-12 col-xs-12 l-refraction-column questionsforretinoscopy" id="l-questionsforretinoscopy">
      <div class="col-md-3 col-xs-3" style="padding: 0px">
        <div class="col-md-12 col-xs-12 badge badge-eye-template-labels"><strong>CYCLO NET <div class="mb1"></div>RETINOSCOPY&nbsp;&nbsp;</strong><i class="fa fa-arrow-left lcopybutton" title="Copy Left to Right" aria-hidden="true"></i></div>
        <span class="row col-md-12 col-xs-12" style="margin-top: 5px; cursor: pointer;display: none;" title="Fill Retinoscopy" id="fill-retinoscopy"><a href="/opd_records/ophthalmology_notes/fill_retinoscopy_data?flag=dilated_retinoscopy" data-remote="true"> <i class="fa fa-arrow-circle-right filldatabutton"> Fill</i></a></span>
      </div>
      <div class="col-md-9 col-xs-9 l-answersforcycloretinoscopy">
        <div class="editview_toggle_l">
          <table class="table table-bordered">
            <thead>
              <tr class="success">
                <th width="15%" style="padding-top:0px;padding-bottom:0px;"></th>
                <th width="15%" style="padding-top:0px;padding-bottom:0px;">Sph</th>
                <th width="15%" style="padding-top:0px;padding-bottom:0px;">Cyl</th>
                <th width="15%" style="padding-top:0px;padding-bottom:0px;">Axis</th>
                <th width="15%" style="padding-top:0px;padding-bottom:0px;">Vision</th>
                <th width="25%" style="padding-top:0px;padding-bottom:0px;">Reflex Type</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  Distant
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_retinoscopy_dilated_sph, :class => "form-control form-control-custom dilated-retinoscopy l_retinoscopy_dilated_sph ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_retinoscopy_dilated_sph]", :value => opdrecord.read_attribute(:l_retinoscopy_dilated_sph) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_retinoscopy_dilated_cyl, :class => "form-control form-control-custom dilated-retinoscopy l_retinoscopy_dilated_cyl ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_retinoscopy_dilated_cyl]", :value => opdrecord.read_attribute(:l_retinoscopy_dilated_cyl) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_retinoscopy_dilated_axis, :class => "form-control form-control-custom dilated-retinoscopy l_retinoscopy_dilated_axis ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_retinoscopy_dilated_axis]", :value => opdrecord.read_attribute(:l_retinoscopy_dilated_axis) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_retinoscopy_dilated_vision, :class => "form-control form-control-custom dilated-retinoscopy l_retinoscopy_dilated_vision ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_retinoscopy_dilated_vision]", :value => opdrecord.read_attribute(:l_retinoscopy_dilated_vision) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input :l_retinoscopy_dilated_reflex, wrapper_html: {:class => "form-control form-control-custom l_retinoscopy_dilated_reflex ref_field"},collection: ['Clear Reflex','Dull Reflex','Peripheral Reflex','White Reflex','Central Reflex'], :include_blank => 'Select', :label => false, :required => false, :class => 'btn btn-xs btn-white l_retinoscopy_dilated_reflex form-control-custom form-control', :input_html => {:name => "opdrecord[l_retinoscopy_dilated_reflex]", :class => "form-control dilated-retinoscopy form-control-custom",:style=>"width: 100%; padding: 0px;" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_retinoscopy_dilated_reflex)) %>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="col-md-12 col-xs-12" style="margin-top: 2%;margin-bottom: 2%;width: 144%; margin-left: -37%;">
            <span class="col-md-6 col-xs-6">At Distance: &nbsp;&nbsp;&nbsp;
              <div class="input-group">
                <%= f.input_field :l_retinoscopy_dilated_distance, :class => "form-control form-control-custom l_retinoscopy_dilated_distance", :maxlength => 8, :size => 6, :required => false, :name => "opdrecord[l_retinoscopy_dilated_distance]", :value => opdrecord.read_attribute(:l_retinoscopy_dilated_distance), :style => "margin-left: -1%"%>
                <span class="input-group-addon">Mt/cm</span>
              </div>
            </span>
            <span class="col-md-3 col-xs-3">Drug Used:</span>
            <span class="col-md-3 col-xs-3"><%= f.input :l_retinoscopy_dilated_drug_used ,collection: ["Tropicamide_P", "Tropicamide", "Timolol", "Homide", "Latanoprost", "Brimonidine", "Travoprost", "Tobramycin", "Moxifloxacin", "Homatropine", "Pilocarpine", "Cyclopentolate", "Atropine", "Phenylephrine", "Tropicacyl", "Paracain", "Ciplox", "Tropicamide_P + Distilled Water", "Tropicamide_P + Lubrex"], :include_blank => 'Select', :label => false, :required => false, :class => 'btn btn-xs btn-white l_retinoscopy_dilated_drug_used form-control form-control-custom', :input_html => {:name => "opdrecord[l_retinoscopy_dilated_drug_used]", :class => "form-control form-control-custom",:style=>"width: 137%;margin-left: -37%" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_retinoscopy_dilated_drug_used)) %></span>
          </div>
          <div class="row mb5" style="width: 145%;margin-left: -39%;">
            <div class="col-md-3 col-xs-3 text-center">Comments: </div>
            <div class="col-md-9 col-xs-9">
              <%= f.text_area :l_retinoscopy_dilated_comments, {:class => "form-control", :style => "width:95%;", :required => false, :name => "opdrecord[l_retinoscopy_dilated_comments]", :value => opdrecord.read_attribute(:l_retinoscopy_dilated_comments)} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hr-line-border mb5"></div>
  <div class="row l-refraction-row">
    <div class="col-md-12 col-xs-12 l-refraction-column questionsforrefraction" id="l-questionsforrefraction">
      <div class="col-md-3 col-xs-3" style="padding: 0px">
        <div class="col-md-12 col-xs-12 badge badge-eye-template-labels"><strong>DRY REFRACTION&nbsp;&nbsp;</strong><i class="fa fa-arrow-left lcopybutton" title="Copy Left to Right" aria-hidden="true"></i></div>
      </div>
      <div class="col-md-9 col-xs-9 l-answersforrefraction">
        <div class="editview_toggle_l">
          <table class="table table-bordered">
            <thead>
              <tr class="success">
                <th width="14%" style="padding-top:0px;padding-bottom:0px;"></th>
                <th width="14%" style="padding-top:0px;padding-bottom:0px;">Sph</th>
                <th width="14%" style="padding-top:0px;padding-bottom:0px;">Cyl</th>
                <th width="14%" style="padding-top:0px;padding-bottom:0px;">Axis</th>
                <th width="14%" style="padding-top:0px;padding-bottom:0px;">VA</th>
                <th width="14%" style="padding-top:0px;padding-bottom:0px;">VA(PH)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  Distant
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_refraction_distant_sph, :class => "form-control form-control-custom dry-refraction l_refraction_distant_sph calculate_sph_near_from_distant ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_refraction_distant_sph]", :value => opdrecord.read_attribute(:l_refraction_distant_sph) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_refraction_distant_cyl, :class => "form-control form-control-custom dry-refraction l_refraction_distant_cyl calculate_cyl_near_from_distant ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_refraction_distant_cyl]", :value => opdrecord.read_attribute(:l_refraction_distant_cyl) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_refraction_distant_axis, :class => "form-control form-control-custom dry-refraction l_refraction_distant_axis calculate_axis_near_from_distant ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_refraction_distant_axis]", :value => opdrecord.read_attribute(:l_refraction_distant_axis) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_refraction_distant_vision, :class => "form-control form-control-custom dry-refraction l_refraction_distant_vision  ref_field", :maxlength => 12, :required => false, :name => "opdrecord[l_refraction_distant_vision]", :value => opdrecord.read_attribute(:l_refraction_distant_vision) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_refraction_distant_va_ph, :class => "form-control form-control-custom dry-refraction l_refraction_distant_va_ph  ref_field", :maxlength => 12, :required => false, :name => "opdrecord[l_refraction_distant_va_ph]", :value => opdrecord.read_attribute(:l_refraction_distant_va_ph) %>
                </td>
              </tr>
              <tr>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  Add<sup class="suphash">#</sup>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_refraction_add_sph, :class => "form-control form-control-custom dry-refraction l_refraction_add_sph calculate_near_from_add ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_refraction_add_sph]", :value => opdrecord.read_attribute(:l_refraction_add_sph) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_refraction_add_cyl, :class => "form-control form-control-custom l_refraction_add_cyl ref_field",:readonly=> true, :maxlength => 8, :required => false, :name => "opdrecord[l_refraction_add_cyl]", :value => opdrecord.read_attribute(:l_refraction_add_cyl) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_refraction_add_axis, :class => "form-control form-control-custom l_refraction_add_axis ref_field",:readonly=> true, :maxlength => 8, :required => false, :name => "opdrecord[l_refraction_add_axis]", :value => opdrecord.read_attribute(:l_refraction_add_axis) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_refraction_add_vision, :class => "form-control form-control-custom dry-refraction l_refraction_add_vision ref_field", :maxlength => 12, :required => false, :name => "opdrecord[l_refraction_add_vision]", :value => opdrecord.read_attribute(:l_refraction_add_vision) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_refraction_add_va_ph, :class => "form-control form-control-custom dry-refraction l_refraction_add_va_ph  ref_field", :maxlength => 12, :required => false, :name => "opdrecord[l_refraction_add_va_ph]", :value => opdrecord.read_attribute(:l_refraction_add_va_ph) %>
                </td>
              </tr>
              <tr>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  Near
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_refraction_near_sph, :class => "form-control form-control-custom dry-refraction l_refraction_near_sph ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_refraction_near_sph]", :value => opdrecord.read_attribute(:l_refraction_near_sph) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_refraction_near_cyl, :class => "form-control form-control-custom dry-refraction l_refraction_near_cyl ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_refraction_near_cyl]", :value => opdrecord.read_attribute(:l_refraction_near_cyl) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_refraction_near_axis, :class => "form-control form-control-custom dry-refraction l_refraction_near_axis ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_refraction_near_axis]", :value => opdrecord.read_attribute(:l_refraction_near_axis) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_refraction_near_vision, :class => "form-control form-control-custom dry-refraction l_refraction_near_vision ref_field", :maxlength => 12, :required => false, :name => "opdrecord[l_refraction_near_vision]", :value => opdrecord.read_attribute(:l_refraction_near_vision) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :l_refraction_near_va_ph, :class => "form-control form-control-custom dry-refraction l_refraction_near_va_ph ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_refraction_near_va_ph]", :value => opdrecord.read_attribute(:l_refraction_near_va_ph) %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row mb5" style="width: 145%;margin-left: -39%;">
          <div class="col-md-3 col-xs-3 text-center">Comments: </div>
          <div class="col-md-9 col-xs-9">
            <%= f.text_area :l_refraction_comments, {:class => "form-control", :style => "width:95%;", :required => false, :name => "opdrecord[l_refraction_comments]", :value => opdrecord.read_attribute(:l_refraction_comments)} %>
          </div>
        </div>
        <div class="row mb20">
          <div class="col-md-12 col-xs-12 mb20" style="margin-bottom: 27px;">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hr-line-border mb5"></div>
  <div class="row l-acceptance-row">
    <div class="col-md-12 col-sm-12 l-acceptance-column questionsforacceptance" id="l-questionsforacceptance">
      <div class="col-md-3 col-sm-3" style="padding: 0px">
        <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>GLASSES<div class="mb1"></div>PRESCRIPTIONS (Rx)&nbsp;&nbsp;</strong><i class="fa fa-arrow-left lcopybutton" title="Copy Left to Right" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 l-answersforglassesprescriptions">
        <div class="editview_toggle_l">
          <table class="table table-bordered">
            <thead>
            <tr class="success">
              <th width="20%" style="padding-top:0px;padding-bottom:0px;"></th>
              <th width="20%" style="padding-top:0px;padding-bottom:0px;">Sph</th>
              <th width="20%" style="padding-top:0px;padding-bottom:0px;">Cyl</th>
              <th width="20%" style="padding-top:0px;padding-bottom:0px;">Axis</th>
              <th width="20%" style="padding-top:0px;padding-bottom:0px;">Vision</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                Distant
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :l_glassesprescriptions_distant_sph, :class => "form-control form-control-custom glasses-prescription l_glassesprescriptions_distant_sph calculate_sph_near_from_distant ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_glassesprescriptions_distant_sph]", :value => opdrecord.read_attribute(:l_glassesprescriptions_distant_sph) %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :l_glassesprescriptions_distant_cyl, :class => "form-control form-control-custom glasses-prescription l_glassesprescriptions_distant_cyl calculate_cyl_near_from_distant ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_glassesprescriptions_distant_cyl]", :value => opdrecord.read_attribute(:l_glassesprescriptions_distant_cyl) %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :l_glassesprescriptions_distant_axis, :class => "form-control form-control-custom glasses-prescription l_glassesprescriptions_distant_axis calculate_axis_near_from_distant ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_glassesprescriptions_distant_axis]", :value => opdrecord.read_attribute(:l_glassesprescriptions_distant_axis) %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :l_glassesprescriptions_distant_vision, :class => "form-control form-control-custom glasses-prescription l_glassesprescriptions_distant_vision ref_field", :maxlength => 12, :required => false, :name => "opdrecord[l_glassesprescriptions_distant_vision]", :value => opdrecord.read_attribute(:l_glassesprescriptions_distant_vision) %>
              </td>
            </tr>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                Add<sup class="suphash">#</sup>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :l_glassesprescriptions_add_sph, :class => "form-control form-control-custom glasses-prescription l_glassesprescriptions_add_sph calculate_near_from_add ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_glassesprescriptions_add_sph]", :value => opdrecord.read_attribute(:l_glassesprescriptions_add_sph) %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :l_glassesprescriptions_add_cyl, :class => "form-control form-control-custom l_glassesprescriptions_add_cyl ref_field",:readonly=> true, :maxlength => 6, :required => false, :name => "opdrecord[l_glassesprescriptions_add_cyl]", :value => opdrecord.read_attribute(:l_glassesprescriptions_add_cyl) %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :l_glassesprescriptions_add_axis, :class => "form-control form-control-custom l_glassesprescriptions_add_axis ref_field",:readonly=> true, :maxlength => 6, :required => false, :name => "opdrecord[l_glassesprescriptions_add_axis]", :value => opdrecord.read_attribute(:l_glassesprescriptions_add_axis) %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :l_glassesprescriptions_add_vision, :class => "form-control form-control-custom glasses-prescription l_glassesprescriptions_add_vision ref_field", :maxlength => 12, :required => false, :name => "opdrecord[l_glassesprescriptions_add_vision]", :value => opdrecord.read_attribute(:l_glassesprescriptions_add_vision) %>
              </td>
            </tr>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                Near
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :l_glassesprescriptions_near_sph, :class => "form-control form-control-custom glasses-prescription l_glassesprescriptions_near_sph ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_glassesprescriptions_near_sph]", :value => opdrecord.read_attribute(:l_glassesprescriptions_near_sph) %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :l_glassesprescriptions_near_cyl, :class => "form-control form-control-custom glasses-prescription l_glassesprescriptions_near_cyl ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_glassesprescriptions_near_cyl]", :value => opdrecord.read_attribute(:l_glassesprescriptions_near_cyl) %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :l_glassesprescriptions_near_axis, :class => "form-control form-control-custom glasses-prescription l_glassesprescriptions_near_axis ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_glassesprescriptions_near_axis]", :value => opdrecord.read_attribute(:l_glassesprescriptions_near_axis) %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :l_glassesprescriptions_near_vision, :class => "form-control form-control-custom glasses-prescription l_glassesprescriptions_near_vision ref_field", :maxlength => 12, :required => false, :name => "opdrecord[l_glassesprescriptions_near_vision]", :value => opdrecord.read_attribute(:l_glassesprescriptions_near_vision) %>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row" style="margin: auto;margin-bottom: 15px;margin-right: 10px;">
        <span class="col-md-4 col-sm-4" style="padding: 0px;">
          <span class="col-md-5 col-sm-5">Type of Lens</span>
          <span><%= f.input :l_acceptance_typeoflens, wrapper_html: {:class => "col-md-7 col-sm-7"},collection: ['Single Vision - Distant','Single Vision - Near','Bifocal','Progressive','Bifocal or Progressive','D Bifocal','KT Bifocal'], :include_blank => 'Select', :label => false, :required => false, :class => 'btn btn-xs btn-white l_acceptance_typeoflens form-control-custom form-control', :input_html => {:name => "opdrecord[l_acceptance_typeoflens]", :class => "form-control-custom form-control",:style=>"width: 100%;" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_acceptance_typeoflens)) %></span>
        </span>
        <span class="col-md-4 col-sm-4" style="padding: 0px;">
          <span class="col-md-5 col-sm-5">Monocular Distance PD: </span>
          <span class="col-md-7 col-sm-7">
            <%= f.input_field :l_acceptance_distance_pd, :class => "form-control form-control-custom l_acceptance_distance_pd", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[l_acceptance_distance_pd]", :value => opdrecord.read_attribute(:l_acceptance_distance_pd), :style => "margin-left: -1%"%>&nbsp;mm
          </span>
        </span>
        <span class="col-md-4 col-sm-4" style="padding: 0px;">
          <span class="col-md-5 col-sm-5">Monocular Near PD: </span>
          <span class="col-md-7 col-sm-7">
            <%= f.input_field :l_acceptance_near_pd, :class => "form-control form-control-custom l_acceptance_near_pd", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[l_acceptance_near_pd]", :value => opdrecord.read_attribute(:l_acceptance_near_pd), :style => "margin-left: -1%"%>&nbsp;mm
          </span>
        </span>
      </div>
      <div class="row" style="margin: auto;margin-bottom: 10px;">
        <span class="col-md-4 col-sm-4" style="padding: 0px;">
          <span class="col-md-5 col-sm-5">Lens Material</span>
          <span><%= f.input :l_acceptance_lensmaterial, wrapper_html: {:class => "col-md-7 col-sm-7"},collection: ['Mineral','CR 39r','Patient Choice','Polycarbonate','Trivex','Organic','Evalution','MR7','MR10','MR8','Press on'], :include_blank => 'Select', :label => false, :required => false, :class => 'btn btn-xs btn-white l_acceptance_lensmaterial form-control form-control-custom', :input_html => {:name => "opdrecord[l_acceptance_lensmaterial]", :class => "form-control form-control-custom",:style=>"width: 100%;" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_acceptance_lensmaterial)) %></span>
        </span>
        <span class="col-md-4 col-sm-4" style="padding: 0px;">
          <span class="col-md-5 col-sm-5">Lens Tint</span>
          <span><%= f.input :l_acceptance_lenstint, wrapper_html: {:class => "col-md-7 col-sm-7"},collection: ['White','Amber','B1','B2','B3','Brown','G-15','Gradient Tint','Patient Choice','Photogrey','Photobrown','SP1','SP11','SP2','Yellow','Grey','Clear','Grey/Brown','Gray C/Brown C','Grey A','Gray / Brown / Green','PGX / PBX','Non Tintable','Pink','Photo Fusion Grey','Phot Fusion Brown','Polarised Brown','Polarised Grey','Transition','A1','A2','Colabar C','Colabar D','Non Clear','Polarised','Anti-reflection Coating'], :include_blank => 'Select', :label => false, :required => false, :class => 'btn btn-xs btn-white l_acceptance_lenstint form-control form-control-custom', :input_html => {:name => "opdrecord[l_acceptance_lenstint]", :class => "form-control form-control-custom",:style=>"width: 100%;" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_acceptance_lenstint)) %></span>
        </span>
        <span class="col-md-4 col-sm-4" style="padding: 0px;">
          <span class="col-md-5 col-sm-5">Frame Material</span>
          <span><%= f.input :l_acceptance_framematerial, wrapper_html: {:class => "col-md-7 col-sm-7"},collection: ['Patient Choice','Shell','Metal','Titanium','Shell(Pediatric Use)','Hypo-Allergenic Metal','Plastic','Carbon','Acetate','Aluminium','Optyl','Polyamide','Stainless Steel','TR-90','Ultem'], :include_blank => 'Select', :label => false, :required => false, :class => 'btn btn-xs btn-white l_acceptance_framematerial form-control form-control-custom', :input_html => {:name => "opdrecord[l_acceptance_framematerial]", :class => "form-control form-control-custom",:style=>"width: 100%;" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_acceptance_framematerial)) %></span>
        </span>
      </div>
      <div class="row mb5">
        <div class="col-md-3 col-sm-3 text-center">Advice: </div>
        <div class="col-md-9 col-sm-9">
          <%= f.text_area :l_acceptance_comments, {:class => "form-control", :style => "width:95%;", :required => false, :name => "opdrecord[l_acceptance_comments]", :value => opdrecord.read_attribute(:l_acceptance_comments)} %>
        </div>
      </div>
    </div>
  </div>

  <div class="hr-line-border mb5"></div>
  <div class="row l-intermediate-glass-prescription-row">
    <div class="col-md-12 col-sm-12 l-intermediate-glass-prescription-column questions_for_inter_glass_prescriptions" id="l-questions_for_inter_glass_prescriptions">
      <div class="col-md-3 col-sm-3" style="padding: 0px">
        <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>INTERMEDIATE GLASSES<div class="mb1"></div>PRESCRIPTIONS (Rx)&nbsp;&nbsp;</strong><i class="fa fa-arrow-left lcopybutton" title="Copy Left to Right" aria-hidden="true"></i>
        </div>
      </div>

      <div class="col-md-9 col-sm-9 r-answers_for_inter_glass_prescriptions">
        <table class="table table-bordered">
          <thead>
          <tr class="success">
            <th width="20%" style="padding-top:0px;padding-bottom:0px;"></th>
            <th width="20%" style="padding-top:0px;padding-bottom:0px;">Sph</th>
            <th width="20%" style="padding-top:0px;padding-bottom:0px;">Cyl</th>
            <th width="20%" style="padding-top:0px;padding-bottom:0px;">Axis</th>
            <th width="20%" style="padding-top:0px;padding-bottom:0px;">Vision</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              Distant
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :l_intermediate_glasses_prescriptions_distant_sph, :class => "form-control form-control-custom intermediate-glasses-prescription l_intermediate_glasses_prescriptions_distant_sph calculate_sph_near_from_distant ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_intermediate_glasses_prescriptions_distant_sph]", :value => opdrecord.read_attribute(:l_intermediate_glasses_prescriptions_distant_sph) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :l_intermediate_glasses_prescriptions_distant_cyl, :class => "form-control form-control-custom intermediate-glasses-prescription l_intermediate_glasses_prescriptions_distant_cyl calculate_cyl_near_from_distant ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_intermediate_glasses_prescriptions_distant_cyl]", :value => opdrecord.read_attribute(:l_intermediate_glasses_prescriptions_distant_cyl) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :l_intermediate_glasses_prescriptions_distant_axis, :class => "form-control form-control-custom intermediate-glasses-prescription l_intermediate_glasses_prescriptions_distant_axis calculate_axis_near_from_distant ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_intermediate_glasses_prescriptions_distant_axis]", :value => opdrecord.read_attribute(:l_intermediate_glasses_prescriptions_distant_axis) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :l_intermediate_glasses_prescriptions_distant_vision, :class => "form-control form-control-custom intermediate-glasses-prescription l_intermediate_glasses_prescriptions_distant_vision ref_field", :maxlength => 12, :required => false, :name => "opdrecord[l_intermediate_glasses_prescriptions_distant_vision]", :value => opdrecord.read_attribute(:l_intermediate_glasses_prescriptions_distant_vision) %>
            </td>
          </tr>
          <tr>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              Add<sup class="suphash">#</sup>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :l_intermediate_glasses_prescriptions_add_sph, :class => "form-control form-control-custom intermediate-glasses-prescription l_intermediate_glasses_prescriptions_add_sph calculate_near_from_add ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_intermediate_glasses_prescriptions_add_sph]", :value => opdrecord.read_attribute(:l_intermediate_glasses_prescriptions_add_sph) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :l_intermediate_glasses_prescriptions_add_cyl, :class => "form-control form-control-custom l_intermediate_glasses_prescriptions_add_cyl ref_field",:readonly=> true, :maxlength => 6, :required => false, :name => "opdrecord[l_intermediate_glasses_prescriptions_add_cyl]", :value => opdrecord.read_attribute(:l_intermediate_glasses_prescriptions_add_cyl) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :l_intermediate_glasses_prescriptions_add_axis, :class => "form-control form-control-custom l_intermediate_glasses_prescriptions_add_axis ref_field",:readonly=> true, :maxlength => 6, :required => false, :name => "opdrecord[l_intermediate_glasses_prescriptions_add_axis]", :value => opdrecord.read_attribute(:l_intermediate_glasses_prescriptions_add_axis) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :l_intermediate_glasses_prescriptions_add_vision, :class => "form-control form-control-custom intermediate-glasses-prescription l_intermediate_glasses_prescriptions_add_vision ref_field", :maxlength => 12, :required => false, :name => "opdrecord[l_intermediate_glasses_prescriptions_add_vision]", :value => opdrecord.read_attribute(:l_intermediate_glasses_prescriptions_add_vision) %>
            </td>
          </tr>
          <tr>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              Near
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :l_intermediate_glasses_prescriptions_near_sph, :class => "form-control form-control-custom intermediate-glasses-prescription l_intermediate_glasses_prescriptions_near_sph ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_intermediate_glasses_prescriptions_near_sph]", :value => opdrecord.read_attribute(:l_intermediate_glasses_prescriptions_near_sph) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :l_intermediate_glasses_prescriptions_near_cyl, :class => "form-control form-control-custom intermediate-glasses-prescription l_intermediate_glasses_prescriptions_near_cyl ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_intermediate_glasses_prescriptions_near_cyl]", :value => opdrecord.read_attribute(:l_intermediate_glasses_prescriptions_near_cyl) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :l_intermediate_glasses_prescriptions_near_axis, :class => "form-control form-control-custom intermediate-glasses-prescription l_intermediate_glasses_prescriptions_near_axis ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_intermediate_glasses_prescriptions_near_axis]", :value => opdrecord.read_attribute(:l_intermediate_glasses_prescriptions_near_axis) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :l_intermediate_glasses_prescriptions_near_vision, :class => "form-control form-control-custom intermediate-glasses-prescription l_intermediate_glasses_prescriptions_near_vision ref_field", :maxlength => 12, :required => false, :name => "opdrecord[l_intermediate_glasses_prescriptions_near_vision]", :value => opdrecord.read_attribute(:l_intermediate_glasses_prescriptions_near_vision) %>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="row" style="margin: auto;margin-bottom: 15px;margin-right: 10px;">
        <span class="col-md-3 col-sm-3">Type of Lens</span>
        <span><%= f.input :l_intermediate_acceptance_typeoflens, wrapper_html: {:class => "col-md-3 col-sm-3"},collection: ['Single Vision - Distant','Single Vision - Near','Bifocal','Progressive','Bifocal or Progressive','D Bifocal','KT Bifocal'], :include_blank => 'Select', :label => false, :required => false, :class => 'btn btn-xs btn-white l_intermediate_acceptance_typeoflens form-control-custom form-control', :input_html => {:name => "opdrecord[l_intermediate_acceptance_typeoflens]", :class => "form-control-custom form-control",:style=>"width: 100%;" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_intermediate_acceptance_typeoflens)) %></span>
        <span class="col-md-2 col-sm-2 col-md-offset-1 col-sm-offset-1">IPD</span>
        <div class="input-group col-md-3 col-sm-3"><%= f.input_field :l_intermediate_acceptance_ipd, :class => "form-control form-control-custom l_intermediate_acceptance_ipd", :required => false, :name => "opdrecord[l_intermediate_acceptance_ipd]", :value => opdrecord.read_attribute(:l_intermediate_acceptance_ipd), :style=>"width: 100%;" %><span class="input-group-addon">mm</span></div>
      </div>
      <div class="row" style="margin: auto;margin-bottom: 10px;">
        <span class="col-md-4 col-sm-4" style="padding: 0px;">
          <span class="col-md-5 col-sm-5">Lens Material</span>
          <span><%= f.input :l_intermediate_acceptance_lensmaterial, wrapper_html: {:class => "col-md-7 col-sm-7"},collection: ['Mineral','CR 39r','Patient Choice','Polycarbonate','Trivex','Organic','Evalution','MR7','MR10','MR8','Press on'], :include_blank => 'Select', :label => false, :required => false, :class => 'btn btn-xs btn-white l_intermediate_acceptance_lensmaterial form-control form-control-custom', :input_html => {:name => "opdrecord[l_intermediate_acceptance_lensmaterial]", :class => "form-control form-control-custom",:style=>"width: 100%;" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_intermediate_acceptance_lensmaterial)) %></span>
        </span>
        <span class="col-md-4 col-sm-4" style="padding: 0px;">
          <span class="col-md-5 col-sm-5">Lens Tint</span>
          <span><%= f.input :l_intermediate_acceptance_lenstint, wrapper_html: {:class => "col-md-7 col-sm-7"},collection: ['White','Amber','B1','B2','B3','Brown','G-15','Gradient Tint','Patient Choice','Photogrey','Photobrown','SP1','SP11','SP2','Yellow','Grey','Clear','Grey/Brown','Gray C/Brown C','Grey A','Gray / Brown / Green','PGX / PBX','Non Tintable','Pink','Photo Fusion Grey','Phot Fusion Brown','Polarised Brown','Polarised Grey','Transition','A1','A2','Colabar C','Colabar D','Non Clear','Polarised','Anti-reflection Coating'], :include_blank => 'Select', :label => false, :required => false, :class => 'btn btn-xs btn-white l_intermediate_acceptance_lenstint form-control form-control-custom', :input_html => {:name => "opdrecord[l_intermediate_acceptance_lenstint]", :class => "form-control form-control-custom",:style=>"width: 100%;" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_intermediate_acceptance_lenstint)) %></span>
        </span>
        <span class="col-md-4 col-sm-4" style="padding: 0px;">
          <span class="col-md-5 col-sm-5">Frame Material</span>
          <span><%= f.input :l_intermediate_acceptance_framematerial, wrapper_html: {:class => "col-md-7 col-sm-7"},collection: ['Patient Choice','Shell','Metal','Titanium','Shell(Pediatric Use)','Hypo-Allergenic Metal','Plastic','Carbon','Acetate','Aluminium','Optyl','Polyamide','Stainless Steel','TR-90','Ultem'], :include_blank => 'Select', :label => false, :required => false, :class => 'btn btn-xs btn-white l_intermediate_acceptance_framematerial form-control form-control-custom', :input_html => {:name => "opdrecord[l_intermediate_acceptance_framematerial]", :class => "form-control form-control-custom",:style=>"width: 100%;" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_intermediate_acceptance_framematerial)) %></span>
        </span>
      </div>
      <div class="row mb5">
        <div class="col-md-3 col-sm-3 text-center">Advice: </div>
        <div class="col-md-9 col-sm-9">
          <%= f.text_area :l_intermediate_acceptance_comments, {:class => "form-control", :style => "width:95%;", :required => false, :name => "opdrecord[l_intermediate_acceptance_comments]", :value => opdrecord.read_attribute(:l_intermediate_acceptance_comments)} %>
        </div>
      </div>
    </div>
  </div>

  <div class="hr-line-border mb5"></div>
  <div class="row l-dilatedretinoscopy-row">
    <div class="col-md-12 col-sm-12 l-dilatedretinoscopy-column" id="l-questionsforretinoscopy">
      <div class="col-md-3 col-sm-3" style="padding: 0px">
        <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>RETINOSCOPY (R)&nbsp;&nbsp;</strong><i class="fa fa-arrow-left lcopybutton" title="Copy Left to Right" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 l-answersfordilatedretinoscopy">
        <div class="row">
          <%= f.input_field :l_dilated_retinoscopy_top_va1, :class => "form-control form-control-custom l_dilated_retinoscopy_top_va1", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[l_dilated_retinoscopy_top_va1]", :value => opdrecord.read_attribute(:l_dilated_retinoscopy_top_va1)%>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-3">
            <%= f.input_field :l_dilated_retinoscopy_left_ha1, :class => "form-control form-control-custom l_dilated_retinoscopy_left_ha1", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[l_dilated_retinoscopy_left_ha1]", :value => opdrecord.read_attribute(:l_dilated_retinoscopy_left_ha1)%>
          </div>
          <div class="col-md-6 col-sm-6">
            <svg style="height:80px;width:120px;">
              <line x1="40" y1="40" x2="120" y2="40" style="stroke:#636e7b;stroke-width:2" />
              <line x1="80" y1="15" x2="80" y2="65" style="stroke:#636e7b;stroke-width:2" />
              Sorry, your browser does not support inline SVG.
            </svg>
          </div>
          <div class="col-md-3 col-sm-3">
            <%= f.input_field :l_dilated_retinoscopy_right_ha2, :class => "form-control form-control-custom l_dilated_retinoscopy_right_ha2", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[l_dilated_retinoscopy_right_ha2]", :value => opdrecord.read_attribute(:l_dilated_retinoscopy_right_ha2) %>
          </div>
        </div>
        <div class="row">
          <%= f.input_field :l_dilated_retinoscopy_bottom_va2, :class => "form-control form-control-custom l_dilated_retinoscopy_bottom_va2", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[l_dilated_retinoscopy_bottom_va2]", :value => opdrecord.read_attribute(:l_dilated_retinoscopy_bottom_va2)%>
        </div>
        <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
          <span style="margin-right: 3%">VA: </span>
          <%= f.input_field :l_dilated_retinoscopy_va, :class => "form-control form-control-custom l_dilated_retinoscopy_va", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[l_dilated_retinoscopy_va]", :value => opdrecord.read_attribute(:l_dilated_retinoscopy_va)%>
          <span style="margin-right: 3%; margin-left: 8%">HA: </span>
          <%= f.input_field :l_dilated_retinoscopy_ha, :class => "form-control form-control-custom l_dilated_retinoscopy_ha", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[l_dilated_retinoscopy_ha]", :value => opdrecord.read_attribute(:l_dilated_retinoscopy_ha), :style => "margin-left: -1%"%>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12" style="margin-top: 2%;margin-bottom: 2%">
      <span class="col-md-6 col-sm-6">At Distance: &nbsp;&nbsp;&nbsp;
        <%= f.input_field :l_dilated_retinoscopy_distance, :class => "form-control form-control-custom l_dilated_retinoscopy_distance", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[l_dilated_retinoscopy_distance]", :value => opdrecord.read_attribute(:l_dilated_retinoscopy_distance), :style => "margin-left: -1%"%>&nbsp;&nbsp;&nbsp; Mt/cm
      </span>
      <span class="col-md-3 col-sm-3">Drug Used:</span>
      <span class="col-md-3 col-sm-3"><%= f.input :l_retinoscopy_drug_used ,collection: ["Tropicamide_P", "Tropicamide", "Timolol", "Homide", "Latanoprost", "Brimonidine", "Travoprost", "Tobramycin", "Moxifloxacin", "Homatropine", "Pilocarpine", "Cyclopentolate", "Atropine", "Phenylephrine", "Tropicacyl", "Paracain", "Ciplox", "Tropicamide_P + Distilled Water", "Tropicamide_P + Lubrex"], :include_blank => 'Select', :label => false, :required => false, :class => 'btn btn-xs btn-white l_retinoscopy_drug_used form-control form-control-custom', :input_html => {:name => "opdrecord[l_retinoscopy_drug_used]", :class => "form-control form-control-custom l_retinoscopy_drug_used",:style=>"width: 100%;" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_retinoscopy_drug_used)) %></span>
    </div>
    <div class="row mb5">
      <div class="col-md-3 col-sm-3 text-center">Comments: </div>
      <div class="col-md-9 col-sm-9">
        <%= f.text_area :l_retinoscopy_comments, {:class => "form-control", :style => "width:95%;", :required => false, :name => "opdrecord[l_retinoscopy_comments]", :value => opdrecord.read_attribute(:l_retinoscopy_comments)} %>
      </div>
    </div>
  </div>

  <div class="hr-line-border mb5"></div>
  <div class="row l-keratometry-row">
    <div class="col-md-12 col-sm-12 l-keratometry-column questionsforkeratometry" id="l-questionsforkeratometry">
      <div class="col-md-3 col-sm-3" style="padding: 0px">
        <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>KERATOMETRY (K)&nbsp;&nbsp;</strong><i class="fa fa-arrow-left lcopybutton" title="Copy Left to Right" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 l-answersforkeratometry">
        <table class="table table-bordered">
          <thead>
          <tr class="success">
            <th width="20%" style="padding-top:0px;padding-bottom:0px;"></th>
            <th width="20%" style="padding-top:0px;padding-bottom:0px;"></th>
            <th width="20%" style="padding-top:0px;padding-bottom:0px;">Axis</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              K1
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :l_keratometry_distant_kh, :class => "form-control form-control-custom l_keratometry_distant_kh ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_keratometry_distant_kh]", :value => opdrecord.read_attribute(:l_keratometry_distant_kh) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :l_keratometry_distant_axis, :class => "form-control form-control-custom l_keratometry_distant_axis ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_keratometry_distant_axis]", :value => opdrecord.read_attribute(:l_keratometry_distant_axis) %>
            </td>
          </tr>
          <tr>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              K2
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :l_keratometry_near_kv, :class => "form-control form-control-custom l_keratometry_near_kv ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_keratometry_near_kv]", :value => opdrecord.read_attribute(:l_keratometry_near_kv) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :l_keratometry_near_axis, :class => "form-control form-control-custom l_keratometry_near_axis ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_keratometry_near_axis]", :value => opdrecord.read_attribute(:l_keratometry_near_axis) %>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="hr-line-border mb5"></div>
  <div class="row l-contactlens-row">
    <div class="col-md-12 col-sm-12 l-contactlens-column questionsforcontactlens" id="l-questionsforcontactlens">
      <div class="col-md-3 col-sm-3" style="padding: 0px">
        <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>CONTACT LENS(CL)&nbsp;&nbsp;</strong><i class="fa fa-arrow-left lcopybutton" title="Copy Left to Right" aria-hidden="true"></i></div>
      </div>
      <div class="col-md-9 col-sm-9 l-answersforcontactlenes">
        <table class="table table-bordered">
          <thead>
          <tr class="success">
            <th style="padding-top:0px;padding-bottom:0px;width: 16%"></th>
            <th style="padding-top:0px;padding-bottom:0px;width: 14%">BC</th>
            <th style="padding-top:0px;padding-bottom:0px;width: 14%">DIA</th>
            <th style="padding-top:0px;padding-bottom:0px;width: 14%">SPH</th>
            <th style="padding-top:0px;padding-bottom:0px;width: 14%">CYL</th>
            <th style="padding-top:0px;padding-bottom:0px;width: 14%">AXIS</th>
            <th style="padding-top:0px;padding-bottom:0px;width: 14%">VA</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :l_contactlens_bc, :class => "form-control form-control-custom l_contactlens_bc", :required => false, :name => "opdrecord[l_contactlens_bc]", :value => opdrecord.read_attribute(:l_contactlens_bc), :style => 'width: 100%' %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :l_contactlens_dia, :class => "form-control form-control-custom l_contactlens_dia", :required => false, :name => "opdrecord[l_contactlens_dia]", :value => opdrecord.read_attribute(:l_contactlens_dia), :style => 'width: 100%' %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :l_contactlens_sph, :class => "form-control form-control-custom l_contactlens_sph", :required => false, :name => "opdrecord[l_contactlens_sph]", :value => opdrecord.read_attribute(:l_contactlens_sph), :style => 'width: 100%' %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :l_contactlens_cyl, :class => "form-control form-control-custom l_contactlens_cyl", :required => false, :name => "opdrecord[l_contactlens_cyl]", :value => opdrecord.read_attribute(:l_contactlens_cyl), :style => 'width: 100%' %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :l_contactlens_axis, :class => "form-control form-control-custom l_contactlens_axis", :required => false, :name => "opdrecord[l_contactlens_axis]", :value => opdrecord.read_attribute(:l_contactlens_axis), :style => 'width: 100%' %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :l_contactlens_add, :class => "form-control form-control-custom l_contactlens_add", :required => false, :name => "opdrecord[l_contactlens_add]", :value => opdrecord.read_attribute(:l_contactlens_add), :style => 'width: 100%' %>
              </td>
            </tr>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                Add
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :l_contactlens1_bc, :class => "form-control form-control-custom l_contactlens1_bc", :required => false, :name => "opdrecord[l_contactlens1_bc]", :value => opdrecord.read_attribute(:l_contactlens1_bc), :style => 'width: 100%' %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :l_contactlens1_dia, :class => "form-control form-control-custom l_contactlens1_dia", :required => false, :name => "opdrecord[l_contactlens1_dia]", :value => opdrecord.read_attribute(:l_contactlens1_dia), :style => 'width: 100%' %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :l_contactlens1_sph, :class => "form-control form-control-custom l_contactlens1_sph", :required => false, :name => "opdrecord[l_contactlens1_sph]", :value => opdrecord.read_attribute(:l_contactlens1_sph), :style => 'width: 100%' %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :l_contactlens1_cyl, :class => "form-control form-control-custom l_contactlens1_cyl", :required => false, :name => "opdrecord[l_contactlens1_cyl]", :value => opdrecord.read_attribute(:l_contactlens1_cyl), :style => 'width: 100%' %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :l_contactlens1_axis, :class => "form-control form-control-custom l_contactlens1_axis", :required => false, :name => "opdrecord[l_contactlens1_axis]", :value => opdrecord.read_attribute(:l_contactlens1_axis), :style => 'width: 100%' %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :l_contactlens1_add, :class => "form-control form-control-custom l_contactlens1_add", :required => false, :name => "opdrecord[l_contactlens1_add]", :value => opdrecord.read_attribute(:l_contactlens1_add), :style => 'width: 100%' %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row" style="margin-bottom: 12px;">
        <div class="col-md-3 col-sm-3 text-center">Revisit Date:
          <span style="display: none;" id="clear_revisit_date"><small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;">clear</small></span>
        </div>
        <div class="col-md-9 col-sm-9">
          <%= f.text_field :l_revisit_date, { class: "datepicker_revisit form-control",:value => opdrecord.read_attribute(:l_revisit_date) , readonly: 'readonly'} %>
        </div>
      </div>
      <div class="row" style="margin: auto;margin-bottom: 10px;">
        <span class="col-md-offset-3 col-sm-offset-3 col-md-4 col-sm-4">
          <span class="col-md-5 col-sm-5">Color</span>
          <span class="col-md-7 col-sm-7">
            <%= f.input_field :l_contactlens_color, :class => "form-control form-control-custom l_contactlens_color", :required => false, :name => "opdrecord[l_contactlens_color]", :value => opdrecord.read_attribute(:l_contactlens_color), :style => 'width: 100%' %>
          </span>
        </span>
        <span class="col-md-4 col-sm-4" style="padding: 0px;">
          <span class="col-md-3 col-sm-3">Type</span>
          <span><%= f.input :l_contactlens_types, wrapper_html: {:class => "col-md-9 col-sm-9"},collection: ['Soft','RGP','Disposable','Extended Wear','Rose-K','Ortho-K','Plastic','Cosmetic','Bi-focal'], :include_blank => 'Select', :label => false, :required => false, :class => 'btn btn-xs btn-white l_contactlens_types form-control form-control-custom', :input_html => {:name => "opdrecord[l_contactlens_types]", :class => "form-control form-control-custom",:style=>"width: 125%;" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_contactlens_types)) %></span>
        </span>
      </div>
      <div class="row mb5" style="width: 105%;">
        <div class="col-md-3 col-sm-3 text-center">Advice: </div>
        <div class="col-md-9 col-sm-9">
          <%= f.text_area :l_contactlens_comments, {:class => "form-control", :style => "width:95%;", :required => false, :name => "opdrecord[l_contactlens_comments]", :value => opdrecord.read_attribute(:l_contactlens_comments)} %>
        </div>
      </div>
    </div>
  </div>

  <div class="hr-line-border mb5"></div>

<script type="text/javascript">
  datepicker_options = {
    minDate: 0,
    dateFormat: "dd/mm/yy"
  }
  $(".l_datepicker_revisit").datepicker(datepicker_options);
  $('#opdrecord_l_intraocularpressure_time').timepicker({minuteStep: 5});

  <% if opdrecord.read_attribute(:l_revisit_date).present? %>
    $('#l_clear_revisit_date').fadeIn()
  <% end %>

  $('.l_datepicker_revisit').on('change', function(){
    $('#l_clear_revisit_date').fadeIn()
  })

  $('#l_clear_revisit_date').on('click', function(){
    $(this).fadeOut();
    $('.l_datepicker_revisit').attr("value", "")
  })
</script>

<style>
  .l_datepicker_revisit {
    background-color: #fff !important;
    cursor: pointer !important;
  }
  .visualacuity_pinhole .btn-group{
    margin: 0px;
  }

  .visualacuity_pinhole .btn-group{
    margin: 0px;
  }

  .form-control-custom{
    padding: 5px 10px;
  }
  .data-filled{
    background: #1A4E7B;
  }
  .data-empty{
    background: #1A4E7B;
    opacity:0.5;
  }
  .ref_field{
    width: 100% !important;
    text-align: center;
  }
  .lcopybutton,.lvacopybutton{
    color: #fff;
    cursor: pointer;
  }

  @media screen and (min-width: 1439px) {
      .l_dilated_retinoscopy_top_va1 {
        margin-left: 36%;
      }
      .l_dilated_retinoscopy_left_ha1 {
          margin-top: 13%;
          margin-left: 46%
      }
      .l_dilated_retinoscopy_right_ha2 {
          margin-top: 13%;
          margin-left: -84%
      }
      .l_dilated_retinoscopy_bottom_va2 {
        margin-left: 36%;
        margin-top: -2%
      }
  }

  @media screen and (max-width: 1438px)  {
      .l_dilated_retinoscopy_top_va1 {
        margin-left: 37%;
      }
      .l_dilated_retinoscopy_left_ha1 {
          margin-top: 13%;
          margin-left: 40%
      }
      .l_dilated_retinoscopy_right_ha2 {
          margin-top: 13%;
          margin-left: -84%
      }
      .l_dilated_retinoscopy_bottom_va2 {
        margin-left: 37%;
        margin-top: -2%
      }
  }

  .l-intraocularpressure-row .dropdown-menu {
    position: absolute;
    left: -70px;
    width: 170px;
    }
  .l-intraocularpressure-row .bootstrap-timepicker-widget.dropdown-menu:before {
    left: 100px;
    position: absolute;
    }
  .l-intraocularpressure-row .bootstrap-timepicker-widget.dropdown-menu:after {
    left: 100px;
    position: absolute;
  }
  .bootstrap-timepicker-hour, .bootstrap-timepicker-minute, .bootstrap-timepicker-meridian {
    width: 100% !important;
  }
  .l_intraocularpressure_time{
    background-color: #fff !important;
    cursor: pointer !important;
  }
</style>