<% country_id = current_facility.country_id %>
  <div class="row r-visualacuity-row">
    <div class="col-md-12 col-sm-12 col-xs-12 r-visualacuity-column questionsforvisualacuity" id="r-questionsforvisualacuity" style="padding-top: 3px;">
      <div class="col-md-3 col-sm-3" style="padding: 0px">
        <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>VISUAL ACUITY (Va)&nbsp;&nbsp;</strong><i class="fa fa-arrow-right rvacopybutton" title="Copy Left to Right" aria-hidden="true"></i></div>
      </div>
      <% if @organisations_setting.mandatory_opd_templates %>
        <div class="col-md-6 col-sm-6" style="margin-left: 8px; margin-top: -1px;">
          <div class="ckbox ckbox-success">
            <%= f.check_box :no_right_va_advised, {class: "right_va_advised", :value => opdrecord.read_attribute(:no_right_va_advised)}, "false", "true" %>
            <label for="opdrecord_no_right_va_advised">VA not examined</label>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-12 col-sm-12 r-answersforvisualacuity">
      <div class="row col-md-12 col-sm-12">
        <span class="col-md-2 col-sm-2">UCVA <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_r_visualacuity_unaided" class="clear_r_visualacuity_unaided">clear</small>
          <%= f.input_field :r_visualacuity_unaided_comments, :class => "r_visualacuity_unaided_comments form-control form-control-comment ref_field", :maxlength => 12, :required => false, :name => "opdrecord[r_visualacuity_unaided_comments]", :value => opdrecord.read_attribute(:r_visualacuity_unaided_comments) %>
        </span>
        <%= f.input :r_visualacuity_unaided, wrapper_html: {:class => "col-md-9 col-sm-9",:style => "padding: 0px"},collection: opdrecord.visual_acuity_values(country_id), :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white r_va r_visualacuity_unaided', :input_html => {:name => "opdrecord[r_visualacuity_unaided]" }, :checked => opdrecord.read_attribute(:r_visualacuity_unaided) %>
        <%= f.input :r_visualacuity_unaided_p, wrapper_html: {:class=>"col-md-1 col-sm-1"},collection: [ ['P','P'] ], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white r_va r_visualacuity_unaided_p', :input_html => {:name => "opdrecord[r_visualacuity_unaided_p]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_visualacuity_unaided_p)) %>

        <span class="col-md-2 col-sm-2">Near<small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_r_visualacuity_ua_near" class="clear_r_visualacuity_ua_near">clear</small>
          <%= f.input_field :r_visualacuity_ua_near_comments, :class => "r_visualacuity_ua_near_comments form-control form-control-comment ref_field", :maxlength => 12, :required => false, :name => "opdrecord[r_visualacuity_ua_near_comments]", :value => opdrecord.read_attribute(:r_visualacuity_ua_near_comments) %>
          </span>
        <%= f.input :r_visualacuity_ua_near, wrapper_html: {:class => "col-md-9 col-sm-9",:style => "padding: 0px"},collection: opdrecord.visual_acuity_near_values(country_id), :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white r_va r_visualacuity_ua_near', :input_html => {:name => "opdrecord[r_visualacuity_ua_near]" }, :checked => opdrecord.read_attribute(:r_visualacuity_ua_near) %>
        <%= f.input :r_visualacuity_ua_near_p, wrapper_html: {:class=>"col-md-1 col-sm-1"},collection: [ ['P','P'] ], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white r_va r_visualacuity_ua_near_p', :input_html => {:name => "opdrecord[r_visualacuity_ua_near_p]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_visualacuity_ua_near_p)) %>
        <div class="col-md-offset-2 col-sm-offset-2 col-md-10 col-sm-10 mb10" style="padding: 0">
          <div class="col-md-1 col-sm-1" style="margin-top: 1%">PR:</div>
          <div class="col-md-10 col-sm-10" style="padding: 0">
            <span class="col-md-1 col-sm-1 text-right" style="margin-top: 1%">S</span>
            <%= f.input :r_visualacuity_ua_s, wrapper_html: {:class => "col-md-2 col-sm-2"},collection: ['+','-'], :include_blank => 'Sel', :label => false, :required => false, :class => 'btn btn-xs btn-white r_va r_visualacuity_ua_s form-control', :input_html => {:name => "opdrecord[r_visualacuity_ua_s]", :class => "form-control r_va r_visualacuity_ua_s", :style => "padding: 4px 0px" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_visualacuity_ua_s)) %>
            <span class="col-md-1 col-sm-1 text-right" style="margin-top: 1%">I</span>
            <%= f.input :r_visualacuity_ua_i, wrapper_html: {:class => "col-md-2 col-sm-2"},collection: ['+','-'], :include_blank => 'Sel', :label => false, :required => false, :class => 'btn btn-xs btn-white r_va r_visualacuity_ua_i form-control', :input_html => {:name => "opdrecord[r_visualacuity_ua_i]", :class => "form-control r_va r_visualacuity_ua_i", :style => "padding: 4px 0px" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_visualacuity_ua_i)) %>
            <span class="col-md-1 col-sm-1 text-right" style="margin-top: 1%">N</span>
            <%= f.input :r_visualacuity_ua_n, wrapper_html: {:class => "col-md-2 col-sm-2"},collection: ['+','-'], :include_blank => 'Sel', :label => false, :required => false, :class => 'btn btn-xs btn-white r_va r_visualacuity_ua_n form-control', :input_html => {:name => "opdrecord[r_visualacuity_ua_n]", :class => "form-control r_va r_visualacuity_ua_n", :style => "padding: 4px 0px" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_visualacuity_ua_n)) %>
            <span class="col-md-1 col-sm-1 text-right" style="margin-top: 1%">T</span>
            <%= f.input :r_visualacuity_ua_t, wrapper_html: {:class => "col-md-2 col-sm-2"},collection: ['+','-'], :include_blank => 'Sel', :label => false, :required => false, :class => 'btn btn-xs btn-white r_va r_visualacuity_ua_t form-control', :input_html => {:name => "opdrecord[r_visualacuity_ua_t]", :class => "form-control r_va r_visualacuity_ua_t", :style => "padding: 4px 0px" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_visualacuity_ua_t)) %>
          </div>
        </div>
        <span class="col-md-2 col-sm-2">Pinhole <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_r_visualacuity_pinhole">clear</small>
          <%= f.input_field :r_visualacuity_pinhole_comments, :class => "form-control form-control-comment ref_field", :maxlength => 12, :required => false, :name => "opdrecord[r_visualacuity_pinhole_comments]", :value => opdrecord.read_attribute(:r_visualacuity_pinhole_comments) %>
        </span>
        <%= f.input :r_visualacuity_pinhole, wrapper_html: {:class => "col-md-9 col-sm-9",:style => "padding: 0px"},collection: opdrecord.visual_acuity_values(country_id), :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white r_va r_visualacuity_pinhole', :input_html => {:name => "opdrecord[r_visualacuity_pinhole]" }, :checked => opdrecord.read_attribute(:r_visualacuity_pinhole) %>
        <div class="col-md-1 col-sm-1 visualacuity_pinhole">
          <%= f.input :r_visualacuity_pinhole_p, wrapper_html: {:class=>""},collection: [ ['P','P'] ], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white r_va r_visualacuity_pinhole_p', :input_html => {:name => "opdrecord[r_visualacuity_pinhole_p]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_visualacuity_pinhole_p)) %>
          <%= f.input :r_visualacuity_pinhole_ni, wrapper_html: {:class=>""},collection: [ ['NI','NI'] ], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white r_va r_visualacuity_pinhole_ni', :input_html => {:name => "opdrecord[r_visualacuity_pinhole_ni]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_visualacuity_pinhole_ni)) %>
        </div>
      </div>
      <div class="row" style="padding-bottom: 20px">
        <div class="col-md-2 col-sm-2">Comments: </div>
        <div class="col-md-10 col-sm-10">
          <%= f.text_area :r_visualacuity_comments, {:class => "form-control r_visualacuity_comments", :style => "width:85%;margin-left: -9px;", :required => false, :name => "opdrecord[r_visualacuity_comments]", :value => opdrecord.read_attribute(:r_visualacuity_comments)} %>
        </div>
      </div>
    </div>
  </div>

  <div class="hr-line-border mb5"></div>
  <!-- pgp -->
  <%= render partial: "opd_records/ophthalmology_notes/opd_partials/r_eye_pgp_optometrist_examination.html.erb", locals: { f: f, opdrecord: @opdrecord } %>
  <!-- pgp end -->

  <div class="hr-line-border mb5"></div>
  <div class="row r-autorefraction-row">
    <div class="col-md-12 col-sm-12 r-refraction-column questionsforautorefraction" id="r-questionsforautorefraction">
      <div class="col-md-3 col-sm-3" style="padding: 0px">
        <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>AUTO REFRACTION (ARx)&nbsp;&nbsp;</strong><i class="fa fa-arrow-right rcopybutton" title="Copy Left to Right" aria-hidden="true"></i></div>
        <span class="row col-md-12 col-sm-12" style="margin-top: 5px; cursor: pointer; display:none;" title="Fill Auto Refraction" id="fill-auto-refraction"><a href="/opd_records/ophthalmology_notes/fill_refraction_data?flag=auto_refraction" data-remote="true"> <i class="fa fa-arrow-circle-right filldatabutton "> Fill</i></a></span>
      </div>
      <div class="col-md-9 col-sm-9 r-answersforautorefraction">
        <div class="editview_toggle_r">
          <table class="table table-bordered">
            <thead>
            <tr class="success">
              <th width="20%" style="padding-top:0px;padding-bottom:0px;"></th>
              <th width="20%" style="padding-top:0px;padding-bottom:0px;">Sph</th>
              <th width="20%" style="padding-top:0px;padding-bottom:0px;">Cyl</th>
              <th width="20%" style="padding-top:0px;padding-bottom:0px;">Axis</th>
              <th width="20%" style="padding-top:0px;padding-bottom:0px;">Vision</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  Dry
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :r_autorefraction_dry_sph, :class => "form-control form-control-custom auto-refraction r_autorefraction_dry_sph ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_autorefraction_dry_sph]", :value => opdrecord.read_attribute(:r_autorefraction_dry_sph) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :r_autorefraction_dry_cyl, :class => "form-control form-control-custom auto-refraction r_autorefraction_dry_cyl ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_autorefraction_dry_cyl]", :value => opdrecord.read_attribute(:r_autorefraction_dry_cyl) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :r_autorefraction_dry_axis, :class => "form-control form-control-custom auto-refraction r_autorefraction_dry_axis ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_autorefraction_dry_axis]", :value => opdrecord.read_attribute(:r_autorefraction_dry_axis) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :r_autorefraction_dry_vision, :class => "form-control form-control-custom auto-refraction r_autorefraction_dry_vision ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_autorefraction_dry_vision]", :value => opdrecord.read_attribute(:r_autorefraction_dry_vision) %>
                </td>
              </tr>

              <tr>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :r_autorefraction_dry1_sph, :class => "form-control form-control-custom auto-refraction r_autorefraction_dry1_sph ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_autorefraction_dry1_sph]", :value => opdrecord.read_attribute(:r_autorefraction_dry1_sph) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :r_autorefraction_dry1_cyl, :class => "form-control form-control-custom auto-refraction r_autorefraction_dry1_cyl ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_autorefraction_dry1_cyl]", :value => opdrecord.read_attribute(:r_autorefraction_dry1_cyl) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :r_autorefraction_dry1_axis, :class => "form-control form-control-custom auto-refraction r_autorefraction_dry1_axis ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_autorefraction_dry1_axis]", :value => opdrecord.read_attribute(:r_autorefraction_dry1_axis) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :r_autorefraction_dry1_vision, :class => "form-control form-control-custom auto-refraction r_autorefraction_dry1_vision ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_autorefraction_dry1_vision]", :value => opdrecord.read_attribute(:r_autorefraction_dry1_vision) %>
                </td>
              </tr>

              <tr>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :r_autorefraction_dry2_sph, :class => "form-control form-control-custom auto-refraction r_autorefraction_dry2_sph ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_autorefraction_dry2_sph]", :value => opdrecord.read_attribute(:r_autorefraction_dry2_sph) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :r_autorefraction_dry2_cyl, :class => "form-control form-control-custom auto-refraction r_autorefraction_dry2_cyl ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_autorefraction_dry2_cyl]", :value => opdrecord.read_attribute(:r_autorefraction_dry2_cyl) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :r_autorefraction_dry2_axis, :class => "form-control form-control-custom auto-refraction r_autorefraction_dry2_axis ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_autorefraction_dry2_axis]", :value => opdrecord.read_attribute(:r_autorefraction_dry2_axis) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :r_autorefraction_dry2_vision, :class => "form-control form-control-custom auto-refraction r_autorefraction_dry2_vision ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_autorefraction_dry2_vision]", :value => opdrecord.read_attribute(:r_autorefraction_dry2_vision) %>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;width: 20%;">
                  Cycloplegic
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :r_autorefraction_dilated1_sph, :class => "form-control form-control-custom auto-refraction r_autorefraction_dilated1_sph ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_autorefraction_dilated1_sph]", :value => opdrecord.read_attribute(:r_autorefraction_dilated1_sph) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :r_autorefraction_dilated1_cyl, :class => "form-control form-control-custom auto-refraction r_autorefraction_dilated1_cyl ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_autorefraction_dilated1_cyl]", :value => opdrecord.read_attribute(:r_autorefraction_dilated1_cyl) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :r_autorefraction_dilated1_axis, :class => "form-control form-control-custom auto-refraction r_autorefraction_dilated1_axis ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_autorefraction_dilated1_axis]", :value => opdrecord.read_attribute(:r_autorefraction_dilated1_axis) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :r_autorefraction_dilated1_vision, :class => "form-control form-control-custom auto-refraction r_autorefraction_dilated1_vision ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_autorefraction_dilated1_vision]", :value => opdrecord.read_attribute(:r_autorefraction_dilated1_vision) %>
                </td>
              </tr>

              <tr>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :r_autorefraction_dilated2_sph, :class => "form-control form-control-custom auto-refraction r_autorefraction_dilated2_sph ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_autorefraction_dilated2_sph]", :value => opdrecord.read_attribute(:r_autorefraction_dilated2_sph) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :r_autorefraction_dilated2_cyl, :class => "form-control form-control-custom auto-refraction r_autorefraction_dilated2_cyl ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_autorefraction_dilated2_cyl]", :value => opdrecord.read_attribute(:r_autorefraction_dilated2_cyl) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :r_autorefraction_dilated2_axis, :class => "form-control form-control-custom auto-refraction r_autorefraction_dilated2_axis ref_field", :maxlength => 6,  :required => false, :name => "opdrecord[r_autorefraction_dilated2_axis]", :value => opdrecord.read_attribute(:r_autorefraction_dilated2_axis) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :r_autorefraction_dilated2_vision, :class => "form-control form-control-custom auto-refraction r_autorefraction_dilated2_vision ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_autorefraction_dilated2_vision]", :value => opdrecord.read_attribute(:r_autorefraction_dilated2_vision) %>
                </td>
              </tr>

              <tr>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :r_autorefraction_dilated3_sph, :class => "form-control form-control-custom auto-refraction r_autorefraction_dilated3_sph ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_autorefraction_dilated3_sph]", :value => opdrecord.read_attribute(:r_autorefraction_dilated3_sph) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :r_autorefraction_dilated3_cyl, :class => "form-control form-control-custom auto-refraction r_autorefraction_dilated3_cyl ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_autorefraction_dilated3_cyl]", :value => opdrecord.read_attribute(:r_autorefraction_dilated3_cyl) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :r_autorefraction_dilated3_axis, :class => "form-control form-control-custom auto-refraction r_autorefraction_dilated3_axis ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_autorefraction_dilated3_axis]", :value => opdrecord.read_attribute(:r_autorefraction_dilated3_axis) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :r_autorefraction_dilated3_vision, :class => "form-control form-control-custom auto-refraction r_autorefraction_dilated3_vision ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_autorefraction_dilated3_vision]", :value => opdrecord.read_attribute(:r_autorefraction_dilated3_vision) %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="hr-line-border mb5"></div>
  <div class="row r-pd-row">
    <div class="col-md-12 col-sm-12 r-refraction-column questionsforpd" id="r-questionsforpd">
      <div class="col-md-3 col-sm-3" style="padding: 0px">
        <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>PD&nbsp;&nbsp;</strong><i class="fa fa-arrow-right rcopybutton" title="Copy Left to Right" aria-hidden="true"></i></div>
        <span class="row col-md-12 col-sm-12" style="margin-top: 5px; cursor: pointer" title="Copy PD to Glass Prescription" id="copy_pd_to_gl_pres"><i class="fa fa-arrow-circle-down copyfieldsbutton"> copy</i></span>
      </div>
      <div class="col-md-9 col-sm-9 r-answersforpd">
        <div class="col-md-12 col-sm-12 editview_toggle_r">
          <div class="col-md-3 col-sm-3">Monocular Distance PD: &nbsp;</div>
          <div class="col-md-3 col-sm-3">
            <%= f.input_field :r_monocular_distance_pd, :class => "form-control form-control-custom r_monocular_distance_pd", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[r_monocular_distance_pd]", :value => opdrecord.read_attribute(:r_monocular_distance_pd), :style => "margin-left: -1%"%>&nbsp;mm
          </div>
          <div class="col-md-3 col-sm-3">Monocular Near PD: &nbsp;</div>
          <div class="col-md-3 col-sm-3">
            <%= f.input_field :r_monocular_near_pd, :class => "form-control form-control-custom r_monocular_near_pd", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[r_monocular_near_pd]", :value => opdrecord.read_attribute(:r_monocular_near_pd), :style => "margin-left: -1%"%>&nbsp;mm
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hr-line-border mb5"></div>
  <div class="row r-retinoscopy-row">
    <div class="col-md-12 col-xs-12 r-refraction-column questionsforretinoscopy" id="r-questionsforretinoscopy">
      <div class="col-md-3 col-xs-3" style="padding: 0px">
        <div class="col-md-12 col-xs-12 badge badge-eye-template-labels"><strong>DRY NET <div class="mb1"></div>RETINOSCOPY&nbsp;&nbsp;</strong><i class="fa fa-arrow-right rcopybutton" title="Copy Right to Left" aria-hidden="true"></i></div>
        <span class="row col-md-12 col-xs-12" style="margin-top: 5px; cursor: pointer;display: none;" title="Fill Retinoscopy" id="fill-retinoscopy"><a href="/opd_records/ophthalmology_notes/fill_retinoscopy_data?flag=retinoscopy" data-remote="true"> <i class="fa fa-arrow-circle-right filldatabutton"> Fill</i></a></span>
      </div>
      <div class="col-md-9 col-xs-9 r-answersforretinoscopy">
        <div class="editview_toggle_r">
          <table class="table table-bordered">
            <thead>
              <tr class="success">
                <th width="15%" style="padding-top:0px;padding-bottom:0px;"></th>
                <th width="15%" style="padding-top:0px;padding-bottom:0px;">Sph</th>
                <th width="15%" style="padding-top:0px;padding-bottom:0px;">Cyl</th>
                <th width="15%" style="padding-top:0px;padding-bottom:0px;">Axis</th>
                <th width="15%" style="padding-top:0px;padding-bottom:0px;">Vision</th>
                <th width="25%" style="padding-top:0px;padding-bottom:0px;">Reflex Type</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  Distant
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :r_retinoscopy_sph, :class => "form-control form-control-custom retinoscopy r_retinoscopy_sph ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_retinoscopy_sph]", :value => opdrecord.read_attribute(:r_retinoscopy_sph) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :r_retinoscopy_cyl, :class => "form-control form-control-custom retinoscopy r_retinoscopy_cyl ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_retinoscopy_cyl]", :value => opdrecord.read_attribute(:r_retinoscopy_cyl) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :r_retinoscopy_axis, :class => "form-control form-control-custom retinoscopy r_retinoscopy_axis ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_retinoscopy_axis]", :value => opdrecord.read_attribute(:r_retinoscopy_axis) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :r_retinoscopy_vision, :class => "form-control form-control-custom retinoscopy r_retinoscopy_vision ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_retinoscopy_vision]", :value => opdrecord.read_attribute(:r_retinoscopy_vision) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input :r_retinoscopy_reflex, wrapper_html: {:class => "form-control form-control-custom r_retinoscopy_reflex ref_field"},collection: ['Clear Reflex','Dull Reflex','Peripheral Reflex','White Reflex','Central Reflex'], :include_blank => 'Select', :label => false, :required => false, :class => 'btn btn-xs btn-white r_retinoscopy_reflex form-control-custom form-control', :input_html => {:name => "opdrecord[r_retinoscopy_reflex]", :class => "form-control retinoscopy form-control-custom",:style=>"width: 100%;padding:0px;" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_retinoscopy_reflex)) %>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="col-md-12 col-xs-12" style="margin-top: 2%;margin-bottom: 2%;width: 144%; margin-left: -37%;">
            <span class="col-md-6 col-xs-6">At Distance: &nbsp;&nbsp;&nbsp;
              <div class="input-group">
                <%= f.input_field :r_retinoscopy_distance, :class => "form-control form-control-custom r_retinoscopy_distance", :maxlength => 8, :size => 6, :required => false, :name => "opdrecord[r_retinoscopy_distance]", :value => opdrecord.read_attribute(:r_retinoscopy_distance), :style => "margin-left: -1%"%>
              </div>
            </span>
          </div>
          <div class="row mb5" style="width: 145%;margin-left: -39%;">
            <div class="col-md-3 col-xs-3 text-center">Comments: </div>
            <div class="col-md-9 col-xs-9">
              <%= f.text_area :r_retinoscopy_dry_comments, {:class => "form-control r_retinoscopy_dry_comments", :style => "width:95%;", :required => false, :name => "opdrecord[r_retinoscopy_dry_comments]", :value => opdrecord.read_attribute(:r_retinoscopy_dry_comments)} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hr-line-border mb5"></div>
  <div class="row r-cycloretinoscopy-row">
    <div class="col-md-12 col-xs-12 r-refraction-column questionsforretinoscopy" id="r-questionsforretinoscopy">
      <div class="col-md-3 col-xs-3" style="padding: 0px">
        <div class="col-md-12 col-xs-12 badge badge-eye-template-labels"><strong>CYCLO NET <div class="mb1"></div>RETINOSCOPY&nbsp;&nbsp;</strong><i class="fa fa-arrow-right rcopybutton" title="Copy Right to Left" aria-hidden="true"></i></div>
        <span class="row col-md-12 col-xs-12" style="margin-top: 5px; cursor: pointer;display: none;" title="Fill Retinoscopy" id="fill-retinoscopy"><a href="/opd_records/ophthalmology_notes/fill_retinoscopy_data?flag=dilated_retinoscopy" data-remote="true"> <i class="fa fa-arrow-circle-right filldatabutton"> Fill</i></a></span>
      </div>
      <div class="col-md-9 col-xs-9 r-answersforcycloretinoscopy">
        <div class="editview_toggle_r">
          <table class="table table-bordered">
            <thead>
              <tr class="success">
                <th width="15%" style="padding-top:0px;padding-bottom:0px;"></th>
                <th width="15%" style="padding-top:0px;padding-bottom:0px;">Sph</th>
                <th width="15%" style="padding-top:0px;padding-bottom:0px;">Cyl</th>
                <th width="15%" style="padding-top:0px;padding-bottom:0px;">Axis</th>
                <th width="15%" style="padding-top:0px;padding-bottom:0px;">Vision</th>
                <th width="25%" style="padding-top:0px;padding-bottom:0px;">Reflex Type</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  Distant
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :r_retinoscopy_dilated_sph, :class => "form-control form-control-custom dilated-retinoscopy r_retinoscopy_dilated_sph ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_retinoscopy_dilated_sph]", :value => opdrecord.read_attribute(:r_retinoscopy_dilated_sph) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :r_retinoscopy_dilated_cyl, :class => "form-control form-control-custom dilated-retinoscopy r_retinoscopy_dilated_cyl ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_retinoscopy_dilated_cyl]", :value => opdrecord.read_attribute(:r_retinoscopy_dilated_cyl) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :r_retinoscopy_dilated_axis, :class => "form-control form-control-custom dilated-retinoscopy r_retinoscopy_dilated_axis ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_retinoscopy_dilated_axis]", :value => opdrecord.read_attribute(:r_retinoscopy_dilated_axis) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input_field :r_retinoscopy_dilated_vision, :class => "form-control form-control-custom dilated-retinoscopy r_retinoscopy_dilated_vision ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_retinoscopy_dilated_vision]", :value => opdrecord.read_attribute(:r_retinoscopy_dilated_vision) %>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <%= f.input :r_retinoscopy_dilated_reflex, wrapper_html: {:class => "form-control form-control-custom r_retinoscopy_dilated_reflex ref_field"},collection: ['Clear Reflex','Dull Reflex','Peripheral Reflex','White Reflex','Central Reflex'], :include_blank => 'Select', :label => false, :required => false, :class => 'btn btn-xs btn-white r_retinoscopy_dilated_reflex form-control-custom form-control', :input_html => {:name => "opdrecord[r_retinoscopy_dilated_reflex]", :class => "form-control dilated-retinoscopy form-control-custom",:style=>"width: 100%; padding: 0px;" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_retinoscopy_dilated_reflex)) %>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="col-md-12 col-xs-12" style="margin-top: 2%;margin-bottom: 2%;width: 144%; margin-left: -37%;">
            <span class="col-md-6 col-xs-6">At Distance: &nbsp;&nbsp;&nbsp;
              <div class="input-group">
                <%= f.input_field :r_retinoscopy_dilated_distance, :class => "form-control form-control-custom r_retinoscopy_dilated_distance", :maxlength => 8, :size => 6, :required => false, :name => "opdrecord[r_retinoscopy_dilated_distance]", :value => opdrecord.read_attribute(:r_retinoscopy_dilated_distance), :style => "margin-left: -1%"%>
                <span class="input-group-addon">Mt/cm</span>
              </div>
            </span>
            <span class="col-md-3 col-xs-3">Drug Used:</span>
            <span class="col-md-3 col-xs-3"><%= f.input :r_retinoscopy_dilated_drug_used ,collection: ["Tropicamide_P", "Tropicamide", "Timolol", "Homide", "Latanoprost", "Brimonidine", "Travoprost", "Tobramycin", "Moxifloxacin", "Homatropine", "Pilocarpine", "Cyclopentolate", "Atropine", "Phenylephrine", "Tropicacyl", "Paracain", "Ciplox", "Tropicamide_P + Distilled Water", "Tropicamide_P + Lubrex"], :include_blank => 'Select', :label => false, :required => false, :class => 'btn btn-xs btn-white r_retinoscopy_dilated_drug_used form-control form-control-custom', :input_html => {:name => "opdrecord[r_retinoscopy_dilated_drug_used]", :class => "form-control form-control-custom",:style=>"width: 137%;margin-left: -37%" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_retinoscopy_dilated_drug_used)) %></span>
          </div>
          <div class="row mb5" style="width: 145%;margin-left: -39%;">
            <div class="col-md-3 col-xs-3 text-center">Comments: </div>
            <div class="col-md-9 col-xs-9">
              <%= f.text_area :r_retinoscopy_dilated_comments, {:class => "form-control", :style => "width:95%;", :required => false, :name => "opdrecord[r_retinoscopy_dilated_comments]", :value => opdrecord.read_attribute(:r_retinoscopy_dilated_comments)} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hr-line-border mb5"></div>
  <div class="row r-refraction-row">
    <div class="col-md-12 col-xs-12 r-refraction-column questionsforrefraction" id="r-questionsforrefraction">
      <div class="col-md-3 col-xs-3" style="padding: 0px">
        <div class="col-md-12 col-xs-12 badge badge-eye-template-labels"><strong>DRY REFRACTION&nbsp;&nbsp;</strong><i class="fa fa-arrow-right rcopybutton" title="Copy Right to Left" aria-hidden="true"></i></div>
        <span class="row col-md-12 col-xs-12" style="margin-top: 5px; cursor: pointer;" title="Fill Dry Refraction" id="fill-dry-refraction"><a href="/opd_records/ophthalmology_notes/fill_refraction_data?flag=dry_refraction&type=refraction" data-remote="true"> <i class="fa fa-arrow-circle-right filldatabutton"> Fill</i></a></span>
        <span class="row col-md-12 col-sm-12" style="margin-top: 5px; cursor: pointer" title="Copy Dry Refraction to Glass Prescription" id="copy_dryref_to_gl_pres"><i class="fa fa-arrow-circle-down copyfieldsbutton"> copy</i></span>
      </div>
      <div class="col-md-9 col-xs-9 r-answersforrefraction">
        <table class="table table-bordered">
          <thead>
            <tr class="success">
              <th width="14%" style="padding-top:0px;padding-bottom:0px;"></th>
              <th width="14%" style="padding-top:0px;padding-bottom:0px;">Sph</th>
              <th width="14%" style="padding-top:0px;padding-bottom:0px;">Cyl</th>
              <th width="14%" style="padding-top:0px;padding-bottom:0px;">Axis</th>
              <th width="14%" style="padding-top:0px;padding-bottom:0px;">VA</th>
              <th width="14%" style="padding-top:0px;padding-bottom:0px;">VA(PH)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                Distant
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :r_refraction_distant_sph, :class => "form-control form-control-custom dry-refraction r_refraction_distant_sph calculate_sph_near_from_distant ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_refraction_distant_sph]", :value => opdrecord.read_attribute(:r_refraction_distant_sph) %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :r_refraction_distant_cyl, :class => "form-control form-control-custom dry-refraction r_refraction_distant_cyl calculate_cyl_near_from_distant ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_refraction_distant_cyl]", :value => opdrecord.read_attribute(:r_refraction_distant_cyl) %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :r_refraction_distant_axis, :class => "form-control form-control-custom dry-refraction r_refraction_distant_axis calculate_axis_near_from_distant ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_refraction_distant_axis]", :value => opdrecord.read_attribute(:r_refraction_distant_axis) %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :r_refraction_distant_vision, :class => "form-control form-control-custom dry-refraction r_refraction_distant_vision  ref_field", :maxlength => 12, :required => false, :name => "opdrecord[r_refraction_distant_vision]", :value => opdrecord.read_attribute(:r_refraction_distant_vision) %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :r_refraction_distant_va_ph, :class => "form-control form-control-custom dry-refraction r_refraction_distant_va_ph  ref_field", :maxlength => 12, :required => false, :name => "opdrecord[r_refraction_distant_va_ph]", :value => opdrecord.read_attribute(:r_refraction_distant_va_ph) %>
              </td>
            </tr>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                Add<sup class="suphash">#</sup>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :r_refraction_add_sph, :class => "form-control form-control-custom dry-refraction r_refraction_add_sph calculate_near_from_add ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_refraction_add_sph]", :value => opdrecord.read_attribute(:r_refraction_add_sph) %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :r_refraction_add_cyl, :class => "form-control form-control-custom r_refraction_add_cyl ref_field",:readonly=> true, :maxlength => 8, :required => false, :name => "opdrecord[r_refraction_add_cyl]", :value => opdrecord.read_attribute(:r_refraction_add_cyl) %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :r_refraction_add_axis, :class => "form-control form-control-custom r_refraction_add_axis ref_field",:readonly=> true, :maxlength => 8, :required => false, :name => "opdrecord[r_refraction_add_axis]", :value => opdrecord.read_attribute(:r_refraction_add_axis) %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :r_refraction_add_vision, :class => "form-control form-control-custom dry-refraction r_refraction_add_vision ref_field", :maxlength => 12, :required => false, :name => "opdrecord[r_refraction_add_vision]", :value => opdrecord.read_attribute(:r_refraction_add_vision) %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :r_refraction_add_va_ph, :class => "form-control form-control-custom dry-refraction r_refraction_add_va_ph  ref_field", :maxlength => 12, :required => false, :name => "opdrecord[r_refraction_add_va_ph]", :value => opdrecord.read_attribute(:r_refraction_add_va_ph) %>
              </td>
            </tr>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                Near
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :r_refraction_near_sph, :class => "form-control form-control-custom dry-refraction r_refraction_near_sph ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_refraction_near_sph]", :value => opdrecord.read_attribute(:r_refraction_near_sph) %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :r_refraction_near_cyl, :class => "form-control form-control-custom dry-refraction r_refraction_near_cyl ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_refraction_near_cyl]", :value => opdrecord.read_attribute(:r_refraction_near_cyl) %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :r_refraction_near_axis, :class => "form-control form-control-custom dry-refraction r_refraction_near_axis ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_refraction_near_axis]", :value => opdrecord.read_attribute(:r_refraction_near_axis) %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :r_refraction_near_vision, :class => "form-control form-control-custom dry-refraction r_refraction_near_vision ref_field", :maxlength => 12, :required => false, :name => "opdrecord[r_refraction_near_vision]", :value => opdrecord.read_attribute(:r_refraction_near_vision) %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :r_refraction_near_va_ph, :class => "form-control form-control-custom dry-refraction r_refraction_near_va_ph ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_refraction_near_va_ph]", :value => opdrecord.read_attribute(:r_refraction_near_va_ph) %>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row mb5" style="width: 145%;margin-left: -39%;">
          <div class="col-md-3 col-xs-3 text-center">Comments: </div>
          <div class="col-md-9 col-xs-9">
            <%= f.text_area :r_refraction_comments, {:class => "form-control", :style => "width:95%;", :required => false, :name => "opdrecord[r_refraction_comments]", :value => opdrecord.read_attribute(:r_refraction_comments)} %>
          </div>
        </div>
        <div class="row mb20">
          <div class="col-md-12 col-xs-12">
            <span class="col-md-4 col-xs-4">Advice</span>
            <span><%= f.input :dry_refraction_advice, wrapper_html: {:class => "col-md-6 col-xs-6"},collection: ["GP", "PGP", "Contact lens", "Consult Doctor"], :include_blank => 'Select', :label => false, :required => false, :class => 'btn btn-xs btn-white dry_refraction_advice form-control-custom form-control', :input_html => {:name => "opdrecord[dry_refraction_advice]", :class => "form-control form-control-custom",:style=>"width: 100%;" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:dry_refraction_advice)) %></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hr-line-border mb5"></div>
  <div class="row r-acceptance-row">
    <div class="col-md-12 col-sm-12 r-acceptance-column questionsforacceptance" id="r-questionsforacceptance">
      <div class="col-md-3 col-sm-3" style="padding: 0px">
        <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>GLASSES<div class="mb1"></div>PRESCRIPTIONS (Rx)&nbsp;&nbsp;</strong><i class="fa fa-arrow-right rcopybutton" title="Copy Left to Right" aria-hidden="true"></i>
        </div>
        <span class="row col-md-12 col-sm-12" style="margin-top: 5px; margin-bottom: 5px; cursor: pointer; display:block;" title="Fill Glasses Prescription" id="fill-glasses-prescription"><a href="/opd_records/ophthalmology_notes/fill_refraction_data?flag=glasses_prescription" data-remote="true"> <i class="fa fa-arrow-circle-right filldatabutton "> Fill</i></a></span>
        <%= f.input :advise_glasses, wrapper_html: {:class=>"col-md-10 col-sm-10 mt5" , :style=> "margin-bottom: -12px"},collection: [ ['Advise','advise']], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white advise_glasses', :input_html => {:name => "opdrecord[advise_glasses]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:advise_glasses) || "advise")%>
        <div class="ckbox ckbox-primary show_add_ckbox">
          <% if params[:action] == "new" %>
            <% show_add = true %>
          <% else %>
            <% show_add = opdrecord.try(:glassesprescriptions_show_add) %>
          <% end %>
          <%= f.check_box :glassesprescriptions_show_add, { class: "glassesprescriptions_show_add", id: "glassesprescriptions_show_add", value: show_add }, "true", "false" %>
          <label for="glassesprescriptions_show_add" style='font-size:10px;'>Show Add in Print</label>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 r-answersforglassesprescriptions">
        <table class="table table-bordered">
          <thead>
          <tr class="success">
            <th width="20%" style="padding-top:0px;padding-bottom:0px;"></th>
            <th width="20%" style="padding-top:0px;padding-bottom:0px;">Sph</th>
            <th width="20%" style="padding-top:0px;padding-bottom:0px;">Cyl</th>
            <th width="20%" style="padding-top:0px;padding-bottom:0px;">Axis</th>
            <th width="20%" style="padding-top:0px;padding-bottom:0px;">Vision</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              Distant
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :r_glassesprescriptions_distant_sph, :class => "form-control form-control-custom glasses-prescription r_glassesprescriptions_distant_sph calculate_sph_near_from_distant ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_glassesprescriptions_distant_sph]", :value => opdrecord.read_attribute(:r_glassesprescriptions_distant_sph) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :r_glassesprescriptions_distant_cyl, :class => "form-control form-control-custom glasses-prescription r_glassesprescriptions_distant_cyl calculate_cyl_near_from_distant ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_glassesprescriptions_distant_cyl]", :value => opdrecord.read_attribute(:r_glassesprescriptions_distant_cyl) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :r_glassesprescriptions_distant_axis, :class => "form-control form-control-custom glasses-prescription r_glassesprescriptions_distant_axis calculate_axis_near_from_distant ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_glassesprescriptions_distant_axis]", :value => opdrecord.read_attribute(:r_glassesprescriptions_distant_axis) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :r_glassesprescriptions_distant_vision, :class => "form-control form-control-custom glasses-prescription r_glassesprescriptions_distant_vision ref_field", :maxlength => 12, :required => false, :name => "opdrecord[r_glassesprescriptions_distant_vision]", :value => opdrecord.read_attribute(:r_glassesprescriptions_distant_vision) %>
            </td>
          </tr>
          <tr>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              Add<sup class="suphash">#</sup>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :r_glassesprescriptions_add_sph, :class => "form-control form-control-custom glasses-prescription r_glassesprescriptions_add_sph calculate_near_from_add ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_glassesprescriptions_add_sph]", :value => opdrecord.read_attribute(:r_glassesprescriptions_add_sph) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :r_glassesprescriptions_add_cyl, :class => "form-control form-control-custom r_glassesprescriptions_add_cyl ref_field",:readonly=> true, :maxlength => 6, :required => false, :name => "opdrecord[r_glassesprescriptions_add_cyl]", :value => opdrecord.read_attribute(:r_glassesprescriptions_add_cyl) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :r_glassesprescriptions_add_axis, :class => "form-control form-control-custom r_glassesprescriptions_add_axis ref_field",:readonly=> true, :maxlength => 6, :required => false, :name => "opdrecord[r_glassesprescriptions_add_axis]", :value => opdrecord.read_attribute(:r_glassesprescriptions_add_axis) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :r_glassesprescriptions_add_vision, :class => "form-control form-control-custom glasses-prescription r_glassesprescriptions_add_vision ref_field", :maxlength => 12, :required => false, :name => "opdrecord[r_glassesprescriptions_add_vision]", :value => opdrecord.read_attribute(:r_glassesprescriptions_add_vision) %>
            </td>
          </tr>
          <tr>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              Near
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :r_glassesprescriptions_near_sph, :class => "form-control form-control-custom glasses-prescription r_glassesprescriptions_near_sph ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_glassesprescriptions_near_sph]", :value => opdrecord.read_attribute(:r_glassesprescriptions_near_sph) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :r_glassesprescriptions_near_cyl, :class => "form-control form-control-custom glasses-prescription r_glassesprescriptions_near_cyl ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_glassesprescriptions_near_cyl]", :value => opdrecord.read_attribute(:r_glassesprescriptions_near_cyl) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :r_glassesprescriptions_near_axis, :class => "form-control form-control-custom glasses-prescription r_glassesprescriptions_near_axis ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_glassesprescriptions_near_axis]", :value => opdrecord.read_attribute(:r_glassesprescriptions_near_axis) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :r_glassesprescriptions_near_vision, :class => "form-control form-control-custom glasses-prescription r_glassesprescriptions_near_vision ref_field", :maxlength => 12, :required => false, :name => "opdrecord[r_glassesprescriptions_near_vision]", :value => opdrecord.read_attribute(:r_glassesprescriptions_near_vision) %>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="row" style="margin: auto;margin-bottom: 15px;margin-right: 10px;">
        <span class="col-md-4 col-sm-4" style="padding: 0px;">
          <span class="col-md-5 col-sm-5">Type of Lens</span>
          <span><%= f.input :r_acceptance_typeoflens, wrapper_html: {:class => "col-md-7 col-sm-7"},collection: ['Single Vision - Distant','Single Vision - Near','Bifocal','Progressive','Bifocal or Progressive','D Bifocal','KT Bifocal'], :include_blank => 'Select', :label => false, :required => false, :class => 'btn btn-xs btn-white r_acceptance_typeoflens form-control-custom form-control', :input_html => {:name => "opdrecord[r_acceptance_typeoflens]", :class => "form-control-custom form-control",:style=>"width: 100%;" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_acceptance_typeoflens)) %></span>
        </span>
        <span class="col-md-4 col-sm-4" style="padding: 0px;">
          <span class="col-md-5 col-sm-5">Monocular Distance PD: </span>
          <span class="col-md-7 col-sm-7">
            <%= f.input_field :r_acceptance_distance_pd, :class => "form-control form-control-custom r_acceptance_distance_pd", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[r_acceptance_distance_pd]", :value => opdrecord.read_attribute(:r_acceptance_distance_pd), :style => "margin-left: -1%"%>&nbsp;mm
          </span>
        </span>
        <span class="col-md-4 col-sm-4" style="padding: 0px;">
          <span class="col-md-5 col-sm-5">Monocular Near PD: </span>
          <span class="col-md-7 col-sm-7">
            <%= f.input_field :r_acceptance_near_pd, :class => "form-control form-control-custom r_acceptance_near_pd", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[r_acceptance_near_pd]", :value => opdrecord.read_attribute(:r_acceptance_near_pd), :style => "margin-left: -1%"%>&nbsp;mm
          </span>
        </span>
      </div>
      <div class="row" style="margin: auto;margin-bottom: 10px;">
        <span class="col-md-4 col-sm-4" style="padding: 0px;">
          <span class="col-md-5 col-sm-5">Lens Material</span>
          <span><%= f.input :r_acceptance_lensmaterial, wrapper_html: {:class => "col-md-7 col-sm-7"},collection: ['Mineral','CR 39r','Patient Choice','Polycarbonate','Trivex','Organic','Evalution','MR7','MR10','MR8','Press on'], :include_blank => 'Select', :label => false, :required => false, :class => 'btn btn-xs btn-white r_acceptance_lensmaterial form-control form-control-custom', :input_html => {:name => "opdrecord[r_acceptance_lensmaterial]", :class => "form-control form-control-custom",:style=>"width: 100%;" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_acceptance_lensmaterial)) %></span>
        </span>
        <span class="col-md-4 col-sm-4" style="padding: 0px;">
          <span class="col-md-5 col-sm-5">Lens Tint</span>
          <span><%= f.input :r_acceptance_lenstint, wrapper_html: {:class => "col-md-7 col-sm-7"},collection: ['White','Amber','B1','B2','B3','Brown','G-15','Gradient Tint','Patient Choice','Photogrey','Photobrown','SP1','SP11','SP2','Yellow','Grey','Clear','Grey/Brown','Gray C/Brown C','Grey A','Gray / Brown / Green','PGX / PBX','Non Tintable','Pink','Photo Fusion Grey','Phot Fusion Brown','Polarised Brown','Polarised Grey','Transition','A1','A2','Colabar C','Colabar D','Non Clear','Polarised','Anti-reflection Coating'], :include_blank => 'Select', :label => false, :required => false, :class => 'btn btn-xs btn-white r_acceptance_lenstint form-control form-control-custom', :input_html => {:name => "opdrecord[r_acceptance_lenstint]", :class => "form-control form-control-custom",:style=>"width: 100%;" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_acceptance_lenstint)) %></span>
        </span>
        <span class="col-md-4 col-sm-4" style="padding: 0px;">
          <span class="col-md-5 col-sm-5">Frame Material</span>
          <span><%= f.input :r_acceptance_framematerial, wrapper_html: {:class => "col-md-7 col-sm-7"},collection: ['Patient Choice','Shell','Metal','Titanium','Shell(Pediatric Use)','Hypo-Allergenic Metal','Plastic','Carbon','Acetate','Aluminium','Optyl','Polyamide','Stainless Steel','TR-90','Ultem'], :include_blank => 'Select', :label => false, :required => false, :class => 'btn btn-xs btn-white r_acceptance_framematerial form-control form-control-custom', :input_html => {:name => "opdrecord[r_acceptance_framematerial]", :class => "form-control form-control-custom",:style=>"width: 100%;" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_acceptance_framematerial)) %></span>
        </span>
      </div>
      <div class="row mb5">
        <div class="col-md-3 col-sm-3 text-center">Advice: </div>
        <div class="col-md-9 col-sm-9">
          <%= f.text_area :r_acceptance_comments, {:class => "form-control", :style => "width:95%;", :required => false, :name => "opdrecord[r_acceptance_comments]", :value => opdrecord.read_attribute(:r_acceptance_comments)} %>
        </div>
      </div>
    </div>
  </div>

  <div class="hr-line-border mb5"></div>
  <div class="row r-intermediate-glass-prescription-row">
    <div class="col-md-12 col-sm-12 r-intermediate-glass-prescription-column questions_for_inter_glass_prescriptions" id="r-questions_for_inter_glass_prescriptions">
      <div class="col-md-3 col-sm-3" style="padding: 0px">
        <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>INTERMEDIATE GLASSES<div class="mb1"></div>PRESCRIPTIONS (Rx)&nbsp;&nbsp;</strong><i class="fa fa-arrow-right rcopybutton" title="Copy Left to Right" aria-hidden="true"></i>
        </div>
        <span class="row col-md-12 col-sm-12" style="margin-top: 5px; margin-bottom: 5px; cursor: pointer; display:block;" title="Fill Glasses Prescription" id="fill-r-glasses-prescription"><a href="/opd_records/ophthalmology_notes/fill_refraction_data?flag=intermediate_glasses_prescription" data-remote="true"> <i class="fa fa-arrow-circle-right fill_inter_glass_btn"> Fill</i></a></span>
        <%= f.input :intermediate_advise_glasses, wrapper_html: { :class=>"col-md-10 col-sm-10 mt5" , :style=> "margin-bottom: -12px;margin-left: 24px;"}, collection: [['Advise','advise']], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white intermediate_advise_glasses', :input_html => { name: "opdrecord[intermediate_advise_glasses]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:intermediate_advise_glasses) || "advise")%>
        <div class="ckbox ckbox-primary show_add_ckbox">
          <% if params[:action] == "new" %>
            <% show_add = true %>
          <% else %>
            <% show_add = opdrecord.try(:intermediate_glasses_prescriptions_show_add) %>
          <% end %>
          <%= f.check_box :intermediate_glasses_prescriptions_show_add, { class: "intermediate_glasses_prescriptions_show_add", id: "intermediate_glasses_prescriptions_show_add", value: show_add }, "true", "false" %>
          <label for="intermediate_glasses_prescriptions_show_add" style='font-size:10px;'>Show Add in Print</label>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 r-answers_for_inter_glass_prescriptions">
        <table class="table table-bordered">
          <thead>
          <tr class="success">
            <th width="20%" style="padding-top:0px;padding-bottom:0px;"></th>
            <th width="20%" style="padding-top:0px;padding-bottom:0px;">Sph</th>
            <th width="20%" style="padding-top:0px;padding-bottom:0px;">Cyl</th>
            <th width="20%" style="padding-top:0px;padding-bottom:0px;">Axis</th>
            <th width="20%" style="padding-top:0px;padding-bottom:0px;">Vision</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              Distant
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :r_intermediate_glasses_prescriptions_distant_sph, :class => "form-control form-control-custom intermediate-glasses-prescription r_intermediate_glasses_prescriptions_distant_sph calculate_sph_near_from_distant ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_intermediate_glasses_prescriptions_distant_sph]", :value => opdrecord.read_attribute(:r_intermediate_glasses_prescriptions_distant_sph) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :r_intermediate_glasses_prescriptions_distant_cyl, :class => "form-control form-control-custom intermediate-glasses-prescription r_intermediate_glasses_prescriptions_distant_cyl calculate_cyl_near_from_distant ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_intermediate_glasses_prescriptions_distant_cyl]", :value => opdrecord.read_attribute(:r_intermediate_glasses_prescriptions_distant_cyl) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :r_intermediate_glasses_prescriptions_distant_axis, :class => "form-control form-control-custom intermediate-glasses-prescription r_intermediate_glasses_prescriptions_distant_axis calculate_axis_near_from_distant ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_intermediate_glasses_prescriptions_distant_axis]", :value => opdrecord.read_attribute(:r_intermediate_glasses_prescriptions_distant_axis) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :r_intermediate_glasses_prescriptions_distant_vision, :class => "form-control form-control-custom intermediate-glasses-prescription r_intermediate_glasses_prescriptions_distant_vision ref_field", :maxlength => 12, :required => false, :name => "opdrecord[r_intermediate_glasses_prescriptions_distant_vision]", :value => opdrecord.read_attribute(:r_intermediate_glasses_prescriptions_distant_vision) %>
            </td>
          </tr>
          <tr>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              Add<sup class="suphash">#</sup>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :r_intermediate_glasses_prescriptions_add_sph, :class => "form-control form-control-custom intermediate-glasses-prescription r_intermediate_glasses_prescriptions_add_sph calculate_near_from_add ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_intermediate_glasses_prescriptions_add_sph]", :value => opdrecord.read_attribute(:r_intermediate_glasses_prescriptions_add_sph) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :r_intermediate_glasses_prescriptions_add_cyl, :class => "form-control form-control-custom r_intermediate_glasses_prescriptions_add_cyl ref_field",:readonly=> true, :maxlength => 6, :required => false, :name => "opdrecord[r_intermediate_glasses_prescriptions_add_cyl]", :value => opdrecord.read_attribute(:r_intermediate_glasses_prescriptions_add_cyl) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :r_intermediate_glasses_prescriptions_add_axis, :class => "form-control form-control-custom r_intermediate_glasses_prescriptions_add_axis ref_field",:readonly=> true, :maxlength => 6, :required => false, :name => "opdrecord[r_intermediate_glasses_prescriptions_add_axis]", :value => opdrecord.read_attribute(:r_intermediate_glasses_prescriptions_add_axis) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :r_intermediate_glasses_prescriptions_add_vision, :class => "form-control form-control-custom intermediate-glasses-prescription r_intermediate_glasses_prescriptions_add_vision ref_field", :maxlength => 12, :required => false, :name => "opdrecord[r_intermediate_glasses_prescriptions_add_vision]", :value => opdrecord.read_attribute(:r_intermediate_glasses_prescriptions_add_vision) %>
            </td>
          </tr>
          <tr>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              Near
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :r_intermediate_glasses_prescriptions_near_sph, :class => "form-control form-control-custom intermediate-glasses-prescription r_intermediate_glasses_prescriptions_near_sph ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_intermediate_glasses_prescriptions_near_sph]", :value => opdrecord.read_attribute(:r_intermediate_glasses_prescriptions_near_sph) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :r_intermediate_glasses_prescriptions_near_cyl, :class => "form-control form-control-custom intermediate-glasses-prescription r_intermediate_glasses_prescriptions_near_cyl ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_intermediate_glasses_prescriptions_near_cyl]", :value => opdrecord.read_attribute(:r_intermediate_glasses_prescriptions_near_cyl) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :r_intermediate_glasses_prescriptions_near_axis, :class => "form-control form-control-custom intermediate-glasses-prescription r_intermediate_glasses_prescriptions_near_axis ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_intermediate_glasses_prescriptions_near_axis]", :value => opdrecord.read_attribute(:r_intermediate_glasses_prescriptions_near_axis) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :r_intermediate_glasses_prescriptions_near_vision, :class => "form-control form-control-custom intermediate-glasses-prescription r_intermediate_glasses_prescriptions_near_vision ref_field", :maxlength => 12, :required => false, :name => "opdrecord[r_intermediate_glasses_prescriptions_near_vision]", :value => opdrecord.read_attribute(:r_intermediate_glasses_prescriptions_near_vision) %>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="row" style="margin: auto;margin-bottom: 15px;margin-right: 10px;">
        <span class="col-md-3 col-sm-3">Type of Lens</span>
        <span><%= f.input :r_intermediate_acceptance_typeoflens, wrapper_html: {:class => "col-md-3 col-sm-3"},collection: ['Single Vision - Distant','Single Vision - Near','Bifocal','Progressive','Bifocal or Progressive','D Bifocal','KT Bifocal'], :include_blank => 'Select', :label => false, :required => false, :class => 'btn btn-xs btn-white r_intermediate_acceptance_typeoflens form-control-custom form-control', :input_html => {:name => "opdrecord[r_intermediate_acceptance_typeoflens]", :class => "form-control-custom form-control",:style=>"width: 100%;" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_intermediate_acceptance_typeoflens)) %></span>
        <span class="col-md-2 col-sm-2 col-md-offset-1 col-sm-offset-1">IPD</span>
        <div class="input-group col-md-3 col-sm-3"><%= f.input_field :r_intermediate_acceptance_ipd, :class => "form-control form-control-custom r_intermediate_acceptance_ipd", :required => false, :name => "opdrecord[r_intermediate_acceptance_ipd]", :value => opdrecord.read_attribute(:r_intermediate_acceptance_ipd), :style=>"width: 100%;" %><span class="input-group-addon">mm</span></div>
      </div>
      <div class="row" style="margin: auto;margin-bottom: 10px;">
          <span class="col-md-4 col-sm-4" style="padding: 0px;">
            <span class="col-md-5 col-sm-5">Lens Material</span>
            <span><%= f.input :r_intermediate_acceptance_lensmaterial, wrapper_html: {:class => "col-md-7 col-sm-7"},collection: ['Mineral','CR 39r','Patient Choice','Polycarbonate','Trivex','Organic','Evalution','MR7','MR10','MR8','Press on'], :include_blank => 'Select', :label => false, :required => false, :class => 'btn btn-xs btn-white r_intermediate_acceptance_lensmaterial form-control form-control-custom', :input_html => {:name => "opdrecord[r_intermediate_acceptance_lensmaterial]", :class => "form-control form-control-custom",:style=>"width: 100%;" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_intermediate_acceptance_lensmaterial)) %></span>
          </span>
          <span class="col-md-4 col-sm-4" style="padding: 0px;">
            <span class="col-md-5 col-sm-5">Lens Tint</span>
            <span><%= f.input :r_intermediate_acceptance_lenstint, wrapper_html: {:class => "col-md-7 col-sm-7"},collection: ['White','Amber','B1','B2','B3','Brown','G-15','Gradient Tint','Patient Choice','Photogrey','Photobrown','SP1','SP11','SP2','Yellow','Grey','Clear','Grey/Brown','Gray C/Brown C','Grey A','Gray / Brown / Green','PGX / PBX','Non Tintable','Pink','Photo Fusion Grey','Phot Fusion Brown','Polarised Brown','Polarised Grey','Transition','A1','A2','Colabar C','Colabar D','Non Clear','Polarised','Anti-reflection Coating'], :include_blank => 'Select', :label => false, :required => false, :class => 'btn btn-xs btn-white r_intermediate_acceptance_lenstint form-control form-control-custom', :input_html => {:name => "opdrecord[r_intermediate_acceptance_lenstint]", :class => "form-control form-control-custom",:style=>"width: 100%;" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_intermediate_acceptance_lenstint)) %></span>
          </span>
          <span class="col-md-4 col-sm-4" style="padding: 0px;">
            <span class="col-md-5 col-sm-5">Frame Material</span>
            <span><%= f.input :r_intermediate_acceptance_framematerial, wrapper_html: {:class => "col-md-7 col-sm-7"},collection: ['Patient Choice','Shell','Metal','Titanium','Shell(Pediatric Use)','Hypo-Allergenic Metal','Plastic','Carbon','Acetate','Aluminium','Optyl','Polyamide','Stainless Steel','TR-90','Ultem'], :include_blank => 'Select', :label => false, :required => false, :class => 'btn btn-xs btn-white r_intermediate_acceptance_framematerial form-control form-control-custom', :input_html => {:name => "opdrecord[r_intermediate_acceptance_framematerial]", :class => "form-control form-control-custom",:style=>"width: 100%;" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_intermediate_acceptance_framematerial)) %></span>
          </span>
      </div>
      <div class="row mb5">
        <div class="col-md-3 col-sm-3 text-center">Advice: </div>
        <div class="col-md-9 col-sm-9">
          <%= f.text_area :r_intermediate_acceptance_comments, {:class => "form-control", :style => "width:95%;", :required => false, :name => "opdrecord[r_intermediate_acceptance_comments]", :value => opdrecord.read_attribute(:r_intermediate_acceptance_comments)} %>
        </div>
      </div>
    </div>
  </div>

  <div class="hr-line-border mb5"></div>
  <div class="row r-dilatedretinoscopy-row">
    <div class="col-md-12 col-sm-12 r-dilatedretinoscopy-column" id="r-questionsforretinoscopy">
      <div class="col-md-3 col-sm-3" style="padding: 0px">
        <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>RETINOSCOPY (R)&nbsp;&nbsp;</strong><i class="fa fa-arrow-right rcopybutton" title="Copy Left to Right" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 r-answersfordilatedretinoscopy">
        <div class="row">
          <%= f.input_field :r_dilated_retinoscopy_top_va1, :class => "form-control form-control-custom r_dilated_retinoscopy_top_va1", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[r_dilated_retinoscopy_top_va1]", :value => opdrecord.read_attribute(:r_dilated_retinoscopy_top_va1)%>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-3">
            <%= f.input_field :r_dilated_retinoscopy_left_ha1, :class => "form-control form-control-custom r_dilated_retinoscopy_left_ha1", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[r_dilated_retinoscopy_left_ha1]", :value => opdrecord.read_attribute(:r_dilated_retinoscopy_left_ha1)%>
          </div>
          <div class="col-md-6 col-sm-6">
            <svg style="height:80px;width:120px;">
              <line x1="40" y1="40" x2="120" y2="40" style="stroke:#636e7b;stroke-width:2" />
              <line x1="80" y1="15" x2="80" y2="65" style="stroke:#636e7b;stroke-width:2" />
              Sorry, your browser does not support inline SVG.
            </svg>
          </div>
          <div class="col-md-3 col-sm-3">
            <%= f.input_field :r_dilated_retinoscopy_right_ha2, :class => "form-control form-control-custom r_dilated_retinoscopy_right_ha2", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[r_dilated_retinoscopy_right_ha2]", :value => opdrecord.read_attribute(:r_dilated_retinoscopy_right_ha2) %>
          </div>
        </div>
        <div class="row">
          <%= f.input_field :r_dilated_retinoscopy_bottom_va2, :class => "form-control form-control-custom r_dilated_retinoscopy_bottom_va2", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[r_dilated_retinoscopy_bottom_va2]", :value => opdrecord.read_attribute(:r_dilated_retinoscopy_bottom_va2)%>
        </div>
        <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
          <span style="margin-right: 3%">VA: </span>
          <%= f.input_field :r_dilated_retinoscopy_va, :class => "form-control form-control-custom r_dilated_retinoscopy_va", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[r_dilated_retinoscopy_va]", :value => opdrecord.read_attribute(:r_dilated_retinoscopy_va)%>
          <span style="margin-right: 3%; margin-left: 8%">HA: </span>
          <%= f.input_field :r_dilated_retinoscopy_ha, :class => "form-control form-control-custom r_dilated_retinoscopy_ha", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[r_dilated_retinoscopy_ha]", :value => opdrecord.read_attribute(:r_dilated_retinoscopy_ha), :style => "margin-left: -1%"%>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12" style="margin-top: 2%;margin-bottom: 2%">
      <span class="col-md-6 col-sm-6">At Distance: &nbsp;&nbsp;&nbsp;
        <%= f.input_field :r_dilated_retinoscopy_distance, :class => "form-control form-control-custom r_dilated_retinoscopy_distance", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[r_dilated_retinoscopy_distance]", :value => opdrecord.read_attribute(:r_dilated_retinoscopy_distance), :style => "margin-left: -1%"%>&nbsp;&nbsp;&nbsp; Mt/cm
      </span>
      <span class="col-md-3 col-sm-3">Drug Used:</span>
      <span class="col-md-3 col-sm-3"><%= f.input :r_retinoscopy_drug_used ,collection: ["Tropicamide_P", "Tropicamide", "Timolol", "Homide", "Latanoprost", "Brimonidine", "Travoprost", "Tobramycin", "Moxifloxacin", "Homatropine", "Pilocarpine", "Cyclopentolate", "Atropine", "Phenylephrine", "Tropicacyl", "Paracain", "Ciplox", "Tropicamide_P + Distilled Water", "Tropicamide_P + Lubrex"], :include_blank => 'Select', :label => false, :required => false, :class => 'btn btn-xs btn-white r_retinoscopy_drug_used form-control form-control-custom', :input_html => {:name => "opdrecord[r_retinoscopy_drug_used]", :class => "form-control form-control-custom r_retinoscopy_drug_used",:style=>"width: 100%;" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_retinoscopy_drug_used)) %></span>
    </div>
    <div class="row mb5">
      <div class="col-md-3 col-sm-3 text-center">Comments: </div>
      <div class="col-md-9 col-sm-9">
        <%= f.text_area :r_retinoscopy_comments, {:class => "form-control", :style => "width:95%;", :required => false, :name => "opdrecord[r_retinoscopy_comments]", :value => opdrecord.read_attribute(:r_retinoscopy_comments)} %>
      </div>
    </div>
  </div>

  <div class="hr-line-border mb5"></div>
  <div class="row r-keratometry-row">
    <div class="col-md-12 col-sm-12 r-keratometry-column questionsforkeratometry" id="r-questionsforkeratometry">
      <div class="col-md-3 col-sm-3" style="padding: 0px">
        <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>KERATOMETRY (K)&nbsp;&nbsp;</strong><i class="fa fa-arrow-right rcopybutton" title="Copy Left to Right" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 r-answersforkeratometry">
        <table class="table table-bordered">
          <thead>
          <tr class="success">
            <th width="20%" style="padding-top:0px;padding-bottom:0px;"></th>
            <th width="20%" style="padding-top:0px;padding-bottom:0px;"></th>
            <th width="20%" style="padding-top:0px;padding-bottom:0px;">Axis</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              K1
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :r_keratometry_distant_kh, :class => "form-control form-control-custom r_keratometry_distant_kh ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_keratometry_distant_kh]", :value => opdrecord.read_attribute(:r_keratometry_distant_kh) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :r_keratometry_distant_axis, :class => "form-control form-control-custom r_keratometry_distant_axis ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_keratometry_distant_axis]", :value => opdrecord.read_attribute(:r_keratometry_distant_axis) %>
            </td>
          </tr>
          <tr>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              K2
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :r_keratometry_near_kv, :class => "form-control form-control-custom r_keratometry_near_kv ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_keratometry_near_kv]", :value => opdrecord.read_attribute(:r_keratometry_near_kv) %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <%= f.input_field :r_keratometry_near_axis, :class => "form-control form-control-custom r_keratometry_near_axis ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_keratometry_near_axis]", :value => opdrecord.read_attribute(:r_keratometry_near_axis) %>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="hr-line-border mb5"></div>
  <div class="row r-contactlens-row">
    <div class="col-md-12 col-sm-12 r-contactlens-column questionsforcontactlens" id="r-questionsforcontactlens">
      <div class="col-md-3 col-sm-3" style="padding: 0px">
        <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>CONTACT LENS(CL)&nbsp;&nbsp;</strong><i class="fa fa-arrow-right rcopybutton" title="Copy Left to Right" aria-hidden="true"></i></div>
      </div>
      <div class="col-md-9 col-sm-9 r-answersforcontactlenes">
        <table class="table table-bordered">
          <thead>
          <tr class="success">
            <th style="padding-top:0px;padding-bottom:0px;width: 16%"></th>
            <th style="padding-top:0px;padding-bottom:0px;width: 14%">BC</th>
            <th style="padding-top:0px;padding-bottom:0px;width: 14%">DIA</th>
            <th style="padding-top:0px;padding-bottom:0px;width: 14%">SPH</th>
            <th style="padding-top:0px;padding-bottom:0px;width: 14%">CYL</th>
            <th style="padding-top:0px;padding-bottom:0px;width: 14%">AXIS</th>
            <th style="padding-top:0px;padding-bottom:0px;width: 14%">VA</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :r_contactlens_bc, :class => "form-control form-control-custom r_contactlens_bc", :required => false, :name => "opdrecord[r_contactlens_bc]", :value => opdrecord.read_attribute(:r_contactlens_bc), :style => 'width: 100%' %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :r_contactlens_dia, :class => "form-control form-control-custom r_contactlens_dia", :required => false, :name => "opdrecord[r_contactlens_dia]", :value => opdrecord.read_attribute(:r_contactlens_dia), :style => 'width: 100%' %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :r_contactlens_sph, :class => "form-control form-control-custom r_contactlens_sph", :required => false, :name => "opdrecord[r_contactlens_sph]", :value => opdrecord.read_attribute(:r_contactlens_sph), :style => 'width: 100%' %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :r_contactlens_cyl, :class => "form-control form-control-custom r_contactlens_cyl", :required => false, :name => "opdrecord[r_contactlens_cyl]", :value => opdrecord.read_attribute(:r_contactlens_cyl), :style => 'width: 100%' %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :r_contactlens_axis, :class => "form-control form-control-custom r_contactlens_axis", :required => false, :name => "opdrecord[r_contactlens_axis]", :value => opdrecord.read_attribute(:r_contactlens_axis), :style => 'width: 100%' %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :r_contactlens_add, :class => "form-control form-control-custom r_contactlens_add", :required => false, :name => "opdrecord[r_contactlens_add]", :value => opdrecord.read_attribute(:r_contactlens_add), :style => 'width: 100%' %>
              </td>
            </tr>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                Add
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :r_contactlens1_bc, :class => "form-control form-control-custom r_contactlens1_bc", :required => false, :name => "opdrecord[r_contactlens1_bc]", :value => opdrecord.read_attribute(:r_contactlens1_bc), :style => 'width: 100%' %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :r_contactlens1_dia, :class => "form-control form-control-custom r_contactlens1_dia", :required => false, :name => "opdrecord[r_contactlens1_dia]", :value => opdrecord.read_attribute(:r_contactlens1_dia), :style => 'width: 100%' %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :r_contactlens1_sph, :class => "form-control form-control-custom r_contactlens1_sph", :required => false, :name => "opdrecord[r_contactlens1_sph]", :value => opdrecord.read_attribute(:r_contactlens1_sph), :style => 'width: 100%' %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :r_contactlens1_cyl, :class => "form-control form-control-custom r_contactlens1_cyl", :required => false, :name => "opdrecord[r_contactlens1_cyl]", :value => opdrecord.read_attribute(:r_contactlens1_cyl), :style => 'width: 100%' %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :r_contactlens1_axis, :class => "form-control form-control-custom r_contactlens1_axis", :required => false, :name => "opdrecord[r_contactlens1_axis]", :value => opdrecord.read_attribute(:r_contactlens1_axis), :style => 'width: 100%' %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= f.input_field :r_contactlens1_add, :class => "form-control form-control-custom r_contactlens1_add", :required => false, :name => "opdrecord[r_contactlens1_add]", :value => opdrecord.read_attribute(:r_contactlens1_add), :style => 'width: 100%' %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row" style="margin-bottom: 12px;">
        <div class="col-md-3 col-sm-3 text-center">Revisit Date:
          <span style="display: none;" id="clear_revisit_date"><small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;">clear</small></span>
        </div>
        <div class="col-md-9 col-sm-9">
          <%= f.text_field :r_revisit_date, { class: "datepicker_revisit form-control",:value => opdrecord.read_attribute(:r_revisit_date) , readonly: 'readonly'} %>
        </div>
      </div>
      <div class="row" style="margin: auto;margin-bottom: 10px;">
        <span class="col-md-offset-3 col-sm-offset-3 col-md-4 col-sm-4">
          <span class="col-md-5 col-sm-5">Color</span>
          <span class="col-md-7 col-sm-7">
            <%= f.input_field :r_contactlens_color, :class => "form-control form-control-custom r_contactlens_color", :required => false, :name => "opdrecord[r_contactlens_color]", :value => opdrecord.read_attribute(:r_contactlens_color), :style => 'width: 100%' %>
          </span>
        </span>
        <span class="col-md-4 col-sm-4" style="padding: 0px;">
          <span class="col-md-3 col-sm-3">Type</span>
          <span><%= f.input :r_contactlens_types, wrapper_html: {:class => "col-md-9 col-sm-9"},collection: ['Soft','RGP','Disposable','Extended Wear','Rose-K','Ortho-K','Plastic','Cosmetic','Bi-focal'], :include_blank => 'Select', :label => false, :required => false, :class => 'btn btn-xs btn-white r_contactlens_types form-control form-control-custom', :input_html => {:name => "opdrecord[r_contactlens_types]", :class => "form-control form-control-custom",:style=>"width: 125%;" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_contactlens_types)) %></span>
        </span>
      </div>
      <div class="row mb5" style="width: 105%;">
        <div class="col-md-3 col-sm-3 text-center">Advice: </div>
        <div class="col-md-9 col-sm-9">
          <%= f.text_area :r_contactlens_comments, {:class => "form-control", :style => "width:95%;", :required => false, :name => "opdrecord[r_contactlens_comments]", :value => opdrecord.read_attribute(:r_contactlens_comments)} %>
        </div>
      </div>
    </div>
  </div>

  <div class="hr-line-border mb5"></div>
  <% if @optical_stores_array.length > 1 %>
    <div class="row r-inventory-store">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row mb5">
          <div class="col-md-4 col-sm-4 col-xs-4"><strong>Store:</strong></div>
          <div class="col-md-5 col-sm-5 col-xs-5">
            <%= select_tag("opdrecord[view_optical_store_id]", options_for_select(@optical_stores_array, @opdrecord.optical_store_id ? @opdrecord.optical_store_id : @optical_stores_array[0][1]), { :class => 'form-control', style: "width: 100%;padding: 8px 0px;"}) %>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3"></div>
        </div>
      </div>
    </div>
  <% end %>

<script type="text/javascript">
  datepicker_options = {
    minDate: 0,
    dateFormat: "dd/mm/yy"
  }
  $(".datepicker_revisit").datepicker(datepicker_options);
  $('#opdrecord_r_intraocularpressure_time').timepicker({minuteStep: 5});
  <% if opdrecord.read_attribute(:r_revisit_date).present? %>
    $('#clear_revisit_date').fadeIn()
  <% end %>

  $('.datepicker_revisit').on('change', function(){
    $('#clear_revisit_date').fadeIn()
  })

  $('#clear_revisit_date').on('click', function(){
    $(this).fadeOut();
    $('.datepicker_revisit').attr("value", "")
  })

  $('#opdrecord_view_optical_store_id').select2()
  let action = '<%= @optical_prescription.present? %>'
  if (action == 'true') {
    $('#opdrecord_view_optical_store_id').prop('disabled', true)
  }
</script>

<style>
  .datepicker_revisit {
    background-color: #fff !important;
    cursor: pointer !important;
  }
  .visualacuity_pinhole .btn-group{
    margin: 0px;
  }

  .copyfieldsbutton, .filldatabutton, .addfieldsbutton, .fill_inter_glass_btn{
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    padding: 2px 8px;
    border-radius: 3px;
    margin-left: 35px;
  }

  .removepgpfieldsbutton{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    padding: 2px 8px;
    border-radius: 3px;
    margin-left: 35px;
  }

  .notice_add_ref{
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    border-radius: 3px;
    margin-left: initial;
    font-size: 10px
  }

  .form-control-custom{
    padding: 5px 10px;
  }

  .suphash{
    color: orangered
  }

  .data-filled{
    background: #1A4E7B;
  }

  .data-empty{
    background: #1A4E7B;
    opacity:0.5;
  }

  .ref_field{
    width: 100% !important;
    text-align: center;
  }

  .show_add_ckbox{
    display: inline-flex;
    margin-top: 10px;
    margin-left: 10px;
  }

  .rcopybutton, .rvacopybutton{
    color: #fff;
    cursor: pointer;
  }

  @media screen and (min-width: 1439px) {
      .r_dilated_retinoscopy_top_va1 {
        margin-left: 36%;
      }
      .r_dilated_retinoscopy_left_ha1 {
          margin-top: 13%;
          margin-left: 46%
      }
      .r_dilated_retinoscopy_right_ha2 {
          margin-top: 13%;
          margin-left: -84%
      }
      .r_dilated_retinoscopy_bottom_va2 {
        margin-left: 36%;
        margin-top: -2%
      }
  }

  @media screen and (max-width: 1438px)  {
      .r_dilated_retinoscopy_top_va1 {
        margin-left: 37%;
      }
      .r_dilated_retinoscopy_left_ha1 {
          margin-top: 13%;
          margin-left: 40%
      }
      .r_dilated_retinoscopy_right_ha2 {
          margin-top: 13%;
          margin-left: -84%
      }
      .r_dilated_retinoscopy_bottom_va2 {
        margin-left: 37%;
        margin-top: -2%
      }
  }

  .advise_glasses{
      padding: 0px 10px;
      margin-left: 25px !important;
  }

  .form-control-comment{
    padding: 5px 1px;
  }

  .r-intraocularpressure-row .dropdown-menu {
    position: absolute;
    left: -70px;
    width: 170px;
  }

  .r-intraocularpressure-row .bootstrap-timepicker-widget.dropdown-menu:before {
    left: 100px;
    position: absolute;
  }

  .r-intraocularpressure-row .bootstrap-timepicker-widget.dropdown-menu:after {
    left: 100px;
    position: absolute;
  }

  .bootstrap-timepicker-hour, .bootstrap-timepicker-minute, .bootstrap-timepicker-meridian {
    width: 100% !important;
  }

  .r_intraocularpressure_time{
    background-color: #fff !important;
    cursor: pointer !important;
  }
</style>
