<div class="tab-pane active" id="diagnosis">
  <div id="provisional-dialog" class="col-md-12 col-sm-12 col-xs-12">
  </div>
  <div class="row mb5">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <% if @organisations_setting.mandatory_opd_templates == true %>
        <div class="col-md-3 col-sm-offset-3" style="display: none;">
          <div id="div_diagnosis_advised">
            <div class="ckbox ckbox-success">
              <%= f.check_box :no_diagnosis_advised, {class: "diagnosis_advised", :value => opdrecord.read_attribute(:no_diagnosis_advised)}, "true", "false" %>
              <label for="opdrecord_no_diagnosis_advised">No Diagnosis Advised</label>
            </div>
          </div>
        </div>
      <% end %>
      <div class="col-md-6 col-sm-offset-5">
        <div id="div_provisional_diagnosis">
            <div class="ckbox ckbox-primary">
              <%= f.check_box :is_provisional_diagnosis, {class: "ckbox ckbox-primary", checked: (opdrecord.read_attribute(:provisional_diagnosis).blank?) ? false : true}, 1, 0 %>
              <label for="opdrecord_is_provisional_diagnosis">Provisional Diagnosis</label>
              <i class="fa fa-info-circle" id="tooltip_history" title="Show history of provisional diagnosis"></i>
            </div>
          <div class="col-md-3 col-sm-3"><%= f.input_field :provisional_diagnosis, class: "form-control", size: 40, required: false, name: "opdrecord[provisional_diagnosis]", value: opdrecord.read_attribute(:provisional_diagnosis), onblur: "check_validation_status(this, 'diagnosis_is_valid', 'diagnosis_step', true, 'opdrecord_diagnosislist');" %></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row diagnosis_tab_row">
    <div class="col-md-12 col-sm-12">
      <%= render partial: "templates/common/soap_assessment_tab_diagnosis_icd_list.html.erb" , locals: { f: f, diagnosislist: @opdrecord.diagnosislist, record: @opdrecord,  specalityfoldername: @speciality_folder_name, templatetype: @templatetype, opdspeciality: @opdspeciality,source: 'opdrecord' } %>
    </div>
  </div>
  <% if @case_sheet.diagnoses.where(:record_id.nin => [@opdrecord.id], is_disabled: false).count > 0 %>
    <div class="row diagnosis_tab_row">
      <%= render partial: "opd_records/ophthalmology_notes/opd_partials/case_sheet_diagnoses.html.erb" %>
    </div>
  <% end %>

  <% search_type = current_facility.try(:assessment_search_type) || 'all' %>
	<div class="row diagnosis_tab_row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="col-md-3 col-sm-3 col-xs-12 rdio rdio-primary">
				<div id="search_diagnosis" class="search_diagnosis">
	        <%= radio_button_tag "diagnosis_icd_type", "search_diagnosis_icd", search_type == 'all', {class: 'diagnosis_icd_type', id: "RecentDiagnosisIcdRadio1"} %>
	        <label for="RecentDiagnosisIcdRadio1">Commonly Used Diagnosis</label>
	      </div>
			</div>

      <div class="col-md-3 col-sm-3 col-xs-12 rdio rdio-primary">
        <%= radio_button_tag "diagnosis_icd_type", "custom_icd_diagnosis", search_type == 'custom', {class: 'diagnosis_icd_type', id: "CustomDiagnosisIcdRadio"} %>
          <label for="CustomDiagnosisIcdRadio">Custom made Diagnosis</label>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-12 rdio rdio-primary">
        <%= radio_button_tag "diagnosis_icd_type", "translated_icd_diagnosis", false, {class: 'diagnosis_icd_type', id: "TranslatedDiagnosisIcdRadio"} %>
          <label for="TranslatedDiagnosisIcdRadio">Translated Diagnosis</label>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-12 rdio rdio-primary">
        <%= radio_button_tag "diagnosis_icd_type", "recent_diagnosis_icd", false, {class: 'diagnosis_icd_type', id: "RecentDiagnosisIcdRadio2"} %>
          <label for="RecentDiagnosisIcdRadio2">Frequently Used Diagnosis</label>
      </div>

    </div>
    <div>
      <div class="col-md-8"></div>
			<div class="col-md-3 col-sm-3 col-xs-12 rdio rdio-primary">
				<div class="input-group">
          <span class="input-group-addon search_diagnosis_label" style="font-weight: bold;"><span class="label label-primary">I + C + T</span></span>
          <div class="ui-widget">
		        <input type="text" class="form-control" name="search_diagnosis_keyword" id="search_diagnosis_keyword" data-attr='all' placeholder="Search by any Diagnosis Name / Code" style= "width: 180%;" />
		      </div>
        </div>
			</div>
		</div>
	</div>

  <div class="row mb10 diagnosis_tab_row">
		<div id="search_diagnosis_icd">
			<div class="search_diagnosis" id="search_diagnosis" style="margin-top: 15px;">
				<div class="col-md-4 col-sm-6 opdrecord_topicd_label_select" id="opdrecord_topicd_label_select">
	        <label for="comments-textarealabel">Commonly Used Diagnosis</label>
	        <select id="opdrecord_topicd_name_tab" class="opdrecord_eyearea_tab tabview tab_select_tag" style="display:none;">
	          <option value="">Please Select</option>
	          <option value="Eyelid">Eyelid disorders and inflammation</option>
	          <option value="Lacrimal Gland">Lacrimal Gland Disorders</option>
	          <option value="Orbit">Disorders of orbit</option>
	          <option value="Conjunctival / Scleral Disorders">Conjunctival and Scleral Disorders</option>
	          <option value="Uvea">Uveal disorders</option>
	          <option value="Cataract">Cataract</option>
	          <option value="Retina">Chorio-Retinal Disorders</option>
	          <option value="Glaucoma">Glaucoma</option>
	          <option value="Optic  Nerve">Disorders of Optic Nerve</option>
	          <option value="Squint">Strabismus</option>
	          <option value="Refraction">Disorders of Refraction and accomodation</option>
	          <option value="Disorders of globe">Disorders of globe</option>
	          <option value="Normal/Miscellaneous/Others">Normal/Miscellaneous/Others</option>
	        </select>
	        <%= f.input :topicd_name, collection: [ ["Eyelid disorders and inflammation","Eyelid"],["Lacrimal Gland Disorders","Lacrimal Gland"],["Disorders of orbit","Orbit"],["Conjunctival and Scleral Disorders","Conjunctival / Scleral Disorders"],["Corneal Disorders and Infection","Cornea"],["Uveal disorders","Uvea"],["Cataract","Cataract"],["Chorio-Retinal Disorders","Retina"],["Glaucoma","Glaucoma"],["Disorders of Optic Nerve","Optic  Nerve"],["Strabismus","Squint"],["Disorders of Refraction and accomodation","Refraction"],["Disorders of globe","Disorders of globe"],["Normal/Miscellaneous/Others","Normal/Miscellaneous/Others"] ], input_html: { multiple: true, size: '15', style: 'height: 100%; width: 60;', class: 'form-control opdrecord_eyearea webview'}, as: :select,  label: false,  item_wrapper_class: 'form-control', required: false %>
	      </div>

	      <div class="col-md-4 col-sm-6 opdrecord_topicd_list_select" id="opdrecord_topicd_list_select">
	        <label for="comments-textarealabel">List</label>
	        <select id="opdrecord_topicd_list_tab" class="tabview tab_select_tag" style="display:none;">

	        </select>
	        <%= f.input :topicd_list, collection: [], input_html: { multiple: true, size: '15', style: 'height: 100%; width: 60;', class: 'form-control opdrecord_topicd_list webview'}, as: :select,  label: false,  item_wrapper_class: 'form-control', required: false %>
	      </div>
			</div>
		</div>


		<% @recent_icds = RecentIcd.where(doctor: @appointment.consultant_id, :counter.gte => 5).order('counter desc') %>
		<div id="test_div">
			<% if @recent_icds.count >= 3 %>
	        <div class="col-md-4 col-sm-4">
	          <%= select_tag "recent_diagnosis_icd_tab",options_for_select( @recent_icds.limit(20).collect {|p| [ p.originalname, p.code, 'data-id' => p.icd_type ] }  ,{include_blank: false}), {prompt: "--Please Select--", class: 'form-control diagnosis_name tabview tab_select_tag', 'data-placeholder' => 'Choose Diagnosis', style: " display: none"} %>
	          <%= select_tag "recent_diagnosis_icd",options_for_select( @recent_icds.limit(20).collect {|p| [ p.originalname, p.code, 'data-id' => p.icd_type ] }  ,{include_blank: false}), {class: 'form-control diagnosis_name webview', multiple: true, 'data-placeholder' => 'Choose Diagnosis', style: "min-height: 334px; overflow-y: auto; overflow-x: auto; width: 88%"} %>
	        </div>
	        <% if @recent_icds.count >= 21 %>
	            <div class="col-md-4 col-sm-4">
	            	<%= select_tag "recent_diagnosis_icd_tab",options_for_select( @recent_icds.limit(20).offset(20).collect {|p| [ p.originalname, p.code, 'data-id' => p.icd_type ] }  ,{include_blank: false}), {prompt: "--Please Select--", class: 'form-control diagnosis_name tabview tab_select_tag', 'data-placeholder' => 'Choose Diagnosis', style: " display: none"} %>
	              <%= select_tag "recent_diagnosis_icd",options_for_select( @recent_icds.limit(20).offset(20).collect {|p| [ p.originalname, p.code, 'data-id' => p.icd_type  ] } ,{include_blank: false}), {class: 'form-control diagnosis_name webview', multiple: true, 'data-placeholder' => 'Choose Diagnosis', style: "min-height: 334px; overflow-y: auto; overflow-x: auto; width: 88%"} %>
	            </div>
	        <%end%>
	        <% if @recent_icds.count >= 41 %>
	            <div class="col-md-4 col-sm-4">
	            	<%= select_tag "recent_diagnosis_icd_tab",options_for_select( @recent_icds.limit(20).offset(40).collect {|p| [ p.originalname, p.code, 'data-id' => p.icd_type ] }  ,{include_blank: false}), {prompt: "--Please Select--", class: 'form-control diagnosis_name tabview tab_select_tag', 'data-placeholder' => 'Choose Diagnosis', style: " display: none"} %>
	              <%= select_tag "recent_diagnosis_icd",options_for_select( @recent_icds.limit(20).offset(40).collect {|p| [ p.originalname, p.code, 'data-id' => p.icd_type  ] } ,{include_blank: false}), {class: 'form-control diagnosis_name webview', multiple: true, 'data-placeholder' => 'Choose Diagnosis', style: "min-height: 334px; overflow-y: auto; overflow-x: auto; width: 88%"} %>
	            </div>
	        <% end %>
	    <% else %>
	        <h3 style="margin-left: 15px;"> You don't have enough frequently used diagnosis.  </h3>
	    <% end %>
		</div>

		<div id="custom_icd_diagnosis" style="display:none">
			<% total_custom_icd_diagnosis =  (CustomIcdDiagnosis.where(organisation_id: current_user.organisation_id, root: 0, specialty_id: @specalityid.to_s, is_deleted: false)) + (SynonymIcdDiagnosis.where(organisation_id: current_user.organisation_id, specialty_id: @specalityid.to_s, is_deleted: false)) %>

			<% if total_custom_icd_diagnosis.count > 0 %>
	      <div class="col-md-4 col-sm-4">
	        <%= select_tag "custom_icd_diagnosis_tab", options_for_select( total_custom_icd_diagnosis.collect{ |icd| [(icd.try(:originalname) if icd.try(:originalname).present?) || icd.try(:fullname), icd.code, 'data-id' => icd.icd_type ] } ) , {prompt: "--Please select--", class: 'diagnosis_name tabview tab_select_tag', 'data-placeholder' => 'Choose Diagnosis', style: 'display:none;'}%>

	        <%= select_tag "custom_icd_diagnosis_web", options_for_select( total_custom_icd_diagnosis.collect{ |icd| [(icd.try(:originalname) if icd.try(:originalname).present?) || icd.try(:fullname), icd.code, 'data-id' => icd.icd_type ] } ) , {class: 'form-control diagnosis_name webview', multiple: true, 'data-placeholder' => 'Choose Diagnosis', style: "min-height: 334px; overflow-y: auto; overflow-x: auto; width: 88%"} %>
	      </div>

	    <% else %>
	        <h3 style="margin-left: 15px;"> You don't have any Custom created diagnosis.  </h3>
	    <% end %>
		</div>
    <div id="translated_icd_diagnosis" style="display: none;">
      <% total_translated_icd_diagnosis = (TranslatedIcdDiagnosis.where(organisation_id: current_user.organisation_id, is_deleted: false)) %>
      <% if total_translated_icd_diagnosis.count > 0 %>
        <div class="col-md-4">
          <%= select_tag "translated_icd_diagnosis_web", options_for_select( total_translated_icd_diagnosis.collect{ |icd| [(icd.try(:fullname) if icd.try(:fullname).present?) || icd.try(:originalname), icd.code, 'data-id' => icd.icd_type ] } ) , {class: 'form-control diagnosis_name webview', multiple: true, 'data-placeholder' => 'Choose Diagnosis', style: "min-height: 334px; overflow-y: auto; overflow-x: auto; width: 80%"} %>
        </div>
      <% else %>
        <h3 style="margin-left: 15px;">You don't have any Translated diagnosis.</h3>
      <% end %>
    </div>

	</div>

	<!-- <div class="col-md-12 col-sm-12 mb20"></div> -->
	<div class="row">
		<div class="col-md-1 col-sm-2 col-xs-4 diagnosis_comment_row">Comments:</div>
    <div class="col-md-6 col-sm-6 col-xs-8 diagnosis_comment_row">
      <%= f.input :diagnosiscomments, as: :text, label: false, required: false, input_html: {class: 'form-control', rows: 2, cols: 70, style: 'width:100%', name: "opdrecord[diagnosiscomments]", value: @opdrecord.read_attribute(:diagnosiscomments) } %>
    </div>
		<div class="col-md-4 col-sm-4 col-xs-12 pull-left diagnosis_tab_row" style=" display: inline-block;
    vertical-align: left; float: none;text-align: left;">
      <span class="badge col-md-1 col-sm-2">I</span><b style="cursor:default;color:#5bc0de;">&nbsp;Standard ICD </b><br>
      <span class="badge col-md-1 col-sm-2">C</span><b style="cursor:default;color:#5bc0de;"> &nbsp;Custom Created ICD</b><br>
      <span class="badge col-md-1 col-sm-2">T</span><b style="cursor:default;color:#5bc0de;"> &nbsp;Translated ICD</b><br><br>
    </div>
	</div>
</div>


<script>
</script>

<style type="text/css">

  .ui-dialog{
    background-color: #FFFFFF;
    /*border: solid 1px black;*/
    border-radius: 3px;
    top: 30% !important;
  }

  .ui-dialog-titlebar{
    border-bottom: 1px solid #e5e5e5;
  }

  .ui-widget-overlay{
    background: #333;
    opacity: 0.6;
  }

  .ui-dialog .ui-dialog-buttonpane button {
    background-color: #31b0d5;
    border: 1px;
    color: #FFFFFF;
    padding: 0px 10px;
    border-radius: 3px;
    border-color: #46b8da;
  }
</style>
