<div class="row">
  <div class="col-md-3">
    <%= image_tag "#{@tempasset.asset_path_url(:thumb)}", height: '60', width: '60' %>
    <%= hidden_field_tag "opdrecord[eyeside]", "#{eyeside}" %>
    <%= hidden_field_tag "opdrecord[#{eyeside}_appendages_diagram_present]", "Y" %>
    <%= hidden_field_tag "opdrecord[#{eyeside}_appendages_diagram]", "#{eyeside}" %>
    <%= hidden_field_tag "opdrecord[#{eyeside}_appendages_diagram_full]", "#{@tempasset.asset_path_url}" %>
    <%= hidden_field_tag "opdrecord[#{eyeside}_appendages_diagram_thumb]", "#{@tempasset.asset_path_url(:thumb)}" %>
    <%= hidden_field_tag "opdrecord[#{eyeside}_appendages_temp_asset_id]", "#{@tempasset.id}" %>
  </div>
  <div class="col-md-3">
    <%= link_to opd_records_edit_appendages_diagram_path(:temp_asset_id => @tempasset.id, :eyeside => @eyeside), :class => "btn btn-xs btn-warning editappendagesdiagram", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ajax-modal', "eye_side": "#{eyeside}" } do %><i class="fa fa-file"></i> Edit <% end %>
    <div class="mb2"></div>
    <%= link_to opd_records_discard_appendages_diagram_path(:temp_asset_id => @tempasset.id, :eyeside => @eyeside), :class => "btn btn-xs btn-danger discardappendagesdiagram", :data => {:remote => true, "eye_side": "#{eyeside}" } do %><i class="glyphicon glyphicon-remove"></i> Delete <% end %>
  </div>
</div>





