<% procedures.each_with_index do |elem, i| %>
  <% cs_procedures = @case_sheet.procedures.where(opd_procedure_id: elem.id.to_s) %>
  <% if cs_procedures.count == 0 || (cs_procedures.pluck(:procedurestage).uniq == ['Advised']) || (cs_procedures.pluck(:procedurestage).uniq == ['Performed'] && cs_procedures.pluck(:performed_from).uniq == ['opd_record']) %>
    <tr class="table-row-procedure">
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][procedurestage]", elem.procedurestage %>
      <% unless @action == "New" %>
        <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][id]", elem.id, {:class => 'id' } %>
      <% end %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][procedurename]", elem.procedurename %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][procedure_id]", elem.procedure_id %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][procedure_performed]", elem.procedure_performed %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][order_item_advised_id]", elem.order_item_advised_id.to_s %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][procedureside]", elem.procedureside %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][procedurefullcode]", elem.procedurefullcode %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][entered_by]", elem.entered_by %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][entered_by_id]", elem.entered_by_id %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][entered_at_facility]", elem.entered_at_facility %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][entered_at_facility_id]", elem.entered_at_facility_id %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][advised_by]", elem.advised_by %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][advised_by_id]", elem.advised_by_id %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][advised_at_facility]", elem.advised_at_facility %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][advised_at_facility_id]", elem.advised_at_facility_id %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][advised_datetime]", elem.entered_datetime %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][procedure_comment]", elem.procedure_comment %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][users_comment]", elem.users_comment %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][entered_datetime]", elem.entered_datetime %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][updated_datetime]", elem.updated_datetime %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][updated_by]", elem.updated_by %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][updated_by_id]", elem.updated_by_id %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][updated_at_facility]", elem.updated_at_facility %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][updated_at_facility_id]", elem.updated_at_facility_id %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][performed_by]", elem.performed_by %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][performed_by_id]", elem.performed_by_id %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][performed_at_facility]", elem.performed_at_facility %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][performed_at_facility_id]", elem.performed_at_facility_id %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][performed_datetime]", elem.performed_datetime %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][performed_date]", elem.performed_date %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][performed_time]", elem.performed_time %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][operative_note_id]", elem.operative_note_id %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][procedure_type]", elem.procedure_type %>
      <%= hidden_field_tag "#{source}[procedure_attributes][#{i}][_destroy]", "0" %>
      <%# stage = ("Advised - " if elem.procedurestage == "A") || "Performed - " %>
      <% stage_color = ("#c9302c" if elem.procedurestage == "A") || "#1caf9a" %>
      <% if elem.procedureside.to_s == '18944008' %>
        <% side_name = 'Right Eye' %>
      <% elsif elem.procedureside.to_s == '8966001' %>
        <% side_name = 'Left Eye' %>
      <% else %>
        <% side_name = 'Both Eyes' %>
      <% end %>
      <td style="line-height: 1;">
        <b><span id="procedure_stage_<%= i %>_p" style='color:<%= stage_color %>'><%= elem.procedurestage.to_s + " - " %></span> <%= elem.procedurename %> - <span id="procedure_side_<%= i %>_p"><%= side_name %></span>-<span> <%= elem.procedurefullcode.upcase %></span></b><br>
        <ul id="procedure_comments_<%= i %>_p" style="margin-bottom:0px;padding-left:15px;">
          <% if elem.procedure_comment.present? %>
            <li id="procedure_comment_<%= i %>_p"><span style="font-size:12px;"><%= elem.procedure_comment %></span></li>
          <% end %>
          <% if elem.users_comment.present? %>
            <li id="users_comment_<%= i %>_p"><span style="font-size:12px;"><%= elem.users_comment %></span></li>
          <% end %>
        </ul>
        <hr style="margin:4px;" />
        <span id="procedure_added_updated_<%= i %>_p">
          <b style="font-size:12px;">Added by <%= elem.entered_by %> <%= elem.entered_datetime.strftime('on %d/%m/%Y at %I:%M %p') if elem.entered_datetime.present? %></b>
          <% if elem.updated_by.present? && elem.updated_datetime.present? %>
            <br><b style="font-size:12px;">Last Updated by <%= elem.updated_by %> <%= elem.try(:updated_datetime).try(:strftime, 'on %d/%m/%Y at %I:%M %p') %></b>
          <% end %>
          <% if elem.performed_by.present? && elem.performed_datetime.present? && elem.procedurestage=="P"%>
            <br><b style="font-size:12px;" class="performed_by_<%= i %>">Performed by <%= elem.performed_by %>(<%= elem.try(:performed_datetime).try(:strftime, '%d/%m/%Y') %>)</b>
          <% end %>
        </span>
      </td>
      <td style="width:20%;">
        <a class="btn btn-xs btn-info edit-saved-procedure-btn" id="editprocedurebutton<%=i%>" data-procedure-code="<%= elem.procedurefullcode %>"><i class="fa fa-edit"></i></a>
        <a id="removeprocedurebutton<%=i%>" class="btn btn-xs btn-danger" name="removeprocedurebutton"><i class="fa fa-times"></i></a>
      </td>
    </tr>
  <% else %>
    <% cs_procedures.each_with_index do |cs_procedure, i| %>
      <tr class=<%= ("table-row-procedure" if i == 0) || "" %>>
        <% stage_color = ("#c9302c" if cs_procedure.procedurestage == "Advised") || "#1caf9a" %>
        <% if cs_procedure.procedureside.to_s == '18944008' %>
          <% side_name = 'Right Eye' %>
        <% elsif cs_procedure.procedureside.to_s == '8966001' %>
          <% side_name = 'Left Eye' %>
        <% end %>
        <td style="line-height: 1;">
          <b><span id="procedure_stage_<%= i %>_p" style='color:<%= stage_color %>'><%= cs_procedure.procedurestage.to_s.split(" ").map(&:first).join + " - " %></span> <%= cs_procedure.procedurename %> - <span id="procedure_side_<%= i %>_p"><%= side_name %></span> -<span> <%= cs_procedure.procedurefullcode.upcase %></span></b><br>
          <ul id="procedure_comments_<%= i %>_p" style="margin-bottom:0px;padding-left:15px;">
            <% if cs_procedure.procedure_comment.present? %>
              <li id="procedure_comment_<%= i %>_p"><span style="font-size:12px;"><%= cs_procedure.procedure_comment %></span></li>
            <% end %>
            <% if cs_procedure.users_comment.present? %>
              <li id="users_comment_<%= i %>_p"><span style="font-size:12px;"><%= cs_procedure.users_comment %></span></li>
            <% end %>
          </ul>
          <hr style="margin:4px;" />
          <span id="procedure_added_updated_<%= i %>_p">
            <b style="font-size:12px;">Added by <%= cs_procedure.entered_by %> <%= cs_procedure.entered_datetime.strftime('on %d/%m/%Y at %I:%M %p') if cs_procedure.entered_datetime.present? %></b>
            <% if cs_procedure.updated_by.present? && cs_procedure.updated_datetime.present? %>
              <br><b style="font-size:12px;">Last Updated by <%= cs_procedure.updated_by %> <%= cs_procedure.try(:updated_datetime).try(:strftime, 'on %d/%m/%Y at %I:%M %p') %></b>
            <% end %>
            <% if cs_procedure.performed_by.present? && cs_procedure.performed_datetime.present? && cs_procedure.procedurestage=="P"%>
              <br><b style="font-size:12px;" class="performed_by_<%= i %>">Performed by <%= cs_procedure.performed_by %>(<%= cs_procedure.try(:performed_datetime).try(:strftime, '%d/%m/%Y') %>)</b>
            <% end %>
          </span>
        </td>
        <td style="width:20%;">
          <b style="color: <%= stage_color %>"><%= cs_procedure.procedurestage %></b>
        </td>
      </tr>
    <% end %>
  <% end %>
<% end %>