<% ophthalinvestigationlist.each_with_index do |elem, i| %>
  <% cs_ophthal_investigations = @case_sheet.ophthal_investigations.where(opd_investigation_id: elem.id.to_s) %>
  <% if cs_ophthal_investigations.count == 0 || (cs_ophthal_investigations.pluck(:investigationstage).uniq == ['Advised']) || (cs_ophthal_investigations.pluck(:investigationstage).uniq == ['Performed'] && cs_ophthal_investigations.pluck(:performed_from).uniq == ['opd_record']) %>
    <tr class="ophthalinvestigation">
      <td style="padding: 2px 2px 2px 2px;" class="col-md-3 col-sm-4 col-xs-4">
        <% if elem.investigationstage == "A" %>
          <div class="rdio rdio-primary">
            <%= radio_button_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][investigationstage]", "A", true, { :class => 'optional form-control investigationstage' } %> <%= label_tag "opdrecord_ophthalinvestigationlist_attributes_#{i}_investigationstage_A","Advised" %>
          </div>
          <div class="rdio rdio-primary">
            <%= radio_button_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][investigationstage]", "P", false, { :class => 'optional form-control investigationstage' } %> <%= label_tag "opdrecord_ophthalinvestigationlist_attributes_#{i}_investigationstage_P","Performed" %>
          </div>
        <% end %>
        <% if elem.investigationstage == "P" %>
          <div class="rdio rdio-primary">
            <%= radio_button_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][investigationstage]", "A", false, { :class => 'optional form-control investigationstage' } %> <%= label_tag "opdrecord_ophthalinvestigationlist_attributes_#{i}_investigationstage_A","Advised" %>
          </div>
          <div class="rdio rdio-primary">
            <%= radio_button_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][investigationstage]", "P", true, { :class => 'optional form-control investigationstage' } %> <%= label_tag "opdrecord_ophthalinvestigationlist_attributes_#{i}_investigationstage_P","Performed" %>
          </div>
          <div class="label-findings" style="font-weight: bold; text-align: center">Findings</div>
        <% end %>
      </td>
      <td style="padding: 2px 2px 2px 2px;" class="col-md-7 col-sm-6 col-xs-6">
        <div class="form-group">
          <div class="input-group mb15">
            <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][id]", elem.id, {:class => 'form-control id' } %>
            <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
            <!-- Entered Details -->
            <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][order_item_advised_id]", elem.order_item_advised_id.to_s %>
            <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][entered_by_id]", elem.entered_by_id %>
            <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][entered_by]", elem.entered_by %>
            <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][entered_at_facility_id]", elem.entered_at_facility_id %>
            <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][entered_at_facility]", elem.entered_at_facility %>
            <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][entered_datetime]", elem.entered_datetime %>
            <!-- Advised Details -->
            <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][advised_by_id]", elem.advised_by_id, class: 'advised_by_id' %>
            <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][advised_by]", elem.advised_by, class: 'advised_by' %>
            <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][advised_at_facility_id]", elem.advised_at_facility_id, class: 'advised_at_facility_id' %>
            <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][advised_at_facility]", elem.advised_at_facility, class: 'advised_at_facility' %>
            <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][advised_datetime]", elem.advised_datetime, class: 'advised_datetime' %>
            <!-- Performed Details -->
            <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][is_performed]", elem.is_performed, class: 'is_performed' %>
            <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][performed_by_id]", elem.performed_by_id, class: 'performed_by_id' %>
            <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][performed_by]", elem.performed_by, class: 'performed_by' %>
            <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][performed_at_facility_id]", elem.performed_at_facility_id, class: 'performed_at_facility_id' %>
            <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][performed_at_facility]", elem.performed_at_facility, class: 'performed_at_facility' %>
            <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][performed_datetime]", elem.performed_datetime, class: 'performed_datetime' %>
            <!--  -->
            <%= text_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][investigationname]", elem.investigationname, {:maxlength => 40, :size => 40, :class => 'form-control investigationname' } %>
            <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][investigation_id]", elem.investigation_id, {:class => 'form-control ophthalinvestigation_id' } %>
            <% if elem.investigationstage == "A" %>
              <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][investigation_performed]", '', {:class => 'opdrecord_investigation_performed form-control', :value => '' } %>
            <% end %>
            <% if elem.investigationstage == "P" %>
              <%= text_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][investigation_performed]", elem.investigation_performed, {:class => 'form-control mt5 opdrecord_investigation_performed form-control' } %>
            <% end %>
          </div>
        </div>
      </td>

      <td style="padding: 2px 2px 2px 2px;" class="col-md-1 col-sm-1 col-xs-1" id="">
        <%= select_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][investigationside]", options_for_select(opdrecord.get_dropdowns_for_ophthalinvestigations_side(), elem.investigationside), { :class => 'form-control investigationside'} %>
      </td>

      <td style="padding: 2px 2px 2px 2px;" class="col-md-1 col-sm-1 col-xs-1" id="">
        <div class="form-group">
          <a id="ophthalinvestigationdeletebutton0" class="btn btn-xs btn-primary btn-danger" href="javascript:;" name="ophthalinvestigationdeletebutton"><span class="glyphicon glyphicon-remove"></span></a>
          <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][investigationadviseddate]", elem.investigationadviseddate, {:class => 'form-control' } %>
          <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][investigationfullcode]", elem.investigationfullcode, {:class => 'form-control' } %>
        </div>
      </td>
    </tr>
  <% else %>
    <% cs_ophthal_investigations.each_with_index do |cs_ophthal, i| %>
      <tr class=<%= ("ophthalinvestigation" if i == 0) || "" %>>
        <% stage_color = ("#c9302c" if cs_ophthal.investigationstage == "Advised") || "#1caf9a" %>
        <% if cs_ophthal.investigationside.to_s == '18944008' %>
          <% side_name = 'Right Eye' %>
        <% elsif cs_ophthal.investigationside.to_s == '8966001' %>
          <% side_name = 'Left Eye' %>
        <% else %>
          <% side_name = 'Both Eyes' %>
        <% end %>
        <td style="line-height: 1;" colspan="3">
          <b><span id="investigation_stage_<%= i %>_p" style='color:<%= stage_color %>'><%= cs_ophthal.investigationstage.to_s.split(" ").map(&:first).join + " - " %></span> <%= cs_ophthal.investigationname %> - <span id="investigation_side_<%= i %>_p"><%= side_name %></span></b><br>
          <hr style="margin:4px;" />
          <span id="investigation_added_updated_<%= i %>_p">
            <b style="font-size:12px;">Added by <%= cs_ophthal.entered_by %> <%= cs_ophthal.entered_datetime.strftime('on %d/%m/%Y at %I:%M %p') if cs_ophthal.entered_datetime.present? %></b>
            <% if cs_ophthal.updated_by.present? && cs_ophthal.updated_datetime.present? %>
              <br><b style="font-size:12px;">Last Updated by <%= cs_ophthal.updated_by %> <%= cs_ophthal.try(:updated_datetime).try(:strftime, 'on %d/%m/%Y at %I:%M %p') %></b>
            <% end %>
            <% if cs_ophthal.performed_by.present? && cs_ophthal.performed_datetime.present? && cs_ophthal.investigationstage== "P" %>
              <br><b style="font-size:12px;" class="performed_by_<%= i %>">Performed by <%= cs_ophthal.performed_by %>(<%= cs_ophthal.try(:performed_datetime).try(:strftime, '%d/%m/%Y') %>)</b>
            <% end %>
          </span>
        </td>
        <td style="width:15%;">
          <b style="color: <%= stage_color %>"><%= cs_ophthal.investigationstage %></b>
        </td>
      </tr>
      <% if cs_ophthal.template_created %>
        <tr class="performed-readings">
          <td colspan="4" style="padding:5px;">
            <table class="table table-bordered" style="margin:0px;">
              <thead>
                <tr>
                  <th style="padding:0px;text-align:center;">Findings</th>
                  <th style="padding:0px;text-align:center;">Remark</th>
                  <th style="padding:0px;text-align:center;">Doctor's Remark</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="padding:0px;text-align:center;"><%= cs_ophthal.investigation_val %></td>
                  <td style="padding:0px;text-align:center;"><%= cs_ophthal.investigation_comment %></td>
                  <td style="padding:0px;text-align:center;"><%= cs_ophthal.doctors_remark %></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
<% end %>