<% ophthalinvestigationlist.each_with_index do |elem, i| %>
  <tr class="ophthalinvestigation">
    <td style="padding: 2px 2px 2px 2px;" class="col-md-3 col-sm-4 col-xs-4">
        <% if elem.investigationstage == "A" %>
            <div class="rdio rdio-primary">
              <%= radio_button_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][investigationstage]", "A", true, { :class => 'optional form-control investigationstage' } %> <%= label_tag "opdrecord_ophthalinvestigationlist_attributes_#{i}_investigationstage_A","Advised" %>
            </div>
            <div class="rdio rdio-primary">
              <%= radio_button_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][investigationstage]", "P", false, { :class => 'optional form-control investigationstage' } %> <%= label_tag "opdrecord_ophthalinvestigationlist_attributes_#{i}_investigationstage_P","Performed" %>
            </div>
        <% end %>
        <% if elem.investigationstage == "P" %>
            <div class="rdio rdio-primary">
              <%= radio_button_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][investigationstage]", "A", false, { :class => 'optional form-control investigationstage' } %> <%= label_tag "opdrecord_ophthalinvestigationlist_attributes_#{i}_investigationstage_A","Advised" %>
            </div>
            <div class="rdio rdio-primary">
              <%= radio_button_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][investigationstage]", "P", true, { :class => 'optional form-control investigationstage' } %> <%= label_tag "opdrecord_ophthalinvestigationlist_attributes_#{i}_investigationstage_P","Performed" %>
            </div>
            <div class="label-findings" style="font-weight: bold; text-align: center">Findings</div>
        <% end %>
      </td>
       <td style="padding: 2px 2px 2px 2px;" class="col-md-7 col-sm-6 col-xs-6">
        <div class="form-group">
          <div class="input-group mb15">
            <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][id]", elem.id, {:class => 'form-control id' } %>
            <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
            <%= text_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][investigationname]", elem.investigationname, {:maxlength => 40, :size => 40, :class => 'form-control investigationname' } %>
            <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][investigation_id]", elem.investigation_id, {:class => 'form-control' } %>
            <% if elem.investigationstage == "A" %>
                  <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][investigation_performed]", '', {:class => 'opdrecord_investigation_performed form-control', :value => '' } %>
              <% end %>
              <% if elem.investigationstage == "P" %>
                  <%= text_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][investigation_performed]", elem.investigation_performed, {:class => 'form-control mt5 opdrecord_investigation_performed form-control' } %>
              <% end %>
          </div>
        </div>
      </td>

      <td style="padding: 2px 2px 2px 2px;" class="col-md-1 col-sm-1 col-xs-1">
        <%= select_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][investigationside]", options_for_select(opdrecord.get_dropdowns_for_ophthalinvestigations_side(), elem.investigationside), { :class => 'form-control investigationside'} %>
      </td>

      <td style="padding: 2px 2px 2px 2px;" class="col-md-1 col-sm-1 col-xs-1">
        <div class="form-group">
          <a id="ophthalinvestigationdeletebutton0" class="btn btn-xs btn-primary btn-danger" href="javascript:;" name="ophthalinvestigationdeletebutton"><span class="glyphicon glyphicon-remove"></span></a>
          <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][investigationadviseddate]", elem.investigationadviseddate, {:class => 'form-control' } %>
          <%= hidden_field_tag "opdrecord[ophthalinvestigationlist_attributes][#{i}][investigationfullcode]", elem.investigationfullcode, {:class => 'form-control' } %>
        </div>
      </td>
  </tr>  
<% end %>