<%#= render partial: 'form.js.erb' %>
<div class="modal-body">
  <%= f.hidden_field :organisation_id %>
  <div class="col-12">
    <div class="row mb20">
      <div class="col-md-2 col-sm-2 col-xs-2"><strong>Country: </strong></div>
      <div class="col-md-4">
        <%= f.select :country_id, options_for_select(@countries.collect {|p| [ p.name + " ("+p.abbreviation1+") ", p.id ] }, @entity_group.country_id), {include_blank: "Select Country"}, {class: 'form-control country'} %>
      </div>
    </div>
    <div class="row mb20">
      <div class="col-md-2 col-sm-2 col-xs-2"><strong>Name: </strong></div>
      <div class="col-md-4">
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="col-md-2"><strong>Abbreviation: </strong></div>
      <div class="col-md-4">
        <%= f.text_field :abbreviation, class: "form-control", minlength: 3, maxlength: 6 %>
      </div>
    </div>
    <div class="row mb20">
      <div class="col-md-2 col-sm-2 col-xs-2"><strong>Display Name: </strong></div>
      <div class="col-md-4">
        <%= f.text_field :display_name, class: "form-control" %>
      </div>
      <div class="col-md-2"><strong>Address: </strong></div>
      <div class="col-md-4">
        <%= f.text_field :address, class: "form-control address" %>
      </div>
    </div>

    <div class="row cambodia_facility" style="margin-top:15px;">
      <div class="col-sm-3">
        <strong>Pincode</strong>
        <a href="" class="clear-pincode" style="display:none;font-size: 10px;margin-top: -7px;cursor: pointer;">Clear</a><br>
        <%= f.text_field :pincode, { :id =>'search_pincode_cambodia', :class => 'form-control p7_10 pincode', :placeholder => "Pincode", minlength: 5, maxlength: 7, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
      </div>
      <div class="col-sm-3">
        <strong>Province/ State</strong><br>
          <%= f.text_field :state, { :id =>'search_state_cambodia', :class => 'form-control p7_10 state', :placeholder => "State" } %>
      </div>
      <div class="col-sm-3">
        <strong>District</strong><br>
        <%= f.text_field :district, { id: 'search_district_cambodia', class: 'form-control district p5_10', placeholder: "District" } %>
      </div>
      <div class="col-sm-3">
        <strong>Commune</strong><br>
        <%= f.text_field :commune, {id: 'search_commune_cambodia', class: 'form-control commune p5_10', placeholder: "Commune"} %>
      </div>
    </div>

    <div class="row vietnam_facility" style="margin-top:15px;">
      <div class="col-sm-4">
        <strong>City</strong>
        <a href="" class="clear-commune" style="display:none;font-size: 10px;margin-top: -7px;cursor: pointer;">Clear</a>
        <%= f.text_field :city, { id: 'search_city_vietnam', class: 'form-control facility-city p5_10', placeholder: "City"} %>
      </div>
      <div class="col-sm-4">
        <strong>District</strong><br>
        <%= f.text_field :district, { id: 'search_district_vietnam', class: 'form-control district p5_10', placeholder: "District" } %>
      </div>
      <div class="col-sm-4">
        <strong>Commune</strong><br>
        <%= f.text_field :commune, {id: 'search_commune_vietnam', class: 'form-control commune p5_10', placeholder: "Commune"} %>
      </div>
    </div>

    <div class="row other_facility" style="margin-top:15px;">
      <div class="col-sm-4">
        <strong>Pincode</strong>
        <a href="" class="clear-pincode" style="display:none;font-size: 10px;margin-top: -7px;cursor: pointer;">Clear</a><br>
        <%= f.text_field :pincode, { :id =>'search_pincode_other', :class => 'form-control p7_10 pincode', :placeholder => "Pincode", minlength: 5, maxlength: 7, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
      </div>
      <div class="col-sm-4">
        <strong>State</strong><br>
          <%= f.text_field :state, { :id =>'search_state_other', :class => 'form-control p7_10 state', :placeholder => "State" } %>
      </div>
      <div class="col-sm-4">
        <strong>City</strong><br>
        <%= f.text_field :city, { :id =>'search_city_other', :class => 'form-control p7_10 facility-city', :placeholder => "City" } %>
      </div>
    </div>

  </div>
</div>
