<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Entity Group Details</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <table class="table">
          <tbody>
            <tr>
              <th>Name</th>
              <td><%= @entity_group.name %></td>
            </tr>
            <tr>
              <th>Display Name</th>
              <td><%= @entity_group.display_name %></td>
            </tr>
            <tr>
              <th>Entity Group Code</th>
              <td><%= @entity_group.abbreviation %></td>
            </tr>
            <!-- <tr>
              <th>Country</th>
              <td><%#= @country.name %></td>
            </tr> -->
            <tr>
              <th>Address</th>
              <td><%= @entity_group.address %></td>
            </tr>
            <%# if @country.id == 'VN_254' %>
              <!-- <tr>
                <th>City</th>
                <td><%#= @entity_group.city %></td>
              </tr>
              <tr>
                <th>District</th>
                <td><%#= @entity_group.district %></td>
              </tr>
              <tr>
                <th>Commune</th>
                <td><%#= @entity_group.commune %></td>
              </tr> -->
            <%# elsif %>
              <tr>
                <th>Pincode</th>
                <td><%= @entity_group.pincode %></td>
              </tr>
              <tr>
                <th>State</th>
                <td><%= @entity_group.state %></td>
              </tr>
              <tr>
                <th>District</th>
                <td><%= @entity_group.district %></td>
              </tr>
              <tr>
                <th>Commune</th>
                <td><%= @entity_group.commune %></td>
              </tr>
            <%# else %>
              <!-- <tr>
                <th>City</th>
                <td><%#= @entity_group.city %></td>
              </tr>
              <tr>
                <th>State</th>
                <td><%#= @entity_group.state %></td>
              </tr>
              <tr>
                <th>Pincode</th>
                <td><%#= @entity_group.pincode %></td>
              </tr> -->
            <%# end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <%= link_to edit_entity_group_path(@entity_group.id.to_s) , data: { remote: true }, class: "btn btn-primary" do %><i class="fa fa-edit"></i> Edit<% end %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

</div>