<!-- Theatre Counter -->
<% view_theatre_counter = 0 %>

<!-- Patient Position -->
<% unless ipdrecord.patient_position == "" %>
  <% patient_position = ipdrecord.patient_position.split(",").join(", ") %>
  <% view_theatre_counter = 1 %>
<% end %>

<!-- Position Aid -->
<% unless ipdrecord.position_aid == "" %>
  <% position_aid = ipdrecord.position_aid.split(",").join(", ") %>
  <% view_theatre_counter = 1 %>
<% end %>

<!-- Bed Attachments -->
<% unless ipdrecord.bed_attachments == "" %>
  <% bed_attachments = ipdrecord.bed_attachments.split(",").join(", ") %>
  <% view_theatre_counter = 1 %>
<% end %>

<!-- Other Equipments -->
<% unless ipdrecord.other_equipments == "" %>
  <% other_equipments = ipdrecord.other_equipments.split(",").join(", ") %>
  <% view_theatre_counter = 1 %>
<% end %>

<!-- Skin Preparation -->
<% unless ipdrecord.skin_preparation == "" %>
  <% skin_preparation = ipdrecord.skin_preparation.split(",").join(", ") %>
  <% view_theatre_counter = 1 %>
<% end %>

<!-- Diathermy -->
<% unless ipdrecord.theatre_diathermy == "No" %>
  <% diathermy_plate_site = ipdrecord.diathermy_plate_site.split(",").join(", ") %>
  <% view_theatre_counter = 1 %>
<% end %>

<!-- Tourniquet -->
<% unless ipdrecord.theatre_tourniquet == "No" %>
  <% tourniquet_site = ipdrecord.tourniquet_site.split(",").join(", ") %>
  <% view_theatre_counter = 1 %>
<% end %>

<!-- Biopsy/Specimen -->
<% unless ipdrecord.theatre_biopsy == "No" %>
  <% biopsy_tests = ipdrecord.biopsy_tests.split(",").join(", ") %>
  <% view_theatre_counter = 1 %>
<% end %>

<!-- Catheters In-Situ -->
<% unless ipdrecord.catheters_insitu == "" %>
  <% catheters_insitu = ipdrecord.catheters_insitu.split(",").join(", ") %>
  <% view_theatre_counter = 1 %>
<% end %>

<!-- Closure -->
<% unless ipdrecord.closure == "" %>
  <% closure = ipdrecord.closure.split(",").join(", ") %>
  <% view_theatre_counter = 1 %>
<% end %>

<!-- Closure -->
<% unless ipdrecord.theatre_comments == "" %>
  <% view_theatre_counter = 1 %>
<% end %>

<!-- Theatre View Start -->
<% if view_theatre_counter != 0 %>
  <div class="row mb10">
    <div class="col-md-12">
      <div class="row">
        <strong>THEATRE :</strong>
        <div class="summary-line-border"></div>
      </div>
      <!-- Patient Position -->
      <% unless ipdrecord.patient_position == "" %>
        <div class="row mb5">
          <div class="col-md-12">
            <b>Patient Position :</b> <%= patient_position %>
          </div>
        </div>
      <% end %>
      <!-- Position Aid -->
      <% unless ipdrecord.position_aid == "" %>
        <div class="row mb5">
          <div class="col-md-12">
            <b>Position Aid :</b> <%= position_aid %>
          </div>
        </div>
      <% end %>
      <!-- Bed Attachments -->
      <% unless ipdrecord.bed_attachments == "" %>
        <div class="row mb5">
          <div class="col-md-12">
            <b>Bed Attachment :</b> <%= bed_attachments %>
          </div>
        </div>
      <% end %>
      <!-- Other Equipments -->
      <% unless ipdrecord.other_equipments == "" %>
        <div class="row mb5">
          <div class="col-md-12">
            <b>Other Equipments :</b> <%= other_equipments %>
          </div>
        </div>
      <% end %>
      <!-- Skin Preparation -->
      <% unless ipdrecord.skin_preparation == "" %>
        <div class="row mb5">
          <div class="col-md-12">
            <b>Skin Preparation :</b> <%= skin_preparation %>
          </div>
        </div>
      <% end %>
      <!-- Diathermy -->
      <% unless ipdrecord.theatre_diathermy == "No" %>
        <div class="row mb5">
          <div class="col-md-12">
            <b>DIATHERMY :</b>
          </div>
        </div>
        <div class="row mb5" style="margin-left:10px;">
          <div class="col-md-2">
            <b>Type :</b> <%= ipdrecord.diathermy_type %>
          </div>
          <% unless diathermy_plate_site == "" %>
            <div class="col-md-6">
              <b>Plate Site :</b> <%= diathermy_plate_site %>
               
            </div>
          <% end %>
          <div class="col-md-4">
            <b>Applied By :</b> <%= ipdrecord.diathermy_applier %>
          </div>
        </div>
      <% end %>

      <!-- Tourniquet -->
      <% unless ipdrecord.theatre_tourniquet == "No" %>
        <div class="row mb5">
          <div class="col-md-12">
            <b>TOURNIQUET  :</b>
          </div>
        </div>
        <div class="row mb5" style="margin-left:10px;">
          <% unless tourniquet_site == "" %>
            <div class="col-md-6">
              <b>Site :</b> <%= tourniquet_site %>
            </div>
          <% end %>
          <% unless ipdrecord.tourniquet_pressure == "" %>
            <div class="col-md-2">
              <b>Pressure :</b> <%= ipdrecord.tourniquet_pressure %>
            </div>
          <% end %>
          <% unless ipdrecord.tourniquet_time == "" %>
            <div class="col-md-4">
              <b>Time :</b> <%= ipdrecord.tourniquet_time %>
            </div>
          <% end %>
        </div>
      <% end %>

      <!-- Biopsy/Specimen -->
      <% unless ipdrecord.theatre_biopsy == "No" %>
        <div class="row mb5">
          <div class="col-md-12">
            <b>BIOPSY/SPECIMEN  :</b>
          </div>
        </div>
        <div class="row mb5" style="margin-left:10px;">

          <div class="col-md-2">
            <b>Type :</b> <%= ipdrecord.biopsy_type %>
          </div>
          <% unless biopsy_tests == "" %>
            <div class="col-md-10">
              <b>Tested For :</b> <%= biopsy_tests %>
            </div>
          <% end %>
        </div>
      <% end %>

      <!-- Catheters In-Situ -->
      <% unless ipdrecord.catheters_insitu == "" %>
        <div class="row mb5">
          <div class="col-md-12">
            <b>Catheters In-Situ :</b> <%= catheters_insitu %>
          </div>
        </div>
      <% end %>

      <!-- Closure -->
      <% unless ipdrecord.closure == "" %>
        <div class="row mb5">
          <div class="col-md-12">
            <b>Closure :</b> <%= closure %>
          </div>
        </div>
      <% end %>

      <!-- Theatre Comments -->
      <% unless ipdrecord.theatre_comments == "" %>
        <div class="row mb5">
          <div class="col-md-12">
            <b>Comments :</b> <%= ipdrecord.theatre_comments %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
<% end %>