<div class="container-fluid">
  <div class="navbar-header" style="margin-top:12px;">
    <%= render partial: 'navbar/toggle.html.erb' %>
    <!-- Dashboard -->
    <%= link_to '/dashboard', data: { remote: true }, class: 'ps main-logo', id: 'main-logo' do %><%= image_tag 'foss_navbar.png', class: 'logo', style: 'width: 25px;' %><% end %>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-main" style="margin-top: -3px; margin-left: 12px; border-left: 1px solid #ccc;">
      <% if @current_facility.show_finances %>
        <li class="common-li-class <%= 'activate' if params[:controller] == 'statistics' && params[:action] == 'index' %>">
          <%= link_to finance_reports_path, class: 'btn btn-default focus-set', style: 'background-color:#fff; border:none;' do %><i class="fa fa-line-chart" style="margin-right:5px;"></i> <span>Reports</span><% end %>
        </li>
      <% end %>

      <li class="common-li-class <%= 'activate' if params[:controller] == 'analytics/admins' && params[:action] == 'index' %>">
        <%= link_to analytics_admins_path, class: 'btn btn-default focus-set', style: 'background-color:#fff; border:none;' do %><i class="fa fa-line-chart" style="margin-right:5px;"></i> <span>Analytics</span><% end %>
      </li>

      <% if current_facility.show_finances? %>
        <li class="common-li-class <%= 'activate' if params[:controller] == 'mis/financial_reports' && params[:action] == 'index' %>">
          <%= link_to mis_financial_reports_path, class: 'btn btn-default focus-set', style: 'background-color:#fff; border:none;' do %><i class="fa fa-rupee" style="margin-right:5px;"></i> <span>MIS - Financial</span><% end %>
        </li>
      <% end %>

      <li class="common-li-class <%= 'activate' if params[:controller] == 'mis/new_clinical_reports' && params[:action] == 'index' %>">
        <%= link_to mis_new_clinical_reports_path, class: 'btn btn-default focus-set', style: 'background-color:#fff; border:none;' do %><i class="fa fa-stethoscope" style="margin-right:5px;"></i> <span>MIS - Clinical</span><% end %>
      </li>

      <!-- Inventory Buttons Partial -->
      <%#= render partial: 'navbar/inventory.html.erb' %>
      <!-- Store Buttons Partial -->
      <%= render partial: 'navbar/store.html.erb' %>
      <!-- New Feature Button Partial -->
      <%= render partial: 'navbar/new_feature.html.erb' %>
      <!-- Stock Notification partial -->
      <%#= render partial: 'inventory/stores/stock_notification.html.erb' %>

      <!-- Expiry -->
      <% unless @current_organisation['account_expiry_date'] == nil || @current_organisation['account_expiry_date'] == "" %>
        <% if Date.parse(@current_organisation['account_expiry_date']) <= Date.current + 15 %>
          <span style="color: orangered;position: absolute;top: 12px;padding-left:15%;"> Your Account will expire on <%= Date.parse(@current_organisation['account_expiry_date']).strftime('%d-%m-%Y') %> </span>
        <% end %>
      <% end %>
    </ul>
    <!-- Reports -->
    <ul class="nav navbar-nav navbar-right" style="margin-top: -3px; margin-left: 12px; border-left: 1px solid #ccc;">
      <!-- User Station Partial -->
      <%= render partial: 'navbar/user_station.html.erb' %>
      <!-- Facility Dropdown Partial -->
      <%= render partial: 'navbar/facilities.html.erb' %>
      <!-- Feedback Link Partial -->
      <%= render partial: 'navbar/feedback.html.erb' %>
      <!-- Account Settings & Logout -->
      <li class="common-li-class <%= 'activate' if params[:controller] == 'users' && params[:action] == 'account_settings' %>">
        <button type="button" class="btn btn-default dropdown-toggle focus-set" data-toggle="dropdown" style="padding:13px; background-color:#fff; border:none;" id="setting_n_logout">
          <span class="fa-color user_logo">
            <i class="fa fa-user-md" style="font-size: 20px;opacity: 1;vertical-align: middle"></i>
            <%#= current_user.fullname %>
          </span>
          <!-- <span class="caret fa-color"></span> -->
        </button>
        <ul class="dropdown-menu children" style="background-color:#fff;">
          <%= render 'navbar/logout_dropdown' %>
        </ul>
      </li>
    </ul>
    <%= render partial: 'navbar/notification.html.erb' %>
  </div>
</div>
