<% if @facility == "all" %>
  <% if current_user.has_role?(:doctor) %>
    <% @appointment_list_today_count = Appointment.where(appointmentstatus: 416774000, :doctor => current_user.id, :appointmentdate.gte => @current_date, :appointmentdate.lt => @current_date + 1).count %>
    <% @appointment_list_scheduled_count = Appointment.where(appointmentstatus: 416774000, :doctor => current_user.id, :appointmentdate.gte => @current_date, :appointmentdate.lt => @current_date + 1, current_state: "scheduled").count %>
    <% @appointment_list_waiting_count = Appointment.where(appointmentstatus: 416774000, :doctor => current_user.id, :appointmentdate.gte => @current_date, :appointmentdate.lt => @current_date + 1, current_state: "waiting").count %>
    <% @appointment_list_engaged_count = Appointment.where(appointmentstatus: 416774000, :doctor => current_user.id, :appointmentdate.gte => @current_date, :appointmentdate.lt => @current_date + 1, current_state: "engaged").count %>
    <% @appointment_list_seen_count = Appointment.where(appointmentstatus: 416774000, :doctor => current_user.id, :appointmentdate.gte => @current_date, :appointmentdate.lt => @current_date + 1, current_state: "seen").count %>
  <% else %>
    <% if @user.nil? %>
      <% @appointment_list_today_count = Appointment.where(appointmentstatus: 416774000, :facility_id.in =>  current_user.facility_ids,:appointmentdate.gte => @current_date, :appointmentdate.lt => @current_date + 1).count %>
      <% @appointment_list_scheduled_count = Appointment.where(appointmentstatus: 416774000, :facility_id.in =>  current_user.facility_ids,:appointmentdate.gte => @current_date, :appointmentdate.lt => @current_date + 1, current_state: "scheduled").count %>
      <% @appointment_list_waiting_count = Appointment.where(appointmentstatus: 416774000, :facility_id.in =>  current_user.facility_ids,:appointmentdate.gte => @current_date, :appointmentdate.lt => @current_date + 1, current_state: "waiting").count %>
      <% @appointment_list_engaged_count = Appointment.where(appointmentstatus: 416774000, :facility_id.in =>  current_user.facility_ids,:appointmentdate.gte => @current_date, :appointmentdate.lt => @current_date + 1, current_state: "engaged").count %>
      <% @appointment_list_seen_count = Appointment.where(appointmentstatus: 416774000, :facility_id.in =>  current_user.facility_ids,:appointmentdate.gte => @current_date, :appointmentdate.lt => @current_date + 1, current_state: "seen").count %>
    <% else %>

      <% @appointment_list_today_count = Appointment.where(appointmentstatus: 416774000, :appointmentdate.gte => @current_date, :appointmentdate.lt => @current_date + 1, :doctor => @user.id.to_s).count %>
      <% @appointment_list_scheduled_count = Appointment.where(appointmentstatus: 416774000, :appointmentdate.gte => @current_date, :appointmentdate.lt => @current_date + 1, :doctor => @user.id.to_s, current_state: "scheduled").count %>
      <% @appointment_list_waiting_count = Appointment.where(appointmentstatus: 416774000, :appointmentdate.gte => @current_date, :appointmentdate.lt => @current_date + 1, :doctor => @user.id.to_s, current_state: "waiting").count %>
      <% @appointment_list_engaged_count = Appointment.where(appointmentstatus: 416774000, :appointmentdate.gte => @current_date, :appointmentdate.lt => @current_date + 1, :doctor => @user.id.to_s, current_state: "engaged").count %>
      <% @appointment_list_seen_count = Appointment.where(appointmentstatus: 416774000, :appointmentdate.gte => @current_date, :appointmentdate.lt => @current_date + 1, :doctor => @user.id.to_s, current_state: "seen").count %>
    <% end %>
  <% end %>
<%else%>
  <% if current_user.has_role?(:doctor) %>
    <% @appointment_list_today_count = Appointment.where(appointmentstatus: 416774000, :facility_id => @facility.id.to_s,:doctor => current_user.id, :appointmentdate.gte => @current_date, :appointmentdate.lt => @current_date + 1).count %>
    <% @appointment_list_scheduled_count = Appointment.where(appointmentstatus: 416774000, :facility_id => @facility.id.to_s,:doctor => current_user.id, :appointmentdate.gte => @current_date, :appointmentdate.lt => @current_date + 1, current_state: "scheduled").count %>
    <% @appointment_list_waiting_count = Appointment.where(appointmentstatus: 416774000, :facility_id => @facility.id.to_s,:doctor => current_user.id, :appointmentdate.gte => @current_date, :appointmentdate.lt => @current_date + 1, current_state: "waiting").count %>
    <% @appointment_list_engaged_count = Appointment.where(appointmentstatus: 416774000, :facility_id => @facility.id.to_s,:doctor => current_user.id, :appointmentdate.gte => @current_date, :appointmentdate.lt => @current_date + 1, current_state: "engaged").count %>
    <% @appointment_list_seen_count = Appointment.where(appointmentstatus: 416774000, :facility_id => @facility.id.to_s,:doctor => current_user.id, :appointmentdate.gte => @current_date, :appointmentdate.lt => @current_date + 1, current_state: "seen").count %>
  <% else %>
    <% if @user.nil? %>
      <% @appointment_list_today_count = Appointment.where(appointmentstatus: 416774000, :facility_id => @facility.id.to_s,:appointmentdate.gte => @current_date, :appointmentdate.lt => @current_date + 1).count %>
      <% @appointment_list_scheduled_count = Appointment.where(appointmentstatus: 416774000, :facility_id => @facility.id.to_s,:appointmentdate.gte => @current_date, :appointmentdate.lt => @current_date + 1, current_state: "scheduled").count %>
      <% @appointment_list_waiting_count = Appointment.where(appointmentstatus: 416774000, :facility_id => @facility.id.to_s,:appointmentdate.gte => @current_date, :appointmentdate.lt => @current_date + 1, current_state: "waiting").count %>
      <% @appointment_list_engaged_count = Appointment.where(appointmentstatus: 416774000, :facility_id => @facility.id.to_s,:appointmentdate.gte => @current_date, :appointmentdate.lt => @current_date + 1, current_state: "engaged").count %>
      <% @appointment_list_seen_count = Appointment.where(appointmentstatus: 416774000, :facility_id => @facility.id.to_s,:appointmentdate.gte => @current_date, :appointmentdate.lt => @current_date + 1, current_state: "seen").count %>
    <% else %>

      <% @appointment_list_today_count = Appointment.where(appointmentstatus: 416774000, :facility_id => @facility.id.to_s,:appointmentdate.gte => @current_date, :appointmentdate.lt => @current_date + 1, :doctor => @user.id.to_s).count %>
      <% @appointment_list_scheduled_count = Appointment.where(appointmentstatus: 416774000, :facility_id => @facility.id.to_s,:appointmentdate.gte => @current_date, :appointmentdate.lt => @current_date + 1, :doctor => @user.id.to_s, current_state: "scheduled").count %>
      <% @appointment_list_waiting_count = Appointment.where(appointmentstatus: 416774000, :facility_id => @facility.id.to_s,:appointmentdate.gte => @current_date, :appointmentdate.lt => @current_date + 1, :doctor => @user.id.to_s, current_state: "waiting").count %>
      <% @appointment_list_engaged_count = Appointment.where(appointmentstatus: 416774000, :facility_id => @facility.id.to_s,:appointmentdate.gte => @current_date, :appointmentdate.lt => @current_date + 1, :doctor => @user.id.to_s, current_state: "engaged").count %>
      <% @appointment_list_seen_count = Appointment.where(appointmentstatus: 416774000, :facility_id => @facility.id.to_s,:appointmentdate.gte => @current_date, :appointmentdate.lt => @current_date + 1, :doctor => @user.id.to_s, current_state: "seen").count %>
    <% end %>
  <% end %>
<%end%>

<div class="panel panel-default" style="padding:0px;">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12" style="display:inline;">
      <h5 class="subtitle mb5">Opd List Today (Total: <%= @appointment_list_today_count %>)</h5>
      </div>
      <div class="col-sm-3">
        <b>Scheduled:</b> <%= @appointment_list_scheduled_count %>
      </div>
      <div class="col-sm-3">
        <b>Waiting:</b> <%= @appointment_list_waiting_count %>
      </div>
      <div class="col-sm-3">
        <b>Engaged:</b> <%= @appointment_list_engaged_count %>
      </div>
      <div class="col-sm-3">
        <b>Completed:</b> <%= @appointment_list_seen_count %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive" id="appointment_list_dashboard_today">
          <%= render partial: "main/dashboard_content/appointment_list_dashboard/appointment_list" %>
        </div><!-- table-responsive -->
      </div>
    </div>
  </div><!-- panel-body -->
</div><!-- panel -->

<style type="text/css">
  .fac-dd {
    margin-top: -10px;
  }
  #facilitylistappointment, #userlistappointment {
    width:37%;
    display: inline-block;
  }
</style>