<div class="modal-body">

		<%= form_for @certificate, :remote => true do |f| %>

			  <% if @certificate.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@certificate.errors.count, "error") %> prohibited this certificate from being saved:</h2>

			      <ul>
			      <% @certificate.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>

			  <p><strong>Date:</strong> <%= Date.current.strftime("%d/%m/%Y") %></p>

			  <%= render partial: "patients/partials/hiddenvariables", locals: { patient: @patient, certificatetype: @certificatetype }  %>

			  <div class="mb20"></div>
			  <div class="text-center"><strong>--: Certificate :--</strong></div>
			  <div class="text-center"><strong>(Medical certificate of fitness)</strong></div>		
			  <div class="mb20"></div>
			  <p style="line-height: 230%;">This is to certify that I Dr. <%= text_field_tag "certificate[drname]", nil, {:maxlength => 30, :size => 30, :class => 'form-control drname', :placeholder => "Dr Name", :style => "width:auto;display:inline;" } %>, have personally examined
				 <label for="salutation-mr-radioselectlabel"><%= radio_button_tag "certificate[salutation]", "Mr.", false, {:class => 'salutation'} %> Mr.</label>/<label for="salutation-mrs-radioselectlabel"><%= radio_button_tag "certificate[salutation]", "Mrs.", false, {:class => 'salutation'} %> Mrs.</label>/<label for="salutation-ms-radioselectlabel"><%= radio_button_tag "certificate[salutation]", "Ms.", false, {:class => 'salutation'} %> Ms.</label>, <%= text_field_tag "certificate[patientname]", nil, {:maxlength => 30, :size => 30, :class => 'form-control patientname', :placeholder => "Enter name", :style => "width:auto;display:inline;" } %>, <label for="guardian-son-radioselectlabel"><%= radio_button_tag "certificate[guardian]", "Son of ", false, {:class => 'guardian'} %> Son</label>/<label for="guardian-daughter-radioselectlabel"><%= radio_button_tag "certificate[guardian]", "Daughter of ", false, {:class => 'guardian'} %> Daughter</label>/<label for="guardian-spouse-radioselectlabel"><%= radio_button_tag "certificate[guardian]", "Spouse of", false, {:class => 'guardian'} %> Spouse</label>/<label for="guardian-relative-radioselectlabel"><%= radio_button_tag "certificate[guardian]", "Relative of ", false, {:class => 'guardian'} %> Relative</label>/<label for="guardian-other-radioselectlabel"><%= radio_button_tag "certificate[guardian]", "Other ", false, {:class => 'guardian'} %> Other</label> <%= text_field_tag "certificate[guardianname]", nil, {:maxlength => 30, :size => 30, :class => 'form-control guardianname', :placeholder => "Guardian Name", :style => "width:auto;display:inline;" } %>, aged about <%= text_field_tag "certificate[patientage]", nil, {:maxlength => 3, :size => 3, :class => 'form-control patientage', :placeholder => "Age", :style => "width:auto;display:inline;" } %> years, Sex <label for="patientgender-male-radioselectlabel"><%= radio_button_tag "certificate[patientgender]", "Male", false, {:class => 'patientgender'} %> Male</label>/<label for="patientgender-female-radioselectlabel"><%= radio_button_tag "certificate[patientgender]", "Female", false, {:class => 'patientgender'} %> Female</label>, occupation<%= text_field_tag "certificate[occupation]", nil, {:maxlength => 20, :size => 20, :class => 'form-control occupation', :placeholder => "Occupation", :style => "width:auto;display:inline;" } %>, resident of <%= text_field_tag "certificate[address_1]", nil, {:maxlength => 20, :size => 20, :class => 'form-control address_1', :placeholder => "Address line1", :style => "width:auto;display:inline;" } %> , <%= text_field_tag "certificate[address_2]", nil, {:maxlength => 20, :size => 20, :class => 'form-control address_2', :placeholder => "Address line2", :style => "width:auto;display:inline;" } %> , 
				<%= text_field_tag "certificate[city]", nil, {:maxlength => 20, :size => 20, :class => 'form-control city', :placeholder => "Bangalore", :style => "width:auto;display:inline;" } %> , <%= text_field_tag "certificate[state]", nil, {:maxlength => 20, :size => 20, :class => 'form-control state', :placeholder => "KA", :style => "width:auto;display:inline;" } %> , <%= text_field_tag "certificate[pincode]", nil, {:maxlength => 6, :size => 6, :class => 'form-control pincode', :placeholder => "560001", :style => "width:auto;display:inline;" } %>  (whose signature/ left thumb impression is verified as under) and found that he/she has completely recovered from his/her illness and is now fit to resume duties in Government / private service with effect from <%= text_field_tag "workeffectivedate", nil, {:class => 'form-control workeffectivedate', :id => "datepicker-inline", :placeholder => "dd/mm/yyyy", :style => "width:auto;display:inline;" } %>.</p>

				<p>I also certify that before arriving at this decision, I have examined the original medical certificate and statement of the case on which leave was granted or extended and have taken them into consideration in arriving at my decision.</p>

				<p> Identification marks of patient:</p>
				<ol>
				    <li><%= text_field_tag "certificate[identification1]", nil, {:maxlength => 20, :size => 20, :class => 'form-control identification1', :style => "width:auto;display:inline;" } %></li>
				    <div class="mb10"></div>
				    <li><%= text_field_tag "certificate[identification2]", nil, {:maxlength => 20, :size => 20, :class => 'form-control identification2', :style => "width:auto;display:inline;" } %></li>
				</ol>

				<br/>
				<br/>
				<br/>

				<div class="signature"></div>
				<strong>Signature</strong>

		<% end %>

</div>

<script>
	jQuery(document).ready(function() {    	
		jQuery('#datepicker-inline').datepicker({
			dateFormat: "dd/mm/yy"
		});
		jQuery(".saveprintcertificate").on("click", function(event) {
			jQuery('.new_patient_certificate').submit();
    	});
    	jQuery(".updatepatientcertificate").on("click", function(event) {
			jQuery('.edit_patient_certificate').submit();
    	});
	});
</script>