<div class="modal-body"> <!-- modal-body starts -->

    <%= simple_form_for @patientsummaryassetupload, url: patients_create_folder_path, :remote => true, :html => { :class => "form-inline patient-summary-asset-upload-create-folder" } do |f| %>

        <div class="row mb20"> <!-- 1st row starts -->

        	<%= hidden_field_tag "patient_summary_asset_upload[patient_id]", @patient.id %>

            <div class="col-md-12 mb10">
	  			<label class="control-label">Folder Name</label>
	  			<%= f.text_field :name, :maxlength => 30, :size => 30, :class => 'form-control foldername', :placeholder => "Folder name" %>
            </div>

            <div class="col-md-12">
	  			<label class="control-label">Select Folder</label>
	  			<%= f.text_field :ancestry, :maxlength => 15, :size => 15, :class => 'form-control ancestry', :placeholder => "1111111" %>
            </div>

        </div> <!-- 1st row ends -->

        <%= f.submit 'Create Folder', { :class => "btn btn-primary" } %>

    <% end %>

</div> <!-- modal-body ends -->