<% @patient_investigations.each do |investigation| %>

    <%if investigation.ophthal_investigations.any?%>
      <tr>
        <td style="width:15%; padding: 0px"><%= investigation.encounter_date.strftime("%d-%b-%y") %></td>
        <td style="width: 15%;padding: 2px"><span class="label label-default" style="margin: 0px"><%= investigation.encountertype %></span></td>
        <td style="width: 15%;padding: 2px" class="text-center"><span class="label label-primary" style="margin: 0px"><%= investigation.templatetype %></span></td>
        <td style="width: 20%;padding: 2px" class="text-center"><span class="label label-success" style="margin: 0px">Ophthal</span></td>
        <td style="width: 15%;padding: 2px" class="text-center"><span class="label label-default" style="margin: 0px"><%= investigation.doctor_name[0].upcase %></span></td>
        <td style="width: 20%;padding: 2px" class="text-center">
        <% inv_workflow = InvestigationWorkflow.find_by(appointment_id: investigation.appointment_id)%>
          <%= link_to patient_investigations_ophthal_investigation_summary_path(:id=> "#{investigation.id}",:opdrecordid => "#{investigation.record_id}", :patientid => "#{investigation.patient_id}", :specality => "#{investigation.specalityname}", :templatetype => "#{investigation.templatetype}", :type => "ophthal_investigation"), :class => 'btn btn-xs btn-success investigation-viewsummary-html', :id => 'investigation-viewsummary-html', :title => "Investigation Summary",:data_attr => "#{investigation.id}", :data => {:remote => true} do %> <i class="fa fa-file"></i> View  <% end %>
          <% if inv_workflow.state == 'seen_by_doctor' && investigation.status == 'Complete' %>
            <button class="btn btn-xs btn-primary">Completed</button>
          <% else %>
             <% if @appointment %>
              <% appointment = @appointment %>
             <% else %>
              <% appointment = Appointment.find(investigation.appointment_id) %>
             <% end %>

           
           <% end %>

        
        </td>
      </tr>
    <% end %>

    
<% end %>


<% @radiology_investigations.each do |investigation| %>
    <%if investigation.radiology_investigations.any?%>
      <tr>
        <td style="width:15%; padding: 0px"><%= investigation.encounter_date.strftime("%d-%b-%y") %></td>
        <td style="width: 15%;padding: 2px"><span class="label label-default" style="margin: 0px"><%= investigation.encountertype %></span></td>
        <td style="width: 15%;padding: 2px" class="text-center"><span class="label label-primary" style="margin: 0px"><%= investigation.templatetype %></span></td>
        <td style="width: 20%;padding: 2px" class="text-center"><span class="label label-success" style="margin: 0px">Radiology</span></td>
        <td style="width: 15%;padding: 2px" class="text-center"><span class="label label-default" style="margin: 0px"><%= investigation.doctor_name[0].upcase %></span></td>
        <td style="width: 20%;padding: 2px" class="text-center">
        <% inv_workflow = InvestigationWorkflow.find_by(appointment_id: investigation.appointment_id)%>
          <%= link_to radiology_investigation_radio_investigation_summary_path(:id=> "#{investigation.id}",:opdrecordid => "#{investigation.record_id}", :patientid => "#{investigation.patient_id}", :specality => "#{investigation.specalityname}", :templatetype => "#{investigation.templatetype}", :type => "radiology_investigation"), :class => 'btn btn-xs btn-success investigation-viewsummary-html', :id => 'investigation-viewsummary-html', :title => "Investigation Summary",:data_attr => "#{investigation.id}", :data => {:remote => true} do %> <i class="fa fa-file"></i> View <% end %>
          <% if inv_workflow.state == 'seen_by_doctor' && investigation.status == 'Complete'%>
            <button class="btn btn-xs btn-primary">Completed</button>
          <% else %>
             <% if @appointment %>
              <% appointment = @appointment %>
             <% else %>
              <% appointment = Appointment.find(investigation.appointment_id) %>
             <% end %>

           
           <% end %>

        
        </td>
      </tr>
    <% end %>
    
<% end %>