<div class="row">
  <div class="col-md-2"><strong>Camp Name</strong></div>
  <div class="col-md-10">
    <b><%= @camp_patient_data.try(:camp_name).try(:capitalize) %> (<%= @camp_patient_data&.created_at.strftime("%d-%b-%y") %>) </b>
  </div>
</div>

<div class="row">
  <div class="col-md-2"><strong>Patient Camp Id</strong></div>
  <div class="col-md-10">
    <b><%= @camp_patient_data&.camp_patient_identifier %> </b>
  </div>
</div>

<br>
<div style="color: black; background: white">

  <div class="row">
    <div class="col-md-2"><label class="data-label">Complaint</label></div>
    <div class="col-md-10">
      <b> <%= @camp_patient_data&.complaints || "-" %> </b>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2"><label class="data-label">Examination</label></div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-2"><label class=""><b>Visual Acuity</b></label></div>
        <div class="col-md-10">
          <span><strong>Right: </strong></span> <span><%= @camp_patient_data&.visual_acuity_r || "-" %></span>
          <span><strong>Left: </strong></span> <span><%= @camp_patient_data&.visual_acuity_l || "-" %></span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2"><label class=""><b>IOP</b></label></div>
        <div class="col-md-10">
          <span><strong>Right: </strong></span> <span><%= @camp_patient_data.try(:iop_r) || "-" %></span>
          <span><strong>Left: </strong></span> <span><%= @camp_patient_data.try(:iop_l) || "-" %></span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2"><label class=""><b>Anterior Segment</b></label></div>
        <div class="col-md-10">
          <span><strong>Right: </strong></span> <span><%= @camp_patient_data.try(:anetrior_segment_r) || "-" %></span>
          <span><strong>Left: </strong></span> <span><%= @camp_patient_data.try(:anetrior_segment_l) || "-" %></span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2"><label class=""><b>Duct</b></label></div>
        <div class="col-md-10">
          <span><strong>Right: </strong></span> <span><%= @camp_patient_data&.duct_r || "-" %></span>
          <span><strong>Left: </strong></span> <span><%= @camp_patient_data&.duct_l || "-" %></span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2"><label class=""><b>Fundus</b></label></div>
        <div class="col-md-10">
          <span><strong>Right: </strong></span> <span><%= @camp_patient_data&.fundus_r || "-" %></span>
          <span><strong>Left: </strong></span> <span><%= @camp_patient_data&.fundus_l || "-" %></span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2"><label class=""><b>Glasses Prescription</b></label></div>
        <div class="col-md-10">
          <span><strong>Right: </strong></span>
          <span>
             <table style="width:100%">
              <tr>
                <th> </th>
                <th>Sph</th>
                <th>Cyl</th>
                <th>Axis</th>
                <th>Vision</th>
              </tr>
              <tr>
                 <td>Distant</td>
                <td><%= @camp_patient_data&.r_glassesprescriptions_distant_sph %></td>
                 <td><%= @camp_patient_data&.r_glassesprescriptions_distant_cyl %></td>
                 <td><%= @camp_patient_data&.r_glassesprescriptions_distant_axis %></td>
                <td><%= @camp_patient_data&.r_glassesprescriptions_distant_vision %></td>
              </tr>
              <tr>
                <td>Add</td>
                 <td><%= @camp_patient_data&.r_glassesprescriptions_add_sph %></td>
                <td><%= @camp_patient_data&.r_glassesprescriptions_add_cyl %></td>
                 <td><%=@camp_patient_data&.r_glassesprescriptions_add_axis %></td>
                 <td><%= @camp_patient_data&.r_glassesprescriptions_add_vision %></td>
              </tr>
              <tr>
                 <td>Near</td>
               <td><%= @camp_patient_data&.r_glassesprescriptions_near_sph %></td>
                  <td><%= @camp_patient_data&.r_glassesprescriptions_near_cyl %></td>
                <td><%= @camp_patient_data&.r_glassesprescriptions_near_axis %></td>
                <td><%= @camp_patient_data&.r_glassesprescriptions_near_vision %></td>
              </tr>
           </table>
         </span>
          <br>
          <span><strong>Left: </strong></span>
          <span>
             <table style="width:100%">
              <tr>
                <th> </th>
                <th>Sph</th>
                <th>Cyl</th>
                <th>Axis</th>
                <th>Vision</th>
              </tr>
              <tr>
                 <td>Distant</td>
                <td><%= @camp_patient_data&.l_glassesprescriptions_distant_sph %></td>
                 <td><%= @camp_patient_data&.l_glassesprescriptions_distant_cyl %></td>
                 <td><%= @camp_patient_data&.l_glassesprescriptions_distant_axis %></td>
                <td><%= @camp_patient_data&.l_glassesprescriptions_distant_vision %></td>
              </tr>
              <tr>
                <td>Add</td>
                 <td><%= @camp_patient_data&.l_glassesprescriptions_add_sph %></td>
                <td><%= @camp_patient_data&.l_glassesprescriptions_add_cyl %></td>
                 <td><%=@camp_patient_data&.l_glassesprescriptions_add_axis %></td>
                 <td><%= @camp_patient_data&.l_glassesprescriptions_add_vision %></td>
              </tr>
              <tr>
                 <td>Near</td>
               <td><%= @camp_patient_data&.l_glassesprescriptions_near_sph %></td>
                  <td><%= @camp_patient_data&.l_glassesprescriptions_near_cyl %></td>
                <td><%= @camp_patient_data&.l_glassesprescriptions_near_axis %></td>
                <td><%= @camp_patient_data&.l_glassesprescriptions_near_vision %></td>
              </tr>
           </table>
         </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><label class="data-label">Diagnosis</label></div>
    <div class="col-md-10">
      <span><strong>Right: </strong></span> <span><%= @camp_patient_data&.diagnosis_r || "-" %></span>
      <span><strong>Left: </strong></span> <span><%= @camp_patient_data&.diagnosis_l || "-" %></span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><label class="data-label">Fitness Assesment</label></div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-2"><label class=""><b>Blood Pressure</b></label></div>
        <div class="col-md-10">
          <%= @camp_patient_data&.bp || "-" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"><label class=""><b>Random Sugar</b></label></div>
        <div class="col-md-10">
          <%= @camp_patient_data&.rs || "-" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"><label class=""><b>Pulse</b></label></div>
        <div class="col-md-10">
          <%= @camp_patient_data&.pulse || "-" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2"><label class="data-label">Counselling and Advice</label></div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-2"><label class=""><b>Surgery</b></label></div>
        <div class="col-md-10">
          <%= @camp_patient_data&.surgery || "-" %> <%= @camp_patient_data&.surgery_eye || "-" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"><label class=""><b>Advice</b></label></div>
        <div class="col-md-10">
          <%= @camp_patient_data&.advice || "-" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"><label class=""><b>Medication</b></label></div>
        <div class="col-md-10">
          <%= @camp_patient_data&.medication || "-" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"><label class=""><b>Followup Date</b></label></div>
        <div class="col-md-10">
          <%= @camp_patient_data&.follow_up_date&.strftime("%d/%m/%Y") || "-" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"><label class=""><b>Refer Facility</b></label></div>
        <div class="col-md-10">
          <% if  @camp_patient_data&.refer_to_facility.present? %>
            <%= Facility.find_by(id: @camp_patient_data&.refer_to_facility).name || "-" %>
          <% else %>
            <%= "-" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>




</div>



</div>


<style>
  .data-label {
    border-radius: 3px;
    padding: inherit;
    background-color: #1A4E7B;
    color: #FFF
  }
</style>