<% @patient_prescriptions.each do |prescription| %>

  <tr>
    <td style="padding:0px 5px;width:25%;font-size:12px;"><%= prescription.encounterdate.strftime("%d %B") %><br><%= prescription.encounterdate.strftime("%I:%M%P") %></td>
    <td style="padding:0px 5px;width:25%;" ><span class="label label-default"><%= prescription.encountertype %></span></td>
    <% if !prescription.doctor_name.nil? %>
      <td style="padding:0px 5px;width:25%;text-align:center;"><% @doc_name = prescription.doctor_name.split(" ") %><span class="label label-default" title="<%=prescription.doctor_name%>"><% @doc_name.each do |doc_name| %><%=doc_name[0].capitalize%><%end%></span></td>
    <% end %>
    <!-- <td style="padding:0px 5px;width:30%;" >Yes</td> -->
  	<% if prescription.encountertype == "OPD" %>
      <td style="padding:0px 5px;width:25%;text-align:center;" >
  	   <%= link_to patients_view_prescription_path(:appointmentid => "#{prescription.appointment_id}",:opdrecordid => "#{prescription.record_id}", :patientid => "#{prescription.patient_id}", :specality => "#{prescription.specalityname}", :templatetype => "#{prescription.templatetype}"), :class => "hg-tooltip btn btn-xs btn-success prescription-viewsummary-html", :id => "prescription-viewsummary-html", :title => "Prescription Summary", :data => {:remote => true} do %> <i class="fa fa-file"></i> <% end %>
      </td>
    <% elsif prescription.encountertype == "IPD" %>
      <td style="padding:0px 5px;width:25%;text-align:center;" >
    	 <%= link_to patients_view_prescription_path(:admissionid => "#{prescription.admission_id}",:ipdrecordid => "#{prescription.record_id}", :patientid => "#{prescription.patient_id}", :specality => "#{prescription.specalityname}", :templatetype => "#{prescription.templatetype}"), :class => "hg-tooltip btn btn-xs btn-success prescription-viewsummary-html", :id => "prescription-viewsummary-html", :title => "Prescription Summary", :data => {:remote => true} do %> <i class="fa fa-file"></i> <% end %>
      </td>
    <% end %>
  </tr>

<% end %>