<div class="modal-body">

	  <p><strong>Date:</strong> <%= Date.current.strftime("%d/%m/%Y") %></p>

	  <div class="mb20"></div>
	  <div class="text-center"><strong>--: Certificate :--</strong></div>
	  <div class="text-center"><strong>(Medical certificate of Sickness)</strong></div>		
	  <div class="mb20"></div>
	  <p style="line-height: 130%;">This is to certify that I Dr. <%= @certificate.drname %>, have personally examined <%= @certificate.salutation %>, <%= @certificate.patientname %>, <%= @certificate.guardian %>  <%= @certificate.guardianname %>, aged about <%= @certificate.patientage %> years, Sex <%= @certificate.patientgender %>, occupation <%= @certificate.occupation %>, resident of <%= @certificate.address_1 %>, <%= @certificate.address_2 %>, <%= @certificate.city %> <%= @certificate.state %> - <%= @certificate.pincode %> (whose signature/ left thumb impression is verified as under) and found that he/she has completely recovered from his/her illness and is now fit to resume duties in Government / private service with effect from <%= @certificate.workeffectivedate %>.</p>

		<p>I also certify that before arriving at this decision, I have examined the original medical certificate and statement of the case on which leave was granted or extended and have taken them into consideration in arriving at my decision.</p>

		<p> Identification marks of patient:</p>
		<ol>
		    <li><%= @certificate.identification1 %></li>
		    <div class="mb10"></div>
		    <li><%= @certificate.identification2 %></li>
		</ol>

		<br/>
		<br/>
		<br/>

		<div class="signature"></div>
		<strong>Signature</strong> 


</div>

