<div class="dropdown">
  <!-- Certificates -->

  <button type="button" class="btn btn-default" title="Make Medical Certificates" id="certificate-print-dropdown" data-toggle="dropdown" style="width:160px;">
    <i class="fa fa-certificate"></i>Certificates
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="certificate-print-dropdown">
    <%patient = @patient%>
    <%doctor_id = @doctor%>
    <!-- Stored Receipts -->
      <% @user_notes_templates.each do |certificate_template| %>
          <li>
            <%= link_to new_user_notes_template_path(patientid: patient.id,doctor_id: doctor_id,template_details: certificate_template[:template_details]), data: {remote: true, 'toggle' =>  "modal", 'target' => '#invoice-modal'} do %>
            <%= certificate_template[:name]%>
            <% end %>
          </li>
      <% end %>
    <!-- Free Receipt -->
    <li>
      <%= link_to new_user_notes_template_path(patientid: patient.id,doctor_id: doctor_id), data: {remote: true, 'toggle' =>  "modal", 'target' => '#invoice-modal'} do %> New Medical Certificate <% end %>
    </li>
    <!-- Old Receipts -->
    <% patient_pastcertificates = UserNote.where(patient_id: patient.id) %>
    <% if patient_pastcertificates.size > 0 %>
        <li class="old_certificates_ss"><span>Previous Certificates</span></li>
        <% patient_pastcertificates.newest_certificate_first.each do |patient_pastcertificates| %>
            <li>
              <%= link_to edit_user_notes_template_path(id: patient_pastcertificates.id), data: {remote: true} do %><%= patient_pastcertificates.category %><% end %>
            </li>
        <% end %>
    <% end %>
    <!-- All Receipts End -->
  </ul>
  <!-- Receipts End -->
</div>

<style type="text/css">

  .c-appointment {
    margin-left: -2px;
  }

  .old_certificates_ss {
    text-align:center;
    font-size:10px;
    opacity:0.6;
    border-bottom:1px solid #eee;
    border-top:1px solid #eee;
    margin-top: 5px;
  }

  .old_invoice_list {
    font-size: 13px;
  }


  @keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  }


</style>

