<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<% total_appointment_types_count = 0 %>
<div class="row" id="appointment-types-alert-messages"></div>
<%= form_tag("/users/save_appointment_types",method: "post",:remote=>true,:id=>"appointment_types",:class => "form form-bordered") do  %>
    <div class="row">
      <div class="col-md-6 alert alert-info" id="appointment-type-alert-messages" style="padding-top:5px;padding-bottom:5px;padding-left:3px;padding-right:3px;">
        Please click <strong>"Save Appointment Types"</strong> button after adding/editing. <span class="glyphicon glyphicon-arrow-right"></span>
      </div>
      <div class="col-md-offset-3 col-md-3"><%= submit_tag("Save Appointment Types",{:class=>"btn btn-success"}) %></div>
    </div>
    <% unless @appointment_types.size > 0 %>
        <div class="row">
          <div class="col-md-6 alert alert-warning" id="appointment-type-alert-messages" style="padding-top:5px;padding-bottom:5px;padding-left:3px;padding-right:3px;">
            Please click <strong>"Save Appointment Types"</strong> button again.You cannot save empty fields  <span class="glyphicon glyphicon-arrow-right"></span>
          </div>
        </div>
    <%end%>
    <input type="hidden" name="appointment_types_for_delete" id="appointment_types_for_delete" value="">
    <div id="full-appointment-types">
      <div class="row form-group">
        <div class="col-md-3"><b>Label</b></div>
        <div class="col-md-2"><b>Slot Duration</b> (min)</div>
        <div class="col-md-2"><b>Background</b></div>
        <div class="col-md-2"><b>Default</b></div>
        <div class="col-md-2"><b>Actions</b></div>
      </div>
      <% unless @appointment_types.size > 0 %>
          <div class="row form-group">
            <input id="appointment_types_0_user_id" name="appointment_types[0][user_id]" type="hidden" value="<%=current_user.id.to_s %>">
            <div class="col-md-3"><input class="form-control appointment-label-validation" id="appointment_types_0_label" name="appointment_types[0][label]" type="text" value="Fresh"></div>
            <div class="col-md-2"><input class="form-control slot-duration-validation" id="appointment_types_0_duration" min="1" name="appointment_types[0][duration]" type="number" value="10"></div>
            <div class="col-md-2"><input class="form-control" id="appointment_types_0_background" name="appointment_types[0][background]" type="text" value="#3071a9"></div>
            <div class="col-md-2"><input id="default_0" name="default" type="radio" value="0" checked></div>

            <div class="col-md-1">
              <span id="add_appointment_type" class="btn btn-sm btn-primary btn-square glyphicon glyphicon-plus-sign"></span>
            </div>
            <div class="col-md-1">
              <span id="remove_appointment_type_0" class="btn btn-sm btn-primary btn-danger glyphicon glyphicon-remove"></span>
            </div>
          </div>
          <% total_appointment_types_count += 1 %>
          <div class="row form-group">
            <input id="appointment_types_1_user_id" name="appointment_types[1][user_id]" type="hidden" value="<%=current_user.id.to_s %>">
            <div class="col-md-3"><input class="form-control appointment-label-validation" id="appointment_types_1_label" name="appointment_types[1][label]" type="text" value="Followup"></div>
            <div class="col-md-2"><input class="form-control slot-duration-validation" id="appointment_types_1_duration" min="1" name="appointment_types[1][duration]" type="number" value="5"></div>
            <div class="col-md-2"><input class="form-control" id="appointment_types_1_background" name="appointment_types[1][background]" type="text" value="#274E13"></div>
            <div class="col-md-2"><input id="default_0" name="default" type="radio" value="1"></div>

            <div class="col-md-1">
              <span id="add_appointment_type" class="btn btn-sm btn-primary btn-square glyphicon glyphicon-plus-sign"></span>
            </div>
            <div class="col-md-1">
              <span id="remove_appointment_type_1" class="btn btn-sm btn-primary btn-danger glyphicon glyphicon-remove"></span>
            </div>
          </div>
          <% total_appointment_types_count += 1 %>
      <% else %>
          <% @appointment_types.each_with_index do |each_appointment_type,index| %>
              <%= fields_for "appointment_types[#{index}]", each_appointment_type do |eat| %>
                  <div class="row form-group">
                    <%= eat.hidden_field :id %>
                    <%= eat.hidden_field :user_id %>
                    <div class="col-md-3"><%= eat.text_field :label,{:class=>"form-control appointment-label-validation"} %> </div>
                    <div class="col-md-2"><%= eat.number_field :duration,{:class=>"form-control slot-duration-validation",:min => "1"} %></div>
                    <div class="col-md-2"><%= eat.text_field :background,{:class=>"form-control"} %></div>
                    <div class="col-md-2"><%= radio_button_tag :default,index,each_appointment_type.is_default,{:class=>"default_radio_btn", data: {confirm: 'Are you sure?', commit: 'Sure!'}} %></div>

                    <!--<div class="toggle-success followup_email_active_inactive" id="followup_email_active" data-confirm="You really want to Change Followup SMS feature?" data-commit="Cancel" data-cancel="Yes"></div>-->

                    <div class="col-md-1">
                      <span id="add_appointment_type" class="btn btn-sm btn-primary btn-square glyphicon glyphicon-plus-sign"></span>
                    </div>
                    <div class="col-md-1">
                      <span id="remove_appointment_type_<%= index %>" class="btn btn-sm btn-primary btn-danger glyphicon glyphicon-remove"></span>
                    </div>
                  </div>
              <% end %>
              <% total_appointment_types_count += 1 %>
          <% end %>
      <% end %>
    </div>

<% end %>
<input type="hidden" id="total_appointment_types_count" value="<%= total_appointment_types_count %>">

<style type="text/css">
  input.error, select.error {
    border-color: #b94a48;
    background-image: none;
  }
  input.valid, select.valid {
    border-color: #468847;
    background-image: none;
  }
</style>

<script>

  function appointment_type_page() {
    $("#appointment_types").validate({

      errorElement: 'div',
      errorPlacement: function (error, element) {
        error.insertAfter(element);
      }
    });

  }
  appointment_type_page()

  // alias required to cRequired with new message
  $.validator.addMethod("LabelRequired", $.validator.methods.required, "Label cannot be blank");
  $.validator.addMethod("SlotRequired", $.validator.methods.required, "Slot time cannot be blank");
  $.validator.addMethod("INumber", $.validator.methods.number, "Please enter a number");

  jQuery.validator.addMethod("mintimeslot", function(value, element) {
    return this.optional(element) || value >= 5;
  }, jQuery.validator.format("Please enter the Value more than or equal to 5"));


  $.validator.addClassRules("appointment-label-validation", { LabelRequired: true});
  $.validator.addClassRules("slot-duration-validation", { SlotRequired: true, INumber: true, mintimeslot: true});
</script>
