<table class="table table-striped table-bordered">
  <div class="row form-group">
    <thead>
    <th class="col-sm-1"> <b>Type</b> </th>
    <th class="col-sm-7"> <b>Email Subject & Content</b></th>
    <th class="col-sm-1"> <b>Action</b></th>
    </thead>
  </div>
  <tbody class="email-setting-table-body">
  <tr class="visit-email-setting">
    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
      <div class="form-group">
        <div class="input-group mb15">
          Visit
        </div>
      </div>
    </td>
    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
      <div class="form-group">
        <div><a href="/doctors/email_visit_modal" data-remote="true"> Mail Content</a>|<%= @user_settings.visit_email_time.try(:strftime, "%H:%M:%S")%>|&|<%= @user_settings.try(:visit_email_schedule)%>days|</div>
      </div>
    </td>
    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
      <div class="form-group">
        <div class="col-sm-7 control-label">
          <% if @user_settings.visit_email_active_inactive %>
              <div class="toggle-success visit_email_active_inactive" id="visit_email_active" data-confirm="You really want to Change Visit Email feature?" data-commit="No" data-cancel="Yes"></div>
          <% else %>
              <div class="toggle-success visit_email_active_inactive" id="visit_email_inactive" data-confirm="You really want to Change Visit Email feature?" data-commit="No" data-cancel="Yes"></div>
          <% end %>
        </div>
      </div>
    </td>
  </tr>
  <tr class="followup-email-setting">
    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
      <div class="form-group">
        <div class="input-group mb15">
          Followup
        </div>
      </div>
    </td>
    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
      <div class="form-group">
        <div><a href="/doctors/email_followup_modal" data-remote="true"> Mail Content</a>|<%= @user_settings.followup_email_time.try(:strftime, "%H:%M:%S")%>|&|<%= @user_settings.try(:followup_email_schedule)%>days|</div>
      </div>
    </td>
    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
      <div class="form-group">
        <div class="col-sm-7 control-label">
          <% if @user_settings.followup_email_active_inactive %>
              <div class="toggle-success followup_email_active_inactive" id="followup_email_active" data-confirm="You really want to Change Followup Email feature?" data-commit="No" data-cancel="Yes"></div>
          <% else %>
              <div class="toggle-success followup_email_active_inactive" id="followup_email_inactive" data-confirm="You really want to Change Followup Email feature?" data-commit="No" data-cancel="Yes"></div>
          <% end %>
        </div>
      </div>
    </td>
  </tr>
  <tr class="long-overdue-email-setting">
    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
      <div class="form-group">
        <div class="input-group mb15">
          Long Overdue
        </div>
      </div>
    </td>
    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
      <div class="form-group">
        <div><a href="/doctors/email_long_overdue_modal" data-remote="true"> Mail Content</a>|<%= @user_settings.long_overdue_email_time.try(:strftime, "%H:%M:%S")%>|&|<%= @user_settings.try(:long_overdue_email_schedule)%>days|</div>
      </div>
    </td>
    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
      <div class="form-group">
        <div class="col-sm-7 control-label">
          <% if @user_settings.long_overdue_email_active_inactive %>
              <div class="toggle-success long_overdue_email_active_inactive" id="long_overdue_email_active" data-confirm="You really want to Change Long Overdue Email feature?" data-commit="No" data-cancel="Yes"></div>
          <% else %>
              <div class="toggle-success long_overdue_email_active_inactive" id="long_overdue_email_inactive" data-confirm="You really want to Change Long Overdue Email feature?" data-commit="No" data-cancel="Yes"></div>
          <% end %>
        </div>
      </div>
    </td>
  </tr>
  <tr class="appointment-email-setting">
    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
      <div class="form-group">
        <div class="input-group mb15">
          Appointment
        </div>
      </div>
    </td>
    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
      <div class="form-group">
        <div><a href="/doctors/email_appointment_modal" data-remote="true"> Mail Content</a>|<%= @user_settings.appointment_email_time.try(:strftime, "%H:%M:%S")%>|&|<%= @user_settings.try(:appointment_email_schedule)%>days|</div>
      </div>
    </td>
    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
      <div class="form-group">
        <div class="col-sm-7 control-label">
          <% if @user_settings.appointment_email_active_inactive %>
              <div class="toggle-success appointment_email_active_inactive" id="appointment_email_active" data-confirm="You really want to Change Appointment Email feature?" data-commit="No" data-cancel="Yes"></div>
          <% else %>
              <div class="toggle-success appointment_email_active_inactive" id="appointment_email_inactive" data-confirm="You really want to Change Appointment Email feature?" data-commit="No" data-cancel="Yes"></div>
          <% end %>
        </div>
      </div>
    </td>
  </tr>

  <% if current_user.has_role? :admin %>
    <tr class="birthday-email-setting">
      <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
        <div class="form-group">
          <div class="input-group mb15">
            Birthday
          </div>
        </div>
      </td>
      <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
        <div class="form-group">
          <div><a href="/doctors/email_birthday_modal" data-remote="true"> Mail Content</a>|<%= @user_settings.birthday_email_time.try(:strftime, "%H:%M:%S")%>|&|<%= @user_settings.try(:birthday_email_schedule)%>days|</div>
        </div>
      </td>
      <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
        <div class="form-group">
          <div class="col-sm-7 control-label">
            <% if @user_settings.birthday_email_active_inactive %>
                <div class="toggle-success birthday_email_active_inactive" id="birthday_email_active" data-confirm="You really want to Change Birthday Email feature?" data-commit="No" data-cancel="Yes"></div>
            <% else %>
                <div class="toggle-success birthday_email_active_inactive" id="birthday_email_inactive" data-confirm="You really want to Change Birthday Email feature?" data-commit="No" data-cancel="Yes"></div>
            <% end %>
          </div>
        </div>
      </td>
    </tr>
  <% end %>

  <!--Don't delete can be used in future-->
  <!--<tr class="campaign-email-setting">-->
    <!--<td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">-->
      <!--<div class="form-group">-->
        <!--<div class="input-group mb15">-->
          <!--Campaign-->
        <!--</div>-->
      <!--</div>-->
    <!--</td>-->
    <!--<td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">-->
      <!--<div class="form-group">-->
        <!--<div><a href="/users/email_campaign_modal" data-remote="true"> Mail Content</a>|<%= @user_settings.campaign_email_time.try(:strftime, "%H:%M:%S")%>|&|<%= @user_settings.try(:campaign_email_schedule)%>days|</div>-->
      <!--</div>-->
    <!--</td>-->
    <!--<td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">-->
      <!--<div class="form-group">-->
        <!--<div class="col-sm-7 control-label">-->
          <!--<% if @user_settings.campaign_email_active_inactive %>-->
              <!--<div class="toggle-success campaign_email_active_inactive" id="campaign_email_active" data-confirm="You really want to Change Followup SMS feature?" data-commit="No" data-cancel="Yes"></div>-->
          <!--<% else %>-->
              <!--<div class="toggle-success campaign_email_active_inactive" id="campaign_email_inactive" data-confirm="You really want to Change Followup SMS feature?" data-commit="No" data-cancel="Yes"></div>-->
          <!--<% end %>-->
        <!--</div>-->
      <!--</div>-->
    <!--</td>-->
  <!--</tr>-->
  </tbody>
</table>
