<% if false %>
  <table class="table table-bordered" id="day-schedule-table">
    <% Global.weekdays.to_hash.each do |name,code| %>
      <% User.find_by(id: current_user.id).users_setting.facility_timing.each do |facility_timing| %>
           <% facility_timing.each do |key,value| %>

                <% if key.to_s == @facility_id.to_s %>

                    <tr day-id="<%= code %>" total_sessions="<%= @user_settings && value[code.to_s].present? ? value[code.to_s].count : 1%>">
                      <th style="width: 200px">
                        <%= name %><button class="btn btn-xs btn-success add-schedule-col" day-id="<%= code %>" style="float: right;"><span class="fa fa-plus"></span></button>
                      </th>
                      <% if @user_settings %>
                          <% if value[code.to_s].present? %>
                              <% value[code.to_s].each do |index,value| %>
                                  <td>
                                    <div>
                                      <div class="bootstrap-timepicker timepicker">
                                        <input type="text" name="schedule[<%= code %>][<%= index%>][from]" id="schedule_<%=code %>_<%= index%>_from"  value="<%= Time.zone.parse(value['from']).strftime("%I:%M %p")%>" class="schedule-time form-control" style="width: 70px">
                                      </div>
                                      <div style="width: 17px">to</div>
                                      <div class="bootstrap-timepicker timepicker">
                                        <input type="text" name="schedule[<%=code %>][<%= index%>][to]" id="schedule_<%=code %>_<%= index%>_to"  value="<%= Time.zone.parse(value['to']).strftime("%I:%M %p")%>" class="schedule-time form-control" style="width: 70px">
                                      </div>
                                    </div>
                                    <button class="btn btn-xs btn-danger remove-schedule-col" style="margin-left: 10px;"><span class="fa fa-times"></span></button>
                                  </td>
                              <% end %>
                          <% end %>
                      <% else %>
                          <td>
                            <div>
                              <div class="bootstrap-timepicker timepicker">
                                <input type="text" name="schedule[<%= code %>][0][from]" id="schedule_<%=code %>_0_from"  value="9:00 AM" class="schedule-time form-control" style="width: 70px">
                              </div>
                              <div style="width: 17px">to</div>
                              <div class="bootstrap-timepicker timepicker">
                                <input type="text" name="schedule[<%=code %>][0][to]" id="schedule_<%=code %>_0_to"  value="5:00 PM" class="schedule-time form-control" style="width: 70px">
                              </div>
                            </div>
                            <button class="btn btn-xs btn-danger remove-schedule-col" style="margin-left: 10px;"><span class="fa fa-times"></span></button>
                          </td>
                      <% end %>
                    </tr>
                <% end %>
                <%end%>
            <% end %>

            <% end %>



  </table>
<%end%>