<div class="pageheader header_change" style="padding-bottom: 5px ;padding-top: 5px">
  <%= stylesheet_link_tag  "bootstrap-fileupload.min", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "bootstrap-fileupload.min", "data-turbolinks-track" => true %>
  <h2 style="font-size: 20px"><i class="fa fa-user-md" style="font-size: 20px;padding: 6px 8px;"></i>Practice Settings<span>Manage your practice settings here...</span></h2>
  <!--<div class="breadcrumb-wrapper" style="top: 16px;">-->
    <!--<span class="label">You are here:</span>-->
    <!--<ol class="breadcrumb">-->
      <!--<li><%#= link_to 'Account Settings', 'javascript:history.go(-1);' %></li>-->
      <!--<li class="active"> Manage Practice Settings </li>-->
    <!--</ol>-->
  <!--</div>-->
</div>

<div class="content clearfix">
  <div role="tabpanel" class="content_container clearfix">
    <div class="col-md-2 mt15 side_bar_menu col-lg-2" style="overflow-y: scroll; height: 100vh;">
   
      <!-- new menu -->
      <ul class="list-unstyled components settings_update">
        <li class="setting-heading">
          <a href="#generalSettingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle settings_head"><span class="b-icon"><i class="fa fa-cog"></i>&nbsp;&nbsp;</span>General&nbsp;&nbsp;&nbsp;<span class="caret"></span></a>
           <ul class="collapse list-unstyled in padded_list setting-heading-child" id="generalSettingSubmenu">
            <li role="presentation" id="fontstyles" class="active"><a href="#defaultview" data-toggle="tab" role="tab">Default View</a></li>
            <li role="presentation" id="fontstyles"><a href="#fontstyle" data-toggle="tab" role="tab" id="font_tab">Fonts</a></li>
           </ul>
        </li>
        <li class="setting-heading">
        <a href="#setsAndListSettingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle settings_head" id="submenu-clinical"><span class="b-icon"><i class="fa fa-stethoscope"></i>&nbsp;&nbsp;</span>Clinical&nbsp;&nbsp;&nbsp;<span class="caret"></span></a>
        <ul class="collapse list-unstyled padded_list setting-heading-child" id="setsAndListSettingSubmenu">
          <li role="presentation"><a href="#advice_sets" aria-controls="advice_sets" role="tab" id="manage_advice_id" data-toggle="tab">Advice Sets</a></li>
          <!-- <li role="presentation"><a href="#appointment-types" aria-controls="appointment-types" role="tab" data-toggle="tab">Appointment Types</a></li> -->
          <li role="presentation"><a href="#user_notes_templates" aria-controls="user_notes_templates" role="tab" id="user_notes_templates_id" data-toggle="tab">User Notes</a></li>
          <li role="presentation"><a href="#manage_procedure_notes" aria-controls="manage_procedure_notes" role="tab" id="manage_procedure_notes_id" data-toggle="tab">In-Patients Procedure Notes</a></li>
          <li role="presentation"><a href="#medicationlists" aria-controls="medicationlists" role="tab" id="medicationlists_ids" data-toggle="tab">Medication Lists</a></li>
          <li role="presentation"><a href="#manage_sets" aria-controls="manage_sets" role="tab" id="manage_sets_id" data-toggle="tab">Medication Sets</a></li>
          <% specialty_union = (current_user.specialty_ids & current_facility.specialty_ids) %>
          <% if specialty_union.include?("309988001") %>
            <li role="presentation"><a href="#ophthal_sets" aria-controls="ophthal_sets" role="tab" id="ophthal_sets_id" data-toggle="tab">Ophthal Sets</a></li>
          <% end %>
          <li role="presentation"><a href="#radiology_sets" aria-controls="radiology_sets" role="tab" id="radiology_sets_id" data-toggle="tab">Radiology Sets</a></li>
          <li role="presentation"><a href="#laboratorysets" aria-controls="laboratorysets" role="tab" id="laboratorysets_ids" data-toggle="tab">Laboratory Sets</a></li>
        </ul>
        </li>
      </ul>
      <!-- new menuu end -->
    </div>

    <div class="tab-content col-md-10 mt15 col-lg-12">
      <!--<div role="tabpanel" class="tab-pane active" id="general-settings">-->

        <!--<div class="row" id="schedule-alert-messages"></div>-->
        <!--<div class="row form-group">-->
          <!--&lt;!&ndash;rendering only drop-down part to refresh using ajax&ndash;&gt;-->
          <!--<div class="general_settings_refresh">-->
            <!--<%#= render 'general_settings_partial' %>-->
          <!--</div>-->
          <!--<div class="col-md-5 alert alert-info" id="schedule-alert-messages" style="padding-top:5px;padding-bottom:5px;padding-left:3px;padding-right:3px;">-->
            <!--Please click <strong>"Save Schedule"</strong> button after adding/editing.-->
            <!--<span class="glyphicon glyphicon-arrow-right"></span>-->
            <!--<br>-->
            <!--Timings wont get saved if they collide.-->
          <!--</div>-->
          <!--<div class="col-md-offset-2 col-md-2">-->
            <!--<button class="btn btn-success" id="save_schedule">-->
              <!--Save Schedule-->
            <!--</button>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="row form-group">-->
          <!--<input type="hidden" name="schedule_type" value="everyday_different">-->
        <!--</div>-->
        <!--<div class="row day-schedule">-->
          <!--<%#= render 'fetch_week_schedule' %>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div role="tabpanel" class="tab-pane" id="custom-queue">-->
        <!--<div>-->
          <!--<%#= render 'queue_customization_partial'%>-->
        <!--</div>-->

      <!--</div>-->



      <div role="tabpanel" class="tab-pane" id="fontstyle">
        <%= render 'font_change'%>
      </div>
      <!--<div role="tabpanel" class="tab-pane" id="custom-timings">-->


      <!--</div>-->
      <!-- doctor level practice settings -->
      <!-- <div role="tabpanel" class="tab-pane" id="appointment-types"> -->
        <!-- <div> -->
          <%#= render 'appointment_types_partial' %>
        <!-- </div> -->
      <!-- </div> -->


      <!--<div role="tabpanel" class="tab-pane" id="print_header_footer">-->
        <!--<%#= render 'print_custamization'%>-->
      <!--</div>-->

      <div role="tabpanel" class="tab-pane" id="customise_message">
        <div class="row mb10">
          <div class="col-md-12">
            <span style="color: darkred">*Note:</span><span style="color: #444;text-decoration: underline"> All SMS will be sent on behalf of DM-HGRAPH and are chargeable @10 paise each.</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-9"><h4>SMS Settings</h4></div>
          </div>
          <div class="sms_settings_refresh" >
            <%= render "sms_settings_partial" %>
          </div>
        </div>
        <!--<div id="default_sms_body_text" style="display: none;">Hey {{patient_name}}, Your appointment is on {{date}} Thanks Dr.<%= current_user.fullname %></div>-->
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-9"><h4>Email Settings</h4></div>
          </div>
          <div class="email_settings_refresh">
            <%= render 'email_settings_partial'%>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3" style="color: darkred">
            Default Contact For Queries:
          </div>
          <div class="col-md-3" id="query">
            <% if @organisation.query_contact%>
                <span class="queryedit" style="margin-right: 10px;color: darkblue"><%= current_user.organisation.query_contact%></span>&nbsp;
                <span class="fa fa-edit edit-contact" style="cursor: pointer"></span>
            <% else %>
                <input type="text" class="query-contact" placeholder="Contact No.">
                <button class="btn btn-xs btn-primary save-contact">Save</button>
            <% end %>
          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_referring_doctors">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_sets">
      </div>

      <div role="tabpanel" class="tab-pane" id="advice_sets">
        
      </div>

      <!-- <div role="tabpanel" class="tab-pane" id="manage_tapering_sets">
      </div> -->

      <div role="tabpanel" class="tab-pane" id="medicationlists">
      </div>
      
      <div role="tabpanel" class="tab-pane" id="laboratorysets">
      </div>

      <div role="tabpanel" class="tab-pane" id="ophthal_sets">
      </div>

      <div role="tabpanel" class="tab-pane" id="radiology_sets">
      </div>

      <div role="tabpanel" class="tab-pane" id="otsets">
      </div>

      <div role="tabpanel" class="tab-pane active" id="defaultview">
        <%= render partial: "settings/staffs/default_view" %>
      </div>

      <div role="tabpanel" class="tab-pane" id="user_notes_templates">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_procedure_notes">
      </div>

    </div>
  </div>
</div>

<style type="text/css">
  .note-editor {
    box-shadow: 0 0 5px;
  }
</style>

<script type="text/javascript">
    if ($(".add-remove-class").hasClass("col-md-offset-2")) {
        $(".add-remove-class").addClass("col-md-7")
    } else {
        $(".add-remove-class").addClass("col-md-6")
    }
    $(".save-contact").on('click',function(e){
        e.preventDefault();
        var phone_number = $(".query-contact").val()
        $.ajax({
            data: {remote: true,number: phone_number},
            url: '/organisations/save_query_number'
        })
    })
    $(".edit-contact").on('click',function(){
        var phone_number = $(".queryedit").text()

        $.ajax({
            data: {number: phone_number},
            url: '/organisations/edit_query_number'
        })
    })

  $('.setting-heading').on('click', function(){
    $(this).siblings('.setting-heading').find('.collapse.in').siblings('a').click()
  })
</script>
