<%= form_tag('/admin/save_print_customisations',method: 'post',:remote=>true,:id=>'print_customisations',:class => 'form form-bordered') do  %>
    <div class="row">
      <div class="col-md-5 alert alert-info" id="print-customisation-messages" style="padding-top:5px;padding-bottom:5px;padding-left:3px;padding-right:3px;">
        Please click <strong>"Save Letterhead Settings"</strong> button after adding/editing. <span class="glyphicon glyphicon-arrow-right"></span>
      </div>
      <div class="col-md-offset-2 col-md-2">
        <a href="/doctors/preview_printout_customization" data-remote="true" class="btn btn-warning"><i class="glyphicon glyphicon-eye-open"></i> Preview Letterhead</a>
      </div>
      <div class="col-md-offset-0 col-md-2">
        <%= submit_tag("Save Letterhead Settings",{:class=>"btn btn-success"}) %>
      </div>
    </div>
    <% letter_head_height = @print_setting['customised_letter_head'] ? '3' : @print_setting['header_height'] %>
    <div class="row" id="header_height" style="<%= @print_setting['customised_letter_head'] ? 'display:block' :'' %>">
      <div id ="set_height_letterhead_own" class="col-md-12"style="background:beige;margin-bottom:10px;"><h4>Set the Height according to your Pre-printed Letterhead</h4></div>
      <div id ="set_height_letterhead_our" class="col-md-12"style="background:beige;margin-bottom:10px;"><h4>Set the Height according to the length of your content</h4></div>
      <div class="col-md-3"><b>Height of header</b></div>
      <div class="col-md-3"><b>Height of footer</b></div>
      <div class="col-md-3"><b>Left Margin of letter head</b></div>
      <div class="col-md-3"><b>Right Margin of letter head</b></div>
      <div class="col-md-3">
        <div class="input-group input-group-sm select-refresh">
          <%= select_tag("letter_head_height", options_for_select([["2"],["3"],["4"],["5"],["6"],["7"],["8"],["9"],["10"],["11"],["12"],["13"],["14"],["15"]], @print_setting['header_height']), :class => "form-control") %><span class="input-group-addon">cm</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group input-group-sm select-refresh">
          <%= select_tag("footer_height", options_for_select([["0"],["1"],["2"],["3"],["4"],["5"],["6"],["7"],["8"],["9"],["10"],["11"],["12"],["13"],["14"],["15"]], @print_setting['footer_height']), :class => "form-control") %>
          <span class="input-group-addon">cm</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group input-group-sm select-refresh">
          <%= select_tag("left_margin", options_for_select([["0"],["1"],["2"],["3"],["4"],["5"],["6"],["7"],["8"]], @print_setting['left_margin']), :class => "form-control") %>
          <span class="input-group-addon">cm</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group input-group-sm select-refresh">
          <%= select_tag("right_margin", options_for_select([["0"],["1"],["2"],["3"],["4"],["5"],["6"],["7"],["8"]], @print_setting['right_margin']), :class => "form-control") %>
          <span class="input-group-addon">cm</span>
        </div>
      </div>
      <div class="col-md-8 note-for-yes">
        <p><b style="font-size:16px;color:#333;">Note:</b> Set Height & Margins According To The Number Of Lines Your Letterhead Content Contains.<br>You Can Always Use the Preview option once you set Your Letterhead and Adjust accordingly.</p>
      </div>
      <div class="col-md-12" id ="title_askor" style="background:beige;margin-bottom:5px;margin-top:10px;"><h4>Or Create A Letterhead</h4></div>
    </div>
    <div class="row">
      <div class="col-md-12" id="titleask-letterhead" style="background:beige;margin-bottom:5px;margin-top:10px;display:none"><h4>Create Letterhead</h4></div>
      <div class="col-md-6">
        <h4>Letterhead</h4>
      </div>
    </div>
    <div class="row mb30">
      <div class="col-md-2">
        <p><b>Create Letterhead?</b></p>
      </div>
      <div class="col-md-5">
        <%= radio_button_tag :customised_letter_head,true,@print_setting['customised_letter_head'] ? true :false %> Yes
        <%= radio_button_tag :customised_letter_head, false,@print_setting['customised_letter_head'] ? false :true %> No
      </div>
    </div>

    <% header_location = @print_setting['customised_letter_head'] ? @print_setting['header_location'] : 'left' %>

    <div class="row" id="header_loc"style="display:none;">
      <div class="col-md-1"></div>
      <div class="col-md-2"><b>Header Position :</b></div>
      <div class="col-md-5">
        <%= radio_button_tag :header_location,'left',header_location=='left' ? true : false %>&nbsp; Left&nbsp;&nbsp;
        <%= radio_button_tag :header_location,'center',header_location=='center' ? true : false %>&nbsp; Center&nbsp;&nbsp;
        <%= radio_button_tag :header_location,'right',header_location=='right' ? true : false %>&nbsp; Right
      </div>
    </div>
    <br/>
    <div class="row mb10" id="header-master" style="display: none;">
      <div class="col-md-1"></div>
      <div class="col-md-2"><b>Header Text :</b></div>
      <div class="col-md-7">
        <%= text_area_tag :header_text,@print_setting['customised_letter_head'] ? @print_setting['header'] :'',{:class => 'summernote', rows: 5, :data => 'abc',:placeholder =>'abcs'} %>
      </div>
      <div class="col-md-12">
        <hr>
      </div>
    </div>
    <% header_logo_location = @print_setting['customised_letter_head'] ? @print_setting['logo_location'] : 'left' %>
    <div class="row mb10" id="logo_loc" style="<%= @print_setting['customised_letter_head'] ? '' :'display:none' %>" >
      <div class="col-md-1"></div>
      <div class="col-md-2"><b>Logo Position :</b></div>
      <div class="col-md-9">
        <%= radio_button_tag :header_logo_location,'left',header_logo_location=='left' ? true : false %>&nbsp; Left&nbsp;&nbsp;
        <%= radio_button_tag :header_logo_location,'right',header_logo_location=='right' ? true : false %>&nbsp; Right&nbsp;&nbsp;
        <%= radio_button_tag :header_logo_location,'none',header_logo_location=='none' ? true : false %>&nbsp; No Logo
      </div>
      <div class="col-md-12" id="organisation_logo">
        <div class="col-md-1"></div>
        <div class="col-md-2"style="margin-top:25px;margin-left:-8px;"><b>Upload Logo:</b></div>
        <div class="fileupload fileupload-exists col-md-9" data-provides="fileupload" data-name="myimage" style="margin-top:25px;">
          <input type="hidden" name="myimage" value="1" />
          <div class="fileupload-new thumbnail col-md-6" style="width: 200px; height: 100px;"></div>
          <div class="fileupload-preview fileupload-exists thumbnail col-md-6" style="max-width: 200px; max-height: 100px; line-height: 20px;width: 200px; height: 100px;">
            <%= image_tag(@facility_setting.send(@department+'_logo_url') )%>
          </div>
          <div class="col-md-6" style="margin-left: 10px;">
            <div>
              <strong>* Preferred Image Size: 240px x 100px.Maximum size of 1MB.</strong>
            </div>
            <span class="btn btn-success btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><%= file_field_tag :logo %></span>
            <a href="#" class="btn btn-warning fileupload-exists" data-dismiss="fileupload">Remove</a>
          </div>
        </div>
      </div>
    </div>


    <div class="row mb10">
      <div class="col-md-1"></div>
      <div class="col-md-2 text_position_class"><b>Text Position :</b></div>
      <div class="col-md-12">
        <div class="add-remove-class" id="left_header" style="<%= (@print_setting['customised_letter_head'] && (@print_setting['logo_location']=='right' || @print_setting['logo_location']=='none')) ? '':'display:none' %>">
          <div class="row mb10">
            <b style="margin-left: 10px;">Left:</b>

            <div class="col-md-12">
              <%= text_area_tag :left_header_text,@print_setting['customised_letter_head'] ? @print_setting['left'] :'',{:class => 'summernote', rows: 5} %>
            </div>
          </div>
        </div>
        <div class="add-remove-class" id="right_header" style="<%= (@print_setting['customised_letter_head'] && (@print_setting['logo_location']=='left' || @print_setting['logo_location']=='none')) ? '':'display:none' %>">
          <div class="row mb10">
            <b style="margin-left: 10px;">Right:</b>
            <div class="col-md-12">
              <%= text_area_tag :right_header_text,@print_setting['customised_letter_head'] ? @print_setting['right'] :'',{:class => 'summernote', rows: 5, :data => 'abc',:placeholder =>'abcs'} %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row mb10">
      <div class="col-md-12"style="background:beige;margin-bottom:5px;margin-top:10px;"><h4>Create Footer</h4></div>
      <div class="col-md-2"><h4>Footer</h4></div>
    </div>
    <div class="row mb30">
      <div class="col-md-2">
        <p><b>Create Footer?</b></p>
      </div>
      <div class="col-md-5">
        <%= radio_button_tag :customised_footer, true,@print_setting['customised_footer'] ? true :false %> Yes
        <%= radio_button_tag :customised_footer, false,@print_setting['customised_footer'] ? false :true %> No
      </div>
    </div>

    <div class="row" id="footer-div" style=<%= @print_setting['customised_footer'] ? '':'display:none'%>>
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <b>Footer Text :</b>
      </div>

      <div class="col-md-7">
        <%= text_area_tag :footer_text ,@print_setting['footer_text'],class: 'summernote' %>
      </div>
    </div>

<% end %>
<script>
    $('#customised_letter_head_false').on('click', function() {
        $('#customised_letter_head_alert_false').show()
        $("#customised_letter_head_alert_false").html("Are you sure you don't want to create letterhead?")
        jQuery('#customised_letter_head_alert_false').addClass("alert alert-warning")
        $('#customised_letter_head_alert_false').delay(5000).fadeOut();
    });
    $("[name='customised_letter_head']").on('change',function(){
        if($("[name='customised_letter_head']:checked").val()=='true'){
            $("#set_height_letterhead_our").show()
            $("#set_height_letterhead_own").hide()
            $("#titleask-letterhead").show()
            $("#logo_loc").show()
            $("#header_loc").show()
            $("#header-master").show()
            $("#header_markup_help").show()
            $("[name=header_logo_location]").change()
            jQuery("[name=header_location]").change()
            $(".text_position_class").show()
            $("#title_askor").hide()
            $(".note-for-yes").show()
        } else {
            $("#set_height_letterhead_our").hide()
            $("#set_height_letterhead_own").show()
            $("#titleask-letterhead").hide()
            $("#logo_loc").hide()
            $("#header_loc").hide()
            $("#left_header").hide()
            $("#header-master").hide()
            $("#right_header").hide()
            jQuery("#left").hide()
            $("#header_markup_help").hide()
            jQuery("#right").hide()
            $("#organisation_logo").hide()
            $(".text_position_class").hide()
            $("#title_askor").show()
            $(".note-for-yes").hide()
        }
    })

    $("[name='customised_footer']").on('change',function(){
        if($("[name='customised_footer']:checked").val()=='true'){
            $("#footer-div").show()
        } else {
            $("#footer-div").hide()
        }
    })

    $("#print_header_footer_id").on('click',function() {
        $("[name=customised_letter_head]").change()
    });

    $("[name=header_logo_location]").on('change',function(){
        if($("[name=header_logo_location]:checked").val()=='left'){
            $("#organisation_logo").show()
            $(".add-remove-class").addClass("col-md-offset-3")
            //Edits By Huz
            $(".add-remove-class").addClass("col-md-7")
            $(".add-remove-class").removeClass("col-md-6")
            //Edits By Huz Ends
            $("#left_header").hide()
            $("#right_header").show()
        } else if($("[name=header_logo_location]:checked").val()=='right'){
            $("#organisation_logo").show()
            $(".add-remove-class").addClass("col-md-offset-3")
            //Edits By Huz
            $(".add-remove-class").addClass("col-md-7")
            $(".add-remove-class").removeClass("col-md-6")
            //Edits By Huz Ends
            $("#left_header").show()
            $("#right_header").hide()
        } else if($("[name=header_logo_location]:checked").val()=='none'){
            $("#organisation_logo").hide()
            $(".add-remove-class").removeClass("col-md-offset-3")
            //Edits By Huz
            $(".add-remove-class").removeClass("col-md-7")
            $(".add-remove-class").addClass("col-md-6")
            //Edits By Huz Ends
            $("#left_header").show()
            $("#right_header").show()
        }
    })
    $("[name=header_location]").on('change',function(){
        if($("[name=header_location]:checked").val()=='left'){
            $(".new-add-remove-class").addClass("col-md-offset-2")
            $("#left").show()
            $("#right").hide()
            $("#center").hide()
        } else if($("[name=header_location]:checked").val()=='right'){
            $(".new-add-remove-class").addClass("col-md-offset-2")
            $("#left").hide()
            $("#right").show()
            $("#center").hide()
        } else if($("[name=header_location]:checked").val()=='center'){
            $(".new-add-remove-class").removeClass("col-md-offset-2")
            $("#left").hide()
            $("#right").hide()
            $("#center").show()
        }
    })


    $.validator.addClassRules("org_id_prefix", { LabelRequired: true, Minlength: 3});
    var summernote_options = {
        toolbar: [
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['fontsize', ['fontsize']],
            ['height', ['height']],
            ['fontname', ['fontname']],
        ],height: 200,
        fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','Georgia','Times New Roman','Palatino Linotype','Lucida Console','Verdana','Trebuchet MS','Helvetica','English111 Adagio BT Regular','Impact']
    };
    $('#left_header_text').summernote(summernote_options);
    jQuery('#left_text').summernote(summernote_options);
    $('#right_header_text').summernote(summernote_options);
    jQuery('#right_text').summernote(summernote_options);
    jQuery('#header_text').summernote(summernote_options);
    $('#footer_text').summernote(summernote_options);

</script>