<div class="toggle-success <%= type %>_sms_active_inactive" id="<%= type %>_sms_active<%= i%><%= j%>" data-confirm="You really want to Change SMS Settings for this Location ?" data-commit="No" data-cancel="Yes"></div>


<script>

    var togglebuttonactive = {
        on: true,
    };

    $('.facility_sms_active_inactive').on('click', function() {
        $(this).confirmModal()
    });

    var facility_count = $(".panel-group").children().length
    for (i=0;i < facility_count;i++){
        $('#'+'<%= type%>'+'_sms_active'+i).toggles(togglebuttonactive);
        for (j=0;j < $(".user"+i).length;j++){
            $('#'+'<%= type%>'+'_sms_active'+i+j).toggles(togglebuttonactive);
        }
    }

//  console.log("#"+"<%#= type %>"+"_sms_active"+"<%#= i%>"+"<%#= j%>")
$("#"+"<%= type %>"+"_sms_active"+"<%= i%>"+"<%= j%>").unbind();
  $("#"+"<%= type %>"+"_sms_active"+"<%= i%>"+"<%= j%>").on('toggle', function(e, active) {
      if (active) {
          var visit_sms_active_inactive = 'true'
      } else {;
          var visit_sms_active_inactive = 'false'
      }
      jQuery.ajax({
          type: "GET",
          url: '/organisations/set_facility_settings',
          data: {sms_active_inactive: visit_sms_active_inactive,user_id: '<%= user_id%>',facility_id: '<%= facility_id %>',type: "<%= type %>", remote: "true" },
      });
  });

</script>