<div class="modal-dialog" style="width: 56%;">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close close-org-setting-form" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Manage Organisation</h4>
      <div style="margin: 10px;">
        <button type="button" class="btn btn-light btn-xs" id="org_section_button" style="background-color: lightblue;">Org. Info</button>
        <button type="button" class="btn btn-light btn-xs" id="security_section_button">Security</button>
        <button type="button" class="btn btn-light btn-xs" id="org-status-management">Status Management</button>
      </div>
    </div>
    <%= simple_form_for @organisation, remote: true do |f| %>
      <div class="modal-body">
        <div class="org-info-section">
          <div class="row" style="margin-top: 5px;">
            <div class="col-sm-4">
              <div class="row">
                <div class="col-sm-12">
                  <strong>Organisation Name</strong><br>
                  <%= f.text_field :name, { :class => 'form-control p7_10 name', :placeholder => "Organisation Name" } %>
                </div>
                <div class="col-sm-12" style="margin-top: 5px;">
                  <strong>Tagline</strong><br>
                  <%= f.text_field :tagline, { :class => 'form-control p7_10 tagline', :placeholder => "Tagline" } %>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <!-- <b>LOGO SPACE</b> -->
              <strong>Organisation LOGO</strong><br>
              <span class="btn btn-default btn-organisation-asset" id="results" style="padding:2px;">
                <% organisation_asset = (@organisation.logo_url if @organisation.logo_url.present?) || 'set_organisation_logo.png' %>
                <% patient_asset = "set_organisation_logo.png" %>
                <%= image_tag(organisation_asset, class: "thumb", id: "organisation-picture", style: 'max-width: 250px; min-height: 100px; max-height: 100px; line-height: 20px;', onclick: "$('#upload-organisation-picture').click();")%>
              </span>
              <% if @organisation.logo.present? %>
                <%= file_field_tag "organisation[logo]", { value: "~/#{@organisation.logo.try(:file).try(:filename)}",style: "visibility:hidden", id: 'upload-organisation-picture', onchange: "readURL(this)" } %>
              <% else %>
                <%= file_field_tag "organisation[logo]", { style: "visibility:hidden", id: 'upload-organisation-picture', onchange: "readURL(this)" } %>
              <% end %>
            </div>
            <div class="col-sm-4">
              <strong>LOGO Preferences</strong><br>
              <span>Logo Size: 250px x 100px.</span><br/>
              <span>Maximum size of 1MB.</span><br/>
              <a href="" class="clear-organisation-asset" style="font-size: 10px;display: none;">Remove</a>
            </div>
          </div>
          <div class="row" style="margin-top: 5px;">
            <div class="col-sm-12">
              <strong>Supported Specialties</strong><br>
              <span style="font-style: italic;font-size: 15px"> <%= @available_specialties.join(", ") %> </span>
            </div>
          </div>
          <div class="row" style="margin-top: 15px;">
            <div class="col-sm-4">
              <strong>Country</strong><br>
              <%= f.select :country_id, options_for_select(@countries.collect {|p| [ p.name + " ("+p.abbreviation1+") ", p.id ] },@organisation.country_id), {include_blank: "Select Country"}, {class: 'form-control country', style:'max-height:34px;'} %>
            </div>
            <div class="col-sm-8">
              <strong>Supported Currencies</strong><br>
              <%= f.select :currency_ids, options_for_select(Currency.all.collect {|c| [ "#{c.code} - #{c.name}", c.id ] }, @organisation.currency_ids), {}, {class: 'form-control currency', multiple: 'multiple', style:'max-height:34px;'} %>
            </div>
          </div>
          <div class="row" style="margin-top: 5px;">
            <div class="col-sm-6">
              <strong>Address 1</strong><br>
              <%= f.text_field :address1, { :class => 'form-control p7_10 address1', :placeholder => "Address 1" } %>
            </div>
            <div class="col-sm-6">
              <strong>Address 2</strong><br>
              <%= f.text_field :address2, { :class => 'form-control p7_10 address2', :placeholder => "Address 2" } %>
            </div>
          </div>
          <div class="row cambodia_organisation">
            <div class="col-sm-3">
              <strong>Pincode</strong>
              <a class="clear-pincode" style="display:none;font-size: 10px;margin-top: -7px;">Clear</a><br>
              <%= f.text_field :pincode, { :id =>'search_pincode_cambodia', :class => 'form-control p7_10 pincode', :placeholder => "Pincode", minlength: 5, maxlength: 7, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
            </div>
            <div class="col-sm-3">
              <strong>Province/ State</strong><br>
                <%= f.text_field :state, { :id =>'search_state_cambodia', :class => 'form-control p7_10 state', :placeholder => "State" } %>
            </div>
            <div class="col-sm-3">
              <strong>District</strong><br>
              <%= f.text_field :district, { id: 'search_district_cambodia', class: 'form-control district p5_10', placeholder: "District" } %>
            </div>
            <div class="col-sm-3">
              <strong>Commune</strong><br>
              <%= f.text_field :commune, {id: 'search_commune_cambodia', class: 'form-control commune p5_10', placeholder: "Commune"} %>
            </div>
          </div>
          <div class="row vietnam_organisation">
            <div class="col-sm-4">
              <strong>City</strong>
              <a class="clear-commune" style="display:none;font-size: 10px;margin-top: -7px;">Clear</a>
              <%= f.text_field :city, { id: 'search_city_vietnam', class: 'form-control city p5_10', placeholder: "City"} %>
            </div>
            <div class="col-sm-4">
              <strong>District</strong><br>
              <%= f.text_field :district, { id: 'search_district_vietnam', class: 'form-control district p5_10', placeholder: "District" } %>
            </div>
            <div class="col-sm-4">
              <strong>Commune</strong><br>
              <%= f.text_field :commune, { id: 'search_commune_vietnam', class: 'form-control commune p5_10', placeholder: "Commune"} %>
            </div>
          </div>
          <div class="row other_organisation" style="margin-top: 5px;">
            <div class="col-sm-4">
              <strong>Pincode</strong><a class="clear-pincode" style="display:none;font-size: 10px;margin-top: -7px;">  Clear</a><br>
              <%= f.text_field :pincode, { :id =>'search_pincode_other', :class => 'form-control p7_10 pincode', :placeholder => 'Pincode', minlength: 5, maxlength: 6, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
            </div>
            <div class="col-sm-4">
              <strong>State</strong><br>
              <%= f.text_field :state, { :id =>'search_state_other', :class => 'form-control p7_10 state', :placeholder => "State" } %>
            </div>
            <div class="col-sm-4">
              <strong>City</strong><br>
              <%= f.text_field :city, { :id =>'search_city_other', :class => 'form-control p7_10 city', :placeholder => "City" } %>
            </div>
          </div>
          <div class="row" style="margin-top: 5px;">
            <div class="col-sm-4">
              <strong>Telephone</strong><br>
              <%= f.text_field :telephone, { :class => 'form-control p7_10 telephone telephone_number', :placeholder => 'Mobile Number', minlength: 6, maxlength: 10, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
            </div>
            <div class="col-sm-4">
              <strong>Fax</strong><br>
              <%= f.text_field :fax, { :class => 'form-control p7_10 fax', :placeholder => 'Fax', onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
            </div>
            <div class="col-sm-4">
              <strong>Website</strong><br>
              <%= f.text_field :website, { :class => 'form-control p7_10 website', :placeholder => 'Website' } %>
            </div>
          </div>
          <div class="row" style="margin-top: 5px;">
            <div class="col-sm-4">
              <strong>Email</strong><br>
              <%= f.text_field :email, { :class => 'form-control p7_10 email', :placeholder => "Email" } %>
            </div>
            <div class="col-sm-4">
              <strong>Pan No.</strong><br>
              <%= f.text_field :pan_no, { :class => 'form-control p7_10 pan_no', :placeholder => 'Pan No.' } %>
            </div>
            <div class="col-sm-4">
              <strong>Service Tax No.</strong><br>
              <%= f.text_field :st_no, { :class => 'form-control p7_10 st_no', :placeholder => 'Service Tax No.' } %>
            </div>
          </div>
          <div class="row" style="margin-top: 5px;">
            <div class="col-sm-4">
              <strong>Sms Contact Number</strong>
              <%= f.text_field :sms_contact_number, class: "form-control p7_10 telephone sms_number_check",  :placeholder => 'SMS Contact Number', minlength: 6, maxlength: 10, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57',value: @organisation.sms_contact_number.present? ?  @organisation.sms_contact_number : @organisation.try(:telephone) %>
            </div>
            <div class="col-sm-4">
              <!-- <strong>Whatsapp Number</strong> -->
              <%#= f.text_field :whatsapp_number, class: "form-control p7_10 telephone",  :placeholder => 'Whatsapp Number', minlength: 6, maxlength: 10, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57',value: @organisation.whatsapp_number.present? ?  @organisation.whatsapp_number : @organisation.try(:whatsapp_number), disabled:  @organisation.whatsapp_number.present? ? true : false %>
              <%#= f.select :whatsapp_number, options_for_select(@communication_numbers.map{|p| ["#{p.country_code} #{p.communication_number}", "#{p.country_code} #{p.communication_number}"] }, selected: f.object.whatsapp_number), {include_blank: "Select Number"}, {:class => "form-control", :required => true}%>
            </div>
            <div class="col-md-12">
              <p style="color: red;"> Note: The above number will be sent on the sms to patients.</p>
            </div>
          </div>
          <div class="row" style="margin-top: 5px;">
            <div class="col-sm-4">
              <strong>Enable/Disable Region</strong>
              <%= f.input :enable_region, wrapper_html: {class: 'enable_region'}, collection: [['No', false],['Yes', true]], as: :hg_radio_button, label: false, required: false, class: 'btn btn-xs btn-white button_style', style: 'margin-top:-2px;', input_html: {name: 'organisation[enable_region]' }, checked: @organisation.enable_region || false %>
            </div>
            <div class="col-sm-4">
              <strong>Enable/Disable Entity Group</strong>
              <%= f.input :enable_entity_group, wrapper_html: {class: 'enable_entity_group'}, collection: [['No', false],['Yes', true]], as: :hg_radio_button, label: false, required: false, class: 'btn btn-xs btn-white button_style', style: 'margin-top:-2px;', input_html: {name: 'organisation[enable_entity_group]'}, checked: @organisation.enable_entity_group || false %>
            </div>
            <div class="col-sm-4">
              <strong>Preferred Number Format</strong>
              <%= f.select :number_format, options_for_select([[ "12345678.99 (Default)", 0], ["12,345,678.99 (Western)", 1], ["1,23,45,678.99 (Indian)", 2]], selected: @organisation.try(:number_format)), { include_blank: false }, { class: 'form-control number_format', id: 'number_format' } %>
            </div>
          </div>
        </div>
        <div class="org-security-section">
          <div class="enable-ip-whiltelisting" style="margin-bottom: 10px;">
            <% current_status = @ip_status_val == 'true' ? 'Enabled' : 'Disabled' %>
            <% text = @ip_status_val == 'true' ? 'Disable' : 'Enable' %>
            <span>IP Whitelisting Across the Organisation (For all facilities) Current Status:&nbsp;&nbsp;</span><% if @ip_status_val == 'true' %><b style="color: green;"><% else %><b style="color: red;"><% end %><%= current_status %></b>&emsp;&emsp;
            <%= link_to organisations_edit_ip_whitelisting_path(id: @organisation.id, ip_status: "#{current_status}"), id: "#{current_status}_ip_whitelisitng", data: { remote: true, 'toggle': "modal", 'target': '#ip-whitelisting-modal' }, class: 'btn btn-xs btn-success ip-whitelisitng-button' do %><%= text %> IP Whitelisting<% end %>
          </div>
          <div class="ip-info-section" style="margin-bottom: 10px;">
            <strong style="color: red;">Please Note:</strong>
            <span>Please configure individual facility Allowed IP address from 'Edit Facility' (Step 5) Security.</span><br>
            <span>Once Enabled the users with restricted access will only be able to login through the whitelisted IP address. This is configurable.</span><br>
            <span>The only exception is users with the following roles who will continue to be able to login from any IP address:</span><br>
            <ol>
              <li><span>Admin</span></li>
              <li><span>Doctor Admin</span></li>
              <li><span>Doctor Owner</span></li>
              <li><span>Owner</span></li>
            </ol>

            <span>Active Facilities with one or more whitelisted IPs: <%= @has_ip_addres_count %></span>&emsp;&emsp;<button class="btn btn-xs btn-primary disabled"><i class="fa fa-download mr5"></i>&nbsp;Get List</button><br><br>

            <span style="color: red;">Active Facilities without whitelisted IPs: <%= @has_not_ip_addres_count %></span>&emsp;&emsp;<button class="btn btn-xs btn-primary disabled"><i class="fa fa-download mr5"></i>&nbsp;Get List</button><br>

            <strong>Suggestion:</strong><br>
            <ul>
              <li><span>You can edit individual facility and from security tab add trusted IPs for users within that facility. </span></li>
            </ul>

            <span>Non Admin Active Users with restricted across all facilities: <%= @restrcited_user_count %></span>&emsp;&emsp;<button class="btn btn-xs btn-primary disabled"><i class="fa fa-download mr5"></i>&nbsp;Get List</button><br><br>

            <span style="color: red;">Non Admin Active Users with open access across all facilities: <%= @non_restrcited_user_count %></span>&emsp;&emsp;<button class="btn btn-xs btn-primary disabled"><i class="fa fa-download mr5"></i>&nbsp;Get List</button><br>

            <strong>Suggestion:</strong><br>
            <ul>
              <li><span>You may choose to leave with open access this would mean they can access from any IP Address/Location.</span><br></li>
              <li><span>Alternatively you may choose to edit individual user and select 'Restricted Access'. Note: if you restrict access but the facility they are linked to has not added any trusted IPs this would mean that the user may not be able to loin into EHR</span></li>
            </ul>

          </div>
        </div>
        <div class="org-status-management">
          <div class="row" style="margin-top: 5px;">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12" style="margin-bottom: 10px;">
                  <strong>Enable Auto-offline on logout</strong>
                </div>
                <div class="col-md-6">
                  <div class="rdio rdio-primary">
                    <%= f.radio_button :auto_offline_on_logout, false, { id: 'auto_offline_on_logout_false' } %>
                    <label for="auto_offline_on_logout_false">No</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="rdio rdio-primary">
                    <%= f.radio_button :auto_offline_on_logout, true, {id: 'auto_offline_on_logout_true' } %>
                    <label for="auto_offline_on_logout_true">Yes</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 5px;" id="offline_user_settings">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12" style="margin-bottom: 10px;">
                  <strong>Restrict assigning patients to <span class="text-danger">Offline</span> User</strong>
                </div>
                <div class="col-md-6">
                  <div class="rdio rdio-primary">
                    <%= f.radio_button :assign_patients_to_offline_user, false, { id: 'assign_patients_to_offline_user_false' } %>
                    <label for="assign_patients_to_offline_user_false">No</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="rdio rdio-primary">
                    <%= f.radio_button :assign_patients_to_offline_user, true, {id: 'assign_patients_to_offline_user_true' } %>
                    <label for="assign_patients_to_offline_user_true">Yes</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12" style="margin-bottom: 10px;">
                  <strong>Do users need the "My Queue" to be cleared before <span class="text-danger">Offline</span>?</strong>
                </div>
                <div class="col-md-6">
                  <div class="rdio rdio-primary">
                    <%= f.radio_button :clear_my_queue_before_offline, false, { id: 'clear_my_queue_before_offline_false' } %>
                    <label for="clear_my_queue_before_offline_false">No</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="rdio rdio-primary">
                    <%= f.radio_button :clear_my_queue_before_offline, true, {id: 'clear_my_queue_before_offline_true' } %>
                    <label for="clear_my_queue_before_offline_true">Yes</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 5px;" id="ot_user_settings">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12" style="margin-bottom: 10px;">
                  <strong>Restrict assigning patients to an <span class="text-warning">OT</span> User</strong>
                </div>
                <div class="col-md-6">
                  <div class="rdio rdio-primary">
                    <%= f.radio_button :assign_patients_to_ot_user, false, { id: 'assign_patients_to_ot_user_false' } %>
                    <label for="assign_patients_to_ot_user_false">No</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="rdio rdio-primary">
                    <%= f.radio_button :assign_patients_to_ot_user, true, {id: 'assign_patients_to_ot_user_true' } %>
                    <label for="assign_patients_to_ot_user_true">Yes</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12" style="margin-bottom: 10px;">
                  <strong>Do users need the "My Queue" to be cleared before switching to <span class="text-warning">OT</span>?</strong>
                </div>
                <div class="col-md-6">
                  <div class="rdio rdio-primary">
                    <%= f.radio_button :clear_my_queue_before_ot, false, { id: 'clear_my_queue_before_ot_false' } %>
                    <label for="clear_my_queue_before_ot_false">No</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="rdio rdio-primary">
                    <%= f.radio_button :clear_my_queue_before_ot, true, {id: 'clear_my_queue_before_ot_true' } %>
                    <label for="clear_my_queue_before_ot_true">Yes</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "Save Changes", { class: 'btn btn-success save-org-setting', "data-disable-with": "Please Wait...", onclick: 'edit_organisation()', id: 'save-organisation' } %>
          <button type="button" class="btn btn-default close-org-setting-form" data-dismiss="modal">Close</button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  <%= render partial: 'edit.js.erb' %>
</script>

<script type="text/javascript">
  $(".telephone_number").on('keyup',function(e){
    var tele_no = $(this).val();
    $(".sms_number_check").val(tele_no)
  })

  $('#security_section_button').on('click', function(e) {
    e.preventDefault();
    $('.org-security-section').show()
    $('.org-info-section').hide()
    $('.org-status-management').hide()
    $('#org_section_button').css({ "background-color":"" });
    $('#org-status-management').css({ "background-color":"" });
    $(this).css({ "background-color":"lightblue" });
  })

  $('#org_section_button').on('click', function(e) {
    e.preventDefault();
    $('.org-info-section').show()
    $('.org-security-section').hide()
    $('.org-status-management').hide()
    $('#security_section_button').css({ "background-color":"" });
    $('#org-status-management').css({ "background-color":"" });
    $(this).css({ "background-color":"lightblue" });
  })

  $('#org-status-management').on('click', function(e) {
    e.preventDefault();
    $('.org-status-management').show()
    $('.org-info-section').hide()
    $('.org-security-section').hide()
    $('#org_section_button').css({ "background-color":"" });
    $('#security_section_button').css({ "background-color":"" });
    $(this).css({ "background-color":"lightblue" });
  })

  function check_tab_section() {
    $('.org-info-section').show()
    $('.org-security-section').hide()
    $('.org-status-management').hide()
  }

  function status_management_section(auto_offline_on_logout_field) {
    if (auto_offline_on_logout_field === 'true') {
      jQuery("#offline_user_settings").show();
      jQuery("#ot_user_settings").show();
    }
    else if (auto_offline_on_logout_field === 'false') {
      jQuery("#offline_user_settings").hide();
      jQuery("#ot_user_settings").hide();
      jQuery("input[name='organisation[assign_patients_to_offline_user]'][value=false]").prop('checked', true);
      jQuery("input[name='organisation[clear_my_queue_before_offline]'][value=false]").prop('checked', true);
      jQuery("input[name='organisation[assign_patients_to_ot_user]'][value=false]").prop('checked', true);
      jQuery("input[name='organisation[clear_my_queue_before_ot]'][value=false]").prop('checked', true);
    }
  }

  check_tab_section()

  var auto_offline_on_logout_field = "<%= @organisation['auto_offline_on_logout'] %>";
  status_management_section(auto_offline_on_logout_field);

  jQuery("input[name='organisation[auto_offline_on_logout]']").on('click', function () {
    var auto_offline_on_logout_field = jQuery("input[name='organisation[auto_offline_on_logout]']:checked").val();
    status_management_section(auto_offline_on_logout_field);
  });

  $('.ip-whitelisitng-button').on('click', function() {
    $('body').css('overflow','hidden')
  })
</script>

<style type="text/css">
  .ui-menu-item a.ui-state-focus {
    background-color: #929090;
    color: #fff;
  }

  .modal {
    background: rgba(0, 0, 0, 0.61);
    overflow-y: auto;
    overflow-x: auto;
  }
</style>
