<% level = @level.present? ? @level : "facility" %>

<input type="hidden" name="facilityid" id="hidden_facilityid" value="<%= facility_setting.facility_id.present? ?  facility_setting.facility_id : '' %>">
<table class="table table-striped table-bordered table-primary dataTable th-padding-12">
  <div class="row form-group">
    <thead>
    <th class="col-sm-2"> <b>Type</b> </th>
    <th class="col-sm-4"> <b>Message</b></th>
    <th class="col-sm-2"> Delivery Time</th>
    <th class="col-sm-2"> Last updated by:</th>
    <th class="col-sm-2"> <b>Action</b></th>
    </thead>
  </div>
  <tbody class="sms-settings-table-body">
  <tr class="visit-sms-setting">
    <td>
      Visit Ack
    </td>
    <td>
      <p class="refresh_msg_visit_data-<%= facility_setting["id"]%>">
        <%= facility_setting['visit_sms_text'] %>
      </p>
    </td>
    <td>
      <div class="col-md-12 refresh-visit-schedule-details-<%= facility_setting["id"]%>">
        <%= facility_setting["visit_sms_time"]&.in_time_zone(current_facility.time_zone).try(:strftime,"%I:%M %p")%> <%= facility_setting['visit_sms_schedule'] == "0" ? "Same Day" : "After "+facility_setting['visit_sms_schedule'].to_s+ " day"%>
      </div>
    </td>
    <td>
     <%= facility_setting['visit_sms_last_update'].present? ? facility_setting['visit_sms_last_update'] : "Admin" %>
    </td>
    <td>
      <span>
      <% if facility_setting['visit_sms_active_inactive'] %>
        <%= render partial: '/sms_settings/active_toggle_ui',locals: {type: "visit",i: i,j: "",facility_id: facility_id,user_id: ""} %>
      <% else %>
        <%= render partial: '/sms_settings/inactive_toggle_ui',locals: {type: "visit",i: i,j: '',facility_id: facility_id,user_id: ""} %>
      <% end %>
      </span>
      <span class="edit_icon_font">
        <a href="/sms_settings/sms_visit_modal?facility_id=<%= facility_id%>&level=<%= level %>" data-remote="true"> <i class="fa fa-edit"></i></a>
      </span>
      <span class="edit_icon_font">
         <a href="#" class="get_audit_trail" data-level="<%= level %>" data-identifier="visit_sms_setting" data-facilityid="<%= facility_setting[:facility_id] %>" data-organizationid="<%= current_user.try(:organisation_id) %>"><i class="fa fa-eye"></i></a>
      </span>
    </td>
  </tr>
  <tr class="followup-sms-setting">
    <td>
      Followup
    </td>
    <td>
      <p class="refresh_msg_followup_sms_data-<%= facility_setting["id"]%>">
        <%= facility_setting["followup_sms_text"]%>
      </p>
     <!--  <div class="form-group">
        <a href="/sms_settings/sms_followup_modal?facility_id=<%#= facility_id%>&level=<%#= level %>" data-remote="true"> <i class="fa fa-edit"></i></a>
      </div> -->
    </td>
    <td>
      <div class="col-md-12 refresh-followup-schedule-details-<%= facility_setting['id'].to_s%>">
        <%= facility_setting['followup_sms_time']&.in_time_zone(current_facility.time_zone).try(:strftime,"%I:%M %p")%> <%= facility_setting.try(:followup_sms_schedule) == "0" ? "Same Day" : facility_setting.try(:followup_sms_schedule).to_s+ " day prior"%>
        </div>
    </td>
    <td>
        <%= facility_setting['followup_sms_last_update'].present? ? facility_setting['followup_sms_last_update'] : "Admin" %>
    </td>
    <td>
      <span>
      <% if facility_setting['followup_sms_active_inactive'] %>
        <%= render partial: '/sms_settings/active_toggle_ui',locals: {type: "followup",i: i,j: "",facility_id: facility_id,user_id: ""} %>
      <% else %>
        <%= render partial: '/sms_settings/inactive_toggle_ui',locals: {type: "followup",i: i,j: "",facility_id: facility_id,user_id: ""} %>
      <% end %>
      </span>
       <span class="edit_icon_font">
        <a href="/sms_settings/sms_followup_modal?facility_id=<%= facility_id%>&level=<%= level %>" data-remote="true"> <i class="fa fa-edit"></i></a>
      </span>
      <span class="edit_icon_font">
        <a href="#" class="get_audit_trail" data-level="<%= level %>" data-identifier="followup_sms_setting" data-facilityid="<%= facility_setting[:facility_id] %>" data-organizationid="<%= current_user.try(:organisation_id) %>"><i class="fa fa-eye"></i></a>
      </span>
    </td>
  </tr>
  <tr class="birthday-sms-setting">
    <td>
      Birthday
    </td>
    <td>
     <p class="refresh-birthday-schedule-data-<%= facility_setting["id"]%>">
        <%= facility_setting["birthday_sms_text"]%>
     </p>
    </td>
    <td>
      <div class="col-md-12 refresh-birthday-schedule-details-<%= facility_setting['id'].to_s%>">
        <%= facility_setting['birthday_sms_time']&.in_time_zone(current_facility.time_zone).try(:strftime,"%I:%M %p")%> Same Day
      </div>
    </td>
    <td>
      <%= facility_setting['birthday_sms_last_update'].present? ? facility_setting['birthday_sms_last_update'] : "Admin" %>
    </td>
    <td>
      <span>
      <% if facility_setting['birthday_sms_active_inactive'] %>
        <%= render partial: '/sms_settings/active_toggle_ui',locals: {type: "birthday",i: i,j: "",facility_id: facility_id,user_id: ""} %>
      <% else %>
        <%= render partial: '/sms_settings/inactive_toggle_ui',locals: {type: "birthday",i: i,j: "",facility_id: facility_id,user_id: ""} %>
      <% end %>
      </span>
      <span class="edit_icon_font">
        <a href="/sms_settings/sms_birthday_modal?facility_id=<%= facility_id%>&level=<%= level %>" data-remote="true"> <i class="fa fa-edit"></i></a>
      </span>
      <span class="edit_icon_font">
         <a href="#" class="get_audit_trail" data-level="<%= level %>" data-identifier="birthday_sms_setting" data-facilityid="<%= facility_setting[:facility_id] %>" data-organizationid="<%= current_user.try(:organisation_id) %>"><i class="fa fa-eye"></i></a>
      </span>
    </td>
  </tr>
<!-- long over due removed not needed now but can be used later -->
  <!-- <tr class="long-overdue-sms-setting"> -->
    <!-- <td> -->
      <!-- Long Overdue -->
    <!-- </td> -->
    <!-- <td> -->
      <!-- <p class="refresh-long_overdue-data<%#= facility_setting["id"]%>"> -->
       <%#= facility_setting["long_overdue_sms_text"]%>
      <!-- </p> -->
    <!-- </td> -->
    <!-- <td> -->
      <!-- <div class="col-md-12 refresh-long_overdue-schedule-details-<%#= facility_setting['id'].to_s%>"> -->
        <%#= facility_setting['long_overdue_sms_time'].try(:strftime,"%I:%M %p")%> <%#= facility_setting.try(:long_overdue_sms_schedule) == "0" ? "Same Day" : "After "+facility_setting.try(:long_overdue_sms_schedule).to_s+ " days"%>
      <!-- </div> -->
    <!-- </td> -->
    <!-- <td> -->
      <%#= facility_setting['long_overdue_sms_last_update'].present? ? facility_setting['long_overdue_sms_last_update'] : "Admin" %>
      
    <!-- </td> -->

    <!-- <td> -->
      <!-- <span> -->
      <% #if facility_setting['long_overdue_sms_active_inactive'] %>
        <%#= render partial: '/sms_settings/active_toggle_ui',locals: {type: "long_overdue",i: i,j: "",facility_id: facility_id,user_id: ""} %>
      <% #else %>
        <%#= render partial: '/sms_settings/inactive_toggle_ui',locals: {type: "long_overdue",i: i,j: "",facility_id: facility_id,user_id: ""} %>
      <% #end %>
      <!-- </span> -->
      <!-- <span class="edit_icon_font"> -->
        <!-- <a href="/sms_settings/sms_long_overdue_modal?facility_id=<%#= facility_id%>&level=<%#= level %>" data-remote="true"> <i class="fa fa-edit"></i></a> -->
      <!-- </span> -->
      <!-- <span class="edit_icon_font"> -->
        <!-- <a href="#" class="get_audit_trail" data-level="<%#= level %>" data-identifier="long_overdue_sms_setting" data-facilityid="<%#= facility_setting[:facility_id] %>" data-organizationid="<%#= current_user.try(:organisation_id) %>"><i class="fa fa-eye"></i></a> -->
      <!-- </span> -->
    <!-- </td> -->
  <!-- </tr> -->

  <tr class="appointment-sms-setting">
    <td>
      Appointment
    </td>
    <td>
      <p class="refresh-appointment-schedule-data-<%= facility_setting["id"]%>">
        <%= facility_setting['appointment_sms_text']%>
      </p>
    </td>
    <td>
      <div class="col-md-12 refresh-appointment-schedule-details-<%=facility_setting['id'].to_s%>">
        <%= facility_setting["appointment_sms_time"]&.in_time_zone(current_facility.time_zone).try(:strftime,"%I:%M %p")%> <%= facility_setting.try(:appointment_sms_schedule) == "0" ? "Same Day" : "After "+facility_setting.try(:appointment_sms_schedule).to_s+ " day prior"%>
        <%#= facility_setting['appointment_sms_time']&.in_time_zone(current_facility.time_zone).try(:strftime,"%I:%M %p")%> <%#= facility_setting.try(:appointment_sms_schedule).to_s%> <!-- day prior -->
      </div>
      </div>
    </td>
    <td>
     <%= facility_setting['appointment_sms_last_update'].present? ? facility_setting['appointment_sms_last_update'] : "Admin" %>
    </td>
    <td>
      <span>
        <% if facility_setting['appointment_sms_active_inactive'] %>
          <%= render partial: '/sms_settings/active_toggle_ui',locals: {type: "appointment",i: i,j: "",facility_id: facility_id,user_id: ""} %>
        <% else %>
          <%= render partial: '/sms_settings/inactive_toggle_ui',locals: {type: "appointment",i: i,j: "",facility_id: facility_id,user_id: ""} %>
        <% end %>
      </span>
      <span class="edit_icon_font">
          <a href="/sms_settings/sms_appointment_modal?facility_id=<%= facility_id%>&level=<%= level %>" data-remote="true"> <i class="fa fa-edit"></i></a>
      </span>
      <span class="edit_icon_font">
        <a href="#" class="get_audit_trail" data-level="<%= level %>" data-identifier="appointment_sms_setting" data-facilityid="<%= facility_setting[:facility_id] %>" data-organizationid="<%= current_user.try(:organisation_id) %>"><i class="fa fa-eye"></i></a>
      </span>
    </td>
  </tr>
  <tr class="missed-appointment-sms-setting">
    <td>
      Missed Appointment
    </td>
    <td>
      <p class="refresh-missed-schedule-data-<%= facility_setting["id"]%>">
        <%= facility_setting['missed_sms_text']%>
      </p>
    </td>
    <td>
      <div class="col-md-12 refresh-missed-schedule-details-<%=facility_setting['id'].to_s%>">
        <%= facility_setting['missed_sms_time']&.in_time_zone(current_facility.time_zone).try(:strftime,"%I:%M %p")%> After <%= facility_setting.try(:missed_sms_schedule).to_s%> day
      </div>
    </td>
    <td>
      <%= facility_setting['missed_sms_last_update'].present? ? facility_setting['missed_sms_last_update'] : "Admin" %>
    </td>
    <td>
      <span>
        <% if facility_setting['missed_sms_active_inactive'] %>
          <%= render partial: '/sms_settings/active_toggle_ui',locals: {type: "missed",i: i,j: "",facility_id: facility_id,user_id: ""} %>
        <% else %>
          <%= render partial: '/sms_settings/inactive_toggle_ui',locals: {type: "missed",i: i,j: "",facility_id: facility_id,user_id: ""} %>
        <% end %>
      </span>
      <span class="edit_icon_font">
        <a href="/sms_settings/sms_missed_modal?facility_id=<%= facility_id%>&level=<%= level %>" data-remote="true"> <i class="fa fa-edit"></i></a>
      </span>
      <span class="edit_icon_font">
        <a href="#" class="get_audit_trail" data-level="<%= level %>" data-identifier="missed_sms_setting" data-facilityid="<%= facility_setting[:facility_id] %>" data-organizationid="<%= current_user.try(:organisation_id) %>"><i class="fa fa-eye"></i></a>
      </span>
    </td>
  </tr>
  <tr class="discharge-appointment-sms-setting">
    <td>
      Discharge
    </td>
    <td>
      <p class="refresh-discharge-schedule-data-<%= facility_setting["id"]%>">
        <%= facility_setting['discharge_sms_text']%>      
      </p>
    </td>
    <td>
      <div class="col-md-12 refresh-discharge-schedule-details-<%= facility_setting['id'].to_s%>">
        <%= facility_setting['discharge_sms_time']&.in_time_zone(current_facility.time_zone).try(:strftime,"%I:%M %p")%>
        <%= facility_setting.try(:discharge_sms_schedule) == "0" ? "Same Day" : "After "+facility_setting.try(:discharge_sms_schedule).to_s+ " days"%>
      </div>
    </td>
    <td>
      <%= facility_setting['discharge_sms_last_update'].present? ? facility_setting['discharge_sms_last_update'] : "Admin" %>  
    </td>
    <td>
      <span>
        <% if facility_setting['discharge_sms_active_inactive'] %>
            <%= render partial: '/sms_settings/active_toggle_ui',locals: {type: "discharge",i: i,j: "",facility_id: facility_id,user_id: ""} %>
        <% else %>
            <%= render partial: '/sms_settings/inactive_toggle_ui',locals: {type: "discharge",i: i,j: "",facility_id: facility_id,user_id: ""} %>
        <% end %>
      </span>
      <span class="edit_icon_font">
         <a href="/sms_settings/sms_discharge_modal?facility_id=<%= facility_id%>&level=<%= level %>" data-remote="true"> <i class="fa fa-edit"></i></a>
      </span>
      <span class="edit_icon_font">
        <a href="#" class="get_audit_trail" data-level="<%= level %>" data-identifier="discharge_sms_setting" data-facilityid="<%= facility_setting[:facility_id] %>" data-organizationid="<%= current_user.try(:organisation_id) %>"><i class="fa fa-eye"></i></a>
      </span>
    </td>
  </tr>
  <!--Don't Delete, commented out b'coz can be used later-->
  <!--<tr class="campaign-sms-setting">-->
      <!--<td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">-->
          <!--<div class="form-group">-->
              <!--<div class="input-group mb15">-->
                <!--Campaign-->
              <!--</div>-->
          <!--</div>-->
      <!--</td>-->
      <!--<td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">-->
          <!--<div class="form-group">-->
              <!--<div class="col-md-6"><a href="/doctors/sms_campaign_modal?facility_id=<%#= facility_id%>" data-remote="true"> <i class="fa fa-edit"></i></a>-->
                <!--</div>-->
            <!--<div class="col-md-6 refresh-campaign-schedule-details-<%#= facility_setting['id'].to_s%>">-->
                <%#= facility_setting.campaign_sms_time.try(:strftime,"%I:%M %p")%> <%#= facility_setting.try(:campaign_start_date).try(:strftime,"%d/%m/%y")%>
  <!--to-->
   <%#= facility_setting.try(:campaign_end_date).try(:strftime,"%d/%m/%y")%>
  <!--</div>-->
          <!--</div>-->
      <!--</td>-->

      <!--<td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">-->
          <!--<div class="form-group">-->
              <!--<div class="col-sm-7 control-label">-->
                <!--<% if facility_setting['campaign_sms_active_inactive'] %>-->
                    <!--<%= render partial: '/sms_settings/active_toggle_ui',locals: {type: "campaign",i: i,j: "",facility_id: facility_id,user_id: ""} %>-->
                  <!--<% else %>-->
                    <!--<%= render partial: '/sms_settings/inactive_toggle_ui',locals: {type: "campaign",i: i,j: "",facility_id: facility_id,user_id: ""} %>-->
                <!--<% end %>-->
              <!--</div>-->
          <!--</div>-->
      <!--</td>-->
  <!--</tr>-->
  </tbody>
</table>
<div id="audit_trail_popup" class="modal fade" role="dialog">
</div>
<script type="text/javascript">
  $(".get_audit_trail").on('click', function(e) {
    e.preventDefault();
    var level = $(this).attr('data-level');
    var identifier = $(this).attr('data-identifier');
    var facilityid = $(this).attr('data-facilityid');
    $.ajax({
      url: '/sms_settings/get_audit_trail',
      method: 'GET',
      data: {level: level, identifier: identifier, facilityid: facilityid}
    })

  });
</script>