<style type="text/css">
  .alert-sms-setting{
    padding: 2px 5px;
  }
</style>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
       <a data-toggle="collapse"  data-parent="#accordion" href="#collapseOne" class="col-md-7">
          <%#= @current_user_facility_settings[0]['facility_name'] %>
          <!-- <div class="setting-details"> -->
            <%#= render partial: '/organisations/setting_details',locals: {fac_setting: @current_user_facility_settings[0]} %>
           <!-- </div> -->
        </a>
        <% level = @level.present? ? @level : "facility" %>
        <% if level == "facility" %>
        <div class="col-md-4">
          <select class="js-example-basic-multiple pull-right select2" data-level="<%= level %>">
            <% current_user_facility_ids = current_user.facility_ids %>

            <% facility_settings = FacilitySetting.where(:facility_id.in => current_user_facility_ids) %>

            <% facility_settings.each_with_index do |facility_setting,i| %>

                <option value="<%=  facility_setting['_id'] %>" <%=
                 @facility_id.present? && facility_setting["facility_id"].to_s == @facility_id ? 'selected' : '' %>>
                  <%= facility_setting['facility_name'] %>
                </option>
            <% end %>

          </select>
        </div>
        <% end %>

    </div>
  </div>

    <div class="row  text-right">
      <div style="margin-right: 38px">
        <!-- <%#= link_to new_feedback_path(modal: 'appointment-modal'), class: "btn btn-primary", id: "url-btn", data: {remote: true, 'toggle': "modal", 'target': '#appointment-modal' } do %> Create Link<%# end %> -->
      </div>
    </div>

    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body facility-body sms_setting_refresher">
        <% if @level  == "organisation" %>
          <div class="row">
            <div class="col-md-8">
              <div class="alert alert-warning alert-sms-setting">
                Changes done will be applicable for all the facilities under the organisation
              </div>
            </div>
            <div class="col-md-4">
            <a href="<%= override_facility_sms_setting_path %>" class="btn btn-danger pull-right" data-confirm="Changes will be applicable for all the facility." data-commit="Yes" data-cancel="No" data-remote="true"> Apply this setting to all facilities</a>
            </div>
          </div>
        <% end %>
        <%= render partial: '/organisations/settings_body',locals: {facility_setting: @current_user_facility_settings,i: 0,j: 0} %>
      </div>
    </div>
  </div>
</div>

<script>
    $(".js-example-basic-multiple").select2();
    $(".js-example-basic-multiple").change(function(){

        jQuery.ajax({
            type: "GET",
            dataType: "script",
            data: {facility_setting_id: $(this).val(), level: $(this).attr("data-level")},
            url: '/sms_settings/get_facility_setting'
        });
    });
</script>
