//GLOBAL VARIABLES FOR SAVING INSTANCES OF THE SETUP PROCESS.
var WHITESPACE = " ";
//PRACTICE OR HOSPITAL DETAILS SETTINGS CONSTANTS
var SAVE_PRACTICE_HOSPITAL_DETAILS_FLAG = 0;

//OPD SETTINGS CONSTANTS
var SAVE_APPOINTMENT_TYPES_FLAG = 0;
var SAVE_WEEK_SCHEDULE_FLAG = 0;

var organisation_type = "<%= @organisation.type %>"

jQuery('#on_boarding').wizard();
jQuery('body').css("overflow","visible")

jQuery('#on_boarding').off('click').on('actionclicked.fu.wizard', function (evt, data) {
    jQuery('#facility_manage').dataTable().fnDraw()// twice loading required to show private practice location update
    if(data.step==2){
      jQuery('#facility_manage').dataTable().fnDraw()// dont remove same reason as above

        jQuery.ajax({
            type : 'get',
            url: '/facilities/get_list',
        })
    } else if(data.step==4){
         jQuery.ajax({
            type : 'get',
            url: '/users/fetch_week',
            success: function(data) {
              jQuery("#facility-filter").html(data) 
            }
            
        })
    
        if(!overlap_reporting()){
            evt.preventDefault()
        } else {
            //save_schedule(jQuery("#facility-filter").val())
        }
    } else if(data.step==5){
      $("[name='organisation[customised_letter_head]']").change()
    }
});





jQuery('#on_boarding').on('click','#add_user',function(e){
    e.preventDefault()
    var url = '/users/org_new.js?organisation_id=<%=@organisation.id.to_s%>'
    jQuery.ajax({
        type : 'get',
        url: url
    })
})

jQuery('#on_boarding').on('click','#add_facility',function(e){
    e.preventDefault()
    var url = '/facilities/new.js?parent_id=<%=@organisation.id.to_s%>'
    jQuery.ajax({
        type : 'get',
        url: url
    })
});
jQuery('#on_boarding').on('finished.fu.wizard', function (evt, data) {
    //have to submit the form
    jQuery("#left_header_text").val(jQuery("#left_header_text").code())
    jQuery("#left_text").val(jQuery("#left_header_text").code())
    jQuery("#right_header_text").val(jQuery("#right_header_text").code())
    jQuery("#right_text").val(jQuery("#right_header_text").code())
    if (organisation_type == 'individual') {
        if (SAVE_APPOINTMENT_TYPES_FLAG == 0) {
            jQuery("#appointment_types").submit()
        }
    }
    jQuery(".save_org_basic_details").submit()
    jQuery(".save_org_general_settings").submit()
    jQuery(".onboarding_complete").submit()
});

var facility_table_options = {
    "bDestroy": true,
    "sPaginationType": "full_numbers",
    "aoColumns": [
        { "sTitle": "Sr No." ,"sWidth":"5%","bSortable": false,"bSearchable":false  },
        { "sTitle": "Name" ,"sWidth":"15%","bSortable": false,"bSearchable":false  },
        { "sTitle": "Address" ,"sWidth":"20%","bSortable": false,"bSearchable":false  },
        { "sTitle": "Telephone & Fax" ,"sWidth":"15%","bSortable": false,"bSearchable":false  },
        { "sTitle": "Email" ,"sWidth":"15%","bSortable": false,"bSearchable":false  },
        { "sTitle": "Departments" ,"sWidth":"20%","bSortable": false,"bSearchable":false  },
        { "sTitle": "Actions","sWidth":"10%","bSortable": false,"bSearchable":false  }
    ],
    "bServerSide": true,
    "bAutoWidth": false,
    "sAjaxSource":"/facilities/org_fetch.json?parent_id=<%=@organisation.id.to_s%>",
    "sDom": '<"top"<"row"<"col-md-2 facility_buttons">><"mb10"><"clear">>rt<"bottom"<"clear">>',
    "oLanguage": {
        "sZeroRecords": "No Resources Found",
        "sLoadingRecords": "Please wait - loading ..."
    },
    "bPaginate": false,
    "bFilter": false
};
var manage_facilities = jQuery('#facility_manage').dataTable(facility_table_options)

var user_table_options = {
    "bDestroy": true,
    "sPaginationType": "full_numbers",
    "aoColumns": [
        { "sTitle": "SrNo." ,"sWidth":"5%","bSortable": false,"bSearchable":false},
        { "sTitle": "User" ,"sWidth":"25%","bSortable": false,"bSearchable":false},
        { "sTitle": "Email" ,"sWidth":"20%","bSortable": false,"bSearchable":false},
        { "sTitle": "Role" ,"sWidth":"10%","bSortable": false,"bSearchable":false},
        { "sTitle": "Locations" ,"sWidth":"25%","bSortable": false,"bSearchable":false},
        { "sTitle": "Actions","sWidth":"15%","bSortable": false,"bSearchable":false}
    ],
    "bServerSide": true,
    "bAutoWidth": false,
    "sAjaxSource":"/users/org_fetch.json?parent_id=<%=@organisation.id.to_s%>" ,
    "sDom": '<"top"<"row"<"col-md-2 users_buttons">><"mb10"><"clear">>rt<"bottom"<"clear">>',
    "oLanguage": {
        "sZeroRecords": "No Resources Found",
        "sLoadingRecords": "Please wait - loading ..."
    },
    "bPaginate": false,
    "bFilter": false
};
var manage_users = jQuery('#user_manage').dataTable(user_table_options)
jQuery(".users_buttons").html("<button class='btn btn-primary' id='add_user'>Add User</button>")
jQuery(".facility_buttons").html("<button class='btn btn-primary' id='add_facility'>Add Location</button>")
jQuery("#set_height_letterhead_our_on").hide()
jQuery(".note-for-yes").hide()
jQuery("[name='organisation[customised_letter_head]']").on('change',function(){
   if(jQuery("[name='organisation[customised_letter_head]']:checked").val()=='true'){
      jQuery("#set_height_letterhead_own_on").hide()
      jQuery("#set_height_letterhead_our_on").show()
      jQuery(".title_askor_on").hide()
      jQuery("#titleask-letterhead").show()
      jQuery("#logo_loc").show()
      jQuery("#header_loc").show()
      jQuery("#header_markup_help").show()
      jQuery("#header-master").show()
      jQuery("[name=header_logo_location]").change()
      jQuery("[name=header_location]").change()
      jQuery(".text_position_class").show()
      jQuery(".note-for-yes").show()
   } else {
      jQuery("#set_height_letterhead_own_on").show()
      jQuery("#set_height_letterhead_our_on").hide()
      jQuery(".title_askor_on").show()
      jQuery("#header_height").show()
      jQuery("#titleask-letterhead").hide()
      jQuery("#logo_loc").hide()
      jQuery("#header_loc").hide()
      jQuery("#left_header").hide()
      jQuery("#left").hide()
      jQuery("#right_header").hide()
      jQuery("#right").hide()
      jQuery("#header-master").hide()
      jQuery("#header_markup_help").hide()
      jQuery(".text_position_class").hide()
      jQuery(".note-for-yes").hide()
   }

})
//$("[name='organisation[customised_letter_head]']").change()
//jQuery("[name='organisation[customised_letter_head]']").trigger('change')
jQuery(".footer-div").hide()
jQuery("[name='organisation[customised_footer]']").on('change',function(){
   if(jQuery("[name='organisation[customised_footer]']:checked").val()=='true'){
      var x = $(document).find("#organisation_footer_text")
       jQuery(".footer-div").show()
   } else {
       jQuery(".footer-div").hide()

   }
})

$("[name=header_logo_location]").on('change',function(){
  if($("[name=header_logo_location]:checked").val()=='left'){
    $("#organisation_logo").show()
    $(".add-remove-class").addClass("col-md-offset-3")
    //Edits By Huz
    $(".add-remove-class").addClass("col-md-7")
    $(".add-remove-class").removeClass("col-md-6")
    //Edits By Huz Ends
    $("#left_header").hide()
    $("#right_header").show()
  } else if($("[name=header_logo_location]:checked").val()=='right'){
    $("#organisation_logo").show()
    $(".add-remove-class").addClass("col-md-offset-3")
    //Edits By Huz
    $(".add-remove-class").addClass("col-md-7")
    $(".add-remove-class").removeClass("col-md-6")
    //Edits By Huz Ends
    $("#left_header").show()
    $("#right_header").hide()
  } else if($("[name=header_logo_location]:checked").val()=='none'){
    $("#organisation_logo").hide()
    $(".add-remove-class").removeClass("col-md-offset-3")
    //Edits By Huz
    $(".add-remove-class").removeClass("col-md-7")
    $(".add-remove-class").addClass("col-md-6")
    //Edits By Huz Ends
    $("#left_header").show()
    $("#right_header").show()
  }
})
$("[name=header_location]").on('change',function(){
  if($("[name=header_location]:checked").val()=='left'){
    $(".new-add-remove-class").addClass("col-md-offset-3")
    //Edits By Huz
    $(".new-add-remove-class").addClass("col-md-7")
    $(".new-add-remove-class").removeClass("col-md-6")
    //Edits By Huz Ends
    $("#left").show()
    $("#right").hide()
    $("#center").hide()
  } else if($("[name=header_location]:checked").val()=='right'){
    $(".new-add-remove-class").addClass("col-md-offset-3")
    //Edits By Huz
    $(".new-add-remove-class").addClass("col-md-7")
    $(".new-add-remove-class").removeClass("col-md-6")
    //Edits By Huz Ends
    $("#left").hide()
    $("#right").show()
    $("#center").hide()
  } else if($("[name=header_location]:checked").val()=='center'){
    $(".new-add-remove-class").removeClass("col-md-offset-3")
    //Edits By Huz
    $(".new-add-remove-class").removeClass("col-md-7")
    $(".new-add-remove-class").addClass("col-md-6")
    //Edits By Huz Ends
    $("#left").hide()
    $("#right").hide()
    $("#center").show()
  }
})

jQuery("#full-appointment-types").on('click',"#add_appointment_type",function(e){
  SAVE_APPOINTMENT_TYPES_FLAG = 0;

  var total_rows = jQuery("#total_appointment_types_count").val();

  var single_row_html = '<div class="row form-group"><input id="appointment_types_row_count_user_id" name="appointment_types[row_count][user_id]" type="hidden" value="<%=current_user.id.to_s %>"><div class="col-md-3"><input class="form-control" id="appointment_types_row_count_label" name="appointment_types[row_count][label]" type="text"></div><div class="col-md-2"><input class="form-control" id="appointment_types_row_count_duration" min="1" name="appointment_types[row_count][duration]" type="number"></div><div class="col-md-2"><input class="form-control" id="appointment_types_row_count_background" name="appointment_types[row_count][background]" type="text" value="hg_color_value"></div><div class="col-md-2"><input id="default_row_count" name="default" type="radio" value="row_count"></div><div class="col-md-1"><span id="add_appointment_type" class="btn btn-sm btn-primary btn-square glyphicon glyphicon-plus-sign"></span></div><div class="col-md-1"><span id="remove_appointment_type_row_count" class="btn btn-sm btn-primary btn-danger glyphicon glyphicon-remove"></span></div></div>';

  single_row_html = single_row_html.replace(/row_count/g,total_rows);
  single_row_html = single_row_html.replace(/hg_color_value/g,pallette_array[Math.floor(Math.random()*pallette_array.length)]);
  jQuery("#total_appointment_types_count").val(+total_rows+1);

  jQuery(single_row_html).appendTo("#full-appointment-types");
  init_color_picker()


});
// to remove row
jQuery("#save_appointment_types").on('click', function(event){
    event.preventDefault();
    if (SAVE_APPOINTMENT_TYPES_FLAG == 0) {
        jQuery("#appointment_types").submit();
        SAVE_APPOINTMENT_TYPES_FLAG = 1;
        return false;
    } else {
        return false;
    }
});

jQuery("#save_practice_details").on('click', function(event){
    event.preventDefault();
    jQuery(".save_org_basic_details").submit();
    return false;
    
});

jQuery("#save_hospital_details").on('click', function(event){
    event.preventDefault();
    jQuery(".save_org_basic_details").submit();
    return false;
});

jQuery("#save_general_details").on('click', function(event){
    event.preventDefault();
    jQuery(".save_org_general_settings").submit();
    return false;
});

jQuery("#full-appointment-types").on('click',"[id^=remove_appointment_type_]",function(e){
  var id = e.currentTarget.id
  var index = id.replace('remove_appointment_type_', '');

  var default_id = 'default_'+index

  if ($('#' + default_id).prop('checked')){
    //message alert for appointment_types
    $('#appointment-types-alert-messages').show()
    $("#appointment-types-alert-messages").html('You cannot delete the default appointment type, select another appointment type as a default to delete.')
    jQuery('#appointment-types-alert-messages').addClass("alert alert-warning")
    $('#appointment-types-alert-messages').delay(10000).fadeOut();
  }

  else{
    if (jQuery("input[name='appointment_types[" + index + "][id]']").length) {
      appointment_list = []
      if (jQuery("#appointment_types_for_delete").val() != "") {
        appointment_list = jQuery("#appointment_types_for_delete").val().split(',')
      }
      appointment_list.push(jQuery("input[name='appointment_types[" + index + "][id]']").val())
      jQuery("#appointment_types_for_delete").val(appointment_list.join(","))
    }
    jQuery("#" + id).parent().parent().remove()
  }
})

jQuery("#full-appointment-types").on('click',"[id^=remove_appointment_type_]",function(e){
  SAVE_APPOINTMENT_TYPES_FLAG = 0;
  var id = e.currentTarget.id
  var index = id.replace('remove_appointment_type_','');

  if ($('#' + default_id).prop('checked')){
    //message alert for appointment_types
    $('#appointment-types-alert-messages').show()
    $("#appointment-types-alert-messages").html('You cannot delete the default appointment type, select another appointment type as a default to delete.')
    jQuery('#appointment-types-alert-messages').addClass("alert alert-danger")
    $('#appointment-types-alert-messages').delay(10000).fadeOut();
  }
  else {
    if (jQuery("input[name='appointment_types[" + index + "][id]']").length) {
      appointment_list = []
      if (jQuery("#appointment_types_for_delete").val() != "") {
        appointment_list = jQuery("#appointment_types_for_delete").val().split(',')
      }

      appointment_list.push(jQuery("input[name='appointment_types[" + index + "][id]']").val())
      jQuery("#appointment_types_for_delete").val(appointment_list.join(","))
    }
    jQuery("#" + id).parent().parent().remove()
  }
})
var pallette_array = [
    "rgb(0, 0, 0)", "rgb(67, 67, 67)","rgb(152, 0, 0)", "rgb(255, 0, 0)",
    "rgb(255, 153, 0)", "rgb(255, 255, 0)", "rgb(0, 255, 0)",
    "rgb(0, 255, 255)", "rgb(74, 134, 232)", "rgb(0, 0, 255)", "rgb(153, 0, 255)", "rgb(255, 0, 255)",
    "rgb(204, 65, 37)", "rgb(224, 102, 102)", "rgb(246, 178, 107)", "rgb(255, 217, 102)", "rgb(147, 196, 125)",
    "rgb(118, 165, 175)", "rgb(109, 158, 235)", "rgb(111, 168, 220)", "rgb(142, 124, 195)", "rgb(194, 123, 160)",
    "rgb(166, 28, 0)", "rgb(204, 0, 0)", "rgb(230, 145, 56)", "rgb(241, 194, 50)", "rgb(106, 168, 79)",
    "rgb(69, 129, 142)", "rgb(60, 120, 216)", "rgb(61, 133, 198)", "rgb(103, 78, 167)", "rgb(166, 77, 121)",
    "rgb(91, 15, 0)", "rgb(102, 0, 0)", "rgb(120, 63, 4)", "rgb(127, 96, 0)", "rgb(39, 78, 19)",
    "rgb(12, 52, 61)", "rgb(28, 69, 135)", "rgb(7, 55, 99)", "rgb(32, 18, 77)", "rgb(76, 17, 48)"
]
function init_color_picker() {
    jQuery("[id^=appointment_types_][id$=_background]").spectrum({
        showInput: true,
        className: "full-spectrum",
        showInitial: true,
        showPalette: true,
        showSelectionPalette: true,
        maxSelectionSize: 10,
        preferredFormat: "hex",
        localStorageKey: "spectrum.healthgraph",
        palette: pallette_array
    });
}
init_color_picker()

jQuery("#on_boarding").on("click","#edit_org_list",function(e){
    jQuery.ajax({
        type : 'get',
        url: '/'+jQuery(e.currentTarget).attr("resource")+'/'+jQuery(e.currentTarget).attr("n_id")+'/edit.js'
    })
});

jQuery("#on_boarding").on("click","#activate_org_list",function(e){
    jQuery.ajax({
        type : 'get',
        url: '/users/activate_button',
        data: {"id": jQuery(e.currentTarget).attr("n_id")}
    })
});

jQuery("#on_boarding").on("click","#remove_org_list",function(e){
    jQuery.ajax({
        method : 'delete',
        url: '/'+jQuery(e.currentTarget).attr("resource")+'/'+jQuery(e.currentTarget).attr("n_id")+'.js'
    })
});
var myCustomTemplates = {
    custom1: function(context) {
        return '<li class="dropdown">'+
        '<a class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">'+
            '<span class="current-font">Size</span>'+
            '<b class="caret"></b>'+
        '</a>'+
        '<ul class="dropdown-menu">'+
            '<li><a data-wysihtml5-command="fontSize" data-wysihtml5-command-value="fs5" tabindex="-1" href="javascript:;" unselectable="on">20</a></li>'+
        '</ul>'+
        '</li>';
    }
};
var summernote_options = {
    toolbar: [
        ['style', ['bold', 'italic', 'underline', 'clear']],
        ['fontsize', ['fontsize']],
        ['height', ['height']],
        ['fontname', ['fontname']],
    ],height: 200,
    fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','Georgia','Times New Roman','Palatino Linotype','Lucida Console','Courier New','Verdana','Trebuchet MS','Helvetica','English111 Adagio BT Regular','Impact']
};
jQuery('#left_header_text').summernote(summernote_options);
jQuery('#left_text').summernote(summernote_options);
jQuery('#right_header_text').summernote(summernote_options);
jQuery('#right_text').summernote(summernote_options);
jQuery('#header_text').summernote(summernote_options);
//jQuery('#organisation_footer_text').summernote(summernote_options);
jQuery("#organisation_footer_text").summernote(summernote_options);
jQuery(".note-editor").removeClass('panel-default').addClass('panel-success')

jQuery("#facility-filter").on('change',function(evt){

    jQuery(this).blur()
    if(!overlap_reporting()){
        jQuery(this).val(jQuery(this).attr('previous-val'))
    } else {
        //save_schedule(jQuery(this).attr('previous-val'))
        var everyday_same = false
        if(jQuery('[name=schedule_type]:checked').val()=='everyday_same'){
            everyday_same = true
        }
        jQuery.ajax({
            type : 'get',
            url: '/doctors/fetch_week_schedule',
            data: {facility_id:jQuery("#facility-filter").val(),everyday_same:everyday_same ,remote:"true"}
        })
    }

})
jQuery('#facility-filter').focus(function(e){
    jQuery(this).val()
    jQuery(this).attr('previous-val',jQuery(this).val());
});

//var ipd_facility_ward_room_table_options = {
//    "bDestroy": true,
//    "sPaginationType": "full_numbers",
//    "aoColumns": [
//        { "sTitle": "Ward Info" ,"sWidth":"15%","bSortable": false,"bSearchable":false },
//        { "sTitle": "Bed Info" ,"sWidth":"85%","bSortable": false,"bSearchable":false }
//    ],
//    "bServerSide": true,
//    "bAutoWidth": false,
//    "sAjaxSource":"/wards/facilities_wards_list.json?organisation_id=<%=@organisation.id.to_s%>" ,
//    "sDom": '<"top"<"row"<"col-md-2 add_ward_button">><"mb10"><"clear">>rt<"bottom"<"clear">>',
//    "oLanguage": {
//        "sZeroRecords": "No Ward or Room List Found",
//        "sLoadingRecords": "Please wait - loading ..."
//    },
//    "bPaginate": false,
//    "bFilter": false
//};
//var ipd_manage_facilities = jQuery('#ipd_facility_manage').dataTable(ipd_facility_ward_room_table_options)
//jQuery(".ward_beds_class").attr("style", "background-color: #f5f5f5;")
jQuery(".add_ward_button").html("<button class='btn btn-primary' id='add_ward'>Add Ward</button>")

jQuery('#on_boarding').on('click','#add_ward',function(e){
    e.preventDefault()
    var url = '/wards/new.js?organisation_id=<%=@organisation.id.to_s%>'
    jQuery.ajax({
        type : 'get',
        url: url
    })
});

jQuery("#on_boarding").on("click","#edit_facilities_wards_list",function(e){
    jQuery.ajax({
        type : 'get',
        url: '/'+jQuery(e.currentTarget).attr("resource")+'/'+jQuery(e.currentTarget).attr("n_id")+'/edit.js?organisation_id=<%=@organisation.id.to_s%>'
    })
});
jQuery("#on_boarding").on("click","#remove_facilities_wards_list",function(e){
    jQuery.ajax({
        method : 'delete',
        url: '/'+jQuery(e.currentTarget).attr("resource")+'/'+jQuery(e.currentTarget).attr("n_id")+'.js?organisation_id=<%=@organisation.id.to_s%>'
    })
});

$("#add-inventory").on('click', function(){
     $.ajax({
        method: 'get',
        url: '/organisations/add_inventory_button',
    })
});

//$('.clinical_workflow_active_inactive').on('click', function() {
//    $(this).confirmModal()
//});
//var togglebuttonactive = {
//    on: true,
//};
//var togglebuttoninactive = {
//    off: true,
//}
//$('#clinical_workflow_active').toggles({on: true});
//$('#clinical_workflow_inactive').toggles({off: true});
//
//$('.clinical_workflow_active_inactive').on('toggle', function(e, active) {
//    if (active) {
//        var clinical_workflow = 'true'
//    } else {;
//        var clinical_workflow = 'false'
//    }
//    jQuery.ajax({
//        type: "GET",
//        url: '/facilities/clinical_workflow',
//        data: {activate_clinical_workflow: clinical_workflow, remote: "true" },
//    });
//});
