<div class="row mb5" id="header_height" style="<%= @organisation.customised_letter_head ? 'display:block' :'' %>">
  <div id ="set_height_letterhead_own_on" class="col-md-12"style="background:beige;margin-bottom:15px;"><h4 style="margin: 0;padding: 10px 0;">Set the Height according to your Pre-printed Letterhead</h4></div>
  <div id ="set_height_letterhead_our_on" class="col-md-12"style="background:beige;margin-bottom:15px;"><h4 style="margin: 0;padding: 10px 0;">Set the Height according to the length of your content</h4></div>
  <div class="col-md-3"><b>Height of header</b></div>
  <div class="col-md-3"><b>Height of footer</b></div>
  <div class="col-md-3"><b>Left Margin of letter head</b></div>
  <div class="col-md-3"><b>Right Margin of letter head</b></div>
  <div class="col-md-3">
    <div class="input-group input-group-sm">
      <%= select_tag("letter_head_height", options_for_select([["2"],["3"],["4"],["5"],["6"],["7"],["8"],["9"],["10"],["11"],["12"],["13"],["14"],["15"]],3), :class => "form-control") %>
      <span class="input-group-addon">cm</span>
    </div>
  </div>
  <div class="col-md-3">
    <div class="input-group input-group-sm select-refresh">
      <%= select_tag("footer_height", options_for_select([["0"],["1"],["2"],["3"],["4"],["5"],["6"],["7"],["8"],["9"],["10"],["11"],["12"],["13"],["14"],["15"]],0), :class => "form-control") %><span class="input-group-addon">cm</span>
    </div>
  </div>
  <div class="col-md-3">
    <div class="input-group input-group-sm select-refresh">
      <%= select_tag("left_margin", options_for_select([["0"],["1"],["2"],["3"],["4"],["5"],["6"],["7"],["8"]],1), :class => "form-control") %><span class="input-group-addon">cm</span>
    </div>
  </div>
  <div class="col-md-3">
    <div class="input-group input-group-sm select-refresh">
      <%= select_tag("right_margin", options_for_select([["0"],["1"],["2"],["3"],["4"],["5"],["6"],["7"],["8"]],1), :class => "form-control") %>
      <span class="input-group-addon">cm</span>
    </div>
  </div>
  <div class="col-md-8 note-for-yes">
    <p><b style="font-size:16px;color:#333;">Note:</b> Set Height According To The Number Of Lines Your Letterhead Content Contains.<br>You Can Always Use the Preview option once you set Your Letterhead and Adjust accordingly.</p>
  </div>
  <div class="col-md-12 title_askor_on"style="background:beige;margin-bottom:10px;margin-top:15px;"><h4 style="margin: 0;padding: 10px 0;">Or Create A Letterhead</h4></div>
</div>
<div class="row mb30">
  <div class="col-md-12" id="titleask-letterhead" style="background:beige;margin-bottom:10px;display:none;"><h4 style="margin: 0;padding: 10px 0;">Letterhead</h4></div>
  <div class="col-md-2">
    <p><b>Create Letterhead?</b></p>
  </div>
  <div class="col-md-5">
    <%if (current_user.organisation.customised_letter_head == nil) %>
      <%= f.radio_button :customised_letter_head, true %> Yes
      <%= f.radio_button :customised_letter_head, false,{:checked => "checked"} %> No
    <%else%>
      <%= f.radio_button :customised_letter_head, true %> Yes
      <%= f.radio_button :customised_letter_head, false %> No
    <%end%>
  </div>
</div>

<% header_location = @organisation.customised_letter_head ? @organisation.letter_head_customisations[:header_location] : 'left' %>

<div class="row mb10" id="header_loc"style="display:none;" >
  <div class="col-md-1"></div>
  <div class="col-md-2"><b>Header Position :</b></div>
  <div class="col-md-5">
    <%= radio_button_tag :header_location,'left',header_location=='left' ? true : false %>&nbsp; Left&nbsp;&nbsp;
    <%= radio_button_tag :header_location,'center',header_location=='center' ? true : false %>&nbsp; Center&nbsp;&nbsp;
    <%= radio_button_tag :header_location,'right',header_location=='right' ? true : false %>&nbsp; Right
  </div>
</div>

<div class="row mb10" id="header-master" style="display: none;">
  <div class="col-md-1"></div>
  <div class="col-md-2"><b>Header Text :</b></div>
  <div class="col-md-7">
    <%= text_area_tag :header_text,@organisation.customised_letter_head ? @organisation.letter_head_customisations[:center] :'',{:class => 'summernote', rows: 5, :data => 'abc',:placeholder =>'abcs'} %>
  </div>
</div>


<% header_logo_location = @organisation.customised_letter_head ? @organisation.letter_head_customisations[:logo_location] : 'left' %>

<div class="row mb5" id="logo_loc" style="display:none;">
  <div class="col-md-1"></div>
  <div class="col-md-2"><b>Logo Position :</b></div>
  <div class="col-md-5">
    <%= radio_button_tag :header_logo_location,'left',header_logo_location=='left' ? true : false %>&nbsp; Left&nbsp;&nbsp;
    <%= radio_button_tag :header_logo_location,'right',header_logo_location=='right' ? true : false %>&nbsp; Right&nbsp;&nbsp;
    <%= radio_button_tag :header_logo_location,'none',header_logo_location=='none' ? true : false %>&nbsp; No Logo
  </div>
</div>

<div class="row mb10">
  <div class="col-md-1"></div>
  <div class="col-md-2 text_position_class" style="display:none;"><b>Text Position :</b></div>
  <div class="col-md-12">
    <div class="add-remove-class" id="left_header" style="<%= (@organisation.customised_letter_head && (@organisation.letter_head_customisations[:logo_location]=='right' || @organisation.letter_head_customisations[:logo_location]=='none')) ? '':'display:none' %>">
      <div class="row mb10">
        <b style="margin-left: 10px">Left:</b>

        <div class="col-md-12">
          <%= text_area_tag :left_header_text,@organisation.customised_letter_head ? @organisation.letter_head_customisations[:left] :'',{:class => 'summernote', rows: 5} %>
        </div>
      </div>
    </div>

    <div class="add-remove-class" id="right_header" style="<%= (@organisation.customised_letter_head && (@organisation.letter_head_customisations[:logo_location]=='left' || @organisation.letter_head_customisations[:logo_location]=='none')) ? '':'display:none' %>">
      <div class="row mb10">
        <b style="margin-left: 10px">Right:</b>

        <div class="col-md-12">
          <%= text_area_tag :right_header_text,@organisation.customised_letter_head ? @organisation.letter_head_customisations[:right] :'',{:class => 'summernote', rows: 5, :data => 'abc',:placeholder =>'abcs'} %>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .note-editor {
    box-shadow: 0 0 5px;
  }
</style>
<script type="text/javascript">
if ($(".add-remove-class").hasClass("col-md-offset-2")) {
  $(".add-remove-class").addClass("col-md-7")
} else {
  $(".add-remove-class").addClass("col-md-6")
}
</script>