<div class="col-md-12">
  <div class="form-group row">
    <div class="col-md-2">
      <%= f.label :logo, 'Your Logo', {:class => 'control-label'} %>
    </div>

    <div class="fileupload fileupload-exists col-md-7" id="org_logo" data-provides="fileupload" data-name="myimage">
      <input type="hidden" name="myimage" value="1" />
      <div class="fileupload-new thumbnail col-md-12" style="width: 200px; height: 100px;"></div>
      <div class="fileupload-preview fileupload-exists thumbnail col-md-6" style="max-width: 200px; min-height: 100px; max-height: 100px; line-height: 20px;">
        <%= image_tag(@organisation.logo_url.to_s )%>
      </div>
      <div class="col-md-12">
        <div>
          <span>* Preferred Image Size: 240px x 100px.Maximum size of 1MB.</span>
        </div>
        <span class="btn btn-success btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><%= f.file_field :logo %></span>
        <a href="#" class="btn btn-warning fileupload-exists" data-dismiss="fileupload">Remove</a>
      </div>
    </div>
  </div>
</div>
<br>
<div class="col-md-6" style="margin-top:25px;">
  <div class="form-group row">
    <div class="col-md-3">
      <%= f.label :name, 'Practice Name', {:class => 'control-label'} %>
    </div>
    <div class="col-md-7">
      <%= f.text_field :name,{:class => 'form-control'} %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3">
      <%= f.label :tagline, 'Tagline', {:class => 'control-label'} %>
    </div>
    <div class="col-md-7">
      <%= f.text_field :tagline,{:class => 'form-control', :placeholder => "Healthcare for all" } %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3">
      <%= f.label :address1, 'Address Line1', {:class => 'control-label'} %>
    </div>
    <div class="col-md-7">
      <%= f.text_field :address1,{:class => 'form-control', :placeholder => "Address Line1" } %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3">
      <%= f.label :address2, 'Address Line2', {:class => 'control-label'} %>
    </div>
    <div class="col-md-7">
      <%= f.text_field :address2, { :class => 'form-control', :placeholder => "Address Line2" } %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3">City & State</label>
    <div class="col-md-4" style="padding-right: 8px;">
      <%= f.text_field :city, { :class => 'form-control', :placeholder => "City" } %>
    </div>
    <div class="col-md-3" style="padding-left: 8px;">
      <%= f.text_field :state, { :class => 'form-control', :placeholder => "State" } %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-3">
      <%= f.label :pincode,'Pin Code', {:class => 'control-label'} %>
    </div>
    <div class="col-md-2">
      <%= f.text_field :pincode, {:class => 'form-control', :placeholder => "PinCode", :maxlength=>'7' } %>
    </div>
  </div>
</div>
<div class="col-md-6" style="margin-top:25px;">
  <div class="form-group row">
    <label class="col-md-3">Landline & Fax</label>
    <div class="col-md-4" style="padding-right: 8px;">
      <%= f.text_field :telephone, { :class => 'form-control', :placeholder => "+91-80-6100000" } %>
    </div>
    <div class="col-md-3" style="padding-left: 8px;">
      <%= f.text_field :fax, { :class => 'form-control', :placeholder => "+91-80-6100000" } %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-3">
      <%= f.label :email, {:class => 'control-label'} %>
    </div>
    <div class="col-md-7">
      <%= f.text_field :email,{:class => 'form-control', :placeholder => "abc@abc.com" } %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3">
      <%= f.label :website, {:class => 'control-label'} %>
    </div>
    <div class="col-md-7">
      <%= f.text_field :website,{:class => 'form-control', :placeholder => "www.abc.com"} %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3">
      <%= f.label :pan_no, 'PAN No', {:class => 'control-label'} %>
    </div>
    <div class="col-md-7">
      <%= f.text_field :pan_no, {:class => 'form-control', :placeholder => "Pan No."} %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3">
      <%= f.label :st_no, 'Service Tax', {:class => 'control-label'} %>
    </div>
    <div class="col-md-7">
      <%= f.text_field :st_no,{:class => 'form-control'} %>
    </div>
  </div>
</div>

<style type="text/css">
  input::-webkit-input-placeholder {
  color: #aaa !important;
  }
   
  input:-moz-placeholder { /* Firefox 18- */
  color: #aaa !important;  
  }
   
  input::-moz-placeholder {  /* Firefox 19+ */
  color: #aaa !important;  
  }
   
  input:-ms-input-placeholder {  
  color: #aaa !important;  
  }
</style>