<style type="text/css">
  span div.toggle-success{
   display: inline-block;
  }
  span.edit_icon_font{
   margin-left: 10px;
  }
  span.edit_icon_font a{
   font-size: 20px;
   vertical-align: text-bottom;
  }
</style>

<div class="col-md-12">
  <div class="col-md-3"> 
    SMS Content/Schedule Settings     
  </div>
  <div class="col-md-9">
    <% if @level == "organisation" %>
      Do you want to use organisation level SMS Setting
      <label>
        <input type="radio" name="use_from_org_level" value="true" class="check_radio" <%= facility_setting.try(:sms_contact_enabled).present? && facility_setting.try(:sms_contact_enabled) ? 'checked' :  '' %>> Yes
      </label>
      <label>
        <input type="radio" name="use_from_org_level" value="false" class="check_radio" <%=  facility_setting.try(:sms_contact_enabled) ? '' :  'checked' %>> No
      </label>
      <br>
    <% end %>
    Do you want to enable SMS Setting?
    <label>
      <input type="radio" name="facility_sms_feature" value="true" class="check_facility_sms" <%= facility_setting.try(:sms_feature).present? && facility_setting.try(:sms_feature) ? 'checked' :  '' %>> Yes
    </label>
    <label>
      <input type="radio" name="facility_sms_feature" value="false" class="check_facility_sms" <%=  facility_setting.try(:sms_feature) ? '' :  'checked' %>> No
    </label>
  </div>
  <div>&nbsp;</div>
  <hr>
  <% facility_id = 
    if @level == 'organisation'
      facility_setting['id']
    else
      facility_setting['facility_id']
    end
  %>
  <div class="fixed-table-body no-border">
    <%= render partial: "/organisations/facility_sms_setting_partial",locals: {facility_setting: facility_setting,i: i,facility_id: facility_id} %>
  </div>
</div>

<script type="text/javascript">
  $(".check_radio").on("change",function(){
    var sms_contact_enabled = $(this).val();

    $.ajax({
      url: '/sms_settings/change_organisation_level_sms',
      data: {sms_contact_enabled: sms_contact_enabled},
      method: "GET"
    })
  });

  $(".check_facility_sms").on("change",function(){
    var facility_sms_enabled = $(this).val();

    $.ajax({
      type: "GET",
      url: '/sms_settings/set_facility_settings',
      data: {sms_active_inactive: facility_sms_enabled, user_id: '', facility_id: '<%= facility_id %>', type: "facility", remote: "true", level: '<%=@level%>', facilityid: $("#hidden_facilityid").val() }
    })
  });
</script>
