<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Manage Organisation</h4>
    </div>
    <div class="modal-body">
      <div class="row" style="margin-top: 10px;">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-12">
                <strong>Organisation Name</strong><br>
                <%= @organisation.name %>
              </div>
              <div class="col-sm-12" style="margin-top: 10px;">
                <strong>Tagline</strong><br>
                <%= (@organisation.tagline if @organisation.tagline.present?) || "-" %>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <strong>Organisation LOGO</strong><br>
            <%if  @organisation.logo_url.present? %>
             <%= image_tag @organisation.logo_url, style: 'max-width: 250px; min-height: 100px; max-height: 100px; line-height: 20px;' %>
            <%else %>
              <%= image_tag "foss_health_logo.png", style: 'max-width: 250px; min-height: 100px; max-height: 100px; line-height: 20px;' %>
            <% end %>
          </div>
      </div>
      <div class="row" style="margin-top: 15px;">
          <div class="col-sm-4">
            <strong>Country</strong><br>
            <%= @country.try(:name) %>
          </div>
          <div class="col-sm-8">
            <strong>Supported Currencies</strong><br>
            <%= @currencies.pluck(:name).join(", ") %>
          </div>
      </div>
      <div class="row" style="margin-top: 15px;">
        <div class="col-sm-6">
          <strong>Address 1</strong><br>
          <%= @organisation.address1 %>
        </div>
        <div class="col-sm-6">
          <strong>Address 2</strong><br>
          <%= @organisation.address2 %>
        </div>
      </div>
      <div class="row" style="margin-top: 15px;">
        <% if @organisation.country_id == 'VN_254' %>
          <div class="col-sm-4">
            <strong>City</strong><br>
            <%= @organisation.city %>
          </div>
          <div class="col-sm-4">
            <strong>District</strong><br>
            <%= @organisation.district %>
          </div>
          <div class="col-sm-4">
            <strong>Commune</strong><br>
            <%= @organisation.commune %>
          </div>
        <% elsif @organisation.country_id == 'KH_039' %>
          <div class="col-sm-3">
            <strong>State</strong><br>
            <%= @organisation.state %>
          </div>
          <div class="col-sm-3">
            <strong>District</strong><br>
            <%= @organisation.district %>
          </div>
          <div class="col-sm-3">
            <strong>Commune</strong><br>
            <%= @organisation.commune %>
          </div>
          <div class="col-sm-3">
            <strong>Pincode</strong><br>
            <%= @organisation.pincode %>
          </div>
        <% else %>
          <div class="col-sm-4">
            <strong>City</strong><br>
            <%= @organisation.city %>
          </div>
          <div class="col-sm-4">
            <strong>State</strong><br>
            <%= @organisation.state %>
          </div>
          <div class="col-sm-4">
            <strong>Pincode</strong><br>
            <%= @organisation.pincode %>
          </div>
        <% end %>
      </div>
      <div class="row" style="margin-top: 15px;">
        <div class="col-sm-4">
          <strong>Telephone</strong><br>
          <%= @organisation.telephone %>
        </div>
        <div class="col-sm-4">
          <strong>Fax</strong><br>
          <%= (@organisation.fax if @organisation.fax.present?) || "-" %>
        </div>
        <div class="col-sm-4">
          <strong>Website</strong><br>
          <%= (@organisation.website if @organisation.website.present?) || "-" %>
        </div>
      </div>
      <div class="row" style="margin-top: 15px;">
        <div class="col-sm-4">
          <strong>Email</strong><br>
          <%= @organisation.email %>
        </div>
        <div class="col-sm-4">
          <strong>Pan No.</strong><br>
          <%= (@organisation.pan_no if @organisation.pan_no.present?) || "-" %>
        </div>
        <div class="col-sm-4">
          <strong>Service Tax No.</strong><br>
          <%= (@organisation.st_no if @organisation.st_no.present?) || "-" %>
        </div>
      </div>
      <div class="row" style="margin-top: 15px;">
        <div class="col-sm-4">
          <strong>SMS Contact Number</strong><br>
          <%= (@organisation.sms_contact_number if @organisation.sms_contact_number.present?) || "-" %>
        </div>
        <div class="col-sm-4">
          <!-- <strong>Whatsapp Number</strong><br> -->
          <%#= (@organisation.whatsapp_number if @organisation.whatsapp_number.present?) || "-"  %>
        </div>
      </div>
      <div class="row" style="margin-top: 15px;">
        <div class="col-sm-4">
          <strong>Enable/Disable Region</strong><br>
          <%= @organisation.enable_region.present? ? 'Enable' : 'Disable' %>
        </div>
        <div class="col-sm-4">
          <strong>Enable/Disable Entity Group</strong><br>
          <%= @organisation.enable_entity_group.present? ? 'Enable' : 'Disable' %>
        </div>
        <div class="col-sm-4">
          <strong>Number Format</strong><br>
          <% if @organisation.number_format.present? %>
            <% if @organisation.number_format == 1 %>
              <% number_format = "12,345,678.99 (Western)" %>
            <% elsif @organisation.number_format == 2 %>
              <% number_format = "1,23,45,678.99 (Indian)" %>
            <% else %>
              <% number_format = "12345678.99 (Default)" %>
            <% end %>
          <% else %>
            <% number_format = "12345678.99 (Default)" %>
          <% end %>
          <%= number_format %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= link_to edit_organisation_path(@organisation.id.to_s) , data: { remote: true }, class: "btn btn-primary", id: "edit_organisation" do %><i class="fa fa-edit"></i> Edit<% end %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

  </div>
</div>
