<%@facilities.each do |facility|%>

    <div class="col-md-3">

      <div class="panel panel-success panel-alt widget-messaging">
        <div class="panel-heading" style="padding: 10px !important;">
          <a data-remote="true" class="btn btn-default btn-xs pull-right edit-inventory" href="/organisations/edit_inventory?fac_id=<%= facility.id%>"><i class="fa fa-edit"></i></a>
          <h4 class="panel-title"><%= facility.name %> <p colspan="2" style="font-size: 10px;">Inventory Departments</p></h4>

        </div>

        <div class="panel-body">

              <table class="table-bordered" width="100%" height="100%" style="margin-top:5px;">

                <thead style="margin-top:10px;">
                <% inventory_dept =  Inventory::Department.where(facility_id: facility.id)%>
                   <%# inventory_name = inventory_dept.pluck(:name)%>
                <%ophthal_counter=1%>
                <%ortho_counter=1%>
                <%opthal_dept_count = inventory_dept.where(department_id: /^309988001/).count%>
                <%ortho_dept_count = inventory_dept.where(department_id: /^309989009/).count%>
                <% inventory_dept.each do |dept|%>
                <%dept_id_array = dept.department_id.split('_') %>
                    <%if dept_id_array[0]=='309988001'%>

                    <tr>
                      <%if ophthal_counter==1 %>
                      <th rowspan="<%=opthal_dept_count%>" style="width: 50%; text-align: center"> Ophthalmology</th>
                          <%ophthal_counter=0%>
                      <%end%>

                    <th style="text-align: center"><%=dept.display_name%> </th></tr>

                    <%elsif dept_id_array[0]=='309989009'%>
                        <tr><%if ortho_counter==1 %>
                              <th rowspan="<%=ortho_dept_count%>" style="width: 50%; text-align: center"> Orthopedics
                              </th>
                              <%ortho_counter=0%>
                          <%end%>
                        <th style="text-align: center"><%=dept.display_name%> </th></tr>

                    <%else%>
                        <tr>
                          <th colspan="2" style="text-align:center;"><%= dept.display_name%></th>
                        </tr>
                    <%end%>
                    <%end%>
                </thead>
                <tbody>

                    <tr>
                      <td style="font-size:12px; padding-left:10px;"></td>
                      <td style="font-size:12px; padding-left:10px;"></td>
                    </tr>

                </tbody>

              </table>

        </div><!-- panel-body -->
        <div class="panel-footer" style="display: none;">
          <div class="display-beds-4-room" id="display-beds-4-room">
          </div>
        </div>
      </div>

    </div>
<%end%>


<style type="text/css">
    .edit-ward {
        opacity: 1 !important;
        color: #333 !important;
        padding: 3px 5px 0px 6px;
    }
</style>