<%= stylesheet_link_tag  "summernote-bs3", media: "all", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag  "bootstrap-fileupload.min", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "bootstrap-fileupload.min", "data-turbolinks-track" => true %>
<%= javascript_include_tag "toggles.min", "data-turbolinks-track" => true %>
<style type="text/css">
  html {
    background-color: #fff !important;
  }
</style>
<div class="headerbar">
  <div class="logopanel col-md-1">
    <%= render "loggedin/logo" %>
  </div>
  <span class="headermenu alert alert-danger" style="position: absolute;margin-left: 15%;">Do not refresh the browser during Onboarding process or you will loose the information.</span>
<span class="header-right">
  <ul class="headermenu">
    <li>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-user-md" style="font-size: 20px;opacity: 1;"></i>
          Dr. <%= current_user.fullname %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-usermenu pull-right" style=" z-index: 9999;">
          <li><%= link_to users_logout_path do %><i class="glyphicon glyphicon-log-out"></i>Log Out <% end %></li>
        </ul>
      </div>
    </li>
    <li>
      <!-- dummy column to fix the css issue -->
    </li>
  </ul>
</span><!-- header-right -->
</div><!-- headerbar -->

<div class="fuelux">

    <div class="wizard" id="on_boarding">

        <% if @organisation.type == 'individual' %>

            <ul class="steps" style="margin-left: 0;">
                <li data-step="1" class="active"><span class="badge badge-info">1</span>PRACTICE DETAILS<span class="chevron"></span></li>
                <li data-step="2" ><span class="badge">2</span>LOCATIONS<span class="chevron"></span></li>
                <li data-step="3" ><span class="badge">3</span>USERS<span class="chevron"></span></li>
                <li data-step="4" ><span class="badge">4</span>OPD<span class="chevron"></span></li>
                <li data-step="5" ><span class="badge">5</span>LETTERHEAD<span class="chevron"></span></li>
            </ul>
            <div class="actions">
                <button type="button" class="btn btn-default btn-prev" disabled="disabled"><span class="glyphicon glyphicon-arrow-left"></span>Prev</button>
                <button type="button" class="btn btn-default btn-next" data-last="Setup Complete">Next<span class="glyphicon glyphicon-arrow-right"></span></button>
            </div>
            <div class="step-content" style="overflow: auto">

                <div class="step-pane alert" data-step="1">

                  <div class="row">

                        <div class="pull-left">
                          <div class="alert alert-info" id="save-practice-details-alert-messages" style="padding-top:5px;padding-bottom:5px;padding-left:3px;padding-right:3px;">
                            Please click <strong>"Save Practice Details"</strong> button after adding/editing. <span class="glyphicon glyphicon-arrow-right"></span>
                          </div>
                        </div>

                        <div class="pull-right">
                          <button id="save_practice_details" class="btn btn-success">Save Practice Details</button>
                        </div>

                  </div>

                  <%= form_for @organisation,:validate => true,url: organisations_save_org_basic_details_path,:method => 'post',:remote => true,:multipart => true,:html => { :class => 'form form-horizontal save_org_basic_details',:id => 'save_org_basic_details' }  do |org| %>
                      <%= org.hidden_field :id %>
                      <%= org.hidden_field :type %>
                      <%= org.hidden_field :type_id %>

                      <div class="row">

                        <div class="col-md-12">
                          <%= render 'organisation_practice_basic_details', f: org %>
                        </div>

                        <div class="col-md-6">

                          <% render 'organisation_tax_details', f: org %>
                        </div>

                      </div>

                  <% end %>
                </div>
                <div class="step-pane alert" data-step="2">
                      <table id="facility_manage" class="table table-success dataTable table-striped table-bordered" >
                      </table>
                </div>
                <div class="step-pane alert" data-step="3">
                      <table id="user_manage" class="table table-success dataTable table-striped table-bordered">
                      </table>
                </div>
                <div class="step-pane alert" data-step="4">
                    <div class="row">

                    <div class="col-md-2">

                      <ul class="nav nav-pills nav-stacked">
                        <!--<li class="active"><a href="#opdtimings" data-toggle="tab">OPD Timings</a></li>-->
                        <li class="active"><a href="#appointmenttypes" data-toggle="tab">Appointment Types</a></li>
                      </ul>

                    </div>

                    <div class="col-md-10">

                      <div class="tab-content">

                        <!--<div class="tab-pane active" id="opdtimings">-->

                          <!--<div class="col-md-12">-->

                              <!--<div class="pull-right"> &lt;!&ndash; Action Buttons starts &ndash;&gt;-->
                                <!--<button id="save_opd_timings" class="btn btn-success">Save OPD Timings</button>-->
                              <!--</div>-->

                              <!--<div class="row form-group">-->
                                <!--<div class="col-md-3">-->
                                  <!--<%= select_tag("facility-filter", options_for_select(current_user.facilities.map { |facility| [facility.name, facility.id] }), :class => "form-control") %>-->
                                <!--</div>-->
                                <!--<div class="col-md-6 alert alert-info" id="schedule-opd-alert-messages" style="padding-top:5px;padding-bottom:5px;padding-left:3px;padding-right:3px;">-->
                                  <!--Please click <strong>"Save OPD Timings"</strong> button after adding/editing. <span class="glyphicon glyphicon-arrow-right"></span>-->
                                <!--</div>-->
                              <!--</div>-->
                              <!--<div class="row form-group">-->
                                <!--<input type="hidden" name="schedule_type" value="everyday_different">-->
                              <!--</div>-->
                              <!--<div class="row day-schedule">-->
                                <!--<%= render 'settings/doctors/fetch_week_schedule' %>-->
                              <!--</div>-->

                          <!--</div>-->

                        <!--</div>-->

                        <div class="tab-pane active" id="appointmenttypes">

                          <div class="row" id="appointment-types-alert-messages"></div>

                          <div class="col-md-12">
                            <div class="col-md-6 alert alert-info" id="appointment-types-alert-messages" style="padding-top:5px;padding-bottom:5px;padding-left:3px;padding-right:3px;">
                              Please click <strong>"Save Appointment Type"</strong> button after adding/editing. <span class="glyphicon glyphicon-arrow-right"></span>
                            </div>

                              <div class="col-md-2 col-md-offset-4"> <!-- Action Buttons starts -->
                                    <!--<button id="add_appointment_type" class="btn btn-primary btn-square ">Add Appointment Type</button>-->
                                    <button id="save_appointment_types" class="btn btn-success">Save Appointment Type</button>
                              </div>
                            <div class="appointment_types_onboarding_refresh">
                              <%= render 'appointment_types_onboarding_partial' %>
                            </div>

                          </div>

                        </div>

                      </div>

                    </div>

                  </div>
                </div>
                
                <div class="step-pane alert" data-step="5">

                  <div class="row">
                    <div class="col-md-5">
                      <div class="alert alert-info" id="save-general-details-alert-messages" style="padding-top:5px;padding-bottom:5px;padding-left:3px;padding-right:3px;">
                        Please click <strong>"Save Letterhead Settings"</strong> button after adding/editing. <span class="glyphicon glyphicon-arrow-right"></span>
                      </div>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-2 refresh_org_preview_button">
                      <%if (current_user.organisation.customised_letter_head != nil) %>
                       <%= render 'refresh_org_preview_button' %>
                      <%end%>
                    </div>
                    <div class="col-md-2">
                      <button id="save_general_details" class="btn btn-success">Save Letterhead Settings</button>
                    </div>
                  </div>

                  <%= form_for @organisation,url: organisations_save_org_general_settings_path,:method => 'post',:remote => true,:html => { :class => 'save_org_general_settings form form-horizontal',:id => 'save_org_general_settings' } do |org| %>
                      <%= org.hidden_field :id %>

                      <div class="form-group row">
                        <div class="col-md-2">
                          <h4><%= org.label :identifier_prefix, 'Record Prefix', {:class => 'control-label'} %></h4>
                        </div>
                        <div class="col-md-2">
                          <%= org.text_field :identifier_prefix, { :class => 'form-control', :maxlength=>'3' } %>
                        </div>

                        <span class="well"><strong>*Note: This prefix will be appended in all of your Patient/Admission ID. eg. ABC-###-100001</strong></span>

                        <!--<span class="fa fa-question-circle btn btn-xs btn-primary" role="button" data-toggle="popover" data-trigger="focus" title="Prefix for Your Record" data-content="And here's some amazing content. It's very engaging. Right?"></span>-->
                      </div>

                      <hr>

                      <div class="row">
                        <div class="col-md-12">
                          <h3>Letterhead Customisation</h3>
                        </div>
                        <div class="col-md-12" style="box-shadow:0 0 1px;">

                          <%= render 'organisation_letterhead', f: org %>
                          <div class="row mb10">
                            <div class="col-md-12"style="background:beige;margin-bottom:5px;"><h4 style="margin: 0;padding: 10px 0;">Footer</h4></div>
                          </div>
                          <div class="row mb30">
                            <div class="col-md-2">
                              <p><b>Create Footer?</b></p>
                            </div>
                            <div class="col-md-5">
                              <%= org.radio_button :customised_footer, true %> Yes
                              <%= org.radio_button :customised_footer, false,{:checked => "checked"} %> No
                            </div>
                          </div>
                          <div class="row footer-div">
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                              <b>Footer Text :</b>
                            </div>

                            <div class="col-md-7">
                              <%= org.text_area :footer_text ,class: 'summernote',:style => 'display:none'%>
                            </div>
                          </div>
                        </div>
                      </div>
                  <% end %>

                  <%= form_for @organisation,url: organisations_onboarding_complete_path,:method => 'post',:html => { :class => 'onboarding_complete form form-horizontal',:id => 'onboarding_complete',:style => 'display: none;' } do |org| %>

                      <%= org.hidden_field :id %>

                  <% end %>

                </div>
            </div>

        <% elsif @organisation.type == 'hospital' %>

            <ul class="steps" style="margin-left: 0;">
              <li data-step="1" class="active"><span class="badge badge-info">1</span>HOSPITAL DETAILS<span class="chevron"></span></li>
              <li data-step="2" ><span class="badge">2</span>LOCATIONS<span class="chevron"></span></li>
              <li data-step="3" ><span class="badge">3</span>INVENTORY<span class="chevron"></span></li>
              <li data-step="4" ><span class="badge">4</span>USERS<span class="chevron"></span></li>
              <li data-step="5" ><span class="badge">5</span>IPD<span class="chevron"></span></li>
              <li data-step="6" ><span class="badge">6</span>LETTERHEAD<span class="chevron"></span></li>
            </ul>
            <div class="actions">
              <button type="button" class="btn btn-default btn-prev" disabled="disabled"><span class="glyphicon glyphicon-arrow-left"></span>Prev</button>
              <button type="button" class="btn btn-default btn-next" data-last="Setup Complete">Next<span class="glyphicon glyphicon-arrow-right"></span></button>
            </div>
            <div class="step-content" style="overflow: auto">

              <div class="step-pane alert" data-step="1">

                <div class="row">

                  <div class="pull-left">
                    <div class="alert alert-info" id="save-hospital-details-alert-messages" style="padding-top:5px;padding-bottom:5px;padding-left:3px;padding-right:3px;">
                      Please click <strong>"Save Hospital Details"</strong> button after adding/editing. <span class="glyphicon glyphicon-arrow-right"></span>
                    </div>
                  </div>

                  <div class="pull-right">
                    <button id="save_hospital_details" class="btn btn-success">Save Hospital Details</button>
                  </div>

                </div>

                <%= form_for @organisation,:validate => true,url: organisations_save_org_basic_details_path,:method => 'post',:remote => true,:html => { :class => 'form form-horizontal save_org_basic_details',:id => 'save_org_basic_details' }  do |org| %>
                    <%= org.hidden_field :id %>
                    <%= org.hidden_field :type %>
                    <%= org.hidden_field :type_id %>

                    <div class="row">
                      <div class="col-md-12">
                        <%= render 'organisation_hospital_basic_details', f: org %>
                      </div>

                      <div class="col-md-5">
                        <% render 'organisation_tax_details', f: org %>
                      </div>

                    </div>
                <% end %>

              </div>
              <div class="step-pane alert" data-step="2">
                <table id="facility_manage" class="table table-success dataTable table-striped table-bordered">
                </table>
              </div>


              <div class="step-pane alert" data-step="3">
                <%= render 'org_inventory_onboarding'%>
              </div>


              <div class="step-pane alert" data-step="4">
                <table id="user_manage" class="table table-success dataTable table-striped table-bordered">
                </table>
              </div>
              <div class="step-pane alert" data-step="5">

                    <div class="add_ward_button mb10">

                    </div>

                    <div class="row display-wards-rooms-beds" id="display-wards-rooms-beds">

                      <%= render 'wards/partials/show_wards_rooms_beds' %>

                    </div>

              </div>
              <div class="step-pane alert" data-step="6">

                <div class="row">

                  <div class="pull-left">
                    <div class="alert alert-info" id="save-general-details-alert-messages" style="padding-top:5px;padding-bottom:5px;padding-left:3px;padding-right:3px;">
                      Please click <strong>"Save Letterhead Settings"</strong> button after adding/editing. <span class="glyphicon glyphicon-arrow-right"></span>
                    </div>
                  </div>
                  <div class="col-md-offset-4 col-md-2 refresh_org_preview_button">
                    <%if (current_user.organisation.customised_letter_head != nil) %>
                        <%= render 'refresh_org_preview_button' %>
                    <%end%>
                  </div>
                  <div class="pull-right">
                    <button id="save_general_details" class="btn btn-success">Save Letterhead Settings</button>
                  </div>


                </div>

                <%= form_for @organisation,url: organisations_save_org_general_settings_path,:method => 'post',:remote => true,:html => { :class => 'save_org_general_settings form form-horizontal',:id => 'save_org_general_settings' } do |org| %>
                    <%= org.hidden_field :id %>

                    <div class="form-group row">
                      <div class="col-md-2">
                        <h4><%= org.label :identifier_prefix, 'Record Prefix', {:class => 'control-label'} %></h4>
                      </div>
                      <div class="col-md-2">
                        <%= org.text_field :identifier_prefix, { :class => 'form-control', :maxlength=>'3' } %>
                      </div>

                      <span class="well"><strong>*Note: This prefix will be appended in all of your Patient/Admission ID. eg. ABC-###-100001</strong></span>

                      <!--<span class="fa fa-question-circle btn btn-xs btn-primary" role="button" data-toggle="popover" data-trigger="focus" title="Prefix for Your Record" data-content="And here's some amazing content. It's very engaging. Right?"></span>-->
                    </div>
                    <hr>

                    <div class="row">
                      <div class="col-md-12">
                        <h3>Letterhead Customisation</h3>
                      </div>
                      <div class="col-md-12" style="box-shadow:0 0 1px;">

                        <%= render 'organisation_letterhead', f: org %>
                        <div class="row mb10">
                          <div class="col-md-12"style="background:beige;margin-bottom:5px;"><h4 style="margin: 0;padding: 10px 0;">Footer</h4></div>
                        </div>
                        <div class="row mb30">
                          <div class="col-md-2">
                            <p><b>Create Footer?</b></p>
                          </div>
                          <div class="col-md-5">
                            <%= org.radio_button :customised_footer, true %> Yes
                            <%= org.radio_button :customised_footer, false,{:checked => "checked"} %> No
                          </div>
                        </div>
                        <div class="row footer-div">
                          <div class="col-md-1"></div>
                          <div class="col-md-2">
                            <b>Footer Text :</b>
                          </div>

                          <div class="col-md-7">
                            <%= org.text_area :footer_text ,class: 'summernote',:style => 'display:none'%>
                          </div>
                        </div>
                      </div>
                    </div>
                <% end %>
                <%= form_for @organisation,url: organisations_onboarding_complete_path,:method => 'post',:html => { :class => 'onboarding_complete form form-horizontal',:id => 'onboarding_complete',:style => 'display: none;' } do |org| %>

                    <%= org.hidden_field :id %>

                <% end %>

              </div>
            </div>

        <% end %>

    </div>

</div>
<script>
  jQuery(document).ready(function(){
      <%= render partial: 'organisations/onboarding_init.js' %>
      <%= render partial: 'settings/doctors/manage_week_schedule.js' %>
  })
</script>
