<!-- Not in Use -->
<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="container-fluid main-sign-up">
  <div class="row">
    <div class="col-sm-4">
      <%= link_to users_login_path do %><%= image_tag "healthgraph_full.png", class: "foss_login" %><% end %>
    </div>
    <div class="col-sm-7 text-right text-forgot-password-div">
      <%= link_to password_resets_recover_path do %><b class="forgot-password-link">I forgot my password</b><% end %>
    </div>
    <div class="col-sm-1 text-right fa-forgot-password-div">
      <%= link_to password_resets_recover_path do %><i class="fa fa-question-circle forgot-password-circle"></i><% end %>
    </div>
  </div>
  <%= form_for @organisation, url: organisations_signup_save_path, validate: true do |org| %>
    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <div class="account-wall row">
          <div class="col-md-4 col-md-offset-4">
          <%= image_tag "foss_health_logo.png", class: "foss_square" %>
          </div>
          <div class="col-md-8 col-md-offset-2">
            <div class="row">
              <div class="col-md-4 text-center">
                <b>Organisation Type</b>
              </div>
              <div class="col-md-4">
                <div class="rdio rdio-primary rdio-organisation-type">
                  <%= org.radio_button :type, 'individual||385435006', {:checked => true, :validate => true ,:id => 'organisation_type_individual' } %><label for='organisation_type_individual'>&emsp;Private Practice</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="rdio rdio-primary rdio-organisation-type">
                  <%= org.radio_button :type, 'hospital||22232009', {:validate=> true, :id => 'organisation_type_hopsital' } %><label for='organisation_type_hopsital'>&emsp;Hospital</label>
                </div>
              </div>
            </div>
          </div>
          <%= org.fields_for :users do |user| %>
            <div class="col-md-12 text-center" style="margin-top: 15px;">
              <div class="row">
                <div class="col-md-4 col-md-offset-1">
                  <%= org.text_field :name, class: 'form-control organisation_name', placeholder: 'Practice or Hospital Name' %>
                </div>
                <div class="col-md-4 col-md-offset-2">
                  <%= user.text_field :email, class: 'form-control email', placeholder: 'Email', validate: true %>
                </div>
              </div>
            </div>
            <div class="col-md-12 text-center" style="margin-top: 15px;">
              <div class="row">
                <div class="col-md-4 col-md-offset-1">
                  <%= user.text_field :fullname, class: 'form-control fullname', placeholder: 'Name' %>
                </div>
                <div class="col-md-4 col-md-offset-2">
                  <%= user.text_field :alternate_email, class: 'form-control alternate_email', placeholder: 'Alternate Email' %>
                </div>
              </div>
            </div>
            <div class="col-md-12 text-center" style="margin-top: 15px;">
              <div class="row">
                <div class="col-md-4 col-md-offset-1">
                  <%= user.text_field :username, class: 'form-control username', placeholder: 'Username' %>
                </div>
                <div class="col-md-4 col-md-offset-2">
                  <%= user.select :department_id, Department.where(:is_launched => true).collect {|d| [ d.name, d.id ] }, { include_blank: 'Department' }, class: 'form-control department'  %>
                </div>
              </div>
            </div>
          <% end %>
          <div class="col-md-12" style="margin-top: 15px;">
            <div class="row">
              <div class="col-md-12">
                <p class="text-center">
                  <span class="ckbox ckbox-primary ckbox-organisation-terms">
                    <!-- validate: false because taking validation from Jquery Validator -->
                    <%= org.check_box :terms, class: "organisation-terms", id: "organisation-terms", value: "1", validate: false %>
                    <label for="organisation-terms"><span>&nbsp;I Accept <a href='http://www.healthgraph.in/terms.html' target="_blank" style="color:#3cc1ff"> Terms</a> and <a href="http://www.healthgraph.in/privacy_policy.html" target="_blank" style="color:#3cc1ff">Privacy Policy</a></span></label>
                  </span>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center" id='organisation_terms_error'></div>
            </div>
          </div>
          <div class="col-md-12 text-center" style="margin-top: 15px;">
            <div class="row">
              <div class="col-md-4 col-md-offset-1">
                <%= org.text_field :acceptancy_name , { class: "form-control acceptancy_name", placeholder: "Acceptee's name" } %>
              </div>
              <div class="col-md-4 col-md-offset-2">
                <div class="inner-addon left-addon">
                  <i class="fa fa-clock-o icon-addon"></i>
                  <%= org.text_field :acceptance_date  ,{ class: 'form-control acceptance_date', readonly: true, value: Time.current.strftime("%I:%M %p, %d %b %Y") } %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-md-offset-2 text-center" style="margin-top: 20px;">
            <%= org.submit 'SIGN UP', class: 'btn btn-info', style: 'background: #2ebdfc;padding: 10px 50px;', onclick: "new_organisation()" %>
          </div>
          <div class="col-md-4 col-md-offset-4 text-center" style="margin-top: 25px;">
            Already a Member?
          </div>
          <div class="col-md-4 col-md-offset-4 text-center">
            <%= link_to users_login_path, class: 'signin-link' do %><b class="ssignin-link">Sign In</b><% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <footer>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center" style="font-size: 12px;">
        <b style="color: #fbf9fd;"><a href='http://www.healthgraph.in/terms.html' target="_blank"> Terms &emsp;|&emsp;</a><a href="http://www.healthgraph.in/privacy_policy.html" target="_blank">Privacy</a></b><br>
        <b><i class="fa fa-copyright"></i> <%= Date.current.year %>. All Rights Reserved. HealthGraph India</b>
      </div>
    </div>
  </footer>
</div>

<style type="text/css">
  .signin {
    background: #fff !important;
  }

  .main-sign-up a:hover {
    text-decoration: none;
  }

  .foss_login {
    margin-top: 25px;
    margin-left: 16px;
  }

  .forgot-password-link {
    font-size: 18px;
    color: #aaa !important;
  }

  .forgot-password-circle {
    font-size: 36px;
    color: #aaa !important;
  }

  .text-forgot-password-div {
    margin-top: 27px;
    padding: 10px 0px;
    width: 60%;
  }

  .fa-forgot-password-div {
    margin-top: 30px;
    width: 4%;
  }

  .organisation_name, .email, .fullname, .alternate_email, .username, .department, .acceptancy_name, .acceptance_date {
    box-shadow: 2px 2px 0px #eee;
    border : none;
  }

  .signin-link {
    font-size: 11px;
    color: #aaa !important;
  }

  .signin-link:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 35px;
    border-bottom: 2px solid #2ebdfc;
    transition: .5s;
  }

  .signin-link:hover::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 75px;
    border-bottom: 2px solid #2ebdfc;
  }

  .account-wall {
    margin: 7% 30px;
    padding: 45px 0px 0px 0px;
    background-color: #fbf9fd;
  }

  .foss_circle {
    margin: -125px auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .foss_square {
    margin: -75px auto 10px;
    display: block;
  }

  .acceptance_date {
    background: #fff !important;
    cursor: pointer !important;
  }

  footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    background: #fff;
  }

  .rdio-organisation-type input[type="radio"]:checked + label:before {
    border-color: #3cc1ff;
  }

  .rdio-organisation-type input[type="radio"]:checked + label:after {
    border-color: #3cc1ff;
    background-color: #3cc1ff;
  }

  .ckbox-organisation-terms input[type="checkbox"]:checked + label:before {
    border-color: #3cc1ff;
    background-color: #fff;
    margin-left: 2.5px;
  }

  .ckbox-organisation-terms input[type="checkbox"]:checked + label::after {
    color: #3cc1ff;
  }

  /*Code for Inner Icons*/
  .inner-addon {
    position: relative;
  }

  /* style icon */
  .inner-addon .icon-addon {
    position: absolute;
    padding: 12px;
    pointer-events: none;
  }

  /* align icon */
  .left-addon .icon-addon {
    left:  0px;
  }

  /* add padding  */
  .left-addon input  {
    padding-left:  30px;
  }

  .main-sign-up select {
    height: 37px;
  }
</style>


<script>

  function new_organisation() {
    $('#new_organisation').validate({
      rules: {
        "organisation[terms]": {
          required: true
        }
      },
      messages: {
        "organisation[terms]": {
          required: "Terms should be Checked."
        }
      },
      errorPlacement: function (error, element) {
        name = $(element).attr('name')
        if(name == "organisation[terms]"){
          error.appendTo($("#organisation_terms_error"));
        } else {
          error.insertAfter(element);
        }
      }
    });
  }
  new_organisation()

  $.validator.addMethod("acceptancy_name", $.validator.methods.required, "Acceptee's name required");
  $.validator.addClassRules("acceptancy_name", { acceptancy_name: true});

  jQuery(document).ready(function(){
    jQuery('body').css("overflow","visible")
    jQuery('input[name="organisation[type]"]').on("change",function(){
      if(jQuery('input[name="organisation[type]"]:checked').val() == 'individual'){
        $("#organisation_name").hide()
        $("#organisation_users_attributes_0_licence_number").show()
        $("#organisation_users_attributes_0_department_id").show()
        $("#organisation_users_attributes_0_facilities_attributes_0_name").show()
      } else if(jQuery('input[name="organisation[type]"]:checked').val() == 'organisation'){
        $("#organisation_users_attributes_0_licence_number").hide()
        $("#organisation_name").show()
        $("#organisation_users_attributes_0_department_id").hide()
        $("#organisation_users_attributes_0_facilities_attributes_0_name").hide()
      }
    })
    jQuery('#organisation_users_attributes_0_dob').datepicker({
      dateFormat: "dd/mm/yy",
      changeMonth: true,
      changeYear: true,
      yearRange: "c-120:c",
      onClose: function(){
        //workaround to trigger javascript validation
        $(this).focusout();
      }
    })
  })

</script>

<style type="text/css">
  input.error, select.error {
    border-color: #b94a48;
    background-image: none;
  }
  input.valid, select.valid {
    border-color: #468847;
    background-image: none;
  }
</style>