<% if opdrecord.has_diagnosislist? || (opdrecord.diagnosiscomments != "" && opdrecord.diagnosiscomments != "<br>") %>
  <div class="diagnosis mb5" id="diagnosis">

    <% diagnosis_counter = opdrecord.diagnosislist.size %>
    <% if diagnosis_counter > 0 %>
        <div class="row">
          <strong>DIAGNOSIS :</strong>
          <div class="summary-line-border"></div>
        </div>
        <div class="row">
          <% opdrecord.diagnosislist.each_with_index do |elem, i|  %>
              <% diagnosis_output = "" %>
              <% diagnosisname = "" %>

              <% if elem.created_from == "migration"%>
                  <% diagnosisname =  "#{elem.diagnosisname.capitalize}" %>
                  <% diagnosis_output = "#{diagnosisname}" %>

                  <div class="col-md-12">
                    <strong><%= i+1%>. </strong><%= diagnosis_output %>

                    <%if elem.diagnosis_comment.present?%>
                        <li><%= elem.diagnosis_comment %></li>
                    <% end %>
                  </div>

              <%else%>
                  <% diagnosisname =  "#{elem.diagnosisoriginalname.capitalize}" %>
                  <% diagnosis_output = "#{diagnosisname}" %>
                  <% icd_type = elem.icd_type %>
                  <% icd_code = elem.icddiagnosiscode %>
                  <% if icd_type == 'IcdDiagnosis' %>
                    <% diagnosiscode = '- ' +  icd_code.upcase.insert(3, '.') %>
                  <%else%>
                    <% diagnosiscode = '' %>
                  <% end %>

                  <div class="col-md-12">
                    <strong><%= i+1%>. </strong><%= diagnosis_output %><strong> <%= diagnosiscode %></strong>

                    <%if elem.diagnosis_comment.present?%>
                        <li><%= elem.diagnosis_comment %></li>
                    <% end %>
                  </div>
              <%end%>
          <% end %>
        </div>
    <% end %>

    <% if opdrecord.diagnosis_text.present? && opdrecord.diagnosis_text != "<br>" %>
      <div class="row">
        <strong style="<%= heading_font_size %>">DIAGNOSIS</strong>
        <div class="summary-line-border"></div>
      </div>

      <div class="row">
        <li><%= opdrecord.diagnosis_text.html_safe() %></li>
      </div>
    <% end %>

    <div class="row">
      <% if (opdrecord.diagnosiscomments.present? && opdrecord.diagnosiscomments != "" && opdrecord.diagnosiscomments != "<br>") %>
        <span style="white-space: pre-line">Comment - <%= opdrecord.diagnosiscomments.html_safe() %></span>
      <% end %>
    </div>
  </div>
<% end %>

<% if @mail_job == false %>
  <% if params[:action] == "print_opd_record" %>
    <style type="text/css">
      .diagnosis * {
        font-size: 10px;
      }
    </style>
  <% end %>
<% end %>