<div class="modal-dialog" style="width:85%;">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><%= @creditor %></h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12 text-right">
          <%= link_to statistics_print_path(flag: 'creditor_detail_list', creditor: params[:creditor], received_from: @received_from, checked_fields: '', format: 'pdf'), class: 'btn btn-primary btn-xs pull-right', target: '_blank' do %><i class="fa fa-print"></i> Print<% end %>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">Patient</th>
            <th class="text-center">Number</th>
            <th class="text-center">Patient ID</th>
            <th class="text-center">Receipt ID</th>
            <th class="text-center">Receipt Date</th>
            <th class="text-right">Receipt Amount</th>
            <th class="text-right">Amount Pending</th>
            <th class="text-right">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @payment_pending.order(created_at: :desc).each do |payment_pending| %>
            <tr>
              <td class="text-center"><b style="color:#000;"><%= payment_pending.invoice.patient.fullname %></b></td>
              <td class="text-center"><b style="color:#000;"><%= payment_pending.invoice.patient.mobilenumber %></b></td>
              <td class="text-center"><b style="color:#000;"><%= payment_pending.invoice.patient.patient_identifier_id %><%= "<br>".html_safe + (payment_pending.invoice.patient.patient_mrn if payment_pending.invoice.patient.patient_mrn.present?) %></b></td>
              <td class="text-center"><b style="color:#000;"><%= payment_pending.invoice.bill_number %></b></td>
              <td class="text-center"><b style="color:#000;"><%= payment_pending.created_at.strftime('%d/%m/%Y') %></b></td>
              <td class="text-right"><b style="color:#000;"><%= payment_pending.invoice.net_amount %></b></td>
              <td class="text-right"><b style="color:#000;"><%= payment_pending.amount %></b></td>
              <td class="text-right">
                <% invoice_type = payment_pending.invoice._type.split("::")[1].downcase %>
                <% url = 'invoice_' + invoice_type + '_path(id: payment_pending.invoice.id.to_s)' %>
                <%= link_to eval(url), :data => {:remote => true} do %>View Receipt<% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

</div>