<div class="container-fluid" style="margin-top:5px;">
  <% if params[:back] %>
    <div class="daily_reports row" style="margin: 5px 0 0 15px;">
      <button class="btn btn-darkblue btn-xs reports-back-btn"><i class="fa fa-arrow-left"></i> Back</button>
    </div>
  <% end %>
  <% if @filter == "All" %>
    <%= render partial: "statistics/data_files/all_data.html.erb" %>
  <% end %>
  <% if @filter == "OPD" %>
    <%= render partial: "statistics/data_files/opd_data_daily.html.erb" %>
  <% end %>

  <% if @filter == "IPD" %>
    <%= render partial: "statistics/data_files/ipd_data_daily.html.erb" %>
  <% end %>

  <% if @filter == "Inventory" %>
    <%= render partial: "statistics/data_files/inventory_data_daily.html.erb" %>
  <% end %>

  <% if @filter == "Other" %>
    <%= render partial: "statistics/data_files/other_data_daily.html.erb" %>
  <% end %>
</div>

<style type="text/css">
  .btn-tabular, .btn-graphical {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
  }
  .btn-tabular:hover, .btn-graphical:hover {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
  }
  .daily_reports {
      /*max-height: 500px;*/
  }

  .title_opd, .title_ipd{
    background: #354670; color:#fff;
    padding:10px;
    margin: 0px -10px 5px;
  }

  .data_tbody {
    display:block;
    overflow:auto;
  }
  .data_thead tr, .data_tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
  }
  .data_thead {
    width: calc( 100% - 1em );/* scrollbar is average 1em/16px width, remove it from thead width */
  }
  .data_table {
    width:100%;
  }
</style>

<script type="text/javascript">
  $(".reports-back-btn").on('click', function(){
    $("#reports_filters").find(".nav-active").find('a').trigger('click')
  })
</script>