<div class="container-fluid">
  <% if @filter == "All" %>
    <%= render partial: "statistics/data_files/all_data.html.erb" %>
  <% end %>
  <% if @filter == "OPD" %>
    <%= render partial: "statistics/data_files/opd_data.html.erb" %>
  <% end %>

  <% if @filter == "IPD" %>
    <%= render partial: "statistics/data_files/ipd_data.html.erb" %>
  <% end %>

  <% if @filter == "Inventory" %>
    <%= render partial: "statistics/data_files/inventory_data.html.erb" %>
  <% end %>

  <% if @filter == "Other" %>
    <%= render partial: "statistics/data_files/other_data.html.erb" %>
  <% end %>
</div>

<style type="text/css">
  .btn-tabular, .btn-graphical {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
  }
  .btn-tabular:hover, .btn-graphical:hover {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
  }
  .daily_reports {
      /*max-height: 500px;*/
  }

  .title_opd, .title_ipd{
    background: #354670; color:#fff;
    padding:10px;
    margin: 0px -10px 5px;
  }

  .data_tbody {
    display:block;
    overflow:auto;
  }
  .data_thead tr, .data_tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
  }
  .data_thead {
    width: calc( 100% - 1em );/* scrollbar is average 1em/16px width, remove it from thead width */
  }
  .data_table {
    width:100%;
  }
</style>
<script type="text/javascript">
  $(".btn-awesome").on('click', function(){
    var start_date = $(this).attr("data-date-form")
    var end_date = $(this).attr("data-date-form")
    if($("#reports_filters").find(".nav-active").length > 0){
      var filter = $("#reports_filters").find(".nav-active").find("a").html()
    } else {
      var filter = $("#reports_filters").find(".active").find("a").html()
    }
    var currency_id = $("#current_currency_id").attr("data-currency_id")
    if(start_date == "" && end_date == ""){
      notice = new PNotify({
        title: 'Warning',
        text: "Start Date & End Date Both Cant Be Blank",
        icon: 'fa fa-ban',
        type: 'warning'
      });
      notice.get().click(function(){
        notice.remove()
      });
    } else {
      $.ajax({
        url: '/statistics/data_content',
        dataType: 'html',
        data: {
          start_date: start_date,
          end_date: end_date,
          filter: filter,
          currency_id: currency_id,
          back: true
        },
        success: function(res){
          $("#statistics_area").html("")
          $("#statistics_area").html(res)
        },
        error: function(err){
          alert("Something went wrong. Please try again.");
        }
      });
    }
  })
</script>