<div class="col-sm-12 main-view-statistics" style="height: 40px; padding-left: 0;background-color:#eee;">
  <div id="toolbar_area">
    <div id="toolbar">
      <nav class="navbar navbar-secondary navbar-inverse navbar-fixed-top" style="margin-top: 50px; left: auto; right: auto; width: 100%;z-index:100;">
        <div class="container-fluid">
          <div class="navbar-header col-sm-2">
            <span class="navbar-brand">
              <a href="javascript:;" data-filter='All' class="statistics_parent_link_main all" style="color:#fff;text-decoration: none;">Finance Reports</a>&emsp;
              <a href="javascript:;" class="statistics_parent_link_refresh" style="color:#fff;text-decoration: none;font-size:12px;"><i class="fa fa-refresh"></i></a>
            </span>
          </div>
          <div class="col-sm-3">
            <ul class="nav navbar-nav navbar-left" style="margin-left:10px;">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle hover_focus" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:#fff;"><span id="current_time_period" data-time-period="today">Today</span>&nbsp;&nbsp;<span class="fa fa-caret-down"></span></a>
                <ul class="dropdown-menu">
                  <li><a class="toolbar_time" href="#" data-time-period="today">Today</a></li>
                  <li><a class="toolbar_time" href="#" data-time-period="week">Week</a></li>
                  <li><a class="toolbar_time" href="#" data-time-period="month">Month</a></li>
                  <li><a class="toolbar_time" href="#" data-time-period="3months">3 Months</a></li>
                  <li><a class="toolbar_time" href="#" data-time-period="6months">6 Months</a></li>
                  <li><a class="toolbar_time" href="#" data-time-period="1year">1 Year</a></li>
                  <li><a class="toolbar_time" href="#" data-time-period="beginning">From Beginning</a></li>
                </ul>
              </li>
            </ul>
            <% if @facility_currencies.count > 1 %>
              <ul class="nav navbar-nav navbar-left" style="margin-left:10px;">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle hover_focus" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:#fff;"><span id="current_currency_id" data-currency_id="<%= current_facility.currency_id %>"><%= @currency.name %> - <%= current_facility.currency_symbol %></span>&nbsp;&nbsp;<span class="fa fa-caret-down"></span></a>
                  <ul class="dropdown-menu" id="main-currency-list" style="overflow-y: scroll;max-height: 520px;">
                    <!-- <li><input type="text" name="search_currency" id='search-currency' placeholder="Search Currency" class="form-control p5_10"></li> -->
                    <!-- <hr style="margin:5px;" /> -->
                    <% @facility_currencies.each do |currency| %>
                      <li class="main-currency-list"><a class="toolbar_currency" href="#" data-currency_id="<%= currency.id %>"><span class="currency_name"><%= currency.name %> - <%= currency.symbol %></span></a></li>
                    <% end %>
                  </ul>
                </li>
              </ul>
            <% else %>
              <ul class="nav navbar-nav navbar-left" style="margin-left:10px;">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle hover_focus" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:#fff;"><span id="current_currency_id" data-currency_id="<%= current_facility.currency_id %>"><%= @currency.name %> - <%= current_facility.currency_symbol %></span></a>
                </li>
              </ul>
            <% end %>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="col-sm-5">
            <ul class="nav navbar-nav navbar-right">
              <li class="">
                <div class="col-sm-4">
                  <input type="text" id="report-to-datepicker" value="" class="form-control report-to-datepicker" style="margin-top: 3%;cursor:pointer;background-color:#fff;" placeholder="Start Date" readonly="readonly">
                </div>
                <div class="col-sm-1 text-center">
                  <i class="fa fa-arrows-alt-h" style="margin-top:15px;color:#fff;font-size: 20px;"></i>
                </div>
                <div class="col-sm-4">
                  <input type="text" id="report-from-datepicker" value="" class="form-control report-from-datepicker" style="margin-top: 3%;cursor:pointer;background-color:#fff;" placeholder="End Date" readonly="readonly">
                </div>
                <div class="col-sm-2">
                  <div class="btn btn-primary btn-sm" id="btnReportRange" style="margin-top:7px;"><i class="fa fa-search"></i> &nbsp;Search</div>
                </div>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
  </div>
</div>
<div id="statistics_area" style="background: #eee; background: #eee;padding: 10px;margin-top: 22px;margin-left: -14px;">
  <%= render partial: 'statistics/data_files/all_data.html.erb' %>
</div>

<style type="text/css">
  /*CSS Overwritten*/
  .hover_focus, .hover_focus:hover, .hover_focus:focus {
    background-color: transparent !important;
  }

  .panel-stat .stat {
    max-width: 100% !important;
  }

  .navbar-default{
    border-bottom: 3px solid #FF8735;
  }
  .sidebar_area{
    padding: 0;
    background-color: rgb(250, 250, 250);
  }
  .mainpanel{
    min-height: auto;
    padding: 0;
    background-color: grey;
    height: calc(100% - 50px);
    position: absolute;
    width: 100%;

  }
  /*From here*/
  .contentpanel{
    padding: 0;
    background-color: transparent;
    height: 100%;
    /*position: fixed;*/
    width: 100%;
  }

  .navbar-secondary{
    background: #354670;
    /*background-color: #CAAC6F';*/
    color: white;
    border-color: transparent;
  }

  .navbar-inverse .navbar-nav > li > a{
    color: white;
  }
  .nav-pills > li > a{
    padding: 5px 5px 5px 15px;
    color: #565656;
    border-radius: 0; 
  }
  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    background-color: #5A6387;
    color: #fff;
    /*padding: 5px 5px 5px 15px;*/
  }

  .navbar-btn{
    padding: 5px !important;
    margin-right: 5px;
    background-color: transparent;
  }

  .navbar-btn-calender{
    padding: 5px 10px !important;
    margin-right: 5px;
    background-color: transparent;
  }

  .navbar-btn-hover:hover, .navbar-btn-hover:focus{
    background-color: transparent;
  }

  .sidebar_area_content{
    margin-top: 50px;
    height: calc(100% - 50px);
  }
  .sidebar_pane{
    maring-top: 5px;
    height: 100%;
  }

  #sidebar_doctors{
    /*background-color: #C7B07B;*/

    background-color: #fbfbfb;
    color: #565656;
    /*background: #f6f1d3;*/
  /*background: -moz-linear-gradient(left, #f6f1d3 0%, #a2d2af 100%);
  background: -webkit-linear-gradient(left, #f6f1d3 0%,#a2d2af 100%);
  background: linear-gradient(to right, #f6f1d3 0%,#a2d2af 100%);*/
    /*background-color: rgb(41, 62, 107);
    -webkit-box-shadow: 6px 0px 4px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 0px 4px -2px rgba(0,0,0,0.75);
    box-shadow: 6px 0px 4px -2px rgba(0,0,0,0.75);*/
    /*overflow-y: scroll;*/
    -webkit-box-shadow: inset 0px 2px 2px -2px rgba(0,0,0,0.63);
    -moz-box-shadow: inset 0px 2px 2px -2px rgba(0,0,0,0.63);
    box-shadow: inset 0px 2px 2px -2px rgba(0,0,0,0.63);
  }
  /*#sidebar_doctors a {
    color: #777;
  }

  #sidebar_doctors li:active a{
    color: #fff;
  }
  */

  .sidebar-appointment-filter span{
    padding-right: 8px;
  }
  #sidebar_summary{
    overflow-y: auto;
    background-color: #efefef;
    -webkit-box-shadow: inset 3px 2px 5px -2px rgba(0,0,0,0.43);
    -moz-box-shadow: inset 3px 2px 5px -2px rgba(0,0,0,0.43);
    box-shadow: inset 3px 2px 5px -2px rgba(0,0,0,0.43);
    padding-top: 10px;
  }
  .summary_ot, .summary_admission, .summary_ward{
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
  }

  #sidebar_summary .tab-content{
    padding: 0;
  }
  .main_calendar{
    padding: 0 0 10px 0;
    /*-webkit-box-shadow: inset 3px 0px 5px -1px rgba(0,0,0,0.63);
    -moz-box-shadow: inset 3px 0px 5px -1px rgba(0,0,0,0.63);
    box-shadow: inset 3px 0px 5px -1px rgba(0,0,0,0.63);*/
    background: #fff;
  /*background: -moz-radial-gradient(center, ellipse cover, #f4f3ed 0%, #c4d1c7 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #f4f3ed 0%,#c4d1c7 100%);
  background: radial-gradient(ellipse at center, #f4f3ed 0%,#c4d1c7 100%);*/

  }

  .fc-toolbar{
    background: #354670;
    padding: 10px;
    margin: 0;
    height: 50px;
    margin-left: 0;
  /*  -webkit-box-shadow: inset 3px 0px 5px -1px rgba(0,0,0,0.63);
    -moz-box-shadow: inset 3px 0px 5px -1px rgba(0,0,0,0.63);
    box-shadow: inset 3px 0px 5px -1px rgba(0,0,0,0.63);*/
  }

  .fc-toolbar h2{
    font-size: 18px;
    margin-top: 6px;
    vertical-align: middle;
    color: #efefef;
  }

  .fc-button{
    border-radius: 3px !important;
    background: transparent none repeat scroll 0% 0% !important;
    border: 1px solid #FF8735;
    color: white !important;
    text-shadow: none;
    text-transform: capitalize;
  }
  .fc-today-button{
    /*border: 1px solid #9AD47D;*/
  }

  .fc-button-group > .fc-button.fc-corner-left{
    border-radius: 3px 0 0 3px !important;
  }

  .fc-button-group > .fc-button.fc-corner-right{
    border-radius: 0 3px 3px 0 !important;
  }
  .fc-prev-button, .fc-next-button{
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
    color: white;
  }
  .fc-view-container{
    padding: 10px;
    -webkit-box-shadow: inset 3px 2px 5px -2px rgba(0,0,0,0.43);
    -moz-box-shadow: inset 3px 2px 5px -2px rgba(0,0,0,0.43);
    box-shadow: inset 3px 2px 5px -2px rgba(0,0,0,0.43);
    background: #fff;
  }

  .btn-tabular, .btn-graphical {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
  }
  .btn-tabular:hover, .btn-graphical:hover {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
  }
  .daily_reports {
      /*max-height: 500px;*/
  }

  .title_opd, .title_ipd{
    background: #354670; color:#fff;
    padding:10px;
    margin: 0px -10px 5px;
  }

  .data_tbody {
    display:block;
    overflow:auto;
  }
  .data_thead tr, .data_tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
  }
  .data_thead {
    width: calc( 100% - 1em );/* scrollbar is average 1em/16px width, remove it from thead width */
  }
  .data_table {
    width:100%;
  }
</style>

<script type="text/javascript">
    // To Prevent Dropdown from Closing On Input Focus
    $(document).on('click', '#search-currency', function (e) {
      e.stopPropagation();
    });

    // To empty Dropdown Search once a currency is selected
    $(document).on('click', '.toolbar_currency', function (e) {
      $("#search-currency").val("").trigger('keyup')
    });

    // JS SEARCH
    $("#search-currency").on('keyup', function(){
      currency_list = $(".main-currency-list");
      search = $(this).val().toUpperCase().trim();
      for (var i = currency_list.length - 1; i >= 0; i--) {
        currency_name = $(currency_list[i]).find(".currency_name")
        if ($(currency_name).html().toUpperCase().indexOf(search) > -1) {
          $(currency_list[i]).css("display", "");
        } else {
          $(currency_list[i]).css("display", "None");
        }
      }
    })
  </script>