<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">Edit Custom Investigation</h4>
    </div>

     <%= form_for(@investigation, :html=>{:id=>'edit_custom_ophthal_investigation'}, :remote=>true) do |f| %>
      <div class="modal-body form-bordered">
        <div class="row form-group">
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <% @region_array = [ ["Cornea", "cornea"], ["Retina", "retina"], ["Glaucoma", "glaucoma"], ["Cataract", "cataract"], ["Neuro-Ophthal & Squint", "squint"] ] %>
            <%= select_tag "custom_ophthal_investigation[region]", options_for_select( @region_array.map{ |procedure| [procedure[0], procedure[1]] }, @investigation.region ), {:class => 'form-control ', :multiple => true, 'data-placeholder' => 'Choose region',:include_blank=> false, :style => 'height:200px'} %>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-6">
            <div class="col-sm-10" style="margin-top: 42px;">
              <b>Investigation name :</b>
              <%= f.text_field :investigation_name , {class: 'form-control'}  %>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <%= f.submit "Update",{:class => 'btn btn-success', :onclick => 'validate_ophthal_form()'}%>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  validate_ophthal_form()
   function validate_ophthal_form() {
    $("#edit_custom_ophthal_investigation").validate({
      rules: {
        "custom_ophthal_investigation[investigation_name]": {
          remote:"/custom_ophthal_investigations/inv_name_validation?saved_inv_name=<%= @investigation.investigation_name %>",
          required: true,
          minlength: 3
        },
        "custom_ophthal_investigation[region][]": {
          required: true
        }
      },
      messages: {
        "custom_ophthal_investigation[investigation_name]": {
          required: "Please fill the Investigation name.",
          remote: "Name already exist, type another"
        },
        "custom_ophthal_investigation[region][]": {
          required: "Please select atleast one region."
        }
      }
    });

  }
  delete_row()
  function delete_row(){
    $(".delete-row").on('click', function(e){
      e.preventDefault();
      $(this).closest('.ophthal-investigation-row').remove()
    })
  }

</script>

