<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">Custom Ophthal Investigation</h4>
    </div>

    <%= form_for(@custom_ophthal_investigation, :remote=>true) do |f| %>
      <div class="modal-body form-bordered clearfix custom_investigation_fields" style="padding-bottom: 51px;padding-top: 35px;">
        <input type="hidden" name="custom_ophthal_investigation[organisation_id]" value="<%= current_user.organisation_id %>">
        <input type="hidden" name="custom_ophthal_investigation[facility_id]" value="<%= current_facility.id %>">
        
        <div class="custom_investigation_section" id="custom_investigation_section">
          <div class="row" id="new_inv_row">
            <div class="col-md-6">
              <div class="col-sm-4"></div>
              <div class="col-sm-6">
                <% @region_array = [ ["Cornea", "cornea"], ["Retina", "retina"], ["Glaucoma", "glaucoma"], ["Cataract", "cataract"], ["Neuro-Ophthal & Squint", "squint"] ] %>
                <%= select_tag "custom_ophthal_investigation[region]",options_for_select( @region_array.map{ |procedure| [procedure[0], procedure[1]] } ), {:class => 'form-control ', :multiple => true, 'data-placeholder' => 'Choose region', include_blank: false, style: 'height:200px'} %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="col-sm-10" style="margin-top: 42px;">
                <b>Investigation name :</b>
                <%= text_field_tag "custom_ophthal_investigation[investigation_name]",nil ,class: 'form-control', placeholder: 'Enter new Investigation name'  %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <%= submit_tag "Save", class: "save-btn btn btn-success", remote: true, 'data-disable-with' => "Please wait..", :onclick => 'validate_ophthal_form()' %>
        <button aria-hidden="true" class="btn btn-info signup-patient-form-close" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  
  function validate_ophthal_form() {
    $("#new_custom_ophthal_investigation").validate({
      rules: {
        "custom_ophthal_investigation[investigation_name]": {
          remote:"/custom_ophthal_investigations/inv_name_validation",
          required: true,
          minlength: 3
        },
        "custom_ophthal_investigation[region][]": {
          required: true
        },
      },
      messages: {
        "custom_ophthal_investigation[investigation_name]": {
          required: "Please fill the Investigation name.",
          remote: "Name already exist, type another"
        },
        "custom_ophthal_investigation[region][]": {
          required: "Please select atleast one region."
        }
      }
    });
  }
  validate_ophthal_form()

</script>

