<!--style_start-->
  <style type="text/css" media="all">

    .table thead > tr > th,
    .table tbody > tr > th,
    .table tfoot > tr > th,
    .table thead > tr > td,
    .table tbody > tr > td,
    .table tfoot > tr > td {
      border-color: #999!important;
    }

    .table-bordered th,.table-bordered td{border:1px solid #999!important}

    .table>tbody+tbody {
      border-top: 2px solid #999;
    }

    .print-template {
      font-family: Open Sans;
      font-size: 10pt;
      color: #333333;
      background:  #ffffff ;
    }
    .pcs-header-content {
      font-size: 8pt;
      color: #333333;
      background-color: #ffffff;
    }
    .pcs-template-body {
      padding: 0 0.400000in 0 0.550000in;
    }
    .pcs-template-footer {
      height: 0.700000in;
      font-size: 6pt;
      color: #aaaaaa;
      padding: 0 0.400000in 0 0.550000in;
      background-color: #ffffff;
    }
    .pcs-footer-content {
      word-wrap: break-word;
      color: #aaaaaa;
      border-top: 1px solid #eeeeee;
    }
    .pcs-label {
      color: #000000;
    }
    .pcs-entity-title {
      font-size: 9pt;
      color: #333333;
    }
    .pcs-orgname {
      font-size: 9pt;
      color: #333333;
    }
    .pcs-customer-name {
      font-size: 9pt;
      color: #333333;
    }
    .pcs-itemtable-header {
      font-size: 8pt;
      color: #333333;
      background-color: #eff0f1;
    }
    .pcs-taxtable-header {
      font-size: 8pt;
      color: #000;
      background-color: #f5f4f3;
    }
    .pcs-item-row {
      font-size: 8pt;
      border-bottom: 1px solid #eeeeee;
      background-color: #ffffff;
      color: #333333;
    }
    .pcs-item-desc {
      color: #8e8e8e;
      font-size: 8pt;
    }
    .pcs-balance {
      background-color: #ffffff;
      font-size: 9pt;
      color: #333333;
    }
    .pcs-totals {
      font-size: 9pt;
      color: #333333;
      background-color: #ffffff;
    }
    .pcs-notes {
      font-size: 8pt;
    }
    .pcs-terms {
      font-size: 8pt;
    }
    .pcs-header-first {
      background-color: #ffffff;
      font-size: 8pt;
      color: #333333;
      height: auto;
    }
    .pcs-status {
      color: '';
      font-size: 15pt;
      border: 3px solid ;
      padding: 3px 8px;
    }
    .pcs-template-header {
      padding: 0 0.400000in 0 0.550000in;
      height: 0.700000in;
    }
    .pcs-entity-title {
      text-align: center;
      position: relative;
      text-transform: uppercase;
    }
    .pcs-entity-title:before {
      content: "";
      display: block;
      border-top: 1px solid #eeeeee;
      width: 100%;
      height: 1pt;
      position: absolute;
      top: 50%;
      font-size: 1pt;
    }
    .pcs-entity-title span {
      background: #ffffff;
      padding: 0 20px;
      position: relative;
    }
    .pcs-itemtable {
      border: 1px solid #eeeeee;
    }
    .pcs-itemtable-header {
      border-right: 1px solid #eeeeee;
      border-bottom: 1px solid #eeeeee;
    }
    .pcs-item-row {
      border-right: 1px solid #eeeeee;
      border-bottom: none;
    }
    .pcs-bdr-top {
      border-top: 1px solid #eeeeee;
    }
    .pcs-bdr-bottom {
      border-bottom: 1px solid #eeeeee;
    }
    .pcs-table, .pcs-table th, .pcs-table td {
      border: 1px solid #eeeeee;
    }
    .medication_heading {
      margin-top: 6px;
      font-size: 11px;
    }
  </style>
<!--style_end-->
  <% @speciality_folder_name = specalityfoldername %>
  <% @opdrecord = opdrecord %>
  <% @appointment = appointment %>
  <% @patient = patient %>
  <% @templatetype = templatetype %>
  <% @flag = 'print'%>
  <% @case_sheet = case_sheet %>
  <% @current_facility = current_facility %>
  <% @mail_job = true %>
<div class="print-template" style="font-family: '<%= UsersSetting.find_by(user_id: current_user.id).font_style %>';">

  <div class="row">
    <div class="col-md-12">
    <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/opd_summary_form_patientinfo.html", locals: {current_facility: current_facility,  patient: @patient, appointment: @appointment, opdrecord: @opdrecord} %>

      <div class="pcs-entity-title"><span>Opd Summary</span></div>

      <% if @templatetype == "freeform" %>
        <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/opd_summary_form_freeform.html", locals: {current_facility: current_facility,  specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>
          <!-- Avoid Print Button -->
        <div class="mb5" >
          <% if @opdrecord.treatmentmedication.length > 0 %>
            <div class="row">
            <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/opd_summary_form_medication.html.erb", locals: {current_facility: current_facility, patient: @patient, appointment: @appointment,specalityfoldername: @speciality_folder_name,opdrecord: @opdrecord, templatetype: @templatetype, opdspeciality: @opdspeciality } %>
            </div>
          <% end %>
        </div>
        <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/opd_summary_form_advice.html", locals: {current_facility: current_facility,  specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, advice: @opdrecord.advice, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality ,current_facility: current_facility } %>

      <% elsif @templatetype == "vitalsign" %>
        <%= render partial: "/opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/opd_summary_vital_signs.html.erb", locals: {current_facility: current_facility,  patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, advice: @opdrecord.advice, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false } %>
      <% end %>

    </div>
  </div>

  <!--Signature-->
    <%= render partial: 'common/user_signature.html.erb',locals: {current_facility: current_facility, user_id: @opdrecord.consultant_id} %>
  <!--Signature Ends-->
</div>
