<h2 align="center"><%= @organisation.name %></h2>
<br>
<table align="right">
  <tr>
    <td class="text-right">Requesting Department:</td>
    <td>-</td>
    <td><%= @log.department_id %></td>
  </tr>
  <tr>
    <td class="text-right">Date:</td>
    <td>-</td>
    <td><%= @log.created_at.strftime("%d-%B-%y") %></td>
  </tr>
  <tr>
    <td class="text-right">Total:</td>
    <td>-</td>
    <td><%= @log.items.length %>&nbsp; items</td>
  </tr>
</table>
<br />
<table class="table-kumar">
  <thead>
  <tr style="border-bottom: 1px solid #ccc;">
    <td>Sl. No.</td>
    <td>Item Code</td>
    <td>Description</td>
    <td>Quantity</td>
    <td>Category</td>
    <td>Barcode</td>
  </tr>
  </thead>
  <tbody>
  <% serial = 0 %>
  <% @log.items.each do |item| %>
      <tr style="border-bottom: 1px dashed #ebebeb; ">
        <td><%= serial = serial + 1 %></td>
        <td><%= item.item_code %></td>
        <td><%= item.description %></td>
        <td><%= item.quantity %></td>
        <td><%= item.category %></td>
        <td><%= item.barcode.to_i %></td>
      </tr>
  <% end %>

  </tbody>

</table>
<style type="text/css">

  body{
    font-family: monospace;
    font-size: 12px;
    color: #898989;
  }

  .table-kumar{
    width: 100%;
  }
  .table-kumar td{
    padding: 0 5px 0 5px;
  }
</style>

