<div style="font-family: <%= UsersSetting.find_by(user_id: current_user.id).font_style %>">
<%= @log.id %>
<br />
<table>
  <thead>
    <tr>
      <td>Sl. No.</td>
      <td>Name</td>
      <td>Quantity</td>
    </tr>
  </thead>
  <tbody>
    <% serial = 0 %>
    <%= @log.items.each do |item| %>
      <tr>
        <td><%= serial + 1 %></td>
        <td><%= item.name %></td>
        <td><%= item.quantity %></td>
      </tr>
    <% end %>
    
  </tbody>
  
</table>
</div>