  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title">Request from <%= @department_name %> on <%= @inventory_department_request_log.created_at.strftime("%d %b %Y") %></h5>
      </div>
      <div class="modal-body" style="overflow-y: scroll; height:500px; color:#636e7b; font-size: 12px;">

        <div class="col-md-12">
          <div class="row">
            <div class="col-lg-6">
              <h4>Request Details</h4>
            </div>
            <div class="col-lg-6 text-right">
            </div>
          </div>
          <div class="row" style="margin-bottom: 5px;">
            <div class="col-lg-3">
              Requesting Department:
            </div>
            <div class="col-lg-2">
              <%= @department_name %>
            </div>
            <div class="col-lg-2">
              Request Date:
            </div>
            <div class="col-lg-2">
              <%= @inventory_department_request_log.created_at.strftime("%d %b %Y") %>
            </div>
            <div class="col-lg-1">
              Time:
            </div>
            <div class="col-lg-2">
              <%= @inventory_department_request_log.created_at.strftime("%I:%M %p") %>
            </div>
          </div>
          <div class="row" style="margin-bottom: 5px;">
            <div class="col-lg-2">
              Note:
            </div>
            <div class="col-lg-5">
              <%= @inventory_department_request_log.note %>
            </div>
            <div class="col-lg-3">
              Total Items:
            </div>
            <div class="col-lg-2">
              <%= @inventory_department_request_log.items.length %>
            </div>
          </div><!-- row -->
        </div>
        <div class="col-lg-12">
          <h4>Items</h4>

          <ul style="list-style-type: none; font-weight: bold; text-decoration: underline; border-bottom: 1px solid #dfdfdf;">
            <li>
              <div class="row">
                <div class="col-md-1">
                  Sl. No.
                </div>

                <div class="col-md-5">
                  Description
                </div>

                <div class="col-md-2">
                  Available
                </div>

                <div class="col-md-2">
                  Requested
                </div>

                <div class="col-md-2">
                  Action
                </div>
              </div>
            </li>
          </ul>
          <ul id='requested_items' style="list-style-type: none; color:#636e7b; font-size: 12px;">

            <% serial = 0 %>
            <% for item in @inventory_department_request_log.items %>
                <li>
                  <div class="row">
                    <div class="col-md-1">
                      <%= serial += 1  %>
                    </div>

                    <div class="col-md-5">
                      <%= item.name %>
                    </div>

                    <div class="col-md-2">
                      <% if item.inventory_item_id %>
                          <% model = Inventory::Item.find(item.inventory_item_id) %>
                          <% if model.present? && model.is_deleted == false %>
                              <%= model.stock %>
                              <% else %>
                              <b>-</b>
                          <% end %>
                          <% else %>
                          <% model = false %>
                          <b>-</b>
                      <% end %>
                    </div>

                    <div class="col-md-2">
                      <%= item.quantity %>
                    </div>
                    <div class="col-md-2">
                      <% if model.present? && model.is_deleted == false%>
                          <%# if @inventoryitems.find(item.inventory_item_id).in_cart == false %>
                              <!--<button data-model="<%= item.inventory_item_id %>" style="display: inline; " class="btn-xs btn btn-primary addFromRequest btnRequestToCart" id="" data-item-quantity="<%= item.quantity %>"><i class="fa fa-plus"></i>Cart</button>-->
                              <%# else %>
                              <button data-model="<%= item.inventory_item_id %>" style="display: inline; " class="btn-xs btn btn-warning removeFromRequest btnRequestToCart" id="" data-item-quantity="<%= item.quantity %>"><i class="fa fa-check"></i> Cart</button>
                              <!--<button class="btn btn-xs btn-warning btnItemToCart btnRemoveItemFromCart" data-model="<%= item.id %>" id=""><i class="fa fa-minus"></i> Cart</button>-->

                          <%# end %>
                          <%else%>
                            <b>Unavailable</b>
                      <% end %>
                    </div>
                  </div>
                </li>
            <% end %>
          </ul>
        </div><!-- col-md-12 -->
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Cancel Adding Item</button>
        <button type="button" id="btnAddItem" class="btn btn-primary">Save Item to Inventory</button> -->
        <button type="button" id="btnProceedCheckingOut" class="btn btn-primary btn-sm">Proceed to Checkout</button>
        <a class="btn btn-success btn-sm" target="_blank" href="/invoices/inventory_department_requests_logs?log_id=<%= @inventory_department_request_log.id %>"><i class="fa fa-print"></i>&nbsp;&nbsp;Print Request</a>

        <!--<button class="btn btn-warning btn-sm" id="btnDeliver" data-model="<%= @inventory_department_request_log.id %>"><i class="fa fa-check-circle-o cursor-pointer"></i>&nbsp;&nbsp;Delete Request</button>-->

        <a href="/inventory/department/request_logs/<%=@inventory_department_request_log.id%>" data-method="delete" data-remote="true" data-model="<%= @inventory_department_request_log.id %>" style="" class="btn btn-warning btn-sm" id="btnDeliver"> <i class="fa fa-check-circle-o cursor-pointer"></i>&nbsp;Confirm Delete</a>


      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
