<% @show_language_support = current_facility.show_language_support %>
<tr class="treatmentmedications">
  <td style="text-align:center;">
    <div class="form-group">
      <div class="input-group mb15">
        <div class="ui-widget">
          <%= hidden_field_tag "opdrecord[treatmentmedication_attributes][#{i}][_destroy]", '0', class: 'form-control' %>
          <%= hidden_field_tag "opdrecord[treatmentmedication_attributes][#{i}][pharmacy_item_id]", nil, class: 'form-control pharmacy_item_id' %>
          <%= hidden_field_tag "opdrecord[treatmentmedication_attributes][#{i}][generic_display_name]", nil, class: 'form-control generic_display_name' %>
          <%= hidden_field_tag "opdrecord[treatmentmedication_attributes][#{i}][generic_display_ids]", nil, class: 'form-control generic_display_ids' %>
          <%= hidden_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicine_from]", nil, class: 'form-control medicine_from' %>
          <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinename]", nil, maxlength: 300, size: 40, class: 'form-control medicinename', style: 'width:100%' %>
        </div>
        <span id="medicinename-contents-<%= i.to_s %>" class="btn btn-xs btn-success btn-square medicinename-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
      </div>
    </div>
  </td>
  <td style="text-align:center;">
    <div class="form-group">
      <div class="input-group mb15">
        <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinetype]", nil, class: 'form-control medicinetype' %>
      </div>
    </div>
  </td>
  <td style="text-align:center;">
    <div class="form-group">
      <div class="input-group mb15">
        <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinequantity]", options_for_select(['1/4', '1/2', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '20', '25', '30', '35', '40', '45', '50'], '1'), class: 'form-control medicinequantity' %>
      </div>
    </div>
  </td>
  <td style="text-align:center;">
    <div class="form-group">
      <div class="input-group mb15">
        <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinefrequency]", options_for_select([['Sel', ''], ['1', '1'], ['2', '2'], ['3', '3'], ['4', '4'], ['5', '5'], ['6', '6'], ['8', '8'], ['10', '10'], ['12', '12'], ['18', '18'], ['24', '24'], ['SOS', 'SOS']], ''), class: 'form-control medicinefrequency' %>
      </div>
    </div>
  </td>
  <td style="text-align:center;">
    <div class="form-group">
      <div class="input-group mb15">
        <div class="row">
          <div class="col-md-6">
            <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][medicineduration]", options_for_select([['Sel', ''], ['1', '1'], ['2', '2'], ['3', '3'], ['4', '4'], ['5', '5'], ['6', '6'], ['7', '7'], ['8', '8'], ['9', '9'], ['10', '10'], ['11', '11'], ['12', '12'], ['15', '15'], ['20', '20'], ['25', '25'], ['30', '30'], ['40', '40'], ['50', '50']], ''), class: 'form-control medicineduration', style: 'width:100%;padding-left:0px;padding-right:0px;' %>
          </div>
          <div class="col-md-6">
            <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinedurationoption]", options_for_select([['Sel', ''], ['Days', 'D'], ['Weeks', 'W'], ['Months', 'M'], ['Next followup', 'F']], ''), class: 'form-control medicinedurationoption', style: 'width:100%;padding-left:0px;padding-right:0px;' %>
          </div>
        </div>
      </div>
    </div>
  </td>
  <td style="text-align:center;" class="taper_td">
    <div class="form-group" style="margin-right:0px;">
      <div class="input-group mb15 link_medication">
        <span class="btn btn-link btn-xs tapering_btn"><i class="fa fa-plus"></i> Add</span>
        <%= hidden_field_tag "opdrecord[treatmentmedication_attributes][#{i}][taper_id]", 0, class: 'form-control tapering_id' %>
      </div>
    </div>
  </td>
  <td style="text-align:center;" class="ceyeside_td">
    <div class="form-group" style="width: 100%;">
      <div class="input-group mb15">
        <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][eyeside]", options_for_select(['L', 'R', 'BE'], ''), prompt: 'Select', class: 'form-control eyeside', style: 'padding: 10px 0px' %>
      </div>
    </div>
  </td>
  <td class="medication_instruction_box" style="text-align:center;">
    <% if @show_language_support %>
      <div class="form-group instruction">
        <div class="input-group mb15">
          <%= select_tag "opdrecord[treatmentmedication_attributes][#{i}][instruction]", options_for_select(@medication_instruction_set), prompt: 'Please Select', class: 'form-control instruction_dropdown', style: 'padding: 10px 0px' %>
        </div>
      </div>
    <% else %>
      <div class="form-group instruction_box">
        <div class="input-group mb15">
          <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicineinstructions]", nil, maxlength: 300, size: 40, class: 'form-control', style: 'width: 86%' %>
        </div>
      </div>
    <% end %>
    <div class="form-group hide instruction_box">
      <div class="input-group mb15">
        <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicineinstructions]", nil, maxlength: 300, size: 40, class: 'form-control', style: 'width: 86%' %>
        <button type="button" class="btn btn-link undo_button fa fa-undo" style="width: 0%; margin-left: -11%;"></button>
      </div>
    </div>
  </td>
  <td style="text-align:center;">
    <div class="form-group">
      <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square add-new-btn" href="javascript:;" name="addnewmedicationbutton"><span class="glyphicon glyphicon-plus-sign"></span></a>
      <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger removemedicationbutton" href="javascript:;" name="removemedicationbutton"><span class="glyphicon glyphicon-remove"></span></a>
    </div>
  </td>
</tr>
<style type="text/css">
  .hide{
    display: none;
  }
  .col-xs-1-5 {
    width: 12.49995%;
  }
  .col-md-1-5 {
    width: 12.49995%;
  }
  .col-sm-1-5 {
    width: 12.49995%;
  }
</style>
<%= javascript_include_tag 'autocomplete/medicine' %>
<script type="text/javascript">
  $(".instruction_dropdown").on("change",function(){
    var id = $(this).attr("id");
    if ($("#"+id).val() == "Add a text Box"){
      $("#"+id).parent(".input-group").parent(".instruction").next(".instruction_box").removeClass('hide').removeAttr("disabled","disabled");
      $(this).parent(".input-group").parent(".instruction").hide().attr("disabled","disabled");
      $("#"+id).val("");
    }
  })

  $(".undo_button").on("click",function(e){
    e.preventDefault();
    $(this).parent(".input-group").parent('.instruction_box').parent('.medication_instruction_box').children('.instruction').show().removeAttr("disabled","disabled");
    $(this).parent(".input-group").parent('.instruction_box').addClass("hide").attr("disabled","disabled");
  })

  $('.medicinename').keyup(function() {
    var medicine = []
    var inputs = $(".medicinename")
    console.log("========================8")
    var rowCount = $('.medication-table-body-added tr').length
    for(var i = 0; i < rowCount - 1; i++) {
      medicine.push($(inputs[i]).val());
    }
    if (medicine.filter(Boolean).length > 0) {
      $('#opdrecord_view_pharmacy_store_id').prop('disabled', true)
    } else {
      $('#opdrecord_view_pharmacy_store_id').prop('disabled', false)
    }
    $('#opdrecord_view_pharmacy_store_id').trigger('change')
  })

  $('#opdrecord_medicationsets').on('click', function(e) {
    e.preventDefault();
    $('#opdrecord_view_pharmacy_store_id').prop('disabled', true)
    $('#opdrecord_view_pharmacy_store_id').trigger('change')
  });

  <%= render partial: 'medication_kits/manage.js.erb' %>
</script>
