<%@current_facility = current_facility%>
<%@facility = Facility.find_by(id: @current_facility.id)%>
<%@show_language_support = @facility.show_language_support%>
<%if @show_language_support == true%>
  <tr class="treatmentmedications">
    <td style="text-align: center;">
      <div class="form-group">
        <div class="input-group mb15">
          <div class="ui-widget">
            <%= hidden_field_tag "opdrecord[treatmentmedication_attributes][#{i}][pharmacy_item_id]", nil, {:class => 'form-control pharmacy_item_id' } %>
            <%= hidden_field_tag "opdrecord[treatmentmedication_attributes][#{i}][generic_display_name]", nil, {:class => 'form-control generic_display_name' } %>
            <%= hidden_field_tag "opdrecord[treatmentmedication_attributes][#{i}][generic_display_ids]", nil, {:class => 'form-control generic_display_ids' } %>
            <%= hidden_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicine_from]", nil, {:class => 'form-control medicine_from' } %>
            <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinename]", nil, {:maxlength => 300, :size => 40, :class => 'form-control medicinename' } %>
          </div>
          <span id="medicinename-contents-<%= "#{i}" %>" class="btn btn-xs btn-success btn-square medicinename-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
        </div>
      </div>
    </td>
    <td style="text-align: center;">
      <div class="form-group">
        <div class="input-group mb15">
          <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinetype]",nil, { :class => 'form-control medicinetype' } %>
        </div>
      </div>
    </td>
    <td style="text-align: center;">
      <div class="form-group">
        <div class="input-group mb15">
          <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinequantity]", options_for_select(['1/4', '1/2', '1', '2', '3'], "1"), { :class => 'form-control medicinequantity' } %>
        </div>
      </div>
    </td>
    <td style="text-align: center;">
      <div class="form-group">
        <div class="input-group mb15">
          <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinefrequency]", options_for_select([['Select', ''], '1-1-1', '1-1-0', '1-0-1', '0-1-1', '1-0-0', '0-1-0', '0-0-1','2-2-2','2-0-2', '1-1-1-1','once a week','once a month', '5 times a day', '6 times a day', '8 times a day', '10 times a day', '12 times a day', '24 times a day','Sat-Sun', 'SOS'], ""), { :class => 'form-control medicinefrequency'} %>
        </div>
      </div>
    </td>
    <td style="text-align: center;">
      <div class="form-group">
        <div class="input-group mb15">
          <div class="row">
            <div class="col-md-4">
              <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineduration]", options_for_select([['Sel',''],['1','1'], ['2','2'], ['3','3'], ['4','4'], ['5','5'], ['6','6'], ['7','7'], ['8','8'], ['9','9'], ['10','10'], ['11','11'], ['12','12'], ['15', '15'], ['20', '20'], ['25', '25'], ['30', '30'], ['40', '40'], ['50', '50']  ], ""), { :class => 'form-control medicineduration'} %>
            </div>
            <div class="col-md-8">
              <div class="col-md-12">
                <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinedurationoption]", options_for_select([['Sel',''], ['Days', 'D'], ['Weeks', 'W'], ['Months', 'M'], ['Next followup', 'F']], ""), { :class => 'form-control medicinedurationoption'} %>
               </div>
            </div>
          </div>

        </div>
      </div>
    </td>
    <td class="medication_instruction_box" style="text-align: center;">
      <div class="form-group instruction">
        <div class="input-group mb15">
          <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][instruction]", options_for_select(@medication_instruction_set), {:prompt => 'Please Select', :class => 'form-control instruction_dropdown',:style => "padding: 10px 0px" } %>
        </div>
      </div>
      <div class="form-group hide instruction_box">
        <div class="input-group mb15">
          <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineinstructions]", nil, {:maxlength => 300, :size => 40, :class => 'form-control text_box_val', :style => "width: 86%" } %>
          <button type="button" class="btn btn-link undo_button fa fa-undo" style="width: 0%; margin-left: -4%;"></button>
        </div>
      </div>
    </td>
    <td style="text-align: center;">
      <div class="form-group">
        <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
        <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger removemedicationbutton" href="javascript:;" name="removemedicationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
      </div>
    </td>
  </tr>
<%else%>
  <tr class="treatmentmedications">
    <td style="text-align: center;">
      <div class="form-group">
        <div class="input-group mb15">
          <div class="ui-widget">
            <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinename]", nil, {:maxlength => 300, :size => 40, :class => 'form-control medicinename' } %>
          </div>
          <span id="medicinename-contents-<%= "#{i}" %>" class="btn btn-xs btn-success btn-square medicinename-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
        </div>
      </div>
    </td>
    <td style="text-align: center;">
      <div class="form-group">
        <div class="input-group mb15">
          <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinetype]",nil, { :class => 'form-control medicinetype' } %>
        </div>
      </div>
    </td>
    <td style="text-align: center;">
      <div class="form-group">
        <div class="input-group mb15">
          <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinequantity]", options_for_select(['1/4', '1/2', '1', '2', '3'], "1"), { :class => 'form-control medicinequantity' } %>
        </div>
      </div>
    </td>
    <td style="text-align: center;">
      <div class="form-group">
        <div class="input-group mb15">
          <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinefrequency]", options_for_select([['Select', ''], '1-1-1', '1-1-0', '1-0-1', '0-1-1', '1-0-0', '0-1-0', '0-0-1','2-2-2','2-0-2', '1-1-1-1','once a week','once a month', '5 times a day', '6 times a day', '8 times a day', '10 times a day', '12 times a day', '24 times a day','Sat-Sun', 'SOS'], ""), { :class => 'form-control medicinefrequency'} %>
        </div>
      </div>
    </td>
    <td style="text-align: center;">
      <div class="form-group">
        <div class="input-group mb15">
          <div class="row">
            <div class="col-md-4">
              <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineduration]", options_for_select([['Sel',''],['1','1'], ['2','2'], ['3','3'], ['4','4'], ['5','5'], ['6','6'], ['7','7'], ['8','8'], ['9','9'], ['10','10'], ['11','11'], ['12','12'], ['15', '15'], ['20', '20'], ['25', '25'], ['30', '30'], ['40', '40'], ['50', '50']  ], ""), { :class => 'form-control medicineduration'} %>
            </div>
            <div class="col-md-8">
              <div class="col-md-12">
                <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinedurationoption]", options_for_select([['Sel',''], ['Days', 'D'], ['Weeks', 'W'], ['Months', 'M'], ['Next followup', 'F']], ""), { :class => 'form-control medicinedurationoption'} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </td>
    <td style="text-align: center;">
      <div class="form-group">
        <div class="input-group mb15">
          <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineinstructions]", nil, {:maxlength => 300, :size => 40, :class => 'form-control' } %>
        </div>
      </div>
    </td>
    <td style="text-align: center;">
      <div class="form-group">
        <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
        <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger removemedicationbutton" href="javascript:;" name="removemedicationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
      </div>
    </td>
  </tr>
<%end%>

<script type="text/javascript">
  function button_disable_enable() {
    if($('.medication_set_body tr').length === 1){
      $('.removemedicationbutton').attr("disabled", true)
    } else{
      $('.removemedicationbutton').attr("disabled", false)
    }
  }
  button_disable_enable()

  $('.removemedicationbutton').on('click', function(e) {
    e.preventDefault();
    if($('.medication_set_body tr').length == 1){
      $('.removemedicationbutton').attr("disabled", true)
    } else{
      $('.removemedicationbutton').attr("disabled", false)
    }
  });

  $(".instruction_dropdown").on("change",function(){
    var id = $(this).attr("id")
    if ($("#"+id).val() == "Add a text Box"){
      $("#"+id).parent(".input-group").parent(".instruction").next(".instruction_box").removeClass('hide').removeAttr("disabled","disabled");
      $(this).parent(".input-group").parent(".instruction").hide().attr("disabled","disabled");
      $("#"+id).val("")
    }
  })

  $(".undo_button").on("click",function(e){
    e.preventDefault();
    $(this).parent(".input-group").parent('.instruction_box').parent('.medication_instruction_box').children('.instruction').show().removeAttr("disabled","disabled");
    $(this).parent(".input-group").parent('.instruction_box').children(".input-group").children(".text_box_val").val("")
    $(this).parent(".input-group").parent('.instruction_box').addClass("hide").attr("disabled","disabled");
  })
</script>