<div class="col-md-4 col-sm-4 col-xs-4">
	<b style="color:#000;">Name:</b> <%= @patient.fullname %>
</div>
<div class="col-md-4 col-sm-4 col-sm-4 col-xs-4">
	<b style="color:#000;">Age/Sex:</b> <%if @patient.calculate_age.present? || @patient.gender.present?%><%= @patient.calculate_age %><b style="color:#000;"> / </b><%= @patient.gender %><% else %> Unavailable<% end %>
</div>
<div class="col-md-4 col-sm-4 col-sm-4 col-xs-4">
	<b style="color:#000;">Patient ID/MR No. :</b> <%= @patient.patient_identifier_id %><b style="color:#000;"> / </b><%if @patient_mrn.present? %><%= @patient_mrn %><% else %> - <% end %>
</div>
<%= hidden_field_tag "patient_id", @patient.id, {:class => 'form-control patient_id', :id => "opdrecord_patient_id" } %>
        