<!-- Patient info starts -->
<div class="pull-left">
      <h5><strong>Name:</strong> <%= patient.fullname %> | <strong>Age:</strong><%if @patient.calculate_age.present? %><%= @patient.calculate_age %> |<% else %> Unavailable |<% end %> Gender:</strong> <%= patient.gender %><%if PatientOtherIdentifier.find_by(patient_id: patient.id).try(:mr_no).present? %> | <strong>MR No:</strong> <%= PatientOtherIdentifier.find_by(patient_id: patient.id).try(:mr_no) %><%end%></h5>

      <%= hidden_field_tag "patient_id", patient.id, {:class => 'form-control patient_id', :id => "opdrecord_patient_id" } %>

</div> <!-- Patient info ends -->