<tr class="postoprecords">
  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
    <div class="form-group">
      <div class="input-group mb15" style="width: 100%">
        <div class="ui-widget">
          <%= hidden_field_tag "opdrecord[postoprecord_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
          <%= text_field_tag "opdrecord[postoprecord_attributes][#{i}][surgery_name]", nil, {:maxlength => 40, :size => 40, :class => 'form-control surgery_name', :style => "padding: 6px"  } %>
        </div>
        <span id="surgery-name-contents-<%= "#{i}" %>" class="btn btn-xs btn-success btn-square surgery-name-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
      </div>
    </div>
  </td>
  
  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
    <div class="form-group" style="width: 100%;">
      <div class="input-group mb15">
        <%= select_tag "opdrecord[postoprecord_attributes][#{i}][eyeside]", options_for_select(['L', 'R', 'BE']), {:prompt => 'Select' , :class => 'form-control eyeside',:style => "padding: 6px" } %>
      </div>
    </div>
  </td>

   <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
    <div class="form-group" style="width: 100%;">
      <div class="input-group mb15">
        <%= text_field_tag "opdrecord[postoprecord_attributes][#{i}][surgery_date]",nil, { :class => "form-control form-control-custom post_operative_day_datepicker surgery_date", id: "opdrecord_postoprecord_attributes_#{i}_surgery_date" , :style => "padding: 6px"} %>
      </div>
    </div>
  </td>


  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
    <div class="form-group" style="width: 100%;">
      <div class="input-group mb15">
        <%= text_field_tag "opdrecord[postoprecord_attributes][#{i}][post_operative_day]",nil , :class => "form-control form-control-custom post_operative_day_count", id: "post-operative-day-count#{i}", :style => "padding: 6px"  %>
      </div>
    </div>
  </td>

  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
    <div class="form-group" style="width: 100%;">
      <div class="input-group mb15">
        <%= text_field_tag "opdrecord[postoprecord_attributes][#{i}][surgeon_name]",nil , :class => "form-control form-control-custom surgeon_name", id: "", :style => "padding: 6px"  %>
      </div>
    </div>
  </td>

  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
    <div class="form-group" style="width: 100%;">
      <div class="input-group mb15">
        <%= text_field_tag "opdrecord[postoprecord_attributes][#{i}][comment]", nil, { :class => 'form-control comment',:style => "padding: 6px" } %>
      </div>
    </div>
  </td>


  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">

   <div class="form-group">
    <a id="addnewpostoprecordbutton<%=i%>" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewpostoprecordbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
    <a id="removepostoprecordbutton<%=i%>" class="btn btn-xs btn-primary btn-danger removepostoprecordbutton" href="javascript:;" name="removepostoprecordbutton" ><span class="glyphicon glyphicon-remove"></span></a>
  </div>


  </td>

</tr>

<script>
  datepicker_options = {
    dateFormat: "dd/mm/yy",
    maxDate: 0
  };

  jQuery('.post_operative_day_datepicker').live('focus', function(){
    $(this).datepicker(datepicker_options);
  });



  function calculate_post_operative_day(el,el_val){
      // finding element to place counted value
    var day_count_element =  $(el).parents('.postoprecords').find('.post_operative_day_count')

    var today = new Date();

    var dateString = el_val
    var dateParts = dateString.split("/");
    var dateObject = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]); // month is 0-based
    var date_of_operation = new Date(dateObject)
    var timeinmilisec = today.getTime() - date_of_operation.getTime();
    var post_operative_day_count = Math.floor(timeinmilisec / (1000 * 60 * 60 * 24))
    if (post_operative_day_count > 365) {
      var post_operative_year_count = Math.floor(post_operative_day_count / 365)
      var post_operative_month_count = Math.floor((post_operative_day_count % 365) / 30)
      if (post_operative_year_count == 1 && post_operative_month_count == 1 ) {
        $(day_count_element).val(post_operative_year_count+ " Year and "+ post_operative_month_count + " Month")
      }
      else if (post_operative_year_count == 1 && post_operative_month_count == 0 ) {
        $(day_count_element).val(post_operative_year_count+ " Year")
      }
      else if (post_operative_year_count > 1 && post_operative_month_count == 0 ) {
        $(day_count_element).val(post_operative_year_count+ " Years")
      }
      else if (post_operative_year_count > 1 && post_operative_month_count > 1 ) {
        $(day_count_element).val(post_operative_year_count+ " Years and "+ post_operative_month_count + " Months")
      }
      else if (post_operative_year_count == 1 && post_operative_month_count > 1 ) {
        $(day_count_element).val(post_operative_year_count+ " Year and "+ post_operative_month_count + " Months")
      }
      else {
        $(day_count_element).val(post_operative_year_count+ " Years")
      }
    }
    else if (post_operative_day_count >= 30){
      var post_operative_month_count = Math.floor(post_operative_day_count / 30)
      var post_operative_week_count = Math.floor((post_operative_day_count % 30) / 7)
      if (post_operative_month_count == 1 && post_operative_week_count == 1 ) {
        $(day_count_element).val(post_operative_month_count+ " Month and "+ post_operative_week_count + " Week")
      }
      else if (post_operative_month_count == 1 && post_operative_week_count > 1) {
        $(day_count_element).val(post_operative_month_count+ " Month and "+ post_operative_week_count + " Weeks")
      }
      else if (post_operative_month_count == 1 && post_operative_week_count == 0) {
        $(day_count_element).val(post_operative_month_count+ " Month")
      }
      else if (post_operative_month_count > 1 && post_operative_week_count == 0) {
        $(day_count_element).val(post_operative_month_count+ " Months")
      }
      else if (post_operative_month_count > 1 && post_operative_week_count > 1) {
        $(day_count_element).val(post_operative_month_count+ " Months and "+ post_operative_week_count + " Weeks")
      }
      else if (post_operative_month_count > 1 && post_operative_week_count == 1) {
        $(day_count_element).val(post_operative_month_count+ " Months and "+ post_operative_week_count + " Week")
      }
      else {
        $(day_count_element).val(post_operative_month_count+ " Months")
      }
    }
    else if (post_operative_day_count>7){
      var post_operative_week_count = Math.floor(post_operative_day_count / 7)
      var post_operative_day_count = post_operative_day_count % 7
      if (post_operative_week_count == 1 && post_operative_day_count == 1 ) {
        $(day_count_element).val(post_operative_week_count+ " Week and "+ post_operative_day_count + " Day")
      }
      else if (post_operative_week_count > 1 && post_operative_day_count == 0) {
        $(day_count_element).val(post_operative_week_count+ " Weeks")
      }
      else if (post_operative_week_count > 1 && post_operative_day_count > 1) {
        $(day_count_element).val(post_operative_week_count+ " Weeks and "+ post_operative_day_count + " Days")
      }
      else if (post_operative_week_count > 1 && post_operative_day_count == 1) {
        $(day_count_element).val(post_operative_week_count+ " Weeks and "+ post_operative_day_count + " Day")
      }
      else if (post_operative_week_count == 1 && post_operative_day_count > 1) {
        $(day_count_element).val(post_operative_week_count+ " Week and "+ post_operative_day_count + " Days")
      }
      else {
        $(day_count_element).val(post_operative_week_count+ " Weeks")
      }
    }
    else if (post_operative_day_count == 1){
      $(day_count_element).val(post_operative_day_count+ " Day")
    }
    else if (post_operative_day_count <= 7) {
      $(day_count_element).val(post_operative_day_count + " Days")
    }
    else {
      $(day_count_element).val(post_operative_day_count + " Days")
    }
  }
    $(".post_operative_day_datepicker").on("change", function(e){
      e.preventDefault();
      el_val = $(this).attr("value")
      calculate_post_operative_day(this,el_val)
    })



    $('.surgery_name').autocomplete({
      minLength: 2,
      source: function(request, response) {
        $.ajax({
          dataType: "json",
          type: 'get',
          url: '/common_procedures/search',
          data: {
            search: request.term,
            remote: "true" },
          success: function(data) {
            response(data);
          },
          error: function(data) {
          }
        });
      }
    });

  <%#= render partial: "opd_records/ophthalmology_notes/js/eye_opd_record_objective.js.erb" %>
</script>