<div class="tab-pane row" id="advice">
  <div class="col-md-9">
    <p><b>**Note:</b> Please uncheck the check box if you dont want to create followup appointment automatically</p>
    <div class="row mb10">
      <div class="col-md-2">Management Plan:</div>
      <div class="col-md-6">
        <%= f.input :advicemanagementplan, as: :text,  :label => false, :required => false, :input_html => { class: 'form-control', rows: 2, style: 'min-width: 90%', :required => false, :name => "opdrecord[advicemanagementplan]", :value => opdrecord.read_attribute(:advicemanagementplan) } %>
      </div>
      <div class="ckbox ckbox-primary col-md-4">
        <%= f.check_box :advicemanagementplantoreceptionist, {:class => "myclass", :id => "advicemanagementplantoreceptionist", :checked => false} , "true", "false" %>
        <label for="advicemanagementplantoreceptionist">Show On Receptionist List View.</label>
      </div>
    </div>
    <div class="row mb10">
        <div class="col-md-2 col-sm-3 col-xs-3">Personal Comments:<br>(This will not appear in print)</div>
        <div class="col-md-6 col-sm-5 col-xs-6">
          <%= f.input :management_personal_cmt, as: :text, label: false, required: false, input_html: { class: 'form-control', rows: 2, style: 'min-width: 90%', required: false, name: 'opdrecord[management_personal_cmt]', value: opdrecord.read_attribute(:management_personal_cmt) } %>
        </div>
      </div>
    <div class="row">
      <div class="col-md-2"></div>
      <%= f.input :limbelevation, wrapper_html: {:class=>"col-md-10"}, collection: ['Limb elevation', 'Active finger-toe movements', 'Hot fomentation', 'Ice packs', 'Stretching', 'Cryocuff therapy'], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white opdrecord_limblelevation', :input_html => {:name => "opdrecord[advice_attributes][limbelevation]" }, :checked => opdrecord.checkboxes_checked(opdrecord.advice.read_attribute(:limbelevation)) %>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <%= f.input :dressing, wrapper_html: {:class=>"col-md-7"}, collection: ['Dressing change', 'Suture removal', 'Cast/Splint Removal', 'Cast/Splint Change'], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[advice_attributes][dressing]" }, :checked => opdrecord.checkboxes_checked(opdrecord.advice.read_attribute(:dressing))%>
    </div>
    <div class="row">
      <div class="col-md-2 immobilization-support-label">Immobilization Support:</div>
      <%= f.input :immobilizationsupport, wrapper_html: {:class=>"col-md-10"}, collection: ['None', 'Cast', 'Slab', 'Splint-Brace','Buddy-Taping'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white immobilizationsupport', :input_html => {:name => "opdrecord[advice_attributes][immobilizationsupport]" }, :checked => opdrecord.advice.read_attribute(:immobilizationsupport) || 'None' %>
    </div>
    <div class="row immobilizationsupport-options">
      <div class="immobilization-cast">
        <div class="col-md-2 cast-label">Cast:</div>
        <%= f.input :cast, collection: ['Above Elbow', 'Below Elbow', 'Above Knee', 'Below Knee', 'Scaphoid'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white cast', :input_html => {:name => "opdrecord[advice_attributes][cast]" }, :checked => opdrecord.advice.read_attribute(:cast) %>
      </div>
      <div class="immobilization-splint">
        <div class="col-md-2 immobilization-splint-label">Splint:</div>
        <%= f.input :immobilizationsplint, collection: ['Above Elbow', 'Below Elbow', 'Above Knee', 'Below Knee', 'Humerus', 'Posterior Knee', 'Ulnar Gutter', 'Radial Gutter'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white immobilizationsplint', :input_html => {:name => "opdrecord[advice_attributes][immobilizationsplint]" }, :checked => opdrecord.advice.read_attribute(:immobilizationsplint) %>
      </div>
      <div class="immobilization-splintbrace">
        <div class="col-md-2 splintbracespine-label">Spine:</div>
        <%= f.input :splintbracespine, wrapper_html: {:class=>"col-md-10"}, collection: ['Cervical collar-soft', 'Cervical collar-firm', 'Philadelphia collar', 'Cervical pillow', 'Rib belt', 'ASH brace', 'Taylor brace', 'Abdominal belt', 'SacroLumbar belt', 'SacroLumbar brace', 'Back support', 'Back rest', 'Buttock rest', 'Cervical traction', 'Lumbar traction'], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white splintbracespine', :input_html => {:name => "opdrecord[advice_attributes][splintbracespine]" }, :checked => opdrecord.checkboxes_checked(opdrecord.advice.read_attribute(:splintbracespine)) %>

        <div class="col-md-2 splintbracekneeleg-label">Knee/Leg:</div>
        <%= f.input :splintbracekneeleg, wrapper_html: {:class=>"col-md-10"}, collection: ['Knee cap', 'Knee cap-hinged', 'Knee support', 'Calf support', 'Knee brace-long', 'Knee brace-short', 'Knee brace-hinged', 'Patella knee brace', 'Patella binder'], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white splintbracekneeleg', :input_html => {:name => "opdrecord[advice_attributes][splintbracekneeleg]" }, :checked => opdrecord.checkboxes_checked(opdrecord.advice.read_attribute(:splintbracekneeleg)) %>

        <div class="col-md-2 splintbraceanklefoot-label">Ankle/Foot:</div>
        <%= f.input :splintbraceanklefoot, wrapper_html: {:class=>"col-md-10"}, collection: ['Ankle binder', 'Ankle brace', 'Night splint', 'Foot drop splint', 'Bunion splint'], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white splintbraceanklefoot', :input_html => {:name => "opdrecord[advice_attributes][splintbraceanklefoot]" }, :checked => opdrecord.checkboxes_checked(opdrecord.advice.read_attribute(:splintbraceanklefoot)) %>

        <div class="col-md-2 splintbraceshoulderarm-label">Shoulder/Arm:</div>
        <%= f.input :splintbraceshoulderarm, wrapper_html: {:class=>"col-md-10"}, collection: ['Arm pouch sling', 'Universal shoulder immobilizer', 'Shoulder brace', 'Clavicle brace'], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white splintbraceshoulderarm', :input_html => {:name => "opdrecord[advice_attributes][splintbraceshoulderarm]" }, :checked => opdrecord.checkboxes_checked(opdrecord.advice.read_attribute(:splintbraceshoulderarm)) %>

        <div class="col-md-2 splintbraceelbowforearm-label">Elbow/Forearm:</div>
        <%= f.input :splintbraceelbowforearm, wrapper_html: {:class=>"col-md-10"}, collection: ['Tennis elbow support', 'Elbow brace'], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white splintbraceelbowforearm', :input_html => {:name => "opdrecord[advice_attributes][splintbraceelbowforearm]" }, :checked => opdrecord.checkboxes_checked(opdrecord.advice.read_attribute(:splintbraceelbowforearm)) %>

        <div class="col-md-2 splintbracewristhand-label">Wrist/Hand:</div>
        <%= f.input :splintbracewristhand, wrapper_html: {:class=>"col-md-10"}, collection: ['Buddy taping', 'Finger splint', 'Thumb splint', 'Wrist splint', 'Wrist brace', 'Wrist band', 'Carpal wrist support', 'Cock-up splint', 'Dynamic cock-up splint', 'Dequervains brace'], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white splintbracewristhand', :input_html => {:name => "opdrecord[advice_attributes][splintbracewristhand]" }, :checked => opdrecord.checkboxes_checked(opdrecord.advice.read_attribute(:splintbracewristhand)) %>

      </div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <%= f.input :physicalexercise, wrapper_html: {:class=>"col-md-10"}, collection: ['Physical exercise','Diet modification', 'Manage/control weight', 'Yoga','Bed rest'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[advice_attributes][physicalexercise]" }, :checked => opdrecord.checkboxes_checked(opdrecord.advice.read_attribute(:physicalexercise)) %>

      <div class="col-md-2">Weight bearing:</div>
      <%= f.input :weightbearing, wrapper_html: {:class=>"col-md-10"}, collection: ['Full', 'Partial', 'Toe-touch', 'Not allowed'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white weightbearing', :input_html => {:name => "opdrecord[advice_attributes][weightbearing]" }, :checked => opdrecord.advice.read_attribute(:weightbearing) %>

      <div class="col-md-2">Aid:</div>
      <%= f.input :aid, wrapper_html: {:class=>"col-md-10"}, collection: ['None', 'Elbow crutches', 'Axillary crutches', 'Walking stick', 'Tripod walking stick', 'Quadruped walking stick', 'Walker'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white aid', :input_html => {:name => "opdrecord[advice_attributes][aid]" }, :checked => opdrecord.advice.read_attribute(:aid) || 'None' %>

      <div class="col-md-2"></div>
      <%= f.input :aidsupport, wrapper_html: {:class=>"col-md-10"}, collection: ['Crepe Bandage', 'DVT stockings', 'Varicose vein stockings', 'Compression stockings-above knee', 'Compression stockings-below knee', 'Heel cushion', 'Heel pad', 'Medial arch support', 'Insoles', 'Metatarsal support'], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white aidsupport', :input_html => {:name => "opdrecord[advice_attributes][aidsupport]" }, :checked => opdrecord.checkboxes_checked(opdrecord.advice.read_attribute(:aidsupport)) %>
    </div>

    <div class="row mb10">
      <div class="col-md-2">Physiotherapy:</div>
      <%= f.input :physiotherapy, wrapper_html: {:class=>"col-md-2"}, collection: ['No', 'Yes'], :as => :hg_radio_button, :label => false, :required => false,:class => 'btn btn-xs btn-white physiotherapy', :input_html => {:name => "opdrecord[advice_attributes][physiotherapy]" }, :checked => opdrecord.advice.read_attribute(:physiotherapy) || 'No' %>

      <div class="physiotherapyadvice-options col-md-8">
        <div class="physiotherapyadvice-label"></div>
        <%= f.input :physiotherapyadvice, wrapper_html: {:class=>"col-md-12"}, collection: ['Open chain exercise', 'Closed chain exercise', 'Joint mobilization exercise', 'Strengthening exercise', 'Stretching exercise', 'Core exercise' , 'Stability exercise', 'Proprioception exercise', 'SWD', 'USG', 'TENS', 'NMES', 'IFT', 'Dry Needling', 'Deep tissue mobilization', 'Trigger point management', 'Taping', 'Strapping', 'Prehab programme', 'Kinetic chain assessment', 'Posture Training', 'Gait Training'], :as => :hg_checkbox, :label => false, :required => false,:class => 'btn btn-xs btn-white physiotherapyadvice', :input_html => {:name => "opdrecord[advice_attributes][physiotherapyadvice]" }, :checked => opdrecord.checkboxes_checked(opdrecord.advice.read_attribute(:physiotherapyadvice)) %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2"><label for="physiotherapyadvicecommentbox-textarealabel" class="physiotherapyadvicecommentbox-textarealabel">Physiotherapy advice:</label></div>
      <div class="col-md-10 ">
        <%= f.input :physiotherapyadvicecommentbox, as: :text,  :label => false, :required => false, :input_html => {:class => 'form-control radio_physiotherapyadvicecommentbox ', :style => "width: 100%", :name => "opdrecord[advice_attributes][physiotherapyadvicecommentbox]", :value => opdrecord.advice.read_attribute(:physiotherapyadvicecommentbox) } %>
      </div>
    </div>

    <div class="row mb10">
      <div class="col-md-6">
        <div class="col-md-4">Other precautions:</div>
        <%= f.input :otherprecautionscommentbox, as: :text,  :label => false, :required => false, :input_html => {:class => 'form-control textarea_otherprecautionscommentbox col-md-12 ', :style => "width: 100%", :name => "opdrecord[advice_attributes][otherprecautionscommentbox]", :value => opdrecord.advice.read_attribute(:otherprecautionscommentbox) } %>
      </div>

      <div class="col-md-6">
        <div class="col-md-3">Referral:</div>
        <%= f.input :otherreferencecommentbox, as: :text,  :label => false, :required => false, :input_html => {:class => 'form-control textarea_otherreferencecommentbox col-md-12', :style => "width: 100%", :name => "opdrecord[advice_attributes][otherreferencecommentbox]", :value => opdrecord.advice.read_attribute(:otherreferencecommentbox) } %>
      </div>
    </div>
    <!-- new ui -->
    <!-- new ui start -->
    <div class="row mb10">
      <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
        <b>Follow Up</b>
        <%= hidden_field_tag "opdrecord[advice_attributes][opdfollowuptime]", '', class: "hidden_followup_timepicker" %>
      </div>
    </div>

    <div class="row mb10">
      <div class="col-md-3 col-lg-3 col-xs-12 col-sm-3">
        <div class="col-md-12">
          <b>Date</b>
          <a href="" id='clear_follow_up_date' style="font-size: 10px;margin-top: -7px;">Clear</a>
        </div>
        <div class="col-md-12">
          <% @followup_date =  opdrecord.advice.try(:opdfollowupdate) %>
          <% if @followup_date.present? %>
            <% followup_date_view = Date.parse("#{@followup_date}").strftime("%d/%m/%Y") %>
          <% else %>
            <% followup_date_view = '' %>
          <% end %>
          <%= text_field_tag "opdrecord[advice_attributes][opdfollowupdate]", followup_date_view, class: 'form-control opdfollowupdate-datepicker', style: 'width: 100%; background:#fff; cursor: pointer;', id: "opdfollowupdate-datepicker",readonly:true %>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-xs-12 col-sm-3">
        <div class="col-md-12"><b>Location</b></div>
        <div class="col-md-12">
          <% selected_facility = opdrecord.advice.try(:appointment_facility) ? opdrecord.advice.appointment_facility : @current_facility.id %>
          <%= select_tag("opdrecord[advice_attributes][appointment_facility]", options_for_select(@facilities.map { |facility| [facility.name, facility.id] }, selected_facility), { :class => 'form-control fac_ddap', style: "width: 100%" }) %>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-xs-12 col-sm-3">
        <div class="col-md-12">
            <b>Location's Specialty</b>
          </div>
          <div class="col-md-12">
            <% selected_facility = Facility.find_by(id: selected_facility) %>
            <% specialties = Specialty.where(:id.in => selected_facility.specialty_ids).pluck(:name, :id) %>
            <% selected_specialty = opdrecord.advice.try(:appointment_specialty_id) || @appointment.specialty_id %>
            <%= select_tag("opdrecord[advice_attributes][appointment_specialty_id]", options_for_select(specialties, selected_specialty), {:class => 'form-control advice_appointment_specialty_id', style: "width: 100%" }) %>
          </div>
        </div>

        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
          <div class="col-md-12">
            <b>Consultant</b>
          </div>
          <div class="col-md-12">
            <% doctors_array = { organisation_id: @current_user.organisation_id, role_ids: 158965000, is_active: true } %>
            <% doctors_array = doctors_array.merge(specialty_ids: opdrecord.advice.try(:appointment_specialty_id) || @appointment.specialty_id) %>
            <% doctors_array = doctors_array.merge(facility_ids: opdrecord.advice.try(:appointment_facility) || @current_facility.id) %>
            <% selected_doctor = opdrecord.advice.try(:appointment_doctor) ? opdrecord.advice.appointment_doctor : current_user.id.to_s %>
            <% doctors_array = User.where(doctors_array).pluck(:fullname, :id) %>

            <%= select_tag("opdrecord[advice_attributes][appointment_doctor]", options_for_select(doctors_array, selected_doctor),{:class => 'form-control user_ddapt advice_appointment_doctor_id', :style => 'width: 100%'}) %>
          </div>
          <input type="hidden" class="doctor_id" value="<%= @user.id %>">
        </div>
      </div>

      <div class="row mb10">
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
          <div class="col-md-12">
            <b>Time</b>
          </div>
          <div class="col-md-12 opd-followup-timepicker">
            <div class="bootstrap-timepicker timepicker" style="position: absolute; width: 100%;">
              <% @followup_time =  opdrecord.advice.try(:opdfollowuptime)%>
              <%if @followup_time.present? %>
                <% @followup_time_view = Time.zone.parse("#{opdrecord.advice.try(:opdfollowuptime)}").strftime("%I:%M %p") %>
              <%else%>
                <% @followup_time_view = Time.current.strftime("%I:%M %p") %>
              <%end%>
              <%= text_field_tag "opdfollowuptime", @followup_time_view, class: 'form-control full_width opdfollowuptime-timepicker ', style: 'width: 100%; background:#fff; cursor: pointer;', id: "opdfollowuptime-timepicker" %>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
          <div class="col-md-12">
            <b>Appointment Type <b style="color: red;">Required</b></b>
          </div>
          <div class="col-md-12">
            <% @locals = { name_attr:"opdrecord[advice_attributes][appointment_type_id]", option_values: @appointment_types } %>
            <% if "#{opdrecord.advice.try(:appointment_type_id)}" == nil || "#{opdrecord.advice.try(:appointment_type_id)}" == ""%>
              <% @locals = @locals.merge(selected: "") %>
            <% else %>
              <% @locals = @locals.merge(selected: opdrecord.try(:advice).try(:appointment_type_id)) %>
            <% end %>
            <%= render partial: 'opd_records/ophthalmology_notes/appointment_type_partial', locals: @locals %>
          </div>
        </div>

        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
          <% if @sub_appointment_types.present? %>
            <div class="col-md-12">
              <b>Appointment Category</b>
            </div>
            <div class="col-md-12">
              <%= select_tag("opdrecord[advice_attributes][appointment_category_id]", options_for_select(@sub_appointment_types.pluck(:label, :id), opdrecord.try(:advice).try(:appointment_category_id)), include_blank: 'Select Appointment Category', class: "form-control", style: 'width:100%;')%>
            </div>
          <% end %>
        </div>
      </div>

      <% if (@appointment.try(:organisation_id).to_s == '5e21ffd6cd29ba0ce0bf5a1e') && @appointment.try(:created_from) == 'Integration' %>
        <div style="display: none">
          <%= f.check_box :bookappointment, {:class => "myclass",:id => "bookappointment-integration", :checked => false}, "true", "false" %>
        </div>
      <% else %>
        <div class="row mb10">
          <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
            <div class="col-md-12">
              &nbsp;
            </div>
            <div class="col-md-12">
              <div class="ckbox ckbox-primary">
                <% if opdrecord.bookappointment.nil? %>
                  <%= f.check_box :bookappointment, {:class => "myclass", :id => "bookappointment", :checked => false}, "true", "false" %>
                  <label for="bookappointment">Make Appointment**</label>
                <% elsif opdrecord.bookappointment == 'false' %>
                  <%= f.check_box :bookappointment, {:class => "myclass", :id => "bookappointment", :checked => false }, "true", "false" %>
                  <label for="bookappointment">Make Appointment**</label>
                <% elsif opdrecord.bookappointment == 'true' %>
                  <%= f.check_box :bookappointment, {:class => "myclass", :id => "bookappointment", :checked => true} , "true", "false" %>
                  <label for="bookappointment">Make Appointment**</label>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div class="row mb10">
        <div class="col-md-12">
          <p class="text-center">OR</p>
        </div>
      </div>


      <div class="row">
        <div class="col-md-2 text-right">
        </div>
        <div class="col-md-10">
          <%= f.input :opdfollowuptimeframe, wrapper_html: {:class=>"col-md-12"}, collection: (opdrecord.get_opd_followup_timeframe_list()), :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white timeframe mb10', :input_html => {:name => "opdrecord[advice_attributes][opdfollowuptimeframe]" }, :checked => opdrecord.checkboxes_checked(opdrecord.advice.try(:opdfollowuptimeframe)) %>
        </div>
      </div>


    <!-- </div> -->
    </div>
    <div class="col-md-3" id="booked-appointment-slots" style="background: #fcfcfc;border-left:1px solid #eee;">

    <%= render partial: '/opd_appointments/available_slot.html.erb' %>
  </div>
</div>

<script type="text/javascript">

  datepicker_options = {
    dateFormat: "dd/mm/yy",
    minDate: 0
  };

  $('.opdfollowuptime-timepicker').timepicker({minuteStep: 5});
  $('.opdfollowupdate-datepicker').datepicker(datepicker_options);
  $('.opdfollowupdate-datepicker').on('change', function(){
    $('#bookappointment').prop('checked','true')
  })

  $(".opdfollowuptime-timepicker").on('change', function(){
    var timestamp = $(".opdfollowupdate-datepicker").val() + " " + $(this).val()
    $(".hidden_followup_timepicker").attr("value", timestamp)
  }).trigger('change');

  var form_type = $('#opdrecord_templatetype').val();
  var li_cls = 'advice_step_advice';
  if(form_type == 'freeform')
    li_cls = 'advicetab_advice';
  else if(form_type == 'express')
    li_cls = 'exp_advice_step_advice';

  $("#clear_follow_up_date").on('click', function(e){
    e.preventDefault();
    $("#opdfollowupdate-datepicker").val('');
    check_validation_status(
      $("#opdfollowupdate-datepicker"), 'followup_is_valid',
      li_cls, true,
      'opdrecord_opdfollowuptimeframe'
    );
  });

  $('#opdfollowupdate-datepicker').on('change', function(){
    check_validation_status(
      this, 'followup_is_valid',
      li_cls, true,
      'opdrecord_opdfollowuptimeframe'
    );
  });

  $("#opdrecord_opdfollowuptimeframe").on('change', function(e){
    check_validation_status(
      this, 'followup_is_valid',
      li_cls, true,
      'opdfollowupdate-datepicker'
    );
  });

  function get_booked_appointments(doctor_id, facility_id, specialty_id, date, flag) {
    $.ajax({
      url: '/opd_appointments/get_booked_appointments',
      type: 'get',
      data: {
        doctor_id: doctor_id,
        date: date,
        facility_id: facility_id,
        specialty_id: specialty_id,
        flag: flag
      },
      success: function(res) {
      },
    });
  }

  function toggle_specialty_dropdown(){
    if($('.advice_appointment_specialty_id').find('option').length === 1){
     $(".specialty_dropdown_div").hide();
    } else {
      $(".specialty_dropdown_div").show();
    }
  }
  toggle_specialty_dropdown();

  function get_facility_specialties(facility_id) {
    $.ajax({
      type: "GET",
      dataType: "json",
      url: "/main/get_facility_specialties",
      data: { facility_id: facility_id },

      success: function (response) {
        jQuery('.advice_appointment_specialty_id').children().remove();

        jQuery.each(response, function (key, value) {
          jQuery('.advice_appointment_specialty_id').append($("<option></option>").attr("value", value["_id"]).text(value["name"]));
        });

        $('.advice_appointment_specialty_id').css("background-color",'rgb(247, 232, 225)')
        setTimeout(function(argument) { $('.advice_appointment_specialty_id').css("background-color",'')  }, 300)

        var specialty_id = jQuery('.advice_appointment_specialty_id').val()
        get_specialty_doctors(facility_id, specialty_id)

        toggle_specialty_dropdown();
      }
    });
  }

  function get_specialty_doctors(facility_id, specialty_id) {
    $.ajax({
      type: "GET",
      dataType: "json",
      url: "/main/get_users_from_specialty",
      data: { facility_id: facility_id, specialty_id: specialty_id },

      success: function (response) {
        $('.advice_appointment_doctor_id').children().remove()
        var users = eval(response["users"])

        if (users.length == 0){
          $('.advice_appointment_doctor_id').append($("<option></option>").attr("value","").text("No Doctors Available for this specialty"));
          $('.advice_appointment_doctor_id').trigger('change');
        } else {
          $.each(users, function(key, value) {
            $('.advice_appointment_doctor_id').append($("<option></option>").attr("value", value[1]).text(value[0])).trigger('change');
          });
        }

        $('.advice_appointment_doctor_id').css("background-color",'rgb(247, 232, 225)')
        setTimeout(function(argument) {
          $('.advice_appointment_doctor_id').css("background-color",'')
        }, 300)

        var date = jQuery('.opdfollowupdate-datepicker').val()
        var doctor_id = jQuery('#opdrecord_advice_attributes_appointment_doctor').val()
        get_booked_appointments(doctor_id, facility_id, specialty_id, date, null)
      }
    });
  }

  jQuery('.opdfollowupdate-datepicker').change(function(){
    date = this.value
    doctor_id = jQuery('#opdrecord_advice_attributes_appointment_doctor').val()
    facility_id = jQuery('#opdrecord_advice_attributes_appointment_facility').val()
    specialty_id = jQuery('.advice_appointment_specialty_id').val()

    get_booked_appointments(doctor_id, facility_id, specialty_id, date, "dateselect")

    if (!$("input[id^='opdrecord_advice_attributes_appointment_type_id_']").is(':checked')){
      jQuery('#opdrecord_advice_attributes_appointment_doctor').trigger("change")
    }
  })

  jQuery('#opdrecord_advice_attributes_appointment_facility').on("change",function(){
    var facility_id = this.value;

    get_facility_specialties(facility_id)
  });

  jQuery('.advice_appointment_specialty_id').on("change", function(){
    var specialty_id = this.value
    var facility_id = jQuery("#opdrecord_advice_attributes_appointment_facility").val();

    get_specialty_doctors(facility_id, specialty_id)
  })

  jQuery('#opdrecord_advice_attributes_appointment_doctor').change(function(){
    doctor_id = this.value
    date = jQuery('.opdfollowupdate-datepicker').val()
    facility_id = jQuery("#opdrecord_advice_attributes_appointment_facility").val();
    specialty_id = jQuery('.advice_appointment_specialty_id').val()

    get_booked_appointments(doctor_id, facility_id, specialty_id, date, null)
  }).trigger('change')

  function deselected_radiobutton(fieldname, input_fieldname, value) {
    jQuery.each(jQuery("." + fieldname), function(index, button) {
        if (jQuery(button).attr("input-value") === value) {
            jQuery(button).addClass("btn-brown");
            jQuery("#" + input_fieldname).val(value);
        } else {
            jQuery(button).removeClass("btn-brown");
            jQuery("#" + input_fieldname).val(value);
        }
    });
  }

  $('[data-toggle="tooltip"]').tooltip();

</script>

<style type="text/css">
  [data-toggle='tooltip'] + .tooltip > .tooltip-inner {
    background: black;
    color:#ffffff;
    border: 1px solid #000000;
  }
</style>