<% addedlaboratoryinvestigationlist.each_with_index do |elem, i| %>
  <!-- where not required byt for consistency with OphthalInvs & Procedures -->
  <% cs_laboratory_investigations = @case_sheet.laboratory_investigations.where(opd_investigation_id: elem.id.to_s) %>
  <% if cs_laboratory_investigations.count == 0 || (cs_laboratory_investigations.pluck(:investigationstage).uniq == ['Advised']) || (cs_laboratory_investigations.pluck(:investigationstage).uniq == ['Performed'] && cs_laboratory_investigations.pluck(:performed_from).uniq == ['opd_record']) %>
    <tr class="addedlaboratoryinvestigationlist">
      <td style="padding: 2px 2px 2px 2px;" class="col-md-3 col-sm-4 col-xs-3">
        <% if elem.investigationstage == "A" %>
          <div class="rdio rdio-primary">
            <%= radio_button_tag "opdrecord[addedlaboratoryinvestigationlist_attributes][#{i}][investigationstage]", "A", true, { :class => 'optional form-control investigationstage' } %> <%= label_tag "opdrecord_addedlaboratoryinvestigationlist_attributes_#{i}_investigationstage_A","Advised" %>
          </div>
          <div class="rdio rdio-primary">
            <%= radio_button_tag "opdrecord[addedlaboratoryinvestigationlist_attributes][#{i}][investigationstage]", "P", false, { :class => 'optional form-control investigationstage' } %> <%= label_tag "opdrecord_addedlaboratoryinvestigationlist_attributes_#{i}_investigationstage_P","Performed" %>
          </div>
        <% end %>
        <% if elem.investigationstage == "P" %>
          <div class="rdio rdio-primary">
            <%= radio_button_tag "opdrecord[addedlaboratoryinvestigationlist_attributes][#{i}][investigationstage]", "A", false, { :class => 'optional form-control investigationstage' } %> <%= label_tag "opdrecord_addedlaboratoryinvestigationlist_attributes_#{i}_investigationstage_A","Advised" %>
          </div>
          <div class="rdio rdio-primary">
            <%= radio_button_tag "opdrecord[addedlaboratoryinvestigationlist_attributes][#{i}][investigationstage]", "P", true, { :class => 'optional form-control investigationstage' } %> <%= label_tag "opdrecord_addedlaboratoryinvestigationlist_attributes_#{i}_investigationstage_P","Performed" %>
          </div>
          <div class="label-findings" style='font-weight: bold; text-align: center'>Findings</div>
        <% end %>
      </td>
      <td style="padding: 2px 2px 2px 2px;" class="col-md-7 col-sm-6 col-xs-4">
        <div class="form-group">
          <div class="input-group mb15">
            <%= hidden_field_tag "opdrecord[addedlaboratoryinvestigationlist_attributes][#{i}][id]", elem.id, {:class => 'form-control id' } %>
            <%= hidden_field_tag "opdrecord[addedlaboratoryinvestigationlist_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
            <%= text_field_tag "opdrecord[addedlaboratoryinvestigationlist_attributes][#{i}][investigationname]", elem.investigationname, {:maxlength => 50, :size => 40, :class => 'form-control investigationname' } %>
            <%= hidden_field_tag "opdrecord[addedlaboratoryinvestigationlist_attributes][#{i}][loinc_class]", elem.loinc_class, {:class => 'form-control' } %>
            <%= hidden_field_tag "opdrecord[addedlaboratoryinvestigationlist_attributes][#{i}][loinc_code]", elem.loinc_code, {:class => 'form-control laboratoryinvestigation_id' } %>
            <%= hidden_field_tag "opdrecord[addedlaboratoryinvestigationlist_attributes][#{i}][investigation_id]", elem.investigation_id, {:class => 'form-control' } %>
            <!-- Entered Details -->
            <%= hidden_field_tag "opdrecord[addedlaboratoryinvestigationlist_attributes][#{i}][entered_by_id]", elem.entered_by_id %>
            <%= hidden_field_tag "opdrecord[addedlaboratoryinvestigationlist_attributes][#{i}][entered_by]", elem.entered_by %>
            <%= hidden_field_tag "opdrecord[addedlaboratoryinvestigationlist_attributes][#{i}][entered_at_facility_id]", elem.entered_at_facility_id %>
            <%= hidden_field_tag "opdrecord[addedlaboratoryinvestigationlist_attributes][#{i}][entered_at_facility]", elem.entered_at_facility %>
            <%= hidden_field_tag "opdrecord[addedlaboratoryinvestigationlist_attributes][#{i}][entered_datetime]", elem.entered_datetime %>
            <!-- Advised Details -->
            <%= hidden_field_tag "opdrecord[addedlaboratoryinvestigationlist_attributes][#{i}][advised_by_id]", elem.advised_by_id, class: 'advised_by_id' %>
            <%= hidden_field_tag "opdrecord[addedlaboratoryinvestigationlist_attributes][#{i}][advised_by]", elem.advised_by, class: 'advised_by' %>
            <%= hidden_field_tag "opdrecord[addedlaboratoryinvestigationlist_attributes][#{i}][advised_at_facility_id]", elem.advised_at_facility_id, class: 'advised_at_facility_id' %>
            <%= hidden_field_tag "opdrecord[addedlaboratoryinvestigationlist_attributes][#{i}][advised_at_facility]", elem.advised_at_facility, class: 'advised_at_facility' %>
            <%= hidden_field_tag "opdrecord[addedlaboratoryinvestigationlist_attributes][#{i}][advised_datetime]", elem.advised_datetime, class: 'advised_datetime' %>
            <!-- Performed Details -->
            <%= hidden_field_tag "opdrecord[addedlaboratoryinvestigationlist_attributes][#{i}][is_performed]", elem.is_performed, class: 'is_performed' %>
            <%= hidden_field_tag "opdrecord[addedlaboratoryinvestigationlist_attributes][#{i}][performed_by_id]", elem.performed_by_id, class: 'performed_by_id' %>
            <%= hidden_field_tag "opdrecord[addedlaboratoryinvestigationlist_attributes][#{i}][performed_by]", elem.performed_by, class: 'performed_by' %>
            <%= hidden_field_tag "opdrecord[addedlaboratoryinvestigationlist_attributes][#{i}][performed_at_facility_id]", elem.performed_at_facility_id, class: 'performed_at_facility_id' %>
            <%= hidden_field_tag "opdrecord[addedlaboratoryinvestigationlist_attributes][#{i}][performed_at_facility]", elem.performed_at_facility, class: 'performed_at_facility' %>
            <%= hidden_field_tag "opdrecord[addedlaboratoryinvestigationlist_attributes][#{i}][performed_datetime]", elem.performed_datetime, class: 'performed_datetime' %>
            <!--  -->
            <% if elem.investigationstage == "A" %>
              <%= hidden_field_tag "opdrecord[addedlaboratoryinvestigationlist_attributes][#{i}][investigation_performed]", "", {:class => 'opdrecord_investigation_performed form-control', :style => 'margin-top: 2%' } %>
            <% end %>
            <% if elem.investigationstage == "P" %>
              <%= text_field_tag "opdrecord[addedlaboratoryinvestigationlist_attributes][#{i}][investigation_performed]", elem.investigation_performed, {:class => 'opdrecord_investigation_performed mt5 form-control' } %>
            <% end %>
          </div>
        </div>
      </td>
      <td style="padding: 2px 2px 2px 2px;" class="col-md-2 col-sm-2 col-xs-4">
        <div class="form-group">
          <a id="addedlaboratoryinvestigationdeletebutton0" class="btn btn-sm btn-primary btn-danger" href="javascript:;" name="addedlaboratoryinvestigationdeletebutton"><span class="glyphicon glyphicon-remove"></span></a>
          <%= hidden_field_tag "opdrecord[addedlaboratoryinvestigationlist_attributes][#{i}][investigationadviseddate]", elem.investigationadviseddate, {:class => 'form-control' } %>
          <%= hidden_field_tag "opdrecord[addedlaboratoryinvestigationlist_attributes][#{i}][investigationfullcode]", elem.investigationfullcode, {:class => 'form-control' } %>
        </div>
      </td>
    </tr>
  <% else %>
    <% cs_laboratory_investigations.each_with_index do |cs_laboratory, i| %>
      <tr class=<%= ("addedlaboratoryinvestigationlist" if i == 0) || "" %>>
        <% stage_color = ("#c9302c" if cs_laboratory.investigationstage == "Advised") || "#1caf9a" %>
        <td style="line-height: 1;" colspan="2">
          <b><span id="investigation_stage_<%= i %>_p" style='color:<%= stage_color %>'><%= cs_laboratory.investigationstage.to_s.split(" ").map(&:first).join + " - " %></span> <%= cs_laboratory.investigationname %><br>
          <hr style="margin:4px;" />
          <span id="investigation_added_updated_<%= i %>_p">
            <b style="font-size:12px;">Added by <%= cs_laboratory.entered_by %> <%= cs_laboratory.entered_datetime.strftime('on %d/%m/%Y at %I:%M %p') if cs_laboratory.entered_datetime.present? %></b>
            <% if cs_laboratory.updated_by.present? && cs_laboratory.updated_datetime.present? %>
              <br><b style="font-size:12px;">Last Updated by <%= cs_laboratory.updated_by %> <%= cs_laboratory.try(:updated_datetime).try(:strftime, 'on %d/%m/%Y at %I:%M %p') %></b>
            <% end %>
            <% if cs_laboratory.performed_by.present? && cs_laboratory.performed_datetime.present? && cs_laboratory.investigationstage== "P" %>
              <br><b style="font-size:12px;" class="performed_by_<%= i %>">Performed by <%= cs_laboratory.performed_by %>(<%= cs_laboratory.try(:performed_datetime).try(:strftime, '%d/%m/%Y') %>)</b>
            <% end %>
          </span>
        </td>
        <td style="width:15%;">
          <b style="color: <%= stage_color %>"><%= cs_laboratory.investigationstage %></b>
        </td>
      </tr>
      <% if cs_laboratory.template_created %>
        <tr class="performed-readings">
          <td colspan="3" style="padding:5px;">
            <table class="table table-bordered" style="margin:0px;">
              <% if cs_laboratory.laboratory_panel_records.count > 0 %>
                <thead>
                  <tr>
                    <th style="width:33.33%;padding:0px;text-align:center;font-size:12px;">Name</th>
                    <th style="width:33.33%;padding:0px;text-align:center;font-size:12px;">Findings</th>
                    <th style="width:33.33%;padding:0px;text-align:center;font-size:12px;">Normal Range</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="padding:0px;text-align:center;font-size:12px;"><%= cs_laboratory.investigation_val %></td>
                  </tr>
                  <% cs_laboratory.laboratory_panel_records.each do |lpr| %>
                    <tr>
                      <td style="padding:0px;text-align:center;font-size:12px;"><%= lpr.investigation_name %></td>
                      <td style="padding:0px;text-align:center;font-size:12px;"><%= lpr.investigation_val %></td>
                      <td style="padding:0px;text-align:center;font-size:12px;"><%= lpr.normal_range %></td>
                    </tr>
                  <% end %>
                </tbody>
              <% else %>
                <thead>
                  <tr>
                    <th style="padding:0px;text-align:center;font-size:12px;">Findings</th>
                    <th style="padding:0px;text-align:center;font-size:12px;">Normal Range</th>
                    <th style="padding:0px;text-align:center;font-size:12px;">Remark</th>
                    <th style="padding:0px;text-align:center;font-size:12px;">Doctor's Remark</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="padding:0px;text-align:center;font-size:12px;"><%= cs_laboratory.investigation_val %></td>
                    <td style="padding:0px;text-align:center;font-size:12px;"><%= cs_laboratory.normal_range %></td>
                    <td style="padding:0px;text-align:center;font-size:12px;"><%= cs_laboratory.investigation_comment %></td>
                    <td style="padding:0px;text-align:center;font-size:12px;"><%= cs_laboratory.doctors_remark %></td>
                  </tr>
                </tbody>
              <% end %>
            </table>
          </td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
<% end %>