<!-- #partial to render when adding new icd -->

<tr class="diagnosislist">
  <td>
    <%#= hidden_field_tag "#{source[diagnosislist_attributes][#{i}][id]", elem.id, {:class => 'form-control id' } %>
    <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
    <div class="form-group">
      <div class="input-group">
        <% if params[:icd_type] == 'TranslatedIcdDiagnosis' %>
          <div><span style="color: #428bca" id="<%= source %>_diagnosis_text_<%=i%>_diagnosisoriginalname"><%= @diagnosis_fullname.capitalize%></span> - <span id="<%=  source%>_diagnosis_text_<%=i%>_icddiagnosiscode"><strong><%= @icdcode.upcase.insert(3, '.')%></strong></span></div>
        <% else %>
          <div><span style="color: #428bca" id="<%= source %>_diagnosis_text_<%=i%>_diagnosisoriginalname"><%= @diagnosis_originalname.capitalize%></span> - <span id="<%=  source%>_diagnosis_text_<%=i%>_icddiagnosiscode"><strong><%= @icdcode.upcase.insert(3, '.')%></strong></span></div>
        <% end %>
        <div id="<%= source %>_diagnosis_text_<%=i%>_diagnosis_comment">
          <% if @diagnosis_comment.present? %>
              <li><%= @diagnosis_comment%></li>
          <%end%>
        </div>

        <div id="<%= source %>_diagnosis_text_<%=i%>_users_comment">
          <% if @users_comment.present? %>
              <li><%= @users_comment%></li>
          <%end%>
        </div>
        <hr style="margin:4px;" />
        - Added by <b><%= @entered_by %></b> on (<%= @entry_time %>)

        <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][diagnosisname]", @diagnosis_fullname, {:maxlength => 50, :size => 50, :class => 'form-control diagnosisname' } %>
        <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][diagnosisoriginalname]", @diagnosis_originalname, {:maxlength => 50, :size => 50, :class => 'form-control diagnosisoriginalname' } %>
        <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][icddiagnosiscode]", @icdcode, {:class => 'form-control icddiagnosiscode' } %>
        <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][saperatedicddiagnosiscode]", @saperatedicdcode, {:class => 'form-control saperatedicddiagnosiscode' } %>
        <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][icddiagnosiscodelength]", @icdcode.length, {:class => 'form-control icddiagnosiscodelength' } %>
        <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][entered_by]", @entered_by, {:class => 'form-control icddiagnosisentered_by' } %>
        <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][entered_by_id]", @entered_by_id, {:class => 'form-control icddiagnosisentered_by_id' } %>
        <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][advised_by]", @advised_by, {:class => 'form-control icddiagnosisadvised_by advised_by' } %>
        <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][advised_by_id]", @advised_by_id, {:class => 'form-control icddiagnosisadvised_by_id advised_by_id' } %>
        <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][diagnosis_comment]", @diagnosis_comment, {:class => 'form-control icddiagnosisdiagnosis_comment' } %>
        <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][users_comment]", @users_comment, {:class => 'form-control icddiagnosisusers_comment' } %>
        <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][entry_datetime]", @entry_datetime, {:class => 'form-control icddiagnosisentry_datetime' } %>
        <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][advised_datetime]", @entry_datetime, {:class => 'form-control icddiagnosisadvised_datetime' } %>
        <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][updated_datetime]", @updated_datetime, {:class => 'form-control icddiagnosisupdated_datetime' } %>
        <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][entered_at_facility]", current_facility.name, {:class => 'form-control entered_at_facility' } %>
        <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][entered_at_facility_id]", current_facility.id, {:class => 'form-control entered_at_facility_id' } %>
        <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][advised_at_facility]", current_facility.name, {:class => 'form-control advised_at_facility' } %>
        <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][advised_at_facility_id]", current_facility.id, {:class => 'form-control advised_at_facility_id' } %>
        <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][icd_type]", @icd_type, {:class => 'form-control icd_type' } %>
      </div>
    </div>
  </td>

  <td>
    <a id="editdiagnosisbutton<%=i%>" class="btn btn-xs btn-info editdiagnosisbutton" href="javascript:;" name="editsaveddiagnosisbutton"><i class="fa fa-pencil-square-o"></i></a>

    <a id="removediagnosisbutton<%=i%>" class="btn btn-xs btn-danger removediagnosisbutton" href="javascript:;" name="removediagnosisbutton"><span class="glyphicon glyphicon-remove"></span></a>
  </td>
</tr>

<script>

  jQuery('.diagnosis-added').on('click', "a[name*='removediagnosisbutton']", function() {
    event.preventDefault();
    var diagnosislist_removed_tr_html;
    var fieldcounter;
    fieldcounter = jQuery(this).attr('id').slice(-1);
    var diagnosislist_tr_array = jQuery(this).parents('.diagnosislist').find(".id");
    if (diagnosislist_tr_array.length > 0) {
      jQuery(this).parents('.diagnosislist').find("input[name*='_destroy']").val("1");
      diagnosislist_removed_tr_html = jQuery(this).parents('.diagnosislist').wrap('<p/>').parent().html();
      jQuery(this).parents('.diagnosislist').unwrap();
      jQuery('.diagnosis-removed').append(diagnosislist_removed_tr_html);
      jQuery(this).parents('.diagnosislist').remove();
      _renumber_id_after_remove("tbody.diagnosis-added", "div.diagnosis-removed");
    } else {
      jQuery(this).parents('.diagnosislist').remove();
      _renumber_id_after_remove("tbody.diagnosis-added", "div.diagnosis-removed");
    }
    check_validation_status(
      $('#opdrecord_diagnosislist'),
      'diagnosis_is_valid', 'diagnosis_step', true,
      'opdrecord_provisional_diagnosis'
    );
  });
</script>