<div class="tab-pane" id="advice">

      <div class="row mb10">

        <div class="col-md-12">

          <label for="injectionscommentbox-textarealabel">Injections (comment box)</label>
          <%= f.input :injectionscommentbox, as: :text,  :label => false, :required => false, :input_html => {:class => 'form-control', :rows => 2, :cols => 70, :name => "opdrecord[advice_attributes][injectionscommentbox]", :value => opdrecord.advice.read_attribute(:injectionscommentbox) } %>

        </div>

      </div>

      <div class="row">

        <div class="col-md-12">
          <div class="col-md-2"></div>
          <%= f.input :dressing, wrapper_html: {:class=>"col-md-7"}, collection: ['Dressing change', 'Suture removal', 'Cast/Splint Removal', 'Cast/Splint Change'], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[advice_attributes][dressing]" }, :checked => opdrecord.advice.read_attribute(:dressing) %>
        </div>

        <div class="col-md-12">

          <div class="col-md-2">Immobilization:</div>
          <%= f.input :immobilization, wrapper_html: {:class=>"col-md-2"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[advice_attributes][immobilization]" }, :checked => opdrecord.advice.read_attribute(:immobilization) || 'No' %>

          <div class="col-md-1 castorsplint-label">Cast or splint:</div>
          <%= f.input :castorsplint, wrapper_html: {:class=>"col-md-2"}, collection: ['Cast', 'Splint'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white radio_castorsplint', :input_html => {:name => "opdrecord[advice_attributes][castorsplint]" }, :checked => opdrecord.advice.read_attribute(:castorsplint) %>

        </div>

        <div class="row">

          <div class="col-md-5"></div>

          <%= f.input :cast, collection: ['AE cast', 'BE cast', 'AK cast', 'BK cast', 'Scaphoid cast'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white radio_cast', :input_html => {:name => "opdrecord[advice_attributes][cast]" }, :checked => opdrecord.advice.read_attribute(:cast) %>

          <%= f.input :splint, collection: ['AE slab', 'BE slab', 'AK slab', 'BK slab', 'Ulnar gutter splint', 'Thumb spica splint', 'Cock up splint', 'Finger splint', 'Posterior knee splint'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white radio_splint', :input_html => {:name => "opdrecord[advice_attributes][splint]" }, :checked => opdrecord.advice.read_attribute(:splint) %>

        </div>

        <div class="col-md-12">

          <div class="col-md-2">Brace or orthotic:</div>
          <%= f.input :braceoororthotic, wrapper_html: {:class=>"col-md-4"}, collection: ['Brace', 'Orthotic'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[advice_attributes][braceoororthotic]" }, :checked => opdrecord.advice.read_attribute(:braceoororthotic) %>

          <div class="col-md-2"></div>
          <%= f.input :physicalexercise, wrapper_html: {:class=>"col-md-4"}, collection: ['Physical exercise','Diet modification', 'Manage/control weight', 'Yoga','Bed rest'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[advice_attributes][physicalexercise]" }, :checked => opdrecord.checkboxes_checked(opdrecord.advice.read_attribute(:physicalexercise)) %>

        </div>

        <div class="col-md-12">

          <div class="col-md-2">Rom advice:</div>
          <%= f.input :romadvice, wrapper_html: {:class=>"col-md-4"}, collection: ['Allow', 'Restrict', 'Improve'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[advice_attributes][romadvice]" }, :checked => opdrecord.advice.read_attribute(:romadvice) %>


          <label for="romadvicecommentbox-textarealabel">Rom advice (comment box):</label>
          <%= f.input :romadvicecommentbox, as: :text,  :label => false, :required => false, :input_html => {:class => 'form-control', :rows => 2, :cols => 70, :name => "opdrecord[advice_attributes][romadvicecommentbox]", :value => opdrecord.advice.read_attribute(:romadvicecommentbox) } %>

        </div>

        <div class="col-md-12">

          <div class="col-md-2">Weight bearing advice:</div>
          <%= f.input :weightbearingadvice, wrapper_html: {:class=>"col-md-4"}, collection: ['FWB', 'PWB', 'TWB', 'NWB'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[advice_attributes][weightbearingadvice]" }, :checked => opdrecord.advice.read_attribute(:weightbearingadvice) %>

          <div class="col-md-2">Support cane:</div>
          <%= f.input :supportcane, wrapper_html: {:class=>"col-md-4"}, collection: ['Crutches', 'Walker', 'Wheel-chair'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[advice_attributes][supportcane]" }, :checked => opdrecord.advice.read_attribute(:supportcane) %>

        </div>

        <div class="col-md-12">

          <div class="col-md-2">Refer to physiotherpist:</div>
          <%= f.input :refertophysiotherpist, wrapper_html: {:class=>"col-md-1"}, collection: ['No', 'Yes'], :as => :hg_radio_button, :label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[advice_attributes][refertophysiotherpist]" }, :checked => opdrecord.advice.read_attribute(:refertophysiotherpist) || 'No' %>

          <div class="col-md-1 physiotherapyadvice-checkbox">Physiotherapy advice:</div>
          <%= f.input :physiotherapyadvice, wrapper_html: {:class=>"col-md-5"}, collection: ['Exercises', 'Open chain', 'Closed chain', 'Strenghtening', 'Stretching', 'Core exercises', 'Electrical Stimulation', 'SWD', 'USG', 'TENS', 'Electrotherapy', 'Ice packs', 'Hot packs', 'Joint mobilisation', 'Muscle activation', 'Taping/Strapping', 'Acupuncture/Dry Needling', 'Prehabilitation'], :as => :hg_checkbox, :label => false, :required => false,:class => 'btn btn-xs btn-white checkbox_physiotherapyadvice', :input_html => {:name => "opdrecord[advice_attributes][physiotherapyadvice]" }, :checked => opdrecord.checkboxes_checked(opdrecord.advice.read_attribute(:physiotherapyadvice)) %>

          <label for="physiotherapyadvicecommentbox-textarealabel" class="physiotherapyadvicecommentbox-textarealabel">Physiotherapy advice (comment box):</label>
          <%= f.input :physiotherapyadvicecommentbox, as: :text,  :label => false, :required => false, :input_html => {:class => 'form-control radio_physiotherapyadvicecommentbox', :rows => 2, :cols => 40, :name => "opdrecord[advice_attributes][physiotherapyadvicecommentbox]", :value => opdrecord.advice.read_attribute(:physiotherapyadvicecommentbox) } %>

        </div>

        <div class="col-md-12">

          <div class="col-md-2">Other precautions:</div>
          <%= f.input :otherprecautions, wrapper_html: {:class=>"col-md-4"}, collection: ['No', 'Yes'], :as => :hg_radio_button, :label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[advice_attributes][otherprecautions]" }, :checked => opdrecord.advice.read_attribute(:otherprecautions) || 'No' %>


          <label for="otherprecautionscommentbox-textarealabel" class="otherprecautionscommentbox-textarealabel">Other precautions (comment box)</label>
          <%= f.input :otherprecautionscommentbox, as: :text,  :label => false, :required => false, :input_html => {:class => 'form-control textarea_otherprecautionscommentbox', :rows => 2, :cols => 40, :name => "opdrecord[advice_attributes][otherprecautionscommentbox]", :value => opdrecord.advice.read_attribute(:otherprecautionscommentbox) } %>

        </div>

        <div class="col-md-12">

          <div class="col-md-2">Other reference:</div>
          <%= f.input :otherreference, wrapper_html: {:class=>"col-md-4"}, collection: ['No', 'Yes'], :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[advice_attributes][otherreference]" }, :checked => opdrecord.advice.read_attribute(:otherreference) || 'No' %>

          <label for="otherreferencecommentbox-textarealabel" class="otherreferencecommentbox-textarealabel">Other reference (comment box)</label>
          <%= f.input :otherreferencecommentbox, as: :text,  :label => false, :required => false, :input_html => {:class => 'form-control textarea_otherreferencecommentbox', :rows => 2, :cols => 40, :name => "opdrecord[advice_attributes][otherreferencecommentbox]", :value => opdrecord.advice.read_attribute(:otherreferencecommentbox) } %>

        </div>

      </div>

      <div class="row">

        <div class="col-md-1">Follow up:</div>
        <div class="col-md-1"><%= f.input_field :followupappointmenttimeframeduration, :class => "form-control", :maxlength => 3, :size => 3, :required => false, :name => "opdrecord[advice_attributes][followupappointmenttimeframeduration]", :value => opdrecord.read_attribute(:followupappointmenttimeframeduration) %></div>
        <%= f.input :followupappointmenttimeframe, wrapper_html: {:class=>"col-md-4"}, collection: ['Days', 'Weeks', 'Months', 'Year'], :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "opdrecord[advice_attributes][followupappointmenttimeframe]" }, :checked => opdrecord.advice.read_attribute(:followupappointmenttimeframe) || 'Weeks' %>

      </div>

</div>