<div class="tab-pane active" id="procedure">     

      <div class="row">

        <div class="col-md-12">

          <div id="procedures">

            <table class="table table-striped">
              <thead>
              <tr>
                <th>X</th>
                <th>Region</th>
                <th>Side or Site</th>
                <th>Status</th>
                <th>Approach</th>
                <th>Prcoedure Type</th>
                <th>Procedure</th>
                <th>Qualifier</th>
                <th>Sub Qualifier</th>
                <th></th>
              </tr>
              </thead>
              <tbody>

              <% @opdrecord.procedure.each_with_index do |elem, i| %>

                  <tr class="procedurelist">

                    <td>
                       <%= radio_button_tag "opdrecord[procedure_attributes][#{i}][procedurexxx]", "Advised", true, { :class => 'form-control opdrecord_procedurexxx' } %> <%= label_tag "Advised" %>
                       <%= radio_button_tag "opdrecord[procedure_attributes][#{i}][procedurexxx]", "Performed", false, { :class => 'form-control opdrecord_procedurexxx' } %> <%= label_tag "Performed" %>
                    </td>  

                    <td>
                      <%= select_tag "opdrecord[procedure_attributes][#{i}][procedureregion]", options_for_select(opdrecord.get_procedures_regions_list_attribute("regions", specalityfoldername, templatetype), elem.procedureregion), { :class => 'form-control opdrecord_procedureregion', :include_blank => true } %>
                      <%= hidden_field_tag "opdrecord[procedure_attributes][#{i}][procedureregionidtext]", elem.procedureregionidtext, { :class => 'form-control opdrecord_procedureregionidtext'} %>
                      <%= hidden_field_tag "opdrecord[procedure_attributes][#{i}][procedureregionfilename]", elem.procedureregionfilename, { :class => 'form-control opdrecord_procedureregionfilename'} %>
                    </td>

                    <td>
                      <%= select_tag "opdrecord[procedure_attributes][#{i}][procedureside]", options_for_select(opdrecord.get_procedure_side_list_attribute("side", specalityfoldername, templatetype), elem.procedureside), { :class => 'form-control opdrecord_procedureside', :include_blank => true} %>
                      <%= hidden_field_tag "opdrecord[procedure_attributes][#{i}][proceduresidetext]", elem.proceduresidetext, { :class => 'form-control opdrecord_proceduresidetext'} %>
                    </td>

                    <td>
                      <%= select_tag "opdrecord[procedure_attributes][#{i}][procedurestatus]", options_for_select(opdrecord.get_procedure_status_list_attribute("type", specalityfoldername, templatetype), elem.procedurestatus), { :class => 'form-control opdrecord_procedurestatus' } %>
                      <%= hidden_field_tag "opdrecord[procedure_attributes][#{i}][procedurestatustext]", elem.procedurestatustext, { :class => 'form-control opdrecord_procedurestatustext' } %>
                    </td>

                    <td>
                      <%= select_tag "opdrecord[procedure_attributes][#{i}][procedureapproach]", options_for_select(opdrecord.get_procedure_approach_list_attribute("approach", specalityfoldername, templatetype), elem.procedureapproach), { :class => 'form-control opdrecord_procedureapproach' } %>
                      <%= hidden_field_tag "opdrecord[procedure_attributes][#{i}][procedureapproachtext]", elem.procedureapproachtext, { :class => 'form-control opdrecord_procedureapproachtext'} %>
                    </td>

                    <td>
                      <%= select_tag "opdrecord[procedure_attributes][#{i}][proceduretype]", options_for_select(opdrecord.get_procedure_type_list_attribute("procedures", specalityfoldername, templatetype), elem.proceduretype), { :class => 'form-control opdrecord_proceduretype', :include_blank => true} %>
                      <%= hidden_field_tag "opdrecord[procedure_attributes][#{i}][proceduretypetext]", elem.proceduretypetext, { :class => 'form-control opdrecord_proceduretypetext'} %>
                    </td>

                    <td>
                      <%= select_tag "opdrecord[procedure_attributes][#{i}][procedurename]", options_for_select(opdrecord.get_procedure_subtype_list_attributes(elem.proceduretypetext, specalityfoldername, templatetype), elem.procedurename), { :class => 'form-control opdrecord_procedurename', :include_blank => true} %>
                      <%= hidden_field_tag "opdrecord[procedure_attributes][#{i}][procedurenametext]", elem.procedurenametext, { :class => 'form-control opdrecord_procedurenametext'} %>
                    </td>

                    <td>
                      <%= select_tag "opdrecord[procedure_attributes][#{i}][procedurequalifier]", options_for_select(opdrecord.get_procedure_qualifier_list_attributes(elem.procedurenametext, specalityfoldername, templatetype), elem.procedurequalifier), { :class => 'form-control opdrecord_procedurequalifier', :include_blank => true} %>
                      <%= hidden_field_tag "opdrecord[procedure_attributes][#{i}][procedurequalifiertext]", elem.procedurequalifiertext, { :class => 'form-control opdrecord_procedurequalifiertext'} %>
                    </td>

                    <td>
                      <%= select_tag "opdrecord[procedure_attributes][#{i}][proceduresubqualifier]", options_for_select(opdrecord.get_procedure_sub_qualifier_list_attributes("proceduresubqualifier", specalityfoldername, templatetype), elem.proceduresubqualifier), { :class => 'form-control opdrecord_proceduresubqualifier', :include_blank => true} %>
                      <%= hidden_field_tag "opdrecord[procedure_attributes][#{i}][proceduresubqualifiertext]", elem.proceduresubqualifiertext, { :class => 'form-control opdrecord_proceduresubqualifiertext'} %>
                    </td>

                    <td>
                      <a id="removeprocedurebutton" class="btn btn-sm btn-primary btn-danger removeprocedurebutton" href="javascript:;" name="removeprocedurebutton" ><span class="glyphicon glyphicon-remove"></span></a>
                    </td>

                  </tr>

              <% end %>

              </tbody>

            </table>

          </div>

        </div>

      </div>
      
      <div class="row">

        <div class="col-md-8">

          <label for="comments-textarealabel">Comments</label>
          <%= f.input :procedurecomments, as: :text,  :label => false, :required => false, :input_html => {:class => 'form-control', :rows => 2, :cols => 70, :required => false, :name => "opdrecord[procedurecomments]", :value => opdrecord.read_attribute(:procedurecomments) } %>

        </div>

      </div>

</div>