<div class="row">
  <div class="col-md-12">
    <div id="diagnosis">
      <table class="table" id="table_diagnosis_list">
        <thead>
          <tr>
            <th width="92%" style="padding-top:0px;padding-bottom:0px;"></th>
            <th width="8%" style="padding-top:0px;padding-bottom:0px;"></th>
          </tr>
        </thead>
        <tbody class="diagnosis-added" id="opdrecord_diagnosislist">
          <% diagnosislist.each_with_index do |elem, i| %>
            <tr class="diagnosislist">
              <td style="width:90%;">
                <% unless @action == "New" %>
                  <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][id]", elem.id, {:class => 'form-control id' } %>
                <% end %>
                <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
                <div class="">
                  <div class="">
                    <%if elem.created_from == "migration"%>
                      <div><span style="color: #428bca" id="<%=  source%>_diagnosis_text_<%=i%>_diagnosisoriginalname"><%= elem.diagnosisname %></span></div>
                    <% elsif elem.icd_type == 'TranslatedIcdDiagnosis' %>
                      <div><span style="color: #428bca" id="<%=  source%>_diagnosis_text_<%=i%>_diagnosisoriginalname"><%= elem.diagnosisname%></span> - <span><strong id="<%= source %>_diagnosis_text_<%=i%>_icddiagnosiscode"><%= elem.icddiagnosiscode.to_s.upcase.insert(3, '.')%></strong></span></div>
                    <% else %>
                      <div><span style="color: #428bca" id="<%=  source%>_diagnosis_text_<%=i%>_diagnosisoriginalname"><%= elem.diagnosisoriginalname%></span> - <span><strong id="<%= source %>_diagnosis_text_<%=i%>_icddiagnosiscode"><%= elem.icddiagnosiscode.to_s.upcase.insert(3, '.')%></strong></span></div>
                    <%end%>
                    <div id="<%= source %>_diagnosis_text_<%=i%>_diagnosis_comment">
                      <% if elem.diagnosis_comment.present? %>
                        <li><%= elem.diagnosis_comment%></li>
                      <%end%>
                    </div>
                    <div id="<%= source %>_diagnosis_text_<%=i%>_users_comment">
                      <% if elem.users_comment.present? %>
                        <li><%= elem.users_comment%></li>
                      <%end%>
                    </div>
                    <hr style="margin:4px;" />
                    - Added by <b><%= elem.entered_by %></b> on (<%= elem.entry_datetime.strftime("%d/%m/%Y | %I:%M %p") %>)

                    <% if elem.updated_by.present? %>
                        | -Last updated by <b><%= elem.updated_by %></b> on (<%= elem.updated_datetime.strftime("%d/%m/%Y | %I:%M %p") %>)
                    <%end%>
                    <span id="<%= source %>_diagnosis_text_<%=i%>_updated"></span>

                    <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][diagnosisname]", elem.diagnosisname, {:maxlength => 50, :size => 50, :class => 'form-control diagnosisname' } %>
                    <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][diagnosisoriginalname]", elem.diagnosisoriginalname, {:maxlength => 50, :size => 50, :class => 'form-control diagnosisoriginalname' } %>
                    <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][icddiagnosiscode]", elem.icddiagnosiscode, {:class => 'form-control icddiagnosiscode' } %>
                    <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][saperatedicddiagnosiscode]", elem.saperatedicddiagnosiscode, {:class => 'form-control saperatedicddiagnosiscode' } %>
                    <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][icddiagnosiscodelength]", elem.icddiagnosiscodelength, {:class => 'form-control icddiagnosiscodelength' } %>
                    <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][entered_by]", elem.entered_by, {:class => 'form-control icddiagnosisentered_by' } %>
                    <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][entered_by_id]", elem.entered_by_id.to_s, {:class => 'form-control icddiagnosisentered_by_id' } %>
                    <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][advised_by]", elem.advised_by, {:class => 'form-control icddiagnosisadvised_by' } %>
                    <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][advised_by_id]", elem.advised_by_id.to_s, {:class => 'form-control icddiagnosisadvised_by_id' } %>
                    <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][updated_by]", elem.updated_by, {:class => 'form-control icddiagnosisupdated_by' } %>
                    <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][updated_by_id]", elem.updated_by_id.to_s, {:class => 'form-control icddiagnosisupdated_by_id' } %>
                    <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][diagnosis_comment]", elem.diagnosis_comment, {:class => 'form-control icddiagnosisdiagnosis_comment' } %>
                    <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][users_comment]", elem.users_comment, {:class => 'form-control icddiagnosisusers_comment' } %>
                    <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][entry_datetime]", elem.entry_datetime, {:class => 'form-control icddiagnosisentry_datetime' } %>
                    <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][advised_datetime]", elem.advised_datetime, {:class => 'form-control icddiagnosisadvised_datetime' } %>
                    <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][updated_datetime]", elem.updated_datetime, {:class => 'form-control icddiagnosisupdated_datetime' } %>
                    <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][entered_at_facility]", elem.entered_at_facility, {:class => 'form-control entered_at_facility' } %>
                    <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][entered_at_facility_id]", elem.entered_at_facility_id.to_s, {:class => 'form-control entered_at_facility_id' } %>
                    <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][advised_at_facility]", elem.advised_at_facility, {:class => 'form-control advised_at_facility' } %>
                    <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][advised_at_facility_id]", elem.advised_at_facility_id.to_s, {:class => 'form-control advised_at_facility_id' } %>
                    <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][updated_at_facility]", current_facility.name, {:class => 'form-control updated_at_facility' } %>
                    <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][updated_at_facility_id]", current_facility.id, {:class => 'form-control updated_at_facility_id' } %>
                     <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][icd_type]", elem.icd_type, {:class => 'form-control icd_type' } %>
                    <% if elem.created_from == "migration" %>
                      <%= hidden_field_tag "#{source}[diagnosislist_attributes][#{i}][created_from]", 'migration', {:class => 'form-control updated_at_facility_id' } %>
                    <% end %>
                  </div>
                </div>
              </td>
              <td style="width:10%;">
                <%unless elem.created_from == "migration"%>
                  <a id="editdiagnosisbutton<%=i%>" data-id="<%=elem.id%>" class="btn btn-xs btn-info" href="javascript:;" name="editsaveddiagnosisbutton"><i class="fa fa-pencil-square-o"></i></a>
                <%end%>
                <a id="removediagnosisbutton<%=i%>" class="btn btn-xs btn-danger removediagnosisbutton" href="javascript:;" name="removediagnosisbutton"><span class="glyphicon glyphicon-remove"></span></a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% unless @source == "inpatient_ipd_record" %>
        <div class="diagnosis-removed" style="display:none;">
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  jQuery('.diagnosis-added').on('click', "a[name*='editsaveddiagnosisbutton']", function(event) {
    event.preventDefault();
    var fieldcounter;
    fieldcounter = jQuery(this).attr('id').slice(-1)
    var diagnosis_comment = $("#<%= source %>_diagnosislist_attributes_"+fieldcounter+"_diagnosis_comment").val()
    var users_comment = $("#<%= source %>_diagnosislist_attributes_"+fieldcounter+"_users_comment").val()
    var icdcode = $("#<%= source %>_diagnosislist_attributes_"+fieldcounter+"_icddiagnosiscode").val()
    var icd_type = $("#<%= source %>_diagnosislist_attributes_"+fieldcounter+"_icd_type").val()
    var source  = "<%= source %>"

    jQuery.ajax({
      type: "GET",
      url: "/icdtree/edit_diagnosis_icd",
      data: {diagnosis_comment: diagnosis_comment, icd_type: icd_type, users_comment: users_comment, elemid: fieldcounter,record_id: "<%=record.id%>",diagnosis_id: $(this).attr("data-id"),icdcode: icdcode, remote: "true",source: '<%= source %>'},
    });
  });
  jQuery('.diagnosis-added').on('click', "a[name*='removediagnosisbutton']", function() {
    event.preventDefault();
    var diagnosislist_removed_tr_html;
    var fieldcounter;
    fieldcounter = jQuery(this).attr('id').slice(-1);
    var diagnosislist_tr_array = jQuery(this).parents('.diagnosislist').find(".id");
    if (diagnosislist_tr_array.length > 0) {
      jQuery(this).parents('.diagnosislist').find("input[name*='_destroy']").val("1");
      diagnosislist_removed_tr_html = jQuery(this).parents('.diagnosislist').wrap('<p/>').parent().html();
      jQuery(this).parents('.diagnosislist').unwrap();
      jQuery('.diagnosis-removed').append(diagnosislist_removed_tr_html);
      jQuery(this).parents('.diagnosislist').remove();
      _renumber_id_after_remove("tbody.diagnosis-added", "div.diagnosis-removed");
    } else {
      jQuery(this).parents('.diagnosislist').remove();
      _renumber_id_after_remove("tbody.diagnosis-added", "div.diagnosis-removed");
    }
    //manage_diagnosis_comments();
    check_validation_status(
      $('#opdrecord_diagnosislist'),
      'diagnosis_is_valid', 'diagnosis_step', true,
      'opdrecord_provisional_diagnosis'
    );
  });
</script>
