<%if @speciality_folder_name == "ophthalmology"%>
  <ul class="steps" style="margin-left: 0">
    <% Global.send("#{@speciality_folder_name}").send("#{@templatetype}template").steps.each do |steps| %>
      <li data-step=<%=steps[:step]%> id=<%=steps[:id]%> <% if steps[:id] != 'advice_step' %>onclick="toggle_btn('<%=steps[:id]%>');"<%end%> class="<% if steps[:active] == 1%>active<%else%><%end%>" style="cursor:pointer;"><span class="badge text_head <% if steps[:active] == 1%>badge-info<%end%>">Step <%=steps[:step]%></span><%=steps[:name]%><span class="chevron"></span></li>
    <% end %>
  </ul>
  <script type="text/javascript">
    $('#refraction_step').on("click", function() {
      $("#MyWizard").wizard('next');
    });
    $('#examination_step').on("click", function() {
      $("#MyWizard").wizard('next').wizard('next');
    });
    $('#assesment_step').on("click", function() {
      $("#MyWizard").wizard('next').wizard('next').wizard('next');
    });
    $('#diagnosis_step').on("click", function() {
      $("#MyWizard").wizard('next').wizard('next').wizard('next').wizard('next');
    });
    $('#binocular_vision_assessment_step').on("click", function() {
      $("#MyWizard").wizard('next').wizard('next').wizard('next');
    });
    $('#advice_step').on("click", function() {
      $("#MyWizard").wizard('next').wizard('next').wizard('next').wizard('next').wizard('next');
      var active_li = '';
      if($('#ul_soap_plan').length > 0) {
        active_li = $('#ul_soap_plan').find('li.active').attr('data-id');
      } else {
        active_li = $('#ul_plan').find('li.active').attr('data-id');
      }
      prefix_and_toggle(active_li, 'advice');
    });
    $('#clincalevaluation_step').on("click", function() {
      var active_li = $('#ul_clinical').find('li.active').attr('data-id');
      prefix_and_toggle(active_li, 'clincalevaluation');
    });
  </script>
<%else%>
  <ul class="steps" style="margin-left: 0">
    <li data-step="1" id="history_step" class="active" style="cursor:pointer;"onclick="toggle_btn('history_step');"><span class="badge text_head badge-info ">Step 1</span>History<span class="chevron"></span></li>
    <li data-step="2" id="examination_step" style="cursor:pointer;"onclick="toggle_btn('examination_step');"><span class="badge text_head badge-info ">Step 2</span>Examination<span class="chevron"></span></li>
    <li data-step="3" id="assesment_step" style="cursor:pointer;"onclick="toggle_btn('assesment_step');"><span class="badge text_head badge-info ">Step 3</span>Investigation<span class="chevron"></span></li>
    <li data-step="4" id="diagnosis_step" style="cursor:pointer;"onclick="toggle_btn('diagnosis_step');"><span class="badge text_head badge-info ">Step 4</span>Diagnosis<span class="chevron"></span></li>
    <li data-step="5" id="advice_step" style="cursor:pointer;"><span class="badge text_head badge-info ">Step 5</span>Advice<span class="chevron"></span></li>
  </ul>

  <script type="text/javascript">
    $('#examination_step').on("click", function() {
      $("#MyWizard").wizard('next');
    });
    $('#assesment_step').on("click", function() {
      $("#MyWizard").wizard('next').wizard('next');
    });
    $('#diagnosis_step').on("click", function() {
      $("#MyWizard").wizard('next').wizard('next').wizard('next');
    });
    $('#advice_step').on("click", function() {
      $("#MyWizard").wizard('next').wizard('next').wizard('next').wizard('next');
      var active_li = $('#ul_soap_plan').find('li.active').attr('data-id');
      toggle_btn(active_li, 'advice_step_');
    });
  </script>
<%end%>

<style type="text/css">
  @media only screen and  (min-width: 768px) and (max-width: 1200px) {
    /*.fuelux .wizard>.steps li{
      font-size: 15px;
      padding: 0 10px 0 20px;
      position: relative;
    }*/
    .fuelux .wizard>.steps li span{
      display: none;
    }
  }
</style>
