<% i = i.to_i%>
<% @number_of_days = 1%>
<% @last_date = last_date %>
<% @frequency = 1 %>
<tr class="taper_row">
 <%= hidden_field_tag "tapering_kit[tapering_set_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
  <td style="text-align: center;padding-left: 14px;">
    <input style="padding:5px 10px;" class="form-control number_of_rows" value="<%=i+1%>" readonly="readonly">
  </td>
  <td class="day_duration p5_10">
    <input class="form-control p5_10 medicineduration_row" name="tapering_kit[tapering_set_attributes][<%= i %>][number_of_days]" value="<%= params[:ajax][:duration] %>" type="number" min="1" max="999" onKeyPress="if(this.value.length==3) return false;" required>
  </td>
  <td>
    <input style="padding:5px 10px;" class="form-control start_date" type="text" name="tapering_kit[tapering_set_attributes][<%= i %>][start_date]" readonly="readonly" value="  <%= (Date.parse(@last_date) + 1).strftime("%d/%m/%Y") %>" >
  </td>
  <td>
    <input style="padding:5px 10px;cursor:pointer;" class="form-control end_date" type="text" name="tapering_kit[tapering_set_attributes][<%= i %>][end_date]"  readonly="readonly">
  </td>
  <td class="bootstrap-timepicker timepicker">
    <input style="padding:5px 10px;cursor:pointer;" class="form-control timepicker_start_time" type="text" name="tapering_kit[tapering_set_attributes][<%= i %>][start_time]"  value="6:00 AM">
  </td>
  <td class="bootstrap-timepicker timepicker">
    <input style="padding:5px 10px;cursor:pointer;" class="form-control timepicker_end_time" type="text" name="tapering_kit[tapering_set_attributes][<%= i %>][end_time]" value="10:00 PM">
  </td>
  <td class="freq_col" style="display: none;">
    <div class="input-group">
      <input style="padding:5px 10px;" class="form-control" value="<%= @frequency %>" type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" min = "1" name="tapering_kit[tapering_set_attributes][<%= i %>][frequency]" >
      <span class="input-group-addon">times a day</span>
    </div>
  </td>
  <td class="dosage_col" style="display: none;">
    <div class="input-group">
      <input style="padding:5px 10px;" class="form-control" value="" name="tapering_kit[tapering_set_attributes][<%= i %>][dosage]">
    </div>
  </td>
  <td>
    <div class="input-group">
      <input style="padding:5px 10px;" class="form-control" value="<%= @interval %>" type="number" name="tapering_kit[tapering_set_attributes][<%= i %>][interval]">
      <span class="input-group-addon">hour</span>
    </div>
  </td>
  <td style="text-align: center;">
   <div class="form-group">
      <a id="removetaperingrowbutton<%=i%>" class="btn btn-xs btn-primary btn-danger removetaperingrowbutton" href="javascript:;" name="removetaperingrowbutton"><span class="glyphicon glyphicon-remove"></span></a>
   </div>
  </td>
</tr>