<% r_file = YAML.load_file("#{Rails.root}/app/views/#{rules_file}") rescue nil %>
<% if r_file.present? && r_file["#{templatetype}template"].present? %>
	<div class="row mb10">
		<div class="col-md-12 col-sm-12 mb5">
			<div class="validation_status_summary mb5" id="validation_status_summary">
				<div class="mb5">
					<span><strong>TEMPLATE STATUS (Will not appear in print/mail)</strong></span>
					<div class="summary-line-border"></div>
				</div>
				<div class="col-md-12">
					<ul class="list-inline">
						<% r_file["#{templatetype}template"].each.with_index(1) do |field_title, i| %>
              <% li_class = (opdrecord.send(field_title[0]).present?) ? 'my-success' : 'my-error' %>
              <% i_class = (opdrecord.send(field_title[0]).present?) ? 'fa-check-circle' : 'fa-times-circle' %>
              <li id="<%=field_title[0]%>" class="<%=li_class%>"><i class="fa <%=i_class%>"></i> <%= field_title[1]['display_name'] %></li>
						<% end %>
						<li class="horizontal">&nbsp;</li>
						<li><i class="fa fa-lightbulb" style="color: #fd7e14" title="Status of filled information"></i></li>
						<li style="font-weight: bolder; color: #777"><i class="fa fa-times-circle" style=""></i>&nbsp;Not Filled</li>
						<li style="font-weight: bolder; color: #1c9806"><i class="fa fa-check-circle" style=""></i>&nbsp;Filled</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<style type="text/css">
    .list-inline >li {
      padding-right: 2px;
      padding-left: 3px;
    }

		.my-error {
			font-weight: bolder;
			color: #777;
			background-color: #ddd;
			border-color: #777;
		}

		.my-warning {
			font-weight: bolder;
			color: #c47709;
			background-color: #fce6c6;
			border-color: #f49917;
		}

		.my-success {
			font-weight: bolder;
			color: #1c9806;
			background-color: #bcfcb1;
			border-color: #23bf08;
		}

    .my-success-dark {
      font-weight: bolder;
      color: #1c9806;
      background-color: #b1e2a8;
      border-color: #23bf08;
      padding-top: 5px !important;
      height: 30px;
    }

    .my-danger {
      font-weight: bolder;
      color: #fff;
      background-color: #d9534f;
      border-color: #d43f3a;
    }

    .my-error-dark {
      font-weight: bolder;
      color: #777;
      background-color: #ddd;
      border-color: #777;
      padding-top: 5px !important;
      height: 30px;
    }

		.horizontal {
			border-left: 2px solid;
			margin-left: 20px !important;
			margin-right: -5px !important;
		}
	</style>

  <script type="text/javascript">
    if("<%= @organisations_setting.try(:mandatory_opd_templates) %>" == "true"){
      function hide_iop_pmt_post_op(){
        if("<%= current_facility.country_id %>" == "VN_254"){
          let templatetype = '<%= params[:templatetype] %>' ||  '<%= @templatetype %>'
          if(templatetype == 'pmt' || templatetype == 'postop'){
            $('#iop_is_valid').hide()
          }
        }
      }
      hide_iop_pmt_post_op()
    } else {
      $('#history_is_valid').hide()
      $('#vision_is_valid').hide()
      $('#iop_is_valid').hide()
    }
  </script>
<% end %>
