<div class="pageheader header_change" style="padding-bottom: 5px ;padding-top: 5px">
  <%= stylesheet_link_tag 'bootstrap-fileupload.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap-fileupload.min', 'data-turbolinks-track' => true %>
  <h2 style="font-size: 20px"><i class="fa fa-user-md" style="font-size: 20px"></i>Facility Settings<span>Manage your facility settings here...</span></h2>
  <!--<div class="breadcrumb-wrapper" style="top: 16px;">-->
    <!--<span class="label">You are here:</span>-->
    <!--<ol class="breadcrumb">-->
      <!--<li><%#= link_to 'Account Settings', 'javascript:history.go(-1);' %></li>-->
      <!--<li class="active"> Manage Practice Settings </li>-->
    <!--</ol>-->
  <!--</div>-->
</div>
<div class="content clearfix">
  <div role="tabpanel" class="content_container clearfix">
    <div class="col-md-2 mt15 side_bar_menu col-lg-2" style="overflow-y: scroll; height: 100vh;">
      <!-- new menu -->
      <ul class="list-unstyled components settings_update">
        <li class="setting-heading">
          <a href="#generalSettingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle settings_head clearfix" id="general-setting"><span class="b-icon"><i class="fa fa-cog"></i>&nbsp;&nbsp;</span>General&nbsp;&nbsp;&nbsp;<span class="caret"></span></a>
          <ul class="collapse in list-unstyled padded_list setting-heading-child" id="generalSettingSubmenu">
            <!-- <li role="presentation" class="active"><a href="#manage_inventory_store" aria-controls="manage_inventory_store" role="tab" data-toggle="tab">Inventory Store Setup</a></li> -->
            <li role="presentation" class="active"><a href="#manage_organisation" aria-controls="manage_organisation" role="tab" id="manage_organisation_id" data-toggle="tab">Organisation Setup</a></li>
            <li role="presentation"><a href="#facility_contact_list" aria-controls="facility_contact_list" role="tab" id="facility_contact_list_ids" data-toggle="tab">Facility Contact List</a></li>
            <li role="presentation"><a href="#manage_referrals" aria-controls="manage_referrals" role="tab" id="manage_referrals_id" data-toggle="tab">Referral Sources</a></li>
            <li role="presentation"><a href="#manage_finance_views" aria-controls="manage_finance_views" role="tab" id="manage_finance_views_id" data-toggle="tab">Facility Setup</a></li>
            <% if current_facility.department_ids.include?('225746001') %>
            <li role="presentation"><a href="#manage_wards" aria-controls="manage_wards" role="tab" id="manage_wards_id" data-toggle="tab">Ward Setup</a></li>
            <% end %>
            <li role="presentation"><a href="#ot_setup_form_settings" aria-controls="ot_setup_form_settings" role="tab" id="ot_setup_form_settings_id" data-toggle="tab">OT Setup</a></li>
            <li role="presentation"><a href="#manage_psrs" aria-controls="manage_psrs" role="tab" id="manage_psrs_id" data-toggle="tab">PSR Devices</a></li>
            <li role="presentation"><a href="#time_slots" aria-controls="time_slots" role="tab" id="time_slots_id" data-toggle="tab">User Time Slot Management</a></li>
            <li role="presentation"><a href="#display_font_size" aria-controls="manage_psrs" role="tab" id="display_font_size_id" data-toggle="tab">Print Font Size</a></li>
          </ul>
        </li>
        <li class="setting-heading">
          <a href="#inventorySettingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle settings_head clearfix" id="store-setting"><span class="b-icon"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;</span>Inventory&nbsp;& Supply Chain&nbsp;&nbsp;<span class="caret"></span></a>
          <ul class="collapse list-unstyled padded_list setting-heading-child" id="inventorySettingSubmenu">
            <li role="presentation"><a href="#manage_inventory_store" aria-controls="manage_inventory_store" role="tab" id="manage_inventory_store_id" data-toggle="tab">Store Setup</a></li>
            <!--            <li role="presentation"><a href="#manage_inventory_item" aria-controls="manage_inventory_item" role="tab" id="manage_inventory_item_id" data-toggle="tab">Item Master</a></li>-->
          </ul>
        </li>
        <% if current_facility.show_finances? %>
          <li class="setting-heading">
            <a href="#financialSettingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle settings_head clearfix" id="financial-setting"><span class="b-icon"><i class="fa fa-money"></i>&nbsp;&nbsp;</span>Financial&nbsp;&nbsp;&nbsp;<span class="caret"></span></a>
            <ul class="collapse list-unstyled padded_list setting-heading-child" id="financialSettingSubmenu">
              <!-- <li role="presentation"><a href="#manage_services_card" aria-controls="manage_services" role="tab" id="manage_services_card_id" data-toggle="tab">Services Master</a></li> -->
              <li role="presentation"><a href="#manage_service_masters_guide" aria-controls="manage_service_masters_guide" role="tab" id="manage_service_master_guide_id" data-toggle="tab">Service Master Guide</a></li>
              <li role="presentation"><a href="#manage_surgery_packages" aria-controls="manage_surgery_packages" role="tab" id="manage_surgery_package_id" data-toggle="tab">Surgery Package</a></li>
              <li role="presentation"><a href="#manage_pricing_masters" aria-controls="manage_pricing_masters" role="tab" id="manage_pricing_master_id" data-toggle="tab">Pricing Master</a></li>
            </ul>
          </li>
        <% end %>
        <li class="setting-heading">
          <a href="#clinicalSettingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle settings_head clearfix" id="clinical-setting"><span class="b-icon"><i class="fa fa-stethoscope"></i>&nbsp;&nbsp;</span>Clinical&nbsp;&nbsp;&nbsp;<span class="caret"></span></a>
           <ul class="collapse list-unstyled padded_list setting-heading-child" id='clinicalSettingSubmenu'>
            <li role="presentation"><a href="#facility_appointments" aria-controls="facility_appointments" role="tab" id="facility_appointment_id" data-toggle="tab">Facility OPD Appointment Types</a></li>
            <!-- medication set org -->
            <li role="presentation"><a href="#medication_set_organisation" aria-controls="medication_set_organisation" role="tab" id="medication_set_facility_id" data-toggle="tab">
              Facility Medication Sets
            </a></li>
            <!-- medication list facility -->
            <li role="presentation"><a href="#medication_lists_organisation" aria-controls="medication_lists_organisation" role="tab" id="medication_lists_facility_id" data-toggle="tab">Facility Medication Lists</a></li>
            <!-- Medical certificates -->
            <li role="presentation"><a href="#medication_certificate_organisation" aria-controls="medication_certificate_organisation" role="tab" id="medication_certificate_facility_id" data-toggle="tab"> Facility User Note</a></li>
            <!-- Advice set  -->
            <li role="presentation"><a href="#advice_set_organisation" aria-controls="advice_set_organisation" role="tab" id="advice_set_facility_id" data-toggle="tab">Facility Advice Sets</a></li>
            <!-- In-patient procedural notes -->
            <li role="presentation"><a href="#in_patient_surg_notes_organisation" aria-controls="in_patient_surg_notes_organisation" role="tab" id="in_patient_surg_notes_facility_id" data-toggle="tab">Facility In-patient Surgical Notes</a></li>
            <%# <li role="presentation"><a href="#manage_patient_type" aria-controls="manage_patient_type" role="tab" id="manage_patient_type_id" data-toggle="tab">Patient Types</a></li> %>
            <li role="presentation"><a href="#manage_scheduled_admission_list" aria-controls="manage_scheduled_admission_list" role="tab" id="manage_scheduled_admission_list_id" data-toggle="tab">Scheduled Admission List</a></li>
            <li role="presentation"><a href="#laboratorysets" aria-controls="laboratorysets" role="tab" id="laboratorysets_ids" data-toggle="tab">Laboratory Sets</a></li>
          </ul>
        </li>
        <li class="setting-heading">
          <a href="#notificationSettingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle settings_head clearfix" id="notification-setting"><span class="b-icon"><i class="fa fa-envelope"></i>&nbsp;&nbsp;</span>Notification&nbsp;&nbsp;&nbsp;<span class="caret"></span></a>
          <ul class="collapse list-unstyled padded_list setting-heading-child" id='notificationSettingSubmenu'>
            <li role="presentation"><a href="#manage_sms_settings" aria-controls="manage_sms_settings_list" role="tab" id="manage_sms_settings_id" data-toggle="tab">Facility SMS Setting</a></li>
          </ul>
        </li>
        <!-- <li class="setting-heading">
          <a href="#notificationSettingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle settings_head clearfix" id="notification-setting"><span class="b-icon"><i class="fa fa-envelope"></i>&nbsp;&nbsp;</span>Notification&nbsp;&nbsp;&nbsp;<span class="caret"></span></a>
          <ul class="collapse list-unstyled padded_list setting-heading-child" id='notificationSettingSubmenu'>
            <li role="presentation"><a href="#manage_sms_settings" aria-controls="manage_sms_settings_list" role="tab" id="manage_sms_settings_id" data-toggle="tab">Facility SMS Setting</a></li>
          </ul>
        </li> -->
        <% if ['VN_254'].include? current_facility.country_id %>
          <li class="setting-heading">
            <a href="#campsSettingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle settings_head clearfix" id="camp-setting"><span class="b-icon"><i class="fa fa-envelope"></i>&nbsp;&nbsp;</span>Camp&nbsp;&nbsp;&nbsp;<span class="caret"></span></a>
            <ul class="collapse list-unstyled padded_list setting-heading-child" id='campsSettingSubmenu'>
              <% if current_user.role_ids.any?{|i| [160943002,6868009].include?i} %>
                <li role="presentation"><a href="#all_camps" aria-controls="all_camps" role="tab" id="all_camps_id" data-toggle="tab">All Camps</a></li>
              <% end %>
            </ul>
          </li>
        <% end %>
        <% unless @organisation.workflow_waiting_disable %>
          <li class="setting-heading">
            <a href="#qmSettingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle settings_head clearfix" id="qm-setting"><span class="b-icon"><i class="fa fa-users"></i>&nbsp;&nbsp;</span>Queue Management&emsp;<span class="caret"></span></a>
            <ul class="collapse list-unstyled padded_list setting-heading-child" id='qmSettingSubmenu'>
              <li role="presentation"><a href="#queue_stations" aria-controls="queue_stations" role="tab" id="queue_stations_id" data-toggle="tab">Queue Station Setup</a></li>
              <li role="presentation"><a href="#queue_screens" aria-controls="queue_screens" role="tab" id="queue_screens_id" data-toggle="tab">Queue Screen Setup</a></li>
            </ul>
          </li>
        <% end %>
      </ul>
      <!-- new menu end -->
    </div>
    <div class="tab-content col-md-10 mt15">
      <div role="tabpanel" class="tab-pane active" id="manage_organisation">
        <!--<div class="col-md-6">-->
        <!--<div class="row">-->
        <!--<div class="col-md-9"><h4>manage_referring_doctors</h4></div>-->
        <!--</div>-->
        <!--</div>-->
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_inventory_store">
        <div class="manage_inventory_store">
          <%= render '/inventory/stores/index.html.erb' %>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="facility_contact_list">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_referrals">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_finance_views">
        <div class="manage_finance_views">
          <%= render '/organisations/finance_settings' %>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_custom_template_headers">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_patient_form_settings">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_wards">
      </div>

      <div role="tabpanel" class="tab-pane" id="ot_setup_form_settings">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_psrs">
      </div>

      <div role="tabpanel" class="tab-pane" id="display_font_size">
      </div>

      <div role="tabpanel" class="tab-pane" id="all_camps"> </div>

      <div role="tabpanel" class="tab-pane" id="time_slots">
        <span>Loading...</span>
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_service_masters_guide">
        <%= render partial: 'service_masters/guide.html.erb' %>
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_surgery_packages">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_pricing_masters">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_invoice_passcode">
        <div class="manage_invoice_passcode">
            <%= render '/organisations/invoice_passcode' %>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_invoice_templates">
        <!--<div class="col-md-6">-->
        <!--<div class="row">-->
        <!--<div class="col-md-9"><h4>manage_services</h4></div>-->
        <!--</div>-->
        <!--</div>-->
      </div>

      <div role="tabpanel" class="tab-pane" id="facility_appointments">
      </div>

      <div role="tabpanel" class="tab-pane" id="medication_set_organisation">

      </div>
      <div role="tabpanel" class="tab-pane" id="medication_lists_organisation">
      </div>

      <div role="tabpanel" class="tab-pane" id="medication_certificate_organisation">
      </div>

      <div role="tabpanel" class="tab-pane" id="advice_set_organisation">
      </div>

      <div role="tabpanel" class="tab-pane" id="in_patient_surg_notes_organisation">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_patient_type">
        <!-- <div class="manage_patient_type"> -->
            <%#= render '/patient_types/index'%>
        <!-- </div> -->
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_scheduled_admission_list">
        <div class="manage_scheduled_admission_list">
            <%= render '/organisations/manage_scheduled_admisison_list' %>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="laboratorysets">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_sms_settings">
        <!-- removed loading -->
        <!--<img class="loading-gif" src="/images/" alt="loading..." height="42" width="42" hidden>-->
        <!--<div class="manage_sms_settings">-->
          <%#= render '/organisations/manage_sms_settings' %>
        <!--</div>-->
      </div>

      <!-- Queue Management -->
      <div role="tabpanel" class="tab-pane" id="queue_stations">
      </div>

      <div role="tabpanel" class="tab-pane" id="queue_screens">
      </div>
    </div>
  </div>
</div>
