<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<%= form_tag("/admins/update_id_prefix",method: "post",:remote=>true,:id=>"org_id_prefix_form",:class => "form form-bordered") do  %>

<div class="col-md-12">
  <div class="col-md-6 alert alert-info" id="org-id-alert-messages" style="padding-top:5px;padding-bottom:5px;padding-left:3px;padding-right:3px;">
    Please click <strong>"Update"</strong> button after adding/editing. <span class="glyphicon glyphicon-arrow-right"></span>
  </div>
  <div class="col-md-2 col-md-offset-4"><%= submit_tag("Save ID Prefix",{:class=>"btn btn-success"}) %></div>
</div>

  <div class="row">
    <div class="col-md-1">
      ID Prefix:
    </div>
    <div class="col-md-2">
      <input id="org_id_prefix" name="org_id_prefix" class="form-control org_id_prefix" maxlength="3" value="<%=@org_identifier_prefix %>">
    </div>
    <span class="well"><strong>*Note: This prefix will be appended in all of your Patient/Admission ID. eg. ABC-###-100001</strong></span>
  </div>

<%end%>
<hr>
<%= form_tag("/admins/update_cin",method: "post",:remote=>true,:id=>"org_id_prefix_form",:class => "form form-bordered") do  %>
  
  <div class="col-md-12">
    <div class="col-md-6 alert alert-info" id="cin-alert-messages" style="padding-top:5px;padding-bottom:5px;padding-left:3px;padding-right:3px;">
      <strong>Set Corporate Identification Number <span class="glyphicon glyphicon-arrow-right"></strong> </span>
    </div>
    <div class="col-md-2 col-md-offset-4"><%= submit_tag("Save CIN",{:class=>"btn btn-success", :style=>"margin-top: 1%"}) %></div>
  </div>
  <div class="row">
    
    <div class="col-md-1">
      CIN:
    </div>
    <div class="col-md-2">
      <input id="org_cin" name="org_cin" class="form-control org_cin" value="<%=@org_cin%>">
    </div>
    
      <span class="well"><strong>*Note: This CIN will appear on Receipts</strong></span>
    

    
  </div>
<% end %>

<hr>
<%= render 'settings/admins/organisation_settings/org_email_form'%>

<style type="text/css">
  input.error, select.error {
    border-color: #b94a48;
    background-image: none;
  }
  input.valid, select.valid {
    border-color: #468847;
    background-image: none;
  }
</style>

<script>

  function org_type_page() {
    $('#org_id_prefix_form').validate({

      errorElement: 'div',
      errorPlacement: function (error, element) {
        error.insertAfter(element);
      }
    });
  }
  org_type_page()

  // alias required to cRequired with new message
  $.validator.addMethod("LabelRequired", $.validator.methods.required, "Label cannot be blank");
  $.validator.addMethod("Minlength", $.validator.methods.minlength,
  $.validator.format("Prefix must have at least {0} characters"));


  $.validator.addClassRules("org_id_prefix", { LabelRequired: true, Minlength: 3});
</script>