<div class="pageheader header_change" style="padding-bottom: 5px ;padding-top: 5px">
  <%= stylesheet_link_tag 'bootstrap-fileupload.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap-fileupload.min', 'data-turbolinks-track' => true %>
  <h2 style="font-size: 20px"><i class="fa fa-user-md" style="font-size: 20px"></i>Organisation Settings<span>Manage your organisation settings here...</span></h2>
  <!--<div class="breadcrumb-wrapper" style="top: 16px;">-->
    <!--<span class="label">You are here:</span>-->
    <!--<ol class="breadcrumb">-->
      <!--<li><%#= link_to 'Account Settings', 'javascript:history.go(-1);' %></li>-->
      <!--<li class="active"> Manage Practice Settings </li>-->
    <!--</ol>-->
  <!--</div>-->
</div>

<div class="content clearfix">
  <div role="tabpanel" class="content_container clearfix">
    <div class="col-md-2 mt15 side_bar_menu col-lg-2" style="overflow-y: scroll; height: 100vh;">
      <!-- new menu -->
      <ul class="list-unstyled components settings_update">
        <li class="setting-heading">
          <a href="#generalSettingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle settings_head clearfix" id="general-setting"><span class="b-icon"><i class="fa fa-cog"></i>&nbsp;&nbsp;</span>General&emsp;<span class="caret"></span></a>
          <ul class="collapse in list-unstyled padded_list setting-heading-child" id="generalSettingSubmenu">
            <li role="presentation" class="active"><a href="#identifier_prefix" aria-controls="identifier_prefix" role="tab" data-toggle="tab">Organisation Settings</a></li>
            <li role="presentation"><a href="#manage_organisation" aria-controls="manage_organisation" role="tab" id="manage_organisation_id" data-toggle="tab">Organisation Setup</a></li>
<!--            <li role="presentation"><a href="#manage_inventory_store" aria-controls="manage_inventory_store" role="tab" id="manage_inventory_store_id" data-toggle="tab">Inventory Store Setup</a></li>-->
            <li role="presentation"><a href="#manage_nabh_setting" aria-controls="manage_nabh_setting" role="tab" id="manage_nabh_setting_id" data-toggle="tab">NABH/Accreditation</a></li>
            <li role="presentation"><a href="#contact_list" aria-controls="contact_list" role="tab" id="contact_list_ids" data-toggle="tab">Contact List</a></li>
            <%# <li role="presentation"><a href="#facility_contact_list" aria-controls="facility_contact_list" role="tab" id="facility_contact_list_ids" data-toggle="tab">Facility Contact List</a></li> %>
            <li role="presentation"><a href="#manage_referrals" aria-controls="manage_referrals" role="tab" id="manage_referrals_id" data-toggle="tab">Referral Sources</a></li>
            <%# <li role="presentation"><a href="#manage_finance_views" aria-controls="manage_finance_views" role="tab" id="manage_finance_views_id" data-toggle="tab">Facility Setup</a></li> %>
             <li role="presentation"><a href="#manage_custom_template_headers" aria-controls="manage_custom_template_headers" role="tab" id="manage_custom_template_headers_id" data-toggle="tab">Template Custom Header</a></li>
            <li role="presentation"><a href="#manage_patient_form_settings" aria-controls="manage_patient_form_settings" role="tab" id="manage_patient_form_settings_id" data-toggle="tab">Patient Settings</a></li>
            <% if current_facility.department_ids.include?('225746001') %>
              <li role="presentation"><a href="#manage_wards" aria-controls="manage_wards" role="tab" id="manage_wards_id" data-toggle="tab">Ward Setup</a></li>
            <% end %>
            <li role="presentation"><a href="#ot_setup_form_settings" aria-controls="ot_setup_form_settings" role="tab" id="ot_setup_form_settings_id" data-toggle="tab">OT Setup</a></li>
            <li role="presentation"><a href="#manage_psrs" aria-controls="manage_psrs" role="tab" id="manage_psrs_id" data-toggle="tab">PSR Devices</a></li>
            <li role="presentation"><a href="#time_slots" aria-controls="time_slots" role="tab" id="time_slots_id" data-toggle="tab">User Time Slot Management</a></li>
            <% if current_organisation['enable_region'] == true %>
              <li role="presentation" id='li_manage_region_masters_id'><a href="#region_masters" aria-controls="manage_regions" role="tab" id="manage_region_masters_id" data-toggle="tab">Region Master</a></li>
            <% end %>
            <% if current_organisation['enable_region'] == true %>
              <li role="presentation" id='li_manage_entity_groups_id'><a href="#entity_groups" aria-controls="manage_entity_groups" role="tab" id="manage_entity_groups_id" data-toggle="tab">Entity Group</a></li>
            <% end %>
            <li role="presentation"><a href="#manage_sequences" aria-controls="manage_sequences" role="tab" id="manage_sequences_id" data-toggle="tab">Sequence Manager</a></li>
            <li role="presentation"><a href="#trusted_domains" aria-controls="trusted_domains" role="tab" id="trusted_domains_id" data-toggle="tab">Add Trusted Domains</a></li>
          </ul>
        </li>

        <li class="setting-heading">
          <a href="#authorizationSettingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle settings_head clearfix" id="store-setting"><span class="b-icon"><i class="	fas fa-user-shield"></i>&nbsp;&nbsp;</span>Authorization<span class="caret"></span></a>
          <ul class="collapse list-unstyled padded_list setting-heading-child" id="authorizationSettingSubmenu">
<!--            <li role="presentation"><a href="#manage_designation_master" aria-controls="manage_designation_master" role="tab" id="manage_designation_master_id" data-toggle="tab">Designation Master</a></li>-->
            <li role="presentation"><a href="#manage_policy" aria-controls="manage_policy" role="tab" id="manage_policy_id" data-toggle="tab">Policy</a></li>
            <li role="presentation"><a href="#manage_policy_template" aria-controls="manage_policy_template" role="tab" id="manage_authorization_policy_template_id" data-toggle="tab">Policy Template</a></li>
          </ul>
        </li>

        <li class="setting-heading">
          <a href="#inventorySettingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle settings_head clearfix" id="store-setting"><span class="b-icon"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;</span>Inventory&nbsp;& Supply Chain&nbsp;&nbsp;<span class="caret"></span></a>
          <ul class="collapse list-unstyled padded_list setting-heading-child" id="inventorySettingSubmenu">
            <li role="presentation"><a href="#manage_inventory_store" aria-controls="manage_inventory_store" role="tab" id="manage_inventory_store_id" data-toggle="tab">Store Setup</a></li>
            <li role="presentation"><a href="#manage_inventory_supply_chain" aria-controls="manage_inventory_supply_chain" role="tab" id="manage_inventory_supply_chain_id" data-toggle="tab">Supply Chain Settings</a></li>
            <li role="presentation"><a href="#manage_inventory_category_master" aria-controls="manage_inventory_category_master" role="tab" id="manage_inventory_category_master_id" data-toggle="tab">Category Master</a></li>
            <li role="presentation"><a href="#manage_inventory_sub_category_master" aria-controls="manage_inventory_sub_category_master" role="tab" id="manage_inventory_sub_category_master_id" data-toggle="tab">Sub Category Master</a></li>
            <li role="presentation"><a href="#manage_inventory_dispensing_unit_master" aria-controls="manage_inventory_dispensing_unit_master" role="tab" id="manage_inventory_dispensing_unit_master_id" data-toggle="tab">Dispensing Unit Master</a></li>
            <li role="presentation"><a href="#manage_inventory_item_master" aria-controls="manage_inventory_item_master" role="tab" id="manage_inventory_item_master_id" data-toggle="tab">Item Master</a></li>
            <li role="presentation"><a href="#manage_inventory_vendor_master" aria-controls="manage_inventory_vendor_master" role="tab" id="manage_inventory_vendor_master_id" data-toggle="tab">Vendor Master</a></li>
            <li role="presentation"><a href="#manage_inventory_vendor_group_master" aria-controls="manage_inventory_vendor_group_master" role="tab" id="manage_inventory_vendor_group_master_id" data-toggle="tab">Vendor Type</a></li>
            <li role="presentation"><a href="#manage_inventory_vendor_rate_list_master" aria-controls="manage_inventory_vendor_rate_list_master" role="tab" id="manage_inventory_vendor_rate_list_master_id" data-toggle="tab">Vendor Rate List</a></li>
            <li role="presentation"><a href="#manage_inventory_rol_rules" aria-controls="manage_inventory_rol_rules" role="tab" id="manage_inventory_rol_rules_id" data-toggle="tab">ROL Rules</a></li>
            <li role="presentation"><a href="#manage_inventory_other_charges" aria-controls="manage_inventory_other_charges" role="tab" id="manage_inventory_other_charges_id" data-toggle="tab">Other Charges</a></li>
            <li role="presentation"><a href="#manage_inventory_terms_and_conditions" aria-controls="manage_inventory_terms_and_conditions" role="tab" id="manage_inventory_terms_and_conditions_id" data-toggle="tab">Terms & Conditions</a></li>
            <li role="presentation"><a href="#manage_inventory_transportations" aria-controls="manage_inventory_transportations" role="tab" id="manage_inventory_transportations_id" data-toggle="tab">Transportations Mode</a></li>
          </ul>
        </li>

        <% if current_facility.show_finances? %>
          <li class="setting-heading">
            <a href="#financialSettingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle settings_head clearfix" id="financial-setting"><span class="b-icon"><i class="fa fa-money"></i>&nbsp;&nbsp;</span>Financial&emsp;<span class="caret"></span></a>
            <ul class="collapse list-unstyled padded_list setting-heading-child" id="financialSettingSubmenu">
              <li role="presentation"><a href="#manage_service_masters_guide" aria-controls="manage_service_masters_guide" role="tab" id="manage_service_master_guide_id" data-toggle="tab">Service Master Guide</a></li>
              <li role="presentation"><a href="#manage_service_masters" aria-controls="manage_service_masters" role="tab" id="manage_service_master_id" data-toggle="tab">Service Master</a></li>
              <li role="presentation"><a href="#manage_pricing_masters" aria-controls="manage_pricing_masters" role="tab" id="manage_pricing_master_id" data-toggle="tab">Pricing Master</a></li>
              <li role="presentation"><a href="#manage_surgery_packages" aria-controls="manage_surgery_packages" role="tab" id="manage_surgery_package_id" data-toggle="tab">Surgery Package</a></li>
              <li role="presentation"><a href="#manage_payer_masters" aria-controls="manage_payer_masters" role="tab" id="manage_payer_master_id" data-toggle="tab">Payer Master</a></li>
              <li role="presentation"><a href="#manage_insurance_masters" aria-controls="manage_insurance_masters" role="tab" id="manage_insurance_master_id" data-toggle="tab">Insurance Master</a></li>
              <li role="presentation"><a href="#manage_tpa_masters" aria-controls="manage_tpa_masters" role="tab" id="manage_tpa_master_id" data-toggle="tab">TPA Master</a></li>
              <li role="presentation"><a href="#manage_panel_masters" aria-controls="manage_panel_masters" role="tab" id="manage_panel_master_id" data-toggle="tab">Panel Master</a></li>
              <li role="presentation"><a href="#manage_corporate_masters" aria-controls="manage_corporate_masters" role="tab" id="manage_corporate_master_id" data-toggle="tab">Corporate Master</a></li>
              <li role="presentation"><a href="#manage_dispensary_masters" aria-controls="manage_dispensary_masters" role="tab" id="manage_dispensary_master_id" data-toggle="tab">Dispensary Master</a></li>
              <li role="presentation"><a href="#manage_patient_payer_data_masters" aria-controls="manage_patient_payer_data_masters" role="tab" id="manage_patient_payer_data_master_id" data-toggle="tab">Patient Payer Data Master</a></li>
              <li role="presentation"><a href="#manage_tax_rate" aria-controls="manage_services" role="tab" id="manage_tax_rate_id" data-toggle="tab">Tax Rates</a></li>
              <li role="presentation"><a href="#manage_invoice_passcode" aria-controls="manage_invoice_passcode" role="tab" id="manage_invoice_passcode_id" data-toggle="tab">Receipt Passcode</a></li>
              <% if current_facility.show_finances? %>
                <li role="presentation"><a href="#manage_invoice_templates" aria-controls="manage_invoice_templates" role="tab" id="manage_invoice_templates_id" data-toggle="tab">Receipt Templates</a></li>
              <% end %>
              <li role="presentation"><a href="#manage_offers" aria-controls="manage_offers" role="tab" id="manage_offers_id" data-toggle="tab">Offer Management</a></li>
            </ul>
          </li>
        <% end %>
        <li class="setting-heading">
          <a href="#clinicalSettingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle settings_head clearfix" id="clinical-setting"><span class="b-icon"><i class="fa fa-stethoscope"></i>&nbsp;&nbsp;</span>Clinical&emsp;<span class="caret"></span></a>

          <ul class="collapse list-unstyled padded_list setting-heading-child" id='clinicalSettingSubmenu'>
            <li role="presentation"><a href="#organisation_appointments" aria-controls="organisation_appointments" role="tab" id="org_appointment" data-toggle="tab">OPD Appointment Types</a></li>
            <li role="presentation"><a href="#organisation_sub_appointments" aria-controls="organisation_sub_appointments" role="tab" id="org_sub_appointment" data-toggle="tab">OPD Sub Appointment Types</a></li>

            <%# <li role="presentation"><a href="#facility_appointments" aria-controls="facility_appointments" role="tab" id="facility_appointment_id" data-toggle="tab">Facility OPD Appointment Types</a></li> %>
            <!-- medication set org -->
            <li role="presentation"><a href="#medication_set_organisation" aria-controls="medication_set_organisation" role="tab" id="medication_set_organisation_id" data-toggle="tab">Organisation Medication Sets</a></li>
            <%# <li role="presentation"><a href="#medication_set_organisation" aria-controls="medication_set_organisation" role="tab" id="medication_set_facility_id" data-toggle="tab">
              Facility Medication Sets
            </a></li> %>
            <!-- medication list org -->
            <li role="presentation"><a href="#medication_lists_organisation" aria-controls="medication_lists_organisation" role="tab" id="medication_lists_organisation_id" data-toggle="tab">Organisation Medication Lists</a></li>
            <!-- medication list facility -->
            <%# <li role="presentation"><a href="#medication_lists_organisation" aria-controls="medication_lists_organisation" role="tab" id="medication_lists_facility_id" data-toggle="tab">Facility Medication Lists</a></li> %>
            <!-- Medical certificates -->
            <li role="presentation"><a href="#medication_certificate_organisation" aria-controls="medication_certificate_organisation" role="tab" id="medication_certificate_org_id" data-toggle="tab"> Organisation User Note</a></li>
            <%# <li role="presentation"><a href="#medication_certificate_organisation" aria-controls="medication_certificate_organisation" role="tab" id="medication_certificate_facility_id" data-toggle="tab"> Facility User Note</a></li> %>
            <!-- Advice set  -->
            <li role="presentation"><a href="#advice_set_organisation" aria-controls="advice_set_organisation" role="tab" id="advice_set_organisation_id" data-toggle="tab">Organisation Advice Sets</a></li>
            <%# <li role="presentation"><a href="#advice_set_organisation" aria-controls="advice_set_organisation" role="tab" id="advice_set_facility_id" data-toggle="tab">Facility Advice Sets</a></li> %>
            <!-- Custom Consents -->
            <li role="presentation"><a href="#custom_consents" aria-controls="custom_consents" role="tab" id="custom_consents_id" data-toggle="tab">Custom Consents</a></li>
            <!-- In-patient procedural notes -->
            <li role="presentation"><a href="#in_patient_surg_notes_organisation" aria-controls="in_patient_surg_notes_organisation" role="tab" id="in_patient_surg_notes_organisation_id" data-toggle="tab">Organisation In-patient Surgical Notes</a></li>

            <li role="presentation"><a href="#pre_admission_instruction_note" aria-controls="pre_admission_instruction_note" role="tab" id="pre_admission_instruction_note_id" data-toggle="tab">Pre-Admission Instruction Notes</a></li>

            <li role="presentation"><a href="#pre_admission_medication_note" aria-controls="pre_admission_medication_note" role="tab" id="pre_admission_medication_note_id" data-toggle="tab">Pre-Admission Medication Notes</a></li>

            <li role="presentation"><a href="#pre_admission_investigation_note" aria-controls="pre_admission_investigation_note" role="tab" id="pre_admission_investigation_note_id" data-toggle="tab">Pre-Admission Investigation Notes</a></li>

            <li role="presentation"><a href="#pre_admission_special_note" aria-controls="pre_admission_special_note" role="tab" id="pre_admission_special_note_id" data-toggle="tab">Pre-Admission Special Notes</a></li>
            <%# <li role="presentation"><a href="#in_patient_surg_notes_organisation" aria-controls="in_patient_surg_notes_organisation" role="tab" id="in_patient_surg_notes_facility_id" data-toggle="tab">Facility In-patient Surgical Notes</a></li> %>

            <li role="presentation"><a href="#custom_icd_diagnosis" aria-controls="custom_icd_diagnosis" role="tab" id="custom_icds" data-toggle="tab">Custom ICDs</a></li>
            <li role="presentation"><a href="#custom_common_procedures" aria-controls="custom_common_procedures" role="tab" id="custom_procedures" data-toggle="tab">Custom Common Procedures</a></li>
            <% if current_organisation['specialty_ids'].include?('309988001') %>
              <li role="presentation"><a href="#custom_ophthal_investigaton_panel" aria-controls="custom_ophthal_investigaton_panel" role="tab" id="custom_ophthal_investigatons" data-toggle="tab">Custom Ophthal Investigations</a></li>
            <% end %>
            <li role="presentation"><a href="#custom_radiology_investigaton_panel" aria-controls="custom_radiology_investigaton_panel" role="tab" id="custom_radiology_investigatons" data-toggle="tab">Custom Radiology Investigations</a></li>
            <li role="presentation"><a href="#custom_laboratory_investigaton_panel" aria-controls="custom_laboratory_investigaton_panel" role="tab" id="custom_laboratory_investigatons" data-toggle="tab">Custom Laboratory Investigations</a></li>
          <li role="presentation"><a href="#manage_patient_type" aria-controls="manage_patient_type" role="tab" id="manage_patient_type_id" data-toggle="tab">Patient Types</a></li>
             <%# if (current_organisation['type'] == 'hospital') %>
              <%#<li role="presentation"><a href="#manage_inventory_department" aria-controls="manage_inventory_department" role="tab" id="manage_inventory_department_id" data-toggle="tab">Inventory Departments</a></li>%>
            <%# end %>
            <li role="presentation"><a href="#manage_scheduled_admission_list" aria-controls="manage_scheduled_admission_list" role="tab" id="manage_scheduled_admission_list_id" data-toggle="tab">Scheduled Admission List</a></li>
            <li role="presentation"><a href="#laboratorysets" aria-controls="laboratorysets" role="tab" id="laboratorysets_ids" data-toggle="tab">Laboratory Sets</a></li>
            <li role="presentation"><a href="#manage_adverse_events_mail" aria-controls="manage_adverse_events_mail_list" role="tab" id="manage_adverse_events_mail_id" data-toggle="tab">Adverse Events</a></li>
          </ul>
        </li>
        <li class="setting-heading">
          <a href="#notificationSettingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle settings_head clearfix" id="notification-setting"><span class="b-icon"><i class="fa fa-envelope"></i>&nbsp;&nbsp;</span>Notification&emsp;<span class="caret"></span></a>
          <ul class="collapse list-unstyled padded_list setting-heading-child" id='notificationSettingSubmenu'>
            <%#if current_user.role_ids.any?{|i| [160943002,6868009].include?i} %>
              <li role="presentation"><a href="#manage_sms_settings" aria-controls="manage_sms_settings_list" role="tab" id="organisation_manage_sms_settings_id" data-toggle="tab">Organisation SMS Setting</a></li>
              <!-- <li role="presentation"><a href="#manage_sms_settings" aria-controls="manage_sms_settings_list" role="tab" id="manage_sms_settings_id" data-toggle="tab">Facility SMS Setting</a></li> -->
            <%# end %>
            <% if @organisation_settings.try(:organisation_whatsapp_enabled) %>
              <li role="presentation"><a href="#manage_whatsapp_settings" aria-controls="manage_whatsapp_settings_list" role="tab" id="manage_whatsapp_settings_id" data-toggle="tab">Manage WhatsApp Setting</a></li>

              <!-- <li role="presentation"><a href="#manage_communication_template_settings" aria-controls="manage_communication_template_settings_list" role="tab" id="organisation_manage_communication_template_settings_id" data-toggle="tab">Whatsapp Templates</a></li> -->

              <li role="presentation"><a href="#communication_template_settings" aria-controls="whatsapp_template_settings_list" role="tab" id="communication_template_settings_id" data-toggle="tab">Communication Template Master</a></li>

              <li role="presentation"><a href="#manage_communication_event_setups" aria-controls="manage_communication_template_settings_list" role="tab" id="manage_communication_event_setups_id" data-toggle="tab">Whatsapp Event Setup</a></li>
            <% end %>
            <li role="presentation"><a href="#manage_feedback_settings" aria-controls="manage_feedback_settings_list" role="tab" id="manage_feedback_settings_id" data-toggle="tab">Feedback</a></li>
          </ul>
        </li>
        <li class="setting-heading">
          <a href="#campsSettingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle settings_head clearfix" id="camp-setting"><span class="b-icon"><i class="fa fa-envelope"></i>&nbsp;&nbsp;</span>Camp&emsp;<span class="caret"></span></a>
          <ul class="collapse list-unstyled padded_list setting-heading-child" id='campsSettingSubmenu'>
            <% if current_user.role_ids.any?{|i| [160943002,6868009].include?i} %>
              <li role="presentation"><a href="#all_camps" aria-controls="all_camps" role="tab" id="all_camps_id" data-toggle="tab">All Camps</a></li>
            <% end %>
          </ul>
        </li>
        <% unless @organisation.workflow_waiting_disable %>
          <li class="setting-heading">
            <a href="#qmSettingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle settings_head clearfix" id="qm-setting"><span class="b-icon"><i class="fa fa-users"></i>&nbsp;&nbsp;</span>Queue Management&emsp;<span class="caret"></span></a>
            <ul class="collapse list-unstyled padded_list setting-heading-child" id='qmSettingSubmenu'>
              <li role="presentation"><a href="#queue_stations" aria-controls="queue_stations" role="tab" id="queue_stations_id" data-toggle="tab">Queue Station Setup</a></li>
              <li role="presentation"><a href="#queue_screens" aria-controls="queue_screens" role="tab" id="queue_screens_id" data-toggle="tab">Queue Screen Setup</a></li>
            </ul>
          </li>
        <% end %>
      </ul>
      <!-- new menu end -->
    </div>
    <div class="tab-content col-md-10 mt15 col-lg-10">
      <div role="tabpanel" class="tab-pane" id="manage_organisation">
        <!--<div class="col-md-6">-->
        <!--<div class="row">-->
        <!--<div class="col-md-9"><h4>manage_referring_doctors</h4></div>-->
        <!--</div>-->
        <!--</div>-->
      </div>
      <div role="tabpanel" class="tab-pane" id="manage_designation_master">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_policy">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_policy_template">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_inventory_store">
      </div>

      <div role="tabpanel" class="tab-pane" id = "manage_inventory_supply_chain">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_inventory_category_master">
      </div>
      <div role="tabpanel" class="tab-pane" id="manage_whatsapp_settings">
      </div>
      <div role="tabpanel" class="tab-pane" id="communication_template_settings">
      </div>
      <div role="tabpanel" class="tab-pane" id="communication_user_template">
      </div>
      <div role="tabpanel" class="tab-pane" id="communication_whatsapp_number">
      </div>
      <div role="tabpanel" class="tab-pane" id="manage_communication_event_setups">
      </div>
      <div role="tabpanel" class="tab-pane" id="manage_inventory_sub_category_master">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_inventory_dispensing_unit_master">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_inventory_vendor_master">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_inventory_vendor_group_master">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_inventory_item_master">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_inventory_other_charges">
      </div>


      <div role="tabpanel" class="tab-pane" id="manage_inventory_terms_and_conditions">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_inventory_transportations">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_inventory_vendor_rate_list_master">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_inventory_rol_rules">
      </div>

      <div role='tabpanel' class="tab-pane" id="manage_nabh_setting">
        <%= render '/nabh_settings/nabh_facility_dropdown' %>
        <%= render '/nabh_settings/nabh_setting_view' %>
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_services_card">

      </div>

      <div role="tabpanel" class="tab-pane" id="manage_tax_rate">

      </div>

      <div role="tabpanel" class="tab-pane" id="manage_invoice_templates">
        <!--<div class="col-md-6">-->
        <!--<div class="row">-->
        <!--<div class="col-md-9"><h4>manage_services</h4></div>-->
        <!--</div>-->
        <!--</div>-->
      </div>
      <div role="tabpanel" class="tab-pane" id="manage_cash_register_templates">
        <!--<div class="col-md-6">-->
        <!--<div class="row">-->
        <!--<div class="col-md-9"><h4>manage_services</h4></div>-->
        <!--</div>-->
        <!--</div>-->
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_service_masters_guide">
        <%= render partial: 'service_masters/guide.html.erb' %>
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_service_masters">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_pricing_masters">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_surgery_packages">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_payer_masters">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_insurance_masters">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_tpa_masters">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_panel_masters">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_corporate_masters">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_dispensary_masters">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_patient_payer_data_masters">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_referrals">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_patient_form_settings">
      </div>

      <div role="tabpanel" class="tab-pane" id="ot_setup_form_settings">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_inventory_department">
        <div class="manage_inventory_department">
            <%= render '/organisations/org_inventory_onboarding' %>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_patient_type">
        <!-- <div class="manage_patient_type"> -->
            <%#= render '/patient_types/index'%>
        <!-- </div> -->
      </div>

      <div role="tabpanel" class="tab-pane active" id="identifier_prefix">
        <div class="identifier_prefix">
          <%= render 'identifier_prefix_partial' %>
        </div>

      </div>

      <div role="tabpanel" class="tab-pane" id="manage_invoice_passcode">
        <div class="manage_invoice_passcode">
            <%= render '/organisations/invoice_passcode' %>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_finance_views">
        <div class="manage_finance_views">
            <%= render '/organisations/finance_settings' %>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_custom_template_headers">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_wards">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_psrs">
      </div>

      <div role="tabpanel" class="tab-pane" id="region_masters">
      </div>

      <div role="tabpanel" class="tab-pane" id="entity_groups">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_sequences">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_offers">
      </div>

      <div role="tabpanel" class="tab-pane" id="trusted_domains">
      </div>

      <div role="tabpanel" class="tab-pane" id="all_camps">
      </div>
      <div role="tabpanel" class="tab-pane" id="time_slots">
        <span>Loading...</span>
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_scheduled_admission_list">
        <div class="manage_scheduled_admission_list">
            <%= render '/organisations/manage_scheduled_admisison_list' %>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="manage_sms_settings">
        <!-- removed loading -->
        <!--<img class="loading-gif" src="/images/" alt="loading..." height="42" width="42" hidden>-->
        <!--<div class="manage_sms_settings">-->
          <!--<%#= render '/organisations/manage_sms_settings' %>-->
        <!--</div>-->
      </div>
      <div role="tabpanel" class="tab-pane" id="manage_communication_template_settings">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_feedback_settings">
      </div>

      <!--<div role="tabpanel" class="tab-pane" id="manage_lab_set_service">-->
      <!--</div>-->
      <div role="tabpanel" class="tab-pane" id="laboratorysets">
      </div>

      <div role="tabpanel" class="tab-pane" id="manage_adverse_events_mail">
      </div>

      <div role="tabpanel" class="tab-pane" id="contact_list">
      </div>

      <div role="tabpanel" class="tab-pane" id="facility_contact_list">
      </div>

      <div role="tabpanel" class="tab-pane" id="custom_icd_diagnosis">
      </div>

      <div role="tabpanel" class="tab-pane" id="custom_common_procedures">
      </div>

      <div role="tabpanel" class="tab-pane" id="custom_ophthal_investigaton_panel">
      </div>

      <div role="tabpanel" class="tab-pane" id="custom_radiology_investigaton_panel">
      </div>

      <div role="tabpanel" class="tab-pane" id="custom_laboratory_investigaton_panel">
      </div>
      <div role="tabpanel" class="tab-pane" id="organisation_appointments">
        <!-- removed initail rendering of partial now it gets loaded using ajax -->
      </div>
      <div role="tabpanel" class="tab-pane" id="facility_appointments">

      </div>
      <div role="tabpanel" class="tab-pane" id="medication_set_organisation">

      </div>
      <div role="tabpanel" class="tab-pane" id="medication_lists_organisation">
      </div>

      <div role="tabpanel" class="tab-pane" id="medication_certificate_organisation">
      </div>

      <div role="tabpanel" class="tab-pane" id="advice_set_organisation">
      </div>

      <div role="tabpanel" class="tab-pane" id="in_patient_surg_notes_organisation">
      </div>
      <div role="tabpanel" class="tab-pane" id="pre_admission_instruction_note">
      </div>
      <div role="tabpanel" class="tab-pane" id="pre_admission_medication_note">
      </div>
      <div role="tabpanel" class="tab-pane" id="pre_admission_investigation_note">
      </div>
      <div role="tabpanel" class="tab-pane" id="pre_admission_special_note">
      </div>

      <div role="tabpanel" class="tab-pane" id="organisation_sub_appointments">
      </div>

      <div role="tabpanel" class="tab-pane" id="custom_consents"></div>

      <!-- Queue Management -->
      <div role="tabpanel" class="tab-pane" id="queue_stations">
      </div>

      <div role="tabpanel" class="tab-pane" id="queue_screens">
      </div>
    </div>
  </div>
</div>
