<!-- array structure -->
<!-- ['serial number','Appointment type label','duration','background color','default'] -->
<% ophthal_array_data = [[10,'New',10,'#93FF33',1],[11,'Review',10,'#ff0000',0],[12,'Doctor Review',10,'#33FFD7',0],[13,'Post OP',10,'#FF33AC',0] ] %>


<% ophthal_array_data.each_with_index do |app_data, index| %>
<div class="row form-group">
  <input id="appointment_types_<%= index %>_specialty_id" name="appointment_types[<%= index %>][specialty_id]" type="hidden" value="<%=@selected_specialty %>">
  <input id="appointment_types_<%=index%>_user_id" name="appointment_types[<%=index%>][user_id]" type="hidden" value="<%=current_user.id.to_s %>">
  <input id="appointment_types_<%=index%>_is_active" name="appointment_types[<%=index%>][is_active]" type="hidden" value="true">
  <input id="appointment_types_<%=index%>_organisation_id" name="appointment_types[<%=index%>][organisation_id]" type="hidden" value="<%=current_user.organisation_id %>">
  <input id="appointment_types_<%=index%>_default_set" name="appointment_types[<%=index%>][default_set]" type="hidden" value="true">
  <input id="appointment_types_<%= index %>_s_no" name="appointment_types[<%=index%>][s_no]" type="hidden" value="<%= app_data[0]%>">
  <input id="appointment_types_<%= index %>_is_updated" name="appointment_types[<%=index%>][is_updated]" type="hidden" value="true">
  <div class="col-md-4">
    <input class="form-control appointment-label-validation" id="appointment_types_<%=index%>_label" name="appointment_types[<%=index%>][label]" type="text" value="<%= app_data[1] %>" readonly>
  </div>
  <div class="">
    <input class="form-control slot-duration-validation" id="appointment_types_<%=index%>_duration" min="1" name="appointment_types[<%=index%>][duration]" type="hidden" value="<%= app_data[2] %>">
  </div>
  <div class="col-md-3">
    <input class="form-control" id="appointment_types_<%=index%>_background" name="appointment_types[<%=index%>][background]" type="text" value="<%= app_data[3] %>">
  </div>
  <div class="col-md-2">
    <input id="default_<%=index%>" name="default" type="radio" value="<%=index%>" <%= app_data[4] == 1 ? 'checked' : '' %>>
  </div>
  <div class="col-md-1">
    <button class="btn-success btn btn-xs" type="button" disabled="">Predefined</button>
  </div>
</div>
<% total_appointment_types_count += 1 %>

<% end %>
<input type="hidden" id="total_appointment_types_count" value="<%= total_appointment_types_count %>">