<table class="table" style="table-layout: fixed;">
  <thead>
    <tr>
      <th>No.</th>
      <th>Domain Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @trusted_domains.each_with_index do |domain, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= domain.name %></td>
        <td>
          <% if domain.use_count == 0 %>
            <% if domain.disabled %>
              <%= link_to enable_trusted_domain_path(id: domain.id), method: :patch, class: 'btn btn-primary btn-xs', data: { remote: true } do %>Enable<% end %>
            <% else %>
              <%= link_to disable_trusted_domain_path(id: domain.id), method: :patch, class: 'btn btn-warning btn-xs', data: { remote: true } do %>Disable<% end %>
              <%= link_to trusted_domain_path(id: domain.id), method: :delete, class: 'btn btn-danger btn-xs', data: { remote: true } do %>Remove<% end %>
            <% end %>
          <% else %>
            <i>Domain in use</i>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% if @trusted_domains.empty? %>
      <tr>
        <td class="text-center" colspan="3">No Trusted Domains</td>
      </tr>
    <% end %>
  </tbody>
</table>
