<div class="replace_medication">
  <% if nursingrecord.has_treatmentmedication? %>
  <div class="row"><div class="medication_heading"><strong>Medication(Rx) : </strong></div></div>
  <div class="row mb10 check_font">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Sr No.</th>
          <th>Name</th>
          <th>Quantity</th>
          <th class="text-center">Frequency</th>
          <th>Duration</th>
          <th>Eye</th>
          <th>Instruction</th>
          <th>Adv. Time</th>
          <!-- <th>Time</th> -->
        </tr>
      </thead>
      <tbody>

      <% @medication_set_arr = Global.send("medication_instruction_option").send('sets')%>
      <% nursingrecord.treatmentmedication.each.with_index do |medication,i| %>
        <tr>
          <td><%= i + 1 %></td>
          <td><b><%= medication.medicinename %><% if medication.medicinetype? %> - <%= medication.medicinetype.to_s.upcase %><% end %>
            <% facility = Facility.find_by(id: @current_facility.id) %>
            <% if facility.display_generic_name && medication.generic_display_name.present? %>
              <br>
              <% unless medication.generic_display_name == 'undefined' %>
                Generic - <%= medication.generic_display_name %>
              <% end %>
            <% end %></b>
          </td>
          <% if medication.taper_id == "0" || medication.taper_id == nil || medication.taper_id == "" %>
            <td class="text-right"><%= medication.medicinequantity %></td>
            <td class="text-center">
              <% if Array["1-1-1", "1-1-0", "1-0-1", "0-1-1", "1-0-0", "0-1-0", "0-0-1", "1-1-1-1", "2-2-2", "2-0-2"].include?(medication.medicinefrequency) %>
                <% frequency = medication.medicinefrequency.split('-') %>
                <% unless frequency[3] == nil %>
                  <div class="row">
                    <div class="col-md-2 text-center"><b><%= frequency[0] %></b><br>Mrng</div>
                    <div class="col-md-1">-</div>
                    <div class="col-md-2 text-center"><b><%= frequency[1] %></b><br>Noon</div>
                    <div class="col-md-1">-</div>
                    <div class="col-md-2 text-center"><b><%= frequency[2] %></b><br>Evng</div>
                    <div class="col-md-1">-</div>
                    <div class="col-md-2 text-center"><b><%= frequency[3] %></b><br>Night</div>
                  </div>
                <% else %>
                  <div class="row">
                    <div class="col-md-3 text-center"><b><%= frequency[0] %></b><br>Morning</div>
                    <div class="col-md-1">-</div>
                    <div class="col-md-3 text-center"><b><%= frequency[1] %></b><br>Afternoon</div>
                    <div class="col-md-1">-</div>
                    <div class="col-md-3 text-center"><b><%= frequency[2] %></b><br>Evening</div>
                  </div>
                <% end %>
              <% else %>
                <%= medication.medicinefrequency %>
              <% end %>
            </td>
            <td>
              <% unless medication.medicinedurationoption == "F" %>
                <% if medication.medicinedurationoption == "W" %>
                  <%= pluralize(medication.medicineduration, 'Week') %>
                <% elsif medication.medicinedurationoption == "M" %>
                  <%= pluralize(medication.medicineduration, 'Month') %>
                <% elsif medication.medicinedurationoption == "D" %>
                  <%= pluralize(medication.medicineduration, 'Day') %>
                <% end %>
              <% else %>
                Next Followup
              <% end %>
            </td>
          <% else %>
            <td colspan="3" class="text-center">
              As advised below
            </td>
          <% end %>
          <td>
            <%if medication['eyeside'].present?%>
              <% if medication['eyeside'] == "L" %>
                Left
              <% elsif medication['eyeside'] == "R" %>
                Right
              <% elsif medication['eyeside'] == "BE" %>
                Both Eyes
              <%end%>
            <%else%>
              -
            <%end%>
          </td>
          <td>
            <%if medication.medicineinstructions.present?%>
              <%=medication.medicineinstructions%>
            <%elsif medication.instruction.present?%>
              <% @set = @medication_set_arr.select{|medi| medi["id"] == medication.instruction} %>
              <%if @set[0].present?%>
                <%=@set[0]["#{advice_language}"]%>
              <%end%>
            <%end%>
          </td>
          <td>
            <%= medication.date.try(:strftime, "%d/%m/%Y") %>
            <% if medication.date.try(:strftime, "%d/%m/%Y").present? %></br><% end %>
            <%= medication.time.try(:strftime, "%I:%M %p")  %>
          </td>
        </tr>
        <% unless medication.taper_id == "0" || medication.taper_id == nil || medication.taper_id == "" %>
          <tr style="background-color:#bbb">
            <td colspan="12" style="padding:5px 10px 2px;">
              <% @taper = TaperingKit.find_by(id: medication.try(:taper_id)) %>
              <% @tapering_set = @taper.tapering_set %>
              <% if @taper.taperingtype == "W" %>
                <table class="table table-bordered" style="margin: 0 0 5px;">
                  <thead>
                    <tr>
                      <th>Sr No.</th>
                      <th>No of Days</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>Start Time</th>
                      <th>End Time</th>
                      <th width="16%">Frequency</th>
                      <th width="16%">Interval</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @tapering_set.each.with_index do |taper, i| %>
                      <% unless (taper.frequency).to_i == 0 %>
                        <tr class="taper_row">
                          <td>
                            <%= i.to_i + 1 %>
                          </td>
                          <td>
                            <%= taper.number_of_days %>
                          </td>
                          <td>
                            <%= taper.try(:start_date).try(:strftime, '%d/%m/%Y') %>
                          </td>
                          <td>
                            <%= taper.try(:end_date).try(:strftime, '%d/%m/%Y') %>
                          </td>
                          <td>
                            <%= taper.try(:start_time).try(:strftime, '%I:%M %p') %>
                          </td>
                          <td>
                            <%= taper.try(:end_time).try(:strftime, '%I:%M %p') %>
                          </td>
                          <td>
                            <%= pluralize(taper["frequency"], 'time') %> a day
                          </td>
                          <td>
                            <%= taper["interval"].to_i > 0 ? 'Every '+ pluralize(taper["interval"], 'hour') : '-'  %>
                          </td>
                        </tr>
                      <%end %>
                    <% end %>
                  </tbody>
                </table>
              <% else %>
                <table class="table table-bordered" style="margin: 0 0 5px;">
                  <thead>
                    <tr>
                      <th>Sr No.</th>
                      <th>Day</th>
                      <th>Date</th>
                      <th>Start Time</th>
                      <th>End Time</th>
                      <th width="16%">Frequency</th>
                      <th width="16%">Interval</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @tapering_set.each.with_index do |taper, i| %>
                      <% unless (taper.frequency).to_i == 0 %>
                        <tr class="taper_row">
                          <td>
                            <%= i.to_i + 1 %>
                          </td>
                          <td>
                            <%= taper.number_of_days %>
                          </td>
                          <td>
                            <%= taper.try(:start_date).try(:strftime, '%d/%m/%Y') %>
                          </td>
                          <td>
                            <%= taper.try(:start_time).try(:strftime, '%I:%M %p') %>
                          </td>
                          <td>
                            <%= taper.try(:end_time).try(:strftime, '%I:%M %p') %>
                          </td>
                          <td>
                            <%= pluralize(taper["frequency"], 'time') %> a day
                          </td>
                          <td>
                            <%= taper["interval"].to_i > 0 ? 'Every '+ pluralize(taper["interval"], 'hour') : '-'  %>
                          </td>
                        </tr>
                      <% end %>
                    <% end %>
                  </tbody>
                </table>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
</div>
<style type="text/css">
  .table thead tr th, .table tbody tr td {
    padding: 3px;
  }
</style>

<script type="text/javascript">
  var advice_language = "<%=advice_language%>";
  var current_path = $('.nursing_print').attr('href');
  var modified_path = $('.nursing_print').attr('href')+"&language_flag=true&advice_language="+advice_language;
  var remove_current_path = $('.nursing_print').removeAttr('href');
  var add_modfied_path = $('.nursing_print').attr('href',modified_path);
</script>