<div class="row">
  <% ward.rooms.each_with_index do |room, index | %>
      <div class="panel panel-success" style="background-color: #1CAF9A;">
        <div class="panel-heading" style="padding: 2px;">
          <% facility_name = Facility.find_by(:id => ward.facility_id.to_s).name %>
          <h4 class="panel-title"><%= facility_name %> | Ward: <%= ward.name %></h4>
        </div>
        <div class="panel-body" style="padding: 0px;">
          <table class="table">
            <thead>
            <tr>
              <th width="20%" style="padding-top:0px;padding-bottom:0px;"></th>
              <th width="80%" style="padding-top:0px;padding-bottom:0px;"></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                  <td>
                    <h4><%= room.name %></h4>
                  </td>
                  <td>
                    <% room.beds.each_with_index do |bed, index | %>
                        <div class="col-md-2" style="margin-top:30px;">
                              <p style="margin:0px;"><%= bed.code %></p>
                              <% a = Admission.find_by(:bed_id => bed.id.to_s, :isdischarged => false) %>
                              <% if a.nil? == true %>
                                <% bed.update_attributes(:status => 78848005) %>
                                <i class="fa fa-bed fa-3x"></i>
                                <p><% if bed.try(:price) %><i class="fa fa-rupee"></i><%= bed.price %><% end %></p>
                              <% else %>
                                  <% bed.update_attributes(:status => 1669000) %>
                                  <i class="fa fa-bed fa-3x booked ward_room_bed_booked_on_hover"></i>
                                  <p><%= a.patient.fullname %></p>
                              <% end %>
                        </div>
                    <% end %>
                  </td>
                </tr>
            </tbody>
          </table>
        </div><!-- panel-body -->
      </div>
  <% end %>
</div>
