<% @advance = AdvancePayment.where(patient_id: @patient.id, advance_state: "None") %>
<% if @advance.count > 0 %>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <b>Advance Receipts :</b>
    </div>
  </div>
  <div class="row mb5">
    <div class="col-md-1">
      <b>S No.</b>
    </div>
    <div class="col-md-3">
      <b>Reason</b>
    </div>
    <div class="col-md-2">
      <b>Receipt Date</b>
    </div>
    <div class="col-md-2">
      <b>Amount</b>
    </div>
    <div class="col-md-4">
      <b>State</b>
    </div>
    <% @advance.each.with_index do |adv, i| %>
      <input type="hidden" name="advance[<%= i %>][id]" value="<%= adv.id %>">
      <div class="col-md-1">
        <%= i + 1 %>.
      </div>
      <div class="col-md-3">
        <%= adv.reason %>
      </div>
      <div class="col-md-2">
        <%= adv.created_at.strftime("%d %b'%y") %>
      </div>
      <div class="col-md-2">
      <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;width:75%;" class="form-control advance_amount" id="advance_amount" placeholder="Advance Amount" value= <%= adv.amount %> type="text" name="advance[<%= i %>][amount]" readonly= "readonly">
      </div>
      <div class="col-md-4">
        <label>
          <input type="radio" value="None" name="advance[<%= i %>][state]" class="advance_state none" data-amount-val=<%= adv.amount %> <%= 'checked="checked"' if adv.advance_state == 'None' %>> &nbsp;&nbsp;None
        </label>&nbsp;&nbsp;&nbsp;
        <label>
          <input type="radio" value="Adjust" name="advance[<%= i %>][state]" class="advance_state adjust" data-amount-val=<%= adv.amount %> <%= 'checked="checked"' if adv.advance_state == 'Adjust' %>> &nbsp;&nbsp;Adjust
        </label>&nbsp;&nbsp;&nbsp;
        <label>
          <input type="radio" value="Refund" name="advance[<%= i %>][state]" class="advance_state refund" data-amount-val=<%= adv.amount %> <%= 'checked="checked"' if adv.advance_state == 'Refund' %>> &nbsp;&nbsp;Refund
        </label>
        
      </div>
    <% end %>
  </div>
<% end %>