<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog" style="width: 40%;">
  <!-- Modal content-->
  <div class="modal-content">
    <%= form_for @advance_payment, url: invoice_advance_payments_path, format: :js, remote: true do |f| %>
      <%= f.hidden_field :type, value: @type %>
      <%= f.hidden_field :currency_symbol, value: current_facility.currency_symbol %>
      <%= f.hidden_field :currency_id, value: current_facility.currency_id %>
      <%= f.hidden_field :patient_id, value: @patient_id.to_s %>
      <%= f.hidden_field :user_id, value: current_user.id.to_s %>
      <%= f.hidden_field :facility_id, value: current_facility.id.to_s %>
      <%= f.hidden_field :organisation_id, value: current_user.organisation_id.to_s %>
      <%#= f.hidden_field :payment_date, value: Date.current.strftime("%d/%m/%Y") %>
      <%= f.hidden_field :specialty_id, value: params[:specialty_id] %>
      <%= f.hidden_field :department_id, value: @department_id %>
      <%= f.hidden_field :department_name, value: @department_name %>
      <%= f.hidden_field :payment_time %>
      <%= f.hidden_field :payment_date %>
      <%= f.hidden_field :order_id, value: params[:order_id] || @inventory_order&.id %>
      <%= f.hidden_field :store_id, value: params[:store_id] || @inventory_order&.store_id %>
      <%#= f.hidden_field :invoice_id, value: params[:invoice_id] || params[:advance_payment][:invoice_id] %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Advance Receipt</h4>
        <%# if params[:invoice_id].present? || params[:advance_payment][:invoice_id].present? %>
          <!-- <h4 class="modal-title">Against Bill No.&nbsp; <%#= @invoice.bill_number %></h4> -->
        <% if params[:order_id].present? || @inventory_order.present? %>
          <h4 class="modal-title">Against Order No.&nbsp; <%= @inventory_order.order_number %></h4>
        <% end %>
      </div>
      <div class="modal-body">
        <div class="row">
          <%= render partial: 'form.html.erb', locals: { f: f } %>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "Save", class: "btn btn-success", :onclick => 'advance_invoice()' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>

<style type="text/css">
  #advance_payment_payment_date, #advance_payment_payment_time, #advance_payment_cheque_date, #advance_payment_transfer_date {
    background: #fff;
    cursor: pointer;
  }

  input.error, select.error {
    border-color: #b94a48;
    background-image: none;
  }
  input.valid, select.valid {
    border-color: #468847;
    background-image: none;
  }
</style>