<div class="modal-dialog modal-lg" style="width:45%;">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Refund Receipt</h4>
    </div>
    <div class="modal-body">
      <div class="row advance-info mb20">
        <div class="col-md-12">
          <% refunded_amount_with_precision = number_with_precision(@refunded_amount, precision: 2) %>
          <% refunded_amount_display = Common::Finance::NumberFormatService.call(@number_format, refunded_amount_with_precision) %>
          <p>Refunded a sum of <b><%= @advance_payment.currency_symbol %> <%= refunded_amount_display %></b> to <b><%= @patient.fullname.to_s.upcase %></b> collected towards <b><%= @advance_payment.reason %></b> by <b><%= @advance_payment.mode_of_payment.titleize %></b> dated <b><%= @advance_payment.payment_date.strftime("%d/%m/%Y") %></b>.</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="col-md-6 text-left">
        <%= link_to print_refund_invoice_advance_payments_path(id: @advance_payment.id, refunded_amount: @refunded_amount, :format => :pdf), :target => "_blank", :class => "btn btn-info btn-sm" do %><i class="fa fa-print"></i> Print<% end %>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  /*input {
    border: none !important;
    border-bottom: 1px solid #aaa !important;
  }*/

  .service_row_count {
    border: 1px solid #aaa;
    padding: 21px;
    margin-bottom: 10px;
  }

  .patient_info_box {
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-left: 1px solid #aaa;
    padding: 10px 0;
    margin-bottom: 10px;
  }

  input.error, select.error {
    border-color: #b94a48;
    background-image: none;
  }
  input.valid, select.valid {
    border-color: #468847;
    background-image: none;
  }
</style>