var reports = jQuery('#outpatient_patient_time_spent_wise').dataTable({
  "sDom": "<'top'p>",
  "bLength": false,
  "bFilter": false,
  "bInfo": false,
  "bDestroy": true,
  'autoWidth': false,
  "sPaginationType": "full_numbers",
  "iDisplayStart": parseInt("<%= @mis_params[:iDisplayStart] || 0 %>"),
  "iDisplayLength": parseInt("<%= @mis_params[:iDisplayLength] || 100 %>"),
  "bServerSide": true,
  "sAjaxSource":"/mis/clinical_reports/reports_data.json?start_date=<%= @mis_params[:start_date] %>&end_date=<%= @mis_params[:end_date] %>&facility_id=<%= @mis_params[:facility_id] %>&facility_name=<%= @mis_params[:facility_name].gsub(/\'/,'`') %>&time_period=<%= @mis_params[:time_period] %>&title=<%= @mis_params[:title] %>&group=<%= @mis_params[:group] %>&has_params=true",
  "aoColumns": [
    { "sTitle": "Date", "sClass": "text-left", "sWidth": "5%", "bSortable": false },
    { "sTitle": "Patient Details", "sClass": "text-left", "sWidth": "5%", "bSortable": false },
    { "sTitle": "Patient Id", "sClass": "text-left", "sWidth": "5%", "bSortable": false },
    { "sTitle": "Mr No.", "sClass": "text-left", "sWidth": "5%", "bSortable": false },
    { "sTitle": "Area", "sClass": "text-left", "sWidth": "5%", "bSortable": false },
    { "sTitle": "Location", "sClass": "text-left", "sWidth": "5%", "bSortable": false },
    { "sTitle": "Appoinment Id", "sClass": "text-left", "sWidth": "5%", "bSortable": false },
    { "sTitle": "Receptionist", "sClass": "text-left", "sWidth": "5%", "bSortable": false },
    { "sTitle": "Optometrist", "sClass": "text-left", "sWidth": "5%", "bSortable": false },
    { "sTitle": "Doctor", "sClass": "text-left", "sWidth": "5%", "bSortable": false },
    { "sTitle": "Counsellor", "sClass": "text-left", "sWidth": "5%", "bSortable": false },
    { "sTitle": "Tpa", "sClass": "text-left", "sWidth": "5%", "bSortable": false },
    { "sTitle": "Cashier", "sClass": "text-left", "sWidth": "5%", "bSortable": false },
    { "sTitle": "Ar Nct", "sClass": "text-left", "sWidth": "5%", "bSortable": false },
    { "sTitle": "Nurse", "sClass": "text-left", "sWidth": "5%", "bSortable": false },
    { "sTitle": "Floor Manager", "sClass": "text-left", "sWidth": "5%", "bSortable": false },
    { "sTitle": "Pharma Shop", "sClass": "text-left", "sWidth": "5%", "bSortable": false },
    { "sTitle": "Optical Shop", "sClass": "text-left", "sWidth": "5%", "bSortable": false },
    { "sTitle": "Laboratory Dept.", "sClass": "text-left", "sWidth": "5%", "bSortable": false },
    { "sTitle": "Ophtal Dept.", "sClass": "text-left", "sWidth": "5%", "bSortable": false },
    { "sTitle": "Radiology Dept.", "sClass": "text-left", "sWidth": "5%", "bSortable": false },
    { "sTitle": "Total Time Spend", "sClass": "text-left", "sWidth": "5%", "bSortable": false },
  ],
  "oLanguage": {
    "sZeroRecords": "Nothing to Display",
    "sLoadingRecords": "Please wait - loading reports..."
  }
})

content = '<div class="row col-sm-6">'
content += '<div class="col-sm-1"> Note: </div>'
content += '<div class="col-sm-11">Time spent with each user role is in minutes.</div></div>'

$("#div_clinical_note").html(content);
$("#div_clinical_note").show();