<div class="row transaction-title">
  <div class="col-sm-12 text-center" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;"><strong>Return Item</strong></div>
</div>
<div class="row transaction-common-fields" style="margin-top:15px;">
  <div class="col-sm-8">
    <strong>Note</strong><br>
    <%= f.text_field :note, { class: 'form-control p7_10 fullname', placeholder: "Return Note", required: true } %>
  </div>
  <div class="col-sm-4">
    <strong>Return Date</strong><br>
    <% unless Authorization::PolicyHelper.verification(current_user.id,"HGP-100-109-102") %>
      <%= f.text_field :return_date, { value: Date.current.strftime("%d/%m/%Y"), class: 'form-control p7_10 fullname', placeholder: "Date of transition", readonly: 'readonly' } %>
    <% else %>
      <%= f.text_field :return_date, { value: Date.current.strftime("%d/%m/%Y"), class: 'form-control p7_10 fullname transaction-datepicker', placeholder: "Date of transition" } %>
    <% end %>
  </div>
  <% pat_identifier = PatientIdentifier.find_by(patient_id: @patient.id)&.patient_org_id %>
  <%= f.hidden_field :entry_type, { value: "return" } %>
  <%= f.hidden_field :return_time, { value: Time.now } %>
  <%= f.hidden_field :currency_symbol, { value: current_facility.currency_symbol } %>
  <%= f.hidden_field :currency_id, { value: current_facility.currency_id } %>
  <%= f.hidden_field :entered_by, { value: current_user.fullname } %>
  <%= f.hidden_field :user_id, { value: current_user.id } %>
  <%= f.hidden_field :store_id, { value: @store_id } %>
  <%= f.hidden_field :store_name, { value: @inventory_store.name } %>
  <%= f.hidden_field :facility_id, { value: current_facility.id } %>
  <%= f.hidden_field :organisation_id, { value: current_user.organisation_id } %>
  <%= f.hidden_field :patient_id, value: @patient.id %>
  <%= f.hidden_field :recipient, value: @patient.fullname %>
  <%= f.hidden_field :recipient_mobile, value: @patient.mobilenumber %>
  <%= f.hidden_field :department_name, value: @store.department_name %>
  <%= f.hidden_field :department_id, value: @store.department_id %>
  <%= f.hidden_field :patient_identifier, value: pat_identifier %>
  <%= f.hidden_field :return_type, value: "return_against_patient" %>
  <%= f.hidden_field :mode_of_payment, value: "Cash" %>
</div>
<div class="row mb5" style="border-bottom:1px solid #eee;border-top:1px solid #eee;">
<div class="transaction-lots-list" style="margin-top:15px;">
  <table class="table transaction-lots-table">
    <thead class="transaction-table-head">
      <tr class='thead-fixable'>
        <td class='thead-fix col-md-2 col-sm-2 col-xs-2'>Description</td>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Barcode</td>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Batch No.</td>
        <% if @store.department_id == "50121007" %>
          <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Model No.</td>
        <% end %>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Return Qty</td>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>U.Price With Tax</td>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Tax</td>
        <td class='thead-fix col-xs-1 text-center'>Discount</td>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Return Amt.</td>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Verified</td>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1 '>Action</td>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>
</div>

<div class="transaction-table-body" style="overflow-y: auto"></div>
</div>

<style>
  .transaction-datepicker{
    cursor: pointer !important;
  }
  .disabled_row{
    pointer-events: none;
  }
  .transaction-datepicker:disabled{
    cursor: not-allowed !important;
  }
</style>