<div class="modal-dialog" style="width: 50%">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <% if @report_type == 'bill_wise' %>
        <h5 class="modal-title" style="color: #1E90FF">Bill Wise Sale Return Report</h5>
      <% else %>
        <h5 class="modal-title" style="color: #1E90FF">Item Wise Sale Return Report</h5>
      <% end %>
    </div>
    <div class="modal-body window-body">
    	<div class="row mb10">
        <div class="col-md-6">
          <b>From</b>
        </div>
        <div class="col-md-6">
          <b>To</b>
        </div>
        <div class="col-md-3">
          <b>Date:</b>
          <%= text_field_tag 'sale_return_report[start_date]', @start_date, class: 'form-control sale-return-report-start-datepicker p5_10' %>
        </div>
        <div class="col-md-3">
          <b>Time:</b>
          <div class="bootstrap-timepicker timepicker">
            <% start_time = Time.current.beginning_of_day %>
            <%= text_field_tag 'sale_return_report[start_time]', start_time.try(:strftime, '%I:%M %p'), class: 'form-control sale-return-report-timepicker p5_10' %>
          </div>
        </div>
        <div class="col-md-3">
          <b>Date:</b>
          <%= text_field_tag 'sale_return_report[end_date]', @end_date, class: 'form-control sale-return-report-end-datepicker p5_10' %>
        </div>
        <div class="col-md-3">
          <b>Time:</b>
          <div class="bootstrap-timepicker timepicker">
            <% end_time = Time.current.end_of_day %>
            <%= text_field_tag 'sale_return_report[end_time]', end_time.try(:strftime, '%I:%M %p'), class: 'form-control sale-return-report-timepicker p5_10' %>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row mb10">
        <div class="col-md-4">
          <b>User:</b>
          <% @all_user = @all_user << ['All User', 'all_user'] %>
          <%= select_tag 'sale_return_report[user_name]', options_for_select(@all_user, selected: current_user.id), include_blank: false, include_hidden: false, class: 'form-control sale-return-report-concerned-person', style: 'padding: 5px' %>
          <input type="hidden" name="sale_return_report[user_id]" id="concerned_user_id">
        </div>
      </div>
      <% if @report_type == 'bill_wise' %>
        <div class="row mb10">
          <div class="col-md-6">
            <input type="radio" class="gst_include" name="gst_include" id="gst_include_0" value="0" checked="checked">
            <label for="gst_include_0">Exclude Tax Breakup</label><br>
            <input type="radio" class="gst_include" id="gst_include_1" name="gst_include" value="1">
            <label for="gst_include_1">Include Tax Breakup</label>
          </div>
          <div class="col-md-6"></div>
        </div>
      <% end %>
    <div class="modal-footer window-footer">
      <% if @report_type == 'bill_wise' %>
        <% download_report = "bill_wise_sale_return_inventory_transaction_returns_path(start_date: @start_date, end_date: @end_date, store_id: @inventory_store.id, department_id: @inventory_store.department_id, department_name: @inventory_store.department_name, format: 'xlsx')" %>
      <% else %>
        <% download_report = "item_wise_sale_return_inventory_transaction_returns_path(start_date: @start_date, end_date: @end_date, store_id: @inventory_store.id, department_id: @inventory_store.department_id, department_name: @inventory_store.department_name, format: 'xlsx')" %>
      <% end %>
        <%= link_to eval(download_report), class: "download-report btn btn-primary download_report_setting", data: { method: :get } do %> <i class="fa fa-download mr5"></i> Download <% end %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>