<%= f.hidden_field :organisation_id, value: current_user.organisation_id.to_s %>
<%= f.hidden_field :user_id, value: current_user.id.to_s %>
<div class="row mb10">
  <div class="col-md-4">
    <strong>Facility <span style="color: #B94A48">*</span></strong><br>
    <%= f.select :facility_id, @facilities.map { |f| [f.name, f.id, 'country-id': f.country_id] }, { include_blank: 'Select Facility' }, class: 'form-control facility_id', style: 'height:30px; padding:0px;' %>
  </div>
  <div class="col-md-4">
    <strong>Contact Group <span style="color: #B94A48">*</span></strong><br>
    <%= f.hidden_field :contact_group_name, class: 'contact_group_name' %>
    <%= f.select :contact_group_id, @contact_groups.pluck(:name, :id), { include_blank: 'Select Group' }, class: 'form-control contact_group_id', style: 'height:30px; padding:0px;' %>
  </div>
  <div class="col-md-4 ">
    <strong>Payer Type Master
      <span style="color: #B94A48">*</span>
      <button class="btn btn-xs btn-circle btn-circle-small btn-darkblue btn-darkblue-transparent copy-payer-type-to-display-name" title="Copy to Display Name"><i class="fa fa-clone"></i></button>
    </strong><br>

    <%= f.select :payer_type_id, [], { include_blank: 'Select' }, class: 'form-control payer_type_id_dropdown', style: 'height:30px; padding:0px;' %>
  </div>
<!--  <div class="col-md-3 tpa_insurer_type_master" style="display: none">-->
<!--    <strong>Insurer Type Master <span style="color: #B94A48">*</span></strong><br>-->
    <%#= f.select :tpa_insurer_type_id, [], { include_blank: 'Select' }, class: 'form-control tpa_insurer_type_id_dropdown', style: 'height:30px; padding:0px;' %>
<!--  </div>-->
</div>
<hr style="margin:10px;">

<div class="row" style="margin-top:15px;">
  <div class="col-sm-12 text-center" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;">
    <strong>
      Patient Payer Form Details:
    </strong>
  </div>
</div>

<div class="row" style="margin-top:15px;">
  <%= f.input :patient_payer_data_details, wrapper_html: {:class=>"col-md-12 col-xs-12"},collection: @finance_patient_payer_masters.pluck(:name, :id).map{ |i| [i[0], i[1].to_s]}, :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white patient_payer_data_details', :input_html => {:name => "payer_master[patient_payer_data_details]" }, :checked => @payer_master.checkboxes_checked(@payer_master.patient_payer_data_details.to_s) %>
</div>

<hr style="margin:10px;">
<div class="row mb10">
  <div class="col-md-12">
    <strong>Primary Contact</strong>
  </div>
  <div class="col-md-2">
    <%= f.select :salutation, ['Mr.', 'Mrs.', 'Miss', 'Dr.'], { include_blank: true }, class: 'form-control salutation', style: 'height:30px; padding:0px;' %>
  </div>
  <div class="col-md-3" style="width:27.77%;">
    <%= f.text_field :first_name, class: 'form-control p5_10 first_name', placeholder: 'First Name' %>
  </div>
  <div class="col-md-3" style="width:27.77%;">
    <%= f.text_field :middle_name, class: 'form-control p5_10 middle_name', placeholder: 'Middle Name' %>
  </div>
  <div class="col-md-3" style="width:27.77%;">
    <%= f.text_field :last_name, class: 'form-control p5_10 last_name', placeholder: 'Last Name' %>
  </div>
</div>
<div class="row mb10">
  <div class="col-md-3" style="width:27.77%;">
    <%= f.text_field :department, class: 'form-control p5_10 middle_name', placeholder: 'Department' %>
  </div>
  <div class="col-md-3" style="width:27.77%;">
    <%= f.text_field :designation, class: 'form-control p5_10 last_name', placeholder: 'Designation' %>
  </div>
</div>
<div class="row mb10">
  <div class="col-md-8">
    <strong>Company Name</strong><br>
    <%= f.text_field :company_name, class: 'form-control p5_10', placeholder: 'Company Name' %>
  </div>
  <div class="col-md-4">
    <strong>Abbreviation</strong><br>
    <%= f.text_field :abbreviation, class: 'form-control p5_10', placeholder: 'Abbreviation', maxlength: '5' %>
  </div>
</div>
<div class="row mb10">
  <div class="col-md-8">
    <strong>Display Name <span style="color: #B94A48">*</span></strong><br>
    <%= f.text_field :display_name, class: 'form-control p5_10', placeholder: 'Display Name' %>
  </div>
  <div class="col-md-4">
    <strong style="color:#fff;"><i class="fa fa-info"></i> Info</strong><br>
    <p style="font-size: 12px;line-height: 1.4;">Name by which Contact will be recognized, searched.</p>
  </div>
</div>
<div class="row mb10">
  <div class="col-md-4">
    <strong>Email</strong><br>
    <%= f.text_field :email, class: 'form-control p5_10', placeholder: 'Email' %>
  </div>
  <div class="col-md-4">
    <strong>Mobile Number</strong><br>
    <%= f.text_field :mobile_number, class: 'form-control p5_10', placeholder: 'Mobile', minlength: 10, maxlength: 10, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
  </div>
  <div class="col-md-4">
    <strong>Work Contact</strong><br>
    <%= f.text_field :work_number, class: 'form-control p5_10', placeholder: 'Work Phone', minlength: 10, maxlength: 10, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
  </div>
</div>
<div class="row mb10">
  <div class="col-md-12">
    <strong>Address</strong>
    <a href="" class="clear-address" style="display:none;font-size: 10px;margin-top: -7px;">Clear</a>
  </div>
  <div class="row cambodia_facility" style="margin-top:15px;">
    <div class="col-sm-3">
      <strong>Pincode</strong>
      <a href="" class="clear-pincode" style="display:none;font-size: 10px;margin-top: -7px;cursor: pointer;">Clear</a><br>
      <%= f.text_field :pincode, { :id =>'search_pincode_cambodia', :class => 'form-control p7_10 pincode', :placeholder => "Pincode", minlength: 5, maxlength: 7, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
    </div>
    <div class="col-sm-3">
      <strong>Province/ State</strong><br>
        <%= f.text_field :state, { :id =>'search_state_cambodia', :class => 'form-control p7_10 state', :placeholder => "State" } %>
    </div>
    <div class="col-sm-3">
      <strong>District</strong><br>
      <%= f.text_field :district, { id: 'search_district_cambodia', class: 'form-control district p5_10', placeholder: "District" } %>
    </div>
    <div class="col-sm-3">
      <strong>Commune</strong><br>
      <%= f.text_field :commune, {id: 'search_commune_cambodia', class: 'form-control commune p5_10', placeholder: "Commune"} %>
    </div>
  </div>
   <div class="row vietnam_facility" style="margin-top:15px;">
    <div class="col-sm-4">
      <strong>City</strong>
      <a href="" class="clear-commune" style="display:none;font-size: 10px;margin-top: -7px;cursor: pointer;">Clear</a>
      <%= f.text_field :city, { id: 'search_city_vietnam', class: 'form-control facility-city p5_10', placeholder: "City"} %>
    </div>
    <div class="col-sm-4">
      <strong>District</strong><br>
      <%= f.text_field :district, { id: 'search_district_vietnam', class: 'form-control district p5_10', placeholder: "District" } %>
    </div>
    <div class="col-sm-4">
      <strong>Commune</strong><br>
      <%= f.text_field :commune, {id: 'search_commune_vietnam', class: 'form-control commune p5_10', placeholder: "Commune"} %>
    </div>
  </div>

  <div class="row other_facility" style="margin-top:15px;">
    <div class="col-sm-4">
      <strong>Pincode</strong>
      <a href="" class="clear-pincode" style="display:none;font-size: 10px;margin-top: -7px;cursor: pointer;">Clear</a><br>
      <%= f.text_field :pincode, { :id =>'search_pincode_other', :class => 'form-control p7_10 pincode', :placeholder => "Pincode", minlength: 5, maxlength: 7, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
    </div>
    <div class="col-sm-4">
      <strong>State</strong><br>
        <%= f.text_field :state, { :id =>'search_state_other', :class => 'form-control p7_10 state', :placeholder => "State" } %>
    </div>
    <div class="col-sm-4">
      <strong>City</strong><br>
      <%= f.text_field :city, { :id =>'search_city_other', :class => 'form-control p7_10 facility-city', :placeholder => "City" } %>
    </div>
  </div>
</div>
<div class="row mb10">
  <div class="col-md-6">
    <%= f.text_field :address_line_1, class: 'form-control p5_10', placeholder: 'Address 1' %>
  </div>
  <div class="col-md-6">
    <%= f.text_field :address_line_2, class: 'form-control p5_10', placeholder: 'Address 2' %>
  </div>
</div>
<hr style="margin:10px;">
<div class="tariff-details">
  <div class="row mb10">
    <div class="col-md-12">
      <strong>Tariff Details</strong>
    </div>
    <div class="col-md-6">
      <strong>MOU/Contract Date</strong><br>
      <%= f.text_field :mou_date, class: 'form-control tariff_datepicker p5_10', placeholder: 'MOU/Contract Date', readonly: 'readonly' %>
    </div>
    <div class="col-md-6">
      <strong>Tariff Start Date</strong><br>
      <%= f.text_field :tariff_start_date, class: 'form-control tariff_datepicker p5_10', placeholder: 'Tariff Start Date', readonly: 'readonly' %>
    </div>
  </div>
  <div class="row mb10">
    <div class="col-md-6">
      <strong>Tariff End Date</strong><br>
      <%= f.text_field :tariff_end_date, class: 'form-control tariff_datepicker p5_10', placeholder: 'Tariff End Date', readonly: 'readonly' %>
    </div>
    <div class="col-md-6">
      <strong>Tariff Revised Date</strong><br>
      <%= f.text_field :tariff_revised_date, class: 'form-control tariff_datepicker p5_10', placeholder: 'Tariff Revised Date', readonly: 'readonly' %>
    </div>
  </div>
  <div class="row mb10">
    <div class="col-md-6">
      <strong>MOU Rates Information</strong><br>
      <%= f.text_field :mou_information, class: 'form-control p5_10', placeholder: 'MOU Information' %>
    </div>
    <div class="col-md-6">
      <strong>Comment</strong><br>
      <%= f.text_field :tariff_comment, class: 'form-control p5_10', placeholder: 'Tariff Comment' %>
    </div>
  </div>
</div>

<style type="text/css">
  .tariff_datepicker {
    cursor: pointer !important;
    background: #fff !important;
  }
</style>
