<div class="modal-dialog" style="width: 70%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Add Payers to Master</h4>
    </div>
    <%= form_tag create_group_payers_payer_masters_path, method: 'post', remote: true, id: 'create-payers-form', class: 'create-payers-form' do %>
      <div class="modal-body">
        <div class="row mb10">
          <div class="col-md-6">
            <strong>Facility</strong><br>
            <%= select_tag 'payer_masters[facility_id]', options_for_select(@facilities.pluck(:name, :id), current_facility.id), class: 'form-control dropdown_facility_id', style: 'height:30px; padding:0px;' %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <b style="color:#000;text-decoration:underline;">Insurance List</b>
              </div>
              <% @group_payers.insurance.each_with_index do |insurance, i| %>
                <% contact_group = @contact_groups.find { |cg| cg[:name] == 'Insurance' } %>
                <div class="col-md-12 mt10">
                  <div class="ckbox ckbox-primary">
                    <%= hidden_field_tag "payer_masters[payer_detail][ins_#{i}][user_id]", current_user.id.to_s %>
                    <%= hidden_field_tag "payer_masters[payer_detail][ins_#{i}][facility_id]", current_facility.id.to_s, class: 'payer_detail_facility_id' %>
                    <%= hidden_field_tag "payer_masters[payer_detail][ins_#{i}][organisation_id]", current_user.organisation_id.to_s %>

                    <%= hidden_field_tag "payer_masters[payer_detail][ins_#{i}][contact_group_id]", contact_group[:id] %>
                    <%= hidden_field_tag "payer_masters[payer_detail][ins_#{i}][contact_group_name]", contact_group[:name] %>
                    <%= hidden_field_tag "payer_masters[payer_detail][ins_#{i}][payer_uniq_id]", insurance[:uniq_id] %>
                    <%= hidden_field_tag "payer_masters[payer_detail][ins_#{i}][display_name]", insurance[:name] %>
                    <%= hidden_field_tag "payer_masters[payer_detail][ins_#{i}][company_name]", insurance[:name] %>
                    <%= hidden_field_tag "payer_masters[payer_detail][ins_#{i}][flag]", false %>
                    <%= check_box_tag "payer_masters[payer_detail][ins_#{i}][flag]", true, false, class: 'insurance_check_box', id: "insurance_name_#{i}" %>
                    <label for="insurance_name_<%= i %>"><b style="color: #000;"> <%= insurance[:name] %></b></label>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <b style="color:#000;text-decoration:underline;">TPA List</b>
              </div>
              <% @group_payers.tpa.each_with_index do |tpa, i| %>
                <% contact_group = @contact_groups.find { |cg| cg[:name] == 'TPA' } %>
                <div class="col-md-12 mt10">
                  <div class="ckbox ckbox-primary">
                    <%= hidden_field_tag "payer_masters[payer_detail][tpa_#{i}][user_id]", current_user.id.to_s %>
                    <%= hidden_field_tag "payer_masters[payer_detail][tpa_#{i}][facility_id]", current_facility.id.to_s, class: 'payer_detail_facility_id' %>
                    <%= hidden_field_tag "payer_masters[payer_detail][tpa_#{i}][organisation_id]", current_user.organisation_id.to_s %>
                    <%= hidden_field_tag "payer_masters[payer_detail][tpa_#{i}][contact_group_id]", contact_group[:id] %>
                    <%= hidden_field_tag "payer_masters[payer_detail][tpa_#{i}][contact_group_name]", contact_group[:name] %>
                    <%= hidden_field_tag "payer_masters[payer_detail][tpa_#{i}][payer_uniq_id]", tpa[:uniq_id] %>
                    <%= hidden_field_tag "payer_masters[payer_detail][tpa_#{i}][display_name]", tpa[:name] %>
                    <%= hidden_field_tag "payer_masters[payer_detail][tpa_#{i}][company_name]", tpa[:name] %>
                    <%= hidden_field_tag "payer_masters[payer_detail][tpa_#{i}][flag]", false %>
                    <%= check_box_tag "payer_masters[payer_detail][tpa_#{i}][flag]", true, false, class: 'tpa_check_box', id: "tpa_name_#{i}" %>
                    <label for="tpa_name_<%= i %>"><b style="color: #000;"> <%= tpa[:name] %></b></label>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= submit_tag 'Add Contacts', class: 'btn btn-success btn-add-contacts', data: { 'disable-with': 'Please Wait...' } %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('.dropdown_facility_id').on('change', function(){
    let facility_id = $(this).val();
    $('.payer_detail_facility_id').val(facility_id);
  })
</script>
