<div class="row payer-list">
  <div class="col-md-12">
    <b><%= @facility.name %></b>
  </div>
  <div class="col-md-12">
    <table class="table table-bordered payer-list-table" id="payer_list_table" style="table-layout: fixed;">
      <thead>
        <tr>
          <th>Payer Name <%= link_to payer_list_payer_masters_path(@options), data: { remote: true }, class: 'btn btn-link btn-xs btn-refresh-payer-list', style: 'display: none;' do %><i class="fa fa-refresh"></i><% end %></th>
          <th>Type</th>
          <th>Address</th>
          <th>Tariff Details</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="payer_master-list">
        <% @payer_masters.each do |payer_master| %>
          <tr class="each-payer_master-table-row">
            <td>
              <span>
                <b class="payer_master_name" style="color:#000;"><%= payer_master.display_name.to_s %></b>
                <% if payer_master.first_name.present? || payer_master.middle_name.present? || payer_master.last_name.present? %><br>Name: <%= "#{payer_master.first_name} #{payer_master.middle_name} #{payer_master.last_name}".split(' ').join(' ') %><% end %>
                <% if payer_master.company_name.present? %><br>Company: <%= payer_master.company_name %><% end %>
              </span>
              <br>
              <span>
                <%= payer_master.work_number.to_s %>
                <%= '/' if payer_master.work_number.present? && payer_master.mobile_number.present? %>
                <%= payer_master.mobile_number.to_s %>
              </span>
            </td>
            <td>
              <span><%= payer_master.contact_group_name %></span>
            </td>
            <td>
              <span>
                <%= payer_master.address_line_1.present? ? "#{payer_master.address_line_1}," : "<span style='opacity:0.4'>Address Line 1,</span>".html_safe %><br>
                <%= payer_master.address_line_2.present? ? "#{payer_master.address_line_2}," : "<span style='opacity:0.4'>Address Line 2,</span>".html_safe %><br>
                <% if @facility.country_id == 'VN_254' %>
                  <%= payer_master.commune.present? ? "#{payer_master.commune}," : '<span style="opacity:0.4">Commune, </span>'.html_safe %>
                  <%= payer_master.district.present? ? "#{payer_master.district} - " : '<span style="opacity:0.4">District, </span>'.html_safe %>
                  <%= payer_master.city.present? ? payer_master.city : '<span style="opacity:0.4">City</span>'.html_safe %>
                <% else %>
                  <%= payer_master.city.present? ? "#{payer_master.city}," : '<span style="opacity:0.4">City, </span>'.html_safe %>
                  <%= payer_master.state.present? ? "#{payer_master.state} - " : '<span style="opacity:0.4">State - </span>'.html_safe %>
                  <%= payer_master.pincode.present? ? payer_master.pincode : '<span style="opacity:0.4">Pincode</span>'.html_safe %>
                <% end %>
              </span>
            </td>
            <td>
              <% if payer_master.mou_date.present? || payer_master.tariff_start_date.present? || payer_master.tariff_end_date.present? || payer_master.tariff_revised_date.present? || payer_master.mou_information.present? || payer_master.tariff_comment.present? %>
                <span style="font-size: 12px;">
                  <% if payer_master.mou_date.present? %>
                    <span>MOU/Contract Date : <%= payer_master.mou_date.to_s(:hg_dmy_format) %></span><br>
                  <% end %>
                  <% if payer_master.tariff_start_date.present? %>
                    <span>Tariff Start Date : <%= payer_master.tariff_start_date.to_s(:hg_dmy_format) %></span><br>
                  <% end %>
                  <% if payer_master.tariff_end_date.present? %>
                    <span>Tariff End Date : <%= payer_master.tariff_end_date.to_s(:hg_dmy_format) %></span><br>
                  <% end %>
                  <% if payer_master.tariff_revised_date.present? %>
                    <span>Tariff Revised Date : <%= payer_master.tariff_revised_date.to_s(:hg_dmy_format) %></span><br>
                  <% end %>
                  <% if payer_master.mou_information.present? %>
                    <span>MOU Rates Information : <%= payer_master.mou_information %></span><br>
                  <% end %>
                  <% if payer_master.tariff_comment.present? %>
                    <span>Comment : <%= payer_master.tariff_comment %></span>
                  <% end %>
                </span>
              <% else %>
                <span style="opacity:0.4">No Tariff Details</span>
              <% end %>
            </td>
            <td>
              <% if payer_master.is_active %>
                <%= link_to edit_payer_master_path(id: payer_master.id.to_s), method: :get, data: { remote: true, toggle: 'modal', target: '#contact-modal' }, class: 'btn btn-info btn-xs edit-btn-payer_master' do %>Edit<% end %>
                <% if @facilities.count > 1 %>
                  <%= link_to clone_payer_master_path(id: payer_master.id.to_s, facility_id: @facility.id.to_s), method: :get, data: { remote: true, toggle: 'modal', target: '#contact-modal' }, class: 'btn btn-orange btn-xs edit-btn-payer_master' do %>Clone<% end %>
                <% end %>
                <%= link_to payer_master_path(id: payer_master.id.to_s), method: :delete, data: { remote: true }, class: 'btn btn-danger btn-xs delete-btn-payer_master' do %>Disable<% end %>
              <% else %>
                <%= link_to enable_payer_master_path(id: payer_master.id.to_s), data: { remote: true }, class: 'btn btn-info btn-xs enable-btn-payer_master' do %>Enable<% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% if @payer_masters.size == 0 %>
          <td class="text-center" colspan="5">No Payers</td>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
