<div class="fuelux">
  <div class="wizard" id="operativeWizard">
    <ul class="steps" id="operative-note-steps">
        <li data-step="1" class="otnote_steps personnel-step active"><span class="badge">1</span> Personnel <span class="chevron"></span></li>
        <li data-step="2" class="otnote_steps inventory-step"><span class="badge">2</span> Inventory<span class="chevron"></span></li>
        <li data-step="3" class="otnote_steps surgery-step"><span class="badge">3</span> Surgery<span class="chevron"></span></li>
        <li data-step="4" class="otnote_steps surgical-step"><span class="badge">4</span> Surgical Note<span class="chevron"></span></li>
        <li data-step="5" class="otnote_steps complications-step"><span class="badge">5</span> Complications<span class="chevron"></span></li>
        <li data-step="6" class="otnote_steps procedure-advise-step"><span class="badge">6</span> Advise<span class="chevron"></span></li>
    </ul>

    <div class="actions">
      <button type="button" class="btn btn-default btn-prev" disabled="disabled"><span class="glyphicon glyphicon-arrow-left"></span>Prev</button>
      <button type="button" class="btn btn-default btn-next">Next<span class="glyphicon glyphicon-arrow-right"></span></button>
    </div>
    <div class="step-content" style="overflow:scroll;">
      <%= f.simple_fields_for :operative_notes,@operative_note do |operative| %>
          <%= operative.hidden_field :id, value: @operative_note.try(:id)%>
          <%= operative.hidden_field :note_created_at, value: Time.current.strftime('%d/%m/%Y %I:%M %p')%>
          <%= operative.hidden_field :organisation_id, value: @admission.facility.organisation_id%>
          <%= operative.hidden_field :admission_id, value: @admission.id%>
          <%= operative.hidden_field :patient_id, value: @patient.id%>
          <%= operative.hidden_field :user_id, value: current_user.id%>
          <%= operative.hidden_field :department, value: @department%>
          <%= operative.hidden_field :specalityname, value: @department%>
          <%= operative.hidden_field :specalityid, value: @department_id%>
          <%= operative.hidden_field :ward_id, value: @admission.ward_id%>
          <%= operative.hidden_field :room_id, value: @admission.room_id%>
          <%= operative.hidden_field :bed_id, value: @admission.bed_id%>
          <%= operative.hidden_field :daycare, value: @admission.daycare%>
          <%= operative.hidden_field :patient_name, value: @patient.fullname%>
          <%= operative.hidden_field :patient_age, value: @patient.age%>
          <%= operative.hidden_field :patient_gender, value: @patient.gender%>
          <%= operative.hidden_field :mr_no, value: @patient_mrn%>
          <%= operative.hidden_field :patient_identifier_id, value: @patient_identifier_id%>
          <div class="step-pane active" data-step="1">
            <%= render partial: "inpatient/ipd_record/operative_note/common/personnel_form.html.erb", locals: {f: operative} %>
          </div>

          <div class="step-pane" data-step="2">
            <%= render partial: "inventory_form.html.erb", locals: {f: operative} %>
          </div>

          <div class="step-pane" data-step="3">
            <%= render partial: "surgery_form.html.erb", locals: {f: operative,j: f} %>
          </div>

          <div class="step-pane" data-step="4">
            <%= render partial: "inpatient/ipd_record/operative_note/common/surgical_form.html.erb", locals: {f: operative} %>
          </div>

          <div class="step-pane" data-step="5">
            <%= render partial: "inpatient/ipd_record/operative_note/common/complications_form.html.erb", locals: {f: operative} %>
          </div>

          <div class="step-pane" data-step="6">
            <%= render partial: "advise_form.html.erb", locals: {f: operative,j: f} %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<style type="text/css">
  .otnote_steps {
    cursor: pointer !important;
  }
</style>
<script type="text/javascript">
  $(document).ready(function(){
    var wind = $(window).height()
    $(".step-content").css('height', wind - 230)
    // Initialize Wizard
    $("#operativeWizard").wizard();
    // Disable Enable Prev Next On First and Last Step respectively
    $('#operativeWizard').on('actionclicked.fu.wizard', function (evt, data) {
      // Disable Prev Button on First Step
      if(data.step == 0 || (data.step == 2 && data.direction == "previous")) {
        $(".btn-prev").attr('disabled','disabled');
      } else {
        $(".btn-prev").removeAttr('disabled','disabled');
      }
      // Disable Next Button on First Step
      if(data.step == 5 && data.direction == "next") {
        $(".btn-next").attr('disabled','disabled');
      } else {
        $(".btn-next").removeAttr('disabled','disabled');
        }
    });

    //  Step Name Click Option
    $(".otnote_steps").on('click',function(){
      // Disable Enable Prev Next button
      if($(this).attr('data-step') == 1) {
        $(".btn-prev").attr('disabled','disabled');
      } else {
        $(".btn-prev").removeAttr('disabled','disabled');
      }
      if($(this).attr('data-step') == 6) {
        $(".btn-next").attr('disabled','disabled');
        $("#operativeWizard").wizard('next').wizard('next').wizard('next').wizard('next').wizard('next');
      } else {
        $(".btn-next").removeAttr('disabled','disabled');
      }    
      if($(this).attr('data-step') == 4) {
          $("#operativeWizard").wizard('next').wizard('next').wizard('next');
      }
      if($(this).attr('data-step') == 5) {
          $("#operativeWizard").wizard('next').wizard('next').wizard('next').wizard('next');
      }
      if($(this).attr('data-step') == 3) {
          $("#operativeWizard").wizard('next').wizard('next');
      }
      if($(this).attr('data-step') == 2) {
        $("#operativeWizard").wizard('next');
      } 
    })
  });
</script>