<div class="row">
  <div class="col-sm-12">
    <h5 class="subtitle mb5"><%= 'Upcoming Plan'.pluralize(@holiday_plans.count) + " : " + @holiday_plans.count.to_s %><%= link_to holiday_plans_path, data: { remote: 'true', toggle: 'modal', target: '#inpatient-modal'}, class: 'btn btn-link btn-minimize-view pull-right', style: 'padding: 0px;margin: -5px;' do %><b style="font-size: 12px;"><i class="fa fa-plus"></i> Add / Edit<% end %></h5>
  </div>
</div>
<div class="row toggle-view holiday-rows" style="margin:10px 0;">
  <div class="col-md-12 overflow_hidden" style=" max-height: 400px; overflow: auto">
    <% if @holiday_plans.count > 0 %>
      <div class="row" style="border-bottom:1px solid #eee;">
        <div class="col-sm-4"><b style="font-size: 11px;">Plan Type</b></div>
        <div class="col-sm-3"><b style="font-size: 11px;">Date</b></div>
        <div class="col-sm-3"><b style="font-size: 11px;">Time</b></div>
        <div class="col-sm-2"><b style="font-size: 11px;">Action</b></div>
      </div>
      <% @holiday_plans.each_with_index do |pp, index| %>
        <div class="row mt5 <%= "active_blocked" if index > 4 %>">
          <div class="col-sm-4" style="line-height: 1.25;"><b><%= pp.plan %></b></div>
          <div class="col-sm-3" style="line-height: 1.25;">
            <% if pp.start_date == pp.end_date %>
              <%= pp.start_date.strftime("%d %b'%y") %>
            <% else %>
              <% if pp.start_date && pp.end_date %>
                <% if pp.start_date.strftime("%b %y") == pp.end_date.strftime("%b %y") %>
                  <%= pp.start_date.strftime("%d -") %><%= pp.end_date.strftime("%d %b'%y") %>
                <% else %>
                  <%= pp.start_date.strftime("%d %b'%y") %> - <%= pp.end_date.strftime("%d %b'%y") %>
                <% end %>
              <% else %>
                <%= pp.start_date.strftime("%d %b'%y") %>
              <% end %>
            <% end %>
          </div>
          <div class="col-sm-3" style="line-height: 1.25;">
            <% if pp.start_time && pp.end_time %>
              <%= pp.start_time.try(:strftime, '%I:%M %p') %> - <%= pp.end_time.strftime("%I:%M %p") %>
            <% elsif pp.start_time %>
              <%= pp.start_time.try(:strftime, '%I:%M %p') %>
            <% elsif pp.end_time %>
              <%= pp.end_time.strftime("%I:%M %p") %>
            <% else %>
              --
            <% end %>
          </div>
          <div class="col-sm-2">
            <!-- <button class="btn btn-link btn-xs" style="padding:0px;"><i class="fa fa-edit"></i></button> -->
            <!-- <button class="btn btn-link btn-xs" style="padding:0px;"><i class="fa fa-times"></i></button> -->
            <%= link_to holiday_plan_path(id: pp.id, location: "Dashboard"), method: 'delete', data: {remote: true, confirm: 'Are you sure, you want to delete this plan ?' }, class: 'btn btn-link btn-xs', style: "padding-left:10px;" do %><i class="fa fa-trash-alt"></i><% end %>
          </div>
        </div>
      <% end %>
        <% if @holiday_plans.count > 5 %>
        <b class="active_expansion" style="font-size:12px; text-decoration: underline; color: #428bca; position: relative; left: 85%; top: 10%; cursor: pointer">Show More</b>
        <% end %>
    <% else %>
      <div class="row">
        <div class="col-sm-12">
          <span style="font-size:14px;">No Plans Added</span>
        </div>
      </div>
    <% end %>
  </div>
</div>

<hr>

  
<div class="row " style="margin:10px 0;">
  <div class="col-md-12 overflow_hidden" style="background: #eeeeee; max-height: 500px; overflow: auto;">
    <% if @holiday_plans_past.count > 0 %>
      <br>
      <h5 class="subtitle mb5" style="border-bottom:1px solid #eee; padding-bottom: 1%;"><%= 'Past Plan'.pluralize(@holiday_plans_past.count) + " : " + @holiday_plans_past.count.to_s %></h5>
      <div class="row" style="border-bottom:1px solid #eee;">
        <div class="col-sm-4"><b>Plan Type</b></div>
        <div class="col-sm-4"><b>Date</b></div>
        <div class="col-sm-4"><b>Time</b></div>
      </div>
      <span style="margin: 0px;border: 1px solid rgb(159.38, 159.38, 159.38);display: inline-block;width: 100%;top: 10%;position: relative;top: -10px;"></span>
      <% @holiday_plans_past.each_with_index do |pp, index| %>
        <div class="row mt5 <%= "blocked_display" if index > 4 %>">
          <div class="col-sm-4" style="line-height: 1.25;"><b><%= pp.plan %></b></div>
          <div class="col-sm-3" style="line-height: 1.25;">
            <% if pp.start_date == pp.end_date %>
              <%= pp.start_date.strftime("%d %b'%y") %>
            <% else %>
              <% if pp.start_date && pp.end_date %>
                <% if pp.start_date.strftime("%b %y") == pp.end_date.strftime("%b %y") %>
                  <%= pp.start_date.strftime("%d -") %><%= pp.end_date.strftime("%d %b'%y") %>
                <% else %>
                  <%= pp.start_date.strftime("%d %b'%y") %> - <%= pp.end_date.strftime("%d %b'%y") %>
                <% end %>
              <% else %>
                <%= pp.start_date.strftime("%d %b'%y") %>
              <% end %>
            <% end %>
          </div>
          <div class="col-sm-5" style="line-height: 1.25;">
            <% if pp.start_time && pp.end_time %>
              <% if pp.start_time == pp.end_time %>
                <%= pp.start_time.try(:strftime, '%I:%M %p') %>
              <% else %>
                <%= pp.start_time.try(:strftime, '%I:%M %p') %> - <%= pp.end_time.strftime("%I:%M %p") %>
              <% end %>
            <% elsif pp.start_time %>
              <%= pp.start_time.try(:strftime, '%I:%M %p') %>
            <% elsif pp.end_time %>
              <%= pp.end_time.strftime("%I:%M %p") %>
            <% else %>
              --
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
      <% if @holiday_plans_past.count > 5 %>
        <b class="past_expansion" style="font-size:12px; text-decoration: underline; color: #428bca; position: relative; left: 85%; top: 10%; cursor: pointer">Show More</b>
      <% end %>
      <hr>
  </div>
</div>
<style type="text/css">
  .blocked_display{
    display:  none;
  }
  .active_blocked{
    display:  none;
  }
</style>
<script>
  $(".past_expansion").click(function(){
    $('.blocked_display').is(":visible") ? $('.blocked_display').hide() : $('.blocked_display').show()
    $(".past_expansion").text() == "Show More" ? $(".past_expansion").text("Show Less") : $(".past_expansion").text("Show More") 
  })
  $(".active_expansion").click(function(){
    $('.active_blocked').is(":visible") ? $('.active_blocked').hide() : $('.active_blocked').show()
    $(".active_expansion").text() == "Show More" ? $(".active_expansion").text("Show Less") : $(".active_expansion").text("Show More") 
  })
</script>