<style>
    .ListItem:Hover {
        cursor: pointer;
    }
</style>
<div class="row mb5">
  <div class="col-sm-12">
    <h5 class="subtitle mb5" style="display:inline;">Task List<span class="btn btn-link btn-minimize-view pull-right" style="padding:0px;margin:-5px;"><b style="font-size: 12px;"><i class="fa fa-plus"></i> Add</b></span></h5>
  </div>
</div>
<div class="row mb10 toggle-form" style="display: none;padding:5px;box-shadow:0 0 5px;">
  <%= form_tag task_lists_path, :method => :post, :remote => true, id: 'task_form'  do %>
    <div class="col-sm-9">
      <%= text_area_tag :comment, "", class: 'form-control message', placeholder: "Enter your task..", style: "width: 100%;"%>
    </div>
    <div class="col-sm-3">
      <%= submit_tag( "Save", { class: "btn btn-primary btn-sm  " }) %>
    </div>
  <% end %>
  <hr>
</div>
</hr>
<% if @tasks.count > 0 %>
    <ul class="row card" id="SortMe" style="list-style: none;padding: 0;">
      <% @tasks.each.with_index do |task,i| %>
        <% @user = User.find_by(id: task.user_id) %>
            <div class="panel panel-success" style="padding:0px;box-shadow:0 0 5px;">
              <div class="panel-body" style="padding: 5px">
                  <li id="<%= task.id %>" class="ListItem">
                    <div class="col-xs-12">
                      <div class="ckbox ckbox-primary">
                        <input type="checkbox" value="1" style='display: none' id='is_complete<%=task.id%>' class="task-checkbox" data-task-id="<%= task.id %>" <%= 'checked="checked"' if task.is_complete %>>
                        <label for="is_complete<%=task.id%>" class="label-<%=task.id%>">

                          <span class="comment-<%=task.id%>" style= 'word-wrap: break-word;margin-left: 20px;text-decoration: <%=  "line-through" if task.is_complete%>'><%= task.comment %></span><br>
                          <span class="user_timestamp"style="font-size:10px;color:#428bca;">by <%= @user.fullname %> (<%= task.created_at.strftime("%d%b%y") %>)</span>

                          <% if current_user.id.to_s == task.user_id.to_s || current_user.role_ids.any?{|i| [160943002,6868009].include?i} %>
                              <button class="btn btn-link btn-xs btn-delete-task" data-task-id="<%= task.id %>" style="padding:0px;margin:0px;"><span style="padding: 2px 0px;" class="fa fa-trash-alt"></span></button>
                              <button class="btn btn-link btn-xs btn-edit-task" data-task-comment="<%= task.comment %>" data-task-id="<%= task.id %>" style="padding:0px;margin:0px;"><span style="padding: 2px 0px;" class="fa fa-pencil-alt"></span></button>
                          <% end %>

                        </label>
                      </div>
                    </div>
                    <!--<div class="col-xs-10 user_comment_timestamp" data-task-id="<%= task.id %>" style="line-height: 1;margin-top: 5px;">-->

                    <!--</div>-->
                    <!--<div class="col-xs-1">-->

                    <!--</div>-->
                  </li>
              </div>
            </div>
      <% end %>
    </ul>
<% else %>
  <div class="col-md-12">
    <div class="row">
      <div class="col-sm-12">
        <span style="font-weight:bold;">No Tasks Added</span>
      </div>
    </div>
  </div>
<% end %>


<script type="text/javascript">
  <%= render partial: 'dashboard/sidebar_content/task_manager.js.erb' %>
</script>