<div class="row">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Mobile</th>
        <th>Mrno</th>
        <th>Appt Date</th>
        <th>Appt ID</th>
        <th>Appt _ID</th>
        <th>Employee</th>
        <th>Doctor</th>
        <th>Fac Code</th>
        <th>Date</th>
        <th>Time</th>
        <th>Method</th>
        <th>Status</th>
        <th>Code</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
      <% @data_sent.each do |data_sent| %>
        <tr>
          <td><%= data_sent.first_name %></td>
          <td><%= data_sent.mobile_number %></td>
          <td><%= data_sent.mr_no %></td>
          <td><%= data_sent.appointment_date %></td>
          <td><%= data_sent.appointment_integration_identifier %></td>
          <td><%= data_sent.appointment_integration_identifier_bson %></td>
          <td><%= data_sent.employee_id %></td>
          <td><%= data_sent.doctor_employee_id %></td>
          <td><%= data_sent.abbreviation %></td>
          <td><%= data_sent.sent_date %></td>
          <td><%= data_sent.sent_time %></td>
          <td><%= data_sent.method_type %></td>
          <td><%= data_sent.status %></td>
          <td><%= data_sent.status_code %></td>
          <td><%= data_sent.message %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>