<div class="row">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Mobile</th>
        <th>Mrno</th>
        <th>Appt Date</th>
        <th>Appt ID</th>
        <th>Appt _ID</th>
        <th>Employee</th>
        <th>Doctor</th>
        <th>Fac Code</th>
        <th>Date</th>
        <th>Time</th>
        <th>Method</th>
        <th>Status</th>
        <th>Code</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
      <% @data_received.each do |data_received| %>
        <tr>
          <td><%= data_received.first_name %></td>
          <td><%= data_received.mobile_number %></td>
          <td><%= data_received.mr_no %></td>
          <td><%= data_received.appointment_date %></td>
          <td><%= data_received.appointment_integration_identifier %></td>
          <td><%= data_received.appointment_integration_identifier_bson %></td>
          <td><%= data_received.employee_id %></td>
          <td><%= data_received.doctor_employee_id %></td>
          <td><%= data_received.abbreviation %></td>
          <td><%= data_received.received_date %></td>
          <td><%= data_received.received_time %></td>
          <td><%= data_received.method_type %></td>
          <td><%= data_received.status %></td>
          <td><%= data_received.status_code %></td>
          <td><%= data_received.message %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>