<div class="row">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>MrNo</th>
        <th>Appt Id</th>
        <th>Status</th>
        <th>Code</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
      <% @response_sent.each do |response_sent| %>
        <tr>
          <th><%= response_sent.mr_no %></th>
          <th><%= response_sent.appointment_integration_identifier %></th>
          <th><%= response_sent.status %></th>
          <th><%= response_sent.status_code %></th>
          <th><%= response_sent.message %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>