<div class="row">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>MrNo</th>
        <th>Appt Id</th>
        <th>Status</th>
        <th>Code</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
      <% @response_received.each do |response_received| %>
        <tr>
          <th><%= response_received.mr_no %></th>
          <th><%= response_received.appointment_integration_identifier %></th>
          <th><%= response_received.status %></th>
          <th><%= response_received.status_code %></th>
          <th><%= response_received.message %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>