<%= javascript_include_tag 'application-loggedin', 'data-turbolinks-track' => true %>
<div class="modal-dialog screen-dialog" style="width:60%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Edit Screen</h4>
    </div>
    <%= form_for @screen, remote: true, html: { id: 'edit-screen-form', class: 'edit-screen-form' } do |f| %>
      <div class="modal-body">
        <div id="screen-form">
          <div class="row screen-form">
            <%= f.hidden_field :organisation_id, value: @screen.organisation_id %>
            <%= f.hidden_field :facility_id, value: @screen.facility_id %>
            <%= f.hidden_field :user_id, value: @screen.user_id %>
            <%= f.hidden_field :expiry_date, value: @screen.expiry_date %>
            <div class="col-md-3">
              <b style="color:#000;">Facility</b><br>
              <input type="text" name="facility_name" class="form-control p5_10 facility-name" value="<%= @facility&.name %>" readonly>
            </div>
            <div class="col-md-3">
              <b style="color:#000;">Screen Name</b>
              <%= f.text_field :name, value: @screen.name, class: 'form-control p5_10 screen-name' %>
            </div>
            <div class="col-md-3">
              <b style="color:#000;">User Name</b>
              <%= f.text_field :username, value: @screen.username, class: 'form-control p5_10 screen-username', readonly: true %>
            </div>
            <div class="col-md-3">
              <b style="color:#000;">Pass Code</b>&emsp;<a href="" class="reset-passcode-btn"><i class="fa fa-refresh"> Change</i></a>
              <%= f.text_field :passcode, value: @screen.passcode, class: 'form-control p5_10 screen-passcode', readonly: true %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= submit_tag 'Save', class: 'btn btn-success btn-save-screen', data: { 'disable-with': 'Please Wait...' }, onclick: 'queue_screen_form()' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>

<style type="text/css">
  .screen-form {
    margin: 0 10px 10px 10px;
  }

  .reset-passcode-btn {
    font-size: 12px;
  }
</style>

<script type="text/javascript">
  <%= render partial: 'edit.js.erb' %>
</script>
