<div id="screen-block">
  <hr>
  <div class="row screen-form-row mb10">
    <div class="row screen-form-header">
      <div class="col-md-12">
        <b>Step 2 : Add Screens (<span style="color:#f00;">User Name and Passcode will be used to access Areas/Stations Screen in Queue Display App.</span>)</b>
      </div>
      <div class="col-md-4">
        <b style="color:#000;">Screen Name</b>
      </div>
      <div class="col-md-3">
        <b style="color:#000;">User Name</b>
      </div>
      <div class="col-md-3">
        <b style="color:#000;">Pass Code</b>
      </div>
      <div class="col-md-2">
        <b style="color:#000;">Actions</b><br>
      </div>
    </div>
    <div class="row screen-form">
      <input type="hidden" name="screens[0][organisation_id]" class="screens_organisation_id" id="screens_0_organisation_id" value="<%= current_user.organisation_id %>">
      <input type="hidden" name="screens[0][facility_id]" class="screens_facility_id" id="screens_0_facility_id" value="<%= params[:facility_id] %>">
      <input type="hidden" name="screens[0][user_id]" class="screens_user_id" id="screens_0_user_id" value="<%= current_user.id %>">
      <input type="hidden" name="screens[0][expiry_date]" class="screens_expiry_date" id="screens_0_expiry_date" value="<%= Date.today + 1.year %>">
      <div class="col-md-4">
        <input type="text" class="form-control p5_10 screen-name" name="screens[0][name]" id="screens_0_name">
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control p5_10 screen-username" name="screens[0][username]" id="screens_0_username" value="<%= "qm_#{SecureRandom.hex(4)}" %>" readonly>
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control p5_10 screen-passcode" name="screens[0][passcode]" id="screens_0_passcode" value="<%= SecureRandom.hex(5) %>" readonly>
      </div>
      <div class="col-md-2">
        <button class="btn btn-danger btn-remove-screen btn-xs" id="screens_0_remove"><i class="fa fa-trash-alt"></i></button>
      </div>
    </div>
  </div>
  <div class="row add-screen-row">
    <div class="col-md-12">
      <button class="btn btn-primary btn-xs" id="btn-add-screen"><i class="fa fa-add"></i> Add Screen</button>
    </div>
  </div>
</div>
