<table class="table table-bordered" style="table-layout: fixed;">
  <thead>
    <tr>
      <th>Screen Name</th>
      <th>User Name</th>
      <th>Pass Code</th>
      <th style="width:10%;">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @screens.each do |screen| %>
      <tr>
        <th><%= screen.name %></th>
        <th class="hover-clip">
          <b class="username-<%= screen.id %>"><%= screen.username %></b>
          <button class="btn btn-link btn-xs" onclick="copyToClipboard('.username-<%= screen.id %>')" style='display: none;'><i class="fa fa-clone"></i></button>
        </th>
        <th class="hover-clip">
          <b class="passcode-<%= screen.id %>"><%= screen.passcode %></b>
          <button class="btn btn-link btn-xs" onclick="copyToClipboard('.passcode-<%= screen.id %>')" style='display: none;'><i class="fa fa-clone"></i></button>
        </th>
        <th>
          <%= link_to edit_queue_management_screen_path(id: screen.id), id: 'edit_screen', data: { remote: true, toggle: 'modal', target: '#ward-modal' }, class: 'btn btn-info btn-xs btn-edit-screen' do %>Edit<% end %>
        </th>
      </tr>
    <% end %>
    <% if @screens.count == 0 %>
      <tr>
        <th class="text-center" colspan="4">No Screens Registered.</th>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  // Explanation : $('.hover-clip').hover(over, out)
  $('.hover-clip').hover(
    function () { $(this).find('button').show(); }, // over
    function () { $(this).find('button').hide(); }  // out
  );

  function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
  }
</script>
