<div class="mb20">
  <div class="col-sm-12">
    <b style="color:#000;">Past Visit Details :</b>
  </div>
  <div class="row">
    <div class="col-sm-12">


      <table class="table mt10">
        <thead>
        <tr>
          <th class="text-center"><span class="text-dark">Date Time</span></th>
          <th class="text-center"><span class="text-dark">Consultant</span></th>
          <th class="text-center"><span class="text-dark">OP Type</span></th>
          <th class="text-center"><span class="text-dark">OP Sub Type</span></th>
          <th class="text-center"><span class="text-dark">Bill Type</span></th>
          <th class="text-center"><span class="text-dark">Amount</span></th>
          <th class="text-center"><span class="text-dark">Scheduled By</span></th>
        </tr>
        </thead>
        <tbody>
          <% @past_appointment.each.with_index do |past_appointment,i| %>
            <tr>
              <td class="text-center">
                <strong><%= past_appointment.try(:appointment_start_time).try(:strftime, '%d %b %y at %I:%M %p') %></strong>
              </td>
              <td class="text-center">
                <strong><%= past_appointment.try(:consulting_doctor) || "NA" %></strong>
              </td>
              <td class="text-center">
                <strong><%= past_appointment.try(:appointment_type) || "NA" %></strong>
              </td>
              <td class="text-center">
                <strong><%= past_appointment.try(:appointment_category_label) || "NA" %></strong>
              </td>
              <td class="text-center">
                <strong><%= past_appointment.try(:opd_consultation_bill_type) || "NA" %></strong>
              </td>
              <td class="text-center">
                <strong><%= past_appointment.try(:opd_consultation_amount) || "NA" %></strong>
              </td>
              <td class="text-center">
                <strong><%= past_appointment.try(:scheduling_user) || "NA" %></strong>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>