<% if  @patient_referral_type&.referral_type&.id == "FS-RT-0004"%>
  <% existing_patient = @patient_referral_type.try(:sub_referral_type).try(:existing_patient) || false %>
  <% name = @patient_referral_type.try(:sub_referral_type).try(:name) %>
  <% mobile_number = @patient_referral_type.try(:sub_referral_type).try(:mobile_number) %>
  <% email = @patient_referral_type.try(:sub_referral_type).try(:email) %>
  <% relation = @patient_referral_type.try(:sub_referral_type).try(:relation) %>
  <% comment = @patient_referral_type.try(:sub_referral_type).try(:comment) %>
<% end %>

<div class="row mt10">
  <%= hidden_field_tag 'sub_referral_type[is_active]', false %>
  <%= hidden_field_tag 'sub_referral_type[user_id]', current_user.id %>
  <%= hidden_field_tag 'sub_referral_type[organisation_id]', current_user.organisation_id %>
  <div class="col-md-3">
    <div class="row mb10">
      <div class="col-md-12">
        <%= hidden_field_tag 'sub_referral_type[existing_patient]', false, id: "sub_referral_type_ep" %> <!-- If not Checked: Send 'false' -->
        <div class="ckbox ckbox-primary">
          <%= check_box_tag 'sub_referral_type[existing_patient]', true, existing_patient, {id: "sub_referral_type_existing_patient"} %>
          <label for="sub_referral_type_existing_patient">Existing Patient</label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row mb10">
      <div class="col-md-4">
        <%= text_field_tag "sub_referral_type[name]", name, { class: 'form-control p5_10', placeholder: 'Name' } %>
      </div>
      <div class="col-md-4">
        <%= text_field_tag "sub_referral_type[mobile_number]", mobile_number, { class: 'form-control p5_10', placeholder: 'Mobile', maxlength: 10, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
      </div>
      <div class="col-md-4">
        <%= text_field_tag "sub_referral_type[email]", email, { class: 'form-control p5_10', placeholder: 'Email' } %>
      </div>
    </div>
    <div class="row mb10">
      <div class="col-md-4">
        <%= text_field_tag "sub_referral_type[relation]", relation, { class: 'form-control p5_10', placeholder: 'Relation' } %>
      </div>
      <div class="col-md-4">
        <%= text_field_tag "sub_referral_type[comment]", comment, { class: 'form-control p5_10', placeholder: 'Comment' } %>
      </div>
    </div>
  </div>
</div>