<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog" style="width: 60%">
  <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h5 class="modal-title" style="color: #1E90FF">Vendor Documents</h5>
      </div>
      <div class="modal-body window-body">
        <div class="row">
          <% @vendor_assets.each do |asset| %>
            <div class="col-md-2 col-sm-3 document filemanager">
              <div class="thumb" style="background:#D3D3D3;height: 170px">
                <div class="btn-group fm-group" style="display: none;">
                  <% unless params[:type] == "purchase_bill" %>
                    <button type="button" class="btn btn-default dropdown-toggle fm-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu fm-menu" role="menu">
                      <li><%= link_to inventory_vendor_document_path(@vendor, asset), :data => {:remote=>true, :action => 'destroy',:method => :delete, :confirm => 'Are you sure want to delete this?'} do %>
                        <i class="fa fa-trash-alt"> </i>Delete
                        <%end%>
                      </li>
                    </ul>
                  <% end %>
                </div>
                <div class="thmb-prev">
                  <%= link_to inventory_vendor_document_url(id: asset.id), remote: true, class: 'file' do %>
                    <%= asset_thumb(asset) %>
                  <% end %>
                </div>
                <h5 style="text-overflow: ellipsis;" class="fm-title text-center" >
                  <a href="<%= asset.asset_path_url%>" target="_blank">
                    <%= asset.name&.capitalize%>
                  </a>
                </h5>
                <div class="text-muted text-right" style="padding-right: 2px;">
                  <small>Added:<%= asset.created_at.try(:strftime, "%d %b '%y") %></small>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer window-footer"></div>
  </div>
</div>
<style>
 .thumb {
  height: 155px;
  background: lightgray;
 }
 .document {
  padding-bottom: 5px;
 }
 .img-icon {
  margin: auto;
  padding-top: 25px;
  height: 100px;
  width: 60px;
 }
 .img-pic {
  height: 100px;
  margin: auto;
  width: 100%;
 }
</style>

<script>
  $('.thumb').hover(function(){
    $(this).find('.fm-group').css("display", "block");
  }, function() {
    if(!$(this).closest('.thumb').hasClass('checked')) {
      $(this).find('.fm-group').css("display", "none");
    }
  });
</script>
