<% @show_language_support = current_facility.show_language_support %>
<%if @show_language_support %>
  <tr class="treatmentmedications">
    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" class="col-md-3 col-sm-3">
      <div class="form-group">
        <div class="input-group mb15">
          <div class="ui-widget">
            <%= hidden_field_tag "nursing_record[treatmentmedication_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
            <%= text_field_tag "nursing_record[treatmentmedication_attributes][#{i}][medicinename]", nil, {:maxlength => 300, :size => 40, :class => 'form-control medicinename',:style => 'width:100%' } %>
          </div>
          <span id="medicinename-contents-<%= "#{i}" %>" class="btn btn-xs btn-success btn-square medicinename-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
        </div>
      </div>
    </td>

    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" class="col-md-1 col-sm-1">
      <div class="form-group">
        <div class="input-group mb15">
          <%= text_field_tag "nursing_record[treatmentmedication_attributes][#{i}][medicinetype]", nil, { :class => 'form-control medicinetype' } %>
        </div>
      </div>
    </td>

    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
      <div class="form-group">
        <div class="input-group mb15">
          <%= select_tag "nursing_record[treatmentmedication_attributes][#{i}][medicinequantity]", options_for_select(['1/4', '1/2', '1', '2', '3','4','5','6','7','8','9','10','11','12','13','14','15','20','25','30','35','40','45','50'], "1"), { :class => 'form-control medicinequantity' } %>
        </div>
      </div>
    </td>

    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
      <div class="form-group">
        <div class="input-group mb15">
          <%= select_tag "nursing_record[treatmentmedication_attributes][#{i}][medicinefrequency]", options_for_select([['Select', ''], '1-1-1', '1-1-0', '1-0-1', '0-1-1', '1-0-0', '0-1-0', '0-0-1','2-2-2','2-0-2', '1-1-1-1','once a week','once a month', '5 times a day', '6 times a day', '8 times a day', '10 times a day', '12 times a day', '24 times a day','Sat-Sun', 'SOS'], ""), { :class => 'form-control medicinefrequency'} %>
        </div>
      </div>
    </td>

    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" class="col-md-3-shared col-sm-3-shared">
      <div class="form-group">
        <div class="input-group mb15">

          <div class="row">

            <div class="col-md-6 col-sm-6">
              <%= select_tag "nursing_record[treatmentmedication_attributes][#{i}][medicineduration]", options_for_select([['Sel',''],['1','1'], ['2','2'], ['3','3'], ['4','4'], ['5','5'], ['6','6'], ['7','7'], ['8','8'], ['9','9'], ['10','10'], ['11','11'], ['12','12'], ['15', '15'], ['20', '20'], ['25', '25'], ['30', '30'], ['40', '40'], ['50', '50']  ], ""), { :class => 'form-control medicineduration', :style => 'width:100%;padding-left:0px;padding-right:0px;'} %>
            </div>

            <div class="col-md-6 col-sm-6">
                <%= select_tag "nursing_record[treatmentmedication_attributes][#{i}][medicinedurationoption]", options_for_select([['Sel',''], ['Days', 'D'], ['Weeks', 'W'], ['Months', 'M'], ['Next followup', 'F']], ""), { :class => 'form-control medicinedurationoption',:style => 'width:100%;padding-left:0px;padding-right:0px;'} %>
            </div>

          </div>

        </div>
      </div>
    </td>

    <td class="medication_instruction_box" style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" class="col-md-3-shared col-sm-3-shared">
      <div class="form-group instruction">
        <div class="input-group mb15">
          <%= select_tag "nursing_record[treatmentmedication_attributes][#{i}][instruction]", options_for_select(@medication_instruction_set), {:prompt => 'Please Select', :class => 'form-control instruction_dropdown',:style => "padding: 10px 0px" } %>
        </div>
      </div>
      <div class="form-group hide instruction_box">
        <div class="input-group mb15">
          <%= text_field_tag "nursing_record[treatmentmedication_attributes][#{i}][medicineinstructions]", nil, {:maxlength => 300, :size => 40, :class => 'form-control text_box_val', :style => "width: 86%" } %>
          <button type="button" class="btn btn-link undo_button fa fa-undo" style="width: 0%; margin-left: -11%;"></button>
        </div>
      </div>
    </td>
    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" class="col-md-1 col-sm-1">
      <div class="form-group" style="width: 100%;">
        <div class="input-group mb15">
          <%= text_field_tag "nursing_record[treatmentmedication_attributes][#{i}][date]",nil, { :class => "form-control form-control-custom preop_datepicker", id: "nursing_record_treatmentmedication_attributes_#{i}_date",readonly: true} %>
        </div>
      </div>
    </td>
    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" class="col-md-1 col-sm-1">
      <div class="form-group" style="width: 100%;">
        <div class="input-group mb15 bootstrap-timepicker timepicker">
          <%= text_field_tag "nursing_record[treatmentmedication_attributes][#{i}][time]",nil, { :class => "form-control form-control-custom preop_timepicker", id: "nursing_record_treatmentmedication_attributes_#{i}_time"} %>
        </div>
      </div>
    </td>

    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" class="col-md-1 col-sm-1">

      <div class="form-group">
        <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
        <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger" href="javascript:;" name="removemedicationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
      </div>

    </td>

  </tr>
<%else%>
  <tr class="treatmentmedications">

    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" class="col-md-3 col-sm-3">
      <div class="form-group">
        <div class="input-group mb15">
          <div class="ui-widget">
            <%= hidden_field_tag "nursing_record[treatmentmedication_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
            <%= text_field_tag "nursing_record[treatmentmedication_attributes][#{i}][medicinename]", nil, {:maxlength => 300, :size => 40, :class => 'form-control medicinename',:style => 'width:100%' } %>
          </div>
          <span id="medicinename-contents-<%= "#{i}" %>" class="btn btn-xs btn-success btn-square medicinename-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
        </div>
      </div>
    </td>

    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" class="col-md-1 col-sm-1">
      <div class="form-group">
        <div class="input-group mb15">
          <%= text_field_tag "nursing_record[treatmentmedication_attributes][#{i}][medicinetype]", nil, { :class => 'form-control medicinetype' } %>
        </div>
      </div>
    </td>

    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
      <div class="form-group">
        <div class="input-group mb15">
          <%= select_tag "nursing_record[treatmentmedication_attributes][#{i}][medicinequantity]", options_for_select(['1/4', '1/2', '1', '2', '3','4','5','6','7','8','9','10','11','12','13','14','15','20','25','30','35','40','45','50'], "1"), { :class => 'form-control medicinequantity' } %>
        </div>
      </div>
    </td>

    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
      <div class="form-group">
        <div class="input-group mb15">
          <%= select_tag "nursing_record[treatmentmedication_attributes][#{i}][medicinefrequency]", options_for_select([['Select', ''], '1-1-1', '1-1-0', '1-0-1', '0-1-1', '1-0-0', '0-1-0', '0-0-1','2-2-2','2-0-2', '1-1-1-1','once a week','once a month', '5 times a day', '6 times a day', '8 times a day', '10 times a day', '12 times a day', '24 times a day','Sat-Sun', 'SOS'], ""), { :class => 'form-control medicinefrequency'} %>
        </div>
      </div>
    </td>
    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" class="col-md-3-shared col-sm-3-shared">
      <div class="form-group">
        <div class="input-group mb15">

          <div class="row">

            <div class="col-md-4 col-sm-4">
              <%= select_tag "nursing_record[treatmentmedication_attributes][#{i}][medicineduration]", options_for_select([['Sel',''],['1','1'], ['2','2'], ['3','3'], ['4','4'], ['5','5'], ['6','6'], ['7','7'], ['8','8'], ['9','9'], ['10','10'], ['11','11'], ['12','12'], ['15', '15'], ['20', '20'], ['25', '25'], ['30', '30'], ['40', '40'], ['50', '50']  ], ""), { :class => 'form-control medicineduration',:style => 'width:100%;padding-left:0px;padding-right:0px;'} %>
            </div>

            <div class="col-md-8 col-sm-8">

              <div class="col-md-12 col-sm-12">
                <%= select_tag "nursing_record[treatmentmedication_attributes][#{i}][medicinedurationoption]", options_for_select([['Sel',''], ['Days', 'D'], ['Weeks', 'W'], ['Months', 'M'], ['Next followup', 'F']], ""), { :class => 'form-control medicinedurationoption',:style => 'width:100%;padding-left:0px;padding-right:0px;'} %>
              </div>

            </div>

          </div>

        </div>
      </div>
    </td>

    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" class="col-md-3-shared col-sm-3-shared">
      <div class="form-group">
        <div class="input-group mb15">
          <%= text_field_tag "nursing_record[treatmentmedication_attributes][#{i}][medicineinstructions]", nil, {:maxlength => 300, :size => 40, :class => 'form-control' } %>
        </div>
      </div>
    </td>

    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" class="col-md-1 col-sm-1">
      <div class="form-group" style="width: 100%;">
        <div class="input-group mb15">
          <%= text_field_tag "nursing_record[treatmentmedication_attributes][#{i}][date]",nil, { :class => "form-control form-control-custom preop_datepicker", id: "nursing_record_treatmentmedication_attributes_#{i}_date",readonly: true} %>
        </div>
      </div>
    </td>
    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" class="col-md-1 col-sm-1">
      <div class="form-group" style="width: 100%;">
        <div class="input-group mb15 bootstrap-timepicker timepicker">
          <%= text_field_tag "nursing_record[treatmentmedication_attributes][#{i}][time]",nil, { :class => "form-control form-control-custom preop_timepicker", id: "nursing_record_treatmentmedication_attributes_#{i}_time"} %>
        </div>
      </div>
    </td>
    <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" class="col-md-1 col-sm-1">

      <div class="form-group">
        <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
        <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger" href="javascript:;" name="removemedicationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
      </div>

    </td>
  </tr>
<%end%>
<%= javascript_include_tag "autocomplete/medicine" %>

<style type="text/css">
  .hide{
    display: none;
  }
</style>
<script type="text/javascript">
  $('.preop_timepicker').timepicker();
  $(".instruction_dropdown").on("change",function(){
    var id = $(this).attr("id")
    if ($("#"+id).val() == "Add a text Box"){
      $("#"+id).parent(".input-group").parent(".instruction").next(".instruction_box").removeClass('hide').removeAttr("disabled","disabled");
      $(this).parent(".input-group").parent(".instruction").hide().attr("disabled","disabled");
      $("#"+id).val("")
    }
  })

  $(".undo_button").on("click",function(e){
    e.preventDefault();
    $(this).parent(".input-group").parent('.instruction_box').parent('.medication_instruction_box').children('.instruction').show().removeAttr("disabled","disabled");
    $(this).parent(".input-group").parent('.instruction_box').children(".input-group").children(".text_box_val").val("")
    $(this).parent(".input-group").parent('.instruction_box').addClass("hide").attr("disabled","disabled");
  })

</script>
