<% if @requisitions.length > 0 %>
  <% @requisitions.each do |requisition| %>
    <tr id="<%= requisition.id %>" class="inventory-list-row">
      <td style="font-size: 11px; color: #17a08c;" class="col-md-4">
        <%= requisition.requisition_date_time&.strftime('%d-%m-%Y') %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= requisition.requisition_date_time&.strftime("%I:%M%p") %>
        <br>
        <%= requisition.requisition_display_id %>
      </td>
      <td class="col-md-4"><b><%= requisition.status&.titleize %> | <%= requisition.requisition_type.titleize %> | <%= requisition.created_from %></b></td>
      <!-- <td class="col-md-3"><b><%#= requisition.requisition_type.titleize %></b></td> -->
      <% store = Inventory::Store.find_by(id: requisition.receive_store_id) %>
      <td class="col-md-4"><b><%= requisition.receive_store_name %> - <%= store&.department_name %> </b> </td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td align="center"><strong style="font-size: 20px;">Nothing to Display</strong></td>
  </tr>
<% end %>

<style>
  .order-status, .order-vendor {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
</style>