<% if @request_from == 'inventory_order' %>
	<% @inventory_order.items.each_with_index do |item, index| %>
		<% if item.requisition_required %>
			<% @variant = Inventory::Item::Variant.find_by(id: item.variant_id) %>
			<% @item = Inventory::Item.find_by(id: item.item_id) %>
			<tr class="treatmentmedications" id="<%= @variant&.reference_id %>">
			  <% index = (Time.current.to_f.round(3)*1000).to_i %>

			  <%= hidden_field_tag "inventory_order_requisition[items_attributes][#{index}][item_code]", @item.item_code %>
			  <%= hidden_field_tag "inventory_order_requisition[items_attributes][#{index}][variant_code]", @variant&.variant_code %>
			  <%= hidden_field_tag "inventory_order_requisition[items_attributes][#{index}][item_id]", @item.id %>
			  <%= hidden_field_tag "inventory_order_requisition[items_attributes][#{index}][variant_id]", @variant&.id %>
			  <%= hidden_field_tag "inventory_order_requisition[items_attributes][#{index}][default_variant_id]", @variant&.id, class: 'variant-id' %>
			  <%= hidden_field_tag "inventory_order_requisition[items_attributes][#{index}][category]", @item.category %>
			  <%= hidden_field_tag "inventory_order_requisition[items_attributes][#{index}][category_id]", @item.category_id %>
			  <%= hidden_field_tag "inventory_order_requisition[items_attributes][#{index}][barcode]", @item.barcode %>
			  <%= hidden_field_tag "inventory_order_requisition[items_attributes][#{index}][barcode_present]", @item.barcode_present %>
			  <%= hidden_field_tag "inventory_order_requisition[items_attributes][#{index}][variant_reference_id]", @variant&.reference_id, class: 'variant-reference-id' %>
			  <%= hidden_field_tag "inventory_order_requisition[items_attributes][#{index}][item_reference_id]", @item.reference_id %>
			  <%= hidden_field_tag "inventory_order_requisition[items_attributes][#{index}][facility_id]", @item.facility_id %>
			  <%= hidden_field_tag "inventory_order_requisition[items_attributes][#{index}][store_id]", @item.store_id %>
			  <%= hidden_field_tag "inventory_order_requisition[items_attributes][#{index}][organisation_id]", @item.organisation_id %>
			  <%= hidden_field_tag "inventory_order_requisition[items_attributes][#{index}][variant_identifier]", @variant&.variant_identifier %>
			  <%= hidden_field_tag "inventory_order_requisition[items_attributes][#{index}][tax_rate]", @item.tax_rate %>
			  <%= hidden_field_tag "inventory_order_requisition[items_attributes][#{index}][tax_name]", @item.tax_name %>
			  <%= hidden_field_tag "inventory_order_requisition[items_attributes][#{index}][tax_group_id]", @item.tax_group_id %>
			  <%= hidden_field_tag "inventory_order_requisition[items_attributes][#{index}][tax_inclusive]", @item.tax_inclusive %>
			  <%= hidden_field_tag "inventory_order_requisition[items_attributes][#{index}][dispensing_unit]", @item.dispensing_unit %>
			  <%= hidden_field_tag "inventory_order_requisition[items_attributes][#{index}][requested_quantity]", @item_max_value %>
			  <%= hidden_field_tag "inventory_order_requisition[items_attributes][#{index}][requisition_validation]", true %>

			  <td class="col-md-2 font_size">
			    <% if @variant&.custom_field_data.present? %>
			      <% @variant&.custom_field_data.each do |k,v| %>
			        <%= hidden_field_tag "inventory_order_requisition[items_attributes][#{index}][custom_field_data][#{k}]", v %>
			      <% end %>
			    <%= select_tag "inventory_order_requisition[items_attributes][#{index}][custom_field_tags]", options_for_select(@variant&.custom_field_tags,@variant&.custom_field_tags), include_hidden: false, multiple:true, style: "display: none;" %>
			    <% end %>
			    <strong><%= @item.description %>&nbsp;&nbsp;<%= @variant&.variant_identifier.try(:capitalize) %></strong>
			    <%= hidden_field_tag "inventory_order_requisition[items_attributes][#{index}][description]", @item.description, readonly: true, class: "item_description modalRequest_input_style", :placeholder=>"Description" %>
			    <%= hidden_field_tag "inventory_order_requisition[items_attributes][#{index}][_destroy]", 0 , class: 'form-control' %>
			  </td>

			  <td class="col-md-2 col-sm-3 col-xs-3">
			    <label class="label label-info" style="font-size: 10px; padding: 2px"><%= @item.category %></label>
			  </td>
			  <td class="col-md-2 col-sm-3 col-xs-3">
			    <label class="label label-info" style="font-size: 10px; padding: 2px"><%= @item.sub_category_name %></label>
			  </td>
			  <td class="col-md-2 font_size">
			    <label class="label label-info" style="font-size: 10px; padding: 2px"><%= @item.item_code %></label>
			  </td>
			  <td class="col-md-1 font_size">
			    <div class="row">
			      <div class="col-md-9">
			        <%= number_field_tag "inventory_order_requisition[items_attributes][#{index}][stock]", item.quantity&.to_i, placeholder: 'Qty', style: 'text-align:left', class: 'item_quantity modalRequest_input_style', readonly: true, required: true %>
			        <input type="hidden" value= "<%= @item.stock %>" class="item_max_quantity modalRequest_input_style" placeholder="" style="width:90%;text-align:left" />
			        <%= hidden_field_tag "", @item.item_units, class: 'item_sub_units form-control' %>
			      </div>
			      <div class="col-md-3">
			        <a  data-toggle="tooltip" data-placement="right" title="Item can be in multiple of <%= @item.item_units.to_i %>" class=""><i class="fa fa-info-circle" aria-hidden="true"></i></a>
			      </div>
			    </div>
			  </td>
			  <td class="col-md-2 font_size">
			    <%= text_field_tag "inventory_order_requisition[items_attributes][#{index}][remark]", '', class: 'item_remark modalRequest_input_style', placeholder: 'Remark', style: 'text-align:center' %>
			  </td>
			  <td class="col-md-1 font-size">
			    <button type="button" class="btn btn-link hg-tooltip delete_empty_item" tabindex="-1" style="padding:0px;" title="Remove From List" disabled="true" value="<%= @item.id %>"><i class="fa fa-trash-alt" style="color:#000;"></i></button>
			  </td>
			</tr>
		<% end %>
	<% end %>
<% end %>