<div class="container-fluid" id="freeInvoiceEdit" style="border-bottom:1px solid #eee;">
  <div class="row mb5">
    <div class="row mb5 col-md-12">
      <div class="col-md-2 font_size text-right"><b style="font-size:17px">Requisition</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
      <div class="col-md-10 font_size" style="padding: 0;margin: 0;font-size:17px">
        <span><%= @requisition.requisition_display_id %></span>
        <span style="padding: 2px;font-weight: bolder;">|</span>
        <span><%= @requisition.created_from %></span>
        <% if @requisition.status == 'approved' && @requisition.requisition_type != 'system-generated' %>
        <span style="padding: 2px;font-weight: bolder;">|</span>
        <span><%= @requisition.approved_date_time.try(:strftime, '%d-%m-%Y') %>&nbsp;|&nbsp;<%= @requisition.approved_date_time&.strftime("%I:%M%p") %></span>
        <% end %>
      </div>
      <!-- <div class="col-md-4 font_size"><b>Store:&nbsp;&nbsp;&nbsp; <%#= @inventory_store.name %></b></div>
      <div class="col-md-4 font_size"><b>Requisition No.:&nbsp;&nbsp;&nbsp; <%#= @requisition.requisition_display_id %></b></div>
      <div class="col-md-4 font_size"><b>Status:&nbsp;&nbsp;&nbsp; <%#= @requisition.status&.titleize %></b>
        <%# if @requisition.status == 'Closed' %>
          <i class="fa fa-info-circle hg-tooltip" title="Closed By: <%#= @requisition.closed_by %> &#13;&#10; Closure Time: <%#= @requisition.closed_date_time&.strftime('%d/%m/%Y  %I:%M %p') %> &#13;&#10; Closure Reason: <%#= @requisition.closed_reason %>" style="cursor:help;"></i>
        <%# end %>
      </div> -->
    </div>
    <div class="row mb5 col-md-12">
      <div class="col-md-2 font_size text-right"><b>Created By</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
      <div class="col-md-10 font_size" style="padding: 0;margin: 0;">
        <span><%=  @requisition.entered_by %></span>
        <span style="padding: 2px;font-weight: bolder;">|</span>
        <span><%= @requisition.requisition_creation_time.try(:strftime, '%d-%m-%Y') %>&nbsp;|&nbsp;<%= @requisition.requisition_creation_time&.strftime("%I:%M%p") %></span>
        <span style="padding: 2px;font-weight: bolder;">|</span>
        <span><%= @inventory_store.name %>-<%= @inventory_store.department_name %></span>
      </div>
      <!-- <div class="col-md-4 font_size"><b>Created By:&nbsp;&nbsp;&nbsp; <%#= @requisition.entered_by %></b></div>
      <div class="col-md-4 font_size"><b>Receiving Store:&nbsp;&nbsp;&nbsp; <%#= @requisition.receive_store_name %></b></div>
      <div class="col-md-4 font_size"><b>Created At:&nbsp;&nbsp;&nbsp; <%#= @requisition.requisition_creation_time.try(:strftime, '%d-%m-%Y') %>&nbsp;|&nbsp;<%#= @requisition.requisition_creation_time&.strftime("%I:%M%p") %></b></div> -->
    </div>
      <%if @requisition.approved_by.present? && @requisition.requisition_type != 'system-generated'%>
        <div class="row mb5 col-md-12">
            <div class="col-md-2 font_size text-right"><b>Approved By</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
            <div class="col-md-10 font_size" style="padding: 0;margin: 0;">
              <span><%=  @requisition.approved_by %></span>
              <span style="padding: 2px;font-weight: bolder;">|</span>
              <span><%= @requisition.approved_date_time.try(:strftime, '%d-%m-%Y') %>&nbsp;|&nbsp;<%= @requisition.approved_date_time&.strftime("%I:%M%p") %></span>
            </div>
          <!-- <div class="col-md-4 font_size"><b>Created From:&nbsp;&nbsp;&nbsp; <%#= @requisition.created_from %></b></div> -->
          <%# if @requisition.status == 'approved' %>
            <!-- <div class="col-md-4 font_size"><b>Approved ON:&nbsp;&nbsp;&nbsp; <%#= @requisition.receive_store_name %></b></div> -->
            <!-- <div class="col-md-4 font_size"><b>Approved On:&nbsp;&nbsp;&nbsp; <%#= @requisition.approved_date_time.try(:strftime, '%d-%m-%Y') %>&nbsp;|&nbsp;<%#= @requisition.approved_date_time&.strftime("%I:%M%p") %></b></div> -->
            <!-- <div class="col-md-4 font_size"><b>Approved By:&nbsp;&nbsp;&nbsp; <%#= @requisition.approved_by %></b></div> -->
          <%# elsif @requisition.status == 'Cancelled' %>
            <!-- <div class="col-md-4 font_size"><b>Cancelled On:&nbsp;&nbsp;&nbsp; <%#= @requisition.cancelled_date_time.try(:strftime, '%d-%m-%Y') %>&nbsp;|&nbsp;<%#= @requisition.cancelled_date_time&.strftime("%I:%M%p") %></b></div>
            <div class="col-md-4 font_size"><b>Cancelled By:&nbsp;&nbsp;&nbsp; <%#= @requisition.cancelled_by %></b></div>
            <div class="col-md-4 font_size"><b>Cancellation Reason:&nbsp;&nbsp;&nbsp; <%#= @requisition.cancelled_reason %></b></div> -->

          <%# end %>
        </div>
      <% end %>
      <% if @requisition.status == 'Cancelled' %>
        <div class="row mb5 col-md-12">
          <div class="col-md-2 font_size text-right"><b>Cancelled By</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
          <div class="col-md-10 font_size" style="padding: 0;margin: 0;">
            <span><%=  @requisition.cancelled_by %></span>
            <span style="padding: 2px;font-weight: bolder;">|</span>
            <span><%= @requisition.cancelled_date_time.try(:strftime, '%d-%m-%Y') %>&nbsp;|&nbsp;<%= @requisition.cancelled_date_time&.strftime("%I:%M%p") %></span>
            <span style="padding: 2px;font-weight: bolder;">|</span>
            <span><%= @requisition.cancelled_reason %></span>
          </div>
        </div>
      <% end %>
      <div class="row mb5 col-md-12">
        <div class="col-md-2 font_size text-right"><b>To</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
        <div class="col-md-10 font_size" style="padding: 0;margin: 0;">
          <span><%=  @requisition.receive_store_name %></span>
          <span style="padding: 2px;font-weight: bolder;">-</span>
          <span><%= Inventory::Store.find(@requisition.receive_store_id).department_name %></span>
        </div>
      </div>
      <div class="row mb5 col-md-12">
        <div class="col-md-2 font_size text-right"><b style="font-size:17px">Status</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
        <div class="col-md-10 font_size" style="padding: 0;margin: 0;font-size:17px">
          <span><%=  @requisition.status&.titleize  %></span>
          <% if @requisition.status == 'Closed' %>
          <i class="fa fa-info-circle hg-tooltip" title="Closed By: <%= @requisition.closed_by %> &#13;&#10; Closure Time: <%= @requisition.closed_date_time&.strftime('%d/%m/%Y  %I:%M %p') %> &#13;&#10; Closure Reason: <%= @requisition.closed_reason %>" style="cursor:help;"></i>
        <% end %>
        </div>
      </div>
  </div>
  <div class="row">
    <h4 style="color: #00BFFF;">Item Details:</h4>
  </div>
  <div class="row check-font mt10 mb5">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Description</th>
          <th>Category</th>
          <th>Quantity</th>
          <th>Remark</th>
        </tr>
      </thead>
      <tbody>
        <% @count = 1 %>
        <% @requisition.items.each do |item|%>
          <tr>
           <td><%= @count %></td>
            <td><%= "#{item.description}-#{item.custom_field_tags&.reject(&:blank?)&.join(', ')}" %></td>
            <td><%= item.category&.titleize %></td>
            <td><%= item.stock %></td>
            <td><%= item.remark %></td>
          </tr>
           <% @count += 1 %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<style>
  .font_size {
    font-size: 12px;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .text-labels {
    font-weight: bold;
  }
  .check-font table tr th {
    padding: 2px 5px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
  }

  .check-font table tr td {
    padding: 2px 5px;
    text-align: center;
  }

  .check-font {
    font-size: 11px;
  }
</style>
