<div class="">
  <h3 class="text-center"><%= @requisition.remarks %></h3>

  <div class="btn-group" style="margin: 10px;">
    <% unless @from.present? %>
      <a href="/inventory/order/requisitions/print?order_id=<%= @requisition.id %>&page_size=A4" class="btn btn-success btn-xs" target='_blank'> <i class="fa fa-print"></i>&nbsp;Print A4</a>
      <a href="/inventory/order/requisitions/print?order_id=<%= @requisition.id %>&page_size=A5" class="btn btn-success btn-xs" target='_blank'> <i class="fa fa-print"></i>&nbsp;Print A5</a>
    <% end %>
  </div>

  <% if @from.present? %>
    <% if @requisition.status == 'open' %>
    <% if Authorization::PolicyHelper.verification(current_user.id ,"HGP-100-113-104") %>
      <%= link_to disable_inventory_order_requisitions_path(id: @requisition.id, store_id: @requisition.store_id, date: Date.current), class: 'btn btn-danger btn-xs cancelReq' do %> <i class=""></i> Cancel<% end %>
    <% end %>
      <% if Authorization::PolicyHelper.verification(current_user.id ,"HGP-100-113-102", @requisition.user_id) %>
        <%= link_to approve_inventory_order_requisitions_path(id: @requisition.id, store_id: @requisition.store_id, date: Date.current), class: 'btn btn-success btn-xs ', data: { confirm: 'Are you sure?', commit: 'Yes', remote: true, 'disable-with' => 'Please Wait...',  class: 'btn btn-danger' } do %> <i class=""></i> Approve<% end %>
      <% end %>
      
      <% if Authorization::PolicyHelper.verification(current_user.id ,"HGP-100-113-103") %>
        <%= link_to edit_inventory_order_requisition_path(id: @requisition.id, store_id: @requisition.store_id, requisition_store_id: @requisition.receive_store_id), class: "btn btn-primary btn-xs", data: { remote: true, 'toggle' => 'modal', 'target' => '#inventory-modal', class: 'btn btn-info'} do %><i class="fa fa-edit"></i>Edit<% end %>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to inventory_order_requisition_path(id: @requisition.id, store_id: @requisition.store_id, from: 'view_section'), class: "btn btn-primary btn-xs", data: { remote: true, 'toggle' => 'modal', 'target' => '#requisition-order-modal', class: 'btn btn-info'} do %>View Order<% end %>
  <% end %>
  <br><br>
  <%= render partial: '/inventory/order/requisitions/show_body.html.erb' %>
</div>

<div id="cancelModal" class="modal false fade in" tabindex="-1" role="dialog" aria-labelledby="cancelModal" aria-hidden="false" style="z-index: 1051; display: hidden;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h5 id="cancelModal" class="modal-title">Are you sure?</h5> 
      </div>
      <%= form_tag disable_inventory_order_requisitions_path(id: @requisition.id, store_id: @requisition.store_id, date: Date.current), method: 'get', remote: true, id: 'new-message-form', class: "new-message-form" do %>
        <div class="modal-body">
          <%= label_tag "Reason for Cancellation"%>
          <%= text_field_tag :cancelled_reason, '', class: "form-control p7_10", placeholder: 'Reason for Cancellation', minlength: '5', required: true %>
        </div>
        <div class="modal-footer">
          <button class="btn commit btn-success" data-dismiss="modal">Don't Cancel</button>
          <%= submit_tag "Cancel Requisition", class: "btn btn-danger", data: { 'disable-with': 'Please Wait...' }, onclick: 'validateMessage()' %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<script type="text/javascript">
  $('.cancelReq').click(function(e){
    e.preventDefault();
    $("#cancelModal").modal('show');
  })
</script>


<style type="text/css">
  .table-add-item td{
    padding: 5px 5px 0;
  }

  .check_font table tr th {
    padding: 2px 5px;
  }

  .check_font table tr td {
    padding: 2px 5px;
  }

  .check_font {
    font-size: 11px;
  }
</style>
