<% @variants.each do |variant| %>
  <% @rol_rule = Inventory::RolRule.find_by(store_id: @store_id, variant_reference_id: variant.reference_id,
                                            organisation_id: current_organisation['_id'].to_s) %>
  <% if @rol_rule.present? %>
    <% effective_qty = variant&.stock.to_f + variant&.pending_tranfered_quantity.to_f + variant&.requested_quantity.to_f + variant&.pending_po_quantity.to_f %>
    <% if @rol_rule.present? && @rol_rule.rol_value > effective_qty %>
      <% if variant.empty %>
        <tr id="<%= variant.id%>" class="inventory-list-row variant-empty" style="background-color: #FFB6C1; <% if params[:request_from].present? %>pointer-events: none; background-color: #cfe8d2;<% end %>" title="Item Empty">
      <% elsif variant.running_low %>
        <tr id="<%= variant.id%>" class="inventory-list-row variant-running-low" style="background-color: #FFA500; <% if params[:request_from].present? %>pointer-events: none; background-color: #cfe8d2;<% end %>" title="Item Running Low">
      <% else %>
        <tr id="<%= variant.id%>" class="inventory-list-row variant-stock" style="background-color: #FFFAFA; <% if params[:request_from].present? %>pointer-events: none; background-color: #cfe8d2;<% end %>" title="Total Stock&nbsp;&nbsp;<%= variant.stock %>">
      <% end %>
        <td style="font-size: 10px; color: #17a08c;" class="col-md-3"><%= variant.variant_code %></td>
        <td class="col-md-5 description"><b><%= variant.description %> <%= variant.variant_identifier.try(:capitalize) %></b></td>

        <td class="col-md-2"><% if variant.stock %><%= variant.stock %><% else %>0 or NA<% end %></td>
        <% if @inventory_store.department_id == '50121007' %>
          <td class="col-md-2"><% if variant&.model_no.present? %><%= variant.model_no %><% else %>NA<% end %></td>
        <% end %>
        <td class="col-md-2"><% if variant.category.present? %><%= variant.category&.titleize %><% else %>NA<% end %></td>
      </tr>
    <% end %>
  <% else %>
    <% if variant.empty %>
      <tr id="<%= variant.id%>" class="inventory-list-row variant-empty" style="background-color: #FFB6C1; <% if params[:request_from].present? %>pointer-events: none; background-color: #cfe8d2;<% end %>" title="Item Empty">
    <% elsif variant.running_low %>
      <tr id="<%= variant.id%>" class="inventory-list-row variant-running-low" style="background-color: #FFA500; <% if params[:request_from].present? %>pointer-events: none; background-color: #cfe8d2;<% end %>" title="Item Running Low">
    <% else %>
      <tr id="<%= variant.id%>" class="inventory-list-row variant-stock" style="background-color: #FFFAFA; <% if params[:request_from].present? %>pointer-events: none; background-color: #cfe8d2;<% end %>" title="Total Stock&nbsp;&nbsp;<%= variant.stock %>">
    <% end %>
      <td style="font-size: 10px; color: #17a08c;" class="col-md-3"><%= variant.variant_code %></td>
      <td class="col-md-5 description"><b><%= variant.description %> <%= variant.variant_identifier.try(:capitalize) %></b></td>

      <td class="col-md-2"><% if variant.stock %><%= variant.stock %><% else %>0 or NA<% end %></td>
      <% if @inventory_store.department_id == '50121007' %>
        <td class="col-md-2"><% if variant&.model_no.present? %><%= variant.model_no %><% else %>NA<% end %></td>
      <% end %>
      <td class="col-md-2"><% if variant.category.present? %><%= variant.category&.titleize %><% else %>NA<% end %></td>
    </tr>
  <% end %>
<%end%>
