<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog investigation-dialog modal-lg">
  <div class="modal-content">

    <% if @state == 'converted' %>
      <% converted = 'true' %>
      <% form_title = '' %>
      <% by = 'Converted by :' %>
    <% elsif @state == 'not_converted' %>
      <% converted = 'false' %>
      <% form_title = 'Not' %>
      <% by = 'Attended by :' %>
    <% end %>

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Mark <%= form_title %> Converted Details</h4>
    </div>
    <%= form_for @prescription, url: prescriptions_optical_patient_converted_path(prescription_id: @prescription.id, optical_patient_converted: converted), remote: true, html: { id: 'mark-converted-form', class: "mark-converted-form" } do |presc| %>
      <%= presc.hidden_field :not_converted_to_converted, value: params[:not_converted_to_converted] %>
      <div class="modal-body">
        <div class="row mb5">
          <div class="col-sm-6">
            <%= by %>
          </div>
          <div class="col-sm-6">
            <%= presc.select :mark_converted_by, options_for_select(@users.map { |user| [user.fullname, user.id] }, @prescription&.mark_converted_by), {}, {:class => "form-control"} %>
          </div>
        </div>

        <% if @state == 'not_converted' %>
          <div class="row optical_reason mb5" style="margin-left: auto;margin-top: 20px;">
            <span class="ckbox ckbox-primary col-md-12" style="padding: 0px">
              <%= presc.check_box :reason_one, {:class => "reason_one history_checked_unchecked", :id => "reason_one"}, "true", "false" %>
              <label for="reason_one">Collection not good</label>
            </span>
            <span class="ckbox ckbox-primary col-md-12" style="padding: 0px">
              <%= presc.check_box :reason_two, {:class => "reason_two history_checked_unchecked", :id => "reason_two"}, "true", "false" %>
              <label for="reason_two">Dilated</label>
            </span>
            <span class="ckbox ckbox-primary col-md-12" style="padding: 0px">
              <%= presc.check_box :reason_three, {:class => "reason_three history_checked_unchecked", :id => "reason_three"}, "true", "false" %>
              <label for="reason_three">Will come later with relatives</label>
            </span>
            <span class="ckbox ckbox-primary col-md-12" style="padding: 0px">
              <%= presc.check_box :reason_four, {:class => "reason_four history_checked_unchecked", :id => "reason_four"}, "true", "false" %>
              <label for="reason_four">Known optical shop</label>
            </span>
            <span class="ckbox ckbox-primary col-md-12" style="padding: 0px">
              <%= presc.check_box :reason_five, {:class => "reason_five history_checked_unchecked", :id => "reason_five"}, "true", "false" %>
              <label for="reason_five">Optical DRT referral</label>
            </span>
            <span class="ckbox ckbox-primary col-md-12" style="padding: 0px">
              <%= presc.check_box :reason_six, {:class => "reason_six history_checked_unchecked", :id => "reason_six"}, "true", "false" %>
              <label for="reason_six">Expensive</label>
            </span>
            <span class="ckbox ckbox-primary col-md-12" style="padding: 0px">
              <%= presc.check_box :reason_seven, {:class => "reason_seven history_checked_unchecked", :id => "reason_seven"}, "true", "false" %>
              <label for="reason_seven">Looking for high discount</label>
            </span>
            <span class="ckbox ckbox-primary col-md-12" style="padding: 0px">
              <%= presc.check_box :reason_eight, {:class => "reason_eight history_checked_unchecked", :id => "reason_eight"}, "true", "false" %>
              <label for="reason_eight">Not interested in wearing glasses</label>
            </span>
            <span class="col-md-12" style="margin-bottom: 3%">
              <%= presc.text_field :optical_comment, :class => "form-control", :placeholder => "Other Reasons..."%>
            </span>
            <span class="col-md-12 reason_required_validation" style="color: red;display: none" ><small>** Please Give A Reason</small></span>
          </div>
        <% end %>

      </div>
      <div class="modal-footer">
        <%= presc.submit "Save", { class: 'btn btn-success btn-xs', data: { 'disable-with': 'Please Wait...' } } %>
        <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>