<input type="hidden" name="none" id="optical_refresher" value="<%= @prescription.id.to_s %>">
<div class="row no_margin" style="padding: 10px 5px;">
  <div class="row no_margin no_padding" style="padding: 5px;">
    <%= render partial: 'prescriptions/optical/optical_details/patient_details.html.erb' %>
  </div>
  <% if @clinical_workflow.present? %>
    <% if @clinical_workflow_present && @current_date == Date.current %>
      <div class="row no_margin no_padding appointment-actions-file" style="padding: 5px;">
        <% if @organisation.workflow_waiting_disable %>
          <%= render partial: 'prescriptions/pharmacy/pharmacy_details/clinical_workflow_waiting_disabled_actions.html.erb' %>
        <% else %>
          <%= render partial: 'prescriptions/optical/optical_details/clinical_workflow_actions.html.erb' %>
        <% end %>
      </div>
    <% end %>
    <div class="clinical_workflow_flow">
      <% if @clinical_workflow_present && @current_date == Date.current %>
        <div class="row no_margin no_padding" style="padding: 5px;">
        <%= render partial: 'prescriptions/optical/optical_details/clinical_workflow_send.html.erb' %>
        </div>
      <% end %>

      <% if @clinical_workflow.state == 'away' %>
        <div id="dialog-confirm-get-patient-<%= @clinical_workflow.id %>" title="Patient is Away" class="hidden">
          <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Are you sure ? </p>
        </div>
      <% else %>
        <div id="dialog-confirm-get-patient-<%= @clinical_workflow.id %>" title="Patient is already in waiting/call/check-in with <%= @clinical_workflow.with_user %>" class="hidden">
          <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Are you sure ? </p>
        </div>
      <% end %>

      <div class="row no_margin no_padding clinical_workflow_timeline" style="padding: 5px;">
        <%= render partial: 'prescriptions/optical/optical_details/clinical_workflow_timeline.html.erb' %>
      </div>
    </div>
  <% end %>
  <hr>

<%# if current_facility.show_finances %>
  <!-- <div class="row no_margin no_padding" style="padding: 5px;">
    <%#= render partial: 'prescriptions/inventory_invoices.html.erb' %>
  </div>
  <hr> -->
<%# end %>

  <div class="row no_margin no_padding" style="padding: 5px;">
    <%= render partial: 'prescriptions/optical/optical_details/optical.html.erb' %>
  </div>
  <hr>
  <div class="row no_margin no_padding" style="padding: 5px;">
    <div class="col-md-6">
      <%= render partial: 'prescriptions/optical/optical_details/optical_actions.html.erb' %>
    </div>
    <div class="col-md-6 patient_note_appointment">
      <%= render partial: "prescriptions/optical/optical_details/patient_note_details.html.erb" %>
    </div>
  </div>
</div>

<script type="text/javascript">
  <%= render partial: 'prescriptions/optical/optical_details/optical_details_section.js.erb' %>

  let url = $(location).attr('href');
  if (url.includes('outpatients')) {
    department_id = '485396012'
  } else if (url.includes('inpatients')) {
    department_id = '486546481'
  } else if (url.includes('309935007')) {
    department_id = '309935007'
  } else if (url.includes('ot_management')) {
    department_id = '225738002'
  } else if (url.includes('50121007')) {
    department_id = '50121007'
  } else if (url.includes('284748001')) {
    department_id = '284748001'
  } else if (url.includes('ward_management')) {
    department_id = '225746001'
  } else if (url.includes('309964003')) {
    department_id = '309964003'
  } else if (url.includes('261904005')) {
    department_id = '261904005'
  } else if (url.includes('dashboard')) {
    department_id = '224608005'
  }
  let primary_department_id = '<%= current_user.department_ids[0] %>'
  if (department_id != primary_department_id) {
    $('.appointment-actions-file').hide()
  }
</script>