<div class="panel panel-default" style="margin-left: 3px;">
  <div class="panel-heading" style="background-color: #49587E;margin-top: 0px;line-height: 0px;padding: 10px;">
    <div class="panel-btns">
      <a href="" class="minimize minimize-patient-box" style="margin-top: 0px;color: white;opacity: 1">-</a>
    </div><!-- panel-btns -->
    <p class="panel-title"  style="font-size: 11px;margin-top: 0px;line-height: 0px;color: white">PATIENT NOTE</p>
  </div>
  <div class="panel-body patient-note-section" style="display: block;padding: 0 15px;">
    <%= form_tag "/opd_appointments/save_patient_note.js", :method => :post, :remote => true, :id => 'note_form', :class => 'form form-bordered' do %>
      <span class="col-md-10 row mb15" ><%= hidden_field_tag :patient_id ,@patient.id,class: 'form-control'%></span>
      <div class="mb15 row">
        <span class="col-xs-10 row mb15" ><%= text_area_tag :comment ,"",class: 'form-control patient-note-message message optical_note_patient',placeholder: "Enter your note..",style: "width: 100%; max-width:246px; min-width:246px; max-height:100px;"%></span>
        <span class="col-xs-2"><%= submit_tag("Save",{:class=>"btn btn-success btn-sm submit_optical_note_patient"}) %></span>
      </div>
    <%end%>
    <div class="error_message_note" style="display:none; color:red;">
      <span class="error_error_optical_note">Please enter the note. </span>
    </div>  
    <div id="patient-notes">
      <%= render partial: '/prescriptions/pharmacy/pharmacy_details/patient_notes.html.erb' %>
    </div>
  </div>
</div>
<script>
  $('.submit_optical_note_patient').on('click', function(e){
    var optical_note_patient = $('.optical_note_patient').val();
    if(optical_note_patient == ""){
        e.preventDefault();
        $('.error_message_note').css('display', 'block');
        $('.error_message_note').fadeOut(3000);
    }
  })
</script>