              <div class="step-pane active" data-step="1">

                <div class="row">

                  <div class="col-md-12">

                    <div class="panel panel-primary">

                      <div class="panel-body">

                        <div class="row">
                          
                          <div class="col-md-12">

                            <div class="row">


                              <div class="col-md-12">
                                <div class="col-md-3"><strong>Chief Complaints :</strong></div>

                                <%= f.input :chiefcomplaints, wrapper_html: {:class=>"col-md-9"},collection: [['Constitutional','constitutional'],['Cardiovascular','cardiovascular'],['Respiratory','respiratory'],['Gastrointestinal','gastrointestinal']], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white cardiotemp' %>
                              </div>


                              <br>
                              <div class="col-md-12 constitutionalcontent">
                                <div class="col-md-3"><strong>Consitutional </strong></div>
                                <%= f.input :constitutional, wrapper_html: {:class=>"col-md-9"},collection: ['Fatigue','Fever','Malaise','Insomnia','Snoring','Ankle Swelling','Weight Gain','Weight loss'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                              </div>


                              <div class="col-md-12 cardiovascularcontent">
                                <div class="col-md-3"><strong>Cardiovascular </strong></div>
                                <%= f.input :cardiovascular, wrapper_html: {:class=>"col-md-9"},collection: ['Palpitations','Chest Pain','Chest tightness','Shortness of breath','Claudication','Oedema','Easy fatiguability','Orthopnoea','Paroxysmal nocturnal dyspnea','Syncope','Dizziness','Squatting episodes','Cyanotic Spells','Raynaud’s phenomenon'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                              </div>

                              <div class="col-md-12 respiratorycontent">
                                <div class="col-md-3"><strong>Respiratory</strong></div>
                                <%= f.input :respiratory, wrapper_html: {:class=>"col-md-9"},collection: ['Cough','Hemoptysis','wheezing'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                              </div>

                              <div class="col-md-12 gastrointestinalcontent">
                                <div class="col-md-3"><strong>Gastrointestinal</strong></div>
                                <%= f.input :gastrointestinal, wrapper_html: {:class=>"col-md-9"},collection: ['Anorexia','Nausea','Vomiting','Distension in abdomen','Constipation'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                              </div>




                              <div class="col-md-12">
                                <div class="col-md-12"><strong>History of present illness(HPI)</strong></div>
                               
                               <div class="col-md-12">
                                <ul class="nav nav-tabs cardiotabs" data-tabs="tabs" id="tabs">
                                   <li class="active"><a href="#chestpaincontent" data-toggle="tab">Chest Pain</a></li>
                                   <li><a href="#dyspneacontent" data-toggle="tab">Dyspnea</a></li>
                                   <li><a href="#hypertensioncontent" data-toggle="tab">Hypertension</a></li>
                                   <li><a href="#hemoptysiscontent" data-toggle="tab">Hemoptysis</a></li>
                                   <li><a href="#syncopecontent" data-toggle="tab">Syncope</a></li>
                                   <li><a href="#pasthistorycontent" data-toggle="tab">Past History</a></li>
                                   <li><a href="#drughistorycontent" data-toggle="tab">Drug History</a></li>
                                   <li><a href="#familyhistorycontent" data-toggle="tab">Family History</a></li>
                                   <li><a href="#surgicalhistorycontent" data-toggle="tab">Surgical History</a></li>
                                  
                                </ul>
                               </div>
                               
                               
                               
                             <!--   <div class="col-md-3">HPI</div>
                                <%= f.input :hpi, wrapper_html: {:class=>"col-md-9"},collection: [['Chest Pain','chestpain'],['Dyspnea','dyspnea'],['Hypertension','hypertension'],['Palpitations','palpitations'],['Hemoptysis','hemoptysis'],['Oedema','oedema'],['Syncope','syncope'],['Past History','pasthistory'],['Drug History','drughistory'],['Family History','familyhistory'],['Surgical History','surgicalhistory']], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white cardiotemp' %>
                               </div>   -->


<div id="my-tab-content" class="tab-content">
                            <div id="chestpaincontent" class="tab-pane active">
                              <div class="col-md-12">
                                <div class="col-md-3"><strong>Chest Pain</strong> </div>
                              </div>

                              <div class="col-md-12">
                                <div class="col-md-3"><strong>Site</strong> </div>
                                <%= f.input :site, wrapper_html: {:class=>"col-md-9"},collection: ['Precordial','Retrosternal','Left sided','Epigastric','Right sided','Suprasternal(jugular)'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                              </div>

                              <div class="col-md-12">
                                <div class="col-md-3"><strong>Character</strong> </div>
                                <%= f.input :character, wrapper_html: {:class=>"col-md-9"},collection: ['Squeezing','Sharp aching','Burning','Dull aching','Tearing(dagger like)'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                              </div>



                              <div class="col-md-12">
                                <div class="col-md-3"><strong>Radiation to</strong> </div>
                                <%= f.input :radiationto, wrapper_html: {:class=>"col-md-9"},collection: ['Left arm/shoulder','Epigastrium','Right side','Back','Neck'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                              </div>


                              <div class="col-md-12">
                                <div class="col-md-3"><strong>Onset</strong> </div>
                                <%= f.input :onset, wrapper_html: {:class=>"col-md-9"},collection: ['Acute','Chronic','Intermittent','Gradual','Improving','Worsening','Stable'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                              </div>


                              <div class="col-md-12">
                                <div class="col-md-3"><strong>Aggravating factors</strong> </div>
                                <%= f.input :aggrivatingfactors, wrapper_html: {:class=>"col-md-9"},collection: ['Physical exertion','Emotional stress','Sexual activity','Exposure to cold','Eating','Smoking','Medication'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white' %>
                              </div>


                              <div class="col-md-12">
                                <div class="col-md-3"><strong>Relieving factors</strong> </div>
                                <%= f.input :relievingfactors, wrapper_html: {:class=>"col-md-9"},collection: ['Rest','Sleep','Food','Exercise','Smoking','Medication'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white' %>
                              </div>


                              <div class="col-md-12">
                                <div class="col-md-3"><strong></strong>Severity</strong> </div>
                                <%= f.input :severity, wrapper_html: {:class=>"col-md-9"},collection: ['Mild','Moderate','Severe'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white' %>
                              </div>


                              <div class="col-md-12">
                                <div class="col-md-3"><strong>Onset</strong> </div>

                                  <div class="col-md-9 mb10">
                                    <div class="row">
                                      <div class="col-md-12 chestpainonset">
                                        <div class="col-md-12">
                                          <div class="col-md-2">
                                            <div class="form-group">

                                              <div class="input-group">
                                                <%= f.input_field :durationhours, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                                <span class="input-group-addon">M</span>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-2">
                                            <div class="form-group">

                                              <div class="input-group">
                                                <%= f.input_field :durationdays, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                                <span class="input-group-addon">H</span>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-2">
                                            <div class="form-group">

                                              <div class="input-group">
                                                <%= f.input_field :durationweeks, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                                <span class="input-group-addon">D</span>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-2">
                                            <div class="form-group">

                                              <div class="input-group">
                                                <%= f.input_field :durationmonths, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                                <span class="input-group-addon">M</span>
                                              </div>
                                            </div>
                                          </div>
                                          </div>
                                      </div>
                                      </div>
                                    </div>
                                 </div>




                              <div class="col-md-12">
                                <div class="col-md-3"><strong>Frequency</strong> </div>

                                <div class="col-md-9">
                                  <div class="row">
                                    <div class="col-md-12 chestpainfrequency">
                                      <div class="col-md-12">
                                        <div class="col-md-2">
                                        <div class="form-group">

                                          <div class="input-group">
                                            <%= f.input_field :durationhours, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                            <span class="input-group-addon">/D</span>
                                          </div>
                                        </div>
                                      </div>
                                        <div class="col-md-2">
                                          <div class="form-group">

                                            <div class="input-group">
                                              <%= f.input_field :durationdays, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                              <span class="input-group-addon">/W</span>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-md-2">
                                          <div class="form-group">

                                            <div class="input-group">
                                              <%= f.input_field :durationweeks, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                              <span class="input-group-addon">/M</span>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-md-2">
                                          <div class="form-group">

                                            <div class="input-group">
                                              <%= f.input_field :durationmonths, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                              <span class="input-group-addon">/Y</span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                  </div>
                                </div>
                              </div>

                       </div>



                            <div id="dyspneacontent" class="tab-pane mb20">
                              <div class="col-md-12">
                                <div class="col-md-3 mb20"><strong>Dyspnea( NYHA Class I,II,III.IV)</strong>                                    </div>
                              </div>



                              <div class="col-md-12">
                                <div class="col-md-3"><strong>Onset</strong> </div>
                                <%= f.input :onset, wrapper_html: {:class=>"col-md-9"},collection: ['Acute','Chronic','Intermittent','Gradual','Improvig','Worsening','Stable'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                              </div>


                                <div class="col-md-12 mb10">
                                  <div class="row">
                                    <div class="col-md-12 dyspneaduration">
                                      <label><Strong>Duration</Strong></label>
                                      <div class="col-md-12">
                                        <div class="col-md-2">
                                        <div class="form-group">
                                          <div class="input-group">
                                            <%= f.input_field :durationhours, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                            <span class="input-group-addon">D</span>
                                          </div>
                                        </div>
                                      </div>
                                        <div class="col-md-2">
                                          <div class="form-group">

                                            <div class="input-group">
                                              <%= f.input_field :durationdays, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                              <span class="input-group-addon">M</span>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-md-2">
                                          <div class="form-group">

                                            <div class="input-group">
                                              <%= f.input_field :durationweeks, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                              <span class="input-group-addon">Y</span>
                                            </div>
                                          </div>
                                        </div>

                                      </div>
                                    </div>

                                  </div>
                                </div>



                                <div class="col-md-12 mb10">
                                  <div class="col-md-3 mb10"><strong>Aggravating factors</strong> </div>
                                  <%= f.input :aggrivatingfactors, wrapper_html: {:class=>"col-md-9"},collection: ['Physical exertion','Excertion','Emotional stress','Sexual activity','Exposure to cold','Eating','Smoking','Medication'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>

                                <div class="col-md-12 mb10">
                                  <div class="col-md-3 mb10"><strong>Relieving factors</strong> </div>
                                  <%= f.input :relievingfactors, wrapper_html: {:class=>"col-md-9"},collection: ['Rest','Sleep','Food','Exercise','Smoking','Medication'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>

                              </div>




                               <div id="hypertensioncontent" class="tab-pane">
                                <div class="col-md-12">
                                  <div class="col-md-3"><strong>Hypertension</strong></div>
                                  <%= f.input :hypertension, wrapper_html: {:class=>"col-md-9"},collection: ['Normal benign','Malignant','White Coat','Primary','Secondary','Prehypertension','Stage I','Stage II'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white' %>
                                </div>


                                <div class="col-md-9">
                                  <div class="row">
                                    <div class="col-md-12 hypertensionduration">
                                      <label><Strong>Duration</Strong></label>
                                      <div class="col-md-12">                                                                         <div class="col-md-2">
                                        <div class="form-group">

                                          <div class="input-group">
                                            <%= f.input_field :durationhours, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                            <span class="input-group-addon">D</span>
                                          </div>
                                        </div>
                                      </div>
                                        <div class="col-md-2">
                                          <div class="form-group">

                                            <div class="input-group">
                                              <%= f.input_field :durationdays, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                              <span class="input-group-addon">M</span>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-md-2">
                                          <div class="form-group">

                                            <div class="input-group">
                                              <%= f.input_field :durationweeks, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                              <span class="input-group-addon">Y</span>
                                            </div>
                                          </div>
                                        </div>

                                      </div>
                                    </div>

                                  </div>
                                </div>

                        </div>



                              <div id="palpitationscontent" class="tab-pane">
                                <div class="col-md-12">
                                  <div class="col-md-12">
                                   <div class="col-md-3"><strong>Palpitations</strong></div>
                                  <%= f.input :palpitations, wrapper_html: {:class=>"col-md-9"},collection: ['Regular','Tachycardia','Bradycardia','Regularly irregular','Irregularly irregular'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>

                                <div class="col-md-12">
                                  <div class="col-md-3"><strong>Site</strong> </div>
                                  <%= f.input :site, wrapper_html: {:class=>"col-md-9"},collection: ['Precordial','Retrosternal','Left sided','Epigastric','Right sided','Suprasternal(jugular)'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>

                                <div class="col-md-12">
                                  <div class="col-md-3"><strong>Character</strong> </div>
                                  <%= f.input :character, wrapper_html: {:class=>"col-md-9"},collection: ['Regular','Regularly irregular','Irregularly Irregular'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>


                                <div class="col-md-12">
                                  <div class="col-md-3"><strong>Onset</strong> </div>
                                  <%= f.input :onset, wrapper_html: {:class=>"col-md-9"},collection: ['Acute','Chronic','Burning','Intermittent','Gradual','Improving','Worsening','Stable'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>


                                <div class="col-md-12">
                                  <div class="col-md-3"><strong>Aggravating factors</strong> </div>
                                  <%= f.input :aggrivatingfactors, wrapper_html: {:class=>"col-md-9"},collection: ['Physical exertion','Excertion','Emotional stress','Sexual activity','Exposure to cold','Eating','Smoking','Medication'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>


                                <div class="col-md-12">
                                  <div class="col-md-3"><strong>Relieving factors</strong> </div>
                                  <%= f.input :relievingfactors, wrapper_html: {:class=>"col-md-9"},collection: ['Rest','Sleep','Food','Exercise','Smoking','Medication'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>


                                <div class="col-md-12">
                                  <div class="col-md-3">Onset </div>

                                  <div class="col-md-9">
                                    <div class="row">
                                      <div class="col-md-12 palpitationsonset">
                                        <div class="col-md-12">                                                                         <div class="col-md-2">
                                          <div class="form-group">

                                            <div class="input-group">
                                              <%= f.input_field :durationhours, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                              <span class="input-group-addon">M</span>
                                            </div>
                                          </div>
                                        </div>
                                          <div class="col-md-2">
                                            <div class="form-group">

                                              <div class="input-group">
                                                <%= f.input_field :durationdays, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                                <span class="input-group-addon">H</span>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-2">
                                            <div class="form-group">

                                              <div class="input-group">
                                                <%= f.input_field :durationweeks, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                                <span class="input-group-addon">D</span>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-2">
                                            <div class="form-group">

                                              <div class="input-group">
                                                <%= f.input_field :durationmonths, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>*
                                                <span class="input-group-addon">M</span>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                    </div>
                                  </div>
                                </div>



                                    <div class="col-md-12">
                                      <div class="col-md-3">Frequency </div>


                                      <div class="col-md-9">
                                        <div class="row">
                                          <div class="col-md-12 surgicalhistorysurgerydate">
                                            <div class="col-md-12">                                                                         <div class="col-md-2">
                                              <div class="form-group">

                                                <div class="input-group">
                                                  <%= f.input_field :durationhours, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                                  <span class="input-group-addon">/D</span>
                                                </div>
                                              </div>
                                            </div>
                                              <div class="col-md-2">
                                                <div class="form-group">

                                                  <div class="input-group">
                                                    <%= f.input_field :durationdays, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                                    <span class="input-group-addon">/W</span>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="col-md-2">
                                                <div class="form-group">

                                                  <div class="input-group">
                                                    <%= f.input_field :durationweeks, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                                    <span class="input-group-addon">/Mnth</span>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="col-md-2">
                                                <div class="form-group">

                                                  <div class="input-group">
                                                    <%= f.input_field :durationmonths, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                                    <span class="input-group-addon">/Yr</span>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>

                                        </div>
                                      </div>
                                    </div>



                              <div class="col-md-12">
                                <div class="col-md-3">Proxysmal </div>
                                <%= f.input :proxysmal, wrapper_html: {:class=>"col-md-9"},collection: ['Proxysmal'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                              </div>
                       </div>
                    </div>



                                <div id="hemoptysiscontent" class="tab-pane">
                                    <div class="col-md-12">
                                      <div class="col-md-3">Hemoptysis </div>
                                      <%= f.input :hemoptysis, wrapper_html: {:class=>"col-md-9"},collection: ['Frank/bright red','Clots of blood','Dark coloured(acid hematin)','Pink frothy'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white ' %>
                                    </div>
                                </div>


                                <div class="oedemacontent" class="tab-pane">
                                 <div class="col-md-12">
                                  <div class="col-md-3">Site </div>
                                  <%= f.input :site, wrapper_html: {:class=>"col-md-9"},collection: ['Periorbital puffiness','Facial puffiness','Swelling of feet','Abdominal distension','Generalized swelling'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>

                                <div class="col-md-12">
                                  <div class="col-md-3">Onset </div>
                                  <%= f.input :onset, wrapper_html: {:class=>"col-md-9"},collection: ['Acute','Chronic','Intermittent','Gradual','Improving','Worsening','Stable'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>

                                <div class="col-md-9">
                                  <div class="row">
                                    <div class="col-md-3">Duration </div>
                                    <div class="col-md-12 duration">
                                      <div class="col-md-12">
                                        <div class="col-md-2">
                                        <div class="form-group">

                                          <div class="input-group">
                                            <%= f.input_field :durationhours, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                            <span class="input-group-addon">D</span>
                                          </div>
                                        </div>
                                      </div>
                                        <div class="col-md-2">
                                          <div class="form-group">

                                            <div class="input-group">
                                              <%= f.input_field :durationdays, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                              <span class="input-group-addon">M</span>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-md-2">
                                          <div class="form-group">

                                            <div class="input-group">
                                              <%= f.input_field :durationweeks, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                              <span class="input-group-addon">Y</span>
                                            </div>
                                          </div>
                                        </div>

                                      </div>
                                    </div>

                                  </div>
                                </div>
                            </div>




                              <div id="syncopecontent" class="tab-pane">
                                <div class="col-md-12">
                                  <div class="col-md-3"><strong>Syncope</strong> </div>
                                </div>

                                <div class="col-md-12">
                                  <div class="col-md-3">Onset</div>
                                  <%= f.input :onset, wrapper_html: {:class=>"col-md-9"},collection: ['Sudden','Intermittent','Gradual','Paroxysmal'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>

                                <div class="col-md-12">
                                  <div class="col-md-3">Character</div>
                                  <%= f.input :character, wrapper_html: {:class=>"col-md-9"},collection: [['Sudden without a prodrome','prodrome'],['Sudden with prodromal symptoms','prodromalsymptoms'],['Sudden with provocative symptoms','provocativesymptoms']], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white syncope' %>
                                </div>



                                <div class="col-md-12">
                                  <div class="col-md-3"><strong>Position</strong></div>
                                  <%= f.input :syncopeposition, wrapper_html: {:class=>"col-md-9"},collection: ['Sitting','Standing','Supine'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white syncopeposition' %>
                                </div>


                                <div class="col-md-12 lastedfor">
                                  <div class="col-md-3">it lasted for: </div>
                                    <div class="col-md-9">
                                       <div class="input-group">
                                         <%=f .input_field :durationhours, :class=> "form-control", :maxlength => 4, :size => 3, :required => false %>
                                         <span class="input-group-addon">sec/min</span>
                                       </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                  
                                  <div class="col-md-3">Loss of consciousness</div>
                                  <%= f.input :lossofconsciousness, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false,:checked => 'No', :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>


                                <div class="col-md-12">
                                  <div class="col-md-3">Seizure activity</div>
                                  <%= f.input :seizureactivity, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false,:checked => 'No', :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>


                                <div class="col-md-12">
                                  <div class="col-md-3">Witnessed by </div>
                                  <%= f.input :witnessed, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false,:checked => 'No', :required => false,:class => 'btn btn-xs btn-white witnessedby' %>
                                </div>

                                <div id="witnessedbycontent">
                                  <div class="col-md-12">
                                    <input type="text" class="form-control">
                                  </div>

                                </div>


                                <div class="col-md-12">
                                  
                                  <div class="col-md-3">Confused after the event</div>
                                  <%= f.input :confusedaftertheevent, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:checked => 'No',:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>


                                <div class="col-md-12">
                                  <div class="col-md-3">Incontinent of urine/bowel</div>
                                  <%= f.input :incontinentofurinebowel, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:checked => 'No',:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>


                                <div class="col-md-12">
                                  <div class="col-md-3">Injury</div>
                                  <%= f.input :injury, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:checked => 'No',:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>

                                <div class="col-md-12">
                                  <div class="col-md-3">Similar symptoms before</div>
                                  <%= f.input :similarsymptomsbefore, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:checked => 'No',:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>
                              </div>


                             <div class="prodromalsymptomscontent">
                              <div class="col-md-12">
                                <div class="col-md-4"><strong>Prodromal symptoms before the episode</strong> </div>
                              </div>

                              <div class="col-md-12">
                                <div class="col-md-3">Light headedness</div>
                                <%= f.input :lightheadedness, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false,:checked => 'No', :required => false,:class => 'btn btn-xs btn-white blurring' %>
                              </div>

                              <div class="col-md-12">
                                <div class="col-md-3">Racing heart</div>
                                <%= f.input :raceheart, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false,:checked => 'No', :required => false,:class => 'btn btn-xs btn-white blurring' %>
                              </div>

                              <div class="col-md-12">
                                <div class="col-md-3">Chest Pain</div>
                                <%= f.input :chestpain, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false,:checked => 'No', :required => false,:class => 'btn btn-xs btn-white blurring' %>
                              </div>

                              <div class="col-md-12">
                                <div class="col-md-3">Vision Problems</div>
                                <%= f.input :visionproblems, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false,:checked => 'No', :required => false,:class => 'btn btn-xs btn-white blurring' %>
                              </div>

                              <div class="col-md-12">
                                <div class="col-md-3">Nausea/Vomiting/Diarrhea </div>
                                <%= f.input :nauseavomitingdiarrhea , wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false,:checked => 'No', :required => false,:class => 'btn btn-xs btn-white blurring' %>
                              </div>


                              <div class="col-md-12">
                                <div class="col-md-3">Headache </div>
                                <%= f.input :headache , wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false,:checked => 'No', :required => false,:class => 'btn btn-xs btn-white blurring' %>
                              </div>


                              <div class="col-md-12">
                                <div class="col-md-3">Abdominal Pain </div>
                                <%= f.input :abdominalpain , wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false,:checked => 'No', :required => false,:class => 'btn btn-xs btn-white blurring' %>
                              </div>


                              <div class="col-md-12">
                                <div class="col-md-3">Black/bloody stools </div>
                                <%= f.input :blackbloddystool , wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:checked => 'No',:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                              </div>


                              <div class="col-md-12">
                                <div class="col-md-3">Fever/chills </div>
                                <%= f.input :feverchills , wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:checked => 'No',:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                              </div>


                              <div class="col-md-12">
                                <div class="col-md-3">SOB </div>
                                <%= f.input :sob, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:checked => 'No',:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                              </div>
                            </div>


                            <div class="provocativesymptomscontent">
                              <div class="col-md-12">
                                <div class="col-md-3"><strong>Provocative symptoms</strong> </div>
                              </div>

                              <div class="col-md-12">
                                <div class="col-md-3">Prolonged Standing</div>
                                <%= f.input :prolongedstanding, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:checked => 'No',:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                              </div>

                              <div class="col-md-12">
                                <div class="col-md-3">Excess Heat</div>
                                <%= f.input :excessheat, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false,:checked => 'No', :required => false,:class => 'btn btn-xs btn-white blurring' %>
                              </div>

                              <div class="col-md-12">
                                <div class="col-md-3">Lack of food</div>
                                <%= f.input :lackoffood, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false,:checked => 'No', :required => false,:class => 'btn btn-xs btn-white blurring' %>
                              </div>

                              <div class="col-md-12">
                                <div class="col-md-3">Change in Position</div>
                                <%= f.input :changeinposition, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false,:checked => 'No', :required => false,:class => 'btn btn-xs btn-white blurring' %>
                              </div>

                            </div>


                              <div id="pasthistorycontent" class="tab-pane">
                              <div class="col-md-12">
                                <div class="col-md-3">Past History </div>
                              </div>



                              <div class="col-md-12">
                                <div class="col-md-3">Angina</div>
                                <%= f.input :angina, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false,:checked => 'No', :required => false,:class => 'btn btn-xs btn-white blurring' %>
                              </div>

                              <div class="col-md-12">
                                <div class="col-md-3">Myocardial Infarction with Thrombolysis</div>
                                <%= f.input :myocardialinfarctionwiththrombolysis, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:checked => 'No',:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                              </div>


                              <div class="col-md-12">
                                <div class="col-md-3">Stroke</div>
                                <%= f.input :stroke, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false,:checked => 'No',:class => 'btn btn-xs btn-white blurring' %>
                              </div>



                              <div class="col-md-12">
                                <div class="col-md-3">Dyslipidemia</div>
                                <%= f.input :dyslipidemia, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false,:checked => 'No', :required => false,:class => 'btn btn-xs btn-white blurring' %>
                              </div>

                              <div class="col-md-12">
                                <div class="col-md-3">Hypertension</div>
                                <%= f.input :hypertension, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false,:checked => 'No', :required => false,:class => 'btn btn-xs btn-white blurring' %>
                              </div>


                              <div class="col-md-12">
                                <div class="col-md-3">Diabetes Mellitus</div>
                                <%= f.input :diabetesmellitus, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false,:checked => 'No', :required => false,:class => 'btn btn-xs btn-white blurring' %>
                              </div>



                              <div class="col-md-12">
                                <div class="col-md-3">Kidney disease</div>
                                <%= f.input :kidneydisease, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false,:checked => 'No', :required => false,:class => 'btn btn-xs btn-white blurring' %>
                              </div>



                              <div class="col-md-12">
                                <div class="col-md-3">History sugesstive of Rheumatic fever</div>
                                <%= f.input :historysugesstiveofrheumaticfever, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:checked => 'No',:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                              </div>

                            </div>


                             <div id="drughistorycontent" class="tab-pane">
                                <div class="col-md-12">
                                  <div class="col-md-3">Drug History </div>
                                  <%= f.input :drughistory, wrapper_html: {:class=>"col-md-9"},collection: ['Drug Name','Duration','Dosage','Related disease','Related drug allergies'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white drug' %>
                                </div>
                             </div>

                              <div class="drughistorydetails">
                                <table class="table table-bordered table-hover">
                                  <tr>
                                    <td><strong>Drug Name</strong></td>
                                    <td><strong>Duration</strong></td>
                                    <td><strong>Dosage</strong></td>
                                    <td><strong>Related Diseases</strong></td>
                                    <td><strong>Related drug allergies</strong></td>
                                  </tr>

                                  <tr>
                                    <td><input type="text" class="form-control"/></td>
                                    <td><input type="text" class="form-control"/></td>
                                    <td><input type="text" class="form-control"/></td>
                                    <td><input type="text" class="form-control"/></td>
                                    <td><input type="text" class="form-control"/></td>
                                  </tr>

                                </table>

                              </div>

                              <div id="familyhistorycontent" class="tab-pane">
                                <div class="col-md-12">
                                  <div class="col-md-3">Family History </div>
                                  <%= f.input :familyhistory, wrapper_html: {:class=>"col-md-9"},collection: ['Angina','Myocardial Infarction','Stroke','Dyslipidemia','Hypertension','Diabetes Mellitus','Kidney disese','Obesity','Cancer','Alzheimers'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>
                              </div>


                              <div id="surgicalhistorycontent" class="tab-pane">
                                <div class="col-md-12">
                                  <div class="col-md-3">Surgical History </div>
                                  <%= f.input :surgicalhistory, wrapper_html: {:class=>"col-md-9"},collection: ['CABG','Valve surgery','Angiography/Angioplasty','Cholecystectomy','Hernia Hysterectomy','C-section','Other'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white surgical' %>
                                </div>
                              </div>

                              <div class="surgicaltextbox">
                                <input type="text" class="form-control"/>
                              </div>

</div>
                            </div>


                          </div>

                        </div>

                      </div>

                    </div>

                  </div>

                </div>

              </div>
              </div>