<div class="step-pane" data-step="2">
    <div class="row">
        <div class="col-md-6" style="height:2000px;">
            <div class="panel panel-info" id="cardiopanel-color">
                <div class="panel-heading" id="cardiopanel-heading">Phycial Examination
                   
                    <div class="pull-right">
                        <div class="dropdown optional_physical_switch" >
                            <button type="button" class="btn btn-default" data-toggle="dropdown">Others 
                                                
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="optional-dropdown" hg-parent-element="hg_subjective_optional">
                                <li role="presentation">
                                    <a role="menuitem" hg-element="built_details" href="#">Built</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" hg-element="level_of_consciouness" href="#">Level of consciousness</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" hg-element="pulse" href="#">Pulse</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" hg-element="bp" href="#">BP</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" hg-element="respiratory" href="#">Respiratory rate</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" hg-element="spo2_temp" href="#">SPO2 & Temp</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" hg-element="pallor" href="#">Pallor</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" hg-element="oedema" href="#">Oedema</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" hg-element="clubbing" href="#">Clubbing</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" hg-element="back_and_spine" href="#">Back and spine</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" hg-element="psychiatric_status" href="#">Psychiatric status</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body" id="hg_subjective_optional">
                    <div class="row" id="built_details" style="display:none;">
                        <div class="col-md-3">
                            <h3 id="builtdetailsheading">
                                <span class="label label-info">Built details</span>
                            </h3>
                        </div>
                        <div class="col-md-8">
                            <div class="row" id="built_fields">
                                    <%= f.input :built, wrapper_html: {:class=>"col-md-12"},collection: ['Thin','Average','Heavy','Obese','Morbidly obese'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>                                
                            </div>
                        </div>
                    </div>
                    <div class="row" id="level_of_consciouness" style="display:none;">
                        <div class="col-md-3">
                            <h3 id="level_of_consciouness_heading">
                                <span class="label label-info">Level of Consciousness</span>
                            </h3>
                        </div>
                        <div class="col-md-8">
                            <div class="row" id="level_of_consciouness_fields">
                                <%= f.input :levelofconsciouness, wrapper_html: {:class=>"col-md-12"},collection: ['Fully conscious','Stuporous','Semi-conscious','Unconscious','Comatose'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                               
                            </div>
                        </div>
                    </div>
                    <div class="row" id="bp" style="display:none;">
                        <div class="col-md-2">
                            <h3 id="bp_heading">
                                <span class="label label-info">BP</span>
                            </h3>
                        </div>
                        <div class="col-md-8">
                            <div class="row" id="bp_fields">
                                <div class="col-md-12">
                                    <div class="col-md-12 mb10">
                                        <div class="col-md-3">
                                            <strong>Pulse</strong>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <div class="input-group"><%= f.input_field :durationhours, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                                    <span class="input-group-addon">/min</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb10" id="pulse" style="display:none;">
                        <div class="col-md-3">
                            <h3 id="pulse_heading">
                                <span class="label label-info">Pulse</span>
                            </h3>
                        </div>
                        <div class="col-md-8">
                            <div class="row" id="pulse_fields">
                                <div class="col-md-12 mb10">
                                    <div class="col-md-9">
                                        <div class="form-group">                                             
                                               
                                             
                                            <div class="input-group"><%= f.input_field :durationhours, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                                <span class="input-group-addon">/min</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <strong>Rythm</strong>
                                    </div><%= f.input :rythm, wrapper_html: {:class=>"col-md-9"},collection: ['Regular','Regularly irregular','Irregularly regular'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <strong>Peripheral Pulses</strong>
                                    </div><%= f.input :peripheralpulses, wrapper_html: {:class=>"col-md-8"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="respiratory" style="display:none;">
                        <div class="col-md-3">
                            <h3 id="respiratory_heading">
                                <span class="label label-info">Respiratory Cycle</span>
                            </h3>
                        </div>
                        <div class="col-md-8">
                            <div class="row" id="respiratory_fields">
                                <div class="col-md-12 mb10">
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <div class="input-group"><%= f.input_field :durationhours, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                                <span class="input-group-addon">mm/Hg</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="spo2_temp" style="display:none;">
                        <div class="col-md-3">
                            <h3 id="spo2_temp_heading">
                                <span class="label label-info">SPO2 & Temp</span>
                            </h3>
                        </div>
                        <div class="col-md-8">
                            <div class="row" id="spo2_temp_fields">
                                <div class="col-md-6">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <label for="spo2">
                                                <span>Sp02%: </span>
                                                <span id="spo2"></span>
                                            </label>
                                            <div id="spo2-slider"></div>
                                        </div>
                                        <!-- panel-body -->
                                    </div>
                                    <!-- panel -->
                                </div>
                                <!-- col-md-6 -->
                                <div class="col-md-6">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <label for="temp">
                                                <span>Temparature: </span>
                                                <span id="temp"></span><%= raw '&#8457'%>
                                            </label>
                                            <div id="slider-min"></div>
                                        </div>
                                        <!-- panel-body -->
                                    </div>
                                    <!-- panel -->
                                </div>
                                <!-- col-md-6 -->
                            </div>
                        </div>
                    </div>
                    <div class="row" id="pallor" style="display:none;">
                        <div class="col-md-3">
                            <h3 id="pallor_heading">
                                <span class="label label-info">Pallor</span>
                            </h3>
                        </div>
                        <div class="col-md-9">
                            <div class="row" id="pallor_fields">
                                <div class="col-md-12">
                                    <%= f.input :pallor, wrapper_html: {:class=>"col-md-12"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="oedema" style="display:none;">
                        <div class="col-md-3">
                            <h3 id="oedema_heading">
                                <span class="label label-info">Oedema</span>
                            </h3>
                        </div>
                        <div class="col-md-9">
                            <div class="row" id="oedema_fields">
                                <div class="col-md-12">
                                    <%= f.input :bp, wrapper_html: {:class=>"col-md-12"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="clubbing" style="display:none;">
                        <div class="col-md-3">
                            <h3 id="clubbing_heading">
                                <span class="label label-info">Clubbing</span>
                            </h3>
                        </div>
                        <div class="col-md-9">
                            <div class="row" id="clubbing_fields">
                                <div class="col-md-12">
                                    <%= f.input :clubbing, wrapper_html: {:class=>"col-md-12"},collection: ['Grade I', 'Grade II','Grade III','Grade IV'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="back_and_spine" style="display:none;">
                        <div class="col-md-3">
                            <h3 id="back_and_spine_heading">
                                <span class="label label-info">Back and Spine</span>
                            </h3>
                        </div>
                        <div class="col-md-9">
                            <div class="row" id="back_and_spine_fields">
                                <div class="col-md-12">
                                    <%= f.input :backandspine, wrapper_html: {:class=>"col-md-12"},collection: ['Normal', 'Scoliosis','Kyphosis','Kyphoscoliosis'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="psychiatric_status" style="display:none;">
                        <div class="col-md-3">
                            <h3 id="psychiatric_status_heading">
                                <span class="label label-info">Psychiatric Status</span>
                            </h3>
                        </div>
                        <div class="col-md-9">
                            <div class="row" id="psychiatric_status_fields">
                                <div class="col-md-12">
                                   <%= f.input :psychiatricstatus, wrapper_html: {:class=>"col-md-12"},collection: ['Calm and quiet', 'Anxious','Agitated','Irritable','Tearful','Obtunded','Psychotic'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="height:2000px;">
            <div class="panel panel-success">
                <div class="panel-heading" id="cardiopanel-heading">Cardiovascular Examination
                      
                    <div class="pull-right">
                        <div class="dropdown optional_cardio_switch" >
                            <button type="button" class="btn btn-default" data-toggle="dropdown">Others 
                                                
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="optional-dropdown" hg-parent-element="hg_cardio_objective_optional">
                                <li role="presentation">
                                    <a role="menuitem" hg-element="inspection" href="#">Inspection</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" hg-element="palpation" href="#">Palpation</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" hg-element="auscultation" href="#">Auscultation</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" hg-element="murmurs" href="#">Murmurs</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" hg-element="respiratory_system" href="#">Respiratory System</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" hg-element="gastrointestinal_system" href="#">Gastrointestinal System</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" hg-element="nervous_system" href="#">Nervous System</a>
                                </li>
                            </ul>
                        </div>                       
                     </div>
                </div>
                
                      <div class="panel-body" id="hg_cardio_objective_optional">
                    <div class="row" id="inspection" style="display:none;">
                        <div class="col-md-2">
                            <h3 id="inspection_heading">
                                <span class="label label-info">Inspection</span>
                            </h3>
                        </div>
                        <div class="col-md-10">
                            <div class="row" id="inspection_fields">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="col-md-3">Precordium </div><%= f.input :precordium , wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Bulged','Depressed'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">Deformity</div><%= f.input :deformity , wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Pectus Excavatum','Pectus Carinatum','Barrel shaped'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">Dilated neck veins</div><%= f.input :dilatedneckveins , wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">JVP</div><%= f.input :jvp , wrapper_html: {:class=>"col-md-9"},collection: ['Raised','Not Raised'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                <div class="row" id="palpation" style="display:none;">
                    <div class="col-md-3">
                        <h3 id="palpation_heading">
                            <span class="label label-info">Palpation</span>
                        </h3>
                    </div>
                    <div class="col-md-9">
                        <div class="row" id="palpation_fields">
                            <div class="col-md-12"><%= f.input :palpation, wrapper_html: {:class=>"col-md-9"},collection: ['Palpable','Not Palpable'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white palpation' %>
                            </div>
                            <div class="col-md-12 questionsforpalpation">
                                <div class="col-md-3">Palpable </div><%= f.input :questionsforpalpation , wrapper_html: {:class=>"col-md-9"},collection: ['Diffuse','Sustained','Shifted Inferiorly','Shifted Laterally','Shifted Medially'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white palpatation' %>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <strong>Other findings</strong>
                                </div><%= f.input :otherfindings, wrapper_html: {:class=>"col-md-9"},collection: ['Thrill','Diastolic Shock','Palpable S3','Parasternal Heave'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white otherfindings' %>
                            </div>
                            <div class="col-md-12 questionsforthrill">
                                <div class="col-md-3">Thrill </div><%= f.input :thrill, wrapper_html: {:class=>"col-md-9"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white thrill' %>
                            </div>
                            <div class="col-md-12 questionsfordiastolicshock">
                                <div class="col-md-3">Diastolic Shock </div><%= f.input :questionsfordiastolicshock , wrapper_html: {:class=>"col-md-9"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white palpatations' %>
                            </div>
                            <div class="col-md-12 questionsforpalpables3">
                                <div class="col-md-3">Palpable s3</div><%= f.input :questionsforpalpables3 , wrapper_html: {:class=>"col-md-9"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white palpatations' %>
                            </div>
                            <div class="col-md-12 questionsforparasternalheave">
                                <div class="col-md-3">Parasternal Heave </div><%= f.input :questionsforparasternalheave , wrapper_html: {:class=>"col-md-9"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white palpatations' %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="auscultation" style="display:none;">
                    <div class="col-md-3">
                        <h3 id="auscultation_heading">
                            <span class="label label-info">Auscultation</span>
                        </h3>
                    </div>
                    <div class="col-md-9">
                        <div class="row" id="auscultation_fields">
                            <div class="col-md-12">
                                <div class="col-md-12 mb10">
                                    <div class="col-md-3">
                                        <strong>Rate</strong>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <div class="input-group"><%= f.input_field :durationhours, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                                <span class="input-group-addon">/min</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <strong>Rhythm</strong>
                                    </div><%= f.input :rhythm, wrapper_html: {:class=>"col-md-9"},collection: ['Regular','Irregularly irregular','Regularly irregular','Tachycardia','Bradycardia'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>
                                <div class="col-md-12 heartsounds">
                                    <div class="col-md-3">
                                        <strong>Heart sounds</strong>
                                    </div><%= f.input :heartsounds, wrapper_html: {:class=>"col-md-9"},collection: ['S1','S2','S3','S4'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white heartsounds' %>
                                </div>
                                <div class="col-md-12 questionsforS1">
                                    <div class="col-md-3">
                                        <strong>S1</strong>
                                    </div><%= f.input :questionsfors1, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Loud','Soft','Variable'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white s1' %>
                                </div>
                                <div class="col-md-12 questionsforS2">
                                    <div class="col-md-3">
                                        <strong>S2</strong>
                                    </div><%= f.input :questionsfors2, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Physiological Split','Paradoxical Split','Fixed Split','Exaggerated Split','Loud P2'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white s2' %>
                                </div>
                                <div class="col-md-12 questionsforS3">
                                    <div class="col-md-3">
                                        <strong>S3</strong>
                                    </div><%= f.input :questionsfors3, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white s1' %>
                                </div>
                                <div class="col-md-12 questionsforS4">
                                    <div class="col-md-3">
                                        <strong>S4</strong>
                                    </div><%= f.input :questionsfors4, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white s1' %>
                                </div>
                                <div class="col-md-12 extrasounds">
                                    <div class="col-md-3">
                                        <strong>Extra sounds</strong>
                                    </div><%= f.input :extrasounds, wrapper_html: {:class=>"col-md-9"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white extrasounds' %>
                                </div>
                                <div class="questionsforextrasounds">
                                    <div class="col-md-12">
                                        <div class="col-md-3">Clicks </div><%= f.input :clicks, wrapper_html: {:class=>"col-md-9"},collection: ['Single','Multiple'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white clicks' %>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">Rub Component </div><%= f.input :rubcomponent, wrapper_html: {:class=>"col-md-9"},collection: ['1','2','3'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white rubcomponent' %>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">Prosthetic Sounds </div><%= f.input :prostheticsounds, wrapper_html: {:class=>"col-md-9"},collection: ['Crisp','Dull'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white prostheticsounds' %>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <strong>Other findings</strong>
                                        </div><%= f.input :otherfindings, wrapper_html: {:class=>"col-md-9"},collection: ['Pericardial Knock','Opening snap','Aortic Ejection Click','Pleural Rub','Splenic Rub'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white otherfindings' %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="murmurs" style="display:none;">
                    <div class="col-md-3">
                        <h3 id="murmurs_heading">
                            <span class="label label-info">Murmurs</span>
                        </h3>
                    </div>
                    <div class="col-md-9">
                        <div class="row" id="murmurs_fields">
                            <div class="col-md-12 mb10">
                                <div class="col-md-3">Number of Murmurs</div><%= f.input :numberofmurmurs, wrapper_html: {:class=>"col-md-9"},collection: ['1','2','3'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white numberofmurmurs' %>
                            </div>
                            <div class="col-md-12 mb10">
                                <div class="col-md-3">Continuous Murmur</div><%= f.input :continuous_murmur, wrapper_html: {:class=>"col-md-9"},collection: ['None','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white continuous_murmur' %>
                            </div>
                            <div class="col-md-12 mb10">
                                <div class="col-md-3">Location</div><%= f.input :murmur_location, wrapper_html: {:class=>"col-md-9"},collection: ['Mitral Area','Tricuspid Area','Arotic Area','Pulmonary Area','Left Sternal Border'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white murmur_location' %>
                            </div>
                            <div class="questionsfortype">
                                <div class="col-md-12">
                                    <div class="col-md-3">Type </div><%= f.input :typemurmur, wrapper_html: {:class=>"col-md-9"},collection: ['Systolic Murmur','Diastolic Murmur'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white murmurtype' %>
                                </div>
                            </div>
                            <div class="typemitralarea">
                                <div class="col-md-12">
                                    <div class="col-md-4">Mitral Area </div><%= f.input :typemitral, wrapper_html: {:class=>"col-md-8"},collection: ['Systolic Murmur','Diastolic Murmur'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white typemitral' %>
                                </div>
                            </div>
                            <div class="typetricuspidarea">
                                <div class="col-md-12">
                                    <div class="col-md-4">Tricuspid Area </div><%= f.input :typetricuspid, wrapper_html: {:class=>"col-md-8"},collection: ['Systolic Murmur','Diastolic Murmur'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white typetricuspid' %>
                                </div>
                            </div>
                            <div class="typearoticarea">
                                <div class="col-md-12">
                                    <div class="col-md-4">Arotic Area </div><%= f.input :typearotic, wrapper_html: {:class=>"col-md-8"},collection: ['Systolic Murmur','Diastolic Murmur'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white typearotic' %>
                                </div>
                            </div>
                            <div class="typepulmonaryarea">
                                <div class="col-md-12">
                                    <div class="col-md-4">Pulmonary Area </div><%= f.input :typepulmonary, wrapper_html: {:class=>"col-md-8"},collection: ['Systolic Murmur','Diastolic Murmur'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white typepulmonary' %>
                                </div>
                            </div>
                            <div class="typeleftsternalborderarea">
                                <div class="col-md-12">
                                    <div class="col-md-4">Left Sternal Border </div><%= f.input :typeleftsternalborder, wrapper_html: {:class=>"col-md-8"},collection: ['Systolic Murmur','Diastolic Murmur'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white typeleftsternalborder' %>
                                </div>
                            </div>
                            <div class="questionsforsystolicmurmur">
                                <div class="col-md-12 mb10">
                                    <div class="col-md-4">Systolic Murmur</div><%= f.input :systolicmurmur, wrapper_html: {:class=>"col-md-8"},collection: ['Ejection Systolic','Holosytolic'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white systolicmurmur' %>
                                </div>
                            </div>
                            <div class="questionsforejectionsystolic">
                                <div class="col-md-12 mb10">
                                    <div class="col-md-4"> Ejection Systolic Murmur</div><%= f.input :ejectionsystolicmurmur, wrapper_html: {:class=>"col-md-8"},collection: ['Harsh','Cooling','Late Peaking','Cresendo-Decresendo'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white ejectionsystolicmurmur' %>
                                </div>
                                <div class="col-md-12 mb10">
                                    <div class="col-md-3">Grade</div><%= f.input :grade, wrapper_html: {:class=>"col-md-9"},collection: ['I','II','III','IV','V','VI'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white grade' %>
                                </div>
                                <div class="col-md-12 mb10">
                                    <div class="col-md-3">Radiation to</div><%= f.input :murmur_radiationto, wrapper_html: {:class=>"col-md-9"},collection: ['Axilla','Neck'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white murmur_radiationto' %>
                                </div>
                                <div class="col-md-12 mb10">
                                    <div class="col-md-3">Maneuvers</div><%= f.input :murmur_maneuvers, wrapper_html: {:class=>"col-md-9"},collection: ['Valsalva','Squatting','Jumping','Exercise','Handgrip'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white murmur_maneuvers' %>
                                </div>
                                <div class="questionsforvalsalva">
                                    <div class="col-md-12">
                                        <div class="col-md-3">Valsalva</div><%= f.input :questionsforvalsalva, wrapper_html: {:class=>"col-md-9"},collection: ['Increase','Decrease','No Change'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white murmur_maneuvers' %>
                                    </div>
                                </div>
                                <div class="questionsforsquatting">
                                    <div class="col-md-12">
                                        <div class="col-md-3">Squatting</div><%= f.input :questionsforsquatting, wrapper_html: {:class=>"col-md-9"},collection: ['Increase','Decrease','No Change'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white murmur_maneuvers' %>
                                    </div>
                                </div>
                                <div class="questionsforjumping">
                                    <div class="col-md-12">
                                        <div class="col-md-3">Jumping</div><%= f.input :questionsforjumping, wrapper_html: {:class=>"col-md-9"},collection: ['Increase','Decrease','No Change'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white murmur_maneuvers' %>
                                    </div>
                                </div>
                                <div class="questionsforexercise">
                                    <div class="col-md-12">
                                        <div class="col-md-3">Exercise</div><%= f.input :questionsforexercise, wrapper_html: {:class=>"col-md-9"},collection: ['Increase','Decrease','No Change'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white murmur_maneuvers' %>
                                    </div>
                                </div>
                                <div class="questionsforhandgrip">
                                    <div class="col-md-12">
                                        <div class="col-md-3">Handgrip</div><%= f.input :questionsforhandgrip, wrapper_html: {:class=>"col-md-9"},collection: ['Increase','Decrease','No Change'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white murmur_maneuvers' %>
                                    </div>
                                </div>
                                <div class="col-md-12 murmurcomments">
                                    <div class="col-md-12 row">
                                        <div class="col-md-2">Comments</div>
                                    </div>
                                    <div class="col-md-12 row"><%= f.input :murmurcomments, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 40 } %>
                                    </div>
                                </div>
                            </div>
                            <br>
                                <br>
                                    <br>
                                        <br>
                                            <br>
                                                <br>
                                                    <div class="questionsforholosytolicmurmur">
                                                        <div class="col-md-12">
                                                            <div class="col-md-3">Holosystolic</div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="col-md-3">Grade</div><%= f.input :grade, wrapper_html: {:class=>"col-md-9"},collection: ['I','II','III','IV','V','VI'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white grade' %>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="col-md-3">Radiation to</div><%= f.input :murmur_radiationto, wrapper_html: {:class=>"col-md-9"},collection: ['Axilla','Neck'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white murmur_radiationto' %>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="col-md-3">Maneuvers</div><%= f.input :murmur_maneuvers, wrapper_html: {:class=>"col-md-9"},collection: ['Valsalva','Squatting','Jumping','Exercise','Handgrip'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white murmur_maneuvers' %>
                                                        </div>
                                                        <div class="questionsforvalsalva">
                                                            <div class="col-md-12">
                                                                <div class="col-md-3">Valsalva</div><%= f.input :questionsforvalsalva, wrapper_html: {:class=>"col-md-9"},collection: ['Increase','Decrease','No Change'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white murmur_maneuvers' %>
                                                            </div>
                                                        </div>
                                                        <div class="questionsforsquatting">
                                                            <div class="col-md-12">
                                                                <div class="col-md-3">Squatting</div><%= f.input :questionsforsquatting, wrapper_html: {:class=>"col-md-9"},collection: ['Increase','Decrease','No Change'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white murmur_maneuvers' %>
                                                            </div>
                                                        </div>
                                                        <div class="questionsforjumping">
                                                            <div class="col-md-12">
                                                                <div class="col-md-3">Jumping</div><%= f.input :questionsforjumping, wrapper_html: {:class=>"col-md-9"},collection: ['Increase','Decrease','No Change'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white murmur_maneuvers' %>
                                                            </div>
                                                        </div>
                                                        <div class="questionsforexercise">
                                                            <div class="col-md-12">
                                                                <div class="col-md-3">Exercise</div><%= f.input :questionsforexercise, wrapper_html: {:class=>"col-md-9"},collection: ['Increase','Decrease','No Change'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white murmur_maneuvers' %>
                                                            </div>
                                                        </div>
                                                        <div class="questionsforhandgrip">
                                                            <div class="col-md-12">
                                                                <div class="col-md-3">Handgrip</div><%= f.input :questionsforhandgrip, wrapper_html: {:class=>"col-md-9"},collection: ['Increase','Decrease','No Change'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white murmur_maneuvers' %>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 murmurcomments">
                                                            <div class="col-md-12 row">
                                                                <div class="col-md-2">Comments</div>
                                                            </div>
                                                            <div class="col-md-12 row"><%= f.input :murmurcomments, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 40 } %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="questionsfordiastolicmurmur">
                                                        <div class="col-md-12">
                                                            <div class="col-md-3">Diastolic Murmur</div><%= f.input :diastolic_murmur, wrapper_html: {:class=>"col-md-9"},collection: ['Blowing','Rumbling','High-Pitched','Decrescendo'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white diastolic_murmur' %>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="col-md-3">Grade</div><%= f.input :grade, wrapper_html: {:class=>"col-md-9"},collection: ['I','II','III','IV'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white grade' %>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="col-md-3">Radiation to</div><%= f.input :murmur_radiationto, wrapper_html: {:class=>"col-md-9"},collection: ['Axilla','Neck'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white murmur_radiationto' %>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="col-md-3">Maneuvers</div><%= f.input :murmur_maneuvers, wrapper_html: {:class=>"col-md-9"},collection: ['Valsalva','Squatting','Jumping','Exercise','Handgrip'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white murmur_maneuvers' %>
                                                        </div>
                                                        <div class="questionsforvalsalva">
                                                            <div class="col-md-12">
                                                                <div class="col-md-3">Valsalva</div><%= f.input :questionsforvalsalva, wrapper_html: {:class=>"col-md-9"},collection: ['Increase','Decrease','No Change'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white murmur_maneuvers' %>
                                                            </div>
                                                        </div>
                                                        <div class="questionsforsquatting">
                                                            <div class="col-md-12">
                                                                <div class="col-md-3">Squatting</div><%= f.input :questionsforsquatting, wrapper_html: {:class=>"col-md-9"},collection: ['Increase','Decrease','No Change'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white murmur_maneuvers' %>
                                                            </div>
                                                        </div>
                                                        <div class="questionsforjumping">
                                                            <div class="col-md-12">
                                                                <div class="col-md-3">Jumping</div><%= f.input :questionsforjumping, wrapper_html: {:class=>"col-md-9"},collection: ['Increase','Decrease','No Change'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white murmur_maneuvers' %>
                                                            </div>
                                                        </div>
                                                        <div class="questionsforexercise">
                                                            <div class="col-md-12">
                                                                <div class="col-md-3">Exercise</div><%= f.input :questionsforexercise, wrapper_html: {:class=>"col-md-9"},collection: ['Increase','Decrease','No Change'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white murmur_maneuvers' %>
                                                            </div>
                                                        </div>
                                                        <div class="questionsforhandgrip">
                                                            <div class="col-md-12">
                                                                <div class="col-md-3">Handgrip</div><%= f.input :questionsforhandgrip, wrapper_html: {:class=>"col-md-9"},collection: ['Increase','Decrease','No Change'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white murmur_maneuvers' %>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 murmurcomments">
                                                            <div class="col-md-12 row">
                                                                <div class="col-md-2">Comments</div>
                                                            </div>
                                                            <div class="col-md-12 row"><%= f.input :murmurcomments, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 40 } %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" id="respiratory_system" style="display:none;">
                                            <div class="col-md-3">
                                                <h3 id="respiratory_system_heading">
                                                    <span class="label label-info">Respiratory System</span>
                                                </h3>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="row" id="respiratory_system_fields">
                                                    <div class="col-md-12">
                                                        <div class="col-md-3">Inspection</div><%= f.input :inspection, wrapper_html: {:class=>"col-md-9"},collection: ['Tachypnoea','Use of accessory muscles','Exhalation with pursed lips','Audible wheeze','Paradoxical Breathing','Clubbing','Cyanosis','Tobacco Staining','Flapping Tremor','Kussmaul\'s breathing','Cheyne-Stokes breathing','Operation scars'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white inspection' %>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="col-md-3">Ausculation</div><%= f.input :ausculation, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Rhonchi','Basal Rales','Bronchial Breath Sounds',' Basal Crackles','Basal Crepitations'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white inspection' %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" id="gastrointestinal_system" style="display:none;">
                                            <div class="col-md-4">
                                                <h3 id="gastrointestinal_system_heading">
                                                    <span class="label label-info">Gastro Intestinal System</span>
                                                </h3>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="row" id="gastrointestinal_system_fields">
                                                    <div class="col-md-12">
                                                        <div class="col-md-3">Inspection</div><%= f.input :gastroinspection, wrapper_html: {:class=>"col-md-9"},collection: ['Facial Puffiness','Ascites','dilated veins over abdomen','Facial Flushing','Visible pulsations'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white gastroinspection' %>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="col-md-3">Palpation</div><%= f.input :gastropalpation, wrapper_html: {:class=>"col-md-9"},collection: ['Hepatomegaly','Splenomegaly','Splenic Tenderness','Hepatojugular Reflex','Pulsatile Liver','Pulsatile Spleen'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white gastropalpation' %>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="col-md-3">Ausculation</div><%= f.input :gastroausculation, wrapper_html: {:class=>"col-md-9"},collection: ['Bowel Sounds','Renal Bruit'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white gastroausculation' %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" id="nervous_system" style="display:none;">
                                            <div class="col-md-3">
                                                <h3 id="nervous_system_heading">
                                                    <span class="label label-info">Nervous System</span>
                                                </h3>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="row" id="nervous_system_fields">
                                                    <div class="col-md-12">
                                                        <div class="col-md-3">Level of Conciousness</div><%= f.input :levelofconsciousness, wrapper_html: {:class=>"col-md-9"},collection: ['Clouding of consciousness','Confusional state','Lethargy','Obtunded','Stupor','Coma'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white gastroausculation' %>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="col-md-3">Fundoscopy</div><%= f.input :fundoscopy, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Microaneurysms','Papilloedema','Changes of Hypertensive Retinopathy'], :as => :hg_radio_button,:checked=>"Normal",:label => false, :required => false,:class => 'btn btn-xs btn-white gastroausculation' %>
                                                    </div>
                                                    <div class="col-md-12 questionsfornervoussystemfundoscopy">
                                                        <div class="row">
                                                            <span class="col-md-3" id="nervousfundoscopyvalue"></span><%= f.input :nervoussystemfundoscopy, wrapper_html: {:class=>"col-md-9"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white nervoussystemfundoscopy' %>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="col-md-4">Higher mental Functions</div><%= f.input :highermentalfunctions, wrapper_html: {:class=>"col-md-8"},collection: ['Speech','Language','Memory','Cognition'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white highermentalfunctions' %>
                                                    </div>
                                                    <div class="col-md-12 questionsfornervoussystemmentalfunctions">
                                                        <div class="row">
                                                            <span class="col-md-3" id="nervousmentalfunctionsvalue"></span><%= f.input :questionsfornervoussystemmentalfunctions, wrapper_html: {:class=>"col-md-9"},collection: ['Intact','Impaired'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white questionsfornervoussystemmentalfunctions' %>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="col-md-4">Focal Neurological Deficit</div><%= f.input :focol_neurological_deficit, wrapper_html: {:class=>"col-md-8"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false,:checked=>"No", :required => false,:class => 'btn btn-xs btn-white s1' %>
                                                    </div>
                                                    <div class="questionsforfocalneurologicaldeficit">
                                                        <div class="col-md-12">
                                                            <div class="col-md-3">Pronator Drift</div><%= f.input :pronator_drift, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white s1' %>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="col-md-3">Nutrition of Muscles</div><%= f.input :nutrition_of_muscles, wrapper_html: {:class=>"col-md-9"},collection: ['Wasting','Hypertrophy'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white s1' %>
                                                        </div>
                                                        <div class="col-md-12 questionsfornutritionofmuscles">
                                                            <div class="col-md-3">
                                                                <span id="nutritionofmuscles"></span>
                                                            </div><%= f.input :questionsfornutritionofmuscles, wrapper_html: {:class=>"col-md-9"},collection: ['Absent','Present'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white questionsfornutritionofmuscles' %>
                                                        </div>
                                                        <div class="col-md-12 questionsfornutrionofmusclestone">
                                                            <div class="col-md-3">Tone</div><%= f.input :questions_for_nutrion_of_muscles_tone, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Abnormal'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white s1' %>
                                                        </div>
                                                        <div class="questionsformuscletone">
                                                            <div class="col-md-12 abnormal_tone_table">
                                                                <table class="table table-bordered table-hover">
                                                                    <tr>
                                                                        <td></td>
                                                                        <td>Right</td>
                                                                        <td>Left</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>UL</td>
                                                                        <td><%= f.input :abnormal_tone_ul1, wrapper_html: {:class=>"col-md-9"},collection: ['Hypertonia','Hypotonia'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white s1' %>
                                                                        </td>
                                                                        <td><%= f.input :abnormal_tone_ul2, wrapper_html: {:class=>"col-md-9"},collection: ['Hypertonia','Hypotonia'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white s1' %>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>LL</td>
                                                                        <td><%= f.input :abnormal_tone_ll1, wrapper_html: {:class=>"col-md-9"},collection: ['Hypertonia','Hypotonia'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white s1' %>
                                                                        </td>
                                                                        <td><%= f.input :abnormal_tone_ll2, wrapper_html: {:class=>"col-md-9"},collection: ['Hypertonia','Hypotonia'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white s1' %>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                            <div class="col-md-12 abnormal_power_table">
                                                                <div>Power (Grade I-V)</div>
                                                                <br>
                                                                    <br>
                                                                        <table class="table table-bordered table-hover">
                                                                            <tr>
                                                                                <td></td>
                                                                                <td style="text-align: center">Right</td>
                                                                                <td style="text-align: center">Left</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>UL</td>
                                                                                <td>Grade: <%= f.input :abnormal_power_ul1, wrapper_html: {:class=>"col-md-12"},collection: ['I/V','II//V','III/V','IV/V','V/V'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white abnormal_power_ul1' %>
                                                                                </td>
                                                                                <td>Grade: <%= f.input :abnormal_power_ul2, wrapper_html: {:class=>"col-md-12"},collection: ['I/V','II/V','III/V','IV/V','V/V'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white abnormal_power_ul2' %>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>LL</td>
                                                                                <td>Grade: <%= f.input :abnormal_power_ll1, wrapper_html: {:class=>"col-md-12"},collection: ['I/V','II/V','III/V','IV/V','V/V'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white abnormal_power_ll1' %>
                                                                                </td>
                                                                                <td>Grade: <%= f.input :abnormal_power_ll2, wrapper_html: {:class=>"col-md-12"},collection: ['I/V','II/V','III/V','IV/V','V/V'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white abnormal_power_ll2' %>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                    <div class="col-md-12 abnormal_reflex_table">
                                                                        <div>	Reflexes (Grade 1+ to 4+)</div>
                                                                        <br>
                                                                            <br>
                                                                                <table class="table table-bordered table-hover">
                                                                                    <tr>
                                                                                        <td width="5px"></td>
                                                                                        <td class="col-md-2" style="text-align: center">Biceps</td>
                                                                                        <td class="col-md-2" style="text-align: center">Triceps</td>
                                                                                        <td class="col-md-2" style="text-align: center">Supinator</td>
                                                                                        <td class="col-md-2" style="text-align: center">Knee</td>
                                                                                        <td class="col-md-2" style="text-align: center">Ankle</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td width="5px">Right</td>
                                                                                        <td>
                                                                                            <span class="col-md-10">
                                                                                                <span>
                                                                                                    <button type="button" class="btn btn-info btn-xs bicepsright">1+</button>
                                                                                                </span>
                                                                                                <span>
                                                                                                    <button type="button" class="btn btn-info btn-xs bicepsright">2+</button>
                                                                                                </span>
                                                                                                <button type="button" class="btn btn-info btn-xs bicepsright">3+</button>
                                                                                                <button type="button" class="btn btn-info btn-xs bicepsright">4+</button>
                                                                                            </span>
                                                                                        </td>
                                                                                        <td>
                                                                                            <span class="col-md-10">
                                                                                                <button type="button" class="btn btn-info btn-xs tricepsright">1+</button>
                                                                                                <button type="button" class="btn btn-info btn-xs tricepsright">2+</button>
                                                                                                <button type="button" class="btn btn-info btn-xs tricepsright">3+</button>
                                                                                                <button type="button" class="btn btn-info btn-xs tricepsright">4+</button>
                                                                                            </span>
                                                                                        </td>
                                                                                        <td>
                                                                                            <span class="col-md-10">
                                                                                                <button type="button" class="btn btn-info btn-xs supinatorright">1+</button>
                                                                                                <button type="button" class="btn btn-info btn-xs supinatorright">2+</button>
                                                                                                <button type="button" class="btn btn-info btn-xs supinatorright">3+</button>
                                                                                                <button type="button" class="btn btn-info btn-xs supinatorright">4+</button>
                                                                                            </span>
                                                                                        </td>
                                                                                        <td>
                                                                                            <span class="col-md-10">
                                                                                                <button type="button" class="btn btn-info btn-xs kneeright">1+</button>
                                                                                                <button type="button" class="btn btn-info btn-xs kneeright">2+</button>
                                                                                                <button type="button" class="btn btn-info btn-xs kneeright">3+</button>
                                                                                                <button type="button" class="btn btn-info btn-xs kneeright">4+</button>
                                                                                            </span>
                                                                                        </td>
                                                                                        <td>
                                                                                            <span class="col-md-10">
                                                                                                <button type="button" class="btn btn-info btn-xs ankleright">1+</button>
                                                                                                <button type="button" class="btn btn-info btn-xs ankleright">2+</button>
                                                                                                <button type="button" class="btn btn-info btn-xs ankleright">3+</button>
                                                                                                <button type="button" class="btn btn-info btn-xs ankleright">4+</button>
                                                                                            </span>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="width:5px">Left</td>
                                                                                        <td>
                                                                                            <span class="col-md-10">
                                                                                                <span>
                                                                                                    <button type="button" class="btn btn-info btn-xs bicepsleft">1+</button>
                                                                                                </span>
                                                                                                <span>
                                                                                                    <button type="button" class="btn btn-info btn-xs bicepsleft">2+</button>
                                                                                                </span>
                                                                                                <button type="button" class="btn btn-info btn-xs bicepsleft">3+</button>
                                                                                                <button type="button" class="btn btn-info btn-xs bicepsleft">4+</button>
                                                                                            </span>
                                                                                        </td>
                                                                                        <td>
                                                                                            <span class="col-md-10">
                                                                                                <button type="button" class="btn btn-info btn-xs tricepsleft">1+</button>
                                                                                                <button type="button" class="btn btn-info btn-xs tricepsleft">2+</button>
                                                                                                <button type="button" class="btn btn-info btn-xs tricepsleft">3+</button>
                                                                                                <button type="button" class="btn btn-info btn-xs tricepsleft">4+</button>
                                                                                            </span>
                                                                                        </td>
                                                                                        <td>
                                                                                            <span class="col-md-10">
                                                                                                <button type="button" class="btn btn-info btn-xs supinatorleft">1+</button>
                                                                                                <button type="button" class="btn btn-info btn-xs supinatorleft">2+</button>
                                                                                                <button type="button" class="btn btn-info btn-xs supinatorleft">3+</button>
                                                                                                <button type="button" class="btn btn-info btn-xs supinatorleft">4+</button>
                                                                                            </span>
                                                                                        </td>
                                                                                        <td>
                                                                                            <span class="col-md-10">
                                                                                                <button type="button" class="btn btn-info btn-xs kneeleft">1+</button>
                                                                                                <button type="button" class="btn btn-info btn-xs kneeleft">2+</button>
                                                                                                <button type="button" class="btn btn-info btn-xs kneeleft">3+</button>
                                                                                                <button type="button" class="btn btn-info btn-xs kneeleft">4+</button>
                                                                                            </span>
                                                                                        </td>
                                                                                        <td>
                                                                                            <span class="col-md-10">
                                                                                                <button type="button" class="btn btn-info btn-xs ankleleft">1+</button>
                                                                                                <button type="button" class="btn btn-info btn-xs ankleleft">2+</button>
                                                                                                <button type="button" class="btn btn-info btn-xs ankleleft">3+</button>
                                                                                                <button type="button" class="btn btn-info btn-xs ankleleft">4+</button>
                                                                                            </span>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </div>
                                                                            <div class="col-md-6 abnormal_plantar_table">
                                                                                <div>Plantar Refelx</div>
                                                                                <br>
                                                                                    <br>
                                                                                        <table class="table table-bordered table-hover">
                                                                                            <tr>
                                                                                                <td>Right</td>
                                                                                                <td><%= f.input :abnormal_plantar_right, wrapper_html: {:class=>"col-md-9"},collection: ['Flexor','Extensor'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white s1' %>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td>Left</td>
                                                                                                <td><%= f.input :abnormal_plantar_left, wrapper_html: {:class=>"col-md-9"},collection: ['Flexor','Extensor'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white s1' %>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-12">
                                                                                    <div class="col-md-3">
                                                                                        <strong>Gait</strong>
                                                                                    </div><%= f.input :gait, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Abnormal'], :as => :hg_radio_button,:checked=>"Normal",:label => false, :required => false,:class => 'btn btn-xs btn-white gait' %>
                                                                                </div>
                                                                                <div class="col-md-12 questionsforgait">
                                                                                    <div class="col-md-3">Gait</div><%= f.input :abnormal_gait, wrapper_html: {:class=>"col-md-9"},collection: ['Antalgic gait','Charlie - Chaplin gait','Circumduction gait','Waddling gait','High stepping gait','Scissoring gait','Stiff hip gait','Trendelenburg gait'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white abnormal_gait' %>
                                                                                </div>
                                                                            </div>
                                                                            <!--  all the contents in one line,
upon click a popup                      <div class="col-md-12">
will open                                <div class="col-md-3"><strong>Sensory System</strong></div><%= f.input :sensory_system, wrapper_html: {:class=>"col-md-9"},collection: ['Vibration','Joint position sense','Crude Touch','Pain','Temparature','Light Touch','Graphesthesia','Stereognosis','Romberg'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white sensory_system' %></div>
               -->
                                                                            <div class="col-md-12 mb10">
                                                                                <div class="col-md-4">
                                                                                    <strong>Sensory System</strong>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="col-md-4">Vibration</div><%= f.input :vibration, wrapper_html: {:class=>"col-md-8"},collection: ['Normal','Impaired'], :as => :hg_radio_button,:checked=>"Normal",:label => false, :required => false,:class => 'btn btn-xs btn-white vibration' %>
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="col-md-4">Joint position sense</div><%= f.input :joint_position_sense, wrapper_html: {:class=>"col-md-8"},collection: ['Normal','Impaired'], :as => :hg_radio_button,:checked=>"Normal",:label => false, :required => false,:class => 'btn btn-xs btn-white joint_position_sense' %>
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="col-md-4">Crude Touch</div><%= f.input :crude_touch, wrapper_html: {:class=>"col-md-8"},collection: ['Normal','Impaired'], :as => :hg_radio_button,:label => false,:checked=>"Normal", :required => false,:class => 'btn btn-xs btn-white crude_touch' %>
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="col-md-4">Pain</div><%= f.input :pain, wrapper_html: {:class=>"col-md-8"},collection: ['Normal','Impaired'], :as => :hg_radio_button,:label => false,:checked=>"Normal", :required => false,:class => 'btn btn-xs btn-white pain' %>
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="col-md-4">Temparature</div><%= f.input :temparature, wrapper_html: {:class=>"col-md-8"},collection: ['Normal','Impaired'], :as => :hg_radio_button,:checked=>"Normal",:label => false, :required => false,:class => 'btn btn-xs btn-white temparature' %>
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="col-md-4">Light touch</div><%= f.input :light_touch, wrapper_html: {:class=>"col-md-8"},collection: ['Normal','Impaired'], :as => :hg_radio_button,:label => false,:checked=>"Normal", :required => false,:class => 'btn btn-xs btn-white vibration' %>
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="col-md-4">Graphesthesia</div><%= f.input :graphesthesia, wrapper_html: {:class=>"col-md-8"},collection: ['Normal','Impaired'], :as => :hg_radio_button,:label => false,:checked=>"Normal", :required => false,:class => 'btn btn-xs btn-white graphesthesia' %>
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="col-md-4">Stereognosis</div><%= f.input :stereognosis, wrapper_html: {:class=>"col-md-8"},collection: ['Normal','Impaired'], :as => :hg_radio_button,:label => false,:checked=>"Normal", :required => false,:class => 'btn btn-xs btn-white stereognosis' %>
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="col-md-4">Romberg</div><%= f.input :romberg, wrapper_html: {:class=>"col-md-8"},collection: ['Normal','Impaired'], :as => :hg_radio_button,:label => false,:checked=>"Normal", :required => false,:class => 'btn btn-xs btn-white romberg' %>
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="col-md-4">
                                                                                    <strong>Co-ordination</strong>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="col-md-4">Truncal stability</div><%= f.input :truncal_stability, wrapper_html: {:class=>"col-md-8"},collection: ['Normal','Impaired'], :as => :hg_radio_button,:checked=>"Normal",:label => false, :required => false,:class => 'btn btn-xs btn-white truncal_stability' %>
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="col-md-4">Fine finger movements</div><%= f.input :fine_finger_movement, wrapper_html: {:class=>"col-md-8"},collection: ['Normal','Impaired'], :as => :hg_radio_button,:checked=>"Normal",:label => false, :required => false,:class => 'btn btn-xs btn-white fine_finger_movement' %>
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="col-md-4">Fine Finger</div><%= f.input :fine_finger, wrapper_html: {:class=>"col-md-8"},collection: ['Normal','Impaired'], :as => :hg_radio_button,:label => false,:checked=>"Normal", :required => false,:class => 'btn btn-xs btn-white fine_finger' %>
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="col-md-4">Finger-nose-finger</div><%= f.input :finger_nose_finger, wrapper_html: {:class=>"col-md-8"},collection: ['Normal','Impaired'], :as => :hg_radio_button,:checked=>"Normal",:label => false, :required => false,:class => 'btn btn-xs btn-white finger_nose_finger' %>
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="col-md-4">Heel-knee-shin</div><%= f.input :heel_knee_shin, wrapper_html: {:class=>"col-md-8"},collection: ['Normal','Impaired'], :as => :hg_radio_button,:checked=>"Normal",:label => false, :required => false,:class => 'btn btn-xs btn-white heel_knee_shin' %>
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="col-md-4">Dysdiadochokinesia</div><%= f.input :dysdiadochokinesia, wrapper_html: {:class=>"col-md-8"},collection: ['Absent','Present'], :as => :hg_radio_button,:checked=>"Normal",:label => false, :required => false,:class => 'btn btn-xs btn-white dysdiadochokinesia' %>
                                                                            </div>
                                                                            <!--                                      
                                      <div class="col-md-12 questionsforsensorysystem"><%= f.input :sensory_system_condition, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Impaired'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white sensory_system_condition' %></div><div class="col-md-12"><div class="col-md-3"><strong>Co-ordination</strong></div><%= f.input :co_ordination, wrapper_html: {:class=>"col-md-9"},collection: ['Truncal stability','Fine finger movements','Finger-Finger','Finger-nose-finger','Heel-knee-shin','Dysdiadochokinesia'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white co_ordination' %></div><div class="col-md-12 questionsforcoordinationcondition"><%= f.input :co_ordination_condition, wrapper_html: {:class=>"col-md-9"},collection: ['Normal','Impaired'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white co_ordination_condition' %></div><div class="col-md-12 questionsfordysdiadochokinesia"><%= f.input :dysdiadochokinesia_condition, wrapper_html: {:class=>"col-md-9"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white dysdiadochokinesia_condition' %></div>
 -->
                                                                            <div class="col-md-12">
                                                                                <div class="col-md-4">
                                                                                    <strong>Meningeal Signs</strong>
                                                                                </div><%= f.input :meningeal_signs, wrapper_html: {:class=>"col-md-8"},collection: ['Absent','Present'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white meningeal_signs' %>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                   
                                                                </div>
                   
            </div>
        </div>
   </div>
</div>
</div>
                                                    
                                                
                                                    