<div class="modal-dialog window-dialog">
  <div class="modal-content">
    <div class="modal-header window-header">
      <% unless remote %>
        <button type="button" class="close" data-dismiss="window">&times;</button>
      <% else %>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      <% end %>
      <h4 class="modal-title">All Cases</h4>
    </div>
    <div class="modal-body window-body">
      <div class="row">        
        <div class="col-xs-2">
          <!-- required for floating -->
          <!-- Nav tabs -->
          <ul class="nav nav-tabs tabs-left">
            <% @case_sheets.each_with_index do |case_sheet, i| %>
              <% if i == 0 %>
                <li class="active"><a href="#<%= case_sheet.id.to_s %>" data-toggle="tab"><%= case_sheet.case_id.to_s.upcase %><br/><%= (case_sheet.case_name.to_s.upcase + "<br/>").html_safe if case_sheet.case_name.present? %><%= "#{case_sheet.start_date.strftime('%d/%m/%Y')}" %></a></li>
              <% else %>
                <li><a href="#<%= case_sheet.id.to_s %>" data-toggle="tab"><%= case_sheet.case_id.to_s.upcase %><br/><%= (case_sheet.case_name.to_s.upcase + "<br/>").html_safe if case_sheet.case_name.present? %><%= "#{case_sheet.start_date.strftime('%d/%m/%Y')}" %></a></li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <div class="col-xs-10">
            <!-- Tab panes -->
          <div class="tab-content" style="padding: 0px 10px;border:1px solid #3cc1ff;">
            <% @case_sheets.each_with_index do |case_sheet, i| %>
              <% if i == 0 %>
                <div class="tab-pane active" id="<%= case_sheet.id.to_s %>">
                  <%= render partial: 'view.html.erb', locals: { case_sheet: case_sheet } %>
                </div>
              <% else %>
                <div class="tab-pane" id="<%= case_sheet.id.to_s %>">
                  <%= render partial: 'view.html.erb', locals: { case_sheet: case_sheet } %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>    
    <div class="modal-footer window-footer">
      <% unless remote %>
        <button type="button" class="btn btn-default" data-dismiss="window">Close</button>
      <% else %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <% end %>
    </div>
  </div>
</div>


<style type="text/css">
  .tabs-left {
    border-bottom: none;    
    border-right: 1px solid #3cc1ff;
    background: none;
  }
  .tabs-left > li {
    float: none;
    margin-bottom: 2px;
    margin-right: -1px;
  }

  .tabs-left > li.active > a, .tabs-left > li.active > a:hover, .tabs-left > li.active > a:focus {
    background: #fff;
    color: #3cc1ff;
    border: 1px solid #3cc1ff;
    border-right: none;
    text-align: center;
  }

  .tabs-left > li > a, .tabs-left > li > a:hover, .tabs-left > li > a:focus {
    border-bottom-color: #3cc1ff;
    border-right-color: transparent;
    text-align: center;
  }

  .tabs-left > li > a {
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    display:block;
  }

  .vertical-text {
    margin-left: -50px;
    margin-top:50px;
    border: none;
    position: relative;
    
  }

  .vertical-text > li {
    height: 20px;
    width: 120px;
    margin-bottom: 100px;
  }

  .vertical-text > li > a {
    border-bottom: 1px solid #3cc1ff;
    border-right-color: transparent;
    text-align: center;
    border-radius: 4px 4px 0px 0px;
    background: #fff;
  }

  .vertical-text > li.active > a, .vertical-text > li.active > a:hover, .vertical-text > li.active > a:focus {
    color: #3cc1ff;
    border: 1px solid #3cc1ff;
    border-bottom: none;
  }

  .vertical-text.tabs-left > li {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
</style>