<% @case_sheet = case_sheet %>
<% @procedures = @case_sheet.procedures.where(is_removed: false) %>
<% @ophthal_investigations = @case_sheet.ophthal_investigations.where(is_removed: false) %>
<% @laboratory_investigations = @case_sheet.laboratory_investigations.where(is_removed: false) %>
<% @radiology_investigations = @case_sheet.radiology_investigations.where(is_removed: false) %>
<% @free_form_procedures = @case_sheet.free_form_procedures %>
<% @free_form_investigations = @case_sheet.free_form_investigations %>
<div class="row mb10">
  <div class="col-md-12 text-center">
    <h4 style="text-decoration: underline;"><b>
      <% if @case_sheet.specialty_id.present? %>
        <% specialty_name = TemplatesHelper.get_speciality_folder_name(@case_sheet.specialty_id) %>
        <%= specialty_name.split('_').map { |ele| ele.titleize }.join(' ') %>
      <% end %>
      <%= (@case_sheet.case_name.to_s.upcase + " | ") if @case_sheet.case_name.present? %><%= @case_sheet.case_id.to_s.upcase %><%= " | #{@case_sheet.start_date.strftime('%d/%m/%Y')}" %></b>
    </h4>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-6">
    <div class="row patient-history">
      <div class="col-md-12">
        <%= render partial: "case_sheets/views/case_histories.html.erb" %>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6">
    <div class="row patient-diagnosis">
      <div class="col-md-12">
        <%= render partial: "case_sheets/views/case_diagnoses.html.erb" %>
      </div>
    </div>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <div class="row patient-procedures">
      <div class="col-md-12">
        <%= render partial: "case_sheets/views/case_procedures.html.erb" %>
      </div>
    </div>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <div class="row patient-investigations">
      <div class="col-md-12">
        <%= render partial: "case_sheets/views/case_investigations.html.erb" %>
      </div>
    </div>
  </div>
</div>