<%= javascript_include_tag 'application-loggedin', 'data-turbolinks-track' => true %>
<div class="modal-dialog modal-md" style="width:90%;">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Add/Update <% if @service_type.present? %>Consultant<% else %>Payee<% end %> Pricing</h4>
    </div>
    <%= form_tag '/pricing_masters/update_multiple', method: 'patch', remote: true, id: 'edit-pricing_master-form', class: 'pricing-form' do %>
      <div class="modal-body">
        <% if @service_type.present? %>

          <% if @consultant_users.count > 0 %>
            <div class="row">
              <div class="col-md-12">
                Select Consultant to Create/Update Pricing in <strong><%= @facility.try(:name) %></strong> for each Service
              </div>
              <div class="col-md-12">
                <%= select_tag('consultants_list', options_for_select(@consultant_users.map { |consultant| [consultant.fullname, consultant.id] }), include_blank: 'Select Consultant', class: 'form-control p5_10', style: 'height:30px;padding:5px;') %>
              </div>
            </div>
            <hr>
          <% else %>
            <div class="row">
              <div class="col-md-12">
                <b style="color:#f00;">Seems like the Consultant/Doctor List is empty. Please create Consultant first.</b>
              </div>
            </div>
          <% end %>


        <% else %>

          <div class="row">
            <div class="col-md-6">
              Select Contact Group
            </div>
            <div class="col-md-6">
              <%= select_tag('contact_group', options_for_select(@contact_groups.map { |cg| [cg.name, cg.id] }, @contact_group_id), include_blank: 'All', class: 'form-control p5_10', style: 'height:30px;padding:5px;') %>
            </div>
          </div>

          <hr>

          <% if @payer_masters.count > 0 %>
            <div class="row">
              <div class="col-md-6">
                Select Contact to Create/Update Pricing for each Service
              </div>
              <div class="col-md-6">
                <%= select_tag('payers_list', options_for_select(@payer_masters.map { |payer_master| [payer_master.display_name, payer_master.id] }), include_blank: 'Select Contact', class: 'form-control p5_10', style: 'height:30px;padding:5px;') %>
              </div>
            </div>
            <hr>
          <% else %>
            <div class="row">
              <div class="col-md-12">
                <b style="color:#f00;">Seems like the Payer Master List is empty. Please create Payers from '<a href="" class="payer-master-link">Payer Master</a>' to create Payer based Pricing.</b>
              </div>
            </div>
          <% end %>


          <div class="row">
            <div class="col-md-3">
              <label>Department</label>
              <%= select_tag('department_filter', options_for_select([['OPD','485396012'],['IPD','486546481']]), include_blank: 'All', class: 'form-control p5_10 services_filters', style: 'height:30px;padding:5px;') %>
            </div>
            <div class="col-md-3">
              <label>Service Type</label>
              <% @service_type = Global.service_types.send(@selected_specialty.to_s)['type'] %>
              <%= select_tag('service_type_filter', options_for_select(@service_type), include_blank: 'All', class: 'form-control p5_10 services_filters', style: 'height:30px;padding:5px;') %>
            </div>
            <div class="col-md-3">
              <label>Group</label>
              <%= select_tag('group_filter', options_for_select(@service_groups.pluck(:name, :id)), include_blank: 'All', class: 'form-control p5_10 services_filters', style: 'height:30px;padding:5px;') %>
            </div>
            <div class="col-md-3">
              <label>Sub Group</label>
              <%= select_tag('sub_group_filter', options_for_select(@service_sub_groups.pluck(:name, :id)), include_blank: 'All', class: 'form-control p5_10 services_filters', style: 'height:30px;padding:5px;') %>
            </div>
          </div>
          <hr>


        <% end %>

        <div class="row payer_pricing_details consultant_pricing_details">
        </div>
      </div>
      <div class="modal-footer">
        <%= submit_tag 'Save', class: 'btn btn-success', data: { 'disable-with': 'Please Wait...' }, onclick: 'payer_pricing_form()' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>
