<div class="row facility-list">
  <div class="col-md-12">
    <table class="table table-bordered facility-list-table" id="facility_list_table" style="table-layout: fixed;">
      <thead>
        <tr>
          <th>Facilty Name</th>
          <th># of Pricing Masters</th>
          <th># of Active/Inactive Pricing Maters</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="pricing_master-list">
        <% @pricing_masters.each do |pricing_master| %>
          <% facility_id = pricing_master[:_id] %>
          <% facility = @facilities.find { |fac| fac[:id] == facility_id } %>
          <tr class="each-pricing_master-table-row">
            <td><%= facility ? facility[:name] : '' %></td>
            <td>
              <%= link_to pricing_list_pricing_masters_path(facility_id: facility_id, specialty_id: @selected_specialty), data: { remote: true }, class: 'btn btn-link btn-xs' do %>
                <%= pricing_master[:facility_count] -%>
              <% end %>
            </td>
            <td>
              <span>
                <% active = pricing_master[:active_group].find { |pm| pm[:active] } %>
                <% inactive = pricing_master[:active_group].find { |pm| !pm[:active] } %>
                <span>Active: </span>
                <%= link_to pricing_list_pricing_masters_path(facility_id: facility_id, specialty_id: @selected_specialty, is_active: true), data: { remote: true }, class: 'btn btn-link btn-xs' do %>
                  <%= active ? active[:count] : 0 -%>
                <% end %>
                &nbsp;|&nbsp;
                <span>Inactive: </span>
                <%= link_to pricing_list_pricing_masters_path(facility_id: facility_id, specialty_id: @selected_specialty, is_active: false), data: { remote: true }, class: 'btn btn-link btn-xs' do %>
                  <%= inactive ? inactive[:count] : 0 -%>
                <% end %>
              </span>
            </td>
            <td>
              <%= link_to edit_payer_pricing_pricing_masters_path(facility_id: facility_id, specialty_id: @selected_specialty), data: { remote: true, 'toggle': 'modal', 'target': '#service-master-modal' }, class: 'btn btn-primary btn-xs' do %><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Payee Pricing<% end %>

              <%= link_to edit_payer_pricing_pricing_masters_path(facility_id: facility_id, specialty_id: @selected_specialty, service_type: 'General Consultation' ), data: { remote: true, 'toggle': 'modal', 'target': '#service-master-modal' }, class: 'btn btn-primary btn-xs' do %><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Consultant Pricing<% end %>

            </td>
          </tr>
        <% end %>
        <% if @pricing_masters.size == 0 %>
          <td class="text-center" colspan="4">No Pricing Master</td>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
