<div class="col-md-12">
  <div class="row">
    <div class="col-md-10">
      <b style="text-decoration: underline;">Pricing Details</b>
    </div>
  </div>
  <div class="add-pricing-masters">
    <div class="row mt5">
      <div class="col-md-2">
        <b style="color: #000;">Service Name</b>
      </div>
      <div class="col-md-2">
        <b style="color: #000;">Code</b>
      </div>
      <div class="col-md-2">
        <b style="color: #000;">Standard Price</b>
      </div>
      <div class="col-md-2">
        <b style="color: #000;">Amount</b>
      </div>
      <div class="col-md-2">
        <b style="color: #000;">Internal Comment</b>
      </div>
      <div class="col-md-2">
        <b style="color: #000;">External Comment</b>
      </div>
    </div>
    <% @standard_pricing_masters.each_with_index do |pricing_master, i| %>
      <% payer_pricing_master = @payer_pricing_masters.find { |cpm| (cpm.service_master_id.to_s == pricing_master.service_master_id.to_s) && (pricing_master.department_id == cpm.department_id) } %>
      <% specialty = @specialties.find { |s| s[:id] == pricing_master.specialty_id } %>
      <div class="row pricing-masters-form mb10">
        <% if payer_pricing_master.present? %>
          <%= hidden_field_tag "pricing_master[#{i}][id]", payer_pricing_master.try(:id).to_s %>
          <%= hidden_field_tag "pricing_master[#{i}][has_exceptions]", payer_pricing_master.try(:has_exceptions), class: 'pricing_master_has_exceptions' %>
        <% end %>
        <%= hidden_field_tag "pricing_master[#{i}][is_updated]", false, class: 'pricing_master_is_updated' %>
        <%= hidden_field_tag "pricing_master[#{i}][is_active]", pricing_master.is_active, class: 'pricing_master_is_active' %>
        <%= hidden_field_tag "pricing_master[#{i}][user_id]", current_user.id %>
        <%= hidden_field_tag "pricing_master[#{i}][facility_id]", params[:facility_id] %>
        <%= hidden_field_tag "pricing_master[#{i}][organisation_id]", current_user.organisation_id %>
        <%= hidden_field_tag "pricing_master[#{i}][service_master_id]", pricing_master.service_master_id.to_s %>
        <%= hidden_field_tag "pricing_master[#{i}][service_group_id]", pricing_master.service_group_id.to_s %>
        <%= hidden_field_tag "pricing_master[#{i}][service_sub_group_id]", pricing_master.service_sub_group_id.to_s %>
        <%= hidden_field_tag "pricing_master[#{i}][service_type_code]", pricing_master.service_type_code.to_s %>
        <%= hidden_field_tag "pricing_master[#{i}][service_type_code_name]", pricing_master.service_type_code_name.to_s %>
        <%= hidden_field_tag "pricing_master[#{i}][service_name]", pricing_master.service_name.to_s, class: 'pricing_master_service_name' %>
        <%= hidden_field_tag "pricing_master[#{i}][specialty_id]", pricing_master.specialty_id.to_s, class: 'pricing_master_specialty_id' %>
        <%= hidden_field_tag "pricing_master[#{i}][department_id]", pricing_master.department_id.to_s, class: 'pricing_master_department_id' %>
        <%= hidden_field_tag "pricing_master[#{i}][department_name]", pricing_master.department_name.to_s, class: 'pricing_master_department_name' %>
        <% if @consultant_user.present? %>
          <%= hidden_field_tag "pricing_master[#{i}][consultant_user_id]", @consultant_user.id.to_s %>
          <%= hidden_field_tag "pricing_master[#{i}][service_type]", @service_type %>
        <% else %>
          <%= hidden_field_tag "pricing_master[#{i}][payer_master_id]", @payer_master.id.to_s %>
          <%= hidden_field_tag "pricing_master[#{i}][contact_group_id]", @payer_master.contact_group_id.to_s %>
        <% end %>

        <div class="col-md-12">
          <b><%= specialty[:name] if specialty.present? %> - <%= pricing_master.department_name.to_s.upcase %></b>
        </div>
        <div class="col-md-2">
          <%= text_field_tag "pricing_master[#{i}][service_name]", pricing_master.service_name, class: 'form-control pricing_master_service_name p5_10', readonly: 'readonly' %>
        </div>
        <div class="col-md-2">
          <%= text_field_tag "pricing_master[#{i}][service_code]", pricing_master.service_code, class: 'form-control pricing_master_service_code p5_10' %>
        </div>
        <div class="col-md-2">
          <%= text_field_tag 'service_master_amount', pricing_master.amount, class: 'form-control service_master_amount p5_10', readonly: 'readonly' %>
        </div>
        <div class="col-md-2">
          <%= number_field_tag "pricing_master[#{i}][amount]", payer_pricing_master&.amount || pricing_master.amount, class: 'form-control pricing_master_amount p5_10', min: 0 %>
        </div>
        <div class="col-md-2">
          <%= text_field_tag "pricing_master[#{i}][internal_comment]", payer_pricing_master&.internal_comment || pricing_master.internal_comment, class: 'form-control pricing_master_internal_comment p5_10', placeholder: 'For Internal use only' %>
        </div>
        <div class="col-md-2">
          <%= text_field_tag "pricing_master[#{i}][external_comment]", payer_pricing_master&.external_comment || pricing_master.external_comment, class: 'form-control pricing_master_external_comment p5_10', placeholder: 'For Print in Invoice' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
