  <div class="row mb5">
    
    <div class="col-md-10">
        <% if "#{limblocation}" == "spine" %>
          <strong><%= sidelabel.capitalize %></strong>
          <%= hidden_field_tag "opdrecord[limblocationside_#{limb}_#{limblocation}_#{side}]", "#{sidelabel.capitalize}", { :class => "form-control opdrecord_limblocationside_#{limb}_#{limblocation}_#{side}"} %>
        <% else %>
          <strong><%= sidelabel.capitalize %> <%= limblocation.capitalize %></strong>
          <%= hidden_field_tag "opdrecord[limblocationside_#{limb}_#{limblocation}_#{side}]", "#{sidelabel.capitalize} #{limblocation.capitalize}", { :class => "form-control opdrecord_limblocationside_#{limb}_#{limblocation}_#{side}"} %>
        <% end %>
    </div>
    <div class="col-md-2">
        <button aria-hidden="true" data-removeaddedlimb='<%= "#{limb}" %>_<%= "#{limblocation}" %>_<%= "#{side}" %>' class="btn btn-xs btn-danger trauma-removeaddedlimb"><span class="glyphicon glyphicon-remove"></span></button>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="col-md-2">History:</div>
      <%= f.input :"chiefcomplaint_#{limb}_#{limblocation}_#{side}", wrapper_html: {:class=>"col-md-9"}, collection: ['Pain', 'Swelling', 'Giving way', 'Clicking-Snapping', 'Locking', 'Crepitation', 'Audible pop', 'Deformity', 'Limp', 'Weakness', 'Numbness'], :as => :hg_checkbox,:label => false, :required => false, :class => "btn btn-xs btn-white chiefcomplaint_#{limb}_#{limblocation}_#{side}", :input_html => {:name => "opdrecord[chiefcomplaint_#{limb}_#{limblocation}_#{side}]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:"chiefcomplaint_#{limb}_#{limblocation}_#{side}")) %>
    </div>

    <div class="col-md-12">
      <div class="col-md-2 examination">Examination:</div>
      <%= f.input :"localexamination_#{limb}_#{limblocation}_#{side}", wrapper_html: {:class=>"col-md-10 examination_values"}, collection: ['Wound', 'Warmth', 'Swelling', 'Tenderness', 'Abnormal Mobility', 'Restricted ROM', 'DNVD'], :as => :hg_checkbox,:label => false, :required => false, :class => "btn btn-xs btn-white localexamination_#{limb}_#{limblocation}_#{side}", :input_html => {:name => "opdrecord[localexamination_#{limb}_#{limblocation}_#{side}]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:"localexamination_#{limb}_#{limblocation}_#{side}")) %>
      <div class='<%="wound-description-localexamination-"+limb+"-"+limblocation+"-"+side%> col-md-12' style="display: none;">
      <div class="col-md-2">Wound Description</div>
      <%= f.text_area :"localexamination_#{limb}_#{limblocation}_#{side}_wound_comment", :class => "form-control", :cols => 50%>
      </div>
    </div>

  </div>
<script>
var count =0;
var examination_field = "<%= opdrecord.checkboxes_checked(opdrecord.read_attribute(:"localexamination_#{limb}_#{limblocation}_#{side}")) %>"


  if (examination_field.indexOf("Wound") > 0){
    jQuery("."+"wound-description-localexamination-" + '<%= limb %>' +"-"+ '<%= limblocation %>' +"-"+  '<%= side %>').show()
  }

  jQuery("."+"localexamination_"+ '<%= limb %>' +"_"+ '<%= limblocation %>' +"_"+  '<%= side %>').on('click', function(){
    

      if (jQuery(this).attr("data-value") == "Wound"){
          jQuery("."+"wound-description-localexamination-" + '<%= limb %>' +"-"+ '<%= limblocation %>' +"-"+  '<%= side %>').toggle()
             

          if (String(jQuery("."+"wound-description-localexamination-" + '<%= limb %>' +"-"+ '<%= limblocation %>' +"-"+  '<%= side %>').css("display") == "none")){
                    
      jQuery("#"+"opdrecord_localexamination_" + '<%= limb %>' +"_"+ '<%= limblocation %>' +"_"+  '<%= side %>'+"_wound_comment").val("")

          }

          else if (String(jQuery("."+"wound-description-localexamination-" + '<%= limb %>' +"-"+ '<%= limblocation %>' +"-"+  '<%= side %>').css("display") == "block")){

            jQuery("#"+"opdrecord_localexamination_" + '<%= limb %>' +"_"+ '<%= limblocation %>' +"_"+  '<%= side %>'+"_wound_comment").val('<%= opdrecord.read_attribute(:"localexamination_#{limb}_#{limblocation}_#{side}_wound_comment") %>')

          }
        }

})

</script>