<div class="row">
  <div class="col-md-7">
    <h4>ALL USERS</h4>
  </div>
  <div class="col-md-5 text-right">
    <button class="btn btn-default btn-facilities-back mr5"><i class="fa fa-arrow-left"></i> Back</button>
    <%= link_to new_user_path(facility_id: @facility_id), :class => "btn btn-primary edit-user", data: {remote: true, 'toggle': "modal", 'target': '#user-modal'} do %><i class="fa fa-plus"></i> Add User<% end %>
  </div>
</div>
<hr>
<div class="row mb20">
  <% facilities_array = @facilities.map{ |facility| [facility.name, facility.id]} %>
  <% roles_array = @roles.map{ |role| [role.label, role.id] } %>
  
  <div class="col-md-4">
    <div class="col-md-3 mt10"><b>Facility&nbsp;Name&nbsp;:</b></div>
    <div class="col-md-9"><%= select_tag :search_by_facility_name, options_for_select(facilities_array), class: 'form-control',style: "display: inline-block; width: 72%", include_blank: 'All' %></div>
  </div>

  <div class="col-md-4">
    <div class="col-md-2 mt10"><b>Role&nbsp;:</b></div>
    <div class="col-md-10"><%= select_tag :search_by_role, options_for_select(roles_array), class: 'form-control', style: "display: inline-block; width: 72%",include_blank: 'All' %></div>
  </div>

  <div class="col-md-4">
    <div class="col-md-3 mt10"><b>Active&nbsp;Status&nbsp;:</b></div>
    <div class="col-md-9"> <%= select_tag :search_by_is_active, options_for_select([['Active',1],['Inactive',0]]), class: 'form-control', style: "display: inline-block; width: 72%", include_blank: 'All' %></div>
  </div>
</div>
<div class="row" style="margin-top: 20px">
  <div class="col-md-12">
    <div class="bootstrap-table">
      <div class="fixed-table-container no-border">
        <div class="fixed-table-body no-border">
          <table id="manage_users" class="table table-primary table-bordered dataTable th-padding-12">
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  <%= render partial: '/users/all_users.js.erb' %>
</script>
