<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">Link Existing User</h4>
    </div>
    <div class="modal-body">

      <%= form_tag("/users/attach_save",method: "post",:remote=>true, id: 'user_attach_save') do %>
          <div class="row form-group">
            <div class="col-md-2"><%= label_tag :user_id,"Name :"  %></div>
            <div class="col-md-5"><%= select_tag :user_id,options_for_select(@users),{:class => 'form-control search-box-link-user'} %></div>
          </div>
          <%= hidden_field_tag :department_id,@department_id %>
          <%= hidden_field_tag :facility_id,@facility_id %>
          <div class="row form-group">
            <div class="col-md-2"></div>
            <div class="col-md-5">
              <%= submit_tag "Link User",{:class => 'btn btn-success'}%>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
