<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog" style="width: 83%;">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Edit User</h4>
    </div>
    <%= form_for @user, remote: true , html: { id: 'user_form' } do |f| %>
      <%= f.hidden_field :last_edited_by, { value: @current_user.fullname } %>
      <%= f.hidden_field :user_selected_url %>
      <%= f.hidden_field :status, { value: @user.status } %>
      <!-- TODO: To be selected by user -->
      <%= f.hidden_field :quota, { value: @user.quota } %>

      <div class="modal-body" style="min-height: 450px;">
        <%= render partial: '/users/stepper/stepper_form', locals: { f: f } %>
        <%#= render partial: 'form.html.erb', locals: { f: f } %>
      </div>
      
      <div class="modal-footer">
        <div class="row">
          <div class="col-md-8">
          </div>
          <div class="col-md-4">
            <%= f.submit "Save Changes", { class: 'btn btn-success', onclick: 'edit_user()' } %>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>            
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<style type="text/css">
  #user_salutation, #user_gender, #user_department_id, #user_role_ids {
    height: auto;
  }

  #user_department_id, #user_role_ids, #user_facility_ids {
    border: 2px solid #119380;
  }

  #user_facility_ids {
    height: 105px;
    width: 100%;
  }

  #user_dob {
    cursor: pointer;
    background: #fff;
  }

  .ui-menu-item a.ui-state-focus {
    background-color: #929090; 
    color: #fff; 
  }

  .select2-container .select2-selection--single {
    height: 34px !important;
  }
</style>