<div class="modal-dialog" style="width:30%;">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Resend Activation Link</h4>
    </div>
    <%= form_for @user, method: :patch, url: users_update_email_path, remote: true do |f| %>
      <input type="hidden" name="id" value="<%= @user.id.to_s %>">
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-3">
            <strong>Email</strong>
          </div>
          <div class="col-sm-9">
            <% if @trusted_domains.count > 0 %>
              <%= f.hidden_field :email, value: @user.email %>
              <% email_local, email_domain = @user.email&.split('@') %>
              <div class="row">
                <div class="col-sm-6 pr-0">
                  <%= text_field_tag :email_local, email_local, class: 'form-control p7_10 email_local', placeholder: 'Email' %>
                </div>
                <div class="col-sm-6 pl-0">
                  <% email_domain = @trusted_domains.first&.name if @trusted_domains.count == 1 && params[:action] == 'new' %>
                  <%= select_tag :email_domain, options_for_select(@trusted_domains.map { |td| ["@#{td.name}", td.name] }, email_domain), include_blank: 'Select', class: 'form-control p9_10 email_domain' %>
                </div>
              </div>
            <% else %>
              <%= f.text_field :email, { class: 'form-control p7_10 email', placeholder: 'Email' } %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "Send Activation Link", { class: 'btn btn-primary', onclick: 'edit_user()' } %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>