<div class="row">
  <div class="col-sm-12 text-center" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;"><strong>Personal Information</strong></div>
</div>
<div class="row" style="margin-top:15px;">
  <div class="col-sm-2">
    <strong>Salutation</strong><br>
    <%= f.select :salutation, ["Dr", "Mr", "Ms", "Mrs"], {include_blank: true}, { class: 'form-control salutation' } %>
  </div>
  <div class="col-sm-6">
    <strong>Name</strong><br>
    <%= f.text_field :fullname, { class: 'form-control p7_10 fullname', placeholder: "Fullname" } %>
  </div>
  <div class="col-sm-4">
    <strong>Email</strong><br>
    <%= f.text_field :email, { class: 'form-control p7_10 email', placeholder: "Email" } %>
  </div>
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-sm-4">
    <strong>Gender</strong><br>
    <%= f.select :gender, ["Female","Male"], {include_blank: true}, {class: 'form-control gender'} %>
  </div>
  <div class="col-sm-4">
    <strong>Birth Date</strong><br>
    <%= f.text_field :dob, { class: 'form-control p7_10 dob', placeholder: "Date of Birth", readonly: 'readonly' } %>
  </div>
  <div class="col-sm-4">
    <strong>Age</strong><br>
    <%= f.text_field :age, { class: 'form-control p7_10 age', placeholder: "Age", readonly: 'readonly' } %>
  </div>
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-sm-12 text-center" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;"><strong>Employee Information</strong></div>
</div>
<div class="row" style="margin-top:15px;">
  <div class="col-sm-4">
    <strong>Department</strong><br>
    <%= f.select :department_id, @department.pluck(:name, :id), {include_blank: true}, { class: 'form-control department_id' } %>
  </div>
  <div class="col-sm-4">
    <strong>Role</strong><br>
    <%= f.select :role_ids, [], {include_blank: "Select Department First"}, { class: 'form-control role_ids' } %>
  </div>
  <div class="col-sm-4">
    <strong>Employee ID</strong><br>
    <%= f.text_field :employee_id, { class: 'form-control p7_10 employee_id', placeholder: "Employee ID" } %>
  </div>
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-12">
        <strong>Facilities</strong><br>
          <% facilities = (@facilities  if @facilities.present?) || [] %>
          <%= select_tag "user[facility_ids]", options_for_select(facilities, @user.facility_ids.map(&:to_s)), { class: 'form-control facility_ids', multiple: true } %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-12">
        <strong>Designation</strong><br>
        <%= f.text_field :designation, { class: 'form-control p7_10 designation', placeholder: "Designation" } %>
      </div>
      <div class="col-sm-12" style="margin-top:15px;">
        <strong>Registration Number</strong><br>
        <%= f.text_field :registration_number, { class: 'form-control p7_10 registration_number', placeholder: "Registration Number" } %>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-sm-12 text-center" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;"><strong>Contact Information</strong></div>
</div>
<div class="row" style="margin-top:15px;">
  <div class="col-sm-4">
    <strong>Mobile Number</strong><br>
    <%= f.text_field :mobilenumber, { class: 'form-control p7_10 mobilenumber', placeholder: "Mobile", minlength: 6, maxlength: 10, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
  </div>
  <div class="col-sm-4">
    <strong>Telephone</strong><br>
    <%= f.text_field :telephone, { class: 'form-control p7_10 telephone', placeholder: "Telephone", minlength: 6, maxlength: 10, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
  </div>
  <div class="col-sm-4">
    <strong>Country</strong><br>
    <%= f.select :country_id, options_for_select(@countries.collect {|p| [ p.name + " ("+p.abbreviation1+") ", p.id ] },@user.country_id), {include_blank: "Select Country"}, {class: 'form-control country', style:'max-height:40px;'} %>
  </div>
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-sm-12">
    <strong>Address</strong><br>
    <%= f.text_field :address, { class: 'form-control p7_10 address', placeholder: "Address" } %>
  </div>
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-sm-4">
    <strong>Pincode</strong><a href="" class="clear-pincode" style="display:none;font-size: 10px;margin-top: -7px;">  Clear</a><br>
    <%= f.text_field :pincode, { class: 'form-control p7_10 pincode', placeholder: "Pincode", minlength: 5, maxlength: 7, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
  </div>
  <div class="col-sm-4">
    <strong>State</strong><br>
    <%= f.text_field :state, { class: 'form-control p7_10 state',id: 'user_state_name', placeholder: "State" } %>
  </div>
  <div class="col-sm-4">
    <strong>City</strong><br>
    <%= f.text_field :city, { class: 'form-control p7_10 city', placeholder: "City" } %>
  </div>  
</div>