<div class="modal-dialog" style="width:40%;">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><%= @flag == 'unlink' ? 'Un' : '' %>Link Facilities</h4>
    </div>
    <%= form_tag("/users/link_unlink_multiple_facilities_save", method: "post", remote: true, id: 'link_facilities_save') do %>
      <%= hidden_field_tag :user_id, @user_id %>
      <%= hidden_field_tag :flag, @flag %>
      <div class="modal-body" style="padding: 28px;">
        <div class="row">
          <div class="col-sm-12">
            <strong>Select Facilities</strong><br>
            <%= select_tag "facility_ids[]", options_for_select(@facilities.pluck(:name, :id)), { class: 'form-control', id: 'facility_ids', multiple: 'multiple', style:'max-height:34px;' } %>
          </div>
        </div>

        <div class="row" style="padding-top: 35px;">
          <div class="col-sm-12" style="text-decoration: underline;">
            <strong>Currently <%= @flag.capitalize %>ed facilities</strong>
          </div>

          <div class="col-sm-12">
            <% if @other_facilities.present? %>
              <% @other_facilities.each do |facility| %>
                <div style="margin: 7px;">
                  <i class="fa fa-arrow-right"></i> <%= facility.name.upcase %><br>
                </div>
              <% end %>
            <% else %>
              <div style="margin: 7px;font-style: italic;"><strong>No <%= @flag.capitalize %>ed facilities existed</strong></div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= submit_tag "Save", class: 'btn btn-success' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>