<div class="modal-dialog" style="width:40%;">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><%= @flag == 'unlink' ? 'Un' : '' %>Link Existing User</h4>
    </div>
    <%= form_tag("/users/link_unlink_multiple_users_save", method: "post", remote: true, id: 'link_user_save') do %>
      <%= hidden_field_tag :facility_id, @facility_id %>
      <%= hidden_field_tag :flag, @flag %>
      <%= hidden_field_tag :link_type, if @flag == 'link' then 'push' else 'pull' end %>
      <div class="modal-body" style="padding: 28px;">
        <div class="row">
          <div class="col-sm-12">
            <strong>Select Users</strong><br>
            <%= select_tag "user_ids[]", options_for_select(@users.map{|u| [u.custom_name_format, u.id]}), { class: 'form-control', id: 'user_ids', multiple: 'multiple', style:'max-height:34px;' } %>
          </div>
        </div>


        <div class="row" style="padding-top: 35px;">
          <div class="col-sm-12" style="text-decoration: underline;">
            <strong>Currently <%= @flag.capitalize %>ed Users</strong>
          </div>

          <div class="col-sm-12">
            <div class="row">
              <% if @other_users.present? %>
                <% @other_users.each do |facility| %>
                  <div class="col-sm-6" style="padding: 10px;">
                    <i class="fa fa-arrow-right"></i> &nbsp; <%= facility.fullname.upcase %><br>
                  </div>
                <% end %>
              <% else %>
                <div style="margin: 7px;font-style: italic;"><strong>No <%= @flag.capitalize %>ed users existed</strong></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= submit_tag "Save", class: 'btn btn-success' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>
