
<div class="modal-dialog" style="width:50%;">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Reset Password </h4>
    </div>


    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <h4>Are you sure you want to reset password for <strong><%=  @user.try(:fullname).capitalize %></strong> ? </h4>
      </div>
    </div>

    <%= form_for @user, remote: true, :method => "post", :url => password_resets_update_path, validate: true do |user| %>
      <%= user.hidden_field :id %>
      <%= user.hidden_field :type, value: "admin_reset" %>
      <div class="row">
        <div class="col-sm-12 col-md-8 col-md-offset-2">
          <div class="account-wall row">
            <div class="row mb15">
              <div class="col-md-4 ">
                <label>Username: </label>
              </div>
              <div class="col-md-8">
                <div class="">
                  <strong><%= @user.try(:username) %></strong>
                </div>
              </div>
            </div>

            <div class="row mb15">
              <div class="col-md-4 ">
                <label>New Password: </label>
              </div>
              <div class="col-md-8">
                <div class="inner-addon left-addon">
                  <i class="fa fa-lock icon-addon"></i>
                  <%= user.password_field :password, class: 'form-control password', placeholder: 'New Password', data: { toggle: "tooltip", trigger: "hover", placement: "right", title: "Min. 8 Characters | Include 1 Number | Include 1 Capital Letter | A special Character @#$%^&+=", validate: true} %>
                </div>
              </div>
            </div>

            <div class="row mb15">
              <div class="col-md-4">
                <label>Confirm Password: </label>
              </div>
              <div class="col-md-8">
                <div class="inner-addon left-addon">
                  <i class="fa fa-lock icon-addon"></i>
                  <%= user.password_field :password_confirmation, class: "form-control password_confirmation", validate: true, placeholder: "Confirm Password" %>
                </div>
              </div>
            </div>

            <div class="row ">
              <div class="col-md-8 col-md-offset-2 text-center" style="">
                <%= user.submit "Reset Password", class: "btn btn-info", id: "signinbutton", style: 'background: #2ebdfc;padding: 10px 50px;' %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-md-offset-4 text-center" style="margin-top: 25px;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <footer>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center" style="font-size: 12px;">
          <b>Note: </b><br>
          <ul style="">
            <b>
              New password will need to be shared manually by Admin.
            </b><br>
            <b>
              No automated e-mail will be sent to the user.
            </b>
          </ul>
        </div>
      </div>
    </footer>



  </div>
</div>




<style type="text/css">
  .signin {
    background: #fff !important;
  }

  .recover-password a:hover, .recover-password a:focus {
    text-decoration: none;
  }

  .foss_login {
    margin-top: 25px;
    margin-left: 16px;
  }

  .password, .password_confirmation, .current_password {
    box-shadow: 2px 2px 0px #eee;
    border : none;
  }

  .signin-link {
    font-size: 10px;
    color: #aaa !important;
  }

  .signin-link:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 35px;
    border-bottom: 2px solid #2ebdfc;
    transition: .5s;
  }

  .signin-link:hover::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 75px;
    border-bottom: 2px solid #2ebdfc;
  }

  .account-wall {
    margin: 5% 0px;
    padding: 20px;
    background-color: #fbf9fd;
  }

  .foss_circle {
    margin: -125px auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .foss_square {
    margin: -75px auto 10px;
    display: block;
  }

  /*Code for Inner Icons*/
  .inner-addon {
    position: relative;
  }

  /* style icon */
  .inner-addon .icon-addon {
    position: absolute;
    padding: 12px;
    pointer-events: none;
  }

  /* align icon */
  .left-addon .icon-addon {
    left:  0px;
  }

  /* add padding  */
  .left-addon input  {
    padding-left:  30px;
  }
</style>

<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>