<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">User Details</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12 text-center" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;"><strong>Personal Information</strong></div>
      </div>
      <div class="row" style="margin-top:15px;">
        <div class="col-sm-2">
          <strong>Salutation</strong><br>
          <%= @user.salutation %>
        </div>
        <div class="col-sm-6">
          <strong>Name</strong><br>
          <%= @user.fullname %>
        </div>
        <div class="col-sm-4">
          <strong>Email</strong><br>
          <%= @user.email %>
        </div>
      </div>

      <div class="row" style="margin-top:15px;">
        <div class="col-sm-4">
          <strong>Gender</strong><br>
          <%= @user.gender %>
        </div>
        <div class="col-sm-4">
          <strong>Birth Date</strong><br>
          <%= @user.dob %>
        </div>
        <div class="col-sm-4">
          <strong>Age</strong><br>
          <%= @user.age %>
        </div>
      </div>

      <div class="row" style="margin-top:15px;">
        <div class="col-sm-12 text-center" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;"><strong>Employee Information</strong></div>
      </div>

      <div class="row" style="margin-top:15px;">
        <div class="col-sm-4">
          <strong>Designation</strong><br>
          <%= @user.designation %>
        </div>
        <div class="col-sm-4">
          <strong>Role</strong><br>
          <%= @user_roles.join(', ').to_s.titleize %>
        </div>
        <div class="col-sm-4">
          <strong>Employee ID</strong><br>
          <%= (@user.employee_id if @user.employee_id.present?) || '-' %>
        </div>
      </div>

      <div class="row" style="margin-top:15px;">
        <div class="col-sm-4">
          <strong>Specialties</strong><br>
          <%= @user_specialties.present? ? @user_specialties.pluck(:name).join(', ') : '-' %>
        </div>

        <div class="col-sm-4">
          <strong>Registration Number</strong><br>
          <%= (@user.registration_number if @user.registration_number.present?) || '-' %>
        </div>

        <% if @user.sub_specialty_names.count > 0 %>
          <div class="col-sm-12">
            <strong>Sub Specialties</strong><br>
            <%= @user.sub_specialty_names.join(' | ') %>
          </div>
        <% end %>
      </div>

      <div class="row" style="margin-top:15px;">
        <div class="col-sm-4">
          <strong>Departments</strong><br>
          <%= @user_departments.present? ? @user_departments.pluck(:name).join(', ') : '-' %>
        </div>

        <div class="col-sm-4">
          <strong>Qualification</strong><br>
          <%= (@user.qualification if @user.qualification.present?) || '-' %>
        </div>

        <div class="col-sm-4">
          <strong>Fellowship</strong><br>
          <%= (@user.fellowship if @user.fellowship.present?) || '-' %>
        </div>
      </div>

      <div class="row" style="margin-top:15px;">
        <% facility_names = @user_facilities.pluck(:name) %>
        <div class="col-sm-12">
          <strong>Facilities</strong>
          <% if facility_names.count > 10 %>
            &nbsp;<a href="" class='show_more_facilities_link' style="font-size: 12px;">Show All</a>
          <% end %>
        </div>
        <% count = 0 %>
        <% facility_names.each do |facility_name| %>
          <% count += 1 %>
          <div class="col-sm-6 fac_name" <%= 'style=display:none;' if count > 10 %>>
            <%= facility_name %>
          </div>
        <% end %>
      </div>

      <div class="row" style="margin-top:15px;">
        <div class="col-sm-12 text-center" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;"><strong>Contact Information</strong></div>
      </div>
      <div class="row" style="margin-top:15px;">
        <div class="col-sm-4">
          <strong>Mobile Number</strong><br>
          <%= @user.mobilenumber %>
        </div>
        <div class="col-sm-4">
          <strong>Telephone</strong><br>
          <%= (@user.telephone if @user.telephone.present?) || '-' %>
        </div>
        <div class="col-sm-4">
          <strong>Country</strong><br>
          <%= (Country.find_by(id: @user.country_id).name if @user.country_id.present?) || '-' %>
        </div>
      </div>
      <div class="row" style="margin-top:15px;">
        <div class="col-sm-12">
          <strong>Address</strong><br>
          <%= @user.address %>
        </div>
      </div>

      <div class="row" style="margin-top:15px;">
        <% if @user.country_id == 'VN_254' %>
          <div class="col-sm-4">
            <strong>City</strong><br>
            <%= @user.city %>
          </div>
          <div class="col-sm-4">
            <strong>District</strong><br>
            <%= @user.district %>
          </div>
          <div class="col-sm-4">
            <strong>Commune</strong><br>
            <%= @user.commune %>
          </div>
        <% elsif @user.country_id == 'KH_039' %> 
          <div class="col-sm-4">
            <strong>District</strong><br>
            <%= @user.district %>
          </div>
          <div class="col-sm-4">
            <strong>Commune</strong><br>
            <%= @user.commune %>
          </div>
          <div class="col-sm-4">
            <strong>State</strong><br>
            <%= @user.state %>
          </div>
          <div class="col-sm-4">
            <strong>Pincode</strong><br>
            <%= @user.pincode %>
          </div>
        <% else %>
          <div class="col-sm-4">
            <strong>City</strong><br>
            <%= @user.city %>
          </div>
          <div class="col-sm-4">
            <strong>State</strong><br>
            <%= @user.state %>
          </div>
          <div class="col-sm-4">
            <strong>Pincode</strong><br>
            <%= @user.pincode %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="modal-footer">
      <%= link_to edit_user_path(id: @user.id.to_s, organisation_id: @user.organisation_id.to_s), data: { remote: true }, class: 'btn btn-primary' do %><i class="fa fa-edit"></i> Edit<% end %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

</div>
