<div class="container-fluid recover-password">
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag "healthgraph_full.png", class: "foss_login" %>
    </div>
  </div>
  <%= form_for @user, url: users_save_details_path, method: "post", validate: true do |user| %>
    <%= user.hidden_field :id %>
    <div class="row">
      <div class="col-sm-12 col-md-4 col-md-offset-4">
        <div class="account-wall row">
          <div class="col-md-10 col-md-offset-1">
          <%= image_tag "foss_health_logo.png", class: "foss_square" %>
          </div>
          <div class="col-md-10 col-md-offset-1 text-center" style="margin-top: 25px;color: #2ebdfc">
            <p style="font-size: 18px;">Activate Account</p>
          </div>
          <div class="col-md-10 col-md-offset-1" style="margin-top: 25px;">
            <div class="inner-addon left-addon">
              <i class="fa fa-user icon-addon"></i>
              <%= user.text_field :username, class: "form-control username", placeholder: 'Enter Username', data: {toggle: "tooltip", trigger: "hover", placement: "left", title: "*Username should only contain letters and numbers and no spaces."} %>
            </div>
          </div>
          <div class="col-md-10 col-md-offset-1" style="margin-top: 25px;">
            <div class="inner-addon left-addon">
              <i class="fa fa-lock icon-addon"></i>
              <%= user.password_field :password, class: 'form-control password', placeholder: 'Enter New Password', data: { toggle: "tooltip", trigger: "hover", placement: "left", title: "Min. 8 Characters | Include 1 Number | Include 1 Capital Letter | A special Character @#$%^&+="} %>
            </div>
          </div>
          <div class="col-md-10 col-md-offset-1" style="margin-top: 25px;">
            <div class="inner-addon left-addon">
              <i class="fa fa-lock icon-addon"></i>
              <%= user.password_field :password_confirmation, class: "form-control password_confirmation", placeholder: "Confirm Password" %>
            </div>
          </div>
          <div class="col-md-8 col-md-offset-2 text-center" style="margin-top: 40px;margin-bottom: 15px;">
            <%= user.submit "Set Password", class: "btn btn-info", id: "setpasswordbutton", style: 'background: #2ebdfc;padding: 10px 50px;' %>
          </div>
        </div>            
      </div>
    </div>
  <% end %>
  <footer>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center" style="font-size: 12px;">
        <b style="color: #fbf9fd;"><a href='http://www.healthgraph.in/terms.html' target="_blank"> Terms &emsp;|&emsp;</a><a href="http://www.healthgraph.in/privacy_policy.html" target="_blank">Privacy</a></b><br>
        <b><i class="fa fa-copyright"></i> <%= Date.current.year %>. All Rights Reserved. HealthGraph India</b>
      </div>
    </div>
  </footer>
</div>

<style type="text/css">
  .signin {
    background: #fff !important;
  }

  .recover-password a:hover, .recover-password a:focus {
    text-decoration: none;
  }

  .foss_login {
    margin-top: 25px;
    margin-left: 16px;
  }

  .username, .password, .password_confirmation {
    box-shadow: 2px 2px 0px #eee;
    border : none;
  }

  .account-wall {
    margin: 25% 30px;
    padding: 45px 0px 0px 0px;
    background-color: #fbf9fd;
  }

  .foss_circle {
    margin: -125px auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .foss_square {
    margin: -75px auto 10px;
    display: block;
  }

  footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    background: #fff;
  }

  /*Code for Inner Icons*/
  .inner-addon {
    position: relative;
  }

  /* style icon */
  .inner-addon .icon-addon {
    position: absolute;
    padding: 12px;
    pointer-events: none;
  }

  /* align icon */
  .left-addon .icon-addon {
    left:  0px;
  }

  /* add padding  */
  .left-addon input  {
    padding-left:  30px;
  }
</style>

<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>