<div class="services_items_invoice_ipd" id="services_items_invoice_ipd">
  <!-- Display Once -->
  <% @invoice.services.each.with_index do |ser, i| %>
    <div class="service_row_count mb5 mt5" title=<%= i %>>
      <input style="padding:5px 10px;" class="form-control service_id" type="hidden" name="invoice_ipd[services][<%= i %>][_id]" value="<%= ser.id %>">
      <div class="row service_row mb10">
        <div class="col-md-3">
          <!-- <input style="padding:5px 10px;" class="form-control service_name" placeholder="Service Name" type="text" name="" value= "<%= ser.name %>"> -->
          <% if InvoiceServiceCard.find(ser.name).card_deleted == false %>
            <select class="form-control service_name" name="invoice_ipd[services][<%= i %>][name]">
              <% @invoiceservicecard.each do |servicecard| %>
                <option value="<%= servicecard.id.to_s %>" <% if(ser.name == servicecard.id.to_s) %> selected="selected"<% end %>><%= servicecard.service_name %></option>
              <% end %>
            </select>
          <% else %>
            <select class="form-control service_name" name="invoice_ipd[services][<%= i %>][name]">
              <% @invoiceservicecard.each do |servicecard| %>
                <option value="<%= servicecard.id.to_s %>" <% if(ser.name == servicecard.id.to_s) %> selected="selected"<% end %>><%= servicecard.service_name %></option>
              <% end %>
            </select>
          <% end %>
        </div>
        <div class='col-md-4'>
          <button class="btn btn-primary btn-xs add_service_item" style="padding:0 5px;margin-top:3px;"><i class="fa fa-plus"></i> New Item</button>
        </div>
        <div class="col-md-3">
          <input style="padding:5px 10px;" class="form-control service_total text-right" placeholder="Service Total" type="text" name="invoice_ipd[services][<%= i %>][service_total]" readonly="readonly" value="<%= ser.service_total %>">
        </div>
        <div class="col-md-2 text-right">
          <button class="btn btn-danger btn-xs remove_service_item" style="padding:0 5px;margin-top:3px;"><i class="fa fa-trash-alt"></i> Remove Service</button>
        </div>
      </div>
      <div class="service_item_row_count mb10" id="service_item_row">
        <% ser.items.each.with_index do |it, j| %>
          <div class="invoice_service_item_row row mt5" id="invoice_service_item_row">
            <input name="invoice_ipd[services][<%= i %>][items][<%= j %>][_id]" style="padding:5px 10px;" class="form-control i_id" type="hidden" value="<%= it.id %>">
            <div class="col-md-1 field_for_date">
              <input name="invoice_ipd[services][<%= i %>][items][<%= j %>][item_entry_date]" style="padding:5px 10px;" class="form-control i_item_entry_date" type="hidden" value="<%= it.item_entry_date %>">
            </div>
            <div class="col-md-3 field_for_description">
              <% @iic = InvoiceItemCard.find_by(id: it.description) %>
              <% @isc = InvoiceServiceCard.find(@iic.invoice_service_card_id.to_s).id.to_s %>
              <% if InvoiceServiceCard.find(ser.name).card_deleted == true || InvoiceItemCard.find(it.description).card_deleted == true %>
                <select class="form-control i_description" name="invoice_ipd[services][<%= i %>][items][<%= j %>][description]">
                  <% InvoiceItemCard.where(invoice_service_card_id: @isc).each do |iic| %>
                    <option value="<%= iic.id.to_s %>" <% if iic.id.to_s == it.description %> selected="selected"<% end %>>
                      <%= iic.item_name %> <% if iic.user_name %> - <%= iic.user_name %><% end %>
                    </option>
                  <% end %>
                </select>
              <% else %>
                <select class="form-control i_description" name="invoice_ipd[services][<%= i %>][items][<%= j %>][description]">
                  <% InvoiceItemCard.where(invoice_service_card_id: @isc, card_deleted: false).each do |iic| %>
                    <option value="<%= iic.id.to_s %>" <% if iic.id.to_s == it.description %> selected="selected"<% end %>>
                      <%= iic.item_name %> <% if iic.user_name %> - <%= iic.user_name %><% end %>
                    </option>
                  <% end %>
                </select>
              <% end %>
            </div>
            <div class="col-md-2 field_for_quantity">
              <input name="invoice_ipd[services][<%= i %>][items][<%= j %>][quantity]" style="padding:5px 10px;" class="form-control i_quantity" placeholder="Quantity" maxlength="5" value="<%= it.quantity %>" maxlength="4" type="text">
            </div>
            <div class="col-md-2 field_for_unit_price">
              <input name="invoice_ipd[services][<%= i %>][items][<%= j %>][unit_price]" style="padding:5px 10px;" class="form-control i_unit_price" value="<%= it.unit_price %>" placeholder="Unit Price" maxlength="12" type="text">
            </div>
            <div class="col-md-2 field_for_price">
              <input name="invoice_ipd[services][<%= i %>][items][<%= j %>][price]" style="padding:5px 10px;" class="form-control i_price" value="<%= it.price %>" placeholder="Total" readonly="readonly" type="text">
            </div>
            <div class="col-md-2">
              <button class="btn btn-danger btn-xs remove_item" style="padding:0 5px;margin-top:3px;"><i class="fa fa-trash-alt"></i> Remove Item</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="row" style="margin-left:0px;">
  <button class="btn btn-primary btn-xs" id="add_service_invoice_ipd" style="padding:0 5px;"><i class="fa fa-plus"></i> Add Service</button>
</div>
