<%# currency_symbol = (@invoice.currency_symbol || current_facility.currency_symbol) %>
<% @mop_list = Invoice::InvoicesHelper.mop_list(current_facility.country_id) %>
<%= render partial: 'invoice_payment_details_main.html.erb', locals: { invoice: @invoice } %>
<div id="payment-details" style="border: 1px solid #aaa;padding: 20px;">
  <div id="advance-payment-form">
    <% if @advance_payments.where(currency_symbol: @currency_symbol).count > 0 %>
      <%= render partial: 'advance_payment_form.html.erb', locals: { currency_symbol: @currency_symbol, invoice: @invoice, advance_payments: @advance_payments, department_name: @department_name.try(:downcase) } %>
    <% else %>
      <input type="hidden" name="invoice_ipd[advance_payment]" class="form-control invoice_advance_payment p3_10" id="invoice_advance_payment_total" value="<%= @invoice.advance_payment %>" readonly="readonly">
    <% end %>
  </div>
  <div id="payment-received-form">
    <%= render partial: 'payment_received_form.html.erb', locals: { currency_symbol: @currency_symbol, invoice: @invoice, payer_fields: @payer_fields, mop_list: @mop_list, department_name: @department_name.try(:downcase) } %>
  </div>
  <% display_style = ['credit', 'insurance'].include?(@invoice.invoice_type) ? 'block' : 'none' %>
  <div id="payment-pending-form" style="display: <%= display_style %>;">
    <%= render partial: 'payment_pending_form.html.erb', locals: { currency_symbol: @currency_symbol, invoice: @invoice, payer_fields: @payer_fields, mop_list: @mop_list, department_name: @department_name.try(:downcase) } %>
  </div>
</div>
