<div class="container-fluid">
  <!-- Patient Info -->
  <div class="row" id="patient_details">
    <%= render partial: 'patients/basic_info.html.erb', locals: { patient: @patient, invoice: @invoice } %>
    <hr style="margin:10px;">
  </div>

  <% if @visit_diagnoses.try(:size).to_i > 0 || @visit_procedures.try(:size).to_i > 0 %>
    <div id="patient-assessment-header" class="col-md-12" style="padding:5px 0px;">
      <div class="panel panel-default" style="margin-left: 3px;">
        <div class="panel-heading" style="background-color: #49587E;margin-top: 0px;line-height: 0px;padding: 10px;">
          <div class="panel-btns">
            <a href="" class="minimize minimize-patient-assessment-box" style="margin-top: 0px;color: white;opacity: 1">-</a>
          </div><!-- panel-btns -->
          <p class="panel-title"  style="font-size: 11px;margin-top: 0px;line-height: 0px;color: white">PATIENT VISIT ASSESSMENT</p>
        </div>

        <div class="panel-body patient-assessment-section" style="display: none;padding: 0 15px;">
          <div class="row mb10" id="" style="border-bottom: 1px solid #eee;">
            <%= render partial: 'invoice/invoices/patient_assessment_data_view.html.erb', locals: { patient: @patient, invoice: @invoice, mail_job: false } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <!-- Patient Info Ends -->
  <div class="row">
    <div class="col-md-10">
      <% if @invoice.version == "v20.0" %>
        <div id="service_item_v20">
          <%= render partial: 'service_item_v20.html.erb' %>
        </div>
      <% else %>
        <div id="service_item_v21">
          <%= render partial: 'service_item_v21.html.erb' %>
        </div>
      <% end %>
      <div class="row" style="margin-top:20px;">
        <%= render partial: 'comments_section.html.erb', locals: { inv: inv, invoice: @invoice } %>
        <%= render partial: 'show_invoice_calculation.html.erb', locals: { invoice: @invoice, department_name: @department_name.try(:downcase) } %>
      </div>
    </div>
    <div class="col-md-2 template_set_details_options">
      <%#= render partial: 'template_set_details.html.erb' %>
    </div>
  </div>

  <hr>
  <div id="form-payment-details">
    <%= render partial: 'form_payment_details.html.erb' %>
  </div>
</div>
