<div class="container-fluid">
  <!-- Patient Info -->
  <div class="row" id="patient_details">
    <%= render partial: 'patients/basic_info.html.erb', locals: { patient: @patient } %>
    <hr style="margin:10px;">
  </div>
  <!-- Patient Info Ends -->
  <% if @invoice_template.version == "v20.0" %>
    <div id="service_item_v20">
      <%= render partial: 'tax_template_service_item_v20.html.erb' %>
    </div>
  <% else %>
    <div id="service_item_v21">
      <%= render partial: 'tax_template_service_item_v21.html.erb' %>
    </div>
  <% end %>
  <div class="row" style="margin-top:20px;">
    <div class="col-md-6">
      <b>Remarks for Customer:</b> <%= inv.text_area :patient_comment, class: 'form-control', placeholder: 'Comment', minlength: 3 %>
      <b>Internal Comments:</b> <span style='font-size:10px;'>(This will not appear in print)</span> <%= inv.text_area :comments, class: 'form-control', placeholder: 'Comments', value: '', minlength: 3 %>
    </div>
    <div class="col-md-6">
      <div class="row invoice_calculation_list">
        <div class="col-md-12" id="tax-cage">
        </div>
        <div class="col-md-12">
          <div class="row mb5">
            <div class="col-md-5 text-right">
              <b>Gross Bill Total :</b>
            </div>
            <div class="col-md-3 text-right">
              <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control invoice_gross_total text-right" id="invoice_gross_total" placeholder="Gross Amount" type="text" name="invoice_ipd[total]" value="<%= @service_total %>" readonly="readonly">
            </div>
          </div>
          <div class="row mb5">
            <div class="col-md-5 text-right">
              <b>Discount :</b>
            </div>
            <div class="col-md-3 text-right">
              <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control discount_amount text-right" id="discount_amount" placeholder="Discount" value="0" type="text" name="invoice_ipd[additional_discount]">
            </div>
          </div>
          <div class="row mb5">
            <div class="col-md-5 text-right">
              <b>Round :</b>
            </div>
            <div class="col-md-3 text-right">
              <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control round_amount text-right" id="round_amount" placeholder="Round" value="0" type="text" name="invoice_ipd[round]" readonly="readonly">
            </div>
          </div>
          <div class="row mb5">
            <div class="col-md-5 text-right">
              <b>Net Total :</b>
            </div>
            <div class="col-md-3 text-right">
              <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control invoice_net_total text-right" id="invoice_net_total" placeholder="Net Amount" value="<%= @service_total %>" type="text" name="invoice_ipd[net_amount]" readonly="readonly">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div id="form-payment-details">
    <%= render partial: 'form_payment_details.html.erb' %>
  </div>
</div>
