<div class="invoice_types" style="padding: 10px 5px 0;background: #eee;">
  <%= render partial: 'invoice_types.html.erb', locals: { invoice: @invoice, type: 'ipd', form_method: 'new', is_draft: @is_draft } %>
</div>
<div class="patient-payer-data-form">
  <% if @patient_payer_data_master.present? %>
    <%= render partial: 'patient_payer_data_form.html.erb', locals: { invoice: @invoice, type: 'ipd', form_method: 'edit', is_draft: @is_draft } %>
  <% end %>
</div>
<div class="services_items_invoice_ipd" id="services_items_invoice_ipd">
  <!-- Display Once -->
  <div class="service_row_count mb5 mt5" title="0">
    <div class="invoice_service_item_row_header row mt5" id="invoice_service_item_row_header">
      <div class="col-md-3">
        <b>Billable Items</b>
      </div>
      <div class="col-md-1">
        <b>Quantity</b>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-5">
            <b>Unit Price(<%=@currency_symbol%>)</b>
          </div>
          <div class="col-md-4">
            <b>Gross Price(<%=@currency_symbol%>)</b>
          </div>
          <div class="col-md-2">
            <b>Net price(<%=@currency_symbol%>)</b>
          </div>
          <div class="col-md-1">
            <b>Actions</b>
          </div>
        </div>
      </div>
    </div>
    <div class="service_item_row_count mb10" id="service_item_row">
      <div class="invoice_service_item_row row mt5" id="invoice_service_item_row_0">
        <div class="col-md-12">
          <div class="field_for_date">
            <input type="hidden" name="invoice_ipd[services][0][item_entry_date]" class="i_item_entry_date" value="<%= Time.current %>">
            <input type="hidden" name="invoice_ipd[services][0][added_by_id]" class="i_added_by_id" value="<%= current_user.id.to_s %>">
            <input type="hidden" name="invoice_ipd[services][0][advised_by_id]" class="i_advised_by_id" value="<%= @appointment.try(:doctor) %>">
            <input type="hidden" name="invoice_ipd[services][0][counselled_by_id]" class="i_counselled_by_id" value="">
            <input type="hidden" name="invoice_ipd[services][0][sub_specialty_id]" class="i_sub_specialty_id" value="">
            <input type="hidden" name="invoice_ipd[services][0][entry_type]" class="i_entry_type" value="service">
            <input type="hidden" name="invoice_ipd[services][0][tax_preference]" class="i_tax_preference" value="non_taxable">
            <input type="hidden" name="invoice_ipd[services][0][taxable_amount]" class="i_taxable_amount" value="0">
            <input type="hidden" name="invoice_ipd[services][0][non_taxable_amount]" class="i_non_taxable_amount" value="0">
            <input type="hidden" name="invoice_ipd[services][0][exception_id]" class="i_exception_id" value="">
            <input type="hidden" name="invoice_ipd[services][0][discount_amount]" class="service_discount_amount" value="0">
            <input type="hidden" name="invoice_ipd[services][0][discount_percentage]" class="service_discount_percentage" value="">
            <input type="hidden" name="invoice_ipd[services][0][show_breakup_in_print]" class="show_breakup_in_print">
            <input type="hidden" name="invoice_ipd[services][0][name]" class="i_service_name">
            <input type="hidden" name="invoice_ipd[services][0][service_type]" class="i_service_type">
            <input type="hidden" name="invoice_ipd[services][0][offer_manager_id]" class="service_offer_manager_id" value="">
            <input type="hidden" name="invoice_ipd[services][0][offer_name]" class="service_offer_name" value="">
            <input type="hidden" name="invoice_ipd[services][0][offer_code]" class="service_offer_code" value="">
            <input type="hidden" name="invoice_ipd[services][0][offer_percentage]" class="service_offer_percentage" value="">
            <input type="hidden" name="invoice_ipd[services][0][offer_applied_at]" class="service_offer_applied_at" value="">
            <input type="hidden" name="invoice_ipd[services][0][offer_applied_at_name]" class="service_offer_applied_at_name" value="">
            <input type="hidden" name="invoice_ipd[services][0][offer_applied_by]" class="service_offer_applied_by" value="">
            <input type="hidden" name="invoice_ipd[services][0][offer_applied_by_name]" class="service_offer_applied_by_name" value="">
            <input type="hidden" name="invoice_ipd[services][0][offer_applied_date]" class="service_offer_applied_date" value="">
            <input type="hidden" name="invoice_ipd[services][0][offer_applied_datetime]" class="service_offer_applied_datetime" value="">
          </div>
          <div class="col-md-2 field_for_payer" style="display: none;">
            <select class="form-control i_payer_master_id" name="invoice_ipd[services][0][payer_master_id]">
            </select>
          </div>
          <div class="col-md-3 field_for_description">
            <select class="form-control i_description" name="invoice_ipd[services][0][description]" id="invoice_ipd_services_0_description">
              <option value="">Select Service</option>
            </select>
            <input name="invoice_ipd[services][0][service_code]" style="padding:2px 10px; border: none" class="form-control i_service_code" placeholder="Service Code" value="" type="text" readonly="readonly">
          </div>
          <div class="col-md-1 field_for_quantity">
            <input type="text" name="invoice_ipd[services][0][quantity]" style="padding:5px 10px;" class="form-control i_quantity" placeholder="Quantity" maxlength="4" value="1">
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-5 field_for_unit_price">
                <input type="text" name="invoice_ipd[services][0][unit_price]" style="padding:5px 10px;" class="form-control i_unit_price" placeholder="Unit Price" maxlength="12">
                <div class="col-md-12 field_for_service_discount_amount mt5" id="discount_amount_0" style="display: none">
                  <div>
                    <div class="input-group mt5" style="float: left; width: 30%;">
                      <b>Discount(<%=@currency_symbol%>):</b>&nbsp;
                    </div>
                    <div class="input-group" style="float: left; width: 40%;">
                      <input type="text" name="invoice_ipd[services][0][discount]" id="service_discount_0" class="form-control form-control-custom-input service_discount" value="" placeholder="Discount">
                      <span class="input-group-addon form-control-custom-slash">|</span>
                      <select name="service_discount_type" id="service_discount_type" class="form-control-custom-select-bill form-control service_discount_type">
                        <option value="<%=@currency_symbol%>"><%=@currency_symbol%></option>
                        <option value="%">%</option>
                      </select>
                    </div>
                  </div>
                  <label class="lbl_discount_amount"></label>
                </div>
                <div class="col-md-12 field_for_service_offer mt5" id="offer_0">
                  <div>
                    <div class="offer_details hidden">
                      <div class="input-group mt5" style="float: left; width: 30%;">
                        <b>Offer(<%=@currency_symbol%>):</b>&nbsp;
                      </div>
                      <div class="input-group mt5" style="float: left; width: 40%;"><label class="service_offer_details"></label></div>
                    </div>
                  </div>
                  <label class="lbl_offer_amount mt5 ml10"></label>
                </div>
              </div>
              <div class="col-md-4 field_for_price">
                <div style="float: left;" class="col-md-9">
                  <input type="text" name="invoice_ipd[services][0][price]" style="padding:5px 10px;" class="form-control i_price" id="i_price" placeholder="Total" readonly="readonly">
                </div>
                <div style="float: right;" class="col-md-3">
                  <button class="btn btn-primary btn-xs add-discount-offer hidden" style="padding:0 5px;margin-top:3px;" id="ipd-0-add-discount-offer" data-toggle="dropdown" title="Add discount/offer">Discount</button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="ipd-0-add-discount-offer">
                    <li id="li_discount"><a class="add_item_discount" href="javascript:;" name="add_item_discount">Discount</a></li>
                    <li id="li_offer"><a class="add_item_offer" name="add_item_offer" data-remote='true' data-toggle='modal' data-target='#invoice-offer-service-modal' href="/invoice/invoices/show_service_offers?invoice_department_type=<%=@invoice.invoice_department_type%>">Offer</a></li>
                  </ul>
                </div>
                <div style="clear: both;"></div>
                <div class="col-md-12 field_for_service_discount_reason mt5" style="display: none;">
                  <div style="float: left;" class="col-md-9">
                    <input type="text" name="invoice_ipd[services][0][discount_reason]" style="padding:5px 10px;" class="form-control discount_reason hidden" id="discount_reason_0" value="" placeholder="Enter Discount Reason">
                  </div>
                  <div style="float: right;" class="col-md-3">
                    <button class="btn btn-danger btn-xs remove_discount" style="padding:0 5px;margin-top:3px;" title="Remove discount"><i class="fa fa-trash-alt"></i></button>
                  </div>
                </div>
                <div style="clear: both;"></div>
                <div class="col-md-12 mt5 field_for_service_offer_amount" style="display: none;" id="offer_actions_0">
                  <div style="float: left;" class="col-md-9">
                    <input type="text" name="invoice_ipd[services][0][offer_amount]" style="padding:5px 10px;" class="form-control service_offer_amount" value="0" readonly="readonly">
                  </div>
                  <div style="float: right;" class="col-md-3 delete_offer">
                    <button class="btn btn-info btn-xs edit_offer" style="padding:0 5px;margin-top:3px;" title="Edit offer"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-danger btn-xs remove_offer" style="padding:0 5px;margin-top:3px;" title="Remove offer"><i class="fa fa-trash-alt"></i></button>
                  </div>
                </div>
              </div>
              <div class="col-md-2 field_for_net_item_price">
                <input type="text" name="invoice_ipd[services][0][net_item_price]" style="padding:5px 10px;" class="form-control net_item_price" id="net_item_price" value="0.00" placeholder="Service Net Amount" readonly="readonly">
              </div>
              <div class="col-md-1">
                <button class="btn btn-danger btn-xs remove_service" style="padding:0 5px;margin-top:3px;"><i class="fa fa-trash-alt"></i></button>
                <button class="btn btn-primary btn-xs add-new-service-package" style="padding:0 5px;margin-top:3px;" id="ipd-0-add-services" data-toggle="dropdown" title="Add Service/Package/BOM"><i class="fa fa-plus"></i></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="ipd-0-add-services-dropdown">
                  <li><a class="add_service_item" href="javascript:;" name="add_service_item">New Item</a></li>
                  <li><a class="add_service_package" href="javascript:;" name="add_service_item">New Package</a></li>
                  <li><a class="add_bill_of_material" href="javascript:;" name="add_bill_of_material">Bill Of Material</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-10 col-md-offset-1">
            <span class="exception_details" style='display:none;'>Exception : <a class="change-exception" style="cursor: pointer;"></a></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row service_row mb10">
      <!-- <div class='col-md-1'></div> -->
      <!-- <div class='col-md-3'> -->
        <!-- <button class="btn btn-primary btn-xs add_service_item" style="padding:0 5px;margin-top:3px;"><i class="fa fa-plus"></i> New Item</button>
        <button class="btn btn-primary btn-xs add_service_package" style="padding:0 5px;margin-top:3px;"><i class="fa fa-plus"></i> New Package</button>
        <button class="btn btn-primary btn-xs add_bill_of_material" style="padding:0 5px;margin-top:3px;"><i class="fa fa-plus"></i> Bill Of Material</button> -->
        <!-- <input type="hidden" name="facility_setting[invoice_show_package_breakup]" value="false">
        <input type="hidden" name="invoice_ipd[bill_of_material_breakup]" value="false"> -->
      <!-- </div> -->
      <!-- <div class="col-md-3">
        <input type="hidden" name="facility_setting[invoice_show_package_breakup]" value="false">
        <input type="hidden" name="invoice_ipd[bill_of_material_breakup]" value="false">
        <div class="ckbox ckbox-primary">
          <% if @facility_setting.invoice_show_package_breakup %>
            <input type="checkbox" name="facility_setting[invoice_show_package_breakup]" id='facility_setting_invoice_show_package_breakup' class="i_invoice_show_package_breakup" value='true' checked='checked'>
          <% else %>
            <input type="checkbox" name="facility_setting[invoice_show_package_breakup]" id='facility_setting_invoice_show_package_breakup' class="i_invoice_show_package_breakup" value='true'>
          <% end %>
          <label for='facility_setting_invoice_show_package_breakup'>Show Package Breakup in Print</label>
        </div>
      </div> -->
      <!-- <div class="col-md-3 mt5">
        <div class="ckbox ckbox-primary">
          <input type="checkbox" name="invoice_ipd[bill_of_material_breakup]" id='invoice_bill_of_material_breakup' class="i_invoice_show_bill_of_material_breakup" value='true'>
          <label for='invoice_bill_of_material_breakup'>Show Bill Of Material in Print</label>
        </div>
      </div> -->
      <div class="col-md-3">
        <input type="text" style="padding:5px 10px;display:none;" class="form-control service_total" placeholder="Service Total" name="invoice_ipd[total]">
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .select2-results__group {
    font-size: 11px;
    padding: 0 2px !important;
    border-bottom: 1px solid;
    background: #eee;
  }
</style>
