<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-body mis-custom-datepicker-body">
      <div class="row">
        <div class="col-md-12">
          <b>Select Date Range</b>
          <div class="input-group">
            <span class="input-group-addon" style="padding: 5px 10px;"><i class="glyphicon glyphicon-calendar"></i></span>
            <input type="text" name="start_date" id="custom_start_date" class="form-control" readonly="readonly" style="cursor:pointer;background-color:#fff;" style="display: none;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(".mis-custom-datepicker-body").height($(window).height() - 250)

  daterangepicker_options = {
    linkedCalendars: false,
    startDate: "<%= @mis_params[:start_date].strftime("%d/%m/%Y") %>",
    endDate: "<%= @mis_params[:end_date].strftime("%d/%m/%Y") %>",
    maxSpan: {
        years: 1
    },
    maxDate: moment(),
    locale: {
      format: 'DD/MM/YYYY'
    }
  }

  $("#custom_start_date").daterangepicker(daterangepicker_options);
  $('#custom_start_date').on('apply.daterangepicker', function(ev, picker) {
    var start_date = picker.startDate.format('DD/MM/YYYY')
    var end_date = picker.endDate.format('DD/MM/YYYY')
    var time_period = "Custom"
    var facility_id = "<%= @mis_params[:facility_id] %>"
    var facility_name = "<%= @mis_params[:facility_name].gsub(/\'/,'`') %>"
    var user_id = "<%= @mis_params[:user_id] %>"
    var user_name = "<%= @mis_params[:user_name].gsub(/\'/,'`') %>"
    var department_id = "<%= @mis_params[:department_id] %>"
    var department_name = "<%= @mis_params[:department_name].gsub(/\'/,'`') %>"
    var pharmacy_store_id = "<%= @mis_params[:pharmacy_store_id] %>"
    var pharmacy_store_name = "<%= @mis_params[:pharmacy_store_name].gsub(/\'/,'`') %>"
    var optical_store_id = "<%= @mis_params[:optical_store_id] %>"
    var optical_store_name = "<%= @mis_params[:optical_store_name].gsub(/\'/,'`') %>"
    var conversion_status = "<%= @mis_params[:conversion_status] %>"
    var bill_type = "<%= @mis_params[:bill_type] %>"
    var bill_status = "<%= @mis_params[:bill_status] %>"
    var discount_type = "<%= @mis_params[:discount_type] %>"

    $("#mis-modal").modal("hide")

    update_data(start_date, end_date, time_period, facility_id, facility_name, user_id, user_name, department_id, department_name, bill_type, bill_status, pharmacy_store_id, pharmacy_store_name, optical_store_id, optical_store_name, conversion_status, discount_type)
  });

  $('#custom_start_date').on('cancel.daterangepicker', function(ev, picker) {
    $("#mis-modal").modal("hide")    
  });

  setTimeout(function(){ $("#custom_start_date").trigger("click"); }, 100);
</script>