<nav class="navbar navbar-inverse navbar-fixed-top mis_navbar">
  <%= render partial: "index_navbar.html.erb" %>
</nav>
<div class="mis-reports-list">
  <div class="row" style="padding:30px;">
    <div class="col-md-12">
      <div class="row">
        <div class="col-sm-4">
          <!-- Revenue -->
          <%= render partial: "/mis/revenue_reports/report_list.html.erb", locals: { group: 'revenue'} %>
        </div>
        <div class="col-sm-4">
          <!-- Tax -->
          <%= render partial: "/mis/revenue_reports/report_list.html.erb", locals: { group: 'tax'} %>
        </div>
        <div class="col-sm-4">
          <!-- Expenses -->
          <%= render partial: "/mis/revenue_reports/report_list.html.erb", locals: { group: 'expenses'} %>
        </div>
      <!-- </div>
      <div class="row"> -->
        <div class="col-sm-4">
          <!-- Others -->
          <%= render partial: "/mis/revenue_reports/report_list.html.erb", locals: { group: 'other'} %>
        </div>
        <div class="col-sm-4">
          <!-- Misc -->
          <%= render partial: "/mis/revenue_reports/report_list.html.erb", locals: { group: 'misc'} %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  // Window Size
  var window_height = $(window).height() - 50
  $(".mis_reports_panel").css('height', window_height)

  $(window).resize(function() {
    var window_height = $(window).height() - 50
    $(".mis_reports_panel").css('height', window_height)
  })


  $(".empty_response").on('click', function(e){
    e.preventDefault();

    if ($('.ui-pnotify').length == 0) {
      notice = new PNotify({
        title: 'Coming Soon',
        text: 'Hold on tight, this report will be available soon',
        type: 'success'
      });
      notice.get().click(function(){ notice.remove() });
    }
  })
</script>