<div class="mis_list">
  <h4><%=Mis::FinancialReportsHelper.rename_title(group)%></h4>
  <ul data-test-title="<%=group.titlecase%>" class="nav">
    <% if @mis_lists[group].present? && @mis_lists[group].count > 0 %>
      <% @mis_lists[group].each do |f_report| %>
        <li data-test-title="<%=f_report.titlecase%>">
          <%= link_to reports_view_mis_revenue_reports_path(group: group, title: f_report), data: { remote: true }, class: "mis_reports_link ps" do %>
            <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;<%=f_report.titlecase%></span>
          <% end %>
        </li>
      <% end %>
    <% else %>
      <li data-test-title="Coming Soon">
        <a href="#" class="empty_response mis_reports_link">
          <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;<%=group.titlecase%> Reports</span>
          <span class="mis-coming-soon">&emsp;Coming Soon</span>
        </a>
      </li>
    <% end %>
    <% if group == 'finance_statistics' && current_organisation["_id"] == '5d1acd4dcd29ba3243ea6d41' %>
      <li data-test-title="Procedure Bill Type Stats">
        <%= link_to reports_view_mis_revenue_reports_path(group: group, title: 'procedure_bill_type_stats'), data: { remote: true }, class: "mis_reports_link ps" do %>
          <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Procedure Bill Type Stats</span>
        <% end %>
      </li>
      <li data-test-title="Optical Bill Type Stats">
        <%= link_to reports_view_mis_revenue_reports_path(group: group, title: 'optical_bill_type_stats'), data: { remote: true }, class: "mis_reports_link ps" do %>
          <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Optical Bill Type Stats</span>
        <% end %>
      </li>
    <% elsif group == 'finance' %>
      <li data-test-title="Coming Soon">
        <a href="#" class="empty_response mis_reports_link">
          <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Bills By User</span>
          <span class="mis-coming-soon">&emsp;Coming Soon</span>
        </a>
      </li>
    <% end %>
  </ul>
</div>