<!-- <div class="navbar navbar-inverse navbar-fixed-top mis_navbar_custom"> -->
<div class="navbar navbar-inverse navbar-fixed-top mis_navbar">
  <%= render partial: "reports_navbar.html.erb" %>
</div>

<!-- <div class="filters" style="margin-top: 3%;">
  <div class="container tag-box">
    <span style='float:left; margin: 10px 10px 0 0;'>
      <a class="btn btn-default btn-xs ps" href="<%= @back_url %>" role="button" data-remote="true"><i class="fa fa-arrow-left"></i>&emsp;Back</a>
    </span>
    <div class="tag-container">
    </div>
    <%#= render partial: "filters_sidebar.html.erb" %>
  </div>
</div> -->

<!-- <div class="mis-reports-list custsom-mis-style"> -->
<div class="mis-reports-list">
  <div class="filters">
    <div class="container tag-box">
      <span style='float:left; margin: 10px 10px 0 0;'>
        <a class="btn btn-default btn-xs ps" href="<%= @back_url %>" role="button" data-remote="true"><i class="fa fa-arrow-left"></i>&emsp;Back</a>
      </span>
      <div class="tag-container">
      </div>
      <%= render partial: "filters_sidebar.html.erb" %>
    </div>
  </div>
  <div class="page">
    <div class="page-content container-fluid">
      <div class="panel">
        <div class="panel-body">
          <div class="example-wrap m-sm-0">
            <div class="example">
              <div class="bootstrap-table">
                <div class="fixed-table-container no-border">
                  <div class="fixed-table-body no-border">
                    <div id='div_note' style="display: none;">
                      <b>Note -</b> The billed amount includes discounts offered on a bill. Therefore, review the <%= link_to reports_view_mis_revenue_reports_path(group: 'finance_statistics', title: 'billing_statistics', start_date: @mis_params[:start_date], end_date: @mis_params[:end_date], facility_id: @mis_params[:facility_id], facility_name: @mis_params[:facility_name], time_period: @mis_params[:time_period], bill_type: @mis_params[:bill_type], bill_status: @mis_params[:bill_status], back_group: @mis_params[:group], back_title: @mis_params[:title]), data: { remote: true }, class: "mis_reports_link ps" do %>Billing Statistics<% end %> report for accurate summation.
                    </div>
                    <% if @mis_params[:group].present? && @mis_params[:title].present? %>
                      <!-- table mis-dataTable dataTable report-table-header text-center no-footer -->
                      <table id="<%= @mis_params[:group] %>_<%= @mis_params[:title] %>" data-mobile-responsive="true" class="table mis-dataTable report-table-header dataTable nowrap text-center no-footer"></table>
                    <% else %>
                      <h3 class="text-center">SOMETHING SEEMS TO BE WRONG.</h3>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <!-- End Example Table For Url -->
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  <%= render partial: 'reports_view.js.erb' %>
  var window_height = $(window).height() - 50
  $(".mis_reports_panel").css('height', window_height)

  $(window).resize(function() {
    var window_height = $(window).height() - 50
    $(".mis_reports_panel").css('height', window_height)
  })

  $(window).resize(function() {
    $(".mis-dataTable").css('width', "100%")
  })

  <% if @mis_params[:group].present? && @mis_params[:title].present? %>
    <%= render partial: "/mis/revenue_reports/#{@mis_params[:group]}/#{@mis_params[:title]}.js.erb" %>

    url = "<%= @mis_params[:url] %>group=<%= @mis_params[:group] %>&title=<%= @mis_params[:title] %>"
    history.pushState('', '', url); // history.pushState([data], [title], [url]);
  <% end %>
</script>
