// Stop Dropdown From Closing when Searching in list
$(document).on('click', '.mis-search-toggle-off', function (e) {
  $(".dropdown").removeClass("open");
  e.stopPropagation();
});

// Refresh Button
$(".refresh-mis-reports").on("click", function(e){
  e.preventDefault();
  $('.modal-backdrop').remove();
  var start_date = "<%= @mis_params[:start_date] %>"
  var end_date = "<%= @mis_params[:end_date] %>"
  var facility_id = "<%= @mis_params[:facility_id] %>"
  var facility_name = '<%= @mis_params[:facility_name].gsub(/\'/,"`") %>'
  var time_period = "<%= @mis_params[:time_period] %>"
  var user_id = $('#mis-doctor_id-filter').val();
  var user_name = $('#mis-doctor_id-filter option:selected').text();
  var department_id = $('#mis-department_id-filter').val();
  var department_name = $('#mis-department_id-filter option:selected').text();
  var pharmacy_store_id = $('#mis-pharmacy_store_id-filter').val();
  var pharmacy_store_name = $('#mis-pharmacy_store_id-filter option:selected').text();
  var optical_store_id = $('#mis-optical_store_id-filter').val();
  var optical_store_name = $('#mis-optical_store_id-filter option:selected').text();
  var conversion_status = $('#mis-conversion_status-filter').val();
  var bill_type = $('#mis-bill_type-filter').val();
  var bill_status = $('#mis-bill_status-filter').val();
  var discount_type = $('#mis-discount_type-filter').val();

  update_data(start_date, end_date, time_period, facility_id, facility_name, user_id, user_name, department_id, department_name, bill_type, bill_status, pharmacy_store_id, pharmacy_store_name, optical_store_id, optical_store_name, conversion_status, discount_type)
})

// Apply button
$("#mis-custom-filter").on("click", function(e){
  e.preventDefault();
  $('.modal-backdrop').remove();
  var arrSelected = [];

  var start_date = $('#period_start_date').val();
  var end_date = $('#period_end_date').val();
  var time_period = $('#mis-date-filter').text();
  var facility_id = $('#mis-facility_id-filter').val();
  var facility_name = $('#mis-facility_id-filter  option:selected').text();
  var user_id = $('#mis-doctor_id-filter').val();
  var user_name = $('#mis-doctor_id-filter option:selected').text();
  var department_id = $('#mis-department_id-filter').val();
  var department_name = $('#mis-department_id-filter option:selected').text();
  var pharmacy_store_id = $('#mis-pharmacy_store_id-filter').val();
  var pharmacy_store_name = $('#mis-pharmacy_store_id-filter option:selected').text();
  var optical_store_id = $('#mis-optical_store_id-filter').val();
  var optical_store_name = $('#mis-optical_store_id-filter option:selected').text();
  var conversion_status = $('#mis-conversion_status-filter').val();
  var bill_type = $('#mis-bill_type-filter').val();
  var bill_status = $('#mis-bill_status-filter').val();
  var discount_type = $('#mis-discount_type-filter').val();

  update_data(start_date, end_date, time_period, facility_id, facility_name, user_id, user_name, department_id, department_name, bill_type, bill_status, pharmacy_store_id, pharmacy_store_name, optical_store_id, optical_store_name, conversion_status, discount_type)
})

function update_data(start_date, end_date, time_period, facility_id, facility_name, user_id, user_name, department_id, department_name, bill_type, bill_status, pharmacy_store_id, pharmacy_store_name, optical_store_id, optical_store_name, conversion_status, discount_type){
  // Fixed Params
  var organisation_id = "<%= @mis_params[:organisation_id] %>"
  var has_params = true
  var group = "<%= @mis_params[:group] %>"
  var title = "<%= @mis_params[:title] %>"
  var is_advance = "<%= @mis_params[:is_advance] %>"
  var is_bill = "<%= @mis_params[:is_bill] %>"
  var is_refund = "<%= @mis_params[:is_refund] %>"
  var country_id = "<%= @mis_params[:country_id] %>"

  // Back Params
  var back_start_date = "<%= @mis_params[:back_start_date] %>"
  var back_end_date = "<%= @mis_params[:back_end_date] %>"
  var back_time_period = "<%= @mis_params[:back_time_period] %>"
  var back_group = "<%= @mis_params[:back_group] %>"
  var back_title = "<%= @mis_params[:back_title] %>"
  var back_iDisplayStart = "<%= @mis_params[:back_iDisplayStart] %>"
  var back_iDisplayLength = "<%= @mis_params[:back_iDisplayLength] %>"

  $.ajax({
    type: "GET",
    dataType: "script",
    url: "/mis/revenue_reports/reports_view",
    data: {
      start_date: start_date,
      end_date: end_date,
      time_period: time_period,
      organisation_id: organisation_id,
      facility_id: facility_id,
      facility_name: facility_name,
      user_id: user_id,
      user_name: user_name,
      department_id: department_id,
      department_name: department_name,
      pharmacy_store_id: pharmacy_store_id,
      pharmacy_store_name: pharmacy_store_name,
      optical_store_id: optical_store_id,
      optical_store_name: optical_store_name,
      conversion_status: conversion_status,
      bill_type: bill_type,
      bill_status: bill_status,
      discount_type: discount_type,
      group: group,
      title: title,
      is_advance: is_advance,
      is_bill: is_bill,
      is_refund: is_refund,
      country_id: country_id,
      has_params: has_params,
      back_start_date: back_start_date,
      back_end_date: back_end_date,
      back_time_period: back_time_period,
      back_group: back_group,
      back_title: back_title,
      back_iDisplayStart,
      back_iDisplayLength,
    }
  });
}

$('#mis-facility_id-filter').on("change", function(e){
  facility_id = $(this).val();
  if($('#mis-pharmacy_store_id-filter').length) {
    get_store_from_facility(facility_id, 'pharmacy');
  } else if($('#mis-optical_store_id-filter').length) {
    get_store_from_facility(facility_id, 'optical');
  } 
});

function get_store_from_facility(facility_id, store_type) {
  var params = { facility_id: facility_id, store_type: store_type };
  $.ajax({
    dataType: "JSON",
    type: "GET",
    url: "/inventory/stores/load_store_filters",
    data: {ajax: params},
    success: function(response){
      response_first_key = Object.keys( response )[0];
      response_first_val = Object.values( response )[0];
      $(".mis-"+store_type+"_store_id-filter").html("");
      $.each(response, function(key, value) {
        $(".mis-"+store_type+"_store_id-filter").append("<option value=" + value + ">" + key + "</option>")
      });
      if(response_first_key == 'Store Not Found') {
        $(".mis-"+store_type+"_store_id-filter").prop('disabled', true);
      } else {
        $(".mis-"+store_type+"_store_id-filter").prop('disabled', false);
        if(store_type == 'pharmacy') {
          if($.inArray( "<%= @mis_params[:pharmacy_store_id] %>", Object.values( response ) ) == -1) {
            $(".mis-"+store_type+"_store_id-filter").val(response_first_val);
          } else {
            $(".mis-"+store_type+"_store_id-filter").val("<%= @mis_params[:pharmacy_store_id] %>");
          }
        } else if(store_type == 'optical') {
          if($.inArray( "<%= @mis_params[:optical_store_id] %>", Object.values( response ) ) == -1) {
            $(".mis-"+store_type+"_store_id-filter").val(response_first_val);
          } else {
            $(".mis-"+store_type+"_store_id-filter").val("<%= @mis_params[:optical_store_id] %>");
          }
        }
      }
      appendinTag();
      addTags();
    }
  });
}

if($('#mis-pharmacy_store_id-filter').length) {
  get_store_from_facility($('#mis-facility_id-filter').val(), 'pharmacy');
} else if($('#mis-optical_store_id-filter').length) {
  get_store_from_facility($('#mis-facility_id-filter').val(), 'optical');
}