<div class="modal-dialog modal-md" style="width: 60%;">
  <div class="modal-content inventory-lot-modal" style="">
    <div class="modal-header inventory-lot-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title text-center">Lots</h4>
    </div>

    <div class="modal-body inventory-lot-body">
      <%= form_tag :update_lots_inventory_order_requisition_received_index, id: :lot_form, remote: true do %>
        <input type="hidden" name="variant_id" value="<%= @variant.id %>">
        <div class="row">
          <h4>Issue Quantity: </h4>
        </div>
        <div class="row">
          <table class="table">
            <thead class="table table-striped table-bordered ">
              <tr class='thead-fixable'>
               <th>#</th>
                <th>Description</th>
                <th class="text-center" style="width: 10%;">Batch No.</th>
                <th>Expiry</th>
                <th class="text-center">GRN No.</th>
                <th class="text-center">GRN Time</th>
                <th class="text-center">MRP</th>
                <th class="text-center">Rate</th>
                <th class="text-center" style="width: 10%;">Avilable Qty</th>
                <th class="text-right">Issue Qty</th>
              </tr>
              <tbody>
                <% @count = 1 %>
                <% @items.each do |i, item| %>
                  <tr>
                    <td><%= @count %></td>
                    <td><%= item[:description] %></td>
                    <td><%= item[:batch_no] %></td>
                    <% expiry_date = item[:expiry].present? ? Date.parse(item[:expiry])&.strftime("%d/%m/%Y") : 'NA' %>
                    <td><%= expiry_date %></td>
                      <% lot = Inventory::Item::Lot.find_by(id: item[:lot_id])%>
                      <td>
                      <% if lot.transaction_display_id.present? %>
                       <%= lot.transaction_display_id %>
                      <% else %>
                        NA
                      <% end %>  
                    </td>
                    <td>
                    <% if lot.transaction_date.present? %>
                     <%= lot.transaction_date.try(:strftime,"%d/%m/%Y") %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= lot.transaction_time.try(:strftime,"%I:%M %p")%>
                    <% else %>
                      NA
                    <% end %>  
                    </td>
                    <td><%=lot.list_price&.round(2)%></td>
                    <td><%= lot.unit_cost_without_tax&.present? ? lot.unit_cost_without_tax&.round(2) : 'NA' %></td>
                    <td class="text-center lot-available-stock"><%= item[:available_stock] %></td>
                    
                    <td> 
                      <input type="hidden" name="lots[items_attributes][<%=i%>][available_stock]" value="<%= item[:available_stock] %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][expiry]" value="<%= item[:expiry] %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][lot_id]" value="<%= item[:lot_id] %>">
                      <input type="text" class="form-control lot-stock" style="width: 50%;float: right;" name="lots[items_attributes][<%=i%>][stock]" value='<%= item[:stock]%>'>
                      
                      <input type="hidden" name="lots[items_attributes][<%=i%>][item_code]" value="<%= item[:item_code]%>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][variant_code]" value="<%= item[:variant_code] %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][item_id]" value="<%= item[:item_id] %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][variant_id]" value="<%= item[:variant_id] %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][category]" value="<%= item[:category] %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][barcode]" value="<%= item[:barcode] %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][barcode_present]" value="<%= item[:barcode_present] %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][variant_reference_id]" value="<%= item[:variant_reference_id] %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][item_reference_id]" value="<%= item[:item_reference_id] %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][lot_reference_id]" value="<%= item[:lot_reference_id] %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][facility_id]" value="<%= item[:facility_id] %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][store_id]" value="<%= item[:store_id] %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][organisation_id]" value="<%= item[:organisation_id] %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][search]" value="<%= item[:search] %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][variant_identifier]" value="<%= item[:variant_identifier] %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][mark_up]" value="<%= item[:mark_up] %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][mrp]" value="<%= item[:mrp] %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][list_price]" value="<%= item[:list_price] %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][unit_non_taxable_amount]" value="<%= item[:unit_non_taxable_amount] %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][unit_taxable_amount]" value="<%= item[:unit_taxable_amount] %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][tax_rate]" value="<%= item[:tax_rate] %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][tax_name]" value="<%= item[:tax_name] %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][tax_group_id]" value="<%= item[:tax_group_id] %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][tax_inclusive]" value="<%= item[:tax_inclusive] %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][vendor_name]" value="<%= item[:vendor_name] %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][vendor_id]" value="<%= item[:vendor_id] %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][model_no]" value="<%= item[:model_no] %>">
                      <% if item[:custom_field_data].present? %>
                        <% item[:custom_field_data].each do |k,v| %>
                          <input type="hidden" name="lots[items_attributes][<%=i%>][custom_field_data][<%=k%>]" value="<%= v %>">
                        <% end %>
                      <% end %>
                      <% unless item[:custom_field_tags].blank? %>
                        <select multiple="multiple" style="display: none;" name="lots[items_attributes][<%=i%>][custom_field_tags][]" >
                          <% item[:custom_field_tags].each do |v| %>
                            <option value="<%=v%>" selected></option>
                          <% end %>
                        </select>
                      <% end %>
                      <input type="hidden" name="lots[items_attributes][<%=i%>][description]" value="<%= item[:description] %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][batch_no]" value="<%= item[:batch_no] %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][self_batched]" value="<%= item[:self_batched] %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][expiry_present]" value="<%= item[:expiry_present] %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][total_cost]" class="price_including_tax" value="<%= item[:total_cost] %>">
                      <input type="hidden" class="item_unit_cost" name="lots[items_attributes][<%=i%>][unit_cost]" value="<%= item[:unit_cost] %>">

                    </td>
                  </tr>
                    <% @count += 1 %>
                <% end %>
              </tbody>
            </thead>
          </table>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="col-sm-6">Balance Quanity:</div>
            <div class="col-sm-6">
              <%= text_field_tag :balance_quantity, @balance_quantity, class: 'form-control', readonly: true %>
            </div>
            <div class="col-sm-6">Issue Quantity: </div>
            <div class="col-sm-6">
              <%= text_field_tag :issue_quantity, @issue_quantity, class: 'form-control', readonly: true %>
            </div>
            <div class="col-sm-6">Remaining Quanity: </div>
            <div class="col-sm-6">
              <%= text_field_tag :remaining_quantity, @remaining_quantity, class: 'form-control', readonly: true %>
            </div>
          </div>
          <div class="col-sm-6">
          </div>
          <div class="col-sm-12">
            <%= submit_tag 'Confirm', class: 'btn btn-success', style: 'float: right;',
                onclick: 'validate_lots_form()', data: { disable_with: "Please Wait..."} %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>