<div class="row">
  <h4 style="color: #00BFFF;">Item Details:</h4>
</div>
<div class="row check-font mt10 mb5">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Description</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Rem.Quantity</th>
      </tr>
    </thead>
    <tbody>
    <% @count = 1 %>
      <% @requisition_received.items.each do |item|%>
        <tr>
          <td><%= @count %></td>
          <td><%= "#{item.description}-#{item.custom_field_tags&.reject(&:blank?)&.join(', ')}" %></td>
          <td><%= item.category&.titleize %></td>
          <td><%= item.stock %></td>
          <td><%= item.reload.remaining_stock %></td>
        </tr>
        <% @count += 1 %>
      <% end %>
    </tbody>
  </table>
</div>
