<div class="modal-dialog modal-md" style="width: 60%;">
  <div class="modal-content inventory-lot-modal" style="">
    <div class="modal-header inventory-lot-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title text-center">Lots</h4>
    </div>

    <div class="modal-body inventory-lot-body">
      <%= form_tag :add_lots_inventory_order_requisition_received_index, id: :lot_form, remote: true do %>
        <input type="hidden" name="variant_id" value="<%= @variant.id %>">
        <input type="hidden" name="req_variant_id" value="<%= @req_variant&.id.to_s %>">
         <input type="hidden" name="transaction_date" value="<%#= @requisition_received.transaction_display_id %>">
        <div class="row">
          <h4>Issue Quantity: </h4>
        </div>
        <div class="row">
          <table class="table">
            <thead class="table table-striped table-bordered ">
              <tr class='thead-fixable'>
                <th>#</th>
                <th>Description</th>
                <th>Batch No.</th>
                <th>Expiry</th>
                <th class="text-center">GRN No.</th>
                <th class="text-center">GRN Time</th>
                <th class="text-center">MRP</th>
                <th class="text-center">Rate</th>
                <th class="text-center">Avilable Quantity</th>
                <th class="text-center">Sub Store</th>
                <th class="text-right">Issue Quantity</th>
              </tr>
              <tbody>
                <% @lots.each_with_index do |lot, i| %>
                  <tr>
                    <td><%= i + 1 %></td>
                    <td><%= lot.description %></td>
                    <td><%= lot.batch_no %></td>
                    <% expiry_date = lot.expiry.present? ? lot.expiry.strftime("%d/%m/%Y") : 'NA' %>
                    <td><%= expiry_date %></td>
                    <td class="text-center"><%= lot.transaction_display_id&.present? ? lot.transaction_display_id : 'NA' %></td>
                    <td class="text-center">
                    <% if lot.transaction_date&.present? %>
                      <%= lot.transaction_date.try(:strftime,"%d/%m/%Y") %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= lot.transaction_time.try(:strftime,"%I:%M %p")%>
                    <% else %>
                      <%= 'NA' %>
                    <% end %>    
                    </td>
                    <td><%=lot.list_price&.round(2)%></td>
                    <td><%= lot.unit_cost_without_tax&.present? ? lot.unit_cost_without_tax&.round(2) : 'NA' %></td>
                    <td class="text-center lot-available-stock"><%= lot.available_stock %></td>
                    <td class="text-center lot-available-stock"><%= lot.sub_store_name %></td>
                    <td>
                      <input type="hidden" name="lots[items_attributes][<%=i%>][available_stock]" value="<%= lot.available_stock %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][lot_id]" value="<%= lot.id %>">
                      <input type="text" class="form-control lot-stock" style="width: 50%;float: right;" name="lots[items_attributes][<%=i%>][stock]" value='0'>
                      
                      <input type="hidden" name="lots[items_attributes][<%=i%>][item_code]" value="<%= @variant.item_code %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][variant_code]" value="<%= @variant.variant_code %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][item_id]" value="<%= @variant.item_id %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][variant_id]" value="<%= @variant.id %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][category]" value="<%= @variant.category %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][barcode]" value="<%= @variant.barcode %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][barcode_present]" value="<%= @variant.barcode_present %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][variant_reference_id]" value="<%= @variant.reference_id %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][item_reference_id]" value="<%= @inventory_item.reference_id %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][lot_reference_id]" value="<%= lot.reference_id %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][facility_id]" value="<%= @variant.facility_id %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][store_id]" value="<%= @variant.store_id %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][organisation_id]" value="<%= @variant.organisation_id %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][search]" value="<%= lot.search %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][variant_identifier]" value="<%= lot.variant_identifier %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][mark_up]" value="<%= lot.mark_up %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][mrp]" value="<%= lot.list_price %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][list_price]" value="<%= lot.list_price %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][unit_non_taxable_amount]" value="<%= lot.unit_non_taxable_amount %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][unit_taxable_amount]" value="<%= lot.unit_taxable_amount %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][tax_rate]" value="<%= lot.tax_rate %>" class="tax_rate">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][tax_name]" value="<%= lot.tax_name %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][tax_group_id]" value="<%= lot.tax_group_id %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][tax_inclusive]" value="<%= lot.tax_inclusive %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][vendor_name]" value="<%= lot.vendor_name %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][vendor_id]" value="<%= lot.vendor_id %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][model_no]" value="<%= lot.model_no %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][requisition_item_id]" value="<%= @item.requisition_item_id %>">
                      <% if lot.custom_field_data.present? %>
                        <% lot.custom_field_data.each do |k,v| %>
                          <input type="hidden" name="lots[items_attributes][<%=i%>][custom_field_data][<%=k%>]" value="<%= v %>">
                        <% end %>
                      <% end %>
                      <select multiple="multiple" style="display: none;" name="lots[items_attributes][<%=i%>][custom_field_tags][]" >
                        <% lot.custom_field_tags.each do |v| %>
                          <option value="<%=v%>" selected></option>
                        <% end %>
                      </select>
                      <input type="hidden" name="lots[items_attributes][<%=i%>][description]" value="<%= lot.description %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][batch_no]" value="<%= lot.batch_no %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][self_batched]" value="<%= lot.self_batched %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][expiry_present]" value="<%= lot.expiry_present %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][expiry]" value="<%= lot.expiry %>">
                      <input type="hidden" name="lots[items_attributes][<%=i%>][total_cost]" class="price_including_tax" value="0">
                      <input type="hidden" class="item_unit_cost" name="lots[items_attributes][<%=i%>][unit_cost]" value="<%= lot.unit_cost %>">

                    </td>
                  </tr>
                <% end %>
              </tbody>
            </thead>
          </table>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="col-sm-6">Balance Quanity:</div>
            <div class="col-sm-6">
              <%= text_field_tag :balance_quantity, @item.remaining_stock, class: 'form-control', readonly: true %>
            </div>
            <div class="col-sm-6">Issue Quantity: </div>
            <div class="col-sm-6">
              <%= text_field_tag :issue_quantity, 0, class: 'form-control', readonly: true %>
            </div>
            <div class="col-sm-6">Remaining Quanity: </div>
            <div class="col-sm-6">
              <%= text_field_tag :remaining_quantity, @item.remaining_stock, class: 'form-control', readonly: true %>
            </div>
          </div>
          <div class="col-sm-6">
          </div>
          <div class="col-sm-12">
            <%= submit_tag 'Confirm', class: 'btn btn-success', style: 'float: right;',
                onclick: 'validate_lots_form()', data: { disable_with: "Please Wait..."} %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>