<div class="row">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Description</th>
        <th>Requested Quantity</th>
        <th>Rem.Quantity</th>
        <th>Remark</th>
      </tr>
    </thead>
    <tbody>
      <% @requisition_received.items.each do |item|%>
        <% if item.remaining_stock == 0 %>
          <tr style="pointer-events: none;color: red;" id="requisition-item-<%= item.variant_id%>">
        <% else %>
          <tr style="cursor: pointer;" onclick=" variantLots('<%= item.id%>');" id="requisition-item-<%= item.variant_id%>">
        <% end %>
          <td><%= "#{item.description}-#{item.custom_field_tags&.reject(&:blank?)&.join(', ')}" %></td>
          <td><%= item.stock %></td>
          <td><%= item.remaining_stock %></td>
          <td><%= item.remark %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
