<div class="">
  <% unless @from.present? %>
    <div class="btn-group" style="margin: 10px;">
      <a href="/inventory/order/requisition_received/print?order_id=<%= @requisition_received.id %>&page_size=A4" class="btn btn-success btn-xs" target='_blank'> <i class="fa fa-print"></i>&nbsp;Print A4</a>
      <a href="/inventory/order/requisition_received/print?order_id=<%= @requisition_received.id %>&page_size=A5" class="btn btn-success btn-xs" target='_blank'> <i class="fa fa-print"></i>&nbsp;Print A5</a>
    </div>
    <div class="btn-group" style="margin: 10px;">
    
    <% if @requisition_received.status != 'Completed' %>
      <% if Authorization::PolicyHelper.verification(current_user.id ,"HGP-100-114-101") %>
        <%= link_to 'New Transaction',
            new_transfer_inventory_order_requisition_received_path(@requisition_received, from: :requisition_received),
            class: 'btn btn-info btn-xs', remote: true %>
      <% else %>
        <a class="btn btn-info btn-xs disabled" style="pointer-events: all" title="Not Authorized">New Transaction</a>
      <% end %>
    <% end %>
    </div>
  <% end %>

  <% unless @requisition_received.status == 'Completed' %>
    <%= link_to close_inventory_order_requisition_received_index_path(id: @requisition_received.id), class: 'btn btn-danger btn-xs closeReq' do %> <i class=""></i> Close<% end %>
  <% end %>

  <% if @from.present? %>
    <% if @requisition_received.status == 'open' %>
      <%= link_to disable_inventory_order_requisition_receiveds_path(id: @requisition_received.id, store_id: @requisition_received.store_id), class: 'btn btn-danger btn-xs ', data: { confirm: 'Are you sure?', commit: 'Yes', remote: true, 'disable-with' => 'Please Wait...',  class: 'btn btn-danger' } do %> <i class=""></i> Cancel<% end %>
      <%= link_to approve_inventory_order_requisition_receiveds_path(id: @requisition_received.id, store_id: @requisition_received.store_id), class: 'btn btn-success btn-xs ', data: { confirm: 'Are you sure?', commit: 'Yes', remote: true, 'disable-with' => 'Please Wait...',  class: 'btn btn-danger' } do %> <i class=""></i> Approve<% end %>

      <%= link_to edit_inventory_order_requisition_received_path(id: @requisition_received.id, store_id: @requisition_received.store_id), class: "btn btn-primary btn-xs", data: { remote: true, 'toggle' => 'modal', 'target' => '#inventory-modal', class: 'btn btn-info'} do %><i class="fa fa-edit"></i>Edit<% end %>
    <% end %>
  <% else %>
    <!-- <%#= link_to inventory_order_requisition_received_path(id: @requisition_received.id, store_id: @requisition_received.store_id, from: 'view_section'), class: "btn btn-primary btn-xs", data: { remote: true, 'toggle' => 'modal', 'target' => '#requisition_received-order-modal', class: 'btn btn-info'} do %>View Order<%# end %> -->
  <% end %>
  <br><br>
  <%= render partial: '/inventory/order/requisition_received/show_body.html.erb' %>
</div>
<div class="mt5">
  <div class="col-sm-12">
    <%= render partial: '/inventory/order/requisition_received/transactions.html.erb' %>
  </div>
</div>

<div id="closeModal" class="modal false fade in" tabindex="-1" role="dialog" aria-labelledby="closeModal" aria-hidden="false" style="z-index: 1051; display: hidden;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-button" data-dismiss="modal" aria-hidden="true">×</button>
        <h5 id="closeModal" class="modal-title">Requisition Received Closure Confirmation</h5> 
      </div>
      <%= form_tag close_inventory_order_requisition_received_index_path(id: @requisition_received.id, store_id: @requisition_received.store_id, date: Date.current), method: 'get', remote: true, id: 'new-message-form', class: "new-message-form" do %>
        <div class="modal-body">
          <%= label_tag "You are about to close a open Requisition Request. Are you sure?"%><br>
          <%= label_tag "Please provide a reason for closure below"%>
          <%= text_field_tag :closed_reason, '', class: "form-control p7_10", placeholder: 'Reason for Closure', minlength: '5', required: true %>
        </div>
        <div class="modal-footer">
          <button class="btn commit btn-success close-button" data-dismiss="modal">Don't Close</button>
          <%= submit_tag "Close Requisition", class: "btn btn-danger", data: { 'disable-with': 'Please Wait...' }, onclick: 'validateMessage()' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.cancelReq').click(function(e){
    e.preventDefault();
    $("#cancelModal").modal('show');
  })
  $(".close-button").click(function(){
    $("#closed_reason").val("");
  })
  $('.closeReq').click(function(e){
    e.preventDefault();
    $("#closeModal").modal('show');
  })
</script>

<style type="text/css">
  .table-add-item td{
    padding: 5px 5px 0;
  }

  .check_font table tr th {
    padding: 2px 5px;
  }

  .check_font table tr td {
    padding: 2px 5px;
  }

  .check_font {
    font-size: 11px;
  }
</style>
