<div class="container-fluid" id="freeInvoiceEdit" style="border-bottom:1px solid #eee;">
  <div class="row mb5">
    <div class="row mb5 col-md-12">
      <div class="col-md-2 font_size text-right"><b style="font-size: 17px;">Requisition</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
      <div class="col-md-10 font_size" style="padding: 0;margin: 0;font-size: 17px;">
        <span><%= @requisition_received.requisition_display_id %></span>
        <span style="padding: 2px;font-weight: bolder;">|</span>
        <span><%= @requisition_received.created_from %></span>
        <span style="padding: 2px;font-weight: bolder;">|</span>
        <span><%= @requisition_received.requisition_approved_time.try(:strftime, '%d-%m-%Y') %>&nbsp;|&nbsp;<%= @requisition_received.requisition_approved_time&.strftime("%I:%M%p") %></span>
      </div>
      <!-- <div class="col-md-4 font_size"><b>Store:&nbsp;&nbsp;&nbsp; <%#= @inventory_store.name %></b></div>
      <div class="col-md-4 font_size"><b>Requisition No.:&nbsp;&nbsp;&nbsp; <%#= @requisition_received.requisition_display_id %></b></div>
      <div class="col-md-4 font_size"><b>Status:&nbsp;&nbsp;&nbsp; <%#= @requisition_received.status&.titleize %></b>
        <%# if @requisition_received.status == 'Closed' %>
          <i class="fa fa-info-circle hg-tooltip" title="Closed By: <%#= @requisition_received.closed_by %> &#13;&#10; Closure Time: <%#= @requisition_received.closed_date_time&.strftime('%d/%m/%Y  %I:%M %p') %> &#13;&#10; Closure Reason: <%#= @requisition_received.closed_reason %>" style="cursor:help;"></i>
        <%# end %>
      </div> -->
    </div>
    <div class="row mb5 col-md-12">
       <div class="col-md-2 font_size text-right"><b>Created By</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
      <div class="col-md-10 font_size" style="padding: 0;margin: 0;">
        <span><%= @requisition_received.requisition_order_created_by_name %></span>
        <span style="padding: 2px;font-weight: bolder;">|</span>
        <span><%= @requisition_received.requisition_created_at.try(:strftime, '%d-%m-%Y') %>&nbsp;|&nbsp;<%= @requisition_received.requisition_created_at&.strftime("%I:%M%p") %></span>
        <span style="padding: 2px;font-weight: bolder;">|</span>
        <span><%= @requisition_received.requisition_order_store_name %>-<%= @requisition_received.requisition_order_department_name %></span>
      </div>
      <!-- <div class="col-md-4 font_size"><b>Created By:&nbsp;&nbsp;&nbsp; <%#= @requisition_received.requisition_order_created_by_name %></b></div>
      <div class="col-md-4 font_size"><b>Received From:&nbsp;&nbsp;&nbsp; <%#= @requisition_received.requisition_order_store_name %></b></div>
      <div class="col-md-4 font_size"><b>Approved ON:&nbsp;&nbsp;&nbsp; <%#= @requisition_received.requisition_approved_time.try(:strftime, '%d-%m-%Y') %>&nbsp;|&nbsp;<%#= @requisition_received.requisition_approved_time&.strftime("%I:%M%p") %></b></div> -->
    </div>
    <!-- <div class="row mb5 col-md-12">
      <div class="col-md-4 font_size"><b>Created From:&nbsp;&nbsp;&nbsp; <%#= @requisition_received.created_from %></b></div>
      <div class="col-md-4 font_size"><b>Created AT:&nbsp;&nbsp;&nbsp; <%#= @requisition_received.requisition_created_at.try(:strftime, '%d-%m-%Y') %>&nbsp;|&nbsp;<%#= @requisition_received.requisition_created_at&.strftime("%I:%M%p") %></b></div>
      <div class="col-md-4 font_size"><b>Approved By:&nbsp;&nbsp;&nbsp; <%#= @requisition_received.requisition_order_approved_by_name %></b></div>
    </div> -->
      <div class="row mb5 col-md-12">
        <div class="col-md-2 font_size text-right"><b>Approved By</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
        <div class="col-md-10 font_size" style="padding: 0;margin: 0;">
          <span><%= @requisition_received.requisition_order_approved_by_name %></span>
          <span style="padding: 2px;font-weight: bolder;">|</span>
          <span><%= @requisition_received.requisition_approved_time.try(:strftime, '%d-%m-%Y') %>&nbsp;|&nbsp;<%= @requisition_received.requisition_approved_time&.strftime("%I:%M%p") %></span>
        </div>
      </div>
    <div class="row mb5 col-md-12">
        <div class="col-md-2 font_size text-right"><b>To</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
        <div class="col-md-10 font_size" style="padding: 0;margin: 0;">
          <span><%=  @requisition_received.store_name %></span>
          <span style="padding: 2px;font-weight: bolder;">-</span>
          <span><%=Inventory::Store.find(@requisition_received.store_id).department_name %></span>
        </div>
      </div>
    <div class="row mb5 col-md-12">
        <div class="col-md-2 font_size text-right"><b style="font-size: 17px;">Status</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
        <div class="col-md-10 font_size" style="padding: 0;margin: 0;font-size: 17px;">
          <span><%=  @requisition_received.status&.titleize  %></span>
          <% if @requisition_received.status == 'Closed' && @requisition_received.closed_date_time.present? %>
           <i class="fa fa-info-circle hg-tooltip" title="Closed By: <%= @requisition_received.closed_by %> &#13;&#10; Closure Time: <%= @requisition_received.closed_date_time&.strftime('%d/%m/%Y  %I:%M %p') %> &#13;&#10; Closure Reason: <%= @requisition_received.closed_reason %>" style="cursor:help;"></i>
          <% end %>
        </div>
    </div>
   <!--  <div class="row mb5 col-md-12">
      <div class="col-md-2 font_size text-right"><b>TXN NO.</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
      <div class="col-md-10 font_size" style="padding: 0;margin: 0;">

        <span><%#=  @requisition_received.status&.titleize  %></span>
        <%# if @requisition_received.status == 'Closed' %>
         <i class="fa fa-info-circle hg-tooltip" title="Closed By: <%#= @requisition_received.closed_by %> &#13;&#10; Closure Time: <%#= @requisition_received.closed_date_time&.strftime('%d/%m/%Y  %I:%M %p') %> &#13;&#10; Closure Reason: <%#= @requisition_received.closed_reason %>" style="cursor:help;"></i>
        <%# end %>
      </div>
    </div> -->
  </div>
  <%= render '/inventory/order/requisition_received/items.html' %>
</div>

<style>
  .font_size {
    font-size: 12px;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .text-labels {
    font-weight: bold;
  }
  .check-font table tr th {
    padding: 2px 5px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
  }

  .check-font table tr td {
    padding: 2px 5px;
    text-align: center;
  }

  .check-font {
    font-size: 11px;
  }
</style>
