<% if @transfer_transactions.length > 0 %>
  <h4 style="margin-top:0; color: #00BFFF">Issue History</h4>
  <% @transfer_transactions.each do |transfer| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <% transfer_id = params[:action] == "new_transfer" ? "transfer-#{transfer.id}" : "#{transfer.id}" %>
          <a data-toggle="collapse" href="#<%= transfer_id %>"
             role="button" aria-expanded="false" aria-controls="<%= transfer_id %>">
            <%= transfer&.issue_display_id %> |
             <%= transfer.transaction_date&.strftime("%d/%m/%Y") %>&nbsp;&nbsp;<%= transfer.transaction_time&.strftime("%I:%M%p") %>
          </a>
        </h4>
      </div>
      <div class="col-sm-12 collapse panel-collapse" id="<%=transfer_id%>">
        <div class="panel-body">
          <%= render partial: 'inventory/transaction/transfers/show_body.html', locals: {transfer: transfer} %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<style>
  .panel-heading {
    padding: 0;
    border:0;
  }
  .panel-title>a, .panel-title>a:active{
    display:block;
    padding:15px;
    color:#555;
    font-size:16px;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:1px;
    word-spacing:3px;
    text-decoration:none;
  }
  .panel-heading  a:before {
     font-family: 'Glyphicons Halflings';
     content: "\e114";
     float: right;
     transition: all 0.5s;
  }
  .panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
  } 
</style>