<div class="modal-dialog" style="width:80%;">
  <div class="modal-content">
    <div class="modal-header">
      <div class="pull-right">
        <% if @clinical_note || @all_operative_notes.count.to_i > 0 || @discharge_note %>
          <% if @print_settings.count.to_i > 1 %>
            <div class="btn-group" style="margin-bottom:0px;">
              <button type="button" class="btn btn-primary btn-xs full_print dropdown-toggle" data-toggle="dropdown"><i class="fa fa-print mr5"></i> All Summary <i class="fa fa-caret-down"></i></button>
              <ul class="dropdown-menu dropdown-left-manual" role="menu" aria-labelledby="summary-print-dropdown" style="">
                <% @print_settings.each do |print_setting| %>
                  <li style="text-align:left" class="multi-print">
                    <%= link_to inpatient_ipd_records_print_all_notes_path(admission_id: @admission.id.to_s, patient_id: @patient.id.to_s, view: "Summary", print_setting_id: print_setting.id, format: :pdf), :class => "",:style => "color: #d9534f;",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> <%= print_setting.name %> <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="btn-group" style="margin-bottom:0px;">
              <button type="button" class="btn btn-primary btn-xs full_print dropdown-toggle" data-toggle="dropdown"><i class="fa fa-print mr5"></i> All Notes <i class="fa fa-caret-down"></i></button>
              <ul class="dropdown-menu dropdown-left-manual" role="menu" aria-labelledby="summary-print-dropdown" style="">
                <% @print_settings.each do |print_setting| %>
                  <li style="text-align:left" class="multi-print">
                    <%= link_to inpatient_ipd_records_print_all_notes_path(admission_id: @admission.id.to_s, patient_id: @patient.id.to_s, view: "Note", print_setting_id: print_setting.id, format: :pdf), :class => "",:style => "color: #d9534f;",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> <%= print_setting.name %> <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% else %>
            <%= link_to inpatient_ipd_records_print_all_notes_path(admission_id: @admission.id.to_s, patient_id: @patient.id.to_s, view: "Summary", print_setting_id: @print_settings[0].id, format: :pdf), :class => "btn btn-primary btn-xs full_print",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> All Summary <% end %>
            <%= link_to inpatient_ipd_records_print_all_notes_path(admission_id: @admission.id.to_s, patient_id: @patient.id.to_s, view: "Note", print_setting_id: @print_settings[0].id, format: :pdf), :class => "btn btn-primary btn-xs full_print",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> All Note <% end %>
          <% end %>
        <% end %>        
        <button aria-hidden="true" class="btn btn-default btn-xs" data-dismiss="modal">Close</button>
      </div>
      <div class="text-left">
        <h4 class="nomargin">IPD Summary</h4>
      </div>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="col-md-2">
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#admission_note" data-toggle="tab" style="padding:10px;">Clinical Note</a></li>

            <% @all_operative_notes.each_with_index do |operative,i| %>
              <li><a href="#operative_note_<%= i %>" data-toggle="tab" style="padding:10px;">Operative Note(<%= operative.try(:note_created_at).try(:strftime, "%d/%m/%y") %>)</a></li>
            <% end %>

            <li><a href="#discharge_note" data-toggle="tab" style="padding:10px;">Discharge Note</a></li>
            <li><a href="#nursing_record" data-toggle="tab" style="padding:10px;">Nursing Records</a></li>
          </ul>
        </div>

        <div class="col-md-10">
          <div class="tab-content">
            <div class="tab-pane active" id="admission_note">
              <div class="col-md-12">
                <% if @clinical_note && Authorization::PolicyHelper.verification(current_user.id ,"HGP-101-106-100") %>
                  <div class="text-right">
                    <% if @print_settings.count > 1 %>
                      <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-xs full_print dropdown-toggle" data-toggle="dropdown"><i class="fa fa-print mr5"></i> Summary <i class="fa fa-caret-down"></i></button>
                        <ul class="dropdown-menu dropdown-left-manual" role="menu" aria-labelledby="summary-print-dropdown" style="">
                          <% @print_settings.each do |print_setting| %>
                            <li style="text-align:left" class="multi-print">
                              <% print_summary = "inpatient_ipd_record_clinical_note_" + @speciality_folder_name + "_note_print_path(id: @clinical_note.id, " + @speciality_folder_name + "_note_id: @clinical_note.id, admission_id: @admission.id.to_s, view: 'Summary', format: 'pdf', print_setting_id: print_setting.id)" %>
                              <%= link_to eval(print_summary), :class => "",:style => "color: #d9534f;",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> <%= print_setting.name %> <% end %>
                            </li>
                          <% end %>
                        </ul>
                      </div>
                      <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-xs full_print dropdown-toggle" data-toggle="dropdown"><i class="fa fa-print mr5"></i> Note <i class="fa fa-caret-down"></i></button>
                        <ul class="dropdown-menu dropdown-left-manual" role="menu" aria-labelledby="summary-print-dropdown" style="">
                          <% @print_settings.each do |print_setting| %>
                            <li style="text-align:left" class="multi-print">
                              <% print_note = "inpatient_ipd_record_clinical_note_" + @speciality_folder_name + "_note_print_path(id: @clinical_note.id, " + @speciality_folder_name + "_note_id: @clinical_note.id, admission_id: @admission.id.to_s, view: 'Note', format: 'pdf', print_setting_id: print_setting.id)" %>
                              <%= link_to eval(print_note), :class => "",:style => "color: #d9534f;",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> <%= print_setting.name %> <% end %>
                            </li>
                          <% end %>
                        </ul>
                      </div>
                    <% else %>
                      <% print_summary = "inpatient_ipd_record_clinical_note_" + @speciality_folder_name + "_note_print_path(id: @clinical_note.id, " + @speciality_folder_name + "_note_id: @clinical_note.id, admission_id: @admission.id.to_s, view: 'Summary', format: 'pdf', print_setting_id: @print_settings[0].id)" %>
                      <%= link_to eval(print_summary), :class => "btn btn-primary btn-xs full_print",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> Summary <% end %>

                      <% print_note = "inpatient_ipd_record_clinical_note_" + @speciality_folder_name + "_note_print_path(id: @clinical_note.id, " + @speciality_folder_name + "_note_id: @clinical_note.id, admission_id: @admission.id.to_s, view: 'Note', format: 'pdf', print_setting_id: @print_settings[0].id)" %>
                      <%= link_to eval(print_note), :class => "btn btn-primary btn-xs full_print",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> Note <% end %>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <div class="col-md-12">
                <div class="opdsummary">
                  <% if @clinical_note %>
                    <div class="paper_view">
                      <h4 class="text-center" style="padding-top:10px;text-transform: uppercase;">Admission Summary</h4>
                      <%= render partial: "inpatient/ipd_record/clinical_note/#{@speciality_folder_name}_notes/view_body", locals: {view: "Summary", mail_job: false} %>
                    </div>
                    <div class="paper_view">
                      <h4 class="text-center" style="padding-top:10px;text-transform: uppercase;">Admission Note</h4>
                      <%= render partial: "inpatient/ipd_record/clinical_note/#{@speciality_folder_name}_notes/view_body", locals: {view: "Note", mail_job: false} %>
                    </div>
                  <% else %>
                    <h3 class="text-center" style="padding-top:30px;">No Admission Note/Summary</h3>
                  <% end %>
                </div>
              </div>
            </div>

            <% @all_operative_notes.each_with_index do |operative,i| %>
              <div class="tab-pane" id="operative_note_<%= i %>">
                <div class="col-md-12">
                  <% if operative %>
                    <div class="text-right">
                      <% if Authorization::PolicyHelper.verification(current_user.id ,"HGP-101-107-100") %>
                        <% if @print_settings.count > 1 %>
                          <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-xs full_print dropdown-toggle" data-toggle="dropdown"><i class="fa fa-print mr5"></i> Summary <i class="fa fa-caret-down"></i></button>
                            <ul class="dropdown-menu dropdown-left-manual" role="menu" aria-labelledby="summary-print-dropdown" style="">
                              <% @print_settings.each do |print_setting| %>
                                <li style="text-align:left" class="multi-print">
                                  <% @print = "inpatient_ipd_record_operative_note_" + @speciality_folder_name + "_note_print_path(id: operative.id, " + @speciality_folder_name + "_note_id: operative.id, admission_id: @admission.id.to_s, view: 'Summary', format: 'pdf', print_setting_id: print_setting.id)" %>
                                  <%= link_to eval(@print), :class => "",:style => "color: #d9534f;",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> <%= print_setting.name %> <% end %>
                                </li>
                              <% end %>
                            </ul>
                          </div>
                          <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown"><i class="fa fa-print mr5"></i> Note <i class="fa fa-caret-down"></i></button>
                            <ul class="dropdown-menu dropdown-left-manual" role="menu" aria-labelledby="summary-print-dropdown" style="">
                              <% @print_settings.each do |print_setting| %>
                                <li style="text-align:left" class="multi-print">
                                  <% @print = "inpatient_ipd_record_operative_note_" + @speciality_folder_name + "_note_print_path(id: operative.id, " + @speciality_folder_name + "_note_id: operative.id, admission_id: @admission.id.to_s, view: 'Note', format: 'pdf', print_setting_id: print_setting.id)" %>
                                  <%= link_to eval(@print), :class => "operative_note_print",:style => "color: #d9534f;",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> <%= print_setting.name %> <% end %>
                                </li>
                              <% end %>
                            </ul>
                          </div>
                        <% else %>
                          <% print_summary = "inpatient_ipd_record_operative_note_" + @speciality_folder_name + "_note_print_path(id: operative.id, " + @speciality_folder_name + "_note_id: operative.id, admission_id: @admission.id.to_s, view: 'Summary', format: 'pdf', print_setting_id: @print_settings[0].id)" %>
                          <%= link_to eval(print_summary), :class => "btn btn-primary btn-xs full_print",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> Summary <% end %>

                          <% print_note = "inpatient_ipd_record_operative_note_" + @speciality_folder_name + "_note_print_path(id: operative.id, " + @speciality_folder_name + "_note_id: operative.id, admission_id: @admission.id.to_s, view: 'Note', format: 'pdf', print_setting_id: @print_settings[0].id)" %>
                          <%= link_to eval(print_note), :class => "btn btn-primary btn-xs full_print",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> Note <% end %>
                        <% end %>
                      <% end %>
                      <div class="col-md-6">
                        <% show_language_support = current_facility.show_language_support %>
                        <% if show_language_support %>
                          <% @id = operative.advice.advice_set_id %>
                          <% if @id.present? %>
                            <% if @id.length > 2 %>
                              <% @find_advice_set = AdviceSet.find_by(id: @id) %>
                              <% if @find_advice_set.present? %>
                                <% @advice_set_language = AdviceSet.find_by(id: @id).language_advice_subset.pluck(:language, :lcid_code) %>
                              <% else %>
                                <% @advice_set_language = [['']] %>
                              <% end %>
                            <% else %>
                              <% @advice_set_language = [['English', 'en'], ['Hindi', 'hi'], ['Bengali', 'bn'], ['Kannada', 'kn'], ['Tamil', 'ta'], ['Telugu', 'te'], ['Gujarati', 'gu']] %>
                            <% end %>
                          <% else %>
                            <% @advice_set_language = [['']] %>
                          <% end %>
                          <div class="col-md-3">Language:</div>
                          <div class="col-md-9">
                            <%= select_tag("advice_dropdown", options_for_select(@advice_set_language),{:include_blank => '',:class => 'advice_dropdown form-control', "data-operative_id": operative.id.to_s }) %>
                          </div>
                        <%end%>
                      </div>
                    </div>
                  <% end %>
                </div>
                <div class="col-md-12">
                  <div class="opdsummary">
                    <% if operative %>
                      <div class="paper_view">
                        <h4 class="text-center" style="padding-top:10px;text-transform: uppercase;">Operative Summary</h4>
                        <%= render partial: "inpatient/ipd_record/operative_note/#{@speciality_folder_name}_notes/view_body", locals: {view: "Summary",operative: operative,mail_job: false} %>
                      </div>
                      <div class="paper_view">
                        <h4 class="text-center" style="padding-top:10px;text-transform: uppercase;">Operative Note</h4>
                        <%= render partial: "inpatient/ipd_record/operative_note/#{@speciality_folder_name}_notes/view_body", locals: {view: "Note",operative: operative,mail_job: false} %>
                      </div>
                    <% else %>
                      <h3 class="text-center" style="padding-top:30px;">No Operative Note/Summary</h3>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>

            <div class="tab-pane" id="discharge_note">
              <div class="col-md-12">
                <% if @discharge_note %>
                  <% if @discharge_note.try(:treatmentmedication).present? %>
                    <div class="col-md-6">
                      <% show_language_support = current_facility.show_language_support %>
                      <% if show_language_support %>
                        <% @discharge_note.treatmentmedication.each.with_index do |medication,i| %>
                          <% if medication.instruction.present?%>
                            <div class="col-md-3">Language:</div>
                            <div class="col-md-9">
                              <%= select_tag("medication_dropdown", options_for_select([['English','en'],['Hindi','hi'],['Kannada','kn'],['Tamil','ta'],['Telugu','te'],['Gujarati','gu']]),{:include_blank => '',:class => 'form-control'}) %>
                            </div>
                            <%break%>
                          <% else %>
                            <% if medication.instruction.present? || medication.medicineinstructions.present?%>
                              <b>**No translation for these instruction are available</b>
                            <%end%>
                            <%break%>
                          <%end%>
                        <%end%>
                      <%end%>
                    </div>
                  <%end%>
                  
                  <% if Authorization::PolicyHelper.verification(current_user.id ,"HGP-101-109-100") %>
                    <div class=" col-md-12 text-right">
                      <% if @print_settings.count > 1 %>
                        <div class="btn-group">
                          <button type="button" class="btn btn-primary btn-xs full_print dropdown-toggle" data-toggle="dropdown"><i class="fa fa-print mr5"></i> Summary <i class="fa fa-caret-down"></i></button>
                          <ul class="dropdown-menu dropdown-left-manual" role="menu" aria-labelledby="summary-print-dropdown" style="">
                            <% @print_settings.each do |print_setting| %>
                              <li style="text-align:left" class="multi-print">
                                <% @print = "inpatient_ipd_record_discharge_note_" + @speciality_folder_name + "_note_print_path(id: @discharge_note.id, " + @speciality_folder_name + "_note_id: @discharge_note.id, admission_id: @admission.id.to_s, view: 'Summary', format: 'pdf', print_setting_id: print_setting.id)" %>
                                <%= link_to eval(@print), :class => "",:style => "color: #d9534f;",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> <%= print_setting.name %> <% end %>
                              </li>
                            <% end %>
                          </ul>
                        </div>
                        <div class="btn-group">
                          <button type="button" class="btn btn-primary btn-xs full_print dropdown-toggle" data-toggle="dropdown"><i class="fa fa-print mr5"></i> Note <i class="fa fa-caret-down"></i></button>
                          <ul class="dropdown-menu dropdown-left-manual" role="menu" aria-labelledby="summary-print-dropdown" style="">
                            <% @print_settings.each do |print_setting| %>
                              <li style="text-align:left" class="multi-print">
                                <% @print = "inpatient_ipd_record_discharge_note_" + @speciality_folder_name + "_note_print_path(id: @discharge_note.id, " + @speciality_folder_name + "_note_id: @discharge_note.id, admission_id: @admission.id.to_s, view: 'Note', format: 'pdf', print_setting_id: print_setting.id)" %>
                                <%= link_to eval(@print), :class => "",:style => "color: #d9534f;",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> <%= print_setting.name %> <% end %>
                              </li>
                            <% end %>
                          </ul>
                        </div>
                      <% else %>
                        <% print_summary = "inpatient_ipd_record_discharge_note_" + @speciality_folder_name + "_note_print_path(id: @discharge_note.id, " + @speciality_folder_name + "_note_id: @discharge_note.id, admission_id: @admission.id.to_s, view: 'Summary', format: 'pdf', print_setting_id: @print_settings[0].id)" %>
                        <%= link_to eval(print_summary), :class => "btn btn-primary btn-xs full_print",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> Summary <% end %>

                        <% print_note = "inpatient_ipd_record_discharge_note_" + @speciality_folder_name + "_note_print_path(id: @discharge_note.id, " + @speciality_folder_name + "_note_id: @discharge_note.id, admission_id: @admission.id.to_s, view: 'Note', format: 'pdf', print_setting_id: @print_settings[0].id)" %>
                        <%= link_to eval(print_note), :class => "btn btn-primary btn-xs full_print",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> Note <% end %>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              </div>

              <div class="col-md-12">
                <div class="opdsummary">
                  <% if @discharge_note %>
                    <div class="paper_view">
                      <h4 class="text-center" style="padding-top:10px;text-transform: uppercase;">Discharge Summary</h4>
                      <%= render partial: "inpatient/ipd_record/discharge_note/#{@speciality_folder_name}_notes/view_body", locals: {view: "Summary", mail_job: false} %>
                    </div>
                    <div class="paper_view">
                      <h4 class="text-center" style="padding-top:10px;text-transform: uppercase;">Discharge Note</h4>
                      <%= render partial: "inpatient/ipd_record/discharge_note/#{@speciality_folder_name}_notes/view_body", locals: {view: "Note", mail_job: false} %>
                    </div>
                  <% else %>
                    <h3 class="text-center" style="padding-top:30px;">No Discharge Note/Summary</h3>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="tab-pane" id="nursing_record">
              <% if @all_nursing_records.count.to_i > 0 %>  
                <% @all_nursing_records.each do |nursing_record| %>
                  <% policy_identifier = nil %>
                  <% if nursing_record.template_type == "careplan" %>
                    <% policy_identifier = "HGP-101-106-100" %>
                  <% elsif nursing_record.template_type == "pain" || nursing_record.template_type == "aldrete" %>
                    <% policy_identifier = "HGP-101-108-100" %>
                  <% else %>
                    <% policy_identifier = "HGP-101-107-100" %>
                  <% end %>
                  <% if Authorization::PolicyHelper.verification(current_user.id ,policy_identifier) %>
                    <div class=" col-md-12 col-sm-12 text-right">
                      <% if @print_settings.count > 1 %>
                        <div class="btn-group">
                          <button type="button" class="btn btn-primary btn-xs full_print dropdown-toggle" data-toggle="dropdown"><i class="fa fa-print mr5"></i> Print <i class="fa fa-caret-down"></i></button>
                          <ul class="dropdown-menu dropdown-left-manual" role="menu" aria-labelledby="summary-print-dropdown" style="">
                            <% @print_settings.each do |print_setting| %>
                              <li style="text-align:left" class="multi-print">
                                <%= link_to inpatient_nursing_records_print_path(patient_id: @admission.patient.id.to_s,admission_id: @admission.id.to_s,templatetype:nursing_record.template_type,id: nursing_record.id, print_setting_id: print_setting.id, format: 'pdf'), :class => "",:style => "color: #d9534f;",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> <%= print_setting.name %> <% end %>
                              </li>
                            <% end %>
                          </ul>
                        </div>
                      <% else %>
                        <%= link_to inpatient_nursing_records_print_path(patient_id: @admission.patient.id.to_s,admission_id: @admission.id.to_s,templatetype:nursing_record.template_type,id: nursing_record.id, print_setting_id: @print_settings[0].id, format: 'pdf'), :class => "btn btn-primary btn-xs full_print",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> Print <% end %>
                      <% end %>
                    </div>
                  <% end %>
                  <div class="col-md-12 col-sm-12 mb10">
                    <div class="paper_view">
                      <h4 class="text-center" style="padding-top:10px;text-transform: uppercase;"><%= nursing_record.fullname %></h4>
                      <%= render partial: "/inpatients/nursing_records/view_body.html.erb", locals: {history_flag: false,nursing_record:nursing_record,templatetype:nursing_record.template_type,print_flag:false} %>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <h3 class="text-center" style="padding-top:30px;">No Nursing Records</h3>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .paper_view {
    box-shadow: 0 0 6px #ccc;
    padding: 0 0.400000in 0 0.550000in;
    font-family: 'Open Sans';
    background-color: #fff;
  }
</style>

<script type="text/javascript">

  $("#medication_dropdown").on("change",function(){
    var advice_language = $(this).val();
    var ipdrecord = "<%= @ipdrecord.try(:id) %>";
    var admission_id = "<%= @ipdrecord.try(:admission_id) %>"
    // var url = "/inpatient/ipd_record/discharge_note/<%= @speciality_folder_name %>_notes/<%#=@discharge_note.try(:id)%>/print"

    jQuery.ajax({
      type: 'POST',
      dataType: "script",
      data: { advice_language: advice_language, ipdrecord: ipdrecord },
      url: '/inpatients/replace_medicine_language',
      success: function(){
        var modified_path = $('.print_summary_ipd').attr('href')+"&language_flag=true&advice_language="+advice_language;
        $('.print_summary_ipd').attr('href', modified_path);

        var modified_path_note = $(".print_note_ipd").attr('href')+"&language_flag=true&advice_language="+advice_language;
        $('.print_note_ipd').attr('href', modified_path_note);

        var modified_path_all_summary = $(".all_summary").attr('href')+"&language_flag=true&advice_language="+advice_language;
        $('.all_summary').attr('href', modified_path_all_summary);

        var modified_path_all_notes = $(".all_notes").attr('href')+"&language_flag=true&advice_language="+advice_language;
        $('.all_notes').attr('href', modified_path_all_notes);
      }
    })
  })

  $(".advice_dropdown").on("change",function(){
    var advice_language = $(this).val();
    var ipdrecord = "<%=@ipdrecord.try(:id)%>";
    var admission_id = "<%=@ipdrecord.try(:admission_id)%>"
    var operative_note_id =  $(this).attr('data-operative_id')
    var _this = $(this)

    jQuery.ajax({
      type: 'GET',
      dataType: "script",
      data: { advice_language: advice_language, ipdrecord: ipdrecord, operative_note_id: operative_note_id},
      url: '/inpatients/replace_advice_language',
      success: function(){
        var modified_path = $('.operative_summary_print').attr('href')+"&language_flag=true&advice_language="+advice_language;
        $('.operative_summary_print').attr('href', modified_path);

        var modified_path_note = $(_this).closest('.tab-pane').find('.operative_note_print').attr('href')+"&language_flag=true&advice_language="+advice_language;
        $(_this).closest('.tab-pane').find('.operative_note_print').attr('href',modified_path_note);

        var modified_path_all_summary = $(".all_summary").attr('href')+"&language_flag=true&advice_language="+advice_language;
        $('.all_summary').attr('href',modified_path_all_summary);

        var modified_path_all_notes = $(".all_notes").attr('href')+"&language_flag=true&advice_language="+advice_language;
        $('.all_notes').attr('href', modified_path_all_notes);
      }
    })
  })
</script>
