<div class="row order-common-fields" style="">
  <div class="row p7_10">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-2"><strong>To:</strong></div>
        <div class="col-sm-9">
          <select class="form-control tax-invoice-to-store" name="inventory_tax_invoice[created_against_store_id]" id="inventory_tax_invoice_created_against_store_id" data="<%= params["action"] == "new" ? "new" : "edit" %>" required="true" value="<%= @tax_invoice.created_against_store_id %>">
            <option value="">Select</option>
            <% @stores.each do |store| %>
              <% if params[:receive_store_id].present? %>
                <% selected_store = params[:receive_store_id].to_s %>
              <% elsif @tax_invoice.created_against_store_id.present? %>
                <% selected_store = @tax_invoice.created_against_store_id.to_s %>
              <% else %>
              <% selected_store = '' %>
              <% end %>
              <option value="<%= store.id %>" <%= 'selected' if store.id.to_s == selected_store %>>
                <%= po_store_format(store) %>
              </option>
            <% end %>
          </select>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="row">
        <div class="col-sm-4">
          <strong>Txn Date:</strong>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :transaction_date, { value: Date.current.strftime("%d/%m/%Y"), class: 'form-control p7_10 transaction-datepicker', placeholder: "Date of Transaction", style: 'background-image: none' } %>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="row">
        <div class="col-sm-4">
          <strong>Txn Time:</strong>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :transaction_time_picker, { value: Time.current.strftime("%I:%M %p"), class: 'form-control p7_10 transaction-timepicker', placeholder: "Time", style: 'background-image: none' } %>
          <%= f.hidden_field :transaction_date_time, { value: Time.current } %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb5" style="btransaction-top:1px solid #eee; border-bottom: 1px solid #eee;">
  <div class="row medication_tab_row" style="overflow-y: auto; min-height: 100px; font-size: 11px">
    <div class="col-md-12">
      <table class="table" id="medicationTable">
        <thead class="transaction-table-head">
          <tr class='thead-fixable' style="background-color: darkgray; color: white;">
            <td class='col-md-1 thead-fix'>#</td>
            <td class='col-md-1 thead-fix'>Description</td>
            <td class='col-md-1 thead-fix'>Qty.</td>
            <td class='col-md-1 thead-fix'>HSN</td>
            <td class='col-md-1 thead-fix'>UOM</td>
            <td class='col-md-1 thead-fix'>Batch No.</td>
            <td class='col-md-1 thead-fix'>Expiry Dt.</td>
            <td class='col-md-1 thead-fix'>Rate</td>
            <td class='col-md-1 thead-fix'>MRP</td>
            <% if @type == 'tax_invoice' %>
              <td class='col-md-1 thead-fix'>Taxable Amt.</td>
              <td class='col-md-1 thead-fix'>Tax</td>
            <% end %>
            <td class='col-md-1 thead-fix'>Net Amt.</td>
          </tr>
        </thead>
        <tbody class="medication-table-body-added medication_set_body" id="tbody_medication">
          <% unless @tax_invoice.new_record? %>
            <%= render 'inventory/tax_invoices/lots.html.erb', f: f %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= render partial: '/inventory/tax_invoices/tax_details.html.erb', locals: {f:f} %>

<%= f.hidden_field :type, { value: @type } %>
<%= f.hidden_field :created_on, { value: Time.current } %>
<%= f.hidden_field :created_by, { value: current_user.fullname } %>
<%= f.hidden_field :created_by_id, { value: current_user.id } %>
<%= f.hidden_field :facility_id, { value: current_facility.id } %>
<%= f.hidden_field :organisation_id, { value: current_user.organisation_id } %>
<%= f.hidden_field :user_id, { value: current_user.id } %>
<%= f.hidden_field :transfer_ids, { value: '' } %>
<%= f.hidden_field :store_id, { value: @inventory_store.id } %>
<%= f.hidden_field :store_gst, { value: @inventory_store.gst } %>
<%= f.hidden_field :receive_store_gst, { value: @receive_store&.gst } %>
<%= f.hidden_field :gst_type, { value: "" } %>
<%= f.hidden_field :tax_type, { value: @receive_store&.country_id == 'IN_108' ? 'GST' : 'VAT' } %>
