<div class="inventory-item-toolbar1 inventory-toolbar">
  <% current_date = Date.current %>
  <nav class="navbar navbar-secondary navbar-fixed-top" style="margin-bottom: 0px; left: auto; right: auto; width: auto; position: relative;z-index:100; background: #354670;">
    <div class="container-fluid" style="padding-right:0;">
      <div class="col-xs-1 link-to-calendar" style="padding-left:initial">
        <div class="navbar-header" style="margin-top: 7px;">
          <button class="btn btn-link btn-xs btn-inventory-refresh"><i class="fa fa-refresh" style="color:#fff;"></i></button>
        </div>
      </div>

      <div class="col-xs-3" style="padding: 5px 10px">
          <div class="btn-group" style="margin-bottom: 0px;" role="group" aria-label="">
            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-plus"></i> New</button>
            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" style="">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu children" style="">
              <li>
                <%= link_to 'New Tax Invoice',
                            new_inventory_tax_invoice_path(store_id: params[:store_id], time_period: @time_period, start_date: @start_date, end_date: @end_date, type: 'tax_invoice'),
                            data: { remote: true } %>
              </li>
              <li>
                <%= link_to 'New Delivery Challan',
                            new_inventory_tax_invoice_path(store_id: params[:store_id], time_period: @time_period, start_date: @start_date, end_date: @end_date, type: 'delivery_challan'),
                            data: { remote: true } %>
              </li>
            </ul>
          </div>
      </div>
      <div class="col-xs-4" style="padding: 5px 10px">
        <div class="btn-group" style="margin-bottom: 0px;" role="group" aria-label="">
          <a class="btn btn-primary btn-sm" id="time_period"><%= @time_period %></a>
          <button type="button" class="btn btn-primary btn-sm dropdown-toggle " data-toggle="dropdown" style="">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu children" style="">
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date %>" end-date="<%= current_date %>">Today</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.yesterday %>" end-date="<%= current_date.yesterday %>">Yesterday</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.beginning_of_week %>" end-date="<%= current_date.end_of_week %>">This Week</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.beginning_of_month %>" end-date="<%= current_date.end_of_month %>">This Month</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.beginning_of_quarter %>" end-date="<%= current_date.end_of_quarter %>">This Quarter</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.beginning_of_year %>" end-date="<%= current_date.end_of_year %>">This Year</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= (current_date - current_date.wday).beginning_of_week %>" end-date="<%= (current_date - current_date.wday).end_of_week %>">Previous Week</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= (current_date - current_date.mday).beginning_of_month %>" end-date="<%= (current_date - current_date.mday).end_of_month %>">Previous Month</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= (current_date - 3.months).beginning_of_quarter %>" end-date="<%= (current_date - 3.months).end_of_quarter %>">Previous Quarter</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= (current_date - current_date.yday).beginning_of_year %>" end-date="<%= (current_date - current_date.yday).end_of_year %>">Previous Year</a></li>
              <!-- Custom -->
            <li class="period-list"><div class="mis-date-filter-custom" data-remote="true" data-toggle="modal" data-target="#mis-modal">Custom</div></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-4" style="padding: 5px 10px;">
        <div class="btn-group" style="margin-bottom: 0px;" role="group" aria-label="">
          <% @type = @type.present? ? @type : 'All' %>
          <a class="btn btn-warning btn-sm" id="inventory_tax_invoice_name"><%= @type&.titleize %></a>
          <button type="button" class="btn btn-warning btn-sm dropdown-toggle " data-toggle="dropdown" style="">
            <span class="caret"></span>
          </button>
          <% @types = [['All', 'all'], ['Tax Invoice', 'tax_invoice'], ['Delivery Challan', 'delivery_challan']] %>
          <ul class="dropdown-menu children" style="">
            <% @types.each do |tax_invoice| %>
              <li>
                <a class="tax_invoice-filter" href="#" tax_invoice_name="<%= tax_invoice[0] %>" tax_invoice_id="<%= tax_invoice[1] %>"><%= tax_invoice[0].try(:camelize) %></a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="inventory-items" style=" height: initial;">
  <table class="table inventory_table_center">
    <thead class="inventory-table-head">
    <tr class='thead-fixable'>
      <td class='col-md-1 text-center'>#</td>
      <td class='col-md-2 text-center'>Created On</td>
      <td class='col-md-2 text-center'>Txn Details</td>
      <td class='col-md-2 text-center'>Txn ID</td>
      <td class='col-md-2 text-center'>Created By</td>
      <td class='col-md-2 text-center'>Status</td>
    </tr>
    </thead>
    <tbody class="inventory-table-body tax-invoice-list">
      <%= render partial: 'index_body.html.erb' %>
    </tbody>
  </table>
</div>

<style>
  .inventory-list-row:hover{
    background: aliceblue;
    cursor: pointer;
  }

  .inventory-list-row {
    cursor: pointer;
  }
  .navbar-secondary {
    background: #354670;
    color: white;
    border-color: transparent;
  }
</style>
