<% if @tax_invoices.size > 0 %>
  <% @tax_invoices.each_with_index do |tax_invoice, index| %>
      <tr id="<%= tax_invoice.id %>" class="inventory-list-row" style="">
        <td class="col-md-1 text-center"><%= index + 1 %></td>
        <td style="font-size: 10px; color: #17a08c;" class="col-md-2 created-on"><%= tax_invoice.created_on&.strftime('%d-%m-%Y') %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= tax_invoice.created_on&.strftime("%I:%M%p") %>
        </td>
        <td class="col-md-2 text-center titleize"><%= tax_invoice.type&.titleize %>
        </td>
        <td class="col-md-2 text-center display-id"><%= tax_invoice.transaction_display_id %></td>
        <td class="col-md-2 text-center created-by"><%= tax_invoice.created_by %></td>
        <td class="col-md-2 text-center status"><%= tax_invoice.status.titleize %></td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td align="center"><strong style="font-size: 20px;">Nothing to Display</strong></td>
  </tr>
<% end %>
