<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<% current_date = Date.current %>
<div class="modal-dialog modal-lg" style="width: 98%">
  <div class="modal-content transaction-content" style="">
    <div class="modal-header transaction-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title text-center">Create <%= @type&.titleize %></h4>
    </div>

    <div class="modal-body transaction-body">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-6 items-variants">
          <div class="items-variants-search">
            <div class="btn-group" role="group" aria-label="">
              <a class="btn btn-primary btn-sm time-period-label"><%= @time_period %></a>
              <button type="button" class="btn btn-primary btn-sm dropdown-toggle " data-toggle="dropdown" style="">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu children" style="">
                <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date %>" end-date="<%= current_date %>">Today</a></li>
                <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.yesterday %>" end-date="<%= current_date.yesterday %>">Yesterday</a></li>
                <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.beginning_of_week %>" end-date="<%= current_date.end_of_week %>">This Week</a></li>
                <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.beginning_of_month %>" end-date="<%= current_date.end_of_month %>">This Month</a></li>
                <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.beginning_of_quarter %>" end-date="<%= current_date.end_of_quarter %>">This Quarter</a></li>
                <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.beginning_of_year %>" end-date="<%= current_date.end_of_year %>">This Year</a></li>
                <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= (current_date - current_date.wday).beginning_of_week %>" end-date="<%= (current_date - current_date.wday).end_of_week %>">Previous Week</a></li>
                <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= (current_date - current_date.mday).beginning_of_month %>" end-date="<%= (current_date - current_date.mday).end_of_month %>">Previous Month</a></li>
                <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= (current_date - 3.months).beginning_of_quarter %>" end-date="<%= (current_date - 3.months).end_of_quarter %>">Previous Quarter</a></li>
                <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= (current_date - current_date.yday).beginning_of_year %>" end-date="<%= (current_date - current_date.yday).end_of_year %>">Previous Year</a></li>
                <!-- Custom -->
                <li class="period-list"><div class="mis-date-filter-custom" data-remote="true" data-toggle="modal" data-target="#mis-modal">Custom</div></li>
              </ul>
            </div>
          </div>

          <div class="items-variants-list">
            <table class="table items-variants-table">
              <thead>
                <tr>
                  <th>Against</th>
                  <th>Transfer / Issue Info</th>
                  <th>Requisition Info</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody class="items-variants-body">
                <%= render partial: 'inventory/transaction/transfers/index_body.html.erb' %>
              </tbody>
            </table>
          </div>
          <%# unless @variants.count < 30 %>
            <div class="show-more-timeline">
              <a class="col-sm-12", href="javascript:;", id="show_more_variants", data-count = "0" , style="text-align: right;text-decoration: none;position: fixed;margin-left: 200px;">
                <i class="fa fa-spinner fa-spin"></i> Loading...
              </a>
            </div>
          <%# end %>
        </div>
        <div class="col-md-8 col-sm-6 col-xs-6 items-lots">
          <%= form_for @tax_invoice, remote: true , html: { id: "inventory_tax_invoice_form" } do |f| %>
            <div>
              <%= render partial: '/inventory/tax_invoices/form.html.erb', locals: {f:f} %>
              <%= f.submit "Save Changes", { class: 'btn btn-success validate-create-button', onclick: 'validate_tax_invoice_form()', data: { disable_with: "Please Wait..."} } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<style>

  .inventory-list-row {
    cursor: pointer;
  }
  .items-variants-search .fa {
    cursor: pointer;
  }
  .items-variants-search input {
    border-radius: 3px 0px 0px 3px !important;
    border-right: none;
    padding-left: 43px;
    padding-right: 43px;
    padding: 6px 12px;
    background: #FFFFFF;
    line-height: 1.42857;
    box-shadow: none;
    transition: none;
  }

  .items-variants-search input:focus {
    border-color: #ccc;
    box-shadow: none;
  }

  .items-variants-search .input-group-addon {
    box-shadow: none;
    transition: none;
    color: #636e7b;
    background: #FFFFFF;
    border-radius: 0px 3px 3px 0px;
  }


  .items-variants-list {
    background: #eef1f7;
  }
  .items-variants-list .table-striped > tbody > tr:nth-child(2n+1) > td, .items-variants-list .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #fcfdfe;
  }
  .items-variants-list .table {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0px;
    /* even columns width , fix width of table too*/
  }
  .items-variants-list .table thead {
    font-weight: bold;
    background: #8c95b3;
    color: white;
  }
  .items-variants-list .table thead, .items-variants-list .table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  .items-variants-list .table tbody {
    display: block;
    overflow-y: scroll;
  }
  .items-variants-list .table tbody tr td {
    vertical-align: middle;
  }




  .order-lots-list {
    background: #eef1f7;
  }
  .order-lots-list .table-striped > tbody > tr:nth-child(2n+1) > td, .order-lots-list .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #fcfdfe;
  }
  .order-lots-list .table {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0px;
    /* even columns width , fix width of table too*/
  }
  .order-lots-list .table thead {
    font-weight: bold;
    background: #8c95b3;
    color: white;
  }
  .order-lots-list .table thead, .order-lots-list .table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  .order-lots-list .table tbody {
    display: block;
    overflow-y: scroll;
  }
  .order-lots-list .table tbody tr td {
    vertical-align: middle;
  }
  .disabled_row{
    pointer-events: none;
  }
  .transaction-table-head {
    position: sticky;
    top: 0;
  }
  .items-variants-table thead th{
    background-color: darkgray !important;
    color:  white !important;
  }
</style>
