<div class="" style="margin-top: 5px;">
	<div class="row font-size col-md-12">
    <div class="col-md-4 col-lg-3 font_size text-right"><b>Transaction Type</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
    <div class="col-md-8 col-lg-9 font_size" style="padding: 0;margin: 0;">
      <span><%= @tax_invoice.type&.titleize %></span>
    </div>
  </div>
  <div class="row col-md-12 font-size">
    <div class="col-md-4 col-lg-3 font_size text-right"><b>Transaction ID</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
    <div class="col-md-8 col-lg-9 font_size" style="padding: 0;margin: 0;">
      <span><%= @tax_invoice.transaction_display_id %></span>
    </div>
  </div>
  <div class="row col-md-12 font-size">
    <div class="col-md-4 col-lg-3 font_size text-right"><b>To</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
    <div class="col-md-8 col-lg-9 font_size" style="padding: 0;margin: 0;">
      <span><%= @receive_store.name %>&nbsp;|&nbsp;<%= @receive_store.department_name %></span>
    </div>
  </div>
  <%# if @tax_invoice.open? %>
    <div class="row col-md-12 font-size">
      <div class="col-md-4 col-lg-3 font_size text-right"><b>Created By</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
      <div class="col-md-8 col-lg-9 font_size" style="padding: 0;margin: 0;">
        <span><%= @tax_invoice.created_by %></span>
        <span style="padding: 2px;font-weight: bolder;">|</span>
        <span><%= @tax_invoice.created_on.try(:strftime, '%d-%m-%Y') %>&nbsp;|&nbsp;<%= @tax_invoice.created_on&.strftime("%I:%M %p") %></span>
      </div>
    </div>
  <%# end %>
  <% if @tax_invoice.approved? %>
    <div class="row col-md-12 font-size">
      <div class="col-md-4 col-lg-3 font_size text-right"><b>Approved By</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
      <div class="col-md-8 col-lg-9 font_size" style="padding: 0;margin: 0;">
        <span><%= @tax_invoice.approved_by_name %></span>
        <span style="padding: 2px;font-weight: bolder;">|</span>
        <span><%= @tax_invoice.approved_on.try(:strftime, '%d-%m-%Y') %>&nbsp;|&nbsp;<%= @tax_invoice.approved_on&.strftime("%I:%M %p") %></span>
      </div>
    </div>
  <% end %>
  <% if @tax_invoice.cancelled? %>
    <div class="row col-md-12 font-size">
      <div class="col-md-4 col-lg-3 font_size text-right"><b>Cancelled By</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
      <div class="col-md-8 col-lg-9 font_size" style="padding: 0;margin: 0;">
        <span><%= @tax_invoice.cancelled_by_name %></span>
        <span style="padding: 2px;font-weight: bolder;">|</span>
        <span><%= @tax_invoice.cancelled_on.try(:strftime, '%d-%m-%Y') %>&nbsp;|&nbsp;<%= @tax_invoice.cancelled_on&.strftime("%I:%M %p") %></span>
      </div>
    </div>
  <% end %>
  <div class="row col-md-12 font-size">
    <div class="col-md-4 col-lg-3 font_size text-right"><b>Status</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
    <div class="col-md-8 col-lg-9 font_size" style="padding: 0;margin: 0;">
      <span><%= @tax_invoice.status %></span>
    </div>
  </div>
  <% if @tax_invoice.cancelled? %>
    <div class="row col-md-12 font-size">
      <div class="col-md-4 col-lg-3 font_size text-right"><b>Cancel Reason</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
      <div class="col-md-8 col-lg-9 font_size" style="padding: 0;margin: 0;">
        <span><%= @tax_invoice.cancelled_reason %></span>
      </div>
    </div>
  <% end %><br>
  <% if @tax_invoice.open? %>
    <div class="btn-group" style="margin: 10px;">
      <%= link_to 'Approve', approve_inventory_tax_invoice_path(@tax_invoice), class: "btn btn-xs btn-info", remote: true %>
      <%= link_to edit_inventory_tax_invoice_path(@tax_invoice,start_date: Date.current.beginning_of_month,end_date: Date.current.end_of_month, receive_store_id: @tax_invoice&.created_against_store_id.to_s), class: 'btn btn-primary btn-xs', remote: true do %>
          <i class="fa fa-edit"></i> Edit
      <% end %>
     <!--  <button class="btn btn-xs btn-danger cancel-tax-invoice" data-toggle="modal" data-target="#confirmation-modal" data-id="<%= @tax_invoice.id.to_s %>">
        <i class="fa fa-trash-alt"></i> &nbsp; Cancel
      </button> -->
      <%= link_to cancel_inventory_tax_invoice_path(@tax_invoice) , class: 'btn btn-danger btn-xs cancel-tax-invoice' do %> <i class=""></i> Cancel<% end %>
    </div>
  <% end %>
    <%= link_to print_tax_invoice_inventory_tax_invoice_path(@tax_invoice, page_size: 'A4'), class: "btn btn-xs btn-success", target: :_blank  do %><i class="fa fa-print"></i>&nbsp;Print A4<% end %>
    <%= link_to print_tax_invoice_inventory_tax_invoice_path(@tax_invoice, page_size: 'A5'), class: "btn btn-xs btn-success", target: :_blank  do %><i class="fa fa-print"></i>&nbsp;Print A5<% end %>
  <!-- <div class="btn-group" style="margin: 10px;">
  </div> -->

</div>

<div id="cancelModal" class="modal false fade in" tabindex="-1" role="dialog" aria-labelledby="cancelModal" aria-hidden="false" style="z-index: 1051; display: hidden;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-button" data-dismiss="modal" aria-hidden="true">×</button>
        <h5 id="cancelModal" class="modal-title">Are you sure?</h5> 
      </div>
      <%= form_tag cancel_inventory_tax_invoice_path(@tax_invoice), method: 'get', remote: true, id: 'new-message-form', class: "new-message-form" do %>
        <div class="modal-body">
          <%= label_tag "Reason for Cancellation"%>
          <%= text_field_tag :cancelled_reason, '', class: "form-control p7_10", placeholder: 'Reason for Cancellation', minlength: '5', required: true %>
        </div>
        <div class="modal-footer">
          <button class="btn commit btn-danger close-button" data-dismiss="modal">Don't Cancel</button>
          <%= submit_tag "Cancel #{@tax_invoice.type.split('_').join(' ').capitalize}", class: "btn btn-success", data: { 'disable-with': 'Please Wait...' } %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<script type="text/javascript">
  $('.cancel-tax-invoice').click(function(e){
    e.preventDefault();
    $("#cancelModal").modal('show');
  })
  $(".close-button").click(function(e){
    e.preventDefault();
    $("#cancelled_reason").val("")
    $("#confirmation-modal").modal('hide')
  })
</script>

<style type="text/css">
  .table-add-item td{
    padding: 5px 5px 0;
  }

  .check_font table tr th {
    padding: 2px 5px;
  }

  .check_font table tr td {
    padding: 2px 5px;
  }

  .check_font {
    font-size: 11px;
  }
  .font-size{
    font-size: 11px;
  }
</style>
</style>