<div class="row invoice-information" style="margin-bottom: 10px;">
	<div class="col-sm-4 font-size">
		<b>Dispatch details:</b>
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					<b>Transportation Mode:</b>
					<%= f.select :transportation_mode, options_for_select(@transportations, @tax_invoice.transportation_mode), { include_blank: true }, { class: 'form-control',style: 'padding: 6px;' } %>
					<%= f.hidden_field :transportation_mode_name %>
				</div>
				<div class="col-md-6">
					<b>Delivery Date:</b>
					<%= f.text_field :delivery_date, { value: Date.current.strftime("%d/%m/%Y"), class: 'form-control p7_10 fullname delivery-datepicker', placeholder: "Date of order", style: 'padding: 6px; background-image: none;' } %>
				</div>
				<div class="col-md-6" style="clear: both;">
					<b>Txn ID:</b>
					<%= f.text_field :transportation_transaction_id, { class: 'form-control p7_10' } %>
				</div>
				<div class="col-md-6">
					<b>Dispatch Remarks:</b>
					<%= f.text_field :dispatch_remarks, { class: 'form-control p7_10', style: 'padding: 6px;' } %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4 font-size">
		<% if @type == 'tax_invoice' %>
			<b>Tax Breakup:</b>
			<% if @receive_store.try(:country_id) == 'IN_108' %>
				<div id="tax-cage" class="col-md-12" style="background: #eee;padding: 5px;">
					<div class="col-md-4">
						<b style="padding: 30px;">CGST</b><br>
						<div class="row col-md-12">
							<div class="col-md-6"><b>Rate</b><br>
								<div class="row cgst-tax-name-section"></div>
							</div>
							<div class="col-md-6"><b>Amount</b><br>
								<div class="row cgst-tax-amount-section"></div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<b style="padding: 30px;">SGST</b><br>
						<div class="row col-md-12">
							<div class="col-md-6"><b>Rate</b><br>
								<div class="row sgst-tax-name-section"></div>
							</div>
							<div class="col-md-6"><b>Amount</b><br>
								<div class="row sgst-tax-amount-section"></div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<b style="padding: 30px;">IGST</b><br>
						<div class="row col-md-12">
							<div class="col-md-6"><b>Rate</b><br>
								<div class="row igst-tax-name-section"></div>
							</div>
							<div class="col-md-6"><b>Amount</b><br>
								<div class="row igst-tax-amount-section"></div>
							</div>
						</div>
					</div>
				</div>
			<% else %>
				<div id="tax-cage" class="col-md-12" style="background: #eee;padding: 5px;">
					<div class="col-md-4">
						<b style="padding: 30px;">VAT</b><br>
						<div class="row col-md-12">
							<div class="col-md-6"><b>Rate</b><br>
								<div class="row vat-tax-name-section"></div>
							</div>
							<div class="col-md-6"><b>Amount</b><br>
								<div class="row vat-tax-amount-section"></div>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
	<div class="col-sm-4 text-right">
		<% if @type == 'tax_invoice' %>
	    <div class="row">
	      <div class="col-sm-12">
	        <div class="col-sm-6 font_size">
	          <b>Taxable Amount</b>
	        </div>
	        <div class="col-sm-2 text-center font_size">
	          :
	        </div>
	        <div class="col-sm-3 font_size">
	          <%= f.text_field :taxable_amount, class: 'fi_input_style input_focus_none', placeholder: 'Amount', style: 'width:150%', readonly: true %>
	        </div>
	      </div>
	    </div>
	    <div class="row">
	      <div class="col-sm-12">
	        <div class="col-sm-6 font_size">
	          <b>Tax Amount</b>
	        </div>
	        <div class="col-sm-2 text-center font_size">
	          :
	        </div>
	        <div class="col-sm-3 font_size">
	          <%= f.text_field :tax_amount, class: 'fi_input_style input_focus_none', placeholder: 'Amount', style: 'width:150%;', value: 0, readonly: true %>
	        </div>
	      </div>
	    </div>
	   <% end %>
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-6 font_size">
          <b>Total Amount</b>
        </div>
        <div class="col-sm-2 text-center">
          :
        </div>
        <div class="col-sm-4 font_size">
          <%= f.text_field :total_amount, class: 'fi_input_style input_focus_none', placeholder: 'Amount', style: 'width:150%',readonly: true %>
        </div>
      </div>
    </div>
  </div>
</div>