<div style="border:1px solid #ccc;">
  <div class="row" style="border-bottom:1px solid #ccc;">
    <div class="col-md-12" style="border-bottom:1px solid #ccc;">
      <% entity_name = @entity_name.present? ? @entity_name : @inventory_store.name %>
      <% receive_entity_name = @receive_entity_name.present? ? @receive_entity_name : @receive_store.name %>
      <h5 style="text-align: center;font-weight: bold;"><%= entity_name %></h5>
    </div>
    <div class="row" style="border-bottom:1px solid #ccc;">
      <div class="col-md-3 text-left">
        <% if @inventory_store.asset_path.url %>
          <% unless @inventory_store.asset_path.url.split('/').last == '_old_' %>
            <img width="80" height="80" src="<%= @inventory_store.asset_path.url %>">
          <% end %>
        <%end%>
      </div>
      <div class="col-sm-6 text-center">
        <% unless @inventory_store.address == 'org-address' %>
          <% address = [] %>
          <% address  << @inventory_store&.district << @inventory_store&.state&.capitalize << @inventory_store&.pincode %>
          <h5 class="check_font" style="margin: 0px"><%= @inventory_store.address %><%= ', ' +  address.reject(&:blank?)&.join(', ') %></h5>
        <%end%>
        <% if @inventory_store.email.present? %>
          <p> <h5 class="check_font" style="margin: 0px"><%= @inventory_store.email %></h5> </p>
        <%end%>
        <% if @inventory_store.mobilenumber.present? %>
          <p> <h5 class="check_font" style="margin: 0px"><%= @inventory_store.mobilenumber %></h5> </p>
        <%end%>
      </div>
      <div class="col-sm-3">
      </div>
    </div>
    <div class="row" style="border-bottom:1px solid #ccc;">
      <div class="col-md-7 text-right">
        <b style="color: black"><%=  @tax_invoice.type == "tax_invoice" ? "Tax Invoice" : "Delivery Challan" %></b>
      </div>
      <div class="col-md-5 text-right">
        <% if @tax_invoice.tax_type == 'GST' %>
          <div>
            <span>GSTIN:&emsp;<%= @inventory_store.gst.present? ? @inventory_store.gst : "NA"  %></span>
          </div>
        <% end %>
      </div>
      <div class="col-md-12" style="border-bottom:1px solid #ccc;"></div>
    </div>
    <div class="row" style="border-bottom:1px solid #ccc;">
      <div class="col-md-3">
        <input type="checkbox" name="">&nbsp;&nbsp;Original for Recipient
      </div>
      <div class="col-md-6" style="text-align: center;">
        <input type="checkbox" name="">&nbsp;&nbsp;Duplicate for Supplier / Transporter
      </div>
      <div class="col-md-3">
        <input type="checkbox" name="">&nbsp;&nbsp;Triplicate for Supplier
      </div>
    </div>
    <div class="row" style="border-bottom:1px solid #ccc;display: flex;">
      <div class="col-md-6" style="border-right:1px solid #ccc;">
        <div class="col-md-12 check_font">
          <div class="col-md-5 col-lg-5 check_font text-right"><b>Reverse Charge</b><span style="font-weight: bold;margin-left: 3px;">:</span>
          </div>
          <div class="col-md-7 col-lg-7 check_font" style="padding: 0;margin: 0;">
            <span><input type="checkbox" name="">&nbsp;&nbsp;Yes&nbsp;&nbsp;<input type="checkbox" name="">&nbsp;&nbsp;No</span>
          </div>
        </div>
        <div class="col-md-12 check_font">
          <div class="col-md-5 col-lg-5 check_font text-right"><b><%= @tax_invoice.type == 'tax_invoice' ? "Invoice No" : "Challan No" %></b><span style="font-weight: bold;margin-left: 3px;">:</span>
          </div>
          <div class="col-md-7 col-lg-7 check_font" style="padding: 0;margin: 0;">
            <span><%=@tax_invoice.transaction_display_id%></span>
          </div>
        </div>
        <div class="col-md-12 check_font">
          <div class="col-md-5 col-lg-5 check_font text-right"><b><%= @tax_invoice.type == 'tax_invoice' ? "Invoice Date" : "Challan Date" %></b><span style="font-weight: bold;margin-left: 3px;">:</span>
          </div>
          <div class="col-md-7 col-lg-7 check_font" style="padding: 0;margin: 0;">
            <span><%= @tax_invoice.transaction_date_time.try(:strftime, '%d-%m-%Y') %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= @tax_invoice.transaction_date_time&.strftime("%I:%M %p")%></span>
          </div>
        </div>
        <% if @tax_invoice.tax_type == 'GST' %>
          <div class="col-md-12 check_font">
            <div class="col-md-6" style="padding:0">
              <div class="col-md-4 col-lg-4 check_font text-right"><b>State</b><span style="font-weight: bold;margin-left: 3px;">:</span>
              </div>
              <div class="col-md-8 col-lg-8 check_font" style="padding: 0;margin: 0;">
                <span><%= @inventory_store.state %></span>
              </div>
            </div>
            <div class="col-md-6" style="padding:0">
              <div class="col-md-4 col-lg-7 check_font text-right"><b>State Code</b><span style="font-weight: bold;margin-left: 3px;">:</span>
              </div>
              <div class="col-md-8 col-lg-5 check_font" style="padding: 0;margin: 0;">
                <span><%= @inventory_store.gst_state_code %></span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-6">
        <div class="col-md-12 check_font">
          <div class="col-md-7 col-lg-7 check_font text-right"><b>Transportation Mode</b><span style="font-weight: bold;margin-left: 3px;">:</span>
          </div>
          <div class="col-md-5 col-lg-5 check_font" style="padding: 0;margin: 0;">
            <span><%= @tax_invoice.transportation_mode_name %></span>
          </div>
        </div>
        <div class="col-md-12 check_font">
          <div class="col-md-7 col-lg-7 check_font text-right"><b>Vehicle No</b><span style="font-weight: bold;margin-left: 3px;">:</span>
          </div>
          <div class="col-md-5 col-lg-5 check_font" style="padding: 0;margin: 0;">
            <span><%=  %></span>
          </div>
        </div>
        <div class="col-md-12 check_font">
          <div class="col-md-7 col-lg-7 check_font text-right"><b>Date Of Supply</b><span style="font-weight: bold;margin-left: 3px;">:</span>
          </div>
          <div class="col-md-5 col-lg-5 check_font" style="padding: 0;margin: 0;">
            <span><%= @tax_invoice.delivery_date.try(:strftime, '%d-%m-%Y') %></span>
          </div>
        </div>
        <div class="col-md-12 check_font">
          <div class="col-md-7 col-lg-7 check_font text-right"><b>Place Of Supply</b><span style="font-weight: bold;margin-left: 3px;">:</span>
          </div>
          <div class="col-md-5 col-lg-5 check_font" style="padding: 0;margin: 0;">
            <span><%= @receive_store.country_id == 'KH_039' ? @receive_store.commune&.upcase : @receive_store.city&.upcase %></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="border-bottom:1px solid #ccc;">
      <% address = [] %>
      <% address  << @inventory_store&.district << @inventory_store&.state&.capitalize << @inventory_store&.pincode %>
      <div class="col-md-6" style="border-right:1px solid #ccc;">
        <div class="col-md-12 check_font">
          <div class="col-md-4 col-lg-4 check_font text-right"><b>Bill To</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
          <div class="col-md-8 col-lg-8 check_font" style="padding: 0;margin: 0;">
            <span><%= entity_name %></span>
          </div>
        </div>
        <div class="col-md-12 check_font">
          <div class="col-md-4 col-lg-4 check_font text-right"><b>Name</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
          <div class="col-md-8 col-lg-8 check_font" style="padding: 0;margin: 0;">
            <span><%= @inventory_store.name %></span>
          </div>
        </div>
        <div class="col-md-12 check_font">
          <div class="col-md-4 col-lg-4 check_font text-right"><b>Address</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
          <div class="col-md-8 col-lg-8 check_font" style="padding: 0;margin: 0;">
            <span><%= @inventory_store.address%><%= ', ' +  address.reject(&:blank?)&.join(', ') %></span>
          </div>
        </div>
        <% if @tax_invoice.tax_type == 'GST' %>
          <div class="col-md-12 check_font">
            <div class="col-md-4 col-lg-4 check_font text-right"><b>GSTIN</b><span style="font-weight: bold;margin-left: 3px;">:</span>
            </div>
            <div class="col-md-8 col-lg-8 check_font" style="padding: 0;margin: 0;">
              <span><%= @inventory_store.gst %></span>
            </div>
          </div>
          <div class="col-md-12 check_font">
            <div class="col-md-6" style="padding:0">
              <div class="col-md-4 col-lg-4 check_font text-right"><b>State</b><span style="font-weight: bold;margin-left: 3px;">:</span>
              </div>
              <div class="col-md-8 col-lg-8 check_font" style="padding: 0;margin: 0;">
                <span><%= @inventory_store.state %></span>
              </div>
            </div>
            <div class="col-md-6" style="padding:0">
              <div class="col-md-4 col-lg-7 check_font text-right"><b>State Code</b><span style="font-weight: bold;margin-left: 3px;">:</span>
              </div>
              <div class="col-md-8 col-lg-5 check_font" style="padding: 0;margin: 0;">
                <span><%= @inventory_store.gst_state_code %></span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-6" style="border-right:1px solid #ccc;">
        <% address = [] %>
        <% address  << @receive_store&.district << @receive_store&.state&.capitalize << @receive_store&.pincode %>
        <div class="col-md-12 check_font">
          <div class="col-md-4 col-lg-4 check_font text-right"><b>Ship To</b><span style="font-weight: bold;margin-left: 3px;">:</span>
          </div>
          <div class="col-md-8 col-lg-8 check_font" style="padding: 0;margin: 0;">
            <span><%= receive_entity_name %></span>
          </div>
        </div>
        <div class="col-md-12 check_font">
          <div class="col-md-4 col-lg-4 check_font text-right"><b>Name</b><span style="font-weight: bold;margin-left: 3px;">:</span>
          </div>
          <div class="col-md-8 col-lg-8 check_font" style="padding: 0;margin: 0;">
            <span><%= @receive_store.name %></span>
          </div>
        </div>
        <div class="col-md-12 check_font">
          <div class="col-md-4 col-lg-4 check_font text-right"><b>Address</b><span style="font-weight: bold;margin-left: 3px;">:</span>
          </div>
          <div class="col-md-8 col-lg-8 check_font" style="padding: 0;margin: 0;">
            <span><%= @receive_store.address%><%= ', ' +  address.reject(&:blank?)&.join(', ') %></span>
          </div>
        </div>
        <% if @tax_invoice.tax_type == 'GST' %>
          <div class="col-md-12 check_font">
            <div class="col-md-4 col-lg-4 check_font text-right"><b>GSTIN</b><span style="font-weight: bold;margin-left: 3px;">:</span>
            </div>
            <div class="col-md-8 col-lg-8 check_font" style="padding: 0;margin: 0;">
              <span><%= @receive_store.gst %></span>
            </div>
          </div>
          <div class="col-md-12 check_font">
            <div class="col-md-6" style="padding:0">
              <div class="col-md-4 col-lg-4 check_font text-right"><b>State</b><span style="font-weight: bold;margin-left: 3px;">:</span>
              </div>
              <div class="col-md-8 col-lg-8 check_font" style="padding: 0;margin: 0;">
                <span><%= @receive_store.state %></span>
              </div>
            </div>
            <div class="col-md-6" style="padding:0">
              <div class="col-md-4 col-lg-7 check_font text-right"><b>State Code</b><span style="font-weight: bold;margin-left: 3px;">:</span>
              </div>
              <div class="col-md-8 col-lg-5 check_font" style="padding: 0;margin: 0;">
                <span><%= @receive_store.gst_state_code %></span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0; border-bottom:1px solid #ccc;">
      <div class="row check_font">
        <% if @tax_invoice.type == "tax_invoice" %>
          <table class="table table-bordered">
              <col>
              <colgroup span="2"></colgroup>
              <colgroup span="2"></colgroup>
              <tr class="table-dark-cols">
                <th rowspan="2">#</th>
                <th rowspan="2">Description</th>
                <th rowspan="2">Qty.</th>
                <th rowspan="2">HSN</th>
                <th rowspan="2">UOM</th>
                <th rowspan="2">Batch</th>
                <th rowspan="2">Expiry Dt.</th>
                <th rowspan="2">Rate</th>
                <th rowspan="2">Amt.</th>
                <th rowspan="2"><%= @tax_invoice.tax_type == 'GST' ? 'GST %' : 'VAT %' %></th>
                <% if @tax_invoice.tax_type == 'GST' %>
                  <% if @tax_invoice.gst_type == "intra_state" %>
                    <th colspan="2" scope="colgroup">CGST</th>
                    <th colspan="2" scope="colgroup">SGST</th>
                  <% else %>
                    <th colspan="2" scope="colgroup">IGST</th>
                  <% end %>
                <% else %>
                  <th colspan="2" scope="colgroup">VAT</th>
                <% end %>
                 <th rowspan="2">Total</th>
              </tr>
              <tr class="table-dark-cols">
                <% if @tax_invoice.tax_type == 'GST' %>
                  <% if @tax_invoice.gst_type == "intra_state" %>
                    <th scope="col">Rate</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Amount</th>
                  <% else %>
                    <th scope="col">Rate</th>
                    <th scope="col">Amount</th>
                  <% end %>   
                <% else %>
                  <th scope="col">Rate</th>
                  <th scope="col">Amount</th>
                <% end %>
              </tr>
              <% @count = 1 %>
              <% total = {"stock": 0, "amount_after_tax": 0, "amount_total": 0, "cgst_total": 0, "sgst_total": 0, "igst_total": 0, "vat_total": 0} %>
              <% @items.each do |item| %>
                <tr>
                  <td scope="col"><%= @count %></td>
                  <td scope="col"><%= "#{item.description}#{'-' + item.custom_field_tags.join(', ') if item.custom_field_tags.present?}" %></td>
                   <% hsn_no = Inventory::Item.find_by(id: item.item_id.to_s).try(:hsn_no).present? ? Inventory::Item.find_by(id: item.item_id.to_s).hsn_no : 'NA' %>
                  <td scope="col"><%= item.stock %></td>
                  <td scope="col"><%= hsn_no %></td>
                  <td scope="col"><%= item.dispensing_unit %></td>
                  <td scope="col"><%= item.batch_no %></td>
                  <td scope="col"><%= item&.expiry&.strftime("%d/%m/%Y") %></td>
                  <%# unit_cost_without_tax = item.unit_cost - ((item.unit_cost * item.tax_rate) / (100 + item.tax_rate))&.round(2)  %>
                  <td scope="col"><%= item.unit_cost_without_tax&.round(2) %></td>
                  <td scope="col"><%= item.item_cost_without_tax&.round(2) %></td>
                  <td scope="col"><%= item.tax_rate %></td>
                  <% total[:stock] += item.stock %>
                  <% total[:amount_total] += item.total_cost %>
                  <% tax_ary =  [] %>
                  <% after_tax = 0.0 %>
                  <%# @tax_invoice.tax_breakup.collect{|x| tax_ary.push(x) if x["id"] == item.tax_group_id.to_s } %>
                  <% if @tax_invoice.type == 'tax_invoice' %>
                    <% taxable_amount = (item.unit_cost_without_tax.to_f * item.stock.to_f)&.round(2) %>
                    <% tax_amount = (item.purchase_tax_amount&.round(2)).to_f %>
                    <% tax_amount&.round(2) %>
                    <% net_amount = taxable_amount.to_f + tax_amount.to_f %>
                  <% else %>
                    <% net_amount = (item.unit_cost_without_tax.to_f * item.stock.to_f)&.round(2) %>
                  <% end %>
                  <% if @tax_invoice.tax_type == 'GST' %>
                    <% if @tax_invoice.gst_type == "intra_state" %>
                      <td><%= item.tax_rate / 2 %></td>
                      <td><%= (tax_amount / 2).round(2) %></td>
                      <td><%= item.tax_rate / 2 %></td>
                      <td><%= (tax_amount / 2).round(2) %></td>
                      <% after_tax  = net_amount.round(2)  %>
                      <% total[:cgst_total] += (tax_amount / 2).round(2) %>
                      <% total[:sgst_total] += (tax_amount / 2).round(2) %>
                    <% else %>
                      <td><%= item.tax_rate %></td>
                      <td><%= tax_amount.round(2) %></td>
                      <% total[:igst_total] += tax_amount %>
                      <% after_tax  = net_amount.round(2)  %>
                    <% end %>
                  <% else %>
                    <td><%= item.tax_rate %></td>
                    <td><%= tax_amount.round(2) %></td>
                    <% total[:vat_total] += tax_amount %>
                    <% after_tax  = net_amount.round(2)  %>
                  <% end %>
                  <td scope="col"><%= after_tax.round(2) %></td>
                  <% total[:amount_after_tax] += after_tax %>
                </tr>
                <% @count += 1 %>
              <% end %>
              <!-- <tfoot class="table-footer">
                <tr>
                  <td colspan="2"></td>
                  <td><%#= total[:stock] %></td>
                  <td colspan="5"></td>
                  <td><%#= total[:amount_total] %></td>
                  <td></td>
                  <%# if @tax_invoice.gst_type == "intra_state" %>
                    <td></td>
                    <td><%#= total[:cgst_total] %></td>
                    <td></td>
                    <td><%#= total[:sgst_total] %></td>
                  <%# else %>
                    <td></td>
                    <td><%#= total[:igst_total] %></td>
                  <%# end %>
                  <td><%#= total[:amount_after_tax] %></td>
                </tr>
              </tfoot> -->
          </table>
        <% else %>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Description</th>
              <th>Qty.</th>
              <th>HSN</th>
              <th>UOM</th>
              <th>Batch</th>
              <th>Expiry Dt.</th>
              <th>Rate</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <%# total = {"amount_total": 0} %>
            <% @items.each_with_index do |item, index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= "#{item.description}#{'-' + item.custom_field_tags.join(', ') if item.custom_field_tags.present?}" %></td>
                   <% hsn_no = Inventory::Item.find_by(id: item.item_id.to_s).try(:hsn_no).present? ? Inventory::Item.find_by(id: item.item_id.to_s).hsn_no : 'NA' %>
                  <td><%= item.stock %></td>
                  <td><%= hsn_no %></td>
                  <td><%= item.dispensing_unit %></td>
                  <td><%= item.batch_no %></td>
                  <td><%= item&.expiry&.strftime("%d/%m/%Y") %></td>
                  <%# unit_cost_without_tax = item.unit_cost - ((item.unit_cost * item.tax_rate) / (100 + item.tax_rate))&.round(2)  %>
                  <td><%= item.unit_cost_without_tax&.round(2) %></td>
                  <td><%= item.item_cost_without_tax.round(2) %></td>
                  <%# total[:amount_total] += item.total_cost %>
              </tr>
            <% end %>
          </tbody>
          <!-- <tfoot>
            <tr>
              <td colspan="7"></td>
              <td colspan="2">
                <b>Total Amount:</b>&nbsp;&nbsp;<%#= total[:amount_total] %>
              </td>
            </tr>
          </tfoot> -->
        </table>
        <% end %>
      </div>
    </div>
    <div class="row" style="border-bottom:1px solid #ccc;">
      <div class="col-md-8" style="border-right:1px solid #ccc;">
        <!-- <div class="col-md-12 check_font"><span><b>Total Invoice Amount in words:</b>&emsp;One Thousand</span></div> -->
      </div>
      <div class="col-md-4" style="">
        <div class="row">
          <div class="col-md-9 col-lg-9 check_font text-right"><b><%= @tax_invoice.type == "tax_invoice" ? "Taxable Amount" : "Total Amount" %></b><span style="font-weight: bold;margin-left: 3px;">:</span>
          </div>
          <div class="col-md-3 col-lg-3 check_font" style="padding: 0;margin: 0;">
            <span><%= @tax_invoice.type == "tax_invoice" ? @tax_invoice.taxable_amount : @tax_invoice.total_amount %></span>
          </div>
        </div>
        <% if @tax_invoice.type == "tax_invoice" %>
          <% if @tax_invoice.gst_type == "intra_state" %>
            <% @tax_invoice.tax_breakup.group_by{|h| h[:tax_rate]}.values.each do |tax_breakup| %>
              <% tax_breakup.each do |tax| %>
                <div class="row">
                  <div class="col-md-9 col-lg-9 check_font text-right"><b><%= tax[:name] %></b><span style="font-weight: bold;margin-left: 3px;">:</span>
                  </div>
                  <div class="col-md-3 col-lg-3 check_font" style="padding: 0;margin: 0;">
                    <span><%= tax[:amount] %></span>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <% @tax_invoice.tax_breakup.group_by{|h| h[:tax_rate]}.values.each do |tax_breakup| %>
            <%# tax_breakup.each do |tax| %>
              <div class="row">
                <div class="col-md-9 col-lg-9 check_font text-right"><b><%= tax_breakup[0][:name]%></b><span style="font-weight: bold;margin-left: 3px;">:</span>
                </div>
                <div class="col-md-3 col-lg-3 check_font" style="padding: 0;margin: 0;">
                  <span><%= tax_breakup[0][:amount].to_f %></span>
                </div>
              </div>
            <%# end %>
          <% end %>
          <% end %>
          
        <% end %>
      </div>
    </div>
    <div class="row" style="border-bottom:1px solid #ccc;">
      <div class="col-md-4" style="border-right:1px solid #ccc;">
        <div class="col-md-12 check_font"><span><b>Bank Details:</b>&emsp;</span></div>
        <div class="col-md-12 check_font"><span><b>Bank Account Number:</b>&emsp;</span></div>
        <div class="col-md-12 check_font"><span><b>Bank Branch IFSC:</b>&emsp;</span></div>
        <div class="col-md-12 check_font"><span><b></b>&emsp;</span></div>
        <div class="col-md-12 check_font"><span><b></b>&emsp;</span></div>
        <div class="col-md-12 check_font"><span><b></b>&emsp;</span></div>
        <div class="col-md-12 check_font"><span><b></b>&emsp;</span></div>
      </div>
      <div class="col-md-4" style="border-right:1px solid #ccc;height: 100%;">
        <div class="col-md-12 check_font"><span><b></b>&emsp;</span></div>
        <div class="col-md-12 check_font"><span><b></b>&emsp;</span></div>
        <div class="col-md-12 check_font"><span><b></b>&emsp;</span></div>
        <div class="col-md-12 check_font"><span><b></b>&emsp;</span></div>
        <div class="col-md-12 check_font"><span><b></b>&emsp;</span></div>
        <div class="col-md-12 check_font"><span><b></b>&emsp;</span></div>
        <div class="col-md-12 check_font text-center"><span><b>(Common Seal)</b>&emsp;</span></div>
      </div>
      <div class="col-md-4" style="height: 100%; padding-left: 0; padding-right: 0;">
        <% if @tax_invoice.type == "tax_invoice" %>
          <div class="row" style="border-bottom:1px solid #ccc;">
            <div class="col-md-9 col-lg-9 check_font text-right"><b>Total Amount</b><span style="font-weight: bold;margin-left: 3px;">:</span>
            </div>
            <div class="col-md-3 col-lg-3 check_font" style="padding: 0;margin: 0;">
              <span><%= @tax_invoice.total_amount %></span>
            </div>
          </div>
        <% end %>
          <div class="row" style="border-bottom:1px solid #ccc; padding-bottom: 10px;">
            <div class="col-md-12 check_font">
              <div class="check_font text-left"><b>GST Payable on Reverse Charge</b><span style="font-weight: bold;">:</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 check_font"><span>Certified that the particulars given above are true and correct.</span></div>
            <div class="row check_font">
              <div class="col-md-3"></div>
              <div class="col-md-6" style="padding: 2px;"><b><%= entity_name %></b></div>
              <div class="col-md-3"></div>
            </div>
            <div class="col-md-12 check_font" style="text-align: center;">
              <b>Authorised Signatory</b>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .table-add-item td{
    padding: 5px 5px 0;
  }

  .check_font table tr th {
    padding: 1px 2px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
  }

  .check_font table tr td {
    padding: 5px 8px;
    text-align: center;
  }

  .check_font {
    font-size: 11px;
  }
  .table-borderless tr td {
    border: none !important;
    padding:  1px 1px 0 !important;
  }
  table th {
    vertical-align: middle !important;
  }
</style>
