<div class="row mb10">
  <div class="col-sm-12">
    <% if @case_sheet.present? %>
      <%= hidden_field_tag "ot_schedule[case_sheet_id]", @case_sheet.id, { class: 'hidden_case_sheet_id' } %>
    <% else %>
      <div class="row">
        <div class="col-md-4">
          <span>All Cases :</span>
        </div>
        <div class="col-md-8">
          <select name='ot_schedule[case_sheet_id]' id="ot_schedule_case_sheet_id" class="form-control case_sheet_list p7_10">
            <option value=""></option>
            <% @case_sheets.each do |case_sheet| %>
              <% if case_sheet.id.to_s !=  params[:active_case_id] %>
                <option value="<%= case_sheet.id %>">
                  <%= case_sheet.case_id %> - <%= case_sheet.case_name %>(<%= case_sheet.start_date.strftime('%d/%m/%Y') %>)
                </option>
              <% end %>
            <% end %>
            <option value="new_case">Add New Case</option>
          </select>
        </div>
      </div>
      <hr/>
    <% end %>
    <div id="case_details">
      <% if @case_sheet.present? %>
        <%= render partial: 'case_sheets/forms/case_form.html.erb', locals: { source: "OT", show_note: true } %>
      <% end %>
    </div>
  </div>
</div>
