<div class="row mb20">
  <div class="col-md-3">
    <b>Diagnosis:</b>
  </div>
  <div class="col-md-9">
    <% if @diagnosis.present? %>
        <%#= @diagnosis %>
        <% @diagnosis.each do |dia|%>
            <li><%= dia.diagnosisoriginalname %></li>
        <% end %>
    <% else %>
        <b>None</b>
    <% end %>
  </div>
</div>
<div class="row mb20">
  <div class="col-md-3">
    <b>Procedure Advised:</b>
  </div>
  <div class="col-md-9">
    <% if @performed_remaining.present? %>
        <%#= @performed_remaining %>
        <% @performed_remaining.each do |pro|%>
            <li><%= pro.procedurename %>,&nbsp;<%= pro.get_label_for_procedure_side(pro.procedureside) %></li>
        <% end %>
    <% else %>
        <b>None</b>
    <% end %>
  </div>
</div>
<div class="row mb20">
  <div class="col-md-3">
    <b>Procedure Performed :</b>
  </div>
  <div class="col-md-9">
    <% if @procedures.present? %>
        <% @procedures.each do |proc|%>
            <li><%= proc.procedurename %>,&nbsp;<%= proc.get_label_for_procedure_side(proc.procedureside)%></li>
        <% end %>
    <% else %>
        <b>None</b>
    <% end %>
  </div>
</div>