<div class="row mb10">
  <div class="col-sm-12">
    <%= hidden_field_tag "ot_schedule[organisation_id]", current_user.organisation_id %>
    <%= hidden_field_tag "ot_schedule[patient_id]", params[:patient_id] %>
    <%= hidden_field_tag "ot_schedule[user_id]", current_user.id %>
    <%= hidden_field_tag "ot_schedule[ottime]", '' %>
    <%= hidden_field_tag "ot_schedule[otendtime]", '' %>
    <%= hidden_field_tag "ot_schedule[id]", params[:id] %>
    <% if @ot_schedules && @ot_schedules.count > 0 %>
      <div class="row mb20">
        <div class="col-sm-12">
          <b style="color:#000;">Exisiting OTs (<%= @ot_schedules.count %>)</b>
        </div>
        <% @ot_schedules.each.with_index do |ot_schedule, i| %>
          <div class="col-sm-6">
            <%= i+1 %>. <b style="color:#000;"><%= ot_schedule.ottime.strftime("%I:%M %p on %b %d, %Y") %></b>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="row mb20">
      <div class="col-sm-6">
        <b style="color:#000;">Location</b>
        <% facilities = User.find_by(id: current_user.id).facilities.where(is_active: true).sort(name: :asc) %>
        <%= select_tag("ot_schedule[facility_id]", options_for_select(facilities.map { |facility| [facility.name, facility.id] }, @selected_facility),:class=> "form-control p7_10") %>
      </div>

      <div class="col-sm-6 specialty_dropdown_div">
        <b style="color:#000;">Specialty</b>
        <%= select_tag "ot_schedule[specialty_id]", options_for_select(@available_specialties, @selected_specialty), { class: "form-control ot_schedule_specialty" } %>
      </div>
    </div>

    <div class="row mb20">
      <div class="col-sm-6">
        <b style="color:#000;">Doctor</b>
        <%= select_tag "ot_schedule[surgeonname]", options_for_select(@available_doctors, @selected_doctor), { class: "ot_schedule_surgeonname form-control p7_10" } %>
      </div>

      <div class="col-sm-6">
        <b style="color:#000;">Operation Theatre</b>
        <%= select_tag "ot_schedule[theatreno]", options_for_select(@available_ots, @selected_ots), { class: "ot_schedule_theatreno form-control p7_10", include_blank: "Select Operation Theatre" } %>
      </div>
    </div>

    <div class="row mb20">
      <div class="col-sm-12">
        <b style="color:#000;">OT Start Date & Time</b>
      </div>
      <div class="col-sm-6">
        <%= text_field_tag "ot_schedule[otdate]", @current_date.strftime("%d/%m/%Y"), class: "form-control p7_10 ot_schedule-datepicker", readonly: 'readonly' %>
      </div>
      <div class="col-sm-6">
        <div class="bootstrap-timepicker timepicker">
          <%= text_field_tag :ot_schedule_time, @current_time.strftime("%I:%M %p"), class: "form-control p7_10 ot_schedule-timepicker" %>
        </div>
      </div>
    </div>
    <div class="row mb20">
     <div class="col-sm-12">
        <b class="label_end_date_time" style="color:#000;">OT End Date & Time</b>&nbsp;&nbsp;<span style="color: red;font-size: 13px;">(OT End Time should be greater than OT Start Time)</span>
      </div>
      <div class="col-sm-6">
        <%= text_field_tag "ot_schedule[otenddate]", @otenddate.strftime("%d/%m/%Y"), class: "form-control p7_10 ot_schedule-datepicker", readonly: 'readonly' %>
      </div>
      <div class="col-sm-6">
        <div class="bootstrap-timepicker timepicker">
          <%= text_field_tag :ot_schedule_end_time, @ot_end_time.strftime("%I:%M %p") || Time.current.strftime("%I:%M %p"), class: "form-control p7_10 ot_schedule_end-timepicker" %>
        </div>
      </div>
    </div>
    <div class="row mb20">
      <div class="col-md-12" style="background: #eff0f1; padding: 5px;">
        <div class="col-sm-12 ckbox ckbox-success">
          <%= check_box_tag 'ot_schedule[confirm_ot]', false, @ot_schedule.confirm_ot, {id: "confirm_ot"} %>
          <label for="confirm_ot">Ignore Time Slot Overlap</label>&nbsp;
          <small class="ot_confirm_msg" style="display: none; color: red;">Confirmation is required</small>
        </div>
        <div class="col-sm-12 ot_confirm_msg" style="display: none; color: red;">
          <span>There is already one or more patients scheduled for the selected Doctor, Operation theatre or/and for time slot defined.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  // Select2 When More than 5 Facilities
  // if('<%#= facilities.count < 5 %>' == 'true'){
    $("#ot_schedule_facility_id").select2()
    $("#ot_schedule_specialty_id").select2()
  // }
    $("#ot_schedule_theatreno").select2()
  // Select2 When More than 5 Doctors
  // if('<%#= users.count < 5 %>' == 'true'){
    $("#ot_schedule_surgeonname").select2()
  // }
</script>