<div class="row" style="padding:30px;">
  <div class="col-md-12">
    <div class="row">
      <div class="col-sm-4">
        <!-- Sales -->
        <%= render partial: "/mis/financial_reports/sales/report_list.html.erb" %>
      </div>
      <div class="col-sm-4">
        <!-- Receivables -->
        <%= render partial: "/mis/financial_reports/receivables/report_list.html.erb" %>
      </div>
      <div class="col-sm-4">
        <!-- Payment Received -->
        <%= render partial: "/mis/financial_reports/payment_received/report_list.html.erb" %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <!-- Tax -->
        <%= render partial: "/mis/financial_reports/tax/report_list.html.erb" %>
        <!-- Expenses -->
        <%= render partial: "/mis/financial_reports/expenses/report_list.html.erb" %>
      </div>
      <div class="col-sm-4">
        <!-- Audit -->
        <%= render partial: "/mis/financial_reports/audit/report_list.html.erb" %>
      </div>
      <div class="col-sm-4">
        <!-- Inventory -->
        <%= render partial: "/mis/financial_reports/inventory/report_list.html.erb" %>
      </div>
    </div>
  </div>
</div>