<% current_date = Date.current %>
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mis-list-filters">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span> 
  </button>
  <a class="navbar-brand ps" style="color:#fff;" href="/mis/financial_reports" data-remote="true">MIS Reports</a>&emsp;<a class="navbar-brand refresh-mis-reports" style="color:#fff;font-size:12px;" href="#"><i class="fa fa-refresh"></i></a>
</div>
<div class="mis-list-filters">
  <div class="collapse navbar-collapse" id="mis-list-filters">
    <ul class="nav navbar-nav" style="font-size:16px;margin-right: 2%;">
      <!-- Time Period -->
      <li class="dropdown" style="margin-right:25px;">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="mis-dropdown-title">Period</span>
          <span id="mis-date-filter" start-date="<%= @mis_params[:start_date] %>" end-date="<%= @mis_params[:end_date] %>"><%= @mis_params[:time_period] %></span>&emsp;<span class="fa fa-caret-down"></span>
        </a>
        <ul class="dropdown-menu mis-search-toggle-off" id="period-list" style="overflow-y: auto;max-height:400px;">
          <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date %>" end-date="<%= current_date %>">Today</a></li>
          <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.beginning_of_week %>" end-date="<%= current_date.end_of_week %>">This Week</a></li>
          <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.beginning_of_month %>" end-date="<%= current_date.end_of_month %>">This Month</a></li>
          <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.beginning_of_quarter %>" end-date="<%= current_date.end_of_quarter %>">This Quarter</a></li>
          <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.beginning_of_year %>" end-date="<%= current_date.end_of_year %>">This Year</a></li>
          <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.yesterday %>" end-date="<%= current_date.yesterday %>">Yesterday</a></li>
          <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= (current_date - current_date.wday).beginning_of_week %>" end-date="<%= (current_date - current_date.wday).end_of_week %>">Previous Week</a></li>
          <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= (current_date - current_date.mday).beginning_of_month %>" end-date="<%= (current_date - current_date.mday).end_of_month %>">Previous Month</a></li>
          <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= (current_date - 3.months).beginning_of_quarter %>" end-date="<%= (current_date - 3.months).end_of_quarter %>">Previous Quarter</a></li>
          <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= (current_date - current_date.yday).beginning_of_year %>" end-date="<%= (current_date - current_date.yday).end_of_year %>">Previous Year</a></li>
          <!-- Custom -->
          <li class="period-list"><div class="mis-date-filter-custom" data-remote="true" data-toggle="modal" data-target="#mis-modal">Custom</div></li>
        </ul>
      </li>

      <!-- Facility -->
      <li class="dropdown" style="margin-right:25px;">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="mis-dropdown-title">Facility</span>
          <span id="mis-facility-filter" facility-id="<%= @mis_params[:facility_id] %>" facility-name="<%= @mis_params[:facility_name] %>"><%= @mis_params[:facility_name] %></span><% if @facilities.count > 1 %>&emsp;<span class="fa fa-caret-down"></span><% end %>
        </a>
        <% if @facilities.count > 1 %>
          <ul class="dropdown-menu mis-search-toggle-off" id="facility-list" style="overflow-y: auto;max-height:400px;">
            <% if @facilities.count > 10 %>
              <li><input type="text" name="search_facility" id='mis-search-facility' placeholder="Search Facility" class="form-control p5_10"></li>
              <hr style="margin:5px;" />
            <% end %>
            <li class="facility-list"><a class="mis-facility-filter" href="#" facility-id="" facility-name="All Facility"><span class="mis-facility-name">All Facility</span></a></li>
            <% @facilities.each do |facility| %>
              <li class="facility-list"><a class="mis-facility-filter" href="#" facility-id="<%= facility[:id].to_s %>" facility-name="<%= facility[:name] %>"><span class="mis-facility-name"><%= facility[:name] %></span></a></li>
            <% end %>
          </ul>
        <% end %>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" style="font-size:16px;margin-right: 2%;margin-top:10px;">
      <%= mis_params = "" %><% @mis_params.each { |key, value| mis_params += "#{key}=#{value}&" } %>
      <a href="/mis/financial_reports/download_data.xls?<%= mis_params %>" class="btn btn-primary btn-primary-transparent" style="color:#fff"><i class="fa fa-download"></i> Download</a>
    </ul>
  </div>
</div>

<script type="text/javascript">
  <%= render partial: "reports_view.js.erb" %>
</script>