<% country_id = current_facility.country_id %>
<div class="step-pane <%= stepcount==1? "active" : "" %>" data-step="<%= stepcount %>">
  <div id="hg-sticky-anchor"></div>
  <div class="row mb30">
    <div class="row mb20">
      <div class="col-md-12 col-sm-12">
        <div class="col-md-2 col-sm-2">Case History :</div>
        <div class="col-md-6 col-sm-5 case_history-input">
          <%= f.input :case_history_comments, label: false, required: false, input_html: {class: "form-control case_history_comments", name: "opdrecord[case_history_comments]", size: "60", maxlength: "100", value: opdrecord.read_attribute(:case_history_comments) } %>
        </div>
      </div>
    </div>
    <div class="row vision-heading">
      <div class="col-md-4 col-xs-4">
        <div class="panel panel-success r-eye-panel">
          <div class="panel-heading r-eye-panel-heading" style="padding: 2px;">
            <h4 class="panel-title r-eye-panel-title text-center" style="color:#FFF;">R / OD</h4>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-4">
        <div class="panel panel-success l-eye-panel">
          <div class="panel-heading l-eye-panel-heading" style="padding: 2px;">
            <h4 class="panel-title l-eye-panel-title text-center" style="color:#FFF;">L / OS</h4>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-4">
        <div class="panel panel-success l-eye-panel">
          <div class="panel-heading l-eye-panel-heading" style="padding: 2px;">
            <h4 class="panel-title l-eye-panel-title text-center" style="color:#FFF;">BE / OU</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="row dry-visual-acuity-block mb10">
      <div class="hr-line-border mb5"></div>
      <div class="col-md-4 col-xs-4">
        <div class="row r-visualacuity-row">
          <div class="col-md-12 col-sm-12 col-xs-12 r-visualacuity-column questionsforvisualacuity" id="r-questionsforvisualacuity" style="padding-top: 3px;">
            <div class="col-md-4 col-sm-4" style="padding: 0px">
              <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>VISUAL ACUITY (Va)</strong></div>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 r-answersforvisualacuity">
            <div class="row col-md-12 col-sm-12">
              <span class="col-md-2 col-sm-2">UCVA <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_r_visualacuity_unaided" class="clear_r_visualacuity_unaided">clear</small>
                <%= f.input_field :r_visualacuity_unaided_comments, :class => "r_visualacuity_unaided_comments form-control form-control-comment ref_field", :maxlength => 12, :required => false, :name => "opdrecord[r_visualacuity_unaided_comments]", :value => opdrecord.read_attribute(:r_visualacuity_unaided_comments) %>
              </span>
              <%= f.input :r_visualacuity_unaided, wrapper_html: {:class => "col-md-9 col-sm-9",:style => "padding: 0px"},collection: opdrecord.visual_acuity_values(country_id), :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white r_va r_visualacuity_unaided', :input_html => {:name => "opdrecord[r_visualacuity_unaided]" }, :checked => opdrecord.read_attribute(:r_visualacuity_unaided) %>
              <%= f.input :r_visualacuity_unaided_p, wrapper_html: {:class=>"col-md-1 col-sm-1"},collection: [ ['P','P'] ], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white r_va r_visualacuity_unaided_p r_unaided_p', :input_html => {:name => "opdrecord[r_visualacuity_unaided_p]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_visualacuity_unaided_p)) %>

              <span class="col-md-2 col-sm-2">Near<small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_r_visualacuity_ua_near" class="clear_r_visualacuity_ua_near">clear</small>
                <%= f.input_field :r_visualacuity_ua_near_comments, :class => "r_visualacuity_ua_near_comments form-control form-control-comment ref_field", :maxlength => 12, :required => false, :name => "opdrecord[r_visualacuity_ua_near_comments]", :value => opdrecord.read_attribute(:r_visualacuity_ua_near_comments) %>
                </span>
              <%= f.input :r_visualacuity_ua_near, wrapper_html: {:class => "col-md-9 col-sm-9",:style => "padding: 0px"},collection: opdrecord.visual_acuity_near_values(country_id), :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white r_va r_visualacuity_ua_near', :input_html => {:name => "opdrecord[r_visualacuity_ua_near]" }, :checked => opdrecord.read_attribute(:r_visualacuity_ua_near) %>
              <%= f.input :r_visualacuity_ua_near_p, wrapper_html: {:class=>"col-md-1 col-sm-1"},collection: [ ['P','P'] ], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white r_va r_visualacuity_ua_near_p r_ua_near_p', :input_html => {:name => "opdrecord[r_visualacuity_ua_near_p]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_visualacuity_ua_near_p)) %>
              <div class="col-md-offset-2 col-sm-offset-2 col-md-10 col-sm-10 mb10" style="padding: 0">
                <div class="col-md-1 col-sm-1" style="margin-top: 1%">PR:</div>
                <div class="col-md-10 col-sm-10" style="padding: 0">
                  <span class="col-md-1 col-sm-1 text-right" style="margin-top: 1%">S</span>
                  <%= f.input :r_visualacuity_ua_s, wrapper_html: {:class => "col-md-2 col-sm-2"},collection: ['+','-'], :include_blank => 'Sel', :label => false, :required => false, :class => 'btn btn-xs btn-white r_va r_visualacuity_ua_s form-control', :input_html => {:name => "opdrecord[r_visualacuity_ua_s]", :class => "form-control r_va r_visualacuity_ua_s", :style => "padding: 4px 0px" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_visualacuity_ua_s)) %>
                  <span class="col-md-1 col-sm-1 text-right" style="margin-top: 1%">I</span>
                  <%= f.input :r_visualacuity_ua_i, wrapper_html: {:class => "col-md-2 col-sm-2"},collection: ['+','-'], :include_blank => 'Sel', :label => false, :required => false, :class => 'btn btn-xs btn-white r_va r_visualacuity_ua_i form-control', :input_html => {:name => "opdrecord[r_visualacuity_ua_i]", :class => "form-control r_va r_visualacuity_ua_i", :style => "padding: 4px 0px" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_visualacuity_ua_i)) %>
                  <span class="col-md-1 col-sm-1 text-right" style="margin-top: 1%">N</span>
                  <%= f.input :r_visualacuity_ua_n, wrapper_html: {:class => "col-md-2 col-sm-2"},collection: ['+','-'], :include_blank => 'Sel', :label => false, :required => false, :class => 'btn btn-xs btn-white r_va r_visualacuity_ua_n form-control', :input_html => {:name => "opdrecord[r_visualacuity_ua_n]", :class => "form-control r_va r_visualacuity_ua_n", :style => "padding: 4px 0px" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_visualacuity_ua_n)) %>
                  <span class="col-md-1 col-sm-1 text-right" style="margin-top: 1%">T</span>
                  <%= f.input :r_visualacuity_ua_t, wrapper_html: {:class => "col-md-2 col-sm-2"},collection: ['+','-'], :include_blank => 'Sel', :label => false, :required => false, :class => 'btn btn-xs btn-white r_va r_visualacuity_ua_t form-control', :input_html => {:name => "opdrecord[r_visualacuity_ua_t]", :class => "form-control r_va r_visualacuity_ua_t", :style => "padding: 4px 0px" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_visualacuity_ua_t)) %>
                </div>
              </div>
            </div>
            <div class="row col-md-12 col-sm-12">
              <div class="col-md-10 col-sm-10">
                <%= f.text_area :r_visualacuity_comments, {:class => "form-control r_visualacuity_comments", :style => "width:100%; margin-left: 52px;", :required => false, :name => "opdrecord[r_visualacuity_comments]", :value => opdrecord.read_attribute(:r_visualacuity_comments)} %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-4">
        <div class="row l-visualacuity-row">
          <div class="col-md-12 col-sm-12 l-visualacuity-column questionsforvisualacuity" id="l-questionsforvisualacuity" style="padding-top: 3px;">
            <div class="col-md-4 col-sm-4" style="padding: 0px">
              <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>VISUAL ACUITY (Va)</strong></div>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 l-answersforvisualacuity">
            <div class="row col-md-12 col-sm-12">
                <span class="col-md-2 col-sm-2">UCVA <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_l_visualacuity_unaided" class="clear_l_visualacuity_unaided">clear</small>
                  <%= f.input_field :l_visualacuity_unaided_comments, class: 'l_visualacuity_unaided_comments form-control form-control-comment ref_field', maxlength: 12, required: false, name: 'opdrecord[l_visualacuity_unaided_comments]', value: opdrecord.read_attribute(:l_visualacuity_unaided_comments) %>
                </span>
              <%= f.input :l_visualacuity_unaided, wrapper_html: { class: 'col-md-9 col-sm-9', style: 'padding: 0px' }, collection: opdrecord.visual_acuity_values(country_id), as: :hg_radio_button, label: false, required: false, class: 'btn btn-xs btn-white l_va l_visualacuity_unaided', input_html: { name: 'opdrecord[l_visualacuity_unaided]' }, checked: opdrecord.read_attribute(:l_visualacuity_unaided) %>
              <%= f.input :l_visualacuity_unaided_p, wrapper_html: { class: 'col-md-1 col-sm-1' }, collection: [['P', 'P']], as: :hg_checkbox, label: false, required: false, class: 'btn btn-xs btn-white l_va l_visualacuity_unaided_p l_unaided_p', input_html: { name: 'opdrecord[l_visualacuity_unaided_p]' }, checked: opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_visualacuity_unaided_p)) %>
              <span class="col-md-2 col-sm-2">Near<small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_l_visualacuity_ua_near" class="clear_l_visualacuity_ua_near">clear</small>
                <%= f.input_field :l_visualacuity_ua_near_comments, class: 'form-control l_visualacuity_ua_near_comments form-control-comment ref_field', maxlength: 12, required: false, name: 'opdrecord[l_visualacuity_ua_near_comments]', value: opdrecord.read_attribute(:l_visualacuity_ua_near_comments) %>
              </span>
              <%= f.input :l_visualacuity_ua_near, wrapper_html: { class: 'col-md-9 col-sm-9', style: 'padding: 0px' }, collection: opdrecord.visual_acuity_near_values(country_id), as: :hg_radio_button, label: false, required: false, class: 'btn btn-xs btn-white l_va l_visualacuity_ua_near', input_html: { name: 'opdrecord[l_visualacuity_ua_near]' }, checked: opdrecord.read_attribute(:l_visualacuity_ua_near) %>
              <%= f.input :l_visualacuity_ua_near_p, wrapper_html: { class: 'col-md-1 col-sm-1' }, collection: [['P', 'P']], as: :hg_checkbox, label: false, required: false, class: 'btn btn-xs btn-white l_va l_visualacuity_ua_near_p l_ua_near_p', input_html: { name: 'opdrecord[l_visualacuity_ua_near_p]' }, checked: opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_visualacuity_ua_near_p)) %>
              <div class="col-md-offset-2 col-sm-offset-2 col-md-10 col-sm-10 mb10" style="padding: 0px">
                <div class="col-md-1 col-sm-1" style="margin-top: 1%">PR:</div>
                <div class="col-md-10 col-sm-10" style="padding: 0">
                  <span class="col-md-1 col-sm-1 text-right" style="margin-top: 1%">S</span>
                  <%= f.input :l_visualacuity_ua_s, wrapper_html: { class: 'col-md-2 col-sm-2' }, collection: ['+', '-'], include_blank: 'Sel', label: false, required: false, class: 'btn btn-xs btn-white l_va l_visualacuity_ua_s form-control', input_html: { name: 'opdrecord[l_visualacuity_ua_s]', class: 'form-control l_va l_visualacuity_ua_s', style: 'padding: 4px 0px' }, checked: opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_visualacuity_ua_s)) %>
                  <span class="col-md-1 col-sm-1 text-right" style="margin-top: 1%">I</span>
                  <%= f.input :l_visualacuity_ua_i, wrapper_html: { class: 'col-md-2 col-sm-2' }, collection: ['+', '-'], include_blank: 'Sel', label: false, required: false, class: 'btn btn-xs btn-white l_va l_visualacuity_ua_i form-control', input_html: { name: 'opdrecord[l_visualacuity_ua_i]', class: 'form-control l_va l_visualacuity_ua_i', style: 'padding: 4px 0px' }, checked: opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_visualacuity_ua_i)) %>
                  <span class="col-md-1 col-sm-1 text-right" style="margin-top: 1%">N</span>
                  <%= f.input :l_visualacuity_ua_n, wrapper_html: { class: 'col-md-2 col-sm-2' }, collection: ['+', '-'], include_blank: 'Sel', label: false, required: false, class: 'btn btn-xs btn-white l_va l_visualacuity_ua_n form-control', input_html: { name: 'opdrecord[l_visualacuity_ua_n]', class: 'form-control l_va l_visualacuity_ua_n', style: 'padding: 4px 0px' }, chncked: opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_visualacuity_ua_n)) %>
                  <span class="col-md-1 col-sm-1 text-right" style="margin-top: 1%">T</span>
                  <%= f.input :l_visualacuity_ua_t, wrapper_html: { class: 'col-md-2 col-sm-2' }, collection: ['+', '-'], include_blank: 'Sel', label: false, required: false, class: 'btn btn-xs btn-white l_va l_visualacuity_ua_t form-control', input_html: { name: 'opdrecord[l_visualacuity_ua_t]', class: 'form-control l_va l_visualacuity_ua_t', style: 'padding: 4px 0px' }, checked: opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_visualacuity_ua_t)) %>
                </div>
              </div>
            </div>
            <div class="row col-md-12 col-sm-12">
              <div class="col-md-10 col-sm-10">
                <%= f.text_area :l_visualacuity_comments, { class: 'form-control l_visualacuity_comments', style: 'width:100%;margin-left: 52px;', required: false, name: 'opdrecord[l_visualacuity_comments]', value: opdrecord.read_attribute(:l_visualacuity_comments) } %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-4">
        <div class="row be-visualacuity-row">
          <div class="col-md-12 col-sm-12 be-visualacuity-column questionsforvisualacuity" id="be-questionsforvisualacuity" style="padding-top: 3px;">
            <div class="col-md-4 col-sm-4" style="padding: 0px">
              <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>VISUAL ACUITY (Va)</strong></div>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 be-answersforvisualacuity">
            <div class="row col-md-12 col-sm-12">
                <span class="col-md-2 col-sm-2">UCVA <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_be_visualacuity_unaided" class="clear_be_visualacuity_unaided">clear</small>
                  <%= f.input_field :be_visualacuity_unaided_comments, class: 'form-control form-control-comment ref_field', maxlength: 12, required: false, name: 'opdrecord[be_visualacuity_unaided_comments]', value: opdrecord.read_attribute(:be_visualacuity_unaided_comments) %>
                </span>
              <%= f.input :be_visualacuity_unaided, wrapper_html: { class: 'col-md-9 col-sm-9', style: 'padding: 0px' }, collection: opdrecord.visual_acuity_values(country_id), as: :hg_radio_button, label: false, required: false, class: 'btn btn-xs btn-white be_va be_visualacuity_unaided', input_html: { name: 'opdrecord[be_visualacuity_unaided]' }, checked: opdrecord.read_attribute(:be_visualacuity_unaided) %>
              <%= f.input :be_visualacuity_unaided_p, wrapper_html: { class: 'col-md-1 col-sm-1' }, collection: [['P', 'P']], as: :hg_checkbox, label: false, required: false, class: 'btn btn-xs btn-white be_va be_visualacuity_unaided_p', input_html: { name: 'opdrecord[be_visualacuity_unaided_p]' }, checked: opdrecord.checkboxes_checked(opdrecord.read_attribute(:be_visualacuity_unaided_p)) %>
              <span class="col-md-2 col-sm-2">Near<small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_be_visualacuity_ua_near" class="clear_be_visualacuity_ua_near">clear</small>
                <%= f.input_field :be_visualacuity_ua_near_comments, class: 'form-control form-control-comment ref_field', maxlength: 12, required: false, name: 'opdrecord[be_visualacuity_ua_near_comments]', value: opdrecord.read_attribute(:be_visualacuity_ua_near_comments) %>
              </span>
              <%= f.input :be_visualacuity_ua_near, wrapper_html: { class: 'col-md-9 col-sm-9', style: 'padding: 0px' }, collection: opdrecord.visual_acuity_near_values(country_id), as: :hg_radio_button, label: false, required: false, class: 'btn btn-xs btn-white be_va be_visualacuity_ua_near', input_html: { name: 'opdrecord[be_visualacuity_ua_near]' }, checked: opdrecord.read_attribute(:be_visualacuity_ua_near) %>
              <%= f.input :be_visualacuity_ua_near_p, wrapper_html: { class: 'col-md-1 col-sm-1' }, collection: [['P', 'P']], as: :hg_checkbox, label: false, required: false, class: 'btn btn-xs btn-white be_va be_visualacuity_ua_near_p', input_html: { name: 'opdrecord[be_visualacuity_ua_near_p]' }, checked: opdrecord.checkboxes_checked(opdrecord.read_attribute(:be_visualacuity_ua_near_p)) %>
              <div class="col-md-offset-2 col-sm-offset-2 col-md-10 col-sm-10 mb10" style="padding: 0px">
                <div class="col-md-1 col-sm-1" style="margin-top: 1%">PR:</div>
                <div class="col-md-10 col-sm-10" style="padding: 0">
                  <span class="col-md-1 col-sm-1 text-right" style="margin-top: 1%">S</span>
                  <%= f.input :be_visualacuity_ua_s, wrapper_html: { class: 'col-md-2 col-sm-2' }, collection: ['+', '-'], include_blank: 'Sel', label: false, required: false, class: 'btn btn-xs btn-white be_va be_visualacuity_ua_s form-control', input_html: { name: 'opdrecord[be_visualacuity_ua_s]', class: 'form-control be_va', style: 'padding: 4px 0px' }, checked: opdrecord.checkboxes_checked(opdrecord.read_attribute(:be_visualacuity_ua_s)) %>
                  <span class="col-md-1 col-sm-1 text-right" style="margin-top: 1%">I</span>
                  <%= f.input :be_visualacuity_ua_i, wrapper_html: { class: 'col-md-2 col-sm-2' }, collection: ['+', '-'], include_blank: 'Sel', label: false, required: false, class: 'btn btn-xs btn-white be_va be_visualacuity_ua_i form-control', input_html: { name: 'opdrecord[be_visualacuity_ua_i]', class: 'form-control be_va', style: 'padding: 4px 0px' }, checked: opdrecord.checkboxes_checked(opdrecord.read_attribute(:be_visualacuity_ua_i)) %>
                  <span class="col-md-1 col-sm-1 text-right" style="margin-top: 1%">N</span>
                  <%= f.input :be_visualacuity_ua_n, wrapper_html: { class: 'col-md-2 col-sm-2' }, collection: ['+', '-'], include_blank: 'Sel', label: false, required: false, class: 'btn btn-xs btn-white be_va be_visualacuity_ua_n form-control', input_html: { name: 'opdrecord[be_visualacuity_ua_n]', class: 'form-control be_va', style: 'padding: 4px 0px' }, chncked: opdrecord.checkboxes_checked(opdrecord.read_attribute(:be_visualacuity_ua_n)) %>
                  <span class="col-md-1 col-sm-1 text-right" style="margin-top: 1%">T</span>
                  <%= f.input :be_visualacuity_ua_t, wrapper_html: { class: 'col-md-2 col-sm-2' }, collection: ['+', '-'], include_blank: 'Sel', label: false, required: false, class: 'btn btn-xs btn-white be_va be_visualacuity_ua_t form-control', input_html: { name: 'opdrecord[be_visualacuity_ua_t]', class: 'form-control be_va', style: 'padding: 4px 0px' }, checked: opdrecord.checkboxes_checked(opdrecord.read_attribute(:be_visualacuity_ua_t)) %>
                </div>
              </div>
            </div>
            <div class="row col-md-12 col-sm-12">
              <div class="col-md-10 col-sm-10">
                <%= f.text_area :be_visualacuity_comments, { class: 'form-control', style: 'width:100%;margin-left: 52px;', required: false, name: 'opdrecord[be_visualacuity_comments]', value: opdrecord.read_attribute(:be_visualacuity_comments) } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row pgp-block mb10">
      <div class="hr-line-border mb5"></div>
      <div class="col-md-4 col-xs-4">
        <div class="row r-pgp-row">
          <div class="col-md-12 col-sm-12 r-pgp-column questionsforpgp" id="r-questionsforpgp">
            <div class="col-md-4 col-sm-4" style="padding: 0px">
              <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>PGP</strong></div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="col-md-9 col-sm-9 r-answersforpgp">
                  <table class="table table-bordered">
                    <thead>
                      <tr class="success">
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;"></th>
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;">Sph</th>
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;">Cyl</th>
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;">Axis</th>
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;">Vision</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          Distant
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :r_pgp_distant_sph, :class => "form-control form-control-custom pgp r_pgp_distant_sph calculate_sph_near_from_distant ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_pgp_distant_sph]", :value => opdrecord.read_attribute(:r_pgp_distant_sph) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :r_pgp_distant_cyl, :class => "form-control form-control-custom pgp r_pgp_distant_cyl calculate_cyl_near_from_distant ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_pgp_distant_cyl]", :value => opdrecord.read_attribute(:r_pgp_distant_cyl) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :r_pgp_distant_axis, :class => "form-control form-control-custom pgp r_pgp_distant_axis calculate_axis_near_from_distant ref_field", :maxlength => 6, :required => false, :name => "opdrecord[r_pgp_distant_axis]", :value => opdrecord.read_attribute(:r_pgp_distant_axis) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :r_pgp_distant_vision, :class => "form-control form-control-custom pgp r_pgp_distant_vision ref_field", :maxlength => 12, :required => false, :name => "opdrecord[r_pgp_distant_vision]", :value => opdrecord.read_attribute(:r_pgp_distant_vision) %>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row mb5">
              <div class="col-md-2 col-sm-2">Comments: </div>
              <div class="col-md-9 col-sm-9">
                <%= f.text_area :r_pgp_comments, { class: 'form-control r_pgp_comments', style: 'width: 96%;margin-left: 9px;', required: false, name: 'opdrecord[r_pgp_comments]', value: opdrecord.read_attribute(:r_pgp_comments) } %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-4">
        <div class="row l-pgp-row">
          <div class="col-md-12 col-sm-12 l-pgp-column questionsforpgp" id="l-questionsforpgp">
            <div class="col-md-4 col-sm-4" style="padding: 0px">
              <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>PGP</strong></div>
            </div>
            <div class="row mb5">
              <div class="col-md-12 col-sm-12">
                <div class="col-md-9 col-sm-9 l-answersforpgp">
                  <table class="table table-bordered">
                    <thead>
                      <tr class="success">
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;"></th>
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;">Sph</th>
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;">Cyl</th>
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;">Axis</th>
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;">Vision</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          Distant
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :l_pgp_distant_sph, :class => "form-control form-control-custom pgp l_pgp_distant_sph calculate_sph_near_from_distant ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_pgp_distant_sph]", :value => opdrecord.read_attribute(:l_pgp_distant_sph) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :l_pgp_distant_cyl, :class => "form-control form-control-custom pgp l_pgp_distant_cyl calculate_cyl_near_from_distant ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_pgp_distant_cyl]", :value => opdrecord.read_attribute(:l_pgp_distant_cyl) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :l_pgp_distant_axis, :class => "form-control form-control-custom pgp l_pgp_distant_axis calculate_axis_near_from_distant ref_field", :maxlength => 6, :required => false, :name => "opdrecord[l_pgp_distant_axis]", :value => opdrecord.read_attribute(:l_pgp_distant_axis) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :l_pgp_distant_vision, :class => "form-control form-control-custom pgp l_pgp_distant_vision ref_field", :maxlength => 12, :required => false, :name => "opdrecord[l_pgp_distant_vision]", :value => opdrecord.read_attribute(:l_pgp_distant_vision) %>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row mb5">
              <div class="col-md-2 col-sm-2">Comments: </div>
              <div class="col-md-9 col-sm-9">
                <%= f.text_area :l_pgp_comments, { class: 'form-control l_pgp_comments', style: 'width:96%; margin-left: 9px;', required: false, name: 'opdrecord[l_pgp_comments]', value: opdrecord.read_attribute(:l_pgp_comments) } %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-4">
        <div class="row be-pgp-row">
          <div class="col-md-12 col-sm-12 be-pgp-column questionsforpgp" id="be-questionsforpgp">
            <div class="col-md-4 col-sm-4" style="padding: 0px">
              <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>PGP</strong></div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="col-md-9 col-sm-9 be-answersforpgp">
                  <table class="table table-bordered">
                    <thead>
                      <tr class="success">
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;"></th>
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;"></th>
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;"></th>
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;"></th>
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;">Vision</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          Distant
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :be_pgp_distant_sph, :class => "form-control form-control-custom pgp be_pgp_distant_sph calculate_sph_near_from_distant ref_field", :maxlength => 6, :readonly=> true, :required => false, :name => "opdrecord[be_pgp_distant_sph]", :value => opdrecord.read_attribute(:be_pgp_distant_sph) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :be_pgp_distant_cyl, :class => "form-control form-control-custom pgp be_pgp_distant_cyl calculate_cyl_near_from_distant ref_field", :maxlength => 6, :readonly=> true, :required => false, :name => "opdrecord[be_pgp_distant_cyl]", :value => opdrecord.read_attribute(:be_pgp_distant_cyl) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :be_pgp_distant_axis, :class => "form-control form-control-custom pgp be_pgp_distant_axis calculate_axis_near_from_distant ref_field", :readonly=> true, :maxlength => 6, :required => false, :name => "opdrecord[be_pgp_distant_axis]", :value => opdrecord.read_attribute(:be_pgp_distant_axis) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :be_pgp_distant_vision, :class => "form-control form-control-custom pgp be_pgp_distant_vision ref_field", :maxlength => 12, :required => false, :name => "opdrecord[be_pgp_distant_vision]", :value => opdrecord.read_attribute(:be_pgp_distant_vision) %>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row mb5">
              <div class="col-md-2 col-sm-2">Comments: </div>
              <div class="col-md-9 col-sm-9">
                <%= f.text_area :be_pgp_comments, { class: 'form-control', style: 'width:96%; margin-left: 9px;', required: false, name: 'opdrecord[be_pgp_comments]', value: opdrecord.read_attribute(:be_pgp_comments) } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row retinoscopy-block mb10">
      <div class="hr-line-border mb5"></div>
      <div class="col-md-4 col-xs-4">
        <div class="row r-retinoscopy-row">
          <div class="col-md-12 col-xs-12 r-refraction-column questionsforretinoscopy" id="r-questionsforretinoscopy">
            <div class="col-md-4 col-xs-4" style="padding: 0px">
              <div class="col-md-12 col-xs-12 badge badge-eye-template-labels"><strong>RETINOSCOPY</strong></div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="col-md-9 col-xs-9 r-answersforretinoscopy">
                  <table class="table table-bordered">
                    <thead>
                      <tr class="success">
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;"></th>
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;">Sph</th>
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;">Cyl</th>
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;">Axis</th>
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;">Vision</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          Dry
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :r_retinoscopy_sph, :class => "form-control form-control-custom retinoscopy r_retinoscopy_sph ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_retinoscopy_sph]", :value => opdrecord.read_attribute(:r_retinoscopy_sph) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :r_retinoscopy_cyl, :class => "form-control form-control-custom retinoscopy r_retinoscopy_cyl ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_retinoscopy_cyl]", :value => opdrecord.read_attribute(:r_retinoscopy_cyl) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :r_retinoscopy_axis, :class => "form-control form-control-custom retinoscopy r_retinoscopy_axis ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_retinoscopy_axis]", :value => opdrecord.read_attribute(:r_retinoscopy_axis) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :r_retinoscopy_vision, :class => "form-control form-control-custom retinoscopy r_retinoscopy_vision ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_retinoscopy_vision]", :value => opdrecord.read_attribute(:r_retinoscopy_vision) %>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          Cycloplegic
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :r_retinoscopy_dilated_sph, :class => "form-control form-control-custom dilated-retinoscopy r_retinoscopy_dilated_sph ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_retinoscopy_dilated_sph]", :value => opdrecord.read_attribute(:r_retinoscopy_dilated_sph) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :r_retinoscopy_dilated_cyl, :class => "form-control form-control-custom dilated-retinoscopy r_retinoscopy_dilated_cyl ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_retinoscopy_dilated_cyl]", :value => opdrecord.read_attribute(:r_retinoscopy_dilated_cyl) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :r_retinoscopy_dilated_axis, :class => "form-control form-control-custom dilated-retinoscopy r_retinoscopy_dilated_axis ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_retinoscopy_dilated_axis]", :value => opdrecord.read_attribute(:r_retinoscopy_dilated_axis) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :r_retinoscopy_dilated_vision, :class => "form-control form-control-custom dilated-retinoscopy r_retinoscopy_dilated_vision ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_retinoscopy_dilated_vision]", :value => opdrecord.read_attribute(:r_retinoscopy_dilated_vision) %>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row mb5">
              <div class="col-md-2 col-xs-2">Comments: </div>
              <div class="col-md-9 col-xs-9">
                <%= f.text_area :r_retinoscopy_dry_comments, {:class => "form-control r_retinoscopy_dry_comments", :style => "width:96%; margin-left: 9px;", :required => false, :name => "opdrecord[r_retinoscopy_dry_comments]", :value => opdrecord.read_attribute(:r_retinoscopy_dry_comments)} %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-4">
        <div class="row l-retinoscopy-row">
          <div class="col-md-12 col-xs-12 l-refraction-column questionsforretinoscopy" id="l-questionsforretinoscopy">
            <div class="col-md-4 col-xs-4" style="padding: 0px">
              <div class="col-md-12 col-xs-12 badge badge-eye-template-labels"><strong>RETINOSCOPY</strong></div>
            </div>
            <div class="row">
              <div class="col-md-12 col-md-12">
                <div class="col-md-9 col-xs-9 l-answersforretinoscopy">
                  <table class="table table-bordered">
                    <thead>
                      <tr class="success">
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;"></th>
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;">Sph</th>
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;">Cyl</th>
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;">Axis</th>
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;">Vision</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          Dry
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :l_retinoscopy_sph, :class => "form-control form-control-custom retinoscopy l_retinoscopy_sph ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_retinoscopy_sph]", :value => opdrecord.read_attribute(:l_retinoscopy_sph) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :l_retinoscopy_cyl, :class => "form-control form-control-custom retinoscopy l_retinoscopy_cyl ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_retinoscopy_cyl]", :value => opdrecord.read_attribute(:l_retinoscopy_cyl) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :l_retinoscopy_axis, :class => "form-control form-control-custom retinoscopy l_retinoscopy_axis ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_retinoscopy_axis]", :value => opdrecord.read_attribute(:l_retinoscopy_axis) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :l_retinoscopy_vision, :class => "form-control form-control-custom retinoscopy l_retinoscopy_vision ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_retinoscopy_vision]", :value => opdrecord.read_attribute(:l_retinoscopy_vision) %>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          Cycloplegic
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :l_retinoscopy_dilated_sph, :class => "form-control form-control-custom dilated-retinoscopy l_retinoscopy_dilated_sph ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_retinoscopy_dilated_sph]", :value => opdrecord.read_attribute(:l_retinoscopy_dilated_sph) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :l_retinoscopy_dilated_cyl, :class => "form-control form-control-custom dilated-retinoscopy l_retinoscopy_dilated_cyl ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_retinoscopy_dilated_cyl]", :value => opdrecord.read_attribute(:l_retinoscopy_dilated_cyl) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :l_retinoscopy_dilated_axis, :class => "form-control form-control-custom dilated-retinoscopy l_retinoscopy_dilated_axis ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_retinoscopy_dilated_axis]", :value => opdrecord.read_attribute(:l_retinoscopy_dilated_axis) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :l_retinoscopy_dilated_vision, :class => "form-control form-control-custom dilated-retinoscopy l_retinoscopy_dilated_vision ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_retinoscopy_dilated_vision]", :value => opdrecord.read_attribute(:l_retinoscopy_dilated_vision) %>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row mb5">
              <div class="col-md-2 col-xs-2">Comments: </div>
              <div class="col-md-9 col-xs-9">
                <%= f.text_area :l_retinoscopy_dry_comments, {:class => "form-control l_retinoscopy_dry_comments", :style => "width:96%; margin-left: 9px;", :required => false, :name => "opdrecord[l_retinoscopy_dry_comments]", :value => opdrecord.read_attribute(:l_retinoscopy_dry_comments)} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row subjective-refraction-block mb10">
      <div class="hr-line-border mb5"></div>
      <div class="col-md-4 col-xs-4">
        <div class="row r-subjective-refraction-row">
          <div class="col-md-12 col-xs-12 r-subjective-refraction-column questionsforsubjectiverefraction" id="r-questionsforsubjectiverefraction">
            <div class="col-md-4 col-xs-4" style="padding: 0px">
              <div class="col-md-12 col-xs-12 badge badge-eye-template-labels"><strong>SUBJECTIVE REFRACTION</strong></div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="col-md-9 col-xs-9 r-answersforsubjectiverefraction">
                  <table class="table table-bordered">
                    <thead>
                      <tr class="success">
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;"></th>
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;">Sph</th>
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;">Cyl</th>
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;">Axis</th>
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;">Vision</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          Blur Fun
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :r_sub_refraction_blur_sph, :class => "form-control form-control-custom retinoscopy r_sub_refraction_blur_sph ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_sub_refraction_blur_sph]", :value => opdrecord.read_attribute(:r_sub_refraction_blur_sph) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :r_sub_refraction_blur_cyl, :class => "form-control form-control-custom retinoscopy r_sub_refraction_blur_cyl ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_sub_refraction_blur_cyl]", :value => opdrecord.read_attribute(:r_sub_refraction_blur_cyl) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :r_sub_refraction_blur_axis, :class => "form-control form-control-custom retinoscopy r_sub_refraction_blur_axis ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_sub_refraction_blur_axis]", :value => opdrecord.read_attribute(:r_sub_refraction_blur_axis) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :r_sub_refraction_blur_vision, :class => "form-control form-control-custom retinoscopy r_sub_refraction_blur_vision ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_sub_refraction_blur_vision]", :value => opdrecord.read_attribute(:r_sub_refraction_blur_vision) %>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          M Blur Fun
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :r_sub_refraction_modified_blur_sph, :class => "form-control form-control-custom retinoscopy r_sub_refraction_modified_blur_sph ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_sub_refraction_modified_blur_sph]", :value => opdrecord.read_attribute(:r_sub_refraction_modified_blur_sph) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :r_sub_refraction_modified_blur_cyl, :class => "form-control form-control-custom retinoscopy r_sub_refraction_modified_blur_cyl ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_sub_refraction_modified_blur_cyl]", :value => opdrecord.read_attribute(:r_sub_refraction_modified_blur_cyl) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :r_sub_refraction_modified_blur_axis, :class => "form-control form-control-custom retinoscopy r_sub_refraction_modified_blur_axis ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_sub_refraction_modified_blur_axis]", :value => opdrecord.read_attribute(:r_sub_refraction_modified_blur_axis) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :r_sub_refraction_modified_blur_vision, :class => "form-control form-control-custom retinoscopy r_sub_refraction_modified_blur_vision ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_sub_refraction_modified_blur_vision]", :value => opdrecord.read_attribute(:r_sub_refraction_modified_blur_vision) %>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          Cycloplegic
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :r_sub_refraction_cyclo_sph, :class => "form-control form-control-custom retinoscopy r_sub_refraction_cyclo_sph ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_sub_refraction_cyclo_sph]", :value => opdrecord.read_attribute(:r_sub_refraction_cyclo_sph) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :r_sub_refraction_cyclo_cyl, :class => "form-control form-control-custom retinoscopy r_sub_refraction_cyclo_cyl ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_sub_refraction_cyclo_cyl]", :value => opdrecord.read_attribute(:r_sub_refraction_cyclo_cyl) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :r_sub_refraction_cyclo_axis, :class => "form-control form-control-custom retinoscopy r_sub_refraction_cyclo_axis ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_sub_refraction_cyclo_axis]", :value => opdrecord.read_attribute(:r_sub_refraction_cyclo_axis) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :r_sub_refraction_cyclo_vision, :class => "form-control form-control-custom retinoscopy r_sub_refraction_cyclo_vision ref_field", :maxlength => 8, :required => false, :name => "opdrecord[r_sub_refraction_cyclo_vision]", :value => opdrecord.read_attribute(:r_sub_refraction_cyclo_vision) %>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>  
            </div>
            <div class="row mb5">
              <div class="col-md-2 col-xs-2">Comments: </div>
              <div class="col-md-9 col-xs-9">
                <%= f.text_area :r_sub_refraction_comments, {:class => "form-control", :style => "width:96%; margin-left: 9px;", :required => false, :name => "opdrecord[r_sub_refraction_comments]", :value => opdrecord.read_attribute(:r_sub_refraction_comments)} %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-4">
        <div class="row l-subjective-refraction-row">
          <div class="col-md-12 col-xs-12 l-subjective-refraction-column questionsforsubjectiverefraction" id="l-questionsforsubjectiverefraction">
            <div class="col-md-4 col-xs-4" style="padding: 0px">
              <div class="col-md-12 col-xs-12 badge badge-eye-template-labels"><strong>SUBJECTIVE REFRACTION</strong></div>
            </div>
            <div class="row mb5">
              <div class="col-md-12 col-sm-12">
                <div class="col-md-9 col-xs-9 l-answersforsubjectiverefraction">
                  <table class="table table-bordered">
                    <thead>
                      <tr class="success">
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;"></th>
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;">Sph</th>
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;">Cyl</th>
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;">Axis</th>
                        <th width="20%" style="padding-top:0px;padding-bottom:0px;">Vision</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          Blur Fun
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :l_sub_refraction_blur_sph, :class => "form-control form-control-custom retinoscopy l_sub_refraction_blur_sph ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_sub_refraction_blur_sph]", :value => opdrecord.read_attribute(:l_sub_refraction_blur_sph) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :l_sub_refraction_blur_cyl, :class => "form-control form-control-custom retinoscopy l_sub_refraction_blur_cyl ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_sub_refraction_blur_cyl]", :value => opdrecord.read_attribute(:l_sub_refraction_blur_cyl) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :l_sub_refraction_blur_axis, :class => "form-control form-control-custom retinoscopy l_sub_refraction_blur_axis ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_sub_refraction_blur_axis]", :value => opdrecord.read_attribute(:l_sub_refraction_blur_axis) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :l_sub_refraction_blur_vision, :class => "form-control form-control-custom retinoscopy l_sub_refraction_blur_vision ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_sub_refraction_blur_vision]", :value => opdrecord.read_attribute(:l_sub_refraction_blur_vision) %>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          M Blur Fun
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :l_sub_refraction_modified_blur_sph, :class => "form-control form-control-custom retinoscopy l_sub_refraction_modified_blur_sph ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_sub_refraction_modified_blur_sph]", :value => opdrecord.read_attribute(:l_sub_refraction_modified_blur_sph) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :l_sub_refraction_modified_blur_cyl, :class => "form-control form-control-custom retinoscopy l_sub_refraction_modified_blur_cyl ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_sub_refraction_modified_blur_cyl]", :value => opdrecord.read_attribute(:l_sub_refraction_modified_blur_cyl) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :l_sub_refraction_modified_blur_axis, :class => "form-control form-control-custom retinoscopy l_sub_refraction_modified_blur_axis ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_sub_refraction_modified_blur_axis]", :value => opdrecord.read_attribute(:l_sub_refraction_modified_blur_axis) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :l_sub_refraction_modified_blur_vision, :class => "form-control form-control-custom retinoscopy l_sub_refraction_modified_blur_vision ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_sub_refraction_modified_blur_vision]", :value => opdrecord.read_attribute(:l_sub_refraction_modified_blur_vision) %>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          Cycloplegic
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :l_sub_refraction_cyclo_sph, :class => "form-control form-control-custom retinoscopy l_sub_refraction_cyclo_sph ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_sub_refraction_cyclo_sph]", :value => opdrecord.read_attribute(:l_sub_refraction_cyclo_sph) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :l_sub_refraction_cyclo_cyl, :class => "form-control form-control-custom retinoscopy l_sub_refraction_cyclo_cyl ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_sub_refraction_cyclo_cyl]", :value => opdrecord.read_attribute(:l_sub_refraction_cyclo_cyl) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :l_sub_refraction_cyclo_axis, :class => "form-control form-control-custom retinoscopy l_sub_refraction_cyclo_axis ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_sub_refraction_cyclo_axis]", :value => opdrecord.read_attribute(:l_sub_refraction_cyclo_axis) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :l_sub_refraction_cyclo_vision, :class => "form-control form-control-custom retinoscopy l_sub_refraction_cyclo_vision ref_field", :maxlength => 8, :required => false, :name => "opdrecord[l_sub_refraction_cyclo_vision]", :value => opdrecord.read_attribute(:l_sub_refraction_cyclo_vision) %>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row mb5">
              <div class="col-md-2 col-xs-2">Comments: </div>
              <div class="col-md-9 col-xs-9">
                <%= f.text_area :l_sub_refraction_comments, {:class => "form-control", :style => "width:96%; margin-left: 9px", :required => false, :name => "opdrecord[l_sub_refraction_comments]", :value => opdrecord.read_attribute(:l_sub_refraction_comments)} %>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>

    <div class="row eye-movement-block mb10">
      <div class="hr-line-border mb5"></div>
      <div class="col-md-4 col-xs-4">
        <div class="row r-eye-movement-row">
          <div class="col-md-12 col-sm-12 col-xs-12 r-eye-movement-column questionsforeyemovement" id="r-questionsforeyemovement" style="padding-top: 3px;">
            <div class="col-md-4 col-sm-4" style="padding: 0px">
              <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>EYE MOVEMENT</strong></div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="col-md-9 col-sm-9 r-answersforeyemovement">
                  <div class="col-md-4 col-sm-4 mb5">
                    <%= f.input_field :r_eye_movement, :class => "form-control form-control-comment ref_field", :maxlength => 12, :required => false, :name => "opdrecord[r_eye_movement]", :value => opdrecord.read_attribute(:r_eye_movement) %>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb5">
              <div class="col-md-2 col-sm-2">Comments: </div>
              <div class="col-md-10 col-sm-10">
                <%= f.text_area :r_eye_movement_comments, { class: 'form-control', style: 'width:96%; margin-left: 9px;', required: false, name: 'opdrecord[r_eye_movement_comments]', value: opdrecord.read_attribute(:r_eye_movement_comments) } %>
              </div>
            </div>
          </div>  
        </div>
      </div>
      <div class="col-md-4 col-xs-4">
        <div class="row l-eye-movement-row">
          <div class="col-md-12 col-sm-12 col-xs-12 l-eye-movement-column questionsforeyemovement" id="l-questionsforeyemovement" style="padding-top: 3px;">
            <div class="col-md-4 col-sm-4" style="padding: 0px">
              <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>EYE MOVEMENT</strong></div>
            </div>
            <div class="row mb5">
              <div class="col-md-12 col-sm-12">
                <div class="col-md-9 col-sm-9 l-answersforeyemovement">
                  <div class="col-md-4 col-sm-4">
                    <%= f.input_field :l_eye_movement, :class => "form-control form-control-comment ref_field", :maxlength => 12, :required => false, :name => "opdrecord[l_eye_movement]", :value => opdrecord.read_attribute(:l_eye_movement) %>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb5">
              <div class="col-md-2 col-sm-2">Comments: </div>
              <div class="col-md-10 col-sm-10">
                <%= f.text_area :l_eye_movement_comments, { class: 'form-control', style: 'width:96%; margin-left: 9px;', required: false, name: 'opdrecord[l_eye_movement_comments]', value: opdrecord.read_attribute(:l_eye_movement_comments) } %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-4"></div>
    </div>

    <div class="row acommodation-block mb10">
      <div class="hr-line-border mb5"></div>
      <div class="col-md-4 col-xs-4">
        <div class="row r-acommodation-row">
          <div class="col-md-12 col-sm-12 col-xs-12 r-acommodation-column questionsforacommodation" id="r-questionsforacommodation" style="padding-top: 3px;">
            <div class="col-md-4 col-sm-4" style="padding: 0px">
              <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>ACCOMMODATION</strong></div>
            </div>
            <div class="col-md-12 col-sm-12 r-answersforacommodation">
              <div class="row col-md-12 col-sm-12 mb5">
                <div class="col-md-9 col-sm-9">Near Point of Accomodation(NPA):</div>
                <div class="col-md-3 col-sm-3">
                  <%= f.input_field :r_npa, :class => "form-control", :maxlength => 12, :required => false, :name => "opdrecord[r_npa]", :value => opdrecord.read_attribute(:r_npa) %>
                </div>
              </div>
              <div class="row col-md-12 col-sm-12 mb5">
                <div class="col-md-9 col-sm-9">Accomodative Posture(MEM):</div>
                <div class="col-md-3 col-sm-3">
                  <%= f.input_field :r_mem, :class => "form-control", :maxlength => 12, :required => false, :name => "opdrecord[r_mem]", :value => opdrecord.read_attribute(:r_mem) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-4">
        <div class="row l-acommodation-row">
          <div class="col-md-12 col-sm-12 col-xs-12 l-acommodation-column questionsforacommodation" id="l-questionsforacommodation" style="padding-top: 3px;">
            <div class="col-md-4 col-sm-4" style="padding: 0px">
              <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>ACCOMMODATION</strong></div>
            </div>
            <div class="col-md-12 col-sm-12 l-answersforacommodation">
              <div class="row col-md-12 col-sm-12 mb5">
                <div class="col-md-9 col-sm-9">Near Point of Accomodation(NPA):</div>
                <div class="col-md-3 col-sm-3">
                  <%= f.input_field :l_npa, :class => "form-control", :maxlength => 12, :required => false, :name => "opdrecord[l_npa]", :value => opdrecord.read_attribute(:l_npa) %>
                </div>
              </div>
              <div class="row col-md-12 col-sm-12 mb5">
                <div class="col-md-9 col-sm-9">Accomodative Posture(MEM):</div>
                <div class="col-md-3 col-sm-3">
                  <%= f.input_field :l_mem, :class => "form-control", :maxlength => 12, :required => false, :name => "opdrecord[l_mem]", :value => opdrecord.read_attribute(:l_mem) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-4"></div>
    </div>

    <div class="row cover-test-block mb10">
      <div class="hr-line-border mb5"></div>
      <div class="col-md-12 col-xs-12">
        <div class="row cover-test-row">
          <div class="col-md-12 col-sm-12 col-xs-12 cover-test-column questionsforcovertest" id="questionsforcovertest" style="padding-top: 3px;">
            <div class="col-md-4 col-sm-4 mb5" style="padding: 0px">
              <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>COVER TEST</strong></div>
            </div>
            <div class="col-md-12 col-sm-12 covertest">
              <div class="col-md-1 col-sm-1">Distance: </div>
              <div class="col-md-3 col-sm-3">
                <%= f.input_field :distance_cover_test, :class => "form-control", :maxlength => 12, :required => false, :name => "opdrecord[distance_cover_test]", :value => opdrecord.read_attribute(:distance_cover_test) %>
              </div>
              <div class="col-md-1 col-sm-1">Near: </div>
              <div class="col-md-3 col-sm-3">
                <%= f.input_field :near_cover_test, :class => "form-control", :maxlength => 12, :required => false, :name => "opdrecord[near_cover_test]", :value => opdrecord.read_attribute(:near_cover_test) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row vergence-fusional-reserves-block mb10">
      <div class="hr-line-border mb5"></div>
      <div class="col-md-12 col-xs-12">
        <div class="row vergence-fusional-reserves-row">
          <div class="col-md-12 col-sm-12 col-xs-12 vergence-fusional-reserves-column questionsforvergencefusionalreserves" id="questionsforvergencefusionalreserves" style="padding-top: 3px;">
            <div class="col-md-4 col-sm-4 mb5" style="padding: 0px">
              <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>VERGENCE AND FUSIONAL RESERVES</strong></div>
            </div>
            <div class="col-md-12 col-sm-12 mb5">
              <div class="col-md-12 col-sm-12"><strong>Vergence</strong></div>
            </div>
            <div class="col-md-12 col-sm-12 vergence-fusional-reserve">
              <div class="col-md-12 col-sm-12 mb5">
                <div class="col-md-3 col-sm-3">Near Point of Convergence(NPC)</div>
              </div>
              <div class="col-md-12 col-sm-12 mb5">
                <div class="col-md-1 col-sm-1">OU:</div>
                <div class="col-md-2 col-sm-2 input-group">
                  <% cm = 1..20 %>
                  <%= select_tag "opdrecord[npc_ou]", options_for_select(cm, opdrecord.read_attribute(:npc_ou)), prompt: "Sel", class:"form-control opdrecord_npc_ou" %><span class="input-group-addon">cm</span>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 mb5">
                <div class="col-md-3 col-sm-3">
                  Phoria
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <div class="col-md-1 col-sm-1">Distance:</div>
                <div class="col-md-3 col-sm-3">
                  <%= f.input_field :distance_phoria, :class => "form-control", :maxlength => 12, :required => false, :name => "opdrecord[distance_phoria]", :value => opdrecord.read_attribute(:distance_phoria) %>
                </div>
                <div class="col-md-1 col-sm-1">Near: </div>
                <div class="col-md-3 col-sm-3">
                  <%= f.input_field :near_phoria, :class => "form-control", :maxlength => 12, :required => false, :name => "opdrecord[near_phoria]", :value => opdrecord.read_attribute(:near_phoria) %>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 mb5">
                <strong>Fusional Reserves</strong>
              </div>
              <div class="col-md-12 col-sm-12 mb5">
                <div class="col-md-3 col-sm-3">
                  Positive Relative Convergence(PRC)
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <div class="col-md-1 col-sm-1">Distance:</div>
                <div class="col-md-5 col-sm-5">
                  <%= f.input_field :distance_prc1, :class => "form-control", :maxlength => 12, :required => false, :name => "opdrecord[distance_prc1]", :value => opdrecord.read_attribute(:distance_prc1) %>
                  /
                  <%= f.input_field :distance_prc2, :class => "form-control", :maxlength => 12, :required => false, :name => "opdrecord[distance_prc2]", :value => opdrecord.read_attribute(:distance_prc2) %>
                  /
                  <%= f.input_field :distance_prc3, :class => "form-control", :maxlength => 12, :required => false, :name => "opdrecord[distance_prc3]", :value => opdrecord.read_attribute(:distance_prc3) %>
                </div>
                <div class="col-md-1 col-sm-1">Near: </div>
                <div class="col-md-5 col-sm-5">
                  <%= f.input_field :near_prc1, :class => "form-control", :maxlength => 12, :required => false, :name => "opdrecord[near_prc1]", :value => opdrecord.read_attribute(:near_prc1) %>
                  /
                  <%= f.input_field :near_prc2, :class => "form-control", :maxlength => 12, :required => false, :name => "opdrecord[near_prc2]", :value => opdrecord.read_attribute(:near_prc2) %>
                  /
                  <%= f.input_field :near_prc3, :class => "form-control", :maxlength => 12, :required => false, :name => "opdrecord[near_prc3]", :value => opdrecord.read_attribute(:near_prc3) %>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 mb5">
                <div class="col-md-3 col-sm-3">
                  Negative Relative Convergence(NRC)
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <div class="col-md-1 col-sm-1">Distance:</div>
                <div class="col-md-5 col-sm-5">
                  <%= f.input_field :distance_nrc1, :class => "form-control", :maxlength => 12, :required => false, :name => "opdrecord[distance_nrc1]", :value => opdrecord.read_attribute(:distance_nrc1) %>
                  /
                  <%= f.input_field :distance_nrc2, :class => "form-control", :maxlength => 12, :required => false, :name => "opdrecord[distance_nrc2]", :value => opdrecord.read_attribute(:distance_nrc2) %>
                  /
                  <%= f.input_field :distance_nrc3, :class => "form-control", :maxlength => 12, :required => false, :name => "opdrecord[distance_nrc3]", :value => opdrecord.read_attribute(:distance_nrc3) %>
                </div>
                <div class="col-md-1 col-sm-1">Near: </div>
                <div class="col-md-5 col-sm-5">
                  <%= f.input_field :near_nrc1, :class => "form-control", :maxlength => 12, :required => false, :name => "opdrecord[near_nrc1]", :value => opdrecord.read_attribute(:near_nrc1) %>
                  /
                  <%= f.input_field :near_nrc2, :class => "form-control", :maxlength => 12, :required => false, :name => "opdrecord[near_nrc2]", :value => opdrecord.read_attribute(:near_nrc2) %>
                  /
                  <%= f.input_field :near_nrc3, :class => "form-control", :maxlength => 12, :required => false, :name => "opdrecord[near_nrc3]", :value => opdrecord.read_attribute(:near_nrc3) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row accomodative-reserves-block mb10">
      <div class="hr-line-border mb5"></div>
      <div class="col-md-12 col-xs-12">
        <div class="row accomodative-reserves-row">
          <div class="col-md-12 col-sm-12 col-xs-12 accomodative-reserves-column questionsforaccomodativereserves" id="questionsforaccomodativereserves" style="padding-top: 3px;">
            <div class="col-md-4 col-sm-4 mb5" style="padding: 0px">
              <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>ACCOMODATIVE FACILITY AND RESERVES</strong></div>
            </div>
            <div class="col-md-12 col-sm-12 mb5">
              <div class="col-md-12 col-sm-12"><strong>Accomodative Facility</strong></div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="col-md-2 col-sm-2">With +-2 Flippers:</div>
              <div class="col-md-3 col-sm-3">
                <%= f.input_field :with_2_flippers, :class => "form-control", :maxlength => 12, :required => false, :name => "opdrecord[with_2_flippers]", :value => opdrecord.read_attribute(:with_2_flippers) %>
              </div>
              <div class="col-md-2 col-sm-2">With +-1 Flippers: </div>
              <div class="col-md-3 col-sm-3">
                <%= f.input_field :with_1_flippers, :class => "form-control", :maxlength => 12, :required => false, :name => "opdrecord[with_1_flippers]", :value => opdrecord.read_attribute(:with_1_flippers) %>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 mb5">
              <div class="col-md-12 col-sm-12"><strong>Accomodative Reserves</strong></div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="col-md-3 col-sm-3">Positive Relative Accomodation(PRA):</div>
              <div class="col-md-3 col-sm-3">
                <%= f.input_field :pra, :class => "form-control", :maxlength => 12, :required => false, :name => "opdrecord[pra]", :value => opdrecord.read_attribute(:pra) %>
              </div>
              <div class="col-md-3 col-sm-3">Negative Relative Accomodation(NRA):</div>
              <div class="col-md-3 col-sm-3">
                <%= f.input_field :nra, :class => "form-control", :maxlength => 12, :required => false, :name => "opdrecord[nra]", :value => opdrecord.read_attribute(:nra) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>          

    <div class="row accomodation-and-vergence-block mb10">
      <div class="hr-line-border mb5"></div>
      <div class="col-md-12 col-xs-12">
        <div class="row accomodation-and-vergence-row">
          <div class="col-md-12 col-sm-12 col-xs-12 accomodation-and-vergence-column questionsforaccomodationandvergence" id="questionsforaccomodationandvergence" style="padding-top: 3px;">
            <div class="col-md-4 col-sm-4 mb5" style="padding: 0px">
              <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>INTERACTION B/W ACCOMODATION AND VERGENCE</strong></div>
            </div>
            <div class="col-md-12 col-sm-12 mb5">
              <div class="col-md-9 col-xs-9">
                <div class="col-md-6">
                  <table class="table table-bordered">
                    <thead>
                      <tr class="success">
                        <th width="25%" style="padding-top:0px;padding-bottom:0px;padding-left: 1px;">Lens</th>
                        <th width="15%" style="padding-top:0px;padding-bottom:0px;">-2</th>
                        <th width="15%" style="padding-top:0px;padding-bottom:0px;">-1</th>
                        <th width="15%" style="padding-top:0px;padding-bottom:0px;">0</th>
                        <th width="15%" style="padding-top:0px;padding-bottom:0px;">+1</th>
                        <th width="15%" style="padding-top:0px;padding-bottom:0px;">+2</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          Phoria
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :lens_phoria_minus_2, :class => "form-control form-control-custom lens_phoria lens_phoria_minus_2 ref_field", :maxlength => 8, :required => false, :name => "opdrecord[lens_phoria_minus_2]", :value => opdrecord.read_attribute(:lens_phoria_minus_2) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :lens_phoria_minus_1, :class => "form-control form-control-custom lens_phoria lens_phoria_minus_1 ref_field", :maxlength => 8, :required => false, :name => "opdrecord[lens_phoria_minus_1]", :value => opdrecord.read_attribute(:lens_phoria_minus_1) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :lens_phoria_0, :class => "form-control form-control-custom lens_phoria lens_phoria_0 ref_field", :maxlength => 8, :required => false, :name => "opdrecord[lens_phoria_0]", :value => opdrecord.read_attribute(:lens_phoria_0) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :lens_phoria_plus_1, :class => "form-control form-control-custom lens_phoria lens_phoria_plus_1 ref_field", :maxlength => 8, :required => false, :name => "opdrecord[lens_phoria_plus_1]", :value => opdrecord.read_attribute(:lens_phoria_plus_1) %>
                        </td>
                        <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                          <%= f.input_field :lens_phoria_plus_2, :class => "form-control form-control-custom lens_phoria lens_phoria_plus_2 ref_field", :maxlength => 8, :required => false, :name => "opdrecord[lens_phoria_plus_2]", :value => opdrecord.read_attribute(:lens_phoria_plus_2) %>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="col-md-12 col-sm-12 mb5">
                <div class="col-md-3 col-sm-3">
                  <strong>AC/A Ratio</strong>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="col-md-12 col-sm-12">
                <div class="col-md-2 col-sm-2">AC/A With Plus:</div>
                <div class="col-md-2 col-sm-2">
                  <%= f.input_field :aca_plus, :class => "form-control", :maxlength => 12, :required => false, :name => "opdrecord[aca_plus]", :value => opdrecord.read_attribute(:aca_plus) %>
                </div>
                <div class="col-md-2 col-sm-2">AC/A With Minus: </div>
                <div class="col-md-2 col-sm-2">
                  <%= f.input_field :aca_minus, :class => "form-control", :maxlength => 12, :required => false, :name => "opdrecord[aca_minus]", :value => opdrecord.read_attribute(:aca_minus) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row stereopsis-block mb10">
      <div class="hr-line-border mb5"></div>
      <div class="col-md-12 col-xs-12">
        <div class="row stereopsis-row">
          <div class="col-md-12 col-sm-12 col-xs-12 stereopsis-column questionsforstereopsis" id="questionsforstereopsis" style="padding-top: 3px;">
            <div class="col-md-4 col-sm-4 mb5" style="padding: 0px">
              <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>STEREOPSIS</strong></div>
            </div>
            <div class="col-md-12 col-sm-12 mb5">
              <div class="col-md-2 col-xs-2">
                Random Dot:&nbsp;&nbsp;&nbsp;<small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_stereopsis_random_dot">clear</small>
              </div>
              <div class="col-md-4 col-xs-4">
                <%= f.input :stereopsis_random_dot, wrapper_html: {:class=>"col-md-10 col-sm-10"}, collection: ['Negative', 'Positive'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white stereopsis_random_dot', :input_html => {:name => "opdrecord[stereopsis_random_dot]" }, :checked => opdrecord.read_attribute(:stereopsis_random_dot) %>
              </div>
              <div class="col-md-1 col-xs-1">
                Contour:
              </div>
              <div class="col-md-3 col-sm-3">
                <%= f.input_field :stereopsis_contour, :class => "form-control", :required => false, :name => "opdrecord[stereopsis_contour]", :value => opdrecord.read_attribute(:stereopsis_contour), style: "width: 32%;" %> Arc Seconds
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row abnormalfindings-block mb10">
      <div class="hr-line-border mb5"></div>
      <div class="col-md-12 col-xs-12">
        <div class="row abnormalfindings-row">
          <div class="col-md-12 col-sm-12 col-xs-12 abnormalfindings-column questionsforabnormalfindings" id="questionsforabnormalfindings" style="padding-top: 3px;">
            <div class="col-md-4 col-sm-4 mb5" style="padding: 0px">
              <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>LIST OF ABNORMAL FINDINGS</strong></div>
            </div>
            <div class="col-md-12 col-sm-12 mb5">
              <div class="col-md-6 col-sm-5">
                <%= f.input :abnormal_findings_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control opdrecord_summernote', :name => "opdrecord[abnormal_findings_comments]", :value => @opdrecord.read_attribute(:abnormal_findings_comments) } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row primary_problems-block mb10">
      <div class="hr-line-border mb5"></div>
      <div class="col-md-12 col-xs-12">
        <div class="row primary_problems-row">
          <div class="col-md-12 col-sm-12 col-xs-12 primary_problems-column questionsforprimaryproblems" id="questionsforprimaryproblems" style="padding-top: 3px;">
            <div class="col-md-4 col-sm-4 mb5" style="padding: 0px">
              <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>PRIMARY PROBLEMS</strong></div>
            </div>
            <div class="col-md-12 col-sm-12 mb5">
              <div class="col-md-6 col-sm-5">
                <%= f.input :primary_problems_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control opdrecord_summernote', :name => "opdrecord[primary_problems_comments]", :value => @opdrecord.read_attribute(:primary_problems_comments) } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>