<div class="row mb20">
  <div class="col-sm-12">
    <div class="title">
      <h5 style="color: #444;font-size: 17px;">Biometry/A-scan Details</h5>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-6 biometry-left-section">
        <div class="row">
          <div class="col-sm-4">
          </div>

          <div class="col-sm-4 r-eye-column" style="padding-left:1px; padding-right:1px;">
            <div class="panel panel-success r-eye-panel">
              <div class="panel-heading r-eye-panel-heading" style="padding: 2px;">
                <h4 class="panel-title r-eye-panel-title text-center" style="color:#FFF;">R / OD</h4>
              </div>
            </div>
          </div>

          <div class="col-md-4 l-eye-column" style="padding-left:1px; padding-right:1px;">
            <div class="panel panel-success l-eye-panel">
              <div class="panel-heading l-eye-panel-heading" style="padding: 2px;">
                <h4 class="panel-title l-eye-panel-title text-center" style="color:#FFF;">L / OS</h4>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-4">
            <strong class="badge badge-eye-template-labels">K1 </strong>
          </div>

          <div class="col-sm-4">
              <%= f.text_field :r_k1, { class: "form-control r_k1", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:r_k1) } %>
          </div>
          <div class="col-sm-4">
              <%= f.text_field :l_k1, { class: "form-control l_k1", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:l_k1) } %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <strong class="badge badge-eye-template-labels">K2 </strong>
          </div>

          <div class="col-sm-4">
              <%= f.text_field :r_k2, { class: "form-control r_k2", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:r_k2) } %>
          </div>
          <div class="col-sm-4">
              <%= f.text_field :l_k2, { class: "form-control l_k2", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:l_k2) } %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <strong class="badge badge-eye-template-labels">K1 AXIS</strong>
          </div>

          <div class="col-sm-4">
              <%= f.text_field :r_k1_axis, { class: "form-control r_k1_axis", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:r_k1_axis) } %>
          </div>
          <div class="col-sm-4">
              <%= f.text_field :l_k1_axis, { class: "form-control l_k1_axis", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:l_k1_axis) } %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <strong class="badge badge-eye-template-labels">K2 AXIS</strong>
          </div>

          <div class="col-sm-4">
              <%= f.text_field :r_k2_axis, { class: "form-control r_k2_axis", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:r_k2_axis) } %>
          </div>
          <div class="col-sm-4">
              <%= f.text_field :l_k2_axis, { class: "form-control l_k2_axis", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:l_k2_axis) } %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <strong class="badge badge-eye-template-labels">AL </strong>
          </div>

          <div class="col-sm-4">
              <%= f.text_field :r_al, { class: "form-control r_al", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:r_al) } %>
          </div>
          <div class="col-sm-4">
              <%= f.text_field :l_al, { class: "form-control l_al", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:l_al) } %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <strong class="badge badge-eye-template-labels">PC-POWER </strong>
          </div>

          <div class="col-sm-4">
              <%= f.text_field :r_pc_power, { class: "form-control r_pc_power", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:r_pc_power) } %>
          </div>
          <div class="col-sm-4">
              <%= f.text_field :l_pc_power, { class: "form-control l_pc_power", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:l_pc_power) } %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <strong class="badge badge-eye-template-labels">AC-POWER </strong>
          </div>

          <div class="col-sm-4">
              <%= f.text_field :r_ac_power, { class: "form-control r_ac_power", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:r_ac_power) } %>
          </div>
          <div class="col-sm-4">
              <%= f.text_field :l_ac_power, { class: "form-control l_ac_power", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:l_ac_power) } %>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-4">
            <strong class="badge badge-eye-template-labels">ACD </strong>
          </div>
          <div class="col-sm-4">
              <%= f.text_field :r_acd, { class: "form-control r_acd", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:r_acd) } %>
          </div>
          <div class="col-sm-4">
              <%= f.text_field :l_acd, { class: "form-control l_acd", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:l_acd) } %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <strong class="badge badge-eye-template-labels">WW </strong>
          </div>
          <div class="col-sm-4">
              <%= f.text_field :r_ww, { class: "form-control r_ww", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:r_ww) } %>
          </div>
          <div class="col-sm-4">
              <%= f.text_field :l_ww, { class: "form-control l_ww", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:l_ww) } %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <strong class="badge badge-eye-template-labels">REMARK </strong>
          </div>
          <div class="col-sm-8">
              <%= f.text_area :remark, { class: "form-control remark", style: "width: 100%", rows:4, value: opdrecord.read_attribute(:remark) } %>
          </div>
        </div>
      </div>


<!--      # right section will start from here-->
      <div class="col-sm-6 biometry-right-section">

        <div class="row">
          <div class="col-sm-4">
            <div class="panel panel-success">
              <div class="panel-heading" style="padding: 2px;">
                <h4 class="panel-title text-center" style="color:#FFF;">IOL CALCULATION</h4>
              </div>
            </div>
          </div>

          <div class="col-sm-4 r-eye-column" style="padding-left:1px; padding-right:1px;">
            <div class="panel panel-success r-eye-panel">
              <div class="panel-heading r-eye-panel-heading" style="padding: 2px;">
                <h4 class="panel-title r-eye-panel-title text-center" style="color:#FFF;">R / OD</h4>
              </div>
            </div>
          </div>

          <div class="col-md-4 l-eye-column" style="padding-left:1px; padding-right:1px;">
            <div class="panel panel-success l-eye-panel">
              <div class="panel-heading l-eye-panel-heading" style="padding: 2px;">
                <h4 class="panel-title l-eye-panel-title text-center" style="color:#FFF;">L / OS</h4>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-4">
            <strong class="badge badge-eye-template-labels">EMMETROPIA </strong>
          </div>

          <div class="col-sm-4">
            <%= f.text_field :r_iol_emmetropia, { class: "form-control r_iol_emmetropia", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:r_iol_emmetropia) } %>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :l_iol_emmetropia, { class: "form-control l_iol_emmetropia", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:l_iol_emmetropia) } %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <strong class="badge badge-eye-template-labels">AMMETROPIA </strong>
          </div>

          <div class="col-sm-4">
            <%= f.text_field :r_iol_ammetropia, { class: "form-control r_iol_ammetropia", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:r_iol_ammetropia) } %>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :l_iol_ammetropia, { class: "form-control l_iol_ammetropia", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:l_iol_ammetropia) } %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <strong class="badge badge-eye-template-labels">SIZE</strong>
          </div>

          <div class="col-sm-4">
            <%= f.text_field :r_iol_size, { class: "form-control r_iol_size", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:r_iol_size) } %>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :l_iol_size, { class: "form-control l_iol_size", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:l_iol_size) } %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <strong class="badge badge-eye-template-labels">FORMULA</strong>
          </div>

          <div class="col-sm-4">
            <%= f.text_field :r_iol_formula, { class: "form-control r_iol_formula", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:r_iol_formula) } %>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :l_iol_formula, { class: "form-control l_iol_formula", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:l_iol_formula) } %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <strong class="badge badge-eye-template-labels">MODEL </strong>
          </div>

          <div class="col-sm-4">
            <%= f.text_field :r_iol_model, { class: "form-control r_iol_model", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:r_iol_model) } %>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :l_iol_model, { class: "form-control l_iol_model", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:l_iol_model) } %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <strong class="badge badge-eye-template-labels">A-CONSTANT </strong>
          </div>

          <div class="col-sm-4">
            <%= f.text_field :r_iol_a_constant, { class: "form-control r_iol_a_constant", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:r_iol_a_constant) } %>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :l_iol_a_constant, { class: "form-control l_iol_a_constant", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:l_iol_a_constant) } %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <strong class="badge badge-eye-template-labels">POWER </strong>
          </div>

          <div class="col-sm-4">
            <%= f.text_field :r_iol_power, { class: "form-control r_iol_power", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:r_iol_power) } %>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :l_iol_power, { class: "form-control l_iol_power", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:l_iol_power) } %>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-4">
            <strong class="badge badge-eye-template-labels">TARGET </strong>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :r_iol_target, { class: "form-control r_iol_target", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:r_iol_target) } %>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :l_iol_target, { class: "form-control l_iol_target", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:l_iol_target) } %>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-4">
            <strong class="badge badge-eye-template-labels">FORMULA 1</strong>
          </div>

          <div class="col-sm-4">
            <%= f.text_field :r_iol_formula_1, { class: "form-control r_iol_formula_1", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:r_iol_formula_1) } %>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :l_iol_formula_1, { class: "form-control l_iol_formula_1", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:l_iol_formula_1) } %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <strong class="badge badge-eye-template-labels">MODEL </strong>
          </div>

          <div class="col-sm-4">
            <%= f.text_field :r_iol_model_1, { class: "form-control r_iol_model_1", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:r_iol_model_1) } %>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :l_iol_model_1, { class: "form-control l_iol_model_1", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:l_iol_model_1) } %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <strong class="badge badge-eye-template-labels">A-CONSTANT </strong>
          </div>

          <div class="col-sm-4">
            <%= f.text_field :r_iol_a_constant_1, { class: "form-control r_iol_a_constant_1", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:r_iol_a_constant_1) } %>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :l_iol_a_constant_1, { class: "form-control l_iol_a_constant_1", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:l_iol_a_constant_1) } %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <strong class="badge badge-eye-template-labels">POWER </strong>
          </div>

          <div class="col-sm-4">
            <%= f.text_field :r_iol_power_1, { class: "form-control r_iol_power_1", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:r_iol_power_1) } %>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :l_iol_power_1, { class: "form-control l_iol_power_1", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:l_iol_power_1) } %>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-4">
            <strong class="badge badge-eye-template-labels">TARGET </strong>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :r_iol_target_1, { class: "form-control r_iol_target_1", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:r_iol_target_1) } %>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :l_iol_target_1, { class: "form-control l_iol_target_1", style: "height:30px; width: 100%", value: opdrecord.read_attribute(:l_iol_target_1) } %>
          </div>
        </div>


      </div>

    </div>
  </div>
</div>


<% if templatetype == "biometry" %>
  <style type="text/css">
    #MyWizard {
      border: none;
      box-shadow: none;
      background-color: transparent;
    }
  </style>
<% end %>