<div class="step-pane <%= stepcount == 1 ? 'active' : '' %>" data-step="<%= stepcount %>">
  <!-- Vist, History & Allergies -->
  <%= render partial: '/opd_records/ophthalmology_notes/history_subjective.html.erb', locals: { f: f, opdrecord: opdrecord } %>
  <hr/>
  <!-- Vital Signs & Anthropometry -->
  <%= render partial: '/opd_records/ophthalmology_notes/vital_signs_form.html.erb', locals: { f: f, opdrecord: opdrecord, templatetype: templatetype } %>
  <% if current_facility.country_id == "VN_254" %>
    <hr/>
    <!-- IOP -->
    <% if @organisations_setting.mandatory_opd_templates %>
      <%= render partial: '/opd_records/ophthalmology_notes/mandatory_opd_record_iop.html.erb', locals: { f: f, opdrecord: opdrecord } %>
    <% else %>
      <%= render partial: '/opd_records/ophthalmology_notes/opd_record_iop.html.erb', locals: { f: f, opdrecord: opdrecord } %>
    <% end %>
  <% end %>
  <!-- <hr/> -->
  <!-- Dilation -->
  <%#= render partial: '/opd_records/ophthalmology_notes/opd_record_dilation.html.erb', locals: { f: f, opdrecord: opdrecord } %>
  <% nursing_template = OpdRecord.find_by(appointmentid: @appointment.id.to_s, templatetype: 'nursing') %>
  <% if nursing_template.present? %>
    <% if nursing_template.r_lower_punctum_result.present? || nursing_template.l_lower_punctum_result.present? || nursing_template.r_upper_punctum_result.present? || nursing_template.l_upper_punctum_result.present? %>
      <hr/>
      <div class="row">
        <div class="col-xs-12">
          <div class="col-xs-12">
            <!-- Syringing -->
            <%= render partial: '/opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_syringing.html.erb', locals: { f: f, opdrecord: nursing_template, mail_job: false } %>
          </div>
        </div>
      </div>
    <% end %>
    <!-- RBS -->
    <% if nursing_template.random_blood_sugar_result.present? || nursing_template.random_blood_sugar_comment.present? %>
      <hr/>
      <div class="row">
        <div class="col-xs-12">
          <div class="col-xs-12">
            <%= render partial: '/opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_rbs.html.erb', locals: { f: f, opdrecord: nursing_template, mail_job: false } %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
