<div class="modal-dialog modal-md" style="width: 65%;">
  <div class="modal-content">
    <div class="modal-header hidden-print">
      <h4 class="modal-title"><%= @flag.split("_").map(&:upcase).join(" ") %></h4>
    </div>
    <div class="modal-body">
      <% if @flag.include?("auto_refraction") %>
        <%= render 'show_auto_refraction_data.html.erb' %>
      <% else %>
        <% if params[:type] == 'refraction' %>
          <%= render 'show_refraction_refraction_data.html.erb' %>
        <% else %>
          <%= render 'show_refraction_data.html.erb' %>
        <% end %>
      <%end%>
      
    </div>
    <div class="modal-footer hidden-print">
      <button class="btn btn-xs btn-default pull-right" id="close-refraction-modal" style="margin-left: 10px">Cancel</button>
      <button class="btn btn-xs btn-success pull-right <%= @flag.split("_").join("-")%>-submit" id="fill-refraction-modal">Ok</button>
    </div>
  </div>
</div>
