<div class="col-md-12 col-sm-12 l-ocular_trauma">
    <div calss="row col-md-12 col-sm-12">
        <span class="col-md-2 col-sm-2">OCULAR TRAUMA</span>
        <%= f.input :l_ocular_trauma_injury, wrapper_html: {:class => "col-md-10 col-sm-10"},collection: ['Local','Associational','Environmental'], :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white l_ocular_trauma_injury', :input_html => {:name => "opdrecord[l_ocular_trauma_injury]" }, :checked => opdrecord.read_attribute(:l_ocular_trauma_injury) %>
    </div>
    <div class="row col-md-12 col-sm-12 l_local_trauma_inj">
        <span class="col-md-2 col-sm-2"></span>
        <%= f.input :l_ocular_trauma_local, wrapper_html: {:class => "col-md-10 col-sm-10"},collection: ['NON MECHANICAL','MECHANICAL'], :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white l_ocular_trauma_local', :input_html => {:name => "opdrecord[l_ocular_trauma_local]" }, :checked => opdrecord.read_attribute(:l_ocular_trauma_local) %>
    </div>
    <div class="row col-md-12 col-sm-12 l_local_trauma_local_nonmechanical">
            <span class="col-md-2 col-sm-2"></span>
            <%= f.input :l_ocular_trauma_nonmechanical, wrapper_html: {:class => "col-md-10 col-sm-10"},collection: ['Chemical','Thermal','Electrical','Radiational','Ultrasonic','Barometric'], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white l_ocular_trauma_nonmechanical', :input_html => {:name => "opdrecord[l_ocular_trauma_nonmechanical]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_ocular_trauma_nonmechanical)) %>
    </div>
    <div class="row col-md-12 col-sm-12 l_local_trauma_local_mechanical">
        <span class="col-md-2 col-sm-2"></span>
        <%= f.input :l_ocular_trauma_mechanical, wrapper_html: {:class => "col-md-10 col-sm-10"},collection: ['ADNEXAL','GLOBAL'], :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white l_ocular_trauma_mechanical', :input_html => {:name => "opdrecord[l_ocular_trauma_mechanical]" }, :checked => opdrecord.read_attribute(:l_ocular_trauma_mechanical) %>
    </div>
    <div class="row col-md-12 col-sm-12 l_local_trauma_adnexal">
            <span class="col-md-2 col-sm-2"></span>
            <%= f.input :l_ocular_trauma_adnexal, wrapper_html: {:class => "col-md-10 col-sm-10"},collection: ['Orbital','Palpebral','Conjunctival','Lacrimal'], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white l_ocular_trauma_adnexal', :input_html => {:name => "opdrecord[l_ocular_trauma_adnexal]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_ocular_trauma_adnexal)) %>
    </div>
    <div class="row col-md-12 col-sm-12 l_local_trauma_global">
            <span class="col-md-2 col-sm-2"></span>
            <%= f.input :l_ocular_trauma_global, wrapper_html: {:class => "col-md-10 col-sm-10"},collection: ['STRUCTURAL','PATHOLOGICAL'], :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white l_ocular_trauma_global', :input_html => {:name => "opdrecord[l_ocular_trauma_global]" }, :checked => opdrecord.read_attribute(:l_ocular_trauma_global) %>
    </div>
    <div class="row col-md-12 col-sm-12 l_local_trauma_structural">
        <span class="col-md-2 col-sm-2"></span>
        <%= f.input :l_ocular_trauma_structural, wrapper_html: {:class => "col-md-10 col-sm-10"},collection: ['ANT SEGMENT','POST SEGMENT'], :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white l_ocular_trauma_structural', :input_html => {:name => "opdrecord[l_ocular_trauma_structural]" }, :checked => opdrecord.read_attribute(:l_ocular_trauma_structural) %>
    </div>
    <div class="row col-md-12 col-sm-12 l_local_trauma_antsegment">
            <span class="col-md-2 col-sm-2"></span>
            <%= f.input :l_ocular_trauma_antsegment, wrapper_html: {:class => "col-md-10 col-sm-10"},collection: ['Corneal','Sclera','Uveal','Lenticular','Papillary'], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white l_ocular_trauma_antsegment', :input_html => {:name => "opdrecord[l_ocular_trauma_antsegment]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_ocular_trauma_antsegment)) %>
    </div>
    <div class="row col-md-12 col-sm-12 l_local_trauma_postsegment">
            <span class="col-md-2 col-sm-2"></span>
            <%= f.input :l_ocular_trauma_postsegment, wrapper_html: {:class => "col-md-10 col-sm-10"},collection: ['Vitreal','Retinal','Choroidal','Scleral','Papillary'], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white l_ocular_trauma_postsegment', :input_html => {:name => "opdrecord[l_ocular_trauma_postsegment]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_ocular_trauma_postsegment)) %>
    </div>
    <div class="row col-md-12 col-sm-12 l_local_trauma_pathological">
            <span class="col-md-2 col-sm-2"></span>
            <%= f.input :l_ocular_trauma_pathological, wrapper_html: {:class => "col-md-10 col-sm-10"},collection: ['OPEN GLOBE','CLOSED GLOBE', 'DESTRUCTIVE GLOBE'], :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white l_ocular_trauma_pathological', :input_html => {:name => "opdrecord[l_ocular_trauma_pathological]" }, :checked => opdrecord.read_attribute(:l_ocular_trauma_pathological) %>
    </div>
    <div class="row col-md-12 col-sm-12 l_local_trauma_openglobe">
            <span class="col-md-2 col-sm-2"></span>
            <%= f.input :l_ocular_trauma_openglobe, wrapper_html: {:class => "col-md-10 col-sm-10"},collection: ['Rupture','Penetrating','Perforating','IOFB'], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white l_ocular_trauma_openglobe', :input_html => {:name => "opdrecord[l_ocular_trauma_openglobe]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_ocular_trauma_openglobe)) %>
    </div>
    <div class="row col-md-12 col-sm-12 l_local_trauma_closedglobe">
            <span class="col-md-2 col-sm-2"></span>
            <%= f.input :l_ocular_trauma_closedglobe, wrapper_html: {:class => "col-md-10 col-sm-10"},collection: ['Contusion','lamellar laceration','EOFB','IMFB','dislocation'], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white l_ocular_trauma_closedglobe', :input_html => {:name => "opdrecord[l_ocular_trauma_closedglobe]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_ocular_trauma_closedglobe)) %>
    </div>
    <div class="row col-md-12 col-sm-12 l_local_trauma_destructiveglobe">
            <span class="col-md-2 col-sm-2"></span>
            <%= f.input :l_ocular_trauma_destructiveglobe, wrapper_html: {:class => "col-md-10 col-sm-10"},collection: ['Traumatic evisceration','Traumatic Enucleation'], :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white l_ocular_trauma_destructiveglobe', :input_html => {:name => "opdrecord[l_ocular_trauma_destructiveglobe]" }, :checked => opdrecord.read_attribute(:l_ocular_trauma_destructiveglobe) %>
    </div>
    <div class="row col-md-12 col-sm-12 l_local_trauma_associational">
            <span class="col-md-2 col-sm-2"></span>
            <%= f.input :l_ocular_trauma_associational, wrapper_html: {:class => "col-md-10 col-sm-10"},collection: ['With head','With face', 'Poly trauma'], :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white l_ocular_trauma_associational', :input_html => {:name => "opdrecord[l_ocular_trauma_associational]" }, :checked => opdrecord.read_attribute(:l_ocular_trauma_associational) %>
    </div>
    <div class="row col-md-12 col-sm-12 l_local_trauma_environmental">
            <span class="col-md-2 col-sm-2"></span>
            <%= f.input :l_ocular_trauma_environmental, wrapper_html: {:class => "col-md-10 col-sm-10"},collection: ['Congenital','Recreational', 'RTA','Industrial','Agricultural','Criminal and casual'], :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white l_ocular_trauma_environmental', :input_html => {:name => "opdrecord[l_ocular_trauma_environmental]" }, :checked => opdrecord.read_attribute(:l_ocular_trauma_environmental) %>
    </div>
    <div class="row col-md-12 col-sm-12 mb5">
        <div class="col-md-2 col-sm-3 text-center">Comments</div>
        <div class="col-md-9 col-sm-9">
            <%= f.input :l_trauma_comment, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control opdrecord_summernote', :name => "opdrecord[l_trauma_comment]", :value => @opdrecord.read_attribute(:l_trauma_comment) } %> 
        </div> 
    </div>

</div>
<style>
    .l_local_trauma_inj{
        display: none;
    }
    .l_local_trauma_local_nonmechanical{
        display: none;
    }
    .l_local_trauma_local_mechanical{
        display: none;
    }
    .l_local_trauma_adnexal{
        display: none;
    }
    .l_local_trauma_global{
        display: none;
    }
    .l_local_trauma_structural{
        display: none;
    }
    .l_local_trauma_antsegment{
        display: none;
    }
    .l_local_trauma_postsegment{
        display: none;
    }
    .l_local_trauma_pathological{
        display: none;
    }
    .l_local_trauma_openglobe{
        display: none;
    }
    .l_local_trauma_closedglobe{
        display: none;
    }
    .l_local_trauma_destructiveglobe{
        display: none;
    }
    .l_local_trauma_associational{
        display: none;
    }
    .l_local_trauma_environmental{
        display: none;
    }
</style>