<div class="col-xs-12">
  <div class="col-xs-2">
    <div class="title">
      <h5 style="color: #444;font-size: 17px;">Intraocular Pressure</h5>
    </div>
  </div>
</div>
<div class="col-md-6 col-sm-6 col-xs-12 r-eye">
  <div>
    <div class="text-center">
      <h5 style="font-size: 14px;"><b>R(OD)</b></h5>
    </div>
  </div>
  <div class="col-md-6 col-sm-6" style="margin-left: 8px; margin-top: -1px;">
    <div class="ckbox ckbox-success">
      <%= f.check_box :no_right_iop_advised, {class: "right_iop_advised", :value => opdrecord.read_attribute(:no_right_iop_advised)}, "true", "false" %>
      <label for="opdrecord_no_right_iop_advised">IOP not examined</label>
    </div>
  </div>
  <div class="row r-iop-row">
    <div class="col-md-12 col-sm-12">
      <div class="row col-md-12 col-sm-12 right_iop_row">
        <div class="col-md-3 col-sm-3" style="margin-top: 9px;">
          Value&nbsp;&nbsp;<small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" class="clear_r_iop" title="Clear Right IOP" aria-hidden="true">clear</small>
        </div>
        <div class="col-md-4 col-sm-4">
          <div id="r-intraocularpressure-slider-range" class="r-intraocularpressure-slider-range slider-warning"></div>
        </div>
        <div class="col-md-3 col-sm-3">
          <%= f.input_field :r_intraocularpressure, :class => "form-control form-control-custom r_intraocularpressure", :maxlength => 4, :size => 4, :required => false, :name => "opdrecord[r_intraocularpressure]", :value => opdrecord.read_attribute(:r_intraocularpressure) %> mmHG
        </div>
        <div class="col-md-2 col-sm-2 row bootstrap-timepicker timepicker">
          <%= f.input_field :r_intraocularpressure_time, :class => "form-control form-control-custom r_intraocularpressure_time_a", :maxlength => 8, :size => 8, :required => false, :name => "opdrecord[r_intraocularpressure_time]", :value => opdrecord.read_attribute(:r_intraocularpressure_time) %>
        </div>
      </div>
      <div class="row col-md-12 col-sm-12 right_iop_row">
        <div class="col-md-3 col-sm-3 mb5">Method</div>
        <div class="col-md-9 col-sm-9 mb5 row">
          <span><%= f.input :r_iop_method, wrapper_html: {:class => "col-md-4 col-sm-4 row"},collection: [ ['AT','AT'],['NCT','NCT'],['Schiotz','Schiotz'],['Perkins', 'Perkins'] ], :include_blank => 'Select', :label => false, :required => false, :class => 'btn btn-xs btn-white r_iop_method form-control', :input_html => {:name => "opdrecord[r_iop_method]", :class => "form-control",:style=>"width: 100%;" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_iop_method)) %></span>
        </div>
      </div>
      <div class="row col-md-12 col-sm-12 mb5">
        <span class="col-md-3 col-sm-3">Comments</span>
        <div class="col-md-9 col-sm-9 r-iop-comments">
          <%= f.text_field :r_iop_comments, class: "form-control r_iop_comments", style: 'width: 100%;', placeholder: "Comment" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-6 col-sm-6 col-xs-12 l-eye">
  <div>
    <div class="text-center">
      <h5 style="font-size: 14px;"><b>L(OS)</b></h5>
    </div>
  </div>
  <div class="col-md-6 col-sm-6" style="margin-left: 8px; margin-top: -1px;">
    <div class="ckbox ckbox-success">
      <%= f.check_box :no_left_iop_advised, {class: "left_iop_advised", :value => opdrecord.read_attribute(:no_left_iop_advised)}, "true", "false" %>
      <label for="opdrecord_no_left_iop_advised">IOP not examined</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="row col-md-12 col-sm-12 left_iop_row">
        <div class="col-md-3 col-sm-3" style="margin-top: 9px;">
          Value&nbsp;&nbsp;<small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" class="clear_l_iop" title="Clear Left IOP" aria-hidden="true">clear</small>
        </div>
        <div class="col-md-4 col-sm-4">
          <div id="l-intraocularpressure-slider-range" class="l-intraocularpressure-slider-range slider-warning"></div>
        </div>
        <div class="col-md-3 col-sm-3">
          <%= f.input_field :l_intraocularpressure, :class => "form-control form-control-custom l_intraocularpressure", :maxlength => 4, :size => 4, :required => false, :name => "opdrecord[l_intraocularpressure]", :value => opdrecord.read_attribute(:l_intraocularpressure) %> mmHG
        </div>
        <div class="col-md-2 col-sm-2 row bootstrap-timepicker timepicker">
          <%= f.input_field :l_intraocularpressure_time, :class => "form-control form-control-custom l_intraocularpressure_time_a", :maxlength => 8, :size => 8, :required => false, :name => "opdrecord[l_intraocularpressure_time]", :value => opdrecord.read_attribute(:l_intraocularpressure_time) %>
        </div>
      </div>
      <div class="row col-md-12 col-sm-12 left_iop_row">
        <div class="col-md-3 col-sm-3 mb5">Method</div>
        <div class="col-md-9 col-sm-9 mb5 row">
          <span><%= f.input :l_iop_method, wrapper_html: {:class => "col-md-4 col-sm-4 row"},collection: [ ['AT','AT'],['NCT','NCT'],['Schiotz','Schiotz'],['Perkins', 'Perkins'] ], :include_blank => 'Select', :label => false, :required => false, :class => 'btn btn-xs btn-white l_iop_method form-control', :input_html => {:name => "opdrecord[l_iop_method]", :class => "form-control",:style=>"width: 100%;" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:l_iop_method)) %></span>
        </div>
      </div>
      <div class="row col-md-12 col-sm-12 mb5">
        <span class="col-md-3 col-sm-3">Comments</span>
        <div class="col-md-9 col-sm-9 l-iop-comments">
          <%= f.text_field :l_iop_comments, class: "form-control l_iop_comments", style: 'width: 100%;', placeholder: "Comment" %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function formatAMPM(date) {
    var hours = date.getHours();
    var minutes = date.getMinutes();
    var ampm = hours >= 12 ? 'PM' : 'AM';
    hours = hours % 12;
    hours = hours ? hours : 12; // the hour '0' should be '12'
    minutes = minutes < 10 ? '0'+minutes : minutes;
    var strTime = hours + ':' + minutes + ' ' + ampm;
    return strTime;
  }
  current_time = formatAMPM(new Date())

  $(".r-intraocularpressure-slider-range").slider({
    range: "max",
    min: 0,
    max: 60,
    value: 0,
    slide: function(event, ui) {
      $(".r_intraocularpressure").val(ui.value);
      $(".r_intraocularpressure_time").val(current_time)
      $(".r_intraocularpressure_time_a").val(current_time)
      $(".r-intraocularpressure-slider-range").slider({
        range: "max",
        min: 0,
        max: 60,
        value: ui.value,
      });
      toggle_iop_clear_button()
    }
  });

  toggle_iop_clear_button()
  function toggle_iop_clear_button(){
    if($("#opdrecord_r_intraocularpressure").val() == ""){
      $(".clear_r_iop").hide()
    }
    else{
      $(".clear_r_iop").show()
    }

    if($('#opdrecord_l_intraocularpressure').val() == ""){
      $(".clear_l_iop").hide()
    }
    else{
      $(".clear_l_iop").show()
    }
    check_iop_status()
  }

  $(".clear_r_iop").on("click",function(){
    $(".r_intraocularpressure").val("")
    $('.r-intraocularpressure-slider-range').find('.ui-slider-handle').css('left','0%')
    $('.r-intraocularpressure-slider-range').find('.ui-slider-range').css('width','100%')
    $('.r_intraocularpressure').val('')
    $(".clear_r_iop").hide()
    check_iop_status()
  });

  $(".clear_l_iop").on("click",function(){
    $(".l_intraocularpressure").val("")
    $('.l-intraocularpressure-slider-range').find('.ui-slider-handle').css('left','0%')
    $('.l-intraocularpressure-slider-range').find('.ui-slider-range').css('width','100%')
    $('.l_intraocularpressure').val('')
    $(".clear_l_iop").hide()
    check_iop_status()
  });

  //toggle right iop advised checkbox
  $('#opdrecord_no_right_iop_advised').on('click',() => {
    if($('#opdrecord_no_right_iop_advised').is(':checked')){
      $('.right_iop_row').prop('disabled', true)
      $('#opdrecord_no_right_iop_advised').val(true)
    } else{
      $('.right_iop_row').prop('disabled', false)
      $('#opdrecord_no_right_iop_advised').val(false)
    }
    check_iop_status()
  });

  // //toggle left iop advised checkbox
  $('#opdrecord_no_left_iop_advised').on('click',() => {
    if($('#opdrecord_no_left_iop_advised').is(':checked')){
      $('.left_iop_row').prop('disabled', true)
      $('#opdrecord_no_left_iop_advised').val(true)
    } else{
      $('.left_iop_row').prop('disabled', false)
      $('#opdrecord_no_left_iop_advised').val(false)
    }
    check_iop_status()
  });

  var r_intraocularpressure = "<%= escape_javascript (@opdrecord.read_attribute(:r_intraocularpressure)) %>";
  if (r_intraocularpressure.length > 0) {
    $(".r-intraocularpressure-slider-range").slider("value", r_intraocularpressure);
    toggle_iop_clear_button()
  }

  $(".r_intraocularpressure").keyup(function(e){
    $(".r_intraocularpressure_time").val(current_time)
    $(".r_intraocularpressure_time_a").val(current_time)
    value = $(this).val()
    $(".r_intraocularpressure").val(value);

    $(".r-intraocularpressure-slider-range").slider({
      range: "max",
      min: 0,
      max: 60,
      value: value,
      slide: function(event, ui) {
        $(".r_intraocularpressure").val(ui.value);
        $(".r_intraocularpressure_time").val(current_time)
        $(".r_intraocularpressure_time_a").val(current_time)
      }
    });
    toggle_iop_clear_button()
  });

  $(".l-intraocularpressure-slider-range").slider({
    range: "max",
    min: 0,
    max: 60,
    value: 0,
    slide: function(event, ui) {
      $(".l_intraocularpressure").val(ui.value);
      $(".l_intraocularpressure_time").val(current_time)
      $(".l_intraocularpressure_time_a").val(current_time)
      $(".l-intraocularpressure-slider-range").slider({
        range: "max",
        min: 0,
        max: 60,
        value: ui.value,
      });
      toggle_iop_clear_button()
    }
  });

  var l_intraocularpressure = "<%= escape_javascript (@opdrecord.read_attribute(:l_intraocularpressure)) %>";
  if (l_intraocularpressure.length > 0) {
    $(".l-intraocularpressure-slider-range").slider("value", l_intraocularpressure);
    toggle_iop_clear_button()
  }

  $(".l_intraocularpressure").keyup(function(e){
    $(".l_intraocularpressure_time").val(current_time)
    $(".l_intraocularpressure_time_a").val(current_time)
    value = $(this).val()
    $(".l_intraocularpressure").val(value);

    $(".l-intraocularpressure-slider-range").slider({
      range: "max",
      min: 0,
      max: 60,
      value: value,
      slide: function(event, ui) {
        $(".l_intraocularpressure").val(ui.value);
        $(".l_intraocularpressure_time").val(current_time)
        $(".l_intraocularpressure_time_a").val(current_time)
      }
    });
    toggle_iop_clear_button()
  });

  $('[name="opdrecord[r_iop_method]"]').on('change',function(){
    $('[name="opdrecord[r_iop_method]"]').val($(this).val())
  })
  $('[name="opdrecord[l_iop_method]"]').on('change',function(){
    $('[name="opdrecord[l_iop_method]"]').val($(this).val())
  })


  $('[name="opdrecord[r_iop_comments]"]').on('keyup',function(){
    $('.r-iop-comments .note-editable').html($(this).val())
  })
  $('[name="opdrecord[l_iop_comments]"]').on('keyup',function(){
    $('.l-iop-comments .note-editable').html($(this).val())
  })

  $('.r-iop-comments .note-editable').on('keyup',function(){
      $('[name="opdrecord[r_iop_comments]"]').val($(this).code())
  })
  $('.l-iop-comments .note-editable').on('keyup',function(){
      $('[name="opdrecord[l_iop_comments]"]').val($(this).code())
  })
</script>