<div class="row mb20">
  <div class="col-xs-12">
    <div class="col-xs-5">
      <div class="title">
        <h5 style="color: #444;font-size: 17px;">Dilation</h5>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="col-xs-12">
      <div class="col-xs-12">
        <div class="row mb10">
          <div class="col-xs-2">
            Dilation Needed :
          </div>
          <div class="col-xs-3">
            <div class="col-xs-6">
              <div class="rdio rdio-primary">
                <%= f.radio_button :dilation_needed, false, { id: 'dilation_needed_false', class: 'dilation_needed' } %>
                <label for="dilation_needed_false">No</label>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="rdio rdio-primary">
                <%= f.radio_button :dilation_needed, true, { id: 'dilation_needed_true', class: 'dilation_needed' } %>
                <label for="dilation_needed_true">Yes</label>
              </div>
            </div>
          </div>
          <div class="col-xs-2 dilate_patient_div">
            <div class="ckbox ckbox-primary">
              <%= f.hidden_field :dilate_patient, value: false %>
              <%= f.check_box :dilate_patient, { id: 'dilate_patient', checked: false }, true, false  %>
              <label for="dilate_patient">Start Dilation</label>
            </div>
          </div>
          <div class="col-xs-5 dilation_form">
            <div class="col-xs-2"><b>Eye Side</b></div>
            <div class="col-xs-4">
              <%= f.input :dilation_eye_side, collection: ['BE', 'RE', 'LE'], as: :hg_radio_button,label: false, required: false, class: 'btn btn-xs btn-white dilation_eye_side', input_html: { name: "opdrecord[dilation_eye_side]" }, checked: opdrecord.read_attribute(:dilation_eye_side) || 'BE' %>
            </div>
            <div class="col-xs-2"><b>Drop</b></div>
            <div class="col-xs-4">
              <%= f.select :dilation_drops, options_for_select(@patient.get_drugallergies_list_attribute("dilationdrops"), selected: opdrecord.dilation_drops), {include_blank: "Select Drop"}, { class: 'dilation_drop form-control p5_10' } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(".dilation_drop").select2();

  $(".dilation_needed").on('click', function(){
    if($(this).val() == "true"){
      $(".dilate_patient_div").show()
    } else {
      $(".dilate_patient_div").hide()
    }
  })

  $("#dilate_patient").on('click', function(){
    toggleDilationForm("#dilate_patient")
  })
  toggleDilationForm(this)

  function toggleDilationForm(ckbox){
    if($(ckbox).is(':checked')){
      $(".dilation_form").show()
    } else {
      $(".dilation_form").hide()
    }
  }

  $(".dilation_needed:checked").trigger('click')
</script>