<div class="step-pane <%= stepcount==1? "active" : "" %>" data-step="<%=stepcount%>">
  <div id="hg-sticky-anchor"></div>

  <div class="row mb5">
    <div class="col-md-12 col-sm-12">
      <div class="col-md-2 col-sm-2">
        Head Posture :
        <span>
          <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_head_posture">clear</small>
        </span>
      </div>
      
      <%= f.input :head_posture, wrapper_html: {:class=>"col-md-9 col-sm-9"}, collection: ['Chin Elevation', 'Chin Depression'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white head_posture', :input_html => {:name => "opdrecord[head_posture]" }, :checked => opdrecord.read_attribute(:head_posture) %>
    </div>
  </div>

  <div class="row mb5">
    <div class="col-md-12 col-sm-12">
      <div class="col-md-2 col-sm-2 ">
        Face Turn :
        <span>
          <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_face_turn">clear</small>
        </span>
      </div>
      <%= f.input :face_turn, wrapper_html: {:class=>"col-md-9 col-sm-9"}, collection: ['Right', 'Left'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white face_turn', :input_html => {:name => "opdrecord[face_turn]" }, :checked => opdrecord.read_attribute(:face_turn) %>
    </div>
  </div>

  <div class="row mb5">
    <div class="col-md-12 col-sm-12">
      <div class="col-md-2 col-sm-2">
        Head Tilt :
        <span>
          <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_head_tilt">clear</small>
        </span>
      </div>
      <%= f.input :head_tilt, wrapper_html: {:class=>"col-md-9 col-sm-9"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white head_tilt', :input_html => {:name => "opdrecord[head_tilt]" }, :checked => opdrecord.read_attribute(:head_tilt) %>
    </div>
  </div>


  <div class="row eye-row">

    <div class="col-md-6 col-sm-6 r-eye-column" style="padding-left:1px; padding-right:1px;">
      <div class="panel panel-success r-eye-panel">
        <div class="panel-heading r-eye-panel-heading" style="padding: 2px;">
          <h4 class="panel-title r-eye-panel-title text-center" style="color:#FFF;">R / OD </h4>
        </div>

        <div class="row mb5 col-md-12 col-sm-12 common_margin">          
          <div class="col-md-3 col-sm-3">
            Hirschberg Test: 
          <span>
            <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_r_hirschberg_test">clear</small>
          </span>
          </div>
          <div class="col-md-9 col-sm-9">
            <%= f.input :r_hirschberg_test, wrapper_html: {:class => ""}, collection: ['Normal', '7 * Eso','7 * Exo','15 * Eso','15 * Exo','30 * Eso','30 * Exo','45 * Eso','45 * Exo'], :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white r_hirschberg_test', :input_html => {:name => "opdrecord[r_hirschberg_test]" }, :checked => opdrecord.read_attribute(:r_hirschberg_test) %>
          </div>
        </div>

        <div class="row col-md-12 col-sm-12 common_margin">
          <div class="col-sm-3 col-sm-3 ">Cover Test :</div>
          <span class="col-md-9 col-sm-9"><%= f.input :r_cover_test, :label => false, :required => false, :input_html => {:class => "form-control r_cover_test small_text_style", :name => "opdrecord[r_cover_test]", :size => "50", :maxlength => "90", :value => opdrecord.read_attribute(:r_cover_test) } %></span>
        </div>

        <div class="row col-md-12 col-sm-12 common_margin">
          <div class="col-md-3 col-sm-3">Alternate Cover Test </div>
          <span class="col-md-9 col-sm-9"><%= f.input :r_alternate_cover_test, :label => false, :required => false, :input_html => {:class => "form-control r_alternate_cover_test small_text_style", :name => "opdrecord[r_alternate_cover_test]", :size => "50", :maxlength => "90", :value => opdrecord.read_attribute(:r_alternate_cover_test) } %></span>
        </div>

        <div class="row mb5 col-md-12 col-sm-12 common_margin">          
          <div class="col-md-3 col-sm-3">
            Patterns: 
            <span>
              <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_r_patterns">clear</small>
            </span>
          </div>
          <%= f.input :r_patterns, wrapper_html: {:class => "col-md-9 col-sm-9"}, collection: [ 'A - Eso','A - Exo','V - Eso','V - Exo','Y','λ','X'], :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white r_patterns', :input_html => {:name => "opdrecord[r_patterns]" }, :checked => opdrecord.read_attribute(:r_patterns) %>
        </div>

        <div class="row mb5 col-md-12 col-sm-12 common_margin">
          <div class="col-md-3 col-sm-3">
            <div>Prism bar cover test:</div>
            <span >
              <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_r_prism_bar_cover_test">clear</small>
            </span>
          </div>
          <% num_array = [] %>
          <% (5..75).to_a.select{|e| (num_array << e  if e%5 == 0) } %>
          
          <div class="col-md-2 col-sm-2">
            <%= f.select :r_prism_bar_cover_test_select, options_for_select(num_array.map{ |test_number| [test_number, test_number] }, opdrecord.read_attribute(:r_prism_bar_cover_test_select)), {}, {:class => "form-control"} %>
          </div>
          <div class="col-md-7 col-sm-7">  
            <%= f.input :r_prism_bar_cover_test, wrapper_html: {:class => ""}, collection: [ 'Esotropia','Exotropia','Hypertropia','Hypotropia','Esophoria','Exophoria','Hyperphoria','Hypophoria'], :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white r_prism_bar_cover_test', :input_html => {:name => "opdrecord[r_prism_bar_cover_test]" }, :checked => opdrecord.read_attribute(:r_prism_bar_cover_test) %>
          </div>
        </div>

        <div class="row mb5 col-md-12 col-sm-12 common_margin">
          <div class="col-md-3 col-sm-3">
            Prism bar reflex test
            <span>
              <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_r_prism_bar_reflex_test">clear</small>
            </span>
          </div>
          <div class=" col-md-2 col-sm-2">
            <%= f.select :r_prism_bar_reflex_test_select, options_for_select(num_array.map{ |test_number| [test_number, test_number] }, opdrecord.read_attribute(:r_prism_bar_reflex_test_select)), {}, {:class => "form-control"} %>
          </div>

          <div class="col-md-7 col-sm-7">
            <%= f.input :r_prism_bar_reflex_test, wrapper_html: {:class => ""}, collection: [ 'Esotropia','Exotropia','Hypertropia','Hypotropia'], :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white r_prism_bar_reflex_test', :input_html => {:name => "opdrecord[r_prism_bar_reflex_test]" }, :checked => opdrecord.read_attribute(:r_prism_bar_reflex_test) %>
          </div>
        </div>


        <div class="row col-md-12 col-sm-12 common_margin">
          <div class="col-md-8 col-sm-8">Ocular Movements :</div>
          <div class="text-center" style="margin-left:10%;margin-bottom:2px;margin-top: 10px">
            <% right_ocular_array = [['0'],['1+'],['2+'],['3+'],['4+'],['1-'],['2-'],['3-'],['4-']]%>
            <div class="col-sm-12 col-sm-12">
              <div class="col-sm-2 col-sm-2"></div>
              <%= f.select :r_ocular_movement1, options_for_select(right_ocular_array, :selected => opdrecord.r_ocular_movement1), {:include_blank => 'Select'}, { :class => 'r_ocular_movement1 top-bottom-selects col-md-2 col-sm-2 form-control', style: "width:15%;" } %>&nbsp;
              <div class="col-md-4 col-sm-5"></div>
              <%= f.select :r_ocular_movement2, options_for_select(right_ocular_array, :selected => opdrecord.r_ocular_movement2), {:include_blank => 'Select'}, { :class => 'r_ocular_movement2 col-md-2 col-sm-3 form-control top-bottom-selects', style: "margin-left:5px;width:15%;" } %>
            </div>
            
            <div class="col-md-12 col-sm-12" style="">
              <div class="col-md-1 col-sm-1"></div>
              <%= f.select :r_ocular_movement3, options_for_select(right_ocular_array, :selected => opdrecord.r_ocular_movement3), {:include_blank => 'Select'}, { :class => 'r_ocular_movement3 center-selects form-control col-md-12 col-sm-12', style: "width:15%;" } %>&nbsp;
            
              <div class="col-md-7 col-sm-7">
                <canvas id="right_ocular_canvas" class="ocular_canvas" width="250px" height="150px"></canvas>
              </div>
  
              <%= f.select :r_ocular_movement4, options_for_select(right_ocular_array, :selected => opdrecord.r_ocular_movement4), {:include_blank => 'Select'}, { :class => 'r_ocular_movement4 col-md-2 col-sm-2 center-selects form-control', style: "margin-left:5px;width:15%;" } %>
            </div>  

            <div class="col-md-12 col-sm-12" style="margin-top: -8px;">
              <div class="col-md-2 col-sm-2"></div>
              <%= f.select :r_ocular_movement5, options_for_select(right_ocular_array, :selected => opdrecord.r_ocular_movement5), {:include_blank => 'Select'}, { :class => 'r_ocular_movement5 col-md-2 col-sm-2 form-control top-bottom-selects', style: "width:15%;" } %>&nbsp;
              <div class="col-md-4 col-sm-5"></div>
              <%= f.select :r_ocular_movement6, options_for_select(right_ocular_array, :selected => opdrecord.r_ocular_movement6), {:include_blank => 'Select'}, { :class => 'r_ocular_movement6 col-md-2 col-sm-3 form-control top-bottom-selects', style: "margin-left:5px;width:15%;" } %>
            </div>
          </div>
        </div>

        <div class="row col-md-12 col-sm-12 common_margin">
          <div class="col-sm-3 col-sm-3 ">Nystagmus :</div>
          <span class="col-md-6 col-sm-6"><%= f.input :r_nystagmus, :label => false, :required => false, :input_html => {:class => "form-control r_nystagmus small_text_style", :name => "opdrecord[r_nystagmus]", :size => "50", :maxlength => "90", :value => opdrecord.read_attribute(:r_nystagmus) } %></span>
        </div>

        <div class="row col-md-12 col-sm-12 common_margin">
          <div class="col-md-3 col-sm-3">Maddox test :</div>
          <span class="col-md-6 col-sm-6"><%= f.input :r_maddox_test, :label => false, :required => false, :input_html => {:class => "form-control r_maddox_test small_text_style", :name => "opdrecord[r_maddox_test]", :size => "50", :maxlength => "90", :value => opdrecord.read_attribute(:r_maddox_test) } %></span>
        </div>

        <div class="row  col-md-12 col-sm-12 common_margin">
          <div class="col-md-3 col-sm-3 ">Worth four dot test :</div>
          <span class="col-md-6 col-sm-6"><%= f.input :r_worth_four_dot_test, :label => false, :required => false, :input_html => {:class => "form-control r_worth_four_dot_test small_text_style", :name => "opdrecord[r_worth_four_dot_test]", :size => "50", :maxlength => "90", :value => opdrecord.read_attribute(:r_worth_four_dot_test) } %></span>
        </div>

        <div class="row  col-md-12 col-sm-12 common_margin">
          <div class="col-md-3 col-sm-3 ">Stereopsis :</div>
            <span class="col-md-6 col-sm-6"><%= f.input :r_stereopsis, :label => false, :required => false, :input_html => {:class => "form-control r_stereopsis small_text_style", :name => "opdrecord[r_stereopsis]", :size => "50", :maxlength => "90", :value => opdrecord.read_attribute(:r_stereopsis) } %></span>
        </div>

        <div class="row  col-md-12 col-sm-12 common_margin">
          <div class="col-sm-3 col-sm-3 ">Hess Screen test :</div>
          <span class="col-md-6 col-sm-6"><%= f.input :r_hess_screen_test, :label => false, :required => false, :input_html => {:class => "form-control r_hess_screen_test small_text_style", :name => "opdrecord[r_hess_screen_test]", :size => "50", :maxlength => "90", :value => opdrecord.read_attribute(:r_hess_screen_test) } %></span>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 l-eye-column" style="padding-left:1px; padding-right:1px;">
      <div class="panel panel-success l-eye-panel">
        <div class="panel-heading l-eye-panel-heading" style="padding: 2px;">
          <h4 class="panel-title l-eye-panel-title text-center" style="color:#FFF;">L / OD </h4>
        </div>

        <div class="row mb5 col-md-12 col-sm-12 common_margin">          
          <div class="col-md-3 col-sm-3">Hirschberg Test
            <span>
              <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_l_hirschberg_test">clear</small>
            </span>
          </div>
          <div class="col-md-9 col-sm-9">
            <%= f.input :l_hirschberg_test, wrapper_html: {:class => ""}, collection: ['Normal', '7 * Eso','7 * Exo','15 * Eso','15 * Exo','30 * Eso','30 * Exo','45 * Eso','45 * Exo'], :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white l_hirschberg_test', :input_html => {:name => "opdrecord[l_hirschberg_test]" }, :checked => opdrecord.read_attribute(:l_hirschberg_test) %>
          </div>
        </div>

        <div class="row col-md-12 col-sm-12 common_margin">
          <div class="col-md-3 col-sm-3">Cover Test :</div>
          <span class="col-md-9 col-sm-9"><%= f.input :l_cover_test, :label => false, :required => false, :input_html => {:class => "form-control l_cover_test small_text_style", :name => "opdrecord[l_cover_test]", :size => "50", :maxlength => "90", :value => opdrecord.read_attribute(:l_cover_test) } %></span>
        </div>

        <div class="row col-md-12 col-sm-12 common_margin">
          <div class="col-md-3 col-sm-3">Alternate Cover Test :</div>
          <span class="col-md-9 col-sm-9"><%= f.input :l_alternate_cover_test, :label => false, :required => false, :input_html => {:class => "form-control l_alternate_cover_test small_text_style", :name => "opdrecord[l_alternate_cover_test]", :size => "50", :maxlength => "90", :value => opdrecord.read_attribute(:l_alternate_cover_test) } %></span>
        </div>

        <div class="row mb5 col-md-12 col-sm-12 common_margin">          
          <div class="col-md-3 col-sm-3">Patterns:
            <span>
              <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_l_patterns">clear</small>
            </span>
          </div>
          <%= f.input :l_patterns, wrapper_html: {:class => "col-md-9 col-sm-9"}, collection: [ 'A - Eso','A - Exo','V - Eso','V - Exo','Y','λ','X'], :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white l_patterns', :input_html => {:name => "opdrecord[l_patterns]" }, :checked => opdrecord.read_attribute(:l_patterns) %>
        </div>

        <div class="row mb5 col-md-12 col-sm-12 common_margin">
          <div class="col-md-3 col-sm-3">
            <div>Prism bar cover test</div>
            <span>
              <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_l_prism_bar_cover_test">clear</small>
            </span>
          </div>
          <% num_array = [] %>
          <% (5..75).to_a.select{|e| (num_array << e  if e%5 == 0) } %>
          
          <div class="col-md-2 col-sm-2">
            <%= f.select :l_prism_bar_cover_test_select, options_for_select(num_array.map{ |test_number| [test_number, test_number] }, opdrecord.read_attribute(:l_prism_bar_cover_test_select)), {}, {:class => "form-control"} %>
          </div>  
          <div class="col-md-7 col-sm-7">
            <%= f.input :l_prism_bar_cover_test, wrapper_html: {:class => ""}, collection: [ 'Esotropia','Exotropia','Hypertropia','Hypotropia','Esophoria','Exophoria','Hyperphoria','Hypophoria'], :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white l_prism_bar_cover_test', :input_html => {:name => "opdrecord[l_prism_bar_cover_test]" }, :checked => opdrecord.read_attribute(:l_prism_bar_cover_test) %>
          </div>
        </div>

        <div class="row mb5 col-md-12 col-sm-12 common_margin">
          <div class="col-md-3 col-sm-3">Prism bar reflex test
            <span>
              <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_l_prism_bar_reflex_test">clear</small>
            </span>
          </div>
          <div class=" col-md-2 col-sm-2">
            <%= f.select :l_prism_bar_reflex_test_select, options_for_select(num_array.map{ |test_number| [test_number, test_number] }, opdrecord.read_attribute(:l_prism_bar_reflex_test_select)), {}, {:class => "form-control"} %>
          </div>

          <div class="col-md-7 col-sm-7">
            <%= f.input :l_prism_bar_reflex_test, wrapper_html: {:class => ""}, collection: [ 'Esotropia','Exotropia','Hypertropia','Hypotropia'], :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white l_prism_bar_reflex_test', :input_html => {:name => "opdrecord[l_prism_bar_reflex_test]" }, :checked => opdrecord.read_attribute(:l_prism_bar_reflex_test) %>
          </div>
        </div>

        <div class="row col-md-12 col-sm-12 common_margin">
          <div class="col-md-8 col-sm-8">Ocular Movements :</div>
          <div class="text-center" style="margin-left:10%;margin-bottom:2px;margin-top: 10px">
            <% left_ocular_array = [['0'],['1+'],['2+'],['3+'],['4+'],['1-'],['2-'],['3-'],['4-']]%>
            <div class="col-md-12 col-sm-12">
              <div class="col-md-2 col-sm-2"></div>
              <%= f.select :l_ocular_movement1, options_for_select(left_ocular_array, :selected => opdrecord.l_ocular_movement1), {:include_blank => 'Select'}, { :class => 'l_ocular_movement1 top-bottom-selects col-sm-2 form-control', style: "width:15%;" } %>&nbsp;
              <div class="col-md-4 col-sm-5"></div>
              <%= f.select :l_ocular_movement2, options_for_select(left_ocular_array, :selected => opdrecord.l_ocular_movement2), {:include_blank => 'Select'}, { :class => 'l_ocular_movement2 col-md-2 form-control top-bottom-selects', style: "margin-left:5px;width:15%;" } %>
            </div>
            
            <div class="col-md-12 col-sm-12" style="">
              <div class="col-md-1 col-sm-1"></div>
              <%= f.select :l_ocular_movement3, options_for_select(left_ocular_array, :selected => opdrecord.l_ocular_movement3), {:include_blank => 'Select'}, { :class => 'l_ocular_movement3 center-selects form-control col-sm-12', style: "width:15%;" } %>&nbsp;
            
              <div class="col-md-7 col-sm-7">
                <canvas  id="left_ocular_canvas" class="ocular_canvas" width="250px" height="150px"></canvas>
              </div>
  
              <%= f.select :l_ocular_movement4, options_for_select(left_ocular_array, :selected => opdrecord.l_ocular_movement4), {:include_blank => 'Select'}, { :class => 'l_ocular_movement4 col-sm-2 center-selects form-control', style: "margin-left:5px;width:15%;" } %>
            </div>  

            <div class="col-md-12 col-sm-12" style="margin-top: -8px;">
              <div class="col-md-2 col-sm-2"></div>
              <%= f.select :l_ocular_movement5, options_for_select(left_ocular_array, :selected => opdrecord.l_ocular_movement5), {:include_blank => 'Select'}, { :class => 'l_ocular_movement5 col-md-2 col-sm-2 form-control top-bottom-selects', style: "width:15%;" } %>&nbsp;
              <div class="col-md-4 col-sm-5"></div>
              <%= f.select :l_ocular_movement6, options_for_select(left_ocular_array, :selected => opdrecord.l_ocular_movement6), {:include_blank => 'Select'}, { :class => 'l_ocular_movement6 col-md-2 col-sm-3 form-control top-bottom-selects', style: "margin-left:5px;width:15%;" } %>
            </div>

          </div>
        </div>

        <div class="row col-md-12 col-sm-12 common_margin">
          <div class="col-md-3 col-sm-3 ">Nystagmus :</div>
          <span class="col-md-6 col-sm-6"><%= f.input :l_nystagmus, :label => false, :required => false, :input_html => {:class => "form-control l_nystagmus small_text_style", :name => "opdrecord[l_nystagmus]", :size => "50", :maxlength => "90", :value => opdrecord.read_attribute(:l_nystagmus) } %></span>
        </div>

        <div class="row col-md-12 col-sm-12 common_margin">
          <div class="col-md-3 col-sm-3 ">Maddox test :</div>
          <span class="col-md-6 col-sm-6"><%= f.input :l_maddox_test, :label => false, :required => false, :input_html => {:class => "form-control l_maddox_test small_text_style", :name => "opdrecord[l_maddox_test]", :size => "50", :maxlength => "90", :value => opdrecord.read_attribute(:l_maddox_test) } %></span>
        </div>

        <div class="row  col-md-12 col-sm-12 common_margin">
          <div class="col-md-3 col-sm-3">Worth four dot test :</div>
          <span class="col-md-6 col-sm-6"><%= f.input :l_worth_four_dot_test, :label => false, :required => false, :input_html => {:class => "form-control l_worth_four_dot_test small_text_style", :name => "opdrecord[l_worth_four_dot_test]", :size => "50", :maxlength => "90", :value => opdrecord.read_attribute(:l_worth_four_dot_test) } %></span>
        </div>

        <div class="row  col-md-12 col-sm-12 common_margin">
          <div class="col-md-3 col-sm-3">Stereopsis :</div>
            <span class="col-md-6 col-sm-6"><%= f.input :l_stereopsis, :label => false, :required => false, :input_html => {:class => "form-control l_stereopsis small_text_style", :name => "opdrecord[l_stereopsis]", :size => "50", :maxlength => "90", :value => opdrecord.read_attribute(:l_stereopsis) } %></span>
        </div>

        <div class="row  col-md-12 col-sm-12 common_margin">
          <div class="col-md-3 col-sm-3">Hess Screen test :</div>
          <span class="col-md-6 col-sm-6"><%= f.input :l_hess_screen_test, :label => false, :required => false, :input_html => {:class => "form-control l_hess_screen_test small_text_style", :name => "opdrecord[l_hess_screen_test]", :size => "50", :maxlength => "90", :value => opdrecord.read_attribute(:l_hess_screen_test) } %></span>
        </div>
      </div>
    </div>

  </div>

</div>

<style type="text/css">
  .editViewActivate_l, .editViewActivate_r {
    padding: 0 5px;
  }

  .alternate_cover_test{
    margin-left: -50px;
  }
  
  .common_margin{
    margin: 5px;
   }

   .center-selects{
      margin-top: 53px;
   }

   .top-bottom-selects{
      margin-left: 13px;
   }
</style>


<script>
  var canvas = $('#left_ocular_canvas')[0]
  var context = canvas.getContext('2d');
  context.lineWidth = 3;
  context.strokeStyle="#313c38";
  
  context.beginPath();
  context.moveTo(0, 0);
  context.lineTo(250, 150);

  context.moveTo(0, 150);
  context.lineTo(250, 0);

  context.moveTo(0, 75);
  context.lineTo(250, 75);    
  context.stroke();

  var canvas = $('#right_ocular_canvas')[0]
  var context = canvas.getContext('2d');
  context.lineWidth = 3;
  context.strokeStyle="#313c38";

  context.beginPath();
  context.moveTo(0, 0);
  context.lineTo(250, 150);

  context.moveTo(0, 150);
  context.lineTo(250, 0);

  context.moveTo(0, 75);
  context.lineTo(250, 75);    

  context.stroke();
</script>
