<div class="step-pane <%= stepcount==1? "active" : "" %>" data-step="<%=stepcount%>">
  <ul class="nav nav-tabs nav-justified" id="ul_plan">
    <li data-id="medication" class="active" onclick="toggle_btn('advice_step_medication');"><a href="#medication" data-toggle="tab"><strong>Medication</strong></a></li>
    <% if @templatetype != 'vision' %>
      <li data-id="procedure" class="" onclick="toggle_btn('advice_step_procedure');"><a href="#procedure" data-toggle="tab"><strong>Procedures</strong></a></li>
    <% end %>
    <li data-id="referral" class="" onclick="toggle_btn('');"><a href="#referral" data-toggle="tab"><strong>Referral</strong></a></li>
    <li data-id="advice" style="<%= text_font_size %>" class="" onclick="toggle_btn('advice_step_advice');"><a href="#advice" data-toggle="tab"><strong>Advice</strong></a></li>
  </ul>

  <div class="tab-content">
    <%= render partial: "opd_records/ophthalmology_notes/opd_partials/plan_tab_medication" , locals: { f: f, specalityfoldername: @speciality_folder_name, opdrecord: @opdrecord, templatetype: @templatetype, opdspeciality: @opdspeciality } %>
    <% if @templatetype != 'vision' %>
      <%= render partial: "opd_records/ophthalmology_notes/opd_partials/plan_tab_procedures" , locals: { f: f, specalityfoldername: @speciality_folder_name, opdrecord: @opdrecord, templatetype: @templatetype, opdspeciality: @opdspeciality } %>
    <% end %>
    <%= render partial: "opd_records/ophthalmology_notes/opd_partials/plan_tab_referral", locals: { f: f, specalityfoldername: @speciality_folder_name, opdrecord: @opdrecord, templatetype: @templatetype, opdspeciality: @opdspeciality } %>
    <%= render partial: "opd_records/ophthalmology_notes/opd_partials/plan_tab_advice", locals: { f: f, specalityfoldername: @speciality_folder_name, opdrecord: @opdrecord, templatetype: @templatetype, opdspeciality: @opdspeciality } %>
  </div>
</div>
