<table class="table table-striped table-bordered surgery-table">
   <thead>
      <tr>
         <th class="text-center" style="padding-top:0px;padding-bottom:0px;">Surgery Name</th>
         <th class="text-center" style="padding-top:0px;padding-bottom:0px;">Eye Side</th>
         <th class="text-center" style="padding-top:0px;padding-bottom:0px;">Surgery Date</th>
         <th class="text-center" style="padding-top:0px;padding-bottom:0px;">Post Operative Day</th>
         <th class="text-center" style="padding-top:0px;padding-bottom:0px;">Surgeon</th>
         <th class="text-center" style="padding-top:0px;padding-bottom:0px;">Comment</th>
         <th></th>
      </tr>
   </thead>
   <tbody class="post-op-record-table-body-added">
      <% if @opdrecord.has_postoprecord? %>
        <% @opdrecord.postoprecord.each_with_index do |item, i| %>
          <tr class="postoprecords">
             <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="row mb10">
                   <div class="col-md-12 col-sm-12">
                      <%= hidden_field_tag "opdrecord[postoprecord_attributes][#{i}][id]", item.id , {:class => 'form-control id' } %>
                      <%= hidden_field_tag "opdrecord[postoprecord_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
                      <%= text_field_tag "opdrecord[postoprecord_attributes][#{i}][surgery_name]", item.surgery_name, {:maxlength => 40, :size => 40, :class => 'form-control surgery_name', :style => "padding: 6px"  } %>
                   </div>
                   <span id="surgery-name-contents-<%= "#{i}" %>" class="btn btn-xs btn-success btn-square surgery-name-contents hidden" data-surgerycontents=""><i class="fa fa-question-circle"></i></span>
                </div>
             </td>
             <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group" style="width: 100%;">
                   <div class="input-group mb15">
                      <%= select_tag "opdrecord[postoprecord_attributes][#{i}][eyeside]", options_for_select(['L', 'R', 'BE'], item.eyeside), {:prompt => 'Select' , :class => 'form-control eyeside',:style => "padding: 6px" } %>
                   </div>
                </div>
             </td>
             <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group" style="width: 100%;">
                   <div class="input-group mb15">
                      <%= text_field_tag "opdrecord[postoprecord_attributes][#{i}][surgery_date]",item.surgery_date.try(:strftime, "%d/%m/%Y") , { :class => "form-control form-control-custom post_operative_day_datepicker surgery_date", id: "opdrecord_postoprecord_attributes_#{i}_surgery_date" , :style => "padding: 6px" } %>
                   </div>
                </div>
             </td>
             <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group" style="width: 100%;">
                   <div class="input-group mb15">
                      <%= text_field_tag "opdrecord[postoprecord_attributes][#{i}][post_operative_day]", item.post_operative_day, :class => "form-control form-control-custom post_operative_day_count", id: "post-operative-day-count#{i}", :style => "padding: 6px"  %>
                   </div>
                </div>
             </td>
             <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group" style="width: 100%;">
                   <div class="input-group mb15">
                      <%= text_field_tag "opdrecord[postoprecord_attributes][#{i}][surgeon_name]", item.try(:surgeon_name), :class => "form-control form-control-custom surgeon_name", id: "", :style => "padding: 6px"  %>
                   </div>
                </div>
             </td>
             <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group" style="width: 100%;">
                   <div class="input-group mb15">
                      <%= text_field_tag "opdrecord[postoprecord_attributes][#{i}][comment]", item.comment, { :class => 'form-control eyeside',:style => "padding: 6px" } %>
                   </div>
                </div>
             </td>
             <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group">
                   <a id="addnewpostoprecordbutton" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewpostoprecordbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
                   <a id="removepostoprecordbutton" class="btn btn-xs btn-primary btn-danger removepostoprecordbutton" href="javascript:;" name="removepostoprecordbutton" style= <%= "display:none;" if @opdrecord.postoprecord.count == 1 %> ><span class="glyphicon glyphicon-remove"></span></a>
                </div>
             </td>
          </tr>
        <% end %>
      <% else %>
        <% i = 0 %>
        <div class="row">
          <tr class="postoprecords">
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
               <div class="row mb10">
                  <div class="col-md-12 col-sm-12">
                     <%= hidden_field_tag "opdrecord[postoprecord_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
                     <%= text_field_tag "opdrecord[postoprecord_attributes][#{i}][surgery_name]", nil, {:maxlength => 40, :size => 40, :class => 'form-control surgery_name', :style => "padding: 6px"  } %>
                  </div>
               </div>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
               <div class="form-group" style="width: 100%;">
                  <div class="input-group mb15">
                     <%= select_tag "opdrecord[postoprecord_attributes][#{i}][eyeside]", options_for_select(['L', 'R', 'BE']), {:prompt => 'Select' , :class => 'form-control eyeside',:style => "padding: 6px" } %>
                  </div>
               </div>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
               <div class="form-group" style="width: 100%;">
                  <div class="input-group mb15">
                     <%= text_field_tag "opdrecord[postoprecord_attributes][#{i}][surgery_date]",nil, { :class => "form-control post_operative_day_datepicker surgery_date", id: "opdrecord_postoprecord_attributes_#{i}_surgery_date", :style => "padding: 6px" } %>
                  </div>
               </div>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
               <div class="form-group" style="width: 100%;">
                  <div class="input-group mb15">
                     <%= text_field_tag "opdrecord[postoprecord_attributes][#{i}][post_operative_day]",nil,  :class => "form-control form-control-custom post_operative_day_count", id: "post-operative-day-count#{i}", :style => "padding: 6px"  %>
                  </div>
               </div>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
             <div class="form-group" style="width: 100%;">
               <div class="input-group mb15">
                 <%= text_field_tag "opdrecord[postoprecord_attributes][#{i}][surgeon_name]", nil, :class => "form-control form-control-custom surgeon_name", id: "", :style => "padding: 6px"  %>
               </div>
             </div>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="form-group" style="width: 100%;">
                <div class="input-group mb15">
                  <%= text_field_tag "opdrecord[postoprecord_attributes][#{i}][comment]", nil, { :class => 'form-control comment',:style => "padding: 10px 0px" , :style => "padding: 6px" } %>
                </div>
              </div>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="form-group">
                <a id="addnewpostoprecordbutton<%=i%>" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewpostoprecordbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
                <a id="removepostoprecordbutton<%=i%>" class="btn btn-xs btn-primary btn-danger removepostoprecordbutton" href="javascript:;" name="removepostoprecordbutton" style="display: none;" ><span class="glyphicon glyphicon-remove"></span></a>
              </div>
            </td>
           </tr>
        </div>
      <% end %>
   </tbody>
</table>
<div class="post-op-record-table-body-removed" style="display:none;"></div>