<div class="step-pane <%= stepcount==1? "active" : "" %>" data-step="<%=stepcount%>">
  <div id="hg-sticky-anchor"></div>

  <div class="row mb5">
    <div class="col-md-2 col-sm-3">General Examination :</div>
    <div class="col-md-6 col-sm-5">
      <%= f.text_area :generalexaminationcomments, :label => false, :required => false, :class => "form-control generalexaminationcomments", :name => "opdrecord[generalexaminationcomments]", :size => "80", :maxlength => "1000", :value => opdrecord.read_attribute(:generalexaminationcomments)  %>
    </div>
  </div>

  <div class="row eye-row">
    <div class="col-md-6 col-sm-6 r-eye-column" style="padding-left:1px; padding-right:1px;">
      <div class="panel panel-success r-eye-panel">
        <div class="panel-heading r-eye-panel-heading" style="padding: 2px;">
          <h4 class="panel-title r-eye-panel-title text-center" style="color:#FFF;">R / OD</h4>
        </div>
        <%#= render partial: "opd_records/ophthalmology_notes/opd_partials/r_eye_optometrist_examination.html.erb", locals: {f: f, opdrecord: @opdrecord} %>
        <!-- R Shortcuts -->
          <div class="row r-shortcuts-row">
            <div class="col-md-12 col-sm-12 r-shortcuts-column questionsforshortcuts" id="r-questionsforshortcuts">
              <strong class="col-md-3 col-sm-3 badge badge-eye-template-labels">SHORTCUT </strong>
              <div class="col-md-9 col-sm-9">
                <span class="btn btn-success btn-xs" id="fill_normal_r" style="padding:0 5px;" title="Fill Every Textbox With Normal">Normal</span>
              </div>
            </div>
          </div>
        <!-- R Shortcuts Ends -->
        <div class="hr-line-border mb5"></div>
        <!-- R Eyelids -->
          <div class="row r-eyelids-row">
            <div class="col-md-12 col-sm-12 r-eyelids-column questionsforeyelids" id="r-questionsforeyelids">
              <strong class="col-md-3 col-sm-3  badge badge-eye-template-labels">EYELIDS </strong>
              <div class="col-md-9 col-sm-9">
                <%= f.input :r_eyelids_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_r r_eyelids_comments opdrecord_summernote', :name => "opdrecord[r_eyelids_comments]", :value => @opdrecord.read_attribute(:r_eyelids_comments) } %>
              </div>
            </div>
          </div>
        <!-- R Eyelids Ends -->
        <div class="hr-line-border mb5"></div>
        <!-- R Conjunctiva -->
          <div class="row r-conjunctiva-row">
            <div class="col-md-12 col-sm-12 r-conjunctiva-column questionsforconjunctiva" id="r-questionsforconjunctiva">
              <strong class="col-md-3 col-sm-3 badge badge-eye-template-labels">CONJUNCTIVA </strong>
              <div class="col-md-9 col-sm-9">
                <%= f.input :r_conjunctiva_comments, as: :text, :label => false, :required => false, :input_html => {:class => "form-control normalfilled_r r_conjunctiva_comments opdrecord_summernote", :id => "r_conjunctiva_comments_quickeye", style:"width:100%;", :maxlength => "100", :value => opdrecord.read_attribute(:r_conjunctiva_comments) } %>
              </div>
            </div>
          </div>
        <!-- R Conjunctiva Ends -->

        <div class="hr-line-border mb5"></div>
        <!-- R Cornea -->
        <div class="row r-cornea-row">
          <div class="col-md-12 col-sm-12 r-cornea-column questionsforcornea" id="r-questionsforcornea">
            <strong class="col-md-3 col-sm-3  badge badge-eye-template-labels">CORNEA </strong>
            <div class="col-md-9 col-sm-9">
              <%= f.input :r_corneaquick_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_r r_corneaquick_comments opdrecord_summernote', :name => "opdrecord[r_corneaquick_comments]", :value => @opdrecord.read_attribute(:r_corneaquick_comments) } %>
            </div>
          </div>
        </div>
        <div class="hr-line-border mb5"></div>
        <!-- R Sclera -->
          <div class="row r-sclera-row">
            <div class="col-md-12 col-sm-12 r-sclera-column questionsforsclera" id="r-questionsforsclera">
              <strong class="col-md-3 col-sm-3  badge badge-eye-template-labels">SCLERA </strong>
              <div class="col-md-9 col-sm-9">
                <%= f.input :r_sclera_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_r r_sclera_comments opdrecord_summernote', :name => "opdrecord[r_sclera_comments]", :value => @opdrecord.read_attribute(:r_sclera_comments) } %>
              </div>
            </div>
          </div>
        <!-- R Sclera Ends -->

        <!-- R Cornea Ends -->
        <div class="hr-line-border mb5"></div>
        <!-- R Anterior Chamber -->
          <div class="row r-anteriorchamber-row">
            <div class="col-md-12 col-sm-12 r-anteriorchamber-column questionsforanteriorchamber" id="r-questionsforanteriorchamber">
              <strong class="col-md-3 col-sm-3  badge badge-eye-template-labels">ANTERIOR CHAMBER (AC)</strong>
              <div class="col-md-9 col-sm-9">
                <%= f.input :r_anteriorchamber_comments, as: :text, :label => false, :required => false, :input_html => {:class => "form-control normalfilled_r r_anteriorchamber_comments opdrecord_summernote", :id => "r_anteriorchamber_comments_quickeye", style:"width:100%;", :maxlength => "100", :value => opdrecord.read_attribute(:r_anteriorchamber_comments) } %>
              </div>
            </div>
          </div>
        <!-- R Anterior Chamber Ends -->
        <div class="hr-line-border mb5"></div>
        <!-- R Iris -->
          <div class="row r-iris-row">
            <div class="col-md-12 col-sm-12 r-iris-column questionsforiris" id="r-questionsforiris">
              <strong class="col-md-3 col-sm-3 badge badge-eye-template-labels">IRIS </strong>
              <div class="col-md-9 col-sm-9">
                <%= f.input :r_iris_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_r r_iris_comments opdrecord_summernote', :name => "opdrecord[r_iris_comments]", :value => @opdrecord.read_attribute(:r_iris_comments) } %>
              </div>
            </div>
          </div>
        <!-- R Iris Ends -->
        <div class="hr-line-border mb5"></div>
        <!-- R Pupil -->
          <div class="row r-pupil-row">
            <div class="col-md-12 col-sm-12 r-pupil-column questionsforpupil" id="r-questionsforpupil">
              <strong class="col-md-3 col-sm-3 badge badge-eye-template-labels">PUPIL </strong>
              <div class="col-md-9 col-sm-9">
                <%= f.input :r_pupilquick_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_r r_pupilquick_comments opdrecord_summernote', :name => "opdrecord[r_pupilquick_comments]", :value => @opdrecord.read_attribute(:r_pupilquick_comments) } %>
              </div>
            </div>
          </div>
        <!-- R Pupil Ends -->
        <div class="hr-line-border mb5"></div>
        <!-- R Lens -->
          <div class="row r-lens-row">
            <div class="col-md-12 col-sm-12 r-lens-column questionsforlens" id="r-questionsforlens">
              <strong class="col-md-3 col-sm-3  badge badge-eye-template-labels">LENS </strong>
              <div class="col-md-9 col-sm-9">
                <%= f.input :r_lensquick_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_r r_lensquick_comments opdrecord_summernote', :name => "opdrecord[r_lensquick_comments]", :value => @opdrecord.read_attribute(:r_lensquick_comments) } %>
              </div>
            </div>
          </div>
        <!-- R Lens Ends -->
        <div class="hr-line-border mb5"></div>
        <!-- R vitreous -->
        <div class="row r-vitreous-row">
          <div class="col-md-12 col-sm-12 r-vitreous-column questionsforlens" id="r-questionsforvitreous">
            <strong class="col-md-3 col-sm-3 badge badge-eye-template-labels">VITREOUS </strong>
            <div class="col-md-9 col-sm-9">
              <%= f.input :r_vitreousquick_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_r r_vitreousquick_comments opdrecord_summernote', :name => "opdrecord[r_vitreousquick_comments]", :value => @opdrecord.read_attribute(:r_vitreousquick_comments) } %>
            </div>
          </div>
        </div>
        <!-- L vitreous Ends -->
        <div class="hr-line-border mb5"></div>
        <!-- R Fundus -->
        <div class="row r-fundus-row">
          <div class="col-md-12 col-sm-12 r-fundus-column questionsforfundus" id="r-questionsforfundus">
            <strong class="col-md-3 col-sm-3 badge badge-eye-template-labels">FUNDUS </strong>
            <div class="col-md-9 col-sm-9">
              <%= f.input :r_fundusquick_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_r r_fundusquick_comments opdrecord_summernote', :name => "opdrecord[r_fundusquick_comments]", :value => @opdrecord.read_attribute(:r_fundusquick_comments) } %>
            </div>
          </div>
        </div>
        <!-- R Fundus Ends -->
        <div class="hr-line-border mb5"></div>
        <!-- L Fundus -->
        <div class="row r-opticdisc-row">
          <div class="col-md-12 col-sm-12 r-fundus-column questionsforopticdisc" id="r-questionsforopticdisc">
            <strong class="col-md-3 col-sm-3  badge badge-eye-template-labels">OPTIC DISC </strong>
            <div class="col-md-9 col-sm-9">
              <%= f.input :r_opticdiscquick_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_r r_opticdiscquick_comments opdrecord_summernote', :name => "opdrecord[r_opticdiscquick_comments]", :value => @opdrecord.read_attribute(:r_opticdiscquick_comments) } %>
            </div>
          </div>
        </div>
        <!-- L Opticdisc Ends -->

        <div class="hr-line-border mb5"></div>
        <!-- L Macula -->
        <div class="row r-macula-row">
          <div class="col-md-12 col-sm-12 r-macula-column questionsformacula" id="r-questionsformacula">
            <strong class="col-md-3 col-sm-3 badge badge-eye-template-labels">MACULA </strong>
            <div class="col-md-9 col-sm-9">
              <%= f.input :r_maculaquick_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_r r_maculaquick_comments opdrecord_summernote', :name => "opdrecord[r_maculaquick_comments]", :value => @opdrecord.read_attribute(:r_maculaquick_comments) } %>
            </div>
          </div>
        </div>
        <!-- L macula Ends -->

        <div class="hr-line-border mb5"></div>
        <!-- L peripheral retina -->
        <div class="row r-peripheralretina-row">
          <div class="col-md-12 col-sm-12 r-fundus-column questionsforperipheralretina" id="r-questionsforperipheralretina">
            <strong class="col-md-3 col-sm-3 badge badge-eye-template-labels">PERIPHERAL RETINA </strong>
            <div class="col-md-9 col-sm-9">
              <%= f.input :r_peripheralretinaquick_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_r r_peripheralretinaquick_comments opdrecord_summernote', :name => "opdrecord[r_peripheralretinaquick_comments]", :value => @opdrecord.read_attribute(:r_peripheralretinaquick_comments) } %>
            </div>
          </div>
        </div>
        <div class="hr-line-border mb5"></div>
        <!-- R Tonometry -->
          <div class="row r-tonometry-row">
            <div class="col-md-12 col-sm-12 r-tonometry-column questionsfortonometry" id="r-questionsfortonometry">
              <strong class="col-md-3 col-sm-3 badge badge-eye-template-labels">TONOMETRY </strong>
              <div class="col-md-9 col-sm-9">
                <%= f.input :r_tonometry_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_r r_tonometry_comments opdrecord_summernote', :name => "opdrecord[r_tonometry_comments]", :value => @opdrecord.read_attribute(:r_tonometry_comments) } %>
              </div>
            </div>
          </div>
        <!-- R Tonometry Ends -->
        <div class="hr-line-border mb5"></div>
        <!-- R Gonioscopy -->
          <div class="row r-gonioscopy-row">
            <div class="col-md-12 col-sm-12 r-gonioscopy-column questionsforgonioscopy" id="r-questionsforgonioscopy">
              <strong class="col-md-3 col-sm-3 badge badge-eye-template-labels">GONIOSCOPY </strong>
              <div class="col-md-9 col-sm-9">
                <%= f.input :r_gonioscopy_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_r r_gonioscopy_comments opdrecord_summernote', :name => "opdrecord[r_gonioscopy_comments]", :value => @opdrecord.read_attribute(:r_gonioscopy_comments) } %>
              </div>
            </div>
          </div>
        <!-- R Gonioscopy Ends -->
        <div class="hr-line-border mb5"></div>
        <!-- R Schirmers Test -->
          <div class="row r-schirmers-row">
            <div class="col-md-12 r-schirmers-column questionsforschirmers" id="r-questionsforschirmers">
              <strong class="col-md-3 col-sm-3 badge badge-eye-template-labels">SCHIRMERS TEST </strong>
              <div class="col-md-9 col-sm-9">
                <%= f.input :r_schirmers_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_r r_schirmers_comments opdrecord_summernote', :name => "opdrecord[r_schirmers_comments]", :value => @opdrecord.read_attribute(:r_schirmers_comments) } %>
              </div>
            </div>
          </div>
        <!-- R Schirmers Test Ends -->
        <div class="hr-line-border mb5"></div>
        <!-- R Lacrimal Patency Test -->
          <div class="row r-lacrimalpatency-row">
            <div class="col-md-12 col-sm-12 r-lacrimalpatency-column questionsforlacrimalpatency" id="r-questionsforlacrimalpatency">
              <strong class="col-md-3 col-sm-3  badge badge-eye-template-labels">LACRIMAL PATENCY<div class="mb1"></div> TEST </strong>
              <div class="col-md-9 col-sm-9">
                <%= f.input :r_lacrimalpatency_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_r r_lacrimalpatency_comments opdrecord_summernote', :name => "opdrecord[r_lacrimalpatency_comments]", :value => @opdrecord.read_attribute(:r_lacrimalpatency_comments) } %>
              </div>
            </div>
          </div>
        <!-- R Lacrimal Patency Test Ends -->

        <div class="hr-line-border mb5"></div>
        <!-- R Motor Evaluation -->
          <div class="row r-motorevaluation-row">
            <div class="col-md-12 col-sm-12 r-motorevaluation-column questionsformotorevaluation" id="r-questionsformotorevaluation">
              <strong class="col-md-3 col-sm-3 badge badge-eye-template-labels">MOTOR EVALUATION </strong>
              <div class="col-md-9 col-sm-9">
                <%= f.input :r_motorevaluation_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_r r_motorevaluation_comments opdrecord_summernote', :name => "opdrecord[r_motorevaluation_comments]", :value => @opdrecord.read_attribute(:r_motorevaluation_comments) } %>
              </div>
            </div>
          </div>
        <!-- R Motor Evaluation Ends -->
        <div class="hr-line-border mb5"></div>
        <!-- R Measurment Of Squint -->
          <div class="row r-squint-row">
            <div class="col-md-12 col-sm-12 r-squint-column questionsforsquint" id="r-questionsforsquint">
              <strong class="col-md-3 col-sm-3 badge badge-eye-template-labels">MEASURMENT<div class="mb1"></div> OF SQUINT </strong>
              <div class="col-md-9 col-sm-9">
                <%= f.input :r_squint_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_r r_squint_comments opdrecord_summernote', :name => "opdrecord[r_squint_comments]", :value => @opdrecord.read_attribute(:r_motorevaluation_comments) } %>
              </div>
            </div>
          </div>
        <!-- R Measurment Of Squint Ends -->
        <div class="hr-line-border mb5"></div>
        <!-- R Drawing Tools -->
          <div class="row r-drawingtools-row">
            <strong class="col-md-3 col-sm-3  badge badge-eye-template-labels">DRAWING TOOLS </strong>
            <div class="col-md-9 col-sm-9 mt5">

                <div class="r-appendages-diagram mb5" id="r-appendages-diagram">
                  <% if opdrecord['r_appendages_diagram_present'] == "Y" %>
                      <%= render partial: "opd_records/ophthalmology_notes/opd_partials/edit_appendages_diagram", locals: { eyeside: "r", opdrecord: @opdrecord} %>
                  <% else %>
                      <%= render partial: "opd_records/ophthalmology_notes/opd_partials/new_appendages_diagram_modal", locals: { eyeside: "r"} %>
                  <% end %>
                </div>


              <div class="r-cornea-diagram mb5" id="r-cornea-diagram">
                <% if opdrecord['r_cornea_diagram_present'] == "Y" %>
                  <%= render partial: "opd_records/ophthalmology_notes/opd_partials/edit_cornea_diagram", locals: { eyeside: "r", opdrecord: @opdrecord} %>
                <% else %>
                  <%= render partial: "opd_records/ophthalmology_notes/opd_partials/new_cornea_diagram_modal", locals: { eyeside: "r"} %>
                <% end %>
              </div>
              <div class="r-corneaslit-diagram mb5" id="r-corneaslit-diagram">
                <% if opdrecord['r_corneaslit_diagram_present'] == "Y" %>
                  <%= render partial: "opd_records/ophthalmology_notes/opd_partials/edit_cornea_slit_diagram", locals: { eyeside: "r", opdrecord: @opdrecord} %>
                <% else %>
                  <%= render partial: "opd_records/ophthalmology_notes/opd_partials/new_corneaslit_diagram_modal", locals: { eyeside: "r"} %>
                <% end %>
              </div>
              <div class="r-fundus-diagram mb5" id="r-fundus-diagram">
                <% if opdrecord['r_fundus_diagram_present'] == "Y" %>
                    <%= render partial: "opd_records/ophthalmology_notes/opd_partials/edit_fundus_diagram", locals: { eyeside: "r", opdrecord: @opdrecord} %>
                <% else %>
                    <%= render partial: "opd_records/ophthalmology_notes/opd_partials/new_fundus_diagram_modal", locals: { eyeside: "r"} %>
                <% end %>
              </div>
            </div>
          </div>
        <!-- R Drawing Tools Ends -->
        <!-- R Upload Files -->
        <!-- R Upload Files Ends -->
      </div>
    </div>

    <div class="col-md-6 col-sm-6 l-eye-column" style="padding-left:1px; padding-right:1px;">
      <div class="panel panel-success l-eye-panel">
        <div class="panel-heading l-eye-panel-heading" style="padding: 2px;">
          <h4 class="panel-title l-eye-panel-title text-center" style="color:#FFF;">L / OS</h4>
        </div>
        <%#= render partial: "opd_records/ophthalmology_notes/opd_partials/l_eye_optometrist_examination.html.erb", locals: {f: f, opdrecord: @opdrecord} %>
        <!-- L Shortcuts -->
          <div class="row l-shortcuts-row">
            <div class="col-md-12 col-sm-12 l-shortcuts-column questionsforshortcuts" id="l-questionsforshortcuts">
              <strong class="col-md-3 col-sm-3 badge badge-eye-template-labels">SHORTCUT </strong>
              <div class="col-md-9 col-sm-9">
                <span class="btn btn-success btn-xs" id="fill_normal_l" style="padding:0 5px;" title="Fill Every Textbox With Normal">Normal</span>
              </div>
            </div>
          </div>
        <!-- L Shortcuts Ends -->
        <div class="hr-line-border mb5"></div>
        <!-- L Eyelids -->
          <div class="row l-eyelids-row">
            <div class="col-md-12 l-eyelids-column questionsforeyelids" id="l-questionsforeyelids">
              <strong class="col-md-3 col-sm-3  badge badge-eye-template-labels">EYELIDS </strong>
              <div class="col-md-9 col-sm-9">
                <%= f.input :l_eyelids_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_l l_eyelids_comments opdrecord_summernote', :name => "opdrecord[l_eyelids_comments]", :value => @opdrecord.read_attribute(:l_eyelids_comments) } %>
              </div>
            </div>
          </div>
        <!-- L Eyelids Ends -->
        <div class="hr-line-border mb5"></div>
        <!-- L Conjunctiva -->
          <div class="row l-conjunctiva-row">
            <div class="col-md-12 col-sm-12 l-conjunctiva-column questionsforconjunctiva" id="l-questionsforconjunctiva">
              <strong class="col-md-3 col-sm-3 badge badge-eye-template-labels">CONJUNCTIVA </strong>
              <div class="col-md-9 col-sm-9">
                <%= f.input :l_conjunctiva_comments, as: :text, :label => false, :required => false, :input_html => {:class => "form-control normalfilled_l l_conjunctiva_comments opdrecord_summernote", :id => "l_conjunctiva_comments_quickeye", style:"width:100%;", :maxlength => "100", :value => opdrecord.read_attribute(:l_conjunctiva_comments) } %>
              </div>
            </div>
          </div>
        <!-- L Conjunctiva Ends -->
        <div class="hr-line-border mb5"></div>
        <!-- L Cornea -->
        <div class="row l-cornea-row">
          <div class="col-md-12 col-sm-12 l-cornea-column questionsforcornea" id="l-questionsforcornea">
            <strong class="col-md-3 col-sm-3  badge badge-eye-template-labels">CORNEA </strong>
            <div class="col-md-9 col-sm-9">
              <%= f.input :l_corneaquick_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_l l_corneaquick_comments opdrecord_summernote', :name => "opdrecord[l_corneaquick_comments]", :value => @opdrecord.read_attribute(:l_corneaquick_comments) } %>
            </div>
          </div>
        </div>
        <!-- L Cornea Ends -->
        <div class="hr-line-border mb5"></div>
        <!-- L Sclera -->
          <div class="row l-sclera-row">
            <div class="col-md-12 col-sm-12 l-sclera-column questionsforsclera" id="l-questionsforsclera">
              <strong class="col-md-3 col-sm-3 badge badge-eye-template-labels">SCLERA </strong>
              <div class="col-md-9 col-sm-9">
                <%= f.input :l_sclera_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_l l_sclera_comments opdrecord_summernote', :name => "opdrecord[l_sclera_comments]", :value => @opdrecord.read_attribute(:l_sclera_comments) } %>
              </div>
            </div>
          </div>
        <!-- L Sclera Ends -->

        <div class="hr-line-border mb5"></div>
        <!-- L Anterior Chamber -->
          <div class="row l-anteriorchambel-row">
            <div class="col-md-12 col-sm-12 l-anteriorchambel-column questionsforanteriorchamber" id="l-questionsforanteriorchamber">
              <strong class="col-md-3 col-sm-3  badge badge-eye-template-labels">ANTERIOR CHAMBER (AC)</strong>
              <div class="col-md-9 col-sm-9">
                <%= f.input :l_anteriorchamber_comments, as: :text, :label => false, :required => false, :input_html => {:class => "form-control normalfilled_l l_anteriorchamber_comments opdrecord_summernote", :id => "l_anteriorchamber_comments_quickeye", style:"width:100%;", :maxlength => "100", :value => opdrecord.read_attribute(:l_anteriorchamber_comments) } %>
              </div>
            </div>
          </div>
        <!-- L Anterior Chamber Ends -->
        <div class="hr-line-border mb5"></div>
        <!-- L Iris -->
          <div class="row l-iris-row">
            <div class="col-md-12 col-sm-12 l-iris-column questionsforiris" id="l-questionsforiris">
              <strong class="col-md-3 col-sm-3 badge badge-eye-template-labels">IRIS </strong>
              <div class="col-md-9 col-sm-9">
                <%= f.input :l_iris_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_l l_iris_comments opdrecord_summernote', :name => "opdrecord[l_iris_comments]", :value => @opdrecord.read_attribute(:l_iris_comments) } %>
              </div>
            </div>
          </div>
        <!-- L Iris Ends -->
        <div class="hr-line-border mb5"></div>
        <!-- L Pupil -->
          <div class="row l-pupil-row">
            <div class="col-md-12 col-sm-12 l-pupil-column questionsforpupil" id="l-questionsforpupil">
              <strong class="col-md-3 col-sm-3 badge badge-eye-template-labels">PUPIL </strong>
              <div class="col-md-9 col-sm-9">
                <%= f.input :l_pupilquick_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_l l_pupilquick_comments opdrecord_summernote', :name => "opdrecord[l_pupilquick_comments]", :value => @opdrecord.read_attribute(:l_pupilquick_comments) } %>
              </div>
            </div>
          </div>
        <!-- L Pupil Ends -->
        <div class="hr-line-border mb5"></div>
        <!-- L Lens -->
          <div class="row l-lens-row">
            <div class="col-md-12 col-sm-12 l-lens-column questionsforlens" id="l-questionsforlens">
              <strong class="col-md-3 col-sm-3 badge badge-eye-template-labels">LENS </strong>
              <div class="col-md-9 col-sm-9">
                <%= f.input :l_lensquick_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_l l_lensquick_comments opdrecord_summernote', :name => "opdrecord[l_lensquick_comments]", :value => @opdrecord.read_attribute(:l_lensquick_comments) } %>
              </div>
            </div>
          </div>
        <!-- L Lens Ends -->
        <div class="hr-line-border mb5"></div>
        <!-- L vitreous -->
        <div class="row l-vitreous-row">
          <div class="col-md-12 col-sm-12 l-vitreous-column questionsforlens" id="l-questionsforvitreous">
            <strong class="col-md-3 col-sm-3  badge badge-eye-template-labels">VITREOUS </strong>
            <div class="col-md-9 col-sm-9">
              <%= f.input :l_vitreousquick_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_l l_vitreousquick_comments opdrecord_summernote', :name => "opdrecord[l_vitreousquick_comments]", :value => @opdrecord.read_attribute(:l_vitreousquick_comments) } %>
            </div>
          </div>
        </div>
        <!-- L vitreous Ends -->
        <div class="hr-line-border mb5"></div>
        <!-- L Fundus -->
        <div class="row l-fundus-row">
          <div class="col-md-12 col-sm-12 l-fundus-column questionsforfundus" id="l-questionsforfundus">
            <strong class="col-md-3 col-sm-3 badge badge-eye-template-labels">FUNDUS </strong>
            <div class="col-md-9 col-sm-9">
              <%= f.input :l_fundusquick_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_l l_fundusquick_comments opdrecord_summernote', :name => "opdrecord[l_fundusquick_comments]", :value => @opdrecord.read_attribute(:l_fundusquick_comments) } %>
            </div>
          </div>
        </div>
        <!-- L Optic Disc Ends -->

        <div class="hr-line-border mb5"></div>
        <!-- L Fundus -->
        <div class="row l-opticdisc-row">
          <div class="col-md-12 col-sm-12 l-fundus-column questionsforopticdisc" id="l-questionsforopticdisc">
            <strong class="col-md-3 col-sm-3 badge badge-eye-template-labels">OPTIC DISC </strong>
            <div class="col-md-9 col-sm-9">
              <%= f.input :l_opticdiscquick_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_l l_opticdiscquick_comments opdrecord_summernote', :name => "opdrecord[l_opticdiscquick_comments]", :value => @opdrecord.read_attribute(:l_opticdiscquick_comments) } %>
            </div>
          </div>
        </div>
        <!-- L Opticdisc Ends -->

        <div class="hr-line-border mb5"></div>
        <!-- L Macula -->
        <div class="row l-macula-row">
          <div class="col-md-12 col-sm-12 l-macula-column questionsformacula" id="l-questionsformacula">
            <strong class="col-md-3 col-sm-3  badge badge-eye-template-labels">MACULA </strong>
            <div class="col-md-9 col-sm-9">
              <%= f.input :l_maculaquick_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_l l_maculaquick_comments opdrecord_summernote', :name => "opdrecord[l_maculaquick_comments]", :value => @opdrecord.read_attribute(:l_maculaquick_comments) } %>
            </div>
          </div>
        </div>
        <!-- L macula Ends -->

        <div class="hr-line-border mb5"></div>
        <!-- L peripheral retina -->
        <div class="row l-peripheralretina-row">
          <div class="col-md-12 col-sm-12 l-fundus-column questionsforperipheralretina" id="l-questionsforperipheralretina">
            <strong class="col-md-3 col-sm-3 badge badge-eye-template-labels">PERIPHERAL RETINA </strong>
            <div class="col-md-9 col-sm-9">
              <%= f.input :l_peripheralretinaquick_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_l l_peripheralretinaquick_comments opdrecord_summernote', :name => "opdrecord[l_peripheralretinaquick_comments]", :value => @opdrecord.read_attribute(:l_peripheralretinaquick_comments) } %>
            </div>
          </div>
        </div>
        <!-- L peripheralretina Ends -->
        <div class="hr-line-border mb5"></div>
        <!-- L Tonometry -->
          <div class="row l-tonometry-row">
            <div class="col-md-12 col-sm-12 l-tonometry-column questionsfortonometry" id="l-questionsfortonometry">
              <strong class="col-md-3 col-sm-3 badge badge-eye-template-labels">TONOMETRY </strong>
              <div class="col-md-9 col-sm-9">
                <%= f.input :l_tonometry_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_l l_tonometry_comments opdrecord_summernote', :name => "opdrecord[l_tonometry_comments]", :value => @opdrecord.read_attribute(:l_tonometry_comments) } %>
              </div>
            </div>
          </div>
        <!-- L Tonometry Ends -->
        <div class="hr-line-border mb5"></div>
        <!-- L Gonioscopy -->
          <div class="row l-gonioscopy-row">
            <div class="col-md-12 col-sm-12 l-gonioscopy-column questionsforgonioscopy" id="l-questionsforgonioscopy">
              <strong class="col-md-3 col-sm-3  badge badge-eye-template-labels">GONIOSCOPY </strong>
              <div class="col-md-9 col-sm-9">
                <%= f.input :l_gonioscopy_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_l l_gonioscopy_comments opdrecord_summernote', :name => "opdrecord[l_gonioscopy_comments]", :value => @opdrecord.read_attribute(:l_gonioscopy_comments) } %>
              </div>
            </div>
          </div>
        <!-- L Gonioscopy Ends -->
        <div class="hr-line-border mb5"></div>
        <!-- L Schirmers Test -->
          <div class="row l-schirmers-row">
            <div class="col-md-12 col-sm-12 l-schirmers-column questionsforschirmers" id="l-questionsforschirmers">
              <strong class="col-md-3 col-sm-3  badge badge-eye-template-labels">SCHIRMERS TEST </strong>
              <div class="col-md-9 col-sm-9">
                <%= f.input :l_schirmers_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_l l_schirmers_comments opdrecord_summernote', :name => "opdrecord[l_schirmers_comments]", :value => @opdrecord.read_attribute(:l_schirmers_comments) } %>
              </div>
            </div>
          </div>
        <!-- L Schirmers Test Ends -->
        <div class="hr-line-border mb5"></div>
        <!-- L Lacrimal Patency Test -->
          <div class="row l-lacrimalpatency-row">
            <div class="col-md-12 col-sm-12 l-lacrimalpatency-column questionsforlacrimalpatency" id="l-questionsforlacrimalpatency">
              <strong class="col-md-3 col-sm-3 badge badge-eye-template-labels">LACRIMAL PATENCY<div class="mb1"></div> TEST </strong>
              <div class="col-md-9 col-sm-9">
                <%= f.input :l_lacrimalpatency_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_l l_lacrimalpatency_comments opdrecord_summernote', :name => "opdrecord[l_lacrimalpatency_comments]", :value => @opdrecord.read_attribute(:l_lacrimalpatency_comments) } %>
              </div>
            </div>
          </div>
        <!-- L Lacrimal Patency Test Ends -->

        <div class="hr-line-border mb5"></div>
        <!-- L Motor Evaluation -->
          <div class="row l-motorevaluation-row">
            <div class="col-md-12 col-sm-12 l-motorevaluation-column questionsformotorevaluation" id="l-questionsformotorevaluation">
              <strong class="col-md-3 col-sm-3 badge badge-eye-template-labels">MOTOR EVALUATION </strong>
              <div class="col-md-9 col-sm-9">
                <%= f.input :l_motorevaluation_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_l l_motorevaluation_comments opdrecord_summernote', :name => "opdrecord[l_motorevaluation_comments]", :value => @opdrecord.read_attribute(:l_motorevaluation_comments) } %>
              </div>
            </div>
          </div>
        <!-- L Motor Evaluation Ends -->
        <div class="hr-line-border mb5"></div>
        <!-- L Measurment Of Squint -->
          <div class="row l-squint-row">
            <div class="col-md-12 col-sm-12 l-squint-column questionsforsquint" id="l-questionsforsquint">
              <strong class="col-md-3 col-sm-3 badge badge-eye-template-labels">MEASURMENT<div class="mb1"></div> OF SQUINT </strong>
              <div class="col-md-9 col-sm-9">
                <%= f.input :l_squint_comments, as: :text, :label => false, :required => false, :input_html => {:class => 'form-control normalfilled_l l_squint_comments opdrecord_summernote', :name => "opdrecord[l_squint_comments]", :value => @opdrecord.read_attribute(:l_squint_comments) } %>
              </div>
            </div>
          </div>
        <!-- L Measurment Of Squint Ends -->
        <div class="hr-line-border mb5"></div>
        <!-- L Drawing Tools -->
          <div class="row l-drawingtools-row">
            <strong class="col-md-3 col-sm-3 badge badge-eye-template-labels">DRAWING TOOLS </strong>
            <div class="col-md-9 col-sm-9 mt5">
              <div class="l-appendages-diagram mb5" id="l-appendages-diagram">
                <% if opdrecord['l_appendages_diagram_present'] == "Y" %>
                    <%= render partial: "opd_records/ophthalmology_notes/opd_partials/edit_appendages_diagram", locals: { eyeside: "l", opdrecord: @opdrecord} %>
                <% else %>
                    <%= render partial: "opd_records/ophthalmology_notes/opd_partials/new_appendages_diagram_modal", locals: { eyeside: "l"} %>
                <% end %>
              </div>
              <div class="l-cornea-diagram mb5" id="l-cornea-diagram">

                <% if opdrecord['l_cornea_diagram_present'] == "Y" %>
                  <%= render partial: "opd_records/ophthalmology_notes/opd_partials/edit_cornea_diagram", locals: { eyeside: "l", opdrecord: @opdrecord} %>
                <% else %>
                  <%= render partial: "opd_records/ophthalmology_notes/opd_partials/new_cornea_diagram_modal", locals: { eyeside: "l"} %>
                <% end %>
              </div>
              <div class="l-corneaslit-diagram mb5" id="l-corneaslit-diagram">
                <% if opdrecord['l_corneaslit_diagram_present'] == "Y" %>
                  <%= render partial: "opd_records/ophthalmology_notes/opd_partials/edit_cornea_slit_diagram", locals: { eyeside: "l", opdrecord: @opdrecord} %>
                <% else %>
                  <%= render partial: "opd_records/ophthalmology_notes/opd_partials/new_corneaslit_diagram_modal", locals: { eyeside: "l"} %>
                <% end %>
              </div>
              <div class="l-fundus-diagram mb5" id="l-fundus-diagram">
                <% if opdrecord['l_fundus_diagram_present'] == "Y" %>
                  <%= render partial: "opd_records/ophthalmology_notes/opd_partials/edit_fundus_diagram", locals: { eyeside: "l", opdrecord: @opdrecord} %>
                <% else %>
                  <%= render partial: "opd_records/ophthalmology_notes/opd_partials/new_fundus_diagram_modal", locals: { eyeside: "l"} %>
                <% end %>
              </div>
            </div>
          </div>
        <!-- L Drawing Tools Ends -->
        <!-- L Upload Files -->
        <!-- L Upload Files Ends -->

      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $("#fill_normal_r").on('click',function(e){
    e.preventDefault();
    $(this).toggleClass('btn-success');
    $(this).toggleClass('btn-darkblue');
    if($(this).hasClass('btn-darkblue')) {
      $(".normalfilled_r").siblings('.note-editor').find('.note-editing-area').find('.note-editable').text('Normal');
    } else {
      $(".normalfilled_r").siblings('.note-editor').find('.note-editing-area').find('.note-editable').text('');
    }
  });
  $("#fill_normal_l").on('click',function(e){
    e.preventDefault();
    $(this).toggleClass('btn-success');
    $(this).toggleClass('btn-darkblue');
    if($(this).hasClass('btn-darkblue')) {
      $(".normalfilled_l").siblings('.note-editor').find('.note-editing-area').find('.note-editable').text('Normal');
    } else {
      $(".normalfilled_l").siblings('.note-editor').find('.note-editing-area').find('.note-editable').text('');
    }
  });

  $("#fill_normal_r").tipsy({live: true, gravity: 'w'});
  $("#fill_normal_l").tipsy({live: true, gravity: 'w'});
});
</script>
<style type="text/css">
  .panel-body{
    padding: 5px;
  }
  .panel-heading.note-toolbar {
    padding: 0px 0 3px 1px;
    margin: 0;
  }
  .note-editable {
    overflow-y: scroll !important;
    line-height: 1.0;
  }
</style>
