<div class="row">
  <div class="col-md-6 col-sm-6 r-eye-column" style="padding-left:1px; padding-right:1px;">
    <div class="panel panel-success r-eye-panel">
      <div class="panel-heading r-eye-panel-heading" style="padding: 2px;">
        <h4 class="panel-title r-eye-panel-title text-center" style="color:#FFF;">R / OD</h4>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr class="success">
            <th width="20%" style="padding-top:0px;padding-bottom:0px;"></th>
            <th width="20%" style="padding-top:0px;padding-bottom:0px;">Sph</th>
            <th width="20%" style="padding-top:0px;padding-bottom:0px;">Cyl</th>
            <th width="20%" style="padding-top:0px;padding-bottom:0px;">Axis</th>
            <th width="20%" style="padding-top:0px;padding-bottom:0px;">Reflex</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              Distant
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
            <%= text_field_tag :r_retinoscopy_sph, "",:class => "form-control form-control-custom selected-retinoscopy-field r-selected-retinoscopy-field r_fill_retinoscopy_distant_sph distant_sph calculate_sph_near_from_distant", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[r_retinoscopy_sph]",:onBlur=>"lasttext=this;" %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
            <%= text_field_tag :r_retinoscopy_cyl,"", :class => "form-control form-control-custom selected-retinoscopy-field r-selected-retinoscopy-field r_fill_retinoscopy_distant_cyl distant_cyl calculate_cyl_near_from_distant", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[r_retinoscopy_cyl]",:onBlur=>"lasttext=this;" %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
            <%= text_field_tag :r_retinoscopy_axis,"", :class => "form-control form-control-custom selected-retinoscopy-field r-selected-retinoscopy-field r_fill_retinoscopy_distant_axis distant_axis calculate_axis_near_from_distant", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[r_retinoscopy_axis]",:onBlur=>"lasttext=this;" %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
            <%= text_field_tag :r_retinoscopy_reflex, "",:class => "form-control form-control-custom selected-retinoscopy-field r-selected-retinoscopy-field r_fill_retinoscopy_distant_reflex distant_reflex", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[r_retinoscopy_reflex]",:onBlur=>"lasttext=this;" %>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="col-md-6 col-sm-6 l-eye-column" style="padding-left:1px; padding-right:1px;">

    <div class="panel panel-success l-eye-panel">

      <div class="panel-heading l-eye-panel-heading" style="padding: 2px;">
        <h4 class="panel-title l-eye-panel-title text-center" style="color:#FFF;">L / OS</h4>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr class="success">
            <th width="20%" style="padding-top:0px;padding-bottom:0px;"></th>
            <th width="20%" style="padding-top:0px;padding-bottom:0px;">Sph</th>
            <th width="20%" style="padding-top:0px;padding-bottom:0px;">Cyl</th>
            <th width="20%" style="padding-top:0px;padding-bottom:0px;">Axis</th>
            <th width="20%" style="padding-top:0px;padding-bottom:0px;">Reflex</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              Distant
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
            <%= text_field_tag :l_retinoscopy_sph, "",:class => "form-control form-control-custom selected-retinoscopy-field l-selected-retinoscopy-field l_fill_retinoscopy_distant_sph distant_sph calculate_sph_near_from_distant", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[l_retinoscopy_sph]",:onBlur=>"lasttext=this;" %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
            <%= text_field_tag :l_retinoscopy_cyl,"", :class => "form-control form-control-custom selected-retinoscopy-field l-selected-retinoscopy-field l_fill_retinoscopy_distant_cyl distant_cyl calculate_cyl_near_from_distant", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[l_retinoscopy_cyl]",:onBlur=>"lasttext=this;" %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
            <%= text_field_tag :l_retinoscopy_axis,"", :class => "form-control form-control-custom selected-retinoscopy-field l-selected-retinoscopy-field l_fill_retinoscopy_distant_axis distant_axis calculate_axis_near_from_distant", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[l_retinoscopy_axis]",:onBlur=>"lasttext=this;" %>
            </td>
            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
            <%= text_field_tag :l_retinoscopy_reflex, "",:class => "form-control form-control-custom selected-retinoscopy-field l-selected-retinoscopy-field l_fill_retinoscopy_distant_reflex distant_reflex", :maxlength => 6, :size => 6, :required => false, :name => "opdrecord[l_retinoscopy_reflex]",:onBlur=>"lasttext=this;" %>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

<%= simple_form_for("retinoscopy") do |f| %>
  <div class="row">
    <div class="retinoscopy-plus-minus retinoscopy-btn col-md-3 col-sm-3" style="display: block">
      <%= f.input :plus_minus, wrapper_html: {},collection: [['Plus','plus'],['Minus','minus']], :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white retinoscopy-plus-minus', :input_html => {:name => "retinoscopy_plus_minus" } , :checked => 'plus'%>
    </div>
    <div class="retinoscopy-skip col-md-3 col-sm-3 pull-right" style="display: block">
      <div class="btn btn-xs btn-primary pull-right" id="next-retinoscopy-btn" style="border-radius: 0px 3px 3px 0px;">Next</div>
      <div class="btn btn-xs btn-primary pull-right" id="prev-retinoscopy-btn" style="border-radius: 3px 0px 0px 3px;margin-right: -4px;">Previous</div>
    </div>
    <div class="retinoscopy-left-right col-md-4 col-sm-4 pull-right" style="display: block">
      <div class="btn btn-xs btn-primary" id="retinoscopy-left-right" title="Copy from Right to Left">Right = Left</div>
    </div>
  </div>

  <div class="row retinoscopy-distant-sph-plus retinoscopy-btn" style="display: block">
    <h4>Distant-Sph (+)</h4>
    <%= f.input :retinoscopy_distant_sph, wrapper_html: {},collection: (0.00 .. 25.00).step(0.25).map{|s| ["+#{number_with_precision(s, :precision => 2)}", "+#{number_with_precision(s, :precision => 2)}"]}, :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white retinoscopy-distant-sph-btn retinoscopy-btn-class ', :input_html => {:name => "retinoscopy_distant_sph" } %>
  </div>

  <div class="row retinoscopy-distant-sph-minus retinoscopy-btn" style="display: none">
    <h4>Distant-Sph (-)</h4>
    <%= f.input :retinoscopy_distant_sph, wrapper_html: {},collection: (0.00 .. 25.00).step(0.25).map{|s| ["-#{number_with_precision(s, :precision => 2)}", "-#{number_with_precision(s, :precision => 2)}"]}, :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white retinoscopy-distant-sph-btn retinoscopy-btn-class ', :input_html => {:name => "retinoscopy_distant_sph" } %>
  </div>

  <div class="row retinoscopy-distant-cyl-plus retinoscopy-btn" style="display: none">
    <h4>Distant-Cyl (+)</h4>
    <%= f.input :retinoscopy_distant_cyl, wrapper_html: {},collection: (0.00 .. 9.50).step(0.25).map{|s| ["+#{number_with_precision(s, :precision => 2)}", "+#{number_with_precision(s, :precision => 2)}"]}, :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white retinoscopy-distant-cyl-btn retinoscopy-btn-class ', :input_html => {:name => "retinoscopy_distant_cyl" } %>
  </div>

  <div class="row retinoscopy-distant-cyl-minus retinoscopy-btn" style="display: none">
    <h4>Distant-Cyl (-)</h4>
    <%= f.input :retinoscopy_distant_cyl, wrapper_html: {},collection: (0.00 .. 9.50).step(0.25).map{|s| ["-#{number_with_precision(s, :precision => 2)}", "-#{number_with_precision(s, :precision => 2)}"]}, :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white retinoscopy-distant-cyl-btn retinoscopy-btn-class ', :input_html => {:name => "retinoscopy_distant_cyl" } %>
  </div>

  <div class="row retinoscopy-distant-axis retinoscopy-btn" style="display: none">
    <h4>Distant-Axis</h4>
    <%= f.input :retinoscopy_distant_axis, wrapper_html: {},collection: (5 .. 180).step(5).map{|s| ["#{s}", "#{s}"]}, :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white retinoscopy-distant-axis-btn retinoscopy-btn-class ', :input_html => {:name => "retinoscopy_distant_axis" } %>
  </div>

  <div class="row retinoscopy-distant-reflex retinoscopy-btn" style="display: none">
    <h4>Distant-Reflex</h4>
    <%= f.input :retinoscopy_distant_reflex, wrapper_html: {},collection: ['Clear Reflex','Dull Reflex','Peripheral Reflex','White Reflex','Central Reflex'], :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white retinoscopy-distant-reflex-btn retinoscopy-btn-class retinoscopy-btn-class-reflex ', :input_html => {:name => "retinoscopy_distant_reflex" } %>
  </div>
<% end %>
<style>
  .retinoscopy-btn-class {
    width: 50px;
    padding: 0px;
    border-radius: inherit;
  }

  .retinoscopy-btn-class-reflex {
    width: 100px;
    padding: 0px;
    border-radius: inherit;
  }

  .selected-retinoscopy-field:focus {
    background-color: rgba(255, 255, 0, 0.38) !important;
  }

  .selected-retinoscopy-field {
    background-color: white !important;
    cursor: pointer !important;
  }
</style>
