<div class="row">
  <div class="col-md-6 col-sm-6 r-eye-column" style="padding-left:1px; padding-right:1px;">
    <div class="panel panel-success r-eye-panel">
      <div class="panel-heading r-eye-panel-heading" style="padding: 2px;">
        <h4 class="panel-title r-eye-panel-title text-center" style="color:#FFF;">R / OD</h4>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr class="success">
            <th width="25%" style="padding-top:0px;padding-bottom:0px;"></th>
            <th width="25%" style="padding-top:0px;padding-bottom:0px;">Sph</th>
            <th width="25%" style="padding-top:0px;padding-bottom:0px;">Cyl</th>
            <th width="25%" style="padding-top:0px;padding-bottom:0px;">Axis</th>
          </tr>
        </thead>
        <tbody>
          <% if ['dry_auto_refraction', 'pmt_auto_refraction'].include?(params[:type]) || params[:type].nil? %>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                Dry
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_autorefraction_dry_sph,"", :class => "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_autorefraction_dry_sph sph dry_sph", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[r_autorefraction_dry_sph]" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_autorefraction_dry_cyl,"", :class => "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_autorefraction_dry_cyl cyl dry_cyl", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[r_autorefraction_dry_cyl]" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_autorefraction_dry_axis,"", :class => "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_autorefraction_dry_axis axis dry_axis", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[r_autorefraction_dry_axis]" %>
              </td>
            </tr>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_autorefraction_dry1_sph,"", :class => "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_autorefraction_dry1_sph sph dry1_sph", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[r_autorefraction_dry1_sph]" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_autorefraction_dry1_cyl,"", :class => "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_autorefraction_dry1_cyl cyl dry1_cyl", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[r_autorefraction_dry1_cyl]" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_autorefraction_dry1_axis,"", :class => "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_autorefraction_dry1_axis axis dry1_axis", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[r_autorefraction_dry1_axis]" %>
              </td>
            </tr>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_autorefraction_dry2_sph,"", :class => "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_autorefraction_dry2_sph sph dry2_sph", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[r_autorefraction_dry2_sph]" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_autorefraction_dry2_cyl,"", :class => "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_autorefraction_dry2_cyl cyl dry2_cyl", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[r_autorefraction_dry2_cyl]" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_autorefraction_dry2_axis,"", :class => "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_autorefraction_dry2_axis axis dry2_axis", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[r_autorefraction_dry2_axis]"  %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table><br/>
      <table class="table table-bordered">
        <tbody>
          <% if params[:type] == 'dilated_auto_refraction' || params[:type].nil? %>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;width: 25%;">
                Dilated
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_autorefraction_dilated1_sph,"", :class => "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_autorefraction_dilated1_sph sph dilated1_sph", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[r_autorefraction_dilated1_sph]"  %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_autorefraction_dilated1_cyl,"", :class => "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_autorefraction_dilated1_cyl cyl dilated1_cyl", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[r_autorefraction_dilated1_cyl]"  %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_autorefraction_dilated1_axis,"", :class => "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_autorefraction_dilated1_axis axis dilated1_axis", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[r_autorefraction_dilated1_axis]" %>
              </td>
            </tr>

            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_autorefraction_dilated2_sph,"", :class => "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_autorefraction_dilated2_sph sph dilated2_sph", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[r_autorefraction_dilated2_sph]" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_autorefraction_dilated2_cyl,"", :class => "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_autorefraction_dilated2_cyl cyl dilated2_cyl", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[r_autorefraction_dilated2_cyl]"  %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_autorefraction_dilated2_axis,"", :class => "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_autorefraction_dilated2_axis axis dilated2_axis", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[r_autorefraction_dilated2_axis]"  %>
              </td>
            </tr>

            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_autorefraction_dilated3_sph,"", :class => "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_autorefraction_dilated3_sph sph dilated3_sph", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[r_autorefraction_dilated3_sph]" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_autorefraction_dilated3_cyl,"", :class => "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_autorefraction_dilated3_cyl cyl dilated3_cyl", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[r_autorefraction_dilated3_cyl]" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_autorefraction_dilated3_axis, "",:class => "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_autorefraction_dilated3_axis axis dilated3_axis", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[r_autorefraction_dilated3_axis]" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>

  <div class="col-md-6 col-sm-6 l-eye-column" style="padding-left:1px; padding-right:1px;">
    <div class="panel panel-success l-eye-panel">
      <div class="panel-heading l-eye-panel-heading" style="padding: 2px;">
        <h4 class="panel-title l-eye-panel-title text-center" style="color:#FFF;">L / OS</h4>
      </div>
      <table class="table table-bordered">
        <thead>
        <tr class="success">
          <th width="25%" style="padding-top:0px;padding-bottom:0px;"></th>
          <th width="25%" style="padding-top:0px;padding-bottom:0px;">Sph</th>
          <th width="25%" style="padding-top:0px;padding-bottom:0px;">Cyl</th>
          <th width="25%" style="padding-top:0px;padding-bottom:0px;">Axis</th>
        </tr>
        </thead>
        <tbody>
          <% if ['dry_auto_refraction', 'pmt_auto_refraction'].include?(params[:type]) || params[:type].nil? %>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                Dry
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_autorefraction_dry_sph,"", :class => "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_autorefraction_dry_sph sph dry_sph", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[l_autorefraction_dry_sph]" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_autorefraction_dry_cyl,"", :class => "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_autorefraction_dry_cyl cyl dry_cyl", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[l_autorefraction_dry_cyl]" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_autorefraction_dry_axis,"", :class => "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_autorefraction_dry_axis axis dry_axis", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[l_autorefraction_dry_axis]" %>
              </td>
            </tr>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_autorefraction_dry1_sph,"", :class => "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_autorefraction_dry1_sph sph dry1_sph", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[l_autorefraction_dry1_sph]"  %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_autorefraction_dry1_cyl,"", :class => "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_autorefraction_dry1_cyl cyl dry1_cyl", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[l_autorefraction_dry1_cyl]" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_autorefraction_dry1_axis,"", :class => "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_autorefraction_dry1_axis axis dry1_axis", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[l_autorefraction_dry1_axis]"  %>
              </td>
            </tr>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_autorefraction_dry2_sph,"", :class => "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_autorefraction_dry2_sph sph dry2_sph", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[l_autorefraction_dry2_sph]" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_autorefraction_dry2_cyl,"", :class => "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_autorefraction_dry2_cyl cyl dry2_cyl", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[l_autorefraction_dry2_cyl]" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_autorefraction_dry2_axis,"", :class => "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_autorefraction_dry2_axis axis dry2_axis", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[l_autorefraction_dry2_axis]" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table><br/>
      <table class="table table-bordered">
        <tbody>
          <% if params[:type] == 'dilated_auto_refraction' || params[:type].nil? %>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;width: 25%">
                Dilated
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_autorefraction_dilated1_sph,"", :class => "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_autorefraction_dilated1_sph sph dilated1_sph", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[l_autorefraction_dilated1_sph]" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_autorefraction_dilated1_cyl,"", :class => "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_autorefraction_dilated1_cyl cyl dilated1_cyl", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[l_autorefraction_dilated1_cyl]"  %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_autorefraction_dilated1_axis,"", :class => "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_autorefraction_dilated1_axis axis dilated1_axis", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[l_autorefraction_dilated1_axis]" %>
              </td>
            </tr>

            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_autorefraction_dilated2_sph,"", :class => "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_autorefraction_dilated2_sph sph dilated2_sph", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[l_autorefraction_dilated2_sph]"  %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_autorefraction_dilated2_cyl,"", :class => "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_autorefraction_dilated2_cyl cyl dilated2_cyl", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[l_autorefraction_dilated2_cyl]" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_autorefraction_dilated2_axis,"", :class => "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_autorefraction_dilated2_axis axis dilated2_axis", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[l_autorefraction_dilated2_axis]" %>
              </td>
            </tr>

            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_autorefraction_dilated3_sph,"", :class => "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_autorefraction_dilated3_sph sph dilated3_sph", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[l_autorefraction_dilated3_sph]" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_autorefraction_dilated3_cyl,"", :class => "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_autorefraction_dilated3_cyl cyl dilated3_cyl", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[l_autorefraction_dilated3_cyl]" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_autorefraction_dilated3_axis, "",:class => "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_autorefraction_dilated3_axis axis dilated3_axis", :maxlength => 6, :size => 6, :required => false, :onBlur=>"lasttext=this;",  :name => "opdrecord[l_autorefraction_dilated3_axis]" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>

<%= simple_form_for("refraction") do |f| %>

  <div class="row">
    <div class="refraction-plus-minus refraction-btn col-md-3 col-sm-3" style="display: block">
      <%= f.input :plus_minus, wrapper_html: {},collection: [['Plus','plus'],['Minus','minus']], :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white refraction-plus-minus', :input_html => {:name => "refraction_plus_minus" } , :checked => 'plus'%>
    </div>
    <div class="refraction-skip col-md-3 col-sm-3 pull-right" style="display: block">
      <div class="btn btn-xs btn-primary pull-right" id="next-refraction-btn" style="border-radius: 0px 3px 3px 0px;">Next</div>
      <div class="btn btn-xs btn-primary pull-right" id="prev-refraction-btn" style="border-radius: 3px 0px 0px 3px;margin-right: -4px;">Previous</div>
    </div>
    <div class="refraction-left-right col-md-4 col-sm-4 pull-right" style="display: block">
      <div class="btn btn-xs btn-primary" id="refraction-left-right" title="Copy from Right to Left">Right = Left</div>
    </div>
  </div>

  <div class="row refraction-sph-plus refraction-btn" style="display: block">
    <h4>Sph (+)</h4>
    <%= f.input :refraction_sph, wrapper_html: {},collection: (0.00 .. 25.00).step(0.25).map{|s| ["+#{number_with_precision(s, :precision => 2)}", "+#{number_with_precision(s, :precision => 2)}"]}, :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white refraction-sph-btn refraction-btn-class ', :input_html => {:name => "refraction_sph" } %>
  </div>

  <div class="row refraction-sph-minus refraction-btn" style="display: none">
    <h4>Sph (-)</h4>
    <%= f.input :refraction_sph, wrapper_html: {},collection: (0.00 .. 25.00).step(0.25).map{|s| ["-#{number_with_precision(s, :precision => 2)}", "-#{number_with_precision(s, :precision => 2)}"]}, :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white refraction-sph-btn refraction-btn-class ', :input_html => {:name => "refraction_sph" } %>
  </div>

  <div class="row refraction-cyl-plus refraction-btn" style="display: none">
    <h4>Cyl (+)</h4>
    <%= f.input :refraction_cyl, wrapper_html: {},collection: (0.00 .. 9.50).step(0.25).map{|s| ["+#{number_with_precision(s, :precision => 2)}", "+#{number_with_precision(s, :precision => 2)}"]}, :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white refraction-cyl-btn refraction-btn-class ', :input_html => {:name => "refraction_cyl" } %>
  </div>

  <div class="row refraction-cyl-minus refraction-btn" style="display: none">
    <h4>Cyl (-)</h4>
    <%= f.input :refraction_cyl, wrapper_html: {},collection: (0.00 .. 9.50).step(0.25).map{|s| ["-#{number_with_precision(s, :precision => 2)}", "-#{number_with_precision(s, :precision => 2)}"]}, :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white refraction-cyl-btn refraction-btn-class ', :input_html => {:name => "refraction_cyl" } %>
  </div>

  <div class="row refraction-axis refraction-btn" style="display: none">
    <h4>Axis</h4>
    <%= f.input :refraction_axis, wrapper_html: {},collection: (5 .. 180).step(5).map{|s| ["#{s}", "#{s}"]}, :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white refraction-axis-btn refraction-btn-class ', :input_html => {:name => "refraction_axis" } %>
  </div>
<%end%>
<style>
  .refraction-btn-class {
    width: 50px;
    padding: 0px;
    border-radius: inherit;
  }

  .selected-refraction-field:focus {
    background-color: rgba(255, 255, 0, 0.38) !important;
  }
  .selected-refraction-field {
    background-color: white !important;
    cursor: pointer !important;
  }

</style>
