<div class="row">
  <div class="col-md-6 col-sm-6 r-eye-column" style="padding-left:1px; padding-right:1px;">
    <div class="panel panel-success r-eye-panel">
      <div class="panel-heading r-eye-panel-heading" style="padding: 2px;">
        <h4 class="panel-title r-eye-panel-title text-center" style="color:#FFF;">R / OD</h4>
      </div>
      <% if @current_facility.country_id == 'KH_039' %>
        <table class="table table-bordered">
          <thead>
            <tr class="success">
              <th width="14%" style="padding-top:0px;padding-bottom:0px;"></th>
              <th width="14%" style="padding-top:0px;padding-bottom:0px;">Sph</th>
              <th width="14%" style="padding-top:0px;padding-bottom:0px;">Cyl</th>
              <th width="14%" style="padding-top:0px;padding-bottom:0px;">Axis</th>
              <th width="14%" style="padding-top:0px;padding-bottom:0px;">VA</th>
              <th width="14%" style="padding-top:0px;padding-bottom:0px;">VA(PH)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                Distant
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_distant_sph, "", class: "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_refraction_distant_sph distant_sph calculate_sph_near_from_distant", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_distant_sph]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_distant_cyl, "", class: "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_refraction_distant_cyl distant_cyl calculate_cyl_near_from_distant", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_distant_cyl]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_distant_axis, "", class: "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_refraction_distant_axis distant_axis calculate_axis_near_from_distant", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_distant_axis]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_distant_vision, "", class: "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_refraction_distant_vision distant_vision", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_distant_vision]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_distant_va_ph, "", class: "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_refraction_distant_va_ph distant_va_ph", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_distant_va_ph]", onBlur: "lasttext=this;" %>
              </td>
            </tr>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                Add<sup class="suphash">#</sup>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_add_sph, "", class: "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_refraction_add_sph add_sph calculate_near_from_add", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_add_sph]", onBlur: "lasttext=this;"%>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_add_cyl, "", class: "form-control form-control-custom r-selected-refraction-field r_fill_refraction_add_cyl add_cyl", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_add_cyl]" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_add_axis, "", class: "form-control form-control-custom r-selected-refraction-field r_fill_refraction_add_axis add_axis", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_add_axis]" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_add_vision, "", class: "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_refraction_add_vision add_vision", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_add_vision]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_add_va_ph, "", class: "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_refraction_add_va_ph add_va_ph", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_add_va_ph]", onBlur: "lasttext=this;" %>
              </td>
            </tr>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                Near
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_near_sph, "", class: "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_refraction_near_sph near_sph calculate_near_from_near", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_near_sph]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_near_cyl, "", class: "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_refraction_near_cyl near_cyl", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_near_cyl]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_near_axis, "", class: "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_refraction_near_axis near_axis", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_near_axis]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_near_vision, "", class: "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_refraction_near_vision near_vision", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_near_vision]" , onBlur: "lasttext=this;"%>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_near_va_ph, "", class: "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_refraction_near_va_ph near_va_ph", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_near_va_ph]" , onBlur: "lasttext=this;"%>
              </td>
            </tr>
          </tbody>
        </table>
      <% else %>
        <table class="table table-bordered">
          <thead>
            <tr class="success">
              <th width="14%" style="padding-top:0px;padding-bottom:0px;"></th>
              <th width="14%" style="padding-top:0px;padding-bottom:0px;">UCVA</th>
              <th width="14%" style="padding-top:0px;padding-bottom:0px;">Sph</th>
              <th width="14%" style="padding-top:0px;padding-bottom:0px;">Cyl</th>
              <th width="14%" style="padding-top:0px;padding-bottom:0px;">Axis</th>
              <th width="14%" style="padding-top:0px;padding-bottom:0px;">Vision</th>
              <th width="14%" style="padding-top:0px;padding-bottom:0px;">VA(PH)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                Distant
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_distant_ucva, "", class: "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_refraction_distant_ucva distant_ucva", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_distant_ucva]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_distant_sph, "", class: "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_refraction_distant_sph distant_sph calculate_sph_near_from_distant", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_distant_sph]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_distant_cyl, "", class: "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_refraction_distant_cyl distant_cyl calculate_cyl_near_from_distant", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_distant_cyl]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_distant_axis, "", class: "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_refraction_distant_axis distant_axis calculate_axis_near_from_distant", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_distant_axis]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_distant_vision, "", class: "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_refraction_distant_vision distant_vision", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_distant_vision]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_distant_va_ph, "", class: "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_refraction_distant_va_ph distant_va_ph", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_distant_va_ph]", onBlur: "lasttext=this;" %>
              </td>
            </tr>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                Add<sup class="suphash">#</sup>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_add_ucva, "", class: "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_refraction_add_ucva add_ucva", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_add_ucva]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_add_sph, "", class: "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_refraction_add_sph add_sph calculate_near_from_add", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_add_sph]", onBlur: "lasttext=this;"%>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_add_cyl, "", class: "form-control form-control-custom r-selected-refraction-field r_fill_refraction_add_cyl add_cyl", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_add_cyl]" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_add_axis, "", class: "form-control form-control-custom r-selected-refraction-field r_fill_refraction_add_axis add_axis", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_add_axis]" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_add_vision, "", class: "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_refraction_add_vision add_vision", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_add_vision]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_add_va_ph, "", class: "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_refraction_add_va_ph add_va_ph", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_add_va_ph]", onBlur: "lasttext=this;" %>
              </td>
            </tr>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                Near
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_near_ucva, "", class: "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_refraction_near_ucva near_ucva", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_near_ucva]" , onBlur: "lasttext=this;"%>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_near_sph, "", class: "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_refraction_near_sph near_sph calculate_near_from_near", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_near_sph]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_near_cyl, "", class: "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_refraction_near_cyl near_cyl", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_near_cyl]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_near_axis, "", class: "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_refraction_near_axis near_axis", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_near_axis]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_near_vision, "", class: "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_refraction_near_vision near_vision", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_near_vision]" , onBlur: "lasttext=this;"%>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :r_refraction_near_va_ph, "", class: "form-control form-control-custom selected-refraction-field r-selected-refraction-field r_fill_refraction_near_va_ph near_va_ph", maxlength: 6, size: 6, required: false, name: "opdrecord[r_refraction_near_va_ph]" , onBlur: "lasttext=this;"%>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>

    </div>
  </div>

  <div class="col-md-6 col-sm-6 l-eye-column" style="padding-left:1px; padding-right:1px;">

    <div class="panel panel-success l-eye-panel">

      <div class="panel-heading l-eye-panel-heading" style="padding: 2px;">
        <h4 class="panel-title l-eye-panel-title text-center" style="color:#FFF;">L / OS</h4>
      </div>

      <% if @current_facility.country_id == 'KH_039' %>
        <table class="table table-bordered">
          <thead>
            <tr class="success">
              <th width="14%" style="padding-top:0px;padding-bottom:0px;"></th>
              <th width="14%" style="padding-top:0px;padding-bottom:0px;">Sph</th>
              <th width="14%" style="padding-top:0px;padding-bottom:0px;">Cyl</th>
              <th width="14%" style="padding-top:0px;padding-bottom:0px;">Axis</th>
              <th width="14%" style="padding-top:0px;padding-bottom:0px;">VA</th>
              <th width="14%" style="padding-top:0px;padding-bottom:0px;">VA(PH)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                Distant
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_distant_sph, "", class: "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_refraction_distant_sph distant_sph calculate_sph_near_from_distant", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_distant_sph]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_distant_cyl, "", class: "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_refraction_distant_cyl distant_cyl calculate_cyl_near_from_distant", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_distant_cyl]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_distant_axis, "", class: "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_refraction_distant_axis distant_axis calculate_axis_near_from_distant", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_distant_axis]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_distant_vision, "", class: "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_refraction_distant_vision distant_vision", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_distant_vision]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_distant_va_ph, "", class: "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_refraction_distant_va_ph distant_va_ph", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_distant_va_ph]", onBlur: "lasttext=this;" %>
              </td>
            </tr>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                Add<sup class="suphash">#</sup>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_add_sph, "", class: "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_refraction_add_sph add_sph calculate_near_from_add", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_add_sph]", onBlur: "lasttext=this;"%>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_add_cyl, "", class: "form-control form-control-custom l-selected-refraction-field l_fill_refraction_add_cyl add_cyl", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_add_cyl]" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_add_axis, "", class: "form-control form-control-custom l-selected-refraction-field l_fill_refraction_add_axis add_axis", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_add_axis]" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_add_vision, "", class: "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_refraction_add_vision add_vision", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_add_vision]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_add_va_ph, "", class: "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_refraction_add_va_ph add_va_ph", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_add_va_ph]", onBlur: "lasttext=this;" %>
              </td>
            </tr>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                Near
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_near_sph, "", class: "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_refraction_near_sph near_sph calculate_near_from_near", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_near_sph]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_near_cyl, "", class: "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_refraction_near_cyl near_cyl", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_near_cyl]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_near_axis, "", class: "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_refraction_near_axis near_axis", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_near_axis]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_near_vision, "", class: "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_refraction_near_vision near_vision", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_near_vision]" , onBlur: "lasttext=this;"%>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_near_va_ph, "", class: "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_refraction_near_va_ph near_va_ph", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_near_va_ph]" , onBlur: "lasttext=this;"%>
              </td>
            </tr>
          </tbody>
        </table>
      <% else %>
        <table class="table table-bordered">
          <thead>
            <tr class="success">
              <th width="14%" style="padding-top:0px;padding-bottom:0px;"></th>
              <th width="14%" style="padding-top:0px;padding-bottom:0px;">UCVA</th>
              <th width="14%" style="padding-top:0px;padding-bottom:0px;">Sph</th>
              <th width="14%" style="padding-top:0px;padding-bottom:0px;">Cyl</th>
              <th width="14%" style="padding-top:0px;padding-bottom:0px;">Axis</th>
              <th width="14%" style="padding-top:0px;padding-bottom:0px;">Vision</th>
              <th width="14%" style="padding-top:0px;padding-bottom:0px;">VA(PH)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                Distant
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_distant_ucva, "", class: "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_refraction_distant_ucva distant_ucva", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_distant_ucva]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_distant_sph, "", class: "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_refraction_distant_sph distant_sph calculate_sph_near_from_distant", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_distant_sph]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_distant_cyl, "", class: "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_refraction_distant_cyl distant_cyl calculate_cyl_near_from_distant", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_distant_cyl]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_distant_axis, "", class: "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_refraction_distant_axis distant_axis calculate_axis_near_from_distant", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_distant_axis]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_distant_vision, "", class: "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_refraction_distant_vision distant_vision", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_distant_vision]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_distant_va_ph, "", class: "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_refraction_distant_va_ph distant_va_ph", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_distant_va_ph]", onBlur: "lasttext=this;" %>
              </td>
            </tr>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                Add<sup class="suphash">#</sup>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_add_ucva, "", class: "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_refraction_add_ucva add_ucva", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_add_ucva]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_add_sph, "", class: "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_refraction_add_sph add_sph calculate_near_from_add", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_add_sph]", onBlur: "lasttext=this;"%>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_add_cyl, "", class: "form-control form-control-custom l-selected-refraction-field l_fill_refraction_add_cyl add_cyl", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_add_cyl]" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_add_axis, "", class: "form-control form-control-custom l-selected-refraction-field l_fill_refraction_add_axis add_axis", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_add_axis]" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_add_vision, "", class: "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_refraction_add_vision add_vision", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_add_vision]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_add_va_ph, "", class: "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_refraction_add_va_ph add_va_ph", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_add_va_ph]", onBlur: "lasttext=this;" %>
              </td>
            </tr>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                Near
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_near_ucva, "", class: "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_refraction_near_ucva near_ucva", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_near_ucva]" , onBlur: "lasttext=this;"%>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_near_sph, "", class: "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_refraction_near_sph near_sph calculate_near_from_near", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_near_sph]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_near_cyl, "", class: "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_refraction_near_cyl near_cyl", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_near_cyl]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_near_axis, "", class: "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_refraction_near_axis near_axis", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_near_axis]", onBlur: "lasttext=this;" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_near_vision, "", class: "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_refraction_near_vision near_vision", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_near_vision]" , onBlur: "lasttext=this;"%>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag :l_refraction_near_va_ph, "", class: "form-control form-control-custom selected-refraction-field l-selected-refraction-field l_fill_refraction_near_va_ph near_va_ph", maxlength: 6, size: 6, required: false, name: "opdrecord[l_refraction_near_va_ph]" , onBlur: "lasttext=this;"%>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>

    </div>
  </div>
</div>

<%= simple_form_for("refraction") do |f| %>
  <% if current_facility.country_id == 'VN_254' %>
    <% vision_values = [['PL-', 'PL-'], ['PL+', 'PL+'], ['FL', 'FL'], ['HM', 'HM'], ['CFCF', 'CFCF'], ['FC', 'FC'], ['20/200', '20/200'], ['20/200-3', '20/200-3'], ['20/200-2', '20/200-2'], ['20/200-1', '20/200-1'], ['20/200+3', '20/200+3'], ['20/200+2', '20/200+2'], ['20/200+1', '20/200+1'], ['20/160', '20/160'], ['20/160-3', '20/160-3'], ['20/160-2', '20/160-2'], ['20/160-1', '20/160-1'], ['20/160+3', '20/160+3'], ['20/160+2', '20/160+2'], ['20/160+1', '20/160+1'], ['20/125', '20/125'], ['20/125-3', '20/125-3'], ['20/125-2', '20/125-2'], ['20/125-1', '20/125-1'], ['20/125+3', '20/125+3'], ['20/125+2', '20/125+2'], ['20/125+1', '20/125+1'], ['20/100', '20/100'], ['20/100-3', '20/100-3'], ['20/100-2', '20/100-2'], ['20/100-1', '20/100-1'], ['20/100+3', '20/100+3'], ['20/100+2', '20/100+2'], ['20/100+1', '20/100+1'], ['20/80', '20/80'], ['20/80-3', '20/80-3'], ['20/80-2', '20/80-2'], ['20/80-1', '20/80-1'], ['20/80+3', '20/80+3'], ['20/80+2', '20/80+2'], ['20/80+1', '20/80+1'], ['20/63', '20/63'], ['20/63-3', '20/63-3'], ['20/63-2', '20/63-2'], ['20/63-1', '20/63-1'], ['20/63+3', '20/63+3'], ['20/63+2', '20/63+2'], ['20/63+1', '20/63+1'], ['20/50', '20/50'], ['20/50-3', '20/50-3'], ['20/50-2', '20/50-2'], ['20/50-1', '20/50-1'], ['20/50+3', '20/50+3'], ['20/50+2', '20/50+2'], ['20/50+1', '20/50+1'], ['20/40', '20/40'], ['20/40-3', '20/40-3'], ['20/40-2', '20/40-2'], ['20/40-1', '20/40-1'], ['20/40+3', '20/40+3'], ['20/40+2', '20/40+2'], ['20/40+1', '20/40+1'], ['20/32', '20/32'], ['20/32-3', '20/32-3'], ['20/32-2', '20/32-2'], ['20/32-1', '20/32-1'], ['20/32+3', '20/32+3'], ['20/32+2', '20/32+2'], ['20/32+1', '20/32+1'], ['20/25', '20/25'], ['20/25-3', '20/25-3'], ['20/25-2', '20/25-2'], ['20/25-1', '20/25-1'], ['20/25+3', '20/25+3'], ['20/25+2', '20/25+2'], ['20/25+1', '20/25+1'], ['20/20', '20/20'], ['20/20-3', '20/20-3'], ['20/20-2', '20/20-2'], ['20/20-1', '20/20-1'], ['20/20+3', '20/20+3'], ['20/20+2', '20/20+2'], ['20/20+1', '20/20+1']] %>
  <% else %>
    <% vision_values = [['1/60', '1/60'], ['2/60', '2/60'], ['3/60', '3/60'], ['4/60', '4/60'], ['5/60', '5/60'], ['6/60', '6/60'], ['6/36', '6/36'], ['6/36P', '6/36P'], ['6/24', '6/24'], ['6/24P', '6/24P'], ['6/18', '6/18'], ['6/18P', '6/18P'], ['6/12', '6/12'], ['6/12P', '6/12P'], ['6/9', '6/9'], ['6/9P', '6/9P'], ['6/6', '6/6'], ['6/6P', '6/6P']] %>
  <% end %>
  <div class="row">
    <div class="refraction-plus-minus refraction-btn col-md-3 col-sm-3" style="display: none;">
      <%= f.input :plus_minus, wrapper_html: {}, collection: [['Plus', 'plus'], ['Minus', 'minus']], as: :hg_radio_button, label: false, required: false, class: 'btn btn-xs btn-white refraction-plus-minus', input_html: { name: "refraction_plus_minus" } , checked: 'plus'%>
    </div>
    <div class="refraction-skip col-md-3 col-sm-3 pull-right" style="display: block;">
      <div class="btn btn-xs btn-primary pull-right" id="next-refraction-btn" style="border-radius: 0px 3px 3px 0px;">Next</div>
      <div class="btn btn-xs btn-primary pull-right" id="prev-refraction-btn" style="border-radius: 3px 0px 0px 3px;margin-right: -4px;">Previous</div>
    </div>
    <div class="refraction-left-right col-md-4 col-sm-4 pull-right" style="display: block;">
      <div class="btn btn-xs btn-primary" id="refraction-left-right" title="Copy from Right to Left">Right = Left</div>
    </div>
  </div>

  <% if @current_facility.country_id != 'KH_039' %>
    <div class="row refraction-distant-ucva refraction-btn" style="display: block;">
      <h4>Distant-UCVA</h4>
      <%= f.input :refraction_distant_ucva, wrapper_html: {}, collection: vision_values, as: :hg_radio_button, label: false, required: false, class: 'btn btn-xs btn-white refraction-distant-ucva-btn refraction-btn-class-ucva ', input_html: { name: "refraction_distant_ucva" } %>
    </div>
    <div class="row refraction-distant-sph-plus refraction-btn" style="display: none;">
      <h4>Distant-Sph (+)</h4>
      <%= f.input :refraction_distant_sph, wrapper_html: {}, collection: (0.00 .. 25.00).step(0.25).map { |s| ["+#{number_with_precision(s, precision: 2)}", "+#{number_with_precision(s, precision: 2)}"] }, as: :hg_radio_button, label: false, required: false, class: 'btn btn-xs btn-white refraction-distant-sph-btn refraction-btn-class ', input_html: { name: "refraction_distant_sph" } %>
    </div>
  <% else %>
    <div class="row refraction-distant-sph-plus refraction-btn" style="display: block;">
      <h4>Distant-Sph (+)</h4>
      <%= f.input :refraction_distant_sph, wrapper_html: {}, collection: (0.00 .. 25.00).step(0.25).map { |s| ["+#{number_with_precision(s, precision: 2)}", "+#{number_with_precision(s, precision: 2)}"] }, as: :hg_radio_button, label: false, required: false, class: 'btn btn-xs btn-white refraction-distant-sph-btn refraction-btn-class ', input_html: { name: "refraction_distant_sph" } %>
    </div>
  <% end %>

  <div class="row refraction-distant-sph-minus refraction-btn" style="display: none;">
    <h4>Distant-Sph (-)</h4>
    <%= f.input :refraction_distant_sph, wrapper_html: {}, collection: (0.00 .. 25.00).step(0.25).map { |s| ["-#{number_with_precision(s, precision: 2)}", "-#{number_with_precision(s, precision: 2)}"] }, as: :hg_radio_button, label: false, required: false, class: 'btn btn-xs btn-white refraction-distant-sph-btn refraction-btn-class ', input_html: { name: "refraction_distant_sph" } %>
  </div>

  <div class="row refraction-distant-cyl-plus refraction-btn" style="display: none;">
    <h4>Distant-Cyl (+)</h4>
    <%= f.input :refraction_distant_cyl, wrapper_html: {}, collection: (0.00 .. 9.50).step(0.25).map { |s| ["+#{number_with_precision(s, precision: 2)}", "+#{number_with_precision(s, precision: 2)}"] }, as: :hg_radio_button, label: false, required: false, class: 'btn btn-xs btn-white refraction-distant-cyl-btn refraction-btn-class ', input_html: { name: "refraction_distant_cyl" } %>
  </div>

  <div class="row refraction-distant-cyl-minus refraction-btn" style="display: none;">
    <h4>Distant-Cyl (-)</h4>
    <%= f.input :refraction_distant_cyl, wrapper_html: {}, collection: (0.00 .. 9.50).step(0.25).map { |s| ["-#{number_with_precision(s, precision: 2)}", "-#{number_with_precision(s, precision: 2)}"] }, as: :hg_radio_button, label: false, required: false, class: 'btn btn-xs btn-white refraction-distant-cyl-btn refraction-btn-class ', input_html: { name: "refraction_distant_cyl" } %>
  </div>

  <div class="row refraction-distant-axis refraction-btn" style="display: none;">
    <h4>Distant-Axis</h4>
    <%= f.input :refraction_distant_axis, wrapper_html: {}, collection: (5 .. 180).step(5).map { |s| ["#{s}", "#{s}"] }, as: :hg_radio_button, label: false, required: false, class: 'btn btn-xs btn-white refraction-distant-axis-btn refraction-btn-class ', input_html: { name: "refraction_distant_axis" } %>
  </div>

  <div class="row refraction-distant-vision refraction-btn" style="display: none;">
    <h4>Distant-Vision</h4>
    <%= f.input :refraction_distant_vision, wrapper_html: {}, collection: vision_values, as: :hg_radio_button, label: false, required: false, class: 'btn btn-xs btn-white refraction-distant-vision-btn refraction-btn-class-ucva ', input_html: { name: "refraction_distant_vision" } %>
  </div>

  <div class="row refraction-distant-va_ph refraction-btn" style="display: none;">
    <h4>Distant-VA with PH</h4>
    <%= f.input :refraction_distant_va_ph, wrapper_html: {}, collection: vision_values, as: :hg_radio_button, label: false, required: false, class: 'btn btn-xs btn-white refraction-distant-va_ph-btn refraction-btn-class-ucva ', input_html: { name: "refraction_distant_va_ph" } %>
  </div>

  <div class="row refraction-add-sph refraction-btn" style="display: none;">
    <h4>Add-Sph</h4>
    <%= f.input :refraction_add_sph, wrapper_html: {}, collection: (0.00 .. 4).step(0.25).map { |s| ["+#{number_with_precision(s, precision: 2)}", "+#{number_with_precision(s, precision: 2)}"] }, as: :hg_radio_button, label: false, required: false, class: 'btn btn-xs btn-white refraction-add-sph-btn refraction-btn-class ', input_html: { name: "refraction_add_sph" } %>
  </div>

  <div class="row refraction-near-ucva refraction-btn" style="display: none;">
    <h4>Near-UCVA</h4>
    <%= f.input :refraction_near_ucva, wrapper_html: {}, collection: ['N5', 'N6', 'N8', 'N10', 'N12', 'N14', 'N18', 'N24', 'N36'], as: :hg_radio_button, label: false, required: false, class: 'btn btn-xs btn-white refraction-near-ucva-btn refraction-btn-class ', input_html: { name: "refraction_near_ucva" } %>
  </div>

  <div class="row refraction-near-sph-plus refraction-btn" style="display: none;">
    <h4>Near-Sph (+)</h4>
    <%= f.input :refraction_near_sph, wrapper_html: {}, collection: (0.00 .. 25.00).step(0.25).map { |s| ["+#{number_with_precision(s, precision: 2)}", "+#{number_with_precision(s, precision: 2)}"] }, as: :hg_radio_button, label: false, required: false, class: 'btn btn-xs btn-white refraction-near-sph-btn refraction-btn-class ', input_html: { name: "refraction_near_sph" } %>
  </div>

  <div class="row refraction-near-sph-minus refraction-btn" style="display: none;">
    <h4>Near-Sph (-)</h4>
    <%= f.input :refraction_near_sph, wrapper_html: {}, collection: (0.00 .. 25.00).step(0.25).map { |s| ["-#{number_with_precision(s, precision: 2)}", "-#{number_with_precision(s, precision: 2)}"] }, as: :hg_radio_button, label: false, required: false, class: 'btn btn-xs btn-white refraction-near-sph-btn refraction-btn-class ', input_html: { name: "refraction_near_sph" } %>
  </div>

  <div class="row refraction-near-cyl-plus refraction-btn" style="display: none;">
    <h4>Near-Cyl (+)</h4>
    <%= f.input :refraction_near_cyl, wrapper_html: {}, collection: (0.00 .. 9.50).step(0.25).map { |s| ["+#{number_with_precision(s, precision: 2)}", "+#{number_with_precision(s, precision: 2)}"] }, as: :hg_radio_button, label: false, required: false, class: 'btn btn-xs btn-white refraction-near-cyl-btn refraction-btn-class ', input_html: { name: "refraction_near_cyl" } %>
  </div>

  <div class="row refraction-near-cyl-minus refraction-btn" style="display: none;">
    <h4>Near-Cyl (-)</h4>
    <%= f.input :refraction_near_cyl, wrapper_html: {}, collection: (0.00 .. 9.50).step(0.25).map { |s| ["-#{number_with_precision(s, precision: 2)}", "-#{number_with_precision(s, precision: 2)}"] }, as: :hg_radio_button, label: false, required: false, class: 'btn btn-xs btn-white refraction-near-cyl-btn refraction-btn-class ', input_html: { name: "refraction_near_cyl" } %>
  </div>

  <div class="row refraction-near-axis refraction-btn" style="display: none;">
    <h4>Near-Axis</h4>
    <%= f.input :refraction_near_axis, wrapper_html: {}, collection: (5 .. 180).step(5).map { |s| ["#{s}", "#{s}"] }, as: :hg_radio_button, label: false, required: false, class: 'btn btn-xs btn-white refraction-near-axis-btn refraction-btn-class', input_html: { name: "refraction_near_axis" } %>
  </div>

  <div class="row refraction-near-vision refraction-btn" style="display: none;">
    <h4>Near-Vision</h4>
    <%= f.input :refraction_near_vision, wrapper_html: {}, collection: ['N5', 'N6', 'N8', 'N10', 'N12', 'N14', 'N18', 'N24', 'N36'], as: :hg_radio_button, label: false, required: false, class: 'btn btn-xs btn-white refraction-near-vision-btn refraction-btn-class ', input_html: { name: "refraction_near_vision" } %>
  </div>

  <div class="row refraction-near-va_ph refraction-btn" style="display: none;">
    <h4>Near-VA with PH</h4>
    <%= f.input :refraction_near_va_ph, wrapper_html: {}, collection: ['N5', 'N6', 'N8', 'N10', 'N12', 'N14', 'N18', 'N24', 'N36'], as: :hg_radio_button, label: false, required: false, class: 'btn btn-xs btn-white refraction-near-va_ph-btn refraction-btn-class ', input_html: { name: "refraction_near_va_ph" } %>
  </div>
<% end %>

<style>
  .refraction-btn-class {
    width: 50px;
    padding: 0px;
    border-radius: inherit;
  }

  .refraction-btn-class-ucva {
    width: 60px;
    padding: 0px;
    border-radius: inherit;
  }

  .selected-refraction-field:focus {
    background-color: rgba(255, 255, 0, 0.38) !important;
  }
  .selected-refraction-field {
    background-color: white !important;
    cursor: pointer !important;
  }
</style>
