<div class="col-md-12 col-sm-12 col-xs-12 complaint_name specility_field_row <%= @complaint_name %>_fields ">
  <div class="col-md-2 col-sm-2 col-xs-2">
    <h5 class="complaint_title">
      <%= hidden_field_tag "opdrecord[opd_speciality_histories][#{@count}][_delete]", "", value: 0 %>
      <%= @complaint_name.split("_").map(&:capitalize).join(" ") %>
      <%= hidden_field_tag "opdrecord[opd_speciality_histories][#{@count}][name]", "", value: @complaint_name %>
    </h5>
  </div> 
  <div class="col-md-3 col-sm-3 col-xs-3 left_side_value">
    <div class="complaint_title col-md-6 col-sm-6 col-xs-6">
      <% duration_time = 1..40 %>
      <%= select_tag "opdrecord[opd_speciality_histories][#{@count}][l_duration]", options_for_select(duration_time), prompt: "Please Select", class:"form-control speciality_fields_add_fields speciality_l_duration" %>
    </div>
    <div class="complaint_title col-md-6 col-sm-6 col-xs-6">
      <%= select_tag "opdrecord[opd_speciality_histories][#{@count}][l_duration_unit]", options_for_select([["Days","days"],["Weeks","weeks"],["Months","months"],["Years","years"]]), prompt: "Please Select", class:"form-control speciality_fields_add_fields speciality_l_duration_unit" %>
    </div>
  </div> 
  <div class="col-md-1 col-sm-1 col-xs-1 speciality_history_row ">
    <div class="col-md-12 ccl-sm-12 col-xs-12">
      <center>
        <div class="complaint_title copy_arrow_button">
         <i class="fa fa-arrow-right " aria-hidden="true" style="color: #46b8da;"></i>
        </div>
      </center> 
    </div>   
  </div>
  <div class="col-md-3 col-sm-3 col-xs-3">
    <div class="complaint_title col-md-6 col-sm-6 col-xs-6">
    <% duration_time = 1..40 %>
      <%= select_tag "opdrecord[opd_speciality_histories][#{@count}][r_duration]", options_for_select(duration_time), prompt: "Please Select", class:"form-control speciality_fields_add_fields speciality_r_duration" %>
    </div>
    <div class="complaint_title col-md-6 col-sm-6 col-xs-6">
      <%= select_tag "opdrecord[opd_speciality_histories][#{@count}][r_duration_unit]", options_for_select([["Days","days"],["Weeks","weeks"],["Months","months"],["Years","years"]]), prompt: "Please Select", class:"form-control speciality_fields_add_fields speciality_r_duration_unit" %>
    </div>    
  </div> 
  <div class="col-md-3 col-sm-3 col-xs-3">
    <div class="complaint_title">
        <%= text_field_tag  "opdrecord[opd_speciality_histories][#{@count}][comment]", "",class: "form-control speciality_field_add_comment", placeholder: "Comment ...."%>
    </div>    
  </div> 
</div>
<script>
$(".copy_arrow_button").on('click', function(){
  var r_duration = $(this).parents(".speciality_history_row").parents(".<%= @complaint_name %>_fields").find(".speciality_l_duration").val();
  var r_duration_unit = $(this).parents(".speciality_history_row").parents(".<%= @complaint_name %>_fields").find(".speciality_l_duration_unit").val();
  $(this).parents(".speciality_history_row").parents(".<%= @complaint_name %>_fields").find(".speciality_r_duration").val(r_duration);
  $(this).parents(".speciality_history_row").parents(".<%= @complaint_name %>_fields").find(".speciality_r_duration_unit").val(r_duration_unit); 
  })
</script>
