<% options_for_hirschberg_test_1 = [['Normal','Normal'], ['7 * Eso','7 * Eso'], ['7 * Exo','7 * Exo'], ['15 * Eso','15 * Eso'], ['15 * Exo','15 * Exo'], ['30 * Eso','30 * Eso'], ['30 * Exo','30 * Exo'], ['45 * Eso','45 * Eso'], ['45 * Exo','45 * Exo']] %>
<% options_for_hirschberg_test_2 = [['7 * Hypo','7 * Hypo'], ['7 * Hyper','7 * Hyper'],['15 * Hypo','15 * Hypo'],['15 * Hyper','15 * Hyper'],['30 * Hypo','30 * Hypo'],['30 * Hyper','30 * Hyper'],['45 * Hypo','45 * Hypo'],['45* Hyper','45* Hyper']] %>
<% options_for_cover_test_1 = [['Esophoria','Esophoria'], ['Exophoria','Exophoria'], ['Esotropia','Esotropia'], ['Exotropia','Exotropia']] %>
<% options_for_cover_test_2 = [['Hypotropia','Hypotropia'], ['Hypertropia','Hypertropia']] %>
<div class="row mb20">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row mb20">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-1 col-sm-1">
          Head Posture :
          <span>
            <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_head_posture">clear</small>
          </span>
        </div>
        <%= f.input :head_posture, wrapper_html: {:class=>"col-md-2 col-sm-2 fixed-width"}, collection: ['Chin Elevation', 'Chin Depression'], :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white head_posture', :input_html => {:name => "opdrecord[head_posture]" }, :checked => opdrecord.read_attribute(:head_posture) %>
        <div class="col-md-2 col-sm-2 col-xs-2 fixed-width">
          <span class="degree_label head_posture_degree_label"> Degree </span>
          <%= f.text_field :head_posture_degree, :label => false, :required => false, :class => "form-control degree_input", :maxlength => 6, :value => opdrecord.read_attribute(:head_posture_degree) %>
        </div>

        <div class="col-md- col-sm-1">
          Face Turn :
          <span>
            <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_face_turn">clear</small>
          </span>
        </div>
        <%= f.input :face_turn, wrapper_html: {:class=>"col-md-2 col-sm-2 fixed-width"}, collection: ['Right', 'Left'], :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white face_turn', :input_html => {:name => "opdrecord[face_turn]" }, :checked => opdrecord.read_attribute(:face_turn) %>
        <div class="col-md-2 col-sm-2 col-xs-2 fixed-width">
          <span class="degree_label face_turn_degree_label"> Degree </span>
          <%= f.text_field :face_turn_degree, :label => false,  :required => false, :class => "form-control degree_input", :maxlength => 6, :value => opdrecord.read_attribute(:face_turn_degree) %>
        </div>

        <div class="col-md-1 col-sm-1">
          Head Tilt :
          <span>
            <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_head_tilt">clear</small>
          </span>
        </div>
        <%= f.input :head_tilt, wrapper_html: {:class=>"col-md-2 col-sm-2 fixed-width"}, collection: ['Right', 'Left'], :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white head_tilt', :input_html => {:name => "opdrecord[head_tilt]" }, :checked => opdrecord.read_attribute(:head_tilt) %>
        <div class="col-md-2 col-sm-2 col-xs-2 fixed-width">
          <span class="degree_label head_tilt_degree_label"> Degree </span>
          <%= f.text_field :head_tilt_degree, :label => false, :required => false, :class => "form-control degree_input", :maxlength => 6, :value => opdrecord.read_attribute(:head_tilt_degree) %>
        </div>

      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-2 col-sm-2">
          Specs Prescription: <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_specs_prescription">clear</small>
        </div>
        <%= f.input :specs_prescription, wrapper_html: {:class=>"col-md-10 col-sm-10"}, collection: ['With Glasses', 'Without  Glasses'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white specs_prescription', :input_html => {:name => "opdrecord[specs_prescription]" }, :checked => opdrecord.read_attribute(:specs_prescription) %>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h5><b>Hirschberg Test</b></h5>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="col-md-3 col-sm-3">
          Hirschberg Test (R): <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_r_hirschberg_test">clear</small>
        </div>
        <div class="col-md-4 col-sm-4">
          <%= select_tag "r_hirschberg_test_1", options_for_select(options_for_hirschberg_test_1, @opdrecord.try(:r_hirschberg_test).try(:split,",").try(:first)), { class: "form-control hirschberg_test_select r_hirschberg_test" , include_blank: "Select" } %>
          <%= select_tag "r_hirschberg_test_2", options_for_select(options_for_hirschberg_test_2, @opdrecord.try(:r_hirschberg_test).try(:split,",").try(:last)), { class: "form-control hirschberg_test_select r_hirschberg_test" , include_blank: "Select" } %>
          <%= f.hidden_field :r_hirschberg_test, :label => false, :value => opdrecord.read_attribute(:r_hirschberg_test) %>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="col-md-3 col-sm-3">
          Hirschberg Test (L): <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_l_hirschberg_test">clear</small>
        </div>
        <div class="col-md-4 col-sm-4">
          <%= select_tag "l_hirschberg_test_1", options_for_select(options_for_hirschberg_test_1, @opdrecord.try(:l_hirschberg_test).try(:split,",").try(:first)), { class: "form-control hirschberg_test_select l_hirschberg_test" , include_blank: "Select" } %>
          <%= select_tag "l_hirschberg_test_2", options_for_select(options_for_hirschberg_test_2, @opdrecord.try(:l_hirschberg_test).try(:split,",").try(:last)), { class: "form-control hirschberg_test_select l_hirschberg_test" , include_blank: "Select" } %>
          <%= f.hidden_field :l_hirschberg_test, :label => false, :value => opdrecord.read_attribute(:l_hirschberg_test) %>
        </div>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <h5><b>Fixation</b></h5>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="col-md-2 col-sm-2">
          Fixation (R): <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_fixation_r">clear</small>
        </div>
        <%= f.input :fixation_r, wrapper_html: {:class=>"col-md-10 col-sm-10"}, collection: ['CSM', 'CSUM', 'CUSUM', 'UCUSUM', 'CUSM', 'ECCENTRIC'], :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white fixation_r', :input_html => {:name => "opdrecord[fixation_r]" }, :checked => opdrecord.read_attribute(:fixation_r) %>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="col-md-2 col-sm-2">
          Fixation (L): <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_fixation_l">clear</small>
        </div>
        <%= f.input :fixation_l, wrapper_html: {:class=>"col-md-10 col-sm-10"}, collection: ['CSM', 'CSUM', 'CUSUM', 'UCUSUM', 'CUSM', 'ECCENTRIC'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white fixation_l', :input_html => {:name => "opdrecord[fixation_l]" }, :checked => opdrecord.read_attribute(:fixation_l) %>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h5><b>Worth four dot test</b></h5>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="col-md-2 col-sm-2">
          Distance: <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_distance">clear</small>
        </div>
        <%= f.input :distance, wrapper_html: {:class=>"col-md-10 col-sm-10"}, collection: ['Fusion', 'Supression', 'Diplopia', 'ARC'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white distance', :input_html => {:name => "opdrecord[distance]" }, :checked => opdrecord.read_attribute(:distance) %>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="col-md-2 col-sm-2">
          Near: <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_near">clear</small>
        </div>
        <%= f.input :near, wrapper_html: {:class=>"col-md-10 col-sm-10"}, collection: ['Fusion', 'Supression', 'Diplopia', 'ARC'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white near', :input_html => {:name => "opdrecord[near]" }, :checked => opdrecord.read_attribute(:near) %>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h5><b>Cover Test</b></h5>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="col-md-2 col-sm-2">
          Distance: <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_cover_test_distance">clear</small>
        </div>
        <div class="col-md-4 col-sm-4">
          <%= select_tag "cover_test_distance_1", options_for_select(options_for_cover_test_1, @opdrecord.try(:cover_test_distance).try(:split,",").try(:first)), { class: "form-control cover_test_select cover_test_distance" , include_blank: "Select" } %>
          <%= select_tag "cover_test_distance_2", options_for_select(options_for_cover_test_2, @opdrecord.try(:cover_test_distance).try(:split,",").try(:last)), { class: "form-control cover_test_select cover_test_distance" , include_blank: "Select" } %>
          <%= f.hidden_field :cover_test_distance, :label => false, :value => opdrecord.read_attribute(:cover_test_distance) %>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="col-md-2 col-sm-2">
          Near: <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_cover_test_near">clear</small>
        </div>
        <div class="col-md-4 col-sm-4">
          <%= select_tag "cover_test_near_1", options_for_select(options_for_cover_test_1, @opdrecord.try(:cover_test_near).try(:split,",").try(:first)), { class: "form-control cover_test_select cover_test_near" , include_blank: "Select" } %>
          <%= select_tag "cover_test_near_2", options_for_select(options_for_cover_test_2, @opdrecord.try(:cover_test_near).try(:split,",").try(:last)), { class: "form-control cover_test_select cover_test_near" , include_blank: "Select" } %>
          <%= f.hidden_field :cover_test_near, :label => false, :value => opdrecord.read_attribute(:cover_test_near) %>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-12 col-sm-12"><b>Stereopsis</b></div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="col-md-2 col-sm-2">Stereopsis:</div>
          <div class="col-md-10 col-sm-10">
            <%= f.text_field :stereopsis, :class => "form-control stereopsis", :name => "opdrecord[stereopsis]", :value => opdrecord.read_attribute(:stereopsis), :style => 'padding: 3px 10px;', :maxlength => 4, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>&nbsp;Arc Seconds
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="col-md-2 col-sm-2">
            Chart: <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_stereopsis_chart">clear</small>
          </div>
          <%= f.input :stereopsis_chart, wrapper_html: {:class=>"col-md-10 col-sm-10"}, collection: ['TNO', 'Titmus Fly', 'Randot'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white stereopsis_chart', :input_html => {:name => "opdrecord[stereopsis_chart]" }, :checked => opdrecord.read_attribute(:stereopsis_chart) %>
        </div>
      </div>
    </div>
    <div class="row mb20">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-2 col-sm-2 col-xs-2">
          <div class="row mb5">
            <div class="col-md-12" style="background-color: #80808030; width: 60%; padding: 3% 0%; text-align: center;">
              <div class="row">
                <div>
                  <%= f.text_field :r_squint_input_1, :class => "form-control squint_input", :name => "opdrecord[r_squint_input_1]", :value => opdrecord.read_attribute(:r_squint_input_1), :maxlength => 3, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
                  <%= f.select :r_squint_select_1, options_for_select([['ET','ET'],['XT','XT']], :selected => opdrecord.read_attribute(:r_squint_select_1)), {:include_blank => 'Select'}, { :class => 'squint_select form-control'} %>
                  <br/>
                  <%= f.text_field :r_squint_input_2, :class => "form-control squint_input", :name => "opdrecord[r_squint_input_2]", :value => opdrecord.read_attribute(:r_squint_input_2), :maxlength => 3, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
                  <%= f.select :r_squint_select_2, options_for_select([['R/L','R/L'],['L/R','L/R']], :selected => opdrecord.read_attribute(:r_squint_select_2)), {:include_blank => 'Select'}, { :class => 'squint_select form-control'} %>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb5">
            <div class="col-md-12" style="background-color: #80808030; width: 60%; padding: 3% 0%; text-align: center;">
              <div class="row">
                <div>
                  <%= f.text_field :r_squint_input_3, :class => "form-control squint_input", :name => "opdrecord[r_squint_input_3]", :value => opdrecord.read_attribute(:r_squint_input_3), :maxlength => 3, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
                  <%= f.select :r_squint_select_3, options_for_select([['ET','ET'],['XT','XT']], :selected => opdrecord.read_attribute(:r_squint_select_3)), {:include_blank => 'Select'}, { :class => 'squint_select form-control'} %>
                  <br/>
                  <%= f.text_field :r_squint_input_4, :class => "form-control squint_input", :name => "opdrecord[r_squint_input_4]", :value => opdrecord.read_attribute(:r_squint_input_4), :maxlength => 3, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
                  <%= f.select :r_squint_select_4, options_for_select([['R/L','R/L'],['L/R','L/R']], :selected => opdrecord.read_attribute(:r_squint_select_4)), {:include_blank => 'Select'}, { :class => 'squint_select form-control'} %>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb5">
            <div class="col-md-12" style="background-color: #80808030; width: 60%; padding: 3% 0%; text-align: center;">
              <div class="row">
                <div>
                  <%= f.text_field :r_squint_input_5, :class => "form-control squint_input", :name => "opdrecord[r_squint_input_5]", :value => opdrecord.read_attribute(:r_squint_input_5), :maxlength => 3, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
                  <%= f.select :r_squint_select_5, options_for_select([['ET','ET'],['XT','XT']], :selected => opdrecord.read_attribute(:r_squint_select_5)), {:include_blank => 'Select'}, { :class => 'squint_select form-control'} %>
                  <br/>
                  <%= f.text_field :r_squint_input_6, :class => "form-control squint_input", :name => "opdrecord[r_squint_input_6]", :value => opdrecord.read_attribute(:r_squint_input_6), :maxlength => 3, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
                  <%= f.select :r_squint_select_6, options_for_select([['R/L','R/L'],['L/R','L/R']], :selected => opdrecord.read_attribute(:r_squint_select_6)), {:include_blank => 'Select'}, { :class => 'squint_select form-control'} %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3" style="padding: 0%;">
          <div class="row">
            <div class="col-md-4 col-sm-4">
            <%= f.select :r_squint_select_7, options_for_select([['-4','-4'],['-3','-3'],['-2','-2'],['-1','-1'],['0','0'],['+1','1'],['+2','2'],['+3','3'],['+4','4']], :selected => opdrecord.read_attribute(:r_squint_select_7)), {:include_blank => 'Select'}, { :class => 'squint_select form-control' } %>
            </div>
            <div class="col-md-4 col-sm-4">
            <%= f.select :r_squint_select_8, options_for_select([['-4','-4'],['-3','-3'],['-2','-2'],['-1','-1'],['0','0'],['+1','1'],['+2','2'],['+3','3'],['+4','4']], :selected => opdrecord.read_attribute(:r_squint_select_8)), {:include_blank => 'Select'}, { :class => 'squint_select form-control' } %>
            </div>
            <div class="col-md-4 col-sm-4">
            <%= f.select :r_squint_select_9, options_for_select([['-4','-4'],['-3','-3'],['-2','-2'],['-1','-1'],['0','0'],['+1','1'],['+2','2'],['+3','3'],['+4','4']], :selected => opdrecord.read_attribute(:r_squint_select_9)), {:include_blank => 'Select'}, { :class => 'squint_select form-control' } %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4" style="margin-top: 18%;">
            <%= f.select :r_squint_select_10, options_for_select([['-4','-4'],['-3','-3'],['-2','-2'],['-1','-1'],['0','0'],['+1','1'],['+2','2'],['+3','3'],['+4','4']], :selected => opdrecord.read_attribute(:r_squint_select_10)), {:include_blank => 'Select'}, { :class => 'squint_select form-control' } %>
            </div>
            <div class="col-md-4 col-sm-4">
              <canvas id="right_squint_canvas" class="squint_canvas" width="170%" height="150px" style="margin-left: -53px;"></canvas>
            </div>
            <div class="col-md-4 col-sm-4" style="margin-top: 18%;">
            <%= f.select :r_squint_select_11, options_for_select([['-4','-4'],['-3','-3'],['-2','-2'],['-1','-1'],['0','0'],['+1','1'],['+2','2'],['+3','3'],['+4','4']], :selected => opdrecord.read_attribute(:r_squint_select_11)), {:include_blank => 'Select'}, { :class => 'squint_select form-control' } %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
            <%= f.select :r_squint_select_12, options_for_select([['-4','-4'],['-3','-3'],['-2','-2'],['-1','-1'],['0','0'],['+1','1'],['+2','2'],['+3','3'],['+4','4']], :selected => opdrecord.read_attribute(:r_squint_select_12)), {:include_blank => 'Select'}, { :class => 'squint_select form-control' } %>
            </div>
            <div class="col-md-4 col-sm-4">
            <%= f.select :r_squint_select_13, options_for_select([['-4','-4'],['-3','-3'],['-2','-2'],['-1','-1'],['0','0'],['+1','1'],['+2','2'],['+3','3'],['+4','4']], :selected => opdrecord.read_attribute(:r_squint_select_13)), {:include_blank => 'Select'}, { :class => 'squint_select form-control' } %>
            </div>
            <div class="col-md-4 col-sm-4">
            <%= f.select :r_squint_select_14, options_for_select([['-4','-4'],['-3','-3'],['-2','-2'],['-1','-1'],['0','0'],['+1','1'],['+2','2'],['+3','3'],['+4','4']], :selected => opdrecord.read_attribute(:r_squint_select_14)), {:include_blank => 'Select'}, { :class => 'squint_select form-control' } %>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
          <div class="row mb5">
            <div class="col-md-12" style="background-color: #80808030; width: 60%; padding: 3% 0%; text-align: center;">
              <div class="row">
                <div>
                  <%= f.text_field :m_squint_input_1, :class => "form-control squint_input", :name => "opdrecord[m_squint_input_1]", :value => opdrecord.read_attribute(:m_squint_input_1), :maxlength => 3, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
                  <%= f.select :m_squint_select_1, options_for_select([['ET','ET'],['XT','XT']], :selected => opdrecord.read_attribute(:m_squint_select_1)), {:include_blank => 'Select'}, { :class => 'squint_select form-control'} %>
                  <br/>
                  <%= f.text_field :m_squint_input_2, :class => "form-control squint_input", :name => "opdrecord[m_squint_input_2]", :value => opdrecord.read_attribute(:m_squint_input_2), :maxlength => 3, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
                  <%= f.select :m_squint_select_2, options_for_select([['R/L','R/L'],['L/R','L/R']], :selected => opdrecord.read_attribute(:m_squint_select_2)), {:include_blank => 'Select'}, { :class => 'squint_select form-control'} %>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb5">
            <div class="col-md-12" style="background-color: #80808030; width: 60%; padding: 3% 0%; text-align: center;">
              <div class="row">
                <div>
                  <%= f.text_field :m_squint_input_3, :class => "form-control squint_input", :name => "opdrecord[m_squint_input_3]", :value => opdrecord.read_attribute(:m_squint_input_3), :maxlength => 3, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
                  <%= f.select :m_squint_select_3, options_for_select([['ET','ET'],['XT','XT']], :selected => opdrecord.read_attribute(:m_squint_select_3)), {:include_blank => 'Select'}, { :class => 'squint_select form-control'} %>
                  <br/>
                  <%= f.text_field :m_squint_input_4, :class => "form-control squint_input", :name => "opdrecord[m_squint_input_4]", :value => opdrecord.read_attribute(:m_squint_input_4), :maxlength => 3, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
                  <%= f.select :m_squint_select_4, options_for_select([['R/L','R/L'],['L/R','L/R']], :selected => opdrecord.read_attribute(:m_squint_select_4)), {:include_blank => 'Select'}, { :class => 'squint_select form-control'} %>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb5">
            <div class="col-md-12" style="background-color: #80808030; width: 60%; padding: 3% 0%; text-align: center;">
              <div class="row">
                <div>
                  <%= f.text_field :m_squint_input_5, :class => "form-control squint_input", :name => "opdrecord[m_squint_input_5]", :value => opdrecord.read_attribute(:m_squint_input_5), :maxlength => 3, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
                  <%= f.select :m_squint_select_5, options_for_select([['ET','ET'],['XT','XT']], :selected => opdrecord.read_attribute(:m_squint_select_5)), {:include_blank => 'Select'}, { :class => 'squint_select form-control'} %>
                  <br/>
                  <%= f.text_field :m_squint_input_6, :class => "form-control squint_input", :name => "opdrecord[m_squint_input_6]", :value => opdrecord.read_attribute(:m_squint_input_6), :maxlength => 3, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
                  <%= f.select :m_squint_select_6, options_for_select([['R/L','R/L'],['L/R','L/R']], :selected => opdrecord.read_attribute(:m_squint_select_6)), {:include_blank => 'Select'}, { :class => 'squint_select form-control'} %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3" style="padding: 0%;">
          <div class="row">
            <div class="col-md-4 col-sm-4">
            <%= f.select :l_squint_select_1, options_for_select([['-4','-4'],['-3','-3'],['-2','-2'],['-1','-1'],['0','0'],['+1','1'],['+2','2'],['+3','3'],['+4','4']], :selected => opdrecord.read_attribute(:l_squint_select_1)), {:include_blank => 'Select'}, { :class => 'squint_select form-control' } %>
            </div>
            <div class="col-md-4 col-sm-4">
            <%= f.select :l_squint_select_2, options_for_select([['-4','-4'],['-3','-3'],['-2','-2'],['-1','-1'],['0','0'],['+1','1'],['+2','2'],['+3','3'],['+4','4']], :selected => opdrecord.read_attribute(:l_squint_select_2)), {:include_blank => 'Select'}, { :class => 'squint_select form-control' } %>
            </div>
            <div class="col-md-4 col-sm-4">
            <%= f.select :l_squint_select_3, options_for_select([['-4','-4'],['-3','-3'],['-2','-2'],['-1','-1'],['0','0'],['+1','1'],['+2','2'],['+3','3'],['+4','4']], :selected => opdrecord.read_attribute(:l_squint_select_3)), {:include_blank => 'Select'}, { :class => 'squint_select form-control' } %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4" style="margin-top: 18%;">
            <%= f.select :l_squint_select_4, options_for_select([['-4','-4'],['-3','-3'],['-2','-2'],['-1','-1'],['0','0'],['+1','1'],['+2','2'],['+3','3'],['+4','4']], :selected => opdrecord.read_attribute(:l_squint_select_4)), {:include_blank => 'Select'}, { :class => 'squint_select form-control' } %>
            </div>
            <div class="col-md-4 col-sm-4">
              <canvas id="left_squint_canvas" class="squint_canvas" width="170%" height="150px" style="margin-left: -51px;"></canvas>
            </div>
            <div class="col-md-4 col-sm-4" style="margin-top: 18%;">
            <%= f.select :l_squint_select_5, options_for_select([['-4','-4'],['-3','-3'],['-2','-2'],['-1','-1'],['0','0'],['+1','1'],['+2','2'],['+3','3'],['+4','4']], :selected => opdrecord.read_attribute(:l_squint_select_5)), {:include_blank => 'Select'}, { :class => 'squint_select form-control' } %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
            <%= f.select :l_squint_select_6, options_for_select([['-4','-4'],['-3','-3'],['-2','-2'],['-1','-1'],['0','0'],['+1','1'],['+2','2'],['+3','3'],['+4','4']], :selected => opdrecord.read_attribute(:l_squint_select_6)), {:include_blank => 'Select'}, { :class => 'squint_select form-control' } %>
            </div>
            <div class="col-md-4 col-sm-4">
            <%= f.select :l_squint_select_7, options_for_select([['-4','-4'],['-3','-3'],['-2','-2'],['-1','-1'],['0','0'],['+1','1'],['+2','2'],['+3','3'],['+4','4']], :selected => opdrecord.read_attribute(:l_squint_select_7)), {:include_blank => 'Select'}, { :class => 'squint_select form-control' } %>
            </div>
            <div class="col-md-4 col-sm-4">
            <%= f.select :l_squint_select_8, options_for_select([['-4','-4'],['-3','-3'],['-2','-2'],['-1','-1'],['0','0'],['+1','1'],['+2','2'],['+3','3'],['+4','4']], :selected => opdrecord.read_attribute(:l_squint_select_8)), {:include_blank => 'Select'}, { :class => 'squint_select form-control' } %>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
          <div class="row mb5">
            <div class="col-md-12" style="background-color: #80808030; width: 60%; padding: 3% 0%; text-align: center;">
              <div class="row">
                <div>
                  <%= f.text_field :l_squint_input_1, :class => "form-control squint_input", :name => "opdrecord[l_squint_input_1]", :value => opdrecord.read_attribute(:l_squint_input_1), :maxlength => 3, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
                  <%= f.select :l_squint_select_9, options_for_select([['ET','ET'],['XT','XT']], :selected => opdrecord.read_attribute(:l_squint_select_9)), {:include_blank => 'Select'}, { :class => 'squint_select form-control'} %>
                  <br/>
                  <%= f.text_field :l_squint_input_2, :class => "form-control squint_input", :name => "opdrecord[l_squint_input_2]", :value => opdrecord.read_attribute(:l_squint_input_2), :maxlength => 3, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
                  <%= f.select :l_squint_select_10, options_for_select([['R/L','R/L'],['L/R','L/R']], :selected => opdrecord.read_attribute(:l_squint_select_10)), {:include_blank => 'Select'}, { :class => 'squint_select form-control'} %>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb5">
            <div class="col-md-12" style="background-color: #80808030; width: 60%; padding: 3% 0%; text-align: center;">
              <div class="row">
                <div>
                  <%= f.text_field :l_squint_input_3, :class => "form-control squint_input", :name => "opdrecord[l_squint_input_3]", :value => opdrecord.read_attribute(:l_squint_input_3), :maxlength => 3, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
                  <%= f.select :l_squint_select_11, options_for_select([['ET','ET'],['XT','XT']], :selected => opdrecord.read_attribute(:l_squint_select_11)), {:include_blank => 'Select'}, { :class => 'squint_select form-control'} %>
                  <br/>
                  <%= f.text_field :l_squint_input_4, :class => "form-control squint_input", :name => "opdrecord[l_squint_input_4]", :value => opdrecord.read_attribute(:l_squint_input_4), :maxlength => 3, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
                  <%= f.select :l_squint_select_12, options_for_select([['R/L','R/L'],['L/R','L/R']], :selected => opdrecord.read_attribute(:l_squint_select_12)), {:include_blank => 'Select'}, { :class => 'squint_select form-control'} %>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb5">
            <div class="col-md-12" style="background-color: #80808030; width: 60%; padding: 3% 0%; text-align: center;">
              <div class="row">
                <div>
                  <%= f.text_field :l_squint_input_5, :class => "form-control squint_input", :name => "opdrecord[l_squint_input_5]", :value => opdrecord.read_attribute(:l_squint_input_5), :maxlength => 3, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
                  <%= f.select :l_squint_select_13, options_for_select([['ET','ET'],['XT','XT']], :selected => opdrecord.read_attribute(:l_squint_select_13)), {:include_blank => 'Select'}, { :class => 'squint_select form-control'} %>
                  <br/>
                  <%= f.text_field :l_squint_input_6, :class => "form-control squint_input", :name => "opdrecord[l_squint_input_6]", :value => opdrecord.read_attribute(:l_squint_input_6), :maxlength => 3, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
                  <%= f.select :l_squint_select_14, options_for_select([['R/L','R/L'],['L/R','L/R']], :selected => opdrecord.read_attribute(:l_squint_select_14)), {:include_blank => 'Select'}, { :class => 'squint_select form-control'} %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb30">
      <div class="col-md-1 col-sm-1 col-xs-1 col-md-offset-4" style="text-align: end;">Near</div>
      <div class="col-md-11 col-sm-11 col-xs-11" style="background-color: #80808030; width: 10%; padding: 6px 6px; text-align: center;">
        <div class="row">
          <div>
            <%= f.text_field :near_squint_input_1, :class => "form-control squint_input", :name => "opdrecord[near_squint_input_1]", :value => opdrecord.read_attribute(:near_squint_input_1), :maxlength => 3, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
             <%= f.select :near_squint_select_1, options_for_select([['ET','ET'],['XT','XT']], :selected => opdrecord.read_attribute(:near_squint_select_1)), {:include_blank => 'Select'}, { :class => 'squint_select form-control'} %>
            <br/>
            <%= f.text_field :near_squint_input_2, :class => "form-control squint_input", :name => "opdrecord[near_squint_input_2]", :value => opdrecord.read_attribute(:near_squint_input_2), :maxlength => 3, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
            <%= f.select :near_squint_select_2, options_for_select([['R/L','R/L'],['L/R','L/R']], :selected => opdrecord.read_attribute(:near_squint_select_2)), {:include_blank => 'Select'}, { :class => 'squint_select form-control'} %>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb20">
      <div class="col-md-11 col-sm-11 col-xs-11 col-md-offset-3" style="background-color: #80808030; width: 10%; padding: 6px 6px; text-align: center;">
        <div class="row">
          <div>
            <%= f.text_field :m_squint_input_7, :class => "form-control squint_input", :name => "opdrecord[m_squint_input_7]", :value => opdrecord.read_attribute(:m_squint_input_7), :maxlength => 3, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
            <%= f.select :m_squint_select_7, options_for_select([['ET','ET'],['XT','XT']], :selected => opdrecord.read_attribute(:m_squint_select_7)), {:include_blank => 'Select'}, { :class => 'squint_select form-control'} %>
            <br/>
            <%= f.text_field :m_squint_input_8, :class => "form-control squint_input", :name => "opdrecord[m_squint_input_8]", :value => opdrecord.read_attribute(:m_squint_input_8), :maxlength => 3, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
            <%= f.select :m_squint_select_8, options_for_select([['R/L','R/L'],['L/R','L/R']], :selected => opdrecord.read_attribute(:m_squint_select_8)), {:include_blank => 'Select'}, { :class => 'squint_select form-control'} %>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-sm-offset-1">
        <svg height="96" width="200">
          <polyline points="10,20 50,70 90,20" style="fill:none;stroke:black;stroke-width:1" />
          Sorry, your browser does not support inline SVG.
        </svg>
      </div>
      <div class="col-md-11 col-sm-11 col-xs-11" style="background-color: #80808030; width: 10%; padding: 6px 6px; text-align: center;">
        <div class="row">
          <div>
            <%= f.text_field :m_squint_input_9, :class => "form-control squint_input", :name => "opdrecord[m_squint_input_9]", :value => opdrecord.read_attribute(:m_squint_input_9), :maxlength => 3, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
            <%= f.select :m_squint_select_9, options_for_select([['ET','ET'],['XT','XT']], :selected => opdrecord.read_attribute(:m_squint_select_9)), {:include_blank => 'Select'}, { :class => 'squint_select form-control'} %>
            <br/>
            <%= f.text_field :m_squint_input_10, :class => "form-control squint_input", :name => "opdrecord[m_squint_input_10]", :value => opdrecord.read_attribute(:m_squint_input_10), :maxlength => 3, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
            <%= f.select :m_squint_select_10, options_for_select([['R/L','R/L'],['L/R','L/R']], :selected => opdrecord.read_attribute(:m_squint_select_10)), {:include_blank => 'Select'}, { :class => 'squint_select form-control'} %>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb20">
      <div class="col-md-2 col-sm-2 col-xs-2 col-md-offset-3" style="text-align: end;">Primary Deviation</div>
      <div class="col-md-11 col-sm-11 col-xs-11" style="background-color: #80808030; width: 10%; padding: 6px 6px; text-align: center;">
        <div class="row">
          <div>
            <%= f.text_field :pd_squint_input_1, :class => "form-control squint_input", :name => "opdrecord[pd_squint_input_1]", :value => opdrecord.read_attribute(:pd_squint_input_1), :maxlength => 3, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
            <%= f.select :pd_squint_select_1, options_for_select([['ET','ET'],['XT','XT']], :selected => opdrecord.read_attribute(:pd_squint_select_1)), {:include_blank => 'Select'}, { :class => 'squint_select form-control'} %>
            <br/>
            <%= f.text_field :pd_squint_input_2, :class => "form-control squint_input", :name => "opdrecord[pd_squint_input_2]", :value => opdrecord.read_attribute(:pd_squint_input_2), :maxlength => 3, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
            <%= f.select :pd_squint_select_2, options_for_select([['R/L','R/L'],['L/R','L/R']], :selected => opdrecord.read_attribute(:pd_squint_select_2)), {:include_blank => 'Select'}, { :class => 'squint_select form-control'} %>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb20">
      <div class="col-md-3 col-sm-3 col-xs-3 col-md-offset-2" style="text-align: end;">Secondary Deviation</div>
      <div class="col-md-11 col-sm-11 col-xs-11" style="background-color: #80808030; width: 10%; padding: 6px 6px; text-align: center;">
        <div class="row">
          <div>
            <%= f.text_field :sd_squint_input_1, :class => "form-control squint_input", :name => "opdrecord[sd_squint_input_1]", :value => opdrecord.read_attribute(:sd_squint_input_1), :maxlength => 3, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
            <%= f.select :sd_squint_select_1, options_for_select([['ET','ET'],['XT','XT']], :selected => opdrecord.read_attribute(:sd_squint_select_1)), {:include_blank => 'Select'}, { :class => 'squint_select form-control'} %>
            <br/>
            <%= f.text_field :sd_squint_input_2, :class => "form-control squint_input", :name => "opdrecord[sd_squint_input_2]", :value => opdrecord.read_attribute(:sd_squint_input_2), :maxlength => 3, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
            <%= f.select :sd_squint_select_2, options_for_select([['R/L','R/L'],['L/R','L/R']], :selected => opdrecord.read_attribute(:sd_squint_select_2)), {:include_blank => 'Select'}, { :class => 'squint_select form-control'} %>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb20">
      <div class="col-md-12 col-sm-12">
        <div class="col-md-2 col-sm-2">Squint Comments :</div>
        <div class="col-md-10 col-sm-10">
          <%= f.input :squintcomments, wrapper_html: {:class=>"col-md-12 col-sm-12 col-xs-12"}, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :style => 'width:96%;', :required => false, :name => "opdrecord[squintcomments]", :value => opdrecord.read_attribute(:squintcomments) } %>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .squint_select {
    padding: 0px;
  }

  .hirschberg_test_select, .cover_test_select {
    padding: 2px;
  }

  .squint_input {
    padding: 0px 10px;
    width: 39% !important;
  }

  .degree_input {
    padding: 2px 12px;
    width: 54% !important;
  }

  .degree_label {
    margin-right: 4%;
  }

  .fixed-width {
    width: max-content !important;
  }

  #middle_squint_canvas, #middle_squint_canvas2{
    position: absolute;
    margin-left: -29%;
    margin-top: -16%;
  }
</style>

<script>
  var right_canvas = document.getElementById('right_squint_canvas');
  var right_context = right_canvas.getContext('2d');
  var centerX = right_canvas.width / 2;
  var centerY = right_canvas.height / 2;
  var radius = 40;
  right_context.beginPath();
  right_context.arc(centerX, centerY, radius, 0, 2 * Math.PI, false);
  right_context.stroke();
  right_context.textAlign = 'center';
  right_context.font = "20pt Courier";
  right_context.fillText('R', centerX, centerY + 4);

  var left_canvas = document.getElementById('left_squint_canvas');
  var left_context = left_canvas.getContext('2d');
  var centerX = left_canvas.width / 2;
  var centerY = left_canvas.height / 2;
  var radius = 40;
  left_context.beginPath();
  left_context.arc(centerX, centerY, radius, 0, 2 * Math.PI, false);
  left_context.stroke();
  left_context.textAlign = 'center';
  left_context.font = "20pt Courier";
  left_context.fillText('L', centerX, centerY + 4);
</script>

