<div class="row r-appendages-row">
  <div class="col-md-12 col-sm-12 r-appendages-column questionsforappendages" id="r-questionsforappendages">
    <strong class="col-md-4 col-sm-5  badge badge-eye-template-labels">APPENDAGES </strong>
    <a id="buttontoggle-opdrecord_r_appendages" class="btn btn-xs btn-primary btn-square buttontoggle-opdrecord" href="javascript:;" name="options" ><span class="glyphicon glyphicon-plus-sign"></span></a>
    <%= f.input :r_appendages, :label => false, :required => false,:type => "hidden", :input_html => {:class => "form-control r_appendages hidden", :name => "opdrecord[r_appendages]", :size => "60",  :value => opdrecord.read_attribute(:r_appendages) || 'Normal' } %>
  </div>
  <div class="col-md-12 col-sm-12 r-answersforappendages">
    <div class="col-md-2 col-sm-2"></div>
    <%= f.input :r_appendages_tests, wrapper_html: {:class=>"col-md-10 col-sm-10"},collection: [ ['Eyelids','eyelids'], ['Eyelashes','eyelashes'], ['Lacrimal sac','lacrimalsac'], ['Syringing','syringing'] ], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white r_appendages_tests', :input_html => {:name => "opdrecord[r_appendages_tests]" }, :checked => opdrecord.checkboxes_checked(opdrecord.read_attribute(:r_appendages_tests)) %>
  </div>

  <div class="col-md-12 col-sm-12 r-appendages-eyelids r-answersforappendages-eyelids">
    <div class="row col-md-12 col-sm-12">
        <span class="col-md-3 col-sm-3">F.B</span>
        <span class="col-md-3 col-sm-3">Ptosis</span>
        <span class="col-md-3 col-sm-3">Swelling</span>
        <span class="col-md-3 col-sm-3">Entropion</span>

    </div>
    <div class="row col-md-12 col-sm-12">
          <span class="col-md-3 col-sm-3"><%= f.input :r_appendages_eyelids_fb, wrapper_html: {},collection: ['No', 'Yes'], :as => :hg_radio_button, :label => false,:required => false, :class => 'btn btn-xs btn-white r_appendages_eyelids_fb', :input_html => {:name => "opdrecord[r_appendages_eyelids_fb]" }, :checked => opdrecord.read_attribute(:r_appendages_eyelids_fb) || "No" %></span>
          <span class="col-md-3 col-sm-3"><%= f.input :r_appendages_eyelids_ptosis, wrapper_html: {},collection: ['No', 'Yes'], :as => :hg_radio_button, :label => false,:required => false, :class => 'btn btn-xs btn-white r_appendages_eyelids_ptosis', :input_html => {:name => "opdrecord[r_appendages_eyelids_ptosis]" }, :checked => opdrecord.read_attribute(:r_appendages_eyelids_ptosis) || "No" %></span>
          <span class="col-md-3 col-sm-3"><%= f.input :r_appendages_eyelids_swelling, wrapper_html: {},collection: ['No', 'Yes'], :as => :hg_radio_button, :label => false,:required => false, :class => 'btn btn-xs btn-white r_appendages_eyelids_swelling', :input_html => {:name => "opdrecord[r_appendages_eyelids_swelling]" }, :checked => opdrecord.read_attribute(:r_appendages_eyelids_swelling) || "No" %></span>
          <span class="col-md-3 col-sm-3"><%= f.input :r_appendages_eyelids_entropion, wrapper_html: {},collection: ['No', 'Yes'], :as => :hg_radio_button, :label => false,:required => false, :class => 'btn btn-xs btn-white r_appendages_eyelids_entropion', :input_html => {:name => "opdrecord[r_appendages_eyelids_entropion]" }, :checked => opdrecord.read_attribute(:r_appendages_eyelids_entropion) || "No" %></span>
    </div>
    <div class="row col-md-12 col-sm-12">
        <span class="col-md-3 col-sm-3">Ectropion</span>
        <span class="col-md-3 col-sm-3">Mass</span>
        <span class="col-md-3 col-sm-3">Meibomitis</span>
        <span class="col-md-3 col-sm-3">Laceration</span>
    </div>
    <div class="row col-md-12 col-sm-12">
        <span class="col-md-3 col-sm-3"><%= f.input :r_appendages_eyelids_ectropion, wrapper_html: {},collection: ['No', 'Yes'], :as => :hg_radio_button, :label => false,:required => false, :class => 'btn btn-xs btn-white r_appendages_eyelids_ectropion', :input_html => {:name => "opdrecord[r_appendages_eyelids_ectropion]" }, :checked => opdrecord.read_attribute(:r_appendages_eyelids_ectropion) || "No" %></span>
        <span class="col-md-3 col-sm-3"><%= f.input :r_appendages_eyelids_mass, wrapper_html: {},collection: ['No', 'Yes'], :as => :hg_radio_button, :label => false,:required => false, :class => 'btn btn-xs btn-white r_appendages_eyelids_mass', :input_html => {:name => "opdrecord[r_appendages_eyelids_mass]" }, :checked => opdrecord.read_attribute(:r_appendages_eyelids_mass) || "No" %></span>
        <span class="col-md-3 col-sm-3"><%= f.input :r_appendages_eyelids_meibomitis, wrapper_html: {},collection: ['No', 'Yes'], :as => :hg_radio_button, :label => false,:required => false, :class => 'btn btn-xs btn-white r_appendages_eyelids_meibomitis', :input_html => {:name => "opdrecord[r_appendages_eyelids_meibomitis]" }, :checked => opdrecord.read_attribute(:r_appendages_eyelids_meibomitis) || "No" %></span>
        <span class="col-md-3 col-sm-3"><%= f.input :r_appendages_eyelashes_laceration, wrapper_html: {},collection: ['No', 'Yes'], :as => :hg_radio_button, :label => false,:required => false, :class => 'btn btn-xs btn-white r_appendages_eyelashes_laceration', :input_html => {:name => "opdrecord[r_appendages_eyelashes_laceration]" }, :checked => opdrecord.read_attribute(:r_appendages_eyelashes_laceration) || "No" %></span>
    </div>
    <div class="row col-md-12 col-sm-12">
        <span class="col-md-3 col-sm-3">Contusion</span>
    </div>
    <div class="row col-md-12 col-sm-12">
        <span class="col-md-3 col-sm-3"><%= f.input :r_appendages_eyelids_contusion, wrapper_html: {},collection: ['No', 'Yes'], :as => :hg_radio_button, :label => false,:required => false, :class => 'btn btn-xs btn-white r_appendages_eyelids_contusion', :input_html => {:name => "opdrecord[r_appendages_eyelids_contusion]" }, :checked => opdrecord.read_attribute(:r_appendages_eyelids_contusion) || "No" %></span>
    </div>
  </div>

  <div class="col-md-12 col-sm-12 r-appendages-eyelashes r-answersforappendages-eyelashes">
      <div class="row col-md-12 col-sm-12">
          <span class="col-md-3 col-sm-3">Trichiasis</span>
          <span class="col-md-3 col-sm-3">Dystrichiasis</span>
      </div>
      <div class="row col-md-12 col-sm-12">
          <span class="col-md-3 col-sm-3"><%= f.input :r_appendages_eyelashes_trichiasis, wrapper_html: {},collection: ['No', 'Yes'], :as => :hg_radio_button, :label => false,:required => false, :class => 'btn btn-xs btn-white r_appendages_eyelashes_trichiasis', :input_html => {:name => "opdrecord[r_appendages_eyelashes_trichiasis]" }, :checked => opdrecord.read_attribute(:r_appendages_eyelashes_trichiasis) || "No" %></span>
          <span class="col-md-3 col-sm-3"><%= f.input :r_appendages_eyelashes_dystrichiasis, wrapper_html: {},collection: ['No', 'Yes'], :as => :hg_radio_button, :label => false,:required => false, :class => 'btn btn-xs btn-white r_appendages_eyelashes_dystrichiasis', :input_html => {:name => "opdrecord[r_appendages_eyelashes_dystrichiasis]" }, :checked => opdrecord.read_attribute(:r_appendages_eyelashes_dystrichiasis) || "No" %></span>
      </div>
  </div>

  <div class="col-md-12 col-sm-12 r-appendages-lacrimalsac r-answersforappendages-lacrimalsac">
      <div class="row col-md-12 col-sm-12">
          <span class="col-md-3 col-sm-3">Swelling</span>
          <span class="col-md-3 col-sm-3">Roplas</span>
      </div>
      <div class="row col-md-12 col-sm-12">
          <span class="col-md-3 col-sm-3"><%= f.input :r_appendages_lacrimalsac_swelling, wrapper_html: {},collection: ['No', 'Yes'], :as => :hg_radio_button, :label => false,:required => false, :class => 'btn btn-xs btn-white r_appendages_lacrimalsac_swelling', :input_html => {:name => "opdrecord[r_appendages_lacrimalsac_swelling]" }, :checked => opdrecord.read_attribute(:r_appendages_lacrimalsac_swelling) || "No" %></span>
          <span class="col-md-3 col-sm-3"><%= f.input :r_appendages_lacrimalsac_regurgitation, wrapper_html: {},collection: ['No', 'Yes'], :as => :hg_radio_button, :label => false,:required => false, :class => 'btn btn-xs btn-white r_appendages_lacrimalsac_regurgitation', :input_html => {:name => "opdrecord[r_appendages_lacrimalsac_regurgitation]" }, :checked => opdrecord.read_attribute(:r_appendages_lacrimalsac_regurgitation) || "No" %></span>
      </div>
  </div>

  <div class="col-md-12 col-sm-12 r-appendages-syringing r-answersforappendages-syringing">
      <div class="row col-md-12 col-sm-12">
          <span class="col-md-3 col-sm-3">Syringing</span>
      </div>
      <div class="row col-md-12 col-sm-12">
          <span class="col-md-3 col-sm-3"><%= f.input :r_appendages_syringing, wrapper_html: {},collection: ['Patent', 'Blocked'], :as => :hg_radio_button, :label => false,:required => false, :class => 'btn btn-xs btn-white r_appendages_syringing', :input_html => {:name => "opdrecord[r_appendages_syringing]" }, :checked => opdrecord.read_attribute(:r_appendages_syringing) || "Patent" %></span>
      </div>
  </div>
  <div class="col-md-12 col-sm-12 r-answersforappendages">
      <div class="col-md-3 col-sm-3">Comments</div>
      <div class="col-md-9 col-sm-9"> 
          <%= f.input :r_appendages_comments, :label => false, :required => false, :input_html => {:class => "form-control r_appendages_comments opdrecord_summernote", :name => "opdrecord[r_appendages_comments]", :style => "width:90%", :value => opdrecord.read_attribute(:r_appendages_comments) } %>
      </div>
  </div>

  <div class="col-md-12 col-sm-12 mb5 r-answersforappendages">
      <div class="r-appendages-diagram" id="r-appendages-diagram">
          <% if opdrecord['r_appendages_diagram_present'] == "Y" %>
              <%= render partial: "opd_records/ophthalmology_notes/opd_partials/edit_appendages_diagram", locals: { eyeside: "r", opdrecord: @opdrecord} %>
          <% else %>
              <%= render partial: "opd_records/ophthalmology_notes/opd_partials/new_appendages_diagram_modal", locals: { eyeside: "r"} %>
          <% end %>
      </div>
  </div>
</div>