<div class="step-pane <%= stepcount==1? "active" : "" %>" data-step="<%= stepcount %>">
  <div id="hg-sticky-anchor"></div>
  <div class="row mb5">
    <div class="col-md-12 col-sm-12">
      <div class="col-md-2 col-sm-2">Refraction Comments :</div>
      <div class="col-md-6 col-sm-6 refractioncommoncomment-input">
        <%= f.text_area :refractioncommoncomment, label: false, required: false, class: "form-control refractioncommoncomment", style: 'width: 90% !important; height: 75px !important;', name: "opdrecord[refractioncommoncomment]", size: "60", maxlength: "1000", value: opdrecord.read_attribute(:refractioncommoncomment)  %>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 r-eye-column" style="padding-left:1px; padding-right:1px;">
    <div class="panel panel-success r-eye-panel">
      <div class="panel-heading r-eye-panel-heading" style="padding: 2px;">
        <h4 class="panel-title r-eye-panel-title text-center" style="color:#FFF;">R / OD</h4>
      </div>
      <%= render partial: "opd_records/ophthalmology_notes/opd_partials/r_vision_refraction_examination.html.erb", locals: { f: f, opdrecord: @opdrecord } %>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 l-eye-column" style="padding-left:1px; padding-right:1px;">
    <div class="panel panel-success l-eye-panel">
      <div class="panel-heading l-eye-panel-heading" style="padding: 2px;">
        <h4 class="panel-title l-eye-panel-title text-center" style="color:#FFF;">L / OS</h4>
      </div>
      <%= render partial: "opd_records/ophthalmology_notes/opd_partials/l_vision_refraction_examination.html.erb", locals: { f: f, opdrecord: @opdrecord } %>
    </div>
  </div>
</div>

<style type="text/css">
  .editViewActivate_l, .editViewActivate_r {
    padding: 0 5px;
  }

  .anterior_text_style{
    padding: 6px;
    margin-bottom: 6px;
  }

  .circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-width: 5px;
    border-style: solid;
    border-color: #888 #aaa #888 #aaa;
    transform: rotate(0deg);
  }

  .centralize {
    margin-top: 40%;
    font-size: 28px;
  }

  .wide {
    width: 100px;
    height: 100px;
  }
  .buttontoggle-opdrecord {
    padding: inherit;
    margin-left: 5px;
    height: 20px;
    margin-top: -2px;
  }
  .buttontoggle-opdrecord-normal {
    padding: 0px 10px;
    margin-left: 5px;
    height: 20px;
    margin-top: -2px;
  }

</style>
