<div class="row mb20">
  <div class="col-xs-12">
    <div class="col-xs-5">
      <div class="title">
        <h5 style="color: #444;font-size: 17px;">Vital Signs</h5>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-2">
         <div class="form-group">
           <b>Temperature</b><br/>
           <div class="input-group">
             <%= f.number_field :vital_signs_temperature, { class: "form-control vital_signs_temperature", style: "height:30px;", value: opdrecord.read_attribute(:vital_signs_temperature) } %>
             <span class="input-group-addon">°C</span>
           </div>
         </div>
        </div>

        <div class="col-xs-2">
         <div class="form-group">
           <b>Pulse</b><br/>
           <div class="input-group">
            <%= f.number_field :vital_signs_pulse, { class: "form-control vital_signs_pulse", style: "height:30px;", value: opdrecord.read_attribute(:vital_signs_pulse) } %>
             <span class="input-group-addon">bpm</span>
           </div>
         </div>
        </div>

        <div class="col-xs-2">
         <div class="form-group">
           <b>Blood Pressure</b><br/>
           <div class="input-group">
             <%= f.text_field :vital_signs_bp, { class: "form-control vital_signs_bp", style: "height:30px;", value: opdrecord.read_attribute(:vital_signs_bp) } %>
             <span class="input-group-addon">mmHg</span>
           </div>
         </div>
        </div>

        <div class="col-xs-2">
          <div class="form-group">
            <b>RR</b><br/>
            <div class="input-group">
              <%= f.number_field :vital_signs_rr, { class: "form-control vital_signs_rr", style: "height:30px;", value: opdrecord.read_attribute(:vital_signs_rr) } %>
              <span class="input-group-addon">brpm</span>
            </div>
          </div>
        </div>

        <div class="col-xs-2">
          <div class="form-group">
            <b>SpO2</b><br/>
            <div class="input-group">
             <%= f.text_field :vital_signs_spo2, { class: "form-control vital_signs_spo2", style: "height:30px;width: 144px;", value: opdrecord.read_attribute(:vital_signs_spo2), onkeypress: 'return event.charCode >= 48 && event.charCode <= 57', min: "0", max: "100", :maxlength => 3 } %>
              <span class="input-group-addon">%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb20">
  <div class="col-xs-12">
    <div class="col-xs-5">
      <div class="tiitle">
        <h5 style="color: #444;font-size: 17px;">Anthropometry</h5>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-3">
          <div class="form-group">
            <b>Height</b><br/>
            <div class="input-group">
              <%= f.number_field :anthropometry_height, { class: "form-control anthropometry_height", style: "height:30px;", value: opdrecord.read_attribute(:anthropometry_height) } %>
              <span class="input-group-addon">cms</span>
            </div>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="form-group">
            <b>Weight</b><br/>
            <div class="input-group">
              <%= f.number_field :anthropometry_weight, { class: "form-control anthropometry_weight", style: "height:30px;", value: opdrecord.read_attribute(:anthropometry_weight) } %>
              <span class="input-group-addon">kg</span>
            </div>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="form-group">
            <b>BMI</b><br/>
            <div class="input-group">
              <%= f.number_field :anthropometry_bmi, { class: "form-control anthropometry_bmi", style: "height:30px;", value: opdrecord.read_attribute(:anthropometry_bmi) } %>
              <span class="input-group-addon">kg/m2</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb20">
  <div class="col-xs-12">
    <div class="col-xs-12">
      <div class="col-xs-2">
        <b>Comments:</b>
      </div>
      <div class="col-xs-10">
        <div class="row">
          <div class="col-xs-8">
            <div class="">
              <%= f.text_area :vital_signs_comments, { class: "form-control", style: 'width: 100%;', rows:3, value: opdrecord.read_attribute(:vital_signs_comments) } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if templatetype == "vitalsign" %>
  <style type="text/css">
    #MyWizard {
      border: none;
      box-shadow: none;
      background-color: transparent;
    }
  </style>
<% end %>

<script type="text/javascript">

</script>