<div class="modal-body">
  <%= simple_form_for :ipd_record, url: eval(@save_path), :remote => true, :html => { :class => "form-inline" } do |f| %>
      <div class="row mb10">
        <div class="col-md-2">Type of admission :</div>
        <%= f.input :type, wrapper_html: {:class=>'col-md-10'}, collection: ['Routine','Emergency'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[type]' }, :checked => 'Routine' %>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Date and time of Admission :</div>

      </div>
      <div class="row mb10">
        <div class="col-md-2">Location :</div>
        <%= f.input :facility_id, collection: @facilities.map { |facility| [facility.name, facility.id] },input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false,include_blank: false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Department :</div>
        <%= f.input :department_id, collection: @departments.map { |dept| [dept.name, dept.id] },input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false,include_blank: false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Consultant :</div>
        <%= f.input :user_id, collection: @users.map { |user| [user.fullname, user.id] },input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false,include_blank: false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Payment type :</div>
        <%= f.input :payment_type, wrapper_html: {:class=>'col-md-10'}, collection: ['Cash', 'Credit card', 'Debit card', 'Cashless', 'Reimbursement', 'Individual insurance-TPA', 'Company insurance-TPA', 'Corporate plan', 'Govt. scheme'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[payment_type]' } %>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Insurance Company :</div>
        <%= f.input :insurance_company,:label => false, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:required => false %>
      </div>
      <div class="row mb10">
        <div class="col-md-2">TPA :</div>
        <%= f.text_area :tpa, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Govt. scheme :</div>
        <%= f.text_area :govt_scheme, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Medico-legal case :</div>
        <%= f.input :legal_case, wrapper_html: {:class=>'col-md-10'}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[legal_case]', :checked => 'No'  } %>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Provisional diagnosis :</div>
        <%= f.text_area :provisional_diagnosis, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Expected length of stay :</div>
        <%= f.input :stay_length_estimate, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Expected date of discharge :</div>
      </div>
  <% end %>
</div>