<div class="modal-body">
  <%= simple_form_for :ipd_record, url: eval(@save_path), :remote => true, :html => { :class => "form-inline" } do |f| %>
      <div class="row mb10">
        <%= f.input :identification_band, wrapper_html: {:class=>'col-md-10'}, collection: ['Identification band given'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[identification_band]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :general_consent_obtained, wrapper_html: {:class=>'col-md-10'}, collection: ['General consent obtained'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[general_consent_obtained]' } %>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Details of hospital stay explained</div>
        <%= f.input :hospital_stay_itinerary, wrapper_html: {:class=>'col-md-10'}, collection: ['Rooms','Bathroom','Light controls','Television','Bed controls','Side rails','Visitors policy','No smoking policy','Waste management','Hospital dress','Patient information','Safety measures','Nurse call','Doctor call'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[general_consent_obtained]' } %>
      </div>

      <div class="row mb10">
        <div class="col-md-2">On-admission orders noted :</div>
        <%= f.text_area :admission_orders, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>

  <% end %>
</div>