<div class="modal-body">
  <%= simple_form_for :ipd_record, url: eval(@save_path), :remote => true, :html => { :class => "form-inline" } do |f| %>
      <div class="row mb10">
        <div class="col-md-2">Type of admission :</div>
        <%= f.input :type, wrapper_html: {:class=>'col-md-10'}, collection: ['Routine','Emergency'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[type]' }, :checked => 'Routine' %>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Date and time of Admission :</div>

      </div>
      <div class="row mb10">
        <div class="col-md-2">Location :</div>
        <%= f.input :facility_id, collection: @facilities.map { |facility| [facility.name, facility.id] },input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false,include_blank: false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Department :</div>
        <%= f.input :department_id, collection: @departments.map { |dept| [dept.name, dept.id] },input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false,include_blank: false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Consultant :</div>
        <%= f.input :user_id, collection: @users.map { |user| [user.fullname, user.id] },input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false,include_blank: false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Ward arrival time :</div>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Patient accompanied by relative :</div>
        <%= f.input :accompanied_by_relative, wrapper_html: {:class=>'col-md-10'}, collection: ['Yes','No'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[accompanied_by_relative]' } %>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Weight (kg) :</div>
        <%= f.input :weight, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Height (cms) :</div>
        <%= f.input :height, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Temperature (*F) :</div>
        <%= f.input :temperature, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Pulse (per min) :</div>
        <%= f.input :pulse, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2">BP (mm Hg) :</div>
        <%= f.input :bp, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Respiration (per min) :</div>
        <%= f.input :respiration, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Allergies :</div>
        <%= f.input :allergies, wrapper_html: {:class=>'col-md-10'}, collection: ['None', 'Medication','Food', 'Others'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[allergies]' } %>
      </div>
      <div class="row mb10">
        <div class="col-md-2">On admission :</div>
        <%= f.input :on_admission, wrapper_html: {:class=>'col-md-10'}, collection: ['Walking', 'Wheel-chair', 'Stretcher'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[on_admission]' } %>
      </div>
      <div class="row mb10">
        <div class="col-md-4">Ability to perform activities of daily living (ADL) :</div>
      </div>
      <div class="row mb10">
        <div class="col-md-1"></div>
        <div class="col-md-1">Bathing :</div>
        <%= f.input :bathing, wrapper_html: {:class=>'col-md-9'}, collection: ['Independent', 'Assisted', 'Dependent'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[bathing]' } %>
      </div>
      <div class="row mb10">
        <div class="col-md-1"></div>
        <div class="col-md-1">Dressing :</div>
        <%= f.input :dressing, wrapper_html: {:class=>'col-md-9'}, collection: ['Independent', 'Assisted', 'Dependent'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[dressing]' } %>
      </div>
      <div class="row mb10">
        <div class="col-md-1"></div>
        <div class="col-md-1">Eating :</div>
        <%= f.input :eating, wrapper_html: {:class=>'col-md-9'}, collection: ['Independent', 'Assisted', 'Dependent'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[eating]' } %>
      </div>
      <div class="row mb10">
        <div class="col-md-1"></div>
        <div class="col-md-1">Walking :</div>
        <%= f.input :walking, wrapper_html: {:class=>'col-md-9'}, collection: ['Independent', 'Assisted', 'Dependent'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[walking]' } %>
      </div>
      <div class="row mb10">
        <div class="col-md-1"></div>
        <div class="col-md-1">Toilet use :</div>
        <%= f.input :toilet_use, wrapper_html: {:class=>'col-md-9'}, collection: ['Independent', 'Assisted', 'Dependent'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[toilet_use]' } %>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Existing medications :</div>
        <%= f.text_area :existing_medications, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Diet needs :</div>
        <%= f.text_area :diet_needs, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Nursing needs :</div>
      </div>
      <div class="row mb10">
        <div class="col-md-1"></div>
        <div class="col-md-2">Does the patient require oxygen therapy? </div>
        <%= f.input :oxygen_therapy, wrapper_html: {:class=>'col-md-9'}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[oxygen_therapy]' }, :checked => 'No' %>
      </div>
      <div class="row mb10">
        <div class="col-md-1"></div>
        <div class="col-md-2">Is the patient in pain? </div>
        <%= f.input :is_patient_in_pain, wrapper_html: {:class=>'col-md-9'}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[is_patient_in_pain]' }, :checked => 'No' %>
      </div>
      <div class="row mb10">
        <div class="col-md-1"></div>
        <div class="col-md-2">Is the patient at risk for pressure ulcers? </div>
        <%= f.input :risk_of_pressure_ulcers, wrapper_html: {:class=>'col-md-9'}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[risk_of_pressure_ulcers]' }, :checked => 'No' %>
      </div>
      <div class="row mb10">
        <div class="col-md-1"></div>
        <div class="col-md-2">Does the patient have any artificial prosthesis/implant? </div>
        <%= f.input :artificial_prosthesis, wrapper_html: {:class=>'col-md-9'}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[artificial_prosthesis]' }, :checked => 'No' %>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Action planned :</div>
        <%= f.text_area :action_planned, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
  <% end %>
</div>