<div class="modal-body">
  <%= simple_form_for :ipdrecord, url: templates_save_ipd_record_path, :remote => true, method: :post, :html => { :class => "form-inline soapnote" } do |f| %>

      <%= render partial: "templates/common/ipdhiddenvariables", locals: { patient: @patient, templatetype: @templatetype, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, ipdrecord: @ipdrecord }  %> <!-- templateid: @templateid -->

      <div class="row mb10">
        <div class="col-md-2">Type of admission :</div>
        <%= f.input :type, wrapper_html: {:class=>'col-md-10'}, collection: ['Routine','Emergency'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipdrecord[type]' }, :checked => 'Routine' %>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Date of Admission :</div>
        <%= f.input :admissiondate, :label => false, :required => false, :input_html => {:class => "form-control", :name => "ipdrecord[admissiondate]", :size => "11", :maxlength => "11", :value => @ipdrecord.read_attribute(:admissiondate) } %>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Location :</div>
        <%= f.input :facility_id, collection: @facilities.map { |facility| [facility.name, facility.id] },input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false,include_blank: false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Department :</div>
        <%= f.input :department_id, collection: @departments.map { |dept| [dept.name, dept.id] },input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false,include_blank: false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Consultant :</div>
        <%= f.input :user_id, collection: @users.map { |user| [user.fullname, user.id] },input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false,include_blank: false%>
      </div>

      <ul class="nav nav-tabs nav-justified nav-dark">
        <li class="active"><a href="#hpi" data-toggle="tab"><strong>HPI</strong></a></li>
        <li class=""><a href="#examinationinvestigations" data-toggle="tab"><strong>Examination & Investigations</strong></a></li>
        <li class=""><a href="#careplan" data-toggle="tab"><strong>Care Plan</strong></a></li>
      </ul>

      <div class="tab-content">

        <div class="tab-pane active" id="hpi">

          <div class="row mb10">

            <div class="col-md-6">

              <div class="col-md-2">History of present illness (HPI) :</div>
              <%= f.input :hpi, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 80, :required => false, :name => "ipdrecord[hpi]", :value => @ipdrecord.read_attribute(:hpi) } %>

            </div>

            <div class="col-md-6">

              <div class="col-md-2">Past history :</div>
              <%= f.input :pasthistory, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 80, :required => false, :name => "ipdrecord[pasthistory]", :value => @ipdrecord.read_attribute(:pasthistory) } %>

            </div>

          </div>

          <div class="row mb10">

            <div class="col-md-6">

              <div class="col-md-2">Family history :</div>
              <%= f.input :familyhistory, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 80, :required => false, :name => "ipdrecord[familyhistory]", :value => @ipdrecord.read_attribute(:familyhistory) } %>

            </div>

            <div class="col-md-6">

              <div class="col-md-2">Personal/ social history :</div>
              <%= f.input :socialhistory, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 80, :required => false, :name => "ipdrecord[socialhistory]", :value => @ipdrecord.read_attribute(:socialhistory) } %>

            </div>

          </div>

          <div class="row mb10">

            <div class="col-md-6">

              <div class="col-md-2">Previous/ on-going medications :</div>
              <%= f.input :pastmedications, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 80, :required => false, :name => "ipdrecord[pastmedications]", :value => @ipdrecord.read_attribute(:pastmedications) } %>

            </div>

          </div>


        </div>

        <div class="tab-pane" id="examinationinvestigations">

          <div class="row mb10">

            <div class="col-md-6">

              <div class="col-md-2">General examination :</div>
              <%= f.input :generalexamination, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 80, :required => false, :name => "ipdrecord[generalexamination]", :value => @ipdrecord.read_attribute(:generalexamination) } %>

            </div>

            <div class="col-md-6">

              <div class="col-md-2">Local examination :</div>
              <%= f.input :localexamination, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 80, :required => false, :name => "ipdrecord[localexamination]", :value => @ipdrecord.read_attribute(:localexamination) } %>

            </div>

          </div>

          <div class="row mb10">
            <div class="col-md-12">Investigations done :</div>

            <div class="col-md-4">

              <div class="col-md-4">Laboratory :</div>
              <%= f.input :laboratory, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 65, :required => false, :name => "ipdrecord[laboratory]", :value => @ipdrecord.read_attribute(:laboratory) } %>

            </div>

            <div class="col-md-4">

              <div class="col-md-4">Radiology :</div>
              <%= f.input :radiology, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 65, :required => false, :name => "ipdrecord[radiology]", :value => @ipdrecord.read_attribute(:radiology) } %>

            </div>

            <div class="col-md-4">

              <div class="col-md-4">Others :</div>
              <%= f.input :otherinvestigations, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 65, :required => false, :name => "ipdrecord[otherinvestigations]", :value => @ipdrecord.read_attribute(:otherinvestigations) } %>

            </div>

          </div>

          <div class="row mb10">

            <div class="col-md-6">

              <div class="col-md-2">Provisional Diagnosis :</div>
              <%= f.input :provisionaldiagnosis, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 80, :required => false, :name => "ipdrecord[provisionaldiagnosis]", :value => @ipdrecord.read_attribute(:provisionaldiagnosis) } %>

            </div>

          </div>

        </div>

        <div class="tab-pane" id="careplan">

          <div class="row mb10">

            <div class="col-md-6">

              <div class="col-md-2">Investigations :</div>
              <%= f.input :investigations, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 6, :cols => 80, :required => false, :name => "ipdrecord[investigations]", :value => @ipdrecord.read_attribute(:investigations) } %>

            </div>

            <div class="col-md-6">

              <div class="col-md-2">Treatment :</div>
              <%= f.input :treatment, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 6, :cols => 80, :required => false, :name => "ipdrecord[treatment]", :value => @ipdrecord.read_attribute(:treatment) } %>

            </div>

          </div>

        </div>

      </div>

  <% end %>
</div>

<script>
    <%= render partial: "templates/ipd/common/admissionnote.js" %>
    <%= render partial: "templates/ipd/common/saveipdrecord.js" %>
</script>