<div class="modal-body">
  <%= simple_form_for :ipd_record, url: eval(@save_path), :remote => true, :html => { :class => "form-inline" } do |f| %>
      <div class="row mb10">
        <div class="col-md-2">At Hospital :</div>
        <%= f.input :at_hospital, input_html:{:class => 'form-control'}, wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Under Doctor :</div>
        <%= f.input :under_dr, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Speciality :</div>
        <%= f.input :speciality, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Reason for admission :</div>
        <%= f.text_area :reason, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Type of admission :</div>
        <%= f.input :type, wrapper_html: {:class=>'col-md-10'}, collection: ['Elective','Emergency'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[type]' }, :checked => 'Elective' %>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Admission to :</div>
        <%= f.input :admission_to, wrapper_html: {:class=>'col-md-10'}, collection: ['Ward', 'ICU', 'Day care'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[admission_to]' } %>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Type of room requested :</div>
        <%= f.input :room_type,:label => false, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:required => false %>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Remarks :</div>
        <%= f.text_area :remarks, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
<% end %>
</div>