<div class="modal-body">
  <%= render partial: "patients/partials/stylesheetincludes" %> <!-- Render common stylesheet includes template from partial -->

  <%= simple_form_for :ipd_record, url: eval(@save_path), :remote => true, :html => { :class => "form-inline" } do |f| %>

  <div class="text-center">
    <h4 class="nomargin">Consent for Surgery/ Procedure</h4>
  </div>
  <div class="mb20"></div>
  <p>I, <%= f.text_field :patient_name, {:maxlength => 30, :size => 30, :class => 'form-control drname', :placeholder => 'Patient name', :style => "width:auto;display:inline;" } %> authorize and consent to the performance of the following
    surgery/ procedure: <%= f.text_field :procedure_name, {:maxlength => 30, :size => 30, :class => 'form-control drname', :placeholder => 'Procedure name', :style => "width:auto;display:inline;" } %> to
    be performed by or under the direction of Dr. <%= f.text_field :doctor_name, {:maxlength => 30, :size => 30, :class => 'form-control drname', :placeholder => 'Doctor name', :style => "width:auto;display:inline;" } %> for
    treatment/ management of <%= f.text_field :diagnosis_name, {:maxlength => 30, :size => 30, :class => 'form-control drname', :placeholder => 'Diagnosis name', :style => "width:auto;display:inline;" } %> on
    <%= f.text_field :procedure_date, {:maxlength => 30, :size => 30, :class => 'form-control drname', :placeholder => 'dd-mm-yyyy', :style => "width:auto;display:inline;" } %></p>

  <p>I have been explained by the doctor that the known possible complications of the surgery/ procedure. <%= f.text_field :procedure_date, {:maxlength => 30, :size => 30, :class => 'form-control drname', :style => "width:auto;display:inline;" } %></p>
  <ul>
    <li>
      I have been fully explained about the kind of procedure the doctor will perform and she/ he has answered my
      questions about my condition and the procedure to my satisfaction. The doctor has also explained alternative
      methods of treatment to me and I give consent for the surgery/ procedure including the administration of blood or
      blood components if necessary, as a best means of trying to correct the condition.
    </li>
    <li>
      I further consent to the performance of any additional procedures during the course of my surgery/ procedure which
      the doctor or associates deem necessary to correct the existing condition or any other unhealthy condition which
      they may discover.

    </li>
    <li>
      I have been explained clearly that no medication/ investigation/ anesthesia/ operation/ therapy/ procedure/
      dialysis is totally safe and that such procedure/ anesthesia can pose a risk to life of a otherwise healthy person
      also.

    </li>
    <li>
      I consent to observing, recording or televising the procedure to be performed, including appropriate portions of
      the patient’s body, for medical, scientific or educational purpose, provided the patient’s identity is not
      revealed.

    </li>
    <li>
      I consent to disposal by hospital authorities of any tissue or part that may be removed during the surgery/
      procedure. The tissue removed shall be tested for histopathology.

    </li>
    <li>
      I have been explained the aforesaid and/ or the above written text has been read out to me in my preferred/ spoken
      language. I have understood the same and I given informed, written, valid consent.

    </li>
  </ul>

<% end %>
</div>