<div class="modal-body">
  <%= simple_form_for :ipdrecord, url: templates_save_ipd_record_path, :remote => true, method: :post, :html => { :class => "form-inline soapnote" } do |f| %>

      <%= render partial: "templates/common/ipdhiddenvariables", locals: { patient: @patient, templatetype: @templatetype, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, ipdrecord: @ipdrecord }  %> <!-- templateid: @templateid -->

      <div class="row mb5">
        <div class="col-md-3">
          <div class="col-md-5">Admission Date :</div>
          <div class="col-md-7">
            <%= f.input :admissiondate, :label => false, :required => false, :input_html => {:class => "form-control", :name => "ipdrecord[admissiondate]", :size => "11", :maxlength => "11", :value => @ipdrecord.read_attribute(:admissiondate) } %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="col-md-5">Surgery Date :</div>
          <div class="col-md-7">
            <%= f.input :surgerydate, :label => false, :required => false, :input_html => {:class => "form-control", :name => "ipdrecord[surgerydate]", :size => "11", :maxlength => "11", :value => @ipdrecord.read_attribute(:surgerydate) } %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="col-md-5">Discharge Date :</div>
          <div class="col-md-7">
            <%= f.input :dischargedate, :label => false, :required => false, :input_html => {:class => "form-control", :name => "ipdrecord[dischargedate]", :size => "11", :maxlength => "11", :value => @ipdrecord.read_attribute(:dischargedate) } %>
          </div>
        </div>

      </div>

      <div class="row mb5">
        <div class="col-md-6">
          <div class="col-md-2">Assessment :</div>
          <div class="col-md-10">
            <%= f.input :assessment, :label => false, :required => false, :input_html => {:class => "form-control", :name => "ipdrecord[assessment]", :size => "80", :maxlength => "100", :value => @ipdrecord.read_attribute(:assessment) } %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="col-md-2">Diagnosis :</div>
          <div class="col-md-10">
            <%= f.input :diagnosis, :label => false, :required => false, :input_html => {:class => "form-control", :name => "ipdrecord[diagnosis]", :size => "80", :maxlength => "100", :value => @ipdrecord.read_attribute(:diagnosis) } %>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-md-10">

          <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th width="20%" style="padding-top:0px;padding-bottom:0px;">Name</th>
              <th width="8%"  style="padding-top:0px;padding-bottom:0px;">Quantity</th>
              <th width="16%" style="padding-top:0px;padding-bottom:0px;">Frequency</th>
              <th width="20%" style="padding-top:0px;padding-bottom:0px;">Duration</th>
              <th width="22%" style="padding-top:0px;padding-bottom:0px;">Instruction</th>
              <th width="14%" style="padding-top:0px;padding-bottom:0px;"></th>
            </tr>
            </thead>
            <tbody class="medication-table-body">

            <% if @ipdrecord.has_treatmentmedication? %>

                <% @ipdrecord.treatmentmedication.each_with_index do |elem, i| %>
                    <tr class="treatmentmedications">

                      <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                        <div class="form-group">
                          <div class="input-group mb15">
                            <div class="ui-widget">
                              <%= text_field_tag "ipdrecord[treatmentmedication_attributes][#{i}][medicinename]", elem.medicinename, {:maxlength => 300, :size => 40, :class => 'form-control medicinename' } %>
                            </div>
                            <span id="medicinename-contents-<%= "#{i}" %>" class="btn btn-xs btn-success btn-square medicinename-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
                          </div>
                        </div>
                      </td>

                      <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                        <div class="form-group">
                          <div class="input-group mb15">
                            <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinetype]",elem.medicinetype, { :class => 'form-control medicinetype' } %>
                          </div>
                        </div>
                      </td>

                      <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                        <div class="form-group">
                          <div class="input-group mb15">
                            <%= select_tag "ipdrecord[treatmentmedication_attributes][#{i}][medicinequantity]", options_for_select(['1/4', '1/2', '1', '2', '3'], elem.medicinequantity), { :class => 'form-control medicinequantity' } %>
                          </div>
                        </div>
                      </td>

                      <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                        <div class="form-group">
                          <div class="input-group mb15">
                            <%= select_tag "ipdrecord[treatmentmedication_attributes][#{i}][medicinefrequency]", options_for_select([['Select', ''], '1-1-1', '1-1-0', '1-0-1', '0-1-1', '1-0-0', '0-1-0', '0-0-1', '1-1-1-1', '1-1-1-1-1', '1-1-1-1-1-1'], elem.medicinefrequency), { :class => 'form-control medicinefrequency'} %>
                          </div>
                        </div>
                      </td>

                      <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                        <div class="form-group">
                          <div class="input-group mb15">

                            <div class="row">

                              <div class="col-md-4">
                                <%= text_field_tag "ipdrecord[treatmentmedication_attributes][#{i}][medicineduration]", nil, {:maxlength => 2, :size => 2, :class => 'form-control medicineduration', :placeholder => "10" } %>
                              </div>

                              <div class="col-md-8">

                                <div class="col-md-4">
                                  <%= radio_button_tag "ipdrecord[treatmentmedication_attributes][#{i}][medicinedurationoption]", "D", true, { :class => 'form-control', :include_blank => true} %> <%= label_tag 'D' %>
                                </div>

                                <div class="col-md-4">
                                  <%= radio_button_tag "ipdrecord[treatmentmedication_attributes][#{i}][medicinedurationoption]", "W", false, { :class => 'form-control', :include_blank => true} %> <%= label_tag 'W' %>
                                </div>

                                <div class="col-md-4">
                                  <%= radio_button_tag "ipdrecord[treatmentmedication_attributes][#{i}][medicinedurationoption]", "M", false, { :class => 'form-control', :include_blank => true} %> <%= label_tag 'M' %>
                                </div>

                              </div>

                            </div>

                          </div>
                        </div>
                      </td>

                      <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                        <div class="form-group">
                          <div class="input-group mb15">
                            <%= text_field_tag "ipdrecord[treatmentmedication_attributes][#{i}][medicineinstructions]", elem.medicineinstructions, {:maxlength => 300, :size => 40, :class => 'form-control' } %>
                          </div>
                        </div>
                      </td>

                      <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">

                        <div class="form-group">
                          <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
                          <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger" href="javascript:;" name="removemedicationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
                        </div>

                      </td>

                    </tr>
                <% end %>

                <% counter = @ipdrecord.treatmentmedication.size %>

                <% ((counter + 1)..5).each_with_index do |elem, i| %>

                    <tr class="treatmentmedications">

                      <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                        <div class="form-group">
                          <div class="input-group mb15">
                            <div class="ui-widget">
                              <%= text_field_tag "ipdrecord[treatmentmedication_attributes][#{counter}][medicinename]", nil, {:maxlength => 300, :size => 40, :class => 'form-control medicinename' } %>
                            </div>
                            <span id="medicinename-contents-<%= "#{counter}" %>" class="btn btn-xs btn-success btn-square medicinename-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
                          </div>
                        </div>
                      </td>

                      <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                        <div class="form-group">
                          <div class="input-group mb15">
                            <%= text_field_tag "opdrecord[treatmentmedication_attributes][#{i}][medicinetype]",nil, { :class => 'form-control medicinetype' } %>
                          </div>
                        </div>
                      </td>

                      <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                        <div class="form-group">
                          <div class="input-group mb15">
                            <%= select_tag "ipdrecord[treatmentmedication_attributes][#{counter}][medicinequantity]", options_for_select(['1/4', '1/2', '1', '2', '3'], "1"), { :class => 'form-control medicinequantity' } %>
                          </div>
                        </div>
                      </td>

                      <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                        <div class="form-group">
                          <div class="input-group mb15">
                            <%= select_tag "ipdrecord[treatmentmedication_attributes][#{counter}][medicinefrequency]", options_for_select([['Select', ''], '1-1-1', '1-1-0', '1-0-1', '0-1-1', '1-0-0', '0-1-0', '0-0-1', '1-1-1-1', '1-1-1-1-1', '1-1-1-1-1-1'], ""), { :class => 'form-control medicinefrequency'} %>
                          </div>
                        </div>
                      </td>

                      <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                        <div class="form-group">
                          <div class="input-group mb15">

                            <div class="row">

                              <div class="col-md-4">
                                <%= text_field_tag "ipdrecord[treatmentmedication_attributes][#{counter}][medicineduration]", nil, {:maxlength => 2, :size => 2, :class => 'form-control medicineduration', :placeholder => "10" } %>
                              </div>

                              <div class="col-md-8">

                                <div class="col-md-4">
                                  <%= radio_button_tag "ipdrecord[treatmentmedication_attributes][#{counter}][medicinedurationoption]", "D", true, { :class => 'form-control', :include_blank => true} %> <%= label_tag 'D' %>
                                </div>

                                <div class="col-md-4">
                                  <%= radio_button_tag "ipdrecord[treatmentmedication_attributes][#{counter}][medicinedurationoption]", "W", false, { :class => 'form-control', :include_blank => true} %> <%= label_tag 'W' %>
                                </div>

                                <div class="col-md-4">
                                  <%= radio_button_tag "ipdrecord[treatmentmedication_attributes][#{counter}][medicinedurationoption]", "M", false, { :class => 'form-control', :include_blank => true} %> <%= label_tag 'M' %>
                                </div>

                              </div>

                            </div>

                          </div>
                        </div>
                      </td>

                      <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                        <div class="form-group">
                          <div class="input-group mb15">
                            <%= text_field_tag "ipdrecord[treatmentmedication_attributes][#{counter}][medicineinstructions]", nil, {:maxlength => 300, :size => 40, :class => 'form-control' } %>
                          </div>
                        </div>
                      </td>

                      <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">

                        <div class="form-group">
                          <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
                          <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger" href="javascript:;" name="removemedicationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
                        </div>

                      </td>

                    </tr>

                    <% counter = counter + 1 %>

                <% end %>

            <% else %>

            <% end %>


            </tbody>

          </table>

        </div>

        <div class="col-md-2">
        <!-- medication set dropdown -->
          <div class="medication_set_dropdown_wrapper">
            <input type="hidden" name="opd_ipd" value="[440654001,0,440654000]" id="find_in_set_type" class="find_in_set_type">
            <input type="hidden" class="selected_specialty" value="<%= @specalityid %>">
            <%= render partial: "templates/shared/medication_set_dropdown" %>
          </div>

          <label for="medicationsets-label">Medication Sets</label>
          <%= f.input :medicationsets, collection: MedicationKit.where(:user_id => current_user.id,level: "user"), input_html: { multiple: true, :size => '15', :style => 'height: 100%;', :class => 'form-control option_remover'}, as: :select,  :label => false,  :item_wrapper_class => 'form-control', :required => false %>

        </div>

      </div>

      <div class="row">

        <div class="col-md-8">

          <label for="comments-textarealabel">Medication Comments (free text)</label>
          <%= f.input :medicationcomments, as: :text,  :label => false, :required => false, :input_html => {:class => 'form-control', :rows => 2, :cols => 70, :required => false, :name => "ipdrecord[medicationcomments]", :value => @ipdrecord.read_attribute(:medicationcomments) } %>

        </div>

      </div>

      <div class="row">

        <div class="col-md-8">

          <label for="comments-textarealabel">Advice on Discharge (free text)</label>
          <%= f.input :adviceondischarge, as: :text,  :label => false, :required => false, :input_html => {:class => 'form-control', :rows => 2, :cols => 70, :required => false, :name => "ipdrecord[adviceondischarge]", :value => @ipdrecord.read_attribute(:adviceondischarge) } %>

        </div>

      </div>

  <% end %>
</div>

<script>
    <%= render partial: "templates/ipd/common/dischargenote.js" %>
    <%= render partial: "templates/ipd/common/saveipdrecord.js" %>
</script>