<div class="modal-body">
  <%= simple_form_for :ipd_record, url: eval(@save_path), :remote => true, :html => { :class => "form-inline" } do |f| %>
      <div class="row mb10">
        <div class="col-md-2">Diagnosis: opd wala diagnosis key</div>
      </div>
      <div class="row mb10">
        <%= f.text_area :comments, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Care Given :</div>
        <%= f.text_area :care_given, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Investigations :</div>
      </div>
      <div class="row mb10">
        <div class="col-md-2"></div>
        <div class="col-md-2">Laboratory :</div>
        <%= f.text_area :laboratory, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2"></div>
        <div class="col-md-2">Radiology :</div>
        <%= f.text_area :radiology, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2"></div>
        <div class="col-md-2">Others :</div>
        <%= f.text_area :others, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Treatment :</div>
        <%= f.input :treatment, wrapper_html: {:class=>'col-md-10'}, collection: ['Medical', 'Surgical'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[treatment]' } %>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Advice on Discharge :</div>
        <%= f.text_area :discharge_advice, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Others :</div>
        <%= f.text_area :others, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
<% end %>
</div>