<div class="modal-body">
  <%= simple_form_for :ipd_record, url: eval(@save_path), :remote => true, :html => { :class => "form-inline" } do |f| %>
      <div class="row mb10">
        <%= f.input :discharge_form_obtained, wrapper_html: {:class=>'col-md-10'}, collection: ['Discharge form obtained'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[discharge_form_obtained]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :discharge_intimation_given, wrapper_html: {:class=>'col-md-10'}, collection: ['Discharge intimation to Administration given'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[discharge_intimation_given]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :identification_band_removed, wrapper_html: {:class=>'col-md-10'}, collection: ['Identification band removed'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[identification_band_removed]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :tubes_removed, wrapper_html: {:class=>'col-md-10'}, collection: ['Intracath (iv) and other tubes removed'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[tubes_removed]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :discharge_summary_given, wrapper_html: {:class=>'col-md-10'}, collection: ['Discharge summary given and explained'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[discharge_summary_given]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :medications_explained, wrapper_html: {:class=>'col-md-10'}, collection: ['Correct dose and frequency of medications explained'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[medications_explained]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :dressing_explained, wrapper_html: {:class=>'col-md-10'}, collection: ['Wound dressing needs, if any, explained'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[dressing_explained]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :followup_process_explained, wrapper_html: {:class=>'col-md-10'}, collection: ['Process of follow-up visits and contact numbers explained'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[followup_process_explained]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :investigations_info, wrapper_html: {:class=>'col-md-10'}, collection: ['Information regarding investigations/ reports that are pending / to be done given'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[investigations_info]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :emergency_contact_explained, wrapper_html: {:class=>'col-md-10'}, collection: ['Whom and how to contact in case of emergency explained'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[emergency_contact_explained]' } %>
      </div>
  <% end %>
</div>