<div class="modal-body">

  <div class="row">

    <div class="col-md-2">

      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#admissionote" data-toggle="tab" style="padding:10px;">Admission Summary</a></li>
        <li><a href="#otnote" data-toggle="tab" style="padding:10px;">OT Summary</a></li>
        <li><a href="#dischargenote" data-toggle="tab" style="padding:10px;">Discharge Summary</a></li>
        <!-- <li><a href="#invoice" data-toggle="tab" style="padding:10px;">Invoice</a></li> -->
      </ul>

    </div>

    <div class="col-md-10">

      <div class="tab-content">

        <div class="tab-pane active" id="admissionote">
          <% ipdrecord_find_admissionnote = Inpatient::IpdRecord.find_by(:admission_id => @admission.id.to_s, :patient_id => @admission.patient.id.to_s, :template_type => "admissionnote") %>
          <div class="col-md-12">
            <% unless ipdrecord_find_admissionnote.nil? %>
              <div class="pull-right">
                <%= link_to inpatient_ipd_records_print_summary_path(:id => ipdrecord_find_admissionnote.id, :admission_id => @admission.id.to_s, :templatetype => "admissionnote", :format => :pdf), :class => "btn btn-primary", :target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> Print <% end %>
              </div>
            <% end %>
            <div class="opdsummary">
              <% unless ipdrecord_find_admissionnote.nil? %>
                <%= render partial: "inpatient/ipd_records/views/summary/ipd_common_view_summary", locals: { ipdrecord: ipdrecord_find_admissionnote, admission: @admission, patient: @admission.patient, tpa: @tpa, template_type: "admissionnote" } %>
              <% else %>
                <h3 class="text-center" style="padding-top:30px;">No Admission Summary</h3>
              <% end %>
            </div>

          </div>

        </div>

        <div class="tab-pane" id="otnote">
          <% ipdrecord_find_operativenote = Inpatient::IpdRecord.find_by(:admission_id => @admission.id.to_s, :patient_id => @admission.patient.id.to_s, :template_type => "operativenote") %>
          <div class="col-md-12">

            <% unless ipdrecord_find_operativenote.nil? %>
              <div class="pull-right">
                <%= link_to inpatient_ipd_records_print_summary_path(:id => ipdrecord_find_operativenote.id, :admission_id => @admission.id.to_s, :templatetype => "operativenote", :format => :pdf), :class => "btn btn-primary", :target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> Print <% end %>
              </div>
            <% end %>
            <div class="opdsummary">
              <% unless ipdrecord_find_operativenote.nil? %>
                <%= render partial: "inpatient/ipd_records/views/summary/ipd_common_view_summary", locals: { ipdrecord: ipdrecord_find_operativenote, admission: @admission, patient: @admission.patient, tpa: @tpa, template_type: "operativenote" } %>
              <% else %>
                <h3 class="text-center" style="padding-top:30px;">No Operative Summary</h3>
              <% end %>

            </div>

          </div>

        </div>

        <div class="tab-pane" id="dischargenote">
          <% ipdrecord_find_dischargenote = Inpatient::IpdRecord.find_by(:admission_id => @admission.id.to_s, :patient_id => @admission.patient.id.to_s, :template_type => "dischargenote") %>
          <div class="col-md-12">

            <% unless ipdrecord_find_dischargenote.nil? %>
              <div class="pull-right">
                <%= link_to inpatient_ipd_records_print_summary_path(:id => ipdrecord_find_dischargenote.id, :admission_id => @admission.id.to_s, :templatetype => "dischargenote", :format => :pdf), :class => "btn btn-primary", :target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> Print <% end %>
              </div>
            <% end %>

            <div class="opdsummary">
              <% unless ipdrecord_find_dischargenote.nil? %>
                <%= render partial: "inpatient/ipd_records/views/summary/ipd_common_view_summary", locals: { ipdrecord: ipdrecord_find_dischargenote, admission: @admission, patient: @admission.patient, tpa: @tpa, template_type: "dischargenote" } %>
              <% else %>
                <h3 class="text-center" style="padding-top:30px;">No Discharge Summary</h3>
              <% end %>

            </div>

          </div>

        </div>
        <% if false %>
          <div class="tab-pane" id="invoice">
            <% invoice_discharge = Invoice::Ipd.find_by(:admission_id => @admission.id.to_s) %>
            <div class="col-md-12">
              <% if !invoice_discharge.nil? %>
                <div class="pull-right"> <!-- Action Buttons starts -->
                  <%= link_to invoice_invoices_print_all_path(:patient_id => @admission.patient.id.to_s, :admission_id => @admission.id.to_s, :invoice_id => @invoice.id.to_s,:format => :pdf), :class => "btn btn-primary", :target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> Print Receipts <% end %>
                </div>
              <%end%>
              <div class="opdsummary_invoice" style="width:85%">
                <% if !invoice_discharge.nil? %>
                  <%=render 'invoices/print_all_invoices'%>
                <% else %>
                  <h3 class="text-center">No Receipts</h3>
                <% end %>
              </div>

            </div>

          </div>
        <% end %>

      </div>

    </div>

  </div>

</div>

<script>
    jQuery(document).ready(function() {


    });
</script>
<style type="text/css">
  .opdsummary {
    box-shadow: 0 0 6px #ccc;
    max-width: 90%;
    padding: 0 0.400000in 0 0.550000in;
    font-family: 'Open Sans';
    min-height: 100px;
  }
</style>