<style type="text/css" media="all">
    .print-template {
      font-family: Open Sans;
      font-size: 8pt;
      color: #333;
      background:  #fff;
      box-shadow: 0 0 6px #ccc;
      max-width: 800px;
      padding: 0 0.4in 0 0.55in;
      font-family: 'Open Sans';
    }
    #patientinfo {
      border: none;
      margin-top: 15px; 
    }

    .pcs-entity-title {
        margin-top: 5px;
        font-size: 9pt;
        color: #333;
    }
    .med-table-head {
      font-size: 8pt;
      padding: 5px 10px !important;
      background-color: #eff0f1 !important;
      font-weight: 400;
    }

    .med-table-content {
      padding: 10px !important;
      background-color: #fff !important;
    }
</style>

<div class="print-template">
  <br><div class="pcs-entity-title"><span>Discharge Note</span></div>
  <div class="patientinfo mb10" id="patientinfo" style="font-size:8pt;margin-top:20px;margin-left:20px;">

    <div class="row">
      <div class="col-md-6">
        <span><b><%= patient.fullname %></b></span><br>
        <% if patient.age? || patient.gender? %><span><% if patient.age? %><%= patient.age %><% end %><% if patient.gender == 'Male' %>/M<% end %><% if patient.gender == 'Female' %>/F)<% end %></span><br><% end %>
        <span><%= PatientIdentifier.find_by(:patient_id => patient.id, :organisation_id => current_user.organisation_id).try(:patient_org_id) %></span><br>
        <span><%= patient.mobilenumber %></span>
      </div>
      <div class="col-md-6 text-right">
        <span><b>Dr. <%= User.find_by(id: @admission.doctor).fullname %></b></span><br>
        <% unless User.find_by(id: @admission.doctor).designation.nil? %><span><%= User.find_by(id: @admission.doctor).designation %></span><br><% end %>
        <span><%= @admission.display_id %></span><br>
        <span><%= @admission.admissiontime.strftime("%d-%m-%y") %></span>
      </div>
    </div>

  </div>
  <hr>
  <div class="dischargenote mb5" id="dischargenote">
  
    <div class="row">
      <div class="col-md-4">
        <% unless @ipdrecord_discharge.admissiondate.blank? %>
            <span style="font-weight:bold"><i>Admission Date : </i></span>
            <%= @ipdrecord_discharge.read_attribute(:"admissiondate") %>
        <% end %>
      </div>
      <div class="col-md-4">
        <% unless @ipdrecord_discharge.surgerydate.blank? %>
            <span style="font-weight:bold"><i>Surgery Date : </i></span>
            <%= @ipdrecord_discharge.read_attribute(:"surgerydate") %>
        <% end %>
      </div>
      <div class="col-md-4">
        <% unless @ipdrecord_discharge.dischargedate.blank? %>
            <span style="font-weight:bold"><i>Discharge Date : </i></span>
            <%= @ipdrecord_discharge.read_attribute(:"dischargedate") %>
        <% end %>
      </div>
      <br>
      <div class="col-md-6">
        <% unless @ipdrecord_discharge.assessment.blank? %>
            <% if @ipdrecord_discharge.assessment.length > 0 %>
                <span style="font-weight:bold"><i>Assessment : </i></span>
                <%= @ipdrecord_discharge.read_attribute(:"assessment") %>
            <% end %>
        <% end %>
      </div>
      <div class="col-md-6">
        <% unless @ipdrecord_discharge.diagnosis.blank? %>
            <% if @ipdrecord_discharge.diagnosis.length > 0 %>
                <span style="font-weight:bold"><i>Diagnosis : </i></span>
                <%= @ipdrecord_discharge.read_attribute(:"diagnosis") %>
                <div class="mb3"></div>
            <% end %>
        <% end %>
      </div>
    </div>

  </div>


  <div class="medication mb5" id="medication">

    <% if @ipdrecord_discharge.has_treatmentmedication? %>

        <div class="row">
          <div class="pcs-entity-title"><span>Medication</span></div>
        </div>

        <div class="row">
          <table class="table table-striped table-bordered">
          <% if @ipdrecord.specialty_id == "309988001" %>
            <thead style="background-color: #7989BB;">
            <tr>
              <th width="3%" class="med-table-head">#</th>
              <th width="25%" class="med-table-head">Name</th>
              <th width="15%" class="med-table-head">Type</th>
              <th width="3%" class="med-table-head">Quantity</th>
              <th width="10%" class="med-table-head">Frequency</th>
              <th width="10%" class="med-table-head">Duration</th>
              <th width="20%" class="med-table-head">Directions for use</th>
            </tr>
            </thead>
            <tbody class="medication-table-body">

            <% @ipdrecord_discharge.treatmentmedication.each_with_index do |elem, i|  %>

                <tr class="treatmentmedications">

                  <td class="pcs-item-row" style="padding: 15px 5px;word-wrap: break-word;text-align: center;" valign="top">
                    <%= (i.to_i + 1) %>.
                  </td>
                  <td class="pcs-item-row" style="padding: 15px 0px 15px 10px;" valign="top">
                    <%= elem.medicinename %>
                  </td>
                  <td class="pcs-item-row" style="padding: 15px 0px 15px 10px;" valign="top">
                    <%= elem.medicinetype %>
                  </td>
                  <td class="pcs-item-row" style="padding: 15px 10px 15px 10px;word-wrap: break-word;" valign="top">
                   <%= elem.medicinequantity %>
                  </td>
                  <td class="pcs-item-row" style="padding: 15px 10px 15px 10px;word-wrap: break-word;" valign="top">
                    <% unless elem.medicinefrequency == "SOS" %>
                      <%= ActionController::Base.helpers.pluralize(elem.medicinefrequency, ' time a day', ' times a day') %>
                    <% else %>
                      <%= elem.medicinefrequency %>
                    <% end %>
                  </td>
                  <td class="pcs-item-row" style="padding: 15px 10px 15px 5px;word-wrap: break-word;" valign="top">
                    <% if elem.medicinedurationoption == "D" %>
                        <%= ActionController::Base.helpers.pluralize(elem.medicineduration, ' Day', ' Days') %>
                    <% elsif elem.medicinedurationoption == "W" %>
                        <%= ActionController::Base.helpers.pluralize(elem.medicineduration, ' Week', ' Weeks') %>
                    <% elsif elem.medicinedurationoption == "M" %>
                        <%= ActionController::Base.helpers.pluralize(elem.medicineduration, ' Month', ' Months') %>
                    <% elsif elem.medicinedurationoption == "F" %>
                        Till next followup
                    <% end %>
                  </td>
                  <td class="pcs-item-row" style="padding: 15px 10px 15px 10px;word-wrap: break-word;" valign="top">
                    <%= elem.medicineinstructions %>
                  </td>

                </tr>

            <% end %>

            </tbody>
          <% else %>
            <thead style="background-color: #7989BB;">
            <tr>
              <th width="3%" class="med-table-head">#</th>
              <th width="25%" class="med-table-head">Name</th>
              <th width="15%" class="med-table-head">Type</th>
              <th width="3%" class="med-table-head">Quantity</th>
              <th width="10%" class="med-table-head">Frequency</th>
              <th width="10%" class="med-table-head">Duration</th>
              <th width="20%" class="med-table-head">Directions for use</th>
            </tr>
            </thead>
            <tbody class="medication-table-body">

            <% @ipdrecord_discharge.treatmentmedication.each_with_index do |elem, i|  %>

                <tr class="treatmentmedications">

                  <td class="pcs-item-row" style="padding: 15px 5px;word-wrap: break-word;text-align: center;" valign="top">
                    <%= (i.to_i + 1) %>.
                  </td>
                  <td class="pcs-item-row" style="padding: 15px 0px 15px 10px;" valign="top">
                    <%= elem.medicinename %>
                  </td>
                  <td class="pcs-item-row" style="padding: 15px 0px 15px 10px;" valign="top">
                    <%= elem.medicinetype %>
                  </td>
                  <td class="pcs-item-row" style="padding: 15px 10px 15px 10px;word-wrap: break-word;" valign="top">
                   <%= elem.medicinequantity %>
                  </td>
                  <td class="pcs-item-row" style="padding: 15px 10px 15px 10px;word-wrap: break-word;" valign="top">
                    <%= elem.medicinefrequency %>
                  </td>
                  <td class="pcs-item-row" style="padding: 15px 10px 15px 5px;word-wrap: break-word;" valign="top">
                    <% if elem.medicinedurationoption == "D" %>
                        <%= ActionController::Base.helpers.pluralize(elem.medicineduration, ' Day', ' Days') %>
                    <% elsif elem.medicinedurationoption == "W" %>
                        <%= ActionController::Base.helpers.pluralize(elem.medicineduration, ' Week', ' Weeks') %>
                    <% elsif elem.medicinedurationoption == "M" %>
                        <%= ActionController::Base.helpers.pluralize(elem.medicineduration, ' Month', ' Months') %>
                    <% elsif elem.medicinedurationoption == "F" %>
                        Till next followup
                    <% end %>
                  </td>
                  <td class="pcs-item-row" style="padding: 15px 10px 15px 10px;word-wrap: break-word;" valign="top">
                    <%= elem.medicineinstructions %>
                  </td>

                </tr>

            <% end %>

            </tbody>


          <% end %>
          </table>
        </div>

    <% end %>

  </div>

  <div class="advice mb5" id="advice">

    <div class="row">

      <% unless @ipdrecord_discharge.medicationcomments.blank? %>
          <% if @ipdrecord_discharge.medicationcomments.length > 0 %>
              <span style="font-weight:bold"><i>Comments : </i></span>
              <%= @ipdrecord_discharge.read_attribute(:"medicationcomments") %>
              <div class="mb3"></div>
          <% end %>
      <% end %>

      <% unless @ipdrecord_discharge.adviceondischarge.blank? %>
          <% if @ipdrecord_discharge.adviceondischarge.length > 0 %>
              <span style="font-weight:bold"><i>Advice on Discharge : </i></span>
              <%= @ipdrecord_discharge.read_attribute(:"adviceondischarge") %>
              <div class="mb3"></div>
          <% end %>
      <% end %>

    </div>
    <br>
  </div>
</div>