<div class="modal-body">

  <%= render partial: "templates/ipd/common/ipd_summary_form_actions", locals: { patient: @patient, ipdrecord: @ipdrecord, :admission => @admission, :templatetype => @templatetype } %>

  <div class="row">

    <div class="col-md-12">

      <div class="ipdsummary-otnote">

        <%= render partial: "templates/ipd/common/ipd_summary_form_patientinfo", locals: { patient: @patient, ipdrecord: @ipdrecord, admission: @admission } %>

        <% if @templatetype == "operativenote" %>
            <%= render partial: "templates/ipd/common/ipd_summary_otnote_form", locals: { patient: @patient, ipdrecord: @ipdrecord, admission: @admission } %>
        <% elsif @templatetype == "dischargenote" %>
            <%= render partial: "templates/ipd/common/ipd_summary_dischargenote_form", locals: { patient: @patient, ipdrecord: @ipdrecord, admission: @admission } %>
        <% elsif @templatetype == "admissionnote" %>
            <%= render partial: "templates/ipd/common/ipd_summary_admissionnote_form", locals: { patient: @patient, ipdrecord: @ipdrecord, admission: @admission } %>
        <% end %>

      </div>

    </div>

  </div>

</div>

<script>
    jQuery(document).ready(function() {


    });
</script>
