<!--style_start-->
<style type="text/css" media="all">
    .print-template {
      font-family: Open Sans;
      font-size: 8pt;
      color: #333;
      background:  #fff;
      box-shadow: 0 0 6px #ccc;
      max-width: 800px;
      padding: 0 0.4in 0 0.55in;
      font-family: 'Open Sans';
    }
    #patientinfo {
      border: none;
      margin-top: 15px; 
    }

    .pcs-entity-title {
        margin-top: 5px;
        font-size: 12pt;
        color: #333;
        text-align: center;
    }
    .hpi-ei-cp-title {
      border-bottom: 1px solid #000;
      margin-top: 10px;
    }

    li {
      list-style-type: circle;
    }
</style>
<!--style_end-->
<div class="print-template">
  <br><div class="pcs-entity-title"><span>OT Note</span></div>
  <div class="patientinfo mb10" id="patientinfo" style="font-size:8pt;margin-top:20px;margin-left:20px;">

    <div class="row">
      <div class="col-md-6">
        <span><b><%= patient.fullname %></b></span><br>
        <% if patient.age? || patient.gender? %><span><% if patient.age? %><%= patient.age %><% end %><% if patient.gender == 'Male' %>/M<% end %><% if patient.gender == 'Female' %>/F)<% end %></span><br><% end %>
        <span><%= PatientIdentifier.find_by(:patient_id => patient.id, :organisation_id => current_user.organisation_id).try(:patient_org_id) %></span><br>
        <span><%= patient.mobilenumber %></span>
      </div>
      <div class="col-md-6 text-right">
        <span><b>Dr. <%= User.find_by(id: @admission.doctor).fullname %></b></span><br>
        <% unless User.find_by(id: @admission.doctor).designation.nil? %><span><%= User.find_by(id: @admission.doctor).designation %></span><br><% end %>
        <span><%= @admission.display_id %></span><br>
        <span><%= @admission.admissiontime.strftime("%d-%m-%y") %></span>
      </div>
    </div>

  </div>
  <hr>
  <div class="row">

    <div class="col-md-4">
      <% unless @ipdrecord_operative.admissiondate.blank? %>
        <i style="font-weight:bold;">Admission Date : </i>
        <%= @ipdrecord_operative.read_attribute(:"admissiondate") %>
        <div class="mb3"></div>
      <% end %>
    </div>

    <div class="col-md-4">
      <% unless @ipdrecord_operative.surgerytype.blank? %>
        <i style="font-weight:bold;">Type of Surgery : </i>
        <%= @ipdrecord_operative.read_attribute(:"surgerytype") %>
        <div class="mb3"></div>
      <% end %>
    </div>

    <div class="col-md-4">
      <% unless @ipdrecord_operative.anesthesia.blank? %>
        <i style="font-weight:bold;">Anesthesia : </i>
        <%= @ipdrecord_operative.read_attribute(:"anesthesia") %>
        <div class="mb3"></div>
      <% end %>
    </div>
  </div>
  <div class="row">

    <div class="col-md-6">
      <% unless @ipdrecord_operative.diagnosis.blank? %>
          <% if @ipdrecord_operative.diagnosis.length > 0 %>
              <i style="font-weight:bold;">Diagnosis : </i>
              <%= @ipdrecord_operative.read_attribute(:"diagnosis") %>
              <div class="mb3"></div>
          <% end %>
      <% end %>
    </div>
    <!-- <div class="col-md-6">
      <% unless @ipdrecord_operative.assessment.blank? %>
          <% if @ipdrecord_operative.assessment.length > 0 %>
              <i style="font-weight:bold;">Assessment : </i>
              <%= @ipdrecord_operative.read_attribute(:"assessment") %>
              <div class="mb3"></div>
          <% end %>
      <% end %>
    </div> -->
    <div class="col-md-6">
      <% unless @ipdrecord_operative.procedurename.blank? %>
          <% if @ipdrecord_operative.procedurename.length > 0 %>
              <i style="font-weight:bold;">Procedure Name : </i>
              <%= @ipdrecord_operative.read_attribute(:"procedurename") %>
              <div class="mb3"></div>
          <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
      <div class="col-md-4" style="margin-top:10px;">
      <% if !@ipdrecord_operative.surgeon1.blank? || !@ipdrecord_operative.surgeon2.blank? || !@ipdrecord_operative.surgeon3.blank? %>
        <i style="font-weight:bold;">Surgeons : </i>
      <% end %>
        <ul>
          <% unless @ipdrecord_operative.surgeon1.blank? %>
            <% if @ipdrecord_operative.surgeon1.length > 0 %>
               <li><%= @ipdrecord_operative.read_attribute(:"surgeon1") %></li>
            <% end %>
          <% end %>
          <% unless @ipdrecord_operative.surgeon2.blank? %>
            <% if @ipdrecord_operative.surgeon2.length > 0 %>
               <li><%= @ipdrecord_operative.read_attribute(:"surgeon2") %></li>
            <% end %>
          <% end %>
          <% unless @ipdrecord_operative.surgeon3.blank? %>
            <% if @ipdrecord_operative.surgeon3.length > 0 %>
               <li><%= @ipdrecord_operative.read_attribute(:"surgeon3") %></li>
            <% end %>
          <% end %>
        </ul>
        <div class="mb3"></div>
      </div>
      <div class="col-md-4" style="margin-top:10px;">
        <% if !@ipdrecord_operative.anesthetist1.blank? || !@ipdrecord_operative.anesthetist2.blank? || !@ipdrecord_operative.anesthetist3.blank? %>
          <i style="font-weight:bold;">Anesthetists : </i>
        <% end %>
        <ul>
          <% unless @ipdrecord_operative.anesthetist1.blank? %>
            <% if @ipdrecord_operative.anesthetist1.length > 0 %>
               <li><%= @ipdrecord_operative.read_attribute(:"anesthetist1") %></li>
            <% end %>
          <% end %>
          <% unless @ipdrecord_operative.anesthetist2.blank? %>
            <% if @ipdrecord_operative.anesthetist2.length > 0 %>
               <li><%= @ipdrecord_operative.read_attribute(:"anesthetist2") %></li>
            <% end %>
          <% end %>
          <% unless @ipdrecord_operative.anesthetist3.blank? %>
            <% if @ipdrecord_operative.anesthetist3.length > 0 %>
               <li><%= @ipdrecord_operative.read_attribute(:"anesthetist3") %></li>
            <% end %>
          <% end %>
        </ul>
        <div class="mb3"></div>
      </div>
      <div class="col-md-4" style="margin-top:10px;">
        <% if !@ipdrecord_operative.theatrestaff1.blank? || !@ipdrecord_operative.theatrestaff2.blank? || !@ipdrecord_operative.theatrestaff3.blank? %>
          <i style="font-weight:bold;">Theatre Staff : </i>s
        <% end %>
        <ul>
          <% unless @ipdrecord_operative.theatrestaff1.blank? %>
            <% if @ipdrecord_operative.theatrestaff1.length > 0 %>
               <li><%= @ipdrecord_operative.read_attribute(:"theatrestaff1") %></li>
            <% end %>
          <% end %>
          <% unless @ipdrecord_operative.theatrestaff2.blank? %>
            <% if @ipdrecord_operative.theatrestaff2.length > 0 %>
               <li><%= @ipdrecord_operative.read_attribute(:"theatrestaff2") %></li>
            <% end %>
          <% end %>
          <% unless @ipdrecord_operative.theatrestaff3.blank? %>
            <% if @ipdrecord_operative.theatrestaff3.length > 0 %>
               <li><%= @ipdrecord_operative.read_attribute(:"theatrestaff3") %></li>
            <% end %>
          <% end %>
        </ul>
        <div class="mb3"></div>
      </div>
    </div>
    <div class="row" style="margin-top:10px;">
      <div class="col-md-6">
      <% unless @ipdrecord_operative.preoperativestatus.blank? %>
          <% if @ipdrecord_operative.preoperativestatus.length > 0 %>
              <i style="font-weight:bold;">Pre-Op Status : </i>
              <%= @ipdrecord_operative.read_attribute(:"preoperativestatus") %>
              <div class="mb3"></div>
          <% end %>
      <% end %>
      </div>
      <div class="col-md-6">
      <% unless @ipdrecord_operative.procedurefindings.blank? %>
          <% if @ipdrecord_operative.procedurefindings.length > 0 %>
              <i style="font-weight:bold;">Procedure Findings : </i>
              <%= @ipdrecord_operative.read_attribute(:"procedurefindings") %>
              <div class="mb3"></div>
          <% end %>
      <% end %>
      </div>
      <div class="col-md-12">
      <% unless @ipdrecord_operative.procedurenote.blank? %>
          <% if @ipdrecord_operative.procedurenote.length > 0 %>
              <i style="font-weight:bold;">Procedure Note : </i>
              <%= @ipdrecord_operative.read_attribute(:"procedurenote").html_safe() %>
              <div class="mb3"></div>
          <% end %>
      <% end %>
      </div>
      <div class="col-md-12">
      <% unless @ipdrecord_operative.additionalprocedure.blank? %>
          <% if @ipdrecord_operative.additionalprocedure.length > 0 %>
              <i style="font-weight:bold;">Additional Information : </i>
              <%= @ipdrecord_operative.read_attribute(:"additionalprocedure").html_safe() %>
              <div class="mb3"></div>
          <% end %>
      <% end %>
      </div>
    </div>
  <br>
  <br>
</div>