<div class="modal-body">
  <%= simple_form_for :ipd_record, url: eval(@save_path), :remote => true, :html => { :class => "form-inline" } do |f| %>
      <div class="row mb10">
        <div class="col-md-2">Language Barrier :</div>
        <%= f.input :language_barrier, wrapper_html: {:class=>'col-md-10'}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[language_barrier]' } %>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Ability to perform ADLs :</div>
        <%= f.input :ability_to_perform_adls, wrapper_html: {:class=>'col-md-10'}, collection: ['Independent','Partially dependent','Dependent'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[ability_to_perform_adls]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :education_of_disease, wrapper_html: {:class=>'col-md-10'}, collection: ['Education of Disease, Condition and  Care process'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[education_of_disease]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :medication_management, wrapper_html: {:class=>'col-md-10'}, collection: ['Medication management'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[medication_management]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :management_of_complications, wrapper_html: {:class=>'col-md-10'}, collection: ['Prevention and management of complications'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[management_of_complications]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :process_of_informed_consent, wrapper_html: {:class=>'col-md-10'}, collection: ['Process of informed consent'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[process_of_informed_consent]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :expected_length_of_stay, wrapper_html: {:class=>'col-md-10'}, collection: ['Expected length of stay'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[expected_length_of_stay]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :nursing_care, wrapper_html: {:class=>'col-md-10'}, collection: ['Nursing care'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[nursing_care]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :safety_precautions, wrapper_html: {:class=>'col-md-10'}, collection: ['Safety precautions including fall prevention measures'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[safety_precautions]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :infection_risks, wrapper_html: {:class=>'col-md-10'}, collection: ['Infection risks- Barrier nursing'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[infection_risks]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :use_of_medical_equipment, wrapper_html: {:class=>'col-md-10'}, collection: ['Use of medical equipment, supplies and devices'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[use_of_medical_equipment]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :bedside_nursing_care_procedures, wrapper_html: {:class=>'col-md-10'}, collection: ['Bedside nursing care procedures'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[bedside_nursing_care_procedures]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :patients_responsibilities, wrapper_html: {:class=>'col-md-10'}, collection: ['Patients rights and responsibilities'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[patients_responsibilities]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :patient_information_material, wrapper_html: {:class=>'col-md-10'}, collection: ['Patient information material'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[patient_information_material]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :patient_feedback_mechanism, wrapper_html: {:class=>'col-md-10'}, collection: ['Patient feedback mechanism'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[patient_feedback_mechanism]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :psychological_assessment, wrapper_html: {:class=>'col-md-10'}, collection: ['Psychological assessment'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[psychological_assessment]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :nutritional_screening, wrapper_html: {:class=>'col-md-10'}, collection: ['Nutritional screening- Diet counseling'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[nutritional_screening]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :physiotherapy, wrapper_html: {:class=>'col-md-10'}, collection: ['Physiotherapy'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[physiotherapy]' } %>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Patient/ Relative response :</div>
        <%= f.input :patient_response, wrapper_html: {:class=>'col-md-10'}, collection: ['Asked questions','Verbalized understanding', 'Resistant to information', 'Denies need for education'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[patient_response]' } %>
      </div>
  <% end %>
</div>