<div class="modal-body">
  <%= simple_form_for :ipd_record, url: eval(@save_path), :remote => true, :html => { :class => "form-inline" } do |f| %>
      <div class="row mb10">
        <div class="col-md-2">NBM since :</div>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Vital signs :</div>
      </div>
      <div class="row mb10">
        <div class="col-md-2"></div>
        <div class="col-md-2">Temperature (*F) :</div>
        <%= f.text_area :temperature, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2"></div>
        <div class="col-md-2">Pulse (per min) :</div>
        <%= f.text_area :pulse, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2"></div>
        <div class="col-md-2">BP (mm Hg) :</div>
        <%= f.text_area :bp, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2"></div>
        <div class="col-md-2">Respiration (per min) :</div>
        <%= f.text_area :respiration, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2"></div>
        <div class="col-md-2">BSL (mg/dl) :</div>
        <%= f.text_area :bsl, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2"></div>
        <div class="col-md-2">SpO2 (%) :</div>
        <%= f.text_area :spO2, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <%= f.input :urine_passed, wrapper_html: {:class=>'col-md-10'}, collection: ['Urine passed','Catheterized'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[urine_passed]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :bowel_preparation_done, wrapper_html: {:class=>'col-md-10'}, collection: ['Bowel preparation done'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[bowel_preparation_done]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :anti_microbial_bath_cleansing_done, wrapper_html: {:class=>'col-md-10'}, collection: ['Anti-microbial bath-cleansing done'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[anti_microbial_bath_cleansing_done]' } %>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Pre-operative medications administered :</div>
        <%= f.text_area :pre_operative_medications_administered, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <%= f.input :skin_preparation_clipping_done, wrapper_html: {:class=>'col-md-10'}, collection: ['Skin preparation-Clipping done'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[skin_preparation_clipping_done]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :things_removed, wrapper_html: {:class=>'col-md-10'}, collection: ['Dentures removed', 'hearing aid removed', 'Contact lenses-glasses removed'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[things_removed]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :nail_polish_removed, wrapper_html: {:class=>'col-md-10'}, collection: ['Nail polish removed','Jewelry removed'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[nail_polish_removed]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :blood_group, wrapper_html: {:class=>'col-md-10'}, collection: ['Blood group and Rh typing done', 'Cross matching done'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[blood_group]' } %>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Blood units reserved :</div>
        <%= f.input :blood_units_reserved, wrapper_html: {:class=>'col-md-10'}, collection: ['None', 'Whole blood', 'PRBC', 'Cryoprecipitate', 'FFP','Platelets', 'Granulocytes', 'Rhogam'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[blood_units_reserved]' } %>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Negative serology noted :</div>
        <%= f.input :negative_serology_noted, wrapper_html: {:class=>'col-md-10'}, collection: ['None', 'HIV', 'HbsAg', 'HCV'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[negative_serology_noted]' } %>
      </div>
      <div class="row mb10">
        <div class="col-md-2">investigations that aid provisional diagnosis present :</div>
        <%= f.text_area :investigations_that_aid_provisional_diagnosis_present, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Fitness done :</div>
        <%= f.input :fitness_done, wrapper_html: {:class=>'col-md-10'}, collection: ['Anesthetist', 'Physician', 'Cardiologist', 'Others'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[fitness_done]' } %>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Office Permission taken :</div>
        <%= f.text_area :office_permission_taken, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Consent taken :</div>
        <%= f.input :consent_taken, wrapper_html: {:class=>'col-md-10'}, collection: ['Surgery', 'Anesthesia', 'High risk', 'Organ removal'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[consent_taken]' } %>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Surgical site marked :</div>
        <%= f.text_area :surgical_site_marked, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>

  <% end %>
</div>