<div class="modal-body">
  <%= simple_form_for :ipd_record, url: eval(@save_path), :remote => true, :html => { :class => "form-inline" } do |f| %>
      <div class="row mb10">
        <div class="col-md-2">Procedure name :</div>
        <%= f.text_area :procedure_name, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Procedure date :</div>
        <%= f.text_area :procedure_date, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <div class="col-md-2">Operating surgeon :</div>
        <%= f.text_area :operating_surgeon, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>
      <div class="row mb10">
        <div class="col-md-12">Have you ever had or do you have now - any of these conditions stated below :</div>
      </div>
      <div class="row mb10">
        <%= f.input :blood_pressure, wrapper_html: {:class=>'col-md-10'}, collection: ['High blood pressure', 'Low blood pressure'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[blood_pressure]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :chest_pain, wrapper_html: {:class=>'col-md-10'}, collection: ['Chest pain', 'Palpitations', 'Sweating'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[chest_pain]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :anemia, wrapper_html: {:class=>'col-md-10'}, collection: ['Anemia', 'Blood disorder', 'Prolonged bleeding'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[anemia]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :frequent_colds, wrapper_html: {:class=>'col-md-10'}, collection: ['Frequent colds' ,'Sore throats'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[frequent_colds]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :chronic_cough, wrapper_html: {:class=>'col-md-10'}, collection: ['Chronic cough', 'Expectoration', 'Blood in sputum'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[chronic_cough]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :weight_loss, wrapper_html: {:class=>'col-md-10'}, collection: ['Weight loss'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[weight_loss]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :shortness_of_breath, wrapper_html: {:class=>'col-md-10'}, collection: ['Shortness of breath while walking, climbing stairs, lying down', 'Fainting or dizzy spells'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[shortness_of_breath]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :vomiting, wrapper_html: {:class=>'col-md-10'}, collection: ['Vomiting', 'Acidity', 'Motion sickness', 'Constipation'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[vomiting]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :snoring, wrapper_html: {:class=>'col-md-10'}, collection: ['Snoring'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[snoring]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :frequent_headaches, wrapper_html: {:class=>'col-md-10'}, collection: ['Frequent headaches'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[frequent_headaches]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :trouble_with_balance, wrapper_html: {:class=>'col-md-10'}, collection: ['Trouble with balance' ,'Epilepsy' ,'Fits'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[trouble_with_balance]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :depression, wrapper_html: {:class=>'col-md-10'}, collection: ['Depression', 'Psychiatric problem'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[depression]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :jaundice, wrapper_html: {:class=>'col-md-10'}, collection: ['Jaundice', 'Stomach ulcers'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[jaundice]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :kidney_urine_trouble, wrapper_html: {:class=>'col-md-10'}, collection: ['Kidney trouble', 'Urine trouble'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[kidney_urine_trouble]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :frequent_fever, wrapper_html: {:class=>'col-md-10'}, collection: ['Frequent fever', 'Malaria'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[frequent_fever]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :arthritis, wrapper_html: {:class=>'col-md-10'}, collection: ['Arthritis', 'Joint pains', 'Back pain', 'Sciatica'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[arthritis]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :thyroid_disorder, wrapper_html: {:class=>'col-md-10'}, collection: ['Thyroid disorder'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[thyroid_disorder]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :diabetes, wrapper_html: {:class=>'col-md-10'}, collection: ['Diabetes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[diabetes]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :tuberculosis, wrapper_html: {:class=>'col-md-10'}, collection: ['Tuberculosis'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[tuberculosis]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :asthma, wrapper_html: {:class=>'col-md-10'}, collection: ['Asthma','Lung problems'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[asthma]' } %>
      </div>

      <div class="row mb10">
        <div class="col-md-12">Have you ever had or do you have now - any of these stated below :</div>
      </div>
      <div class="row mb10">
        <%= f.input :allergies, wrapper_html: {:class=>'col-md-10'}, collection: ['Allergies'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[allergies]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :injuries, wrapper_html: {:class=>'col-md-10'}, collection: ['Injuries'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[injuries]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :hospital_treatment, wrapper_html: {:class=>'col-md-10'}, collection: ['Hospital treatment'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[hospital_treatment]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :blood_transfusion, wrapper_html: {:class=>'col-md-10'}, collection: ['Blood transfusion'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[blood_transfusion]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :surgery, wrapper_html: {:class=>'col-md-10'}, collection: ['Surgery'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[surgery]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :anesthesia, wrapper_html: {:class=>'col-md-10'}, collection: ['Anesthesia'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[anesthesia]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :anesthesia_complications, wrapper_html: {:class=>'col-md-10'}, collection: ['Anesthesia complications'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[anesthesia_complications]' } %>
      </div>

      <div class="row mb10">
        <div class="col-md-12">Have you ever used or do you have now - any of these stated below :</div>
      </div>
      <div class="row mb10">
        <%= f.input :cough_syrups, wrapper_html: {:class=>'col-md-10'}, collection: ['Cough syrups'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[cough_syrups]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :nasal_drops, wrapper_html: {:class=>'col-md-10'}, collection: ['Nasal drops'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[nasal_drops]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :pain_killers, wrapper_html: {:class=>'col-md-10'}, collection: ['Pain killers'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[pain_killers]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :sleeping_tablets, wrapper_html: {:class=>'col-md-10'}, collection: ['Sleeping tablets'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[sleeping_tablets]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :anti_epileptic_drugs, wrapper_html: {:class=>'col-md-10'}, collection: ['Anti-epileptic drugs'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[anti_epileptic_drugs]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :steroids, wrapper_html: {:class=>'col-md-10'}, collection: ['Steroids'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[steroids]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :anti_hypertensive_drugs, wrapper_html: {:class=>'col-md-10'}, collection: ['Anti-hypertensive drugs'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[anti_hypertensive_drugs]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :aspirin, wrapper_html: {:class=>'col-md-10'}, collection: ['Aspirin'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[aspirin]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :birth_control_pills, wrapper_html: {:class=>'col-md-10'}, collection: ['Birth control pills'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[birth_control_pills]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :thyroid_medications, wrapper_html: {:class=>'col-md-10'}, collection: ['Thyroid medications'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[thyroid_medications]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :diabetes_medications, wrapper_html: {:class=>'col-md-10'}, collection: ['Diabetes medications'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[diabetes_medications]' } %>
      </div>

      <div class="row mb10">
        <div class="col-md-12">To what extent do you use :</div>
      </div>
      <div class="row mb10">
        <%= f.input :alcohol, wrapper_html: {:class=>'col-md-10'}, collection: ['Alcohol'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[alcohol]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :tobacco, wrapper_html: {:class=>'col-md-10'}, collection: ['Tobacco'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[tobacco]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :cigarettes, wrapper_html: {:class=>'col-md-10'}, collection: ['Cigarettes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[cigarettes]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :narcotic_drugs, wrapper_html: {:class=>'col-md-10'}, collection: ['Narcotic drugs'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[narcotic_drugs]' } %>
      </div>

      <div class="row mb10">
        <div class="col-md-12">Do you have :</div>
      </div>
      <div class="row mb10">
        <%= f.input :dentures, wrapper_html: {:class=>'col-md-10'}, collection: ['Dentures', 'Crown', 'Bridge'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[dentures]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :hearing_aid, wrapper_html: {:class=>'col-md-10'}, collection: ['Hearing aid'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[hearing_aid]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :pacemaker, wrapper_html: {:class=>'col-md-10'}, collection: ['Pacemaker'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[pacemaker]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :prosthesis, wrapper_html: {:class=>'col-md-10'}, collection: ['Prosthesis', 'Implant'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[prosthesis]' } %>
      </div>
      <div class="row mb10">
        <%= f.input :contact_lenses, wrapper_html: {:class=>'col-md-10'}, collection: ['Contact lenses'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => 'ipd_record[contact_lenses]' } %>
      </div>

      <div class="row mb10">
        <div class="col-md-3">Any other information that the patient would like to give :</div>
        <%= f.text_area :other_info, input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-3' },:label => false%>
      </div>

<% end %>
</div>