
<% user_level_surgical_notes = user_level_surgical_notes(@procedurenotes) %>
<% facility_level_surgical_notes = facility_level_surgical_notes(@procedurenotes) %>
<% organisation_level_surgical_notes = organisation_level_surgical_notes(@procedurenotes) %>


<div class="input-group col-md-12">
  <input type="text" class="form-control search_procedure_notes" placeholder="Search Surgical Notes (Ex: phac)" style="width: 256px; margin-left: 10px;" <%= @procedurenotes.present? && @procedurenotes.count > 0 ? '' : 'disabled' %>><i class="glyphicon glyphicon-search" style="display: inline-block;margin-left: -35px;z-index: 100;margin-top: 0px;background-color: #e5e5e5;padding: 12px 10px;" ></i>
</div>
<% if @procedurenotes.present? && @procedurenotes.count > 0 %>
  <label style= "margin-top:20px;margin-left:15px;">Saved Surgical Notes :</label>
  <ul class="col-md-12 list-group saved_procedure_notes" style="margin-top:5px;margin-left:-15px;">
    <% user_level_surgical_notes.each do |note| %>
      <li class="list-group-item saved_procedure_note" id="saved_procedure_note_<%= note.id %>" data-procedure_note_id="<%= note.id %>">
        <h5 class="list-group-item-heading clearfix"> 
          <div class="procedure_note_name" data-toggle="tooltip" title="<%= note.name %>"  data-placement="right"><%= note.name %></div> 
          <span class="pull-right">By: <%= note.try(:level).to_s.capitalize %></span>
        </h5>
      </li>
    <% end %>
    <% facility_level_surgical_notes.each do |note| %>
      <li class="list-group-item saved_procedure_note" id="saved_procedure_note_<%= note.id %>" data-procedure_note_id="<%= note.id %>">
        <h5 class="list-group-item-heading clearfix"> 
          <div class="procedure_note_name" data-toggle="tooltip" title="<%= note.name %>"  data-placement="right"><%= note.name %></div> 
          <span class="pull-right">By: <%= note.try(:level).to_s.capitalize %></span>
        </h5>
        </li>
    <% end %>
    <% organisation_level_surgical_notes.each do |note| %>
      <li class="list-group-item saved_procedure_note" id="saved_procedure_note_<%= note.id %>" data-procedure_note_id="<%= note.id %>">
        <h5 class="list-group-item-heading clearfix"> 
          <div class="procedure_note_name" data-toggle="tooltip" title="<%= note.name %>"  data-placement="right"><%= note.name %></div>
          <span class="pull-right">By: <%= note.try(:level).to_s.capitalize %></span>
        </h5>
      </li>
    <% end %>
  </ul>
<% else %>
  <label style= "margin-top:20px;margin-left:15px;">Saved Surgical Notes :</label>
  <ul class="col-md-12 list-group saved_procedure_notes" style="margin-top:5px;margin-left:-15px;">
    <li class="temp_list" id="saved_procedure_note">No Surgical Note found please create one</li>
  </ul>
<% end %>
<style type="text/css">
  li h5.list-group-item-heading.clearfix{
    font-size: 11px;
  }
  .temp_list{
    list-style: none;
    padding: 10px 20px;
    color:#d43f3a;
  }
  ul.saved_procedure_notes{
    height: 253px;
    max-height: 253px;
    overflow: hidden;
    overflow-y: auto; 
  }
</style>