<div class="modal-body">
  <%= simple_form_for :ipdrecord, url: templates_save_ipd_record_path, :remote => true, method: :post, :html => { :class => "form-inline soapnote" } do |f| %>

      <%= render partial: "templates/common/ipdhiddenvariables", locals: { patient: @patient, templatetype: @templatetype, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, ipdrecord: @ipdrecord }  %> <!-- templateid: @templateid -->

      <div class="row mb5">
        <div class="col-md-3">
          <div class="col-md-5">Admission Date :</div>
          <div class="col-md-7">
            <%= f.input :admissiondate, :label => false, :required => false, :input_html => {:class => "form-control", :name => "ipdrecord[admissiondate]", :size => "11", :maxlength => "11", :value => @ipdrecord.read_attribute(:admissiondate) } %>
          </div>
        </div>

        <div class="col-md-9">
          <div class="col-md-1">Diagnosis :</div>
          <div class="col-md-11">
            <%= f.input :diagnosis, :label => false, :required => false, :input_html => {:class => "form-control", :name => "ipdrecord[diagnosis]", :size => "100", :maxlength => "120", :value => @ipdrecord.read_attribute(:diagnosis) } %>
          </div>
        </div>

      </div>


      <div class="row mb5">
        <div class="col-md-3">
          <div class="col-md-4">Type of Surgery :</div>
          <%= f.input :surgerytype, wrapper_html: {:class=>"col-md-8"}, collection: ['Routine', 'Emergency'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "ipdrecord[surgerytype]" }, :checked => @ipdrecord.read_attribute(:surgerytype) %>
        </div>
      </div>

      <div class="row mb5">
        <div class="col-md-6">
          <div class="col-md-1">Assessment :</div>
          <div class="col-md-11">
            <%= f.input :assessment, :label => false, :required => false, :input_html => {:class => "form-control", :name => "ipdrecord[assessment]", :size => "80", :maxlength => "100", :value => @ipdrecord.read_attribute(:assessment) } %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="col-md-2">Procedure Name :</div>
          <div class="col-md-10">
            <%= f.input :procedurename, :label => false, :required => false, :input_html => {:class => "form-control", :name => "ipdrecord[procedurename]", :size => "80", :maxlength => "100", :value => @ipdrecord.read_attribute(:procedurename) } %>
          </div>
        </div>

      </div>

      <div class="row mb5">
        <div class="col-md-3">
          <div class="col-md-4">Anesthesia :</div>
          <%= f.input :anesthesia, wrapper_html: {:class=>"col-md-8"}, collection: ["GA","SA","EA","LA","Sedation","Nerve Block","Topical"], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "ipdrecord[anesthesia]" }, :checked => @ipdrecord.read_attribute(:anesthesia) %>
        </div>
      </div>

      <div class="row">

        <div class="col-md-8">

          <table class="table table-bordered">
            <thead>
              <tr>
                <th width="16%" class="text-center table-head-text">#</th>
                <th width="28%" class="text-center table-head-text">1</th>
                <th width="28%" class="text-center table-head-text">2</th>
                <th width="28%" class="text-center table-head-text">3</th>
              </tr>
            </thead>
            <tbody>
            <tr class="">
              <th class="text-center table-head-text" style="line-height:3;">Surgeons</th>
              <td>
                <div class="row">
                  <div class="col-md-12">
                    <%= f.input_field :surgeon1, :class => "form-control table-fields", :maxlength => 40, :size => 40, :required => false, :name => "ipdrecord[surgeon1]", :value => @ipdrecord.read_attribute(:surgeon1) %>
                  </div>
                </div>
              </td>
              <td>
                <div class="row">
                  <div class="col-md-12">
                    <%= f.input_field :surgeon2, :class => "form-control table-fields", :maxlength => 40, :size => 40, :required => false, :name => "ipdrecord[surgeon2]", :value => @ipdrecord.read_attribute(:surgeon2) %>
                  </div>
                </div>
              </td>
              <td>
                <div class="row">
                  <div class="col-md-12">
                    <%= f.input_field :surgeon3, :class => "form-control table-fields", :maxlength => 40, :size => 40, :required => false, :name => "ipdrecord[surgeon3]", :value => @ipdrecord.read_attribute(:surgeon3) %>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="">
              <th class="text-center table-head-text" style="line-height:3;">Anesthetists</th>
              <td>
                <div class="row">
                  <div class="col-md-12">
                    <%= f.input_field :anesthetist1, :class => "form-control table-fields", :maxlength => 40, :size => 40, :required => false, :name => "ipdrecord[anesthetist1]", :value => @ipdrecord.read_attribute(:anesthetist1) %>
                  </div>
                </div>
              </td>
              <td>
                <div class="row">
                  <div class="col-md-12">
                    <%= f.input_field :anesthetist2, :class => "form-control table-fields", :maxlength => 40, :size => 40, :required => false, :name => "ipdrecord[anesthetist2]", :value => @ipdrecord.read_attribute(:anesthetist2) %>
                  </div>
                </div>
              </td>
              <td>
                <div class="row">
                  <div class="col-md-12">
                    <%= f.input_field :anesthetist3, :class => "form-control table-fields", :maxlength => 40, :size => 40, :required => false, :name => "ipdrecord[anesthetist3]", :value => @ipdrecord.read_attribute(:anesthetist3) %>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="">
              <th class="text-center table-head-text" style="line-height:3;">Theatre Staff</th>
              <td>
                <div class="row">
                  <div class="col-md-12">
                    <%= f.input_field :theatrestaff1, :class => "form-control table-fields", :maxlength => 40, :size => 40, :required => false, :name => "ipdrecord[theatrestaff1]", :value => @ipdrecord.read_attribute(:theatrestaff1) %>
                  </div>
                </div>
              </td>
              <td>
                <div class="row">
                  <div class="col-md-12">
                    <%= f.input_field :theatrestaff2, :class => "form-control table-fields", :maxlength => 40, :size => 40, :required => false, :name => "ipdrecord[theatrestaff2]", :value => @ipdrecord.read_attribute(:theatrestaff2) %>
                  </div>
                </div>
              </td>
              <td>
                <div class="row">
                  <div class="col-md-12">
                    <%= f.input_field :theatrestaff3, :class => "form-control table-fields", :maxlength => 40, :size => 40, :required => false, :name => "ipdrecord[theatrestaff3]", :value => @ipdrecord.read_attribute(:theatrestaff3) %>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row mb5">
        <div class="col-md-6">
          <div class="col-md-1">Pre-Op Status :</div>
          <div class="col-md-11">
            <%= f.input :preoperativestatus, :label => false, :required => false, :input_html => {:class => "form-control", :name => "ipdrecord[preoperativestatus]", :size => "80", :maxlength => "100", :value => @ipdrecord.read_attribute(:preoperativestatus) } %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="col-md-2">Procedure Findings :</div>
          <div class="col-md-10">
            <%= f.input :procedurefindings, :label => false, :required => false, :input_html => {:class => "form-control", :name => "ipdrecord[procedurefindings]", :size => "80", :maxlength => "100", :value => @ipdrecord.read_attribute(:procedurefindings) } %>
          </div>
        </div>

      </div>

      <div class="row mb5">
        <div class="col-md-1">Surgical Note :</div>
        <div class="col-md-8">
          <%= f.input :procedurenote, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 15, :cols => 70, :name => "ipdrecord[procedurenote]", :value => @ipdrecord.read_attribute(:procedurenote) } %>
        </div>

        <div class="col-md-3">
          <%= render partial: "templates/ipd/common/saved_procedure_notes_list"  %>
        </div>

      </div>

<% end %>
</div>

<script>
  <%= render partial: "templates/ipd/common/surgerynote.js" %>
  <%= render partial: "templates/ipd/common/saveipdrecord.js" %>
</script>