<% unless @ipdrecord_admission.nil? %>
  <div class="adjust_font_size_print" style="font-family: <%= UsersSetting.find_by(user_id: current_user.id).font_style %>">
    <div class="row mb10">
      <div class="col-md-12">
        <!-- Patient Info -->
          <div class="patientinfo mb10">
            <% @w = Ward.find_by(id: @admission.ward_id) %>
            <% unless @w.nil? %><% @wr = @w.rooms.find_by(id: @admission.room_id) %><% else %><% @wr = nil %><% end %>
            <% unless @wr.nil? %><% @wrb = Ward.find_by(id: @admission.ward_id).rooms.find_by(id: @admission.room_id).beds.find_by(id: @admission.bed_id) %><% else %><% @wrb = nil %><% end %>

            <div class="row mb10" style="border:1px solid #aaa;padding:5px;">
              <div class="col-md-3">
                <p><b>Patient Name</b></p>
                <p><b>Patient ID </b></p>
                <p><b>Mobile </b></p>
                <p><b>Age / Gender </b></p>
              </div>
              <div class="col-md-3">
                <b>:</b>&nbsp; <b><%= @patient.fullname.upcase %></b><br>
                <p><b>:</b>&nbsp; <%= PatientIdentifier.find_by(patient_id: @patient.id).try(:patient_org_id) %></p>
                <p><b>:</b>&nbsp; <%= @patient.mobilenumber %></p>
                <p><b>:</b>&nbsp; <%if @patient.calculate_age.present? || @patient.gender.present?%><%= @patient.calculate_age %>/<%= @patient.gender %><% else %> Unavailable<% end %> </p>
              </div>
              <div class="col-md-3">
                <p><b>Admitting Doctor</b></p>
                <p><b>Date Admitted</b></p>
                <p><b>Note Created On</b></p>
                <p><b>Room Details</b></p>
                <p><b>Facility</b></p>
              </div>
              <div class="col-md-3">
                <b>:</b>&nbsp; <b><%= User.find_by(id: @admission.doctor).fullname.upcase %></b><br>
                <p><b>:</b>&nbsp; <%= @admission.admissiondate.strftime("%d %b'%y") %></p>
                <p><b>:</b>&nbsp; <%= @ipdrecord_admission.created_at.strftime("%d %b'%y") %></p>
                <p><b>:</b>&nbsp; <% unless @wrb.nil? %><%= @wrb.code %><% else %>Daycare<% end %></p>
                <p><b>:</b>&nbsp; <%= @admission.facility.name %> </p>
              </div>
            </div>
          </div>
        <!-- Patient Info Ends -->
      </div>
      <div class="col-md-12">
        <div class="pcs-entity-title"><span>Admission Summary</span></div>
      </div>
    </div>
    <!-- Summary Wise View -->
    <%= render partial: "inpatient/ipd_records/views/summary/admission_summary.html.erb", locals: { ipdrecord: @ipdrecord_admission, patient: @patient, admission: @admission, template_type: @template_type, department: @department, tpa: @tpa } %>
  </div>
<div class="page_break_here"></div>
<% end %>
<% unless @ipdrecord_operative.nil? %>
  <div class="adjust_font_size_print">
    <div class="row mb10">
      <div class="col-md-12">
        <!-- Patient Info -->
          <div class="patientinfo mb10">
            <% @w = Ward.find_by(id: @admission.ward_id) %>
            <% unless @w.nil? %><% @wr = @w.rooms.find_by(id: @admission.room_id) %><% else %><% @wr = nil %><% end %>
            <% unless @wr.nil? %><% @wrb = Ward.find_by(id: @admission.ward_id).rooms.find_by(id: @admission.room_id).beds.find_by(id: @admission.bed_id) %><% else %><% @wrb = nil %><% end %>

            <div class="row mb10" style="border:1px solid #aaa;padding:5px;">
              <div class="col-md-3">
                <p><b>Patient Name</b></p>
                <p><b>Patient ID </b></p>
                <p><b>Mobile </b></p>
                <p><b>Age / Gender </b></p>
              </div>
              <div class="col-md-3">
                <b>:</b>&nbsp; <b><%= @patient.fullname.upcase %></b><br>
                <p><b>:</b>&nbsp; <%= PatientIdentifier.find_by(patient_id: @patient.id).try(:patient_org_id) %></p>
                <p><b>:</b>&nbsp; <%= @patient.mobilenumber %></p>
                <p><b>:</b>&nbsp; <% if @patient.age %><%= @patient.age %> Year(s) <% end %>  <%= @patient.gender %> </p>
              </div>
              <div class="col-md-3">
                <p><b>Admitting Doctor</b></p>
                <p><b>Date Admitted</b></p>
                <p><b>Note Created On</b></p>
                <p><b>Room Details</b></p>
                <p><b>Facility</b></p>
              </div>
              <div class="col-md-3">
                <b>:</b>&nbsp; <b><%= User.find_by(id: @admission.doctor).fullname.upcase %></b><br>
                <p><b>:</b>&nbsp; <%= @admission.admissiondate.strftime("%d %b'%y") %></p>
                <p><b>:</b>&nbsp; <%= @ipdrecord_operative.created_at.strftime("%d %b'%y") %></p>
                <p><b>:</b>&nbsp; <% unless @wrb.nil? %><%= @wrb.code %><% else %>Daycare<% end %></p>
                <p><b>:</b>&nbsp; <%= @admission.facility.name %> </p>
              </div>
            </div>
          </div>
        <!-- Patient Info Ends -->
      </div>
      <div class="col-md-12">
        <div class="pcs-entity-title"><span>Operative Summary</span></div>
      </div>
    </div>
    <!-- Summary Wise View -->
    <%= render partial: "inpatient/ipd_records/views/summary/operative_summary.html.erb", locals: { ipdrecord: @ipdrecord_operative, patient: @patient, admission: @admission, template_type: @template_type, department: @department, tpa: @tpa } %>
  </div>
<div class="page_break_here"></div>
<% end %>

<% unless @ipdrecord_discharge.nil? %>
  <div class="adjust_font_size_print">
    <div class="row mb10">
      <div class="col-md-12">
        <!-- Patient Info -->
          <div class="patientinfo mb10">
            <% @w = Ward.find_by(id: @admission.ward_id) %>
            <% unless @w.nil? %><% @wr = @w.rooms.find_by(id: @admission.room_id) %><% else %><% @wr = nil %><% end %>
            <% unless @wr.nil? %><% @wrb = Ward.find_by(id: @admission.ward_id).rooms.find_by(id: @admission.room_id).beds.find_by(id: @admission.bed_id) %><% else %><% @wrb = nil %><% end %>

            <div class="row mb10" style="border:1px solid #aaa;padding:5px;">
              <div class="col-md-3">
                <p><b>Patient Name</b></p>
                <p><b>Patient ID </b></p>
                <p><b>Mobile </b></p>
                <p><b>Age / Gender </b></p>
              </div>
              <div class="col-md-3">
                <b>:</b>&nbsp; <b><%= @patient.fullname.upcase %></b><br>
                <p><b>:</b>&nbsp; <%= PatientIdentifier.find_by(patient_id: @patient.id).try(:patient_org_id) %></p>
                <p><b>:</b>&nbsp; <%= @patient.mobilenumber %></p>
                <p><b>:</b>&nbsp; <% if @patient.age %><%= @patient.age %> Year(s) <% end %>  <%= @patient.gender %> </p>
              </div>
              <div class="col-md-3">
                <p><b>Admitting Doctor</b></p>
                <p><b>Date Admitted</b></p>
                <p><b>Note Created On</b></p>
                <p><b>Room Details</b></p>
                <p><b>Facility</b></p>
              </div>
              <div class="col-md-3">
                <b>:</b>&nbsp; <b><%= User.find_by(id: @admission.doctor).fullname.upcase %></b><br>
                <p><b>:</b>&nbsp; <%= @admission.admissiondate.strftime("%d %b'%y") %></p>
                <p><b>:</b>&nbsp; <%= @ipdrecord_discharge.created_at.strftime("%d %b'%y") %></p>
                <p><b>:</b>&nbsp; <% unless @wrb.nil? %><%= @wrb.code %><% else %>Daycare<% end %></p>
                <p><b>:</b>&nbsp; <%= @admission.facility.name %> </p>
              </div>
            </div>
          </div>
        <!-- Patient Info Ends -->
      </div>
      <div class="col-md-12">
        <div class="pcs-entity-title"><span>Discharge Summary</span></div>
      </div>
    </div>
    <!-- Summary Wise View -->
    <%= render partial: "inpatient/ipd_records/views/summary/discharge_summary.html.erb", locals: { ipdrecord: @ipdrecord_discharge, patient: @patient, admission: @admission, template_type: @template_type, department: @department, tpa: @tpa } %>
  </div>
<% end %>

<style type="text/css">
  .adjust_font_size_print * {
    font-size: 8px;
  }
  .pcs-entity-title {
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-size: 13pt;
    color: #333333;
  }

  .pcs-entity-title:before {
    content: "";
    display: block;
    border-top: 1px solid #eeeeee;
    width: 100%;
    height: 1pt;
    position: absolute;
    top: 50%;
    font-size: 1pt;
  }
  .pcs-entity-title span {
    background: #ffffff;
    padding: 0 20px;
    position: relative;
  }

  .page_break_here {
    page-break-after: always;
  }
  
</style>