<div class="row mb10">
  <% unless show_note %>
    <% if source == "OT" %>
      <%= hidden_field_tag 'ot_schedule[admission_id]', @case_sheet.try(:active_admission_id) %>
    <% end %>
  <% else %>
    <div class="col-md-12 mb5">
      <b style="color: #f00;font-size: 12px;">Note: If this <%= source %> is for a New/Different Case create <%= source %> from <%= ('IPD' if source == 'Admission') || 'OT' %> Panel.</b>
    </div>
  <% end %>

  <div class="col-md-4">
    <b style="color:#000;">Case ID</b>
    <%= text_field_tag 'case_sheet[case_id]', @case_sheet.try(:case_id) || "##{Time.current.to_i}", class: 'form-control p7_10', readonly: 'readonly' %>
  </div>
  <div class="col-md-4">
    <b style="color:#000;">Case Name</b>
    <%= text_field_tag 'case_sheet[case_name]', @case_sheet.try(:case_name), class: 'form-control p7_10' %>
  </div>
  <div class="col-md-4">
    <b style="color:#000;">Case Date</b>
    <%= text_field_tag 'case_sheet[start_date]', @case_sheet.try(:start_date).try(:strftime, '%d/%m/%Y') || Date.current.strftime('%d/%m/%Y'), class: 'form-control p7_10', readonly: 'readonly' %>
  </div>
</div>
<hr>
<% if @ipdrecord.present? && @ipdrecord.clinical_data_present %>
  <div class="row mb10">
    <div class="col-md-12">
      <%= render partial: 'inpatient/ipd_record/clinical_note/case_sheets/case_histories.html.erb' %>
    </div>
  </div>
  <% if current_user.specialty_ids.exclude?('309988001') %>
    <hr>
    <div class="row mb10">
      <div class="col-md-12">
        <%= render partial: 'inpatient/ipd_record/clinical_note/case_sheets/case_examinations.html.erb' %>
      </div>
    </div>
  <% end %>
  <hr>
  <div class="row mb10">
    <div class="col-md-12">
      <%= render partial: 'inpatient/ipd_record/clinical_note/case_sheets/case_diagnoses.html.erb' %>
    </div>
  </div>
  <hr>
  <div class="row mb10">
    <div class="col-md-12">
      <%= render partial: 'inpatient/ipd_record/clinical_note/case_sheets/case_procedures.html.erb' %>
    </div>
  </div>
  <hr>
  <div class="row mb10">
    <div class="col-md-12">
      <%= render partial: 'inpatient/ipd_record/clinical_note/case_sheets/case_investigations.html.erb' %>
    </div>
  </div>
<% else %>
  <div class="row mb10">
    <div class="col-md-12">
      <%= render partial: 'case_sheets/forms/case_histories.html.erb' %>
    </div>
  </div>
  <% if current_user.specialty_ids.exclude?('309988001') %>
    <hr>
    <div class="row mb10">
      <div class="col-md-12">
        <%= render partial: 'case_sheets/forms/case_examinations.html.erb' %>
      </div>
    </div>
  <% end %>
  <hr>
  <div class="row mb10">
    <div class="col-md-12">
      <%= render partial: 'case_sheets/forms/case_diagnoses.html.erb' %>
    </div>
  </div>
  <hr>
  <div class="row mb10">
    <div class="col-md-12">
      <%= render partial: 'case_sheets/forms/case_procedures.html.erb' %>
    </div>
  </div>
  <hr>
  <div class="row mb10">
    <div class="col-md-12">
      <%= render partial: 'case_sheets/forms/case_investigations.html.erb' %>
    </div>
  </div>
<% end %>
