<% if opdrecord.vital_signs_comments.present? || opdrecord.vital_signs_temperature.present? || opdrecord.vital_signs_pulse.present? || opdrecord.vital_signs_bp.present? || opdrecord.vital_signs_rr.present? || opdrecord.anthropometry_height.present? || opdrecord.anthropometry_weight.present? || opdrecord.anthropometry_bmi.present? || opdrecord.vital_signs_spo2.present? %>
  <div class="row mb5">
    <strong>VITAL SIGNS/ ANTHROPOMETRY</strong>
    <div class="summary-line-border"></div>
  </div>
  <div class="row mb10 mt10 <%= 'print_text_font_size' if  @print_setting %>" style="<%= text_font_size %>">
    <div class="col-md-12">
      <div class="row mb5">
        <% if opdrecord.vital_signs_temperature.present? %>
          <div class="col-md-4">
            <strong style="<%= heading_font_size %>">Temperature :</strong>
            <span style="<%= "color:red;" if opdrecord.vital_signs_temperature.to_i > 37 %>">
              <%= opdrecord.vital_signs_temperature %> °C
            </span>
          </div>
        <% end %>
        <% if opdrecord.vital_signs_pulse.present? %>
          <div class="col-md-4">
            <strong style="<%= heading_font_size %>">Pulse :</strong>
            <span style="<%= "color:red;" if opdrecord.vital_signs_pulse.to_i > 80 %> ">
              <%= opdrecord.vital_signs_pulse %> bpm
            </span>
          </div>
        <% end %>
        <% if opdrecord.vital_signs_rr.present? %>
          <div class="col-md-4">
            <strong style="<%= heading_font_size %>">RR :</strong>
            <span style="<%= "color:red;" if opdrecord.vital_signs_rr.to_i > 20 %>">
              <%= opdrecord.vital_signs_rr %> brpm
            </span>
          </div>
        <% end %>
        <% if opdrecord.vital_signs_bp.present? %>
          <div class="col-md-4">
            <strong style="<%= heading_font_size %>">BP :</strong>
            <span style="<%= "color:red;" if opdrecord.check_blood_pressure(opdrecord.vital_signs_bp.to_s) %>">
              <%= opdrecord.vital_signs_bp %> mmHg
            </span>
          </div>
        <% end %>
        <% if opdrecord.vital_signs_spo2.present? %>
          <div class="col-md-4">
            <strong style="<%= heading_font_size %>">SpO2 :</strong>
            <% if opdrecord.vital_signs_spo2.to_i <= 90 %>
              <span style="color:red;">
                <%= opdrecord.vital_signs_spo2 %> %
              </span>
            <% elsif opdrecord.vital_signs_spo2.to_i > 90 && opdrecord.vital_signs_spo2.to_i <= 94 %>
              <span style="color:orange;">
                <%= opdrecord.vital_signs_spo2 %> %
              </span>
            <% else %>
              <span>
                <%= opdrecord.vital_signs_spo2 %> %
              </span>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="row mb5">
        <% if opdrecord.anthropometry_height.present? %>
          <div class="col-md-3">
            <strong style="<%= heading_font_size %>">Height :</strong>
            <span><%= opdrecord.anthropometry_height %> cms</span>
          </div>
        <% end %>
        <% if opdrecord.anthropometry_weight.present? %>
          <div class="col-md-3">
            <strong style="<%= heading_font_size %>">Weight :</strong>
            <span><%= opdrecord.anthropometry_weight %> Kg</span>
          </div>
        <% end %>
        <% if opdrecord.anthropometry_bmi.present? %>
          <div class="col-md-3">
            <strong style="<%= heading_font_size %>">BMI :</strong>
            <span><%= opdrecord.anthropometry_bmi %> kg/m2</span>
          </div>
        <% end %>
      </div>
      <% if opdrecord.vital_signs_comments.present? %>
        <div class="row mb5">
          <div class="col-md-8">
            <strong style="<%= heading_font_size %>">Vital comments :</strong>
            <span>
              <%= opdrecord.vital_signs_comments %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<style media="screen">
  .<%= 'print_text_font_size' if  @print_setting %> *{
    font-size: inherit!important
  }
</style>
