<div class="row">
  <div class="col-sm-12">
    <div class="row mb20">
      <div class="col-sm-2">
        <b style="color:#000;">Patient Image</b><br>
        <a href="" class="clear-patient-asset" id="image_clear_button" style="font-size: 10px;">Clear</a>
        <br>
        <span style="color: #ff0000;">**Click on Image to Upload From your Computer OR &nbsp;&nbsp;</span>
      </div>
        <%= hidden_field_tag "patient[patientassets_attributes][0][asset_path_data_uri]",@patient.try(:patientassets)[0].try(:asset_path_data_uri) %>

      <div class="col-sm-2">
        <span class="btn btn-default btn-patient-asset" id="results" style="padding:2px;">
          <%if @patient.try(:patientassets).count > 0 and @patient.patientassets[0].asset_path_url.present?%>
            <% patient_asset = (@patient.patientassets[-1].asset_path_url  ) %>
          <% else %>
            <% patient_asset = "photos/no_picture_available.png" %>
          <% end %>

          <%= image_tag(patient_asset, :width=>"75", :height=>"75", class: "thumb", onclick: "$('#upload-patient-picture').click();")%>
        </span>
        <% if @patient.patientassets[0].try(:asset_path).present? %>
            <%= file_field_tag "patient[patientassets_attributes][0][asset_path]", { value: "~/#{@patient.patientassets[0].asset_path.try(:file).try(:filename)}",style: "visibility:hidden", id: 'upload-patient-picture', onchange: "readURL(this)" } %>
        <% else %>
            <%= file_field_tag "patient[patientassets_attributes][0][asset_path]", {style: "visibility:hidden", id: 'upload-patient-picture', onchange: "readURL(this)" } %>
        <% end %>
        <div class="btn-group" style="width: 160%", title="Camera">
          <a class="btn btn-xs btn-primary" style="background-color: transparent; color: black;" id="open_webcam">
            Click to Open &nbsp;&nbsp;<i class="fa fa-camera"> </i>
          </a>
          <% if @patient.patientassets[0].try(:asset_path).present? %>
            <%= link_to patients_download_path(patient_id: @patient.try(:id), format: "image/*"), :class => "btn btn-danger btn-xs", :style => "background-color: transparent; color: black;", :title => "Download" do %><i class="fa fa-download text-left"></i>  <% end %>
          <%end%>
        </div>
      </div>

      <div class="col-sm-2">
        <b style="color:#000;">Blood Group</b>
      </div>
      <div class="col-sm-6">
        <div class="row mb5">
          <% for blood_group in Patient::BLOODGROUPS %>
            <div class="col-sm-3">
              <div class="rdio rdio-primary">
                <input id="blood_group_<%= blood_group %>_n" name="patient[blood_group]" type="radio" value="<%= blood_group %>" <%= 'checked' if @patient.blood_group == blood_group %> />
                <label for="blood_group_<%= blood_group %>_n"><%= blood_group %></label>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row mb20">
      <div class="col-sm-3">
        <b style="color:#000;">Maritial Status</b>
      </div>
      <div class="col-sm-2">
        <div class="rdio rdio-primary">
          <input id="maritalstatus_single" name="patient[maritalstatus]" type="radio" value="Single" <%= 'checked' if @patient.maritalstatus == "Single" %> />
          <label for="maritalstatus_single">Single</label>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="rdio rdio-primary">
          <input id="maritalstatus_married" name="patient[maritalstatus]" type="radio" value="Married" <%= 'checked' if @patient.maritalstatus == "Married" %> />
          <label for="maritalstatus_married">Married</label>
        </div>
      </div>
    </div>

    <div class="row mb20">
      <div class="col-sm-3">
        <b style="color:#000;">One Eyed</b>
      </div>
      <div class="col-sm-2">
        <div class="rdio rdio-primary">
          <input id="one_eyed_yes" name="patient[one_eyed]" type="radio" value="Yes" <%= 'checked' if @patient.one_eyed == "Yes" %> />
          <label for="one_eyed_yes">Yes</label>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="rdio rdio-primary">
          <input id="one_eyed_no" name="patient[one_eyed]" type="radio" value="No" <%= 'checked' if (@patient.one_eyed == "No" || @patient.one_eyed == nil || @patient.one_eyed == "") %> />
          <label for="one_eyed_no">No</label>
        </div>
      </div>
    </div>

    <div class="row mb20">
      <div class="col-sm-3">
        <b style="color:#000;">Emergency Contact</b>
      </div>
      <div class="col-sm-4">
        <%= text_field_tag "patient[emergencycontactname]", @patient.emergencycontactname, { class: 'form-control patient-emergencycontactname p7_10', placeholder: "Name" } %>
      </div>
      <div class="col-sm-4">
        <%= text_field_tag "patient[emergencymobilenumber]", @patient.emergencymobilenumber, { maxlength: 10, class: 'form-control patient-emergencymobilenumber p7_10', placeholder: "Number", onkeypress: 'return event.charCode >= 48 && event.charCode <= 57'} %>
      </div>
    </div>

    <% if current_facility.country_id != 'KH_039' %>
      <div class="row mb20">
        <div class="col-sm-3">
          <b style="color:#000;">Aadhar Card No.</b>
          <%= text_field_tag "patient[aadhar_card_number]", @patient.aadhar_card_number, { maxlength: 12, class: 'form-control patient-aadhar_card_number p7_10', placeholder: "Aadhar Card No."} %>
        </div>

        <div class="col-sm-3">
          <b style="color:#000;">PAN Card No.</b>
          <%= text_field_tag "patient[pan_number]", @patient.pan_number, { maxlength: 10, class: 'form-control patient-pan_number p7_10', placeholder: "Pan No."} %>
        </div>

        <div class="col-sm-3">
          <b style="color:#000;">DL No.</b>
          <%= text_field_tag "patient[driving_license_number]", @patient.driving_license_number, { maxlength: 16, class: 'form-control patient-driving_license_number p7_10', placeholder: "DL No."} %>
        </div>
        <div class="col-sm-3">
          <b style="color:#000;">GST No.</b>
          <%= text_field_tag "patient[gst_number]", @patient.gst_number, { maxlength: 16, class: 'form-control patient-gst_number p7_10', placeholder: "GST No."} %>
        </div>
      </div>
    <% end %>
    <div class="row patient-special-status">
      <div class="col-md-3 col-sm-3 col-xs-3">
        <h5 class="control-label" style="color:#444">
          <label class="control-label">Special Status <small style="cursor: pointer;color: rgb(66, 139, 202); display: none; border: 1px solid rgb(66, 139, 202); border-radius: 2px;" id="clear_special_status">clear</small></label>
        </h5>
      </div>
      <div class="col-md-9 col-sm-9 col-xs-9">
        <div class="row">
          <div class="">
              <%= f.input :specialstatus, wrapper_html: {:class=>"col-md-12"}, collection: ['Breastfeeding', 'Pregnant'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white specialstatus_buttons', :input_html => {:name => "patient[other_history_attributes][specialstatus]" }, :checked => @patient.other_history.try(:specialstatus)%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $("#open_webcam").on('click',function(e){
        $("#webcam-modal").html("<%= escape_javascript(render partial: 'patients/webcam_modal') %>")
        $("#webcam-modal").modal("show")
    })

    $("#image_clear_button").on("click",function(e){
      e.preventDefault();
      $("#patient_patientassets_attributes_0_asset_path_data_uri").val("")
    })
</script>
<script>
  var special_status = $("#patient_specialstatus").val()
  if(special_status != "" && special_status != null){
    $("#clear_special_status").css("display", "inherit");
  }

  $("#clear_special_status").on('click', function(){
    $("#patient_specialstatus").val("");
    $("#patient_specialstatus").parent().prev().children().removeClass("btn-brown");
    $("#clear_special_status").css("display", "none")
  })
</script>

<script>
  $(".specialstatus_buttons").on('click', function(){
     $("#clear_special_status").css("display", "inherit");
  })
</script>