<%# @allergies = @patient.patient_history.try(:patientallergyhistory) %>
<div class="row mb10">
  <fieldset>
    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:20px;">
      <h5 style="font-size: 16px;color: #444;">Drug Allergies</h5>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <% drug_allergies =[["Antimicrobial Agents","antimicrobial_agents"],["Antifungal Agents","antifungal_agents"],["Antiviral Agents","antiviral_agents"],["Nsaids","nsaids"],["Eye Drops","eye_drops"]] %>
      <%= f.input  :drug_allergies, wrapper_html: {:class=>""}, collection: drug_allergies, :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-sm btn-white checkuptype allergies_button', style: "width:14% !important;",:input_html => {:name => "patient[drug_allergies]" }, :checked => @patient.checkboxes_checked(@patient.drug_allergies.to_s) %>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 antimicrobial_agents_check" style="display:none">
      <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:5px;">
        <h5 style="font-size: 16px;color: #444;">Antimicrobial agents</h5>
      </div>
      <% antimicrobial_agents =[["Ampicillin","ampicillin"],["Amoxicillin","amoxicillin"],["Ceftriaxone","ceftriaxone"],["Ciprofloxacin","ciprofloxacin"],["Clarithromycin","clarithromycin"], ["Co Trimoxazole","co_trimoxazole"], ["Ethambutol", "ethambutol"], ["Isoniazid", "isoniazid"], ["Metronidazole", "metronidazole"], ["Penicillin", "penicillin"], ["Rifampicin", "rifampicin"], ["Streptomycin", "streptomycin"]] %>
      <%= f.input  :antimicrobial_agents, wrapper_html: {:class=>"col-md-12"}, collection: antimicrobial_agents, :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-sm btn-white checkuptype antimicrobial_agents_button drug_agents_button', style: "width:14% !important;",:input_html => {:name => "patient[antimicrobial_agents]" }, :checked => @patient.checkboxes_checked(@patient.antimicrobial_agents.to_s) %>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 antimicrobial_agents_title_field" style="display:none;">
      <div class="col-md-2 col-sm-2 col-xs-2">
        <h5 class="Opth_his_name">Name</h5>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2">
        <h5 class="Opth_his_name">Duration</h5>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2">
        <h5 class="Opth_his_name">Duration Units</h5>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <h5 class="Opth_his_name">Comments</h5>
      </div>
    </div>

    <div class="fields" id="antimicrobial_agents_button_main_hide">
      <% @patient.allergy_histories.each_with_index do |complaint, i| %>
        <% if complaint.name == "ampicillin" || complaint.name == "amoxicillin" || complaint.name == "ceftriaxone" || complaint.name == "ciprofloxacin" || complaint.name == "clarithromycin" || complaint.name == "co_trimoxazole" || complaint.name == "ethambutol" || complaint.name == "isoniazid" || complaint.name == "metronidazole" || complaint.name == "penicillin" || complaint.name == "rifampicin" || complaint.name == "streptomycin"  %>
          <div class="col-md-12 col-sm-12 col-xs-12 complaint_name allergies_fields_row_count <%= complaint.name %>_fields antimicrobial_agents_hide ">
            <div class="col-md-2 col-sm-2 col-xs-2">
              <h5 class="complaint_title">
                <%= hidden_field_tag "patient[allergy_histories_attributes][#{i}][_destroy]", "", class:"form-control "+complaint.name+"_destroy antimicrobial_agents_destroy", value: 0 %>
                <%= complaint.name.split("_").map(&:capitalize).join(" ") %>
                <%= hidden_field_tag "patient[allergy_histories_attributes][#{i}][name]", "", value: complaint.name %>
                <%= hidden_field_tag "patient[allergy_histories_attributes][#{i}][_id]", "", value: complaint._id %>
                <% @allergy_hidden_duration, @allergy_duration, @allergy_duration_unit  = complaint.allergy_started %>
                <%= hidden_field_tag "patient[allergy_histories_attributes][#{i}][hidden_duration]", "",value: @allergy_hidden_duration, class:"allergy_hidden_duration"%>

              </h5>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <div class="complaint_title">
                <% duration_time = 1..40 %>
                <%= select_tag "patient[allergy_histories_attributes][#{i}][duration]", options_for_select(duration_time, @allergy_duration), prompt: "Please Select", class:"form-control allergy_fields_add_fields allergy_duration" %>
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <div class="complaint_title">
                <%= select_tag "patient[allergy_histories_attributes][#{i}][duration_unit]", options_for_select([["Days","days"],["Weeks","weeks"],["Months","months"],["Years","years"]], @allergy_duration_unit), prompt: "Please Select", class:"form-control allergy_fields_add_fields allergy_duration_unit" %>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="complaint_title">
                <%= text_field_tag  "patient[allergy_histories_attributes][#{i}][comment]", "",class: "form-control personal_field_add_comment", placeholder: "Comment ....", value: complaint.comment %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 antifungal_agents_check" style="display:none">
      <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:5px;">
        <h5 style="font-size: 16px;color: #444;">Antifungal agents</h5>
      </div>
      <% antifungal_agents =[["Ketoconazole","ketoconazole" ],["Fluconazole","fluconazole"],["Itraconazole","itraconazole"]] %>
      <%= f.input  :antifungal_agents, wrapper_html: {:class=>"col-md-12"}, collection: antifungal_agents, :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-sm btn-white checkuptype antifungal_agents_button drug_agents_button', style: "width:14% !important;",:input_html => {:name => "patient[antifungal_agents]" }, :checked => @patient.checkboxes_checked(@patient.antifungal_agents.to_s)  %>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 antifungal_agents_title_field" style="display:none;">
      <div class="col-md-2 col-sm-2 col-xs-2">
        <h5 class="Opth_his_name">Name</h5>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2">
        <h5 class="Opth_his_name">Duration</h5>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2">
        <h5 class="Opth_his_name">Duration Units</h5>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <h5 class="Opth_his_name">Comments</h5>
      </div>
    </div>
    <div class="fields" id="antifungal_agents_main_hide">
      <% @patient.allergy_histories.each_with_index do |complaint, i| %>
        <% if complaint.name == "ketoconazole" || complaint.name == "fluconazole" || complaint.name == "itraconazole" %>
          <div class="col-md-12 col-sm-12 col-xs-12 complaint_name allergies_fields_row_count <%= complaint.name %>_fields antifungal_agents_hide ">
            <div class="col-md-2 col-sm-2 col-xs-2">
              <h5 class="complaint_title">
                <%= hidden_field_tag "patient[allergy_histories_attributes][#{i}][_destroy]", "", class:"form-control "+complaint.name+"_destroy antifungal_agents_destroy", value: 0 %>
                <%= complaint.name.split("_").map(&:capitalize).join(" ") %>
                <%= hidden_field_tag "patient[allergy_histories_attributes][#{i}][name]", "", value: complaint.name %>
                <%= hidden_field_tag "patient[allergy_histories_attributes][#{i}][_id]", "", value: complaint._id %>
                <% @allergy_hidden_duration, @allergy_duration, @allergy_duration_unit  = complaint.allergy_started %>
                <%= hidden_field_tag "patient[allergy_histories_attributes][#{i}][hidden_duration]", "",value: @allergy_hidden_duration, class:"allergy_hidden_duration"%>

              </h5>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <div class="complaint_title">
                <% duration_time = 1..40 %>
                <%= select_tag "patient[allergy_histories_attributes][#{i}][duration]", options_for_select(duration_time, @allergy_duration), prompt: "Please Select", class:"form-control allergy_fields_add_fields allergy_duration" %>
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <div class="complaint_title">
                <%= select_tag "patient[allergy_histories_attributes][#{i}][duration_unit]", options_for_select([["Days","days"],["Weeks","weeks"],["Months","months"],["Years","years"]], @allergy_duration_unit), prompt: "Please Select", class:"form-control allergy_fields_add_fields allergy_duration_unit" %>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="complaint_title">
                <%= text_field_tag  "patient[allergy_histories_attributes][#{i}][comment]", "",class: "form-control personal_field_add_comment", placeholder: "Comment ....", value: complaint.comment %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 antiviral_agents_check" style="display:none">
      <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:5px;">
        <h5 style="font-size: 16px;color: #444;">Antiviral Agents</h5>
      </div>
      <% antiviral_agents =[["Acyclovir","acyclovir"],["Efavirenz", "efavirenz"],["Enfuvirtide", "enfuvirtide"],["Nelfinavir", "nelfinavir"],["Nevirapine", "nevirapine"], ["Zidovudine", "zidovudine"]] %>
      <%= f.input  :antiviral_agents, wrapper_html: {:class=>"col-md-12"}, collection: antiviral_agents, :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-sm btn-white checkuptype antiviral_agents_button drug_agents_button', style: "width:14% !important;" ,:input_html => {:name => "patient[antiviral_agents]" }, :checked => @patient.checkboxes_checked(@patient.antiviral_agents.to_s)%>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 antiviral_agents_title_field" style="display:none;">
      <div class="col-md-2 col-sm-2 col-xs-2">
        <h5 class="Opth_his_name">Name</h5>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2">
        <h5 class="Opth_his_name">Duration</h5>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2">
        <h5 class="Opth_his_name">Duration Units</h5>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <h5 class="Opth_his_name">Comments</h5>
      </div>
    </div>
    <div class="fields" id="antiviral_agents_main_hide">
      <% @patient.allergy_histories.each_with_index do |complaint, i| %>
        <% if complaint.name == "acyclovir" || complaint.name == "efavirenz" || complaint.name == "enfuvirtide" || complaint.name == "nelfinavir" || complaint.name == "nevirapine" || complaint.name == "zidovudine"  %>
          <div class="col-md-12 col-sm-12 col-xs-12 complaint_name allergies_fields_row_count <%= complaint.name %>_fields antiviral_agents_hide ">
            <div class="col-md-2 col-sm-2 col-xs-2">
              <h5 class="complaint_title">
                <%= hidden_field_tag "patient[allergy_histories_attributes][#{i}][_destroy]", "", class:"form-control "+complaint.name+"_destroy antiviral_agents_destroy", value: 0 %>
                <%= complaint.name.split("_").map(&:capitalize).join(" ") %>
                <%= hidden_field_tag "patient[allergy_histories_attributes][#{i}][name]", "", value: complaint.name %>
                <%= hidden_field_tag "patient[allergy_histories_attributes][#{i}][_id]", "", value: complaint._id %>
                <% @allergy_hidden_duration, @allergy_duration, @allergy_duration_unit  = complaint.allergy_started %>
                <%= hidden_field_tag "patient[allergy_histories_attributes][#{i}][hidden_duration]", "",value: @allergy_hidden_duration, class:"allergy_hidden_duration"%>

              </h5>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <div class="complaint_title">
                <% duration_time = 1..40 %>
                <%= select_tag "patient[allergy_histories_attributes][#{i}][duration]", options_for_select(duration_time, @allergy_duration), prompt: "Please Select", class:"form-control allergy_fields_add_fields allergy_duration" %>
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <div class="complaint_title">
                <%= select_tag "patient[allergy_histories_attributes][#{i}][duration_unit]", options_for_select([["Days","days"],["Weeks","weeks"],["Months","months"],["Years","years"]], @allergy_duration_unit), prompt: "Please Select", class:"form-control allergy_fields_add_fields allergy_duration_unit" %>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="complaint_title">
                <%= text_field_tag  "patient[allergy_histories_attributes][#{i}][comment]", "",class: "form-control personal_field_add_comment", placeholder: "Comment ....", value: complaint.comment %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 nsaids_check" style="display:none">
      <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:5px;">
        <h5 style="font-size: 16px;color: #444;">Nsaids</h5>
      </div>
      <% nsaids =[["Aspirin", "aspirin"],["Paracetamol", "paracetamol"],["Ibuprofen", "ibuprofen"],["Diclofenac", "diclofenac"],["Aceclofenac", "aceclofenac"], ["Naproxen", "naproxen"]] %>
      <%= f.input  :nsaids, wrapper_html: {:class=>"col-md-12"}, collection: nsaids, :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-sm btn-white checkuptype nsaids_button drug_agents_button', style: "width:14% !important;",:input_html => {:name => "patient[nsaids]" }, :checked => @patient.checkboxes_checked(@patient.nsaids.to_s) %>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 nsaids_title_field" style="display:none;">
      <div class="col-md-2 col-sm-2 col-xs-2">
        <h5 class="Opth_his_name">Name</h5>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2">
        <h5 class="Opth_his_name">Duration</h5>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2">
        <h5 class="Opth_his_name">Duration Units</h5>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <h5 class="Opth_his_name">Comments</h5>
      </div>
    </div>
    <div class="fields" id="nsaids_main_hide">
      <% @patient.allergy_histories.each_with_index do |complaint, i| %>
        <% if complaint.name == "aspirin" || complaint.name == "paracetamol" || complaint.name == "ibuprofen" || complaint.name == "diclofenac" || complaint.name == "aceclofenac" || complaint.name == "naproxen" %>
          <div class="col-md-12 col-sm-12 col-xs-12 complaint_name allergies_fields_row_count <%= complaint.name %>_fields nsaids_hide ">
            <div class="col-md-2 col-sm-2 col-xs-2">
              <h5 class="complaint_title">
                <%= hidden_field_tag "patient[allergy_histories_attributes][#{i}][_destroy]", "", class:"form-control "+complaint.name+"_destroy nsaids_destroy", value: 0 %>
                <%= complaint.name.split("_").map(&:capitalize).join(" ") %>
                <%= hidden_field_tag "patient[allergy_histories_attributes][#{i}][name]", "", value: complaint.name %>
                <% @allergy_hidden_duration, @allergy_duration, @allergy_duration_unit  = complaint.allergy_started %>
                <%= hidden_field_tag "patient[allergy_histories_attributes][#{i}][_id]", "", value: complaint._id %>
                <%= hidden_field_tag "patient[allergy_histories_attributes][#{i}][hidden_duration]", "",value: @allergy_hidden_duration, class:"allergy_hidden_duration"%>
              </h5>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <div class="complaint_title">
                <% duration_time = 1..40 %>
                <%= select_tag "patient[allergy_histories_attributes][#{i}][duration]", options_for_select(duration_time, @allergy_duration), prompt: "Please Select", class:"form-control allergy_fields_add_fields allergy_duration" %>
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <div class="complaint_title">
                <%= select_tag "patient[allergy_histories_attributes][#{i}][duration_unit]", options_for_select([["Days","days"],["Weeks","weeks"],["Months","months"],["Years","years"]], @allergy_duration_unit), prompt: "Please Select", class:"form-control allergy_fields_add_fields allergy_duration_unit" %>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="complaint_title">
                <%= text_field_tag  "patient[allergy_histories_attributes][#{i}][comment]", "",class: "form-control personal_field_add_comment", placeholder: "Comment ....", value: complaint.comment %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 eye_drops_check" style="display:none">
      <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:5px;">
        <h5 style="font-size: 16px;color: #444;">Eye Drops</h5>
      </div>
      <% eye_drops =[["Tropicamide_P","tropicamide_p" ],["Tropicamide", "tropicamide"],["Timolol", "timolol"],["Homide", "homide"],["Latanoprost", "latanoprost"], ["Brimonidine","brimonidine"], ["Travoprost","travoprost"], ["Tobramycin", "tobramycin"], ["Moxifloxacin","moxifloxacin"], ["Homatropine", "homatropine"], ["Pilocarpine", "pilocarpine"], ["Cyclopentolate","cyclopentolate"], ["Atropine", "atropine"], ["Phenylephrine", "phenylephrine"],["Tropicacyl",  "tropicacyl"],[ "Paracain",  "paracain"], ["Ciplox", "ciplox"], ["Tropicamide P + Distilled Water","tropicamide_p_distilled_water" ], ["Tropicamide P + Lubrex","tropicamide_p_lubrex" ]]%>
      <%= f.input  :eye_drops, wrapper_html: {:class=>"col-md-12"}, collection: eye_drops, :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-sm btn-white checkuptype eye_drops_button drug_agents_button', style: "width:14% !important;",:input_html => {:name => "patient[eye_drops]" }, :checked => @patient.checkboxes_checked(@patient.eye_drops.to_s) %>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 eye_drops_title_field" style="display:none;">
      <div class="col-md-2 col-sm-2 col-xs-2">
        <h5 class="Opth_his_name">Name</h5>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2">
        <h5 class="Opth_his_name">Duration</h5>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2">
        <h5 class="Opth_his_name">Duration Units</h5>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <h5 class="Opth_his_name">Comments</h5>
      </div>
    </div>
    <div class="fields" id="eye_drops_main_hide">
      <% @patient.allergy_histories.each_with_index do |complaint, i| %>
        <% if complaint.name == "tropicamide_p" || complaint.name == "tropicamide" || complaint.name == "timolol" || complaint.name == "moxifloxacin" || complaint.name == "homide" || complaint.name == "latanoprost" || complaint.name == "brimonidine" || complaint.name == "travoprost" || complaint.name == "tobramycin" || complaint.name == "homatropine" || complaint.name == "pilocarpine" || complaint.name == "cyclopentolate" || complaint.name == "atropine" || complaint.name == "phenylephrine"  || complaint.name == "tropicacyl"  || complaint.name == "paracain" || complaint.name == "ciplox" || complaint.name == "tropicamide_p_distilled_water"  || complaint.name == "tropicamide_p_lubrex" %>
          <div class="col-md-12 col-sm-12 col-xs-12 complaint_name allergies_fields_row_count <%= complaint.name %>_fields eye_drops_hide ">
            <div class="col-md-2 col-sm-2 col-xs-2">
              <h5 class="complaint_title">
                <%= hidden_field_tag "patient[allergy_histories_attributes][#{i}][_destroy]", "", class:"form-control "+complaint.name+"_destroy eye_drops_destroy", value: 0 %>
                <%= complaint.name.split("_").map(&:capitalize).join(" ") %>
                <%= hidden_field_tag "patient[allergy_histories_attributes][#{i}][name]", "", value: complaint.name %>
                <% @allergy_hidden_duration, @allergy_duration, @allergy_duration_unit  = complaint.allergy_started %>
                <%= hidden_field_tag "patient[allergy_histories_attributes][#{i}][_id]", "", value: complaint._id %>

                <%= hidden_field_tag "patient[allergy_histories_attributes][#{i}][hidden_duration]", "",value: @allergy_hidden_duration, class:"allergy_hidden_duration"%>
              </h5>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <div class="complaint_title">
                <% duration_time = 1..40 %>
                <%= select_tag "patient[allergy_histories_attributes][#{i}][duration]", options_for_select(duration_time, @allergy_duration), prompt: "Please Select", class:"form-control allergy_fields_add_fields allergy_duration" %>
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <div class="complaint_title">
                <%= select_tag "patient[allergy_histories_attributes][#{i}][duration_unit]", options_for_select([["Days","days"],["Weeks","weeks"],["Months","months"],["Years","years"]], @allergy_duration_unit), prompt: "Please Select", class:"form-control allergy_fields_add_fields allergy_duration_unit " %>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="complaint_title">
                <%= text_field_tag  "patient[allergy_histories_attributes][#{i}][comment]", "",class: "form-control personal_field_add_comment", placeholder: "Comment ....", value: complaint.comment %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <%= text_field_tag "patient[drug_allergies_comment]", @patient.drug_allergies_comment, { class: 'form-control drug_allergies_comment patient-first-name p3_10 patient_systematic_histories', placeholder: "Drug Allergies Comment" } %>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:20px;">
      <h5 style="font-size: 16px;color: #444;">Contact Allergies</h5>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <% contact_allergies =[["Alcohol" , "alcohol"],["Latex", "latex"],["Betadine", "betadine"],["Adhesive Tape", "adhesive_tape"],["Tegaderm", "tegaderm"], ["Transpore", "transpore"]] %>
      <%= f.input  :contact_allergies, wrapper_html: {:class=>""}, collection: contact_allergies, :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-sm btn-white checkuptype contact_allergies_button drug_agents_button', style: "width:14% !important;",:input_html => {:name => "patient[contact_allergies]" }, :checked => @patient.checkboxes_checked(@patient.contact_allergies.to_s) %>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 contact_allergies_title_field" style="display:block;">
      <div class="col-md-2 col-sm-2 col-xs-2">
        <h5 class="Opth_his_name">Name</h5>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2">
        <h5 class="Opth_his_name">Duration</h5>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2">
        <h5 class="Opth_his_name">Duration Units</h5>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <h5 class="Opth_his_name">Comments</h5>
      </div>
    </div>
    <div class="fields" id="contact_allergies_main_hide">
      <% @patient.allergy_histories.each_with_index do |complaint, i| %>
        <% if complaint.name == "alcohol" || complaint.name == "latex" || complaint.name == "betadine" ||  complaint.name == "adhesive_tape" || complaint.name == "tegaderm" ||complaint.name == "transpore"%>
          <div class="col-md-12 col-sm-12 col-xs-12 complaint_name allergies_fields_row_count <%= complaint.name %>_fields contact_agents_hide ">
            <div class="col-md-2 col-sm-2 col-xs-2">
              <h5 class="complaint_title">
                <%= hidden_field_tag "patient[allergy_histories_attributes][#{i}][_destroy]", "", class:"form-control "+complaint.name+"_destroy contact_agents_destroy", value: 0 %>
                <%= complaint.name.split("_").map(&:capitalize).join(" ") %>
                <%= hidden_field_tag "patient[allergy_histories_attributes][#{i}][name]", "", value: complaint.name %>
                <%= hidden_field_tag "patient[allergy_histories_attributes][#{i}][_id]", "", value: complaint._id %>
                <% @allergy_hidden_duration, @allergy_duration, @allergy_duration_unit  = complaint.allergy_started %>
                <%= hidden_field_tag "patient[allergy_histories_attributes][#{i}][hidden_duration]", "",value: @allergy_hidden_duration, class:"allergy_hidden_duration"%>

              </h5>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <div class="complaint_title">
                <% duration_time = 1..40 %>
                <%= select_tag "patient[allergy_histories_attributes][#{i}][duration]", options_for_select(duration_time, @allergy_duration), prompt: "Please Select", class:"form-control allergy_fields_add_fields allergy_duration" %>
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <div class="complaint_title">
                <%= select_tag "patient[allergy_histories_attributes][#{i}][duration_unit]", options_for_select([["Days","days"],["Weeks","weeks"],["Months","months"],["Years","years"]], @allergy_duration_unit), prompt: "Please Select", class:"form-control allergy_fields_add_fields allergy_duration_unit" %>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="complaint_title">
                <%= text_field_tag  "patient[allergy_histories_attributes][#{i}][comment]", "",class: "form-control personal_field_add_comment", placeholder: "Comment ....", value: complaint.comment %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <%= text_field_tag "patient[contact_allergies_comment]", @patient.contact_allergies_comment, { class: 'form-control contact_allergies_comment patient-first-name p3_10 patient_systematic_histories', placeholder: "Contact Allergies Comment" } %>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:20px;">
      <h5 style="font-size: 16px;color: #444;">Food Allergies</h5>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <% food_allergies =[["All Seafood", "all_seafood" ],["Corn", "corn"],["Egg", "egg"],["Milk Proteins", "milk_proteins"],["Peanuts", "peanuts"], [ "Shellfish Only","shellfish_only"], ["Soy Protein", "soy_protein"], ["Lactose", "lactose"], ["Mushroom", "mushroom"]] %>
      <%= f.input  :food_allergies, wrapper_html: {:class=>""}, collection: food_allergies, :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-sm btn-white checkuptype food_allergies_button drug_agents_button', style: "width:14% !important;", :input_html => {:name => "patient[food_allergies]" }, :checked => @patient.checkboxes_checked(@patient.food_allergies.to_s)%>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 food_allergies_title_field" style="display:block;">
      <div class="col-md-2 col-sm-2 col-xs-2">
        <h5 class="Opth_his_name">Name</h5>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2">
        <h5 class="Opth_his_name">Duration</h5>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-2">
        <h5 class="Opth_his_name">Duration Units</h5>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <h5 class="Opth_his_name">Comments</h5>
      </div>
    </div>
    <div class="fields" id="food_allergies_main_hide">
      <% @patient.allergy_histories.each_with_index do |complaint, i| %>
        <% if complaint.name == "all_seafood" || complaint.name == "corn" || complaint.name == "egg" ||  complaint.name == "milk_proteins" || complaint.name == "peanuts" || complaint.name == "shellfish_only" || complaint.name == "soy_protein" || complaint.name == "lactose" || complaint.name == "mushroom" %>
          <div class="col-md-12 col-sm-12 col-xs-12 complaint_name allergies_fields_row_count <%= complaint.name %>_fields food_agents_hide ">
            <div class="col-md-2 col-sm-2 col-xs-2">
              <h5 class="complaint_title">
                <%= hidden_field_tag "patient[allergy_histories_attributes][#{i}][_destroy]", "", class:"form-control "+complaint.name+"_destroy food_agents_destroy", value: 0 %>
                <%= complaint.name.split("_").map(&:capitalize).join(" ") %>
                <%= hidden_field_tag "patient[allergy_histories_attributes][#{i}][name]", "", value: complaint.name %>
                <%= hidden_field_tag "patient[allergy_histories_attributes][#{i}][_id]", "", value: complaint._id %>
                <% @allergy_hidden_duration, @allergy_duration, @allergy_duration_unit  = complaint.allergy_started %>
                <%= hidden_field_tag "patient[allergy_histories_attributes][#{i}][hidden_duration]", "",value: @allergy_hidden_duration, class:"allergy_hidden_duration"%>

              </h5>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <div class="complaint_title">
                <% duration_time = 1..40 %>
                <%= select_tag "patient[allergy_histories_attributes][#{i}][duration]", options_for_select(duration_time, @allergy_duration), prompt: "Please Select", class:"form-control allergy_fields_add_fields allergy_duration"  %>
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <div class="complaint_title">
                <%= select_tag "patient[allergy_histories_attributes][#{i}][duration_unit]", options_for_select([["Days","days"],["Weeks","weeks"],["Months","months"],["Years","years"]], @allergy_duration_unit), prompt: "Please Select", class:"form-control allergy_fields_add_fields allergy_duration_unit"  %>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="complaint_title">
                <%= text_field_tag  "patient[allergy_histories_attributes][#{i}][comment]", "",class: "form-control personal_field_add_comment", placeholder: "Comment ....", value: complaint.comment %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <%= text_field_tag "patient[food_allergies_comment]", @patient.food_allergies_comment, { class: 'form-control food_allergies_comment patient-first-name p3_10 patient_systematic_histories', placeholder: "Food Allergies Comment" } %>
      </div>
    </div>
  </fieldset>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-2 col-ms-2 col-xs-2">
      <h5 class="" style="color:#444; margin-top:30px">Other</h5>
    </div>
    <div class="col-md-10 col-sm-10 col-xs-10">
      <%= text_field_tag "patient[others_allergies]","",name:"patient[others_allergies]", value: @patient.others_allergies, class:"",id:"opdrecord_others_allergies", style:"padding-left: 10px; padding-left: 10px; height: 37px; width: 60%; margin-top:30px;" %>
    </div>
  </div>
</div>

<style>
  .allergy_fields_add_fields{
    height: 30px;
    border: 1px solid #ccc;
    color: #666;
    width: 100% !important;
    padding: 0px !important;

  }
  .allergy_field_add_field{
    height: 30px;
    border: 1px solid #ccc;
    color: #666;
    width: 100% !important;
    padding: 0px !important;
  }
</style>