<div class="row">
  <div class="col-sm-12">
    <div class="row mb10">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h5 style="font-size: 16px;color: #f54b4b;">If there is no history you can select 'NIL'</h5>
      </div>
    </div>
    <% if current_user.specialty_ids.include?('309988001') %>
      <div class="row mb10" style="margin-bottom: 25px;">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <b style="color:#000;">Ophthalmic History</b>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-2 col-sm-2 speciality_histories_checkbox">
            <div class="ckbox ckbox-success col-md-12">
              <%= f.check_box :no_opthalmic_history_advised, {class: "speciality_histories_advised_button", :value => @patient.read_attribute(:no_opthalmic_history_advised)}, "true", "false" %>
              <label for="patient_no_opthalmic_history_advised">NIL</label>
            </div>
            <span class="opthalmic_history_msg" style="color: #f54b4b;font-size: 9px;display: none;">No ophthalmic history selected</span>
          </div>
          <div class="col-md-1 col-sm-1">OR</div>
          <% speciality_histories_list=[["Glaucoma","glaucoma"],["Retinal Detachment","retinal_detachment"],["Glass","glasses"],["Eye Disease","eye_disease"],["Eye Surgery","eye_surgery"],["Uveitis","uveitis"],["Retinal laser","retinal_laser"],["Contact lens","contact_lens"]] %>
          <%= f.input  :speciality_histories, wrapper_html: {:class=>"col-md-9"}, collection: speciality_histories_list, :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-sm btn-white checkuptype speciality_button', style: "width:14% !important;",  :input_html => {:name => "patient[speciality_histories]" }, :checked => @patient.checkboxes_checked(@patient.speciality_histories.to_s) %>
          <div class="row ophthalmic_history_title_f" style="display:block;">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="col-md-2 col-sm-2 col-sx-2">
                <h5 class="Opth_his_name">Name</h5>
              </div>
              <div class="col-md-3 col-sm-3 col-sx-3">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <h5 class="Opth_his_name">Right duration</h5>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <h5 class="Opth_his_name">Right duration Unit</h5>
                </div>
              </div>
              <div class="col-md-1 col-sm-1 col-xs-1">
                <h5 class="Opth_his_name">Copy</h5>
              </div>
              <div class="col-md-3 col-sm-3 col-sx-3">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <h5 class="Opth_his_name">Left duration</h5>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <h5 class="Opth_his_name">left duration Unit</h5>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-sx-3">
                <h5 class="Opth_his_name">Comments</h5>
              </div>
            </div>
          </div>
          <div class="fields" id="speciality_fields_add">
            <% @patient.speciality_history_records.each_with_index do |complaint, i|%>
              <div class="col-md-12 col-sm-12 col-xs-12 complaint_name  specility_field_row <%= complaint.name %>_fields ">
                <div class="col-md-2 col-sm-2 col-xs-2">
                  <h5 class="complaint_title">
                    <%= hidden_field_tag "patient[speciality_history_records_attributes][#{i}][_destroy]", "",class: "form-control  "+complaint.name+"_destroy", value: 0 %>
                    <%= complaint.name.split("_").map(&:capitalize).join(" ") %>
                    <%= hidden_field_tag "patient[speciality_history_records_attributes][#{i}][name]", "", value: complaint.name %>
                    <% l_hidden_duration, l_duration, l_duration_unit, r_hidden_duration, r_duration, r_duration_unit  = complaint.l_r_set_duration %>
                    <%= hidden_field_tag "patient[speciality_history_records_attributes][#{i}][r_hidden_duration]", "", value: r_hidden_duration, class: "r_hidden_duration"%>
                    <%= hidden_field_tag "patient[speciality_history_records_attributes][#{i}][l_hidden_duration]", "", value: l_hidden_duration, class: "l_hidden_duration"%>
                    <%= hidden_field_tag "patient[speciality_history_records_attributes][#{i}][_id]", "",  value: complaint._id %>
                  </h5>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                  <div class="complaint_title col-md-6 col-sm-6 col-xs-6">
                  <% duration_time = 1..40 %>
                    <%= select_tag "patient[speciality_history_records_attributes][#{i}][r_duration]", options_for_select(duration_time, r_duration), prompt: "Please Select", class:"form-control speciality_fields_add_fields speciality_r_duration r_duration_field" %>
                  </div>
                  <div class="complaint_title col-md-6 col-sm-6 col-xs-6">
                    <%= select_tag "patient[speciality_history_records_attributes][#{i}][r_duration_unit]", options_for_select([["Days","days"],["Weeks","weeks"],["Months","months"],["Years","years"]], r_duration_unit), prompt: "Please Select", class:"form-control speciality_fields_add_fields speciality_r_duration_unit r_duration_unit" %>
                  </div>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 speciality_history_row ">
                  <div class="col-md-12 ccl-sm-12 col-xs-12">
                    <center>
                      <div class="complaint_title copy_arrow_button">
                        <i class="fa fa-arrow-right " aria-hidden="true" style="color: #46b8da;"></i>
                      </div>
                    </center>
                  </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 left_side_value">
                  <div class="complaint_title col-md-6 col-sm-6 col-xs-6">
                    <% duration_time = 1..40 %>
                    <%= select_tag "patient[speciality_history_records_attributes][#{i}][l_duration]", options_for_select(duration_time, l_duration), prompt: "Please Select", class:"form-control speciality_fields_add_fields speciality_l_duration l_duration_field" %>
                  </div>
                  <div class="complaint_title col-md-6 col-sm-6 col-xs-6">
                    <%= select_tag "patient[speciality_history_records_attributes][#{i}][l_duration_unit]", options_for_select([["Days","days"],["Weeks","weeks"],["Months","months"],["Years","years"]], l_duration_unit), prompt: "Please Select", class:"form-control speciality_fields_add_fields speciality_l_duration_unit l_duration_unit" %>
                  </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                  <div class="complaint_title">
                      <%= text_field_tag  "patient[speciality_history_records_attributes][#{i}][comment]", "",class: "form-control speciality_field_add_comment", placeholder: "Comment ....", value: complaint.comment%>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <%= text_field_tag "patient[opthal_history_comment]", @patient.opthal_history_comment, { class: 'form-control patient-first-name p3_10 patient_systematic_histories', placeholder: "History Comment" } %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="row mb10" style="margin-bottom: 25px;">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <b style="color:#000;">Systemic History</b>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="fields" id="personal_fields_add">
          <div class="col-md-2 col-sm-2 personal_histories_checkbox">
            <div class="ckbox ckbox-success col-md-12">
              <%= f.check_box :no_systemic_history_advised, {class: "personal_histories_advised_button", :value => @patient.read_attribute(:no_systemic_history_advised)}, "true", "false" %>
              <label for="patient_no_systemic_history_advised">NIL</label>
            </div>
            <span class="systemic_history_msg" style="color: #f54b4b;font-size: 9px;display: none;">No systemic history selected</span>
          </div>
          <div class="col-md-1 col-sm-1">OR</div>
          <% personal_histories_list=[["Diabetes","diabetes"],["Hypertension", "hypertension"],["Alcoholism","alcoholism"],["Smoking Tobacco","smoking_tobacco"],["Cardiac Disorder","cardiac_disorder"],["Steroid Intake","steroid_intake"],[ "Drug Abuse","drug_abuse"], ["Hiv Aids","hiv_aids"],[ "Cancer Tumor","cancer_tumor"], ["Tuberculosis","tuberculosis"], ["Asthma", "asthma"], ["Cns Disorder Stroke", "cns_disorder_stroke"],[ "Hypothyroidism","hypothyroidism"], ["Hyperthyroidism","hyperthyroidism"], ["Hepatitis Cirrhosis","hepatitis_cirrhosis"], ["Renal Disorder","renal_disorder"], ["Acidity","acidity"], ["On insulin","on_insulin"], ["On Aspirin Blood Thinners","on_aspirin_blood_thinners"], ["Consanguinity","consanguinity"], ["Thyroid Disorder", "thyroid_disorder"], ["Chewing Tobacco", "chewing_tobacco"], ["Rheumatoid Arthritis", "rheumatoid_arthritis"], ["Benign Prostatic Hyperplasia(BPH)", "benign_prostatic_hyperplasia"]] %>
          <%= f.input  :personal_histories, wrapper_html: {:class=>"col-md-9"}, collection: personal_histories_list, :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-sm btn-white checkuptype personal_button', style: "width:14% !important;",:input_html => {:name => "patient[personal_histories]" }, :checked => @patient.checkboxes_checked(@patient.personal_histories.to_s) %>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 symentic_allergies_title_f" style='display:block'>
              <div class="col-md-2 col-sm2 col-xs-2">
                <h5 class="Opth_his_name">Name</h5>
              </div>
              <div class="col-md-2 col-sm-2 col-xs-2">
                <h5 class="Opth_his_name">Duration</h5>
              </div>
              <div class="col-md-2 col-sm-2 col-xs-2">
                <h5 class="Opth_his_name">Duration Unit</h5>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <h5 class="Opth_his_name">Comments</h5>
              </div>
            </div>
          </div>
          <% @patient.personal_history_records.each_with_index do |complaint, i| %>
            <div class="col-md-12 col-sm-12 col-xs-12 complaint_name personal_field_row <%= complaint.name %>_fields ">
              <div class="col-md-2 col-sm-2 col-xs-2">
                <h5 class="complaint_title">
                  <%= hidden_field_tag "patient[personal_history_records_attributes][#{i}][_destroy]", "", class:"form-control "+complaint.name+"_destroy", value: 0 %>
                  <%= complaint.name.split("_").map(&:capitalize).join(" ") %>
                  <%= hidden_field_tag "patient[personal_history_records_attributes][#{i}][name]", "", value: complaint.name %>
                  <% hidden_duration, duration, duration_unit = complaint.set_duration %>
                  <%= hidden_field_tag "patient[personal_history_records_attributes][#{i}][hidden_duration]", "", value: hidden_duration, class: "hidden_duration"%>
                  <%= hidden_field_tag "patient[personal_history_records_attributes][#{i}][_id]", "", value: complaint._id %>
                </h5>
              </div>
              <div class="col-md-2 col-sm-2 col-xs-2">
                <div class="complaint_title">
                  <% duration_time = 1..40 %>
                  <%= select_tag "patient[personal_history_records_attributes][#{i}][duration]", options_for_select(duration_time, duration), prompt: "Please Select", class:"form-control personal_fields_add_fields duration_field" %>
                </div>
              </div>
              <div class="col-md-2 col-sm-2 col-xs-2">
                <div class="complaint_title">
                  <%= select_tag "patient[personal_history_records_attributes][#{i}][duration_unit]", options_for_select([["Days","days"],["Weeks","weeks"],["Months","months"],["Years","years"]], duration_unit), prompt: "Please Select", class:"form-control personal_fields_add_fields duration_unit" %>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="complaint_title">
                  <%= text_field_tag  "patient[personal_history_records_attributes][#{i}][comment]", "",class: "form-control personal_field_add_comment ", placeholder: "Comment ....", value: complaint.comment %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <%= text_field_tag "patient[history_comment]", @patient.history_comment, { class: 'form-control patient-first-name p3_10 patient_systematic_histories', placeholder: "History Comment" } %>
        </div>
      </div>
    </div>
    <div class="row mb10" style="margin-bottom: 25px;">
      <%= f.fields_for :other_history do |ff| %>
        <div class="col-sm-6">
          <div class="col-sm-12">
            <b style="color:#000;">Medical History</b>
            <%= ff.text_field :medical_history, class:"personal_field_add_comment", value: @patient.other_history.medical_history%>
            <%#= text_field_tag "patient_history[patientpersonalhistory_attributes][medical_history_comment]", @patient.patient_history.try(:patientpersonalhistory).try(:medical_history_comment), { class: 'form-control patient-first-name p7_10' } %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="col-sm-12">
            <b style="color:#000;">Family History</b>
             <%= ff.text_field :family_history, class:"personal_field_add_comment", value: @patient.other_history.family_history %>
            <%#= text_field_tag "patient_history[patientpersonalhistory_attributes][family_history_comment]", @patient.patient_history.try(:patientpersonalhistory).try(:family_history_comment), { class: 'form-control patient-first-name p7_10' } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<style>
  .patient_systematic_histories{
    width: 90% !important;
    height: 50px !important;
  }
  .cc_border
  {
    width: 98%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 15px;
    margin-left: 12px;
  }
  .cc_label
  {
    top: -10px;
  }

  .ckbox label, .rdio label {
    padding-left: 10px;
    cursor: pointer;
    margin-bottom: 8px !important;
  }
  .copy_arrow_button{
    color: #46b8da;
    cursor: pointer;
  }
  .table>tbody>tr>th{
    border-top: 0px solid #ddd;
  }
  .complaint_main_comment{
    font-size: 18px;
    color: #444;
    margin-left: 20px;
  }

  .complaint_title{
    color: #444;
    font-size: 15px;

  }
  .personal_field_add_field{
    height: 30px !important;
    border: 1px solid #ccc !important;
    color: #666 !important;
    width: 100% !important;
    padding: 0px !important;
  }
  .speciality_fields_add_fields{
    height: 30px;
    border: 1px solid #ccc;
    color: #666;
    width: 100% !important;
    padding: 0px !important;
  }
  .complaint_field_add_comment{
    width: 100% !important;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 30px;
    color: #666;
  }
  .speciality_field_add_comment{
    width: 100% !important;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 30px;
    color: #666;
    padding-left:10px;
  }
  .counter_rows{
    margin-bottom: 10px;
  }
  #opdrecord_chiefcomplaint_comments{
    width: 98%;
    height: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #opdrecord_paediatrics_histories_antenatal_maternal_vaccination{
    margin: 0px 0px 5px 0px;
    width: 100%;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  #opdrecord_paediatrics_histories_antenatal_maternal_infection{
     margin: 0px 0px 5px 0px;
    width: 100%;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  #opdrecord_antenatal_maternal_infection{
    margin: 0px 0px 5px 0px;
    width: 100% !important;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  #opdrecord_natal_birth_weight{
    margin: 0px 0px 5px 0px;
    width: 100% !important;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 4PX;
  }
  #opdrecord_lens_history_comment{
    margin: 0px 0px 5px 0px !important;
    width: 101% !important;
    height: 90px !important;
    margin-left: -15px !important;
    margin-bottom: 20px !important;
  }
  #opdrecord_other_histories_family_history{
    width: 100%;
    height: 35px;
    margin-left: -51px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 10px;
  }
  #opdrecord_opthal_history_comment{
    width: 101%;
    height: 90px !important;
    margin-left: -10px;
  }
  .specility_field_row{
    margin-bottom: 10px;
  }
  .personal_field_row{
    margin-bottom: 10px;
  }
  .personal_fields_add_fields{
    width: 100% !important;
    height: 35px;
    border: 1px solid #ccc;
    color: #666;
  }
  #opdrecord_history_comment{
    width: 100%;
    height: 90px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #666;
  }
  .personal_field_add_comment{
    width: 90% !important;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 30px;
    color: #666;
    padding-left:10px;
  }
  #opdrecord_other_histories_medical_history{
   width: 100%;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: -55px;
    padding-left: 10px;
  }
  #opdrecord_lens_histories_lens_history_comment{
    width: 95%;
    margin-left: -6px !important;
    height: 90px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px !important;
  }
  .lens_histories_fields{
    width: 88% !important;
    padding: 6px;
    border: 1px solid #ccc;
    height: 35px;
    border-radius: 4px;
    margin-left: -6px !important;
  }
  #opdrecord_lens_histories_comfort_level_time{
    padding: 5px 0px;
    height: 35px;
    width: 50%;
  }
  .lens_select_button{
    padding: 5px 0px;
    height: 35px;
    margin-left: -10px;
  }
  .f_complaint{
    text-align: center;
    color: #444;
  }
  #opdrecord_checkuptypecomments{
    height: 30px !important;
  }
  .Opth_his_name{
    text-align: center;
    color: #444;
    font-size: 13px;
  }
  #opdrecord_others_allergies{
        width: 97%;
    height: 90px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  .complaint_button{
    height:33px !important;
    font-size: 12px;
  }
</style>

<script>
  $('#patient_no_systemic_history_advised').on("click",function(){
    if($(this).is(':checked')) {
      $('#patient_personal_histories').val('')
      $('#patient_no_systemic_history_advised').val(true)
      $('.symentic_allergies_title_f').hide()
      $('.personal_button').prop('disabled', true)
      $('.systemic_history_msg').show()
    } else {
      $('#patient_no_systemic_history_advised').val(false)
      $('.symentic_allergies_title_f').show()
      $('.personal_button').prop('disabled', false)
      $('.systemic_history_msg').hide()
    }
  });

  $('#patient_no_opthalmic_history_advised').on("click",function(){
    if($(this).is(':checked')) {
      $('#patient_speciality_histories').val('')
      $('#patient_no_opthalmic_history_advised').val(true)
      $('.ophthalmic_history_title_f').hide()
      $('.speciality_button').prop('disabled', true)
      $('.opthalmic_history_msg').show()
    } else {
      $('#patient_no_opthalmic_history_advised').val(false)
      $('.ophthalmic_history_title_f').show()
      $('.speciality_button').prop('disabled', false)
      $('.opthalmic_history_msg').hide()
    }
  });

  $('#patient_speciality_histories').on("change",function(){
    let has_opthalmic_history = $(this).val()
    if(has_opthalmic_history != ""){
      $('.speciality_button').prop('disabled', false)
      $('#patient_no_opthalmic_history_advised').prop('disabled', true)
      $('#patient_no_opthalmic_history_advised').val(false)
      $('#patient_no_opthalmic_history_advised').prop('checked', false)
      $('.opthalmic_history_msg').hide()
    } else{
      $('#patient_no_opthalmic_history_advised').prop('checked', false)
      $('#patient_no_opthalmic_history_advised').val(false)
      $('#patient_no_opthalmic_history_advised').prop('disabled', false)
    }
  });


  $('#patient_personal_histories').on("change",function(){
    let has_systemic_history = $(this).val()
    if(has_systemic_history != ""){
      $('.personal_button').prop('disabled', false)
      $('#patient_no_systemic_history_advised').prop('disabled', true)
      $('#patient_no_systemic_history_advised').val(false)
      $('#patient_no_systemic_history_advised').prop('checked', false)
      $('.systemic_history_msg').hide()
    } else{
      $('#patient_no_systemic_history_advised').prop('checked', false)
      $('#patient_no_systemic_history_advised').val(false)
      $('#patient_no_systemic_history_advised').prop('disabled', false)
    }
  });

  $(document).ready(() => {
    let systemic_history = $('#patient_personal_histories').val()
    let opthalmic_history = $('#patient_speciality_histories').val()
    if(systemic_history != ""){
      $('.symentic_allergies_title_f').show()
      $('.personal_button').prop('disabled', false)
      $('.systemic_history_msg').hide()
      $('#patient_no_systemic_history_advised').prop('disabled', true)
      $('#patient_no_systemic_history_advised').val(false)
      $('#patient_no_systemic_history_advised').prop('checked', false)
    } else if($('#patient_no_systemic_history_advised').is(':checked')){
      $('#patient_no_systemic_history_advised').val(true)
      $('#patient_no_systemic_history_advised').prop('disabled', false)
      $('.symentic_allergies_title_f').hide()
      $('.personal_button').prop('disabled', true)
      $('.systemic_history_msg').show()
    } else{
      $('#patient_no_systemic_history_advised').prop('checked', false)
      $('#patient_no_systemic_history_advised').val(false)
      $('#patient_no_systemic_history_advised').prop('disabled', false)
      $('.systemic_history_msg').hide()
      $('.personal_button').prop('disabled', false)
    }

    if(opthalmic_history != ""){
      $('.ophthalmic_history_title_f').show()
      $('.speciality_button').prop('disabled', false)
      $('.opthalmic_history_msg').hide()
      $('#patient_no_opthalmic_history_advised').prop('disabled', true)
      $('#patient_no_opthalmic_history_advised').val(false)
      $('#patient_no_opthalmic_history_advised').prop('checked', false)
    } else if($('#patient_no_opthalmic_history_advised').is(':checked')){
      $('#patient_no_opthalmic_history_advised').val(true)
      $('#patient_no_opthalmic_history_advised').prop('disabled', false)
      $('.ophthalmic_history_title_f').hide()
      $('.speciality_button').prop('disabled', true)
      $('.opthalmic_history_msg').show()
    } else{
      $('#patient_no_opthalmic_history_advised').prop('checked', false)
      $('#patient_no_opthalmic_history_advised').val(false)
      $('#patient_no_opthalmic_history_advised').prop('disabled', false)
      $('.opthalmic_history_msg').hide()
      $('.speciality_button').prop('disabled', false)
    }
  });
</script>