<% @languages = Language.all %>
<input type="hidden" name="store_id" value="<%= params[:store_id] %>">
<input type="hidden" name="patient_registration_source[source_type]" value="none">
<input type="hidden" name="patient_history[patient_id]" value="">
<%= hidden_field_tag "patient[reg_facility_id]", current_facility.id.to_s, {} %>
<%= hidden_field_tag "patient[reg_date]", Date.current, {} %>
<%= hidden_field_tag "patient[reg_time]", Time.current, {} %>
<%= hidden_field_tag "patient[reg_status]", true, {} %>

<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-2">
        <b style="color:#000;">Name</b>
      </div>
      <div class="col-sm-10 text-right">
        <span class='required-message' style="font-size: 12px;"><b style="color:#a94442">First Name</b> and <b style="color:#a94442">Mobile Number</b> are <b style="color:#a94442">Compulsory.</b></span>
      </div>
    </div>
    <div class="row mb10">
      <div class="col-sm-2">
        <%= select_tag "patient[salutation]", options_for_select([[' ', ' '], ['Mr.', 'Mr.'], ['Mrs.', 'Mrs.'], ['Ms.', 'Ms.'], ['Mx.', 'Mx.'], ['Dr.', 'Dr.'], ['Mst.', 'Mst'], ['Baby', 'Baby'], ['Sr.', 'Sr.'], ['Majesty', 'Majesty']], selected: @patient.salutation), { class: 'patient-salutation form-control p7_10' } %>
      </div>
      <div class="col-sm-3" style="width:27.77%;">
        <%= text_field_tag "patient[firstname]", @patient.firstname, { class: 'form-control patient-firstname p7_10', placeholder: "First Name", validate: true} %>
        <div id="patient_fullname_error">
        </div>
      </div>
      <div class="col-sm-3" style="width:27.77%;">
        <%= text_field_tag "patient[middlename]", @patient.middlename, { class: 'form-control patient-middlename p7_10', placeholder: "Middle Name"} %>
        <div id="patient_fullname_error">
        </div>
      </div>
      <div class="col-sm-3" style="width:27.77%;">
        <%= text_field_tag "patient[lastname]", @patient.lastname, { class: 'form-control patient-lastname p7_10', placeholder: "Last Name"} %>
      </div>
    </div>
    <div class="row mb10" id="mobilenumber-number">
      <div class="col-sm-2">
        <b style="color:#000;">Contact</b>
      </div>
      <div class="col-sm-3" style="width:27.77%;">
        <%= text_field_tag "patient[mobilenumber]", @patient.mobilenumber, { minlength: Facility.find(current_facility.id).country.minimum_phone_no_length.to_i, maxlength: Facility.find(current_facility.id).country.maximum_phone_no_length.to_i, class: 'form-control patient-mobilenumber p7_10', placeholder: "Mobile Number", validate: true, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
      </div>
      <div class="col-sm-3" style="width:27.77%;">
        <%= text_field_tag "patient[secondarymobilenumber]", @patient.secondarymobilenumber, { maxlength: 10, class: 'form-control patient-secondarymobilenumber p7_10', placeholder: "Secondary Number", onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
      </div>
      <div class="col-sm-3" style="width:27.77%;">
        <%= text_field_tag "patient[email]", @patient.email, { class: 'form-control patient-email p7_10', placeholder: "Email"} %>
      </div>
    </div>
    <div class="row mb10" id="whatsapp-number">
      <div class="col-sm-2">
        <b style="color:#000;">Whatsapp Number</b>
      </div>
      <div class="col-sm-3">
        <%= hidden_field_tag "patient[whatsapp_country_code]",@patient.try(:whatsapp_country_code) %>
        <%= hidden_field_tag "patient[whatsapp_flag_code]",@patient.try(:whatsapp_flag_code)  %>
        <%= text_field_tag "patient[whatsappnumber]", @patient.whatsappnumber, { minlength: Facility.find(current_facility.id).country.minimum_phone_no_length.to_i, maxlength: Facility.find(current_facility.id).country.maximum_phone_no_length.to_i, class: 'form-control p5_10', placeholder: "Whatsapp Number", validate: false, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
        <span id="valid-msg" class="hide">✓ Valid</span>
        <span id="error-msg" class="hide"></span>
      </div>

      <div class="col-md-5">
        <input type="checkbox" id="patient_same_as_mobilenumber" name="patient[same_as_mobilenumber]" <%= @patient.try(:same_as_mobilenumber) == true ? "checked" : nil %> value= <%= @patient.try(:same_as_mobilenumber) == true ? true : false %>>
        <input type="hidden" id="patient_same_as_mobilenumber_false" name="patient[same_as_mobilenumber]" value= <%= @patient.try(:same_as_mobilenumber) == true ? true : false %>>
        <b style="color:#000;">Same as contact number</b>
      </div>
    </div>
    <div class="row mb5">
      <div class="col-sm-2">
        <div class="row">
          <div class="col-sm-12">
            <b style="color:#000;">Gender</b>
          </div>
          <div class="col-sm-12">
            <div class="rdio rdio-primary">
              <input id="gender_male" name="patient[gender]" type="radio" value="Male" <%= 'checked' if @patient.gender == "Male" %> />
              <label for="gender_male">Male</label>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="rdio rdio-primary">
              <input id="gender_female" name="patient[gender]" type="radio" value="Female" <%= 'checked' if @patient.gender == "Female" %> />
              <label for="gender_female">Female</label>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="rdio rdio-primary">
              <input id="gender_transgender" name="patient[gender]" type="radio" value="Transgender" <%= 'checked' if @patient.gender == "Transgender" %> />
              <label for="gender_transgender" style="font-size:12px;">Transgender</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4" style="border-left:1px solid #eee;">
        <div class="row">
          <div class="col-sm-12">
            <b style="color:#000;">DOB</b>
            <a href="" class="clear-date" style="display:none;font-size: 10px;margin-top: -7px;">Clear</a>
          </div>
        </div>
        <div class="row mb10">
          <div class="col-sm-12">
            <% if @patient.dob.present? %><% @dob = @patient.dob.strftime("%d/%m/%Y") %><% else %><% @dob = "" %><% end %>
            <div class="input-group">
              <span class="input-group-addon" style="padding: 5px 10px;"><i class="glyphicon glyphicon-calendar"></i></span>
              <%= text_field_tag "patient[dob]", @dob, { maxlength: 10, class: 'form-control patient-dob p7_10', placeholder: "Birth Date", readonly: 'readonly'} %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <b style="color:#000;">Age</b>
          </div>
          <div class="col-sm-5">
            <%= text_field_tag 'patient[age]', @patient.age, { maxlength: 3, class: 'form-control patient-age p7_10', placeholder: "Years" } %>
          </div>
          <div class="col-sm-5">
            <%= text_field_tag 'patient[age_month]', @patient.age_month, { maxlength: 3, class: 'form-control patient-age_month p7_10', placeholder: 'Months' } %>
          </div>
        </div>
      </div>
      <div class="col-sm-3" style="border-left:1px solid #eee;border-right:1px solid #eee;">
        <div class="row">
          <div class="col-sm-12">
            <b style="color:#000;">Relation</b>
          </div>
        </div>
        <div class="row mb20">
          <div class="col-sm-12 ">
            <%= select_tag "patient[relative_relation]", options_for_select(Patient.relative_relation.options, @patient.relative_relation), {include_blank: 'Please Select', class: 'patient-relative-relation form-control p7_10' } %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 patient-relative-name-section">
            <%= text_field_tag "patient[relative_name]", @patient.relative_name, { class: 'form-control patient-relative-name p7_10', placeholder: "Relative's Name"} %>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-sm-12">
            <b style="color:#000;">Patient Type</b>
          </div>
        </div>
        <div class="row mb10">
          <div class="col-sm-12">
            <%= select_tag "patient[patient_type_id]", options_for_select(@patient_type, selected: @patient.try(:patient_type_id)), { include_blank: 'Select', class: 'form-control patient-patient_type_id p7_10' } %>
          </div>
        </div>
        <div class="row show-patient-type-comment mb10" style="display: none;">
          <div class="col-sm-12">
            <%= text_field_tag "patient[patient_type_comment]", @patient.patient_type_comment, { class: 'form-control patient-patient_type_comment p7_10', placeholder: "Comment"} %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-sm-12">
            <b style="color:#000;">Address</b>
            <a href="" class="clear-pincode" style="display:none;font-size: 10px;margin-top: -7px;">Clear</a>
            <a href="" class="clear-commune" style="display:none;font-size: 10px;margin-top: -7px;">Clear</a>
          </div>
        </div>
        <% if current_facility.country_id == 'VN_254' %>
          <div class="row vietnam-country-address mb10">
            <div class="col-sm-4">
              <%= text_field_tag "patient[city]", @patient.city, { id: 'search_city', class: 'form-control patient-city p5_10', placeholder: "City"} %>
            </div>
            <div class="col-sm-4">
              <%= text_field_tag "patient[district]", @patient.district, { id: 'search_district', class: 'form-control patient-district p5_10', placeholder: "District" } %>
            </div>
            <div class="col-sm-4">
              <%= text_field_tag "patient[commune]", @patient.commune, {id: 'search_commune', class: 'form-control patient-commune p5_10', placeholder: "Commune"} %>
            </div>
          </div>
        <% elsif current_facility.country_id == 'KH_039' %>
          <a class="clear-commune" style="display:none;font-size: 10px;margin-top: -7px;">Clear</a>
          <div class="row mb10 cambodia_facility">
            <div class="col-sm-3">
              <%= text_field_tag "patient[pincode]", @patient.pincode, { id:'search_pincode_cambodia', maxlength: 7, class: 'form-control patient-pincode patient-address p7_10', placeholder: "Pincode", validate: true, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57'} %>
            </div>
            <div class="col-sm-3">
              <%= text_field_tag "patient[state]", @patient.state, {id:'search_state_cambodia', validate: true, class: 'form-control patient-state patient-address p7_10', placeholder: "Province/ State"} %>
            </div>
            <div class="col-sm-3">
              <%= text_field_tag "patient[district]", @patient.district, { id: 'search_district_cambodia', validate: true, class: 'form-control patient-district patient-address p5_10', placeholder: "District" } %>
            </div>
            <div class="col-sm-3">
              <%= text_field_tag "patient[commune]", @patient.commune, {id: 'search_commune_cambodia', validate: true, class: 'form-control patient-commune patient-address p5_10', placeholder: "Commune"} %>
            </div>
          </div>
        <% else %>
          <div class="row mb10">
            <div class="col-sm-4">
              <%= text_field_tag "patient[pincode]", @patient.pincode, { id:'search_pincode', maxlength: 6, class: 'form-control patient-pincode patient-address p7_10', placeholder: "Pincode", validate: true, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57'} %>
            </div>
            <div class="col-sm-4">
              <%= text_field_tag "patient[state]", @patient.state, {id:'search_state', validate: true, class: 'form-control patient-state patient-address p7_10', placeholder: "State"} %>
            </div>
            <div class="col-sm-4">
              <%= text_field_tag "patient[city]", @patient.city, { id:'search_city', validate: true, class: 'form-control patient-city patient-address p7_10', placeholder: "City"} %>
            </div>
          </div>
        <% end %>
        <div class="row mb10">
          <div class="col-sm-6">
            <%= text_field_tag "patient[address_1]", @patient.address_1, { class: 'form-control patient-address_1 p7_10', placeholder: "Address 1"} %>
          </div>
          <div class="col-sm-6">
            <%= text_field_tag "patient[address_2]", @patient.address_2, { class: 'form-control patient-address_2 p7_10', placeholder: "Address 2"} %>
          </div>
        </div>
      </div>
      <div class="col-md-3" style="border-left:1px solid #eee;">
        <div class="row">
          <div class="col-sm-12">
            <b style="color:#000;">Occupation Details</b>
          </div>
        </div>
        <div class="row mb10">
          <div class="col-sm-12">
            <%= text_field_tag "patient[occupation]", @patient.occupation, { class: 'form-control patient-occupation p7_10', placeholder: "Occupation"} %>
          </div>
        </div>
        <div class="row mb10">
          <div class="col-sm-12">
            <%= text_field_tag "patient[employee_id]", @patient.employee_id, { class: 'form-control patient-employee_id p7_10', placeholder: "Employee ID"} %>
          </div>
        </div>
      </div>
    </div>
    <% if current_facility.country_id != 'KH_039' %>
      <div class="row mb10">
        <div class="col-sm-3">
          <b style="color:#000;">Medical Record No.</b>
          <%= text_field_tag "patient_other_identifier[mr_no]", @patient.patient_mrn, { class: 'form-control patient-aadhar_card_number p7_10', placeholder: "Medical Record No."} %>
        </div>

        <div class="col-sm-3">
          <b style="color:#000;">Health Id No.</b>
          <%= text_field_tag "patient[health_id_number]", @patient.try(:health_id_number), { maxlength: 12, class: 'form-control patient-health_id_number p7_10', placeholder: "Health Id No."} %>
        </div>

        <div class="col-sm-3">
          <b style="color:#000;">Primary Language</b>
          <%= select_tag "patient[primary_language]", options_for_select(@languages.pluck(:name), selected: @patient.primary_language), { include_blank: 'Primary', class: 'patient-language patient-primary_language form-control p7_10' } %>
        </div>
        <div class="col-sm-3 ">
          <b style="color:#000;">Secondary Language</b>
          <%= select_tag "patient[secondary_language]", options_for_select(@languages.pluck(:name), selected: @patient.secondary_language), { include_blank: "Secondary", class: 'patient-language patient-secondary_language form-control p7_10' } %>
        </div>

      </div>
      <div class="row mb20">
        <div class="col-sm-3">
          <b style="color:#000;">Aadhar Card No.</b>
          <%= text_field_tag "patient[aadhar_card_number]", @patient.aadhar_card_number, { maxlength: 12, class: 'form-control patient-aadhar_card_number p7_10', placeholder: "Aadhar Card No."} %>
        </div>
        <div class="col-sm-3">
          <b style="color:#000;">PAN Card No.</b>
          <%= text_field_tag "patient[pan_number]", @patient.pan_number, { maxlength: 10, class: 'form-control patient-pan_number p7_10', placeholder: "Pan No."} %>
        </div>
        <div class="col-sm-3">
          <b style="color:#000;">DL No.</b>
          <%= text_field_tag "patient[driving_license_number]", @patient.driving_license_number, { maxlength: 16, class: 'form-control patient-driving_license_number p7_10', placeholder: "DL No."} %>
        </div>
        <div class="col-sm-3">
          <b style="color:#000;">GST No.</b>
          <%= text_field_tag "patient[gst_number]", @patient.gst_number, { maxlength: 16, class: 'form-control patient-gst_number p7_10', placeholder: "GST No."} %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="default-values" style="display:none;">
    <span id="default-country_flag"></span>
    <span id="default-country_dailcode"></span>
  </div>
</div>

<style type="text/css">
  #error-msg {
    color: red;
  }
  #valid-msg {
    color: #00C900;
  }
  .patient-dob, #patient_registration_source_source_date {
    background-color: #fff !important;
    cursor: pointer !important;
  }

  input.valid, select.valid {
    border-color: #ccc;
    box-shadow: none;
    background-image: none;
  }

  #patient_firstname-error, #patient_mobilenumber-error {
    margin: 0px !important;
  }

  .ui-menu-item a.ui-state-focus {
    background-color: #929090;
    color: #fff;
  }
  .intl-tel-input .country-list{
    z-index: 999 !important;
  }
  #patient_same_as_mobilenumber{
    width: auto;
    display: inline-block;
  }

  .intl-tel-input.allow-dropdown input, .intl-tel-input.allow-dropdown input[type=text], .intl-tel-input.allow-dropdown input[type=tel], .intl-tel-input.separate-dial-code input, .intl-tel-input.separate-dial-code input[type=text], .intl-tel-input.separate-dial-code input[type=tel]{
    padding-left: 80px !important;
  }
  .intl-tel-input.allow-dropdown .selected-flag, .intl-tel-input.separate-dial-code .selected-flag{
    width: 80px !important;
  }
</style>

<script type="text/javascript">
  var auto_facility = "<%= current_facility.try(:country).try(:abbreviation1).try(:downcase) %>"
  if(auto_facility == "us"){
    var second_country = "in"
  }
  else{
    var second_country = "us"
  }
  $("#patient_mobilenumber").intlTelInput({
    formatOnInit: true,
    separateDialCode: true,
    utilsScript: "../assets/libphonenumber/utils.js",
    preferredCountries: [( auto_facility || "in" ), second_country ]
  });

  $("#patient_whatsappnumber").intlTelInput({
    formatOnInit: true,
    separateDialCode: true,
    utilsScript: "../assets/libphonenumber/utils.js",
    preferredCountries: [( auto_facility || "in" ), second_country]
  });
  if($("#patient_same_as_mobilenumber").is(':checked')){
    $("#patient_whatsappnumber").attr('disabled',true)
  }

  $(document).ready(function(){
    setTimeout(defaultValueSet, 1000);
  })

  function defaultValueSet(){
    flag = $("#whatsapp-number .intl-tel-input .flag-container .selected-flag .iti-flag")[0].className.split(" ")[1]
    code = $("#whatsapp-number .intl-tel-input .flag-container .selected-flag .selected-dial-code")[0].innerHTML
    $("#default-country_flag").html(flag)
    $("#default-country_dailcode").html(code)
  }

  <% if @patient.persisted? %>
    var mobile_code = "<%= @patient.mobilenumber_country_code %>"
    var mobile_flag = "<%= @patient.mobilenumber_flag_code %>"
    var whatsapp_code = "<%= @patient.whatsapp_country_code %>"
    var whatsapp_flag = "<%= @patient.whatsapp_flag_code %>"

    $("#patient_whatsapp_country_code").val(mobile_code)
    $("#patient_whatsapp_flag_code").val(mobile_flag)
    if(whatsapp_code != '' && whatsapp_flag != ''){
      $("#patient_mobilenumber_country_code").val(whatsapp_code)
      $("#patient_mobilenumber_flag_code").val(whatsapp_flag)
      $("#whatsapp-number .intl-tel-input .flag-container .selected-flag .iti-flag").addClass(whatsapp_flag)
      $("#whatsapp-number .intl-tel-input .flag-container .selected-flag .selected-dial-code").html(whatsapp_code);
    }
    $("#mobilenumber-number .intl-tel-input .flag-container .selected-flag .iti-flag").addClass(mobile_flag)
    $("#mobilenumber-number .intl-tel-input .flag-container .selected-flag .selected-dial-code").html(mobile_code);
  <% end %>
  $("#patient_same_as_mobilenumber").change(function(){
    var  patient_mobilenumber_country_code = $("#mobilenumber-number .intl-tel-input .flag-container .selected-flag .selected-dial-code").html();
    if($("#patient_same_as_mobilenumber").is(':checked')){

      var patient_mobilenumber_country_flag = $("#mobilenumber-number .intl-tel-input .flag-container .selected-flag .iti-flag")[0].className.split(" ")[1]
      var patient_whatsapp_country_flag = $("#whatsapp-number .intl-tel-input .flag-container .selected-flag .iti-flag")[0].className.split(" ")[1]
      $("#whatsapp-number .intl-tel-input .flag-container .selected-flag .iti-flag").removeClass(patient_whatsapp_country_flag)
      $("#whatsapp-number .intl-tel-input .flag-container .selected-flag .iti-flag").addClass(patient_mobilenumber_country_flag)

      $("#whatsapp-number .intl-tel-input .flag-container .selected-flag .selected-dial-code").html(patient_mobilenumber_country_code);
      $("#patient_whatsappnumber").val($("#patient_mobilenumber").val());
      updateBothCountryCode(patient_mobilenumber_country_code)
      $("#patient_whatsappnumber").attr('disabled', true)
      $("#patient_same_as_mobilenumber").val(true)
      $("#patient_same_as_mobilenumber").attr("checked", true)
      $("#patient_same_as_mobilenumber_false").val(true)
    }
    else{
      var patient_whatsappnumber_country_flag = $("#whatsapp-number .intl-tel-input .flag-container .selected-flag .iti-flag")[0].className.split(" ")[1]
      $("#whatsapp-number .intl-tel-input .flag-container .selected-flag .iti-flag").removeClass(patient_whatsappnumber_country_flag)
      $("#whatsapp-number .intl-tel-input .flag-container .selected-flag .iti-flag").addClass($("#default-country_flag").html())
      $("#whatsapp-number .intl-tel-input .flag-container .selected-flag .selected-dial-code").html($("#default-country_dailcode").html());
      $("#patient_whatsappnumber").val('');
      $("#patient_whatsappnumber").attr('disabled', false)
      $("#patient_same_as_mobilenumber").val(false)
      $("#patient_same_as_mobilenumber").attr("checked", false)
      $("#patient_same_as_mobilenumber_false").val(false)
    }
  })

  $("#patient_mobilenumber").keyup(function(){
    updateCountryCode()
  })

  $("#patient_whatsappnumber").keyup(function(){
    var whatsapp_number_code = $("#whatsapp-number .intl-tel-input .flag-container .selected-flag .selected-dial-code")[0].innerHTML
    var whatsapp_number_flag = $("#whatsapp-number .intl-tel-input .flag-container .selected-flag .iti-flag")[0].classList[1]
    $("#patient_whatsapp_country_code").val(whatsapp_number_code)
    $("#patient_whatsapp_flag_code").val(whatsapp_number_flag)

  })

  function updateBothCountryCode(patient_mobilenumber_country_code){
    var whatsapp_country_code = $("#mobilenumber-number .intl-tel-input .flag-container .selected-flag .selected-dial-code")[0].innerHTML
    var whatsapp_flag_code = $("#mobilenumber-number .intl-tel-input .flag-container .selected-flag .iti-flag")[0].classList[1]
    $("#patient_whatsapp_country_code").val(whatsapp_country_code)
    $("#patient_whatsapp_flag_code").val(whatsapp_flag_code)
  }
  
  function updateCountryCode(){
    var mobile_number_code = $("#mobilenumber-number .intl-tel-input .flag-container .selected-flag .selected-dial-code")[0].innerHTML
    var mobile_number_flag = $("#mobilenumber-number .intl-tel-input .flag-container .selected-flag .iti-flag")[0].classList[1]
    $("#patient_mobilenumber_country_code").val(mobile_number_code)
    $("#patient_mobilenumber_flag_code").val(mobile_number_flag)
  }

  $("#mobilenumber-number .country").click(function(){
    var mobile_number_code = this.dataset.dialCode
    var mobile_number_flag = this.dataset.countryCode
    $("#patient_mobilenumber_country_code").val('+'+mobile_number_code)
    $("#patient_mobilenumber_flag_code").val(mobile_number_flag)
  })

  $("#whatsapp-number .country").click(function(){
    var whatsapp_country_code = this.dataset.dialCode
    var whatsapp_flag_code = this.dataset.countryCode
    $("#patient_whatsapp_country_code").val('+'+whatsapp_country_code)
    $("#patient_whatsapp_flag_code").val(whatsapp_flag_code)
  })

  $("#patient_whatsappnumber").keyup(function(){
    if(this.value.length == 0){
      $('#error-msg').html('')
      $('#error-msg').addClass('hide')
      $('#valid-msg').addClass('hide')
      $('.btn-success').attr('disabled', false)
    }
    if(this.value.length == 1){
      $('.btn-success').attr('disabled', true)
    }
    code = $("#whatsapp-number .intl-tel-input .flag-container .selected-flag .selected-dial-code")[0].innerHTML
    full_number = code+this.value
    if(isValidNumber(full_number) == false){
      $('.btn-success').attr('disabled', true)
      $('#valid-msg').addClass('hide')
      $('#error-msg').removeClass('hide')
      $('#error-msg').html('Invalid Number')
    }
    else{
      $('#error-msg').html('')
      $('#error-msg').addClass('hide')
      $('#valid-msg').removeClass('hide')
      $('.btn-success').attr('disabled', false)
    }
  })

  $("#patient_same_as_mobilenumber").change(function(){
    code = $("#whatsapp-number .intl-tel-input .flag-container .selected-flag .selected-dial-code")[0].innerHTML
    full_number = code+$("#patient_mobilenumber").val();
    if($("#patient_same_as_mobilenumber").is(':checked')){
      if(isValidNumber(full_number) == false){
        $('.btn-success').attr('disabled', true)
        $('#valid-msg').addClass('hide')
        $('#error-msg').removeClass('hide')
        $('#error-msg').html('Invalid Number')
      }
      else{
        $('#error-msg').html('')
        $('#error-msg').addClass('hide')
        $('#valid-msg').removeClass('hide')
        $('.btn-success').attr('disabled', false)
      }
    }
    else{
      $('#error-msg').html('')
      $('#error-msg').addClass('hide')
      $('#valid-msg').addClass('hide')
    }
  })

  function isValidNumber(number) {
    return new libphonenumber.parsePhoneNumber(number).isValid()
  }
</script>
