<h4>Facility Name: <%= current_facility.name %></h4>
<br>
<table class="table table-bordered sub-referral-table" style="width: 70%">
	<thead>
		<tr>
			<th>Department</th>
			<th>Font Size</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>OPD - Template</td>
			<td class="template"><%= @facility_setting.template_font_size %></td>
			<td><%= link_to set_font_size_facility_path(type: 'template_font_size', department: 'OPD - Template'), data: { remote: true, toggle: 'modal', target: '#referral-modal' }, class: 'btn btn-info btn-xs', id: 'edit-sub-referral-type' do %>Edit<% end %></td>
		</tr>
		<tr>
			<td>OPD - Template Patient Header </td>
			<td><%= @facility_setting.template_header_font_size %></td>
			<td><%= link_to set_font_size_facility_path(type: 'template_header_font_size', department: 'OPD - Template Patient Header'), data: { remote: true, toggle: 'modal', target: '#referral-modal' }, class: 'btn btn-info btn-xs', id: 'edit-sub-referral-type' do %>Edit<% end %></td>
		</tr>
		<tr>
			<td>OPD - Bills</td>
			<td><%= @facility_setting.bills_font_size %></td>
			<td><%= link_to set_font_size_facility_path(type: 'bills_font_size', department: 'OPD - Bills'), data: { remote: true, toggle: 'modal', target: '#referral-modal' }, class: 'btn btn-info btn-xs', id: 'edit-sub-referral-type' do %>Edit<% end %></td>
		</tr>
	</tbody>
</table>
