<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog" style="width: 71%;">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Edit Facility</h4>
    </div>
    <%= form_for @facility, remote: true do |f| %>
      <% integration_identifier = @facility.try(:integration_identifier) || BSON::ObjectId.new %>
      <%= f.hidden_field :integration_identifier, { value: integration_identifier } %>
      <%= f.hidden_field :organisation_id, { value: @organisation.id } %>
      
      <div class="modal-body">
        <%#= render partial: 'form.html.erb', locals: { f: f } %>
        <%= render partial: '/facilities/stepper/stepper_form', locals: { f: f } %>
      </div>
      
      <div class="modal-footer">
        <div class="col-md-4 specialty_note_pane">
          <span class="specialty_note" style="font-weight: bold;color: red;font-style: italic;display: none;">Note:  Select at least one Specialty and Department.</span>
        </div>
        <div class="col-md-8">
          <%= f.submit "Save", class: 'btn btn-success save-form-btn', onclick: 'edit_facility(event)', data: { 'disable-with': 'Please Wait...' } %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    <% end %>
  </div>
</div>