<div class="row" style="margin-top:15px;">
  <div class="col-sm-5">
    <strong>Name</strong><br>
    <%= f.text_field :name, { :class => 'form-control p7_10 name', :placeholder => "Name" } %>
  </div>
  <div class="col-sm-4">
    <strong>Display Name</strong><br>
    <%= f.text_field :display_name, { :class => 'form-control p7_10 display_name', :placeholder => "Display Name" } %>
  </div>
  <div class="col-sm-3">
    <strong>Facility Code</strong><br>
    <%= f.text_field :abbreviation, { :class => 'form-control p7_10 abbreviation', :placeholder => "Ex. ABC", minlength: 3, maxlength: 6 } %>
  </div>
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-sm-4">
    <strong>Country</strong><br>
    <%= f.select :country_id, options_for_select(@countries.collect {|p| [ p.name + " ("+p.abbreviation1+") ", p.id ] },@facility.country_id), {include_blank: "Select Country"}, {class: 'form-control country'} %>
  </div>
  <div class="col-sm-4">
    <strong>Time Zone</strong><br>
    <%= f.select :time_zone, options_for_select(@zones_array || [], @facility.time_zone), {include_blank: "Select Timezone"}, { class: "form-control time_zone" } %>
  </div>
  <div class="col-sm-4">
    <strong>Primary Currency</strong><br>
    <%= f.hidden_field :currency_symbol, value: @facility.currency_symbol %>
    <% currency_array = ([["#{@currency.name} - #{@currency.code}", @currency.id, "data-symbol": @currency.symbol]] if @currency.present?) || [] %>
    <%= f.select :currency_id, options_for_select(currency_array, @facility.currency_id), {include_blank: "Select Currency"}, {class: 'form-control currency'} %>
  </div>
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-sm-12">
    <strong>Supported Currencies</strong><br>
    <%= f.select :currency_ids, options_for_select(Currency.all.collect {|c| [ "#{c.code} - #{c.name}", c.id ] }, @facility.currency_ids), {}, {class: 'form-control currency', multiple: 'multiple', style:'max-height:34px;'} %>
  </div>
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-sm-12">
    <strong>Address</strong><br>
    <%= f.text_field :address, { :class => 'form-control p7_10 address', :placeholder => "Address" } %>
  </div>
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-sm-4">
    <strong>Pincode</strong>
    <a href="" class="clear-pincode" style="display:none;font-size: 10px;margin-top: -7px;">Clear</a><br>
    <%= f.text_field :pincode, { :id =>'search_pincode', :class => 'form-control p7_10 pincode', :placeholder => "Pincode", minlength: 5, maxlength: 7, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
  </div>
  <div class="col-sm-4">
    <strong>State</strong><br>
    <%= f.text_field :state, { :id =>'search_state', :class => 'form-control p7_10 state', :placeholder => "State" } %>
  </div>
  <div class="col-sm-4">
    <strong>City</strong><br>
    <%= f.text_field :city, { :id =>'search_city', :class => 'form-control p7_10 city', :placeholder => "City" } %>
  </div>
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-sm-4">
    <strong>Email</strong><br>
    <%= f.text_field :email, { :class => 'form-control p7_10 email', :placeholder => "Email" } %>
  </div>
  <div class="col-sm-4">
    <strong>Landline</strong><br>
    <%= f.text_field :telephone, { :class => 'form-control p7_10 telephone', :placeholder => "Landline", minlength: 10, maxlength: 10, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
  </div>
  <div class="col-sm-4">
    <strong>Fax</strong><br>
    <%= f.text_field :fax, { :class => 'form-control p7_10 fax', :placeholder => "Fax", minlength: 5, maxlength: 15, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
  </div>
</div>
<div class="row" style="margin-top: 15px;">
  <div class="col-sm-4">
    <strong>SMS Contact Number</strong>
    <%= f.text_field :sms_contact_number, {class: 'form-control p7_10 sms_contact_number', placeholder: "SMS Contact Number", minlength: 10, maxlength: 10, onkeypress:' return event.charCode >= 48 && event.charCode <= 57', value: @facility.try(:sms_contact_number).present? ? @facility.try(:sms_contact_number) : @facility.try(:telephone) } %>
  </div>
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-md-12">
    <strong>Department</strong><br>
    <% @department.each do |department| %>
      <!-- File Not in Use -->
      <% if @current_user.department_id == department.id %>
        <%= hidden_field_tag 'facility[department_ids][]', department.id %>
        <div class="ckbox ckbox-primary col-md-12">
          <%= check_box_tag 'facility[department_ids][]', department.id, true, { id: "#{department.id}", class: "department_ids_checkboxes", :disabled => "disabled" } %>
          <label for="<%= department.id %>"><%= department.name %></label>    <span class="label label-danger">Pre-selected during signup process.</span>
        </div>
      <% elsif @organisation['type'] == "hospital" %>
        <% checked = (true if @facility.department_ids.include?(department.id)) || false %>
        <div class="ckbox ckbox-primary col-md-6">
          <%= check_box_tag 'facility[department_ids][]', department.id, checked, { id: "#{department.id}", class: "department_ids_checkboxes" } %>
          <label for="<%= department.id %>"><%= department.name %></label>
        </div>
      <% end %>
    <% end %>
  </div>    
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <strong>Enable Clinical Workflow</strong>
      </div>
      <div class="col-md-6">
        <div class="rdio rdio-primary">
          <%= f.radio_button :clinical_workflow, true, { id: 'workflow_true' } %>
          <label for="workflow_true">Yes</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rdio rdio-primary">
          <%= f.radio_button :clinical_workflow, false, {id: 'workflow_false' } %>
          <label for="workflow_false">No</label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <strong>Enable Finance Module</strong>
      </div>
      <div class="col-md-6">
        <div class="rdio rdio-primary">
          <%= f.radio_button :show_finances, true, { id: 'finance_true' } %>
          <label for="finance_true">Yes</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rdio rdio-primary">
          <%= f.radio_button :show_finances, false, {id: 'finance_false' } %>
          <label for="finance_false">No</label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin-top:15px;">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <strong>Enable Online/Offline Feature</strong>
      </div>
      <div class="col-md-6">
        <div class="rdio rdio-primary">
          <%= f.radio_button :show_user_state, true, { id: 'user_state_true' } %>
          <label for="user_state_true">Yes</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rdio rdio-primary">
          <%= f.radio_button :show_user_state, false, {id: 'user_state_false' } %>
          <label for="user_state_false">No</label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <strong>Enable Appointment Token System</strong>
      </div>
      <div class="col-md-6">
        <div class="rdio rdio-primary">
          <%= radio_button_tag 'facility_settings[token_enabled]', true, @token_setting.try(:token_enabled), { class: 'token_enabled', id: 'token_enabled_true' } %>
          <label for="token_enabled_true">Yes</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rdio rdio-primary">
          <%= radio_button_tag 'facility_settings[token_enabled]', false, !@token_setting.try(:token_enabled), { class: 'token_enabled', id: 'token_enabled_false' } %>
          <label for="token_enabled_false">No</label>
        </div>
      </div>
      <div class="show_on_token_enabled" <%= "style=display:none;" unless @token_setting.try(:token_enabled) %>>
        <div class="col-md-5">
          <strong>Sort By Token</strong>
        </div>
        <div class="col-md-3">
          <div class="rdio rdio-primary">
            <%= radio_button_tag 'facility_settings[sort_list_by_token]', true, @token_setting.try(:sort_list_by_token), { id: 'sort_list_by_token_true' } %>
            <label for="sort_list_by_token_true">Yes</label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="rdio rdio-primary">
            <%= radio_button_tag 'facility_settings[sort_list_by_token]', false, !@token_setting.try(:sort_list_by_token), { id: 'sort_list_by_token_false' } %>
            <label for="sort_list_by_token_false">No</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .ui-menu-item a.ui-state-focus {
    background-color: #929090; 
    color: #fff; 
  }
</style>
