<div class="row">
  <div class="col-md-3">
    <h4>MANAGE ORGANISATION/FACILITY</h4>
  </div>
  <div class="col-md-9 text-right">
    <% if params[:level] == "organisation" %>
      <a href="/users/download_data.xlsx?organisation_id=<%= @organisation_id %>" class="btn btn-primary btn-primary-transparent download-user-data" title="Download Facility Wise User Data"><i class="fa fa-download"></i> Facility Wise User Report</a>
      <a href="/users/user_wise_download_data.xlsx?organisation_id=<%= @organisation_id %>" class="btn btn-primary btn-primary-transparent download-user-data" title="Download User Wise Data"><i class="fa fa-download"></i> User Wise Report</a>
      <%= link_to users_all_users_path, class: "btn btn-primary", id: "all-users", data: { remote: true } do %><i class="fa fa-users"></i> All Users<% end %>
      <%= link_to edit_organisation_path(id: @organisation_id), class: "btn btn-primary edit-organisation", id: "edit-organisation", data: { remote: true, 'toggle': "modal", 'target': '#organisation-modal' } do %><i class="fa fa-edit"></i> Edit Organisation<% end %>
      <%= link_to edit_organisation_setting_path(id: current_organisation['_id']), class: "btn btn-primary", id: "edit-organisation-settings", data: { remote: true, 'toggle': "modal", 'target': '#organisation-modal' } do %><i class="fa fa-gear"></i> Org. Settings<% end %>  
      <%= link_to new_facility_path(organisation_id: @organisation_id), class: "btn btn-primary edit-facility", id: "edit-facility", data: { remote: true, 'toggle': "modal", 'target': '#facility-modal' } do %><i class="fa fa-plus"></i> Facility/Location<% end %>
    <% end %>
    <%= link_to new_user_path(organisation_id: @organisation_id, level: params[:level]), class:  "btn btn-primary edit-organisation", id: "edit-organisation", data: { remote: true, 'toggle': "modal", 'target': '#user-modal' } do %><i class="fa fa-plus"></i>  User<% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="bootstrap-table">
      <div class="fixed-table-container no-border">
        <div class="fixed-table-body no-border">
          <table id="manage_facilities" class="table table-primary table-bordered dataTable th-padding-12">
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  <%= render partial: '/facilities/index.js.erb' %>
</script>

<style type="text/css">
  .link_button{
    border-radius: 1%;
    margin: 3px;
    box-shadow: 3px 3px 4px grey;
    /*background-color: #65a5a4cc;*/
  }

  .link_button a{
    color: white;
    text-decoration: none;
  }
</style>