<div class="row form-group required">
  <div class="col-md-3"> <%= f.label "Name" %></div>
  <div class="col-md-9"><%= f.text_field :name,{:class => 'form-control'} %></div>
</div>
<div class="row form-group required">
  <div class="col-md-3 "><%= f.label "Display name" %></div>
  <div class="col-md-9"><%= f.text_field :display_name,{:class => 'form-control'} %></div>
</div>
<div class="row form-group required">
  <div class="col-md-3 "><%= f.label "Abbreviation code" %></div>
  <div class="col-md-4"><%= f.text_field :abbreviation, { :class => 'form-control', :placeholder => '3 Digit Code. Ex. ABC' } %></div>
</div>
<div class="row form-group required">
  <div class="col-md-3 "><%= f.label "Address" %></div>
  <div class="col-md-9"><%= f.text_area :address,{:class => 'form-control'} %></div>
</div>
<div class="row form-group required">
  <label class="col-md-3">Country & Timezone</label>
  <div class="col-md-4">
    <%= f.select :country_id, options_for_select(Country.all.collect {|p| [ p.name + " ("+p.abbreviation1+") ", p.id , data: {'country_id': p.id.to_s }] }, :selected => @facility.country_id || Country.find_by(abbreviation1: "IN").id ), {}, {class: 'form-control facility_country'} %>
  </div>
  <div class="col-md-5 time_zones">
    <%= select_tag "facility[time_zone]", options_for_select(""), { :class=> "zones-dropdown form-control" } %>
  </div>
</div>
<div class="form-group row required">
  <label class="col-md-3">City & State</label>
  <div class="col-md-5" style="padding-right: 8px;">
    <%= f.text_field :city, { :class => 'form-control', :placeholder => "City" } %>
  </div>
  <div class="col-md-4" style="padding-left: 8px;">
    <%= f.text_field :state, { :class => 'form-control', :placeholder => "State" } %>
  </div>
</div>
<div class="form-group row required">
  <label class="col-md-3">Pin Code & Email</label>
  <div class="col-md-4" style="padding-right: 8px;">
    <%= f.text_field :pincode, {:class => 'form-control', :maxlength=>'7' } %>
  </div>
  <div class="col-md-5" style="padding-left: 8px;">
    <%= f.text_field :email, { :class => 'form-control', :placeholder => "abc@abc.com" } %>
  </div>
</div>
<div class="form-group row required">
  <label class="col-md-3">Landline & Fax</label>
  <div class="col-md-4" style="padding-right: 8px;">
    <%= f.text_field :telephone, { :class => 'form-control', :placeholder => "+91-80-6100000" } %>
  </div>
  <div class="col-md-5" style="padding-left: 8px;">
    <%= f.text_field :fax, { :class => 'form-control', :placeholder => "+91-80-6100000" } %>
  </div>
</div>
<div class="row form-group required">
  <div class="col-md-3"><%= f.label "Departments" %></div>
  <div class="col-md-9">
        <% Department.all.each do |department| %>
          <!-- File not in use -->
          <% if current_user.department_id == department.id && department.is_launched == true %>
            <div class="ckbox ckbox-primary col-md-12">
              <%= check_box_tag 'facility[department_ids][]', department.id, true, { id: "#{department.id}", class: "department_ids_checkboxes", :disabled => "disabled" } %>
              <label for="<%= department.id %>"><%= department.name %></label>    <span class="label label-danger">Pre-selected during signup process.</span>
            </div>
          <% elsif current_user.organisation.type == "hospital" %>
            <div class="ckbox ckbox-primary col-md-6">
              <%= check_box_tag 'facility[department_ids][]', department.id, false, { id: "#{department.id}", class: "department_ids_checkboxes" } %>
              <label for="<%= department.id %>"><%= department.name %></label>
            </div>
          <% end %>
        <% end %>
  </div>
</div>
<style type="text/css">
  .required-field:after {
    color: #1CAF9A;
    content: "*";
    position: absolute;
    margin-left: 3px;
    bottom: 9px;
}
</style>