<div class="modal-dialog modal-hg-invoice" style="width: 45%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Preview</h4>
      </div>
      <div class="modal-body" id="modal-id">
        <table class="table table-hover">
          <% @country_name = Country.find_by(id: @facility.country_id).name %>
            <tr>
                <td> Name</td>
                <td><%= @facility.name %></td>
            </tr>
             <tr>
                <td> Display name</td>
                <td><%= @facility.display_name %></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><%= @facility.address%></td>
            </tr>
            <tr>
                <td><label >City & State</label></td>
                <td><%= @facility.city %>, <%= @facility.state %></td>
            </tr>

            <tr>
                <td><label >Country & Timezone</label></td>
                <td><%= @country_name %>, <%= @facility.time_zone %> </td>
            </tr>

            <tr>
                <td><label>Pin Code</label></td>
                <td><%= @facility.pincode %></td>
            </tr>

            <tr>
                <td><label >Email</label></td>
                <td>
                <%= @facility.email %>
                </td>
            </tr>
            <tr>
                <td><label >Landline & Fax</label></td>
                <td>
                <%= @facility.telephone %> & <%= @facility.fax %>
                </td>
            </tr>
            <tr>
                <td>Departments</td>
                <td>
                <% @facility.departments.each do |department| %>
                    <%= department.name %> <br>
                <% end %>
                </td>
            </tr>
            <tr>
                <td>Clinical Workflow</td>
                <td>
                  <%if @facility.clinical_workflow %>
                    Yes
                  <%else%>
                    No
                  <% end %>
                </td>
            </tr>
        </table>
        <div class="row form-group">
            <div class="col-md-2 centered">
                <%= link_to edit_facility_path(:id => @facility.id), :data => {:remote => true },:class => 'btn btn-primary'  do %><i class="fa  fa-pencil-square-o"></i>Edit<% end %>
            </div>
        </div>
      </div>
    </div>
</div>