<div class="modal-dialog" style="width: 50%;">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Update Font Size</h4>
    </div>
    <%= simple_form_for :user_fonts, :url => url_for(:controller =>'facilities', :action => 'update_font_size'), :remote => true do |f| %>
      <%= f.hidden_field :type, value: @type %>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3">
                Department : 
              </div>
              <div class="col-md-3">
                <%= @department %>
              </div>
            </div>
          </div>
        </div>
        <hr/>
        <div class="row mb20">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3">
                Font Size : 
              </div>
              <div class="col-md-3 sel-div">
                <% fonts_to_select, default_font_size = get_facility_fonts %>
                <%= f.select :font_size, options_for_select(fonts_to_select), {} ,{:class => "form-control", :style => "width:400px"} %>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <p class="text-align-left"><span style="color: red;">Please Note:</span> The update in font size will immediately impact all the OPD <%= @type.include?('bill') ? 'Bill' : (@type.include?('header') ? '' : 'Clinical')%> template <%= @type.include?('header') ? 'patient header' : '' %> print. Default font size is <%= default_font_size %> </p>
        <%= f.submit 'Update', :class => "btn btn-primary" %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    <% end %>
  </div>
</div>
<script>
  $('.sel-div option[value="<%= @facility.facility_setting.try(@type) %>"]').attr('selected','selected')
</script>
