<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Facility Details</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <table class="table">
          <tbody>
            <tr>
              <th>Name</th>
              <td><%= @facility.name %></td>
            </tr>
            <tr>
              <th>Display Name</th>
              <td><%= @facility.display_name %></td>
            </tr>
            <tr>
              <th>Facility Code</th>
              <td><%= @facility.abbreviation %></td>
            </tr>
            <tr>
              <th>Country</th>
              <td><%= @country.name %></td>
            </tr>
            <tr>
              <th>Time Zone</th>
              <td><%= @facility.time_zone %></td>
            </tr>
            <tr>
              <th>Currency</th>
              <td><%= "#{@currency.code} - #{@currency.name}" %></td>
            </tr>
            <tr>
              <th>Address</th>
              <td><%= @facility.address %></td>
            </tr>
            <% if @country.id == 'VN_254' %>
              <tr>
                <th>City</th>
                <td><%= @facility.city %></td>
              </tr>
              <tr>
                <th>District</th>
                <td><%= @facility.district %></td>
              </tr>
              <tr>
                <th>Commune</th>
                <td><%= @facility.commune %></td>
              </tr>
            <% elsif %>
              <tr>
                <th>Pincode</th>
                <td><%= @facility.pincode %></td>
              </tr>
              <tr>
                <th>State</th>
                <td><%= @facility.state %></td>
              </tr>
              <tr>
                <th>District</th>
                <td><%= @facility.district %></td>
              </tr>
              <tr>
                <th>Commune</th>
                <td><%= @facility.commune %></td>
              </tr>
            <% else %>
              <tr>
                <th>City</th>
                <td><%= @facility.city %></td>
              </tr>
              <tr>
                <th>State</th>
                <td><%= @facility.state %></td>
              </tr>
              <tr>
                <th>Pincode</th>
                <td><%= @facility.pincode %></td>
              </tr>
            <% end %>
            <tr>
              <th>Region</th>
              <td><%= "#{@region_master.try(:name)} - #{@region_master.try(:abbreviation)}" %></td>
            </tr>
            <tr>
              <th>Email</th>
              <td><%= @facility.email %></td>
            </tr>
            <tr>
              <th>Landline</th>
              <td><%= (@facility.telephone if @facility.telephone.present?) || '-' %></td>
            </tr>
            <tr>
              <th>Fax</th>
              <td><%= (@facility.fax if @facility.fax.present?) || '-' %></td>
            </tr>
            <tr>
              <th>SMS Contact Number</th>
              <td><%= (@facility.sms_contact_number if @facility.sms_contact_number.present?) || '-' %></td>
            </tr>
              <% if current_organisation_setting.try(:organisation_whatsapp_enabled) && @communication_numbers.count > 1 %>
              <tr>
                <th>Whatsapp Number</th>
                <td><%= ("#{@facility.try(:communication_number).try(:country_code)} #{@facility.try(:communication_number).try(:communication_number)}" if @facility.communication_number.present?) || '-' %></td>
              </tr>
            <% end %>
            <tr>
              <th>Number Format</th>
              <% if @facility.number_format.present? %>
                <% if @facility.number_format == 1 %>
                  <% number_format = "12,345,678.99 (Western)" %>
                <% elsif @facility.number_format == 2 %>
                  <% number_format = "1,23,45,678.99 (Indian)" %>
                <% else %>
                  <% number_format = "12345678.99 (Default)" %>
                <% end %>
              <% else %>
                <% number_format = "12345678.99 (Default)" %>
              <% end %>
              <td><%= number_format %></td>
            </tr>
            <tr>
              <th>Specialties</th>
              <td>
                <% @facility.specialty_ids.each do |specialty_id| %>
                  <%= Specialty.find_by(id: specialty_id).name %><br>
                <% end %>
              </td>
            </tr>
            <tr>
              <th>Department</th>
              <td>
                <% @facility_departments.each do |department| %>
                  <%= department.name %><br>
                <% end %>
              </td>
            </tr>
            <tr>
              <th>Clinical Workflow</th>
              <td><%= ("Enabled" if @facility.clinical_workflow) || "Disabled" %></td>
            </tr>
            <tr>
              <th>Finance Options</th>
              <td><%= ("Enabled" if @facility.show_finances) || "Disabled" %></td>
            </tr>
            <tr>
              <th>User State (Online/Offline)</th>
              <td><%= ("Enabled" if @facility.show_user_state) || "Disabled" %></td>
            </tr>
            <tr>
              <th>Token Enabled</th>
              <% if params[:facility_settings].present? %>
                <td><%= ("Enabled" if params[:facility_settings][:token_enabled] == 'true') || "Disabled" %></td>
              <% else %>
                <td><%= ("Enabled" if @token_setting.try(:token_enabled)) || "Disabled" %></td>
              <% end %>
            </tr>
            <tr>
              <th>Queue Management</th>
              <% if params[:facility_settings].present? %>
                <td><%= ("Enabled" if params[:facility_settings][:queue_management] == 'true') || "Disabled" %></td>
              <% else %>
                <td><%= ("Enabled" if @token_setting.try(:queue_management)) || "Disabled" %></td>
              <% end %>
            </tr>
            <tr>
              <th>Generic Name</th>
              <td><%= ("Enabled" if @facility.display_generic_name) || "Disabled" %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <%= link_to edit_facility_path(@facility.id.to_s) , data: { remote: true }, class: "btn btn-primary" do %><i class="fa fa-edit"></i> Edit<% end %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

</div>
