<div class="container-fluid">
  <!-- Patient Info -->
  <div class="row" id="patient_details">
    <%= render partial: 'patients/basic_info.html.erb', locals: { patient: @patient, invoice: @invoice } %>
    <hr style="margin:10px;">
  </div>
  <!-- Patient Info Ends -->

  <% if @visit_diagnoses.try(:size).to_i > 0 || @visit_ophthal_investigations.try(:size).to_i > 0 || @visit_laboratory_investigations.try(:size).to_i > 0 || @visit_radiology_investigations.try(:size).to_i > 0 %>
    <div id="patient-assessment-header" class="col-md-12" style="padding:5px 0px;">
      <div class="panel panel-default" style="margin-left: 3px;">
        <div class="panel-heading" style="background-color: #49587E;margin-top: 0px;line-height: 0px;padding: 10px;">
          <div class="panel-btns">
            <a href="" class="minimize minimize-patient-assessment-box" style="margin-top: 0px;color: white;opacity: 1">-</a>
          </div><!-- panel-btns -->
          <p class="panel-title"  style="font-size: 11px;margin-top: 0px;line-height: 0px;color: white">PATIENT VISIT ASSESSMENT</p>
        </div>

        <div class="panel-body patient-assessment-section" style="display: none;padding: 0 15px;">
          <div class="row mb10" id="" style="border-bottom: 1px solid #eee;">
            <%= render partial: 'invoice/invoices/patient_assessment_data_view.html.erb', locals: { patient: @patient, invoice: @invoice, mail_job: false } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>


  <% if @invoice_template.version == "v20.0" %>
    <div id="service_item_v20">
      <%= render partial: 'template_service_item_v20.html.erb' %>
    </div>
  <% else %>
    <div id="service_item_v21">
      <%= render partial: 'template_service_item_v21.html.erb' %>
    </div>
  <% end %>
  <div class="row" style="margin-top:20px;">
    <div class="col-md-6">
      <b>Remarks for Customer:</b> <%= inv.text_area :patient_comment, class: 'form-control', placeholder: 'Comment', minlength: 3 %>
      <div class="additional_discount_div hidden"><b>Additional Discount Reason:</b> <span style='font-size:10px;'>(This will not appear in print)</span> <%= inv.text_area :additional_discount_comment, class: 'form-control additional_discount_comment', placeholder: 'Comment', value: '', minlength: 3 %></div>
      <b>Internal Comments:</b> <span style='font-size:10px;'>(This will not appear in print)</span> <%= inv.text_area :comments, class: 'form-control', placeholder: 'Comments', value: '', minlength: 3 %>
    </div>
    <div class="col-md-6">
      <div class="row invoice_calculation_list">
        <div class="row mb5">
          <div class="col-md-5 text-right">
            <b>Gross Bill Total :</b>
          </div>
          <div class="col-md-3 text-right">
            <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control invoice_gross_total" id="invoice_gross_total" placeholder="Gross Amount" type="text" name="invoice_opd[total]" value="<%= @service_total %>" readonly="readonly">
          </div>
        </div>
        <div class="row mb5">
          <div class="col-md-5 text-right">
            <b>Total Discount on Items :</b>
          </div>
          <div class="col-md-3 text-right">
            <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control services_discount" id="services_discount" placeholder="Total discount on Items" value="0" type="text" name="invoice_opd[services_discount]" readonly="readonly">
          </div>
        </div>
        <div class="row mb5">
          <div class="col-md-5 text-right">
            <b>Total offer discount on Items :</b>
          </div>
          <div class="col-md-3 text-right">
            <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control offer_on_services" id="offer_on_services" placeholder="Total offer discount on Items" value="0" type="text" name="invoice_opd[offer_on_services]" readonly="readonly">
          </div>
        </div>
        <div class="row mb5">
          <div class="col-md-5 text-right">
            <b>Additional Discount on Bill :</b>
          </div>
          <div class="col-md-3 text-right">
            <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control discount_amount" id="discount_amount" placeholder="Additional discount on Bill" value="0" type="text" name="invoice_opd[additional_discount]">
          </div>
        </div>
        <div class="row mb5">
          <div class="col-md-5 text-right">
            <b>Offer Discount on Bill :</b><a class="add_bill_offer btn btn-primary btn-xs" name="add_bill_offer" data-remote='true' data-toggle='modal' data-target='#invoice-offer-bill-modal' href="/invoice/invoices/show_bill_offers?invoice_department_type=<%=@invoice.invoice_department_type%>&department_id=<%=@department_id%>&invoice_action=<%=params[:action]%>"><i class="fa fa-plus"></i></a>
            <div><label class="lbl_offer_detail hidden"></label><button class="remove_bill_offer btn btn-danger btn-xs hidden" name="remove_bill_offer"><i class="fa fa-trash-alt"></i></button></div>
          </div>
          <div class="col-md-3 text-right">
            <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control offer_on_bill" id="offer_on_bill" placeholder="Additional discount on Bill" value="0" type="text" name="invoice_opd[offer_on_bill]" readonly="readonly">
            <input type="hidden" class="form-control offer_manager_id" name="invoice_opd[offer_manager_id]" value="">
            <input type="hidden" class="form-control offer_name" name="invoice_opd[offer_name]" value="">
            <input type="hidden" class="form-control offer_code" name="invoice_opd[offer_code]" value="">
            <input type="hidden" class="form-control offer_percentage" name="invoice_opd[offer_percentage]" value="">
            <input type="hidden" class="form-control offer_applied_at" name="invoice_opd[offer_applied_at]", value="">
            <input type="hidden" class="form-control offer_applied_at_name" name="invoice_opd[offer_applied_at_name]", value="">
            <input type="hidden" class="form-control offer_applied_by" name="invoice_opd[offer_applied_by]", value="">
            <input type="hidden" class="form-control offer_applied_by_name" name="invoice_opd[offer_applied_by_name]", value="">
            <input type="hidden" class="form-control offer_applied_date" name="invoice_opd[offer_applied_date]", value="">
            <input type="hidden" class="form-control offer_applied_datetime" name="invoice_opd[offer_applied_datetime]", value="">
          </div>
        </div>
        <div class="row mb5">
          <div class="col-md-5 text-right">
            <b>Total Discount :</b>
          </div>
          <div class="col-md-3 text-right">
            <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control total_discount" id="total_discount" placeholder="Total Discount" value="0" type="text" name="invoice_opd[total_discount]" readonly="readonly">
          </div>
        </div>
        <div class="row mb5">
          <div class="col-md-5 text-right">
            <b>Total offer discount :</b>
          </div>
          <div class="col-md-3 text-right">
            <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control total_offer" id="total_offer" placeholder="Total offer discount" value="0" type="text" name="invoice_opd[total_offer]" readonly="readonly">
          </div>
        </div>
        <div class="row mb5">
          <div class="col-md-5 text-right">
            <b>Total of all discount :</b>
          </div>
          <div class="col-md-3 text-right">
            <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control total_offer_discount" id="total_offer_discount" placeholder="Total of all discount" value="" type="text" name="total_offer_discount" readonly="readonly">
          </div>
        </div>
        <div class="row mb5">
          <div class="col-md-5 text-right">
            <b>Round :</b>
          </div>
          <div class="col-md-3 text-right">
            <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control round_amount" id="round_amount" placeholder="Round" value="0" type="text" name="invoice_opd[round]" readonly="readonly">
          </div>
        </div>
        <div class="row mb5">
          <div class="col-md-5 text-right">
            <b>Net Bill Total :</b>
          </div>
          <div class="col-md-3 text-right">
            <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control invoice_net_total" id="invoice_net_total" placeholder="Net Bill Total" value="<%= @service_total %>" type="text" name="invoice_opd[net_amount]" readonly="readonly">
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div id="form-payment-details">
    <%= render partial: 'form_payment_details.html.erb' %>
  </div>
</div>
