<%= javascript_include_tag 'application-loggedin', 'data-turbolinks-track' => true %>
<div class="modal-dialog" style="width:85%;">
  <!-- Modal content-->
  <div class="modal-content">
    <%= form_for(@invoice, url: { controller: 'opd', action: 'create' }, format: :js, remote: true, method: :POST) do |inv| %>
      <%= inv.hidden_field :patient_id, value: @patient.id %>
      <%= inv.hidden_field :appointment_id, value: @appointment.id %>
      <%= inv.hidden_field :organisation_id, value: current_user.organisation_id %>
      <%= inv.hidden_field :user_id, value: @userid %>
      <%= inv.hidden_field :invoice_type, value: @invoice_type, id: 'patient-type' %>
      <%= inv.hidden_field :invoice_source, value: @finance_type %>
      <%= inv.hidden_field :facility_id, value: @facility_id %>
      <%= inv.hidden_field :tax_enabled, value: @invoice_setting.tax_enabled_opd %>
      <%= inv.hidden_field :currency_symbol, value: @currency.symbol %>
      <%= inv.hidden_field :currency_id, value: @currency.id %>
      <%= inv.hidden_field :version, value: @invoice_template.version %>
      <%= inv.hidden_field :specialty_id, value: @appointment.specialty_id %>
      <%= inv.hidden_field :department_id, value: @department_id %>
      <%= inv.hidden_field :department_name, value: @department_name %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">OPD Receipt</h4>
      </div>
      <div class="modal-body">
        <% if @invoice_setting.tax_enabled_opd %>
          <%= render partial: 'invoice/opd/new_template_tax_enabled.html.erb', locals: { inv: inv } %>
        <% else %>
          <%= render partial: 'invoice/opd/new_template_tax_disabled.html.erb', locals: { inv: inv } %>
        <% end %>
      </div>
      <div class="modal-footer">
        <%= inv.submit 'Save', class: 'btn btn-success save-invoice', data: { 'disable-with': 'Please Wait...' }, onclick: 'opd_invoice_template_page()' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>

<style type="text/css">
  /*input {
    border: none !important;
    border-bottom: 1px solid #aaa !important;
  }*/

  .payment_received_breakups_date, .payment_received_breakups_time, .payment_received_breakups_cheque_date, .payment_received_breakups_transfer_date {
    background: #fff !important;
    cursor: pointer !important;
  }

  .service_row_count {
    border: 1px solid #aaa;
    padding: 21px;
    margin-bottom: 10px;
  }

  .patient_info_box {
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-left: 1px solid #aaa;
    padding: 10px 0;
    margin-bottom: 10px;
  }

  input.error, select.error {
    border-color: #b94a48;
    background-image: none;
  }
  input.valid, select.valid {
    border-color: #468847;
    background-image: none;
  }
  .form-control-custom-input{
    padding: 5px 10px;
    border-right: none;
    width: 100%;
  }
  .form-control-custom-slash {
    background: #FFFFFF;
    padding: 0px;
    margin: 0px;
    border-right: none;
    border-left: none;
  }
  .form-control-custom-select-bill {
    padding: 6px 0px;
    margin: 0px 5px 0px -15%;
    border-left: none;
    width: 100%;
    font-size: 13px;
    line-height: 1.42857143;
    height: 30px;
    min-width: 30px;
  }
  .lbl_discount_amount {
    margin-left: 10px;
    margin-top: 5px;
  }
  .invoice_service_item_row {
    padding: 5px;
  }
  .invoice_service_item_row:nth-child(even) {
    background-color: #e6e5f780;
  }
</style>

<script type="text/javascript">
  function service_autocomplete_opd(){
    $(".service_name").autocomplete({
      minLength: 2,
      source: function(request, response) {
        $.ajax({
            dataType: "json",
            type : 'get',
            url: '/invoice/invoices/service_name_list',
            data: {q: request.term, remote: "true", facility_id: "<%= @facility_id %>" },
            success: function(data) {
                response(data);
            },
            error: function(data) {
            }
        });
      },
      focus: function( event, ui ) {

      },
      select: function( event, ui ) {

      },
      close: function() {

      }
    });
    $(".service_name").autocomplete( "option", "appendTo", "#new_invoice_opd" );
  }
  service_autocomplete_opd();

  function item_autocomplete_opd(){
    $(".i_description").autocomplete({
      minLength: 2,
      source: function(request, response) {
          $.ajax({
              dataType: "json",
              type : 'get',
              url: '/invoice/invoices/item_name_list',
              data: {q: request.term, remote: "true", facility_id: "<%= @facility_id %>" },
              success: function(data) {
                  response(data);
              },
              error: function(data) {
              }
          });
      },
      focus: function( event, ui ) {

      },
      select: function( event, ui ) {

      },
      close: function() {

      }
    });
    $(".i_description").autocomplete( "option", "appendTo", "#new_invoice_opd" );
  }
  item_autocomplete_opd();
</script>
