<% precision = @invoice.currency_id == 'VND001' ? 0 : 2 %>
<% @invoice.services.each.with_index do |serv, i| %>
  <div class="row service_item_list">
    <% @service_total = 0 %>
    <div class="row service_list">
      <div class="col-md-1">
        <b style="color:#000;"><%= i + 1 %>.</b>
      </div>
      <div class="col-md-7">
        <b style="color:#000;"><%= InvoiceServiceCard.find_by(id: serv.try(:name)).service_name %></b>
      </div>
      <div class="col-md-4 text-right">
        <% service_total_with_precision = number_with_precision(serv.service_total, precision: precision) %>
        <% service_total_display = Common::Finance::NumberFormatService.call(@number_format, service_total_with_precision) %>
        <b style="color:#000;"><%= service_total_display %></b>
      </div>
    </div>
    <div class="row item_list">
      <% serv.items.each.with_index do |it, c| %>
        <div class="row item">
          <div class="col-md-3 col-md-offset-1" style='padding-left:20px;word-wrap: break-word;'>
            <%= InvoiceItemCard.find_by(id: it.try(:description)).try(:item_name) %>
          </div>
          <div class="col-md-3">
            <% if it.item_entry_date %>
              <%= it.item_entry_date.strftime('%d-%m-%y') %>
            <% else %>
              <%= invoice.created_at.strftime('%d-%m-%y') %>
            <% end %>
          </div>
          <div class="col-md-1">
            <%= it.quantity %>
          </div>
          <div class="col-md-2 text-right">
            <% unit_price_with_precision = number_with_precision(it.unit_price, precision: precision) %>
            <% unit_price_display = Common::Finance::NumberFormatService.call(@number_format, unit_price_with_precision) %>
            <%= unit_price_display %>
          </div>
          <div class="col-md-2 text-right" style="margin-left:-10px;">
            <% price_with_precision = number_with_precision(it.price, precision: precision) %>
            <% price_display = Common::Finance::NumberFormatService.call(@number_format, price_with_precision) %>
            <%= price_display %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
