<% precision = @invoice.currency_id == 'VND001' ? 0 : 2 %>
<% @invoice.services.each.with_index do |service, i| %>
  <div class="row service_item_list">
    <div class="row item_list">
      <div class="item">
        <% discount_with_precision = number_with_precision(service.discount_amount, precision: 2) %>
        <% discount_display = Common::Finance::NumberFormatService.call(@number_format, discount_with_precision) %>
        <% discount_reason = (service.discount_reason.present?) ? service.discount_reason : '' %>  
        <% offer_with_precision = number_with_precision(service.offer_amount, precision: 2) %>
        <% offer_display = Common::Finance::NumberFormatService.call(@number_format, offer_with_precision) %>
        <% if service.entry_type == "service" %>
          <% @pricing_master = PricingMaster.find_by(id: service.description) %>
          <% if @pricing_master.present? %>
            <div class="col-md-12">
              <div class="col-md-1"><span><%= i + 1 %>.</span></div>
              <div class="col-md-3"><span><%= @pricing_master.service_sub_group.name %> - <%= @pricing_master.service_name %> <% if service.try(:service_code) %> - <%= service.try(:service_code) %>  <% end %></span></div>
              <div class="col-md-1"><span class="badge <%=service.entry_type%>">S</span></div>
              <div class="col-md-1"><span><%= service.quantity %></span></div>
              <% unit_price_with_precision = number_with_precision(service.unit_price, precision: 2) %>
              <% unit_price = Common::Finance::NumberFormatService.call(@number_format, unit_price_with_precision) %>
              <div class="col-md-1 text-right"><span><%= unit_price %></span></div>
              <% price_with_precision = number_with_precision(service.price, precision: 2) %>
              <% price_display = Common::Finance::NumberFormatService.call(@number_format, price_with_precision) %>
              <div class="col-md-3 text-right">
                <div class="row">
                  <div class="col-md-2">&nbsp;</div>
                  <div class="col-md-5"><span><%= price_display %></span></div>
                  <div class="col-md-5">&nbsp;</div>
                </div>
                <% if service.discount_amount.to_f > 0%>
                  <div class="row">
                    <div class="col-md-2"><b>Discount: </b></div>
                    <div class="col-md-5"><span> - <%=discount_display%></span></div>
                    <% if discount_reason.present? %><div class="col-md-5"><span>(<%=discount_reason%>)</span></div><% end %>
                  </div>
                <% end %>
                <% if service&.offer_amount > 0 %>
                  <div class="row">
                    <div class="col-md-2"><b>Offer: </b></div>
                    <div class="col-md-5"><span> - <%=offer_display%></span></div>
                    <div class="col-md-5"><span>(<%=service&.offer_code%> - <%=service&.offer_name%>)</span></div>
                  </div>
                <% end %>
              </div>
              <% net_item_price_with_precision = number_with_precision((service.net_item_price || service.price), precision: 2) %>
              <% net_item_price_display = Common::Finance::NumberFormatService.call(@number_format, net_item_price_with_precision) %>
              <div class="col-md-2 text-right"><span><%= net_item_price_display %></span></div>
            </div>
          <% end %>
        <% elsif service.entry_type == "surgery_package" %>
          <% @surgery_package = SurgeryPackage.find_by(id: service.description) %>
          <% if @surgery_package.present? %>
            <div class="col-md-12">
              <div class="col-md-1"><span><%= i + 1 %>.</span></div>
              <div class="col-md-3"><span><%= @surgery_package.display_name %></span></div>
              <div class="col-md-1"><span class="badge <%=service.entry_type%>">P</span></div>
              <div class="col-md-1"><span><%= service.quantity %></span></div>
              <% unit_price_with_precision = number_with_precision(service.unit_price, precision: 2) %>
              <% unit_price = Common::Finance::NumberFormatService.call(@number_format, unit_price_with_precision) %>
              <div class="col-md-1 text-right"><span><%= unit_price %></span></div>
              <% price_with_precision = number_with_precision(service.price, precision: 2) %>
              <% price_display = Common::Finance::NumberFormatService.call(@number_format, price_with_precision) %>
              <div class="col-md-3 text-right">
                <div class="row">
                  <div class="col-md-2">&nbsp;</div>
                  <div class="col-md-5"><span><%= price_display %></span></div>
                  <div class="col-md-5">&nbsp;</div>
                </div>
                <% if service.discount_amount.to_f > 0%>
                  <div class="row">
                    <div class="col-md-2"><b>Discount: </b></div>
                    <div class="col-md-5"><span> - <%=discount_display%></span></div>
                    <% if discount_reason.present? %><div class="col-md-5"><span>(<%=discount_reason%>)</span></div><% end %>
                  </div>
                <% end %>
                <% if service&.offer_amount > 0 %>
                  <div class="row">
                    <div class="col-md-2"><b>Offer: </b></div>
                    <div class="col-md-5"><span> - <%=offer_display%></span></div>
                    <div class="col-md-5"><span>(<%=service&.offer_code%> - <%=service&.offer_name%>)</span></div>
                  </div>
                <% end %>
              </div>
              <% net_item_price_with_precision = number_with_precision((service.net_item_price || service.price), precision: 2) %>
              <% net_item_price_display = Common::Finance::NumberFormatService.call(@number_format, net_item_price_with_precision) %>
              <div class="col-md-2 text-right"><span><%= net_item_price_display %></span></div>
            </div>
            <% if service.show_breakup_in_print.present? && service.show_breakup_in_print == true && @surgery_package.present? && @surgery_package.services.count > 0 %>
              <div class="col-md-12">
                <div class="row" style="margin-bottom: 5px;font-size: 10px;">
                  <div class="col-md-11 col-md-offset-1" style="padding:0px;">
                    <b>Package Breakup :</b>
                  </div>
                  <div class="col-md-9 col-md-offset-1" style="padding: 0px 5px;">
                    <table class="table table-bordered" style="margin-bottom: 0px;">
                      <thead>
                        <tr>
                          <th style="padding:2px 10px;">S.No</th>
                          <th style="padding:2px 10px;">Description</th>
                          <th style="padding:2px 10px;" class="text-right">Unit Cost</th>
                          <th style="padding:2px 10px;" class="text-right">Total Cost</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @surgery_package.services.where(is_active: true).each_with_index do |service, i| %>
                          <tr>
                            <td style="padding:2px 10px;"><%= i + 1 %>.</td>
                            <td style="padding:2px 10px;"><%= service.item_name %><%= "(#{service.item_code})" if service.item_code.present? %></td>
                            <% unit_price_with_precision = number_with_precision(service.try(:unit_price), precision: 2) %>
                            <% unit_price = Common::Finance::NumberFormatService.call(@number_format, unit_price_with_precision) %>
                            <td style="padding:2px 10px;" class="text-right"><%= unit_price %> <%= "(#{service.try(:unit)} #{service.try(:item_type) == 'Room Rent' ? 'Days' : 'Units' })" %></td>
                            <% total_price_with_precision = number_with_precision(service.try(:total_price), precision: 2) %>
                            <% total_price_display = Common::Finance::NumberFormatService.call(@number_format, total_price_with_precision) %>
                            <td style="padding:2px 10px;" class="text-right"><%= total_price_display %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div><!-- .item -->
    </div><!-- .item_list -->
  </div>
<% end %>
