<% @invoice.services.each.with_index do |serv, i| %>
  <div class="row service_item_list">
    <% @service_total = 0 %>
    <div class="row service_list">
      <div class="col-md-1">
        <b style="color:#000;"><%= i + 1 %>.</b>
      </div>
      <div class="col-md-6">
        <b style="color:#000;"><%= InvoiceServiceCard.find(serv.name).service_name %></b>
      </div>
      <div class="col-md-2 col-md-offset-2 text-right">
        <b style="color:#000;"><%= number_with_precision(serv.service_total, precision: 2) %></b>
      </div>
    </div>
    <div class="row item_list">
      <% serv.items.each.with_index do |it, c| %>
        <div class="item">
          <% @invoice_item_card = InvoiceItemCard.find(it.description) %>
          <div class="col-md-3 col-md-offset-1" style='padding-left:20px;'><%= @invoice_item_card.item_name %>
          <% if @invoice_item_card.user_name %>-<%= @invoice_item_card.user_name %><% end %></div>
          <div class="col-md-1"><%= it.quantity %></div>
          <div class="col-md-2 text-right"><%= number_with_precision(it.unit_price, precision: 2) %></div>
          <div class="col-md-2 text-right"><%= number_with_precision(it.taxable_amount, precision: 2) %></div>
          <div class="col-md-2 text-right" style="margin-left:-10px;"><%= number_with_precision(it.price, precision: 2) %></div>
          <div class="col-md-1 text-center"></div>
        </div><!-- .item -->
      <% end %>
    </div><!-- .item_list -->
  </div>
<% end %>
