<div class="invoice_types" style="padding: 10px 5px 0;background: #eee;">
  <%= render partial: 'invoice_types.html.erb', locals: { invoice: @invoice, type: 'opd', form_method: 'new', is_draft: @is_draft } %>
</div>
<div class="patient-payer-data-form">
  <% if @patient_payer_data_master.present? %>
    <%= render partial: 'patient_payer_data_form.html.erb', locals: { invoice: @invoice, type: 'opd', form_method: 'new', is_draft: @is_draft } %>
  <% end %>
</div>
<div class="services_items_invoice_opd" id="services_items_invoice_opd">
  <!-- Display Once -->
  <% unless @template_services.nil? %>
    <div class="service_row_count mb5 mt5" title="0">
      <div class="invoice_service_item_row_header row mt5" id="invoice_service_item_row_header">
        <div class="col-md-3">
          <b>Item Description</b>
        </div>
        <div class="col-md-1">
          <b>Quantity</b>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-5">
              <b>Unit Price(<%=@currency_symbol%>)</b>
            </div>
            <div class="col-md-4">
              <b>Gross Price(<%=@currency_symbol%>)</b>
            </div>
            <div class="col-md-2">
              <b>Net price(<%=@currency_symbol%>)</b>
            </div>
            <div class="col-md-1">
              <b>Actions</b>
            </div>
          </div>
        </div>
      </div>
      <div class="service_item_row_count mb10" id="service_item_row">
        <% @template_services.each do |i, service| %>
          <% if service['entry_type'] == "service" %>
            <div class="invoice_service_item_row row mt5" id="invoice_service_item_row_<%= i %>">
              <div class="col-md-12">
                <div class="field_for_date">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][item_entry_date]" class="i_item_entry_date" value="<%= Time.current %>">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][added_by_id]" class="i_added_by_id" value="<%= current_user.id.to_s %>">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][advised_by_id]" class="i_advised_by_id" value="<%= @appointment.try(:doctor) %>">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][counselled_by_id]" class="i_counselled_by_id" value="">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][sub_specialty_id]" class="i_sub_specialty_id" value="">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][entry_type]" class="i_entry_type" value="service">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][tax_preference]" class="i_tax_preference" value="non_taxable">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][taxable_amount]" class="i_taxable_amount" value="0">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][non_taxable_amount]" class="i_non_taxable_amount" value="<%= service['unit_price'] %>">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][exception_id]" class="i_exception_id" value="">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][discount_amount]" class="service_discount_amount" value="0">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][discount_percentage]" class="service_discount_percentage" value="">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][show_breakup_in_print]" class="show_breakup_in_print">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][service_type]" class="i_service_type" value="S">
                  <!-- offer fields -->
                  <input type="hidden" name="invoice_opd[services][<%= i %>][offer_manager_id]" class="service_offer_manager_id" value="<%= service['offer_manager_id'] %>">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][offer_name]" class="service_offer_name" value="<%= service['offer_name'] %>">
                  <input type="hidden" name="invoice_opd[services][<%=i%>][offer_code]" class="form-control service_offer_code" value="<%= service['offer_code'] %>">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][offer_percentage]" class="service_offer_percentage" value="<%= service['offer_percentage'] %>">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][offer_applied_at]" class="service_offer_applied_at" value="<%= service['offer_applied_at'] %>">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][offer_applied_at_name]" class="service_offer_applied_at_name" value="<%= service['offer_applied_at_name'] %>">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][offer_applied_by]" class="service_offer_applied_by" value="<%= service['offer_applied_by'] %>">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][offer_applied_by_name]" class="service_offer_applied_by_name" value="<%= service['offer_applied_by_name'] %>">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][offer_applied_date]" class="service_offer_applied_date" value="<%= service['offer_applied_date'] %>">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][offer_applied_datetime]" class="service_offer_applied_datetime" value="<%= service['offer_applied_datetime'] %>">
                  <!-- end offer fields -->
                </div>
                <div class="col-md-2 field_for_payer" style="display: none;">
                  <select class="form-control i_payer_master_id" name="invoice_opd[services][<%= i %>][payer_master_id]">
                    <option value="general" selected="selected">General</option>
                    <% @payer_fields.each do |payer_master| %>
                      <% if payer_master[:id].to_s == service['payer_master_id'] %>
                        <option value="<%= payer_master[:id].to_s %>" selected="selected"><%= payer_master[:display_name] %></option>
                      <% end %>
                    <% end %>
                  </select>
                </div>
                <div class="col-md-3 field_for_description">
                  <select class="form-control i_description" name="invoice_opd[services][<%= i %>][description]">
                    <option value=""></option>
                    <!-- map all pricing_masters with this service payer_master_id -->
                    <% pricing_masters = @pricing_masters.map { |_service_master_id, pms| pms.map { |pricing_master| pricing_master if pricing_master[:payer_master_id].to_s.strip == service['payer_master_id'].to_s.strip }.reject(&:nil?) }.flatten %>
                    <!-- map all service_sub_group for optgroup -->
                    <% service_sub_group_names = pricing_masters.map { |pm| pm.service_sub_group.name }.uniq %>
                    <% service_sub_group_names.each do |sgn| %>
                      <optgroup label="<%= sgn %>">
                        <!-- Get all pricing within this service group -->
                        <% sgn_pricing_masters = pricing_masters.select { |pm| (pm if pm.service_sub_group.name == sgn) }.reject(&:nil?) %>
                        <% sgn_pricing_masters.each do |pricing_master| %>
                          <% advised_counselled_details = @combined.find { |acd| acd[:advised_by_id] if acd[:code] == pricing_master.service_type_code } || {} %>
                          <% if pricing_master.id.to_s == service['description'] %>
                            <option value="<%= pricing_master.id.to_s %>" data-amount="<%= pricing_master.amount %>" data-advised_by_id="<%= advised_counselled_details[:advised_by_id] %>" data-counselled_by_id="<%= advised_counselled_details[:counselled_by_id] %>" data-sub_specialty_id="<%= pricing_master.sub_specialty_id %>" data-service_code="<%= pricing_master.try(:service_code) %>" data-service_name="<%= pricing_master.service_name %>" selected="selected"><%= pricing_master.service_name %><span><% if pricing_master.try(:service_code).present? %> (<%= pricing_master.try(:service_code) %>) <% end %></span></option>
                          <% else %>
                            <option value="<%= pricing_master.id.to_s %>" data-amount="<%= pricing_master.amount %>" data-advised_by_id="<%= advised_counselled_details[:advised_by_id] %>" data-counselled_by_id="<%= advised_counselled_details[:counselled_by_id] %>" data-sub_specialty_id="<%= pricing_master.sub_specialty_id %>" data-service_code="<%= pricing_master.try(:service_code) %>" data-service_name="<%= pricing_master.service_name %>"><%= pricing_master.service_name %><span><% if pricing_master.try(:service_code).present? %> (<%= pricing_master.try(:service_code) %>) <% end %></span></option>
                          <% end %>
                        <% end %>
                      </optgroup>
                    <% end %>
                  </select>
                  <% @pricing_master = PricingMaster.find_by(id: service['description']) %>
                  <input name="invoice_opd[services][<%= i %>][service_code]" style="padding:2px 10px; border: none" class="form-control i_service_code" placeholder="Service Code" value="<%= @pricing_master.try(:service_code) %>" type="text" readonly="readonly">
                </div>
                <div class="field_for_name">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][name]" class="i_service_name" value="<%= @pricing_master.service_name %>">
                </div>
                <div class="col-md-1 field_for_quantity">
                  <input name="invoice_opd[services][<%= i %>][quantity]" style="padding:5px 10px;" class="form-control i_quantity" placeholder="Quantity" value="<%= service['quantity'] %>" type="text" maxlength="4">
                </div>
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-5 field_for_unit_price">
                      <input name="invoice_opd[services][<%= i %>][unit_price]" style="padding:5px 10px;" class="form-control i_unit_price" placeholder="Unit Price" type="text" value="<%= service['unit_price'] %>" maxlength="12">
                      <div class="col-md-12 field_for_service_discount_amount mt5" id="discount_amount_<%= i %>" style="display: none">
                        <div>
                          <div class="input-group mt5" style="float: left; width: 30%;">
                            <b>Discount(<%=@currency_symbol%>):</b>&nbsp;
                          </div>
                          <div class="input-group" style="float: left; width: 40%;">
                            <input type="text" name="invoice_opd[services][<%= i %>][discount]" id="service_discount_<%= i %>" class="form-control form-control-custom-input service_discount" value="0" placeholder="Discount">
                            <span class="input-group-addon form-control-custom-slash">|</span>
                            <select name="service_discount_type" id="service_discount_type" class="form-control-custom-select-bill form-control service_discount_type">
                              <option value="<%=@currency_symbol%>"><%=@currency_symbol%></option>
                              <option value="%">%</option>
                            </select>
                          </div>
                        </div>
                        <label class="lbl_discount_amount"></label>
                      </div>
                      <div class="col-md-12 field_for_service_offer mt5" id="offer_<%=i%>">
                        <div class="offer_details">
                          <div class="col-md-12 field_for_service_offer mt5" id="offer_<%=i%>">
                            <div>
                              <div class="offer_details hidden">
                                <div class="input-group mt5" style="float: left; width: 30%;">
                                  <b>Offer(<%=@currency_symbol%>):</b>&nbsp;
                                </div>
                                <div class="input-group mt5" style="float: left; width: 40%;"><label class="service_offer_details"></label></div>
                              </div>
                            </div>
                            <label class="lbl_offer_amount mt5 ml10"></label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 field_for_price">
                      <div style="float: left;" class="col-md-9">
                        <input name="invoice_opd[services][<%= i %>][price]" style="padding:5px 10px;" class="form-control i_price" id="i_price" placeholder="Total" readonly="readonly" type="text" value="<%= service['price'] %>">
                      </div>
                      <div style="float: right;" class="col-md-3">
                        <button class="btn btn-primary btn-xs add-discount-offer" style="padding:0 5px;margin-top:3px;" id="opd-<%= i %>-add-discount-offer" data-toggle="dropdown" title="Add discount/offer">Discount</button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="opd-<%=i%>-add-discount-offer">
                          <li id="li_discount"><a class="add_item_discount" href="javascript:;" name="add_item_discount">Discount</a></li>
                          <li id="li_offer"><a class="add_item_offer" name="add_item_offer" data-remote='true' data-toggle='modal' data-target='#invoice-offer-service-modal' href="/invoice/invoices/show_service_offers?invoice_department_type=<%=@invoice.invoice_department_type%>&service_id=<%=service['description']%>&row_count=<%=i%>">Offer</a></li>
                        </ul>
                      </div>
                      <div class="col-md-12 field_for_service_discount_reason mt5">
                        <div style="float: left;" class="col-md-9">
                          <input type="text" name="invoice_opd[services][<%= i %>][discount_reason]" style="padding:5px 10px;" class="form-control discount_reason hidden" id="discount_reason_<%= i %>" value="" placeholder="Enter Discount Reason">
                        </div>
                        <div style="float: right;" class="col-md-3">
                          <% if @invoice.is_draft == true && service&.discount_reason.present? %>
                            <button class="btn btn-danger btn-xs remove_discount" style="padding:0 5px;margin-top:3px;" title="Remove discount"><i class="fa fa-trash-alt"></i></button>
                          <% else %>
                            <button class="btn btn-danger btn-xs remove_discount hidden" style="padding:0 5px;margin-top:3px;" title="Remove discount"><i class="fa fa-trash-alt"></i></button>
                          <% end %>
                        </div>
                        <div style="clear: both;"></div>
                      </div>
                      <div class="col-md-12 mt5 field_for_service_offer_amount" style="display: none;" id="offer_actions_<%=i%>">
                        <div style="float: left;" class="col-md-9">
                          <input type="text" name="invoice_opd[services][<%=i%>][offer_amount]" style="padding:5px 10px;" class="form-control service_offer_amount" value="0" readonly="readonly">
                        </div>
                        <div style="float: right;" class="col-md-3 delete_offer">
                          <button class="btn btn-info btn-xs edit_offer" style="padding:0 5px;margin-top:3px;" title="Edit offer"><i class="fa fa-edit"></i></button>
                          <button class="btn btn-danger btn-xs remove_offer" style="padding:0 5px;margin-top:3px;" title="Remove offer"><i class="fa fa-trash-alt"></i></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2 field_for_net_item_price">
                      <input type="text" name="invoice_opd[services][<%= i %>][net_item_price]" style="padding:5px 10px;" class="form-control net_item_price" id="net_item_price" value="0.00" placeholder="Service Net Amount" readonly="readonly">
                    </div>
                    <div class="col-md-1">
                      <button class="btn btn-danger btn-xs remove_service" style="padding:0 5px;margin-top:3px;"><i class="fa fa-trash-alt"></i></button>
                      <button class="btn btn-primary btn-xs add-new-service-package" style="padding:0 5px;margin-top:3px;" id="opd-<%= i %>-add-services" data-toggle="dropdown"><i class="fa fa-plus"></i></button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="opd-<%= i %>-add-services-dropdown">
                        <li><a class="add_service_item" href="javascript:;" name="add_service_item" >New Item</a></li>
                        <li><a class="add_service_package" href="javascript:;" name="add_service_item" >New Package</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-10 col-md-offset-1">
                  <% pricing_master = pricing_masters.find { |pm| pm.id.to_s == service['description'] } %>
                  <% exception = service['exception_id'].present? ? pricing_master.pricing_exceptions.find_by(id: service['exception_id']) : '' %>
                  <% if pricing_master&.has_exceptions %>
                    <% if exception.present? %>
                      <span class="exception_details">Exception :
                        <a class="change-exception" style="cursor: pointer;" data-master-id="<%= pricing_master.id.to_s %>" data-html-id="invoice_opd_services_<%= i %>_description" data-exception-id="<%= service['exception_id'].to_s %>">
                          <% exception.sequence.each_with_index do |sequence, i| %>
                            <%= ' | ' if i > 0 %>
                            <%= exception.send("#{sequence}_exception_name") %>
                          <% end %>
                          | <%= exception.amount %>
                        </a>
                      </span>
                    <% else %>
                      <span class="exception_details">Exception : <a class="change-exception" style="cursor: pointer;" data-master-id="<%= pricing_master.id.to_s %>" data-html-id="invoice_opd_services_<%= i %>_description" data-exception-id="">No Exception | <%= pricing_master.amount %></a></span>
                    <% end %>
                  <% else %>
                    <span class="exception_details" style='display:none;'>Exception : <a class="change-exception" style="cursor: pointer;"></a></span>
                  <% end %>
                </div>
              </div>
            </div>
          <% elsif service['entry_type'] == "surgery_package" %>
            <div class="invoice_service_item_row row mt5" id="invoice_service_item_row_<%= i %>">
              <div class="col-md-12">
                <div class="field_for_date">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][item_entry_date]" class="i_item_entry_date" value="<%= Time.current %>">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][added_by_id]" class="i_added_by_id" value="<%= current_user.id.to_s %>">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][advised_by_id]" class="i_advised_by_id" value="<%= @appointment.try(:doctor) %>">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][counselled_by_id]" class="i_counselled_by_id" value="">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][sub_specialty_id]" class="i_sub_specialty_id" value="">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][entry_type]" class="i_entry_type" value="surgery_package">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][tax_preference]" class="i_tax_preference" value="non_taxable">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][taxable_amount]" class="i_taxable_amount" value="0">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][non_taxable_amount]" class="i_non_taxable_amount" value="<%= service['unit_price'] %>">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][exception_id]" class="i_exception_id" value="">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][discount_amount]" class="service_discount_amount" value="0">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][discount_percentage]" class="service_discount_percentage" value="">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][show_breakup_in_print]" class="show_breakup_in_print">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][service_type]" class="i_service_type" value="P">
                </div>
                <div class="col-md-2" style="display: none;">
                  <select class="form-control i_payer_master_id" name="invoice_opd[services][<%= i %>][payer_master_id]">
                    <option value="general" selected="selected">General</option>
                    <% @payer_fields.each do |payer_master| %>
                      <% if payer_master[:id].to_s == service['payer_master_id'] %>
                        <option value="<%= payer_master[:id].to_s %>" selected="selected"><%= payer_master[:display_name] %></option>
                      <%# else %>
                        <!-- <option value="<%#= payer_master[:id].to_s %>"><%#= payer_master[:display_name] %></option> -->
                      <% end %>
                    <% end %>
                  </select>
                </div>
                <div class="col-md-3 field_for_description">
                  <select class="form-control i_description" name="invoice_opd[services][<%= i %>][description]">
                    <option value="">Select Package</option>
                    <optgroup label="Surgery Packages">
                      <% @surgery_packages.each do |surgery_package| %>
                        <% if surgery_package.payer_master_id.to_s.strip == service['payer_master_id'].to_s.strip %>
                          <% if surgery_package.id.to_s == service['description'].to_s %>
                            <% @surgery_package = surgery_package %>
                            <option value="<%= surgery_package.id.to_s %>" data-amount="<%= surgery_package.amount %>" data-sub_specialty_id="<%= surgery_package.sub_specialty_id %>" data-service_name="<%= surgery_package.display_name %>" selected="selected"><%= surgery_package.display_name %></option>
                          <% else %>
                            <option value="<%= surgery_package.id.to_s %>" data-amount="<%= surgery_package.amount %>" data-sub_specialty_id="<%= surgery_package.sub_specialty_id %>" data-service_name="<%= surgery_package.display_name %>"><%= surgery_package.display_name %></option>
                          <% end %>
                        <% end %>
                      <% end %>
                    </optgroup>
                  </select>
                </div>
                <div class="field_for_name">
                  <input type="hidden" name="invoice_opd[services][<%= i %>][name]" class="i_service_name" value="<%= @surgery_package.try(:display_name) %>">
                </div>
                <div class="col-md-1 field_for_quantity">
                  <input name="invoice_opd[services][<%= i %>][quantity]" style="padding:5px 10px;" class="form-control i_quantity" placeholder="Quantity" value="<%= service['quantity'] %>" type="text" readonly="readonly">
                </div>
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-5 field_for_unit_price">
                      <input name="invoice_opd[services][<%= i %>][unit_price]" style="padding:5px 10px;" class="form-control i_unit_price" placeholder="Unit Price" readonly="readonly" type="text" value="<%= service['unit_price'] %>">
                      <div class="col-md-12 field_for_service_discount_amount mt5" id="discount_amount_<%= i %>" style="display: none">
                        <div>
                          <div class="input-group mt5" style="float: left; width: 30%;">
                            <b>Discount(<%=@currency_symbol%>):</b>&nbsp;
                          </div>
                          <div class="input-group" style="float: left; width: 40%;">
                            <input type="text" name="invoice_opd[services][<%= i %>][discount]" id="service_discount_<%= i %>" class="form-control form-control-custom-input service_discount" value="0" placeholder="Discount">
                            <span class="input-group-addon form-control-custom-slash">|</span>
                            <select name="service_discount_type" id="service_discount_type" class="form-control-custom-select-bill form-control service_discount_type">
                              <option value="<%=@currency_symbol%>"><%=@currency_symbol%></option>
                              <option value="%">%</option>
                            </select>
                          </div>
                        </div>
                        <label class="lbl_discount_amount"></label>
                      </div>
                    </div>
                    <div class="col-md-4 field_for_price">
                      <div style="float: left;" class="col-md-9">
                        <input name="invoice_opd[services][<%= i %>][price]" style="padding:5px 10px;" class="form-control i_price" id="i_price" placeholder="Total" readonly="readonly" type="text" value="<%= service['price'] %>">
                      </div>
                      <div style="float: right;" class="col-md-3">
                        <button class="btn btn-primary btn-xs add-discount-offer" style="padding:0 5px;margin-top:3px;" id="opd-<%= i %>-add-discount-offer" data-toggle="dropdown" title="Add discount/offer">Discount</button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="opd-<%=i%>-add-discount-offer">
                          <li id="li_discount"><a class="add_item_discount" href="javascript:;" name="add_item_discount">Discount</a></li>
                        </ul>
                      </div>
                      <div class="col-md-12 field_for_service_discount_reason mt5">
                        <div style="float: left;" class="col-md-9">
                          <input type="text" name="invoice_opd[services][<%= i %>][discount_reason]" style="padding:5px 10px;" class="form-control discount_reason hidden" id="discount_reason_<%= i %>" value="" placeholder="Enter Discount Reason">
                        </div>
                        <div style="float: right;" class="col-md-3">
                          <button class="btn btn-danger btn-xs remove_discount hidden" style="padding:0 5px;margin-top:3px;" title="Remove discount"><i class="fa fa-trash-alt"></i></button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2 field_for_net_item_price">
                      <input type="text" name="invoice_opd[services][<%= i %>][net_item_price]" style="padding:5px 10px;" class="form-control net_item_price" id="net_item_price" value="0.00" placeholder="Service Net Amount" readonly="readonly">
                    </div>
                    <div class="col-md-1">
                      <button class="btn btn-danger btn-xs remove_service" style="padding:0 5px;margin-top:3px;"><i class="fa fa-trash-alt"></i></button>
                      <button class="btn btn-primary btn-xs add-new-service-package" style="padding:0 5px;margin-top:3px;" id="opd-<%= i %>-add-services" data-toggle="dropdown"><i class="fa fa-plus"></i></button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="opd-<%= i %>-add-services-dropdown">
                        <li><a class="add_service_item" href="javascript:;" name="add_service_item" >New Item</a></li>
                        <li><a class="add_service_package" href="javascript:;" name="add_service_item" >New Package</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="col-md-12 field_for_show_breakup_in_print show_breakup_in_print">
                  <div class="ckbox ckbox-primary">
                    <% is_checked = (service.try(:show_breakup_in_print).present? && service.try(:show_breakup_in_print) == true) ? 'checked=checked' : '' %>
                    <input type="checkbox" name="show_breakup_in_print" id='invoice_opd_<%= i %>_show_breakup_in_print' class="btn btn-primary btn-xs show_breakup_in_print_chk" value='true' <%=is_checked%>>
                    <label for='invoice_opd_<%= i %>_show_breakup_in_print' class="show_breakup_in_print_lbl">Show Package Breakup in Print</label>
                  </div>
                </div>
              </div>

              <div class="col-md-12 package-breakup">
                <%= render template: 'surgery_packages/set_package_services.html.erb' %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="row service_row mb10">
        <!-- <div class='col-md-1'></div>
        <div class='col-md-4'>
          <button class="btn btn-primary btn-xs add_service_item" style="padding:0 5px;margin-top:3px;"><i class="fa fa-plus"></i> New Item</button>
          <button class="btn btn-primary btn-xs add_service_package" style="padding:0 5px;margin-top:3px;"><i class="fa fa-plus"></i> New Package</button>
          <input type="hidden" name="facility_setting[invoice_show_package_breakup]" value="false">
        </div> -->
        <!-- <div class="col-md-3 mt5">
          <div class="ckbox ckbox-primary">
            <% if @facility_setting.invoice_show_package_breakup %>
              <input type="checkbox" name="facility_setting[invoice_show_package_breakup]" id='facility_setting_invoice_show_package_breakup' class="i_invoice_show_package_breakup" value='true' checked='checked'>
            <% else %>
              <input type="checkbox" name="facility_setting[invoice_show_package_breakup]" id='facility_setting_invoice_show_package_breakup' class="i_invoice_show_package_breakup" value='true'>
            <% end %>
            <label for='facility_setting_invoice_show_package_breakup'>Show Package Breakup in Print</label>
          </div>
        </div> -->
        <div class="col-md-3">
          <input type="text" style="padding:5px 10px;display:none;" class="form-control service_total text-right" placeholder="Service Total" name="invoice_opd[total]">
        </div>
      </div>
    </div>
  <% end %>
</div>
