<div class="modal-dialog modal-lg modal-time-slot">
  <div class="modal-content">
    <%= form_for @user_time_slot, remote: true do |f| %>
      <%= f.hidden_field :user_id, value: @user_time_slot.user_id || @user.id.to_s %>
      <%= f.hidden_field :organisation_id, value: @user_time_slot.organisation_id || @user.organisation_id.to_s %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= params[:action] == 'new' ? 'Create' : 'Update' %> <%= @user.fullname.to_s.titleize %> Timings</h4>
      </div>
      <div class="modal-body">
        <div class="row mb20">
          <div class="col-md-3">
            <b>Calendar Duration (in minutes)*</b>
            <%= f.number_field :calendar_duration, class: 'form-control p7_10', min: 1, max: 120 %>
          </div>
        </div>
        <div class="row">
          <div id="TimeSlotWizard" class="time-slot-wizard basic-wizard">
            <ul class="nav nav-pills nav-justified tab_active_inv">
              <li role="presentation" class="active">
                <a href="#session-form-details" class="tab-link session-form-details" data-toggle="tab">Regular Time Slots</a>
              </li>
              <li role="presentation">
                <a href="#exception-session-form-details" class="tab-link exception-session-form-details" data-toggle="tab">Exception Time Slots</a>
              </li>
            </ul>
            <div class="tab-content form-body">
              <div class="tab-pane active" id="session-form-details">
                <div id="session-rows">
                  <%= render partial: "time_slots/sessions/#{params[:action]}.html.erb" %>
                </div>
                <hr>
                <div class="row mt10">
                  <div class="col-md-12 text-right">
                    <button type="button" class="btn btn-primary btn-xs" id="add-more-sessions">Add More Timings</button>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="exception-session-form-details">
                <div id="exception-session-rows">
                  <!-- Exception wont be initialized by default for new -->
                  <% if params[:action] == 'edit' %>
                    <%= render partial: "time_slots/exception_sessions/#{params[:action]}.html.erb" %>
                  <% end %>
                </div>
                <hr>
                <div class="row mt10">
                  <div class="col-md-12 text-right">
                    <button type="button" class="btn btn-primary btn-xs" id="add-more-exception-sessions">Add More Exception Timings</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit 'Save', class: 'btn btn-success', data: { 'disable-with': 'Please Wait...' }, onclick: 'validateTimeSlots()' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>
