<div class="row mb20 section-title">
  <div class="col-md-8">
    <h4>User Time Slot Management</h4>
  </div>
</div>
<div class="row mb20">
  <% if current_organisation_setting.time_slots_enabled %>
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>User</th>
            <th class="text-center">Details</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <% user_time_slot = user.user_time_slot %>
            <tr>
              <td><%= user.fullname %></td>
              <% if user_time_slot %>
                <td class="text-center">
                  <%= render partial: 'show.html.erb', locals: { user_time_slot: user_time_slot } %>
                </td>
                <td class="text-center">
                  <%= link_to edit_user_time_slot_path(id: user_time_slot.id.to_s, user_id: user.id.to_s), data: { remote: true, toggle: 'modal', target: '#user-modal' }, class: 'btn btn-primary btn-xs' do %>Manage Timings<% end %>
                  <% if user_time_slot %>
                    <%= link_to show_calendar_user_time_slot_path(id: user_time_slot.id.to_s, user_id: user.id.to_s), data: { remote: true, toggle: 'modal', target: '#user-modal' }, class: 'btn btn-primary btn-xs' do %>Current Schedule<% end %>
                  <% end %>
                </td>
              <% else %>
                <td class="text-center">-</td>
                <td class="text-center">
                  <%= link_to new_user_time_slot_path(user_id: user.id.to_s), data: { remote: true, toggle: 'modal', target: '#user-modal' }, class: 'btn btn-primary btn-xs' do %>Manage Timings<% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
          <% if @users.count == 0 %>
            <tr>
              <td colspan="3" class="text-center">No Users</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="col-md-12 text-center">
      <h4>Nothing to Show</h4>
    </div>
  <% end %>
</div>
