<div class="row mb10">
  <div class="col-md-12">
    <div class="row">
      <div class="summary-line-border"></div>
      <div class="col-md-5 text-left"><strong>INVESTIGATION </strong></div>
      <div class="col-md-3 text-center"><strong>RESULT</strong> </div>
      <div class="col-md-4 text-right"><strong>NORMAL RANGE </strong></div>
      <div class="summary-line-border" style="margin-top: 20px;"></div>
    </div>
  </div>
  <div class="col-md-12">
    <% if @ehr_investigation_record.try(:panel_records).try(:size) > 0 %>
        <div class="col-md-4 text-left" style="text-decoration: underline"><%= @ehr_investigation_record.investigation_name %> </div>
        <%if !@ehr_investigation_record.specimen_type.blank? %>
            <div class="col-md-4 text-right">
              Specimen Type:
              <%= @ehr_investigation_record.specimen_type %>
            </div>
        <% end %>
        <% if !@ehr_investigation_record.specimen_date.blank? %>
            <div class="col-md-4 text-right">
              Specimen Date:
              <%= @ehr_investigation_record.specimen_date %>
            </div>
        <% end %>
        <%@ehr_investigation_record.panel_records.each do |panel| %>
            <%if !panel.investigation_val.blank?  %>
                <div class="col-md-12">
                  <div class="row mb10">
                    <div class="col-md-4 text-left"><%= panel.investigation_name %> </div>
                    <div class="col-md-1 text-center">: </div>
                    <div class="col-md-3 text-center"><strong><%= panel.investigation_val %></strong> </div>
                    <div class="col-md-4 text-right"><%= panel.normal_range %> </div>
                  </div>
                </div>
            <% end  %>
        <% end %>
        <% if !@ehr_investigation_record.try(:investigation_comment).blank? %>
            <div class="col-md-12">
                <div class="row">
                  <div class='col-md-4' ><b>Investigation Remark</b> </div>
                  <div class="col-md-1 text-center">:</div>
                  <div class='col-md-3 text-center'><%= @ehr_investigation_record.investigation_comment %></div>
                </div>
            </div>
        <% end %>
    <%else%>
        <div class="col-md-12">
          <div class="row mb10">
            <div class="col-md-4 text-left" style="text-decoration: underline"><%= @ehr_investigation_record.investigation_name %> </div>
            <%if @ehr_investigation_record.specimen_type.present? %>
                <div class="col-md-4 text-right">
                  Specimen Type:
                  <%= @ehr_investigation_record.specimen_type %>
                </div>
            <% end %>
            <% if @ehr_investigation_record.specimen_date.present? %>
                <div class="col-md-4 text-right">
                  Specimen Date:
                  <%= @ehr_investigation_record.specimen_date %>
                </div>
            <% end %>
          </div>
          <div class="row mb10">
            <div class="col-md-offset-4 col-md-1 text-center">: </div>
            <div class="col-md-3 text-center"><strong><%= @ehr_investigation_record.investigation_val %></strong> </div>
            <div class="col-md-4 text-right"><%=  @ehr_investigation_record.normal_range %> </div>
          </div>
          <% if @ehr_investigation_record.try(:investigation_comment).present? %>
              <div class="row">
                <div class='col-md-4 text-left' ><b>Investigation Remark</b> </div>
                <div class="col-md-1 text-center">:</div>
                <div class='col-md-3 text-center'><%= @ehr_investigation_record.investigation_comment %></div>
              </div>
          <% end %>
        </div>
    <% end %>
  </div>
</div>
<% if !@ehr_investigation_record.try(:doctors_remark).blank? %>
    <div class="row mb20" >
        <div class="col-md-12" >
          <div class="col-md-4 text-left">
              <b>Doctor's Remark</b>
          </div>
          <div class="col-md-1 text-center">:</div>
          <div class='col-md-3 text-center' style="font-style: italic;"><%= @ehr_investigation_record.doctors_remark %></div>
        </div>
    </div>
<% end %>
<%lab_tech = User.find(@investigation_detail.template_created_by).role_ids.include?(159282002)%>
<% if @investigation_detail.state == "reviewed" %>
  <div class="row" style="bottom: 0;bottom: 66px;right: 25px;">
    <div class="col-md-12 pull-right">
      <%= render partial: 'common/user_signature.html.erb',locals: {user_id: @investigation_detail.reviewed_by} %>
      <!-- <span class="text-center pull-right"><%#= User.find_by(id: @investigation_detail.try(:reviewed_by)).try(:designation)%></span> -->
    </div>

  </div>
<% elsif @investigation_detail.state != "reviewed" && lab_tech == true%>
  <div class="row" style="bottom: 0;bottom: 66px;right: 25px;">
    <div class="col-md-12 pull-right">
      <%= render partial: 'common/user_signature.html.erb',locals: {user_id: @investigation_detail.template_created_by} %>
    </div>
  </div>
<% end %>