<!--Below commented code is for add sub investigation feature, which is suspended till further discussion, WARNING DO NOT DELETE-->

<!--<div class="col-md-12 mb10">-->
  <!--<a type="button" href="/investigation/records/add_investigation_fields?investigation_id=<%#= @investigation_record.id%>" data-remote="true" class="btn btn-xs btn-primary pull-right"><i class="fa fa-plus"></i>ADD</a>-->
<!--</div>-->

<!--WARNING Ends-->

<% if lab_test.try(:panel_records).try(:size) > 0%>
    <% i = 0 %>

    <div class="row mb20">
      <div class="col-md-4">
        <%= f.text_field :investigation_name,class: "fi_input_style",style: 'width: 100%'%>
      </div>

      <div class="col-md-4 ">
        <%= f.text_field :specimen_type,class: "fi_input_style ",placeholder: "Specimen Type" ,style: 'width: 100%'%>
      </div>

      <div class="col-md-4 pull-right">
        <%= f.text_field :specimen_date,class: "fi_input_style datepicker pull-right",placeholder: "Specimen Date"%>
      </div>
    </div>

    <%= f.fields_for :panel_records do |panel_test| %>
        <%= render partial: 'investigation/records/edit_panel_form',locals: {panel_test: panel_test,i: i} %>
        <% i+=1 %>
    <% end %>
    <div class="row mb10" >
      <div class=" col-md-offset-4 col-md-8">
        <%= f.text_area :investigation_comment,class: "form-control",placeholder: "Investigation Remark" %>
      </div>
    </div>
<%else%>
    <%= render partial: 'ehr_investigation/records/common_form',locals: {f: f,lab_test: lab_test,action: 'edit'} %>
<% end %>

