<% @opd_histories ||= @opdrecord.record_histories.where(:template_type => @templatetype) %>
<div class="modal-dialog modal-hg-save-record-template" style="width:95%;">
  <div class="modal-content">
    <% if @mode == "tabview"%>
      <% close ="showAndroidClose('hi')" %>
    <% else%>
      <%close%>
    <% end %>
    <div class="modal-header">
      <div class="pull-right"> <!-- Action Buttons starts -->
        <button aria-hidden="true" class="btn btn-info" data-dismiss="modal" onClick=<%=close%>>Close</button>
      </div>
      <div class="text-center">
        <h4 class="nomargin">OPD Summary<%if @opdrecord.sign_off == "true"%> <span class="record-signed-off-title" style="color: #1CAF9A">( Record is Signed-Off by Dr. <%=@opdrecord.consultant_name%> )</span><% else %><span class="record-signed-off-title" style="color: #1CAF9A; display: none;">( Record is Signed-Off by Dr. <%=@opdrecord.consultant_name%> )</span><%end%>&nbsp;<% if @case_sheet.present? %><label class="label label-primary">Case Details : <%= "#{@case_sheet.case_name.titleize} - " if @case_sheet.case_name.present? %><%= @case_sheet.case_id %></label><% end %></h4>
      </div>
    </div>
    <div class="modal-body">
      <div class="row mb20">
        <div class="col-md-9 col-sm-9">
          <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/opd_summary_form" %>
        </div>
        <div class="col-md-3 col-sm-3" style="border-left: 1px solid #ddd;">
          <!-- Show History Logic Starts -->
            <div class="show-history text-center">
              <div class="row mb10">
                <div class="col-md-12 col-sm-12">
                  <h4 style="margin:0px;">Template History(<%= @templatetype.capitalize %>)</h4>
                  <div class="opd_history_count">
                    <%= render partial: "opd_records/opd_history_count.html" %>
                  </div>
                </div>
              </div>
              <div class="row" style="background:#1CAF9A;padding: 6px;">
                <% @opd_history_creator = @opdrecord.record_histories.where(:template_type => @templatetype).first %>
                <div class="col-md-1 col-sm-1">
                  <span style="color:#1CAF9A;">|</span>
                </div>
                <div class="col-md-2 col-sm-2">
                  <div style="margin-top:7px;"><span style="border-radius: 100%;background-color: #fff;padding: 7px 10px;font-size: 12px;color: #1CAF9A;">C</span>&nbsp;<span style="color:#fff;">reated</span></div>
                </div>
                <div class="col-md-9 col-sm-9">
                  <p style="margin-bottom:-7px;font-size:16px;color: #fff;"><b><%= User.find_by(id: @opd_history_creator.user_id.to_s).fullname %></b></p>
                  <span style="font-size:9px;color: #fff;"><%= @opd_history_creator.actiontime.strftime("%I:%M%P, %d %B") %></span>
                </div>
                <div class="col-md-12 col-sm-12 text-center">
                  <button class="btn btn-link btn-xs show-history-toggle" style="color:#fff;text-decoration:underline;">Show Details</button>
                </div>
              </div>
              <div class="show-history-details" style="display:none;max-height:300px;overflow:scroll;margin-top:10px;">
                <%=render partial: "opd_records/opd_history.html"%>
              </div>
            </div>
          <!-- Show History Logic Ends -->
          <!-- Comments Form -->
            <div class="opd-record-comment-form">

            </div>
          <!-- Comments Form Ends -->
          <!-- Show Comments Starts -->
            <div class="show-opd-record-comments-bydoctors">

            </div>
          <!-- Show Comments Ends -->
        </div>
      </div>
    </div>

  </div>
</div>
<% if @mode == "tabview" %>
  <script type="text/javascript">
    function showAndroidClose(hello) {
      Android.closeTemplate(hello);
    }
  </script>
<% end %>
