<!--style_start-->
  <style type="text/css" media="all">

    .table thead > tr > th,
    .table tbody > tr > th,
    .table tfoot > tr > th,
    .table thead > tr > td,
    .table tbody > tr > td,
    .table tfoot > tr > td {
      border-color: #999!important;
    }

    .table-bordered th,.table-bordered td{border:1px solid #999!important}

    .table>tbody+tbody {
      border-top: 2px solid #999;
    }


    .print-template {
      font-family: Open Sans;
      font-size: 8pt;
      color: #333333;
      background:  #ffffff ;
    }
    .pcs-header-content {
      font-size: 8pt;
      color: #333333;
      background-color: #ffffff;
    }
    .pcs-template-body {
      padding: 0 0.400000in 0 0.550000in;
    }
    .pcs-template-footer {
      height: 0.700000in;
      font-size: 6pt;
      color: #aaaaaa;
      padding: 0 0.400000in 0 0.550000in;
      background-color: #ffffff;
    }
    .pcs-footer-content {
      word-wrap: break-word;
      color: #aaaaaa;
      border-top: 1px solid #eeeeee;
    }
    .pcs-label {
      color: #000000;
    }
    .pcs-entity-title {
      font-size: 9pt;
      color: #333333;
    }
    .pcs-orgname {
      font-size: 9pt;
      color: #333333;
    }
    .pcs-customer-name {
      font-size: 9pt;
      color: #333333;
    }
    .pcs-itemtable-header {
      font-size: 8pt;
      color: #333333;
      background-color: #eff0f1;
    }
    .pcs-taxtable-header {
      font-size: 8pt;
      color: #000;
      background-color: #f5f4f3;
    }
    .pcs-item-row {
      font-size: 8pt;
      border-bottom: 1px solid #eeeeee;
      background-color: #ffffff;
      color: #333333;
    }
    .pcs-item-desc {
      color: #8e8e8e;
      font-size: 8pt;
    }
    .pcs-balance {
      background-color: #ffffff;
      font-size: 9pt;
      color: #333333;
    }
    .pcs-totals {
      font-size: 9pt;
      color: #333333;
      background-color: #ffffff;
    }
    .pcs-notes {
      font-size: 8pt;
    }
    .pcs-terms {
      font-size: 8pt;
    }
    .pcs-header-first {
      background-color: #ffffff;
      font-size: 8pt;
      color: #333333;
      height: auto;
    }
    .pcs-status {
      color: '';
      font-size: 15pt;
      border: 3px solid ;
      padding: 3px 8px;
    }
    .pcs-template-header {
      padding: 0 0.400000in 0 0.550000in;
      height: 0.700000in;
    }
    .pcs-entity-title {
      text-align: center;
      position: relative;
      text-transform: uppercase;
    }
    .pcs-entity-title:before {
      content: "";
      display: block;
      border-top: 1px solid #eeeeee;
      width: 100%;
      height: 1pt;
      position: absolute;
      top: 50%;
      font-size: 1pt;
    }
    .pcs-entity-title span {
      background: #ffffff;
      padding: 0 20px;
      position: relative;
    }
    .pcs-itemtable {
      border: 1px solid #eeeeee;
    }
    .pcs-itemtable-header {
      border-right: 1px solid #eeeeee;
      border-bottom: 1px solid #eeeeee;
    }
    .pcs-item-row {
      border-right: 1px solid #eeeeee;
      border-bottom: none;
    }
    .pcs-bdr-top {
      border-top: 1px solid #eeeeee;
    }
    .pcs-bdr-bottom {
      border-bottom: 1px solid #eeeeee;
    }
    .pcs-table, .pcs-table th, .pcs-table td {
      border: 1px solid #eeeeee;
    }
  </style>
<!--style_end-->

<div class="print-template" style="font-family: '<%= UsersSetting.find_by(user_id: current_user.id).font_style %>';">
  <div class="row">

    <div class="col-md-12">

      <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/opd_summary_form_patientinfo.html", locals: { patient: @patient, appointment: @appointment, opdrecord: @opdrecord, mail_job: false} %>

      <% if @templatetype == "ophthalmic_report" %>
        <div class="pcs-entity-title"><span>Ophthalmic Report</span></div>
      <% else %>
        <div class="pcs-entity-title"><span>Opd Summary</span></div>
      <% end %>


      <% if @templatetype == "express" %>
        <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/opd_summary_form_expresshistory.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/opd_summary_form_assessment.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% if @opdrecord.send("#{@flag}_procedures_flag") == "1" %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_procedure.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% end %>
        <% if @opdrecord.send("#{@flag}_advice_flag") == "1" %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_otherinvestigations.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%#= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_procedure.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%= render partial: "opd_records/replace_medication_instruction.html.erb", locals: {advice_language: @advice_language,patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% end %>
          <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/opd_summary_form_advice.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, advice: @opdrecord.advice, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
      <% elsif @templatetype == "freeform" %>
        <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/opd_summary_form_freeform.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <%# if @opdrecord.send("#{@flag}_procedures_flag") == "1" %>
          <%#= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/opd_summary_form_procedure.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality ,mail_job: true} %>
        <%# end %>
        <!-- Avoid Print Button -->
        <div class="mb5" >
          <% if @opdrecord.treatmentmedication.length > 0 %>
            <div class="row">
            <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/opd_summary_form_medication.html.erb", locals: {patient: @patient, appointment: @appointment,specalityfoldername: @speciality_folder_name,opdrecord: @opdrecord, templatetype: @templatetype, opdspeciality: @opdspeciality , mail_job: false, medication_groups: @medication_groups, translated_language: @translated_language} %>
            </div>
          <% end %>
        </div>
        <%= render partial: "opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/opd_summary_form_advice.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, advice: @opdrecord.advice, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
      <% elsif @templatetype == "vision" %>
        <% if @opdrecord.send("#{@flag}_glassesprescriptions_flag") == "1" %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_glassesprescriptions.html", locals: {patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% end %>
        <% if @opdrecord.send("#{@flag}_advice_flag") == "1" %>
          <%= render partial: "opd_records/replace_medication_instruction.html.erb", locals: {advice_language: @advice_language,patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%= render partial: "opd_records/replace_advice_set.html.erb", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, advice: @opdrecord.advice, advice_language: @advice_language,templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% end %>
        <%#= render partial: "opd_records/replace_advice_set.html.erb", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, advice: @opdrecord.advice, advice_language: @advice_language,templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
      <% elsif @templatetype == "eye" || @templatetype == "paediatrics" %>
        <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_history.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% if @current_facility.country_id != "VN_254" %>
          <% if @opdrecord.send("#{@flag}_contactlens_flag") == "1" %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_contactlensprescriptions.html", locals: {patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%end%>
          <% if @opdrecord.send("#{@flag}_glassesprescriptions_flag") == "1" %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_glassesprescriptions.html", locals: {patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <% end %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_examination_refraction.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
          <% if @opdrecord.send("#{@flag}_squint_flag") == "1" %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_squint_examination.html", locals: {patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false} %>
          <% end %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_examination.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% else %>
          <% if @opdrecord.send("#{@flag}_refraction_flag") == "1" %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_refraction.html.erb", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
            <% if @opdrecord.dilate_patient %>
              <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_dilated_refraction.html.erb", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
            <% end %>
            <% if @opdrecord.perform_pmt %>
              <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_pmt_refraction.html.erb", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
            <% end %>
          <% end %>
          <% if @opdrecord.send("#{@flag}_glassesprescriptions_flag") == "1" %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_glassesprescriptions.html", locals: {patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <% end %>
          <% if @opdrecord.send("#{@flag}_squint_flag") == "1" %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_squint_examination.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <% end %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_examination.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% end %>
        <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_assessment.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% if @opdrecord.send("#{@flag}_procedures_flag") == "1" %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_procedure.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% end %>
        <% if @opdrecord.send("#{@flag}_advice_flag") == "1" %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_otherinvestigations.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%#= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_procedure.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%= render partial: "opd_records/replace_medication_instruction.html.erb", locals: {advice_language: @advice_language,patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%= render partial: "opd_records/replace_advice_set.html.erb", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, advice: @opdrecord.advice, advice_language: @advice_language,templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% end %>
        <%#= render partial: "opd_records/replace_advice_set.html.erb", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, advice: @opdrecord.advice, advice_language: @advice_language,templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
      <% elsif @templatetype == "ar_nct" %>
        <% if @current_facility.country_id != "VN_254" %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_examination_refraction.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
        <% else %>
          <% if @opdrecord.send("#{@flag}_refraction_flag") == "1" %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_refraction.html.erb", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
          <% end %>
        <% end %>
        <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_examination.html.erb", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
      <% elsif @templatetype == "refraction" %>
        <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_examination_refraction.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
        <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_refraction.html.erb", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
        <% if @opdrecord.dilate_patient %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_dilated_refraction.html.erb", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
        <% end %>
        <% if @opdrecord.perform_pmt %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_pmt_refraction.html.erb", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
        <% end %>
        <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_glassesprescriptions.html", locals: {patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <!-- Quick Template Start -->
      <% elsif @templatetype == "trauma"  %>
        <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_history.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% if @current_facility.country_id != "VN_254" %>
          <% if @opdrecord.send("#{@flag}_contactlens_flag") == "1" %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_contactlensprescriptions.html", locals: {patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%end%>
          <% if @opdrecord.send("#{@flag}_glassesprescriptions_flag") == "1" %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_glassesprescriptions.html", locals: {patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <% end %>
          <%= render partial: 'opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_examination_refraction_trauma.html', locals: { patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_examination_trauma.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% else %>
          <% if @opdrecord.send("#{@flag}_refraction_flag") == "1" %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_refraction.html.erb", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
            <% if @opdrecord.dilate_patient %>
              <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_dilated_refraction.html.erb", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
            <% end %>
            <% if @opdrecord.perform_pmt %>
              <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_pmt_refraction.html.erb", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
            <% end %>
          <% end %>
          <% if @opdrecord.send("#{@flag}_glassesprescriptions_flag") == "1" %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_glassesprescriptions.html", locals: {patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <% end %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_examination_trauma.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% end %>
        <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_assessment.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% if @opdrecord.send("#{@flag}_procedures_flag") == "1" %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_procedure.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% end %>
        <% if @opdrecord.send("#{@flag}_advice_flag") == "1" %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_otherinvestigations.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%#= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_procedure.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%= render partial: "opd_records/replace_medication_instruction.html.erb", locals: {advice_language: @advice_language,patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%= render partial: "opd_records/replace_advice_set.html.erb", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, advice: @opdrecord.advice, advice_language: @advice_language,templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% end %>
        <%#= render partial: "opd_records/replace_advice_set.html.erb", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, advice: @opdrecord.advice, advice_language: @advice_language,templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>

        <!-- Lens Template Start -->
      <% elsif @templatetype == "lens" %>
        <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_history.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% if @current_facility.country_id != "VN_254" %>
          <% if @opdrecord.send("#{@flag}_contactlens_flag") == "1" %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_lens_form_contactlensprescriptions.html", locals: {patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%end%>
          <% if @opdrecord.send("#{@flag}_glassesprescriptions_flag") == "1" %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_glassesprescriptions.html", locals: {patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <% end %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_print_lens_examination_refraction.html.erb", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_print_lens_examination.html.erb", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% else %>
          <% if @opdrecord.send("#{@flag}_refraction_flag") == "1" %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_refraction.html.erb", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
            <% if @opdrecord.dilate_patient %>
              <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_dilated_refraction.html.erb", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
            <% end %>
            <% if @opdrecord.perform_pmt %>
              <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_pmt_refraction.html.erb", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
            <% end %>
          <% end %>
          <% if @opdrecord.send("#{@flag}_glassesprescriptions_flag") == "1" %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_glassesprescriptions.html", locals: {patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <% end %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_print_lens_examination.html.erb", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% end %>
        <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_assessment.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% if @opdrecord.send("#{@flag}_procedures_flag") == "1" %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_procedure.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% end %>
        <% if @opdrecord.send("#{@flag}_advice_flag") == "1" %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_otherinvestigations.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%#= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_procedure.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%= render partial: "opd_records/replace_medication_instruction.html.erb", locals: {advice_language: @advice_language,patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%= render partial: "opd_records/replace_advice_set.html.erb", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, advice: @opdrecord.advice, advice_language: @advice_language,templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% end %>
        <%#= render partial: "opd_records/replace_advice_set.html.erb", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, advice: @opdrecord.advice, advice_language: @advice_language,templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <!-- Quick Template Start -->
      <% elsif @templatetype == "quickeye" %>
        <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_history.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% if @current_facility.country_id != "VN_254" %>
          <% if @opdrecord.send("#{@flag}_contactlens_flag") == "1" %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_contactlensprescriptions.html", locals: {patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%end%>
          <% if @opdrecord.send("#{@flag}_glassesprescriptions_flag") == "1" %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_glassesprescriptions.html", locals: {patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <% end %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_quickexamination_refraction.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_quickexamination.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% else %>
          <% if @opdrecord.send("#{@flag}_refraction_flag") == "1" %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_refraction.html.erb", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
            <% if @opdrecord.dilate_patient %>
              <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_dilated_refraction.html.erb", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
            <% end %>
            <% if @opdrecord.perform_pmt %>
              <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_pmt_refraction.html.erb", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
            <% end %>
          <% end %>
          <% if @opdrecord.send("#{@flag}_glassesprescriptions_flag") == "1" %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_glassesprescriptions.html", locals: {patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <% end %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_quickexamination.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% end %>
        <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_assessment.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% if @opdrecord.send("#{@flag}_procedures_flag") == "1" %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_procedure.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% end %>
        <% if @opdrecord.send("#{@flag}_advice_flag") == "1" %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_otherinvestigations.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%#= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_procedure.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%= render partial: "opd_records/replace_medication_instruction.html.erb", locals: {advice_language: @advice_language,patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%= render partial: "opd_records/replace_advice_set.html.erb", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, advice: @opdrecord.advice, advice_language: @advice_language,templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% end %>
        <%#= render partial: "opd_records/replace_advice_set.html.erb", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, advice: @opdrecord.advice, advice_language: @advice_language,templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <!-- Quick Ends -->
      <% elsif @templatetype == "optometrist"%>
        <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_history.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% if @current_facility.country_id != "VN_254" %>
          <% if @opdrecord.send("#{@flag}_contactlens_flag") == "1" %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_contactlensprescriptions.html", locals: {patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%end%>
          <% if @opdrecord.send("#{@flag}_glassesprescriptions_flag") == "1" %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_glassesprescriptions.html", locals: {patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <% end %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_examination_refraction.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_examination.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% else %>
          <% if @opdrecord.send("#{@flag}_refraction_flag") == "1" %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_refraction.html.erb", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
            <% if @opdrecord.dilate_patient %>
              <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_dilated_refraction.html.erb", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
            <% end %>
            <% if @opdrecord.perform_pmt %>
              <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_pmt_refraction.html.erb", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
            <% end %>
          <% end %>
          <% if @opdrecord.send("#{@flag}_glassesprescriptions_flag") == "1" %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_glassesprescriptions.html", locals: {patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%end%>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_examination.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% end %>
      <% elsif @templatetype == "pmt" %>
        <% if @current_facility.country_id != "VN_254" %>
          <% if @opdrecord.send("#{@flag}_contactlens_flag") == "1" %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_contactlensprescriptions.html", locals: {patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%end%>
          <% if @opdrecord.send("#{@flag}_glassesprescriptions_flag") == "1" %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_glassesprescriptions.html", locals: {patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <% end %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_examination_refraction.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_examination.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% else %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_refraction.html.erb", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
          <% if @opdrecord.dilate_patient %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_dilated_refraction.html.erb", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
          <% end %>
          <% if @opdrecord.perform_pmt %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_pmt_refraction.html.erb", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
          <% end %>
          <% if @opdrecord.send("#{@flag}_glassesprescriptions_flag") == "1" %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_glassesprescriptions.html", locals: {patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <% end %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_examination.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% end %>
        <% if @opdrecord.send("#{@flag}_diagnosis_flag") == "1" %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_diagnosis.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false, translated_language: @translated_language} %>
        <% end %>
        <% if @opdrecord.send("#{@flag}_procedures_flag") == "1" %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_procedure.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% end %>
        <% if @opdrecord.send("#{@flag}_advice_flag") == "1" %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_otherinvestigations.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%#= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_procedure.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%= render partial: "opd_records/replace_medication_instruction.html.erb", locals: {advice_language: @advice_language,patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%= render partial: "opd_records/replace_advice_set.html.erb", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, advice: @opdrecord.advice, advice_language: @advice_language,templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% end %>
          <%#= render partial: "opd_records/replace_advice_set.html.erb", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, advice: @opdrecord.advice, advice_language: @advice_language,templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
      <% elsif @templatetype == "postop" %>
        <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_postopinfo.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false} %>
        <% if @current_facility.country_id != "VN_254" %>
          <% if @opdrecord.send("#{@flag}_contactlens_flag") == "1" %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_contactlensprescriptions.html", locals: {patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality,mail_job: false , mail_job: false} %>
          <% end %>
          <% if @opdrecord.send("#{@flag}_glassesprescriptions_flag") == "1" %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_glassesprescriptions.html", locals: {patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <% end %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_examination_refraction.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_examination.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% else %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_refraction.html.erb", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
          <% if @opdrecord.dilate_patient %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_dilated_refraction.html.erb", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
          <% end %>
          <% if @opdrecord.perform_pmt %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_pmt_refraction.html.erb", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
          <% end %>
          <% if @opdrecord.send("#{@flag}_glassesprescriptions_flag") == "1" %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_glassesprescriptions.html", locals: {patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <% end %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_examination.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% end %>
        <% if @opdrecord.send("#{@flag}_diagnosis_flag") == "1" %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_diagnosis.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false, translated_language: @translated_language} %>
        <% end %>
        <% if @opdrecord.send("#{@flag}_investigations_flag") == "1" %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_ophthalinvestigations.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false, translated_language: @translated_language} %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_radiologyinvestigations.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_laboratoryinvestigations.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% end %>
        <% if @opdrecord.send("#{@flag}_procedures_flag") == "1" %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_procedure.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% end %>
        <% if @opdrecord.send("#{@flag}_advice_flag") == "1" %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_otherinvestigations.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%#= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_procedure.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%= render partial: "opd_records/replace_medication_instruction.html.erb", locals: {advice_language: @advice_language,patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%= render partial: "opd_records/replace_advice_set.html.erb", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, advice: @opdrecord.advice, advice_language: @advice_language,templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% end %>
        <%#= render partial: "opd_records/replace_advice_set.html.erb", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, advice: @opdrecord.advice, advice_language: @advice_language,templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
      <% elsif @templatetype == "orthoptics" %>
        <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_history.html", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% if @current_facility.country_id != "VN_254" %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_contactlensprescriptions.html", locals: {patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_glassesprescriptions.html", locals: {patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_examination_refraction.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_examination.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% else %>
          <% if @opdrecord.send("#{@flag}_refraction_flag") == "1" %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_refraction.html.erb", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
            <% if @opdrecord.dilate_patient %>
              <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_dilated_refraction.html.erb", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
            <% end %>
            <% if @opdrecord.perform_pmt %>
              <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_pmt_refraction.html.erb", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
            <% end %>
          <% end %>
          <% if @opdrecord.send("#{@flag}_glassesprescriptions_flag") == "1" %>
            <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_glassesprescriptions.html", locals: {patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <% end %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_examination.html", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% end %>
        <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_assessment.html", locals: {patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% if @opdrecord.send("#{@flag}_procedures_flag") == "1" %>
          <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_procedure.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% end %>
        <% if @opdrecord.send("#{@flag}_advice_flag") == "1" %>
          <%#= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_procedure.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%= render partial: "opd_records/replace_medication_instruction.html.erb", locals: {advice_language: @advice_language,patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
          <%= render partial: "opd_records/replace_advice_set.html.erb", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, advice: @opdrecord.advice, advice_language: @advice_language,templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>
        <% end %>
        <%#= render partial: "opd_records/replace_advice_set.html.erb", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, advice: @opdrecord.advice, advice_language: @advice_language,templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false} %>

      <% elsif @templatetype == "vitalsign" %>
        <%= render partial: "/opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/opd_summary_vital_signs.html.erb", locals: { patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, advice: @opdrecord.advice, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false } %>

      <% elsif @templatetype == "biometry" %>
        <%= render partial: "/opd_records/#{@speciality_folder_name}_notes/opd_partials/summary/opd_summary_biometry.html.erb", locals: { patient: @patient, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, advice: @opdrecord.advice, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality , mail_job: false } %>

      <% elsif @templatetype == "ophthalmic_report" %>
        <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_ophthalmic_report.html", locals: {patient: @patient, appointment: @appointment, specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality,advice: @opdrecord.advice , mail_job: false} %>
      <% end %>
    </div>
  </div>
  <% unless @templatetype == "optometrist" %>
    <!--Signature-->
      <%= render partial: 'common/user_signature.html.erb',locals: {user_id: @opdrecord.consultant_id} %>
    <!--Signature Ends-->
  <%end%>
</div>
