<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-hg-cash-register">
	<div class="modal-content">  
	  		
	    <div class="modal-header">
	    	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			
			<h4 class="modal-title">Edit <%= @cash_register_type %> Cash Register</h4>
		</div>
		<div class="modal-body form-bordered">
				
			<%= form_for(@cash_register,:html=>{:id=>'edit_cash_register'}, :format => :js, :remote=>true,method: :patch) do |f| %>

                  <%= f.text_field :user_id, {:type => "hidden" } %>
                  <%= f.text_field :patient_id, {:type => "hidden" } %>

                  <% if @cash_register_type_id.to_i == 440655000 %>
                      <%= f.text_field :appointment_id, {:type => "hidden" } %>
                  <% elsif @cash_register_type_id.to_i == 440654001 %>
                      <%= f.text_field :admission_id, {:type => "hidden" } %>
                  <% end %>

                  <%= f.text_field :cash_register_type_id, {:type => "hidden" } %>
                  <%= f.text_field :cash_register_type, {:type => "hidden" } %>
                  <%= f.text_field :bill_number,{:type => "hidden"} %>
                  <%= f.text_field :facility_id, {:type => "hidden", :value=> current_facility.id } %>

                  <div class="row">

                        <div class="col-md-4">

                          <div class="cash-register-patient-details">
                            <%= f.fields_for :patient do |builder|%>
                                <div class="row">
                                  <div class="col-md-4">
                                    Patient Name :
                                  </div>
                                  <div class="col-md-8">
                                    <%= builder.text_field :fullname,{:class => 'form-control',:value=>@cash_register.patient[:fullname]}%>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-4">
                                    Mobile:
                                  </div>
                                  <div class="col-md-8">
                                    <%= builder.text_field :mobilenumber,{:class => 'form-control',:value=>@cash_register.patient[:mobilenumber]}%>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-4">
                                    Age
                                  </div>
                                  <div class="col-md-2">
                                    <%= builder.text_field :age,{:class => 'form-control',:value=>@cash_register.patient[:age]}%>
                                  </div>
                                  <div class="col-md-2">
                                    Years
                                  </div>
                                  <div class="col-md-2">
                                    <%= builder.text_field :age_month,{:class => 'form-control',:value=>@cash_register.patient[:age_month]}%>
                                  </div>
                                  <div class="col-md-2">
                                    Months
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-4">
                                    Gender
                                  </div>
                                  <div class="col-md-4">
                                    <%= builder.radio_button(:gender,"Male",{:checked=>(@cash_register.patient[:gender]=="Male")}) %>
                                    <%= builder.label :gender ,"Male", class: "mr3" %>
                                    <%= builder.radio_button(:gender, "Female",{:checked=>(@cash_register.patient[:gender]=="Female")}) %>
                                    <%= builder.label :gender ,"Female" %>
                                  </div>

                                </div>

                                <div class="row">
                                  <div class="col-md-4">
                                    Address Line 1:
                                  </div>
                                  <div class="col-md-8">
                                    <%= builder.text_field :address_1,{:class => 'form-control',:value=>@cash_register.patient[:address_1]}%>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-md-4">
                                    Address Line 2:
                                  </div>
                                  <div class="col-md-8">
                                    <%= builder.text_field :address_2,{:class => 'form-control',:value=>@cash_register.patient[:address_2]}%>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-md-4">
                                    City:
                                  </div>
                                  <div class="col-md-8">
                                    <%= builder.text_field :city,{:class => 'form-control',:value=>@cash_register.patient[:city]}%>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-4">
                                    State:
                                  </div>
                                  <div class="col-md-8">
                                    <%= builder.text_field :state,{:class => 'form-control',:value=>@cash_register.patient[:state]}%>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-4">
                                    Pin Code:
                                  </div>
                                  <div class="col-md-8">
                                    <%= builder.text_field :pincode,{:class => 'form-control',:value=>@cash_register.patient[:pincode]}%>
                                  </div>
                                </div>

                            <% end %>
                          </div>

                        </div>

                        <div class="col-md-8">
                          <input type="hidden" name="cash_register_details_for_delete" id="cash_register_details_for_delete" value="">

                              <div id="total-cash-register-fields" style="padding-bottom: 10px">

                                    <div class="row form-group">
                                      <div class="col-sm-4"> <b>Item</b> </div>
                                      <div class="col-sm-2"> <b>Unit Price</b></div>
                                      <div class="col-sm-1"> <b>Qty</b></div>
                                      <div class="col-sm-2"> <b>Total Price</b></div>
                                    </div>

                                    <% @total_cash_register_rows = 0 %>

                                    <%= f.fields_for :cash_register_details do |builder| %>

                                        <% @total_cash_register_rows += 1 %>

                                        <div class="row form-group">
                                      <div class="col-sm-4 ui-widget">
                                        <%= builder.text_field :label ,{:class => 'form-control services-label-validation'}%>
                                        <%= builder.hidden_field :id %>
                                      </div>
                                      <div class="col-sm-2">
                                        <%= builder.text_field :unit_price ,{:class => 'form-control services-unit-price-validation'}%>
                                      </div>
                                      <div class="col-sm-2">
                                        <%= builder.text_field :total_units, {:type=>"number",:class => 'form-control services-total-units-validation',:min=>"1"} %>
                                      </div>
                                      <div class="col-sm-2">
                                        <%= text_field_tag "total_"+builder.index.to_s,0, {:class => 'form-control total',:disabled=>"true" } %>
                                      </div>

                                          <div class="col-sm-2" style="margin-top:5px;">
                                            <span id="add_cash_register_item" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5"></span>
                                            <span id="remove_cash_register_item_<%= builder.index %>" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove"></span>
                                          </div>
                                    </div>

                                    <% end %>

                              </div>


                          <div class="row">
                            <div class="col-md-5">
                              <b>Comments:</b>
                              <%= f.text_area :comments, {class: "form-control"} %>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-1 form-group">Total :</div>
                            <div class="col-md-2 form-group"><%= f.text_field :total,{:class => 'form-control',:readonly => "true"} %></div>
                          </div>


                        </div>

                  </div>

				<div class="row form-group">
					<%= f.submit "Update Cash Register", { :class => 'btn btn-success pull-right', :onclick => 'invoice_page()' } %>
				</div>
				
			<% end %>
			
			<input id= "total_cash_register_row_count" type="hidden" value="<%= @total_cash_register_rows %>">
		</div>
	</div>
</div>


<style type="text/css">
  .ckbox-primary {
    margin-left: 25px;
    margin-right: -25px;
    margin-top: 10px;
  }
  input.error, select.error {
    border-color: #b94a48;
    background-image: none;
  }
  input.valid, select.valid {
    border-color: #468847;
    background-image: none;
  }
</style>