<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-body">

 <%= simple_form_for @userlaboratorylist, url: practice_laboratory_lists_path, :method => :post, :remote => true, :html => {:class => 'new_my_practice_laboratory', :id => "new_my_practice_laboratory"} do |f| %>

    	<%= f.text_field :user_id, {:type => "hidden",:value=>@user.id } %>
    	<%= f.text_field :doctor, {:type => "hidden",:value=>@user.id } %>

      <div class="row">
        <div class="col-md-6">
          <span class="col-sm-3"><b>Set Name :</b></span>
          <div class="col-sm-4">
            <%= f.text_field :name, :maxlength => 20, :size => 40, :class => 'form-control name mb10', :placeholder => "Ex: A-Fitness", :style => "width:auto;display:inline;," %>
          </div>
        </div>

     <!--    <div class="col-md-6">
          <span class="col-sm-3"><b>Specialty :</b></span>
          <div class="col-sm-6">
            <%#= select_tag "users_laboratory_list[specialty_id]", options_for_select(@available_specialties.pluck(:name, :id), @selected_specialty.to_s), { :class => 'form-control specialty_dropdown',  :include_blank => 'Select any Specialty', id: 'opdrecord_specalityid' } %>
          </div>
        </div> -->
      </div>

      <div class="row" style="border-bottom: 1px solid #dcdada;padding-bottom: 13px;">
        <div class="col-md-3" style="margin-left: 11px;"><b>Set Type :</b></div>
        <div class="col-md-6">
          <%= f.input :set_type, collection: [ ['OPD', 440655000], ['Admission', 440654001], ['Pre-op', 262068006], ['Post-op', 262061000], ['Ward', 225746001], ['Discharge', 58000006], ['ER', 73770003], ['Administration', 413454004] ], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "users_laboratory_list[set_type]" }, :checked => @userlaboratorylist.read_attribute(:set_type) || 440655000 %>
        </div>
      </div>

      <div class="row" style="margin-top: 12px;margin-bottom: -12px;">
        <div class="col-sm-12">
          <div class="col-md-3"></div>
          <div class="rdio rdio-primary col-md-4">
            <div id="standard_investigations_radio" class="standard_investigations_radio" style="margin-bottom:15px;">
              <%= radio_button_tag "investigation_type_radio", "standard_investigations", true, {:class => 'investigation_type', :id => "InvestigationlRadio1"} %>
              <label for="InvestigationlRadio1">Standard Investigations</label>
            </div>
          </div>
          <div class="rdio rdio-primary col-md-4" id="custom_investigations_radio" class="custom_investigations_radio">
            <%= radio_button_tag "investigation_type_radio", "custom_investigations", false, {:class => 'investigation_type', :id => "InvestigationlRadio2"} %>
            <label for="InvestigationlRadio2">Custom Investigations</label>
          </div>
        </div>
      </div>

	    <div class="row">
	      <div class="col-md-4 standard-investigations-section">
          <% standard_investigations = @lab_investigations.where(is_custom: false) %>
          <%= select_tag "toplaboratoryinvestigation", options_for_select(standard_investigations.map{|inv| [ inv.investigation_name, inv.loinc_code ]}) ,{ multiple: true, :style => 'height: 250px; width:100%', :class => 'form-control toplaboratoryinvestigation', :id => 'opdrecord_toplaboratoryinvestigation' } %>
		    </div>

        <div class="col-sm-4 custom-investigations-section">
          <% custom_investigations = @lab_investigations.where(is_custom: true) %>
          <%= select_tag "custom_laboratory_investigation", options_for_select(custom_investigations.map{|inv| [ inv.investigation_name, inv.loinc_code ]}) ,{ multiple: true, :style => 'height: 250px; width:100%', :class => 'form-control custom_laboratory_investigation' } %>
        </div>

			  <div class="col-md-8">
			    <table class="table table-striped table-bordered">
			      <tbody class="laboratoryinvestigations">
			      </tbody>
			    </table>
			  </div>
		  </div>
	<% end %>
</div>

<script type="text/javascript">
  $(".custom-investigations-section").hide();

  $(".investigation_type").on('click', function () {
    var type = $(this).val();

    if (type == 'standard_investigations') {
      $(".standard-investigations-section").show();
      $(".custom-investigations-section").hide();
    }
     else if (type == 'custom_investigations') {
      $(".standard-investigations-section").hide();
      $(".custom-investigations-section").show();
    }
  });
</script>