<% if opdrecord.vital_signs_comments.present? || opdrecord.vital_signs_temperature.present? || opdrecord.vital_signs_pulse.present? || opdrecord.vital_signs_bp.present? || opdrecord.vital_signs_rr.present? || opdrecord.anthropometry_height.present? || opdrecord.anthropometry_weight.present? || opdrecord.anthropometry_bmi.present? || opdrecord.vital_signs_spo2.present? %>
  <div class="row mb5">
    <strong style="<%= heading_font_size %>">VITAL SIGNS/ ANTHROPOMETRY</strong>
    <div class="summary-line-border"></div>
  </div>
  <div class="row mb10 mt10 <%= 'print_text_font_size' if  @print_setting %>">
    <div class="col-md-12" style="<%= text_font_size %>">
      <div class="row mb5">
        <div class="col-md-3">
          <strong style="<%= heading_font_size %>">Height :</strong> <%= opdrecord.anthropometry_height.present? ? opdrecord.anthropometry_height : ' -' %>
        </div>

        <div class="col-md-3">
          <strong style="<%= heading_font_size %>">Weight :</strong> <%= opdrecord.anthropometry_weight.present? ? opdrecord.anthropometry_weight : ' -' %>
        </div>

        <div class="col-md-3">
          <strong style="<%= heading_font_size %>">BMI :</strong> <%= opdrecord.anthropometry_bmi.present? ? opdrecord.anthropometry_bmi : ' -' %>
        </div>
      </div>

      <div class="row mb5">
        <div class="col-md-4">
          <strong style="<%= heading_font_size %>">Temperature :</strong> <%= opdrecord.vital_signs_temperature.present? ? opdrecord.vital_signs_temperature : ' -' %>
        </div>

        <div class="col-md-4">
          <strong style="<%= heading_font_size %>">Pulse :</strong> <%= opdrecord.vital_signs_pulse.present? ? opdrecord.vital_signs_pulse : ' -' %>
        </div>

        <div class="col-md-4">
          <strong style="<%= heading_font_size %>">RR :</strong> <%= opdrecord.vital_signs_rr.present? ? opdrecord.vital_signs_rr : ' -' %>
        </div>
      </div>

      <div class="row mb5">
        <div class="col-md-4">
          <strong style="<%= heading_font_size %>">Blood Pressure :</strong> <%= opdrecord.vital_signs_bp.present? ? opdrecord.vital_signs_bp : ' -' %>
        </div>
        <div class="col-md-4">
          <strong style="<%= heading_font_size %>">SpO2 :</strong>
          <% if opdrecord.vital_signs_spo2.present? %>
            <% if opdrecord.vital_signs_spo2.to_i <= 90 %>
              <span style="color:red;">
                <%= opdrecord.vital_signs_spo2 %> %
              </span>
            <% elsif opdrecord.vital_signs_spo2.to_i > 90 && opdrecord.vital_signs_spo2.to_i <= 94 %>
              <span style="color:orange;">
                <%= opdrecord.vital_signs_spo2 %> %
              </span>
            <% else %>
              <span>
                <%= opdrecord.vital_signs_spo2 %> %
              </span>
            <% end %>
          <% else %>
            ' -'
          <% end %>
        </div>
      </div>

      <div class="row mb5">
        <div class="col-md-12"></div>
        <div class="col-md-8">
          <strong style="<%= heading_font_size %>">Vital comments : </strong><span  style="white-space: pre-line"><%= opdrecord.vital_signs_comments.present? ? opdrecord.vital_signs_comments : ' -' %></span>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
<% end %>
