<% if current_facility.clinical_workflow %>
  <% @appointment = OpdClinicalWorkflow.find_by(appointment_id: timeline['pst'][0]['query']['_id'].to_s) %>
  <% if @appointment.state != "cancelled" %>
    <button type="button" id="timeline-action-dropdown" class="btn btn-info btn-xs btn-info-transparent" data-toggle="dropdown">
      <span class=""><i class="fa fa-file-alt fa-xs"></i> Actions</span>&nbsp;
      <span class="caret fa-color"></span>
    </button>
    <ul class="dropdown-menu children">
      <li>
        <%= link_to edit_appointment_path(id: timeline['pst'][0]['query']['_id']), :class => "timeline-viewsummary-html", :data => {:remote => true, 'toggle' =>  'modal', 'target' => "#appointment-modal"} do %>Edit<% end %>
      </li>
      <li>
        <%= link_to opd_appointments_rescheduleappointment_path(appointment_id: timeline['pst'][0]['query']['_id']), :class => "timeline-viewsummary-html", :data => {:remote => true, 'toggle' =>  'modal', 'target' => "#appointment-modal"} do %>Rescheduled<% end %>
      </li>
      <li>
        <%= link_to opd_appointments_cancelappointmentform_path(appointment_id: timeline['pst'][0]['query']['_id']), :class => "timeline-viewsummary-html", :data => {:remote => true, 'toggle' =>  'modal', 'target' => "#appointment-modal"} do %>Cancelled<% end %>
      </li>
    </ul>
  <% end %>
<% else %>
  <% @appointment = AppointmentListView.find_by(appointment_id: timeline['pst'][0]['query']['_id']) %>
  <% if @appointment.current_state != "Deleted" %>
    <button type="button" id="timeline-action-dropdown" class="btn btn-info btn-xs btn-info-transparent" data-toggle="dropdown">
      <span class=""><i class="fa fa-file-alt fa-xs"></i> Actions</span>&nbsp;
      <span class="caret fa-color"></span>
    </button>
    <ul class="dropdown-menu children">
      <li>
        <%= link_to edit_appointment_path(id: timeline['pst'][0]['query']['_id']), :class => "timeline-viewsummary-html", :data => {:remote => true, 'toggle' =>  'modal', 'target' => "#appointment-modal"} do %>Edit<% end %>
      </li>
      <li>
        <%= link_to opd_appointments_rescheduleappointment_path(appointment_id: timeline['pst'][0]['query']['_id']), :class => "timeline-viewsummary-html", :data => {:remote => true, 'toggle' =>  'modal', 'target' => "#appointment-modal"} do %>Rescheduled<% end %>
      </li>
      <li>
        <%= link_to opd_appointments_cancelappointmentform_path(appointment_id: timeline['pst'][0]['query']['_id']), :class => "timeline-viewsummary-html", :data => {:remote => true, 'toggle' =>  'modal', 'target' => "#appointment-modal"} do %>Cancelled<% end %>
      </li>
    </ul>
  <% end %>
<% end %>