<% @ipd_record = Inpatient::IpdRecord.find_by(id: timeline['pst'][0]['query']['_id']) %>
<% template_type = @ipd_record.template_type.split(" ").join("_").downcase %>
<% @edit = "edit_inpatient_ipd_record_" + template_type + "_" + @ipd_record.department.downcase + "_note_path(id: timeline['pst'][0]['query']['_id'], admission_id: @ipd_record.admission_id.to_s)" %>
<%= link_to eval(@edit), :class => "timeline-viewsummary-html btn btn-primary btn-primary-transparent btn-xs btn-circle hg-tooltip", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ipdrecord-modal', method: :get } do %>E<% end %>

<% unless @ipd_record.template_type == "Ward Note" %>
  <% @show = "inpatient_ipd_record_" + template_type + "_" + @ipd_record.department.downcase + "_note_path(id: timeline['pst'][0]['query']['_id'], admission_id: @ipd_record.admission_id.to_s)" %>
  <%= link_to eval(@show), :class => "timeline-viewsummary-html btn btn-success btn-success-transparent btn-xs btn-circle hg-tooltip", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ipdrecord-modal', method: :get } do %>V<% end %>
  <button class="btn btn-warning btn-warning-transparent btn-xs btn-circle" data-toggle="dropdown"><i class="fa fa-print"></i></button>
  <ul class="dropdown-menu children" style="margin-left:-60px;">
    <li class="text-center">
      <% @print = "inpatient_ipd_record_" + template_type + "_" + @ipd_record.department.downcase + "_note_print_path(id: timeline['pst'][0]['query']['_id'], " + @ipd_record.department.downcase + "_note_id: timeline['pst'][0]['query']['_id'], admission_id: @ipd_record.admission_id, view: 'Summary', format: 'pdf')" %>
      <%= link_to eval(@print), :target => "_blank", :data => {method: :get} do %><i class="fa fa-print"></i> Summary <% end %>
    </li>
    <li><hr style="margin: 0px;"></li>
    <li class="text-center">
      <% @print = "inpatient_ipd_record_" + template_type + "_" + @ipd_record.department.downcase + "_note_print_path(id: timeline['pst'][0]['query']['_id'], " + @ipd_record.department.downcase + "_note_id: timeline['pst'][0]['query']['_id'], admission_id: @ipd_record.admission_id, view: 'Note', format: 'pdf')" %>
      <%= link_to eval(@print), :target => "_blank", :data => {method: :get} do %><i class="fa fa-print"></i> Note <% end %>
    </li>
  </ul>
<% else %>
  <% @index = "inpatient_ipd_record_ward_note_" + @ipd_record.department.downcase + "_notes_path(admission_id: @ipd_record.admission_id.to_s)" %>
  <%= link_to eval(@index), class: "btn btn-success btn-success-transparent btn-circle btn-xs", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ipdrecord-modal'} do %>V<% end %>
<% end %>