<% image_after_surgery_1 = PatientSummaryAssetUpload.find_by(:patient_id=> patient.id,source: "after_surgery_1")%>
<% image_after_surgery_2 = PatientSummaryAssetUpload.find_by(:patient_id=> patient.id,source: "after_surgery_2")%>
<div class="row mb20 add-file">
  <div class="col-md-offset-1 col-md-3 boxed">
      <span class="btn btn-file bk-image" style="height: 100%;width: 91%">
        <% if image_after_surgery_1%>
        <%= image_tag(image_after_surgery_1.asset_path_url, :width=>"100", :height=>"100", :class=>"thumb",:style=>"border-style: solid;", :onclick=>"$(this).parent().find('.profile_pic').click();")%>
        <%else%>
        <%= image_tag("photos/plus.png", :width=>"100", :height=>"100", :class=>"thumb",:style=>"border-style: solid;", :onclick=>"$(this).parent().find('.profile_pic').click();")%>
        <%end%>
        <input style="visibility:hidden" class="profile_pic" onchange="readURL(this)" type="file" name="after_surgery_1[asset_path]" id="inpatient_ipd_record_asset_path">
        <input type="text" name="after_surgery_1[name]" class="img_name" placeholder="Name" value="<%= image_after_surgery_1.try(:name)%>">
      </span>
    <input type="hidden" name="after_surgery_1[id]" value="<%= image_after_surgery_1.try(:id)%>">
    <input type="hidden" id="image-count" value=1>
  </div>
  <div class=" col-md-offset-3 col-md-3 boxed">
      <span class="btn btn-file bk-image" style="height: 100%;width: 91%">
        <% if image_after_surgery_2%>
        <%= image_tag(image_after_surgery_2.asset_path_url, :width=>"100", :height=>"100", :class=>"thumb",:style=>"border-style: solid;", :onclick=>"$(this).parent().find('.profile_pic').click();")%>
        <%else%>
        <%= image_tag("photos/plus.png", :width=>"100", :height=>"100", :class=>"thumb",:style=>"border-style: solid;", :onclick=>"$(this).parent().find('.profile_pic').click();")%>
        <%end%>
        <input style="visibility:hidden" class="profile_pic" onchange="readURL(this)" type="file" name="after_surgery_2[asset_path]" id="inpatient_ipd_record_asset_path">
        <input type="text" name="after_surgery_2[name]" class="img_name" placeholder="Name" value="<%= image_after_surgery_2.try(:name)%>">
      </span>
    <input type="hidden" name="after_surgery_2[id]" value="<%= image_after_surgery_2.try(:id)%>">
    <input type="hidden" id="image-count" value=1>
  </div>
</div>
<script>
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $(input).parent().find(".thumb").attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }


    }
</script>