<!--remove-->
<% @items.each do |item| %>
  <tr>
    <td><%= item.item_code %></td>
    <td><%= item.description %></td>
    <% if item.stock %>
      <td><%= item.stock %></td>
    <% else %>
      <td>NA</td>
    <% end %>
    <% if item.price %>
      <td class="text-right">&#x20B9 <%= item.price.round(2) %></td>
    <% else %>
      <td class="text-right">NA</td>
    <% end %>
    <td><%= item.expiry %></td>
    <td>
      <% if @current_inventory == '334046963' %>
        <a href="/inventory/items/<%=item.id%>" data-remote="true" class="btn btn-primary btn-xs"> Details</a>
      <% else %>
        <a href="/inventory/department/items/<%=item.id%>" data-remote="true" class="btn btn-primary btn-xs"> Details</a>
      <% end %>
    </td>   
  </tr>
<% end %>
<script>
  $(".btnItemToCart").unbind();
  $(".btnItemToCart").on("click",function(){
  var item_id = $(this).attr("data-model")
  var in_cart
  if ($(this).hasClass("btnAddItemToCart")) {
    in_cart = "true"
  }
  else {
    in_cart = "false"
  }
  $.ajax({
    type: "GET",
    data: {
      item_id: item_id,
      in_cart: in_cart
    },
    url: "inventory/items/update_cart",
    success: function(data) {
      $("#items_checkout_collection").find(".badge").text(data.cart_count)
    }
  })
  $(this).toggleClass("btnAddItemToCart btnRemoveItemFromCart");
  $(this).find('i').toggleClass('fa-plus fa-minus')
  $(this).toggleClass("btn-primary btn-warning")
  $("#items_checkout_collection").find(".fa-shopping-bag").addClass('hvr-push');
  setTimeout(function() {
    return $("#items_checkout_collection").find(".fa-shopping-bag").removeClass('hvr-push');
  }, 400);
//  $("#items_checkout_collection").find(".badge").text($(".btnRemoveItemFromCart").length)
})


$(".btnItemToFreeInvoice").unbind();
$(".btnItemToFreeInvoice").on("click",function(){
  var item_id = $(this).attr("data-model")
  var department_id = $('#inventory_controller_department').val()
  var in_cart
  if ($(this).hasClass("btnAddItemToFreeInvoice")) {
    in_cart = "true"
  }
  else {
    in_cart = "false"
  }
  $.ajax({
    type: "GET",
    data: {
      item_id: item_id,
      in_cart: in_cart,
      department_id: department_id
    },
    url: "/inventory/department/item/update_cart",
    success: function(data) {
      $("#free_invoice_item_count").text(data.cart_count)
    }
  })
  $(this).toggleClass("btnAddItemToFreeInvoice btnRemoveItemToFreeInvoice");
  $(this).find('i').toggleClass('fa-plus fa-minus')
  $(this).toggleClass("btn-primary btn-warning")

})

</script>