<%= javascript_include_tag 'application-loggedin', 'data-turbolinks-track' => true %>
<div class="modal-dialog modal-md" style="width:50%;">
  <!-- Modal content-->
  <div class="modal-content">
    <%#= form_for '/inventory/vendor_rates/upload_data', method: 'post', remote: true, id: 'new-vendor-rates-form', class: 'new-vendor-rates-form' do  %>
    <%= form_for :vendor_rates_bulk_data, url: "/inventory/vendor_rates/upload_data", remote: true, :html => {:id => 'upload-excel-vendor-rates-form', :class => 'upload-excel-vendor-rates-form'} do |f| %>

      <div class="modal-header">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <h4 class="modal-title">Upload Vendor Rates Excel</h4>
          </div>
          <div class="col-md-4 text-right">
            <% if @variants.count > 0 && @selected_vendor.present? %>
              <%= f.submit "Upload", class: 'btn btn-success save-form-btn', data: { 'disable-with': 'Uploading...' }, :onclick=> 'upload_excel_vendor_rate_form()' %>
          <% end %>
            <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:5px;">Close</button>
          </div>
        </div>
      </div>

      <div class="modal-body vendor-rate-body">
        <div class="row mb10">
          <div class="col-md-12 text-center">
            <b style="color:#000;">Vendor Rate</b>
            <p style="color:#f00;">Create/Update Vendor Rate in Bulk for Item Masters.</p>
          </div>
        </div>


        <div class="row">

          <div class="col-md-6">
            <b class="form-control" style="border: 0;">Vendor : </b>
          </div>
          <div class="col-md-6">
            <%#= select_tag 'vendor_id', options_for_select(@vendors, @selected_vendor), include_blank: 'Please select', class: 'form-control vendor_dropdown' %>

            <%= f.select :vendor_id, options_for_select(@vendors, @selected_vendor), { include_blank: 'Please select' }, class: 'form-control vendor_dropdown', style: 'height:30px; padding:0px;' %>


          </div>

        </div>


          <% if (@variants.count > 0 && @selected_vendor.present?) %>
            <div class="row">
              <div class="col-md-6">
                <b class="form-control" style="border: 0;">Sample File : </b>
              </div>

              <div class="col-md-6">
                <a href="/inventory/vendor_rates/download_data.xlsx?vendor_id=<%= @selected_vendor %>" class="btn btn-primary btn-primary-transparent" style=""><i class="fa fa-download"></i> Download</a>
                <span>*Do not change columns starting with (*)</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <b class="form-control" style="border: 0;">Upload File : </b>
              </div>

              <div class="col-md-6">
                <%= f.file_field :document, html: {name: "..."}, :accept => 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.xls,.xlsx,.XLS,.XLSX' %>
              </div>
            </div>
          <% end %>
        </div>
<!--        <hr style="margin:5px;">-->

<!--        <div class="row mb5">-->
<!--          <div class="col-md-2">-->
<!--            SR No.-->
<!--          </div>-->
<!--          <div class="col-md-2">-->
<!--            Item Variant Name-->
<!--          </div>-->
<!--          <div class="col-md-2">-->
<!--            Category-->
<!--          </div>-->
<!--          <div class="col-md-2">-->
<!--            Sub-Category-->
<!--          </div>-->
<!--          <div class="col-md-2">-->
<!--            Rate-->
<!--          </div>-->
<!--          <div class="col-md-2">-->
<!--            Selling Price(with Tax)-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="item-variants-rates">-->
          <%# if @selected_vendor.present? %>
            <%# @counter = 0 %>
            <%#= render partial: 'inventory/vendor_rates/index.html.erb', locals: { variants: @variants } %>
          <%# end %>
<!--        </div>-->
      </div>
      <div class="modal-footer">
      </div>
    <% end %>
  </div>
</div>






