<%= javascript_include_tag 'application-loggedin', 'data-turbolinks-track' => true %>
<div class="modal-dialog modal-md" style="width:98%;">
  <!-- Modal content-->
  <div class="modal-content">
    <%= form_tag '/inventory/vendor_rates/update_multiple', method: 'patch', remote: true, id: 'new-vendor-rates-form', class: 'new-vendor-rates-form' do %>
      <div class="modal-header">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <h4 class="modal-title">Add Vendor Rates</h4>
          </div>
          <div class="col-md-4 text-right">
            <% if @variants.count > 0 && @selected_vendor.present? %>
              <%= submit_tag 'Save', class: "btn btn-success", id: 'save-multiple-vendor-rates', data: { 'disable-with': 'Please Wait...' }, onclick: 'vendor_rate_form()' %>
            <% end %>
            <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:5px;">Close</button>
          </div>
        </div>
      </div>

      <div class="modal-body vendor-rate-body">
        <div class="row mb10">
          <div class="col-md-12 text-center">
            <b style="color:#000;">Vendor Rate</b>
            <p style="color:#f00;">Create/Update Vendor Rate in Bulk for Item Masters.</p>
          </div>
        </div>


        <div class="row">

          <div class="col-md-1">
            <b class="form-control" style="border: 0;">Vendor : </b>
          </div>
          <div class="col-md-2">
            <%= select_tag 'vendor_id', options_for_select(@vendors, @selected_vendor), include_blank: 'Please select', class: 'form-control vendor_dropdown' %>
          </div>
          <% if (@variants.count > 0 && @selected_vendor.present?) %>
            <div class="col-md-3">
              <b class="form-control" style="border: 0;">SEARCH ITEMS VARIANTS : </b>
            </div>
            <div class="col-md-3">
              <input type="text" name="search-item-variants" id="search-item-variants" class="form-control" placeholder="Search Item Variants">
            </div>

            <div class="col-md-3">
              <%= link_to bulk_upload_data_inventory_vendor_rates_path(vendor_id: @selected_vendor), disabled: true, class: 'btn btn-primary', data: { remote: true, 'toggle': 'modal', 'target': '#vendor-rate-modal' } do %><i class="fa fa-plus"></i> Bulk Upload Vendor Rate<% end %><br>
              <span style="color: red"> Coming Soon </span>
            </div>
        <% end %>
        </div>
        <hr style="margin:5px;">

        <div class="row mb5">
          <div class="col-md-2">
            SR No.
          </div>
          <div class="col-md-2">
            Item Variant Name
          </div>
          <div class="col-md-2">
            Category
          </div>
          <div class="col-md-2">
            Sub-Category
          </div>
          <div class="col-md-2">
            Rate
          </div>
          <div class="col-md-2">
            Selling Price(with Tax)
          </div>
        </div>

        <div class="item-variants-rates">
          <% if @selected_vendor.present? %>
            <% @counter = 0 %>
            <%= render partial: 'inventory/vendor_rates/form_fields.html.erb', locals: { variants: @variants } %>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
      </div>
  <% end %>
  </div>
</div>

<script>

  function vendor_rate_list(){
    var vendor_id = $('.vendor_dropdown').val();
    if (vendor_id == ""){
      $('.item-variants-rates').html('')
    }else{
      $('.item-variants-rates').html('<div class="loader"></div>')
    }
    $.ajax({
      type: "GET",
      url: '/inventory/vendor_rates/edit_multiple',
      data: { vendor_id: vendor_id,
        remote: "true" },
    })
  }

  $('.vendor_dropdown').on('change', function() {
    if ($('.main-vendor-rate-list').length > 0){
      $('#confirm-filter')
          .html(confirmationModal('vendor_rate_list', '<%= @selected_vendor %>'))
          .modal('show')
          .css('background-color', 'rgba(0,0,0,0.5)')
    } else {
      vendor_rate_list()
    }
  })
</script>
