<%= javascript_include_tag 'application-loggedin', 'data-turbolinks-track' => true %>
<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Update Vendor Rate</h4>
    </div>
    <%= form_for @inventory_vendor_rate, remote: true, html: { id: 'inventory_vendor_rate_form' } do |f| %>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 text-center" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;"><strong>Vendor Rate</strong></div>
        </div>
        <div class="row" style="margin-top:15px;">
          <div class="col-sm-12">
            <div class = "row">
              <div class="col-sm-6">
                 <strong>Name</strong>
              </div>
              <div class="col-sm-6">
                <%= f.text_field :item_name, { class: 'form-control p7_10', placeholder: 'Name' } %>
              </div>
            </div>
            <div class = "row">
              <div class="col-sm-6">
                 <strong>Rate</strong>
              </div>
              <div class="col-sm-6">
                <%= f.text_field :rate, { class: 'form-control p7_10', placeholder: 'Rate', onkeypress: 'return event.charCode >= 46 && event.charCode <= 57;' } %>
              </div>
            </div>
            <div class = "row">
              <div class="col-sm-6">
                 <strong>Selling Price</strong>
              </div>
              <div class="col-sm-6">
                <%= f.text_field :selling_price, { class: 'form-control p7_10', placeholder: 'Selling Price', onkeypress: 'return event.charCode >= 46 && event.charCode <= 57;' } %>
              </div>
            </div>
            <div class = "row">
              <div class="col-sm-6">
                 <strong>Vendor Name</strong>
              </div>
              <div class="col-sm-6">
                <%= f.select :vendor_id, Inventory::Vendor.all.collect{|v| [v.name, v.id]}, { include_blank: true, selected: @inventory_vendor_rate.vendor_id }, {class: 'form-control p7_10'}  %>
                <%= f.hidden_field :vendor_name %>
              </div>
            </div>
            <div class = "row">
              <div class="col-sm-6">
                 <strong>Vendor Group Name</strong>
              </div>
              <div class="col-sm-6">
                <%= f.select :vendor_group_id, Inventory::VendorGroup.all.collect{|v| [v.name, v.id]}, { include_blank: true, selected: @inventory_vendor_rate.vendor_group_id }, {class: 'form-control p7_10'}  %>
                <%= f.hidden_field :vendor_group_name %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit 'Save Changes', { class: 'btn btn-success', onclick: 'validate_inventory_vendor_group_form()' } %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $("#inventory_vendor_rate_vendor_id").change(function(){
    let selected_vendor = $(this).find(":selected").text();
    $("#inventory_vendor_rate_vendor_name").val(selected_vendor)
  })

  $("#inventory_vendor_rate_vendor_group_id").change(function(){
    let selected_vendor_group = $(this).find(":selected").text();
    $("#inventory_vendor_rate_vendor_group_name").val(selected_vendor_group)
  })
  
</script>