<hr style="margin:5px 0 10px;" />
<% variants.each do |variant| %>

  <% existing_vendor_rate = Inventory::VendorRate.find_by(variant_id: variant.id, vendor_id: @vendor.id) %>

  <% is_updated = 'false' %>

  <% if @uploaded_vendor_rates.present? %>
    <% uploaded_vendor_variant_rate = @uploaded_vendor_rates.find { |i| i["Item Variant Code"] == variant.variant_code} %>

    <% if uploaded_vendor_variant_rate.present? %>
      <% if uploaded_vendor_variant_rate["Updated Rate"].present? || uploaded_vendor_variant_rate["Updated Selling Price"].present? %>
        <% is_updated = 'true' %>
      <% else %>
        <% is_updated = 'false' %>
      <% end %>
    <% end %>
  <% else %>
    <% uploaded_vendor_variant_rate = nil %>
  <% end %>


  <div class="main-vendor-rate-list">

    <div class="row mb5">
      <div class="col-md-2">
        <b class="sr_no"><%= @counter + 1 %>.</b>
      </div>
      <div class="col-md-2">
        <b class="variant_name"><%= variant.description %></b>
      </div>
      <div class="col-md-2">
        <b class="variant_name"><%= variant.category_name %></b>
      </div>
      <div class="col-md-2">
        <b class="variant_name"><%= sub_category_name(variant) %></b>
      </div>

      <div class="row inventory-vendor-rate-details mb10">

        <input type='hidden' name='inventory_vendor_rate[<%= @counter %>][id]' value='<%= existing_vendor_rate&.id %>'>
        <input type='hidden' name='inventory_vendor_rate[<%= @counter %>][is_updated]' value='<%= is_updated %>' class='is_updated'>
        <input type='hidden' name='inventory_vendor_rate[<%= @counter %>][rate_type]' value='Vendor' class='rate_type'>
        <input type='hidden' name='inventory_vendor_rate[<%= @counter %>][vendor_id]' value='<%= @selected_vendor %>' class='vendor_id'>
        <input type='hidden' name='inventory_vendor_rate[<%= @counter %>][vendor_group_id]' value='<%= @vendor.vendor_group_id %>' class='vendor_id'>
        <input type='hidden' name='inventory_vendor_rate[<%= @counter %>][vendor_group_name]' value='<%= @vendor.vendor_group_name %>' class='vendor_name'>
        <input type='hidden' name='inventory_vendor_rate[<%= @counter %>][vendor_name]' value='<%= @vendor.name %>' class='vendor_id'>
        <input type='hidden' name='inventory_vendor_rate[<%= @counter %>][variant_id]' value='<%= variant.id %>' class='variant_id'>
        <input type='hidden' name='inventory_vendor_rate[<%= @counter %>][variant_reference_id]' value='<%= variant.reference_id %>' class='variant_id'>
        <input type='hidden' name='inventory_vendor_rate[<%= @counter %>][item_id]' value='<%= variant.item_id %>' class='variant_id'>
        <input type='hidden' name='inventory_vendor_rate[<%= @counter %>][variant_name]' value='<%= variant.description %>' class='variant_name'>


        <div class="col-md-2">
          <% if uploaded_vendor_variant_rate.try(:[],"Updated Rate").present? %>
            <% vendor_rate_rate_value = uploaded_vendor_variant_rate.try(:[],"Updated Rate") %>
          <% else %>
            <% vendor_rate_rate_value = existing_vendor_rate&.rate %>
          <% end %>
          <input type='number' step='any' name='inventory_vendor_rate[<%= @counter %>][rate]' value='<%= vendor_rate_rate_value %>' class='form-control vendor_item_rate p5_10'>
        </div>
        <div class="col-md-2">
          <% if uploaded_vendor_variant_rate.try(:[],"Updated Selling Price").present? %>
            <% vendor_rate_selling_price_value = uploaded_vendor_variant_rate.try(:[],"Updated Selling Price") %>
          <% else %>
            <% vendor_rate_selling_price_value = existing_vendor_rate&.selling_price %>
          <% end %>
          <input type='number' step='any' name='inventory_vendor_rate[<%= @counter %>][selling_price]' value='<%= vendor_rate_selling_price_value %>' class='form-control vendor_item_selling_price p5_10'>
        </div>
      </div>
    </div>
    <hr style="margin:5px 0 10px;" />
  </div>
  <% @counter += 1 %>
<% end %>
