<div class="row">
  <div class="col-md-2">
    <h4>MANAGE VENDOR RATE</h4>
  </div>
  <div class="col-md-3 text-right">
    <div class="row">
      <div class="col-md-6"><%= label_tag "vendor", nil%></div>
      <div class="col-md-6"><%= select_tag "vendor_filter", options_for_select(vendor_rate_vendor_names), {class: 'form-control', prompt: "All Vendors"} %></div>
    </div>
  </div>
  <div class="col-md-3 text-right">
    <input type="text" name="" class="search-vendor-rate-list form-control" placeholder="Search Vendor Group Name" value="" style="margin-top: 5px;">
  </div>
  <div class="col-md-4 text-right">
    <%= link_to edit_multiple_inventory_vendor_rates_path, class: 'btn btn-primary', data: { remote: true, 'toggle': 'modal', 'target': '#vendor-rate-modal' } do %><i class="fa fa-plus"></i> Add Vendor Rate<% end %>
    <%= link_to bulk_upload_data_inventory_vendor_rates_path, class: 'btn btn-primary',disabled: true, data: { remote: true, 'toggle': 'modal', 'target': '#vendor-rate-modal' } do %><i class="fa fa-plus"></i> Bulk Upload Vendor Rate<% end %>
    <br><span style="color: red">Coming soon </span>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <% if @inventory_vendor_rates.count > 0 %>
      <table id="manage_inventory_items_table" class="table table-primary table-bordered">
        <thead>
        <th>Item Variant Name</th>
        <th>Category</th>
        <th>Sub-Category</th>
        <th>Vendor Name</th>
        <th>Vendor Group</th>
        <th>Rate</th>
        <th>Selling Price</th>
        <th>Actions</th>
<!--        <th class="text-center">Actions</th>-->
        </thead>
        <tbody>

        <% @inventory_vendor_rates.each do |vendor_rate| %>
          <% visibility = vendor_rate.is_deleted ? 'visibility: hidden;' : 'visibility: visible' %>
          <tr class="each-contact-table-row vendor_rate_list_tr">
            <td>
              <b class="variant_name" style="color:#000;"><%= vendor_rate.try(:variant_name) %></b>
            </td>
            <td>
              <b class="category_name" style="color:#000;"><%= vendor_rate.variant.try(:category_name) %></b>
            </td>
            <td>
              <b class="sub_category_name" style="color:#000;"><%= vendor_rate.variant.try(:sub_category_name) %></b>
            </td>
            <td>
              <b class="vendor_name" style="color:#000;"><%= vendor_rate.try(:vendor_name) %></b>
            </td>

            <td>
              <b class="vendor_group_name" style="color:#000;"><%= vendor_rate.try(:vendor_group_name) %></b>
            </td>

            <td>
              <b class="rate" style="color:#000;"><%= vendor_rate.try(:rate) %></b>
            </td>
            <td>
              <b class="rate" style="color:#000;"><%= vendor_rate.try(:selling_price) %></b>
            </td>
            <td>
              <%= link_to edit_inventory_vendor_rate_path(id: vendor_rate.id.to_s), method: :get, data: { remote: true, toggle: 'modal', target: '#vendor-group-modal' }, class: 'btn btn-info btn-xs', style: 'display: inline;' do %>Edit<% end %>
            </td>
<!--            <td>-->
<!--              <table style="width: 100%;">-->
<!--                <tr>-->
<!--                  <td style="<%#=visibility%>">-->
<!--                    <%#= link_to edit_inventory_vendor_path(id: vendor_rate.id.to_s), method: :get, data: { remote: true, toggle: 'modal', target: '#vendor-rate-modal' }, class: 'btn btn-info btn-xs', style: 'display: inline;' do %>Edit<%# end %>-->
<!--                  </td>-->
<!--                  <td id='vendor_disable_button_<%#= vendor_rate.id %>'>-->
                    <%# if vendor_rate.try(:is_deleted) == true %>
                      <%#= link_to 'Active', enable_vendor_inventory_vendors_path(id: vendor_rate.id), class: 'btn btn-xs btn-primary', remote: true, style: 'display: inline;' %>
                    <%# else %>
<!--                      <div class="btn btn-danger btn-xs btn-disable-vendor" style="display: inline;" data-toggle="modal" data-target="#confirmation-modal" data-vendor='<%#= vendor_rate.name %>'>Disable</div>-->
                      <%#= link_to 'Confirm', inventory_vendor_path(id: vendor_rate.id),method: :delete, class: 'btn btn-danger', remote: true, style: 'display: none;', data: { dismiss: 'modal' } %>
                    <%# end %>
<!--                  </td>-->
<!--                </tr>-->
<!--              </table>-->
<!--            </td>-->
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="col-md-12 text-center mt10">
        No Items to Show.
      </div>
    <% end %>
  </div>
</div>

<style>
  #confirmation-modal a{
    display: inline-block !important;
  }
  .row-container{
    height: 25px;
  }
</style>



<script type="text/javascript">
  $(".search-vendor-rate-list").on('keyup', function() {
    vendor_group_list = $(".vendor_rate_list_tr");
    vendor_group_list_count = vendor_group_list.length;
    search = $(this).val().toUpperCase().trim();
    counter = 0
    for (var i = vendor_group_list_count - 1; i >= 0; i--) {
      variant_name = $(vendor_group_list[i]).find(".variant_name")
      category_name = $(vendor_group_list[i]).find(".category_name")
      sub_category_name = $(vendor_group_list[i]).find(".sub_category_name")
      vendor_name = $(vendor_group_list[i]).find(".vendor_name")
      vendor_group_name = $(vendor_group_list[i]).find(".vendor_group_name")
      rate = $(vendor_group_list[i]).find(".rate")
      vendor_search = $("#vendor_filter").find(":selected").text().toUpperCase().trim();
      if (vendor_search == 'All Vendors') {
        if ($(variant_name).html().toUpperCase().indexOf(search) > -1 || $(category_name).html().toUpperCase().indexOf(search) > -1 || $(sub_category_name).html().toUpperCase().indexOf(search) > -1 || $(vendor_name).html().toUpperCase().indexOf(search) > -1 || $(vendor_group_name).html().toUpperCase().indexOf(search) > -1 || $(rate).html().toUpperCase().indexOf(search) > -1) {
          $(vendor_group_list[i]).css("display", "");
        } else {
          $(vendor_group_list[i]).css("display", "None");
          counter += 1
        }
      } else {
        if ($(vendor_name).html().toUpperCase().indexOf(vendor_search) > -1 && ($(variant_name).html().toUpperCase().indexOf(search) > -1 || $(category_name).html().toUpperCase().indexOf(search) > -1 || $(sub_category_name).html().toUpperCase().indexOf(search) > -1 || $(vendor_group_name).html().toUpperCase().indexOf(search) > -1 || $(rate).html().toUpperCase().indexOf(search) > -1)) {
          $(vendor_group_list[i]).css("display", "");
        } else {
          $(vendor_group_list[i]).css("display", "None");
          counter += 1
        }
      }

      if (vendor_group_list_count == counter) {
        if ($(".show-nothing").length <= 0) {
          $("#vendor_group_master-list").append(`<tr class="show-nothing"><td class="text-center" colspan="5">Nothing to Show</td></tr>`)
        }
      } else {
        $(".show-nothing").remove();
      }
    }
  })

  $("#vendor_filter").change(function() {
    search = $(this).find(":selected").text();
    vendor_group_list = $(".vendor_rate_list_tr");
    vendor_group_list_count = vendor_group_list.length;
    counter = 0
    for (var i = vendor_group_list_count - 1; i >= 0; i--) {
      vendor_name = $(vendor_group_list[i]).find(".vendor_name")
      if (search == 'All Vendors') {
        $(vendor_group_list[i]).css("display", "");
      } else {
        if ($(vendor_name).html().toUpperCase().indexOf(search.toUpperCase()) > -1) {
          $(vendor_group_list[i]).css("display", "");
        } else {
          $(vendor_group_list[i]).css("display", "None");
          counter += 1
        }
      }
    }

    if (vendor_group_list_count == counter) {
      if ($(".show-nothing").length <= 0) {
        $("#vendor_group_master-list").append(`<tr class="show-nothing"><td class="text-center" colspan="5">Nothing to Show</td></tr>`)
      }
    } else {
      $(".show-nothing").remove();
    }
  })
</script>
