<meta charset="UTF-8">
<table>
  <tr>
    <th>Vendor(*Do not change)</th>
    <th>Item Variant Code(*Do not change)</th>
    <th>Item Variant Name(*Do not change)</th>
    <th>Current Rate(*Do not change)</th>
    <th>Updated Rate</th>
    <th>Current Selling Price(*Do not change)</th>
    <th>Updated Selling Price</th>
  </tr>
  <% @variants.each do |variant| %>
    <% existing_vendor_rate = Inventory::VendorRate.find_by(variant_id: variant.id, vendor_id: @vendor.id) %>
    <tr>
      <td><%= @vendor.try(:name) %></td>
      <td><%= variant.try(:variant_code) %></td>
      <td><%= "#{variant.try(:description).to_s} #{variant.try(:variant_identifier).to_s}" %></td>
      <td><%= existing_vendor_rate.try(:rate).to_s %></td>
      <td><%= existing_vendor_rate.try(:rate).to_s %></td>
      <td><%= existing_vendor_rate.try(:selling_price).to_s %></td>
      <td><%= existing_vendor_rate.try(:selling_price).to_s %></td>
    </tr>
  <% end %>
</table>