<%= javascript_include_tag 'application-loggedin', 'data-turbolinks-track' => true %>
<div class="modal-dialog modal-md" style="width:40%;">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <h4 class="modal-title">Upload Items Excel</h4>
        </div>
        <div class="col-md-4 text-right">
          <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:5px;">Close</button>
      </div>
    </div>
    <div class="modal-body item-body" style="max-height: 600px;overflow-y: auto">
      <%= form_for :download_bulk_data, url: "/inventory/items/download_bulk_upload_data.xlsx",method: :get, :html => {:id => 'upload-excel-items-form', :class => 'upload-excel-items-form'} do |f| %>
        <div class="row mb10">
          <div class="col-md-12 text-center">
            <p style="color:#f00;">Create/Update Item in Bulk for Item Masters.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <b class="form-control" style="border: 0;">
            Categories:
            </b>
          </div>
          <div class="col-md-9" style="margin: 5px 0;">
            <%= f.select :category_id, options_for_select(@inventory_categories.map { |ele| [ele.name, ele.id.to_s] }),{}, multiple: true,required: true, class: 'form-control p7_10 category' %>
            <div class="alert alert-danger error-category" style="padding: 10px;width: 45%;">
              <span class='btn-remove-class' aria-hidden="true" style="cursor:pointer; float:right;">&times;</span></button>
              Category limit exceeded.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <b class="form-control" style="border: 0;">
            Tax Groups:
            </b>
          </div>
          <div class="col-md-9" style="margin: 5px 0;">
            <%= f.select :tax_group_id, options_for_select(@tax_groups.map{|ele| ["#{ele.name} - #{ele.rate}%", ele.id.to_s] }),{}, multiple: true, required: true, class: 'form-control p7_10 tax-group' %>
            <div class="alert alert-danger error-tax-group" style="padding: 10px;width: 45%;">
              <span class='btn-remove-class' aria-hidden="true" style="cursor:pointer; float:right;">&times;</span></button>
              Tax Group limit exceeded.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <b class="form-control" style="border: 0;">
            Dispensing Units:
            </b>
          </div>
          <div class="col-md-9 dispensing-units" style="margin: 5px 0;">
            <%= f.select :dispensing_unit_id, options_for_select([]), multiple: true,required: true, class: 'form-control p7_10 dispensing-unit' %>
            <div class="alert alert-danger error-dispensing-unit" style="padding: 10px;width: 45%;">
              <span class='btn-remove-class' aria-hidden="true" style="cursor:pointer; float:right;">&times;</span></button>
              Dispensing Units limit exceeded.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <b class="form-control" style="border: 0;">
            Package Types:
            </b>
          </div>
          <div class="col-md-9" style="margin: 5px 0;">
            <%= f.select :package_type, options_for_select([ "Box", "Pack", "Ampule", "Case", "Dose Pack", "Bottle, Plastic", "Blister Pack", "Package", "Not Stated", "Packet","Supersack", "Tube", "Strip", "Pair"]),{}, multiple: true, required: true, class: 'form-control p7_10 package-type' %>
            <div class="alert alert-danger error-package-type" style="padding: 10px;width: 45%;">
              <span class='btn-remove-class' aria-hidden="true" style="cursor:pointer; float:right;">&times;</span></button>
              Package Type limit exceeded.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <b class="form-control" style="border: 0;">
            Sub Package Types:
            </b>
          </div>
          <div class="col-md-9" style="margin: 5px 0;">
            <%= f.select :sub_package_type, options_for_select(['Number','Strip','Ampule','Applicator','Bag','Blister Pack','Bottle, with Applicator','Bottle, Dispensing','Bottle, Dropper','Bottle, Glass','Bottle, Plastic','Bottle, Pump','Bottle, Spray','Bottle, Unit-Dose','Box','Pack','Box, Unit-Dose','Can','Canister', 'Carton','Cartridge','Case','Cello Pack''Container','Cup','Cup, Unit-Dose','Cylinder','Dewar','DialPack','Dose Pack','Drum','Inhaler','Inhaler, Refill','Jar','Jug','Kit','Not Stated','Package','Package, Combination','Packet','Pouch','Supersack','Syringe','Syringe, Glass','Syringe, Plastic','Tambinder','Tray','Tube','Tube, With Applicator','Vial','Vial, Dispensing','Vial, Glass','Vial, Multi-Dose', 'Vial, Patent Delivery System','Vial, Pharmacy Bulk Package','Vial, Piggyback', 'Vial, Plastic', 'Vial, Single-Dose', 'Vial, Single-Use','Pair']),{}, multiple: true,required: true, class: 'form-control p7_10 sub-package-type' %>
            <div class="alert alert-danger error-sub-package-type" style="padding: 10px;width: 45%;">
              <span class='btn-remove-class' aria-hidden="true" style="cursor:pointer; float:right;">&times;</span></button>
              Sub Package limit exceeded.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <b class="form-control" style="border: 0;">
            Unit Types:
            </b>
          </div>
          <div class="col-md-9" style="margin: 5px 0;">
            <%= f.select :item_type, options_for_select(['Number','Ampule','Applicator','Bottle, with Applicator','Bottle, Dispensing','Bottle, Dropper','Bottle, Glass','Bottle, Plastic','Bottle, Pump','Bottle, Spray','Bottle, Unit-Dose','Box','Pack','Box, Unit-Dose','Can','Canister','Carton','Cartridge','Case','Cello Pack','Container','Cup','Cup, Unit-Dose','Cylinder','Dewar','DialPack','Dose Pack','Drum','Inhaler','Inhaler, Refill','Jar','Jug','Not Stated','Syringe','Syringe, Glass','Syringe, Plastic','Tambinder','Tray','Tube','Tube, With Applicator','Vial','Vial, Dispensing','Vial, Glass','Vial, Multi-Dose','Vial, Patent Delivery System','Vial, Plastic','Vial, Single-Dose','Vial, Single-Use','Pair']),{}, multiple: true, required: true, class: 'form-control p7_10 item-type' %>
            <div class="alert alert-danger error-item-type" style="padding: 10px;width: 45%;">
              <span class='btn-remove-class' aria-hidden="true" style="cursor:pointer; float:right;">&times;</span></button>
              Unit Type limit exceeded.
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-3">
            <b class="form-control" style="border: 0;">Sample File : </b>
          </div>

          <div class="col-md-9" style="margin: 5px 0;">
            <%= f.submit "Download", class: "download btn btn-primary btn-primary-transparent", data: { disable_with: false }, disabled: true, style: "background-color: transparent;color: #428bca" do %>
              <i class="fa fa-download"></i> Download</a>
            <% end %>
            <span>*Columns starting with (*) are Mandatory</span>
          </div>
        </div>
      <% end %>
      <%= form_for :items_bulk_data, url: "/inventory/items/upload_data", remote: true, :html => {:id => 'upload-excel-items-form', :class => 'upload-excel-items-form'} do |f| %>
        <div class="row">
          <div class="col-md-3">
            <b class="form-control" style="border: 0;">Upload File : </b>
          </div>

          <div class="col-md-9" style="margin: 5px 0;">
            <%= f.file_field :document, html: {name: "..."}, :accept => 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.xls,.xlsx,.XLS,.XLSX' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
          </div>
          <div class="col-md-6 text-right">
            <%= f.submit "Upload", class: 'btn btn-success save-form-btn', disabled: true, data: { 'disable-with': 'Uploading...' } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<style>
.select2-container--bootstrap .select2-results__option[aria-selected=true] {
    background-color: #c9c9c9;
}
</style>
