<div class="row">
  <div class="col-md-12" style="background: white;">
    <strong style="text-decoration: underline; color: #1E90FF;">Item Details:</strong>

    <div class="row mb10">
      <div class="col-md-3 item-category">
        <label for="" class="control-label item-label required">Category</label>
        <%= f.select :category_id, options_for_select(@inventory_categories.map { |ele| [ele.name, ele.id.to_s] }, {selected: @item_category.try(:id).to_s} ), { promt: true }, { class: 'form-control p7_10 item_category', id: 'item_category' } %>
        <%= f.hidden_field :category %>
      </div>

      <div class="col-md-3 item-sub-category">
        <label for="" class="control-label item-label">Sub Category</label>
        <%= f.select :sub_category_id, options_for_select(@inventory_sub_categories.map { |ele| [ele.name, ele.id.to_s] }, @inventory_item.sub_category_id ), { promt: true }, { class: 'form-control p7_10 item_sub_category', id: 'item_sub_category' } %>
        <%= f.hidden_field :sub_category_name %>
      </div>

      <div class="col-md-3">
          <% hsn_required = current_organisation['inventory_hsn_code_required'] ? "required" : ""%>
          <label for="" class="item-label control-label <%= hsn_required %>">HSN Code</label>
          <%= f.text_field :hsn_no,{ :class=> "form-control p7_10 mb5", :placeholder=>"HSN Code", required: current_organisation['inventory_hsn_code_required'] } %>
      </div>

      <div class="col-md-3">
        <label for="" class="control-label  item-label">Brand/Company</label>
        <%= f.text_field :brand,{:class=> "form-control p7_10 mb5", :placeholder=>""} %>
      </div>
    </div>

    <div class="row mb10">
      <div class="col-md-3">
        <label for="" class="control-label item-label required">Description</label>
        <%= f.text_field :description,{ :class=> "form-control p7_10 mb5", :placeholder=>"Description / Name" } %>
      </div>
      <div class="col-md-3">
        <label for="" class="control-label item-label">Manufacturer</label>
        <%= f.text_field :manufacturer,{ :class=> "form-control p7_10 mb5", :placeholder=>"Manufacturer Name" } %>
      </div>

      <% if @item_category.type == 'optical' %>
        <div class="col-md-3">
          <label for="" class="col-sm-4 control-label  item-label">Model No.</label>
          <%= f.text_field :model_no,{:class=> "form-control p7_10 mb5", :placeholder=>""} %>
        </div>
      <% end %>
      <% if @item_category.stockable == false && params[:action_from] != 'sale_order' %>
        <div class="col-md-3">
            <label for="" class="col-sm-4 control-label  item-label required">Vendor.</label>
            <%#= select_tag "inventory_items[vendor_id]", options_for_select(@vendors), { name: 'inventory_item[vendor_id]', include_blank: true, class: 'form-control  inventory_item_vendor', id: 'inventory_item_vendor_id' , :required => true} %>
            <%= f.select :vendor_id, options_for_select(@vendors.map { |ele| [ele.name, ele.id.to_s] }, @inventory_item.vendor_id ), { promt: true }, { class: 'form-control p7_10 mb5 inventory_item_vendor', id: 'item_vendor_id'} %>
        </div>
      <% end %>
      
    </div>
  </div>

  <div class="col-md-12" style="background: white;border-top: 6px solid #e4e7ea;">
    <strong style="text-decoration: underline; color: #1E90FF;">Properties:</strong>
    <div class="row mb10">
      <div class="col-md-2">
        <div class="col-md-12">
          <div class="col-md-6">
            <%= f.label :tax_inclusive, class: 'item-label' %>:
          </div>
          <div class="col-md-6">
            <span>
              <%= f.check_box :tax_inclusive , { checked: @inventory_item.tax_inclusive, class: "checkbox-alignment"}, true, false  %>
              <label style=" " for="inventory_item_tax_inclusive"></label>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="col-md-12">
          <div class="col-md-6">
            <%= f.label :tax_id, class: 'item-label' %>:
          </div>
          <div class="col-md-6">
            <input type="hidden" name="inventory_item[tax_rate]" value="" class="inventory_item_tax_rate">
            <input type="hidden" name="inventory_item[tax_name]" value="" class="inventory_item_tax_name">
            <select name="inventory_item[tax_group_id]" id="inventory_item_tax_group_id" class='form-control tax_group_id mb5' style="padding: 7px 1px;">
              <option value="">Please select</option>
              <% @tax_groups.each do |tax_group| %>
                <% selected = @inventory_item.tax_group_id == tax_group.id ? "selected" : ""%>
                <option value="<%= tax_group.id.to_s %>" data-tax-rate='<%= tax_group.rate %>' data-tax-name="<%= tax_group.name %>" <%= eval(selected) %>><%= tax_group.name %> - <%= tax_group.rate %>%</option>
              <% end %>
            </select>
          </div>
        </div>
      </div>

      <% if @item_category.type == 'medication' || @item_category.type.downcase == 'miscellaneous'  %>
        <div class="col-md-2">
          <div class="col-md-12">
            <div class="col-md-6">
              <%= f.label :expiry_present, class: 'item-label' %>:
            </div>
            <div class="col-md-6">
              <span>
                <%= f.check_box :expiry_present , { checked: @inventory_item.expiry_present, class: "checkbox-alignment" }, 'true', 'false'  %>
                <label style=" " for="inventory_item_expiry_present"></label>
              </span>
            </div>
          </div>
        </div>
      <% end %>
      <% if @item_category.type == 'medication' %>
        <div class="col-md-2">
          <div class="col-md-12">
            <div class="col-md-10">
              <%= f.label :prescription_mandatory, class: 'item-label' %>:
            </div>
            <div class="col-md-2">
              <span>
                <%= f.check_box :prescription_mandatory , { checked: @inventory_item.prescription_mandatory, class: "checkbox-alignment" }, 'true', 'false'  %>
                <label style=" " for="inventory_item_prescription_mandatory"></label>
              </span>
            </div>
          </div>
        </div>
      <% end %>
      <% unless params[:action_from] == 'sale_order' %>
        <div class="col-md-2">
          <div class="col-md-12">
            <div class="col-md-6">
              <%= f.label :unit_level, class: 'item-label' %>:
            </div>
            <div class="col-md-6">
              <span>
                <%= f.check_box :unit_level , { checked: @inventory_item.unit_level, class: "inventory_unit_level checkbox-alignment" }, 'true', 'false'  %>
                <label style=" " for="inventory_item_unit_level"></label>
              </span>
            </div>
          </div>
        </div>
      <% end %>
      
       <% if @item_category.type == 'optical' %>
        <div class="col-md-3">
          <label for="" class="col-sm-4 control-label item-label">Price Range</label>
          <div class="col-md-12">
            <div class="col-md-4" style="padding: 0px;">
              <div class="rdio rdio-primary rdio-changes">
                <%= f.radio_button :pricing_index, "Low", { :class => 'radio-inline', id: "item_pricing_index1"} %>
                <label style="padding-left:10px;" for="item_pricing_index1"> Low</label>
              </div>
            </div>
            <div class="col-md-4" style="padding: 0px;">
              <div class="rdio rdio-primary rdio-changes">
                <%= f.radio_button :pricing_index, "Medium", {:class => 'radio-inline', id: "item_pricing_index2"} %>
                <label style="padding-left:10px;" for="item_pricing_index2"> Medium</label>
              </div>
            </div>
            <div class="col-md-4" style="padding: 0px;">
              <div class="rdio rdio-primary rdio-changes">
                <%= f.radio_button :pricing_index, "High", {:class => 'radio-inline', id: "item_pricing_index3"} %>
                <label style="padding-left:10px;" for="item_pricing_index3"> High</label>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <% if params[:action_from] == 'sale_order' %>
        <%= f.hidden_field :stockable, { value: false }  %>
      <% else %>
        <%= f.hidden_field :stockable, { value: @item_category.stockable }  %>
      <% end %>
    </div>
  </div>

  <div class="col-md-12" style="background: white;border-top: 6px solid #e4e7ea;">
    <strong style="text-decoration: underline; color: #1E90FF;">Dispensing Unit:</strong>
    <div class="row mb10 col-md-12">
      <div class="col-md-3">
        <label for="" class="control-label">Dispensing Unit</label>
        <%= f.select :dispensing_unit_id, @dispensing_units.map { |ele| [ele.name, ele.id.to_s]}, {:selected => f.object.dispensing_unit_id&.to_s} ,{ :class=> "form-control dispensing-unit-dd inventory_item_dispensing_unit" } %>
        <%= f.hidden_field :dispensing_unit, id: "inventory_item_dispensing_unit" %>
      </div>
      <div class="col-md-2">
        <label for="" class="control-label">Package Type <i class="fa fa-info-circle hg-tooltip" title="Packaging In a Box,Pack,Strip,Bottle,Etc." style="cursor:help;"></i></label>
        <%= f.select :package_type, [ "Box", "Pack", "Ampule", "Case", "Dose Pack", "Bottle, Plastic", "Blister Pack", "Package", "Not Stated", "Packet","Supersack", "Tube", "Strip", "Pair"], { :prompt => 'Select' } ,{ :class=> "form-control dispensing-unit-dd inventory_item_package_type",:style=> "display: inline; font-size: 9px" } %>
      </div>
      <div class="col-md-3">
        <label for="" class="control-label">#Sub package/Package <i class="fa fa-info-circle hg-tooltip" title="Total No. of Strip,Bottle,Etc." style="cursor:help;"></i></label>
        <div class="col-md-12">
          <div class="col-md-3" style="padding: 0">
            <% sub_package_units = @inventory_item.sub_package_units.present? ? @inventory_item.sub_package_units : '1' %>
            <%= f.number_field :sub_package_units,{ value: sub_package_units, class: "form-control p5_2 mb5 inventory_item_sub_package_units", placeholder: "",min: 1 } %>
          </div>
          <div class="col-md-6">
            <%= f.select :sub_package_type, [['Number','Number'],['Strip','Strip'],['Ampule','Ampule'],['Applicator','Applicator'],['Bag','Bag'],['Blister Pack','Blister Pack'],['Bottle, with Applicator','Bottle, with Applicator'],['Bottle, Dispensing','Bottle, Dispensing'],['Bottle, Dropper','Bottle, Dropper'],['Bottle, Glass','Bottle, Glass'],['Bottle, Plastic','Bottle, Plastic'],['Bottle, Pump','Bottle, Pump'],['Bottle, Spray','Bottle, Spray'],['Bottle, Unit-Dose','Bottle, Unit-Dose'],['Box','Box'],['Pack','Pack'],['Box, Unit-Dose','Box, Unit-Dose'],['Can','Can'],['Canister','Canister'],['Carton','Carton'],['Cartridge','Cartridge'],['Case','Case'],['Cello Pack','Cello Pack'],['Container','Container'],['Cup','Cup'],['Cup, Unit-Dose','Cup, Unit-Dose'],['Cylinder','Cylinder'],['Dewar','Dewar'],['DialPack','DialPack'],['Dose Pack','Dose Pack'],['Drum','Drum'],['Inhaler','Inhaler'],['Inhaler, Refill','Inhaler, Refill'],['Jar','Jar'],['Jug','Jug'],['Kit','Kit'],['Not Stated','Not Stated'],['Package','Package'],['Package, Combination','Package, Combination'],['Packet','Packet'],['Pouch','Pouch'],['Supersack','Supersack'],['Syringe','Syringe'],['Syringe, Glass','Syringe, Glass'],['Syringe, Plastic','Syringe, Plastic'],['Tambinder','Tambinder'],['Tray','Tray'],['Tube','Tube'],['Tube, With Applicator','Tube, With Applicator'],['Vial','Vial'],['Vial, Dispensing','Vial, Dispensing'],['Vial, Glass','Vial, Glass'],['Vial, Multi-Dose','Vial, Multi-Dose'],['Vial, Patent Delivery System','Vial, Patent Delivery System'],['Vial, Pharmacy Bulk Package','Vial, Pharmacy Bulk Package'],['Vial, Piggyback','Vial, Piggyback'],['Vial, Plastic','Vial, Plastic'],['Vial, Single-Dose','Vial, Single-Dose'],['Vial, Single-Use','Vial, Single-Use'], ['Pair', 'Pair'], ['Unit', 'Unit'], ['Piece', 'Piece']], { :prompt => 'Select' } ,{ :class=> "form-control dispensing-unit-dd inventory_item_sub_package_type",:style=> "display: inline; font-size: 9px" } %>
          </div>
          <div class="col-md-3" style="padding-top: 5px;">
            <span style="font-size: x-large;">/</span> <span class="package-type-text">Box</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <label for="" class="control-label">#Unit/Sub package <i class="fa fa-info-circle hg-tooltip" title="Total No. of Strip,Bottle,Etc." style="cursor:help;"></i></label>
        <div class="col-md-12">
          <div class="col-sm-3">
            <% item_units = @inventory_item.item_units.present? ? @inventory_item.item_units : '1' %>
            <%= f.number_field :item_units,{ value: item_units, class: "form-control p5_2 mb5 inventory_item_dispensing_units", placeholder: "",min: 1 } %>
          </div>
          <div class="col-sm-6">
            <%= f.select :item_type, [['Number','Number'],['Ampule','Ampule'],['Applicator','Applicator'],['Bottle, with Applicator','Bottle, with Applicator'],['Bottle, Dispensing','Bottle, Dispensing'],['Bottle, Dropper','Bottle, Dropper'],['Bottle, Glass','Bottle, Glass'],['Bottle, Plastic','Bottle, Plastic'],['Bottle, Pump','Bottle, Pump'],['Bottle, Spray','Bottle, Spray'],['Bottle, Unit-Dose','Bottle, Unit-Dose'],['Box','Box'],['Pack','Pack'],['Box, Unit-Dose','Box, Unit-Dose'],['Can','Can'],['Canister','Canister'],['Carton','Carton'],['Cartridge','Cartridge'],['Case','Case'],['Cello Pack','Cello Pack'],['Container','Container'],['Cup','Cup'],['Cup, Unit-Dose','Cup, Unit-Dose'],['Cylinder','Cylinder'],['Dewar','Dewar'],['DialPack','DialPack'],['Dose Pack','Dose Pack'],['Drum','Drum'],['Inhaler','Inhaler'],['Inhaler, Refill','Inhaler, Refill'],['Jar','Jar'],['Jug','Jug'],['Not Stated','Not Stated'],['Syringe','Syringe'],['Syringe, Glass','Syringe, Glass'],['Syringe, Plastic','Syringe, Plastic'],['Tambinder','Tambinder'],['Tray','Tray'],['Tube','Tube'],['Tube, With Applicator','Tube, With Applicator'],['Vial','Vial'],['Vial, Dispensing','Vial, Dispensing'],['Vial, Glass','Vial, Glass'],['Vial, Multi-Dose','Vial, Multi-Dose'],['Vial, Patent Delivery System','Vial, Patent Delivery System'],['Vial, Plastic','Vial, Plastic'],['Vial, Single-Dose','Vial, Single-Dose'],['Vial, Single-Use','Vial, Single-Use'], ['Pair','Pair'], ['Unit', 'Unit'], ['Piece', 'Piece']], { :prompt => 'Select' } ,{ :class=> "form-control dispensing-unit-dd inventory_item_type",:style=> "display: inline; font-size: 9px" } %>
          </div>
          <div class="col-md-3" style="padding-top: 5px;">
            <span style="font-size: x-large;">/</span> <span class="sub-package-type-text">Number</span>
          </div>
        </div>
      </div>
    </div>
  </div>






  <div class="col-md-12" style="background: white;border-top: 6px solid #e4e7ea;padding-left: 0;">
    <div class="col-sm-6" style="padding-right: 0;padding-left: 0;">
      <div class="col-md-12">
        <div class="col-md-12" style="padding: 0;">
          <strong style="text-decoration: underline; color: #1E90FF;">Low Stock Warning:</strong>
        </div>
        <div class="col-md-5">
          <div class="col-md-8">
            <%= f.label :fixed_threshold, class: 'item-label' %>:
          </div>
          <div class="col-md-4" style="padding-top: 2px;">
            <span>
              <% if @inventory_item.new_record? %>
                <%= f.check_box :fixed_threshold , { checked: @inventory_item.fixed_threshold, class: "checkbox-alignment inventory_item_fixed_threshold" }, 'true', 'false'  %>
                <label style=" " for="inventory_item_fixed_threshold"></label>
              <% else %>
                <%= f.text_field :fixed_threshold , value: @inventory_item.threshold, disabled: true  %>
              <% end %>
            </span>
          </div>
        </div>
        <% if @inventory_item.new_record? %>
          <div class="col-md-7 threshold-value-container">
            <%= f.text_field :threshold_value,{ :class => 'set-item-threshold-value form-control p7_10 mb5', onkeypress: 'return event.charCode>= 48 && event.charCode <= 57', required: true } %>
          </div>
          <div class="col-md-7 min-stock-percentages item-label">
            <div class="col-sm-4">
              <label for="" class="control-label">Min. Stock <i class="fa fa-info-circle hg-tooltip" title="Warns You if Stock(After Last Purchase) Goes Less Than Selected Percentage" style="cursor:help;"></i></label>
            </div>
            <div class="col-md-8">
              <div>
                <%= f.hidden_field :threshold_value,{ :class => 'item-threshold-value' } %>
              </div>

              <div class="col-md-4" style="padding: 0px;">
                <div class="rdio rdio-primary rdio-changes">
                  <%= f.radio_button :threshold, "10", { :class => 'radio-inline', id: "item_threshold1" } %>
                  <label style="padding-left:5px;" for="item_threshold1"> 10&#37;</label>
                </div>
              </div>
              <div class="col-md-4" style="padding: 0px;">
                <div class="rdio rdio-primary rdio-changes">
                  <%= f.radio_button :threshold, "20", { :class => 'radio-inline', id: "item_threshold2" } %>
                  <label style="padding-left:5px;" for="item_threshold2"> 20&#37;</label>
                </div>
              </div>
              <div class="col-md-4" style="padding: 0px;">
                <div class="rdio rdio-primary rdio-changes">
                  <%= f.radio_button :threshold, "30", { :checked => true, :class => 'radio-inline', id: "item_threshold3" } %>
                  <label style="padding-left:5px;" for="item_threshold3"> 30&#37;</label>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <% if @item_category.type == 'medication' %>
      <div class=" col-sm-6" style="border-left: 6px solid #e4e7ea;padding-left: 6px;">
        <div class="col-md-12" style="padding: 0">
          <div class="col-md-12">
            <strong style="text-decoration: underline; color: #1E90FF;">Class:</strong>
          </div>
          <div class="col-md-4">
            <input type="text" name="" value="<%= inventory_medicine_classes %>" id="item_medicine_class" class="form-control p7_10 item_medicine_class" placeholder="Search by class Name">
          </div>
          <% if @inventory_item.new_record? %>
            <div class="col-md-8" style="padding: 0">
              <div class="col-md-4">
                <div class="btn-group" style="margin-bottom: 0px;" role="group" aria-label="">
                  <a class="btn btn-success btn-sm" id=""><i class="fa fa-filter"></i>Filter</a>
                  <button type="button" class="btn btn-success btn-sm dropdown-toggle " data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu children">
                    <% @generic_class_categories.each do |category| %>
                      <li><a class="category-name" href="#" category_name="<%= category %>"><%= category %></a></li></li>
                    <% end %>
                  </ul>
                </div>
              </div>
              <div class="col-md-8 filter_text" style="padding: 0">
                <b style="float: left;">Filter :</b>
                <span class="clear-filters-tag" style="text-decoration: underline; color: gray;padding-right: 10px; float: right;">Clear Filters</span>
                <br>
                <div class="AddedCategory"></div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-sm-12" style="background: white;">
          <br>
          <div id="item_class_section">

          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% if @item_category.type == 'medication' %>
    <div class="col-md-12" style="background: white;border-top: 6px solid #e4e7ea;min-height: 65px;">
      <strong style="text-decoration: underline; color: #1E90FF;">Generic Composition:</strong>
      <span class="clear-generic-tag" style="text-decoration: underline; color: gray; cursor: pointer;">Clear All</span>
      <div class="generic-composition-section row col-md-12">
        <% if !@inventory_item.generic_names.present? %>
          <div class="generic-composition-row col-sm-4">
            <div class="col-md-5">
              <%= text_field_tag 'inventory_item[generic_names_attributes][0][name]', '', class: 'item_name form-control p5_10' %>
              <%= hidden_field_tag 'inventory_item[generic_names_attributes][0][generic_id]', '', class: 'generic_id form-control p5_10' %>
            </div>
            <div class="col-md-5" style="padding: 0">
              <div class="col-md-5" style="padding: 0;">
                <%= number_field_tag 'inventory_item[generic_names_attributes][0][quantity]', '', class: 'item_quantity form-control p5_2', step: '0.00001', min: 0.0 %>
              </div>
              <div class="col-md-7" style="padding: 0;">
                <%= select_tag 'inventory_item[generic_names_attributes][0][unit]', options_for_select([ 'E/O', 'mg', 'ml', '%', '% E/O', '% w/v', '% w/w', 'mg/ml', 'w/v', 'IU' ], ''), { class: 'form-control item-generic-composition-dropdown p6_10', include_blank: true } %>
              </div>
            </div>
            <div class="col-md-2">
              <button class="btn btn-danger btn-xs btn-remove-item" style="padding: 3px 10px;" id="first_delete_button">&times;</button>
            </div>
          </div>
           <div class='generic-btn-container col-md-1'>
            <span class="btn btn-primary btn-xs btn-add-item" disabled='disabled'><i class="fa fa-plus"></i></span>
          </div>
        <% else %>
          <% @inventory_item.generic_names.each_with_index do |generic_name, index| %>
            <div class="generic-composition-row col-sm-5">
              <div class="col-md-5">
                <%= text_field_tag "inventory_item[generic_names_attributes][#{index}][name]", generic_name.name, class: 'item_name form-control p5_10' %>
                <%= hidden_field_tag "inventory_item[generic_names_attributes][#{index}][generic_id]", generic_name.generic_id, class: 'generic_id form-control p5_10' %>
              </div>
              <div class="col-md-5" style="padding: 0">
                <div class="col-md-5" style="padding: 0;">
                  <%= number_field_tag "inventory_item[generic_names_attributes][#{index}][quantity]", number_with_precision(generic_name.quantity.to_f, precision: 5) , class: 'item_quantity form-control p5_2', step: '0.00001', min: 0.0 %>
                </div>
                <div class="col-md-7" style="padding: 0;">
                  <%= select_tag "inventory_item[generic_names_attributes][#{index}][unit]", options_for_select([ 'E/O', 'mg', 'ml', '%', '% E/O', '% w/v', '% w/w', 'mg/ml', 'w/v', 'IU' ], generic_name.unit), { class: 'form-control item-generic-composition-dropdown p6_10', include_blank: true } %>
                </div>
              </div>
              <div class="col-md-2">
                <button class="btn btn-danger btn-xs btn-remove-item" style="padding: 3px 10px;" id="first_delete_button" disabled="disabled">&times;</button>
              </div>
            </div>
            <div class='generic-btn-container col-md-1'>
              <span class="btn btn-primary btn-xs btn-add-item"><i class="fa fa-plus"></i></span>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="row"></div>
    </div>
  <%end%>
    <% if @inventory_item.new_record? || @inventory_item.custom_fields.present? %>
      <div class="col-md-12" style="background: white;border-top: 6px solid #e4e7ea;min-height: 65px;">
        <strong style="text-decoration: underline; color: #1E90FF;">Possible Variants:</strong>
        <div class="row col-md-12">
          <div class="col-md-12">
            <div class="item-custom-fields row">
              <% if @item_category.default_possible_variants.present? %>
                <%= render partial: '/inventory/items/default_custom_fields_form.html.erb', locals: { f: f, index: nil } %>
              <% else %>
                <%= render partial: '/inventory/items/custom_fields_form.html.erb', locals: { f: f, index: nil } %>
              <% end %>
              <% if @inventory_item.new_record? %>
                <div class="col-md-1 custom_fields_button" style="float: right;">
                  <%= link_to add_custom_field_inventory_items_path, method: :get, data: { remote: true }, class: "btn btn-primary btn-xs", title: 'Add extra fields with possible values' do %><i class="fa fa-plus"></i><% end %><span class="info"></span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>

<br>

<% if @level == "store" %>
  <%= f.hidden_field :department_id, { value: @inventory_store.try(:department_id) } %>
  <%= f.hidden_field :department_name, { value: @inventory_store.try(:department_name) } %>
  <%= f.hidden_field :store_id, { value: @inventory_store.try(:id) } %>
  <%= f.hidden_field :facility_id, { value: current_facility.id } %>
<% end %>
<%= f.hidden_field :level, { value: @level } %>
<%= f.hidden_field :organisation_id, { value: current_facility.try(:organisation_id) } %>

<%= f.hidden_field :checkoutable, { value: 'true' } %>
<%#= f.hidden_field :category, { value: category  } %>
<%#= f.hidden_field :category_id, { value: @inventory_categories[0].try(:id)  } %>
<%= f.hidden_field :category_name, { value: @item_category.try(:name)  } %>
<%= f.hidden_field :barcode_present, { value:  true } %>
<%= f.hidden_field :system_generated_barcode, { value: true } %>
<%= f.hidden_field :action_from, { value: params[:action_from] } %>

<%= f.submit "Save", style: "float: right", class: "btn btn-success save-item", remote: true,'data-disable-with' =>"Please Wait...", :onclick => 'addItem_page()' %>

<style type="text/css">
  .required:after {
    content:" *";
    color: red;
  }
  .p6_10{
    padding: 6px 10px;
  }
  .generic-composition-row{
    padding-left: 0;
    padding-right: 0;
    width: 30%;
  }
  .generic-btn-container{
    width: 3%;
    padding: 0;
  }
  .item-label{
    margin-top: 10px;
  }
  .item-class-card{
    padding-top: 1px;
    margin-left: 3px;
    margin-bottom: 3px;
    overflow: hidden;
    width: 32%;
    padding-bottom: 3px;
  }
  .item-class-card .btn-remove-class{
    float: right;
    font-weight: bold;
    color: red;
    font-size: 25px;
    cursor: pointer;
  }
  .clear-generic-tag{
    display: none;
  }
</style>

<script type="text/javascript">
new_record = <%= @inventory_item.new_record? %>  
if(new_record == false){
  $(".item_category").attr('disabled', true)
  $(".inventory_unit_level").attr('disabled', true)
  // $(".inventory_item_package_type").attr('disabled', true)
  // $(".inventory_item_sub_package_type").attr('disabled', true)
  // $(".inventory_item_sub_package_units").attr('disabled', true)
  // $(".inventory_item_dispensing_units").attr('disabled', true)
  // $(".inventory_item_type").attr('disabled', true)
  $(".inventory_item_fixed_threshold").attr('disabled', true)
  $(".item_medicine_class").attr('disabled', true)
  $(".item-custom-field-name").attr('disabled', true)
  $(".item-custom-field-value").attr('disabled', true)
  $(".inventory_item_dispensing_unit").change(function(){
    let selected_option = $(this).find(":selected").text();
    $("#inventory_item_dispensing_unit").val(selected_option);
  });
  $(".inventory_item_vendor").attr('disabled', true)
}
</script>