<%= f.fields_for :custom_fields, :child_index => index  do |cf| %>
  <table width="100%" class="item-custom-field col-md-11">
    <tr valign="top">
      <td width="50%">
        <div class="form-group">
          <div class="col-sm-3 item-label"><%= cf.label :name %></div>
          <div class="col-sm-8">
            <%= cf.text_field :name,{ :class=> 'form-control p7_10 mb5 item-custom-field-name', :placeholder=>'' } %>
            <%= cf.hidden_field :_id %>
          </div>
        </div>
      </td>
      <td>
        <%= cf.hidden_field :_destroy,  { value: 0 ,class: 'form-control' } %>
      </td>
      <td class="">
        <div class="form-group">
          <div class="col-sm-3 item-label"><%= cf.label :value %></div>
          <div class="col-sm-8 mb5 value-container">
            <%= cf.select :value,cf.object.value,{ selected: cf.object.value, include_hidden: false },{ multiple: true, class: "form-control p7_10 mb5 item-custom-field-value" } %>
          </div>
        </div>
      </td>
      <% if f.object.new_record? %>
        <td class="col-md-1 col-sm-1">
          <button type="button" class="btn btn-danger btn-xs remove-item-custom-field">X</button>
        </td>
      <% end %>
    </tr>
  </table>
<% end %>
