<% item.generic_names.each do |gen_name| %>
  <%gen_index = Time.current.to_i%>
  <div class="row generic-compositios-row" style="margin-top: 5px">
    <div class="col-md-4">
      <%= text_field_tag "inventory_item[#{index}][generic_names_attributes][#{gen_index}][name]", gen_name.name, style: "height: 35px", class: 'item_name' %>
      <%= hidden_field_tag "inventory_item[#{index}][generic_names_attributes][#{gen_index}][generic_id]", gen_name.generic_id, class: 'generic_id form-control p5_10' %>
    </div>
    <div class="col-md-2" style="margin-left: 10px">
      <%= number_field_tag "inventory_item[#{index}][generic_names_attributes][#{gen_index}][quantity]", gen_name.quantity, min: 0.0, step: 0.00001, style: "max-width: 75px;height: 35px", class: 'generic-qty' %>
    </div>
    <div class="col-md-4" style="width: 170px">
      <%= select_tag "inventory_item[#{index}][generic_names_attributes][#{gen_index}][unit]", options_for_select([ 'E/O', 'mg', 'ml', '%', '% E/O', '% w/v', '% w/w', 'mg/ml', 'w/v', 'IU' ], gen_name.try(:unit)), { include_blank: false,prompt: "Please select", class: 'generic-unit form-control p7_10', "data-index": index, style: 'height: 35px', "data-gen-index": gen_index } %>
    </div>
    <div class="col-md-1">
      <button class="btn btn-danger btn-xs btn-remove-item" style="padding: 3px 10px;" data-index="<%= index %>" data-generic-index="<%= gen_index %>" id="first_delete_button">×</button>
    </div>
  </div>
<% end %>