<div class="inventory-item-toolbar1 inventory-toolbar">

  <nav class="navbar navbar-secondary navbar-fixed-top" style="margin-bottom: 0px; left: auto; right: auto; width: auto; position: relative;z-index:100; background: #354670;">
    <div class="container-fluid" style="padding-right:0">
      <div class="col-xs-1 link-to-calendar" style="padding-left:initial">
        <div class="navbar-header" style="margin-top: 7px;">
          <button class="btn btn-link btn-xs btn-inventory-refresh"><i class="fa fa-refresh" style="color:#fff;"></i></button>
        </div>
      </div>


      <div class="col-xs-3" style="padding: 5px 10px">
        <% if @inventory_store.enable_stock_entry && Authorization::PolicyHelper.verification(current_user.id ,"HGP-100-100-100") %>
          <div class="btn-group" style="margin-bottom: 0px;" role="group" aria-label="">
            <a href="/inventory/items/new?store_id=<%= @inventory_store.id %>" data-remote="true" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> New</a>
            <button type="button" class="btn btn-primary btn-sm dropdown-toggle " data-toggle="dropdown" style="">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu children" style="">
              <li>
                <a href="/inventory/items/new?store_id=<%= @inventory_store.id %>" data-remote="true" class=""> Item Master</a>
              </li>
              <!-- <li>
                <a href="/inventory/vendors?store_id=<%= @inventory_store.id %>" data-remote="true" class=""> Supplier/Vendor Master</a>
              </li> -->
              <% if @inventory_store.department_id == '50121007' %>
                <li>
                  <a href="/inventory/fitters?store_id=<%= @inventory_store.id %>" data-remote="true" class=""> Fitter Master</a>
                </li>
              <% end %>
            </ul>
          </div>
        <%end%>
      </div>


      <!-- <div class="col-xs-3" style="padding: 5px 10px">
        <div class="btn-group" style="margin-bottom: 0px;" role="group" aria-label="">
          <button type="button" class="btn btn-primary btn-sm dropdown-toggle " data-toggle="dropdown" style="">
            <span style=''><i class="fa fa-filter"></i> Filter By</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu children" style="">
            <%# if @inventory_store.department_id == '50121007' %>
              <%# categories = ['all_item','optical_frame','optical_contact','optical_other','asset']%>
              <%# categories = ['all_item','optical_frame','optical_contact','implant','miscellaneous']%>
            <%# else %>
              <%# categories = ['all_item','medication','consumable','implant','miscellaneous']%>
            <%# end %>

            <%# categories.each do |category| %>
              <li>
                <a href="/inventory/items/filter_index?store_id=<%#= @inventory_store.id %>&item_type=<%#= category %>" data-remote="true" class=""><%#= category.try(:titleize).try(:camelize) %></a>
              </li>
            <%# end %>
          </ul>
        </div>
      </div> -->
      <div class="col-xs-6">
        <div class="tagsinput">
            <%# if @stock.present? %>
            <!--   <span class="tag" data-attribute="stock"><span>clear&nbsp;&nbsp;</span><span title="Removing tag">x</span></span> -->
            <%# end %>
            <% if @stock.present? %>
              <span class="clear-filters-tag">Clear Filters</span>
            <% end %>
            <% if @description&.include?("description asc") %>
              <span class="tag" data-attribute="description"><span>Description&nbsp;&nbsp;</span><span title="Removing tag">x</span></span>
              <input type="hidden" name="hiddenfilter[items]" id="description" class="description form-control hiddenfilters"  value='description asc'>
            <% end %>
            <% if @description&.include?("stock desc") %>
              <span class="tag" data-attribute="stock"><span>Stock&nbsp;&nbsp;</span><span title="Removing tag">x</span></span>
              <input type="hidden" name="hiddenfilter[items]" id="stock" class="stock form-control hiddenfilters"  value='stock desc'>
            <% end %>
            <% if @description&.include?("created_at desc") %>
              <span class="tag" data-attribute="created_at"><span>Created At&nbsp;&nbsp;</span><span title="Removing tag">x</span></span>
              <input type="hidden" name="hiddenfilter[items]" id="created_at" class="created_at form-control hiddenfilters"  value='created_at desc'>
            <% end %>
            <% if @category_id.present? %>
              <span class="tag" data-attribute="category_id"><span>Category&nbsp;&nbsp;</span><span title="Removing tag">x</span></span>
            <% end %>
          <input type="hidden" name="hiddenfilter[category]" id="category_id" class="category_id form-control hiddenfilter"  value='<%= @category %>'>
          <input type="hidden" name="hiddenfilter[stock]" class="stock form-control hiddenfilter"  value='<%= @stock %>'>

           <!-- <input type="hidden" name="hiddenfilter[items]" class="items form-control hiddenfilter"  value='<%#= @description %>'> -->
            <input type="hidden" name="hiddenfilter[category_id]" class="category_id form-control hiddenfilter"  value='<%= @category_id %>'>
        </div>
      </div>
      <%= link_to filter_item_inventory_items_path(store_id: @inventory_store.id, department_id: @inventory_store.department_id,category_id: params[:category_id].present? ? params[:category_id] : nil ), data: { remote: true, 'toggle': 'modal1', 'target': '#variant-filter-modal1' }, class: 'btn btn-primary btn-md navbar-btn navbar-btn-hover open_side_modal', style: 'border:none;' do %><i class="fa fa-filter"></i> Filter<% end %>
        <div id="esearch_summary">
          <%= render partial: '/inventory/items/filter' %>
        </div>
    </div>
  </nav>

</div>



<div class="inventory-items" style=" height: initial;">
  <table class="table inventory_table_center">
    <thead class="inventory-table-head">
    <tr class='thead-fixable'>
      <td class='thead-fix col-md-2'>Item Code</td>
      <td class='thead-fix col-md-4'>Description</td>
      <td class='thead-fix col-md-2'>Stock</td>
      <% if @inventory_store.department_id != '50121007' %>
        <td class='thead-fix col-md-2'>Dispensing Unit</td>
      <% end %>
      <% if @inventory_store.department_id == '50121007' %>
        <td class='thead-fix col-md-2'>Model No.</td>
      <% end %>
      <td class='thead-fix col-md-2'>Category</td>
      <% if @category == "out_stock" %>
        <td class="thead-fix">
          <%@current_date =  Date.current %>
          <%= link_to inventory_print_items_path(:Print_date =>  Date.strptime("#{@current_date}", "%Y-%m-%d"), data: "out_stock", :format => :pdf), :class => "text-center print_button", :target => "_blank" do %>
            Print
          <% end %>
        </td>
      <% end %>
    </tr>
    </thead>
    <tbody class="inventory-table-body", id="inventory_table_body">
      <%= render partial: 'inventory/items/index_body' %>
    </tbody>
  </table>
  <% unless @items.count < 30 %>
    <div class="show-more-timeline">
      <a class="col-sm-12", href="javascript:;", id="show_more_inventory", data-count = "0" , style="text-align: center;text-decoration: none;position: fixed;">
        <i class="fa fa-spinner fa-spin"></i> Loading...
      </a>
    </div>
  <%end%>
</div>

<style>
  .print_button{
    border: 1px solid #6EC7EE;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    background: #6EC7EE;
    border-radius: 4px;
  }
  .print_button:hover{
    color: #fff;
    text-decoration: none;
  }

  .inventory-list-row:hover{
    background: aliceblue;
    cursor: pointer;
  }

  .inventory-list-row {
    cursor: pointer;
  }

  div.tagsinput {
    background: rgb(53, 70, 112)!important;
    border: none !important;
    padding:5px;
    width: auto !important;
    height: 48px !important;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
  }

  div.tagsinput span.tag {
    display: block;
    float: left;
    padding: 8px 5px;
    text-decoration: none;
    background: #ffffff !important;
    color: #000 !important;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
  }

  div.tagsinput span.tag:hover {
    text-decoration: line-through;
  }

  div.tagsinput span.tag a {
    font-weight: bold;
    color: #000 !important;
    opacity: 0.5;
    text-decoration: none;
    font-size: 11px;
  }
  .clear-filters-tag {
    /*display: block;*/
    float: left;
    text-decoration: none;
    font-size: 13px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
  }

  .navbar-secondary {
    background: #354670;
    color: white;
    border-color: transparent;
  }
  .p5_2{
    padding: 5px 2px;
  }
</style>

<script type="text/javascript">
  $(".clear-filters-tag").on("click", function () {
    $(this).hide()
    $(".tagsinput .tag").hide()
    $(".hiddenfilter").val("")
    refreshVariantPage()
  })
  $(".tagsinput .tag").on("click", function() {
    var tagattr = $(this).attr("data-attribute")
    $(this).hide()
    $("."+tagattr).val("")
    refreshVariantPage()
  })

  function searchParams() {
    SearchParams = {}
    let item_type
    let stock
    let items = [];
    // item_type = eval($("input[name='hiddenfilter[category]']").val())
    // if (item_type == undefined) {
    //   item_type = ['all_item']
    // }
   
    $('.hiddenfilters').each(function() {
      items.push($(this).val());
    });

    // items = eval($("input[name='hiddenfilter[items]']").val())
    if (items != undefined) {
      SearchParams.items = items.filter(Boolean) 
    }
    stock = $("input[name='hiddenfilter[stock]']").val()
    if (stock != undefined) {
      SearchParams.stock = stock
    }
    category_id = $("input[name='hiddenfilter[category_id]']").val()
    if (category_id != undefined) {
      SearchParams.category_id = category_id
    }

    // SearchParams.item_type = item_type
    SearchParams.remote = true
    SearchParams.data_from = 'filter'
    SearchParams.store_id = '<%= @store_id %>'
  }

  function refreshVariantPage() {
    loadingDots();
    searchParams();

    jQuery.ajax({
      type: "GET",
      dataType: "script",
      data: SearchParams,
      url: "/inventory/items",
    }).done(function(data){
    })
  }

  function loadingDots() {
    $(".inventory-items ").html("<div class='loading_dots'><span></span> <span></span> <span></span></div>")
  }
</script>