<% @items.each do |item| %>
  <% if item.empty %>
    <tr id="<%= item.id%>" class="inventory-list-row item-empty" style="background-color: #FFB6C1;" title="Item Empty">
  <% elsif item.running_low %>
    <tr id="<%= item.id%>" class="inventory-list-row item-running-low" style="background-color: #FFA500;" title="Item Running Low">
  <% else %>
    <tr id="<%= item.id%>" class="inventory-list-row item-stock" style="background-color: #FFFAFA;" title="Total Stock&nbsp;&nbsp;<%= item.stock&.round(2) %>">
  <% end %>
    <td style="font-size: 10px; color: #17a08c;" class="col-md-2"><%= item.item_code %></td>
    <td class="col-md-4"><b><%= item.description %></b><% if item.prescription_mandatory %> <i class="fa fa-prescription hg-tooltip" style="font-size: 9px;color: white;background: #17a08c;padding: 2px 2px;border-radius: 2px; cursor:help;" title="Prescription is mandatory"></i><% end %></td>
    <td class="col-md-2"><% if item.stock %><%= item.stock&.round(2) %><% else %>0<% end %></td>
    <% if @inventory_store.department_id != '50121007' %>
<!--      <td class="col-md-2"><%# if item&.dispensing_unit.present? %><%#= item.dispensing_unit %><%# else %>NA<%# end %></td>-->
      <td class="col-md-2"><% if item&.dispensing_unit_id.present? %><%= Inventory::DispensingUnit.find_by(id: item&.dispensing_unit_id).name %><% else %>NA<% end %></td>
    <% end %>
    <% if @inventory_store.department_id == '50121007' %>
      <td class="col-md-2"><% if item&.model_no.present? %><%= item.model_no %><% else %>NA<% end %></td>
    <% end %>
    <td class="col-md-2"><% if item&.category.present? %><%= item.category&.titleize %><% else %>NA<% end %></td>
  </tr>
<%end%>