<div class="row">
  <div class="col-md-4">
    <h4>MANAGE INVENTORY ITEM</h4>
  </div>
  <div class="col-md-3 text-right">
    <input type="text" name="" class="search-item-master form-control" placeholder="Search Item" value="" style="margin-top: 5px;">
  </div>
  <div class="col-md-3 text-right">
    <%= link_to new_inventory_item_path, class: 'btn btn-primary', data: { remote: true, 'toggle': 'modal', 'target': '#inventory-item-modal' } do %><i class="fa fa-plus"></i> Add Item<% end %>
  </div>
  <div class="col-md-1 text-right">
    <%= link_to bulk_upload_data_inventory_items_path, class: 'btn btn-primary', data: { remote: true, 'toggle': 'modal', 'target': '#bulk-upload-item-modal' } do %><i class="fa fa-plus"></i> Bulk Upload<% end %>
  </div>
  <div class="col-md-1 text-right">
    
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12 panel-body">
    <% if @items.count > 0 %>
      <table id="manage_inventory_items_table" class="table table-primary table-bordered">
        <thead>
        <th>Item Code</th>
        <th>Description</th>
        <th>Category</th>
        <th>Sub Category</th>
        <th>HSN</th>
        <th>Tax</th>
        <!-- <th>Stock</th> -->
        <th class="text-center">Actions</th>
        </thead>
        <tbody id="item_master-list">

        <% @items.each do |item| %>
          <% visibility = item.is_deleted ? 'visibility: hidden;' : 'visibility: visible' %>
          <tr class="each-contact-table-row item_master_tr">
            <td>
              <b class="item_code" style="color:#000;"><%= item.try(:item_code) %></b>
            </td>

            <td>
              <b class="item_description" style="color:#000;"><%= item.try(:description) %></b>
            </td>
            <td>
              <b class="item_category_data" style="color:#000;"><%= item.category %></b>
            </td>
            <td>
              <b class="item_sub_category_data" style="color:#000;"><%= item.sub_category_name %></b>
            </td>
            <td>
              <b class="item_hsn" style="color:#000;"><%=  item.try(:hsn_no) %></b>
            </td>
            <td>
              <b class="item_tax" style="color:#000;"><%= item.try(:tax_rate) %></b>
            </td>

            <!-- <td>
              <b class="item_stock" style="color:#000;"><%= item.try(:stock) %></b>
            </td> -->

            <td>
              <table style="width: 100%;">
                <%= link_to edit_inventory_item_path(id: item.id), id: 'edit_inventory_item', data: { remote: true, 'toggle': "modal", 'target': '#edit-inventory-item' }, class: 'btn btn-primary btn-xs' do %><i class="fa fa-edit"></i> Edit<% end %>
              </table>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="col-md-12 text-center mt10">
        No Items to Show.
      </div>
    <% end %>
  </div>
</div>

<style>
  #confirmation-modal a{
    display: inline-block !important;
  }
  .row-container{
    height: 25px;
  }
</style>


<script type="text/javascript">
  $(".search-item-master").on('keyup', function(){
    item_list = $(".item_master_tr");
    item_list_count = item_list.length;
    search = $(this).val().toUpperCase().trim();
    counter = 0
    for (var i = item_list.length - 1; i >= 0; i--) {
      item_code = $(item_list[i]).find(".item_code")
      item_name = $(item_list[i]).find(".item_description")
      item_category_data = $(item_list[i]).find(".item_category_data")
      item_sub_category_data = $(item_list[i]).find(".item_sub_category_data")
      item_hsn = $(item_list[i]).find(".item_hsn")
      item_tax = $(item_list[i]).find(".item_tax")
      if($(item_name).html().toUpperCase().indexOf(search) > -1 || $(item_code).html().toUpperCase().indexOf(search) > -1 || $(item_category_data).html().toUpperCase().indexOf(search) > -1 || $(item_sub_category_data).html().toUpperCase().indexOf(search) > -1 || $(item_hsn).html().toUpperCase().indexOf(search) > -1 || $(item_tax).html().toUpperCase().indexOf(search) > -1) {
        $(item_list[i]).css("display", "");
      } else {
        $(item_list[i]).css("display", "None");
        counter += 1
      }
    }

    if(item_list_count == counter){
      if($(".show-nothing").length <= 0){
        $("#item_master-list").append(`<tr class="show-nothing"><td class="text-center" colspan="5">Nothing to Show</td></tr>`)
      }
    } else {
      $(".show-nothing").remove();
    }
  })
</script>
