<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<%= form_tag "/inventory/checkout.js", :method => :post, :remote => true, :id => 'formCheckoutDetails', :class => 'form'  do  %>

    <div class="modal-dialog modal-lg" id="modalCart">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Cart</h4>
    </div>
    <div id="cart-modal-body" class="modal-body">


      <div class="modal-body" style="min-height:400px;">




            <%= hidden_field_tag :items ,@items,class: 'form-control',placeholder: ""%>

            <div class="form-group">
              <label for="" class="col-sm-3 control-label">Recipient</label>
              <div class="col-sm-7">
                <%= text_field_tag :recipient ,"",class: 'form-control',placeholder: ""%>
              </div>
            </div>


            <div class="form-group">
              <label for="" class="col-sm-3 control-label">Department</label>
              <div class="col-sm-7">
                <div id="checkout-department-container">

                  <%= select_tag :department, options_for_select(@department_array), { :class => 'form-control dispensing-unit-dd'} %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-sm-3 control-label">Authorizing Person</label>
              <div class="col-sm-7">
                <%= text_field_tag :authorized_by ,"",class: 'form-control',placeholder: ""%>
              </div>
            </div>





      </div>



    </div>
    <div class="modal-footer" id="cart-modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel Adding Item</button>
      <%= submit_tag("Checkout",{:class=>"btn btn-success", :onclick => 'checkoutCart_page()'}) %>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<% end %>

<style>
  input.error, select.error {
    border-color: #b94a48;
    background-image: none;
  }
  input.valid, select.valid {
    border-color: #468847;
    background-image: none;
  }
</style>