  <div class="modal-dialog modal-lg modal_checkout" id="modalCart">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Cart</h4>
      </div>
      <div id="cart-modal-body" class="modal-body">
        <div class="modal-body" style="min-height:400px;">
          <div class="col-lg-12" id="">
            <table class="table">
              <thead>
              <tr>
                <td>Item Code</td>
                <td>Description</td>
                <td>Expiry Date</td>
                <td class="">MRP</td>
                <td class="">Selling Price</td>
                <td>Current Stock</td>
                <td> Items(quantity)</td>
                <td>Action</td>
              </tr>
              </thead>
              <tbody id="cart-item-list">
              <% @inventory_item_cart.each do |item| %>
                <tr>
                  <td><%= item.item_code %></td>
                  <td><%= item.description %></td>
                  <%item_oldest_lots= item.lots.where('stock' => {'$gte' => 1},is_deleted: false).order(created_at: "ASC")[0]%>
                  <% if item_oldest_lots.try(:expiry) %>
                      <td><%= item_oldest_lots.expiry %></td>
                  <% else %>
                      <td>NA</td>
                  <% end %>
                  <% if item_oldest_lots.try(:mrp) %>
                      <td class="">&#x20B9 <%= item_oldest_lots.mrp.round(2) %></td>
                  <% else %>
                      <td class="">NA</td>
                  <% end %>
                  <% if item_oldest_lots.try(:list_price) %>
                    <td class="">&#x20B9 <%= item_oldest_lots.list_price.round(2) %></td>
                  <% else %>
                    <td class="">NA</td>
                  <% end %>
                  <% if item.stock %>
                      <td class="item_current_stock"><%= item.stock %></td>
                  <% else %>
                      <td class="item_current_stock">0 or NA</td>
                  <% end %>

                  <td class="text-center">
                    <div class="input-group text-center">
                      <button class="btn btn-xs btnDecrementNumbers"><i id="" data-model="<%= item.id %>" class="fa fa-minus-circle cursor-pointer "></i></button>&nbsp;
                      <input type="number" data-model="<%= item.id %>" data-sell="<%= item_oldest_lots.list_price.round(2) %>" data-mrp="<%= item_oldest_lots.mrp.round(2) %>" class="text-center item_numbers" id="" placeholder="" data-validation="required" data-validation-allowing="range[1;<%= item.stock %>]" value="1" style="width:65px; margin-left: 3px; margin-right: 3px;">&nbsp;
                      <button class="btn btn-xs btnIncrementNumbers"><i id="" data-model="<%= item.id %>" class="fa fa-plus-circle cursor-pointer"></i></button>
                    </div>
                  </td>
                  <td><a href="/inventory/items/remove_from_cart?item_id=<%=item.id%>&in_cart=false" data-remote="true" style="" class="btn btn-danger btn-xs verified_item_remove" id="" title="Are you sure ?"> <i class="fa fa-trash-alt"></i></a></td>
                </tr>
              <%end%>
              </tbody>
              <tbody>
              <tr style="border-top: 1px dashed #888;">
                <td></td>
                <td></td>
                <td><b>Total -</b></td>
                <td class=""><b>&#x20B9 <span id="cart-total-price">0</span></b></td>
                <td class="selling_price_cart"><b>&#x20B9 </b></td>
                <td class="text-center"><b><span id="cart-total-items" style="margin-right: 60px;">0</span></b></td>
                <td><a href="/inventory/items/remove_from_cart?item_id=all&in_cart=false" data-remote="true" style="" class="btn btn-danger btn-xs verified_item_remove_all" id="" title="Are you sure ?"> <i class="fa fa-trash-alt"></i></a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer" id="cart-modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel Adding Item</button>
        <button type="button" id="btnProceedCheckingOut" class="btn btn-primary">Proceed to Checkout</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
<style>
.modal_checkout {
  width: 1000px;
}
</style>
