<div class="row">
    <div class="col-ms-12 col-sm-12 col-xs-12">
        <div class="pdf_format">
            <div class="inventory_items">
                <table class="table-kumar">
                    <thead>
                        <tr class='thead-fixable'  style="border-bottom: 1px solid #ccc;">
                            <td class='col-md-2 thead-fix'>Item Code</td>
                            <!-- <td class='thead-fix'>Category</td> -->
                            <td class='col-md-2 thead-fix'>Description</td>
                            <td class='col-md-1 thead-fix'>Dosage</td>
                            <td class='col-md-1 thead-fix'>Dispensing Unit</td>
                            <td class='col-md-1 thead-fix'>Unit/Pack</td>
                            <td class='col-md-2 thead-fix'>Selling Price</td>
                            <td class='col-md-1 thead-fix'>Stock</td>
                            <td class='col-md-2 thead-fix'>Expiry Date</td>
                        </tr>
                    </thead>
                    <tbody id="inventory_items">
                        <% @items.each do |item| %>
                            <tr style="border-bottom: 1px dashed #ebebeb; ">
                                <td><%= item.item_code %></td>
                                <td><%= item.description %></td>
                                <td><%= item.dosage %></td>
                                <td><%= item.dispensing_unit %></td>
                                <td><%= item.sub_units %></td>
                                <%item_oldest_lots= item.lots.where('stock' => {'$gte' => 1},is_deleted: false).order(created_at: "ASC")[0]%>
                                <% if item_oldest_lots.try(:list_price) %>
                                    <td class="">&#x20B9 <%= item_oldest_lots.list_price.round(2) %></td>
                                <% else %>
                                    <td class="">NA</td>
                                <% end %>
                                <td><%= item.stock %></td>
                                <% if item_oldest_lots.try(:expiry) %>
                                    <td><%= item_oldest_lots.expiry %></td>
                                <% else %>
                                    <td>NA</td>
                                <% end %>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
*
{
    box-sizing: border-box;
}
  body{
    font-family: monospace;
    font-size: 12px;
    color: #898989;
    font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
}
  }

  .table-kumar{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0px;
    <%# width: 100%;
     overflow: visible !important; %>
  }
  .table-kumar td{
    border: 1px solid;
    padding: 8px;
    <%# padding: 0 5px 0 5px;
     overflow: visible !important; %>
  }
  .table-kumar thead { display: table-row-group; }

  .table-kumar tr {page-break-inside: avoid; border: 1px dashed #ebebeb; }
  @media print {
    .table-kumar {
        overflow: visible !important;
    }
}
</style>