<div class="row">
    <div class="col-ms-12 col-sm-12 col-xs-12">
        <div class="pdf_format">
            <div class="inventory_items">
                <table class="table-kumar">
                    <thead>
                    <tr class='thead-fixable'>
                        <td class='col-md-2 thead-fix'>Item Code</td>
                        <td class='col-md-2 thead-fix'>Description</td>
                        <td class='col-md-1 thead-fix'>Brand</td>
                        <td class='col-md-2 thead-fix'>Pricing Index</td>
                        <td class='col-md-1 thead-fix'>Gender</td>

                        <td class='col-md-2 thead-fix text-right'>Selling Price</td>
                        <td class='col-md-2 thead-fix'>Stock</td>
                        
                    </tr>
                    </thead>
                    <tbody id="inventory_items">
                        <% @items.each do |item| %>
                            <tr>
                                <td><%= item.item_code %></td>
                                <td><%= item.description %></td>
                                <td><%= item.try(:brand) %></td>
                                <td><%= item.try(:pricing_index) %></td>
                                <td><%= item.try(:gender) %></td>
                                <%item_oldest_lots= item.lots.where('stock' => {'$gte' => 1},is_deleted: false).order(created_at: "ASC")[0]%>
                                <% if item_oldest_lots.try(:list_price) %>
                                    <td class="text-right">&#x20B9 <%= item_oldest_lots.list_price.round(2) %></td>
                                <% else %>
                                    <td class="text-right">NA</td>
                                <% end %>
                                <td><%= item.stock %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>         
<style type="text/css">
*
{
    box-sizing: border-box;
}
  body{
    font-family: monospace;
    font-size: 12px;
    color: #898989;
    font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
}
  }

  .table-kumar{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0px;
    <%# width: 100%;
     overflow: visible !important; %>
  }
  .table-kumar td{
    border: 1px solid;
    padding: 8px;
    <%# padding: 0 5px 0 5px;
     overflow: visible !important; %>
  }
  .table-kumar thead { display: table-row-group; }

  .table-kumar tr {page-break-inside: avoid; border: 1px dashed #ebebeb; }
  @media print {
    .table-kumar {
        overflow: visible !important;
    }
}   