<style type="text/css">
  h5.subtitle.mb5{
    font-size: 12px;
  }
</style>
<div class="row">
  
  <div class="col-md-4">
    <%= render partial: "analytics/partials/facility_wise_doctor_laboratory_investigations" %>
  </div>

  <div class="col-md-4 laboratory_investigations_chart">
    <%= render partial: "analytics/partials/doctor_laboratory_investigation_data" %>
  </div>

  <div class="col-md-4">
    <%= render partial: "analytics/partials/top_ten_doctor_laboratory_investigations" %>
  </div>

  <div class="col-md-4 age_wise_laboratory_investigations_chart">
    <%= render partial: "analytics/partials/age_wise_doctor_laboratory_investigations_data" %>
  </div>

  <div class="col-md-4">
    <%= render partial: "analytics/partials/facility_wise_doctor_radiology_investigations" %>
  </div>
  
  <div class="col-md-4">
    <%= render partial: "analytics/partials/top_ten_doctor_radiology_investigations" %>
  </div>

  <div class="col-md-4 radiology_investigations_chart">
      <%= render partial: "analytics/partials/radiology_doctor_investigation_data" %>
  </div>
 
  <div class="col-md-4 age_wise_radiology_investigations_chart">
    <%= render partial: "analytics/partials/age_wise_doctor_radiology_investigations_data" %>
  </div>

  <% if @specialty_id == '309988001' || (@current_user.specialty_ids.include?('309988001') && @specialty_id == 'all') %>
    <div class="col-md-4">
      <%= render partial: "analytics/partials/facility_wise_doctor_ophthal_investigations" %>
    </div>

    <div class="col-md-4">
      <%= render partial: "analytics/partials/top_ten_doctor_ophthal_investigations" %>
    </div>

    <div class="col-md-4 ophthal_investigations_chart_doctor">
      <%= render partial: "analytics/partials/ophthal_doctor_investigation_data" %>
    </div>
    
    <div class="col-md-4 age_wise_ophthal_investigations_chart_doctor">
      <%= render partial: "analytics/partials/age_wise_doctor_ophthal_investigations_data" %>
    </div>
  <% end %>

</div>


  <!-- <div class="col-md-12"> -->
    <%#= render partial: "analytics/partials/investigation_history_data" %>
  <!-- </div> -->