<style type="text/css">
  h5.subtitle.mb5{
    font-size: 12px;
  }
</style>

<div class="row tile_count">
  <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
    <div class="panel_h">
      <div class="count_top title_h">Total Diagnosis</div>
      <span class="count ">
        <%= @total_diagnosis.to_i %>
      </span>
    </div>
  </div>

  <% if @specialty_id == '309988001' || (@current_user.specialty_ids.include?('309988001') && @specialty_id == 'all') %>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head">
      <div class="panel_h">
        <div class="count_top title_h">Total Procedures </div>
        <span class="count_earning"> <%= @total_procedure.to_i %></span>
      </div>
    </div>
  <% end %>

  <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
    <div class="panel_h">
      <div class="count_top title_h">Total Laboratory</div>
      <span class="count green">
        <%= @total_laboratory_investigations_list.to_i %>
      </span>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
    <div class="panel_h">
      <div class="count_top title_h">Total Radiology</div>
      <span class="count green">
        <%= @total_radiology_investigations_list.to_i %>
      </span>
    </div>
  </div>

  <% if @specialty_id == '309988001' || (@current_user.specialty_ids.include?('309988001') && @specialty_id == 'all') %>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
      <div class="panel_h">
        <div class="count_top title_h">Total Ophthal Investigation</div>
        <span class="count">
          <%= @total_ophthal_investigations_list.to_i %>
        </span>
      </div>
    </div>
  <% end %>
  </div>

<div class="row">
  <div class="col-md-4 col-sm-4">
    <%= render partial: '/analytics/partials/top_ten_diagnosis' %>
  </div>
  <% if @specialty_id == '309988001' || (@current_user.specialty_ids.include?('309988001') && @specialty_id == 'all') %>
    <div class="col-md-4 col-sm-4">
      <%= render partial: '/analytics/partials/top_ten_procedure' %>
    </div>
  <% end %>
  <div class="col-md-4 col-sm-4">
    <%= render partial: "analytics/partials/top_ten_laboratory_investigations" %>
  </div>
  <% if @specialty_id == '309988001' || (@current_user.specialty_ids.include?('309988001') && @specialty_id == 'all') %>
    </div>
    <div class="row">
  <% end %>
  <% if @specialty_id == '309988001' || (@current_user.specialty_ids.include?('309988001') && @specialty_id == 'all') %>
    <div class="col-md-2 col-sm-2"></div>
    <div class="col-md-4 col-sm-4">
      <%= render partial: "analytics/partials/top_ten_ophthal_investigations" %>
    </div>
  <% end %>
  <div class="col-md-4 col-sm-4">
    <%= render partial: "analytics/partials/top_ten_radiology_investigations" %>
  </div>
</div>

<script type="text/javascript">
  window.counting_animation()
</script>