<div class="row">
  <div class="col-md-6" id="patient_history_data">
    <%= render partial: "analytics/partials/patients_history_data" %>
  </div>
  <div class="col-md-6" id="patient_allergy_data">
   <%= render partial: "analytics/partials/patients_allergy_data" %>
  </div>
 
</div>
<div class="row">
  <div class="col-md-6">
    <%= render partial: "analytics/partials/patients_history_top5_data" %>
  </div>
  <div class="col-md-6  ">
   <%= render partial: "analytics/partials/patients_allergy_top5_data" %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render partial: "analytics/partials/patients_history_all" %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render partial: "analytics/partials/patients_allergy_all" %>
  </div>
</div>