<div class="col-md-12 r-refraction-column questionsforrefraction" id="r-questionsforrefraction">
  <strong class="col-md-3 ">
    <row class="col-md-12 badge badge-eye-template-labels"><%= elem["investigationname"] %></row>
  </strong>
  <div class="col-md-12 r-answersforrefraction">
    <% if elem['investigationside']=='40638003'%>
        <div class="col-md-6">
          <table class="table table-bordered">
            <thead>
            <tr class="success">
              <th style="padding-top:0px;padding-bottom:0px;">L Eye Detail</th>
              <th style="padding-top:0px;padding-bottom:0px;">Date Performed</th>
              <th style="padding-top:0px;padding-bottom:0px;">Value</th>
              <th style="padding-top:0px;padding-bottom:0px;">Link to Images</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                Axial Length
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">

                <%= text_field_tag "ophthal_investigations[#{i}][l_a_scan_axial_length_date_performed]",elem["findings"]["l_a_scan_axial_length_date_performed"], :class => "form-control"%>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag "ophthal_investigations[#{i}][l_a_scan_axial_length_value]",elem["findings"]["l_a_scan_axial_length_value"], :class => "form-control"%>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag "ophthal_investigations[#{i}][l_a_scan_axial_length_link_to_image]",elem["findings"]["l_a_scan_axial_length_link_to_image"], :class => "form-control" %>
              </td>
            </tr>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                IOL Power
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag "ophthal_investigations[#{i}][l_a_scan_iol_power_date_performed]",elem["findings"]["l_a_scan_iol_power_date_performed"], :class => "form-control"%>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag "ophthal_investigations[#{i}][l_a_scan_iol_power_value]",elem["findings"]["l_a_scan_iol_power_value"], :class => "form-control" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag "ophthal_investigations[#{i}][l_a_scan_iol_power_link_to_image]",elem["findings"]["l_a_scan_iol_power_link_to_image"], :class => "form-control" %>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <td colspan="4">
              <%= text_area_tag "ophthal_investigations[#{i}][l_a_scan_comment_text]" ,elem["findings"]["l_a_scan_comment_text"],class: 'form-control'%>
            </td>
            </tfoot>
          </table>
          <div>
          </div>
        </div>

        <div class="col-md-6">
          <table class="table table-bordered">
            <thead>
            <tr class="success">
              <th style="padding-top:0px;padding-bottom:0px;">R Eye Detail</th>
              <th style="padding-top:0px;padding-bottom:0px;">Date Performed</th>
              <th style="padding-top:0px;padding-bottom:0px;">Value</th>
              <th style="padding-top:0px;padding-bottom:0px;">Link to Images</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                Axial Length
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag "ophthal_investigations[#{i}][r_a_scan_axial_length_date_performed]" ,elem["findings"]["r_a_scan_axial_length_date_performed"], :class => "form-control"%>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag "ophthal_investigations[#{i}][r_a_scan_axial_length_value]" ,elem["findings"]["r_a_scan_axial_length_value"], :class => "form-control" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag "ophthal_investigations[#{i}][r_a_scan_axial_length_link_to_image]" ,elem["findings"]["r_a_scan_axial_length_link_to_image"], :class => "form-control" %>
              </td>
            </tr>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                IOL Power
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag "ophthal_investigations[#{i}][r_a_scan_iol_power_date_performed]" ,elem["findings"]["r_a_scan_iol_power_date_performed"], :class => "form-control " %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag "ophthal_investigations[#{i}][r_a_scan_iol_power_value]" ,elem["findings"]["r_a_scan_iol_power_value"], :class => "form-control " %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag "ophthal_investigations[#{i}][r_a_scan_iol_power_link_to_image]" ,elem["findings"]["r_a_scan_iol_power_link_to_image"], :class => "form-control " %>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <td colspan="4">
              <%= text_area_tag "ophthal_investigations[#{i}][r_a_scan_comment_text]" ,elem["findings"]["r_a_scan_comment_text"],class: 'form-control'%>
            </td>
            </tfoot>
          </table>
        </div>

    <%else%>
        <div class="col-md-6 col-md-offset-3">
          <table class="table table-bordered ">
            <thead>
            <tr class="success">
              <th style="padding-top:0px;padding-bottom:0px;"><%= opdrecord.get_label_for_ophthalinvestigations_side(elem['investigationside']) %> Eye Detail</th>
              <th style="padding-top:0px;padding-bottom:0px;">Date Performed</th>
              <th style="padding-top:0px;padding-bottom:0px;">Value</th>
              <th style="padding-top:0px;padding-bottom:0px;">Link to Images</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                Axial Length
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag "ophthal_investigations[#{i}][a_scan_axial_length_date_performed]" ,elem["findings"]["a_scan_axial_length_date_performed"], :class => "form-control " %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag "ophthal_investigations[#{i}][a_scan_axial_length_value]" ,elem["findings"]["a_scan_axial_length_value"], :class => "form-control" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag "ophthal_investigations[#{i}][a_scan_axial_length_link_to_image]" ,elem["findings"]["a_scan_axial_length_link_to_image"], :class => "form-control"%>
              </td>
            </tr>
            <tr>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                IOL Power
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag "ophthal_investigations[#{i}][a_scan_iol_power_date_performed]" ,elem["findings"]["a_scan_iol_power_date_performed"], :class => "form-control" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag "ophthal_investigations[#{i}][a_scan_iol_power_value]" ,elem["findings"]["a_scan_iol_power_value"], :class => "form-control" %>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%= text_field_tag "ophthal_investigations[#{i}][a_scan_iol_power_link_to_image]" ,elem["findings"]["a_scan_iol_power_link_to_image"], :class => "form-control" %>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <td colspan="4">
              <%= text_area_tag "ophthal_investigations[#{i}][a_scan_comment_text]" ,elem["findings"]["a_scan_comment_text"],class: 'form-control'%>
            </td>
            </tfoot>
          </table>
        </div>
    <%end%>
  </div>
</div>