<strong class="col-md-3 ">
  <row class="col-md-12"><h4><%= elem["investigationname"] %></h4></row>
</strong>
<br>
<%= hidden_field_tag "investigation_id[#{i}]", elem['investigation_id']%>
<%= hidden_field_tag "investigationside[#{i}]" , elem['investigationside'] %>
<div class="col-md-12">
  <% if elem['investigationside']=='40638003'%>
      <div class="col-md-6">
        <div style="text-align: center"><strong class="label label-primary">OD/R Eye:</strong></div>
        <div class="row col-md-12">
          <span class="col-md-2" style="padding:2px;">
            <strong>GHT</strong>
          </span>
          <span class="col-md-2" style="padding:2px;">
            <%= text_field_tag "ophthal_investigations[#{i}][r_perimetry_ght_value]" ,elem["findings"]["r_perimetry_ght_value"], :class => "form-control input-sm findings-text-input" %>
          </span>
          <span class="col-md-2" style="padding:2px;">
            <strong>MD</strong>
          </span>
          <span class="col-md-2 " style="padding:2px;">
            <%= text_field_tag "ophthal_investigations[#{i}][r_perimetry_md_value]" ,elem["findings"]["r_perimetry_md_value"], :class => "form-control input-sm findings-text-input" %>
          </span>
          <span class="col-md-2" style="padding:2px;">
            <strong>PSD</strong>
          </span>
          <span class="col-md-2 " style="padding:2px;">
            <%= text_field_tag "ophthal_investigations[#{i}][r_perimetry_psd_value]" ,elem["findings"]["r_perimetry_psd_value"], :class => "form-control input-sm findings-text-input" %>
          </span>
        </div>


        <div class="row col-md-12">
          <span class="col-md-2" style="padding:0px;"><strong>Comment</strong></span>
          <span class="col-md-10" style="padding:0px;">
            <%= text_area_tag "ophthal_investigations[#{i}][r_perimetry_comment_text]" ,elem["findings"]["r_perimetry_comment_text"],class: 'form-control input-sm findings-text-input'%>
          </span>
        </div>

        <div class="row col-md-12">
          <span class="col-md-2" style="padding:0px;"><strong>Perf D&T</strong></span>
          <span class="col-md-3" style="padding:0px;">
            <% if elem["findings"]["r_perimetry_date_performed"] != "" && elem["findings"] != ""%>
              <%= text_field_tag "ophthal_investigations[#{i}][r_perimetry_date_performed]" ,elem["findings"]["r_perimetry_date_performed"], :class => "form-control input-sm findings-text-input investigation-datepicker-inline"%>
            <%else%>
              <%= text_field_tag "ophthal_investigations[#{i}][r_perimetry_date_performed]" ,Date.current.strftime("%d/%m/%Y"), :class => "form-control input-sm findings-text-input investigation-datepicker-inline"%>
            <%end%>
          </span>
          <span class="col-md-2 col-md-offset-2" style="padding:0px;"><strong>Image</strong></span>
          <span class="col-md-2 btn btn-xs btn-file" style="padding:0px;">Browse<%= file_field_tag "investigation[#{i}][r_image]", :class => "form-control input-sm findings-text-input", multipart: true %></span>
          <div class="btn btn-success btn-xs col-md-1 small-text-input-btn save_photo" id="save_photo<%=i%>_r"><i class="fa fa-life-saver"></i></div>
        </div>
        <%= hidden_field_tag "eye_side[#{i}]_r" , "R" %>
      </div>
      <div class="col-md-6">
        <div style="text-align: center"><strong class="label label-primary">OS/L Eye:</strong></div>

        <div class="row col-md-12">
          <span class="col-md-2" style="padding:2px;">
            <strong>GHT</strong>
          </span>
          <span class="col-md-2" style="padding:2px;">
            <%= text_field_tag "ophthal_investigations[#{i}][l_perimetry_ght_value]" ,elem["findings"]["l_perimetry_ght_value"], :class => "form-control input-sm findings-text-input" %>
          </span>
          <span class="col-md-2" style="padding:2px;">
            <strong>MD</strong>
          </span>
          <span class="col-md-2 " style="padding:2px;">
            <%= text_field_tag "ophthal_investigations[#{i}][l_perimetry_md_value]" ,elem["findings"]["l_perimetry_md_value"], :class => "form-control input-sm findings-text-input" %>
          </span>
          <span class="col-md-2" style="padding:2px;">
            <strong>PSD</strong>
          </span>
          <span class="col-md-2" style="padding:2px;">
            <%= text_field_tag "ophthal_investigations[#{i}][l_perimetry_psd_value]" ,elem["findings"]["l_perimetry_psd_value"], :class => "form-control input-sm findings-text-input" %>
          </span>
        </div>

        <div class="row col-md-12">
          <span class="col-md-2" style="padding:0px;"><strong>Comment</strong></span>
          <span class="col-md-10" style="padding:0px;">
            <%= text_area_tag "ophthal_investigations[#{i}][l_perimetry_comment_text]" ,elem["findings"]["l_perimetry_comment_text"],class: 'form-control input-sm findings-text-input'%>
          </span>
        </div>

        <div class="row col-md-12">
          <span class="col-md-2" style="padding:0px;"><strong>Perf D&T</strong></span>
          <span class="col-md-3" style="padding:0px;">
            <% if elem["findings"]["l_perimetry_date_performed"] != "" && elem["findings"] != ""%>
                <%= text_field_tag "ophthal_investigations[#{i}][l_perimetry_date_performed]" ,elem["findings"]["l_perimetry_date_performed"], :class => "form-control input-sm findings-text-input investigation-datepicker-inline"%>
            <%else%>
                <%= text_field_tag "ophthal_investigations[#{i}][l_perimetry_date_performed]" ,Date.current.strftime("%d/%m/%Y"), :class => "form-control input-sm findings-text-input investigation-datepicker-inline"%>
            <%end%>
          </span>
          <span class="col-md-2 col-md-offset-2" style="padding:0px;"><strong>Image</strong></span>
          <span class="col-md-2 btn btn-xs btn-file" style="padding:0px;">Browse<%= file_field_tag "investigation[#{i}][l_image]", :class => "form-control", multipart: true %></span>
          <div class="btn btn-success btn-xs col-md-1 small-text-input-btn save_photo" id="save_photo<%=i%>_l"><i class="fa fa-life-saver"></i></div>
        </div>
        <%= hidden_field_tag "eye_side[#{i}]_l" , "L" %>
      </div>

  <%else%>
      <div class="col-md-6 col-md-offset-3">
        <div style="text-align: center"><strong class="label label-primary">OS/<%= opdrecord.get_label_for_ophthalinvestigations_side(elem['investigationside']) %> Eye:</strong></div>
        <div class="row col-md-12">
          <span class="col-md-2" style="padding:2px;">
            <strong>GHT</strong>
          </span>
          <span class="col-md-2" style="padding:2px;">
            <%= text_field_tag "ophthal_investigations[#{i}][perimetry_ght_value]" ,elem["findings"]["perimetry_ght_value"], :class => "form-control input-sm findings-text-input" %>
          </span>
          <span class="col-md-2" style="padding:2px;">
            <strong>MD</strong>
          </span>
          <span class="col-md-2" style="padding:2px;">
            <%= text_field_tag "ophthal_investigations[#{i}][perimetry_md_value]" ,elem["findings"]["perimetry_md_value"], :class => "form-control input-sm findings-text-input" %>
          </span>
          <span class="col-md-2" style="padding:2px;">
            <strong>PSD</strong>
          </span>
          <span class="col-md-2 " style="padding:2px;">
            <%= text_field_tag "ophthal_investigations[#{i}][perimetry_psd_value]" ,elem["findings"]["perimetry_psd_value"], :class => "form-control input-sm findings-text-input" %>
          </span>
        </div>
        <div class="row col-md-12">
          <span class="col-md-2" style="padding:0px;"><strong>Comment</strong></span>
          <span class="col-md-10" style="padding:0px;">
            <%= text_area_tag "ophthal_investigations[#{i}][perimetry_comment_text]" ,elem["findings"]["perimetry_comment_text"],class: 'form-control input-sm findings-text-input'%>
          </span>
        </div>
        <div class="row col-md-12">
          <span class="col-md-2" style="padding:0px;"><strong>Perf D&T</strong></span>
          <span class="col-md-3" style="padding:0px;">
            <% if elem["findings"]["perimetry_date_performed"] != "" && elem["findings"] != ""%>
                <%= text_field_tag "ophthal_investigations[#{i}][perimetry_date_performed]" ,elem["findings"]["perimetry_date_performed"], :class => "form-control input-sm findings-text-input investigation-datepicker-inline"%>
            <%else%>
                <%= text_field_tag "ophthal_investigations[#{i}][perimetry_date_performed]" ,Date.current.strftime("%d/%m/%Y"), :class => "form-control input-sm findings-text-input investigation-datepicker-inline"%>
            <%end%>
          </span>
          <span class="col-md-2 col-md-offset-2" style="padding:0px;"><strong>Image</strong></span>
          <span class="col-md-2 btn btn-xs btn-file" style="padding:0px;">Browse<%= file_field_tag "investigation[#{i}][image]", :class => "form-control" , multipart: true%></span>
          <div class="btn btn-success btn-xs col-md-1 small-text-input-btn save_photo" id="save_photo<%=i%>"><i class="fa fa-life-saver"></i></div>
        </div>
        <%= hidden_field_tag "eye_side[#{i}]" , opdrecord.get_label_for_ophthalinvestigations_side(elem['investigationside']) %>
      </div>
  <%end%>
</div>
