<div class="row">
  <div class="col-md-12">
    <b>Existing Areas List</b>
  </div>
  <div id="area-view-list">
    <% @areas.each_with_index do |area, i| %>
      <div class="col-sm-4 area-view-<%= area.id %> area-view-height">
        <li>
          <span class="area-view-name"><%= area.name %></span>
          <button class="btn btn-link btn-edit-area btn-xs" data-area-name='<%= area.name %>' data-area-id='<%= area.id %>' data-station='<%= !area.stations.empty? %>'>
            <i class="fa fa-edit"></i>
          </button>
          <% if area.stations.empty? %>
            <%= link_to queue_management_area_path(id: area.id), method: :delete, remote: true, class: 'btn btn-link btn-xs btn-delete-area' do %>
              <i class="fa fa-trash"></i>
            <% end %>
          <% end %>
        </li>
      </div>
    <% end %>
  </div>

  <% if @areas.count <= 0 %>
    <div class="col-sm-12 text-center area-explaination">
      <span>
        Seems like there are no "Areas" created for this facility.<br>
        "Area/Zone" are required in facility to tie all Stations falling under it.
      </span>
    </div>
  <% end %>
</div>
