$("#area-view-list").append(`
  <div class="col-sm-4 area-view-<%= @area.id %> area-view-height">
    <li>
      <span class="area-view-name"><%= @area.name %></span>
      <button class="btn btn-link btn-edit-area btn-xs" data-area-name='<%= @area.name %>' data-area-id='<%= @area.id %>'>
        <i class="fa fa-edit"></i>
      </button>
      <%= link_to queue_management_area_path(id: @area.id), method: :delete, remote: true, class: 'btn btn-link btn-xs btn-delete-area' do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </li>
  </div>
`)
$('#area_name').val('')
$('.area-explaination').remove();
