<div class="delivery-terms-section row col-md-12">
  <% if @purchase_order.delivery_terms.present? %>
  <% @purchase_order.delivery_terms.each_with_index do |term, index| %>
    <div class="delivery-terms-row col-sm-10" style="margin-top: 5px;">
      <div class="col-md-5">
        <%= select_tag "#{model_name}"+"[delivery_terms][][_id]", options_for_select(@delivery_terms, term['_id']), class: 'delivery-term-class form-control p5_10', include_blank: true,style: "background-image: none;" %>
        <%= hidden_field_tag "#{model_name}"+"[delivery_terms][][description]", term['description'], class: 'delivery_terms_description' %>
      </div>
      <div class="col-md-5">
        <%= text_field_tag "#{model_name}"+"[delivery_terms][][comment]", term['comment'], class: 'delivery_terms_comment' %>
      </div>
      <div class="col-md-1" >
        <button class="btn btn-danger btn-xs btn-remove-delivery-terms" style="padding: 3px 10px;" id="first_delete_button">&times;</button>
      </div>
      <div class='delivery-terms-btn-container col-md-1'>
        <span class="btn btn-primary btn-xs btn-add-delivery-terms"><i class="fa fa-plus"></i></span>
      </div>
    </div>
  <% end %>
  <% else %>
    <div class="delivery-terms-row col-sm-10" style="margin-top: 5px;">
      <div class="col-md-5">
        <%= select_tag "#{model_name}"+"[delivery_terms][][_id]", options_for_select(@delivery_terms), class: 'delivery-term-class form-control p5_10', include_blank: true,style: "background-image: none;" %>
        <%= hidden_field_tag "#{model_name}"+"[delivery_terms][][description]", '', class: 'delivery_terms_description' %>
      </div>
      <div class="col-md-5">
        <%= text_field_tag "#{model_name}"+"[delivery_terms][][comment]", '', class: 'delivery_terms_comment' %>
      </div>
      <div class="col-md-1" >
        <button class="btn btn-danger btn-xs btn-remove-delivery-terms" style="padding: 3px 10px;" id="first_delete_button">&times;</button>
      </div>
      <div class='delivery-terms-btn-container col-md-1'>
        <span class="btn btn-primary btn-xs btn-add-delivery-terms"><i class="fa fa-plus"></i></span>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $('.btn-add-delivery-terms').on('click', function(e){
    e.preventDefault();
    add_delivery_terms()
  })

  function add_delivery_terms()
  {
    let counter = $('.delivery-terms-row').length
    $('.delivery-terms-btn-container').remove()
    $('.delivery-terms-section').append(`
      <div class="delivery-terms-row mb10 col-sm-10" style="margin-top: 1px;">
        <div class="col-md-5">
          <select class="delivery-term-class form-control p5_10" name="<%= model_name %>[delivery_terms][][_id]" id="i<%= model_name %>_delivery_terms_attributes_${counter}_id" style="background-image: none;">
            <option value=""></option>
            <% @delivery_terms.each do |ot| %>
              <option value="<%= ot[1] %>"><%= ot[0] %></option>
            <% end %>
          </select>
          <input type="hidden" name="<%= model_name %>[delivery_terms][][description]" class='delivery_terms_description' id="<%= model_name %>_delivery_terms_attributes_${counter}_name" style="background-image: none;">
        </div>
        <div class="col-md-5">
          <input type="text" name="<%= model_name %>[delivery_terms][][comment]" class='delivery_terms_comment' id="<%= model_name %>_delivery_terms_attributes_${counter}_name" style="background-image: none;">
        </div>
        <div class="col-md-1">
          <button class="btn btn-danger btn-xs btn-remove-delivery-terms" style="padding: 3px 10px;">&times;</button>
        </div>
        <div class='delivery-terms-btn-container col-md-1'>
          <span class="btn btn-primary btn-xs btn-add-item" onclick='add_delivery_terms()'><i class="fa fa-plus"></i></sapn>
        </div>
      </div>
    `)
  }

  $('.delivery-terms-section').on('click', '.btn-remove-delivery-terms', function(e){
    e.preventDefault();
    $(this).closest('.delivery-terms-row').remove();
    $('.delivery-terms-btn-container').remove()
    $(this).closest('.delivery-terms-row .error').remove()
    // calculate_total_charges()
    if ($('.delivery-terms-row').length == 0) {
      $('.delivery-terms-section').append(`
      <div class='delivery-terms-row mb10 col-sm-10'>
      </div>
    `)
    }
    $('.delivery-terms-section').append(`
      <div class="col-md-6"></div>
      <div class="col-md-1"></div>
      <div class='delivery-terms-btn-container col-md-1'>
        <span class="btn btn-primary btn-xs btn-add-item" onclick='add_delivery_terms()'><i class="fa fa-plus"></i></sapn>
      </div>
    `)

    renumberIndex($('.delivery-terms-row'), ['input', 'select'])
  })

  $('.delivery-terms-section').on('change', '.delivery-term-class', function(e) {
    e.preventDefault();
    let name = $('option:selected', this).text()
    $(this).closest('.delivery-terms-row').find('.delivery_terms_description').val(name)
  })
</script>