<% if @purchases.length > 0 %>
  <% @purchases.each do |purchase| %>
    <tr id="<%= purchase.id %>" class="inventory-list-row">
      <%# vendor_location =  Inventory::VendorLocation.find_by(id: purchase&.vendor_location_id)%>
      <td style="font-size: 10px; color: #17a08c;" class="col-md-3"><%= purchase.order_date_time&.strftime('%d-%m-%Y') %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= purchase.order_date_time&.strftime("%I:%M%p") %></td>
      <td style="font-size: 10px; color: #17a08c;" class="col-md-2 order-vendor" title="<%= purchase.vendor_location_address %>"><%= purchase.vendor_location_address %></td>
      <td class="col-md-3"><b><%= purchase.note.try(:capitalize) %></b></td>
      <%# store = Inventory::Store.find_by(id: purchase.store_id)%>
      <td class="col-md-2"><b><%= purchase.store_name %></b> </td> 
      <td class="col-md-2"><b><%= purchase.net_amount %></b> </td>
      <td class="col-md-2 order-status" title=<%= purchase.order_status %>><b><% if purchase.is_closed %><i class="fa fa-check"></i>&nbsp;<% else %><i class="fa fa-spinner"></i>&nbsp;<% end %> <%= purchase.order_status %></b> </td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td align="center"><strong style="font-size: 20px;">Nothing to Display</strong></td>
  </tr>
<% end %>
<style>
  .order-status, .order-vendor {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
</style>