<strong style="text-decoration: underline; color: #1E90FF;">Other Charges:</strong>
  <div class="other-charges-section row col-md-12">
    <% if @purchase_order.other_charges.present? %>
      <% @purchase_order.other_charges.each_with_index do |other_charge, index| %>
        <div class="other-charges-row mb10 col-sm-10">
          <div class="col-md-6">
            <%= select_tag "#{model_name}"+"[other_charges_attributes][#{index}][other_charge_id]", options_for_select(@other_charges, other_charge["other_charge_id"]), class: 'other_charge_id form-control p5_10', include_blank: true, required: true,style: "background-image: none;" %>
            <%= hidden_field_tag "#{model_name}"+"[other_charges_attributes][#{index}][name]", other_charge['name'], class: 'other_charge_name' %>
          </div>
          <div class="col-md-1" style="padding: 0">
            <%= number_field_tag "#{model_name}"+"[other_charges_attributes][#{index}][amount_show]", other_charge['amount'], class: 'other_charge_amount_show form-control p5_10', min: 0, required: true, placeholder: 'Price',style: "background-image: none;" %>
            <%= hidden_field_tag "#{model_name}"+"[other_charges_attributes][#{index}][amount]", other_charge['amount'], class: 'other_charge_amount' %>
          </div>
          <div class="col-md-1">
            <%= number_field_tag "#{model_name}"+"[other_charges_attributes][#{index}][percent]", other_charge['percent'], class: 'other_charge_amount_percent form-control p5_10', min: 0, placeholder: '%' %>
          </div>
          <div class="col-md-1" style="padding: 0">
            <%= text_field_tag '', other_charge['amount'], class: 'other_charge_net_amount_show form-control p5_10', min: 0, required: true, placeholder: 'Net', readonly: true,style: "background-image: none;" %>
            <%= hidden_field_tag "#{model_name}"+"[other_charges_attributes][#{index}][net_amount]", other_charge['net_amount'], class: 'other_charge_net_amount form-control p5_10', min: 0 %>
          </div>
          <div class="col-md-2">
            <button class="btn btn-default btn-xs other-charge-plus" style="padding: 3px 10px; <% if other_charge['net_amount'].to_f >= 0 %>background-color: blue; color: white;<% end %>" id=""><i class="fa fa-plus"></i></button>
            <button class="btn btn-default btn-xs other-charge-minus" style="padding: 3px 10px; <% if other_charge['net_amount'].to_f < 0 %>background-color: blue; color: white;<% end %>" id=""><i class="fa fa-minus"></i></button>
          </div>
          <div class="col-md-1" >
            <button class="btn btn-danger btn-xs btn-remove-item" style="padding: 3px 10px;" id="first_delete_button">&times;</button>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="other-charges-row mb10 col-sm-10">
        <div class="col-md-6">
          <%= select_tag "#{model_name}"+"[other_charges_attributes][0][other_charge_id]", options_for_select(@other_charges), class: 'other_charge_id form-control p5_10', include_blank: true, required: true,style: "background-image: none;" %>
          <%= hidden_field_tag "#{model_name}"+"[other_charges_attributes][0][name]", '', class: 'other_charge_name' %>
        </div>
        <div class="col-md-1" style="padding: 0">
          <%= number_field_tag "#{model_name}"+"[other_charges_attributes][0][amount_show]", '', class: 'other_charge_amount_show form-control p5_10', min: 0, required: true, placeholder: 'Price',style: "background-image: none;" %>
          <%= hidden_field_tag "#{model_name}"+"[other_charges_attributes][0][amount]", '', class: 'other_charge_amount' %>
        </div>
        <div class="col-md-1">
          <%= number_field_tag "#{model_name}"+"[other_charges_attributes][0][percent]", '', class: 'other_charge_amount_percent form-control p5_10', min: 0, placeholder: '%',style: "background-image: none;" %>
        </div>
        <div class="col-md-1" style="padding: 0">
          <%= text_field_tag '', '', class: 'other_charge_net_amount_show form-control p5_10', min: 0, required: true, placeholder: 'Net', readonly: true,style: "background-image: none;" %>
          <%= hidden_field_tag "#{model_name}"+"[other_charges_attributes][0][net_amount]", '', class: 'other_charge_net_amount form-control p5_10', min: 0 %>
        </div>
        <div class="col-md-2">
          <button class="btn btn-default btn-xs other-charge-plus" style="padding: 3px 10px; background-color: blue; color: white;" id=""><i class="fa fa-plus"></i></button>
          <button class="btn btn-default btn-xs other-charge-minus" style="padding: 3px 10px;" id=""><i class="fa fa-minus"></i></button>
        </div>
        <div class="col-md-1" >
          <button class="btn btn-danger btn-xs btn-remove-item" style="padding: 3px 10px;" id="first_delete_button">&times;</button>
        </div>
        <div class="other_charge_error" style="color:red;"></div>
      </div>
    <% end %>
    <div class='other-charges-btn-container col-md-1'>
      <span class="btn btn-primary btn-xs btn-add-item"><i class="fa fa-plus"></i></span>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.btn-add-item').on('click', function(e){
    e.preventDefault();
    add_other_charges()
  })

  function add_other_charges()
  {
    let counter = $('.other-charges-row').length
    $('.other-charges-btn-container').remove()
    $('.other-charges-section').append(`
      <div class="other-charges-row mb10 col-sm-10">
        <div class="col-md-6">
          <select class="other_charge_id form-control p5_10" name="<%= model_name %>[other_charges_attributes][${counter}][other_charge_id]" id="i<%= model_name %>_other_charges_attributes_${counter}_id" required="required" style="background-image: none;">
            <option value=""></option>
            <% @other_charges.each do |ot| %>
              <option value="<%= ot[1] %>"><%= ot[0] %></option>
            <% end %>
          </select>
          <input type="hidden" name="<%= model_name %>[other_charges_attributes][${counter}][name]" class='other_charge_name' id="<%= model_name %>_other_charges_attributes_${counter}_name" style="background-image: none;">
        </div>
        <div class="col-md-1" style="padding: 0">
          <input type="number" name="<%= model_name %>[other_charges_attributes][${counter}][amount_show]" class='other_charge_amount_show form-control p5_10' min='0' id="<%= model_name %>_other_charges_attributes_${counter}_amount" required="required" placeholder='Price' style="background-image: none;">
          <input type="hidden" name="<%= model_name %>[other_charges_attributes][${counter}][amount]" class='other_charge_amount' id="<%= model_name %>_other_charges_attributes_${counter}_amount">
        </div>
        <div class="col-md-1">
          <input type="number" name="<%#= model_name %>[other_charges][][percent]" class='other_charge_amount_percent form-control p5_10' min='0' id="<%= model_name %>_other_charges_attributes_${counter}_percent" placeholder='%' style="background-image: none;">
        </div>
        <div class="col-md-1" style="padding: 0">
          <input type="text" name="" class='other_charge_net_amount_show form-control p5_10' min='0' id="" required="required" placeholder='Price' readonly='true' style="background-image: none;">
          <input type="hidden" name="<%= model_name %>[other_charges_attributes][${counter}][net_amount]" class='other_charge_net_amount' id="<%= model_name %>_other_charges_attributes_${counter}_net_amount">
        </div>
        <div class="col-md-2">
          <button class="btn btn-default btn-xs other-charge-plus" style="padding: 3px 10px; background-color: blue; color: white;" id=""><i class="fa fa-plus"></i></button>
          <button class="btn btn-default btn-xs other-charge-minus" style="padding: 3px 10px;" id=""><i class="fa fa-minus"></i></button>
        </div>
        <div class="col-md-1">
          <button class="btn btn-danger btn-xs btn-remove-item" style="padding: 3px 10px;">&times;</button>
        </div>
      </div>
      <div class='col-md-1'></div>
      <div class='other-charges-btn-container col-md-1'>
        <span class="btn btn-primary btn-xs btn-add-item" onclick='add_other_charges()'><i class="fa fa-plus"></i></sapn>
      </div>
    `)


    // if(counter > 0){
    //   $('.btn-remove-item').removeAttr('disabled', 'disabled')
    // }
  }

  function calculate_total_charges() {
    var total_amount = 0
    $('.other_charge_net_amount').each(function(){
      total_amount += parseFloat($(this).val()) || 0
    })
    $('#total_other_charges_amount').val(total_amount)
    $('#inventory_order_purchase_remaining_total_other_charges_amount').val(total_amount)
    calNetAmount()
  }



  $('.other-charges-section').on('click', '.other-charge-plus', function(e) {
    e.preventDefault()
    $(this).css({ "background-color":"blue", "color":"white" });
    parents = $(this).closest('.other-charges-row')
    $(parents).find('.other-charge-minus').css({ "background-color":"", "color":"" });
    let net_show_amount = parseFloat($(parents).find('.other_charge_net_amount_show').val()) || 0
    let show_amount = parseFloat($(parents).find('.other_charge_amount_show').val()) || 0
    let net_amount = net_show_amount >= 0 ? net_show_amount : (net_show_amount * -1)
    $(parents).find('.other_charge_amount').val(show_amount)
    $(parents).find('.other_charge_net_amount').val(net_amount)
    calculate_total_charges()
  })

  $('.other-charges-section').on('click', '.other-charge-minus', function(e) {
    e.preventDefault()
    $(this).css({ "background-color":"blue", "color":"white" });
    parents = $(this).closest('.other-charges-row')
    $(parents).find('.other-charge-plus').css({ "background-color":"", "color":"" });
    let show_amount = parseFloat($(parents).find('.other_charge_amount_show').val()) || 0
    let net_show_amount = parseFloat($(parents).find('.other_charge_net_amount_show').val()) || 0
    let net_amount = net_show_amount <= 0 ? net_show_amount : (net_show_amount * -1)
    $(parents).find('.other_charge_net_amount').val(net_amount)
    $(parents).find('.other_charge_amount').val(show_amount)
    calculate_total_charges()
  })

  $('.other-charges-section').on('change keyup', '.other_charge_amount_show', function(e) {
    parents = $(this).closest('.other-charges-row')
    calculate_each_other_net_charges(parents)
  })

  $('.other-charges-section').on('change', '.other_charge_id', function(e) {
    e.preventDefault();
    let name = $('option:selected', this).text()
    $(this).closest('.other-charges-row').find('.other_charge_name').val(name)
  })

  function calculate_each_other_net_charges(parents) {
    let show_amount = parseFloat($(parents).find('.other_charge_amount_show').val()) || 0
    let percent_val = parseFloat($(parents).find('.other_charge_amount_percent').val()) || 0
    let percent_amount = show_amount * (percent_val/100)
    let net_amount = show_amount + percent_amount
    $(parents).find('.other_charge_amount').val(show_amount)
    $(parents).find('.other_charge_net_amount_show').val(net_amount)
    if ($(parents).find('.other-charge-plus').css( "background-color" ) == 'rgb(0, 0, 255)') {
      let amount = net_amount >= 0 ? net_amount : (net_amount * -1)
      $(parents).find('.other_charge_net_amount').val(amount)
      calculate_total_charges()
    } else if ($(parents).find('.other-charge-minus').css( "background-color" ) == 'rgb(0, 0, 255)') {
      let amount = net_amount <= 0 ? net_amount : (net_amount * -1)
      $(parents).find('.other_charge_net_amount').val(amount)
      calculate_total_charges()
    }
  }

  $('.other-charges-section').on('change keyup', '.other_charge_amount_percent', function() {
    parents = $(this).closest('.other-charges-row')
    calculate_each_other_net_charges(parents)
  })

  $('.other-charges-section').on('click', '.btn-remove-item', function(e){
    e.preventDefault();
    $(this).closest('.other-charges-row').remove();
    $('.other-charges-btn-container').remove()
    $(this).closest('.other-charges-row .error').remove()
    calculate_total_charges()
    if ($('.other-charges-row').length == 0) {
      $('.other-charges-section').append(`
      <div class='other-charges-row mb10 col-sm-10'>
      </div>
    `)
    }
    $('.other-charges-section').append(`
      <div class='other-charges-btn-container col-md-1'>
        <span class="btn btn-primary btn-xs btn-add-item" onclick='add_other_charges()'><i class="fa fa-plus"></i></sapn>
      </div>
    `)

    renumberIndex($('.other-charges-row'), ['input', 'select'])

    if ($('.other-charges-row').length < 2)
    {
      $('.clear-generic-tag').hide()
    }
    if ( ($('.other-charges-row:last .other_charge_id').val() != '') && ($('.other-charges-row').length > 0 ) )
    {
      $('.clear-generic-tag').show()
    }

    if ( ($('.other-charges-row:last .other_charge_id').attr('readonly') == 'readonly') || ($('.other-charges-row').length < 1 ) )
    {
      // $('.btn-add-item').removeAttr('disabled', 'disabled')
    }
    else
    {
      // $('.btn-add-item').attr('disabled', 'disabled')
    }
    // if(counter == 1){
    //   $('.btn-remove-item:first').attr('disabled', 'disabled')
    // }
  })
</script>
