<div class="payment-terms-section row col-md-12">
  <% if @purchase_order.payment_terms.present? %>
    <% @purchase_order.payment_terms.each_with_index do |term, index| %>
      <div class="payment-terms-row col-sm-10" style="margin-top: 5px;">
        <div class="col-md-5">
          <%= select_tag "#{model_name}"+"[payment_terms][][_id]", options_for_select(@payment_terms, term['_id']), class: 'payment-term-class form-control p5_10', include_blank: true,style: "background-image: none;" %>
          <%= hidden_field_tag "#{model_name}"+"[payment_terms][][description]", term['description'], class: 'payment_terms_description' %>
        </div>
        <div class="col-md-5">
          <%= text_field_tag "#{model_name}"+"[payment_terms][][comment]", term['comment'], class: 'payment_terms_comment' %>
        </div>
        <div class="col-md-1" >
          <button class="btn btn-danger btn-xs btn-remove-payment-terms" style="padding: 3px 10px;" id="first_delete_button">&times;</button>
        </div>
        <div class='payment-terms-btn-container col-md-1'>
          <span class="btn btn-primary btn-xs btn-add-payment-terms"><i class="fa fa-plus"></i></span>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="payment-terms-row col-sm-10" style="margin-top: 5px;">
      <div class="col-md-5">
        <%= select_tag "#{model_name}"+"[payment_terms][][_id]", options_for_select(@payment_terms), class: 'payment-term-class form-control p5_10', include_blank: true,style: "background-image: none;" %>
        <%= hidden_field_tag "#{model_name}"+"[payment_terms][][description]", '', class: 'payment_terms_description' %>
      </div>
      <div class="col-md-5">
        <%= text_field_tag "#{model_name}"+"[payment_terms][][comment]", '', class: 'payment_terms_comment' %>
      </div>
      <div class="col-md-1" >
        <button class="btn btn-danger btn-xs btn-remove-payment-terms" style="padding: 3px 10px;" id="first_delete_button">&times;</button>
      </div>
      <div class='payment-terms-btn-container col-md-1'>
        <span class="btn btn-primary btn-xs btn-add-payment-terms"><i class="fa fa-plus"></i></span>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $('.btn-add-payment-terms').on('click', function(e){
    e.preventDefault();
    add_payment_terms()
  })

  function add_payment_terms()
  {
    let counter = $('.payment-terms-row').length
    $('.payment-terms-btn-container').remove()
    $('.payment-terms-section').append(`
      <div class="payment-terms-row mb10 col-sm-10" style="margin-top: 1px;">
        <div class="col-md-5">
          <select class="payment-term-class form-control p5_10" name="<%= model_name %>[payment_terms][][_id]" id="i<%= model_name %>_payment_terms_attributes_${counter}_id" style="background-image: none;">
            <option value=""></option>
            <% @payment_terms.each do |ot| %>
              <option value="<%= ot[1] %>"><%= ot[0] %></option>
            <% end %>
          </select>
          <input type="hidden" name="<%= model_name %>[payment_terms][][description]" class='payment_terms_description' id="<%= model_name %>_payment_terms_attributes_${counter}_name" style="background-image: none;">
        </div>
        <div class="col-md-5">
          <input type="text" name="<%= model_name %>[payment_terms][][comment]" class='payment_terms_comment' id="<%= model_name %>_payment_terms_attributes_${counter}_name" style="background-image: none;">
        </div>
        <div class="col-md-1">
          <button class="btn btn-danger btn-xs btn-remove-payment-terms" style="padding: 3px 10px;">&times;</button>
        </div>
        <div class='payment-terms-btn-container col-md-1'>
          <span class="btn btn-primary btn-xs btn-add-item" onclick='add_payment_terms()'><i class="fa fa-plus"></i></sapn>
        </div>
      </div>
    `)
  }

  $('.payment-terms-section').on('click', '.btn-remove-payment-terms', function(e){
    e.preventDefault();
    $(this).closest('.payment-terms-row').remove();
    $('.payment-terms-btn-container').remove()
    $(this).closest('.payment-terms-row .error').remove()
    // calculate_total_charges()
    if ($('.payment-terms-row').length == 0) {
      $('.payment-terms-section').append(`
      <div class='payment-terms-row mb10 col-sm-10'>
      </div>
    `)
    }
    $('.payment-terms-section').append(`
      <div class="col-md-6"></div>
      <div class="col-md-1"></div>
      <div class='payment-terms-btn-container col-md-1'>
        <span class="btn btn-primary btn-xs btn-add-item" onclick='add_payment_terms()'><i class="fa fa-plus"></i></sapn>
      </div>
    `)

    renumberIndex($('.payment-terms-row'), ['input', 'select'])
  })

  $('.payment-terms-section').on('change', '.payment-term-class', function(e) {
    e.preventDefault();
    let name = $('option:selected', this).text()
    $(this).closest('.payment-terms-row').find('.payment_terms_description').val(name)
  })
</script>