<div class="">
  <h3 class="text-center"><%= @purchase_order.note %></h3>
  <h3 class="text-center"><%= @purchase_order.vendor_name %></h3>
  <br>
  <div class="row font-size col-md-12" style="margin-top: 10px;">
    <div class="col-md-4 col-lg-3 font_size text-right"><b style="font-size:17px">Purchase Order</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
    <div class="col-md-8 col-lg-9 font_size" style="padding: 0;margin: 0;font-size:17px">
      <span style="font-weight: bolder;"><%= @purchase_order.purchase_display_id %></span>
      <span style="padding: 2px;font-weight: bolder;">|</span>
      <span><%= @purchase_order.order_date_time.try(:strftime, '%d-%m-%Y') %>&nbsp;|&nbsp;<%= @purchase_order.order_date_time&.strftime("%I:%M %p") %></span>
    </div>
  </div>
  <div class="row col-md-12 font-size">
    <div class="col-md-4 col-lg-3 font_size text-right"><b>PO Created By</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
    <div class="col-md-8 col-lg-9 font_size" style="padding: 0;margin: 0;">
      <span><%= @purchase_order.entered_by %></span>
      <span style="padding: 2px;font-weight: bolder;">|</span>
      <% store = Inventory::Store.find_by(id: @purchase_order.store_id) %>
      <span><%= store.try(:name) %> - <%= @purchase_order.department_name%></span>
      <span style="padding: 2px;font-weight: bolder;">|</span>
      <span><%= @purchase_order.order_date_time.try(:strftime, '%d-%m-%Y') %>&nbsp;|&nbsp;<%= @purchase_order.order_date_time&.strftime("%I:%M %p") %></span>
    </div>
  </div>
  <% if @purchase_order.approved_by&.present? && @purchase_order.is_closed == false %>
    <div class="row col-md-12 font-size">
      <div class="col-md-4 col-lg-3 font_size text-right"><b>PO Approved By</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
      <div class="col-md-8 col-lg-9 font_size" style="padding: 0;margin: 0;">
        <span><%= @purchase_order.approved_by_name %></span>
        <span style="padding: 2px;font-weight: bolder;">|</span>
        <span><%= @purchase_order.approved_date_time.try(:strftime, '%d-%m-%Y') %>&nbsp;|&nbsp;<%= @purchase_order.approved_date_time&.strftime("%I:%M %p") %></span>
      </div>
    </div>
  <% end %>
  <% if @purchase_order.closed_by&.present? %>
    <div class="row col-md-12 font-size">
      <div class="col-md-4 col-lg-3 font_size text-right"><b>PO Closed By</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
      <div class="col-md-8 col-lg-9 font_size" style="padding: 0;margin: 0;">
        <span><%= @purchase_order.closed_by_name %></span>
        <span style="padding: 2px;font-weight: bolder;">|</span>
        <span><%= @purchase_order.closed_date_time.try(:strftime, '%d-%m-%Y') %>&nbsp;|&nbsp;<%= @purchase_order.closed_date_time&.strftime("%I:%M %p") %></span>
        <span style="padding: 2px;font-weight: bolder;"></span>
        <!-- <span><%#= @purchase_order.closed_reason %></span> -->
      </div>
    </div>
  <% end %>
  <% if @purchase_order.cancelled_by&.present? %>
    <div class="row col-md-12 font-size">
      <div class="col-md-4 col-lg-3 font_size text-right"><b>PO Cancelled By</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
      <div class="col-md-8 col-lg-9 font_size" style="padding: 0;margin: 0;">
        <span><%= @purchase_order.cancelled_by_name %></span>
        <span style="padding: 2px;font-weight: bolder;">|</span>
        <span><%= @purchase_order.cancelled_date_time.try(:strftime, '%d-%m-%Y') %>&nbsp;|&nbsp;<%= @purchase_order.cancelled_date_time&.strftime("%I:%M %p") %></span>
        <span style="padding: 2px;font-weight: bolder;"></span>
        <!-- <span><%#= @purchase_order.cancelled_reason %></span> -->
      </div>
    </div>
  <% end %>
  <div class="row col-md-12 font-size">
    <div class="col-md-4 col-lg-3 font_size text-right"><b style="font-size:17px">PO Status</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
    <div class="col-md-8 col-lg-9 font_size" style="padding: 0;margin: 0;font-size:17px">
      <span><%= @purchase_order.order_status %></span>
    </div>
  </div>
  <% if @purchase_order.order_status == 'closed' %>
    <div class="row col-md-12 font-size">
      <div class="col-md-4 col-lg-3 font_size text-right"><b>Closed Reason</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
      <div class="col-md-8 col-lg-9 font_size" style="padding: 0;margin: 0;">
        <span><%= @purchase_order.closed_reason %></span>
      </div>
    </div>
  <% end %>
  <% if @purchase_order.order_status == 'cancelled' %>
    <div class="row col-md-12 font-size">
      <div class="col-md-4 col-lg-3 font_size text-right"><b>Cancellation Reason</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
      <div class="col-md-8 col-lg-9 font_size" style="padding: 0;margin: 0;">
        <span><%= @purchase_order.cancelled_reason %></span>
      </div>
    </div>
  <% end %>
  <% if @purchase_order.po_type&.present? %>
    <div class="row col-md-12 font-size">
      <div class="col-md-4 col-lg-3 font_size text-right"><b>PO Type</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
      <div class="col-md-8 col-lg-9 font_size" style="padding: 0;margin: 0;">
        <span><%=  @purchase_order.po_type %></span>
      </div>
    </div>
  <% end %>
  <div class="row col-md-12 font-size">
    <div class="col-md-4 col-lg-3 font_size text-right"><b>PO Expiry</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
    <div class="col-md-8 col-lg-9 font_size" style="padding: 0;margin: 0;">
      <span><%= @purchase_order.po_expiry_date&.present? ? @purchase_order.po_expiry_date.try(:strftime, '%d/%m/%Y') : "NA" %></span>
    </div>
  </div>
  <div class="row col-md-12 font-size">
    <div class="col-md-4 col-lg-3 font_size text-right"><b>Vendor</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
    <div class="col-md-8 col-lg-9 font_size" style="padding: 0;margin: 0;">
      <span><%= @purchase_order.vendor_location_address %></span>
    </div>
  </div>
  <% if @purchase_order.vendor_gst_number.present? %>
  <div class="row col-md-12 font-size">
    <div class="col-md-4 col-lg-3 font_size text-right"><b>Vendor GST</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
    <div class="col-md-8 col-lg-9 font_size" style="padding: 0;margin: 0;">
      <span><%= @purchase_order.vendor_gst_number %></span>
    </div>
  </div>
  <% end %>
  <% if @purchase_order.vendor_credit_days&.present? %>
  <div class="row col-md-12 font-size">
    <div class="col-md-4 col-lg-3 font_size text-right"><b>Vendor Credit Days</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
    <div class="col-md-8 col-lg-9 font_size" style="padding: 0;margin: 0;">
      <span><%= @purchase_order.vendor_credit_days %></span>
    </div>
  </div>
  <% end %>
  <div class="row col-md-12 font-size">
    <div class="col-md-4 col-lg-3 font_size text-right"><b>Bill To</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
    <div class="col-md-8 col-lg-9 font_size" style="padding: 0;margin: 0;">
      <span><%= @purchase_order&.bill_to_address[:store] if @purchase_order.bill_to_address.present? %> - <%= @purchase_order&.bill_to_address[:address] if @purchase_order.bill_to_address.present?%></span>
    </div>
  </div>
  <div class="row col-md-12 font-size">
    <div class="col-md-4 col-lg-3 font_size text-right"><b>Ship To</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
    <div class="col-md-8 col-lg-9 font_size" style="padding: 0;margin: 0;">
      <span><%= @purchase_order.try(:ship_to_address)[:store] if @purchase_order.ship_to_address.present? %> - <%= @purchase_order.try(:ship_to_address)[:address] if @purchase_order.ship_to_address.present?%></span>
    </div>
  </div>
  <div class="row col-md-12 font-size">
    <div class="col-md-4 col-lg-3 font_size text-right"><b>Store GSTIN</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
    <div class="col-md-8 col-lg-9 font_size" style="padding: 0;margin: 0;">
      <span><%= @purchase_order.store_gst.present? ? @purchase_order.store_gst : 'NA' %></span>
    </div>
  </div>
  <div class="row col-md-12 font-size">
    <div class="col-md-4 col-lg-3 font_size text-right"><b>Entity Group</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
    <div class="col-md-8 col-lg-9 font_size" style="padding: 0;margin: 0;">
      <% @entity_name = EntityGroup.find_by(id: store.entity_group_id.to_s).try(:name)%>
      <span><%= @entity_name %></span>
    </div>
  </div>
  <div class="btn-group" style="margin: 10px;">
    <% po_expiry_date = @purchase_order.po_expiry_date %>
    <% if po_expiry_date.present? %>
      <% if po_expiry_date > Date.current  %>
        <% expired = false %>
      <% else %>
        <% expired = true %>
      <% end %>
    <% else %>
      <% expired = false %>
    <% end %>
    <% if @purchase_order.is_closed == false && expired == false %>
      <% if @purchase_order.order_status == 'Pending' %>
        <% if Authorization::PolicyHelper.verification(current_user.id, "HGP-100-112-105", @purchase_order.user_id) %>
          <%= link_to 'Approve', approve_inventory_order_purchase_path(@purchase_order), class: "btn btn-xs btn-info", data: { confirm: 'Are you sure?', commit: 'Yes', remote: true, 'disable-with' => 'Please Wait...',  class: 'btn btn-success' }, remote: true %>
        <% end %>
      <% else %>
        <% if @purchase_order.order_status != "cancelled" %>
        <% unless @purchase_transactions.pluck(:status).include? 0 %>
          <% if Authorization::PolicyHelper.verification(current_user.id ,"HGP-100-112-101") %>
            <% if  @current_store&.id == @purchase_order.store_id %>
              <%= link_to new_transaction_inventory_order_purchases_path(id: @purchase_order.id, vendor_location_id: @purchase_order.vendor_location_id), class: 'btn btn-primary btn-xs ', data: { remote: true, 'disable-with' => 'Please Wait...', 'toggle' => 'modal', 'target' => '#inventory-modal', class: 'btn btn-info' } do %> <i class=""></i> New Transaction<% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <% if Authorization::PolicyHelper.verification(current_user.id ,"HGP-100-112-102") %>
        <% if @purchase_order.transaction_present == true %>
         <% unless @purchase_transactions.pluck(:status).include? 0 %>
          <%= link_to close_inventory_order_purchase_path(id: @purchase_order.id), class: 'btn btn-danger btn-xs close-purchase-order' do %> <i class=""></i> Close<% end %>
          <% end %>
        <% else %>
          <% if @purchase_order.pending? %>
            <%= link_to cancel_inventory_order_purchase_path(id: @purchase_order.id), class: 'btn btn-danger btn-xs closeReq' do %> <i class=""></i> Cancel<% end %>
            <% elsif @purchase_order.approved?%>
            <% unless @purchase_transactions.pluck(:status).include? 0 %>
            <%= link_to close_inventory_order_purchase_path(id: @purchase_order.id), class: 'btn btn-danger btn-xs close-purchase-order' do %> <i class=""></i> Close<% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% if @purchase_order.order_status == 'pending' %>
        <%= link_to edit_inventory_order_purchase_path(@purchase_order), class: 'btn btn-primary btn-xs', remote: true do %>
          <i class="fa fa-edit"></i> Edit
        <% end %>
      <% end %>

    <% end %>

    <% unless @purchase_order.order_status == 'pending' %>
      <a href="/inventory/order/purchases/print?order_id=<%= @purchase_order.id %>&page_size=A4" class="btn btn-success btn-xs" target='_blank'> <i class="fa fa-print"></i>&nbsp;Print A4</a>
      <a href="/inventory/order/purchases/print?order_id=<%= @purchase_order.id %>&page_size=A5" class="btn btn-success btn-xs" target='_blank'> <i class="fa fa-print"></i>&nbsp;Print A5</a>
    <% end %>
  </div>

  <%= render partial: '/inventory/order/purchases/show_body.html.erb' %>
  <hr>
    <div class="purchase-transactions">

        <% if @purchase_transactions.length > 0 %>
             <h4 style="margin-top:0; color: #1E90FF">Transactions Against Order:&nbsp;</h4>
                <% @purchase_transactions.each do |purchase| %>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" href="#purchase-<%=purchase.id%>"
                             role="button" aria-expanded="false" aria-controls="purchase-<%=purchase.id%>">
                            <%= purchase.purchase_display_id %> |
                             <%= purchase.created_at&.strftime("%d/%m/%Y") %>&nbsp;&nbsp;<%= purchase.created_at&.strftime("%I:%M%p") %>&nbsp;&nbsp;|
                             <%= purchase.status.titleize %>
                          </a>
                        </h4>
                      </div>
                      <div class="col-sm-12 collapse panel-collapse" id="purchase-<%=purchase.id%>">
                          <div class="panel-body">
                             <%= render partial: '/inventory/transaction/purchases/show_body.html.erb', locals: {purchase: purchase} %>
                          </div>
                      </div>
                    </div>
              <% end %>
      <% end %>
    </div>
</div>


<div id="cancelModal" class="modal false fade in" tabindex="-1" role="dialog" aria-labelledby="cancelModal" aria-hidden="false" style="z-index: 1051; display: hidden;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-button" data-dismiss="modal" aria-hidden="true">×</button>
        <h5 id="cancelModal" class="modal-title">Are you sure?</h5>
      </div>
      <%= form_tag cancel_inventory_order_purchase_path(id: @purchase_order.id), method: 'get', remote: true, id: 'new-message-form', class: "new-message-form" do %>
        <div class="modal-body">
          <%= label_tag "Reason for Cancellation"%>
          <%= text_field_tag :cancelled_reason, '', class: "form-control p7_10", placeholder: 'Reason for Cancellation', minlength: '5', required: true %>
        </div>
        <div class="modal-footer">
          <button class="btn commit btn-success close-button" data-dismiss="modal">Don't Cancel</button>
          <%= submit_tag "Cancel Purchase Order", class: "btn btn-danger", data: { 'disable-with': 'Please Wait...' }, onclick: 'validateMessage()' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="closeModal" class="modal false fade in" tabindex="-1" role="dialog" aria-labelledby="closeModal" aria-hidden="false" style="z-index: 1051; display: hidden;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-button" data-dismiss="modal" aria-hidden="true">×</button>
        <h5 id="closeModal" class="modal-title">Are you sure?</h5>
      </div>
      <%= form_tag close_inventory_order_purchase_path(id: @purchase_order.id), method: 'get', remote: true, id: 'new-message-form', class: "new-message-form" do %>
        <div class="modal-body">
          <%= label_tag "Please provide a reason for closure below"%>
          <%= text_field_tag :closed_reason, '', class: "form-control p7_10", placeholder: 'Reason for Closure', minlength: '5', required: true %>
        </div>
        <div class="modal-footer">
          <button class="btn commit btn-success close-button" data-dismiss="modal">Don't Close</button>
          <%= submit_tag "Close Purchase Order", class: "btn btn-danger", data: { 'disable-with': 'Please Wait...' }, onclick: 'validateMessage()' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.closeReq').click(function(e){
    e.preventDefault();
    $("#cancelModal").modal('show');
  })
  $(".close-purchase-order").click(function(e){
     e.preventDefault();
    $("#closeModal").modal('show');
  })

  $(".close-button").click(function(e){
    e.preventDefault();
    $("#cancelled_reason").val("")
    $("#closed_reason").val("")
    $("#confirmation-modal").modal('hide')
  })
  $('.closeperc').click(function(e){


  })
</script>
<style type="text/css">
  .purchase-transactions-title {
    display: none;
  }
  .table-add-item td{
    padding: 5px 5px 0;
  }

  .check_font table tr th {
    padding: 2px 5px;
  }

  .check_font table tr td {
    padding: 2px 5px;
  }

  .check_font {
    font-size: 11px;
  }
  .font-size{
    font-size: 11px;
  }
  .panel-heading {
    padding: 0;
    border:0;
  }
  .panel-title>a, .panel-title>a:active{
    display:block;
    padding:15px;
    color:#555;
    font-size:13px;
    font-weight:bold;
    text-transform:uppercase;
    /*letter-spacing:1px;*/
    word-spacing:3px;
    text-decoration:none;
  }
  .panel-heading  a:before {
     font-family: 'Glyphicons Halflings';
     content: "\e114";
     float: right;
     transition: all 0.5s;
  }
  .panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
  }
</style>

<script type="text/javascript">
    $('#btn_remove_item_confirm').on('click', function(){
        $('#input_remove_confirmation').show()
        $('#verified_item_remove').show()
        $(this).hide()
        $('#verified_item_remove').attr('disabled','disabled')

        $(".item_code").addClass("glow-animation")
    })

    $('#input_remove_confirmation').on('keyup', function(){
        if ($(".item_code_value").text().trim() === $(this).val()){
            $('#verified_item_remove').removeAttr('disabled')
        } else
        {
            $('#verified_item_remove').attr('disabled', 'disabled')
        }

    })

    $('.btn_remove_lot_confirm').on('click', function(){
        $('.verified_lot_remove').hide()
        $('.btn_remove_lot_confirm').show()
        $(this).siblings('.verified_lot_remove').show()
        $(this).hide()
    })
</script>
