<div class="row mb5 purchase_taxable_amount">
  <div class="col-md-5 text-right"><b>Taxable Amount</b></div>
  <div class="col-md-3 text-center">:</div>
  <div class="col-md-3 text-right">
    <input style="width:92%;" class="fi_input_style text-right purchase_taxable_amount"
      value="<%= @purchase_order.purchase_taxable_amount %>" type="text"
      name="inventory_order_purchase[purchase_taxable_amount]" readonly="readonly">
  </div>
</div>

<% @purchase_order.tax_breakup.each do |tax_breakup| %>
  <div class="row mb5 tax_group_<%= tax_breakup[:_id] %>">
    <div class="col-md-5 text-right"><b><%= tax_breakup[:name] %></b></div>
    <div class="col-md-3 text-center">:</div>
    <div class="col-md-3 text-right">
      <input style="width:92%;" class="tax_group_id_<%= tax_breakup[:_id] %>"
        value="<%= tax_breakup[:_id] %>" type="hidden"
        name="inventory_order_purchase[tax_breakup][][_id]" readonly="readonly">
      <input style="width:92%;" class="tax_group_id_<%= tax_breakup[:_id] %>"
        value="<%= tax_breakup[:name] %>" type="hidden"
        name="inventory_order_purchase[tax_breakup][][name]" readonly="readonly">
      <input style="width:92%;" class="fi_input_style text-right tax_group_amount_<%= tax_breakup[:_id] %>"
        value="<%= tax_breakup[:amount] %>" type="text"
        name="inventory_order_purchase[tax_breakup][][amount]" readonly="readonly">
      <input value="<%= tax_breakup[:tax_rate]%>" type="hidden"
        name="inventory_order_purchase[tax_breakup][][tax_rate]" readonly="readonly">
      <input value="<%= tax_breakup[:tax_rate] %>" type="hidden"
        name="inventory_order_purchase[tax_breakup][][tax_type]" readonly="readonly">
      <input value="<%= tax_breakup[:taxable_amount] %>" class="taxable_amount_<%= tax_breakup[:_id] %>"
        type="hidden" name="inventory_order_purchase[tax_breakup][][taxable_amount]" >
    </div>
  </div>
<% end %>