<% @variants.each do |variant| %>
  <tr id="<%= variant.id%>" class="inventory-list-row">
    <td style="font-size: 10px; color: #17a08c;" class="col-md-3"><%= variant.variant_code %></td>
    <td class="col-md-6"><b><%= variant.description %></b> - <span style="font-size: 10px"><%= variant.category.try(:capitalize) %></span></td>
    <% if variant.stock %>
      <td><%= variant.stock %></td>
    <% else %>
      <td>0 or NA</td>
    <% end %>
  </tr>
<%end%>