<% if mail_job == true %>
  <% @inventory_store = inventory_store %>
  <% @purchase_order = purchase_order %>
  <% @entity_name = entity_name %>
  <% @indent = indent %>
  <% @vendor = vendor %>
  <% @bill_to_store = bill_to_store %>
  <% @ship_to_store = ship_to_store %>
  <% @requisition = requisition %>
  <% @optical_order = optical_order %>
<% end %>

<div style="border:1px solid #ccc;">
  <div class="row" style="border-bottom:1px solid #ccc;">
    <% entity_name = @entity_name.present? ? @entity_name : @inventory_store.name %>
    <div class="col-md-12" style="border-bottom:1px solid #ccc;">
      <h5 style="text-align: center;font-weight: bold;"><%= entity_name %></h5>
    </div>

    <div class="row" style="border-bottom:1px solid #ccc;">
      <div class="col-md-3 text-left">
        <% if @inventory_store.asset_path.url %>
          <% unless @inventory_store.asset_path.url.split('/').last == '_old_' %>
            <img class="img-fluid" width="80" height="60" src="<%= @inventory_store.asset_path.url %>">
          <% end %>
        <%end%>
      </div>
      <div class="col-sm-6 text-center">
        <% unless @inventory_store.address == 'org-address' %>
        <% address = [] %>
        <% address << @inventory_store&.city << @inventory_store&.state&.capitalize << @inventory_store&.pincode %>
          <h5  class="check_font" style="margin: 0px;"><%= @inventory_store.address %><%= ', ' +  address.reject(&:blank?)&.join(', ') %></h5>
        <% end %>
        <% if @inventory_store.mobilenumber.present? %>
          <p> <h5  class="check_font" style="margin: 0px"><%= @inventory_store.mobilenumber %></h5> </p>
        <% end %>
        <% if @inventory_store.email.present? %>
          <p> <h5  class="check_font" style="margin: 0px"><%= @inventory_store.email %></h5> </p>
        <% end %>
      </div>
      <div class="col-sm-3 text-center">
        <%# if @inventory_store.name ==nil || @inventory_store.name == "" || @inventory_store.shop_name == 'org-name' %>
          <!-- <h3 style="margin:0px"><%#= current_facility.name %></h3> -->
        <%#else%>
          <!-- <h3 style="margin:0px"><%#= @inventory_store.shop_name %></h3> -->
        <%#end%>
      </div>
    </div>

    <div class="row" style="border-bottom:1px solid #ccc;display: flex;height: 100%;">
      <div class="col-md-7 text-right">
        <b style="color: black;">PURCHASE ORDER</b>
      </div>
      <!-- <div class="col-md-1"></div> -->
      <div class="col-md-5">
        <div>
          <span>GSTIN:&emsp;<%= @purchase_order.store_gst.present? ? @purchase_order.store_gst : "NA"  %></span>
        </div>
      </div>
      <div class="col-md-12" style="border-bottom:1px solid #ccc;"></div>
      <div class="row" style="border-bottom:1px solid #ccc;">
        <div class="col-md-4" style="border-right:1px solid #ccc;">
          <div class="col-md-12 check_font"><span>To:&emsp;</span></div>
          <div class="col-md-12 check_font"><span><b>Vendor Name:</b>&emsp;<%= @purchase_order.vendor_name%></span></div>
          <div class="col-md-12 check_font"><span><b>Vendor Address:</b>&emsp;<%= @purchase_order.vendor_location_address %></span></div>
        </div>
        <div class="col-md-8" style="padding: 0;">
          <div class="col-md-6 check_font"><span><b>P.O NO.:</b>&emsp;<%= @purchase_order.purchase_display_id%></span></div>
          <div class="col-md-6 check_font"><span><b>P.O TIME:</b>&emsp;<%= @purchase_order.order_date.try(:strftime, '%d-%m-%Y') %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= @purchase_order.created_at&.strftime("%I:%M%p")%></span></div>
          <% if @indent.present? %>
            <div class="col-md-6 check_font"><span><b>INDENT NO.:</b>&emsp;<%= @indent.present? ? @indent.indent_display_id : "NA"%></span></div>
            <div class="col-md-6 check_font"><span><b>INDENT TIME:</b>&emsp;<%= @indent.present? ? @indent.indent_date.try(:strftime,'%d-%m-%Y') : "NA"%>&nbsp;&nbsp;<%= '|' if @indent %>&nbsp;&nbsp;<%= @indent.indent_date_time&.strftime("%I:%M%p") if @indent %></span></div>
          <% end %>
          <% if @requisition.present? %>
            <div class="col-md-6 check_font"><span><b>REQ NO.:</b>&emsp;<%= @requisition.present? ? @requisition.requisition_display_id : "NA"%></span></div>
            <div class="col-md-6 check_font"><span><b>REQ TIME:</b>&emsp;<%= @requisition.present? ? @requisition.requisition_date.try(:strftime,'%d-%m-%Y') : "NA"%>&nbsp;&nbsp;<%= '|' if @requisition %>&nbsp;&nbsp;<%= @requisition.requisition_date_time&.strftime("%I:%M%p") if @requisition %></span></div>
          <% end %>
          <% if @optical_order.present? %>
            <div class="col-md-6 check_font"><span><b>ORDER ID.:</b>&emsp;<%= @optical_order.present? ? @optical_order.order_number : "NA"%></span></div>
            <div class="col-md-6 check_font"><span><b>ORDER TIME:</b>&emsp;<%= @optical_order.present? ? @optical_order.order_date_time.try(:strftime,'%d-%m-%Y') : "NA"%>&nbsp;&nbsp;<%= '|' if @optical_order %>&nbsp;&nbsp;<%= @optical_order.order_date_time&.strftime("%I:%M%p") if @optical_order %></span></div>
            <div class="col-md-6 check_font"><span><b>PATIENT NAME.:</b>&emsp;<%= @optical_order.present? ? @optical_order.recipient : "NA"%></span></div>
            <div class="col-md-6 check_font"><span><b>PATIENT ID:</b>&emsp;<%= @optical_order.present? ? @optical_order.patient_identifier : "NA"%></span></div>
          <% end %>
          <div class="col-md-6 check_font"><span><b>CREDIT DAYS:</b>&emsp;<%= @purchase_order.vendor_credit_days.present? ? @purchase_order.vendor_credit_days : "NA"%></span></div>
          <div class="col-md-6 check_font"><span><b>EXPIRY DATE:</b>&emsp;<%= @purchase_order.po_expiry_date.present? ? @purchase_order.po_expiry_date.try(:strftime,'%d-%m-%Y')  : "NA"  %></span></div>
        </div>
      </div>
      <!-- <div class="row" style="border-bottom:1px solid #ccc;"> -->
        <div class="col-md-4" style="border-right:1px solid #ccc;padding-right: 7px;">
          <div class="check_font"><span><b>Vendor GSTIN:</b>&emsp;<%= @purchase_order.vendor_gst_number.present? ?  @purchase_order.vendor_gst_number : "NA" %></span></div>
        </div>
    </div>
    <div class="row">
      <div style="display: flex;min-height: 100%;display: -webkit-box; display: -webkit-flex;">
        <div class="check_font" style="border-right:1px solid #ccc;width: 50%">
          <div class="row">
            <div class="col-md-3">
               <div><span><b>BILL TO:</b></span></div>
            </div>
            <div class="col-md-9">
              <% entity_group = EntityGroup.find_by(id: @inventory_store.entity_group_id.to_s).try(:name) %>
              <%= entity_group %> <%= '-' unless entity_group.nil? %><%= @purchase_order&.bill_to_address[:address] %>
            </div>
          </div>
        </div>
        <div class="check_font" style="width: 50%;">
          <div class="row">
            <div class="col-md-3">
               <div><span><b>SHIP TO:</b></span></div>
            </div>
            <div class="col-md-9">
              <% EntityGroup.find_by(id: @inventory_store.entity_group_id.to_s).try(:name) %>
              <%= entity_group %> <%= '-' unless entity_group.nil? %> <%= @purchase_order&.ship_to_address[:address] %>  
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0">
      <!-- <h4 style="margin-top:0;">Order Details&nbsp; -->
      <div class="row check_font">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th width="15%;" style="font-weight: bold;">S No.</th>
              <th width="15%;" style="font-weight: bold;">HSN</th>
              <th width="25%;" style="font-weight: bold;">Description</th>
              <th width="15%;" style="font-weight: bold;">Qty.</th>
              <th width="15%;" style="font-weight: bold;">Free Qty.</th>
              <th width="20%;" style="font-weight: bold;">Rate</th>
              <th width="15%;" style="font-weight: bold;">Tax%</th>
              <th width="15%;" style="font-weight: bold;">Discount</th>
              <th width="25%;" style="font-weight: bold;">Amount</th>
              <th width="25%;" style="font-weight: bold;">Remark</th>
            </tr>
          </thead>
            <tbody>
              <% @count = 1 %>
              <% @purchase_order.items.each do |item| %>
                <tr>
                  <td><%= @count %></td>
                  <% hsn_no = Inventory::Item.find_by(id: item.item_id.to_s).hsn_no.present? ? Inventory::Item.find_by(id: item.item_id.to_s).hsn_no : 'NA' %>
                  <td><%= hsn_no%></td>
                  <td><%= "#{item.description}#{'-' + item.custom_field_tags.join(', ') if item.custom_field_tags.present?}" %></td>
                  <td><%= item.paid_stock %></td>
                  <td><%= item.stock_free_unit %></td>
                  <% model_no = item.model_no.present? ? item.model_no : 'NA' %>
                  <td><%= item.unit_cost_without_tax %></td>
                  <td><%= item.tax_rate %></td>
                  <td><%= item.item_discount&.round(2) %></td>
                  <td><%= item.total_cost %></td>
                  <td><%= item.remarks %></td>
                </tr>
              <% @count += 1 %>
              <% end %>
            </tbody>
          </table>
        </div>
      </h4>
    </div>
    <div id="item_information" class="col-lg-12 col-md-12 col-sm-12" style="border-bottom:1px solid #ccc;display: flex;height: 100%;">
      <div class="col-md-4">
        <% if @purchase_order.other_charges.present? %>
          <div class="check_font" style="margin-top:0;font-weight: bold;">Other Charges:&nbsp;</div>
          <div class="row check_font">
            <table class="table table-borderless">
              <tbody>
                <% @count = 1 %>
                <% @purchase_order.other_charges.each do |charge| %>
                  <tr>
                    <td><%= @count %>.</td>
                    <td><%= charge[:name] %></td>
                    <td><%= charge[:net_amount].include?('-') ? '-' : '+' %>&nbsp;&nbsp;<%= charge[:amount] %></td>
                  </tr>
                <% @count += 1 %>
                <% end %>
              </tbody>
            </table>
          </div>
        <% elsif @purchase_order.created_from_optical_order && @vendor&.fitting_charges.present? %>
          <div class="check_font" style="margin-top:0;font-weight: bold;">Other Charges:&nbsp;</div>
          <div class="row check_font">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td>1.</td>
                  <td>Fitting Charges</td>
                  <td><%= @vendor&.fitting_charges %></td>
                </tr>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>
      <div class="col-md-6 col-md-offset-2">
        <div class="col-sm-12 text-right">
          <div class="col-sm-7 check_font">
            <b>Gross Amount</b>
          </div>
          <div class="col-sm-1 text-center check_font">
            :
          </div>
          <div class="col-sm-3 check_font">
            <%= @purchase_order.total_cost.to_f.round(2) %>
          </div>
        </div>
        <div class="col-sm-12 text-right">
          <div class="col-sm-7 check_font">
            <b>Total Discount</b>
          </div>
          <div class="col-sm-1 text-center check_font">
            :
          </div>
          <div class="col-sm-3 check_font" id="discount">
            <%= @purchase_order.discount %>
          </div>
        </div>
        <!-- <div class="col-sm-12 text-right">
          <div class="col-sm-7 check_font">
            <b>Tax Amount</b>
          </div>
          <div class="col-sm-2 text-center check_font">
            :
          </div>
          <div class="col-sm-1 check_font" id="discount">
            <%# @purchase_order.tax_breakup.try(:each) do |breakup|%>
            <%# end %>
            <%#= @purchase_order.tax_amount %>
          </div>
        </div> -->
        <% tax_d = {} %>
          <% @purchase_order.items.try(:each) do |item| %>
            <% if (tax_d[item.tax_name] == nil) %>
              <% tax_d[item.tax_name] = item.purchase_tax_amount.to_f %>
            <% else %>
              <%  tax_d[item.tax_name] = tax_d[item.tax_name].to_f + item.purchase_tax_amount.to_f %>
            <% end %>   
        <% end %>
        <% tax_d.each do |tax_breakup| %>
          <div class="col-sm-12 text-right">
            <div class="col-sm-7 check_font">
              <b><%= tax_breakup[0] %></b>
            </div>
            <div class="col-sm-1 text-center check_font">
              :
            </div>
            <div class="col-sm-3 check_font">
              <%= number_with_precision(tax_breakup[1], precision: 2) %>
            </div>
          </div>
        <% end %>
        <div class="col-sm-12 text-right">
          <div class="col-sm-7 check_font">
            <b>Other Charges</b>
          </div>
          <div class="col-sm-1 text-center check_font">
            :
          </div>
          <div class="col-sm-3 check_font" id="discount">
            <%= @purchase_order.total_other_charges_amount %>
          </div>
        </div>
        <div class="col-sm-12 text-right">
          <% if false %>
            <div class="col-sm-7 check_font">
              <b>Credit Adjustment</b>
            </div>
            <div class="col-sm-1 text-center check_font">
              :
            </div>
            <div class="col-sm-3 check_font" id="credit_adjustment">
              <%= @purchase_order.credit_adjustment %>
            </div>
          <% end %>
        </div>
        <div class="col-sm-12 text-right">
          <div class="col-sm-7 check_font">
            <b>Net Amount</b>
          </div>
          <div class="col-sm-1 text-center check_font">
            :
          </div>
          <div class="col-sm-3 check_font">
            <%= @purchase_order.net_amount&.round(2) %>
            <%#= @purchase_order.number_to_words(@purchase_order) %>
          </div>
        </div>
        <!-- <div class="row mb5" style="border-bottom:1px solid #eee; margin-top: 5px;"></div> -->
        <!-- <div class="col-sm-12 text-right">
          <div class="col-sm-7 check_font">
            <b>Taxable Amount</b>
          </div>
          <div class="col-sm-2 text-center check_font">
            :
          </div>
          <div class="col-sm-1 check_font">
            <%#= @purchase_order.purchase_taxable_amount %>
          </div>
        </div> -->
        <%# @purchase_order.tax_breakup.try(:each) do |tax_breakup| %>
          <!-- <div class="col-sm-12 text-right">
          <div class="col-sm-7 check_font">
            <b><%#= tax_breakup[:name] %></b>
          </div>
          <div class="col-sm-2 text-center check_font">
            :
          </div>
          <div class="col-sm-1 check_font">
            <%#= number_with_precision(tax_breakup[:amount], precision: 2) %>
          </div>
        </div> -->
        <%# end %>
      </div>
    </div>
    <% payment_t_c = @purchase_order.payment_terms&.map{|x| x[:_id]}  %>
    <% if payment_t_c&.reject(&:blank?).present? %>
      <div class="row" style="border-bottom:1px solid #ccc; padding: 10px 0px; clear: both;">
        <div class="col-md-12" >
          <div class="row">
            <div class="check_font"><span><b>PAYMENT TERMS (TERMS & CONDITIONS) :</b>
              <table class=" col-md-7 table table-borderless" style="margin-bottom: 0;">
                <tbody>
                  <% @count = 1 %>
                  <% @purchase_order.payment_terms.each_with_index do |term| %>
                    <% if term[:description].present? %>
                      <tr>
                        <td><%= @count %>.</td>
                        <td style="width: 180px;"><%= term[:description] %></td>
                        <td>:</td>
                        <td><%= term[:comment] %></td>
                      </tr>
                      <% @count += 1 %>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    <% elsif @purchase_order.created_from_optical_order %>
      <div class="row" style="border-bottom:1px solid #ccc; padding: 10px 0px; clear: both;">
        <div class="col-md-12" >
          <div class="row">
            <div class="check_font"><span><b>PAYMENT TERMS (TERMS & CONDITIONS) :</b>
              <table class=" col-md-7 table table-borderless" style="margin-bottom: 0;">
                <tbody>
                  <tr>
                    <td>1</td>
                    <td style="width: 180px;">As per agreement</td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% delivery_t_c = @purchase_order.delivery_terms&.map{|x| x[:_id]}  %>
    <% if delivery_t_c&.reject(&:blank?).present? %>
      <div class="row" style="border-bottom:1px solid #ccc; padding: 10px 0px; clear: both;">
        <div class="col-md-12" >
          <div class="row">
            <div class="check_font"><b>DELIVERY TERMS (TERMS & CONDITIONS) :</b>
              <table class="col-md-7 table table-borderless" style="margin-bottom: 0;">
                <tbody>
                  <% @count = 1 %>
                  <% @purchase_order.delivery_terms.each_with_index do |term| %>
                    <% if term[:description].present? %>
                      <tr>
                        <td><%= @count %>.</td>
                        <td style="width: 180px;"><%= term[:description] %></td>
                        <td>:</td>
                        <td><%= term[:comment] %></td>
                      </tr>
                      <% @count += 1 %>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    <% elsif @purchase_order.created_from_optical_order %>
      <div class="row" style="border-bottom:1px solid #ccc; padding: 10px 0px; clear: both;">
        <div class="col-md-12" >
          <div class="row">
            <div class="check_font"><span><b>DELIVERY TERMS (TERMS & CONDITIONS) :</b>
              <table class=" col-md-7 table table-borderless" style="margin-bottom: 0;">
                <tbody>
                  <tr>
                    <td>1</td>
                    <td style="width: 180px;">As per agreement</td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if @purchase_order.note.present? %>
      <div class="row" style="border-bottom:1px solid #ccc;display: flex;height: 100%;">
        <div class="col-md-12" style="border-right:1px solid #ccc;padding-right: 7px;">
          <div class="check_font">
            <div class="col-md-2"><b>Note:</b></div>
            <div class="col-md-10"><span><%= @purchase_order.note %></span></div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row" style="border-bottom:1px solid #ccc;display: flex;height: 100%;">
      <div class="col-md-12" style="border-right:1px solid #ccc;padding-right: 7px;">
        <div class="check_font">
          <div class="col-md-4" style="text-align: center;">
            <span style>CREATED BY:</span>
            <div style="font-weight: bold;"><%= @purchase_order.entered_by %></div>
            <span><%= @purchase_order.try(:created_at).strftime("%d %b %Y %I:%M %p")%></span>
          </div>
          <div class="col-md-4">
            <!-- <span style>UPDATED BY:</span>
            <div style="font-weight: bold;"><%#= @purchase_order.entered_by %></div>
            <span><%#= @purchase_order.try(:created_at).strftime("%d %b %Y %I:%M %p")%></span> -->
          </div>
          <% if @purchase_order&.approved_by.present? %>
            <div class="col-md-4">
              <span style>APPROVED BY:</span>
              <div style="font-weight: bold;"><%= @purchase_order.approved_by_name %></div>
              <span><%= @purchase_order.try(:approved_date_time)&.strftime("%d %b %Y %I:%M %p")%></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>


<style type="text/css">
  .table-add-item td{
    padding: 5px 5px 0;
  }
  .check_font table tr th {
    padding: 5px 8px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
  }

  .check_font table tr td {
    padding: 5px 8px;
  }

  .check_font {
    font-size: 11px;
  }
  .table-borderless tr td {
    border: none !important;
    padding:  2px 2px 0 !important;
  }

</style>
