<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <b>Reply Date:</b>
    <%= f.text_field :tpa_date_of_reply, {:value => @tpa_note.try(:tpa_date_of_reply).try(:strftime, ("%d/%m/%Y")), :class => 'form-control tpa_note_datepicker', readonly: true, :style =>'cursor: pointer;background-color: #fff;'} %>
  </div>
  <div class="col-md-3">
    <b>Reply Time:</b>
    <div class="bootstrap-timepicker timepicker">
      <%= f.text_field :tpa_time_of_reply, {:class => 'form-control tpa_note_timepicker'} %>
    </div>
  </div>
  <div class="col-md-3">
    <b>Mode of Reply</b>
    <% modes_of_reply = ['email','phone','tpa_console','others'] %>
    <%= f.select :mode_of_reply, options_for_select(modes_of_reply.map{ |mode| [mode.split("_").join(" ").capitalize, mode]}, @tpa_note.try(:mode_of_reply)), {}, {:class => "form-control p7_10"} %>
  </div>
</div>

<div class="row">
  <div class="col-md-2" style="margin-right: 49px;">
    <div class="tpa_notes_list_view" style="margin-top: 32px;">
      <ul class="list-group" style="margin-right: -32px;">
        <a class="list-group-item note_list_item active initial_approval" item-id=".initial_approval_section">INITIAL APPROVAL</a>
        <a class="list-group-item note_list_item addition_approval" item-id=".addition_approval_section">ADDITIONAL APPROVAL</a>
        <a class="list-group-item note_list_item query_list" item-id=".query_section">QUERY</a>
        <a class="list-group-item note_list_item precaution_list" item-id=".precaution_section">PRECAUTIONS</a>
        <a class="list-group-item note_list_item denial_list" item-id=".denial_section">DENIAL</a>
      </ul>
    </div>
  </div>

  <div class="col-md-9" style="margin-top: 35px;">

    <div class="initial_approval_section">
      <b style="margin-left: 15px;">Pre-Authorization Admission:</b>
      <div class="col-md-12" style="margin-top: 13px;"><span class="col-md-2">Approved Date:</span> <span class="col-md-4">Approved amount: </span><span class="col-md-6">Comments: </span></div>
      <div class="col-md-12" style="padding-bottom: 29px;">
        <div class="col-md-2">
          <%= f.text_field :pre_auth_admission_amount_date,{:value => @tpa_note.try(:pre_auth_admission_amount_date).try(:strftime, ("%d/%m/%Y")), :class => 'form-control tpa_note_datepicker', readonly: true, :style =>'cursor: pointer;background-color: #fff;'} %>
        </div>
        <div class="col-md-4"><%= f.number_field :pre_auth_admission_amount_approved, :class => 'form-control' %></div>
        <div class="col-md-6"><%= f.text_field :pre_auth_admission_comments, {:class => 'form-control'} %></div>
      </div>
    </div>

    <div class="addition_approval_section" style="display: none;">
      <b style="margin-left: 15px;">Additional Authorizations:</b>
      <div class="col-md-12" style="margin-top: 13px;"><span class="col-md-2">Approved Date:</span> <span class="col-md-4">Approved amount: </span><span class="col-md-6">Comments: </span></div>
      <div class="col-md-12" style="padding-bottom: 29px;">
        <div class="col-md-2">
          <%= f.text_field :addition_authorize_approval_date,{:value => @tpa_note.try(:addition_authorize_approval_date).try(:strftime, ("%d/%m/%Y")), :class => 'form-control tpa_note_datepicker', readonly: true, :style =>'cursor: pointer;background-color: #fff;'} %>
        </div>
        <div class="col-md-4"><%= f.number_field :addition_authorize_amount_approved, :class => 'form-control' %></div>
        <div class="col-md-6"><%= f.text_field :addition_authorize_comments, {:class => 'form-control'} %></div>
      </div>
    </div>

    <div class="query_section" style="margin-bottom: 68px;display: none;">
      <b style="margin-left: 15px;">Query:</b>
      <div class="col-md-12" style="">
        <div class="col-md-6"><%= f.text_field :query, {:class => 'form-control'} %></div>
      </div>
    </div>

    <div class="precaution_section" style="display: none;">
      <b style="margin-left: 15px;">Precautions:</b>
      <div class="col-md-12" style="margin-top: 13px;">
        <div class="col-md-3">
          <b>Room cap per day:</b>
        </div>
        <div class="col-md-4">
          <b>Room Restrictions Comments:</b>
        </div>
      </div>

      <div class="col-md-12">
        <div class="col-md-3">
          <%= f.text_field :room_cap_per_day, {:class => 'form-control'} %>
        </div>
        <div class="col-md-4">
          <%= f.text_area :room_restrictions_comments, :class => 'form-control', :rows => "1" ,:onBlur=> "lasttext=this",:style=> "overflow-y: auto" %>
        </div>
      </div>

      <div class="col-md-12" style="margin-top: 13px;">
        <div class="col-md-3">
          <b>Ailment/ Procedure cap:</b>
        </div>
        <div class="col-md-4">
          <b>Comments:</b>
        </div>
      </div>

      <div class="col-md-12">
        <div class="col-md-3">
          <%= f.text_field :ailment_procedure_cap, {:class => 'form-control'} %>
        </div>
        <div class="col-md-4">
          <%= f.text_area :ailment_procedure_comments, :class => 'form-control', :rows => "1" ,:onBlur=> "lasttext=this",:style=> "overflow-y: auto" %>
        </div>
      </div>

      <div class="col-md-12" style="margin-top: 13px;margin-bottom: 25px;">
        <div class="col-md-12"><b>Additional Comment:</b></div>
        <div class="col-md-7">
          <%= f.text_area :ailment_procedure_additional_comments, :class => 'form-control', :rows => "1" ,:onBlur=> "lasttext=this",:style=> "overflow-y: auto" %>
        </div>
      </div>
    </div>

    <div class="denial_section" style="margin-bottom: 68px;display: none;">
      <b style="margin-left: 15px;">Denial:</b>
      <div class="col-md-12" style="">
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-6"><%= f.text_field :denial, {:class => 'form-control'} %></div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="col-md-12"><b>Patient Copays:</b></div>
      <div class="col-md-3">
        <%= f.number_field :patient_copays, {:class => 'form-control'} %>
      </div>
    </div>

  </div>
</div>