<div class="fuelux">
  <div class="wizard" id="admissionWizard">
    <ul class="steps">
        <li data-step="1" class="admissionnote_steps active"><span class="badge">1</span> Admin <span class="chevron"></span></li>
        <li data-step="2" class="admissionnote_steps"><span class="badge">2</span> Clinical <span class="chevron"></span></li>
        <!--<li data-step="3" class="admissionnote_steps"><span class="badge">3</span> Nursing <span class="chevron"></span></li>-->
        <li data-step="3" class="admissionnote_steps"><span class="badge">3</span> History <span class="chevron"></span></li>
        <li data-step="4" class="admissionnote_steps"><span class="badge">4</span> Assessment <span class="chevron"></span></li>
    </ul>

    <div class="actions">
      <button type="button" class="btn btn-default btn-prev" disabled="disabled"><span class="glyphicon glyphicon-arrow-left"></span>Prev</button>
      <button type="button" class="btn btn-default btn-next">Next<span class="glyphicon glyphicon-arrow-right"></span></button>
    </div>
    
    <div class="step-content" style="overflow:scroll;">
      <div class="step-pane active" id="step1" data-step="1">
        <!-- I m in 1 (Dept Filter) -->
        <%= render partial: "inpatient/ipd_records/" + department + "/admission/forms/admin_form.html.erb", locals: {f: f, admission: admission, patient: patient, tpa: tpa, ipdrecord: ipdrecord, department: department,procedure:  procedure,opdrecords: opdrecords,opd_data: opd_data} %>
      </div>

      <div class="step-pane" data-step="2">
        <!-- I m in 2 (Common Filter) -->
        <% if  department == "orthopedics" %>
            <%= render partial: "inpatient/ipd_records/orthopedics/admission/forms/clinical_form", locals: {f: f, admission: admission, patient: patient, ipdrecord: ipdrecord, department: department } %>
        <%elsif department == "ophthalmology"%>
            <%= render partial: "inpatient/ipd_records/common/admission/forms/clinical_form.html.erb", locals: {f: f, admission: admission, patient: patient, ipdrecord: ipdrecord, department: department } %>
        <% end %>
      </div>

      <!--<div class="step-pane" data-step="3">-->
        <!-- I m in 3 (Common Filter) -->
        <%#= render partial: "inpatient/ipd_records/common/admission/forms/nursing_form.html.erb", locals: {f: f, admission: admission, patient: patient, ipdrecord: ipdrecord, department: department } %>
      <!--</div>-->

      <div class="step-pane" data-step="3">
        <!-- I m in 4 (Common Filter) -->
        <%= render partial: "inpatient/ipd_records/common/admission/forms/history_form.html.erb", locals: {f: f, admission: admission, patient: patient, ipdrecord: ipdrecord, department: department } %>
      </div>

      <div class="step-pane" data-step="4">
        <!-- I m in 5 (Common Filter) -->
        <%= render partial: "inpatient/ipd_records/common/admission/forms/assessment_form.html.erb", locals: {f: f, admission: admission, patient: patient, ipdrecord: ipdrecord, department: department } %>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .admissionnote_steps {
    cursor: pointer !important;
  }
</style>
<script type="text/javascript">
  $(document).ready(function(){
    var wind = $(window).height()
    $(".step-content").css('height', wind - 205)
    // Initialize Wizard
    $("#admissionWizard").wizard();
    // Disable Enable Prev Next On First and Last Step respectively
    $('#admissionWizard').on('actionclicked.fu.wizard', function (evt, data) {
      // Disable Prev Button on First Step
      if(data.step == 0 || (data.step == 2 && data.direction == "previous")) {
        $(".btn-prev").attr('disabled','disabled');
      } else {
        $(".btn-prev").removeAttr('disabled','disabled');
      }
      // Disable Next Button on First Step
      if(data.step == 4 && data.direction == "next") {
        $(".btn-next").attr('disabled','disabled');
      } else {
        $(".btn-next").removeAttr('disabled','disabled');
      }
    });

    //  Step Name Click Option
    $(".admissionnote_steps").on('click',function(){
      // Disable Enable Prev Next button
      if($(this).attr('data-step') == 1) {
        $(".btn-prev").attr('disabled','disabled');
      } else {
        $(".btn-prev").removeAttr('disabled','disabled');
      }

      if($(this).attr('data-step') == 5) {
        $(".btn-next").attr('disabled','disabled');
        $("#admissionWizard").wizard('next').wizard('next').wizard('next').wizard('next');
      } else {
        $(".btn-next").removeAttr('disabled','disabled');
      }

      if($(this).attr('data-step') == 2) {
        $("#admissionWizard").wizard('next');
      } else if($(this).attr('data-step') == 3) {
        $("#admissionWizard").wizard('next').wizard('next');
      } else if($(this).attr('data-step') == 4) {
        $("#admissionWizard").wizard('next').wizard('next').wizard('next');
      }
    })
    // alert($(window).height())

  });
</script>