<% if department == "ophthalmology" %>
  <% steps = [1,"",2,3,4] %>
<% else %>
  <% steps = [1,2,3,4,5] %>
<% end %>
<div class="fuelux">
  <div class="wizard" id="operativeWizard">
    <ul class="steps">
        <li data-step="<%= steps[0] %>" class="otnote_steps active"><span class="badge"><%= steps[0] %></span> OT Checklist<span class="chevron"></span></li>
        <% unless department == "ophthalmology"  %>
          <li data-step="<%= steps[1] %>" class="otnote_steps"><span class="badge"><%= steps[1] %></span> Theatre<span class="chevron"></span></li>
        <% end %>
        <li data-step="<%= steps[2] %>" class="otnote_steps"><span class="badge"><%= steps[2] %></span> Inventory<span class="chevron"></span></li>
        <li data-step="<%= steps[3] %>" class="otnote_steps"><span class="badge"><%= steps[3] %></span> Personnel<span class="chevron"></span></li>
        <li data-step="<%= steps[4] %>" class="otnote_steps"><span class="badge"><%= steps[4] %></span> Surgery<span class="chevron"></span></li>
    </ul>

    <div class="actions">
      <button type="button" class="btn btn-default btn-prev" disabled="disabled"><span class="glyphicon glyphicon-arrow-left"></span>Prev</button>
      <button type="button" class="btn btn-default btn-next">Next<span class="glyphicon glyphicon-arrow-right"></span></button>
    </div>
    
    <div class="step-content" style="overflow:scroll;">
      <div class="step-pane active" data-step="<%= steps[0] %>">
        <!-- I m in 1 (Dept Filter) -->
        <%= render partial: "inpatient/ipd_records/" + department + "/operative/forms/otchecklist_form.html.erb", locals: {f: f, admission: admission, patient: patient, ipdrecord: ipdrecord } %>
      </div>

      <% unless department == "ophthalmology" %>
        <div class="step-pane" data-step="<%= steps[1] %>">
          <!-- I m in 2 (Dept Filter) -->
          <%= render partial: "inpatient/ipd_records/" + department + "/operative/forms/theatre_form.html.erb", locals: {f: f, admission: admission, patient: patient, ipdrecord: ipdrecord } %>
        </div>
      <% end %>

      <div class="step-pane" data-step="<%= steps[2] %>">
        <!-- I m in 3 (Dept Filter) -->
        <%= render partial: "inpatient/ipd_records/" + department + "/operative/forms/inventory_form.html.erb", locals: {f: f, admission: admission, patient: patient, ipdrecord: ipdrecord } %>
      </div>

      <div class="step-pane" data-step="<%= steps[3] %>">
        <!-- I m in 4 (Common Filter) -->
        <%= render partial: "inpatient/ipd_records/common/operative/forms/personnel_form.html.erb", locals: {f: f, admission: admission, patient: patient, ipdrecord: ipdrecord, department: department } %>
      </div>

      <div class="step-pane" data-step="<%= steps[4] %>">
        <!-- I m in 5 (Common Filter) -->
        <%= render partial: "inpatient/ipd_records/common/operative/forms/surgery_form.html.erb", locals: {f: f, admission: admission, patient: patient, ipdrecord: ipdrecord, department: department,procedure: procedure } %>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .otnote_steps {
    cursor: pointer !important;
  }
</style>
<script type="text/javascript">
  $(document).ready(function(){
    var wind = $(window).height()
    $(".step-content").css('height', wind - 230)
    // Initialize Wizard
    $("#operativeWizard").wizard();
    // Disable Enable Prev Next On First and Last Step respectively
    $('#operativeWizard').on('actionclicked.fu.wizard', function (evt, data) {
      // Disable Prev Button on First Step
      if(data.step == 0 || (data.step == 2 && data.direction == "previous")) {
        $(".btn-prev").attr('disabled','disabled');
      } else {
        $(".btn-prev").removeAttr('disabled','disabled');
      }
      // Disable Next Button on First Step
      <% if @department == "ophthalmology" %>
        if(data.step == 3 && data.direction == "next") {
          $(".btn-next").attr('disabled','disabled');
        } else {
          $(".btn-next").removeAttr('disabled','disabled');
        }
      <% else %>
        if(data.step == 4 && data.direction == "next") {
          $(".btn-next").attr('disabled','disabled');
        } else {
          $(".btn-next").removeAttr('disabled','disabled');
        }
      <% end %>
    });

    //  Step Name Click Option
    $(".otnote_steps").on('click',function(){
      // Disable Enable Prev Next button
      if($(this).attr('data-step') == 1) {
        $(".btn-prev").attr('disabled','disabled');
      } else {
        $(".btn-prev").removeAttr('disabled','disabled');
      }

      <% if @department == "ophthalmology" %>
        if($(this).attr('data-step') == 4) {
          $(".btn-next").attr('disabled','disabled');
          $("#operativeWizard").wizard('next').wizard('next').wizard('next').wizard('next');
        } else {
          $(".btn-next").removeAttr('disabled','disabled');
        }
      <% else %>
        if($(this).attr('data-step') == 5) {
          $(".btn-next").attr('disabled','disabled');
          $("#operativeWizard").wizard('next').wizard('next').wizard('next').wizard('next');
        } else {
          $(".btn-next").removeAttr('disabled','disabled');
        }
      <% end %>

      if($(this).attr('data-step') == 2) {
        $("#operativeWizard").wizard('next');
      } else if($(this).attr('data-step') == 3) {
        $("#operativeWizard").wizard('next').wizard('next');
      } else if($(this).attr('data-step') == 4) {
        $("#operativeWizard").wizard('next').wizard('next').wizard('next');
      }
    })
  });
</script>