<% if @ots.count > 0 %>
  <% @min_date = @ots[0].otdate.strftime("%d/%m/%Y") %>
<% else %>
  <% @min_date = @admission.admissiondate.strftime("%d/%m/%Y") %>
<% end %>

<% @admissiondate = @admission.admissiondate.strftime("%d/%m/%Y") %>

<% if @admission.dischargedate %>
  <% @dischargedate = @admission.try(:dischargedate).try(:strftime, "%d/%m/%Y") %>
<% else %>
  <% @dischargedate = Date.current.strftime("%d/%m/%Y") %>
<% end %>

<%= hidden_field_tag "inpatient_ipd_record[admission_attributes][dischargedate]", '', class: "hidden_dischargedate_datepicker" %>
<%= hidden_field_tag "inpatient_ipd_record[admission_attributes][dischargetime]", '', class: "hidden_dischargetime_timepicker" %>
<%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][discharge_date]", '', class: "hidden_dischargedate_datepicker" %>
<%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][discharge_time]", '', class: "hidden_dischargetime_timepicker" %>

<div class="row mb30" style="margin-top: 20px;">
  <div class="col-md-7 col-md-offset-5">
    <span class="label label-warning"><b>Note:</b> The Discharge Date & Time Selected Here will be considered while discharging patient.</span>
  </div>
  <div class="col-md-2 text-right">
    Admission Date :
  </div>
  <div class="col-md-2">
    <%= f.text_field :admission_date, { class: "datepicker form-control", value: @admissiondate,name: "[inpatient_ipd_record][admission_attributes][admissiondate]" } %>
  </div>
  <div class="col-md-2 text-right">
    Discharge Date :
  </div>
  <div class="col-md-2">
    <%#= f.text_field :discharge_date, { class: "datepicker_dischargedate form-control", value: @dischargedate }  %>
    <%= text_field_tag :discharge_date, @admission.try(:dischargedate).try(:strftime, "%d/%m/%Y"), class: "datepicker_dischargedate form-control discharge_value" , readonly: 'readonly' %>
  </div>
  <div class="col-md-2 text-right">
    Discharge Time :
  </div>
  <div class="col-md-2 bootstrap-timepicker timepicker">
    <%#= f.text_field :discharge_time, { class: "form-control timepicker-dischargetime",value: @admission.dischargetime.try(:strftime,"%I:%M %P")} %>
    <%= text_field_tag :discharge_time, @admission.try(:dischargetime).try(:strftime, "%I:%M %P"), class: "timepicker-dischargetime form-control discharge_value" %>
  </div>
</div>

<div class="row mb20">
    <div class="col-md-1 text-right">
      Diagnosis :
    </div>
    <div class="col-md-2 text-right">
        <%= f.text_area :diagnosis, {style: "width:125%;",rows: 3, class: "form-control",value: @discharge_note.read_attribute(:diagnosis) || (@ipdrecord.operative_notes.pluck(:diagnosis).join(',') if @ipdrecord.operative_notes.count > 0 && @ipdrecord.operative_notes.pluck(:diagnosis).join(',').present?) || @ipdrecord.clinical_note.try(:diagnosis)} %>
    </div>

    <div class="col-md-1 col-md-offset-1 text-right">
        Procedure :
    </div>
    <div class="col-md-2 text-right">
        <%= f.text_area :procedure, {style: "width:125%;",rows: 3, class: "form-control",value: @discharge_note.read_attribute(:procedure) || (@ipdrecord.operative_notes.pluck(:procedure_performed).join(',') if @ipdrecord.operative_notes.count > 0 && @ipdrecord.operative_notes.pluck(:procedure_performed).join(',').present?) || @ipdrecord.clinical_note.try(:procedurelist) } %>
    </div>

    <div class="col-md-1 col-md-offset-1 text-right">
        Investigation Notes :
    </div>
    <div class="col-md-2">
        <%= f.text_area :investigation_notes, {style: "width:125%;",rows: 3, class: "form-control",value: @discharge_note.read_attribute(:investigation_notes) || @ipdrecord.clinical_note.try(:investigation)} %>
    </div>
</div>

<div class="row mb20">
  <div class="col-md-2 text-right">
    Treatment Type :
  </div>
  <div class="col-md-1">
    <%= f.input :treatment_type, wrapper_html: {:class=>"routine-emergency", style: "width:155%;"}, collection: ['Medical', 'Surgical'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => { }, :checked => @discharge_note.read_attribute(:treatment_type) || @ipdrecord.expected_management%>
  </div>
  <div class="col-md-2 text-right">
    Treatment Notes :
  </div>
  <div class="col-md-2 text-right">
    <%= f.text_area :treatment_notes, {style: "width:125%;",rows: 3, class: "form-control",value: @discharge_note.read_attribute(:treatment_notes)} %>
  </div>
  <div class="col-md-2 text-right">
    Condition On Discharge :
  </div>
  <div class="col-md-2 text-right">
    <%= f.text_area :patient_condition, {style: "width:125%;",rows: 3, class: "form-control diagnosis",value: @discharge_note.read_attribute(:patient_condition)} %>
  </div>
</div>

<style type="text/css">
  .discharge_value {
    background-color: #fff !important;
    cursor: pointer !important;
  }
</style>

<script type="text/javascript">
  datepicker_options = {
    maxDate: -0,
    dateFormat: "dd/mm/yy",
  }

  datepicker_options_disc = {
    minDate: <%= (Date.parse(@min_date) - Date.current) %>,
    // maxDate: -0,
    dateFormat: "dd/mm/yy"
  }

  $(".datepicker").datepicker(datepicker_options);

  $(".datepicker_dischargedate").datepicker(datepicker_options_disc);
  // $(".datepicker_dischargedate").datepicker("setDate", new Date());

  $(".timepicker-dischargetime").timepicker({minuteStep: 5})
  if("<%= @admission.try(:dischargetime).to_s %>" === ""){
    $(".timepicker-dischargetime").val("")
  }

  <% if params[:action] == "new" %>
    function get_diagnosis(){
      var diagnosis_output = ""
      $.ajax({
          url: "/inpatient/ipd_records/get_diagnosis_output",
          data: {
              patient_id: '<%= @patient.id.to_s%>',
              ipdrecord_id: '<%= @clinical_note.try(:id)%>'
          },
          success: function(res){
              if (<%= @clinical_note.try(:provision_diagnosis) != ""%>){
                  for(i=0;i<res.output.length;i++){
                     diagnosis_output += res.output[i] + "\n"
                  }
                $(".diagnosis").text(diagnosis_output)
              }
              else{
                $(".diagnosis").text(res.output)
              }
          },
          error: function(err){
          }
      })
    }
    get_diagnosis();
  <% end %>

$(".datepicker_dischargedate").on('change', function(){
  var timestamp = $(this).val() + " " + $(".timepicker-dischargetime").val()
  $(".hidden_dischargedate_datepicker").attr("value", timestamp)
  $(".hidden_dischargetime_timepicker").attr("value", timestamp)
}).trigger('change')

$(".timepicker-dischargetime").on('change', function(){
  var timestamp = $(".datepicker_dischargedate").val() + " " + $(this).val()
  $(".hidden_dischargetime_timepicker").attr("value", timestamp)
  $(".hidden_dischargedate_datepicker").attr("value", timestamp)
}).trigger('change')


</script>