
    <% if operative_note %>
        <!-- Surgeon -->
        <% if operative_note.read_attribute(:surgeon).to_i == 1 %>
            <% surgeon = operative_note.read_attribute(:surgeon1) %>
        <% elsif operative_note.read_attribute(:surgeon).to_i == 2 %>
            <% surgeon = operative_note.read_attribute(:surgeon1) + ', ' + operative_note.read_attribute(:surgeon2) %>
        <% elsif operative_note.read_attribute(:surgeon).to_i == 3 %>
            <% surgeon = operative_note.read_attribute(:surgeon1) + ', ' + operative_note.read_attribute(:surgeon2) + ', ' + operative_note.read_attribute(:surgeon3) %>
        <% end %>
        <!-- Anaesthetist -->
        <% anaesthetist = "" %>
        <% if operative_note.read_attribute(:anaesthetist).to_i == 1 %>
            <% anaesthetist = operative_note.read_attribute(:anaesthetist1) %>
        <% elsif operative_note.read_attribute(:anaesthetist).to_i == 2 %>
            <% anaesthetist = operative_note.read_attribute(:anaesthetist1) + ', ' + operative_note.read_attribute(:anaesthetist2) %>
        <% elsif operative_note.read_attribute(:anaesthetist).to_i == 3 %>
            <% anaesthetist = operative_note.read_attribute(:anaesthetist1) + ', ' + operative_note.read_attribute(:anaesthetist2) + ', ' + operative_note.read_attribute(:anaesthetist3) %>
        <% end %>
    <% end %>

    <% if operative_note.read_attribute(:procedure_performed).present? %>
        <div class="col-md-12">
          <b>Surgery Perfomed:</b> <%= operative_note.read_attribute(:procedure_performed) %>
        </div>
    <% end %>

    <%if operative_note.advice.present? %>
      <div class="advice col-md-12">
        <% advice_content = operative_note.advice.advice_content %>
          <% if advice_content.present? && advice_content.to_s != "<br>" %>
            <strong>Advice & Precautions : </strong>
            <%= advice_content.html_safe %>
          <% end %>
      </div>
    <%end%>

    <% if operative_note.surgerydate.present? %>
        <div class="col-md-4">
          <b>Surgery Date:</b>
          <%= operative_note.read_attribute(:surgerydate) %>
        </div>
    <% end %>

    <% if operative_note.read_attribute(:anesthesia).present? %>
        <div class="col-md-6">
          <b>Anesthesia Used:</b> <%= operative_note.read_attribute(:anesthesia) %>
        </div>
    <% end %>


        <!--<div class="row mb10">-->

          <% unless operative_note.read_attribute(:surgeon).to_i == 0 %>
              <div class="col-md-12">
                <b>Surgeon :</b> <%= surgeon %>
              </div>
          <% end %>
          <% unless operative_note.read_attribute(:anaesthetist).to_i == 0 %>
              <div class="col-md-12">
                <b>Anaesthetist :</b> <%= anaesthetist %>
              </div>
          <% end %>
          <% if operative_note.procedure_note.present? %>
              <% if @discharge_note.read_attribute(:print_procedure)  %>
                  <div class="col-md-12">
                    <b>Procedure Note:</b> <%= operative_note.procedure_note.html_safe() %>
                  </div>
              <% end %>
          <% end %>
        <!--</div>-->

  <!--<div class="row mb10">-->
    <% if operative_note.read_attribute(:post_op_plan).present? %>
        <div class="col-md-12">
          <b>Post-Op Plan :</b> <%= operative_note.read_attribute(:post_op_plan) %>
        </div>
    <% end %>
  <!--</div>-->
