<div class="row mb30" style="margin-top: 20px;">
  <div class="col-md-6 befor_surgery">
    <h4 class="text-center">Befor Surgery</h4>
    <div class="row mb20 add-file">
      <div class="col-md-offset-1 col-md-3">
          <span class="btn btn-file bk-image" style="height: 100%;width: 91%">
            <% if @image_before_surgery_1%>
            <%= image_tag(@image_before_surgery_1.asset_path_url, :width=>"100", :height=>"100", :class=>"thumb",:style=>"border-style: solid;", :onclick=>"$(this).parent().find('.profile_pic').click();")%>
            <%else%>
            <%= image_tag("photos/plus.png", :width=>"100", :height=>"100", :class=>"thumb",:style=>"border-style: solid;", :onclick=>"$(this).parent().find('.profile_pic').click();")%>
            <%end%>
            <input style="visibility:hidden" class="profile_pic" onchange="readURL(this)" type="file" name="before_surgery_1[asset_path]" id="inpatient_ipd_record_asset_path">
            <input type="text" name="before_surgery_1[name]" class="img_name" placeholder="Name" value="<%= @image_before_surgery_1.try(:name)%>">
          </span>

        <input type="hidden" name="before_surgery_1[id]" value="<%= @image_before_surgery_1.try(:id)%>">
        <input type="hidden" id="image-count" value=1>
      </div>
      <div class=" col-md-offset-3 col-md-3">
          <span class="btn btn-file bk-image" style="height: 100%;width: 91%">
            <% if @image_before_surgery_2%>
            <%= image_tag(@image_before_surgery_2.asset_path_url, :width=>"100", :height=>"100", :class=>"thumb",:style=>"border-style: solid;", :onclick=>"$(this).parent().find('.profile_pic').click();")%>
            <%else%>
            <%= image_tag("photos/plus.png", :width=>"100", :height=>"100", :class=>"thumb",:style=>"border-style: solid;", :onclick=>"$(this).parent().find('.profile_pic').click();")%>
            <%end%>
            <input style="visibility:hidden" class="profile_pic" onchange="readURL(this)" type="file" name="before_surgery_2[asset_path]" id="inpatient_ipd_record_asset_path">
            <input type="text" name="before_surgery_2[name]" class="img_name" placeholder="Name" value="<%= @image_before_surgery_2.try(:name)%>">
          </span>
        <input type="hidden" name="before_surgery_2[id]" value="<%= @image_before_surgery_2.try(:id)%>">
        <input type="hidden" id="image-count" value=1>
      </div>
    </div>
  </div>
  <div class="col-md-6 after_surgery">
    <h4 class="text-center">After Surgery</h4>
    <div class="row mb20 add-file">
      <div class="col-md-offset-1 col-md-3 boxed">
          <span class="btn btn-file bk-image" style="height: 100%;width: 91%">
            <% if @image_after_surgery_1%>
            <%= image_tag(@image_after_surgery_1.asset_path_url, :width=>"100", :height=>"100", :class=>"thumb",:style=>"border-style: solid;", :onclick=>"$(this).parent().find('.profile_pic').click();")%>
            <%else%>
            <%= image_tag("photos/plus.png", :width=>"100", :height=>"100", :class=>"thumb",:style=>"border-style: solid;", :onclick=>"$(this).parent().find('.profile_pic').click();")%>
            <%end%>
            <input style="visibility:hidden" class="profile_pic" onchange="readURL(this)" type="file" name="after_surgery_1[asset_path]" id="inpatient_ipd_record_asset_path">
            <input type="text" name="after_surgery_1[name]" class="img_name" placeholder="Name" value="<%= @image_after_surgery_1.try(:name)%>">
          </span>
        <input type="hidden" name="after_surgery_1[id]" value="<%= @image_after_surgery_1.try(:id)%>">
        <input type="hidden" id="image-count" value=1>
      </div>
      <div class=" col-md-offset-3 col-md-3 boxed">
          <span class="btn btn-file bk-image" style="height: 100%;width: 91%">
            <% if @image_after_surgery_2%>
            <%= image_tag(@image_after_surgery_2.asset_path_url, :width=>"100", :height=>"100", :class=>"thumb",:style=>"border-style: solid;", :onclick=>"$(this).parent().find('.profile_pic').click();")%>
            <%else%>
            <%= image_tag("photos/plus.png", :width=>"100", :height=>"100", :class=>"thumb",:style=>"border-style: solid;", :onclick=>"$(this).parent().find('.profile_pic').click();")%>
            <%end%>
            <input style="visibility:hidden" class="profile_pic" onchange="readURL(this)" type="file" name="after_surgery_2[asset_path]" id="inpatient_ipd_record_asset_path">
            <input type="text" name="after_surgery_2[name]" class="img_name" placeholder="Name" value="<%= @image_after_surgery_2.try(:name)%>">
          </span>
        <input type="hidden" name="after_surgery_2[id]" value="<%= @image_after_surgery_2.try(:id)%>">
        <input type="hidden" id="image-count" value=1>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
    .befor_surgery {
        border-right: 1px solid #ddd;
        text-decoration: underline;
    }

    .after_surgery h4, .time_out h4 {
        text-decoration: underline;
    }

    .bk-image{
      background-image: url("https://s32.postimg.org/twnll7nz9/frame.png");
      background-size: contain;
        background-repeat: no-repeat;
    }
    .img_name{
        position: absolute;
        left: 12px;
        top: 137px;
        width: 119px;
        color: #002166;
    }
    .thumb{
        border-style: solid;
        margin-left: -5px;
        margin-top: 3px;
    }
</style>
<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $(input).parent().find(".thumb").attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>