<div class="row mb10" style="background:#354670;color:#fff">
  <div class="col-md-3">
    <h3>Contact List</h3>
  </div>
  <div class="col-md-3 text-right">
    <input type="text" name="" class="search-contact form-control" placeholder="Search Contact..." value="<%= params[:search] %>" style="margin-top: 15px;">
  </div>
  <div class="col-md-6 text-right">
    
    <div class="btn-group" style="margin-top: 10px;">  
      <button class="btn btn-primary dropdown-toggle"  style="margin-top: 8px;" type="button" data-toggle="dropdown">TPA Contact  <span class="caret"></span></button>
      <ul class="dropdown-menu" style="margin-top: -5px;">
        <li><a href="/contacts/new?form_type=tpa" data-remote="true" data-toggle="modal" data-target="#contact-modal">Create New</a></li>
        <li><a href="/contacts/tpa_list_view" data-remote="true" data-toggle="modal" data-target="#contact-modal">Select From List</a></li>
      </ul>

      <%= link_to new_contact_path(form_type: 'non_tpa'), class: "btn btn-primary navbar-btn", id: "add_contact", data: {remote: true, 'toggle': 'modal', 'target': '#contact-modal'} do %><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Contact<% end %>
      <%= link_to contact_groups_path, class: "btn btn-primary navbar-btn", id: "add_group", data: {remote: true, 'toggle': 'modal', 'target': '#contact-modal'} do %><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Group<% end %>
    </div>

  </div>
</div>

<div class="row mb10">
  <div class="col-md-6">
    <b class="filter-search-text">Filtered as <b style="color:#f00;">"ALL"</b></b>
  </div>
  <div class="col-md-4 text-right">
    <b style="color:#000;">Filter By Group:</b>
  </div>
  <div class="col-md-2">
    <select class="filter-contact-group form-control">
      <option value="all">All</option>
      <% @contact_groups.each do |contact_group| %>
        <option value="<%= contact_group.id %>"><%= contact_group.name %></option>
      <% end %>
    </select>
  </div>
</div>
<div id='show-contacts-details'>
  <%= render partial: 'view.html.erb' %>
</div>