<div class="row">
  <% @contacts.each_with_index do |contact, i| %>
    <div class="col-md-6" style="padding: 5px;">
      <span class="ckbox ckbox-primary" style="padding-top: 5px;">
        <input type="hidden" name="contacts[<%=i%>][id]" value='<%=contact.id%>'>
        <input type="hidden" name="contacts[<%=i%>][flag]" value='false'>

        <%= check_box_tag "contacts[#{i}][flag]", true, !contact.is_deleted?, {class: 'check_box', id: "contact_name_#{i}"} %>
        <label style="margin-top: 0px;" for="contact_name_<%= i%>"><b style="color: #000;"> <%= contact.display_name %></b></label>
      
      </span>
    </div>
  <% end %>
</div>