<div class="row all-contact-row">
  <% if @contacts.count > 0 %>
    <table class="table">
      <thead>
        <th>Details</th>
        <th class="text-center">Contact</th>
        <th class="text-left">Address</th>
        <th class="text-left">Group</th>
        <th class="text-center">Actions</th>
      </thead>
      <tbody>
        <% @contacts.each do |contact| %>
          <tr class="each-contact-table-row">
            <td>
              <b class="contact_name" style="color:#000;"><%= contact.display_name.to_s %></b>
              <% if contact.first_name.present? || contact.last_name.present? %><br>Name: <%= "#{contact.first_name} #{contact.last_name}" %><% end %>
              <% if contact.company_name.present? %><br>Company: <%= contact.company_name %><% end %>
            </td>
            <td class="text-center">
              <%= contact.work_number.to_s %>
              <%= "/" if contact.work_number.present? && contact.mobile_number.present? %>
              <%= contact.mobile_number.to_s %>
            </td>
            <td style="white-space: pre-wrap;word-wrap: break-word;">
              <%= (contact.address_line_1 + ',' if contact.address_line_1.present?) || '<span style="opacity:0.4">Address Line 1,</span>'.html_safe %><br>
              <%= (contact.address_line_2 + ',' if contact.address_line_2.present?) || '<span style="opacity:0.4">Address Line 2,</span>'.html_safe %><br>
              <%= (contact.city + ',' if contact.city.present?) || '<span style="opacity:0.4">City, </span>'.html_safe %>
              <%= (contact.district + ',' if contact.district.present?) || '<span style="opacity:0.4">State - </span>'.html_safe %>
              <%= (contact.commune + ',' if contact.commune.present?) || '<span style="opacity:0.4">State - </span>'.html_safe %>
              <%= (contact.state + ' - ' if contact.state.present?) || '<span style="opacity:0.4">State - </span>'.html_safe %>
              <%= (contact.pincode if contact.pincode.present?) || '<span style="opacity:0.4">Pincode</span>'.html_safe %>
            </td>
            <td>
              <% contact_group = @contact_groups_hash.find{ |contact_group| contact_group[:id].to_s == contact.contact_group_id.to_s } %>
              <span class="contact_group"><%= (contact_group[:name] if contact_group.present?) || "-" %></span>
            </td>
            <td class="text-center">
              <%= link_to edit_contact_path(id: contact.id.to_s), method: :get, data: {remote: true, toggle: 'modal', target: "#contact-modal"}, class: "btn btn-info btn-xs edit-btn-contact" do %>Edit<% end %>
              <% if false %>
                <%= link_to contact_path(id: contact.id.to_s), method: :delete, data: {confirm: "<b style='color:#000'>This Will Disable Contact - <b style='color:#ff0000'>'" + contact.display_name.to_s + "'</b></b>", :remote => true}, class: "btn btn-danger btn-xs delete-btn-contact" do %>Disable<% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="col-md-12 text-center mt10">
      No Contacts to Show.
    </div>
  <% end %>
</div>