<div class="row mb20">
  <div class="col-md-10 col-md-offset-1">
    <b>Tax Group Name</b>
  </div>
  <div class="col-md-6 col-md-offset-1">
    <%= f.text_field :name, class: 'form-control p7_10' %>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <b>Associate Taxes</b>
  </div>
  <div class="col-md-10 col-md-offset-1 error-here">
    <input type="text" class="error-validation-class cgst2" name="cgst2" value='true'>
    <input type="text" class="error-validation-class sgst2" name="sgst2" value='true'>
    <input type="text" class="error-validation-class igst" name="igst" value='true'>
    <input type="text" class="error-validation-class csgst1" name="csgst1" value='true'>
    <input type="text" class="error-validation-class gst1" name="gst1" value='true'>
  </div>
  <div class="col-md-10 col-md-offset-1">
    <%= f.hidden_field :tax_rate_ids, value: '' %>
    <%= f.hidden_field :rate, value: '' %>
    <table class="table table-bordered">
      <tbody id="tax-rate-tbody">
        <% @tax_rates.each_with_index do |tax_rate, i| %>
          <% boolean_value =  (true if @tax_group.tax_rate_ids.include?(tax_rate.id.to_s)) || false %>
          <tr>
            <td style="width:10%;">
              <!-- <div class="ckbox ckbox-primary"> -->
                <input type="hidden" name="" value='false'>
                <%= check_box_tag '', tax_rate.id.to_s, boolean_value, data: { type: tax_rate.type, rate: tax_rate.rate }, id: "tax_group_#{i}", class: 'tax_rate' %>
                <label for="tax_group_<%= i %>"></label>
              <!-- </div> -->
            </td>
            <td style="width:70%;"><%= tax_rate.name %></td>
            <td style="width:20%;"><%= tax_rate.rate %> %</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<style type="text/css">
  .error-validation-class {
    visibility: hidden;
    width: 0px;
    height: 0px;
    padding: 1px;
    display: block;
    border: 0px;
  }
</style>
