<table class="table">
  <thead>
    <tr>
      <th colspan="3" class="text-center">Tax Groups</th>
      <th colspan="1" class="text-right"><%= link_to new_tax_group_path, data: {remote: true, toggle: 'modal', target: "#invoice-modal"}, class: "btn btn-primary btn-xs", disabled: true do %><i class="fa fa-plus"></i> Add Tax Group<% end %></th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Includes</th>
      <th>Rate (%)</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody id="tax-rate-tbody">
    <% @tax_groups.each do |tax_group| %>
      <tr>
        <td><%= tax_group.name %></td>
        <td>
          <% tax_group.tax_rate_ids.each do |tax_rate_id| %>
            <% tax_rate = @tax_group_rates.find {|tgr| tgr[:id].to_s == tax_rate_id.to_s } %>
            <% if tax_rate.present? %>
              <%= tax_rate[:name] %> - <%= tax_rate[:rate] %> %<br>
            <% end %>
          <% end %>
        </td>
        <td><%= tax_group.rate %> %</td>
        <td>
          <% unless tax_group.is_hg_defined %>
            <%= link_to edit_tax_group_path(id: tax_group.id.to_s), data: {remote: true, toggle: 'modal', target: "#invoice-modal"}, class: "btn btn-info btn-xs btn-edit-tax-group" do %>Edit<% end %>
            <%= link_to tax_group_path(id: tax_group.id.to_s), method: :delete, data: {remote: true, confirm: "<h4>Are you sure that you want to delete <b style='color:#f00;'>#{tax_group.name}</b> ?</h4>".html_safe, commit: 'Delete'}, class: "btn btn-danger btn-xs btn-delete-tax-group" do %>Delete<% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% if @tax_groups.count == 0 %>
      <tr>
        <td colspan="4" class="text-center">No Tax Groups</td>
      </tr>
    <% end %>
  </tbody>
</table>