<div class="row mb10">
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center" style="background-color:#eee;margin-top:-10px;"><b>Patient Info</b></h4>
    </div>
  </div>
  <div class="row mb10" style="margin-right:0px;padding-left:10px">
    <div class="col-md-4">
      <b>Full Name : </b>
      <%= patient.fullname %>
    </div>
    <div class="col-md-4">
      <b>Age/Gender : </b>
      <%if @patient.calculate_age.present? || @patient.gender.present?%><%= @patient.calculate_age %>/<%= @patient.gender %><% else %> Unavailable<% end %>
    </div>
    <div class="col-md-4">
      <b>Mobile Number : </b>
      <%= patient.mobilenumber %>
    </div>
  </div>
  <div class="row mb10" style="margin-right:0px;padding-left:10px">
    <% if patient.email? %>
      <div class="col-md-4">
        <b>Email Address : </b>
        <%= patient.email %>
      </div>
    <% end %>
    <% if patient.address_1? || patient.address_2? || patient.city? || patient.state? || patient.pincode? %>
      <div class="col-md-8">
        <b>Address : </b>
        <%= patient.address_1 %>, <%= patient.address_2 %>, <%= patient.city %> , <%= patient.state %>, <%= patient.pincode %>
      </div>
    <% end %>
  </div>
</div>