<div class="patient_info_box">
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center" style="background-color:#eee;margin-top:-10px;"><b>Patient Info</b></h4>
    </div>
  </div>
  <div class="row mb20" style="margin-right:0px;">
    <div class="col-md-2 text-center">
      <b>Name</b>
    </div>
    <div class="col-md-2">
      <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control patient_first_name" id="patient_first_name" placeholder="First Name" value="<%= patient.firstname %>" type="text" name="patient[firstname]">
    </div>
    <div class="col-md-2 text-center">
      <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control patient_middle_name" id="patient_middle_name" placeholder="Middle Name" value="<%= patient.middlename %>" type="text" name="patient[middlename]">
    </div>
    <div class="col-md-2">
      <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control patient_last_name" id="patient_last_name" placeholder="Last Name" value="<%= patient.lastname %>" type="text" name="patient[lastname]">
    </div>
    <div class="col-md-2 text-center">
      <b>Mobile Number</b>
    </div>
    <div class="col-md-2">
      <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control patient_mobile" id="patient_mobile" placeholder="Mobile Number" value="<%= patient.mobilenumber %>" type="text" name="patient[mobilenumber]">
    </div>
  </div>
  <div class="row mb20" style="margin-right:0px;">
    <div class="col-md-2 text-center">
      <b>Age</b>
    </div>
    <div class="col-md-1">
      <input style="padding:5px 5px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control patient_age" id="patient_age" placeholder="Yrs" value="<%= patient.age %>" type="number" name="patient[age]">
    </div>
    <div class="col-md-1">
      <input style="padding:5px 5px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control patient_age" id="patient_age" placeholder="Mts" value="<%= patient.age_month %>" type="number" name="patient[age_month]">
    </div>
    <div class="col-md-2 text-center">
      <b>Gender</b>
    </div>
    <div class="col-md-2">
      <label>
        <input type="radio" value="Male" name="patient[gender]" <%= 'checked="checked"' if patient.gender == 'Male' %>> &nbsp;Male
      </label>
      <label>
        <input type="radio" value="Female" name="patient[gender]" <%= 'checked="checked"' if patient.gender == 'Female' %>> &nbsp;Female
      </label> 
    </div>
    <div class="col-md-2 text-center">
      <b>Email Address</b>
    </div>
    <div class="col-md-2">
      <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control patient_email" id="patient_email" placeholder="Email Address" value="<%= patient.email %>" type="text" name="patient[email]">
    </div>
  </div>
  <div class="row mb20" style="margin-right:0px;">
    <div class="col-md-2 text-center">
      <b>Address</b>
      <a href="" class="clear-pincode" style="display:none;font-size: 10px;margin-top: -7px;">  Clear</a>
    </div>
    <div class="col-md-2">
      <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control patient_pincode" id="patient_pincode" placeholder="Pincode" value="<%= patient.pincode %>" type="text" name="patient[pincode]">
    </div>
    <div class="col-md-2">
      <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control patient_state" id="patient_state" placeholder="State" value="<%= patient.state %>" type="text" name="patient[state]">
    </div>
    <div class="col-md-2">
      <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control patient_city" id="patient_city" placeholder="City" value="<%= patient.city %>" type="text" name="patient[city]">
    </div>
    <div class="col-md-2">
      <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control patient_address_1" id="patient_address_1" placeholder="Address Line 1" value="<%= patient.address_1 %>" type="text" name="patient[address_1]">
    </div>
    <div class="col-md-2">
      <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control patient_address_2" id="patient_address_2" placeholder="Address Line 2" value="<%= patient.address_2 %>" type="text" name="patient[address_2]">
    </div>    
  </div>
</div>
<style type="text/css">
  .ui-menu-item a.ui-state-focus {
    background-color: #929090; 
    color: #fff; 
  }
</style>
<script type="text/javascript">
//Search State
var country_id = "<%= current_facility.country_id %>"
if (country_id == 'IN_108'){
jQuery('#patient_state').autocomplete({
    minLength: 3,
    source: function(request, response) {
        jQuery.ajax({
            dataType: "json",
            type : 'get',
            url: '/locations/search_state',
            data: {q: request.term, country_id: country_id, remote: "true" },
            success: function(data) {
                response(data);
            },
            error: function(data) {
            }
        });
    },
    select: function( event, ui ) {
      name = ui.item["state"]
      setTimeout(function() {
      jQuery("#patient_state").val(name)
      jQuery('#patient_state').blur()
    }, 20);
    },
    create: function () {
      $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
        return $('<li>')
            .append('<a style=\"color:#000;text-shadow: 2px\">' + item.state  + '&nbsp; &nbsp; &nbsp;' + '</a>')
            .appendTo(ul);
      };
   }
});

//Search City
jQuery('#patient_city').autocomplete({
  minLength: 3,
  source: function(request,response){
    var state = jQuery('#patient_state').val();
    jQuery.ajax({
      dataType: "json",
      type : 'get',
      url: '/locations/search_city',
      data: {q: request.term, state: state, remote: "true"},
      success: function(data){
        response(data);
      },
      error: function(data){

      }
    });
  },
  select: function( event, ui ) {
      city  = ui.item["city"]
      state = ui.item["state"]
      setTimeout(function() {
      jQuery("#patient_city").val(city)
      jQuery("#patient_state").val(state)
      jQuery('#patient_city').blur()
    }, 20);
    },
  create: function () {
      $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
        return $('<li>')
            .append('<a style=\"color:#000;text-shadow: 2px\">' + item.city  + '&nbsp; &nbsp; &nbsp;' + '</a>')
            .appendTo(ul);
      };
  }
});

//Search Pincode 
jQuery('#patient_pincode').autocomplete({
  minLength: 3,
  source: function(request,response){
    var state = jQuery('#patient_state').val();
    var city = jQuery('#patient_city').val();
    jQuery.ajax({
      dataType: "json",
      type : 'get',
      url: '/locations/search_pincode',
      data: {q: request.term, state: state, city: city, remote: "true"},
      success: function(data){
        response(data);
      },
      error: function(data){

      }
    });
  },
  select: function( event, ui ) {
      pincode = ui.item["pincode"]
      city  = ui.item["city"]
      state = ui.item["state"]
      setTimeout(function() {
      jQuery("#patient_pincode").prop('readonly',true).val(pincode)
      jQuery("#patient_state").prop('readonly', true).val(state)
      jQuery("#patient_city").prop('readonly', true).val(city)
      jQuery(".clear-pincode").show()
      jQuery('#patient_pincode').blur()
    }, 20);
    },
  create: function () {
      $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
        return $('<li>')
            .append('<a style=\"color:#000;text-shadow: 2px; text-align: center;\">' + item.pincode  + '&nbsp; &nbsp; &nbsp;' + '</a>')
            .appendTo(ul);
      };
  }
});

// Clear pincode
$(".clear-pincode").on('click', function(e){
  e.preventDefault()
  $("#patient_pincode").prop('readonly',false).val("")
  $("#patient_state").prop('readonly', false).val("")
  $("#patient_city").prop('readonly', false).val("")
  $(".clear-pincode").hide()
});
}
</script>