<%= hidden_field_tag "tpa[insurance_status]", "", {:class => 'form-control insurance_status',:id => "insurance_status", :value => "Waiting" } %>
<div class="col-md-12">
  <div class="form-group row">
    <div class="col-md-3 text-center"><b>Cashless ?</b></div>
    <div class="col-md-5">
      <div class="rdio rdio-primary col-md-4">
        <%= radio_button_tag "tpa[is_insured]", "Yes", true, {:class => 'is_insured_field', :id => "is_insured_true"} %>
        <label for="is_insured_true">Yes</label>
      </div>
      <div class="rdio rdio-primary col-md-4">
        <%= radio_button_tag "tpa[is_insured]", "No", false, {:class => 'is_insured_field', :id => "is_insured_false"} %>
        <label for="is_insured_false">No</label>
      </div>
    </div>
  </div>
</div>
<div class="tpa_form_checked" style="margin-top:40px;">
  <hr>
  <div class="col-md-9" style="border-right:1px solid #eee;">
    <div class="row mb10">
      <div class="col-md-12 mb5 text-center" style="text-decoration:underline;"><b>Insurance Form</b></div>
      <div class="col-md-6">
        <%= label_tag "tpa[insurance_name]", "Insurance Name" %>
        <%= text_field_tag "tpa[insurance_name]", "", {:class => 'form-control insurance_name',:id => "insurance_name", :placeholder => "Insurance Name" } %>
      </div>
      <div class="col-md-6">
        <%= label_tag "tpa[tpa_name]", "TPA Name" %>
        <%= text_field_tag "tpa[tpa_name]", "", {:class => 'form-control tpa_name',:id => "tpa_name", :placeholder => "TPA Name" } %>
      </div>
    </div>
    <div class="row mb20">
      <div class="col-md-6">
        <%= label_tag "tpa[policy_no]", "Policy No." %>
        <%= text_field_tag "tpa[policy_no]", "", { :class => 'form-control policy_no',:id => "tpa_policy_no", :placeholder => "Policy No." } %>
      </div>
      <div class="col-md-6">
        <%= label_tag "tpa[tpa_contact_no]", "TPA Contact Number" %>
        <%= text_field_tag "tpa[tpa_contact_no]", "", {:class => 'form-control tpa_contact_no',:id => "tpa_contact_no", :placeholder => "TPA Contact Number" } %>
      </div>
    </div>
    <hr>
    <div class="row mb10">
      <div class="col-md-3 text-center"><b>Insurer ?</b></div>
      <div class="col-md-9">
        <div class="rdio rdio-primary col-md-4">
          <%= radio_button_tag "tpa[insurer]", "Personal", true, {:class => 'insurer_field', :id => "insurer_personal"} %>
          <label for="insurer_personal">Personal</label>
        </div>
        <div class="rdio rdio-primary col-md-4">
          <%= radio_button_tag "tpa[insurer]", "Company", false, {:class => 'insurer_field', :id => "insurer_company"} %>
          <label for="insurer_company">Company</label>
        </div>
      </div>
    </div>
    <div class="row mb10 insurer_company">
      <div class="col-md-6">
        <%= label_tag "tpa[company_name]", "Company Name" %>
        <%= text_field_tag "tpa[company_name]", "", {:class => 'form-control company_name',:id => "company_name", :placeholder => "Company Name" } %>
      </div>
      <div class="col-md-6">
        <%= label_tag "tpa[employee_id]", "Employee ID" %>
        <%= text_field_tag "tpa[employee_id]", "", {:class => 'form-control employee_id',:id => "employee_id", :placeholder => "Employee ID" } %>
      </div>
    </div>
    <hr>
    <div class="row mb10">
      <div class='col-md-3'>
        <%= label_tag :bracket_amount, "Bracket Amount" %>
        <%= number_field_tag "tpa[bracket_amount]", "", {:class => 'form-control bracket_amount',:id => "bracket_amount", :placeholder => "Bracket Amount" } %>
      </div>
      <div class="col-md-9">
        <%= label_tag "tpa[comment]", "Comments" %>
        <%= text_field_tag "tpa[comment]", "", {:class => 'form-control comment',:id => "comment", :placeholder => "Comments (If Any)" } %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row mb10">
      <div class="col-md-12 mb5 text-center" style="text-decoration:underline;"><b>Documents Received</b></div>
      <div class="col-md-11 col-md-offset-1">
        <div class="ckbox ckbox-primary mb5">
          <%= check_box_tag 'tpa[document_tpa_form]', true, false, {id: "doc_tpa_form"} %>
          <label for="doc_tpa_form">Insurance Form Filled</label>
        </div>
        <div class="ckbox ckbox-primary mb5">
          <%= check_box_tag 'tpa[document_passport]', true, false, {id: "doc_passport"} %>
          <label for="doc_passport">Passport</label>
        </div>
        <div class="ckbox ckbox-primary mb5">
          <%= check_box_tag 'tpa[document_aadharcard]', true, false, {id: "doc_aadharcard"} %>
          <label for="doc_aadharcard">Aadhar Card</label>
        </div>
        <div class="ckbox ckbox-primary mb5">
          <%= check_box_tag 'tpa[document_electioncard]', true, false, {id: "doc_electioncard"} %>
          <label for="doc_electioncard">Election Card</label>
        </div>
        <div class="ckbox ckbox-primary mb5">
          <%= check_box_tag 'tpa[document_insurancecard]', true, false, {id: "doc_insurancecard"} %>
          <label for="doc_insurancecard">Insurance Card</label>
        </div>
        <div class="ckbox ckbox-primary mb5">
          <%= check_box_tag 'tpa[document_employeecard]', true, false, {id: "doc_employeecard"} %>
          <label for="doc_employeecard">Employee ID</label>
        </div>
        <div class="ckbox ckbox-primary mb5">
          <%= check_box_tag 'tpa[document_drivinglicense]', true, false, {id: "doc_drivinglicense"} %>
          <label for="doc_drivinglicense">Driving License</label>
        </div>
        <div class="ckbox ckbox-primary mb5">
          <%= check_box_tag 'tpa[document_others]', true, false, {id: "doc_others"} %>
          <label for="doc_others">Others</label>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    // Logic For Insurer
    if ($('#insurer_company').is(':checked')) {
      $(".insurer_company").show();
    } else {
      $(".insurer_company").hide();
    }

    // $(".insurer_company").hide();
    $(".insurer_field").click(function(){
      if ($('#insurer_company').is(':checked')) {
        $(".insurer_company").show();
      } else {
        $(".insurer_company").hide();
      }
    });
    // Logic For IsInsured
    $('#is_insured_false').attr('checked','checked')
    if($('#is_insured_true').is(':checked')){
      $(".tpa_form_checked").show();
    } else {
      $(".tpa_form_checked").hide();

    }
    $(".is_insured_field").click(function(){
      if ($('#is_insured_true').is(':checked')) {
        $(".tpa_form_checked").show();
      } else {
        $(".tpa_form_checked").hide();
      }
    });
  });
</script>