<div class="modal-dialog" style="width:70%;">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Patient Insurance View</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-8 text-center check-height-8">
          <div class="col-md-12 mb10" style="text-decoration:underline;"><b>Insurance Form Details</b></div>
          <div class="row mb10">
            <div class="col-md-6">
              <span>
                <b>Insurance Name</b><br>
                <% if @tpa.insurance_name.present? %>
                  <%= @tpa.insurance_name %>
                <% else %>
                  --
                <% end %>
              </span>
            </div>
            <div class="col-md-6">
              <span>
                <b>TPA Name</b><br>
                <% if @tpa.tpa_name.present? %>
                  <%= @tpa.tpa_name %>
                <% else %>
                  --
                <% end %>
              </span>
            </div>
          </div>
          <div class="row mb20">
            <div class="col-md-6">
              <span>
                <b>Policy No.</b><br>
                <% if @tpa.policy_no.present? %>
                  <%= @tpa.policy_no %>
                <% else %>
                  --
                <% end %>
              </span>
            </div>
            <div class="col-md-6">
              <span>
                <b>TPA Contact No.</b><br>
                <% if @tpa.tpa_contact_no.present? %>
                  <%= @tpa.tpa_contact_no %>
                <% else %>
                  --
                <% end %>
              </span>
            </div>
          </div>
          <hr>
          <div class="row mb10">
            <div class="col-md-12">
              <span>
                <b>Insurer :</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <% if @tpa.insurer.present? %>
                  <%= @tpa.insurer %>
                <% else %>
                  --
                <% end %>
              </span>
            </div>
          </div>
          <% if @tpa.insurer.present? && @tpa.insurer == "Company" %>
            <div class="row mb10 insurer_company">
              <div class="col-md-6">
                <span>
                  <b>Company Name</b><br>
                  <% if @tpa.company_name.present? %>
                    <%= @tpa.company_name %>
                  <% else %>
                    --
                  <% end %>
                </span>
              </div>
              <div class="col-md-6">
                <span>
                  <b>Employee ID</b><br>
                  <% if @tpa.employee_id.present? %>
                    <%= @tpa.employee_id %>
                  <% else %>
                    --
                  <% end %>
                </span>
              </div>
            </div>
          <% end %>
          <% if @tpa.comment.present? %>
            <hr>
            <div class="row mb10">
              <div class="col-md-12">
                <span>
                  <b>Comment :</b> <%= @tpa.comment %>
                </span>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-md-4 text-center check-height-4">
          <div class="col-md-12 text-center" style="text-decoration:underline;"><b>Documents Received</b></div>
          <% if @tpa.document_tpa_form == true %>
            <i class="fa fa-check" style="color:#1CAF9A"></i>&nbsp;<span><b>Filled Tpa Form</b></span><br>
          <% end %>
          <% if @tpa.document_passport == true %>
            <i class="fa fa-check" style="color:#1CAF9A"></i>&nbsp;<span><b>Passport</b></span><br>
          <% end %>
          <% if @tpa.document_aadharcard == true %>
            <i class="fa fa-check" style="color:#1CAF9A"></i>&nbsp;<span><b>Aadhar Card</b></span><br>
          <% end %>
          <% if @tpa.document_electioncard == true %>
            <i class="fa fa-check" style="color:#1CAF9A"></i>&nbsp;<span><b>Election Card</b></span><br>
          <% end %>
          <% if @tpa.document_insurancecard == true %>
            <i class="fa fa-check" style="color:#1CAF9A"></i>&nbsp;<span><b>Insurance Card</b></span><br>
          <% end %>
          <% if @tpa.document_employeecard == true %>
            <i class="fa fa-check" style="color:#1CAF9A"></i>&nbsp;<span><b>Employee Card</b></span><br>
          <% end %>
          <% if @tpa.document_drivinglicense == true %>
            <i class="fa fa-check" style="color:#1CAF9A"></i>&nbsp;<span><b>Driving License</b></span><br>
          <% end %>
          <% if @tpa.document_others == true %>
            <i class="fa fa-check" style="color:#1CAF9A"></i>&nbsp;<span><b>Others</b></span><br>
          <% end %>
          <% if !@tpa.document_tpa_form == true && !@tpa.document_passport == true && !@tpa.document_aadharcard == true && !@tpa.document_electioncard == true && !@tpa.document_insurancecard == true && !@tpa.document_employeecard == true && !@tpa.document_drivinglicense == true && !@tpa.document_others == true %>
            <span><b>None Submited</b></span><br>
          <% end %>
          <div class="col-md-12 mb10 mt10 text-center" style="text-decoration:underline;border-top:1px solid #eee;padding-top:10px;"><b>Insurance Status</b></div>
          <span>
            <% if @tpa.is_insured? %>
              <% if @tpa.insurance_status.present? %>
                <% if @tpa.insurance_status == "Waiting" %>
                  <label class="label label-info"><%= @tpa.insurance_status %></label>
                <% elsif @tpa.insurance_status == "Approved" %>
                  <label class="label label-success"><%= @tpa.insurance_status %></label>
                <% elsif @tpa.insurance_status == "Rejected" %>
                  <label class="label label-danger"><%= @tpa.insurance_status %></label>
                <% end %>
              <% else %>
                --
              <% end %>
            <% else %>
              <label class="label label-default">Not Insured</label>
            <% end %>
          </span>
          <div class="col-md-12 mb10 mt10 text-center" style="text-decoration:underline;border-top:1px solid #eee;padding-top:10px;"><b>Bracket Amount</b></div>
          <h3>
            <% unless @tpa.bracket_amount.nil? %>
              <b><%= @tpa.bracket_amount %>/-</b>
            <% else %>
              <b style="opacity:0.5;">Not Mentioned</b>
            <% end %>
          </h3>
          <div class="col-md-12 mb10 mt10 text-center" style="text-decoration:underline;border-top:1px solid #eee;padding-top:10px;"><b>Amount Approved</b></div>
          <h3>
            <% unless @tpa.approved_amount.nil? %>
              <b><%= @tpa.approved_amount %>/-</b>
            <% else %>
              <b style="opacity:0.5;">Not Mentioned</b>
            <% end %>
          </h3>
          <div class="col-md-12 mb10 mt10 text-center" style="text-decoration:underline;border-top:1px solid #eee;padding-top:10px;"><b>Receipt Amount</b></div>
          <h3>
            <% invoice = Invoice::Insurance.find_by(tpa_id: @tpa.id) %>
            <% unless invoice.nil? %>
              <b><%= invoice.total.to_i %>/-</b>
            <% else %>
              <b style="opacity:0.5;">Not Yet Created</b>
            <% end %>
          </h3>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= link_to edit_inpatient_insurance_path(:id => @tpa.id.to_s, current_date: @current_date), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#insurance-modal'}, :class => "btn btn-danger", :id => "isinsured_false" do %> 
        Edit
      <% end %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

</div>

<style type="text/css">
  .check-height-4 {
    border-left: 1px solid #eee;
  }
</style>