<div class="row" style="margin-bottom:36px;">
  <div class="col-sm-6">
    <span style="font-size:20px;display:inline-block;margin-bottom:10px;color:#354670" ><strong>Template Name</strong></span><br>
    <%= f.text_field :name, { class: 'form-control p7_10 fullname', placeholder: 'Template Name' } %>
  </div>
</div>
<% filter_parameters = @policies.keys %>
<div id="PolicyTemplateWizard" class="basic-wizard">
  <ul class="filter-tabs">
    <% filter_parameters.each do |filter_parameter| %>
      <li role="presentation" class="filter-tab <%= 'active' if filter_parameter == 'INVENTORY' %>"><a href="#<%= "policy_template_#{filter_parameter.parameterize.underscore}" %>" data-link-id="<%= "policy_template_#{filter_parameter.parameterize.underscore}" %>" data-toggle="tab"><%= filter_parameter %></a></li>
    <% end %>
  </ul>
  <div class="tab-content">
    <div class="search-area">
      <input class="search-policies" type="text" placeholder="Search Policies by feature & component"></input>
    </div>
    <%= render partial: "authorization/policy_templates/policy_selection.html.erb", locals: { f: f } %>
  </div>    
</div>

<script>
  $("#PolicyTemplateWizard").wizard();
  $(".search-policies").on('keyup', function(){
    policy_list = $("#PolicyTemplateWizard").find(".tab-pane.active").find(".policy");
    search = $(this).val().trim().toUpperCase();

    if(search.trim() === "" ){
      $(".header").show()
    }else{
      $(".header").hide()
    }
    
    for (var i = policy_list.length - 1; i >= 0; i--) {
      policy_header = policy_list[i].firstElementChild.firstElementChild
      policy_feature_text = policy_header.textContent.split("(")[0].trim()
      policy_component_text = policy_header.textContent.split("(")[1].trim()

      if((policy_feature_text.indexOf(search) > -1) || (policy_component_text.indexOf(search) > -1)) {
        $(policy_list[i]).show();
      } else {
        $(policy_list[i]).hide();
      }
    }
  })
</script>

<style>
  <%= render partial: 'authorization/authorization_styles.css' %>
</style>
