<div class="row">
  <div class="col-md-4">
    <h4>MANAGE POLICY TEMPLATE</h4>
  </div>
  <div class="col-md-8 text-right">
    <%= link_to new_authorization_policy_template_path, class: 'btn btn-primary', data: { remote: true, 'toggle': 'modal', 'target': '#policy-template-modal' } do %><i class="fa fa-plus"></i> Add Policy Template<% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <% if @policy_templates.count > 0 %>
      <table id="manage_policy_templates_table" class="table table-primary table-bordered">
        <thead>
        <th>Name</th>
<!--        <th>Description</th>-->
        <th class="text-center">Actions</th>
        </thead>
        <tbody>

        <% @policy_templates.each do |policy_template| %>
          <% visibility = policy_template.is_disable ? 'visibility: hidden;' : 'visibility: visible' %>
          <tr class="each-contact-table-row">
            <td>
              <b class="policy_template_name" style="color:#000;"><%= policy_template.try(:name) %></b>
            </td>

<!--            <td>-->
<!--              <b class="policy_template_description" style="color:#000;"><%#= policy_template.try(:description) %></b>-->
<!--            </td>-->

            <td>
              <table style="width: 100%;">
                <tr>
                  <td style="<%=visibility%>">
                    <%= link_to edit_authorization_policy_template_path(id: policy_template.id.to_s), method: :get, data: { remote: true, toggle: 'modal', target: '#policy-template-modal' }, class: 'btn btn-info btn-xs', style: 'display: inline;' do %>Edit<% end %>
                  </td>

                  <td id='policy_template_disable_button_<%= policy_template.id %>'>
                    <% if policy_template.try(:is_disable) == true %>
                      <%= link_to 'Active', toggle_disable_authorization_policy_template_path(id: policy_template.id, is_disable: false), class: 'btn btn-xs btn-primary', remote: true, style: 'display: inline;' %>
                    <% else %>
                      <div class="btn btn-danger btn-xs btn-disable-policy_template" style="display: inline;" data-toggle="modal" data-target="#confirmation-modal" data-policy_template='<%= policy_template.name %>'>Disable</div>
                      <%= link_to 'Confirm', toggle_disable_authorization_policy_template_path(id: policy_template.id, is_disable: true), class: 'btn btn-danger', remote: true, style: 'display: none;', data: { dismiss: 'modal' } %>
                    <% end %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="col-md-12 text-center mt10">
        No Templates to Show.
      </div>
    <% end %>
  </div>
</div>

<style>
  #confirmation-modal a{
    display: inline-block !important;
  }
  .row-container{
    height: 25px;
  }
</style>
