<% @policies.each do |module_policy| %>
  <div class="tab-pane <%= 'active' if module_policy[0].downcase == "inventory" %>" id="<%= "policy_template_#{module_policy[0].parameterize.underscore}" %>">
    <% module_policy[1].group_by { |y| y[:feature_name] }.each do |feature_policy| %>
      <div class="header">
        <span class="heading"><%= feature_policy[0] %></span>
      </div>
      <% feature_policy[1].group_by { |y| y[:component_name] }.each do |component_policy| %>
        <div class="policy user-policy">
          <div class="policy-header">  
            <span class="heading"> <%= component_policy[0] %> <i class="heading-feature"> (<%= feature_policy[0] %>) </i> </span>
          </div>
          <div class="container-fluid">
            <%= render partial: 'policy_cards.html.erb', locals: { policies: component_policy[1], f: f } %>
          </div>
        </div>        
      <% end %>
    <% end %>
  </div>
<% end %>
