<div class="row" style="margin: 0px 0px 10px;">
  <button type="button" class="btn btn-xs btn-warning btn-show-dashboard-form pull-right">Edit Dashboard</button>
</div>
<!--<div class="row" style="margin: 0px 0px 10px; display: none">-->
  <!--<button type="button" class="btn btn-xs btn-primary btn-hide-dashboard-form pull-right">Hide</button>-->
<!--</div>-->
<div class="custom-dashboard-form" style="display: none">
  <%= simple_form_for @custom_dashboard, url: analytics_custom_dashboard_path(@custom_dashboard.id), method: "patch", format: :js, remote: true, multipart: true, html: { class: "dashboard-form", id: "dashboard-form" } do |f| %>

      <div class="modal-body" style="padding:5px 10px;background: #eee;">

        <div class="row mb10">
          <div class="col-md-3">
            <b>Dashboard Name:</b>
          </div>

          <div class="col-md-9">
            <%= f.text_field :dashboard_name, class: 'form-control p7_10', placeholder: 'Dashboard Name' %>
            <%= f.hidden_field :user_id, {:value => current_user.id,class: 'form-control p7_10'} %>
            <%= f.hidden_field :facility_id, {:value => current_facility.id, class: 'form-control p7_10'} %>
            <%= f.hidden_field :organisation_id, {:value =>current_facility.organisation_id,class: 'form-control p7_10'} %>
          </div>
        </div>

        <div class="row mb10">
          <div class="col-md-3">
            <b>Select Graphs:</b>
          </div>
          <%= f.input :selected_data, wrapper_html: {:class=>"col-md-9 col-sm-9 col-xs-9"}, collection: [ ["Patient - Old vs New","new_old_patients"],["Opd Revisit Frequency","opd_revisit_frequency"],["Patient Gender Count","patient_gender_data"],["Patient Age Count","patient_age_data"],["OPD Average Time","opd_average_time"],["Patient - Feedback Rating","patient_feedback_rating"] ], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white ',style: "height:35px !important; font-size:13px !important;",  :input_html => {:name => "analytics_custom_dashboard[selected_data]" }, :checked => @custom_dashboard.checkboxes_checked(@custom_dashboard.selected_data.to_s)%>
        </div>
        <%= submit_tag "Update Dashboard", class: "btn btn-success", data: { 'disable-with': 'Please Wait...' } %>

      </div>

      <div class="modal-footer">

      </div>
  <% end %>
</div>

<div class="row">
  <%@custom_dashboard.try(:selected_data).split(",").each do |cdd|%>
    <div class="col-sm-6 col-md-6">
      <%= render partial: '/analytics/partials/'+cdd+'.html.erb' %>
    </div><!-- panel -->
  <%end%>
</div>

