<div class="inventory-lot-toolbar1 inventory-toolbar">

  <nav class="navbar navbar-secondary navbar-fixed-top" style="margin-bottom: 0px; left: auto; right: auto; width: auto; position: relative;z-index:100; background: #354670;">
    <div class="container-fluid" style="padding-right:0;">
      <div class="col-xs-2 link-to-calendar" style="padding-left:initial">
        <div class="navbar-header" style="margin-top: 7px;">
          <button class="btn btn-link btn-xs btn-inventory-refresh"><i class="fa fa-refresh" style="color:#fff;"></i></button>
        </div>
      </div>
      <div class="col-xs-3" style="padding: 5px 10px">
        <div class="btn-group" style="margin-bottom: 0px;" role="group" aria-label="">
          <button type="button" class="btn btn-primary btn-sm dropdown-toggle " data-toggle="dropdown" style="">
            <span style=''><i class="fa fa-filter"></i> Filter By</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu children" role="menu">
            <li><div class="search-dropdown-heading">Search By Expire Date</div></li>
            <% categories = ['one_month', 'two_months', 'three_months', "default[#{@default_days}days]"]%>
            <% categories.each do |category| %>
              <li>
                <a href="/inventory/item/lot_units?store_id=<%= @store_id %>&expiry_time=<%= category %>" data-remote="true" class=""><%= category.try(:titleize).try(:camelize) %></a>
              </li>
            <% end %>
            <hr>
            <li><div class="search-dropdown-heading">Search By Sub Store</div></li>
            <% categories = ['one_month', 'two_months', 'three_months', "default[#{@default_days}days]"]%>
            <% @sub_stores.each do |sub_store| %>
              <li>
                <a href="/inventory/item/lot_units?store_id=<%= @store_id %>&lot_type_id=<%= sub_store[1] %>&lot_type=<%= sub_store[0] %>" data-remote="true" class=""><%= sub_store[0].try(:titleize).try(:camelize) %></a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="tagsinput">
            <% if @expiry_time.present? %>
              <span class="tag" data-attribute="expiry_time"><span><%= @expiry_time.try(:titleize).try(:camelize) %>&nbsp;&nbsp;</span><span title="Removing tag">x</span></span>
            <% end %>
            <% if @lot_type.present? %>
              <span class="tag" data-attribute="@lot_type"><span><%= @lot_type.try(:titleize).try(:camelize) %>&nbsp;&nbsp;</span><span title="Removing tag">x</span></span>
            <% end %>
            <% if @expiry_time.present? || @lot_type.present? %>
              <span class="clear-filters-tag">Clear Filters</span>
            <% end %>
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="inventory-items" style=" height: initial;">
  <table class="table inventory_table_center">
    <thead class="inventory-table-head">
      <tr class='thead-fixable row'>
        <td class='thead-fix col-md-4 text-left'>Description</td>
        <td class='thead-fix col-md-4'>Source</td>
        <td class='thead-fix col-md-4'>Variant Code</td>
      </tr>
    </thead>
    <tbody class="inventory-table-body", id="inventory_table_body">
      <%= render partial: 'inventory/item/lot_units/index_body.html.erb' %>
    </tbody>
  </table>
  <% unless @lot_units.count < 30 %>
    <div class="show-more-timeline">
      <a class="col-sm-12", href="javascript:;", id="show_more_inventory", data-count = "0" , style="text-align: center;text-decoration: none;position: fixed;">
        <i class="fa fa-spinner fa-spin"></i> Loading...
      </a>
    </div>
  <%end%>
</div>

<style>
  div.tagsinput {
    background: rgb(53, 70, 112)!important;
    border: none !important;
    padding:5px;
    width: auto !important;
    height: 48px !important;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
  }

  .search-dropdown-heading {
    margin: 4px 0 9px;
    padding: 0 0 5px;
    border-bottom: 1px solid #ddd;
    font-size: 11px;
    font-weight: 500;
    color: #999;
  }

  /*.tagsinput {*/
    /*width: auto !important;*/
    /*height: 48px !important;*/
    /*background: rgb(53, 70, 112)!important;*/
    /*border: none !important;*/
  /*}*/
  div.tagsinput span.tag {
    display: block;
    float: left;
    padding: 8px 5px;
    text-decoration: none;
    background: #ffffff !important;
    color: #000 !important;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
  }

  div.tagsinput span.tag:hover {
    text-decoration: line-through;
  }

  div.tagsinput span.tag a {
    font-weight: bold;
    color: #000 !important;
    opacity: 0.5;
    text-decoration: none;
    font-size: 11px;
  }
  .clear-filters-tag {
    padding: 10px;
    /*display: block;*/
    float: left;
    padding: 8px 5px;
    text-decoration: none;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
  }
  .print_button{
    border: 1px solid #6EC7EE;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    background: #6EC7EE;
    border-radius: 4px;
  }
  .print_button:hover{
    color: #fff;
    text-decoration: none;
  }

  .inventory-list-row:hover{
    background: aliceblue;
    cursor: pointer;
  }

  .inventory-list-row {
    cursor: pointer;
  }
  .navbar-secondary {
    background: #354670;
    color: white;
    border-color: transparent;
  }
</style>

<script type="text/javascript">
  $(".clear-filters-tag").on("click", function () {
    $(this).hide()
    $(".tagsinput .tag").hide()
    $(".hiddenfilter").val("")
    refreshVariantPage()
  })
  $(".tagsinput .tag").on("click", function() {
    var tagattr = $(this).attr("data-attribute")
    $(this).hide()
    $("."+tagattr).val("")
    refreshVariantPage()
  })

  function searchParams() {
    SearchParams = {}

    SearchParams.remote = true
    SearchParams.store_id = '<%= @store_id %>'
  }

  function refreshVariantPage() {
    loadingDots();
    searchParams();

    jQuery.ajax({
      type: "GET",
      dataType: "script",
      data: SearchParams,
      url: "/inventory/item/lot_units",
    }).done(function(data){
    })
  }

  function loadingDots() {
    $(".inventory-items ").html("<div class='loading_dots'><span></span> <span></span> <span></span></div>")
  }
</script>