<div class="row ot-form-row mb10">
  <div class="row ot-facility-dropdown mb10">
    <div class="col-md-4" style="margin:0 63px">
      <b style="color:#000;">Facility</b>
      <br/>
      <select class="form-control p5_10 ot-facility_id" name="facility_id" id="ot_rooms_facility_id">
        <% @facilities.each do |facility| %>
            <% if current_facility.id == facility[1].to_s %>
              <option value=<%= facility[1].to_s %> selected="selected"><%= facility[0] %></option>
            <% else %>
              <option value=<%= facility[1].to_s %>><%= facility[0] %></option>
            <% end %>
        <% end %>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <b style="color:#000;">OT Name</b>
    </div>
    <div class="col-md-3">
      <b style="color:#000;">Specialty</b>
    </div>
    <div class="col-md-3">
      <b style="color:#000;">Capacity</b>
    </div>
    <div class="col-md-1">
      <b style="color:#000;">Actions</b>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row ot-room-row mb10">
    <input type="hidden" name="ot_rooms[0][organisation_id]" id="ot_rooms_0_organisation_id" value="<%= current_facility.organisation_id %>" />
    <input type="hidden" name="ot_rooms[0][facility_id]" id="ot_rooms_0_facility_id" value="<%= current_facility._id %>", class="ot_rooms_facility_id" />
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <input type="text" class="form-control p5_10 ot-name" name="ot_rooms[0][name]" id="ot_rooms_0_name">
    </div>
    <div class="col-md-3">
      <select class="form-control p5_10 ot-specialty_id" name="ot_rooms[0][specialty_id]" id="ot_rooms_0_specialty_id">
      </select>
    </div>
    <div class="col-md-3">
      <input type="number" min="1" max="100" class="form-control p5_10 ot-capacity" name="ot_rooms[0][capacity]" id="ot_rooms_0_capacity">
    </div>
    <div class="col-md-1">
      <button class="btn btn-danger btn-remove-ot-room btn-xs" id="ot_rooms_0_remove" disabled="disabled"><i class="fa fa-trash-alt"></i></button>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<div class="row add-ot-row">
  <div class="col-md-12">
    <button class="btn btn-primary btn-xs" id="btn-add-ot-room"><i class="fa fa-add"></i> Add Room</button>
  </div>
</div>
