<div class="row mb20" style="background:#354670;color:#fff">
  <div class="col-xs-6">
    <h4>OT SETUP</h4>
  </div>
      <div class="col-md-3" style="margin-top:7px;">
        <% if @facilities.count > 1 %>
          <select class="form-control p5_10 ot-facility_id" name="facility_id" id="ot_rooms_facility_dropdown">
            <% @facilities.each do |facility| %>
              <% if current_facility.id == facility[1].to_s %>
                <option value=<%= facility[1].to_s %> selected="selected"><%= facility[0] %></option>
              <% else %>
                <option value=<%= facility[1].to_s %>><%= facility[0] %></option>
              <% end %>
            <% end %>
          </select>
        <% end %>
      </div>
      <div class="col-md-2">
        <%= link_to new_ot_room_path, data: { remote: true, toggle: "modal", target: "#ot-modal" }, class: "btn btn-primary",  style: "margin:6px;" do %><i class="fa fa-plus"></i> Add OT<% end %>
      </div>
</div>
<div class="row" id="ot-room-table">
  <%= render partial: "view.html.erb" %>
</div>
