<table class="table table-bordered ot-room-table" style="table-layout: fixed;">
  <thead>
    <tr>
      <th style="text-align:center";>OT Name</th>
      <th style="text-align:center";>OT Specialty</th>
      <th style="text-align:center";>Capacity</th>
      <th style="text-align:center";>Actions</th>
    </tr>
  </thead>
  <tbody style="text-align:center";>
    <% @ot_rooms.each do |ot_room| %>
      <tr>
        <td><%= ot_room.name %></td>
        <td>
          <% specialty = @specialties_hash.find{ |specialty| specialty[:id].to_s == ot_room.specialty_id.to_s } %>
          <span><%= specialty[:name] if specialty.present? %></span>
        </td>
        <td><%= ot_room.capacity %></td>
        <td>
          <%= link_to edit_ot_room_path(id: ot_room.id), data: { remote: true, toggle: "modal", target: "#ot-modal" }, class: "btn btn-primary btn-xs edit-ot-room" do %><i class="fa fa-edit"></i><% end %>
          <%= link_to ot_room_path(id: ot_room.id), data: { remote: true, confirm: 'Are you Sure?' }, method: :delete, class: 'btn btn-danger btn-xs del-ot-room' do %><i class="fa fa-trash-alt"></i><% end %>
        </td>
      </tr>
    <% end %>
    <% if @ot_rooms.count == 0 %>
      <tr>
        <td colspan="4">No OT Room Added</td>
      </tr>
    <% end %>
  </tbody>
</table>