<div class="row">
  <div class="form_summary">

    <div class="form-header text-center" style="padding-bottom: 30px;font-size: 1.2em;">
      <span><b style="">REQUEST FOR CASHLESS HOSPITALISATION FOR MEDICAL INSURANCE POLICY</b></span>
      <div><b>TPA Company Name: &nbsp; &nbsp;</b><%= @insurance_details.tpa_name %></div>
      <div><b>Insurance Company Name: &nbsp; &nbsp;</b><%= @insurance_details.insurance_name %></div>
    </div>

    <span><b>DETAILS OF THE THIRD PARTY ADMINISTRATOR AND INSURANCE PROVIDER </b></span>
    <hr style="border-top: 3px solid #ddd6d6;margin-top: 0px;">
    <div class="col-md-12 insurance_tpa_details_section" style="margin-left: -19px;">
      <div class="insurance_details_section col-md-6" style="margin-bottom: 13px;<%= "margin-top: -15px;" if params[:action] == "print_tpa_form" %>">
        <div style="margin-bottom:2px;"><b>Name of Insurance Company: &nbsp; &nbsp;</b><%= @insurance_details.insurance_name %><br></div>
        <div style="margin-bottom:2px;"><b>Phone Number: &nbsp; &nbsp;</b><%= @insurance_details.insurance_contact_no %><br></div>
        <div style="margin-bottom:2px;"><b>Email: &nbsp; &nbsp;</b><%= @insurance_details.insurance_email %><br></div>
        <div style="margin-bottom:2px;"><b>Insurance Address: &nbsp; &nbsp;</b><%= @insurance_details.insurance_address %><br></div>
        <div style="margin-bottom:2px;"><b>Insurance Contact Person: &nbsp; &nbsp;</b><%= @insurance_details.insurance_contact_person %><br></div>
        <div style="margin-bottom:2px;"><b>Policy No:</b> &nbsp;&nbsp;<%= @insurance_details.insurance_policy_no %></div>
        <div style="margin-bottom:2px;"><b>Policy Expiry Date:</b> &nbsp;<%= @insurance_details.insurance_policy_expiry_date.strftime("%d-%m-%Y") %></div>
      </div>

      <div class="tpa_details_section col-md-6" style="margin-bottom: 5px;">
        <div style="margin-bottom:2px;"><b>Name of TPA Company: &nbsp; &nbsp;</b><%= @insurance_details.tpa_name %><br></div>
        <div style="margin-bottom:2px;"><b>Phone Number: &nbsp; &nbsp;</b><%= @insurance_details.tpa_contact_no %><br></div>
        <div style="margin-bottom:2px;"><b>Email: &nbsp; &nbsp;</b><%= @insurance_details.tpa_email %><br></div>
        <div style="margin-bottom:2px;"><b>TPA Address: &nbsp; &nbsp;</b><%= @insurance_details.tpa_address %><br></div>
        <div style="margin-bottom:2px;"><b>TPA Contact Person: &nbsp; &nbsp;</b><%= @insurance_details.tpa_contact_person %><br></div>
        <div style="margin-bottom:2px;"><b>Toll Free FAX: &nbsp; &nbsp;</b><%= @insurance_details.toll_free_fax %></div>
      </div>
    </div>

    <span><b>FILLED BY THE INSURED / PATIENT</b></span>
    <hr style="border-top: 3px solid #ddd6d6;margin-top: 0px;">
    <div class="patient_details_section row" style="padding-bottom: 10px;margin-left: -18px;">
      <div class="col-md-12" style="margin-bottom: 3px;">
        <div class="col-md-8"><b>Patient Name:&nbsp;&nbsp;</b><%= @insurance_details.patient_name.capitalize %></div>
        <div class="col-md-4"><b>Contact number:</b> &nbsp; &nbsp;<%= @insurance_details.patient_contact_no %></div>
      </div>

      <div class="col-md-12" style="margin-bottom: 3px;">
        <div class="col-md-5">
          <b>DOB | Age: &nbsp;&nbsp;</b>
          <%= @insurance_details.patient_age %><% if @insurance_details.patient_exact_age.present? %> | <%= @insurance_details.patient_exact_age %><%end%>
        </div>
        <div class="col-md-3"><b>Gender:</b>&nbsp; &nbsp;<%= @insurance_details.gender %></div>

        <div class="col-md-4"><b>Employee ID:</b> &nbsp;&nbsp;<%= @insurance_details.employee_id %></div>
      </div>

      <div class="col-md-12" style="margin-bottom: 3px;">
        <div class="col-md-4"><b>Insured Card ID No:</b>&nbsp; &nbsp;&nbsp;&nbsp;<%= if @insurance_details.insured_card_id_no.present? then @insurance_details.insured_card_id_no else '--' end %></div>
      </div>

      <div class="col-md-12" style="margin-bottom: 3px;display: none;">
        <div class="col-md-6"><b>Currently do you have any other Mediclaim / Health Insurance:</b></div>
        <div class="col-md-4"><%= if @insurance_details.is_currently_insured == true then "Yes" else "No" end %></div>
      </div>

      <% if @insurance_details.is_currently_insured %>
        <div class="col-md-12" style="margin-bottom: 3px;">
          <div class="col-md-8"><b>i. Company Name:</b>&nbsp;&nbsp;<%= @insurance_details.current_company_name %></div>
          <div class="col-md-4"><b>ii. Other Details:</b>&nbsp;&nbsp;<%= @insurance_details.current_insurance_details %></div>
        </div>

        <div class="col-md-12" style="margin-bottom: 3px;">
          <div class="col-md-4"><b>iii. Policy No:</b> &nbsp;&nbsp;<%= @insurance_details.current_insurance_policy_no %></div>
          <div class="col-md-4"><b>iv. Policy Expiry Date:</b> &nbsp;
            <%= if @insurance_details.current_insurance_policy_expiry.present? then @insurance_details.current_insurance_policy_expiry.try(:strftime,"%d/%m/%Y") else '--' end %>
          </div>
          <div class="col-md-4"><b>v. Sum Insured:</b>&nbsp;&nbsp;<%= @insurance_details.current_insurance_sum_insured %></div>
        </div>
      <% end %>

      <div class="col-md-12" style="margin-bottom: 3px;display: none;">
        <div class="col-md-8"><b>Name of family physician:</b> &nbsp;&nbsp;<%= @insurance_details.current_family_physician_name %></div>
        <div class="col-md-4"><b>Contact No:</b>&nbsp;&nbsp;<%= @insurance_details.current_insurance_contact_no %></div>
      </div>
    </div>

    <span><b>FILLED BY THE TREATING DOCTOR / HOSPITAL</b></span>
    <hr style="border-top: 4px solid #ddd6d6;margin-top: 0px;">
    <div class="patient_details_section" style="margin-bottom: 8px;margin-left: -18px;">
      <div class="col-md-12" style="margin-bottom: 5px;">
        <div class="col-md-3"><b>Name of Treating Doctor:</b></div>
        <div class="col-md-4"><%= if @insurance_details.doctor_name.present? then @insurance_details.doctor_name else '--' end %></div>
        <div class="col-md-3"><b>Contact number:</b></div>
        <div class="col-md-2"><%=if @insurance_details.doctor_hospital_contact_no.present? then @insurance_details.doctor_hospital_contact_no else '--' end%></div>
      </div>

      <div class="col-md-12" style="margin-bottom: 5px;">
        <div class="col-md-3"><b>Disease Nature with present complain:</b></div>
        <div class="col-md-4"><%= if @insurance_details.nature_of_disease.present? then @insurance_details.nature_of_disease else '--' end %></div>
        <div class="col-md-3"><b>Relevent clinical findings:</b></div>
        <div class="col-md-2"><%=if @insurance_details.clinical_findings.present? then @insurance_details.clinical_findings else '--' end%></div>
      </div>

      <div class="col-md-12" style="margin-bottom:5px;">
        <div class="col-md-3"><b>Provisional Diagnosis:</b></div>
        <div class="col-md-4"><%=if @insurance_details.provisional_diagnosis.present? then @insurance_details.provisional_diagnosis else '--' end %></div>
        <div class="col-md-3"><b>ICD 10 Code:</b></div>
        <div class="col-md-2"><%= if @insurance_details.icd_code.present? then @insurance_details.icd_code else '--' end %></div>
      </div>

      <div class="col-md-12" style="margin-bottom:5px;">
        <div class="col-md-3"><b>Past history of present ailment if any:</b> &nbsp;&nbsp;</div>
        <div class="col-md-4"><%= if @insurance_details.past_history_present_ailment.present? then @insurance_details.past_history_present_ailment else '--' end %></div>

        <div class="col-md-3"><b>Duration of present Ailment:</b>&nbsp;&nbsp;</div>
        <div class="col-md-2"><%= if @insurance_details.duration_of_present_ailment.present? then @insurance_details.duration_of_present_ailment + " day".pluralize(@insurance_details.duration_of_present_ailment.to_i) else '--' end %></div>
      </div>

      <div class="col-md-12 mb5">
        <div class="col-md-3"><b>Date of first consultation:</b></div>
        <div class="col-lg-4"><%= if @insurance_details.date_of_first_consultation.present? then @insurance_details.date_of_first_consultation.try(:strftime,"%d/%m/%Y") else '--' end %></div>
      </div>

      <div class="row" style="margin-bottom: 5px;">
        <!-- done intentionally, because of different view issue -->
        <% if params[:action] == "update" %>
        <div><b style="margin-left: 30px;">Proposed line of treatment :</b></div>
          <div class="col-md-12" style="margin-left: 20px;">
            <div class="ckbox ckbox-primary mb5 col-md-3">
              <%= check_box_tag 'medical_management', true, @insurance_details.medical_management, { disabled: true }%>
              <label for="maternity_g"> <b style="margin-left: 5px;color: #00000087;">Medical Management</b></label>
            </div>
            <div class="ckbox ckbox-primary mb5 col-md-3">
              <%= check_box_tag 'surgical_management', true, @insurance_details.surgical_management, { disabled: true }%>
              <label for="maternity_p"> <b style="margin-left: 10px;color: #00000087;">Surgical Management</b></label>
            </div>
            <div class="ckbox ckbox-primary mb5 col-md-3">
              <%= check_box_tag 'intensive_care', true, @insurance_details.intensive_care, { disabled: true }%>
              <label for="maternity_l"> <b style="margin-left: 5px;color: #00000087;">Intensive care</b></label>
            </div>
            <div class="ckbox ckbox-primary mb5 col-md-3">
              <%= check_box_tag 'investigation', true, @insurance_details.investigation, { disabled: true }%>
              <label for="maternity_a"> <b style="margin-left: 5px;color: #00000087;">Investigation</b></label>
            </div>
            <div class="ckbox ckbox-primary mb5 col-md-3">
              <%= check_box_tag 'non_allopathic_treatment', true, @insurance_details.non_allopathic_treatment, { disabled: true }%>
              <label for="maternity_a"> <b style="margin-left: 5px;color: #00000087;">Non Allopathic Treatment</b></label>
            </div>
          </div>

        <% elsif params[:action] == "print_tpa_form" %>
          <div><b style="margin-left: 20px;">Proposed line of treatments :</b></div>
          <div class="col-md-12" style="margin-bottom: 15px;">
            <div class="col-md-3"><input type="checkbox" <%= if @insurance_details.medical_management then 'checked' end %>> <b style="margin-left: 10px;">Medical Management</b></div>
            <div class="col-md-3"><input type="checkbox" <%= if @insurance_details.surgical_management then 'checked' end %>> <b style="margin-left: 10px;">Surgical Management</b></div>
            <div class="col-md-3"><input type="checkbox" <%= if @insurance_details.intensive_care then 'checked' end %>> <b style="margin-left: 10px;">Intensive care</b></div>
            <div class="col-md-3"><input type="checkbox" <%= if @insurance_details.investigation then 'checked' end %>><b style="margin-left: 10px;">Investigation</b></div>
            <div class="col-md-6"><input type="checkbox" <%= if @insurance_details.non_allopathic_treatment then 'checked' end %>><b style="margin-left: 10px;">Non allopathic treatment</b></div>
          </div>
        <% end %>
      </div>

      <div class="col-md-12" style="margin-bottom: 13px;">
        <div class="col-md-3"><b>If Investigation or Medical management provide details:</b>&nbsp;&nbsp;</div>
        <div class="col-md-3 text-center"><%= if @insurance_details.investigation_medical_management_details.present? then @insurance_details.investigation_medical_management_details else '--' end %></div>
        <div class="col-md-2"><b>i. Route to Drug administration:</b> &nbsp;&nbsp;</div>
        <div class="col-md-3 text-center"><%= if @insurance_details.route_drug_administration.present? then @insurance_details.route_drug_administration else '--' end %></div>
      </div>

      <div class="col-md-12" style="margin-bottom: 13px;">
        <div class="col-md-3"><b>If surgical, name of surgery:</b>&nbsp;&nbsp;</div>
        <div class="col-md-3 text-center"><%= if @insurance_details.surgical_name_surgery.present? then @insurance_details.surgical_name_surgery else '--' end %></div>
        <div class="col-md-3"><b>ICD 10 PCS Code:</b> &nbsp;&nbsp;</div>
        <div class="col-md-3 text-center" style="margin-left: -45px;"><%= if @insurance_details.icd_pcs_code.present? then @insurance_details.icd_pcs_code else '--' end %></div>
      </div>

      <div class="col-md-12" style="margin-bottom: 13px;">
        <div class="col-md-3"><b>If other treatments provide details:</b>&nbsp;&nbsp;</div>
        <div class="col-md-3 text-center"><%= if @insurance_details.other_treatment_details.present? then @insurance_details.other_treatment_details else '--' end %></div>
        <div class="col-md-3"><b>How did injury occur:</b> &nbsp;&nbsp;</div>
        <div class="col-md-3 text-center" style="margin-left: -45px;"><%= if @insurance_details.injury_occur_reason.present? then @insurance_details.injury_occur_reason else '--' end %></div>
      </div>

      <div class="col-md-12" style="margin-bottom: 18px;">
        <div class="col-md-4" style="margin-bottom: 4px;"><b>i. In Case of accident: &nbsp;&nbsp; Is it RTA? :</b><%= if @insurance_details.is_rta then 'Yes' else 'No' end %></div>
        <div class="col-md-4" style="margin-bottom: 4px;">
          <b>ii. Injury Date: </b>&nbsp;&nbsp; <%= if @insurance_details.date_of_injury.present? then @insurance_details.date_of_injury.strftime("%d/%m/%Y") else '--' end %>
        </div>
        <div class="col-md-4" style="margin-bottom: 4px;"><b>iii. Reported to police: </b>&nbsp;&nbsp;<%= if @insurance_details.reported_to_police then 'Yes' else 'No' end %></div>
        <div class="col-md-4" style="margin-bottom: 4px;"><b>iv. Fir no:</b>&nbsp;&nbsp; <%= @insurance_details.fir_no %></div>
        <div class="col-md-4" style="margin-bottom: 4px;"><b>v. Injury caused due to substance abuse/ alcohal comsumption:</b>&nbsp;&nbsp; <%= if @insurance_details.is_alcohal_comsumption then 'Yes' else 'No' end %></div>
        <div class="col-md-4" style="margin-bottom: 4px;">
          <b>vi. Test conducted to establish this:</b>&nbsp;&nbsp; <%= if @insurance_details.is_alcohal_test_conducted then 'Yes' else 'No' end %>
        </div>
      </div>

      <div class="col-md-12" style="margin-bottom: 23px;">
        <div class="col-md-3"><b>In Case of maternity: &nbsp;&nbsp;</b></div>
        <div class="col-lg-6">
          <div class="ckbox ckbox-primary mb5 col-md-3">
            <%= check_box_tag 'tpa_data[maternity_g]',true, @insurance_details.maternity_g, { disabled: true }%>
            <label for="maternity_g"> <b style="margin-left: 5px;">G</b></label>
          </div>
          <div class="ckbox ckbox-primary mb5 col-md-3">
            <%= check_box_tag 'tpa_data[maternity_p]', true, @insurance_details.maternity_p, { disabled: true }%>
            <label for="maternity_p"> <b style="margin-left: 10px;">P</b></label>
          </div>
          <div class="ckbox ckbox-primary mb5 col-md-3">
            <%= check_box_tag 'tpa_data[maternity_l]', true, @insurance_details.maternity_l, { disabled: true }%>
            <label for="maternity_l"> <b style="margin-left: 5px;">L</b></label>
          </div>
          <div class="ckbox ckbox-primary mb5 col-md-3">
            <%= check_box_tag 'tpa_data[maternity_a]', true, @insurance_details.maternity_a, { disabled: true }%>
            <label for="maternity_a"> <b style="margin-left: 5px;">A</b></label>
          </div>
        </div>
        <div class="col-md-3"><b>LMP: </b>&nbsp;&nbsp;<%= if @insurance_details.lmp_date.present? then @insurance_details.lmp_date.strftime("%d/%m/%Y") else '--' end %></div>
      </div>

      <div class="col-md-12" style="margin-bottom: 4px;">
        <b style="margin-left: 10px;margin-bottom: 125px;">ADMITTED PATIENT DETAILS</b>
        <hr style="border-top: 3px solid #ddd6d6;margin-top: 0px;margin-left: 9px;margin-bottom: 8px;">
        <div class="col-md-6">
          <span><b>Date of Admission: &nbsp;&nbsp; </b><%= if @insurance_details.date_of_admission.present? then @insurance_details.date_of_admission.strftime("%d/%m/%Y") else '--' end %></span>
        </div>
        <div class="col-md-6">
          <span><b>Time of Admission: &nbsp;&nbsp; </b><%=  if @insurance_details.time_of_admission.present? then @insurance_details.time_of_admission.strftime("%I:%M %p") else '--' end %></span>
        </div>
      </div>

      <div class="col-md-12" style="margin-bottom: 4px;">
        <div class="col-md-6"><span><b>Is this an emergency or planned hospitalization event?</b></span></div>
        <div class="col-lg-6 text-left"><%= @insurance_details.admission_hospitalization_type.capitalize %></div>
      </div>

      <div class="col-md-12" style="margin-bottom: 4px;">
        <div class="col-md-6"><span><b>Expected no of days stays in hospital: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></span><%= if @insurance_details.expected_days_stay.present? then @insurance_details.expected_days_stay else '--' end %></div>
        <div class="col-lg-6 text-left">
          <span><b>Room Type:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><%= if @insurance_details.room_type.present? then @insurance_details.room_type else '--' end %>
        </div>
      </div>

      <div class="col-md-12" style="margin-bottom: 4px;">
        <div class="col-md-8"><span><b>Per Day Room rent + Nursing & service charge + Patient's diet: &nbsp;&nbsp;</b></span></div>
        <div class="col-lg-4 text-center"><%= if @insurance_details.day_room_nursing_patient_diet.present? then @insurance_details.day_room_nursing_patient_diet else '--' end %></div>
      </div>

      <div class="col-md-12" style="margin-bottom: 4px;">
        <div class="col-md-8"><span><b>Expected cost for investigations & diagnostics: &nbsp;&nbsp;</b></span></div>
        <div class="col-lg-4 text-center"><%= if @insurance_details.expected_inv_diag_cost.present? then @insurance_details.expected_inv_diag_cost else '--' end %></div>
      </div>

      <div class="col-md-12" style="margin-bottom: 4px;">
        <div class="col-md-8"><span><b>ICU Charges: &nbsp;&nbsp;</b></span></div>
        <div class="col-lg-4 text-center"><%= if @insurance_details.icu_charges.present? then @insurance_details.icu_charges else '--' end %></div>
      </div>

      <div class="col-md-12" style="margin-bottom: 4px;">
        <div class="col-md-8"><span><b>OT Charges: &nbsp;&nbsp;</b></span></div>
        <div class="col-lg-4 text-center"><%= if @insurance_details.ot_charges.present? then @insurance_details.ot_charges else '--' end %></div>
      </div>

      <div class="col-md-12" style="margin-bottom: 4px;">
        <div class="col-md-8"><span><b>Professional fees surgeon + Anesthetist fees + consultant charges: &nbsp;&nbsp;</b></span></div>
        <div class="col-lg-4 text-center"><%= if @insurance_details.professional_anesthetist_consultant_charges.present? then @insurance_details.professional_anesthetist_consultant_charges else '--' end %></div>
      </div>

      <div class="col-md-12" style="margin-bottom: 4px;">
        <div class="col-md-8"><span><b>Medicines + Consumables + Cost of implants (if applicable please specify). other hospital expenses if any: &nbsp;&nbsp;</b></span></div>
        <div class="col-lg-4 text-center"><%= if @insurance_details.medicine_consume_implants_cost.present? then @insurance_details.medicine_consume_implants_cost else '--' end %></div>
      </div>

      <div class="col-md-12" style="margin-bottom: 4px;">
        <div class="col-md-8"><span><b>All inclusive package charges if any applicable: &nbsp;&nbsp;</b></span></div>
        <div class="col-lg-4 text-center"><%= if @insurance_details.inclusive_package_charges.present? then @insurance_details.inclusive_package_charges else '--' end %></div>
      </div>

      <div class="col-md-12" style="margin-bottom: 25px;">
        <div class="col-md-8"><span><b>Total cost expected of Hospitalization: &nbsp;&nbsp;</b></span></div>
        <div class="col-lg-4 text-center"><%= if @insurance_details.total_hospitalization_cost.present? then @insurance_details.total_hospitalization_cost else '--' end %></div>
      </div>
    </div>

    <div class="past_history_chronic_illness" style="margin-bottom: 58px;margin-left: -18px;">

      <div class="col-md-12" style="margin-bottom: 4px;">
        <b style="margin-left: 10px;margin-bottom: 125px;">PAST HISTORY OF ANY CHRONIC ILLNESS:</b>
        <hr style="border-top: 3px solid #ddd6d6;margin-top: 0px;margin-left: 9px;margin-bottom: 8px;">
      </div>

      <div class="col-md-12">
        <div class="col-md-8"><span></span></div>
        <!-- <div class="col-lg-4 text-center"><span><b>Since Month / Year</b></span></div> -->
        <!-- <hr style="border-top: 3px solid #ddd6d6;margin-top: 0px;margin-left: 9px;margin-bottom: 8px;"> -->
      </div>

      <% diseases = [["Diabetes","diabetes"],["Hypertension", "hypertension"],["Alcoholism","alcoholism"],["Smoking Tobacco","smoking_tobacco"],["Cardiac Disorder","cardiac_disorder"],["Steroid Intake","steroid_intake"],[ "Drug Abuse","drug_abuse"], ["Hiv Aids","hiv_aids"],[ "Cancer Tumor","cancer_tumor"], ["Tuberculosis","tuberculosis"], ["Asthma", "asthma"], ["Cns Disorder Stroke", "cns_disorder_stroke"],[ "Hypothyroidism","hypothyroidism"], ["Hyperthyroidism","hyperthyroidism"], ["Hepatitis Cirrhosis","hepatitis_cirrhosis"], ["Renal Disorder","renal_disorder"], ["Acidity","acidity"], ["On insulin","on_insulin"], ["On Aspirin Blood Thinners","on_aspirin_blood_thinners"], ["Consanguinity","consanguinity"], ["Thyroid Disorder", "thyroid_disorder"], ["Chewing Tobacco", "chewing_tobacco"], ["Rheumatoid Arthritis", "rheumatoid_arthritis"], ["Benign Prostatic Hyperplasia(BPH)", "benign_prostatic_hyperplasia"]] %>

      <% diseases.each_with_index do |disease| %>

        <% disease_value = @insurance_details.instance_eval(disease[1]) %>
        <% duration = @insurance_details.instance_eval(disease[1] + "_duration") %>
        <% duration_unit = @insurance_details.instance_eval(disease[1] + "_duration_unit") %>

        <div class="col-md-12" style="margin-bottom: 4px;">
          <div class="col-md-8"><span><b><%= disease[0] %>: &nbsp;&nbsp;</b></span></div>
          <div class="col-lg-4 text-center">
            <% if disease_value %>
              <% if duration.present? %>
              Since  <%= duration %> <%= duration_unit.pluralize(duration.to_i)  %>
              <% end %>
            <% else %>
            --
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="col-md-12" style="margin-bottom: 19px;">
        <div class="col-md-8"><span><b>Any other Ailment give details: &nbsp;&nbsp;</b></span></div>
        <div class="col-lg-4 text-center"><%= if @insurance_details.chronic_other_details.present? then @insurance_details.chronic_other_details else '--' end %></div>
      </div>
    </div>

    <span><b>DECLARATION</b></span>
    <hr style="border-top: 3px solid #ddd6d6;margin-top: 0px;">
    <div class="declaration" style="margin-bottom: 8px;margin-top: -10px;">
      <span>We confirm having read understood and agreed to the Declarations of this form</span>

      <div class="col-md-12" style="margin-left: -20px;margin-top: 12px;">
        <div class="col-md-4">
          <b>a. Name of the treating doctor: </b>
        </div>
        <div class="col-md-5" style="border-bottom: 1px solid #9b7f7f;">
          <%= @insurance_details.doctor_name.capitalize %>
        </div>
      </div>

      <div class="col-md-12" style="margin-left: -20px;margin-top: 8px;">
        <div class="col-md-4">
          <b>b. Qualification</b>
        </div>
        <div class="col-md-5" style="border-bottom: 1px solid #9b7f7f;padding-top: 14px;">
        </div>
      </div>

      <div class="col-md-12" style="margin-left: -20px;margin-top: 8px;">
        <div class="col-md-4">
          <b>c. Registration No. with State Code:</b>
        </div>
        <div class="col-md-5" style="border-bottom: 1px solid #9b7f7f;padding-top: 14px;">
        </div>
      </div>

      <div class="col-md-12" style="margin-left: -20px;margin-top: 12px;">
        <div class="col-md-4">
          <div class="col-md-12">
            <b>Signature of Treating Doctor:</b>
          </div>
          <div class="col-md-12" style="border-bottom: 1px solid #9b7f7f;padding-top: 50px;">
          </div>
        </div>

        <div class="col-md-4">
          <div class="col-md-12">
            <b>Hospital Seal(Include Hospital ID):</b>
          </div>
          <div class="col-md-12" style="border-bottom: 1px solid #9b7f7f;padding-top: 50px;">
          </div>
        </div>

        <div class="col-md-4">
          <div class="col-md-12">
            <b>Patient/Insured Name & Signature:</b>
          </div>
          <div class="col-md-12" style="border-bottom: 1px solid #9b7f7f;padding-top: 50px;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 <style type="text/css">
    .pcs-entity-title:before {
    content: "";
    display: block;
    border-top: 6px solid #9b9595;
    width: 100%;
    height: 1pt;
    position: absolute;
    top: 34%;
    font-size: 1pt;
  }
 </style>