<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-lg" style="width:89%;">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">        
        <h4 class="modal-title">REQUEST FOR CASHLESS HOSPITALIZATION FOR MEDICAL INSURANCE POLICY</h4>
      </div>
    </div>

      <% if params[:action] == 'new' %>
        <% form_method =  "post" %>
      <% else %>
        <% form_method =  "patch" %>
      <% end %>
      
      <%= form_for @insurance_details, method: form_method, remote: true, html: { id: 'tpa_form', class: "tpa_form" } do |f| %>
        <div class="modal-body tpa-records-body">
          <%= hidden_field_tag "tpa_data[patient_id]", @patient.id %>
          <%= hidden_field_tag "tpa_data[organisation_id]", @current_user.organisation_id.to_s %>
          <%= hidden_field_tag "tpa_data[facility_id]", @current_facility.id %>
          <%= hidden_field_tag "tpa_data[tpa_insurance_workflow_id]", @workflow.id %>
          <%= hidden_field_tag "tpa_data[admission_id]", @workflow.admission_id %>

          <div id="tpaFormRecordWizard" class="basic-wizard main-wizard">
            <ul class="nav nav-pills main-nav nav-justified">
              <li role="presentation" class="active"><a href="#Section1" class="tpa_details_section" aria-controls="home" role="tab" data-toggle="tab">GENERAL INFORMATION</a></li>
              <li role="presentation"><a href="#Section2" aria-controls="home" role="tab" data-toggle="tab">MEDICAL INFORMATION</a></li>
            </ul>
            
            <div class="tab-content tpa-record-form-body" style="background: #fff;overflow-y: scroll;">
              <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                <%= render partial: "tpa_insurance_pre_authorization_form/tpa_form_tabs/general_informations_section.html.erb"  %>
              </div>

              <div role="tabpanel" class="tab-pane fade in" id="Section2">
                <%= render partial: "tpa_insurance_pre_authorization_form/tpa_form_tabs/medical_informations_section.html.erb" %>
              </div>

            </div>
          </div>

        </div>
      <div class="modal-footer">
        <%= submit_tag "Save", class: "btn btn-success btn-save-tpa", data: { 'disable-with': 'Please Wait...' }, :onclick => 'tpa_form_validate()' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>

  </div>
</div>

<style type="text/css">
  .main-nav > li.active > a, .main-nav > li.active > a:hover, .main-nav > li.active > a:focus {
    background: none;
    color: #000;
  }

  .main-wizard li.active a, .main-wizard li.active a:focus, .main-wizard li.active a:active {
    border: 1px solid #1CAF9A;
    color: #1CAF9A;
    border-bottom: none;
  }

  .main-wizard li a {
    border-bottom: 1px solid #1CAF9A;
  }

 /*input[type="text"],
  select.form-control {
    background: transparent;
    border: none;
    border-bottom: 2px solid #d1d2d3;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    font-size: 15px;
  }

  input[type="text"]:focus,
  select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #116cc7;
  }
*/
</style>