<% @patient = patient if @patient.nil? %>
<% @refund_payment = refund_payment if @refund_payment.nil? %>
<% @user = user if @user.nil? %>
<% @invoice = invoice if @invoice.nil? %>

<div class="row refund_payment">
  <div class="col-md-12">
    <div class="row patient-info mb20">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3"><b>Patient Name</b></div>
          <div class="col-md-3"><span><%= @patient.fullname.try(:titleize) %></span></div>
          <div class="col-md-3"><b>Receipt No.</b></div>
          <div class="col-md-3"><span><%= @refund_payment.refund_display_id %></span></div>
        </div>
        <div class="row">
          <div class="col-md-3"><b>Patient ID</b></div>
          <div class="col-md-3"><span><%= @patient.patient_identifier_id %></span></div>
          <div class="col-md-3"><b>Refunded By</b></div>
          <div class="col-md-3"><span><%= @user.try(:fullname) %></span></div>
        </div>
        <div class="row">
          <div class="col-md-3"><b>Mobile</b></div>
          <div class="col-md-3"><span><%= @patient.mobilenumber %></span></div>
          <div class="col-md-3"><b>Refund Date</b></div>
          <div class="col-md-3"><span><%= @refund_payment.payment_date.try(:strftime, "%d/%m/%Y") %></span></div>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row refund-info mb20">

      <% if @invoice.present? %>
        <div class="row mb10">
          <div class="col-md-12">
            <div class="col-sm-6">
              <b>Bill Number: </b>
              <%= @invoice.try(:bill_number) %>
            </div>
            <div class="col-sm-6">
              <b>Received Amount: </b>
              <% payment_received_with_precision = number_with_precision(@invoice.try(:payment_received), precision: 2) %>
              <% payment_received_display = Common::Finance::NumberFormatService.call(@number_format, payment_received_with_precision) %>
              <%= payment_received_display %>
            </div>
          </div>
        </div>
      <% end %>

      <div class="col-md-12">
        <% amount_with_precision = number_with_precision(@refund_payment.amount, precision: 2) %>
        <% amount_display = Common::Finance::NumberFormatService.call(@number_format, amount_with_precision) %>
        <p>Refunded a sum of <b><%= @refund_payment.currency_symbol %> <%= amount_display %></b> to <b><%= @patient.fullname.to_s.upcase %></b> by <b><%= @refund_payment.mode_of_payment.titleize %></b> dated <b><%= @refund_payment.payment_date.strftime("%d/%m/%Y") %></b>.</p>
        <p>Refund Remark:  <b><%= @refund_payment.reason %></b></p>
      </div>
    </div>
    <div class="row footer-info">
      <div class="col-md-8">
        <% amount_with_precision = number_with_precision(@refund_payment.amount, precision: 2) %>
        <% amount_display = Common::Finance::NumberFormatService.call(@number_format, amount_with_precision) %>
        <b style="font-size: 12px;"><%= @refund_payment.currency_symbol %> <%= amount_display %>/-</b>
      </div>
      <div class="col-md-4 text-right">
        <div class="box" style="border:1px solid #eee;height: 25px;"></div>
        <span><%= @user.try(:fullname) %></span>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .refund_payment {
     font-size: 10px;
  }
</style>