
    <%= link_to patient_investigations_lab_investigation_list_path(:id=> "#{@patient_investigation_id}",:opdrecordid => "#{@patient_investigations.record_id}", :patientid => "#{@patient_investigations.patient_id}", :specality => "#{@patient_investigations.specalityname}", :templatetype => "#{@patient_investigations.templatetype}", :type => "laboratory_investigation"), :class => 'btn btn-success btn-sm',:style=>"float: right; margin-top: -54px; margin-right: 80px", :id => 'investigation-viewsummary-html', :title => "Edit Investigation Summary", :data => {:remote => true} do %><i class="fa fa-pencil-alt"></i> Edit <% end %>

    <div class="row">
      <%= hidden_field_tag "patient_investigation_id", @patient_investigation_id %>
      <% patient_investigation.laboratory_investigations.each_with_index do |elem, i|  %><div class="row">

      <strong class="col-md-3 ">
        <row class="col-md-12"><h4><%= elem["investigationname"] %></h4></row>
      </strong>
      <br>
      <%= hidden_field_tag "investigation_id[#{i}]", elem['investigation_id']%>

      <div class="col-md-10 col-md-offset-1">






        <div class="row col-md-12">
          <!--<span class="col-md-1" style="padding:0px;"><strong>Comment</strong></span>-->
                        <span class="col-md-4" style="padding:0px;">
                          <%= elem["findings"]["comment_text"]%>
                        </span>
                        <span class="col-md-3 col-md-offset-1">
                          <span class="col-md-6 " style="padding:0px;"><strong>Perf Date</strong></span>
                          <span class="col-md-6" style="padding:0px;">
                            <% if elem["findings"]["erg_date_performed"] != "" && elem["findings"] != ""%>
                                <%= Date.parse(elem["findings"]["date_performed"]).strftime("%d %B, %Y")%>
                            <%end%>
                          </span>
                        </span>
          <span class="col-md-1 col-md-offset-1" style="padding:0px;"><strong>Image</strong></span>
        </div>


      </div>


    </div>
          <hr>
      <% end %>
    </div>

