<%= form_tag '/patient_investigations/save_radio_investigation.js', :method => :post, :remote => true, :id => 'radiology-investigation', :class => 'form form-bordered'  do  %>
    <%= submit_tag("Save Changes",{:class=>"btn btn-success btn-sm", :style=>"float: right; margin-top: -54px; margin-right: 80px"}) %>
    <div class="row">
      <%= hidden_field_tag "patient_investigation_id", @patient_investigation_id %>
      <% patient_investigation.radiology_investigations.each_with_index do |elem, i|  %>
        <div class="row">

          <strong class="col-md-7 ">
            <row class="col-md-12">
              <h4><%= elem["investigationname"] %>
                <span>
                  <% if elem["laterality"] != "410594000" %>
                    (<%= elem["laterality"] %>)
                  <%end%>
                </span>
                <span>
                  <%=opdrecord.get_label_for_radiology_option(elem['radiologyoptions'])%>
                </span>
              </h4>
            </row>
          </strong>
          <br>
          <%= hidden_field_tag "investigation_id[#{i}]", elem['investigation_id']%>

          <div class="col-md-10 col-md-offset-1">
            <div class="row col-md-12">
              <!--<span class="col-md-1" style="padding:0px;"><strong>Comment</strong></span>-->
              <span class="col-md-4" style="padding:0px;">
                <%= text_area_tag "radiology_investigations[#{i}][comment_text]" ,elem["findings"]["comment_text"],class: 'form-control input-sm findings-text-input'%>
              </span>
              <span class="col-md-3 col-md-offset-1">
                <span class="col-md-6 " style="padding:0px;"><strong>Perf D&T</strong></span>
                <span class="col-md-6" style="padding:0px;">
                  <% if elem["findings"]["erg_date_performed"] != "" && elem["findings"] != ""%>
                      <%= text_field_tag "radiology_investigations[#{i}][date_performed]" ,elem["findings"]["date_performed"], :class => "form-control input-sm findings-text-input investigation-datepicker-inline"%>
                  <%else%>
                      <%= text_field_tag "radiology_investigations[#{i}][date_performed]" ,Date.current.strftime("%d/%m/%Y"), :class => "form-control input-sm findings-text-input investigation-datepicker-inline"%>
                  <%end%>
                </span>
              </span>
              <span class="col-md-1 col-md-offset-1" style="padding:0px;"><strong>Image</strong></span>
              <span class="col-md-1 btn btn-xs btn-file" style="padding:0px;">Browse<%= file_field_tag "investigation[#{i}][image]", :class => "form-control" , multipart: true%></span>
              <div class="btn btn-success btn-xs col-md-1 small-text-input-btn save_photo" id="save_photo<%=i%>"><i class="fa fa-life-saver"></i></div>
            </div>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
<%end%>
