<style>
  .small-text-input-btn{
    padding: 0px;
  }
  .findings-text-input{
    padding: 2px;
    margin: 2px;
  }
  .btn-file {
    position: relative;
    overflow: hidden;
    background: gainsboro;
  }

  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
</style>

<div class="modal-dialog modal-hg-view-record-template" style="width: 50%;">
    <div class="modal-content">
      <div class="modal-header">
        <div class="pull-right"> <!-- Action Buttons starts -->

          <button aria-hidden="true" class="btn btn-info" data-dismiss="modal">Close</button>
        </div> <!-- Action Buttons ends -->
          <h4 class="nomargin">Reports</h4>

      </div>
      <div class="modal-body"> <!-- modal-body starts -->
          <div class="row">
            <div class="col-md-12">
              <div class="opdsummary">
                <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked">
                <% @patient_investigation.ophthal_investigations.each do |investigation| %>
                <% if investigation[:payment] == "Inhouse" %>
                <% if !investigation[:report_id].blank? %>
                  <li role="presentation" diabled="true"><a href="<%= investigation[:investigationname] %>" data-toggle="tab"><%= investigation[:investigationname] %></a></li>
                  <% else %>
                  <li role="presentation"><a href="<%= investigation[:investigationname] %>" data-toggle="tab"><%= investigation[:investigationname] %></a></li>
                  <% end %>
                <% end %>
                <% end %>
                </ul>
              </div>
                <div class="col-md-9">
                  <div class="tab-content">
                    <% @patient_investigation.ophthal_investigations.each do |investigation| %>
                    <% if investigation[:payment] == "Inhouse" %>
                    <% if !investigation[:report_id].blank? %>
                    <div class="tab-pane" id="<%= investigation[:investigationname] %>" >
                      <img alt="Icon" src= "<%= PatientOphthalAssessmentReport.find(investigation[:report_id].to_s).asset_path %>" />
                    </div>
                    <% end %>
                    <% end %>
                    <% end %>
                  </div>
                </div>

              </div>

            </div>
          </div>

      </div>
    </div>
</div>
