<div class="row mb10">
  <div class="col-md-12">
    <!-- Patient Info -->
      <% @w = Ward.find_by(id: @admission.ward_id) %>
      <% unless @w.nil? %><% @wr = @w.rooms.find_by(id: @admission.room_id) %><% else %><% @wr = nil %><% end %>
      <% unless @wr.nil? %><% @wrb = Ward.find_by(id: @admission.ward_id).rooms.find_by(id: @admission.room_id).beds.find_by(id: @admission.bed_id) %><% else %><% @wrb = nil %><% end %>

      <div class="row mb10 mt10" style="border:1px solid #eee;">
        <div class="col-md-3" style="width:22%;">
          <b>Patient Name</b><br>
          <b>Patient ID </b><br>
          <b>Mobile </b><br>
          <b>Age / Gender </b><br>
          <% if @poi %>
            <% if @poi.mr_no.present? %>
              <b>MR No. </b>
            <% end %>
          <% end %>
        </div>
        <div class="col-md-1" style="width:1%;">
          <b>:</b><br>
          <b>:</b><br>
          <b>:</b><br>
          <b>:</b><br>
          <% if @poi %>
            <% if @poi.mr_no.present? %>
              <b>:</b>
            <% end %>
          <% end %>
        </div>
        <div class="col-md-2" style="width:24%;">
          <b><%= @patient.fullname.upcase %></b><br>
          <%= PatientIdentifier.find_by(patient_id: @patient.id.to_s).try(:patient_org_id) %><br>
          <%= @patient.mobilenumber %><br>
          <%if @patient.calculate_age.present? || @patient.gender.present?%><%= @patient.calculate_age %>/<%= @patient.gender %><% else %> Unavailable<% end %> <br>
          <% if @poi %>
            <% if @poi.mr_no.present? %>
              <%= @poi.mr_no %>
            <% end %>
          <% end %>
        </div>
        <div class="col-md-3" style="width:22%;">
          <b>Admitting Doctor</b><br>
          <b>Date Admitted</b><br>
          <% unless @template_type == "wardnote" %>
            <b>Note Created On</b><br>
          <% end %>
          <b>Room Details</b><br>
          <b>Facility</b><br>
        </div>
        <div class="col-md-1" style="width:1%;">
          <b>:</b><br>
          <b>:</b><br>
          <b>:</b><br>
          <b>:</b><br>
          <b>:</b><br>
        </div>
        <div class="col-md-2" style="width:24%;">
          <b><%= User.find_by(id: @admission.doctor).fullname.upcase %></b><br>
          <%= @admission.admissiondate.strftime("%d %b'%y") %><br>
          <% unless @template_type == "wardnote" %>
            <%= ipdrecord.created_at.strftime("%d %b'%y") %><br>
          <% end %>
          <% unless @wrb.nil? %><%= @wrb.code %><% else %>Daycare<% end %><br>
          <%= @admission.facility.name %> <br>
        </div>
      </div>
    <!-- Patient Info Ends -->
  </div>
  <div class="col-md-12">
    <% unless @template_type == 'wardnote' %>
      <div class="pcs-entity-title"><span><%= @template_type.split("note")[0] %> Note</span></div>
    <% else %>
      <div class="pcs-entity-title"><span>All <%= @template_type.split("note")[0] %> Notes</span></div>
    <% end %>
  </div>
</div>
<!-- Note Wise View -->
<%= render partial: "inpatient/ipd_records/views/notes/" + @template_type.split("note")[0] + "_note.html.erb", locals: { ipdrecord: @ipdrecord, patient: @patient, admission: @admission, template_type: @template_type } %>