<% Inpatient::IpdRecord.where(template_type: template_type, patient_id: patient.id.to_s, admission_id: admission.id.to_s).sort(created_at: :desc).each do |irwn| %>
  <% if irwn.notetext.present? || irwn.vitalsignstemperature.present? || irwn.vitalsignspulse.present? || irwn.vitalsignsbp.present? || irwn.vitalsignsrr.present? || irwn.anthropometryheight.present? || irwn.anthropometryweight.present? || irwn.anthropometrybmi.present? || irwn.vitalsignsspo2.present? %>
    <div class="row mb10" style="border-bottom:1px solid #aaa;">
      <div class="col-md-12">
        <div class="row mb5">
          <div class="col-md-12 text-right">
            <b style="font-size: 10px;">Created By: <%= User.find(irwn.user_id.to_s).fullname %> at <%= irwn.created_at.strftime("%I:%M %p on %d %B, %Y") %></b>
          </div>
          <div class="col-md-8">
            <b>Ward Note :</b><% if irwn.notetext.present? %> <%= irwn.notetext %> <% else %> No Notes Found <% end %>
          </div>
          <div class="col-md-4 text-right">
            <%= link_to edit_inpatient_ipd_record_path(:id => irwn.id, :admission_id => irwn.admission_id, :templatetype => "wardnote"), :class => "btn btn-default btn-xs edit-ward-note-btn", style: "padding:0 5px;color:#636e7b", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ipdrecord-modal', method: :get } do %>Edit<% end %>
            <%= link_to new_inpatient_ipd_record_path(ipdrecord_id: irwn.id,:admission_id => irwn.admission_id, patient_id: irwn.patient_id, templatetype: "wardnote", flag: "Clone Wardnote"), class: "btn btn-default btn-xs clone-ward-note-btn",  style: "padding:0 5px;color:#636e7b" ,:data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ipdrecord-modal'} do %>Clone<% end %>
          </div>
        </div>
        <% if irwn.anthropometryheight.present? || irwn.anthropometryweight.present? || irwn.anthropometrybmi.present? %>
          <div class="row mb5">
            <% if irwn.anthropometryheight.present? %>
              <div class="col-md-3">
                <b>Temperature :</b> <%= irwn.anthropometryheight %>
              </div>
            <% end %>
              <% if irwn.anthropometryweight.present? %>
              <div class="col-md-3">
                <b>Pulse :</b> <%= irwn.anthropometryweight %>
              </div>
            <% end %>
              <% if irwn.anthropometrybmi.present? %>
              <div class="col-md-3">
                <b>Blood Pressure :</b> <%= irwn.anthropometrybmi %>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if irwn.vitalsignstemperature.present? || irwn.vitalsignspulse.present? || irwn.vitalsignsbp.present? || irwn.vitalsignsrr.present? || irwn.vitalsignsspo2.present? %>
          <div class="row mb5">
            <% if irwn.vitalsignstemperature.present? %>
              <div class="col-md23">
                <b>Temperature :</b> <%= irwn.vitalsignstemperature %>
              </div>
            <% end %>
              <% if irwn.vitalsignspulse.present? %>
              <div class="col-md-2">
                <b>Pulse :</b> <%= irwn.vitalsignspulse %>
              </div>
            <% end %>
              <% if irwn.vitalsignsbp.present? %>
              <div class="col-md-2">
                <b>BP :</b> <%= irwn.vitalsignsbp %>
              </div>
            <% end %>
            <% if irwn.vitalsignsrr.present? %>
              <div class="col-md-2">
                <b>RR :</b> <%= irwn.vitalsignsrr %>
              </div>
            <% end %>
            <% if irwn.vitalsignsspo2.present? %>
              <div class="col-md-2">
                <b>SpO2(%) :</b>
                <% if irwn.vitalsignsspo2.to_i <= 90 %>
                  <span style="color:red;">
                    <%= irwn.vitalsignsspo2 %> %
                  </span>
                <% elsif irwn.vitalsignsspo2.to_i > 90 && irwn.vitalsignsspo2.to_i <= 94 %>
                  <span style="color:orange;">
                    <%= irwn.vitalsignsspo2 %> %
                  </span>
                <% else %>
                  <span>
                    <%= irwn.vitalsignsspo2 %> %
                  </span>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="row mb10" style="padding-bottom:10px;border-bottom:1px solid #aaa;">
      <div class="col-md-12 text-right">
        <b style="font-size: 10px;">Created By: <%= User.find(irwn.user_id.to_s).fullname %> at <%= irwn.created_at.strftime("%I:%M %p on %d %B, %Y") %></b>
      </div>
      <div class="col-md-8">
        <b>Empty Record</b>
      </div>
      <div class="col-md-4 text-right">
        <%= link_to edit_inpatient_ipd_record_path(:id => irwn.id, :admission_id => irwn.admission_id, :templatetype => "wardnote"), :class => "btn btn-default btn-xs edit-ward-note-btn", style: "padding:0 5px;color:#636e7b", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ipdrecord-modal', method: :get } do %>Edit<% end %>
      </div>
    </div>
  <% end %>
<% end %>