<% @surgery_packages.each_with_index do |surgery_package, i| %>
  <% if surgery_package.contact_group_id == 'self' %>
    <% payers = [['Cash', 'general']] %>
  <% else %>
    <% payers = PayerMaster.where(facility_id: surgery_package.facility_id, contact_group_id: surgery_package.contact_group_id).pluck(:display_name, :id) %>
  <% end %>
  <div class="row surgery-package mb10 mt10">
    <hr>
    <div class="hidden-field-box">
      <%= hidden_field_tag "surgery_packages[#{i}][id]", surgery_package.id, class: 'package_id' %>
      <%= hidden_field_tag "surgery_packages[#{i}][organisation_id]", surgery_package.organisation_id, class: 'package_organisation_id' %>
      <%= hidden_field_tag "surgery_packages[#{i}][facility_id]", surgery_package.facility_id, class: 'package_facility_id' %>
      <%= hidden_field_tag "surgery_packages[#{i}][user_id]", surgery_package.user_id, class: 'package_user_id' %>
      <%= hidden_field_tag "surgery_packages[#{i}][package_group_id]", surgery_package.package_group_id, class: 'package_package_group_id' %>
      <%= hidden_field_tag "surgery_packages[#{i}][specialty_id]", surgery_package.specialty_id, class: 'package_specialty_id' %>
      <%= hidden_field_tag "surgery_packages[#{i}][sub_specialty_id]", surgery_package.sub_specialty_id, class: 'package_sub_specialty_id' %>
      <%= hidden_field_tag "surgery_packages[#{i}][department_id]", surgery_package.department_id, class: 'package_department_id' %>
      <%= hidden_field_tag "surgery_packages[#{i}][service_group_id]", surgery_package.service_group_id, class: 'package_service_group_id' %>
      <%= hidden_field_tag "surgery_packages[#{i}][service_sub_group_id]", surgery_package.service_sub_group_id, class: 'package_service_sub_group_id' %>
      <%= hidden_field_tag "surgery_packages[#{i}][name]", surgery_package.name, class: 'package_name' %>
      <%= hidden_field_tag "surgery_packages[#{i}][service_type]", surgery_package.service_type, class: 'package_service_type' %>
      <%= hidden_field_tag "surgery_packages[#{i}][service_type_code_name]", surgery_package.service_type_code_name, class: 'package_service_type_code_name' %>
      <%= hidden_field_tag "surgery_packages[#{i}][service_type_code]", surgery_package.service_type_code, class: 'package_service_type_code' %>
      <%= hidden_field_tag "surgery_packages[#{i}][activity_log][updated][user_id]", current_user.id, class: 'package_activity_user_id' %>
      <%= hidden_field_tag "surgery_packages[#{i}][activity_log][updated][user_name]", current_user.fullname, class: 'package_activity_user_name' %>
      <%= hidden_field_tag "surgery_packages[#{i}][activity_log][updated][event_time]", Time.current, class: 'package_activity_event_time' %>
    </div>
    <div class="col-md-11">
      <div class="col-md-1">
        <b>Payer</b>
        <% contact_group_options = @contact_groups.pluck(:name, :id).prepend(['Self', 'self']) %>
        <%= select_tag "surgery_packages[#{i}][contact_group_id]", options_for_select(contact_group_options, surgery_package.contact_group_id), class: 'package_contact_group_id form-control', style: 'height:30px;padding:5px;' %>
      </div>
      <div class="col-md-1 col-md-3-shared">
        <b>Payer Name</b>
        <%= select_tag "surgery_packages[#{i}][payer_master_id]", options_for_select(payers, surgery_package.payer_master_id), include_blank: 'Select Payer', class: 'package_payer_master_id form-control', style: 'height:30px;padding:5px;' %>
      </div>
      <div class="col-md-1 col-md-3-shared">
        <b>Display Name</b>
        <%= text_field_tag "surgery_packages[#{i}][display_name]", surgery_package.display_name, class: 'package_display_name form-control p5_10', maxlength: 80 %>
      </div>
      <div class="col-md-1">
        <b>Type</b>
        <%= select_tag "surgery_packages[#{i}][type]", options_for_select([['Domestic', 'domestic'], ['International', 'international']], surgery_package.type), class: 'package_type form-control', style: 'height:30px;padding:5px;' %>
      </div>
      <div class="col-md-1 col-md-3-shared">
        <b>Room Type</b>
        <%= select_tag "surgery_packages[#{i}][room_type]", options_for_select(@room_types.pluck(:name, :abbreviation), surgery_package.room_type), include_blank: true, class: 'package_room_type form-control', style: 'height:30px;padding:5px;' %>
      </div>
      <div class="col-md-1">
        <b>Days</b>
        <%= number_field_tag "surgery_packages[#{i}][no_of_days]", surgery_package.no_of_days, class: 'package_no_of_days form-control p5_10', min: 0 %>
      </div>
      <div class="col-md-1 col-md-3-shared">
        <b>Package Cost</b>
        <% if surgery_package.services.where(is_active: true).count == 0 %>
          <%= number_field_tag "surgery_packages[#{i}][amount]", surgery_package.amount, class: 'package_amount form-control p5_10', min: 0 %>
        <% else %>
          <%= number_field_tag "surgery_packages[#{i}][amount]", surgery_package.amount, class: 'package_amount form-control p5_10', min: 0, readonly: 'readonly' %>
        <% end %>
      </div>
      <div class="col-md-1 col-md-2-shared" style="padding: 0px">
        <b>Package Code</b>
        <%= text_field_tag "surgery_packages[#{i}][user_package_code]", surgery_package.user_package_code, class: 'user_package_code form-control p5_10', maxlength: 15, readonly: surgery_package.activated && surgery_package.user_package_code.present? %>
      </div>
      <div class="col-md-1 col-md-2-shared">
        <b>Valid From</b>
        <%= text_field_tag "surgery_packages[#{i}][valid_from]", surgery_package.valid_from.strftime('%d/%m/%Y'), class: 'package_valid_from valid_from_datepicker form-control p5_10', readonly: 'readonly', style: 'cursor:pointer;background:#fff;' %>
      </div>
      <div class="col-md-1 col-md-2-shared">
        <b>Valid Till</b>
        <%= text_field_tag "surgery_packages[#{i}][valid_till]", surgery_package.valid_till.strftime('%d/%m/%Y'), class: 'package_valid_till valid_till_datepicker form-control p5_10', readonly: 'readonly', style: 'cursor:pointer;background:#fff;' %>
      </div>
    </div>
    <div class="col-md-1">
      <div class="col-md-1">
        <b>Action</b>
        <!-- <button class="btn btn-danger btn-xs btn-remove-package" disabled='disabled'>&times</button> -->
      </div>
    </div>
    <% if !surgery_package.activated || surgery_package.services.where(is_active: true).size > 0 %>
      <div class="col-md-10 col-md-offset-1" style="margin-top:20px;padding:0px;">
        <b>Service Breakup</b>
        <% unless surgery_package.activated %>
          <button class="btn btn-link btn-add-service" style="padding: 0 5px;font-size: 12px;"><i class="fa fa-plus"></i> Add Service</button>
        <% end %>
      </div>
      <% style = surgery_package.services.where(is_active: true).count > 0 ? 'border:1px solid #aaa;padding:10px;' : 'border:1px solid #aaa;padding:10px;display:none;' %>
      <div class="col-md-10 col-md-offset-1 service-package-master" style='<%= style %>'>
        <div class="row service-surgery-package-header">
          <div class="col-md-2">
            <b>Item Name</b>
          </div>
          <div class="col-md-2">
            <b>Item Type</b>
          </div>
          <div class="col-md-2">
            <b>Item Code</b>
          </div>
          <div class="col-md-2 col-md-3-shared">
            <b>Unit/Days</b>
          </div>
          <div class="col-md-2 col-md-3-shared">
            <b>Unit Cost</b>
          </div>
          <div class="col-md-2 col-md-3-shared">
            <b>Total Cost</b>
          </div>
          <div class="col-md-1">
            <b>Actions</b>
          </div>
        </div>
        <%= render partial: 'edit_package_service_details.html.erb', locals: { surgery_package: surgery_package, i: i } %>
      </div>
    <% end %>
  </div>
<% end %>
