<% surgery_package.services.where(is_active: true).each_with_index do |service, j| %>
  <div class="row service-surgery-package mb10">
    <%= hidden_field_tag "surgery_packages[#{i}][services_attributes][#{j}][id]", service.id, class: 'package_services_id' %>
    <%= hidden_field_tag "surgery_packages[#{i}][services_attributes][#{j}][is_active]", service.is_active, class: 'package_services_is_active' %>
    <%= hidden_field_tag "surgery_packages[#{i}][services_attributes][#{j}][activity_log]activated][user_id]", current_user.id, class: 'package_services_activity_user_id' %>
    <%= hidden_field_tag "surgery_packages[#{i}][services_attributes][#{j}][activity_log]activated][user_name]", current_user.fullname, class: 'package_services_activity_user_name' %>
    <%= hidden_field_tag "surgery_packages[#{i}][services_attributes][#{j}][activity_log]activated][event_time]", Time.current, class: 'package_services_activity_event_time' %>
    <div class="col-md-2">
      <%= hidden_field_tag "surgery_packages[#{i}][services_attributes][#{j}][item_name]", service.item_name, class: 'package_services_item_name' %>
      <%= select_tag "surgery_packages[#{i}][services_attributes][#{j}][item_id]", options_for_select(@items.map { |item| [item.name, item.id, 'data-type': item.type] }, service.item_id.to_s), class: "package_services_item_id package_services_item_id_#{i} form-control", validate_class: "package_services_item_id_#{i}", style: 'height:30px;padding:5px;' %>
    </div>
    <div class="col-md-2">
      <%= text_field_tag "surgery_packages[#{i}][services_attributes][#{j}][item_type]", service.item_type, class: 'package_services_item_type form-control p5_10', readonly: 'readonly' %>
    </div>
    <div class="col-md-2">
      <%= text_field_tag "surgery_packages[#{i}][services_attributes][#{j}][item_code]", service.item_code, class: 'package_services_item_code form-control p5_10' %>
    </div>
    <div class="col-md-2 col-md-3-shared">
      <% item_type_room = (service.item_type == 'Room Rent') %>
      <%= number_field_tag "surgery_packages[#{i}][services_attributes][#{j}][unit]", service.unit, class: 'package_services_unit form-control p5_10', readonly: item_type_room, min: 1 %>
    </div>
    <div class="col-md-2 col-md-3-shared">
      <%= number_field_tag "surgery_packages[#{i}][services_attributes][#{j}][unit_price]", service.unit_price, class: 'package_services_unit_price form-control p5_10' %>
    </div>
    <div class="col-md-2 col-md-3-shared">
      <%= number_field_tag "surgery_packages[#{i}][services_attributes][#{j}][total_price]", service.total_price, class: 'package_services_total_price form-control p5_10', readonly: 'readonly' %>
    </div>
    <div class="col-md-1 col-md-3-shared">
      <% unless surgery_package.activated %>
        <button class="btn btn-danger btn-xs btn-remove-package-service soft-remove">&times</button>
      <% end %>
    </div>
  </div>
<% end %>
