<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<% clone_request = params[:clone] == 'true' %>
<div class="modal-dialog" style="width: 95%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <% if clone_request %>
        <h4 class="modal-title">New Surgery Package</h4>
      <% else %>
        <h4 class="modal-title">Edit Surgery Package</h4>
      <% end %>
    </div>
    <%= form_tag create_multiple_surgery_packages_path, method: :post, remote: true, id: 'surgery-package-form', class: 'surgery-package-form' do %>
      <% if !clone_request %>
        <%= hidden_field_tag 'package_definition[id]', @package_definition.id, class: 'id' %>
      <% end %>
      <%= hidden_field_tag 'package_definition[user_id]', current_user.id, class: 'user_id' %>
      <%= hidden_field_tag 'package_definition[organisation_id]', @package_definition.organisation_id, class: 'organisation_id' %>
      <%= hidden_field_tag 'package_definition[package_group_id]', @package_group_id, class: 'package_group_id' %>
      <div class="modal-body">
        <div class="row" id='package-master-text'>
          <div class="col-md-12 text-center">
            <b>PACKAGE DEFINITION</b>
          </div>
        </div>
        <hr style="margin:5px;">
        <div class="row mb10">
          <div class="col-md-2 col-xs-4">
            <b>Package Name</b>
            <%= text_field_tag 'package_definition[name]', @package_definition.name, class: 'name form-control p5_10', maxlength: 80 %>
          </div>
          <div class="col-md-2 col-xs-4">
            <b>Facility</b><br>
            <% if clone_request %>
              <%= select_tag 'package_definition[facility_id]', options_for_select(@facilities.pluck(:name, :id), @package_definition.facility_id), include_blank: true, class: 'facility_id form-control', style: 'height:30px;padding:5px;' %>
            <% else %>
              <%= hidden_field_tag 'package_definition[facility_id]', @package_definition.facility_id, class: 'facility_id' %>
              <%= @facility&.name %>
            <% end %>
          </div>
          <div class="col-md-2 col-xs-4">
            <b>Specialty</b><br>
            <% if clone_request %>
              <%= select_tag 'package_definition[specialty_id]', options_for_select(@specialties.pluck(:name, :id), @package_definition.specialty_id), class: 'specialty_id form-control', style: 'height:30px;padding:5px;' %>
            <% else %>
              <%= hidden_field_tag 'package_definition[specialty_id]', @package_definition.specialty_id, class: 'specialty_id' %>
              <%= @specialty&.name %>
            <% end %>
          </div>
          <div class="col-md-2 col-xs-4">
            <b>Sub Specialty</b><br>
            <% if clone_request %>
              <%= select_tag 'package_definition[sub_specialty_id]', options_for_select(@sub_specialties.pluck(:name, :id), @package_definition.sub_specialty_id), include_blank: ' ', class: 'sub_specialty_id form-control', style: 'height:30px;padding:5px;' %>
            <% else %>
              <%= hidden_field_tag 'package_definition[sub_specialty_id]', @package_definition.sub_specialty_id, class: 'sub_specialty_id' %>
              <%= @sub_specialty&.name || '-' %>
            <% end %>
          </div>
          <div class="col-md-2 col-xs-4">
            <b>Department</b><br>
            <% if clone_request %>
              <%= select_tag 'package_definition[department_id]', options_for_select([['OPD', '485396012'], ['IPD', '486546481']], @package_definition.department_id), include_blank: true, class: 'department_id form-control', style: 'height:30px;padding:5px;' %>
            <% else %>
              <%= hidden_field_tag 'package_definition[department_id]', @package_definition.department_id, class: 'department_id' %>
              <%= @package_definition.department_id == '485396012' ? 'OPD' : 'IPD' %>
            <% end %>
          </div>
        </div>
        <div class="row mb10">
          <div class="col-md-2 col-xs-4">
            <b>Category</b>
            <%= select_tag 'package_definition[service_group_id]', options_for_select(@service_groups.pluck(:name, :id), @package_definition.service_group_id), include_blank: true, class: 'service_group_id form-control', style: 'height:30px;padding:5px;' %>
          </div>
          <div class="col-md-2 col-xs-4">
            <b>Sub Category</b>
            <%= select_tag 'package_definition[service_sub_group_id]', options_for_select(@service_sub_groups.pluck(:name, :id), @package_definition.service_sub_group_id), include_blank: true, class: 'service_sub_group_id form-control', style: 'height:30px;padding:5px;' %>
          </div>
          <div class="col-md-2 col-xs-4">
            <b>Display Name</b>
            <%= text_field_tag 'package_definition[display_name]', @package_definition.display_name, class: 'display_name form-control p5_10', maxlength: 80 %>
          </div>
          <div class="col-md-2 col-xs-4">
            <b>Valid From</b>
            <%= text_field_tag 'package_definition[valid_from]', @package_definition.valid_from.strftime('%d/%m/%Y'), class: 'valid_from valid_from_datepicker form-control p5_10', readonly: 'readonly', style: 'cursor:pointer;background:#fff;' %>
          </div>
          <div class="col-md-2 col-xs-4">
            <b>Valid Till</b>
            <%= text_field_tag 'package_definition[valid_till]', @package_definition.valid_till.strftime('%d/%m/%Y'), class: 'valid_till valid_till_datepicker form-control p5_10', readonly: 'readonly', style: 'cursor:pointer;background:#fff;' %>
          </div>
          <div class="col-md-2 col-xs-4">
            <b>Room Type</b>
            <%= select_tag 'package_definition[room_type]', options_for_select(@room_types.pluck(:name, :abbreviation), @package_definition.room_type), include_blank: true, class: 'room_type form-control', style: 'height:30px;padding:5px;' %>
          </div>
        </div>
        <div class="row mb10">
          <div class="col-md-2 col-xs-4">
            <b>Type</b>
            <% if @package_definition.specialty_id == '309988001' %>
              <% type_array = [['', ''], ['Procedure', 'procedure'], ['Ophthal Investigation', 'ophthal'], ['Laboratory Investigation', 'laboratory'], ['Radiology Investigation', 'radiology']] %>
            <% else %>
              <% type_array = [['', ''], ['Procedure', 'procedure'], ['Laboratory Investigation', 'laboratory'], ['Radiology Investigation', 'radiology']] %>
            <% end %>
            <%= select_tag 'package_definition[service_type]', options_for_select(type_array, @package_definition.service_type), include_blank: true, class: 'service_type form-control', style: 'height:30px;padding:5px;' %>
          </div>
          <div class="col-md-2 col-xs-4">
            <b class='search-header'>Search</b><span class="btn btn-link btn-xs clear-service-code" style="margin: -5px;"><i class="fa fa-undo"></i></span>
            <%= text_field_tag 'package_definition[service_type_code_name]', @package_definition.service_type_code_name, class: 'service_type_code_name form-control p5_10', readonly: 'readonly' %>
            <%= hidden_field_tag 'package_definition[service_type_code]', @package_definition.service_type_code, class: 'service_type_code form-control p5_10' %>
          </div>
        </div>
        <div class="row mb10">
          <div class="col-md-12">
            <b style="color:#f00;">Note: Please fill the 'Basic Package Details' before filling below 'Package Details'.</b>
          </div>
        </div>
        <hr style="margin:5px;">
        <div class="row" id='package-master-text'>
          <div class="col-md-12 text-center">
            <b>SURGERY PACKAGE DETAILS</b>
          </div>
        </div>
        <div id="surgery-package-master">
          <% if clone_request %>
            <%= render partial: 'surgery_package_details.html.erb' %>
          <% else %>
            <%= render partial: 'edit_surgery_package_details.html.erb' %>
          <% end %>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-primary btn-xs btn-add-surgery-package"><i class="fa fa-add"></i> Add Surgery Package</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= submit_tag 'Save', class: 'btn btn-success', data: { 'disable-with': 'Please Wait...' } %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  <%= render partial: 'new_multiple.js.erb' %>
</script>
