<div class="row facility-list">
  <div class="col-md-12">
    <table class="table table-bordered facility-list-table" id="facility_list_table" style="table-layout: fixed;">
      <thead>
        <tr>
          <th>Facilty Name</th>
          <th># of Packages</th>
          <th># of Active/Inactive Packages</th>
          <!-- <th>Action</th> -->
        </tr>
      </thead>
      <tbody id="surgery_package-list">
        <% @surgery_packages.each do |surgery_package| %>
          <% facility_id = surgery_package[:_id] %>
          <% facility = @facilities.find { |fac| fac[:id] == facility_id } %>
          <tr class="each-surgery_package-table-row">
            <td><%= facility ? facility[:name] : '' %></td>
            <td>
              <%= link_to package_list_surgery_packages_path(facility_id: facility_id, specialty_id: params[:specialty_id]), data: { remote: true }, class: 'btn btn-link btn-xs' do %>
                <%= surgery_package[:facility_count] -%>
              <% end %>
            </td>
            <td>
              <span>
                <% active = surgery_package[:active_group].find { |pm| pm[:active] } %>
                <% inactive = surgery_package[:active_group].find { |pm| !pm[:active] } %>
                <span>Active: </span>
                <%= link_to package_list_surgery_packages_path(facility_id: facility_id, specialty_id: params[:specialty_id], is_active: true), data: { remote: true }, class: 'btn btn-link btn-xs' do %>
                  <%= active ? active[:count] : 0 -%>
                <% end %>
                &nbsp;|&nbsp;
                <span>Inactive: </span>
                <%= link_to package_list_surgery_packages_path(facility_id: facility_id, specialty_id: params[:specialty_id], is_active: false), data: { remote: true }, class: 'btn btn-link btn-xs' do %>
                  <%= inactive ? inactive[:count] : 0 -%>
                <% end %>
              </span>
            </td>
            <!-- <td></td> -->
          </tr>
        <% end %>
        <% if @surgery_packages.size == 0 %>
          <td class="text-center" colspan="3">No Packages Added</td>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
