<div class="modal-dialog" style="width: 95%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">New Surgery Package</h4>
    </div>
    <%= form_tag create_multiple_surgery_packages_path, method: :post, remote: true, id: 'surgery-package-form', class: 'surgery-package-form' do %>
      <%= hidden_field_tag 'package_definition[user_id]', current_user.id, class: 'user_id' %>
      <%= hidden_field_tag 'package_definition[organisation_id]', current_user.organisation_id, class: 'organisation_id' %>
      <%= hidden_field_tag 'package_definition[package_group_id]', @package_group_id, class: 'package_group_id' %>
      <div class="modal-body">
        <div class="row" id='package-master-text'>
          <div class="col-md-12 text-center">
            <b>PACKAGE DEFINITION</b>
          </div>
        </div>
        <hr style="margin:5px;">
        <div class="row mb10">
          <div class="col-md-2 col-xs-4">
            <b>Package Name</b>
            <%= text_field_tag 'package_definition[name]', '', class: 'name form-control p5_10', maxlength: 80 %>
          </div>
          <div class="col-md-2 col-xs-4">
            <b>Facility</b>
            <%= select_tag 'package_definition[facility_id]', options_for_select(@facilities.pluck(:name, :id), ''), include_blank: true, class: 'facility_id form-control', style: 'height:30px;padding:5px;' %>
          </div>
          <div class="col-md-2 col-xs-4">
            <b>Specialty</b>
            <%= select_tag 'package_definition[specialty_id]', options_for_select([], ''), class: 'specialty_id form-control', style: 'height:30px;padding:5px;' %>
          </div>
          <div class="col-md-2 col-xs-4">
            <b>Sub Specialty</b>
            <%= select_tag 'package_definition[sub_specialty_id]', options_for_select([], ''), class: 'sub_specialty_id form-control', style: 'height:30px;padding:5px;' %>
          </div>
          <div class="col-md-2 col-xs-4">
            <b>Department</b>
            <%= select_tag 'package_definition[department_id]', options_for_select([['OPD', '485396012'], ['IPD', '486546481']], ''), include_blank: true, class: 'department_id form-control', style: 'height:30px;padding:5px;' %>
          </div>
        </div>
        <div class="row mb10">
          <div class="col-md-2 col-xs-4">
            <b>Category</b>
            <%= select_tag 'package_definition[service_group_id]', options_for_select(@service_groups.pluck(:name, :id), ''), include_blank: true, class: 'service_group_id form-control', style: 'height:30px;padding:5px;' %>
          </div>
          <div class="col-md-2 col-xs-4">
            <b>Sub Category</b>
            <%= select_tag 'package_definition[service_sub_group_id]', options_for_select(@service_sub_groups.pluck(:name, :id), ''), include_blank: true, class: 'service_sub_group_id form-control', style: 'height:30px;padding:5px;' %>
          </div>
          <div class="col-md-2 col-xs-4">
            <b>Display Name</b>
            <%= text_field_tag 'package_definition[display_name]', '', class: 'display_name form-control p5_10', maxlength: 80 %>
          </div>
          <div class="col-md-2 col-xs-4">
            <b>Valid From</b>
            <%= text_field_tag 'package_definition[valid_from]', '', class: 'valid_from valid_from_datepicker form-control p5_10', readonly: 'readonly', style: 'cursor:pointer;background:#fff;' %>
          </div>
          <div class="col-md-2 col-xs-4">
            <b>Valid Till</b>
            <%= text_field_tag 'package_definition[valid_till]', '', class: 'valid_till valid_till_datepicker form-control p5_10', readonly: 'readonly', style: 'cursor:pointer;background:#fff;' %>
          </div>
          <div class="col-md-2 col-xs-4">
            <b>Room Type</b>
            <%= select_tag 'package_definition[room_type]', options_for_select(@room_types.pluck(:name, :abbreviation), ''), include_blank: true, class: 'room_type form-control', style: 'height:30px;padding:5px;' %>
          </div>
        </div>
        <div class="row mb10">
          <div class="col-md-2 col-xs-4">
            <b>Type</b>
            <%= select_tag 'package_definition[service_type]', options_for_select([], ''), include_blank: true, class: 'service_type form-control', style: 'height:30px;padding:5px;' %>
          </div>
          <div class="col-md-2 col-xs-4">
            <b class='search-header'>Search</b><span class="btn btn-link btn-xs clear-service-code" style="margin: -5px;display: none;"><i class="fa fa-undo"></i></span>
            <%= text_field_tag 'package_definition[service_type_code_name]', '', class: 'service_type_code_name form-control p5_10', readonly: 'readonly' %>
            <%= hidden_field_tag 'package_definition[service_type_code]', '', class: 'service_type_code form-control p5_10' %>
          </div>
        </div>
        <div class="row mb10">
          <div class="col-md-12">
            <b style="color:#f00;">Note: Please fill the 'Basic Package Details' before filling below 'Package Details'.</b>
          </div>
        </div>
        <hr style="margin:5px;">
        <div class="row" id='package-master-text'>
          <div class="col-md-12 text-center">
            <b>SURGERY PACKAGE DETAILS</b>
          </div>
        </div>
        <div id="surgery-package-master">
          <%= render partial: 'surgery_package_details.html.erb' %>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-primary btn-xs btn-add-surgery-package"><i class="fa fa-add"></i> Add Surgery Package</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= submit_tag 'Create', class: 'btn btn-success', data: { 'disable-with': 'Please Wait...' } %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  <%= render partial: 'new_multiple.js.erb' %>
</script>
