<div class="row service-surgery-package mb10">
  <%= hidden_field_tag 'surgery_packages[0][services_attributes][0][activity_log][activated][user_id]', current_user.id, class: 'package_services_activity_user_id' %>
  <%= hidden_field_tag 'surgery_packages[0][services_attributes][0][activity_log][activated][user_name]', current_user.fullname, class: 'package_services_activity_user_name' %>
  <%= hidden_field_tag 'surgery_packages[0][services_attributes][0][activity_log][activated][event_time]', Time.current, class: 'package_services_activity_event_time' %>
  <div class="col-md-2">
    <%= hidden_field_tag 'surgery_packages[0][services_attributes][0][item_name]', '', class: 'package_services_item_name' %>
    <%= select_tag 'surgery_packages[0][services_attributes][0][item_id]', options_for_select([], ''), class: 'package_services_item_id form-control', validate_class: "package_services_item_id_0", style: 'height:30px;padding:5px;' %>
  </div>
  <div class="col-md-2">
    <%= text_field_tag 'surgery_packages[0][services_attributes][0][item_type]', '', class: 'package_services_item_type form-control p5_10', readonly: 'readonly' %>
  </div>
  <div class="col-md-2">
    <%= text_field_tag 'surgery_packages[0][services_attributes][0][item_code]', '', class: 'package_services_item_code form-control p5_10' %>
  </div>
  <div class="col-md-2 col-md-3-shared">
    <%= number_field_tag 'surgery_packages[0][services_attributes][0][unit]', 1, class: 'package_services_unit form-control p5_10', readonly: 'readonly', min: 1 %>
  </div>
  <div class="col-md-2 col-md-3-shared">
    <%= number_field_tag 'surgery_packages[0][services_attributes][0][unit_price]', '', class: 'package_services_unit_price form-control p5_10' %>
  </div>
  <div class="col-md-2 col-md-3-shared">
    <%= number_field_tag 'surgery_packages[0][services_attributes][0][total_price]', '', class: 'package_services_total_price form-control p5_10', readonly: 'readonly' %>
  </div>
  <div class="col-md-1">
    <button class="btn btn-danger btn-xs btn-remove-package-service">&times</button>
  </div>
</div>
