<div class="row surgery-package mb10 mt10">
  <hr>
  <div class="hidden-field-box">
    <%= hidden_field_tag 'surgery_packages[0][organisation_id]', current_user.organisation_id, class: 'package_organisation_id' %>
    <%= hidden_field_tag 'surgery_packages[0][facility_id]', @package_definition&.facility_id, class: 'package_facility_id' %>
    <%= hidden_field_tag 'surgery_packages[0][user_id]', current_user.id.to_s, class: 'package_user_id' %>
    <%= hidden_field_tag 'surgery_packages[0][package_group_id]', @package_group_id, class: 'package_package_group_id' %>
    <%= hidden_field_tag 'surgery_packages[0][specialty_id]', '', class: 'package_specialty_id' %>
    <%= hidden_field_tag 'surgery_packages[0][sub_specialty_id]', '', class: 'package_sub_specialty_id' %>
    <%= hidden_field_tag 'surgery_packages[0][department_id]', '485396012', class: 'package_department_id' %>
    <%= hidden_field_tag 'surgery_packages[0][service_group_id]', '', class: 'package_service_group_id' %>
    <%= hidden_field_tag 'surgery_packages[0][service_sub_group_id]', '', class: 'package_service_sub_group_id' %>
    <%= hidden_field_tag 'surgery_packages[0][name]', '', class: 'package_name' %>
    <%= hidden_field_tag 'surgery_packages[0][service_type]', '', class: 'package_service_type' %>
    <%= hidden_field_tag 'surgery_packages[0][service_type_code_name]', '', class: 'package_service_type_code_name' %>
    <%= hidden_field_tag 'surgery_packages[0][service_type_code]', '', class: 'package_service_type_code' %>
    <%= hidden_field_tag 'surgery_packages[0][activity_log][activated][user_id]', current_user.id, class: 'package_activity_user_id' %>
    <%= hidden_field_tag 'surgery_packages[0][activity_log][activated][user_name]', current_user.fullname, class: 'package_activity_user_name' %>
    <%= hidden_field_tag 'surgery_packages[0][activity_log][activated][event_time]', Time.current, class: 'package_activity_event_time' %>
  </div>
  <div class="col-md-11">
    <div class="col-md-1">
      <b>Payer</b>
      <% contact_group_options = @contact_groups.pluck(:name, :id).prepend(['Self', 'self']) %>
      <%= select_tag 'surgery_packages[0][contact_group_id]', options_for_select(contact_group_options, ''), class: 'package_contact_group_id form-control', style: 'height:30px;padding:5px;' %>
    </div>
    <div class="col-md-1 col-md-3-shared">
      <b>Payer Name</b>
      <%= select_tag 'surgery_packages[0][payer_master_id]', options_for_select([['Cash', 'general']], ''), include_blank: 'Select Payer', class: 'package_payer_master_id form-control', style: 'height:30px;padding:5px;' %>
    </div>
    <div class="col-md-1 col-md-3-shared">
      <b>Display Name</b>
      <%= text_field_tag 'surgery_packages[0][display_name]', '', class: 'package_display_name form-control p5_10', maxlength: 80 %>
    </div>
    <div class="col-md-1">
      <b>Type</b>
      <%= select_tag 'surgery_packages[0][type]', options_for_select([['Domestic', 'domestic'], ['International', 'international']], 'domestic'), class: 'package_type form-control', style: 'height:30px;padding:5px;' %>
    </div>
    <div class="col-md-1 col-md-3-shared">
      <b>Room Type</b>
      <%= select_tag 'surgery_packages[0][room_type]', options_for_select(@room_types.pluck(:name, :abbreviation), ''), include_blank: true, class: 'package_room_type form-control', style: 'height:30px;padding:5px;' %>
    </div>
    <div class="col-md-1">
      <b>Days</b>
      <%= number_field_tag 'surgery_packages[0][no_of_days]', '', class: 'package_no_of_days form-control p5_10', min: 0 %>
    </div>
    <div class="col-md-1 col-md-3-shared">
      <b>Package Cost</b>
      <%= number_field_tag 'surgery_packages[0][amount]', '', class: 'package_amount form-control p5_10', min: 0 %>
    </div>
    <div class="col-md-1 col-md-2-shared" style="padding: 0px">
      <b>Package Code</b>
      <%= text_field_tag "surgery_packages[0][user_package_code]", '', class: 'user_package_code form-control p5_10', maxlength: 15 %>
    </div>
    <div class="col-md-1 col-md-2-shared">
      <b>Valid From</b>
      <%= text_field_tag 'surgery_packages[0][valid_from]', '', class: 'package_valid_from valid_from_datepicker form-control p5_10', readonly: 'readonly', style: 'cursor:pointer;background:#fff;' %>
    </div>
    <div class="col-md-1 col-md-2-shared">
      <b>Valid Till</b>
      <%= text_field_tag 'surgery_packages[0][valid_till]', '', class: 'package_valid_till valid_till_datepicker form-control p5_10', readonly: 'readonly', style: 'cursor:pointer;background:#fff;' %>
    </div>
  </div>
  <div class="col-md-1">
    <div class="col-md-1">
      <b>Action</b>
      <button class="btn btn-danger btn-xs btn-remove-package" disabled='disabled'>&times</button>
    </div>
  </div>
  <div class="col-md-10 col-md-offset-1" style="margin-top:20px;padding:0px;">
    <b>Service Breakup</b>
    <button class="btn btn-link btn-add-service" style="padding: 0 5px;font-size: 12px;"><i class="fa fa-plus"></i> Add Service</button>
  </div>
  <div class="col-md-10 col-md-offset-1 service-package-master" style="border:1px solid #aaa;padding:10px;display:none;">
    <div class="row service-surgery-package-header">
      <div class="col-md-2">
        <b>Item Name</b>
      </div>
      <div class="col-md-2">
        <b>Item Type</b>
      </div>
      <div class="col-md-2">
        <b>Item Code</b>
      </div>
      <div class="col-md-2 col-md-3-shared">
        <b>Unit/Days</b>
      </div>
      <div class="col-md-2 col-md-3-shared">
        <b>Unit Cost</b>
      </div>
      <div class="col-md-2 col-md-3-shared">
        <b>Total Cost</b>
      </div>
      <div class="col-md-1">
        <b>Actions</b>
      </div>
    </div>
    <!-- Uncomment if Service is Compulsory for Package Creation -->
    <%#= render partial: 'package_service_details.html.erb' %>
  </div>
</div>
