<% if @surgery_package.present? && @surgery_package.services.where(is_active: true).count > 0 %>
  <div class="row" style="margin-top: 10px;font-size: 10px;">
    <% html_class = ('col-md-8 col-md-offset-1' if params[:tax_enabled] == 'true') || 'col-md-8 col-md-offset-2' %>
    <div class="<%= html_class %>">
      <table class="table table-bordered" style="margin-bottom: 0px;">
        <thead>
          <tr>
            <th style="padding:2px 10px;">S.No</th>
            <th style="padding:2px 10px;">Description</th>
            <th style="padding:2px 10px;" class="text-right">Unit Cost</th>
            <th style="padding:2px 10px;" class="text-right">Total Cost</th>
          </tr>
        </thead>
        <!-- Package -->
        <tbody>
          <% @surgery_package.services.where(is_active: true).each_with_index do |service, i| %>
            <tr>
              <td style="padding:2px 10px;"><%= i + 1 %>.</td>
              <td style="padding:2px 10px;"><%= service.item_name %><%= "(#{service.item_code})" if service.item_code.present? %></td>
              <td style="padding:2px 10px;" class="text-right"><%= service.try(:unit_price) %> <%= "(#{service.try(:unit)} #{service.try(:item_type) == 'Room Rent' ? 'Days' : 'Units'})" %></td>
              <td style="padding:2px 10px;" class="text-right"><%= service.try(:total_price) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <script>
    $( 'input[name*="[services][<%= @counter %>][unit_price]"]' ).attr('readonly', 'readonly');
  </script>
<% elsif @edit_bill_unit_price_enabled %>
  <script>
    $( 'input[name*="[services][<%= @counter %>][unit_price]"]' ).removeAttr('readonly', 'readonly');
  </script>

<% else %>

<% end %>
