<% if @inventory_invoices.length > 0 %>
  <% sl_no = params[:total_count_row].to_i %>
  <% @inventory_invoices.each_with_index do |invoice,i| %>
    <% sl_no += 1 %>
    <% if invoice.is_canceled == true %>
      <tr id="<%= invoice.id %>" class="inventory-list-row text-center" style="color: red">
    <% else %>
      <tr id="<%= invoice.id %>" class="inventory-list-row text-center">
    <% end %>
      <td style="font-size: 10px;" class="col-md-1"><%=sl_no%></td>
      <td style="font-size: 10px;" class="col-md-2">
        <%= invoice.order_date.try(:strftime, '%d-%m-%Y') %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= invoice.order_date_time&.strftime("%I:%M%p") %>
        <br>
        <%= invoice.bill_number %>
      </td>
      <td style="font-size: 10px;" class="col-md-2">
        <% if invoice.home_delivery %>
          <i class="fas fa-shipping-fast" style="color: green;"></i>&nbsp;&nbsp;
        <% end %>
        <% if invoice.delivered == true %>
          <%= invoice.delivery_date.try(:strftime, '%d-%m-%Y') %>
        <% elsif invoice.estimated_delivery_date.present? %>
          <span class="text-warning"><%= invoice.estimated_delivery_date.try(:strftime, '%d-%m-%Y') %></span>
          <br> <span class="small">Estimated</span>
        <% end %>
      </td>
      <% if invoice.is_canceled %>
        <td class="col-md-2 ">Canceled</td>
      <% else %>
        <td class="col-md-2 "><%= invoice.state&.capitalize %><br><%=invoice.fitter_name if invoice.state == 'fitting'%></td>
      <% end %>
      <td class="col-md-2"><%= invoice.recipient %><br><%= invoice.recipient_mobile %></td>

      <td class="col-md-2 ">
        <%= invoice.total.try(:round, 2) %>
        <%if invoice.delivered == false && invoice.amount_remaining.to_f > 0%>
          <br>
          <span class="small text-success">Adv. <%= invoice.advance_payment%></span>
        <%end%>    
      </td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td align="center"><strong style="font-size: 20px;">Nothing to Display</strong></td>
  </tr>
<% end %>
