<div class="row">
  <span><strong><%= 'INTERMEDIATE ' if @patient_prescription.prescription_type&.include?('intermediate') %>GLASSES PRESCRIPTIONS</strong> &nbsp;(Last updated on <%= @patient_prescription.updated_at.strftime("%d %b,%Y")%> &nbsp;at <%= @patient_prescription.updated_at.strftime("%I:%M %p")%>)</span>
  <span style="float: right;margin-top: -2px;">
      <% if @print_settings.count > 1 %>
        <div class="btn-group">
          <button type="button" class="btn btn-link btn-sm full_print dropdown-toggle" data-toggle="dropdown"><i class="fa fa-print mr5"></i> Print Receipt <i class="fa fa-caret-down"></i></button>
          <ul class="dropdown-menu dropdown-left-manual" role="menu" aria-labelledby="summary-print-dropdown" style="">
            <% @print_settings.each do |print_setting| %>
              <li style="text-align:left" class="multi-print">
                <%= link_to opd_records_print_glass_prescription_path(:opdrecordid => @patient_prescription.record_id.to_s, :patientid => @patient_prescription.patient_id.to_s, :appointmentid => @patient_prescription.appointment_id, :templatetype => "eye", :specality => "ophthalmology", print_setting_id: print_setting.id, flag: @patient_prescription.prescription_type, action_from: 'optical_store', prescription_id: @patient_prescription.id, r_l_print_distant: true, r_l_print_add: true, r_l_print_near: true, format: :pdf), :class => "",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> <%= print_setting.name %> <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% else %>
        <%= link_to opd_records_print_glass_prescription_path(:opdrecordid => @patient_prescription.record_id.to_s, :patientid => @patient_prescription.patient_id.to_s, :appointmentid => @patient_prescription.appointment_id, :templatetype => "eye", :specality => "ophthalmology", print_setting_id: @print_settings[0].id, flag: @patient_prescription.prescription_type, action_from: 'optical_store', prescription_id: @patient_prescription.id, r_l_print_distant: true, r_l_print_add: true, r_l_print_near: true, format: :pdf),:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> Print <% end %>
      <% end %>
    <!-- <a class="btn btn-xs btn-link pull-right" target="_blank" data-method="get" href="/opd_records/print_glass_prescription.pdf?appointmentid=<%#= @patient_prescription.appointment_id%>&amp;opdrecordid=<%#= @patient_prescription.record_id.to_s%>&amp;patientid=<%#= @patient_prescription.patient_id.to_s%>&amp;specality=ophthalmology&amp;templatetype=eye"> <i class="fa fa-print"></i> Print</a> -->
    </span>
</div>
<% optical_instance = Inventory::Department::OpticalHelper %>
<div class="row no_margin" style="font-size: 11px">
  <div class="row" style="margin: 5px 0;">

    <% values = optical_instance.get_prescription_values(@patient_prescription, 'prescription') %>
    <div class="col-xs-6" style="padding-left: 10px;padding-right: 2px;">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th width="20%" style="padding-top:0px;padding-bottom:0px;">
            <div class="text-center">R/OD</div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td style="padding:0;">
            <div class="row">
              <div class="col-xs-12">
                <table class="mb3 table-bordered" style="margin-left: 0%; width: 100%">
                  <thead>
                  <tr>
                    <th width="20%" style="padding: 5px;text-align: center;"></th>
                    <th width="20%" style="padding: 5px;text-align: center;">Sph</th>
                    <th width="20%" style="padding: 5px;text-align: center;">Cyl</th>
                    <th width="20%" style="padding: 5px;text-align: center;">Axis</th>
                    <th width="20%" style="padding: 5px;text-align: center;">Vision</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td style="padding: 5px;text-align: center;">
                      Distant
                    </td>
                    <td style="padding: 5px;text-align: center;">
                      <%= values['r_distant_sph'] %>
                    </td>
                    <td style="padding: 5px;text-align: center;">
                      <%= values['r_distant_cyl'] %>
                    </td>
                    <td style="padding: 5px;text-align: center;">
                      <%= values['r_distant_axis'] %>
                    </td>
                    <td style="padding: 5px;text-align: center;">
                      <%= values['r_distant_vision'] %>
                    </td>
                  </tr>
                  <% if values[:show_add] %>
                    <tr>
                      <td style="padding: 5px;text-align: center;">
                        Add
                      </td>
                      <td style="padding: 5px;text-align: center;">
                        <%= values['r_add_sph'] %>
                      </td>
                      <td style="padding: 5px;text-align: center;">
                        <%= values['r_add_cyl'] %>
                      </td>
                      <td style="padding: 5px;text-align: center;">
                        <%= values['r_add_axis'] %>
                      </td>
                      <td style="padding: 5px;text-align: center;">
                        <%= values['r_add_vision'] %>
                      </td>
                    </tr>
                  <% end %>
                  <tr>
                    <td style="padding: 5px;text-align: center;">
                      Near
                    </td>
                    <td style="padding: 5px;text-align: center;">
                      <%= values['r_near_sph'] %>
                    </td>
                    <td style="padding: 5px;text-align: center;">
                      <%= values['r_near_cyl'] %>
                    </td>
                    <td style="padding: 5px;text-align: center;">
                      <%= values['r_near_axis'] %>
                    </td>
                    <td style="padding: 5px;text-align: center;">
                      <%= values['r_near_vision'] %>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-xs-6" style="padding-left: 2px;padding-right: 10px;">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th width="20%" style="padding-top:0px;padding-bottom:0px;">
            <div class="text-center">L/OS</div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td style="padding:0;">
            <div class="row">
              <div class="col-xs-12">
                <table class="mb3 table-bordered" style="margin-left: 0%; width: 100%">
                  <thead>
                  <tr>
                    <th width="20%" style="padding: 5px;text-align: center;"></th>
                    <th width="20%" style="padding: 5px;text-align: center;">Sph</th>
                    <th width="20%" style="padding: 5px;text-align: center;">Cyl</th>
                    <th width="20%" style="padding: 5px;text-align: center;">Axis</th>
                    <th width="20%" style="padding: 5px;text-align: center;">Vision</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td style="padding: 5px;text-align: center;">
                      Distant
                    </td>
                    <td style="padding: 5px;text-align: center;">
                      <%= values['l_distant_sph'] %>
                    </td>
                    <td style="padding: 5px;text-align: center;">
                      <%= values['l_distant_cyl'] %>
                    </td>
                    <td style="padding: 5px;text-align: center;">
                      <%= values['l_distant_axis'] %>
                    </td>
                    <td style="padding: 5px;text-align: center;">
                      <%= values['l_distant_vision'] %>
                    </td>
                  </tr>
                  <% if values[:show_add] %>
                    <tr>
                      <td style="padding: 5px;text-align: center;">
                        Add
                      </td>
                      <td style="padding: 5px;text-align: center;">
                        <%= values['l_add_sph'] %>
                      </td>
                      <td style="padding: 5px;text-align: center;">
                        <%= values['l_add_cyl'] %>
                      </td>
                      <td style="padding: 5px;text-align: center;">
                        <%= values['l_add_axis'] %>
                      </td>
                      <td style="padding: 5px;text-align: center;">
                        <%= values['l_add_vision'] %>
                      </td>
                    </tr>
                  <% end %>
                  <tr>
                    <td style="padding: 5px;text-align: center;">
                      Near
                    </td>
                    <td style="padding: 5px;text-align: center;">
                      <%= values['l_near_sph'] %>
                    </td>
                    <td style="padding: 5px;text-align: center;">
                      <%= values['l_near_cyl'] %>
                    </td>
                    <td style="padding: 5px;text-align: center;">
                      <%= values['l_near_axis'] %>
                    </td>
                    <td style="padding: 5px;text-align: center;">
                      <%= values['l_near_vision'] %>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <% values = optical_instance.get_prescription_values(@patient_prescription, 'acceptance') %>
    <div class="col-xs-6" style="padding-left: 2px;padding-right: 10px;">
      <% if values['r_framematerial'].present? && values['r_framematerial'] != '--' %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444;">Frame Material </b><br> <%= values['r_framematerial'] %></span>
        </div>
      <% end %>

      <% if values['r_ipd'].present? && values['r_ipd'] != '--' %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444;">IPD </b><br> <%= values['r_ipd'] %></span>
        </div>
      <% end %>

      <% if values['r_distance_pd'].present? && values['r_distance_pd'] != '--' %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444;">Distance PD </b><br> <%= values['r_distance_pd'] %></span>
        </div>
      <% end %>

      <% if values['r_near_pd'].present? && values['r_near_pd'] != '--' %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444;">Near PD </b><br> <%= values['r_near_pd'] %></span>
        </div>
      <% end %>

      <% if values['r_lensmaterial'].present? && values['r_lensmaterial'] != '--'  %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444;">Lens Material </b><br> <%= values['r_lensmaterial'] %></span>
        </div>
      <% end %>

      <% if values['r_lenstint'].present? && values['r_lenstint'] != '--' %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444;">Lens Tint </b><br> <%= values['r_lenstint'] %></span>
        </div>
      <% end %>

      <% if values['r_typeoflens'].present? && values['r_typeoflens'] != '--' %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444;">Type of Lens </b><br> <%= values['r_typeoflens'] %></span>
        </div>
      <% end %>

      <% if values['r_dia'].present? && values['r_dia'] != '--'  %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444;">Dia </b><br> <%= values['r_dia'] %></span>
        </div>
      <% end %>

      <% if values['r_fittingheight'].present? && values['r_fittingheight'] != '--'  %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444;">Fitting Height </b><br> <%= values['r_fittingheight'] %></span>
        </div>
      <% end %>

      <% if values['r_prismbase'].present? && values['r_prismbase'] != '--'  %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444;">Prism Base </b><br> <%= values['r_prismbase'] %></span>
        </div>
      <% end %>

      <% if values['r_size'].present? && values['r_size'] != '--'  %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444;">Size </b><br> <%= values['r_size'] %></span>
        </div>
      <% end %>

      <% if values['r_comments'].present? && values['r_comments'] != '--' %>
        <div class="col-md-12">
          <li><%= values['r_comments'] %></li>
        </div>
      <% end %>
    </div>

    <div class="col-xs-6" style="padding-left: 2px;padding-right: 10px;">
      <% if values['l_framematerial'].present? && values['l_framematerial'] != '--'  %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444;">Frame Material </b><br> <%= values['l_framematerial'] %></span>
        </div>
      <% end %>

      <% if values['l_ipd'].present? && values['l_ipd'] != '--'  %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444;">IPD </b><br> <%= values['l_ipd'] %></span>
        </div>
      <% end %>

      <% if values['l_distance_pd'].present? && values['l_distance_pd'] != '--' %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444;">Distance PD </b><br> <%= values['l_distance_pd'] %></span>
        </div>
      <% end %>

      <% if values['l_near_pd'].present? && values['l_near_pd'] != '--' %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444;">Near PD </b><br> <%= values['l_near_pd'] %></span>
        </div>
      <% end %>

      <% if values['l_lensmaterial'].present? && values['l_lensmaterial'] != '--'  %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444;">Lens Material </b><br> <%= values['l_lensmaterial'] %></span>
        </div>
      <% end %>

      <% if values['l_lenstint'].present? && values['l_lenstint'] != '--'  %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444;">Lens Tint </b><br> <%= values['l_lenstint'] %></span>
        </div>
      <% end %>

      <% if values['l_typeoflens'].present? && values['l_typeoflens'] != '--'  %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444;">Type of Lens </b><br> <%= values['l_typeoflens'] %></span>
        </div>
      <% end %>

      <% if values['l_dia'].present? && values['l_dia'] != '--'  %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444;">Dia </b><br> <%= values['l_dia'] %></span>
        </div>
      <% end %>

      <% if values['l_fittingheight'].present? && values['l_fittingheight'] != '--'  %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444;">Fitting Height </b><br> <%= values['l_fittingheight'] %></span>
        </div>
      <% end %>

      <% if values['l_prismbase'].present? && values['l_prismbase'] != '--'  %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444;">Prism Base </b><br> <%= values['l_prismbase'] %></span>
        </div>
      <% end %>

      <% if values['l_size'].present? && values['l_size'] != '--'  %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444;">Size </b><br> <%= values['l_size'] %></span>
        </div>
      <% end %>

      <% if values['l_comments'].present? && values['l_comments'] != '--'  %>
        <div class="col-md-12 ">
          <li><%= values['l_comments'] %></li>
        </div>
      <% end %>
    </div>
  </div>
  <!--row-->
</div>