<div id="item_id" style="display: none"><%= @patient_prescription.try(:id) %></div>
<div id="patient_id" style="display: none"><%= @patient.id %></div>
<%= f.hidden_field :recipient, :class => "fi_input_style readonly", :placeholder => '', :style=>"width:92%", :readonly => true, :value => @patient.try(:fullname) %>
<%= f.hidden_field :patient_identifier, :class => "fi_input_style readonly", :placeholder => '', :style=>"width:92%", :readonly => true, :value => @patient_idn.try(:patient_org_id) %>
<%= f.hidden_field :recipient_mobile, :class => "fi_input_style readonly",:placeholder => '', :style=>"width:92%", :readonly => true, :value => @patient.try(:mobilenumber) %>

<div class="patient-div">
  <div class="pat-label">Doctor:</div>
  <div style="width: 40%;">
    <% if @patient_prescription.present? && current_facility.consultant_role_ids.include?(158965000) %>
      <%= f.text_field :consultant_name, :class => "form-control p7_10", :placeholder => '', :readonly => true, :value => @patient_prescription.try(:consultant_name) %>
    <% else %>
      <%= f.text_field :consultant_name, :class => "form-control p7_10", :placeholder => 'Doctor Name', :value => "" %>
    <% end %>
  </div>
  <div class="pat-label">Order Date:</div>
  <div class="order-datetime">
    <%= f.hidden_field :order_date_time, { value: Time.current, class: 'form-control p7_10 fullname invoice-order-date-time-picker' } %>
    <% unless Authorization::PolicyHelper.verification(current_user.id,"HGP-100-118-105") %>
      <%= f.text_field :order_date, { value: Date.current.strftime("%d/%m/%Y"), class: 'form-control p7_10 fullname', placeholder: 'Date of transition', readonly: true, style: 'margin-right: 3%;' } %>
    <% else %>
      <%= f.text_field :order_date, { value: Date.current.strftime("%d/%m/%Y"), class: 'form-control p7_10 fullname invoice-order-datepicker', placeholder: 'Date of transition', style: 'margin-right: 3%;' } %>
    <% end %>
    <% unless Authorization::PolicyHelper.verification(current_user.id,"HGP-100-118-105") %>
      <%= f.text_field :order_time, { value: Time.current.strftime("%I:%M %p"), class: 'form-control p7_10', placeholder: "Time of Order", readonly: true } %>
    <% else %>
      <%= f.text_field :order_time, { value: Time.current.strftime("%I:%M %p"), class: 'form-control p7_10 order-timepicker', placeholder: "Time of Order" } %>
    <% end %>  
  </div>
</div>
<style>
  .patient-div{
    display: flex;
    padding: 5px;
  }
  .patient-div div {
    width: auto;
    padding-right: 3px;
  }
  .order-datetime {
    display: flex;
  }
  .pat-label{
    padding: 7px;
    width: 23% !important;
    text-align: right;
  }
  .order-timepicker:disabled, .invoice-order-datepicker:disabled {
    cursor: not-allowed !important
  }
</style>
