<span style="position: relative;">
  <%= amount_display %>/- <i class="fa fa-list tooltip-icon" id='settled_payment_<%= i %>'></i>
  <span class="tooltip-data-show" tooltip_target='settled_payment_<%= i %>'>
    <table class="no-bg" style="width: 100%">
      <tr>
        <td style="width: 30%; text-align: right;">&nbsp;&nbsp;<b>Amount&nbsp;Received:</b></td>
        <td style="text-align: left;">&nbsp;<%=payment_received_breakup.try(:amount_received)%><% if payment_received_breakup.try(:amount_received).to_f > 0 %>&nbsp;&nbsp;(<%= payment_received_breakup.try(:mode_of_payment) %>)&nbsp;&nbsp;<% end %></td>
      </tr>
      <tr>
        <td style="width: 30%; text-align: right;">&nbsp;&nbsp;<b>Tax&nbsp;Deducted:</b></td>
        <td style="text-align: left;">&nbsp;<%=payment_received_breakup.tax_deducted%></td>
      </tr>
      <tr>
        <td style="width: 30%; text-align: right;">&nbsp;&nbsp;<b>Payer&nbsp;Difference:</b></td>
        <td style="text-align: left;">&nbsp;<%=payment_received_breakup.payer_difference%></td></tr>
      <tr>
        <td style="width: 30%; text-align: right;">&nbsp;&nbsp;<b>Revenue&nbsp;Spillage:</b></td>
        <td style="text-align: left;">&nbsp;<%=payment_received_breakup.other_revenue_spilage%></td></tr>
      <tr>
        <td style="width: 30%; text-align: right;">&nbsp;&nbsp;<b>Total&nbsp;Amount&nbsp;Settled:</b></td>
        <td style="text-align: left;"><b>&nbsp;<%=payment_received_breakup.amount%></b></td></tr>
    </table>
  </span>
  <% if payment_received_breakup.try(:amount_received).to_f > 0 && payment_received_breakup.mode_of_payment.present? %><br>(<%= payment_received_breakup.mode_of_payment %>)<% end %>
</span>
<script>
$(document).ready(function(){
  $('.tooltip-icon')
    .on( "click", function(){
      $('.tooltip-data-show').css({visibility: 'hidden'})
      $('span[tooltip_target=' + this.id + ']').css({visibility: 'visible'})
    })
    .css({ cursor: "pointer" });
}).click(function(e){
  var target = e.target.getAttribute('tooltip_target')
  var id = e.target.id
  if($('#'+id).hasClass('tooltip-icon') == false) {
    $('.tooltip-data-show').css({visibility: 'hidden'})
  }
})
</script>