<div class="container-fluid" id="freeInvoiceEdit" style="border-bottom:1px solid #eee;">
  <div class="row mt10 mb5">
    <div class="col-lg-2 font_size text-labels">
      Patient:
    </div>
    <div class="col-lg-2 font_size">
      <%= @return_transaction.recipient %>
    </div>
    <div class="col-lg-2 font_size text-labels">
      Patient ID:
    </div>
    <div class="col-lg-2 font_size">
      <%= @return_transaction.patient_identifier %>
    </div>
    <div class="col-lg-2 font_size text-labels">
      Patient Mobile
    </div>
    <div class="col-lg-2 font_size">
      <%= @return_transaction.recipient_mobile %>
    </div>
  </div>
  <div class="row">
    <h4 style="color: #00BFFF;">Item Details:</h4>
  </div>
  <div class="row check-font mt10 mb5">
    <table class="table table table-striped table-bordered">
      <thead>
        <tr>
          <th style="background-color: #4CAF50; color: white;">Code</th>
          <th style="background-color: #4CAF50; color: white;">Description</th>
          <th style="background-color: #4CAF50; color: white;">QTY</th>
          <th style="background-color: #4CAF50; color: white;">Batch</th>
          <th style="background-color: #4CAF50; color: white;">Exp.Date</th>
          <th style="background-color: #4CAF50; color: white;">U.Price</th>
          <th style="background-color: #4CAF50; color: white;">Tax</th>
          <th style="background-color: #4CAF50; color: white;">Total</th>
        </tr>
      </thead>
      <tbody>
        <% @return_transaction.items.each do |item| %>
          <tr>
            <td><%= item.item_code %></td>
            <td><%= item.description&.capitalize %></td>
            <td><%=item.stock %></td>
            <td><%= item.batch_no %></td>
            <td>
              <% if item.expiry_date.present? %>
                <%= item.expiry_date %>
              <% elsif item.expiry.present? %>
                <%= item.expiry.try(:strftime, "%d/%m/%Y") %>
              <% else %>
                N.A
              <% end %>
            </td>
            <td><%= item.list_price %></td>
            <td><%= number_with_precision(item.taxable_amount, precision: 2) %></td>

            <% if item.list_price.present? %>
              <% list_price = item.list_price %>
            <% else %>
              <% list_price = 0 %>
            <% end %>
            <% if item.stock.present? %>
              <% stock = item.stock %>
            <% else %>
              <% stock = 0 %>
            <% end %>

            <td><%= item.total_list_price || (list_price * stock) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <hr style="padding: 0px;margin: 0px;">
  <div class="row mb5" style="border-top: 1px solid #eee">
    <div class="col-sm-5 col-sm-offset-7 text-labels">
      <div class="col-sm-7 font_size">
        <b>Total Amt Incl. Tax</b>
      </div>
      <div class="col-sm-2 text-center font_size" style="margin-left: -10px">
        :
      </div>
      <div class="col-sm-2 font_size" id="" style="margin-left: 10px">
          <%= @return_transaction.total_cost.to_f.round(2) %>
      </div>
      <% if @return_transaction.return_charges.present? %>
        <div class="col-sm-6 font_size">
          <b>Return charges</b>
        </div>
        <div class="col-sm-3 text-center font_size">
          :
        </div>
        <div class="col-sm-2 font_size">
          <%= @return_transaction.return_charges.to_f.round(2) %>
        </div>
      <%end%>
      <div class="col-sm-6 font_size">
        <b>Return Amount</b>
      </div>
      <div class="col-sm-3 text-center font_size">
        :
      </div>
      <div class="col-sm-2 font_size" id="">
        <%= @return_transaction.return_amount.to_f.round(2) %>
      </div>
    </div>
  </div>
</div>

<style>
  .font_size {
    font-size: 10px;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .text-labels {
    font-weight: bold;
  }
  .check-font table tr th {
    padding: 2px 5px;
  }

  .check-font table tr td {
    padding: 2px 5px;
  }

  .check-font {
    font-size: 11px;
  }
</style>
