<div class="modal-dialog" style="width: 50%">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h5 class="modal-title" style="color: #1E90FF">Transaction Report</h5>
    </div>
    <div class="modal-body window-body">
      <div class="row mb10">
        <div class="col-md-6">
          <b>From Date:</b>
        </div>
        <div class="col-md-6">
          <b>To Date:</b>
        </div>
        <div class="col-md-6">
          <%= text_field_tag :trans_report_start_date,{}, value: params[:start_date], class: 'form-control transaction-report-datepicker p5_10' %>
        </div>
        <div class="col-md-6">
          <%= text_field_tag :trans_report_end_date,{}, value: params[:end_date], class: 'form-control transaction-report-datepicker p5_10' %>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row mb10">
        <div class="col-md-4">
          <b>User:</b>
          <% @all_user = @all_user << ['All User', 'all_user'] %>
          <%= select_tag 'user_name', options_for_select(@all_user, selected: current_user.id), include_blank: false, include_hidden: false, class: 'form-control trans-report-concerned-person', style: 'padding: 5px' %>
          <input type="hidden" name="purchase_report[user_id]" id="concerned_user_id">
        </div>
      </div>
      <div class="row mb10">
        <div class="col-md-6">
          <%= radio_button_tag 'gst_include', '0', true %>
          <label for="gst_include_0">Exclude Tax Breakup</label><br>
          <%= radio_button_tag 'gst_include', '1' %>
          <label for="gst_include_1">Include Tax Breakup</label>
        </div>
        <div class="col-md-6"></div>
      </div>

    </div>

    <div class="modal-footer window-footer">
      <a href="" class="btn btn-info" id='trans_report_download' >Download</a>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
   

  </div>
</div>

<style type="text/css">
  input[type=radio] {
    border: 0px;
    width: 10%;
    height: 20px;
}
</style>