var from = '<%= @from %>'
if (from == 'patient_queue') {
  $('#invoice-modal').modal('hide')
  $('#inventory-invoice-cancellation-modal').modal('hide')
  var department_id = '<%= @inventory_store&.department_id %>'
  if (department_id == '50121007') {
    $('#btn-optical-management-refresh').trigger('click');
  } else {
    $('#btn-pharmacy-management-refresh').trigger('click');
  }
} else {
  $(".inventory-table-body").html("<%= escape_javascript(render partial: '/invoice/inventory_invoices/index_body.html.erb') %>")
  $("#free-invoice-inventory-modal").html("<%= escape_javascript(render '/invoice/inventory_invoices/print_preview.html.erb') %>")

  $("#inventory-invoice-cancellation-modal").modal("hide")

  storeContentHeight = $(".store-content").height()
  storeListHeight = storeContentHeight - $('.inventory-toolbar').height()
  storeBodyHeight = storeListHeight - $('.inventory-table-head').height()
  $('.inventory-table-body').height(storeBodyHeight)

  jQuery(".inventory-show-panel").html('<h3 class="text-center" style="margin-top: 200px">Please select from list.</h3>')

  if($('.inventory-table-body tr').length == <%= @inventory_invoices.count %>){
    $('#show_more_inventory').hide();
  }

  $('.inventory-items .inventory-list-row').unbind()
  $('.inventory-items .inventory-list-row').on('click', function(e){
    e.preventDefault();
    var _id =  $(this).attr('id');
    $('.inventory-list-row').css('background-color', '')
    $(this).css('background-color', '#f0f0f0')
    $.ajax({
      type: 'GET',
      data: {
        remote: true
      },
      url: '/invoice/inventory_invoices/'+_id,
      success: function(){
      }
    })
  })
}


notice = new PNotify({ title: 'Success', text: 'Successfully Cancel Invoice. Please REFRESH the page.', type: 'success' }); notice.get().click(function(){ notice.remove() });