<% precision = (@payment_received.currency_id == "VND001") ? 0 : 2
   amount_received = number_with_precision(@payment_received.try(:amount_received).to_f, precision: precision)
   amount_received = Common::Finance::NumberFormatService.call(@number_format, amount_received)
%>
<div class="row advance_payment">
  <div class="col-md-12">
    <div class="row mb5">
      <span style="font-size:12px;" class="text-center col-md-12">
        <b><%=@inventory_invoice.department_name%> Receipt</b>
      </span>
    </div>
    <div class="row patient-info mb20">
      <%= render partial: 'print_info.html.erb' %>
    </div>
    <hr/>
    <div class="row advance-info mb20">
      <div class="col-md-12">

        <p>Received with thanks a sum of <b><%= @payment_received.currency_symbol %> <%= amount_received %></b> from <b><%= @received_from.to_s.upcase %></b> towards <b><%= @inventory_invoice.bill_number %></b> by <b><%= @payment_received.mode_of_payment.titleize %></b> dated <b><%= @payment_received.date.strftime("%d/%m/%Y") %></b>.</p>
        <% if @refund_payments.present? %>
          <% @refund_payments.each do |refund_payment| %>
            <% amount_with_precision = number_with_precision(refund_payment.amount, precision: precision) %>
            <% amount_display = Common::Finance::NumberFormatService.call(@number_format, amount_with_precision) %>
            <p>Refunded a sum of <b><%= refund_payment.currency_symbol %> <%= amount_display %></b> to <b><%= @patient.fullname.to_s.upcase %></b> by <b><%= refund_payment.mode_of_payment.titleize %></b> dated <b><%= refund_payment.payment_date.strftime("%d/%m/%Y") %></b>.</p>
            <p>Refund Remark:  <b><%= refund_payment.reason || "-" %></b></p>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row footer-info">
      <div class="col-md-8">
        <b style="font-size: 12px;"><%= @payment_received.currency_symbol %> <%= amount_received %>/-</b>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <% if @organisation_settings.cin.present? %>
          <strong>CIN:&nbsp;&nbsp;</strong><%= @organisation_settings.cin %><br/>
        <% end %>
        <% if @inventory_invoice.tax_enabled %>
          <% if @invoice_setting.gst_indentification_number.present? %>
            <strong>GST No.:&nbsp;&nbsp;</strong><%= @invoice_setting.gst_indentification_number %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-right">
        <!--Signature-->
        <%= render partial: 'common/user_signature.html.erb',locals: {user_id: @inventory_invoice.user.try(:id)} %>
        <!--Signature Ends-->
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .advance_payment {
     font-size: 10px;
  }
</style>