<div class="modal-dialog" style="width: 50%">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Edit File Details</h4>
    </div>
    <%= form_for(@asset, url: { action: 'update', id: @asset.id }, method: :put, remote: true) do |f| %>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <b>Filename: </b>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>

        <div class="row" style="margin-top: 15px;">
          <div class="col-md-6">
            <b>Reported Date: </b>
            <%= f.text_field :reported_date, class: 'form-control col-md-6', id: 'date', value: @asset.reported_date.try(:strftime, '%d/%m/%Y') %>
          </div>

          <div class="col-md-6">
            <b>Reported Time: </b>
            <div class="reportedtime-col bootstrap-timepicker timepicker">
              <%= f.text_field :reported_time, class: 'string optional form-control reportedtime', id: 'time', value: @asset.read_attribute(:reported_time).in_time_zone.strftime('%I:%M %p') %>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 15px;">
          <div class="col-md-6">
            <b>Upload Category: </b>
            <%= f.select :parent_folder_id, options_for_select([['All', ''], ['Prescription', '560cc6f72b2e26135d000000'], ['Radiology', '560cc6f72b2e26135d000001'], ['Laboratory', '560cc6f72b2e26135d000002'], ['Other Report', '560cc6f72b2e26135d000003'], ['Insurance', '560cc6f72b2e26135d000004'], ['OPD Report', '560cc6f72b2e26135d000005'], ['IPD Report', '560cc6f72b2e26135d000006'], ['Drawings', '560cc6f72b2e26135d000007']], selected: @asset.try(:parent_folder_id)),
                         { include_blank: true }, class: 'form-control' %>
          </div>
          <div class="col-md-6">
            <b>Specialties: </b>
            <%= f.select :specialty_id, options_for_select(@specialties.map { |ele| [ele.name, ele.id] }, @asset.specialty_id.to_s), {}, class: 'form-control col-md-6' %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit 'Update', class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>

<script>
  $('#date').datepicker();
  $('#time').timepicker({minuteStep: 5});

</script>
<style>
    .bootstrap-timepicker-widget table td input {
        width: 50px;
    }
</style>
