<div class="modal-body">

	  <%= simple_form_for :paperreport, url: paperrecords_save_uploaded_asset_path(format: :js), :remote => true, :multipart => true, :html => {:id => "upload-paper-records-form", :class => "upload-paper-records-form dropzone"} do |f| %>

      <div class="pull-left">

        <h5><strong>Patient id:</strong> <%= @patient.id %>|<strong>Name:</strong> <%= @patient.fullname %>
          |<strong>Age:</strong> <%if @patient.is_approx_dob == false %><%= @patient.calculate_age %><% elsif @patient.is_approx_dob == true %> <strong>|</strong> <%= @patient.calculate_age %><% else %> Unavailable<% end %>|<strong>Gender:</strong> <%= @patient.gender %></h5>
      </div>

      <div class="pull-right">
        <%= submit_tag "Upload Record", class: "btn btn-success start" %>
        <button aria-hidden="true" class="btn btn-info" data-dismiss="modal">Cancel or Close</button>
      </div>
      <br/>
      <br/>

      <%= hidden_field_tag "paperreport[patient_id]", @patient.id %>

      <div class="row">

        <div class="col-md-12">

          <div class="row mb10">

            <div class="col-md-6">

              <label for="reportype-radiolabel">Report type</label>
              <%= f.input_field :reportype, collection: ['Operative', 'Pathalogy', 'Radiology', 'Discharge summary', 'OT summary', 'OPD summary'], as: :select, :label => false, :item_wrapper_class => 'radio-inline', :required => true %>

            </div>

          </div>

          <div class="row mb10">

            <div class="col-md-6">

            </div>

          </div>

          <div class="row mb10">

            <div class="col-md-12">
              <label class="control-label">Report Details</label>

              <div class="row mb10">

                <div class="col-md-4">

                  <label>Report Date</label>

                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    <%= f.input_field :reporteddate, :label => false, :required => false, :class => "form-control reporteddate", :id => "reporteddate", :placeholder => "dd/mm/yyyy" %>
                  </div>

                </div>

                <div class="col-md-4">

                  <label>Report Time</label>

                  <div class="input-group mb15">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>

                    <div class="bootstrap-timepicker timepicker">
                      <%= f.input_field :reportedtime, :label => false, :required => false, :class => "form-control reportedtime", :id => "reportedtime" %>
                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>

          <div class="row mb10">

            <div class="col-sm-8">
              <label class="control-label">Uploaded Date & Time</label>

              <div class="row mb10">

                <div class="col-sm-8">

                  <%= text_field_tag "paperreport[reportuploaddatetext]", Date.current.strftime("%e %B, %Y"), {:maxlength => 20, :size => 20, :class => 'form-control reportuploaddatetext', :readonly => true} %>
                  <%= hidden_field_tag "paperreport[reportuploaddate]", Date.current.strftime("%d/%m/%Y"), {:maxlength => 10, :size => 10, :class => 'form-control reportuploaddate', :readonly => true} %>

                </div>

                <div class="col-sm-4">
                  <%= text_field_tag "paperreport[reportuploadtimetext]", Time.current.strftime("%I:%M %p"), {:maxlength => 10, :size => 10, :class => 'form-control reportuploadtimetext', :readonly => true} %>
                  <%= hidden_field_tag "paperreport[reportuploadtime]", Time.current.strftime("%H:%M"), {:maxlength => 10, :size => 10, :class => 'form-control reportuploadtime', :readonly => true} %>
                </div>

              </div>

            </div>

            <div class="col-sm-4">

            </div>

          </div>
          <div id="actions" class="row">

            <div class="col-lg-7">
              <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button dz-clickable">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files</span>
                </span>
            </div>

            <div class="col-lg-5">
              <!-- The global file processing state -->
        <span class="fileupload-process">
          <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="opacity: 0;">
            <div class="progress-bar progress-bar-success" style="width: 100%;" data-dz-uploadprogress=""></div>
          </div>
        </span>
            </div>

          </div>
          <div class="row">
            <div class="table table-striped" class="files" id="previews">

              <div id="template" class="file-row">
                <!-- This is used as the file preview template -->
                <div class="">
                  <span class="preview"><img data-dz-thumbnail/></span>
                </div>
                <div>
                  <p class="name" data-dz-name></p>
                  <strong class="error text-danger" data-dz-errormessage></strong>
                </div>
                <div>
                  <p class="size" data-dz-size></p>

                  <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                    <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                  </div>
                </div>
                <div>
                  <button data-dz-remove class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                  </button>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>

  <% end %>

</div>
<%= javascript_include_tag "bootstrap-timepicker.min", "data-turbolinks-track" => true %>
<%= javascript_include_tag "bootstrap-fileupload.min", "data-turbolinks-track" => true %>
<script>
    //jQuery(document).ready(function () {
        jQuery('#reporteddate').datepicker({
            dateFormat: "dd/mm/yy"
        });
        jQuery('#reportedtime').timepicker({
            defaultTIme: false,
            minuteStep: 5
        });
        var previewNode = document.querySelector("#template");
        previewNode.id = "";
        var previewTemplate = previewNode.parentNode.innerHTML;
        previewNode.parentNode.removeChild(previewNode);

        Dropzone.options.uploadPaperRecordsForm = { // The camelized version of the ID of the form element

            // The configuration we've talked about above
            thumbnailWidth: 80,
            thumbnailHeight: 80,
            parallelUploads: 20,
            previewTemplate: previewTemplate,
            paramName: "paperreport[reportfile]",
            autoQueue: false, // Make sure the files aren't queued until manually added
            previewsContainer: "#previews", // Define the container to display the previews
            clickable: ".fileinput-button",
            dictDefaultMessage: "",
            // The setting up of the dropzone
            init: function () {
                var myDropzone = this;
                $(this).removeClass("dropzone");
                // First change the button to actually tell Dropzone to process the queue.
                this.element.querySelector("input[type=submit]").addEventListener("click", function (e) {
                    // Make sure that the form isn't actually being sent.
                    e.preventDefault();
                    e.stopPropagation();
                    myDropzone.processQueue();
                });


              // Update the total progress bar
                myDropzone.on("totaluploadprogress", function (progress) {
                    document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
                });

                myDropzone.on("sending", function (file) {
                    // Show the total progress bar when upload starts
                    document.querySelector("#total-progress").style.opacity = "1";
                    // And disable the start button

                });

            // Hide the total progress bar when nothing's uploading anymore
                myDropzone.on("queuecomplete", function (progress) {
                    document.querySelector("#total-progress").style.opacity = "0";
                });
                document.querySelector("input[type=submit].start").onclick = function () {
                    myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED));
                };
            },
            success: function (response) {
                eval(response.xhr.response);
            }

        }


   // });
    function close_window() {
        if (confirm("Uploads successful.")) {
            close();
        }
    }
</script>