<%#= form_for :investigation_record, remote: true, html: { id: 'new-patient-form', class: "patient-form" } do |patient| %>
<%#= form_tag :patient_summary_asset_upload, url: paperrecords_evaluate_image_path(format: :js), :remote => true, :multipart => true, :html => {:id => "records-form", :class => ""} do |f| %>

<%= form_tag "/paperrecords/evaluate_image", :method => :post, :remote => true, :multipart => true, :id => 'evaluate_image_form', :class => 'form form-bordered' do %>
  <div class="" style="padding: 100px">
    <%#= file_field_tag :image, accept: 'image/png,image/jpeg'%>
    <div class="row mb30">
      <strong><h3>Fundus Image Evaluation</h3></strong>
    </div>
    <div class="row mb15">
      <div class="col-md-4">
        <%= label_tag  :file_name, "File Name" %>
      </div>
      <div class="col-md-8">
        <%= text_field_tag :file_name %>
      </div>
    </div>

    <div class="row mb30">
      <div class="col-md-4">
        <%= label_tag  :image, "Upload Image" %>
      </div>

      <div class="col-md-8">
        <% file_name = "photos/no_picture_available.png" %>
        <%= image_tag(file_name, :width=>"150", :height=>"150", class: "thumb", onclick: "$('#upload-eye-image').click();")%>
        <%= file_field_tag :image, {style: "visibility:hidden", id: 'upload-eye-image', onchange: "readURL(this)", accept: 'image/png,image/jpeg' } %>
      </div>
    </div>

    <div class="row mb30">
      <%= submit_tag "Evaluate", class: "btn btn-success", data: { 'disable-with': 'Evaluating ...' } %>
    </div>
  </div>

<% end %>

<div class="evaluation-response", style="padding: 50px">
</div>



<script>
  function readURL(input) {
    $("#remove_user_profile_pic").attr('value', 'false')
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $(input).parent().find(".thumb").attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }

</script>