<% if params[:action] == 'edit' %>
  <%= f.hidden_field :id, value: @ward_checklist.try(:id) %>
<% end %>
<%= f.hidden_field :patient_id, value: @patient_id %>
<%= f.hidden_field :admission_id, value: @admission_id %>
<%= f.hidden_field :specalityid, value: @specalityid %>
<%= f.hidden_field :specalityname, value: @speciality_folder_name %>
<%= f.hidden_field :organisation_id, value: @current_user.organisation_id %>
<%= f.hidden_field :facility_id, value: @current_facility.id %>

<div class="mb20">


  <div class="row form-group">
    <div class="col-md-2"><%= f.label :entered_by, "Form completed by" %></div>
    <div class="col-md-2"><%= @current_user.fullname %></div>
    <%= f.hidden_field :entered_by,{:class => "form-control",:value=>@current_user.id} %>
  </div>


  <div class="row form-group">
    <div class="col-md-2"><%= f.label :surgery_name %></div>
    <div class="col-md-2"><%= f.text_field :surgery_name,{:class => "form-control"} %></div>


    <div class="col-md-2"><%= f.label :surgeon_name %></div>
    <div class="col-md-2"><%= f.text_field :surgeon_name,{:class => "form-control"} %></div>
  </div>
</div>



<div class="row mb20">
  <div class="col-md-12 text-center">
    <h4>Pre-operative</h4>
  </div>


  <div class="col-md-3"><%= f.label :patient_identity_confirmed %></div>
  <div class="col-md-3">
    <%= f.input :patient_identity_confirmed, wrapper_html: {:class=>"patient_identity_confirmed"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_ward_checklist[patient_identity_confirmed]'}, :checked => @ward_checklist.read_attribute(:patient_identity_confirmed) %>
  </div>
  <div class="col-md-3"><%= f.label :bill_payment_confirmation %></div>
  <div class="col-md-3">
    <%= f.input :bill_payment_confirmation, wrapper_html: {:class=>"bill_payment_confirmation"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_ward_checklist[bill_payment_confirmation]'}, :checked => @ward_checklist.read_attribute(:bill_payment_confirmation) %>
  </div>
  <div class="col-md-3"><%= f.label :patient_checkin_time %></div>
  <div class="col-md-3 bootstrap-timepicker timepicker">
    <%= f.text_field :patient_checkin_time,{:class => "form-control", :value => @ward_checklist.try(:patient_checkin_time).present? ? @ward_checklist.try(:patient_checkin_time).strftime('%I:%M %p') : Time.current.strftime("%I:%M %p")} %>
  </div>

  <div class="col-md-3"><%= f.label :investigation_reports %></div>
  <div class="col-md-3">
    <%= f.input :investigation_reports, wrapper_html: {:class=>"investigation_reports"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_ward_checklist[investigation_reports]'}, :checked => @ward_checklist.read_attribute(:investigation_reports) %>
  </div>

<!--  'Using Blood thinners eg. Ecosprin, Clopitab, Warfarin, Acitron etc'-->
  <div class="col-md-3"><%= f.label :a_scan %></div>
  <div class="col-md-3">
    <%= f.input :a_scan, wrapper_html: {:class=>"a_scan"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_ward_checklist[a_scan]'}, :checked => @ward_checklist.read_attribute(:a_scan) %>
  </div>

  <div class="col-md-3"><%= f.label :toric_iol_icl_marking,'Toric IOL/ICL marking by surgeon' %></div>
  <div class="col-md-3">
    <%= f.input :toric_iol_icl_marking, wrapper_html: {:class=>"toric_iol_icl_marking"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_ward_checklist[toric_iol_icl_marking]'}, :checked => @ward_checklist.read_attribute(:toric_iol_icl_marking) %>
  </div>

  <div class="col-md-3"><%= f.label :site_marked, 'Operation Site Identified and Marked' %></div>
  <div class="col-md-3">
    <%= f.input :site_marked, wrapper_html: {:class=>"site_marked"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_ward_checklist[site_marked]'}, :checked => @ward_checklist.read_attribute(:site_marked) %>
  </div>

  <div class="col-md-3"><%= f.label :consent_signed_by_patient %></div>
  <div class="col-md-3">
    <%= f.input :consent_signed, wrapper_html: {:class=>"consent_signed"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_ward_checklist[consent_signed]'}, :checked => @ward_checklist.read_attribute(:consent_signed) %>
  </div>


  <div class="col-md-3"><%= f.label :consent_signed_by_witness %></div>
  <div class="col-md-3">
    <%= f.input :consent_signed_by_witness, wrapper_html: {:class=>"consent_signed_by_witness"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_ward_checklist[consent_signed_by_witness]'}, :checked => @ward_checklist.read_attribute(:consent_signed_by_witness) %>
  </div>

  <div class="col-md-3"><%= f.label :consent_signed_by_surgeon %></div>
  <div class="col-md-3">
    <%= f.input :consent_signed_by_surgeon, wrapper_html: {:class=>"consent_signed_by_surgeon"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_ward_checklist[consent_signed_by_surgeon]'}, :checked => @ward_checklist.read_attribute(:consent_signed_by_surgeon) %>
  </div>


  <div class="col-md-3"><%= f.label :vitals_checked %></div>
  <div class="col-md-3">
    <%= f.input :vitals_checked, wrapper_html: {:class=>"vitals_checked"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_ward_checklist[vitals_checked]'}, :checked => @ward_checklist.read_attribute(:vitals_checked) %>
  </div>

  <div class="col-md-3"><%= f.label :patient_allergy %></div>
  <div class="col-md-3">
    <%= f.input :patient_allergy, wrapper_html: {:class=>"patient_allergy"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_ward_checklist[patient_allergy]'}, :checked => @ward_checklist.read_attribute(:patient_allergy) %>
  </div>

  <div class="col-md-3"><%= f.label :medicine_given %></div>
  <div class="col-md-3">
    <%= f.input :medicine_given, wrapper_html: {:class=>"medicine_given"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_ward_checklist[medicine_given]'}, :checked => @ward_checklist.read_attribute(:medicine_given) %>
  </div>

  <div class="col-md-3"><%= f.label :slit_lamp_examination_done %></div>
  <div class="col-md-3">
    <%= f.input :slit_lamp_examination_done, wrapper_html: {:class=>"slit_lamp_examination_done"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_ward_checklist[slit_lamp_examination_done]'}, :checked => @ward_checklist.read_attribute(:slit_lamp_examination_done) %>
  </div>

  <div class="col-md-3"><%= f.label :pac %></div>
  <div class="col-md-3">
    <%= f.input :pac, wrapper_html: {:class=>"pac"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_ward_checklist[pac]'}, :checked => @ward_checklist.read_attribute(:pac) %>
  </div>

  <div class="col-md-3"><%= f.label :dilation_done %></div>
  <div class="col-md-3">
    <%= f.input :dilation_done, wrapper_html: {:class=>"dilation_done"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_ward_checklist[dilation_done]'}, :checked => @ward_checklist.read_attribute(:dilation_done) %>
  </div>

  <div class="col-md-3"><%= f.label :informed_surgeon %></div>
  <div class="col-md-3">
    <%= f.input :informed_surgeon, wrapper_html: {:class=>"informed_surgeon"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_ward_checklist[informed_surgeon]'}, :checked => @ward_checklist.read_attribute(:informed_surgeon) %>
  </div>

  <div class="col-md-3"><%= f.label :informed_anesthesiologist %></div>
  <div class="col-md-3">
    <%= f.input :informed_anesthesiologist, wrapper_html: {:class=>"informed_anesthesiologist"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_ward_checklist[informed_anesthesiologist]'}, :checked => @ward_checklist.read_attribute(:informed_anesthesiologist) %>
  </div>

  <div class="col-md-3"><%= f.label :informed_ot_staff %></div>
  <div class="col-md-3">
    <%= f.input :informed_ot_staff, wrapper_html: {:class=>"informed_ot_staff"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_ward_checklist[informed_ot_staff]'}, :checked => @ward_checklist.read_attribute(:informed_ot_staff) %>
  </div>

</div>





