<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog" style="width:99%;">
  <!-- Modal content-->
  <div class="modal-content">
    <%= simple_form_for @ward_checklist, remote: true , html: { id: "ward_checklist" } do |f| %>
      <div class="modal-header">
        <div class="row">
          <div class="pull-right">
            <% if params[:action] == "edit" %>
              <%= f.submit "Update", class: " btn btn-success btn-sm submit_ward_checklist" %>
            <%elsif params[:action] == "new" %>
              <%= f.submit "Save", class: "btn btn-success btn-sm submit_ward_checklist" %>
            <% end %>
            <button type="button" class=" btn btn-default btn-sm close_ward_checklist_modal" data-dismiss="modal">Close</button>
          </div>
          <div class="modal-title">Ward Checklist</div>
        </div>
      </div>
      <div class="modal-body">
        <%= render partial: 'form.html.erb', locals: { f: f } %>
      </div>
    <% end %>
  </div>
</div>