<div class="modal-dialog modal_ward_checklist">
  <div class="modal-content">
    <div class="modal-header">
      <div class="pull-right"> <!-- Action Buttons starts -->
        <button aria-hidden="true" class="btn btn-info" data-dismiss="modal">Close</button>
      </div>
      <div class="text-center">
        <h4 class="nomargin">Ward Checklist </h4>
      </div>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-9 col-sm-9" style="padding-right: 30px; padding-left: 30px;">
          <!-- Action Button -->
          <div class="row mb10">
            <div class="col-md-12 mb5">
              <div class="ipd-review-actions">
                <div class="btn-group mr10">
                  <%= link_to edit_inpatient_ward_checklist_path(id: @ward_checklist.id, admission_id: @admission.id.to_s, specialty_id: @admission.specialty_id), id: "ward_checklist-note-btn", class: "btn btn-primary ward_checklist", data: { remote: true, toggle:  "modal", target: '#ward-checklist-modal' } do %><i class="fa fa-edit"></i> Edit <% end %>
                  <% if Authorization::PolicyHelper.verification(current_user.id ,"HGP-101-106-100") %>
                    <% if @print_settings.count > 1 %>
                      <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-print mr5"></i> Print <i class="fa fa-caret-down"></i></button>
                        <ul class="dropdown-menu dropdown-left-manual" role="menu" aria-labelledby="summary-print-dropdown">
                          <% @print_settings.each do |print_setting| %>
                            <li style="text-align:left" class="multi-print">
                              <%= link_to inpatient_ward_checklist_print_path(patient_id: @patient.id.to_s,admission_id: @admission.id.to_s, ward_checklist_id: @ward_checklist.id, print_setting_id: print_setting.id, format: 'pdf'), :class => "ward_checklist_print",:style => "color: #d9534f;",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> <%= print_setting.name %> <% end %>
                            </li>
                          <% end %>
                        </ul>
                      </div>
                    <% else %>
                      <%= link_to inpatient_ward_checklist_print_path(patient_id: @patient.id.to_s,admission_id: @admission.id.to_s, ward_checklist_id: @ward_checklist.id, print_setting_id: @print_settings[0].id, format: 'pdf'), :class => "btn btn-primary ward_checklist_print",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> Print <% end %>
                    <% end %>
                  <% end %>
                  <% if Authorization::PolicyHelper.verification(current_user.id ,"HGP-101-106-101") %>
                    <%= link_to new_mail_record_tracker_path(:record_name => 'Ward Checklist', :record_id => @ward_checklist.id, :record_model => 'Inpatient::IpdRecord',admission_id: @admission.id.to_s, speciality_id: @admission.specialty_id),  class: "btn btn-primary", :id => "record-mail-html", :data => {:remote => true, 'disable-with' =>  "Please Wait..."} do %><i class="glyphicon glyphicon-envelope"></i> Email<% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <!-- Action Button Ends -->
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <%= render partial: 'inpatient/ipd_record/patient_info.html.erb' %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <%= render partial: 'inpatient/ward_checklists/ward_checklists_details.html.erb', locals: {ward_checklist: @ward_checklist, mail_job: false} %>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="border-left: 1px solid #ddd;">
          <!-- Show History Logic Starts -->
          <div class="show-history text-center">
            <div class="row mb10">
              <div class="col-md-12">
                <h4 style="margin:0px;">Template History(Ward Checklist)</h4>
              </div>
            </div>
            <div class="row" style="background:#1CAF9A;padding: 6px;">
              <% @ipd_history_creator = @ward_checklist.record_histories.where(template_type: 'ward_checklist') %>
              <% if @ipd_history_creator.count > 0 %>
                <div class="col-md-1">
                  <span style="color:#1CAF9A;">|</span>
                </div>
                <div class="col-md-2">
                  <div style="margin-top:7px;"><span style="border-radius: 100%;background-color: #fff;padding: 7px 10px;font-size: 12px;color: #1CAF9A;">C</span>&nbsp;<span style="color:#fff;">reated</span></div>
                </div>
                <div class="col-md-9">
                  <p style="margin-bottom:-7px;font-size:16px;color: #fff;"><b><%= User.find_by(id: @ipd_history_creator[0].user_id.to_s).fullname %></b></p>
                  <span style="font-size:9px;color: #fff;"><%= @ipd_history_creator[0].actiontime.strftime('%I:%M%P, %d %B') %></span>
                </div>
              <% end %>
            </div>
            <div class="show-history-details" style="max-height:300px;overflow:scroll;margin-top:10px;">
              <div class="col-md-12 mt5 mb5" style="border-bottom:1px solid #ddd;">
                <p class="info-history-abbv" style="font-size:10px;">
                  <span style="border-radius: 100%;background-color: #d9534f;padding: 3px 5px;font-size: 12px;color: #fff;">U</span> = <b>Update</b> ,&nbsp;&nbsp; <span style="border-radius: 100%;background-color: #428bca;padding: 3px 5px;font-size: 12px;color: #fff;">P</span> = <b>Print</b>
                </p>
              </div>
              <% @ipd_history = @ward_checklist.record_histories.order(actiontime: :desc) %>
              <% @ipd_history.each do |ipd_history| %>
                <% if ipd_history.action != "C" %>
                  <div class="row" style="border-bottom:1px solid #ddd; padding: 7px 0;">
                    <div class="col-md-1">
                      <span style="color:#fff;">|</span>
                    </div>
                    <div class="col-md-2">
                      <div style="margin-top:7px;">
                        <% if ipd_history.action == "U" %>
                          <span style="border-radius: 100%;background-color: #d9534f;padding: 7px 10px;font-size: 12px;color: #fff;">U
                          </span>
                        <% elsif ipd_history.action == "C" %>
                          <span style="border-radius: 100%;background-color: #1CAF9A;padding: 7px 10px;font-size: 12px;color: #fff;">C
                          </span>
                        <% elsif ipd_history.action == "P" %>
                          <span style="border-radius: 100%;background-color: #428bca;padding: 7px 10px;font-size: 12px;color: #fff;">P
                          </span>
                        <% end %>
                      </div>
                    </div>
                    <div class="col-md-9">
                      <p style="margin-bottom:-7px;font-size:16px;"><b><%= User.find_by(id: ipd_history.user_id.to_s).fullname %></b></p>
                      <span style="font-size:9px;"><%= ipd_history.actiontime.strftime('%I:%M%P, %d %B') %></span>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
          <!-- Show History Logic Ends -->
        </div>
      </div>
    </div>
  </div>
</div>

<style>

  .modal_ward_checklist {
    width: 95%;
  }

  .paper_view {
    box-shadow: 0 0 6px #ccc;
    max-width: 90%;
    padding: 0 0.400000in 0 0.550000in;
    font-family: 'Open Sans';
  }

  .updated_by, .printed_by, .created_by {
    border-radius: 100%;
    background-color: #d9534f;
    padding: 7px 10px;
    font-size: 12px;
    color: #fff;
  }

  .printed_by {
    background-color: #428bca;
  }

  .created_by {
   background-color: #fff;
   color: #1CAF9A;
  }
</style>
