<div class="row mb10">
  <div class="col-md-12 text-center">
    <div class="pcs-entity-title">
      <span>Ward Checklist Summary</span>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <strong>WARD CHECKLIST</strong>
        <div class="summary-line-border"></div>
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-12 col-sm-12">
        <div class="col-md-3 col-sm-3">
          <b>Entered By :</b>
        </div>
        <div class="col-md-9 col-sm-9">
          <% if ward_checklist.try(:entered_by).present? %>
            <% entered_by_fullname = User.find_by(id: ward_checklist.entered_by).try(:fullname) %>
            <span><%= entered_by_fullname.titleize %></span>
          <% end %>
        </div>
        <div class="col-md-3 col-sm-3">
          <b>Surgery Name :</b>
        </div>
        <div class="col-md-9 col-sm-9">
          <% if ward_checklist.try(:surgery_name).present? %>
            <span><%= ward_checklist.surgery_name.titleize %></span>
          <% end %>
        </div>
        <div class="col-md-3 col-sm-3">
          <b>Surgeon Name :</b>
        </div>
        <div class="col-md-9 col-sm-9">
          <% if ward_checklist.try(:surgeon_name).present? %>
            <span><%= ward_checklist.surgeon_name.titleize %></span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-12 col-sm-12">
        <strong><b style="text-decoration:underline;">Pre-operative:</b></strong>
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="col-md-3 col-sm-3">
          <b>Checkin Time : </b>
        </div>
        <div class="col-md-3 col-sm-3">
          <% if ward_checklist.try(:patient_checkin_time).present? %>
            <span><%= ward_checklist.patient_checkin_time.strftime("%I:%M %p") %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-3 col-sm-3">
          <b>Identity Confirmed : </b>
        </div>
        <div class="col-md-3 col-sm-3">
          <% if ward_checklist.try(:patient_identity_confirmed).present? %>
            <span><%= ward_checklist.patient_identity_confirmed %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-3 col-sm-3">
          <b>Payment Confirmation : </b>
        </div>
        <div class="col-md-3 col-sm-3">
          <% if ward_checklist.try(:bill_payment_confirmation).present? %>
            <span><%= ward_checklist.bill_payment_confirmation %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-3 col-sm-3">
          <b>Investigation Reports : </b>
        </div>
        <div class="col-md-3 col-sm-3">
          <% if ward_checklist.try(:investigation_reports).present? %>
            <span><%= ward_checklist.investigation_reports %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-3 col-sm-3">
          <b>A Scan : </b>
        </div>
        <div class="col-md-3 col-sm-3">
          <% if ward_checklist.try(:a_scan).present? %>
            <span><%= ward_checklist.a_scan %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-3 col-sm-3">
          <b>Toric IOL/ICL Marking : </b>
        </div>
        <div class="col-md-3 col-sm-3">
          <% if ward_checklist.try(:toric_iol_icl_marking).present? %>
            <span><%= ward_checklist.toric_iol_icl_marking %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-3 col-sm-3">
          <b>Site Marked : </b>
        </div>
        <div class="col-md-3 col-sm-3">
          <% if ward_checklist.try(:site_marked).present? %>
            <span><%= ward_checklist.site_marked %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-3 col-sm-3">
          <b>Consent Signed : </b>
        </div>
        <div class="col-md-3 col-sm-3">
          <% if ward_checklist.try(:consent_signed).present? %>
            <span><%= ward_checklist.consent_signed %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-3 col-sm-3">
          <b>Consent by Witness : </b>
        </div>
        <div class="col-md-3 col-sm-3">
          <% if ward_checklist.try(:consent_signed_by_witness).present? %>
            <span><%= ward_checklist.consent_signed_by_witness %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-3 col-sm-3">
          <b>Consent by Surgeon : </b>
        </div>
        <div class="col-md-3 col-sm-3">
          <% if ward_checklist.try(:consent_signed_by_surgeon).present? %>
            <span><%= ward_checklist.consent_signed_by_surgeon %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-3 col-sm-3">
          <b>Vitals Checked : </b>
        </div>
        <div class="col-md-3 col-sm-3">
          <% if ward_checklist.try(:vitals_checked).present? %>
            <span><%= ward_checklist.vitals_checked %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-3 col-sm-3">
          <b>Patient Allergy : </b>
        </div>
        <div class="col-md-3 col-sm-3">
          <% if ward_checklist.try(:patient_allergy).present? %>
            <span><%= ward_checklist.patient_allergy %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-3 col-sm-3">
          <b>Medicine Given :</b>
        </div>
        <div class="col-md-3 col-sm-3">
          <% if ward_checklist.try(:medicine_given).present? %>
            <span><%= ward_checklist.medicine_given %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-3 col-sm-3">
          <b>Slit Lamp Exam : </b>
        </div>
        <div class="col-md-3 col-sm-3">
          <% if ward_checklist.try(:slit_lamp_examination_done).present? %>
          <span><%= ward_checklist.slit_lamp_examination_done %></span>
          <% else %>
          <span>--</span>
          <% end %>
        </div>
        <div class="col-md-3 col-sm-3">
          <b>Pac : </b>
        </div>
        <div class="col-md-3 col-sm-3">
          <% if ward_checklist.try(:pac).present? %>
            <span><%= ward_checklist.pac %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-3 col-sm-3">
          <b>Dilation Done : </b>
        </div>
        <div class="col-md-3 col-sm-3">
          <% if ward_checklist.try(:dilation_done).present? %>
            <span><%= ward_checklist.dilation_done %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-3 col-sm-3">
          <b>Informed Surgeon : </b>
        </div>
        <div class="col-md-3 col-sm-3">
          <% if ward_checklist.try(:informed_surgeon).present? %>
            <span><%= ward_checklist.informed_surgeon %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-3 col-sm-3">
          <b>Informed to OT Staff : </b>
        </div>
        <div class="col-md-3 col-sm-3">
          <% if ward_checklist.try(:informed_ot_staff).present? %>
            <span><%= ward_checklist.informed_ot_staff %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-3 col-sm-3">
          <b>Informed to Anesthesiologist : </b>
        </div>
        <div class="col-md-3 col-sm-3">
          <% if ward_checklist.try(:informed_anesthesiologist).present? %>
            <span><%= ward_checklist.informed_anesthesiologist %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>