<div class="modal-dialog" style="width: 75%;">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Select Token</h4>
    </div>
    <div class="modal-body">
      <div class="row" style="margin-left: 0px;">
        <div class="col-md-4">
          <% unless @appointment.token_number.present? %>
            <button class="btn btn-danger btn-xs btn-skip-token">Skip Without Token</button>
          <% else %>
            <button class="btn btn-danger btn-xs btn-remove-token">Remove Token</button>
          <% end %>
        </div>
        <div class="col-md-4 text-center">
          <div class="btn-group">
            <button class="btn btn-primary btn-xs btn-250">1 - 250</button>
            <button class="btn btn-primary btn-primary-transparent btn-xs btn-500">250 - 500</button>
          </div>
        </div>
        <div class="col-md-4 text-right" style="padding-right: 4%;">
          <button class="btn btn-success btn-xs btn-save-token">Save Token</button>
        </div>
      </div>
      <br>
      <div class="row" style="margin-left: 0px;">
        <div class="col-md-4">
          <% if @existing_token.present? %>
            <b>Existing Token: <label class="label label-danger" style="font-size: 14px;"><%= @existing_token || "-" %></label></b>
          <% else %>
            <b>Last Token Used: <label class="label label-danger" style="font-size: 14px;"><%= @last_token_used || "-" %></label></b>
          <% end %>
        </div>
        <div class="col-md-8 text-right" style="padding-right: 4%;">
          <b style="color: #f00;">Note: You can also "Double Click" the TOKEN to "SAVE".</b>
        </div>
      </div>
      <hr>
      <div class="row" style="margin-left: 0px;">
        <div class="col-md-12 text-center token-250">
          <div class="btn-groupss">
            <% 250.times do |i| %>
              <% if @new_used_tokens[(sprintf '%03d', i+1).to_s].present? %>
                <% appointment = Appointment.find_by(id: @new_used_tokens[(sprintf '%03d', i+1).to_s]) %>
                <button class="btn btn-danger btn-xs btn-disabled-token" style="padding: 5px;width:4%;margin-bottom: 3px;" title='<%= appointment.patient.fullname.upcase %> (<%= appointment.patient.patient_identifier_id %><%= (" : " + appointment.patient.patient_mrn) if appointment.patient.patient_mrn.present? %>)'><%= i+1 %></button>
              <% else %>
                <button class="btn btn-primary btn-primary-transparent btn-xs btn-save-token-direct" data-token-value='<%= sprintf '%03d', i+1 %>' style="padding: 5px;width:4%;margin-bottom: 3px;"><%= i+1 %></button>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-md-12 text-center token-500" style="display: none;">
          <div class="btn-groupss">
            <% 250.times do |i| %>
              <% if @new_used_tokens[(sprintf '%03d', i+251).to_s].present? %>
                <% appointment = Appointment.find_by(id: @new_used_tokens[(sprintf '%03d', i+251).to_s]) %>
                <button class="btn btn-danger btn-xs btn-disabled-token" style="padding: 5px;width:4%;margin-bottom: 3px;" title='<%= appointment.patient.fullname.upcase %> (<%= appointment.patient.patient_identifier_id %><%= (" : " + appointment.patient.patient_mrn) if appointment.patient.patient_mrn.present? %>)'><%= i+251 %></button>
              <% else %>
                <button class="btn btn-primary btn-primary-transparent btn-xs btn-save-token-direct" data-token-value='<%= sprintf '%03d', i+251 %>' style="padding: 5px;width:4%;margin-bottom: 3px;"><%= i+251 %></button>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div> -->
  </div>

</div>

<style type="text/css">
  .btn-disabled-token:hover {
    cursor: not-allowed;
  }
</style>