<div class="row">
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-4" style="width: auto; ">
        <b style="color:#000;">Invoice Type :</b>
      </div>
      <% if (is_draft.present? && is_draft == true) || (form_method.present? && form_method == 'edit') %>
        <input name="invoice_<%= type %>[invoice_type]" class="invoice_type_hidden" type="hidden" value="<%=invoice.invoice_type%>">
        <div class="col-md-3" style="padding-right: 0;padding-left: 0;">
          <div class="rdio rdio-primary">
            <input name="invoice_<%= type %>_invoice_type" id="invoice_type_cash" class="invoice_type" type="radio" value="cash" <%= "checked='checked'" if invoice.invoice_type == 'cash' %> disabled>
            <label for="invoice_type_cash">Cash</label>
          </div>
        </div>
        <div class="col-md-4" style="padding-right: 0;padding-left: 0;">
          <div class="rdio rdio-primary">
            <input name="invoice_<%= type %>_invoice_type" id="invoice_type_credit" class="invoice_type" type="radio" value="credit" <%= "checked='checked'" if invoice.invoice_type == 'credit' %> disabled>
            <label for="invoice_type_credit">Credit</label>
          </div>
        </div>
      <% else %>
        <div class="col-md-3" style="padding-right: 0;padding-left: 0;">
          <div class="rdio rdio-primary">
            <input name="invoice_<%= type %>[invoice_type]" id="invoice_type_cash" class="invoice_type" type="radio" value="cash" <%= "checked='checked'" if invoice.invoice_type == 'cash' %>>
            <label for="invoice_type_cash">Cash</label>
          </div>
        </div>
        <div class="col-md-4" style="padding-right: 0;padding-left: 0;">
          <div class="rdio rdio-primary">
            <input name="invoice_<%= type %>[invoice_type]" id="invoice_type_credit" class="invoice_type" type="radio" value="credit" <%= "checked='checked'" if invoice.invoice_type == 'credit' %>>
            <label for="invoice_type_credit">Credit</label>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-9" id="payer_display_dropdowns" style="display: none;">
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-2" style="max-width: 20%; padding-right: 0;padding-left: 0;">
            <b style="color:#000;">Payer:</b>
            <i class="fa fa-info-circle cursonr-filter tooltip-icon" id='claim_pocessor_info'></i>
            <span class="tooltip-data" tooltip_target='claim_pocessor_info'>
              This is Claim Processor
            </span>
          </div>
          <div class="col-md-5" style="margin-top: -4px;">
            <%= select_tag("invoice_#{type}[contact_group_id]", options_for_select(@contact_groups, @invoice.contact_group_id), include_blank: 'Select Payer Type', class: 'invoice_contact_group_id form-control p3_10') %>
          </div>
          <div class="col-md-5" style="margin-top: -4px;">
            <%= select_tag("invoice_#{type}[payer_master_id]", options_for_select([], ''), include_blank: 'Select Payer', class: 'invoice_payer_master_id form-control p3_10') %>
          </div>
        </div>
      </div>

      <div class="col-md-8 tpa-insurer-content">
        <div class="row">
          <div class="col-md-1 tpa-content" style="max-width: 20%;padding-right: 0;padding-left: 0;">
            <b style="color:#000;">TPA:</b>
          </div>

          <div class="col-md-2 tpa-content" style="margin-top: -4px;">
            <%= text_field_tag("invoice_#{type}[tpa_name]",@invoice.try(:tpa_name), class: 'invoice_tpa_name form-control p3_10', readonly: true) %>
            <%= hidden_field_tag("invoice_#{type}[tpa_id]",@invoice.try(:tpa_id), class: 'invoice_tpa_id form-control p3_10') %>
          </div>

          <div class="col-md-1 insurer-content" style="max-width: 20%;padding-right: 0;padding-left: 0;">
            <b style="color:#000;">Insurer:</b>
<!--            <i class="fa fa-info-circle cursonr-filter tooltip-icon" id='insurer_info'></i>-->
<!--            <span class="tooltip-data" tooltip_target='insurer_info'>-->
<!--              This is optional. Will appear in bill print only if enabled from settings.-->
<!--            </span>-->
          </div>
          <div class="col-md-1 insurer-content insurer_group_id" style="margin-top: -4px;">
            <%= select_tag("invoice_#{type}[insurer_group_id]", options_for_select(@contact_groups, @invoice.insurer_group_id), include_blank: 'Select Insurer Type', class: 'invoice_insurer_group_id form-control p3_10') %>
          </div>
          <div class="col-md-3 insurer-content" style="margin-top: -4px;">
            <%= select_tag("invoice_#{type}[insurer_id]", options_for_select([], ''), include_blank: 'Select Insurer', class: 'invoice_insurer_id form-control p3_10') %>
          </div>

          <div class="col-md-4">
            <div class="row">
              <div class="col-md-4 insurance-content" style="max-width: 25%;padding-right: 0;padding-left: 0;">
                <b style="color:#000;">Insurance:</b>
              </div>

              <div class="col-md-8 insurance-content" style="margin-top: -4px; margin-bottom: 5px;">
                <div class="invoice_insurance_id_content">
                  <%= select_tag("invoice_#{type}[insurance_id]", options_for_select([], ''), include_blank: 'Select Insurance', class: 'invoice_insurance_id form-control p3_10') %>
                </div>
                <div class="invoice_insurance_name_content">
                  <%= text_field_tag("invoice_#{type}[insurance_name]",@invoice.try(:insurance_name), class: 'invoice_insurance_name form-control p3_10', readonly: true) %>
                </div>
                <%#= hidden_field_tag("invoice_#{type}[insurance_id]",@invoice.try(:insurance_id), class: 'invoice_insurance_id form-control p3_10') %>
              </div>
            </div>
          </div>


          <div class="col-md-5">
            <div class="row">
              <div class="col-md-4 corporate-content" style="max-width: 25%;padding-right: 0;padding-left: 0;">
                <b style="color:#000;">Corporate:</b>
              </div>

              <div class="col-md-8 corporate-content" style="margin-top: -4px;">
                <div class="invoice_corporate_id_content">
                  <%= select_tag("invoice_#{type}[corporate_id]", options_for_select([], ''), include_blank: 'Select Corporate', class: 'invoice_corporate_id form-control p3_10') %>
                </div>
                <div class="invoice_corporate_name_content">
                  <%= text_field_tag("invoice_#{type}[corporate_name]",@invoice.try(:corporate_name), class: 'invoice_corporate_name form-control p3_10' , readonly: true) %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-5">
          <div class="row">
            <div class="col-md-4 dispensary-content" style="max-width: 25%;padding-right: 0;padding-left: 0;">
              <b style="color:#000;">Dispensary:</b>
            </div>
            <div class="col-md-8 dispensary-content" style="margin-top: -4px;">
              <div class="invoice_dispensary_id_content">
                <%= select_tag("invoice_#{type}[dispensary_id]", options_for_select([], ''), include_blank: 'Select Dispensary', class: 'invoice_dispensary_id form-control p3_10') %>
              </div>
              <div class="invoice_dispensary_name_content">
                <%= text_field_tag("invoice_#{type}[dispensary_name]",@invoice.try(:dispensary_name), class: 'invoice_dispensary_name form-control p3_10' , readonly: true) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
