<% if @patient_payer_data_master.present? %>
  <div class="row mb10">
    <div class="col-md-12" style="width: auto;">
      <b style="color:#000;">Patient Payer Information :</b>
    </div>
  </div>

  <% invoice_type = @invoice_type.downcase %>

  <div class="row mb15">
    <% @patient_payer_data_master.each_with_index do |data, i| %>


      <% if @invoice.present? %>
        <% @invoice_patient_payer_data = @invoice.patient_payer_data.find_by(patient_payer_data_master_id: data.try(:id)) %>
      <% end %>

      <% unless (data.is_disable == true && @invoice_patient_payer_data.try(:text_value).blank?) %>
        <div class="col-md-3" style="margin-top: -4px;">
          <strong><%= data.name %></strong>
        </div>
        <div class="col-md-3" style="margin-top: -4px;">


          <% if @invoice_patient_payer_data.try(:id).present? %>
            <%= hidden_field_tag("invoice_#{invoice_type}[patient_payer_data_attributes][#{i}][_id]",@invoice_patient_payer_data.try(:id), class: 'patient_payer_data_id form-control p7_10') %>
          <% end %>
          <%= hidden_field_tag("invoice_#{invoice_type}[patient_payer_data_attributes][#{i}][_destroy]",'0', class: 'patient_payer_data_destroy form-control p7_10') %>
          <%= hidden_field_tag("invoice_#{invoice_type}[patient_payer_data_attributes][#{i}][name]",data.try(:name), class: 'patient_payer_data_name form-control p7_10') %>
          <%= hidden_field_tag("invoice_#{invoice_type}[patient_payer_data_attributes][#{i}][patient_payer_data_master_id]",data.try(:id), class: 'patient_payer_data_patient_payer_data_master_id form-control p7_10') %>
          <%= text_field_tag("invoice_#{invoice_type}[patient_payer_data_attributes][#{i}][text_value]",@invoice_patient_payer_data.try(:text_value), class: 'patient_payer_data_patient_payer_data_master_id form-control p7_10', readonly: (params[:action] == 'edit' && @invoice.is_draft != true)) %>

        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
