<div class="row payment-received-details">
  <div class="col-md-10 mb5">
    <b style="text-decoration: underline;">PAYMENT RECEIVED DETAILS</b>
  </div>
  <div class="col-md-2 mb5 text-right">
    <div class="input-group">
      <span class="input-group-addon" style="padding: 5px 10px;font-size:10px;"><%= currency_symbol %></span>
      <input type="text" name="invoice_<%=department_name%>[payment_received]" class="form-control invoice_payment_received p3_10" id="invoice_payment_received_total" value="<%= invoice.payment_received %>" readonly="readonly">
    </div>
  </div>
  <div class="col-md-12">
    <div class="row received-description">
      <div class="col-md-1">
        <b>S.No.</b>
      </div>
      <div class="col-md-2">
        <b>Payer</b>
      </div>
      <div class="col-md-2">
        <b>Mode of Payment</b>
      </div>
      <div class="col-md-2">
        <b>Payment Date/Time</b>
      </div>
      <div class="col-md-2">
        <b>Total Amount Settled</b>
      </div>
      <div class="col-md-2">
        <b>Amount Received</b>
      </div>
    </div>
    <div id="payment_received_details">
      <% if invoice.payment_received_breakups.count > 0 %>
        <% invoice.payment_received_breakups.each_with_index do |payment_received_breakup, i| %>
          <% if payment_received_breakup.try(:date).present? %>
            <div class="row payment_received_row mb10">
              <input type="hidden" name="invoice_<%=department_name%>[payment_received_breakups_attributes][<%= i %>][id]" class="form-control payment_received_breakups_id p3_10" value="<%= payment_received_breakup.id.to_s %>">
              <input type="hidden" name="invoice_<%=department_name%>[payment_received_breakups_attributes][<%= i %>][_destroy]" class="form-control payment_received_breakups_destroy p3_10" value="0">
              <input type="hidden" name="invoice_<%=department_name%>[payment_received_breakups_attributes][<%= i %>][received_by]" class="form-control payment_received_breakups_received_by p3_10" value="<%= payment_received_breakup.received_by.to_s %>">
              <input type="hidden" name="invoice_<%=department_name%>[payment_received_breakups_attributes][<%= i %>][currency_symbol]" class="form-control payment_received_breakups_currency_symbol p3_10" value="<%= payment_received_breakup.currency_symbol %>">
              <input type="hidden" name="invoice_<%=department_name%>[payment_received_breakups_attributes][<%= i %>][currency_id]" class="form-control payment_received_breakups_currency_id p3_10" value="<%= payment_received_breakup.currency_id.to_s %>">
              <input type="hidden" name="invoice_<%=department_name%>[payment_received_breakups_attributes][<%= i %>][date]" class="form-control payment_received_breakups_date p3_10" value="<%= payment_received_breakup.date || Date.current %>">
              <input type="hidden" name="invoice_<%=department_name%>[payment_received_breakups_attributes][<%= i %>][time]" class="form-control payment_received_breakups_time p3_10" value="<%= payment_received_breakup.time || DateTime.current.utc %>">
              <input type="hidden" name="invoice_<%=department_name%>[payment_received_breakups_attributes][<%= i %>][tax_deducted]" class="form-control payment_received_breakups_tax_deducted p3_10" value="<%= payment_received_breakup.tax_deducted.to_f %>">
              <input type="hidden" name="invoice_<%=department_name%>[payment_received_breakups_attributes][<%= i %>][payer_difference]" class="form-control payment_received_breakups_payer_difference p3_10" value="<%= payment_received_breakup.payer_difference.to_f %>">
              <input type="hidden" name="invoice_<%=department_name%>[payment_received_breakups_attributes][<%= i %>][other_revenue_spilage]" class="form-control payment_received_breakups_other_revenue_spilage p3_10" value="<%= payment_received_breakup.other_revenue_spilage.to_f %>">
              <div class="col-md-1">
                <span class="payment_received_breakups_sno"><%= i + 1 %></span>
              </div>
              <div class="col-md-2">
                <select class="form-control payment_received_breakups_received_from" name="invoice_<%=department_name%>[payment_received_breakups_attributes][<%= i %>][received_from]" style="height: 25px;padding:3px;">
                  <option value="<%= invoice.patient_id.to_s %>" <% "selected='selected'" if invoice.patient_id == payment_received_breakup.received_from.to_s %>><%= invoice.patient.fullname %></option>
                  <% if invoice.payer_master_id.present? %>
                    <% payer_master = payer_fields.find { |c| c[:id].to_s == invoice.payer_master_id.to_s } %>
                    <% if payer_master[:id].to_s == payment_received_breakup.received_from.to_s %>
                      <option value="<%= payer_master[:id].to_s %>" selected="selected"><%= payer_master[:display_name] %></option>
                    <% else %>
                      <option value="<%= payer_master[:id].to_s %>"><%= payer_master[:display_name] %></option>
                    <% end %>
                  <% end %>
                </select>
              </div>
              <div class="col-md-2">
                <select class="form-control payment_received_breakups_mode_of_payment" name="invoice_<%=department_name%>[payment_received_breakups_attributes][<%= i %>][mode_of_payment]" style="height: 25px;padding:3px;" data-index="0">
                  <% mop_list.each do |mop| %>
                    <% if mop.to_s == payment_received_breakup.mode_of_payment.to_s %>
                      <option value="<%= mop %>" selected="selected"><%= mop %></option>
                    <% else %>
                      <option value="<%= mop %>"><%= mop %></option>
                    <% end %>
                  <% end %>
                </select>
              </div>
              <div class="col-md-1">
                <input type="text" name="invoice_<%=department_name%>[payment_received_breakups_attributes][<%= i %>][date]" class="form-control payment_received_breakups_date p3_10" value="<%= payment_received_breakup.date.strftime('%d/%m/%Y') %>" readonly="readonly">
              </div>
              <div class="col-md-1">
                <div class="bootstrap-timepicker timepicker">
                  <input type="text" name="invoice_<%=department_name%>[payment_received_breakups_attributes][<%= i %>][time]" class="form-control payment_received_breakups_time p3_10" value="<%= payment_received_breakup.time.strftime('%I:%M %p') %>">
                </div>
              </div>
              <div class="col-md-2">
                <div class="input-group">
                  <span class="input-group-addon" style="padding: 5px 10px;font-size:10px;"><%= currency_symbol %></span>
                  <input type="number" name="invoice_<%=department_name%>[payment_received_breakups_attributes][<%= i %>][amount]" class="form-control payment_received_breakups_total_amount p3_10" value="<%= payment_received_breakup.amount %>" readonly='readonly'>
                </div>
              </div>
              <div class="col-md-2">
                <div class="input-group">
                  <span class="input-group-addon" style="padding: 5px 10px;font-size:10px;"><%= currency_symbol %></span>
                  <input type="number" name="invoice_<%=department_name%>[payment_received_breakups_attributes][<%= i %>][amount_received]" class="form-control payment_received_breakups_amount p3_10" min="0" value="<%= payment_received_breakup.amount_received %>">
                </div>
              </div>
              <div class="col-md-1">
                <% if payment_received_breakup.is_settled == true && (payment_received_breakup.has_tax_deducted == true || payment_received_breakup.has_payer_difference == true || payment_received_breakup.has_other_revenue_spilage == true) %>
                  <i class="fa fa-list tooltip-icon" id='settled_payment_<%= i %>'></i>
                  <span class="tooltip-data" tooltip_target='settled_payment_<%= i %>' style='width: 200px; padding: 5px;'>
                    <table style="width: 100%">
                      <tr>
                        <td style="width: 30%; text-align: right;">Amount&nbsp;Received:</td>
                        <td style="text-align: left;">&nbsp;<%=payment_received_breakup.amount_received%></td></tr>
                      <tr>
                        <td style="width: 30%; text-align: right;">Tax&nbsp;Deducted:</td>
                        <td style="text-align: left;">&nbsp;<%=payment_received_breakup.tax_deducted%></td>
                      </tr>
                      <tr>
                        <td style="width: 30%; text-align: right;">Payer&nbsp;Difference:</td>
                        <td style="text-align: left;">&nbsp;<%=payment_received_breakup.payer_difference%></td></tr>
                      <tr>
                        <td style="width: 30%; text-align: right;">Revenue&nbsp;Spillage:</td>
                        <td style="text-align: left;">&nbsp;<%=payment_received_breakup.other_revenue_spilage%></td></tr>
                      <tr>
                        <td style="width: 30%; text-align: right;"><b>Total&nbsp;Amount&nbsp;Settled:</b></td>
                        <td style="text-align: left;"><b>&nbsp;<%=payment_received_breakup.amount%></b></td></tr>
                    </table>
                  </span>
                <% end %>
                <% if payment_received_breakup.internal_comment.present? %>
                  <i class="fa fa-comment tooltip-icon" id='settle_comment_<%= i %>' style='margin-left: 5px;'></i>
                  <span class="tooltip-data" tooltip_target='settle_comment_<%= i %>'><%=payment_received_breakup.internal_comment%></span>
                <% end %>
              </div>
              <% style = ('display:none;border: 1px solid #ccc;padding: 5px;' if ['Cash', ''].include?(payment_received_breakup.mode_of_payment)) || 'border: 1px solid #ccc;padding: 5px;' %>
              <div class="col-md-4 col-md-offset-3 mt10 mop_details" style='<%= style %>'>
                <% if payment_received_breakup.mode_of_payment == "Cash" %>
                  <input type="hidden" name="invoice_<%=department_name%>[payment_received_breakups_attributes][<%= i %>][cash]" class="form-control payment_received_breakups_cash" value="<%= payment_received_breakup.amount %>">
                <% elsif payment_received_breakup.mode_of_payment == "Card" %>
                  <div class="row">
                    <div class="card_details">
                      <div class="col-md-6">
                        <b style="font-size:12px;">Card Number</b>
                        <input type="hidden" name="invoice_<%=department_name%>[payment_received_breakups_attributes][<%= i %>][card]" class="form-control payment_received_breakups_card" value="<% payment_received_breakup.amount %>">
                        <input type="text" name="invoice_<%=department_name%>[payment_received_breakups_attributes][<%= i %>][card_number]" class="form-control payment_received_breakups_card_number p3_10" minlength="4" maxlength="4" onKeyPress="return event.charCode >= 48 && event.charCode <= 57" placeholder="Card Number" value=<% if payment_received_breakup.try(:card_number).present? %>"<%= payment_received_breakup.try(:card_number).to_s.rjust(4, "0") %>"<% end %>>
                      </div>
                      <div class="col-md-6">
                        <b style="font-size:12px;">Transaction Note</b>
                        <input type="text" name="invoice_<%=department_name%>[payment_received_breakups_attributes][<%= i %>][card_transaction_note]" class="form-control payment_received_breakups_card_transaction_note p3_10" placeholder="Transaction Note" value="<%= payment_received_breakup.card_transaction_note %>">
                      </div>
                    </div>
                  </div>
                <% elsif payment_received_breakup.mode_of_payment == "Paytm" %>
                  <div class="row">
                    <div class="other_details">
                      <div class="col-md-6">
                        <b style="font-size:12px;">Transaction Id</b>
                        <input type="text" name="invoice_<%=department_name%>[payment_received_breakups_attributes][<%= i %>][paytm_transaction_id]" class="form-control payment_received_breakups_paytm_transaction_id p3_10" placeholder="Transaction Id" value="<%= payment_received_breakup.paytm_transaction_id %>">
                      </div>
                      <div class="col-md-6">
                        <b style="font-size:12px;">Transaction Note</b>
                        <input type="text" name="invoice_<%=department_name%>[payment_received_breakups_attributes][<%= i %>][paytm_transaction_note]" class="form-control payment_received_breakups_paytm_transaction_note p3_10" placeholder="Transaction Note" value="<%= payment_received_breakup.paytm_transaction_note %>">
                      </div>
                    </div>
                  </div>
                <% elsif payment_received_breakup.mode_of_payment == "Google Pay" %>
                  <div class="row">
                    <div class="other_details">
                      <div class="col-md-6">
                        <b style="font-size:12px;">Transaction Id</b>
                        <input type="text" name="invoice_<%=department_name%>[payment_received_breakups_attributes][<%= i %>][gpay_transaction_id]" class="form-control payment_received_breakups_gpay_transaction_id p3_10" placeholder="Transaction Id" value="<%= payment_received_breakup.gpay_transaction_id %>">
                      </div>
                      <div class="col-md-6">
                        <b style="font-size:12px;">Transaction Note</b>
                        <input type="text" name="invoice_<%=department_name%>[payment_received_breakups_attributes][<%= i %>][gpay_transaction_note]" class="form-control payment_received_breakups_gpay_transaction_note p3_10" placeholder="Transaction Note" value="<%= payment_received_breakup.gpay_transaction_note %>">
                      </div>
                    </div>
                  </div>
                <% elsif payment_received_breakup.mode_of_payment == "PhonePe" %>
                  <div class="row">
                    <div class="other_details">
                      <div class="col-md-6">
                        <b style="font-size:12px;">Transaction Id</b>
                        <input type="text" name="invoice_<%=department_name%>[payment_received_breakups_attributes][<%= i %>][phonepe_transaction_id]" class="form-control payment_received_breakups_phonepe_transaction_id p3_10" placeholder="Transaction Id" value="<%= payment_received_breakup.phonepe_transaction_id %>">
                      </div>
                      <div class="col-md-6">
                        <b style="font-size:12px;">Transaction Note</b>
                        <input type="text" name="invoice_<%=department_name%>[payment_received_breakups_attributes][<%= i %>][phonepe_transaction_note]" class="form-control payment_received_breakups_phonepe_transaction_note p3_10" placeholder="Transaction Note" value="<%= payment_received_breakup.phonepe_transaction_note %>">
                      </div>
                    </div>
                  </div>
                <% elsif payment_received_breakup.mode_of_payment == "Online Transfer" %>
                  <div class="row">
                    <div class="transfer_details">
                      <div class="col-md-6">
                        <b style="font-size:12px;">Transfer Date</b>
                        <input type="text" name="invoice_<%=department_name%>[payment_received_breakups_attributes][<%= i %>][transfer_date]" class="form-control payment_received_breakups_transfer_date p3_10" placeholder="Transfer Date" readonly="readonly" value="<%= payment_received_breakup.transfer_date %>">
                      </div>
                      <div class="col-md-6">
                        <b style="font-size:12px;">Transaction Note</b>
                        <input type="text" name="invoice_<%=department_name%>[payment_received_breakups_attributes][<%= i %>][transfer_note]" class="form-control payment_received_breakups_transfer_note p3_10" placeholder="Transaction Note" value="<%= payment_received_breakup.transfer_note %>">
                      </div>
                    </div>
                  </div>
                <% elsif payment_received_breakup.mode_of_payment == "Cheque" %>
                  <div class="row">
                    <div class="cheque_details">
                      <div class="col-md-6">
                        <b style="font-size:12px;">Cheque Date</b>
                        <input type="text" name="invoice_<%=department_name%>[payment_received_breakups_attributes][<%= i %>][cheque_date]" class="form-control payment_received_breakups_cheque_date p3_10" placeholder="Cheque Date" readonly="readonly" value="<%= payment_received_breakup.cheque_date %>">
                      </div>
                      <div class="col-md-6">
                        <b style="font-size:12px;">Transaction Note</b>
                        <input type="text" name="invoice_<%=department_name%>[payment_received_breakups_attributes][<%= i %>][cheque_note]" class="form-control payment_received_breakups_cheque_note p3_10" placeholder="Transaction Note" value="<%= payment_received_breakup.cheque_note %>">
                      </div>
                    </div>
                  </div>
                <% elsif payment_received_breakup.mode_of_payment == "Others" %>
                  <div class="row">
                    <div class="other_details">
                      <div class="col-md-6">
                        <b style="font-size:12px;">Transaction Id</b>
                        <input type="text" name="invoice_<%=department_name%>[payment_received_breakups_attributes][<%= i %>][other_transaction_id]" class="form-control payment_received_breakups_other_transaction_id p3_10" placeholder="Transaction Id" value="<%= payment_received_breakup.other_transaction_id %>">
                      </div>
                      <div class="col-md-6">
                        <b style="font-size:12px;">Transaction Note</b>
                        <input type="text" name="invoice_<%=department_name%>[payment_received_breakups_attributes][<%= i %>][other_note]" class="form-control payment_received_breakups_other_note p3_10" placeholder="Transaction Note" value="<%= payment_received_breakup.other_note %>">
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <div class="row payment_received_row mb10">
          <input type="hidden" name="invoice_<%=department_name%>[payment_received_breakups_attributes][0][received_by]" class="form-control payment_received_breakups_received_by p3_10" value="<%= current_user.id.to_s %>">
          <input type="hidden" name="invoice_<%=department_name%>[payment_received_breakups_attributes][0][currency_symbol]" class="form-control payment_received_breakups_currency_symbol p3_10" value="<%= @currency.symbol.to_s %>">
          <input type="hidden" name="invoice_<%=department_name%>[payment_received_breakups_attributes][0][currency_id]" class="form-control payment_received_breakups_currency_id p3_10" value="<%= @currency.id.to_s %>">
          <input type="hidden" name="invoice_<%=department_name%>[payment_received_breakups_attributes][0][date]" class="form-control payment_received_breakups_date p3_10" value="<%= Date.current %>">
          <input type="hidden" name="invoice_<%=department_name%>[payment_received_breakups_attributes][0][time]" class="form-control payment_received_breakups_time p3_10" value="<%= DateTime.current.utc %>">
          <input type="hidden" name="invoice_<%=department_name%>[payment_received_breakups_attributes][0][tax_deducted]" class="form-control payment_received_breakups_tax_deducted p3_10" value="0">
          <input type="hidden" name="invoice_<%=department_name%>[payment_received_breakups_attributes][0][payer_difference]" class="form-control payment_received_breakups_payer_difference p3_10" value="0">
          <input type="hidden" name="invoice_<%=department_name%>[payment_received_breakups_attributes][0][other_revenue_spilage]" class="form-control payment_received_breakups_other_revenue_spilage p3_10" value="0">
          <div class="col-md-1">
            <span class="payment_received_breakups_sno">1.</span>
          </div>
          <div class="col-md-2">
            <select class="form-control payment_received_breakups_received_from" name="invoice_<%=department_name%>[payment_received_breakups_attributes][0][received_from]" style="height: 25px;padding:3px;">
              <option value="<%= invoice.patient_id.to_s %>" selected="selected"><%= invoice.patient.fullname %></option>
            </select>
          </div>
          <div class="col-md-2">
            <select class="form-control payment_received_breakups_mode_of_payment" name="invoice_<%=department_name%>[payment_received_breakups_attributes][0][mode_of_payment]" style="height: 25px;padding:3px;" data-index="0">
              <option value=""></option>
              <% mop_list.each do |mop| %>
                <option value="<%= mop %>"><%= mop %></option>
              <% end %>
            </select>
          </div>
          <div class="col-md-1">
            <input type="text" name="invoice_<%=department_name%>[payment_received_breakups_attributes][0][date]" class="form-control payment_received_breakups_date p3_10" value="<%= Date.current.strftime('%d/%m/%Y') %>" readonly="readonly">
          </div>
          <div class="col-md-1">
            <div class="bootstrap-timepicker timepicker">
              <input type="text" name="invoice_<%=department_name%>[payment_received_breakups_attributes][0][time]" class="form-control payment_received_breakups_time p3_10" value="<%= Time.current.strftime('%I:%M %p') %>">
            </div>
          </div>
          <div class="col-md-2">
            <div class="input-group">
              <span class="input-group-addon" style="padding: 5px 10px;font-size:10px;"><%= currency_symbol %></span>
              <input type="number" name="invoice_<%=department_name%>[payment_received_breakups_attributes][0][amount]" class="form-control payment_received_breakups_total_amount p3_10" min="0" value="0" readonly="readonly">
            </div>
          </div>
          <div class="col-md-2">
            <div class="input-group">
              <span class="input-group-addon" style="padding: 5px 10px;font-size:10px;"><%= currency_symbol %></span>
              <input type="number" name="invoice_<%=department_name%>[payment_received_breakups_attributes][0][amount_received]" class="form-control payment_received_breakups_amount p3_10" min="0" value="0">
            </div>
          </div>
          <div class="col-md-1">
            <button class="btn btn-link btn-xs remove_payment_received">&times;</button>
          </div>
          <div class="col-md-4 col-md-offset-3 mt10 mop_details" style="display: none;border: 1px solid #ccc;padding: 5px;">
          </div>
        </div>
      <% end %>
    </div>
    <div class="row">
      <button class="btn btn-link btn-xs" id="add_payment_received">Add Payment</button>
    </div>
  </div>
</div>
