<hr>
<div class="row payment-pending-details">
  <div class="col-md-6 mb5">
    <b style="text-decoration: underline;">PAYMENT PENDING DETAILS</b>
  </div>
  <div class="col-md-4 mb5 text-right">
    <div id="payment-pending-error"></div>
  </div>
  <div class="col-md-2 mb5 text-right">
    <div class="input-group">
      <span class="input-group-addon" style="padding: 5px 10px;font-size:10px;"><%= currency_symbol %></span>
      <input type="text" name="invoice_<%=department_name%>[payment_pending]" class="form-control invoice_payment_pending p3_10" id="invoice_payment_pending_total" value="<%= invoice.payment_pending %>" readonly="readonly">
    </div>
  </div>
  <div class="col-md-12">
    <div class="row pending-description">
      <div class="col-md-1">
        <b>S.No.</b>
      </div>
      <div class="col-md-2">
        <b>Payer</b>
      </div>
      <div class="col-md-2">
        <b>Mode of Payment</b>
      </div>
      <div class="col-md-2">
        <b>Payment Date</b>
      </div>
      <div class="col-md-2">
        <b>Payment Time</b>
      </div>
      <div class="col-md-2">
        <b>Amount</b>
      </div>
    </div>
    <div id="payment_pending_details">
      <% if invoice.payment_pending_breakups.count > 0 %>
        <% invoice.payment_pending_breakups.each_with_index do |payment_pending_breakup, i| %>
          <div class="row payment_pending_row mb10">
            <input type="hidden" name="invoice_<%=department_name%>[payment_pending_breakups_attributes][<%= i %>][id]" class="form-control payment_pending_breakups_id p3_10" value="<%= payment_pending_breakup.id.to_s %>">
            <input type="hidden" name="invoice_<%=department_name%>[payment_pending_breakups_attributes][<%= i %>][_destroy]" class="form-control payment_pending_breakups_destroy p3_10" value="0">
            <input type="hidden" name="invoice_<%=department_name%>[payment_pending_breakups_attributes][<%= i %>][currency_symbol]" class="form-control payment_pending_breakups_currency_symbol p3_10" value="<%= payment_pending_breakup.currency_symbol %>">
            <input type="hidden" name="invoice_<%=department_name%>[payment_pending_breakups_attributes][<%= i %>][currency_id]" class="form-control payment_pending_breakups_currency_id p3_10" value="<%= payment_pending_breakup.currency_id.to_s %>">
            <input type="hidden" name="invoice_<%=department_name%>[payment_pending_breakups_attributes][<%= i %>][date]" class="form-control payment_pending_breakups_date p3_10" value="<%= payment_pending_breakup.date || Date.current %>">
            <input type="hidden" name="invoice_<%=department_name%>[payment_pending_breakups_attributes][<%= i %>][time]" class="form-control payment_pending_breakups_time p3_10" value="<%= payment_pending_breakup.time || DateTime.current.utc %>">
            <div class="col-md-1">
              <span class="payment_pending_breakups_sno">1.</span>
            </div>
            <div class="col-md-2">
              <select class="form-control payment_pending_breakups_received_from" name="invoice_<%=department_name%>[payment_pending_breakups_attributes][<%= i %>][received_from]" style="height: 25px;padding:3px;">
                <% if invoice.payer_master_id.present? %>
                  <% payer_master = payer_fields.find { |c| c[:id].to_s == invoice.payer_master_id.to_s } %>
                  <% if payer_master[:id].to_s == payment_pending_breakup.received_from.to_s %>
                    <option value="<%= payer_master[:id].to_s %>" selected="selected"><%= payer_master[:display_name] %></option>
                    <% patient_selected = false %>
                  <% else %>
                    <option value="<%= payer_master[:id].to_s %>"><%= payer_master[:display_name] %></option>
                    <% patient_selected = true %>
                  <% end %>
                <% end %>
                <option value="<%= invoice.patient_id.to_s %>" <%= "selected='selected'" if patient_selected %>><%= invoice.patient.fullname %></option>
              </select>
            </div>
            <div class="col-md-2">-</div>
            <div class="col-md-2">-</div>
            <div class="col-md-2">-</div>
            <div class="col-md-2">
              <div class="input-group">
                <span class="input-group-addon" style="padding: 5px 10px;font-size:10px;"><%= currency_symbol %></span>
                <input type="number" name="invoice_<%=department_name%>[payment_pending_breakups_attributes][<%= i %>][amount]" class="form-control payment_pending_breakups_amount p3_10" min="0" value="<%= payment_pending_breakup.amount %>">
              </div>
            </div>
            <div class="col-md-1">
              <% if invoice.is_draft == true %>
              <button class="btn btn-link btn-xs remove_payment_pending">×</button>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="row">
      <button class="btn btn-link btn-xs" id="add_payment_pending">Add Credit Payment</button>
    </div>
  </div>
</div>