<%= javascript_include_tag 'application-loggedin', 'data-turbolinks-track' => true %>
<div class="modal-dialog" style="width:50%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close close-offer-listing" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Show Offers</h4>
    </div>
    <div class="modal-body">
      <%= form_tag '/invoice/invoices/apply_offer', method: 'get', class: 'apply-offer-form', remote: true do |f| %>
        <input type="hidden" name="service_id" id="service_id" value="<%= @service_id.to_s %>">
        <input type="hidden" name="row_count" id="row_count" value="<%= @row_count %>">
        <div class="modal-body">
          <div class="row ">
            <div class="col-md-12">
              <table class="table no-border">
                <thead>
                  <th>#</th>
                  <th>Title</th>
                  <th>Code</th>
                  <th>Discount(%)</th>
                  <th>Valid Till</th>
                  <th>Actions</th>
                </thead>
                <tbody>
                  <% @offer_managers.each_with_index do |offer_manager, i| %>
                    <tr>
                      <td><%= i+1 %></td>
                      <td><%= offer_manager.try(:name).try(:titleize) %></td>
                      <td><%= offer_manager.try(:offer_code) %></td>
                      <td><%= offer_manager.try(:discount) %></td>
                      <td><%= offer_manager.try(:end_datetime).try('strftime', ('%d/%m/%Y')) %></td>
                      <td>
                        <%= radio_button_tag 'selected_offer', offer_manager.id.to_s, (offer_manager.id.to_s == @selected_offer_id), { id: i, class: "selected_offer" } %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="modal-footer">
      <% if @offer_managers.count > 0 %>
        <%= submit_tag "Select Offer", class: "btn btn-success", data: { 'disable-with': 'Please Wait...' }, onclick: 'selectOffer()' %>
      <% end %>
      <button type="button" class="btn btn-default close-offer-listing" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>