<div class="col-md-6">
  <div class="row invoice_calculation_list">
    <div class="row mb5">
      <div class="col-md-5 text-right">
        <b>Gross Bill Total :</b>
      </div>
      <div class="col-md-3 text-right">
        <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control invoice_gross_total" id="invoice_gross_total" placeholder="Gross Amount" value="<%= invoice.total %>" type="text" name="invoice_<%=department_name%>[total]" readonly="readonly">
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-5 text-right">
        <b>Total Discount on Items :</b>
      </div>
      <div class="col-md-3 text-right">
        <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control services_discount" id="services_discount" placeholder="Total discount on Items" value="<%= invoice.services_discount %>" type="text" name="invoice_<%=department_name%>[services_discount]" readonly="readonly">
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-5 text-right">
        <b>Total offer discount on Items :</b>
      </div>
      <div class="col-md-3 text-right">
        <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control offer_on_services" id="offer_on_services" placeholder="Total offer discount on Items" value="<%= invoice.offer_on_services%>" type="text" name="invoice_<%=department_name%>[offer_on_services]" readonly="readonly">
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-5 text-right">
        <b>Additional Discount on Bill :</b>
      </div>
      <div class="col-md-3 text-right">
        <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control discount_amount" id="discount_amount" placeholder="Additional discount on Bill" value="<%= invoice.additional_discount %>" type="text" name="invoice_<%=department_name%>[additional_discount]" <% if invoice.new_record? == false && invoice.is_draft == false %> readonly="readonly"<%end%>>
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-5 text-right">
        <b>Offer Discount on Bill :</b><a class="add_bill_offer btn btn-primary btn-xs" name="add_bill_offer" data-remote='true' data-toggle='modal' data-target='#invoice-offer-bill-modal' href="/invoice/invoices/show_bill_offers?invoice_department_type=<%=@invoice.invoice_department_type%>&department_id=<%=@department_id%>&invoice_action=<%=params[:action]%>"><i class="fa fa-plus"></i></a>
        <% hidden_cls = invoice.try(:offer_code).present? ? '' : 'hidden'%>
        <% show_offer = invoice.try(:offer_code).present? ? "[#{invoice.try(:offer_code)}] - #{invoice.try(:offer_percentage)}%" : ''%>
        <div><label class="lbl_offer_detail <%=hidden_cls%>"><%=show_offer%></label><button class="remove_bill_offer btn btn-danger btn-xs hidden" name="remove_bill_offer"><i class="fa fa-trash-alt"></i></button></div>
      </div>
      <div class="col-md-3 text-right">
        <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control offer_on_bill" id="offer_on_bill" placeholder="Additional discount on Bill" value="<%= invoice.try(:offer_on_bill) %>" type="text" name="invoice_<%= department_name %>[offer_on_bill]" readonly="readonly">
        <input type="hidden" class="form-control offer_manager_id" name="invoice_<%= department_name %>[offer_manager_id]" value="<%= invoice.try(:offer_manager_id) %>">
        <input type="hidden" class="form-control offer_name" name="invoice_<%= department_name %>[offer_name]" value="<%= invoice.try(:offer_name) %>">
        <input type="hidden" class="form-control offer_code" name="invoice_<%= department_name %>[offer_code]" value="<%= invoice.try(:offer_code) %>">
        <input type="hidden" class="form-control offer_percentage" name="invoice_<%= department_name %>[offer_percentage]" value="<%= invoice.try(:offer_percentage) %>">
        <input type="hidden" class="form-control offer_applied_at" name="invoice_<%= department_name %>[offer_applied_at]", value="<%= invoice.try(:offer_applied_at) %>">
        <input type="hidden" class="form-control offer_applied_at_name" name="invoice_<%= department_name %>[offer_applied_at_name]", value="<%= invoice.try(:offer_applied_at_name) %>">
        <input type="hidden" class="form-control offer_applied_by" name="invoice_<%= department_name %>[offer_applied_by]", value="<%= invoice.try(:offer_applied_by) %>">
        <input type="hidden" class="form-control offer_applied_by_name" name="invoice_<%= department_name %>[offer_applied_by_name]", value="<%= invoice.try(:offer_applied_by_name) %>">
        <input type="hidden" class="form-control offer_applied_date" name="invoice_<%= department_name %>[offer_applied_date]", value="<%= invoice.try(:offer_applied_date) %>">
        <input type="hidden" class="form-control offer_applied_datetime" name="invoice_<%= department_name %>[offer_applied_datetime]", value="<%= invoice.try(:offer_applied_datetime) %>">
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-5 text-right">
        <b>Total Discount :</b>
      </div>
      <div class="col-md-3 text-right">
        <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control total_discount" id="total_discount" placeholder="Total Discount" value="<%= invoice.total_discount %>" type="text" name="invoice_<%=department_name%>[total_discount]" readonly="readonly">
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-5 text-right">
        <b>Total offer discount :</b>
      </div>
      <div class="col-md-3 text-right">
        <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control total_offer" id="total_offer" placeholder="Total offer discount" value="<%= invoice.total_offer %>" type="text" name="invoice_<%=department_name%>[total_offer]" readonly="readonly">
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-5 text-right">
        <b>Total of all discount :</b>
      </div>
      <div class="col-md-3 text-right">
        <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control total_offer_discount" id="total_offer_discount" placeholder="Total of all discount" value="" type="text" name="total_offer_discount" readonly="readonly">
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-5 text-right">
        <b>Round (+/-) :</b>
      </div>
      <div class="col-md-3 text-right">
        <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control round_amount" id="round_amount" placeholder="Round" value="<%= invoice.round %>" type="text" name="invoice_<%=department_name%>[round]" readonly="readonly">
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-5 text-right">
        <b>Net Bill Total :</b>
      </div>
      <div class="col-md-3 text-right">
        <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control invoice_net_total" id="invoice_net_total" placeholder="Net Bill Total" value="<%= invoice.net_amount %>" type="text" name="invoice_<%=department_name%>[net_amount]" readonly="readonly">
      </div>
    </div>
  </div>
</div>
