<% if @entry_type == "service" %>
  <option value="">Select Service</option>
  <% @pricing_masters.each do |service_sub_group_id, pricing_masters| %>
    <optgroup label="<%= pricing_masters[0].service_sub_group.name %>">
      <% pricing_masters.each do |pricing_master| %>
        <% advised_counselled_details = @combined.find { |acd| acd[:advised_by_id] if acd[:code] == pricing_master.service_type_code } || {} %>
        <option value="<%= pricing_master.id.to_s %>" data-amount="<%= pricing_master.amount %>" data-advised_by_id="<%= advised_counselled_details[:advised_by_id] %>" data-counselled_by_id="<%= advised_counselled_details[:counselled_by_id] %>" data-exception="<%= pricing_master[:has_exceptions] %>" data-sub_specialty_id="<%= pricing_master[:sub_specialty_id] %>" data-service_type='S' data-service_code="<%= pricing_master.try(:service_code) %>" data-service_name="<%= pricing_master.service_name %>"><%= pricing_master.service_name %> <span><% if pricing_master.try(:service_code).present? %> (<%= pricing_master.try(:service_code) %>) <% end %></span></option>
      <% end %>
    </optgroup>
  <% end %>
<% elsif @entry_type == "surgery_package" %>
  <option value="">Select Package</option>
  <% if @surgery_packages.count > 0 %>
    <optgroup label="Surgery Packages">
      <% @surgery_packages.each do |surgery_package| %>
        <option value="<%= surgery_package.id.to_s %>" data-amount="<%= surgery_package.amount %>" data-sub_specialty_id="<%= surgery_package.sub_specialty_id %>" data-service_type='P' data-service_name="<%= surgery_package.display_name %>"><%= surgery_package.display_name %></option>
      <% end %>
    </optgroup>
  <% end %>
<% elsif @entry_type == "bill_of_material" %>
  <option value="">Select Bill Of Material</option>
  <% if @bill_of_materials.count > 0 %>
    <optgroup label="Bill Of Material">
      <% @bill_of_materials.each do |bom| %>
        <option value="<%= bom.id.to_s %>" data-amount="<%= bom.total_cost %>" data-service_type='I'>Bill Of Material | <%= bom.transaction_date %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= bom.transaction_time&.strftime("%I:%M%p") %></option>
      <% end %>
    </optgroup>
  <% end %>
<% end %>
