<% item_types = Global.surgery_package_item.types %>
<% @items.each_with_index do |item, i| %>
  <div class="row surgery-package-items mb10">
    <%= hidden_field_tag "items[#{i}][organisation_id]", item.organisation_id.to_s %>
    <%= hidden_field_tag "items[#{i}][facility_id]", item.facility_id.to_s %>
    <%= hidden_field_tag "items[#{i}][user_id]", item.user_id.to_s %>
    <%= hidden_field_tag "items[#{i}][id]", item.id.to_s %>
    <div class="col-md-5">
      <%= text_field_tag "items[#{i}][name]", item.name, class: 'item_name form-control p5_10' %>
    </div>
    <div class="col-md-5">
      <%= select_tag "items[#{i}][type]", options_for_select(item_types, item.type), include_blank: true, class: 'item_type form-control', style: 'height:30px;padding:5px;' %>
    </div>
    <div class="col-md-2">
      <b>-</b>
    </div>
  </div>
<% end %>
<% if @items.count == 0 %>
  <div class="row surgery-package-items mb10">
    <%= hidden_field_tag 'items[0][organisation_id]', current_user.organisation_id.to_s %>
    <%= hidden_field_tag 'items[0][facility_id]', params[:facility_id] || current_facility.id.to_s %>
    <%= hidden_field_tag 'items[0][user_id]', current_user.id.to_s %>
    <div class="col-md-5">
      <%= text_field_tag 'items[0][name]', '', class: 'item_name form-control p5_10' %>
    </div>
    <div class="col-md-5">
      <%= select_tag 'items[0][type]', options_for_select(item_types, ''), include_blank: true, class: 'item_type form-control', style: 'height:30px;padding:5px;' %>
    </div>
    <div class="col-md-2">
      <button class="btn btn-danger btn-xs btn-remove-item" disabled="disabled">&times;</button>
    </div>
  </div>
<% end %>
