<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog" style="width: 45%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Surgery Package Items</h4>
    </div>
    <%= form_tag create_multiple_surgery_package_items_path, method: :post, remote: true, id: 'surgery-package-item-form', class: 'surgery-package-item-form' do %>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <b>Facility</b><br>
            <%= select_tag 'facility_id', options_for_select(@facilities.pluck(:name, :id), current_facility.id), class: 'facility_id form-control', style: 'height:30px;padding:5px;' %>
          </div>
        </div>
        <hr>
          <div class="row surgery-package-items-header mt10">
            <div class="col-md-5">
              <b>Item Name</b>
            </div>
            <div class="col-md-5">
              <b>Item Type</b>
            </div>
            <div class="col-md-2">
              <b>Actions</b>
            </div>
          </div>
          <div id='surgery_package_items'>
            <%= render partial: 'form.html.erb' %>
          </div>
          <div class="row mt10">
            <div class="col-md-12">
              <button class="btn btn-primary btn-xs btn-add-item"><i class="fa fa-plus"></i> Add Item</button>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= submit_tag 'Save', class: "btn btn-success", data: { 'disable-with': 'Please Wait...' }, onclick: 'validateItem()' %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      <% end %>
  </div>
</div>
