<div class="row">
  <div class="col-md-12 text-center">
    <h4><%= @organisation_notification.title %></h4>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= @organisation_notification.body.html_safe %>
  </div>
</div>
<% if @organisation_notification.web_links.count > 0 %>
  <div class="row padding10">
    <div class="col-md-12">
      <strong>Attachment Links</strong>
    </div>
    <% @organisation_notification.web_links.each_with_index do |web_link, i| %>
      <div class="col-md-4 mb10">
        <% link_text = web_link[:link_text].present? ? web_link[:link_text] : web_link[:link] %>
        <%= link_to link_text, web_link[:link], target: '_blank', style: 'word-break: break-word;' %>
      </div>
    <% end %>
  </div>
<% end %>
<hr>
<div class="row">
  <div class="col-md-12 text-right">
    <small class="text-danger">Sent By : <%= @organisation_notification.user.fullname %>, <%= @organisation_notification.start_date.to_s(:standard) %></small>
  </div>
</div>
<% unless @organisation_notification.acknowledged?(current_user.id) %>
  <hr>
  <div class="row">
    <div class="col-md-12 text-right">
      <%= link_to acknowledge_organisation_notifications_path(id: @organisation_notification.id), method: :patch, data: { remote: true }, class: 'btn btn-success' do %>Acknowledge<% end %>
    </div>
  </div>
<% end %>
