<div class="modal-dialog" style="width:90%;">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title"><%= params[:type].to_s.titleize %> Notifications</h4>
    </div>
    <div class="modal-body" style="height: calc(100vh - 175px);overflow: hidden;">
      <div class="row padding10">
        <div class="col-md-2 notification-list">
          <ul class="nav nav-tabs tabs-left">
            <% if params[:type] == 'new' && new_user_notifications.any? %>
              <!-- <li class="dropdown-divider text-center"><small>New Notification</small></li> -->
              <% new_user_notifications.each_with_index do |notification, i| %>
                <li class="dropdown-divider notification-list-item <%= 'active' if params[:notification_id] == notification['id'] %>" data-acknowledged='false'>
                  <%= link_to display_organisation_notification_path(id: notification['id']), data: { remote: true }, class: 'dropdown-toggle notification-link', style: 'padding:0 5px;' do %>
                    <div class="row">
                      <div class="col-md-12" style="word-break: break-all;">
                        <span><%= notification['title'] %></span><br>
                        <small class="text-danger"><%= notification['fullname'] %></small>
                      </div>
                    </div>
                  <% end %>
                </li>
              <% end %>
            <% end %>
            <% if params[:type] == 'old' && old_user_notifications.any? %>
              <!-- <hr style="margin: 0px;"> -->
              <!-- <li class="dropdown-divider text-center"><small>Old Notification</small></li> -->
              <% old_user_notifications.each_with_index do |notification, i| %>
                <li class="dropdown-divider notification-list-item <%= 'active' if params[:notification_id] == notification['id'] %>">
                  <%= link_to display_organisation_notification_path(id: notification['id']), data: { remote: true }, class: 'dropdown-toggle notification-link', style: 'padding:0 5px;' do %>
                    <div class="row">
                      <div class="col-md-12" style="word-break: break-all;">
                        <span><%= notification['title'] %></span><br>
                        <small class="text-danger"><%= notification['fullname'] %></small>
                      </div>
                    </div>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-6">
              <button type='button' class="btn btn-default btn-prev"><i class="fa fa-arrow-left"></i> Prev</button>
            </div>
            <div class="col-md-6 text-right">
              <button type='button' class="btn btn-default btn-next">Next <i class="fa fa-arrow-right"></i></button>
            </div>
          </div>
          <hr>
          <!-- Tab panes -->
          <div class="tab-content" id="notification-tab-content" style="padding: 0px 10px;box-shadow: none;background: #fff;">

          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <% if user_authorized_by_policy?('HGP-103-100-101') %>
        <div class="pull-left">
          <span class="text-warning">Note: These messages can be viewed later from the App-notification tab.</span>
        </div>
      <% end %>
      <div class="modal-action">
        <% if params[:type] == 'new' %>
          <%= link_to read_later_organisation_notifications_path, method: :patch, class: 'btn btn-default', remote: true do %>
            Read Later
          <% end %>
        <% else %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.notification-list-item').on('click', 'a', function() {
    $('.notification-list-item').removeClass('active');
    $(this).closest('.notification-list-item').addClass('active');
  })

  $('.notification-list-item.active').find('a').trigger('click');

  function resizeNotificationList() {
    $('#notification-tab-content').css('max-height', `${$('.modal-body').height() - 80}px`).css('overflow', 'scroll');
    $('.notification-list').css('max-height', $('.modal-body').height()).css('overflow', 'scroll');
  }
  resizeNotificationList();

  $(window).resize(function() {
    resizeNotificationList();
  });

  $('.btn-prev').on('click', function() {
    let prevSibling = $('.notification-list-item.active').prev()

    if ($(prevSibling).find('a').length > 0) {
      $(prevSibling).find('a').trigger('click');
    } else {
      $('.notification-list-item:last').find('a').trigger('click');
    }
  })

  $('.btn-next').on('click', function() {
    let nextSibling = $('.notification-list-item.active').next()

    if ($(nextSibling).find('a').length > 0) {
      $(nextSibling).find('a').trigger('click');
    } else {
      $('.notification-list-item:first').find('a').trigger('click');
    }
  })
</script>

<style type="text/css">
  #display-notification-modal .nav-tabs {
    font-size: initial;
  }

  .tabs-left {
    border-bottom: none;    
    border-right: 1px solid #3cc1ff;
    background: none;
  }
  .tabs-left > li {
    float: none;
    margin-bottom: 2px;
    margin-right: -1px;
  }

  .tabs-left > li.active > a, .tabs-left > li.active > a:hover, .tabs-left > li.active > a:focus {
    background: #fff;
    color: #3cc1ff;
    border: 1px solid #3cc1ff;
    border-right: none;
    text-align: center;
  }

  .tabs-left > li > a, .tabs-left > li > a:hover, .tabs-left > li > a:focus {
    border-bottom-color: #3cc1ff;
    border-right-color: transparent;
    text-align: center;
  }

  .tabs-left > li > a {
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    display:block;
  }
</style>
