<div class="row mb20">
  <div class="col-md-2">
    <strong>Select Facilities</strong>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-12">
        <div class="ckbox ckbox-primary">
          <%= f.hidden_field :all_facilities, value: false, id: 'dummy_all_facilities' %>
          <%= f.check_box :all_facilities, { class: 'all_facilities' }, true, false %>
          <%= f.label :all_facilities, 'Organisation Wide' %>
        </div>
      </div>
      <div class="col-md-12">
        <%= f.select :facility_ids, selectable_facilities, { include_hidden: false }, multiple: true, class: 'form-control', disabled: @organisation_notification.all_facilities %>
      </div>
    </div>
  </div>
</div>

<div class="row mb20">
  <div class="col-md-2">
    <strong>Select Roles</strong>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-12">
        <div class="ckbox ckbox-primary">
          <%= f.hidden_field :all_roles, value: false, id: 'dummy_all_roles' %>
          <%= f.check_box :all_roles, { class: 'all_roles' }, true, false %>
          <%= f.label :all_roles, 'All Roles' %>
        </div>
      </div>
      <div class="col-md-12">
        <%= f.select :role_ids, selectable_roles, { include_hidden: false }, multiple: true, class: 'form-control', disabled: @organisation_notification.all_roles %>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row mb20">
  <div class="col-md-12">
    <strong>Message Title</strong>
    <%= f.text_field :title, class: 'form-control', required: true, maxlength: 60 %>
    <div id="titlecharMessage" class="text-right mt5">0/60 characters</div>
  </div>
</div>
<div class="row mb20">
  <div class="col-md-12">
    <strong>Message Body</strong>
    <%= f.text_area :body, class: 'form-control notification_body' %>
  </div>
</div>
<div class="row mb20">
  <div class="col-md-12">
    <strong>Web Links</strong>
  </div>
  <div class="col-md-12 mb10">
    <div class="col-md-4">Link Text</div>
    <div class="col-md-8">Link&emsp;<small class="text-info">(Keeping 'Link Text' empty will show the link directly.)</small></div>
  </div>
  <% @organisation_notification.web_links.each_with_index do |web_link, i| %>
    <div class="col-md-12 mb10">
      <div class="col-md-4">
        <%= text_field_tag "organisation_notification[web_links][#{i}][link_text]", web_link[:link_text], class: 'form-control p5_10', maxlength: 40, autocomplete: false %>
      </div>
      <div class="col-md-8">
        <%= text_field_tag "organisation_notification[web_links][#{i}][link]", web_link[:link], class: 'form-control p5_10', autocomplete: false %>
      </div>
    </div>
  <% end %>
  <% (@organisation_notification.web_links.count..2).each do |i| %>
    <div class="col-md-12 mb10">
      <div class="col-md-4">
        <%= text_field_tag "organisation_notification[web_links][#{i}][link_text]", '', class: 'form-control p5_10', maxlength: 40, autocomplete: false %>
      </div>
      <div class="col-md-8">
        <%= text_field_tag "organisation_notification[web_links][#{i}][link]", '', class: 'form-control p5_10', autocomplete: false %>
      </div>
    </div>
  <% end %>
</div>
<hr>
<div class="row mb20">
  <div class="col-md-6">
    <strong>Start Date</strong>
    <%= f.text_field :start_date, class: 'form-control notification_start_date p7_10', readonly: true, value: @organisation_notification.start_date&.to_s(:form), required: true %>
  </div>
  <div class="col-md-6">
    <strong>End Date</strong>
    <%= f.text_field :end_date, class: 'form-control notification_end_date p7_10', readonly: true, value: @organisation_notification.end_date&.to_s(:form), required: true %>
  </div>
</div>

<style type="text/css">
  #notification-modal .note-editable {
    overflow: scroll !important;
  }

  #notification-modal .panel-heading {
    background: #1CAF9A;
  }

  #organisation_notification_start_date, #organisation_notification_end_date {
    background: #fff;
    cursor: pointer;
  }

  .panel-default {
    background:  #fff;
    margin-bottom: 0px;
  }
</style>
