<% tab = params[:tab] || 'scheduled' %>
<div class="contentpanel">
  <div class="row" id="notification-navbar">
    <div class="col-md-9">
      <h4>NOTIFICATION LOGS</h4>
      <%= link_to organisation_notifications_path(tab: tab), data: { remote: true }, id: 'notification-refresh-link', style: 'display: none;' do %><i class="fa fa-refresh"></i><% end %>
    </div>
    <% if user_authorized_by_policy?('HGP-103-100-102') %>
      <div class="col-md-3 text-right">
        <%= link_to new_organisation_notification_path, class: 'btn btn-primary btn-xs', data: { remote: true, toggle: 'modal', target: '#notification-modal' }, style: 'margin-top: 7px;' do %><i class="fa fa-plus"></i> Add Notification<% end %>
      </div>
    <% end %>
  </div>

  <div id="notificationWizard" class="basic-wizard" style="padding-top: 44px;">
    <ul class="nav nav-pills nav-justified">
      <li role="presentation" class="<%= 'active' if tab == 'scheduled' %>">
        <a href="#notification-scheduled-view" id="notifications-scheduled" data-toggle="tab" data-tab="scheduled">Scheduled</a>
      </li>
      <li role="presentation" class="<%= 'active' if tab == 'active' %>">
        <a href="#notification-active-view" id="notifications-active" data-toggle="tab" data-tab="active">Active</a>
      </li>
      <li role="presentation" class="<%= 'active' if tab == 'expired' %>">
        <a href="#notification-expired-view" id="notifications-expired" data-toggle="tab" data-tab="expired">Expired</a>
      </li>
      <li role="presentation" class="<%= 'active' if tab == 'disabled' %>">
        <a href="#notification-disabled-view" id="notifications-disabled" data-toggle="tab" data-tab="disabled">Disabled</a>
      </li>
    </ul>
    <div class="tab-content notification-form-body">
      <% editable = user_authorized_by_policy?('HGP-103-100-103') %>
      <% deletable = user_authorized_by_policy?('HGP-103-100-104') %>
      <div class="tab-pane <%= 'active' if tab == 'scheduled' %>" id="notification-scheduled-view">
        <%= render partial: 'view.html.erb',
                   locals: { type: 'scheduled', notifications: @scheduled_notifications, editable: editable, deletable: deletable } %>
      </div>
      <div class="tab-pane <%= 'active' if tab == 'active' %>" id="notification-active-view">
        <%= render partial: 'view.html.erb',
                   locals: { type: 'active', notifications: @active_notifications, editable: editable, deletable: deletable } %>
      </div>
      <div class="tab-pane <%= 'active' if tab == 'expired' %>" id="notification-expired-view">
        <%= render partial: 'view.html.erb',
                   locals: { type: 'expired', notifications: @expired_notifications, editable: editable, deletable: deletable } %>
      </div>
      <div class="tab-pane <%= 'active' if tab == 'disabled' %>" id="notification-disabled-view">
        <%= render partial: 'view.html.erb',
                   locals: { type: 'disabled', notifications: @disabled_notifications, editable: editable, deletable: deletable } %>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .contentpanel {
     background: #fff;
     height: calc(100vh - 50px);
     padding-top: 0;
  }

  #notification-navbar {
     background: #354670;
     color: #fff;
     position: fixed;
     width: 100vw;
     margin-left: -5px;
     z-index: 1;
  }
</style>

<script type="text/javascript">
  function replaceURL(tab = "<%= tab %>") {
    let url = "/organisation_notifications"

    if (tab !== 'scheduled') url += `?tab=${tab}`

    $('#notification-refresh-link').attr('href', url)

    window.history.replaceState(null, null, url);
  }
  replaceURL();

  $('#notificationWizard .nav-justified').on('click', 'a', function() {
    replaceURL($(this).attr('data-tab'));
  });
</script>
