<div class="col-sm-12" style="margin-top: 10px;">
  <div class="row">
    <div class="col-sm-12 text-center"><b>ORGANISATION DETAILS</b></div>
  </div>
</div>
<div class="col-sm-12" style="margin-top: 10px;">
  <div class="row">
    <div class="col-sm-12">
      <b>Setup Type</b>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="rdio rdio-success rdio-organisation-type">
        <%= radio_button_tag "organisation[setup_type]", "single_user", true, {:class => 'setup_type_field', :id => "organisation_setup_type_single_user"} %>
        <label for="organisation_setup_type_single_user">Single User</label>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="rdio rdio-success rdio-organisation-type">
        <%= radio_button_tag "organisation[setup_type]", "small_clinic", false, {:class => 'setup_type_field', :id => "organisation_setup_type_small_clinic"} %>
        <label for="organisation_setup_type_small_clinic">Small Clinic</label>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="rdio rdio-success rdio-organisation-type">
        <%= radio_button_tag "organisation[setup_type]", "mid_size_hospital", false, {:class => 'setup_type_field', :id => "organisation_setup_type_mid_size_hospital"} %>
        <label for="organisation_setup_type_mid_size_hospital">Mid-Size Hospital</label>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="rdio rdio-success rdio-organisation-type">
        <%= radio_button_tag "organisation[setup_type]", "large_hospital", false, {:class => 'setup_type_field', :id => "organisation_setup_type_large_hospital"} %>
        <label for="organisation_setup_type_large_hospital">Large Hospital</label>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12" style="margin-top: 10px;">
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-12">
          <%= text_field_tag "organisation[name]", "", { class: 'form-control p7_10 fullname', placeholder: "Organisation Name" } %>
        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
          <%= text_field_tag "organisation[tagline]", "", { class: 'form-control p7_10 tagline', placeholder: "Tagline" } %>
        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
          <%= select_tag "facility[specialty_ids][]", options_for_select(@specialties.map { |spec| [spec.name, spec.id] }), {:class => "form-control p7_10", :id => 'facility_specialty_ids', :include_blank => "Select any Specialty" } %>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <!-- <b>LOGO SPACE</b> -->
      <span class="btn btn-default btn-organisation-asset" id="results" style="padding:2px;">
        <% patient_asset = "set_organisation_logo.png" %>
        <%= image_tag(patient_asset, class: "thumb", id: "organisation-picture", style: 'max-width: 250px; min-height: 100px; max-height: 100px; line-height: 20px;', onclick: "$('#upload-organisation-picture').click();")%>
      </span>
      <%= file_field_tag "organisation[logo]", {style: "visibility:hidden", id: 'upload-organisation-picture', onchange: "readURL(this)" } %>
    </div>
    <div class="col-sm-3">
      <p>LOGO Preferences :</p>
      <span>Logo Size: 250px x 100px.</span><br/>
      <span>Maximum size of 1MB.</span><br/>
      <a href="" class="clear-organisation-asset" style="font-size: 10px;display: none;">Remove</a>
    </div>
  </div>
</div>
<!--
<div class="col-sm-12" style="margin-top: 0px;">
  <div class="row">
    <div class="col-sm-4" style="">
      <b>Departments</b>
      <%#= select_tag "user[department_ids][]", options_for_select(@departments.map { |dep| [dep.name, dep.id] }), {:class => "form-control p7_10", :id => 'user_department_ids', :include_blank => "Select Department" } %>
    </div>
  </div>
</div> -->

<div class="col-sm-12" style="margin-top: 10px;">
  <div class="row">
    <div class="col-sm-4">
      <b>Country</b>
      <%= select_tag "facility[country_id]", options_for_select(@countries.map { |c| [c.name, c.id ] }, :selected => @default_country.id), {:class => "form-control p7_10 facility_country"} %>
    </div>
    <div class="col-sm-4 time_zones">
      <b>Timezone</b>
      <%= select_tag "facility[time_zone]", options_for_select(@zones_array || []), { :class=> "zones-dropdown form-control" } %>
    </div>
    <div class="col-sm-4 time_zones">
      <b>Currency</b>
      <%= hidden_field_tag "facility[currency_symbol]", @default_currency.symbol, class: "facility_currency_symbol" %>
      <% currency_array = ([["#{@default_currency.name} - #{@default_currency.code}", @default_currency.id, "data-symbol": @default_currency.symbol]] if @default_currency.present?) || [] %>
      <%= select_tag "facility[currency_id]", options_for_select(currency_array, :selected => @default_currency.id), { :class=> "facility_currency_id form-control" } %>
    </div>
  </div>
</div>
<div class="col-sm-12" style="margin-top: 10px;">
  <div class="row vietnam_organisation">
    <div class="col-sm-4">
      <strong>City</strong>
      <a href="" class="clear-commune" style="display:none;font-size: 10px;margin-top: -7px;">Clear</a>
      <%= text_field_tag "organisation[city]", "", { id: 'search_city_vietnam', class: 'form-control city p5_10', placeholder: "City"} %>
    </div>
    <div class="col-sm-4">
      <strong>District</strong><br>
      <%= text_field_tag "organisation[district]", "", { id: 'search_district_vietnam', class: 'form-control district p5_10', placeholder: "District" } %>
    </div>
    <div class="col-sm-4">
      <strong>Commune</strong><br>
      <%= text_field_tag "organisation[commune]", "", { id: 'search_commune_vietnam', class: 'form-control commune p5_10', placeholder: "Commune"} %>
    </div>
  </div>
  <div class="row cambodia_organisation">
    <div class="col-sm-3">
      <strong>Pincode</strong>
      <a href="" class="clear-pincode" style="display:none;font-size: 10px;margin-top: -7px;">Clear</a><br>
      <%= text_field_tag "organisation[pincode]", "", { id: 'search_pincode_cambodia', class: 'form-control p7_10 pincode', placeholder: "Pincode", minlength: 5, maxlength: 6, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
    </div>
    <div class="col-sm-3">
      <strong>Province/ State</strong><br>
      <%= text_field_tag "organisation[state]", "", { id: 'search_state_cambodia', class: 'form-control p7_10 state', placeholder: "State" } %>
    </div>
    <div class="col-sm-3">
      <strong>District</strong><br>
      <%= text_field_tag "organisation[district]", "", { id: 'search_district_cambodia', class: 'form-control district p5_10', placeholder: "District" } %>
    </div>
    <div class="col-sm-3">
      <strong>Commune</strong><br>
      <%= text_field_tag "organisation[commune]", "", { id: 'search_commune_cambodia', class: 'form-control commune p5_10', placeholder: "Commune"} %>
    </div>
  </div>
  <div class="row other_organisation">
    <div class="col-sm-4">
      <b>Pincode</b><a href="" class="clear-pincode" style="display:none;font-size: 10px;margin-top: -7px;">  Clear</a><br>
      <%= text_field_tag "organisation[pincode]", "", { id: 'search_pincode_other', class: 'form-control p7_10 pincode', placeholder: "Pincode", minlength: 5, maxlength: 6, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
    </div>
    <div class="col-sm-4">
      <b>State</b>
      <%= text_field_tag "organisation[state]", "", { id: 'search_state_other', class: 'form-control p7_10 state', placeholder: "State" } %>
    </div>
    <div class="col-sm-4">
      <b>City</b>
      <%= text_field_tag "organisation[city]", "", { id: 'search_city_other', class: 'form-control p7_10 city', placeholder: "City" } %>
    </div>
  </div>
</div>
<div class="col-sm-12" style="margin-top: 10px;">
  <div class="row">
    <div class="col-sm-6">
      <%= text_field_tag "organisation[address1]", "", { class: 'form-control p7_10 address1', placeholder: "Address 1" } %>
    </div>
    <div class="col-sm-6">
      <%= text_field_tag "organisation[address2]", "", { class: 'form-control p7_10 address2', placeholder: "Address 2" } %>
    </div>
  </div>
</div>

<div class="col-sm-12" style="margin-top: 10px;">
  <div class="row">
    <div class="col-sm-4">
      <%= text_field_tag "organisation[telephone]", "", { class: 'form-control p7_10 telephone', placeholder: "Mobile Number", minlength: 6, maxlength: 10, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
    </div>
    <div class="col-sm-4">
      <%= text_field_tag "organisation[fax]", "", { class: 'form-control p7_10 fax', placeholder: "Fax", onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
    </div>
    <div class="col-sm-4">
      <%= text_field_tag "organisation[website]", "", { class: 'form-control p7_10 website', placeholder: "Website" } %>
    </div>
  </div>
</div>
<div class="col-sm-12" style="margin-top: 10px;">
  <div class="row">
    <div class="col-sm-12">
      <p class="text-center">
        <span class="ckbox ckbox-success ckbox-organisation-terms">
          <%= check_box_tag 'organisation[terms]', "1", false, {id: "organisation-terms"} %>
          <label for="organisation-terms"><span>&nbsp;I Accept <a href='http://www.healthgraph.in/terms.html' target="_blank" style="color:#3cc1ff"> Terms</a> and <a href="http://www.healthgraph.in/privacy_policy.html" target="_blank" style="color:#3cc1ff">Privacy Policy</a></span></label>
        </span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center" id='organisation_terms_error'></div>
  </div>
</div>
<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-4">
      <%= text_field_tag "organisation[acceptancy_name]", "", { class: "form-control p7_10 acceptancy_name", placeholder: "Acceptee's name" } %>
    </div>
    <div class="col-sm-4">
      <div class="inner-addon left-addon">
        <i class="fa fa-clock-o icon-addon"></i>
        <%= text_field_tag "organisation[acceptance_date]", @time, { class: 'form-control p7_10 acceptance_date', readonly: true } %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="input-group" style="z-index:0">
        <input type="text" name="referral_code", class="form-control p7_10 referral_code", placeholder="Have a Referral Code?">
        <span class="input-group-btn">
          <button class="btn btn-info btn-xs btn-check-referral" type="button" style="height:34px;">Apply</button>
        </span>
      </div>
    </div>
  </div>
  <div class="row mt10">
    <div class="col-sm-12 text-center referral-message" style="display: none;"></div>
    <%= text_field_tag "organisation[referral_code]", "", { class: "organisation_referral_code", style: "visibility:hidden;" } %>
  </div>
</div>