<div class="col-sm-12" style="margin-top: 10px;">
  <div class="row">
    <div class="col-sm-12 text-center"><b>USER DETAILS</b></div>
  </div>
</div>
<div class="col-sm-12" style="margin-top: 10px;">
  <div class="row">
    <div class="col-sm-4">
      <%= text_field_tag "user[fullname]", "", { class: 'form-control p7_10 fullname', placeholder: "Name" } %>
    </div>
    <div class="col-sm-4">
      <%= text_field_tag "user[email]", "", { class: 'form-control p7_10 email', placeholder: "Email" } %>
    </div>
    <div class="col-sm-4">
      <%= text_field_tag "user[username]", "", { class: 'form-control p7_10 username', placeholder: "Username", onkeyup: "return forceLower(this);" } %>
    </div>
  </div>
</div>
<div class="col-sm-12" style="margin-top: 10px;">
  <div class="row">
    <div class="col-sm-4">
      <%= select_tag "user[gender]", options_for_select(['Male', 'Female']), {:class => "form-control p7_10", include_blank: "Gender"} %>
    </div>
    <div class="col-sm-4">
      <%= text_field_tag "user[dob]", "", { class: 'form-control p7_10 dob', placeholder: "Birth Date", readonly: 'readonly' } %>
    </div>
    <div class="col-sm-4">
      <%= select_tag "user[role_ids]", options_for_select([['I am Doctor & Hospital Owner', '158965000,160943002'], ['I am Doctor & Hospital Admin', '158965000,6868009'], ['I am Hospital Owner', '160943002'], ['I am Hospital Admin', '6868009']]), {:class => "form-control p7_10", include_blank: "Designation"} %>
    </div>
  </div>
</div>