<!-- <div class="row no_margin text-center">
  <h4>Summary</h4>
</div> -->

<% unless current_facility.clinical_workflow %>
    <% if current_user.role_ids[0] == 106292003 || current_user.role_ids[0] == 159561009 || current_user.role_ids[0] == 59561000 || current_user.role_ids[0] == 405277009 %>
        <%= render 'opd_appointments/calendar/sidebar_summary_without_workflow'%>
    <% end %>
    <div class="row no_margin  summary_body collapse in" id="summary_appiontments_today">
      <div class="appointments_today">
        <div class="tab-content">
          <div role="tabpanel" class="appointment_type_contents tab-pane active" id="appointment_all" style="background:#eee;">
            <div id="appointment_all_not_finished" style="background:#fff;"></div>
            <div class="finished_word" style="display:none;text-align:center;background:#eee;padding:10px 0;">Finished</div>
            <div id="appointment_all_finished" style="background:#fff;"></div>
          </div>
          <div role="tabpanel" class="appointment_type_content tab-pane" id="appointment_scheduled"></div>
          <div role="tabpanel" class="appointment_type_content tab-pane" id="appointment_waiting"></div>
          <div role="tabpanel" class="appointment_type_content tab-pane" id="appointment_engaged"></div>
          <div role="tabpanel" class="appointment_type_content tab-pane" id="appointment_finished"></div>
        </div>
      </div>
    </div>
<% else%>
    <% if current_user.role_ids.include?159561009%>
      <%= render 'opd_appointments/calendar/sidebar_receptionist'%>
    <% elsif current_user.role_ids.include?59561000%>
      <%= render 'opd_appointments/calendar/sidebar_receptionist'%>
    <%elsif current_user.role_ids.include?158965000%>
        <%= render 'opd_appointments/calendar/sidebar_doctor'%>
    <%elsif current_user.role_ids.include?405277009%>
        <%= render 'opd_appointments/calendar/sidebar_receptionist'%>
    <%elsif current_user.role_ids.include?106292003%>
        <%= render 'opd_appointments/calendar/sidebar_receptionist'%>
    <% end %>
<% end %>


<!-- <div class="row  no_margin text-center" style='background-color: #E8BAFF; cursor: pointer;' data-toggle="collapse" data-target="#summary_appiontments_today">Today</div> -->

<!-- summary_body -->

<hr style="margin: 5px; border-color: rgb(171, 171, 171);" />

<div class="row no_margin text-center" style='background-color: #354670; margin-bottom: 10px; padding: 7px; color: white; cursor: pointer;' data-toggle="collapse" data-target="#summary_appiontments_later">Upcoming Appointments<span class="pull-right"><i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
</span></div>

<div class="row no_margin  summary_body collapse" id="summary_appiontments_later">
  <div class="appointments_later">
    Nothing to show!!
  </div>
</div><!-- summary_body -->

<style type="text/css">
.full-width{
  width: 20%;
  text-align: center;
  text-transform: uppercase;
}
  .appointment-filter{
    text-align: center;
    font-size: 12px;
    border: 0.5px solid #effa2b;
    text-transform: uppercase;
  }
  .nav-tabs{
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 1em 0 2em;
    font-weight: 300;
    font-size: 9px;
  }
  .nav-tabls ul {
    width: 100%;
  }
  .nav-tabs > li > a {
    border: 0;
    padding: 10px 0;
    color: #666;
  }
  .summary_appointment.active{
      background: #354670;
      color: white;
  }
</style>
