<div class="row">
  <div class="col-md-4">
    <h4>MANAGE INVENTORY DISPENSING UNIT</h4>
  </div>
  <div class="col-md-3 text-right">
    <input type="text" name="" class="search-dispensory_unit form-control" placeholder="Search Dispensory Unit" value="" style="margin-top: 5px;">
  </div>
  <div class="col-md-5 text-right">
    <%= link_to new_inventory_dispensing_unit_path, class: 'btn btn-primary', data: { remote: true, 'toggle': 'modal', 'target': '#dispensing-unit-modal' } do %><i class="fa fa-plus"></i> Add Dispensing Unit<% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <% if @inventory_dispensing_units.count > 0 %>
      <table id="manage_inventory_dispensing_units_table" class="table table-primary table-bordered">
        <thead>
        <th>Name</th>
        <th class="text-center">Actions</th>
        </thead>
        <tbody id='dispensory_unit-list'>

        <% @inventory_dispensing_units.each do |dispensing_unit| %>
          <% visibility = dispensing_unit.is_disable ? 'visibility: hidden;' : 'visibility: visible' %>
          <tr class="each-contact-table-row dispensory_unit_tr">
            <td>
              <b class="dispensing_unit_name" style="color:#000;"><%= dispensing_unit.try(:name) %></b>
            </td>

            <td>
              <table style="width: 100%;">
                <tr>
                  <td style="<%=visibility%>">
                    <%= link_to edit_inventory_dispensing_unit_path(id: dispensing_unit.id.to_s), method: :get, data: { remote: true, toggle: 'modal', target: '#dispensing-unit-modal' }, class: 'btn btn-info btn-xs', style: 'display: inline;' do %>Edit<% end %>
                  </td>
                  <td id='dispensing_unit_disable_button_<%= dispensing_unit.id %>'>
                    <% if dispensing_unit.try(:is_disable) == true %>
                      <%= link_to 'Active', toggle_disable_inventory_dispensing_unit_path(id: dispensing_unit.id, is_disable: false), class: 'btn btn-xs btn-primary', remote: true, style: 'display: inline;' %>
                    <% else %>
                      <div class="btn btn-danger btn-xs btn-disable-dispensing-unit" style="display: inline;" data-toggle="modal" data-target="#confirmation-modal" data-dispensing-unit='<%= dispensing_unit.name %>'>Disable</div>
                      <%= link_to 'Confirm', toggle_disable_inventory_dispensing_unit_path(id: dispensing_unit.id, is_disable: true), class: 'btn btn-danger', remote: true, style: 'display: none;', data: { dismiss: 'modal' } %>
                    <% end %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="col-md-12 text-center mt10">
        No Dispensing Units to Show.
      </div>
    <% end %>
  </div>
</div>

<style>
  #confirmation-modal a{
    display: inline-block !important;
  }
  .row-container{
    height: 25px;
  }
</style>

<script type="text/javascript">
  $(".search-dispensory_unit").on('keyup', function(){
    dispensory_unit_list = $(".dispensory_unit_tr");
    dispensory_unit_count = dispensory_unit_list.length;
    search = $(this).val().toUpperCase().trim();
    counter = 0
    for (var i = dispensory_unit_list.length - 1; i >= 0; i--) {
      dispensing_unit_name = $(dispensory_unit_list[i]).find(".dispensing_unit_name")
      if($(dispensing_unit_name).html().toUpperCase().indexOf(search) > -1) {
        $(dispensory_unit_list[i]).css("display", "");
      } else {
        $(dispensory_unit_list[i]).css("display", "None");
        counter += 1
      }
    }

    if(dispensory_unit_count == counter){
      if($(".show-nothing").length <= 0){
        $("#dispensory_unit-list").append(`<tr class="show-nothing"><td class="text-center" colspan="5">Nothing to Show</td></tr>`)
      }
    } else {
      $(".show-nothing").remove();
    }
  })
</script>
