<% if @stock_openings.length > 0 %>
  <% @stock_openings.each do |stock_opening| %>
    <tr id="<%= stock_opening.id%>" class="inventory-list-row">
      <td style="font-size: 10px; color: #17a08c;" class="col-md-3">
        <%= stock_opening.transaction_date %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= stock_opening.transaction_time&.strftime("%I:%M%p") %>
      </td>
      <td class="col-md-3 notes"><b><%= stock_opening.note.try(:capitalize) %></b></td>
      <td class="col-md-2 notes"><b><%= stock_opening.try(:document_number) %></b></td>
      <td class="col-md-2 total-cost"><b><%= stock_opening.total_cost %></b> </td>
      <td class="col-md-2 status"><b><%= stock_opening.status_text %></b> </td>
    </tr>
  <%end%>
<% else %>
  <tr>
    <td align="center"><strong style="font-size: 20px;">Nothing to Display</strong></td>
  </tr>
<% end %>