<div class="col-md-12 stock-opening-invoice-information">
  <div class="col-sm-7 font-size">
    <div class="row">
      <div class="col-md-6">
        <%= f.text_area :comments, class: 'form-control', placeholder: 'Comments' %>
      </div>
      <div class="col-md-6">
        <div id='tax-cage' class="col-sm-12"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-5 text-right">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-6">
          <b>Total Amt Including Tax</b>
        </div>
        <div class="col-sm-2 text-center">
          :
        </div>
        <div class="col-sm-4">
          <%= f.text_field :total_cost, class: 'fi_input_style fullname', placeholder: 'Amount', style: 'width:92%',readonly: true %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-6">
          <b>Discount</b>
        </div>
        <div class="col-sm-2 text-center">
          :
        </div>
        <div class="col-sm-4" id="discount">
          <%= f.text_field :discount, class: 'fi_input_style', placeholder: 'Amount', style: 'width:92%;', onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-6">
          <b>Net Amount</b>
        </div>
        <div class="col-sm-2 text-center">
          :
        </div>
        <div class="col-sm-4">
          <%= f.text_field :net_amount, class: 'fi_input_style stock-opening-net-amount', placeholder: 'Amount', style: 'width:92%',readonly: true %>
        </div>
      </div>
    </div>
    <div class="pending_amount_details">
      <%= f.hidden_field :amount_paid, class: 'fi_input_style stock-opening-amount-paid', placeholder: 'Amount', style: 'width:92%',readonly: true %>
      <%= f.hidden_field :amount_remaining, class: 'fi_input_style stock-opening-amount-remaining', placeholder: 'Amount', style: 'width:92%',readonly: true%>
      <%= f.hidden_field :extra_amount_paid, class: 'fi_input_style amount_paid_other', id: 'inventory_transaction_stock_opening_extra_amount_paid', placeholder: 'Amount', name: 'inventory_transaction_stock_opening[extra_amount_paid]' %>
    </div>
  </div>
</div>