<div class="mis_list">
  <h4>Payment Received</h4>
  <% group = "payment_received" %>
  <ul data-test-title="Payment Received" class="nav">
    <li data-test-title="Sales by Invoices">
      <%= link_to reports_view_mis_financial_reports_path(group: group, title: "sales_by_invoices"), data: { remote: true }, class: "mis_reports_link ps" do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Sales by Invoices</span>
      <% end %>
    </li>
    <li data-test-title="Payment Received">
      <%= link_to reports_view_mis_financial_reports_path(group: group, title: "payment_received"), data: { remote: true }, class: "mis_reports_link ps" do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Payment Received</span>
      <% end %>
    </li>
    <li data-test-title="Withholding Tax">
      <%= link_to reports_view_mis_financial_reports_path(group: group, title: "withholding_tax"), data: { remote: true }, class: "mis_reports_link ps" do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Withholding Tax</span>
      <% end %>
    </li>
    <li data-test-title="Sales by Payer">
      <%= link_to reports_view_mis_financial_reports_path(group: group, title: "sales_by_payer"), data: { remote: true }, class: "mis_reports_link ps" do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Sales by Payer</span>
      <% end %>
    </li>
    <li data-test-title="Sales by Mode">
      <%= link_to reports_view_mis_financial_reports_path(group: group, title: "sales_by_mode"), data: { remote: true }, class: "mis_reports_link ps" do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Sales by Mode</span>
      <% end %>
    </li>
    <li data-test-title="Advance Received">
      <%= link_to reports_view_mis_financial_reports_path(group: group, title: "advance_received"), data: { remote: true }, class: "mis_reports_link ps" do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Advance Received</span>
      <% end %>
    </li>
  </ul>
</div>