<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>

<div class="modal-dialog expense-form-dialog" style="width: 750px">
  <div class="modal-content">
    <%= form_for(@recurring_expense,:html=>{:id=>'expense_form'}, :remote=>true) do |f| %>

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Expense</h4>
        </div>
        <div class="modal-body row">
          <div class="col-md-12" style="">
            <div class="col-md-6" style="border-right: 1px solid #eee">
              <table class="table-finance table-add-expense" style="width: 100%">
                <tr>
                  <td>
                    <div class="form-group">
                      <div class="col-sm-4"><%= f.label :date %></div>
                      <div class="col-sm-8">
                        <%= f.text_field :date,{:class => 'form-control p7_10 datepicker'} %>

                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <div class="col-sm-4"><%= f.label :merchant %></div>
                      <div class="col-sm-8">
                        <%= f.text_field :merchant,{:class => 'form-control p7_10'} %>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <div class="col-sm-4"><%= f.label :category %><i class="fa fa-info-circle hg-tooltip" title="Categories like salary, rent, internet bill,Etc." style="cursor:help;"></i></div>

                      <div class="col-sm-8">
                        <%#= f.select :category, options_for_select(['Telephone Expense','Rent Expense','Internet Bill'], 'Rent Expense'),{},{:class => 'form-control p7_10'} %>
                        <input type="hidden" name="finance_expense[category_name]" value="<%= @recurring_expense.category_name.to_s %>" class="finance_expense_category_name">
                        <select name="finance_expense[contact]" class='form-control finance_expense_contact_id'>
                          <option value=""> </option>
                          <% @contacts.each do |contact| %>
                              <option value="<%= contact.id %>" <%= "selected='selected'" if (@recurring_expense.contact.to_s == contact.id.to_s) %>><%= contact.display_name %> - <%= contact.contact_group.try(:name) %></option>
                        <% end %>
                        </select>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <div class="col-sm-4"><%= f.label :amount %></div>
                      <div class="col-sm-8">
                        <%= f.text_field :amount,{:class => 'form-control p7_10'} %>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <div class="col-sm-4"><%= f.label :tax_id %></div>
                      <div class="col-sm-8">
                        <input type="hidden" name="finance_expense[tax]" value="<%= @recurring_expense.tax.to_s %>" class="finance_expense_tax">

                        <select name="finance_expense[tax_id]" class='form-control tax_group_id'>
                          <option value="" data-tax-rate='0'> </option>
                          <% @tax_groups.each do |tax_group| %>
                              <option value="<%= tax_group.id.to_s %>" data-tax-rate='<%= tax_group.rate %>' <%= "selected='selected'" if (@recurring_expense.tax_id.to_s == tax_group.id.to_s) %>><%= tax_group.name %> - <%= tax_group.rate %>%</option>
                          <% end %>
                        </select>

                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <div class="col-sm-4"><%= f.label :tax_inclusive,"Tax Inclusive" %></div>
                      <div class="col-sm-8">

                        <input type="hidden" name="finance_expense[tax_inclusive]" id='finance_expense_tax_inclusive_hidden' value="false">
                        <div class="ckbox ckbox-primary">
                          <input type="checkbox" name="finance_expense[tax_inclusive]" id='finance_expense_tax_inclusive' class="item_tax_inclusive" value='true' checked="checked">
                          <label for='finance_expense_tax_inclusive'></label>
                        </div>

                      </div>
                    </div>
                  </td>
                </tr>

              </table>
            </div>

            <div class="col-md-6">
              <table class="table-finance table-add-expense" style="width: 100%">
                <tr>
                  <td>
                    <div class="form-group">
                      <div class="col-sm-4"><%= f.label :description %></div>
                      <div class="col-sm-8">
                        <%= f.text_field :description,{:class => 'form-control p7_10'} %>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <div class="col-sm-4"><%= f.label :reference %></div>
                      <div class="col-sm-8">
                        <%= f.text_field :reference,{:class => 'form-control p7_10'} %>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <div class="col-sm-4"><%= f.label :note %></div>
                      <div class="col-sm-8">
                        <%= f.text_field :note,{:class => 'form-control p7_10'} %>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <div class="col-sm-4"><%= f.label :tax_amount, "Tax amount" %></div>
                      <div class="col-sm-8">
                        <%= f.text_field :tax_amount,{:class => 'form-control p7_10'} %>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">


          <% if params[:action] == "new" %>
              <%= f.submit "Save",{:class => 'btn btn-success'}%>
          <%else%>
              <%= f.submit "Update",{:class => 'btn btn-success'}%>
          <%end%>

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    <%end%>
  </div>
</div>




<script type="text/javascript">


</script>

<style type="text/css">

  input.error, select.error {
    border-color: #b94a48;
    background-image: none;
  }
  input.valid, select.valid {
    border-color: #468847;
    background-image: none;
  }

</style>