<div class="expense_action_buttons">
  <%= link_to edit_finance_expense_path(id: @expense.id), class: "btn btn-xs btn-warning", id: "edit-expense-btn", data: {remote: true, 'toggle': "modal", 'target': '#expense-modal' } do %> Edit<% end %>
  <%= link_to finance_expense_path(id: @expense.id), class: "btn btn-xs btn-danger",method: 'delete', :title => "Delete this Expense ?", id: "delete-expense-btn", data: {remote: true, :confirm => "<h4>Are you sure that you want to delete this Expense ?</h4>".html_safe, :commit => 'Delete Expense'} do %> Delete<% end %>
</div>
<div class="expense_show_details">
  <div style="font-weight: normal; margin-bottom: 5px !important;color: #AAA;">
    Expense Amount
  </div>
  <div style ="margin-bottom: 5px !important;" >
    <span style="color: #b94a48; font-size: 24px;font-family: 'LatoRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif;">₹<%= @expense.amount %> </span>
    <span class="pull-right" style="color: <%=(@expense.try(:status_color))%>; font-size: 18px;"><%= @expense.try(:status) %></span>
  </div>
  <% if @expense.tax %>
    <div style ="margin-bottom: 5px !important;" >
      Tax <%= @expense.try(:tax) %>% (₹ <%= @expense.try(:tax_amount)%>)
    </div>
  <% end %>
  <div style ="margin: 25px 0px;">
    <span style ="margin: 15px 0px; padding: 10px; background: #c5e3ec"><%= @expense.category_name %></span>
    <span class="pull-right"><strong><%= @expense.try(:profile_name) %></strong></span>
  </div>
</div>
<div class="expense_show_details">
  <address class="pull-left" style="padding:0 15px 0 10px;margin-right:12px;border-right:1px solid #eeeeee">
    <div class="text-muted">Merchant</div>
      <p style="color: #333"> <%= @expense.try(:merchant)%></p>
  </address>

  <address style="padding:0 15px 0 10px">
    <div class="text-muted">Reference</div>
      <p style="color: #333"><%= @expense.try(:reference)%></p>
  </address>
</div>




<style type="text/css">
  .fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  .fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
  }

  /* Fixes for IE < 8 */
  @media screen\9 {
    .fileinput-button input {
      filter: alpha(opacity=0);
      font-size: 100%;
      height: 100%;
    }
  }

</style>