<p id="notice"><%= notice %></p>

<h1>Listing Inventory Item Stocks</h1>

<table>
  <thead>
    <tr>
      <th>Unit price</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventory_item_stocks.each do |inventory_item_stock| %>
      <tr>
        <td><%= inventory_item_stock.unit_price %></td>
        <td><%= inventory_item_stock.quantity %></td>
        <td><%= link_to 'Show', inventory_item_stock %></td>
        <td><%= link_to 'Edit', edit_inventory_item_stock_path(inventory_item_stock) %></td>
        <td><%= link_to 'Destroy', inventory_item_stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock', new_inventory_item_stock_path %>
