<p id="notice"><%= notice %></p>

<p>
  <strong>Unit price:</strong>
  <%= @inventory_item_stock.unit_price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @inventory_item_stock.quantity %>
</p>

<%= link_to 'Edit', edit_inventory_item_stock_path(@inventory_item_stock) %> |
<%= link_to 'Back', inventory_item_stocks_path %>
