<% @data.each do |key, value| %>
  <% key = key.to_i + params[:row_count].to_i %>

  <div class='row radiology-investigation-row mb5'>
    <input type='hidden' name='radiology_investigation[<%= key %>][investigation_id]' id='radiology_laboratory_set_data_<%= key %>_investigation_id' class='form-control investigation_id' value='<%= value['investigation_id'] %>'>
    <input type='hidden' name='radiology_investigation[<%= key %>][laterality]' id='radiology_laboratory_set_data_<%= key %>_laterality' class='form-control laterality' value='<%= value['laterality'] %>'>
    <input type='hidden' name='radiology_investigation[<%= key %>][loinc_code]' id='radiology_laboratory_set_data_<%= key %>_loinc_code' class='form-control loinc_code' value='<%= value['loinc_code'] %>'>
    <div class='col-sm-5'>
      <input type='text' name='radiology_investigation[<%= key %>][investigationname]' id='radiology_laboratory_set_data_<%= key %>_investigationname' class='form-control investigationname p5_10' value='<%= value['investigationname'] %>'>
    </div>
    <div class='col-sm-5'>
      <% if value['radiologyoptions'].present? %> <!-- MRI -->
        <select class='form-control radiologyoptions' name='radiology_investigation[<%= key %>][radiologyoptions]' id='radiology_laboratory_set_data_<%= key %>_radiologyoptions'>
          <option value='90084008' <%=  'selected="selected"' if value['radiologyoptions'] == '90084008' %>>w/o contrast</option>
          <option value='51619007' <%=  'selected="selected"' if value['radiologyoptions'] == '51619007' %>>with contrast</option>
          <option value='429859008' <%=  'selected="selected"' if value['radiologyoptions'] == '429859008' %>>with complete screening</option>
          <option value='431985004' <%=  'selected="selected"' if value['radiologyoptions'] == '431985004' %>>screening of other region</option>
          <option value='22400007' <%=  'selected="selected"' if value['radiologyoptions'] == '22400007' %>>3D-reconstruction</option>
        </select>
      <% end %>
    </div>
    <div class='col-sm-2'>
      <button class='btn btn-danger btn-xs delete-row'>&times;</button>
    </div>
  </div>
<% end %>