<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog investigation-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Removal Details</h4>
    </div>
    <%= form_for @investigation, url: investigation_investigation_details_investigation_removed_path(investigation_id: @investigation.id), remote: true, html: { id: 'edit-investigation-form', class: "investigation-form" } do |investigation| %>
      <div class="modal-body">
        <input type="hidden" name="investigation[removed_by]" value='<%= current_user.id.to_s %>'>
        <input type="hidden" name="investigation[removed_by_username]" value='<%= current_user.fullname.to_s %>'>
        <input type="hidden" name="investigation[removed_at]" value='<%= Time.current %>'>
        <input type="hidden" name="investigation[removed_at_facility_id]" value='<%= current_facility.id.to_s %>'>
        <input type="hidden" name="investigation[removed_at_facility_name]" value='<%= current_facility.name.to_s %>'>
        <div class="row mb5">
          <div class="col-sm-6">
            Reason for Removal:
          </div>
          <div class="col-sm-6">
            <%= investigation.text_field :removing_reason, name: 'investigation[removing_reason]', class: 'form-control p5_10', value: 'Patient Denied' %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= investigation.submit "Save", { class: 'btn btn-success btn-xs', data: { 'disable-with': 'Please Wait...' }, :onclick => 'investigation_page()' } %>
        <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>