<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog investigation-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Add <%= params[:flag].to_s.capitalize %> Investigation</h4>
    </div>
    <%= form_tag '/investigation/investigation_details', method: "post", remote: true, id: 'new-investigation-form', class: "investigation-form" do %>
      <div class="modal-body">
        <div class="row mb10">
          <input type="hidden" name="flag" value="<%= params[:flag] %>">
          <input type="hidden" name="patient_id" value="<%= params[:patient_id] %>">
          <input type="hidden" name="appointment_id" value="<%= params[:appointment_id] %>">
          <%= render partial: 'investigation/investigation_details/forms/new_' + params[:flag] + '_form.html.erb' %>
        </div>
      </div>
      <div class="modal-footer">
        <%= submit_tag "Save", class: "btn btn-success", data: { 'disable-with': 'Please Wait...' }, onclick: 'investigation_form_validate()' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>

<style type="text/css">
  input.error, select.error {
    border-color: #b94a48;
    background-image: none;
  }
  input.valid, select.valid {
    border-color: #468847;
    background-image: none;
  }
</style>

<script type="text/javascript">

  function investigation_form_validate() {
    $("#new-investigation-form").validate({
      errorPlacement: function (error, element) {
        error.insertAfter(element);
      }
    });
  }
  investigation_form_validate()

  $.validator.addMethod("EyeSide", $.validator.methods.required,
  "Eye Side Required");
  $.validator.addClassRules("investigationside", { EyeSide: true});
</script>