<div class="inventory-variant-toolbar1 inventory-toolbar">

  <nav class="navbar navbar-secondary navbar-fixed-top" style="margin-bottom: 0px; left: auto; right: auto; width: auto; position: relative;z-index:100; background: #354670;">
    <div class="container-fluid" style="padding-right:0;">
      <div class="col-xs-2 link-to-calendar" style="padding-left:initial">
        <div class="navbar-header" style="margin-top: 7px;">
          <button class="btn btn-link btn-xs btn-inventory-refresh"><i class="fa fa-refresh" style="color:#fff;"></i></button>
        </div>
      </div>


<!--      <div class="col-xs-3" style="padding: 5px 10px">-->
        <%# if @inventory_store.enable_stock_entry %>

<!--          <div class="btn-group" style="margin-bottom: 0px;" role="group" aria-label="">-->
<!--            <a href="/inventory/item/variants/new?store_id=<%#= @inventory_store.id %>" data-remote="true" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> New</a>-->

<!--            <button type="button" class="btn btn-primary btn-sm dropdown-toggle " data-toggle="dropdown" style="">-->
<!--              <span class="caret"></span>-->
<!--            </button>-->
<!--            <ul class="dropdown-menu children" style="">-->
<!--              <li>-->
<!--                <a href="/inventory/item/variants/new?store_id=<%#= @inventory_store.id %>" data-remote="true" class=""> Variant Master</a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
        <%#end%>
<!--      </div>-->


      <!-- <div class="col-xs-3" style="padding: 5px 10px">
        <div class="btn-group" style="margin-bottom: 0px;" role="group" aria-label="">
          <button type="button" class="btn btn-primary btn-sm dropdown-toggle " data-toggle="dropdown" style="">
            <span style=''><i class="fa fa-filter"></i> Filter By</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu children" style="">
            <%# if @inventory_store.department_id == '50121007' %>
              <#% categories = ['all_item','optical_frame','optical_contact','optical_other','asset']%>
            <%# else %>
              <%# categories = ['all_item','medication','consumable','implant','asset','miscellaneous']%>
            <%# end %>


            <%# categories.each do |category| %>
              <li>
                <a href="/inventory/item/variants/filter_index?store_id=<%#= @inventory_store.id %>&item_type=<%#= category %>" data-remote="true" class=""><%#= category.try(:titleize).try(:camelize) %></a>
              </li>
            <%# end %>
          </ul>
        </div>
      </div> -->
      <div class="col-xs-6">
        <div class="tagsinput">
            <% if @category != ['all_item'] %>
              <span class="tag" data-attribute="category"><span>Category&nbsp;&nbsp;</span><span title="Removing tag">x</span></span>
            <% end %>
            <% if @stock.present? %>
              <span class="tag" data-attribute="stock"><span>Stock&nbsp;&nbsp;</span><span title="Removing tag">x</span></span>
            <% end %>
            <% if @category != ['all_item'] || @stock.present? %>
              <span class="clear-filters-tag">Clear Filters</span>
            <% end %>

          <input type="hidden" name="hiddenfilter[category]" class="category form-control hiddenfilter"  value='<%= @category %>'>
          <input type="hidden" name="hiddenfilter[stock]" class="stock form-control hiddenfilter"  value='<%= @stock %>'>

        </div>
      </div>

      <%= link_to filter_variant_inventory_item_variants_path(store_id: @inventory_store.id, department_id: @inventory_store.department_id), data: { remote: true, 'toggle': 'modal1', 'target': '#variant-filter-modal1' }, class: 'btn btn-primary btn-md navbar-btn navbar-btn-hover open_side_modal', style: 'border:none;' do %><i class="fa fa-filter"></i> Filter<% end %>
      <div id="esearch_summary">
        <%= render partial: '/inventory/item/variants/filter' %>
      </div>

    </div>
  </nav>

</div>



<div class="inventory-items" style=" height: initial;">
  <table class="table inventory_table_center">
    <thead class="inventory-table-head">
      <tr class='thead-fixable'>
        <td class='thead-fix col-md-3'>Variant Code</td>
        <td class='thead-fix col-md-5'>Description</td>
        <td class='thead-fix col-md-2'>Stock</td>
        <% if @inventory_store.department_id == '50121007' %>
          <td class='thead-fix col-md-2'>Model No.</td>
        <% end %>
        <td class='thead-fix col-md-2'>Category</td>
        <% if @category == "out_stock" %>
          <td class="thead-fix">
            <%@current_date =  Date.current %>
            <%= link_to inventory_print_items_path(:Print_date =>  Date.strptime("#{@current_date}", "%Y-%m-%d"), data: "out_stock", :format => :pdf), :class => "text-center print_button", :target => "_blank" do %>
              Print
            <% end %>
          </td>
        <% end %>
      </tr>
    </thead>
    <tbody class="inventory-table-body", id="inventory_table_body">
      <%= render partial: 'inventory/item/variants/index_body' %>
    </tbody>
  </table>
  <% unless @variants.count < 30 %>
    <div class="show-more-timeline">
      <a class="col-sm-12", href="javascript:;", id="show_more_inventory", data-count = "0" , style="text-align: center;text-decoration: none;position: fixed;">
        <i class="fa fa-spinner fa-spin"></i> Loading...
      </a>
    </div>
  <%end%>
</div>

<style>
  div.tagsinput {
    background: rgb(53, 70, 112)!important;
    border: none !important;
    padding:5px;
    width: auto !important;
    height: 48px !important;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
  }

  /*.tagsinput {*/
    /*width: auto !important;*/
    /*height: 48px !important;*/
    /*background: rgb(53, 70, 112)!important;*/
    /*border: none !important;*/
  /*}*/
  div.tagsinput span.tag {
    display: block;
    float: left;
    padding: 8px 5px;
    text-decoration: none;
    background: #ffffff !important;
    color: #000 !important;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
  }

  div.tagsinput span.tag:hover {
    text-decoration: line-through;
  }

  div.tagsinput span.tag a {
    font-weight: bold;
    color: #000 !important;
    opacity: 0.5;
    text-decoration: none;
    font-size: 11px;
  }
  .clear-filters-tag {
    padding: 10px;
    /*display: block;*/
    float: left;
    padding: 8px 5px;
    text-decoration: none;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
  }
  .print_button{
    border: 1px solid #6EC7EE;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    background: #6EC7EE;
    border-radius: 4px;
  }
  .print_button:hover{
    color: #fff;
    text-decoration: none;
  }

  .inventory-list-row:hover{
    background: aliceblue;
    cursor: pointer;
  }

  .inventory-list-row {
    cursor: pointer;
  }
  .navbar-secondary {
    background: #354670;
    color: white;
    border-color: transparent;
  }
</style>

<script type="text/javascript">
  $(".clear-filters-tag").on("click", function () {
    $(this).hide()
    $(".tagsinput .tag").hide()
    $(".hiddenfilter").val("")
    refreshVariantPage()
  })
  $(".tagsinput .tag").on("click", function() {
    var tagattr = $(this).attr("data-attribute")
    $(this).hide()
    $("."+tagattr).val("")
    refreshVariantPage()
  })

  function searchParams() {
    SearchParams = {}
    let item_type
    let stock

    item_type = eval($("input[name='hiddenfilter[category]']").val())
    if (item_type == undefined) {
      item_type = ['all_item']
    }
    stock = $("input[name='hiddenfilter[stock]']").val()
    if (stock != undefined) {
      SearchParams.stock = stock
    }

    SearchParams.item_type = item_type
    SearchParams.remote = true
    SearchParams.data_from = 'filter'
    SearchParams.store_id = '<%= @store_id %>'
  }

  function refreshVariantPage() {
    loadingDots();
    searchParams();

    jQuery.ajax({
      type: "GET",
      dataType: "script",
      data: SearchParams,
      url: "/inventory/item/variants",
    }).done(function(data){
    })
  }

  function loadingDots() {
    $(".inventory-items ").html("<div class='loading_dots'><span></span> <span></span> <span></span></div>")
  }
</script>