<% variant = @inventory_item_variant %>
<div id="<%= variant.id %>" style="margin-top: 10px">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-9">
    </div>
    <div class="col-lg-3 pull-right">
      <% if Authorization::PolicyHelper.verification(current_user.id ,"HGP-100-101-100") %>
        <input class="" placeholder="Type item code" id="input_remove_confirmation" style="display: none;">
        <button class="btn btn-xs btn-danger" data-model="<%= variant.id %>" id="btn_remove_item_confirm" title="Confirm" data-content="Please type item code to confirm." data-placement="bottom">
          <i class="fa fa-trash-alt"></i> &nbsp; Delete Item
        </button>

        <a href="/inventory/item/variants/disable?id=<%= variant.id %>" data-remote="true" style="display: none" class="btn btn-danger btn-xs" id="verified_item_remove"> <i class="fa fa-trash-alt"></i>&nbsp;Confirm Delete</a>
      <% end %>
    </div>
  </div>

  <div id="item_information" class="col-lg-12 col-md-12 col-sm-12">

    <div class="row" style="margin-bottom: 5px">
      <div class="col-md-12">
        <div class="col-md-2">
          <span class="description">Description:</span>
        </div>
        <div class="col-md-10">
          <strong><%= variant.description %></strong>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-2">
          <span class="item_code">Item Code:</span>
        </div>
        <div class="col-md-4">
          <strong><%= variant.item_code %></strong>
        </div>
        <div class="col-md-2">
          <span>Barcode:</span>
        </div>
        <div class="col-md-4">
          <strong><%= variant.try(:barcode_id) %></strong>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-2">
          <span class="stock">Stock:</span>
        </div>
        <div class="col-md-4">
          <strong><%= variant.stock %></strong>
        </div>
        <div class="col-md-2">
          <span class="custom_field">Identifier:</span>
        </div>
        <div class="col-md-4" style="min-width: 33.33333333%;">
          <strong><%= variant.custom_field_tags&.join(', ') %></strong>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-2">
          <span class="category">Category:</span>
        </div>
        <div class="col-md-4">
          <strong><%= variant.category&.titleize %></strong>
        </div>
        <div class="col-md-2">
          <span class="variant_code">Variant Code:</span>
        </div>
        <div class="col-md-4">
          <strong class="variant_code variant_code_value"><%= variant.variant_code %></strong>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-2">
          <span class="threshold">Threshold Value:</span>
        </div>
        <div class="col-md-4">
          <strong><%= variant.threshold_value %></strong>
        </div>
        <% if variant.try(:model_no).present? %>
          <div class="col-md-2">
            Model No.:
          </div>
          <div class="col-md-4">
            <strong><%= variant.try(:model_no) %></strong>
          </div>
        <% end %>
      </div>
      
      <div class="col-md-12">
        <div class="col-md-2">
          Generic Names:
        </div>
        <div class="col-md-10">
          <% name = variant.generic_display_name.present? ? variant.generic_display_name : 'N/A' %>
          <strong><%= name %></strong>
        </div>
      </div>
    </div><br>

    <b style="color: #1E90FF">Lot Details:</b>
    <div class="row check-font">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Sl. No.</th>
            <th>Lot Type</th>
            <th>Batch No.</th>
            <th>Model No.</th>
            <th>Vendor</th>
            <th>Expiry</th>
            <th>Stock</th>
            <th>List price</th>
            <th>Mark Up</th>
            <th>MRP</th>
          </tr>
        </thead>
        <tbody>
          <% @lots.each_with_index do |lot,index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= lot.sub_store_name&.titleize %></td>
            <td><%= lot.batch_no %></td>
            <td><%= lot.model_no %></td>
            <td><%= lot.vendor_name %></td>
            <td><%= lot.expiry %></td>
            <td><%= lot.stock %></td>
            <td><%= lot.list_price&.round(2) %></td>
            <td><%= lot.mark_up %></td>
            <td><%= lot.mrp&.round(2) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <b style="color: #1E90FF">Transaction History:</b>
    <div class="row check-font">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Sl. No.</th>
            <th>Transaction Date</th>
            <th>User Name</th>
            <th>Transaction Type</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <% @variant_histories.each_with_index do |variant, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= variant.transaction_date %></td>
              <td><%= variant.user_name %></td>
              <td><%= variant.transaction_type&.titleize %></td>
              <td><%= variant.amount_value&.abs.round(2) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<style type="text/css">
  .table-add-item td{
    padding: 5px 5px 0;
  }
</style>

<script type="text/javascript">
  $('#btn_remove_item_confirm').on('click', function(){
    $('#input_remove_confirmation').show()
    $('#verified_item_remove').show()
    $(this).hide()
    $('#verified_item_remove').attr('disabled','disabled')
    $(".variant_code").addClass("glow-animation")
  })

  $('#input_remove_confirmation').on('keyup', function(){
    if($(".variant_code_value").text().trim() === $(this).val()){
      $('#verified_item_remove').removeAttr('disabled')
    } else {
      $('#verified_item_remove').attr('disabled', 'disabled')
    }

  })

  $('.btn_remove_lot_confirm').on('click', function(){
    $('.verified_lot_remove').hide()
    $('.btn_remove_lot_confirm').show()
    $(this).siblings('.verified_lot_remove').show()
    $(this).hide()
  })

    // $('.btn_remove_item_confirm').on('click', function(){
    //   $.ajax({
    //     type: "GET",
    //     data: {
    //       current_date:  $('#current_date').text().trim()
    //     },
    //     url: "/prescriptions/optical_refresh",
    //   })
    // })
</script>

<style type="text/css">

  .check-font table tr th {
    padding: 2px 5px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }

  .check-font table tr td {
    padding: 2px 5px;
    text-align: center;
  }

  .check-font {
    font-size: 11px;
  }
</style>
