<!-- Can be used in All Templates -->
<div class="row">
  <% if (params[:controller] == "invoice/ipd" || params[:controller] == "invoice/opd" ) && (params[:action] != 'new') %>
    <div class="col-md-4">
      <b style="color:#000;">Name :</b> <%= patient.try(:full_name).try(:upcase) %> (M: <%= patient.try(:mobilenumber) %>)
    </div>
    <div class="col-md-4">
      <b style="color:#000;">Age/Gender :</b> <%= patient.patient_age_gender %>
    </div>
    <div class="col-md-4">
      <b style="color:#000;">Patient ID :</b> <%= patient.patient_identifier_id %><% if patient.patient_mrn.to_s != "" %> | <%= patient.patient_mrn %><% end %>
    </div>
    <div class="col-md-4">
      <b style="color:#000;">Bill Number :</b> <%= invoice.bill_number %>
    </div>
    <div class="col-md-4">
      <b style="color:#000;">Bill Type :</b> <%= invoice.try(:invoice_type).try(:titleize) %>
    </div>
    <div class="col-md-4">
      <b style="color:#000;">Consultant :</b> <%= User.find_by(id: invoice.try(:consultant_user_id)).try(:fullname).try(:titleize) %>
    </div>
  <% else %>
    <div class="col-md-5">
      <b style="color:#000;">Name :</b> <%= patient.full_name.upcase %> (M: <%= patient.mobilenumber %>)
    </div>
    <div class="col-md-3">
      <b style="color:#000;">Age/Gender :</b> <%= patient.patient_age_gender %>
    </div>
    <div class="col-md-4">
      <b style="color:#000;">Patient ID :</b> <%= patient.patient_identifier_id %><% if patient.patient_mrn.to_s != "" %> | <%= patient.patient_mrn %><% end %>
    </div>
  <% end %>
</div>