<div class="panel panel-success">
  <div class="panel-heading clearfix" style="padding: 2px;">
    <%= link_to edit_patient_path(:id => @patient.id), :class => "btn-xs btn-white pull-right hidden-xs", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#appointment-modal'} do %> <i class="fa fa-pencil-alt"></i> Edit Patient Info<% end %>
  </div>
  <div class="list-group">

    <%# if current_user.roles[0].try(:name) == "doctor" || current_user.roles[1].try(:name) == "doctor" %>
      <!-- <div class="mt10" style="margin: auto;margin-left: 10px;margin-top: 2px;" >
        <%#= text_area_tag :reminder_text, @reminder_text, placeholder: "reminder note...",spellcheck: "false", class: "doc_reminder_text", title: @reminder_text%>
      </div> -->
    <%# end %>
    <%#= image_tag @qr %>



    <div class="list-group-item" style="margin-left:0px;">
      <h6 class="list-group-item-heading"><span class="label label-patientinfo">Patient Details:</span></h6>
      <div class="mb10"></div>
      <div class="patientsummary-details mb10" id="patientsummary-details">
        <%= render partial: "patients/patientsummarydetails", locals: { patient: @patient } %>
      </div>
    </div>
    <div class="list-group-item" style="margin-left:0px;">
      <h6 class="list-group-item-heading"><span class="label label-patientinfo">History:</span></h6>
      <div class="mb10"></div>
      <div class="patientsummary-history" id="patientsummary-history">
        <%= render partial: "patients/patientsummaryhistory", locals: { patient: @patient } %>
      </div>
    </div>
    <div class="list-group-item" style="margin-left:0px;">
      <h6 class="list-group-item-heading"><span class="label label-patientinfo">Allergy:</span></h6>
      <div class="mb10"></div>
      <div class="patientsummary-allergy" id="patientsummary-allergy">
        <%= render partial: "patients/patientsummaryallergy", locals: { patient: @patient } %>
      </div>
    </div>
    <div class="list-group-item" style="margin-left:0px;">
      <h6 class="list-group-item-heading"><span class="label label-patientinfo">Address:</span></h6>
      <div class="mb10"></div>
      <div class="patientsummary-address" id="patientsummary-address">
        <%= render partial: "patients/patientsummaryaddress", locals: { patient: @patient } %>
      </div>
    </div>
    <div class="list-group-item" style="margin-left:0px;padding-bottom:20px;">
      <h6 class="list-group-item-heading"><span class="label label-patientinfo">Emergency Contact:</span></h6>
      <div class="mb10"></div>
      <div class="patientsummary-emergencycontact" id="patientsummary-emergencycontact">
        <%= render partial: "patients/patientsummaryemergencycontact", locals: { patient: @patient } %>
      </div>
    </div>
    <% patient_reg_source = PatientRegistrationSource.find_by(:patient_id => @patient.id) %>
    <% if @patient.referring_doctor_id %>
      <% referring_doctor = ReferringDoctor.find(@patient.referring_doctor_id) %>
    <% end %>

    <% if patient_reg_source %>
      <div class="list-group-item" style="margin-left:0px;padding-bottom:20px;">
        <h6 class="list-group-item-heading"><span class="label label-patientinfo">Reference: &nbsp;<%= patient_reg_source.source_type.capitalize %></span></h6>
        <div class="mb10"></div>
        <div class="patientsummary-emergencycontact" id="patientsummary-emergencycontact">
          <% unless patient_reg_source.source_type == "family" %>
            <% if patient_reg_source.source_info != "" %><%= patient_reg_source.source_info %><% end %>
          <% else %>
            <% if patient_reg_source.source_info == "yes" %>
              Referring Person is an Existing Patient
            <% else %>
              Referring Person is not an Existing Patient
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if referring_doctor %>
      <div class="list-group-item" style="margin-left:0px;padding-bottom:20px;">
        <h6 class="list-group-item-heading"><span class="label label-patientinfo">Reference: &nbsp; Doctor</span></h6>
        <div class="mb10"></div>
        <div class="patientsummary-emergencycontact" id="patientsummary-emergencycontact">
          Dr. <%= referring_doctor.name %>
          <% if referring_doctor.speciality != ""%>
            <%= "(" + referring_doctor.speciality + ")" %><br>
          <%end%>
          <%if referring_doctor.hospital_name != ""%>
            <%= referring_doctor.hospital_name %><br>
          <%end%>
          <%if referring_doctor.mobile_number != ""%>
            Mobile: <%= referring_doctor.mobile_number %><br>
          <%end%>
          <%if referring_doctor.email != ""%>
            Email: <%= referring_doctor.email %>
          <%end%>
          
        </div>
      </div>
    <% end %>
  </div>
</div>
<%contactcardflag=1%>