<% patients_list.try(:each) do |patient| %>
  <div class='row no_margin summary_patient summary_patient_clickable' data-patient-id='<%= patient.id %>'>

    <div class='col-sm-3 no_padding text-left patient_name' style="overflow: hidden;white-space: nowrap; text-overflow: ellipsis;" title="<%= patient.firstname.to_s.upcase %>">
      <span>
        <b><%= patient.firstname.to_s.upcase %></b>
      </span>
    </div>


    <div class='col-sm-2 no_padding text-center' style="overflow: hidden;white-space: nowrap; text-overflow: ellipsis;<% if patient.try(:patient_category_label).present? %><%= 'margin-top:-5px;margin-bottom:-5px;' %><% end %>">
      <% if patient.try(:patient_type).present? %>
        <span class="label" style="font-size:10px;background: <%= patient.try(:patient_type).try(:color) %>">
          <%= patient.try(:patient_type).try(:label) %>
        </span><br>
      <% end %>
    </div>

    <div class='col-sm-2 no_padding text-center' style="overflow: hidden;white-space: nowrap; text-overflow: ellipsis;">

      <%# if patient.converted %>
<!--        <span class="label" style="background: Green"> Converted </span>-->
      <%# else %>
<!--        <span class="label" style="background: Orange"> Not-Converted </span>-->
      <%# end %>

    </div>

    <div class='col-sm-2 no_padding text-center' style="overflow: hidden;white-space: nowrap; text-overflow: ellipsis;">
      <span><%= patient.reg_time.try(:strftime, '%I:%M %p') %></span>
    </div>

  </div>
<% end %>