<div class="row" style="height: 540px; overflow-y: scroll;">
<div class="panel-group" id="accordion">
<% @image.try(:each_with_index) do |(key, value), index| %>

  <div class="panel panel-default">
    <div class="panel-heading" style="background-color: #f3f3f3">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index %>" class="">
          <%= key %>
        </a>
      </h4>
    </div>
    <% if index ==0 %>
      <% coll_in = 'in' %>
    <% else %>
      <% coll_in = ''%>
    <% end %>
    <div id="collapse<%= index %>" class="panel-collapse collapse<%= coll_in%>">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-1"></div>
            <div class="col-md-10 ">
              <% value.each do |image_asset_path| %>

              <% image = image_asset_path.try(:asset_path)%>
              <% if image %>
                <div class="col-md-2 " style="background: #eee; padding-top: 1%; margin: 1%">
                   <div class="thmb">
                      <div class="thmb-prev">
                        <a href="<%= image.url%>" data-rel="prettyPhoto" target="_blank">
                          <img src="<%= image.url%>" class="img-responsive" style="height: 80px" alt="">
                        </a>
                      </div>
                      <h5 class="fm-title"><a href="<%= image.url%>" target="_blank"><%= image_asset_path.name.split('(')[0]%></a></h5>
                      <small class="text-muted">Added: <%= image_asset_path.created_at.strftime("%d %b'%y") %></small>
                      &nbsp&nbsp&nbsp
                      <%= link_to paperrecords_path(:id =>  image_asset_path.id, :file => 'investigation' ),:data =>  {:remote=>true,:action => 'destroy',:method => :delete, :confirm => 'Are you sure want to delete this?'} do %>
                          <i class="fa fa-trash-alt" style="color: rgba(51, 51, 51, 0.81)"> </i>
                      <%end%>
                    </div>
                 </div>
                 
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
    </div>
  </div>
<% end %>
</div>
</div>
