<div class="modal-dialog modal-hg-pat-reg">
    <div class="modal-content">
	  		
	    <div class="modal-header">
          <%= render partial: "patients/#{@formbuttons}" %>  <!-- Render common user  action buttons template from partial -->
          <%= render partial: "templates/common/patientinfo", locals: { patient: @patient } %>  <!-- Render common patient info template from partial -->
          
          <%= stylesheet_link_tag  "bootstrap-timepicker.min", media: "all", "data-turbolinks-track" => true %>
          <%= stylesheet_link_tag  "bootstrap-fileupload.min", media: "all", "data-turbolinks-track" => true %>
          
          <div class="text-center">
                <h4 class="nomargin">Edit Patient Information</h4>
          </div>

            <%= render partial: "templates/common/stylesheetincludes" %> <!-- Render common stylesheet includes template from partial -->
        </div>
	
	 	<%= render "patients/patienthistory" %> <!-- Render common template to show the form -->

	</div>
</div>