<div id="patientWizard" class="basic-wizard">
  <% if current_facility.country_id != 'VN_254' %>
    <ul class="nav nav-pills nav-justified">
      <li role="presentation" class="active"><a href="#patient-form-details" class="patient-details" data-toggle="tab">Patient Details</a></li>
      <% if current_facility.country_id != 'KH_039' %>
        <li role="presentation"><a href="#optional-information" data-toggle="tab">Other Details</a></li>
        <% if Authorization::PolicyHelper.verification(current_user.id, "HGP-102-102-103") %>
          <li role="presentation"><a href="#history" data-toggle="tab">History</a></li>
        <% end %>
        <% if Authorization::PolicyHelper.verification(current_user.id, "HGP-102-102-104") %>
          <li role="presentation"><a href="#allergies" data-toggle="tab">Allergies</a></li>
        <% end %>
      <% end %>
    </ul>
    <div class="tab-content patient-form-body">
      <div class="tab-pane active" id="patient-form-details">
        <!-- Patient Details -->
        <%= render partial: "patients/form/patient_form.html.erb", locals: { f: f } %>
      </div>
      <% if current_facility.country_id != 'KH_039' %>
        <div class="tab-pane" id="optional-information">
          <!-- Additional Info -->
          <%= render partial: "patients/form/additional_info.html.erb", locals: { f: f } %>
        </div>
        <div class="tab-pane" id="history">
          <!-- History -->
          <% if (current_user.specialty_ids == [] || current_user.specialty_ids.include?('309988001')) && (@organisation_setting.mandatory_opd_templates) %>
            <%= render partial: "patients/form/mandatory_history.html.erb", locals: { f: f } %>
          <% else %>
            <%= render partial: "patients/form/history.html.erb", locals: { f: f } %>
          <% end %>
          <!--  Paediatrics History Starts -->
          <%= render partial: '/opd_records/ophthalmology_notes/peadiatrics_history_form.html.erb', locals: { f: f, patient_data: @patient, commen_form: "patient" } %>
          <!--  Paediatrics History Ends -->
        </div>
        <div class="tab-pane" id="allergies">
          <!-- Allergies -->
          <% if (current_user.specialty_ids == [] || current_user.specialty_ids.include?('309988001')) && (@organisation_setting.mandatory_opd_templates) %>
            <%= render partial: "patients/form/mandatory_allergies.html.erb", locals: { f: f } %>
          <% else %>
            <%= render partial: "patients/form/allergies.html.erb", locals: { f: f } %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <ul class="nav nav-pills nav-justified">
      <li role="presentation" class="active"><a href="#patient-form-details" class="patient-details" data-toggle="tab">Patient Registration Details</a></li>
    </ul>
    <div class="tab-content patient-form-body">
      <div class="tab-pane active" id="patient-form-details">
        <!-- Patient Details -->
        <%= render partial: "patients/form/simple_patient_form.html.erb" %>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  <%= render partial: 'patients/form.js.erb' %>
</script>