<button type="button" class="btn btn-default enable-patient-summary-template-buttons disabled" title="IPD Templates" id="templates_ipd" data-toggle="dropdown" style="width:160px;">
  <i class="fa fa-file"></i> IPD</button>
<ul class="dropdown-menu" role="menu" aria-labelledby="opd-templates-dropdown">
  <% if @admission.isdischarged == false %>
    <% if @admission.patient_arrived == true %>
      <% if @clinical_note.nil? %>
        <% @new = "new_inpatient_ipd_record_clinical_note_" + @speciality_folder_name + "_note_path(admission_id: @admission.id.to_s)" %>
        <li><%= link_to eval(@new), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ipdrecord-modal'} do %> Clinical Note<% end %></li>
      <% else %>
        <% @edit = "edit_inpatient_ipd_record_clinical_note_" + @speciality_folder_name + "_note_path(id: @clinical_note.id, admission_id: @admission.id.to_s)" %>
        <li><%= link_to eval(@edit), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ipdrecord-modal'} do %> <i class="fa fa-edit"></i> Clinical Note<% end %></li>
      <% end %>
      <li><%= link_to ipd_patients_print_admissionconsent_path(:admission_id => @admission.id, :patient_id => @admission.patient.id, :format => :pdf), :target => "_blank" do %> Admission Consent<% end %></li>
      <li><%= link_to inpatient_ipd_records_consent_note_path(:admission_id => @admission.id, :patient_id => @admission.patient.id),:remote => true do %> OT Consent <% end %></li>
      <% unless @clinical_note.nil? %>
        <% if @operative_note.nil? %>
          <% @new = "new_inpatient_ipd_record_operative_note_" + @speciality_folder_name + "_note_path(admission_id: @admission.id.to_s)" %>
          <li><%= link_to eval(@new), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ipdrecord-modal'} do %> Operative Note<% end %></li>
        <% else %>
          <% @edit = "edit_inpatient_ipd_record_operative_note_" + @speciality_folder_name + "_note_path(id: @operative_note.id, admission_id: @admission.id.to_s)" %>
          <li><%= link_to eval(@edit), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ipdrecord-modal'} do %> <i class="fa fa-edit"></i> Operative Note<% end %></li>
        <% end %>
        <% if @discharge_note.nil? %>
          <% @new = "new_inpatient_ipd_record_discharge_note_" + @speciality_folder_name + "_note_path(admission_id: @admission.id.to_s)" %>
          <li><%= link_to eval(@new), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ipdrecord-modal'} do %> Discharge Note<% end %></li>
        <% else %>
          <% @edit = "edit_inpatient_ipd_record_discharge_note_" + @speciality_folder_name + "_note_path(id: @discharge_note.id, admission_id: @admission.id.to_s)" %>
          <li><%= link_to eval(@edit), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ipdrecord-modal'} do %> <i class="fa fa-edit"></i> Discharge Note<% end %></li>
        <% end %>
      <% end %>
      <% @new = "new_inpatient_ipd_record_ward_note_" + @speciality_folder_name + "_note_path(admission_id: @admission.id.to_s)" %>
      <li><%= link_to eval(@new), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ipdrecord-modal'} do %>  Ward Note<% end %></li>
    <% end %>
  <%else%>
      <label>Patient Discharged</label>
      <!-- <li><%= link_to ipd_patients_view_all_discharge_notes_path(:admission_id => @admission.id, :patient_id => @admission.patient.id), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#templates-modal'} do %> <i class="fa fa-print"> </i> Notes to Patient <% end %></li> -->
  <% end %>
</ul>