<div class="row">

  <div class="col-md-3">
      <div class="fm-sidebar">            
          <ul class="folder-list patient-asset-folders" id="patient-asset-folders">
            <% assetuploads.each do |folder| %>
              <% if folder.is_folder == "Y" %>
                <li>
                  <%= link_to patients_load_patient_summary_asset_path(:folder_id => folder.id), :class => "", :data => {:remote => true, method: :get} do %> 
                      <i class="fa fa-folder-o"></i> <%= folder.name %> <span class="badge">4</span>
                  <% end %>
                </li>
              <% end %>
            <% end %>  
          </ul>
      </div>
  </div><!-- col-md-3 -->
  <div class="col-md-9">
    <div class="row filemanager patient-asset-files" id="patient-asset-files">
      <% assetuploads.each do |file| %>
        <% if file.is_folder == "N" %>
          <div class="col-md-3 image mr2">
                  <div class="thmb" style="background:#D3D3D3;">                
                    <div class="thmb-prev">
                      <%= link_to patients_view_patient_file_path(:file_id => file.id), :class => "file", :data => {:remote => true, method: :get} do %> 
                <%= image_tag "photos/no_picture_available.png", :class => "img-responsive" %>
              <% end %>                       
                    </div>
                    <h5 class="fm-title"><a href=""><%= file.file_name %></a></h5>
                    <small class="text-muted">Added: Jan 02, 2014</small>
                  </div><!-- thmb -->
                </div>
        <% end %>
      <% end %>
    </div>
  </div><!-- col-md-9 -->

</div>