<div class="row filemanager">

  <ul class="nav nav-pills nav-justified">
    <li class="active"><a href="#allfiles" id="all-patient-assets-tab" class="all-patient-assets-tab" data-patientid="<%=@patient.id %>" data-toggle="tab"><strong>All</strong></a></li>
    <li class=""><a href="#drawingsfiles" id="patient-drawingsfiles-tab" class="patient-drawings-tab" data-patientid="<%=@patient.id %>" data-toggle="tab"><strong>Drawings</strong></a></li>
    <li class=""><a href="#opdfiles" id="patient-opdreports-tab" class="patient-opdreports-tab" data-patientid="<%=@patient.id %>" data-toggle="tab"><strong>OPD</strong></a></li>
    <li class=""><a href="#ipdfiles" id="patient-ipdreports-tab" class="patient-ipdreports-tab" data-patientid="<%=@patient.id %>" data-toggle="tab"><strong>IPD</strong></a></li>
    <li class=""><a href="#prescriptionsfiles" id="patient-prescriptions-tab" class="patient-prescriptions-tab" data-patientid="<%=@patient.id %>" data-toggle="tab"><strong>Prescriptions</strong></a></li>
    <li class=""><a href="#radiologyfiles" id="patient-radiology-tab" class="patient-radiology-tab" data-patientid="<%=@patient.id %>" data-toggle="tab"><strong>Radiology</strong></a></li>
    <li class=""><a href="#laboratoryfiles" id="patient-laboratory-tab" class="patient-laboratory-tab" data-patientid="<%=@patient.id %>" data-toggle="tab"><strong>Laboratory</strong></a></li>
    <li class=""><a href="#opthalfiles" id="patient-ophthal-tab" class="patient-ophthal-tab" data-patientid="<%=@patient.id %>" data-toggle="tab"><strong>Ophthal</strong></a></li>
    <li class=""><a href="#othersfiles" id="patient-otherreports-tab" class="patient-otherreports-tab" data-patientid="<%=@patient.id %>" data-toggle="tab"><strong>Others</strong></a></li>
    <li class=""><a href="#insurancefiles" id="patient-insurance-tab" class="patient-insurance-tab" data-patientid="<%=@patient.id %>" data-toggle="tab"><strong>Insurance</strong></a></li>
  </ul>

  <div class="tab-content" id="links" style="overflow: scroll; max-height: 500px">

    <div class="tab-pane all-patient-assets active" id="allfiles">
      <%= render partial: "patients/display_all_patient_asset", locals: { patientfiles: @patientfiles } %>
    </div>

    <div class="tab-pane patient-drawings" id="drawingsfiles">

    </div>

    <div class="tab-pane patient-prescriptions" id="prescriptionsfiles">

    </div>

    <div class="tab-pane patient-radiology" id="radiologyfiles">

    </div>

    <div class="tab-pane patient-laboratory" id="laboratoryfiles">

    </div>
    <div class="tab-pane patient-ophthal" id="opthalfiles">

    </div>

    <div class="tab-pane patient-otherreports" id="othersfiles">

    </div>
    <div class="tab-pane patient-insurance" id="insurancefiles">

    </div>
    <div class="tab-pane patient-opdreports" id="opdfiles">

    </div>
    <div class="tab-pane patient-ipdreports" id="ipdfiles">

    </div>

  </div>

</div>