<h4 class="list-group-item-heading person-name" style="border-bottom:1px solid #eee;margin-bottom:5px;"><%= patient.fullname.to_s.split(" ").map(&:capitalize).join(" ") %></h4>
<% if @patient.patientassets.last.try(:asset_path_url).present? %>
    <%= image_tag @patient.patientassets.last.asset_path_url, :class => "img-rounded pull-left" %>
<% else %>
    <%= image_tag "photos/no_picture_available.png", :class => "img-rounded pull-left" %>
<% end %>
<h5 class="list-group-item-heading"><% if patient.exact_age.present? %><%=patient.exact_age.to_s.split("-").join(" ")%><% end %><% if !patient.gender.nil? %>/<% end %><% if patient.gender == 'Male' %>M<% end %><% if patient.gender == 'Female' %>F<% end %>&nbsp;<% if patient.blood_group? %><i class="glyphicon glyphicon-tint" style="margin-right:-10px;color:red;"></i><%= patient.blood_group %><% end %></h5>
<h5 class="list-group-item-heading">+91-<%= patient.mobilenumber %></h5>
<% if patient.secondarymobilenumber? %>
	<h5 class="list-group-item-heading">+91-<%= patient.secondarymobilenumber %></h5>
<% end %>
<h5 class="list-group-item-heading"><%= patient.email %></h5>
<% if patient.occupation? %>
	<h5 class="list-group-item-heading">Occupation: <%= patient.occupation %></h5>
<% end %>
<% if patient.maritalstatus %>
	<h5 class="list-group-item-heading" style="margin-bottom:10px;">Marital Status: <label class="label label-success"><%= patient.maritalstatus %></label></h5>
<% end %>

<h5 class="list-group-item-heading" style="margin-bottom:10px;">Pat. ID: <label class="label label-success"><%= patient.patient_identifier_id%></label></h5>
<%if patient.patient_mrn.present? %>
  <h5 class="list-group-item-heading" style="margin-bottom:10px;">MR NO: <label class="label label-success"><%=patient.patient_mrn%></label></h5>
<%end%>



<style type="text/css">
.list-group-item-heading {
	font-size: 12px !important;
}
.person-name {
	font-size: 20px !important;
	margin-bottom: 0px;
}

.list-group-item img {
	width: 50px;
	height: 50px;
}
</style>
