<!--<div class="modal-body"> &lt;!&ndash; modal-body starts &ndash;&gt;-->

    <!--<%= simple_form_for @patient, url: eval(@savepath), method: :patch, :remote => true, :html => { :id => "", :class => "form-inline edit-patient-history" } do |f| %>-->

            <!--<div class="row"> &lt;!&ndash; 1st row starts &ndash;&gt;-->

                <!--<div class="col-md-12">-->

                    <!--<div class="fuelux"> &lt;!&ndash; If you want fuelux wizard then this is necessary, fuelux div starts &ndash;&gt;-->

                            <!--<div class="wizard" data-initialize="wizard" id="MyWizard"> &lt;!&ndash; Initialize fuelux wizard, wizard div starts &ndash;&gt;-->

                                <%= render partial: "templates/common/patientdetailsteps" %>  <!-- Render soap steps from partial -->

                                <%= render partial: "templates/common/actions" %> <!-- Render prev/next actions from partial -->

                                <!--<div class="step-content">-->

                                    <!--<%= f.hidden_field :patientid, :value => @patient.id %>-->
                                    <!--<%= f.hidden_field :templatetype, :value => @templatetype %>-->
                                    <!--<%= f.hidden_field :templateid, :value => @templateid %>-->
                                    <!---->
                                    <!--<% Global.send("ehrcommon").send("#{@templatetype}template").erb.each do |patient_information_erb| %>-->
                                      <!--<%= render partial: "#{patient_information_erb}", locals: { f: f, patient: @patient, templatetype: @templatetype, templateid: @templateid } %>-->
                                    <!--<% end %>                                -->

                                <!--</div>-->

                            <!--</div> &lt;!&ndash; wizard div ends &ndash;&gt;-->

                    <!--</div> &lt;!&ndash; fuelux div ends &ndash;&gt;-->

                <!--</div>-->

            <!--</div> &lt;!&ndash; 1st row ends &ndash;&gt;-->

    <!--<% end %>-->

    <!--<%= javascript_include_tag "bootstrap-timepicker.min", "data-turbolinks-track" => true %>-->
    <!--<%= javascript_include_tag "bootstrap-fileupload.min", "data-turbolinks-track" => true %>-->
    <!--<script>-->
        <!--<%= render partial: 'templates/common/js/update_patient_information.js' %>-->
    <!--</script>-->
    <!--<script>-->
//        jQuery(document).ready(function() {
//            jQuery('.dob').datepicker({
//                dateFormat: "dd/mm/yy",
//                changeMonth: true,
//                changeYear: true,
//                yearRange: "c-120:c",
//                onClose: function(){
//                    //workaround to trigger javascript validation
//                    jQuery(this).focusout();
//                }
//            });
//
//            jQuery(".patientpersonalhistory_problems, .patientallergyhistory_antimicrobialagents, .patientallergyhistory_antifungalagents, .patientallergyhistory_antiviralagents, .patientallergyhistory_contact, .patientallergyhistory_food,.patientallergyhistory_eyedrops").select2({
//                tags: true,
//                tokenSeparators: [',', ';'],
//                theme: "bootstrap",
//                multiple: true
//            });
//
//        });
    <!--</script>-->

<!--</div> &lt;!&ndash; modal-body ends &ndash;&gt;-->