<div class="patient-sign-sigout-button mb10" id="patient-sign-sigout-button">
  <%= render partial: "patients/partials/patientsiginbutton", locals: { patient: @patient, appointment: @appointment } %> 
</div>


<% if @section == "440655000" %>
    <div class="dropdown mb10 opd_templates_links">
      <%= render partial: "patients/opd_templates_links"%>
    </div>
<% end %>
<% if @section == "440654001" %>
    <div class="dropdown mb10 ipd_templates_links">
      <button type="button" class="btn btn-default enable-patient-summary-template-buttons disabled" title="IPD Templates" id="templates_ipd" data-toggle="dropdown" style="width:160px;">
        <i class="fa fa-file"></i> IPD</button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="opd-templates-dropdown">
        <% if @admission.isdischarged == false %>
            <% ipdrecord_find_admissionnote = Inpatient::IpdRecord.find_by(:admission_id => @admission.id.to_s, :patient_id => @admission.patient.id.to_s, :template_type => "admissionnote") %>
            <% if ipdrecord_find_admissionnote.nil? %>
                <li><%= link_to new_inpatient_ipd_record_path(:admission_id => @admission.id.to_s,:templatetype => 'admissionnote'), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ipdrecord-modal'} do %> <i class="fa fa-edit"></i> Admission Note<% end %></li>
            <% else %>
                <li><%= link_to edit_inpatient_ipd_record_path(:id => ipdrecord_find_admissionnote.id.to_s, :admission_id => @admission.id.to_s, :templatetype => 'admissionnote'), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ipdrecord-modal'} do %> <i class="fa fa-edit"></i> Edit Admission Note<% end %></li>
            <% end %>
            <li><%= link_to ipd_patients_print_admissionconsent_path(:admission_id => @admission.id, :patient_id => @admission.patient.id, :format => :pdf), :target => "_blank" do %> <i class="fa fa-edit"></i> Admission Consent<% end %></li>
            <li><%= link_to inpatient_ipd_records_consent_note_path(:admission_id => @admission.id, :patient_id => @admission.patient.id),:remote => true do %><i class="fa fa-print"></i> OT Consent <% end %></li>
            <% ipdrecord_find_otnote = Inpatient::IpdRecord.find_by(:admission_id => @admission.id.to_s, :patient_id => @admission.patient.id.to_s, :template_type => "operativenote") %>
            <% if ipdrecord_find_otnote.nil? %>
                <li><%= link_to new_inpatient_ipd_record_path(:admission_id => @admission.id, :templatetype => 'operativenote'), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ipdrecord-modal'} do %> <i class="fa fa-edit"></i> OT Note<% end %></li>
            <% else %>
                <li><%= link_to edit_inpatient_ipd_record_path(:id => ipdrecord_find_otnote.id.to_s, :admission_id => @admission.id.to_s, :templatetype => 'operativenote'), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ipdrecord-modal'} do %> <i class="fa fa-edit"></i> Edit OT Note<% end %></li>
            <% end %>
            <% ipdrecord_find_dcnote = Inpatient::IpdRecord.find_by(:admission_id => @admission.id.to_s, :patient_id => @admission.patient.id.to_s, :template_type => "dischargenote") %>
            <% if ipdrecord_find_dcnote.nil? %>
                <li><%= link_to new_inpatient_ipd_record_path(:admission_id => @admission.id, :templatetype => 'dischargenote'), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ipdrecord-modal'} do %> <i class="fa fa-edit"></i> Discharge Note<% end %></li>
            <% else %>
                <li><%= link_to edit_inpatient_ipd_record_path(:id => ipdrecord_find_dcnote.id.to_s, :admission_id => @admission.id.to_s, :templatetype => 'dischargenote'), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ipdrecord-modal'} do %> <i class="fa fa-edit"></i> Edit Discharge Note<% end %></li>
            <% end %>
            <!-- <li><%= link_to ipd_patients_view_all_discharge_notes_path(:admission_id => @admission.id, :patient_id => @admission.patient.id), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#templates-modal'} do %> <i class="fa fa-print"> </i> Notes to Patient <% end %></li> -->
        <%else%>
            <label>Patient Discharged</label>
            <!-- <li><%= link_to ipd_patients_view_all_discharge_notes_path(:admission_id => @admission.id, :patient_id => @admission.patient.id), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#templates-modal'} do %> <i class="fa fa-print"> </i> Notes to Patient <% end %></li> -->
        <% end %>
      </ul>
    </div>
<% end %>


<div class="patient-printinvoice-button mb10" id="patient-printinvoice-button">
  <%= render partial: "patients/partials/printnewinvoicebutton", locals: { patient: @patient, appointment: @appointment, invoice_templates: @invoice_templates } %>
</div>
<div class="patient-printoldinvoice-button mb10" id="patient-printoldinvoice-button">
  <%= render partial: "patients/partials/printoldinvoicebutton", locals: { patient_pastinvoices: @patient_pastinvoices, patient: @patient, appointment: @appointment, invoice_templates: @invoice_templates } %>
</div>
<% if current_user.roles[0].try(:name) == "doctor" || current_user.roles[1].try(:name) == "doctor" %>
    <div class="patient-medicalcertificates-button mb10" id="patient-medicalcertificates-button">
      <div id = "patient-medicalcertificates">
        <%= render partial: "patients/partials/medicalcertificate", locals: { patient: @patient, doctor_id: @doctor} %>
      </div>
    </div>
<% end %>