<div class="modal-header" style="height:50px;background: #1CAF9A;">
  <div class="row">
    <div class="col-md-4">
      <a href="#" class="pull-left">
        <% if @patient.patientassets.present? %>
          <%= image_tag @patient.patientassets[@patient.patientassets.size-1].asset_path_url(:thumb), :class => "thumbnail media-object" %>
        <% else %>
          <%= image_tag "photos/no_picture_available.png", :class => "thumbnail media-object" %>
        <% end %>
      </a>
    </div>
    <div class="col-md-6">
      <h4 style="color: #fff;font-size: 21px;margin-top: 5px;margin-left: -10px;">Patient ID</h4>
    </div>
    <div class="col-md-2">
      <button aria-hidden="true" data-dismiss="modal" class="pull-right btn-xdismiss">&times;</button>
    </div>
  </div>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-8">
      <p><span class="greenhg_color">NAME :</span> <%= @patient.fullname.split(" ").map(&:capitalize).join(" ") %>
        <%if @patient.gender %>
          <%if @patient.gender.split("")[0] == "M"%>
            (<i class="fa fa-male" style="color:#428bca"></i>)
          <%else%>
            (<i class="fa fa-female" style="color:#e76486"></i>)
          <%end%>
        <% end %>
      </p>
      <% if @patient.age? %>
        <span><span class="greenhg_color">AGE :</span> <%= @patient.age %></span>
      <% else %>
        <span><span class="greenhg_color">AGE :</span>&nbsp; --</span>
      <% end %>
      &nbsp;&nbsp;&nbsp;
      <% if @patient.blood_group? %>
        <span><span class="greenhg_color">BLOOD GROUP :</span> <%= @patient.blood_group %></span>
      <% else %>
        <span><span class="greenhg_color">BLOOD GROUP :</span>&nbsp; --</span>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5" style="margin-top: -10px; margin-left:2px;">
      <p class="greenhg_color" style="margin-bottom:1px;">CONTACT DETAILS</p>
      <span><i class="fa fa-phone greenhg_color">1-</i>&nbsp; <%= @patient.mobilenumber %></span><br>
      <% if @patient.secondarymobilenumber? %>
        <span><i class="fa fa-phone greenhg_color">2-</i>&nbsp; <%= @patient.secondarymobilenumber %></span>
        <br>
      <% end %>
      <% if @patient.occupation? %>
        <p class="greenhg_color" style="margin-bottom:1px;">OCCUPATION</p>
        <span><%= @patient.occupation %></span>
      <% end %>
    </div>
    <div class="col-md-7" style="margin-top: -10px; margin-left:-2px;">
      <p class="greenhg_color" style="margin-bottom:1px;">ADDRESS</p>
      <% if @patient.address_1? || @patient.address_2? || @patient.city? || @patient.state? || @patient.pincode %>
        <span style='font-size:12px;'><%= @patient.address_1 %><% if @patient.address_1? %>,<br><% end %>
          <%= @patient.address_2 %><% if @patient.address_2? || @patient.address_1? %><br><%end%>
          <%= @patient.city %><%if @patient.state? && @patient.city? %>,<% end %> <%= @patient.state %> <%if @patient.pincode? && (@patient.state? || @patient.city?) %>-<%end%> <%= @patient.pincode %>
        </span>
      <% else %>
        <span>Not Provided</span>
      <% end %>
      <div class="pull-right" style="margin-top:25px;">
        <%= link_to edit_patient_path(:id => @patient.id, current_date: @current_date), :class => "btn btn-success btn-xs r-appointment",:id => "edit_patient_link", :title => "Edit Patient Details", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#appointment-modal'} do %> <i class="fa fa-edit"></i><% end %>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .media-object {
    width: 100%;
  }
  .btn-xdismiss {
    background-color:transparent;
    color: #fff;
    border: none;
    margin-top: -15px;
    margin-right: -10px;
  }

  .btn-xdismiss:focus {
    outline: none;
  }
  .greenhg_color {
    color: #1CAF9A;
  }
</style>