<% if patient.patient_history? %>
	<% if patient.patient_history.patientpersonalhistory? %>
    <% personel_history_counter = 0 %>

    <% if @patient.patient_history.patientpersonalhistory.opthal_history_comment != "" && @patient.patient_history.patientpersonalhistory.opthal_history_comment != nil %>
      <% personel_history_counter = personel_history_counter + 1 %>
    <%end%>

    <% if @patient.patient_history.patientpersonalhistory.history_comment != "" && @patient.patient_history.patientpersonalhistory.history_comment != nil %>
      <% personel_history_counter = personel_history_counter + 1 %>
    <%end%>

    <% patient_history = ["glaucoma","retinal_detachment","retinal_dystrophies","glasses","ocular_disease","ocular_surgery","eye_surgery","eye_disease","consanguinity","uveitis","retinal_laser","diabetes","hypertension","alcoholism","smoking_tobacco","steroid_intake","drug_abuse","hiv_aids","cancer_tumor","cardiac_disorder","tuberculosis","asthma","cns_disorder_stroke","thyroid_disorder","hypothyroidism","hyperthyroidism","hepatitis_cirrhosis","renal_disorder","acidity","on_insulin","on_aspirin_blood_thinners","rheumatoid_arthritis", "benign_prostatic_hyperplasia"] %>

    <% patient_history.each do |patient_history| %>
      <% if @patient.patient_history.patientpersonalhistory.eval(patient_history) == "true" %>
        <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
    <% end %>

		<% if personel_history_counter > 0 %>
      <% patient_history.each do |patient_history| %>
        <% name = patient_history.split("_").map(&:capitalize).join(" ") %>
        <% if @patient.patient_history.patientpersonalhistory.eval(patient_history) == "true" %>
          <h5 class="list-group-item-heading"><label class='label label-warning label-custom'><%= name %> <%unless @patient.patient_history.patientpersonalhistory.eval(patient_history + "_duration") == "" || @patient.patient_history.patientpersonalhistory.eval(patient_history + "_duration") == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.eval(patient_history + "_duration")%> <%=@patient.patient_history.patientpersonalhistory.eval(patient_history + "_duration_unit")%></label></h5>
        <%end%>
      <% end %>
		<% else %>
			<p>No Systemic History</p>
		<% end %>
	<% else %>
	 <h4>No Systemic History</h4>
	<% end %>
<% else %>
	<h4>No Systemic History</h4>
<% end %>
<div style="margin: 10px 0px;">
  <% if @patient.other_history.medical_history.present?%>
    <h5 class="list-group-item-heading"> Medical: <label class="label label-success label-custom"><%= @patient.other_history.medical_history %></label></h5>
  <% end %>
</div>
<div style="margin: 10px 0px;">
  <% if @patient.other_history.family_history.present?%>
    <h5 class="list-group-item-heading"> Family: <label class="label label-success label-custom"><%= @patient.other_history.family_history %></label></h5>
  <% end %>
</div>
<div style="margin: 10px 0px;">
  <% if patient.other_history.specialstatus && patient.other_history.specialstatus != "None"%>
    <h5 class="list-group-item-heading"> Others: <label class="label label-success label-custom"><%= patient.other_history.specialstatus %></label></h5>
  <% end %>
</div>

<style>
  .label-custom{
    white-space: normal;
    display: flex;
  }
</style>