<div class="patient-sign-sigout-button mb10" id="patient-sign-sigout-button">
	<%= render partial: "patients/partials/patientsiginbutton", locals: { patient: @patient, appointment: @appointment } %>	
</div>


<% if @section == "440655000" %>
    <div class="dropdown mb10 opd_templates_links">
      <%= render partial: "patients/opd_templates_links"%>
    </div>
<% end %>
<% if @section == "440654001" %>
    <div class="dropdown mb10 ipd_templates_links">
      <button type="button" class="btn btn-default enable-patient-summary-template-buttons disabled" title="IPD Templates" id="templates_ipd" data-toggle="dropdown" style="width:160px;">
        <i class="fa fa-file"></i> IPD</button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="opd-templates-dropdown">
        <% if @admission.isdischarged == false %>
            <% ipdrecord_find_admissionnote = Inpatient::IpdRecord.find_by(:admission_id => @admission.id.to_s, :patient_id => @admission.patient.id.to_s, :template_type => "admissionnote") %>
            <% if ipdrecord_find_admissionnote.nil? %>
                <li><%= link_to new_inpatient_ipd_record_path(:admission_id => @admission.id.to_s,:templatetype => 'admissionnote'), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ipdrecord-modal'} do %> <i class="fa fa-edit"></i> Admission Note<% end %></li>
            <% else %>
                <li><%= link_to edit_inpatient_ipd_record_path(:id => ipdrecord_find_admissionnote.id.to_s, :admission_id => @admission.id.to_s, :templatetype => 'admissionnote'), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ipdrecord-modal'} do %> <i class="fa fa-edit"></i> Edit Admission Note<% end %></li>
            <% end %>
            <li><%= link_to ipd_patients_print_admissionconsent_path(:admission_id => @admission.id, :patient_id => @admission.patient.id, :format => :pdf), :target => "_blank" do %> <i class="fa fa-edit"></i> Admission Consent<% end %></li>
            <li><%= link_to inpatient_ipd_records_consent_note_path(:admission_id => @admission.id, :patient_id => @admission.patient.id),:remote => true do %><i class="fa fa-print"></i> OT Consent <% end %></li>
            <% ipdrecord_find_otnote = Inpatient::IpdRecord.find_by(:admission_id => @admission.id.to_s, :patient_id => @admission.patient.id.to_s, :template_type => "operativenote") %>
            <% if ipdrecord_find_otnote.nil? %>
                <li><%= link_to new_inpatient_ipd_record_path(:admission_id => @admission.id, :templatetype => 'operativenote'), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ipdrecord-modal'} do %> <i class="fa fa-edit"></i> OT Note<% end %></li>
            <% else %>
                <li><%= link_to edit_inpatient_ipd_record_path(:id => ipdrecord_find_otnote.id.to_s, :admission_id => @admission.id.to_s, :templatetype => 'operativenote'), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ipdrecord-modal'} do %> <i class="fa fa-edit"></i> Edit OT Note<% end %></li>
            <% end %>
            <% ipdrecord_find_dcnote = Inpatient::IpdRecord.find_by(:admission_id => @admission.id.to_s, :patient_id => @admission.patient.id.to_s, :template_type => "dischargenote") %>
            <% if ipdrecord_find_dcnote.nil? %>
                <li><%= link_to new_inpatient_ipd_record_path(:admission_id => @admission.id, :templatetype => 'dischargenote'), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ipdrecord-modal'} do %> <i class="fa fa-edit"></i> Discharge Note<% end %></li>
            <% else %>
                <li><%= link_to edit_inpatient_ipd_record_path(:id => ipdrecord_find_dcnote.id.to_s, :admission_id => @admission.id.to_s, :templatetype => 'dischargenote'), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ipdrecord-modal'} do %> <i class="fa fa-edit"></i> Edit Discharge Note<% end %></li>
            <% end %>
            <!-- <li><%= link_to ipd_patients_view_all_discharge_notes_path(:admission_id => @admission.id, :patient_id => @admission.patient.id), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#templates-modal'} do %> <i class="fa fa-print"> </i> Notes to Patient <% end %></li> -->
        <%else%>
            <label>Patient Discharged</label>
            <!-- <li><%= link_to ipd_patients_view_all_discharge_notes_path(:admission_id => @admission.id, :patient_id => @admission.patient.id), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#templates-modal'} do %> <i class="fa fa-print"> </i> Notes to Patient <% end %></li> -->
        <% end %>
      </ul>
    </div>
<% end %>


<% if current_facility.show_finances? %>
  <% if false %>
    <div class="row patient-fees-doctor-receptionist mb10" id="patient-fees-doctor-receptionist">
      <div class="col-md-2" style="padding: 10px 0px 4px 12px;border: 1px solid #ccc;margin-left: 10px;margin-right: inherit;border-bottom-left-radius: 3px;border-top-left-radius: 3px; background: #ccc" >
        <i class="fa fa-rupee"></i>
      </div>
      <div class="col-md-6"><input type="text" name="patient-fees" value= "<%= @appointment.patients_appointment_fees %>" id="patient-fees" maxlength="6" class="form-control" style="padding: 8.5px;border-radius: 0px;"></div>

      <div class="col-md-4 btn btn-black-alt patient-fees-button ps patient-summary-to-templates" title="Patient Fee" id="send_patient_fees" data-appointmentid="<%= "#{ @appointment.id }" %>" style="margin-left: inherit;border-bottom-left-radius: 0px;border-top-left-radius: 0px;"> Send</div>
    </div>
  <% end %>
  <div class="patient-printinvoice-button mb10" id="patient-printinvoice-button">
  	 <%= render partial: "patients/partials/printnewinvoicebutton", locals: { patient: @patient, appointment: @appointment, invoice_templates: @invoice_templates } %>
    </div>
  <div class="patient-printinvoice-button mb10" id="patient-printinvoice-button">
  <div class="mb10"></div>
  <% if @patient_pastinvoices.size > 0 %>
      <div class="dropdown">
        <button type="button" class="btn btn-primary" title="Print Past Receipt" id="invoice-print-dropdown" data-toggle="dropdown" style="width:160px;">
          <i class="fa fa-print"></i> Print old Receipts
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="invoice-print-dropdown">
          <% if @patient_pastinvoices.count > 0 %>
              <% @patient_pastinvoices.newest_invoice_first.each do |patient_pastinvoice| %>
                  <li style="text-align:center;">
                    <%= link_to edit_invoice_opd_path(:id => patient_pastinvoice.id), :data => {:remote => true} do %><%= patient_pastinvoice.bill_number %><% end %>
                  </li>
              <% end %>
          <% else %>
              <li style="text-align:center;">No Past Receipts</li>
          <% end %>
        </ul>
      </div>
  <% end %>
  </div>
<% end %>
<div class="patient-medicalcertificates-button mb10" id="patient-medicalcertificates-button">
  <div id = "patient-medicalcertificates">
    <%= render partial: "patients/partials/medicalcertificate", locals: { patient: @patient, doctor_id: @doctor} %>
  </div>
</div>
<div class="patient-otschedule-button mb10" id="patient-otschedule-button">
  <div id = "patient-otschedule">
    <!-- <button type="button" class="btn btn-info" title="Schedule OT" id="schedule-ot" style="width:160px;">Schedule OT</button> -->
    <%= link_to ipd_patients_scheduleot_path(appointment_id: @appointment.id, :patient_id => @appointment.patient.id, ottime: "current_time"), class: "btn btn-info", style: "width:160px;", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#templates-modal'} do %> Schedule OT<% end %>
  </div>
</div>
