<div class="step-pane" data-step="2">

	<%= f.fields_for :patient_history do |ph| %>

		<%= ph.hidden_field :patientid, :value => patient.id %>
		<%= ph.hidden_field :patient_id, :value => patient.id %>
        <%= ph.hidden_field :templatetype, :value => templatetype %>
        <%= ph.hidden_field :templateid, :value => templateid %>

		<%= ph.fields_for :patientpersonalhistory do |pph| %>

			<div class="row">

				<div class="col-md-1">
					<span class="label label-primary">Disorders</span>
				</div>

				<div class="col-md-11">

	                <%= pph.input :problems, wrapper_html: {:class=>"col-md-9"}, collection: (@patient.get_historydisorders_list_attribute("historydisorders")), :as => :select, :label => false, :required => false, :input_html => {:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][problems][]", :multiple => :true, :style => "width: 80%;", :class => 'mb10 patientpersonalhistory_problems' } %>

          <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                            <%= pph.check_box :diabetes, {:class => "diabetes_history history_checked_unchecked", :id => "diabetes_history"}, "true", "false" %>
            <label for="diabetes_history">Diabetes</label>
                          </span>
                          <span class= "diabetes_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                            <span>since</span>
                            <span>
                              <%= pph.select :diabetes_duration, 1 .. 75, {:prompt => 'Select'} ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][diabetes_duration]", :prompt => 'Select', :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                            <span>
                              <%= pph.select :diabetes_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], {:prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][diabetes_duration_unit]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                          </span>


                          <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                            <%= pph.check_box :hypertension, {:class => "hypertension_history history_checked_unchecked", :id => "hypertension_history"}, "true", "false" %>
                            <label for="hypertension_history">Hypertension</label>
                          </span>
                          <span class= "hypertension_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                            <span>since</span>
                            <span>
                              <%= pph.select :hypertension_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][hypertension_duration]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                            <span>
                              <%= pph.select :hypertension_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][hypertension_duration_unit]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                          </span>


                          <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                            <%= pph.check_box :alcoholism, {:class => "alcoholism_history history_checked_unchecked", :id => "alcoholism_history"}, "true", "false" %>
                            <label for="alcoholism_history">Alcoholism</label>
                          </span>
                          <span class= "alcoholism_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                            <span>since</span>
                            <span>
                              <%= pph.select :alcoholism_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][alcoholism_duration]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                            <span>
                              <%= pph.select :alcoholism_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][alcoholism_duration_unit]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                          </span>


                          <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                            <%= pph.check_box :smoking_tobacco, {:class => "smoking_tobacco_history history_checked_unchecked", :id => "smoking_tobacco_history"}, "true", "false" %>
                            <label for="smoking_tobacco_history">Smoking/Tobacco</label>
                          </span>
                          <span class= "smoking_tobacco_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                            <span>since</span>
                            <span>
                              <%= pph.select :smoking_tobacco_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][smoking_tobacco_duration]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                            <span>
                              <%= pph.select :smoking_tobacco_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][smoking_tobacco_duration_unit]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                          </span>


                          <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                            <%= pph.check_box :steroid_intake, {:class => "steroid_intake_history history_checked_unchecked", :id => "steroid_intake_history"}, "true", "false" %>
                            <label for="steroid_intake_history">Steroid Intake</label>
                          </span>
                          <span class= "steroid_intake_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                            <span>since</span>
                            <span>
                              <%= pph.select :steroid_intake_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][steroid_intake_duration]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                            <span>
                              <%= pph.select :steroid_intake_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][steroid_intake_duration_unit]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                          </span>


                          <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                            <%= pph.check_box :drug_abuse, {:class => "drug_abuse_history history_checked_unchecked", :id => "drug_abuse_history"}, "true", "false" %>
                            <label for="drug_abuse_history">Drug Abuse</label>
                          </span>
                          <span class= "drug_abuse_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                            <span>since</span>
                            <span>
                              <%= pph.select :drug_abuse_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][drug_abuse_duration]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                            <span>
                              <%= pph.select :drug_abuse_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][drug_abuse_duration_unit]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                          </span>


                          <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                            <%= pph.check_box :hiv_aids, {:class => "hiv_aids_history history_checked_unchecked", :id => "hiv_aids_history"}, "true", "false" %>
                            <label for="hiv_aids_history">HIV/AIDS</label>
                          </span>
                          <span class= "hiv_aids_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                            <span>since</span>
                            <span>
                              <%= pph.select :hiv_aids_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][hiv_aids_duration]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                            <span>
                              <%= pph.select :hiv_aids_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][hiv_aids_duration_unit]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                          </span>


                          <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                            <%= pph.check_box :cancer_tumor, {:class => "cancer_tumor_history history_checked_unchecked", :id => "cancer_tumor_history"}, "true", "false" %>
                            <label for="cancer_tumor_history">Cancer/Tumor</label>
                          </span>
                          <span class= "cancer_tumor_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                            <span>since</span>
                            <span>
                              <%= pph.select :cancer_tumor_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][cancer_tumor_duration]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                            <span>
                              <%= pph.select :cancer_tumor_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][cancer_tumor_duration_unit]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                          </span>


                          <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                            <%= pph.check_box :cardiac_disorder, {:class => "cardiac_disorder_history history_checked_unchecked", :id => "cardiac_disorder_history"}, "true", "false" %>
                            <label for="cardiac_disorder_history">Cardiac disorder</label>
                          </span>
                          <span class= "cardiac_disorder_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                            <span>since</span>
                            <span>
                              <%= pph.select :cardiac_disorder_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][cardiac_disorder_duration]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                            <span>
                              <%= pph.select :cardiac_disorder_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][cardiac_disorder_duration_unit]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                          </span>

                          <span class="ckbox ckbox-primary ckbox-changes col-md-2" style="padding: 0px">
                            <%= pph.check_box :rheumatoid_arthritis, {:class => "rheumatoid_arthritis_history history_checked_unchecked", :id => "rheumatoid_arthritis_history"}, "true", "false" %>
                            <label for="rheumatoid_arthritis_history">Rheumatoid Arthritis</label>
                          </span>
                          <span class= "rheumatoid_arthritis_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                            <span class="history_since">since</span>
                            <span>
                              <%= pph.select :rheumatoid_arthritis_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][rheumatoid_arthritis_duration]", :class=> "form-control history_select" } %>
                            </span>
                            <span>
                              <%= pph.select :rheumatoid_arthritis_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][rheumatoid_arthritis_duration_unit]", :class=> "form-control history_select"} %>
                            </span>
                          </span>

                          <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                            <%= pph.check_box :tuberculosis, {:class => "tuberculosis_history history_checked_unchecked", :id => "tuberculosis_history"}, "true", "false" %>
                            <label for="tuberculosis_history">Tuberculosis</label>
                          </span>
                          <span class= "tuberculosis_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                            <span>since</span>
                            <span>
                              <%= pph.select :tuberculosis_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][tuberculosis_duration]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                            <span>
                              <%= pph.select :tuberculosis_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][tuberculosis_duration_unit]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                          </span>


                          <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                            <%= pph.check_box :asthma, {:class => "asthma_history history_checked_unchecked", :id => "asthma_history"}, "true", "false" %>
                            <label for="asthma_history">Asthma</label>
                          </span>
                          <span class= "asthma_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                            <span>since</span>
                            <span>
                              <%= pph.select :asthma_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][asthma_duration]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                            <span>
                              <%= pph.select :asthma_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][asthma_duration_unit]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                          </span>



                          <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                            <%= pph.check_box :cns_disorder_stroke, {:class => "cns_disorder_stroke_history history_checked_unchecked", :id => "cns_disorder_stroke_history"}, "true", "false" %>
                            <label for="cns_disorder_stroke_history">CNS disorder/Stroke</label>
                          </span>
                          <span class= "cns_disorder_stroke_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                            <span>since</span>
                            <span>
                              <%= pph.select :cns_disorder_stroke_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][cns_disorder_stroke_duration]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                            <span>
                              <%= pph.select :cns_disorder_stroke_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][cns_disorder_stroke_duration_unit]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                          </span>


                          <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                            <%= pph.check_box :thyroid_disorder, {:class => "thyroid_disorder_history history_checked_unchecked", :id => "thyroid_disorder_history"}, "true", "false" %>
                            <label for="thyroid_disorder_history">Thyroid disorder</label>
                          </span>
                          <span class= "thyroid_disorder_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                            <span>since</span>
                            <span>
                              <%= pph.select :thyroid_disorder_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][thyroid_disorder_duration]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                            <span>
                              <%= pph.select :thyroid_disorder_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][thyroid_disorder_duration_unit]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                          </span>


                          <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                            <%= pph.check_box :hepatitis_cirrhosis, {:class => "hepatitis_cirrhosis_history history_checked_unchecked", :id => "hepatitis_cirrhosis_history"}, "true", "false" %>
                            <label for="hepatitis_cirrhosis_history">Hepatitis/Cirrhosis</label>
                          </span>
                          <span class= "hepatitis_cirrhosis_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                            <span>since</span>
                            <span>
                              <%= pph.select :hepatitis_cirrhosis_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][hepatitis_cirrhosis_duration]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                            <span>
                              <%= pph.select :hepatitis_cirrhosis_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][hepatitis_cirrhosis_duration_unit]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                          </span>



                          <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                            <%= pph.check_box :renal_disorder, {:class => "renal_disorder_history history_checked_unchecked", :id => "renal_disorder_history"}, "true", "false" %>
                            <label for="renal_disorder_history">Renal disorder</label>
                          </span>
                          <span class= "renal_disorder_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                            <span>since</span>
                            <span>
                              <%= pph.select :renal_disorder_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][renal_disorder_duration]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                            <span>
                              <%= pph.select :renal_disorder_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][renal_disorder_duration_unit]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                          </span>



                          <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                            <%= pph.check_box :acidity, {:class => "diabetes_history history_checked_unchecked", :id => "acidity_history"}, "true", "false" %>
                            <label for="acidity_history">Acidity</label>
                          </span>
                          <span class= "acidity_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                            <span>since</span>
                            <span>
                              <%= pph.select :acidity_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][acidity_duration]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                            <span>
                              <%= pph.select :acidity_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][acidity_duration_unit]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                          </span>


                          <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                            <%= pph.check_box :on_insulin, {:class => "on_insulin_history history_checked_unchecked", :id => "on_insulin_history"}, "true", "false" %>
                            <label for="on_insulin_history">On Insulin</label>
                          </span>
                          <span class= "on_insulin_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                            <span>since</span>
                            <span>
                              <%= pph.select :on_insulin_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][on_insulin_duration]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                            <span>
                              <%= pph.select :on_insulin_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][on_insulin_duration_unit]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                          </span>


                          <span class="ckbox ckbox-primary col-md-3" style="padding: 0px">
                            <%= pph.check_box :on_aspirin_blood_thinners, {:class => "on_aspirin_blood_thinners_history history_checked_unchecked", :id => "on_aspirin_blood_thinners_history"}, "true", "false" %>
                            <label for="on_aspirin_blood_thinners_history">On Aspirin/Blood Thinners</label>
                          </span>
                          <span class= "on_aspirin_blood_thinners_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                            <span>since</span>
                            <span>
                              <%= pph.select :on_aspirin_blood_thinners_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][on_aspirin_blood_thinners_duration]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                            <span>
                              <%= pph.select :on_aspirin_blood_thinners_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][on_aspirin_blood_thinners_duration_unit]", :class=> "form-control", :style=> "padding: 0px;" } %>
                            </span>
                          </span>

				</div>

			</div>

          <br>



          <div class="col-md-1">
            <label class="control-label">Medical History</label>
          </div>
          <div class="col-md-5">
            <%= pph.text_field :medical_history_comment,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][medical_history_comment]", :class=> "form-control", :style=> "margin: 0px 0px 5px 0px;;width: 90%;", :placeholder=>""} %>
          </div>

          <div class="col-md-1">
            <label class="control-label">Family History</label>
          </div>
          <div class="col-md-5">
            <%= pph.text_field :family_history_comment,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][family_history_comment]", :class=> "form-control", :style=> "margin: 0px 0px 5px 0px;;width: 90%;", :placeholder=>""} %>
          </div>

	    <% end %>

     <% end %>

</div>

<style type="text/css">
  .control-label {
    margin-bottom: 0px !important;
  }
  .addressline1, .addressline2 {
    margin-bottom: 11px;
  }
  .ckbox label, .rdio label {
    padding-left: 10px;
    cursor: pointer;
    margin-bottom: 8px !important;
  }
</style>


<script>


  if ($("#diabetes_history").prop("checked")== true){
    $(".diabetes_hide_show").show()
  }
  else {
    $(".diabetes_hide_show").hide()
  }
  if ($("#hypertension_history").prop("checked")== true){
    $(".hypertension_hide_show").show()
  }
  else {
    $(".hypertension_hide_show").hide()
  }
  if ($("#alcoholism_history").prop("checked")== true){
    $(".alcoholism_hide_show").show()
  }
  else {
    $(".alcoholism_hide_show").hide()
  }
  if ($("#smoking_tobacco_history").prop("checked")== true){
    $(".smoking_tobacco_hide_show").show()
  }
  else {
    $(".smoking_tobacco_hide_show").hide()
  }
  if ($("#steroid_intake_history").prop("checked")== true){
    $(".steroid_intake_hide_show").show()
  }
  else {
    $(".steroid_intake_hide_show").hide()
  }
  if ($("#drug_abuse_history").prop("checked")== true){
    $(".drug_abuse_hide_show").show()
  }
  else {
    $(".drug_abuse_hide_show").hide()
  }
  if ($("#hiv_aids_history").prop("checked")== true){
    $(".hiv_aids_hide_show").show()
  }
  else {
    $(".hiv_aids_hide_show").hide()
  }
  if ($("#cancer_tumor_history").prop("checked")== true){
    $(".cancer_tumor_hide_show").show()
  }
  else {
    $(".cancer_tumor_hide_show").hide()
  }
  if ($("#cardiac_disorder_history").prop("checked")== true){
    $(".cardiac_disorder_hide_show").show()
  }
  else {
    $(".cardiac_disorder_hide_show").hide()
  }

  if ($("#rheumatoid_arthritis_history").prop("checked")== true){
    $(".rheumatoid_arthritis_hide_show").show()
  }
  else {
    $(".rheumatoid_arthritis_hide_show").hide()
  }

  if ($("#tuberculosis_history").prop("checked")== true){
    $(".tuberculosis_hide_show").show()
  }
  else {
    $(".tuberculosis_hide_show").hide()
  }
  if ($("#asthma_history").prop("checked")== true){
    $(".asthma_hide_show").show()
  }
  else {
    $(".asthma_hide_show").hide()
  }
  if ($("#cns_disorder_stroke_history").prop("checked")== true){
    $(".cns_disorder_stroke_hide_show").show()
  }
  else {
    $(".cns_disorder_stroke_hide_show").hide()
  }
  if ($("#thyroid_disorder_history").prop("checked")== true){
    $(".thyroid_disorder_hide_show").show()
  }
  else {
    $(".thyroid_disorder_hide_show").hide()
  }
  if ($("#hepatitis_cirrhosis_history").prop("checked")== true){
    $(".hepatitis_cirrhosis_hide_show").show()
  }
  else {
    $(".hepatitis_cirrhosis_hide_show").hide()
  }
  if ($("#renal_disorder_history").prop("checked")== true){
    $(".renal_disorder_hide_show").show()
  }
  else {
    $(".renal_disorder_hide_show").hide()
  }
  if ($("#acidity_history").prop("checked")== true){
    $(".acidity_hide_show").show()
  }
  else {
    $(".acidity_hide_show").hide()
  }
  if ($("#on_insulin_history").prop("checked")== true){
    $(".on_insulin_hide_show").show()
  }
  else {
    $(".on_insulin_hide_show").hide()
  }
  if ($("#on_aspirin_blood_thinners_history").prop("checked")== true){
    $(".on_aspirin_blood_thinners_hide_show").show()
  }
  else {
    $(".on_aspirin_blood_thinners_hide_show").hide()
  }





  $(".history_checked_unchecked").on("click",function(){
    if ($("#diabetes_history").prop("checked")== true){
      $(".diabetes_hide_show").show()
    }
    else {
      $(".diabetes_hide_show").hide()
    }
  })
  $(".history_checked_unchecked").on("click",function(){
    if ($("#hypertension_history").prop("checked")== true){
      $(".hypertension_hide_show").show()
    }
    else {
      $(".hypertension_hide_show").hide()
    }
  })
  $(".history_checked_unchecked").on("click",function(){
    if ($("#alcoholism_history").prop("checked")== true){
      $(".alcoholism_hide_show").show()
    }
    else {
      $(".alcoholism_hide_show").hide()
    }
  })
  $(".history_checked_unchecked").on("click",function(){
    if ($("#smoking_tobacco_history").prop("checked")== true){
      $(".smoking_tobacco_hide_show").show()
    }
    else {
      $(".smoking_tobacco_hide_show").hide()
    }
  })
  $(".history_checked_unchecked").on("click",function(){
    if ($("#steroid_intake_history").prop("checked")== true){
      $(".steroid_intake_hide_show").show()
    }
    else {
      $(".steroid_intake_hide_show").hide()
    }
  })
  $(".history_checked_unchecked").on("click",function(){
    if ($("#drug_abuse_history").prop("checked")== true){
      $(".drug_abuse_hide_show").show()
    }
    else {
      $(".drug_abuse_hide_show").hide()
    }
  })
  $(".history_checked_unchecked").on("click",function(){
    if ($("#hiv_aids_history").prop("checked")== true){
      $(".hiv_aids_hide_show").show()
    }
    else {
      $(".hiv_aids_hide_show").hide()
    }
  })
  $(".history_checked_unchecked").on("click",function(){
    if ($("#cancer_tumor_history").prop("checked")== true){
      $(".cancer_tumor_hide_show").show()
    }
    else {
      $(".cancer_tumor_hide_show").hide()
    }
  })
  $(".history_checked_unchecked").on("click",function(){
    if ($("#cardiac_disorder_history").prop("checked")== true){
      $(".cardiac_disorder_hide_show").show()
    }
    else {
      $(".cardiac_disorder_hide_show").hide()
    }
  })

  $(".history_checked_unchecked").on("click",function(){
    if ($("#rheumatoid_arthritis_history").prop("checked")== true){
      $(".rheumatoid_arthritis_hide_show").show()
    }
    else {
      $(".rheumatoid_arthritis_hide_show").hide()
    }
  })

  $(".history_checked_unchecked").on("click",function(){
    if ($("#tuberculosis_history").prop("checked")== true){
      $(".tuberculosis_hide_show").show()
    }
    else {
      $(".tuberculosis_hide_show").hide()
    }
  })
  $(".history_checked_unchecked").on("click",function(){
    if ($("#asthma_history").prop("checked")== true){
      $(".asthma_hide_show").show()
    }
    else {
      $(".asthma_hide_show").hide()
    }
  })
  $(".history_checked_unchecked").on("click",function(){
    if ($("#cns_disorder_stroke_history").prop("checked")== true){
      $(".cns_disorder_stroke_hide_show").show()
    }
    else {
      $(".cns_disorder_stroke_hide_show").hide()
    }
  })
  $(".history_checked_unchecked").on("click",function(){
    if ($("#thyroid_disorder_history").prop("checked")== true){
      $(".thyroid_disorder_hide_show").show()
    }
    else {
      $(".thyroid_disorder_hide_show").hide()
    }
  })
  $(".history_checked_unchecked").on("click",function(){
    if ($("#hepatitis_cirrhosis_history").prop("checked")== true){
      $(".hepatitis_cirrhosis_hide_show").show()
    }
    else {
      $(".hepatitis_cirrhosis_hide_show").hide()
    }
  })
  $(".history_checked_unchecked").on("click",function(){
    if ($("#renal_disorder_history").prop("checked")== true){
      $(".renal_disorder_hide_show").show()
    }
    else {
      $(".renal_disorder_hide_show").hide()
    }
  })
  $(".history_checked_unchecked").on("click",function(){
    if ($("#acidity_history").prop("checked")== true){
      $(".acidity_hide_show").show()
    }
    else {
      $(".acidity_hide_show").hide()
    }
  })
  $(".history_checked_unchecked").on("click",function(){
    if ($("#on_insulin_history").prop("checked")== true){
      $(".on_insulin_hide_show").show()
    }
    else {
      $(".on_insulin_hide_show").hide()
    }
  })
  $(".history_checked_unchecked").on("click",function(){
    if ($("#on_aspirin_blood_thinners_history").prop("checked")== true){
      $(".on_aspirin_blood_thinners_hide_show").show()
    }
    else {
      $(".on_aspirin_blood_thinners_hide_show").hide()
    }
  })
</script>