<% if patient.address_1? %>
	<h5 class="list-group-item-heading"><%= patient.address_1 %>,</h5>
<% end %>
<% if patient.address_2? %>
	<h5 class="list-group-item-heading"><%= patient.address_2 %></h5>
<% end %>
<% if patient.city? || patient.state? || patient.pincode? %>
	<h5 class="list-group-item-heading"><%= patient.city %><% if @patient.city? && @patient.state? %>,<%end%> <%= patient.state %> <%if @patient.pincode && (@patient.city? || @patient.state?)%>-<%end%> <%= patient.pincode %></h5>
<% end %>