<div class="step-pane" data-step="3">

	<%= f.fields_for :patient_history do |ph| %>

		<%= ph.hidden_field :patientid, :value => patient.id %>
		<%= ph.hidden_field :patient_id, :value => patient.id %>
        <%= ph.hidden_field :templatetype, :value => templatetype %>
        <%= ph.hidden_field :templateid, :value => templateid %>

		<%= ph.fields_for :patientallergyhistory do |pah| %>

			<div class="row mb10">

				<div class="col-md-2">
					<span class="label label-primary">Drug Allergies</span>
				</div>

				<div class="col-md-10">

					<div class="col-md-2">Antimicrobial Agents:</div>
	                <%= pah.input :antimicrobialagents, wrapper_html: {:class=>"col-md-9 mb10"}, collection: (@patient.get_drugallergies_list_attribute("antimicrobialagents")), :as => :select, :label => false, :required => false, :input_html => {:name => "patient[patient_history_attributes][patientallergyhistory_attributes][antimicrobialagents][]", :multiple => :true, :style => "width: 80%;", :class => 'patientallergyhistory_antimicrobialagents' } %>

	                <div class="col-md-2">Antifungal Agents:</div>
	                <%= pah.input :antifungalagents, wrapper_html: {:class=>"col-md-9 mb10"}, collection: (@patient.get_drugallergies_list_attribute("antifungalagents")), :as => :select, :label => false, :required => false, :input_html => {:name => "patient[patient_history_attributes][patientallergyhistory_attributes][antifungalagents][]", :multiple => :true, :style => "width: 80%;", :class => 'patientallergyhistory_antifungalagents' } %>

	                <div class="col-md-2">Antiviral Agents:</div>
	                <%= pah.input :antiviralagents, wrapper_html: {:class=>"col-md-9"}, collection: (@patient.get_drugallergies_list_attribute("antiviralagents")), :as => :select, :label => false, :required => false, :input_html => {:name => "patient[patient_history_attributes][patientallergyhistory_attributes][antiviralagents][]", :multiple => :true, :style => "width: 80%;", :class => 'patientallergyhistory_antiviralagents' } %>

	                <div class="col-md-2">NSAIDS:</div>
	                <%= pah.input :nsaids, wrapper_html: {:class=>"col-md-9"}, collection: (@patient.get_drugallergies_list_attribute("nsaids")), :as => :select, :label => false, :required => false, :input_html => {:name => "patient[patient_history_attributes][patientallergyhistory_attributes][nsaids][]", :multiple => :true, :style => "width: 80%;", :class => 'patientallergyhistory_nsaids' } %>

                    <div class="col-md-2">Eye Drops:</div>

                      <%= pah.select :eyedrops, @patient.get_drugallergies_list_attribute("eyedrops"), {  } ,{:name => "patient[patient_history_attributes][patientallergyhistory_attributes][eyedrops][]",multiple: true}%>
				</div>

			</div>

			<div class="row mb10">

				<div class="col-md-2">
					<span class="label label-primary">Contact Allergies</span>
				</div>

				<div class="col-md-10">	                

	                <%= pah.input :contact, wrapper_html: {:class=>"col-md-9"}, collection: (@patient.get_contactallergies_list_attribute("contact")), :as => :select, :label => false, :required => false, :input_html => {:name => "patient[patient_history_attributes][patientallergyhistory_attributes][contact][]", :multiple => :true, :style => "width: 80%;", :class => 'patientallergyhistory_contact' } %>

				</div>

			</div>

			<div class="row mb10">

				<div class="col-md-2">
					<span class="label label-primary">Food Allergies</span>
				</div>

				<div class="col-md-10">

	                <%= pah.input :food, wrapper_html: {:class=>"col-md-9"}, collection: (@patient.get_foodallergies_list_attribute("food")), :as => :select, :label => false, :required => false, :input_html => {:name => "patient[patient_history_attributes][patientallergyhistory_attributes][food][]", :multiple => :true, :style => "width: 80%;", :class => 'patientallergyhistory_food' } %>

				</div>

			</div>

			<div class="row">

				<div class="col-md-2">
					<span class="label label-primary">Others (free text)</span>
				</div>

				<div class="col-md-10">

	                <%= pah.input :others, as: :text,  :label => false, :required => false, :input_html => {:class => 'form-control', :rows => 2, :cols => 70, :required => false, :name => "patient[patient_history_attributes][patientallergyhistory_attributes][others]", :value => @patient.patient_history.patientallergyhistory.read_attribute(:others) } %>

				</div>

			</div>
		
	    <% end %>

    <% end %>

</div>