<div class="step-pane active" data-step="1">

	<div class="row mb10">

		<div class="col-sm-4">
		  <label class="control-label">Name</label>
		  <%= f.text_field :fullname, :maxlength => 40, :size => 30, :class => 'form-control patientname', :placeholder => "Patient name" %>
		</div>

		<div class="col-sm-2">

		  <label class="control-label">Gender</label>

		  <div class="row mb10">

		    <div class="col-sm-12">

		      <%= f.label :male do %>
		      	<%= f.radio_button :gender, "Male", :class => 'patientgender' %> Male
		      <% end %>

		      <%= f.label :female do %>
		      	<%= f.radio_button :gender, "Female", :class => 'patientgender' %> Female
		      <% end %>

		    </div>

		  </div>

		</div>

		<div class="col-sm-3">
		  <label class="control-label">Dob</label>
		  <div class="input-group">
		    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
		    <%= f.text_field :dob, :class => 'form-control dob', :placeholder => "dd/mm/yyyy", :id => "patientdob-datepicker-inline" %>		    
		  </div>
		</div>

		<div class="col-sm-2">
		  <label class="control-label">Age</label>
		  <%= f.text_field :age, :maxlength => 3, :size => 3, :class => 'form-control age', :placeholder => "12" %>

		</div>

	</div>

	<div class="row mb10">

		<div class="col-sm-3">
		  <label class="control-label">Mobile Number</label>

		  <div class="input-group">
		    <span class="input-group-addon">+91</span>
		    <%= f.text_field :mobilenumber, :maxlength => 10, :size => 10, :class => 'form-control mobilenumber', :placeholder => "9900000000" %>
		    <%= f.hidden_field :smsmobilenumber, :value => "+91", :class => 'form-control smsmobilenumber' %>
		  </div>

		</div>

		<div class="col-sm-4">
		  <label class="control-label">Email Address</label>

		  <div class="input-group">
		    <span class="input-group-addon">@</span>
		    <%= f.text_field :email, :maxlength => 40, :size => 30, :class => 'form-control email', :placeholder => "johndoe@xyz.com" %>
		  </div>

		</div>

	</div>

	<div class="row mb10">

	    <div class="col-md-4">

	      <label class="control-label">Blood group</label>
	      <div class="input-group mb15">
	        <% for bloodgroup in Patient::BLOODGROUPS %>
	        	<%= f.label "#{bloodgroup}" do %>
	        		<%= f.radio_button :blood_group, bloodgroup, :class => 'bloodgroup' %> <%= bloodgroup %>
	        	<% end %>
	        <% end %>

	      </div>

	    </div>

	</div>

</div>

