<div class="step-pane" data-step="5">

		<div class="row mb10">

            <div class="col-md-3">

              <label class="control-label">Address line1</label>
              <%= f.text_field :address_1, :maxlength => 30, :size => 30, :class => 'form-control addressline1', :placeholder => "Address line1" %>

            </div>

            <div class="col-md-3">

              <label class="control-label">Address line2</label>
              <%= f.text_field :address_2, :maxlength => 30, :size => 30, :class => 'form-control addressline2', :placeholder => "Address line2" %>

            </div>

            <div class="col-md-3">

              <label class="control-label">City</label>
              <%= f.text_field :city, :maxlength => 30, :size => 30, :class => 'form-control city', :placeholder => "Bangalore" %>

            </div>
    </div>

    <div class="row">

            <div class="col-md-3">

              <label class="control-label">State</label>
              <%= f.text_field :state, :maxlength => 30, :size => 30, :class => 'form-control state', :placeholder => "KA" %>

            </div>

            <div class="col-md-2">

              <label class="control-label">Pincode</label>
              <%= f.text_field :pincode, :maxlength => 6, :size => 6, :class => 'form-control pincode', :placeholder => "560001" %>

            </div>

    </div>

</div>