<% if patient.patient_history? %>
	<% if patient.patient_history.patientallergyhistory? %>

		<% if patient.patient_history.patientallergyhistory.antimicrobialagents.length > 0 %>
			<% patient.patient_history.patientallergyhistory.antimicrobialagents.each do |antimicrobialagent| %>

				<h5 class="list-group-item-heading"style="margin-bottom:10px;"><label class="label label-danger"><%= patient.get_label_for_allergy("antimicrobialagents", antimicrobialagent ) %></label></h5>
				
			<% end %>		
		<% end %>

		<% if patient.patient_history.patientallergyhistory.antifungalagents.length > 0 %>
			<% patient.patient_history.patientallergyhistory.antifungalagents.each do |antifungalagent| %>

				<h5 class="list-group-item-heading"style="margin-bottom:10px;"><label class="label label-danger"><%= patient.get_label_for_allergy("antifungalagents", antifungalagent ) %></label></h5>

			<% end %>
		
		<% end %>

		<% if patient.patient_history.patientallergyhistory.nsaids.length > 0 %>
			<% patient.patient_history.patientallergyhistory.nsaids.each do |nsaid| %>

				<h5 class="list-group-item-heading"style="margin-bottom:10px;"><label class="label label-danger"><%= patient.get_label_for_allergy("nsaids", nsaid ) %></label></h5>

			<% end %>
		<% end %>
        <% if patient.patient_history.patientallergyhistory.eyedrops.length > 0 %>
            <% patient.patient_history.patientallergyhistory.eyedrops.each do |eyedrops| %>
                <h5 class="list-group-item-heading"style="margin-bottom:10px;"><label class="label label-danger"><%= patient.get_label_for_allergy("eyedrops", eyedrops ) %></label></h5>
            <% end %>
        <% end %>

		<% if patient.patient_history.patientallergyhistory.antiviralagents.length > 0 %>
			<% patient.patient_history.patientallergyhistory.antiviralagents.each do |antiviralagent| %>

				<h5 class="list-group-item-heading"style="margin-bottom:10px;"><label class="label label-danger"><%= patient.get_label_for_allergy("antiviralagents", antiviralagent ) %></label></h5>

			<% end %>
		
		<% end %>

		<% if patient.patient_history.patientallergyhistory.contact.length > 0 %>
			<% patient.patient_history.patientallergyhistory.contact.each do |contact| %>

				<h5 class="list-group-item-heading"style="margin-bottom:10px;"><label class="label label-danger"><%= patient.get_label_for_allergy("contact", contact ) %></label></h5>

			<% end %>
		
		<% end %>

		<% if patient.patient_history.patientallergyhistory.food.length > 0 %>
			<% patient.patient_history.patientallergyhistory.food.each do |food| %>

				<h5 class="list-group-item-heading"style="margin-bottom:10px;"><label class="label label-danger"><%= patient.get_label_for_allergy("food", food ) %></label></h5>

			<% end %>
		
		<% end %>

		<% if patient.patient_history.patientallergyhistory.others.length > 0 %>
		
			<h5 class="list-group-item-heading" style="background-color:#d9534f; color:#fff;padding:4px 8px;display:inline-block;"><%= patient.patient_history.patientallergyhistory.others %></h5>
		
		<% end %>

	<% end %>
<% end %>