<%= render partial: "templates/common/stylesheetincludes" %> <!-- Render common stylesheet includes template from partial -->
<div class="row">
  <div class="col-md-2" style="padding-right: 5px;">
    <div id="contactCard">
    <%= render partial: "patients/contactcard"%>
  </div>
</div>

<div class="col-md-8">
  <div class="row">
    <div class="col-md-12" style="padding-left: 0px; padding-right: 2px;">

      <div class="panel panel-success">
        <div class="panel-heading" style="padding: 2px;">
          <h4 class="panel-title text-center" style="color:#FFF; display: inline; margin-left: 40%;">Timeline </h4><div class="text-right" style="display:inline;"><a class="pull-right btn btn-link btn-xs"><i data-patient-id="<%= @patient.id %>" class="fa fa-refresh refresh-summary" style="color: white;"> Refresh</i></a></div>
        </div>
        <div class="table-responsive patient-summary-timeline-div">
          <table class="table table-hover patient-summary-timeline-table">
            <thead>
              <tr class="active">
                <th style="padding:2px 10px;width:16%;">Date</th>
                <th style="padding:2px 10px;width:16%;text-align:center;">Type</th>
                <th style="padding:2px 10px;width:16%;">Template</th>
                <th style="padding:2px 10px;width:16%;">Facility</th>
                <th style="padding:2px 10px;width:16%;text-align:center;">Created By</th>
                <th style="padding:2px 10px;width:16%;text-align:center;">Actions</th>
              </tr>
            </thead>
          </table>
          <div style="overflow: scroll; max-height: 372px" >
            <table class="table table-hover patient-summary-timeline-table">
              <tbody class="patient-summary-timeline-tbody">
                    <%= render partial: "patients/partials/patient_summary_timeline_tbody", locals: { patient: @patient } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
    <% if 1 == 0 %>
      <div class="col-md-6" style="padding-left: 2px; padding-right: 0px;">

        <div class="panel panel-success">
          <div class="panel-heading" style="padding: 2px;">
            <h4 class="panel-title text-center" style="color:#FFF; display: inline; margin-left: 40%;">Prescriptions</h4><div class="text-right" style="display:inline;"><a class="pull-right btn btn-link btn-xs"><i data-patient-id="<%= @patient.id %>"  class="fa fa-refresh refresh-summary" style="color: white;"> Refresh</i></a></div>
          </div>
          <div class="table-responsive patient-summary-prescriptions-div">
            <table class="table table-hover prescription-history-table patient-summary-prescriptions-table" id="prescription-history-table">
              <thead>
              <tr class="active">
                <th style="padding-top:1px;padding-bottom:1px;width:25%;">Date</th>
                <th style="padding-top:1px;padding-bottom:1px;width:25%;">Encounter</th>
                <th style="padding-top:1px;padding-bottom:1px;width:25%;text-align:center;">Doctor</th>
                <!-- <th style="padding-top:1px;padding-bottom:1px;width:20%;text-align:right;">Active</th> -->
                <th style="padding-top:1px;padding-bottom:1px;width:25%;text-align:center;">Summary</th>
              </tr>
              </thead>
            </table>
            <div style="overflow: scroll; max-height: 150px" >
              <table class="table table-hover prescription-history-table patient-summary-prescriptions-table" id="prescription-history-table">
                <tbody class="patient-summary-prescriptions-tbody">
                      <%= render partial: "patients/partials/patient_summary_prescriptions_tbody", locals: { patient: @patient } %>
                </tbody>
              </table>
            </div>
            <div class="table-responsive patient-summary-prescriptions-div">
              <table class="table table-hover prescription-history-table patient-summary-prescriptions-table" id="prescription-history-table">
                <thead>
                <tr class="active">
                  <th style="padding-top:1px;padding-bottom:1px;width:25%;">Date</th>
                  <th style="padding-top:1px;padding-bottom:1px;width:25%;">Encounter</th>
                  <th style="padding-top:1px;padding-bottom:1px;width:25%;text-align:center;">Doctor</th>
                  <th style="padding-top:1px;padding-bottom:1px;width:20%;text-align:right;">Active</th>
                  <th style="padding-top:1px;padding-bottom:1px;width:25%;text-align:center;">Summary</th>
                </tr>
                </thead>
              </table>
              <div style="overflow: scroll; max-height: 150px" >
                <table class="table table-hover prescription-history-table patient-summary-prescriptions-table" id="prescription-history-table">
                  <tbody class="patient-summary-prescriptions-tbody">
                        <%= render partial: "patients/partials/patient_summary_prescriptions_tbody", locals: { patient: @patient } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


        </div>
      </div>
    <% end %>
  </div>


  <div class="row">
    <% unless @patient_legacy_clinicalnote.count < 1 %>
      <div class="col-md-6" style="padding-left: 0px; padding-right: 2px;">
        <div class="panel panel-success">
          <div class="panel-heading" style="padding: 2px;">
            <h4 class="panel-title text-center" style="color:#FFF;">OPD History</h4>
          </div>
          <div class="table-responsive patient-legacy-summary-div">
            <table class="table table-hover patient-legacy-table patient-legacy-summary-table" id="patient-legacy-table">
              <thead>
              <tr class="active">
                <th style="padding-top:1px;padding-bottom:1px;width:25%;">Date</th>
                <th style="padding-top:1px;padding-bottom:1px;width:25%;">Encounter</th>
                <th style="padding-top:1px;padding-bottom:1px;width:25%;">Type</th>
                <th style="padding-top:1px;padding-bottom:1px;width:25%;">Category</th>
                <th style="padding-top:1px;padding-bottom:1px;width:25%;">Action</th>
              </tr>
              </thead>
              <tbody class="patient-summary-legacyclinicalnote-tbody">
              <%= render partial: "patients/partials/patient_legacy_summary_tbody", locals: { patient: @patient } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <%end%>
    <% unless @patient_legacy_prescription.count < 1%>
        <div class="col-md-6" style="padding-left: 2px; padding-right: 0px;">
          <div class="panel panel-success">
            <div class="panel-heading" style="padding: 2px;">
              <h4 class="panel-title text-center" style="color:#FFF;">Old Prescription Summary</h4>
            </div>
            <div class="table-responsive patient-legacy-summary-div">
              <table class="table table-hover patient-legacy-table patient-legacy-summary-table" id="patient-legacy-table">
                <thead>
                <tr class="active">
                  <th style="padding-top:1px;padding-bottom:1px;width:25%;">Date</th>
                  <th style="padding-top:1px;padding-bottom:1px;width:25%;">Encounter</th>
                  <th style="padding-top:1px;padding-bottom:1px;width:25%;">Type</th>
                  <th style="padding-top:1px;padding-bottom:1px;width:25%;">Category</th>
                  <th style="padding-top:1px;padding-bottom:1px;width:25%;">Action</th>
                </tr>
                </thead>
                <tbody class="patient-summary-legacyprescription-tbody">
                <%= render partial: "patients/partials/patient_legacy_prescription_tbody", locals: { patient: @patient } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    <%end%>


    <% unless @patient_legacy_surgerynote.count < 1 %>
      <div class="col-md-6" style="padding-left: 2px; padding-right: 0px;">
        <div class="panel panel-success">
          <div class="panel-heading" style="padding: 2px;">
            <h4 class="panel-title text-center" style="color:#FFF;">IPD History</h4>
          </div>
          <div class="table-responsive patient-legacy-summary-div">
            <table class="table table-hover patient-legacy-table patient-legacy-summary-table" id="patient-legacy-table">
              <thead>
              <tr class="active">
                <th style="padding-top:1px;padding-bottom:1px;width:25%;">Date</th>
                <th style="padding-top:1px;padding-bottom:1px;width:25%;">Encounter</th>
                <th style="padding-top:1px;padding-bottom:1px;width:25%;">Type</th>
                <th style="padding-top:1px;padding-bottom:1px;width:25%;">Category</th>
                <th style="padding-top:1px;padding-bottom:1px;width:25%;">Action</th>
              </tr>
              </thead>
              <tbody class="patient-summary-legacysurgerynote-tbody">
              <%= render partial: "patients/partials/patient_legacy_surgery_tbody", locals: { patient: @patient } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <%end%>
  </div>

    <% unless @patient_legacy_appointment.count < 1 %>
      <div class="col-md-6" style="padding-left: 2px; padding-right: 0px;">
        <div class="panel panel-success">
          <div class="panel-heading" style="padding: 2px;">
            <h4 class="panel-title text-center" style="color:#FFF;">Clinical History</h4>
          </div>
          <div class="table-responsive patient-legacy-summary-div">
            <table class="table table-hover patient-legacy-table patient-legacy-summary-table" id="patient-legacy-table">
              <thead>
              <tr class="active">
                <th style="padding-top:1px;padding-bottom:1px;width:25%;">Date</th>
                <th style="padding-top:1px;padding-bottom:1px;width:25%;">Encounter</th>
                <th style="padding-top:1px;padding-bottom:1px;width:25%;">Type</th>
                <th style="padding-top:1px;padding-bottom:1px;width:25%;">Category</th>
                <th style="padding-top:1px;padding-bottom:1px;width:25%;">Action</th>
              </tr>
              </thead>
              <tbody class="patient-summary-legacyappointmentnote-tbody">

              <%= render partial: "patients/partials/patient_legacy_tbody", locals: { patient: @patient } %>

              <%= render partial: "patients/partials/patient_legacy_appointment_tbody", locals: { patient: @patient } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <%end%>
  </div>

  <!-- <div class="row">
    <div class="panel panel-success">
      <div class="panel-heading" style="padding: 2px;">
        <div class="pull-right">
            <a class="btn-xs btn-link"><i data-patient-id="<%= @patient.id %>" class="fa fa-refresh refresh-investigations" style="color: white;"> Refresh</i></a>
        </div>
        <h4 class="panel-title text-center" style="color:#FFF;">Investigation Timeline</h4>

      </div>
      <div class="table-responsive patient-summary-investigation-div">
        <table class="table table-hover prescription-history-table patient-summary-investigation-table" id="investigation-history-table">
          <thead>
            <tr class="active">
              <th style="padding-top:1px;padding-bottom:1px;width:15%">Date</th>
              <th style="padding-top:1px;padding-bottom:1px;width:15%">Type</th>
              <th style="padding-top:1px;padding-bottom:1px;width:15%;text-align:center;">Template</th>
              <th style="padding-top:1px;padding-bottom:1px;width:20%;text-align:center;">Investigation Type</th>
              <th style="padding-top:1px;padding-bottom:1px;width:15%;text-align:center;">Doctor</th>
              <th style="padding-top:1px;padding-bottom:1px;width:20%;text-align:center;">Actions</th>
            </tr>
          </thead>
        </table>
        <div style="overflow: scroll;">
          <table class="table table-hover">
            <tbody class="patient-summary-investigation-tbody" id="#patient-summary-investigation-tbody">
            erb tag%= render partial: "patients/partials/patient_summary_investigation_tbody", locals: { patient: @patient } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div> -->

  <div class="row">
    <div class="panel panel-success bootcards-summary">
      <div class="panel-heading" style="padding: 2px;">
        <div class="pull-right">
          <div class="dropdown">
            <button type="button" data-patient-id="<%= @patient.id %>" class="btn-xs btn-white" title="Patient File Manager" id="patient-file-manager-dropdown" data-toggle="dropdown">
              <i class="fa fa-user"></i> Upload Manager
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="patient-file-manager-dropdown">
              <li data-patient-id="<%= @patient.id %>" ><%= link_to paperrecords_upload_patient_asset_path(:patientid => @patient.id), :target => "_blank" do %> <i class="glyphicon glyphicon-cloud-upload"></i> Upload Files <% end %></li>
              <li data-patient-id="<%= @patient.id %>" ><%= link_to dicomrecords_upload_patient_asset_path(:patientid => @patient.id), :target => "_blank" do %> <i class="glyphicon glyphicon-cloud-upload"></i> Upload Dicom<% end %></li>
            </ul>
          </div>
        </div><!-- panel-btns -->

        <div class="pull-left">
            <a class="btn-xs btn-link"><i data-patient-id="<%= @patient.id %>" class="fa fa-refresh refresh-uploads" style="color: white;"> Refresh</i></a>
        </div><!-- panel-btns -->
        <h4 class="panel-title text-center" style="color:#FFF;">Uploads</h4>
      </div>

      <div class="panel-body">

        <div class="patientsummaryuploads" id="patientsummaryuploads">
              <%= render partial: "patients/load_patient_summary_asset" %>
        </div>

      </div>

    </div>

  </div>



</div>

<div class="col-md-2" style="padding-left: 5px;">

      <div id="templateCard">

        <div class="panel panel-success">

            <div class="panel-heading clearfix" style="padding: 2px;">
                <h4 class="panel-title" style="color:#FFF;text-align:center;">Actions</h4>
            </div>

            <div class="panel-body">

                <div class="patient-summary-controls mb10">

                </div>
                <div id="dilation-div">
                  <%= render partial: 'patients/dilation_page.html' %>
                </div>






              <!--this code is commented for now (anoop)-->
              <!--<%# if current_user.roles[0].try(:name) == "doctor" || current_user.roles[1].try(:name)== "doctor"%>-->
              <!--<div class="row">-->
                <!--<div class="col-md-6" >-->
                  <!--<%#= link_to opd_appointments_new_appointment_from_summary_path(:patient_id=> @patient.id), :class => "btn btn-danger btn-xs",:style=>"padding: 2px 1px;",:id=>"add-appointment-btn", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#appointment-modal', method: :post } do %> <i class="glyphicon glyphicon-plus"></i>&nbsp; Appointment<%# end %>-->
                <!--</div>-->
                <!--<div class="col-md-6" >-->
                  <!--<%#= link_to ipd_patients_scheduleot_path(appointment_id: @appointment.id, :patient_id => @patient.id, ottime: "current_time"), class: "btn btn-info btn-xs ",:style=>"padding: 2px 1px;", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#templates-modal'} do %> Schedule OT<%# end %>-->
                <!--</div>-->
              <!--</div>-->
              <!--<%#end%>-->
            </div>

        </div>

      </div>

  </div>

</div>
<style>
  /*.doc_reminder_text{
    border: 0px;
    width: 90%;
    color: white;
    background: #3071A9;
    border-radius: 3px;
    padding: 3px;
    overflow-y: hidden;
  }

  .doc_reminder_text:focus {
    background-color: #FFF;
    color: #000;
  }*/
</style>
<script>
  // $(".doc_reminder_text").on('focusout',function(e){

  //   $(this).attr('title',$(this).val())


  //   jQuery.ajax({
  //     type: "GET",
  //     url: '/patients/save_doc_reminder_note',
  //     data: {reminder_text: $(this).val(),patient_id:'<%= @patient.id.to_s %>' , remote: "true" },
  //   });
  // })

    <%= render partial: 'patients/summaryall_init.js' %>
    <%= render partial: 'patients/displaypatientsummaryfiles.js' %>

    jQuery(document).ready(function () {
        Dropzone.options.uploadPaperRecordsForm = {
            paramName: "patient_summary_asset_upload[asset_path]"
        }
    });

    //Refreshing timeline and prescriptions
    $(document).ready(function(){
      $(".refresh-summary").on('click', function(){
        area = $(this).parents(".panel-heading").find('h4').html();
        $(this).addClass("refresh-spin");
        patient_id = $(this).attr('data-patient-id');
        appointment_id = $(".patient-summary-to-templates").attr("data-appointmentid")
        if(area.toLowerCase().indexOf('timeline') > -1){
          //Refresh timelines
          container = $(".patient-summary-timeline-tbody");
          get_new_resources('/patients/load_new_timelines', patient_id,appointment_id, container, this);

        } else if(area.toLowerCase().indexOf('prescription') > -1){
          //Refresh Prescriptions
          $(this).addClass("refresh-spin");
          container = $(".patient-summary-prescriptions-tbody");
          get_new_resources('/patients/load_new_prescriptions', patient_id,appointment_id, container, this);

        }

      });

      //Refreshing Investigationss
      $(".refresh-investigations").on('click', function(){
        patient_id = $(this).attr('data-patient-id');
        container = $(".patient-summary-investigation-tbody");
        appointment_id = $(".patient-summary-to-templates").attr("data-appointmentid")
        $(this).addClass("refresh-spin");
        get_new_resources("/patients/load_new_investigations", patient_id,appointment_id, container, this);
      });

      //Refreshing assets/uploads
      $(".refresh-uploads").on('click', function(){
        patient_id = $(this).attr('data-patient-id');
        container = $("#allfiles");
        appointment_id = $(".patient-summary-to-templates").attr("data-appointmentid")
        $(this).addClass("refresh-spin");
        get_new_resources("/patients/load_new_assets", patient_id,appointment_id, container, this);
      });


      $('#templates-modal').on('hidden.bs.modal', function () {
        patient_id = $(".refresh-summary").attr('data-patient-id');
        appointment_id = $(".patient-summary-to-templates").attr("data-appointmentid")
        container_prescription = $(".patient-summary-prescriptions-tbody");
        container_timeline = $(".patient-summary-timeline-tbody");
        // container_investigation = $(".patient-summary-investigation-tbody")
        container_legacyclinicalnote = $(".patient-summary-legacyclinicalnote-tbody")
        container_legacysurgerynote = $(".patient-summary-legacysurgerynote-tbody")
        container_legacyprescription = $(".patient-summary-legacyprescription-tbody")
        get_new_resources('/patients/load_new_prescriptions', patient_id,appointment_id, container_prescription)
        get_new_resources('/patients/load_new_timelines', patient_id,appointment_id, container_timeline)
        // get_new_resources('/patients/load_new_investigations', patient_id,appointment_id, container_investigation)
        get_new_resources('/patients/load_new_legacyclinicalnote', patient_id,appointment_id, container_legacyclinicalnote)
        get_new_resources('/patients/load_new_legacysurgerynote', patient_id,appointment_id, container_legacysurgerynote)
        get_new_resources('/patients/load_new_legacyprescription', patient_id,appointment_id, container_legacyprescription)
        // do something…
      })

      //Gets updated timelines, prescriptions
      function get_new_resources(url, patient_id,appointment_id, container, icon) {
        //Conatiner is where you append the new content received from server
        $.ajax({
          url: url,
          method: 'get',
          dataType: 'html',
          data: {
            patient_id: patient_id,
            appointment_id: appointment_id
          },
          success: function(res){
            $(container).html(res)
            $(icon).removeClass("refresh-spin");
          },
          error: function(err){
          }
        });
      }

    });

    // Tooltip
    $(document).ready(function(){
      $(".hg-tooltip").tipsy();
    });

</script>
