<div class="modal-body"> <!-- modal-body starts -->

  <style>
      .pcs-header-content {
          font-size: 9pt;
          color: #333333;
          background-color: #ffffff;
      }
      .pcs-template-body {
          padding: 0 0.400000in 0 0.550000in;
      }
      .pcs-template-footer {
          height: 0.700000in;
          font-size: 6pt;
          color: #aaaaaa;
          padding: 0 0.400000in 0 0.550000in;
          background-color: #ffffff;
      }
      .pcs-footer-content {
          word-wrap: break-word;
          color: #aaaaaa;
          border-top: 1px solid #eeeeee;
      }
      .pcs-label {
          color: #000000;
      }
      .pcs-entity-title {
          font-size: 13pt;
          color: #333333;
      }
      .pcs-entity-title {
          text-align: center;
          position: relative;
          text-transform: uppercase;
      }
      .pcs-entity-title:before {
          content: "";
          display: block;
          border-top: 1px solid #eeeeee;
          width: 100%;
          height: 1pt;
          position: absolute;
          top: 50%;
          font-size: 1pt;
      }
      .pcs-entity-title span {
          background: #ffffff;
          padding: 0 20px;
          position: relative;
      }
      .pcs-table, .pcs-table th, .pcs-table td {
          border: 1px solid #eeeeee;
      }
      .pcs-orgname {
          font-size: 9pt;
          color: #333333;
      }
      .pcs-customer-name {
          font-size: 9pt;
          color: #333333;
      }
      .pcs-itemtable-header {
          font-size: 9pt;
          color: #333333;
          background-color: #eff0f1;
      }
      .pcs-taxtable-header {
          font-size: 9pt;
          color: #000;
          background-color: #f5f4f3;
      }
      .pcs-item-row {
          font-size: 9pt;
          border-bottom: 1px solid #eeeeee;
          background-color: #ffffff;
          color: #333333;
      }
      .pcs-item-desc {
          color: #8e8e8e;
          font-size: 9pt;
      }
      .pcs-balance {
          background-color: #ffffff;
          font-size: 9pt;
          color: #333333;
      }
      .pcs-totals {
          font-size: 9pt;
          color: #333333;
          background-color: #ffffff;
      }
      .pcs-notes {
          font-size: 9pt;
      }
      .pcs-terms {
          font-size: 9pt;
      }
      .pcs-header-first {
          background-color: #ffffff;
          font-size: 9pt;
          color: #333333;
          height: auto;
      }
      .pcs-status {
          /*color: '';*/
          font-size: 15pt;
          border: 3px solid ;
          padding: 3px 8px;
      }
      .pcs-template-header {
          padding: 0 0.400000in 0 0.550000in;
          height: 0.700000in;
      }
      .pcs-itemtable {
          border: 1px solid #eeeeee;
      }
      .pcs-itemtable-header {
          border-right: 1px solid #eeeeee;
          border-bottom: 1px solid #eeeeee;
      }
      .pcs-item-row {
          border-right: 1px solid #eeeeee;
          border-bottom: none;
      }
      .pcs-bdr-top {
          border-top: 1px solid #eeeeee;
      }
      .pcs-bdr-bottom {
          border-bottom: 1px solid #eeeeee;
      }
      .pcs-table, .pcs-table th, .pcs-table td {
          border: 1px solid #eeeeee;
      }
  </style>

  <div class="summary-template">

        <div class="row">

          <div class="col-md-12">

              <div class="opdsummary">
                  <% if !@opdrecord.nil? %>
                    <span style="font-size:13px;float:right;">Date : <%= @opdrecord.created_at.strftime("%d %B, %Y") %></span><h4 style="text-align:center;margin-left:10%;">Prescription Summary </h4>
                  <% elsif !@ipdrecord.nil? %>
                    <span style="font-size:13px;float:right;">Date : <%= @ipdrecord.created_at.strftime("%d %B, %Y") %></span><h4 style="text-align:center;margin-left:10%;">Prescription Summary </h4>
                  <% end %>
                  <hr>
                  <div class="patientinfo" id="patientinfo">
                    <div class="row">
                      <div class="col-md-6">
                        <p>Patient Name : <b><%= @patient.fullname.split(" ").map(&:capitalize).join(" ") %></b></p>
                        <p>Patient ID : <b><%= PatientIdentifier.find_by(:patient_id => @patient.id.to_s).try(:patient_org_id) %></b></p>
                      </div>
                      <div class="col-md-4 col-md-offset-2">
                        <% if !@appointment.nil? %>
                            <% if current_facility.clinical_workflow%>
                                <%doctor_id = OpdClinicalWorkflow.find_by(appointment_id: @appointment.id.to_s).doctor_ids.last%>
                                <% if doctor_id%>
                                    <p>Doctor : <b><%=User.find_by(:id=> doctor_id).fullname%></b></p>
                                <%else%>
                                    <p>Doctor : <b><%=User.find_by(:id=> @appointment.consultant_id).fullname%></b></p>
                                <%end%>
                            <%else%>
                                <p>Doctor : <b><%=User.find_by(:id=> @appointment.consultant_id).fullname%></b></p>
                            <%end%>
                        <% elsif !@admission.nil? %>
                          <p>Doctor : <b><%=User.find_by(:id=> @admission.doctor).fullname%></b></p>
                        <% end %>
                        <% if !@appointment.nil? %>
                          <p>Appointment ID : <b><%= @appointment.display_id %></b></p>
                        <% elsif !@admission.nil? %>
                          <p>Admission ID : <b><%= @admission.display_id %></b></p>
                        <% end %>
                      </div>
                    </div>
                  </div>

                  <% if !@opdrecord.nil? %>
                    <%= render partial: "templates/#{@speciality_folder_name}/opd_partials/summary/opd_summary_form_medication", locals: { patient: @patient, appointment: @appointment,specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid } %>
                  <% elsif !@ipdrecord.nil? %>
                    <%= render partial: "templates/#{@speciality_folder_name}/ipd_partials/summary/ipd_summary_form_medication", locals: { patient: @patient, appointment: @appointment,specalityfoldername: @speciality_folder_name, specalityid: @specalityid, ipdrecord: @ipdrecord, templatetype: @templatetype, templateid: @templateid } %>
                  <% end %>

              </div>
              <div class="pull-right"> <!-- Action Buttons starts -->
                <button aria-hidden="true" class="btn btn-info" data-dismiss="modal">Close</button>
              </div> <!-- Action Buttons ends -->

          </div>
        </div>

   </div>

</div> <!-- modal-body ends -->