<table class="table table-striped">
  <tr>
    <td style="width: 60px">
      Name :
    </td>
    <td>
      <%= link_to patients_summary_path(:patientid => @patient.id, :appointment_id => @appointment.id, :opd => 440655000), :class => "patientsummary ps", :id => "patientsummary ps", :title => "Patient Summary", :data => {:remote => true, :toggle => "tooltip", :placement => "bottom"} do %><%= @patient.fullname %><% end %>
    </td>
  </tr>
  <tr>
    <td>
      Gender :
    </td>
    <td>
      <%= @patient.gender %>
    </td>
  </tr>
  <tr>
    <td>
      Mobile :
    </td>
    <td>
      <%= @patient.mobilenumber %>
    </td>
  </tr>

</table>

<% if Date.current <= (Date.strptime("#{@appointment.appointmentdate}", "%Y-%m-%d")) %>
    <% if !@appointment.arrived || @appointment.seen %>
        <%= link_to opd_appointments_has_arrived_path(:appointment_id => @appointment.id),:class => "btn btn-xs btn-primary c-appointment", :title => "Patient Arrived", :data => {:remote => true} do %> <i class="glyphicon glyphicon-arrow-left"></i> <% end %>
    <% end %>
    <%= link_to opd_appointments_rescheduleappointment_path(:appointment_id => @appointment.id), :class => "btn btn-xs btn-warning r-appointment", :title => "Reschedule Appointment", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#appointment-modal'} do %> <i class="fa fa-edit"></i> <% end %>
    <%= link_to opd_appointments_cancelappointmentform_path(:appointment_id => @appointment.id), :class => "btn btn-xs btn-danger c-appointment", :title => "Cancel Appointment", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#appointment-modal'} do %> <i class="fa fa-trash-alt"></i> <% end %>
    <% if !@appointment.seen && @appointment.arrived %>
        <%= link_to opd_appointments_has_seen_path(:appointment_id => @appointment.id),:class => "btn btn-xs btn-primary", :title => "Patient Seen", :data => {:remote => true} do %><i class="glyphicon glyphicon-arrow-right"></i><% end %>
    <% end %>
<% end %>