<% if @store_id.present? %>
  $("#free-invoice-inventory-modal").modal('hide')
  $.ajax({
    type: "GET",
    dataType: "script",
    data: {
      store_id: "<%= @store_id %>",
      patient_id: "<%= @patient.id.to_s %>"
    },
    url: "<%= @url %>"
  })

<% else %>
  if($(".appointment-panel").length > 0){
    $("#btn-appointment-management-refresh").trigger('click')
  }

  if($(".appointment-calendar-panel").length > 0) {
    $("#opd-calendar").fullCalendar('refetchEvents');
  }

  if($(".admission-panel").length > 0){
    var doctor_id = $("#sidebar_doctors_admission .active").find('a').attr('data-doctor-id')
    var active_tab = $(".tab_active").find(".active").attr('data-tab-id')
    var admission_id = $(".admission_today").find('.active').find('.active-admission').attr('data-admission-id')
    refresh_admission_management(doctor_id,active_tab,admission_id)
  }

  if($(".admission-calendar-panel").length > 0) {
    $("#ipd-calendar").fullCalendar('refetchEvents');
  }

  if($(".ot-panel").length > 0){
    var doctor_id = $("#sidebar_doctors_ot .active").find('a').attr('data-doctor-id')
    var active_tab = $(".tab_active").find(".active").attr('data-tab-id')
    var ot_id = $("#ot_refresher").val()
    refresh_ot_management(doctor_id,active_tab,ot_id)
  }

  if($(".ot-calendar-panel").length > 0) {
    $("#ot-calendar").fullCalendar('refetchEvents');
  }

  if($(".patient-timeline-panel").length > 0){
    $("#patient-additional-details").html("<%= escape_javascript(render 'patient_summary_timelines/patient_details/patient_details.html.erb') %>")
    $("#patient-history-details").html("<%= escape_javascript(render 'patient_summary_timelines/patient_details/patient_history.html.erb') %>")
    $("#patient-allergy-details").html("<%= escape_javascript(render 'patient_summary_timelines/patient_details/patient_allergy.html.erb') %>")
    $("#timeline-patient-name").html("<%= @patient.fullname %>&emsp;<span style='font-size:14px;'><%= '(' + @patient.patient_age_gender + ')' if @patient.patient_age_gender.present? %></span>")

    // // To Adjust Dividing Line Between Allergy & History
    // if($('#patient-history-details').height() > $('#patient-allergy-details').height()){
    //   $('#patient-history-details').css('border-right','1px solid #eee')
    //   $('#patient-allergy-details').css('border-left','0px')
    // } else {
    //   $('#patient-allergy-details').css('border-left','1px solid #eee')
    //   $('#patient-history-details').css('border-right','0px')
    // }
  }
  if ($(".patient-panel").length > 0) {
    $("#btn-patient-management-refresh").trigger("click")
  }

  jQuery("#patient-modal").modal("hide")
<% end %>