<table class="table table-striped">
  <tr>
    <td>
      Name :
    </td>
    <td>
      <%= @patient.fullname %>
    </td>
  </tr>
  <tr>
    <td>
      Gender :
    </td>
    <td>
      <%= @patient.gender %>
    </td>
  </tr>
  <tr>
    <td>
      Age :
    </td>
    <td>
      <%= @patient.age %>
    </td>
  </tr>
  <tr>
    <td>
      Mobile :
    </td>
    <td>
      <%= @patient.mobilenumber %>
    </td>
  </tr>
  <tr>
    <td>
      Email :
    </td>
    <td>
      <%= @patient.email %>
    </td>
  </tr>
  <tr>
    <td>
      Address :
    </td>
    <td>
      <%= @patient.address_1 %><br>
      <%= @patient.address_2 %>
    </td>
  </tr>
  <tr>
    <td>
      City :
    </td>
    <td>
      <%= @patient.city %>
    </td>
  </tr>
  <tr>
    <td>
      State :
    </td>
    <td>
      <%= @patient.state %>
    </td>
  </tr>
  <tr>
    <td>
      Pincode :
    </td>
    <td>
      <%= @patient.pincode %>
    </td>
  </tr>

</table>