<div class="outside-organisation-referral outside_organisation_referral_<%="#{i}"%>">
  <div class="row mb10">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <div class="col-md-12 text-right">
        <a id="delete_outside_organisation_referral_<%=i%>" class="btn btn-xs btn-warning btn-square pull-right cancel_outside_organisation_referral" style=" padding: 0px 10px;" href="javascript:;" name="delete_outside_organisation_referral" ><span class="glyphicon glyphicon-trash"></span> Delete</a>
      </div>
    </div>
  </div>
  <div class="row mb10">
    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-12">
      <div class="col-md-12">
        <b>Date</b>
        <a href="" id="outside_organisation_referral_<%="#{i}"%>_clear_referraldate" style="font-size: 10px;margin-top: -7px;">Clear</a>
      </div>
      <div class="col-md-12">
        <%= text_field_tag "opdrecord[outside_organisation_referral_attributes][#{i}][referraldate]",nil, class: 'form-control outsideorg-referraldate-datepicker full_width', style: 'width:100%;', readonly: true %>
        <%= hidden_field_tag "opdrecord[outside_organisation_referral_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
      </div>
    </div>
    <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12">
      <div class="col-md-12">
        <b>Location</b>
      </div>
      <div class="col-md-12">
        <%= text_field_tag "opdrecord[outside_organisation_referral_attributes][#{i}][referred_facility_name]","", class: 'form-control referred_doctor_name ', style: "width: 100%" %>
      </div>
    </div>
    <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12">
      <div class="col-md-12">
        <b>Consultant</b>
      </div>
      <div class="col-md-12">
        <%= text_field_tag "opdrecord[outside_organisation_referral_attributes][#{i}][referred_doctor_name]","", class: 'form-control referred_doctor_name ', style: "width: 100%"%>
      </div>
    </div>
  </div>
  <div class="row mb10">
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <div class="col-md-12">
        <b>Referral Note</b>
      </div>
      <div class="col-md-12">
        <%= text_area_tag "opdrecord[outside_organisation_referral_attributes][#{i}][referralnote]","", class: 'form-control referralnote ', style: "width: 100%", :rows => 2, :cols => 60, id: "referralnote" %>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">

$(function() {
  $( ".referred_doctor_name" ).autocomplete({
    minLength: 3,
    source: function(request, response) {
      jQuery.ajax({
        dataType: "json",
        type : 'get',
        url: '/opd_referrals/search_referral_doctor',
        data: {q: request.term, remote: "true" },
        success: function(data) {
          items = [];
          for(i = 0; i < data.length; i++){
            items[i] = data[i]
          }
          function onlyUnique(value, index, self) {
            return self.indexOf(value) === index;
          }
          unique = items.filter( onlyUnique );
          response(unique);
        },
        error: function(data) {
        }
      });
    }
  });
});

$('#outside_organisation_referral_<%="#{i}"%>_clear_referraldate').on('click', function(e) {
  e.preventDefault();
  $('#opdrecord_outside_organisation_referral_attributes_<%="#{i}"%>_referraldate').val("");
});

</script>


