<!-- new ui -->
<div class="intra-facility-referral intra_facility_referral_<%="#{i}"%>">
  <div class="row">
    <div class="col-md-12 col-xs-12 col-md-12 clearfix">
      <div class="col-md-1 pull-right">
        <a id="delete_intra_facility_referral_<%=i%>" class="btn btn-xs btn-warning btn-square pull-right cancel_intra_facility_referral" style=" padding: 0px 10px;" href="javascript:;" name="delete_intra_facility_referral" ><span class="glyphicon glyphicon-trash"></span>Delete</a>
      </div>
    </div>
  </div> <!-- row end -->
  <div class="row mb10">
    <div class="col-md-3 col-lg-3 col-xs-6 col-sm-3">
      <div class="col-md-12">
        <b>Date</b>
        <a href="" id='intra_facility_referral_<%="#{i}"%>_clear_referraldate' style="font-size: 10px;margin-top: -7px;">Clear</a>
      </div>
      <div class="col-md-12">
        <%= hidden_field_tag "opdrecord[intra_facility_referral_attributes][#{i}][referraldate]","", class: 'form-control intra-referraldate' %>
        <%= text_field_tag "intra_facility_referral[#{i}][referraldate]",nil, class: 'form-control intra-referraldate-datepicker full_width',readonly: true%>
        <%= hidden_field_tag "opdrecord[intra_facility_referral_attributes][#{i}][facility_id]", @current_facility.id %>
        <%= hidden_field_tag "opdrecord[intra_facility_referral_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
        <%= hidden_field_tag "opdrecord[intra_facility_referral_attributes][0][specialty_id]", params[:ajax][:specialty_id], { class: "form-control intra_facility_referral_row_#{i}" } %>
      </div>
    </div>

    <div class="col-md-3 col-lg-3 col-xs-6 col-sm-3">
      <div class="col-md-12">
        <%= hidden_field_tag "opdrecord[intra_facility_referral_attributes][#{i}][referraltime]","", class: 'form-control intra-referraltime '%>
        <b>Time</b>
      </div>
      <div class="col-md-12">
        <div class="bootstrap-timepicker timepicker" style="position: absolute; width: 100%;">
        <%= text_field_tag "intra_facility_referral[#{i}][referraltime]", Time.current.strftime("%I:%M %p"), { style: 'cursor: pointer;background-color: white;', class: 'form-control intra-referraltime-timepicker full_width'} %>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-lg-3 col-xs-6 col-sm-3">
      <div class="col-md-12">
        <b>Referred From (Doctor)</b>
      </div>
      <div class="col-md-12">
        <%= select_tag("opdrecord[intra_facility_referral_attributes][#{i}][from_user]", options_for_select(@intra_referral_doctors.map { |ele| [ele.fullname, ele.id] }, @current_user.id),{:class => 'form-control user_ddapt', :style => 'width: 100%'}) %>
      </div>
    </div>

    <div class="col-md-3 col-lg-3 col-xs-6 col-sm-3">
      <div class="col-md-12">
        <b>Referred To (Doctor)</b>
      </div>
      <div class="col-md-12">
        <% @referred_to_doctor_array = @intra_referral_doctors.pluck(:fullname, :id).reject{ |ele| ele[1] == @current_user.id } %>
        <%= select_tag("opdrecord[intra_facility_referral_attributes][#{i}][to_user]", options_for_select(@referred_to_doctor_array),{:class => 'form-control user_ddapt to-user-intra-referral', :style => 'width: 100%'}) %>
      </div>
    </div>
  </div> <!-- row end -->

  <div class="row mb10">

    <% if @referral_specialties.count > 1 %>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="col-md-12">
          <b>Specialty</b>
        </div>
        <div class="col-md-12">
          <%= select_tag("opdrecord[intra_facility_referral_attributes][#{i}][specialty_id]", options_for_select(@referral_specialties.pluck(:name, :id), params[:ajax][:specialty_id]), class: "form-control full_width referral_specialty_dropdown")%>
        </div>
      </div>
    <% else %>
      <%= hidden_field_tag "opdrecord[intra_facility_referral_attributes][#{i}][specialty_id]", params[:ajax][:specialty_id], { class: 'form-control' } %>
    <% end %>

    <div class="col-md-3 col-lg-3 col-xs-6 col-sm-3 appointment_type_div_<%= i %>">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <b>Appointment Type <span class="required_field">Required</span></b>
      </div>
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <%= render partial: 'opd_records/ophthalmology_notes/appointment_type_partial', locals: {
          name_attr:"opdrecord[intra_facility_referral_attributes][#{i}][referral_appointment_type_id]", option_values: @appointment_types, selected: "" } %>
      </div>
    </div>

    <div class="col-md-3 col-lg-3 col-xs-6 col-sm-3">
      <div class="col-md-12 col-xs-12 col-lg-12">
        <b>Appointment Category</b>
      </div>
      <div class="col-md-12 col-xs-12 col-lg-12">
        <%= select_tag("opdrecord[intra_facility_referral_attributes][#{i}][referral_appointment_category_id]", options_for_select(@sub_appointment_types.map {|apt_cat| [apt_cat.label, apt_cat.id ]}), prompt: 'Appointment Category', class: "form-control full_width")%>
      </div>
    </div>

    <div class="col-md-3 col-lg-3 col-xs-6 col-sm-3">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
       &nbsp;
      </div>
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="ckbox ckbox-primary margin10">
          <%= check_box "opdrecord[intra_facility_referral_attributes][#{i}]", 'bookreferredappointment', {:class => "myclass", :checked => false}, 'true', 'false' %>
          <label for="opdrecord_intra_facility_referral_attributes_<%=i%>_bookreferredappointment">Make Appointment**</label>
        </div>
      </div>
    </div>
  </div> <!-- row end -->

  <div class="row mb10">
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <div class="col-md-12">
        <b>Referral Note</b>
      </div>
      <div class="col-md-12">
        <%= text_area_tag "opdrecord[intra_facility_referral_attributes][#{i}][referralnote]","", class: 'form-control referralnote ', style: "width: 100%", :rows => 2, :cols => 60, id: "referralnote" %>
      </div>
    </div>
  </div>

</div>

<style type="text/css">
  [data-toggle='tooltip'] + .tooltip > .tooltip-inner {
    background: black;
    color:#ffffff;
    border: 1px solid #000000;
  }
</style>
<script type="text/javascript">
   $('[data-toggle="tooltip"]').tooltip();

    function get_specialty_data(specialty_id, counter) {
      $.ajax({
        type: "GET",
        dataType: "json",
        url: "/opd_referrals/specialty_data",
        data: { specialty_id: specialty_id },
        success: function(response){

          $('#opdrecord_intra_facility_referral_attributes_'+ counter +'_to_user').children().remove();
          $('.appointment_type_div_'+ counter).find('.opdrecord_appointment_type').children().remove();
          $('#opdrecord_intra_facility_referral_attributes_'+ counter +'_referral_appointment_category_id').children().remove();
          var reject_id = '<%= current_user.id %>'

          if (response["doctors"].length == 0){
            $('#opdrecord_intra_facility_referral_attributes_'+ counter +'_to_user').append($("<option></option>").attr("value","").text("No Doctors Available"));
          }else{
            $.each(response["doctors"], function(key, value) {
              if (value[1] != reject_id) {
                $('#opdrecord_intra_facility_referral_attributes_'+ counter +'_to_user').append($("<option></option>").attr("value", value[1]).text(value[0]));
              }
            });
          }

          if (response["appointment_types"].length == 0){
            $('.appointment_type_div_'+ counter).find('.opdrecord_appointment_type').append($("<option></option>").attr("value","").text("No Appointment types Available"));
          }else{
            $.each(response["appointment_types"], function(key, value) {
              $('.appointment_type_div_'+ counter).find('.opdrecord_appointment_type').append($("<option></option>").attr("value", value[1]).text(value[0]));
            });
          }

          if (response["sub_appointment_types"].length == 0){
            $('#opdrecord_intra_facility_referral_attributes_'+ counter +'_referral_appointment_category_id').append($("<option></option>").attr("value","").text("No Appointment types Available"));
          }else{
            $.each(response["sub_appointment_types"], function(key, value) {
              $('#opdrecord_intra_facility_referral_attributes_'+ counter +'_referral_appointment_category_id').append($("<option></option>").attr("value", value[1]).text(value[0]));
            });
          }

        }
      });
    }

    $('.referral_specialty_dropdown').on('change', function(argument) {
      var specialty_id = this.value
      var counter = $(this).attr("id").match(/\d+/)

      get_specialty_data(specialty_id, counter)
    });

    $('#intra_facility_referral_<%="#{i}"%>_clear_referraldate').on('click', function(e) {
      e.preventDefault();
      $('#intra_facility_referral_<%="#{i}"%>_referraldate').val("");
      $('#opdrecord_intra_facility_referral_attributes_<%="#{i}"%>_referraldate').val("");
    });
</script>

