<h4>Inter Facility <span style="font-size: small;">(For Other Locations)</span></h4>

<div class="inter_facility_referral_added">
  <% if opdrecord.has_inter_facility_referral? %>

      <% opdrecord.inter_facility_referral.each_with_index do |elem, i| %>
        <div class="inter-facility-referral-minimized inter_facility_referral_minimized_<%=i%>" >
          <h5 style="display: inline" >Visit <strong>Dr. <%= User.find_by(id: elem.to_user).try(:fullname).try(:upcase) %></strong> at <strong><%= Facility.find_by(id: elem.to_facility).name.titlecase %></strong> on <strong><%= "#{Date.strptime("#{elem.read_attribute(:referraldate)}", "%Y-%m-%d").strftime('%a %b %d, %Y')}" %></strong> at <strong><%= "#{Time.strptime("#{elem.referraltime}", "%Y-%m-%d %H:%M:%S").strftime("%I:%M %p")}" %></strong></h5>
          <span style="display: inline;"><a id="edit_inter_facility_referral_<%=i%>" class="btn btn-xs btn-primary btn-square pull-right edit_inter_facility_referral" style=" padding: 0px 10px;" href="javascript:;" name="edit_inter_facility_referral" ><span class="glyphicon glyphicon-pencil"></span>Edit</a></span>
          <%if elem.referralnote.present?%>
              <h5>Note: <span style="white-space: pre-line"><%= elem.referralnote %></span></h5>
          <%end%>
        </div>

        <div class="inter-facility-referral inter_facility_referral_<%=i%>" style="display:none;">
          <%= hidden_field_tag "opdrecord[inter_facility_referral_attributes][#{i}][referraldate]","#{Date.strptime("#{elem.read_attribute(:referraldate)}", "%Y-%m-%d").strftime('%d/%m/%Y')} #{Time.strptime("#{elem.referraltime}", "%Y-%m-%d %H:%M:%S").strftime("%I:%M %p")}", class: 'form-control inter-referraldate' %>
          <%= hidden_field_tag "opdrecord[inter_facility_referral_attributes][#{i}][id]", elem.id, {:class => 'form-control id' } %>
          <%= hidden_field_tag "opdrecord[inter_facility_referral_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
          <div class="row mb10">
            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 ">
              <div class="col-md-12 text-right">
                <a id="delete_inter_facility_referral_<%=i%>" class="btn btn-xs btn-warning btn-square pull-right delete_inter_facility_referral" style=" padding: 0px 10px;" href="javascript:;" name="delete_inter_facility_referral" ><span class="glyphicon glyphicon-trash"></span>Delete</a>
              </div>
            </div>
          </div>

          <div class="row mb10">
            <div class="col-md-3 col-lg-3 col-xs-6 col-sm-3">
              <div class="col-md-12">
                <b>Date</b>
              </div>
              <div class="col-md-12">
                <%= text_field_tag "inter_facility_referral[#{i}][referraldate]","#{Date.strptime("#{elem.read_attribute(:referraldate)}", "%Y-%m-%d").strftime('%d/%m/%Y')}", class: 'form-control inter-referraldate-datepicker full_width', style: 'width:100%;' %>
              </div>
            </div>

            <div class="col-md-3 col-lg-3 col-xs-6 col-sm-3">
              <div class="col-md-12">
                <b>Referred From Location</b>
              </div>
              <div class="col-md-12">
                <% referred_from_facility = Facility.find_by(id: elem.from_facility) %>
                <%= select_tag("opdrecord[inter_facility_referral_attributes][#{i}][from_facility]", options_for_select(referred_from_facility.to_a.map { |fac| [fac.name, fac.id] }, elem.from_facility), {:class => 'form-control fac_ddap', style: "width: 100%"}) %>
              </div>
            </div>

            <div class="col-md-3 col-lg-3 col-xs-6 col-sm-3">
              <div class="col-md-12">
                <b>Referred From Location's Specialty</b>
              </div>
              <div class="col-md-12">
                <% referred_from_specialties = Specialty.where(:id.in => [elem.from_facility_specialty]).pluck(:name, :id) %>
                <%= select_tag("opdrecord[inter_facility_referral_attributes][#{i}][from_facility_specialty]", options_for_select(referred_from_specialties, elem.from_facility_specialty), {:class => "form-control from_facility_specialty_#{}", style: "width: 100%" }) %>
              </div>
            </div>

            <div class="col-md-3 col-lg-3 col-xs-6 col-sm-3">
              <div class="col-md-12">
                <b>Referred From Doctor</b>
              </div>
              <div class="col-md-12">
                <% doctors_array = User.where(organisation_id: @current_user.organisation_id, facility_ids: elem.from_facility, role_ids: 158965000, specialty_ids: elem.from_facility_specialty, is_active: true).pluck(:fullname, :id) %>
                <%= select_tag("opdrecord[inter_facility_referral_attributes][#{i}][from_user]", options_for_select(doctors_array, elem.from_user),{:class => 'form-control user_ddapt', :style => 'width: 100%'}) %>
              </div>
            </div>
          </div> <!-- row end -->

          <div class="row mb10">
            <div class="col-md-3 col-lg-3 col-xs-6 col-sm-3">
              <div class="col-md-12">
                <b>Time</b>
              </div>
              <div class="col-md-12">
                 <div class="bootstrap-timepicker timepicker" style="position: absolute; width: 94%;">
                  <%= hidden_field_tag "opdrecord[inter_facility_referral_attributes][#{i}][referraltime]","#{Date.strptime("#{elem.read_attribute(:referraldate)}", "%Y-%m-%d").strftime('%d/%m/%Y')} #{Time.strptime("#{elem.referraltime}", "%Y-%m-%d %H:%M:%S").strftime("%I:%M %p")}", class: 'form-control inter-referraltime' %>
                  <%= text_field_tag "inter_facility_referral[#{i}][referraltime]","#{Time.strptime("#{elem.referraltime}", "%Y-%m-%d %H:%M:%S").strftime("%I:%M %p")}", class: 'form-control inter-referraltime-timepicker full_width', style: 'width:94%;' %>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-lg-3 col-xs-6 col-sm-3">
              <div class="col-md-12">
                <b>Referred To Location</b>
              </div>
              <div class="col-md-12">
                <% saved_to_facility  = Facility.find_by(id: elem.to_facility) %>
                <% referral_facilities = (Common.new.fetch_referred_facilities(:current_user => @current_user,:facility_id => @current_facility) + [saved_to_facility]).uniq %>
                <% facilities_array = referral_facilities.map { |facility| [facility.name, facility.id] } %>
                <%= select_tag("opdrecord[inter_facility_referral_attributes][#{i}][to_facility]", options_for_select(facilities_array, elem.to_facility), {:class => 'form-control fac_ddap to-facility-inter-referral', style: "width: 100%"}) %>
              </div>
            </div>

            <div class="col-md-3 col-lg-3 col-xs-6 col-sm-3">
              <div class="col-md-12">
                <b>Referred To Location's Specialty</b>
              </div>
              <div class="col-md-12">
                <% referred_to_specialties = Specialty.where(:id.in => saved_to_facility.specialty_ids).pluck(:name, :id) %>
                <%= select_tag("opdrecord[inter_facility_referral_attributes][#{i}][to_facility_specialty]", options_for_select(referred_to_specialties, elem.to_facility_specialty), {:class => "form-control to_facility_specialty_#{i} to_facility_specialty_dropdown", style: "width: 100%" }) %>
              </div>
            </div>

            <div class="col-md-3 col-lg-3 col-xs-6 col-sm-3">
              <div class="col-md-12">
                <b>Referred To Doctor</b>
              </div>
              <div class="col-md-12">
                <% inter_doctors_array = User.where(organisation_id: @current_user.organisation_id, facility_ids: elem.to_facility, specialty_ids: elem.to_facility_specialty, role_ids: 158965000, is_active: true).pluck(:fullname, :id) %>
                <%= select_tag("opdrecord[inter_facility_referral_attributes][#{i}][to_user]", options_for_select(inter_doctors_array, elem.to_user),{:class => 'form-control user_ddapt', :style => 'width: 100%'}) %>
              </div>
            </div>
          </div> <!-- row end -->

          <div class="row mb10">
            <div class="col-md-6">
              <div class="col-md-12">
                <b>Referral Note</b>
              </div>
              <div class="col-md-12">
                <%= text_area_tag "opdrecord[inter_facility_referral_attributes][#{i}][referralnote]","#{elem.read_attribute(:referralnote)}", class: 'form-control referralnote ', style: "width: 100%", :rows => 2, :cols => 60, id: "referralnote" %>
              </div>
            </div>

            <div class="col-md-6 text-center">
              <div class="row" style="margin-top: 33px;">
                <span class='label label-danger' id="doc_not_found_label_<%=i%>" style='font-style:italic;display: none;font-size: 14px;'>Referrals without selecting any doctors will not be saved.</span>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    <a id="add_inter_facility_referral" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="add_inter_facility_referral" ><span class="glyphicon glyphicon-plus-sign"></span>Add</a>

  <% else %>
    <!-- new ui -->
    <div class="inter-facility-referral inter_facility_referral_0">
      <div class="row mb10">
        <div class="col-md-3 col-lg-3 col-xs-6 col-sm-3">
          <div class="col-md-12">
            <b>Date</b>
            <a href="" id="inter_facility_referral_0_clear_referraldate" style="font-size: 10px;margin-top: -7px;">Clear</a>
          </div>
          <div class="col-md-12">
            <%= hidden_field_tag "opdrecord[inter_facility_referral_attributes][0][referraldate]","", class: 'form-control inter-referraldate' %>
            <%= text_field_tag "inter_facility_referral[0][referraldate]",nil, class: 'form-control inter-referraldate-datepicker full_width', style: 'width:100%;', readonly: true %>
            <%= hidden_field_tag "opdrecord[inter_facility_referral_attributes][0][_destroy]", "0", {:class => 'form-control' } %>
          </div>
        </div>

        <div class="col-md-3 col-lg-3 col-xs-6 col-sm-3">
          <div class="col-md-12">
            <b>Referred From Location</b>
          </div>
          <div class="col-md-12">
            <%= select_tag("opdrecord[inter_facility_referral_attributes][0][from_facility]", options_for_select(@current_facility.to_a.map { |facility| [facility.name, facility.id] }), {:class => 'form-control fac_ddap', style: "width: 100%"}) %>
          </div>
        </div>

        <div class="col-md-3 col-lg-3 col-xs-6 col-sm-3">
          <div class="col-md-12">
            <b>Referred From Location's Specialty</b>
          </div>
          <div class="col-md-12">
            <% referred_from_specialties = Specialty.where(:id.in => [@appointment.specialty_id]).pluck(:name, :id) %>
            <%= select_tag("opdrecord[inter_facility_referral_attributes][0][from_facility_specialty]", options_for_select(referred_from_specialties), {:class => 'form-control from_facility_specialty_0', style: "width: 100%" }) %>
          </div>
        </div>

        <div class="col-md-3 col-lg-3 col-xs-6 col-sm-3">
          <div class="col-md-12">
            <b>Referred From Doctor</b>
          </div>
          <div class="col-md-12">
            <% doctors_array = User.where(facility_ids: @current_facility.id, role_ids: 158965000, specialty_ids: referred_from_specialties[0][1], is_active: true).pluck(:fullname, :id) %>
            <%= select_tag("opdrecord[inter_facility_referral_attributes][0][from_user]", options_for_select(doctors_array, @current_user.id),{:class => 'form-control user_ddapt', :style => 'width: 100%'}) %>
          </div>
        </div>
      </div> <!-- row end -->

      <div class="row mb10">
        <div class="col-md-3 col-lg-3 col-xs-6 col-sm-3">
          <div class="col-md-12">
            <b>Time</b>
          </div>
          <div class="col-md-12">
            <div class="bootstrap-timepicker timepicker" style="position: absolute; width: 94%;">
              <%= hidden_field_tag "opdrecord[inter_facility_referral_attributes][0][referraltime]","", class: 'form-control inter-referraltime'%>
              <%= text_field_tag "inter_facility_referral[0][referraltime]", Time.current.strftime("%I:%M %p"), class: 'form-control inter-referraltime-timepicker full_width', style: 'width:94%;' %>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-lg-3 col-xs-6 col-sm-3">
          <div class="col-md-12">
            <b>Referred To Location</b>
          </div>
          <div class="col-md-12">
            <%# referral_facilities = Common.new.fetch_referred_facilities(current_user: @current_user, facility_id: @current_facility) %>
            <%= select_tag("opdrecord[inter_facility_referral_attributes][0][to_facility]", options_for_select(@referral_facilities.map { |facility| [facility.name, facility.id] }), {:class => 'form-control fac_ddap to-facility-inter-referral', style: "width: 100%"}) %>
          </div>
        </div>

        <div class="col-md-3 col-lg-3 col-xs-6 col-sm-3">
          <div class="col-md-12">
            <b>Referred To Location's Specialty</b>
          </div>
          <div class="col-md-12">
            <% referred_to_specialties = Specialty.where(:id.in => @referral_facilities[0]&.specialty_ids.to_a).pluck(:name, :id) %>
            <%= select_tag("opdrecord[inter_facility_referral_attributes][0][to_facility_specialty]", options_for_select(referred_to_specialties || []), {:class => 'form-control to_facility_specialty_0 to_facility_specialty_dropdown', style: "width: 100%" }) %>
          </div>
        </div>

        <div class="col-md-3 col-lg-3 col-xs-6 col-sm-3">
          <div class="col-md-12">
            <b>Referred To Doctor</b>
          </div>
          <div class="col-md-12">
            <% if referred_to_specialties.present? %>
              <% to_doctors_array = User.where(organisation_id: @current_user.organisation_id, facility_ids: @referral_facilities[0].try(:id), specialty_ids: referred_to_specialties[0][1], role_ids: 158965000, is_active: true).pluck(:fullname, :id) %>
            <% else %>
              <% to_doctors_array = [] %>
            <% end %>

            <%= select_tag("opdrecord[inter_facility_referral_attributes][0][to_user]", options_for_select(to_doctors_array || []),{:class => 'form-control inter_fac_specialty_doctors_0', :style => 'width: 100%'}) %>
          </div>
        </div>
      </div> <!-- row end -->

      <div class="row mb10">
        <div class="col-md-6">
          <div class="col-md-12">
            <b>Referral Note</b>
          </div>
          <div class="col-md-12">
            <%= text_area_tag "opdrecord[inter_facility_referral_attributes][0][referralnote]","", class: 'form-control referralnote ', style: "width: 100%", :rows => 2, :cols => 60, id: "referralnote" %>
          </div>
        </div>

        <div class="col-md-6 text-center">
          <div class="row" style="margin-top: 33px;">
            <span class='label label-danger' id="doc_not_found_label_0" style='font-style:italic;display: none;font-size: 14px;'>Referrals without selecting any doctors will not be saved.</span>
          </div>
        </div>
      </div>
    </div>
    <a id="add_inter_facility_referral" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="add_inter_facility_referral" ><span class="glyphicon glyphicon-plus-sign"></span>Add</a>

  <% end %>
</div>

<div class="inter_facility_referral_removed" style="display: none;">
  <%= text_field_tag "opdrecord[inter_facility_referral_removed_id]", "", {:class => 'form-control' } %>
</div>

<div id="dialog-confirm-delete-referral" title="Are you sure ?" class="hidden">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Delete this referral. </p>
</div>

<script>
  jQuery(document).ready(function() {
    datepicker_options = {
      dateFormat: "dd/mm/yy",
      minDate: 0
    };
    jQuery('.inter-referraltime-timepicker').timepicker({minuteStep: 5});
    jQuery('.inter-referraldate-datepicker').datepicker(datepicker_options);

    $(".inter-referraldate-datepicker").on('change', function(){
      var timestamp = $(this).val() + " " + $(this).parents('.inter-facility-referral').find('.inter-referraltime-timepicker').val()
      $(this).parents('.inter-facility-referral').find('.inter-referraldate').attr("value", timestamp)
      $(this).parents('.inter-facility-referral').find('.inter-referraltime').attr("value", timestamp)
    })

    $(".inter-referraltime-timepicker").on('change', function(){
      var timestamp = $(this).parents('.inter-facility-referral').find(".inter-referraldate-datepicker").val() + " " + $(this).val()
      $(this).parents('.inter-facility-referral').find('.inter-referraldate').attr("value", timestamp)
      $(this).parents('.inter-facility-referral').find('.inter-referraltime').attr("value", timestamp)
    })

    function get_facility_specialties(facility_id, counter) {
      $.ajax({
        type: "GET",
        dataType: "json",
        url: "/main/get_facility_specialties",
        data: { facility_id: facility_id },

        success: function (response) {
          jQuery('#opdrecord_inter_facility_referral_attributes_'+counter+'_to_facility_specialty').children().remove();

          jQuery.each(response, function (key, value) {
            jQuery('#opdrecord_inter_facility_referral_attributes_'+ counter +'_to_facility_specialty').append($("<option></option>").attr("value", value["_id"]).text(value["name"]));
          });

          $('#opdrecord_inter_facility_referral_attributes_'+ counter +'_to_facility_specialty').css("background-color",'rgb(247, 232, 225)')
          setTimeout(function(argument) {
            $('#opdrecord_inter_facility_referral_attributes_'+ counter +'_to_facility_specialty').css("background-color",'')
          }, 300)

          var specialty_id = jQuery(".to_facility_specialty_"+ counter).val()
          get_specialty_doctors(facility_id, specialty_id, counter)
        }
      });
    }

    function get_specialty_doctors(facility_id, specialty_id, counter) {
      $.ajax({
        type: "GET",
        dataType: "json",
        url: "/main/get_users_from_specialty",
        data: { facility_id: facility_id, specialty_id: specialty_id },

        success: function (response) {
          $('#opdrecord_inter_facility_referral_attributes_'+counter+'_to_user').children().remove()
          var users = eval(response["users"])

          if (users.length == 0){
            $('#opdrecord_inter_facility_referral_attributes_'+counter+'_to_user').append($("<option></option>").attr("value","").text("No Doctors Available for this specialty"));
            $('#opdrecord_inter_facility_referral_attributes_'+counter+'_to_user').trigger('change');
            $('#doc_not_found_label_'+ counter).fadeIn()
          } else {
            $.each(users, function(key, value) {
              $('#opdrecord_inter_facility_referral_attributes_'+counter+'_to_user').append($("<option></option>").attr("value", value[1]).text(value[0])).trigger('change');
            });
            $('#doc_not_found_label_'+ counter).fadeOut()
          }

          $('#opdrecord_inter_facility_referral_attributes_'+ counter +'_to_user').css("background-color",'rgb(247, 232, 225)')
          setTimeout(function(argument) {
            $('#opdrecord_inter_facility_referral_attributes_'+ counter +'_to_user').css("background-color",'')
          }, 300)
        }
      });
    }

    $('.to-facility-inter-referral').on("change", function(){
      var facility_id = this.value
      var counter = $(this).attr("id").match(/\d+/)[0]

      get_facility_specialties(facility_id, counter)
    })

    $('.to_facility_specialty_dropdown').on("change", function(){
      var specialty_id = this.value
      var counter = $(this).attr("id").match(/\d+/)[0]
      var facility_id = $('#opdrecord_inter_facility_referral_attributes_'+ counter +'_to_facility').val()

      get_specialty_doctors(facility_id, specialty_id, counter)
    })

    jQuery('.inter_facility_referral_added').on('click', "a[name*='edit_inter_facility_referral']", function() {
      var counter = $(this).attr("id").match(/\d+/)[0]
      $('.inter_facility_referral_minimized_'+counter).hide()
      $('.inter_facility_referral_'+counter).show()
    });

    jQuery('.inter_facility_referral_added').on('click', "a[name*='min_inter_facility_referral']", function() {
      var counter = $(this).attr("id").match(/\d+/)[0]
      $('.inter_facility_referral_minimized_'+counter).show()
      $('.inter_facility_referral_'+counter).hide()
    });

    jQuery('.inter_facility_referral_added').on('click', "a[name*='delete_inter_facility_referral']",function(e){
      e.preventDefault();
      var fieldcounter = $(this).attr('id').slice(-1);

      if ($(this).hasClass('cancel_inter_facility_referral')) {
        delete_inter_facility_referral(fieldcounter)
      } else {
        $('#dialog-confirm-delete-referral').removeClass("hidden")
        var dialog = $('#dialog-confirm-delete-referral').dialog({
          resizable: false,
          height: "auto",
          width: 400,
          modal: true,
          buttons: {
            "Yes": function() {
              delete_inter_facility_referral(fieldcounter)
              dialog.dialog('close');
            },
            "No":  function() {
              dialog.dialog('close');
            }
          }
        });
        $('.ui-dialog-titlebar-close').addClass("fa fa-close")
      }
    })

    function delete_inter_facility_referral(counter){
      event.preventDefault();
      var referral_removed_div_html;
      var referral_div_array = jQuery('#delete_inter_facility_referral_'+counter).parents('.inter-facility-referral').find(".id");

      if (referral_div_array.length > 0) {
        jQuery('.inter_facility_referral_minimized_'+counter).remove()
        jQuery('#delete_inter_facility_referral_'+counter).parents('.inter-facility-referral').find("input[name*='_destroy']").val("1");
        referral_removed_div_html = jQuery('#delete_inter_facility_referral_'+counter).parents('.inter-facility-referral').wrap('<p/>').parent().html();
        jQuery('#delete_inter_facility_referral_'+counter).parents('.inter-facility-referral').unwrap();
        jQuery('.inter_facility_referral_removed').append(referral_removed_div_html);
        jQuery('#delete_inter_facility_referral_'+counter).parents('.inter-facility-referral').remove();
        _renumber_after_remove("div.inter_facility_referral_added", "div.inter_facility_referral_removed")
        _renumber_min_after_remove("div.inter_facility_referral_added")
      } else {
        jQuery('#delete_inter_facility_referral_'+counter).parents('.inter-facility-referral').remove();
        _renumber_after_remove("div.inter_facility_referral_added", "div.inter_facility_referral_removed")
      }
      //      _add_button_at_last()
    }

    jQuery('.inter_facility_referral_added').on('click', "a[name*='add_inter_facility_referral']", function() {
      var fieldcounter;
      if (jQuery(".inter_facility_referral_added> .inter-facility-referral").length == 0){
        fieldcounter = 0;
      } else {
        fieldcounter = jQuery(".inter_facility_referral_added > .inter-facility-referral").length;
      }
      var specialty_id = "<%= @appointment.specialty_id %>"
      var params = { counter: fieldcounter, specialty_id: specialty_id };
      jQuery.ajax({
        type: "GET",
        dataType: "script",
        url: "/opd_referrals/add_inter_facility_referral",
        data: {ajax: params, remote: "true" },
        async: false,
        success: function(){
        }
      });
      _renumber_after_remove("div.inter_facility_referral_added", "div.inter_facility_referral_removed");
    });

    function _renumber_min_after_remove(added, removed) {
      var counter = 0;

      jQuery(added).find(".inter-facility-referral-minimized").each(function () {
        var oldattrclass = ($(this).attr('class').split(' ')[1])
        var newattrclass = oldattrclass.replace(/\_[0-9]/g, '_' + counter)
        jQuery(this).removeClass(oldattrclass)
        jQuery(this).addClass(newattrclass)

        jQuery(this).find("a").each(function (index, element) {
          var idattr;
          idattr = element.id.replace(/[0-9]/g, counter);
          jQuery(this).attr('id', idattr);
        });
        counter++;
      });
    };

    function _renumber_after_remove(added, removed) {
      var counter = 0;

      jQuery(added).find(".inter-facility-referral").each(function() {
        var oldattrclass = ($(this).attr('class').split(' ')[1])
        var newattrclass = oldattrclass.replace(/\_[0-9]/g, '_'+counter)
        jQuery(this).removeClass(oldattrclass)
        jQuery(this).addClass(newattrclass)

        jQuery(this).find(".row").each(function() {
          jQuery(this).find("a").each(function(index, element) {
            var idattr;
            idattr = element.id.replace(/[0-9]/g, counter);
            jQuery(this).attr('id', idattr);
          });
          jQuery(this).find("input").each(function(index, element) {
            var nameattr, idattr;
            nameattr = element.name.replace(/\[[0-9]+\]/g, '['+counter+']');
            idattr = element.id.replace(/\_[0-9]+\_/g, '_'+counter+'_');
            jQuery(this).attr('name', nameattr);
            jQuery(this).attr('id', idattr);
          });

          jQuery(this).find("textarea").each(function(index, element) {
            var nameattr, idattr;
            nameattr = element.name.replace(/\[[0-9]+\]/g, '['+counter+']');
            idattr = element.id.replace(/\_[0-9]+\_/g, '_'+counter+'_');
            jQuery(this).attr('name', nameattr);
            jQuery(this).attr('id', idattr);
          });

          jQuery(this).find("select").each(function(index, element) {
            var nameattr, idattr;
            nameattr = element.name.replace(/\[[0-9]+\]/g, '['+counter+']');
            idattr = element.id.replace(/\_[0-9]+\_/g, '_'+counter+'_');
            jQuery(this).attr('name', nameattr);
            jQuery(this).attr('id', idattr);
          });

        });
        counter++;
      });
      jQuery(removed).find(".inter-facility-referral").each(function() {
        var oldattrclass = ($(this).attr('class').split(' ')[1])
        var newattrclass = oldattrclass.replace(/\_[0-9]/g, '_'+counter)
        jQuery(this).removeClass(oldattrclass)
        jQuery(this).addClass(newattrclass)


        jQuery(this).find(".row").each(function() {
          jQuery(this).find("a").each(function(index, element) {
            var idattr;
            idattr = element.id.replace(/[0-9]/g, counter);
            jQuery(this).attr('id', idattr);
          });
          jQuery(this).find("input").each(function(index, element) {
            var nameattr, idattr;
            nameattr = element.name.replace(/\[[0-9]+\]/g, '['+counter+']');
            idattr = element.id.replace(/\_[0-9]+\_/g, '_'+counter+'_');
            jQuery(this).attr('name', nameattr);
            jQuery(this).attr('id', idattr);
          });

          jQuery(this).find("textarea").each(function(index, element) {
            var nameattr, idattr;
            nameattr = element.name.replace(/\[[0-9]+\]/g, '['+counter+']');
            idattr = element.id.replace(/\_[0-9]+\_/g, '_'+counter+'_');
            jQuery(this).attr('name', nameattr);
            jQuery(this).attr('id', idattr);
          });

          jQuery(this).find("select").each(function(index, element) {
            var nameattr, idattr;
            nameattr = element.name.replace(/\[[0-9]+\]/g, '['+counter+']');
            idattr = element.id.replace(/\_[0-9]+\_/g, '_'+counter+'_');
            jQuery(this).attr('name', nameattr);
            jQuery(this).attr('id', idattr);
          });

        });
        counter++;
      });
    }
  });

  $('#inter_facility_referral_0_clear_referraldate').on('click', function(e) {
    e.preventDefault();
    $('#inter_facility_referral_0_referraldate').val("");
    $('#opdrecord_inter_facility_referral_attributes_0_referraldate').val("");
  });
</script>
<style type="text/css">
  .inter-referraltime-timepicker {
    cursor: pointer !important;
    background: #fff !important;
  }
</style>