<h4>Outside Organisation</h4>
<% if @templatetype == 'vision' %>
  <button id="btn-add-sub-referral-type" class="btn btn-link btn-xs"><i class='fa fa-plus'></i> Add Consultant</button>
<% else %>
  <button id="btn-add-sub-referral-type" class="btn btn-link btn-xs"><i class='fa fa-plus'></i> Add Doctor</button>
<% end %>

<div class="outside_organisation_referral_added">
  <% if opdrecord.has_outside_organisation_referral? %>

    <% opdrecord.outside_organisation_referral.each_with_index do |elem, i| %>

      <div class="outside-organisation-referral-minimized outside_organisation_referral_minimized_<%=i%>" >
        <h5 style="display: inline" >Visit <strong><% if @current_facility.country_id != 'KH_039' %>Dr. </b><% end %><%=elem.referred_doctor_name.upcase%></strong><% if elem.referred_facility_name.present? %> at <strong><%= elem.referred_facility_name.titlecase %></strong><% end %><% if elem.referraldate.present? %> on <strong><%= "#{Date.strptime("#{elem.read_attribute(:referraldate)}", "%Y-%m-%d").strftime('%d/%m/%Y')}" %></strong><% end %></h5>
        <span style="display: inline;"><a id="edit_outside_organisation_referral_<%=i%>" class="btn btn-xs btn-primary btn-square pull-right edit_outside_organisation_referral" style=" padding: 0px 10px;" href="javascript:;" name="edit_outside_organisation_referral" ><span class="glyphicon glyphicon-pencil"></span>Edit</a></span>
        <%if elem.referralnote.present?%>
            <h5>Note: <span style="white-space: pre-line"><%= elem.referralnote %></span></h5>
        <%end%>
      </div>

      <div class="outside-organisation-referral outside_organisation_referral_<%=i%>" style="display:none;">
        <div class="row mb10">
          <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div class="col-md-12 text-right">
              <a id="delete_outside_organisation_referral_<%=i%>" class="btn btn-xs btn-warning btn-square pull-right delete_outside_organisation_referral" style=" padding: 0px 10px;" href="javascript:;" name="delete_outside_organisation_referral" ><span class="glyphicon glyphicon-trash"></span>Delete</a>
            </div>
          </div>
        </div>
        <div class="row mb10">
          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-12">
            <div class="col-md-12">
              <b>Date</b>
            </div>
            <div class="col-md-12">
             <% referral_date = "#{Date.strptime("#{elem.read_attribute(:referraldate)}", "%Y-%m-%d").strftime('%d/%m/%Y')}" if elem.referraldate.present? %>
             <%= text_field_tag "opdrecord[outside_organisation_referral_attributes][#{i}][referraldate]",referral_date, class: 'form-control outsideorg-referraldate-datepicker full_width', readonly:true %>
              <%= hidden_field_tag "opdrecord[outside_organisation_referral_attributes][#{i}][id]", elem.id, {:class => 'form-control id' } %>
              <%= hidden_field_tag "opdrecord[outside_organisation_referral_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
            </div>
          </div>

          <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12">
            <div class="col-md-12">
              <b>Location</b>
            </div>
            <div class="col-md-12">
              <%= text_field_tag "opdrecord[outside_organisation_referral_attributes][#{i}][referred_facility_name]","#{elem.read_attribute(:referred_facility_name)}", class: 'form-control referred_doctor_name ', style: "width: 100%" %>
            </div>
          </div>
          <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12">
            <div class="col-md-12">
              <b>Consultant</b>
            </div>
            <div class="col-md-12">
             <%= text_field_tag "opdrecord[outside_organisation_referral_attributes][#{i}][referred_doctor_name]","#{elem.read_attribute(:referred_doctor_name)}", id: "outside-organisation-referral_doctor", class: 'form-control referred_doctor_name ', style: "width: 100%"%>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-12">
              <b>Referral Note</b>
            </div>
            <div class="col-md-12">
              <%= text_area_tag "opdrecord[outside_organisation_referral_attributes][#{i}][referralnote]","#{elem.read_attribute(:referralnote)}", class: 'form-control referralnote ', style: "width: 100%", :rows => 2, :cols => 60, id: "referralnote" %>
            </div>
          </div>
        </div>
      </div>
    <%end%>
    <a id="add_outside_organisation_referral" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="add_outside_organisation_referral" ><span class="glyphicon glyphicon-plus-sign"></span>Add</a>

  <% else %>
    <div class="outside-organisation-referral outside_organisation_referral_0">
      <div class="row mb10">
        <div class="col-md-2 col-lg-2 col-sm-2 col-xs-12">
          <div class="col-md-12">
            <b>Date</b>
            <a href="" id="outside_organisation_referral_0_clear_referraldate" style="font-size: 10px;margin-top: -7px;">Clear</a>
          </div>
          <div class="col-md-12">
            <%= text_field_tag "opdrecord[outside_organisation_referral_attributes][0][referraldate]",nil, class: 'form-control outsideorg-referraldate-datepicker full_width',readonly: true %>
            <%= hidden_field_tag "opdrecord[outside_organisation_referral_attributes][0][_destroy]", "0", {:class => 'form-control' } %>
          </div>
        </div>
        <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12">
          <div class="col-md-12">
            <b>Location</b>
          </div>
          <div>
            <%= text_field_tag "opdrecord[outside_organisation_referral_attributes][0][referred_facility_name]","", class: 'form-control referred_doctor_name ', style: "width: 100%" %>
          </div>
        </div>
        <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12">
          <div class="col-md-12">
            <b>Consultant</b>
          </div>
          <div class="col-md-12 ui-widget">
            <%= text_field_tag "opdrecord[outside_organisation_referral_attributes][0][referred_doctor_name]","", id: "outside-organisation-referral_doctor", class: 'form-control referred_doctor_name ', style: "width: 100%"%>
          </div>
        </div>
      </div>
      <div class="row mb10">
        <div class="col-md-6">
          <div class="col-md-12">
            <b>Referral Note</b>
          </div>
          <div class="col-md-12">
            <%= text_area_tag "opdrecord[outside_organisation_referral_attributes][0][referralnote]","", class: 'form-control referralnote ', style: "width: 100%", :rows => 2, :cols => 60, id: "referralnote" %>
          </div>
        </div>
      </div>
    </div>
    <a id="add_outside_organisation_referral" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="add_outside_organisation_referral" ><span class="glyphicon glyphicon-plus-sign"></span>Add</a>
  <%end%>

</div>

<div class="outside_organisation_referral_removed" style="display:none;">

</div>

<div id="dialog-confirm-delete-referral" title="Are you sure ?" class="hidden">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Delete this referral. </p>
</div>


<script>

  $('body').on('hidden.bs.modal', '#referral-modal', function (e) {
    if ($('#templates-modal').is(':visible')) {
      $('body').addClass('modal-open');
      $('#templates-modal').focus();
    }
  });

  // Add SubReferralType
  $("#btn-add-sub-referral-type").on('click', function(e){
    e.preventDefault();
    let referral_type_id = ""
    if('<%= @templatetype %>' == 'vision'){
      referral_type_id = "FS-RT-0013";
    } else {
      referral_type_id = "FS-RT-0002";
    }
    if(referral_type_id != ""){
      $.ajax({
        dataType: "script",
        type : 'get',
        url: '/sub_referral_types/new',
        data: { referral_type_id: referral_type_id, location: 'appointment', flag: 'form' },
        success: function(response) {
          $("#referral-modal").modal('show')
        },
        error: function(response) {
        }
      });
    }
  });

  $(function() {
    $( ".referred_doctor_name" ).autocomplete({
      minLength: 3,
      source: function(request, response) {
        jQuery.ajax({
          dataType: "json",
          type : 'get',
          url: '/opd_referrals/search_referral_doctor',
          data: {q: request.term, remote: "true" },
          success: function(data) {
            console.log('hello');
            console.log(data);
            items = [];
            for(i = 0; i < data.length; i++){
              items[i] = data[i]
            }
            function onlyUnique(value, index, self) {
              return self.indexOf(value) === index;
            }
            unique = items.filter( onlyUnique );
            response(unique);
          },
          error: function(data) {
          }
        });
      }
    });
  });

  jQuery(document).ready(function() {
    datepicker_options = {
      dateFormat: "dd/mm/yy",
      minDate: 0
    };
    jQuery('.outsideorg-referraldate-datepicker').datepicker(datepicker_options);



    jQuery('.outside_organisation_referral_added').on('click', "a[name*='edit_outside_organisation_referral']", function() {
      var counter = $(this).attr("id").match(/\d+/)[0]
      $('.outside_organisation_referral_minimized_'+counter).hide()
      $('.outside_organisation_referral_'+counter).show()

    });

    jQuery('.outside_organisation_referral_added').on('click', "a[name*='min_outside_organisation_referral']", function() {
      var counter = $(this).attr("id").match(/\d+/)[0]
      $('.outside_organisation_referral_minimized_'+counter).show()
      $('.outside_organisation_referral_'+counter).hide()
    });


    jQuery('.outside_organisation_referral_added').on('click', "a[name*='delete_outside_organisation_referral']",function(e){
      e.preventDefault();
//      alert("Are you sure")

      var fieldcounter = $(this).attr('id').slice(-1);

      if ($(this).hasClass('cancel_outside_organisation_referral')) {
        delete_outside_organisation_referral(fieldcounter)
      }

      else {
        $('#dialog-confirm-delete-referral').removeClass("hidden")
        var dialog = $('#dialog-confirm-delete-referral').dialog({
          resizable: false,
          height: "auto",
          width: 400,
          modal: true,
          buttons: {
            "Yes": function() {
              delete_outside_organisation_referral(fieldcounter)
              dialog.dialog('close');
            },
            "No":  function() {
              dialog.dialog('close');
            }
          }
        });
        $('.ui-dialog-titlebar-close').addClass("fa fa-close")

      }
    })


    function delete_outside_organisation_referral(counter){
      event.preventDefault();
      var referral_removed_div_html;
      var fieldcounter = counter;
//      console.log(fieldcounter)

      var referral_div_array = jQuery('#delete_outside_organisation_referral_'+fieldcounter).parents('.outside-organisation-referral').find(".id");
//      console.log(referral_div_array)

      if (referral_div_array.length > 0) {

        jQuery('.outside_organisation_referral_minimized_'+fieldcounter).remove()

        jQuery('#delete_outside_organisation_referral_'+fieldcounter).parents('.outside-organisation-referral').find("input[name*='_destroy']").val("1");
        referral_removed_div_html = jQuery('#delete_outside_organisation_referral_'+fieldcounter).parents('.outside-organisation-referral').wrap('<p/>').parent().html();
        jQuery('#delete_outside_organisation_referral_'+fieldcounter).parents('.outside-organisation-referral').unwrap();
        jQuery('.outside_organisation_referral_removed').append(referral_removed_div_html);
        jQuery('#delete_outside_organisation_referral_'+fieldcounter).parents('.outside-organisation-referral').remove();
        _renumber_after_remove("div.outside_organisation_referral_added", "div.outside_organisation_referral_removed")
        _renumber_min_after_remove("div.outside_organisation_referral_added")
      } else {
        jQuery('#delete_outside_organisation_referral_'+fieldcounter).parents('.outside-organisation-referral').remove();
        _renumber_after_remove("div.outside_organisation_referral_added", "div.outside_organisation_referral_removed")
      }
      //      _add_button_at_last()
    }


    jQuery('.outside_organisation_referral_added').on('click', "a[name*='add_outside_organisation_referral']", function() {
      var fieldcounter;
      if (jQuery(".outside_organisation_referral_added> .outside-organisation-referral").length == 0){
        fieldcounter = 0;
      } else {
        fieldcounter = jQuery(".outside_organisation_referral_added > .outside-organisation-referral").length;
      }
      var params = { counter: fieldcounter };
      jQuery.ajax({
        type: "GET",
        dataType: "script",
        url: "/opd_referrals/add_outside_organisation_referral",
        data: {ajax: params, remote: "true" },
        async: false,
        success: function(){
        }
      });

      _renumber_after_remove("div.outside_organisation_referral_added", "div.outside_organisation_referral_removed");

    });


    function _renumber_min_after_remove(added, removed) {
      var counter = 0;

      jQuery(added).find(".outside-organisation-referral-minimized").each(function () {
        var oldattrclass = ($(this).attr('class').split(' ')[1])
        var newattrclass = oldattrclass.replace(/\_[0-9]/g, '_' + counter)
        jQuery(this).removeClass(oldattrclass)
        jQuery(this).addClass(newattrclass)

        jQuery(this).find("a").each(function (index, element) {
          var idattr;
          idattr = element.id.replace(/[0-9]/g, counter);
          jQuery(this).attr('id', idattr);
        });
        counter++;
      });
    };


    function _renumber_after_remove(added, removed) {
      var counter = 0;

      jQuery(added).find(".outside-organisation-referral").each(function() {
        var oldattrclass = ($(this).attr('class').split(' ')[1])
        var newattrclass = oldattrclass.replace(/\_[0-9]/g, '_'+counter)
        jQuery(this).removeClass(oldattrclass)
        jQuery(this).addClass(newattrclass)


        jQuery(this).find(".row").each(function() {
          jQuery(this).find("a").each(function(index, element) {
            var idattr;
            idattr = element.id.replace(/[0-9]/g, counter);
            jQuery(this).attr('id', idattr);
          });
          jQuery(this).find("input").each(function(index, element) {
            var nameattr, idattr;
            nameattr = element.name.replace(/\[[0-9]+\]/g, '['+counter+']');
            idattr = element.id.replace(/\_[0-9]+\_/g, '_'+counter+'_');
            jQuery(this).attr('name', nameattr);
            jQuery(this).attr('id', idattr);
          });

          jQuery(this).find("textarea").each(function(index, element) {
            var nameattr, idattr;
            nameattr = element.name.replace(/\[[0-9]+\]/g, '['+counter+']');
            idattr = element.id.replace(/\_[0-9]+\_/g, '_'+counter+'_');
            jQuery(this).attr('name', nameattr);
            jQuery(this).attr('id', idattr);
          });

          jQuery(this).find("select").each(function(index, element) {
            var nameattr, idattr;
            nameattr = element.name.replace(/\[[0-9]+\]/g, '['+counter+']');
            idattr = element.id.replace(/\_[0-9]+\_/g, '_'+counter+'_');
            jQuery(this).attr('name', nameattr);
            jQuery(this).attr('id', idattr);
          });

        });
        counter++;
      });
      jQuery(removed).find(".outside-organisation-referral").each(function() {
        var oldattrclass = ($(this).attr('class').split(' ')[1])
        var newattrclass = oldattrclass.replace(/\_[0-9]/g, '_'+counter)
        jQuery(this).removeClass(oldattrclass)
        jQuery(this).addClass(newattrclass)


        jQuery(this).find(".row").each(function() {
          jQuery(this).find("a").each(function(index, element) {
            var idattr;
            idattr = element.id.replace(/[0-9]/g, counter);
            jQuery(this).attr('id', idattr);
          });
          jQuery(this).find("input").each(function(index, element) {
            var nameattr, idattr;
            nameattr = element.name.replace(/\[[0-9]+\]/g, '['+counter+']');
            idattr = element.id.replace(/\_[0-9]+\_/g, '_'+counter+'_');
            jQuery(this).attr('name', nameattr);
            jQuery(this).attr('id', idattr);
          });

          jQuery(this).find("textarea").each(function(index, element) {
            var nameattr, idattr;
            nameattr = element.name.replace(/\[[0-9]+\]/g, '['+counter+']');
            idattr = element.id.replace(/\_[0-9]+\_/g, '_'+counter+'_');
            jQuery(this).attr('name', nameattr);
            jQuery(this).attr('id', idattr);
          });

          jQuery(this).find("select").each(function(index, element) {
            var nameattr, idattr;
            nameattr = element.name.replace(/\[[0-9]+\]/g, '['+counter+']');
            idattr = element.id.replace(/\_[0-9]+\_/g, '_'+counter+'_');
            jQuery(this).attr('name', nameattr);
            jQuery(this).attr('id', idattr);
          });

        });
        counter++;
      });
    }
  });

  $('#outside_organisation_referral_0_clear_referraldate').on('click', function(e) {
    e.preventDefault();
    $('#opdrecord_outside_organisation_referral_attributes_0_referraldate').val("");
  });
</script>