
<h5 class="title">Referred Patients (From Outside Locations)
  <!--<a href="/opd_referrals/doctor_view?type=mark_as_viewed" data-remote="true" , style='display: inline;float: right;'>  Acknowledge All</a>-->
  <!--<a href="/opd_referrals/doctor_view?type=delete_all" class="btn btn-danger btn-xs delete-all-referral", data-remote="true", style='display: inline;margin: 120px;font-size: x-small;'> Remove All </a>-->
</h5>

<div id="dialog-confirm" title="Remove All Referrals" class="hidden">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span> Are you sure ?</p>
</div>

<!--<div style="max-height: calc(100% - 300px);overflow-y: scroll;">-->
<ul class="dropdown-list gen-list">

  <% if @opd_referral.count == 0%>
      <h4>You don't have any current referrals...</h4>
  <%else%>
      <% @opd_referral.each do |opd_referral| %>
          <% referred_patient = Patient.find(opd_referral.patient_id)%>
          <li class="new">
            <%= link_to "/patient_summary/" + referred_patient.id.to_s, class: "ps patient-summary-view", id: "patient-summary-timeline-link", data: {remote: "true"} do %>
              <%# if referred_patient.patientassets.present? && referred_patient.patientassets.last.present?  %>
                <%#= image_tag referred_patient.patientassets.last.asset_path_url, :class => "img-rounded pull-left thumb" %>
              <%# else %>
                <%= image_tag "photos/no_picture_available.png", :class => "img-rounded pull-left thumb" %>
              <%# end %>
              <span class="desc">
            <% if (opd_referral.referral_date == Date.current) %>
              <span class="name"><%= referred_patient.fullname.upcase %><span style="float: right;">Today</span></span>
            <%else%>
              <span class="name"><%= referred_patient.fullname.upcase %><span style="float: right;"><%= opd_referral.referral_date.strftime("%d %b %y")%></span></span>
            <%end%>
                <span class="msg" style="color: #666;"><%if opd_referral.referring_note.present? %>Note: <b><%= opd_referral.referring_note %></b><%end%><br><span class="" style="">For: <b>Dr. <%=opd_referral.to_doctor_name %></b></span></span>
          </span>
            <% end %>
            <div class="" style="font-size: smaller; margin-top: 5px">
              <%if opd_referral.converted_to_appointment == true %>
                  <strong>
                    Appointment Created <i class="fa fa-check-circle-o" style="color: green;"></i>
                  </strong>
              <%else%>
          <span>
            <%#= link_to opd_referrals_new_appointment_path(:facility_id => opd_referral.to_facility,:doctor_id => opd_referral.to_doctor,patientid: opd_referral.patient_id,opd_referral_id: opd_referral.id),:title => "Create Appointment", :class => "", :style=>'display: inline',:id=>"add-appointment-btn", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#referral-appointment-modal', method: :get } do %><!-- Create Appointment --><%# end %>
            <%= link_to new_appointment_path(facility_id: opd_referral.to_facility, doctor_id: opd_referral.to_doctor, patient_id: opd_referral.patient_id, opd_referral_id: opd_referral.id, date: Date.current, time: Time.current, direct: true), title: "Create Appointment", style: 'display: inline', id: "add-appointment-btn", data: { :remote => true, 'toggle' =>  "modal", 'target' => '#appointment-modal' } do %>Create Appointment<% end %>
          </span>
              <%end%>
            </div>
          </li>
      <%end%>
  <%end%>


  <!--<li class="new"><a href="#">View All Referrals</a></li>-->
</ul>
<!--</div>-->
<script>
  $('.patient-summary-view').on("click",function() {
    if ($('.headermenu-referral').hasClass('open') == true ){
      $('.headermenu-referral').removeClass('open')
    }
  })
</script>

<style type="text/css">
  .ui-dialog{
    background-color: #FFFFFF;
    /*border: solid 1px black;*/
    border-radius: 3px;
    top: 30% !important;
  }

  .ui-dialog-titlebar{
    border-bottom: 1px solid #e5e5e5;
  }

  .ui-widget-overlay{
    background: #333;
    opacity: 0.6;
  }

  .ui-dialog .ui-dialog-buttonpane button {
    background-color: #31b0d5;
    border: 1px;
    color: #FFFFFF;
    padding: 0px 10px;
    border-radius: 3px;
    border-color: #46b8da;
  }

</style>