<div class="modal-dialog" style="width:70%;">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Change State</h4>
    </div>
    <div class="modal-body">
      <div class="row all-set-state-row mb10">
        <% opd_total_patient_count = @opd_total_patient_count %>
        <% ipd_total_patient_count = @ipd_total_patient_count %>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <b style="text-decoration: underline;color:#000">MARK ALL</b>
            </div>
            <div class="col-md-3">
              <div class="rdio rdio-success">
                <input type="radio" name="user_state_all" class="user-state-all" id="user-state-opd-all" value="OPD">
                <label for="user-state-opd-all">OPD</label>
              </div>
            </div>
            <% mark_all_ot_rb_disabled = (opd_total_patient_count > 0 && @clear_my_queue_before_ot == true) ? "disabled" : "" %>
            <div class="col-md-3">
                <div class="rdio rdio-warning">
                  <input type="radio" name="user_state_all" class="user-state-all" id="user-state-ot-all" value="OT" <%= mark_all_ot_rb_disabled %>>
                  <label for="user-state-ot-all">OT</label>
                </div>
            </div>
            <% mark_all_offline_rb_disabled = (opd_total_patient_count > 0 && @clear_my_queue_before_offline == true) ? "disabled" : "" %>
            <div class="col-md-3">
              <div class="rdio rdio-danger">
                <input type="radio" name="user_state_all" class="user-state-all" id="user-state-offline-all" value="Offline" <%= mark_all_offline_rb_disabled %>>
                <label for="user-state-offline-all">Offline</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row fac-list-row">
        <% @facilities.each_with_index do |fac,i| %>
          <% @userstate = @user_state.find_by(facility_id: fac.id) %>
          <% if @facility_to_myqueue_hash.key?("#{fac.id.to_s}") %>
              <% opd_count = @facility_to_myqueue_hash["#{fac.id.to_s}"][:opd_count] %>
              <% clear_my_queue_before_ot = @facility_to_myqueue_hash["#{fac.id.to_s}"][:clear_my_queue_before_ot] %>
              <% clear_my_queue_before_offline = @facility_to_myqueue_hash["#{fac.id.to_s}"][:clear_my_queue_before_offline] %>
          <% end %>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <b style="text-decoration: underline;color:#000"><%= fac.name.to_s.upcase %></b> <span class="badge badge-pill badge-primary"><%= opd_count %></span>
              </div>
              <div class="col-md-3">
                <div class="rdio rdio-success">
                  <input type="radio" name="user_state_<%=i%>" id="user-state-opd-<%=i%>" data-user-state-id="<%= @userstate.id.to_s %>" value="OPD" <%= "checked='checked'" if @userstate.active_state == "OPD" %>>
                  <label for="user-state-opd-<%=i%>">OPD</label>
                </div>
              </div>
              <% each_fac_ot_rb_disabled = (opd_count > 0 && clear_my_queue_before_ot == true) ? "disabled" : "" %>
              <div class="col-md-3">
                  <div class="rdio rdio-warning">
                    <input type="radio" name="user_state_<%=i%>" id="user-state-ot-<%=i%>" data-user-state-id="<%= @userstate.id.to_s %>" value="OT" <%= "checked='checked'" if @userstate.active_state == "OT" %> <%= each_fac_ot_rb_disabled %>>
                    <label for="user-state-ot-<%=i%>">OT</label>
                  </div>
              </div>
              <% each_fac_offline_rb_disabled = (opd_count > 0 && clear_my_queue_before_offline == true) ? "disabled" : "" %>
              <div class="col-md-3">
                  <div class="rdio rdio-danger">
                    <input type="radio" name="user_state_<%=i%>" id="user-state-offline-<%=i%>" data-user-state-id="<%= @userstate.id.to_s %>" value="Offline" <%= "checked='checked'" if @userstate.active_state == "Offline" %> <%= each_fac_offline_rb_disabled %>>
                    <label for="user-state-offline-<%=i%>">Offline</label>
                  </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="modal-footer">
      <button class="submit-user-state btn btn-success">Save</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(".user-state-all").on('click',function(){
    var all_value = $(this).val()
    var ind_value = $(".fac-list-row").find('input')

    for (var i = ind_value.length - 1; i >= 0; i--) {
      if($(ind_value[i]).val() == all_value){
        $(ind_value[i]).attr('checked','checked')
      } else {
        $(ind_value[i]).removeAttr('checked')
      }
    }
  })


  $(".submit-user-state").on('click',function(){
    var opd = []
    var ot = []
    var offline = []
    var ind_value = $(".fac-list-row").find("input")
    for (var i = ind_value.length - 1; i >= 0; i--) {
      if($(ind_value[i]).attr('checked') == 'checked'){
        if($(ind_value[i]).val() == "OPD"){
          opd.push($(ind_value[i]).attr('data-user-state-id'))
        } else if($(ind_value[i]).val() == "OT") {
          ot.push($(ind_value[i]).attr('data-user-state-id'))
        } else {
          offline.push($(ind_value[i]).attr('data-user-state-id'))
        }
      }
    }
    $.ajax({
      type: 'POST',
      dataType: 'script',
      data: {
        opd: opd,
        ot: ot,
        offline: offline,
        single_facility: false
      },
      url: "/user_states/change_state",
      success: function(res){

      }
    })
  })
</script>
