<div class="inventory-toolbar2 inventory-toolbar">
  <nav class="navbar navbar-secondary navbar-fixed-top" style="margin-bottom: 0px; left: auto; right: auto; width: auto; position: relative;z-index:100; background: #354670;">
    <div class="container-fluid" style="padding-right:0">
      <% if params[:controller] == 'inventory/items' || params[:controller] == 'inventory/item/variants' || params[:controller] == 'inventory/item/lots' || params[:controller] == 'inventory/audit/histories' %>
        <div class="navbar-header col-md-9" style="margin-top: 7px;">
          <div class="inventory_search_panel">
            <div class="input-group">
              <input type="text" id="inventory_search" placeholder="Search here..." class="form-control">
              <span class="input-group-addon"><i class="fa fa-times-circle" style="display: none"></i></span>
            </div>
          </div>
        </div>
        <div class="navbar-header col-md-3" style="margin-top: 7px;">
          <ul class="nav navbar-nav navbar-right">
            <% if params[:controller] == 'inventory/items' %>
              <a href="/inventory/items/download_data.xlsx?department_name=<%= @inventory_store.department_name %>&store_id=<%= @inventory_store.id %>&item_type[]=<%= @category %>&stock=<%= @stock %>" class="btn btn-primary btn-primary-transparent download-invoice-data" style="color:#fff; margin-right: 20px;" title="Stock Valuation"><i class="fa fa-download"></i> Report</a>
            <% elsif params[:controller] == 'inventory/item/variants' %>
              <a href="/inventory/item/variants/download_data.xlsx?department_name=<%= @inventory_store.department_name %>&store_id=<%= @inventory_store.id %>&item_type[]=<%= @category %>&stock=<%= @stock %>" class="btn btn-primary btn-primary-transparent download-invoice-data" style="color:#fff; margin-right: 20px;" title="Stock Valuation"><i class="fa fa-download"></i> Report</a>
            <% elsif params[:controller] == 'inventory/item/lots' %>
              <a href="/inventory/item/lots/download_data.xlsx?department_name=<%= @inventory_store.department_name %>&store_id=<%= @inventory_store.id %>&expiry_time=<%= @expiry_time %>" class="btn btn-primary btn-primary-transparent download-invoice-data" style="color:#fff; margin-right: 20px;" title="Stock Valuation"><i class="fa fa-download"></i> Report</a>
            <% elsif params[:controller] == 'inventory/audit/histories' %>
              <a href="<%= inventory_audit_histories_url(store_id: @store_id, start_date: @start_date, end_date: @end_date, transaction_type: @transaction_type, sub_store_id: @sub_store_id, format: :xlsx) %>" class="btn btn-primary btn-primary download-invoice-data" style="color:#fff; margin-right: 20px;" title="Download XLSX"><i class="fa fa-download"></i> Download</a>
            <% end %>
          </ul>
        </div>
      <% else %>
        <div class="navbar-header col-md-12" style="margin-top: 7px;">
          <div class="inventory_search_panel">
            <div class="input-group">
              <input type="text" id="inventory_search" placeholder="Search here..." class="form-control">
              <span class="input-group-addon"><i class="fa fa-times-circle" style="display: none"></i></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </nav>
</div>
<div class="inventory-show-panel" style="overflow-y: auto">
  <h3 class="text-center" style="margin-top: 200px">Please select from list.</h3>
</div>
