<div class="row">
  <div class="col-sm-12 text-center" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;"><strong>Store Information</strong></div>
</div>
<div class="row" style="margin-top:15px;">
  <div class="col-sm-6">
    <strong>Name</strong><br>
    <%= f.text_field :name, { class: 'form-control p7_10 fullname', placeholder: "Fullname" } %>
  </div>
  <div class="col-sm-3">
    <strong>Abbreviation</strong><br>
    <%= f.text_field :abbreviation_name, { class: 'form-control p7_10 abbreviation', placeholder: "Abbreviation" , minlength: 3, maxlength: 10 } %>
  </div>
  <div class="col-sm-3">
    <strong>Store Type</strong><br>
    <% if @store_type == 'central_hub' %>
      <%= f.select :department_id, [["Central Hub", "550368792"]], { include_blank: true }, { class: 'form-control gender' } %>
      <%= f.hidden_field :store_type, { value: 'central_hub' } %>
    <% else %>
      <%= f.hidden_field :facility_name, { value: current_facility.name } %>
      <%= f.select :department_id, [["Pharmacy","284748001"],["Optical","50121007"],["Central","334046963"], ['OT Store', '384748001'], ['House Keeping', '384748004'], ['Maintenance', '384748005'], ['Marketing Store', '384748002'], ['Stationery Store', '384748003']], { include_blank: true }, { class: 'form-control gender' } %>
    <% end %>

    <%= f.hidden_field :department_name %>
  </div>

</div>

<div class="row" style="margin-top:15px;">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <strong>Enable Stock Management</strong>
      </div>
      <div class="col-md-6">
        <div class="rdio rdio-primary">
          <%= f.radio_button :enable_stock_management, true, {  } %>
          <label for="inventory_store_enable_stock_management_true">Yes</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rdio rdio-primary">
          <%= f.radio_button :enable_stock_management, false, { } %>
          <label for="inventory_store_enable_stock_management_false">No</label>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @store.try(:enable_stock_management) %>
    <% display_store_option = "block" %>
<% else %>
    <% display_store_option = "none" %>
<% end %>

<div class="row toggle-stock-management" style="margin-top:15px;display: <%= display_store_option %> ">
  <% unless @store_type == 'central_hub' %>
    <div class="col-md-6 invoice-creation">
      <div class="row">
        <div class="col-md-12">
          <strong>Enable Invoice Creation</strong>
        </div>
        <div class="col-md-6">
          <div class="rdio rdio-primary">
            <%= f.radio_button :billable_transaction, true, {} %>
            <label for="inventory_store_billable_transaction_true">Yes</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="rdio rdio-primary">
            <%= f.radio_button :billable_transaction, false, {} %>
            <label for="inventory_store_billable_transaction_false">No</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 house-consumption">
      <div class="row">
        <div class="col-md-12">
          <strong>In-House Consumption</strong>
        </div>
        <div class="col-md-6">
          <div class="rdio rdio-primary">
            <%= f.radio_button :in_house_consumption, true, {} %>
            <label for="inventory_store_in_house_consumption_true">Yes</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="rdio rdio-primary">
            <%= f.radio_button :in_house_consumption, false, {} %>
            <label for="inventory_store_in_house_consumption_false">No</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 store-consumption">
      <div class="row">
        <div class="col-md-12">
          <strong>Store Consumption</strong>
        </div>
        <div class="col-md-6">
          <div class="rdio rdio-primary">
            <%= f.radio_button :store_consumption, true, {} %>
            <label for="inventory_store_store_consumption_true">Yes</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="rdio rdio-primary">
            <%= f.radio_button :store_consumption, false, {} %>
            <label for="inventory_store_store_consumption_false">No</label>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <strong>Enable Transfer / Issue of Stock</strong>
      </div>
      <div class="col-md-6">
        <div class="rdio rdio-primary">
          <%= f.radio_button :enable_transfer, true, {} %>
          <label for="inventory_store_enable_transfer_true">Yes</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rdio rdio-primary">
          <%= f.radio_button :enable_transfer, false, {} %>
          <label for="inventory_store_enable_transfer_false">No</label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 enable-tax-invoice">
    <div class="row">
      <div class="col-md-12">
        <strong>Enable Tax Invoice and Challan</strong>
      </div>
      <div class="col-md-6">
        <div class="rdio rdio-primary">
          <%= f.radio_button :enable_tax_invoice, true, {} %>
          <label for="inventory_store_enable_tax_invoice_true">Yes</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rdio rdio-primary">
          <%= f.radio_button :enable_tax_invoice, false, {} %>
          <label for="inventory_store_enable_tax_invoice_false">No</label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row toggle-stock-management" style="margin-top:15px;display: <%= display_store_option %> ">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <strong>Enable Stock Entry</strong>
      </div>
      <div class="col-md-6">
        <div class="rdio rdio-primary">
          <%= f.radio_button :enable_stock_entry, true, {} %>
          <label for="inventory_store_enable_stock_entry_true">Yes</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rdio rdio-primary">
          <%= f.radio_button :enable_stock_entry, false, {} %>
          <label for="inventory_store_enable_stock_entry_false">No</label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <strong>Enable Purchase Order</strong>
      </div>
      <div class="col-md-6">
        <div class="rdio rdio-primary">
          <%= f.radio_button :enable_purchase_order, true, {} %>
          <label for="inventory_store_enable_purchase_order_true">Yes</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rdio rdio-primary">
          <%= f.radio_button :enable_purchase_order, false, {} %>
          <label for="inventory_store_enable_purchase_order_false">No</label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row toggle-stock-management" style="margin-top:15px;display: <%= display_store_option %> ">
  <% unless @store_type == 'central_hub' %>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <strong>Enable Recieving Items</strong>
        </div>
        <div class="col-md-6">
          <div class="rdio rdio-primary">
            <%= f.radio_button :enable_receiving, true, {} %>
            <label for="inventory_store_enable_receiving_true">Yes</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="rdio rdio-primary">
            <%= f.radio_button :enable_receiving, false, {} %>
            <label for="inventory_store_enable_receiving_false">No</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <strong>Enable Master Configuration</strong>
        </div>
        <div class="col-md-6">
          <div class="rdio rdio-primary">
            <%= f.radio_button :master_configuration, true, {} %>
            <label for="inventory_store_master_configuration_true">Yes</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="rdio rdio-primary">
            <%= f.radio_button :master_configuration, false, {} %>
            <label for="inventory_store_master_configuration_false">No</label>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row toggle-stock-management" style="margin-top:15px;display: none ">
  <% unless @store_type == 'central_hub' %>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <strong>Enable Transfer Order</strong>
        </div>
        <div class="col-md-6">
          <div class="rdio rdio-primary">
            <%= f.radio_button :enable_transfer_order, true, {} %>
            <label for="inventory_store_enable_transfer_order_true">Yes</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="rdio rdio-primary">
            <%= f.radio_button :enable_transfer_order, false, {} %>
            <label for="inventory_store_enable_transfer_order_false">No</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <strong>Enable Receiving Order</strong>
        </div>
        <div class="col-md-6">
          <div class="rdio rdio-primary">
            <%= f.radio_button :enable_receiving_order, true, {} %>
            <label for="inventory_store_enable_receiving_order_true">Yes</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="rdio rdio-primary">
            <%= f.radio_button :enable_receiving_order, false, {} %>
            <label for="inventory_store_enable_receiving_order_false">No</label>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%# if @store_type == 'central_hub' %>
  <!-- <div class="row toggle-stock-management" style="margin-top:15px; ">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <strong>Transfer Items To Linked Stores</strong>
        </div>
        <div class="col-md-6">
          <div class="rdio rdio-primary">
            <%= f.radio_button :transfer_to_linked_stores, true, {} %>
            <label for="inventory_store_transfer_to_linked_stores_true">Yes</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="rdio rdio-primary">
            <%= f.radio_button :transfer_to_linked_stores, false, {} %>
            <label for="inventory_store_transfer_to_linked_stores_false">No</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <strong>Receive Items From Linked Stores</strong>
        </div>
        <div class="col-md-6">
          <div class="rdio rdio-primary">
            <%= f.radio_button :receive_items_from_linked_stores, true, {} %>
            <label for="inventory_store_receive_items_from_linked_stores_true">Yes</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="rdio rdio-primary">
            <%= f.radio_button :receive_items_from_linked_stores, false, {} %>
            <label for="inventory_store_receive_items_from_linked_stores_false">No</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row toggle-stock-management" style="margin-top:15px;">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <strong>Transfer Other Central Hub</strong>
        </div>
        <div class="col-md-6">
          <div class="rdio rdio-primary">
            <%= f.radio_button :transfer_other_central_hub, true, {} %>
            <label for="inventory_store_transfer_other_central_hub_true">Yes</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="rdio rdio-primary">
            <%= f.radio_button :transfer_other_central_hub, false, {} %>
            <label for="inventory_store_transfer_other_central_hub_false">No</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <strong>Receive Items From Other Central Hub</strong>
        </div>
        <div class="col-md-6">
          <div class="rdio rdio-primary">
            <%= f.radio_button :receive_items_from_other_central_hub, true, {} %>
            <label for="inventory_store_receive_items_from_other_central_hub_true">Yes</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="rdio rdio-primary">
            <%= f.radio_button :receive_items_from_other_central_hub, false, {} %>
            <label for="inventory_store_receive_items_from_other_central_hub_false">No</label>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<%# end %>

<div class="row toggle-stock-management" style="margin-top:15px;display: <%= display_store_option %> ">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <strong>Re Order Level</strong>
      </div>
      <div class="col-md-6">
        <div class="rdio rdio-primary">
          <%= f.radio_button :reorder_level, true, {} %>
          <label for="inventory_store_reorder_level_true">Yes</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rdio rdio-primary">
          <%= f.radio_button :reorder_level, false, {} %>
          <label for="inventory_store_reorder_level_false">No</label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <strong>Enable Sub-Store</strong>
      </div>
      <div class="col-md-6">
        <div class="rdio rdio-primary">
          <%= f.radio_button :enable_sub_store, true, {} %>
          <label for="inventory_store_enable_sub_store_true">Yes</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rdio rdio-primary">
          <%= f.radio_button :enable_sub_store, false, {} %>
          <label for="inventory_store_enable_sub_store_false">No</label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row toggle-stock-management" style="margin-top:15px;display: <%= display_store_option %> ">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <strong>Enable Requisition</strong>
      </div>
      <div class="col-md-6">
        <div class="rdio rdio-primary">
          <%= f.radio_button :requisition, true, {} %>
          <label for="inventory_store_requisition_true">Yes</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rdio rdio-primary">
          <%= f.radio_button :requisition, false, {} %>
          <label for="inventory_store_requisition_false">No</label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <strong>Enable Requisition Fulfillment</strong>
      </div>
      <div class="col-md-6">
        <div class="rdio rdio-primary">
          <%= f.radio_button :requisition_fulfillment, true, {} %>
          <label for="inventory_store_requisition_fulfillment_true">Yes</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rdio rdio-primary">
          <%= f.radio_button :requisition_fulfillment, false, {} %>
          <label for="inventory_store_requisition_fulfillment_false">No</label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row toggle-stock-management" style="margin-top:15px;display: <%= display_store_option %> ">
  <div class="col-md-6 enable-disable-auto-requisition">
    <div class="row">
      <div class="col-md-12">
        <strong>Enable Auto Requisition</strong>
      </div>
      <div class="col-md-6">
        <div class="rdio rdio-primary">
          <%= f.radio_button :auto_requisition, true, {} %>
          <label for="inventory_store_auto_requisition_true">Yes</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rdio rdio-primary">
          <%= f.radio_button :auto_requisition, false, {} %>
          <label for="inventory_store_auto_requisition_false">No</label>
        </div>
      </div>
    </div>
  </div>
  <% if @store_type == 'central_hub' %>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <strong>Enable Master Configuration</strong>
        </div>
        <div class="col-md-6">
          <div class="rdio rdio-primary">
            <%= f.radio_button :master_configuration, true, {} %>
            <label for="inventory_store_master_configuration_true">Yes</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="rdio rdio-primary">
            <%= f.radio_button :master_configuration, false, {} %>
            <label for="inventory_store_master_configuration_false">No</label>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row" style="margin-top:15px;">
  <% if @store_type != 'central_hub' %>
    <div class="<%=@col_length%>">
      <div class="row">
        <div class="col-sm-12">
          <strong>Facilities</strong><br>
          <% facilities = (@facilities  if @facilities.present?) || [] %>
          <%= select_tag "inventory_store[facility_id]", options_for_select(facilities, @store.facility_id.to_s), { class: 'form-control facility_id', multiple: false } %>
        </div>
      </div>
    </div>
    <div class="<%=@col_length%> auto-requisition-central-hub">
      <div class="row">
        <div class="col-sm-12">
          <strong>Receiving Store</strong><br>
          <% requisition_requested_store = (@requisition_requested_store  if @requisition_requested_store.present?) || [] %>
          <%= select_tag "inventory_store[requisition_requested_store_id]", options_for_select(requisition_requested_store, @store.requisition_requested_store_id.to_s), { class: 'form-control requisition_requested_store_id', multiple: false, include_blank: true, required: true } %>
          <%= f.hidden_field :requisition_requested_store_name %>
        </div>
      </div>
    </div>
  <% end %>
  <% if @enable_entity_group %>
    <div class="col-sm-4">
      <strong>Entity Group</strong>
      <%= f.select :entity_group_id, options_for_select(@entity_groups.collect {|r| [ "#{r.name} - #{r.abbreviation}", r.id ] }, @store.entity_group_id), { include_blank: 'Select Entity Group'}, {class: 'form-control', style:'max-height:34px;'} %>
    </div>
  <% end %>
  <div class="col-sm-4">
    <strong>Shop Name</strong>
    <%= f.text_field :shop_name, { class: 'form-control p7_10 shop_name', placeholder: 'Shop Name' } %>
  </div>
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-sm-12 text-center" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;"><strong>Shipping Address</strong></div>
</div>
<div class="row" style="margin-top:15px;">
  <div class="col-sm-4">
    <strong>Country</strong><br>
    <%= f.select :country_id, options_for_select(@countries.collect {|p| [ p.name + " ("+p.abbreviation1+") ", p.id ] },@store.country_id), {include_blank: "Select Country", class: 'form-control country', style:'max-height:40px;' } %>
  </div>
  <div class="col-sm-8">
    <strong>Address</strong><br>
    <%= f.text_field :address, { class: 'form-control p7_10 address', placeholder: "Address" } %>
  </div>
</div>
<div class="row cambodia_facility" style="margin-top:15px;">
  <div class="col-sm-3">
    <strong>Pincode</strong>
    <a class="clear-pincode" style="display:none;font-size: 10px;margin-top: -7px;">Clear</a><br>
    <%= f.text_field :pincode, { :id =>'search_pincode_cambodia', :class => 'form-control p7_10 pincode', :placeholder => "Pincode", minlength: 5, maxlength: 7, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
  </div>
  <div class="col-sm-3">
    <strong>Province/ State</strong><br>
      <%= f.text_field :state, { :id =>'search_state_cambodia', :class => 'form-control p7_10 state', :placeholder => "State" } %>
  </div>
  <div class="col-sm-3">
    <strong>District</strong><br>
    <%= f.text_field :district, { id: 'search_district_cambodia', class: 'form-control district p5_10', placeholder: "District" } %>
  </div>
  <div class="col-sm-3">
    <strong>Commune</strong><br>
    <%= f.text_field :commune, { id: 'search_commune_cambodia', class: 'form-control commune p5_10', placeholder: "Commune"} %>
  </div>
</div>

<div class="row vietnam_facility" style="margin-top:15px;">
  <div class="col-sm-4">
    <strong>City</strong>
    <a class="clear-commune" style="display:none;font-size: 10px;margin-top: -7px;">Clear</a>
    <%= f.text_field :city, { id: 'search_city_vietnam', class: 'form-control facility-city p5_10', placeholder: "City"} %>
  </div>
  <div class="col-sm-4">
    <strong>District</strong><br>
    <%= f.text_field :district, { id: 'search_district_vietnam', class: 'form-control district p5_10', placeholder: "District" } %>
  </div>
  <div class="col-sm-4">
    <strong>Commune</strong><br>
    <%= f.text_field :commune, { id: 'search_commune_vietnam', class: 'form-control commune p5_10', placeholder: "Commune"} %>
  </div>
</div>

<div class="row other_facility" style="margin-top:15px;">
  <div class="col-sm-4">
    <strong>Pincode</strong>
    <a class="clear-pincode" style="display:none;font-size: 10px;margin-top: -7px;">Clear</a><br>
    <%= f.text_field :pincode, { :id =>'search_pincode_other', :class => 'form-control p7_10 pincode', :placeholder => "Pincode", minlength: 5, maxlength: 7, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
  </div>
  <div class="col-sm-4">
    <strong>State</strong><br>
      <%= f.text_field :state, { :id =>'search_state_other', :class => 'form-control p7_10 state', :placeholder => "State" } %>
      <%= f.hidden_field :gst_state_code, { :id =>'gst_state_code', :class => 'form-control p7_10 gst_state_code'} %>
      <%= f.hidden_field :alpha_code, { :id =>'alpha_code', :class => 'form-control p7_10 alpha_code'} %>
      <%= f.hidden_field :is_union_territory, { :id =>'is_union_territory', :class => 'form-control p7_10 is_union_territory'} %>
      <%= f.hidden_field :is_utgst_applicable, { :id =>'is_utgst_applicable', :class => 'form-control p7_10 is_utgst_applicable'} %>
  </div>
  <div class="col-sm-4">
    <strong>City</strong><br>
    <%= f.text_field  :city, { :id =>'search_city_other', :class => 'form-control p7_10 facility-city', :placeholder => "City" } %>
  </div>
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-sm-12 text-center" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;"><strong>Billing Address</strong></div>
</div>
<div class="row" style="margin-top:15px;">
  <div class="col-sm-4">
    <strong>Country</strong><br>
    <%= f.select :billing_country_id, options_for_select(@countries.collect {|p| [ p.name + " ("+p.abbreviation1+") ", p.id ] },@store.billing_country_id), {include_blank: "Select Country", class: 'form-control billing-country', style:'max-height:40px;' } %>
  </div>
  <div class="col-sm-8">
    <strong>Address</strong><br>
    <%= f.text_field  :billing_address, { class: 'form-control p7_10 billing-address', placeholder: "Address" } %>
  </div>
</div>
<div class="row billing_cambodia_facility" style="margin-top:15px;">
  <div class="col-sm-3">
    <strong>Pincode</strong>
    <a class="billing-clear-pincode" style="display:none;font-size: 10px;margin-top: -7px;">Clear</a><br>
    <%= f.text_field  :billing_pincode, { :id =>'search_billing_pincode_cambodia', :class => 'form-control p7_10 billing-pincode', :placeholder => "Pincode", minlength: 5, maxlength: 7, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
  </div>
  <div class="col-sm-3">
    <strong>Province/ State</strong><br>
      <%= f.text_field :billing_state, { :id =>'search_billing_state_cambodia', :class => 'form-control p7_10 billing-state', :placeholder => "State" } %>
  </div>
  <div class="col-sm-3">
    <strong>District</strong><br>
    <%= f.text_field :billing_district, { id: 'search_billing_district_cambodia', class: 'form-control billing-district p5_10', placeholder: "District" } %>
  </div>
  <div class="col-sm-3">
    <strong>Commune</strong><br>
    <%= f.text_field :billing_commune, {id: 'search_billing_commune_cambodia', class: 'form-control billing-commune p5_10', placeholder: "Commune"} %>
  </div>
</div>

<div class="row billing_vietnam_facility" style="margin-top:15px;">
  <div class="col-sm-4">
    <strong>City</strong>
    <a class="billing-clear-commune" style="display:none;font-size: 10px;margin-top: -7px;">Clear</a>
    <%= f.text_field :billing_city, { id: 'search_billing_city_vietnam', class: 'form-control billing-facility-city p5_10', placeholder: "City"} %>
  </div>
  <div class="col-sm-4">
    <strong>District</strong><br>
    <%= f.text_field :billing_district, { id: 'search_billing_district_vietnam', class: 'form-control billing-district p5_10', placeholder: "District" } %>
  </div>
  <div class="col-sm-4">
    <strong>Commune</strong><br>
    <%= f.text_field :billing_commune, {id: 'search_billing_commune_vietnam', class: 'form-control billing-commune p5_10', placeholder: "Commune"} %>
  </div>
</div>

<div class="row billing_other_facility" style="margin-top:15px;">
  <div class="col-sm-4">
    <strong>Pincode</strong>
    <a class="billing-clear-pincode" style="display:none;font-size: 10px;margin-top: -7px;">Clear</a><br>
    <%= f.text_field :billing_pincode, { :id =>'search_billing_pincode_other', :class => 'form-control p7_10 billing-pincode', :placeholder => "Pincode", minlength: 5, maxlength: 7, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
  </div>
  <div class="col-sm-4">
    <strong>State</strong><br>
      <%= f.text_field :billing_state, { :id =>'search_billing_state_other', :class => 'form-control p7_10 billing-state', :placeholder => "State" } %>
  </div>
  <div class="col-sm-4">
    <strong>City</strong><br>
    <%= f.text_field :billing_city, { :id =>'search_billing_city_other', :class => 'form-control p7_10 billing-facility-city', :placeholder => "City" } %>
  </div>
</div>
<div class="row" style="margin-top: 15px;">
  <div class="col-sm-4 gst-number">
    <strong>GST</strong>
    <%= f.text_field :gst, { class: 'form-control gst p7_10', placeholder: "GST"} %>
  </div>
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-sm-12 text-center" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;"><strong>Contact Information</strong></div>
</div>
<div class="row" style="margin-top:15px;">
  <div class="col-sm-4">
    <strong>Mobile Number</strong><br>
    <%= f.text_field :mobilenumber, { class: 'form-control p7_10 mobilenumber', placeholder: "Mobile", minlength: 6, maxlength: 10, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
  </div>
  <div class="col-sm-4">
    <strong>Telephone</strong><br>
    <%= f.text_field :telephone, { class: 'form-control p7_10 telephone', placeholder: "Telephone", minlength: 6, maxlength: 13, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
  </div>
  <div class="col-sm-4">
    <strong>Email</strong>
    <% if @trusted_domains.count > 0 %>
      <%= f.hidden_field :email, value: @store.email %>
      <% email_local, email_domain = @store.email&.split('@') %>
      <div class="row">
        <div class="col-sm-6 pr-0">
          <%= text_field_tag :email_local, email_local, class: 'form-control p7_10 email_local', placeholder: 'Email' %>
        </div>
        <div class="col-sm-6 pl-0">
          <% email_domain = @trusted_domains.first&.name if @trusted_domains.count == 1 && params[:action] == 'new' %>
          <%= select_tag :email_domain, options_for_select(@trusted_domains.map { |td| ["@#{td.name}", td.name] }, email_domain), include_blank: 'Select', class: 'form-control p9_10 email_domain' %>
        </div>
      </div>
    <% else %>
      <%= f.text_field :email, { class: 'form-control p7_10 email', placeholder: "Email"} %>
    <% end %>
  </div>
</div>

<div class="row" style="margin-top: 15px;">
  <div class="col-sm-4">
    <strong>Username</strong>
    <%= f.text_field :username, { class: 'form-control user_name p7_10', placeholder: "Username"} %>
  </div>
  <div class="col-sm-4 dl-number">
    <strong>DL Number</strong>
    <%= f.text_field :dl_number, { class: 'form-control dl_number p7_10', placeholder: "Drug Licence Number"} %>
  </div>
</div>
<div class="row" style="margin-top: 15px;">
  <div class="col-sm-4">
    <strong>Upload Logo</strong>
    <span class="btn btn-default btn-store-asset" id="results" style="padding:2px;">
      <% store_asset = (@store.asset_path_url if @store.asset_path_url.present?) || 'set_organisation_logo.png' %>
      <% patient_asset = "set_organisation_logo.png" %>
      <%= image_tag(store_asset, class: "thumb", id: "store-picture", style: 'max-width: 250px; min-height: 100px; max-height: 100px; line-height: 20px;', onclick: "$('#upload-store-picture').click();")%>
    </span>
    <% if @store.asset_path.present? %>
      <%= file_field_tag "inventory_store[asset_path]", { value: "~/#{@store.asset_path.try(:file).try(:filename)}",style: "visibility:hidden", id: 'upload-store-picture', onchange: "readURL(this)" } %>
    <% else %>
      <%= file_field_tag "inventory_store[asset_path]", { style: "visibility:hidden", id: 'upload-store-picture', onchange: "readURL(this)" } %>
    <% end %>
  </div>  
</div>
