<div class="row">
  <div class="col-md-8">
    <h4>MANAGE INVENTORY STORES</h4>
  </div>
  <div class="col-md-2">
    <% unless params[:action] == 'facility_settings' %>
      <%= link_to new_inventory_store_path(store_type: 'central_hub'), :class => "btn btn-primary add-central-hub", data: { remote: true, 'toggle': "modal", 'target': '#store-modal'} do %><i class="fa fa-plus"></i> Add Central Hub<% end %>
    <% end %>
  </div>
  <div class="col-md-2">
    <%= link_to new_inventory_store_path, :class => "btn btn-primary add-normal-store", data: { remote: true, 'toggle': "modal", 'target': '#store-modal'} do %><i class="fa fa-plus"></i> Add Store<% end %>
  </div>
</div>
<% unless params[:action] == 'facility_settings' %>
  <div style="margin: 10px;">
    <button type="button" class="btn btn-light btn-xs" id="get_inventory_stores">Store</button>
    <button type="button" class="btn btn-light btn-xs" id="get_central_hubs">Central Hub</button>
  </div>
<% end %>
<hr>
<% if @store_type == 'central_hub' %>
  <div class="row central-hub-area">
    <div class="col-md-12">
      <% if @inventory_central_hubs.count > 0 %>
        <table id="manage_inventory_cental_hubs_table" class="table table-primary table-bordered">
          <thead>
            <th class="text-center">Central Hub</th>
            <th class="text-center">Linked Stores</th>
            <th class="text-center">Actions</th>
          </thead>
          <tbody>
            <% @inventory_central_hubs.each do |central_hub| %>
              <% visibility = central_hub.is_disable ? 'visibility: hidden;' : 'visibility: visible' %>
              <tr>
                <td>
                  <b><b class="central_hubcentral_hub_name" style="color:#000;"><%= central_hub.name %></b> - <%= central_hub.department_name&.titleize %></b>
                </td>
                <td>
                  <table style="width: 100%;" class="action-table">
                    <% central_hub.store_ids.each do |store_id| %>
                      <% store = Inventory::Store.find_by(id: store_id) %>
                      <tr class="row-container">
                        <td>
                          <b><b class="store_name" style="color:#000; font-size: 13px;"><%= store.name %></b></b>
                        </td>
                      </tr>
                    <% end %>
                  </table>
                </td>
                <td>
                  <table style="width: 100%;">
                    <tr class="row-container">
                      <td style="<%=visibility%>">
                        <%= link_to edit_inventory_store_path(id: central_hub.id.to_s, store_type: 'central_hub'), method: :get, data: { remote: true, toggle: 'modal', target: "#store-modal" }, class: "btn btn-info btn-xs", style: "display: inline;" do %>Edit<% end %>
                      </td>
                      <td style="<%=visibility%>">
                        <div class="dropdown">
                          <button type="button" class="btn btn-xs btn-primary dropdown-toggle link_dropdown" data-toggle="dropdown" style="line-height: initial;">
                                  <span class="fa-color">
                                    Link
                                  </span>
                            <span class="caret fa-color"></span>
                          </button>

                          <ul class="dropdown-menu" role="menu" style="font-size: 12px;">
                            <li class="">
                              <%= link_to link_unlink_multiple_stores_inventory_stores_path(type: "link_store", store_id: central_hub.id.to_s, store_type: 'central_hub'), class: "", style: "", data: { remote: true, 'toggle': "modal", 'target': '#store-modal' } do %><i class="fa fa-plus"></i> Stores<% end %>
                            </li>
                            <li class="">
                              <%= link_to link_unlink_multiple_category_inventory_stores_path(type: "link_category", store_id: central_hub.id.to_s, store_type: 'central_hub'), class: "", style: "", data: { remote: true, 'toggle': "modal", 'target': '#store-modal' } do %><i class="fa fa-plus"></i> Categories<% end %>
                            </li>
                            <!-- <li class="">
                              <%#= link_to link_unlink_multiple_vendor_inventory_stores_path(type: "link_vendor", store_id: central_hub.id.to_s, store_type: 'central_hub'), class: "", style: "", data: { remote: true, 'toggle': "modal", 'target': '#store-modal' } do %><i class="fa fa-plus"></i> Vendors<%# end %>
                            </li> -->
                            <li class="">
                              <%= link_to users_link_unlink_user_store_path(type: "link_user", store_id: central_hub.id.to_s, store_type: 'central_hub', facility_id: current_facility_id), class: "", style: "", data: { remote: true, 'toggle': "modal", 'target': '#user-modal' } do %><i class="fa fa-plus"></i> Users<% end %>
                            </li>
                          </ul>
                        </div>
                      </td>
                      
                      <td style="<%=visibility%>">
                        <div class="dropdown">
                          <button type="button" class="btn btn-xs btn-warning dropdown-toggle unlink_dropdown" data-toggle="dropdown" style="line-height: initial;">
                            <span class="fa-color">
                              Un-Link
                            </span>
                            <span class="caret fa-color"></span>
                          </button>

                          <ul class="dropdown-menu" role="menu" style="font-size: 12px;">
                            <li class="">
                              <%= link_to link_unlink_multiple_stores_inventory_stores_path(type: "unlink_store", store_id: central_hub.id.to_s, store_type: 'central_hub'), class: "", style: "", data: { remote: true, 'toggle': "modal", 'target': '#store-modal' } do %><i class="fa fa-minus"></i> Stores<% end %>
                            </li>
                            <li class="">
                              <%= link_to link_unlink_multiple_category_inventory_stores_path(type: "unlink_category", store_id: central_hub.id.to_s, store_type: 'central_hub'), class: "", style: "", data: { remote: true, 'toggle': "modal", 'target': '#store-modal' } do %><i class="fa fa-minus"></i> Categories<% end %>
                            </li>
                            <!-- <li class="">
                              <%#= link_to link_unlink_multiple_vendor_inventory_stores_path(type: "unlink_vendor", store_id: central_hub.id.to_s, store_type: 'central_hub'), class: "", style: "", data: { remote: true, 'toggle': "modal", 'target': '#store-modal' } do %><i class="fa fa-minus"></i> Vendors<%# end %>
                            </li> -->
                            <li class="">
                              <%= link_to users_link_unlink_user_store_path(type: "unlink_user", store_id: central_hub.id.to_s, store_type: 'central_hub', facility_id: current_facility_id), class: "", style: "", data: { remote: true, 'toggle': "modal", 'target': '#user-modal' } do %><i class="fa fa-minus"></i> Users<% end %>
                            </li>
                          </ul>
                        </div>
                      </td>

                      <td>
                        <%= link_to link_vendor_location_stores_inventory_stores_path(store_id: central_hub.id.to_s, facility_id: current_facility_id.to_s),class: "", style: "", data: {remote: true, 'toggle': "modal", 'target': '#store-modal'} do %><i class="fa fa-map-marker"></i> Default Location<% end %>
                      </td>

                      
                      <td id='store_disable_button_<%= central_hub.id %>'>
                        <% if central_hub.is_disable == true %>
                          <%= link_to 'Active', toggle_disable_inventory_store_path(id: central_hub.id, is_disable: false), class: "btn btn-xs btn-primary", remote: true, style: "display: inline;" %>
                        <% else %>
                          <div class="btn btn-danger btn-xs btn-disable-store" style="display: inline;" data-toggle="modal" data-target="#confirmation-modal">Disable</div>
                          <%= link_to 'Confirm', toggle_disable_inventory_store_path(id: central_hub.id, is_disable: true), class: "btn btn-danger", remote: true, style: "display: none;", data: {dismiss: "modal"} %>
                        <% end %>                              
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="col-md-12 text-center mt10">
          No Central Hub to Show.
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="row inventory-store-area">
    <div class="col-md-12">


      <% if @inventory_stores.count > 0 %>
          <table id="manage_inventory_stores_table" class="table table-primary table-bordered">
            <thead>
            <th>Facility</th>
            <th>Stores</th>
            <th class="text-center">Actions</th>
            </thead>
            <tbody>

            <% @facilities_data.each do |fac_data| %>
                <tr class="each-contact-table-row">
                  <td>
                    <b class="facility_name" style="color:#000;"><%= fac_data[0] %></b>
                  </td>

                  <td>
                    <table style="width: 100%;" class="action-table">
                      <% @inventory_stores[fac_data[1]].each_with_index do |store,index| %>
                          <tr class="row-container store-<%= index %>">
                            <td>
                              <b class="store_name" style="color:#000;"><%= store.name%></b> - <%= store.department_name %>
                            </td>
                          </tr>
                      <%end%>
                    </table>
                  </td>

                  <td>
                    <table style="width: 100%;" class="action-table">
                      <% @inventory_stores[fac_data[1]].each_with_index do |store,index| %>
                        <% visibility = store.is_disable ? 'visibility: hidden;' : 'visibility: visible' %>
                          <tr class="row-container store-actions-<%= index %>">
                            <td style="<%=visibility%>">
                              <%= link_to edit_inventory_store_path(id: store.id.to_s), method: :get, data: {remote: true, toggle: 'modal', target: "#store-modal"}, class: "btn btn-info btn-xs", style: "display: inline;" do %>Edit<% end %>
                            </td>
                            <td style="<%=visibility%>">
                              <div class="dropdown">
                                <button type="button" class="btn btn-xs btn-primary dropdown-toggle link_dropdown" data-toggle="dropdown" style="line-height: initial;">
                                  <span class="fa-color">
                                    Link
                                  </span>
                                  <span class="caret fa-color"></span>
                                </button>

                                <ul class="dropdown-menu" role="menu" style="font-size: 12px;">
                                  <li class="">
                                    <%= link_to link_unlink_multiple_stores_inventory_stores_path(type: "link_store", store_id: store.id.to_s, store_type: 'store'), class: "", style: "", data: { remote: true, 'toggle': "modal", 'target': '#store-modal' } do %><i class="fa fa-plus"></i> Stores<% end %>
                                  </li>
                                  <li class="">
                                    <%= link_to link_unlink_multiple_category_inventory_stores_path(type: "link_category", store_id: store.id.to_s, store_type: 'store'), class: "", style: "", data: { remote: true, 'toggle': "modal", 'target': '#store-modal' } do %><i class="fa fa-plus"></i> Category<% end %>
                                  </li>
                                  <!-- <li class="">
                                    <%#= link_to link_unlink_multiple_vendor_inventory_stores_path(type: "link_vendor", store_id: store.id.to_s, store_type: 'store'), class: "", style: "", data: { remote: true, 'toggle': "modal", 'target': '#store-modal' } do %><i class="fa fa-plus"></i> Vendors<%# end %>
                                  </li> -->
                                  <li class="">
                                    <%= link_to users_link_unlink_user_store_path(type: "link_user",store_id: store.id.to_s, facility_id: store.facility_id.to_s),class: "", style: "", data: {remote: true, 'toggle': "modal", 'target': '#user-modal'} do %><i class="fa fa-plus"></i> Users<% end %>
                                  </li>
                                </ul>
                              </div>
                            </td>

                            <td style="<%=visibility%>">
                              <div class="dropdown">
                                <button type="button" class="btn btn-xs btn-warning dropdown-toggle unlink_dropdown" data-toggle="dropdown" style="line-height: initial;">
                                  <span class="fa-color">
                                    Un-Link
                                  </span>
                                  <span class="caret fa-color"></span>
                                </button>

                                <ul class="dropdown-menu" role="menu" style="font-size: 12px;">
                                  <li class="">
                                    <%= link_to link_unlink_multiple_stores_inventory_stores_path(type: "unlink_store", store_id: store.id.to_s, store_type: 'store'), class: "", style: "", data: { remote: true, 'toggle': "modal", 'target': '#store-modal' } do %><i class="fa fa-minus"></i> Stores<% end %>
                                  </li>
                                  <li class="">
                                    <%= link_to link_unlink_multiple_category_inventory_stores_path(type: "unlink_category", store_id: store.id.to_s, store_type: 'store'), class: "", style: "", data: { remote: true, 'toggle': "modal", 'target': '#store-modal' } do %><i class="fa fa-minus"></i> Category<% end %>
                                  </li>
                                  <!-- <li class="">
                                    <%#= link_to link_unlink_multiple_vendor_inventory_stores_path(type: "unlink_vendor", store_id: store.id.to_s, store_type: 'store'), class: "", style: "", data: { remote: true, 'toggle': "modal", 'target': '#store-modal' } do %><i class="fa fa-minus"></i> Vendors<%# end %>
                                  </li> -->
                                  <li class="">
                                    <%= link_to users_link_unlink_user_store_path(type: "unlink_user",store_id: store.id.to_s, facility_id: store.facility_id.to_s), class: "", style: "", data: {remote: true, 'toggle': "modal", 'target': '#user-modal'} do %><i class="fa fa-minus"></i> Users<% end %>
                                  </li>
                                </ul>
                              </div>
                            </td>
                            <td>
                              <%= link_to link_vendor_location_stores_inventory_stores_path(store_id: store.id.to_s, facility_id: store.facility_id.to_s),class: "", style: "", data: {remote: true, 'toggle': "modal", 'target': '#store-modal'} do %><i class="fa fa-map-marker"></i> Default Location<% end %>
                            </td>
                            <td id='store_disable_button_<%= store.id %>'>
                              <% if store.is_disable == true %>
                                <%= link_to 'Active', toggle_disable_inventory_store_path(id: store.id, is_disable: false), class: "btn btn-xs btn-primary", remote: true, style: "display: inline;" %>
                              <% else %>
                                <div class="btn btn-danger btn-xs btn-disable-store" style="display: inline;" data-toggle="modal" data-target="#confirmation-modal" data-store='<%=store.name%>'>Disable</div>
                                <%= link_to 'Confirm', toggle_disable_inventory_store_path(id: store.id, is_disable: true), class: "btn btn-danger", remote: true, style: "display: none;", data: {dismiss: "modal"} %>
                              <% end %>                              
                            </td>
                          </tr>
                      <%end%>
                    </table>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
      <% else %>
          <div class="col-md-12 text-center mt10">
            No Stores to Show.
          </div>
      <% end %>


    </div>
  </div>
<% end %>
<style>
  #confirmation-modal a{
    display: inline-block !important;
  }
  .each-contact-table-row td {
    padding: 0 !important;
    white-space: nowrap;
  }
  .row-container{
    height: 25px;
  }
  .action-table td {
    border-bottom: 1px solid #8c8b8b; 
    padding: 8px !important;
    border-top: none;
    font-size: 14px;
    height: 40px;
  }
  .action-table tr:last-child td {
    border: none;
  }
  
</style>