<div class="modal-dialog" style="width:40%;">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Link Default Vendor Location For <%= @store.name%></h4>
    </div><br>
    <%= form_tag("/inventory/stores/save_vendor_location", method: "patch", remote: true, id: 'save_multiple_vendor_location') do %>
        <%= hidden_field_tag :store_id, @store_id %>
        <%= hidden_field_tag :type, @type %>
        <%= hidden_field_tag :store_type, @store_type %>
       <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
                <% if @vendors.present? %>
                    <% @vendors.each do |vendor| %>
                    <div class="col-sm-12">  
                        <div class="col-sm-4" style="padding: 5px;">  
                        <%= vendor.name.upcase %>
                        </div>  
                        <div class="col-sm-4"  style="padding: 5px;">           
                          <% vendor_locations = Inventory::VendorLocation.where(vendor_id: vendor.id, is_deleted: false).uniq %>
                          <% locations = vendor_locations.pluck(:address, :id) %>
                          <% location_ids = vendor_locations.pluck(:id) %>
                          <% store_location_ids = @store.vendor_location_ids %>
                          <% common_ids = location_ids & store_location_ids %>
                          <% location_hash = vendor_locations.pluck(:id, :address).to_h %>
                          <% address = location_hash[common_ids[0]] %>
                          <% selected_location = [address, common_ids[0]] %>
                          <%= select_tag "vendor_location_ids[]", options_for_select(locations, selected: selected_location ), { class: 'form-control', :include_blank => "Select Location "} %>
                        </div>   
                    </div>
                    <% end %>    
                <% else %>
                <% end %>
           </div>
         </div> 
        </div>
        <div class="modal-footer">
          <%= submit_tag "Save", class: 'btn btn-success', onclick: 'link_unlink_category()' %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    <% end %>
  </div>
</div>
