<div class="modal-dialog" style="width: 60%">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h5 class="modal-title" style="color: #1E90FF">Opening/Current Stock - <%= Date.current.strftime("%d/%m/%Y") %></h5>
    </div>
    <div class="modal-body window-body">
          <div class="datainfo" style="text-align: center;">
            <strong class="" style="color: #1E90FF">Opening Stock No.</strong>
            <% if @today_stock_value.present? %>
              <h4><%= @today_stock_value.opening_stock %></h4>
            <% elsif @yesterday_stock_value.present? %>
              <h4><%= @yesterday_stock_value.closing_stock %></h4>
            <% else %>
              <h4><%= @stock %></h4>
            <% end %>
          </div>
          <div class="datainfo" style="text-align: center;">
            <strong class="" style="color: #1E90FF">Current Stock No.</strong>
            <% if @today_stock_value.present? %>
              <h4><%= @today_stock_value.closing_stock %></h4>
            <% elsif @yesterday_stock_value.present? %>
              <h4><%= @yesterday_stock_value.closing_stock %></h4>
            <% else %>
              <h4><%= @stock %></h4>
            <% end %>
          </div>
          <div class="datainfo" style="text-align: center;">
            <strong class="" style="color: #1E90FF">Opening Stock Amount</strong>
            <% if @today_stock_value.present? %>
              <h4><%= @today_stock_value.opening_amount&.round(2) %></h4>
            <% elsif @yesterday_stock_value.present? %>
              <h4><%= @yesterday_stock_value.closing_amount&.round(2) %></h4>
            <% else %>
              <h4><%= @amount %></h4>
            <% end %>
          </div>
          <div class="datainfo" style="text-align: center;">
            <strong class="" style="color: #1E90FF">Current Stock Amount</strong>
            <% if @today_stock_value.present? %>
              <h4><%= @today_stock_value.closing_amount&.round(2) %></h4>
            <% elsif @yesterday_stock_value.present? %>
              <h4><%= @yesterday_stock_value.closing_amount&.round(2) %></h4>
            <% else %>
              <h4><%= @amount %></h4>
            <% end %>
          </div>
    </div>
    <div class="modal-footer window-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
