<!--<%# @inventory_store.department_id = @inventory_store.department_id %>-->
<% start_date = Date.current %>
<% end_date = Date.current %>
<div class="">
  <% @current_organisation = current_organisation %>
  <div class="logopanel">
    <% if @inventory_store.try(:department_name) == "Optical" %>
      <h1> <i class="mega-octicon octicon-pulse"></i><i class="fas fa-glasses"></i> <%= @inventory_store.try(:department_name) %> </h1>
    <% else %>
      <h1> <i class="mega-octicon octicon-pulse"></i><i class="fas fa-capsules"></i> <%= @inventory_store.try(:department_name) || 'Inventory' %> </h1>
    <% end %>  
  </div><!-- logopanel -->

  <div class="leftpanelinner">

    <h5 class="sidebartitle">Navigation</h5>
    <ul class="nav nav-pills nav-stacked nav-bracket">
      <% if @inventory_store.department_id == '50121007' %>
        <li class="active"><a href="/prescriptions/optical_management?store_id=<%= @inventory_store.id %>" data-remote="true" class="patient-prescription-queue"><i class="fas fa-prescription"></i>
        <span> Patients Queue</span></a></li>

        <li class="nav-parent item-parent"><a href="#"><i class="fas fa-receipt"></i><span> Items</span></a>
          <ul class="children">
            <li class="item-master"><a href='/inventory/items?item_type[]=all_item&store_id=<%= @inventory_store.id %>' data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Master</a></li>
            <li class="item-variant"><a href='/inventory/item/variants?item_type[]=all_item&store_id=<%= @inventory_store.id %>' data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Variant</a></li>
            <li class="item-lot"><a href="/inventory/item/lots?item_type=all_item&store_id=<%= @inventory_store.id %>" data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Lot</a></li>
            <li class="item-lot"><a href="/inventory/item/lot_units?item_type=all_item&store_id=<%= @inventory_store.id %>" data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Lot Unit</a></li>
          </ul>
        </li>

      <% elsif @inventory_store.department_id == '284748001' %>
        <li class="active"><a href="/prescriptions/pharmacy_management?store_id=<%= @inventory_store.id %>" data-remote="true" class="patient-prescription-queue"><i class="fas fa-prescription"></i>
        <span> Patients Queue</span></a></li>

        <li class="nav-parent item-parent"><a href="#"><i class="fas fa-receipt"></i><span> Items</span></a>
          <ul class="children">
            <li class="item-master"><a href='/inventory/items?item_type[]=all_item&store_id=<%= @inventory_store.id %>' data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Master</a></li>
            <li class="item-variant"><a href='/inventory/item/variants?item_type[]=all_item&store_id=<%= @inventory_store.id %>' data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Variant</a></li>
            <li class="item-lot"><a href="/inventory/item/lots?item_type=all_item&store_id=<%= @inventory_store.id %>" data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Lot</a></li>
            <li class="item-lot"><a href="/inventory/item/lot_units?item_type=all_item&store_id=<%= @inventory_store.id %>" data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Lot Unit</a></li>
          </ul>
        </li>

      <% elsif @inventory_store.department_id == '384748001' %>
        <li class="active"><a href="/ipd_management?current_date=<%= start_date %>&store_id=<%= @inventory_store.id%>" data-remote="true" class="patient-prescription-queue"><i class="fas fa-prescription"></i>
        <span> Patients Queue</span></a></li>

        <li class="nav-parent item-parent"><a href="#"><i class="fas fa-receipt"></i><span> Items</span></a>
          <ul class="children">
            <li class="item-master"><a href='/inventory/items?item_type[]=all_item&store_id=<%= @inventory_store.id %>' data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Master</a></li>
            <li class="item-variant"><a href='/inventory/item/variants?item_type[]=all_item&store_id=<%= @inventory_store.id %>' data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Variant</a></li>
            <li class="item-lot"><a href="/inventory/item/lots?item_type=all_item&store_id=<%= @inventory_store.id %>" data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Lot</a></li>
            <li class="item-lot"><a href="/inventory/item/lot_units?item_type=all_item&store_id=<%= @inventory_store.id %>" data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Lot Unit</a></li>
          </ul>
        </li>

      <% else %>
        <li class="nav-parent item-parent active"><a href="#"><i class="fas fa-receipt"></i><span> Items</span></a>
          <ul class="children">
            <li class="active item-master"><a href='/inventory/items?item_type[]=all_item&store_id=<%= @inventory_store.id %>' data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Master</a></li>
            <li class="item-variant"><a href='/inventory/item/variants?item_type[]=all_item&store_id=<%= @inventory_store.id %>' data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Variant</a></li>
            <li class="item-lot"><a href="/inventory/item/lots?item_type=all_item&store_id=<%= @inventory_store.id %>" data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Lot</a></li>
            <li class="item-lot"><a href="/inventory/item/lot_units?item_type=all_item&store_id=<%= @inventory_store.id %>" data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Lot Unit</a></li>
          </ul>
        </li>
      <% end %>

      <li class="nav-parent transaction-parent"><a href="#"><i class="fas fa-exchange-alt"></i><span> Transaction</span></a>
        <ul class="children">
          <% if @inventory_store.enable_stock_entry %>
            <li class="purchase-transaction-list"><a href="/inventory/transaction/purchases?store_id=<%= @inventory_store.id %>&start_date=<%= start_date %>&end_date=<%= end_date %>&time_period=Today" data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Purchase/GRN</a></li>
            <li class="purchase-bill-list"><a href="/inventory/transaction/purchase_bills?store_id=<%= @inventory_store.id %>&start_date=<%= start_date.beginning_of_month %>&end_date=<%= end_date.end_of_month %>&time_period=This Month" data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Purchase Bills</a></li>
            <li class="stock-opening-transaction-list">
              <%= link_to inventory_transaction_stock_openings_url(store_id: @inventory_store.id,
                          start_date: start_date, end_date: end_date, time_period: 'Today'),
                          class: 'analytics-data-link', data: { remote: true } do %>
                <i class="fa fa-caret-right"></i>SON
              <% end %>
            </li>
            <li class="direct-stock-transaction-list">
              <%= link_to inventory_transaction_direct_stocks_url(store_id: @inventory_store.id,
                          start_date: start_date, end_date: end_date, time_period: 'Today'),
                          class: 'analytics-data-link', data: { remote: true } do %>
                <i class="fa fa-caret-right"></i>Direct Stock Entry
              <% end %>
            </li>
          <% end %>

          <% if @inventory_store.in_house_consumption && @inventory_store.department_id == '384748001' %>
            <li class=""><a href="/inventory/transaction/trays?store_id=<%= @inventory_store.id %>&start_date=<%= start_date %>&end_date=<%= end_date %>&time_period=Today" data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>In-House/Trays</a></li>
          <% end %>
<!--          <li><a href="/analytics/financials" class="analytics-data-link" ><i class="fa fa-caret-right"></i> Transfer</a></li>-->
          <% if @inventory_store.billable_transaction && (@inventory_store.department_id == '50121007' || @inventory_store.department_id == '284748001') %>
            <li class="sale-transaction-list"><a href="/invoice/inventory_invoices?store_id=<%= @inventory_store.id %>&start_date=<%= start_date %>&end_date=<%= end_date %>&time_period=Today" data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Sale</a></li>
          <% end %>

          <% if @inventory_store.enable_transfer || @inventory_store.transfer_to_linked_stores %>
            <li><a href="/inventory/transaction/transfers?store_id=<%= @inventory_store.id %>&start_date=<%= start_date %>&end_date=<%= end_date %>&time_period=Today" data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Transfer/Issue</a></li>
          <% end %>

          <% if Authorization::PolicyHelper.verification(current_user.id ,"HGP-100-107-100") %>
            <% if @inventory_store.enable_receiving %>
              <li><a href="/inventory/transaction/receives?store_id=<%= @inventory_store.id %>&start_date=<%= start_date %>&end_date=<%= end_date %>&time_period=Today" data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Receive</a></li>
            <% end %>

            <% if @inventory_store.receive_items_from_other_central_hub && @inventory_store.department_id == '550368792' %>
              <li><a href="/inventory/transaction/receives?store_id=<%= @inventory_store.id %>&start_date=<%= start_date %>&end_date=<%= end_date %>&time_period=Today" data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Receive</a></li>
            <% end %>
          <% end %>

          <% if @inventory_store.enable_stock_entry %>
            <li><a href="/inventory/transaction/vendor_returns?store_id=<%= @inventory_store.id %>&start_date=<%= start_date %>&end_date=<%= end_date %>&time_period=Today" data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i><span style="">Purchase Return</span></a></li>
          <% end %>

          <% if @inventory_store.department_id == '50121007' || @inventory_store.department_id == '284748001' %>
            <li><a href="/inventory/transaction/returns?store_id=<%= @inventory_store.id %>&start_date=<%= start_date %>&end_date=<%= end_date %>&time_period=Today" data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Sale Return</a></li>
          <% end %>

          <li><a href="/inventory/transaction/adjustments?store_id=<%= @inventory_store.id %>&start_date=<%= start_date %>&end_date=<%= end_date %>&time_period=Today" data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Adjustment</a></li>

          <% if @inventory_store.department_id == '50121007' %>
            <li><a href="/inventory/transaction/stock_receive_notes?store_id=<%= @inventory_store.id %>&start_date=<%= start_date %>&end_date=<%= end_date %>&time_period=Today" data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>SRN</a></li>
          <% end %>

          <% if ['334046963', '384748002', '384748003', '384748004', '384748005'].include? @inventory_store.department_id %>
            <li><a href="/inventory/transaction/store_consumptions?store_id=<%= @inventory_store.id %>&start_date=<%= start_date %>&end_date=<%= end_date %>&time_period=Today" data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Store Consumption</a></li>
          <% end %>
        </ul>
      </li>

      <li class="nav-parent order-parent"><a href="#"><i class="fas fa-exchange-alt"></i><span> Order</span></a>
        <ul class="children">
          <% if @inventory_store.enable_purchase_order %>
            <li class="purchase-order-list"><a href="/inventory/order/purchases?store_id=<%= @inventory_store.id %>&start_date=<%= start_date %>&end_date=<%= end_date %>&time_period=Today" data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Purchase</a></li>
          <% end %>

          <% if @inventory_store.requisition && Authorization::PolicyHelper.verification(current_user.id ,"HGP-100-113-100") %>
              <li class="purchase-requisition-list"><a href="/inventory/order/requisitions?store_id=<%= @inventory_store.id %>&start_date=<%= start_date %>&end_date=<%= end_date %>&time_period=Today" data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Requisition</a></li>
          <% end %>

          <% if @inventory_store.requisition_fulfillment && Authorization::PolicyHelper.verification(current_user.id ,"HGP-100-114-100") %>
            <li class="purchase-requisition-received-list"><a href="/inventory/order/requisition_received?store_id=<%= @inventory_store.id %>&start_date=<%= Date.current.beginning_of_month %>&end_date=<%= Date.current.end_of_month %>&time_period=This Month" data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Requisition Received</a></li>
          <% end %>
          <% if @inventory_store.enable_purchase_order %>
          <li class="purchase-indent-list"><a href="/inventory/order/indents?store_id=<%= @inventory_store.id %>&start_date=<%= start_date %>&end_date=<%= end_date %>&time_period=Today" data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Indent</a></li>
         <% end%>
          <!-- <%# if @inventory_store.enable_transfer_order %>
            <li><a href="/inventory/order/transfers?store_id=<%= @inventory_store.id %>&start_date=<%= start_date %>&end_date=<%= end_date %>&time_period=Today" data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Transfer</a></li>
          <%# end %>

          <%# if @inventory_store.enable_receiving_order %>
            <li><a href="/inventory/order/receives?store_id=<%= @inventory_store.id %>&start_date=<%= start_date %>&end_date=<%= end_date %>&time_period=Today" data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Receive</a></li>
          <%# end %> -->
          <% if @inventory_store.billable_transaction && (@inventory_store.department_id == '50121007' || @inventory_store.department_id == '284748001') %>
            <li class="sale-order-list"><a href="/invoice/inventory_orders?store_id=<%= @inventory_store.id %>&start_date=<%= start_date %>&end_date=<%= end_date %>&time_period=Today" data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Sales Order</a></li>
          <% end %>
        </ul>
      </li>

      <li class="nav-parent finance-parent"><a href="#"><i class="fas fa-exchange-alt"></i><span> Audit</span></a>
        <ul class="children">
          <%# if Authorization::PolicyHelper.verification(current_user.id ,"HGP-100-122-100") %>
            <li><a href="/inventory/audit/histories?store_id=<%=@inventory_store.id %>&start_date=<%=start_date%>&end_date=<%=end_date%>&time_period=Today" data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>History</a></li>
          <%# end %>
          <%# if Authorization::PolicyHelper.verification(current_user.id ,"HGP-100-123-100") %>
            <li><a href="/inventory/audit/stock_balances?store_id=<%=@inventory_store.id %>&start_date=<%=start_date%>&end_date=<%=end_date%>&time_period=Today" data-remote="true" class="analytics-data-link"><i class="fa fa-caret-right"></i>Stock Balance</a></li>
          <%# end %>
          </ul>
      </li>

      <% if @inventory_store.enable_tax_invoice %>
        <li class=""><a href="/inventory/tax_invoices?store_id=<%=@inventory_store.id %>&start_date=<%=start_date.beginning_of_month %>&end_date=<%=end_date.end_of_month%>&time_period=This Month" data-remote="true" class="analytics-data-link"><i class="fas fa-money"></i>&nbsp;&nbsp;Tax Invoice / Delivery Challan</a>
        </li>
      <% end %>

      <% if @inventory_store.enable_sub_store %>
        <li class=""><a href="/inventory/sub_stores?store_id=<%=@inventory_store.id %>" data-remote="true" class="analytics-data-link"><i class="fas fa-warehouse"></i>&nbsp;&nbsp;Sub-Store</a>
        </li>
      <% end %>

      <li class=""><a href="/inventory/vendors?store_id=<%=@inventory_store.id %>" data-remote="true" class="analytics-data-link"><i class="fas fa-user"></i>&nbsp;&nbsp;Vendors</a>
      </li>
      
      <li><%= link_to inventory_stores_information_path(store_id: @inventory_store.id), id: "store_information", data: { remote: true, 'toggle': "modal", 'target': '#store-info-modal' } do %><i class="fa fa-info">&nbsp;&nbsp;</i><span>Store Information</span><% end %>

      <!--commented below links for Yams release -anoop-->

<!--      <li class="nav-parent"><a href="#"><i class="fas fa-cart-arrow-down"></i><span> Order</span></a>-->
<!--        <ul class="children">-->

<!--          <li><a href="/analytics/clinicals" class="analytics-data-link" ><i class="fa fa-caret-right"></i> Purchase</a></li>-->
<!--          <li><a href="/analytics/clinicals/patient" class="analytics-data-link" ><i class="fa fa-caret-right"></i> Transfer</a></li>-->
<!--        </ul>-->
<!--      </li>-->

      <!--<li class="nav-parent"><a href="#"><i class="fa fa-pencil-alt"></i> <span>Custom</span></a>-->
      <!--<ul class="children">-->
      <!--<%# @custom_dashboards.each do |custom_dashboard| %>-->
      <!--<li><a href="/analytics/custom_dashboards?custom_dashboard_id=<%#=custom_dashboard.id%>" class="analytics-data-link" ><i class="fa fa-caret-right"></i> <%#= custom_dashboard.try(:dashboard_name)%></a></li>-->
      <!--<%#end%>-->
      <!--</ul>-->
      <!--</li>-->

    </ul><br>

    <div class="">
      <h5 class="sidebartitle">Information Summary</h5>
      <ul>
        <br>
        <% if Authorization::PolicyHelper.verification(current_user.id ,"HGP-100-121-100") %>
          <li>
            <%= link_to inventory_stores_opening_current_stock_path(store_id: @inventory_store.id), id: "stock_information", style: "color: #fff", data: { remote: true, 'toggle': "modal", 'target': '#opening-closing-modal' } do %><i class="fa fa-info">&nbsp;&nbsp;</i><span>Opening/Current Stock</span><% end %>
          </li>
          <br>
        <% end %>
        <li>
          <%= render partial: 'stock_notification.html.erb' %>
        </li>
      </ul>
      <!-- <ul> -->
        <!--<li>-->
        <!--<div class="datainfo">-->
        <!--<span class="">Total Patient</span>-->
        <!--<h4>30, 201</h4>-->
        <!--</div>-->
        <!--<div id="sidebar-chart-patient" class="chart"></div>-->
        <!--</li>-->
        <!-- <li>
          <%# @organisation_id = current_user.present? ? current_user.organisation_id : nil %>
          <div class="datainfo">
            <span class="">Total Items</span>
            <h4><%#= Inventory::Item.where(store_id: @inventory_store.id, is_active: true).count %></h4>
          </div>
          <div id="sidebar-chart-active-users" class="chart"></div>
        </li> -->
        <!-- <li>
          <div class="datainfo">
            <span class="">Out of Stock</span>
            <h4><%#= Inventory::Item.where(store_id: @inventory_store.id, stock: 0, is_active: true).count %></h4>
          </div> -->
          <!--<div id="sidebar-chart-doctors" class="chart"></div>-->
        <!-- </li> -->

        <!--<li>-->
        <!--<div class="datainfo">-->
        <!--<span class="">Memory Usage</span>-->
        <!--<h4>32.2%</h4>-->
        <!--</div>-->
        <!--<div id="sidebar-chart5" class="chart"></div>-->
        <!--</li>-->
      <!-- </ul> -->
    </div><!-- infosummary -->

  </div><!-- leftpanelinner -->
</div><!-- leftpanel -->

<!--  <div class="">-->
<!--    <div class="title">-->
<!--      <h4 class="sidebar-heading">Filters</h4>-->
<!--      <hr />-->
<!--    </div>-->
<!--    <div class="inventory-filters">-->
<!--      <ul class="<%#= @inventory_store.department_id %>">-->

<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
  <% if @inventory_store.department_id == '334046963' %>
<!--      <div class="" style="">-->
<!--        <div class="title">-->
<!--          <h4 class="sidebar-heading" style="display: inline;">Orders/Requests</h4><span id="btn-fetch-requests" class="pull-right mr10" style="cursor: pointer"><i class="fa fa-refresh"></i></span>-->
<!--          <hr />-->
<!--        </div>-->
<!--        <div class="">-->
<!--          <ul id="items_request" style="overflow-y: scroll;height: 200Px;">-->
            <%#= render partial: "inventory/refresh_central_request_log", locals: {inventory_department_request_logs: @inventory_department_request_logs} %>
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
  <% else %>
      <!-- <div class="sidebar" style="overflow-y:scroll">
        <div class="title">
          <h4>Sent Requests</h4>
          <hr />
        </div>
        <div class="inventory-filters">
          <ul>

          </ul>
        </div>
      </div> -->
  <% end %>

<script type="text/javascript">

//   $("#btn-fetch-requests").on('click',function(){
//     $(this).find("i").addClass("fa-spin")
//     $.ajax({
//       url: '/inventory/refresh_central_request_log',
//       type: 'get',
//       data: {
//         department: 'central'
//       },
//       success: function(){
//         $("#btn-fetch-requests").find("i").removeClass("fa-spin")
//       }
//     });
//   });
//
//   $('.log-request').on('click', function(){
//
//     request_log_id = $(this).attr('data-modelid')
//     url = '/inventory/department/request_logs/'+request_log_id
//     data = {
//       department_id:  'central',
// //      id: request_log_id,
//     }
//
//     $.ajax({
//       type: "get",
//       data: data,
//       url: url,
//     })
//   })
</script>

<style>
  /*::-webkit-scrollbar {*/
    /*display: none;*/
  /*}*/

  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f2f2f2;
    border-radius: 8px;
    /*padding: 2px;*/
  }

  ::-webkit-scrollbar-track:horizontal {
    background: #f2f2f2;
    border-radius: 8px;
    margin: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 8px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
  .sidebar-main {
    overflow-y: auto;
  }
</style>
