<%# current_inventory = Inventory.current_inventory %>
<div class="">
<div class="toolbar">
  <div class="row">
    <div class="col-lg-5 col-md-5 inventory-control-panel" style="border-right: 1px solid white;">
      <div class="btn-group" role="group">



        <ul class="nav navbar-nav" >

          <% if @inventory_store.enable_stock_entry %>
            <li class="">
              <button type="button" class="btn btn-primary btn-sm dropdown-toggle " data-toggle="dropdown" style="">
                <span style=''>&nbsp;Master</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu children" style="">

                <li>
                  <a href="/inventory/items/new?store_id=<%= @inventory_store.id %>" data-remote="true" class=""> Item Master</a>
                </li>
                <!--<li>-->
                  <!--<a href="/inventory/items/new" data-remote="true" class=""> Manufacturers Master</a>-->
                <!--</li>-->
                <li>
                  <a href="/inventory/vendors" data-remote="true" class=""> Supplier/Vendor Master</a>
                </li>
              </ul>
            </li>
          <%end%>

          <li class="">
            <button type="button" class="btn btn-primary btn-sm dropdown-toggle " data-toggle="dropdown" style="">
              <span style=''>&nbsp;Transactions</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu children" style="">
              <li><div class="dropdown-heading">Purchase</div></li>

              <li>
                <a href="/inventory/purchase_transactions/new?category=All&store_id=<%= @inventory_store.id %>" data-remote="true" class=""> All</a>
              </li>
              <li>
                <a href="/inventory/purchase_transactions/new?category=Medication&store_id=<%= @inventory_store.id %>" data-remote="true" class=""> Medication</a>
              </li>
              <li>
                <a href="/inventory/purchase_transactions/new?category=Consumables&store_id=<%= @inventory_store.id %>" data-remote="true" class=""> Consumables</a>
              </li>
              <li>
                <a href="/inventory/purchase_transactions/new?category=Implants&store_id=<%= @inventory_store.id %>" data-remote="true" class=""> Implants</a>
              </li>


              <li>
                <a href="/inventory/items/new" data-remote="true" class=""> Request</a>
              </li>
              <li>
                <a href="/inventory/items/new" data-remote="true" class=""> Transfer</a>
              </li>
              <li>
                <a href="/inventory/items/new" data-remote="true" class=""> Sale</a>
              </li>
              <li>
                <a href="/inventory/items/new" data-remote="true" class=""> Return</a>
              </li>
            </ul>
          </li>

          <li class="">
            <button type="button" class="btn btn-primary btn-sm dropdown-toggle " data-toggle="dropdown" style="">
              <span style=''>&nbsp;Reports</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu children" style="">
              <li>
                <a href="/inventory/items/new" data-remote="true" class=""> Reorder Items List</a>
              </li>
              <li>
                <a href="/inventory/items/new" data-remote="true" class=""> Expired Items</a>
              </li>
              <li>
                <a href="/inventory/items/new" data-remote="true" class=""> Sales</a>
              </li>
            </ul>
          </li>
        </ul>

        <% if @inventory_store.enable_stock_entry %>
            <a href="/inventory/items/new" data-remote="true" class="btn btn-primary btn-sm"> Add to Inventory</a>

            <!--<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalAddItem">-->
              <!--Add to Inventory-->
            <!--</button>-->
            <!--<button class="btn btn-success btn-sm" id="btnUploadExcelSheet">Upload Excel</button>-->
        <% end %>

        <% if @inventory_store.enable_receiving %>
          <a href="/inventory/department/request_logs/new?current_inventory=<%=@inventory_store.id%>" data-remote="true" class="btn btn-primary btn-sm"> Request Items</a>
          <!--<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalRequestItems">-->
            <!--Request Items-->
          <!--</button>-->
        <% end %>
        <% if @inventory_store.department_id == '334046963' %>
          <a href="/inventory/checkout_logs" data-remote="true" class="btn btn-warning btn-sm"> Checkout History</a>
        <%elsif @inventory_store.department_id == '284748001'%>
          <a href="/invoice/inventories/department/pharmacy_invoices" data-remote="true" class="btn btn-warning btn-sm"> Checkout History</a>
        <%elsif @inventory_store.department_id == '50121007'%>
          <a href="/invoice/inventories/department/optical_invoices" data-remote="true" class="btn btn-warning btn-sm"> Checkout History</a>
          <a href="/invoice/inventories/department/optical/advance_patient_list" data-remote="true" class="btn btn-success btn-sm"> Advance History</a>
        <%end%>

        <!--<button type="button" class="btn btn-danger btn-sm" id="daily_report_print" data-dept-id="<%#= current_inventory %>" >-->
          <!--<i class="fa fa-print"></i> Daily Report-->
        <!--</button>-->
        <!-- <button id="btnUpdateStockByExcel" class="btn btn-success btn-sm" data-toggle="modal">Update Stock</button> -->
      </div>
    </div>
    <div class="col-lg-2 col-md-2 text-center inventory-control-panel" style="">    
          <button id="refresh_inventory" class="btn btn-xs btn-primary" style='width: 90px; margin-top: -18px'>Reload&nbsp;&nbsp;
            <i class="fa fa-refresh" style="color: white;"></i>
          </button>
          <div id="items_checkout_collection" style="display: inline; margin-left: 20px;">
            <a href="/inventory/items/show_cart" data-remote="true" class="">
              <i class="fa fa-shopping-bag" style="font-size: 35px;"><span class="badge badge-circle"><%=@inventory_item_cart_count%></span></i>
            </a>
          </div>
          <!--<button id="refresh_inventory" class="btn btn-xs btn-primary" style='width: 90px; margin-bottom: 3px'>Reload&nbsp;&nbsp;-->
            <!--<i class="fa fa-refresh" style="color: white;"></i>-->
          <!--</button>-->
      <%# end %>
    </div>
    <div class="col-lg-5 col-md-5 text-right inventory-control-panel">
      <div id="inventory_search_panel">
        <input type="text" id="inventory_search" placeholder="Type Description to search..." class="form-control" >
      </div>
    </div>
  </div>
</div>
</div>

<style>
  .dropdown-heading {
    margin: 4px 0 9px;
    padding: 0 0 5px;
    border-bottom: 1px solid #ddd;
    font-size: 11px;
    font-weight: 500;
    color: #999;
  }
</style>