<% content_for :page_title do %>
    <title class="inventory-title"><%= @title ? @title.upcase : "INVENTORY" %> | HEALTHGRAPH</title>
<% end %>

<%= render partial: '/inventory/common_css.html.erb' %>

<div class="col-lg-12 col-md-12 contentpanel">
  <input type="hidden" value="<%= current_user.role_ids[0]%>" id="current_user_role">



    <!--<%# if @department_id == '50121007' %>-->
        <!--<%#= render partial: 'inventory/sidebar_optical', locals: {current_inventory: '50121007'}%>-->
    <!--<%# elsif @department_id == '284748001' %>-->
        <!--<%#= render partial: 'inventory/sidebar_pharmacy', locals: {current_inventory: '284748001'}%>-->
    <!--<%# else %>-->
    <div class="sidebar-main col-lg-2 col-md-2">
      <%= render partial: 'sidebar'%>
    </div>
    <!--<%# end %>-->


<!--  <div id="toolbar " class="col-lg-10 col-md-10">-->
    <%#= render partial: 'toolbar'%>
<!--  </div>-->

  <div class="store-content col-lg-10 col-md-10" >

    <% if @store_panel_url == "items_list" %>
      <div class="store-content-list store-content-panel col-lg-6 col-md-6" style="height: 100%;">
        <%= render partial: 'inventory/items/index' %>
      </div>

      <div class="store-content-details store-content-panel col-lg-6 col-md-6" style="height: 100%;">
        <%= render partial: 'inventory/stores/default_details.html' %>
      </div>

      <div class='<%= @inventory_store.department_name.downcase %>-panel' style="height: 100%; display: none">
      </div>
    <% else %>
      <div class="store-content-list store-content-panel col-lg-6 col-md-6" style="height: 100%; display: none">
      </div>

      <div class="store-content-details store-content-panel col-lg-6 col-md-6" style="height: 100%; display: none">
        Select the item...
      </div>

      <div class='<%= @inventory_store.department_name.downcase %>-panel'>
        <%= render partial: @store_panel_url%>
      </div>
    <% end %>



<!--    <div class="col-lg-6 col-md-6" id="listpanel" style="overflow-y: auto;">-->
      <%#= render partial: 'inventory/items/index.html.erb', locals: {current_store_id: @inventory_store.id }%>
<!--    </div>-->

<!--    <div class="col-lg-6 col-md-6" id="detailspanel" style="overflow-y: auto;">-->
      <%#= render partial: 'inventory/items/show.html.erb', locals: {current_store_id: @inventory_store.id }%>
<!--    </div>-->
  </div>

</div>
<script type="text/javascript">
  $('#appointment-management, #admission-management, #ot-management').on('click', function(e) {
    e.preventDefault();
    $('.inventory-title').text('Foss - EHR');
  });

  <%= render partial: 'inventory/stores/show.js' %>
</script>

