<% if @store.is_disable == false %>
  $('#store_disable_button_<%= @store.id %>').html(`
  	  <div class="btn btn-danger btn-xs btn-disable-store" style="display: inline;" data-toggle="modal" data-target="#confirmation-modal" data-store='<%= @store.name %>'>Disable</div>
	  <%= escape_javascript(link_to 'Confirm', toggle_disable_inventory_store_path(id: @store.id, is_disable: true), class: "btn btn-danger", remote: true, style: "display: none;", data: {dismiss: "modal"}) %>
	`)
  $('#navbar_store_<%=@store.id%>').show()
  $('#store_disable_button_<%= @store.id %>').closest('tr').find('td:not(#store_disable_button_<%= @store.id %>)').css({'visibility': 'visible'})
<% else %>
  $('#store_disable_button_<%= @store.id %>').html(`
  	<%= escape_javascript(link_to 'Active', toggle_disable_inventory_store_path(id: @store.id, is_disable: false), class: "btn btn-xs btn-primary", remote: true, style: "display: inline;") %>
  	`)
  $('#navbar_store_<%=@store.id%>').hide()
  $('#store_disable_button_<%= @store.id %>').closest('tr').find('td:not(#store_disable_button_<%= @store.id %>)').css({'visibility': 'hidden'})
<% end %>

$('.btn-disable-store').on('click', function(){
  var btn = $(this).closest('td').find('a')
  var store = $(this).data('store')
  $('#confirmation-modal').html(`
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Are You Sure?</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure, you want disable ${store} store?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        ${btn[0].outerHTML}
      </div>
    </div>
  </div>
  `)
})