<div class="col-md-12">
  <div class="row">
    <div class="col-xs-3 sidebar-content" style="padding:0px;">
      <!-- <ul class="nav nav-pills nav-stacked" role="tablist">
        <li role="presentation" class="active"><a href="" class="common-a-tag" aria-controls="appointment-types" role="tab" data-toggle="tab" style="padding-left: 10px;"><b>Released Features</b></a></li>
      </ul> -->
      <div class="row sub-menu-row mt10" style="margin-left:10px;">
        <div class="col-xs-12 sub-menu">
          <a href="#clinical_search_feature_current" class="release-sub-links activated" style="display: block;padding:10px;">Clinical Search V2</a>
          <a href="#analytics_feature_current" class="release-sub-links" style="display: block;padding:10px;">Analytics V2</a>
          <a href="#pd_code_search_feature_current" class="release-sub-links" style="display: block;padding:10px;">Search Diagnosis/Procedure with ICD10/SNOMED Code</a>
          <a href="#advice_sets_feature_current" class="release-sub-links" style="display: block;padding:10px;">Advice Sets</a>
          <a href="#surgical_note_sets_feature_current" class="release-sub-links" style="display: block;padding:10px;">Surgical Note Template</a>
        </div>
      </div>
    </div>
    <div class="col-xs-9">
      <div role="tabpanel" class="tab-pane active" id="release-detail">
        <!-- Clinical Search V2 -->
        <div id="clinical_search_feature_current" class="release-details">
          <div class="row">
            <div class="col-md-12">
              <h4>Clinical Search V2<hr style="margin:0px;border-color: #000;"/></h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mt10">
              <h5><b>CLINICAL SEARCH</b></h5>
              <ul>
                <li>Diagnoses search by facility/user.</li>
                <li>Procedures search by facility/user.</li>
                <li>Detailed filters by age, gender, advised/performed, eye side, history, allergy.</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Analytics V2 -->
        <div id="analytics_feature_current" class="release-details" style="display: none;">
          <div class="row">
            <div class="col-md-12">
              <h4>Analytics V2<hr style="margin:0px;border-color: #000;"/></h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mt10">
              <h5><b>ANALYTICS</b></h5>
              <ul>
                <li>Quick Overview.</li>
                <li>Operational Analytics.</li>
                <li>Financial Analytics.</li>
                <li>Clinical Analytics.</li>
                <li>Custom Analytics.</li>
                <li>Patient Surgical Demographics.</li>
                <li>Custom Dashboard.</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Search Diagnosis/Procedure with ICD10/SNOMED Code -->
        <div id="pd_code_search_feature_current" class="release-details" style="display: none;">
          <div class="row">
            <div class="col-md-12">
              <h4>Search Diagnosis/Procedure with ICD10/SNOMED Code<hr style="margin:0px;border-color: #000;"/></h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 img-width">
              <div class="container container-width">
                <div id="featureCarouselCurrentSearchDiPr" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators carousel-indicators-current">
                    <li data-target="#featureCarouselCurrentSearchDiPr" data-slide-to="0" class="active"></li>
                    <li data-target="#featureCarouselCurrentSearchDiPr" data-slide-to="1"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <p class="text-center" style="background: #fff;padding:0px;margin:0px;">SEARCH DIAGNOSES BY CODE</p>
                      <%= image_tag "feature-releases/dp_code_search/search_diagnosis_code.png", style: "width:100%;" %>
                    </div>

                    <div class="item">
                      <p class="text-center" style="background: #fff;padding:0px;margin:0px;">SEARCH PROCEDURES BY CODE</p>
                      <%= image_tag "feature-releases/dp_code_search/search_procedure_code.png", style: "width:100%;" %>
                    </div>
                  </div>

                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#featureCarouselCurrentSearchDiPr" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#featureCarouselCurrentSearchDiPr" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-12 mt10">
              <h5><b>SEARCH DIAGNOSIS/PROCEDURE WITH ICD10/SNOMED CODE</b></h5>
              <ul>
                <li>Search Diagnosis using ICD10 Code.</li>
                <li>Search Procedure using SNOMED Code.</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Advice Sets -->
        <div id="advice_sets_feature_current" class="release-details" style="display: none;">
          <div class="row">
            <div class="col-md-12">
              <h4>Advice Sets<hr style="margin:0px;border-color: #000;"/></h4>
            </div>
          </div>
          <div class="row">
            <div class="container container-width">
              <div class="col-md-12 img-width">
                <div id="featureCarouselCurrentMedicationSet" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators carousel-indicators-current">
                    <li data-target="#featureCarouselCurrentMedicationSet" data-slide-to="0" class="active"></li>
                    <li data-target="#featureCarouselCurrentMedicationSet" data-slide-to="1"></li>
                    <li data-target="#featureCarouselCurrentMedicationSet" data-slide-to="2"></li>
                    <li data-target="#featureCarouselCurrentMedicationSet" data-slide-to="3"></li>
                    <li data-target="#featureCarouselCurrentMedicationSet" data-slide-to="4"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <p class="text-center" style="background: #fff;padding:0px;margin:0px;">ADVICE SETS SETTINGS</p>
                      <%= image_tag "feature-releases/advice_sets/organisation_advice_sets.png", style: "width:100%;" %>
                    </div>

                    <div class="item">
                      <p class="text-center" style="background: #fff;padding:0px;margin:0px;">CREATE ADVICE SETS</p>
                      <%= image_tag "feature-releases/advice_sets/create_advice_set.png", style: "width:100%;" %>
                    </div>

                    <div class="item">
                      <p class="text-center" style="background: #fff;padding:0px;margin:0px;">USER LEVEL ADVICE SETS</p>
                      <%= image_tag "feature-releases/advice_sets/user_advice_sets.png", style: "width:100%;" %>
                    </div>

                    <div class="item">
                      <p class="text-center" style="background: #fff;padding:0px;margin:0px;">ADVICE SETS IN TEMPLATE</p>
                      <%= image_tag "feature-releases/advice_sets/add_advice_set_template.png", style: "width:100%;" %>
                    </div>

                    <div class="item">
                      <p class="text-center" style="background: #fff;padding:0px;margin:0px;">CREATE ADVICE SETS FROM TEMPLATE</p>
                      <%= image_tag "feature-releases/advice_sets/add_advice_set_template.png", style: "width:100%;" %>
                    </div>
                  </div>

                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#featureCarouselCurrentMedicationSet" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#featureCarouselCurrentMedicationSet" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-12 mt10">
              <h5><b>ADVICE SETS</b></h5>
              <ul>
                <li>
                  Advice Sets can now be created at 3 different levels :
                  <ul>
                    <li>Organisation - Sets created here will be accessible to all users within organisation.</li>
                    <li>Facility - Sets created here will be accessible to all users within that facility.</li>
                    <li>User - Users can create their own private sets & this would be only visible to that user.</li>
                  </ul>
                </li>
                <li>Default Advice Sets are provided.</li>
                <li>To add Advice Sets on Organisation/Facility Level. Go to Organisation Settings <%= shadow_arrow %> Clinical <%= shadow_arrow %> Organisation Advice Sets/Facility Advice Sets.</li>
                <li>To add Advice Sets on User Level. Go to Practice Settings <%= shadow_arrow %> Clinical <%= shadow_arrow %> Advice Sets.</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Surgical Notes -->
        <div id="surgical_note_sets_feature_current" class="release-details" style="display: none;">
          <div class="row">
            <div class="col-md-12">
              <h4>Surgical Notes<hr style="margin:0px;border-color: #000;"/></h4>
            </div>
          </div>
          <div class="row">
            <div class="container container-width">
              <div class="col-md-12 img-width">
                <div id="featureCarouselCurrentSurgicalNotes" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators carousel-indicators-current">
                    <li data-target="#featureCarouselCurrentSurgicalNotes" data-slide-to="0" class="active"></li>
                    <li data-target="#featureCarouselCurrentSurgicalNotes" data-slide-to="1"></li>
                    <li data-target="#featureCarouselCurrentSurgicalNotes" data-slide-to="2"></li>
                    <li data-target="#featureCarouselCurrentSurgicalNotes" data-slide-to="3"></li>
                    <li data-target="#featureCarouselCurrentSurgicalNotes" data-slide-to="4"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <p class="text-center" style="background: #fff;padding:0px;margin:0px;">SURGICAL NOTES SETTINGS</p>
                      <%= image_tag "feature-releases/surgical_note_sets/organisation_surgery_notes.png", style: "width:100%;" %>
                    </div>

                    <div class="item">
                      <p class="text-center" style="background: #fff;padding:0px;margin:0px;">CREATE SURGICAL NOTES</p>
                      <%= image_tag "feature-releases/surgical_note_sets/add_procedure_note.png", style: "width:100%;" %>
                    </div>

                    <div class="item">
                      <p class="text-center" style="background: #fff;padding:0px;margin:0px;">USER LEVEL SURGICAL NOTES</p>
                      <%= image_tag "feature-releases/surgical_note_sets/user_surgery_notes.png", style: "width:100%;" %>
                    </div>

                    <div class="item">
                      <p class="text-center" style="background: #fff;padding:0px;margin:0px;">SELECT NOTE IN IPD TEMPLATE</p>
                      <%= image_tag "feature-releases/surgical_note_sets/fill_note_template.png", style: "width:100%;" %>
                    </div>

                    <div class="item">
                      <p class="text-center" style="background: #fff;padding:0px;margin:0px;">ADD NOTE FROM IPD TEMPLATE</p>
                      <%= image_tag "feature-releases/surgical_note_sets/add_note_template.png", style: "width:100%;" %>
                    </div>
                  </div>

                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#featureCarouselCurrentSurgicalNotes" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#featureCarouselCurrentSurgicalNotes" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-12 mt10">
              <h5><b>SURGICAL NOTES</b></h5>
              <ul>
                <li>
                  Surgical Notes can now be created at 3 different levels :
                  <ul>
                    <li>Organisation - Sets created here will be accessible to all users within organisation.</li>
                    <li>Facility - Sets created here will be accessible to all users within that facility.</li>
                    <li>User - Users can create their own private sets & this would be only visible to that user.</li>
                  </ul>
                .</li>
                <li>To add Surgical Notes on Organisation/Facility Level. Go to Organisation Settings <%= shadow_arrow %> Clinical <%= shadow_arrow %> Organisation In-patient Surgical Notes/Facility In-patient Surgical Notes.</li>
                <li>To add Surgical Notes on User Level. Go to Practice Settings <%= shadow_arrow %> Clinical <%= shadow_arrow %> In-patient Surgical Notes.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>