<div class="modal-dialog" style="width:70%;">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">NEW FEATURES</h4>
    </div>
    <div class="modal-body">
      <!-- Ugli -->
      <div class="row" id="Flash-v21">
        <div class="col-md-12">
          <% if false %>
            <div class="row" id="feature-description">
              <div class="col-md-12">
                <div id="newFeaturesWizard" class="new-feature-wizard basic-wizard">
                  <ul class="nav nav-pills nav-justified nav-new-feature">
                    <li role="presentation" class="active"><a href="#upcoming_release" style="padding: 10px 0px;" data-toggle="tab">Current Release</a></li>
                    <li role="presentation"><a href="#past_release" style="padding: 10px 0px;" data-toggle="tab">Past Release</a></li>
                    <li role="presentation"><a href="#future_release" style="padding: 10px 0px;" data-toggle="tab">Upcoming Release</a></li>
                  </ul>
                  <% shadow_arrow = "&nbsp;&#10153;&nbsp;".html_safe %>
                  <div class="tab-content new-feature-form-body" style="background: #fff;overflow-y: scroll;border:1px solid #357ebd;border-top:none;margin-top:-1px;">
                    <div class="tab-pane active" id="upcoming_release">
                      <%= render partial: '/new_features/current_releases.html.erb', locals: { shadow_arrow: shadow_arrow } %>
                    </div>
                    <div class="tab-pane" id="past_release">
                      <%= render partial: '/new_features/past_releases.html.erb', locals: { shadow_arrow: shadow_arrow } %>
                    </div>
                    <div class="tab-pane" id="future_release">
                      <%= render partial: '/new_features/upcoming_releases.html.erb', locals: { shadow_arrow: shadow_arrow } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <div class="row">
            <div class="col-md-12 text-center">
              <h5 class="release-name" style="text-decoration: underline;">FLASH V32.0.0</h5>
            </div>
          </div>
          <div class="row" id="feature-description">
            <% if @department.present? %>
              <%= render partial: '/new_features/department/' + @department.name.downcase.to_s.split(" ")[0] + '.html.erb' %>
            <% end %>
          </div>
          <% if false %>
            <div class="row" id="trello-link" style="border-top: 1px solid #eee;padding-top:10px;">
              <div class="col-md-12 text-center">
                For images & more details visit - <%= link_to "https://trello.com/b/pg5v75VL/hg-product-roadmap", id: 'trello-link-url', target: '_blank' do %>HG Product Roadmap<% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <% if @current_user.try(:new_feature_seen) %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <% else %>
        <%= link_to new_features_seen_path(user_id: @current_user.id.to_s), remote: true, id: 'btn-new-feature-seen', class: 'btn btn-default' do %>Close<% end %>
      <% end %>
    </div>
  </div>
</div>


<style type="text/css">
  .nav-new-feature > li.active > a, .nav-new-feature > li.active > a:hover, .nav-new-feature > li.active > a:focus {
    background: none;
    color: #000;
  }

  .nav-new-feature li.active a, .nav-new-feature li.active a:focus, .nav-new-feature li.active a:active {
    border: 1px solid #357ebd;
    color: #357ebd;
    border-bottom: none;
  }

  .nav-new-feature li a {
    border-bottom: 1px solid #357ebd;
  }

  .release-sub-links {
    color: #999;
  }
  .release-sub-links:hover {
    color: #000;
    text-decoration: underline;
  }

  .active .common-a-tag {
    background: transparent !important;
    border-radius: 0px;
    border-left: 4px solid #354670 !important;
    color: #354670 !important;
  }
  .active .common-a-tag:hover {
    font-weight: normal !important;
    color: #354670 !important;
  }

  .activated, .activated:hover, .activated:focus, .activated:active {
    font-size: 18px;
    color: #357ebd;
    text-decoration: none;
  }

  #feature-modal .carousel-control {
    width: 10% !important;
  }
</style>

<script type="text/javascript">
  var img_width = $(".release-details").width()

  $(".container-width").css("width", img_width)
  $(window).resize(function() {
    $(".container-width").css("width", img_width)
  });

  $(".nav-new-feature a[href^='#']").on('click', function(e) {
    e.preventDefault();
    var release_id = $(this).attr("href")
    $(release_id).find(".release-sub-links").first().trigger('click');
  });

  $(".release-sub-links").on('click', function(e) {
    e.preventDefault();
    var menu_id = $(this).attr("href")
    $(".release-details").hide();
    $(".release-sub-links").removeClass("activated")
    $(this).addClass("activated")
    $(menu_id).show();
  });
</script>