<div class="col-md-12">
  <div class="row">
    <div class="col-xs-3 sidebar-content" style="padding:0px;">
      <!-- <ul class="nav nav-pills nav-stacked" role="tablist">
        <li role="presentation" class="active"><a href="" class="common-a-tag" aria-controls="appointment-types" role="tab" data-toggle="tab" style="padding-left: 10px;"><b>Released Features</b></a></li>
      </ul> -->
      <div class="row sub-menu-row mt10" style="margin-left:10px;">
        <div class="col-xs-12 sub-menu">
          <a href="#appointment_types_feature_past" class="release-sub-links activated" style="display: block;padding:10px;">Appointment Types</a>
          <a href="#medication_sets_feature_past" class="release-sub-links" style="display: block;padding:10px;">Medication Sets</a>
          <a href="#medication_lists_feature_past" class="release-sub-links" style="display: block;padding:10px;">Medication List</a>
          <a href="#medication_certificates_feature_past" class="release-sub-links" style="display: block;padding:10px;">Medication Certificates</a>
          <a href="#patient_histories_feature_past" class="release-sub-links" style="display: block;padding:10px;">Patient History</a>
        </div>
      </div>
    </div>
    <div class="col-xs-9">
      <div role="tabpanel" class="tab-pane active" id="release-detail">
        <!-- Appointment Types -->
        <div id="appointment_types_feature_past" class="release-details">
          <div class="row">
            <div class="col-md-12">
              <h4>Appointment Types<hr style="margin:0px;border-color: #000;"/></h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 img-width">
              <div class="container container-width">
                <div id="featureCarouselPastAppointmentType" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators carousel-indicators-current">
                    <li data-target="#featureCarouselPastAppointmentType" data-slide-to="0" class="active"></li>
                    <li data-target="#featureCarouselPastAppointmentType" data-slide-to="1"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <p class="text-center" style="background: #fff;padding:0px;margin:0px;">FACILITY APPOINTMENT TYPE</p>
                      <%= image_tag "feature-releases/appointment_types/facility_appointment_type.png", style: "width:100%;" %>
                    </div>

                    <div class="item">
                      <p class="text-center" style="background: #fff;padding:0px;margin:0px;">ORGANISATION APPOINTMENT TYPE</p>
                      <%= image_tag "feature-releases/appointment_types/organisation_appointment_type.png", style: "width:100%;" %>
                    </div>
                  </div>

                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#featureCarouselPastAppointmentType" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#featureCarouselPastAppointmentType" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-12 mt10">
              <h5><b>APPOINTMENT TYPES</b></h5>
              <ul>
                <li>Appointment Types are moved from User Level to Organisation and Facility Level.</li>
                <li>
                  Default Appointment Types are added for better analytics.
                  <ul>
                    <li>New.</li>
                    <li>Review.</li>
                    <li>Doctor Review.</li>
                    <li>PMT.</li>
                    <li>Investigation.</li>
                    <li>Surgery, etc.</li>
                  </ul>
                </li>
                <li>To add Appointment Types. Go to Organisation Settings <%= shadow_arrow %> Clinical <%= shadow_arrow %> OPD Appointment Types/Facility OPD Appointment Types.</li>
                <li>Appointment Types created at Organisation Level will flow to Facility.</li>
                <li>For each Facility admin/owner can add extra comment against each types according to their requirements. Ex. Room No. X.</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Medication Sets -->
        <div id="medication_sets_feature_past" class="release-details" style="display: none;">
          <div class="row">
            <div class="col-md-12">
              <h4>Medication Sets<hr style="margin:0px;border-color: #000;"/></h4>
            </div>
          </div>
          <div class="row">
            <div class="container container-width">
              <div class="col-md-12 img-width">
                <div id="featureCarouselPastMedicationSet" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators carousel-indicators-current">
                    <li data-target="#featureCarouselPastMedicationSet" data-slide-to="0" class="active"></li>
                    <li data-target="#featureCarouselPastMedicationSet" data-slide-to="1"></li>
                    <li data-target="#featureCarouselPastMedicationSet" data-slide-to="2"></li>
                    <li data-target="#featureCarouselPastMedicationSet" data-slide-to="3"></li>
                    <li data-target="#featureCarouselPastMedicationSet" data-slide-to="4"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <p class="text-center" style="background: #fff;padding:0px;margin:0px;">MEDICATION SETS SETTINGS</p>
                      <%= image_tag "feature-releases/medication_sets/medication_set_settings.png", style: "width:100%;" %>
                    </div>

                    <div class="item">
                      <p class="text-center" style="background: #fff;padding:0px;margin:0px;">CREATE MEDICATION SETS</p>
                      <%= image_tag "feature-releases/medication_sets/create_medication_set.png", style: "width:100%;" %>
                    </div>

                    <div class="item">
                      <p class="text-center" style="background: #fff;padding:0px;margin:0px;">USER LEVEL MEDICATION SETS</p>
                      <%= image_tag "feature-releases/medication_sets/user_medication_set.png", style: "width:100%;" %>
                    </div>

                    <div class="item">
                      <p class="text-center" style="background: #fff;padding:0px;margin:0px;">CREATE MEDICATION SET FROM TEMPLATE</p>
                      <%= image_tag "feature-releases/medication_sets/add_medication_set_template.png", style: "width:100%;" %>
                    </div>

                    <div class="item">
                      <p class="text-center" style="background: #fff;padding:0px;margin:0px;">CHANGE SETS LEVEL IN TEMPLATE</p>
                      <%= image_tag "feature-releases/medication_sets/change_sets_level.png", style: "width:100%;" %>
                    </div>
                  </div>

                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#featureCarouselPastMedicationSet" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#featureCarouselPastMedicationSet" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-12 mt10">
              <h5><b>MEDICATION SETS</b></h5>
              <ul>
                <li>
                  Medication Sets can now be created at 3 different levels :
                  <ul>
                    <li>Organisation - Sets created here will be accessible to all users within organisation.</li>
                    <li>Facility - Sets created here will be accessible to all users within that facility.</li>
                    <li>User - Users can create their own private sets & this would be only visible to that user.</li>
                  </ul>
                .</li>
                <li>To add Medication Sets on Organisation/Facility Level. Go to Organisation Settings <%= shadow_arrow %> Clinical <%= shadow_arrow %> Organisation Medication Sets/Facility Medication Sets.</li>
                <li>To add Medication Sets on User Level. Go to Practice Settings <%= shadow_arrow %> Clinical <%= shadow_arrow %> Medication Sets.</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Medication Lists -->
        <div id="medication_lists_feature_past" class="release-details" style="display: none;">
          <div class="row">
            <div class="col-md-12">
              <h4>Medication Lists<hr style="margin:0px;border-color: #000;"/></h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 img-width">
              <div class="container container-width">
                <div id="featureCarouselPastMedicationList" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators carousel-indicators-current">
                  <li data-target="#featureCarouselPastMedicationList" data-slide-to="0" class="active"></li>
                  <li data-target="#featureCarouselPastMedicationList" data-slide-to="1"></li>
                  <li data-target="#featureCarouselPastMedicationList" data-slide-to="2"></li>
                  <li data-target="#featureCarouselPastMedicationList" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    <p class="text-center" style="background: #fff;padding:0px;margin:0px;">MEDICATION LIST SETTINGS</p>
                    <%= image_tag "feature-releases/medication_lists/organisation_medication_lists.png", style: "width:100%;" %>
                  </div>

                  <div class="item">
                    <p class="text-center" style="background: #fff;padding:0px;margin:0px;">ADD MEDICATIONS</p>
                    <%= image_tag "feature-releases/medication_lists/add_medications.png", style: "width:100%;" %>
                  </div>

                  <div class="item">
                    <p class="text-center" style="background: #fff;padding:0px;margin:0px;">USER LEVEL MEDICATION LIST</p>
                    <%= image_tag "feature-releases/medication_lists/user_medication_list.png", style: "width:100%;" %>
                  </div>

                  <div class="item">
                    <p class="text-center" style="background: #fff;padding:0px;margin:0px;">SEARCH MEDICATION FROM TEMPLATE</p>
                    <%= image_tag "feature-releases/medication_lists/search_medication_from_list.png", style: "width:100%;" %>
                  </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#featureCarouselPastMedicationList" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#featureCarouselPastMedicationList" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a>
                </div>
              </div>
            </div>
            <div class="col-md-12 mt10">
              <h5><b>MEDICATION LIST</b></h5>
              <ul>
                <li>
                  Medication List can now be created at 3 different levels :
                  <ul>
                    <li>Organisation - Medicines added here will be accessible to all users within organisation.</li>
                    <li>Facility - Medicines added here will be accessible to all users within that facility.</li>
                    <li>User - Users can create their own medicine list & this would be only visible to that user.</li>
                  </ul>
                .</li>
                <li>To add Medication Lists on Organisation/Facility Level. Go to Organisation Settings <%= shadow_arrow %> Clinical <%= shadow_arrow %> Organisation Medication Lists/Facility Medication Lists.</li>
                <li>To add Medication Lists on User Level. Go to Practice Settings <%= shadow_arrow %> Clinical <%= shadow_arrow %> Medication Lists.</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Medication Certificates -->
        <div id="medication_certificates_feature_past" class="release-details" style="display: none;">
          <div class="row">
            <div class="col-md-12">
              <h4>Medication Certificates<hr style="margin:0px;border-color: #000;"/></h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 img-width">
              <div class="container container-width">
                <div id="featureCarouselPastMedicationCertificate" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators carousel-indicators-current">
                    <li data-target="#featureCarouselPastMedicationCertificate" data-slide-to="0" class="active"></li>
                    <li data-target="#featureCarouselPastMedicationCertificate" data-slide-to="1"></li>
                    <li data-target="#featureCarouselPastMedicationCertificate" data-slide-to="2"></li>
                    <li data-target="#featureCarouselPastMedicationCertificate" data-slide-to="3"></li>
                    <li data-target="#featureCarouselPastMedicationCertificate" data-slide-to="4"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <p class="text-center" style="background: #fff;padding:0px;margin:0px;">ORGANISATION MEDICATION CERTIFICATE SETTINGS</p>
                      <%= image_tag "feature-releases/medication_certificates/organisation_medical_certificates.png", style: "width:100%;" %>
                    </div>

                    <div class="item">
                      <p class="text-center" style="background: #fff;padding:0px;margin:0px;">CREATE CERTIFICATE TEMPLATES</p>
                      <%= image_tag "feature-releases/medication_certificates/create_certificate_template.png", style: "width:100%;" %>
                    </div>

                    <div class="item">
                      <p class="text-center" style="background: #fff;padding:0px;margin:0px;">USER MEDICAL CERTIFICATE</p>
                      <%= image_tag "feature-releases/medication_certificates/user_medical_certificates.png", style: "width:100%;" %>
                    </div>

                    <div class="item">
                      <p class="text-center" style="background: #fff;padding:0px;margin:0px;">GENERATE CERTIFICATE</p>
                      <%= image_tag "feature-releases/medication_certificates/generate_certificates.png", style: "width:100%;" %>
                    </div>

                    <div class="item">
                      <p class="text-center" style="background: #fff;padding:0px;margin:0px;">CERTIFICATES LIST IN PATIENT TIMELINE</p>
                      <%= image_tag "feature-releases/medication_certificates/certificate_patient_timeline.png", style: "width:100%;" %>
                    </div>
                  </div>

                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#featureCarouselPastMedicationCertificate" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#featureCarouselPastMedicationCertificate" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-12 mt10">
              <h5><b>MEDICATION CERTIFICATES</b></h5>
              <ul>
                <li>
                  Medication Certificates can now be created at 3 different levels :
                  <ul>
                    <li>Organisation - Certificates created here will be accessible to all users within organisation.</li>
                    <li>Facility - Certificates created here will be accessible to all users within that facility.</li>
                    <li>User - Users can create their own Certificates & this would be only visible to that user.</li>
                  </ul>
                .</li>
                <li>To add Medication Certificates at Organisation/Facility Level. Go to Organisation Settings <%= shadow_arrow %> Clinical <%= shadow_arrow %> Organisation Medication Certificates/Facility Medication Certificates.</li>
                <li>To add Medication Certificates on User Level. Go to Practice Settings <%= shadow_arrow %> Clinical <%= shadow_arrow %> Medication Certificates.</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Patient History -->
        <div id="patient_histories_feature_past" class="release-details" style="display: none;">
          <div class="row">
            <div class="col-md-12">
              <h4>Patient History, Allergy & Chief Complaints<hr style="margin:0px;border-color: #000;"/></h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 img-width">
              <div class="container container-width">
                <div id="featureCarouselPastPatientHistory" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators carousel-indicators-current">
                    <li data-target="#featureCarouselPastPatientHistory" data-slide-to="0" class="active"></li>
                    <li data-target="#featureCarouselPastPatientHistory" data-slide-to="1"></li>
                    <li data-target="#featureCarouselPastPatientHistory" data-slide-to="2"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <p class="text-center" style="background: #fff;padding:0px;margin:0px;">PATIENT HISTORY</p>
                      <%= image_tag "feature-releases/patient_histories/patient_history.png", style: "width:100%;" %>
                    </div>

                    <div class="item">
                      <p class="text-center" style="background: #fff;padding:0px;margin:0px;">PATIENT ALLERGY</p>
                      <%= image_tag "feature-releases/patient_histories/patient_allergy.png", style: "width:100%;" %>
                    </div>

                    <div class="item">
                      <p class="text-center" style="background: #fff;padding:0px;margin:0px;">CHIEF COMPLAINTS</p>
                      <%= image_tag "feature-releases/patient_histories/chief_complaints_template.png", style: "width:100%;" %>
                    </div>
                  </div>

                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#featureCarouselPastPatientHistory" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#featureCarouselPastPatientHistory" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-12 mt10">
              <h5><b>PATIENT HISTORY/ALLERGY/CHIEF COMPLAINTS</b></h5>
              <ul>
                <li>UI changes in Patient History, Allergy & Chief Complaints.</li>
                <li>History auto updates with changing days.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>