<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-lg">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Receipt Log</h4>
      <!-- (<%#= Date.parse(params[:start_date]).strftime("%d %b %Y") %>) -->
    </div>
    <div class="modal-body">
      <div class="row">
        <table class="table" style="">
          <thead>
            <tr>
              <th class="log_style" rowspan="2">Receipt ID</th>
              <th class="log_style" rowspan="2">Edit Time</th>
              <th class="log_style" rowspan="2">Changed By</th>
              <th class="log_style" colspan="2">Amount</th>
              <th class="log_style" rowspan="2">Reason For Change</th>
            </tr>
            <tr>
              <th class="log_style text-right">Before Change</th>
              <th class="log_style text-right">After Change</th>
            </tr>
          </thead>
          <tbody>
            <% @invoicelogs.each.with_index do |invlog,i| %>
              <tr>
                <td class="text-center"><%= invlog.bill_number %></td>
                <td class="text-center"><%= invlog.created_at.to_s(:hg_history_date_time) %></td>
                <td class="text-center"><%= invlog.username %></td>
                <td class="text-right">&#8377; <%= invlog.old_total %></td>
                <td class="text-right">&#8377; <%= invlog.new_total %></td>
                <td class="text-center"><%= invlog.comment %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<style type="text/css">
  .log_style {
    background:#354670 !important;
    color:#fff !important;
    padding:0px !important;
    text-align:center !important;
  }
</style>