<input type="hidden" name="" class="statistics_filter" id='statistics_filter' value="All">
<% if current_user.role_ids.any?{|i| [46255001,387619007].include?i} %>
  <div class="daily_reports row">
    <%= render partial: "statistics/data_files/inventory_dashboard_data.html.erb" %>
  </div>
<% else %>
  <div class="daily_reports row">
    <%= render partial: "statistics/data_files/main_dashboard_data.html.erb" %>
  </div>

  <div class="daily_reports row">
    <%= render partial: "statistics/data_files/opd_dashboard_data.html.erb" %>
    <%= render partial: "statistics/data_files/ipd_dashboard_data.html.erb" %>
    <%= render partial: "statistics/data_files/inventory_dashboard_data.html.erb" %>

  </div>

  <div class="daily_reports row">
    <%= render partial: "statistics/data_files/mode_of_payment_data.html.erb" %>
  </div>

  <div class="daily_reports row">
    <%= render partial: "statistics/data_files/tax_dashboard_data.html.erb" %>
  </div>

<% end %>

<style type="text/css">
  .daily_reports {
    margin: 20px 0px 30px 15px;
    background: #fff;
    box-shadow: 0 0 12px 0;
  }
</style>