<div class="row">
  <div class="col-md-12 text-center">
    <% if params[:back] %><button class="btn btn-primary btn-xs pull-left btn-datewise-view"><i class="fa fa-arrow-left"></i> Back</button><% else %><button class="btn btn-primary btn-xs pull-left statistics_parent_link all" data-filter="All"><i class="fa fa-arrow-left"></i> Back to Dashboard</button><% end %>
    <% if @pharmacy.count > 0 %>
      <%= link_to statistics_print_setting_path(flag: 'pharmacy_daily_view', start_date: @start_date, end_date: @end_date), data: { remote: true, 'toggle': 'modal', 'target': '#invoice-modal' }, class: 'btn btn-primary btn-xs pull-right' do %><i class="fa fa-print"></i> Print<% end %>
    <% end %>
    <h3 style="color:#000;">PHARMACY INVOICES <small>(<%= Date.parse(@start_date).strftime('%d/%m/%Y') %>)</small></h3>
  </div>
</div>

<table class="table">
  <thead style="border-top:1px solid #000;border-bottom:1px solid #000;">
    <tr>
      <th style="width:10%;">S No.</th>
      <th class="text-center">Patient ID</th>
      <th>Patient Name</th>
      <th>Receipt ID</th>
      <th style="width:10%">Item</th>
      <th class="text-right">Item MRP</th>
      <!-- <th class="text-right">Tax</th> -->
      <th class="text-right">Amount</th>
    </tr>
  </thead>
  <tbody style="border-top:1px solid #000;border-bottom:1px solid #000;">
    <% if @pharmacy.count > 0 %>
      <tr>
        <td class="main-display-row" colspan="6">Total <%= @pharmacy.count %> Receipts :</td>
        <td class="main-display-row text-right"><%= @currency.symbol %> <%= @pharmacy.pluck(:total).sum.to_f.round(2) %></td>
      </tr>
      <% @pharmacy.each.with_index do |pharmacy, i| %>
      <tr>
        <td style="width:10%;"><%= i+1 %></td>
        <td class="text-center">
          <%= pharmacy.patient.patient_identifier_id %><%= "<br>".html_safe + (pharmacy.patient.patient_mrn if pharmacy.patient.patient_mrn.present?) %>          
        <td><%= pharmacy.recipient || "-" %></td>
        <td><%= pharmacy.bill_number %></td>
        <td style="width:10%">
          <% pharmacy.items.each do |item| %>
            <%= item.description %><br>
          <% end %>
        </td>
        <td class="text-right">
          <% pharmacy.items.each do |item| %>
            <%= @currency.symbol %> <%= item.mrp.to_f.round(2) %><br>
          <% end %>
        </td>
        <!-- <td class="text-right"> -->
          <%#= pharmacy.tax_breakup.inject(0){ |amount,x| amount += x[:amount].to_f } %>
        <!-- </td> -->
        <td class="text-right"><%= @currency.symbol %> <%= pharmacy.total.to_f.round(2) %></td>
      </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="11" class="text-center">No Data to Display</td>
      </tr>
    <% end %>
  </tbody>
</table>