<div class="row">
  <div class="col-md-12 text-center">
    <% if params[:back] %><button class="btn btn-primary btn-xs pull-left btn-datewise-view"><i class="fa fa-arrow-left"></i> Back</button><% else %><button class="btn btn-primary btn-xs pull-left statistics_parent_link all" data-filter="All"><i class="fa fa-arrow-left"></i> Back to Dashboard</button><% end %>
    <% if @cash_reg_app.count > 0 %>
      <%= link_to statistics_print_setting_path(flag: 'opd_cr_daily_view', start_date: @start_date, end_date: @end_date), data: { remote: true, 'toggle': 'modal', 'target': '#invoice-modal' }, class: 'btn btn-primary btn-xs pull-right' do %><i class="fa fa-print"></i> Print<% end %>
    <% end %>
    <h3 style="color:#000;">OPD CASH REGISTERS <small>(<%= Date.parse(@start_date).strftime('%d/%m/%Y') %>)</small></h3>
  </div>
</div>

<table class="table">
  <thead style="border-top:1px solid #000;border-bottom:1px solid #000;">
    <tr>
      <th>S No.</th>
      <th class="text-center">Patient ID</th>
      <th>Patient Name</th>
      <th>Cash Reg. ID</th>      
      <th class="text-right">Amount</th>
    </tr>
  </thead>
  <tbody style="border-top:1px solid #000;border-bottom:1px solid #000;">
    <% if @cash_reg_app.count > 0 %>
      <tr>
        <td class="main-display-row" colspan="4">Total <%= @cash_reg_app.count %> Receipts :</td>
        <td class="text-right main-display-row"><%= @currency.symbol %><%= @cash_reg_app.pluck(:total).map(&:to_f).sum %></td>
      </tr>
      <% @cash_reg_app.each.with_index do |cash_reg_app, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td class="text-center">
          <%= cash_reg_app.patient.patient_identifier_id %><%= "<br>".html_safe + (cash_reg_app.patient.patient_mrn if cash_reg_app.patient.patient_mrn.present?) %>
        </td>
        <td><%= cash_reg_app.patient.fullname %></td>
        <td><%= cash_reg_app.bill_number %></td>
        <td class="text-right"><%= @currency.symbol %> <%= cash_reg_app.total %></td>
      </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="5" class="text-center">No Data to Display</td>
      </tr>
    <% end %>
  </tbody>
</table>