<div class="col-md-4">
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-left"><a href="javascript:;" data-filter='Inventory' class="statistics_parent_link inventory">Pharmacy/Optical Earnings</a></h4>
    </div>
    <div class="col-sm-12">
      <div class="panel panel-primary panel-stat mt10">
        <div class="panel-heading">

          <div class="stat">
            <div class="row">
              <div class="col-xs-4">
                <img src="/images/is-money.png" alt="">
              </div>
              <div class="col-xs-8">
                <%if current_user.role_ids.any?{|i| [46255001].include?i} %>
                  <small class="stat-label">Total Earnings</small>
                  <% total = @pharmacy.pluck(:total).sum.round(2)  %>
                  <h1><%= @currency.symbol %> <%= total %></h1>
                <% elsif current_user.role_ids.any?{|i| [387619007].include?i} %>
                    <small class="stat-label">Total Earnings</small>
                    <% total = @optical.pluck(:total).sum.round(2) %>
                    <h1><%= @currency.symbol %> <%= total %></h1>
                <% else %>
                  <small class="stat-label">Total Earnings</small>
                  <% total = @pharmacy.pluck(:total).sum.round(2) + @optical.pluck(:total).sum.round(2) %>
                  <h1><%= @currency.symbol %> <%= total %></h1>
                <% end %>
              </div>
            </div><!-- row -->

            <div class="mb15"></div>

            <div class="row">
              <%if current_user.role_ids.any?{|i| [46255001].include?i} %>
                <div class="col-xs-12" style="text-align:center">
                  <small class="stat-label">Pharmacy</small>
                  <h4><%= @currency.symbol %> <%= @pharmacy.pluck(:total).sum.round(2) %></h4>
                </div>
              <% elsif current_user.role_ids.any?{|i| [387619007].include?i}  %>
                <div class="col-xs-12" style="text-align:center">
                  <small class="stat-label">Optical</small>
                  <h4><%= @currency.symbol %> <%= @optical.pluck(:total).sum.round(2) %></h4>
                </div>
              <% else %>
                <div class="col-xs-6">
                  <small class="stat-label">Pharmacy</small>
                  <h4><%= @currency.symbol %> <%= @pharmacy.pluck(:total).sum.round(2) %></h4>
                </div>
                <div class="col-xs-6">
                  <small class="stat-label">Optical</small>
                  <h4><%= @currency.symbol %> <%= @optical.pluck(:total).sum.round(2) %></h4>
                </div>
              <% end %>
            </div><!-- row -->

          </div><!-- stat -->

        </div><!-- panel-heading -->
      </div><!-- panel -->
    </div>
  </div>
</div>