<div class="col-md-4">
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-left"><a href="javascript:;" data-filter='OPD' class="statistics_parent_link opd">OPD Earnings</a></h4>
    </div>
    <div class="col-sm-12">
      <div class="panel panel-primary panel-stat mt10">
        <div class="panel-heading">

          <div class="stat">
            <div class="row">
              <div class="col-xs-4">
                <img src="/images/is-money.png" alt="">
              </div>
              <div class="col-xs-8">
                <small class="stat-label">Total Earnings</small>
                <% total = @daily_reports.pluck(:opd_cash_reg_transaction).map{|i| i.to_i}.sum + @daily_reports.pluck(:opd_invoice_payment_received).sum.round(2) %>
                <h1><%= @currency.symbol %> <%= total %></h1>
              </div>
            </div><!-- row -->

            <div class="mb15"></div>

            <div class="row">
              <div class="col-xs-4">
                <small class="stat-label">Cash Register</small>
                <h4><%= @currency.symbol %> <%= @daily_reports.pluck(:opd_cash_reg_transaction).map{|i| i.to_i}.sum %></h4>
              </div>

              <div class="col-xs-4">
                <small class="stat-label">Receipt</small>
                <h4><%= @currency.symbol %> <%= @daily_reports.pluck(:opd_invoice_payment_received).sum.round(2) %></h4>
              </div>
              
              <div class="col-xs-4">
                <small class="stat-label">Credit</small>
                <h4><%= @currency.symbol %> <%= @daily_reports.pluck(:opd_invoice_payment_pending).sum.round(2) %></h4>
              </div>
            </div><!-- row -->

          </div><!-- stat -->

        </div><!-- panel-heading -->
      </div><!-- panel -->
    </div>
  </div>
</div>