<div class="row">
  <div class="col-md-12 text-center">
    <button class="btn btn-primary btn-xs pull-left statistics_parent_link all" data-filter="All"><i class="fa fa-arrow-left"></i> Back to Dashboard</button>
    <% if @pharmacy_dates.count > 0 %>
      <%= link_to statistics_print_path(flag: 'pharmacy_multidate_view', start_date: @start_date, end_date: @end_date, format: 'pdf'), class: 'btn btn-primary btn-xs pull-right', target: '_blank' do %><i class="fa fa-print"></i> Print<% end %>
    <% end %>
    <h3 style="color:#000;">PHARMACY INCOME <small>(<%= Date.parse(@start_date).strftime('%d/%m/%Y') %> - <%= Date.parse(@end_date).strftime('%d/%m/%Y') %>)</small></h3>
  </div>
</div>

<table class="table">
  <thead style="border-top:1px solid #000;border-bottom:1px solid #000;">
    <tr>
      <th><b>S No.</b></th>
      <th><b>Date</b><span style="font-size:8px;">&nbsp;(Click For Details)</span></th>
      <!-- <th class="text-right"><b>Tax</b></th> -->
      <th class="text-right"><b>Total</b></th>
    </tr>
  </thead>
  <tbody style="border-top:1px solid #000;border-bottom:1px solid #000;">
    <% if @pharmacy_dates.count > 0 %>
      <tr>
        <td class="main-display-row" colspan="2">Total :</td>
        <td class="main-display-row text-right"><%= @currency.symbol %> <%= @pharmacy_total.sum.to_f %></td>
      </tr>
      <% @pharmacy_dates.each_with_index do |pharmacy_date, i| %>
          <tr>
            <td><%= i + 1 %></td>
            <td><button class="btn btn-link btn-xs btn-awesome" data-date-form = "<%= pharmacy_date %>" style="color: #354670;font-size: 14px;font-weight: bolder;text-decoration: underline;"><%= Date.parse(pharmacy_date).strftime('%d/%m/%Y') %></button></td>
            <!-- <td class="text-right"><%= @currency.symbol %> <%#= @pharmacy_tax[i].flatten.inject(0){|amount,x| amount += x[:amount].to_f}.round(2) %></td> -->
            <td class="text-right"><%= @currency.symbol %> <%= @pharmacy_total[i].to_f.round(2) %></td>
          </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="11" class="text-center">No Data to Display</td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if false %>
  <script type="text/javascript">
      content_height = $("#pahrmacy_invoices").closest(".contentpanel").height()
      $("#pharamcy_invoices").css('max-height', content_height*(1/2))
      $("#pharmacy_invoices").css('overflow-y', 'scroll')
      // $(".data_tbody").css('height', content_height*(1/4))

      $(".btn-tabular").hide()
      $(".view_graphical").hide()
      $(".btn-graphical").on('click', function(){
          $(this).hide()
          $(this).closest(".title_ipd").find(".btn-tabular").show()
          $(this).closest(".daily_reports").find(".view_tabular").hide()
          $(this).closest(".daily_reports").find(".view_graphical").show()
      })
      $(".btn-tabular").on('click', function(){
          $(this).hide()
          $(this).closest(".title_ipd").find(".btn-graphical").show()
          $(this).closest(".daily_reports").find(".view_tabular").show()
          $(this).closest(".daily_reports").find(".view_graphical").hide()
      })

      var ctx = document.getElementById("pahrmacyFinance").getContext('2d')
      var pharmacyfinanceLineChart = new Chart(ctx,{
          type: 'bar',
          data: {
              labels: $("#pahrmacyFinance").data('dates'),
              datasets: [{
                  label: '#Invoice',
                  data: $("#pahrmacyFinance").data('total'),
                  backgroundColor: "rgba(30,144,255,1)",
                  borderColor: "rgb(30,144,255,1)",
                  borderCapStyle: 'butt',
                  borderDash: [],
                  borderDashOffset: 0.0,
                  borderJoinStyle: 'miter',
                  pointBorderColor: "rgba(75,192,192,1)",
                  pointBackgroundColor: "#fff",
                  pointBorderWidth: 1,
                  pointHoverRadius: 10,
                  pointHoverBackgroundColor: "rgba(75,192,192,1)",
                  pointHoverBorderColor: "rgba(220,220,220,1)",
                  pointHoverBorderWidth: 2,
                  pointRadius: 5,
                  pointHitRadius: 10,
                  lineTension: 0.1
              }],

          },
          options: {
              categoryPercentage: 0.5,
              barPercentage: 0.5,
              scales: {
                  xAxes: [{
                      stacked: true
                  }],
                  yAxes: [{
                      stacked: true
                  }]
              }
          }
      });
  </script>
<% end %>