<div class="daily_reports row" style="margin: 20px 0px 30px 15px;background: #fff;box-shadow: 0 0 12px 0;">
  <div class="col-md-12">
    <h4 class="text-left title_opd">Finance by Services
      <button class="pull-right btn btn-xs btn-link btn-graphical"><i class="fa fa-bar-chart"></i> View Graph</button>
      <button class="pull-right btn btn-xs btn-link btn-tabular"><i class="fa fa-file-alt"></i> View Table</button>
    </h4>
  </div>
  <div class="col-md-12 view_service_tabular">
    <table class="row title table data_table">
      <thead class="data_thead">
      <tr>
        <th><b>S No.</b></th>
        <th class=""><b>Service Name</b></th>
        <th class=""><b>Ipd</b></th>
        <th class=""><b>Opd</b></th>
        <th class=""><b>Insurance</b></th>
        <th class=""><b>Total</b></th>
      </tr>
      </thead>
      <tbody class="data_tbody" id="services">
      <% @invoice_services.each.with_index do |is, i| %>
          <tr>
            <td><%= i+1 %></td>
            <td class=""> <%= InvoiceServiceCard.find_by(id: is.service_name).try(:service_name) %></td>
            <td class=""><%= @currency.symbol %> <%= is.ipdsum.to_f.round(2) %></td>
            <td class=""><%= @currency.symbol %> <%= is.opdsum.to_f.round(2) %></td>
            <td class=""><%= @currency.symbol %> <%= is.insurancesum.to_f.round(2) %></td>
            <td class=""><%= @currency.symbol %> <%= (is.insurancesum + is.ipdsum + is.opdsum).to_f.round(2) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-12 mt10 view_service_graphical">
    <% service_name = Array.new %>
    <% @invoice_services.all.each do |inv_serv| %>
      <% service_name << InvoiceServiceCard.find_by(id: inv_serv.service_name).try(:service_name) %>
    <% end %>
    <%= content_tag 'canvas', '', id: 'opdService', width: 100, height: 35, data: {service_name: service_name,opd_total: @invoice_services.pluck(:opdsum),ipd_total: @invoice_services.pluck(:ipdsum),insurance: @invoice_services.pluck(:insurancesum)}%>
  </div>
  <div class="col-md-12 amount_sum" style="padding:0px 10px 5px;background-color:white;box-shadow: 0 0px 5px 2px #354670;">
    <div class="row mt10">
      <div class="col-md-offset-3 col-md-2 "><b>IPD: <%= @currency.symbol %> <%= @invoice_services.pluck(:ipdsum).sum.round(2) %></b></div>
      <div class="col-md-2 "><b>OPD:  <%= @currency.symbol %><%=  @invoice_services.pluck(:opdsum).sum.round(2) %></b></div>
      <div class="col-md-2 "><b>Insurance: <%= @currency.symbol %> <%= @invoice_services.pluck(:insurancesum).sum.round(2) %></b></div>
      <% total =  @invoice_services.pluck(:opdsum).sum + @invoice_services.pluck(:ipdsum).sum + @invoice_services.pluck(:insurancesum).sum %>
      <div class="col-md-2 text-right"><b>Total: <%= @currency.symbol %> <%= total.round(2) %></b></div>
    </div>
  </div>
</div>
<script>
    $(".btn-tabular").hide()
    $(".view_service_graphical").hide()
    $(".btn-graphical").on('click', function(){
        $(this).hide()
        $(this).closest(".title_opd").find(".btn-tabular").show()
        $(this).closest(".daily_reports").find(".view_service_tabular").hide()
        $(this).closest(".daily_reports").find(".view_service_graphical").show()
    })
    $(".btn-tabular").on('click', function(){
        $(this).hide()
        $(this).closest(".title_opd").find(".btn-graphical").show()
        $(this).closest(".daily_reports").find(".view_service_tabular").show()
        $(this).closest(".daily_reports").find(".view_service_graphical").hide()
    })
    content_height = $("#services").closest(".contentpanel").height()
    $("#services").css('max-height', content_height*(1/2))
    $("#services").css('overflow-y', 'scroll')
    var ctx = document.getElementById("opdService").getContext('2d')
    var opdServiceLineChart = new Chart(ctx,{
        type: 'bar',
        data: {
            labels: $("#opdService").data('service-name'),
            datasets: [{
                label: '#OPD',
                data: $("#opdService").data('opd-total'),
                backgroundColor: "rgba(30,144,255,1)",
                borderColor: "rgb(30,144,255,1)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 10,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 5,
                pointHitRadius: 10,
                lineTension: 0.1
            },
            {
                label: '# IPD',
                data: $("#opdService").data('ipd-total'),
                backgroundColor: "rgba(220,20,60,1)",
                borderColor: "rgba(220,20,60,1)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 10,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 5,
                pointHitRadius: 10,
                lineTension: 0.1
            },
            {
                label: '# Insurance',
                data: $("#opdService").data('insurance'),
                backgroundColor: "rgba(255,215,0,1)",
                borderColor: "rgba(220,20,60,1)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 10,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 5,
                pointHitRadius: 10,
                lineTension: 0.1
            }
            ],

        },
        options: {
            categoryPercentage: 0.5,
            barPercentage: 0.5,
            scales: {
                xAxes: [{
                    stacked: true
                }],
                yAxes: [{
                    stacked: true
                }]
            }
        }
    });
</script>

