<div class="col-md-12">
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-left"><a href="javascript:;" data-filter='Tax' class="statistics_parent_link tax">Tax Received</a></h4>
    </div>
    <div class="col-sm-12">
      <div class="panel panel-primary panel-stat mt10">
        <div class="panel-heading">

          <div class="stat">
            <div class="row">
              <div class="col-xs-1">
                <img src="/images/is-money.png" alt="">
              </div>
              <div class="col-xs-3">
                <small class="stat-label">Total Tax Collected</small>
                <h1><%= @currency.symbol %> <%= @tax_collected_total.round(2) %></h1>
              </div>
              <div class="col-xs-2">
                <small class="stat-label">Tax from OPD Receipt</small>
                <h4><%= @currency.symbol %> <%= @tax_collected.pluck(:opd_tax).sum.round(2) %></h4>
              </div>
              <div class="col-xs-2">
                <small class="stat-label">Tax from IPD Receipt</small>
                <h4><%= @currency.symbol %> <%= @tax_collected.pluck(:ipd_tax).sum.round(2) %></h4>
              </div>
              <div class="col-xs-2">
                <small class="stat-label">Tax from Pharmacy Receipt</small>
                <h4><%= @currency.symbol %> <%= @tax_collected.pluck(:pharmacy_tax).sum.round(2) %></h4>
              </div>
              <div class="col-xs-2">
                <small class="stat-label">Tax from Optical Receipt</small>
                <h4><%= @currency.symbol %> <%= @tax_collected.pluck(:optical_tax).sum.round(2) %></h4>
              </div>
            </div><!-- row -->

            <div class="mb15"></div>

            <div class="row">
              <div class="col-xs-2">
                <small class="stat-label">CGST</small>
                <h4><%= @currency.symbol %> <%= @cgst.round(2) %></h4>
              </div>

              <div class="col-xs-2">
                <small class="stat-label">SGST</small>
                <h4><%= @currency.symbol %> <%= @sgst.round(2) %></h4>
              </div>

              <div class="col-xs-2">
                <small class="stat-label">IGST</small>
                <h4><%= @currency.symbol %> <%= @igst.round(2) %></h4>
              </div>

              <div class="col-xs-2">
                <small class="stat-label">UTGST</small>
                <h4><%= @currency.symbol %> <%= @utgst.round(2) %></h4>
              </div>

              <div class="col-xs-2">
                <small class="stat-label">Cess</small>
                <h4><%= @currency.symbol %> <%= @cess.round(2) %></h4>
              </div>

              <div class="col-xs-2">
                <small class="stat-label">Others</small>
                <h4><%= @currency.symbol %> <%= @others.round(2) %></h4>
              </div>
            </div><!-- row -->

          </div><!-- stat -->

        </div><!-- panel-heading -->
      </div><!-- panel -->
    </div>
  </div>
</div>