<div class="stat" style="max-width:100%;">
    <div class="row">
      <div class="col-xs-3">
        <small class="stat-label">Scheduled</small>
        <small class="stat-label" style="color:#1CAF9A">|</small>
        <!-- The Patients who have been Scheduled for an appointment but havent yet arrived -->
        <% if current_user.has_role?(:doctor) %>
          <h1><%= @scheduled_patient_doctor %></h1>
        <% else %>
          <h1><%= @scheduled_patient_nurse %></h1>
        <% end %>
      </div>
      <div class="col-xs-3">
        <small class="stat-label">Arrived</small>
        <small class="stat-label" style="color:#1CAF9A">|</small>
        <!-- The Patients who has arrived and is in waiting to see a doctor (also Includes revisited Patients) -->
        <% if current_user.has_role?(:doctor) %>
          <h1><%= @patient_arrived_doctor %></h1>
        <% else %>
          <h1><%= @patient_arrived_nurse %></h1>
        <% end %>
      </div>
      <div class="col-xs-3">
        <small class="stat-label">Seen</small>
        <small class="stat-label" style="color:#1CAF9A">|</small>
        <!-- The Patients who are seen (If patient Revisits Count may change)-->
        <% if current_user.has_role?(:doctor) %>
          <h1><%= @patient_seen_doctor %></h1>
        <% else %>
          <h1><%= @patient_seen_nurse %></h1>
        <% end %>
      </div>
      <div class="col-xs-3">
        <small class="stat-label">Cancelled</small>
        <small class="stat-label" style="color:#1CAF9A">|</small>
        <!-- The Patients Who have cancelled or whose appointment is cancelled -->
        <% if current_user.has_role?(:doctor) %>
          <h1><%= @cancelled_patient_doctor %></h1>
        <% else %>
          <h1><%= @cancelled_patient_nurse %></h1>
        <% end %>
</div>

    </div><!-- row -->
</div><!-- stat -->