<p id="notice"><%= notice %></p>

<h1>Listing Receipt Inventory Departments</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoice_inventory_departments.each do |invoice_inventory_department| %>
      <tr>
        <td><%= link_to 'Show', invoice_inventory_department %></td>
        <td><%= link_to 'Edit', edit_invoice_inventory_department_path(invoice_inventory_department) %></td>
        <td><%= link_to 'Destroy', invoice_inventory_department, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Department', new_invoice_inventory_department_path %>
