<table class="table-one">
  
<tr>
  <td class="text-left">Recipient Name: <%= @department_log.recipient %> </td>
</tr>
<tr>
  <td class="text-left">Note: <%= @department_log.note %> </td>
</tr>
  
</table>
<br />
<table class="table-two" style="width: 100%">
  <thead>
  <tr style="border-bottom: 1px solid #ccc;">
    <td>S.No.</td>
    <td>DESCRIPTION</td>
    <td>MFR</td>
    <td>BARCODE</td>
    <td>BATCH NO</td>
    <td>EXPIRY</td>
    <td>QTY</td>
    <td align="right">MRP</td>
    <td align="right">TOTAL</td>
  </tr>
  </thead>
  <tbody>
  <% serial = 0 %>
  <% sub_total = 0 %>
  <% @department_log.items.each do |item| %>
    <% if item.quantity != 0 %>
      <tr style="border-bottom: 1px dashed #ebebeb; ">
        <td><%= serial = serial + 1 %></td>
        <td><%= item.description %></td>
        <td><%= item.manufacturer %></td>
        <td><%= item.barcode.to_i %></td>
        <td><%= item.batch_no  %></td>
        <td><%= item.expiry %></td>
        <td><%= item.quantity %></td>
        <td align="right"><%= ActionController::Base.helpers.number_with_precision(item.mrp, :precision => 2) %></td>
        <% total = item.quantity.to_i * item.mrp.to_f %>
        <td align="right"><%= ActionController::Base.helpers.number_with_precision(total.to_f, :precision => 2) %></td>
        <% sub_total = sub_total.to_f + total.to_f %>
      </tr>
    <% end %>
  <% end %>
  <tr style=" border-bottom: 1px dashed #ccc;">
    <td colspan="9"></td>
  </tr>
  <tr style=" border-bottom: 1px dashed #ebebeb;">
    <td colspan="7"></td>
    <td align="right">DISCOUNT:</td>
    <td></td>
  </tr>
  <tr style=" border-bottom: 1px dashed #ccc;">
    <td colspan="7"></td>
    <td align="right">SUB TOTAL:</td>
    <td align="right"><%= number_with_precision(sub_total, :precision => 2) %></td>
  </tr>


  </tbody>

</table>


<style type="text/css">

  body{
    font-family: monospace;
    font-size: 9px;
    color: #898989;
  }

  .table-one{
    width: 100%;
    padding: 10%
  }
  .table-two td{
    padding: 0 5px 0 5px;
    height: 20px

  }
</style>