<% @sale_order.items.each_with_index do |item, index| %>
  <% if item.srn_required %>
    <%= hidden_field_tag "inventory_transaction_stock_receive_note[order_id]", @sale_order.id %>
    <% @item = Inventory::Item.find_by(id: item.item_id) %>
    <% variant = Inventory::Item::Variant.find_by(item_id: @item.id) %>
  	<% index = (Time.current.to_f.round(3)*1000).to_i + index %>
  	<tr class="treatmentmedications">
      <%= hidden_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][item_id]", index, class: 'data-child-index' %>
      <%= hidden_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][item_id]", @item.id, class: 'item-id' %>
      <%= hidden_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][category]", @item.category %>
      <%= hidden_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][barcode_id]", @item.barcode_id %>
      <%= hidden_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][barcode_present]", @item.barcode_present %>
      <%= hidden_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][item_reference_id]", @item.reference_id %>
      <%= hidden_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][facility_id]", @item.facility_id %>
      <%= hidden_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][store_id]", @item.store_id %>
      <%= hidden_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][organisation_id]", @item.organisation_id %>
      <%= hidden_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][order_id]", @sale_order.id %>
      <%= hidden_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][expiry_present]", 'true' %>
      <%= hidden_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][variant_code]", variant.variant_code %>
      <%= hidden_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][item_code]", variant.item_code %>
      <%= hidden_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][variant_id]", variant.id %>
      <%= hidden_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][variant_reference_id]", variant.reference_id %>
      <%= hidden_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][variant_identifier]", variant.variant_identifier %>
      <%= hidden_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][sub_store_id]", @sub_stores.id %>
      <%= hidden_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][sub_store_name]", @sub_stores.name %>
  		<td class="col-md-3 col-sm-3 col-xs-3">
        <strong><%= item.description&.capitalize %></strong>
        <%= hidden_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][description]", item.description, readonly: true, class: "item_description modalRequest_input_style", :placeholder=>"Description" %>
        <%= hidden_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][_destroy]", 0 , class: 'form-control' %>
  		</td>
      <!-- <td class="col-md-1 col-sm-1 col-xs-1">
        <%#= text_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][expiry]", '', placeholder: 'Expiry', style: 'width:90%;text-align:left', class: 'expiry-datepicker modalRequest_input_style', onkeypress: 'return event.charCode >= 48 && event.charCode <= 57', required: true, readonly: true %>
      </td> -->
      <td class="col-md-1 col-sm-1 col-xs-1">
        <%= number_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][list_price]", item.list_price, placeholder: 'MRP', style: 'width:90%;text-align:left', class: 'unit_item_list_price modalRequest_input_style', onkeypress: 'return event.charCode >= 48 && event.charCode <= 57', min: '1', readonly: true %>
      </td>
      <td class="col-md-1 col-sm-1 col-xs-1">
        <%= number_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][unit_cost]", '', placeholder: 'Unit Price', style: 'width:90%;text-align:left', class: 'unit_item_unit_price modalRequest_input_style', onkeypress: 'return event.charCode >= 48 && event.charCode <= 57', min: '1', required: true %>
        <%= hidden_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][unit_non_taxable_amount]", '', class: 'unit_non_taxable_amount' %>
        <%= hidden_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][unit_taxable_amount]", '', class: 'unit_taxable_amount' %>
      </td>
  		<td class="col-md-1 col-sm-1 col-xs-1">
  			<%= number_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][stock]", item.quantity, placeholder: 'Qty', style: 'width:90%;text-align:left', class: 'item_quantity modalRequest_input_style', min: '1', readonly: true %>
  		</td>

      <td class="col-md-1 col-sm-1">
        <div class="tax_fields"></div>
        <%= item.tax_rate %>
        <%= hidden_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][tax_rate]", item.tax_rate, class: 'item_tax_rate' %>
        <%= hidden_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][tax_name]", item.tax_name, class: 'tax_name' %>
        <%= hidden_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][tax_group_id]", item.tax_group_id, class: 'item_tax_group_id' %>
      </td>

      <td class="col-md-1 col-sm-1">
        <%= item.tax_inclusive %>
        <%= hidden_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][tax_inclusive]", item.tax_inclusive, class: 'item_tax_inclusive' %>
      </td>

      <td class="col-md-1 col-sm-1">
        <%= number_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][item_cost_without_tax]", '', placeholder: 'NonTaxable Amount', style: 'width:90%;width:90%;text-align:left', class: 'item_cost_without_tax modalRequest_input_style',:value => '0.0', readonly: true %>
        <%= hidden_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][item_taxable_amount_with_disc]", '0.0', class: 'item_taxable_amount_with_disc' %>
        <%= hidden_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][unit_purchase_tax_amount]", '', class: 'unit_purchase_tax_amount' %>
        <%= hidden_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][unit_cost_without_tax]", '', class: 'unit_cost_without_tax' %>

        <%= hidden_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][unit_non_taxable_amount]", item.unit_non_taxable_amount, class: 'unit_non_taxable_amount' %>
        <%= hidden_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][unit_taxable_amount]", item.unit_taxable_amount, class: 'unit_taxable_amount' %>
      </td>

      <td class="col-md-1 col-sm-1">
        <%= number_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][purchase_tax_amount]", '', placeholder: 'Tax', style: 'width:90%;width:90%;text-align:left', class: 'purchase_tax_amount modalRequest_input_style', readonly: true %>
      </td>


      <td class="col-md-1 col-sm-1 col-xs-1">
        <%= number_field_tag "inventory_transaction_stock_receive_note[items_attributes][#{index}][total_cost]", '', placeholder: 'Total', style: 'width:90%;text-align:left', class: 'price_including_tax modalRequest_input_style', onkeypress: 'return event.charCode >= 48 && event.charCode <= 57', min: '1', readonly: true %>
      </td>
  		<!-- <td class="col-md-2 font-size">
        <button type="button" class="btn btn-link hg-tooltip delete_empty_item" tabindex="-1" style="padding:0px;" title="Remove From List" value="<%= item.id %>"><i class="fa fa-trash-alt" style="color:#000;"></i></button>
  		</td> -->
  	</tr>
  <% end %>

<% end %>