<% if @stock_receive_notes.length > 0 %>
  <% @stock_receive_notes.each do |srn| %>
    <tr id="<%= srn.id%>" class="inventory-list-row">
      <td style="font-size: 10px; color: #17a08c;" class="col-md-3">
        <%= srn.transaction_date %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= srn.transaction_time&.strftime("%I:%M%p") %>
      </td>
      <td class="col-md-3 notes"><b><%= srn.note.try(:capitalize) %></b></td>
      <td class="col-md-2 status"><b><%= srn.srn_display_id %></b> </td>
      <td class="col-md-2 total-cost"><b><%= srn.total_cost %></b> </td>
    </tr>
  <%end%>
<% else %>
  <tr>
    <td align="center"><strong style="font-size: 20px;">Nothing to Display</strong></td>
  </tr>
<% end %>