<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-lg" style="width: 98%">
  <div class="modal-content transaction-content" style="">
    <div class="modal-header transaction-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title text-center">Stock Receive Note</h4>
    </div>

    <div class="modal-body transaction-body">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-6 items-variants">
          <div class="items-variants-search">
            <div class="input-group">
              <input type="text" id="sale_order_search" placeholder="Type Recipient..." class="form-control" >
              <span class="input-group-addon"><i class="fa fa-times-circle" style="display: none"></i></span>
            </div>
          </div>

          <div class="items-variants-list">
            <table class="table items-variants-table">
              <tbody class="items-variants-body">
                <%= render partial: 'invoice/inventory_orders/index_body.html.erb' %>
              </tbody>
            </table>
          </div>
          <%# unless @variants.count < 30 %>
            <div class="show-more-timeline">
              <a class="col-sm-12", href="javascript:;", id="show_more_variants", data-count = "0" , style="text-align: right;text-decoration: none;position: fixed;margin-left: 200px;">
                <i class="fa fa-spinner fa-spin"></i> Loading...
              </a>
            </div>
          <%# end %>
        </div>
        <div class="col-md-8 col-sm-6 col-xs-6 items-lots">
          <%= form_for @stock_receive_note, remote: true , html: { id: "inventory_stock_receive_note_form" } do |f| %>
            <div>
              <%= render partial: '/inventory/transaction/stock_receive_notes/form.html.erb', locals: {f:f} %>
              <%= f.submit "Save Changes", { class: 'btn btn-success validate-create-button', onclick: 'validate_form()', data: { disable_with: "Please Wait..."} } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  <%= render partial: '/inventory/transaction/stock_openings/form.css' %>
</style>
