
<div class="">
  <h3 class="text-center" style="color: #00BFFF"><%= @stock_receive_note.note %></h3>
  <div class="col-sm-12 mb5">
    <div class="col-sm-6"><b>Status: &nbsp;&nbsp;&nbsp;<%= @stock_receive_note.status_text %></b></div>
    <div class="col-sm-6">Transaction ID: &nbsp;&nbsp;&nbsp;<%= @stock_receive_note.srn_display_id %></div>
  </div>
  <br>

  <div class="btn-group" style="margin: 10px;">
    <%= link_to print_inventory_transaction_stock_receive_note_path(@stock_receive_note, page_size: 'A4'),
          class: "btn btn-xs btn-success", target: :_blank  do %>
      <i class="fa fa-print"></i>&nbsp;Print A4
    <% end %>
    <%= link_to print_inventory_transaction_stock_receive_note_path(@stock_receive_note, page_size: 'A5'),
          class: "btn btn-xs btn-success", target: :_blank  do %>
      <i class="fa fa-print"></i>&nbsp;Print A5
    <% end %>
  </div>
  <br><br>

  <%= render '/inventory/transaction/stock_receive_notes/show_body.html.erb', stock_receive_note: @stock_receive_note %>
</div>

<style type="text/css">
  .table-add-item td{
    padding: 5px 5px 0;
  }

  .check_font table tr th {
    padding: 2px 5px;
  }

  .check_font table tr td {
    padding: 2px 5px;
  }

  .check_font {
    font-size: 11px;
  }
</style>
