<%= javascript_include_tag 'application-loggedin', 'data-turbolinks-track' => true %>
<div class="modal-dialog" style="width: 60%">
  <div class="modal-content">
    <%= simple_form_for @organisation_setting, url: save_auto_requisition_organisation_settings_path, method: 'post', remote: true, html: { id: 'inventory_auto_requisition_form' } do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h5 class="modal-title" style="color: #1E90FF">Auto Requisition</h5>
      </div>
      <div class="modal-body window-body">
        <%= f.hidden_field :organisation_id, { value: current_facility.organisation_id } %>
        <%= f.hidden_field :auto_requisition_type, { value: '' } %>
        <%= f.hidden_field :auto_requisition_value, { value: '' } %>
        <div class="row">
          <div class="col-sm-3 mb5"></div>
          <div class="col-sm-6 mb5">
            <strong>Please select:</strong><br>
            <% is_daily = @organisation_setting.auto_requisition_type == 'daily' ? 'checked' : 'false' %>
            <% is_weekly = @organisation_setting.auto_requisition_type == 'weekly' ? 'checked' : 'false' %>
            <% is_monthly = @organisation_setting.auto_requisition_type == 'monthly' ? 'checked' : 'false' %>
            <input type="radio" id="daily" name="organisations_setting[duration]" value="" style="height:20px; width:30px; vertical-align: middle;">
            <label for="daily">Daily</label><br>
            <input type="radio" id="weekly" name="organisations_setting[duration]" value="" style="height:20px; width:30px; vertical-align: middle;">
            <label for="weekly"><select class="requisition-day-value">
              <% day_arr = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'] %>
              <% day_arr.each do |day| %>
                <% if day == @organisation_setting.auto_requisition_value %>
                  <option value="<%= day %>" selected="selected"><%= day&.titleize %></option>
                <% else %>
                  <option value="<%= day %>"><%= day&.titleize %></option>
                <% end %>
              <% end %>
            </select></label><br>
            <input type="radio" id="monthly" name="organisations_setting[duration]" style="height:20px; width:30px; vertical-align: middle;">
            <label for="montly"><select class="requisition-date-value">
              <% (1..28).each do |date| %>
                <% if date == @organisation_setting.auto_requisition_value&.to_i %>
                  <option value="<%= date %>" selected="selected"><%= date %></option>
                <% else %>
                  <option value="<%= date %>"><%= date %></option>
                <% end %>
              <% end %>
            </select></label><br><br>
          </div>
          <div class="col-sm-3 mb5"></div>
        </div>
      </div>
      <div class="modal-footer window-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= f.submit 'Save Changes', { class: 'btn btn-success' } %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $("input[name = 'organisations_setting[duration]']").on("click", function() {
    let id = $(this)[0].id
    if (id == 'daily') {
      value = 'Daily'
    } else if (id == 'weekly') {
      value = $('.requisition-day-value').val()
    } else if (id == 'monthly') {
      value = $('.requisition-date-value').val()
    }
    $('#organisations_setting_auto_requisition_type').val(id)
    $('#organisations_setting_auto_requisition_value').val(value)
  })

  $('.requisition-day-value').on('change', function() {
    if ($("#weekly").prop('checked')) {
      $('#organisations_setting_auto_requisition_type').val('weekly')
      $('#organisations_setting_auto_requisition_value').val($(this).val())
    }
  })

  $('.requisition-date-value').on('change', function() {
    if ($("#monthly").prop('checked')) {
      $('#organisations_setting_auto_requisition_type').val('monthly')
      $('#organisations_setting_auto_requisition_value').val($(this).val())
    }
  })

  function check_requisition_type() {
    let type = '<%= @organisation_setting.auto_requisition_type %>'
    if (type == 'daily') {
      $("#daily").prop('checked', true)
    } else if (type == 'weekly') {
      $("#weekly").prop('checked', true)
    } else if (type == 'monthly') {
      $("#monthly").prop('checked', true)
    }
  }
  check_requisition_type()
</script>
