<div class="modal-dialog" style="width: 60%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Edit Organisation Settings</h4>
    </div>
    <%= form_for @organisation_setting, url: organisation_setting_path, method: :patch, remote: true do |f| %>
      <div class="modal-body">
        <div id="error_msg"></div>
        <div class="row mb10" id='disable_clone'>
          <div class="col-md-12 mb10">
            <strong><%= f.label :disable_clone_old_template, 'Disable clone option if template is 6 weeks old' %></strong>
          </div>
          <div class="col-md-3">
            <div class="rdio rdio-primary">
              <%= f.radio_button :disable_clone_old_template, true, { id: 'disable_clone_old_template_yes', class: 'disable_clone_old_template' } %>
              <label for="disable_clone_old_template_yes">Yes</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="rdio rdio-primary">
              <%= f.radio_button :disable_clone_old_template, false, { id: 'disable_clone_old_template_no', class: 'disable_clone_old_template' } %>
              <label for="disable_clone_old_template_no">No</label>
            </div>
          </div>
        </div>
        <div class="row mb10" id='disable_opd_templates'>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12 mb10">
                <strong><%= f.label :disable_opd_templates, 'Allow users to create only selected OPD templates after IPD Discharge' %></strong>
              </div>
              <div class="col-md-3">
                <div class="rdio rdio-primary">
                  <%= f.radio_button :disable_opd_templates, true, { id: 'disable_opd_templates_yes', class: 'disable_opd_templates' } %>
                  <label for="disable_opd_templates_yes">Yes</label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="rdio rdio-primary">
                  <%= f.radio_button :disable_opd_templates, false, { id: 'disable_opd_templates_no', class: 'disable_opd_templates' } %>
                  <label for="disable_opd_templates_no">No</label>
                </div>
              </div>
            </div>
            <div class="row padding10" id='disable_opd_templates_toggle_fields'>
              <div class="col-md-12 mb10">
                <div class="col-md-3">
                  <strong>Select Duration</strong>
                </div>
                <div class="col-md-3">
                  <%= f.select :disable_opd_templates_duration, OrganisationSettingsHelper.disable_opd_templates_durations, { include_blank: 'Select' }, class: 'form-control p5_10' %>
                </div>
              </div>
              <div class="col-md-12 mb10">
                <div class="col-md-12">
                  <strong>Select Template</strong>
                </div>
                <div class="col-md-12">
                  <% @opd_templates.each do |specialty_name, templates| %>
                    <div class="col-md-12 specailty-wise-template">
                      <strong><%= specialty_name.titleize %></strong>&emsp;<span class="template-error"></span>
                      <div class="col-md-12">
                        <% templates.each do |template| %>
                          <% display_name, template_name = template.values %>
                          <% speciality_template_name = "#{specialty_name}_#{template_name}" %>
                          <% checked = @organisation_setting.allowed_opd_templates[specialty_name]&.include?(template_name) %>
                          <div class="col-md-3">
                            <div class="ckbox ckbox-primary">
                              <%= check_box_tag "organisations_setting[allowed_opd_templates][#{specialty_name}][]", template_name, checked, id: "allowed_opd_templates_#{speciality_template_name}", class: 'allowed_opd_templates' %>
                              <label for="allowed_opd_templates_<%= speciality_template_name %>"><%= display_name %></label>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb10" id='org-setting-investigations'>
          <div class="col-md-12 mb10">
            <strong><%= f.label :print_only_todays_peformed_investigations, 'Print only today’s performed investigations' %></strong>
          </div>

          <div class="col-md-3">
            <div class="rdio rdio-primary">
              <%= f.radio_button :print_only_todays_peformed_investigations, true, { id: 'print_only_todays_peformed_investigationsyes', class: 'print_only_todays_peformed_investigations' } %>
              <label for="print_only_todays_peformed_investigationsyes">Yes</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="rdio rdio-primary">
              <%= f.radio_button :print_only_todays_peformed_investigations, false, { id: 'print_only_todays_peformed_investigationsno', class: 'print_only_todays_peformed_investigations' } %>
              <label for="print_only_todays_peformed_investigationsno">No</label>
            </div>
          </div>
        </div>
        <div class="row mb10" id='disable_clone'>
          <div class="col-md-12 mb10">
            <strong><%= f.label :time_slots_enabled, 'Enable Time Slots' %></strong>
          </div>
          <div class="col-md-3">
            <div class="rdio rdio-primary">
              <%= f.radio_button :time_slots_enabled, true, { id: 'time_slots_enabled_yes', class: 'time_slots_enabled' } %>
              <label for="time_slots_enabled_yes">Yes</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="rdio rdio-primary">
              <%= f.radio_button :time_slots_enabled, false, { id: 'time_slots_enabled_no', class: 'time_slots_enabled' } %>
              <label for="time_slots_enabled_no">No</label>
            </div>
          </div>
        </div>
        <div class="row mb10" id='organisation_notification_enabled'>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12 mb10">
                <strong><%= f.label :organisation_notification_enabled, 'Enable In-App Notifications' %></strong>
              </div>
              <div class="col-md-3">
                <div class="rdio rdio-primary">
                  <%= f.radio_button :organisation_notification_enabled, true, { id: 'organisation_notification_enabled_yes', class: 'organisation_notification_enabled' } %>
                  <label for="organisation_notification_enabled_yes">Yes</label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="rdio rdio-primary">
                  <%= f.radio_button :organisation_notification_enabled, false, { id: 'organisation_notification_enabled_no', class: 'organisation_notification_enabled' } %>
                  <label for="organisation_notification_enabled_no">No</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb10" id='organisation_whatsapp_enabled' style="display:none;">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12 mb10">
                <strong><%= f.label :organisation_whatsapp_enabled, 'Enable In-App Whatsapp Notifications' %></strong>
              </div>
              <div class="col-md-3">
                <div class="rdio rdio-primary">
                  <%= f.radio_button :organisation_whatsapp_enabled, true, { id: 'organisation_whatsapp_enabled_yes', class: 'organisation_whatsapp_enabled' } %>
                  <label for="organisation_whatsapp_enabled_yes">Yes</label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="rdio rdio-primary">
                  <%= f.radio_button :organisation_whatsapp_enabled, false, { id: 'organisation_whatsapp_enabled_no', class: 'organisation_whatsapp_enabled' } %>
                  <label for="organisation_whatsapp_enabled_no">No</label>
                </div>
              </div>
            </div>
            <div class="row padding10" id='organisation_whatsapp_enabled_toggle_fields'>
              <% if @communication_numbers.present? && @communication_numbers.length > 1 %>
                <div class="col-md-12 mb10">
                  <div class="col-md-3">
                    <strong>Whatsapp Number</strong>
                  </div>
                  <div class="col-md-5">
                      <%= f.select :communication_number_id, options_for_select(@communication_numbers.map{|p| ["#{p.country_code} #{p.communication_number}", p.id.to_s] }, selected: f.object.communication_number_id), {include_blank: "Select Number"}, {:class => "form-control", :required => true}  %>
                  </div>
                </div>
              <% end %>

              <div class="col-md-12 mb10">
                <div class="col-md-3">
                  <strong>Organisation Account SID</strong>
                </div>
                <div class="col-md-9">
                  <%= f.text_field :organisation_account_sid , class: 'form-control p5_10'%>
                </div>
              </div>              
            </div>
          </div>
        </div>

        <div class="row mb10" id='disable_visit_fields'>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12 mb10">
                <strong><%= f.label :disable_visit_fields, 'Disable Visit Type and Category if patient is engaged' %></strong>
              </div>
              <div class="col-md-3">
                <div class="rdio rdio-primary">
                  <%= f.radio_button :disable_visit_fields, true, { id: 'disable_visit_fields_yes', class: 'disable_visit_fields' } %>
                  <label for="disable_visit_fields_yes">Yes</label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="rdio rdio-primary">
                  <%= f.radio_button :disable_visit_fields, false, { id: 'disable_visit_fields_no', class: 'disable_visit_fields' } %>
                  <label for="disable_visit_fields_no">No</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit 'Save Changes', class: 'btn btn-success', "data-disable-with": 'Please Wait...', onclick: 'validateOrganisationSetting()' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>

<style type="text/css">
  #disable_opd_templates_toggle_fields {
    margin: 10px;
    border: 1px solid #aaa;
    display: <%= @organisation_setting.disable_opd_templates ? 'block' : 'none' %>;
  }
  #organisation_whatsapp_enabled_toggle_fields{
    margin: 10px;
    border: 1px solid #aaa;
    display: <%= @organisation_setting.organisation_whatsapp_enabled ? 'block' : 'none' %>;
  }
</style>
