<div class="modal-dialog" style="width: 60%;">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Organisation Settings</h4>
    </div>
    <div class="modal-body">
      <div class="row mb10">
        <div class="col-md-8">
          <span>Disable clone option if template is 6 weeks old</span>
        </div>
        <div class="col-md-3 text-right">
          <strong><%= @organisation_setting.disable_clone_old_template ? 'Enabled' : 'Disabled' %></strong>
        </div>
      </div>
      <div class="row mb10">
        <div class="col-md-8">
          <span>Allow users to create only selected OPD templates after IPD Discharge</span>
        </div>
        <div class="col-md-3 text-right">
          <strong><%= @organisation_setting.disable_opd_templates ? 'Enabled' : 'Disabled' %></strong>
        </div>
      </div>
      <% if @organisation_setting.disable_opd_templates %>
        <div class="row padding10" id='disable_opd_templates_toggle_fields'>
          <div class="col-md-12">
            <div class="col-md-12 mt10">
              <span>Duration</span> : <strong><%= @organisation_setting.disable_opd_templates_duration %> Days</strong>
            </div>
            <div class="col-md-12 mt10">
              <span>Templates</span>
            </div>
            <div class="col-md-12">
              <% @organisation_setting.allowed_opd_templates.each do |specialty_name, template_names| %>
                <% templates = @opd_templates[specialty_name] %>
                <div class="col-md-12">
                  <span><%= specialty_name.titleize %></span>
                  <div class="col-md-12">
                    <% template_names.each do |template_name| %>
                      <% template = templates.find { |t| t['templatename'] == template_name } %>
                      <% next unless template %>
                      <div class="col-md-3">
                        <strong><%= template['displayname'] %></strong>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="row mb10">
        <div class="col-md-8">
          <span>Print only today’s performed investigations</span>
        </div>
        <div class="col-md-3 text-right">
          <strong><%= @organisation_setting.print_only_todays_peformed_investigations ? 'Enabled' : 'Disabled' %></strong>
        </div>
      </div>
      <div class="row mb10">
        <div class="col-md-8">
          <span>Time Slots Enabled</span>
        </div>
        <div class="col-md-3 text-right">
          <strong><%= @organisation_setting.time_slots_enabled ? 'Enabled' : 'Disabled' %></strong>
        </div>
      </div>
      <div class="row mb10">
        <div class="col-md-8">
          <span>Enable In-App Notifications</span>
        </div>
        <div class="col-md-3 text-right">
          <strong><%= @organisation_setting.organisation_notification_enabled ? 'Enabled' : 'Disabled' %></strong>
        </div>
      </div>
      <div class="row mb10">
        <div class="col-md-8">
          <span>Enable In-App Whatsapp Notifications</span>
        </div>
        <div class="col-md-3 text-right">
          <strong><%= @organisation_setting.organisation_whatsapp_enabled ? 'Enabled' : 'Disabled' %></strong>
        </div>
      </div>
      <div class="row mb10">
        <div class="col-md-8">
          <span>Disable Visit Type and Category if patient is engaged</span>
        </div>
        <div class="col-md-3 text-right">
          <strong><%= @organisation_setting.disable_visit_fields ? 'Enabled' : 'Disabled' %></strong>
        </div>
      </div>
    </div>
    <div class="modal-footer">
       <%= link_to edit_organisation_setting_path(id: current_user.organisation_id), class: 'btn btn-primary', id: 'edit-organisation-settings', data: { remote: true } do %><i class="fa fa-edit"></i> Edit <% end %>
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>

<style type="text/css">
  #disable_opd_templates_toggle_fields {
    margin: 10px;
    border: 1px solid #aaa;
  }
</style>
