<!-- HEADER -->
<div class="row mb20" style="background:#354670;color:#fff">
  <div class="col-md-12">
    <h4>Patient Form Settings</h4>
  </div>
</div>
<!-- HEADER ENDS -->

<div class="row mb20">
  <div class="col-md-11 col-md-offset-1">
    <b>Patient Registration Form Validation.</b>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <div class="ckbox ckbox-success mb5">
      <% validateFirstName = @organisation_setting.validate_patient.include?('patient-firstname') ? true : false %>
      <%= check_box_tag 'patient-firstname', 'patient-firstname', true, { id: 'patient-firstname', class: 'validate_patient', disabled: 'disabled' } %>
      <label for="patient-firstname">First Name</label>
    </div>
  </div>
  <div class="col-md-10 col-md-offset-2">
    <div class="ckbox ckbox-success mb5">
      <% validateMobileNumber = @organisation_setting.validate_patient.include?('patient-mobilenumber') ? true : false %>
      <%= check_box_tag 'patient-mobilenumber', 'patient-mobilenumber', validateMobileNumber, { id: 'patient-mobilenumber', class: 'validate_patient', disabled: 'disabled' } %>
      <label for="patient-mobilenumber">Mobile Number</label>
    </div>
  </div>
  <div class="col-md-10 col-md-offset-2">
    <div class="ckbox ckbox-success mb5">
      <% validateGender = @organisation_setting.validate_patient.include?('patient-gender') ? true : false %>
      <%= check_box_tag 'patient-gender', 'patient-gender', validateGender, { id: 'patient-gender', class: 'validate_patient' } %>
      <label for="patient-gender">Gender</label>
    </div>
  </div>
  <div class="col-md-10 col-md-offset-2">
    <div class="ckbox ckbox-success mb5">
      <% validateAge = @organisation_setting.validate_patient.include?('patient-age') ? true : false %>
      <%= check_box_tag 'patient-age', 'patient-age', validateAge, { id: 'patient-age', class: 'validate_patient' } %>
      <label for="patient-age">Age</label>
    </div>
  </div>
  <div class="col-md-10 col-md-offset-2">
    <div class="ckbox ckbox-success mb5">
      <% validateAgeMonth = @organisation_setting.validate_patient.include?('patient-age_month') ? true : false %>
      <%= check_box_tag 'patient-age_month', 'patient-age_month', validateAgeMonth, { id: 'patient-age_month', class: 'validate_patient' } %>
      <label for="patient-age_month">Age Month</label>
    </div>
  </div>
  <div class="col-md-10 col-md-offset-2">
    <div class="ckbox ckbox-success mb5">
      <% validateReferral = @organisation_setting.validate_patient.include?('patient-referral_type_id') ? true : false %>
      <%= check_box_tag 'patient-referral_type_id', 'patient-referral_type_id', validateReferral, { id: 'patient-referral_type_id', class: 'validate_patient' } %>
      <label for="patient-referral_type_id">Referral Source</label>
    </div>
  </div>
  <div class="col-md-10 col-md-offset-2">
    <div class="ckbox ckbox-success mb5">
      <% validateAddress = @organisation_setting.validate_patient.include?('patient-address') ? true : false %>
      <%= check_box_tag 'patient-address', 'patient-address', validateAddress, { id: 'patient-address', class: 'validate_patient' } %>
      <label for="patient-address">Address</label>
    </div>
  </div>
  <div class="col-md-10 col-md-offset-2">
    <button class="btn btn-success btn-xs save-patient-validation">Save</button>
  </div>
</div>
