G<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">Type of admission :</div>
    <%= f.input :surgerytype, wrapper_html: {:class=>"col-md-2 routine-emergency"}, collection: ['Routine', 'Emergency'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', :input_html => {:name => "ipdrecord[surgerytype]" }, :checked => ipdrecord.read_attribute(:surgerytype) %>
    
    <div class="col-md-2">Date of Admission :</div>
    <%= f.input :admissiondate, :label => false, :required => false, :input_html => {:class => "form-control col-md-2 date-dropdown", :name => "ipdrecord[admissiondate]", :size => "11", :maxlength => "11", :value => ipdrecord.read_attribute(:admissiondate) } %>
  </div>

  <div class="row" style="margin: 25px auto 0;">
    <div class="col-md-2">Location :</div>
    <% if @facilities.count == 1 %>
      <%= f.hidden_field :facility_id, collection: @facilities.map { |facility| [facility.name, facility.id] },input_html:{:class => 'form-control'},:label => false,include_blank: false%>
      <div class="col-md-2"><%= @facilities.first.name %></div>
    <% else %>
      <%= f.input :facility_id, collection: @facilities.map { |facility| [facility.name, facility.id] },input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-2' },:label => false,include_blank: false%>
    <% end %>
    <div class="col-md-2">Department :</div>
    <% if @departments.count == 1 %>
      <%= f.hidden_field :department_id, collection: @departments.map { |dept| [dept.name, dept.id] },input_html:{:class => 'form-control'},:label => false,include_blank: false%>
      <div class="col-md-2"><%= @departments.first.name %></div>
    <% else %>
      <%= f.input :department_id, collection: @departments.map { |dept| [dept.name, dept.id] },input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-2' },:label => false,include_blank: false%>
    <% end %>

    <div class="col-md-2">Admitting Doctor :</div>
    <% if @users.count == 1 %>
      <%= f.hidden_field :user_id, collection: @users.map { |user| [user.fullname, user.id] },input_html:{:class => 'form-control'},:label => false,include_blank: false%>
      <div class="col-md-2"><%= @users.first.fullname %></div>
    <% else %>  
      <%= f.input :user_id, collection: @users.map { |user| [user.fullname, user.id] },input_html:{:class => 'form-control'},wrapper_html: { class: 'col-md-2' },:label => false,include_blank: false%>
    <% end %>
  </div>
</div>

<div class="tab-pane active" id="hpi">


  <h4 class="admission-tab-title">History of Present Illness</h4>
  <div class="row">

    <div class="col-md-6">

      <div class="admission-tab-subtitle">History of present illness (HPI) :</div>
      <%= f.input :hpi, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 80, :required => false, :name => "ipdrecord[hpi]", :value => ipdrecord.read_attribute(:hpi) } %>

    </div>

    <div class="col-md-6">

      <div class="admission-tab-subtitle">Past history :</div>
      <%= f.input :pasthistory, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 80, :required => false, :name => "ipdrecord[pasthistory]", :value => ipdrecord.read_attribute(:pasthistory) } %>

    </div>

  </div>

  <div class="row">

    <div class="col-md-6">

      <div class="admission-tab-subtitle">Family history :</div>
      <%= f.input :familyhistory, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 80, :required => false, :name => "ipdrecord[familyhistory]", :value => ipdrecord.read_attribute(:familyhistory) } %>

    </div>

    <div class="col-md-6">

      <div class="admission-tab-subtitle">Personal/ social history :</div>
      <%= f.input :socialhistory, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 80, :required => false, :name => "ipdrecord[socialhistory]", :value => ipdrecord.read_attribute(:socialhistory) } %>

    </div>

  </div>

  <div class="row mb10">

    <div class="col-md-6">

      <div class="admission-tab-subtitle">Previous / on-going medications :</div>
      <%= f.input :pastmedications, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 80, :required => false, :name => "ipdrecord[pastmedications]", :value => ipdrecord.read_attribute(:pastmedications) } %>

    </div>

  </div>


</div>

<div class="tab-pane" id="examinationinvestigations">


  <h4 class="admission-tab-title">Examinations & Investigations</h4>
  <div class="row mb10">

    <div class="col-md-6">

      <div class="admission-tab-subtitle">General examination :</div>
      <%= f.input :generalexamination, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 80, :required => false, :name => "ipdrecord[generalexamination]", :value => ipdrecord.read_attribute(:generalexamination) } %>

    </div>

    <div class="col-md-6">

      <div class="admission-tab-subtitle">Local examination :</div>
      <%= f.input :localexamination, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 80, :required => false, :name => "ipdrecord[localexamination]", :value => ipdrecord.read_attribute(:localexamination) } %>

    </div>

  </div>

  <div class="row mb10">
    <div class="col-md-12">Investigations done :</div>

    <div class="col-md-4">

      <div class="admission-tab-subtitle">Laboratory :</div>
      <%= f.input :laboratory, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control investigation-tab", :rows => 2, :cols => 65, :required => false, :name => "ipdrecord[laboratory]", :value => ipdrecord.read_attribute(:laboratory) } %>

    </div>

    <div class="col-md-4">

      <div class="admission-tab-subtitle">Radiology :</div>
      <%= f.input :radiology, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control investigation-tab", :rows => 2, :cols => 65, :required => false, :name => "ipdrecord[radiology]", :value => ipdrecord.read_attribute(:radiology) } %>

    </div>

    <div class="col-md-4">

      <div class="admission-tab-subtitle">Others :</div>
      <%= f.input :otherinvestigations, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control investigation-tab", :rows => 2, :cols => 65, :required => false, :name => "ipdrecord[otherinvestigations]", :value => ipdrecord.read_attribute(:otherinvestigations) } %>

    </div>

  </div>

  <div class="row mb10">

    <div class="col-md-6">

      <div class="admission-tab-subtitle">Provisional Diagnosis :</div>
      <% if @find_diagnosis_path === "new" %>
        <% if @opd.size == 0 %>
          <%= f.input :provisionaldiagnosis, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 80, :required => false, :name => "ipdrecord[provisionaldiagnosis]", :value => ipdrecord.read_attribute(:provisionaldiagnosis) } %>
        <% else %>
          
          <%= render partial: "templates/ipd/ipd_partials/diagnosis_opd" , locals: { f: f } %>

        <% end %>
      <% else %>
          <%= f.input :provisionaldiagnosis, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 80, :required => false, :name => "ipdrecord[provisionaldiagnosis]", :value => ipdrecord.read_attribute(:provisionaldiagnosis) } %>
      <% end %>

    </div>

  </div>

</div>

<div class="tab-pane" id="careplan">

  <h4 class="admission-tab-title">Care Plan</h4>
  <div class="row mb10">

    <div class="col-md-6">

      <div class="admission-tab-subtitle">Investigations :</div>
      <%= f.input :investigations, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 6, :cols => 80, :required => false, :name => "ipdrecord[investigations]", :value => ipdrecord.read_attribute(:investigations) } %>

    </div>

    <div class="col-md-6">

      <div class="admission-tab-subtitle">Treatment :</div>
      <%= f.input :treatment, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 6, :cols => 80, :required => false, :name => "ipdrecord[treatment]", :value => ipdrecord.read_attribute(:treatment) } %>

    </div>

  </div>

</div>

<style type="text/css">

  .date-dropdown {
    width: 100%;
    height: 25px;
  }

  .routine-emergency {
    margin-top: -3px;
  }

  .admission-tab-title {
    border-bottom: 1px solid #000;
    padding-left: 10px;
    margin-top: 50px;
  }

  .admission-tab-subtitle {
    margin-top: 15px;
  }

  .investigation-tab {
    width:  100% !important;
  }
</style>