<div class="col-md-10">

  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th width="20%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Name</th>
      <th width="12%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Type</th>
      <th width="6%"  class="text-center" style="padding-top:0px;padding-bottom:0px;">Quantity</th>
      <th width="14%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Frequency</th>
      <th width="18%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Duration</th>
      <th width="18%" class="text-center" style="padding-top:0px;padding-bottom:0px;">Instruction</th>
      <th width="12%" class="text-center" style="padding-top:0px;padding-bottom:0px;"></th>
    </tr>
    </thead>
    <tbody class="medication-table-body-added">

    <% if @ipdrecord.has_treatmentmedication? %>

      <% @ipdrecord.treatmentmedication.each_with_index do |elem, i| %>
          <tr class="treatmentmedications">

              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group">
                  <div class="input-group mb15">
                    <div class="ui-widget">
                      <%= hidden_field_tag "ipdrecord[treatmentmedication_attributes][#{i}][id]", elem.id, {:class => 'form-control id' } %>
                      <%= hidden_field_tag "ipdrecord[treatmentmedication_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
                      <%= text_field_tag "ipdrecord[treatmentmedication_attributes][#{i}][medicinename]", elem.medicinename, {:maxlength => 300, :size => 40, :class => 'form-control medicinename' } %>
                    </div>
                    <span id="medicinename-contents-<%= "#{i}" %>" class="btn btn-xs btn-success btn-square medicinename-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
                  </div>
                </div>
              </td>

            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="form-group">
                <div class="input-group mb15">
                  <%= text_field_tag "ipdrecord[treatmentmedication_attributes][#{i}][medicinetype]",elem.medicinetype, { :class => 'form-control medicinetype' } %>
                </div>
              </div>
            </td>

              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group">
                  <div class="input-group mb15">
                    <%= select_tag "ipdrecord[treatmentmedication_attributes][#{i}][medicinequantity]", options_for_select(['1/4', '1/2', '1', '2', '3'], elem.medicinequantity), { :class => 'form-control medicinequantity' } %>
                  </div>
                </div>
              </td>                              

              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group">
                  <div class="input-group mb15">
                    <%= select_tag "ipdrecord[treatmentmedication_attributes][#{i}][medicinefrequency]", options_for_select([['Select', ''], '1-1-1', '1-1-0', '1-0-1', '0-1-1', '1-0-0', '0-1-0', '0-0-1','2-2-2','2-0-2', '1-1-1-1','once a week','once a month', '5 times a day', '6 times a day', '8 times a day', '10 times a day', '12 times a day', '24 times a day','Sat-Sun', 'SOS'], elem.medicinefrequency), { :class => 'form-control medicinefrequency'} %>
                  </div>
                </div>
              </td>

              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group">
                  <div class="input-group mb15">

                    <div class="row">

                      <div class="col-md-4">
                        <%= select_tag "ipdrecord[treatmentmedication_attributes][#{i}][medicineduration]", options_for_select([['Sel',''],['1','1'], ['2','2'], ['3','3'], ['4','4'], ['5','5'], ['6','6'], ['7','7'], ['8','8'], ['9','9'], ['10','10'], ['11','11'], ['12','12'], ['15', '15'], ['20', '20'], ['25', '25'], ['30', '30'], ['40', '40'], ['50', '50']  ], elem.medicineduration), { :class => 'form-control medicineduration'} %>
                      </div>

                      <div class="col-md-8">

                          <div class="col-md-12">

                            <%= select_tag "ipdrecord[treatmentmedication_attributes][#{i}][medicinedurationoption]", options_for_select([['Sel',''], ['Days', 'D'], ['Weeks', 'W'], ['Months', 'M'], ['Next followup', 'F']], elem.medicinedurationoption), { :class => 'form-control medicinedurationoption'} %>

                          </div>

                      </div>

                    </div>
                  
                  </div>
                </div>
              </td>

              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group">
                  <div class="input-group mb15">
                    <%= text_field_tag "ipdrecord[treatmentmedication_attributes][#{i}][medicineinstructions]", elem.medicineinstructions, {:maxlength => 300, :size => 40, :class => 'form-control' } %>
                  </div>
                </div>
              </td>

              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">

                <div class="form-group">
                  <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
                  <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger" href="javascript:;" name="removemedicationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
                </div>

              </td>

          </tr>
      <% end %>

      <% counter = @ipdrecord.treatmentmedication.size %>

      <% ((counter + 1)..5).each_with_index do |elem, i| %>

          <tr class="treatmentmedications">

            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="form-group">
                <div class="input-group mb15">
                  <div class="ui-widget">
                    <%= hidden_field_tag "ipdrecord[treatmentmedication_attributes][#{counter}][_destroy]", "0", {:class => 'form-control' } %>
                    <%= text_field_tag "ipdrecord[treatmentmedication_attributes][#{counter}][medicinename]", nil, {:maxlength => 300, :size => 40, :class => 'form-control medicinename' } %>
                  </div>
                  <span id="medicinename-contents-<%= "#{counter}" %>" class="btn btn-xs btn-success btn-square medicinename-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
                </div>
              </div>
            </td>

            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="form-group">
                <div class="input-group mb15">
                  <%= text_field_tag "ipdrecord[treatmentmedication_attributes][#{counter}][medicinetype]",nil, { :class => 'form-control medicinetype' } %>
                </div>
              </div>
            </td>

            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="form-group">
                <div class="input-group mb15">
                  <%= select_tag "ipdrecord[treatmentmedication_attributes][#{counter}][medicinequantity]", options_for_select(['1/4', '1/2', '1', '2', '3'], "1"), { :class => 'form-control medicinequantity' } %>
                </div>
              </div>
            </td>

            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="form-group">
                <div class="input-group mb15">
                  <%= select_tag "ipdrecord[treatmentmedication_attributes][#{counter}][medicinefrequency]", options_for_select([['Select', ''], '1-1-1', '1-1-0', '1-0-1', '0-1-1', '1-0-0', '0-1-0', '0-0-1','2-2-2','2-0-2', '1-1-1-1','once a week','once a month', '5 times a day', '6 times a day', '8 times a day', '10 times a day', '12 times a day', '24 times a day','Sat-Sun', 'SOS'], ""), { :class => 'form-control medicinefrequency'} %>
                </div>
              </div>
            </td>

            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="form-group">
                <div class="input-group mb15">

                  <div class="row">

                    <div class="col-md-4">
                      <%= select_tag "ipdrecord[treatmentmedication_attributes][#{counter}][medicineduration]", options_for_select([['Sel',''],['1','1'], ['2','2'], ['3','3'], ['4','4'], ['5','5'], ['6','6'], ['7','7'], ['8','8'], ['9','9'], ['10','10'], ['11','11'], ['12','12'], ['15', '15'], ['20', '20'], ['25', '25'], ['30', '30'], ['40', '40'], ['50', '50']  ], ""), { :class => 'form-control medicineduration'} %>
                    </div>

                    <div class="col-md-8">

                      <div class="col-md-12">

                        <%= select_tag "ipdrecord[treatmentmedication_attributes][#{counter}][medicinedurationoption]", options_for_select([['Sel',''], ['Days', 'D'], ['Weeks', 'W'], ['Months', 'M'], ['Next followup', 'F']], ""), { :class => 'form-control medicinedurationoption'} %>

                      </div>

                    </div>

                  </div>

                </div>
              </div>
            </td>

            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
              <div class="form-group">
                <div class="input-group mb15">
                  <%= text_field_tag "ipdrecord[treatmentmedication_attributes][#{counter}][medicineinstructions]", nil, {:maxlength => 300, :size => 40, :class => 'form-control' } %>
                </div>
              </div>
            </td>

            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">

              <div class="form-group">
                <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
                <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger" href="javascript:;" name="removemedicationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
              </div>

            </td>

          </tr>

          <% counter = counter + 1 %>

      <% end %>

<% else %>

      <% (1..5).each_with_index do |elem, i| %>

            <tr class="treatmentmedications">

              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group">
                  <div class="input-group mb15">
                    <div class="ui-widget">
                      <%= hidden_field_tag "ipdrecord[treatmentmedication_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
                      <%= text_field_tag "ipdrecord[treatmentmedication_attributes][#{i}][medicinename]", nil, {:maxlength => 300, :size => 40, :class => 'form-control medicinename' } %> 
                    </div>                                      
                    <span id="medicinename-contents-<%= "#{i}" %>" class="btn btn-xs btn-success btn-square medicinename-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
                  </div>
                </div>
              </td>

              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group">
                  <div class="input-group mb15">
                    <%= text_field_tag "ipdrecord[treatmentmedication_attributes][#{i}][medicinetype]",nil, { :class => 'form-control medicinetype' } %>
                  </div>
                </div>
              </td>

              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group">
                  <div class="input-group mb15">
                    <%= select_tag "ipdrecord[treatmentmedication_attributes][#{i}][medicinequantity]", options_for_select(['1/4', '1/2', '1', '2', '3'], "1"), { :class => 'form-control medicinequantity' } %>
                  </div>
                </div>
              </td>                              

              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group">
                  <div class="input-group mb15">
                    <%= select_tag "ipdrecord[treatmentmedication_attributes][#{i}][medicinefrequency]", options_for_select([['Select', ''], '1-1-1', '1-1-0', '1-0-1', '0-1-1', '1-0-0', '0-1-0', '0-0-1','2-2-2','2-0-2', '1-1-1-1','once a week','once a month', '5 times a day', '6 times a day', '8 times a day', '10 times a day', '12 times a day', '24 times a day','Sat-Sun', 'SOS'], ""), { :class => 'form-control medicinefrequency'} %>
                  </div>
                </div>
              </td>

              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group">
                  <div class="input-group mb15">

                    <div class="row">

                      <div class="col-md-4">
                            <%= select_tag "ipdrecord[treatmentmedication_attributes][#{i}][medicineduration]", options_for_select([['Sel',''],['1','1'], ['2','2'], ['3','3'], ['4','4'], ['5','5'], ['6','6'], ['7','7'], ['8','8'], ['9','9'], ['10','10'], ['11','11'], ['12','12'], ['15', '15'], ['20', '20'], ['25', '25'], ['30', '30'], ['40', '40'], ['50', '50']  ], ""), { :class => 'form-control medicineduration'} %>
                      </div>

                      <div class="col-md-8">

                        <div class="col-md-12">

                          <%= select_tag "ipdrecord[treatmentmedication_attributes][#{i}][medicinedurationoption]", options_for_select([['Sel',''], ['Days', 'D'], ['Weeks', 'W'], ['Months', 'M'], ['Next followup', 'F']], ""), { :class => 'form-control medicinedurationoption'} %>

                        </div>

                      </div>

                    </div>
                  
                  </div>
                </div>
              </td>

              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group">
                  <div class="input-group mb15">
                    <%= text_field_tag "ipdrecord[treatmentmedication_attributes][#{i}][medicineinstructions]", nil, {:maxlength => 300, :size => 40, :class => 'form-control' } %>
                  </div>
                </div>
              </td>

              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">

                <div class="form-group">
                  <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
                  <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger" href="javascript:;" name="removemedicationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
                </div>

              </td>

            </tr>

      <% end %>

<% end %>


    </tbody>

  </table>

  <div class="medication-table-body-removed" style="display:none;">
  </div>

</div>