<div class="row">
  <div class="col-md-3">
    <div class="col-md-3 operative-note-subtitle">Date :</div>
    <%= f.input :admissiondate, :label => false, :required => false, :input_html => {:class => "form-control display-inline date-drop", :name => "ipdrecord[admissiondate]", :size => "11", :maxlength => "11", :value => ipdrecord.read_attribute(:admissiondate) } %>
  </div>
  <div class="col-md-3">
    <div class="col-md-3 operative-note-subtitle">Type :</div>
    <%= f.input :surgerytype, wrapper_html: {:class=>""}, collection: ['Routine', 'Emergency'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white display-inline', :input_html => {:name => "ipdrecord[surgerytype]" }, :checked => ipdrecord.read_attribute(:surgerytype) %>
  </div>
  <div class="col-md-6">
    <div class="col-md-3 operative-note-subtitle">Anesthesia :</div>
      <%= f.input :anesthesia,collection: ["GA","SA","EA","LA","Sedation","Nerve Block","Topical"], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white anesthesia_list', :input_html => {:name => "ipdrecord[anesthesia]" },:checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:anesthesia)) %>
    </div>
</div>
<!-- GA / SA / EA / LA / TOPICAL / NERVE BLOCK / SEDATION -->
<br>

<div class="row">
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="col-md-2">Diagnosis :</div>
      <div class="col-md-10">
      <% if @find_diagnosis_path === "new" %>
        <% if @opd.size == 0 %>
          <%= f.input :diagnosis, :label => false, :required => false, :input_html => {:class => "form-control ipd-diagnosis", :name => "ipdrecord[diagnosis]", :size => "100", :maxlength => "120", :value => ipdrecord.read_attribute(:diagnosis) } %>
        <% else %>
            <%= render partial: "templates/ipd/ipd_partials/diagnosis_opd" , locals: { f: f } %>
        <% end %>
      <% else %>
          <%= f.input :diagnosis, :label => false, :required => false, :input_html => {:class => "form-control ipd-diagnosis", :name => "ipdrecord[diagnosis]", :size => "100", :maxlength => "120", :value => ipdrecord.read_attribute(:diagnosis) } %>
      <% end %>
          </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-3">Procedure Name :</div>
      <div class="col-md-9">
        <%= f.input :procedurename, :label => false, :required => false, :input_html => {:class => "form-control set-fixed-width", :name => "ipdrecord[procedurename]", :size => "80", :maxlength => "100", :value => ipdrecord.read_attribute(:procedurename) } %>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row table-surgeons">

  <div class="col-md-12">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="16%" class="text-center table-head-text">#</th>
          <th width="28%" class="text-center table-head-text">1</th>
          <th width="28%" class="text-center table-head-text">2</th>
          <th width="28%" class="text-center table-head-text">3</th>
        </tr>
      </thead>
      <tbody>
      <tr class="operating-members">
        <th class="text-center table-head-text" style="line-height:3;">Surgeons</th>
        <td>
          <div class="row">
            <div class="col-md-12">
              <%= f.input_field :surgeon1, :class => "form-control table-fields", :maxlength => 40, :size => 40, :required => false, :name => "ipdrecord[surgeon1]", :value => ipdrecord.read_attribute(:surgeon1) %>
            </div>
          </div>
        </td>
        <td>
          <div class="row">
            <div class="col-md-12">
              <%= f.input_field :surgeon2, :class => "form-control table-fields", :maxlength => 40, :size => 40, :required => false, :name => "ipdrecord[surgeon2]", :value => ipdrecord.read_attribute(:surgeon2) %>
            </div>
          </div>
        </td>
        <td>
          <div class="row">
            <div class="col-md-12">
              <%= f.input_field :surgeon3, :class => "form-control table-fields", :maxlength => 40, :size => 40, :required => false, :name => "ipdrecord[surgeon3]", :value => ipdrecord.read_attribute(:surgeon3) %>
            </div>
          </div>
        </td>
      </tr>
      <tr class="operating-members">
        <th class="text-center table-head-text" style="line-height:3;">Anesthetists</th>
        <td>
          <div class="row">
            <div class="col-md-12">
              <%= f.input_field :anesthetist1, :class => "form-control table-fields", :maxlength => 40, :size => 40, :required => false, :name => "ipdrecord[anesthetist1]", :value => ipdrecord.read_attribute(:anesthetist1) %>
            </div>
          </div>
        </td>
        <td>
          <div class="row">
            <div class="col-md-12">
              <%= f.input_field :anesthetist2, :class => "form-control table-fields", :maxlength => 40, :size => 40, :required => false, :name => "ipdrecord[anesthetist2]", :value => ipdrecord.read_attribute(:anesthetist2) %>
            </div>
          </div>
        </td>
        <td>
          <div class="row">
            <div class="col-md-12">
              <%= f.input_field :anesthetist3, :class => "form-control table-fields", :maxlength => 40, :size => 40, :required => false, :name => "ipdrecord[anesthetist3]", :value => ipdrecord.read_attribute(:anesthetist3) %>
            </div>
          </div>
        </td>
      </tr>
      <tr class="operating-members">
        <th class="text-center table-head-text" style="line-height:3;">Theatre Staff</th>
        <td>
          <div class="row">
            <div class="col-md-12">
              <%= f.input_field :theatrestaff1, :class => "form-control table-fields", :maxlength => 40, :size => 40, :required => false, :name => "ipdrecord[theatrestaff1]", :value => ipdrecord.read_attribute(:theatrestaff1) %>
            </div>
          </div>
        </td>
        <td>
          <div class="row">
            <div class="col-md-12">
              <%= f.input_field :theatrestaff2, :class => "form-control table-fields", :maxlength => 40, :size => 40, :required => false, :name => "ipdrecord[theatrestaff2]", :value => ipdrecord.read_attribute(:theatrestaff2) %>
            </div>
          </div>
        </td>
        <td>
          <div class="row">
            <div class="col-md-12">
              <%= f.input_field :theatrestaff3, :class => "form-control table-fields", :maxlength => 40, :size => 40, :required => false, :name => "ipdrecord[theatrestaff3]", :value => ipdrecord.read_attribute(:theatrestaff3) %>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="col-md-3">Pre-Op Status :</div>
    <div class="col-md-9">
      <%= f.input :preoperativestatus, :label => false, :required => false, :input_html => {:class => "form-control table-fields", :name => "ipdrecord[preoperativestatus]", :size => "80", :maxlength => "100", :value => ipdrecord.read_attribute(:preoperativestatus) } %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="col-md-3">Procedure Findings :</div>
    <div class="col-md-9">
      <%= f.input :procedurefindings, :label => false, :required => false, :input_html => {:class => "form-control table-fields", :name => "ipdrecord[procedurefindings]", :size => "80", :maxlength => "100", :value => ipdrecord.read_attribute(:procedurefindings) } %>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-12 mb10 proc-note">Surgical Note :</div>
  <div class="col-md-9 procedurenotetext">
    <%= f.input :procedurenote, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 15, :cols => 70, :name => "ipdrecord[procedurenote]", :value => ipdrecord.read_attribute(:procedurenote) } %>
  </div>
  <div class="col-md-3 search-notes">
    <%= render partial: "templates/ipd/common/saved_procedure_notes_list"  %>
  </div>
</div>
<div class="row">
  <div class="col-md-12 mb10">OT Consumable : <br> <b>Note : </b> Items once checked-out cannot be edited</div>
  <div class="col-md-9" id="ot_inventory_items">
    <%= render partial: "templates/ipd/common/ot_inventory_consumable", locals: {:f => f}  %>
  </div>
</div>
<div class="row">
  <div class="col-md-12 mb10 proc-note">Additional Information :</div>
  <div class="col-md-9">
    <%= f.input :additionalprocedure, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 15, :cols => 70, :name => "ipdrecord[additionalprocedure]", :value => ipdrecord.read_attribute(:additionalprocedure) } %>
  </div>
</div>

<style type="text/css">
  .date-drop {
    height: 25px;
  }

  .operative-note-subtitle {
    margin-top: 3px;
  }

  .set-fixed-width {
    width: 100% !important;
    margin-left: 1px;
  }

  .table-fields {
    width: 100% !important;
  }
  .table-head-text {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  .table-surgeons {
    margin-top: 5px;
  }

  .proc-note {
    margin-top: 20px;
  }

  .search-notes {
    margin-top: 20px;
  }

  .ipd-diagnosis {
    width: 100% !important;
  }

  .set-height {
    margin-top: 21px;
  }

  .operating-members td {
    background-color: #eee !important;
  }

</style>

<!-- scope :newest_first, lambda { order("opd.diagnosislist DESC") } -->