<% user_level_surgical_notes = user_level_surgical_notes(@procedurenotes) %>
<% facility_level_surgical_notes = facility_level_surgical_notes(@procedurenotes) %>
<% organisation_level_surgical_notes = organisation_level_surgical_notes(@procedurenotes) %>

<% user_level_surgical_notes.each do |note| %>
  <li class="list-group-item saved_procedure_note" id="saved_procedure_note_<%= note.id %>" data-procedure_note_id="<%= note.id %>">
    <h5 class="list-group-item-heading clearfix">
      <div class="procedure_note_name" data-toggle="tooltip" title="<%= note.name %>"><%= note.name %></div>
      <span class="pull-right">By: <%= note.try(:level).to_s.capitalize %></span>
    </h5>
  </li>
<% end %>
<% facility_level_surgical_notes.each do |note| %>
  <li class="list-group-item saved_procedure_note" id="saved_procedure_note_<%= note.id %>" data-procedure_note_id="<%= note.id %>">
    <h5 class="list-group-item-heading clearfix">
      <div class="procedure_note_name" data-toggle="tooltip" title="<%= note.name %>"><%= note.name %></div>
      <span class="pull-right">By: <%= note.try(:level).to_s.capitalize %></span>
    </h5>
  </li>
<% end %>
<% organisation_level_surgical_notes.each do |note| %>
  <li class="list-group-item saved_procedure_note" id="saved_procedure_note_<%= note.id %>" data-procedure_note_id="<%= note.id %>">
    <h5 class="list-group-item-heading clearfix">
      <div class="procedure_note_name" data-toggle="tooltip" title="<%= note.name %>"><%= note.name %></div>
      <span class="pull-right">By: <%= note.try(:level).to_s.capitalize %></span>
    </h5>
  </li>
<% end %>
