<% procedure_advised_by_users = @case_sheet.procedures.pluck(:advised_by).uniq.reject { |c| c.nil? || c.empty? } %>
<% procedure_advised_by_dates = @case_sheet.procedures.pluck(:advised_datetime).map { |datetime| datetime.try(:strftime, '%d/%m/%Y') if datetime }.compact.uniq.reject { |c| c.nil? || c.empty? } %>
<% procedure_performed_by_dates = @case_sheet.procedures.pluck(:performed_datetime).map { |datetime| datetime.try(:strftime, '%d/%m/%Y') if datetime }.compact.uniq.reject { |c| c.nil? || c.empty? } %>
<div class="row">
  <% if procedure_advised_by_users.count > 0 || procedure_advised_by_dates.count > 0 || procedure_performed_by_dates.count > 0 %>
    <div class="col-md-12">
      <div class="row">
        <% if procedure_advised_by_users.count > 0 %>
          <div class="col-md-4">
            <b>Advised By</b>
            <%= select_tag :procedure_advised_by_filter, options_for_select(procedure_advised_by_users, ''), include_blank: 'All', class: 'form-control p7_10' %>
          </div>
        <% end %>
        <% if procedure_advised_by_dates.count > 0 %>
          <div class="col-md-4">
            <b>Advised On</b>
            <%= select_tag :procedure_advised_on_filter, options_for_select(procedure_advised_by_dates, ''), include_blank: 'All', class: 'form-control p7_10' %>
          </div>
        <% end %>
        <% if procedure_performed_by_dates.count > 0 %>
          <div class="col-md-4">
            <b>Performed On</b>
            <%= select_tag :procedure_performed_on_filter, options_for_select(procedure_performed_by_dates, ''), include_blank: 'All', class: 'form-control p7_10' %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div id='procedure-table' class="col-md-12 mt10">
    <%= render partial: 'outpatients/appointment/appointment_details/tab_details/procedures/table.html.erb' %>
  </div>
</div>

<script type="text/javascript">
  <%= render partial: 'outpatients/appointment/appointment_details/tab_details/procedures/index.js.erb' %>
</script>
