<table id="proceduresTable" class="table mt10">
  <thead>
    <tr>
      <th>#</th>
      <th>Procedure</th>
      <th class="text-center">Advised</th>
      <th class="text-center">Counselled</th>
      <th class="text-center">Performed</th>
    </tr>
  </thead>
  <tbody>
    <% @procedures.each_with_index do |procedure, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td>
          <%= procedure.procedurename %> (<%= procedure.get_label_for_procedure_side(procedure.procedureside) %>)
        </td>
        <td class="text-center">
          <%= procedure.advised_by %><br>
          <%= procedure.advised_datetime.try(:strftime, '%d/%m/%Y') %>
        </td>
        <td class="text-center">
          <% if procedure.is_counselled %>
            <%= procedure.try(:counselled_by) %><br>
            <%= procedure.try(:counselled_datetime).try(:strftime, '%d/%m/%Y') %>
          <% else %>
            -
          <% end %>
        </td>
        <td class="text-center">
          <% if procedure.is_performed %>
            <%= procedure.try(:performed_by) %><br>
            <%= procedure.try(:performed_datetime).try(:strftime, '%d/%m/%Y') %>
          <% else %>
            -
          <% end %>
        </td>
      </tr>
    <% end %>

    <% if @procedures.count == 0 %>
      <tr class="text-center">
        <td colspan="5">No Procedures</td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @procedures.size > 5 %>
  <script type="text/javascript">
    $('#proceduresTable').DataTable({
      sDom: "<'top'p>",
      ordering: false,
      displayStart: 0,
      displayLength: 5,
    });
  </script>
<% end %>
