<strong class="bg-primary p5">Recent Diagnoses</strong> <a href="" class="pull-right diagnoses-tab-link">View More</a>
<table id="diagnosesOverviewTable" class="table table-bordered mt10">
  <tbody>
    <% @diagnoses.first(3).each do |diagnosis| %>
      <tr>
        <td>
          <% if diagnosis.icd_type == 'TranslatedIcdDiagnosis' %>
            <span>
              <b><%= diagnosis.diagnosisname.to_s %> - <%= diagnosis.icddiagnosiscode.to_s.upcase.insert(3, '.') %></b>
            </span>
          <% else %>
            <span>
              <b><%= diagnosis.diagnosisoriginalname.to_s %> - <%= diagnosis.icddiagnosiscode.to_s.upcase.insert(3, '.') %></b>
            </span>
          <% end %>
          <br>
          <span>A: <%= "#{diagnosis.advised_by} on #{diagnosis.advised_datetime.try(:strftime, "%d %b'%y")}" %></span>
        </td>
      </tr>
      <tr></tr>
    <% end %>

    <% if @diagnoses.count == 0 %>
      <tr class="text-center">
        <td>No Diagnoses</td>
      </tr>
    <% end %>
  </tbody>
</table>
