<% diagnoses_tab = @all_tabs.find { |tab| tab[:tab_id] == 'diagnoses-tab' } %>
<% procedures_tab = @all_tabs.find { |tab| tab[:tab_id] == 'procedures-tab' } %>
<% investigations_tab = @all_tabs.find { |tab| tab[:tab_id] == 'investigations-tab' } %>
<% bills_tab = @all_tabs.find { |tab| tab[:tab_id] == 'bills-tab' } %>
<% prescriptions_tab = @all_tabs.find { |tab| tab[:tab_id] == 'prescriptions-tab' } %>
<% glasses_tab = @all_tabs.find { |tab| tab[:tab_id] == 'glasses-tab' } %>
<% if current_user.role_ids[0] == 499992366 #counsellor %>
  <% if @counsellor_workflows.present? %>
    <div class="row mt10">
      <div class="col-md-12">
        <%= render partial: 'outpatients/appointment/appointment_details/appointment_details_counsellor.html.erb' %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="row mt10">
    <div class="col-md-12">
      <%= render partial: 'outpatients/appointment/appointment_details/appointment_details.html.erb' %>
    </div>
  </div>
<% end %>
<hr>
<% if bills_tab && current_facility.show_finances && Authorization::PolicyHelper.verification(current_user.id, "HGP-102-104-105") %>
  <div class="row mt10">
    <div class="col-md-12">
      <%= render partial: 'outpatients/appointment/appointment_details/tab_details/bills/index.html.erb', locals: { tab_id: 'appointment-overview-tab' } %>
    </div>
  </div>
  <hr>
<% end %>

<% authorized_to_view_diagnoses = Authorization::PolicyHelper.verification(current_user.id, "HGP-102-104-106") %>
<% authorized_to_view_procedures = Authorization::PolicyHelper.verification(current_user.id, "HGP-102-104-108") %>
<% if (@diagnoses.to_a.count > 0 && diagnoses_tab && authorized_to_view_diagnoses) || (@procedures.to_a.count > 0 && procedures_tab && authorized_to_view_procedures) %>
  <div class="row mt10">
    <% if diagnoses_tab && authorized_to_view_diagnoses %>
      <div class="<%= authorized_to_view_procedures ? 'col-md-6' : 'col-md-12' %>">
        <%= render partial: 'outpatients/appointment/appointment_details/tab_details/overview/diagnoses.html.erb' %>
      </div>
    <% end %>
    <% if procedures_tab && authorized_to_view_procedures %>
      <div class="<%= authorized_to_view_diagnoses ? 'col-md-6' : 'col-md-12' %>">
        <%= render partial: 'outpatients/appointment/appointment_details/tab_details/overview/procedures.html.erb' %>
      </div>
    <% end %>
  </div>
  <hr>
<% end %>
<% if Authorization::PolicyHelper.verification(current_user.id, "HGP-102-104-107") && investigations_tab && (@ophthal_investigations.to_a.count > 0 || @radiology_investigations.to_a.count > 0 || @laboratory_investigations.to_a.count > 0) %>
  <div class="row mt10">
    <div class="col-md-12 overview-investigations">
      <%= render partial: 'outpatients/appointment/appointment_details/tab_details/overview/investigations.html.erb' %>
    </div>
  </div>
  <hr>
<% end %>
<% authorized_to_view_medical_prescriptions = Authorization::PolicyHelper.verification(current_user.id, "HGP-102-104-109") %>
<% authorized_to_view_glasses_prescriptions = Authorization::PolicyHelper.verification(current_user.id, "HGP-102-104-110") %>
<% if (@medical_prescriptions.to_a.count > 0 && prescriptions_tab && authorized_to_view_medical_prescriptions) || (@optical_prescriptions.to_a.count > 0 && glasses_tab && authorized_to_view_glasses_prescriptions) %>
  <div class="row mt10">
    <% if prescriptions_tab && authorized_to_view_medical_prescriptions %>
      <div class="<%= authorized_to_view_glasses_prescriptions ? 'col-md-6' : 'col-md-12' %>">
        <%= render partial: 'outpatients/appointment/appointment_details/tab_details/overview/medical_prescriptions.html.erb' %>
      </div>
    <% end %>
    <% if glasses_tab && authorized_to_view_glasses_prescriptions %>
      <div class="<%= authorized_to_view_medical_prescriptions ? 'col-md-6' : 'col-md-12' %>">
        <%= render partial: 'outpatients/appointment/appointment_details/tab_details/overview/optical_prescriptions.html.erb' %>
      </div>
    <% end %>
  </div>
  <hr>
<% end %>
<% if @current_user.role_ids[0] == 499992366 #counsellor %>
  <div class="row mt10">
    <div id="appointment-ot-list" class="col-md-6">
      <%= render partial: 'outpatients/appointment/appointment_details/appointment_ot_list.html.erb' %>
    </div>
    <div class="col-md-6">
      <%#= render partial: 'outpatients/appointment/appointment_details/clinical_details.html.erb' %>
    </div>
  </div>
  <hr>
  <div class="row mt10">
    <div class="col-md-6">
      <%= render partial: 'outpatients/appointment/appointment_details/patient_notes_details.html.erb' %>
    </div>
    <div class="col-md-6">
      <%= render partial: 'outpatients/appointment/appointment_details/counsellor_notes_details.html.erb' %>
    </div>
  </div>
<% else %>
  <div class="row mt10">
    <div id="appointment-ot-list" class="col-md-6">
      <%= render partial: 'outpatients/appointment/appointment_details/appointment_ot_list.html.erb' %>
    </div>
    <div class="col-md-6">
      <%= render partial: 'outpatients/appointment/appointment_details/patient_notes_details.html.erb' %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  <%= render partial: 'outpatients/appointment/appointment_details/tab_details/overview/index.js.erb' %>
</script>
