<strong class="bg-primary p5">Recent Investigations</strong> <a href="" class="pull-right investigations-tab-link">View More</a>
<div id="investigationOverviewWizard" class="basic-wizard mt10">
  <ul class="nav nav-pills nav-justified">
    <% if @appointment.specialty_id == '309988001' %>
      <li role="presentation" class="investigation-overview-tab" data-tab-id="ophthal-overview">
        <a href="#ophthal-details" class="investigation-details" data-toggle="tab">Ophthal (<%= @ophthal_investigations.count %>)</a>
      </li>
    <% end %>
    <li role="presentation" class="investigation-overview-tab active" data-tab-id="laboratory-overview">
      <a href="#laboratory-details" class="investigation-details" data-toggle="tab">Laboratory (<%= @laboratory_investigations.count %>)</a>
    </li>
    <li role="presentation" class="investigation-overview-tab" data-tab-id="radiology-overview">
      <a href="#radiology-details" class="investigation-details" data-toggle="tab">Radiology (<%= @radiology_investigations.count %>)</a>
    </li>
  </ul>
  <div class="tab-content investigation-form-body">
    <% if @appointment.specialty_id == '309988001' %>
      <div class="tab-pane" id="ophthal-details">
        <%= render partial: 'outpatients/appointment/appointment_details/tab_details/overview/investigations_table.html.erb', locals: { investigations: @ophthal_investigations } %>
      </div>
    <% end %>
    <div class="tab-pane active" id="laboratory-details">
      <%= render partial: 'outpatients/appointment/appointment_details/tab_details/overview/investigations_table.html.erb', locals: { investigations: @laboratory_investigations } %>
    </div>
    <div class="tab-pane" id="radiology-details">
      <%= render partial: 'outpatients/appointment/appointment_details/tab_details/overview/investigations_table.html.erb', locals: { investigations: @radiology_investigations } %>
    </div>
  </div>
</div>
