<% three_optical_prescriptions = @optical_prescriptions.first(3) %>
<strong class="bg-primary p5">Recent Optical Prescriptions</strong> <a href="" class="pull-right glasses-tab-link">View More</a>
<table id="opticalPrescriptionsTable" class="table table-bordered mt10">
  <thead>
    <tr>
      <th>Advised On</th>
      <th>Advised By</th>
      <td>Type</td>
    </tr>
  </thead>
  <tbody>
    <% three_optical_prescriptions.each_with_index do |prescription, i| %>
      <tr class="optical-prescription-details" data-modal-id="optical-overview-modal-<%= i %>" style="cursor: pointer;">
        <td><%= prescription.prescription_date.try(:strftime, "%d %b'%Y") %></td>
        <td><%= prescription.consultant_name %></td>
        <td><%= prescription.prescription_type ? 'IGP' : 'GP' %></td>
      </tr>
      <tr></tr>
    <% end %>
    <% if @optical_prescriptions.count == 0 %>
      <tr class="text-center">
        <td colspan="2">No Prescriptions</td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- Running another loop as the modal content is not fitting correctly in <tr> above -->
<% three_optical_prescriptions.each_with_index do |prescription, i| %>
  <%= render partial: 'outpatients/appointment/appointment_details/tab_details/optical_prescriptions/modal.html.erb', locals: { i: i, prescription: prescription, location: 'overview' } %>
<% end %>
