<% if params[:action] == "new" %>
  <% action = (params[:action] == "new") %>
<% end %>
<div class="modal-dialog appointment-dialog" style="width:99%;">
  <div class="modal-content" style="letter-spacing: 0px;">
    <% if params[:action] == "new" %>
      <% @url = "/inpatient/create" %>
    <% else params[:action] == "edit" %>
      <% @url = "/inpatient/update" %>
    <% end %>
    <%= simple_form_for @assessment,   format: :js, remote: true, class: "form-control", url: @url, multipart: true do |clinical| %>
      <fieldset>
        <div class="modal-header">
          <button type="button" class=" btn btn-default btn-sm close_assessment_modal" data-dismiss="modal">Close</button>
          <% if params[:action] == "edit" %>
            <%= clinical.submit "Update", class: " btn btn-success btn-sm submit_assessment" %>
          <%elsif params[:action] == "new" %>
            <%= clinical.submit "Save", class: "btn btn-success btn-sm submit_assessment" %>
          <% end %>
          <h4 class="modal-title">Assessment Form</h4>
        </div>
        <div class="modal-body">
          <div id="tpaFormRecordWizard" class="basic-wizard">
            <ul class="nav nav-pills nav-justified">
              <li role="presentation" class="active"><a href="#Section1" class="assessment_secation" aria-controls="home" role="tab" data-toggle="tab">PRIMARY ASSESSMENT</a></li>
              <li role="presentation"><a href="#Section2" aria-controls="home" role="tab" data-toggle="tab">SECONDARY ASSESSMENT</a></li>
              <li role="presentation"><a href="#Section3" aria-controls="home" role="tab" data-toggle="tab">VITAL SIGNS</a></li>
            </ul>
            <div class="tab-content assessment-form-body" style="background: #fff;">
              <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="assessment-form">
                      <%= clinical.hidden_field :patient_id, value: @patient_id %>
                      <%= clinical.hidden_field :admission_id, value: @admission_id %>
                      <%= clinical.hidden_field :specialty_id, value: @assessment.try(:specialty_id).present? ? @assessment.try(:specialty_id) : params[:specialty_id] %>
                      <!-- <div class="primary-assessment">
                        <div class="primner-assessment-head">
                          <h5 class="assessment-title" style="text-decoration:underline;">PRIMARY ASSESSMENT</h5>
                        </div>
                      </div> -->
                      <div class="primary-assessment-content">
                        <div class="row">
                          <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                              <div class="primary_assessment_name">
                                <div class="primary-title">
                                  <h5 class="p_title">Airway</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <div class="primary_action">
                                <%= clinical.input :airway_assesment, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[airway_assesment]" }, :checked => @assessment.read_attribute(:airway_assesment) || 'Normal' %>
                              </div>
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                              <div class="primary_abnormal airway_select" style="display: none">
                                <%= clinical.input :airway_assesment_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: [['Artificial','Artificial'], ['Unconscious', 'Unconscious'], ['Potential Threat', 'Potential Threat']], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white button_style r-chiefcomplaint', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[airway_assesment_abnormal]", :class => "abnormal_value" }, :checked => (@assessment.checkboxes_checked(@assessment.airway_assesment_abnormal.to_s)) %>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                              <div class="primary_assessment_name">
                                <div class="primary-title">
                                  <h5 class="p_title">Breathing</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <div class="primary_action">
                                <%= clinical.input :breathing_assesment, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[breathing_assesment]" }, :checked => @assessment.read_attribute(:breathing_assesment) || 'Normal' %>
                              </div>
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                              <div class="primary_abnormal breathing_select"  style="display: none">
                                <%= clinical.input :breathing_assesment_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection:  ['Distressed', 'Cyanosed', 'Tachypnea', 'Decreased RR', 'SpO2 < 95%', 'Stridor', 'Wheeze'], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white button_style r-chiefcomplaint', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[breathing_assesment_abnormal]" }, :checked => (@assessment.checkboxes_checked(@assessment.breathing_assesment_abnormal)) %>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                              <div class="primary_assessment_name">
                                <div class="primary-title">
                                  <h5 class="p_title">Pulse</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <div class="primary_action">
                                <%= clinical.input :pulse_assesment, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[pulse_assesment]" }, :checked => @assessment.read_attribute(:pulse_assesment) || 'Normal' %>
                              </div>
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                              <div class="primary_abnormal pulse_select"  style="display: none">
                                <%= clinical.input :pulse_assesment_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Tachycardia', 'Bradycardia', 'Irregular'], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white button_style r-chiefcomplaint', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[pulse_assesment_abnormal]" }, :checked => (@assessment.checkboxes_checked(@assessment.pulse_assesment_abnormal)) %>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                              <div class="primary_assessment_name">
                                <div class="primary-title">
                                  <h5 class="p_title">Blood Pressure</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <div class="primary_action">
                                <%= clinical.input :bp_assesment, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[bp_assesment]" }, :checked => @assessment.read_attribute(:bp_assesment) || 'Normal' %>
                              </div>
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                              <div class="primary_abnormal bp_select"  style="display: none">
                                <%= clinical.input :bp_assesment_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Hypotensive', 'Hypertensive'], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white button_style r-chiefcomplaint', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[bp_assesment_abnormal]" }, :checked => (@assessment.checkboxes_checked(@assessment.bp_assesment_abnormal)) %>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <div class="row">
                                <div class="">
                                  <div class="col-md-6 col-xs-6 col-sm-6">
                                    <div class="p_title">
                                      <h5 class="title">Pressure Ulcer Risk</h5>
                                    </div>
                                  </div>
                                  <div class="col-md-6 col-xs-6 col-sm-6">
                                    <div class="options">
                                      <%= clinical.input :pressure_ulcer_risk, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[pressure_ulcer_risk]" }, :checked => @assessment.read_attribute(:pressure_ulcer_risk) || "No" %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <div class="row">
                                <div class="">
                                  <div class="col-md-6 col-xs-6 col-sm-6">
                                    <div class="p_title">
                                      <h5 class="title">Risk of Fall</h5>
                                    </div>
                                  </div>
                                  <div class="col-md-6 col-xs-6 col-sm-6">
                                    <div class="options">
                                      <%= clinical.input :risk_of_fall, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[risk_of_fall]" }, :checked => @assessment.read_attribute(:risk_of_fall) || "No" %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <div class="row">
                                <div class="">
                                  <div class="col-md-6 col-xs-6 col-sm-6">
                                    <div class="p_title">
                                      <h5 class="title">VTE Risk</h5>
                                    </div>
                                  </div>
                                  <div class="col-md-6 col-xs-6 col-sm-6">
                                    <div class="options">
                                      <%= clinical.input :vte_risk, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[vte_risk]" }, :checked => @assessment.read_attribute(:vte_risk) || "No" %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row comment_assessemt">
                          <div class="col-md-1 col-sm-1 col-xs-6">
                            <h5 class="primary-comment">
                              Comment
                            </h5>
                          </div>
                          <div class="col-md-10 col-sm-10 col-xs-6">
                            <div class="primary-commet">
                              <%= clinical.text_area :primary_comment, class: "primary_comment comment_assessemt_box", placeholder:"Comment" %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade in" id="Section2">
                <!-- <div class="secondary-assessment">
                  <div class="primner-assessment-head">
                    <h5 class="assessment-title" style="text-decoration:underline;">SECONDARY ASSESSMENT</h5>
                  </div>
                </div> -->
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="general_assessment">
                      <h5 class="title" style="text-decoration:underline;">GENERAL:</h5>
                    </div>
                  </div>
                </div>
                <div class="secondary-assessment-content">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="row">
                          <div class="">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                              <div class="p_title">
                                <h5 class="title">Pallor</h5>
                              </div>
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                              <div class="options">
                                <%= clinical.input :general_pallor, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[general_pallor]" }, :checked => @assessment.read_attribute(:general_pallor) || "No" %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="row">
                          <div class="">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                              <div class="p_title">
                                <h5 class="title">Cyanosis</h5>
                              </div>
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                              <div class="options">
                                <%= clinical.input :general_cyanosis, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[general_cyanosis]" }, :checked => @assessment.read_attribute(:general_cyanosis) || "No" %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="row">
                          <div class="">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                              <div class="p_title">
                                <h5 class="title">Clubbing</h5>
                              </div>
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                              <div class="options">
                                <%= clinical.input :general_clubbing, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[general_clubbing]" }, :checked => @assessment.read_attribute(:general_clubbing) || "No" %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="row">
                          <div class="">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                              <div class="p_title">
                                <h5 class="title">Edema</h5>
                              </div>
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                              <div class="options">
                                <%= clinical.input :general_edema, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[general_edema]" }, :checked => @assessment.read_attribute(:general_edema) || "No" %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="row">
                          <div class="">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                              <div class="p_title">
                                <h5 class="title">Rash/Ecchymosis/Purpura</h5>
                              </div>
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                              <div class="options">
                                <%= clinical.input :general_rash, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[general_rash]" }, :checked => @assessment.read_attribute(:general_rash) || "No" %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="row">
                          <div class="">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                              <div class="p_title">
                                <h5 class="title">White Oral Patch</h5>
                              </div>
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                              <div class="options">
                                <%= clinical.input :general_white_oral_patch, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[general_white_oral_patch]" }, :checked => @assessment.read_attribute(:general_white_oral_patch) || "No" %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="row">
                          <div class="">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                              <div class="p_title">
                                <h5 class="title">Lymphadenopathy</h5>
                              </div>
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                              <div class="options">
                                <%= clinical.input :general_lymphadenopathy, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[general_lymphadenopathy]" }, :checked => @assessment.read_attribute(:general_lymphadenopathy) || "No" %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="row">
                          <div class="">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                              <div class="p_title">
                                <h5 class="title">Preferred Language</h5>
                              </div>
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                              <div class="options">
                                <%= clinical.input :preferred_language, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Hindi', 'English', 'Telugu'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[preferred_language]" }, :checked => @assessment.read_attribute(:preferred_language) || "No" %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> -->
                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="row">
                          <div class="">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                              <div class="p_title">
                                <h5 class="title">Interpreter Needed</h5>
                              </div>
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                              <div class="options">
                                <%= clinical.input :interpreter_needed, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[interpreter_needed]" }, :checked => @assessment.read_attribute(:interpreter_needed) || "No" %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="row">
                          <div class="">
                            <div class="col-md-6 col-xs-6 col-sm-6">
                              <div class="p_title">
                                <h5 class="title">General Icterus</h5>
                              </div>
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6">
                              <div class="options">
                                <%= clinical.input :general_icterus, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[general_icterus]" }, :checked => @assessment.read_attribute(:general_icterus) || "No" %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="general_assessment">
                      <h5 class="title" style="text-decoration:underline;">RESP:</h5>
                    </div>
                  </div>
                </div>
                <div class="secondary-assessment-content">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="col-md-2 col-sm-2 col-xs-2">
                          <div class="p_title">
                              <h5 class="">Air Entry</h5>
                          </div>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="optons">
                          <%= clinical.input :resp_air_entry, wrapper_html: {:class=>"primary_assesment_rb", style:""}, collection: ['B/L Equal', 'Reduced', 'Left', 'Right'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[resp_air_entry]" }, :checked => (@assessment.checkboxes_checked(@assessment.resp_air_entry)) %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="col-md-2 col-sm-2 col-xs-2">
                        <div class="p_title">
                          <h5 class="">Breath Sounds</h5>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="primary_action">
                          <%= clinical.input :resp_breath_sounds, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[resp_breath_sounds]" }, :checked => @assessment.read_attribute(:resp_breath_sounds) || 'Normal' %>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="options breath_sounds_select"  style="display: none">
                            <%= clinical.input :resp_breath_sounds_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Reduced', 'Wheeze', 'Crepitations', 'Left', 'Right'], :as => :hg_checkbox,:label => false, :required => false, :class => ' btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[resp_breath_sounds_abnormal]" }, :checked => (@assessment.checkboxes_checked(@assessment.resp_breath_sounds_abnormal)) %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="col-md-2 col-sm-2 col-xs-2">
                        <div class="p_title">
                          <h5 class="">Nail Bed Color</h5>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="primary_action">
                          <%= clinical.input :resp_nail_bed_color, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[resp_nail_bed_color]" }, :checked => @assessment.read_attribute(:resp_nail_bed_color) || 'Normal' %>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="options resp_nail_bed_color_select "  style="display: none">
                            <%= clinical.input :resp_nail_bed_color_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Cyanosed', 'Pale'], :as => :hg_checkbox,:label => false, :required => false, :class => ' btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[resp_nail_bed_color_abnormal]" }, :checked => (@assessment.checkboxes_checked(@assessment.resp_nail_bed_color_abnormal)) %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="col-md-2 col-sm-2 col-xs-2">
                        <div class="p_title">
                          <h5 class="">Sleep Pattern</h5>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="primary_action">
                          <%= clinical.input :sleep_pattern, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[sleep_pattern]" }, :checked => @assessment.read_attribute(:sleep_pattern) || 'Normal' %>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="options sleep_pattern_select"  style="display: none">
                            <%= clinical.input :sleep_pattern_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Normal', 'Interrupted'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[sleep_pattern_abnormal]" }, :checked => (@assessment.checkboxes_checked(@assessment.sleep_pattern_abnormal)) %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="col-md-2 col-sm-2 col-xs-2">
                        <div class="p_title">
                          <h5 class="">General Appearance</h5>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="primary_action">
                          <%= clinical.input :general_appearance, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[general_appearance]" }, :checked => @assessment.read_attribute(:general_appearance) || 'Normal' %>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="options general_appearance_select"  style="display: none">
                            <%= clinical.input :general_appearance_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Regular', 'Irregular', 'Asymptomatic', 'Dyspnea', 'Cough'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[general_appearance_abnormal]" }, :checked => (@assessment.checkboxes_checked(@assessment.general_appearance_abnormal)) %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="general_assessment">
                      <h5 class="title" style="text-decoration:underline;">CNS:</h5>
                    </div>
                  </div>
                </div>
                <div class="secondary-assessment-content">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="col-md-2 col-sm-2 col-xs-2">
                        <div class="p_title">
                          <h5 class="">Temperature</h5>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="primary_options">
                          <%= clinical.input :cns_temperature, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[cns_temperature]" }, :checked => @assessment.read_attribute(:cns_temperature) || 'Normal' %>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="options temperature_select"  style="display: none">
                          <%= clinical.input :cns_temperature_abnormal, wrapper_html: {:class=>"primary_assesment_cb"}, collection: ['Cool', '> 37.5', '36'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[cns_temperature_abnormal]" }, :checked => (@assessment.checkboxes_checked(@assessment.cns_temperature_abnormal)) %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="col-md-2 col-sm-2 col-xs-2">
                        <div class="p_title">
                          <h5 class="">Orientation</h5>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="primary_options">
                          <%= clinical.input :cns_orientation, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[cns_orientation]" }, :checked => @assessment.read_attribute(:cns_orientation) || 'Normal' %>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="options orientation_select"  style="display: none">
                            <%= clinical.input :cns_orientation_abnormal, wrapper_html: {:class=>"primary_assesment_cb"}, collection: ['Vague', 'Drowsy', 'Confused', 'Unconscious'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[cns_orientation_abnormal]" }, :checked => (@assessment.checkboxes_checked(@assessment.cns_orientation_abnormal)) %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="col-md-2 col-sm-2 col-xs-2">
                        <div class="p_title">
                          <h5 class="">Emotional Status</h5>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="primary_options">
                          <%= clinical.input :cns_emotinal_status, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[cns_emotinal_status]" }, :checked => @assessment.read_attribute(:cns_emotinal_status) || 'Normal' %>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="options emotinal_status_select"  style="display: none">
                            <%= clinical.input :cns_emotinal_status_abnormal, wrapper_html: {:class=>"primary_assesment_cb"}, collection: ['Anxious', 'Withdrawn', 'Hostile', 'Aggressive'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[cns_emotinal_status_abnormal]" }, :checked => (@assessment.checkboxes_checked(@assessment.cns_emotinal_status_abnormal)) %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="col-md-2 col-sm-2 col-xs-2">
                        <div class="p_title">
                          <h5 class="">Memory Intact</h5>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="primary_options">
                          <%= clinical.input :cns_memory_intact, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[cns_memory_intact]" }, :checked => @assessment.read_attribute(:cns_memory_intact) || 'Normal' %>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="options memory_intact_select"  style="display: none">
                            <%= clinical.input :cns_memory_intact_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Short Term Loss', 'Long Term Loss'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[cns_memory_intact_abnormal]" }, :checked => (@assessment.checkboxes_checked(@assessment.cns_memory_intact_abnormal)) %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="col-md-2 col-sm-2 col-xs-2">
                        <div class="p_title">
                          <h5 class="">Speech</h5>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="primary_options">
                          <%= clinical.input :cns_speech_status, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[cns_speech_status]" }, :checked => @assessment.read_attribute(:cns_speech_status) || 'Normal' %>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="options speech_select"  style="display: none">
                            <%= clinical.input :cns_speech_status_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Anxious', 'Withdrawn', 'Hostile', 'Aggressive', 'Impaired', 'Unable to Access'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[cns_speech_status_abnormal]" }, :checked => (@assessment.checkboxes_checked(@assessment.cns_speech_status_abnormal)) %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="col-md-2 col-sm-2 col-xs-2">
                        <div class="p_title">
                          <h5 class="">Sensory And Preception</h5>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="primary_options">
                          <%= clinical.input :sensory_and_perception, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[sensory_and_perception]" }, :checked => @assessment.read_attribute(:sensory_and_perception) || 'Normal' %>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="options sensoty_select"  style="display: none">
                            <%= clinical.input :sensory_and_perception_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Asymptomatic', 'Dizziness', 'Numbness', 'Headache'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[sensory_and_perception_abnormal]" }, :checked => (@assessment.checkboxes_checked(@assessment.sensory_and_perception_abnormal)) %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                          <div class="p_title">
                            <h5 class="">Respiratory</h5>
                          </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                          <div class="primary_options">
                            <%= clinical.input :respiratory, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[respiratory]" }, :checked => @assessment.read_attribute(:respiratory) || 'Normal' %>
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                          <div class="options respiratory_select"  style="display: none">
                              <%= clinical.input :respiratory_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Regular', 'Irrgular', 'Asymptomatic', 'Dyspnea', 'Cough'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[respiratory_abnormal]" }, :checked => (@assessment.checkboxes_checked(@assessment.respiratory_abnormal)) %>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="general_assessment">
                      <h5 class="title" style="text-decoration:underline;">CVS:</h5>
                    </div>
                  </div>
                </div>
                <div class="secondary-assessment-content">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="col-md-2 col-ms-2 col-xs-2">
                        <div class="p_title">
                          <h5 class="">Heart Sounds</h5>
                        </div>
                      </div>
                      <div class="col-md-4 col-ms-4 col-xs-4">
                        <div class="primary-options">
                          <%= clinical.input :cvs_heart_sounds_status, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[cvs_heart_sounds_status]" }, :checked => @assessment.read_attribute(:cvs_heart_sounds_status) || 'Normal' %>
                        </div>
                      </div>
                      <div class="col-md-6 col-ms-6 col-xs-6">
                        <div class="options heart_sounds_status_select"  style="display: none">
                          <%= clinical.text_field :cvs_heart_sounds_status_abnormal, {class: "primary_assesment_cb form-control",:name => "patient_assessment[cvs_heart_sounds_status_abnormal]" , placeholder: "Comment", style:"margin-top: -7px;"} %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-2 col-ms-2 col-xs-2">
                          <div class="p_title">
                            <h5 class="">Palpable Pulses</h5>
                          </div>
                        </div>
                        <div class="col-md-4 col-ms-4 col-xs-4">
                          <div class="primary-options">
                            <%= clinical.input :cvs_palpable_pulses_intact, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[cvs_palpable_pulses_intact]" }, :checked => @assessment.read_attribute(:cvs_palpable_pulses_intact) || 'Normal' %>
                          </div>
                        </div>
                        <div class="col-md-6 col-ms-6 col-xs-6">
                          <div class="options palpable_pulses_intact_select"  style="display: none">
                            <%= clinical.input :cvs_palpable_pulses_intact_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Feeble', 'Absent','Right U/L', 'Left U/L','Right L/L', 'Left L/L'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[cvs_palpable_pulses_intact_abnormal]" }, :checked => (@assessment.checkboxes_checked(@assessment.cvs_palpable_pulses_intact_abnormal)) %>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="row">
                          <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="p_title">
                              <h5 class="">Peripheral Edema</h5>
                            </div>
                          </div>
                          <div class="col-md-7 col-sm-7 col-xs-7" >
                            <%= clinical.input :cvs_peripheral_edema, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Absent', 'Pitting' ,'Non-Pitting', 'Left' ,'Right'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[cvs_peripheral_edema]" }, :checked => (@assessment.checkboxes_checked(@assessment.cvs_peripheral_edema)) %>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="p_title">
                              <h5 class="">Calf Tenderness</h5>
                            </div>
                          </div>
                          <div class="col-md-7 col-sm-7 col-xs-7">
                              <%= clinical.input :cvs_calf_tenderness, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Absent', 'Left', 'Right'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[cvs_calf_tenderness]" }, :checked => (@assessment.checkboxes_checked(@assessment.cvs_calf_tenderness)) %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="general_assessment">
                      <h5 class="title" style="text-decoration:underline;">GUT:</h5>
                    </div>
                  </div>
                </div>
                <div class="secondary-assessment-content">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="col-md-2 col-sm-3 col-xs-2">
                        <div class="p_title">
                          <h5 class="">Urine Output</h5>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="primary-options">
                            <%= clinical.input :gut_urine_output, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[gut_urine_output]" }, :checked => @assessment.read_attribute(:gut_urine_output) || 'Normal' %>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="options urine_output_select"  style="display: none">
                            <%= clinical.text_field :gut_urine_output_abnormal, {class:"primary_assesment_cb form-control",:name => "patient_assessment[gut_urine_output_abnormal]", placeholder: "Comment", style:"margin-top: -7px;"} %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="col-md-2 col-sm-3 col-xs-2">
                        <div class="p_title">
                          <h5 class="">Bladder Habits</h5>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="primary-options">
                            <%= clinical.input :gut_bladder_habits, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[gut_bladder_habits]" }, :checked => @assessment.read_attribute(:gut_bladder_habits) || 'Normal' %>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="options bladder_habits_select"  style="display: none">
                            <%= clinical.input :gut_bladder_habits_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Incontinence', 'Frequency','Urgency', 'Dribbling','Nocturia', 'Pain', 'Distension'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[gut_bladder_habits_abnormal]" }, :checked => (@assessment.checkboxes_checked(@assessment.gut_bladder_habits_abnormal)) %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="general_assessment">
                      <h5 class="title" style="text-decoration:underline;"> GIT:</h5>
                    </div>
                  </div>
                </div>
                <div class="secondary-assessment-content">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="col-md-2 col-sm-3 col-xs-2">
                        <div class="p_title">
                          <h5 class="">Bowel Movements</h5>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="primary-options">
                            <%= clinical.input :git_bowel_movements, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[git_bowel_movements]" }, :checked => @assessment.read_attribute(:git_bowel_movements) || 'Normal' %>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="options bowel_movements_select"  style="display: none">
                            <%= clinical.input :git_bowel_movements_abnormal, wrapper_html: {:class=>"primary_assesment_cb"}, collection: ['Constipation', 'Diarrhoea', 'Incontinence'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[git_bowel_movements_abnormal]" }, :checked => (@assessment.checkboxes_checked(@assessment.git_bowel_movements_abnormal)) %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="col-md-2 col-sm-3 col-xs-2">
                        <div class="p_title">
                          <h5 class="">Abdomen</h5>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="primary-options">
                            <%= clinical.input :git_abdomen, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Soft', 'Distended', 'Hard', 'Tender', 'Guarding'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[git_abdomen]" }, :checked => (@assessment.checkboxes_checked(@assessment.git_abdomen)) %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="general_assessment">
                      <h5 class="title" style="text-decoration:underline;">MS:</h5>
                    </div>
                  </div>
                </div>
                <div class="secondary-assessment-content">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="col-md-2 col-sm-3 col-xs-2">
                        <div class="p_title">
                          <h5 class="">Extremity Motion</h5>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="primary-options">
                          <%= clinical.input :ms_extreme_motion, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[ms_extreme_motion]" }, :checked => @assessment.read_attribute(:ms_extreme_motion) || 'Normal' %>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="options extreme_motion_select"  style="display: none">
                          <%= clinical.input :ms_extreme_motion_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Painful', 'Restricted','Loss of Power', 'Right U/L','Left U/L', 'Right L/L', 'Left L/L'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[ms_extreme_motion_abnormal]" }, :checked => (@assessment.checkboxes_checked(@assessment.ms_extreme_motion_abnormal)) %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-2 col-sm-3 col-xs-2">
                          <div class="p_title">
                            <h5 class="">Sensation</h5>
                          </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                          <div class="primary-options">
                            <%= clinical.input :ms_sensation, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[ms_sensation]" }, :checked => @assessment.read_attribute(:ms_sensation) || 'Normal' %>
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                          <div class="options sensation_select"  style="display: none">
                            <%= clinical.input :ms_sensation_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Altered', 'Reduced','Absent', 'Hyperaesthesia','Right U/L', 'Left U/L', 'Right L/L', 'Left L/L'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[ms_sensation_abnormal]" }, :checked => (@assessment.checkboxes_checked(@assessment.ms_sensation_abnormal)) %>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="general_assessment">
                      <h5 class="title" style="text-decoration:underline;"> SKIN:</h5>
                    </div>
                  </div>
                </div>
                <div class="secondary-assessment-content">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="col-md-2 col-sm-3 col-xs-2">
                        <div class="p_title">
                          <h5 class="">Color</h5>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="primary-options">
                          <%= clinical.input :skin_color, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[skin_color]" }, :checked => @assessment.read_attribute(:skin_color) || 'Normal' %>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="options skin_color_select"  style="display: none">
                          <%= clinical.input :skin_color_abnormal, wrapper_html: {:class=>"primary_assesment_cb"}, collection: ['Pale', 'Cyanosed'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[skin_color_abnormal]" }, :checked => (@assessment.checkboxes_checked(@assessment.skin_color_abnormal)) %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="col-md-2 col-sm-3 col-xs-2">
                        <div class="p_title">
                          <h5 class="">Integrity</h5>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="primary-options">
                          <%= clinical.input :skin_integrity, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[skin_integrity]" }, :checked => @assessment.read_attribute(:skin_integrity) || 'Normal' %>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="options integrity_select"  style="display: none">
                            <%= clinical.input :skin_integrity_abnormal, wrapper_html: {:class=>"primary_assesment_cb"}, collection: ['Poor', 'Pressure Area','Ulcer'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "patient_assessment[skin_integrity_abnormal]" }, :checked => (@assessment.checkboxes_checked(@assessment.skin_integrity_abnormal)) %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row comment_assessemt">
                  <div class="col-md-1 col-sm-1 col-xs-6">
                    <h5 comment="">Comment</h5>
                  </div>
                  <div class="col-md-10 col-sm-10 col-xs-6">
                    <div class="secondary_comment">
                      <%= clinical.text_area :secondary_comment, class: "secondary-comment comment_assessemt_box", placeholder: "Comment" %>
                    </div>
                  </div>
                </div>
              </div>

              <div role="tabpanel" class="tab-pane fade in" id="Section3">
                <div class="row">
                  <!-- <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="general_assessment">
                      <h5 class="title" style="text-decoration:underline;"> Vitals:</h5>
                    </div>
                  </div> -->
                </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-2 col-sm-2 col-xs-6">
                          <h5 class="title_name">Height(CM):</h5>
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-6">
                          <%= clinical.text_field :height,  class:"vital_comment_field_b", onkeypress:'validate(event)'%>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <div class="">
                        <div class="col-md-2 col-sm-2 col-xs-6">
                          <h5 class="title_name" style="padding-left: 10px;">B.P(mmHg):</h5>
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-6">
                          <%= clinical.text_field :blood_pressure, class: "vital_comment_field_a" %>
                          <!-- , onkeypress:'validate(event)' -->
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-2 col-sm-2 col-xs-6">
                          <h5 class="title_name">Weight(KG):</h5>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                          <%= clinical.text_field :weight,  class:"vital_comment_field", onkeypress:'validate(event)'%>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-2 col-sm-2 col-xs-6">
                          <h5 class="title_name">Pulse(per/min):</h5>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                          <%= clinical.text_field :pulse,  class:"vital_comment_field", onkeypress:'validate(event)'%>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-xs-6 col-ms-6">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-2 col-sm-2 col-xs-6">
                          <h5 class="title_name">BMI (kg/m2):</h5>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                          <%= clinical.text_field :bmi,  class:"vital_comment_field", onkeypress:'validate(event)', readonly:"readonly"%>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-xs-6 col-ms-6">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-2 col-sm-2 col-xs-6">
                          <h5 class="title_name">Temperature(F):</h5>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                          <%= clinical.text_field :temperature,  class:"vital_comment_field", onkeypress:'validate(event)'%>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-xs-6 col-ms-6">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-2 col-sm-2 col-xs-6">
                          <h5 class="title_name">RR(per/min):</h5>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                          <%= clinical.text_field :respiratory_rate,  class:"vital_comment_field", onkeypress:'validate(event)'%>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-2 col-sm-2 col-xs-6">
                          <h5 class="title_name">SpO2(%):</h5>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                          <%= clinical.number_field :spo2,  class:"vital_comment_field", onkeypress:'return event.charCode >= 48 && event.charCode <= 57', min: "0", max: "100" %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="comment_assessemt">
                    <div class="col-md-1 col-sm-1 col-xs-6">
                      <h5 class="">Comment</h5>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-6">
                      <div class="vital_comment">
                        <%= clinical.text_area :vital_comment, class: "vital-comment comment_assessemt_box", placeholder: "Vital Comment"%>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
<style type="text/css">
  .primary-assesment tbody tr th {
    padding:10px 0 0 10px;
  }

  .click-options {
    color:#ddd;
  }
  .comment_assessemt{
    position: relative;
    top: 20px;
  }
  .comment_assessemt_box{
    width: 40%;
    height: 70px;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    padding-left: 10px;
  }
  .vital_comment_field{
    width: 48% !important;

    height: 30px !important;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    outline: none !important;
    padding-left:10px;
  }
   .vital_comment_field_a{
    width: 27% !important;
    height: 30px !important;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    outline: none !important;
    padding-left: 10px;
    margin-left: 7px;
  }
   .vital_comment_field_b{
    width: 28% !important;
    height: 30px !important;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    outline: none !important;
    padding-left:10px;
  }
  .title_name{
    margin-left: -16px;
  }
  .submit_assessment{
    float: right;
    margin-right: 10px;
  }
  .button_style{
    letter-spacing: 1px;
  }
  #patient_assessment_bmi{
    background: #d4d4d4;
  }
  .assessment-form-body{
    height: 500px;
    overflow-y: scroll;
  }
  .close_assessment_modal{
    float: right;
    letter-spacing: 1px;
    font-size: 13px;
  }
</style>

<script type="text/javascript">
  function validate(evt) {
    var theEvent = evt || window.event;
    var key = theEvent.keyCode || theEvent.which;
    key = String.fromCharCode( key );
    var regex = /[0-9]|\./;
    if( !regex.test(key) ) {
      theEvent.returnValue = false;
      if(theEvent.preventDefault) theEvent.preventDefault();
    }
  }
  $(".primary_assesment_rb").on('change', function(){
    if($(this).find('.btn-brown').text() == "Abnormal") {
     // alert("Show");
      $(this).closest('th').siblings('.toggle-head').find('.primary_assesment_cb').show();
      $(this).closest('th').siblings('.toggle-head').find('.click-options').hide();
    } else {
      $(this).closest('th').siblings('.toggle-head').find('.primary_assesment_cb').hide();
      $(this).closest('th').siblings('.toggle-head').find('.click-options').show();
    }
  })
  $('.primary_assesment_rb').trigger('change');
</script>
<script>
  $(".normal_abnormal").on('click', function(){
    var ab =  $(this).text();
    if(ab == "Abnormal"){
    $(this).parent().parent().parent().parent().next().children().css("display", "block");
    }else{
      $(this).parent().parent().parent().parent().next().children().css("display", "none");
      console.log($(this).parent().parent().parent().parent().next().children().children().children().next().children().val(""))
      $(this).parent().parent().parent().parent().next().children().children().children().children().removeClass("btn-darkblue");
    }
  })
</script>
<script>
 var airway =  $("#patient_assessment_airway_assesment").val();
 if(airway == "Abnormal"){
   $(".airway_select").css("display", "block")
  }
  var breathing =  $("#patient_assessment_breathing_assesment").val();
 if(breathing == "Abnormal"){
   $(".breathing_select").css("display", "block")
  }
  var pulse =  $("#patient_assessment_pulse_assesment").val();
  if(pulse == "Abnormal"){
   $(".pulse_select").css("display", "block")
  }
  var bp =  $("#patient_assessment_bp_assesment").val();
  if(bp == "Abnormal"){
   $(".bp_select").css("display", "block")
  }
  var breath_sounds = $("#patient_assessment_resp_breath_sounds").val();
  if(breath_sounds == "Abnormal"){
    $(".breath_sounds_select").css("display", "block")
  }


  var nail_bed_color = $("#patient_assessment_resp_nail_bed_color").val();
  if(nail_bed_color == "Abnormal"){
    $(".resp_nail_bed_color_select").css("display", "block");
  }

  var sleep_pattern = $("#patient_assessment_sleep_pattern").val();
  if(sleep_pattern == "Abnormal"){
    $(".sleep_pattern_select").css("display", "block")
  }

  var general_appearance = $("#patient_assessment_general_appearance").val();
  if(general_appearance == "Abnormal"){
    $(".general_appearance_select").css("display", "block")
  }

  var temperature = $("#patient_assessment_cns_temperature").val();
  if(temperature == "Abnormal"){
    $(".temperature_select").css("display", "block")
  }

  var orientation = $("#patient_assessment_cns_orientation").val();
  if(orientation == "Abnormal"){
    $(".orientation_select").css("display", "block")
  }

  var emotinal_status = $("#patient_assessment_cns_emotinal_status").val();
  if( emotinal_status == "Abnormal"){
    $(".emotinal_status_select").css("display", "block");
  }

  var memory_intact = $("#patient_assessment_cns_memory_intact").val()
  if(memory_intact == "Abnormal"){
    $(".memory_intact_select").css("display", "block")
  }

  var speech = $("#patient_assessment_cns_speech_status").val();
  if(speech == "Abnormal"){
    $(".speech_select").css("display", "block");
  }

  var sensory_and_perception = $("#patient_assessment_sensory_and_perception").val();
  if(sensory_and_perception == "Abnormal"){
    $(".sensoty_select").css("display", "block");
  }

  var respiratory = $("#patient_assessment_respiratory").val();
  if(respiratory == "Abnormal"){
    $(".respiratory_select").css("display", "block");
  }

  var heart_sounds_status = $("#patient_assessment_cvs_heart_sounds_status").val();
  if( heart_sounds_status == "Abnormal"){
    $(".heart_sounds_status_select").css("display", "block");
  }

  var palpable_pulses = $("#patient_assessment_cvs_palpable_pulses_intact").val();
  if(palpable_pulses == "Abnormal"){
    $(".palpable_pulses_intact_select").css("display", "block");
  }

  var urine_output = $("#patient_assessment_gut_urine_output").val();
  if(urine_output == "Abnormal"){
    $(".urine_output_select").css("display", "block");
  }

  var bladder_habits = $("#patient_assessment_gut_bladder_habits").val();
  if(bladder_habits == "Abnormal"){
    $(".bladder_habits_select").css("display", "block");
  }

  var bowel_movements = $("#patient_assessment_git_bowel_movements").val();
  if(bowel_movements == "Abnormal"){
    $(".bowel_movements_select").css("display", "block");
  }

  var extreme_motion = $("#patient_assessment_ms_extreme_motion").val();
  if(extreme_motion == "Abnormal"){
    $(".extreme_motion_select").css("display", "block");
  }

  var sensation = $("#patient_assessment_ms_sensation").val();
  if(sensation == "Abnormal"){
    $(".sensation_select").css("display", "block");
  }

  var skin_color = $("#patient_assessment_skin_color").val();
  if(skin_color == "Abnormal"){
    $(".skin_color_select").css("display", "block");
  }

  var skin_integrity = $("#patient_assessment_skin_integrity").val();
  if(skin_integrity == "Abnormal"){
    $(".integrity_select").css("display", "block");
  }
</script>
<script>
  var height = $("#patient_assessment_height").val()
  var weight = $("#patient_assessment_weight").val()
  if (height != "" &&  weight != "" ){
    var average_height  = (height/100) * (height/100)
    var bmi = weight/average_height
    $("#patient_assessment_bmi").val(bmi.toFixed(2))
  }
</script>
<script>
  $("#patient_assessment_weight").on('change paste keyup', function(){
    weight = $(this).val();
    var height = $("#patient_assessment_height").val()
    if (height != "" && weight != ""){
    var average_height  = (height/100) * (height/100)
    var bmi = weight/average_height
    $("#patient_assessment_bmi").val(bmi.toFixed(2))
    }else{
      $("#patient_assessment_bmi").val("")
    }
  })

   $("#patient_assessment_height").on('change paste keyup', function(){
    height = $(this).val();
    var weight = $("#patient_assessment_weight").val()
    if (weight != "" &&  height != ""){
    var average_height  = (height/100) * (height/100)
    var bmi = weight/average_height
    $("#patient_assessment_bmi").val(bmi.toFixed(2))
    }else{
      $("#patient_assessment_bmi").val("")
    }
  })

  $('#patient_assessment_spo2').on('keyup change', function() {
    var pattern = new RegExp('^[0-9]$|^[1-9][0-9]$|^(100)$');
    if(!$(this).val().match(pattern)){
      $(this).val('')
    }
  });
</script>

