<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog offer-manager-dialog modal-md" style="width:60%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Edit Offer on <%=@offer_manager.offer_type.titleize%></h4>
    </div>
    <%= simple_form_for @offer_manager, remote: true, html: { id: "offer-manager-form", class: "offer-manager-form" } do |f| %>
      <div class="modal-body">
        <div class="org-info-section">
          <div class="row" style="margin-top: 5px;">
            <div class="col-sm-8">
              <div class="row">
                <div class="col-sm-12">
                  <div class="col-sm-4"><strong>Offer Type</strong></div>
                  <div class="col-sm-8">
                    <b>Offer on <%=@offer_manager.try(:offer_type).try(:titleize)%></b>
                    <%= f.hidden_field :organisation_id, { value: @current_organisation['_id'].to_s, class: 'form-control' } %>
                    <%= f.hidden_field :facility_id, { value: @current_facility.id.to_s, class: 'form-control facility_id' } %>
                    <%= f.hidden_field :user_id, { value: @current_user.id.to_s, class: 'form-control' } %>
                    <%= f.hidden_field :offer_type, { value: @offer_manager.try(:offer_type), class: 'form-control offer_type' } %>
                    <%= f.hidden_field :start_date, { value: @offer_manager.start_date } %>
                    <%= f.hidden_field :start_datetime, { value: @offer_manager.start_datetime } %>
                    <%= f.hidden_field :end_date, { value: @offer_manager.end_date } %>
                    <%= f.hidden_field :end_datetime, { value: @offer_manager.end_datetime } %>
                    <%= f.hidden_field :department_id, { value: @offer_manager.department_id } %>
                    <%= hidden_field_tag :data_tab, @data_tab %>
                  </div>
                </div>
                <div class="col-sm-12" style="margin-top: 5px;">
                  <div class="col-sm-4"><strong>Facility</strong></div>
                  <div class="col-sm-8">
                    <select class="form-control p5_10 offer_manager-facility_id" name="offer_manager[facility_id]" id="offer_managers_facility_id">
                      <% @facilities.each do |facility| %>
                        <% if current_facility.id.to_s == facility[1].to_s %>
                          <option value='<%= facility[1].to_s %>' selected="selected"><%= facility[0] %></option>
                        <% else %>
                          <option value='<%= facility[1].to_s %>'><%= facility[0] %></option>
                        <% end %>
                      <% end %>
                    </select>
                  </div>
                </div>
                <div class="col-sm-12" style="margin-top: 5px;">
                  <div class="col-sm-4"><strong>Offer Applicable On</strong></div>
                  <div class="col-sm-8">
                    <%= f.text_field :department_display_name, :class => 'form-control p7_10 department_display_name', :placeholder => "Department", readonly: true %>
                  </div>
                </div>
                <div class="col-sm-12" style="margin-top: 5px;">
                  <% if @offer_manager.offer_type == 'bill' && @offer_manager.store_id.present? %>
                    <div class="col-sm-4"><strong>Store</strong></div>
                    <div class="col-sm-8 department_title_f" id='div_store'>
                      <%= f.select :store_id, options_for_select(@inventory_stores.map { |store| [store.name, store.id] }, @offer_manager.store_id), {}, {class: 'form-control p5_10 department_store'} %>
                    </div>
                  <% elsif @offer_manager.offer_type == 'service' %>
                    <div class="col-sm-4"><strong>Service</strong></div>
                    <div class="col-sm-8 department_title_f" id="div_services">
                      <%= f.select :service_id, options_for_select(@services.map { |service| ["#{service.service_name} (#{service.amount})", service.id] }, @offer_manager.service_id), {}, {class: 'form-control p5_10 services'} %>
                    </div>
                  <% end %>
                </div>
                <div class="col-sm-12" style="margin-top: 5px;">
                  <div class="col-sm-4"><strong>Offer Title</strong></div>
                  <div class="col-sm-8">
                    <%= f.text_field :name, { :class => 'form-control p7_10 name', :placeholder => "Offer Title" } %>
                    <label class="lbl_offer_name hidden"></label>
                  </div>
                </div>
                <div class="col-sm-12" style="margin-top: 5px;">
                  <div class="col-sm-4"><strong>Standard Offer Code</strong></div>
                  <div class="col-sm-8">
                    <%= f.text_field :standard_code, { :class => 'form-control p7_10 name', :placeholder => "Standard Offer Code" } %>
                    <label class="lbl_offer_code hidden"></label>    
                  </div>
                </div>
                <div class="col-sm-12" style="margin-top: 5px;">
                  <div class="col-sm-4"><strong>Offer Start Date</strong></div>
                  <div class="col-sm-8">
                    <div class="col-sm-6" style="float: left;"><%= text_field_tag "start_date", @offer_manager.try(:start_date), class: 'form-control offer_manager-start-datepicker full_width', readonly: true%></div>
                    <div class="col-sm-6" style="float: right;"><%= text_field_tag "start_datetime", @offer_manager.try(:start_datetime).strftime("%I:%M %p"), { style: 'cursor: pointer; background-color: white;', class: 'form-control offer_manager-start-timepicker full_width'} %></div>
                  </div>
                </div>
                <div class="col-sm-12" style="margin-top: 5px;">
                  <div class="col-sm-4"><strong>Offer End Date</strong></div>
                  <div class="col-sm-8">
                    <div class="col-sm-6" style="float: left;"><%= text_field_tag "end_date", @offer_manager.try(:end_date), class: 'form-control offer_manager-end-datepicker full_width', readonly: true%></div>
                    <div class="col-sm-6" style="float: right;"><%= text_field_tag "end_datetime", @offer_manager.try(:end_datetime).strftime("%I:%M %p"), { style: 'cursor: pointer; background-color: white;', class: 'form-control offer_manager-end-timepicker full_width'} %></div>
                  </div>
                </div>
                <div class="col-sm-12" style="margin-top: 5px;">
                  <div class="col-sm-4"><strong>Offer Duration</strong></div>
                  <div class="col-sm-8" id="div_days_diff" class="div_days_diff"><b><%=@offer_manager.offer_duration%> Days</b></div>
                </div>
                <div class="col-sm-12" style="margin-top: 5px;">
                  <div class="col-sm-4"><strong>Discount (%)</strong></div>
                  <div class="col-sm-8"><%= f.number_field :discount, { :class => 'form-control p7_10', :placeholder => "Discount", min: 1, max: 100 } %></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "Save", class: "btn btn-success save-offer-manager", data: { "disable-with": "Please Wait..." , onclick: "validate_offer_form()"} %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>

<style type="text/css">
  .lbl_offer_name, .lbl_offer_code {
    color: red;
    font-size: 13px;
  }
</style>
