<div class="row" style="margin-top: 5px;">
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-4"><strong>Offer Type</strong></div>
        <div class="col-sm-8">
          <b>Offer on <%=@offer_manager.try(:offer_type).try(:titleize)%></b>
          <%= f.hidden_field :organisation_id, { value: @current_organisation['_id'].to_s, class: 'form-control' } %>
          <%= f.hidden_field :facility_id, { value: @current_facility.id.to_s, class: 'form-control facility_id' } %>
          <%= f.hidden_field :user_id, { value: @current_user.id.to_s, class: 'form-control' } %>
          <%= f.hidden_field :offer_type, { value: @offer_manager.try(:offer_type), class: 'form-control offer_type' } %>
          <%= f.hidden_field :start_datetime, { value: '' } %>
          <%= f.hidden_field :end_datetime, { value: '' } %>
          <%= f.hidden_field :start_date, { value: '' } %>
          <%= f.hidden_field :end_date, { value: '' } %>
          <%= hidden_field_tag :data_tab, @data_tab %>
        </div>
      </div>
      <div class="col-sm-12" style="margin-top: 5px;">
        <div class="col-sm-4"><strong>Facility</strong></div>
        <div class="col-sm-8">
          <select class="form-control p5_10 offer_manager-facility_id" name="offer_manager[facility_id]" id="offer_managers_facility_id">
            <% @facilities.each do |facility| %>
              <% if current_facility.id.to_s == facility[1].to_s %>
                <option value='<%= facility[1].to_s %>' selected="selected"><%= facility[0] %></option>
              <% else %>
                <option value='<%= facility[1].to_s %>'><%= facility[0] %></option>
              <% end %>
            <% end %>
          </select>
        </div>
      </div>
      <div class="col-sm-12" style="margin-top: 5px;">
        <div class="col-sm-4"><strong>Offer Applicable On</strong></div>
        <div class="col-sm-8">
          <% if @offer_manager.offer_type == 'bill' %>
            <%= f.input :department_ids, wrapper_html: { class: 'col-md-12 cls_department' }, collection: instance_variable_get(("@#{@offer_manager.try(:offer_type)}_departments").to_sym), as: :hg_checkbox, label: false, required: false, class: 'btn btn-xs btn-white department_button', style: "height:35px !important; font-size:13px !important;", input_html: { name: "offer_manager[department_ids]" }, checked: @offer_manager.department_ids %>
            <div class="row department_title_f" id='div_store'>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-2 col-sm-2 col-sx-2">
                  <h5 class="seected_department_name"><b>Name</b></h5>
                </div>
                <div class="col-md-5 col-sm-5 col-sx-5">
                  <h5 class="seected_department_stores"><b>Stores</b></h5>
                </div>
              </div>
            </div>
          <% else %>
            <%= f.input :department_ids, wrapper_html: { class: "col-md-12 cls_department" }, collection: instance_variable_get(("@#{@offer_manager.try(:offer_type)}_departments").to_sym), as: :hg_radio_button, label: false, required: false, class: 'btn btn-xs btn-white department_service', style: "height:35px !important; font-size:13px !important;", input_html: { name: "offer_manager[department_ids]" }, checked: @offer_manager.department_ids %>
          <% end %>
        </div>
      </div>
      <div class="col-sm-12" style="margin-top: 5px; display: none;" id='div_services'>
        <div class="col-sm-4"><strong>Service</strong></div>
        <div class="col-sm-8">
          <select class="form-control services" name="offer_manager[service_id]" id="offer_manager_service_id" <%if @offer_manager.try(:offer_type) == 'bill'%>disabled<%end%>>
            <option value=""></option>
          </select>
        </div>
      </div>
      <div class="col-sm-12" style="margin-top: 5px;">
        <div class="col-sm-4"><strong>Offer Title</strong></div>
        <div class="col-sm-8">
          <%= f.text_field :name, { :class => 'form-control p7_10 name', :placeholder => "Offer Title" } %>
          <label class="lbl_offer_name hidden"></label>
        </div>
      </div>
      <div class="col-sm-12" style="margin-top: 5px;">
        <div class="col-sm-4"><strong>Standard Offer Code</strong></div>
        <div class="col-sm-8">
          <%= f.text_field :standard_code, { :class => 'form-control p7_10 name', :placeholder => "Standard Offer Code" } %>
          <label class="lbl_offer_code hidden"></label>
        </div>
      </div>
      <div class="col-sm-12" style="margin-top: 5px;">
        <div class="col-sm-4"><strong>Offer Start Date</strong></div>
        <div class="col-sm-8">
          <div class="col-sm-6" style="float: left;"><%= text_field_tag "start_date", '', class: 'form-control offer_manager-start-datepicker full_width', readonly: true %></div>
          <div class="col-sm-6" style="float: right;"><%= text_field_tag "start_datetime", '', { style: 'cursor: pointer; background-color: white;', class: 'form-control offer_manager-start-timepicker full_width'} %></div>
        </div>
      </div>
      <div class="col-sm-12" style="margin-top: 5px;">
        <div class="col-sm-4"><strong>Offer End Date</strong><br><span style="color: red;font-size: 13px;"><b>(End Date/Time should be greater than Start Date/Time)</b></span></div>
        <div class="col-sm-8">
          <div class="col-sm-6" style="float: left;"><%= text_field_tag "end_date", '', class: 'form-control offer_manager-end-datepicker full_width', readonly: true%></div>
          <div class="col-sm-6" style="float: right;"><%= text_field_tag "end_datetime", '', { style: 'cursor: pointer; background-color: white;', class: 'form-control offer_manager-end-timepicker full_width'} %></div>
        </div>
      </div>
      <div class="col-sm-12" style="margin-top: 5px;">
        <div class="col-sm-4"><strong>Offer Duration</strong></div>
        <div class="col-sm-8" id="div_days_diff" class="div_days_diff"></div>
      </div>
      <div class="col-sm-12" style="margin-top: 5px;">
        <div class="col-sm-4"><strong>Discount (%)</strong></div>
        <div class="col-sm-8"><%= f.number_field :discount, { :class => 'form-control p7_10', :placeholder => "Discount", min: 1, max: 100 } %></div>
      </div>
    </div>
  </div>
</div>
