<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog offer-manager-dialog modal-md" style="width:60%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">New Offer on <%=@offer_manager.offer_type.titleize%></h4>
    </div>
    <%= simple_form_for @offer_manager, remote: true, html: { id: "offer-manager-form", class: "offer-manager-form" } do |f| %>
      <div class="modal-body">
        <div class="org-info-section">
          <%= render partial: "form.html.erb", locals: { f: f } %>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "Save", class: "btn btn-success save-offer-manager", data: { "disable-with": "Please Wait..." , onclick: "validate_offer_form()"} %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>

<style type="text/css">
  .lbl_offer_name, .lbl_offer_code {
    color: red;
    font-size: 13px;
  }
</style>
