<%= render partial: '/settings/common_css.html.erb' %>
<div class="col-xs-5 sidebar_area" style="background: white;">
  <div class="sidebar_area_content">
    <div class="col-xs-3 sidebar_pane sidebar-doctors-letterhead no_padding" id="sidebar_doctors_letterhead" style="overflow:auto;">
      <div class="row no_margin text-center">
        <h4>Departments</h4>
      </div>
      <div class="row no_margin">
        <ul class="nav nav-pills nav-stacked doctors_list">
          <%if current_user.role_ids.any?{|i| [6868009,160943002].include?i} %>
            <li class="sidebar-doctor-filter-letterhead active"><a href="javascript:void(0)" data-id="All">All</a></li>
          <% end %>
          <%if current_user.role_ids.include?158965000 %>
              <li class="sidebar-doctor-filter-letterhead <%= "active" if (current_user.role_ids.include?158965000 and current_user.role_ids.size == 1)%>"><a href="javascript:void(0)" data-id="OPD">OPD</a></li>
              <li class="sidebar-doctor-filter-letterhead"><a href="javascript:void(0)" data-id="IPD">IPD</a></li>
          <%end%>
          <%if current_user.role_ids.any?{|i| [6868009,160943002].include?i} %>
              <li class="sidebar-doctor-filter-letterhead"><a href="javascript:void(0)" data-id="Invoice">Receipt</a></li>
              <li class="sidebar-doctor-filter-letterhead"><a href="javascript:void(0)" data-id="Pharmacy">Pharmacy</a></li>
              <li class="sidebar-doctor-filter-letterhead"><a href="javascript:void(0)" data-id="Optical">Optical</a></li>
              <li class="mini-li-ee" style="border-bottom: 1px solid;border-top: 1px solid;text-align: center;"><i class="fa fa-cog"></i>
                Investigation
              </li>
              <li class="sidebar-doctor-filter-letterhead"><a href="javascript:void(0)" data-id="Laboratory">Laboratory</a></li>
              <li class="sidebar-doctor-filter-letterhead"><a href="javascript:void(0)" data-id="Radiology">Radiology</a></li>
              <li class="sidebar-doctor-filter-letterhead"><a href="javascript:void(0)" data-id="Ophthalmology">Ophthalmology</a></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-xs-9 sidebar_pane" id="sidebar_summary" style="background: #fff; border-right: 1px solid #c7c6c7;">
      <div  class="fill row header zerotop" id="header_notice" style="">
        <div class="col-sm-6 mt5">
          <h4 class="heading" style="margin-left: 10px">OPD Letterhead
          </h4>
        </div>
        <div class="col-sm-6" style="margin-top: 12px;">
          <select class="facility-dropdown pull-right" >
            <%if current_user.role_ids.any?{|i| [6868009,160943002].include?i} %>
                <option value="">All Facilities</option>
            <% end %>
            <% @current_user_facility_settings.each_with_index do |facility_setting,i| %>
                <option value="<%=  facility_setting['_id'] %>">
                  <%= facility_setting['facility_name'] %>
                </option>
            <% end %>
          </select>
        </div>

      </div>
      <div class="setting-option">

        <%#= render 'setting_options' %>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-7 letterhead_main_content" style="padding:0px;">
  <%= render partial: 'settings/settings_main_content.html.erb' %>
</div>
<script type="text/javascript">
  <%= render partial: 'print_settings.js.erb'%>
</script>







<!-- Old Code -->
<% if false %>
    <style>
        body{
            overflow: hidden !important;
            height: 100%;
        }
        .mainpanel{
            min-height: auto;
            padding: 0;
            background-color: grey;
            height: 100%;
            position: absolute;
            width: 100%;

        }
        /*From here*/
        .contentpanel{
            padding: 0;
            background-color: transparent;
            height: 100%;
            /*position: fixed;*/
            width: 100%;
        }

        .sidebar-dept {

            border-right: 1px solid #c7c6c7;
            /*position: absolute;*/
            overflow: hidden;
            height: 800px;
        }

        /*.column-scrollable{*/
            /*/!*position: absolute;*!/*/
            /**/
        /*}*/
        .preview-scrollable{
            /*position: absolute;*/
            overflow: auto;
            height: 600px;
        }
        .list-setting{

            border-right: 1px solid #c7c6c7;
            overflow: auto;
            overflow-x: hidden;
            height: 650px;

            /*left: 99px;*/


        }
        .print-preview{

            border-right: 1px solid #c7c6c7;
            /*left: 656px;*/

        }
        .note-editor .note-editable {
            line-height: 0.5;
        }
        #footer_notice {
            position: fixed;
            bottom: 0;
            width: 42.1%;
            background-color: #F3F3EF;
            height: 55px;
            color: #EFEFEF;
            border-top: 1px solid #eee;
            z-index: 10000;
            margin-left: -20px;
        }
        #header_notice {
            position: fixed;
            top: 50px;
            width: 42.1%;
            background-color: #F3F3EF;
            height: 50px;
            border-top: 1px solid #eee;
            z-index: 10000;
            /*margin-left: -1px;*/
        }
        .sidebar-user-filter-appointment{
            border-bottom: 1px solid #eee;
            border-left: 1px solid #eee;
        }

    </style>

    <div class="row" style="float: left">
      <div class="sidebar-dept col-md-1"  style="background: #fff">
        <div class="row no_margin">
          <ul class="nav nav-pills nav-stacked doctors_list">
            <li class="sidebar-user-filter-appointment active"><a href="javascript:void(0)" >All</a></li>
            <li class="sidebar-user-filter-appointment "><a href="javascript:void(0)" >OPD</a></li>
            <li class="sidebar-user-filter-appointment "><a href="javascript:void(0)" >IPD</a></li>
            <li class="sidebar-user-filter-appointment "><a href="javascript:void(0)" >Receipt</a></li>
            <li class="sidebar-user-filter-appointment "><a href="javascript:void(0)" >Pharmacy</a></li>
            <li class="sidebar-user-filter-appointment "><a href="javascript:void(0)" >Optical</a></li>
            <li class="sidebar-user-filter-appointment "><a href="javascript:void(0)" >Laboratory</a></li>
            <li class="sidebar-user-filter-appointment "><a href="javascript:void(0)" >Radiology</a></li>
            <li class="sidebar-user-filter-appointment "><a href="javascript:void(0)" >Ophthal</a></li>
          </ul>
        </div>

      </div>

      <div class="list-setting col-md-5" style="background: #fff">
        <div  class="fill row header zerotop" id="header_notice" style="border:0;padding-top:0;border-bottom: 1px solid #c7c6c7;">
          <div class="col-sm-8">
            <h3 class="heading" style="margin-left: 10px">OPD Letterhead
            </h3>
          </div>
          <div class="col-sm-4" style="margin-top: 12px;">
            <select class="js-example-basic-multiple pull-right" >
              <option value="">All Facilities</option>
              <% @current_user_facility_settings.each_with_index do |facility_setting,i| %>
                  <option value="<%=  facility_setting['_id'] %>">
                    <%= facility_setting['facility_name'] %>
                  </option>
              <% end %>
            </select>
          </div>

        </div>
        <div class="row setting-options" style="margin-top: 55px;margin-left: 10px">
          <%= render 'setting_options' %>
        </div>
      </div>

      <div class="preview-scrollable print-preview col-md-6" style="background: #fff">
        <%= render partial: 'opd_print_preview'%>
      </div>
    </div>


    <script>
        <%= render partial: 'print_settings.js.erb'%>
    </script>
<% end %>
