<div class="row" id="print-customisation-alert-messages"></div>
<div class="row" id="customised_letter_head_alert_false"></div>
<% unless @print_setting['updated'] %>
    <div class="row mb10 setting-warning" style="margin-left: -20px;">
      <div class="col-md-12" style="background-color:grey;color:#fff;">
        <h6 style="margin:0;text-align:center;padding:5px;font-size:18px;"><b>Setup Incomplete for <%= "Org's " if @facility_name.nil?  %><%=@department  %> Dept. <%=  @facility_name if @facility_name %> press Save to complete setup  </b></h6>
      </div>
    </div>
<% end %>
<% if @logo %>
    <% image_url = @logo.url %>
<% else %>
    <% image_url = '/assets/healthgraph_full.png' %>
<% end %>

<div class="pcs-entity-title">
  <span>Preview For A4 Size Paper</span>
</div>
<br>

<% if @print_setting['updated'] %>
    <% top = 20%>
<%else%>
    <% top = 60%>
<%end%>

<a class=" viewsummary btn btn-warning btn-warning-transparent btn-xs btn-circle pull-right" id="timeline-viewsummary-print" target="_blank" title="Pdf Print Preview" data-method="get" data-toggle="tooltip" href="/admindoctors/preview_print.pdf?department=<%=@department %>&facility_setting_id=<%= @facility_setting_id%>" style="position: absolute;left: 14px;top: <%= top%>px;" format="PDF" ><i class="fa fa-print"></i></a>
<div class="print-template" style="margin: 15px;">
  <br/>
  <div class="inner-content" style="margin-left: <%=@print_setting['left_margin'].to_i%>cm;margin-right: <%=@print_setting['right_margin'].to_i%>cm">
    <% if !@print_setting['customised_letter_head'] %>
        <div style="height:<%= @print_setting['header_height'].to_i %>cm">
        </div>
    <% else %>
        <div style="height:<%= @print_setting['header_height'].to_i - 2 %>cm; overflow:hidden;">
          <div class="header-content" style="margin-top:<%= @print_setting['header_height'].to_i-4 %>cm;">
              <div class="row table-hg-print">
                <div class="col-md-12 text-left">
                  <% if @print_setting['header_location']=="left"%>
                      <% text = @print_setting['header']%>
                      <%= text.try(:html_safe) %>
                  <%end%>
                </div>
                <div class="col-md-12 text-center">
                  <% if @print_setting['header_location']=="center"%>
                      <% text = @print_setting['header']%>
                      <%= text.try(:html_safe) %>
                  <%end%>
                </div>
                <div class="col-md-12 text-right">
                  <% if @print_setting['header_location']=="right"%>
                      <% text = @print_setting['header']%>
                      <%= text.try(:html_safe) %>
                  <%end%>
                </div>
              </div>
              <div class="row table-hg-print">
                <div class="col-md-6 text-left">
                  <% if @print_setting['logo_location']=='left' %>
                      <img src="<%= image_url %>" style="max-width:240px;max-height:100px;">
                  <% else %>
                      <% text  = @print_setting['left'] %>
                      <%= text.try(:html_safe) %>
                  <% end %>
                </div>
                <div class="col-md-6 text-right" style="text-align:right;">
                  <% if @print_setting['logo_location']=='right' %>
                      <img src="<%= image_url%>" style="max-width:240px;max-height:100px;">
                  <% else %>
                      <% text  = @print_setting['right'] %>
                      <%= text.try(:html_safe) %>
                  <% end %>
                </div>
              </div>
            </div>
        </div>
    <% end %>
    <br>
    <div class="pcs-entity-title">
      <span>Out/In Patient Receipt</span>
    </div>
    <div class="container-fluid">
      <div class="row mb10" style="border:1px solid #666;padding:5px;">
        <div class="col-md-3">
          <p style="margin-bottom:0px;"><b>Patient Name</b></p>
          <p style="margin-bottom:0px;"><b>Patient ID </b></p>
          <p style="margin-bottom:0px;"><b>Mobile </b></p>
          <p style="margin-bottom:0px;"><b>Age / Gender </b></p>
          <p style="margin-bottom:0px;"><b>Address </b></p>

        </div>
        <div class="col-md-3">
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; John Doe</p>
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; JOH-PAT-001</p>
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; 9510052631</p>
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; 23 Year(s)  Male </p>
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; 1, WestCoast Street</p>
        </div>
        <div class="col-md-3">
          <p style="margin-bottom:0px;"><b>Doctor</b></p>
          <p style="margin-bottom:0px;"><b>Appointment Date</b></p>
          <p style="margin-bottom:0px;"><b>Bill Date </b></p>
          <p style="margin-bottom:0px;"><b>Bill No. </b></p>
        </div>
        <div class="col-md-3">
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; Jane Doe</p>
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; 20 Jul'16 01:15 AM</p>
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; 30 Jul'16 01:15 AM</p>
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; JOH-INV-001</p>
        </div>
      </div>
      <div class="row mb5" style="border-bottom:1px solid #eee;">
        <div class="col-md-1"><b style="color:#000;">S.No</b></div>
        <div class="col-md-3"><b style="color:#000;">Service Name</b></div>
        <div class="col-md-2"><b style="color:#000;">Quantity</b></div>
        <div class="col-md-2 text-right"><b style="color:#000;">Unit Price</b></div>
        <div class="col-md-2 text-right"><b style="color:#000;">Price</b></div>
      </div>
      <div class="row service_list">
        <div class="col-md-1">
          <b style="color:#000;">1.</b>
        </div>
        <div class="col-md-7">
          <b style="color:#000;">Medication</b>
        </div>
        <div class="col-md-2 text-right">
          <b style="color:#000;">200</b>
        </div>
      </div>
      <div class="row item_list">
        <div class="item">
          <div class="col-md-3 col-md-offset-1" style='padding-left:20px;'>Combiflam</div>
          <div class="col-md-2">10</div>
          <div class="col-md-2 text-right">10</div>
          <div class="col-md-2 text-right" style = "margin-left:-10px;">100</div>
          <div class="col-md-2 text-center"></div>
        </div><!-- .item -->
        <div class="item">
          <div class="col-md-3 col-md-offset-1" style='padding-left:20px;'>Calpol</div>
          <div class="col-md-2">10</div>
          <div class="col-md-2 text-right">10</div>
          <div class="col-md-2 text-right" style = "margin-left:-10px;">100</div>
          <div class="col-md-2 text-center"></div>
        </div><!-- .item -->
      </div><!-- .item_list -->
      <div class="row service_list">
        <div class="col-md-1">
          <b style="color:#000;">2.</b>
        </div>
        <div class="col-md-7">
          <b style="color:#000;">Operation</b>
        </div>
        <div class="col-md-2 text-right">
          <b style="color:#000;">10000</b>
        </div>
      </div>
      <div class="row item_list">
        <div class="item">
          <div class="col-md-3 col-md-offset-1" style='padding-left:20px;'>Name Operation</div>
          <div class="col-md-2">1</div>
          <div class="col-md-2 text-right">10000</div>
          <div class="col-md-2 text-right" style = "margin-left:-10px;">10000</div>
          <div class="col-md-2 text-center"></div>
        </div><!-- .item -->
      </div><!-- .item_list -->
      <hr>
      <div class="row invoice_calculation_list">
        <div class="row mb5">
          <div class="col-md-3 col-md-offset-5 text-right">
            <b>Gross Bill Total :</b>
          </div>
          <div class="col-md-2 text-right">
            <b style="color:#000;">10200</b>
          </div>
        </div>
        <div class="row mb5">
          <div class="col-md-3 col-md-offset-5 text-right">
            <b>Discount :</b>
          </div>
          <div class="col-md-2 text-right">
            <b>0</b>
          </div>
        </div>
        <div class="row mb5">
          <div class="col-md-5">
            <b>Mode Of Payment :</b> Cash
          </div>
          <div class="col-md-3 text-right">
            <b>Net Amount :</b>
          </div>
          <div class="col-md-2 text-right">
            <b style="color:#000;">10200</b>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <% if @print_setting['customised_footer'] %>
    <div class="row" style="padding-bottom: 1cm">
      <div class="col-md-12" style="margin-bottom: <%=@print_setting['footer_height'].to_i%>cm;">
        <div>
          <%=raw @print_setting[:footer_text] %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<style type="text/css">
    div.text-right * {
        margin: 0px;
    }
    div.text-left * {
        margin: 0px;
    }
    div.text-center * {
        margin: 0px;
    }
</style>

<% if false %>
    <br>
    <div class="pcs-entity-title">
      <span>Preview For A5 Size Paper</span>
    </div>
    <br>
    <div class="container-fluid fixed_font" style="box-shadow:0 0 10px rgba(0,0,0,.175);">
      <% if !@print_setting['customised_letter_head'] %>
          <div style="height:1.5cm;border-bottom:1px solid #eee;color:#6495ED">
            <p style="text-align:center;"><i class="fa fa-arrow-up"></i><br>Fixed Height of 1.5cm<br><i class="fa fa-arrow-down"></i></p>
          </div>
      <% else %>
          <div class="row" style="border-bottom:1px solid #eee;margin-top:7px;padding-bottom:3px;">
            <div class="col-md-4">
              <% if @print_setting[:logo_location]=='right' || @print_setting[:logo_location]=='left' %>
                  <img src="<%= image_url %>" style="max-width:180px;max-height:75px;">
              <% end %>
            </div>
            <div class="col-md-4">
              <h5 style="text-align:center;"><b><%= @organisation.name %></b><br>
                <% if @organisation.tagline? %>
                    <span style="text-align:center;font-size:11px;"><%= @organisation.tagline %></span>
                <% end %>
              </h5>
            </div>
            <div class="col-md-4">
              <p style="text-align:right;font-size:11px;margin-bottom:0px;"><%= @organisation.address1 %><% if @organisation.address1? && @organisation.address2? %>,<%end%></p>
              <p style="text-align:right;font-size:11px;margin-bottom:0px;"><%= @organisation.address2 %><% if @organisation.address1? && @organisation.address2? %>,<%end%></p>
              <p style="text-align:right;font-size:11px;margin-bottom:0px;"><%= @organisation.city %><% if @organisation.city? && @organisation.state? %>,<%end%><%= @organisation.state %><% if (@organisation.city? || @organisation.state?) && @organisation.pincode? %>-<%end%><%= @organisation.pincode %></p>
            </div>
          </div>
      <% end %>
      <div class="pcs-entity-title">
        <span>Out/In Patient Receipt</span>
      </div>
      <div class="row mb10" style="border:1px solid #666;padding:5px;">
        <div class="col-md-3">
          <p style="margin-bottom:0px;"><b>Patient Name</b></p>
          <p style="margin-bottom:0px;"><b>Patient ID </b></p>
          <p style="margin-bottom:0px;"><b>Mobile </b></p>
          <p style="margin-bottom:0px;"><b>Age / Gender </b></p>
          <p style="margin-bottom:0px;"><b>Address </b></p>

        </div>
        <div class="col-md-3">
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; John Doe</p>
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; JOH-PAT-001</p>
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; 9510052631</p>
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; 23 Year(s)  Male </p>
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; 1, WestCoast Street</p>
        </div>
        <div class="col-md-3">
          <p style="margin-bottom:0px;"><b>Doctor</b></p>
          <p style="margin-bottom:0px;"><b>Appointment Date</b></p>
          <p style="margin-bottom:0px;"><b>Bill Date </b></p>
          <p style="margin-bottom:0px;"><b>Bill No. </b></p>
          <p style="margin-bottom:0px;"><b>Department</b></p>
        </div>
        <div class="col-md-3">
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; Jane Doe</p>
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; 20 Jul'16 01:15 AM</p>
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; 30 Jul'16 01:15 AM</p>
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; JOH-INV-001</p>
          <p style="margin-bottom:0px;"><b>:</b>&nbsp; Orthopedic/Ophthalmology</p>
        </div>
      </div>
      <div class="row mb5" style="border-bottom:1px solid #eee;">
        <div class="col-md-1"><b style="color:#000;">S.No</b></div>
        <div class="col-md-3"><b style="color:#000;">Service Name</b></div>
        <div class="col-md-2"><b style="color:#000;">Quantity</b></div>
        <div class="col-md-2 text-right"><b style="color:#000;">Unit Price</b></div>
        <div class="col-md-2 text-right"><b style="color:#000;">Price</b></div>
      </div>
      <div class="row service_list">
        <div class="col-md-1">
          <b style="color:#000;">1.</b>
        </div>
        <div class="col-md-7">
          <b style="color:#000;">Medication</b>
        </div>
        <div class="col-md-2 text-right">
          <b style="color:#000;">200</b>
        </div>
      </div>
      <div class="row item_list">
        <div class="item">
          <div class="col-md-3 col-md-offset-1" style='padding-left:20px;'>Combiflam</div>
          <div class="col-md-2">10</div>
          <div class="col-md-2 text-right">10</div>
          <div class="col-md-2 text-right" style = "margin-left:-10px;">100</div>
          <div class="col-md-2 text-center"></div>
        </div><!-- .item -->
        <div class="item">
          <div class="col-md-3 col-md-offset-1" style='padding-left:20px;'>Calpol</div>
          <div class="col-md-2">10</div>
          <div class="col-md-2 text-right">10</div>
          <div class="col-md-2 text-right" style = "margin-left:-10px;">100</div>
          <div class="col-md-2 text-center"></div>
        </div><!-- .item -->
      </div><!-- .item_list -->
      <div class="row service_list">
        <div class="col-md-1">
          <b style="color:#000;">2.</b>
        </div>
        <div class="col-md-7">
          <b style="color:#000;">Operation</b>
        </div>
        <div class="col-md-2 text-right">
          <b style="color:#000;">10000</b>
        </div>
      </div>
      <div class="row item_list">
        <div class="item">
          <div class="col-md-3 col-md-offset-1" style='padding-left:20px;'>Name Operation</div>
          <div class="col-md-2">1</div>
          <div class="col-md-2 text-right">10000</div>
          <div class="col-md-2 text-right" style = "margin-left:-10px;">10000</div>
          <div class="col-md-2 text-center"></div>
        </div><!-- .item -->
      </div><!-- .item_list -->
      <hr>
      <div class="row invoice_calculation_list">
        <div class="row mb5">
          <div class="col-md-3 col-md-offset-5 text-right">
            <b>Gross Bill Total :</b>
          </div>
          <div class="col-md-2 text-right">
            <b style="color:#000;">10200</b>
          </div>
        </div>
        <div class="row mb5">
          <div class="col-md-3 col-md-offset-5 text-right">
            <b>Discount :</b>
          </div>
          <div class="col-md-2 text-right">
            <b>0</b>
          </div>
        </div>
        <div class="row mb5">
          <div class="col-md-5">
            <b>Mode Of Payment :</b> Cash
          </div>
          <div class="col-md-3 text-right">
            <b>Net Amount :</b>
          </div>
          <div class="col-md-2 text-right">
            <b style="color:#000;">10200</b>
          </div>
        </div>
      </div>
    </div>
<% end %>
<style type="text/css">
    .fixed_font * {
        font-size: 10px;
    }
</style>
<script>
  $(".setting-warning").slideDown("slow");
//  $('.viewsummary').click(function(e){
//      e.preventDefault();
//      var department = $(".doctors_list").find(".active").find("a").text()
//      var facility_setting_id = $(".facility-dropdown").val()
//      $.ajax({
//          data: {
//              department: department,
//              facility_setting_id: facility_setting_id,
//          },
//          url: '/admindoctors/preview_print.pdf'
//      })
//  })
</script>