<%= form_tag('/admindoctors/save_print_setting',method: 'post',:remote=>true,:id=>'print_customisations',:class => 'form form-bordered') do  %>
    <div id="footer_notice">
      <div class="row mt10" style="margin-left: 0px">
        <div class="col-md-12" style="max-height: 100%">
          <%= submit_tag("Save",{:class=>"btn btn-xs btn-danger"}) %>
          <!--<a href="/doctors/preview_printout_customization" data-remote="true" class="btn btn-xs btn-white"><i class="glyphicon glyphicon-eye-open"></i> Preview</a>-->
        </div>
      </div>
    </div>
    <%= hidden_field_tag :facility_setting_id,@facility_setting_id %>
    <%= hidden_field_tag :department,@department %>
    <% letter_head_height = @print_setting['customised_letter_head'] ? '3' : @print_setting['header_height'] %>
    <div class="row mb20" id="header_height" style="<%= @print_setting['customised_letter_head'] ? 'display:block' :'' %>;margin-top: 50px;">
      <div class="col-md-5">
        <label class="control-label">Enable </label>
      </div>
      <div class="col-md-7">
        <%= radio_button_tag :updated,true,@print_setting['updated'] ? true :false %> Yes
        <%= radio_button_tag :updated,false,@print_setting['updated'] ? false :true %> No
      </div>
      <div class="col-md-12">
        <label class="control-label" >
          Margins (in cms)
        </label>
      </div>
      <div class="col-md-3">
        <div class="input-group input-group-sm select-refresh">
          <%= number_field_tag "letter_head_height", @print_setting['header_height'], :class => "form-control",style: "width: 60px;" %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group input-group-sm select-refresh">
          <%= number_field_tag "footer_height", @print_setting['footer_height'], :class => "form-control",style: "width: 60px;",min: 2 %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group input-group-sm select-refresh">
          <%= number_field_tag "left_margin", @print_setting['left_margin'], :class => "form-control",style: "width: 60px;" %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group input-group-sm select-refresh">
          <%= number_field_tag "right_margin", @print_setting['right_margin'], :class => "form-control",style: "width: 60px;" %>
        </div>
      </div>
      <div class="col-md-3">Top</div>
      <div class="col-md-3">Bottom</div>
      <div class="col-md-3">Left </div>
      <div class="col-md-3">Right</div>
    </div>
    <div class="row mb20">
      <div class="col-md-5">
        <label class="control-label">Create Letterhead?</label>
      </div>
      <div class="col-md-7">
        <%= radio_button_tag :customised_letter_head,true,@print_setting['customised_letter_head'] ? true :false %> Yes
        <%= radio_button_tag :customised_letter_head, false,@print_setting['customised_letter_head'] ? false :true %> No
      </div>
    </div>

    <% header_location = @print_setting['customised_letter_head'] ? @print_setting['header_location'] : 'left' %>

    <div class="row mb20" id="header_loc"style="display:none;">
      <!--<div class="col-md-1"></div>-->
      <div class="col-md-5">Header Position :</div>
      <div class="col-md-7">
        <%= radio_button_tag :header_location,'left',header_location=='left' ? true : false %>&nbsp; Left&nbsp;&nbsp;
        <%= radio_button_tag :header_location,'center',header_location=='center' ? true : false %>&nbsp; Center&nbsp;&nbsp;
        <%= radio_button_tag :header_location,'right',header_location=='right' ? true : false %>&nbsp; Right
      </div>
    </div>
    <div class="row mb10" id="header-master" style="display: none;">
      <!--<div class="col-md-1"></div>-->
      <div class="col-md-5 header-text-title">Header Text : </div>
      <div class="col-md-7 header-text-title"><a href="#">Customize header text</a> </div>
      <div class="col-md-12 header-text-body" style="display: none">
        <%= text_area_tag :header_text,@print_setting['customised_letter_head'] ? @print_setting['header'] :'',{:class => 'summernote', :data => 'abc',:placeholder =>'abcs'} %>
      </div>
      <div class="col-md-12">
        <hr>
      </div>
    </div>
    <% header_logo_location = @print_setting['customised_letter_head'] ? @print_setting['logo_location'] : 'left' %>
    <div class="row mb10" id="logo_loc" style="<%= @print_setting['customised_letter_head'] ? '' :'display:none' %>" >
      <!--<div class="col-md-1"></div>-->
      <div class="col-md-5">Logo Position :</div>
      <div class="col-md-7">
        <%= radio_button_tag :header_logo_location,'left',header_logo_location=='left' ? true : false %>&nbsp; Left&nbsp;&nbsp;
        <%= radio_button_tag :header_logo_location,'right',header_logo_location=='right' ? true : false %>&nbsp; Right&nbsp;&nbsp;
        <%= radio_button_tag :header_logo_location,'none',header_logo_location=='none' ? true : false %>&nbsp; No Logo
      </div>
      <div class="" id="organisation_logo">
        <!--<div class="col-md-1"></div>-->
        <div class="col-md-5"style="margin-top:25px;">Upload Logo :</div>
        <%= image_tag(@logo, :width=>"200", :height=>"60",:style => "cursor: pointer", :class=>"thumb", :onclick=>"$(this).parent().find('.profile_pic').click();")%>
        <%= file_field_tag :logo, {:style=>"visibility:hidden",name: @logo_input_field, :class => "profile_pic", :onchange =>"readURL(this)"} %>
      </div>
    </div>
    <!--</div>-->


    <div class="row mb10">
      <div class="col-md-12">
        <div class="add-remove-class" id="left_header" style="<%= (@print_setting['customised_letter_head'] && (@print_setting['logo_location']=='right' || @print_setting['logo_location']=='none')) ? '':'display:none' %>">
          <div class="row mb10">
            <div class="col-md-5">Text Position-Left: </div>
            <div class="col-md-7"><a href="#" class="left-text">Customize text</a></div>

            <div class="col-md-12 left-text-body" style="display: none">
              <%= text_area_tag :left_header_text,@print_setting['customised_letter_head'] ? @print_setting['left'] :'',{:class => 'summernote', rows: 5} %>
            </div>
          </div>
        </div>
        <div class="add-remove-class" id="right_header" style="<%= (@print_setting['customised_letter_head'] && (@print_setting['logo_location']=='left' || @print_setting['logo_location']=='none')) ? '':'display:none' %>">
          <div class="row mb10">
            <div class="col-md-5">Text Position-Right: </div>
            <div class="col-md-7"><a href="#" class="right-text">Customize text</a></div>

            <div class="col-md-12 right-text-body" style="display: none">
              <%= text_area_tag :right_header_text,@print_setting['customised_letter_head'] ? @print_setting['right'] :'',{:class => 'summernote', :data => 'abc',:placeholder =>'abcs'} %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <!--<div class="row mb10">-->
    <!--<div class="col-md-12"style="background:beige;margin-bottom:5px;margin-top:10px;"><h4>Create Footer</h4></div>-->
    <!--<div class="col-md-2"><h4>Footer</h4></div>-->
    <!--</div>-->
    <div class="row mb10">
      <div class="col-md-5">
        <label class="control-label">Create Footer?</label>
      </div>
      <div class="col-md-7">
        <%= radio_button_tag :customised_footer, true,@print_setting['customised_footer'] ? true :false %> Yes
        <%= radio_button_tag :customised_footer, false,@print_setting['customised_footer'] ? false :true %> No
      </div>
    </div>

    <div class="row" id="footer-div" style="margin-bottom: 60px">
      <div class="col-md-5">
        Footer Text :
      </div>
      <div class="col-md-7">
        <a href="#" class="footer-text-title">Customize footer Text</a>
      </div>

      <div class="col-md-12 footer-text-body" style="display: none">
        <%= text_area_tag :footer_text ,@print_setting['footer_text'],class: 'summernote' %>
      </div>
    </div>

<% end %>