<div class="row">
  <div class="col-md-4">
    <h4>MANAGE COMMUNICATION TEMPLATE</h4>
  </div>
  <div class="col-md-3 text-right">
    <input type="text" name="" class="search-cm-template-master form-control" placeholder="Search By Template Name & Message" value="" style="margin-top: 5px;">
  </div>
  <div class="col-md-5 text-right">
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <% if @communication_tempaltes.count > 0 %>
      <table id="manage_inventory_categories_table" class="table table-primary table-bordered">
        <thead>
          <th>Name</th>
          <th>Communication Number</th>
          <th>Message</th>
          <th class="text-center">Actions</th>
        </thead>
        <tbody id="cm_template_master-list">
          <% @communication_tempaltes.each do |template| %>
            <%# visibility = template.is_disable ? 'visibility: hidden;' : 'visibility: visible' %>
            <tr class="each-contact-table-row template_master_tr">
              <td>
                <b class="template_name" style="color:#000;"><%= template.try(:display_name).try(:titleize) %></b>
              </td>
              <td>
                <b class="communication_number" style="color:#000;"><%= template.try(:communication_number)%></b>
              </td>
              <td>
                <b class="template_description" style="color:#000;"><%= template.try(:template_content)%></b>
              </td>
              <td id='category_disable_button_<%= template.id %>'>
                <% if template.try(:is_disable) == true %>
                  <%= link_to 'Active', toggle_disable_communication_template_path(id: template.id, is_disable: false), class: 'btn btn-xs btn-primary', remote: true, style: 'display: inline;' %>
                <% else %>
                  <div class="btn btn-danger btn-xs btn-disable-template" style="display: inline;" data-toggle="modal" data-target="#confirmation-modal" data-template='<%= template.display_name %>'>Disable</div>
                  <%= link_to 'Confirm', toggle_disable_communication_template_path(id: template.id, is_disable: true), class: 'btn btn-danger', remote: true, style: 'display: none;', data: { dismiss: 'modal' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="col-md-12 text-center mt10">
        No Communication Template to Show.
      </div>
    <% end %>
  </div>
</div>

<style>
  #confirmation-modal a{
    display: inline-block !important;
  }
  .row-container{
    height: 25px;
  }
   table tr td, textarea{
    word-wrap: break-word !important;
  }
</style>

<script type="text/javascript">
  $(".search-cm-template-master").on('keyup', function(){
    cm_template_list = $(".template_master_tr");
    cm_template_list_count = cm_template_list.length;
    search = $(this).val().toUpperCase().trim();
    counter = 0
    for (var i = cm_template_list.length - 1; i >= 0; i--) {
      template_name = $(cm_template_list[i]).find(".template_name")
      template_description = $(cm_template_list[i]).find(".template_description")
      if($(template_name).html().toUpperCase().indexOf(search) > -1 || $(template_description).html().toUpperCase().indexOf(search) > -1) {
        $(cm_template_list[i]).css("display", "");
      } else {
        $(cm_template_list[i]).css("display", "None");
        counter += 1
      }
    }

    if(cm_template_list_count == counter){
      if($(".show-nothing").length <= 0){
        $("#cm_template_master-list").append(`<tr class="show-nothing"><td class="text-center" colspan="5">Nothing to Show</td></tr>`)
      }
    } else {
      $(".show-nothing").remove();
    }
  })
</script>