<div class="col-sm-12">
  <% if @case_sheet.present? %>
    <div class="row no_margin mb10">
      <div class="col-sm-3">
        <h4 class="" style="display: inline">Case Details</h4>
      </div>
      <div class="col-sm-3">
        <%= link_to edit_case_sheet_path(@case_sheet), data: { remote: true, toggle: 'modal', target: '#case-modal' }, class: 'btn btn-primary btn-xs btn-case-details' do %>
          <%= ("#{@case_sheet.case_name.titleize}" if @case_sheet.case_name.present?) || "(Click to Add Name)" %> - <%= @case_sheet.case_id %>
        <% end %>
      </div>
      <div class="col-sm-6 text-right">
        <%= link_to case_sheets_path(active_case_id: @case_sheet.id, patient_id: @patient.id), data: { remote: true, toggle: 'modal', target: '#case-modal' }, class: 'btn btn-link btn-xs btn-all-case' do %>All Cases<% end %>
      </div>
      <% if false && (@ot.admission_id.nil? || @case_sheet.case_switchable_ipd[@admission.try(:id).to_s][:case_switchable]) %>
        <div class="col-sm-6 text-right">
          <%= link_to new_case_sheet_path(active_case_id: @case_sheet.id, patient_id: @patient.id, ot_schedule_id: @ot.id), data: { remote: true, toggle: 'modal', target: '#case-modal' }, class: 'btn btn-link btn-xs btn-change-case' do %>Change Case<% end %>
        </div>
        <div class="col-md-12 mt10">
          <label class="label label-danger">Note: Once OPERATIVE NOTE is created case cannot be changed.</label>
        </div>
      <% elsif false %>
        <div class="col-sm-6 text-right">
          <span style="color:#428bca;opacity:.65;font-size:10px;">Change Case DISABLED as data has changed.</span>
        </div>
      <% end %>
    </div>
  <% end %>
</div>