<div class="col-sm-12">
  <div class="row no_margin" style="margin-bottom:5px;">
    <h4 class="" style="margin-left: 10px;">OT Detail &nbsp;
      <%= link_to edit_ot_path(patient_id: @ot.patient_id, id: @ot.id), class: "btn btn-link btn-xs reschedule-btn", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ot-modal'} do %> <i class="fa fa-edit"></i><% end %>
      <%= link_to ipd_patients_deleteot_path(:id => @ot.id, active_id: @ot.id),class: "btn btn-link btn-xs pull-right",method: 'delete', :title => "Delete this OT ?", :data => {:remote => true, :confirm => "<h4>Are you sure you want to delete OT for #{@ot.patient.fullname} ?</h4>".html_safe, :commit => 'Delete OT' }, style: "margin-top: -5px;color:#f00;" do %>Delete OT<% end %>
    </h4>
  </div>
</div>
<div class="col-sm-12">
  <div class="row no_margin yes_padding">
    <div class="col-sm-3 no_padding text-left">Operating Doctor</div>
    <div class="col-sm-1 no_padding text-left">:</div>
    <div class="col-sm-3 no_padding"><%= @doctor.fullname %></div>
    <div class="col-sm-2 no_padding text-left">OT Date</div>
    <div class="col-sm-1 no_padding text-left">:</div>
    <div class="col-sm-2 no_padding"><%= @ot.otdate.strftime("%d/%m/%Y") %></div>
  </div>
  <div class="row no_margin yes_padding">
    <div class="col-sm-3 no_padding text-left">OT Time</div>
    <div class="col-sm-1 no_padding text-left">:</div>
    <div class="col-sm-3 no_padding"><%= @ot.ottime.strftime("%I:%M %p") %></div>
    <div class="col-sm-2 no_padding text-left">OT Room</div>
    <div class="col-sm-1 no_padding text-left">:</div>
    <div class="col-sm-2 no_padding"><%= @ot_room&.name || @ot.theatreno  %></div>
  </div>
  <div class="row no_margin yes_padding">
    <div class="col-sm-3 no_padding text-left">Scheduled By</div>
    <div class="col-sm-1 no_padding text-left">:</div>
    <div class="col-sm-3 no_padding "><%= @ot.user.fullname %></div>
    <div class="col-sm-2 no_padding text-left">Procedure</div>
    <div class="col-sm-1 no_padding text-left">:</div>
    <div class="col-sm-2 no_padding"><% if @ot.procedurename.present? %><%= @ot.procedurename %><% else %><span>Not Mentioned</span><% end %></div>
  </div>
</div>