<% unless @ot.is_deleted || @admission&.is_deleted %>
  <input type="hidden" name="none" id="ot_refresher" value="<%= @ot.id.to_s %>">

  <div class="row no_margin" style="padding: 10px 5px;">
    <div class="row no_margin no_padding" style="padding: 5px;">
      <%= render partial: 'inpatients/ot/ot_details/patient_details.html.erb' %>
    </div>
    <div class="row no_margin no_padding" style="padding: 5px;">
      <%= render partial: 'inpatients/ot/ot_details/ot_actions.html.erb' %><!-- Includes Reminder Note for doctor -->
    </div>
    <% if @clinical_workflow # && Date.current == Date.parse(@current_date) %>
      <hr style="border: 0.5 dotted #ababab; margin: 10px;">
      <div class="row no_margin no_padding" style="padding: 5px;">
        <%= render partial: 'inpatients/admission/admission_details/workflow_actions.html.erb' %>
      </div>
      <div class="row no_margin no_padding" style="padding: 5px;">
        <%= render partial: 'inpatients/admission/admission_details/workflow_states.html.erb' %>
      </div>
    <% end %>
    <% if current_facility.show_finances? %>
      <hr style="border: 0.5 dotted #ababab; margin: 10px;">
      <div class="row no_margin no_padding" style="padding: 5px;">
        <%= render partial: 'inpatients/ot/ot_details/ipd_invoices.html.erb' %>
      </div>
    <% end %>
    <hr style="border: 0.5 dotted #ababab; margin: 10px;">
    <div class="row no_margin no_padding" style="padding: 5px;">
      <%= render partial: 'inpatients/ot/ot_details/case_details.html.erb' %>
    </div>
    <hr style="border: 0.5 dotted #ababab; margin: 10px;">
    <div class="row no_margin no_padding" style="padding: 5px;">
      <%= render partial: 'inpatients/ot/ot_details/ot_details.html.erb' %>
    </div>
    <%# if @ot_schedules.not.where(id: @ot.id).count > 0 %>
      <hr style="border: 0.5 dotted #ababab; margin: 10px;">
      <div class="row no_margin no_padding" style="padding: 5px;">
        <div class="col-xs-6">
          <%= render partial: 'inpatients/ot/ot_details/admission_ot_list.html.erb' %>
        </div>
        <div class="col-xs-6">
          <%= render partial: 'outpatients/appointment/appointment_details/patient_notes_details.html.erb', locals: { :@patientid => @ot.patient.id } %>
        </div>
      </div>
    <%# end %>
    <hr style="border: 0.5 dotted #ababab; margin: 10px;">
    <div class="row no_margin no_padding" style="padding: 5px;">
      <%= render partial: 'inpatients/ot/ot_details/insurance_details.html.erb' %>
    </div>
    <hr style="border: 0.5 dotted #ababab; margin: 10px;">
  </div>

  <script type="text/javascript">
    <%= render partial: 'inpatients/ot/ot_details/ot_details_section.js.erb' %>
  </script>
<% else %>
  <% @ot.update(admission_id: nil) if @admission&.is_deleted %>
  <script type="text/javascript">
    if ($('.ui-pnotify').length == 0) {
      notice = new PNotify({
        title: 'Admission Deleted',
        text: 'Seems like someone deleted this <%= @ot.is_deleted ? 'OT' : 'Admission' %>.',
        type: 'success'
      });
      notice.get().click(function(){ notice.remove() });
    }
    $("#btn-ot-management-refresh").trigger('click')
  </script>
<% end %>
