<input type="hidden" name="department" value="309988001" id="ipdrecord_specalityid">
<input type="hidden" value="<%=@stores_array.length%>" id='store_array_size'>
<input type="hidden" value="<%= @disabled_store.present? %>" id='is_disable_store'>
<% if @current_facility.show_language_support %>
  <% if @stores_array.length > 0 %>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="row ipd-stores" style="<%= 'display: none;' if @no_store == true %>">
          <div class="col-md-2 col-sm-2 col-xs-2"></div>
          <div class="col-md-2 col-sm-2 col-xs-2"><strong>Store:</strong></div>
          <% if @stores_array.length > 1 %>
            <div class="col-md-8 col-sm-8 col-xs-8 multi-stores">
            <%= select_tag("inpatient_ipd_record[view_pharmacy_store_id]", options_for_select(@stores_array, @discharge_note.store_id ? @discharge_note.store_id : @stores_array[0][1]), { :class => 'form-control', style: "width: 100%;padding: 8px 0px;", disabled: @no_store || false}) %>
            </div>
          <% else %>
            <div class="col-md-8 col-sm-8 col-xs-8 single-store-name">
              <span><%= @stores_array[0][0] %></span>
              <input type="hidden" name="inpatient_ipd_record[view_pharmacy_store_id]" id='inpatient_ipd_record_view_pharmacy_store_id' value="<%= @stores_array[0][1] %>" disabled='<%=@no_store || false%>'>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6"></div>
    </div><br>
  <% end %>
  <div class="col-md-10">
    <table class="table table-striped table-bordered" id="medicationTable">
      <thead>
      <tr>
        <th class="text-center" style="padding-top:0px;padding-bottom:0px;">Name</th>
        <th class="text-center" style="padding-top:0px;padding-bottom:0px;">Type</th>
        <th class="text-center" style="padding-top:0px;padding-bottom:0px;">Quantity</th>
        <th class="text-center" style="padding-top:0px;padding-bottom:0px;">Frequency&nbsp;&nbsp;<a data-toggle="tooltip" data-placement="bottom" title="Number of times in a day"><i class="fa fa-info-circle" aria-hidden="true"></i></a></th>
        <th class="text-center" style="padding-top:0px;padding-bottom:0px;">Duration&nbsp;&nbsp;<a data-toggle="tooltip" data-placement="bottom" title="How long you need to take this"><i class="fa fa-info-circle" aria-hidden="true"></i></a></th>
        <th class="text-center" style="padding-top:0px;padding-bottom:0px;">Taper</th>
        <th class="text-center" style="padding-top:0px;padding-bottom:0px;">Eye</th>
        <th class="text-center" style="padding-top:0px;padding-bottom:0px;">Instruction</th>
        <th class="text-center" style="padding-top:0px;padding-bottom:0px;">Actions</th>
      </tr>
      </thead>
      <tbody class="medication-table-body-added medication_set_body">
        <%@medication_instruction_set << 'Add a text Box'%>
        <% if @discharge_note.has_treatmentmedication? %>
          <% @discharge_note.treatmentmedication.each_with_index do |elem, i| %>
            <tr class="treatmentmedications">
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group">
                  <div class="input-group mb15">
                    <div class="ui-widget">
                      <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][id]", elem.id, {:class => 'form-control id' } %>
                      <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
                      <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][pharmacy_item_id]", elem.pharmacy_item_id, {:class => 'form-control pharmacy_item_id' } %>
                      <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][generic_display_name]", elem.generic_display_name, {:class => 'form-control generic_display_name' } %>
                      <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][generic_display_ids]", elem.generic_display_ids, {:class => 'form-control generic_display_ids' } %>
                      <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicine_from]", elem.medicine_from, {:class => 'form-control medicine_from' } %>
                      <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinename]", elem.medicinename, {:maxlength => 300, :size => 40, :class => 'form-control medicinename' } %>
                    </div>
                    <span id="medicinename-contents-<%= "#{i}" %>" class="btn btn-xs btn-success btn-square medicinename-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
                  </div>
                </div>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group">
                  <div class="input-group mb15">
                    <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinetype]", elem.medicinetype, { :class => 'form-control medicinetype' } %>
                  </div>
                </div>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group">
                  <div class="input-group mb15">
                    <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinequantity]", options_for_select(['1/4', '1/2', '1', '2', '3','4','5','6','7','8','9','10','11','12','13','14','15','20','25','30','35','40','45','50'], elem.medicinequantity), { :class => 'form-control medicinequantity' } %>
                  </div>
                </div>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group">
                  <div class="input-group mb15">
                    <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinefrequency]", options_for_select([['Sel',''], ['1','1'],['2','2'],[ '3','3'], ['4','4'], ['5','5'], ['6','6'], ['8','8'], ['10','10'], ['12', '12'], ['18','18'], ['24','24'], ['SOS','SOS']], elem.medicinefrequency), { :class => 'form-control medicinefrequency'} %>
                  </div>
                </div>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group">
                  <div class="input-group mb15">
                    <div class="row">
                      <div class="col-md-4">
                        <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineduration]", options_for_select([['Sel',''],['1','1'], ['2','2'], ['3','3'], ['4','4'], ['5','5'], ['6','6'], ['7','7'], ['8','8'], ['9','9'], ['10','10'], ['11','11'], ['12','12'], ['15', '15'], ['20', '20'], ['25', '25'], ['30', '30'], ['40', '40'], ['50', '50']  ], elem.medicineduration), { :class => 'form-control medicineduration', style: "width:150%;"} %>
                      </div>
                      <div class="col-md-8">
                        <div class="col-md-12">
                          <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinedurationoption]", options_for_select([['Sel',''], ['Days', 'D'], ['Weeks', 'W'], ['Months', 'M'], ['Next followup', 'F']], elem.medicinedurationoption), { :class => 'form-control medicinedurationoption'} %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;text-align:center;">
                <div class="form-group" style="margin-right:0px;">
                  <div class="input-group mb15 link_medication">
                    <span class="btn btn-link btn-xs tapering_btn" style="display:inline;"><i class="fa fa-plus"></i> Add</span>
                    <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][taper_id]", elem.taper_id, {:class => 'form-control tapering_id' } %>
                  </div>
                </div>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group" style="width: 100%;">
                  <div class="input-group mb15">
                    <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][eyeside]", options_for_select(['L', 'R', 'BE'], elem.eyeside), {:prompt => 'Select' , :class => 'form-control eyeside',:style => "padding: 10px 0px" } %>
                  </div>
                </div>
              </td>
              <td class="medication_instruction_box" style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <%if elem.medicineinstructions.present?%>
                  <div class="form-group edit_instruction_box">
                    <div class="input-group mb15">
                      <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineinstructions]", elem.medicineinstructions, {:maxlength => 300, :size => 40, :class => 'form-control text_box_val', :style => "width: 86%" } %>
                      <button type="button" class="btn btn-link undo_button_edit fa fa-undo" style="width: 0%; margin-left: -4%;"></button>
                    </div>
                  </div>
                  <div class="form-group hide edit_instruction">
                    <div class="input-group mb15">
                      <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][instruction]", options_for_select(@medication_instruction_set,""), {:prompt => 'Please Select', :class => 'form-control instruction_dropdown_edit',:style => "padding: 10px 0px" } %>
                    </div>
                  </div>
                <%elsif elem.instruction.present?%>
                  <div class="form-group edit-instruction">
                    <div class="input-group mb15">
                      <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][instruction]", options_for_select(@medication_instruction_set,elem.instruction), {:prompt => 'Please Select', :class => 'form-control instruction_dropdown_magic',:style => "padding: 10px 0px" } %>
                    </div>
                  </div>
                  <div class="form-group hide instruction_box">
                    <div class="input-group mb15">
                      <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineinstructions]", nil, {:maxlength => 300, :size => 40, :class => 'form-control text_box_val', :style => "width: 86%" } %>
                      <button type="button" class="btn btn-link undo_button_magic fa fa-undo" style="width: 0%; margin-left: -4%;"></button>
                    </div>
                  </div>
                <%else%>
                  <div class="form-group instruction">
                    <div class="input-group mb15">
                      <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][instruction]", options_for_select(@medication_instruction_set,""), {:prompt => 'Please Select', :class => 'form-control instruction_dropdown',:style => "padding: 10px 0px" } %>
                    </div>
                  </div>
                  <div class="form-group hide instruction_box">
                    <div class="input-group mb15">
                      <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineinstructions]", nil, {:maxlength => 300, :size => 40, :class => 'form-control text_box_val', :style => "width: 86%" } %>
                      <button type="button" class="btn btn-link undo_button fa fa-undo" style="width: 0%; margin-left: -4%;"></button>
                    </div>
                  </div>
                <%end%>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group">
                  <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
                  <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger removemedicationbutton" href="javascript:;" name="removemedicationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
                </div>
              </td>
            </tr>
          <% end %>
          <% counter = @discharge_note.treatmentmedication.size %>
          <% ((counter + 1)..5).each_with_index do |elem, i| %>
            <tr class="treatmentmedications">
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group">
                  <div class="input-group mb15">
                    <div class="ui-widget">
                      <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][_destroy]", "0", {:class => 'form-control' } %>
                      <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][pharmacy_item_id]", nil, {:class => 'form-control pharmacy_item_id' } %>
                      <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][generic_display_name]", nil, {:class => 'form-control generic_display_name' } %>
                      <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][generic_display_ids]", nil, {:class => 'form-control generic_display_ids' } %>
                      <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][medicine_from]", nil, {:class => 'form-control medicine_from' } %>
                      <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][medicinename]", nil, {:maxlength => 300, :size => 40, :class => 'form-control medicinename' } %>
                    </div>
                    <span id="medicinename-contents-<%= "#{counter}" %>" class="btn btn-xs btn-success btn-square medicinename-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
                  </div>
                </div>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group">
                  <div class="input-group mb15">
                    <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][medicinetype]", nil, { :class => 'form-control medicinetype' } %>
                  </div>
                </div>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group">
                  <div class="input-group mb15">
                    <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][medicinequantity]", options_for_select(['1/4', '1/2', '1', '2', '3','4','5','6','7','8','9','10','11','12','13','14','15','20','25','30','35','40','45','50'], "1"), { :class => 'form-control medicinequantity' } %>
                  </div>
                </div>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group">
                  <div class="input-group mb15">
                    <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][medicinefrequency]", options_for_select([['Sel',''], ['1','1'],['2','2'],[ '3','3'], ['4','4'], ['5','5'], ['6','6'], ['8','8'], ['10','10'], ['12', '12'], ['18','18'], ['24','24'], ['SOS','SOS']], ""), { :class => 'form-control medicinefrequency'} %>
                  </div>
                </div>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group">
                  <div class="input-group mb15">
                    <div class="row">
                      <div class="col-md-4">
                        <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][medicineduration]", options_for_select([['Sel',''],['1','1'], ['2','2'], ['3','3'], ['4','4'], ['5','5'], ['6','6'], ['7','7'], ['8','8'], ['9','9'], ['10','10'], ['11','11'], ['12','12'], ['15', '15'], ['20', '20'], ['25', '25'], ['30', '30'], ['40', '40'], ['50', '50']  ], ""), { :class => 'form-control medicineduration', style: "width:150%;"} %>
                      </div>
                      <div class="col-md-8">
                        <div class="col-md-12">
                          <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][medicinedurationoption]", options_for_select([['Sel',''], ['Days', 'D'], ['Weeks', 'W'], ['Months', 'M'], ['Next followup', 'F'] ], ""), { :class => 'form-control medicinedurationoption'} %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;text-align:center">
                <div class="form-group" style="margin-right:0px;">
                  <div class="input-group mb15 link_medication">
                    <span class="btn btn-link btn-xs tapering_btn" style="display:inline;"><i class="fa fa-plus"></i> Add</span>
                    <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][taper_id]", 0, {:class => 'form-control tapering_id' } %>
                  </div>
                </div>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group" style="width: 100%;">
                  <div class="input-group mb15">
                    <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][eyeside]", options_for_select(['L', 'R', 'BE'], ""), {:prompt => 'Select', :class => 'form-control eyeside',:style => "padding: 10px 0px" } %>
                  </div>
                </div>
              </td>
              <td class="medication_instruction_box" style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group instruction">
                  <div class="input-group mb15">
                    <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][instruction]", options_for_select(@medication_instruction_set), {:prompt => 'Please Select', :class => 'form-control instruction_dropdown',:style => "padding: 10px 0px" } %>
                  </div>
                </div>
                <div class="form-group instruction_box hide">
                  <div class="input-group mb15">
                    <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineinstructions]", nil, {:maxlength => 300, :size => 40, :class => 'form-control text_box_val', :style => "width: 86%" } %>
                    <button type="button" class="btn btn-link undo_button fa fa-undo" style="width: 0%; margin-left: -4%;"></button>
                  </div>
                </div>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group">
                  <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
                  <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger removemedicationbutton" href="javascript:;" name="removemedicationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
                </div>
              </td>
            </tr>
            <% counter = counter + 1 %>
          <% end %>
        <% else %>
          <% (1..5).each_with_index do |elem, i| %>
            <tr class="treatmentmedications">
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group">
                  <div class="input-group mb15">
                    <div class="ui-widget">
                      <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
                      <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][pharmacy_item_id]", nil, {:class => 'form-control pharmacy_item_id' } %>
                      <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][generic_display_name]", nil, {:class => 'form-control generic_display_name' } %>
                      <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][generic_display_ids]", nil, {:class => 'form-control generic_display_ids' } %>
                      <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicine_from]", nil, {:class => 'form-control medicine_from' } %>
                      <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinename]", nil, {:maxlength => 300, :size => 40, :class => 'form-control medicinename' } %>
                    </div>
                    <span id="medicinename-contents-<%= "#{i}" %>" class="btn btn-xs btn-success btn-square medicinename-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
                  </div>
                </div>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group">
                  <div class="input-group mb15">
                    <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinetype]", nil, { :class => 'form-control medicinetype' } %>
                  </div>
                </div>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group">
                  <div class="input-group mb15">
                    <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinequantity]", options_for_select(['1/4', '1/2', '1', '2', '3','4','5','6','7','8','9','10','11','12','13','14','15','20','25','30','35','40','45','50'], "1"), { :class => 'form-control medicinequantity' } %>
                  </div>
                </div>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group">
                  <div class="input-group mb15">
                    <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinefrequency]", options_for_select([['Sel',''], ['1','1'],['2','2'],[ '3','3'], ['4','4'], ['5','5'], ['6','6'], ['8','8'], ['10','10'], ['12', '12'], ['18','18'], ['24','24'], ['SOS','SOS']], ""), { :class => 'form-control medicinefrequency'} %>
                  </div>
                </div>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group">
                  <div class="input-group mb15">
                    <div class="row">
                      <div class="col-md-4">
                        <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineduration]", options_for_select([['Sel',''],['1','1'], ['2','2'], ['3','3'], ['4','4'], ['5','5'], ['6','6'], ['7','7'], ['8','8'], ['9','9'], ['10','10'], ['11','11'], ['12','12'], ['15', '15'], ['20', '20'], ['25', '25'], ['30', '30'], ['40', '40'], ['50', '50']  ], ""), { :class => 'form-control medicineduration', style: "width:150%;"} %>
                      </div>
                      <div class="col-md-8">
                        <div class="col-md-12">
                          <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinedurationoption]", options_for_select([['Sel',''], ['Days', 'D'], ['Weeks', 'W'], ['Months', 'M'], ['Next followup', 'F'] ], ""), { :class => 'form-control medicinedurationoption'} %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;text-align:center">
                <div class="form-group" style="margin-right:0px;">
                  <div class="input-group mb15 link_medication">
                    <span class="btn btn-link btn-xs tapering_btn" style="display:inline;"><i class="fa fa-plus"></i> Add</span>
                    <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][taper_id]", 0, {:class => 'form-control tapering_id' } %>
                  </div>
                </div>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group" style="width: 100%;">
                  <div class="input-group mb15">
                    <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][eyeside]", options_for_select(['L', 'R', 'BE'], ""), {:prompt => 'Select', :class => 'form-control eyeside',:style => "padding: 10px 0px" } %>
                  </div>
                </div>
              </td>
              <td class="medication_instruction_box" style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group instruction">
                  <div class="input-group mb15">
                    <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][instruction]", options_for_select(@medication_instruction_set), {:prompt => 'Please Select', :class => 'form-control instruction_dropdown',:style => "padding: 10px 0px" } %>
                  </div>
                </div>
                <div class="form-group hide instruction_box">
                  <div class="input-group mb15">
                    <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineinstructions]", nil, {:maxlength => 300, :size => 40, :class => 'form-control text_box_val', :style => "width: 86%" } %>
                    <button type="button" class="btn btn-link undo_button fa fa-undo" style="width: 0%; margin-left: -4%;"></button>
                  </div>
                </div>
              </td>
              <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                <div class="form-group">
                  <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
                  <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger removemedicationbutton" href="javascript:;" name="removemedicationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
                </div>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <div class="medication-table-body-removed" style="display:none;">
    </div>
  </div>
<%else%>
  <div class="col-md-10">
    <table class="table table-striped table-bordered" id="medicationTable">
      <thead>
        <tr>
          <th class="text-center" style="padding-top:0px;padding-bottom:0px;">Name</th>
          <th class="text-center" style="padding-top:0px;padding-bottom:0px;">Type</th>
          <th class="text-center" style="padding-top:0px;padding-bottom:0px;">Quantity</th>
          <th class="text-center" style="padding-top:0px;padding-bottom:0px;">Frequency&nbsp;&nbsp;<a data-toggle="tooltip" data-placement="bottom" title="Number of times in a day"><i class="fa fa-info-circle" aria-hidden="true"></i></a></th>
          <th class="text-center" style="padding-top:0px;padding-bottom:0px;">Duration&nbsp;&nbsp;<a data-toggle="tooltip" data-placement="bottom" title="How long you need to take this"><i class="fa fa-info-circle" aria-hidden="true"></i></a></th>
          <th class="text-center" style="padding-top:0px;padding-bottom:0px;">Taper</th>
          <th class="text-center" style="padding-top:0px;padding-bottom:0px;">Eye</th>
          <th class="text-center" style="padding-top:0px;padding-bottom:0px;">Instruction</th>
          <th class="text-center" style="padding-top:0px;padding-bottom:0px;"></th>
        </tr>
      </thead>
      <tbody class="medication-table-body-added medication_set_body">
        <% if @discharge_note.has_treatmentmedication? %>
          <% @discharge_note.treatmentmedication.each_with_index do |elem, i| %>
              <tr class="treatmentmedications">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <div class="input-group mb15">
                      <div class="ui-widget">
                        <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][id]", elem.id, {:class => 'form-control id' } %>
                        <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
                        <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][pharmacy_item_id]", elem.pharmacy_item_id, {:class => 'form-control pharmacy_item_id' } %>
                        <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][generic_display_name]", elem.generic_display_name, {:class => 'form-control generic_display_name' } %>
                        <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][generic_display_ids]", elem.generic_display_ids, {:class => 'form-control generic_display_ids' } %>
                        <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicine_from]", elem.medicine_from, {:class => 'form-control medicine_from' } %>
                        <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinename]", elem.medicinename, {:maxlength => 300, :size => 40, :class => 'form-control medicinename' } %>
                      </div>
                      <span id="medicinename-contents-<%= "#{i}" %>" class="btn btn-xs btn-success btn-square medicinename-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
                    </div>
                  </div>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <div class="input-group mb15">
                      <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinetype]", elem.medicinetype, { :class => 'form-control medicinetype' } %>
                    </div>
                  </div>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <div class="input-group mb15">
                      <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinequantity]", options_for_select(['1/4', '1/2', '1', '2', '3','4','5','6','7','8','9','10','11','12','13','14','15','20','25','30','35','40','45','50'], elem.medicinequantity), { :class => 'form-control medicinequantity' } %>
                    </div>
                  </div>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <div class="input-group mb15">
                      <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinefrequency]", options_for_select([['Sel',''], ['1','1'],['2','2'],[ '3','3'], ['4','4'], ['5','5'], ['6','6'], ['8','8'], ['10','10'], ['12', '12'], ['18','18'], ['24','24'], ['SOS','SOS']], elem.medicinefrequency), { :class => 'form-control medicinefrequency'} %>
                    </div>
                  </div>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <div class="input-group mb15">
                      <div class="row">
                        <div class="col-md-4">
                          <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineduration]", options_for_select([['Sel',''],['1','1'], ['2','2'], ['3','3'], ['4','4'], ['5','5'], ['6','6'], ['7','7'], ['8','8'], ['9','9'], ['10','10'], ['11','11'], ['12','12'], ['15', '15'], ['20', '20'], ['25', '25'], ['30', '30'], ['40', '40'], ['50', '50']  ], elem.medicineduration), { :class => 'form-control medicineduration', style: "width:150%;"} %>
                        </div>
                        <div class="col-md-8">
                          <div class="col-md-12">
                            <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinedurationoption]", options_for_select([['Sel',''], ['Days', 'D'], ['Weeks', 'W'], ['Months', 'M'], ['Next followup', 'F']], elem.medicinedurationoption), { :class => 'form-control medicinedurationoption'} %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;text-align:center">
                  <div class="form-group" style="margin-right:0px;">
                    <div class="input-group mb15 link_medication">
                      <span class="btn btn-link btn-xs tapering_btn" style="display:inline;"><i class="fa fa-plus"></i> Add</span>
                      <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][taper_id]", elem.taper_id, {:class => 'form-control tapering_id' } %>
                    </div>
                  </div>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group" style="width: 100%;">
                    <div class="input-group mb15">
                      <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][eyeside]", options_for_select(['L', 'R', 'BE'], elem.eyeside), {:prompt => 'Select' , :class => 'form-control eyeside',:style => "padding: 10px 0px" } %>
                    </div>
                  </div>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <div class="input-group mb15">
                      <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineinstructions]", elem.medicineinstructions, {:maxlength => 300, :size => 40, :class => 'form-control' } %>
                    </div>
                  </div>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
                    <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger" href="javascript:;" name="removemedicationbutton removemedicationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
                  </div>
                </td>
              </tr>
          <% end %>
          <% counter = @discharge_note.treatmentmedication.size %>
          <% ((counter + 1)..5).each_with_index do |elem, i| %>
              <tr class="treatmentmedications">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <div class="input-group mb15">
                      <div class="ui-widget">
                        <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][_destroy]", "0", {:class => 'form-control' } %>
                        <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][pharmacy_item_id]", nil, {:class => 'form-control pharmacy_item_id' } %>
                        <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][generic_display_name]", nil, {:class => 'form-control generic_display_name' } %>
                        <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][generic_display_ids]", nil, {:class => 'form-control generic_display_ids' } %>
                        <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][medicine_from]", nil, {:class => 'form-control medicine_from' } %>
                        <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][medicinename]", nil, {:maxlength => 300, :size => 40, :class => 'form-control medicinename' } %>
                      </div>
                      <span id="medicinename-contents-<%= "#{counter}" %>" class="btn btn-xs btn-success btn-square medicinename-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
                    </div>
                  </div>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <div class="input-group mb15">
                      <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][medicinetype]", nil, { :class => 'form-control medicinetype' } %>
                    </div>
                  </div>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <div class="input-group mb15">
                      <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][medicinequantity]", options_for_select(['1/4', '1/2', '1', '2', '3','4','5','6','7','8','9','10','11','12','13','14','15','20','25','30','35','40','45','50'], "1"), { :class => 'form-control medicinequantity' } %>
                    </div>
                  </div>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <div class="input-group mb15">
                      <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][medicinefrequency]", options_for_select([['Sel',''], ['1','1'],['2','2'],[ '3','3'], ['4','4'], ['5','5'], ['6','6'], ['8','8'], ['10','10'], ['12', '12'], ['18','18'], ['24','24'], ['SOS','SOS']], ""), { :class => 'form-control medicinefrequency'} %>
                    </div>
                  </div>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <div class="input-group mb15">
                      <div class="row">
                        <div class="col-md-4">
                          <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][medicineduration]", options_for_select([['Sel',''],['1','1'], ['2','2'], ['3','3'], ['4','4'], ['5','5'], ['6','6'], ['7','7'], ['8','8'], ['9','9'], ['10','10'], ['11','11'], ['12','12'], ['15', '15'], ['20', '20'], ['25', '25'], ['30', '30'], ['40', '40'], ['50', '50']  ], ""), { :class => 'form-control medicineduration', style: "width:150%;"} %>
                        </div>
                        <div class="col-md-8">
                          <div class="col-md-12">
                            <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][medicinedurationoption]", options_for_select([['Sel',''], ['Days', 'D'], ['Weeks', 'W'], ['Months', 'M'], ['Next followup', 'F'] ], ""), { :class => 'form-control medicinedurationoption'} %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;text-align:center">
                  <div class="form-group" style="margin-right:0px;">
                    <div class="input-group mb15 link_medication">
                      <span class="btn btn-link btn-xs tapering_btn" style="display:inline;"><i class="fa fa-plus"></i> Add</span>
                      <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][taper_id]", 0, {:class => 'form-control tapering_id' } %>
                    </div>
                  </div>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group" style="width: 100%;">
                    <div class="input-group mb15">
                      <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][eyeside]", options_for_select(['L', 'R', 'BE'], ""), {:prompt => 'Select', :class => 'form-control eyeside',:style => "padding: 10px 0px" } %>
                    </div>
                  </div>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <div class="input-group mb15">
                      <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{counter}][medicineinstructions]", nil, {:maxlength => 300, :size => 40, :class => 'form-control' } %>
                    </div>
                  </div>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
                    <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger" href="javascript:;" name="removemedicationbutton removemedicationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
                  </div>
                </td>
              </tr>
            <% counter = counter + 1 %>
          <% end %>
        <% else %>
          <% (1..5).each_with_index do |elem, i| %>
              <tr class="treatmentmedications">
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <div class="input-group mb15">
                      <div class="ui-widget">
                        <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
                        <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][pharmacy_item_id]", nil, {:class => 'form-control pharmacy_item_id' } %>
                        <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][generic_display_name]", nil, {:class => 'form-control generic_display_name' } %>
                        <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][generic_display_ids]", nil, {:class => 'form-control generic_display_ids' } %>
                        <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicine_from]", nil, {:class => 'form-control medicine_from' } %>
                        <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinename]", nil, {:maxlength => 300, :size => 40, :class => 'form-control medicinename' } %>
                      </div>
                      <span id="medicinename-contents-<%= "#{i}" %>" class="btn btn-xs btn-success btn-square medicinename-contents hidden" data-medicinecontents=""><i class="fa fa-question-circle"></i></span>
                    </div>
                  </div>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <div class="input-group mb15">
                      <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinetype]", nil, { :class => 'form-control medicinetype' } %>
                    </div>
                  </div>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <div class="input-group mb15">
                      <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinequantity]", options_for_select(['1/4', '1/2', '1', '2', '3','4','5','6','7','8','9','10','11','12','13','14','15','20','25','30','35','40','45','50'], "1"), { :class => 'form-control medicinequantity' } %>
                    </div>
                  </div>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <div class="input-group mb15">
                      <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinefrequency]", options_for_select([['Sel',''], ['1','1'],['2','2'],[ '3','3'], ['4','4'], ['5','5'], ['6','6'], ['8','8'], ['10','10'], ['12', '12'], ['18','18'], ['24','24'], ['SOS','SOS']], ""), { :class => 'form-control medicinefrequency'} %>
                    </div>
                  </div>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <div class="input-group mb15">
                      <div class="row">
                        <div class="col-md-4">
                          <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineduration]", options_for_select([['Sel',''],['1','1'], ['2','2'], ['3','3'], ['4','4'], ['5','5'], ['6','6'], ['7','7'], ['8','8'], ['9','9'], ['10','10'], ['11','11'], ['12','12'], ['15', '15'], ['20', '20'], ['25', '25'], ['30', '30'], ['40', '40'], ['50', '50']  ], ""), { :class => 'form-control medicineduration', style: "width:150%;"} %>
                        </div>
                        <div class="col-md-8">
                          <div class="col-md-12">
                            <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicinedurationoption]", options_for_select([['Sel',''], ['Days', 'D'], ['Weeks', 'W'], ['Months', 'M'], ['Next followup', 'F'] ], ""), { :class => 'form-control medicinedurationoption'} %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;text-align:center">
                  <div class="form-group" style="margin-right:0px;">
                    <div class="input-group mb15 link_medication">
                      <span class="btn btn-link btn-xs tapering_btn" style="display:inline;"><i class="fa fa-plus"></i> Add</span>
                      <%= hidden_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][taper_id]", 0, {:class => 'form-control tapering_id' } %>
                    </div>
                  </div>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group" style="width: 100%;">
                    <div class="input-group mb15">
                      <%= select_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][eyeside]", options_for_select(['L', 'R', 'BE'], ""), {:prompt => 'Select', :class => 'form-control eyeside',:style => "padding: 10px 0px" } %>
                    </div>
                  </div>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <div class="input-group mb15">
                      <%= text_field_tag "inpatient_ipd_record[discharge_note_attributes][treatmentmedication_attributes][#{i}][medicineinstructions]", nil, {:maxlength => 300, :size => 40, :class => 'form-control' } %>
                    </div>
                  </div>
                </td>
                <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
                  <div class="form-group">
                    <a id="addnewmedicationbutton1" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewmedicationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
                    <a id="removemedicationbutton1" class="btn btn-xs btn-primary btn-danger" href="javascript:;" name="removemedicationbutton removemedicationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
                  </div>
                </td>
              </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <div class="medication-table-body-removed" style="display:none;">
    </div>
  </div>
<%end%>

<style type="text/css">
  .hide{
    display: none;
  }
</style>

<script type="text/javascript">

  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });

  function button_disable_enable() {
    if($('.medication_set_body tr').length === 1){
      $('.removemedicationbutton').attr("disabled", true)
    } else{
      $('.removemedicationbutton').attr("disabled", false)
    }
  }
  button_disable_enable()

  $('.removemedicationbutton').on('click', function(e) {
    e.preventDefault();
    if($('.medication_set_body tr').length == 1){
      $('.removemedicationbutton').attr("disabled", true)
      if ( $('.medication_set_body tr .medicinename').val().length > 0 ) {
        $('.medication-table-body-added a[name="addnewmedicationbutton"]').removeClass('disabled').trigger('click')
        $('.medication_set_body tr a[name="removemedicationbutton"]').trigger('click')
      }
    } else{
        $('.removemedicationbutton').attr("disabled", false)
    }
  });

  function taper_form(){
    $(".tapering_btn").on('click', function(e){
      _this = this
      var med_id = $(this).closest(".link_medication").find(".tapering_id").attr("id")
      var medicinename = $(this).closest(".treatmentmedications").find(".medicinename").val()
      var medicinefrequency = $(this).closest(".treatmentmedications").find(".medicinefrequency").val()
      var medicineduration = $(this).closest(".treatmentmedications").find(".medicineduration").val()
      var medicinedurationoption = $(this).closest(".treatmentmedications").find(".medicinedurationoption").val()
      if(medicinename != "" && medicineduration != "" && medicinedurationoption != "" && medicinedurationoption != "F"){
        e.preventDefault();
        if($(this).closest(".link_medication").find(".tapering_id").val() == 0){
          $.ajax({
            type: "GET",
            url: "/tapering_kits/new",
            data: {
              remote: "true",
              med_id: med_id,
              medicinename: medicinename,
              medicineduration: medicineduration,
              medicinedurationoption: medicinedurationoption,
              medicinefrequency: medicinefrequency,
              source: "Templates"
            },
            success: function(){
              $(_this).closest(".treatmentmedications").find(".medicinename").closest(".input-group").find(".fill_detail").remove()
              $(_this).closest(".treatmentmedications").find(".medicineduration").closest(".input-group").find(".fill_detail").remove()
            }
          })
        } else {
          $.ajax({
            type: "GET",
            url: "/tapering_kits/" + $(this).closest(".link_medication").find(".tapering_id").val() + "/edit",
            data: {
              remote: "true",
              med_id: med_id,
              medicinename: medicinename,
              medicineduration: medicineduration,
              medicinedurationoption: medicinedurationoption,
              medicinefrequency: medicinefrequency,
              source: "Templates"
            },
            success: function(){
              $(_this).closest(".treatmentmedications").find(".medicinename").closest(".input-group").find(".fill_detail").remove()
              $(_this).closest(".treatmentmedications").find(".medicineduration").closest(".input-group").find(".fill_detail").remove()
            }
          })

        }
      } else {
        if(medicinename == ""){
          $(this).closest(".treatmentmedications").find(".medicinename").closest(".input-group").find(".fill_detail").remove()
          $(this).closest(".treatmentmedications").find(".medicinename").closest(".input-group").append("<span class='label label-danger fill_detail'>Fill Medicine</span>")
        } else {
          $(this).closest(".treatmentmedications").find(".medicinename").closest(".input-group").find(".fill_detail").remove()
        }
        if(medicineduration == ""|| medicinedurationoption == ""){
          $(this).closest(".treatmentmedications").find(".medicineduration").closest(".input-group").find(".fill_detail").remove()
          $(this).closest(".treatmentmedications").find(".medicineduration").closest(".input-group").append("<span class='label label-danger fill_detail'>Fill Duration</span>")
        } else if(medicinedurationoption == "F"){
          $(this).closest(".treatmentmedications").find(".medicineduration").closest(".input-group").find(".fill_detail").remove()
          $(this).closest(".treatmentmedications").find(".medicineduration").closest(".input-group").append("<span class='label label-danger fill_detail'>Select Month, Week or Day</span>")
        } else {
          $(this).closest(".treatmentmedications").find(".medicineduration").closest(".input-group").find(".fill_detail").remove()
        }
      }
    })
  }
  taper_form();

  function add_taper_id(id, value) {
    $("#"+id).val(value)
    $("#"+id).closest(".link_medication").find(".tapering_btn").html("")
    $("#"+id).closest(".link_medication").find(".tapering_btn").html("<i class='fa fa-edit'></i>")
    $("#"+id).closest(".link_medication").find(".btn_taper_remove").remove()
    $("#"+id).closest(".link_medication").append("<span class='btn btn-link btn-xs btn_taper_remove' style='margin-left:-10px;'><i class='fa fa-trash-alt'></i></span>")

    $(".btn_taper_remove").on('click', function(){
      $(this).closest(".link_medication").find(".tapering_id").val(0)
      $(this).closest(".link_medication").find(".tapering_btn").html("")
      $(this).closest(".link_medication").find(".tapering_btn").html("<i class='fa fa-plus'></i> Add")
      $(this).remove()
    })
  }

  // Logic to get add button on Load
  var med_row = $(".treatmentmedications")
  for (var i = med_row.length - 1; i >= 0; i--) {
    if($(med_row[i]).find(".link_medication").find(".tapering_id").val() != 0){
      $(med_row[i]).find(".link_medication").find(".tapering_btn").html("")
      $(med_row[i]).find(".link_medication").find(".tapering_btn").html("<i class='fa fa-edit'></i>")
      $(med_row[i]).find(".link_medication").find(".btn_taper_remove").remove()
      $(med_row[i]).find(".link_medication").append("<span class='btn btn-link btn-xs btn_taper_remove' style='margin-left:-10px;'><i class='fa fa-trash-alt'></i></span>")
    }
    $(".btn_taper_remove").on('click', function(){
      $(this).closest(".link_medication").find(".tapering_id").val(0)
      $(this).closest(".link_medication").find(".tapering_btn").html("")
      $(this).closest(".link_medication").find(".tapering_btn").html("<i class='fa fa-plus'></i> Add")
      $(this).remove()
    })
  }

  $(".instruction_dropdown_edit").on("change",function(){
    var id = $(this).attr("id")
    if ($("#"+id).val() == "Add a text Box"){
      $("#"+id).parent(".input-group").parent(".edit_instruction").prev(".edit_instruction_box").removeClass('hide').removeAttr("disabled","disabled");
      $("#"+id).parent(".input-group").parent(".edit_instruction").addClass("hide").attr("disabled","disabled")
      $("#"+id).val("")
    }
  })

  $(".undo_button_edit").on("click",function(e){
    e.preventDefault();
    $(this).parent(".input-group").parent('.edit_instruction_box').children(".input-group").children(".text_box_val").val("")
    $(this).parent(".input-group").parent('.edit_instruction_box').next(".edit_instruction").removeClass("hide");
    $(this).parent(".input-group").parent('.edit_instruction_box').addClass("hide")
  })

  $(".instruction_dropdown_magic").on("change",function(){
    var id = $(this).attr("id")
    if ($("#"+id).val() == "Add a text Box"){
      $("#"+id).parent(".input-group").parent(".edit-instruction").next(".instruction_box").removeClass('hide').removeAttr("disabled","disabled");
      $("#"+id).parent(".input-group").parent(".edit-instruction").hide().attr("disabled","disabled")
      $("#"+id).val("")
    }
  })

  $(".undo_button_magic").on("click",function(e){
    e.preventDefault();
    $(this).parent(".input-group").parent('.instruction_box').parent('.medication_instruction_box').children('.edit-instruction').show().removeAttr("disabled","disabled");
    $(this).parent(".input-group").parent('.instruction_box').children(".input-group").children(".text_box_val").val("")
    $(this).parent(".input-group").parent('.instruction_box').addClass("hide").attr("disabled","disabled");
  })

  $(".instruction_dropdown").on("change",function(){
    var id = $(this).attr("id")
    if ($("#"+id).val() == "Add a text Box"){
      $("#"+id).parent(".input-group").parent(".instruction").next(".instruction_box").removeClass('hide').removeAttr("disabled","disabled");
      $(this).parent(".input-group").parent(".instruction").hide().attr("disabled","disabled");
      $("#"+id).val("")
    }
  })

  $(".undo_button").on("click",function(e){
    e.preventDefault();
    $(this).parent(".input-group").parent('.instruction_box').parent('.medication_instruction_box').children('.instruction').show().removeAttr("disabled","disabled");
    $(this).parent(".input-group").parent('.instruction_box').children(".input-group").children(".text_box_val").val("")
    $(this).parent(".input-group").parent('.instruction_box').addClass("hide").attr("disabled","disabled");
  })
  function _renumber_id_after_remove(added, removed) {
      var counter = 0;
      jQuery(added).find("tr").each(function() {
        jQuery(this).find("input").each(function(index, element) {
          var nameattr, idattr;
          nameattr = element.name.replace(/\[[0-9]+\]/g, '['+counter+']');
          idattr = element.id.replace(/\_[0-9]+\_/g, '_'+counter+'_');
          jQuery(this).attr('name', nameattr);
          jQuery(this).attr('id', idattr);
        });
        jQuery(this).find("select").each(function(index, element) {
          var nameattr, idattr;
          nameattr = element.name.replace(/\[[0-9]+\]/g, '['+counter+']');
          idattr = element.id.replace(/\_[0-9]+\_/g, '_'+counter+'_');
          jQuery(this).attr('name', nameattr);
          jQuery(this).attr('id', idattr);
        });
        jQuery(this).find("a").each(function(index, element) {
          var idattr;
          idattr = element.id.replace(/[0-9]/g, counter);
          jQuery(this).attr('id', idattr);
        });
        counter++;
      });
      jQuery(removed).find("tr").each(function() {
        jQuery(this).find("input").each(function(index, element) {
          var nameattr, idattr;
          nameattr = element.name.replace(/\[[0-9]+\]/g, '['+counter+']');
          idattr = element.id.replace(/\_[0-9]+\_/g, '_'+counter+'_');
          jQuery(this).attr('name', nameattr);
          jQuery(this).attr('id', idattr);
        });
        jQuery(this).find("select").each(function(index, element) {
          var nameattr, idattr;
          nameattr = element.name.replace(/\[[0-9]+\]/g, '['+counter+']');
          idattr = element.id.replace(/\_[0-9]+\_/g, '_'+counter+'_');
          jQuery(this).attr('name', nameattr);
          jQuery(this).attr('id', idattr);
        });
        jQuery(this).find("a").each(function(index, element) {
          var idattr;
          idattr = element.id.replace(/[0-9]/g, counter);
          jQuery(this).attr('id', idattr);
        });
        counter++;
      });


      _add_button_at_last()
    }

    $('select#inpatient_ipd_record_view_pharmacy_store_id').select2();

    let action = '<%= @pharmacy_prescription.present? %>'
    if (action == 'true') {
      <% if  @discharge_note.store_id.present? %>
        $('#inpatient_ipd_record_view_pharmacy_store_id').prop('disabled', true)
        update_store_details()
      <% end %>
      <% if @disabled_store.present? %>
        $('.medication-table-body-added a[name="addnewmedicationbutton"]').addClass('disabled')
        $('#div_med_history').addClass('disabled')
        $('.save-medication-kit-btn').addClass('disabled')
        $('.medication_sets_dropdown').prop('disabled', true)
        $('#inpatient_ipd_record_discharge_note_attributes_medicationsets').prop('disabled', true)
        $('.medication-table-body-added input').prop('readonly', true)
        $('.medication-table-body-added select').prop('disabled', true)
        $('.medication-table-body-added .link_medication span').addClass('disabled')
      <% end %>
    }

    $("#inpatient_ipd_record_view_pharmacy_store_id").on("change",function(){
      update_store_details()
    }).trigger("change");

    function update_store_details(){
      if ($('#store_array_size').val() == '1'){
        var store = single_store_details()
      } else {
        var store = mutiple_store_details()
      }
      if (medicinename_length() == false) {
        store = ['', '']
      }
      $(".inpatient_ipd_record_store_id").val(store[1])
      $(".inpatient_ipd_record_store_name").val(store[0])
    }

    function single_store_details(){
      if ($('#is_disable_store').val() == 'true'){
        condition = medicinename_readonly_length()
      } else {
        condition = $('.ipd-stores').css('display') != 'none'
      } 
      if (condition == true){
        store_name = $('.single-store-name span').html()
        store_id = $("#inpatient_ipd_record_view_pharmacy_store_id").val()
      } else {
        store_id = ''
        store_name = ''
      }
      return [store_name, store_id]
    }

    function mutiple_store_details() {
      if ($('.ipd-stores').css('display') != 'none'){
        store_id = $("#inpatient_ipd_record_view_pharmacy_store_id").val()
        store_name = $("#inpatient_ipd_record_view_pharmacy_store_id option:selected").text()
      } else {
        store_id = ''
        store_name = ''
      }
      return [store_name, store_id]
    }

    $('.medicinename').keyup(function() {
      console.log("========================1")
      var medicine = []
      var inputs = $(".medicinename")
      var rowCount = $('.medication-table-body-added tr').length
      for(var i = 0; i < rowCount - 1; i++) {
        medicine.push($(inputs[i]).val());
      }
      if (medicine.filter(Boolean).length > 0) {
        $('#inpatient_ipd_record_view_pharmacy_store_id').prop('disabled', true)
      } else {
        $('#inpatient_ipd_record_view_pharmacy_store_id').prop('disabled', false)
      }
      update_store_details()
    })

  $('.removemedicationbutton').on('click', function(e) {
    e.preventDefault();
    var name = $(this).closest('.treatmentmedications').find('.medicinename').val();
    var medicine = []
    var inputs = $(".medicinename")
    var rowCount = $('.medication-table-body-added tr').length
    for(var i = 0; i < rowCount - 1; i++) {
      medicine.push($(inputs[i]).val());
      medicine = medicine.filter(e => e !== name)
    }
    if (medicine.filter(Boolean).length > 0) {
      $('#inpatient_ipd_record_view_pharmacy_store_id').prop('disabled', true)
    } else {
      $('#inpatient_ipd_record_view_pharmacy_store_id').prop('disabled', false)
    }
    update_store_details()
  })

  $('#inpatient_ipd_record_discharge_note_attributes_medicationsets').on('click', function(e) {
    e.preventDefault();
    $('#inpatient_ipd_record_view_pharmacy_store_id').prop('disabled', true)
    update_store_details()
  })

  function medicinename_length() {
    text = ""
    $('.medication-table-body-added .medicinename').each(function(key, element){
      text += element.value
    });
    return text.length > 0
  }

  function medicinename_readonly_length() {
    return $('.medication-table-body-added .medicinename[readonly]').length > 0
  }
</script>