<div class="row">
  <div class="table-responsive">
    <% operative_note_procedures = @ipdrecord.procedure.where(is_performed: true, performed_note_id: operative_note.id.to_s) %>
    <% if operative_note_procedures.count > 0 %>
      <table class="table table-bordered" style="margin: 0;">
        <thead>
          <tr>
            <th class="text-center">Name Of Surgery</th>
            <th class="text-center">Eye Operated</th>
            <th class="text-center">Date of Surgery</th>
            <th class="text-center">Surgery Comments</th>
            <th class="text-center">User Comments</th>
          </tr>
        </thead>
        <tbody>
          <% operative_note_procedures.each do |procedure| %>
            <tr>
              <% procedurecode = procedure.try(:procedurefullcode) %>
              <% display_name = CustomCommonProcedure.find_by(code: procedurecode, organisation_id: @ipdrecord.try(:organisation_id)).try(:display_name) %>
              <% if display_name.present? %>
                <td class="text-center"><%= display_name %></td>
              <% else %>
                <td class="text-center"><%= procedure.procedurename %></td>
              <% end %>
              <td class="text-center">
                <% if procedure.procedureside == "8966001" %> Left Eye
                <% elsif procedure.procedureside == "18944008" %> Right Eye
                <% elsif procedure.procedureside == "40638003" %> Both Eyes
                <% end %>
              </td>
              <td class="text-center"><%= procedure.try(:performed_datetime).try(:strftime, '%d-%m-%Y') %></td>
              <td class="text-center"><%= (procedure.procedure_comment if procedure.procedure_comment.present?) || '-' %> </td>
              <td class="text-center"><%= (procedure.users_comment if procedure.users_comment.present?) || '-' %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>