<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-sm">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Edit Tax</h4>
    </div>
    <%= form_for @tax_rate, class: 'tax-rate-form', remote: true do |f| %>
      <%= f.hidden_field :user_id, value: @tax_rate.user_id.to_s %>
      <%= f.hidden_field :organisation_id, value: @tax_rate.organisation_id.to_s %>
      <%= f.hidden_field :country_id, value: @tax_rate.country_id.to_s %>
      <div class="modal-body">
        <%= render partial: 'form.html.erb', locals: { f: f } %>
      </div>
      <div class="modal-footer">
        <%= f.submit "Save", class: 'btn btn-success', remote: true, 'data-disable-with' => "Please wait..", onclick: 'edit_tax_rate()' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>
