<table class="table">
  <thead>
    <tr>
      <th colspan="3" class="text-center">Tax Rates</th>
      <th colspan="1" class="text-right"><%= link_to new_tax_rate_path, data: {remote: true, toggle: 'modal', target: "#invoice-modal"}, class: "btn btn-primary btn-xs" do %><i class="fa fa-plus"></i> Add Tax<% end %></th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Rate (%)</th>
      <th>Type</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody id="tax-rate-tbody">
    <% @tax_rates.each do |tax_rate| %>
      <tr>
        <td><%= tax_rate.name %></td>
        <td><%= tax_rate.rate %>%</td>
        <td><%= tax_rate.type %></td>
        <td>
          <% unless tax_rate.is_hg_defined %>
            <%= link_to edit_tax_rate_path(id: tax_rate.id.to_s), data: {remote: true, toggle: 'modal', target: "#invoice-modal"}, class: "btn btn-info btn-xs btn-edit-tax-rate" do %>Edit<% end %>
            <%= link_to tax_rate_path(id: tax_rate.id.to_s), method: :delete, data: {remote: true, confirm: "<h4>Are you sure that you want to delete <b style='color:#f00;'>#{tax_rate.name}</b> ?</h4>".html_safe, commit: 'Delete'}, class: "btn btn-danger btn-xs btn-delete-tax-rate" do %>Delete<% end %>
          <% else %>
            
          <% end %>
        </td>
      </tr>
    <% end %>
    <% if @tax_rates.count == 0 %>
      <tr>
        <td colspan="4" class="text-center">No Tax Rates</td>
      </tr>
    <% end %>
  </tbody>
</table>