<% clinical_counter = 0 %>
<% if ipdrecord.history.present? || ipdrecord.examination.present? || ipdrecord.diagnosis.present? || ipdrecord.procedure.present? || ipdrecord.investigation.present?%>
    <% clinical_counter = clinical_counter + 1 %>
<% end %>

<% if clinical_counter > 0 %>
    <div class="row mb10">
      <div class="col-md-12">
        <div class="row">
          <strong>CLINCAL DETAILS :</strong>
          <div class="summary-line-border"></div>
        </div>
        <% if ipdrecord.history.present? %>
            <div class="row mb5">
              <div class="col-md-12">
                <b>History of Present Illness :</b> <%= ipdrecord.history %>
              </div>
            </div>
        <% end %>
        <% if ipdrecord.examination.present? %>
            <div class="row mb5">
              <div class="col-md-12">
                <b>Examination :</b><%= ipdrecord.examination %>
              </div>
            </div>
        <% end %>
        <% if ipdrecord.diagnosis.present? %>
            <div class="row mb5">
              <div class="col-md-12">
                <b>Diagnosis :</b><%= ipdrecord.diagnosis %>
              </div>
            </div>
        <% end %>
        <% if ipdrecord.procedure.present? %>
            <div class="row mb5">
              <div class="col-md-12">
                <b>Procedure :</b><%= ipdrecord.procedure %>
              </div>
            </div>
        <% end %>
        <% if ipdrecord.investigation.present? %>
            <div class="row mb5">
              <div class="col-md-12">
                <b>Investigation :</b><%= ipdrecord.investigation %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
<% end %>