<% if current_user.role_ids[0] == 499992366 #counsellor %>
  <% if @counsellor_workflow.present? %>
    <div class="row mt10">
      <div class="col-md-12">
        <%= render partial: 'outpatients/appointment/appointment_details/appointment_details_counsellor.html.erb' %>
      </div>
    </div>
    <hr>
  <% end %>
  <div class="row mt10">
    <div id="appointment-ot-list" class="col-md-6">
      <%= render partial: 'outpatients/appointment/appointment_details/appointment_ot_list.html.erb' %>
    </div>
    <div class="col-md-6">
      <%#= render partial: 'outpatients/appointment/appointment_details/clinical_details.html.erb' %>
    </div>
  </div>
  <hr>
  <div class="row mt10">
    <div class="col-md-6">
      <%= render partial: 'outpatients/appointment/appointment_details/patient_notes_details.html.erb' %>
    </div>
    <div class="col-md-6">
      <%= render partial: 'outpatients/appointment/appointment_details/counsellor_notes_details.html.erb' %>
    </div>
  </div>
<% else %>
  <div class="row mt10">
    <div class="col-md-12">
      <%= render partial: 'outpatients/appointment/appointment_details/appointment_details.html.erb' %>
    </div>
  </div>
  <hr>
  <div class="row mt10">
    <div id="appointment-ot-list" class="col-md-6">
      <%= render partial: 'outpatients/appointment/appointment_details/appointment_ot_list.html.erb' %>
    </div>
    <div class="col-md-6">
      <%= render partial: 'outpatients/appointment/appointment_details/patient_notes_details.html.erb' %>
    </div>
  </div>
<% end %>
