<div class="row adverse_events_mail_form mb10">
  <div class="row adverse_events_mail_facility_dropdown mb10">
    <div class="col-md-12">
      <div class="col-md-6">
        <strong>Facility</strong><br/>
        <select class="form-control p5_10 adverse_events_mail_facility_id" name="facility_id" id="adverse_events_mail_facility_dropdown" disabled="disabled">
          <option value="">All</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row receipent_fields">
    <div class="col-md-12">
      <div class="col-sm-6">
        <strong>Name</strong><br>
        <%= f.text_field :recipient_name, { class: 'form-control p7_10 recipient_name', placeholder: "Receipent Fullname" } %>
      </div>
      <div class="col-sm-6">
        <strong>Email</strong><br>
        <% if @trusted_domains.count > 0 %>
          <%= f.hidden_field :recipient_mail, value: @adverse_event_mail.recipient_mail %>
          <% email_local, email_domain = @adverse_event_mail.recipient_mail&.split('@') %>
          <div class="row">
            <div class="col-sm-6 pr-0">
              <%= text_field_tag :email_local, email_local, class: 'form-control p7_10 email_local', placeholder: 'Receipent Email' %>
            </div>
            <div class="col-sm-6 pl-0">
              <% email_domain = @trusted_domains.first&.name if @trusted_domains.count == 1 && params[:action] == 'new' %>
              <%= select_tag :email_domain, options_for_select(@trusted_domains.map { |td| ["@#{td.name}", td.name] }, email_domain), include_blank: 'Select', class: 'form-control p9_10 email_domain' %>
            </div>
          </div>
        <% else %>
          <%= f.text_field :recipient_mail, { class: 'form-control p7_10 recipient_mail', placeholder: "Receipent Email", required: 'true'} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
