<% if @adverse_event_mails.count > 0 %>
  <table class="table table-bordered adverse_events_mail_table" style="table-layout: fixed;">
    <thead>
      <tr>
        <th style="text-align:center";>No.</th>
        <th style="text-align:center";>Name</th>
        <th style="text-align:center";>Email</th>
        <th style="text-align:center";>Actions</th>
      </tr>
    </thead>
    <tbody style="text-align:center;">
      <% @adverse_event_mails.each_with_index do |adverse_event_mail, i| %>
        <tr id="row_<%= i + 1 %>" class="adverse_event_mail_row">
          <%= hidden_field_tag 'adverse_event_mail['+(i+1).to_s+']', adverse_event_mail.id, class: 'adverse_event_mail_id' %>
          <td><%= i + 1 %></td>
          <td>
            <%= adverse_event_mail.recipient_name.titleize %>
            <br/>
            <% if adverse_event_mail.user_id.present? %>
              <% doc_clinical_auditor = User.find_by(id: adverse_event_mail.user_id).role_ids.include?(158966000) %>
              <% if doc_clinical_auditor %>
                <label class="label label-info" style="text-align: center;">Doctor Clinical Auditor</label>
              <% end %>
            <% end %>
          </td>
          <td><%= adverse_event_mail.recipient_mail %></td>
          <td style="text-align:left";>
            <% if adverse_event_mail.send_mail == false  %>
              <button type="button" class="btn btn-success btn-xs send_mail"><i class="fa fa-check"></i>&nbsp;Send Mail</button>
            <% end %>
            <% if adverse_event_mail.send_mail == true  %>
              <button type="button" class="btn btn-danger btn-xs stop_mail" id="stop_mail_<%= i + 1 %>"><i class="fa fa-times-circle"></i>&nbsp;Stop Mail</button>
            <% end %>
            <% if !adverse_event_mail.user_id.present? %>
              <%= link_to adverse_events_mail_setting_path(id: adverse_event_mail.id), data: { remote: true, confirm: 'Are you Sure?' }, method: :delete, class: 'btn btn-danger btn-xs remove_recipient' do %><i class="fa fa-trash-alt"></i>&nbsp;Remove<% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="col-md-12 text-center mt10">
    No Recipient Added
  </div>
<% end %>



<script type="text/javascript">

$('.stop_mail').on('click',function(){
  let clicked_id = $(this).attr('id')
  let adverse_event_mail_id = $(this).closest('.adverse_event_mail_row').find('.adverse_event_mail_id').val()
  if($(this).hasClass('stop_mail')){
    var key = 'stop_mail'
  }
  $.ajax({
    type: 'PATCH',
    dataType: "script",
    url: '/adverse_events_mail_settings/edit_mail_setting',
    data: {adverse_event_mail_id: adverse_event_mail_id,
           key: key,
          remote: "true"
          },
    success: function(response){
    }
  });
});

$('.send_mail').on('click',function(){
  let clicked_id = $(this).attr('id')
  let adverse_event_mail_id = $(this).closest('.adverse_event_mail_row').find('.adverse_event_mail_id').val()
  if($(this).hasClass('send_mail')){
    var key = 'send_mail'
  }
  $.ajax({
    type: 'PATCH',
    dataType: "script",
    url: '/adverse_events_mail_settings/edit_mail_setting',
    data: {adverse_event_mail_id: adverse_event_mail_id,
           key: key,
          remote: "true"
          },
    success: function(response){
    }
  });
});


</script>