<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
<%= render partial: "analytics/shared/analytics_css" %>
<div class="analyticsmainpanel">
  <div class="headerbar">
    <a class="menutoggle"><i class="fa fa-bars"></i></a>
    <!--<form class="searchform" action="http://themepixels.com/demo/webpage/bracket/index.html" method="post">-->
    <!--<input type="text" class="form-control" name="keyword" placeholder="Search here..." />-->
    <!--</form>-->
    <!--<div class="col-sm-2">-->
    <!--commented for Yams release - anoop-->
    <!--<%#= link_to '/analytics/custom_dashboards/new', title: "Create Dashboard",class: 'btn btn-default', style: 'display: inline', id: "add-dashboard-btn", data: { :remote => true, 'toggle' =>  "modal", 'target' => '#analytics-dashboard-modal' } do %>Create Dashboard<%# end %>-->
    <!--</div>-->
    <div class="header-right">
      <ul class="headermenu">
        <% all_facility = current_user_facilities.sort! { |first,last| first.name.downcase <=> last.name.downcase } %>
        <% if all_facility.size > 1 %>
          <li>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle dropdown-facilitymenu-button"  data-facility-id="all" data-toggle="dropdown">
              All Facilities
              <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-facilitymenu pull-right for_scoll fac_menu_search" id="dropdown-menu-facilitymenu_search_input">
                <% if all_facility.count > 10 %>
                <li><input type="text" name="search_facility" id='search-facility2' placeholder="Search Facility" class="form-control p5_10 search-facility2"></li>
                <% end %>
                <li><a class="main-facility-list search_result" data-search-category="all" href="#">All Facilities</a></li>
                <% all_facility.each do |facility| %>
                <li><a class="main-facility-list search_result" data-search-category="<%= facility.id %>" href="#"><%= facility.name %></a></li>
                <% end %>
              </ul>
            </div>
          </li>
        <% end %>
        <li>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle dropdown-timemenu-button" data-toggle="dropdown" data-data_range="day">
              Today <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-timemenu pull-right mega_menu">
              <div class="row">
                <div class="col-md-4">
                  <p class="menu_header">Current</p>
                  <li><a class="toolbar_time" href="#" data-time-period="today" data-data_range="day">Today</a></li>
                  <li><a class="toolbar_time" href="#" data-time-period="week" data-data_range="week">This Week</a></li>
                  <li><a class="toolbar_time" href="#" data-time-period="month" data-data_range="month">This Month</a></li>
                  <li><a class="toolbar_time" href="#" data-time-period="3months" data-data_range="month">This Quarter</a></li>
                  <li><a class="toolbar_time" href="#" data-time-period="year" data-data_range="year">This Year</a></li>
                </div>
                <div class="col-md-4">
                  <p class="menu_header">Previous</p>
                  <li><a class="toolbar_time" href="#" data-time-period="yesterday" data-data_range="day">Yesterday</a></li>
                  <li><a class="toolbar_time" href="#" data-time-period="prev_week" data-data_range="week">Previous Week</a></li>
                  <li><a class="toolbar_time" href="#" data-time-period="prev_month" data-data_range="month">Previous Month</a></li>
                  <li><a class="toolbar_time" href="#" data-time-period="prev_quarter" data-data_range="month">Previous Quarter</a></li>
                  <li><a class="toolbar_time" href="#" data-time-period="prev_year" data-data_range="year">Previous Year</a></li>
                </div>
                <div class="col-md-4">
                  <p class="menu_header">Custom</p>
                  <li><a class="toolbar_time custom_date_selector" href="#" data-time-period="custom" data-data_range="custom">Custom</a></li>
                  <!-- <li><a class="toolbar_time" href="#" data-time-period="multi_year" data-data_range="year">Multi Year</a></li> -->
                  <!-- <li><a class="toolbar_time" href="#" data-time-period="compare" data-data_range="compare">Compare</a></li> -->
                </div>
              </div>
            </ul>
          </div>
        </li>
        <li>
          <div class="col-sm-4">
            <input type="text" id="analytics-from-datepicker" value="<%= Date.current.strftime('%d/%m/%Y') %>" class="form-control analytics-from-datepicker" style="margin-top: 3%;cursor:pointer;background-color:#fff;" placeholder="End Date" readonly="readonly" disabled>
          </div>
          <div class="col-sm-1 text-center">
            <i class="fa fa-arrows-alt-h" style="margin-top:15px;color:#ccc;font-size: 20px;"></i>
          </div>
          <div class="col-sm-4">
            <input type="text" id="analytics-to-datepicker" value="<%= Date.current.strftime('%d/%m/%Y') %>" class="form-control analytics-to-datepicker" style="margin-top: 3%;cursor:pointer;background-color:#fff;" placeholder="Start Date" readonly="readonly" disabled>
          </div>
          <div class="col-sm-2">
            <div class="btn btn-primary btn-sm analytics-data-link" href="/analytics/admins" id="btnAnalyticsReload" style="margin-top:7px;"><i class="fa fa-refresh"></i> &nbsp;Reload</div>
          </div>
        </li>
      </ul>
    </div>
    <!-- header-right -->
  </div>
  <!-- headerbar -->
  <!--<div class="pageheader">-->
  <!--<h2><i class="fa fa-home"></i> Dashboard <span>Subtitle goes here...</span></h2>-->
  <!--<div class="breadcrumb-wrapper">-->
  <!--<span class="label">You are here:</span>-->
  <!--<ol class="breadcrumb">-->
  <!--<li><a href="index.html">Bracket</a></li>-->
  <!--<li class="active">Dashboard</li>-->
  <!--</ol>-->
  <!--</div>-->
  <!--</div>-->
  <div class="analyticscontentpanel" style="padding: 15px;">
  </div>
  <!-- analyticscontentpanel -->
</div>
<!-- mainpanel -->
<!-- order of loading should be like this first load modal then js so events gets binded -->
<div id="custom_date_modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ></div>
<%= render partial: "analytics/shared/show_modal" %>
<%= render partial: "analytics/shared/analytics_js" %>