    <div class="row tile_count" style="margin-bottom: 15px;">
      <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
        <div class="panel_h">
          <div class="count_top"><i class="fa fa-user"></i> Appointment - Patient Seen</div>
          <span class="count">
            <% if @todays_data.present? %>
              <%= @total_patient_seen.reject(&:blank?).last.to_i %>
            <% else %>
              <%= @total_patient_seen.reject(&:blank?).sum.to_i %>
            <% end %>  
            </span>

          <span id="weekly-appointment-created-counts" class="panel_chart chart pull-right"></span>
          <!--<span class="count_bottom"><i class="green">4% </i> From last <%#=Date.current.strftime('%A')%></span>-->
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
        <div class="panel_h">
          <div class="count_top title_h"><i class="fa fa-sign-in-alt" aria-hidden="true"></i> Appointment - Average Time</div>
          <span class="count">
            <% if @todays_data.present? %>
              <%= @total_avg_time_given.reject(&:blank?).last.to_f %>
            <% else %>
              <%= (@total_avg_time_given.reject(&:blank?).sum.to_f)/60 %>
            <% end %>
            </span>
            <span style="font-size: 20px;position: relative;top: 11px;color: #487eb0;">
              H
            </span>

          <!-- <span id="weekly-appointment-arrived-counts" class="panel_chart chart pull-right"></span> -->
          <!--<span class="count_bottom"><i class="green">4% </i> From last <%#=Date.current.strftime('%A')%></span>-->
        </div>
      </div>
      <!--<div class="col-md-2 col-sm-6 col-xs-12 panel-head tile_stats_count">-->
        <!--<span class="count_top"><i class="fa fa-clock-o"></i>Avg. OPD Time</span>-->
          <!--<div class="count">34.6 min</div>-->
        <!--<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last <%#=Date.current.strftime('%A')%></span>-->
      <!--</div>-->
      <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
        <div class="panel_h">
          <div class="count_top title_h"><i class="fa fa-plus" aria-hidden="true"></i> Admission -Created</div>
          <span class="count green">
            <% if @todays_data.present? %>
              <%=  @total_admission_created.reject(&:blank?).last.to_i %>
            <% else %>
              <%=  @total_admission_created.reject(&:blank?).sum.to_i %>
            <% end %>
          </span>
          <span id="weekly-admission-counts" class="panel_chart chart pull-right"></span>
        </div>
      </div>
<!--       <div class="col-md-3 col-sm-6 col-xs-12 panel-head">
        <div class="panel_h">
          <div class="count_top title_h"><i class="fa fa-money" aria-hidden="true"></i> Overall Earnings </div>
          <span class="count_earning"><%#= @total_earnings.first.to_f %></span>
          </div>
      </div> -->


    </div>

        


    <div class="row">
      <div class="col-sm-6 col-md-6">
        <%= render partial: '/analytics/partials/patient_seen_count.html.erb' %>      
      </div><!-- panel -->
      <div class="col-sm-6 col-md-6">
        <%= render partial: '/analytics/partials/average_patient_time.html.erb' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <%= render partial: '/analytics/partials/doctor_pharmacy_prescription.html.erb' %>
      </div><!-- panel -->
      <div class="col-sm-6 col-md-6">
        <%= render partial: '/analytics/partials/doctor_optical_prescription.html.erb' %> 
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-6">
        <%= render partial: '/analytics/partials/doctor_converted_procedures.html.erb' %>
      </div>
      <div class="col-sm-6 col-md-6">
        <%= render partial: '/analytics/partials/doctor_advised_diagnoses.html.erb' %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <%= render partial: '/analytics/partials/doctor_converted_ophthal_investigations.html.erb' %>
      </div>
      <div class="col-sm-6 col-md-6">
        <%= render partial: '/analytics/partials/doctor_converted_laboratory_investigations.html.erb' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <%= render partial: '/analytics/partials/doctor_average_time.html.erb' %>
      </div>
      <div class="col-sm-6 col-md-6">
        <%= render partial: '/analytics/partials/doctor_converted_radiology_investigations.html.erb' %>
      </div>
    </div>

<script type="text/javascript">
  $('.count_earning, .count').each(function () {
    $(this).prop('Counter', 0).animate({
      fontSize: "20px",
      Counter: $(this).text()
      },{
        duration: 400,
        easing: 'swing',
        step: function (now) {
          // $(this).text(Math.abs(now.toFixed(2)));
        }
    });
  });
</script>