
<div class="dropdown" >
  <p class="range-box">
    <label class="f-title"  for="range" style="color: #428bca;" ><%= filter.filter_name.upcase %>:</label>
    <input type="text" name="<%=filter.filter_name %>_range"  id="<%=filter.filter_value_name %>_range" readonly style="border:0; color:#f6931f; font-weight:bold;">
    <span id= "default-<%= filter&.filter_value_name%>" class="apply-default"> Apply default</span>
  </p>

  <div id="mis-<%=filter.filter_name %>-filter"></div>

</div>

<style>
  .ui-slider-horizontal {
    height: 7px !important;
    margin: 7px 0 !important;
  }
  .range-box {
    margin: 0 0 3px;
  }
</style>
<script>
  $( function() {
        let intial_age_range = <%= @mis_params[:initial_age].present? ?  @mis_params[:initial_age].to_i : 0 %>;
        let final_age_range = <%= @mis_params[:final_age].present? ?  @mis_params[:final_age].to_i : 0 %>

        $( "#mis-<%=filter.filter_name %>-filter" ).slider({
          range: true,
          min: 0,
          max: 110,
          values: [ intial_age_range, final_age_range ],
          slide: function( event, ui ) {
            $( "#<%=filter.filter_name %>_range" ).val(ui.values[ 0 ] + "-" + ui.values[ 1 ] );
            $("#default-age").show();
          }
        });
    $( "#<%=filter.filter_name %>_range" ).val( $( "#mis-<%=filter.filter_name %>-filter" ).slider( "values", 0 ) +
        "-" + $( "#mis-<%=filter.filter_name %>-filter" ).slider( "values", 1 ) );

  } );
</script>

