<style type="text/css">
.timeline {
list-style: none;
padding: 20px 0 20px;
position: relative;
}

.timeline:before {
top: 0;
bottom: 0;
position: absolute;
content: " ";
width: 3px;
background-color: #eeeeee;
left: 50%;
margin-left: -1.5px;
}

.timeline > li {
margin-bottom: 20px;
position: relative;
}

.timeline > li:before,
.timeline > li:after {
content: " ";
display: table;
}

.timeline > li:after {
clear: both;
}

.timeline > li:before,
.timeline > li:after {
content: " ";
display: table;
}

.timeline > li:after {
clear: both;
}

.timeline > li > .timeline-panel {
width: 46%;
float: left;
border: 1px solid #d4d4d4;
border-radius: 2px;
padding: 9px;
position: relative;
-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
position: absolute;
top: 13px;
right: -15px;
display: inline-block;
border-top: 15px solid transparent;
border-left: 15px solid #ccc;
border-right: 0 solid #ccc;
border-bottom: 15px solid transparent;
content: " ";
}

.timeline > li > .timeline-panel:after {
position: absolute;
top: 14px;
right: -14px;
display: inline-block;
border-top: 14px solid transparent;
border-left: 14px solid #fff;
border-right: 0 solid #fff;
border-bottom: 14px solid transparent;
content: " ";
}

.timeline > li > .timeline-badge {
color: #fff;
width: 50px;
height: 50px;
line-height: 50px;
font-size: 1.4em;
text-align: center;
position: absolute;
top: 5px;
left: 50%;
margin-left: -25px;
background-color: #999999;
z-index: 100;
border-top-right-radius: 50%;
border-top-left-radius: 50%;
border-bottom-right-radius: 50%;
border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
border-left-width: 0;
border-right-width: 15px;
left: -15px;
right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
border-left-width: 0;
border-right-width: 14px;
left: -14px;
right: auto;
}

.timeline-badge.primary {
background-color: #2e6da4 !important;
}

.timeline-badge.success {
background-color: #3f903f !important;
}

.timeline-badge.warning {
background-color: #f0ad4e !important;
}

.timeline-badge.danger {
background-color: #d9534f !important;
}

.timeline-badge.info {
background-color: #5bc0de !important;
}

.timeline-title {
margin-top: 0;
color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
margin-bottom: 0;
}

.timeline-body > p + p {
margin-top: 5px;
}
</style>

<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">Notes</h4>
    </div>

    <div class="modal-body form-bordered" style="max-height: 550px;overflow-y: auto;">
      <%= simple_form_for :record_note, url: eval(@save_path), :remote => true  do |f| %>
        <% index = 0 %>
        <% if @save_path == "patients_update_patient_comments_path" %>
          <ul class="timeline">
            <% @notes.common_note.each do |value,key| %>
              <% if index%2 == 0 %>
                <% if index > @notes.common_note.count-7  %>
                  <li>
                <% else %>
                  <li style="display:none" >
                <% end %>
                <% if User.find(value[:comment_by]).roles[0].name == "nurse" %>
                  <div class="timeline-badge info"><i class="fa fa-female"></i></div>
                <% else %>
                  <div class="timeline-badge warning"><i class="fa fa-user-md"></i></div>
                <% end %>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title"><strong><input class="form-control input input-sm alert-info" required="required" type="hidden" name="record_note[common_note_attributes][<%= index %>][comment_by]" id="record_note_notes" value='<%= value[:comment_by] %>'  readonly ></strong></h4>
                    </div>
                    <div class="timeline-body">
                      <p>
                      <strong><%= User.find(value[:comment_by]).fullname.capitalize %></strong>:
                      <input class="form-control input input-sm alert-info" required="required" type="hidden" name="record_note[common_note_attributes][<%= index %>][time]" id="record_note_notes" value='<%= value[:time] %>' readonly >
                      <%= value[:comment] %>
                      <input class="form-control input input-sm alert-info" required="required" type="hidden" name="record_note[common_note_attributes][<%= index %>][comment]" id="record_note_notes" value='<%= value[:comment] %>' readonly >
                      <small><span class="pull-right"><%= value[:time].to_date %></span></small>
                      <a href="/patients/destroy_patient_notes?appointment_id=<%= @appointment.id %>&note_id=<%= value[:id] %>&notes_id=<%= @notes.id %>" method = "get" data-remote="true" class="btn btn-link btn-xs pull-right" id="delete"><span style="color: red;" class="glyphicon glyphicon-trash" method="delete" ></span></a>
                      </p>
                    </div>
                  </div>
                </li>
              <% end %>
              <% if index%2 != 0 %>
                <% if index > @notes.common_note.count-7  %>
                  <li class="timeline-inverted">
                <% else %>
                  <li style="display:none" class="timeline-inverted" >
                <% end %>
                <% if User.find(value[:comment_by]).roles[0].name == "nurse" %>
                  <div class="timeline-badge info"><i class="fa fa-female"></i></div>
                <% else %>
                  <div class="timeline-badge warning"><i class="fa fa-user-md"></i></div>
                <% end %>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title"><strong></strong></h4>
                    </div>
                    <div class="timeline-body">
                    <p><strong><%= User.find(value[:comment_by]).fullname.capitalize %></strong>:
                      <input class="form-control input input-sm alert-info" required="required" type="hidden" name="record_note[common_note_attributes][<%= index %>][comment_by]" id="record_note_notes" value='<%= value[:comment_by] %>'  readonly >
                      <input class="form-control input input-sm alert-info" required="required" type="hidden" name="record_note[common_note_attributes][<%= index %>][time]" id="record_note_notes" value='<%= value[:time] %>' readonly >
                      <%= value[:comment] %>
                      <input class="form-control input input-sm alert-info" required="required" type="hidden" name="record_note[common_note_attributes][<%= index %>][comment]" id="record_note_notes" value='<%= value[:comment] %>' readonly >
                      <small><span class="pull-right"><%= value[:time].to_date %></span></small>
                      <a href="/patients/destroy_patient_notes?appointment_id=<%= @appointment.id %>&note_id=<%= value[:id] %>&notes_id=<%= @notes.id %>" method = "d" data-remote="true" class=" btn btn-link btn-xs pull-right" id="delete"><span style="color: red;" class="glyphicon glyphicon-trash pull-right" method="delete" ></span></a>
                    </p>
                    </div>
                  </div>
                </li>
              <% end %>
              <% index = index + 1 %>
            <% end %>
          </ul>
        <% end %>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-3">
              <strong>Note</strong>
            </div>
            <div class="col-md-6">
              <input class="form-control input" required="required" type="text" name="record_note[common_note_attributes][<%= index %>][comment]" id="record_note_notes">
              <input class="form-control input input-sm alert-info" required="required" type="hidden" name="record_note[common_note_attributes][<%= index %>][comment_by]" id="record_note_notes" value='<%= current_user.id %>'  readonly >
              <input class="form-control input input-sm alert-info" required="required" type="hidden" name="record_note[common_note_attributes][<%= index %>][time]" id="record_note_notes" value='<%= Time.current %>' readonly >
            </div>
            <div class="col-md-3">
              <%= f.submit 'Submit', :class => 'btn btn-primary' %>
            </div>
          </div>
        </div>
        <%= f.hidden_field :patient_id,:value => @appointment.patient_id %>
        <%= f.hidden_field :appointment_id,:value => @appointment.id %>
        <%= f.hidden_field :user_id,:value => @appointment.user_id %>
      <% end %>
    </div>
  </div>
</div>
