<div class="row tile_count" style="margin-bottom: 15px;">
  <% if @specialty_id == '309988001' || (@current_user.specialty_ids.include?('309988001') && @specialty_id == 'all') %>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head">
      <div class="panel_h">
        <div class="count_top title_h"> Surgery </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span>Total</span><br>
          <span class="count text-center">
            <%= @counsellor_procedures_converted_count.sum + @counsellor_procedures_not_converted_count.sum %>
          </span>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-6">
          <span>Converted</span><br>
          <span class="count">
            <%= @counsellor_procedures_converted_count.sum %>
          </span>
        </div>
      </div>
    </div>
  <% end %>

  <% if @specialty_id == '309988001' || (@current_user.specialty_ids.include?('309988001') && @specialty_id == 'all') %>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
      <div class="panel_h">
        <div class="count_top title_h"> Ophthal Investigations</div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span>Total</span>
          <br>
          <span class="count">
            <%= @counsellor_ophthal_investigations_converted_count.sum + @counsellor_ophthal_investigations_not_converted_count.sum %>
          </span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span class="">Converted</span>
          <br>
          <span class="count">
            <%= @counsellor_ophthal_investigations_converted_count.sum %>
          </span>
        </div>
      </div>
    </div>
  <% end %>

  <div class="col-md-3 col-sm-6 col-xs-12 panel-head">
    <div class="panel_h">
      <div class="count_top title_h"> Laboratory Investigations </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <span>Total</span>
        <br>
        <span class="count">
          <%= @counsellor_laboratory_investigations_converted_count.sum + @counsellor_laboratory_investigations_not_converted_count.sum %>
        </span>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <span class="">Converted</span>
        <br>
        <span class="count">
          <%= @counsellor_laboratory_investigations_converted_count.sum %>
        </span>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
    <div class="panel_h">
      <div class="count_top title_h"> Radiology Investigations</div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <span>Total</span>
        <br>
        <span class="count">
          <%= @counsellor_radiology_investigations_converted_count.sum + @counsellor_radiology_investigations_not_converted_count.sum %>
        </span>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <span class="">Converted</span>
        <br>
        <span class="count">
          <%= @counsellor_radiology_investigations_converted_count.sum %>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <% if @specialty_id == '309988001' || (@current_user.specialty_ids.include?('309988001') && @specialty_id == 'all') %>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <%= render partial: '/analytics/partials/counsellor_surgery_converted.html.erb' %>  
    </div>

    <div class="col-md-6 col-sm-6 col-xs-6">
      <%= render partial: '/analytics/partials/counsellor_ophthal_investigations_converted.html.erb' %>
    </div>
  <% end %>

  <div class="col-md-6 col-sm-6 col-xs-6">
    <%= render partial: '/analytics/partials/counsellor_laboratory_investigations_converted.html.erb' %>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-6">
    <%= render partial: '/analytics/partials/counsellor_radiology_investigations_converted.html.erb' %>
  </div>
</div>

<style type="text/css">
  .count {
    color:#487eb0;
  }

  .count_top{
    font-weight: bold;
  }
</style>

<script type="text/javascript">
window.counting_animation()
</script>