<div class="row tile_count" style="margin-bottom: 10px;">
  <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
    <div class="panel_h">
      <div class="count_top title_h"> Pharmacy Prescription </div>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span>Total</span>
          <br>
          <span class="count">
            <% if @todays_data.present?%>
              <%=  @doctor_pharmacy_data_total_count.reject(&:blank?).last.to_i %>
            <% else %>
              <%= @doctor_pharmacy_data_total_count.reject(&:blank?).sum %></span>
            <% end %>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span>Converted</span>
          <br>
          <span class="count">
            <% if @todays_data.present?%>
              <%= @doctor_pharmacy_data_converted_count.reject(&:blank?).last.to_i %>
            <% else %>
              <%= @doctor_pharmacy_data_converted_count.reject(&:blank?).sum %></span>
            <% end %>
        </div>
      </div>
    </div>
  </div>


  <% if @specialty_id == '309988001' || (@current_user.specialty_ids.include?('309988001') && @specialty_id == 'all') %>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
      <div class="panel_h">
        <div class="count_top title_h"> Glasses Prescription</div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span>Total</span>
          <br>
          <span class="count">
            <% if @todays_data.present?%>
              <%= @doctor_optical_data_total_count.reject(&:blank?).last.to_i %>
            <% else %>
              <%= @doctor_optical_data_total_count.reject(&:blank?).sum %>
            <% end %>  
          </span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span>Converted</span>
          <br>
          <span class="count">
            <% if @todays_data.present?%>
              <%= @doctor_optical_data_converted_count.reject(&:blank?).last.to_i %></span>
            <% else %>
              <%= @doctor_optical_data_converted_count.reject(&:blank?).sum %></span>
            <% end %>
          </span>
        </div>
      </div>
    </div>
  <% end %>

  <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
    <div class="panel_h">
      <div class="count_top title_h"> All Investigations</div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <span>Total</span><br>
        <span class="count">
           <% if @todays_data.present?%>
            <%=  @ophthal_investigations_total_count.reject(&:blank?).last.to_i + @laboratory_investigations_total_count.reject(&:blank?).last.to_i + @radiology_investigations_total_count.reject(&:blank?).last.to_i %>
           <% else %>
          <%= @ophthal_investigations_total_count.sum + @laboratory_investigations_total_count.sum + @radiology_investigations_total_count.sum %>
           <% end %>

        </span>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <span>Converted</span><br>
        <span class="count">
          <% if @todays_data.present? %>
          <%= @ophthal_investigations_converted_count.reject(&:blank?).last.to_i + @laboratory_investigations_converted_count.reject(&:blank?).last.to_i + @radiology_investigations_converted_count.reject(&:blank?).last.to_i %>
          <% else %>
          <%= @ophthal_investigations_converted_count.reject(&:blank?).sum + @laboratory_investigations_converted_count.reject(&:blank?).sum + @radiology_investigations_converted_count.reject(&:blank?).sum %>
          <% end %>
        </span>
      </div>
    </div>
  </div>
  <% if @specialty_id == '309988001' || (@current_user.specialty_ids.include?('309988001') && @specialty_id == 'all') %>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head">
      <div class="panel_h">
        <div class="count_top title_h"> Surgery </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span>Total</span><br>
          <span class="count">
            <% if @todays_data.present? %>
              <%= @procedures_total_count.reject(&:blank?).last.to_i %>
             <% else %>
              <%= @procedures_total_count.reject(&:blank?).sum %>
            <% end %>
          </span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span>Converted</span><br>
          <span class="count">
            <% if @todays_data.present? %>
              <%= @procedures_converted_count.reject(&:blank?).last.to_i %>
            <% else %>
              <%= @procedures_converted_count.reject(&:blank?).sum %>
            <% end %>
            </span>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-6">
    <%= render partial: '/analytics/partials/doctor_pharmacy_prescription.html.erb' %>
  </div>

  <% if @specialty_id == '309988001' || (@current_user.specialty_ids.include?('309988001') && @specialty_id == 'all') %>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <%= render partial: '/analytics/partials/doctor_optical_prescription.html.erb' %>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-6">
      <%= render partial: '/analytics/partials/doctor_converted_procedures.html.erb' %>
    </div>
  <% end %>

  <div class="col-md-6 col-sm-6 col-xs-6">
    <%= render partial: '/analytics/partials/doctor_advised_diagnoses.html.erb' %>
  </div>

  <% if @specialty_id == '309988001' || (@current_user.specialty_ids.include?('309988001') && @specialty_id == 'all') %>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <%= render partial: '/analytics/partials/doctor_converted_ophthal_investigations.html.erb' %>
    </div>
  <% end %>

  <div class="col-md-6 col-sm-6 col-xs-6">
    <%= render partial: '/analytics/partials/doctor_converted_laboratory_investigations.html.erb' %>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-6">
    <%= render partial: '/analytics/partials/doctor_converted_radiology_investigations.html.erb' %>
  </div>

  <div class="col-sm-6 col-md-6">
    <%= render partial: '/analytics/partials/doctor_average_time.html.erb' %>
  </div><!-- panel -->
  <div class="col-sm-6 col-md-6">
    <%= render partial: '/analytics/partials/total_patient_seen_by_doc_in_facility' %>
  </div>
  <div class="col-sm-6 col-md-6">
    <%= render partial: '/analytics/partials/patient_seen_by_doctors' %>
  </div>
</div>

<div class="modalWrapper">

</div>

<style type="text/css">
  .count {
    color:#487eb0;
  }

  .count_top{
    font-weight: bold;
  }
</style>

<script type="text/javascript">
window.counting_animation()
</script>