<div class="row tile_count">
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
      <div class="panel_h">
        <div class="count_top title_h"><i class="fa fa-clock-o" aria-hidden="true"></i> Appointment -Scheduled</div>
        <span class="count ">
          <% if @todays_data.present? %>
            <%= @total_appointment_created.reject(&:blank?).last.to_i %>
          <% else %>
            <%= @total_appointment_created.reject(&:blank?).sum %>
          <% end %>
        </span>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
      <div class="panel_h">
        <div class="count_top title_h"><i class="fa fa-sign-in-alt" aria-hidden="true"></i> Appointment -Arrived</div>
        <span class="count">
          <% if @todays_data.present? %>
            <%= @total_appointment_arrived.reject(&:blank?).last.to_i %>
          <% else %>
            <%= @total_appointment_arrived.reject(&:blank?).sum %>
          <% end %>
        </span>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
      <div class="panel_h">
        <div class="count_top title_h"><i class="fa fa-plus" aria-hidden="true"></i> Admission -Created</div>
        <span class="count green">
          <% if @todays_data.present? %>
            <%= @total_admission_created.reject(&:blank?).last.to_i %>
          <% else %>
            <%= @total_admission_created.reject(&:blank?).sum %>
          <% end %>
        </span>
        <span id="weekly-admission-counts" class="panel_chart chart pull-right"></span>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head">
      <div class="panel_h">
        <div class="count_top title_h"><i class="fa fa-money" aria-hidden="true"></i>Admission - Admitted</div>
        <span class="count_earning">
          <% if @todays_data.present? %>
            <%= @total_admission_admitted.reject(&:blank?).last.to_i %> 
          <% else %>
            <%= @total_admission_admitted.reject(&:blank?).sum %> 
          <% end %>
          </span>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-6">
    <%= render partial: '/analytics/partials/appointments_facility_wise' %>
  </div>
  <div class="col-sm-6 col-md-6">
    <%= render partial: '/analytics/partials/patient_feedback_rating.html.erb' %>
  </div>


  <div class="col-sm-6 col-md-6">
    <%= render partial: '/analytics/partials/patient_gender_data.html.erb' %>
  </div>

  <div class="col-sm-6 col-md-6">
    <%= render partial: '/analytics/partials/patient_age_data.html.erb' %>
  </div>
  <div class="col-sm-6 col-md-6">
    <%= render partial: '/analytics/partials/organisation_level_rating' %>
  </div>
  <div class="col-sm-6 col-md-6">
    <%= render partial: '/analytics/partials/overall_organisation_rating' %>
  </div>
</div>
<script type="text/javascript">
window.counting_animation()
</script>