<div class="row">

  <div class="col-sm-4 col-md-4">
    <%= render partial: '/analytics/partials/opd_average_time.html.erb' %>
  </div>

  <div class="col-sm-4 col-md-4">
    <%= render partial: '/analytics/partials/new_old_patients.html.erb' %>
  </div><!-- panel -->

  <div class="col-sm-4 col-md-4">
    <%= render partial: '/analytics/partials/opd_revisit_frequency.html.erb' %>
  </div>

  <div class="col-sm-4 col-md-4">
    <%= render partial: '/analytics/partials/referral_source.html.erb' %>
  </div>

  <div class="col-sm-4 col-md-4">
    <%= render partial: '/analytics/partials/appointment_types.html.erb' %>
  </div>

  <div class="col-sm-4 col-md-4">
    <%= render partial: '/analytics/partials/appointment_category_types.html.erb' %>
  </div>

  <div class="col-sm-4 col-md-4">
    <%= render partial: '/analytics/partials/walkin_appointment_types.html.erb' %>
  </div>

</div>