<div class="row">
  <div class="col-sm-4 col-md-4">
    <%= render partial: '/analytics/partials/new_old_patients' %>
  </div><!-- panel -->

  <div class="col-sm-4 col-md-4">
    <%= render partial: '/analytics/partials/organisation_level_rating' %>
  </div>

  <div class="col-sm-4 col-md-4">
    <%= render partial: '/analytics/partials/patient_feedback_rating' %>
  </div>

  <div class="col-sm-4 col-md-4">
    <%= render partial: '/analytics/partials/opd_revisit_frequency' %>
  </div>

  <div class="col-sm-4 col-md-4">
    <%= render partial: '/analytics/partials/patient_gender_data' %>
  </div>

  <div class="col-sm-4 col-md-4">
    <%= render partial: '/analytics/partials/patient_age_data' %>
  </div>

  <div class="col-sm-4 col-md-4">
    <%= render partial: '/analytics/partials/referral_source' %>
  </div>

  <div class="col-sm-4 col-md-4">
    <%= render partial: '/analytics/partials/patient_types' %>
  </div>

  <div class="col-sm-4 col-md-4">
    <%= render partial: '/analytics/partials/overall_rating' %>
  </div>
</div>


