	<div class="row tile_count" style="margin-bottom: 15px;">
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
      <div class="panel_h">
        <div class="count_top title_h">Total Count </div>
        <span class="count ">
          <% if @todays_data.present? %>
            <%= @pharmacy_total_count.reject(&:blank?).last.to_i %>
          <% else %>
            <%= @pharmacy_total_count.reject(&:blank?).sum %>
          <% end %>
          </span>
        <span id="weekly-appointment-created-counts" class="panel_chart chart pull-right"></span>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
      <div class="panel_h">
        <div class="count_top title_h"> Converted Count</div>
        <span class="count">
           <% if @todays_data.present? %>
            <%=  @pharmacy_converted_count.reject(&:blank?).last.to_i %>
           <% else %>
            <%= @pharmacy_converted_count.reject(&:blank?).sum %>
           <% end %>    
          </span>
        <span id="weekly-appointment-arrived-counts" class="panel_chart chart pull-right"></span>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
      <div class="panel_h">
        <div class="count_top title_h"> Not Converted Count</div>
        <span class="count green">
          <% if @todays_data.present? %>
            <%= @pharmacy_not_converted_count.reject(&:blank?).last.to_i %>
          <% else %>
            <%= @pharmacy_not_converted_count.reject(&:blank?).sum %>
          <% end %>
          </span>
        <span id="weekly-admission-counts" class="panel_chart chart pull-right"></span>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head">
      <div class="panel_h">
        <div class="count_top title_h"> Overall Earnings </div>
        <span class="count_earning">
          <% if @todays_data.present? %>
            <%= @pharmacy_earnings.reject(&:blank?).last.to_f %>
          <% else %>
            <%= @pharmacy_earnings.reject(&:blank?).sum.to_f%>
          <% end %>
          </span>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-sm-6 col-md-6">
    <%= render partial: '/analytics/partials/pharmacy_data.html.erb' %>
  </div><!-- panel -->
  <div class="col-sm-6 col-md-6">
    <%= render partial: '/analytics/partials/pharmacy_earnings_data.html.erb' %>
  </div>
</div>
<script type="text/javascript">
window.counting_animation()
</script>