<div id="toolbar">
  <nav class="navbar navbar-secondary navbar-inverse navbar-fixed-top " style="margin-top: 50px; left: auto; right: auto; width: 50%;z-index:555;">
    <div class="container-fluid">
      <div class="col-md-6">
        <h4 class="nav_head_section">Admission Details</h4>
      </div>
      <% if current_facility.show_finances? %>
        <div class="col-md-4 text-right">
      <% else %>
        <div class="col-md-4 col-md-offset-2 text-right">
      <% end %>
        <%unless current_user.has_role?(:optometrist)%>
          <%= link_to ipd_patients_makeadmission_path, :class => "btn btn-danger navbar-btn navbar-btn-hover", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#inpatient-modal'} do %> <i class="glyphicon glyphicon-plus"></i>&nbsp; Add<% end %>
          <button type="button"  class="btn btn-info navbar-btn navbar-btn-hover" data-toggle="dropdown">
            <span class=""><i class="fa fa-print"></i> Print</span>&nbsp;
            <span class="caret fa-color"></span>
          </button>
          <ul class="dropdown-menu children" style="margin-left:30px;">
            <li>
              <%= link_to admissions_print_admission_list_path(:format => :pdf), :class => "", style:"border-color:#FF8735", :target => "_blank" do %> Admission List<% end %>
            </li>
            <li>
              <%= link_to admissions_print_admitted_list_path(current_date: @current_date, :format => :pdf), :class => "", style:"border-color:#FF8735", :target => "_blank" do %> Admitted on <%= @current_date.strftime("%d %b") %><% end %>
            </li>
            <li>
              <%= link_to admissions_print_discharged_list_path(current_date: @current_date, :format => :pdf), :class => "", style:"border-color:#FF8735", :target => "_blank" do %> Discharged on <%= @current_date.strftime("%d %b") %><% end %>
            </li>
          </ul>
        <%end%>
      </div>
      <% if current_facility.show_finances? %>
        <div class="col-md-2 text-right">
        <button type="button"  class="btn btn-info navbar-btn navbar-btn-hover" data-toggle="dropdown">
          <span class=""><i class="fa fa-file"></i> Reports</span>&nbsp;
          <span class="caret fa-color"></span>
        </button>
        <ul class="dropdown-menu children" style="margin-left:-60px;">
          <li>
            <%= link_to reports_daily_report_all_path(:date => Date.strptime("#{@datepicker_date}", "%Y-%m-%d"), location: "IPD", :format => :pdf), :class => "", style:"border-color:#FF8735", :target => "_blank" do %> All<% end %>
          </li>
          <li>
            <%= link_to reports_daily_report_path(:date => Date.strptime("#{@datepicker_date}", "%Y-%m-%d"), location: "IPD Invoice", :format => :pdf), :class => "", style:"border-color:#FF8735", :target => "_blank" do %> Receipt<% end %>
          </li>
          <li>
            <%= link_to reports_daily_advance_report_path(:date => Date.strptime("#{@current_date}", "%Y-%m-%d"), location: "IPD Invoice", :format => :pdf), :class => "", style:"border-color:#FF8735", :target => "_blank" do %> Advance<% end %>
          </li>
          <li>
            <%= link_to reports_daily_refund_report_path(:date => Date.strptime("#{@current_date}", "%Y-%m-%d"), location: "IPD Invoice", :format => :pdf), :class => "", style:"border-color:#FF8735", :target => "_blank" do %> Refund<% end %>
          </li>
          <li>
            <%= link_to reports_daily_report_path(:date => Date.strptime("#{@datepicker_date}", "%Y-%m-%d"), location: "IPD Insurance", :format => :pdf), :class => "", style:"border-color:#FF8735", :target => "_blank" do %> Insurance<% end %>
          </li>
          <!--<li>-->
            <!--<#%= link_to reports_daily_report_path(:date => Date.strptime("#{@datepicker_date}", "%Y-%m-%d"), location: "IPD Cash", :format => :pdf), :class => "", style:"border-color:#FF8735", :target => "_blank" do %> Cash Register<#% end %>-->
          <!--</li>-->
        </ul>
        </div>
      <% end %>
    </div>
  </nav>
</div>
<style>
.nav_head_section{
  margin:13px 0 0 0;
  font-size:18px;
}
</style>
<div id="admission_summary" style="height: calc(100% - 50px); margin-top: 50px; overflow-y: scroll;">
  
</div>