<div class="col-sm-6 sidebar_area" style="height: 100%; background: white;">
  <div id="toolbar_area">
    <div id="toolbar">
      <nav class="navbar navbar-secondary navbar-inverse navbar-fixed-top" style="margin-top: 50px; left: auto; right: auto; width: 50%;z-index:auto;">
        <div class="container-fluid" style="padding-right:0;border-right: 1px solid #aaa;">
          <div class="col-md-4" style="padding-left:initial">
            <div class="navbar-header" style="margin-top: 7px;">
              <a class="btn btn-primary navbar-btn btn-admission color-change active" style="margin:0px;"><strong>Admission</strong></a>
              <!-- <a class="btn btn-primary navbar-btn btn-ot" style="margin:0px;"><strong>OT</strong></a> -->
              <%= link_to "/ipd_patients/ot_management", class: "btn btn-primary navbar-btn btn-ot ps", data: { remote: true } ,style: "margin:0px;" do %>OT<% end %>
              <% if Ward.where(facility_id: current_facility.id).count > 0 %>
                <!-- <a class="btn btn-primary navbar-btn btn-ward" style="margin:0px;"><strong>Ward</strong></a> -->
                <%= link_to "/ipd_patients/ward_management", class: "btn btn-primary navbar-btn btn-ward ps", data: { remote: true } , style: "margin:0px;" do %>Ward<% end %>
              <% end %>
            </div>
          </div>
          <div class="col-md-2 text-center mobile_date_responsive">
            <% if @current_date == Date.current %>
              <button class="btn btn-danger navbar-btn navbar-btn-hover ps" style="padding-left: 8.4px !important;padding-right: 8.4px !important;background:transparent;" disabled="disabled"> Today</button>
            <% else %>
              <button class="btn btn-danger navbar-btn navbar-btn-hover ps" id="admission_today_jump" style="padding-left: 8.4px !important;padding-right: 8.4px !important;"> Today</button>
            <% end %>
          </div>
          <div class="col-md-5 text-center">
            <button class="btn btn-success  navbar-btn navbar-btn-hover" id="admission_backdate" style="padding-left: 8.4px !important;padding-right: 8.4px !important;border: none;margin-top:10px;font-size: 14px;padding-left:15px;"> <i class="fa fa-chevron-left"></i></button>
            <span style="font-size:16px;"><%= @current_date.strftime("%b %d, %Y") %></span>
            <button class="btn btn-success  navbar-btn navbar-btn-hover" id="admission_frontdate" style="padding-left: 8.4px !important;padding-right: 8.4px !important;border: none;margin-top:10px;font-size: 14px;padding-left:15px;"> <i class="fa fa-chevron-right"></i></button>
          </div>
          <div class="col-md-1 row text-right">
            <input type="text" id="admission-datepicker-inline" style="display: none;">
            <!-- Logic in admission_management.js.erb -->
          </div>

        </div>
      </nav>
    </div>
  </div><!-- #toolbar_area -->
  <div class="sidebar_area_content">
    <% if current_user.role_ids[0] == 106292003 || current_user.role_ids[0] == 159561009  || current_user.has_role?(:counsellor) %>
      <!-- If Role Is Nurse Or Receptionist Show Doctor List as col-sm-4 -->
      <div class="col-sm-4 sidebar_pane sidebar-doctors-admission no_padding" id="sidebar_doctors_admission">
      </div>
      <div class="col-sm-8 sidebar_pane" id="sidebar_summary">
    <% else %>
    <!-- if Role is Doctor Hide col-md-4 but keep Content -->
    <div class="col-sm-4 sidebar_pane sidebar-doctors-admission no_padding" id="sidebar_doctors_admission" style="display:none;">
    </div>
    <div class="col-sm-12 sidebar_pane" id="sidebar_summary">
    <% end %>
      <div class="sidebar-summary-admission">
          
      </div>  
    </div>
  </div>
</div>
<div class="col-md-6 admission_main_content" style="padding:0px;height:100%;">
  <%= render partial: '/inpatient/home/admission_management/admission_main_content.html.erb' %>
</div>

<script type="text/javascript">
  <%= render partial: '/inpatient/home/admission_management/admission_management.js.erb' %>
</script>