<% if current_user.role_ids[0] == 106292003 || current_user.role_ids[0] == 159561009 || current_user.has_role?(:counsellor) %>
  <div class="row no_margin text-center">
    <h4>Doctors</h4>
  </div>
  <!-- Doctors are shown only if the role is a receptionist or nurse -->
  <div class="row no_margin">
    <ul class="nav nav-pills nav-stacked">
      <% doctors_array = @users.map { |doctor| [doctor.fullname, doctor.id] } %>

      <li class="sidebar-doctor-filter-admission active current_doctor_admission"><a href="#" data-doctor-id="all">All</a></li>
      <% doctors_array.each do |doc| %>
        <li class="sidebar-doctor-filter-admission"><a href="#" data-doctor-id="<%= doc[1] %>"><%= doc[0] %></a></li>

      <% end %>
    </ul>
  </div>
<% else %>
  <!-- Written as Links Are Refreshed Via Here In Doctor Case too -->
  <li class="sidebar-doctor-filter-admission active current_doctor_admission"><a href="#" data-doctor-id="<%= current_user.id.to_s %>"><%= current_user.fullname %></a></li>
<% end %>

<script type="text/javascript">
  $("#sidebar_doctors_admission .sidebar-doctor-filter-admission").on('click', function(e){
    $(this).siblings('li').removeClass("active current_doctor_admission");
    $(this).addClass("active current_doctor_admission");
    var doctor_id = $(this).find('a').attr('data-doctor-id')
    $.ajax({
      type: "GET",
      dataType: "script",
      data: {
        current_date: "<%= @current_date %>",
        doctor: doctor_id
      },
      url: "/ipd_patients/current_doctor_admission",
      success: function(){
        if($("#admission_summary").find(".row").length > 0) {
          var admission_value = $("#admission_summary").find("#admission_refresher").val()
          $(".admission_type_content").find("[data-admission-id='" + admission_value + "']").trigger('click');
        }
      }
    })
  });
  var x = $("#sidebar_doctors_admission .sidebar-doctor-filter-admission")
  for (var i = x.length - 1; i >= 0; i--) {
    $(x[0]).trigger('click')
  }
</script>