<% action = (params[:action] == "new") %>
<div class="row mb10" style="margin-top:10px;">
  <div class="col-md-12 text-center" style="text-decoration:underline;">
    PRIMARY ASSESSMENT
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <table class="table table-bordered primary-assesment">
      <tbody>
        <tr>
          <th width="20%">Airway</th>
          <th class="text-center" width="25%;"><%= f.input :airway_assesment, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[airway_assesment]" }, :checked => ipdrecord.read_attribute(:airway_assesment) || 'Normal' %></th>
          <th width= "60%" class="toggle-head">
            <%= f.input :airway_assesment_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Artificial', 'Unconscious', 'Potential Threat'], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white r-chiefcomplaint', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[airway_assesment_abnormal]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:airway_assesment_abnormal)) %>
            <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
          </th>
        </tr>
        <tr>
          <th width="20%">Breathing</th>
          <th class="text-center" width="25%;"><%= f.input :breathing_assesment, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[breathing_assesment]" }, :checked => ipdrecord.read_attribute(:breathing_assesment) || 'Normal' %></th>
          <th width= "60%" class="toggle-head">
            <%= f.input :breathing_assesment_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Distressed', 'Cyanosed', 'Tachypnea', 'Decreased RR', 'SpO2 < 95%', 'Stridor', 'Wheeze'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[breathing_assesment_abnormal]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:breathing_assesment_abnormal)) %>
            <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
          </th>
        </tr>
        <tr>
          <th width="20%">Pulse</th>
          <th class="text-center" width="25%;"><%= f.input :pulse_assesment, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[pulse_assesment]" }, :checked => ipdrecord.read_attribute(:pulse_assesment) || 'Normal' %></th>
          <th width= "60%" class="toggle-head">
            <%= f.input :pulse_assesment_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Tachycardia', 'Bradycardia', 'Irregular'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[pulse_assesment_abnormal]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:pulse_assesment_abnormal)) %>
            <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
          </th>
        </tr>
        <tr>
          <th width="20%">Blood Pressure</th>
          <th class="text-center" width="25%;"><%= f.input :bp_assesment, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[bp_assesment]" }, :checked => ipdrecord.read_attribute(:bp_assesment) || 'Normal' %></th>
          <th width= "60%" class="toggle-head">
            <%= f.input :bp_assesment_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Hypotensive', 'Hypertensive'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[bp_assesment_abnormal]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:bp_assesment_abnormal)) %>
            <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <table class="table table-bordered primary-assesment">
      <tbody>
        <tr>
          <th>Pressure Ulcer Risk</th>
          <th width="35%"><%= f.input :pressure_ulcer_risk, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[pressure_ulcer_risk]" }, :checked => ipdrecord.read_attribute(:pressure_ulcer_risk) || "No" %></th>
        </tr>
        <tr>
          <th>Risk of Fall</th>
          <th width="35%"><%= f.input :risk_of_fall, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[risk_of_fall]" }, :checked => ipdrecord.read_attribute(:risk_of_fall) || "No" %></th>
        </tr>
        <tr>
          <th>VTE Risk</th>
          <th width="35%"><%= f.input :vte_risk, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[vte_risk]" }, :checked => ipdrecord.read_attribute(:vte_risk) || "No" %></th>
        </tr>
        <tr>
          <th style="padding:24px;"></th>
          <th></th>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row mb10" style="margin-top:10px;">
  <div class="col-md-12 text-center" style="text-decoration:underline;">
    SECONDARY ASSESSMENT
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="mb10" style="text-decoration: underline;">
      GENERAL :
    </div>
    <table class="table table-bordered primary-assesment">
      <tbody>
        <tr>
          <th>Pallor</th>
          <th width=<%= "25%" if action %>><%= f.input :general_pallor, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[general_pallor]" }, :checked => ipdrecord.read_attribute(:general_pallor) || "No" %></th>
          <th>Icterus</th>
          <th width=<%= "25%" if action %>><%= f.input :general_icterus, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[general_icterus]" }, :checked => ipdrecord.read_attribute(:general_icterus) || "No" %></th>
        </tr>
        <tr>
          <th>Cyanosis</th>
          <th width=<%= "25%" if action %>><%= f.input :general_cyanosis, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[general_cyanosis]" }, :checked => ipdrecord.read_attribute(:general_cyanosis) || "No" %></th>
          <th>Clubbing</th>
          <th width=<%= "25%" if action %>><%= f.input :general_clubbing, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[general_pallor]" }, :checked => ipdrecord.read_attribute(:general_pallor) || "No" %></th>
        </tr>
        <tr>
          <th>Edema</th>
          <th width=<%= "25%" if action %>><%= f.input :general_edema, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[general_icterus]" }, :checked => ipdrecord.read_attribute(:general_icterus) || "No" %></th>
          <th>Rash/Ecchymosis/Purpura</th>
          <th width=<%= "25%" if action %>><%= f.input :general_rash, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[general_cyanosis]" }, :checked => ipdrecord.read_attribute(:general_cyanosis) || "No" %></th>
        </tr>
        <tr>
          <th>White Oral Patch</th>
          <th width=<%= "25%" if action %>><%= f.input :general_white_oral_patch, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[general_pallor]" }, :checked => ipdrecord.read_attribute(:general_pallor) || "No" %></th>
          <th>Lymphadenopathy</th>
          <th width=<%= "25%" if action %>><%= f.input :general_lymphadenopathy, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[general_icterus]" }, :checked => ipdrecord.read_attribute(:general_icterus) || "No" %></th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <div class="mb10" style="text-decoration: underline;">
      RESP :
    </div>
    <table class="table table-bordered primary-assesment">
      <tbody>
        <tr>
          <th width="20%">Air Entry</th>
          <th colspan="2"><%= f.input :resp_air_entry, wrapper_html: {:class=>"primary_assesment_rb", style:""}, collection: ['B/L Equal', 'Reduced', 'Left', 'Right'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[resp_air_entry]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:resp_air_entry)) %></th>
        </tr>
        <tr>
          <th width="20%">Breath Sounds</th>
          <th class="text-center" width="35%;"><%= f.input :resp_breath_sounds, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[resp_breath_sounds]" }, :checked => ipdrecord.read_attribute(:resp_breath_sounds) || 'Normal' %></th>
          <th width= "60%" class="toggle-head">
            <%= f.input :resp_breath_sounds_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Reduced', 'Wheeze', 'Crepitations', 'Left', 'Right'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[resp_breath_sounds_abnormal]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:resp_breath_sounds_abnormal)) %>
            <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
          </th>
        </tr>
        <tr>
          <th width="20%">Nail Bed Color</th>
          <th class="text-center" width="35%;"><%= f.input :resp_nail_bed_color, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[resp_nail_bed_color]" }, :checked => ipdrecord.read_attribute(:resp_nail_bed_color) || 'Normal' %></th>
          <th width= "60%" class="toggle-head">
            <%= f.input :resp_nail_bed_color_abnormal, wrapper_html: {:class=>"primary_assesment_cb"}, collection: ['Cyanosed', 'Pale'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[resp_nail_bed_color_abnormal]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:resp_nail_bed_color_abnormal)) %>
            <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="mb10" style="text-decoration: underline;">
      CNS :
    </div>
    <table class="table table-bordered primary-assesment">
      <tbody>
        <tr>
          <th width="20%">Temperature</th>
          <th class="text-center" width="35%;"><%= f.input :cns_temperature, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[cns_temperature]" }, :checked => ipdrecord.read_attribute(:cns_temperature) || 'Normal' %></th>
          <th width= "60%" class="toggle-head">
            <%= f.input :cns_temperature_abnormal, wrapper_html: {:class=>"primary_assesment_cb"}, collection: ['Cool', '> 37.5', '36'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[cns_temperature_abnormal]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:cns_temperature_abnormal)) %>
            <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
          </th>
        </tr>
        <tr>
          <th width="20%">Orientation</th>
          <th class="text-center" width="35%;"><%= f.input :cns_orientation, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[cns_orientation]" }, :checked => ipdrecord.read_attribute(:cns_orientation) || 'Normal' %></th>
          <th width= "60%" class="toggle-head">
            <%= f.input :cns_orientation_abnormal, wrapper_html: {:class=>"primary_assesment_cb"}, collection: ['Vague', 'Drowsy', 'Confused', 'Unconscious'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[cns_orientation_abnormal]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:cns_orientation_abnormal)) %>
            <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
          </th>
        </tr>
        <tr>
          <th width="20%">Emotional Status</th>
          <th class="text-center" width="35%;"><%= f.input :cns_emotinal_status, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[cns_emotinal_status]" }, :checked => ipdrecord.read_attribute(:cns_emotinal_status) || 'Normal' %></th>
          <th width= "60%" class="toggle-head">
            <%= f.input :cns_emotinal_status_abnormal, wrapper_html: {:class=>"primary_assesment_cb"}, collection: ['Anxious', 'Withdrawn', 'Hostile', 'Aggressive'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[cns_emotinal_status_abnormal]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:cns_emotinal_status_abnormal)) %>
            <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
          </th>
        </tr>
        <tr>
          <th width="20%">Memory Intact</th>
          <th class="text-center" width="35%;"><%= f.input :cns_memory_intact, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[cns_memory_intact]" }, :checked => ipdrecord.read_attribute(:cns_memory_intact) || 'Normal' %></th>
          <th width= "60%" class="toggle-head">
            <%= f.input :cns_memory_intact_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Short Term Loss', 'Long Term Loss'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[cns_memory_intact_abnormal]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:cns_memory_intact_abnormal)) %>
            <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
          </th>
        </tr>
        <tr>
          <th width="20%">Speech</th>
          <th class="text-center" width="35%;"><%= f.input :cns_speech_status, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[cns_speech_status]" }, :checked => ipdrecord.read_attribute(:cns_speech_status) || 'Normal' %></th>
          <th width= "60%" class="toggle-head">
            <%= f.input :cns_speech_status_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Anxious', 'Withdrawn', 'Hostile', 'Aggressive'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[cns_speech_status_abnormal]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:cns_speech_status_abnormal)) %>
            <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <div class="mb10" style="text-decoration: underline;">
      CVS :
    </div>
    <table class="table table-bordered primary-assesment">
      <tbody>
        <tr>
          <th width="20%">Heart Sounds</th>
          <th class="text-center" width="35%;"><%= f.input :cvs_heart_sounds_status, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[cvs_heart_sounds_status]" }, :checked => ipdrecord.read_attribute(:cvs_heart_sounds_status) || 'Normal' %></th>
          <th width= "60%" class="toggle-head">
            <%= f.text_field :cvs_heart_sounds_status_abnormal, {class: "primary_assesment_cb form-control", placeholder: "Comment", style:"margin-top: -7px;"} %>
            <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
          </th>
        </tr>
        <tr>
          <th width="20%">Palpable Pulses</th>
          <th class="text-center" width="35%;"><%= f.input :cvs_palpable_pulses_intact, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[cvs_palpable_pulses_intact]" }, :checked => ipdrecord.read_attribute(:cvs_palpable_pulses_intact) || 'Normal' %></th>
          <th width= "60%" class="toggle-head">
            <%= f.input :cvs_palpable_pulses_intact_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Feeble', 'Absent','Right U/L', 'Left U/L','Right L/L', 'Left L/L'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[cvs_palpable_pulses_intact_abnormal]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:cvs_palpable_pulses_intact_abnormal)) %>
            <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
          </th>
        </tr>
        <tr>
          <th width="20%">Peripheral Edema</th>
          <th colspan="2"><%= f.input :cvs_peripheral_edema, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Absent', 'Pitting' ,'Non-Pitting', 'Left' ,'Right'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[cvs_peripheral_edema]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:cvs_peripheral_edema)) %></th>
        </tr>
        <tr>
          <th width="20%">Calf Tenderness</th>
          <th colspan="2"><%= f.input :cvs_calf_tenderness, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Absent', 'Left', 'Right'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[cvs_calf_tenderness]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:cvs_calf_tenderness)) %></th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="mb10" style="text-decoration: underline;">
      GUT :
    </div>
    <table class="table table-bordered primary-assesment">
      <tbody>
        <tr>
          <th width="20%">Urine Output</th>
          <th class="text-center" width="35%;"><%= f.input :gut_urine_output, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[gut_urine_output]" }, :checked => ipdrecord.read_attribute(:gut_urine_output) || 'Normal' %></th>
          <th width= "60%" class="toggle-head">
            <%= f.text_field :gut_urine_output_abnormal, {class:"primary_assesment_cb form-control", placeholder: "Comment", style:"margin-top: -7px;"} %>
            <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
          </th>
        </tr>
        <tr>
          <th width="20%">Bladder Habits</th>
          <th class="text-center" width="35%;"><%= f.input :gut_bladder_habits, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[gut_bladder_habits]" }, :checked => ipdrecord.read_attribute(:gut_bladder_habits) || 'Normal' %></th>
          <th width= "60%" class="toggle-head">
            <%= f.input :gut_bladder_habits_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Incontinence', 'Frequency','Urgency', 'Dribbling','Nocturia', 'Pain', 'Distension'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[gut_bladder_habits_abnormal]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:gut_bladder_habits_abnormal)) %>
            <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <div class="mb10" style="text-decoration: underline;">
      GIT :
    </div>
    <table class="table table-bordered primary-assesment">
      <tbody>
        <tr>
          <th width="20%">Abdomen</th>
          <th colspan="2"><%= f.input :git_abdomen, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Soft', 'Distended', 'Hard', 'Tender', 'Guarding'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[git_abdomen]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:git_abdomen)) %></th>
        </tr>
        <tr>
          <th width="20%">Bowel Movements</th>
          <th class="text-center" width="35%;"><%= f.input :git_bowel_movements, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[git_bowel_movements]" }, :checked => ipdrecord.read_attribute(:git_bowel_movements) || 'Normal' %></th>
          <th width= "60%" class="toggle-head">
            <%= f.input :git_bowel_movements_abnormal, wrapper_html: {:class=>"primary_assesment_cb"}, collection: ['Constipation', 'Diarrhoea', 'Incontinence'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[git_bowel_movements_abnormal]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:git_bowel_movements_abnormal)) %>
            <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="mb10" style="text-decoration: underline;">
      MS :
    </div>
    <table class="table table-bordered primary-assesment">
      <tbody>
        <tr>
          <th width="20%">Extremity Motion</th>
          <th class="text-center" width="35%;"><%= f.input :ms_extreme_motion, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[ms_extreme_motion]" }, :checked => ipdrecord.read_attribute(:ms_extreme_motion) || 'Normal' %></th>
          <th width= "60%" class="toggle-head">
            <%= f.input :ms_extreme_motion_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Painful', 'Restricted','Loss of Power', 'Right U/L','Left U/L', 'Right L/L', 'Left L/L'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[ms_extreme_motion_abnormal]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:ms_extreme_motion_abnormal)) %>
            <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
          </th>
        </tr>
        <tr>
          <th width="20%">Sensation</th>
          <th class="text-center" width="35%;"><%= f.input :ms_sensation, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[ms_sensation]" }, :checked => ipdrecord.read_attribute(:ms_sensation) || 'Normal' %></th>
          <th width= "60%" class="toggle-head">
            <%= f.input :ms_sensation_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Altered', 'Reduced','Absent', 'Hyperaesthesia','Right U/L', 'Left U/L', 'Right L/L', 'Left L/L'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[ms_sensation_abnormal]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:ms_sensation_abnormal)) %>
            <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <div class="mb10" style="text-decoration: underline;">
      SKIN :
    </div>
    <table class="table table-bordered primary-assesment">
      <tbody>
        <tr>
          <th width="20%">Color</th>
          <th class="text-center" width="35%;"><%= f.input :skin_color, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[skin_color]" }, :checked => ipdrecord.read_attribute(:skin_color) || 'Normal' %></th>
          <th width= "60%" class="toggle-head">
            <%= f.input :skin_color_abnormal, wrapper_html: {:class=>"primary_assesment_cb"}, collection: ['Pale', 'Cyanosed'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[skin_color_abnormal]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:skin_color_abnormal)) %>
            <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
          </th>
        </tr>
        <tr>
          <th width="20%">Integrity</th>
          <th class="text-center" width="35%;"><%= f.input :skin_integrity, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[skin_integrity]" }, :checked => ipdrecord.read_attribute(:skin_integrity) || 'Normal' %></th>
          <th width= "60%" class="toggle-head">
            <%= f.input :skin_integrity_abnormal, wrapper_html: {:class=>"primary_assesment_cb"}, collection: ['Poor', 'Pressure Area','Ulcer'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[skin_integrity_abnormal]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:skin_integrity_abnormal)) %>
            <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<style type="text/css">
  .primary-assesment tbody tr th {
    padding:10px 0 0 10px;
  }

  .click-options {
    color:#ddd;
  }
</style>

<script type="text/javascript">
  $(".primary_assesment_rb").on('change', function(){
    if($(this).find('.btn-brown').text() == "Abnormal") {
      $(this).closest('th').siblings('.toggle-head').find('.primary_assesment_cb').show();
      $(this).closest('th').siblings('.toggle-head').find('.click-options').hide();
    } else {
      $(this).closest('th').siblings('.toggle-head').find('.primary_assesment_cb').hide();
      $(this).closest('th').siblings('.toggle-head').find('.click-options').show();
    }
  })
  $('.primary_assesment_rb').trigger('change');
</script>