<div class="row mb20" >
  <div class="col-md-4 col-md-offset-2 panel panel-success">
    <div class="panel-heading" style="padding: 0px">
      <h4 style="color: white;font-weight: 100;text-align: center">R/OD</h4>
    </div>
  </div>
  <div class="col-md-4 col-md-offset-1 panel panel-success">
    <div class="panel-heading" style="padding: 0px">
      <h4 style="color: white;font-weight: 100;text-align: center">L/OS</h4>
    </div>
  </div>
</div>
<div class="row mb20" style="margin-top:20px;">
  <div class="col-md-2">
    History of Present Illness :
  </div>
  <div class="col-md-7">
    <%= f.text_area :r_hpi, {style: "width:135%;", class: "form-control r_hpi",value: @ipdrecord.r_hpi ,rows: "4"} %>
  </div>

</div>
<div class="row mb20" style="margin-top:20px;">
  <div class="col-md-2">
    Refraction :
  </div>
  <div class="col-md-3">
    <%= f.text_area :r_refraction, {style: "width:135%;", class: "form-control r_refraction",value: @ipdrecord.r_refraction ,rows: "2"} %>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-3">
    <%= f.text_area :l_refraction, {style: "width:135%;", class: "form-control l_refraction",value: @ipdrecord.l_refraction ,rows: "2"} %>
  </div>
</div>
<div class="row mb20" style="margin-top:20px;">
  <div class="col-md-2">
    IOP :
  </div>
  <div class="col-md-3">
    <%= f.text_area :r_iop, {style: "width:135%;", class: "form-control r_iop",value: @ipdrecord.r_iop ,rows: "2"} %>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-3">
    <%= f.text_area :l_iop, {style: "width:135%;", class: "form-control l_iop",value: @ipdrecord.l_iop ,rows: "2"} %>
  </div>
</div>
<div class="row mb20" style="margin-top:20px;">
  <div class="col-md-2">
    Appendages :
  </div>
  <div class="col-md-3">
    <%= f.text_area :r_appendages, {style: "width:135%;", class: "form-control r_appendages",value: @ipdrecord.r_appendages ,rows: "2"} %>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-3">
    <%= f.text_area :l_appendages, {style: "width:135%;", class: "form-control l_appendages",value: @ipdrecord.l_appendages ,rows: "2"} %>
  </div>
</div>
<div class="row mb20" style="margin-top:20px;">
  <div class="col-md-2">
    Anterior Segment :
  </div>
  <div class="col-md-3">
    <%= f.text_area :r_anterior, {style: "width:135%;", class: "form-control r_anterior",value: @ipdrecord.r_anterior ,rows: "2"} %>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-3">
    <%= f.text_area :l_anterior, {style: "width:135%;", class: "form-control l_anterior",value: @ipdrecord.l_anterior ,rows: "2"} %>
  </div>
</div>

<div class="row mb20" style="margin-top:20px;">
  <div class="col-md-2">
    Posterior Segment :
  </div>
  <div class="col-md-3">
    <%= f.text_area :r_posterior, {style: "width:135%;", class: "form-control r_posterior",value: @ipdrecord.r_posterior ,rows: "2"} %>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-3">
    <%= f.text_area :l_posterior, {style: "width:135%;", class: "form-control l_posterior",value: @ipdrecord.l_posterior ,rows: "2"} %>
  </div>
</div>

<div class="row mb20" style="margin-top:20px;">
  <div class="col-md-2">
    EOM :
  </div>
  <div class="col-md-3">
    <%= f.text_area :r_eom, {style: "width:135%;", class: "form-control r_eom",value: @ipdrecord.r_eom ,rows: "2"} %>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-3">
    <%= f.text_area :l_eom, {style: "width:135%;", class: "form-control l_eom",value: @ipdrecord.l_eom ,rows: "2"} %>
  </div>
</div>

