<% if opdrecord != nil %>

    <!--counter code-->
    <% examination_counter = 0 %>
    <%romcounter = 0%>
    <% if opdrecord.romsliderrangerightextensionflexion.length > 0 && opdrecord.romsliderrangerightextensionflexion != "0 : 150" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>

    <% end %>
    <% if opdrecord.romsliderrangeleftextensionflexion.length > 0 && opdrecord.romsliderrangeleftextensionflexion != "0 : 150" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangerightsupinationpronation.length > 0 && opdrecord.romsliderrangerightsupinationpronation != "-90 : 80" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangeleftsupinationpronation.length > 0 && opdrecord.romsliderrangeleftsupinationpronation != "-90 : 80" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
        <div class="mb3"></div>
    <% end %>
    <div class="mb3"></div>
    <% unless opdrecord.generalsigns.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.areaaffectedobjective.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.sideobjective.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.skincondition.blank? %>
        <% unless opdrecord.skincondition == "Normal" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.swelling.blank? %>
        <% unless opdrecord.swelling == "None" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.tenderness.blank? %>
        <% unless opdrecord.tenderness == "None" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.deformity.blank? %>
        <% unless opdrecord.deformity == "None" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.supracondylarridges.blank? %>
        <% unless opdrecord.supracondylarridges == "Normal" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>

    <% unless opdrecord.abnormalmobilitylocation.blank? %>
        <% unless opdrecord.abnormalmobilitylocation == "None" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <div class="mb3"></div>
    <% unless opdrecord.distalneurovasculardeficit.blank? %>
        <% unless opdrecord.distalneurovasculardeficit == "Absent" %>
            <% examination_counter = examination_counter+1 %>

        <% end %>
    <% end %>
    <% unless opdrecord.sensorydeficit.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.motordeficit.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.vascualardeficit.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.othersigns.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.objectivecomments.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <!--counter code ends here-->
    <div class="examination mb5" id="examination">
      <%if examination_counter > 0 %>

          <div class="row">
            <strong>EXAMINATION :</strong>
            <div class="summary-line-border"></div>
          </div>
      <%end%>


      <div class="row">
        <div class = "col-md-12">

          <% unless opdrecord.generalsigns.blank? %>
              <b>General Signs</b> of
              <%= opdrecord.read_attribute(:"generalsigns") %>
              |
          <% end %>
          <% unless opdrecord.areaaffectedobjective.blank? %>
              <b>Area Affected :</b>
              <%= opdrecord.read_attribute(:"areaaffectedobjective") %>
              |
          <% end %>
          <% unless opdrecord.sideobjective.blank? %>
              <b>Side :</b>
              <%= opdrecord.read_attribute(:"sideobjective") %>
              |
          <% end %>
          <% unless opdrecord.skincondition.blank? %>
              <% unless opdrecord.skincondition == "Normal" %>
                  <b>Skin Condition :</b>
                  <%= opdrecord.read_attribute(:"skincondition") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.examinationsigns.blank? %>

              <%= opdrecord.read_attribute(:"examinationsigns") %>
              |
          <% end %>
          <% unless opdrecord.swelling.blank? %>
              <% unless opdrecord.swelling == "None" %>
                  <b>Swelling :</b>
                  <%= opdrecord.read_attribute(:"swelling") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.tenderness.blank? %>
              <% unless opdrecord.tenderness == "None" %>
                  <b>Tenderness :</b>
                  <%= opdrecord.read_attribute(:"tenderness") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.deformity.blank? %>
              <% unless opdrecord.deformity == "None" %>
                  <b>Deformity :</b>
                  <%= opdrecord.read_attribute(:"deformity") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.supracondylarridges.blank? %>
              <% unless opdrecord.supracondylarridges == "Normal" %>
                  <b>Supra-condylar ridges :</b>
                  <%= opdrecord.read_attribute(:"supracondylarridges") %>

              <% end %>
          <% end %>
          <% if romcounter > 0 %>
              <b>ROM :</b>
          <%end%>
          <% if opdrecord.romsliderrangerightextensionflexion.length > 0 && opdrecord.romsliderrangerightextensionflexion != "0 : 150" %>

              <b>Right Extension Flexion :</b>
              <%= opdrecord.read_attribute(:"romsliderrangerightextensionflexion") %>
              <%= opdrecord.read_attribute(:"r_romextensionflexion") %>
              <b>,</b>

          <% end %>
          <% if opdrecord.romsliderrangeleftextensionflexion.length > 0 && opdrecord.romsliderrangeleftextensionflexion != "0 : 150" %>
              <b>Left Extension Flexion :</b>
              <%= opdrecord.read_attribute(:"romsliderrangeleftextensionflexion") %>
              <%= opdrecord.read_attribute(:"l_romextensionflexion") %>
              ,
          <% end %>
          <% if opdrecord.romsliderrangerightsupinationpronation.length > 0 && opdrecord.romsliderrangerightsupinationpronation != "-90 : 80" %>
              <b>Right Supination Pronation :</b>
              <%= opdrecord.read_attribute(:"romsliderrangerightsupinationpronation") %>
              <%= opdrecord.read_attribute(:"r_romsupinationpronation") %>
              ,
          <% end %>
          <% if opdrecord.romsliderrangeleftsupinationpronation.length > 0 && opdrecord.romsliderrangeleftsupinationpronation != "-90 : 80" %>
              <b>Left Supination Pronation :</b>
              <%= opdrecord.read_attribute(:"romsliderrangeleftsupinationpronation") %>
              <%= opdrecord.read_attribute(:"l_romsupinationpronation") %>
              <div class="mb3"></div>
          <% end %>


          <% unless opdrecord.abnormalmobilitylocation.blank? %>
              <% unless opdrecord.abnormalmobilitylocation == "None" %>
                  <b>Abnormal mobility-location :</b>
                  <%= opdrecord.read_attribute(:"abnormalmobilitylocation") %>

              <% end %>
          <% end %>
          <div class="mb3"></div>
          <% unless opdrecord.distalneurovasculardeficit.blank? %>
              <% unless opdrecord.distalneurovasculardeficit == "Absent" %>
                  <b>Distal Neurovascular Deficit :</b>
                  <%= opdrecord.read_attribute(:"distalneurovasculardeficit") %>

              <% end %>
          <% end %>
          <% unless opdrecord.sensorydeficit.blank? %>
              <b>Sensory deficit -</b>
              <%= opdrecord.read_attribute(:"sensorydeficit") %>
              |
          <% end %>
          <% unless opdrecord.motordeficit.blank? %>
              <b>Motor deficit -</b>
              <%= opdrecord.read_attribute(:"motordeficit") %>
              |
          <% end %>
          <% unless opdrecord.vascualardeficit.blank? %>
              <b>Vascular deficit :</b>
              <%= opdrecord.read_attribute(:"vascualardeficit") %>
              <div class="mb3"></div>
          <% end %>
          <% unless opdrecord.othersigns.blank? %>
              <b>Other Signs :</b>
              <%= opdrecord.read_attribute(:"othersigns") %>
              <div class="mb3"></div>
          <% end %>
          <% unless opdrecord.objectivecomments.blank? %>
              <li>
                <%= opdrecord.read_attribute(:"objectivecomments") %>
              </li>
              <div class="mb3"></div>
          <% end %>


        </div>
      </div>

    </div>
<% end %>
