<% if opdrecord != nil %>
    <div class="history mb5" id="history">

      <% history_counter = 0 %>
      <% history_finding_1 = "" %>
      <% history_finding_2 = "" %>
      <% history_finding_3 = "" %>
      <% history_finding_4 = "" %>
      <% history_finding_5 = "" %>
      <% history_finding_6 = "" %>
      <% history_finding_7 = "" %>
      <% history_finding_8 = "" %>
      <% history_finding_9 = "" %>
      <% activitylevel = "" %>
      <% professioncomments = "" %>
      <% areaaffected = "" %>
      <% preferredhand = "" %>
      <% sidesubjective = "" %>
      <% isfollowupvisit = "" %>
      <% generalcomplaints = "" %>
      <% ispostoperativecase = "" %>
      <% surgergyperformedcomments = "" %>
      <% surgergydate = "" %>
      <% chiefcomplaint = "" %>
      <% onset = "" %>
      <% etiology = "" %>
      <% durationdays = "" %>
      <% durationmonths = "" %>
      <% durationyears = "" %>
      <% difficulty = "" %>
      <% localtreatmenttaken = "" %>
      <% subjectivecomments = "" %>
      <% othercomplaints = "" %>
      <% personel_history_counter = 0 %>

      <% if @patient.patient_history.patientpersonalhistory.history_comment != "" && @patient.patient_history.patientpersonalhistory.history_comment != nil %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.medical_history_comment != "" && @patient.patient_history.patientpersonalhistory.medical_history_comment != nil %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.family_history_comment != "" && @patient.patient_history.patientpersonalhistory.family_history_comment != nil %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>

      <% if @patient.patient_history.patientpersonalhistory.diabetes == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>

      <% if @patient.patient_history.patientpersonalhistory.hypertension == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>

      <% if @patient.patient_history.patientpersonalhistory.alcoholism == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>

      <% if @patient.patient_history.patientpersonalhistory.smoking_tobacco == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>

      <% if @patient.patient_history.patientpersonalhistory.steroid_intake == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>

      <% if @patient.patient_history.patientpersonalhistory.drug_abuse == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>

      <% if @patient.patient_history.patientpersonalhistory.hiv_aids == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>

      <% if @patient.patient_history.patientpersonalhistory.cancer_tumor == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>

      <% if @patient.patient_history.patientpersonalhistory.cardiac_disorder == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>

      <% if @patient.patient_history.patientpersonalhistory.rheumatoid_arthritis == "true" %>
        <% personel_history_counter = personel_history_counter + 1 %>
      <% end %>

      <% if @patient.patient_history.patientpersonalhistory.tuberculosis == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>

      <% if @patient.patient_history.patientpersonalhistory.asthma == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>

      <% if @patient.patient_history.patientpersonalhistory.cns_disorder_stroke == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>

      <% if @patient.patient_history.patientpersonalhistory.thyroid_disorder == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>

      <% if @patient.patient_history.patientpersonalhistory.hepatitis_cirrhosis == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>

      <% if @patient.patient_history.patientpersonalhistory.renal_disorder == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>

      <% if @patient.patient_history.patientpersonalhistory.acidity == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>

      <% if @patient.patient_history.patientpersonalhistory.on_insulin == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>

      <% if @patient.patient_history.patientpersonalhistory.on_aspirin_blood_thinners == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>

      <% unless opdrecord.sidesubjective.blank? %>
          <% sidesubjective = opdrecord.read_attribute(:"sidesubjective") %>
          <% if sidesubjective == "L" %>
              <% sidesubjective = "Left" %>
          <% elsif sidesubjective == "B/L" %>
              <% sidesubjective = "Bilateral" %>
          <% elsif sidesubjective == "R" %>
              <% sidesubjective = "Right" %>
          <% end %>
          <% history_finding_1 = "#{sidesubjective}" %>
          <% history_counter = history_counter + 1 %>
      <% end %>

      <% unless opdrecord.areaaffected.blank? %>
          <% areaaffected = " #{opdrecord.read_attribute(:"areaaffected")}" %>
          <% history_finding_1 = "#{history_finding_1}#{areaaffected}" %>
          <% history_counter = history_counter + 1 %>
      <% end %>

      <% unless opdrecord.chiefcomplaint.blank? %>
          <% chiefcomplaint = " with complaints of #{opdrecord.read_attribute(:"chiefcomplaint").split(",").join(", ")}" %>
          <% history_finding_1 = "#{history_finding_1}#{chiefcomplaint}." %>
          <% history_counter = history_counter + 1 %>
      <% end %>

      <% unless opdrecord.preferredhand.blank? %>
          <% preferredhand = " Preferred hand- #{opdrecord.read_attribute(:"preferredhand")}" %>
          <% history_finding_1 = "#{history_finding_1}#{preferredhand}" %>
          <% history_counter = history_counter + 1 %>
      <% end %>





      <% unless opdrecord.isfollowupvisit.blank? %>
          <% unless opdrecord.isfollowupvisit == "No" %>
              <% generalcomplaints = "Follow-up visit. Complaints- #{opdrecord.read_attribute(:"generalcomplaints")}" %>
              <% history_finding_3 = "#{history_finding_3}#{generalcomplaints}" %>
              <% history_counter = history_counter + 1 %>
          <% end %>
      <% end %>

      <% unless opdrecord.ispostoperativecase.blank? %>
          <% unless opdrecord.ispostoperativecase == "No" %>
              <% if opdrecord.surgergyperformedcomments.length > 0 %>
                  <% surgergyperformedcomments = "Post-operative case- #{opdrecord.read_attribute(:"surgergyperformedcomments")}" %>
                  <% history_finding_4 = "#{history_finding_4}#{surgergyperformedcomments}" %>
                  <% history_counter = history_counter + 1 %>
              <% end %>
              <% if opdrecord.surgergydate.length > 0 %>
                  <% surgergydate = " on #{opdrecord.read_attribute(:"surgergydate")}" %>
                  <% history_finding_4 = "#{history_finding_4}#{surgergydate}" %>
                  <% history_counter = history_counter + 1 %>
              <% end %>
          <% end %>
      <% end %>

      <% unless opdrecord.onset.blank? %>
          <% onset = "#{opdrecord.read_attribute(:"onset")}" %>
          <% history_finding_5 = "Onset- #{onset}" %>
          <% history_counter = history_counter + 1 %>
      <% end %>
      <% unless opdrecord.etiology.blank? %>
          <% etiology = "#{opdrecord.read_attribute(:"etiology").split(",").join(", ")}" %>
          <% history_finding_5 = "#{history_finding_5}, Etiology- #{etiology}" %>
          <% history_counter = history_counter + 1 %>
      <% end %>

      <% if opdrecord.durationdays.length > 0 %>
          <% durationdays = ActionController::Base.helpers.pluralize(opdrecord.read_attribute(:"durationdays"), 'Day', 'Days') %>
          <% history_finding_5 = "#{history_finding_5}, Complaint(s) since #{durationdays}" %>
          <% history_counter = history_counter + 1 %>
      <% elsif opdrecord.durationmonths.length > 0 %>
          <% durationmonths = ActionController::Base.helpers.pluralize(opdrecord.read_attribute(:"durationmonths"), "Month", "Months") %>
          <% history_finding_5 = "#{history_finding_5}, Complaint(s) since #{durationmonths}" %>
          <% history_counter = history_counter + 1 %>
      <% elsif opdrecord.durationyears.length > 0 %>
          <% durationyears = ActionController::Base.helpers.pluralize(opdrecord.read_attribute(:"durationyears"), 'Year', 'Years') %>
          <% history_finding_5 = "#{history_finding_5}, Complaint(s) since #{durationyears}" %>
          <% history_counter = history_counter + 1 %>
      <% end %>

      <% unless opdrecord.difficulty.blank? %>
          <% difficulty = "#{opdrecord.read_attribute(:"difficulty").split(",").join(", ")}" %>
          <% history_finding_6 = "Difficulty in #{difficulty}." %>
          <% history_counter = history_counter + 1 %>
      <% end %>

      <% unless opdrecord.localtreatmenttaken.blank? %>
          <% unless opdrecord.localtreatmenttaken == "None" %>
              <% localtreatmenttaken = "#{opdrecord.read_attribute(:"localtreatmenttaken").split(",").join(", ")}" %>
              <% history_finding_9 = "Treatment taken- #{localtreatmenttaken}" %>
              <% history_counter = history_counter + 1 %>
          <% end %>
      <% end %>

      <% unless opdrecord.subjectivecomments.blank? %>
          <% subjectivecomments = "#{opdrecord.read_attribute(:"subjectivecomments")}" %>
          <% history_finding_7 = "#{subjectivecomments}" %>
          <% history_counter = history_counter + 1 %>
      <% end %>

      <% unless opdrecord.othercomplaints.blank? %>
          <% othercomplaints = "#{opdrecord.read_attribute(:"othercomplaints").split(",").join(", ")}" %>
          <% history_finding_8 = "#{othercomplaints}" %>
          <% history_counter = history_counter + 1 %>
      <% end %>

      <% unless history_counter <= 0  &&  personel_history_counter <= 0 && (@patient.patient_history.patientpersonalhistory.problems == nil || @patient.patient_history.patientpersonalhistory.problems == [] ) && @patient.patient_history.patientallergyhistory.antimicrobialagents == [] && @patient.patient_history.patientallergyhistory.antifungalagents ==[] && @patient.patient_history.patientallergyhistory.antiviralagents ==[] &&  @patient.patient_history.patientallergyhistory.nsaids ==[] && @patient.patient_history.patientallergyhistory.eyedrops ==[] &&  @patient.patient_history.patientallergyhistory.contact ==[] &&  @patient.patient_history.patientallergyhistory.food ==[] &&  @patient.patient_history.patientallergyhistory.others==""  %>

          <div class="row">
            <strong>HISTORY</strong>
            <div class="summary-line-border"></div>
          </div>
      <% end %>

      <% if @patient.patient_history.patientpersonalhistory != nil || @patient.patient_history.patientallergyhistory !=nil %>
          <%= render partial: "templates/common/allergies_view.html.erb" %>
      <% end %>

      <% if history_counter > 0 %>
          <div class="row">
            <div class="col-md-12">

              <% if history_finding_1.length > 0 %>
                  <%= history_finding_1 %>
                  <div class="mb3"></div>
              <% end %>

              <% if history_finding_2.length > 0 %>
                  <%= history_finding_2 %>
                  <div class="mb3"></div>
              <% end %>

              <% if history_finding_3.length > 0 %>
                  <%= history_finding_3 %>
                  <div class="mb3"></div>
              <% end %>

              <% if history_finding_4.length > 0 %>
                  <%= history_finding_4 %>
                  <div class="mb3"></div>
              <% end %>

              <% if history_finding_5.length > 0 %>
                  <%= history_finding_5 %>
                  <div class="mb3"></div>
              <% end %>

              <% if history_finding_6.length > 0 %>
                  <%= history_finding_6 %>
                  <div class="mb3"></div>
              <% end %>

              <% if history_finding_9.length > 0 %>
                  <%= history_finding_9 %>
                  <div class="mb3"></div>
              <% end %>

              <% if history_finding_7.length > 0 %>
                  <%= history_finding_7 %>
                  <div class="mb3"></div>
              <% end %>

              <% if history_finding_8.length > 0 %>
                  <%= history_finding_8 %>
                  <div class="mb3"></div>
              <% end %>

            </div>
          </div>
      <% end %>

    </div>
<% end %>