<% if opdrecord != nil %>

    <!--counter code-->
    <% examination_counter = 0 %>
    <%romcounter = 0%>
    <% if opdrecord.romsliderrangerightdorsiplantarflexion.length > 0 && opdrecord.romsliderrangerightdorsiplantarflexion != "-20 : 50" %>
        <% examination_counter = examination_counter+1 %>
        <%romcounter = romcounter+1%>

    <% end %>
    <% if opdrecord.romsliderrangeleftdorsiplantarflexion.length > 0 && opdrecord.romsliderrangeleftdorsiplantarflexion != "-20 : 50" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangerightinversioneversion.length > 0 && opdrecord.romsliderrangerightinversioneversion != "-35 : 15" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangeleftinversioneversion.length > 0 && opdrecord.romsliderrangeleftinversioneversion != "-35 : 15" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
        <div class="mb3"></div>
    <% end %>
    <% unless opdrecord.generalsigns.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.areaaffectedobjective.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.sideobjective.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.location.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.footarches.blank? %>
        <% unless opdrecord.footarches == "Normal" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.skincondition.blank? %>
        <% unless opdrecord.skincondition == "Normal" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.nails.blank? %>
        <% unless opdrecord.nails == "Normal" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.ankleinstability.blank? %>
        <% if opdrecord.ankleinstability == "Yes" %>
            <% examination_counter = examination_counter+1 %>

        <% end %>
    <% end %>
    <% unless opdrecord.nerveentrapment.blank? %>
        <% unless opdrecord.nerveentrapment == "None" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.distalneurovasculardeficit.blank? %>
        <% unless opdrecord.distalneurovasculardeficit == "No" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.othersigns.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.objectivecomments.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.llneurologicexamination.blank? %>
        <% unless opdrecord.llneurologicexamination == "Normal" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.spineexamination.blank? %>
        <% unless opdrecord.spineexamination == "Normal" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.hipexamination.blank? %>
        <% unless opdrecord.hipexamination == "Normal" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.kneeexamination.blank? %>
        <% unless opdrecord.kneeexamination == "Normal" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.lld.blank? %>
        <% unless opdrecord.lld == "Absent" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <!--counter code ends here-->

    <div class="examination mb5" id="examination">
      <%if examination_counter > 0 %>

          <div class="row">
            <strong>EXAMINATION :</strong>
            <div class="summary-line-border"></div>

          </div>
      <%end%>

      <div class="row">

        <div class="col-mb-12"> <% unless opdrecord.generalsigns.blank? %>
              <b>General Signs :</b>
              <%= opdrecord.read_attribute(:"generalsigns") %>
              |
          <% end %>
          <% unless opdrecord.areaaffectedobjective.blank? %>
              <b>Area Affected :</b>
              <%= opdrecord.read_attribute(:"areaaffectedobjective") %>
              |
          <% end %>
          <% unless opdrecord.sideobjective.blank? %>
              <b>Side :</b>
              <%= opdrecord.read_attribute(:"sideobjective") %>
              <div class="mb3"></div>
          <% end %>
          <% unless opdrecord.location.blank? %>
              <b>Location :</b>
              <%= opdrecord.read_attribute(:"location") %>
              |
          <% end %>
          <% unless opdrecord.footarches.blank? %>
              <% unless opdrecord.footarches == "Normal" %>
                  <b>Foot arches :</b>
                  <%= opdrecord.read_attribute(:"footarches") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.skincondition.blank? %>
              <% unless opdrecord.skincondition == "Normal" %>
                  <b>Skin Condition :</b>
                  <%= opdrecord.read_attribute(:"skincondition") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.nails.blank? %>
              <% unless opdrecord.nails == "Normal" %>
                  <b>Nails :</b>
                  <%= opdrecord.read_attribute(:"nails") %>
                  <div class="mb3"></div>
              <% end %>
          <% end %>
          <% unless opdrecord.examinationsigns.blank? %>
              <b>Examination Signs:</b>
              <%= opdrecord.read_attribute(:"examinationsigns") %>
              <div class="mb3"></div>
          <% end %>



          <div class="mb3"></div>
          <% if romcounter > 0 %>
              <b>ROM :</b>
          <%end%>
          <% if opdrecord.romsliderrangerightdorsiplantarflexion.length > 0 && opdrecord.romsliderrangerightdorsiplantarflexion != "-20 : 50" %>

              <b>Right Doris-Plantar Flexion :</b>
              <%= opdrecord.read_attribute(:"romsliderrangerightdorsiplantarflexion") %>:
              <%= opdrecord.read_attribute(:"r_romdorsiplantarflexion") %>
              <b>,</b>

          <% end %>
          <% if opdrecord.romsliderrangeleftdorsiplantarflexion.length > 0 && opdrecord.romsliderrangeleftdorsiplantarflexion != "-20 : 50" %>
              <b>Left Doris-Plantar Flexion :</b>
              <%= opdrecord.read_attribute(:"romsliderrangeleftdorsiplantarflexion") %>
              :
              <%= opdrecord.read_attribute(:"l_romdorsiplantarflexion") %>,
          <% end %>
          <% if opdrecord.romsliderrangerightinversioneversion.length > 0 && opdrecord.romsliderrangerightinversioneversion != "-35 : 15" %>
              <b>Right Inversion-Eversion :</b>
              <%= opdrecord.read_attribute(:"romsliderrangerightinversioneversion") %>
              :<%= opdrecord.read_attribute(:"r_rominversioneversion") %>,
          <% end %>
          <% if opdrecord.romsliderrangeleftinversioneversion.length > 0 && opdrecord.romsliderrangeleftinversioneversion != "-35 : 15" %>
              <b>Left Inversion-Eversion :</b>
              <%= opdrecord.read_attribute(:"romsliderrangeleftinversioneversion") %>
              :<%= opdrecord.read_attribute(:"l_rominversioneversion") %>
              <div class="mb3"></div>
          <% end %>




          <% unless opdrecord.ankleinstability.blank? %>
              <% if opdrecord.ankleinstability == "Yes" %>
                  <b>Ankle Instability :</b> Positive test-
                  <%= opdrecord.read_attribute(:"ankleinstabilitytests") %>
                  |

              <% end %>
          <% end %>
          <% unless opdrecord.nerveentrapment.blank? %>
              <% unless opdrecord.nerveentrapment == "None" %>
                  <b>Nerve Entrapment :</b>
                  <%= opdrecord.read_attribute(:"nerveentrapment") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.distalneurovasculardeficit.blank? %>
              <% unless opdrecord.distalneurovasculardeficit == "No" %>
                  <b>Distal Neurovascular Deficit :</b>
                  <%= opdrecord.read_attribute(:"distalneurovasculardeficit") %>
                  <div class="mb3"></div>
              <% end %>
          <% end %>
          <% unless opdrecord.othersigns.blank? %>
              <b>Other Signs :</b>
              <%= opdrecord.read_attribute(:"othersigns") %>
              <div class="mb3"></div>
          <% end %>
          <% unless opdrecord.objectivecomments.blank? %>
              <li>
                <%= opdrecord.read_attribute(:"objectivecomments") %>
              </li>
              <div class="mb3"></div>
          <% end %>
          <% unless opdrecord.llneurologicexamination.blank? %>
              <% unless opdrecord.llneurologicexamination == "Normal" %>
                  <b>L/L Neurologic examination :</b>
                  <%= opdrecord.read_attribute(:"llneurologicexamination") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.spineexamination.blank? %>
              <% unless opdrecord.spineexamination == "Normal" %>
                  <b>Spine examination :</b>
                  <%= opdrecord.read_attribute(:"spineexamination") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.hipexamination.blank? %>
              <% unless opdrecord.hipexamination == "Normal" %>
                  <b>Hip examination :</b>
                  <%= opdrecord.read_attribute(:"hipexamination") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.kneeexamination.blank? %>
              <% unless opdrecord.kneeexamination == "Normal" %>
                  <b>Knee examination :</b>
                  <%= opdrecord.read_attribute(:"kneeexamination") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.lld.blank? %>
              <% unless opdrecord.lld == "Absent" %>
                  <b>LLD :</b>
                  <%= opdrecord.read_attribute(:"lld") %>
                  <div class="mb3"></div>
              <% end %>
          <% end %>

        </div>

      </div>

    </div>
<% end %>
