<% if opdrecord != nil %>
    <!--counter code-->
    <% examination_counter = 0 %>
    <%romcounter = 0%>
    <% unless opdrecord.generalsigns.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.areaaffectedobjective.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.sideobjective.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.gait.blank? %>
        <% unless opdrecord.gait == "Normal" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.skincondition.blank? %>
        <% unless opdrecord.skincondition == "Normal" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.tenderness.blank? %>
        <% unless opdrecord.tenderness == "None" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.gt.blank? %>
        <% unless opdrecord.gt == "Normal" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.deformity.blank? %>
        <% unless opdrecord.deformity == "None" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>

    <% if opdrecord.romsliderrangerightextensionflexion.length > 0 && opdrecord.romsliderrangerightextensionflexion != "-30 : 140" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangeleftextensionflexion.length > 0 && opdrecord.romsliderrangeleftextensionflexion != "-30 : 140" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangerightadductionabduction.length > 0 && opdrecord.romsliderrangerightadductionabduction != "-30 : 45" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangeleftadductionabduction.length > 0 && opdrecord.romsliderrangeleftadductionabduction != "-30 : 45" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangerightirer.length > 0 && opdrecord.romsliderrangerightirer != "-40 : 45" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangeleftirer.length > 0 && opdrecord.romsliderrangeleftirer != "-40 : 45" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.wasting.blank? %>
        <% unless opdrecord.wasting == "None" %>
            <%romcounter = romcounter+1%>
        <% end %>
    <% end %>
    <% unless opdrecord.sijointpathology.blank? %>
        <% if opdrecord.sijointpathology == "Yes" %>
            <%romcounter = romcounter+1%>
        <% end %>
    <% end %>
    <% unless opdrecord.ankylosingspondylitissigns.blank? %>
        <% if opdrecord.ankylosingspondylitissigns == "Yes" %>
            <%romcounter = romcounter+1%>
        <% end %>
    <% end %>
    <% unless opdrecord.distalneurovasculardeficit.blank? %>
        <% unless opdrecord.distalneurovasculardeficit == "Absent" %>
            <%romcounter = romcounter+1%>
        <% end %>
    <% end %>
    <% unless opdrecord.othersigns.blank? %>
        <%romcounter = romcounter+1%>
    <% end %>
    <% unless opdrecord.objectivecomments.blank? %>
        <%romcounter = romcounter+1%>
    <% end %>

    <!--counter code ends here-->

    <div class="examination mb5" id="examination">
      <%if examination_counter > 0 %>

          <div class="row">
            <strong>EXAMINATION :</strong>
            <div class="summary-line-border"></div>

          </div>
      <%end%>

      <div class="row">

        <div class="col-md-12">

          <% unless opdrecord.generalsigns.blank? %>
              <b>General Signs :</b>
              <%= opdrecord.read_attribute(:"generalsigns") %>
              |
          <% end %>
          <% unless opdrecord.areaaffectedobjective.blank? %>
              <b>Area Affected :</b>
              <%= opdrecord.read_attribute(:"areaaffectedobjective") %>
              |
          <% end %>
          <% unless opdrecord.sideobjective.blank? %>
              <b>Side :</b>
              <%= opdrecord.read_attribute(:"sideobjective") %>
              |
          <% end %>
          <% unless opdrecord.gait.blank? %>
              <% unless opdrecord.gait == "Normal" %>
                  <b>Gait :</b>
                  <%= opdrecord.read_attribute(:"gait") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.skincondition.blank? %>
              <% unless opdrecord.skincondition == "Normal" %>
                  <b>Skin Condition :</b>
                  <%= opdrecord.read_attribute(:"skincondition") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.examinationsigns.blank? %>

              <%= opdrecord.read_attribute(:"examinationsigns") %>
              |
          <% end %>
          <% unless opdrecord.tenderness.blank? %>
              <% unless opdrecord.tenderness == "None" %>
                  <b>Tenderness :</b>
                  <%= opdrecord.read_attribute(:"tenderness") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.gt.blank? %>
              <% unless opdrecord.gt == "Normal" %>
                  <b>GT :</b>
                  <%= opdrecord.read_attribute(:"gt") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.deformity.blank? %>
              <% unless opdrecord.deformity == "None" %>
                  <b>Deformity :</b>
                  <%= opdrecord.read_attribute(:"deformity") %>

              <% end %>
          <% end %>

          <div class="mb3"></div>
          <% if romcounter > 0 %>
              <b>ROM :</b>
              <div class="summary-line-border"></div>
          <%end%>
          <% if opdrecord.romsliderrangerightextensionflexion.length > 0 && opdrecord.romsliderrangerightextensionflexion != "-30 : 140" %>
              <b>Right Extension-Flexion :</b>
              <%= opdrecord.read_attribute(:"romsliderrangerightextensionflexion") %>
              <%= opdrecord.read_attribute(:"r_romextensionflexion") %>
              <b>,</b>

          <% end %>
          <% if opdrecord.romsliderrangeleftextensionflexion.length > 0 && opdrecord.romsliderrangeleftextensionflexion != "-30 : 140" %>
              <b>Left Extension-Flexion :</b>
              <%= opdrecord.read_attribute(:"romsliderrangeleftextensionflexion") %>
              <%= opdrecord.read_attribute(:"l_romextensionflexion") %>
              ,
          <% end %>
          <% if opdrecord.romsliderrangerightadductionabduction.length > 0 && opdrecord.romsliderrangerightadductionabduction != "-30 : 45" %>
              <b>Right Adduction-Abduction :</b>
              <%= opdrecord.read_attribute(:"romsliderrangerightadductionabduction") %>
              <%= opdrecord.read_attribute(:"r_romadductionabduction") %>
              ,
          <% end %>
          <% if opdrecord.romsliderrangeleftadductionabduction.length > 0 && opdrecord.romsliderrangeleftadductionabduction != "-30 : 45" %>
              <b>Left  Adduction-Abduction :</b>
              <%= opdrecord.read_attribute(:"romsliderrangeleftadductionabduction") %>
              <%= opdrecord.read_attribute(:"l_romadductionabduction") %>

          <% end %>
          <% if opdrecord.romsliderrangerightirer.length > 0 && opdrecord.romsliderrangerightirer != "-40 : 45" %>
              <b>Right IR-ER :</b>
              <%= opdrecord.read_attribute(:"romsliderrangerightirer") %>
              <%= opdrecord.read_attribute(:"r_romirer") %>
              ,
          <% end %>
          <% if opdrecord.romsliderrangeleftirer.length > 0 && opdrecord.romsliderrangeleftirer != "-40 : 45" %>
              <b>Left  IR-ER :</b>
              <%= opdrecord.read_attribute(:"romsliderrangeleftirer") %>
              <%= opdrecord.read_attribute(:"l_romirer") %>

          <% end %>
          <div class="mb3"></div>
          <% unless opdrecord.wasting.blank? %>
              <% unless opdrecord.wasting == "None" %>
                  <b>Wasting :</b>
                  <%= opdrecord.read_attribute(:"wasting") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.sijointpathology.blank? %>
              <% if opdrecord.sijointpathology == "Yes" %>
                  <b>SI joint pathology :</b> Positive test-
                  <%= opdrecord.read_attribute(:"sijointpathologytests") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.ankylosingspondylitissigns.blank? %>
              <% if opdrecord.ankylosingspondylitissigns == "Yes" %>
                  <b>Ankylosing Spondylitis signs :</b>Abnormal test -
                  <%= opdrecord.read_attribute(:"ankylosingspondylitissignstests") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.distalneurovasculardeficit.blank? %>
              <% unless opdrecord.distalneurovasculardeficit == "Absent" %>
                  <b>Distal Neurovascular Deficit :</b>
                  <%= opdrecord.read_attribute(:"distalneurovasculardeficit") %>
                  <div class="mb3"></div>
              <% end %>
          <% end %>
          <% unless opdrecord.othersigns.blank? %>
              <b>Other Signs :</b>
              <%= opdrecord.read_attribute(:"othersigns") %>
              <div class="mb3"></div>
          <% end %>
          <% unless opdrecord.objectivecomments.blank? %>
              <li>
                <%= opdrecord.read_attribute(:"objectivecomments") %>
              </li>
              <div class="mb3"></div>
          <% end %>

        </div>

      </div>

    </div>
<% end %>