<div class="row mb20" style="margin-top:20px;">
  <div class="col-md-2 ">
    Weight(Kg) :    
  </div>
  <div class="col-md-2">
    <%= f.number_field :patient_weight, { style: "margin-top:-2px;", min: "0" } %>
  </div>
  <div class="col-md-2 ">
    Height(cm)
  </div>
  <div class="col-md-2">
    <%= f.number_field :patient_height, { style: "margin-top:-2px;", min: "0" } %>
  </div>
  <div class="col-md-2 ">
    Temperature(&deg;F) :
  </div>
  <div class="col-md-2">
    <%= f.text_field :patient_temperature, { style: "margin-top:-2px;" } %>
  </div>
</div>

<div class="row mb20">
  <div class="col-md-2 ">
    Pulse(/min) :
  </div>
  <div class="col-md-2">
    <%= f.text_field :patient_pulse, { style: "margin-top:-2px;" } %>
  </div>
  <div class="col-md-2 ">
    Blood Pressure(mm Hg) :
  </div>
  <div class="col-md-2">
    <%= f.text_field :patient_bp, { style: "margin-top:-2px;" } %>
  </div>
  <div class="col-md-2 ">
    Respiration Rate(/min) :
  </div>
  <div class="col-md-2">
    <%= f.text_field :patient_respiration_rate, { style: "margin-top:-2px;" } %>
  </div>
</div>

<div class="row mb20" style="margin-top:30px;">
  <div class="col-md-2 ">
    Accompanied by Relative :
  </div>
  <div class="col-md-1">
    <%= f.input :patient_accompanied, wrapper_html: {:class=>"yes-no"}, collection: ['Yes', 'No'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[patient_accompanied]" }, :checked => ipdrecord.read_attribute(:patient_accompanied) %>
  </div>
  <div class="col-md-1">
    Allergies :
  </div>
  <div class="col-md-3">
    <%= f.input :patient_allergies, collection: [ 'None', 'Medication', 'Food', 'Dust', 'Others' ], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white r-chiefcomplaint', :input_html => {:name => "inpatient_ipd_record[patient_allergies]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:patient_allergies)) %>
  </div>
</div>
<div class="row mb20" style="margin-top:30px;">
  <div class="col-md-2">
    Ambulation :
  </div>
  <div class="col-md-10">
    <%= f.input :patient_ambulation, wrapper_html: {:class=>"yes-no"}, collection: ['Independent', 'Walker', 'Crutches', 'Walking stick', 'WheelChair', 'Stretcher'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[patient_ambulation]" }, :checked => ipdrecord.read_attribute(:patient_ambulation) %>
  </div>
</div>
<div class="row mb20">
    <div class="col-md-2" style="text-decoration: underline;">
      PROSTHETIC AIDS
    </div>
</div>
  <div class="row mb20">
    <div class="col-md-2">
      Visual :
    </div>
    <div class="col-md-4">
      <%= f.input :prosthetic_visual, collection: [ 'Glasses', 'Contact Lenses', 'Sight Impaired', 'Eye Prosthetic' ], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white r-chiefcomplaint', :input_html => {:name => "inpatient_ipd_record[prosthetic_visual]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:prosthetic_visual)) %>  
    </div>
    <div class="col-md-1 ">
      Hearing :
    </div>
    <div class="col-md-2">
      <%= f.input :prosthetic_hearing, collection: [ 'Left', 'Right' ], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white r-chiefcomplaint', :input_html => {:name => "inpatient_ipd_record[prosthetic_hearing]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:prosthetic_hearing)) %>
    </div>
    <div class="col-md-1">
      Dentures :
    </div>
    <div class="col-md-2">
      <%= f.input :prosthetic_dentures, collection: [ 'Upper', 'Lower', 'Partial', 'Full' ], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white r-chiefcomplaint', :input_html => {:name => "inpatient_ipd_record[prosthetic_dentures]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:prosthetic_dentures)) %>
    </div>
  </div>

<div class="row mb20">
    <div class="col-md-2 " style="text-decoration: underline;">
      ABILITY TO PERFORM ADL
    </div>
</div>
<div class="row mb20">
    <div class="col-md-2 ">
      Bathing :
    </div>
    <div class="col-md-3">
      <%= f.input :ability_bathing, collection: [ 'Independent', 'Assisted', 'Dependent' ], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[ability_bathing]" }, :checked => ipdrecord.read_attribute(:ability_bathing) %>
    </div>
    <div class="col-md-2 ">
      Dressing :
    </div>
    <div class="col-md-4">
      <%= f.input :ability_dressing, collection: [ 'Independent', 'Assisted', 'Dependent' ], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[ability_dressing]" }, :checked => ipdrecord.read_attribute(:ability_dressing) %>
    </div>
    <div class="col-md-2 ">
      Eating :
    </div>
    <div class="col-md-3">
      <%= f.input :ability_eating, collection: [ 'Independent', 'Assisted', 'Dependent' ], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[ability_eating]" }, :checked => ipdrecord.read_attribute(:ability_eating) %>
    </div>
    <div class="col-md-2 ">
      Walking :
    </div>
    <div class="col-md-4">
      <%= f.input :ability_walking, collection: [ 'Independent', 'Assisted', 'Dependent' ], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[ability_walking]" }, :checked => ipdrecord.read_attribute(:ability_walking) %>
    </div>
    <div class="col-md-2 ">
      Toilet Use :
    </div>
    <div class="col-md-3">
      <%= f.input :ability_toilet_use, collection: [ 'Independent', 'Assisted', 'Dependent' ], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[ability_toilet_use]" }, :checked => ipdrecord.read_attribute(:ability_toilet_use) %>
    </div>
</div>

<div class="row mb10">
  <div class="col-md-2 ">
    Diet Needs :
  </div>
  <div class="col-md-3">
    <%= f.text_area :diet_needs, {style: "width:125%;", class: "form-control"} %>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-2 ">
    Current Medications :
  </div>
  <div class="col-md-3">
    <%= f.text_area :current_medications, {style: "width:125%;", class: "form-control"} %>
  </div>
</div>