<% if patient.patient_history? %>
    <% if patient.patient_history.patientpersonalhistory? %>
        <% personel_history_counter = 0 %>
        <% if @patient.patient_history.patientpersonalhistory.history_comment != "" && @patient.patient_history.patientpersonalhistory.history_comment != nil %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>
        <% if @patient.patient_history.patientpersonalhistory.medical_history_comment != "" && @patient.patient_history.patientpersonalhistory.medical_history_comment != nil %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>
        <% if @patient.patient_history.patientpersonalhistory.family_history_comment != "" && @patient.patient_history.patientpersonalhistory.family_history_comment != nil %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>
        <% if @patient.patient_history.patientpersonalhistory.opthal_history_comment != "" && @patient.patient_history.patientpersonalhistory.opthal_history_comment != nil %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if @patient.patient_history.patientpersonalhistory.history_comment != "" && @patient.patient_history.patientpersonalhistory.history_comment != nil %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if @patient.patient_history.patientpersonalhistory.glaucoma == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if @patient.patient_history.patientpersonalhistory.retinal_detachment == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if @patient.patient_history.patientpersonalhistory.retinal_dystrophies == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if @patient.patient_history.patientpersonalhistory.glasses == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if @patient.patient_history.patientpersonalhistory.ocular_disease == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if @patient.patient_history.patientpersonalhistory.ocular_surgery == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if @patient.patient_history.patientpersonalhistory.eye_surgery == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if @patient.patient_history.patientpersonalhistory.eye_disease == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if @patient.patient_history.patientpersonalhistory.consanguinity == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if @patient.patient_history.patientpersonalhistory.uveitis == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if @patient.patient_history.patientpersonalhistory.retinal_laser == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.diabetes == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.hypertension == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.alcoholism == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.smoking_tobacco == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.steroid_intake == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.drug_abuse == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.hiv_aids == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.cancer_tumor == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.cardiac_disorder == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if @patient.patient_history.patientpersonalhistory.rheumatoid_arthritis == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
        <% end %>

        <% if patient.patient_history.patientpersonalhistory.tuberculosis == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.asthma == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.cns_disorder_stroke == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.thyroid_disorder == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.hepatitis_cirrhosis == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.renal_disorder == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.acidity == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.on_insulin == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.on_aspirin_blood_thinners == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if personel_history_counter > 0 %>

            <% if @patient.patient_history.patientpersonalhistory.glaucoma == "true" %>
                <h5 class="list-group-item-heading"><label class='label label-warning'>
                  Glaucoma <%unless @patient.patient_history.patientpersonalhistory.glaucoma_duration == "" || @patient.patient_history.patientpersonalhistory.glaucoma_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.glaucoma_duration%><%=@patient.patient_history.patientpersonalhistory.glaucoma_duration_unit%>
                </label></h5>
            <%end%>

            <% if @patient.patient_history.patientpersonalhistory.retinal_detachment == "true" %>
                <h5 class="list-group-item-heading"><label class='label label-warning'>
                  Retinal Detachment <%unless @patient.patient_history.patientpersonalhistory.retinal_detachment_duration == "" || @patient.patient_history.patientpersonalhistory.retinal_detachment_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.retinal_detachment_duration%><%=@patient.patient_history.patientpersonalhistory.retinal_detachment_duration_unit%>
                </label></h5>
            <%end%>

            <% if @patient.patient_history.patientpersonalhistory.retinal_dystrophies == "true" %>
                <h5 class="list-group-item-heading"><label class='label label-warning'>
                  Retinal Dystrophies <%unless @patient.patient_history.patientpersonalhistory.retinal_dystrophies_duration == "" || @patient.patient_history.patientpersonalhistory.retinal_dystrophies_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.retinal_dystrophies_duration%><%=@patient.patient_history.patientpersonalhistory.retinal_dystrophies_duration_unit%>
                </label></h5>
            <%end%>

            <% if @patient.patient_history.patientpersonalhistory.glasses == "true" %>
                <h5 class="list-group-item-heading"><label class='label label-warning'>
                  Glasses <%unless @patient.patient_history.patientpersonalhistory.glasses_duration == "" || @patient.patient_history.patientpersonalhistory.glasses_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.glasses_duration%><%=@patient.patient_history.patientpersonalhistory.glasses_duration_unit%>
                </label></h5>
            <%end%>

            <% if @patient.patient_history.patientpersonalhistory.ocular_disease == "true" %>
                <h5 class="list-group-item-heading"><label class='label label-warning'>
                  Ocular disease <%unless @patient.patient_history.patientpersonalhistory.ocular_disease_duration == "" || @patient.patient_history.patientpersonalhistory.ocular_disease_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.ocular_disease_duration%><%=@patient.patient_history.patientpersonalhistory.ocular_disease_duration_unit%>
                </label></h5>
            <%end%>

            <% if @patient.patient_history.patientpersonalhistory.ocular_surgery == "true" %>
                <h5 class="list-group-item-heading"><label class='label label-warning'>
                  Ocular surgery <%unless @patient.patient_history.patientpersonalhistory.ocular_surgery_duration == "" || @patient.patient_history.patientpersonalhistory.ocular_surgery_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.ocular_surgery_duration%><%=@patient.patient_history.patientpersonalhistory.ocular_surgery_duration_unit%>
                </label></h5>
            <%end%>

            <% if @patient.patient_history.patientpersonalhistory.eye_surgery == "true" %>
                <h5 class="list-group-item-heading"><label class='label label-warning'>
                  Eye surgery <%unless @patient.patient_history.patientpersonalhistory.eye_surgery_duration == "" || @patient.patient_history.patientpersonalhistory.eye_surgery_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.eye_surgery_duration%><%=@patient.patient_history.patientpersonalhistory.eye_surgery_duration_unit%>
                </label></h5>
            <%end%>

            <% if @patient.patient_history.patientpersonalhistory.eye_disease == "true" %>
                <h5 class="list-group-item-heading"><label class='label label-warning'>
                  Eye disease <%unless @patient.patient_history.patientpersonalhistory.eye_disease_duration == "" || @patient.patient_history.patientpersonalhistory.eye_disease_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.eye_disease_duration%><%=@patient.patient_history.patientpersonalhistory.eye_disease_duration_unit%>
                </label></h5>
            <%end%>

            <% if @patient.patient_history.patientpersonalhistory.consanguinity == "true" %>
                <h5 class="list-group-item-heading"><label class='label label-warning'>
                  Consanguinity <%unless @patient.patient_history.patientpersonalhistory.consanguinity_duration == "" || @patient.patient_history.patientpersonalhistory.consanguinity_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.consanguinity_duration%><%=@patient.patient_history.patientpersonalhistory.consanguinity_duration_unit%>
                </label></h5>
            <%end%>

            <% if @patient.patient_history.patientpersonalhistory.uveitis == "true" %>
                <h5 class="list-group-item-heading"><label class='label label-warning'>
                  Uveitis <%unless @patient.patient_history.patientpersonalhistory.uveitis_duration == "" || @patient.patient_history.patientpersonalhistory.uveitis_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.uveitis_duration%><%=@patient.patient_history.patientpersonalhistory.uveitis_duration_unit%>
                </label></h5>
            <%end%>

            <% if @patient.patient_history.patientpersonalhistory.retinal_laser == "true" %>
                <h5 class="list-group-item-heading"><label class='label label-warning'>
                  Retinal Laser <%unless @patient.patient_history.patientpersonalhistory.retinal_laser_duration == "" || @patient.patient_history.patientpersonalhistory.retinal_laser_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.retinal_laser_duration%><%=@patient.patient_history.patientpersonalhistory.retinal_laser_duration_unit%>
                </label></h5>
            <%end%>

            <% if @patient.patient_history.patientpersonalhistory.diabetes == "true" %>
                <h5 class="list-group-item-heading"><label class='label label-warning'>
                  Diabetes <%unless @patient.patient_history.patientpersonalhistory.diabetes_duration == "" || @patient.patient_history.patientpersonalhistory.diabetes_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.diabetes_duration%><%=@patient.patient_history.patientpersonalhistory.diabetes_duration_unit%>
                </label></h5>
            <%end%>

            <% if @patient.patient_history.patientpersonalhistory.hypertension == "true" %>
                <h5 class="list-group-item-heading"><label class='label label-warning'>
                  Hypertension <%unless @patient.patient_history.patientpersonalhistory.hypertension_duration == "" || @patient.patient_history.patientpersonalhistory.hypertension_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.hypertension_duration%><%=@patient.patient_history.patientpersonalhistory.hypertension_duration_unit%>
                </label></h5>
            <%end%>

            <% if @patient.patient_history.patientpersonalhistory.alcoholism == "true" %>
                <h5 class="list-group-item-heading"><label class='label label-warning'>
                  Alcoholism <%unless @patient.patient_history.patientpersonalhistory.alcoholism_duration == "" || @patient.patient_history.patientpersonalhistory.alcoholism_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.alcoholism_duration%><%=@patient.patient_history.patientpersonalhistory.alcoholism_duration_unit%>
                </label></h5>
            <%end%>

            <% if @patient.patient_history.patientpersonalhistory.smoking_tobacco == "true" %>
                <h5 class="list-group-item-heading"><label class='label label-warning'>
                  Smoking/Tobacco <%unless @patient.patient_history.patientpersonalhistory.smoking_tobacco_duration == "" || @patient.patient_history.patientpersonalhistory.smoking_tobacco_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.smoking_tobacco_duration%><%=@patient.patient_history.patientpersonalhistory.smoking_tobacco_duration_unit%>
                </label></h5>
            <%end%>

            <% if @patient.patient_history.patientpersonalhistory.steroid_intake == "true" %>
                <h5 class="list-group-item-heading"><label class='label label-warning'>
                  Steroid Intake <%unless @patient.patient_history.patientpersonalhistory.steroid_intake_duration == "" || @patient.patient_history.patientpersonalhistory.steroid_intake_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.steroid_intake_duration%><%=@patient.patient_history.patientpersonalhistory.steroid_intake_duration_unit%>
                </label></h5>
            <%end%>

            <% if @patient.patient_history.patientpersonalhistory.drug_abuse == "true" %>
                <h5 class="list-group-item-heading"><label class='label label-warning'>
                  Drug Abuse <%unless @patient.patient_history.patientpersonalhistory.drug_abuse_duration == "" || @patient.patient_history.patientpersonalhistory.drug_abuse_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.drug_abuse_duration%><%=@patient.patient_history.patientpersonalhistory.drug_abuse_duration_unit%>
                </label></h5>
            <%end%>

            <% if @patient.patient_history.patientpersonalhistory.hiv_aids == "true" %>
                <h5 class="list-group-item-heading"><label class='label label-warning'>
                  HIV/AIDS <%unless @patient.patient_history.patientpersonalhistory.hiv_aids_duration == "" || @patient.patient_history.patientpersonalhistory.hiv_aids_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.hiv_aids_duration%><%=@patient.patient_history.patientpersonalhistory.hiv_aids_duration_unit%>
                </label></h5>
            <%end%>

            <% if @patient.patient_history.patientpersonalhistory.cancer_tumor == "true" %>
                <h5 class="list-group-item-heading"><label class='label label-warning'>
                  Cancer/Tumor <%unless @patient.patient_history.patientpersonalhistory.cancer_tumor_duration == "" || @patient.patient_history.patientpersonalhistory.cancer_tumor_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.cancer_tumor_duration%><%=@patient.patient_history.patientpersonalhistory.cancer_tumor_duration_unit%>
                </label></h5>
            <%end%>

            <% if @patient.patient_history.patientpersonalhistory.cardiac_disorder == "true" %>
                <h5 class="list-group-item-heading"><label class='label label-warning'>
                  Cardiac disorder <%unless @patient.patient_history.patientpersonalhistory.cardiac_disorder_duration == "" || @patient.patient_history.patientpersonalhistory.cardiac_disorder_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.cardiac_disorder_duration%><%=@patient.patient_history.patientpersonalhistory.cardiac_disorder_duration_unit%>
                </label></h5>
            <%end%>

            <% if @patient.patient_history.patientpersonalhistory.rheumatoid_arthritis == "true" %>
                <h5 class="list-group-item-heading"><label class='label label-warning'>
                  Rheumatoid Arthritis <%unless @patient.patient_history.patientpersonalhistory.rheumatoid_arthritis_duration == "" || @patient.patient_history.patientpersonalhistory.rheumatoid_arthritis_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.rheumatoid_arthritis_duration%><%=@patient.patient_history.patientpersonalhistory.rheumatoid_arthritis_duration_unit%>
                </label></h5>
            <%end%>

            <% if @patient.patient_history.patientpersonalhistory.tuberculosis == "true" %>
                <h5 class="list-group-item-heading"><label class='label label-warning'>
                  Tuberculosis <%unless @patient.patient_history.patientpersonalhistory.tuberculosis_duration == "" || @patient.patient_history.patientpersonalhistory.tuberculosis_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.tuberculosis_duration%><%=@patient.patient_history.patientpersonalhistory.tuberculosis_duration_unit%>
                </label></h5>
            <%end%>

            <% if @patient.patient_history.patientpersonalhistory.asthma == "true" %>
                <h5 class="list-group-item-heading"><label class='label label-warning'>
                  Asthma <%unless @patient.patient_history.patientpersonalhistory.asthma_duration == "" || @patient.patient_history.patientpersonalhistory.asthma_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.asthma_duration%><%=@patient.patient_history.patientpersonalhistory.asthma_duration_unit%>
                </label></h5>
            <%end%>

            <% if @patient.patient_history.patientpersonalhistory.cns_disorder_stroke == "true" %>
                <h5 class="list-group-item-heading"><label class='label label-warning'>
                  CNS disorder/Stroke <%unless @patient.patient_history.patientpersonalhistory.cns_disorder_stroke_duration == "" || @patient.patient_history.patientpersonalhistory.cns_disorder_stroke_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.cns_disorder_stroke_duration%><%=@patient.patient_history.patientpersonalhistory.cns_disorder_stroke_duration_unit%>
                </label></h5>
            <%end%>

            <% if @patient.patient_history.patientpersonalhistory.thyroid_disorder == "true" %>
                <h5 class="list-group-item-heading"><label class='label label-warning'>
                  Thyroid disorder <%unless @patient.patient_history.patientpersonalhistory.thyroid_disorder_duration == "" || @patient.patient_history.patientpersonalhistory.thyroid_disorder_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.thyroid_disorder_duration%><%=@patient.patient_history.patientpersonalhistory.thyroid_disorder_duration_unit%>
                </label></h5>
            <%end%>

            <% if @patient.patient_history.patientpersonalhistory.hepatitis_cirrhosis == "true" %>
                <h5 class="list-group-item-heading"><label class='label label-warning'>
                  Hepatitis/Cirrhosis <%unless @patient.patient_history.patientpersonalhistory.hepatitis_cirrhosis_duration == "" || @patient.patient_history.patientpersonalhistory.hepatitis_cirrhosis_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.hepatitis_cirrhosis_duration%><%=@patient.patient_history.patientpersonalhistory.hepatitis_cirrhosis_duration_unit%>
                </label></h5>
            <%end%>

            <% if @patient.patient_history.patientpersonalhistory.renal_disorder == "true" %>
                <h5 class="list-group-item-heading"><label class='label label-warning'>
                  Renal disorder <%unless @patient.patient_history.patientpersonalhistory.renal_disorder_duration == "" || @patient.patient_history.patientpersonalhistory.renal_disorder_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.renal_disorder_duration%><%=@patient.patient_history.patientpersonalhistory.renal_disorder_duration_unit%>
                </label></h5>
            <%end%>

            <% if @patient.patient_history.patientpersonalhistory.acidity == "true" %>
                <h5 class="list-group-item-heading"><label class='label label-warning'>
                  Acidity <%unless @patient.patient_history.patientpersonalhistory.acidity_duration == "" || @patient.patient_history.patientpersonalhistory.acidity_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.acidity_duration%><%=@patient.patient_history.patientpersonalhistory.acidity_duration_unit%>
                </label></h5>
            <%end%>

            <% if @patient.patient_history.patientpersonalhistory.on_insulin == "true" %>
                <h5 class="list-group-item-heading"><label class='label label-warning'>
                  On Insulin <%unless @patient.patient_history.patientpersonalhistory.on_insulin_duration == "" || @patient.patient_history.patientpersonalhistory.on_insulin_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.on_insulin_duration%><%=@patient.patient_history.patientpersonalhistory.on_insulin_duration_unit%>
                </label></h5>
            <%end%>

            <% if @patient.patient_history.patientpersonalhistory.on_aspirin_blood_thinners == "true" %>
                <h5 class="list-group-item-heading"><label class='label label-warning'>
                  On Aspirin <%unless @patient.patient_history.patientpersonalhistory.on_aspirin_blood_thinners_duration == "" || @patient.patient_history.patientpersonalhistory.on_aspirin_blood_thinners_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.on_aspirin_blood_thinners_duration%><%=@patient.patient_history.patientpersonalhistory.on_aspirin_blood_thinners_duration_unit%>
                </label></h5>
            <%end%>

            <% if @patient.patient_history.patientpersonalhistory.opthal_history_comment != "" && @patient.patient_history.patientpersonalhistory.opthal_history_comment != nil %>
                <h5 class="list-group-item-heading"><label class='label label-warning'>
                  <%= @patient.patient_history.patientpersonalhistory.opthal_history_comment %>
                </label></h5>
            <%end%>

            <% if @patient.patient_history.patientpersonalhistory.history_comment != "" && @patient.patient_history.patientpersonalhistory.history_comment != nil %>
                <h5 class="list-group-item-heading"><label class='label label-warning'>
                  <%= @patient.patient_history.patientpersonalhistory.history_comment %>
                </label></h5>
            <%end%>




        <% else %>
            <p>No Systemic History</p>
        <% end %>


    <% else %>
        <h4>No Systemic History</h4>
    <% end %>
<% else %>
    <h4>No Systemic History</h4>
<% end %>
<div style="margin: 10px 0px;">
  <% if patient.specialstatus && patient.specialstatus != "None"%>
      <h5 class="list-group-item-heading" style="margin-bottom:-10px;"> Others: <label class="label label-success"><%= patient.specialstatus %></label></h5>
  <% end %>
</div>