<%patient = Patient.find_by(id: patient_id)%>
<% if patient.try(:patient_history).try(:patientpersonalhistory).present? %>
    <% if !patient.try(:patient_history).try(:patientpersonalhistory).empty? %>

        <% personel_history_counter = 0 %>

        <% if patient.patient_history.patientpersonalhistory.opthal_history_comment != "" && patient.patient_history.patientpersonalhistory.opthal_history_comment != nil %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.history_comment != "" && patient.patient_history.patientpersonalhistory.history_comment != nil %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if @patient.patient_history.patientpersonalhistory.medical_history_comment != "" && @patient.patient_history.patientpersonalhistory.medical_history_comment != nil %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>
        <% if @patient.patient_history.patientpersonalhistory.family_history_comment != "" && @patient.patient_history.patientpersonalhistory.family_history_comment != nil %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.glaucoma == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.retinal_detachment == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.retinal_dystrophies == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if @patient.patient_history.patientpersonalhistory.glasses == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.ocular_disease == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.ocular_surgery == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.eye_surgery == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.eye_disease == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.consanguinity == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if @patient.patient_history.patientpersonalhistory.uveitis == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if @patient.patient_history.patientpersonalhistory.retinal_laser == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>


        <% if patient.patient_history.patientpersonalhistory.diabetes == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.hypertension == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.alcoholism == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.smoking_tobacco == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.steroid_intake == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.drug_abuse == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.hiv_aids == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.cancer_tumor == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.cardiac_disorder == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if @patient.patient_history.patientpersonalhistory.rheumatoid_arthritis == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
        <% end %>

        <% if patient.patient_history.patientpersonalhistory.tuberculosis == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.asthma == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.cns_disorder_stroke == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.thyroid_disorder == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.hepatitis_cirrhosis == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.renal_disorder == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.acidity == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.on_insulin == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>

        <% if patient.patient_history.patientpersonalhistory.on_aspirin_blood_thinners == "true" %>
            <% personel_history_counter = personel_history_counter + 1 %>
        <%end%>
          <% if personel_history_counter > 0 %>
              Patient has a history of

              <% if patient.patient_history.patientpersonalhistory.glaucoma == "true" %>
                  <% personel_history_counter = personel_history_counter - 1 %>
                  Glaucoma <%unless patient.patient_history.patientpersonalhistory.glaucoma_duration == "" || patient.patient_history.patientpersonalhistory.glaucoma_duration == nil%>since<%end%> <%= patient.patient_history.patientpersonalhistory.glaucoma_duration%><%=patient.patient_history.patientpersonalhistory.glaucoma_duration_unit%><%if personel_history_counter == 0 %>.<%else%>,<% end %>
              <%end%>

              <% if patient.patient_history.patientpersonalhistory.retinal_detachment == "true" %>
                  <% personel_history_counter = personel_history_counter - 1 %>
                  Retinal Detachment <%unless patient.patient_history.patientpersonalhistory.retinal_detachment_duration == "" || patient.patient_history.patientpersonalhistory.retinal_detachment_duration == nil%>since<%end%> <%= patient.patient_history.patientpersonalhistory.retinal_detachment_duration%><%=patient.patient_history.patientpersonalhistory.retinal_detachment_duration_unit%><%if personel_history_counter == 0 %>.<%else%>,<% end %>
              <%end%>

              <% if patient.patient_history.patientpersonalhistory.retinal_dystrophies == "true" %>
                  <% personel_history_counter = personel_history_counter - 1 %>
                  Retinal Dystrophies <%unless patient.patient_history.patientpersonalhistory.retinal_dystrophies_duration == "" || patient.patient_history.patientpersonalhistory.retinal_dystrophies_duration == nil%>since<%end%> <%= patient.patient_history.patientpersonalhistory.retinal_dystrophies_duration%><%=patient.patient_history.patientpersonalhistory.retinal_dystrophies_duration_unit%><%if personel_history_counter == 0 %>.<%else%>,<% end %>
              <%end%>

              <% if @patient.patient_history.patientpersonalhistory.glasses == "true" %>
                  <h5 class="list-group-item-heading"><label class='label label-warning'>
                    Glasses <%unless @patient.patient_history.patientpersonalhistory.glasses_duration == "" || @patient.patient_history.patientpersonalhistory.glasses_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.glasses_duration%><%=@patient.patient_history.patientpersonalhistory.glasses_duration_unit%>
                  </label></h5>
              <%end%>

              <% if patient.patient_history.patientpersonalhistory.ocular_disease == "true" %>
                  <% personel_history_counter = personel_history_counter - 1 %>
                  Ocular disease <%unless patient.patient_history.patientpersonalhistory.ocular_disease_duration == "" || patient.patient_history.patientpersonalhistory.ocular_disease_duration == nil%>since<%end%> <%= patient.patient_history.patientpersonalhistory.ocular_disease_duration%><%=patient.patient_history.patientpersonalhistory.ocular_disease_duration_unit%><%if personel_history_counter == 0 %>.<%else%>,<% end %>
              <%end%>

              <% if patient.patient_history.patientpersonalhistory.ocular_surgery == "true" %>
                  <% personel_history_counter = personel_history_counter - 1 %>
                  Ocular surgery <%unless patient.patient_history.patientpersonalhistory.ocular_surgery_duration == "" || patient.patient_history.patientpersonalhistory.ocular_surgery_duration == nil%>since<%end%> <%= patient.patient_history.patientpersonalhistory.ocular_surgery_duration%><%=patient.patient_history.patientpersonalhistory.ocular_surgery_duration_unit%><%if personel_history_counter == 0 %>.<%else%>,<% end %>
              <%end%>

              <% if patient.patient_history.patientpersonalhistory.eye_surgery == "true" %>
                  <% personel_history_counter = personel_history_counter - 1 %>
                  Eye surgery <%unless patient.patient_history.patientpersonalhistory.eye_surgery_duration == "" || patient.patient_history.patientpersonalhistory.eye_surgery_duration == nil%>since<%end%> <%= patient.patient_history.patientpersonalhistory.eye_surgery_duration%><%=patient.patient_history.patientpersonalhistory.eye_surgery_duration_unit%><%if personel_history_counter == 0 %>.<%else%>,<% end %>
              <%end%>

              <% if patient.patient_history.patientpersonalhistory.eye_disease == "true" %>
                  <% personel_history_counter = personel_history_counter - 1 %>
                  Eye disease <%unless patient.patient_history.patientpersonalhistory.eye_disease_duration == "" || patient.patient_history.patientpersonalhistory.eye_disease_duration == nil%>since<%end%> <%= patient.patient_history.patientpersonalhistory.eye_disease_duration%><%=patient.patient_history.patientpersonalhistory.eye_disease_duration_unit%><%if personel_history_counter == 0 %>.<%else%>,<% end %>
              <%end%>

              <% if patient.patient_history.patientpersonalhistory.consanguinity == "true" %>
                  <% personel_history_counter = personel_history_counter - 1 %>
                  Consanguinity <%unless patient.patient_history.patientpersonalhistory.consanguinity_duration == "" || patient.patient_history.patientpersonalhistory.consanguinity_duration == nil%>since<%end%> <%= patient.patient_history.patientpersonalhistory.consanguinity_duration%><%=patient.patient_history.patientpersonalhistory.consanguinity_duration_unit%><%if personel_history_counter == 0 %>.<%else%>,<% end %>
              <%end%>

              <% if @patient.patient_history.patientpersonalhistory.uveitis == "true" %>
                  <h5 class="list-group-item-heading"><label class='label label-warning'>
                    Uveitis <%unless @patient.patient_history.patientpersonalhistory.uveitis_duration == "" || @patient.patient_history.patientpersonalhistory.uveitis_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.uveitis_duration%><%=@patient.patient_history.patientpersonalhistory.uveitis_duration_unit%>
                  </label></h5>
              <%end%>

              <% if @patient.patient_history.patientpersonalhistory.retinal_laser == "true" %>
                  <h5 class="list-group-item-heading"><label class='label label-warning'>
                    Retinal Laser <%unless @patient.patient_history.patientpersonalhistory.retinal_laser_duration == "" || @patient.patient_history.patientpersonalhistory.retinal_laser_duration == nil%>since<%end%> <%= @patient.patient_history.patientpersonalhistory.retinal_laser_duration%><%=@patient.patient_history.patientpersonalhistory.retinal_laser_duration_unit%>
                  </label></h5>
              <%end%>

            <% if @patient.patient_history.patientpersonalhistory.opthal_history_comment != "" && @patient.patient_history.patientpersonalhistory.opthal_history_comment != nil %>
                <% personel_history_counter = personel_history_counter - 1 %>
                <%= @patient.patient_history.patientpersonalhistory.opthal_history_comment %><%if personel_history_counter == 0 %>.<%else%>,<% end %>
            <%end%>

          <% end %>
    <%end%>
<% end %>
