<% if opdrecord != nil %>
    <div class="history mb5" id="history">
      <% opd_history_counter = 0 %>
      <% r_opd_history_counter = 0 %>
      <% l_opd_history_counter = 0 %>
      <% be_opd_history_counter = 0 %>
      <% checkuptypecomments_history_counter = 0 %>
      <% checkuptype_history_counter = 0 %>
      <% personel_history_counter = 0 %>
      <% if @patient.patient_history.patientpersonalhistory.opthal_history_comment != "" && @patient.patient_history.patientpersonalhistory.opthal_history_comment != nil %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.history_comment != "" && @patient.patient_history.patientpersonalhistory.history_comment != nil %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.medical_history_comment != "" && @patient.patient_history.patientpersonalhistory.medical_history_comment != nil %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.family_history_comment != "" && @patient.patient_history.patientpersonalhistory.family_history_comment != nil %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.glaucoma == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.retinal_detachment == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.retinal_dystrophies == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.retinal_glasses == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.ocular_disease == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.ocular_surgery == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.eye_surgery == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.eye_disease == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.consanguinity == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.uveitis == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.retinal_laser == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.diabetes == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.hypertension == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.alcoholism == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.smoking_tobacco == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.steroid_intake == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.drug_abuse == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.hiv_aids == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.cancer_tumor == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.cardiac_disorder == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>

      <% if @patient.patient_history.patientpersonalhistory.rheumatoid_arthritis == "true" %>
        <% personel_history_counter = personel_history_counter + 1 %>
      <% end %>

      <% if @patient.patient_history.patientpersonalhistory.tuberculosis == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.asthma == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.cns_disorder_stroke == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.thyroid_disorder == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.hepatitis_cirrhosis == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.renal_disorder == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.acidity == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.on_insulin == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if @patient.patient_history.patientpersonalhistory.on_aspirin_blood_thinners == "true" %>
          <% personel_history_counter = personel_history_counter + 1 %>
      <%end%>
      <% if opdrecord.r_chiefcomplaint.present? %>
          <% opd_history_counter = opd_history_counter + 1 %>
          <% r_opd_history_counter = r_opd_history_counter + 1 %>
      <% end %>
      <% if opdrecord.r_subjectivecomments.present? %>
          <% opd_history_counter = opd_history_counter + 1 %>
          <% r_opd_history_counter = r_opd_history_counter + 1 %>
      <% end %>
      <% if opdrecord.l_chiefcomplaint.present? %>
          <% opd_history_counter = opd_history_counter + 1 %>
          <% l_opd_history_counter = l_opd_history_counter + 1 %>
      <% end %>
      <% if opdrecord.l_subjectivecomments.present? %>
          <% opd_history_counter = opd_history_counter + 1 %>
          <% l_opd_history_counter = l_opd_history_counter + 1 %>
      <% end %>
      <% unless opdrecord.be_subjectivecomments.blank? %>
          <% opd_history_counter = opd_history_counter + 1 %>
          <% be_opd_history_counter = be_opd_history_counter + 1 %>
      <% end %>
      <% unless opdrecord.checkuptype.blank? %>
          <% opd_history_counter = opd_history_counter + 1 %>
          <% checkuptype_history_counter = checkuptype_history_counter + 1 %>
      <% end %>
      <% unless opdrecord.checkuptypecomments.blank?  %>
          <% opd_history_counter = opd_history_counter + 1 %>
          <% checkuptypecomments_history_counter = checkuptypecomments_history_counter + 1 %>
      <% end %>
      <% if params[:action] == 'edit_opd_record' || params[:action] == 'new_opd_record' %>
          <% unless opd_history_counter <= 0 &&  personel_history_counter <= 0 && (@patient.patient_history.patientpersonalhistory.problems == nil || @patient.patient_history.patientpersonalhistory.problems == [] ) && @patient.patient_history.patientallergyhistory.antimicrobialagents == [] && @patient.patient_history.patientallergyhistory.antifungalagents ==[] && @patient.patient_history.patientallergyhistory.antiviralagents ==[] &&  @patient.patient_history.patientallergyhistory.nsaids ==[] && @patient.patient_history.patientallergyhistory.eyedrops ==[] &&  @patient.patient_history.patientallergyhistory.contact ==[] &&  @patient.patient_history.patientallergyhistory.food ==[] &&  @patient.patient_history.patientallergyhistory.others==""  %>
          <% else %>
              No Patient History
          <%end%>
      <% else %>
          <% unless opd_history_counter <= 0 &&  personel_history_counter <= 0 && (@patient.patient_history.patientpersonalhistory.problems == nil || @patient.patient_history.patientpersonalhistory.problems == [] ) && @patient.patient_history.patientallergyhistory.antimicrobialagents == [] && @patient.patient_history.patientallergyhistory.antifungalagents ==[] && @patient.patient_history.patientallergyhistory.antiviralagents ==[] &&  @patient.patient_history.patientallergyhistory.nsaids ==[] && @patient.patient_history.patientallergyhistory.eyedrops ==[] &&  @patient.patient_history.patientallergyhistory.contact ==[] &&  @patient.patient_history.patientallergyhistory.food ==[] &&  @patient.patient_history.patientallergyhistory.others==""  %>
              <div class="row mb5">
                <strong>HISTORY</strong>
                <div class="summary-line-border"></div>
              </div>
          <% end %>
      <%end%>
      <% if opd_history_counter > 0 %>
          <div class="row col-xs-12">
            <div class="row">
              <% if opd_history_counter > 0 %>
                  <!--<span width="20%" style="padding-top:0px;padding-bottom:0px;"><strong>B/E:-</strong></span>-->
          <span>
          <% if checkuptypecomments_history_counter > 0 || checkuptype_history_counter > 0 %>
          <strong>Visit:</strong>
          <%end%>
            <% if opdrecord.checkuptype.blank? %>
          <% unless opdrecord.checkuptypecomments == nil || opdrecord.checkuptypecomments == ""  %><%= opdrecord.checkuptypecomments %><%end%>
          <%else%>
          <%= opdrecord.checkuptype %><% unless opdrecord.checkuptypecomments == nil || opdrecord.checkuptypecomments == ""  %>, <%= opdrecord.checkuptypecomments %><%end%>
          <%end%>
          </span>
              <%end%>
            </div>
            <div class="row">
              <% if r_opd_history_counter > 0 %>
                  <span width="20%" style="padding-top:0px;padding-bottom:0px;"><strong>R/OD:-</strong></span>
                  <% unless opdrecord.r_chiefcomplaint.split(",").include?("blurringdiminution") == false %>
                      <span><strong>Blurring(distant/near):</strong></span>
          <span>
          <% unless opdrecord.r_blurringdiminution_vision == "" %>
          <%=  opdrecord.r_blurringdiminution_vision %><% if opdrecord.r_blurringdiminution_pain == "Yes" || opdrecord.r_blurringdiminution_usingglasses == "Yes"%>,<%end%><%end%>
            <% unless opdrecord.r_blurringdiminution_pain == "No" %>
          Pain<% if opdrecord.r_blurringdiminution_usingglasses == "Yes" %>,<%end%><%end%>
            <% unless opdrecord.r_blurringdiminution_usingglasses == "No" %>
          Using glasses
          <%end%>
          </span>
                  <% end %>
                  <% unless opdrecord.r_chiefcomplaint.split(",").include?("redness") == false %>
                      <span><strong>Redness</strong></span>
          <span>
          <% unless opdrecord.r_redness_pain == "No" || opdrecord.r_redness_pain == nil %>
          Pain<% if opdrecord.r_redness_injury == "Yes" %>,<%end%><%end%>
            <% unless opdrecord.r_redness_injury == "No" || opdrecord.r_redness_injury == nil%>
          Injury
          <% end %>
          </span>
                  <% end %>
                  <% unless opdrecord.r_chiefcomplaint.split(",").include?("pain") == false %>
                      <span><strong>Pain</strong></span>
          <span>
          <% unless opdrecord.r_pain_injury == "No" || opdrecord.r_pain_injury == nil %>
          Injury
          <%end%>
          </span>
                  <% end %>
                  <% unless opdrecord.r_chiefcomplaint.split(",").include?("deviationsquint") == false %>
                      <strong>Deviation/Squint:</strong>
          <span>
          <% unless opdrecord.r_deviationsquint_diplopia == "No" %>
          Diplopia<% if opdrecord.r_deviationsquint_trauma == "Yes" || opdrecord.r_deviationsquint_pastsurgery == "Yes"%>,<%end%><%end%>
            <% unless opdrecord.r_deviationsquint_trauma == "No" %>
          Trauma<% if opdrecord.r_deviationsquint_pastsurgery == "Yes" %>,<%end%><%end%>
            <% unless opdrecord.r_deviationsquint_pastsurgery == "No" %>
          Past Surgery
          <%end%>
          </span>
                  <% end %>
                  <% unless opdrecord.r_chiefcomplaint.split(",").include?("changeinsizeshape") == false %>
                      <span><strong>Change in Size/Shape</strong></span>
          <span>
          <% unless opdrecord.r_changeinsizeshape_swellingeye == "No" || opdrecord.r_changeinsizeshape_swellingeye == nil %>
          Swelling of eye<% if opdrecord.r_changeinsizeshape_swellingeyelids == "Yes" || opdrecord.r_changeinsizeshape_proptosis == "Yes" || opdrecord.r_changeinsizeshape_dystopia == "Yes" %>,<%end%><%end%>
            <% unless opdrecord.r_changeinsizeshape_swellingeyelids == "No" || opdrecord.r_changeinsizeshape_swellingeyelids == nil %>
          Swelling of eyelids<% if opdrecord.r_changeinsizeshape_proptosis == "Yes"  || opdrecord.r_changeinsizeshape_dystopia == "Yes"%>,<%end%><%end%>
            <% unless opdrecord.r_changeinsizeshape_proptosis == "No" || opdrecord.r_changeinsizeshape_proptosis == nil %>
          Proptosis<% if opdrecord.r_changeinsizeshape_dystopia == "Yes" %>,<%end%><%end%>
            <% unless opdrecord.r_changeinsizeshape_dystopia == "No" || opdrecord.r_changeinsizeshape_dystopia == nil %>
          Dystopia
          <%end%>
          </span>
                  <% end %>
                  <% unless opdrecord.r_chiefcomplaint.split(",").include?("othervisualsymptoms") == false %>
                      <span><strong>Other Visual Symptoms:</strong></span>
          <span>
          <% unless opdrecord.r_othervisualsymptoms_glare == "No" %>
          Glare<% if opdrecord.r_othervisualsymptoms_floaters == "Yes" || opdrecord.r_othervisualsymptoms_photophobia == "Yes" || opdrecord.r_othervisualsymptoms_coloredhalos == "Yes" || opdrecord.r_othervisualsymptoms_metamorphosia == "Yes" || opdrecord.r_othervisualsymptoms_chromatopsia == "Yes" || opdrecord.r_othervisualsymptoms_diminishednightvision == "Yes" || opdrecord.r_othervisualsymptoms_diminisheddayvision == "Yes"%>,<%end%><%end%>
            <% unless opdrecord.r_othervisualsymptoms_floaters == "No" %>
          Floaters<% if opdrecord.r_othervisualsymptoms_photophobia == "Yes" || opdrecord.r_othervisualsymptoms_coloredhalos == "Yes" || opdrecord.r_othervisualsymptoms_metamorphosia == "Yes" || opdrecord.r_othervisualsymptoms_chromatopsia == "Yes" || opdrecord.r_othervisualsymptoms_diminishednightvision == "Yes" || opdrecord.r_othervisualsymptoms_diminisheddayvision == "Yes"%>,<%end%><%end%>
            <% unless opdrecord.r_othervisualsymptoms_photophobia == "No" %>
          Photophobia<% if opdrecord.r_othervisualsymptoms_coloredhalos == "Yes" || opdrecord.r_othervisualsymptoms_metamorphosia == "Yes" || opdrecord.r_othervisualsymptoms_chromatopsia == "Yes" || opdrecord.r_othervisualsymptoms_diminishednightvision == "Yes" || opdrecord.r_othervisualsymptoms_diminisheddayvision == "Yes"%>,<%end%><%end%>
            <% unless opdrecord.r_othervisualsymptoms_coloredhalos == "No" %>
          Colored halos<% if opdrecord.r_othervisualsymptoms_metamorphosia == "Yes" || opdrecord.r_othervisualsymptoms_chromatopsia == "Yes" || opdrecord.r_othervisualsymptoms_diminishednightvision == "Yes" || opdrecord.r_othervisualsymptoms_diminisheddayvision == "Yes"%>,<%end%><%end%>
            <% unless opdrecord.r_othervisualsymptoms_metamorphosia == "No" %>
          Metamorphopsia<% if opdrecord.r_othervisualsymptoms_chromatopsia == "Yes" || opdrecord.r_othervisualsymptoms_diminishednightvision == "Yes" || opdrecord.r_othervisualsymptoms_diminisheddayvision == "Yes"%>,<%end%><%end%>
            <% unless opdrecord.r_othervisualsymptoms_chromatopsia == "No" %>
          Chromatopsia<% if opdrecord.r_othervisualsymptoms_diminishednightvision == "Yes" || opdrecord.r_othervisualsymptoms_diminisheddayvision == "Yes" %>,<%end%><%end%>
            <% unless opdrecord.r_othervisualsymptoms_diminishednightvision == "No" %>
          Diminished Night Vision<% if opdrecord.r_othervisualsymptoms_diminisheddayvision == "Yes" %>,<%end%><%end%>
            <% unless opdrecord.r_othervisualsymptoms_diminisheddayvision == "No" %>
          Diminished Day Vision
          <%end%>
          </span>
                  <% end %>
                  <% unless opdrecord.r_chiefcomplaint.split(",").include?("headachestrain") == false %>
                      <span><strong>Headache/Strain</strong></span>
                  <%end%>
                  <% unless opdrecord.r_chiefcomplaint.split(",").include?("shadowdefect") == false %>
                      <span><strong>Shadow/Defect in vision</strong></span>
                  <%end%>
                  <% unless opdrecord.r_chiefcomplaint.split(",").include?("discolorationeye") == false %>
                      <span><strong>Discoloration of Eye</strong></span>
                  <%end%>
                  <% unless opdrecord.r_chiefcomplaint.split(",").include?("dryness") == false %>
                      <span><strong>Dryness</strong></span>
                  <%end%>
                  <% unless opdrecord.r_chiefcomplaint.split(",").include?("wateringdischarge") == false %>
                      <span><strong>Watering/Discharge</strong></span>
                  <%end%>
                  <% unless opdrecord.r_chiefcomplaint.split(",").include?("itichingfbsensation") == false %>
                      <span><strong>Itching/FB sensation</strong></span>
                  <%end%>
                  <div>
            <span>
            <% unless opdrecord.r_subjective_duration_no == "" || opdrecord.r_subjective_duration_no == nil || opdrecord.r_subjective_duration_unit == "" || opdrecord.r_subjective_duration_unit == nil%>
            <strong>Since:</strong> <%= opdrecord.r_subjective_duration_no %> <%= opdrecord.r_subjective_duration_unit %>
            <% end %>
            </span>
            <span>
              <% unless opdrecord.r_subjectivecomments.length == 0 %>
              <li> <%= opdrecord.r_subjectivecomments %></li>
              <%end%>
            </span>
                  </div>
                  <div class="mb3"></div>
              <% end %>
            </div>
            <div class="row">
              <% if l_opd_history_counter > 0 %>
                  <span width="20%" style="padding-top:0px;padding-bottom:0px;"><strong>L/OS:-</strong></span>
                  <% unless opdrecord.l_chiefcomplaint.split(",").include?("blurringdiminution") == false %>
                      <span><strong>Blurring(distant/near):</strong></span>
          <span>
          <% unless opdrecord.l_blurringdiminution_vision == "" %>
          <%=  opdrecord.l_blurringdiminution_vision %><% if opdrecord.l_blurringdiminution_pain == "Yes" || opdrecord.l_blurringdiminution_usingglasses == "Yes"%>,<%end%><%end%>
            <% unless opdrecord.l_blurringdiminution_pain == "No" %>
          Pain<% if opdrecord.l_blurringdiminution_usingglasses == "Yes" %>,<%end%><%end%>
            <% unless opdrecord.l_blurringdiminution_usingglasses == "No" %>
          Using glasses
          <%end%>
          </span>
                  <% end %>
                  <% unless opdrecord.l_chiefcomplaint.split(",").include?("redness") == false %>
                      <span><strong>Redness</strong></span>
          <span>
          <% unless opdrecord.l_redness_pain == "No" || opdrecord.l_redness_pain == nil %>
          Pain<% if opdrecord.l_redness_injury == "Yes" %>,<%end%><%end%>
            <% unless opdrecord.l_redness_injury == "No" || opdrecord.l_redness_injury == nil %>
          Injury
          <%end%>
          </span>
                  <% end %>
                  <% unless opdrecord.l_chiefcomplaint.split(",").include?("pain") == false %>
                      <span><strong>Pain</strong></span>
          <span>
          <% unless opdrecord.l_pain_injury == "No" || opdrecord.l_pain_injury == nil %>
          Injury
          <%end%>
          </span>
                  <% end %>
                  <% unless opdrecord.l_chiefcomplaint.split(",").include?("deviationsquint") == false %>
                      <strong>Deviation/Squint:</strong>
          <span>
          <% unless opdrecord.l_deviationsquint_diplopia == "No" %>
          Diplopia<% if opdrecord.l_deviationsquint_trauma == "Yes" || opdrecord.l_deviationsquint_pastsurgery == "Yes"%>,<%end%><%end%>
            <% unless opdrecord.l_deviationsquint_trauma == "No" %>
          Trauma<% if opdrecord.l_deviationsquint_pastsurgery == "Yes" %>,<%end%><%end%>
            <% unless opdrecord.l_deviationsquint_pastsurgery == "No" %>
          Past Surgery
          <%end%>
          </span>
                  <% end %>
                  <% unless opdrecord.l_chiefcomplaint.split(",").include?("changeinsizeshape") == false %>
                      <span><strong>Change in Size/Shape</strong></span>
          <span>
          <% unless opdrecord.l_changeinsizeshape_swellingeye == "No" || opdrecord.l_changeinsizeshape_swellingeye == nil %>
          Swelling of eye<% if opdrecord.l_changeinsizeshape_swellingeyelids == "Yes" || opdrecord.l_changeinsizeshape_proptosis == "Yes" || opdrecord.l_changeinsizeshape_dystopia == "Yes" %>,<%end%><%end%>
            <% unless opdrecord.l_changeinsizeshape_swellingeyelids == "No" || opdrecord.l_changeinsizeshape_swellingeyelids == nil %>
          Swelling of eyelids<% if opdrecord.l_changeinsizeshape_proptosis == "Yes"  || opdrecord.l_changeinsizeshape_dystopia == "Yes"%>,<%end%><%end%>
            <% unless opdrecord.l_changeinsizeshape_proptosis == "No" || opdrecord.l_changeinsizeshape_proptosis == nil %>
          Proptosis<% if opdrecord.l_changeinsizeshape_dystopia == "Yes" %>,<%end%><%end%>
            <% unless opdrecord.l_changeinsizeshape_dystopia == "No" || opdrecord.l_changeinsizeshape_dystopia == nil %>
          Dystopia
          <%end%>
          </span>
                  <% end %>
                  <% unless opdrecord.l_chiefcomplaint.split(",").include?("othervisualsymptoms") == false %>
                      <span><strong>Other Visual Symptoms:</strong></span>
          <span>
          <% unless opdrecord.l_othervisualsymptoms_glare == "No" %>
          Glare<% if opdrecord.l_othervisualsymptoms_floaters == "Yes" || opdrecord.l_othervisualsymptoms_photophobia == "Yes" || opdrecord.l_othervisualsymptoms_coloredhalos == "Yes" || opdrecord.l_othervisualsymptoms_metamorphosia == "Yes" || opdrecord.l_othervisualsymptoms_chromatopsia == "Yes" || opdrecord.l_othervisualsymptoms_diminishednightvision == "Yes" || opdrecord.l_othervisualsymptoms_diminisheddayvision == "Yes"%>,<%end%><%end%>
            <% unless opdrecord.l_othervisualsymptoms_floaters == "No" %>
          Floaters<% if opdrecord.l_othervisualsymptoms_photophobia == "Yes" || opdrecord.l_othervisualsymptoms_coloredhalos == "Yes" || opdrecord.l_othervisualsymptoms_metamorphosia == "Yes" || opdrecord.l_othervisualsymptoms_chromatopsia == "Yes" || opdrecord.l_othervisualsymptoms_diminishednightvision == "Yes" || opdrecord.l_othervisualsymptoms_diminisheddayvision == "Yes"%>,<%end%><%end%>
            <% unless opdrecord.l_othervisualsymptoms_photophobia == "No" %>
          Photophobia<% if opdrecord.l_othervisualsymptoms_coloredhalos == "Yes" || opdrecord.l_othervisualsymptoms_metamorphosia == "Yes" || opdrecord.l_othervisualsymptoms_chromatopsia == "Yes" || opdrecord.l_othervisualsymptoms_diminishednightvision == "Yes" || opdrecord.l_othervisualsymptoms_diminisheddayvision == "Yes"%>,<%end%><%end%>
            <% unless opdrecord.l_othervisualsymptoms_coloredhalos == "No" %>
          Colored halos<% if opdrecord.l_othervisualsymptoms_metamorphosia == "Yes" || opdrecord.l_othervisualsymptoms_chromatopsia == "Yes" || opdrecord.l_othervisualsymptoms_diminishednightvision == "Yes" || opdrecord.l_othervisualsymptoms_diminisheddayvision == "Yes"%>,<%end%><%end%>
            <% unless opdrecord.l_othervisualsymptoms_metamorphosia == "No" %>
          Metamorphopsia<% if opdrecord.l_othervisualsymptoms_chromatopsia == "Yes" || opdrecord.l_othervisualsymptoms_diminishednightvision == "Yes" || opdrecord.l_othervisualsymptoms_diminisheddayvision == "Yes"%>,<%end%><%end%>
            <% unless opdrecord.l_othervisualsymptoms_chromatopsia == "No" %>
          Chromatopsia<% if opdrecord.l_othervisualsymptoms_diminishednightvision == "Yes" || opdrecord.l_othervisualsymptoms_diminisheddayvision == "Yes" %>,<%end%><%end%>
            <% unless opdrecord.l_othervisualsymptoms_diminishednightvision == "No" %>
          Diminished Night Vision<% if opdrecord.l_othervisualsymptoms_diminisheddayvision == "Yes" %>,<%end%><%end%>
            <% unless opdrecord.l_othervisualsymptoms_diminisheddayvision == "No" %>
          Diminished Day Vision
          <%end%>
          </span>
                  <% end %>
                  <% unless opdrecord.l_chiefcomplaint.split(",").include?("headachestrain") == false %>
                      <span><strong>Headache/Strain</strong></span>
                  <%end%>
                  <% unless opdrecord.l_chiefcomplaint.split(",").include?("shadowdefect") == false %>
                      <span><strong>Shadow/Defect in vision</strong></span>
                  <%end%>
                  <% unless opdrecord.l_chiefcomplaint.split(",").include?("discolorationeye") == false %>
                      <span><strong>Discoloration of Eye</strong></span>
                  <%end%>
                  <% unless opdrecord.l_chiefcomplaint.split(",").include?("dryness") == false %>
                      <span><strong>Dryness</strong></span>
                  <%end%>
                  <% unless opdrecord.l_chiefcomplaint.split(",").include?("wateringdischarge") == false %>
                      <span><strong>Watering/Discharge</strong></span>
                  <%end%>
                  <% unless opdrecord.l_chiefcomplaint.split(",").include?("itichingfbsensation") == false %>
                      <span><strong>Itching/FB sensation</strong></span>
                  <%end%>
                  <div>
            <span>
            <% unless opdrecord.l_subjective_duration_no == "" || opdrecord.l_subjective_duration_no == nil || opdrecord.l_subjective_duration_unit == "" || opdrecord.l_subjective_duration_unit == nil%>
            <strong>Since:</strong> <%= opdrecord.l_subjective_duration_no %> <%= opdrecord.l_subjective_duration_unit %>
            <% end %>
            </span>
            <span>
              <% unless opdrecord.l_subjectivecomments.length == 0 %>
              <li> <%= opdrecord.l_subjectivecomments %></li>
              <%end%>
            </span>
                  </div>
                  <div class="mb3"></div>
              <% end %>
            </div>
          </div>
          <div class="row">
            <% if be_opd_history_counter > 0 %>
                <span width="20%" style="padding-top:0px;padding-bottom:0px;"><strong>B/E:-</strong></span>
          <span>
            <% unless opdrecord.be_subjectivecomments == nil || opdrecord.be_subjectivecomments == "" %>
            <li> <%= opdrecord.be_subjectivecomments %></li>
            <%end%>
          </span>
            <%end%>
          </div>
      <% end %>
      <% if @patient.patient_history.patientpersonalhistory != nil || @patient.patient_history.patientallergyhistory !=nil %>
          <%= render partial: "templates/common/allergies_view.html.erb" %>
      <% end %>
    </div>
<% end %>