<% if opdrecord != nil %>
    <!--counter code-->
    <%romcounter = 0%>
    <% examination_counter = 0 %>
    <% if opdrecord.romsliderrangerightextensionflexion.length > 0 && opdrecord.romsliderrangerightextensionflexion != "-60 : 180" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangeleftextensionflexion.length > 0 && opdrecord.romsliderrangeleftextensionflexion != "-60 : 180" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>

    <% if opdrecord.romsliderrangerightabduction.length > 0 && opdrecord.romsliderrangerightabduction != "0 : 180" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangeleftabduction.length > 0 && opdrecord.romsliderrangeleftabduction != "0 : 180" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>

    <% if opdrecord.romsliderrangerightexternalrotation.length > 0 && opdrecord.romsliderrangerightexternalrotation != "0 : 90" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangeleftexternalrotation.length > 0 && opdrecord.romsliderrangeleftexternalrotation != "0 : 90" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangerightinternalrotation.length > 0 && opdrecord.romsliderrangerightinternalrotation != "0 : 70" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>

    <% end %>
    <% if opdrecord.romsliderrangeleftinternalrotation.length > 0 && opdrecord.romsliderrangeleftinternalrotation != "0 : 70" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>

    <% end %>
    <% unless opdrecord.generalsigns.blank? %>
        <% examination_counter = examination_counter+1 %>

    <% end %>
    <% unless opdrecord.areaaffectedobjective.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.sideobjective.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.skincondition.blank? %>
        <% unless opdrecord.skincondition == "Normal" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.tenderness.blank? %>
        <% unless opdrecord.tenderness == "None" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.impingement.blank? %>
        <% unless opdrecord.impingement == "No" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.cuffsigns.blank? %>
        <% unless opdrecord.cuffsigns == "No" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.bicepsslapsigns.blank? %>
        <% unless opdrecord.bicepsslapsigns == "No" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.instability.blank? %>
        <% unless opdrecord.instability == "No" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.weakness.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.distalneurovasculardeficit.blank? %>
        <% unless opdrecord.distalneurovasculardeficit == "Absent" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.sensorydeficit.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.motordeficit.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.vascualardeficit.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.othersigns.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.objectivecomments.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>

    <!--counter code ends here-->

    <div class="examination mb5" id="examination">
      <%if examination_counter > 0 %>

          <div class="row">
            <strong>EXAMINATION :</strong>
            <div class="summary-line-border"></div>

          </div>
      <%end%>
      <div class="row">
        <div class="col-md-12">

          <% unless opdrecord.generalsigns.blank? %>
              <b>General Signs :</b>
              <%= opdrecord.read_attribute(:"generalsigns") %>

          <% end %>
          <% unless opdrecord.areaaffectedobjective.blank? %>
              <b>Area Affected :</b>
              <%= opdrecord.read_attribute(:"areaaffectedobjective") %>
              |
          <% end %>
          <% unless opdrecord.sideobjective.blank? %>
              <b>Side :</b>
              <%= opdrecord.read_attribute(:"sideobjective") %>
              |
          <% end %>
          <% unless opdrecord.skincondition.blank? %>
              <% unless opdrecord.skincondition == "Normal" %>
                  <b>Skin Condition :</b>
                  <%= opdrecord.read_attribute(:"skincondition") %>
                  |
              <% end %>
          <% end %>

          <% unless opdrecord.examinationsigns.blank? %>

              <%= opdrecord.read_attribute(:"examinationsigns") %>
              |
          <% end %>
          <% unless opdrecord.tenderness.blank? %>
              <% unless opdrecord.tenderness == "None" %>
                  <b>Tenderness :</b>
                  <%= opdrecord.read_attribute(:"tenderness") %>
                  |
              <% end %>
          <% end %>



          <div class="mb3"></div>
          <% if romcounter > 0 %>
              <b>ROM :</b>
          <%end%>

          <% if opdrecord.romsliderrangerightextensionflexion.length > 0 && opdrecord.romsliderrangerightextensionflexion != "-60 : 180" %>

              <b>Right Extension-Flexion :</b>
              <%= opdrecord.read_attribute(:"romsliderrangerightextensionflexion") %>
              <%= opdrecord.read_attribute(:"r_romextensionflexion") %>
              ,

          <% end %>
          <% if opdrecord.romsliderrangeleftextensionflexion.length > 0 && opdrecord.romsliderrangeleftextensionflexion != "-60 : 180" %>
              <b>Left Extension-Flexion :</b>
              <%= opdrecord.read_attribute(:"romsliderrangeleftextensionflexion") %>
              <%= opdrecord.read_attribute(:"l_romextensionflexion") %>
              ,
          <% end %>

          <% if opdrecord.romsliderrangerightabduction.length > 0 && opdrecord.romsliderrangerightabduction != "0 : 180" %>
              <b>Right Abduction :</b>
              <%= opdrecord.read_attribute(:"romsliderrangerightabduction") %>
              <%= opdrecord.read_attribute(:"r_romabduction") %>
              ,
          <% end %>
          <% if opdrecord.romsliderrangeleftabduction.length > 0 && opdrecord.romsliderrangeleftabduction != "0 : 180" %>
              <b>Left  Abduction :</b>
              <%= opdrecord.read_attribute(:"romsliderrangeleftabduction") %>
              <%= opdrecord.read_attribute(:"l_romabduction") %>

          <% end %>

          <% if opdrecord.romsliderrangerightexternalrotation.length > 0 && opdrecord.romsliderrangerightexternalrotation != "0 : 90" %>
              <b>Right External Rotation:</b>
              <%= opdrecord.read_attribute(:"romsliderrangerightexternalrotation") %>
              <%= opdrecord.read_attribute(:"r_romexternalrotation") %>
              ,
          <% end %>
          <% if opdrecord.romsliderrangeleftexternalrotation.length > 0 && opdrecord.romsliderrangeleftexternalrotation != "0 : 90" %>
              <b>Left External Rotation:</b>
              <%= opdrecord.read_attribute(:"romsliderrangeleftexternalrotation") %>
              <%= opdrecord.read_attribute(:"l_romexternalrotation") %>

          <% end %>

          <% if opdrecord.romsliderrangerightinternalrotation.length > 0 && opdrecord.romsliderrangerightinternalrotation != "0 : 70" %>
              <b>Right Internal Rotation:</b>
              <%= opdrecord.read_attribute(:"romsliderrangerightinternalrotation") %>
              <%= opdrecord.read_attribute(:"r_rominternalrotation") %>
              ,
          <% end %>
          <% if opdrecord.romsliderrangeleftinternalrotation.length > 0 && opdrecord.romsliderrangeleftinternalrotation != "0 : 70" %>
              <b>Left  Internal Rotation:</b>
              <%= opdrecord.read_attribute(:"romsliderrangeleftinternalrotation") %>
              <%= opdrecord.read_attribute(:"l_rominternalrotation") %>

          <% end %>
          <div class="mb3"></div>


          <% unless opdrecord.impingement.blank? %>
              <% unless opdrecord.impingement == "No" %>
                  <b>Impingement :</b> Positive test-
                  <%= opdrecord.read_attribute(:"impingementtests") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.cuffsigns.blank? %>
              <% unless opdrecord.cuffsigns == "No" %>
                  <b>Cuff Signs :</b> Positive test-
                  <%= opdrecord.read_attribute(:"cuffsignstests") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.bicepsslapsigns.blank? %>
              <% unless opdrecord.bicepsslapsigns == "No" %>
                  <b>Biceps/ SLAP signs :</b> Positive test-
                  <%= opdrecord.read_attribute(:"bicepsslapsignstests") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.instability.blank? %>
              <% unless opdrecord.instability == "No" %>
                  <b>Instability :</b>  Positive test-
                  <%= opdrecord.read_attribute(:"instabilitytests") %>
                  <div class="mb3"></div>
              <% end %>
          <% end %>
          <% unless opdrecord.weakness.blank? %>
              <b>Weakness :</b>
              <%= opdrecord.read_attribute(:"weakness") %>
              |
          <% end %>
          <% unless opdrecord.distalneurovasculardeficit.blank? %>
              <% unless opdrecord.distalneurovasculardeficit == "Absent" %>
                  <b>Distal Neurovascular Deficit :</b>
                  <%= opdrecord.read_attribute(:"distalneurovasculardeficit") %>

              <% end %>
          <% end %>
          <% unless opdrecord.sensorydeficit.blank? %>
              <b>Sensory deficit :</b>
              <%= opdrecord.read_attribute(:"sensorydeficit") %>
              |
          <% end %>
          <% unless opdrecord.motordeficit.blank? %>
              <b>Motor deficit :</b>
              <%= opdrecord.read_attribute(:"motordeficit") %>
              |
          <% end %>
          <% unless opdrecord.vascualardeficit.blank? %>
              <b>Vascular deficit :</b>
              <%= opdrecord.read_attribute(:"vascualardeficit") %>
              <div class="mb3"></div>
          <% end %>
          <% unless opdrecord.othersigns.blank? %>
              <b>Other Signs :</b>
              <%= opdrecord.read_attribute(:"othersigns") %>
              |
          <% end %>
          <% unless opdrecord.objectivecomments.blank? %>
              <li>
                <%= opdrecord.read_attribute(:"objectivecomments") %>
              </li>
              <div class="mb3"></div>
          <% end %>

        </div>

      </div>

    </div>
<% end %>