<% if opdrecord != nil %>
    <!--counter code starts here-->
    <%romcounter = 0%>
    <% examination_counter = 0 %>
    <% if opdrecord.romsliderrangerightwristextnflexn.length > 0 && opdrecord.romsliderrangerightwristextnflexn != "-70 : 80" %>

        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>

    <% end %>
    <% if opdrecord.romsliderrangeleftwristextnflexn.length > 0 && opdrecord.romsliderrangeleftwristextnflexn != "-70 : 80" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>



    <% if opdrecord.romsliderrangerightwristradioulnardev.length > 0 && opdrecord.romsliderrangerightwristradioulnardev != "-20 : 40" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangeleftwristradioulnardev.length > 0 && opdrecord.romsliderrangeleftwristradioulnardev != "-20 : 40" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>

    <% if opdrecord.romsliderrangeright1stcmcabduction.length > 0 && opdrecord.romsliderrangeright1stcmcabduction != "0 : 70" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangeleft1stcmcabduction.length > 0 && opdrecord.romsliderrangeleft1stcmcabduction != "0 : 70" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>

    <% if opdrecord.romsliderrangeright1stcmcextnflexn.length > 0 && opdrecord.romsliderrangeright1stcmcextnflexn != "-20 : 15" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangeleft1stcmcextnflexn.length > 0 && opdrecord.romsliderrangeleft1stcmcextnflexn != "-20 : 15" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>

    <% if opdrecord.romsliderrangeright1stmcpextnflexn.length > 0 && opdrecord.romsliderrangeright1stmcpextnflexn != "0 : 50" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangeleft1stmcpextnflexn.length > 0 && opdrecord.romsliderrangeleft1stmcpextnflexn != "0 : 50" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>

    <% if opdrecord.romsliderrangeright1stipextnflexn.length > 0 && opdrecord.romsliderrangeright1stipextnflexn != "0 : 80" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangeleft1stipextnflexn.length > 0 && opdrecord.romsliderrangeleft1stipextnflexn != "0 : 80" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>

    <% if opdrecord.romsliderrangerightfingermcpextnflexn.length > 0 && opdrecord.romsliderrangerightfingermcpextnflexn != "0 : 90" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangeleftfingermcpextnflexn.length > 0 && opdrecord.romsliderrangeleftfingermcpextnflexn != "0 : 90" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>

    <% if opdrecord.romsliderrangerightfingerpipextnflexn.length > 0 && opdrecord.romsliderrangerightfingerpipextnflexn != "0 : 90" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangeleftfingerpipextnflexn.length > 0 && opdrecord.romsliderrangeleftfingerpipextnflexn != "0 : 90" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>

    <% if opdrecord.romsliderrangerightfingerdipextnflexn.length > 0 && opdrecord.romsliderrangerightfingerdipextnflexn != "0 : 90" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% if opdrecord.romsliderrangeleftfingerdipextnflexn.length > 0 && opdrecord.romsliderrangeleftfingerdipextnflexn != "0 : 90" %>
        <%romcounter = romcounter+1%>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.generalsigns.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.areaaffectedobjective.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.sideobjective.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.location.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.skincondition.blank? %>
        <% unless opdrecord.skincondition == "Normal" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.nails.blank? %>
        <% unless opdrecord.nails == "Normal" %>
            <% examination_counter = examination_counter+1 %>
        <% end %>
    <% end %>
    <% unless opdrecord.distalneurovasculardeficit.blank? %>
        <% unless opdrecord.distalneurovasculardeficit == "Absent" %>
            <% examination_counter = examination_counter+1 %>

        <% end %>
    <% end %>
    <% unless opdrecord.sensorydeficit.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.motordeficit.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.vascualardeficit.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.othersigns.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>
    <% unless opdrecord.objectivecomments.blank? %>
        <% examination_counter = examination_counter+1 %>
    <% end %>

    <!--counter code ends here-->

    <div class="examination mb5" id="examination">
      <%if examination_counter > 0 %>

          <div class="row">
            <strong>EXAMINATION :</strong>
            <div class="summary-line-border"></div>

          </div>
      <%end%>

      <div class="row">

        <div class="col-mb-12">

          <% unless opdrecord.generalsigns.blank? %>
              <b>General Signs :</b>
              <%= opdrecord.read_attribute(:"generalsigns") %>
              |
          <% end %>
          <% unless opdrecord.areaaffectedobjective.blank? %>
              <b>Area Affected :</b>
              <%= opdrecord.read_attribute(:"areaaffectedobjective") %>
              |
          <% end %>
          <% unless opdrecord.sideobjective.blank? %>
              <b>Side :</b>
              <%= opdrecord.read_attribute(:"sideobjective") %>
              |
          <% end %>
          <% unless opdrecord.location.blank? %>
              <b>Location :</b>
              <%= opdrecord.read_attribute(:"location") %>
              |
          <% end %>
          <% unless opdrecord.skincondition.blank? %>
              <% unless opdrecord.skincondition == "Normal" %>
                  <b>Skin Condition :</b>
                  <%= opdrecord.read_attribute(:"skincondition") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.nails.blank? %>
              <% unless opdrecord.nails == "Normal" %>
                  <b>Nails :</b>
                  <%= opdrecord.read_attribute(:"nails") %>
                  |
              <% end %>
          <% end %>
          <% unless opdrecord.examinationsigns.blank? %>

              <%= opdrecord.read_attribute(:"examinationsigns") %>
              |
          <% end %>




          <div class="mb3"></div>
          <% if romcounter > 0 %>
              <b>ROM :</b>
          <%end%>

          <% if opdrecord.romsliderrangerightwristextnflexn.length > 0 && opdrecord.romsliderrangerightwristextnflexn != "-70 : 80" %>

              <b>Right Wrist:Extn-Flexn :</b>
              <%= opdrecord.read_attribute(:"romsliderrangerightwristextnflexn") %>
              <%= opdrecord.read_attribute(:"r_romwristextnflexn") %>
              <b>,</b>

          <% end %>
          <% if opdrecord.romsliderrangeleftwristextnflexn.length > 0 && opdrecord.romsliderrangeleftwristextnflexn != "-70 : 80" %>
              <b>Left Wrist:Extn-Flexn :</b>
              <%= opdrecord.read_attribute(:"romsliderrangeleftwristextnflexn") %>
              <%= opdrecord.read_attribute(:"l_romwristextnflexn") %>
              ,
          <% end %>



          <% if opdrecord.romsliderrangerightwristradioulnardev.length > 0 && opdrecord.romsliderrangerightwristradioulnardev != "-20 : 40" %>
              <b>Right Wrist:Radio-Ulnar Dev. :</b>
              <%= opdrecord.read_attribute(:"romsliderrangerightwristradioulnardev") %>
              <%= opdrecord.read_attribute(:"r_romwristradioulnardev") %>
              ,
          <% end %>
          <% if opdrecord.romsliderrangeleftwristradioulnardev.length > 0 && opdrecord.romsliderrangeleftwristradioulnardev != "-20 : 40" %>
              <b>Left  Wrist:Radio-Ulnar Dev. :</b>
              <%= opdrecord.read_attribute(:"romsliderrangeleftwristradioulnardev") %>
              <%= opdrecord.read_attribute(:"l_romwristradioulnardev") %>

          <% end %>

          <% if opdrecord.romsliderrangeright1stcmcabduction.length > 0 && opdrecord.romsliderrangeright1stcmcabduction != "0 : 70" %>
              <b>Right 1st CMC:Abduction:</b>
              <%= opdrecord.read_attribute(:"romsliderrangeright1stcmcabduction") %>
              <%= opdrecord.read_attribute(:"r_rom1stcmcabduction") %>
              ,
          <% end %>
          <% if opdrecord.romsliderrangeleft1stcmcabduction.length > 0 && opdrecord.romsliderrangeleft1stcmcabduction != "0 : 70" %>
              <b>Left  1st CMC:Abduction:</b>
              <%= opdrecord.read_attribute(:"romsliderrangeleft1stcmcabduction") %>
              <%= opdrecord.read_attribute(:"l_rom1stcmcabduction") %>

          <% end %>

          <% if opdrecord.romsliderrangeright1stcmcextnflexn.length > 0 && opdrecord.romsliderrangeright1stcmcextnflexn != "-20 : 15" %>
              <b>Right 1st CMC:Extn-Flexn:</b>
              <%= opdrecord.read_attribute(:"romsliderrangeright1stcmcextnflexn") %>
              <%= opdrecord.read_attribute(:"r_rom1stcmcextnflexn") %>
              ,
          <% end %>
          <% if opdrecord.romsliderrangeleft1stcmcextnflexn.length > 0 && opdrecord.romsliderrangeleft1stcmcextnflexn != "-20 : 15" %>
              <b>Left  1st CMC:Extn-Flexn:</b>
              <%= opdrecord.read_attribute(:"romsliderrangeleft1stcmcextnflexn") %>
              <%= opdrecord.read_attribute(:"l_rom1stcmcextnflexn") %>

          <% end %>

          <% if opdrecord.romsliderrangeright1stmcpextnflexn.length > 0 && opdrecord.romsliderrangeright1stmcpextnflexn != "0 : 50" %>
              <b>Right 1st MCP:Extn-Flexn:</b>
              <%= opdrecord.read_attribute(:"romsliderrangeright1stmcpextnflexn") %>
              <%= opdrecord.read_attribute(:"r_rom1stmcpextnflexn") %>
              ,
          <% end %>
          <% if opdrecord.romsliderrangeleft1stmcpextnflexn.length > 0 && opdrecord.romsliderrangeleft1stmcpextnflexn != "0 : 50" %>
              <b>Left  1st MCP:Extn-Flexn:</b>
              <%= opdrecord.read_attribute(:"romsliderrangeleft1stmcpextnflexn") %>
              <%= opdrecord.read_attribute(:"l_rom1stmcpextnflexn") %>

          <% end %>

          <% if opdrecord.romsliderrangeright1stipextnflexn.length > 0 && opdrecord.romsliderrangeright1stipextnflexn != "0 : 80" %>
              <b>Right 1st IP:Extn-Flexn:</b>
              <%= opdrecord.read_attribute(:"romsliderrangeright1stipextnflexn") %>
              <%= opdrecord.read_attribute(:"r_rom1stipextnflexn") %>
              ,
          <% end %>
          <% if opdrecord.romsliderrangeleft1stipextnflexn.length > 0 && opdrecord.romsliderrangeleft1stipextnflexn != "0 : 80" %>
              <b>Left  1st IP:Extn-Flexn:</b>
              <%= opdrecord.read_attribute(:"romsliderrangeleft1stipextnflexn") %>
              <%= opdrecord.read_attribute(:"l_rom1stipextnflexn") %>

          <% end %>

          <% if opdrecord.romsliderrangerightfingermcpextnflexn.length > 0 && opdrecord.romsliderrangerightfingermcpextnflexn != "0 : 90" %>
              <b>Right Finger MCP:Extn-Flexn:</b>
              <%= opdrecord.read_attribute(:"romsliderrangerightfingermcpextnflexn") %>
              <%= opdrecord.read_attribute(:"r_romfingermcpextnflexn") %>
              ,
          <% end %>
          <% if opdrecord.romsliderrangeleftfingermcpextnflexn.length > 0 && opdrecord.romsliderrangeleftfingermcpextnflexn != "0 : 90" %>
              <b>Left  Finger MCP:Extn-Flexn:</b>
              <%= opdrecord.read_attribute(:"romsliderrangeleftfingermcpextnflexn") %>
              <%= opdrecord.read_attribute(:"l_romfingermcpextnflexn") %>

          <% end %>

          <% if opdrecord.romsliderrangerightfingerpipextnflexn.length > 0 && opdrecord.romsliderrangerightfingerpipextnflexn != "0 : 90" %>
              <b>Right Finger PIP:Extn-Flexn:</b>
              <%= opdrecord.read_attribute(:"romsliderrangeright1stipextnflexn") %>
              <%= opdrecord.read_attribute(:"r_romfingerpipextnflexn") %>
              ,
          <% end %>
          <% if opdrecord.romsliderrangeleftfingerpipextnflexn.length > 0 && opdrecord.romsliderrangeleftfingerpipextnflexn != "0 : 90" %>
              <b>Left  Finger PIP:Extn-Flexn:</b>
              <%= opdrecord.read_attribute(:"romsliderrangeleftfingerpipextnflexn") %>
              <%= opdrecord.read_attribute(:"l_romfingerpipextnflexn") %>

          <% end %>

          <% if opdrecord.romsliderrangerightfingerdipextnflexn.length > 0 && opdrecord.romsliderrangerightfingerdipextnflexn != "0 : 90" %>
              <b>Right Finger DIP:Extn-Flexn:</b>
              <%= opdrecord.read_attribute(:"romsliderrangerightfingerdipextnflexn") %>
              <%= opdrecord.read_attribute(:"r_romfingerdipextnflexn") %>
              ,
          <% end %>
          <% if opdrecord.romsliderrangeleftfingerdipextnflexn.length > 0 && opdrecord.romsliderrangeleftfingerdipextnflexn != "0 : 90" %>
              <b>Left Finger DIP:Extn-Flexn:</b>
              <%= opdrecord.read_attribute(:"romsliderrangeleftfingerdipextnflexn") %>
              <%= opdrecord.read_attribute(:"l_romfingerdipextnflexn") %>

          <% end %>
          <div class="mb3"></div>

          <% unless opdrecord.distalneurovasculardeficit.blank? %>
              <% unless opdrecord.distalneurovasculardeficit == "Absent" %>
                  <b>Distal Neurovascular Deficit :</b>
                  <%= opdrecord.read_attribute(:"distalneurovasculardeficit") %>

              <% end %>
          <% end %>
          <% unless opdrecord.sensorydeficit.blank? %>
              <b>Sensory deficit :</b>
              <%= opdrecord.read_attribute(:"sensorydeficit") %>
              |
          <% end %>
          <% unless opdrecord.motordeficit.blank? %>
              <b>Motor deficit :</b>
              <%= opdrecord.read_attribute(:"motordeficit") %>
              |
          <% end %>
          <% unless opdrecord.vascualardeficit.blank? %>
              <b>Vascular deficit :</b>
              <%= opdrecord.read_attribute(:"vascualardeficit") %>
              <div class="mb3"></div>
          <% end %>
          <% unless opdrecord.othersigns.blank? %>
              <b>Other Signs :</b>
              <%= opdrecord.read_attribute(:"othersigns") %>
              <div class="mb3"></div>
          <% end %>
          <% unless opdrecord.objectivecomments.blank? %>
              <li>
                <%= opdrecord.read_attribute(:"objectivecomments") %>
              </li>
              <div class="mb3"></div>
          <% end %>

        </div>

      </div>

    </div>
<% end %>