<div class="row no_margin">
  <div class="col-sm-4 no_padding text-left">Full Name</div>
  <div class="col-sm-1 no_padding text-left">:</div>
  <div class="col-sm-7 no_padding"><b><%= @patient.fullname.to_s.upcase %></b> <% if @patient.gender? %> <%= "(" + @patient.gender + ")" %><% end %></div>
</div>
<% if @patient.patient_type.present? %>
  <div class="row no_margin">
    <div class="col-sm-4 no_padding text-left">Patient Type</div>
    <div class="col-sm-1 no_padding text-left">:</div>
    <div class="col-sm-7 no_padding">
      <label class="label label-default" style="margin-left:0px;background:<%= @patient.patient_type.color %>"><%= @patient.patient_type.label.to_s.upcase %> <% if @patient.patient_type_comment? %>- <%= @patient.patient_type_comment %><% end %></label>
    </div>
  </div>
<% end %>
<% if @patient.patient_mrn.present? %>
  <div class="row no_margin">
    <div class="col-sm-4 no_padding text-left">MR No.</div>
    <div class="col-sm-1 no_padding text-left">:</div>
    <div class="col-sm-7 no_padding"><b style="color:#000;background: #fed136;"><%= @patient.patient_mrn %></b></div>
  </div>
<% end %>
<div class="row no_margin">
  <div class="col-sm-4 no_padding text-left">Patient ID</div>
  <div class="col-sm-1 no_padding text-left">:</div>
  <div class="col-sm-7 no_padding"><%= @patient.patient_identifier_id %></div>
</div>
<div class="row no_margin">
  <div class="col-sm-4 no_padding text-left">Date of Birth<% if @patient.is_approx_dob == false %> Age<% end %></div>
  <div class="col-sm-1 no_padding text-left">:</div>
  <div class="col-sm-6 no_padding"><%= @patient.dob ? @patient.dob.strftime("%d-%m-%Y") : "Unavailable" %><% if @patient.exact_age.present? %> <strong>|</strong>
      <%= @calculate_age %>
    <% end %></div>
</div>
<div class="row no_margin">
  <div class="col-sm-4 no_padding text-left">Primary Contact</div>
  <div class="col-sm-1 no_padding text-left">:</div>
  <div class="col-sm-7 no_padding"><%= @patient.mobilenumber %></div>
</div>
<% if @patient.emergency_contact.present? %>
  <div class="row no_margin">
    <div class="col-sm-4 no_padding text-left">Emergency Details</div>
    <div class="col-sm-1 no_padding text-left">:</div>
    <div class="col-sm-7 no_padding"><%= @patient.emergency_contact %></div>
  </div>
<% end %>
<% if @patient.primary_language.present? || @patient.secondary_language.present? %>
  <div class="row no_margin">
    <div class="col-sm-4 no_padding text-left">Language</div>
    <div class="col-sm-1 no_padding text-left">:</div>
    <div class="col-sm-7 no_padding"><%= @patient.primary_language %><%= (", " +  @patient.secondary_language.to_s if @patient.secondary_language.present? && @patient.primary_language.present?) || @patient.secondary_language.to_s %></div>
  </div>
<% end %>
<% if @patient.occupation.present? || @patient.employee_id.present? %>
  <% occupation_full_details = (@patient.employee_id.present? && @patient.occupation.present?) %>
  <div class="row no_margin">
    <div class="col-sm-4 no_padding text-left"><% if occupation_full_details || @patient.occupation.present? %>Occupation<% else %>Employee ID<% end %></div>
    <div class="col-sm-1 no_padding text-left">:</div>
    <div class="col-sm-7 no_padding"><%= @patient.occupation %><%= (", " +  @patient.employee_id.to_s if occupation_full_details) || @patient.employee_id.to_s %></div>
  </div>
<% end %>
