<div class="col-sm-3 text-center no_padding">

  <% if @patient_asset.present? %>
    <%= image_tag(@patient_asset, class: "patient_profile_pic") %>
  <%else%>
      <%= image_tag('placeholder.png', class: "patient_profile_pic") %>
  <%end%>

  <% if @patient.one_eyed == "Yes" %>
    <div style="margin-top: 4px"><b>One Eyed</b></div>
  <% end %>

  <div><% if @patient.rating.present? %> <b style="color: #f5bf18;"><%= @patient.rating.round(2).to_s %> <i class="glyphicon glyphicon-star"></i> </b><% end %></div>
</div>
<div class="col-sm-9" id="modalCalendarAppointmentDetailsId" data-appointment-id="<%= @admission.id.to_s%>">
  <div class="row no_margin">
    <h4 class="" style="display: inline">
      <span>Patient Details</span>
      <%= link_to patient_cards_print_path(patient_id: @admission.patient_id, format: :pdf), class: 'btn btn-link btn-xs print_patient_card', style: 'padding: 2px;', target: '_blank' do %><i class="fa fa-print"></i><% end %>
      <%= link_to edit_patient_path(id: @patient.id), :class => "btn btn-link btn-xs edit_patient_info", data: {remote: true, 'toggle': "modal", 'target': '#patient-modal'},  style: "padding: 2px;" do %><i class="fa fa-edit"></i><% end %>
      <% unless @patient.try(:reg_status) %>
        <%= link_to register_patient_path(id: @patient.id, appointment_id: @appointment.id.to_s), data: { remote: true, confirm: 'Are you Sure?' }, method: :get, class: 'btn btn-link btn patient_register', title: 'Register Patient' do %><i class="fa fa-registered"></i><% end %>
      <% end %>
    </h4>
    <% if @patient.reg_status %>
      <button class="pull-right btn btn-default btn-xs" id="patient-summary-timeline-link" title="Patient Summary">Summary</button>
    <% end %>
  </div>
  <div id='patient-details'>
    <%= render partial: 'outpatients/appointment/appointment_details/tpa_details/patient_details.html.erb' %>
  </div>
</div>
<div class="row col-md-12" id="patient_history_allergy">
  <%= render partial: "outpatients/appointment/appointment_details/patient_history_allergy.html.erb" %>
</div>