<div class="adjust_font_size_print" style="font-family: <%= UsersSetting.find_by(user_id: current_user.id).font_style %>">
  <div class="row mb10" id="patient_button">
    <%= render partial: 'inpatient/ipd_records/views/overall_info.html.erb', locals: { patient: @patient , admission: @admission, invoice: @invoice, ipdrecord: @ipdrecord, flag: "Invoice"} %>
  </div>
  <div class="row mb10">    
    <div class="col-md-12">
      <div class="pcs-entity-title"><span><%= @template_type.split("note")[0].to_s + " " + @print %></span></div>
    </div>
  </div>
  <% if @print == "Summary" %>
    <!-- Summary Wise View -->
    <%= render partial: "inpatient/ipd_records/views/summary/" + @template_type.split("note")[0] + "_summary.html.erb", locals: { ipdrecord: @ipdrecord, patient: @patient, admission: @admission, template_type: @template_type, procedure_notes: @procedure_notes } %>
  <% else %>
    <!-- Note Wise View -->
    <%= render partial: "inpatient/ipd_records/views/notes/" + @template_type.split("note")[0] + "_note.html.erb", locals: { ipdrecord: @ipdrecord, patient: @patient, admission: @admission, template_type: @template_type, procedure_notes: @procedure_notes } %>
    
  <% end %>
</div>

<style type="text/css">
  .adjust_font_size_print * {
    font-size: 8px;
  }
  .pcs-entity-title {
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-size: 13pt;
    color: #333333;
  }

  .pcs-entity-title:before {
    content: "";
    display: block;
    border-top: 1px solid #eeeeee;
    width: 100%;
    height: 1pt;
    position: absolute;
    top: 50%;
    font-size: 1pt;
  }
  .pcs-entity-title span {
    background: #ffffff;
    padding: 0 20px;
    position: relative;
  }

  
</style>