<div class="panel-body">
  <div class="row">
    <div class="col-sm-12">
      <h5 class="subtitle mb5" style="display:inline;">OT List Today (Total: <%= @ot.size %>)</h5><a href="" class="pull-right btn-minimize-view"><i class="fa fa-minus"></i></a>
    </div>
    <div class="col-sm-4">
      <b>Scheduled:</b><%= @ot.where(operation_done: false, is_engaged: false).size %>
    </div>
    <div class="col-sm-4">
      <b>Engaged:</b><%= @ot.where(operation_done: false, is_engaged: true).size %>
    </div>
    <div class="col-sm-4">
      <b>Completed:</b><%= @ot.where(operation_done: true).size %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row toggle-view" id="ot-list-dashboard">
        <%= render partial: '/dashboard/ot/ot_details.html.erb' %>
      </div><!-- table-responsive -->
    </div>
  </div>
</div><!-- panel-body -->