
                <div class="step-pane active" data-step="1">
  
                  <div class="row">
  
                    <div class="col-md-10">
  
                      <div class="panel panel-primary">
  
                        <div class="panel-body">  
                         
  
                          <div class="row">
  
                            <div class="col-md-12">
  
                              <div class="row">
    
  
                                <div class="col-md-12 chiefcomplaintsaffix">
                                  <div class="col-md-3"><strong>Chief Complaints :</strong></div>
                                </div>
  
                                <br>
                                <div class="col-md-12">
                                  <div class="col-md-3">General </div>
                                  <%= f.input :general, wrapper_html: {:class=>"col-md-9"},collection: ['Fever','Chills','Malaise','Fatigue','Weight loss','Weight Gain'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>
  
  
                                <div class="col-md-12">
                                  <div class="col-md-3">Eyes </div>
                                  <%= f.input :eyes, wrapper_html: {:class=>"col-md-9"},collection: ['Eye Pain','Vision loss','Eyes Redness','Eye Discharge','Dry eyes','Itchy eyes'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>
  
                                <div class="col-md-12">
                                  <div class="col-md-3">ENT </div>
                                  <%= f.input :ent, wrapper_html: {:class=>"col-md-9"},collection: ['Ear ache','Hearing loss','Nasal bleed','Nasal Discharge','Sore Throat','Hoarseness'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>
  
                                <div class="col-md-12">
                                  <div class="col-md-3">Cardiac </div>
                                  <%= f.input :cardiac, wrapper_html: {:class=>"col-md-9"},collection: ['Chest Pain','Palpitations','Rapid heartbeat','Slow heartbeat','Leg Pain when walking','Leg Swelling'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>
  
                                <div class="col-md-12">
                                  <div class="col-md-3">Respiratory </div>
                                  <%= f.input :respiratory, wrapper_html: {:class=>"col-md-9"},collection: ['Shortness of breath','Wheezing','Cough','Short of breath on lying','Awakening due to short of breath/ Air Hunger','Blood in cough/sputum'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>
  
                                <div class="col-md-12">
                                  <div class="col-md-3">GI </div>
                                  <%= f.input :gi, wrapper_html: {:class=>"col-md-9"},collection: ['Abdominal Pain','Nausea/Vomiting','Constipation','Diarrhea','Heartburn','Bloody stool','Jaundice'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>
  
                                <div class="col-md-12">
                                  <div class="col-md-3">Urology </div>
                                  <%= f.input :urology, wrapper_html: {:class=>"col-md-9"},collection: ['Painful urination','Incontinence','Difficulties urinating','Painful periods','Discharge per urethra','Sexual dysfunction','Blood in urine'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>
  
  
                                <div class="col-md-12">
                                  <div class="col-md-3">Muscle </div>
                                  <%= f.input :muscle, wrapper_html: {:class=>"col-md-9"},collection: ['Joint Pain','Joint Swelling','Joint Stiffness','Limb Pain','Limb Swelling'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>
  
  
                                <div class="col-md-12">
                                  <div class="col-md-3">Dermatolgy </div>
                                  <%= f.input :dermatology, wrapper_html: {:class=>"col-md-9"},collection: ['Rash','Skin Lesion','Itching'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>
  
                                <div class="col-md-12">
                                  <div class="col-md-3">Neurology </div>
                                  <%= f.input :neurology, wrapper_html: {:class=>"col-md-9"},collection: ['Headache','Confusion','Seizures','Dizziness','Limb weakness','Difficulty walking','Imbalance'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>
  
                                <div class="col-md-12">
                                  <div class="col-md-3">Psychiatry </div>
                                  <%= f.input :psychiatry, wrapper_html: {:class=>"col-md-9"},collection: ['Suicidal thoughts','Anxiety','Depression','Hallucinations','Personality change','Sleep difficulties'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>
  
                                <div class="col-md-12">
                                  <div class="col-md-3">Endocrine </div>
                                  <%= f.input :endocrine, wrapper_html: {:class=>"col-md-9"},collection: ['Hot flushes','Excessive urination','Generalized weakness ','Hot/cold intolerance','Dry eyes','Itchy eyes'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>
  
                                <div class="col-md-12">
                                  <div class="col-md-3">Hematology </div>
                                  <%= f.input :hematology, wrapper_html: {:class=>"col-md-9"},collection: ['Easy bruising/bleeding','Rash','Swollen Glands'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>
  
                                <div class="col-md-12">
                                  <div class="col-md-3">Eyes </div>
                                  <%= f.input :eyes, wrapper_html: {:class=>"col-md-9"},collection: ['Eye Pain','Vision loss','Eyes Red','Eye Discharge','Dry eyes','Itchy eyes'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>
  
  
                                       <div class="col-md-12 ccother">
                                          <div class="col-md-3"><strong>Other</strong></div>                                             
                                              <div class="col-md-12 row">
                                                <%= f.input :ccother, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 40 } %>                                     
                                              </div>
                                       </div>
                        
  <br><br><br><br><br><br>
                                <div class="col-md-12" id="hpiaffix">
                                  <div class="col-md-3">HPI </div>
                                  <%= f.input :hpi, wrapper_html: {:class=>"col-md-9"},collection: ['Type and nature of complaint','Severity','Duration','Frequency of attacks/episodes','Aggravating/relieving factors'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>
  
  
  
  
  
                              <div class="col-md-12">
                                <div class="col-md-3"><strong>Duration</strong> </div>

                                  <div class="col-md-9">
                                    <div class="row">
                                      <div class="col-md-12 hpiduration">
                                        <div class="col-md-12">
                                          <div class="col-md-2">
                                            <div class="form-group">

                                              <div class="input-group">
                                                <%= f.input_field :durationhours, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                                <span class="input-group-addon">H</span>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-2">
                                            <div class="form-group">

                                              <div class="input-group">
                                                <%= f.input_field :durationdays, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                                <span class="input-group-addon">D</span>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-2">
                                            <div class="form-group">

                                              <div class="input-group">
                                                <%= f.input_field :durationmonths, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                                <span class="input-group-addon">M</span>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-2">
                                            <div class="form-group">

                                              <div class="input-group">
                                                <%= f.input_field :durationyears, :class => "form-control", :maxlength => 4, :size => 4, :required => false %>
                                                <span class="input-group-addon">Y</span>
                                              </div>
                                            </div>
                                          </div>
                                          </div>
                                      </div>
                                      </div>
                                    </div>
                                 </div>




  
  
                                <div class="col-md-12" id="historyaffix">
                                  <div class="col-md-3">Past Medical/Surgical History </div>
                                  <%= f.input :pastmedicalhistory, wrapper_html: {:class=>"col-md-9"},collection: ['Stroke/TIA','Seizures/Epilepsy','Heart Attack/Angina','Heart Failure','Heart arrhythmia','Heart valve abnl','High blood pressure','High cholesterol','Asthma/COPD','Pulmonary embolus/DVT','Stomach ulcer','Stomach/intestinal bleeding','Hepatitis','Cirrhosis kidney disease','Kidney stones','Enlarged prostate','Diabetes mellitus','Thyroid disorder','Depression','Anxiety','Anemia','Bleeding disorder','HIV/AIDS','Cancer','Other'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>
  
  
  
                                     <div class="col-md-12 operationsother">
                                          <div class="col-md-3"><strong>Other</strong></div>
                                             <div class="col-md-12 row">
                                                  <div class="col-md-2">Operations</div>
                                             </div>
                                              <div class="col-md-12 row">
                                                <%= f.input :operationsother, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 40 } %>                                     
                                              </div>
                                  </div>     
  
    <br><br><br><br>
      <br><br><br><br>
  
                                <div class="col-md-12" id="drughistoryaffix">
                                  <div class="col-md-3">Drug History </div>
                                  <%= f.input :drughistory, wrapper_html: {:class=>"col-md-9"},collection: ['Drug name','Dosage','Timing','Duration'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>
  
  
                           </div>
  
  
  
                              <div class="col-md-12" id="familyhistoryaffix">
                                <div class="col-md-3">Family history </div>
                                <%= f.input :familyhistory, wrapper_html: {:class=>"col-md-9"},collection: ['Alive/Dead','Health','Status/Disease'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                              </div>
  
                                <div class="col-md-12" id="personalhistoryaffix">
                                  <div class="col-md-3">Personal history </div>
                                  <%= f.input :personalhistory, wrapper_html: {:class=>"col-md-9"},collection: ['Diet','Smoking','Alcohol','Bowel','Bladder'], :as => :hg_checkbox,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>
                                <br><br>
  
                     
  
                                <div class="col-md-12" id="historyofallergies">
                                  <div class="col-md-12"><strong>History of Allergies</strong> </div>
                                  <div class="col-md-3">Alleric to anything</div>
                                  <%= f.input :history_of_allergies, wrapper_html: {:class=>"col-md-9"},collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white blurring' %>
                                </div>
  
                            
                            <div class="questionsforhistoryofallergies">
                                <div class="questionsforhistoryofallergies">
                                  <div class="col-md-12"><strong>Drug Allergies</strong></div>
                                <div class="col-md-12">
                                        <div class="col-md-3">Antimicrobial agents</div>
                                           <%= f.input :antimicrobial_agents, wrapper_html: {:class=>"col-md-9"},collection: ['Ampicillin','Aztreonam','Cefotaxime','Ceftazidime','Ceftriaxone','Ciprofloxacin','Clarithromycin','Clindamycin','Co-trimoxazole','Daptomycin','Enviomycin','Ethambutol','Imipenem/cilastatin','Isoniazid','Linezolid','Meropenem','Metronidazole','Penicillin','Quinidine','Rifampicin','Streptomycin','Sulphadiamine','Sulphadiazine','Tobramycin','Vancomycin'], :as => :hg_radio_button,:label => false, :checked => 'N', :required => false,:class => 'btn btn-xs btn-white' %>
                                     </div>
                                <div class="col-md-12">
                                        <div class="col-md-3">Antifungal agents</div>
                                           <%= f.input :antifungal_agents, wrapper_html: {:class=>"col-md-9"},collection: ['Fluconazole','Itraconazole'], :as => :hg_radio_button,:label => false, :checked => 'N', :required => false,:class => 'btn btn-xs btn-white' %>
                                     </div>
                                <div class="col-md-12">
                                        <div class="col-md-3">Antiviral agents</div>
                                           <%= f.input :antiviral_agents, wrapper_html: {:class=>"col-md-9"},collection: ['Acyclovir','Amprenavir','Darunavir','Efavirenz','Enfuvartide','Nelfinavir','Nevirapine','Tipranavir','Zidovudine'], :as => :hg_radio_button,:label => false, :checked => 'N', :required => false,:class => 'btn btn-xs btn-white' %>
                                </div>
                               

<br><br><br><br>
                                  <div class="questionsforcontactallergies">                                  
                                       <div class="col-md-3">Contact Allergies</div>
                                             <%= f.input :contact_allergies, wrapper_html: {:class=>"col-md-9"},collection: ['Latex','Alcohol','Betadine','Adhesive Tape','Bandaids','Covaderm','Paper Tape','Duoderm(collagen)','Elastoplast tape','Plastic tape','Tegaderm','Transpore'], :as => :hg_radio_button,:label => false, :checked => 'N', :required => false,:class => 'btn btn-xs btn-white' %>
                                  </div>                                
                                  

<br><br><br><br>
                                  <div class="questionsforfoodallergies">
                                      <div class="col-md-3">Food Allergies</div>                                                                             
                                             <%= f.input :food_allergies, wrapper_html: {:class=>"col-md-9"},collection: ['All Seafood','Corn','Egg','Milk proteins','Peanuts','Shellfish only','Soy Protein','Walnuts','Tree Nuts','Banana','Beef','Caffeine','Carbonated beverages','Coconut','Chocolate','Citrus Fruit','Garlic','Green(bell) pepper','Lactose','Mushroom','Onion','Pork','Strawberry','Tomatoes','Turkey'], :as => :hg_radio_button,:label => false, :checked => 'N', :required => false,:class => 'btn btn-xs btn-white' %>
                                  </div>                                
                                  
  
<br><br><br><br>
                                        <div class="col-md-12 allergiesother">
                                          <div class="col-md-3"><strong>Other</strong></div>
                                             <div class="col-md-12 row">
                                                  <div class="col-md-2">Comments</div>
                                             </div>
                                              <div class="col-md-12 row">
                                                <%= f.input :allergiesother, as: :text,  :label => false, :required => false, :input_html => {:class => "form-control", :rows => 2, :cols => 40 } %>                                     
                                              </div>
                                        </div>
                                        
                                        
                                        
                                    


                                </div>
  
                            </div>
                                     
  
                            </div><!-- panel -->
  
                          </div>
  
                        </div>
  
                      </div>
  
                    </div>
  
                  
                   <div class="nav" data-spy="scroll" data-target="#scroll">
                    <div class="col-md-2">
                     <div class="container">
                      <div id="scroll">

                        <ul id="affixnav" data-spy="affix" class="nav affix">
                        <li  data-value="chiefcomplaints"><a href=".chiefcomplaintsaffix" class="affixs">Chief Complaints</a></li>
                        <li data-value="hpi"><a href="#hpiaffix" class="affixs">HPI</a></li>
                        <li data-value="past_medical_history"><a href="#historyaffix" class="affixs">Past History</a></li>
                        <li data-value="drug_history" ><a href="#drughistoryaffix" class="affixs">Drug History</a></li>
                        <li data-value="family_history"><a href="#familyhistoryaffix" class="affixs">Family History</a></li>
                        <li data-value="personal_history"><a href="#personalhistoryaffix" class="affixs">Personal History</a></li>
                        <li data-value="history_of_allergies"><a href="#historyofallergies" class="affixs">History of Allergies</a></li>                      
                      </ul>

                    </div>
                  </div>
                </div>
           </div>
                  
                  
                  </div>
                  
  
                </div>
  