<!-- Needs Facility Change -->
<% @ward = Ward.where(facility_id: current_facility.id)  %>
<% @ward.each.with_index do |ward,i| %>
  <div class="row no_margin text-center" style='background-color: #354670; margin-bottom: 10px; padding: 7px; color: white; cursor: pointer;' data-toggle="collapse" data-target="#summary_ward_today_<%= i.to_s %>"><%= ward.name %><span class="pull-right"><i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
  </span></div>

  <div class="row no_margin summary_body in_first_only collapse" id="summary_ward_today_<%= i.to_s %>">
    <div class="ward_today">
      <div class="tab-content">
        <div class="ward_type_content" id="ward_scheduled">
          <% ward.rooms.each do |room| %>
            <div class='row no_margin summary_ward' data-room-id="<%= room.id %>">
              <div class='col-sm-7 no_padding text-left'>
                <b><%= room.name %></b>
              </div>
              <div class='col-sm-5 no_padding text-right'>
                Total Beds: <%= room.beds.count %>
              </div>
              <div class='col-sm-3 no_padding text-left'>
                Code: <%= room.code %>
              </div>
              <div class='col-sm-9 no_padding text-right'>
                Occupied: <%= room.beds.where(status: 1669000).count %> | Unoccupied: <%= room.beds.where(status: 78848005).count %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div><!-- summary_body -->
  <hr>
<% end %>

<style type="text/css">
  .summary_ward {
    border-width: 1px 1px 1px 3px;
    border-style: solid;
    border-color: rgb(53, 70, 112);
    padding:5px;
  }
</style>

<script type="text/javascript">
  $(".summary_ward").on('click', function(){
    _this = this
    $(".sidebar-summary-ward").find(".summary_ward").css("background-color","#fff")
    $(_this).css("background-color","#fff9e6")
    $("#ward_summary").css('background-color','#fff')
    $("#ward_summary").html("")
    $("#ward_summary").html('<div class="loading_dots"> <span> </span>&nbsp;&nbsp;<span> </span>&nbsp;&nbsp;<span> </span> </div><div class="text-center">ARRANGING BEDS PLEASE WAIT</div>')
    var room_id = $(this).attr("data-room-id")
    var doctor = $(this).closest(".coverpanel").find(".current_doctor").find('a').attr("data-doctor-id")
    $.ajax({
      url: "/ipd_patients/ward_details",
      data: {
        room_id: room_id,
        doctor: doctor
      },
      dataType: 'html',
      success: function(res){
        $("#ward_summary").css('background-color','#fff');
        $("#ward_summary").html(res);
      },
      error: function(err){
      }
    })
  })

  $(".sidebar-summary-ward").find(".in_first_only").first().addClass("in");
  $(".sidebar-summary-ward").find(".in_first_only").first().find(".summary_ward").first().trigger('click')
  
</script>