<% @invoice_inventory_department_pharmacies.each_with_index do |log,i| %>
    <tr class="text-center inventroy_items_log">
      <td><%= i + @count.to_i + 1 %>.</td>
      <td><%= log.bill_number %></td>
      <td><%= log.order_date.strftime("%d %b %Y") %></td>
      <td class="text-left"><%= log.recipient %></td>
      <td><%= log.recipient_mobile %></td>
      <td><%= log.items.length %></td>
      <td><%= log.total.round(2) %></td>
      <td><%= (log.mode_of_payment if log.mode_of_payment.present? )|| '-' %></td>
      <td><%= (log.comments if log.comments.present? )|| '-' %></td>
      <td style="padding: 0px 5px 0px -2px;">
        <div class="btn-group" role="group">
          <a href="/invoice/inventories/department/pharmacy/print?log_id=<%= log.id %>&page_size=A5" class="btn btn-xs btn-success" target="_blank"><i class="fa fa-print"></i>&nbsp; A5 </a>
          <a href="/invoice/inventories/department/pharmacy/print?log_id=<%= log.id %>&page_size=A4" class="btn btn-xs btn-success" target="_blank"><i class="fa fa-print"></i>&nbsp; A4 </a>
           <!-- incoming changes -->
           <%= link_to new_mail_record_tracker_path(:record_name => 'Pharmacy Invoice', :record_id => log.id, :record_model => 'Invoice::Inventories::Department::PharmacyInvoice',appointment_id: log.try(:appointment_id), speciality: log.try(:specalityname), :patient_id => log.patient_id), :class => "btn btn-xs btn-primary", :data => {:remote => true, 'disable-with' =>  "Please Wait...", 'toggle' => 'modal', 'target' => '#mail-record-modal'} do %> <i class="fa fa-envelope"></i> Email<% end %>
           <!-- end -->
        </div>
      </td>
    </tr>
<%end%>