<% if @invoice_setting.tax_enabled_pharmacy %>
  <%#= f.fields_for :items, :child_index => "new_items" do |builder| %>
    <%#= builder.text_field :fullname,{:class => 'form-control',:value=>'paracetamol'}%>
  <%# end %>
  <%= f.fields_for :items, :child_index => "new_items" do |builder| %>
    <div class="row mt10 mb5 request_log_item">

      <div class="col-sm-4">
        <div class="col-sm-4 font_size">
          <%= hidden_field_tag "invoice_inventories_department_pharmacy_invoice[items_attributes][new_items][lot_id]", "", class: "lot_id" %>
          <%= builder.text_field :item_code, :class => "search_optical_item_code modalRequest_input_style", :placeholder=>"Item Code", :style=>"width:100%;text-align:left"%>
          <%= builder.hidden_field :inventory_item_id, :class => "inventory_item_id"%>
        </div>
        <div class="col-sm-5 font_size">
          <%= builder.text_field :description, :class => "search_optical_description modalRequest_input_style", :placeholder=>"Description", :style=>"width:100%;text-align:left"%>
        </div>
        <div class='col-sm-3 font-size'>
          <%= builder.text_field :manufacturer, :class => "item_manufacturer modalRequest_input_style", :placeholder=>"Manufacturer", :style=>"width:100%;text-align:left"%>
        </div>
      </div>
      <div class="col-sm-8 tax_price_details">
        <div class="tax_fields"></div>
        <div class="col-sm-2 col-sm-3-shared font_size">
          <%= builder.text_field :batch_no, :class => "item_batch modalRequest_input_style", :placeholder=>"Batch", :style=>"width:100%;text-align:left"%>
        </div>
        <div class="col-sm-1 font_size">
          <%= builder.text_field :quantity, :class => "item_quantity modalRequest_input_style", :placeholder=>"Qty", :style=>"width:100%;text-align:left"%>
          <input type="hidden" class="item_max_quantity modalRequest_input_style" placeholder="" style="width:90%;text-align:left" />
        </div>
        <div class="col-sm-2 col-sm-3-shared font_size">
          <%= builder.text_field :expiry, :class => "exp_datepicker item_expiry modalRequest_input_style", :placeholder=>"Expiry", :style=>"width:100%;text-align:left"%>
        </div>
        <div class="col-sm-2 col-sm-3-shared font_size">
          <%= builder.text_field :mrp, :class => "price_including_tax modalRequest_input_style", :placeholder=>"Unit Price", :style=>"width:100%;text-align:left"%>
        </div>
        <div class="col-sm-2 col-sm-3-shared font_size">
          <select name="invoice_inventories_department_pharmacy_invoice[items_attributes][new_items][tax_group_id]" class='form-control tax_group_id'>
            <option value="" data-tax-rate='0'> </option>
            <% @tax_groups.each do |tax_group| %>
              <option value="<%= tax_group.id.to_s %>" data-tax-rate='<%= tax_group.rate %>'><%= tax_group.name %> - <%= tax_group.rate %>%</option>
            <% end %>
          </select>
        </div>
        <div class="col-md-1 field_for_tax_inclusive">
          <input type="hidden" name="invoice_inventories_department_pharmacy_invoice[items_attributes][new_items][tax_inclusive]" id='invoice_inventories_department_pharmacy_invoice_items_attributes_new_items_tax_inclusive_hidden' value="false">
          <div class="ckbox ckbox-primary">
            <input type="checkbox" name="invoice_inventories_department_pharmacy_invoice[items_attributes][new_items][tax_inclusive]" id='invoice_inventories_department_pharmacy_invoice_items_attributes_new_items_tax_inclusive' class="item_tax_inclusive" value='true' checked="checked">
            <label for='invoice_inventories_department_pharmacy_invoice_items_attributes_new_items_tax_inclusive'></label>
          </div>
        </div>
        <div class="col-md-2 col-sm-3-shared field_for_taxable_amount">
          <%= builder.hidden_field :non_taxable_amount, :class => "item_non_taxable_amount modalRequest_input_style", :placeholder=>"NonTaxable Amount", style: "width:90%;text-align:left", :value => '0.0'%>
          <%= builder.text_field :taxable_amount, :class => "item_taxable_amount modalRequest_input_style", :placeholder=>"Taxable Amount", style: "width:90%;text-align:left", :value => '0.0', readonly:'readonly' %>
        </div>
        <!-- <div class="col-sm-2 col-sm-3-shared font_size">
          <input type="text" disabled="disabled" class="item_tax_price modalRequest_input_style" placeholder="Tax %" style="width:90%;text-align:left" />
        </div> -->
        <div class="col-sm-2 col-sm-3-shared font_size">
          <input type="text" disabled="disabled" class="item_total_price modalRequest_input_style" placeholder="Total" style="width:90%;text-align:left" />
        </div>
        <div class="col-sm-1 font-size text-center">
          <!--  <button type="button" class="btn btn-link hg-tooltip" tabindex="-1" style="padding:0px;" title="Add Other Item to List" id="add_other_item"><i class="fa fa-plus-circle" style="color:#555;"></i></button> -->
          <button type="button" class="btn btn-link hg-tooltip delete_empty_item" tabindex="-1" style="padding:0px;" title="Remove From List"><i class="fa fa-trash-alt" style="color:#000;"></i></button>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <%#= f.fields_for :items, :child_index => "new_items" do |builder| %>
    <%#= builder.text_field :fullname,{:class => 'form-control',:value=>'paracetamol'}%>
  <%# end %>
  <%= f.fields_for :items, :child_index => "new_items" do |builder| %>
    <div class="row mt10 mb5 request_log_item">
      <div class="col-sm-5">
        <div class="col-sm-4 font_size">
          <%= hidden_field_tag "invoice_inventories_department_pharmacy_invoice[items_attributes][new_items][lot_id]", "", class: "lot_id" %>
          <%= builder.text_field :item_code, :class => "search_optical_item_code modalRequest_input_style", :placeholder=>"Item Code", :style=>"width:100%;text-align:left"%>
          <%= builder.hidden_field :inventory_item_id, :class => "inventory_item_id"%>
        </div>
        <div class="col-sm-5 font_size">
          <%= builder.text_field :description, :class => "search_optical_description modalRequest_input_style", :placeholder=>"Description", :style=>"width:100%;text-align:left"%>
        </div>
        <div class='col-sm-3 font-size'>
          <%= builder.text_field :manufacturer, :class => "item_manufacturer modalRequest_input_style", :placeholder=>"Manufacturer", :style=>"width:100%;text-align:left"%>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="col-sm-2 font_size">
          <%= builder.text_field :batch_no, :class => "item_batch modalRequest_input_style", :placeholder=>"Batch", :style=>"width:100%;text-align:left"%>
        </div>
        <div class="col-sm-1 font_size">
          <%= builder.text_field :quantity, :class => "item_quantity modalRequest_input_style", :placeholder=>"Qty", :style=>"width:100%;text-align:left"%>
          <input type="hidden" class="item_max_quantity modalRequest_input_style" placeholder="" style="width:90%;text-align:left" />
        </div>
        <div class="col-sm-2 font_size">
          <%= builder.text_field :expiry, :class => "exp_datepicker item_expiry modalRequest_input_style", :placeholder=>"Expiry", :style=>"width:100%;text-align:left"%>
        </div>
        <div class="col-sm-2 font_size">
          <%= builder.text_field :mrp, :class => "price_including_tax modalRequest_input_style", :placeholder=>"Unit Price", :style=>"width:100%;text-align:left"%>
        </div>
        <div class="col-sm-2 font_size">
          <input type="text" disabled="disabled" class="item_tax_price modalRequest_input_style" placeholder="Tax %" style="width:90%;text-align:left" />
        </div>
        <div class="col-sm-2 font_size">
          <input type="text" disabled="disabled" class="item_total_price modalRequest_input_style" placeholder="Total" style="width:90%;text-align:left" />
        </div>
        <div class="col-sm-1 font-size text-center">
          <!--  <button type="button" class="btn btn-link hg-tooltip" tabindex="-1" style="padding:0px;" title="Add Other Item to List" id="add_other_item"><i class="fa fa-plus-circle" style="color:#555;"></i></button> -->
          <button type="button" class="btn btn-link hg-tooltip delete_empty_item" tabindex="-1" style="padding:0px;" title="Remove From List"><i class="fa fa-trash-alt" style="color:#000;"></i></button>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
  <%= render partial: 'patient_prescription.js' %>
</script>