<div class="container-fluid" id="freeInvoiceEdit" style="">
  <div class="row">
    <div class="col-sm-12">
      <h4>Patient Details</h4>
    </div>
  </div>
  <div class="row mt10 mb5">
    <div id="patient_id" style="display: none"><%= @patient.id %></div>
    <div class="col-lg-2 font_size text-right">
      Patient Name:
    </div>
    <div class="col-lg-2 font_size">
      <%= f.text_field :recipient, :class => "fi_input_style readonly", :placeholder => '', :style=>"width:92%", :readonly => true, :value => @patient.try(:fullname) %>
    </div>
    <div class="col-lg-2 font_size text-right">
      Patient ID:
    </div>
    <div class="col-lg-2 font_size">
      <%= f.text_field :patient_identifier, :class => "fi_input_style readonly", :placeholder => '', :style=>"width:92%", :readonly => true, :value => @patient_idn.try(:patient_org_id) %>
    </div>
    <div class="col-lg-2 font_size text-right">
      Patient Mobile
    </div>
    <div class="col-lg-2 font_size">
      <%= f.text_field :recipient_mobile, :class => "fi_input_style readonly",:placeholder => '', :style=>"width:92%", :readonly => true, :value => @patient.try(:mobilenumber) %>
    </div>
  </div>
  <div class="row mb5">
    <div class="col-lg-2 font_size text-right">
      Doctor:
    </div>
    <div class="col-lg-2 font_size">
      <%= f.text_field :doctor_name, :class => "fi_input_style", :placeholder => '', :style=>"width:92%" %>
    </div>
    <div class="col-lg-2" style="text-align: right">
      MR No:
    </div>
    <div class="col-lg-2" style="text-align: left" id="fi_mr_no">
      <%= @patient_o_idn.try(:mr_no) || 'NA'%>
    </div>
    <div class="col-lg-2 font_size text-right">
      Date &amp; Time
    </div>
    <div class="col-lg-2 font_size">
      <strong><%= Date.current().strftime('%d/%m/%Y') %></strong>
    </div>
  </div>
  <div class="row mb5">
    <div class="col-lg-2 font_size text-right">
      Additional Note:
    </div>
    <div class="col-lg-9">
      <%= f.text_field :note, :class => "fi_input_style", :style=> "width: 100%"%>
    </div>
  </div>
  <%= f.hidden_field :patient_id, :value => @patient.id%>
  <div class="row mt10 mb5" style="border-bottom:1px solid #eee;border-top:1px solid #eee;">
    <div class="col-sm-6">
      <h4>Items</h4>
    </div>
    <div class="col-sm-6 text-right">
      <div class="exp" style="margin-top: 3px; padding: 10px;">
        <button type="button" class="btn btn-xs btn-primary" id="btnAddItemtoInvoice" style="padding: 0px 5px;"><i class="fa fa-plus-circle"></i> Add Item</button>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-sm-4 font_size">
        <b>Code</b>
      </div>
      <div class="col-sm-5 font_size">
        <b>Description</b>
      </div>
      <div class="col-sm-3 font_size">
        <b>Manufacturer</b>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="col-sm-2 col-sm-3-shared font_size">
        <b>Batch</b>
      </div>
      <div class="col-sm-1 font_size">
        <b>QTY</b>
      </div>
      <div class="col-sm-2 col-sm-3-shared font_size">
        <b>Exp.Date</b>
      </div>
      <div class="col-sm-2 col-sm-3-shared font_size">
        <b>U.Price</b>
      </div>
      <div class="col-sm-2 col-sm-3-shared font_size">
        <b>Tax Group</b>
      </div>
      <div class="col-sm-1 font_size">
        <b>Tax Incl.</b>
      </div>
      <div class="col-md-2 col-sm-3-shared font_size">
        <b>Tax</b>
      </div>
      <div class="col-sm-2 col-sm-3-shared font_size">
        <b>Total(&#8377;)</b>
      </div>
      <div class="col-sm-1 font_size">
        <b>Action</b>
      </div>
    </div>
  </div>
  <!--row-->
  <%= f.hidden_field :id, :value => @invoice_inventory_department_pharmacy.id%>
  <script type="text/javascript">
    $('#btnAddItemtoInvoice').on('click', function(){
      $('.add-pharmacy-item').append("<%= escape_javascript(render partial: 'item_fields',locals: {f: f}) %>")
      new_id = new Date().getTime();
      $('.sr_no').last().text(new_id)
      $("input[name*='new_items']").each(function(){
        new_attr = $(this).attr('name').replace('new_items',new_id)
        new_selector_id = $(this).attr('id').replace('new_items',new_id)
        $(this).removeAttr('name').attr('name',new_attr)
        $(this).removeAttr('id').attr('id',new_selector_id)
      })
      $("select[name*='new_items']").each(function(){
        new_attr = $(this).attr('name').replace('new_items',new_id)
        // new_selector_id = $(this).attr('id').replace('new_items',new_id)
        $(this).removeAttr('name').attr('name',new_attr)
        // $(this).removeAttr('id').attr('id',new_selector_id)
      })
      $("label[for*='new_items']").each(function(){
        new_attr = $(this).attr('for').replace('new_items',new_id)
        // new_selector_id = $(this).attr('id').replace('new_items',new_id)
        $(this).removeAttr('for').attr('for',new_attr)
        // $(this).removeAttr('id').attr('id',new_selector_id)
      })
      datepicker_options = {
        changeMonth: true,
        changeYear: true,
        dateFormat: "dd/mm/yy",
        minDate: -0
        //showButtonPanel: true,
      };
    
      $('.exp_datepicker').datepicker(datepicker_options);
    })
    
  </script>
  <div id="fi_items">
    <div class="add-pharmacy-item">
      <%if @inventory_item_cart.count>0%>
        <% total = 0%>
        <% @inventory_item_cart.each_with_index do |item, index| %>
          <%= f.fields_for :items, :child_index => index do |builder| %>
            <div class="row mt10 mb5 request_log_item">
              <div class="col-sm-4">
                <div class="col-sm-4 font_size">
                 <%a =  item.lots.where('stock' => {'$gte' => 1},is_deleted: false).order(expiry: :asc, created_at: :asc).first.id %>
                  <%=  hidden_field_tag "invoice_inventories_department_pharmacy_invoice[items_attributes][#{index}][lot_id]", a%>
                  <%= builder.text_field :item_code, :class => "search_optical_item_code modalRequest_input_style", :placeholder=>"Item Code", :style=>"width:100%;text-align:left", :value =>item.try(:item_code)%>
                  <%= builder.hidden_field :inventory_item_id, :class => "inventory_item_id", :value => item.try(:id)%>
                </div>
                <div class="col-sm-5 font_size">
                  <%= builder.text_field :description, :class => "search_optical_description modalRequest_input_style", :placeholder=>"Description", :style=>"width:100%;text-align:left", :value =>item.description %>
                </div>
                <div class='col-sm-3 font-size'>
                  <%= builder.text_field :manufacturer, :class => "item_manufacturer modalRequest_input_style", :placeholder=>"Manufacturer", :style=>"width:100%;text-align:left", :value =>item.try(:manufacturer)%>
                </div>
              </div>
              <div class="col-sm-8 tax_price_details">
                <div class="tax_fields"></div>
                <div class="col-sm-2 col-sm-3-shared font_size">
                  <%= builder.text_field :batch_no, :class => "item_batch modalRequest_input_style", :placeholder=>"Batch", :style=>"width:115%;text-align:left", :value => item ? item.lots.where('stock' => {'$gte' => 1},is_deleted: false).order(expiry: :asc, created_at: :asc).first.try(:batch_no) : ''%>
                </div>
                <div class="col-sm-1 font_size">
                  <%= builder.text_field :quantity, :class => "item_quantity modalRequest_input_style", :placeholder=>"Qty", :style=>"width:100%;text-align:left", :value => "1" %>
                  <%= builder.hidden_field :max_quantity, :class => "item_max_quantity", :value => item.try(:stock)%>
                </div>
                <div class="col-sm-2 col-sm-3-shared font_size">
                  <%= builder.text_field :expiry, :class => "item_expiry exp_datepicker modalRequest_input_style", :placeholder=>"Expiry", :style=>"width:100%;text-align:left", :value => item ? item.lots.where('stock' => {'$gte' => 1},is_deleted: false).order(expiry: :asc, created_at: :asc).first.try(:expiry).try(:strftime, '%d/%m/%Y') : ''%>
                </div>
                <div class="col-sm-2 col-sm-3-shared font_size">
                  <%= builder.text_field :price, :class => "price_including_tax modalRequest_input_style", :placeholder=>"Unit Price", :style=>"width:100%;text-align:left", :value => item ? item.lots.where('stock' => {'$gte' => 1},is_deleted: false).order(expiry: :asc, created_at: :asc).first.try(:list_price) : ''%>
                </div>
                <div class="col-sm-2 col-sm-3-shared font_size">
                  <select name="invoice_inventories_department_pharmacy_invoice[items_attributes][<%= index.to_s %>][tax_group_id]" class='form-control tax_group_id'>
                    <option value="" data-tax-rate='0'> </option>
                    <% @tax_groups.each do |tax_group| %>
                      <option value="<%= tax_group.id.to_s %>" data-tax-rate='<%= tax_group.rate %>'><%= tax_group.name %> - <%= tax_group.rate %>%</option>
                    <% end %>
                  </select>
                </div>
                <div class="col-md-1 field_for_tax_inclusive">
                  <input type="hidden" name="invoice_inventories_department_pharmacy_invoice[items_attributes][<%= index.to_s %>][tax_inclusive]" id='invoice_inventories_department_pharmacy_invoice_items_attributes_<%= index.to_s %>_tax_inclusive_hidden' value="false">
                  <div class="ckbox ckbox-primary">
                    <input type="checkbox" name="invoice_inventories_department_pharmacy_invoice[items_attributes][<%= index.to_s %>][tax_inclusive]" id='invoice_inventories_department_pharmacy_invoice_items_attributes_<%= index.to_s %>_tax_inclusive' class="item_tax_inclusive" value='true' checked="checked">
                    <label for='invoice_inventories_department_pharmacy_invoice_items_attributes_<%= index.to_s %>_tax_inclusive'></label>
                  </div>
                </div>
                <div class="col-md-2 col-sm-3-shared field_for_taxable_amount">
                  <%= builder.hidden_field :non_taxable_amount, :class => "item_non_taxable_amount modalRequest_input_style", :placeholder=>"NonTaxable Amount", style: "width:90%;text-align:left", :value => item ? item.lots.where('stock' => {'$gte' => 1},is_deleted: false).order(expiry: :asc, created_at: :asc) : '0.0'%>
                  <%= builder.text_field :taxable_amount, :class => "item_taxable_amount modalRequest_input_style", :placeholder=>"Taxable Amount", style: "width:90%;text-align:left", :value => '0.0', readonly:'readonly' %>
                </div>
                <div class="col-sm-2 col-sm-3-shared font-size">
                  <% if item %>
                    <input type="text" disabled="disabled" class="item_total_price modalRequest_input_style" placeholder="Total" style="width:90%;text-align:left" value="<%= (item.lots.where('stock' => {'$gte' => 1},is_deleted: false).order(expiry: :asc, created_at: :asc).first.try(:list_price).to_f).round(2) %>" />
                  <% else %>
                    <input type="text" disabled="disabled" class="item_total_price modalRequest_input_style" placeholder="Total" style="width:90%;text-align:left" />
                  <% end %>
                </div>
                <div class="col-sm-1 font-size text-center">
                  <button type="button" class="btn btn-link hg-tooltip delete_empty_item" tabindex="-1" style="padding:0px;" title="Remove From List"><i class="fa fa-trash-alt" style="color:#000;"></i></button>
                </div>
              </div>
            </div>
          <% end %>
        <%end%>
        <script type="text/javascript">
        </script>
      <%else%>
        <%= f.fields_for :items, :child_index => Time.current.to_i do |builder| %>
          <div class="row mt10 mb5 request_log_item">
            <div class="col-sm-4">
              <div class="col-sm-4 font_size">
                <%= hidden_field_tag "invoice_inventories_department_pharmacy_invoice[items_attributes]["+Time.current.to_i.to_s+"][lot_id]", "", class: "lot_id" %>
                <%= builder.text_field :item_code, :class => "search_optical_item_code modalRequest_input_style", :placeholder=>"Item Code", :style=>"width:100%;text-align:left"%>
                <%= builder.hidden_field :inventory_item_id, :class => "inventory_item_id"%>
              </div>
              <div class="col-sm-5 font_size">
                <%= builder.text_field :description, :class => "search_optical_description modalRequest_input_style", :placeholder=>"Description", :style=>"width:100%;text-align:left"%>
              </div>
              <div class='col-sm-3 font-size'>
                <%= builder.text_field :manufacturer, :class => "item_manufacturer modalRequest_input_style", :placeholder=>"Manufacturer", :style=>"width:100%;text-align:left"%>
              </div>
            </div>
            <div class="col-sm-8 tax_price_details">
              <div class="tax_fields"></div>
              <div class="col-sm-2 col-sm-3-shared font_size">
                <%= builder.text_field :batch_no, :class => "item_batch modalRequest_input_style", :placeholder=>"Batch", :style=>"width:100%;text-align:left"%>
              </div>
              <div class="col-sm-1 font_size">
                <%= builder.text_field :quantity, :class => "item_quantity modalRequest_input_style", :placeholder=>"Qty", :style=>"width:100%;text-align:left"%>
              </div>
              <div class="col-sm-2 col-sm-3-shared font_size">
                <%= builder.text_field :expiry, :class => "item_expiry exp_datepicker modalRequest_input_style", :placeholder=>"Expiry", :style=>"width:100%;text-align:left"%>
              </div>
              <div class="col-sm-2 col-sm-3-shared font_size">
                <%= builder.text_field :list_price, :class => "price_including_tax modalRequest_input_style", :placeholder=>"Unit Price", :style=>"width:100%;text-align:left"%>
              </div>
              <!-- <div class="col-sm-2 col-sm-3-shared font_size">
                <input type="text" disabled="disabled" class="item_tax_price modalRequest_input_style" placeholder="Tax" style="width:90%;text-align:left" />
              </div> -->
              <div class="col-sm-2 col-sm-3-shared font_size">
                <select name="invoice_inventories_department_pharmacy_invoice[items_attributes][<%= Time.current.to_i %>][tax_group_id]" class='form-control tax_group_id'>
                  <option value="" data-tax-rate='0'> </option>
                  <% @tax_groups.each do |tax_group| %>
                    <option value="<%= tax_group.id.to_s %>" data-tax-rate='<%= tax_group.rate %>'><%= tax_group.name %> - <%= tax_group.rate %>%</option>
                  <% end %>
                </select>
              </div>
              <div class="col-md-1 field_for_tax_inclusive">
                <input type="hidden" name="invoice_inventories_department_pharmacy_invoice[items_attributes][<%= Time.current.to_i %>][tax_inclusive]" id='invoice_inventories_department_pharmacy_invoice_items_attributes_<%= Time.current.to_i %>_tax_inclusive_hidden' value="false">
                <div class="ckbox ckbox-primary">
                  <input type="checkbox" name="invoice_inventories_department_pharmacy_invoice[items_attributes][<%= Time.current.to_i %>][tax_inclusive]" id='invoice_inventories_department_pharmacy_invoice_items_attributes_<%= Time.current.to_i %>_tax_inclusive' class="item_tax_inclusive" value='true' checked="checked">
                  <label for='invoice_inventories_department_pharmacy_invoice_items_attributes_<%= Time.current.to_i %>_tax_inclusive'></label>
                </div>
              </div>
              <div class="col-md-2 col-sm-3-shared field_for_taxable_amount">
                <%= builder.hidden_field :non_taxable_amount, :class => "item_non_taxable_amount modalRequest_input_style", :placeholder=>"NonTaxable Amount", style: "width:90%;text-align:left", :value => '0.0'%>
                <%= builder.text_field :taxable_amount, :class => "item_taxable_amount modalRequest_input_style", :placeholder=>"Taxable Amount", style: "width:90%;text-align:left", :value => '0.0', readonly:'readonly' %>
              </div>
              <div class="col-sm-2 col-sm-3-shared font-size">
                <input type="text" disabled="disabled" class="item_total_price modalRequest_input_style" placeholder="Total" style="width:90%;text-align:left" />
              </div>
              <div class="col-sm-1 font-size text-center">
                <!-- <button type="button" class="btn btn-link hg-tooltip" tabindex="-1" style="padding:0px;" title="Add Other Item to List" id="add_other_item"><i class="fa fa-plus-circle" style="color:#555;"></i></button> -->
                <button type="button" class="btn btn-link hg-tooltip delete_empty_item" tabindex="-1" style="padding:0px;" title="Remove From List"><i class="fa fa-trash-alt" style="color:#000;"></i></button>
              </div>
            </div>
          </div>
        <% end %>
      <%end%>
    </div>
  </div>
  <div class="row mb5" style="border-bottom:1px solid #eee;">
  </div>
  <div class="row mb5">
    <div id='tax-cage' class="col-sm-5 col-sm-offset-7">
    </div>
  </div>
  <div class="row mb5">
    <div class="col-sm-7 font-size">
      <b>Note :-</b>Search by item description or item code
    </div>
    <div class="col-sm-5 text-right">
      <div class="row">
        <div class="col-sm-6 font_size">
          <b>Total Amt Including Tax</b>
        </div>
        <div class="col-sm-3 text-center font_size">
          :
        </div>
        <div class="col-sm-2 font_size" id="total_wt">
          0
        </div>
        <!-- <div class="col-sm-6 font_size">
          <b>Total Tax</b>
        </div>
        <div class="col-sm-3 text-center font_size">
          :
        </div>
        <div class="col-sm-2 font_size" id="sub_total_tax">
          0
        </div> -->
        <div class="col-sm-6 font_size">
          <b>Discount</b>
        </div>
        <div class="col-sm-3 text-center font_size">
          :
        </div>
        <div class="col-sm-2 font_size">
          <%= f.text_field :discount, :class => "fi_input_style", :id=>"invoice_discount", :placeholder => 'Amount',:style=>"width:92%;"%>
        </div>
        <div class="col-sm-6 font_size">
          <b>Net Amount</b>
        </div>
        <div class="col-sm-3 text-center font_size">
          :
        </div>
        <div class="col-sm-2 font_size">
          <%= f.text_field :total, :class => "fi_input_style grand_total", :id=>"grand_total_inc_discount", :placeholder => 'Amount', :style=>"width:92%", :readonly => true %>
        </div>
      </div>
    </div>

    <div class="row font-size" style="padding: 1px;">
      <div class="col-md-2">
        <b>Mode of Payment :</b>
      </div>
      <div class="col-md-2">
        <%= select_tag "invoice_inventories_department_pharmacy_invoice[mode_of_payment]", options_for_select([['Cash','Cash'],['Card','Card'],['Cash & Card','Cash & Card'],['Cheque','Cheque'],['Online Transfer','Online Transfer'],['Others','Others']]), include_blank: "", :class => 'mop_field form-control' %>
        <span class="mop_select_payment" style="display:none;">Please select</span>
      </div>
      <div class="col-md-4"></div>
    </div>
    
    <div class="row mb5">
      <div class="col-md-2">
        <b>Comments :</b>
      </div>
      <div class="col-md-3">
        <%= f.text_area :comments, {class: "form-control", placeholder: "Comments"} %>
      </div>
    </div>

    
  </div>
  <!--row-->
</div>


<script type="text/javascript"> 
  $(".tax_group_id").on('change', function(){
    calculate_tax(this)
  })

  $(".item_tax_inclusive").on('change', function(){
    calculate_tax(this)
  })

  $(".price_including_tax").on('keyup', function(){
    calculate_tax(this)
  })

  $(".item_quantity").on('keyup', function(){
    calculate_tax(this)
  })

  $(".search_optical_description").on('change', function(){
    calculate_tax(this)
  })

  function calculate_tax(_this){
    var this_parent = $(_this).closest('.tax_price_details')  
    var quantity = parseFloat($(this_parent).find('.item_quantity').val())
    var amount = parseFloat($(this_parent).find('.price_including_tax').val()) * quantity
    var tax_rate = parseFloat($(this_parent).find(".tax_group_id").find(":selected").attr('data-tax-rate'))
    var inclusive = $(this_parent).find('.item_tax_inclusive').is(':checked')
    var tax_group_id = $(this_parent).find(".tax_group_id").val()

    if(inclusive){
      var taxable_amount = (amount * tax_rate)/(100 + tax_rate)
      var non_taxable_amount = amount - taxable_amount
      var total_amount = amount
    } else {
      var taxable_amount = (amount * tax_rate)/100
      var non_taxable_amount = amount
      var total_amount = amount + taxable_amount
    }
    $(this_parent).find('.item_taxable_amount').val(taxable_amount.toFixed(2))
    $(this_parent).find('.item_non_taxable_amount').val(non_taxable_amount.toFixed(2))
    $(this_parent).find('.item_total_price').val(total_amount.toFixed(2))
    $(this_parent).find('.tax_group_id').attr('data-amount', amount)
    $(this_parent).find('.item_total_price').trigger('change')
    var get_service_count = $(this_parent).find('.item_taxable_amount').attr('name').replace(/[^0-9\.]/g, '')

    $.ajax({
      type: 'GET',
      dataType: 'JSON',
      data: { tax_group_id: tax_group_id, taxable_amount: taxable_amount},
      url: '/invoice/invoices/tax_breakup',
      success: function(response){
        $(this_parent).find('.tax_fields').html("")
        // console.log(response.tax)
        $.each(response.tax, function(key, value) {
          $(this_parent).find('.tax_fields').append('<div class="tax_box"><input type="hidden" name="invoice_inventories_department_pharmacy_invoice[items_attributes][' + get_service_count + '][tax_group][][amount]" value="' + parseFloat(value[2]).toFixed(2) + '" class="tax_group_id_amount"><input type="hidden" name="invoice_inventories_department_pharmacy_invoice[items_attributes][' + get_service_count + '][tax_group][][name]" value="' + value[1] + '" class="tax_group_id_name"><input type="hidden" name="invoice_inventories_department_pharmacy_invoice[items_attributes][' + get_service_count + '][tax_group][][_id]" value="' + value[0] + '" class="tax_group_id_id"></div>')
        });

        calTotalPrice()

        $("#grand_total_inc_discount").trigger('change')
      }
    })
  }

  $("#grand_total_inc_discount").on('change', function(){
    $("#tax-cage").html("")
    var tax_field = $('.tax_fields')
    var counter = 0
    for (var j = tax_field.length - 1; j >= 0; j--) {

      var tax_box = $(tax_field[j]).find('.tax_box')
      for (var i = tax_box.length - 1; i >= 0; i--) {
        var tax_group_id2 = $(tax_box[i]).find('.tax_group_id_id').val()
        var tax_group_id = $("#tax-cage").find('.tax_group_' + tax_group_id2)
        var tax_group_name = $(tax_box[i]).find('.tax_group_id_name').val()
        var tax_group_amount = $(tax_box[i]).find('.tax_group_id_amount').val()
        if(tax_group_id.length <= 0){
          $("#tax-cage").prepend('<div class="row mb5 tax_group_' + tax_group_id2 + '"><div class="col-md-6 text-right"><b>' + tax_group_name + '</b></div><div class="col-md-3 text-center">:</div><div class="col-md-2 text-right"><input style="width:92%;" class="tax_group_id_' + tax_group_id2 + '" value="' + tax_group_id2 + '" type="hidden" name="invoice_inventories_department_pharmacy_invoice[tax_breakup][][_id]" readonly="readonly"><input style="width:92%;" class="tax_group_id_' + tax_group_id2 + '" value="' + tax_group_name + '" type="hidden" name="invoice_inventories_department_pharmacy_invoice[tax_breakup][][name]" readonly="readonly"><input style="width:92%;" class="fi_input_style text-right tax_group_amount_' + tax_group_id2 + '" value="' + parseFloat(tax_group_amount).toFixed(2) + '" type="text" name="invoice_inventories_department_pharmacy_invoice[tax_breakup][][amount]" readonly="readonly"></div></div>')
        } else {
          var old_value = $(tax_group_id).find('.tax_group_amount_' + tax_group_id2).val()
          var new_value = (parseFloat(tax_group_amount) + parseFloat(old_value)).toFixed(2)
          $(tax_group_id).find('.tax_group_amount_' + tax_group_id2).val(new_value)
        }
        if(counter == 0){
          $("#tax-cage").attr('style', 'background: #eee;padding: 5px;')
        }
        counter = counter + 1
      }
    }

    non_taxable_amount()
  })

  function non_taxable_amount(){
    var non_taxable_amount = 0.0
    var x = $(".item_non_taxable_amount")
    for (var i = x.length - 1; i >= 0; i--) {
      non_taxable_amount = (parseFloat(non_taxable_amount) + parseFloat($(x[i]).val())).toFixed(2)
    }

    if(parseFloat(non_taxable_amount).toFixed(2) == "NaN"){
      var non_taxable_amount = 0.0
    } 
    if(non_taxable_amount != 0.0){
      $("#tax-cage").find('.non_taxable_amount').remove()
      $("#tax-cage").prepend('<div class="row mb5 non_taxable_amount"><div class="col-md-6 text-right"><b>Non-Taxable Amount</b></div><div class="col-md-3 text-center">:</div><div class="col-md-2 text-right"><input style="width:92%;" class="fi_input_style text-right non_taxable_amount" value="' + parseFloat(non_taxable_amount).toFixed(2) + '" type="text" name="invoice_inventories_department_pharmacy_invoice[non_taxable_amount]" readonly="readonly"></div></div>')
      $("#tax-cage").attr('style', 'background: #eee;padding: 5px;')
    }
  }

  non_taxable_amount()

  datepicker_options = {
    changeMonth: true,
    changeYear: true,
    dateFormat: "dd/mm/yy",
    minDate: -0
    //showButtonPanel: true,
  };

  $('.exp_datepicker').datepicker(datepicker_options);
</script>
<script>
    $(".pharmacy_invoice").on('click', function(e){
      if ($("#invoice_inventories_department_pharmacy_invoice_mode_of_payment").find("option:selected").text() == ""){
        $(".mop_select_payment").css("display","block");
        $(".mop_select_payment").css("color", "red")
        $("#invoice_inventories_department_pharmacy_invoice_mode_of_payment").css("border", "1px solid red")
        e.preventDefault();
      }
    }) 

    $("#invoice_inventories_department_pharmacy_invoice_mode_of_payment").on('change', function(){
      $(".mop_select_payment").css("display","none");
      $("#invoice_inventories_department_pharmacy_invoice_mode_of_payment").css("border-color", "#a79e9ed1")
    })
  
</script>