<%= form_for purchase_transaction, :url => inventory_transaction_purchases_path, :authenticity_token => false do |f| %>
  <%= f.fields_for :items, :child_index => (Time.current.to_f.round(3)*1000).to_i do |builder| %>
    <table width="100%" class="purchase-transaction-log-item">
      <tr>
        <%= builder.hidden_field :item_code, { value: @variant.item_code } %>
        <%= builder.hidden_field :default_variant_code, { value: @variant.variant_code } %>
        <%= builder.hidden_field :item_id, { value: @variant.item_id } %>
        <%= builder.hidden_field :default_variant_id, { value: @variant.id } %>
        <%= builder.hidden_field :category, { value: @variant.category_name } %>
        <%= builder.hidden_field :barcode, { value: @variant.barcode } %>
        <%= builder.hidden_field :barcode_present, { value: @variant.barcode_present } %>
        <%= builder.hidden_field :reference_id, { value: @variant.reference_id } %>
        <%= builder.hidden_field :facility_id, { value: @variant.facility_id } %>
        <%= builder.hidden_field :store_id, { value: @variant.store_id } %>
        <%= builder.hidden_field :organisation_id, { value: @variant.organisation_id } %>
        <%= builder.hidden_field :search %>
        <%= builder.hidden_field :variant_identifier %>
        <%= builder.hidden_field :mark_up %>
        <%= builder.hidden_field :mrp %>
        <%= builder.hidden_field :list_price %>
        <%= builder.hidden_field :unit_non_taxable_amount %>
        <%= builder.hidden_field :unit_taxable_amount %>
        <%= builder.hidden_field :tax_rate %>
        <%= builder.hidden_field :tax_name %>
        <%= builder.hidden_field :tax_group_id %>
        <%= builder.hidden_field :tax_inclusive %>
        <%= builder.hidden_field :stock_package %>
        <%= builder.hidden_field :stock_subpackage %>
        <%= builder.hidden_field :stock_unit %>
        <%= builder.hidden_field :stock_free_unit %>
        <%= builder.hidden_field :mrp_pack%>
        <%= builder.hidden_field :mrp_pack_denomination %>
        <%= builder.hidden_field :list_price_pack %>
        <%= builder.hidden_field :list_price_pack_denomination %>


        <% purchase_transaction.items[0].custom_field.each do |k,v|%>
          <%= builder.hidden_field :custom_field_data, {value: v,name: "inventory_transaction_purchase[items_attributes][#{builder.options[:child_index] }][custom_field_data][#{k}]"} %>
        <% end %>

        <%= builder.select :custom_field_tags,purchase_transaction.items[0].custom_field_tags,{include_hidden: false}, {multiple:true, style: "display: none;"} %>

        <td class="col-md-3 col-sm-3 col-xs-3 font_size">
          <%= builder.text_field :description,value: @item.description,readonly: true, :class => "item_description modalRequest_input_style", :placeholder=>"Description", :style=>"width:100%;text-align:left"%>
          <%= builder.hidden_field :_destroy,  {value: 0 ,class: 'form-control' } %>
        </td>
        <td class="col-md-2 col-sm-2 col-xs-2 font_size">
          <%= builder.text_field :batch_no,readonly: true, :class => "item_batch modalRequest_input_style", :placeholder=>"Batch", :style=>"width:100%;text-align:left"%>
          <%= builder.hidden_field :self_batched%>
        </td>
        <td class="col-md-2 col-sm-2 col-xs-2 font_size">
          <%= builder.text_field :expiry,readonly: true, :class => "exp_datepicker item_expiry modalRequest_input_style", :placeholder=>"Expiry", :style=>"width:100%;text-align:left"%>
        </td>

        <td class="col-md-2 col-sm-2 col-xs-2 font_size">
          <%= builder.text_field :stock,readonly: true, :class => "item_quantity modalRequest_input_style", :placeholder=>"Qty", :style=>"width:100%;text-align:left"%>
          <input type="hidden" class="item_max_quantity modalRequest_input_style" placeholder="" style="width:90%;text-align:left" />
        </td>
        <td class="col-md-2 col-sm-2 col-xs-2 font_size">
          <%= builder.text_field :total_cost,readonly: true ,:class => "price_including_tax modalRequest_input_style", :placeholder=>"Total Cost Price", :style=>"width:100%;text-align:left"%>
          <%= builder.hidden_field :unit_cost, :class => " modalRequest_input_style"%>
        </td>
        <td class="col-md-1 col-sm-1 col-xs-1 font-size text-center">
          <button type="button" class="btn btn-link hg-tooltip delete_empty_item" tabindex="-1" style="padding:0px;" title="Remove From List"><i class="fa fa-trash-alt" style="color:#000;"></i></button>
        </td>
      </tr>
    </table>
  <% end %>
<% end %>