<div class="inventory-item-toolbar1 inventory-toolbar">
  <% current_date = Date.current %>
  <nav class="navbar navbar-secondary navbar-fixed-top" style="margin-bottom: 0px; left: auto; right: auto; width: auto; position: relative;z-index:100; background: #354670;">
    <div class="container-fluid" style="padding-right:0;">
      <div class="col-xs-2 link-to-calendar" style="padding-left:initial">
        <div class="navbar-header" style="margin-top: 7px;">
          <button class="btn btn-link btn-xs btn-inventory-refresh"><i class="fa fa-refresh" style="color:#fff;"></i></button>
        </div>
      </div>

      <div class="col-xs-6" style="padding: 5px 10px">
        <div class="btn-group" style="margin-bottom: 0px;" role="group" aria-label="">
          <a class="btn btn-primary btn-sm" id="time_period" style="margin-left: -25px"><%= @time_period %></a>
          <button type="button" class="btn btn-primary btn-sm dropdown-toggle " data-toggle="dropdown" style="">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu mis-search-toggle-off" id="period-list" style="overflow-y: auto;max-height:400px;">
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date %>" end-date="<%= current_date %>">Today</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.yesterday %>" end-date="<%= current_date.yesterday %>">Yesterday</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.beginning_of_week %>" end-date="<%= current_date.end_of_week %>">This Week</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.beginning_of_month %>" end-date="<%= current_date.end_of_month %>">This Month</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.beginning_of_quarter %>" end-date="<%= current_date.end_of_quarter %>">This Quarter</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.beginning_of_year %>" end-date="<%= current_date.end_of_year %>">This Year</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= (current_date - current_date.wday).beginning_of_week %>" end-date="<%= (current_date - current_date.wday).end_of_week %>">Previous Week</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= (current_date - current_date.mday).beginning_of_month %>" end-date="<%= (current_date - current_date.mday).end_of_month %>">Previous Month</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= (current_date - 3.months).beginning_of_quarter %>" end-date="<%= (current_date - 3.months).end_of_quarter %>">Previous Quarter</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= (current_date - current_date.yday).beginning_of_year %>" end-date="<%= (current_date - current_date.yday).end_of_year %>">Previous Year</a></li>
            <!-- Custom -->
            <li class="period-list"><div class="mis-date-filter-custom" data-remote="true" data-toggle="modal" data-target="#mis-modal">Custom</div></li>
          </ul>
        </div>
        <div style="margin-left: 130px; margin-top: -25px">
          <span style="color: #fff;"><%= @start_date&.gsub! '-', '/' %>&nbsp;&nbsp;to&nbsp;&nbsp;</span><span style="color: #fff;"><%= @end_date&.gsub! '-', '/' %></span>
        </div>
      </div>
      <div class="col-xs-4 " style="padding: 5px 10px;">
          <%# vendor_name =  @vendor_name.present? ? @vendor_name : 'Vendor' %>
        <div class="btn-group" style="margin-bottom: 0px;" role="group" aria-label="">
          <a class="btn btn-warning btn-sm" id="inventory_vendor_name"></i>Status</a>
          <button type="button" class="btn btn-warning btn-sm dropdown-toggle " data-toggle="dropdown" style="">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu children" style="">
            <% @receive_status.each do |status| %>
              <li>
                <a class="status-filter" href="#" status="<%= status %>"><%= status %></a></li>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
      <div id="esearch_summary">
        <%= render partial: '/inventory/transaction/receives/filter' %>
      </div>
  </nav>
</div>

<div class="inventory-items" style=" height: initial;">
  <table class="table inventory_table_center">
    <thead class="inventory-table-head">
    <tr class='thead-fixable'>
      <!-- <td class='thead-fix col-md-2'>Transfered On</td> -->
      <td class='thead-fix col-md-1'>#</td>
      <!-- <td class='thead-fix col-md-2'>Received On</td> -->
      <td class='thead-fix col-md-2'>Against</td>
      <!-- <td class='thead-fix col-md-3'>Transfer Store</td> -->
      <td class='thead-fix col-md-3'>Requisition info</td>
      <td class='thead-fix col-md-3'>Transfer / Issue Info</td>
      <!-- <td class='thead-fix col-md-2'>Amount</td> -->
      <td class='thead-fix col-md-2'>Receive info</td>
      <% if @category == "out_stock" %>
        <td class="thead-fix">
          <% @current_date = Date.current %>
          <%= link_to inventory_print_items_path(Print_date: Date.strptime(@current_date.to_s, '%Y-%m-%d'), data: 'out_stock', format: :pdf), class: 'text-center print_button', target: '_blank' do %>
            Print
          <% end %>
        </td>
      <% end %>
    </tr>
    </thead>
    <tbody class="inventory-table-body">
    <%= render partial: 'inventory/transaction/receives/index_body' %>
    </tbody>
  </table>
  <% unless @receives.count < 30 %>
    <div class="show-more-timeline">
      <a class="col-sm-12", href="javascript:;", id="show_more_inventory", data-count = "0" , style="text-align: center;text-decoration: none;position: fixed;">
        <i class="fa fa-spinner fa-spin"></i> Loading...
      </a>
    </div>
  <% end %>>

<script type="text/javascript">
  $(".tagsinput .tag").on("click", function() {
    var tagattr = $(this).attr("data-attribute")
    $(this).hide()
    $("."+tagattr).val("")
    refreshPurchasePage()
  })

  function refreshPurchasePage() {
    loadingDots();
    let store_id = '<%= @store_id %>'

    jQuery.ajax({
      type: 'get',
      dataType: 'script',
      data: {
        store_id: store_id,
        remote: true
      },
      url: '/inventory/transaction/receives'
    });
  }
</script>

<style>
  .print_button{
    border: 1px solid #6EC7EE;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    background: #6EC7EE;
    border-radius: 4px;
  }
  .print_button:hover{
    color: #fff;
    text-decoration: none;
  }

  .inventory-list-row:hover{
    background: aliceblue;
    cursor: pointer;
  }

  .inventory-list-row {
    cursor: pointer;
  }
  div.tagsinput {
    background: rgb(53, 70, 112)!important;
    border: none !important;
    padding:5px;
    width: auto !important;
    height: 48px !important;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
  }
  div.tagsinput span.tag {
    display: block;
    /*float: left;*/
    /*padding: 8px 5px;*/
    text-decoration: none;
    background: #ffffff !important;
    color: #000 !important;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
  }

  div.tagsinput span.tag:hover {
    text-decoration: line-through;
  }

  div.tagsinput span.tag a {
    font-weight: bold;
    color: #000 !important;
    opacity: 0.5;
    text-decoration: none;
    font-size: 11px;
  }
  .clear-filters-tag {
    padding: 10px;
    /*display: block;*/
    float: left;
    padding: 8px 5px;
    text-decoration: none;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
  }
</style>
