<div class="modal-dialog modal-lg" style="width: 90%">
  <div class="modal-content inventory-lot-modal" style="">
    <div class="modal-header inventory-lot-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title text-center"> Add Lot - <%= @variant_name %></h4>
    </div>

    <div class="modal-body inventory-lot-body">

      <div class="well item-info">
        <div class="row" style="margin-bottom: 0px;">

          <div class="col-lg-2 col-md-2 col-xs-2">
            <label>Description:</label>
          </div>
          <div class="col-lg-2 col-md-2 col-xs-2">
            <strong><%= @variant.description %></strong>
          </div>

          <div class="col-lg-2 col-md-2 col-xs-2">
            <label>HSN No:</label>
          </div>
          <div class="col-lg-2 col-md-2 col-xs-2">
            <strong><%= @item.hsn_no %></strong>
          </div>

          <div class="col-lg-2 col-md-2 col-xs-2">
            <label>Item Code:</label>
          </div>
          <div class="col-lg-2 col-md-2 col-xs-2">
            <strong><%= @variant.item_code %></strong>
          </div>

        </div>

        <div class="row" style="margin-bottom: 0px;">

          <div class="col-lg-2 col-md-2 col-xs-2">
            <label>Category:</label>
          </div>
          <div class="col-lg-2 col-md-2 col-xs-2">
            <strong><%= @variant.category %></strong>
          </div>

          <div class="col-lg-2 col-md-2 col-xs-2">
            <label>Dosage:</label>
          </div>
          <div class="col-lg-2 col-md-2 col-xs-2">
            <strong><%= @item.dosage %></strong>
          </div>

          <div class="col-lg-2 col-md-2 col-xs-2">
            <label>Dispensing Unit:</label>
          </div>
          <div class="col-lg-2 col-md-2 col-xs-2">
            <strong><%= @item.dispensing_unit %></strong>
          </div>

        </div>
        <div class="row" style="margin-bottom: 0px;">

          <div class="col-lg-2 col-md-2 col-xs-2">
            <label>Package Type:</label>
          </div>
          <div class="col-lg-2 col-md-2 col-xs-2">
            <strong><%= @item.package_type %></strong>
          </div>

          <div class="col-lg-2 col-md-2 col-xs-2">
            <label>Sub package/Package:</label>
          </div>
          <div class="col-lg-2 col-md-2 col-xs-2">
            <strong><%= "#{@item.sub_package_units} #{@item.sub_package_type}" %></strong>
          </div>

          <div class="col-lg-2 col-md-2 col-xs-2">
            <label>Unit/Sub package:</label>
          </div>
          <div class="col-lg-2 col-md-2 col-xs-2">
            <strong><%= "#{@item.item_units} #{@item.item_type}" %></strong>
          </div>
        </div>
      </div>


      <%= form_tag "/inventory/transaction/purchases/add_lot", method: "post", remote: true, id: 'purchase_add_lot_form', class: "purchase-add-lot-form" do %>

        <%= hidden_field_tag :variant_id, @variant.id %>
        <div class="row" style="margin-bottom: 5px;">
          <div class="col-lg-4 col-md-4 col-xs-4">
          </div>
          <div class="col-lg-4 col-md-4 col-xs-4"><%= text_field_tag :variant_identifier, "",readonly: true, class: "form-control form-control-custom variant-identifier", required: false, name: "item[variant_identifier]" %></div>
          <div class="col-lg-4 col-md-4 col-xs-4">
            <button type="button" class="btn btn-xs btn-default pull-right" data-dismiss="modal">Cancel</button>
            <%= submit_tag "Save", class: "btn btn-xs btn-success pull-right", onclick: 'validate_purchase_add_lot_form()', data: { 'disable-with': 'Please Wait...' } %>
          </div>
        </div>
        <hr>

        <div class="" style="">
          <div class="row" style="margin-bottom: 5px;">
            <% @item.custom_fields.each do |custom_field| %>
              <div class="col-lg-1 col-md-1 col-xs-1 text-left" >
                <label><%= custom_field.name.capitalize %>:</label>
              </div>

              <div class="col-lg-2 col-md-2 col-xs-2">
                <%= select_tag "item[custom_field][#{custom_field.name}]", options_for_select(custom_field.value,@variant.custom_fields.find_by(name: custom_field.name).try(:value)), include_blank: "", class: 'form-control-custom form-control variant-skew' %>
                <%= hidden_field_tag "item[custom_field_tags][]", @variant.custom_fields.find_by(name: custom_field.name).try(:value), class: "form-control form-control-custom custom-field-tags", required: false %>
              </div>
            <%end %>
          </div>
          <hr>
          <div class="row" style="margin-bottom: 5px;">
            <div class="col-lg-1 col-md-1 col-xs-1 text-left" >
              <label>Batch No:</label>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2">
              <%= text_field_tag :batch_no, "", class: "form-control form-control-custom", required: false, name: "item[batch_no]" %>
            </div>

            <div class="col-lg-1 col-md-1 col-xs-1 text-left" >
              <label>Total Cost:</label>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2">
              <%= text_field_tag :total_cost, "", class: "form-control form-control-custom", required: false, name: "item[total_cost]" %>
            </div>
            <div class="col-lg-1 col-md-1 col-xs-1 text-left" >
              <label>Unit Cost:</label>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2">
              <%= text_field_tag :unit_cost, "", class: "form-control form-control-custom", required: false, name: "item[unit_cost]" %>
            </div>

            <%if @item.expiry_present %>
              <div class="col-lg-1 col-md-1 col-xs-1 text-left">
                <label>Expiry:</label>
              </div>
              <div class="col-lg-2 col-md-2 col-xs-2">
                <%= text_field_tag :expiry, "", class: "form-control form-control-custom expiry-datepicker", required: false, name: "item[expiry]", readonly: true %>
                <%= hidden_field_tag :expiry_present,@item.expiry_present , name: "item[expiry_present]", readonly: true %>
              </div>
            <%end %>
          </div>
          <hr>
          <div class="row" style="margin-bottom: 0px;">
            <div class="col-lg-12 col-md-12 col-xs-12 text-left" >
              <label>Stock (Package + Subpackage + Units + Free Units):</label>
            </div>
          </div>
          <div class="row" style="margin-bottom: 5px;">
            <div class="col-lg-2 col-md-2 col-xs-2">
              <div class="col-lg-9 col-md-9 col-xs-9">
                <label style="font-size: x-small">
                  <%= "Package/s (x #{@item.sub_package_units} x #{@item.item_units})" %>
                </label>
                <%= text_field_tag :stock_package, "", class: "form-control form-control-custom calculate-total-stock",placeholder: "#{@item.package_type}", required: false, name: "item[stock_package]" %>
              </div>

              <div class="col-lg-3 col-md-3 col-xs-3">
                +
              </div>
            </div>

            <div class="col-lg-2 col-md-2 col-xs-2">
              <div class="col-lg-9 col-md-9 col-xs-9">
                <label style="font-size: x-small">
                  <%= "Subpackage/s (x #{@item.item_units})" %>
                </label>
                <%= text_field_tag :stock_subpackage, "", class: "form-control form-control-custom calculate-total-stock",placeholder: "#{@item.sub_package_type}", required: false, name: "item[stock_subpackage]" %>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-3">
                +
              </div>
            </div>

            <div class="col-lg-2 col-md-2 col-xs-2">
              <div class="col-lg-9 col-md-9 col-xs-9">
                <label style="font-size: x-small">
                  Unit/s
                </label>
                <%= text_field_tag :stock_unit, "", class: "form-control form-control-custom calculate-total-stock",placeholder: "#{@item.item_type}", required: false, name: "item[stock_unit]" %>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-3">
                +
              </div>
            </div>

            <div class="col-lg-2 col-md-2 col-xs-2">
              <div class="col-lg-9 col-md-9 col-xs-9">
                <label style="font-size: x-small">
                  Free Unit/s
                </label>
                <%= text_field_tag :stock_free_unit, "", class: "form-control form-control-custom calculate-total-stock",placeholder: "Free Unit/s", required: false, name: "item[stock_free_unit]" %>
              </div>
              <div class="col-lg-3 col-md-3 col-xs-3">
                =
              </div>
            </div>

            <div class="col-lg-2 col-md-2 col-xs-2">
              <label style="font-size: x-small">
                Total Unit/s
              </label>
              <%= text_field_tag :stock, "", class: "form-control form-control-custom",placeholder: "Total Unit/s", required: false, name: "item[stock]", readonly: true %>
            </div>
          </div>
          <hr>
          <div class="row" style="margin-bottom: 5px;">
<!--            <div class="col-lg-4 col-md-4 col-xs-4">-->
<!--              <div class="row">-->
<!--                <div class="col-lg-2 col-md-2 col-xs-2 text-left">-->
<!--                  <label>MRP:</label>-->
<!--                </div>-->
<!--                <div class="col-lg-6 col-md-6 col-xs-6 text-left">-->
<!--                  <div class="input-group">-->
                    <%#= text_field_tag :mrp_pack, "", class: "form-control form-control-custom-input", style: "width: 100%", required: false, name: "item[mrp_pack]" %>
<!--                    <span class="input-group-addon form-control-custom-slash">/</span>-->
                    <%#= select_tag :mrp_pack_denomination, options_for_select(["Package","Subpackage","Unit" ]), class: 'form-control-custom-select form-control', style: "width: 100%", name: "item[mrp_pack_denomination]" %>
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-md-4 col-xs-4 text-left">-->
<!--                  <div class="input-group">-->
                    <%#= text_field_tag :mrp, "", class: "form-control form-control-custom-input", style: "width: 100%", required: false, name: "item[mrp]", readonly: true %>
<!--                    <span class="input-group-addon form-control-custom-unit">/ Unit/s</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
            <div class="col-lg-7 col-md-7 col-xs-7">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-xs-3 text-left">
                  <label>Selling Price <i class="fa fa-info-circle hg-tooltip" title="The rate at which you are going sell this item" style="cursor:help;"></i>:</label>
                  <label class="label-info"><%= @item.tax_rate %>% tax - <%= @item.tax_inclusive ? "Inclusive" : "Not Inclusive"  %></label>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-5 text-left">
                  <div class="input-group">
                    <%= text_field_tag :list_price_pack, "", class: "form-control form-control-custom-input", style: "width: 100%", required: false, name: "item[list_price_pack]" %>
                    <span class="input-group-addon form-control-custom-slash">/</span>
                    <%= select_tag :list_price_pack_denomination, options_for_select(["Package","Subpackage","Unit" ]), class: 'form-control-custom-select form-control', style: "width: 100%", name: "item[list_price_pack_denomination]" %>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-4 text-left">
                  <div class="input-group">
                    <%= text_field_tag :list_price, "", class: "form-control form-control-custom-input", style: "width: 100%", required: false, name: "item[list_price]", readonly: true %>
                    <%= hidden_field_tag :tax_rate, @item.tax_rate, class: "form-control form-control-custom-input", style: "width: 100%", required: false, name: "item[tax_rate]", readonly: true %>
                    <%= hidden_field_tag :tax_name, @item.tax_name, class: "form-control form-control-custom-input", style: "width: 100%", required: false, name: "item[tax_name]", readonly: true %>
                    <%= hidden_field_tag :tax_group_id, @item.tax_group_id, class: "form-control form-control-custom-input", style: "width: 100%", required: false, name: "item[tax_group_id]", readonly: true %>
                    <%= hidden_field_tag :tax_inclusive, @item.tax_inclusive, class: "form-control form-control-custom-input", style: "width: 100%", required: false, name: "item[tax_inclusive]", readonly: true %>
                    <span class="input-group-addon form-control-custom-unit">/ Unit</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-1 col-md-1 col-xs-1">
            </div>

            <div class="col-lg-4 col-md-4 col-xs-4">
              <div class="row">
                <div class="col-lg-5 col-md-5 col-xs-5 text-left">
                  <label>Price w/o Tax <i class="fa fa-info-circle hg-tooltip" title="The profit which you are going get after tax deduction" style="cursor:help;"></i>:</label>
                </div>
                <div class="col-lg-7 col-md-7 col-xs-7 text-left">
                  <div class="input-group">
                    <%= text_field_tag :non_taxable_amount, "", class: "form-control form-control-custom-input", style: "width: 100%", required: false, name: "item[non_taxable_amount]", readonly: true %>
                    <%= hidden_field_tag :taxable_amount, "", class: "form-control form-control-custom-input", style: "width: 100%", required: false, name: "item[taxable_amount]", readonly: true %>
                    <span class="input-group-addon form-control-custom-unit">/ Unit</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <%end %>
    </div>
  </div>
</div>


<style>
  .form-control-custom-input{
    padding: 5px 10px;
    border-right: none;
  }
  .form-control-custom-select{
    padding: 6px 10px;
    border-left: none;
  }
  .form-control-custom-slash {
    background: #FFFFFF;
    padding: 0px;
    margin: 0px;
    border-right: none;
    border-left: none;
  }

  .form-control-custom-unit {
    margin: 0px;
    border-left: none;
  }

  .item-info {

  }
  /*.input-group-btn select {*/
    /*border-color: #ccc;*/
    /*margin-top: 0px;*/
    /*margin-bottom: 0px;*/
    /*padding-top: 7px;*/
    /*padding-bottom: 7px;*/
  /*}*/
</style>

