<div class="modal-dialog modal-lg" style="width: 98%">
  <div class="modal-content transaction-content" style="">
    <div class="modal-header transaction-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title text-center">Add New Stock to Inventory</h4>
    </div>

    <div class="modal-body transaction-body">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-6 items-variants">

          <div class="items-variants-search">
            <div class="input-group">
              <input type="text" id="variants_search" placeholder="Type Description to search..." class="form-control" >
              <span class="input-group-addon"><i class="fa fa-times-circle" style="display: none"></i></span>
            </div>
          </div>

          <div class="items-variants-list">
            <table class="table items-variants-table">
              <tbody class="items-variants-body">
                <%= render partial: 'inventory/item/variants/index_body' %>
              </tbody>
            </table>
          </div>
          <% unless @variants.count < 30 %>
            <div class="show-more-timeline">
              <a class="col-sm-12", href="javascript:;", id="show_more_variants", data-count = "0" , style="text-align: right;text-decoration: none;position: fixed;margin-left: 200px;">
                <i class="fa fa-spinner fa-spin"></i> Loading...
              </a>
            </div>
          <% end %>


<!--          <div class="items-variants-list">-->
            <%#= render partial: '/inventory/transaction/purchases/variants_list.html'%>
<!--          </div>-->


        </div>

        <div class="col-md-8 col-sm-6 col-xs-6 items-lots">
          <%= form_for @purchase_transaction, remote: true , html: { id: "inventory_purchase_transactions_form" } do |f| %>
            <%= render partial: '/inventory/transaction/purchases/form', locals: {f:f} %>


            <div class="col-md-6 col-sm-6">
              <%= f.submit "Save Changes", { class: 'btn btn-success', onclick: 'validate_inventory_purchase_transactions_form()' } %>
            </div>
            <div class="col-sm-6">
              <div class="col-sm-6 font_size">
                <b>Total Amt Including Tax</b>
              </div>
              <div class="col-sm-2 text-center font_size">
                :
              </div>
              <div class="col-sm-4 font_size">
                <span><%= f.text_field :total_cost, { class: 'form-control p7_10 fullname',readonly: true, placeholder: "Total Cost" } %></span>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>

<style>

  .inventory-list-row {
    cursor: pointer;
  }
  .items-variants-search .fa {
    cursor: pointer;
  }
  .items-variants-search input {
    border-radius: 3px 0px 0px 3px !important;
    border-right: none;
    padding-left: 43px;
    padding-right: 43px;
    padding: 6px 12px;
    background: #FFFFFF;
    line-height: 1.42857;
    box-shadow: none;
    transition: none;
  }

  .items-variants-search input:focus {
    border-color: #ccc;
    box-shadow: none;
  }

  .items-variants-search .input-group-addon {
    box-shadow: none;
    transition: none;
    color: #636e7b;
    background: #FFFFFF;
    border-radius: 0px 3px 3px 0px;
  }


  .items-variants-list {
    background: #eef1f7;
  }
  .items-variants-list .table-striped > tbody > tr:nth-child(2n+1) > td, .items-variants-list .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #fcfdfe;
  }
  .items-variants-list .table {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0px;
    /* even columns width , fix width of table too*/
  }
  .items-variants-list .table thead {
    font-weight: bold;
    background: #8c95b3;
    color: white;
  }
  .items-variants-list .table thead, .items-variants-list .table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  .items-variants-list .table tbody {
    display: block;
    overflow-y: scroll;
  }
  .items-variants-list .table tbody tr td {
    vertical-align: middle;
  }




  .transaction-lots-list {
    background: #eef1f7;
  }
  .transaction-lots-list .table-striped > tbody > tr:nth-child(2n+1) > td, .transaction-lots-list .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #fcfdfe;
  }
  .transaction-lots-list .table {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0px;
    /* even columns width , fix width of table too*/
  }
  .transaction-lots-list .table thead {
    font-weight: bold;
    background: #8c95b3;
    color: white;
  }
  .transaction-lots-list .table thead, .transaction-lots-list .table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  .transaction-lots-list .table tbody {
    display: block;
    overflow-y: scroll;
  }
  .transaction-lots-list .table tbody tr td {
    vertical-align: middle;
  }
</style>
