<% transfer = Inventory::Transaction::Transfer.find_by(id: receive.transfer_id) %>
<% requisition = Inventory::Order::Requisition.find_by(id: transfer.requisition_id) %>
<% receive_user_name = User.find_by(id: receive&.user_id)&.fullname %>
<td class="col-md-1 receive_<%#= count&.to_i - 1 %>"><b><%#= count %></b></td>
<td style="font-size: 10px; color: #17a08c;" class="col-md-2">
  <div><%= transfer.transfer_from == "store" ? "Direct" : transfer.transfer_from.try(:capitalize) %></div>
  <div><%= transfer.store_name %></div>
</td>
<td class="col-md-3">
  <% if transfer.requisition_id.present? %>
    <div><%= requisition.entered_by %></div>
    <div><%= requisition.approved_date_time&.strftime("%d-%m-%Y") %>&nbsp;&nbsp;<%= requisition.approved_date_time&.strftime("%I:%M %p") %></div>
    <div><%= requisition.store_name %> - <%= requisition.department_name %></div>
  <% end %>
</td>
<td style="font-size: 10px; color: #17a08c;" class="col-md-3">
  <div><%= transfer.approved_on&.strftime("%d-%m-%Y") %>&nbsp;&nbsp;<%= transfer.approved_on&.strftime("%I:%M %p") %></div>
  <div><%= transfer.transfer_from == "requisition" ?  transfer.issue_display_id : transfer.transfer_display_id %></div>
  <div><%= transfer.entered_by %></div>
</td>
<td class="col-md-3">
  <div><span>Status:&nbsp;<%= receive.status.try(:capitalize) %></span></div>
  <div><%= receive.transaction_date&.strftime("%d-%m-%Y") %>&nbsp;&nbsp;<%= receive.transaction_time&.strftime("%I:%M %p") %></div>
  <div><%= receive_user_name %></div>
</td>
