<div class="stat" style="max-width:100%;">
  <div class="row">
    <div class="col-xs-4">
      <small class="stat-label">Total OPD</small>
      <small class="stat-label" style="color:#5BC0DE">|</small>
        <% if current_user.has_role?(:doctor) %>
          <h1><%= @patients_total_doctor_opd %></h1>
        <% else %>
          <h1><%= @patients_total_nurse_opd %></h1>
        <% end %>

    </div>
    <div class="col-xs-4">
      <small class="stat-label">Total IPD</small>
      <small class="stat-label" style="color:#5BC0DE">|</small>
      <% if current_user.has_role?(:doctor) %>
        <h1><%= @patients_total_doctor_ipd %></h1>
      <% else %>
        <h1><%= @patients_total_nurse_ipd %></h1>
      <% end %>
    </div>
    <div class="col-xs-4">
      <small class="stat-label">Total OT</small>
      <small class="stat-label" style="color:#5BC0DE">|</small>
      <% if current_user.has_role?(:doctor) %>
        <h1><%= @patients_total_doctor_ot %></h1>
      <% else %>
        <h1><%= @patients_total_nurse_ot %></h1>
      <% end %>
    </div>
  </div><!-- row -->
</div><!-- stat -->