<% ophthal_investigations_list = @ipdrecord.ophthal_investigations_list %>
<% laboratory_investigations_list = @ipdrecord.laboratory_investigations_list %>
<% radiology_investigations_list = @ipdrecord.radiology_investigations_list %>

<% if ophthal_investigations_list.count > 0 %>
  <div class="row">
    <div class="ophthal_investigations">
      <div class="col-md-2 text-right">
        <b>Ophthal Investigations :</b>
      </div>

      <div class="col-md-9">
        <table class="table table-bordered" style="background: #ffffff;" >
          <thead>
            <tr>
              <td class="text-center"><b>Investigation Name</b></td>
              <td class="text-center"><b>Investigation Value</b></td>
              <td class="text-center"><b>Investigation Remark</b></td>
              <td class="text-center"><b>Doctor Remark</b></td>
            </tr>
          </thead>
          <tbody id="ophthal-investigations-added" class="ophthal-investigations-added">
            <% if ophthal_investigations_list.count > 0 %>
              <% ophthal_investigations_list.where(is_performed: false, has_declined: false, is_removed: false).group_by{ |oi| [oi.investigation_id, oi.investigationside] }.each do |ophthal_investigation_args, ophthal_investigations| %>
                <tr class="table-row-ophthals">
                  <% investigation_name = ophthal_investigations[0].investigationname.to_s %>
                  <% if ophthal_investigations[0].try(:investigationside).present? %>
                    <% investigation_name = investigation_name + "(#{ophthal_investigations[0].get_label_for_ophthal_investigation_side(ophthal_investigations[0].investigationside)})"  %>
                  <% end %>

                  <td class="text-center"><%= investigation_name %></td>
                  <td class="text-center"><%= (ophthal_investigations[0].investigation_val if ophthal_investigations[0].investigation_val.present? )|| '-' %></td>
                  <td class="text-center"><%= (ophthal_investigations[0].investigation_comment if ophthal_investigations[0].investigation_comment.present? )|| '-' %></td>
                  <td class="text-center"><%= (ophthal_investigations[0].doctors_remark if ophthal_investigations[0].doctors_remark.present? )|| '-' %></td>
                </tr>
              <% end %>
              <% ophthal_investigations_list.where(is_performed: true).each_with_index do |elem, i| %>
                <tr class="table-row-ophthals">
                  <% investigation_name = elem.investigationname.to_s %>
                  <% if elem.try(:investigationside).present? %>
                    <% investigation_name = investigation_name + "(#{elem.get_label_for_ophthal_investigation_side(elem.investigationside)})"  %>
                  <% end %>

                  <td class="text-center"><%= investigation_name %></td>
                  <td class="text-center"><%= (elem.investigation_val if elem.investigation_val.present? )|| '-' %></td>
                  <td class="text-center"><%= (elem.investigation_comment if elem.investigation_comment.present? )|| '-' %></td>
                  <td class="text-center"><%= (elem.doctors_remark if elem.doctors_remark.present? )|| '-' %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>

<% if laboratory_investigations_list.count > 0 %>
  <div class="row">
    <div class="laboratory_investigations">
      <div class="col-md-2 text-right">
        <b>Laboratory Investigations :</b>
      </div>
       <div class="col-md-9">
        <table class="table table-bordered" style="background: #ffffff;" >
          <thead>
            <tr>
              <td class="text-center"><b>Investigation Name</b></td>
              <td class="text-center"><b>Investigation Value</b></td>
              <td class="text-center"><b>Normal Range</b></td>
              <td class="text-center"><b>Investigation Remark</b></td>
              <td class="text-center"><b>Doctor Remark</b></td>
            </tr>
          </thead>
          <tbody id='laboratory-investigations-added' class='laboratory-investigations-added'>
            <% if laboratory_investigations_list.count > 0 %>
              <% laboratory_investigations_list.where(is_performed: false, has_declined: false, is_removed: false).group_by{ |li| [li.loinc_code] }.each do |laboratory_investigation_args, laboratory_investigations| %>
                <tr class="table-row-laboratory">
                  <td class="text-center"><%= laboratory_investigations[0].investigationname %></td>
                  <% if laboratory_investigations[0].laboratory_panel_records.count > 0 %>
                    <td colspan="2" class="text-center">
                      <b>Sub - investigations present</b>
                    </td>
                  <%else%>
                    <td class="text-center"><%= (laboratory_investigations[0].investigation_val if laboratory_investigations[0].investigation_val.present? ) || '-'  %></td>
                    <td class="text-center"><%= (laboratory_investigations[0].normal_range if laboratory_investigations[0].normal_range.present? ) || '-'  %></td>
                  <%end%>
                  <td class="text-center"><%= (laboratory_investigations[0].investigation_comment if laboratory_investigations[0].investigation_comment.present? ) || '-'  %></td>
                  <td class="text-center"><%= (laboratory_investigations[0].doctors_remark if laboratory_investigations[0].doctors_remark.present? ) || '-'  %></td>
                </tr>

                <% if laboratory_investigations[0].laboratory_panel_records.count > 0 %> 
                  <tr style="background-color:#bbb;">
                    <td colspan="5" style="padding:5px 10px 2px;">
                      <table class="table table-bordered" style="margin: 0 0 5px;" >
                        <thead>
                          <tr>
                            <th>Investigation Name</th>
                            <th>Investigation Value</th>
                            <th>Normal range</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% laboratory_investigations[0].laboratory_panel_records.each_with_index do |panel_record, j| %>
                            <tr>
                              <td><%= panel_record.investigation_name %> </td>
                              <td><%= panel_record.investigation_val %></td>
                              <td><%= panel_record.normal_range %></td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                <% end %>
              <% end %>
              <% laboratory_investigations_list.where(is_performed: true).each_with_index do |elem, i| %>
                <tr class="table-row-laboratory">
                  <td class="text-center"><%= elem.investigationname %></td>
                  <% if elem.laboratory_panel_records.count > 0 %>
                    <td colspan="2" class="text-center">
                      <b>Sub - investigations present</b>
                    </td>
                  <%else%>
                    <td class="text-center"><%= (elem.investigation_val if elem.investigation_val.present? ) || '-'  %></td>
                    <td class="text-center"><%= (elem.normal_range if elem.normal_range.present? ) || '-'  %></td>
                  <%end%>
                  <td class="text-center"><%= (elem.investigation_comment if elem.investigation_comment.present? ) || '-'  %></td>
                  <td class="text-center"><%= (elem.doctors_remark if elem.doctors_remark.present? ) || '-'  %></td>
                </tr>

                <% if elem.laboratory_panel_records.count > 0 %> 
                  <tr style="background-color:#bbb;" parent-row-id="panel_records_row_<%=i%>">
                    <td colspan="5" style="padding:5px 10px 2px;">
                      <table class="table table-bordered" style="margin: 0 0 5px;" >
                        <thead>
                          <tr>
                            <th>Investigation Name</th>
                            <th>Investigation Value</th>
                            <th>Normal range</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% elem.laboratory_panel_records.each_with_index do |panel_record, j| %>
                            <tr>
                              <td><%= panel_record.investigation_name %> </td>
                              <td><%= panel_record.investigation_val %></td>
                              <td><%= panel_record.normal_range %></td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>

<% if radiology_investigations_list.count > 0 %>
  <div class="row">
    <div class="radiology_investigations">
      <div class="col-md-2 text-right">
        <b>Radiology Investigations :</b>
      </div>

      <div class="col-md-9">
        <table class="table table-bordered" style="background: #ffffff;" >
          <thead>
            <tr>
              <td class="text-center"><b>Investigation Name</b></td>
              <td class="text-center"><b>Investigation Value</b></td>
              <td class="text-center"><b>Investigation Remark</b></td>
              <td class="text-center"><b>Doctor Remark</b></td>
            </tr>
          </thead>
          <tbody id='radiology-investigations-added' class='radiology-investigations-added'>
            <% if radiology_investigations_list.count > 0 %>
              <% radiology_investigations_list.where(is_performed: false, has_declined: false, is_removed: false).group_by{ |ri| [ri.investigation_id] }.each do |radiology_investigation_args, radiology_investigations| %>
                <tr class="table-row-radiology">
                  <% investigation_name = radiology_investigations[0].try(:investigationname).to_s %>
                  <% if radiology_investigations[0].try(:radiologyoptions).present? %>
                    <% investigation_name = investigation_name + "- #{radiology_investigations[0].get_label_for_radiology_option(radiology_investigations[0].try(:radiologyoptions))}" %>
                  <% end %>

                  <td class="text-center"><%= investigation_name %></td>
                  <td class="text-center"><%= (radiology_investigations[0].investigation_val if radiology_investigations[0].investigation_val.present? )|| '-'  %></td>
                  <td class="text-center"><%= (radiology_investigations[0].investigation_comment if radiology_investigations[0].investigation_comment.present? )|| '-'  %></td>
                  <td class="text-center"><%= (radiology_investigations[0].doctors_remark if radiology_investigations[0].doctors_remark.present? )|| '-'  %></td>
                </tr>
              <% end %>
              <% radiology_investigations_list.where(is_performed: true).each_with_index do |elem, i| %>
                <tr class="table-row-radiology">
                  <% investigation_name = elem.try(:investigationname).to_s %>
                  <% if elem.try(:radiologyoptions).present? %>
                    <% investigation_name = investigation_name + "- #{elem.get_label_for_radiology_option(elem.try(:radiologyoptions))}" %>
                  <% end %>

                  <td class="text-center"><%= investigation_name %></td>
                  <td class="text-center"><%= (elem.investigation_val if elem.investigation_val.present? )|| '-'  %></td>
                  <td class="text-center"><%= (elem.investigation_comment if elem.investigation_comment.present? )|| '-'  %></td>
                  <td class="text-center"><%= (elem.doctors_remark if elem.doctors_remark.present? )|| '-'  %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>

<% if @case_sheet.free_form_investigations.count > 0 %>
  <div class="row">
    <div class="col-md-2 text-right">
      <b>Other Investigations :</b>
    </div>
    <div class="col-md-9">
      <% if @case_sheet.free_form_investigations.try(:count) > 0 %>
        <% uniq_array = [] %>
        <% @case_sheet.free_form_investigations.each do |key, investigation| %>
          <% unless uniq_array.include?(investigation[:content].to_s.html_safe()) %>
            <li style="margin-left: 10px"><%= investigation[:content].to_s.html_safe() %></li>
            <% uniq_array << investigation[:content].to_s.html_safe() %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>