<div class="row mb5" style="margin-top: 20px;">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2 text-center">
        Name
      </div>
      <div class="col-md-2 text-center">
        Quantity
      </div>
      <div class="col-md-2 text-center">
        Used
      </div>
      <div class="col-md-2 text-center">
        Remaining
      </div>
    </div>
  </div>
</div>

<!-- Medication -->
<div class="row medication_row inventory_row mb20" style="margin-top: 20px;">
  <% row_count = @ipdrecord.inventorymedication.try(:count) %>
  <% if row_count > 0 %>
    <input type="hidden" value="<%= row_count%>" id="inventorymedicationcount">
    <% for i in 0..row_count-1%>
      <div class="col-md-12 single_row">
        <div class="row mb5">
          <div class="col-md-2 text-right">
            <% unless i>0%>
              <b class="medlab">Medications</b>
            <% else%>
              <b class="medlab"></b>
            <% end%>
          </div>

          <% index=0%>
          <div class="col-md-2">
            <input class="form-control med_name" type="text" name="inpatient_ipd_record[inventorymedication_attributes][<%= i%>][name]"id="inpatient_ipd_record_inventorymedication_<%= i%>_name"value="<%= @ipdrecord.inventorymedication[i].name%>">
          </div>
          <div class="col-md-2">
            <input class="form-control med_qty" type="number" name="inpatient_ipd_record[inventorymedication_attributes][<%= i%>][quantity]"id="inpatient_ipd_record_inventorymedication_<%= i%>_qty"value="<%= @ipdrecord.inventorymedication[i].quantity %>">
          </div>
          <div class="col-md-2">
            <input class="form-control med_used" type="number" name="inpatient_ipd_record[inventorymedication_attributes][<%= i%>][used]"id="inpatient_ipd_record_inventorymedication_<%= i%>_used"value="<%= @ipdrecord.inventorymedication[i].used%>">
          </div>
          <div class="col-md-2">
            <input class="form-control med_rm" type="number" name="inpatient_ipd_record[inventorymedication_attributes][<%= i%>][remaining]"id="inpatient_ipd_record_inventorymedication_<%= i%>_remaining"value="<%= @ipdrecord.inventorymedication[i].remaining%>">
          </div>
          <div class="col-md-1" style="margin-top:5px;">
            <span id="add_inventoy_medication" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5 add_inventoy_medication"></span>
            <span id="remove_inventoy_medication_<%= index %>" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove remove_inventoy_medication"></span>
          </div>
          <% index+=1%>
        </div>
      </div>
    <% end %>
  <% else %>
    <input type="hidden" value="1" id="inventorymedicationcount">
    <div class="col-md-12 single_row">
      <div class="row mb5">
        <div class="col-md-2 text-right">
          <b class="medlab">Medications</b>
        </div>
        <div class="col-md-2">
          <input class="form-control med_name" type="text" name="inpatient_ipd_record[inventorymedication_attributes][0][name]"id="inpatient_ipd_record_inventorymedication_0_name">
        </div>
        <div class="col-md-2">
          <input class="form-control med_qty" type="number" name="inpatient_ipd_record[inventorymedication_attributes][0][quantity]"id="inpatient_ipd_record_inventorymedication_0_qty">
        </div>
        <div class="col-md-2">
          <input class="form-control med_used" type="number" name="inpatient_ipd_record[inventorymedication_attributes][0][used]"id="inpatient_ipd_record_inventorymedication_0_used">
        </div>
        <div class="col-md-2">
          <input class="form-control med_rm" type="number" name="inpatient_ipd_record[inventorymedication_attributes][0][remaining]"id="inpatient_ipd_record_inventorymedication_0_remaining">
        </div>
        <div class="col-md-1" style="margin-top:5px;">
          <span id="add_inventoy_medication" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5 add_inventoy_medication"></span>
          <span id="remove_inventoy_medication_0" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove remove_inventoy_medication"></span>
        </div>
      </div>
    </div>
  <% end %>
</div>

<!-- Consumables -->
<div class="row consumable_row inventory_row mb20" style="margin-top: 20px;">
  <% consumable_row_count = @ipdrecord.inventoryconsumables.try(:count) %>
  <% if consumable_row_count > 0 %>
      <input type="hidden" value="<%= consumable_row_count%>" id="inventoryconsumablecount">
      <% for i in 0..consumable_row_count-1%>
          <div class="col-md-12 single_row">
            <div class="row mb5">
              <div class="col-md-2 text-right">
                <% unless i>0%>
                    <b class="medlab">Consumable</b>
                <% else%>
                    <b class="medlab"></b>
                <% end%>
              </div>

              <% index=0%>
              <div class="col-md-2">
                <input class="form-control" type="text" name="inpatient_ipd_record[inventoryconsumables_attributes][<%= i%>][name]"id="inpatient_ipd_record_inventoryconsumables_<%= i%>_name"value="<%= @ipdrecord.inventoryconsumables[i].name%>">
              </div>
              <div class="col-md-2">
                <input class="form-control con_qty" type="number" name="inpatient_ipd_record[inventoryconsumables_attributes][<%= i%>][quantity]"id="inpatient_ipd_record_inventoryconsumables_<%= i%>_qty"value="<%= @ipdrecord.inventoryconsumables[i].quantity %>">
              </div>
              <div class="col-md-2">
                <input class="form-control con_used" type="number" name="inpatient_ipd_record[inventoryconsumables_attributes][<%= i%>][used]"id="inpatient_ipd_record_inventoryconsumables_<%= i%>_used"value="<%= @ipdrecord.inventoryconsumables[i].used%>">
              </div>
              <div class="col-md-2">
                <input class="form-control con_rm" type="number" name="inpatient_ipd_record[inventoryconsumables_attributes][<%= i%>][remaining]"id="inpatient_ipd_record_inventoryconsumables_<%= i%>_remaining"value="<%= @ipdrecord.inventoryconsumables[i].remaining%>">
              </div>
              <div class="col-md-1" style="margin-top:5px;">
                <span id="add_inventoy_consumable" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5 add_inventoy_consumable"></span>
                <span id="remove_inventoy_consumable_<%= index %>" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove remove_inventoy_consumable"></span>
              </div>
              <% index+=1%>
            </div>
          </div>
      <% end %>
  <% else %>
      <input type="hidden" value="1" id="inventoryconsumablecount">
      <div class="col-md-12 single_row">
        <div class="row mb5">
          <div class="col-md-2 text-right">
            <b class="medlab">Consumable</b>
          </div>
          <div class="col-md-2">
            <input class="form-control" type="text" name="inpatient_ipd_record[inventoryconsumables_attributes][0][name]"id="inpatient_ipd_record_inventoryconsumables_0_name">
          </div>
          <div class="col-md-2">
            <input class="form-control con_qty" type="number" name="inpatient_ipd_record[inventoryconsumables_attributes][0][quantity]"id="inpatient_ipd_record_inventoryconsumables_0_qty">
          </div>
          <div class="col-md-2">
            <input class="form-control con_used" type="number" name="inpatient_ipd_record[inventoryconsumables_attributes][0][used]"id="inpatient_ipd_record_inventoryconsumables_0_used">
          </div>
          <div class="col-md-2">
            <input class="form-control con_rm" type="number" name="inpatient_ipd_record[inventoryconsumables_attributes][0][remaining]"id="inpatient_ipd_record_inventoryconsumables_0_remaining">
          </div>
          <div class="col-md-1" style="margin-top:5px;">
            <span id="add_inventoy_consumable" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5 add_inventoy_consumable"></span>
            <span id="remove_inventoy_consumable_0" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove remove_inventoy_consumable"></span>
          </div>
        </div>
      </div>
  <% end %>
</div>

<!-- Packs/Drapes -->
<div class="row pack_row inventory_row mb20" style="margin-top: 20px;">
  <% row_count = @ipdrecord.inventorypack.try(:count) %>
  <% if row_count > 0 %>
      <input type="hidden" value="<%= row_count%>" id="inventorypackcount">
      <% for i in 0..row_count-1%>
          <div class="col-md-12 single_row">
            <div class="row mb5">
              <div class="col-md-2 text-right">
                <% unless i>0%>
                    <b class="medlab">Packs/Drapes</b>
                <% else%>
                    <b class="medlab"></b>
                <% end%>
              </div>

              <% index=0%>
              <div class="col-md-2">
                <input class="form-control" type="text" name="inpatient_ipd_record[inventorypack_attributes][<%= i%>][name]"id="inpatient_ipd_record_inventorypack_<%= i%>_name"value="<%= @ipdrecord.inventorypack[i].name%>">
              </div>
              <div class="col-md-2">
                <input class="form-control pack_qty" type="number" name="inpatient_ipd_record[inventorypack_attributes][<%= i%>][quantity]"id="inpatient_ipd_record_inventorypack_<%= i%>_qty"value="<%= @ipdrecord.inventorypack[i].quantity %>">
              </div>
              <div class="col-md-2">
                <input class="form-control pack_used" type="number" name="inpatient_ipd_record[inventorypack_attributes][<%= i%>][used]"id="inpatient_ipd_record_inventorypack_<%= i%>_used"value="<%= @ipdrecord.inventorypack[i].used%>">
              </div>
              <div class="col-md-2">
                <input class="form-control pack_rm" type="number" name="inpatient_ipd_record[inventorypack_attributes][<%= i%>][remaining]"id="inpatient_ipd_record_inventorypack_<%= i%>_remaining"value="<%= @ipdrecord.inventorypack[i].remaining%>">
              </div>
              <div class="col-md-1" style="margin-top:5px;">
                <span id="add_inventoy_pack" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5 add_inventoy_pack"></span>
                <span id="remove_inventoy_pack_<%= index %>" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove remove_inventoy_pack"></span>
              </div>
              <% index+=1%>
            </div>
          </div>
      <% end %>
  <% else %>
      <input type="hidden" value="1" id="inventorypackcount">
      <div class="col-md-12 single_row">
        <div class="row mb5">
          <div class="col-md-2 text-right">
            <b class="medlab">Packs/Drapes</b>
          </div>
          <div class="col-md-2">
            <input class="form-control" type="text" name="inpatient_ipd_record[inventorypack_attributes][0][name]"id="inpatient_ipd_record_inventorypack_0_name">
          </div>
          <div class="col-md-2">
            <input class="form-control pack_qty" type="number" name="inpatient_ipd_record[inventorypack_attributes][0][quantity]"id="inpatient_ipd_record_inventorypack_0_qty">
          </div>
          <div class="col-md-2">
            <input class="form-control pack_used" type="number" name="inpatient_ipd_record[inventorypack_attributes][0][used]"id="inpatient_ipd_record_inventorypack_0_used">
          </div>
          <div class="col-md-2">
            <input class="form-control pack_rm" type="number" name="inpatient_ipd_record[inventorypack_attributes][0][remaining]"id="inpatient_ipd_record_inventorypack_0_remaining">
          </div>
          <div class="col-md-1" style="margin-top:5px;">
            <span id="add_inventoy_pack" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5 add_inventoy_pack"></span>
            <span id="remove_inventoy_pack_0" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove remove_inventoy_pack"></span>
          </div>
        </div>
      </div>
  <% end %>
</div>

<!-- Irrigation/Solutions/Prep -->
<div class="row prep_row inventory_row mb20" style="margin-top: 20px;">
  <% row_count = @ipdrecord.inventoryprep.try(:count) %>
  <% if row_count > 0 %>
      <input type="hidden" value="<%= row_count%>" id="inventoryprepcount">
      <% for i in 0..row_count-1%>
          <div class="col-md-12 single_row">
            <div class="row mb5">
              <div class="col-md-2 text-right">
                <% unless i>0%>
                    <b class="medlab">Irrigation/Solutions/Preps</b>
                <% else%>
                    <b class="medlab"></b>
                <% end%>
              </div>

              <% index=0%>
              <div class="col-md-2">
                <input class="form-control" type="text" name="inpatient_ipd_record[inventoryprep_attributes][<%= i%>][name]"id="inpatient_ipd_record_inventoryprep_<%= i%>_name"value="<%= @ipdrecord.inventoryprep[i].name%>">
              </div>
              <div class="col-md-2">
                <input class="form-control prep_qty" type="number" name="inpatient_ipd_record[inventoryprep_attributes][<%= i%>][quantity]"id="inpatient_ipd_record_inventoryprep_<%= i%>_qty"value="<%= @ipdrecord.inventoryprep[i].quantity %>">
              </div>
              <div class="col-md-2">
                <input class="form-control prep_used" type="number" name="inpatient_ipd_record[inventoryprep_attributes][<%= i%>][used]"id="inpatient_ipd_record_inventoryprep_<%= i%>_used"value="<%= @ipdrecord.inventoryprep[i].used%>">
              </div>
              <div class="col-md-2">
                <input class="form-control prep_rm" type="number" name="inpatient_ipd_record[inventoryprep_attributes][<%= i%>][remaining]"id="inpatient_ipd_record_inventoryprep_<%= i%>_remaining"value="<%= @ipdrecord.inventoryprep[i].remaining%>">
              </div>
              <div class="col-md-1" style="margin-top:5px;">
                <span id="add_inventoy_prep" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5 add_inventoy_prep"></span>
                <span id="remove_inventoy_prep_<%= index %>" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove remove_inventoy_prep"></span>
              </div>
              <% index+=1%>
            </div>
          </div>
      <% end %>
  <% else %>
      <input type="hidden" value="1" id="inventoryprepcount">
      <div class="col-md-12 single_row">
        <div class="row mb5">
          <div class="col-md-2 text-right">
            <b class="medlab">Irrigation/Solutions/Preps</b>
          </div>
          <div class="col-md-2">
            <input class="form-control" type="text" name="inpatient_ipd_record[inventoryprep_attributes][0][name]"id="inpatient_ipd_record_inventoryprep_0_name">
          </div>
          <div class="col-md-2">
            <input class="form-control prep_qty" type="number" name="inpatient_ipd_record[inventoryprep_attributes][0][quantity]"id="inpatient_ipd_record_inventoryprep_0_qty">
          </div>
          <div class="col-md-2">
            <input class="form-control prep_used" type="number" name="inpatient_ipd_record[inventoryprep_attributes][0][used]"id="inpatient_ipd_record_inventoryprep_0_used">
          </div>
          <div class="col-md-2">
            <input class="form-control prep_rm" type="number" name="inpatient_ipd_record[inventoryprep_attributes][0][remaining]"id="inpatient_ipd_record_inventoryprep_0_remaining">
          </div>
          <div class="col-md-1" style="margin-top:5px;">
            <span id="add_inventoy_prep" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5 add_inventoy_prep"></span>
            <span id="remove_inventoy_prep_0" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove remove_inventoy_prep"></span>
          </div>
        </div>
      </div>
  <% end %>
</div>
<!-- Dressings/Drains/Sutures -->
<div class="row dressings_row inventory_row mb20" style="margin-top: 20px;">
  <% row_count = @ipdrecord.inventorydressings.try(:count) %>
  <% if row_count > 0 %>
      <input type="hidden" value="<%= row_count%>" id="inventorydressingscount">
      <% for i in 0..row_count-1%>
          <div class="col-md-12 single_row">
            <div class="row mb5">
              <div class="col-md-2 text-right">
                <% unless i>0%>
                    <b class="medlab">Dressings/Drains/Sutures</b>
                <% else%>
                    <b class="medlab"></b>
                <% end%>
              </div>

              <% index=0%>
              <div class="col-md-2">
                <input class="form-control" type="text" name="inpatient_ipd_record[inventorydressings_attributes][<%= i%>][name]"id="inpatient_ipd_record_inventorydressings_<%= i%>_name"value="<%= @ipdrecord.inventorydressings[i].name%>">
              </div>
              <div class="col-md-2">
                <input class="form-control dressings_qty" type="number" name="inpatient_ipd_record[inventorydressings_attributes][<%= i%>][quantity]"id="inpatient_ipd_record_inventorydressings_<%= i%>_qty"value="<%= @ipdrecord.inventorydressings[i].quantity %>">
              </div>
              <div class="col-md-2">
                <input class="form-control dressings_used" type="number" name="inpatient_ipd_record[inventorydressings_attributes][<%= i%>][used]"id="inpatient_ipd_record_inventorydressings_<%= i%>_used"value="<%= @ipdrecord.inventorydressings[i].used%>">
              </div>
              <div class="col-md-2">
                <input class="form-control dressings_rm" type="number" name="inpatient_ipd_record[inventorydressings_attributes][<%= i%>][remaining]"id="inpatient_ipd_record_inventorydressings_<%= i%>_remaining"value="<%= @ipdrecord.inventorydressings[i].remaining%>">
              </div>
              <div class="col-md-1" style="margin-top:5px;">
                <span id="add_inventoy_dressings" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5 add_inventoy_dressings"></span>
                <span id="remove_inventoy_dressings_<%= index %>" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove remove_inventoy_dressings"></span>
              </div>
              <% index+=1%>
            </div>
          </div>
      <% end %>
  <% else %>
      <input type="hidden" value="1" id="inventorydressingscount">
      <div class="col-md-12 single_row">
        <div class="row mb5">
          <div class="col-md-2 text-right">
            <b class="medlab">Dressings/Drains/Sutures</b>
          </div>
          <div class="col-md-2">
            <input class="form-control dressings" type="text" name="inpatient_ipd_record[inventorydressings_attributes][0][name]"id="inpatient_ipd_record_inventorydressings_0_name">
          </div>
          <div class="col-md-2">
            <input class="form-control dressings_qty" type="number" name="inpatient_ipd_record[inventorydressings_attributes][0][quantity]"id="inpatient_ipd_record_inventorydressings_0_qty">
          </div>
          <div class="col-md-2">
            <input class="form-control dressings_used" type="number" name="inpatient_ipd_record[inventorydressings_attributes][0][used]"id="inpatient_ipd_record_inventorydressings_0_used">
          </div>
          <div class="col-md-2">
            <input class="form-control dressings_rm" type="number" name="inpatient_ipd_record[inventorydressings_attributes][0][remaining]"id="inpatient_ipd_record_inventorydressings_0_remaining">
          </div>
          <div class="col-md-1" style="margin-top:5px;">
            <span id="add_inventoy_dressings" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5 add_inventoy_dressings"></span>
            <span id="remove_inventoy_dressings_0" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove remove_inventoy_dressings"></span>
          </div>
        </div>
      </div>
  <% end %>
</div>

<!-- Instruments & Equipments -->
<div class="row instrument_row inventory_row mb20" style="margin-top: 20px;">
  <% row_count = @ipdrecord.inventoryinstrument.try(:count) %>
  <% if row_count > 0 %>
      <input type="hidden" value="<%= row_count%>" id="inventoryinstrumentcount">
      <% for i in 0..row_count-1%>
          <div class="col-md-12 single_row">
            <div class="row mb5">
              <div class="col-md-2 text-right">
                <% unless i>0%>
                    <b class="medlab">Instruments & Equipments</b>
                <% else%>
                    <b class="medlab"></b>
                <% end%>
              </div>

              <% index=0%>
              <div class="col-md-2">
                <input class="form-control" type="text" name="inpatient_ipd_record[inventoryinstrument_attributes][<%= i%>][name]"id="inpatient_ipd_record_inventoryinstrument_<%= i%>_name"value="<%= @ipdrecord.inventoryinstrument[i].name%>">
              </div>
              <div class="col-md-2">
                <input class="form-control instrument_qty" type="number" name="inpatient_ipd_record[inventoryinstrument_attributes][<%= i%>][quantity]"id="inpatient_ipd_record_inventoryinstrument_<%= i%>_qty"value="<%= @ipdrecord.inventoryinstrument[i].quantity %>">
              </div>
              <div class="col-md-2">
                <input class="form-control instrument_used" type="number" name="inpatient_ipd_record[inventoryinstrument_attributes][<%= i%>][used]"id="inpatient_ipd_record_inventoryinstrument_<%= i%>_used"value="<%= @ipdrecord.inventoryinstrument[i].used%>">
              </div>
              <div class="col-md-2">
                <input class="form-control instrument_rm" type="number" name="inpatient_ipd_record[inventoryinstrument_attributes][<%= i%>][remaining]"id="inpatient_ipd_record_inventoryinstrument_<%= i%>_remaining"value="<%= @ipdrecord.inventoryinstrument[i].remaining%>">
              </div>
              <div class="col-md-1" style="margin-top:5px;">
                <span id="add_inventoy_instrument" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5 add_inventoy_instrument"></span>
                <span id="remove_inventoy_instrument_<%= index %>" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove remove_inventoy_instrument"></span>
              </div>
              <% index+=1%>
            </div>
          </div>
      <% end %>
  <% else %>
      <input type="hidden" value="1" id="inventoryinstrumentcount">
      <div class="col-md-12 single_row">
        <div class="row mb5">
          <div class="col-md-2 text-right">
            <b class="medlab">Instruments & Equipments</b>
          </div>
          <div class="col-md-2">
            <input class="form-control" type="text" name="inpatient_ipd_record[inventoryinstrument_attributes][0][name]"id="inpatient_ipd_record_inventoryinstrument_0_name">
          </div>
          <div class="col-md-2">
            <input class="form-control instrument_qty" type="number" name="inpatient_ipd_record[inventoryinstrument_attributes][0][quantity]"id="inpatient_ipd_record_inventoryinstrument_0_qty">
          </div>
          <div class="col-md-2">
            <input class="form-control instrument_used" type="number" name="inpatient_ipd_record[inventoryinstrument_attributes][0][used]"id="inpatient_ipd_record_inventoryinstrument_0_used">
          </div>
          <div class="col-md-2">
            <input class="form-control instrument_rm" type="number" name="inpatient_ipd_record[inventoryinstrument_attributes][0][remaining]"id="inpatient_ipd_record_inventoryinstrument_0_remaining">
          </div>
          <div class="col-md-1" style="margin-top:5px;">
            <span id="add_inventoy_instrument" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5 add_inventoy_instrument"></span>
            <span id="remove_inventoy_instrument_0" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove remove_inventoy_instrument"></span>
          </div>
        </div>
      </div>
  <% end %>
</div>
<!-- Implants -->
<div class="row implants_row inventory_row mb20" style="margin-top: 20px;">
  <% row_count = @ipdrecord.inventoryimplants.try(:count) %>
  <% if row_count > 0 %>
      <input type="hidden" value="<%= row_count%>" id="inventoryimplantscount">
      <% for i in 0..row_count-1%>
          <div class="col-md-12 single_row">
            <div class="row mb5">
              <div class="col-md-2 text-right">
                <% unless i>0%>
                    <b class="medlab">Implants</b>
                <% else%>
                    <b class="medlab"></b>
                <% end%>
              </div>

              <% index=0%>
              <div class="col-md-2">
                <input class="form-control" type="text" name="inpatient_ipd_record[inventoryimplants_attributes][<%= i%>][name]"id="inpatient_ipd_record_inventoryimplants_<%= i%>_name"value="<%= @ipdrecord.inventoryimplants[i].name%>">
              </div>
              <div class="col-md-2">
                <input class="form-control implants_qty" type="number" name="inpatient_ipd_record[inventoryimplants_attributes][<%= i%>][quantity]"id="inpatient_ipd_record_inventoryimplants_<%= i%>_qty"value="<%= @ipdrecord.inventoryimplants[i].quantity %>">
              </div>
              <div class="col-md-2">
                <input class="form-control implants_used" type="number" name="inpatient_ipd_record[inventoryimplants_attributes][<%= i%>][used]"id="inpatient_ipd_record_inventoryimplants_<%= i%>_used"value="<%= @ipdrecord.inventoryimplants[i].used%>">
              </div>
              <div class="col-md-2">
                <input class="form-control implants_rm" type="number" name="inpatient_ipd_record[inventoryimplants_attributes][<%= i%>][remaining]"id="inpatient_ipd_record_inventoryimplants_<%= i%>_remaining"value="<%= @ipdrecord.inventoryimplants[i].remaining%>">
              </div>
              <div class="col-md-1" style="margin-top:5px;">
                <span id="add_inventoy_implants" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5 add_inventoy_implants"></span>
                <span id="remove_inventoy_implants_<%= index %>" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove remove_inventoy_implants"></span>
              </div>
              <% index+=1%>
            </div>
          </div>
      <% end %>
  <% else %>
      <input type="hidden" value="1" id="inventoryimplantscount">
      <div class="col-md-12 single_row">
        <div class="row mb5">
          <div class="col-md-2 text-right">
            <b class="medlab">Implants</b>
          </div>
          <div class="col-md-2">
            <input class="form-control" type="text" name="inpatient_ipd_record[inventoryimplants_attributes][0][name]"id="inpatient_ipd_record_inventoryimplants_0_name">
          </div>
          <div class="col-md-2">
            <input class="form-control implants_qty" type="number" name="inpatient_ipd_record[inventoryimplants_attributes][0][quantity]"id="inpatient_ipd_record_inventoryimplants_0_qty">
          </div>
          <div class="col-md-2">
            <input class="form-control implants_used" type="number" name="inpatient_ipd_record[inventoryimplants_attributes][0][used]"id="inpatient_ipd_record_inventoryimplants_0_used">
          </div>
          <div class="col-md-2">
            <input class="form-control implants_rm" type="number" name="inpatient_ipd_record[inventoryimplants_attributes][0][remaining]"id="inpatient_ipd_record_inventoryimplants_0_remaining">
          </div>
          <div class="col-md-1" style="margin-top:5px;">
            <span id="add_inventoy_implants" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5 add_inventoy_implants"></span>
            <span id="remove_inventoy_implants_0" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove remove_inventoy_implants"></span>
          </div>
        </div>
      </div>
  <% end %>
</div>
<!-- Swaps/Sponges -->
<div class="row swabs_row inventory_row mb20" style="margin-top: 20px;">
  <% row_count = @ipdrecord.inventoryswabs.try(:count) %>
  <% if row_count > 0 %>
      <input type="hidden" value="<%= row_count%>" id="inventoryswabscount">
      <% for i in 0..row_count-1%>
          <div class="col-md-12 single_row">
            <div class="row mb5">
              <div class="col-md-2 text-right">
                <% unless i>0%>
                    <b class="medlab">Swabs/Sponges</b>
                <% else%>
                    <b class="medlab"></b>
                <% end%>
              </div>

              <% index=0%>
              <div class="col-md-2">
                <input class="form-control" type="text" name="inpatient_ipd_record[inventoryswabs_attributes][<%= i%>][name]"id="inpatient_ipd_record_inventoryswabs_<%= i%>_name"value="<%= @ipdrecord.inventoryswabs[i].name%>">
              </div>
              <div class="col-md-2">
                <input class="form-control swabs_qty" type="number" name="inpatient_ipd_record[inventoryswabs_attributes][<%= i%>][quantity]"id="inpatient_ipd_record_inventoryswabs_<%= i%>_qty"value="<%= @ipdrecord.inventoryswabs[i].quantity %>">
              </div>
              <div class="col-md-2">
                <input class="form-control swabs_used" type="number" name="inpatient_ipd_record[inventoryswabs_attributes][<%= i%>][used]"id="inpatient_ipd_record_inventoryswabs_<%= i%>_used"value="<%= @ipdrecord.inventoryswabs[i].used%>">
              </div>
              <div class="col-md-2">
                <input class="form-control swabs_rm" type="number" name="inpatient_ipd_record[inventoryswabs_attributes][<%= i%>][remaining]"id="inpatient_ipd_record_inventoryswabs_<%= i%>_remaining"value="<%= @ipdrecord.inventoryswabs[i].remaining%>">
              </div>
              <div class="col-md-1" style="margin-top:5px;">
                <span id="add_inventoy_swabs" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5 add_inventoy_swabs"></span>
                <span id="remove_inventoy_swabs_<%= index %>" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove remove_inventoy_swabs"></span>
              </div>
              <% index+=1%>
            </div>
          </div>
      <% end %>
  <% else %>
      <input type="hidden" value="1" id="inventoryswabscount">
      <div class="col-md-12 single_row">
        <div class="row mb5">
          <div class="col-md-2 text-right">
            <b class="medlab">Swabs/Sponges</b>
          </div>
          <div class="col-md-2">
            <input class="form-control" type="text" name="inpatient_ipd_record[inventoryswabs_attributes][0][name]"id="inpatient_ipd_record_inventoryswabs_0_name">
          </div>
          <div class="col-md-2">
            <input class="form-control swabs_qty" type="number" name="inpatient_ipd_record[inventoryswabs_attributes][0][quantity]"id="inpatient_ipd_record_inventoryswabs_0_qty">
          </div>
          <div class="col-md-2">
            <input class="form-control swabs_used" type="number" name="inpatient_ipd_record[inventoryswabs_attributes][0][used]"id="inpatient_ipd_record_inventoryswabs_0_used">
          </div>
          <div class="col-md-2">
            <input class="form-control swabs_rm" type="number" name="inpatient_ipd_record[inventoryswabs_attributes][0][remaining]"id="inpatient_ipd_record_inventoryswabs_0_remaining">
          </div>
          <div class="col-md-1" style="margin-top:5px;">
            <span id="add_inventoy_swabs" class="btn btn-xs btn-primary btn-square glyphicon glyphicon-plus-sign mr5 add_inventoy_swabs"></span>
            <span id="remove_inventoy_swabs_0" class="btn btn-xs btn-primary btn-danger glyphicon glyphicon-remove remove_inventoy_swabs"></span>
          </div>
        </div>
      </div>
  <% end %>
</div>

<!-- Comment Box -->
<div class="row personnel_row mb30">
  <div class="col-md-2 text-right">
    <b>COMMENT BOX :</b>
  </div>
  <div class="col-md-3">
    <%= f.text_area :ot_note_inventory_comments, {style: "width:125%;", class: "form-control"} %>
  </div>
</div>


<style type="text/css">
  .inventory_row {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
  }
</style>

<script>
  <%= render partial: 'inpatient/ipd_records/orthopedics/operative/forms/inventory_form.js.erb' %>
</script>