<div class="row mb20" style="margin-top:20px;">
  <div class="col-md-2 text-right">
    Patient Positions :
  </div>
  <div class="col-md-4">
    <%= f.input :patient_position, collection: [ 'Supine', 'Prone', 'Left Lateral', 'Right Lateral', 'Beach Chair', 'Lithotomy', 'Supine With Leg Holder' ], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white r-chiefcomplaint', :input_html => {:name => "inpatient_ipd_record[patient_position]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:patient_position)) %>
  </div>
  <div class="col-md-2 text-right">
    Position Aids :
  </div>
  <div class="col-md-4">
    <%= f.input :position_aid, collection: [ 'Head Ring', 'Elbow Pads', 'Heel Pads', 'Wedge', 'Pillows', 'Gel Pad' ], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white r-chiefcomplaint', :input_html => {:name => "inpatient_ipd_record[position_aid]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:position_aid)) %>
  </div>
</div>
<div class="row mb20">
  <div class="col-md-2 text-right">
    Bed Attachment :
  </div>
  <div class="col-md-4">
    <%= f.input :bed_attachments, collection: [ 'Arm board', 'Lateral Support', 'Stirrups', 'Beach Chair', 'Safety Straps' ], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white r-chiefcomplaint', :input_html => {:name => "inpatient_ipd_record[bed_attachments]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:bed_attachments)) %>
  </div>
  <div class="col-md-2 text-right">
    Other Equipments :
  </div>
  <div class="col-md-4">
    <%= f.input :other_equipments, collection: [ 'Warmer Blanket', 'Calf Compressor' ], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white r-chiefcomplaint', :input_html => {:name => "inpatient_ipd_record[other_equipments]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:other_equipments)) %>
  </div>
</div>
<div class="row mb20">
  <div class="col-md-2 text-right">
    Skin Preparation :
  </div>
  <div class="col-md-7">
    <%= f.input :skin_preparation, collection: [ 'Povidone-Iodine', 'Surgical Spirit', 'Chlorhexidine', 'Chlorhexidine + Cetrimide', 'Chlorhexidine in Alcohol' ], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white r-chiefcomplaint', :input_html => {:name => "inpatient_ipd_record[skin_preparation]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:skin_preparation)) %>
  </div>
</div>
<div class="row mb20">
  <div class="row mb10">
    <div class="col-md-2 text-right">
      DIATHERMY :
    </div>
    <div class="col-md-10">
      <%= f.input :theatre_diathermy, wrapper_html: {:class=>"comment_pop"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[theatre_diathermy]" }, :checked => ipdrecord.read_attribute(:theatre_diathermy) || "No" %>
    </div>
    <div class="comment_box_pop">
      <div class="col-md-2 text-right">
        Type :
      </div>    
      <div class="col-md-1">
        <%= f.select :diathermy_type, options_for_select([['Monpolar','Monpolar'],['Bipolar','Bipolar']], :selected => ipdrecord.diathermy_type), {}, { :class => 'diathermy_type form-control', style: "width:125%;" } %>
      </div>
      <div class="col-md-2 text-right">
        Plate Site :
      </div>
      <div class="col-md-4">
      <%= f.input :diathermy_plate_site, collection: [ 'Left Thigh', 'Right Thigh', 'Left Buttock', 'Right Buttock', 'Abdomen', 'Back' ], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white r-chiefcomplaint', :input_html => {:name => "inpatient_ipd_record[diathermy_plate_site]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:diathermy_plate_site)) %>
      </div>
      <div class="col-md-1 text-right">
        Applied By :
      </div>
      <div class="col-md-1">
        <%= f.select :diathermy_applier, options_for_select([['Surgeon','Surgeon'],['Surgeon Assistant','Surgeon Assistant'],['Anaesthetist','Anaesthetist'],['Anaesthetist Assistant','Anaesthetist Assistant'],['Nurse','Nurse'],['OT staff','OT staff']], :selected => ipdrecord.diathermy_applier), {}, { :class => 'diathermy_applier form-control', style: "width:125%;" } %>
      </div>
    </div>
  </div>
</div>
<div class="row mb20">
  <div class="row mb10">
    <div class="col-md-2 text-right">
      TOURNIQUET :
    </div>
    <div class="col-md-10">
      <%= f.input :theatre_tourniquet, wrapper_html: {:class=>"comment_pop"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[theatre_tourniquet]" }, :checked => ipdrecord.read_attribute(:theatre_tourniquet) || "No" %>
    </div>
    <div class="comment_box_pop">
      <div class="col-md-2 text-right">
        Site :
      </div>
      <div class="col-md-5">
      <%= f.input :tourniquet_site, collection: [ 'Right Arm', 'Left Arm', 'Right Thigh', 'Left Thigh', 'Right Forearm', 'Left Forearm', 'Right leg', 'Left leg', 'Digit' ], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white r-chiefcomplaint', :input_html => {:name => "inpatient_ipd_record[tourniquet_site]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:tourniquet_site)) %>
      </div>
      <div class="col-md-1 text-right">
        Pressure :
      </div>
      <div class="col-md-1">
        <% pressure_range = 20..35 %>
        <%= f.select(:tourniquet_pressure, pressure_range.collect {|p| [(p * 10).to_s,(p * 10).to_s]}, {include_blank: "Select"}, {class: "tourniquet_pressure form-control"} ) %>
      </div>
      <div class="col-md-1 text-right">
        Time :
      </div>
      <div class="col-md-1">
        <% time_range = 1..18 %>
        <%= f.select(:tourniquet_time, time_range.collect {|t| [(t * 10).to_s + " mins",(t * 10).to_s + " mins"]}, {include_blank: "Select"}, {class: "tourniquet_time form-control", style: "width:125%;"} ) %>
      </div>
    </div>
  </div>
</div>
<div class="row mb20">
  <div class="row mb10">
    <div class="col-md-2 text-right">
      BIOPSY/SPECIMEN :
    </div>
    <div class="col-md-10">
      <%= f.input :theatre_biopsy, wrapper_html: {:class=>"comment_pop"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[theatre_biopsy]" }, :checked => ipdrecord.read_attribute(:theatre_biopsy) || "No" %>
    </div>
    <div class="comment_box_pop">
      <div class="col-md-2 text-right">
        Type :
      </div>
      <div class="col-md-1">
        <%= f.text_field :biopsy_type, {class: "form-control", style: "width:150%;"} %>
      </div>
      <div class="col-md-2 text-right">
        To be Tested for :
      </div>
      <div class="col-md-6">
        <%= f.input :biopsy_tests, collection: [ 'Histopathology', 'Frozen Section', 'Microscopic Analysis', 'Bacterial Culture (Aerobic)', 'Bacterial Culture (Anaerobic)', 'Mycobacterial Culture', 'Fungal Culture', 'Antibiotic Sensitivity' ], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white r-chiefcomplaint', :input_html => {:name => "inpatient_ipd_record[biopsy_tests]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:biopsy_tests)) %>
      </div>
    </div>
  </div>
</div>
<div class="row mb20">
  <div class="col-md-2 text-right">
    Catheters In-Situ :
  </div>
  <div class="col-md-7">
    <%= f.input :catheters_insitu, collection: [ 'Foleys', 'Ryles', 'ICD', 'Operative Site Drain', 'Epidural Catheter', 'Pain-buster Catheter', 'Nerve Block Catheter' ], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white r-chiefcomplaint', :input_html => {:name => "inpatient_ipd_record[catheters_insitu]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:catheters_insitu)) %>
  </div>
</div>
<div class="row mb20">
  <div class="col-md-2 text-right">
    Closure :
  </div>
  <div class="col-md-7">
    <%= f.input :closure, collection: [ 'Staples', 'Sutures', 'Adhesives', 'None' ], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white r-chiefcomplaint', :input_html => {:name => "inpatient_ipd_record[closure]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:closure)) %>
  </div>
</div>

<div class="row personnel_row mb30">
  <div class="col-md-2 text-right">
    COMMENT BOX :
  </div>
  <div class="col-md-3">
    <%= f.text_area :theatre_comments, {style: "width:125%;", class: "form-control"} %>
  </div>
</div>

<script type="text/javascript">
  $('.comment_pop').on('change', function(){
    if($(this).find('.btn-brown').text() == 'No') {
      $(this).closest('.row').find('.comment_box_pop').hide();
    } else {
      $(this).closest('.row').find('.comment_box_pop').show();
    }
  })
  $('.comment_pop').trigger('change');
</script>