<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog ot-dialog" style="width:99%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">New OT Form</h4>
    </div>
    <%= simple_form_for @patient, url: '/ots', method: "post", format: :js, remote: true, multipart: true, html: { class: "patient-form ot-form", id: "new-ot-form" } do |f| %>
      <div class="modal-body" style="padding:5px 10px;background: #eee;">
        <div class="row">
          <div class="col-sm-6">
            <div id="patient-form" <%= "style=display:none;" if params[:patient_id].present? %>>
              <%= render partial: 'patients/form.html.erb', locals: {f: f} %>
            </div>
            <% if params[:patient_id].present? %>
              <div id="patient-view">
                <%= render partial: 'patients/view.html.erb' %>
              </div>
            <% end %>
          </div>
          <div class="col-sm-6">
            <%= render partial: 'ots/form.html.erb' %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-info btn-view-case"><%= ("View Case Details" if params[:case_sheet_id].present?) || "Select Case" %></button>
        <%= button_tag "Schedule OT", class: "btn btn-success btn-create-ot schedule_ot", data: { 'disable-with': 'Please Wait...' }, :onclick => 'ot_schedule_page(".case-details")', style: "display:none;" %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>

<style type="text/css">
  .btn-toggle-patient-form:focus, .btn-toggle-patient-view:focus {
    outline:0 !important;
  }

  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background: #fcfcfc !important;
    color: #333 !important;
  }
</style>

<script type="text/javascript">
  // Show Case Details before Saving
  $(".btn-view-case").on('click', function(e){
    e.preventDefault()
    $(".case-details").trigger('click')
    $(this).hide()
    $(".btn-create-ot").show()
  })
  $(".case-details").on('click', function(e){
    e.preventDefault()
  $(".btn-view-case").hide()
    $(".btn-create-ot").show()
  })

  $(".btn-toggle-patient-form").on('click', function(e){
    e.preventDefault();
    $("#patient-form").show()
    $("#patient-view").hide()
  })
</script>