<div class="admission-details-section">
  <%# if @admission.present? %>
    <div class="row" style="padding-top: 14px;">
      <div class="col-md-6 left_side_admission_details" style="border-right: 3px solid #d1d2d3;">
        <div class="col-md-12">
          <div class="col-md-3 field_label">
            <b>Date of Admission: </b>
          </div>
          <div class="col-md-3">
            <%= text_field_tag "tpa_data[date_of_admission]",if !@insurance_details.try(:date_of_admission).blank? then @insurance_details.try(:date_of_admission).try(:strftime,"%d/%m/%Y") else @admission.try(:admissiondate).try(:strftime, "%d/%m/%Y") end, class: "form-control tpa_datepicker", id: "date_of_admission" %>
          </div>
          <div class="col-md-3 field_label">
            <b>Time of Admission: </b>
          </div>
          <div class="col-md-3">
            <div class="bootstrap-timepicker timepicker">
              <%= text_field_tag "tpa_data[time_of_admission]", if !@insurance_details.try(:time_of_admission).blank? then @insurance_details.try(:time_of_admission).try(:strftime, "%I:%M %p") else @admission.try(:admissiontime).try(:strftime, "%I:%M %p") end, class: "form-control tpa_timepicker", id: "time_of_admission" %>
            </div>
          </div>
        </div>

        <div class="row" style="padding-left: 10px;">
          <div class="col-md-6 field_label" style="margin-left: 9px;">
            <b>Is this an emergency or planned hospitalization event? : </b>
          </div>
          <div class="col-md-6" style="margin-top: 15px;margin-left: -11px;">
            <div class="rdio rdio-primary col-sm-3 col-md-6">
              <%if @insurance_details.try(:admission_hospitalization_type) == 'emergency'%>
                <%hospitalize_flag = true%>
              <%else%>
                <%hospitalize_flag = false%>
              <%end%>
              <%= radio_button_tag "tpa_data[hospitalization_type]", 'emergency', hospitalize_flag, {:class => 'admission_hospitalization_field', :id => "emergency_hospitalization" } %>
              <label for="emergency_hospitalization">Emergency</label>
            </div>
            <div class="rdio rdio-primary col-sm-3 col-md-6">
              <%= radio_button_tag "tpa_data[hospitalization_type]", 'planned', !hospitalize_flag, {:class => 'admission_hospitalization_field', :id => "planned_hospitalization" } %>
              <label for="planned_hospitalization">Planned</label>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="col-md-3 field_label">
            <b>Expected no of days stays in hospital: </b>
          </div>
          <div class="col-md-3">
            <%= number_field_tag "tpa_data[expected_days_stay]", @insurance_details.try(:expected_days_stay), class: "form-control", id: "expected_days_stay" %>
          </div>
          <div class="col-md-3 text-right field_label">
            <b>Room Type: </b>
          </div>
          <div class="col-md-3">
            <%= text_field_tag "tpa_data[room_type]", @insurance_details.try(:room_type), class: "form-control", id: "room_type" %>
          </div>
        </div>

        <div class="col-md-12" style="margin-top: 15px;">
          <div class="col-md-9 field_label">
            <b>Per Day Room rent + Nursing & service charge + Patient's diet: </b>
          </div>
          <div class="col-md-3">
            <%= number_field_tag "tpa_data[day_room_nursing_patient_diet]", @insurance_details.try(:day_room_nursing_patient_diet), class: "form-control", id: "day_room_nursing_patient_diet" %>
          </div>
        </div>

        <div class="col-md-12" style="margin-top: 10px;">
          <div class="col-md-9 field_label">
            <b>Expected cost for investigations & diagnostics: </b>
          </div>
          <div class="col-md-3">
            <%= number_field_tag "tpa_data[expected_inv_diag_cost]", @insurance_details.try(:expected_inv_diag_cost), class: "form-control", id: "expected_inv_diag_cost" %>
          </div>
        </div>

        <div class="col-md-12" style="margin-top: 10px;">
          <div class="col-md-9 field_label">
            <b>ICU Charges :</b>
          </div>
          <div class="col-md-3">
            <%= number_field_tag "tpa_data[icu_charges]", @insurance_details.try(:icu_charges), class: "form-control", id: "icu_charges" %>
          </div>
        </div>

        <div class="col-md-12" style="margin-top: 10px;">
          <div class="col-md-9 field_label">
            <b>OT Charges :</b>
          </div>
          <div class="col-md-3">
            <%= number_field_tag "tpa_data[ot_charges]", @insurance_details.try(:ot_charges), class: "form-control", id: "ot_charges" %>
          </div>
        </div>

        <div class="col-md-12" style="margin-top: 10px;">
          <div class="col-md-9 field_label">
            <b>Professional fees surgeon + Anesthetist fees + consultant charges:</b>
          </div>
          <div class="col-md-3">
            <%= number_field_tag "tpa_data[professional_anesthetist_consultant_charges]", @insurance_details.try(:professional_anesthetist_consultant_charges), class: "form-control", id: "professional_anesthetist_consultant_charges" %>
          </div>
        </div>

        <div class="col-md-12" style="margin-top: 10px;">
          <div class="col-md-9 field_label">
            <b>Medicines + Consumables + Cost of implants (if applicable please specify). other hospital expenses if any: </b>
          </div>
          <div class="col-md-3">
            <%= number_field_tag "tpa_data[medicine_consume_implants_cost]", @insurance_details.try(:medicine_consume_implants_cost), class: "form-control", id: "medicine_consume_implants_cost" %>
          </div>
        </div>

        <div class="col-md-12" style="margin-top: 10px;">
          <div class="col-md-9 field_label">
            <b>All inclusive package charges if any applicable: </b>
          </div>
          <div class="col-md-3">
            <%= number_field_tag "tpa_data[inclusive_package_charges]", @insurance_details.try(:inclusive_package_charges), class: "form-control", id: "inclusive_package_charges" %>
          </div>
        </div>

        <div class="col-md-12" style="margin-top: 10px;">
          <div class="col-md-9 field_label">
            <b>Total cost expected of Hospitalization: </b>
          </div>
          <div class="col-md-3">
            <%= number_field_tag "tpa_data[total_hospitalization_cost]", @insurance_details.try(:total_hospitalization_cost), class: "form-control", id: "total_hospitalization_cost" %>
          </div>
        </div>
      </div>

      <div class="col-md-6 right_side_admission_details">
        <div class="col-md-12 field_label">
          <div class="col-md-8"><b>Mandatory: Past History of any chronic illness: </b></div>
          <div class="col-md-4"><b>If Yes, since (Month / Year)</b></div>
        </div>


        <% history_records = @patient.personal_history_records.pluck(:name, :duration, :duration_unit) %>
        <% history_hash = {} %>
        <% history_records.map{ |elem|  history_hash[elem[0]] = [elem[1],elem[2]] } %>

        <div class="disease_duration_list" style="margin-top: 55px;margin-left: 17px;">

          <% diseases = [["Diabetes","diabetes"],["Hypertension", "hypertension"],["Alcoholism","alcoholism"],["Smoking Tobacco","smoking_tobacco"],["Cardiac Disorder","cardiac_disorder"],["Steroid Intake","steroid_intake"],[ "Drug Abuse","drug_abuse"], ["Hiv Aids","hiv_aids"],[ "Cancer Tumor","cancer_tumor"], ["Tuberculosis","tuberculosis"], ["Asthma", "asthma"], ["Cns Disorder Stroke", "cns_disorder_stroke"],[ "Hypothyroidism","hypothyroidism"], ["Hyperthyroidism","hyperthyroidism"], ["Hepatitis Cirrhosis","hepatitis_cirrhosis"], ["Renal Disorder","renal_disorder"], ["Acidity","acidity"], ["On insulin","on_insulin"], ["On Aspirin Blood Thinners","on_aspirin_blood_thinners"], ["Consanguinity","consanguinity"], ["Thyroid Disorder", "thyroid_disorder"], ["Chewing Tobacco", "chewing_tobacco"], ["Rheumatoid Arthritis", "rheumatoid_arthritis"], ["Benign Prostatic Hyperplasia(BPH)", "benign_prostatic_hyperplasia"]] %>


          <%# diseases = ["diabetes","heart_disease","hypertension","hyperlipidemias","osteoarthritis","asthma_copd_bronchitis","cancer","alcohal_or_drug_abuse","hiv_std_related_ailment"] %>
          <% diseases.each_with_index do |disease| %>
            <%# if disease[1] == 'asthma_copd_bronchitis' %>
              <%# disease_name = 'Asthma / Copd / Bronchitis'  %>
            <%# elsif disease[1] == 'hiv_std_related_ailment' %>
              <%# disease_name = 'Any HIV or STD / Related ailments'  %>
            <%# else %>
              <%# disease_name = disease[1].split("_").map(&:capitalize).join(" ") %>
            <%# end %>

            <% disease_value = @insurance_details.instance_eval(disease[1]) %>
            <% if disease_value %>
              <% disease_month = @insurance_details.instance_eval(disease[1] + "_duration") %>
              <% disease_year = @insurance_details.instance_eval(disease[1] + "_duration_unit") %>

            <% else %>

              <% patient_hash = history_hash.select{ |key, value| key == disease[1] } %>
              <% if patient_hash.present? %>
                <% disease_value = true %>
                <% disease_month = patient_hash.values[0][0].to_i %>
                <% disease_year = patient_hash.values[0][1] %>
              <% end %>
            <% end %>

            <% disease_month_range =  *(1..30) %>
            <%# disease_year_range =  *(Date.current.year - 100..Date.current.year) %>
            <%# disease_month_range =  disease_month_range.unshift("") %>
            <% disease_year_range =  ['days','weeks','months','years'] %>

            <%= hidden_field_tag "tpa_data[#{disease[1]}]", false %>
            <div class="col-md-12 col-sm-12 disease_content" style="margin-bottom: 9px;">
              <div class="col-md-7 disease_checkbox_div">
                <div class="ckbox ckbox-primary">
                  <input id="<%= disease[1] %>" class="disease_checkbox" name="tpa_data[<%=disease[1]%>]" type="checkbox" value='true' <%= 'checked' if disease_value %> />
                  <label for=<%= disease[1] %>><b><%= disease[0] %></b></label>
                </div>
              </div>
              <div class="col-md-2 disease_duration" style="<%= 'display:none;' if disease_value != true %>">
                <%= select_tag "tpa_data[#{disease[1]}_duration]", options_for_select(disease_month_range, :selected => disease_month) , { class: 'form-control p3_10', style:'', include_blank: true } %>
              </div>
              <div class="col-md-3 disease_duration" style="<%= 'display:none;' if disease_value != true %>">
                <%= select_tag "tpa_data[#{disease[1]}_duration_unit]", options_for_select(disease_year_range.map{|duration| [duration.capitalize, duration ]}  ,:selected => disease_year), { class: 'form-control p3_10' } %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="col-md-12 field_label">
          <div class="col-md-6"><b>Any other Ailment give details: </b></div>
          <div class="col-md-6">
            <%= text_field_tag "tpa_data[chronic_other_details]", @insurance_details.try(:chronic_other_details), class: "form-control", id: "chronic_other_details" %>
          </div>
        </div>
      </div>
    </div>
</div>