<div class="tpa-details-section">
  
  <div class="row" style="padding-top: 1px;">
    <div class="col-md-6 field_label text-right">
      <b>Is this an emergency or planned hospitalization event? </b>
    </div>

    <%if @insurance_details.try(:admission_hospitalization_type) == 'emergency'%>
      <% hospitalize_flag = true %>
    <%else%>
      <% hospitalize_flag = false %>
    <%end%>

    <div class="col-md-6" style="margin-top: 9px;">
      <div class="rdio rdio-primary col-sm-3 col-md-3">
        <%= radio_button_tag "tpa_data[admission_hospitalization_type]", 'emergency', hospitalize_flag, {:class => 'hospitalization_field', :id => "general_emergency_hospitalization" } %>
        <label for="general_emergency_hospitalization">Emergency</label>
      </div>
      <div class="rdio rdio-primary col-sm-3 col-md-3">
        <%= radio_button_tag "tpa_data[admission_hospitalization_type]", 'planned', !hospitalize_flag, {:class => 'hospitalization_field', :id => "general_planned_hospitalization" } %>
        <label for="general_planned_hospitalization">Planned</label>
      </div>
    </div>
  </div>

  <div class="patient-details-section"  style="padding-top: 21px;">
    <span><b style="font-size: 16px;padding-left: 8px;">PATIENT DETAILS SECTION</b></span>
    <hr style="margin-top: 0px;border-top: 2px solid #eee;">
    <%= hidden_field_tag "tpa_data[patient_name]", @patient.try(:fullname) %>
    <%= hidden_field_tag "tpa_data[patient_contact_no]", @patient.try(:mobilenumber) %>
    <%= hidden_field_tag "tpa_data[gender]", @patient.try(:gender) %>
    
    <% patient_age =  @patient.dob ? @patient.dob.strftime("%d-%m-%Y") : "Unavailable" %>
    <% if @patient.exact_age.present? %>
      <% patient_exact_age = @patient.exact_age.to_s.split("-").join(" ") %>
    <% end %>

    <%= hidden_field_tag "tpa_data[patient_age]", patient_age %>
    <%= hidden_field_tag "tpa_data[patient_exact_age]", patient_exact_age %>

    <%# patient_address = @patient.address_1.to_s + ' ' + @patient.address_2.to_s + ' ' + @patient.city.to_s+ ' ' + @patient.state.to_s + ' ' +@patient.pincode.to_s %>
    <%# patient_address = patient_address.split(" ").reject(&:blank?).join(", ") %>

    <%= hidden_field_tag "tpa_data[patient_contact_person]", @insurance_details.try(:patient_contact_person) %>

    <% if @patient.address_1.present? || @patient.address_2.present? || @patient.city.present? || @patient.state.present? || @patient.pincode.present? %>
      <% patient_address = "" %>
      <% if @patient.address_1.present? && @patient.address_2.present? %>
        <% patient_address =  @patient.address_1.to_s + ", " + @patient.address_2.to_s %>
      <% else %>
        <% patient_address =  @patient.address_1.to_s + @patient.address_2.to_s %>
      <% end %>

      <% if @patient.city.present? %>
        <%patient_address = patient_address.to_s +  ' ' + @patient.city.to_s %>
      <% end %>
      <% if @patient.state.present? %>
        <% patient_address = patient_address.to_s + ', ' +  @patient.state.to_s %>
      <% end %>
      <% if @patient.pincode.present? %>
        <% patient_address = patient_address +' - '+ @patient.pincode.to_s %>
      <% end %>
    <% end %>

    <%= hidden_field_tag "tpa_data[patient_address]", patient_address %>


    <div class="row">
      <div class="col-md-4">
        <div class="col-md-9 field_label">
          <b>Patient Name: &nbsp;&nbsp;</b>
          <%= @patient.try(:fullname).to_s.capitalize %>
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="col-md-9 field_label">
          <b>Contact No: &nbsp;&nbsp;</b>
          <%= unless @insurance_details.try(:patient_contact_no).present? then @insurance_details.try(:patient_contact_no) else @patient.try(:mobilenumber) end %>
        </div>
      </div>

      <div class="col-md-5">
        <div class="col-md-9 field_label">
          <b>DOB | Age: &nbsp;&nbsp;</b>
          <%= patient_age %><% if patient_exact_age.present? %> | <%= patient_exact_age %><% else %>--<%end%>
        </div>
      </div>

      <div class="col-md-4">
        <div class="col-md-9 field_label">
          <b>Contact Person:&nbsp;&nbsp;</b>
          <%= if @insurance_details.try(:patient_contact_person).present? then @insurance_details.try(:patient_contact_person) else '--' end %>
        </div>
      </div>
      
      <div class="col-md-8">
        <div class="col-md-9 field_label">
          <b>Address: &nbsp;&nbsp;</b>
          <%= patient_address %>
        </div>
      </div>

    </div>

    <div class="row" style="padding-top: 10px;">
    </div>

  <!--   <div class="row" style="padding-top: 34px;display: none;">
      <div class="">
        <div class="col-sm-2"></div>
        <div class="col-sm-5"><b>Currently do you have any other Mediclaim / Health insurance ?</b></div>
        <div class="col-sm-4" style="margin-left: -69px;">
          <div class="rdio rdio-primary col-sm-3">
            <%= radio_button_tag "tpa_data[is_currently_insured]", "true", true, {:class => 'is_currently_insured_field', :id => "is_currently_insured_true", data_attr: 'true' } %>
            <label for="is_currently_insured_true">Yes</label>
          </div>
          <div class="rdio rdio-primary col-sm-3">
            <%= radio_button_tag "tpa_data[is_currently_insured]", "false", false, {:class => 'is_currently_insured_field', :id => "is_currently_insured_false", data_attr: 'false' } %>
            <label for="is_currently_insured_false">No</label>
          </div>
        </div>
      </div>
    </div> -->

    <div class="is_insured" style="margin-top: 10px;">
      <div class="row">
        <div class="col-md-4">
          <div class="col-md-9 field_label">
            <b>Company Name: </b>
          </div>
          <div class="col-md-12">
            <%= text_field_tag "tpa_data[current_company_name]", @insurance_details.try(:current_company_name), class: "form-control", id: "current_company_name" %>
          </div>
        </div>
      
        <div class="col-md-4">
          <div class="col-md-9 field_label">
            <b>Policy No: </b>
          </div>
          <div class="col-md-12">
            <%= text_field_tag "tpa_data[current_insurance_policy_no]", @insurance_details.try(:current_insurance_policy_no), class: "form-control", id: "current_insurance_policy_no" %>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="col-md-9 field_label">
            <b>Policy Expiry date : </b>
          </div>
          <div class="col-md-12">
            <%= text_field_tag "tpa_data[current_insurance_policy_expiry]", @insurance_details.try(:current_insurance_policy_expiry).try(:strftime,"%d/%m/%Y"), class: "form-control tpa_datepicker1", id: "current_insurance_policy_expiry" %>
          </div>
        </div>

        <div class="col-md-4">
          <div class="col-md-9 field_label">
            <b>Other Details: </b>
          </div>
          <div class="col-md-12">
            <%= text_area_tag "tpa_data[current_insurance_details]", @insurance_details.try(:current_insurance_details), class: "form-control p7_10", :rows => 1, id: "current_insurance_details"  %>
          </div>
        </div>
      
        <div class="col-md-4">
          <div class="col-md-9 field_label">
            <b>Name of family physician: </b>
          </div>
          <div class="col-md-12">
            <%= text_field_tag "tpa_data[current_family_physician_name]", @insurance_details.try(:current_family_physician_name), class: "form-control", id: "current_family_physician_name" %>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="col-md-9 field_label">
            <b>Contact No: </b>
          </div>
          <div class="col-md-12">
            <%= text_field_tag "tpa_data[current_insurance_contact_no]", @insurance_details.try(:current_insurance_contact_no), class: "form-control", id: "current_insurance_contact_no" %>
          </div>
        </div>
      
        <div class="col-md-4">
          <div class="col-md-9 field_label">
            <b>Sum Insured:</b>
          </div>
          <div class="col-md-12">
            <%= number_field_tag "tpa_data[current_insurance_sum_insured]", @insurance_details.try(:current_insurance_sum_insured), class: "form-control", id: "current_insurance_sum_insured" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="insurance_details_section" style="padding-top: 39px;">
    <span style="font-size: 16px;padding-left: 8px;"><b>INSURANCE DETAILS SECTION</b></span>
    <hr style="margin-top: 0px;border-top: 2px solid #eee;">
    <div class="row">
      <div class="col-md-4">
        <div class="col-md-9 field_label">
          <b>Insurance Name: </b>
        </div>
        <div class="col-md-12">
          <%= select_tag "tpa_data[insurance_contact_id]", options_for_select(@insurance_contacts.map { |insurance| [insurance.display_name, insurance.id, {"contact"=>insurance.mobile_number,"address"=>insurance.address_line_1.to_s + " "+ insurance.address_line_2.to_s + " "+ insurance.city.to_s + " "+ insurance.state.to_s,"email"=>insurance.email}] }, @insurance_details.try(:insurance_contact_id)), {:include_blank => 'Select Insurance', :class => "form-control insurance_contact_id", :disabled => true} %>
          <%= hidden_field_tag "tpa_data[insurance_name]", @insurance_details.try(:insurance_name), {:class => "form-control insurance_name"} %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="col-md-9 field_label">
          <b>Policy No: </b>
        </div>
        <div class="col-md-12">
          <%= text_field_tag "tpa_data[policy_no]", @insurance_details.try(:insurance_policy_no), class: "form-control", id: "policy_no" , :disabled => true%>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="col-md-9 field_label">
          <b>Policy Expiry Date: </b>
        </div>
        <div class="col-md-12">
          <%= text_field_tag "tpa_data[policy_expiry_date]", @insurance_details.try(:insurance_policy_expiry_date).try(:strftime,"%d/%m/%Y"), class: "form-control", id: "policy_expiry_date", :disabled => true %>
          <span style="color: red;display: none;" class="policy_expiry_tag"><b>This Policy has been expired.</b></span>
        </div>
      </div>

      <div class="col-md-4">
        <div class="col-md-9 field_label">
          <b>Insurance Contact No:</b>
        </div>
        <div class="col-md-12">
          <%= text_field_tag "tpa_data[insurance_contact_no]", @insurance_details.try(:insurance_contact_no), class: "form-control field_disabled", id: "insurance_contact" %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="col-md-9 field_label">
          <b>Insurance Email:</b>
        </div>
        <div class="col-md-12">
          <%= text_field_tag "tpa_data[insurance_email]", @insurance_details.try(:insurance_email), class: "form-control field_disabled", id: "insurance_email" %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="col-md-9 field_label">
          <b>Insurance Address:</b>
        </div>
        <div class="col-md-12">
          <%= text_area_tag "tpa_data[insurance_address]", @insurance_details.try(:insurance_address), class: "form-control field_disabled", id: "insurance_address", rows: 1 %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="col-md-9 field_label">
          <b>Insurance Contact Person: </b>
        </div>
        <div class="col-md-12">
          <%= text_field_tag "tpa_data[insurance_contact_person]", @insurance_details.try(:insurance_contact_person), class: "form-control field_disabled", id: "insurance_contact_person" %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="col-md-9 field_label">
          <b>Insured Card Id no : </b>
        </div>
        <div class="col-md-12">
          <%= number_field_tag "tpa_data[insured_card_id_no]", @insurance_details.try(:insured_card_id_no), class: "form-control", id: "insured_card_id_no" %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="col-md-9 field_label">
          <b>Fax No:</b>
        </div>
        <div class="col-md-12">
          <%= number_field_tag "tpa_data[toll_free_fax]", @insurance_details.try(:toll_free_fax), class: "form-control", id: "toll_free_fax" %>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="col-md-9 field_label">
          <b>Employee Id: </b>
        </div>
        <div class="col-md-12">
          <%= text_field_tag "tpa_data[employee_id]", @insurance_details.try(:employee_id), class: "form-control", id: "employee_id" %>
        </div>
      </div>
    </div>
  </div>

  <div class="tpa_details_section" style="padding-top: 39px;">
    <span style="font-size: 16px;padding-left: 8px;"><b>TPA DETAILS SECTION</b></span>
    <hr style="margin-top: 0px;border-top: 2px solid #eee;">
    <div class="row">
      <div class="col-md-4">
        <div class="col-md-9 field_label">
          <b>TPA Name: </b>
        </div>
        <div class="col-md-12">
          <%= select_tag "tpa_data[tpa_contact_id]", options_for_select(@tpa_contacts.map { |tpa| [tpa.display_name, tpa.id, {"contact"=>tpa.mobile_number,"address"=> tpa.address_line_1.to_s + " "+ tpa.address_line_2.to_s + " "+ tpa.city.to_s + " "+ tpa.state.to_s, "email"=>tpa.email}] },@insurance_details.try(:tpa_contact_id)), { :include_blank => 'Select TPA',:class => "form-control tpa_contact_id", :style => 'background-color:#fff;', :disabled => true} %>
          <%= hidden_field_tag "tpa_data[tpa_name]", @insurance_details.try(:tpa_name), {:class => "form-control tpa_contact_name"} %>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="col-md-9 field_label">
          <b> TPA Contact No: </b>
        </div>
        <div class="col-md-12">
          <%= text_field_tag "tpa_data[tpa_contact_no]", @insurance_details.try(:tpa_contact_no), class: "form-control field_disabled", id: "tpa_contact_no" %>
        </div>
      </div>
    
      <div class="col-md-4">
        <div class="col-md-9 field_label">
          <b>TPA Email: </b>
        </div>
        <div class="col-md-12">
          <%= text_field_tag "tpa_data[tpa_email]", @insurance_details.try(:tpa_email), class: "form-control field_disabled", id: "tpa_email" %>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="col-md-9 field_label">
          <b>TPA Address: </b>
        </div>
        <div class="col-md-12">
          <%= text_area_tag "tpa_data[tpa_address]", @insurance_details.try(:tpa_address), class: "form-control p7_10", :rows => 1, id: "tpa_address"  %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="col-md-9 field_label">
          <b>TPA Contact Person: </b>
        </div>
        <div class="col-md-12">
          <%= text_field_tag "tpa_data[tpa_contact_person]", @insurance_details.try(:tpa_contact_person), class: "form-control field_disabled", id: "tpa_contact_person" %>
        </div>
      </div>
    </div>
  </div>
  
</div>

<style type="text/css">
  .field_label{
    padding-top: 10px;
  }
</style>

<script type="text/javascript">

  $(".hospitalization_field").on("click", function(){
    if ($('#general_emergency_hospitalization').is(':checked')) {
      $('#emergency_hospitalization').attr('checked','checked')
    }else{
      $('#planned_hospitalization').attr('checked','checked')
    }
  })

  $(".admission_hospitalization_field").on("click", function(){
    if ($('#emergency_hospitalization').is(':checked')) {
      $('#general_emergency_hospitalization').attr('checked','checked')
    }else{
      $('#general_planned_hospitalization').attr('checked','checked')
    }
  })
</script>