<div class="hospital-details-section">
  <div class="row" style="padding-top: 10px;">
    <div class="col-md-4">
      <div class="col-md-9 field_label">
        <b>Name of treating Doctor: </b>
      </div>
      <div class="col-md-12">
        <%= select_tag "tpa_data[doctor_id]", options_for_select(@doctors.map { |user| [user.fullname, user.id] },if @insurance_details.try(:doctor_id).present? then @insurance_details.try(:doctor_id) else @admission.doctor end), { :class=> "treating_doctor form-control p7_10" } %>
        <input type="hidden" class="doctor_name" name="tpa_data[doctor_name]" value="<%= if @insurance_details.doctor_name.present? then @insurance_details.doctor_name else User.find_by(id: @admission.doctor)&.fullname end %>">
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="col-md-9 field_label">
        <b>Contact No: </b>
      </div>
      <div class="col-md-12">
        <%= text_field_tag "tpa_data[doctor_hospital_contact_no]", if @insurance_details.try(:doctor_hospital_contact_no).present? then @insurance_details.try(:doctor_hospital_contact_no) else @doctor.try(:mobilenumber) end, class: "form-control", id: "doctor_hospital_contact_no", maxlength: 10,  onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
      </div>
    </div>
  
    <div class="col-md-4">
      <div class="col-md-9 field_label">
        <b>Disease Nature with present complain:</b>
      </div>
      <div class="col-md-12">
        <%= text_area_tag "tpa_data[nature_of_disease]", @insurance_details.try(:nature_of_disease), class: "form-control field_disabled", id: "nature_of_disease", rows: 1 %>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="col-md-9 field_label">
        <b>Releavent clinical findings: </b>
      </div>
      <div class="col-md-12">
        <%= text_area_tag "tpa_data[clinical_findings]", @insurance_details.try(:clinical_findings), class: "form-control field_disabled", id: "clinical_findings", rows: 1 %>
      </div>
    </div>
  
    <div class="col-md-4">
      <div class="col-md-9 field_label">
        <b>Provisional Diagnosis: </b>
      </div>
      <div class="col-md-12">
        <%= text_field_tag "tpa_data[provisional_diagnosis]", @insurance_details.try(:provisional_diagnosis), class: "form-control", id: "provisional_diagnosis" %>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="col-md-9 field_label">
        <b>ICD 10 Code: </b>
      </div>
      <div class="col-md-12">
        <%= text_field_tag "tpa_data[icd_code]", @insurance_details.try(:icd_code), class: "form-control", id: "icd_code" %>
      </div>
    </div>
  </div>
  
  <div class="row" style="padding-top: 10px;">
    <div class="col-md-4">
      <div class="col-md-12 field_label">
        <b>If Investigation or Medical management provide details: </b>
      </div>
      <div class="col-md-12">
        <%= text_field_tag "tpa_data[investigation_medical_management_details]", @insurance_details.try(:investigation_medical_management_details), class: "form-control", id: "investigation_medical_management_details" %>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="col-md-9 field_label">
        <b>Route to Drug administration: </b>
      </div>
      <div class="col-md-12">
        <%= text_field_tag "tpa_data[route_drug_administration]", @insurance_details.try(:route_drug_administration), class: "form-control", id: "route_drug_administration" %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="col-md-9 field_label">
        <b>If surgical, name of surgery: </b>
      </div>
      <div class="col-md-12">
        <%= text_field_tag "tpa_data[surgical_name_surgery]", @insurance_details.try(:surgical_name_surgery), class: "form-control", id: "surgical_name_surgery" %>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 10px;">
    <div class="col-md-4">
      <div class="col-md-9 field_label">
        <b>ICD 10 PCS Code: </b>
      </div>
      <div class="col-md-12">
        <%= text_field_tag "tpa_data[icd_pcs_code]", @insurance_details.try(:icd_pcs_code), class: "form-control", id: "icd_pcs_code" %>
      </div>
    </div>
 
    <div class="col-md-4">
      <div class="col-md-9 field_label">
        <b>If other treatments provide details: </b>
      </div>
      <div class="col-md-12">
        <%= text_field_tag "tpa_data[other_treatment_details]", @insurance_details.try(:other_treatment_details), class: "form-control", id: "other_treatment_details" %>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="col-md-9 field_label">
        <b>How did injury occur: </b>
      </div>
      <div class="col-md-12">
        <%= text_field_tag "tpa_data[injury_occur_reason]", @insurance_details.try(:injury_occur_reason), class: "form-control", id: "injury_occur_reason" %>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 10px;">
    <div class="col-md-12 field_label" style="margin-left: 18px;">
      <b>Proposed line of treatment: </b>
    </div>
    <div class="col-md-12" style="margin-left:16px;margin-top: 13px;">
      <div class="ckbox ckbox-primary mb5 col-md-3">
        <%= hidden_field_tag "tpa_data[medical_management]", false %>
        <%= check_box_tag 'tpa_data[medical_management]', true, @insurance_details.try(:medical_management), {id: "medical_management"} %>
        <label for="medical_management"><b>Medical Management</b></label>
      </div>

      <div class="ckbox ckbox-primary mb5 col-md-3">
        <%= hidden_field_tag "tpa_data[surgical_management]", false %>
        <%= check_box_tag 'tpa_data[surgical_management]', true, @insurance_details.try(:surgical_management), {id: "surgical_management"} %>
        <label for="surgical_management"><b>Surgical Management</b></label>
      </div>

      <div class="ckbox ckbox-primary mb5 col-md-3">
        <%= hidden_field_tag "tpa_data[intensive_care]", false %>
        <%= check_box_tag 'tpa_data[intensive_care]', true, @insurance_details.try(:surgical_management), {id: "intensive_care"} %>
        <label for="intensive_care"><b>Intensive care</b></label>
      </div>

      <div class="ckbox ckbox-primary mb5 col-md-3">
        <%= hidden_field_tag "tpa_data[investigation]", false %>
        <%= check_box_tag 'tpa_data[investigation]', true, @insurance_details.try(:investigation), {id: "investigation"} %>
        <label for="investigation"><b>Investigation</b></label>
      </div>

      <div class="ckbox ckbox-primary mb5 col-md-3 col-lg-3">
        <%= hidden_field_tag "tpa_data[non_allopathic_treatment]", false %>
        <%= check_box_tag 'tpa_data[non_allopathic_treatment]', true, @insurance_details.try(:non_allopathic_treatment), {id: "non_allopathic_treatment"} %>
        <label for="non_allopathic_treatment"><b>Non allopathic treatment</b></label>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 24px;">
    <div class="col-md-4" style="margin-left: 5px;">
      <div class="col-md-6 field_label">
        <b>Duration of present Ailment: </b>
      </div>
      <div class="col-md-3">
        <%= number_field_tag "tpa_data[duration_of_present_ailment]", @insurance_details.try(:duration_of_present_ailment), class: "form-control", id: "duration_of_present_ailment" %>
      </div>
      <div class="col-md-2 field_label"><span><b>Days</b></span></div>
    </div>
    
    <div class="col-md-3" style="margin-left: -28px;">
      <div class="col-md-6 field_label">
        <b>Date of first consultation: </b>
      </div>
      <div class="col-md-6" style="margin-left: -13px;">
        <%= text_field_tag "tpa_data[date_of_first_consultation]", @insurance_details.try(:date_of_first_consultation).try(:strftime,"%d/%m/%Y"), class: "form-control tpa_datepicker", id: "consultation_date", readonly: true, style: 'cursor: pointer;background-color: #fff;' %>
      </div>
    </div>

    <div class="col-md-5" style="">
      <div class="col-md-5 field_label">
        <b>Past history of present ailment if any: </b>
      </div>
      <div class="col-md-7" style="margin-left: -8px;padding-right: 1px;">
        <%= text_area_tag "tpa_data[past_history_present_ailment]", @insurance_details.try(:past_history_present_ailment), class: "form-control field_disabled", id: "past_history_present_ailment", rows: 1 %>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 10px;">
    <div class="col-md-2 field_label" style="margin-left: 22px;">
      <b>In case of accident: </b>
    </div>
    <div class="col-md-9" style="margin-left: 14px;margin-top: 12px;">
      <div class="row">
        <div class="col-md-2" style="margin-right: -25px;"><b>Is it RTA?</b></div>
        <div class="col-md-3">
          <div class="rdio rdio-primary col-sm-6">
            <%= radio_button_tag "tpa_data[is_rta]", true, @insurance_details.try(:is_rta), {:class => 'is_rta_field', :id => "is_rta_true", data_attr: 'true'} %>
            <label for="is_rta_true">Yes</label>
          </div>
          <div class="rdio rdio-primary col-sm-6" style="margin-left: -8px;">
            <%= radio_button_tag "tpa_data[is_rta]", false, !@insurance_details.try(:is_rta), {:class => 'is_rta_field', :id => "is_rta_false", data_attr: 'false' } %>
            <label for="is_rta_false">No</label>
          </div>
        </div>
        <div class="col-md-7">
          <div class="col-md-3" style="margin-left: -12px;margin-right: 68px;">
            <b>Date of Injury: </b>
          </div>
          <div class="col-md-5" style="margin-top: -14px;">
            <%= text_field_tag "tpa_data[date_of_injury]", @insurance_details.try(:date_of_injury).try(:strftime,"%d/%m/%Y"), class: "form-control tpa_datepicker", id: "date_of_injury", readonly: true, :style =>'cursor: pointer;background-color: #fff;' %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12" style="margin-top: 33px">
      <!-- <div class="col-md-1"></div> -->
      <div class="col-md-3" style="margin-left: 10px">
        <b>Reported to police: </b>
      </div>
      <div class="col-md-3" style="margin-left: -6px;">
        <div class="rdio rdio-primary col-sm-4" style="margin-left: 54px;">
          <%= radio_button_tag "tpa_data[reported_to_police]",true, @insurance_details.try(:reported_to_police), {:class => 'reported_to_police_field', :id => "reported_to_police_true", data_attr: 'true' } %>
          <label for="reported_to_police_true">Yes</label>
        </div>
        <div class="rdio rdio-primary col-sm-4">
          <%= radio_button_tag "tpa_data[reported_to_police]",false, !@insurance_details.try(:reported_to_police), {:class => 'reported_to_police_field', :id => "reported_to_police_false", data_attr: 'false' } %>
          <label for="reported_to_police_false">No</label>
        </div>
      </div>

      <div class="col-md-4" style="margin-left: -5px;">
        <div class="col-md-4">
          <b>Fir no: </b>
        </div>
        <div class="col-md-6" style="margin-top: -14px;margin-left: 60px;">
          <%= text_field_tag "tpa_data[fir_no]", @insurance_details.try(:fir_no), class: "form-control", id: "fir_no" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 10px;">
    <div class="col-md-3 field_label" style="margin-left:23px;">
      <b>Injury caused due to substance abuse/ alcohal comsumption: </b>
    </div>
    <div class="col-md-8" style="margin-top: 12px;">
      <div class="row">
        <div class="col-md-4">
          <div class="rdio rdio-primary col-sm-5" style="margin-left: 35px;">
            <%= radio_button_tag "tpa_data[is_alcohal_comsumption]", "true", @insurance_details.try(:is_alcohal_comsumption), {:class => 'is_alcohal_comsumption_field', :id => "is_alcohal_comsumption_true", data_attr: 'true' } %>
            <label for="is_alcohal_comsumption_true">Yes</label>
          </div>
          <div class="rdio rdio-primary col-sm-5">
            <%= radio_button_tag "tpa_data[is_alcohal_comsumption]", "false", !@insurance_details.try(:is_alcohal_comsumption), {:class => 'is_alcohal_comsumption_field', :id => "is_alcohal_comsumption_false", data_attr: 'false' } %>
            <label for="is_alcohal_comsumption_false">No</label>
          </div>
        </div>
        
        <div class="col-md-8">
          <div class="col-md-5">
            <b>Test conducted to establish this: </b>
          </div>
          <div class="col-md-7">
            <div class="rdio rdio-primary col-sm-5">
              <%= radio_button_tag "tpa_data[is_alcohal_test_conducted]",true,@insurance_details.try(:is_alcohal_test_conducted), {:class => 'is_alcohal_test_conducted_field', :id => "is_alcohal_test_conducted_true", data_attr: 'true' } %>
              <label for="is_alcohal_test_conducted_true">Yes</label>
            </div>
            <div class="rdio rdio-primary col-sm-4">
              <%= radio_button_tag "tpa_data[is_alcohal_test_conducted]",false,!@insurance_details.try(:is_alcohal_test_conducted), {:class => 'is_alcohal_test_conducted_field', :id => "is_alcohal_test_conducted_false", data_attr: 'false' } %>
              <label for="is_alcohal_test_conducted_false">No</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12" style="margin-top: 26px">
      <div class="col-md-2" style="margin-left: 16px;">
        <b>In case of maternity: </b>
      </div>
      <div class="col-md-4" style="margin-right: -12px;">
        <div class="ckbox ckbox-primary mb5 col-md-3">
          <%= hidden_field_tag "tpa_data[maternity_g]", false %>
          <%= check_box_tag 'tpa_data[maternity_g]', true, @insurance_details.try(:maternity_g), {id: "maternity_g"} %>
          <label for="maternity_g"><b>G</b></label>
        </div>
        <div class="ckbox ckbox-primary mb5 col-md-3">
          <%= hidden_field_tag "tpa_data[maternity_p]", false %>
          <%= check_box_tag 'tpa_data[maternity_p]', true, @insurance_details.try(:maternity_p), {id: "maternity_p"} %>
          <label for="maternity_p"><b>P</b></label>
        </div>
        <div class="ckbox ckbox-primary mb5 col-md-3">
          <%= hidden_field_tag "tpa_data[maternity_l]", false %>
          <%= check_box_tag 'tpa_data[maternity_l]', true, @insurance_details.try(:maternity_l), {id: "maternity_l"} %>
          <label for="maternity_l"><b>L</b></label>
        </div>
        <div class="ckbox ckbox-primary mb5 col-md-3">
          <%= hidden_field_tag "tpa_data[maternity_a]", false %>
          <%= check_box_tag 'tpa_data[maternity_a]', true, @insurance_details.try(:maternity_a), {id: "maternity_a"} %>
          <label for="maternity_a"><b>A</b></label>
        </div>
      </div>
      <div class="col-md-5">
        <div class="col-md-5">
          <b>LMP: </b>
        </div>
        <div class="col-md-7" style="margin-left: -13px;">
          <%= text_field_tag "tpa_data[lmp_date]", @insurance_details.try(:lmp_date).try(:strftime,"%d/%m/%Y"), class: "form-control tpa_datepicker", style: 'margin-top: -15px;cursor: pointer;background-color: #fff;', id: "lmp_date" , readonly: true %>
        </div>
      </div>
    </div>
  </div>
</div>