<div class="patient-details-section">
  <div class="row" style="padding-top: 14px;">
    <div class="col-md-6">
      <div class="col-md-1"></div>
      <div class="col-md-3 field_label">
        <b>Patient Name: </b>
      </div>
      <div class="col-md-6">
        <%= text_field_tag "tpa_data[patient_name]",if !@insurance_details.try(:patient_name).blank? then @insurance_details.try(:patient_name) else @patient.try(:fullname) end , class: "form-control", id: "patient_name" %>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="col-md-3 field_label">
        <b>Contact No : </b>
      </div>
      <div class="col-md-6">
        <%= text_field_tag "tpa_data[patient_contact_no]", if !@insurance_details.try(:patient_contact_no).blank? then @insurance_details.try(:patient_contact_no) else @patient.try(:mobilenumber) end, class: "form-control", id: "patient_contact_no" %>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 14px;">
    <div class="col-md-6">
      <div class="col-md-1"></div>
      <div class="col-md-3 field_label">
        <b>Gender : </b>
      </div>
      <div class="col-md-8">
        <% if !@insurance_details.try(:gender).blank? %><% gender = @insurance_details.try(:gender) %><% else %> <% gender = @patient.try(:gender) %><% end %>
        <div class="col-sm-12">
          <div class="rdio rdio-primary col-md-4" style="margin-right:-35px">
            <input id="gender_male" name="tpa_data[gender]" type="radio" value="Male" <%= 'checked' if gender == "Male" %> />
            <label for="gender_male">Male</label>
          </div>
          <div class="rdio rdio-primary col-md-4" style="margin-right:-35px">
            <input id="gender_female" name="tpa_data[gender]" type="radio" value="Female" <%= 'checked' if gender == "Female" %> />
            <label for="gender_female">Female</label>
          </div>
          <div class="rdio rdio-primary col-md-4">
            <input id="gender_transgender" name="tpa_data[gender]" type="radio" value="Transgender" <%= 'checked' if gender == "Transgender" %> />
            <label for="gender_transgender" style="">Transgender</label>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="col-md-3 field_label">
        <b>Age: </b>
      </div>
      <div class="col-md-6">
        <%if !@insurance_details.try(:patient_age).blank? %>
          <%patient_age = @insurance_details.try(:patient_age) %>
        <%elsif @patient.try(:dob).present?%>
          <%patient_age = @patient.try(:dob).strftime('%d/%m/%Y') %>
        <%end%>
        <%= text_field_tag "tpa_data[patient_age]", patient_age, class: "form-control tpa_datepicker", id: "patient_age" %>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 14px;">
    <div class="col-md-6">
      <div class="col-md-1"></div>
      <div class="col-md-3 field_label">
        <b>Contact Person: </b>
      </div>
      <div class="col-md-6">
        <%= text_field_tag "tpa_data[patient_contact_person]",@insurance_details.try(:patient_contact_person) , class: "form-control", id: "patient_contact_person" %>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="col-md-3 field_label">
        <b>Address: </b>
      </div>
      <div class="col-md-6">
        <% patient_address = @patient.address_1.to_s + ' ' +@patient.address_2.to_s + ' ' + @patient.city.to_s+ ' ' + @patient.state.to_s + ' ' +@patient.pincode.to_s %>
        <% patient_address = patient_address.split(" ").reject(&:blank?).join(", ") %>
        <%= text_area_tag "tpa_data[patient_address]", if !@insurance_details.try(:patient_address).blank? then @insurance_details.try(:patient_address) else  patient_address end, class: "form-control p7_10", :rows => 1, id: "patient_address"  %>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 14px;">
    <div class="col-md-6">
      <div class="col-md-1"></div>
      <div class="col-md-3 field_label">
        <b>Insured Card Id no : </b>
      </div>
      <div class="col-md-6">
        <%= text_field_tag "tpa_data[insured_card_id_no]", @insurance_details.try(:insured_card_id_no), class: "form-control", id: "insured_card_id_no" %>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="col-md-3 field_label">
        <b>Employee Id: </b>
      </div>
      <div class="col-md-6">
        <%= text_field_tag "tpa_data[employee_id]", @insurance_details.try(:employee_id), class: "form-control", id: "employee_id" %>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 34px;">
    <div class="">
      <div class="col-sm-3"></div>
      <div class="col-sm-4"><b>Currently do you have any other Mediclaim / Health insurance ?</b></div>
      <div class="col-sm-4">
        <div class="rdio rdio-primary col-sm-3">
          <%= radio_button_tag "tpa_data[is_currently_insured]", "true", true, {:class => 'is_currently_insured_field', :id => "is_currently_insured_true", data_attr: 'true' } %>
          <label for="is_currently_insured_true">Yes</label>
        </div>
        <div class="rdio rdio-primary col-sm-3">
          <%= radio_button_tag "tpa_data[is_currently_insured]", "false", false, {:class => 'is_currently_insured_field', :id => "is_currently_insured_false", data_attr: 'false' } %>
          <label for="is_currently_insured_false">No</label>
        </div>
      </div>
    </div>
  </div>

  <div class="is_insured" style="margin-top: 10px;">
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-1"></div>
        <div class="col-md-3 field_label">
          <b>Company Name: </b>
        </div>
        <div class="col-md-6">
          <%= text_field_tag "tpa_data[current_company_name]", @insurance_details.try(:current_company_name), class: "form-control", id: "current_company_name" %>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="col-md-3 field_label">
          <b>Other Details: </b>
        </div>
        <div class="col-md-6">
          <%= text_area_tag "tpa_data[current_insurance_details]", @insurance_details.try(:current_insurance_details), class: "form-control p7_10", :rows => 1, id: "current_insurance_details"  %>
        </div>
      </div>
    </div>

    <div class="row" style="padding-top: 14px;">
      <div class="col-md-6">
        <div class="col-md-1"></div>
        <div class="col-md-3 field_label">
          <b>Policy No: </b>
        </div>
        <div class="col-md-6">
          <%= text_field_tag "tpa_data[current_insurance_policy_no]", @insurance_details.try(:current_insurance_policy_no), class: "form-control", id: "current_insurance_policy_no" %>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="col-md-3 field_label">
          <b>Policy Expiry date : </b>
        </div>
        <div class="col-md-6">
          <%= text_field_tag "tpa_data[current_insurance_policy_expiry]", @insurance_details.try(:current_insurance_policy_expiry), class: "form-control tpa_datepicker1", id: "current_insurance_policy_expiry" %>
        </div>
      </div>
    </div>

    <div class="row" style="padding-top: 14px;">
      <div class="col-md-6">
        <div class="col-md-1"></div>
        <div class="col-md-3 field_label">
          <b>Name of family physician: </b>
        </div>
        <div class="col-md-6">
          <%= text_field_tag "tpa_data[current_family_physician_name]", @insurance_details.try(:current_family_physician_name), class: "form-control", id: "current_family_physician_name" %>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="col-md-3 field_label">
          <b>Contact No: </b>
        </div>
        <div class="col-md-6">
          <%= text_field_tag "tpa_data[current_insurance_contact_no]", @insurance_details.try(:current_insurance_contact_no), class: "form-control", id: "current_insurance_contact_no" %>
        </div>
      </div>
    </div>

    <div class="row" style="padding-top: 14px;">
      <div class="col-md-6">
        <div class="col-md-1"></div>
        <div class="col-md-3 field_label">
          <b>Sum Insured:</b>
        </div>
        <div class="col-md-6">
          <%= text_field_tag "tpa_data[current_insurance_sum_insured]", @insurance_details.try(:current_insurance_sum_insured), class: "form-control", id: "current_insurance_sum_insured" %>
        </div>
      </div>
    </div>
  </div>
</div>