<!-- To pass params[:patient_id] & params[:appointment_id] -->
<%= hidden_field_tag :patient_id, @patient.id %>
<%= hidden_field_tag :appointment_id, @appointment.id %>
<%= f.hidden_field :id, value: @counsellor_record.id.to_s %>
<%= f.hidden_field :organisation_id, value: @appointment.organisation_id.to_s %>
<%= f.hidden_field :facility_id, value: @appointment.facility_id.to_s %>
<%= f.hidden_field :user_id, value: current_user.id.to_s %>
<%= f.hidden_field :patient_id, value: @patient.id.to_s %>
<%= f.hidden_field :appointment_id, value: @appointment.id.to_s %>
<%= f.hidden_field :case_sheet_id, value: @case_sheet.try(:id) %>
<%= f.hidden_field :specialty_id, value: @appointment.specialty_id %>

<div id="counsellorRecordWizard" class="basic-wizard">
  <ul class="nav nav-pills nav-justified counsellor_records_tabs">
    <li role="presentation" class="active"><a href="#history_diagnosis" style="padding: 10px 0px;" data-toggle="tab">History & Diagnosis</a></li>
    <li role="presentation"><a href="#patient_procedures" style="padding: 10px 0px;" data-toggle="tab">Procedures</a></li>
    <li role="presentation"><a href="#patient_investigations" style="padding: 10px 0px;" data-toggle="tab">Investigations</a></li>
    <% if false # current_facility.show_finances %>
      <li role="presentation"><a href="#packages_details" style="padding: 10px 0px;" data-toggle="tab">Package Details</a></li>
    <% end %>
    <li role="presentation" id="insurance_details_tab"><a href="#insurance_details" style="padding: 10px 0px;" data-toggle="tab">Insurance Details</a></li>
    <li role="presentation"><a href="#patient_discussion" style="padding: 10px 0px;" data-toggle="tab">Patient Discussion</a></li>
  </ul>
  <div class="tab-content counsellor-record-form-body" style="background: #fff;overflow-y: scroll;">
    <div class="tab-pane active" id="history_diagnosis">
      <%= render partial: "counsellor_records/forms/patient_history_diagnoses.html.erb", locals: {f: f} %>
    </div>
    <div class="tab-pane" id="patient_procedures">
      <%= render partial: "counsellor_records/forms/patient_procedures.html.erb", locals: {f: f} %>
    </div>
    <div class="tab-pane" id="patient_investigations">
      <%= render partial: "counsellor_records/forms/patient_investigations.html.erb", locals: {f: f} %>
    </div>
    <% if false # current_facility.show_finances %>
      <div class="tab-pane" id="packages_details">
        <%= render partial: "counsellor_records/forms/patient_surgery_package.html.erb", locals: {f: f} %>
      </div>
    <% end %>
    <div class="tab-pane" id="insurance_details">
      <%= render partial: "counsellor_records/forms/insurance_details.html.erb", locals: {f: f} %>
    </div>
    <div class="tab-pane" id="patient_discussion">
      <%= render partial: "counsellor_records/forms/patient_discussion_followup.html.erb" %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    var wind = $(window).height()
    $(".counsellor-record-form-body").css('height', wind - 275)
  });
</script>