<div class="row">
  <div class="col-md-6">
    <div class="row patient-history">
      <%= render partial: 'case_sheets/views/case_histories.html.erb' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row patient-diagnosis">
      <div class="col-md-12">
        <%= render partial: "counsellor_records/views/patient_diagnoses.html.erb" %>
      </div>
    </div>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <div class="row patient-procedures">
      <div class="col-md-12">
        <%= render partial: "counsellor_records/views/patient_procedures.html.erb" %>
      </div>
    </div>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <strong style="text-decoration: underline;">INVESTIGATION</strong>
      </div>
    </div>
    <%= render partial: "counsellor_records/views/patient_investigations.html.erb" %>
  </div>
</div>
<hr/>
<% if current_facility.show_finances %>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <strong style="text-decoration: underline;">SURGERY PACKAGE DETAILS</strong>
        </div>
      </div>
      <%= render partial: "counsellor_records/views/patient_surgery_package.html.erb" %>
    </div>
  </div>
  <hr/>
<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <strong style="text-decoration: underline;">PATIENT INSURANCE DETAILS</strong>
      </div>
    </div>
    <%= render partial: "counsellor_records/views/patient_insurance_details" %>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <strong style="text-decoration: underline;">DISCUSSION WITH PATIENT</strong>
      </div>
    </div>
    <%= render partial: "counsellor_records/views/patient_discussions.html.erb" %>
  </div>
</div>