<% if @ipdrecord.present? %>
    <% if @clinical_note.present? %>
        <%unless list.current_state == "Completed"%>
            <% @ipdrecord.try(:procedure)%>
        <% end %>
        <% if @clinical_note.department.to_s.downcase == "ophthalmology" %>
            <% if @ipdrecord.try(:procedure).count > 0 %>
                <% @ipdrecord.try(:procedure).each_with_index do |procedure,i| %>
                    <li><%= procedure.procedurename.split("/").join(" /") %>,<%= procedure.get_label_for_procedure_side(procedure.procedureside) %></li>
                <% end %>
            <% end %>
        <% elsif @clinical_note.department.to_s.downcase == "orthopedics" %>
            <% if @clinical_note.procedurelist.present? %>
                <li><%=  @clinical_note.procedurelist %></li>
            <% end %>
        <% end %>
    <% elsif @ipdrecord.operative_notes.count > 0 && @ipdrecord.department.to_s.downcase == "orthopedics" %>
        <li><%= @ipdrecord.operative_notes.pluck(:procedure_performed).join(',')%></li>
    <% elsif @ipdrecord.discharge_note.present? && @ipdrecord.department.to_s.downcase == "orthopedics" %>
        <li><%= @ipdrecord.discharge_note.procedure%></li>
    <% end %>
<% end %>