<div class="col-md-12">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <% cntr = 0 %>
      <% procedures.each do |procedure| %>
        <% procedure_id_s = procedure.id.to_s%>
        <% default_has_complications = (procedure.has_complications.present?) ? procedure.has_complications : 'No' %>
        <% if ipdrecord.procedure.count == 1 && (procedure.performed_note_id.to_s == operative_note.id.to_s) %>
          <% default_has_complications = "Yes" %>
        <% end %>
        <% main_div_show = (procedure.performed_note_id.to_s == operative_note.id.to_s) ? 'block' : 'none' %>
        <div id="div_procedure_<%=procedure_id_s%>" class="row mb20 p-4 div-shadow" style="display:<%=main_div_show%>">
          <div class="col-md-3 btn-group p-2">
            <b style="color: #000"><%= "#{procedure.procedurename}, #{get_procedure_side_label(procedure.procedureside)}" %></b>
            <input type="hidden" name="hdn_procedure_cnt" id="hdn_procedure_cnt_<%=procedure_id_s%>" value="<%=counter%>">
          </div>
          <div class="col-md-1 btn-group">
            <%= simple_fields_for :form do |p| %>
              <%= p.input "has_complications", wrapper_html: {class: "has_complications my_test"}, collection: ['No', 'Yes'], as: :hg_radio_button, label: false, required: false, class: 'btn btn-xs btn-white has_complications_chk_val', style: "margin-top:-2px;", input_html: {name: "ipd_record[procedure][#{counter}][has_complications]", id: "procedure_has_complications_#{procedure_id_s}" }, checked: "#{default_has_complications}" %>
            <%end%>
          </div>
          <div class="col-md-7 btn-group">
            <input type='text' placeholder='Complication Comment' name ="ipd_record[procedure][<%=counter%>][complication_comment]" class='form-control procedure_complication_comment' value="<%=procedure.complication_comment%>" id="txt_complication_comment_<%=procedure_id_s%>">
            <!-- complications added/removed -->
              <input type="hidden" name="ipd_record[procedure][<%=counter%>][has_complication_created_by_id]" value="<%=procedure.has_complication_created_by_id%>" id="hdn_has_complication_created_by_id_<%=procedure_id_s%>" />
              <input type="hidden" name="ipd_record[procedure][<%=counter%>][has_complication_created_by]" value="<%=procedure.has_complication_created_by%>" id="hdn_has_complication_created_by_<%=procedure_id_s%>" />
              <input type="hidden" name="ipd_record[procedure][<%=counter%>][has_complication_created_by_datetime]" value="<%=procedure.has_complication_created_by_datetime%>" id="hdn_has_complication_created_by_datetime_<%=procedure_id_s%>" />

              <input type="hidden" name="ipd_record[procedure][<%=counter%>][has_complication_removed_by_id]" value="<%=procedure.has_complication_removed_by_id%>" id="hdn_has_complication_removed_by_id_<%=procedure_id_s%>" />
              <input type="hidden" name="ipd_record[procedure][<%=counter%>][has_complication_removed_by]" value="<%=procedure.has_complication_removed_by%>" id="hdn_has_complication_removed_by_<%=procedure_id_s%>" />
              <input type="hidden" name="ipd_record[procedure][<%=counter%>][has_complication_removed_by_datetime]" value="<%=procedure.has_complication_removed_by_datetime%>" id="hdn_has_complication_removed_by_datetime_<%=procedure_id_s%>" />
            <!-- complications added/removed -->
            <% if procedure.complication_comment_entered_by.present? %>
              <input type="hidden" name="ipd_record[procedure][<%=counter%>][complication_comment_updated_by_id]" value="<%=procedure.complication_comment_updated_by_id%>" id="hdn_complication_comment_updated_by_id_<%=procedure_id_s%>" />
              <input type="hidden" name="ipd_record[procedure][<%=counter%>][complication_comment_updated_by]" value="<%=procedure.complication_comment_updated_by%>" id="hdn_complication_comment_updated_by_<%=procedure_id_s%>" />
              <input type="hidden" name="ipd_record[procedure][<%=counter%>][complication_comment_updated_at_facility_id]" value="<%=procedure.complication_comment_updated_at_facility_id%>" id="hdn_complication_comment_updated_at_facility_id_<%=procedure_id_s%>" />
              <input type="hidden" name="ipd_record[procedure][<%=counter%>][complication_comment_updated_at_facility]" value="<%=procedure.complication_comment_updated_at_facility%>" id="hdn_complication_comment_updated_at_facility_<%=procedure_id_s%>" />
              <input type="hidden" name="ipd_record[procedure][<%=counter%>][complication_comment_updated_datetime]" value="<%=procedure.complication_comment_updated_datetime%>" id="hdn_complication_comment_updated_datetime_<%=procedure_id_s%>" />
              <input type="hidden" name="hdn_is_new_complication" id="hdn_is_new_procedure_comment_<%=procedure_id_s%>" value="false">
            <% else %>
              <input type='hidden' name ="ipd_record[procedure][<%=counter%>][complication_comment_entered_by]" value="" id="hdn_complication_comment_entered_by_<%=procedure_id_s%>">
              <input type='hidden' name ="ipd_record[procedure][<%=counter%>][complication_comment_entered_by_id]" value="" id="hdn_complication_comment_entered_by_id_<%=procedure_id_s%>">
              <input type='hidden' name ="ipd_record[procedure][<%=counter%>][complication_comment_entered_at_facility]" value="" id="hdn_complication_comment_entered_at_facility_<%=procedure_id_s%>">
              <input type='hidden' name ="ipd_record[procedure][<%=counter%>][complication_comment_entered_at_facility_id]" value="" id="hdn_complication_comment_entered_at_facility_id_<%=procedure_id_s%>">
              <input type='hidden' name ="ipd_record[procedure][<%=counter%>][complication_comment_entered_datetime]" value="" id="hdn_complication_comment_entered_datetime_<%=procedure_id_s%>">
              <input type="hidden" name="hdn_is_new_complication" id="hdn_is_new_procedure_comment_<%=procedure_id_s%>" value="true">
            <% end %>  
          </div>
          <% display_div = (default_has_complications == 'Yes') ? 'block' : 'none' %>
          <div id="div_<%=procedure_id_s%>" style="display: <%=display_div%>" class="col-md-12 div_toggle_complication_list">
            <% ipdrecord_complications = ipdrecord.complications.where(procedure_id: procedure_id_s, is_deleted: false) %>
            <% excluded_procedure = ipdrecord.excluded_procedure?(operative_note.id.to_s, procedure) %>
            <%= simple_fields_for :other do |o| %>
              <% complications = complications_for_procedure_region(procedure.procedure_id.to_s, excluded_procedure) %>
              <%= o.input "hdn_procedure_#{procedure.procedure_id.to_s}_#{procedure_id_s}", collection: complications, as: :hg_checkbox, label: false, required: false, class: 'btn btn-xs btn-white procedure_complication', input_html: {name: "hdn_procedures"}, :checked => ipdrecord_complications.pluck(:code) %>
              <input type="hidden" name="hdn_complication_original_side" id="hdn_complication_original_side_<%=procedure_id_s%>" value="<%=procedure.procedureside.to_s%>">
            <% end %>
            <div class="div_complication_list" id="div_complaint_procedure_fields_add_<%=procedure_id_s%>">
              <% if ipdrecord_complications.pluck(:entered_by).present? %>
                <input type="hidden" name="hdn_action" class="hdn_action" id="hdn_action_<%=procedure_id_s%>" value="edit">
              <% else %>
                <input type="hidden" name="hdn_action" class="hdn_action" id="hdn_action_<%=procedure_id_s%>" value="new">
              <% end %>
              <% if ipdrecord_complications.count > 0 %>
                <% ipdrecord_complications.each do |ipd_complication| %>
                  <% name_cls = ipd_complication.complication_name.split(' ').join('_') %>
                  <% field_class = "#{name_cls}_#{procedure_id_s}" %>
                  <div class="counter_rows_complications <%=field_class%>_fields">
                    <input type="hidden" class="form-control complication_is_deleted hdn_complication <%=field_class%>_is_deleted" name="inpatient_ipd_record[complications_attributes][<%=cntr%>][is_deleted]" value="0">
                    <input type="hidden" class="form-control" name="inpatient_ipd_record[complications_attributes][<%=cntr%>][id]" value="<%=ipd_complication.id%>">
                    <input type="hidden" class="form-control" name="inpatient_ipd_record[complications_attributes][<%=cntr%>][complication_name]" value="<%=ipd_complication.complication_name%>">

                    <input type="hidden" class="form-control <%=field_class%>_complication_updated_by" name="inpatient_ipd_record[complications_attributes][<%=cntr%>][updated_by]" value="<%=ipd_complication.updated_by%>">
                    <input type="hidden" class="form-control <%=field_class%>_complication_updated_by_id" name="inpatient_ipd_record[complications_attributes][<%=cntr%>][updated_by_id]" value="<%=ipd_complication.updated_by_id%>">
                    <input type="hidden" class="form-control <%=field_class%>_complication_updated_at_facility" name="inpatient_ipd_record[complications_attributes][<%=cntr%>][updated_at_facility]" value="<%=ipd_complication.updated_at_facility%>">
                    <input type="hidden" class="form-control <%=field_class%>_complication_updated_at_facility_id" name="inpatient_ipd_record[complications_attributes][<%=cntr%>][updated_at_facility_id]" value="<%=ipd_complication.updated_at_facility_id%>">
                    <input type="hidden" class="form-control <%=field_class%>_complication_updated_datetime" name="inpatient_ipd_record[complications_attributes][<%=cntr%>][updated_datetime]" value="<%=ipd_complication.updated_datetime%>">
                    
                  </div>
                  <% cntr=cntr+1 %>
                <% end %>
              <% end %>
            </div>
          </div>
          <% complication_created_by = ipdrecord.complications.where(procedure_id: procedure.id).pluck(:entered_by).uniq.last %>
          <% complication_updated_by = ipdrecord.complications.where(procedure_id: procedure.id).order_by(updated_datetime: :desc).pluck(:updated_by).uniq.first %>
          <div class="row col-md-12 div_procedure_added_removed">
            <div class="col-xs-6">
              <% if procedure.has_complication_created_by.present? %>
                <p class="text-warning"><b>Complications added by:</b> <%= procedure.has_complication_created_by %> </p>
              <% end %>
            </div>
            <div class="col-xs-6">
              <% if procedure.has_complication_removed_by.present? %>
                <p class="text-warning"><b>Complications last removed by:</b> <%= procedure.has_complication_removed_by %> </p>
              <% end %>
            </div>
          </div>
          <div class="row col-md-12 div_complication_added_removed">
            <div class="col-xs-6">
              <% if complication_created_by.present? %>
                <p class="text-warning"><b>Complication created by:</b> <%= complication_created_by %> </p>
              <% end %>
            </div>
            <div class="col-xs-6">
              <% if complication_updated_by.present? %>
                <p class="text-warning"><b>Complication last update by:</b> <%= complication_updated_by %> </p>
              <% end %>
            </div>
          </div>
          <div class="row col-md-12 div_procedure_created_removed">
            <div class="col-xs-6">
              <% if procedure.complication_comment_entered_by.present? %>
                <p class="text-warning"><b>Comment created by:</b> <%= procedure.complication_comment_entered_by %> </p>
              <% end %>
            </div>
            <div class="col-xs-6">
              <% if procedure.complication_comment_updated_by.present? %>
                <p class="text-warning"><b>Comment last update by:</b> <%= procedure.complication_comment_updated_by %> </p>
              <% end %>
            </div>
          </div>
        </div>
        <% counter += 1 %>
      <% end %>
    </div>
  </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12" id="div_all_procedures"></div>
