<% if false %>
  <% @appointment_types.each_with_index do |appointment_type, index| %>
    <% if index == 0 %>
      <label for="patientvisittype-fresh-radioselectlabel" data-toggle="tooltip" title="<%= appointment_type.try(:comment)%>"><input type="radio" value="<%= appointment_type.id%>" <%= appointment_type.is_default ? 'checked' : '' %> name="patient[appointments_attributes][0][appointment_type_id]" class="type-checkbox" > <%= appointment_type.label %></label>
    <% else %>

      <label for="patientvisittype-fresh-radioselectlabel" data-toggle="tooltip" title="<%= appointment_type.try(:comment)%>"><input type="radio" value="<%= appointment_type.id%>" name="patient[appointments_attributes][0][appointment_type_id]" class="type-checkbox" <%= appointment_type.is_default ? 'checked' : '' %>> <%= appointment_type.label %></label>
    <% end %>
  <% end %>
<% end %>

<% if @opdrecord.present? %>
  <%= render partial: 'opd_appointments/appointment_type_partial', locals: {
                name_attr:"patient[appointments_attributes][0][appointment_type_id]", option_values: @appointment_types, selected: ""} %>

<% else %>
  <%= render partial: 'opd_appointments/appointment_type_partial', locals: {
                name_attr:"patient[appointments_attributes][0][appointment_type_id]", option_values: @appointment_types, selected: ""} %>
<% end %>

<style type="text/css">
  [data-toggle='tooltip'] + .tooltip > .tooltip-inner {
    background: black;
    color:#ffffff;
    border: 1px solid #000000;
  }
</style>

<script type="text/javascript">
  $('input.type-checkbox').on('change', function() {
    $("input.type-checkbox").attr("checked", false); 
    $(this).attr("checked", true);
  });
  
  $('[data-toggle="tooltip"]').tooltip();
</script>

