<div class="col-md-4">
    <%= link_to opd_appointments_showcalendar_path, :data => {:remote => true}, :class => "ps btn btn-primary hg-tooltip", :id => "show_calender_view", :title => "Calender View" do %><i class="fa fa-calendar"></i><% end %>
</div>

<div class="col-md-3" style="text-align:center;">
    <div class="btn-group">
      <%= link_to opd_appointments_path("#{@current_date.yesterday.strftime("%d-%b-%Y")}"), :class => "btn btn-success ps", :id => "a_date_back_app", :data => {:remote => true} do %> <i class="fa fa-chevron-left"></i> <% end %>
        <button type="button" class="btn btn-success date-display" disabled><%= @current_date.strftime("%d-%b-%Y") %></button>

      <input type="text" id="appointment-datepicker-inline" style="display: none;">
      <%= link_to opd_appointments_path("#{@current_date.tomorrow.strftime("%d-%b-%Y")}"), :class => "btn btn-success ps", :id => "a_date_ahead_app", :data => {:remote => true} do %> <i class="fa fa-chevron-right"></i></i> <% end %>
    </div>

</div>
<div class="pull-right btn-group">
  <% if Date.current <= (Date.strptime("#{@datepicker_date}", "%Y-%m-%d")) %>
      <div class="btn-group" style="margin-bottom: 0px;">
        <button type="button" class="btn btn-danger" id="manage-multiple-dropdown" data-toggle="dropdown" data-placement="bottom" >
          Manage Selected <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="manage-multiple-dropdown">
          <li><a href="#" class="multiple-appointment-reschedule"><i class="fa fa-edit"></i> Reschedule Appointments</a></li>
          <li><a href="#" class="multiple-appointment-cancel"><i class="fa fa-trash-alt"></i> Cancel Appointments</a></li>
        </ul>
      </div>
  <% end %>

  <% if current_user.can_create?(Appointment) %>
  
    <%= link_to opd_appointments_newappointment_path(:appointmentdate => "#{@datepicker_date}"), :class => "btn btn-danger", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#appointment-modal', method: :post } do %> <i class="glyphicon glyphicon-plus"></i> Add Appointment <% end %>
    <% @fac = current_user.facilities.map %>
    <% if @fac.count > 1 %>
      <ul class="nav navbar-nav navbar-main">
        <li class="print-dropdown">
          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" style="border-radius:0px;">
            <span class=""><i class="fa fa-print" style="font-size:15px;"></i> Print Appointment</span>&nbsp;&nbsp;<span class="caret"></span>
          </button>
          <ul class="dropdown-menu children" style="width:100% !important;">
            <% @fac.each do |fac| %>
              <li style=""><%= link_to opd_appointments_printopdappointmentlist_path(:appointmentdate => Date.strptime("#{@datepicker_date}", "%Y-%m-%d"), :organisation => current_user.organisation,:facility_id => fac.id.to_s, :format => :pdf), :target => "_blank" do %> <i class="fa fa-print"></i> <%= fac.name %> <% end %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    <% else %>
      <% @fac.each do |fac| %>
        <%= link_to opd_appointments_printopdappointmentlist_path(:appointmentdate => Date.strptime("#{@datepicker_date}", "%Y-%m-%d"), :organisation => current_user.organisation,:facility_id => fac.id.to_s, :format => :pdf), :class => "btn btn-info", :target => "_blank" do %> <i class="fa fa-print"></i> Print Appointment <% end %>
      <% end %>
    <% end %>
    <!-- <a href="/opd_appointments/printopdappointmentlist.pdf?appointmentdate=<%= @datepicker_date %>&organisation=<%=current_user.organisation.id %>&facility_id=" class="btn btn-info" target="_blank" id="btn-print-appointment"><i class="fa fa-print"></i> Print Appointment</a> -->
  <% end %>
</div>