<div class="table-responsive">
  <table class="table table-striped mb10">
    <tbody>
    <tr>
      <td><b>Scheduled :</b></td>
      <td><span class="appointment-stat" id="scheduled-stat"><%= @total_appointments %></span></td>

    </tr>
    <% if Date.current > (Date.strptime("#{@datepicker_date}", "%Y-%m-%d")) %>
        <tr>
          <td><b>Seen :</b></td>
          <td><span class="appointment-stat"><%= @seen_appointments_count %></span></td>

        </tr>
        <tr>
          <td><b>Absent :</b></td>
          <td><span class="appointment-stat"><%= @absent_count %></span></td>
        </tr>
    <% else %>
        <tr>
          <td><b>Arrived :</b></td>
          <td><span class="appointment-stat" id="arrived-stat"><%= @arrived_count %></span></td>

        </tr>
        <tr>
          <td><b>Seen :</b></td>
          <td><span class="appointment-stat"><%= @seen_appointments_count %></span></td>
        </tr>
    <% end %>

    </tbody>
  </table>
</div>