<div class="modal-dialog modal-lg">
    <div class="modal-content">

	    <div class="modal-header">
			<h4 class="nomargin">Holiday</h4>
		 	<%= stylesheet_link_tag  "bootstrap-timepicker.min", media: "all", "data-turbolinks-track" => true %>
		</div>

		<%= form_tag opd_appointments_setoutofoffice_path, {:method => :post, remote: true, :class => "setoutofoffice"} do %>

		<div class="modal-body">
			<%= hidden_field_tag "appointment_eventid", @appointment_eventid %>

					<div class="row mb10">

                        <div class="col-sm-6">
                            <label class="control-label">Reason for out of office</label>
                            <%= text_field_tag "reasonoutofoffice", nil, {:maxlength => 40, :size => 40, :class => 'form-control reasonoutofoffice', :placeholder => "Conference or Vacation" } %>
                        </div>

                    </div>

                    <div class="row mb10">

                    	<label>All day</label>
                    	<%= radio_button_tag 'alldayoutofoffice', 'Yes', false, {:class => "form-control alldayoutofoffice", :id => "alldayoutofoffice" } %>

                    	<label>From date</label>
		              	<div class="input-group">
			                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
			                <%= text_field_tag "fromoutofofficedate", nil, {:maxlength => 10, :size => 10, :class => 'form-control fromoutofofficedate', :id => "fromoutofofficedatepicker-inline", :placeholder => "mm/dd/yyyy" } %>
		              	</div>

		              	<label>To date</label>
		              	<div class="input-group">
			                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
			                <%= text_field_tag "tooutofofficedate", nil, {:maxlength => 10, :size => 10, :class => 'form-control tooutofofficedate', :id => "tooutofofficedatepicker-inline", :placeholder => "mm/dd/yyyy" } %>
		              	</div>

                        <label>From time</label>
			            <div class="input-group mb15">
			                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
			                <div class="bootstrap-timepicker timepicker"> <%= text_field_tag "fromoutofofficetime", nil, {:maxlength => 10, :size => 10, :class => 'form-control fromoutofofficetime', :id => "fromoutofofficetimepicker-inline" } %></div>
			            </div>

			            <label>To time</label>
			            <div class="input-group mb15">
			                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
			                <div class="bootstrap-timepicker timepicker"> <%= text_field_tag "tooutofofficetime", nil, {:maxlength => 10, :size => 10, :class => 'form-control tooutofofficetime', :id => "tooutofofficetimepicker-inline" } %></div>
			            </div>

                    </div>
                 	<%= javascript_include_tag "bootstrap-timepicker.min", "data-turbolinks-track" => true %>
					<script>

						jQuery(document).ready(function() {

							jQuery(".appointmentcancel").on("click", function() {
								jQuery('#calendar').fullCalendar('removeEvents', jQuery("input[name='appointment_eventid']").val());
							});

							jQuery('#fromoutofofficedatepicker-inline').datepicker();
							jQuery('#tooutofofficedatepicker-inline').datepicker();
							jQuery('#fromoutofofficetimepicker-inline').timepicker({defaultTIme: false});
				    		jQuery('#tooutofofficetimepicker-inline').timepicker({defaultTIme: false});

							jQuery(".alldayoutofoffice").on("click", function() {
								jQuery('#fromoutofofficetimepicker-inline').timepicker('setTime', '06:00 AM');
								jQuery('#tooutofofficetimepicker-inline').timepicker('setTime', '11:59 PM');
								jQuery('#fromoutofofficetimepicker-inline').attr("readonly", "readonly");
								jQuery('#tooutofofficetimepicker-inline').attr("readonly", "readonly");
							});



						});

					</script>

		</div>
		<div class="modal-footer">
			<%= submit_tag "Set out of office", {'data-disable-with' => "Please wait..", :class => "btn btn-success" } %>
			<button aria-hidden="true" class="btn btn-info appointmentcancel" data-dismiss="modal">Cancel & close</button>
		</div>

		<% end %>

	</div>
</div>