    <% @appointmentlist.each() do |appointment| %>
            <tr>
              <td>
                  <%= check_box_tag 'appointment-list-checkbox', appointment.appointmentid, false, class: 'appointment-list-checkbox' %>
              </td>
              <td style="position: relative">
                <%= appointment.patient.fullname %>
                <% if !appointment.seen.nil? %>
                    <span class="label label-success" style="position:absolute;right:5px;bottom:5px;">C</span>
                <% else %>
                    <% if appointment.visittype == 'Fresh' %>
                        <span class="label label-primary" style="position:absolute;right:5px;bottom:5px;">Fr</span>
                    <% end %>
                    <% if appointment.visittype == 'Followup' %>
                        <span class="label label-warning" style="position:absolute;right:5px;bottom:5px;">Fo</span>
                    <% end %>
                <% end %>

              </td>
              <td><%= appointment.patient.gender %></td>
              <td><%= appointment.patient.age %></td>
              <td><%= appointment.patient.smsmobilenumber %></td>
              <td><%= "#{Time.strptime("#{appointment.appointmenttime}", "%Y-%m-%d %H:%M:%S").strftime("%I:%M %p")}" %></td>
              <td>
                    <div class="each-appointment-day-controls">
                        <%= render partial: "opd_appointments/eachappointmentdaycontrols", locals: { appointment: appointment } %>
                    </div>
              </td>
            </tr>
    <% end %>

