<!-- File Of No Use -->

<div class="col-sm-12" style="display:block;">
  <%= link_to "/outpatients/appointment_management", :data => {:remote => true}, :class => "ps btn btn-primary hg-tooltip", :id => "ps", :title => "Back To OPD" do %><i class="fa fa-stethoscope"></i><% end %>

  <div class="pull-right btn-group">
  <%= link_to opd_appointments_newappointment_path(:appointmentdate => "#{@datepicker_date}"), :class => "btn btn-danger",:id=>"add-appointment-btn", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#appointment-modal', method: :post } do %> <i class="glyphicon glyphicon-plus"></i><% end %>
  <% @fac = current_user.facilities.map %>
  <% if @fac.count > 1 %>
    <ul class="nav navbar-nav navbar-main">
      <li class="print-dropdown">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" style="border-radius:0px;">
          <span class=""><i class="fa fa-print" style="font-size:15px;"></i> </span>&nbsp;&nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu children" style="width:100% !important;">
          <% @fac.each do |fac| %>
            <li style=""><%= link_to opd_appointments_printopdappointmentlist_path(:appointmentdate => Date.strptime("#{@datepicker_date}", "%Y-%m-%d"), :organisation => current_user.organisation,:facility_id => fac.id.to_s, :format => :pdf), :target => "_blank" do %> <i class="fa fa-print"></i> <%= fac.name %> <% end %></li>
          <% end %>
        </ul>
      </li>
    </ul>
  <% else %>
    <% @fac.each do |fac| %>
      <%= link_to opd_appointments_printopdappointmentlist_path(:appointmentdate => Date.strptime("#{@datepicker_date}", "%Y-%m-%d"), :organisation => current_user.organisation,:facility_id => fac.id.to_s, :format => :pdf), :class => "btn btn-info", :target => "_blank" do %> <i class="fa fa-print"></i> Print Appointment <% end %>
    <% end %>
  <% end %>
  
</div>
</div>


<div class="col-md-3" style="text-align:center; display: none;">
  <div class="btn-group">
    <button class="btn btn-success previous-day"><i class="fa fa-chevron-left"></i></button>
    <button type="button" class="btn btn-success date-display" id="date-display" disabled><%= @current_date.strftime("%d-%b-%Y") %></button>
    <input type="text" id="calendar-datepicker-inline" style="display: none;">
    <button class="btn btn-success next-day"><i class="fa fa-chevron-right"></i></button>
  </div>

</div>


<script type="text/javascript">
  $(".hg-tooltip").tipsy();
  $(".hg-tooltip").on("click", function(){
    $(".tipsy").hide();
  })
</script>