<%= form_tag opd_appointments_cancelmultiple_save_path, {:method => :post, remote: true, :multipart => true, :class => "appointment-updatemultiple"} do %>
    <div class="modal-body">

        <div class="row">

            <div class="col-md-12">

              <div class="table-responsive" class="appointment-list">

                  <table class="table table-primary">
                      <thead>
                          <tr>
                              <th width="20%">Name</th>
                              <th width="5%">Gender</th>
                              <th width="5%">Age</th>
                              <th width="10%">Mobile Number</th>
                              <th width="15%">Date</th>
                              <th width="10%">Time</th>
                          </tr>
                      </thead>
                      <tbody class="appointment-list-day">
                                <% @appointmentlist.each_with_index() do |appointment, index| %>
                                        <tr>
                                          <td><%= appointment.patient.fullname %></td>
                                          <td><%= appointment.patient.gender %></td>
                                          <td><%= appointment.patient.age %></td>
                                          <td><%= appointment.patient.mobilenumber %></td>
                                          <td>
                                              <%=appointment.appointmentdate%>
                                          </td>
                                          <td>
                                            <%=Time.at(appointment.start_time.to_i).strftime "%I:%M %p"%>
                                          </td>

                                        </tr>
                                    <%= hidden_field_tag 'appointmentid[]', appointment.id, class: 'appointment-idlist' %>
                                <% end %>

                      </tbody>
                  </table>
              </div>

            </div>

        </div>

    </div>
    <div class="modal-footer">
      <%= submit_tag "Cancel Multiple Appointments", class: "btn btn-success", remote: true, 'data-disable-with' => "Please wait.." %>
        <button aria-hidden="true" class="btn btn-info" data-dismiss="modal">Close</button>

    </div>


<% end %>