<%= form_tag opd_appointments_cancelappointment_path(appointment_id: @appointment.id), {:method => :patch, remote: true, :multipart => true, :class => "appointment-cancel-form", :id => "appointment-cancel-form"} do %>

    <div class="modal-body">
      <div class="row mb10">
        <div class="col-md-6">
          <label>ID: <%= @appointment.patient&.patient_identifier_id.to_s %></label>
        </div>
        <div class="col-md-6">
          <label>Name: <%= @appointment.patient.fullname %></label>
        </div>
      </div>
      <div class="row mb10">

        <div class="col-md-6">
          <label>Age: &nbsp<%= @appointment.patient.exact_age %></label>
        </div>
        <div class="col-md-6">
          <label>Gender: <%= @appointment.patient.gender %></label>
        </div>

      </div>
    </div>

    <div class="modal-footer">
      <%= submit_tag "Cancel Appointment", class: "btn btn-darkblue", id: "cancel_appointment", remote: true %>
      <button aria-hidden="true" class="btn btn-info" data-dismiss="modal">Close</button>
    </div>
<% end %>