<% @appointment_types.each_with_index do |appointment_type, index| %>
    <% if appointment_type.is_default
         radio_option = {:checked => 'checked'}
       else
         radio_option = {}
       end
    %>
    <% if index == 0 %>


        <div class="col-md-2 rdio rdio-primary">
          <%= radio_button_tag "appointment_type_id", appointment_type.id,true ,id: "radio-"+appointment_type.id%>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <label for="radio-<%= appointment_type.id%>" class="label" style="background: <%= appointment_type.background%>"><%= appointment_type.label %></label>
        </div>


    <% else %>

        <div class="col-md-2 rdio rdio-primary">
          <%= radio_button_tag "appointment_type_id", appointment_type.id,"" ,id: "radio-"+appointment_type.id%>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <label for="radio-<%= appointment_type.id%>" class="label" style="background: <%= appointment_type.background%>"><%= appointment_type.label %></label>
        </div>


    <% end %>
<% end %>

<script type="text/javascript">
    $('input.type-checkbox').on('change', function() {
        $("input.type-checkbox").attr("checked", false);
        $(this).attr("checked", true);
    });
</script>