<div class="modal-dialog appointment-dialog" style="width:50%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Appointment List for <%= @appointmentdate.strftime("%d %b'%Y") %></h4>
    </div>
    <div class="modal-body" style="padding:5px 10px;">
      <div class="row">
        <div class="col-sm-6">
          <b>Facility</b><br/>
          <select class="form-control p5_10" name="facility_id" disabled="disabled">
            <option value=""><%= current_facility.name %></option>
          </select>
        </div>
        <div class="col-sm-6">
          <% if current_facility.country_id == 'KH_039' %>
            <b>Appointment Optometrist</b><br/>
            <%= select_tag 'doctor', options_for_select(@current_facility_doctors, ''), {include_blank: "All Optometrists", class: "selected_doctor form-control p7_10" } %>
          <% else %>
            <b>Appointment Doctor</b><br/>
            <%= select_tag 'doctor', options_for_select(@current_facility_doctors, ''), {include_blank: "All Doctors", class: "selected_doctor form-control p7_10" } %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= link_to opd_appointments_printopdappointmentlist_path(:appointmentdate => Date.strptime("#{ @appointmentdate}", "%Y-%m-%d"), :format => :pdf), :class => "generate_report btn btn-primary", :target => "_blank" do %> <i class="fa fa-print"></i>&nbsp; Generate Report<% end %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>