<%= form_tag opd_appointments_addfuturefreshappointment_path, {:method => :post, remote: true, :multipart => true, :class => "signuppatientformtag"} do %>

    <!-- BASIC WIZARD -->
    <div id="basicWizard" class="basic-wizard">

      <ul class="nav nav-pills nav-justified">
        <li><a href="#tab1" data-toggle="tab"><span>Step 1:</span> Patient Info</a></li>
        <li><a href="#tab2" data-toggle="tab"><span>Step 2:</span> Other Info (optional)</a></li>
        <li><a href="#tab3" data-toggle="tab"><span>Step 3:</span> Family Info (optional)</a></li>
      </ul>

      <div class="tab-content">

        <div class="tab-pane" id="tab1">

          <h4 class="nomargin">Patient Signup</h4>

          <div class="row mb10">

            <div class="col-sm-6">

              <label class="control-label">Patient Photo</label>

              <div class="fileupload fileupload-new" data-provides="fileupload">
                <div class="input-append">
                  <div class="uneditable-input">
                    <i class="glyphicon glyphicon-file fileupload-exists"></i>
                    <span class="fileupload-preview"></span>
                  </div>
                    <span class="btn btn-default btn-file">
                      <span class="fileupload-new">Select file</span>
                      <span class="fileupload-exists">Change</span>
                      <%= file_field_tag "patientphoto", {:class => 'form-control patientphoto'} %>
                    </span>
                  <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
                </div>
              </div>

            </div>

          </div>

          <div class="row mb10">

            <div class="col-sm-4">
              <label class="control-label">Name</label>
              <%= text_field_tag "patientname", nil, {:maxlength => 40, :size => 30, :class => 'form-control patientname', :placeholder => "Patient name" } %>
            </div>

            <div class="col-sm-2">

              <label class="control-label">Gender</label>

              <div class="row mb10">

                <div class="col-sm-12">

                  <label for="patientgender-male-radioselectlabel"><%= radio_button_tag "patientgender", "Male", false, {:class => 'patientgender'} %> Male</label>
                  <label for="patientgender-female-radioselectlabel"><%= radio_button_tag "patientgender", "Female", false, {:class => 'patientgender'} %> Female</label>

                </div>

              </div>

            </div>

            <div class="col-sm-2">
              <label class="control-label">Dob</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <%= text_field_tag "patientdob", nil, {:class => 'form-control patientdob', :id => "patientdob-datepicker-inline", :placeholder => "dd/mm/yyyy" } %>
              </div>
            </div>

            <div class="col-sm-2">
              <label class="control-label">Age</label>
              <%= text_field_tag "patientage", nil, {:maxlength => 3, :size => 3, :class => 'form-control patientage' } %>
            </div>

          </div>

          <div class="row mb10">

            <div class="col-sm-4">
              <label class="control-label">Mobile Number</label>

              <div class="input-group">
                <span class="input-group-addon">+91</span>
                <%= text_field_tag "patientmobilenumber", nil, {:maxlength => 12, :size => 12, :class => 'form-control patientmobilenumber', :placeholder => "9900000000" } %>
                <%= hidden_field_tag "patientmobilenumberhidden", "+91", {:maxlength => 3, :size => 3, :class => 'form-control patientmobilenumberhidden', :readonly => true } %>
              </div>

            </div>

            <div class="col-sm-4">
              <label class="control-label">Email Address</label>

              <div class="input-group">
                <span class="input-group-addon">@</span>
                <%= email_field_tag "patientemailaddress", nil, {:maxlength => 40, :size => 30, :class => 'form-control patientemailaddress', :placeholder => "johndoe@xyz.com" } %>

              </div>

            </div>

          </div>

          <br/>

          <div class="row mb10">

            <div class="col-md-12">
              <label class="control-label">Visit Details</label>

              <%= hidden_field_tag "visittype", nil, {:maxlength => 10, :size => 10, :class => 'form-control visittype'}%>

              <div class="row mb10">

                <div class="col-md-2">

                  <label>Appointment Date</label>
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    <%= text_field_tag "appointmentdate", nil, {:class => 'form-control appointmentdate', :id => "datepicker-inline", :placeholder => "dd/mm/yyyy" } %>
                  </div>

                </div>

                <div class="col-md-2">

                  <label>Appointment Time</label>
                  <div class="input-group mb15">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                    <div class="bootstrap-timepicker timepicker">
                      <%= text_field_tag "appointmenttime", nil, {:class => 'form-control appointmenttime', :id => "timepicker" } %>
                    </div>

                  </div>

                </div>

                <%= hidden_field_tag "departmenttype", "440655000" %>

              </div>

            </div>

          </div>

        </div>
        <div class="tab-pane" id="tab2">

          <div class="row">

            <div class="col-md-6">

              <label class="control-label">Blood group</label>
              <div class="input-group mb15">
                <% for bloodgroup in Patient::BLOODGROUPS %>
                    <%= radio_button_tag "[bloodgroup][]", bloodgroup, false, {:class => "bloodgroup"} %>
                    <%= h bloodgroup.humanize %>
                <% end %>
                <%= hidden_field_tag "[bloodgroup][]"%>

              </div>

            </div>

          </div>

          <div class="row">

            <div class="col-md-3">

              <label class="control-label">Address line1</label>
              <%= text_field_tag "addressline1", nil, {:maxlength => 30, :size => 30, :class => 'form-control addressline1', :placeholder => "Address line1" } %>

            </div>

            <div class="col-md-3">

              <label class="control-label">Address line2</label>
              <%= text_field_tag "addressline2", nil, {:maxlength => 30, :size => 30, :class => 'form-control addressline2', :placeholder => "Address line2" } %>

            </div>

            <div class="col-md-3">

              <label class="control-label">City</label>
              <%= text_field_tag "city", nil, {:maxlength => 30, :size => 30, :class => 'form-control city', :placeholder => "City" } %>

            </div>

            <div class="col-md-3">

              <label class="control-label">State</label>
              <%= text_field_tag "state", nil, {:maxlength => 30, :size => 30, :class => 'form-control state', :placeholder => "State" } %>

            </div>

            <div class="col-md-2">

              <label class="control-label">Pincode</label>
              <%= text_field_tag "pincode", nil, {:maxlength => 6, :size => 6, :class => 'form-control pincode', :placeholder => "Pincode" } %>

            </div>

          </div>

        </div>
        <div class="tab-pane" id="tab3">

        </div>

      </div><!-- tab-content -->

      <%= submit_tag "Fresh Appointment and Register Patient", class: "btn btn-success", remote: true, 'data-disable-with' => "Please wait.." %>
      <%= button_tag "Cancel", class: "btn btn-danger", :type => 'reset' %>
      <button aria-hidden="true" class="btn btn-info signup-patient-form-close" data-dismiss="modal">Close</button>

    </div><!-- #basicWizard -->

<% end %>