<%= simple_form_for :appointment, url: opd_appointments_addappointment_path, :html => {:id => "appointment-form"}, :remote => true do |f| %>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-5">
				<p class="mt5 mb20">Enter following information to create an appointment</p>
				<label>Patient Name</label>
				<%= f.input_field :patientname, class: "form-control", placeholder: "Patientname" %>

				<label>Mobile Number</label>
				<div class="input-group">
					<span class="input-group-addon">+91</span>
	                <%= f.input_field :mobilenumber, class: "form-control", placeholder: "Mobilenumber" %>
              	</div>

              	<label>Reason for Visit</label>
              	<%= f.input_field :reasonforvisit, class: "form-control", placeholder: "Reasonforvisit" %>

		    	<label>Time Picker</label>
	            <div class="input-group mb15">
	                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
	                <div class="bootstrap-timepicker timepicker"><%= f.input_field :appointmenttime, class: "form-control", :id => "timepicker" %></div>
	            </div>

	            <label>Date Picker</label>
              	<div class="input-group">
	                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
	                <%= f.input_field :appointmentdate, class: "form-control", :id => "datepicker-inline", :placeholder => "mm/dd/yyyy" %>
              	</div>

              	<label>Appointment Type</label>
              	<div class="input-group">
                	<%= f.input_field :appointmenttype, :collection => [['First', '414260005'], ['Follow-up', '183616001']], :as => :radio_buttons, :input_html => {:class => "form-control"} %>
                </div>

			</div>
		</div>
	</div>
	<%= javascript_include_tag "bootstrap-timepicker.min", "data-turbolinks-track" => true %>
	<script>
		jQuery(document).ready(function() {
			jQuery('#datepicker-inline').datepicker({
				dateFormat: "dd/mm/yy",
				changeMonth: true,
      			changeYear: true
			});
	    	jQuery('#timepicker').timepicker({defaultTIme: false, minuteStep: 5});
 		});
	</script>
	<div class="modal-footer">
          <%= submit_tag "Create Appointment", class: "btn btn-success", remote: true %>
          <button aria-hidden="true" class="btn btn-info" data-dismiss="modal">Close</button>
    </div>
<% end %>