<div class="modal-body add-appointment-modal-body">

  <%= simple_form_for(@medical_certificate, :format => :js, :remote => true, method: :POST) do |f| %>
      <%= f.error_notification %>


      <div class="form-inputs">
        <%= f.text_field :patient_id, {:type => "hidden", :value => @patientid} %>
        <%= f.text_field :user_id, {:type => "hidden", :value => current_user.id} %>
        <%= f.text_field :doctor, {:type => "hidden", :value => @doctor_id} %>

        <div class="row mb15">
          <div class="col-md-2">
            Heading:
          </div>
          <div class="col-md-3">
            <%= f.text_field :category, {:class => 'form-control'} %>
          </div>
          <div class="col-md-2 col-md-offset-2">
            Issue Date:
          </div>
          <div class="col-md-3">
            <%= f.text_field :date_of_issue, {:class => 'form-control', id: 'user-note-datepicker-inline', placeholder: 'dd/mm/yyyy'} %>
          </div>


        </div>


        <div class="row mb15">
          <div class="col-md-2">
            Subject:
          </div>
          <div class="col-md-10">
            <%= f.text_field :medical_subject, {:class => 'form-control'} %>
          </div>
        </div>

        <div class="row mb15">
          <div class="col-md-2">
            Content:
          </div>
          <div class="col-md-10">
            <%= f.text_area :medical_body, {:class => 'form-control',:rows => "10" } %>
          </div>
        </div>



      </div>

      <div class="row form-actions form-group">
        <%= f.button :submit , {:class => 'btn btn-success pull-right',:onclick => 'invoice_page()'}%>
      </div>
  <% end %>

</div>
  <style type="text/css">

    input.error, select.error {
      border-color: #b94a48;
      background-image: none;
    }
    input.valid, select.valid {
      border-color: #468847;
      background-image: none;
    }
  </style>


