<% @appointmentlist.each() do |appointment| %>
    <tr>
      <td>
      </td>
      <td>
        <%= appointment.appointment_type.label %>
      </td>
      <td><%= appointment.patient.fullname %></td>
      <td><%= appointment.patient.gender %></td>
      <td><%= appointment.patient.age %></td>
      <td><%= appointment.patient.mobilenumber %></td>
      <td><%= "#{Time.strptime("#{appointment.start_time}", "%Y-%m-%d %H:%M:%S").strftime("%I:%M %p")}" %></td>
      <td>

      </td>
    </tr>
<% end %>

