<%= form_tag opd_appointments_updatemultiple_path, {:method => :post, remote: true, :multipart => true, :class => "appointment-updatemultiple"} do %>

	<div class="modal-body">

		<div class="row">

			<div class="col-md-12">

	          <div class="table-responsive" class="appointment-list">

	              <table class="table table-primary">
	                  <thead>
	                      <tr>
	                          <th width="20%">Name</th>
	                          <th width="5%">Gender</th>
	                          <th width="5%">Age</th>
	                          <th width="15%">Mobile Number</th>
	                          <th width="20%">Date</th>
	                          <th width="15%">Time</th>
	                      </tr>
	                  </thead>
	                  <tbody class="appointment-list-day">
	                            <% @appointmentlist.each_with_index() do |appointment, index| %>
							            <tr>

							              <td><%= appointment.patient.fullname %></td>
							              <td><%= appointment.patient.gender %></td>
							              <td><%= appointment.patient.age %></td>
							              <td><%= appointment.patient.mobilenumber %></td>
							              <td>
								              <div class="input-group">
									                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
									                <%= text_field_tag "appointmentdate[]", appointment.appointmentdate, {:class => 'form-control appointmentdate', :id => "appointmentdate#{index+1}", :placeholder => "dd/mm/yyyy" } %>
							              	  </div>
						              	  </td>
						              	  <td>
						              	  	<div class="input-group mb15">
									                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
									                <div class="bootstrap-timepicker timepicker">
									                	<%= text_field_tag "appointmenttime[]", Time.zone.parse(appointment.start_time.to_s).strftime("%I:%M %P"), {:class => 'form-control appointmenttime', :id => "appointmenttime#{index+1}" } %>
									            	  </div>
                                </div>
						              	  </td>
						              	  <%= hidden_field_tag 'appointmentid[]', appointment.id, class: 'appointment-idlist' %>
							            </tr>
							    <% end %>

	                  </tbody>
	              </table>
	          </div>

	        </div>

		</div>
		<%= javascript_include_tag "bootstrap-timepicker.min", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "bootstrap-wizard.min", "data-turbolinks-track" => true %>
		<script>
			jQuery(document).ready(function() {
				//jQuery('.appointmentdate').datepicker({
				jQuery('[id^="appointmentdate"]').datepicker({
					dateFormat: "dd/mm/yy",
//	      			minDate: 0
				});
		    	jQuery('.appointmenttime').timepicker();
	 		});
		</script>

	</div>
	<div class="modal-footer">
		<%= submit_tag "Update Multiple Appointments", class: "btn btn-success", remote: true, 'data-disable-with' => "Please wait.." %>
		<button aria-hidden="true" class="btn btn-info" data-dismiss="modal">Close</button>

	</div>

<% end %>

