<%= form_tag opd_appointments_updateappointment_path(appointment_id: @appointment.id), {:method => :patch, remote: true, :multipart => true, :class => "appointment-edit-form", :id => "appointment-edit-form"} do %>

	<div class="modal-body">
		<div class="row mb10">
			<div class="col-md-4">
				<label><%= @appointment.patient.patient_identifiers.where(:organisation_id => current_user.organisation_id).first.try(:patient_org_id) %></label>
				<label><%= @appointment.patient.fullname %></label>
			</div>

			<div class="col-md-4">
				<label><%= @appointment.patient.displayage %></label>
				<label><%= @appointment.patient.gender %></label>
			</div>
		</div>

    <%= hidden_field_tag "start_time", '', class: "hidden_start_time_timepicker" %>

    <div class="row mb10">
      <div class="col-md-4">
        <label>Appointment Date</label>
        	<div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            <%= text_field_tag "appointmentdate", "#{Date.strptime("#{@appointment.appointmentdate}", "%Y-%m-%d").strftime('%d/%m/%Y')}", {:class => 'form-control appointmentdate', :id => "datepicker-inline", :placeholder => "dd/mm/yyyy" } %>
        	</div>
      </div>

      <div class="col-md-4">
      	<label>Appointment Time</label>
        <div class="input-group mb15">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
            <div class="bootstrap-timepicker timepicker">
            	<%= text_field_tag "appointment_time", "#{Time.strptime("#{@appointment.start_time}", "%Y-%m-%d %H:%M:%S").strftime("%I:%M %p")}", {:class => 'form-control appointmenttime', :id => "appointment_timepicker" } %>
        	</div>
      	</div>
      </div>

      <div class="col-md-4">
        <div id="available-appoointment-slots" class="available-appoointment-slots">
        </div>
      </div>
		</div>

	</div>
	<%= javascript_include_tag "bootstrap-timepicker.min", "data-turbolinks-track" => true %>
	<div class="modal-footer">
    <%= submit_tag "Reschedule Appointment", class: "btn btn-darkblue", id: "reschedule_appointment", remote: true %>
    <button aria-hidden="true" class="btn btn-info" data-dismiss="modal">Close</button>
  </div>
<% end %>


<script>

  $("#appointment_timepicker").on('change', function(){
    var timestamp = $("#datepicker-inline").val() + " " + $(this).val()
    $(".hidden_start_time_timepicker").attr("value", timestamp)
  }).trigger('change')

  $("#datepicker-inline").on('change', function(){
    var timestamp = $(this).val() + " " + $("#appointment_timepicker").val()
    $(".hidden_start_time_timepicker").attr("value", timestamp)
  }).trigger('change')

  jQuery(document).ready(function() {
    jQuery('#datepicker-inline').datepicker({
      minDate: new Date(),
      dateFormat: "dd/mm/yy",
      changeMonth: true,
      changeYear: true,
//            minDate: 0
    });
      jQuery('#appointment_timepicker').timepicker({defaultTIme: false});
  });

</script>