<div class="panel panel-default" style="margin-left: 3px;">
  <div class="panel-heading" style="background-color: #49587E;margin-top: 0px !important;line-height: 0px;!important;padding: 10px;">
    <div class="panel-btns">
      <a href="" class="minimize minimize-box" style="margin-top: 0px;color: white;opacity: 1">-</a>
    </div><!-- panel-btns -->
    <p class="panel-title"  style="font-size: 11px;margin-top: 0px !important;line-height: 0px;!important;color: white">PATIENT NOTE</p>
  </div>
  <div class="panel-body patient-note-section" style="display: block;padding: 0 15px;">
    <div class="row">
      <div class="col-md-12">
        <div class="table table-responsive" id="patient_note_appointment">
          <%= form_tag "/opd_appointments/save_patient_note.js", :method => :post, :remote => true, :id => 'note_form', :class => 'form form-bordered' do %>
            <span class="col-md-10 row mb15" ><%= hidden_field_tag :patient_id ,@patientid,class: 'form-control'%></span>
            <div class="mb15 row">
              <div class="col-md-12 col-sm-12">
                <span class="col-xs-10  mb15" ><%= text_area_tag :comment ,"",class: 'form-control message',placeholder: "Enter your note..",style: "width: 100%; max-width: 260px; min-width: 224px;"%></span>
              </div>   
              <div class="col-md-12 col-sm-12">
                <span class="col-xs-2"><%= submit_tag("Save",{:class=>"btn btn-success btn-sm", :style=>" float: right; margin-top: 10px; margin-right: 26px;"}) %></span>
              </div>  
            </div>
          <%end%>
          <!-- Patient Note List -->
          <%= render partial: "/opd_appointments/show_patient_note_list.html.erb" %>
        </div><!-- table-responsive -->
      </div>
    </div>
  </div>
</div>