
<% if @showcounsellornote.where(patient_id: @patientid).count > 0 %>
    <% @showcounsellornote.where(patient_id: @patientid).each.with_index do |shownote,i| %>
        <% @user = User.find_by(:id => shownote.user_id) %>


        <div class="col-md-12 row mb5" style="padding: 3px;border-radius: 5px;border: #428bca 2px solid;">


          <!--comment as checkbox not needed for now-->
          <!--<span style="font-size:18px; margin-right: -8px">-->
          <!--<span class="ckbox ckbox-primary mb5">-->

          <!--<% if shownote.is_complete == false %>-->
              <!--<input type="checkbox" value="1" id='is_complete<%=i%>' class="is_complete" data= <%=shownote.id%> >-->
              <!--<% else %>-->
              <!--<input type="checkbox" value="1" id='is_complete<%=i%>' checked="checked" class="is_complete" data= <%=shownote.id%> >-->
              <!--<%end%>-->

          <!--<%#= check_box_tag 'is_complete'+_+i, 'no', false, data: shownote.id %>-->
          <!--<label for="is_complete<%=i%>"><span></span></label>-->
          <!--</span>-->
          <!--</span>-->
          <% if shownote.is_complete == false %>
              <span style="font-size:12px;padding-right: 3px; color: #428bca" id="task_comment_<%=shownote.id%>" > <%= shownote.comment %></span>
          <% else %>
              <span style="font-size:12px;padding-right: 3px; color: #428bca ; text-decoration: line-through" id="task_comment_<%=shownote.id%>" > <%= shownote.comment %></span>
          <%end%>
          <span style="font-size: 9px;padding-right: 3px;color: #999;">  <strong><%= shownote.created_at.strftime("%I:%M %P %d-%m-%y") %></strong></span>


          <% if current_user.id.to_s == shownote.user_id.to_s ||current_user.role_ids.any?{|i| [160943002,6868009].include?i} %>

              <a href="/opd_appointments/delete_counsellor_note?note_id=<%= shownote.id %>" method = "get" data-remote="true" class="btn btn-link btn-xs pull-right" style="padding: 2px 0px" id="delete"><span style="color: red;padding: 2px 0px;" class="glyphicon glyphicon-trash" method="delete" ></span></a>
          <% end %>
          <!--<span class="pull-right"><i class="fa fa-trash-alt" style="color: orangered;margin-top: 5px;"></i></span>-->
        </div>


    <% end %>

    <!-- If Appointment count is less than 0 dont show "td" -->
<%else%>
    <div class="col-md-12" style="color: #999;">
      No Note Present
    </div>

<%end%>



<!--<div class="ckbox ckbox-primary">-->
<!--<input type="checkbox" value="1" id="checkboxPrimary" checked="checked">-->
<!--<label for="checkboxPrimary">Checkbox Primary</label>-->
<!--</div>-->

<script>

    //  if ($(".is_complete").prop("checked")){
    //    var task_id = $(this).attr("data")
    //    $(".task_comment_"+task_id).css({"text-decoration": "line-through"});
    //  }

    $(".is_complete").on("click",function(){

        var task_id = $(this).attr("data")

        if ($(this).prop("checked")){
            var is_complete = true

//      $(".task_comment_"+task_id).css({"text-decoration": "line-through"});

        }
        else{
            var is_complete = false
        }


        jQuery.ajax({
            type: "GET",
            url: '/main/save_task_is_complete',
            data: {
                task_id: $(this).attr("data"),
                is_complete: is_complete,
                remote: "true"
            },
        });




    })

</script>