<% if !@appointmentlist.nil? %>

    <% @appointmentlist.each_with_index() do |appointment, index| %>
            <tr>
              <td>
                  <%= check_box_tag 'appointment-list-checkbox', appointment.appointmentid, false, class: 'appointment-list-checkbox' %>
              </td>
              <td>
                  <% if !appointment.seen.nil? %>
                      <span class="label label-success">Seen</span>
                  <% else %>
                      <% if appointment.visittype == 'Fresh' %>
                          <span class="label label-primary">Fresh</span>
                      <% end %>
                      <% if appointment.visittype == 'Followup' %>
                          <span class="label label-warning">Followup</span>
                      <% end %>
                  <% end %>
              </td>
              <td><%= appointment.patient.fullname %></td>
              <td><%= appointment.patient.gender %></td>
              <td><%= appointment.patient.age %></td>
              <td><%= appointment.patient.smsmobilenumber %></td>
              <td><%= appointment.appointmenttime %></td>
              <td>
                 <div class="btn-group">
                    <a data-toggle="dropdown" class="dropdown-toggle">
                      <i class="fa fa-cog"></i>
                    </a>
                    <ul role="menu" class="dropdown-menu pull-right">
                      <li><a href="#">Arrived</a></li>
                      <li><a href="#">Print invoice</a></li>
                      <li><a href="#">OPD summary</a></li>
                      <li class="divider"></li>
                      <li><%= link_to paperrecords_upload_path(:patientid => appointment.patient.patientid), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#uploadpaper-modal'} do %> <i class="glyphicon glyphicon-cloud-upload"></i> Upload paper records <% end %></li>
                      <li><a href="#">Assign</a></li>
                      <li><a href="#">Comment</a></li>
                    </ul>
                  </div>
              </td>
            </tr>

    <% end %>

<% end %>