<div class="panel panel-default">
  <div class="panel-heading" style="background-color: #49587E;margin-top: 0px !important;line-height: 0px;!important;padding: 10px;">
    <div class="panel-btns">
      <a href="" class="minimize" style="margin-top: 0px;color: white;opacity: 1">-</a>
    </div><!-- panel-btns -->
    <p class="panel-title"  style="font-size: 11px;margin-top: 0px !important;line-height: 0px;!important;color: white">
          COUNSELLOR NOTE
    </p>
  </div>
  <div class="panel-body" style="display: block;">
    <div class="row">
      <div class="col-md-12">
        <div class="table table-responsive" id="patient_note_appointment">

          <%= form_tag "/opd_appointments/save_counsellor_note.js", :method => :post, :remote => true, :id => 'note_form', :class => 'form form-bordered'  do  %>



              <span class="col-md-10 row mb15" ><%= hidden_field_tag :patient_id ,@patientid,class: 'form-control'%></span>
              <div class="mb15 row">
                <span class="col-md-10 row mb15" ><%= text_area_tag :comment ,"",class: 'form-control message',placeholder: "Enter your note..",style: "width: 100%;"%></span>
                <span class="col-md-2"><%= submit_tag("Save",{:class=>"btn btn-success btn-sm"}) %></span>
              </div>



          <%end%>

          <%= render partial: "/opd_appointments/show_counsellor_note_list.html.erb" %>


          <%#= simple_form_for @newtask,:format => :js,remote: true,:multipart => true,html: { :class => "task_form", :id => "task_form" } do |f| %>
          <!--<span class="ckbox ckbox-primary col-md-2" style="padding: 0px">-->
          <!--<%#= f.check_box :comment, {:class => "task_comment history_checked_unchecked", :id => "task_comment"}, "true", "false" %>-->
          <!--</span>-->



          <!--<div class="col-md-4 text-right">-->
          <!--<%#= f.submit "Save", class: "btn btn-success btn-sm" %>-->
          <!--</div>-->

          <!--<%#end%>-->





        </div><!-- table-responsive -->
      </div>
    </div>
  </div>
</div>



<style type="text/css">

    input.error, select.error {
        border-color: #b94a48;
        background-image: none;
    }
    input.valid, select.valid {
        border-color: #468847;
        background-image: none;
    }
</style>

<script>


//    function note_page() {
//
//        $("#note_form").validate({
//            rules: {
//                "comment": {
//                    required: true,
//                },
//
//
//            },
//            messages: {
//                "comment": {
//                    required: "Please add the note."
//                },
//            },
//        });
//
//    }
//    note_page()

</script>