<% if !@patient.patientid.nil? %>

	<div class="people-item">

		  <div class="media">

			  	<div class="row">

			  		<div class="col-md-2">
			  			<a href="#" class="pull-left">
                          <% if @patient.patientassets.present? %>
                              <%= image_tag "photos/no_picture_available.png", :class => "thumbnail media-object" %>
                          <% else %>
                              <%= image_tag "photos/no_picture_available.png", :class => "thumbnail media-object" %>
                          <% end %>
					    </a>
			  		</div>

			  		<div class="col-md-10">

			  			<div class="media-body">

			  				<div class="row">

			  					<div class="col-md-6">

			  						 <h4 class="person-name"> <%= @patient.fullname %> </h4>
							      		<% if @patient.gender == 'Male' %>
							      			<div class="text-muted"><i class="fa fa-male"></i> <%= @patient.gender %></div>
							      		<% end %>
							      		<% if @patient.gender == 'Female' %>
							      			<div class="text-muted"><i class="fa fa-female"></i> <%= @patient.gender %></div>
							      		<% end %>
								      <div class="text-muted"><i class="fa fa-map-marker"></i> <%= @patient.age %></div>
								      <div class="text-muted"><i class="fa fa-mobile-phone"></i> <%= @patient.smsmobilenumber %></div>
								      

			  					</div>

			  					<div class="col-md-6">

                                    <%= link_to "Patient summary", {controller: "patients", action: "summaryfromopd", :patientid => @patient.patientid, :appointment_id => @appointment.appointmentid}, {:method => "get", :class => "btn btn-success patientsummary ps", remote: :true, :id => "patientsummary", 'data-disable-with' => "Please wait.."} %>

			  					</div>

			  				</div>					     

					    </div>

			  		</div>

			  	</div>
		    
		  </div>
	</div>

<% end %>