<%= form_for(@patient,:format => :js,:method => :post, remote: true, :multipart => true, :class => "signuppatientformtag",:url => opd_appointments_addfreshappointment_path,:validate => true) do |patient|%>
    <!-- BASIC WIZARD -->
      <div id="basicWizard" class="basic-wizard row" style="margin-top:-15px;background: #fcfcfc">

        <div class="col-md-9" style="margin-right: -0.94%">
          <ul class="nav nav-pills nav-justified">
            <li><a href="#tab1" data-toggle="tab">Patient Sign up</a></li>
            <li><a href="#tab2" data-toggle="tab">Optional Information</a></li>
            <li><a href="#tab3" data-toggle="tab">History</a></li>
            <li><a href="#tab4" data-toggle="tab">Allergies</a></li>
          </ul>


          <div class="tab-content">
            <!-- Patient Sign Up Start -->
              <div class="tab-pane" id="tab1">
                <div class="row mb20" style="margin-top:5px;">
                  <div class="col-md-6" style="border-right:1px solid #eee;">
                    <div class="row">
                      <div class="col-md-1">
                        <label class="control-label">Name</label>
                      </div>
                      <div class="col-md-11">
                        <span style="font-size:12px;color:#a94442;">&nbsp;&nbsp;&nbsp;(Required)</span>
                      </div>
                    </div>
                    <div class="row mb20">
                      <div class="col-md-2">
                        <%= patient.select :salutation, options_for_select([[' ',' '],['Mr.','Mr.'],['Mrs.','Mrs.'],['Ms.','Ms.'],['Dr.','Dr.'],['Mst.','Mst'],['Baby','Baby'],['Sr.','Sr.']], :selected => @patient.salutation), {}, { :class => 'patient_salutation form-control' } %>
                      </div>
                      <div class="col-md-5">
                        <%= patient.text_field :firstname, {:maxlength => 40, :size => 30, :class => 'form-control patientname', :placeholder => "First Name",:validate => true} %>
                        <div id="patient_fullname_error">
                        </div>
                      </div>
                      <div class="col-md-5">
                        <%= patient.text_field :lastname, {:maxlength => 40, :size => 30, :class => 'form-control patientname', :placeholder => "Last Name",:validate => true} %>
                      </div>
                    </div>
                    <div class="row mb20">
                      <div class="col-md-5">
                        <label class="control-label">Mobile Number <br><span style="font-size:12px;color:#a94442;">(Required)</span></label>
                      </div>
                      <div class="col-md-7">
                        <%= patient.text_field :mobilenumber, {:maxlength => 10, :size => 10, :class => 'form-control patientmobilenumber', :placeholder => "9900000000" , :validate => true } %>
                      </div>
                    </div>
                    <div class="row mb20">
                      <div class="col-md-5">
                        <label class="control-label">Secondary Number</label>
                      </div>
                      <div class="col-md-7">
                        <%= patient.text_field :secondarymobilenumber, {:maxlength => 10, :size => 10, :class => 'form-control secondarymobilenumber', :placeholder => "9900000000" } %>
                      </div>
                    </div>
                    <div class="row mb20">
                      <div class="col-md-3">
                        <label class="control-label">Gender:</label>
                      </div>
                      <div class="col-md-3">
                        <div class="rdio rdio-primary">
                          <%= patient.radio_button :gender, "Male", {:class => 'patientgender', id: "patientgender-male-radioselectlabel"} %>
                          <label style="padding-left:5px;" for="patientgender-male-radioselectlabel">&nbsp;&nbsp;Male</label>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="rdio rdio-primary">
                          <%= patient.radio_button :gender, "Female", {:class => 'patientgender', id: "patientgender-female-radioselectlabel"} %>
                          <label style="padding-left:5px;" for="patientgender-female-radioselectlabel">&nbsp;&nbsp;Female</label>
                        </div>
                      </div>
                    </div>
                    <div class="row mb20">
                      <div class="col-md-2">
                        <label>DOB</label>
                      </div>
                      <div class="col-md-5">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                          <%= patient.text_field :dob, {:class => 'form-control patientdob', :id => "patientdob-datepicker-inline", :placeholder => "dd/mm/yyyy" } %>
                        </div>
                      </div>
                      <div class="col-md-1">
                        <label class="control-label">Age:</label>
                      </div>
                      <div class="col-md-2" style="margin-top: -20px">
                        Yrs<br>
                        <%= patient.text_field :age, {:maxlength => 3, :size => 3, :class => 'form-control patientage' } %>
                      </div>
                      <div class="col-md-2" style="margin-top: -20px">
                        Mnths<br>
                        <%= patient.text_field :age_month, {:maxlength => 3, :size => 3, :class => 'form-control patientage_month' } %>
                      </div>
                    </div>
                    <div class="row mb20">
                      <div class="col-md-12">
                        <label><i>Custom field for saving patient's info for your personal reference.</i></label>
                      </div>
                      <div class="col-md-2">
                        <label class="control-label">MR NO.</label>
                      </div>
                      <div class="col-md-8">
                        <div class="col-sm-10">
                          <%= text_field_tag "mr_no","",  {:class => 'form-control patientmrno'} %>
                        </div>
                      </div>

                      <!--<div class="col-md-2">-->
                        <!--<label class="control-label">IP NO. </label>-->
                      <!--</div>-->
                      <!--<div class="col-md-4">-->
                        <!--<div class="input-group">-->
                          <!--<%= text_field_tag "ip_no","", {:class => 'form-control patientipno'} %>-->
                        <!--</div>-->
                      <!--</div>-->
                    </div>
                  </div>
                  <%= patient.fields_for :appointments do |appointment| %>
                    <%= appointment.hidden_field "departmenttype"%>
                    <%= appointment.hidden_field "appointmentstatus"%>
                    <%= appointment.hidden_field "department_id"%>
                    <%= appointment.hidden_field "user_id"%>
                    <%= appointment.hidden_field :end_time%>
                    <div class="col-md-6">
                      <div class="row" style="margin-bottom:35px;">
                        <div class="col-md-5">
                          <label>Location</label>
                        </div>
                        <div class="col-md-7">
                          <% if @facilities.count > 1 %>
                            <%= render 'appointment_facilities_dropdown' %>
                          <% else %>
                            <%= hidden_field_tag "appointment-facility-filter", @facilities.first.id.to_s %>
                            <%= @facilities.first.name %>
                          <% end %>
                        </div>
                      </div>
                      <div class="row" style="margin-bottom:35px;">
                        <div class="col-md-5">
                          <label>Doctor</label>
                        </div>
                        <div class="col-md-7">
                          <%= render partial: 'doctors_dropdown', :locals => { :name => "original" } %>
                        </div>
                      </div>
                      <div class="row mb20">
                        <div class="col-md-5">
                          <label>Appointment Date</label>
                        </div>
                        <div class="col-md-7">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            <%= appointment.text_field "appointmentdate", {:class => 'form-control appointmentdate', :id => "datepicker-inline", style: "cursor:default;background:#fff;", :placeholder => "dd/mm/yyyy", :readonly => true } %>
                          </div>
                        </div>
                      </div>
                      <div class="row mb20">
                        <div class="col-md-5">
                          <label>Appointment Time</label>
                        </div>
                        <div class="col-md-7">
                          <div class="input-group mb15">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            <div class="bootstrap-timepicker timepicker">
                              <%= appointment.text_field "start_time", {:class => 'form-control appointmenttime', :id => "timepicker" } %>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row mb20">
                        <div class="col-md-5">
                          <label class="control-label">Visit Type <span style="font-size:12px;color:#a94442;">(Required)</span></label>
                        </div>
                        <div class="col-md-7 appointment_types">
                          <% @appointment_types.each do |appointment_type| %>
                              <%
                                 if appointment_type.is_default
                                   radio_option = {:checked => 'checked'}
                                 else
                                   radio_option = {}
                                 end
                              %>
                              <label for="patientvisittype-fresh-radioselectlabel" data-toogle="tooltip" title="<%= appointment_type.comment%>"><%= appointment.radio_button :appointment_type_id, appointment_type.id,radio_option%> <%= appointment_type.label %></label>
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <label>Patient Registration Source</label>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="rdio rdio-primary col-md-2">
                            <%= radio_button_tag "patient[appointments_attributes][0][source]", "referingdoc", false, {:class => 'patientregistrationsource', :id => "patientregistrationsourcereferingdoctor"} %>
                            <label for="patientregistrationsourcereferingdoctor" style="padding-left: 0px;">Referring Doctor</label>
                          </div>

                          <div class="rdio rdio-primary col-md-2">
                            <%= radio_button_tag "patient[appointments_attributes][0][source]", "family", false, {:class => 'patientregistrationsource', :id => "patientregistrationsourcefamily"} %>
                            <label for="patientregistrationsourcefamily"style="padding-left: 0px;">Family/Friend</label>
                          </div>

                          <div class="rdio rdio-primary col-md-1" style="width: 91px">
                            <%= radio_button_tag "patient[appointments_attributes][0][source]", "internet", false, {:class => 'patientregistrationsource', :id => "patientregistrationsourceinternet"} %>
                            <label for="patientregistrationsourceinternet"style="padding-left: 0px;">Internet</label>
                          </div>

                          <div class="rdio rdio-primary col-md-1" style="width: 106px">
                            <%= radio_button_tag "patient[appointments_attributes][0][source]", "newspaper", false, {:class => 'patientregistrationsource', :id => "patientregistrationsourcenewspaper"} %>
                            <label for="patientregistrationsourcenewspaper"style="padding-left: 0px;">Newspaper</label>
                          </div>
                          <div class="rdio rdio-primary col-md-1" style="width: 79px">
                            <%= radio_button_tag "patient[appointments_attributes][0][source]", "camp", false, {:class => 'patientregistrationsource',:id=>"patientregistrationsourcecamp"} %>
                            <label for="patientregistrationsourcecamp"style="padding-left: 0px;">Camp</label>
                          </div>
                          <div class="rdio rdio-primary col-md-1" style="width: 79px">
                            <%= radio_button_tag "patient[appointments_attributes][0][source]", "other", false, {:class => 'patientregistrationsource checked',:id=>"other",checked: true} %>
                            <label for="other"style="padding-left: 0px;">Other</label>
                          </div>
                          <div class="rdio rdio-primary col-md-1" style="width: 79px">
                            <%= radio_button_tag "patient[appointments_attributes][0][source]", "none", false, {:class => 'patientregistrationsource checked',:id=>"none",checked: true} %>
                            <label for="none"style="padding-left: 0px;">None</label>
                          </div>
                        </div>
                      </div>
                      <br>
                      <!-- Doctor Reference -->
                        <div class="row" id="ref_doc_details">
                          <div class="col-md-2">
                            <%= appointment.text_field :ref_doc_name,{:class => 'form-control',:placeholder => 'Ref. Doc Name'} %>
                            <%= hidden_field_tag "patient[appointments_attributes][0][ref_doc_id]", "", { :id => "patient_appointments_attributes_#{0}_ref_doc_id" } %>
                          </div>
                          <div class="col-md-2">
                            <%= appointment.text_field :ref_doc_number,{:class => 'form-control',:placeholder => 'Mobilenumber',:maxlength=>"10"} %>
                          </div>
                          <div class="col-md-2">
                            <%= appointment.text_field :ref_doc_email,{:class => 'form-control',:placeholder => 'Email'} %>
                          </div>
                          <div class="col-md-2">
                            <%= appointment.text_field :ref_doc_place,{:class => 'form-control',:placeholder => 'Hospital'} %>
                            </div>
                          <div class="col-md-2">
                            <%= appointment.text_field :ref_doc_speciality,{:class => 'form-control',:placeholder => 'Speciality'} %>
                          </div>
                          <div class="col-md-2">
                            <%= appointment.text_field :ref_doc_city,{:class => 'form-control',:placeholder => 'City'} %>
                          </div>
                        </div>
                      <!-- Family Reference -->
                        <div class="row" id="family">
                          <div class="col-md-2">
                            <label>Existing Patient: </label>&nbsp;
                          </div>
                          <div class="col-md-9">
                            <%= radio_button_tag "patient[appointments_attributes][0][source_detail_family]", "yes", false, {:class => 'patientregistrationsource', :id => "patientregistrationsourcefamily"} %>&nbsp;
                            <label for="patientregistrationsourcefamily">YES </label>&nbsp;&nbsp;
                            <%= radio_button_tag "patient[appointments_attributes][0][source_detail_family]", "no", false, {:class => 'patientregistrationsource', :id => "patientregistrationsourcefamily", checked: "checked"} %>&nbsp;
                            <label for="patientregistrationsourcefamily"> NO</label>
                          </div>
                        </div>
                      <!-- Internet Reference -->
                        <div class="row" id="internet">
                          <div class="col-md-2">
                            <%= radio_button_tag "patient[appointments_attributes][0][source_detail_internet]", "facebook", false, {:class => 'patientregistrationsource', :id => "patientregistrationsource"} %>
                            <label for="patientregistrationsourceinternet">Facebook</label>
                            </div>
                          <div class="col-md-2">
                            <%= radio_button_tag "patient[appointments_attributes][0][source_detail_internet]", "twitter", false, {:class => 'patientregistrationsource', :id => "patientregistrationsource"} %>
                            <label for="patientregistrationsourceinternet">Twitter</label>
                            </div>
                          <div class="col-md-2">
                            <%= radio_button_tag "patient[appointments_attributes][0][source_detail_internet]", "google", false, {:class => 'patientregistrationsource', :id => "patientregistrationsource"} %>
                            <label for="patientregistrationsourceinternet">Google+</label>
                            </div>
                          <div class="col-md-2">
                            <%= radio_button_tag "patient[appointments_attributes][0][source_detail_internet]", "other", false, {:class => 'patientregistrationsource', :id => "patientregistrationsource", checked: "checked"} %>
                            <label for="patientregistrationsourceinternet">Other</label>
                          </div>
                        </div>
                      <!-- NewsPaper Reference -->
                        <div class="row" id="newspaper">
                          <div class="col-md-3">
                            <%= appointment.text_field :newspaper_source_info,{:class => 'form-control',:placeholder => 'Newspaper Name'} %>
                          </div>
                        </div>
                      <div class="row" id="other_source">
                          <div class="col-md-3">
                            <%= appointment.text_field :source_info,{:class => 'form-control',:placeholder => 'Foundation/NGOs etc'} %>
                          </div>
                      </div>
                      <!-- Camp Reference -->
                        <div class="row" id="camp">
                          <div class="col-md-3">
                            <input type="text" name="patient[appointments_attributes][0][source_detail]" placeholder="Camp Name" class="form-control">
                          </div>
                          <div class="col-md-3">
                            <input type="text" name="patient[appointments_attributes][0][source_date]" placeholder="Camp Date" class="form-control source_datepicker" readonly="readonly" style="background-color:#fff;cursor:pointer;">
                          </div>
                          <div class="col-md-3">
                            <input type="text" name="patient[appointments_attributes][0][source_doctor]" placeholder="Doctor Name" class="form-control">
                          </div>
                        </div>
                      <!-- Reference Ends -->
                    </div>
                  <% end %>
                </div><!-- row -->
              </div><!-- tab-pane -->
            <!-- Patient Sign Up Ends -->
            <!-- Optional Info Starts Here -->
              <div class="tab-pane" id="tab2">
                <div class="row mb20">
                  <div class="col-md-6" style="border-right:1px solid #eee;">
                    <div class="row mb20">
                      <div class="col-md-5">
                        <label class="control-label">Patient Photo</label>
                      </div>
                      <div class="col-md-7">
                        <span class="btn btn-default btn-file">
                          <%= image_tag("photos/no_picture_available.png", :width=>"50", :height=>"50", :class=>"thumb", :onclick=>"$(this).parent().find('.profile_pic').click();")%>
                          <%= patient.fields_for :patientassets do |asset| %>
                            <%= asset.file_field :asset_path, {:style=>"visibility:hidden", :class => "profile_pic", :onchange =>"readURL(this)"} %>
                          <% end %>
                        </span>
                      </div>
                    </div>
                    <div class="row mb20">
                      <div class="col-md-4">
                        <label class="control-label">Blood group</label>
                      </div>
                      <div class="col-md-8">
                        <% for bloodgroup in Patient::BLOODGROUPS %>
                          <div class="col-md-3">
                            <%= patient.radio_button :blood_group, bloodgroup, {:class => "bloodgroup"} %>
                            <%= h bloodgroup %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                    <div class="row mb20">
                      <div class="col-md-5">
                        <label>Marital Status</label>
                      </div>
                      <div class="col-md-7">
                        <div class="input-group">
                          <label for="patientmaritalstatus-single-radioselectlabel"><%= patient.radio_button :maritalstatus, "Single", {:class => 'patientmaritalstatus'} %> Single</label>&nbsp;
                          <label for="patientmaritalstatus-married-radioselectlabel"><%= patient.radio_button :maritalstatus, "Married", {:class => 'patientmaritalstatus'} %> Married</label>
                        </div>
                      </div>
                    </div>
                    <div class="row mb20">
                      <div class="col-md-5">
                        <label>Patient Occupation</label>
                      </div>
                      <div class="col-md-7">
                        <div class="input-group">
                          <%= patient.text_field :occupation, {:maxlength => 40, :size => 30, :class => 'form-control occupation', :placeholder => "Occupation" } %>
                        </div>
                      </div>
                    </div>
                    <div class="row mb10">
                      <div class="col-md-5">
                        <label class="control-label">Email Address</label>
                      </div>
                      <div class="col-md-7">
                        <%= patient.email_field :email, {:maxlength => 40, :size => 30, :class => 'form-control patientemailaddress', :placeholder => "johndoe@xyz.com" } %>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row mb20">
                      <div class="col-md-12">
                        <label class="control-label">Patient Address</label>
                      </div>
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-12">
                            <%= patient.text_field :address_1, {:maxlength => 50, :size => 50, :class => 'form-control addressline1', :placeholder => "Address line1" } %>
                          </div>
                          <div class="col-md-12">
                            <%= patient.text_field :address_2, {:maxlength => 50, :size => 50, :class => 'form-control addressline2', :placeholder => "Address line2" } %>
                          </div>
                          <div class="col-md-4">
                            <%= patient.text_field :city, {:maxlength => 30, :size => 30, :class => 'form-control city', :placeholder => "City" } %>
                          </div>
                          <div class="col-md-4">
                            <%= patient.text_field :state, {:maxlength => 30, :size => 30, :class => 'form-control state', :placeholder => "State" } %>
                          </div>
                          <div class="col-md-4">
                            <%= patient.text_field :pincode, {:maxlength => 6, :size => 6, :class => 'form-control pincode', :placeholder => "PIN Code" } %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mb20">
                      <div class="col-md-12">
                        <label class="control-label">Emergency Contact Person</label>
                      </div>
                      <div class="col-md-6">
                        <%= patient.text_field :emergencycontactname, {:maxlength => 40, :size => 30, :class => 'form-control emergencycontactname', :placeholder => "Name" } %>
                      </div>
                      <div class="col-md-6">
                        <div class="input-group">
                          <span class="input-group-addon">+91</span>
                          <%= patient.text_field :emergencymobilenumber, {:maxlength => 10, :size => 10, :class => 'form-control emergencymobilenumber', :placeholder => "Mobile Number" } %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <!-- Optional Info Starts Here -->
            <!-- History Starts Here -->
              <div class="tab-pane" id="tab3">
                <div class="row mb20">
                  <div class="col-md-12">
                    <div class="row mb20">
                      <%= patient.fields_for :patient_history do |ph| %>
                        <%= ph.fields_for :patientpersonalhistory do |pph| %>

                          <%if current_user.specialty_ids.include?("309988001") %>
                            <div class="col-md-12 row">
                              <label class="control-label col-md-3">Ophthalmic History</label><span><%= pph.text_field :opthal_history_comment,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][opthal_history_comment]", :class=> "form-control col-md-3", :style=> "padding: 3px;margin: 0px;width: 30%;", :placeholder=>"comments.."} %></span>
                            </div>
                            <div class="col-md-12">

                            <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                              <%= pph.check_box :glaucoma, {:class => "glaucoma_history history_checked_unchecked", :id => "glaucoma_history"}, "true", "false" %>
                              <label for="glaucoma_history">Glaucoma</label>
                            </span>
                            <span class= "glaucoma_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                              <span class="history_since">since</span>
                              <span>
                                <%= pph.select :glaucoma_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][glaucoma_duration]", :class=> "form-control history_select"} %>
                              </span>
                              <span>
                                <%= pph.select :glaucoma_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][glaucoma_duration_unit]", :class=> "form-control history_select" } %>
                              </span>
                            </span>

                            <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                              <%= pph.check_box :retinal_detachment, {:class => "retinal_detachment_history history_checked_unchecked", :id => "retinal_detachment_history"}, "true", "false" %>
                              <label for="retinal_detachment_history">Retinal Detachment</label>
                            </span>
                            <span class= "retinal_detachment_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                              <span class="history_since">since</span>
                              <span>
                                <%= pph.select :retinal_detachment_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][retinal_detachment_duration]", :class=> "form-control history_select"} %>
                              </span>
                              <span>
                                <%= pph.select :retinal_detachment_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][retinal_detachment_duration_unit]", :class=> "form-control history_select" } %>
                              </span>
                            </span>

                            <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                              <%= pph.check_box :glasses, {:class => "glasses_history history_checked_unchecked", :id => "glasses_history"}, "true", "false" %>
                              <label for="glasses_history">Glasses</label>
                            </span>
                            <span class= "glasses_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                              <span class="history_since">since</span>
                              <span>
                                <%= pph.select :glasses_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][glasses_duration]", :class=> "form-control history_select"} %>
                              </span>
                              <span>
                                <%= pph.select :glasses_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][glasses_duration_unit]", :class=> "form-control history_select" } %>
                              </span>
                            </span>

                            <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                              <%= pph.check_box :eye_disease, {:class => "eye_disease_history history_checked_unchecked", :id => "eye_disease_history"}, "true", "false" %>
                              <label for="eye_disease_history">Eye Disease</label>
                            </span>
                            <span class= "eye_disease_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                              <span class="history_since">since</span>
                              <span>
                                <%= pph.select :eye_disease_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][eye_disease_duration]", :class=> "form-control history_select"} %>
                              </span>
                              <span>
                                <%= pph.select :eye_disease_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][eye_disease_duration_unit]", :class=> "form-control history_select" } %>
                              </span>
                            </span>

                            <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                              <%= pph.check_box :eye_surgery, {:class => "eye_surgery_history history_checked_unchecked", :id => "eye_surgery_history"}, "true", "false" %>
                              <label for="eye_surgery_history">Eye surgery</label>
                            </span>
                            <span class= "eye_surgery_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                              <span class="history_since">since</span>
                              <span>
                                <%= pph.select :eye_surgery_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][eye_surgery_duration]", :class=> "form-control history_select"} %>
                              </span>
                              <span>
                                <%= pph.select :eye_surgery_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][eye_surgery_duration_unit]", :class=> "form-control history_select" } %>
                              </span>
                            </span>


                            <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                              <%= pph.check_box :uveitis, {:class => "uveitis_history history_checked_unchecked", :id => "uveitis_history"}, "true", "false" %>
                              <label for="uveitis_history">Uveitis</label>
                            </span>
                            <span class= "uveitis_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                              <span class="history_since">since</span>
                              <span>
                                <%= pph.select :uveitis_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][uveitis_duration]", :class=> "form-control history_select"} %>
                              </span>
                              <span>
                                <%= pph.select :uveitis_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][uveitis_duration_unit]", :class=> "form-control history_select" } %>
                              </span>
                            </span>

                            <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                              <%= pph.check_box :retinal_laser, {:class => "retinal_laser_history history_checked_unchecked", :id => "retinal_laser_history"}, "true", "false" %>
                              <label for="retinal_laser_history">Retinal Laser</label>
                            </span>
                            <span class= "retinal_laser_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                              <span class="history_since">since</span>
                              <span>
                                <%= pph.select :retinal_laser_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][retinal_laser_duration]", :class=> "form-control history_select"} %>
                              </span>
                              <span>
                                <%= pph.select :retinal_laser_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][retinal_laser_duration_unit]", :class=> "form-control history_select" } %>
                              </span>
                            </span>


                            </div>
                          <% end %>

                          <div class="col-md-12 row">
                            <label class="control-label col-md-3">Systemic History</label><span><%= pph.text_field :history_comment,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][history_comment]", :class=> "form-control col-md-3", :style=> "padding: 3px;margin: 0px;width: 30%;", :placeholder=>"comments.."} %></span>
                          </div>
                          <div class="col-md-12">
                            <!--<%= pph.select :problems, @patient.get_historydisorders_list_attribute("historydisorders"), {  } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][problems][]",multiple: true}%>-->
                        <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                              <%= pph.check_box :diabetes, {:class => "diabetes_history history_checked_unchecked", :id => "diabetes_history"}, "true", "false" %>
                          <label for="diabetes_history">Diabetes</label>
                            </span>
                            <span class= "diabetes_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                              <span class="history_since">since</span>
                              <span>
                                <%= pph.select :diabetes_duration, 1 .. 75, {:prompt => 'Select'} ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][diabetes_duration]", :class=> "form-control history_select" } %>
                              </span>
                              <span>
                                <%= pph.select :diabetes_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], {:prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][diabetes_duration_unit]", :class=> "form-control history_select" } %>
                              </span>
                            </span>


                            <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                              <%= pph.check_box :hypertension, {:class => "hypertension_history history_checked_unchecked", :id => "hypertension_history"}, "true", "false" %>
                              <label for="hypertension_history">Hypertension</label>
                            </span>
                            <span class= "hypertension_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                              <span class="history_since">since</span>
                              <span>
                                <%= pph.select :hypertension_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][hypertension_duration]", :class=> "form-control history_select"} %>
                              </span>
                              <span>
                                <%= pph.select :hypertension_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][hypertension_duration_unit]", :class=> "form-control history_select" } %>
                              </span>
                            </span>


                            <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                              <%= pph.check_box :alcoholism, {:class => "alcoholism_history history_checked_unchecked", :id => "alcoholism_history"}, "true", "false" %>
                              <label for="alcoholism_history">Alcoholism</label>
                            </span>
                            <span class= "alcoholism_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                              <span class="history_since">since</span>
                              <span>
                                <%= pph.select :alcoholism_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][alcoholism_duration]", :class=> "form-control history_select"} %>
                              </span>
                              <span>
                                <%= pph.select :alcoholism_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][alcoholism_duration_unit]", :class=> "form-control history_select" } %>
                              </span>
                            </span>


                            <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                              <%= pph.check_box :smoking_tobacco, {:class => "smoking_tobacco_history history_checked_unchecked", :id => "smoking_tobacco_history"}, "true", "false" %>
                              <label for="smoking_tobacco_history">Smoking/Tobacco</label>
                            </span>
                            <span class= "smoking_tobacco_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                              <span class="history_since">since</span>
                              <span>
                                <%= pph.select :smoking_tobacco_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][smoking_tobacco_duration]", :class=> "form-control history_select" } %>
                              </span>
                              <span>
                                <%= pph.select :smoking_tobacco_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][smoking_tobacco_duration_unit]", :class=> "form-control history_select" } %>
                              </span>
                            </span>


                            <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                              <%= pph.check_box :steroid_intake, {:class => "steroid_intake_history history_checked_unchecked", :id => "steroid_intake_history"}, "true", "false" %>
                              <label for="steroid_intake_history">Steroid Intake</label>
                            </span>
                            <span class= "steroid_intake_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                              <span class="history_since">since</span>
                              <span>
                                <%= pph.select :steroid_intake_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][steroid_intake_duration]", :class=> "form-control history_select" } %>
                              </span>
                              <span>
                                <%= pph.select :steroid_intake_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][steroid_intake_duration_unit]", :class=> "form-control history_select" } %>
                              </span>
                            </span>


                            <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                              <%= pph.check_box :drug_abuse, {:class => "drug_abuse_history history_checked_unchecked", :id => "drug_abuse_history"}, "true", "false" %>
                              <label for="drug_abuse_history">Drug Abuse</label>
                            </span>
                            <span class= "drug_abuse_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                              <span class="history_since">since</span>
                              <span>
                                <%= pph.select :drug_abuse_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][drug_abuse_duration]", :class=> "form-control history_select" } %>
                              </span>
                              <span>
                                <%= pph.select :drug_abuse_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][drug_abuse_duration_unit]", :class=> "form-control history_select" } %>
                              </span>
                            </span>


                            <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                              <%= pph.check_box :hiv_aids, {:class => "hiv_aids_history history_checked_unchecked", :id => "hiv_aids_history"}, "true", "false" %>
                              <label for="hiv_aids_history">HIV/AIDS</label>
                            </span>
                            <span class= "hiv_aids_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                              <span class="history_since">since</span>
                              <span>
                                <%= pph.select :hiv_aids_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][hiv_aids_duration]", :class=> "form-control history_select"} %>
                              </span>
                              <span>
                                <%= pph.select :hiv_aids_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][hiv_aids_duration_unit]", :class=> "form-control history_select" } %>
                              </span>
                            </span>


                            <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                              <%= pph.check_box :cancer_tumor, {:class => "cancer_tumor_history history_checked_unchecked", :id => "cancer_tumor_history"}, "true", "false" %>
                              <label for="cancer_tumor_history">Cancer/Tumor</label>
                            </span>
                            <span class= "cancer_tumor_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                              <span class="history_since">since</span>
                              <span>
                                <%= pph.select :cancer_tumor_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][cancer_tumor_duration]", :class=> "form-control history_select" } %>
                              </span>
                              <span>
                                <%= pph.select :cancer_tumor_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][cancer_tumor_duration_unit]", :class=> "form-control history_select" } %>
                              </span>
                            </span>


                            <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                              <%= pph.check_box :cardiac_disorder, {:class => "cardiac_disorder_history history_checked_unchecked", :id => "cardiac_disorder_history"}, "true", "false" %>
                              <label for="cardiac_disorder_history">Cardiac disorder</label>
                            </span>
                            <span class= "cardiac_disorder_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                              <span class="history_since">since</span>
                              <span>
                                <%= pph.select :cardiac_disorder_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][cardiac_disorder_duration]", :class=> "form-control history_select" } %>
                              </span>
                              <span>
                                <%= pph.select :cardiac_disorder_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][cardiac_disorder_duration_unit]", :class=> "form-control history_select"} %>
                              </span>
                            </span>

                            <span class="ckbox ckbox-primary ckbox-changes col-md-2" style="padding: 0px">
                              <%= pph.check_box :rheumatoid_arthritis, {:class => "rheumatoid_arthritis_history history_checked_unchecked", :id => "rheumatoid_arthritis_history"}, "true", "false" %>
                              <label for="rheumatoid_arthritis_history">Rheumatoid Arthritis</label>
                            </span>
                            <span class= "rheumatoid_arthritis_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                              <span class="history_since">since</span>
                              <span>
                                <%= pph.select :rheumatoid_arthritis_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][rheumatoid_arthritis_duration]", :class=> "form-control history_select" } %>
                              </span>
                              <span>
                                <%= pph.select :rheumatoid_arthritis_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][rheumatoid_arthritis_duration_unit]", :class=> "form-control history_select"} %>
                              </span>
                            </span>

                            <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                              <%= pph.check_box :tuberculosis, {:class => "tuberculosis_history history_checked_unchecked", :id => "tuberculosis_history"}, "true", "false" %>
                              <label for="tuberculosis_history">Tuberculosis</label>
                            </span>
                            <span class= "tuberculosis_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                              <span class="history_since">since</span>
                              <span>
                                <%= pph.select :tuberculosis_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][tuberculosis_duration]", :class=> "form-control history_select" } %>
                              </span>
                              <span>
                                <%= pph.select :tuberculosis_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][tuberculosis_duration_unit]", :class=> "form-control history_select"} %>
                              </span>
                            </span>


                            <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                              <%= pph.check_box :asthma, {:class => "asthma_history history_checked_unchecked", :id => "asthma_history"}, "true", "false" %>
                              <label for="asthma_history">Asthma</label>
                            </span>
                            <span class= "asthma_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                              <span class="history_since">since</span>
                              <span>
                                <%= pph.select :asthma_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][asthma_duration]", :class=> "form-control history_select" } %>
                              </span>
                              <span>
                                <%= pph.select :asthma_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][asthma_duration_unit]", :class=> "form-control history_select" } %>
                              </span>
                            </span>



                            <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                              <%= pph.check_box :cns_disorder_stroke, {:class => "cns_disorder_stroke_history history_checked_unchecked", :id => "cns_disorder_stroke_history"}, "true", "false" %>
                              <label for="cns_disorder_stroke_history">CNS disorder/Stroke</label>
                            </span>
                            <span class= "cns_disorder_stroke_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                              <span class="history_since">since</span>
                              <span>
                                <%= pph.select :cns_disorder_stroke_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][cns_disorder_stroke_duration]", :class=> "form-control history_select"} %>
                              </span>
                              <span>
                                <%= pph.select :cns_disorder_stroke_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][cns_disorder_stroke_duration_unit]", :class=> "form-control history_select" } %>
                              </span>
                            </span>

                            <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                              <%= pph.check_box :hypothyroidism, {:class => "hypothyroidism_history history_checked_unchecked", :id => "hypothyroidism_history"}, "true", "false" %>
                              <label for="hypothyroidism_history">Hypothyroidism</label>
                            </span>
                            <span class= "hypothyroidism_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                              <span class="history_since">since</span>
                              <span>
                                <%= pph.select :hypothyroidism_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][hypothyroidism_duration]", :class=> "form-control history_select" } %>
                              </span>
                              <span>
                                <%= pph.select :hypothyroidism_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][hypothyroidism_duration_unit]", :class=> "form-control history_select" } %>
                              </span>
                            </span>

                            <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                              <%= pph.check_box :hyperthyroidism, {:class => "hyperthyroidism_history history_checked_unchecked", :id => "hyperthyroidism_history"}, "true", "false" %>
                              <label for="hyperthyroidism_history">Hyperthyroidism</label>
                            </span>
                            <span class= "hyperthyroidism_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                              <span class="history_since">since</span>
                              <span>
                                <%= pph.select :hyperthyroidism_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][hyperthyroidism_duration]", :class=> "form-control history_select" } %>
                              </span>
                              <span>
                                <%= pph.select :hyperthyroidism_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][hyperthyroidism_duration_unit]", :class=> "form-control history_select" } %>
                              </span>
                            </span>


                            <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                              <%= pph.check_box :hepatitis_cirrhosis, {:class => "hepatitis_cirrhosis_history history_checked_unchecked", :id => "hepatitis_cirrhosis_history"}, "true", "false" %>
                              <label for="hepatitis_cirrhosis_history">Hepatitis/Cirrhosis</label>
                            </span>
                            <span class= "hepatitis_cirrhosis_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                              <span class="history_since">since</span>
                              <span>
                                <%= pph.select :hepatitis_cirrhosis_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][hepatitis_cirrhosis_duration]", :class=> "form-control history_select" } %>
                              </span>
                              <span>
                                <%= pph.select :hepatitis_cirrhosis_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][hepatitis_cirrhosis_duration_unit]", :class=> "form-control history_select" } %>
                              </span>
                            </span>



                            <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                              <%= pph.check_box :renal_disorder, {:class => "renal_disorder_history history_checked_unchecked", :id => "renal_disorder_history"}, "true", "false" %>
                              <label for="renal_disorder_history">Renal disorder</label>
                            </span>
                            <span class= "renal_disorder_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                              <span class="history_since">since</span>
                              <span>
                                <%= pph.select :renal_disorder_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][renal_disorder_duration]", :class=> "form-control history_select" } %>
                              </span>
                              <span>
                                <%= pph.select :renal_disorder_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][renal_disorder_duration_unit]", :class=> "form-control history_select" } %>
                              </span>
                            </span>



                            <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                              <%= pph.check_box :acidity, {:class => "diabetes_history history_checked_unchecked", :id => "acidity_history"}, "true", "false" %>
                              <label for="acidity_history">Acidity</label>
                            </span>
                            <span class= "acidity_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                              <span class="history_since">since</span>
                              <span>
                                <%= pph.select :acidity_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][acidity_duration]", :class=> "form-control history_select" } %>
                              </span>
                              <span>
                                <%= pph.select :acidity_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][acidity_duration_unit]", :class=> "form-control history_select" } %>
                              </span>
                            </span>


                            <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                              <%= pph.check_box :on_insulin, {:class => "on_insulin_history history_checked_unchecked", :id => "on_insulin_history"}, "true", "false" %>
                              <label for="on_insulin_history">On Insulin</label>
                            </span>
                            <span class= "on_insulin_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                              <span class="history_since">since</span>
                              <span>
                                <%= pph.select :on_insulin_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][on_insulin_duration]", :class=> "form-control history_select" } %>
                              </span>
                              <span>
                                <%= pph.select :on_insulin_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][on_insulin_duration_unit]", :class=> "form-control history_select"} %>
                              </span>
                            </span>

                            <span class="ckbox ckbox-primary col-md-2" style="padding: 0px">
                              <%= pph.check_box :consanguinity, {:class => "consanguinity_history history_checked_unchecked", :id => "consanguinity_history"}, "true", "false" %>
                              <label for="consanguinity_history">Consanguinity</label>
                            </span>
                            <span class= "consanguinity_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                              <span class="history_since">since</span>
                              <span>
                                <%= pph.select :consanguinity_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][consanguinity_duration]", :class=> "form-control history_select"} %>
                              </span>
                              <span>
                                <%= pph.select :consanguinity_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][consanguinity_duration_unit]", :class=> "form-control history_select" } %>
                              </span>
                            </span>

                            <span class="ckbox ckbox-primary col-md-3" style="padding: 0px">
                              <%= pph.check_box :on_aspirin_blood_thinners, {:class => "on_aspirin_blood_thinners_history history_checked_unchecked", :id => "on_aspirin_blood_thinners_history"}, "true", "false" %>
                              <label for="on_aspirin_blood_thinners_history">On Aspirin/Blood Thinners</label>
                            </span>
                            <span class= "on_aspirin_blood_thinners_hide_show col-md-2" style="padding: 0px; margin-top: 3px;padding-bottom: 8px;">
                              <span class="history_since">since</span>
                              <span>
                                <%= pph.select :on_aspirin_blood_thinners_duration, 1 .. 75, { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][on_aspirin_blood_thinners_duration]", :class=> "form-control history_select"} %>
                              </span>
                              <span>
                                <%= pph.select :on_aspirin_blood_thinners_duration_unit, [["Days","days"],["Months","months"],["Years","years"]], { :prompt => 'Select' } ,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][on_aspirin_blood_thinners_duration_unit]", :class=> "form-control history_select" } %>
                              </span>
                            </span>
                          </div>

                              <br>



                              <div class="col-md-1">
                                <label class="control-label">Medical History</label>
                              </div>
                              <div class="col-md-5">
                                <%= pph.text_field :medical_history_comment,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][medical_history_comment]", :class=> "form-control", :style=> "margin: 0px 0px 5px 0px;;width: 90%;", :placeholder=>""} %>
                              </div>

                              <div class="col-md-1">
                                <label class="control-label">Family History</label>
                              </div>
                              <div class="col-md-5">
                                <%= pph.text_field :family_history_comment,{:name => "patient[patient_history_attributes][patientpersonalhistory_attributes][family_history_comment]", :class=> "form-control", :style=> "margin: 0px 0px 5px 0px;;width: 90%;", :placeholder=>""} %>
                              </div>

                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="row mb20 patient-special-status">
                  <div class="col-md-12">
                    <div class="row mb20">
                      <div class="col-md-3">
                        <label class="control-label">Special Status <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_special_status">clear</small></label>
                      </div>
                      <div class="col-md-5">
                        <div class="rdio rdio-primary col-md-6">
                          <%= patient.radio_button :specialstatus, "Pregnant", {:class => 'patientspecialstatus' } %>
                          <label for="patient_specialstatus_pregnant">&nbsp; Pregnant</label>&nbsp;
                        </div>
                        <div class="rdio rdio-primary col-md-6">
                          <%= patient.radio_button :specialstatus, "Breastfeeding", {:class => 'patientspecialstatus'} %>
                          <label for="patient_specialstatus_breastfeeding">&nbsp; Breastfeeding</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <!-- History Ends Here -->
            <!-- Allergies Start Here -->
              <div class="tab-pane mb10" id="tab4">
                <%= patient.fields_for :patient_history do |ph| %>
                  <%= ph.fields_for :patientallergyhistory do |pah| %>
                    <div class="row mb10">
                      <div class="col-md-2">
                        <span class="label label-primary">Drug Allergies</span>
                      </div>
                      <div class="col-md-10">
                          <div class="row mb10">
                            <div class="col-md-3">Antimicrobial Agents:</div>
                            <div class="col-md-8">
                              <%= pah.select :antimicrobialagents, @patient.get_drugallergies_list_attribute("antimicrobialagents"), {  } ,{:name => "patient[patient_history_attributes][patientallergyhistory_attributes][antimicrobialagents][]",multiple: true}%>
                            </div>
                          </div>
                          <div class="row mb10">
                            <div class="col-md-3">Antifungal Agents:</div>
                            <div class="col-md-8">
                              <%= pah.select :antifungalagents, @patient.get_drugallergies_list_attribute("antifungalagents"), {  } ,{:name => "patient[patient_history_attributes][patientallergyhistory_attributes][antifungalagents][]",multiple: true}%>
                            </div>
                            </div>
                            <div class="row mb10">
                              <div class="col-md-3">Antiviral Agents:</div>
                              <div class="col-md-8">
                                <%= pah.select :antiviralagents, @patient.get_drugallergies_list_attribute("antiviralagents"), {  } ,{:name => "patient[patient_history_attributes][patientallergyhistory_attributes][antiviralagents][]",multiple: true}%>
                              </div>
                            </div>
                            <div class="row mb10">
                              <div class="col-md-3">NSAIDS:</div>
                              <div class="col-md-8">
                                <%= pah.select :nsaids, @patient.get_drugallergies_list_attribute("nsaids"), {  } ,{:name => "patient[patient_history_attributes][patientallergyhistory_attributes][nsaids][]",multiple: true}%>
                              </div>
                            </div>
                        <div class="row mb10">
                          <div class="col-md-3">Eye Drops:</div>
                          <div class="col-md-8">
                            <%= pah.select :eyedrops, @patient.get_drugallergies_list_attribute("eyedrops"), {  } ,{:name => "patient[patient_history_attributes][patientallergyhistory_attributes][eyedrops][]",multiple: true}%>
                          </div>
                        </div>

                          </div>
                      </div>

                    <div class="row mb10">
                      <div class="col-md-2">
                        <span class="label label-primary">Contact Allergies</span>
                      </div>
                      <div class="col-md-9">
                        <%= pah.select :contact, @patient.get_contactallergies_list_attribute("contact"), {  } ,{:name => "patient[patient_history_attributes][patientallergyhistory_attributes][contact][]",multiple: true}%>
                      </div>
                    </div>
                    <div class="row mb10">
                      <div class="col-md-2">
                        <span class="label label-primary">Food Allergies</span>
                      </div>
                      <div class="col-md-9">
                        <%= pah.select :food, @patient.get_foodallergies_list_attribute("food"), {  } ,{:name => "patient[patient_history_attributes][patientallergyhistory_attributes][food][]",multiple: true}%>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2">
                        <span class="label label-primary">Others (free text)</span>
                      </div>
                      <div class="col-md-9">
                        <%= pah.text_area :others,:class => 'form-control', :rows => 2, :cols => 70 %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>

            <!-- Allergies Ends Here -->
            <!-- Submit -->
              <div class="row">
                <div class='col-md-12'>
                  <%= patient.submit "Register Patient & Create Appointment", class: "btn btn-success", remote: true, 'data-disable-with' => "Please wait.." %>
                  <button aria-hidden="true" class="btn btn-info signup-patient-form-close" data-dismiss="modal">Close</button>
                </div>
              </div>
            <!-- Close -->
          </div><!-- tab-content -->
        </div>

        <div class="col-md-3" id="booked-appointment-slots" style="background: #fcfcfc;border-left:1px solid #eee;">

          <%= render partial: '/opd_appointments/available_slot.html.erb' %>
        </div>
      </div>
    <!-- #basicWizard -->
<% end %>


<style type="text/css">
  .control-label {
    margin-bottom: 0px !important;
  }
  .addressline1, .addressline2 {
    margin-bottom: 11px;
  }
  .ckbox label, .rdio label {
    padding-left: 10px;
    cursor: pointer;
    margin-bottom: 8px !important;
    font-size: 11px;
  }
  .history_select {
    width: 37%;
    padding: 0px;
    display: inline;
  }
  .history_since {
    font-size: 11px;
    color: #4a535e;
  }

  .rdio-primary input[type="radio"]:checked + label.changed:before {
      border-color: #bbb;
  }

  .rdio-primary input[type="radio"]:checked + label.changed:after {
      background-color: #FFF;
  }
  [data-toggle='tooltip'] + .tooltip > .tooltip-inner {
    background: black;
    color:#ffffff;
    border: 1px solid #000000;
  }
</style>

<script>
    jQuery('#doctors-filter').change(function(){
      doctor_id = this.value
      date = jQuery('.appointmentdate').val()
      facility_id = jQuery('#appointment-facility-filter').val()
      $.ajax({
        url: '/opd_appointments/get_booked_appointments',
        type: 'get',
        data: {
          doctor_id: doctor_id,
          date: date,
          facility_id: facility_id
        },
        success: function(res) {
           // console.log('kfkgkdfj', res);
        },
      });
    })
    jQuery('.appointmentdate').change(function(){
      date = this.value
      doctor_id = jQuery('#doctors-filter').val()
      facility_id = jQuery('#appointment-facility-filter').val()
      $.ajax({
        url: '/opd_appointments/get_booked_appointments',
        type: 'get',
        data: {
          doctor_id: doctor_id,
          date: date,
          facility_id: facility_id
        },
        success: function(res) {
           // console.log('kfkgkdfj', res);
        },
      });
    })
    jQuery('#appointment-facility-filter').change(function(){
      // console.log('sjdkskdjksj')
      facility_id = this.value
      // console.log(facility_id)
      doctor_id = jQuery('#doctors-filter').val()
      date = jQuery('.appointmentdate').val()
      $.ajax({
        url: '/opd_appointments/get_booked_appointments',
        type: 'get',
        data: {
          doctor_id: doctor_id,
          date: date,
          facility_id: facility_id
        },
        success: function(res) {
           // console.log('kfkgkdfj', res);
          jQuery('#doctors-filter').trigger("change")
        },
      });
    })
    jQuery("#ref_doc_details").hide();
    jQuery("#internet").hide();
    jQuery("#family").hide();
    jQuery("#newspaper").hide();
    jQuery("#camp").hide();
    jQuery("#other_source").hide();
    jQuery("#patientregistrationsourcereferingdoctor").on('click', function() {
        jQuery("#ref_doc_details").show();
        jQuery("#camp").hide();
        jQuery("#other_source").hide();
        jQuery("#internet").hide();
        jQuery("#family").hide();
        jQuery("#newspaper").hide();
        jQuery("[id=patient_appointments_attributes_0_source_info]").val("");
        jQuery("[id=patientregistrationsourcefamily]").prop('checked', false);
        jQuery("[id=patientregistrationsource]").prop('checked', false);
    });
    jQuery("#patientregistrationsourcefamily").on('click', function() {
        jQuery("#family").show();
        jQuery("#camp").hide();
        jQuery("#other_source").hide();
        jQuery("#ref_doc_details").hide();
        jQuery("#internet").hide();
        jQuery("#newspaper").hide();
        jQuery("[id=patientregistrationsource]").prop('checked', false);
        jQuery("[id^=patient_appointments_attributes_0_ref_doc]").val("");
        jQuery("[id=patient_appointments_attributes_0_source_info]").val("");
    });
    jQuery("#patientregistrationsourceinternet").on('click', function() {
        jQuery("#internet").show();
        jQuery("#camp").hide();
        jQuery("#family").hide();
        jQuery("#other_source").hide();
        jQuery("#newspaper").hide();
        jQuery("#ref_doc_details").hide();
        jQuery("[id=patientregistrationsourcefamily]").prop('checked', false);
        jQuery("[id^=patient_appointments_attributes_0_ref_doc]").val("");
        jQuery("[id=patient_appointments_attributes_0_source_info]").val("");

    });
    jQuery("#patientregistrationsourcenewspaper").on('click', function() {
        jQuery("#newspaper").show();
        jQuery("#camp").hide();
        jQuery("#ref_doc_details").hide();
        jQuery("#internet").hide();
        jQuery("#other_source").hide();
        jQuery("#family").hide();
        jQuery("[id^=patient_appointments_attributes_0_ref_doc]").val("");
        jQuery("[id=patientregistrationsource]").prop('checked', false);
        jQuery("[id=patientregistrationsourcefamily]").prop('checked', false);
    });
    jQuery("#other").on('click', function() {
        jQuery("#camp").hide();
        jQuery("#other_source").show();
        jQuery("#newspaper").hide();
        jQuery("#ref_doc_details").hide();
        jQuery("#internet").hide();
        jQuery("#family").hide();
        jQuery("[id^=patient_appointments_attributes_0_ref_doc]").val("");
        jQuery("[id=patientregistrationsource]").prop('checked', false);
        jQuery("[id=patientregistrationsourcefamily]").prop('checked', false);
    });
    jQuery("#none").on('click', function() {
        jQuery("#camp").hide();
        jQuery("#other_source").hide();
        jQuery("#newspaper").hide();
        jQuery("#ref_doc_details").hide();
        jQuery("#internet").hide();
        jQuery("#family").hide();
        jQuery("[id^=patient_appointments_attributes_0_ref_doc]").val("");
        jQuery("[id=patientregistrationsource]").prop('checked', false);
        jQuery("[id=patientregistrationsourcefamily]").prop('checked', false);
    });
    jQuery("#patientregistrationsourcecamp").on('click', function() {
        jQuery("#camp").show();
        jQuery("#other_source").hide();
        jQuery("#newspaper").hide();
        jQuery("#ref_doc_details").hide();
        jQuery("#internet").hide();
        jQuery("#family").hide();
        jQuery("[id^=patient_appointments_attributes_0_ref_doc]").val("");
        jQuery("[id=patientregistrationsource]").prop('checked', false);
        jQuery("[id=patientregistrationsourcefamily]").prop('checked', false);
    });
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $(input).parent().find(".thumb").attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    datepicker_options = {
      dateFormat: "dd/mm/yy"
    };
    $(".source_datepicker").datepicker(datepicker_options)


    if ($("#glaucoma_history").prop("checked")== true){
      $(".glaucoma_hide_show").show()
    }
    else {
      $(".glaucoma_hide_show").hide()
    }
    if ($("#retinal_detachment_history").prop("checked")== true){
      $(".retinal_detachment_hide_show").show()
    }
    else {
      $(".retinal_detachment_hide_show").hide()
    }
    if ($("#glasses_history").prop("checked")== true){
      $(".glasses_hide_show").show()
    }
    else {
      $(".glasses_hide_show").hide()
    }
    if ($("#uveitis_history").prop("checked")== true){
      $(".uveitis_hide_show").show()
    }
    else {
      $(".uveitis_hide_show").hide()
    }
    if ($("#eye_surgery_history").prop("checked")== true){
      $(".eye_surgery_hide_show").show()
    }
    else {
      $(".eye_surgery_hide_show").hide()
    }
    if ($("#eye_disease_history").prop("checked")== true){
      $(".eye_disease_hide_show").show()
    }
    else {
      $(".eye_disease_hide_show").hide()
    }
    if ($("#retinal_laser_history").prop("checked")== true){
      $(".retinal_laser_hide_show").show()
    }
    else {
      $(".retinal_laser_hide_show").hide()
    }
    if ($("#consanguinity_history").prop("checked")== true){
      $(".consanguinity_hide_show").show()
    }
    else {
      $(".consanguinity_hide_show").hide()
    }




    if ($("#diabetes_history").prop("checked")== true){
      $(".diabetes_hide_show").show()
    }
    else {
      $(".diabetes_hide_show").hide()
    }
    if ($("#hypertension_history").prop("checked")== true){
      $(".hypertension_hide_show").show()
    }
    else {
      $(".hypertension_hide_show").hide()
    }
    if ($("#alcoholism_history").prop("checked")== true){
      $(".alcoholism_hide_show").show()
    }
    else {
      $(".alcoholism_hide_show").hide()
    }
    if ($("#smoking_tobacco_history").prop("checked")== true){
      $(".smoking_tobacco_hide_show").show()
    }
    else {
      $(".smoking_tobacco_hide_show").hide()
    }
    if ($("#steroid_intake_history").prop("checked")== true){
      $(".steroid_intake_hide_show").show()
    }
    else {
      $(".steroid_intake_hide_show").hide()
    }
    if ($("#drug_abuse_history").prop("checked")== true){
      $(".drug_abuse_hide_show").show()
    }
    else {
      $(".drug_abuse_hide_show").hide()
    }
    if ($("#hiv_aids_history").prop("checked")== true){
      $(".hiv_aids_hide_show").show()
    }
    else {
      $(".hiv_aids_hide_show").hide()
    }
    if ($("#cancer_tumor_history").prop("checked")== true){
      $(".cancer_tumor_hide_show").show()
    }
    else {
      $(".cancer_tumor_hide_show").hide()
    }
    if ($("#cardiac_disorder_history").prop("checked")== true){
      $(".cardiac_disorder_hide_show").show()
    }
    else {
      $(".cardiac_disorder_hide_show").hide()
    }

    if ($("#rheumatoid_arthritis_history").prop("checked")== true){
      $(".rheumatoid_arthritis_hide_show").show()
    }
    else {
      $(".rheumatoid_arthritis_hide_show").hide()
    }

    if ($("#tuberculosis_history").prop("checked")== true){
      $(".tuberculosis_hide_show").show()
    }
    else {
      $(".tuberculosis_hide_show").hide()
    }
    if ($("#asthma_history").prop("checked")== true){
      $(".asthma_hide_show").show()
    }
    else {
      $(".asthma_hide_show").hide()
    }
    if ($("#cns_disorder_stroke_history").prop("checked")== true){
      $(".cns_disorder_stroke_hide_show").show()
    }
    else {
      $(".cns_disorder_stroke_hide_show").hide()
    }
    if ($("#hypothyroidism_history").prop("checked")== true){
      $(".hypothyroidism_hide_show").show()
    }
    else {
      $(".hypothyroidism_hide_show").hide()
    }
    if ($("#hyperthyroidism_history").prop("checked")== true){
      $(".hyperthyroidism_hide_show").show()
    }
    else {
      $(".hyperthyroidism_hide_show").hide()
    }
    if ($("#hepatitis_cirrhosis_history").prop("checked")== true){
      $(".hepatitis_cirrhosis_hide_show").show()
    }
    else {
      $(".hepatitis_cirrhosis_hide_show").hide()
    }
    if ($("#renal_disorder_history").prop("checked")== true){
      $(".renal_disorder_hide_show").show()
    }
    else {
      $(".renal_disorder_hide_show").hide()
    }
    if ($("#acidity_history").prop("checked")== true){
      $(".acidity_hide_show").show()
    }
    else {
      $(".acidity_hide_show").hide()
    }
    if ($("#on_insulin_history").prop("checked")== true){
      $(".on_insulin_hide_show").show()
    }
    else {
      $(".on_insulin_hide_show").hide()
    }
    if ($("#on_aspirin_blood_thinners_history").prop("checked")== true){
      $(".on_aspirin_blood_thinners_hide_show").show()
    }
    else {
      $(".on_aspirin_blood_thinners_hide_show").hide()
    }



    $(".history_checked_unchecked").on("click",function(){
      if ($("#glaucoma_history").prop("checked")== true){
        $(".glaucoma_hide_show").show()
      }
      else {
        $(".glaucoma_hide_show").hide()
      }
    })
    $(".history_checked_unchecked").on("click",function(){
      if ($("#retinal_detachment_history").prop("checked")== true){
        $(".retinal_detachment_hide_show").show()
      }
      else {
        $(".retinal_detachment_hide_show").hide()
      }
    })
    $(".history_checked_unchecked").on("click",function(){
      if ($("#glasses_history").prop("checked")== true){
        $(".glasses_hide_show").show()
      }
      else {
        $(".glasses_hide_show").hide()
      }
    })
    $(".history_checked_unchecked").on("click",function(){
      if ($("#uveitis_history").prop("checked")== true){
        $(".uveitis_hide_show").show()
      }
      else {
        $(".uveitis_hide_show").hide()
      }
    })
    $(".history_checked_unchecked").on("click",function(){
      if ($("#eye_disease_history").prop("checked")== true){
        $(".eye_disease_hide_show").show()
      }
      else {
        $(".eye_disease_hide_show").hide()
      }
    })
    $(".history_checked_unchecked").on("click",function(){
      if ($("#eye_surgery_history").prop("checked")== true){
        $(".eye_surgery_hide_show").show()
      }
      else {
        $(".eye_surgery_hide_show").hide()
      }
    })
    $(".history_checked_unchecked").on("click",function(){
      if ($("#retinal_laser_history").prop("checked")== true){
        $(".retinal_laser_hide_show").show()
      }
      else {
        $(".retinal_laser_hide_show").hide()
      }
    })
    $(".history_checked_unchecked").on("click",function(){
      if ($("#consanguinity_history").prop("checked")== true){
        $(".consanguinity_hide_show").show()
      }
      else {
        $(".consanguinity_hide_show").hide()
      }
    })




    $(".history_checked_unchecked").on("click",function(){
      if ($("#diabetes_history").prop("checked")== true){
        $(".diabetes_hide_show").show()
      }
      else {
        $(".diabetes_hide_show").hide()
      }
    })
    $(".history_checked_unchecked").on("click",function(){
      if ($("#hypertension_history").prop("checked")== true){
        $(".hypertension_hide_show").show()
      }
      else {
        $(".hypertension_hide_show").hide()
      }
    })
    $(".history_checked_unchecked").on("click",function(){
      if ($("#alcoholism_history").prop("checked")== true){
        $(".alcoholism_hide_show").show()
      }
      else {
        $(".alcoholism_hide_show").hide()
      }
    })
    $(".history_checked_unchecked").on("click",function(){
      if ($("#smoking_tobacco_history").prop("checked")== true){
        $(".smoking_tobacco_hide_show").show()
      }
      else {
        $(".smoking_tobacco_hide_show").hide()
      }
    })
    $(".history_checked_unchecked").on("click",function(){
      if ($("#steroid_intake_history").prop("checked")== true){
        $(".steroid_intake_hide_show").show()
      }
      else {
        $(".steroid_intake_hide_show").hide()
      }
    })
    $(".history_checked_unchecked").on("click",function(){
      if ($("#drug_abuse_history").prop("checked")== true){
        $(".drug_abuse_hide_show").show()
      }
      else {
        $(".drug_abuse_hide_show").hide()
      }
    })
    $(".history_checked_unchecked").on("click",function(){
      if ($("#hiv_aids_history").prop("checked")== true){
        $(".hiv_aids_hide_show").show()
      }
      else {
        $(".hiv_aids_hide_show").hide()
      }
    })
    $(".history_checked_unchecked").on("click",function(){
      if ($("#cancer_tumor_history").prop("checked")== true){
        $(".cancer_tumor_hide_show").show()
      }
      else {
        $(".cancer_tumor_hide_show").hide()
      }
    })
    $(".history_checked_unchecked").on("click",function(){
      if ($("#cardiac_disorder_history").prop("checked")== true){
        $(".cardiac_disorder_hide_show").show()
      }
      else {
        $(".cardiac_disorder_hide_show").hide()
      }
    })

    $(".history_checked_unchecked").on("click",function(){
      if ($("#rheumatoid_arthritis_history").prop("checked")== true){
        $(".rheumatoid_arthritis_hide_show").show()
      }
      else {
        $(".rheumatoid_arthritis_hide_show").hide()
      }
    })
    $(".history_checked_unchecked").on("click",function(){
      if ($("#tuberculosis_history").prop("checked")== true){
        $(".tuberculosis_hide_show").show()
      }
      else {
        $(".tuberculosis_hide_show").hide()
      }
    })
    $(".history_checked_unchecked").on("click",function(){
      if ($("#asthma_history").prop("checked")== true){
        $(".asthma_hide_show").show()
      }
      else {
        $(".asthma_hide_show").hide()
      }
    })
    $(".history_checked_unchecked").on("click",function(){
      if ($("#cns_disorder_stroke_history").prop("checked")== true){
        $(".cns_disorder_stroke_hide_show").show()
      }
      else {
        $(".cns_disorder_stroke_hide_show").hide()
      }
    })
    $(".history_checked_unchecked").on("click",function(){
      if ($("#hypothyroidism_history").prop("checked")== true){
        $(".hypothyroidism_hide_show").show()
      }
      else {
        $(".hypothyroidism_hide_show").hide()
      }
    })
    $(".history_checked_unchecked").on("click",function(){
      if ($("#hyperthyroidism_history").prop("checked")== true){
        $(".hyperthyroidism_hide_show").show()
      }
      else {
        $(".hyperthyroidism_hide_show").hide()
      }
    })
    $(".history_checked_unchecked").on("click",function(){
      if ($("#hepatitis_cirrhosis_history").prop("checked")== true){
        $(".hepatitis_cirrhosis_hide_show").show()
      }
      else {
        $(".hepatitis_cirrhosis_hide_show").hide()
      }
    })
    $(".history_checked_unchecked").on("click",function(){
      if ($("#renal_disorder_history").prop("checked")== true){
        $(".renal_disorder_hide_show").show()
      }
      else {
        $(".renal_disorder_hide_show").hide()
      }
    })
    $(".history_checked_unchecked").on("click",function(){
      if ($("#acidity_history").prop("checked")== true){
        $(".acidity_hide_show").show()
      }
      else {
        $(".acidity_hide_show").hide()
      }
    })
    $(".history_checked_unchecked").on("click",function(){
      if ($("#on_insulin_history").prop("checked")== true){
        $(".on_insulin_hide_show").show()
      }
      else {
        $(".on_insulin_hide_show").hide()
      }
    })
    $(".history_checked_unchecked").on("click",function(){
      if ($("#on_aspirin_blood_thinners_history").prop("checked")== true){
        $(".on_aspirin_blood_thinners_hide_show").show()
      }
      else {
        $(".on_aspirin_blood_thinners_hide_show").hide()
      }
    })

    //to clear the specialstatus
    if ($('input[name="patient[specialstatus]"]:checked').val() == undefined){
      $("#clear_special_status").hide()
    }
    else{
      $("#clear_special_status").show()
    }

    $(".patientspecialstatus").on("click",function(){
      $('input[name="patient[specialstatus]"]:checked').siblings("label").removeClass('changed');
      setTimeout(function(){
        if ($('input[name="patient[specialstatus]"]:checked').val() == undefined){
          $("#clear_special_status").hide()
        }
        else{
          $("#clear_special_status").show()
        }
      }, 200);
    });

    $("#clear_special_status").on("click",function(){
      $('input[name="patient[specialstatus]"]:checked').val("");
      $('input[name="patient[specialstatus]"]:checked').siblings("label").addClass('changed');
      // $('input[name="patient[specialstatus]"]:checked').prop('checked', false);
      $("#clear_special_status").hide()
    });



</script>
<script type="text/javascript">
  $('[data-toggle="tooltip"]').tooltip();
</script>