jQuery("#appointment-modal").modal("hide");
// if(jQuery('#appointments-schedule-table').length) {
  // jQuery('#appointments-schedule-table').dataTable().fnDraw()
  // jQuery("#appointment-modal").modal("hide")
<% if current_user.role_ids.include?499992366 #counsellor%>
    jQuery("#counsellor-appointment-modal").modal("hide");
    notice = new PNotify({ title: 'Success', text: 'Appointment created for patient on <%= Appointment.find(@appointment_id).appointmentdate.strftime("%d %b,%y")%>', type: 'success' }); notice.get().click(function(){ notice.remove() });
<%end%>

jQuery("#referral-appointment-modal").modal("hide");

if($(".appointment-panel").length > 0){
  var doctor_id = $("#sidebar_doctors_appointment .active").find('a').attr('data-doctor-id')
  if("<%= current_facility.clinical_workflow %>" == "true"){
    var active_tab = 'not_arrived'
    var appointment_id =  "<%= @appointment.id.to_s %>"
    var appointmentdate =  "<%= @appointment.appointmentdate %>"
  } else {
    var active_tab = 'all'
    var appointment_id =  "<%= @appointment.id.to_s %>"
    var appointmentdate = "<%= @appointment.appointmentdate %>"
  }
  if (<%= current_user.role_ids.include?499992366%>){
    var active_tab = 'today'
    var appointment_id = '<%= @appointment_id%>'
    var appointmentdate = '<%= Date.current %>'
  }
  refresh_appointment_management(doctor_id,active_tab,appointment_id,appointmentdate)
}

// Appointment Calendar
if($(".appointment-calendar-panel").length > 0) {
  $("#opd-calendar").fullCalendar('refetchEvents');
}
 
//  if($("#show_calender_view").length){
//   // jQuery('#appointments-schedule-table').dataTable().fnDraw()

//   //Hide Modal
//   //Reload Data
//      var doctor_id = $("#sidebar_doctors_appointment .active").find('a').attr('data-doctor-id')
//      refresh_appointment_management(doctor_id,'all','<%= @appointment.id%>',"<%= Date.current %>")
// } else if(jQuery("#calendar").length) {
//   jQuery("#calendar").fullCalendar('refetchEvents')
//   jQuery("#appointment-modal").modal("hide")
// } else {
//   // jQuery('#appointment-modal .modal-body').html('<h3>Appointment Created</h3> <button="" aria-hidden="true" class="btn btn-info signup-patient-form-close" data-dismiss="modal">Close</button>')
//   // jQuery("#appointment-modal").modal("hide")
//   jQuery('#appointment-modal .modal-hg-patientreg ').addClass('modal-sm')
// 	jQuery('#appointment-modal .modal-header').html('<button type="button" class="close dash_reload" data-dismiss="modal">&times;</button><h4 class="modal-title">Appointment Created</h4>')
//   jQuery('#appointment-modal .modal-body').html('<h5 style="text-align:center">The Appointment has Been Created.</h5>')
//   jQuery('.dash_reload').on("click",function(){
//   	location.reload();
//   });
// }

