jQuery("#dilation-div").html("<%= escape_javascript(render 'patients/dilation_page') %>")

$("#appointment-modal").modal('hide')

function startTimer(seconds,minutes,display) {
    setInterval(function () {
      seconds = parseInt(seconds % 60) + 1 ;
      minutes = parseInt(minutes)
      if (seconds % 60 == 0)
      {
        minutes = (minutes % 60) + 1 ;
      }
        display.text((minutes).toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false}) + ":" + (seconds).toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false}));
    }, 1000);
}



jQuery(function ($) {
    display = $("#dilation_time_<%= @appointment.id.to_s%>");
    var time =  parseInt('<%= Time.current - @appointment.dilation_start_time %>')
    var seconds = time % 60
    var minutes = time / 60
    startTimer(seconds,minutes,display);
});



// Appointment List
if($(".appointment-panel").length > 0){
  $(".appointment_today").find("[data-appointment-id='" + $("#appointment_refresher").val() + "']").find('#dilation-state').html('<span class="dilated_d badge badge-danger">D</span>')
  $("#patient-dilation-section").html("<%= escape_javascript(render 'outpatients/appointment/appointment_details/patient_dilation_section.html.erb') %>")
}

// Appointment Calendar
if($(".appointment-calendar-panel").length > 0) {
  $(".appointments_calendar_list").find("[data-appointment-id='" + $("#appointment_refresher").val() + "']").find('#dilation-state').html('<span class="dilated_d badge badge-danger">D</span>')
  $("#patient-dilation-section").html("<%= escape_javascript(render 'outpatients/appointment/appointment_details/patient_dilation_section.html.erb') %>")
}


// OLD WAY

// var doctor_id = $("#sidebar_doctors_appointment .active").find('a').attr('data-doctor-id')
// var active_tab = $(".tab_active").find(".active").attr('data-tab-id')
// var appointment_id = $(".appointment_today").find('.active').find('.active-appointment').attr('data-appointment-id')
// refresh_appointment_management(doctor_id,active_tab,appointment_id)

// $("#opd-calendar").fullCalendar('refetchEvents');