jQuery('#booked-appointment-slots').html("<%= escape_javascript(render 'available_slot') %>")
jQuery('.appointment_types').html("<%= escape_javascript(render 'appointment_types') %>")

if ($('.opdrecord_appointment_types').length > 0) {
  jQuery('.opdrecord_appointment_types').html("<%= escape_javascript(render 'opd_appointment_types') %>")
}

<%unless @flag == "dateselect"%>
  jQuery('.opd_appointment_types').html("<%= escape_javascript(render 'opd_appointment_types') %>")
<%end%>

jQuery('.counsellor_opd_appointment_types').html("<%= escape_javascript(render 'counsellor_opd_appointment_types') %>")
jQuery('.ipd_appointment_types').html("<%= escape_javascript(render 'ipd_appointment_types') %>")

$("#refresh_appointment_type").html("")
$("#refresh_appointment_type").empty();
$("#refresh_appointment_type").html("<%= escape_javascript(render 'opd_appointment_types') %>")

// for follow-up in opd-record section
// -------------------------------------------------
var doctors = <%= raw @doctors %>;

if ($('.advice_appointment_doctor_id').length > 0) {
  set_doctors_list('.advice_appointment_doctor_id', doctors, "No Doctors Available for this specialty")
}

// for follow-up in IPD section
// -------------------------------------------------
if ($('#inpatient_ipd_record_discharge_note_attributes_followup_doctor_id').length > 0) {
  set_doctors_list("#inpatient_ipd_record_discharge_note_attributes_followup_doctor_id", doctors, "No Doctors Available for this specialty")
}

  // for appointment-category in follow-up, OPD section
// -------------------------------------------------
var sub_appointment_types = <%= raw @sub_appointment_types %>;

if ($('.opdrecord_appointment_category').length > 0) {
  // set_doctors_list(".opdrecord_appointment_category", sub_appointment_types, "No Appointment Types available")
}

  // for appointment-category in follow-up, IPD section
// -------------------------------------------------
if ($('#inpatient_ipd_record_discharge_note_attributes_appointment_category_id').length > 0) {
  // set_doctors_list('#inpatient_ipd_record_discharge_note_attributes_appointment_category_id', sub_appointment_types, "No Appointment Types available")
}

function set_doctors_list(target_, data, text) {
  $(target_).children().remove()

  if (data.length == 0){
    $(target_).append($("<option></option>").attr("value","").text(text));
  } else {
    $.each(data, function(key, value) {
      if(value[1] == "<%= params[:doctor_id] %>"){
        $(target_).append($("<option></option>").attr("value", value[1]).attr("selected", "selected").text(value[0]));
      } else {
        $(target_).append($("<option></option>").attr("value", value[1]).text(value[0]));
      }
    });
  }
  $(target_).css("background-color",'rgb(247, 232, 225)')
  setTimeout(function(argument) { $(target_).css("background-color",'')  }, 100)
}

$(".opdfollowuptime-timepicker").on('change', function(){
  if($('.opdfollowupdate-datepicker').hasClass('hasDatepicker')){
    timepicker_changed()
  }
})
