<div style="font-family: <%= UsersSetting.find_by(user_id: current_user.id).font_style %>">
<h3 style="text-align:center; border-bottom: 1px solid #aaa;font-weight:bold;">Appointment List</h3>
<h5><b>Date :</b> <span style="background-color:#eee;padding:2px;"><%= Date.current.strftime("%Y-%m-%d") %></span></h5>

<table class="pcs-table">
<thead>
  <tr>
    <th width="5%" style="font-weight:bold;">S.No</th>
    <th width="6%" style="font-weight:bold;">Visit</th>
    <th width="22%" style="font-weight:bold;">Patient Name</th>
    <th width="5%" style="font-weight:bold;">Gender</th>
    <th width="5%" style="font-weight:bold;">Age</th>
    <th width="15%" style="font-weight:bold;">Mobile Number</th>
    <th width="15%" style="font-weight:bold;">Time</th>
  </tr>
</thead>
<tbody>
  <% @appointmentlist.each.with_index do |appointment, i| %>
    <tr>
      <td><%= i+1 %></td>
      <td>
        <%= appointment.appointment_type.label %>
      </td>
      <td><%= appointment.patient.fullname %></td>
      <td><%= appointment.patient.gender %></td>
      <td><%= appointment.patient.age %></td>
      <td><%= appointment.patient.mobilenumber %></td>
      <td><%= "#{Time.strptime("#{appointment.start_time}", "%Y-%m-%d %H:%M:%S").strftime("%I:%M %p")}" %></td>
    </tr>
  <% end %>
</tbody>


</table>

</div>
<style type="text/css">

.pcs-table, .pcs-table th, .pcs-table td {
  border: 1px solid #eeeeee;
  text-align: center;
  font-size: 10px;
  padding: 5px 10px;
}

</style>