<div style="font-family: <%= UsersSetting.find_by(user_id: current_user.id).font_style %>">
<h4 style="text-align:center;border-bottom:1px solid #aaa;">OUT PATIENT RECORD</h4>
<!-- Patient Appointment Info -->
<div class="row mb5" style="border-bottom:1px solid #eee;">
	<div class="col-md-3">
		<span style="font-size:12px;"><b>Date:</b></span>
	</div>
	<div class="col-md-3">
		<span style="font-size:12px;"><%= @appointment.appointmentdate.strftime("%d-%B-%y") %> (<%= @appointment.end_time.strftime("%H:%M") %>)</span>
	</div>
	<div class="col-md-3">
		<span style="font-size:12px;"><b>Doctor Name:</b></span>
	</div>
	<div class="col-md-3">
		<span style="font-size:12px;"><%= User.find_by(:id => @appointment.consultant_id).fullname %></span>
	</div>
	<div class="col-md-3">
		<span style="font-size:12px;"><b>Patient Name:</b></span>
	</div>
	<div class="col-md-3">
		<span style="font-size:12px;"><%= @appointment.patient.fullname %></span>
	</div>
	<div class="col-md-3">
		<span style="font-size:12px;"><b>Gender/Age:</b></span>
	</div>
	<div class="col-md-3">
		<span style="font-size:12px;"><% if @appointment.patient.gender? %><%= @appointment.patient.gender %><% else %>&nbsp;&nbsp;&nbsp;&nbsp;<% end %>/<%= @appointment.patient.age %></span>
	</div>
</div>

<div class="row mb5" style="border-bottom:1px solid #eee;">
	<div class="col-md-12 mb5">
		<span style="font-size:12px;"><b>Chief Complaints :</b></span>
	</div>
	<div class="col-md-6 mb10">
		<span style="font-size:12px;"><b>History :</b></span>
	</div>
	<div class="col-md-6">
		<span style="font-size:12px;"><b>Medical History :</b></span>
	</div>
</div>

<div class="row">
	<div class="col-md-2">
		<span style="font-size:12px;color:#fff;"><b>|</b></span><br>
		<span style="font-size:11px;"><b>Visual Acuity :</b></span><br>
		<span style="font-size:11px;"><b>P.H.</b></span><br>
		<span style="font-size:11px;"><b>With Glasses :</b></span><br>
		<span style="font-size:11px;"><b>Refraction :</b></span><br>
	</div>
	<div class="col-md-5" style="border-right:1px solid #eee;">
		<p style="font-size:12px;text-align:center;margin-bottom:8px;"><b>RE</b></p>
		<p style="font-size:12px;text-align:center;">_ _ _ _ _ _ _ _ _ _</p>
		<p style="font-size:12px;text-align:center;">_ _ _ _ _ _ _ _ _ _</p>
		<p style="font-size:12px;text-align:center;">_ _ _ _ _ _ _ _ _ _</p>
		<p style="font-size:72px;text-align:center;margin-top:-20px;">+</p>
	</div>
	<div class="col-md-5">
		<p style="font-size:12px;text-align:center;margin-bottom:8px;"><b>LE</b></p>
		<p style="font-size:12px;text-align:center;">_ _ _ _ _ _ _ _ _ _</p>
		<p style="font-size:12px;text-align:center;">_ _ _ _ _ _ _ _ _ _</p>
		<p style="font-size:12px;text-align:center;">_ _ _ _ _ _ _ _ _ _</p>
		<p style="font-size:72px;text-align:center;margin-top:-20px;">+</p>
	</div>
</div>

<div class="row mb5" style="border-bottom:1px solid #eee;">
	<div class="col-md-2">
		<span style="font-size:11px;"><b>AR :</b></span><br>
		<span style="font-size:12px;color:#fff;"><b>|</b></span><br>
		<span style="font-size:12px;color:#fff;"><b>|</b></span><br>
		<span style="font-size:11px;"><b>Subjective :</b></span><br>
	</div>
	<div class="col-md-5" style="border-right:1px solid #eee;">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="font-size:10px;padding:2px;text-align:center;">SPH</th>
					<th style="font-size:10px;padding:2px;text-align:center;">CYL</th>
					<th style="font-size:10px;padding:2px;text-align:center;">AXIS</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th style="padding:10px;"></th>
					<th style="padding:10px;"></th>
					<th style="padding:10px;"></th>
				</tr>
				<tr>
					<th style="padding:10px;"></th>
					<th style="padding:10px;"></th>
					<th style="padding:10px;"></th>
				</tr>
				<tr>
					<th style="padding:10px;"></th>
					<th style="padding:10px;"></th>
					<th style="padding:10px;"></th>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-5">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="font-size:10px;padding:2px;text-align:center;">SPH</th>
					<th style="font-size:10px;padding:2px;text-align:center;">CYL</th>
					<th style="font-size:10px;padding:2px;text-align:center;">AXIS</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th style="padding:10px;"></th>
					<th style="padding:10px;"></th>
					<th style="padding:10px;"></th>
				</tr>
				<tr>
					<th style="padding:10px;"></th>
					<th style="padding:10px;"></th>
					<th style="padding:10px;"></th>
				</tr>
				<tr>
					<th style="padding:10px;"></th>
					<th style="padding:10px;"></th>
					<th style="padding:10px;"></th>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<p style="font-size:12px;text-align:center;margin-left:75px;"><b>EXAMINATION</b></p>
	</div>
	<div class="col-md-2">
		<span style="font-size:10px;"><b>Muscle Balance</b></span><br>
		<span style="font-size:11px;"><b>Lids</b></span><br>
		<span style="font-size:12px;color:#fff;"><b>|</b></span><br>
		<span style="font-size:11px;"><b>Conjunctiva</b></span><br>
		<span style="font-size:11px;"><b>Cornea</b></span><br>
		<span style="font-size:11px;"><b>Sclera</b></span><br>
		<span style="font-size:9px;"><b>Anterior Chamber</b></span><br>
		<span style="font-size:11px;"><b>Iris</b></span><br>
		<span style="font-size:11px;"><b>Pupil</b></span><br>
		<span style="font-size:12px;color:#fff;"><b>|</b></span><br>
		<span style="font-size:11px;"><b>Lens</b></span><br>
		<span style="font-size:9px;"><b>Anterior Vitreous</b></span><br>
	</div>
	<div class="col-md-5" style="border-right:1px solid #eee;">
		<span style="font-size:12px;color:#fff;"><b>|</b></span><br>
		<span style="font-size:12px;color:#fff;"><b>|</b></span><br>
		<span style="font-size:12px;color:#fff;"><b>|</b></span><br>
		<span style="font-size:12px;color:#fff;"><b>|</b></span><br>
		<div style="width:75px;height:75px;border:1px solid #333;border-radius:100%;margin:0 auto;"></div>
		<span style="font-size:12px;color:#fff;"><b>|</b></span><br>
		<span style="font-size:12px;color:#fff;"><b>|</b></span><br>
		<span style="font-size:12px;color:#fff;"><b>|</b></span><br>
		<span style="font-size:12px;color:#fff;"><b>|</b></span><br>
	</div>
	<div class="col-md-5">
		<span style="font-size:12px;color:#fff;"><b>|</b></span><br>
		<span style="font-size:12px;color:#fff;"><b>|</b></span><br>
		<span style="font-size:12px;color:#fff;"><b>|</b></span><br>
		<span style="font-size:12px;color:#fff;"><b>|</b></span><br>
		<div style="width:75px;height:75px;border:1px solid #333;border-radius:100%;margin:0 auto;"></div>
		<span style="font-size:12px;color:#fff;"><b>|</b></span><br>
		<span style="font-size:12px;color:#fff;"><b>|</b></span><br>
		<span style="font-size:12px;color:#fff;"><b>|</b></span><br>
		<span style="font-size:12px;color:#fff;"><b>|</b></span><br>
	</div>
</div>

<div class="page_break_quickeye"></div>

<div class="row mb5" style="margin-bottom:50px;">
	<div class="col-md-2">
		<span style="font-size:11px;"><b>Fundoscopy :</b></span><br>
	</div>
	<div class="col-md-5">
		<p style="font-size:12px;text-align:center;margin-bottom:8px;"><b>RE</b></p>
		<div style="width:125px;height:125px;border:1px solid #333;border-radius:100%;margin:0 auto;"></div>
	</div>
	<div class="col-md-5">
		<p style="font-size:12px;text-align:center;margin-bottom:8px;"><b>LE</b></p>
		<div style="width:125px;height:125px;border:1px solid #333;border-radius:100%;margin:0 auto;"></div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="font-size:12px;padding:2px;"><b>Intraocular Pressure:</b></th>
					<th style="font-size:12px;padding:2px;text-align:center;"><b>R</b></th>
					<th style="font-size:12px;padding:2px;text-align:center;"><b>L</b></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="padding:10px;">NCT</td>
					<td style="padding:10px;text-align:right;">mm of Hg</td>
					<td style="padding:10px;text-align:right;">mm of Hg</td>
				</tr>
				<tr>
					<td style="padding:10px;">Applanation Time :</td>
					<td style="padding:10px;text-align:right;">mm of Hg</td>
					<td style="padding:10px;text-align:right;">mm of Hg</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row" style="margin-bottom:50px;">
	<div class="col-md-12">
		<span style="font-size:11px;"><b>Lacrimal System :</b></span><br>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
		<span style="font-size:11px;"><b>Diagnosis :</b></span><br>
	</div>
	<div class="col-md-10">
		<table class="table table-bordered">
			<tr>
				<td>RE</td>
			</tr>
			<tr>
				<td>LE</td>
			</tr>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<span style="font-size:11px;"><b>Treatment/Investigation :</b></span><br>
	</div>
</div>
</div>


<style type="text/css">
	.page_break_quickeye {
		page-break-after: always;
	}
</style>