<%= javascript_tag do %>
  $(document).ready(function(){
    $(".navbar-main").find("li").on('click', function(){
      $(".navbar-main").find("li").removeClass("activate");
      $(this).addClass("activate");
    });
    $(".logo").on('click', function(){
      $(".navbar-main").find("li").removeClass("activate");
    });
  });
<% end %>
<!-- NEW NAVBAR GOES FROM HERE -->
<nav class="navbar navbar-default navbar-fixed-top" style="background-color:#fff; height:40px;">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" style="margin-top:12px;">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if current_user.role_ids.include?(499992366) %>
        <%= image_tag "foss_navbar.png", :class => "logo", style: 'width: 25px;' %>
      <% elsif current_user.role_ids.include?(46255001) %>
        <%= link_to "/prescriptions/pharmacy/" + Date.current.strftime('%d-%b-%Y'), :data => {:remote => true}, :class => "ps main-logo", :id => "main-logo" do %><%= image_tag "hglogo.png", :class => "logo", width: '130' %><% end %>
      <% elsif current_user.role_ids.include?(387619007) %>
        <%= link_to "/prescriptions/optical/" + Date.current.strftime('%d-%b-%Y'), :data => {:remote => true}, :class => "ps main-logo", :id => "main-logo" do %><%= image_tag "hglogo.png", :class => "logo", width: '130' %><% end %>
      <% else %>
        <%= link_to "/dashboard", :data => {:remote => true}, :class => "ps main-logo", :id => "main-logo" do %><%= image_tag "foss_navbar.png", :class => "logo", style: 'width: 25px;' %><% end %>
      <% end %>
    </div>
    <!-- Brand and toggle get grouped for better mobile display end -->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% unless current_organisation['account_expiry_date'] == nil || current_organisation['account_expiry_date'] == "" %>
          <% if current_user.role_ids.include?(6868009) || current_user.role_ids.include?(160943002) %>
            <%if Date.parse(current_organisation['account_expiry_date']) <= Date.current + 15%>
              <span style="color: orangered;position: absolute;top: 5px;left: 840px;width: 156px;"> Your Account will expire on <%= Date.parse(current_organisation['account_expiry_date']).strftime("%d-%m-%Y") %> </span>
            <%end%>
          <%end%>
      <%end%>
      <!--end-->

      <!-- Clickables & Navbar Left  -->
      <% unless current_user.role_ids.include?(46255001) || current_user.role_ids.include?(387619007) %>
        <% if current_user.role_ids.include?(6868009) && !current_user.role_ids.include?(158965000) %>
          <ul class="nav navbar-nav navbar-main" style="margin-top: -3px; margin-left: 12px; border-left: 1px solid #ccc;">
            <li class="common-li-class <%= "activate" if params[:controller] == "patient_management"&&params[:action] == "home" %>">
              <%= link_to finance_reports_path, class: "btn btn-default focus-set",  style: "padding:15px 18px 14px; background-color:#fff; border:none;" do %><i class="fa fa-line-chart" style="margin-right:5px;"></i> <span>Reports</span><% end %>
            </li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav navbar-main" style="margin-top: -3px; margin-left: 12px; border-left: 1px solid #ccc;">
            <li class="common-li-class <%= "activate" if params[:action] == "appointment_management" || params[:action] == "appointment_scheduler" %>" id="appointment-management">
              <% unless current_user.user_selected_url == "/opd_appointments/appointment_scheduler" %>
                <%= link_to "/outpatients/appointment_management", :data => {:remote => true}, :class => "ps hover-effect", :id => "opd_navigation" do %><span class="fa-color leftnav-main-title"> <i class="fa fa-stethoscope"></i> OPD</span><% end %>
              <% else %>
                <%= link_to "/outpatients/appointment_scheduler", :data => {:remote => true}, :class => "ps hover-effect", :id => "opd_navigation" do %><span class="fa-color leftnav-main-title"> <i class="fa fa-stethoscope"></i> OPD</span><% end %>
              <% end %>
            </li>
            <li class="common-li-class <%= "activate" if (params[:controller] == "inpatients" && params[:action] == "admission_management") || (params[:controller] == "inpatients" && params[:action] == "admission_scheduler") %>" id="admission-management">
              <%= link_to '/inpatients/admission_management', :data => {:remote => true}, :class => "ps hover-effect", :id => "ipd_navigation" do %>
                <span class="leftnav-main-title fa-color"><i class="fa fa-ambulance"></i> IPD</span>
              <% end %>
            </li>
            <li class="common-li-class <%= "activate" if (params[:controller] == "inpatients" && params[:action] == "ot_management") || (params[:controller] == "inpatients" && params[:action] == "ot_scheduler") %>" id="ot-management">
              <%= link_to '/inpatients/ot_management', :data => {:remote => true}, :class => "ps hover-effect", :id => "ot_navigation" do %>
                <span class="leftnav-main-title fa-color"><i class="fa fa-heartbeat"></i> OT</span>
              <% end %>
            </li>
            <% if (current_organisation['type'] == 'hospital') %>
              <% @all_inventory_department = Inventory::Department.where(facility_id: current_facility.id) %>
              <% if @all_inventory_department.size > 0 %>
                <li class="common-li-class <%= "activate" if params[:controller] == "patient_management"&&params[:action] == "home" %>">
                <button type="button" class="btn btn-default dropdown-toggle focus-set" data-toggle="dropdown" style="padding:15px 18px 14px; background-color:#fff; border:none;">
                  <span class="fa-color"><i class="fa fa-shopping-cart fa-lg" style="font-size:15px;"></i> INVENTORIES</span>
                  <span class="caret fa-color"></span>
                </button>
                  <ul class="dropdown-menu children">
                    <!-- <li>
                      <%= link_to inventory_path do %><span><i class="fa fa-shopping-cart"></i> Inventory</span><% end %>
                    </li> -->
                    <% if current_facility.try(:show_finances) %>
                      <% @all_inventory_department.each do |inventory| %>
                        <% if inventory.department_id == "central" %>
                          <li>
                          <%= link_to "/inventory" , :target => "_blank" do %>
                              <span><%= inventory.name %> Store</span>
                            <% end %>
                          </li>
                        <% else %>
                          <li>
                          <%= link_to "/inventory/department/#{inventory.department_id}" , :target => "_blank" do %>
                              <span><%= inventory.name %></span>
                            <% end %>
                          </li>
                        <% end %>
                      <% end %>
                    <% else %>
                      <% @all_inventory_department.each do |inventory| %>
                        <% unless inventory.department_id == "central" %>
                          <li>
                            <%= link_to "/prescriptions/#{inventory.display_name.downcase.split(' ')[0]}/#{Date.current.strftime("%d-%b-%Y")}" , :target => "_blank" do %>
                              <span><%= inventory.name %></span>
                            <% end %>
                          </li>
                        <% end %>
                      <% end %>
                    <% end %>
                  </ul>
                </li>
              <% end %>
            <% end %>
            <!--<span style="position: absolute;top: 5px;left: 565px;width: 225px;"><input type="text" class="form-control" name="searchpatientkeyword1" id="searchpatientkeyword1" placeholder="Search patient by Name, Number." maxlength='25' /></span>-->
        <span style="position: absolute;top: 5px;left: 565px;width: 225px;"> <%= link_to patients_search_patient_summary_path(modal: 'appointment-modal'), class: "btn btn-success", id: "add-appointment-btn", data: {remote: true, 'toggle': "modal", 'target': '#appointment-modal' } do %> <i class="glyphicon glyphicon-search"></i>&nbsp; Search Patients<% end %>
        </span>
            <% unless current_organisation['account_expiry_date'] == nil || current_organisation['account_expiry_date'] == "" %>
              <% if current_user.role_ids.include?(160943002) %>
                  <%if Date.parse(current_organisation['account_expiry_date']) <= Date.current + 15 %>
                <span style="color: orangered;position: absolute;top: 5px;left: 840px;width: 156px;"> Your Account will expire on <%= Date.parse(current_organisation['account_expiry_date']).strftime("%d-%m-%Y") %> </span>
                  <%end%>
              <%end%>
            <%end%>
          </ul>
        <% end %>
      <% end %>
      <!-- Clickables & Navbar Left End -->
      <!-- Navbar Right -->
      <ul class="nav navbar-nav navbar-right" style="margin-top: -3px; margin-left: 12px; border-left: 1px solid #ccc;">
        <% if current_facility.show_user_state && current_user.role_ids.include?(158965000) %>
          <% if current_user.facilities.where(show_user_state: true).size == 1  %>
            <li class="">
              <button type="button" class="btn btn-default dropdown-toggle focus-set facility_dropdown" data-toggle="dropdown" style="padding:14px; background-color:#fff; border:none;">
                    <span class="" style="color:<%= user_state.state_color %>;">
                      <i class="fa fa-circle"></i>&nbsp;&nbsp; <%= user_state.active_state %> <i class="fa fa-caret-down"></i>
                    </span>
              </button>
              <ul class="dropdown-menu children">
                <% user_state.inactive_states.each do |inactive_state| %>
                  <li>
                    <%= link_to user_states_change_state_path(state: inactive_state, single_facility: true), class: "state_select statenav-link", value: inactive_state[0], style:'color: ' + inactive_state[1] + ' !important;', method: :post do %>
                        <i class="fa fa-circle"></i>&nbsp;&nbsp; <%= inactive_state[0] %>
                      <% end %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% else %>
            <li class="common-li-class">
              <%= link_to user_states_set_user_state_path(single_facility: false), :data => {:remote => true, 'toggle' => 'modal', "target" => "#org-modal"}, :class => "hover-effect", :id => "user_state", style: "padding:15px; background-color:#fff; border:none;" do %>
                <span class="leftnav-main-title fa-color"><i class="fa fa-cog"></i> Set State</span>
              <% end %>
            </li>
          <% end %>
        <% end %>
        <%#= image_tag('fac_arrow.gif', id: 'fac_arrow') %>
        <% @all_facility = current_user_facilities.sort! { |first,last| first.name.downcase <=> last.name.downcase } %>
        <% if @all_facility.size > 1 %>
          <li class="common-li-class">
            <button type="button" class="btn btn-default dropdown-toggle focus-set facility_dropdown" data-toggle="dropdown" style="padding:13px; background-color:#fff; border:none;">
              <span class="fa-color">
                <i class="fa fa-home" style="font-size: 20px;opacity: 1;"></i>
                <%= current_facility.name %> - <%= current_facility.abbreviation %>
              </span>
              <span class="caret fa-color"></span>
            </button>

            <% if @all_facility.size > 15 %>
              <ul class="dropdown-menu children" style="background-color:#1d2939;overflow-y: scroll;height: 520px">
            <% else %>
              <ul class="dropdown-menu children" style="background-color:#1d2939">
            <% end %>
              <% @all_facility.reject{ |fac| fac.id == current_facility.id}.each do |facility| %>
                <li>
                  <% if  facility.id != current_facility.id %>
                      <%= link_to "/set_facility/#{facility.id}", class: "facility_select rightnav-link", value: facility.id, style:'color: #ccc', method: :post do %>
                      <i class="fa fa-hospital-o"></i>
                      <span id="facility_name"> <%= facility.name %> - <%= facility.abbreviation %></span>
                    <% end %>
                  <% end %>

                <li>
              <% end %>
            </ul>
          </li>
        <% end %>
        <li class="common-li-class <%= "activate" if params[:controller] == "users"&&params[:action] == "account_settings" %>">
          <button type="button" class="btn btn-default dropdown-toggle focus-set" data-toggle="dropdown" style="padding:13px; background-color:#fff; border:none;" id="setting_n_logout">
                <span class="fa-color">
                  <i class="fa fa-user-md" style="font-size: 20px;opacity: 1;"></i>
                  <%#= current_user.fullname %>
                </span>
            <span class="caret fa-color"></span>
          </button>
          <ul class="dropdown-menu children" style="background-color:#fff;" >
            <li class="username"><%= current_user.fullname %></li>
            <% if (current_user.role_ids.include?(6868009) || current_user.role_ids.include?(160943002)) && current_user.role_ids.include?(158965000) #(Admin||Owner) && Doctor %>
              <li><a href="/admindoctors/account_settings" data-remote="true" data-toggle="dropdown" class="dropdown-toggle ps rightnav-link"><i class="glyphicon glyphicon-cog manage_account_settings"></i> Account Settings</a></li>
            <% end %>

            <% if (current_user.role_ids.include?(6868009) || current_user.role_ids.include?(160943002)) && current_user.role_ids.count == 1 #Admin||Owner %>
              <li><a href="/admins/account_settings" data-remote="true" data-toggle="dropdown" class="dropdown-toggle ps rightnav-link"><i class="glyphicon glyphicon-cog manage_account_settings"></i> Account Settings</a></li>
            <% end %>

            <% if current_user.role_ids.include?(158965000) && current_user.role_ids.count == 1 #Doctor %>
              <li><a href="/doctors/account_settings" data-remote="true" data-toggle="dropdown" class="dropdown-toggle ps rightnav-link"><i class="glyphicon glyphicon-cog manage_account_settings"></i> Account Settings</a></li>
            <% end %>

            <% if [106292003, 159561009, 28229004, 28221005, 405277009].include?(current_user.role_ids[0]) #Nurse Reception Optometrist Resident %>
              <li><a href="/staffs/account_settings" data-remote="true" data-toggle="dropdown" class="dropdown-toggle ps rightnav-link"><i class="glyphicon glyphicon-cog manage_account_settings"></i> Account Settings</a></li>
            <% end %>

            <% if current_user.role_ids.include?(387619007) %>
              <li><a href="/opticians/account_settings" data-remote="true" data-toggle="dropdown" class="dropdown-toggle ps rightnav-link"><i class="glyphicon glyphicon-cog manage_account_settings"></i> Account Settings</a></li>
            <% end %>

            <% if current_user.role_ids.include?(46255001) %>
                <li><a href="/pharmacists/account_settings" data-remote="true" data-toggle="dropdown" class="dropdown-toggle ps rightnav-link"><i class="glyphicon glyphicon-cog manage_account_settings"></i> Account Settings</a></li>
            <% end %>

            <% if current_user.role_ids.include?(499992366) %>
              <li><a href="/staffs/account_settings" data-remote="true" data-toggle="dropdown" class="dropdown-toggle ps rightnav-link"><i class="glyphicon glyphicon-cog manage_account_settings"></i> Account Settings</a></li>
            <% end %>

            <% if current_facility.show_finances %>
              <% if current_user.role_ids.include?(6868009) || current_user.role_ids.include?(160943002) #Admin||Owner %>
                <li>
                  <%= link_to finance_reports_path, class: "rightnav-link" do %><i class="fa fa-line-chart"></i> <span>Reports</span><% end %>
                </li>
              <% end %>
            <% end %>

            <li><%= link_to users_logout_path, :class => "rightnav-link" do %><i class="glyphicon glyphicon-log-out"></i> Log Out<% end %></li>
          </ul>
        </li>
      </ul>
      <!-- Navbar Right End -->
      <!-- Navbar Right S -->
      <!-- Navbar Right S End -->
    </div>
  </div>
</nav>
<!-- NEW NAVBAR ENDS HERE -->


<style type="text/css">

  #fac_arrow{
    z-index: 10000;
    position: absolute;
    top: 31px;
    right: 308px;
    height: 50px;
  }
  .rightnav-link {
    color: #aaa !important;
  }

  .rightnav-link:hover {
    color: #fff !important;
    background-color: #1CAF9A !important;
  }

  .statenav-link:hover {
    color: #fff !important;
    background-color: #eee !important;
  }

  .activate {
    border-bottom: 3px solid #1CAF9A;
  }

  .activate .fa-color {
    color: #1CAF9A;
  }

  .activate a .fa-color {
    color: #1CAF9A;
  }

  .common-li-class:hover {
    border-bottom: 3px solid #1CAF9A;
  }

  .common-li-class .hover-effect:hover {
    background-color: #fff;
  }

  .common-li-class .hover-effect {
    color: #666;
    font-weight: bold;
  }

  .focus-set:focus {
    outline: none !important;
  }
  .username{
    background-color: #354670;
    border-bottom: 1px solid #444;
    padding: 6px;
    width: 100%;
    text-align: center;
    color: #fff
  }
  .facility-name{
    background-color: #354670;
    border-bottom: 1px solid #444;
    padding: 6px;
    width: 100%;
    text-align: center;
    color: #fff
  }
</style>
<script>
jQuery(document).ready(function(){
  function search_patient_list(){
    jQuery("#searchpatientkeyword1").autocomplete({
        minLength: 7,
        source: function(request, response) {
            jQuery.ajax({
                dataType: "json",
                type : 'get',
                url: '/opd_appointments/searchpatient',
                //data: {searchpatient: params, remote: "true" },
                data: {q: request.term.replace(/[^\w\s]/gi, ''), user_id: "<%= current_user.try(:id) %>", remote: "true" },
                success: function(data) {
                    //jQuery('#searchpatientkeyword').removeClass('ui-autocomplete-loading')
                    response( data);
                },
                error: function(data) {
                    //jQuery('#searchpatientkeyword').removeClass('ui-autocomplete-loading');
                }
            });
        },
        select: function( event, ui ) {
            jQuery.ajax({
                type: "GET",
                dataType: "json",
                url: "/patients/searchsetupforsummary?patient_id="+ ui.item["id"],
            }).done(function(data){
            var appointment_id = data[0]
            var admission_id = data[1]
                if (appointment_id != "null") {
                    pushPageState({x: "1"}, "", "/patients/summary" + "?appointment_id="+appointment_id+"&patientid=" + ui.item["id"]+"&opd=440655000")
                    jQuery.ajax({
                        type: "GET",
                        dataType: "script",
                        url: "/patients/summary" + "?appointment_id="+appointment_id+"&patientid=" + ui.item["id"]+"&opd=440655000",
                    });
                }
                else if (admission_id != "null"){
                    pushPageState({x: "1"}, "","/patients/summary" + "?admission_id="+admission_id+"&patientid=" + ui.item["id"]+"&opd=440654001")
                    jQuery.ajax({
                        type: "GET",
                        dataType: "script",
                        url: "/patients/summary" + "?admission_id="+admission_id+"&patientid=" + ui.item["id"]+"&opd=440654001",
                    });
                }
                else{
                    pushPageState({x: "1"}, "", "/patients/patientsearchresult"+"?patient_id="+ui.item["id"])
                    jQuery.ajax({
                        type: "GET",
                        dataType: "script",
                        url: "/patients/patientsearchresult"+"?patient_id="+ui.item["id"],
                    });
                }
            })
        },
        create: function () {
          $(this).data('ui-autocomplete')._renderItem = function (ul, patient) {
            $(ul).css("border","1px solid #000").css("border-top","none")
            return $('<li>')
              .append('<hr style="margin:0 0 5px;padding:0;border-color:#354670;"><a style="color:#428bca"><b><span>' + patient.label + '</span><span class="badge badge-primary pull-right">' + patient.patient_display_id + '</span><br/><span class="">' + patient.mobile_number + '</span><span class="badge badge-danger pull-right">' + patient.patient_mrn + '</span></b></a>')
              .appendTo(ul);
          }
        }
    });
  }

  $('#searchpatientkeyword1').keyup( jQuery.debounce( 300, search_patient_list ) );
  // search_patient_list()


  url = window.location.href
  if(url.indexOf('patients/summary?appointment_id=') > -1)
    {
      $('.facility_dropdown').removeAttr('data-toggle')
    }
  else
    {$('.facility_dropdown').attr('data-toggle','dropdown')}
});

</script>



<!-- More Tab -->
<% if false %>
  <li class="common-li-class <%= "activate" if params[:controller] == "patient_management"&&params[:action] == "home" %>">
    <% if current_facility.show_finances? %>
      <% if current_user.role_ids.include?(160943002) || current_user.role_ids.include?(6868009) %>
        <button type="button" class="btn btn-default dropdown-toggle focus-set" data-toggle="dropdown" style="padding:15px 18px 14px; background-color:#fff; border:none;">
          <span class="fa-color"><i class="fa fa-medkit fa-lg" style="font-size:15px;"></i> MORE</span>
          <span class="caret fa-color"></span>
        </button>
        <ul class="dropdown-menu children">
          <li>
            <%= link_to inventory_path do %><span><i class="fa fa-shopping-cart"></i> Inventory</span><% end %>
          </li>
          <li>
            <%= link_to patient_management_home_path, :data => {:remote => true, :toggle => "dropdown"}, :class => "ps", :id => "ps" do %><i class="fa fa-male" style="margin-right:5px;"></i> <span>Patient Management</span><% end %>
          </li>
          <li>
            <%= link_to finance_reports_path do %><i class="fa fa-line-chart" style="margin-right:5px;"></i> <span>Reports</span><% end %>
          </li>
        </ul>
      <% end %>
    <% end %>
  </li>
<% end %>
