<!-- Note: This file contains changes for the new UI - Tabs in RHS -->
<% if investigations.count > 0 %>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Status</th>
            <th>Performed</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% investigations.try(:each_with_index) do |investigation, i| %>
            <tr>
              <td><%= i + 1 %></td>
              <td>
                <b>
                  <%= investigation.name %>
                  <% if investigation.try(:investigation_side).present? %>
                    <% if investigation.try(:investigation_side) == '40638003' %>
                      (B/E)
                    <% elsif investigation.try(:investigation_side) == '18944008' %>
                      (R)
                    <% elsif investigation.try(:investigation_side) == '8966001' %>
                      (L)
                    <% end %>
                  <% end %>
                  <% if investigation.try(:radiology_options).present? %>
                    <% if investigation.try(:radiology_options) == '90084008' %>
                      w/o contrast
                    <% elsif investigation.try(:radiology_options) == '51619007' %>
                      with contrast
                    <% elsif investigation.try(:radiology_options) == '429859008' %>
                      with complete screening
                    <% elsif investigation.try(:radiology_options) == '431985004' %>
                      screening of other region
                    <% elsif investigation.try(:radiology_options) == '22400007' %>
                      3D-reconstruction
                    <% end %>
                  <% end %>
                </b>
              </td>
              <td>
                <span class="toggle-detailed-timeline" style="font-size: 12px;color:#1CAF9A; cursor:pointer;" data-toggle-id="toggle-<%= "#{flag}-#{i}" %>"><%= investigation.state.split('_').map(&:capitalize).join(' ') %>&nbsp;<i class="fa fa-caret-down"></i></span>
              </td>
              <td>
                <%= investigation.performed_at ? investigation.performed_at.strftime('%I:%M %p, %d/%m/%Y') : '-' %>
              </td>
              <td>
                <% if @current_user.organisation.type_id == '22232009' %>
                  <%= render partial: 'outpatients/appointment/investigation_details/investigation_workflow_actions.html.erb', locals: { investigation: investigation } %>
                <% else %>
                  <%= render partial: 'outpatients/appointment/investigation_details/investigation_pp_actions.html.erb', locals: { investigation: investigation } %>
                <% end %>
              </td>
            </tr>
            <tr id="toggle-<%= "#{flag}-#{i}" %>" class="text-center" style="display: none;">
              <td colspan="5">
                <div class="row">
                  <div class="col-sm-12">
                    <%= render partial: 'outpatients/appointment/investigation_details/investigation_timeline.html.erb', locals: { investigation: investigation } %>
                  </div>
                </div>
              </td>
            </tr>
            <% investigation_uploads = @uploads.where(investigation_detail_id: investigation.id.to_s) %>
            <% if investigation_uploads.try(:count) > 0 %>
              <tr>
                <td colspan="5">
                  <b>Uploads</b>
                  <%= render partial: 'investigation/records/upload_section', locals: { inv_upload: investigation_uploads, investigation: investigation } %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-sm-12 text-center">
      <b>No <%= flag %> Investigation</b>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(".toggle-detailed-timeline").on('click', function(){
    let toggleId = $(this).attr('data-toggle-id')

    if($(this).find('.fa-caret-down').length > 0){
      $(this).find('.fa-caret-down').addClass('fa-caret-up').removeClass('fa-caret-down');
    } else {
      $(this).find('.fa-caret-up').addClass('fa-caret-down').removeClass('fa-caret-up');
    }

    $(`#${toggleId}`).toggle();
  })
</script>
