<!-- Note: This file contains changes for the new UI - Tabs in RHS -->
<div class="row">
  <div class="col-md-10 nopadding">
    <div class="btn-group">
      <!-- Counsel, Mark Payment & Approve multiple Investigations -->
      <div class="btn-group dropdown">
        <a type="button" title="Counsel, Mark Payment & Approve multiple Investigations" class="btn btn-primary btn-primary-transparent btn-xs tooltip-inner action-investigation-dropdown" data-toggle="dropdown">
          <span>All Investigations <span class="caret fa-color"></span></span>
        </a>
        <ul class="dropdown-menu children dropdown-menu-right action-investigation-dropdown">
          <% if @appointment.specialty_id == '309988001' || @current_user.role_ids.any? { |ele| [41904004,159282002].include?(ele) } %>
            <li><a href="#" class=" text-center" id="counsel-all">Counselled</a></li>
          <% end %>
          <li><a href="#" class="  text-center" id="payment-all">Payment Taken</a></li>
          <% if @current_user.role_ids.include?(158965000) %>
            <li><a href="#" class="  text-center" id="review-all">Approved</a></li>
          <% end %>
        </ul>
      </div>

      <!-- Create Combined Report for All Investigation -->
      <div class="btn-group dropdown">
        <button type="button" title="Create Combined Report for All Investigation" class="btn btn-primary btn-primary-transparent btn-xs tooltip-inner" data-toggle="dropdown">
          <span><i class="fa fa-plus"></i> All Reports <span class="caret fa-color"></span></span>
        </button>
        <ul class="dropdown-menu children dropdown-menu-right create-investigation-dropdown">
          <% if @appointment.specialty_id == '309988001' %>
            <li><a href="#" class="create-all text-center" data-link-id="ophthal">Ophthal</a></li>
          <% end %>
          <li><a href="#" class="create-all text-center" data-link-id="laboratory">Laboratory</a></li>
          <% if ['309988001', '309989009'].include?(@appointment.specialty_id) %>
            <li><a href="#" class="create-all text-center" data-link-id="radiology">Radiology</a></li>
          <% end %>
        </ul>
      </div>

      <!-- Update Technician Queue -->
      <% if @patient_investigation_queue.count == 0 && @investigation_present %>
        <button class="btn btn-xs btn-orange btn-orange-transparent tooltip-inner" id="alert-inv-tech" title="Update Technician Queue" data-remote="true">Inform Technician</button>
      <% end %>

      <!-- View/Edit All Reports -->
      <button class="btn btn-xs btn-primary btn-primary-transparent tooltip-inner" title="View/Edit All Reports" id="all-investigation-reports"><i class="fa fa-file-alt "></i> View Reports</button>
      <!--  -->
      <% unless @disable_default_investigation %>
        <div class="btn-group dropdown">
          <button type="button" class="btn btn-primary btn-primary-transparent btn-xs" data-toggle="dropdown">
            <span>Add Investigation <span class="caret fa-color"></span></span>
          </button>
          <ul class="dropdown-menu children dropdown-menu-right add-investigation-dropdown">
            <% if @appointment.specialty_id == '309988001' %>
              <li><%= link_to new_investigation_investigation_detail_path(patient_id: @patient.id, appointment_id: @appointment.id, flag: 'ophthal', specialty_id: @appointment.specialty_id), class: 'text-center', data: { remote: true, 'toggle': 'modal', 'target': '#investigation-modal' } do %>Ophthal<% end %></li>
            <% end %>
            <li><%= link_to new_investigation_investigation_detail_path(patient_id: @patient.id, appointment_id: @appointment.id, flag: 'laboratory', specialty_id: @appointment.specialty_id), class: 'text-center', data: { remote: true, 'toggle': 'modal', 'target': '#investigation-modal' } do %>Laboratory<% end %></li>
            <li><%= link_to new_investigation_investigation_detail_path(patient_id: @patient.id, appointment_id: @appointment.id, flag: 'radiology', specialty_id: @appointment.specialty_id), class: 'text-center', data: { remote: true, 'toggle': 'modal', 'target': '#investigation-modal' } do %>Radiology<% end %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-2 text-right nopadding">
    <button class="btn btn-link btn-xs" id="btn-investigation-details-refresh"><i class="fa fa-refresh"></i></button>
    <button class="btn btn-primary btn-primary-transparent btn-xs tooltip-inner" id="show-all" data-show-all="false" title="Show All Investigations">Show All</button>
  </div>
</div>

<div class="row" id='investigation-wizard-inhere'>
  <%= render partial: 'outpatients/appointment/appointment_details/tab_details/investigations/wizard.html.erb' %>
</div>

<script type="text/javascript">
  <%= render partial: 'outpatients/appointment/appointment_details/tab_details/investigations/index.js.erb' %>
</script>
