<!-- Note: This file contains changes for the new UI - Tabs in RHS -->
<div id="investigationWizard" class="basic-wizard" style="border: 1px solid #aaa;">
  <ul class="nav nav-pills nav-justified tab_active_investigation">
    <% if @appointment.specialty_id == '309988001' %>
      <li role="presentation" class="investigation-tab <%= 'active' if params[:inv_tab] == 'ophthal' %>" data-tab-id="ophthal"><a href="#investigation-ophthal-details" class="investigation-details" data-toggle="tab">Ophthal (<%= @inv_ophthal.count %>)</a></li>
    <% end %>
    <li role="presentation" class="investigation-tab <%= 'active' if params[:inv_tab] == 'laboratory' || params[:inv_tab].nil? %>" data-tab-id="laboratory"><a href="#investigation-laboratory-details" class="investigation-details" data-toggle="tab">Laboratory (<%= @inv_laboratory.count %>)</a></li>
    <li role="presentation" class="investigation-tab <%= 'active' if params[:inv_tab] == 'radiology' %>" data-tab-id="radiology"><a href="#investigation-radiology-details" class="investigation-details" data-toggle="tab">Radiology (<%= @inv_radiology.count %>)</a></li>
  </ul>
  <div class="tab-content investigation-form-body">
    <% if @appointment.specialty_id == '309988001' %>
      <div class="tab-pane <%= 'active' if params[:inv_tab] == 'ophthal' %>" id="investigation-ophthal-details">
        <%= render partial: 'outpatients/appointment/appointment_details/tab_details/investigations/data_rows.html.erb', locals: { investigations: @inv_ophthal, flag: 'Ophthal' } %>
      </div>
    <% end %>
    <div class="tab-pane <%= 'active' if params[:inv_tab] == 'laboratory' || params[:inv_tab].nil? %>" id="investigation-laboratory-details">
      <%= render partial: 'outpatients/appointment/appointment_details/tab_details/investigations/data_rows.html.erb', locals: { investigations: @inv_laboratory, flag: 'Laboratory' } %>
    </div>
    <div class="tab-pane <%= 'active' if params[:inv_tab] == 'radiology' %>" id="investigation-radiology-details">
      <%= render partial: 'outpatients/appointment/appointment_details/tab_details/investigations/data_rows.html.erb', locals: { investigations: @inv_radiology, flag: 'Radiology' } %>
    </div>
  </div>
</div>

<style type="text/css">
  .tab_active_investigation .active a:hover {
    background: #fff !important;
    color: #000 !important;
  }
</style>
