<table id="diagnosesTable" class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Diagnosis</th>
      <th class="text-center">Advised By</th>
      <th class="text-center">Advised On</th>
    </tr>
  </thead>
  <tbody>
    <% @diagnoses.each_with_index do |diagnosis, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td>
          <% if diagnosis.icd_type == 'TranslatedIcdDiagnosis' %>
            <span>
              <b><%= diagnosis.diagnosisname.to_s %> - <%= diagnosis.icddiagnosiscode.to_s.upcase.insert(3, '.') %></b>
            </span>
          <% else %>
            <span>
              <b><%= diagnosis.diagnosisoriginalname.to_s %> - <%= diagnosis.icddiagnosiscode.to_s.upcase.insert(3, '.') %></b>
            </span>
          <% end %>
        </td>
        <td class="text-center">
          <%= diagnosis.advised_by %>
        </td>
        <td class="text-center">
          <%= diagnosis.advised_datetime.try(:strftime, '%d/%m/%Y') %>
        </td>
      </tr>
    <% end %>

    <% if @diagnoses.count == 0 %>
      <tr class="text-center">
        <td colspan="5">No Diagnoses</td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @diagnoses.size > 5 %>
  <script type="text/javascript">
    $('#diagnosesTable').DataTable({
      sDom: "<'top'p>",
      ordering: false,
      displayStart: 0,
      displayLength: 5,
    });
  </script>
<% end %>
