<% if @finance_insurance.is_disable == false %>
$('#insurance_disable_button_<%= @finance_insurance.id %>').html(`
  	  <div class="btn btn-danger btn-xs btn-disable-insurance" style="display: inline;" data-toggle="modal" data-target="#confirmation-modal" data-insurance='<%= @finance_insurance.name %>'>Disable</div>
	  <%= escape_javascript(link_to 'Confirm', toggle_disable_finance_insurance_master_path(id: @finance_insurance.id, is_disable: true), class: "btn btn-danger", remote: true, style: "display: none;", data: {dismiss: "modal"}) %>
	`)
$('#insurance_disable_button_<%= @finance_insurance.id %>').closest('tr').find('td:not(#insurance_disable_button_<%= @finance_insurance.id %>)').css({'visibility': 'visible'})
<% else %>
$('#insurance_disable_button_<%= @finance_insurance.id %>').html(`
  	<%= escape_javascript(link_to 'Active', toggle_disable_finance_insurance_master_path(id: @finance_insurance.id, is_disable: false), class: "btn btn-xs btn-primary", remote: true, style: "display: inline;") %>
  	`)
$('#insurance_disable_button_<%= @finance_insurance.id %>').closest('tr').find('td:not(#insurance_disable_button_<%= @finance_insurance.id %>)').css({'visibility': 'hidden'})
<% end %>

$('.btn-disable-insurance').on('click', function(){
  var btn = $(this).closest('td').find('a')
  var insurance = $(this).data('insurance')
  $('#confirmation-modal').html(`
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Are You Sure?</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure, you want disable ${insurance} ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        ${btn[0].outerHTML}
      </div>
    </div>
  </div>
  `)
})