<div class="col-md-3 col-lg-4"><h4>APPROVED NUMBERS</h4></div>
<div class="col-md-6 col-lg-4 text-right">
  <div class="row">
    <div class="col-md-5" style="margin-top: 10px;"><label>Search Number</label></div>
    <div class="col-md-7"><input type="number" name="" class="search-approved-number form-control" placeholder="Search By Approved Number" value=""></div>
  </div>
</div>
<div class="col-md-4" style="text-align:right; ">
  <%= link_to add_number_communication_settings_path, class: 'btn btn-primary', data: { remote: true, 'toggle': 'modal', 'target': '#communication-whatsapp-number-modal' } do %><i class="fa fa-plus"></i> Add New Number <% end %>
</div>
<div class="col-md-12">
  <% if @approved_numbers.count > 0 %>
    <table class="table table-primary table-bordered">
      <thead>
        <th>Sr No</th>
        <th>Communication Number</th>
        <th class="text-center">Actions</th>
      </thead>
      <tbody id="approved_master-list">
        <% @approved_numbers.each_with_index do |approved_number, index| %>
          <% visibility = approved_number.is_disable ? 'display: none;' : 'display: block' %>

          <tr class="each-contact-table-row approved_number_tr">
            <td>
              <b class="sno" style="color:#000;"><%= index+1 %></b>
            </td>
            <td>
              <b class="approved_number" style="color:#000;"><%= approved_number.try(:country_code) %> <%= approved_number.try(:communication_number) %>  <%= '(HG Default)' if approved_number.try(:communication_number) == '8904058001'%></b>
            </td>
            <td  class="text-center" style="width: 200px;">
              
              <table style="width: 100%;">
                <tr>
                  <% unless approved_number.try(:organisation_id).blank? %>
                    <td id='number_edit_button_<%= approved_number.id %>' style="<%=visibility%>">  
                      <%= link_to edit_number_communication_settings_path(id: approved_number.id.to_s), method: :get, data: { remote: true, toggle: 'modal', target: '#communication-number-edit-modal' }, class: 'btn btn-info btn-xs', style: 'display: inline;' do %>Edit<%end %>  
                    </td>
                  <% end %>
                  <td id='number_setting_disable_button_<%= approved_number.id %>'>
                    <% if approved_number.try(:is_disable) == true %>
                      <div class="btn btn-xs btn-primary btn-active-approve_number" style="display: inline;" data-toggle="modal" data-target="#confirmation-modal" data-category="<%= approved_number.try(:communication_number) %>">Active</div>
                      <%= link_to 'Confirm', toggle_disable_number_communication_setting_path(id: approved_number.id, is_disable: false), class: 'btn btn-danger', remote: true, style: 'display: none;', data: { dismiss: 'modal' } %>
                    <% else %>
                      <div class="btn btn-danger btn-xs btn-disable-approve_number" style="display: inline;" data-toggle="modal" data-target="#confirmation-modal" data-category="<%= approved_number.try(:communication_number) %>">Disable</div>
                      <%= link_to 'Confirm', toggle_disable_number_communication_setting_path(id: approved_number.id, is_disable: true), class: 'btn btn-danger', remote: true, style: 'display: none;', data: { dismiss: 'modal' } %>
                    <% end %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="col-md-12 text-center mt10">
      No Approved numbers added
    </div>
  <% end %>
</div>
<style type="text/css">
  #confirmation-modal a{
    display: inline-block !important;
  }
  table tr td{
    word-wrap: break-word !important;
  }
</style>

<script type="text/javascript">
  $(".search-approved-number").on('keyup', function(){
    communication_event_list = $(".approved_number_tr");
    communication_event_list_count = communication_event_list.length;
    search = $(this).val().toUpperCase().trim();
    counter = 0
    for (var i = communication_event_list.length - 1; i >= 0; i--) {
      event_name = $(communication_event_list[i]).find(".approved_number")
      if($(event_name).html().toUpperCase().indexOf(search) > -1) {
        $(communication_event_list[i]).css("display", "");
      } else {
        $(communication_event_list[i]).css("display", "None");
        counter += 1
      }
    }

    if(communication_event_list_count == counter){
      if($(".show-nothing").length <= 0){
        $("#approved_master-list").append(`<tr class="show-nothing"><td class="text-center" colspan="5">Nothing to Show</td></tr>`)
      }
    } else {
      $(".show-nothing").remove();
    }
  })
</script>
