<%= form_for purchase_transaction, :url => inventory_transaction_purchases_path, :authenticity_token => false do |f| %>
  <%= f.fields_for :items, :child_index => (Time.current.to_f.round(3)*1000).to_i do |builder| %>
    <table width="100%" class="purchase-transaction-log-item" data-child-index=<%= builder.options[:child_index] %>>
      <tr>
        <%= builder.hidden_field :item_code, { value: @variant.item_code } %>
        <%= builder.hidden_field :default_variant_code, { value: @variant.variant_code } %>
        <%= builder.hidden_field :item_id, { value: @variant.item_id, class: 'item-id' } %>
        <%= builder.hidden_field :default_variant_id, { value: @variant.id } %>
        <%= builder.hidden_field :category, { value: @variant.category_name } %>
        <%= builder.hidden_field :barcode, { value: @variant.barcode } %>
        <%= builder.hidden_field :barcode_present, { value: true } %>
        <%= builder.hidden_field :variant_reference_id, { value: @variant.reference_id } %>
        <%= builder.hidden_field :item_reference_id, { value: @item.reference_id } %>
        <%= builder.hidden_field :facility_id, { value: @variant.facility_id } %>
        <%= builder.hidden_field :store_id, { value: @variant.store_id } %>
        <%= builder.hidden_field :organisation_id, { value: @variant.organisation_id } %>
        <%= builder.hidden_field :search %>
        <%= builder.hidden_field :variant_identifier %>
        <%= builder.hidden_field :mark_up %>
        <%= builder.hidden_field :mrp %>
        <%= builder.hidden_field :list_price %>
        <%= builder.hidden_field :unit_non_taxable_amount %>
        <%= builder.hidden_field :unit_taxable_amount %>
        <%= builder.hidden_field :tax_rate %>
        <%= builder.hidden_field :tax_name %>
        <%#= builder.hidden_field :tax_group_id %>
        <%= builder.hidden_field :tax_inclusive %>
        <%= builder.hidden_field :stock_package %>
        <%= builder.hidden_field :stock_subpackage %>
        <%= builder.hidden_field :stock_unit %>
        <%= builder.hidden_field :stock_free_unit %>
        <%= builder.hidden_field :mrp_pack %>
        <%= builder.hidden_field :mrp_pack_denomination %>
        <%= builder.hidden_field :list_price_pack %>
        <%= builder.hidden_field :list_price_pack_denomination %>
        <%= builder.hidden_field :unit_cost_without_tax %>
        <%= builder.hidden_field :unit_purchase_tax_amount %>
        <%= builder.hidden_field :sub_store_id %>
        <%= builder.hidden_field :sub_store_name %>
        <%= builder.hidden_field :department_id %>
        <%= builder.hidden_field :department_name %>
        <%= builder.hidden_field :paid_stock %>
        <%= builder.hidden_field :discount_per_unit %>
        <%= builder.hidden_field :net_unit_cost_without_tax %>
        <%= builder.hidden_field :margin %>
        <%= builder.hidden_field :dispensing_unit %>


        <% purchase_transaction.items[0].custom_field.each do |k,v| %>
          <%= builder.hidden_field :custom_field_data, {value: v,name: "inventory_transaction_purchase[items_attributes][#{builder.options[:child_index] }][custom_field_data][#{k}]"} %>
        <% end %>

        <%= builder.select :custom_field_tags,purchase_transaction.items[0].custom_field_tags,{include_hidden: false}, {multiple:true, style: "display: none;"} %>

        <td class="col-md-2 font_size">
          <strong><%= @item.description %>&nbsp;&nbsp;<%= @variant.variant_identifier.try(:capitalize) %></strong>
          <%= builder.hidden_field :description,value: @item.description,readonly: true, :class => "item_description modalRequest_input_style", :placeholder=>"Description", :style=>"width:100%;text-align:left" %>
          <%= builder.hidden_field :_destroy,  {value: 0 ,class: 'form-control' } %>
        </td>

        <td class="col-md-1 col-sm-1 col-xs-1 font_size">
          <%= builder.text_field :unit_cost_without_tax ,readonly: true, :class => "unit_cost_without_tax  modalRequest_input_style input_focus_none", :placeholder=>"Qty", :style=>"width:100%;text-align:left; background-image: none;" %>
        </td>

        <td class="col-md-1 font_size">
          <%= builder.hidden_field :tax_group_id, value: @item.tax_group_id,readonly: true, :class => "item_tax_group_id modalRequest_input_style", :placeholder=>"Tax", :style=>"width:100%;text-align:left" %>
          <div class="tax_fields"></div>
          <%= builder.text_field :tax_rate, class: 'item_barcode modalRequest_input_style', style: 'width:100%; text-align:left', readonly: true %>
          <%= builder.hidden_field :item_taxable_amount_with_disc, :class => "item_taxable_amount_with_disc", :value => '0.0' %>
        </td>

        <td class="col-md-1 font_size">
          <%= builder.text_field :paid_stock,readonly: true, :class => "item_quantity modalRequest_input_style", :placeholder=>"Qty", :style=>"width:100%;text-align:left" %>
          <%= builder.hidden_field :stock,readonly: true, :class => "modalRequest_input_style", :placeholder=>"Qty", :style=>"width:100%;text-align:left; background-image: none;" %>
          <input type="hidden" class="item_max_quantity modalRequest_input_style" placeholder="" style="width:90%;text-align:left" />
        </td>

        <td class="col-md-1 col-sm-1 col-xs-1 font_size">
          <%= builder.text_field :stock_free_unit,value: params[:item][:stock_free_unit].present? ? params[:item][:stock_free_unit] : 0,readonly: true, :class => "item_quantity modalRequest_input_style input_focus_none", :placeholder=>"Qty", :style=>"width:100%;text-align:left; background-image: none;" %>
          <input type="hidden" class="item_max_quantity modalRequest_input_style" placeholder="" style="width:90%;text-align:left" />
        </td>

        <td class="col-md-1 col-sm-1 col-xs-1 font_size">
          <div class="input-group select-input-box">
            <%= builder.hidden_field :item_discount_type,class: "item_discount",style: "width: 100%; border-left: none; height: 30px; background-image: none;",value: builder.object.item_discount_type,readonly: true%>
            <%= builder.text_field :item_discount,required: false, class: "item_discount modalRequest_input_style input_focus_none", style: "width: 100%; text-align:left;  background-image: none;", value: builder.object.try(:item_discount).present? ? builder.object.try(:item_discount) : 0 ,onkeypress: 'return event.charCode >= 46 && event.charCode <= 57',placeholder: "Amount", readonly: true %>
          </div>
        </td>

        <td class="col-md-1 col-sm-1 col-xs-1 font_size">
          <%= builder.text_field :amount_after_tax,value: params[:amt_after_tax],readonly: true ,:class => "amount_after_tax modalRequest_input_style input_focus_none", :placeholder=>"Total Cost Price", :style=>"width:100%;text-align:left; background-image: none;" %>
        </td>
        <%= builder.hidden_field :total_cost,readonly: true ,:class => "price_including_tax modalRequest_input_style", :placeholder=>"Total Cost Price", :style=>"width:100%;text-align:left" %>
        <% if @sub_stores.size > 1 %>
          <td class="col-md-1 col-sm-1 col-xs-1 font_size">
            <%= builder.hidden_field :sub_store_id,value: builder.object.sub_store_id ,readonly: true, :class => "sub_store_id modalRequest_input_style", :placeholder=>"Sub Store Id", :style=>"width:100%;text-align:left" %>
            <%= builder.text_field :sub_store_name,value: builder.object.sub_store_name.present? ? builder.object.sub_store_name : "N/A" ,readonly: true, :class => "sub_store_id modalRequest_input_style input_focus_none", :placeholder=>"Sub Store Id", :style=>"width:100%;text-align:left; background-image: none; background-color: none;" %>
            <%= builder.hidden_field :sub_store_name,value: builder.object.sub_store_name ,readonly: true, :class => "sub_store_id modalRequest_input_style", :placeholder=>"Sub Store Id", :style=>"width:100%;text-align:left" %>
          </td>
        <% else %>
          <%= builder.hidden_field :sub_store_id,value: builder.object.sub_store_id ,readonly: true, :class => "sub_store_id modalRequest_input_style", :placeholder=>"Sub Store Id", :style=>"width:100%;text-align:left" %>
          <%= builder.hidden_field :sub_store_name,value: builder.object.sub_store_name.present? ? builder.object.sub_store_name : "N/A" ,readonly: true, :class => "sub_store_id modalRequest_input_style input_focus_none", :placeholder=>"Sub Store Id", :style=>"width:100%;text-align:left; background-image: none; background-color: none;" %>
        <% end %>

        <td class="col-md-1 col-sm-1 col-xs-1 font_size">
          <%= builder.text_field :remarks ,:class => "remarks modalRequest_input_style", :placeholder=>"Remark", :style=>"width:100%;text-align:left; background-color: #ffc; background-image: none;" %>
        </td>

        <!-- <td class="col-md-1 font_size">
        </td>

        <td class="col-md-1 font_size">
        </td> -->

        <%= builder.hidden_field :expiry,readonly: true, :class => "exp_datepicker item_expiry modalRequest_input_style", :placeholder=>"Expiry", :style=>"width:100%;text-align:left" %>
        <%= builder.hidden_field :expiry_present,readonly: true %>
        <%= builder.hidden_field :batch_no,readonly: true, :class => "item_batch modalRequest_input_style", :style=>"width:100%;text-align:left" %>
        <%= builder.hidden_field :self_batched %>
        <%= builder.hidden_field :barcode_id, readonly: true, class: 'item_barcode modalRequest_input_style', style: 'width:100%; text-align:left' %>
        <%= builder.hidden_field :system_generated_barcode %>
        <%= builder.hidden_field :model_no, readonly: true, class: 'item_barcode modalRequest_input_style', style: 'width:100%; text-align:left' %>
        <%= builder.hidden_field :item_cost_without_tax, class: 'item_barcode modalRequest_input_style item_cost_without_tax', style: 'width:100%; text-align:left', readonly: true %>
        <%= builder.hidden_field :tax_inclusive, class: 'item_barcode modalRequest_input_style', style: 'width:100%; text-align:left' %>
        <%= builder.hidden_field :purchase_tax_amount, class: 'item_barcode modalRequest_input_style purchase_tax_amount', style: 'width:100%; text-align:left', readonly: true %>
        <%= builder.hidden_field :unit_cost, class: 'item_barcode modalRequest_input_style', style: 'width:100%; text-align:left', readonly: true %>
        <%#= builder.hidden_field :total_cost, readonly: true ,:class => "price_including_tax modalRequest_input_style", :placeholder=>"Total Cost Price", :style=>"width:100%;text-align:left" %>

        <!-- <td class="col-md-1 font-size">
          <%#= @item.tax_inclusive = @item.tax_inclusive == true ? 'YES' : 'NO' %>
        </td>

        <td class="col-md-1 font-size">
        </td>

        <td class="col-md-1 font_size">
        </td>

        <td class="col-md-1 font_size">
        </td> -->

        <td class="col-md-1 font-size text-center">
          <button type="button" class="btn btn-link hg-tooltip delete_empty_item" tabindex="-1" style="padding:0px;" title="Remove From List"><i class="fa fa-trash-alt" style="color:#000;"></i></button>
        </td>
      </tr>
    </table>
  <% end %>
<% end %>
