<div class="row transaction-title">
  <!-- <div class="col-sm-12 text-center" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;"><strong>Purchase</strong></div> -->
</div>
<div class="row mb5 transaction-common-fields" style="margin-top:15px;">
  <div class="row p7_10">
    <div class="col-sm-3">
      <div class="row">
        <div class="col-sm-3"><strong>Note:</strong></div>
        <div class="col-sm-9"><%= f.text_field :note, { class: 'form-control p7_10 fullname', placeholder: "Transaction Note" } %></div>
      </div>
    </div>
    <!-- <div class="col-sm-3">
      <div class="row">
        <div class="col-sm-3"><strong>Vendor:</strong></div>
        <div class="col-sm-9"><%#= f.text_field :vendor_name, { value: @vendor.name, class: 'form-control payment_received_breakups_vendor p7_10', readonly: 'readonly' } %></div>
      </div>
    </div> -->
    <div class="col-sm-3">
      <div class="row">
        <div class="col-sm-4"><strong>GRN Date:</strong></div>
        <% unless Authorization::PolicyHelper.verification(current_user.id,"HGP-100-103-104") %>
          <div class="col-sm-8"><%= f.text_field :transaction_date, { value: Date.current.strftime("%d/%m/%Y"), class: 'form-control p7_10 fullname ', placeholder: "Date of transition", readonly: true } %></div>
        <% else %>
          <div class="col-sm-8"><%= f.text_field :transaction_date, { value: Date.current.strftime("%d/%m/%Y"), class: 'form-control p7_10 fullname transaction-datepicker', placeholder: "Date of transition" } %></div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="row">
        <div class="col-sm-4"><strong>GRN Time:</strong></div>
        <% if !Authorization::PolicyHelper.verification(current_user.id,"HGP-100-103-104") %>
          <div class="col-sm-8"><%= f.text_field :transaction_time_picker, { value: Time.current.strftime("%I:%M %p"), class: 'form-control p7_10', placeholder: "Time of transition", readonly: true } %></div>
        <% else %>
          <div class="col-sm-8"><%= f.text_field :transaction_time_picker, { value: Time.current.strftime("%I:%M %p"), class: 'form-control p7_10 transaction-timepicker', placeholder: "Time of transition" } %></div>
        <% end %>
        <%= f.hidden_field :transaction_time, { value: Time.current } %>
      </div>
    </div>
  </div>
  <div class="row p7_10">
    <div class="col-sm-4">
      <strong>Vendor</strong><br>
      <% address = @purchase_transaction.vendor_location_address.present? ? @purchase_transaction.vendor_location_address : @vendor_location_address %>
      <%= f.text_field :vendor_location_address, { value: address, class: 'form-control payment_received_breakups_vendor p7_10', readonly: 'readonly' } %>
    </div>
    <div class="col-sm-8">
      <div class="row p7_10">
        <div class="col-sm-2">
          <div class="row">
            <div class="col-sm-4"><strong>Bill Type:</strong></div>
            <div class="col-sm-8"><%= f.select :bill_type, options_for_select(Inventory::Transaction::Purchase.bill_type.options, @purchase_transaction.bill_type), { include_blank: 'Please Select'}, { class: 'form-control', style: "background-image:none;" } %></div>
          </div>
        </div>
        <div class="col-sm-5 bill-type-details challan_col">
          <div class="row">
            <div class="col-sm-3"><strong>Challan Number:</strong></div>
            <div class="col-sm-9"><%= f.text_field :challan_number, { class: 'form-control p7_10', style: "background-image:none;"} %></div>
          </div>
        </div>
        <div class="col-sm-5 bill-type-details challan_col">
          <div class="row">
            <div class="col-sm-3"><strong>Challan Date:</strong></div>
            <div class="col-sm-9"><%= f.text_field :challan_date, { value: @purchase_transaction.challan_date&.strftime("%d/%m/%Y"),
              class: 'form-control p7_10 fullname challan-datepicker', placeholder: "Date of challan", readonly: 'readonly', style: "background-image:none;" } %>
            </div>
          </div>
        </div>
        <div class="col-sm-5 bill-type-details bill_col">
          <div class="row">
            <div class="col-sm-3"><strong>Bill Number:</strong></div>
            <div class="col-sm-9"><%= f.text_field :bill_number, { class: 'form-control p7_10 noSpace', onkeypress: "return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 8 || event.charCode == 32 || (event.charCode >= 48 && event.charCode <= 57));", style: "background-image:none;"} %></div>
          </div>
        </div>
        <div class="col-sm-5 bill-type-details bill_col">
          <div class="row">
            <div class="col-sm-3"><strong>Bill Date:</strong></div>
            <div class="col-sm-9"><%= f.text_field :bill_date, { value: @purchase_transaction.bill_date&.strftime("%d/%m/%Y"), class: 'form-control p7_10 fullname bill-datepicker', placeholder: "Date of bill", readonly: 'readonly', style: "background-image:none;" } %> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= f.hidden_field :vendor_id, { value: @vendor.id } %>
  <%= f.hidden_field :entry_type, { value: "purchase" } %>
  <%= f.hidden_field :entered_by, { value: current_user.fullname } %>
  <%= f.hidden_field :user_id, { value: current_user.id } %>
  <%= f.hidden_field :store_id, { value: @store_id } %>
  <%= f.hidden_field :facility_id, { value: current_facility.id } %>
  <%= f.hidden_field :organisation_id, { value: current_user.organisation_id } %>
  <%= f.hidden_field :department_id, { value: @inventory_store&.department_id } %>
  <%= f.hidden_field :department_name, { value: @inventory_store&.department_name } %>
  <%= f.hidden_field :purchase_order_id, { value: @purchase_order.try(:id) } %>
  <%= f.hidden_field :optical_order_id, { value: @purchase_order.try(:optical_order_id) } %>
  <%= f.hidden_field :requisition_order_id, { value: @purchase_order.try(:requisition_order_id) } %>
  <%= f.hidden_field :po_display_id, {value: @purchase_order.try(:purchase_display_id) } %>
  <%= f.hidden_field :total_paid_stock, { value: '' } %>
  <%= f.hidden_field :vendor_location_id, { value: @vendor_location.try(:id) } %>
  <%= f.hidden_field :vendor_location_name, { value: @vendor_location.try(:name) } %>
  <%= f.hidden_field :vendor_id, { value: @vendor.try(:id) } %>
  <%= f.hidden_field :vendor_name, { value: @vendor.try(:name) } %>
  <% vendor_address = po_vendor_location_format(@vendor) %>
  <%= f.hidden_field :vendor_address, { value: vendor_address } %>
  <%= f.hidden_field :vendor_gst_number, { value: @vendor_location.gst_number } %>
  <%= f.hidden_field :store_gst_number, { value: @inventory_store.gst } %>
  <%= f.hidden_field :vendor_dl_number, { value: @vendor_location.dl_number } %>


  <% if @purchase_order.present? %>
    <%= f.select :purchase_order_ids,options_for_select([@purchase_order.try(:id).to_s],[@purchase_order.try(:id).to_s]),{include_hidden: false}, {multiple:true, style: "display: none;"} %>
  <% end %>
</div>

<% if @purchase_order.present? %>

  <div class="row mb5" style="border-bottom:1px solid #eee;border-top:1px solid #eee;overflow-y: auto;">
    <div class="transaction-lots-list" style="margin-top:15px;">
      <table class="table transaction-lots-table" style="padding:0" id="transaction_table">
        <thead class="transaction-table-head">
          <tr class='thead-fixable'>
            <th class='thead-fix'>#</th>
            <th class='thead-fix' style="width:180px;">Description</th>
            <th class='thead-fix' style="width: 65px;">Rate</th>
            <th class='thead-fix' style="width: 60px;">PO Qty.</th>
            <th class='thead-fix' style="width: 70px;">Pending Qty.</th>
            <th class='thead-fix' style="width: 70px;">MRP</th>
            <th class='thead-fix' style="width: 45px;">Tax</th>
            <th class='thead-fix' style="width: 75px;">Expiry</th>
            <th class='thead-fix' style="width: 75px;">Batch No.</th>
            <th class='thead-fix' style="width: 80px;">Paid Qty.</th>
            <th class='thead-fix' style="width: 70px;">Free Qty.</th>
            <th class='thead-fix' style="width: 70px;">Discount</th>
            <th class='thead-fix' style="width: 70px;">Net Amount</th>
            <% if @sub_stores.size > 1 %>
              <th class='thead-fix' style="width:90px;">Sub Store</th>
            <% end %>
            <th class='thead-fix' style="width:60px;">Remarks</th>
            <th class='thead-fix' style="width: 66px;">Action</th>
          </tr>
        </thead>
        <tbody class="transaction-table-body" style="overflow-y: auto; font-size: 12px">
          <%= render partial: '/inventory/order/purchases/lot_form', locals: { f: f, index: nil } %>
          <input type="hidden" name="" id="inventory_order_total_discount", value="<%= @purchase_order.discount %>">
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <div class="row mb5" style="border-bottom:1px solid #eee;border-top:1px solid #eee;">
    <div class="transaction-lots-list" style="margin-top:15px; overflow-y: auto">
      <table class="table transaction-lots-table">
        <thead class="transaction-table-head">
        <tr class='thead-fixable'>
          <td class='col-md-2 thead-fix'>Description</td>
          <td class='col-md-1 thead-fix'>Rate</td>
          <td class='col-md-1 thead-fix'>Tax Rate</td>
          <td class='col-md-1 thead-fix'>Paid Qty.</td>
          <td class='col-md-1 thead-fix'>Free Qty.</td>
          <td class='col-md-1 thead-fix'>Discount</td>
          <td class='col-md-1 thead-fix'>Net Amount</td>
          <% if @sub_stores.size > 1 %>
            <td class='col-md-1 thead-fix'>Sub-Store</td>
          <% end %>
          <td class='col-md-1 thead-fix'>Remarks</td>
          <td class='col-md-1 thead-fix'>Action</td>
        </tr>
        </thead>
        <tbody class="transaction-table-body" style="overflow-y: auto; font-size: 11px">
          <% unless @purchase_transaction.new_record? %>
            <%= render 'inventory/transaction/purchases/lots.html', { f: f, purchase: @purchase_transaction } %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<div class="col-md-12" style="background: white;border-top: 6px solid #e4e7ea;min-height: 65px;">
  <%= render partial: 'inventory/transaction/purchases/other_charges.html.erb', locals: { f: f } %>

<div class="col-md-12" style="background: white;border-top: 6px solid #e4e7ea;min-height: 65px; padding: 10px;">
  <%= render partial: 'inventory/transaction/purchases/tax_details.html.erb', locals: { f:f } %>
  <%#= render partial: 'inventory/transaction/purchases/payment_details.html.erb', locals: { f:f } %>
</div>

<style>
  .transaction-datepicker, .transaction-timepicker{
    cursor: pointer !important;
  }
  
  .transaction-datepicker:disabled, .transaction-timepicker:disabled {
    cursor: not-allowed !important;
  }
  .transaction-lots-list .table thead th {
    font-weight: strong;
    background: #8c95b3;
    color: white;
    /*width: 80px;*/
    vertical-align: middle;
    padding: 6px 10px;
    text-align: center;
  }
  .transaction-lots-list .table thead th:first-child {
    width: 30px;
  }
  /* Change autocomplete styles in WebKit */
  .transaction-table-body input:-webkit-autofill,
  .transaction-table-body input:-webkit-autofill:hover,
  .transaction-table-body input:-webkit-autofill:focus,
  .transaction-table-body textarea:-webkit-autofill,
  .transaction-table-body textarea:-webkit-autofill:hover,
  .transaction-table-body textarea:-webkit-autofill:focus,
  .transaction-table-body select:-webkit-autofill,
  .transaction-table-body select:-webkit-autofill:hover,
  .transaction-table-body select:-webkit-autofill:focus
   {
    border: 1px solid green;
    -webkit-text-fill-color: #777777;
    -webkit-box-shadow: 0 0 0px 1000px #fcffcd inset;
    transition: background-color 5000s ease-in-out 0s;
  }
  .transaction-table-head {
    position: sticky;
    top:  0;
  }
</style>
