<div class="inventory-item-toolbar1 inventory-toolbar">
  <% current_date = Date.current %>
  <nav class="navbar navbar-secondary navbar-fixed-top" style="margin-bottom: 0px; left: auto; right: auto; width: auto; position: relative;z-index:100; background: #354670;">
    <div class="container-fluid" style="padding-right:0;">
      <div class="col-xs-1 link-to-calendar" style="padding-left:initial">
        <div class="navbar-header" style="margin-top: 7px;">
          <button class="btn btn-link btn-xs btn-inventory-refresh"><i class="fa fa-refresh" style="color:#fff;"></i></button>
        </div>
      </div>

      <div class="col-xs-3" style="padding: 5px 10px">
        <% if @inventory_store.enable_stock_entry && Authorization::PolicyHelper.verification(current_user.id ,"HGP-100-103-100") %>
          <div class="btn-group" style="margin-bottom: 0px;" role="group" aria-label="">
            <a href="/inventory/transaction/purchases/vendor_list?store_id=<%= @inventory_store.id %>" data-remote="true" data-toggle="modal" data-target="#vendor-list-modal" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> New</a>
            <button type="button" class="btn btn-primary btn-sm dropdown-toggle " data-toggle="dropdown" style="">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu children" style="">
              <li>
                <a href="/inventory/transaction/purchases/vendor_list?store_id=<%= @inventory_store.id %>" data-remote="true" data-toggle="modal" data-target="#vendor-list-modal" class=""> New Transaction</a>
              </li>
            </ul>
          </div>
        <% end %>
      </div>

      <div class="col-xs-4" style="padding: 5px 10px">
        <div class="btn-group" style="margin-bottom: 0px;" role="group" aria-label="">
          <a class="btn btn-primary btn-sm" id="time_period"><%= @time_period %></a>
          <button type="button" class="btn btn-primary btn-sm dropdown-toggle " data-toggle="dropdown" style="">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu children" style="">
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date %>" end-date="<%= current_date %>">Today</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.yesterday %>" end-date="<%= current_date.yesterday %>">Yesterday</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.beginning_of_week %>" end-date="<%= current_date.end_of_week %>">This Week</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.beginning_of_month %>" end-date="<%= current_date.end_of_month %>">This Month</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.beginning_of_quarter %>" end-date="<%= current_date.end_of_quarter %>">This Quarter</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.beginning_of_year %>" end-date="<%= current_date.end_of_year %>">This Year</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= (current_date - current_date.wday).beginning_of_week %>" end-date="<%= (current_date - current_date.wday).end_of_week %>">Previous Week</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= (current_date - current_date.mday).beginning_of_month %>" end-date="<%= (current_date - current_date.mday).end_of_month %>">Previous Month</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= (current_date - 3.months).beginning_of_quarter %>" end-date="<%= (current_date - 3.months).end_of_quarter %>">Previous Quarter</a></li>
            <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= (current_date - current_date.yday).beginning_of_year %>" end-date="<%= (current_date - current_date.yday).end_of_year %>">Previous Year</a></li>
              <!-- Custom -->
            <li class="period-list"><div class="mis-date-filter-custom" data-remote="true" data-toggle="modal" data-target="#mis-modal">Custom</div></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-4" style="padding: 5px 10px;">
        <% vendor_name =  @vendor_name.present? ? @vendor_name : 'Vendor' %>
        <div class="btn-group" style="margin-bottom: 0px;" role="group" aria-label="">
          <a class="btn btn-warning btn-sm" id="inventory_vendor_name"></i><%= vendor_name&.camelize %></a>
          <button type="button" class="btn btn-warning btn-sm dropdown-toggle " data-toggle="dropdown" style="">
            <span class="caret"></span>
          </button>
          <% @vendors << ['All', 'all'] %>
          <ul class="dropdown-menu children" style="">
            <% @vendors.each do |vendor| %>
              <li>
                <a class="vendor-filter" href="#" vendor_name="<%= vendor[0] %>" vendor_id="<%= vendor[1] %>"><%= vendor[0].try(:camelize) %></a></li>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <!-- <%#= link_to filter_purchase_inventory_transaction_purchases_path(store_id: @inventory_store.id, department_id: @inventory_store.department_id), data: { remote: true, 'toggle': 'modal1', 'target': '#variant-filter-modal1' }, class: 'btn btn-primary btn-md navbar-btn navbar-btn-hover open_side_modal', style: 'border:none;' do %><i class="fa fa-filter"></i> Filter<%# end %> -->
      
      <!-- <div data-remote="true" data-toggle="modal" data-target="#mis-modal" class="btn btn-primary btn-md navbar-btn navbar-btn-hover inventory-date-filter-custom" style="border:none;"><i class="fa fa-calendar"></i> Date</div> -->
      <!-- <div class="col-md-2"> -->
        <%# if params[:data_from] == 'custom_date' %>
          <!-- From&nbsp;<%= @start_date%> To&nbsp; <%= @end_date%> -->
          <!-- <div class="tagsinput"> -->
          <%# if @start_date.present? || @end_date.present? %>
            <!-- <span class="tag" data-attribute="date"><span>From&nbsp;<%= @start_date%> To&nbsp; <%= @end_date%></span><span title="Removing tag"></span></span>
          <%# end %>

          <input type="hidden" name="hiddenfilter[start_date]" class="transaction-fromdate form-control hiddenfilter"  value='<%= @start_date %>'>
          <input type="hidden" name="hiddenfilter[end_date]" class="transaction-todate form-control hiddenfilter"  value='<%= @end_date %>'>

        </div> -->
        <%# end %>
      <!-- </div> -->
      <div id="esearch_summary">
        <%= render partial: '/inventory/transaction/purchases/filter' %>
      </div>
    </div>
  </nav>
</div>

<div class="inventory-items" style=" height: initial;">
  <table class="table inventory_table_center">
    <thead class="inventory-table-head">
    <tr class='thead-fixable'>
      <td class='thead-fix col-md-3'>Date | Time</td>
      <td class='thead-fix col-md-3'>Vendor</td>
      <td class='thead-fix col-md-3'>Note</td>
      <td class='thead-fix col-md-2'>Amount</td>
      <td class="thead-fix col-md-2">Status</td>
      <% if @category == "out_stock" %>
        <td class="thead-fix">
          <% @current_date =  Date.current %>
          <%= link_to inventory_print_items_path(:Print_date =>  Date.strptime("#{@current_date}", "%Y-%m-%d"), data: "out_stock", :format => :pdf), :class => "text-center print_button", :target => "_blank" do %>
            Print
          <% end %>
        </td>
      <% end %>
    </tr>
    </thead>
    <tbody class="inventory-table-body purchase-transaction-list">
      <%= render partial: 'inventory/transaction/purchases/index_body' %>
    </tbody>
  </table>
  <% unless @purchases.count < 30 %>
    <div class="show-more-timeline">
      <a class="col-sm-12", href="javascript:;", id="show_more_inventory", data-count = "0" , style="text-align: center; text-decoration: none; position: fixed;">
        <i class="fa fa-spinner fa-spin"></i> Loading...
      </a>
    </div>
  <%end%>
</div>

<style>
  .print_button{
    border: 1px solid #6EC7EE;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    background: #6EC7EE;
    border-radius: 4px;
  }
  .print_button:hover{
    color: #fff;
    text-decoration: none;
  }

  .inventory-list-row:hover{
    background: aliceblue;
    cursor: pointer;
  }

  .inventory-list-row {
    cursor: pointer;
  }
  div.tagsinput {
    background: rgb(53, 70, 112)!important;
    border: none !important;
    padding:5px;
    width: auto !important;
    height: 48px !important;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
  }
  div.tagsinput span.tag {
    display: block;
    /*float: left;*/
    /*padding: 8px 5px;*/
    text-decoration: none;
    background: #ffffff !important;
    color: #000 !important;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
  }

  div.tagsinput span.tag:hover {
    text-decoration: line-through;
  }

  div.tagsinput span.tag a {
    font-weight: bold;
    color: #000 !important;
    opacity: 0.5;
    text-decoration: none;
    font-size: 11px;
  }
  .clear-filters-tag {
    padding: 10px;
    /*display: block;*/
    float: left;
    padding: 8px 5px;
    text-decoration: none;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
  }
  div.modal {
    overflow-y: auto;
  }
</style>
