<% if @purchases.length > 0 %>
  <% @purchases.each do |purchase| %>
    <tr id="<%= purchase.id%>" class="inventory-list-row">
      <td style="font-size: 10px; color: #17a08c;" class="col-md-3"><%= purchase.transaction_date %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= purchase.transaction_time&.strftime("%I:%M%p") %></td>
      <% vendor_location_name = purchase.vendor_location_name ? purchase.vendor_location_name : purchase.vendor_name %>
      <td style="font-size: 10px; color: #17a08c;" class="col-md-2 order-vendor" title="<%= purchase.vendor_location_address %>"><%= purchase.vendor_location_address %></td>
      <td class="col-md-3 notes"><b><%= purchase.note.try(:capitalize) %></b></td>
      <td class="col-md-2 total-cost"><b><%= purchase.net_amount %></b> </td>
      <td class="col-md-2 status"><b><%= purchase.status_text %></b> </td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td align="center"><strong style="font-size: 20px;">Nothing to Display</strong></td>
  </tr>
<% end %>

<style>
  .order-status, .order-vendor {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
</style>