<div class="">
  <h3 class="text-center" style="color: #00BFFF"><%= @purchase_transaction.note %></h3>


<div class="row font-size col-md-12">
    <div class="col-md-4 col-lg-3 font_size text-right"><b>Vendor</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
    <div class="col-md-8 col-lg-9 font_size" style="padding: 0;margin: 0;">
      <% v_name = @purchase_transaction.vendor_location_address.present? ? @purchase_transaction.vendor_location_address : @purchase_transaction.vendor_name %>
      <span style="font-weight: bolder;"><%= v_name %></span>
    </div>
</div>
<div class="row font-size col-md-12">
    <div class="col-md-4 col-lg-3 font_size text-right"><b>Transaction ID</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
    <div class="col-md-8 col-lg-9 font_size" style="padding: 0;margin: 0;">
      <span style="font-weight: bolder;"><%= @purchase_transaction.purchase_display_id %></span>
    </div>
</div>
<div class="row col-md-12 font-size">
  <% if @purchase_transaction.bill_type_challan? %>
    <div class="col-md-4 col-lg-3 font_size text-right"><b>Challan Number:</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
    <div class="col-md-8 col-lg-9 font_size" style="padding: 0;margin: 0;">
      <span><%= @purchase_transaction.challan_number %> &nbsp;|&nbsp;<%= @purchase_transaction.challan_date.strftime("%d/%m/%Y") %></span>
    </div>
    <% elsif @purchase_transaction.bill_type_bill? %>
    <div class="col-md-4 col-lg-3 font_size text-right"><b>Bill Number</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
    <div class="col-md-8 col-lg-9 font_size" style="padding: 0;margin: 0;">
      <span><%= @purchase_transaction.bill_number %> &nbsp;|&nbsp;<%= @purchase_transaction.bill_date&.strftime("%d-%m-%Y") %></span>
    </div>
   <% end %>
</div>
<div class="row font-size col-md-12">
    <div class="col-md-4 col-lg-3 font_size text-right"><b>Status</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
    <div class="col-md-8 col-lg-9 font_size" style="padding: 0;margin: 0;">
      <span style="font-weight: bolder;"><%= @purchase_transaction.status_text %></span>
    </div>
</div>
<div class="row font-size col-md-12">
  <% if @purchase_transaction.vendor_dl_number.present? %>
    <div class="col-md-4 col-lg-3 font_size text-right"><b>DL Number</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
    <div class="col-md-8 col-lg-9 font_size" style="padding: 0;margin: 0;">
      <span style="font-weight: bolder;"><%= @purchase_transaction.vendor_dl_number %></span>
    </div>
  <% end %>
</div>
<div class="row font-size col-md-12">
  <% if @purchase_transaction.vendor_gst_number.present? %>
    <div class="col-md-4 col-lg-3 font_size text-right"><b>GST</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
    <div class="col-md-8 col-lg-9 font_size" style="padding: 0;margin: 0;">
      <span style="font-weight: bolder;"><%= @purchase_transaction.vendor_gst_number %></span>
    </div>
  <% end %>
</div>
<div class="row mb5 col-md-12">
      <div class="col-md-3 font_size text-right"><b>GRN Created By</b><span style="font-weight: bold;margin-left: 0px;">:</span></div>
      <div class="col-md-9 font_size" style="padding: 0;margin: 0;">
        <span><%= @purchase_transaction&.entered_by %></span>
        <span style="padding: 2px;font-weight: bolder;">|</span>
        <span><%= @purchase_transaction.transaction_date.try(:strftime, '%d-%m-%Y') %>&nbsp;|&nbsp;<%= @purchase_transaction.transaction_time&.strftime("%I:%M %p") %></span>
      </div>
</div>
<% if  @purchase_transaction.approved_by_name.present? %>
<div class="row mb5 col-md-12">
      <div class="col-md-3 font_size text-right"><b>GRN Approved By</b><span style="font-weight: bold;margin-left: 0px;">:</span></div>
      <div class="col-md-9 font_size" style="padding: 0;margin: 0;">
        <span><%= @purchase_transaction.approved_by_name %></span>
        <span style="padding: 2px;font-weight: bolder;">|</span>
        <span><%= @purchase_transaction.approved_on.try(:strftime, '%d-%m-%Y') %>&nbsp;|&nbsp;<%= @purchase_transaction.approved_on&.strftime("%I:%M %p") %></span>
      </div>
</div>
<% end %>
  <% if @purchase_transaction.status == 'cancelled' %>
    <div class="row col-md-12">
      <div class="col-md-2 font_size text-center"><b>Cancelled By</b><span style="font-weight: bold;margin-left: 3px;">:</span></div>
      <div class="col-md-10 font_size" style="padding: 0;margin: 0;">
        <b><%=  @purchase_transaction.cancelled_by_name %></b>
        <b style="padding: 2px;font-weight: bolder;">|</b>
        <b><%= @purchase_transaction.cancelled_on.try(:strftime, '%d-%m-%Y') %>&nbsp;|&nbsp;<%= @purchase_transaction.cancelled_on&.strftime("%I:%M%p") %></b>
        <b style="padding: 2px;font-weight: bolder;">|</b>
        <b><%= @purchase_transaction.cancelled_reason %></b>
      </div>
    </div>
  <% end %>
  <br>

  <div class="btn-group" style="margin: 10px;">
    <% if @purchase_transaction.approved? %>
      <%= link_to review_order_inventory_transaction_purchases_path(id: @purchase_transaction.id), class: 'btn btn-warning btn-xs ', data: { remote: true, 'disable-with' => 'Please Wait...', 'toggle' => 'modal', 'target' => '#review-purchase-order-modal', class: 'btn btn-info' } do %> <i class=""></i> Complete Payment<% end %>
    <% end %>
    <a href="/inventory/transaction/purchases/print?order_id=<%= @purchase_transaction.id %>&page_size=A4" class="btn btn-success btn-xs" target='_blank'> <i class="fa fa-print"></i>&nbsp;Print A4</a>
    <a href="/inventory/transaction/purchases/print?order_id=<%= @purchase_transaction.id %>&page_size=A5" class="btn btn-success btn-xs" target='_blank'> <i class="fa fa-print"></i>&nbsp;Print A5</a>

    <% if @purchase_transaction.approved? || @purchase_transaction.completed? %>
      <!-- <button class="btn btn-xs btn-success disabled">
        <i class="fa fa-print"></i>&nbsp;GRN
      </button> -->
     <%= link_to print_grn_inventory_transaction_purchase_path(@purchase_transaction, page_size: 'A4'), class: "btn btn-xs btn-success", target: :_blank  do %><i class="fa fa-print"></i>&nbsp;GRN<% end %>
      <!------------------------------->
      <% if @purchase_transaction.payment_completed %>
        <%= link_to return_purchase_inventory_transaction_vendor_returns_path(id: @purchase_transaction.id, store_id: @purchase_transaction.store_id), class: "btn btn-primary btn-xs ", data: { remote: true, 'toggle' => 'modal', 'target' => '#return-purchase-modal', class: 'btn btn-info'} do %><i class="fa fa-exchange-alt"></i>&nbsp; Return<% end %>
      <% end %>
    <% end %>
    <!-- <%#= link_to new_mail_record_tracker_path(record_name: 'Inventory Invoice', record_id: @inventory_invoice.id, record_model: 'Invoice::InventoryInvoice', appointment_id: @inventory_invoice.try(:appointment_id), admission_id: @inventory_invoice.try(:admission_id), speciality: @inventory_invoice.try(:specalityname), :patient_id => @inventory_invoice&.patient_id, invoice_id: @inventory_invoice.id), class: "btn btn-xs btn-success", data: { remote: true, 'disable-with' =>  "Please Wait...", 'toggle' => 'modal', 'target' => '#mail-record-modal'} do %> <i class="fa fa-envelope"></i> Email<%# end %> -->
  </div>
  <% if @purchase_transaction.open? %>
    <div class="btn-group" style="margin: 10px;">
      <% if Authorization::PolicyHelper.verification(current_user.id ,"HGP-100-103-101", @purchase_transaction.user_id) %>
        <%= link_to 'Approve', approve_inventory_transaction_purchase_path(@purchase_transaction), class: "btn btn-xs btn-info", data: { confirm: 'Are you sure?', commit: 'Yes', remote: true, 'disable-with' => 'Please Wait...',  class: 'btn btn-danger' }, remote: true %>
      <% end %>
      <% if Authorization::PolicyHelper.verification(current_user.id ,"HGP-100-103-102") %>
        <%= link_to edit_inventory_transaction_purchase_path(@purchase_transaction,vendor_id: @vendor&.id), class: 'btn btn-primary btn-xs', remote: true do %>
          <i class="fa fa-edit"></i> Edit
        <% end %>
      <% end %>
      <% if Authorization::PolicyHelper.verification(current_user.id ,"HGP-100-103-103") %>
        <button class="btn btn-xs btn-danger cancel-purchase" data-toggle="modal" data-target="#confirmation-modal" data-id="<%= @purchase_transaction.id.to_s%>">
          <i class="fa fa-trash-alt"></i> &nbsp; Cancel
        </button>
      <% end %>
    </div>
  <% end %>
  <% if  @purchase_transaction.approved? || @purchase_transaction.completed? %>
    <% if Authorization::PolicyHelper.verification(current_user.id ,"HGP_100008") %>
      <%= link_to barcode_inventory_transaction_purchases_path(id: @purchase_transaction.id,store_id: @purchase_transaction.store_id), class: 'btn btn-primary btn-xs ', data: { remote: true, 'disable-with' => 'Please Wait...', 'toggle' => 'modal', 'target' => '#assign-barcode-purchase-order-modal', class: 'btn btn-info' } do %> <i class="fas fa-barcode"></i> Assign Barcode<% end %>
    <% end %>
  <% end %>
  <br><br>

  <%= render partial: '/inventory/transaction/purchases/show_body.html.erb' %>
</div>

<div id="cancelModal" class="modal false fade in" tabindex="-1" role="dialog" aria-labelledby="cancelModal" aria-hidden="false" style="z-index: 1051; display: hidden;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-button" data-dismiss="modal" aria-hidden="true">×</button>
        <h5 id="cancelModal" class="modal-title">Are you sure?</h5>
      </div>
      <%= form_tag cancel_inventory_transaction_purchase_path(id: @purchase_transaction.id), method: 'get', remote: true, id: 'new-message-form', class: "new-message-form" do %>
        <div class="modal-body">
          <%= label_tag "Reason for Cancellation"%>
          <%= text_field_tag :cancelled_reason, '', class: "form-control p7_10", placeholder: 'Reason for Cancellation', minlength: '5', required: true %>
        </div>
        <div class="modal-footer">
          <button class="btn commit btn-success close-button" data-dismiss="modal">Don't Cancel</button>
          <%= submit_tag "Cancel GRN", class: "btn btn-danger", data: { 'disable-with': 'Please Wait...' }, onclick: 'validateMessage()' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.cancel-purchase').click(function(e){
    e.preventDefault();
    $("#cancelModal").modal('show');
  })
  $(".close-button").click(function(e){
    e.preventDefault();
    $("#cancelled_reason").val("")
    $("#confirmation-modal").modal('hide')
  })
</script>

<style type="text/css">
  .table-add-item td{
    padding: 5px 5px 0;
  }

  .check_font table tr th {
    padding: 2px 5px;
  }

  .check_font table tr td {
    padding: 2px 5px;
  }

  .check_font {
    font-size: 11px;
  }
</style>
