<div style="border:1px solid #ccc;">
  <div class="row" style="border-bottom:1px solid #ccc;">
    <div class="col-md-12" style="border-bottom:1px solid #ccc;">
      <% entity_name = @entity_name.present? ? @entity_name : @inventory_store.name %>
      <h5 style="text-align: center;font-weight: bold;"><%= entity_name %></h5>
    </div>
    <div class="row" style="border-bottom:1px solid #ccc;">
      <div class="col-md-3 text-left">
        <% if @inventory_store.asset_path.url %>
          <% unless @inventory_store.asset_path.url.split('/').last == '_old_' %>
            <img width="80" height="80" src="<%= @inventory_store.asset_path.url %>">
          <% end %>
        <%end%>
      </div>
      <div class="col-sm-6 text-center">
        <% unless @inventory_store.address == 'org-address' %>
          <% address = [] %>
          <% address  << @inventory_store&.city << @inventory_store&.state&.capitalize << @inventory_store&.pincode %>
          <h5 class="check_font" style="margin: 0px"><%= @inventory_store.address %><%= ', ' +  address.reject(&:blank?)&.join(', ') %></h5>
        <%end%>
        <% if @inventory_store.email.present? %>
          <p> <h5 class="check_font" style="margin: 0px"><%= @inventory_store.email %></h5> </p>
        <%end%>
        <% if @inventory_store.mobilenumber.present? %>
          <p> <h5 class="check_font" style="margin: 0px"><%= @inventory_store.mobilenumber %></h5> </p>
        <%end%>
      </div>
      <div class="col-sm-3">
        <%# if @inventory_store.name ==nil || @inventory_store.name == "" || @inventory_store.shop_name == 'org-name' %>
          <!-- <h3 style="margin:0px"><%#= current_facility.name&.titleize %></h3> -->
        <%#else%>
          <!-- <h3 style="margin:0px"><%#= @inventory_store.shop_name&.titleize %></h3> -->
        <%#end%>
      </div>
    </div>

    <div class="row" style="border-bottom:1px solid #ccc;">
     <!--  <div class="col-sm-5 text-center" style="border-bottom:1px solid #ccc;">
        <b style="color: #00BFFF;">Goods Received Note</b>
      </div> -->
      <div class="col-md-7 text-right">
        <b style="color: black">Goods Received Note</b>
      </div>
      <div class="col-md-5">
        <div>
          <span>GSTIN:&emsp;<%= @inventory_store.gst.present? ? @inventory_store.gst : "NA"  %></span>
        </div>
      </div>
      <div class="col-md-12" style="border-bottom:1px solid #ccc;"></div>
    <div class="row" style="border-bottom:1px solid #ccc;">
        <div class="col-md-4" style="border-right:1px solid #ccc;">
          <div class="col-md-12 check_font"><span><b>Vendor Name:</b>&emsp;<%=@purchase_transaction.vendor_name %></span></div>
          <div class="col-md-12 check_font"><span><b>Vendor Address:</b>&emsp;<%= @purchase_transaction.vendor_location_address %></span></div>
          <div class="col-md-12 check_font"><span><b>GSTIN NO.:</b>&emsp;<%= @purchase_transaction.vendor_gst_number || 'NA'%></span></div>
        </div>
        <div class="col-md-8" style="padding: 0">
          <div class="col-md-6 check_font"><span><b>GRN NO.:</b>&emsp;<%= @purchase_transaction.purchase_display_id %></span></div>
         <div class="col-md-6 check_font"><span class="check_date"><b>GRN TIME:</b>&emsp;<%= @purchase_transaction.transaction_date.try(:strftime, '%d-%m-%Y') %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= @purchase_transaction.created_at&.strftime("%I:%M %p")%></span></div>
         <% if @purchase_order_transaction.present? %>
          <div class="col-md-6 check_font"><span><b>P.O NO.:</b>&emsp;<%= @purchase_order_transaction.purchase_display_id%></span></div>
          <div class="col-md-6 check_font"><span class="check_date"><b>P.O TIME:</b>&emsp;<%= @purchase_order_transaction.order_date_time.try(:strftime, '%d-%m-%Y') %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= @purchase_order_transaction.order_date_time&.strftime("%I:%M %p")%></span></div>
        <% end %>
          <% if @purchase_transaction.bill_number.present? %>
            <div class="col-md-6 check_font"><span><b>BILL NO.:</b>&emsp;<%= @purchase_transaction.bill_number %></span></div>
            <div class="col-md-6 check_font"><span class="check_date"><b>BILL TIME:</b>&emsp;<%= @purchase_transaction.bill_date.try(:strftime, '%d-%m-%Y') %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= @purchase_transaction.created_at&.strftime("%I:%M %p")%></span></div>
            <% elsif @purchase_transaction.challan_number&.present? %>
              <div class="col-md-6 check_font"><span><b>CHALLAN NO.:</b>&emsp;<%= @purchase_transaction.challan_number %></span></div>
              <div class="col-md-6 check_font"><span class="check_date"><b>CHALLAN TIME:</b>&emsp;<%= @purchase_transaction.challan_date.try(:strftime, '%d-%m-%Y') %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= @purchase_transaction.created_at&.strftime("%I:%M %p")%></span></div>
            <% else %>
          <% end %>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0">
      <!-- <h4 style="margin-top:0;">Transaction Details&nbsp; -->
        <div class="row check_font">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>S No.</th>
                <th>HSN</th>
                <th>Description</th>
                <th>Batch No.</th>
                <th>Expiry</th>
                <th>MRP</th>
                <th>GRN Qty</th>
                <th>Free Qty</th>
                <th>Rate</th>
                <th>Discount</th>
                <th>Tax%</th>
                <th>Total</th>
                <th>Remark</th>
              </tr>
            </thead>
            <tbody>
               <% @count = 1 %>
              <% @purchase_transaction.items.each do |item| %>
                <tr>
                  <td><%= @count %></td>
                  <% hsn_no = Inventory::Item.find_by(id: item.item_id.to_s).try(:hsn_no).present? ? Inventory::Item.find_by(id: item.item_id.to_s).hsn_no : 'NA' %>
                  <td><%= hsn_no%></td>
                  <td><%= "#{item.description}#{'-' + item.custom_field_tags.join(', ') if item.custom_field_tags.present?}" %></td>
                  <td><%= item.batch_no %></td>
                  <td><%= item.expiry %></td>
                  <td><%= item.list_price %></td>
                  <td><%= item.paid_stock %></td>
                  <td><%= item.stock_free_unit %></td>
                  <td><%= item.unit_cost_without_tax %></td>
                  <td><%= item.item_discount %></td>
                  <td><%= item.tax_rate %></td>
                  <td><%= item.total_cost&.round(2) %></td>
                  <td><%= item.remarks %></td>
                </tr>
                <% @count += 1 %>
              <% end %>
            </tbody>
          </table>
        </div>
      </h4>
    </div>
    <div id="item_information" class="col-lg-12 col-md-12 col-sm-12">
      <div class="col-md-5 check_font">
        <% if @purchase_transaction.other_charges.present? %>
        <div class="check_font" style="margin-top:0;font-weight: bold;">Other Charges:&nbsp;</div>
        <div class="row check_font">
          <table class="table table-borderless">
            <tbody>
              <% @count = 1 %>
              <% @purchase_transaction.other_charges.each do |charge| %>
                <tr>
                  <td><%= @count %></td>
                  <td><%= charge[:name] %></td>
                  <td><%= charge[:net_amount].include?('-') ? '-' : '+' %></td>
                  <td><%= charge[:amount] %></td>
                </tr>
              <% @count += 1 %>
              <% end %>
            </tbody>
          </table>
        </div>
        <% end %>
        <div class="row">
          <div class="col-sm-6" style="text-align: center;">
            <span style>CREATED BY</span>
            <div style="font-weight: bold;"><%= @purchase_transaction.entered_by %></div>
            <span><%= @purchase_transaction.try(:created_at)&.strftime("%d %b %Y %I:%M %p")%></span>
          </div>
          <div class="col-sm-6" style="text-align: center;">
            <span>APPROVED BY</span>
            <div style="font-weight: bold;"><%= @purchase_transaction.approved_by_name%></div>
            <span><%= @purchase_transaction.approved_on&.strftime("%d %b %Y %I:%M %p")%></span>
          </div>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-0">
        <div class="col-sm-12 text-right">
          <div class="col-sm-7 check_font">
            <b>Gross Amount</b>
          </div>
          <div class="col-sm-1 text-center check_font">
            :
          </div>
          <div class="col-sm-2 check_font">
            <%= @purchase_transaction.total_cost.to_f.round(2) %>
          </div>
        </div>
        <div class="col-sm-12 text-right">
          <div class="col-sm-7 check_font">
            <b>Total Discount</b>
          </div>
          <div class="col-sm-1 text-center check_font">
            :
          </div>
          <div class="col-sm-2 check_font" id="discount">
            <%= @purchase_transaction.discount %>
          </div>
        </div>
        <%# @purchase_transaction.items.try(:each) do |item| %>
          <!-- <div class="col-sm-12 text-right">
          <div class="col-sm-7 check_font">
            <b><%#= item.tax_name %></b>
          </div>
          <div class="col-sm-1 text-center check_font">
            :
          </div>
          <div class="col-sm-2 check_font">
            <%#= number_with_precision(item.purchase_tax_amount, precision: 2) %>
          </div>
        </div> -->
        <%# end %>
        <% tax_d = {} %>
        <% @purchase_transaction.items.try(:each) do |item| %>
          <% if (tax_d[item.tax_name] == nil) %>
            <% tax_d[item.tax_name] = item.purchase_tax_amount.to_f %>
          <% else %>
            <%  tax_d[item.tax_name] = tax_d[item.tax_name].to_f + item.purchase_tax_amount.to_f %>
          <% end %>   
        <% end %>
        <% tax_d.each do |tax_breakup| %>
          <div class="col-sm-12 text-right">
            <div class="col-sm-7 check_font">
              <b><%= tax_breakup[0] %></b>
            </div>
            <div class="col-sm-1 text-center check_font">
              :
            </div>
            <div class="col-sm-2 check_font">
              <%= number_with_precision(tax_breakup[1], precision: 2) %>
            </div>
          </div>
        <% end %>
        <div class="col-sm-12 text-right">
          <div class="col-sm-7 check_font">
            <b>Other Charges</b>
          </div>
          <div class="col-sm-1 text-center check_font">
            :
          </div>
          <div class="col-sm-2 check_font">
            <%= @purchase_transaction.total_other_charges_amount || 0 %>
          </div>
        </div>
        <div class="col-sm-12 text-right">
          <% if false %>
            <div class="col-sm-7 check_font">
              <b>Credit Adjustment</b>
            </div>
            <div class="col-sm-1 text-center check_font">
              :
            </div>
            <div class="col-sm-2 check_font" id="credit_adjustment">
              <%= @purchase_transaction.credit_adjustment %>
            </div>
          <% end %>
        </div>
        <div class="col-sm-12 text-right">
          <div class="col-sm-7 check_font">
            <b>Net Amount</b>
          </div>
          <div class="col-sm-1 text-center check_font">
            :
          </div>
          <div class="col-sm-2 check_font">
            <%= @purchase_transaction.net_amount %>
          </div>
        </div>
        <!-- <div class="col-sm-12 text-right">
          <div class="col-sm-7 check_font">
            <b>Amount Paid</b>
          </div>
          <div class="col-sm-2 text-center check_font">
            :
          </div>
          <div class="col-sm-1 check_font">
            <%#= @purchase_transaction.amount_paid %>
          </div>
        </div>
        <div class="col-sm-12 text-right">
          <div class="col-sm-7 check_font">
            <b>Amount Remaining</b>
          </div>
          <div class="col-sm-2 text-center check_font">
            :
          </div>
          <div class="col-sm-1 check_font">
            <%#= @purchase_transaction.amount_remaining %>
          </div>
        </div> -->
        <!-- <div class="row mb5" style="border-bottom:1px solid #eee; margin-top: 5px;"></div> -->
        <!-- <div class="col-sm-12 text-right">
          <div class="col-sm-7 check_font">
            <b>Taxable Amount</b>
          </div>
          <div class="col-sm-2 text-center check_font">
            :
          </div>
          <div class="col-sm-1 check_font">
            <%#= @purchase_transaction.purchase_taxable_amount %>
          </div>
        </div> -->
        <%# @purchase_transaction.tax_breakup.try(:each) do |tax_breakup| %>
          <!-- <div class="col-sm-12 text-right">
            <div class="col-sm-7 check_font">
              <b><%#= tax_breakup[:name] %></b>
            </div>
            <div class="col-sm-2 text-center check_font">
              :
            </div>
            <div class="col-sm-1 check_font">
              <%#= number_with_precision(tax_breakup[:amount], precision: 2) %>
            </div>
          </div> -->
        <%# end %>
      </div>
    </div>

  </div>
</div>

<style type="text/css">
  .table-add-item td{
    padding: 5px 5px 0;
  }

  .check_font table tr th {
    padding: 1px 2px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
  }

  .check_font table tr td {
    padding: 5px 8px;
    text-align: center;
  }

  .check_font {
    font-size: 11px;
  }
  .table-borderless tr td {
    border: none !important;
    padding:  1px 1px 0 !important;
  }
</style>
