<%= render partial: '/prescriptions/common_css.html.erb' %>
<div class="col-xs-6 sidebar_area" style="background: white;">
  <div id="toolbar_area">
    <div id="toolbar">
      <nav class="navbar navbar-secondary navbar-inverse navbar-fixed-top" style="margin-bottom: 0px; left: auto; right: auto; width: auto; position: relative;z-index:100;">
        <div class="container-fluid" style="padding-right:0;border-right: 1px solid #aaa;">
          <div class="col-xs-1 link-to-calendar" style="padding-left:initial">
            <div class="navbar-header" style="margin-top: 7px;">
              <button class="btn btn-link btn-xs" id='btn-optical-management-refresh'><i class="fa fa-refresh" style="color:#fff;"></i></button>
            </div>
          </div>
          <div class="col-xs-5 patient-search">
            <!-- <input type="text" placeholder="Search Patient" class="search-optical form-control " id="search_optical"> -->
            <div class="input-group" style="margin-top: 3%;">
              <div class="input-group-btn">
                <button data-toggle="dropdown" class="btn btn-default search-filter dropdown-toggle" style="background: transparent;
                          color: white;" type="button" data-active-filter="Active">A <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-options" data-filter-id="Active">Active</a></li>
                  <li><a class="dropdown-options" data-filter-id="Returning">Returning</a></li>
                </ul>
              </div>
              <input type="text" placeholder="&nbsp;Search Patient" class="search-optical form-control " id="search_optical" maxlength="50">
            </div>
          </div>
          <div class="col-xs-1 text-center btn-today">
            <button class="btn btn-danger navbar-btn navbar-btn-hover ps" id="btn-optical-today" style="padding-left: 8.4px !important;padding-right: 8.4px !important;background:transparent;" <%= 'disabled="disabled"' if @current_date == Date.current %>> Today</button>
          </div>
          <div class="col-xs-4 text-center navigate-date" style="padding:0px;">
            <button class="btn btn-success  navbar-btn navbar-btn-hover" id="btn-optical-backdate" style="padding-left: 8.4px !important;padding-right: 8.4px !important;border: none;margin-top:10px;font-size: 14px;padding-left:15px;"> <i class="fa fa-chevron-left"></i></button>
            <span style="font-size:14px;"><%= @current_date.strftime("%b %d, %Y") %></span>
            <button class="btn btn-success  navbar-btn navbar-btn-hover" id="btn-optical-frontdate" style="padding-left: 8.4px !important;padding-right: 8.4px !important;border: none;margin-top:10px;font-size: 14px;padding-left:15px;"> <i class="fa fa-chevron-right"></i></button>
          </div>
          <div class="col-xs-1 row text-right btn-calendar-date">
            <input type="text" id="optical-datepicker-inline" style="display: none;">
            <!-- Logic in optical_management.js.erb -->
          </div>
        </div>
      </nav>
    </div>
  </div><!-- #toolbar_area -->
  <div class="sidebar_area_content">
    <div class="col-xs-12 sidebar_pane" id="sidebar_summary">
      <div class="sidebar-summary-optical">
        <%= render partial: 'prescriptions/optical/sidebar_summary.html.erb' %>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-6 optical_main_content" style="padding:0px;">
  <%= render partial: '/prescriptions/optical/optical_main_content.html.erb' %>
</div>
<script type="text/javascript">
  <%= render partial: '/prescriptions/optical/optical_management.js.erb' %>
</script>