<tr class="each-facility-contact-table-row" id="row_<%= @link_facility.id.to_s %>">
  <td>
    <b class="contact_name" style="color:#000;"><%= @link_facility&.device_name %></b>
  </td>
  <td class="text-left">
    <%= facility_name(@link_facility&.facility_id) %>
  </td>

  <td class="text-left">
    <%= @link_facility&.device_id %>
  </td>
  <td class="text-left">
    <%= @link_facility&.unregistered_on&.strftime("%d/%m/%y %H:%M %p") %>
  </td>
  <td class="text-left">
    <%= @link_facility&.unregistered_by %>
  </td>
  <td>
    <%= @link_facility&.last_activity_date&.strftime("%d/%m/%y %H:%M %p") %>
  </td>
  <td class="text-center">
    <button class="btn btn-primary" id="btn_<%= @link_facility.id.to_s %>" onclick="reresgister_device(this.id)"> Re-register</button>
  </td>
</tr>
