<tr id="row_<%= @available_device.id.to_s %>" >
  <td class="contact_name" style="color:#000;"> <%= @available_device.device_name %> </td>
  <td class="text-left"> <%= facility_name(@available_device&.facility_id) %> </td>
  <td class="text-left"> <%= @available_device.device_id %> </td>>
  <td class="text-left"> <%= @available_device&.registered_since.strftime("%d/%m/%y %H:%M %p") %> </td>
  <td class="text-left"> <%= @available_device.registered_by %> </td>
  <td class="text-left"><%= @available_device&.last_activity_date.strftime("%d/%m/%y %H:%M %p") %> <td>
  <td class="text-left">
    <button class="btn btn-primary" id="btn_<%= @available_device.id.to_s %>" onclick="unresgister_device(this.id)">Unregister</button>
  </td>
</tr>