<div class="row unregistered-row">
  <span style="text-align: center">
    <h4>
       Unregistered Devices
    </h4>
  </span>
  <div id="table-wrapper">
    <div id="table-scroll">
      <table class="table psr-table" id="unregistered_device">
        <thead>
        <tr style="background-color: lightgrey">
        <th class="text-left">Device Name</th>
        <th class="text-left">Facility Name</th>
        <th class="text-left">Device Id</th>
        <th class="text-left">Unregistered On</th>
        <th class="text-left">UnRegistered By</th>
        <th class="text-left">Last Activity Date</th>
        <th class="text-left">Action</th>
        </tr>
        </thead>
        <tbody>
        <% if @map_unregistered_devices.present?%>
          <% @map_unregistered_devices.each do|key, value|%>
            <tr class="each-facility-contact-table-row" id="row_<%= key.to_s %>">
              <td>
                <b class="contact_name" style="color:#000;"><%= value&.device_name %></b>
              </td>
              <td class="text-left">
                <%= facility_name(value&.facility_id) %>
              </td>

              <td class="text-left">
                <%= value&.device_id %>
              </td>
              <td class="text-left">
                <%= value&.unregistered_on&.strftime("%d/%m/%y %H:%M") %>
              </td>
              <td class="text-left">
                <%= value&.unregistered_by %>
              </td>
              <td>
                <%= value&.last_activity_date&.strftime("%d/%m/%y %H:%M") %>
              </td>
              <td class="text-center">
                <button class="btn btn-primary" id="btn_<%= key.to_s %>" onclick="reresgister_device(this.id)"> Re-register</button>
              </td>
            </tr>
          <% end %>
        <%else%>
          <div class="col-md-12 text-center mt10">
            No Devices to show
          </div>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<style>
  .psr-table{
    width:    1100px;;
    margin-left: 2%;
    max-width: 100%;
    margin-bottom: 20px;

  }
</style>
  <script>
  function reresgister_device(clicked_id) {
    var link_facility_id = clicked_id.split('_')[1]
    $.ajax({
      type: "GET",
      dataType: "script",
      data: {remote: "true", id: link_facility_id},
      url: "/link_psrs/edit"
    })
  }
</script>




