<div id="patient-diagnoses">
  <div class="row patient-diagnosis">
    <% if @counsellor_record.present? %>
      <% if @counsellor_record.diagnoses.count > 0 %>
        <div class="col-md-12" style="text-decoration: underline;"><b>DIAGNOSIS</b></div>
        <% @counsellor_record.diagnoses.group_by(&:icddiagnosiscode).each do |icddiagnosiscode, diagnoses| %>
          <div class="col-md-12">
            <% if diagnoses[0].icd_type == 'TranslatedIcdDiagnosis' %>
              <span><b style="color: #333;"><%= diagnoses[0].diagnosisname.to_s %> - <%= diagnoses[0].icddiagnosiscode.to_s.upcase.insert(3, '.') %></b></span>
            <% else %>
              <span><b style="color: #333;"><%= diagnoses[0].diagnosisoriginalname.to_s %> - <%= diagnoses[0].icddiagnosiscode.to_s.upcase.insert(3, '.') %></b></span>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <% if @counsellor_record.free_form_diagnoses.count > 0 %>
        <div class="col-md-12" style="text-decoration: underline;"><b>DIAGNOSIS</b></div>
        <% @counsellor_record.free_form_diagnoses.each do |key, diagnosis| %>
          <div class="col-md-12">
            <span><b style="color: #333;"><%= diagnosis[:content].to_s.html_safe() %></b></span>
          </div>
        <% end %>
      <% end %>
      <% if @counsellor_record.diagnoses.count == 0 && @counsellor_record.free_form_diagnoses.count == 0 %>
        <div class="col-md-12">
          <i>No Diagnoses</i>
        </div>
      <% end %>
    <% else %>
      <div class="col-md-12">
        <i>No Diagnoses</i>
      </div>
    <% end %>
  </div>
</div>