<% if @counsellor_record.try(:is_insured) == "Yes" %>
  <div class="insurance_details_section">
    <div class="row mb5">
      <div class="col-sm-3">
        <b style="color:#000;">Insurance Name</b>
      </div>
      <div class="col-md-9">
        <%= if @counsellor_record.insurance_name.present? then @counsellor_record.insurance_name else '--' end %>
      </div>
    </div>
    <div class="row mb5">
      <div class="col-sm-3">
        <b style="color:#000;">Insurance Contact Number</b>
      </div>
      <div class="col-sm-3">
        <%= if @counsellor_record.insurance_contact_no.present? then @counsellor_record.insurance_contact_no else '--' end %>
      </div>
      <div class="col-sm-3">
        <b style="color:#000;">Policy No.</b>
      </div>
      <div class="col-sm-3">
        <%= if @counsellor_record.insurance_policy_no.present? then @counsellor_record.insurance_policy_no else '--' end %>
      </div>
    </div>
    <div class="row mb5">
      <div class="col-sm-3">
        <b style="color:#000;">Insurance Contact Person</b>
      </div>
      <div class="col-sm-3">
        <%= if @counsellor_record.insurance_contact_person.present? then @counsellor_record.insurance_contact_person else '--'end %>
      </div>
      <div class="col-sm-3">
        <b style="color:#000;">Policy Expiry Date</b>
      </div>
      <div class="col-sm-3">
        <%= if @counsellor_record.insurance_policy_expiry_date.present? then @counsellor_record.insurance_policy_expiry_date else '--' end %>
      </div>
    </div>
    <div class="row mb5">
      <div class="col-sm-3">
        <b style="color:#000;">Insurance Address</b>
      </div>
      <div class="col-sm-3">
        <%= if @counsellor_record.insurance_address.present? then @counsellor_record.insurance_address else '--' end %>
      </div>
      <div class="col-sm-3">
        <b style="color:#000;">Sum Insured</b>
      </div>
      <div class="col-sm-3">
        <%= if @counsellor_record.insurance_sum_insured.present? then @counsellor_record.insurance_sum_insured else '--' end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-12">
      <span><b>Cashless Hospitalisation:</b> <i><%= @counsellor_record.is_insured %></i></span>
    </div>
  </div>
<% end %>