<div class="row surgery_packages">
  <div class="col-md-12">
    <% if @counsellor_record.present? && @counsellor_record.patient_surgery_package.count > 0 %>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th class="text-right">Regular Price</th>
            <th class="text-right">Discount</th>
            <th class="text-right">Package Price</th>
          </tr>
        </thead>
        <!-- CounsellorRecord -->
        <% patient_surgery_package = @counsellor_record.patient_surgery_package %>
        <tbody>
          <% patient_surgery_package[:services].each do |i, service| %>
            <tr>
              <td><%= service[:service_name] %> | <%= PayerMaster.find_by(id: service[:payer_master_id]).try(:display_name) || 'General' %></td>
                <td class="text-right"><%= service[:pricing_amount] %></td>
                <td class="text-right"><%= "#{service[:discount_amount]} (#{service[:discount_percent]}%)" %></td>
                <td class="text-right"><%= service[:package_price] %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td class="text-right"><b style="color:#000;"><%= patient_surgery_package[:package_name] %></b></td>
              <td class="text-right"><b style="color:#000;"><%= patient_surgery_package[:pricing_amount] %></b></td>
              <td class="text-right"><b style="color:#000;"><%= "#{patient_surgery_package[:discount_amount]} (#{patient_surgery_package[:discount_percent]}%)" %></b></td>
              <td class="text-right"><b style="color:#000;"><%= patient_surgery_package[:package_price] %></b></td>
          </tr>
        </tfoot>
      </table>
    <% else %>
      <i>No Package Selected</i>
    <% end %>
  </div>
</div>
