<div class="row">
  <div class="col-md-12">
    <strong style="text-decoration: underline;">PROCEDURES</strong>
  </div>
</div>
<!-- <div class="row">
  <div class="col-md-12">
    <strong>Procedures</strong>
  </div>
</div> -->
<% if @counsellor_record.present? %>
  <% if @procedures.count > 0 %>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th style="width: 20%;">Name</th>
            <th class="text-center">Advised</th>
            <th class="text-center">Counselled</th>
            <th class="text-center">Agreed</th>
            <th class="text-center">Payment Taken</th>
            <th class="text-center">Declined</th>
            <th class="text-center">Performed</th>
          </tr>
        </thead>
        <tbody>
          <% @procedures.each do |procedure| %>
            <tr style="font-size: 12px;">
              <td>
                <b style="color: #333;"><%= procedure.procedurename.to_s + ', ' + procedure.get_label_for_procedure_side(procedure.procedureside) %></b>
              </td>
              <td class="text-center">
                <% if procedure.is_advised %>
                  <%= procedure.advised_by %><br/><%= procedure.try(:advised_datetime).try(:strftime, '%d/%m/%Y') %>
                <% else %>
                  -
                <% end %>
              </td>
              <td class="text-center">
                <% if procedure.is_counselled %>
                  <%= procedure.counselled_by %><br/><%= procedure.try(:counselled_datetime).try(:strftime, '%d/%m/%Y') %>
                <% else %>
                  -
                <% end %>
              </td>
              <td class="text-center">
                <% if procedure.has_agreed %>
                  <%= procedure.agreed_by %><br/><%= procedure.try(:agreed_datetime).try(:strftime, '%d/%m/%Y') %>
                <% else %>
                  -
                <% end %>
              </td>
              <td class="text-center">
                <% if procedure.payment_taken %>
                  <%= procedure.payment_taken_by %><br/><%= procedure.try(:payment_taken_datetime).try(:strftime, '%d/%m/%Y') %>
                <% else %>
                  -
                <% end %>
              </td>
              <td class="text-center">
                <% if procedure.has_declined %>
                  <%= procedure.declined_by %><br/><%= procedure.try(:declined_datetime).try(:strftime, '%d/%m/%Y') %>
                <% else %>
                  -
                <% end %>
              </td>
              <td class="text-center">
                <% if procedure.is_performed && procedure.performed_datetime.present? %>
                  <%= procedure.performed_by %><br/><%= procedure.performed_datetime.to_time.try(:strftime, '%d/%m/%Y') %>
                <% else %>
                  -
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  <% if @free_form_procedures.count > 0 %>    
    <div class="row mt10">
      <div class="col-md-12 mt10" style="text-decoration: underline;"><b>PROCEDURES</b></div>
      <% @free_form_procedures.each do |key, procedure| %>
        <div class="col-md-12">
          <span><b style="color: #333;"><%= procedure[:content].to_s.html_safe() %></b></span>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if @procedures.count == 0 && @free_form_procedures.count == 0 %>
    <div class="row no-procedure">
      <div class="col-md-12">
        <i>No Procedures</i>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="row">
    <div class="col-md-12">
      <i>No Procedure</i>
    </div>
  </div>
<% end %>