<% opd_history_counter = 0 %>
<% r_opd_history_counter = 0 %>
<% l_opd_history_counter = 0 %>
<% be_opd_history_counter = 0 %>
<% checkuptypecomments_history_counter = 0 %>
<% antenatal_history_counter = 0 %>
<% antenatal_history_counter = 0 %>
<% natal_history_counter = 0 %>
<% post_natal_history_counter = 0 %>
<% ho_vaccination_history_counter = 0 %>
<% developmental_history_history_counter = 0 %>
<% developmental_history_counter = 0 %>
<% checkuptype_history_counter = 0 %>
<% personel_history_counter = 0 %>

<% if @patient.patient_history.patientpersonalhistory.opthal_history_comment != "" && @patient.patient_history.patientpersonalhistory.opthal_history_comment != nil %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @patient.patient_history.patientpersonalhistory.history_comment != "" && @patient.patient_history.patientpersonalhistory.history_comment != nil %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @patient.patient_history.patientpersonalhistory.medical_history_comment != "" && @patient.patient_history.patientpersonalhistory.medical_history_comment != nil %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @patient.patient_history.patientpersonalhistory.family_history_comment != "" && @patient.patient_history.patientpersonalhistory.family_history_comment != nil %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @patient.patient_history.patientpersonalhistory.glaucoma == "true" %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @patient.patient_history.patientpersonalhistory.retinal_detachment == "true" %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @patient.patient_history.patientpersonalhistory.retinal_dystrophies == "true" %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @patient.patient_history.patientpersonalhistory.glasses == "true" %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @patient.patient_history.patientpersonalhistory.ocular_disease == "true" %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @patient.patient_history.patientpersonalhistory.ocular_surgery == "true" %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @patient.patient_history.patientpersonalhistory.eye_surgery == "true" %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @patient.patient_history.patientpersonalhistory.eye_disease == "true" %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @patient.patient_history.patientpersonalhistory.consanguinity == "true" %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @patient.patient_history.patientpersonalhistory.uveitis == "true" %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @patient.patient_history.patientpersonalhistory.retinal_laser == "true" %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @patient.patient_history.patientpersonalhistory.diabetes == "true" %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @patient.patient_history.patientpersonalhistory.hypertension == "true" %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @patient.patient_history.patientpersonalhistory.alcoholism == "true" %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @patient.patient_history.patientpersonalhistory.smoking_tobacco == "true" %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @patient.patient_history.patientpersonalhistory.steroid_intake == "true" %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @patient.patient_history.patientpersonalhistory.drug_abuse == "true" %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @patient.patient_history.patientpersonalhistory.hiv_aids == "true" %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @patient.patient_history.patientpersonalhistory.cancer_tumor == "true" %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @patient.patient_history.patientpersonalhistory.cardiac_disorder == "true" %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @patient.patient_history.patientpersonalhistory.rheumatoid_arthritis == "true" %>
  <% personel_history_counter = personel_history_counter + 1 %>
<% end %>

<% if @patient.patient_history.patientpersonalhistory.tuberculosis == "true" %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @patient.patient_history.patientpersonalhistory.asthma == "true" %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @patient.patient_history.patientpersonalhistory.cns_disorder_stroke == "true" %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @patient.patient_history.patientpersonalhistory.thyroid_disorder == "true" %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @patient.patient_history.patientpersonalhistory.hepatitis_cirrhosis == "true" %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @patient.patient_history.patientpersonalhistory.renal_disorder == "true" %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @patient.patient_history.patientpersonalhistory.acidity == "true" %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @patient.patient_history.patientpersonalhistory.on_insulin == "true" %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @patient.patient_history.patientpersonalhistory.on_aspirin_blood_thinners == "true" %>
  <% personel_history_counter = personel_history_counter + 1 %>
<%end%>

<% if @opd_record.present? %>
  <% if @opd_record.chiefcomplaint_blurringdiminution == "true" %>
    <% opd_history_counter = opd_history_counter + 1 %>
  <% end %>

  <% if @opd_record.chiefcomplaint_redness == "true" %>
    <% opd_history_counter = opd_history_counter + 1 %>
  <% end %>

  <% if @opd_record.chiefcomplaint_pain == "true" %>
    <% opd_history_counter = opd_history_counter + 1 %>
  <% end %>

  <% if @opd_record.chiefcomplaint_injury == "true" %>
    <% opd_history_counter = opd_history_counter + 1 %>
  <% end %>

  <% if @opd_record.chiefcomplaint_watering == "true" %>
    <% opd_history_counter = opd_history_counter + 1 %>
  <% end %>
   <% if @opd_record.chiefcomplaint_discharge == "true" %>
    <% opd_history_counter = opd_history_counter + 1 %>
  <% end %>

  <% if @opd_record.chiefcomplaint_dryness == "true" %>
    <% opd_history_counter = opd_history_counter + 1 %>
  <% end %>

  <% if @opd_record.chiefcomplaint_itichingfbsensation == "true" %>
    <% opd_history_counter = opd_history_counter + 1 %>
  <% end %>

  <% if @opd_record.chiefcomplaint_deviationsquint == "true" %>
    <% opd_history_counter = opd_history_counter + 1 %>
  <% end %>

  <% if @opd_record.chiefcomplaint_headachestrain == "true" %>
    <% opd_history_counter = opd_history_counter + 1 %>
  <% end %>

  <% if @opd_record.chiefcomplaint_changeinsizeshape == "true" %>
    <% opd_history_counter = opd_history_counter + 1 %>
  <% end %>

  <% if @opd_record.chiefcomplaint_othervisualsymptoms == "true" %>
    <% opd_history_counter = opd_history_counter + 1 %>
  <% end %>

  <% if @opd_record.chiefcomplaint_shadowdefect == "true" %>
    <% opd_history_counter = opd_history_counter + 1 %>
  <% end %>

  <% if @opd_record.chiefcomplaint_discolorationeye == "true" %>
    <% opd_history_counter = opd_history_counter + 1 %>
  <% end %>

  <% if @opd_record.templatetype == "paediatrics" %>
    <% if @opd_record.natal_history_normal == "true" %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% natal_history_counter = natal_history_counter + 1 %>
    <% end %>

    <% if @opd_record.natal_history_forceps == "true" %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% natal_history_counter = natal_history_counter + 1 %>
    <% end %>

    <% if @opd_record.natal_history_caesarean == "true" %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% natal_history_counter = natal_history_counter + 1 %>
    <% end %>
  <% end %>


  <% if @opd_record.r_chiefcomplaint.present? %>
    <% opd_history_counter = opd_history_counter + 1 %>
    <% r_opd_history_counter = r_opd_history_counter + 1 %>
  <% end %>

  <% if @opd_record.r_subjectivecomments.present? %>
    <% opd_history_counter = opd_history_counter + 1 %>
    <% r_opd_history_counter = r_opd_history_counter + 1 %>
  <% end %>

  <% if @opd_record.l_chiefcomplaint.present? %>
    <% opd_history_counter = opd_history_counter + 1 %>
    <% l_opd_history_counter = l_opd_history_counter + 1 %>
  <% end %>

  <% if @opd_record.l_subjectivecomments.present? %>
    <% opd_history_counter = opd_history_counter + 1 %>
    <% l_opd_history_counter = l_opd_history_counter + 1 %>
  <% end %>
  <% unless @opd_record.chiefcomplaint_comments.blank? %>
    <% opd_history_counter = opd_history_counter + 1 %>
    <% be_opd_history_counter = be_opd_history_counter + 1 %>
  <% end %>
  <% unless @opd_record.checkuptype.blank? %>
    <% opd_history_counter = opd_history_counter + 1 %>
    <% checkuptype_history_counter = checkuptype_history_counter + 1 %>
  <% end %>
  <% unless @opd_record.checkuptypecomments.blank?  %>
    <% opd_history_counter = opd_history_counter + 1 %>
    <% checkuptypecomments_history_counter = checkuptypecomments_history_counter + 1 %>
  <% end %>

  <% if @opd_record.templatetype == "paediatrics" %>
    <% unless @opd_record.antenatal_maternal_vaccination.blank?  %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% antenatal_history_counter = antenatal_history_counter + 1 %>
    <% end %>
    <% unless @opd_record.antenatal_maternal_infection.blank?  %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% antenatal_history_counter = antenatal_history_counter + 1 %>
    <% end %>
    <% unless @opd_record.natal_birth_weight.blank?  %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% natal_history_counter = natal_history_counter + 1 %>
    <% end %>
    <% unless @opd_record.post_natal_history.blank?  %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% post_natal_history_counter = post_natal_history_counter + 1 %>
    <% end %>
    <% unless @opd_record.ho_vaccination.blank?  %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% ho_vaccination_history_counter = ho_vaccination_history_counter + 1 %>
    <% end %>
    <% unless @opd_record.developmental_history.blank?  %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% developmental_history_history_counter = developmental_history_history_counter + 1 %>
    <% end %>
  <% end %>
<% end %>

<% unless opd_history_counter <= 0 &&  personel_history_counter <= 0 && (@patient.patient_history.patientpersonalhistory.problems == nil || @patient.patient_history.patientpersonalhistory.problems == [] ) && @patient.patient_history.patientallergyhistory.antimicrobialagents == [] && @patient.patient_history.patientallergyhistory.antifungalagents ==[] && @patient.patient_history.patientallergyhistory.antiviralagents ==[] &&  @patient.patient_history.patientallergyhistory.nsaids ==[] && @patient.patient_history.patientallergyhistory.eyedrops ==[] &&  @patient.patient_history.patientallergyhistory.contact ==[] &&  @patient.patient_history.patientallergyhistory.food ==[] &&  @patient.patient_history.patientallergyhistory.others==""  %>
  <% @patient_history = true %>
  <!-- <div class="row mb5">
    <div class="col-md-12">
      <strong style="text-decoration: underline;">PATIENT HISTORY</strong>
    </div>
  </div> -->
<% end %>

<% if @opd_record.present? %>
  <% if opd_history_counter > 0 %>
    <div class="row">
      <div class="col-md-12">
        <% if opd_history_counter > 0 %>
          <span>
            <% if checkuptypecomments_history_counter > 0 || checkuptype_history_counter > 0 %>
              <strong>Visit:</strong>
            <%end%>
            <% if @opd_record.checkuptype.blank? %>
              <% unless @opd_record.checkuptypecomments == nil || @opd_record.checkuptypecomments == ""  %><%= @opd_record.checkuptypecomments %><%end%>
            <%else%>
              <%= @opd_record.checkuptype %><% unless @opd_record.checkuptypecomments == nil || @opd_record.checkuptypecomments == ""  %>, <%= @opd_record.checkuptypecomments %><%end%>
            <%end%>
          </span>
        <%end%>
      </div>
    </div>
    <div class="row">
        <% if opd_history_counter > 0 %>
          <% if @opd_record.chiefcomplaint_blurringdiminution == "true" %>
            <div class="col-md-12">
              <span>Blurring/Diminution of vision</span>
              <span>
                <% if @opd_record.chiefcomplaint_blurringdiminution_side.present? %>
                    in
                    <% if @opd_record.chiefcomplaint_blurringdiminution_side == "L" %>
                      Left Eye
                    <% elsif @opd_record.chiefcomplaint_blurringdiminution_side == "R"%>
                      Right Eye
                    <% else %>
                      Both Eye
                    <% end %>
                <%end%>
                <%if @opd_record.chiefcomplaint_blurringdiminution_duration.present? && @opd_record.chiefcomplaint_blurringdiminution_duration_unit.present? %>
                  since <%= @opd_record.chiefcomplaint_blurringdiminution_duration%> <%= @opd_record.chiefcomplaint_blurringdiminution_duration_unit%>
                <%end%>
                <% if @opd_record.chiefcomplaint_blurringdiminution_comment.present? %>
                  - <%= @opd_record.chiefcomplaint_blurringdiminution_comment%>
                <%end%>

                <%if @opd_record.chiefcomplaint_blurringdiminution_options.present?%>
                    -
                    <%blurringdiminution_options_length = @opd_record.chiefcomplaint_blurringdiminution_options.split(",").length%>
                  <% unless @opd_record.chiefcomplaint_blurringdiminution_options.split(",").include?("distant") == false %>
                      Distant<%blurringdiminution_options_length = blurringdiminution_options_length - 1 %>
                        <%if blurringdiminution_options_length > 1%>
                          ,
                        <% elsif blurringdiminution_options_length > 0%>
                          and
                        <%else%>
                          .
                        <%end%>
                  <% end %>
                  <% unless @opd_record.chiefcomplaint_blurringdiminution_options.split(",").include?("near") == false %>
                      Near<%blurringdiminution_options_length = blurringdiminution_options_length - 1 %>
                        <%if blurringdiminution_options_length > 1%>
                          ,
                        <% elsif blurringdiminution_options_length > 0%>
                          and
                        <%else%>
                          .
                        <%end%>
                  <% end %>
                  <% unless @opd_record.chiefcomplaint_blurringdiminution_options.split(",").include?("pain") == false %>
                      Pain<%blurringdiminution_options_length = blurringdiminution_options_length - 1 %>
                        <%if blurringdiminution_options_length > 1%>
                          ,
                        <% elsif blurringdiminution_options_length > 0%>
                          and
                        <%else%>
                          .
                        <%end%>
                  <% end %>
                  <% unless @opd_record.chiefcomplaint_blurringdiminution_options.split(",").include?("usingglasses") == false %>
                      Using Glasses<%blurringdiminution_options_length = blurringdiminution_options_length - 1 %>
                        <%if blurringdiminution_options_length > 1%>
                          ,
                        <% elsif blurringdiminution_options_length > 0%>
                          and
                        <%else%>
                          .
                        <%end%>
                  <% end %>
                <%end%>

              </span>
            </div>
          <%end%>
          <% if @opd_record.chiefcomplaint_redness == "true" %>
            <div class="col-md-12">
              <span>Redness</span>
              <span>
                <% if @opd_record.chiefcomplaint_redness_side.present? %>
                  in
                  <% if @opd_record.chiefcomplaint_redness_side == "L" %>
                    Left Eye
                  <% elsif @opd_record.chiefcomplaint_redness_side == "R"%>
                    Right Eye
                  <% else %>
                    Both Eye
                  <% end %>
                <%end%>
                <%if @opd_record.chiefcomplaint_redness_duration.present? && @opd_record.chiefcomplaint_redness_duration_unit.present? %>
                  since <%= @opd_record.chiefcomplaint_redness_duration%> <%= @opd_record.chiefcomplaint_redness_duration_unit%>
                <%end%>
                <% if @opd_record.chiefcomplaint_redness_comment.present? %>
                  - <%= @opd_record.chiefcomplaint_redness_comment %>
                <% end %>
              </span>
            </div>
          <% end %>
          <% if @opd_record.chiefcomplaint_pain == "true" %>
            <div class="col-md-12">
              <span>Pain</span>
              <span>
                <% if @opd_record.chiefcomplaint_pain_side.present? %>
                  in
                    <% if @opd_record.chiefcomplaint_pain_side == "L" %>
                    Left Eye
                  <% elsif @opd_record.chiefcomplaint_pain_side == "R"%>
                    Right Eye
                  <% else %>
                    Both Eye
                  <% end %>
                <%end%>
                <%if @opd_record.chiefcomplaint_pain_duration.present? && @opd_record.chiefcomplaint_pain_duration_unit.present? %>
                  since <%= @opd_record.chiefcomplaint_pain_duration%> <%= @opd_record.chiefcomplaint_pain_duration_unit%>
                <%end%>
                <% if @opd_record.chiefcomplaint_pain_comment.present? %>
                  - <%= @opd_record.chiefcomplaint_pain_comment %>
                <% end %>
              </span>
            </div>
          <% end %>
          <% if @opd_record.chiefcomplaint_injury == "true" %>
            <div class="col-md-12">
              <span>Injury</span>
              <span>
                <% if @opd_record.chiefcomplaint_injury_side.present? %>
                  in
                  <% if @opd_record.chiefcomplaint_injury_side == "L" %>
                    Left Eye
                  <% elsif @opd_record.chiefcomplaint_injury_side == "R"%>
                    Right Eye
                  <% else %>
                    Both Eye
                  <% end %>
                <%end%>
                <%if @opd_record.chiefcomplaint_injury_duration.present? && @opd_record.chiefcomplaint_injury_duration_unit.present? %>
                  since <%= @opd_record.chiefcomplaint_injury_duration%> <%= @opd_record.chiefcomplaint_injury_duration_unit%>
                <%end%>
                <% if @opd_record.chiefcomplaint_injury_comment.present? %>
                  - <%= @opd_record.chiefcomplaint_injury_comment %>
                <% end %>
              </span>
            </div>
          <% end %>

          <% if @opd_record.chiefcomplaint_watering == "true" %>
            <div class="col-md-12">
              <span>Watering</span>
              <span>
                <% if @opd_record.chiefcomplaint_watering_side.present? %>
                  in
                  <% if @opd_record.chiefcomplaint_watering_side == "L" %>
                    Left Eye
                  <% elsif @opd_record.chiefcomplaint_watering_side == "R"%>
                    Right Eye
                  <% else %>
                    Both Eye
                  <% end %>
                <%end%>
                <%if @opd_record.chiefcomplaint_watering_duration.present? && @opd_record.chiefcomplaint_watering_duration_unit.present? %>
                  since <%= @opd_record.chiefcomplaint_watering_duration%> <%= @opd_record.chiefcomplaint_watering_duration_unit%>
                <%end%>
                <% if @opd_record.chiefcomplaint_watering_comment.present? %>
                  - <%= @opd_record.chiefcomplaint_watering_comment %>
                <% end %>
              </span>
            </div>
          <% end %>

          <% if @opd_record.chiefcomplaint_discharge == "true" %>
            <div class="col-md-12">
              <span>Discharge</span>
              <span>
                <% if @opd_record.chiefcomplaint_discharge_side.present? %>
                  in
                  <% if @opd_record.chiefcomplaint_discharge_side == "L" %>
                    Left Eye
                  <% elsif @opd_record.chiefcomplaint_discharge_side == "R"%>
                    Right Eye
                  <% else %>
                    Both Eye
                  <% end %>
                <%end%>
                <%if @opd_record.chiefcomplaint_discharge_duration.present? && @opd_record.chiefcomplaint_discharge_duration_unit.present? %>
                  since <%= @opd_record.chiefcomplaint_discharge_duration%> <%= @opd_record.chiefcomplaint_discharge_duration_unit%>
                <%end%>
                <% if @opd_record.chiefcomplaint_discharge_comment.present? %>
                  - <%= @opd_record.chiefcomplaint_discharge_comment %>
                <% end %>
              </span>
            </div>
          <% end %>

          <% if @opd_record.chiefcomplaint_dryness == "true" %>
            <div class="col-md-12">
              <span>Dryness</span>
              <span>
                <% if @opd_record.chiefcomplaint_dryness_side.present? %>
                  in
                  <% if @opd_record.chiefcomplaint_dryness_side == "L" %>
                    Left Eye
                  <% elsif @opd_record.chiefcomplaint_dryness_side == "R"%>
                    Right Eye
                  <% else %>
                    Both Eye
                  <% end %>
                <%end%>
                <%if @opd_record.chiefcomplaint_dryness_duration.present? && @opd_record.chiefcomplaint_dryness_duration_unit.present? %>
                  since <%= @opd_record.chiefcomplaint_dryness_duration%> <%= @opd_record.chiefcomplaint_dryness_duration_unit%>
                <%end%>
                <% if @opd_record.chiefcomplaint_dryness_comment.present? %>
                  - <%= @opd_record.chiefcomplaint_dryness_comment %>
                <% end %>
              </span>
            </div>
          <% end %>

          <% if @opd_record.chiefcomplaint_itichingfbsensation == "true" %>
            <div class="col-md-12">
              <span>Itiching/FBsensation</span>
              <span>
                <% if @opd_record.chiefcomplaint_itichingfbsensation_side.present? %>
                  in
                  <% if @opd_record.chiefcomplaint_itichingfbsensation_side == "L" %>
                    Left Eye
                  <% elsif @opd_record.chiefcomplaint_itichingfbsensation_side == "R"%>
                    Right Eye
                  <% else %>
                    Both Eye
                  <% end %>
                <%end%>
                <%if @opd_record.chiefcomplaint_itichingfbsensation_duration.present? && @opd_record.chiefcomplaint_itichingfbsensation_duration_unit.present? %>
                  since <%= @opd_record.chiefcomplaint_itichingfbsensation_duration%> <%= @opd_record.chiefcomplaint_itichingfbsensation_duration_unit%>
                <%end%>
                <% if @opd_record.chiefcomplaint_itichingfbsensation_comment.present? %>
                  - <%= @opd_record.chiefcomplaint_itichingfbsensation_comment %>
                <% end %>
              </span>
            </div>
          <% end %>
          <% if @opd_record.chiefcomplaint_deviationsquint == "true" %>
            <div class="col-md-12">
              <span>Deviation/Squint</span>
              <span>
                <% if @opd_record.chiefcomplaint_deviationsquint_side.present? %>
                    in
                    <% if @opd_record.chiefcomplaint_deviationsquint_side == "L" %>
                      Left Eye
                    <% elsif @opd_record.chiefcomplaint_deviationsquint_side == "R"%>
                      Right Eye
                    <% else %>
                      Both Eye
                    <% end %>
                <%end%>
                <%if @opd_record.chiefcomplaint_deviationsquint_duration.present? && @opd_record.chiefcomplaint_deviationsquint_duration_unit.present? %>
                  since <%= @opd_record.chiefcomplaint_deviationsquint_duration%> <%= @opd_record.chiefcomplaint_deviationsquint_duration_unit%>
                <%end%>
                <% if @opd_record.chiefcomplaint_deviationsquint_comment.present? %>
                  - <%= @opd_record.chiefcomplaint_deviationsquint_comment%>
                <%end%>

                <%if @opd_record.chiefcomplaint_deviationsquint_options.present?%>
                  -
                  <%deviationsquint_options_length = @opd_record.chiefcomplaint_deviationsquint_options.split(",").length%>
                  <% unless @opd_record.chiefcomplaint_deviationsquint_options.split(",").include?("diplopia") == false %>
                      Diplopia<%deviationsquint_options_length = deviationsquint_options_length - 1 %>
                        <%if deviationsquint_options_length > 1%>
                          ,
                        <% elsif deviationsquint_options_length > 0%>
                          and
                        <%else%>
                          .
                        <%end%>
                  <% end %>
                  <% unless @opd_record.chiefcomplaint_deviationsquint_options.split(",").include?("trauma") == false %>
                      Trauma<%deviationsquint_options_length = deviationsquint_options_length - 1 %>
                        <%if deviationsquint_options_length > 1%>
                          ,
                        <% elsif deviationsquint_options_length > 0%>
                          and
                        <%else%>.
                        <%end%>
                  <% end %>
                  <% unless @opd_record.chiefcomplaint_deviationsquint_options.split(",").include?("pastsurgery") == false %>
                      Past Surgery<%deviationsquint_options_length = deviationsquint_options_length - 1 %>
                        <%if deviationsquint_options_length > 1%>
                          ,
                        <% elsif deviationsquint_options_length > 0%>
                          and
                        <%else%>
                          .
                        <%end%>
                  <% end %>
                <%end%>
              </span>
            </div>
          <% end %>

          <% if @opd_record.chiefcomplaint_headachestrain == "true" %>
            <div class="col-md-12">
              <span>Headache/Strain</span>
              <span>
                <% if @opd_record.chiefcomplaint_headachestrain_side.present? %>
                  in
                  <% if @opd_record.chiefcomplaint_headachestrain_side == "L" %>
                    Left Eye
                  <% elsif @opd_record.chiefcomplaint_headachestrain_side == "R"%>
                    Right Eye
                  <% else %>
                    Both Eye
                  <% end %>
                <%end%>
                <%if @opd_record.chiefcomplaint_headachestrain_duration.present? && @opd_record.chiefcomplaint_headachestrain_duration_unit.present? %>
                  since <%= @opd_record.chiefcomplaint_headachestrain_duration%> <%= @opd_record.chiefcomplaint_headachestrain_duration_unit%>
                <%end%>
                <% if @opd_record.chiefcomplaint_headachestrain_comment.present? %>
                  - <%= @opd_record.chiefcomplaint_headachestrain_comment %>
                <% end %>
              </span>
            </div>
          <% end %>

          <% if @opd_record.chiefcomplaint_changeinsizeshape == "true" %>
            <div class="col-md-12">
              <span>Change in Size/Shape</span>
              <span>
                <% if @opd_record.chiefcomplaint_changeinsizeshape_side.present? %>
                  in
                  <% if @opd_record.chiefcomplaint_changeinsizeshape_side == "L" %>
                    Left Eye
                  <% elsif @opd_record.chiefcomplaint_changeinsizeshape_side == "R"%>
                    Right Eye
                  <% else %>
                    Both Eye
                  <% end %>
                <%end%>
                <%if @opd_record.chiefcomplaint_changeinsizeshape_duration.present? && @opd_record.chiefcomplaint_changeinsizeshape_duration_unit.present? %>
                  since <%= @opd_record.chiefcomplaint_changeinsizeshape_duration%> <%= @opd_record.chiefcomplaint_changeinsizeshape_duration_unit%>
                <%end%>
                <% if @opd_record.chiefcomplaint_changeinsizeshape_comment.present? %>
                  - <%= @opd_record.chiefcomplaint_changeinsizeshape_comment %>
                <% end %>
              </span>
            </div>
          <% end %>

          <% if @opd_record.chiefcomplaint_othervisualsymptoms == "true" %>
            <div class="col-md-12">
              <span>Other Visual Symptoms</span>
              <span>
                <% if @opd_record.chiefcomplaint_othervisualsymptoms_side.present? %>
                    in
                    <% if @opd_record.chiefcomplaint_othervisualsymptoms_side == "L" %>
                      Left Eye
                    <% elsif @opd_record.chiefcomplaint_othervisualsymptoms_side == "R"%>
                      Right Eye
                    <% else %>
                      Both Eye
                    <% end %>
                <%end%>
                <%if @opd_record.chiefcomplaint_othervisualsymptoms_duration.present? && @opd_record.chiefcomplaint_othervisualsymptoms_duration_unit.present? %>
                  since <%= @opd_record.chiefcomplaint_othervisualsymptoms_duration%> <%= @opd_record.chiefcomplaint_othervisualsymptoms_duration_unit%>
                <%end%>
                <% if @opd_record.chiefcomplaint_othervisualsymptoms_comment.present? %>
                  - <%= @opd_record.chiefcomplaint_othervisualsymptoms_comment%>
                <%end%>

                <%if @opd_record.chiefcomplaint_othervisualsymptoms_options.present?%>
                  -
                  <%othervisualsymptoms_options_length = @opd_record.chiefcomplaint_othervisualsymptoms_options.split(",").length%>
                  <% unless @opd_record.chiefcomplaint_othervisualsymptoms_options.split(",").include?("glare") == false %>
                    Glare<%othervisualsymptoms_options_length = othervisualsymptoms_options_length - 1 %>
                      <%if othervisualsymptoms_options_length > 1%>
                        ,
                      <% elsif othervisualsymptoms_options_length > 0%>
                        and
                      <%else%>
                        .
                      <%end%>
                  <% end %>
                  <% unless @opd_record.chiefcomplaint_othervisualsymptoms_options.split(",").include?("floaters") == false %>
                    Floaters<%othervisualsymptoms_options_length = othervisualsymptoms_options_length - 1 %>
                      <%if othervisualsymptoms_options_length > 1%>
                        ,
                      <% elsif othervisualsymptoms_options_length > 0%>
                        and
                      <%else%>.
                      <%end%>
                  <% end %>

                  <% unless @opd_record.chiefcomplaint_othervisualsymptoms_options.split(",").include?("photophobia") == false %>
                    Photophobia<%othervisualsymptoms_options_length = othervisualsymptoms_options_length - 1 %>
                      <%if othervisualsymptoms_options_length > 1%>
                        ,
                      <% elsif othervisualsymptoms_options_length > 0%>
                        and
                      <%else%>.
                      <%end%>
                  <% end %>
                  <% unless @opd_record.chiefcomplaint_othervisualsymptoms_options.split(",").include?("coloredhalos") == false %>
                    Colored Halos<%othervisualsymptoms_options_length = othervisualsymptoms_options_length - 1 %>
                      <%if othervisualsymptoms_options_length > 1%>
                        ,
                      <% elsif othervisualsymptoms_options_length > 0%>
                        and
                      <%else%>.
                      <%end%>
                  <% end %>
                  <% unless @opd_record.chiefcomplaint_othervisualsymptoms_options.split(",").include?("metamorphopsia") == false %>
                    Metamorphopsia<%othervisualsymptoms_options_length = othervisualsymptoms_options_length - 1 %>
                      <%if othervisualsymptoms_options_length > 1%>
                        ,
                      <% elsif othervisualsymptoms_options_length > 0%>
                        and
                      <%else%>.
                      <%end%>
                  <% end %>
                  <% unless @opd_record.chiefcomplaint_othervisualsymptoms_options.split(",").include?("chromatopsia") == false %>
                    Chromatopsia<%othervisualsymptoms_options_length = othervisualsymptoms_options_length - 1 %>
                      <%if othervisualsymptoms_options_length > 1%>
                        ,
                      <% elsif othervisualsymptoms_options_length > 0%>
                        and
                      <%else%>.
                      <%end%>
                  <% end %>
                  <% unless @opd_record.chiefcomplaint_othervisualsymptoms_options.split(",").include?("diminishednightvision") == false %>
                    Diminished Night Vision<%othervisualsymptoms_options_length = othervisualsymptoms_options_length - 1 %>
                      <%if othervisualsymptoms_options_length > 1%>
                        ,
                      <% elsif othervisualsymptoms_options_length > 0%>
                        and
                      <%else%>.
                      <%end%>
                  <% end %>

                  <% unless @opd_record.chiefcomplaint_othervisualsymptoms_options.split(",").include?("diminisheddayvision") == false %>
                    Diminished Day Vision<%othervisualsymptoms_options_length = othervisualsymptoms_options_length - 1 %>
                      <%if othervisualsymptoms_options_length > 1%>
                        ,
                      <% elsif othervisualsymptoms_options_length > 0%>
                        and
                      <%else%>
                        .
                      <%end%>
                  <% end %>
                <%end%>
              </span>
            </div>
          <% end %>

          <% if @opd_record.chiefcomplaint_shadowdefect == "true" %>
            <div class="col-md-12">
              <span>Shadow/Defect in vision</span>
              <span>
                <% if @opd_record.chiefcomplaint_shadowdefect_side.present? %>
                  in
                  <% if @opd_record.chiefcomplaint_shadowdefect_side == "L" %>
                    Left Eye
                  <% elsif @opd_record.chiefcomplaint_shadowdefect_side == "R"%>
                    Right Eye
                  <% else %>
                    Both Eye
                  <% end %>
                <%end%>
                <%if @opd_record.chiefcomplaint_shadowdefect_duration.present? && @opd_record.chiefcomplaint_shadowdefect_duration_unit.present? %>
                  since <%= @opd_record.chiefcomplaint_shadowdefect_duration%> <%= @opd_record.chiefcomplaint_shadowdefect_duration_unit%>
                <%end%>
                <% if @opd_record.chiefcomplaint_shadowdefect_comment.present? %>
                  - <%= @opd_record.chiefcomplaint_shadowdefect_comment %>
                <% end %>
              </span>
            </div>
          <% end %>

          <% if @opd_record.chiefcomplaint_discolorationeye == "true" %>
            <div class="col-md-12">
              <span>Discoloration </span>
              <span>
                <% if @opd_record.chiefcomplaint_discolorationeye_side.present? %>
                  in
                  <% if @opd_record.chiefcomplaint_discolorationeye_side == "L" %>
                    Left Eye
                  <% elsif @opd_record.chiefcomplaint_discolorationeye_side == "R"%>
                    Right Eye
                  <% else %>
                    Both Eye
                  <% end %>
                <%end%>
                <%if @opd_record.chiefcomplaint_discolorationeye_duration.present? && @opd_record.chiefcomplaint_discolorationeye_duration_unit.present? %>
                  since <%= @opd_record.chiefcomplaint_discolorationeye_duration%> <%= @opd_record.chiefcomplaint_discolorationeye_duration_unit%>
                <%end%>
                <% if @opd_record.chiefcomplaint_discolorationeye_comment.present? %>
                  - <%= @opd_record.chiefcomplaint_discolorationeye_comment %>
                <% end %>
              </span>
            </div>
          <% end %>

        <% end %>
    </div>
    <div class="row">
      <div class="col-md-12">
        <% if be_opd_history_counter > 0 %>
          <span>
            <% unless @opd_record.chiefcomplaint_comments == nil || @opd_record.chiefcomplaint_comments == "" %>
            <%= @opd_record.chiefcomplaint_comments %>
            <%end%>
          </span>
        <%end%>
      </div>
    </div>
  <% end %>

  <% if @opd_record.templatetype == "paediatrics" %>
    <% if antenatal_history_counter > 0 %>
      <div class="row">
        <div class="col-md-12">
          <span>Antenatal History: </span>

          <% unless @opd_record.antenatal_maternal_vaccination.blank? %>
            <span>
              Maternal vaccination - <%= @opd_record.antenatal_maternal_vaccination%>
            </span>
          <%end%>
          <%if antenatal_history_counter > 1%>,<%end%>
          <% unless @opd_record.antenatal_maternal_infection.blank? %>
            <span>
              Maternal Infection Or Other Complications - <%= @opd_record.antenatal_maternal_infection %>
            </span>
          <%end%>
        </div>
      </div>
    <% end %>

    <% if natal_history_counter > 0 %>
      <div class="row">
        <div class="col-md-12">
          <span>Natal History: </span>
          <% if @opd_record.natal_history_normal == "true" %>
            <span>
              Normal
            </span>
            <% natal_history_counter = natal_history_counter - 1 %>
            <%if natal_history_counter > 0%>,<%end%>
          <%end%>

          <% if @opd_record.natal_history_forceps == "true" %>
            <span>
              Forceps
            </span>
            <% natal_history_counter = natal_history_counter - 1 %>
            <%if natal_history_counter > 0%>,<%end%>
          <%end%>
          <% if @opd_record.natal_history_caesarean == "true" %>
            <span>
              Caesarean
            </span>
              <% natal_history_counter = natal_history_counter - 1 %>
              <%if natal_history_counter > 0%>,<%end%>
          <%end%>
          <% unless @opd_record.natal_birth_weight.blank? %>
            <span>
              Birth Weight - <%= @opd_record.natal_birth_weight %>
            </span>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if post_natal_history_counter > 0 %>
      <div class="row">
        <div class="col-md-12">
          <span>Postnatal History: <%= @opd_record.post_natal_history%></span>
        </div>
      </div>
    <% end %>

    <% if ho_vaccination_history_counter > 0 %>
      <div class="row">
        <div class="col-md-12">
          <span>H/O Vaccination: <%= @opd_record.ho_vaccination%></span>
        </div>
      </div>
    <% end %>

    <% if developmental_history_history_counter > 0 %>
      <div class="row">
        <div class="col-md-12">
          <span>Developmental History: <%= @opd_record.developmental_history%></span>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>