<%= render partial: '/outpatients/common_css.html.erb' %>
<div class="col-xs-6 sidebar_area" style="background: white;">
  <div id="toolbar_area">
    <div id="toolbar row">
      <nav class="navbar navbar-secondary navbar-inverse navbar-fixed-top" style="margin-top: 50px; left: auto; right: auto; width: 50%;z-index:100;">
        <div class="container-fluid" style="padding-right:0;border-right: 1px solid #aaa;">
          <div class="col-xs-2 col-xs-2-shared link-to-calendar" style="padding-left:initial;margin-right: -42px;">
            <div class="navbar-header" style="margin-top: 7px;">
              <% unless @current_user.role_ids.include?(499992366) #counsellor %>
                <%= link_to "/outpatients/appointment_scheduler", class: "btn btn-primary navbar-btn ps", id: "show-appointment-calender-view", data: { remote: true } , style: "margin:0px;margin-right:10px;" do %>
                <i class="fa fa-calendar"></i>
                <% end %>
              <% end %>
              <%if @available_specialties.size > 1 %>
                <button class="btn btn-link btn-xs" id='btn-appointment-management-refresh'><i class="fa fa-refresh" style="color:#fff;"></i></button>
              <%else%>
                <button class="btn btn-link btn-xs" id='btn-appointment-management-refresh'><i class="fa fa-refresh" style="color:#fff; margin-left: -2rem;"></i></button>
              <%end%>
            </div>
          </div>

          <%if @available_specialties.size > 1 %>
            <div class="col-xs-2 specialty_section" style="margin-right: 46px;">
              <div class="input-group" style="margin-top: 7px;" title="Specialty Selection">
                <div class="input-group-btn">
                  <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" style="background: transparent;color: white;border-radius: 15px;" type="button" data-active-filter="Active">
                    &nbsp;&nbsp;
                    <%= @selected_specialty == "all_specialties" ? 'All Specialties' : @available_specialties.find_by(id: @selected_specialty).name.truncate(12) %>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="specialty_dropdown_options <%= 'active' if @selected_specialty == "all_specialties" %>" data-id="all_specialties" style=" cursor: pointer; <%= 'background-color: #cfeaeb;' if @selected_specialty == "all_specialties" %>">All Specialties</a></li>
                    <% for specialty in @available_specialties %>
                      <li><a class="specialty_dropdown_options <%= 'active' if specialty.id == @selected_specialty %>" data-id="<%= specialty.id %>" style=" cursor: pointer;<%= 'background-color: #cfeaeb;' if specialty.id == @selected_specialty %>"><%= specialty.name %> Specialty</a></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          <%else%>
            <div class="col-xs-1"></div>
            <div class="specialty_section" style="margin-right: 46px;display: none">
              <div class="input-group" style="margin-top: 7px;" title="Specialty Selection">
                <div class="input-group-btn">
                  <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" style="background: transparent;color: white;border-radius: 15px;" type="button" data-active-filter="Active">
                    &nbsp;&nbsp;
                    <%= @selected_specialty == "all_specialties" ? 'All Specialties' : @available_specialties.find_by(id: @selected_specialty).name.truncate(12) %>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="specialty_dropdown_options <%= 'active' if @selected_specialty == "all_specialties" %>" data-id="all_specialties" style=" cursor: pointer; <%= 'background-color: #cfeaeb;' if @selected_specialty == "all_specialties" %>">All Specialties</a></li>
                    <% for specialty in @available_specialties %>
                      <li><a class="specialty_dropdown_options <%= 'active' if specialty.id == @selected_specialty %>" data-id="<%= specialty.id %>" style=" cursor: pointer;<%= 'background-color: #cfeaeb;' if specialty.id == @selected_specialty %>"><%= specialty.name %> Specialty</a></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          <%end%>

          <%if @available_specialties.size > 1 %>
            <div class="col-xs-2 col-xs-5-shared patient-search">
              <input type="text" placeholder="Search Patient" class="search-appointment form-control " id="search_appointment" maxlength="50">
            </div>
            <div class="col-xs-1" style="padding:0px;">
              <button class="btn btn-danger navbar-btn navbar-btn-hover ps" id="btn-appointment-today" style="padding-left: 8.4px !important;padding-right: 8.4px !important;background:transparent;" <%= 'disabled="disabled"' if @current_date == Date.current %>> Today</button>
            </div>
            <div class="col-xs-3 text-center mobile_date_responsive">
              <button class="btn btn-success  navbar-btn navbar-btn-hover" id="btn-appointment-backdate" style="padding-left: 8.4px !important;padding-right: 8.4px !important;border: none;margin-top:10px;font-size: 14px;padding-left:15px;"> <i class="fa fa-chevron-left"></i></button>
              <span style="font-size:14px;"><%= @current_date.strftime("%b %d, %Y") %></span>
              <button class="btn btn-success  navbar-btn navbar-btn-hover" id="btn-appointment-frontdate" style="padding-left: 8.4px !important;padding-right: 8.4px !important;border: none;margin-top:10px;font-size: 14px;padding-left:15px;"> <i class="fa fa-chevron-right"></i></button>
            </div>
            <div class="col-xs-1 row text-right">
              <input type="text" id="appointment-datepicker-inline" style="display: none;">
              <!-- Logic in appointment_management.js.erb -->
            </div>
          <%else%>
            <div class="col-xs-2 col-xs-4-shared patient-search">
              <input type="text" placeholder="Search Patient" class="search-appointment form-control " id="search_appointment" maxlength="50" style="margin-left: -3rem">
            </div>
            <div class="col-xs-1" style="padding:0px;">
              <button class="btn btn-danger navbar-btn navbar-btn-hover ps" id="btn-appointment-today" style="padding-left: 8.4px !important;padding-right: 8.4px !important;background:transparent; margin-left: -3rem" <%= 'disabled="disabled"' if @current_date == Date.current %>> Today</button>
            </div>
            <div class="col-xs-4 text-center mobile_date_responsive">
              <button class="btn btn-success  navbar-btn navbar-btn-hover" id="btn-appointment-backdate" style="padding-left: 8.4px !important;padding-right: 8.4px !important;border: none;margin-top:10px;font-size: 14px;padding-left:15px; margin-left: -4rem"> <i class="fa fa-chevron-left"></i></button>
              <span style="font-size:14px;"><%= @current_date.strftime("%b %d, %Y") %></span>
              <button class="btn btn-success  navbar-btn navbar-btn-hover" id="btn-appointment-frontdate" style="padding-left: 8.4px !important;padding-right: 8.4px !important;border: none;margin-top:10px;font-size: 14px;padding-left:15px;"> <i class="fa fa-chevron-right"></i></button>
            </div>
            <div class="col-xs-1 row text-right">
              <input type="text" id="appointment-datepicker-inline" style="display: none;">
              <!-- Logic in appointment_management.js.erb -->
            </div>
          <%end%>
          
        </div>
      </nav>
    </div>
  </div>
  <!-- #toolbar_area -->

  <div class="sidebar_area_content">
    <div class="col-xs-3 sidebar_pane sidebar-doctors-appointment no_padding" id="sidebar_doctors_appointment" style="display:none;overflow:auto;">
      <% if @current_facility.clinical_workflow %>
        <%= render partial: 'outpatients/appointment/sidebar_doctors_workflow.html.erb' %>
      <% else %>
        <%= render partial: 'outpatients/appointment/sidebar_doctors.html.erb' %>
      <% end %>
    </div>
    <div class="col-xs-12 sidebar_pane" id="sidebar_summary">
      <div class="sidebar-summary-appointment">
      </div>
    </div>
  </div>
</div>

<div class="col-xs-6 appointment_main_content" style="padding:0px;">
  <%= render partial: '/outpatients/appointment/appointment_main_content.html.erb' %>
</div>

<script type="text/javascript">
  <%= render partial: '/outpatients/appointment/appointment_management.js.erb' %>
</script>

<style type="text/css">
  .specialty-dropdown-options{
    cursor: pointer;
  }
</style>