<%= render partial: '/outpatients/common_css.html.erb' %>
<div class="col-xs-4 sidebar_area" style="background: white;">
  <div id="toolbar_area">
    <div id="toolbar"><nav class="navbar navbar-secondary navbar-inverse navbar-fixed-top" style="margin-top: 50px; left: auto; right: auto; width: 33.4%;z-index:1000;">
      <div class="container-fluid">
        <div class="navbar-header" style="margin-top:7px;">
          <%= link_to '/outpatients/appointment_management', class: 'btn btn-primary navbar-btn ps', id: 'show-appointment-list-view', data: { remote: true }, style: 'margin:0px;margin-right:10px;' do %><i class="fa fa-list" style="padding: 0 5px;"></i><% end %>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <% if current_organisation_setting&.time_slots_enabled %>
                <%= link_to patients_search_path(url: '/appointments/new', current_date: @current_date.to_s, modal: 'appointment-modal', type: 'walkin'), class: 'btn btn-danger navbar-btn navbar-btn-hover', id: 'add-appointment-btn', data: { remote: true, 'toggle': 'modal', 'target': '#appointment-modal' } do %> <i class="glyphicon glyphicon-plus"></i> Add OP<% end %>
              <% else %>
                <%= link_to patients_search_path(url: '/appointments/new', current_date: @current_date.to_s, modal: 'appointment-modal'), class: 'btn btn-danger navbar-btn navbar-btn-hover', id: 'add-appointment-btn', data: { :remote => true, 'toggle' => 'modal', 'target' => '#appointment-modal' } do %> <i class="glyphicon glyphicon-plus"></i>&nbsp; Add<% end %>
              <% end %>
            </li>
            <li>
              <% if current_facility.clinical_workflow %>
                <%= link_to opd_appointments_printopdappointmentlist_path(appointmentdate: Date.strptime(@current_date.to_s, '%Y-%m-%d'), format: :pdf), class: 'btn btn-info navbar-btn navbar-btn-hover', target: '_blank' do %> <i class="fa fa-print"></i>&nbsp; Print<% end %>
              <% else %>
                <button type="button" class="btn btn-info navbar-btn navbar-btn-hover" data-toggle="dropdown">
                  <span class=""><i class="fa fa-print"></i> Print</span>&nbsp;
                  <span class="caret fa-color"></span>
                </button>
                <ul class="dropdown-menu children">
                  <li><%= link_to opd_appointments_printopdappointmentlist_path(appointmentdate: Date.strptime(@current_date.to_s, '%Y-%m-%d'), format: :pdf), class: 'text-center', target: '_blank' do %>All<% end %></li>
                  <li><%= link_to appointments_print_path(appointmentdate: Date.strptime(@current_date.to_s, '%Y-%m-%d'), list_type: 'scheduled', format: :pdf), class: 'text-center', target: '_blank' do %>Scheduled<% end %></li>
                  <li><%= link_to appointments_print_path(appointmentdate: Date.strptime(@current_date.to_s, '%Y-%m-%d'), list_type: 'waiting', format: :pdf), class: 'text-center', target: '_blank' do %>Waiting<% end %></li>
                  <li><%= link_to appointments_print_path(appointmentdate: Date.strptime(@current_date.to_s, '%Y-%m-%d'), list_type: 'engaged', format: :pdf), class: 'text-center', target: '_blank' do %>Engaged<% end %></li>
                  <li><%= link_to appointments_print_path(appointmentdate: Date.strptime(@current_date.to_s, '%Y-%m-%d'), list_type: 'seen', format: :pdf), class: 'text-center', target: '_blank' do %>Seen (Finished)<% end %></li>
                </ul>
              <% end %>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    </div>
  </div><!-- #toolbar_area -->

  <div class="sidebar_area_content">
    <% unless current_facility.clinical_workflow %>
      <div class="col-xs-4 sidebar_pane sidebar-doctors no_padding" id="sidebar_doctors">
      </div>
    <% end %>
    <div class="sidebar_pane <%= ('col-xs-12' if current_facility.clinical_workflow) || 'col-xs-8' %>" id="sidebar_summary">
      <div class="modal" id="modalCalendarAppointmentDetails" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" style="width: 50%;">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h5 class="modal-title">Visit Details</h5>
            </div>
            <div class="modal-body" style="overflow-y: scroll; height:450px;" id="modalCalendarAppointmentDetailsBody">
              <div class="loading_dots">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar-summary">

      </div>
    </div>
  </div>
</div>
<div class="col-xs-8 appointment-main-calendar" style="">
  <div id="opd-calendar" class="hidden-print">
    <div class="loading_dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>

<script type="text/javascript">
  <%= render partial: '/outpatients/appointment/appointment_scheduler.js.erb' %>
</script>
