// Window Size
var window_height = $(window).height() - 50
$(".sidebar_area").css('height',window_height)
$(".appointment-main-calendar").css('height',window_height)

$(window).resize(function() {
  var window_height = $(window).height() - 50
  $(".sidebar_area").css('height',window_height)
  $(".ot_main_content").css('height',window_height)
  asp_rat = $(".appointment-main-calendar").width() / (($(".appointment-main-calendar").height() - 50));
})

$(".sidebar-summary").html("<%= escape_javascript(render 'outpatients/appointment/calendar_sidebar_summary') %>");
$(".sidebar-doctors").html("<%= escape_javascript(render 'outpatients/appointment/calendar_sidebar_doctors') %>");
$(document).ready(function(){
  // Everything Related to Full Calender
  asp_rat = $(".appointment-main-calendar").width() / (($(".appointment-main-calendar").height() - 50));
  calendar_options = {
    header: {
      left:   'today',
      center: 'prev title next',
      right: 'agendaWeek,agendaDay'
    },
    slotDuration: '00:15:00',
    scrollTime :  '<%= Time.current.strftime("%H:%M:%S").to_s %>',
    editable: true,
    defaultView: "agendaWeek",
    allDaySlot: false,
    slotEventOverlap: false,
    eventLimit: true, // allow "more" link when too many events
    selectable: true,
    selectHelper: true,
    unselectAuto: true,
    eventDurationEditable: false,
    aspectRatio: asp_rat,
    firstDay: '<%= Date.current.strftime("%w").to_i %>',
    events: {
      url: '/outpatients/appointment_calendar_data',
      type: 'get',
      data: function(){
          return {
              doctor_id: $(".doctors_list").find(".active").find('a').attr('data-doctor-id')
          }
      },
      success: function(res){
        
        $("#opd-calendar").find(".loading_dots").remove()
        updateSummary(res);
      },
      error: function() {
          alert('there was an error while fetching events!');
      }
    },
    // Select an empty event on Calender
    select: function( start, end, jsEvent, view ){
      $.ajax({
        type: "get",
        dataType: "script",
        url: "/patients/search",
        data: {
          remote: "true",
          // current_doctor: $(".doctors_list").find(".active").find('a').attr('data-doctor-id'),
          'toggle': "modal",
          'target': '#appointment-modal',
          'current_date': start.format('YYYY-MM-DD'),
          'current_time': start.format('HH:mm'),
          'url': "/appointments/new",
          'modal': 'appointment-modal'
        }
      })
    },
    // When Event Is Clicked
    eventClick: function(calEvent, jsEvent, view) {
      $('.summary_appointment_clickable[data-appointment-id="' + calEvent.appointment_id + '"]').trigger('click');
    },
    // When Event Times are Changed(Resized) - not required

    // When Event is drag and dropped(moved)
    eventDrop: function(event, delta, revertFunc, jsEvent, ui, view  ) {

      if(event.current_state == "Scheduled"){
        $.ajax({
          type: "GET",
          url: "/opd_appointments/edit_calendar_event",
          data: {
            appointment_id: event.appointment_id,
            appointment_new_start: event.start.format(),
            appointment_new_end: event.end.format()
          },
          success: function(res){
            $("#opd-calendar").fullCalendar('refetchEvents');
          }
        });
      } else {
        $("#opd-calendar").fullCalendar("refetchEvents");
        if ($(".ui-pnotify").length > 0) { $(".ui-pnotify").remove() }
        notice = new PNotify({
          title: 'Error',
          text: event.current_state + " Patient Can't Be Rescheduled",
          icon: 'fa fa-error',
          type: 'error'
        })
        notice.get().click(function(){ notice.remove() });
      }
    },
  }

  $("#opd-calendar").fullCalendar(calendar_options);
  
  // Update Side Summary
  function updateSummary(arr){
    $("#today_appointment_list").html("");
    $("#future_scheduled_list").html("");
    $("#past_discharge_list").html("");
    today = moment.tz('<%= current_facility.time_zone %>').format("MM-DD-YYYY")
    appointment_type_count = new Array(0,0,0)
    scheduled_today = []
    scheduled_future = []
    scheduled_past = []
    for (var i = arr.length - 1; i >= 0; i--) {
      if(today == moment.tz(arr[i].start, '<%= current_facility.time_zone %>').format("MM-DD-YYYY")){
        appointment_type_count[0]++;
        scheduled_today.push(arr[i]);
        createSummaryAppointment(arr[i], '.appointments_calendar_list #today_appointment_list');
      } else if(today < moment.tz(arr[i].start, '<%= current_facility.time_zone %>').format("MM-DD-YYYY")) {
        appointment_type_count[1]++;
        scheduled_future.push(arr[i]);
        createSummaryAppointment(arr[i], '.appointments_calendar_list #future_scheduled_list');
      } else if(today > moment.tz(arr[i].start, '<%= current_facility.time_zone %>').format("MM-DD-YYYY")) {
        appointment_type_count[2]++;
        scheduled_past.push(arr[i]);
        createSummaryAppointment(arr[i], '.appointments_calendar_list #past_discharge_list');
      }
    }
    activateSummaryAppointment();

    $(".scheduled_today_list_count").html("").text(appointment_type_count[0])
    $(".scheduled_future_list_count").html("").text(appointment_type_count[1])
    $(".scheduled_past_list_count").html("").text(appointment_type_count[2])

    //Update already exisiting modal's content
    if (($("#modalCalendarAppointmentDetails").data('bs.modal') || {}).isShown){
      var appointment_id = $("#appointment_refresher").val();

      $("#modalCalendarAppointmentDetailsBody").html("<div class='loading_dots'><span></span>&nbsp;<span></span>&nbsp;<span></span></div>");
      // $("#modalCalendarAppointmentDetails").modal('show');
      $.ajax({
        url: "/outpatients/appointment_details",
        data: {
          appointment_id: appointment_id
        },
        dataType: 'html',
        success: function(res){
          $("#modalCalendarAppointmentDetails").find("#modalCalendarAppointmentDetailsBody").html(res);
        },
        error: function(err){
        }
      });
    }
  }

  function createSummaryAppointment(appointment, container){
    if(appointment.dilation_state == ""){
      $(container).append("<div class='row no_margin summary_appointment summary_appointment_clickable' style='border-color:" + appointment.current_state_color +"' data-appointment-id='" + appointment.appointment_id + "'><div class='col-xs-6 no_padding text-left patient_name' style='overflow: hidden;white-space: nowrap; text-overflow: ellipsis;'><span>" + appointment.title + "</span></div><div class='col-xs-5 no_padding text-right'><span style='font-size: 12px;'>" + moment.tz(appointment.start, '<%= current_facility.time_zone%>').format("hh:mm A (DMMM)") + "</span></div><div class='col-xs-1 no_padding text-right' id='dilation-state'></div></div>")
    } else {
      $(container).append("<div class='row no_margin summary_appointment summary_appointment_clickable' style='border-color:" + appointment.current_state_color +"' data-appointment-id='" + appointment.appointment_id + "'><div class='col-xs-6 no_padding text-left patient_name' style='overflow: hidden;white-space: nowrap; text-overflow: ellipsis;'><span>" + appointment.title + "</span></div><div class='col-xs-5 no_padding text-right'><span style='font-size: 12px;'>" + moment.tz(appointment.start, '<%= current_facility.time_zone%>').format("hh:mm A (DMMM)") + "</span></div><div class='col-xs-1 no_padding text-right' id='dilation-state'><span class='dilated_d badge badge-" + appointment.dilation_state_color + "'>D</span></div></div>")
    }
  }

  function activateSummaryAppointment(){
    $('#modalCalendarAppointmentDetails').unbind('hidden.bs.modal');
    $(".summary_appointment_clickable").on('click', function(e){
      $("#modalCalendarAppointmentDetailsBody").html("<div class='loading_dots'><span></span>&nbsp;<span></span>&nbsp;<span></span></div>");
      $("#modalCalendarAppointmentDetails").modal('show');
      appointment_id = $(this).attr('data-appointment-id');

      $.ajax({
        url: "/outpatients/appointment_details",
        data: {
          appointment_id: appointment_id
        },
        dataType: 'html',
        success: function(res){
          $("#modalCalendarAppointmentDetails").find("#modalCalendarAppointmentDetailsBody").html(res);
        },
        error: function(err){
        }
      })
    });
  }

  $(document).on('show.bs.modal', '.modal', function (event) {
    var zIndex = 1040 + (10 * $('.modal:visible').length);
    $(this).css('z-index', zIndex);
    setTimeout(function() {
      $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
    }, 0);
  });
});