<% if !current_facility.clinical_workflow%>
<div class="row no_margin text-center">
  <h4>Doctors</h4>
</div>
<!-- Doctors are shown only if the role is a receptionist or nurse -->
<div class="row no_margin">
  <ul class="nav nav-pills nav-stacked doctors_list">
    <% doctors_array = @doctors.map { |doctor| [doctor.fullname, doctor.id] } %>
    <li class="sidebar-user-filter-appointment current_doctor_appointment <%= "active" if (@active_user.nil? || @active_user == "all") %>"><a href="javascript:void(0)" data-doctor-id="all">All</a></li>
    <% if current_user.role_ids.include?(158965000) %>
      <li class="sidebar-user-filter-appointment <%= "active" if @active_user == current_user.id.to_s %>"><a href="javascript:void(0)" data-doctor-id="<%= current_user.id %>"><%= current_user.fullname %></a></li>
    <% end %>
    <% doctors_array.each do |doc| %>
      <% if doc[1] != current_user.id %>
        <li class="sidebar-user-filter-appointment <%= "active" if @active_user == doc[1].to_s %>"><a href="javascript:void(0)" data-doctor-id="<%= doc[1] %>"><%= doc[0] %></a></li>
      <% end %>
    <% end %>
  </ul>
</div>

<script type="text/javascript">
  $(".sidebar-user-filter-appointment").find('a').on('click', function(){
    $(this).closest('.sidebar-user-filter-appointment').addClass('active')
    $(this).closest('.sidebar-user-filter-appointment').siblings().removeClass('active')
    $("#opd-calendar").fullCalendar('refetchEvents');
  })
</script>

<%end%>