<% appointment_list.try(:each) do |appointment| %>
  <% patient = @patient_fields.find { |p| p[:id].to_s == appointment.patient_id.to_s } %>
  <div class='row no_margin summary_appointment summary_appointment_clickable' data-appointment-id='<%= appointment.appointment_id %>'>
    <div class='no_padding text-left patient_name <%= ('col-sm-4' if appointment.specialty_id == '309989009') || 'col-sm-3' %>' style="overflow: hidden;white-space: nowrap; text-overflow: ellipsis;" title="<%= appointment.patient_name.to_s.upcase %>">
      <span>
        <% if patient.present? %>
          <span title="<%= patient[:title] %>"><%= patient[:bang] ? "<b><i class='fa fa-exclamation' style='font-size: 14px;color:#FF8735;'></i>&nbsp;</b>".html_safe : '' %></span>
        <% end %>
        <% if appointment.token_number.present? %>
          <label class="label label-danger show-token-label" style="border-radius: 100%;"><%= appointment.token_number.to_i %></label>&nbsp;
        <% end %>
        <b><%= appointment.patient_name.to_s.upcase %></b>
        <% if appointment.try(:patient_type).present? %>
          <br>
         <span class="label" style="'margin-top:-5px;margin-bottom:-5px;' font-size: 10px;overflow: hidden;white-space: nowrap; text-overflow: ellipsis; background: <%= appointment.try(:patient_type_color) %>"><%= appointment.try(:patient_type) %>
         </span>
      <% end %>
      </span>
    </div>
    <div class='col-sm-2 no_padding text-center'>
      <span><%= appointment.appointment_start_time.in_time_zone.strftime('%I:%M %p') %></span>
    </div>
    <div class='col-sm-2 no_padding text-center' style="overflow: hidden;white-space: nowrap; text-overflow: ellipsis;<% if appointment.try(:appointment_category_label).present? %><%= 'margin-top:-5px;margin-bottom:-5px;' %><% end %>">
      <% if appointment.try(:appointment_category_label).present? %>
        <span class="label" style="font-size:10px;background: <%= appointment.try(:appointment_category_color) %>"><%= appointment.try(:appointment_category_label) %></span><br>
      <% end %>
      <span class="label" style="background: <%= appointment.appointment_type_color %>" title="<%= appointment.try(:appointment_type_comment) %>"><%= appointment.appointment_type %> <%= "#{' - ' + appointment.try(:appointment_type_comment) if appointment.try(:appointment_type_comment).present?} " %></span>
    </div>
    <div class='col-sm-3 no_padding text-center'>
      <% if appointment.current_state == "Scheduled" %>
        NA
      <% elsif appointment.current_state == "Completed" || appointment.current_state == "Incompleted" %>
        T - <%= appointment.time_difference(appointment.appointment_start_time.in_time_zone, appointment.appointment_end_time) %>
      <% else %>
        T - <%= appointment.time_difference(Time.current, appointment.appointment_start_time.in_time_zone) %>
      <% end %>
    </div>
    <% if appointment.specialty_id == "309988001" %>
      <div class="col-sm-1 no_padding text-right" id="dilation-state">
        <% unless appointment.dilation_state.nil? %>
          <span class="dilated_d badge badge-<%= appointment.dilation_state_color %>">D</span>
        <% end %>
      </div>
    <% end %>
    <% if appointment.referral %>
        <div class="col-sm-1 no_padding text-right">
            <span class="label label-danger">R</span>
        </div>
    <% end %>
  </div>
<% end %>

<% if tab == "all" && @completed.count > 0 %>
  <div style="padding:3px;background:#eee;">Completed</div>
  <% @completed.try(:each) do |appointment| %>
    <% patient = @patient_fields.find { |p| p[:id].to_s == appointment.patient_id.to_s } %>
    <div class='row no_margin summary_appointment summary_appointment_clickable' data-appointment-id='<%= appointment.appointment_id %>'>
      <div class='no_padding text-left patient_name <%= ('col-sm-4' if appointment.specialty_id == '309989009') || 'col-sm-3' %>' style="overflow: hidden;white-space: nowrap; text-overflow: ellipsis;" title="<%= appointment.patient_name.to_s.upcase %>">
        <span>
          <% if patient.present? %>
            <span title="<%= patient[:title] %>"><%= patient[:bang] ? "<b><i class='fa fa-exclamation' style='font-size: 14px;color:#FF8735;'></i>&nbsp;</b>".html_safe : '' %></span>
          <% end %>
          <% if appointment.token_number.present? %>
            <label class="label label-danger show-token-label" style="border-radius: 100%;"><%= appointment.token_number.to_i %></label>&nbsp;
          <% end %>
          <b><%= appointment.patient_name.to_s.upcase %></b>
           <% if appointment.try(:patient_type).present? %>
            <br>
           <span class="label" style="'margin-top:-5px;margin-bottom:-5px;' font-size: 10px;overflow: hidden;white-space: nowrap; text-overflow: ellipsis; background: <%= appointment.try(:patient_type_color) %>"><%= appointment.try(:patient_type) %>
           </span>
          <% end %>
        </span>
      </div>
      <div class='col-sm-2 no_padding text-center'>
        <span><%= appointment.appointment_start_time.in_time_zone.strftime('%I:%M %p') %></span>
      </div>
      <div class='col-sm-2 no_padding text-center' style="overflow: hidden;white-space: nowrap; text-overflow: ellipsis;<% if appointment.try(:appointment_category_label).present? %><%= 'margin-top:-5px;margin-bottom:-5px;' %><% end %>">
        <% if appointment.try(:appointment_category_label).present? %>
          <span class="label" style="font-size:10px;background: <%= appointment.try(:appointment_category_color) %>"><%= appointment.try(:appointment_category_label) %></span><br>
        <% end %>
        <span class="label" style="background: <%= appointment.appointment_type_color %>" title="<%= appointment.try(:appointment_type_comment) %> "><%= appointment.appointment_type %> <%= "#{' - ' + appointment.try(:appointment_type_comment) if appointment.try(:appointment_type_comment).present?} " %></span>
      </div>
      <div class='col-sm-3 no_padding text-center'>
          T - <%= appointment.time_difference(appointment.appointment_start_time.in_time_zone, appointment.appointment_end_time) %>
      </div>
      <% if appointment.specialty_id == "309988001" %>
        <div class="col-sm-1 no_padding text-right" id="dilation-state">
          <% unless appointment.dilation_state.nil? %>
            <span class="dilated_d badge badge-<%= appointment.dilation_state_color %>">D</span>
          <% end %>
        </div>
      <% end %>
      <% if appointment.referral %>
        <div class="col-sm-1 no_padding text-right">
          <span class="label label-danger">R</span>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if tab == "all" && @incompleted.count > 0 %>
  <div style="padding:3px;background:#eee;">InCompleted</div>
  <% @incompleted.try(:each) do |appointment| %>
    <% patient = @patient_fields.find { |p| p[:id].to_s == appointment.patient_id.to_s } %>
    <div class='row no_margin summary_appointment summary_appointment_clickable' data-appointment-id='<%= appointment.appointment_id %>'>
      <div class='no_padding text-left patient_name <%= ('col-sm-4' if appointment.specialty_id == '309989009') || 'col-sm-3' %>' style="overflow: hidden;white-space: nowrap; text-overflow: ellipsis;" title="<%= appointment.patient_name.to_s.upcase %>">
        <span>
          <% if patient.present? %>
            <span title="<%= patient[:title] %>"><%= patient[:bang] ? "<b><i class='fa fa-exclamation' style='font-size: 14px;color:#FF8735;'></i>&nbsp;</b>".html_safe : '' %></span>
          <% end %>
          <% if appointment.token_number.present? %>
            <label class="label label-danger show-token-label" style="border-radius: 100%;"><%= appointment.token_number.to_i %></label>&nbsp;
          <% end %>
          <b><%= appointment.patient_name.to_s.upcase %></b>
        </span>
      </div>
      <div class='col-sm-2 no_padding text-center'>
        <span><%= appointment.appointment_start_time.in_time_zone.strftime('%I:%M %p') %></span>
      </div>
      <div class='col-sm-2 no_padding text-center' style="overflow: hidden;white-space: nowrap; text-overflow: ellipsis;<% if appointment.try(:patient_type).present? %><%= 'margin-top:-5px;margin-bottom:-5px;' %><% end %>">
        <% if appointment.try(:patient_type).present? %>
          <span class="label" style="font-size:10px;background: <%= appointment.try(:patient_type_color) %>"><%= appointment.try(:patient_type) %></span><br>
        <% end %>
        <span class="label" style="background: <%= appointment.appointment_type_color %>" title="<%= appointment.try(:appointment_type_comment) %> "><%= appointment.appointment_type %> <%= "#{' - ' + appointment.try(:appointment_type_comment) if appointment.try(:appointment_type_comment).present?} " %></span>
      </div>
      <div class='col-sm-3 no_padding text-center'>
          T - <%= appointment.time_difference(appointment.appointment_start_time.in_time_zone, appointment.appointment_end_time) %>
      </div>
      <% if appointment.specialty_id == "309988001" %>
        <div class="col-sm-1 no_padding text-right" id="dilation-state">
          <% unless appointment.dilation_state.nil? %>
            <span class="dilated_d badge badge-<%= appointment.dilation_state_color %>">D</span>
          <% end %>
        </div>
      <% end %>
      <% if appointment.referral %>
        <div class="col-sm-1 no_padding text-right">
          <span class="label label-danger">R</span>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
