<% appointment_list.try(:each) do |appointment| %>
  <div class='row no_margin summary_appointment summary_provisional_appointment_clickable' data-appointment-id='<%= appointment.id %>'>

    <div class='col-sm-3 no_padding text-left patient_name' style="overflow: hidden;white-space: nowrap; text-overflow: ellipsis;" title="<%= appointment.firstname.to_s.upcase %>">
      <span>
        <% if appointment.token_number.present? %>
          <label class="label label-danger show-token-label" style="border-radius: 100%;"><%= appointment.token_number.to_i %></label>&nbsp;
        <% end %>
        <b><%= appointment.firstname.to_s.upcase %></b>
      </span>
    </div>


    <div class='col-sm-2 no_padding text-center' style="overflow: hidden;white-space: nowrap; text-overflow: ellipsis;<% if appointment.try(:appointment_category_label).present? %><%= 'margin-top:-5px;margin-bottom:-5px;' %><% end %>">
      <% if appointment.try(:appointment_category_label).present? %>
        <span class="label" style="font-size:10px;background: <%= appointment.appointment_category_color %>">
          <%= appointment.try(:appointment_category_label) %>
        </span><br>
      <% end %>
      <span class="label" style="background: <%= appointment.try(:appointment_type_color) %>" title="<%= appointment.try(:appointment_type_comment) %>"><%= appointment.try(:appointment_type_label) %> <%= "#{' - ' + appointment.try(:appointment_type_comment) if appointment.try(:appointment_type_comment).present?} " %></span>
    </div>

    <div class='col-sm-2 no_padding text-center' style="overflow: hidden;white-space: nowrap; text-overflow: ellipsis;">

      <% if appointment.converted %>
        <span class="label" style="background: Green"> Converted </span>
      <% else %>
        <span class="label" style="background: Orange"> Not-Converted </span>
      <% end %>

    </div>

    <div class='col-sm-2 no_padding text-center' style="overflow: hidden;white-space: nowrap; text-overflow: ellipsis;">
      <span><%= appointment.start_time.try(:strftime, '%I:%M %p') %></span>
    </div>

  </div>
<% end %>