<% if params[:doctors_list] == 'out' %>
  <span class="users_loaded"></span>
<% end %>
<div class="row no_margin mt5">
  <ul class="nav nav-pills nav-stacked doctors_list">
    <li class="sidebar-user-filter-appointment current_doctor_appointment <%= "active" if (@active_user.nil? || @active_user == "all") %>">
      <a href="javascript:void(0)" data-doctor-id="all">All</a>
    </li>
  </ul>
</div>

<div class="row no_margin text-center">
  <h4 style="border-top: 1px solid #aaa;border-bottom: 1px solid #aaa;">Doctors</h4>
</div>
<div class="row no_margin">
  <ul class="nav nav-pills nav-stacked doctors_list">
    <% if @current_user.role_ids.include?(158965000) || @current_user.role_ids.include?(158966000) %>
      <li class="sidebar-user-filter-appointment <%= "active" if @active_user == @current_user.id.to_s %>"><a href="javascript:void(0)" data-doctor-id="<%= @current_user.id %>"><%= @current_user.fullname %></a></li>
    <% end %>
    <% if @doctors %>
      <% doctors_array = @doctors.map { |doctor| [doctor[1], doctor[0]] } %>
      <% doctors_array.each do |doc| %>
        <% if @current_user.id.to_s != doc[1] %> <!-- To avoid repetation of current_user -->
          <li class="sidebar-user-filter-appointment <%= "active" if @active_user == doc[1].to_s %>"><a href="javascript:void(0)" data-doctor-id="<%= doc[1] %>"><%= doc[0] %></a></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="row no_margin text-center">
  <h4 style="border-top: 1px solid #aaa;border-bottom: 1px solid #aaa;">Optometrist</h4>
</div>
<div class="row no_margin">
  <ul class="nav nav-pills nav-stacked doctors_list">
    <% if @current_user.role_ids.include?(28229004) %>
      <li class="sidebar-user-filter-appointment <%= "active" if @active_user == @current_user.id.to_s %>"><a href="javascript:void(0)" data-doctor-id="<%= @current_user.id %>"><%= @current_user.fullname %></a></li>
    <% end %>
    <% if @optometrists %>
      <% optometrists_array = @optometrists.map { |doctor| [doctor[1], doctor[0]] } %>
      <% optometrists_array.each do |doc| %>
        <% if @current_user.id.to_s != doc[1] %> <!-- To avoid repetation of current_user -->
          <li class="sidebar-user-filter-appointment <%= "active" if @active_user == doc[1].to_s %>"><a href="javascript:void(0)" data-doctor-id="<%= doc[1] %>"><%= doc[0] %></a></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="row no_margin text-center">
  <h4 style="border-top: 1px solid #aaa;border-bottom: 1px solid #aaa;">AR/NCT</h4>
</div>
<div class="row no_margin">
  <ul class="nav nav-pills nav-stacked doctors_list">
    <% if @current_user.role_ids.include?(28221005) %>
      <li class="sidebar-user-filter-appointment <%= "active" if @active_user == @current_user.id.to_s %>"><a href="javascript:void(0)" data-doctor-id="<%= @current_user.id %>"><%= @current_user.fullname %></a></li>
    <% end %>
    <% if @ar_ncts %>
      <% ar_ncts_array = @ar_ncts.map { |doctor| [doctor[1], doctor[0]] } %>
      <% ar_ncts_array.each do |doc| %>
        <% if @current_user.id.to_s != doc[1] %> <!-- To avoid repetation of current_user -->
          <li class="sidebar-user-filter-appointment <%= "active" if @active_user == doc[1].to_s %>"><a href="javascript:void(0)" data-doctor-id="<%= doc[1] %>"><%= doc[0] %></a></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>


<div class="row no_margin text-center">
  <h4 style="border-top: 1px solid #aaa;border-bottom: 1px solid #aaa;">Receptionist</h4>
</div>
<div class="row no_margin">
  <ul class="nav nav-pills nav-stacked doctors_list">
    <% if @current_user.role_ids.include?(159561009) %>
      <li class="sidebar-user-filter-appointment <%= "active" if @active_user == @current_user.id.to_s %>"><a href="javascript:void(0)" data-doctor-id="<%= @current_user.id %>"><%= @current_user.fullname %></a></li>
    <% end %>
    <% if @receptionists %>
      <% receptionists_array = @receptionists.map { |doctor| [doctor[1], doctor[0]] } %>
      <% receptionists_array.each do |doc| %>
        <% if @current_user.id.to_s != doc[1] %> <!-- To avoid repetation of current_user -->
          <li class="sidebar-user-filter-appointment <%= "active" if @active_user == doc[1].to_s %>"><a href="javascript:void(0)" data-doctor-id="<%= doc[1] %>"><%= doc[0] %></a></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="row no_margin text-center">
  <h4 style="border-top: 1px solid #aaa;border-bottom: 1px solid #aaa;">Floor Manager</h4>
</div>
<div class="row no_margin">
  <ul class="nav nav-pills nav-stacked doctors_list">
    <% if @current_user.role_ids.include?(59561000) %>
      <li class="sidebar-user-filter-appointment <%= "active" if @active_user == @current_user.id.to_s %>"><a href="javascript:void(0)" data-doctor-id="<%= @current_user.id %>"><%= @current_user.fullname %></a></li>
    <% end %>
    <% if @floormanagers %>
      <% floormanagers_array = @floormanagers.map { |doctor| [doctor[1], doctor[0]] } %>
      <% floormanagers_array.each do |doc| %>
        <% if @current_user.id.to_s != doc[1] %> <!-- To avoid repetation of current_user -->
          <li class="sidebar-user-filter-appointment <%= "active" if @active_user == doc[1].to_s %>"><a href="javascript:void(0)" data-doctor-id="<%= doc[1] %>"><%= doc[0] %></a></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="row no_margin text-center">
  <h4 style="border-top: 1px solid #aaa;border-bottom: 1px solid #aaa;">Cashier</h4>
</div>
<div class="row no_margin">
  <ul class="nav nav-pills nav-stacked doctors_list">
    <% if @current_user.role_ids.include?(159562000) %>
      <li class="sidebar-user-filter-appointment <%= "active" if @active_user == @current_user.id.to_s %>"><a href="javascript:void(0)" data-doctor-id="<%= @current_user.id %>"><%= @current_user.fullname %></a></li>
    <% end %>
    <% if @cashiers %>
      <% cashiers_array = @cashiers.map { |doctor| [doctor[1], doctor[0]] } %>
      <% cashiers_array.each do |doc| %>
        <% if @current_user.id.to_s != doc[1] %> <!-- To avoid repetation of current_user -->
          <li class="sidebar-user-filter-appointment <%= "active" if @active_user == doc[1].to_s %>"><a href="javascript:void(0)" data-doctor-id="<%= doc[1] %>"><%= doc[0] %></a></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="row no_margin text-center">
  <h4 style="border-top: 1px solid #aaa;border-bottom: 1px solid #aaa;">Nurse</h4>
</div>
<div class="row no_margin">
  <ul class="nav nav-pills nav-stacked doctors_list">
    <% if @current_user.role_ids.include?(106292003) %>
      <li class="sidebar-user-filter-appointment <%= "active" if @active_user == @current_user.id.to_s %>"><a href="javascript:void(0)" data-doctor-id="<%= @current_user.id %>"><%= @current_user.fullname %></a></li>
    <% end %>
    <% if @nurses %>
      <% nurses_array = @nurses.map { |doctor| [doctor[1], doctor[0]] } %>
      <% nurses_array.each do |doc| %>
        <% if @current_user.id.to_s != doc[1] %> <!-- To avoid repetation of current_user -->
          <li class="sidebar-user-filter-appointment <%= "active" if @active_user == doc[1].to_s %>"><a href="javascript:void(0)" data-doctor-id="<%= doc[1] %>"><%= doc[0] %></a></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="row no_margin text-center">
  <h4 style="border-top: 1px solid #aaa;border-bottom: 1px solid #aaa;">Counsellor</h4>
</div>
<div class="row no_margin">
  <ul class="nav nav-pills nav-stacked doctors_list">
    <% if @current_user.role_ids.include?(499992366) %>
      <li class="sidebar-user-filter-appointment <%= "active" if @active_user == @current_user.id.to_s %>"><a href="javascript:void(0)" data-doctor-id="<%= @current_user.id %>"><%= @current_user.fullname %></a></li>
    <% end %>
    <% if @counsellors %>
      <% counsellors_array = @counsellors.map { |doctor| [doctor[1], doctor[0]] } %>
      <% counsellors_array.each do |doc| %>
        <% if @current_user.id.to_s != doc[1] %> <!-- To avoid repetation of current_user -->
          <li class="sidebar-user-filter-appointment <%= "active" if @active_user == doc[1].to_s %>"><a href="javascript:void(0)" data-doctor-id="<%= doc[1] %>"><%= doc[0] %></a></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>

<script type="text/javascript">
  $(".sidebar-user-filter-appointment").find('a').on('click', function(e, triggered){
    $('.sidebar-user-filter-appointment').removeClass('active')
    $(this).closest('.sidebar-user-filter-appointment').addClass('active')
    var doctor_id = $(this).attr('data-doctor-id')

    if(triggered == true){
      var active_tab = "<%= @active_tab %>"
      var appointment_id = "<%= @appointment_id %>"
      var doctors_list = "<%= @doctors_list %>"
    } else {
      var active_tab = $(".tab_active").find(".active").attr('data-tab-id')
      var appointment_id = $('.active-appointment').attr("data-appointment-id")
      var doctors_list = $('.toggle-sidebar-doctors').attr("data-toggle-position")
    }

    $.ajax({
      type: "GET",
      dataType: "script",
      data: {
        current_date: "<%= @current_date %>",
        specialty_id: "<%= @selected_specialty %>",
        active_tab: active_tab,
        source: "",
        active_user: doctor_id,
        appointment_id: appointment_id,
        doctors_list: doctors_list,
        rhs_tab: '<%= params[:rhs_tab] %>'
      },
      url: "/outpatients/get_appointment_lists",
      success: function(){

      }
    })
  })

  <% if params[:action] != 'load_users' %>
    $(".doctors_list").find(".active").find("a").trigger("click", true);
  <% end %>
</script>