<% if (@doctors.count > 1 && !@clinical_workflow_present) || (@clinical_workflow_present) #counsellor %>
  <div class="row no-margin toggle-doctors">
    <span class="toggle-sidebar-doctors" data-toggle-position="<%= @doctors_list %>"><i class="fa fa-arrow-right"></i></span>
  </div>
<% end %>
<% is_councellor = (@current_user.role_ids.include?(499992366)) ? true : false%>
<div class="row no-margin text-center">
  <div class="row no_margin appointment_tabs" style="width: 98%; margin-top: -15px;margin-left:7px;">
    <ul class="nav nav-tabs tab_active" role="tablist">
      <% @tabs_classes.each_with_index do |tab,i|%>
          <% if tab == 'all'%>
            <%count = @appointment.count  %>
          <%elsif tab == 'seen_today'%>
            <%count = @seen_today_count %>
          <%elsif tab == 'scheduled'%>
            <%count = @scheduled.try(:count).to_i + @unassigned_scheduled_appointment.try(:count).to_i %>
          <% else %>
            <% count = eval("@"+tab).try(:count) %>
          <% end %>
          <li role="presentation" class="full-width <%= (is_councellor == true) ? "councellor_#{tab}" : tab %> <%= 'active' if tab == @active_tab %>" data-tab-id= <%= tab %>>
            <a href="#appointment_<%= tab %>_list" aria-controls="home" role="tab" data-toggle="tab">
              <span style="display: block; font-size: 16px;" class="appointment_<%= tab %>_list_count"><%= count %>                
              </span>
              <% if @tabs[i] == "My Queue" %>
                <% if @current_date < Date.current %>
                  <%= "INCOMPLETED" %>
                <% else %>
                  <%= @queue %>
                <% end %>
              <% elsif @tabs[i] == "My OP Patient" %>
                <%= @my_appointment %>
              <% elsif @tabs[i] == 'My Counselled Today' %>
                <%= @today_label %>
              <% else %>
                <%= @tabs[i] %>
              <% end %>
            </a>
          </li>
      <% end %>
    </ul>
  </div>

  <div class="row no_margin  summary_body collapse in" id="summary_appointment_today">
    <div class="appointment_today">
      <div class="tab-content" style="width:95%; margin-left:10px;">
        <% @tabs_classes.each_with_index do |tab,i|%>
          <div role="tabpanel" class="appointment_type_content tab-pane <%= 'active' if tab == @active_tab %>" id="appointment_<%= tab %>_list">
            <% if tab == "provisional" %>
              <%= render partial: "outpatients/appointment/provisional_data_rows", locals: { appointment_list: eval("@"+tab), tab: tab } %>
            <% else %>
              <% if @clinical_workflow_present %>
                <% if @current_user.role_ids.include?(499992366) %>
                  <%= render partial: "outpatients/appointment/data_rows_counsellor", locals: { appointment_list: eval("@"+tab), tab: tab } %>
                <% else %>
                  <% if tab == "scheduled" %>
                    <%= render partial: "outpatients/appointment/data_rows_workflow", locals: { appointment_list: @all_op_scheduled_appointment, tab: tab } %>
                  <% else %>
                    <%= render partial: "outpatients/appointment/data_rows_workflow", locals: { appointment_list: eval("@"+tab), tab: tab } %>
                  <% end %>
                <% end %>
              <% else %>
                  <%= render partial: "outpatients/appointment/data_rows", locals: { appointment_list: eval("@"+tab), tab: tab } %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div><!-- summary_body -->
</div>

<style type="text/css">
  #footer_notice {
      position: fixed;
      bottom: 0;
      width: 47.5%;
      background-color: #fff;
      height: 30px;
      color: #354670;
  }

  .full-width{
      width: <%= eval("100/" + @tabs_classes.count.to_f.to_s) %>%;
  }
</style>

<script type="text/javascript">
  $(".summary_appointment_clickable").on('click', function(){
    let rhsTab = $('#ApptWizard').find('.active').attr('data-tab-id') || '<%= params[:rhs_tab] %>' || '<%= AppointmentsHelper.find_default_appointment_tab(current_user) %>';
    $("#appointment_summary").html('<div class="loading_dots"> <span></span> <span></span> <span></span></div>').css('background','#fff')
    $("#summary_appointment_today").find(".active-appointment").removeClass("active-appointment")
    $(this).addClass("active-appointment")
    $.ajax({
      type: "GET",
      dataType: "script",
      data: {
        appointment_id: $(this).attr('data-appointment-id'),
        data_from: $(this).attr('data-from'),
        current_date: "<%= @current_date.strftime('%d/%m/%Y') %>",
        rhs_tab: rhsTab
      },
      url: "/outpatients/appointment_details",
      success: function(){
      }
    })
  })

  $(".summary_provisional_appointment_clickable").on('click', function(){
    $("#appointment_summary").html('<div class="loading_dots"> <span></span> <span></span> <span></span></div>').css('background','#fff')
    $("#summary_appointment_today").find(".active-appointment").removeClass("active-appointment")
    $(this).addClass("active-appointment")
    $.ajax({
      type: "GET",
      dataType: "script",
      data: {
        appointment_id: $(this).attr('data-appointment-id'),
        data_from: $(this).attr('data-from'),
        current_date: "<%= @current_date.strftime('%d/%m/%Y') %>"
      },
      url: "/outpatients/provisional_appointment_details",
      success: function(){
      }
    })
  })

  // Initialize Trigger on Load
  var params_appointment = $("#summary_appointment_today").find(".active").find("[data-appointment-id='<%= @appointment_id %>']")
  var js_appointment = $("#summary_appointment_today").find(".active").find(".summary_appointment_clickable")
  if(params_appointment.length > 0){
    params_appointment.trigger('click');
  } else {
    if(js_appointment.length > 0){
      js_appointment.first().trigger('click')
    } else {
      $("#appointment_summary").html("").css("background-color","transparent")
    }
  }

  // Initialize Trigger on Change of Tabs
  $(".full-width").find('a').on('click', function(){
    var href = $(this).attr("href")
    var data_tab_id = $(this).parent().attr("data-tab-id")
    if(data_tab_id == 'converted') {
      $(this).parent(".full-width").removeClass("councellor_"+data_tab_id)
      $('.full-width[data-tab-id="cancelled"]').addClass('councellor_cancelled');
    } else if(data_tab_id == 'cancelled') {
      $(this).parent(".full-width").removeClass("councellor_"+data_tab_id)
      $('.full-width[data-tab-id="converted"]').addClass('councellor_converted');
    } else {
      $('.full-width[data-tab-id="converted"]').addClass('councellor_converted');
      $('.full-width[data-tab-id="cancelled"]').addClass('councellor_cancelled');
    }
    var appointment_list = $(href).find(".summary_appointment_clickable")
    if(appointment_list.length > 0){
      appointment_list.first().trigger('click')
    } else {
      $("#appointment_summary").html("").css("background-color","transparent")
    }
  })

  $(".toggle-sidebar-doctors").on('click', function(){
    if($(this).attr('data-toggle-position') == 'in'){
      if($('.users_loaded').length > 0 || '<%= current_facility.clinical_workflow %>' == 'false'){
        $(this).html('<i class="fa fa-arrow-left"></i>')
        $('#sidebar_doctors_appointment').show()
        $("#sidebar_summary").addClass('col-xs-9').removeClass('col-xs-12')
        $(this).attr('data-toggle-position','out')
      } else {
        $.ajax({
          type: "GET",
          dataType: "script",
          data: { specialty_id: '<%= params[:specialty_id] %>',
                  current_date: '<%= @current_date %>',
                  doctors_list: 'out',
                  active_user: '<%= @active_user %>' },
          url: "/outpatients/load_users",
          success: function(){}
        })
      }
    } else {
      $(this).html('<i class="fa fa-arrow-right"></i>')
      $('#sidebar_doctors_appointment').hide()
      $("#sidebar_summary").addClass('col-xs-12').removeClass('col-xs-9')
      $(this).attr('data-toggle-position','in')
    }
  })

  if("<%= @doctors_list %>" == "out"){
    $('.toggle-sidebar-doctors').html('<i class="fa fa-arrow-left"></i>')
    $('#sidebar_doctors_appointment').show()
    $("#sidebar_summary").addClass('col-xs-9').removeClass('col-xs-12')
    $('.toggle-sidebar-doctors').attr('data-toggle-position','out')
  }
</script>