<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-lg" style="width:99%">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Edit Receipt Item Cards</h4>
    </div>
    <%= form_for @itemcard, remote: true, html: {id: "edit-invoice-item-card"} do |f|  %>
      <% f.hidden_field :invoice_service_card_id, value: @itemcard.invoice_service_card_id.to_s %>
      <% f.hidden_field :user_id, value: current_user.id.to_s %>
      <% f.hidden_field :facility_id, value: current_facility.id.to_s %>
      <% f.hidden_field :organisation_id, value: current_facility.organisation_id.to_s %>
      <% f.hidden_field :created_from, value: @itemcard.created_from %>
      <div class="modal-body">
        <% unless @itemcard.item_type == "Bed" %>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <b>Tip: If Type is Doctor Please Dont include Doctor Name in Item Name.</b><br>
              Example:
              <div class="row instruction-for-doctor-item">
                <div class="col-md-3">Surgeon Charges (Dr.John Doe)</div>
                <div class="col-md-1"><i class="fa fa-times"></i></div>
                <div class="col-md-2">Doctor Charges</div>
                <div class="col-md-2">1</div>
                <div class="col-md-2">100000</div>
                <div class="col-md-2">Dr.John Doe</div>
              </div>
              <div class="row instruction-for-doctor-item-true">
                <div class="col-md-3">Surgeon Charges</div>
                <div class="col-md-1"><i class="fa fa-check"></i></div>
                <div class="col-md-2">Doctor Charges</div>
                <div class="col-md-2">1</div>
                <div class="col-md-2">100000</div>
                <div class="col-md-2">Dr.John Doe</div>
              </div>
            </div>
          </div>
          <hr>
        <% end %>
        <% if @invoice_setting.tax_enabled_opd && false %>
          <%= render partial: 'edit_tax_enabled.html.erb', locals: {f: f} %>
        <% else %>
          <%= render partial: 'edit_tax_disabled.html.erb', locals: {f: f} %>
        <% end %>
      </div>
      <div class="modal-footer">
        <%= f.submit "Save", class: "btn btn-success", onclick: 'validate_item_card()' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>


<style type="text/css">
  .instruction-for-doctor-item * {
    color: #f00;
  }
  .instruction-for-doctor-item-true * {
    color: #1CAF9A;
  }
</style>