<div class="row">
  <div class="col-md-12">
    <div class="row mb5">
      <div class="col-md-2">
        Item Name
      </div>
      <div class="col-md-1">
        Type
      </div>
      <div class="col-md-1">
        Quantity
      </div>
      <div class="col-md-1">
        Amount
      </div>
      <div class="doctor-text-here col-md-1 col-md-3-shared">Users</div>
      <div class="col-md-2 col-md-3-shared">
        Tax Group
      </div>
      <div class="col-md-1 text-center">
        Tax Incl.
      </div>
      <div class="col-md-1">
        Tax
      </div>
      <div class="col-md-1">
        Total Amount
      </div>
      <div class="col-md-1">
        SAC
      </div>
    </div>
    <div class="row invoice-item-card-row mb10">
      <div class="col-md-2">
        <%= f.text_field :item_name, class: "form-control", placeholder: "Item Name" %>
      </div>
      <div class="col-md-1">
        <% unless @itemcard.item_type == "Bed" %>
          <%= f.select :item_type, options_for_select([['Item','Item'],['User','User']], :selected => @itemcard.item_type), {}, { :class => 'form-control item-type' } %>
        <% else %>
          BED
          <%= f.hidden_field :item_type, value: "Bed" %>
        <% end %>
      </div>
      <div class="col-md-1">
        <%= f.number_field :quantity, class: "form-control invoice_item_card_quantity" %>
      </div>
      <div class="col-md-1">
        <%= f.number_field :amount, class: "form-control invoice_item_card_amount" %>
      </div>
      <div class="list-of-doctors col-md-1 col-md-3-shared"></div>
      <div class="col-md-2 col-md-3-shared">
        <select name="invoice_item_card[tax_group_id]" class='form-control invoice_item_card_tax_group'>
          <option value="" data-tax-rate='0'> </option>
          <% @tax_groups.each do |tax_group| %>
            <option value="<%= tax_group.id.to_s %>" data-tax-rate='<%= tax_group.rate %>' <%= 'selected="selected"' if (@itemcard.tax_group_id.to_s == tax_group.id.to_s) %>><%= tax_group.name %> - <%= tax_group.rate %>%</option>
          <% end %>
        </select>
      </div>
      <div class="col-md-1 text-center">
        <div class="ckbox ckbox-primary" style="margin-left:25px;">
          <%= f.hidden_field :tax_inclusive, value: false %>
          <input type="checkbox" name="invoice_item_card[tax_inclusive]" id='tax_inclusive' class="invoice_item_card_tax_inclusive" value='true', <%= 'checked="checked"' if @itemcard.tax_inclusive %>>
          <label for='tax_inclusive'></label>
        </div>
      </div>
      <div class="col-md-1">
        <%= f.number_field :taxable_amount, class: "form-control invoice_item_card_taxable_amount", readonly: 'readonly' %>
        <%= f.hidden_field :non_taxable_amount, class: "form-control invoice_item_card_non_taxable_amount", readonly: 'readonly' %>
      </div>
      <div class="col-md-1">
        <%= f.number_field :item_price, class: "form-control invoice_item_card_item_price", readonly: 'readonly' %>
      </div>
      <div class="col-md-1">
        <%= f.text_field :sac, class: "form-control invoice_item_card_sac" %>
      </div>
    </div>
  </div>
</div>