$(".item-type").on('change',function(){
  if($(this).val() == "User"){
    $(".doctor-text-here").html("Users")
    $(this).closest('.invoice-item-card').find(".list-of-doctors").html("<select class='form-control' name='invoice_item_card[item_id]'><% @users.each do |doctor| %><option value='<%= doctor.id.to_s %>' <%= 'selected="selected"' if @itemcard.item_id.to_s == doctor.id.to_s %>><%= doctor.fullname %></option><% end %></select>")
  } else {
    $(this).closest('.invoice-item-card').find(".list-of-doctors").html("<input type='hidden' name='invoice_item_card[item_id]' value='<% if @itemcard.item_type == 'User' %><%= BSON::ObjectId.new() %><% else %><%= @itemcard.item_id.to_s %><% end %>'>")
  }
})

$(document).ready(function(){
  $(".item-type").trigger("change")
})

$(".invoice_item_card_tax_group").on('change', function(){
  calculate_tax_values(this)
}).trigger('change')

$(".invoice_item_card_amount").on('keyup', function(){
  calculate_tax_values(this)
})

$(".invoice_item_card_tax_inclusive").on('click', function(){
  calculate_tax_values(this)
})

function calculate_tax_values(_this){
  var this_parent = $(_this).closest('.invoice-item-card-row')
  var quantity = parseFloat($(this_parent).find('.invoice_item_card_quantity').val())
  var amount = parseFloat($(this_parent).find('.invoice_item_card_amount').val())
  var tax_rate = parseFloat($(this_parent).find(".invoice_item_card_tax_group").find(":selected").attr('data-tax-rate'))
  var inclusive = $(this_parent).find('.invoice_item_card_tax_inclusive').is(':checked')

  if(inclusive){
    var taxable_amount = (amount * tax_rate)/(100 + tax_rate)
    var non_taxable_amount = amount - taxable_amount
    var total_amount = amount
  } else {
    var taxable_amount = (amount * tax_rate)/100
    var non_taxable_amount = amount
    var total_amount = amount + taxable_amount
  }
  $(this_parent).find('.invoice_item_card_taxable_amount').val(taxable_amount.toFixed(2))
  $(this_parent).find('.invoice_item_card_non_taxable_amount').val(non_taxable_amount.toFixed(2))
  $(this_parent).find('.invoice_item_card_item_price').val(total_amount.toFixed(2))
}

function validate_item_card(){
  $("#edit-invoice-item-card").validate({
    rules: {
      'invoice_item_card[item_name]': {
        required: true
      },
      'invoice_item_card[quantity]': {
        required: true
      },
      'invoice_item_card[item_price]': {
        required: true
      }
    },
    messages: {
      'invoice_item_card[item_name]': {
        required: "Service Name Cannot be Empty"
      },
      'invoice_item_card[quantity]': {
        required: "Quantity Cannot be Empty"
      },
      'invoice_item_card[item_price]': {
        required: "Amount Cannot be Empty"
      }
    }
  })
}