<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="row mb5">
      <div class="col-md-3">
        Item Name
      </div>
      <div class="col-md-2">
        Type
      </div>
      <div class="col-md-2 col-md-3-shared">
        Quantity
      </div>
      <div class="col-md-2 col-md-3-shared">
        Amount
      </div>
      <div class="doctor-text-here col-md-2"></div>
      <div class="col-md-2">
        SAC &emsp;<i class="fa fa-info hg-tooltip"></i>
      </div>
    </div>
    <div class="row invoice-item-card mb10">
      <div class="col-md-4">
        <%= f.text_field :item_name, class: "form-control", placeholder: "Item Name" %>
      </div>
      <div class="col-md-2">
        <% unless @itemcard.item_type == "Bed" %>
          <%= f.select :item_type, options_for_select([['Item','Item'],['User','User']], :selected => @itemcard.item_type), {}, { :class => 'form-control item-type' } %>
        <% else %>
          BED
          <%= f.hidden_field :item_type, value: "Bed" %>
        <% end %>
      </div>
      <div class="col-md-2">
        <%= f.number_field :quantity, class: "form-control" %>
      </div>
      <div class="col-md-2">
        <%= f.number_field :item_price, class: "form-control" %>
      </div>
      <div class="list-of-doctors col-md-2"></div>
      <div class="col-md-2">
        <%= f.text_field :sac, class: "form-control" %>
      </div>
    </div>
  </div>
</div>