<div class="row">
  <div class="col-md-10">
    <b>Tip: If Type is Doctor Please Dont include Doctor Name in Item Name.</b><br>
    Example:
    <div class="row instruction-for-doctor-item-header">
      <div class="col-md-1"></div>
      <div class="col-md-3">Item Name</div>
      <div class="col-md-2">Type</div>
      <div class="col-md-2">Quantity</div>
      <div class="col-md-2">Amount</div>
      <div class="col-md-2">Users</div>
    </div>
    <div class="row instruction-for-doctor-item-false">
      <div class="col-md-1"><i class="fa fa-times"></i></div>
      <div class="col-md-3">Surgeon Charges (Dr.John Doe)</div>
      <div class="col-md-2">User</div>
      <div class="col-md-2">1</div>
      <div class="col-md-2">100000</div>
      <div class="col-md-2">Dr.John Doe</div>
    </div>
    <div class="row instruction-for-doctor-item-true">
      <div class="col-md-1"><i class="fa fa-check"></i></div>
      <div class="col-md-3">Surgeon Charges</div>
      <div class="col-md-2">User</div>
      <div class="col-md-2">1</div>
      <div class="col-md-2">100000</div>
      <div class="col-md-2">Dr.John Doe</div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-6" style="border-right:1px solid #aaa">
    <div class="row mb5">
      <div class="col-md-3">
        Item Name
      </div>
      <div class="col-md-2">
        Type
      </div>
      <div class="col-md-2 col-md-3-shared">
        Quantity
      </div>
      <div class="col-md-2 col-md-3-shared">
        Amount
      </div>
      <div class="doctor-text-here col-md-2"></div>
      <div class="col-md-2">
        SAC &emsp;<i class="fa fa-info hg-tooltip"></i>
      </div>
    </div>
    <% 5.times do |i| %>
      <div class="row invoice-item-card_<%=i%> mb10">
        <div class="col-md-3">
          <input type="text" name="invoice_item_card[<%=i%>][item_name]" class="form-control" placeholder="Item Name">
        </div>
        <div class="col-md-2">
          <select class="form-control item-type_<%=i%>" name="invoice_item_card[<%=i%>][item_type]" >
            <option value="Item">Item</option>
            <option value="User">User</option>
          </select>
        </div>
        <div class="col-md-2 col-md-3-shared">
          <input type="number" name="invoice_item_card[<%=i%>][quantity]" class="form-control" value="1">
        </div>
        <div class="col-md-2 col-md-3-shared">
          <input type="number" name="invoice_item_card[<%=i%>][item_price]" class="form-control" value="0">
        </div>
        <div class="list-of-doctors col-md-2">
          <input type='hidden' name='invoice_item_card[<%=i%>][item_id]' class='form-control' value='<%= BSON::ObjectId.new() %>'>
        </div>
        <div class="col-md-2">
          <input type='text' name='invoice_item_card[<%=i%>][sac]' class='form-control' value=''>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-6">
    <div class="row mb5">
      <div class="col-md-3">
        Item Name
      </div>
      <div class="col-md-2">
        Type
      </div>
      <div class="col-md-2 col-md-3-shared">
        Quantity
      </div>
      <div class="col-md-2 col-md-3-shared">
        Amount
      </div>
      <div class="doctor-text-here col-md-2"></div>
      <div class="col-md-2">
        SAC &emsp;<i class="fa fa-info hg-tooltip"></i>
      </div>
    </div>
    <% 5.times do |i| %>
      <div class="row invoice-item-card_<%=i+6%> mb10">
        <div class="col-md-3">
          <input type="text" name="invoice_item_card[<%=i+6%>][item_name]" class="form-control" placeholder="Item Name">
        </div>
        <div class="col-md-2">
          <select class="form-control item-type_<%=i+6%>" name="invoice_item_card[<%=i+6%>][item_type]" >
            <option value="Item">Item</option>
            <option value="User">User</option>
          </select>
        </div>
        <div class="col-md-2 col-md-3-shared">
          <input type="number" name="invoice_item_card[<%=i+6%>][quantity]" class="form-control" value="1">
        </div>
        <div class="col-md-2 col-md-3-shared">
          <input type="number" name="invoice_item_card[<%=i+6%>][item_price]" class="form-control" value="0">
        </div>
        <div class="list-of-doctors col-md-2">
          <input type='hidden' name='invoice_item_card[<%=i+6%>][item_id]' class='form-control' value='<%= BSON::ObjectId.new() %>'>
        </div>
        <div class="col-md-2">
          <input type='text' name='invoice_item_card[<%=i+6%>][sac]' class='form-control' value=''>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 instruction-for-doctor-item-false">
        <b>Note: If Item Name is Kept empty it wont be saved.</b>
      </div>
    </div>
  </div>
</div>