<% if @surgery_package.present? || @case_sheet.present? %>
  <div class="row surgery_packages">
    <div class="col-md-12">
      <strong style="text-decoration: underline;">PACKAGE DETAILS</strong>
    </div>
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th class="text-right">Regular Price</th>
            <th class="text-right">Package Price</th>
          </tr>
        </thead>
        <!-- Package -->
        <% if @surgery_package.present? && @surgery_package.services.count > 0 %>
          <tbody>
            <% @surgery_package.services.where(is_active: true).each_with_index do |service, i| %>
              <% pricing_master = service.try(:pricing_master) %>
              <%= hidden_field_tag 'counsellor_record[patient_surgery_package][services][' + service.try(:id).to_s + '][service_id]', service.try(:id) %>
              <%= hidden_field_tag 'counsellor_record[patient_surgery_package][services][' + service.try(:id).to_s + '][service_name]', service.try(:service_name) %>
              <%= hidden_field_tag 'counsellor_record[patient_surgery_package][services][' + service.try(:id).to_s + '][payer_master_id]', service.try(:payer_master_id) %>
              <%= hidden_field_tag 'counsellor_record[patient_surgery_package][services][' + service.try(:id).to_s + '][pricing_amount]', pricing_master.try(:amount) %>
              <%= hidden_field_tag 'counsellor_record[patient_surgery_package][services][' + service.try(:id).to_s + '][discount_amount]', service.try(:discount_amount) %>
              <%= hidden_field_tag 'counsellor_record[patient_surgery_package][services][' + service.try(:id).to_s + '][discount_percent]', service.try(:discount_percent) %>
              <%= hidden_field_tag 'counsellor_record[patient_surgery_package][services][' + service.try(:id).to_s + '][package_price]', service.try(:package_price) %>
              <tr>
                <td><%= service.try(:service_name) %> | <%= PayerMaster.find_by(id: service.try(:payer_master_id)).try(:display_name) || 'General' %></td>
                <td class="text-right"><%= pricing_master.try(:amount) %></td>
                <td class="text-right"><%= "#{service.try(:discount_amount)} (#{service.try(:discount_percent)}%)" %></td>
                <td class="text-right"><%= service.try(:package_price) %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <%= hidden_field_tag 'counsellor_record[patient_surgery_package][package_id]', @surgery_package.try(:id) %>
              <%= hidden_field_tag 'counsellor_record[patient_surgery_package][package_name]', @surgery_package.try(:name) %>
              <%= hidden_field_tag 'counsellor_record[patient_surgery_package][pricing_amount]', @surgery_package.try(:pricing_amount) %>
              <%= hidden_field_tag 'counsellor_record[patient_surgery_package][discount_amount]', @surgery_package.try(:discount_amount) %>
              <%= hidden_field_tag 'counsellor_record[patient_surgery_package][discount_percent]', @surgery_package.try(:discount_percent) %>
              <%= hidden_field_tag 'counsellor_record[patient_surgery_package][package_price]', @surgery_package.try(:amount) %>
              <td class="text-right"><b style="color:#000;"><%= @surgery_package.display_name %></b></td>
              <td class="text-right"><b style="color:#000;"><%= @surgery_package.pricing_amount %></b></td>
              <td class="text-right"><b style="color:#000;"><%= @surgery_package.amount %></b></td>
            </tr>
          </tfoot>
        <% end %>
        <!-- CounsellorRecord -->
        <% if @case_sheet.present? && @case_sheet.latest_surgery_package.count > 0 %>
          <% latest_surgery_package = @case_sheet.latest_surgery_package %>
          <tbody>
            <% latest_surgery_package[:services].each do |i, service| %>
              <%= hidden_field_tag 'counsellor_record[patient_surgery_package][services][' + service[:service_id].to_s + '][service_id]', service[:service_id] %>
              <%= hidden_field_tag 'counsellor_record[patient_surgery_package][services][' + service[:service_id].to_s + '][service_name]', service[:service_name] %>
              <%= hidden_field_tag 'counsellor_record[patient_surgery_package][services][' + service[:service_id].to_s + '][payer_master_id]', service[:payer_master_id] %>
              <%= hidden_field_tag 'counsellor_record[patient_surgery_package][services][' + service[:service_id].to_s + '][pricing_amount]', service[:pricing_amount] %>
              <%= hidden_field_tag 'counsellor_record[patient_surgery_package][services][' + service[:service_id].to_s + '][discount_amount]', service[:discount_amount] %>
              <%= hidden_field_tag 'counsellor_record[patient_surgery_package][services][' + service[:service_id].to_s + '][discount_percent]', service[:discount_percent] %>
              <%= hidden_field_tag 'counsellor_record[patient_surgery_package][services][' + service[:service_id].to_s + '][package_price]', service[:package_price] %>
              <tr>
                <td><%= service[:service_name] %> | <%= PayerMaster.find_by(id: service[:payer_master_id]).try(:display_name) || 'General' %></td>
                <td class="text-right"><%= service[:pricing_amount] %></td>
                <td class="text-right"><%= service[:package_price] %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <%= hidden_field_tag 'counsellor_record[patient_surgery_package][package_id]', latest_surgery_package[:id] %>
              <%= hidden_field_tag 'counsellor_record[patient_surgery_package][package_name]', latest_surgery_package[:package_name] %>
              <%= hidden_field_tag 'counsellor_record[patient_surgery_package][pricing_amount]', latest_surgery_package[:pricing_amount] %>
              <%= hidden_field_tag 'counsellor_record[patient_surgery_package][discount_amount]', latest_surgery_package[:discount_amount] %>
              <%= hidden_field_tag 'counsellor_record[patient_surgery_package][discount_percent]', latest_surgery_package[:discount_percent] %>
              <%= hidden_field_tag 'counsellor_record[patient_surgery_package][package_price]', latest_surgery_package[:package_price] %>
              <td class="text-right"><b style="color:#000;"><%= latest_surgery_package[:package_name] %></b></td>
              <td class="text-right"><b style="color:#000;"><%= latest_surgery_package[:pricing_amount] %></b></td>
              <td class="text-right"><b style="color:#000;"><%= latest_surgery_package[:package_price] %></b></td>
            </tr>
          </tfoot>
        <% end %>
      </table>
    </div>
  </div>
<% end %>