<% counter = @counter %>
<div class="row patient-procedure new-entry">
  <hr style="border-top: 1px solid #ccc;margin: 10px auto 15px;" />
  <div class="col-md-12">
    <div class="row agreed_declined_row">
      <!-- Procedure Hidden Fields -->
      <%= hidden_field_tag "counsellor_record[procedures]["+counter.to_s+"][record_id]", params[:counsellor_record_id] %>
      <!-- Hack for matching case_sheet_procedure_id to AppointmentRecord::Procedure"s _id.Avoid Reverse Update -->
      <%= hidden_field_tag "counsellor_record[procedures]["+counter.to_s+"][case_sheet_procedure_id]", BSON::ObjectId.new() %> 
      <%= hidden_field_tag "counsellor_record[procedures]["+counter.to_s+"][procedurename]", @procedure.name %>
      <%= hidden_field_tag "counsellor_record[procedures]["+counter.to_s+"][procedure_id]", @procedure.code %>
      <%= hidden_field_tag "counsellor_record[procedures]["+counter.to_s+"][procedureside]", "18944008", class: "procedureside" %>
      <%= hidden_field_tag "counsellor_record[procedures]["+counter.to_s+"][full_code]", @procedure.code %>
      <%= hidden_field_tag "counsellor_record[procedures]["+counter.to_s+"][procedurefullcode]", @procedure.code %>
      <%= hidden_field_tag "counsellor_record[procedures]["+counter.to_s+"][procedurestage]", "Counselled", class: "procedurestage" %>
      <%= hidden_field_tag "counsellor_record[procedures]["+counter.to_s+"][procedure_type]", params[:procedure_type] %>
      <!-- Entered Hidden Fields -->
      <%= hidden_field_tag "counsellor_record[procedures]["+counter.to_s+"][entered_by_id]", @current_user.id %>
      <%= hidden_field_tag "counsellor_record[procedures]["+counter.to_s+"][entered_by]", @current_user.fullname %>
      <%= hidden_field_tag "counsellor_record[procedures]["+counter.to_s+"][entered_from]", "counsellor_record" %>
      <%= hidden_field_tag "counsellor_record[procedures]["+counter.to_s+"][entered_at_facility_id]", @current_facility.id %>
      <%= hidden_field_tag "counsellor_record[procedures]["+counter.to_s+"][entered_at_facility]", @current_facility.name %>
      <%= hidden_field_tag "counsellor_record[procedures]["+counter.to_s+"][entered_datetime]", Time.current %>
      <!-- Advised Hidden Fields -->
      <%= hidden_field_tag "counsellor_record[procedures]["+counter.to_s+"][advised_by_id]", @current_user.id %>
      <%= hidden_field_tag "counsellor_record[procedures]["+counter.to_s+"][advised_by]", @current_user.fullname %>
      <%= hidden_field_tag "counsellor_record[procedures]["+counter.to_s+"][advised_from]", "counsellor_record" %>
      <%= hidden_field_tag "counsellor_record[procedures]["+counter.to_s+"][advised_at_facility_id]", @current_facility.id %>
      <%= hidden_field_tag "counsellor_record[procedures]["+counter.to_s+"][advised_at_facility]", @current_facility.name %>
      <%= hidden_field_tag "counsellor_record[procedures]["+counter.to_s+"][advised_datetime]", Time.current %>
      <!-- Counselled Hidden Fields -->
      <%= hidden_field_tag 'counsellor_record[procedures]['+counter.to_s+'][is_counselled]', true %>
      <%= hidden_field_tag 'counsellor_record[procedures]['+counter.to_s+'][counselled_by_id]', @current_user.id %>
      <%= hidden_field_tag 'counsellor_record[procedures]['+counter.to_s+'][counselled_by]', @current_user.fullname %>
      <%= hidden_field_tag 'counsellor_record[procedures]['+counter.to_s+'][counselled_from]', "counsellor_record" %>
      <%= hidden_field_tag 'counsellor_record[procedures]['+counter.to_s+'][counselled_at_facility_id]', @current_facility.id %>
      <%= hidden_field_tag 'counsellor_record[procedures]['+counter.to_s+'][counselled_at_facility]', @current_facility.name %>
      <%= hidden_field_tag 'counsellor_record[procedures]['+counter.to_s+'][counselled_datetime]', Time.current %>
      <!-- Agreed Hidden Fields -->
      <%= hidden_field_tag 'counsellor_record[procedures]['+counter.to_s+'][agreed_by]', "", class: 'agreed_by' %>
      <%= hidden_field_tag 'counsellor_record[procedures]['+counter.to_s+'][agreed_from]', "", class: 'agreed_from' %>
      <%= hidden_field_tag 'counsellor_record[procedures]['+counter.to_s+'][agreed_at_facility_id]', "", class: 'agreed_at_facility_id' %>
      <%= hidden_field_tag 'counsellor_record[procedures]['+counter.to_s+'][agreed_at_facility]', "", class: 'agreed_at_facility' %>
      <!-- Payment Taken Hidden Fields -->
      <%= hidden_field_tag 'counsellor_record[procedures]['+counter.to_s+'][payment_taken_by]', "", class: 'payment_taken_by' %>
      <%= hidden_field_tag 'counsellor_record[procedures]['+counter.to_s+'][payment_taken_from]', "", class: 'payment_taken_from' %>
      <%= hidden_field_tag 'counsellor_record[procedures]['+counter.to_s+'][payment_taken_at_facility_id]', "", class: 'payment_taken_at_facility_id' %>
      <%= hidden_field_tag 'counsellor_record[procedures]['+counter.to_s+'][payment_taken_at_facility]', "", class: 'payment_taken_at_facility' %>
      <!-- Declined Hidden Fields -->
      <%= hidden_field_tag 'counsellor_record[procedures]['+counter.to_s+'][declined_by]', "", class: 'declined_by' %>
      <%= hidden_field_tag 'counsellor_record[procedures]['+counter.to_s+'][declined_from]', "", class: 'declined_from' %>
      <%= hidden_field_tag 'counsellor_record[procedures]['+counter.to_s+'][declined_at_facility_id]', "", class: 'declined_at_facility_id' %>
      <%= hidden_field_tag 'counsellor_record[procedures]['+counter.to_s+'][declined_at_facility]', "", class: 'declined_at_facility' %>
      <!-- Removed Hidden Fields -->
      <%= hidden_field_tag "counsellor_record[procedures]["+counter.to_s+"][is_removed]", false, class: "is_removed" %>
      <%= hidden_field_tag "counsellor_record[procedures]["+counter.to_s+"][removed_by_id]", "", class: "removed_by_id" %>
      <%= hidden_field_tag "counsellor_record[procedures]["+counter.to_s+"][removed_by]", "", class: "removed_by" %>
      <%= hidden_field_tag "counsellor_record[procedures]["+counter.to_s+"][removed_from]", "", class: "removed_from" %>
      <%= hidden_field_tag "counsellor_record[procedures]["+counter.to_s+"][removed_at_facility_id]", "", class: "removed_at_facility_id" %>
      <%= hidden_field_tag "counsellor_record[procedures]["+counter.to_s+"][removed_at_facility]", "", class: "removed_at_facility" %>
      <%= hidden_field_tag 'counsellor_record[procedures]['+counter.to_s+'][removed_datetime]', "", class: 'removed_datetime' %>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <div class="row">
              <div class="col-md-12">
                <span class="procedure-name"><%= @procedure.name.to_s %>&emsp;</span>
                <% laterality = [{side_name: 'Right', side_id: '18944008'}, {side_name: 'Left', side_id: '8966001'}] %>
                <select class="laterality">
                  <% laterality.each do |laterality| %>
                    <option value='<%= laterality[:side_id] %>'><%= laterality[:side_name] %></option>
                  <% end %>
                </select>
                <button class="btn btn-link btn-xs btn-remove-procedure" id='<%=counter%>'>Remove</button>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-md-9-shared agreed_by_details">
            <div class="row">
              <div class="col-md-3">
                <div class="ckbox ckbox-primary ckbox-agreed">
                  <%= hidden_field_tag 'counsellor_record[procedures]['+counter.to_s+'][has_agreed]', false %>
                  <%= check_box_tag 'counsellor_record[procedures]['+counter.to_s+'][has_agreed]', true, false, {id: "procedure_#{counter}_has_agreed", class: 'has_agreed'} %>
                  <label for="procedure_<%= counter.to_s %>_has_agreed">Agreed</label>
                </div>
              </div>
              <div class="agreed_fields" style="display:none;">
                <div class="col-md-4 col-md-9-shared">
                  <div class="input-group">
                    <span class="input-group-addon" style="padding: 5px 10px;font-size: 10px;"><i class="fa fa-calendar"></i></span>
                    <%= text_field_tag 'counsellor_record[procedures]['+counter.to_s+'][agreed_datetime]', "", class: 'agreed_datetime form-control p3_10', readonly: 'readonly' %>
                  </div>
                </div>
                <div class="col-md-4 col-md-9-shared">
                  <%= select_tag 'counsellor_record[procedures]['+counter.to_s+'][agreed_by_id]', options_for_select(@counsellor_options, @current_user.id.to_s), {include_blank: "Select", class: "agreed_by_id form-control p3_10"} %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-md-9-shared declined_by_details">
            <div class="row">
              <div class="col-md-3">
                <div class="ckbox ckbox-danger ckbox-declined">
                  <%= hidden_field_tag 'counsellor_record[procedures]['+counter.to_s+'][has_declined]', false %>
                  <%= check_box_tag 'counsellor_record[procedures]['+counter.to_s+'][has_declined]', true, false, {id: "procedure_#{counter}_has_declined", class: 'has_declined'} %>
                  <label for="procedure_<%= counter.to_s %>_has_declined">Declined</label>
                </div>
              </div>
              <div class="declined_fields" style="display:none;">
                <div class="col-md-4 col-md-9-shared">
                  <div class="input-group">
                    <span class="input-group-addon" style="padding: 5px 10px;font-size: 10px;"><i class="fa fa-calendar"></i></span>
                    <%= text_field_tag 'counsellor_record[procedures]['+counter.to_s+'][declined_datetime]', "", class: 'declined_datetime form-control p3_10', readonly: 'readonly' %>
                  </div>
                </div>
                <div class="col-md-4 col-md-9-shared">
                  <%= select_tag 'counsellor_record[procedures]['+counter.to_s+'][declined_by_id]', options_for_select(@counsellor_options, @current_user.id.to_s), {include_blank: "Select", class: "declined_by_id form-control p3_10"} %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt10 agreed-options" style="display: none;">
          <div class="col-md-3">
          </div>
          <div class="col-md-4 col-md-9-shared payment_taken_by_details">
            <div class="row">
              <div class="col-md-3">
                <div class="ckbox ckbox-success ckbox-payment-taken">
                  <%= hidden_field_tag 'counsellor_record[procedures]['+counter.to_s+'][payment_taken]', false %>
                  <%= check_box_tag 'counsellor_record[procedures]['+counter.to_s+'][payment_taken]', true, false, {id: "procedure_#{counter}_payment_taken", class: 'payment_taken'} %>
                  <label for="procedure_<%= counter.to_s %>_payment_taken">Paid</label>
                </div>
              </div>
              <div class="payment_taken_fields" style="display:none;">
                <div class="col-md-4 col-md-9-shared">
                  <div class="input-group">
                    <span class="input-group-addon" style="padding: 5px 10px;font-size: 10px;"><i class="fa fa-calendar"></i></span>
                    <%= text_field_tag 'counsellor_record[procedures]['+counter.to_s+'][payment_taken_datetime]', "", class: 'payment_taken_datetime form-control p3_10', readonly: 'readonly' %>
                  </div>
                </div>
                <div class="col-md-4 col-md-9-shared">
                  <%= select_tag 'counsellor_record[procedures]['+counter.to_s+'][payment_taken_by_id]', options_for_select(@counsellor_options, @current_user.id.to_s), {include_blank: "Select", class: "payment_taken_by_id form-control p3_10"} %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-md-9-shared iol_present_details">
            <div class="row">
              <div class="col-md-3">
                <div class="ckbox ckbox-success ckbox-iol-present">
                  <%= hidden_field_tag 'counsellor_record[procedures]['+counter.to_s+'][iol_present]', false %>
                  <%= check_box_tag 'counsellor_record[procedures]['+counter.to_s+'][iol_present]', true, false, {id: "procedure_#{counter}_iol_present", class: 'iol_present'} %>
                  <label for="procedure_<%= counter.to_s %>_iol_present">IOL</label>
                </div>
              </div>
              <div class="iol_fields" style="display:none;">
                <div class="col-md-4 col-md-9-shared">
                  <%= text_field_tag 'counsellor_record[procedures]['+counter.to_s+'][iol_agreed]', "", class: 'iol_power_used form-control p3_10', placeholder: "IOL Agreed" %>
                </div>
                <div class="col-md-4 col-md-9-shared">
                  <%= text_field_tag 'counsellor_record[procedures]['+counter.to_s+'][iol_power]', "", class: 'iol_power form-control p3_10', placeholder: "Power" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>