<% @case_sheet_radiology_investigations = @case_sheet.radiology_investigations %>
<div class="row">
  <div class="col-md-9">
    <strong style="text-decoration: underline;">RADIOLOGY INVESTIGATION</strong>
  </div>
  <div class="col-md-3 text-right">
    <input type="text" class="form-control search_radiology_investigations p3_10" placeholder="Search & Add Radiology Investigation">
  </div>
</div>
<div id="patient-radiology_investigations">
  <% if @case_sheet.present? %>
    <% if @case_sheet_radiology_investigations.count > 0 %>
      <% @performed_radiology_investigations = [] %>
      <% @removed_radiology_investigations = [] %>
      <div id="patient-advised-radiology_investigations">
        <% @case_sheet_radiology_investigations.each_with_index do |radiology_investigation, i| %>
          <% unless radiology_investigation.is_performed %><hr style="border-top: 1px solid #ccc;margin: 10px auto 15px;" /><% end %>
          <div class="row patient-radiology_investigation" <%= "style=display:none;" if radiology_investigation.is_performed %>>
            <div class="col-md-12">
              <div class="row agreed_declined_row">
                <!-- Radiology Hidden Fields -->
                <% if radiology_investigation.counsellor_investigation_ids[@counsellor_record.id.to_s].present? && radiology_investigation.counsellor_investigation_ids[@counsellor_record.id.to_s][:investigation_id].present? %>
                  <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][id]', radiology_investigation.counsellor_investigation_ids[@counsellor_record.id.to_s][:investigation_id] %>
                <% end %>
                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][record_id]', radiology_investigation.record_id %>
                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][case_sheet_radiology_investigation_id]', radiology_investigation.id %>
                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][opd_investigation_id]', radiology_investigation.opd_investigation_id %>
                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][investigationname]', radiology_investigation.investigationname %>
                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][investigation_id]', radiology_investigation.investigation_id %>
                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][detail_investigation_id]', radiology_investigation.detail_investigation_id %>
                <%= hidden_field_tag "counsellor_record[radiology_investigations]["+i.to_s+"][radiologyoptions]", radiology_investigation.radiologyoptions %>
                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][investigationfullcode]', radiology_investigation.investigationfullcode %>
                <% investigationstage = ("Counselled" if radiology_investigation.investigationstage == "Advised") || radiology_investigation.investigationstage %>
                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][investigationstage]', investigationstage, class: 'investigationstage' %>
                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][haslaterality]', radiology_investigation.haslaterality %>
                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][is_spine]', radiology_investigation.is_spine %>
                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][laterality]', radiology_investigation.laterality %>
                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][investigation_type]', radiology_investigation.investigation_type %>
                <!-- Entered Hidden Fields -->
                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][entered_by_id]', radiology_investigation.entered_by_id %>
                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][entered_by]', radiology_investigation.entered_by %>
                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][entered_from]', radiology_investigation.entered_from %>
                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][entered_at_facility_id]', radiology_investigation.entered_at_facility_id %>
                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][entered_at_facility]', radiology_investigation.entered_at_facility %>
                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][entered_datetime]', radiology_investigation.entered_datetime %>
                <!-- Advised Hidden Fields -->
                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][advised_by_id]', radiology_investigation.advised_by_id %>
                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][advised_by]', radiology_investigation.advised_by %>
                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][advised_from]', radiology_investigation.advised_from %>
                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][advised_at_facility_id]', radiology_investigation.advised_at_facility_id %>
                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][advised_at_facility]', radiology_investigation.advised_at_facility %>
                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][advised_datetime]', radiology_investigation.advised_datetime %>
                <!-- Performed Hidden Fields -->
                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][performed_by_id]', radiology_investigation.performed_by_id %>
                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][performed_by]', radiology_investigation.performed_by %>
                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][performed_from]', radiology_investigation.performed_from %>
                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][performed_at_facility_id]', radiology_investigation.performed_at_facility_id %>
                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][performed_at_facility]', radiology_investigation.performed_at_facility %>
                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][performed_datetime]', radiology_investigation.performed_datetime %>
                <% unless radiology_investigation.is_performed %>
                  <!-- Counselled Hidden Fields -->
                  <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][is_counselled]', radiology_investigation.is_counselled || true %>
                  <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][counselled_by_id]', radiology_investigation.counselled_by_id || current_user.id %>
                  <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][counselled_by]', radiology_investigation.counselled_by || current_user.fullname %>
                  <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][counselled_from]', radiology_investigation.counselled_from || "counsellor_record" %>
                  <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][counselled_at_facility_id]', radiology_investigation.counselled_at_facility_id || current_facility.id %>
                  <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][counselled_at_facility]', radiology_investigation.counselled_at_facility || current_facility.name %>
                  <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][counselled_datetime]', radiology_investigation.counselled_datetime || Time.current %>
                  <!-- Agreed Hidden Fields -->
                  <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][agreed_by]', radiology_investigation.agreed_by, class: 'agreed_by' %>
                  <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][agreed_from]', radiology_investigation.agreed_from, class: 'agreed_from' %>
                  <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][agreed_at_facility_id]', radiology_investigation.agreed_at_facility_id, class: 'agreed_at_facility_id' %>
                  <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][agreed_at_facility]', radiology_investigation.agreed_at_facility, class: 'agreed_at_facility' %>
                  <!-- Payment Taken Hidden Fields -->
                  <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][payment_taken_by]', radiology_investigation.payment_taken_by, class: 'payment_taken_by' %>
                  <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][payment_taken_from]', radiology_investigation.payment_taken_from, class: 'payment_taken_from' %>
                  <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][payment_taken_at_facility_id]', radiology_investigation.payment_taken_at_facility_id, class: 'payment_taken_at_facility_id' %>
                  <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][payment_taken_at_facility]', radiology_investigation.payment_taken_at_facility, class: 'payment_taken_at_facility' %>
                  <!-- Declined Hidden Fields -->
                  <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][declined_by]', radiology_investigation.declined_by, class: 'declined_by' %>
                  <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][declined_from]', radiology_investigation.declined_from, class: 'declined_from' %>
                  <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][declined_at_facility_id]', radiology_investigation.declined_at_facility_id, class: 'declined_at_facility_id' %>
                  <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][declined_at_facility]', radiology_investigation.declined_at_facility, class: 'declined_at_facility' %>
                  <!-- Removed Hidden Fields -->
                  <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][is_removed]', radiology_investigation.is_removed || false, class: 'is_removed' %>
                  <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][removed_by_id]', radiology_investigation.removed_by_id, class: 'removed_by_id' %>
                  <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][removed_by]', radiology_investigation.removed_by, class: 'removed_by' %>
                  <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][removed_from]', radiology_investigation.removed_from, class: 'removed_from' %>
                  <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][removed_at_facility_id]', radiology_investigation.removed_at_facility_id, class: 'removed_at_facility_id' %>
                  <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][removed_at_facility]', radiology_investigation.removed_at_facility, class: 'removed_at_facility' %>
                  <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][removed_datetime]', radiology_investigation.removed_datetime, class: 'removed_datetime' %>
                <% end %>

                <% if !radiology_investigation.is_performed %>
                  <% if !radiology_investigation.counsellor_options_disabled %>
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-3">
                          <span class="radiology_investigation-name"><%= radiology_investigation.investigationname.to_s %>&emsp;</span>
                          <% type = radiology_investigation.investigationname.to_s.split(",")[0].to_s.downcase %><!-- Huzi Out -->
                          <% if type == "mri" || radiology_investigation.radiologyoptions.present? %>
                            <% radiologyoptions = [{option_name: 'w/o contrast', option_id: '90084008'}, {option_name: 'with contrast', option_id: '51619007'}, {option_name: 'with complete screening', option_id: '429859008'}, {option_name: 'screening of other region', option_id: '431985004'}, {option_name: '3D-reconstruction', option_id: '22400007'}] %>
                            <select class="radiologyoptions" <%= "disabled='disabled'" if radiology_investigation.entered_from == "opd_record" %>>
                              <option value='' <%= "selected='selected'" if radiology_investigation.radiologyoptions.to_s == "" %>></option>
                              <% radiologyoptions.each do |option| %>
                                <option value='<%= option[:option_id] %>' <%= "selected='selected'" if radiology_investigation.radiologyoptions == option[:option_id] %>><%= option[:option_name] %></option>
                              <% end %>
                            </select>
                          <% end %>
                          <br/><span style="font-size:12px;">- <%= radiology_investigation.try(:advised_by) %> (<%= radiology_investigation.try(:advised_datetime).try(:strftime, "%d %b'%y") %>)</span>
                        </div>
                        <div class="col-md-4 col-md-9-shared agreed_by_details">
                          <div class="row">
                            <div class="col-md-3">
                              <div class="ckbox ckbox-primary ckbox-agreed">
                                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][has_agreed]', false %>
                                <%= check_box_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][has_agreed]', true, radiology_investigation.has_agreed, {id: "radiology_investigation_#{i}_has_agreed", class: 'has_agreed'} %>
                                <label for="radiology_investigation_<%= i.to_s %>_has_agreed">Agreed</label>
                              </div>
                            </div>
                            <div class="agreed_fields" <%= "style=display:none;" unless radiology_investigation.has_agreed %>>
                              <div class="col-md-4 col-md-9-shared">
                                <div class="input-group">
                                  <span class="input-group-addon" style="padding: 5px 10px;font-size: 10px;"><i class="fa fa-calendar"></i></span>
                                  <% agreed_datetime = (radiology_investigation.agreed_datetime.strftime('%d/%m/%Y') if radiology_investigation.try(:agreed_datetime).present?) || "" %>
                                  <%= text_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][agreed_datetime]', agreed_datetime, class: 'agreed_datetime form-control p3_10', readonly: 'readonly' %>
                                </div>
                              </div>
                              <div class="col-md-4 col-md-9-shared">
                                <% radiology_agreed_counsellor_options = (@counsellor_options + [[radiology_investigation.agreed_by, radiology_investigation.agreed_by_id]] if radiology_investigation.agreed_by_id != current_user.id) || @counsellor_options %>
                                <%= select_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][agreed_by_id]', options_for_select(radiology_agreed_counsellor_options, radiology_investigation.agreed_by_id), {include_blank: "Select", class: "agreed_by_id form-control p3_10"} %>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 col-md-9-shared declined_by_details">
                          <div class="row">
                            <div class="col-md-3">
                              <div class="ckbox ckbox-danger ckbox-declined">
                                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][has_declined]', false %>
                                <%= check_box_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][has_declined]', true, radiology_investigation.has_declined, {id: "radiology_investigation_#{i}_has_declined", class: 'has_declined'} %>
                                <label for="radiology_investigation_<%= i.to_s %>_has_declined">Declined</label>
                              </div>
                            </div>
                            <div class="declined_fields" <%= "style=display:none;" unless radiology_investigation.has_declined %>>
                              <div class="col-md-4 col-md-9-shared">
                                <div class="input-group">
                                  <span class="input-group-addon" style="padding: 5px 10px;font-size: 10px;"><i class="fa fa-calendar"></i></span>
                                  <% declined_datetime = (radiology_investigation.declined_datetime.strftime('%d/%m/%Y') if radiology_investigation.try(:declined_datetime).present?) || "" %>
                                  <%= text_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][declined_datetime]', declined_datetime, class: 'declined_datetime form-control p3_10', readonly: 'readonly' %>
                                </div>
                              </div>
                              <div class="col-md-4 col-md-9-shared">
                                <% radiology_declined_counsellor_options = (@counsellor_options + [[radiology_investigation.declined_by, radiology_investigation.declined_by_id]] if radiology_investigation.declined_by_id != current_user.id) || @counsellor_options %>
                                <%= select_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][declined_by_id]', options_for_select(radiology_declined_counsellor_options, radiology_investigation.declined_by_id), {include_blank: "Select", class: "declined_by_id form-control p3_10"} %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row mt10 agreed-options" <%= "style=display:none;" unless radiology_investigation.has_agreed %>>
                        <div class="col-md-3 remove_details">
                        </div>
                        <div class="col-md-4 col-md-9-shared payment_taken_by_details">
                          <div class="row">
                            <div class="col-md-3">
                              <div class="ckbox ckbox-success ckbox-payment-taken">
                                <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][payment_taken]', false %>
                                <%= check_box_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][payment_taken]', true, radiology_investigation.payment_taken, {id: "radiology_investigation_#{i}_payment_taken", class: 'payment_taken'} %>
                                <label for="radiology_investigation_<%= i.to_s %>_payment_taken">Paid</label>
                              </div>
                            </div>
                            <div class="payment_taken_fields" <%= "style=display:none;" unless radiology_investigation.payment_taken %>>
                              <div class="col-md-4 col-md-9-shared">
                                <div class="input-group">
                                  <span class="input-group-addon" style="padding: 5px 10px;font-size: 10px;"><i class="fa fa-calendar"></i></span>
                                  <% payment_taken_datetime = (radiology_investigation.payment_taken_datetime.strftime('%d/%m/%Y') if radiology_investigation.try(:payment_taken_datetime).present?) || "" %>
                                  <%= text_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][payment_taken_datetime]', payment_taken_datetime, class: 'payment_taken_datetime form-control p3_10', readonly: 'readonly' %>
                                </div>
                              </div>
                              <div class="col-md-4 col-md-9-shared">
                                <% radiology_payment_taken_counsellor_options = (@counsellor_options + [[radiology_investigation.payment_taken_by, radiology_investigation.payment_taken_by_id]] if radiology_investigation.payment_taken_by_id != current_user.id) || @counsellor_options %>
                                <%= select_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][payment_taken_by_id]', options_for_select(radiology_payment_taken_counsellor_options, radiology_investigation.payment_taken_by_id), {include_blank: "Select", class: "payment_taken_by_id form-control p3_10"} %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% else %>
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-3">
                          <span class="radiology_investigation-name"><%= radiology_investigation.investigationname.to_s %>&emsp;</span>
                          <% type = radiology_investigation.investigationname.to_s.split(",")[0].to_s.downcase %><!-- Huzi Out -->
                          <% if type == "mri" || radiology_investigation.radiologyoptions.present? %>
                            <% radiologyoptions = [{option_name: 'w/o contrast', option_id: '90084008'}, {option_name: 'with contrast', option_id: '51619007'}, {option_name: 'with complete screening', option_id: '429859008'}, {option_name: 'screening of other region', option_id: '431985004'}, {option_name: '3D-reconstruction', option_id: '22400007'}] %>
                            <select class="radiologyoptions" <%= "disabled='disabled'" if radiology_investigation.entered_from == "opd_record" %>>
                              <option value='' <%= "selected='selected'" if radiology_investigation.radiologyoptions.to_s == "" %>></option>
                              <% radiologyoptions.each do |option| %>
                                <option value='<%= option[:option_id] %>' <%= "selected='selected'" if radiology_investigation.radiologyoptions == option[:option_id] %>><%= option[:option_name] %></option>
                              <% end %>
                            </select>
                          <% end %>
                        </div>
                        <div class="col-md-3">
                          <b><%= radiology_investigation.investigationstage %></b>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <%= hidden_field_tag 'counsellor_record[radiology_investigations]['+i.to_s+'][is_performed]', true %>
                  <% @performed_radiology_investigations << (radiology_investigation.investigationname.to_s + ((', ' + radiology_investigation.get_label_for_radiology_option(radiology_investigation.radiologyoptions) if radiology_investigation.radiologyoptions.present?) || '')) %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="row mt10 removed-radiology_investigations">
        <div class="col-md-12">
          <span style="color:#d9534f"><strong>Removed:</strong> <span class="removed-radiology_investigations-name"><%= @removed_radiology_investigations.join(" | ") %></span></span>
        </div>
      </div>
      <% if @performed_radiology_investigations.count > 0 %>
        <div class="row mt10">
          <div class="col-md-12">
            <span style="color:#1CAF9A"><strong>Performed:</strong> <%= @performed_radiology_investigations.join(" | ") %></span>
          </div>
        </div>
      <% end %>
    <% else %>
      <div id="patient-advised-radiology_investigations"></div>
      <div class="row no-radiology_investigation">
        <div class="col-md-12">
          <span>No Radiology Investigations</span>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="row no-radiology_investigation">
      <div class="col-md-12">
        <span>No Radiology Investigations</span>
      </div>
    </div>
  <% end %>
</div>