<% @case_sheet_laboratory_investigations = @case_sheet.laboratory_investigations %>
<div class="row">
  <div class="col-md-9">
    <strong style="text-decoration: underline;">LABORATORY INVESTIGATION</strong>
  </div>
  <div class="col-md-3 text-right">
    <input type="text" class="form-control search_laboratory_investigations p3_10" placeholder="Search & Add Laboratory Investigation">
  </div>
</div>
<div id="patient-laboratory_investigations">
  <% if @case_sheet.present? %>
    <% if @case_sheet_laboratory_investigations.count > 0 %>
      <% @performed_laboratory_investigations = [] %>
      <% @removed_laboratory_investigations = [] %>
      <div id="patient-advised-laboratory_investigations">
        <% @case_sheet_laboratory_investigations.each_with_index do |laboratory_investigation, i| %>
          <% unless laboratory_investigation.is_performed %><hr style="border-top: 1px solid #ccc;margin: 10px auto 15px;" /><% end %>
          <div class="row patient-laboratory_investigation" <%= "style=display:none;" if laboratory_investigation.is_performed %>>
            <div class="col-md-12">
              <div class="row agreed_declined_row">
                <!-- Laboratory Hidden Fields -->
                <% if laboratory_investigation.counsellor_investigation_ids[@counsellor_record.id.to_s].present? && laboratory_investigation.counsellor_investigation_ids[@counsellor_record.id.to_s][:investigation_id].present? %>
                  <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][id]', laboratory_investigation.counsellor_investigation_ids[@counsellor_record.id.to_s][:investigation_id] %>
                <% end %>
                <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][record_id]', laboratory_investigation.record_id %>
                <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][case_sheet_laboratory_investigation_id]', laboratory_investigation.id %>
                <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][opd_investigation_id]', laboratory_investigation.opd_investigation_id %>
                <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][detail_investigation_id]', laboratory_investigation.detail_investigation_id %>
                <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][investigationname]', laboratory_investigation.investigationname %>
                <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][investigation_id]', laboratory_investigation.investigation_id %>
                <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][investigationfullcode]', laboratory_investigation.investigationfullcode %>
                <% investigationstage = ("Counselled" if laboratory_investigation.investigationstage == "Advised") || laboratory_investigation.investigationstage %>
                <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][investigationstage]', investigationstage, class: 'investigationstage' %>
                <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][loinc_class]', laboratory_investigation.loinc_class %>
                <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][loinc_code]', laboratory_investigation.loinc_code %>
                <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][investigation_type]', laboratory_investigation.investigation_type %>

                <!-- Entered Hidden Fields -->
                <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][entered_by_id]', laboratory_investigation.entered_by_id %>
                <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][entered_by]', laboratory_investigation.entered_by %>
                <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][entered_from]', laboratory_investigation.entered_from %>
                <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][entered_at_facility_id]', laboratory_investigation.entered_at_facility_id %>
                <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][entered_at_facility]', laboratory_investigation.entered_at_facility %>
                <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][entered_datetime]', laboratory_investigation.entered_datetime %>
                <!-- Advised Hidden Fields -->
                <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][advised_by_id]', laboratory_investigation.advised_by_id %>
                <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][advised_by]', laboratory_investigation.advised_by %>
                <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][advised_from]', laboratory_investigation.advised_from %>
                <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][advised_at_facility_id]', laboratory_investigation.advised_at_facility_id %>
                <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][advised_at_facility]', laboratory_investigation.advised_at_facility %>
                <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][advised_datetime]', laboratory_investigation.advised_datetime %>
                <!-- Performed Hidden Fields -->
                <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][performed_by_id]', laboratory_investigation.performed_by_id %>
                <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][performed_by]', laboratory_investigation.performed_by %>
                <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][performed_from]', laboratory_investigation.performed_from %>
                <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][performed_at_facility_id]', laboratory_investigation.performed_at_facility_id %>
                <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][performed_at_facility]', laboratory_investigation.performed_at_facility %>
                <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][performed_datetime]', laboratory_investigation.performed_datetime %>
                <% unless laboratory_investigation.is_performed %>
                  <!-- Counselled Hidden Fields -->
                  <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][is_counselled]', laboratory_investigation.is_counselled || true %>
                  <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][counselled_by_id]', laboratory_investigation.counselled_by_id || current_user.id %>
                  <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][counselled_by]', laboratory_investigation.counselled_by || current_user.fullname %>
                  <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][counselled_from]', laboratory_investigation.counselled_from || "counsellor_record" %>
                  <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][counselled_at_facility_id]', laboratory_investigation.counselled_at_facility_id || current_facility.id %>
                  <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][counselled_at_facility]', laboratory_investigation.counselled_at_facility || current_facility.name %>
                  <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][counselled_datetime]', laboratory_investigation.counselled_datetime || Time.current %>
                  <!-- Agreed Hidden Fields -->
                  <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][agreed_by]', laboratory_investigation.agreed_by, class: 'agreed_by' %>
                  <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][agreed_from]', laboratory_investigation.agreed_from, class: 'agreed_from' %>
                  <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][agreed_at_facility_id]', laboratory_investigation.agreed_at_facility_id, class: 'agreed_at_facility_id' %>
                  <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][agreed_at_facility]', laboratory_investigation.agreed_at_facility, class: 'agreed_at_facility' %>
                  <!-- Payment Taken Hidden Fields -->
                  <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][payment_taken_by]', laboratory_investigation.payment_taken_by, class: 'payment_taken_by' %>
                  <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][payment_taken_from]', laboratory_investigation.payment_taken_from, class: 'payment_taken_from' %>
                  <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][payment_taken_at_facility_id]', laboratory_investigation.payment_taken_at_facility_id, class: 'payment_taken_at_facility_id' %>
                  <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][payment_taken_at_facility]', laboratory_investigation.payment_taken_at_facility, class: 'payment_taken_at_facility' %>
                  <!-- Declined Hidden Fields -->
                  <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][declined_by]', laboratory_investigation.declined_by, class: 'declined_by' %>
                  <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][declined_from]', laboratory_investigation.declined_from, class: 'declined_from' %>
                  <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][declined_at_facility_id]', laboratory_investigation.declined_at_facility_id, class: 'declined_at_facility_id' %>
                  <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][declined_at_facility]', laboratory_investigation.declined_at_facility, class: 'declined_at_facility' %>
                  <!-- Removed Hidden Fields -->
                  <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][is_removed]', laboratory_investigation.is_removed || false, class: 'is_removed' %>
                  <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][removed_by_id]', laboratory_investigation.removed_by_id, class: 'removed_by_id' %>
                  <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][removed_by]', laboratory_investigation.removed_by, class: 'removed_by' %>
                  <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][removed_from]', laboratory_investigation.removed_from, class: 'removed_from' %>
                  <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][removed_at_facility_id]', laboratory_investigation.removed_at_facility_id, class: 'removed_at_facility_id' %>
                  <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][removed_at_facility]', laboratory_investigation.removed_at_facility, class: 'removed_at_facility' %>
                  <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][removed_datetime]', laboratory_investigation.removed_datetime, class: 'removed_datetime' %>
                <% end %>

                <% if !laboratory_investigation.is_performed %>
                  <% if !laboratory_investigation.counsellor_options_disabled %>
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-3">
                          <span class="laboratory_investigation-name"><%= laboratory_investigation.investigationname.to_s %>&emsp;</span>
                          <br/><span style="font-size:12px;">- <%= laboratory_investigation.try(:advised_by) %> (<%= laboratory_investigation.try(:advised_datetime).try(:strftime, "%d %b'%y") %>)</span>
                        </div>
                        <div class="col-md-4 col-md-9-shared agreed_by_details">
                          <div class="row">
                            <div class="col-md-3">
                              <div class="ckbox ckbox-primary ckbox-agreed">
                                <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][has_agreed]', false %>
                                <%= check_box_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][has_agreed]', true, laboratory_investigation.has_agreed, {id: "laboratory_investigation_#{i}_has_agreed", class: 'has_agreed'} %>
                                <label for="laboratory_investigation_<%= i.to_s %>_has_agreed">Agreed</label>
                              </div>
                            </div>
                            <div class="agreed_fields" <%= "style=display:none;" unless laboratory_investigation.has_agreed %>>
                              <div class="col-md-4 col-md-9-shared">
                                <div class="input-group">
                                  <span class="input-group-addon" style="padding: 5px 10px;font-size: 10px;"><i class="fa fa-calendar"></i></span>
                                  <% agreed_datetime = (laboratory_investigation.agreed_datetime.strftime('%d/%m/%Y') if laboratory_investigation.try(:agreed_datetime).present?) || "" %>
                                  <%= text_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][agreed_datetime]', agreed_datetime, class: 'agreed_datetime form-control p3_10', readonly: 'readonly' %>
                                </div>
                              </div>
                              <div class="col-md-4 col-md-9-shared">
                                <% laboratory_agreed_counsellor_options = (@counsellor_options + [[laboratory_investigation.agreed_by, laboratory_investigation.agreed_by_id]] if laboratory_investigation.agreed_by_id != current_user.id) || @counsellor_options %>
                                <%= select_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][agreed_by_id]', options_for_select(laboratory_agreed_counsellor_options, laboratory_investigation.agreed_by_id), {include_blank: "Select", class: "agreed_by_id form-control p3_10"} %>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 col-md-9-shared declined_by_details">
                          <div class="row">
                            <div class="col-md-3">
                              <div class="ckbox ckbox-danger ckbox-declined">
                                <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][has_declined]', false %>
                                <%= check_box_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][has_declined]', true, laboratory_investigation.has_declined, {id: "laboratory_investigation_#{i}_has_declined", class: 'has_declined'} %>
                                <label for="laboratory_investigation_<%= i.to_s %>_has_declined">Declined</label>
                              </div>
                            </div>
                            <div class="declined_fields" <%= "style=display:none;" unless laboratory_investigation.has_declined %>>
                              <div class="col-md-4 col-md-9-shared">
                                <div class="input-group">
                                  <span class="input-group-addon" style="padding: 5px 10px;font-size: 10px;"><i class="fa fa-calendar"></i></span>
                                  <% declined_datetime = (laboratory_investigation.declined_datetime.strftime('%d/%m/%Y') if laboratory_investigation.try(:declined_datetime).present?) || "" %>
                                  <%= text_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][declined_datetime]', declined_datetime, class: 'declined_datetime form-control p3_10', readonly: 'readonly' %>
                                </div>
                              </div>
                              <div class="col-md-4 col-md-9-shared">
                                <% laboratory_declined_counsellor_options = (@counsellor_options + [[laboratory_investigation.declined_by, laboratory_investigation.declined_by_id]] if laboratory_investigation.declined_by_id != current_user.id) || @counsellor_options %>
                                <%= select_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][declined_by_id]', options_for_select(laboratory_declined_counsellor_options, laboratory_investigation.declined_by_id), {include_blank: "Select", class: "declined_by_id form-control p3_10"} %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row mt10 agreed-options" <%= "style=display:none;" unless laboratory_investigation.has_agreed %>>
                        <div class="col-md-3 remove_details">
                        </div>
                        <div class="col-md-4 col-md-9-shared payment_taken_by_details">
                          <div class="row">
                            <div class="col-md-3">
                              <div class="ckbox ckbox-success ckbox-payment-taken">
                                <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][payment_taken]', false %>
                                <%= check_box_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][payment_taken]', true, laboratory_investigation.payment_taken, {id: "laboratory_investigation_#{i}_payment_taken", class: 'payment_taken'} %>
                                <label for="laboratory_investigation_<%= i.to_s %>_payment_taken">Paid</label>
                              </div>
                            </div>
                            <div class="payment_taken_fields" <%= "style=display:none;" unless laboratory_investigation.payment_taken %>>
                              <div class="col-md-4 col-md-9-shared">
                                <div class="input-group">
                                  <span class="input-group-addon" style="padding: 5px 10px;font-size: 10px;"><i class="fa fa-calendar"></i></span>
                                  <% payment_taken_datetime = (laboratory_investigation.payment_taken_datetime.strftime('%d/%m/%Y') if laboratory_investigation.try(:payment_taken_datetime).present?) || "" %>
                                  <%= text_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][payment_taken_datetime]', payment_taken_datetime, class: 'payment_taken_datetime form-control p3_10', readonly: 'readonly' %>
                                </div>
                              </div>
                              <div class="col-md-4 col-md-9-shared">
                                <% laboratory_payment_taken_counsellor_options = (@counsellor_options + [[laboratory_investigation.payment_taken_by, laboratory_investigation.payment_taken_by_id]] if laboratory_investigation.payment_taken_by_id != current_user.id) || @counsellor_options %>
                                <%= select_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][payment_taken_by_id]', options_for_select(laboratory_payment_taken_counsellor_options, laboratory_investigation.payment_taken_by_id), {include_blank: "Select", class: "payment_taken_by_id form-control p3_10"} %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% else %>
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-3">
                          <span class="laboratory_investigation-name"><%= laboratory_investigation.investigationname.to_s %>&emsp;</span>
                        </div>
                        <div class="col-md-3">
                          <b><%= laboratory_investigation.investigationstage %></b>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <%= hidden_field_tag 'counsellor_record[laboratory_investigations]['+i.to_s+'][is_performed]', true %>
                  <% @performed_laboratory_investigations << (laboratory_investigation.investigationname.to_s) %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="row mt10 removed-laboratory_investigations">
        <div class="col-md-12">
          <span style="color:#d9534f"><strong>Removed:</strong> <span class="removed-laboratory_investigations-name"><%= @removed_laboratory_investigations.join(" | ") %></span></span>
        </div>
      </div>
      <% if @performed_laboratory_investigations.count > 0 %>
        <div class="row mt10">
          <div class="col-md-12">
            <span style="color:#1CAF9A"><strong>Performed:</strong> <%= @performed_laboratory_investigations.join(" | ") %></span>
          </div>
        </div>
      <% end %>
    <% else %>
      <div id="patient-advised-laboratory_investigations"></div>
      <div class="row no-laboratory_investigation">
        <div class="col-md-12">
          <span>No Laboratory Investigations</span>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="row no-laboratory_investigation">
      <div class="col-md-12">
        <span>No Laboratory Investigations</span>
      </div>
    </div>
  <% end %>
</div>