<div id="investigationWizard" class="basic-wizard">
  <ul class="nav nav-pills nav-justified">
    <li role="presentation" class="active"><a href="#patient_laboratory_investigations" style="padding: 10px 0px;" data-toggle="tab">Laboratory</a></li>
    <% if @appointment.specialty_id == "309988001" %>
      <li role="presentation"><a href="#patient_ophthal_investigations" style="padding: 10px 0px;" data-toggle="tab">Ophthalmology</a></li>
    <% end %>
    <li role="presentation"><a href="#patient_radiology_investigations" style="padding: 10px 0px;" data-toggle="tab">Radiology</a></li>
  </ul>
  <div class="tab-content" style="background: #fff;overflow-y: scroll;">
    <div class="tab-pane active" id="patient_laboratory_investigations">
      <!-- Laboratory -->
      <div class="row patient-laboratory-investigation">
        <div class="col-md-12">
          <%= render partial: "counsellor_records/forms/patient_laboratory_investigations.html.erb", locals: {f: f} %>
        </div>
      </div>
    </div>
    <% if @appointment.specialty_id == "309988001" %>
      <div class="tab-pane" id="patient_ophthal_investigations">
        <!-- Ophthalmology -->
        <div class="row patient-ophthal-investigation">
          <div class="col-md-12">
            <%= render partial: "counsellor_records/forms/patient_ophthal_investigations.html.erb", locals: {f: f} %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="tab-pane" id="patient_radiology_investigations">
      <!-- Radiology -->
      <div class="row patient-radiology-investigation">
        <div class="col-md-12">
          <%= render partial: "counsellor_records/forms/patient_radiology_investigations.html.erb", locals: {f: f} %>
        </div>
      </div>
    </div>
  </div>
</div>
<% if @case_sheet.free_form_investigations.count > 0 %>
  <hr/>
  <div class="row">
    <div class="col-md-12 mt10" style="text-decoration: underline;"><b>INVESTIGATIONS</b></div>
    <% @case_sheet.free_form_investigations.each do |key, investigation| %>
      <%= hidden_field_tag 'counsellor_record[free_form_investigations]['+key+'][record_id]', investigation[:record_id] %>
      <%= hidden_field_tag 'counsellor_record[free_form_investigations]['+key+'][consultant_id]', investigation[:consultant_id] %>
      <%= hidden_field_tag 'counsellor_record[free_form_investigations]['+key+'][consultant_name]', investigation[:consultant_name] %>
      <%= hidden_field_tag 'counsellor_record[free_form_investigations]['+key+'][content]', investigation[:content] %>
      <div class="col-md-12">
        <span><b style="color: #333;"><%= investigation[:content].to_s.html_safe() %></b></span>
      </div>
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-6">
    <div class="row patient-procedure-comment">
      <div class="col-md-12">
        <%= f.text_area :investigation_comment, class: 'form-control p7_10', placeholder: 'Investigation Comment' %>
      </div>
    </div>
  </div>
</div>