<% todays_discussion = @case_sheet.counsellor_patient_discussions[@counsellor_record.id.to_s] %>
<div class="row patient-conversation">
  <div class="col-md-12">
    <div class="row mb5">
      <div class="col-md-12">
        <strong style="text-decoration: underline;">DISCUSSON WITH PATIENT</strong>
      </div>
    </div>
    <div class="row mb10">
      <div class="col-md-12">
        <strong><%= Date.current.strftime('%d/%m/%Y') %></strong>
        <%= hidden_field_tag 'counsellor_record[patient_discussions][' + @counsellor_record.id.to_s + '][note_date]', Date.current.strftime('%d/%m/%Y') %>
        <%= text_area_tag 'counsellor_record[patient_discussions][' + @counsellor_record.id.to_s + '][note]', (todays_discussion[:note] if todays_discussion.present?), class: 'patient_discussion form-control' %>
      </div>
    </div>
    <% if @case_sheet.counsellor_patient_discussions.count > 0 %>
      <% @case_sheet.counsellor_patient_discussions.to_a.reverse.to_h.each do |k, discussion| %>
        <% if k != @counsellor_record.id.to_s %>
          <div class="row mb10">
            <div class="col-md-12">
              <%= hidden_field_tag 'counsellor_record[patient_discussions]['+ k +'][note_date]', discussion[:note_date] %>
              <%= hidden_field_tag 'counsellor_record[patient_discussions]['+ k +'][note]', discussion[:note] %>
              <% if discussion[:note].present? %>
                <strong><%= discussion[:note_date] %> - <%= discussion[:note] %></strong>
              <% else %>
                <strong><%= discussion[:note_date] %> - <i>No Note</i></strong>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>