<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-lg">
  <!-- Modal content-->
  <div class="modal-content">
    <%= form_for @invoice,:format => :js,:method => :post,remote: true,:multipart => true,html: { :class => "estimate_new_form", :id => "estimate_new_form" } do |inv| %>
      <%= inv.hidden_field :patient_id, value: @patient.id %>
      <%= inv.hidden_field :tpa_insurance_workflow_id, value: @tpa_workflow.try(:id) %>
      <%= inv.hidden_field :admission_id, value: @tpa_workflow.try(:admission_id) %>
      <%= inv.hidden_field :tpa_id, value: @tpa_form.try(:id) %>
      <%= inv.hidden_field :organisation_id, value: @organisation_id %>
      <%= inv.hidden_field :estimate_display_id, value: @displaycounter %>
      <%= inv.hidden_field :mode_of_payment, value: "None" %>
      <%= inv.hidden_field :facility_id, value: @tpa_workflow.try(:facility_id) %>
      <%= inv.hidden_field :user_id, value: @tpa_workflow.try(:user_id) %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Estimate</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <!-- Patient Info -->
          <div class="row" id="patient_button">
            <span class="btn btn-primary btn-xs mb10" id="add_patient_info" style="padding:0 5px;"><i class="fa fa-plus"></i> Edit Patient Info</span>
            <%= render partial: 'inpatient/insurance/insured_patient_info', locals: { patient: @patient , admission: @admission} %>
          </div>
          <div class="patient_info_partial mb20" style="display:none;">
            <%= render partial: 'inpatient/insurance/insured_patient_info_edit', locals: { patient: @patient , admission: @admission} %>
          </div>
          <!-- Patient Info Ends -->
          <div class="services_items" id="services_items">
            <!-- Display Once -->
            <div class="service_row_count mb5 mt5" title="0">
              <div class="row service_row mb10">
                <div class="col-md-3">
                  <input style="padding:5px 10px;" class="form-control service_name" placeholder="Service Name" type="text" name="invoice_insurance_estimate[services][0][name]">
                </div>
                <div class='col-md-4'>
                  
                </div>
                <div class="col-md-3">
                  <input style="padding:5px 10px;" type="number" class="form-control service_total text-right" placeholder="Service Total" type="text" name="invoice_insurance_estimate[services][0][service_total]">
                </div>
                <div class="col-md-2 text-right">
                  <button class="btn btn-danger btn-xs remove_service_item" style="padding:0 5px;margin-top:3px;"><i class="fa fa-trash-alt"></i> Remove Service</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <button class="btn btn-primary btn-xs" id="add_service_insurance" style="padding:0 5px;"><i class="fa fa-plus"></i> Add Service</button>
          </div>
          <div class="row">
            <div class="row invoice_calculation_list">
              <div class="row mb5">
                <div class="col-md-3 col-md-offset-5 text-right">
                  <b>Total Estimate:</b>
                </div>
                <div class="col-md-2 text-right">
                  <input style="padding:5px 10px 0;border: none;border-bottom: 1px solid #aaa;" class="form-control invoice_gross_total text-right" id="invoice_gross_total" placeholder="Gross Amount" value="0" type="text" name="invoice_insurance_estimate[total]" readonly="readonly">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= inv.submit "Save", class: "btn btn-success", :onclick => 'invoice_estimate_page()' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>

<style type="text/css">
  /*input {
    border: none !important;
    border-bottom: 1px solid #aaa !important;
  }*/

  .service_row_count {
    border: 1px solid #aaa;
    padding: 21px;
    margin-bottom: 10px;
  }

  .patient_info_box {
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-left: 1px solid #aaa;
    padding: 10px 0;
    margin-bottom: 10px;
  }

  input.error, select.error {
    border-color: #b94a48;
    background-image: none;
  }
  input.valid, select.valid {
    border-color: #468847;
    background-image: none;
  }
</style>