<% patient_identifier = PatientIdentifier.find_by(patient_id: patient.id.to_s).try(:patient_org_id) %>
<% unless @facility %>
  <% if admission %>
    <% @facility = admission.facility %>
  <% elsif @invoice.facility_id.present? %>
    <% @facility = Facility.find_by(id: @invoice.facility_id) %>
  <% end %>
<% end %>

<div class="patient-details mb10 mt10" style="border:1px solid #aaa;padding:3px;">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-3">
          <b>Patient</b>
        </div>
        <div class="col-md-7">
          : <b><%= patient.fullname.to_s.upcase %></b>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <b>Age/Sex</b>
        </div>
        <div class="col-md-7">
          : 
          <%if @patient.calculate_age.present? || @patient.gender.present?%><%= @patient.calculate_age %>/<%= @patient.gender %><% else %> Unavailable<% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <b>Pat ID</b>
        </div>
        <div class="col-md-7">
          : <%= patient_identifier %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <b>Contact</b>
        </div>
        <div class="col-md-7">
          : <%= patient.mobilenumber %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <b>Address</b>
        </div>
        <div class="col-md-9">
          : <%= patient.address_1 %><br>&nbsp; <%= patient.address_2 %><br>&nbsp; <%= patient.city %>, <%= patient.state %></p>
        </div>
        </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-5">
          <b>Facility</b>
        </div>
        <div class="col-md-7">
          : <%= @facility.try(:name) %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <b> Facility no</b>
        </div>
        <div class="col-md-7">
          : <%= @facility.try(:telephone) %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <b> Facility address</b>
        </div>
        <div class="col-md-7">
          : <%= @facility.try(:address) %><br>&nbsp; <%= @facility.try(:city) %>, <%= @facility.try(:state) %></p>
        </div>
      </div>
      
    </div>
  </div>
</div>

<style type="text/css">
  
</style>