<div class="modal-dialog modal-lg">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Estimate View</h4>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <%= hidden_field_tag :invoice_id, @invoice.id %>
        <div class="row" id="patient_button">
          <div class="row mb10" id="patient_button" style="border-bottom: 1px solid #eee;font-size:12px;">
            <%= render partial: 'invoice/insurance_estimates/overall_info.html.erb', locals: {patient: @patient, admission: @admission, tpa: @tpa, invoice: @invoice, flag: "Estimate"} %>
          </div>
        </div>
        <div class="row">
          <div class="row mb5" style="border-bottom:1px solid #eee;">
            <div class="col-md-1"><b style="color:#000;">S.No</b></div>
            <div class="col-md-7"><b style="color:#000;">Particulars</b></div>
            <div class="col-md-4 text-right"><b style="color:#000;">Price</b></div>
          </div>

        </div>
        <% @invoice.services.each.with_index do |serv, i| %>
          <div class="row service_item_list">
            <% @service_total = 0 %>
            <div class="row service_list mb5">
              <div class="col-md-1">
                <b style="color:#000;"><%= i + 1 %>.</b>
              </div>
              <div class="col-md-7">
                <b style="color:#000;"><%= serv.name %></b>
              </div>
              <div class="col-md-4 text-right">
                <b style="color:#000;"><%= serv.service_total %>0</b>
              </div>
            </div>
          </div>
        <% end %>
        <hr>
        <div class="row invoice_calculation_list">
          <div class="row mb5">
            <div class="col-md-3 col-md-offset-7 text-right">
              <b>Total Estimate :</b>
            </div>
            <div class="col-md-2 text-right">
              <b style="color:#000;"><%= @invoice.total %>0</b>
            </div>
          </div>
        </div>
        <!-- <div class='row'>
          <div class="col-md-8"></div>
        </div> -->
      </div>
    </div>
    <div class="modal-footer" style="text-align:left">
      <div class="col-md-6">
        <%= link_to invoice_insurance_estimates_print_estimate_invoice_path(invoice_id: @invoice.id, :format => :pdf), :target => "_blank", :class => "btn btn-info btn-sm" do %><i class="fa fa-print"></i> Print<% end %>
      </div>
      <div class="col-md-6 text-right">
        <%= link_to edit_invoice_insurance_estimate_path(id: @invoice.id), :data => {:remote => true, 'target' => '#insurance-modal', 'disable-with': 'Please Wait...'}, class: "btn btn-primary", id: "edit_est_invoice_path" do %>Edit<% end %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>

</div>