<div class="container-fluid">
  <div class="row mb5">
    <span style="font-size:12px;" class="text-center col-md-12"><b>Estimate</b></span>
  </div>
  <div class="row mb10" id="patient_button">
    <%= render partial: 'invoice/insurance_estimates/overall_info.html.erb', locals: { patient: @patient , admission: @admission, tpa: @tpa, invoice: @invoice, flag: "Estimate"} %>
  </div>
  <div class="row">
    <div class="row mb5" style="border-bottom:1px solid #aaa;border-top:1px solid #aaa;">
      <div class="col-md-1"><b style="color:#000;">S.No</b></div>
      <div class="col-md-3"><b style="color:#000;">Particulars</b></div>
      <div class="col-md-2 col-md-offset-6 text-right"><b style="color:#000;">Total</b></div>
    </div>
  </div>
  <% @invoice.services.each.with_index do |serv, i| %>
    <div class="row service_item_list">
      <div class="row service_list">
        <div class="col-md-1">
          <%= i + 1 %>.
        </div>
        <div class="col-md-7">
          <%= serv.name %>
        </div>
        <div class="col-md-4 text-right">
          <%= serv.service_total %>0
        </div>
      </div>
    </div>
  <% end %>
  <hr style="border-bottom:1px solid #aaa;">
  <div class="row invoice_calculation_list">
    <div class="row mb5">
      <div class="col-md-3 col-md-offset-7 text-right">
        <b>Total Estimate :</b>
      </div>
      <div class="col-md-2 text-right">
        <b style="color:#000;"><%= @invoice.total %>0</b>
      </div>
    </div>
  </div>
  <!-- <div class='row'>
    <div class="col-md-8"></div>
  </div> -->
</div>

<style type="text/css">
  .container-fluid {
    font-size: 9px;
    font-family: 'Verdana';
    }
</style>