<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog" style="width: 60%">
  <div class="modal-content">
    <%= form_for @sub_store, remote: true, html: { id: "inventory_sub_store_form" } do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h5 class="modal-title" style="color: #1E90FF">Add New sub_store</h5>
      </div>
      <div class="modal-body window-body">
        <%= f.hidden_field :facility_id, { value: current_facility.id } %>
        <%= f.hidden_field :store_id, { value: @inventory_store.id } %>
        <%= f.hidden_field :organisation_id, { value: current_facility.organisation_id } %>
        <%= f.hidden_field :is_active, { value: true } %>
        <%= f.hidden_field :is_deleted, { value: false } %>
        <div class="row">
          <div class="col-sm-3 mb5"></div>
          <div class="col-sm-6 mb5">
            <strong>Name</strong><br>
            <%= f.text_field :name, { required: true, class: 'form-control p7_10 name', placeholder: 'Name' } %>
          </div>
          <div class="col-sm-3 mb5"></div>
        </div>
      </div>
      <div class="modal-footer window-footer">
        <button type="button" class="btn btn-default cancel-inventory-sub_store" data-dismiss="modal">Cancel</button>
        <% if params[:action] == 'new' %>
          <%= f.submit 'Save Changes', { class: 'btn btn-success' } %>
        <% else %>
          <%= f.submit 'Update Changes', { class: 'btn btn-success' } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
