<% total_sub_store = @inventory_store.sub_stores.where(is_deleted: false).size %>
<% is_disabled = total_sub_store == 1 ? true : false %>
<% is_disabled = is_disabled || !Authorization::PolicyHelper.verification(current_user.id ,"HGP-100-119-102") %>

<div class="">
  <h3 class="text-center"><%= @sub_store.name&.upcase %></h3>
  <br>
  <div class="col-md-12 mb5">
    <div class="col-md-6">
      <%= link_to edit_inventory_sub_store_path(id: @sub_store.id, store_id: @store_id), id: 'edit_sub_store', data: { remote: true, toggle: 'modal', target: '#sub-store-modal' }, class: 'btn btn-primary btn-xs', disabled: !Authorization::PolicyHelper.verification(current_user.id ,"HGP-100-119-101") do %><i class="fa fa-edit"></i> Edit<% end %>
    </div>
    <div class="col-md-6">
      <% if @sub_store.is_deleted %>
        <%= link_to enable_sub_store_inventory_sub_stores_path(id: @sub_store.id.to_s, store_id: @store_id), id: 'enable_sub_store', data: { remote: true }, class: 'btn btn-success btn-xs' do %>Enable Sub-Store<% end %>
      <% else %>
        <%= link_to inventory_sub_store_path(id: @sub_store.id.to_s, store_id: @store_id), method: :delete, id: 'delete_sub_store', data: { remote: true }, class: 'btn btn-danger btn-xs', disabled: is_disabled do %><i class="fa fa-ban"></i> Disable Sub-Store<% end %>
      <% end %>
    </div>
  </div>
</div>
<br><br><br><br>
<div class="inventory-items" style=" height: initial;">
  <table class="table inventory_table_center">
    <thead class="inventory-table-head">
      <tr class='thead-fixable row'>
        <td class='thead-fix col-md-3'>Description</td>
        <td class='thead-fix col-md-2'>Source</td>
        <% if @inventory_store.department_id == '50121007' %>
          <td class='thead-fix col-md-2'>
        <%else%>
          <td class='thead-fix col-md-4'>
        <%end%>Stock</td>
        <% if @inventory_store.department_id == '50121007' %>
          <td class='thead-fix col-md-2'>Model No.</td>
        <% end %>
        <td class='thead-fix col-md-3'>Variant Code</td>
      </tr>
    </thead>
    <tbody class="inventory-table-body", id="inventory_table_body">
      <%= render partial: 'inventory/item/lots/index_body' %>
    </tbody>
  </table>
  <% unless @lots.count < 30 %>
    <div class="show-more-timeline">
      <a class="col-sm-12", href="javascript:;", id="show_more_inventory", data-count = "0" , style="text-align: center;text-decoration: none;position: fixed;">
        <i class="fa fa-spinner fa-spin"></i> Loading...
      </a>
    </div>
  <%end%>
</div>
