<% if @histories.length > 0 %>
  <% @histories.each do |history| %>
    <tr id="<%= history.id %>" class="inventory-list-row text-center">
      <td style="font-size: 10px; color: #17a08c;" >
        <%= history.transaction_date.try(:strftime, '%d-%m-%Y') %>
        <br>
        <%= history.transaction_time&.strftime("%I:%M%p") %>
      </td>
      <td style="font-size: 10px; color: #17a08c;" ><%= history.user_name %></td>
      <td><b><%= history.item_name %></b><br> <%= history.lot_identifier %></td>
      <td><b><%= history.sub_store_name&.titleize %></b></td>
      <td><b><%= history.stock_value&.abs&.round(2) %></b></td>
      <td><b><%= history.amount_value&.abs&.round(2) %></b> </td>
      <td><b><%= history.bill_number %></b></td>
      <td><b><%= history.flow %>&nbsp;&nbsp;</b><b style="color: #1E90FF;">[<%= history.transaction_type %>]</b> </td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td align="center"><strong style="font-size: 20px;">Nothing to Display</strong></td>
  </tr>
<% end %>
