<% if ipdrecord.notetext.present? || ipdrecord.vitalsignstemperature.present? || ipdrecord.vitalsignspulse.present? || ipdrecord.vitalsignsbp.present? || ipdrecord.vitalsignsrr.present? || ipdrecord.anthropometryheight.present? || ipdrecord.anthropometryweight.present? || ipdrecord.anthropometrybmi.present? || ipdrecord.vitalsignsspo2.present? %>
  <div class="row mb10">
    <div class="col-md-12">
      <div class="row mb5">
        <div class="col-md-12">
          <b>Ward Note :</b><% if ipdrecord.notetext.present? %> <%= ipdrecord.notetext %> <% else %> No Notes Found <% end %>
        </div>
      </div>
      <% if ipdrecord.anthropometryheight.present? || ipdrecord.anthropometryweight.present? || ipdrecord.anthropometrybmi.present? %>
        <div class="row mb5">
          <% if ipdrecord.anthropometryheight.present? %>
            <div class="col-md-3">
              <b>Temperature :</b> <%= ipdrecord.anthropometryheight %>
            </div>
          <% end %>
            <% if ipdrecord.anthropometryweight.present? %>
            <div class="col-md-3">
              <b>Pulse :</b> <%= ipdrecord.anthropometryweight %>
            </div>
          <% end %>
            <% if ipdrecord.anthropometrybmi.present? %>
            <div class="col-md-3">
              <b>Blood Pressure :</b> <%= ipdrecord.anthropometrybmi %>
            </div>
          <% end %>
        </div>
      <% end %>
      <% if ipdrecord.vitalsignstemperature.present? || ipdrecord.vitalsignspulse.present? || ipdrecord.vitalsignsbp.present? || ipdrecord.vitalsignsrr.present? || ipdrecord.vitalsignsspo2.present? %>
        <div class="row mb5">
          <% if ipdrecord.vitalsignstemperature.present? %>
            <div class="col-md-3">
              <b>Temperature :</b> <%= ipdrecord.vitalsignstemperature %>
            </div>
          <% end %>
            <% if ipdrecord.vitalsignspulse.present? %>
            <div class="col-md-3">
              <b>Pulse :</b> <%= ipdrecord.vitalsignspulse %>
            </div>
          <% end %>
            <% if ipdrecord.vitalsignsbp.present? %>
            <div class="col-md-3">
              <b>BP :</b> <%= ipdrecord.vitalsignsbp %>
            </div>
          <% end %>
          <% if ipdrecord.vitalsignsrr.present? %>
            <div class="col-md-3">
              <b>RR :</b> <%= ipdrecord.vitalsignsrr %>
            </div>
          <% end %>
          <% if ipdrecord.vitalsignsspo2.present? %>
            <div class="col-md-3">
              <b>SpO2(%) :</b> <%= irwn.vitalsignsspo2 %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="row mb10" style="border-bottom:1px solid #aaa;">
    <div class="col-md-12 text-center">
      <b>Empty Record<b>
    </div>
  </div>
<% end %>