<%# chief Complaints %>
<% opd_history_counter = 0 %>
<% if @case_sheet.try(:chief_complaints).find_by(name: "blurring_diminution_of_vision").present? %>
  <% opd_history_counter = opd_history_counter + 1 %>
<% end %>
<% if @case_sheet.try(:chief_complaints).find_by(name:"redness").present? %>
  <% opd_history_counter = opd_history_counter + 1 %>
<% end %>
<% if @case_sheet.try(:chief_complaints).find_by(name: "pain").present? %>
  <% opd_history_counter = opd_history_counter + 1 %>
<% end %>
<% if @case_sheet.try(:chief_complaints).find_by(name: "injury").present? %>
  <% opd_history_counter = opd_history_counter + 1 %>
<% end %>
<% if @case_sheet.try(:chief_complaints).find_by(name: "watering").present? %>
  <% opd_history_counter = opd_history_counter + 1 %>
<% end %>
 <% if @case_sheet.try(:chief_complaints).find_by(name: "discharge").present? %>
  <% opd_history_counter = opd_history_counter + 1 %>
<% end %>
<% if @case_sheet.try(:chief_complaints).find_by(name: "dryness").present? %>
  <% opd_history_counter = opd_history_counter + 1 %>
<% end %>
<% if @case_sheet.try(:chief_complaints).find_by(name: "itching").present? %>
  <% opd_history_counter = opd_history_counter + 1 %>
<% end %>
<% if @case_sheet.try(:chief_complaints).find_by(name: "FBsensation").present? %>
  <% opd_history_counter = opd_history_counter + 1 %>
<% end %>
<% if @case_sheet.try(:chief_complaints).find_by(name: "deviation_squint").present? %>
  <% opd_history_counter = opd_history_counter + 1 %>
<% end %>
<% if @case_sheet.try(:chief_complaints).find_by(name: "headache_strain").present? %>
  <% opd_history_counter = opd_history_counter + 1 %>
<% end %>
<% if @case_sheet.try(:chief_complaints).find_by(name: "change_in_size_shape").present? %>
  <% opd_history_counter = opd_history_counter + 1 %>
<% end %>
<% if @case_sheet.try(:chief_complaints).find_by(name: "other_visual_symptoms").present? %>
  <% opd_history_counter = opd_history_counter + 1 %>
<% end %>
<% if @case_sheet.try(:chief_complaints).find_by(name: "shadow_defect_in_vision").present? %>
  <% opd_history_counter = opd_history_counter + 1 %>
<% end %>
<% if @case_sheet.try(:chief_complaints).find_by(name: "discoloration_of_eye").present? %>
  <% opd_history_counter = opd_history_counter + 1 %>
<% end %>
<% if @case_sheet.try(:chief_complaints).find_by(name: "swelling").present? %>
  <% opd_history_counter = opd_history_counter + 1 %>
<% end %>
<% if @case_sheet.try(:chief_complaints).find_by(name: "sensation_burning").present? %>
  <% opd_history_counter = opd_history_counter + 1 %>
<% end %>
<%# end %>

<div class="row">
  <% if opd_history_counter > 0 %>
    <% if @case_sheet.try(:chief_complaints).find_by(name: "blurring_diminution_of_vision").present? %>
      <div class="col-md-12">
        <span>Blurring/Diminution of vision</span>
        <span>
          <% if @case_sheet.try(:chief_complaints).find_by(name: "blurring_diminution_of_vision").side != nil || @case_sheet.try(:chief_complaints).find_by(name: "blurring_diminution_of_vision").side != "" %>
            in
            <% if @case_sheet.chief_complaints.find_by(name: "blurring_diminution_of_vision").side == "L" %>
              Left Eye
            <% elsif @case_sheet.chief_complaints.find_by(name: "blurring_diminution_of_vision").side == "R" %>
              Right Eye
            <% else %>
              Both Eye
            <% end %>
          <% end %>
          <% if @case_sheet.chief_complaints.find_by(name: "blurring_diminution_of_vision").duration.present? && @case_sheet.chief_complaints.find_by(name: "blurring_diminution_of_vision").duration_unit.present? %>
            since <%= @case_sheet.chief_complaints.find_by(name: "blurring_diminution_of_vision").duration %> <%= @case_sheet.chief_complaints.find_by(name: "blurring_diminution_of_vision").duration_unit %>
          <% end %>
          <% if @case_sheet.chief_complaints.find_by(name: "blurring_diminution_of_vision").comment.present? %>
            - <%= @case_sheet.chief_complaints.find_by(name: "blurring_diminution_of_vision").comment %>
          <% end %>

          <% if @case_sheet.chief_complaints.find_by(name: "blurring_diminution_of_vision").complaint_options.present? %>
              -
              <% blurringdiminution_options_length = @case_sheet.chief_complaints.find_by(name: "blurring_diminution_of_vision").complaint_options.split(",").length %>
            <% unless @case_sheet.chief_complaints.find_by(name: "blurring_diminution_of_vision").complaint_options.split(",").include?("distant") == false %>
                Distant <% blurringdiminution_options_length = blurringdiminution_options_length - 1 %>
                  <% if blurringdiminution_options_length > 1 %>
                    ,
                  <% elsif blurringdiminution_options_length > 0 %>
                    and
                  <% else %>
                    .
                  <% end %>
            <% end %>
            <% unless @case_sheet.chief_complaints.find_by(name: "blurring_diminution_of_vision").complaint_options.split(",").include?("near") == false %>
                Near<% blurringdiminution_options_length = blurringdiminution_options_length - 1 %>
                  <% if blurringdiminution_options_length > 1 %>
                    ,
                  <% elsif blurringdiminution_options_length > 0 %>
                    and
                  <% else %>
                    .
                  <% end %>
            <% end %>
            <% unless @case_sheet.chief_complaints.find_by(name: "blurring_diminution_of_vision").complaint_options.split(",").include?("pain") == false %>
                Pain<% blurringdiminution_options_length = blurringdiminution_options_length - 1 %>
                  <% if blurringdiminution_options_length > 1 %>
                    ,
                  <% elsif blurringdiminution_options_length > 0 %>
                    and
                  <% else %>
                    .
                  <% end %>
            <% end %>
            <% unless @case_sheet.chief_complaints.find_by(name: "blurring_diminution_of_vision").complaint_options.split(",").include?("usingglasses") == false %>
                Using Glasses<% blurringdiminution_options_length = blurringdiminution_options_length - 1 %>
                  <% if blurringdiminution_options_length > 1 %>
                    ,
                  <% elsif blurringdiminution_options_length > 0 %>
                    and
                  <% else %>
                    .
                  <% end %>
            <% end %>
          <% end %>

        </span>
      </div>
    <% end %>

    <% if @case_sheet.try(:chief_complaints).find_by(name: "redness").present? %>
      <div class="col-md-12">
        <span>Redness</span>
        <span>
          <% @complaints =  @case_sheet.chief_complaints.find_by(name: "redness") %>
          <% if @complaints.side.present? %>
            in
            <% if @complaints.side == "L" %>
              Left Eye
            <% elsif @complaints.side == "R" %>
              Right Eye
            <% else %>
              Both Eye
            <% end %>
          <% end %>
          <% if @complaints.duration.present? && @complaints.duration_unit.present? %>
            since <%= @complaints.duration %> <%= @complaints.duration_unit %>
          <% end %>
          <% if @complaints.comment.present? %>
            - <%= @complaints.comment %>
          <% end %>
        </span>
      </div>
    <% end %>

    <% if @case_sheet.try(:chief_complaints).find_by(name: "pain").present? %>
      <div class="col-md-12">
        <span>Pain</span>
        <span>
          <% @pain = @case_sheet.try(:chief_complaints).find_by(name: "pain") %>
          <% if @pain.side.present? %>
            in
              <% if @pain.side == "L" %>
              Left Eye
            <% elsif @pain.side == "R" %>
              Right Eye
            <% else %>
              Both Eye
            <% end %>
          <% end %>
          <% if @pain.duration.present? && @pain.duration_unit.present? %>
            since <%= @pain.duration %> <%= @pain.duration_unit %>
          <% end %>
          <% if @pain.comment.present? %>
            - <%= @pain.comment %>
          <% end %>
        </span>
      </div>
    <% end %>

    <% if @case_sheet.try(:chief_complaints).find_by(name: "injury").present? %>
      <div class="col-md-12">
        <span>Injury</span>
        <span>
          <% @injury =  @case_sheet.try(:chief_complaints).find_by(name: "injury") %>
          <% if @injury.side.present? %>
            in
            <% if @injury.side == "L" %>
              Left Eye
            <% elsif @injury.side == "R" %>
              Right Eye
            <% else %>
              Both Eye
            <% end %>
          <% end %>
          <% if @injury.duration.present? && @injury.duration_unit.present? %>
            since <%= @injury.duration %> <%= @injury.duration_unit %>
          <% end %>
          <% if @injury.comment.present? %>
            - <%= @injury.comment %>
          <% end %>
        </span>
      </div>
    <% end %>
    
    <% if @case_sheet.try(:chief_complaints).find_by(name: "watering").present? %>
      <div class="col-md-12">
        <span>Watering</span>
        <span>
          <% @watering = @case_sheet.try(:chief_complaints).find_by(name: "watering") %>
          <% if @watering.side.present? %>
            in
            <% if @watering.side == "L" %>
              Left Eye
            <% elsif @watering.side == "R" %>
              Right Eye
            <% else %>
              Both Eye
            <% end %>
          <% end %>
          <% if @watering.duration.present? && @watering.duration_unit.present? %>
            since <%= @watering.duration %> <%= @watering.duration_unit %>
          <% end %>
          <% if @watering.comment.present? %>
            - <%= @watering.comment %>
          <% end %>
        </span>
      </div>
    <% end %>

    <% if @case_sheet.try(:chief_complaints).find_by(name: "discharge").present? %>
      <div class="col-md-12">
        <span>Discharge</span>
        <span>
          <% @discharge = @case_sheet.try(:chief_complaints).find_by(name: "discharge") %>
          <% if @discharge.side.present? %>
            in
            <% if @discharge.side == "L" %>
              Left Eye
            <% elsif @discharge.side == "R" %>
              Right Eye
            <% else %>
              Both Eye
            <% end %>
          <% end %>
          <% if @discharge.duration.present? && @discharge.duration_unit.present? %>
            since <%= @discharge.duration %> <%= @discharge.duration_unit %>
          <% end %>
          <% if @discharge.comment.present? %>
            - <%= @discharge.comment %>
          <% end %>
        </span>
      </div>
    <% end %>

    <% if @case_sheet.try(:chief_complaints).find_by(name: "dryness").present? %>
      <div class="col-md-12">
        <span>Dryness</span>
        <span>
          <% @dryness = @case_sheet.try(:chief_complaints).find_by(name: "dryness") %>
          <% if @dryness.side.present? %>
            in
            <% if @dryness.side == "L" %>
              Left Eye
            <% elsif @dryness.side == "R" %>
              Right Eye
            <% else %>
              Both Eye
            <% end %>
          <% end %>
          <% if @dryness.duration.present? && @dryness.duration_unit.present? %>
            since <%= @dryness.duration %> <%= @dryness.duration_unit %>
          <% end %>
          <% if @dryness.comment.present? %>
            - <%= @dryness.comment %>
          <% end %>
        </span>
      </div>
    <% end %>

    <% if @case_sheet.try(:chief_complaints).find_by(name: "itiching").present? %>
      <div class="col-md-12">
        <span>Itiching</span>
        <span>
          <% @itiching = @case_sheet.try(:chief_complaints).find_by(name: "itiching") %>
          <% if @itiching.side.present? %>
            in
            <% if @itiching.side == "L" %>
              Left Eye
            <% elsif @itiching.side == "R" %>
              Right Eye
            <% else %>
              Both Eye
            <% end %>
          <% end %>
          <% if @itiching.duration.present? && @itiching.duration_unit.present? %>
            since <%= @itiching.duration %> <%= @itiching.duration_unit %>
          <% end %>
          <% if @itiching.comment.present? %>
            - <%= @itiching.comment %>
          <% end %>
        </span>
      </div>
    <% end %>

    <% if @case_sheet.try(:chief_complaints).find_by(name: "FBsensation").present? %>
      <div class="col-md-12">
        <span>FBsensation</span>
        <span>
          <% @FBsensation = @case_sheet.try(:chief_complaints).find_by(name: "FBsensation") %>
          <% if @FBsensation.side.present? %>
            in
            <% if @FBsensation.side == "L" %>
              Left Eye
            <% elsif @FBsensation.side == "R" %>
              Right Eye
            <% else %>
              Both Eye
            <% end %>
          <% end %>
          <% if @FBsensation.duration.present? && @FBsensation.duration_unit.present? %>
            since <%= @FBsensation.duration %> <%= @FBsensation.duration_unit %>
          <% end %>
          <% if @FBsensation.comment.present? %>
            - <%= @FBsensation.comment %>
          <% end %>
        </span>
      </div>
    <% end %>

    <% if @case_sheet.try(:chief_complaints).find_by(name: "deviation_squint").present? %>
      <div class="col-md-12">
        <span>Deviation/Squint</span>
        <span>
          <% @deviation_squint = @case_sheet.try(:chief_complaints).find_by(name: "deviation_squint") %>
          <% if @deviation_squint.side.present? %>
              in
              <% if @deviation_squint.side == "L" %>
                Left Eye
              <% elsif @deviation_squint.side == "R" %>
                Right Eye
              <% else %>
                Both Eye
              <% end %>
          <% end %>
          <% if @deviation_squint.duration.present? && @deviation_squint.duration_unit.present? %>
            since <%= @deviation_squint.duration %> <%= @deviation_squint.duration_unit %>
          <% end %>
          <% if @deviation_squint.comment.present? %>
            - <%= @deviation_squint.comment %>
          <% end %>

          <% if  @deviation_squint.complaint_options.present? %>
            -
            <% deviationsquint_options_length = @deviation_squint.complaint_options.split(",").length %>
            <% unless @deviation_squint.complaint_options.split(",").include?("diplopia") == false %>
                Diplopia<% deviationsquint_options_length = deviationsquint_options_length - 1 %>
                  <% if deviationsquint_options_length > 1 %>
                    ,
                  <% elsif deviationsquint_options_length > 0 %>
                    and
                  <% else %>
                    .
                  <% end %>
            <% end %>
            <% unless @deviation_squint.complaint_options.split(",").include?("trauma") == false %>
                Trauma<% deviationsquint_options_length = deviationsquint_options_length - 1 %>
                  <% if deviationsquint_options_length > 1 %>
                    ,
                  <% elsif deviationsquint_options_length > 0 %>
                    and
                  <% else %>.
                  <% end %>
            <% end %>
            <% unless @deviation_squint.complaint_options.split(",").include?("pastsurgery") == false %>
                Past Surgery<% deviationsquint_options_length = deviationsquint_options_length - 1 %>
                  <% if deviationsquint_options_length > 1 %>
                    ,
                  <% elsif deviationsquint_options_length > 0 %>
                    and
                  <% else %>
                    .
                  <% end %>
            <% end %>
          <% end %>
        </span>
      </div>
    <% end %>

    <% if @case_sheet.try(:chief_complaints).find_by(name: "headache_strain").present? %>
      <div class="col-md-12">
        <span>Headache/Strain</span>
        <span>
          <% @headache_strain = @case_sheet.try(:chief_complaints).find_by(name: "headache_strain") %>
          <% if @headache_strain.side.present? %>
            in
            <% if @headache_strain.side == "L" %>
              Left Eye
            <% elsif @headache_strain.side == "R" %>
              Right Eye
            <% else %>
              Both Eye
            <% end %>
          <% end %>
          <% if @headache_strain.duration.present? && @headache_strain.duration_unit.present? %>
            since <%= @headache_strain.duration %> <%= @headache_strain.duration_unit %>
          <% end %>
          <% if @headache_strain.comment.present? %>
            - <%= @headache_strain.comment %>
          <% end %>
        </span>
      </div>
    <% end %>

    <% if @case_sheet.try(:chief_complaints).find_by(name: "change_in_size_shape").present? %>
      <div class="col-md-12">
        <span>Change in Size/Shape</span>
        <span>
          <% @change_in_size_shape =  @case_sheet.try(:chief_complaints).find_by(name: "change_in_size_shape") %>
          <% if @change_in_size_shape.side.present? %>
            in
            <% if @change_in_size_shape.side == "L" %>
              Left Eye
            <% elsif @change_in_size_shape.side == "R" %>
              Right Eye
            <% else %>
              Both Eye
            <% end %>
          <% end %>
          <% if @change_in_size_shape.duration.present? && @change_in_size_shape.duration_unit.present? %>
            since <%= @change_in_size_shape.duration %> <%= @change_in_size_shape.duration_unit %>
          <% end %>
          <% if @change_in_size_shape.comment.present? %>
            - <%= @change_in_size_shape.comment %>
          <% end %>
        </span>
      </div>
    <% end %>

    <% if @case_sheet.try(:chief_complaints).find_by(name: "other_visual_symptoms").present? %>
      <div class="col-md-12">
        <span>Other Visual Symptoms</span>
        <span>
          <% @other_visual_symptoms =  @case_sheet.try(:chief_complaints).find_by(name: "other_visual_symptoms") %>
          <% if @other_visual_symptoms.side.present? %>
              in
              <% if @other_visual_symptoms.side == "L" %>
                Left Eye
              <% elsif @other_visual_symptoms.side == "R" %>
                Right Eye
              <% else %>
                Both Eye
              <% end %>
          <% end %>
          <% if @other_visual_symptoms.duration.present? && @other_visual_symptoms.duration_unit.present? %>
            since <%= @other_visual_symptoms.duration %> <%= @other_visual_symptoms.duration_unit %>
          <% end %>
          <% if @other_visual_symptoms.comment.present? %>
            - <%= @other_visual_symptoms.comment %>
          <% end %>

          <% if @other_visual_symptoms.complaint_options.present? %>
            -
            <% othervisualsymptoms_options_length = @other_visual_symptoms.complaint_options.split(",").length %>
            <%  @other_visual_symptoms.complaint_options.split(",").length %>
            <% unless  @other_visual_symptoms.complaint_options.split(",").include?("glare") == false %>
              Glare<% othervisualsymptoms_options_length = othervisualsymptoms_options_length - 1 %>
                <% if othervisualsymptoms_options_length > 1 %>
                  ,
                <% elsif othervisualsymptoms_options_length > 0 %>
                  and
                <% else %>
                  .
                <% end %>
            <% end %>
            <% unless  @other_visual_symptoms.complaint_options.split(",").include?("floaters") == false %>
              Floaters<% othervisualsymptoms_options_length = othervisualsymptoms_options_length - 1 %>
                <% if othervisualsymptoms_options_length > 1 %>
                  ,
                <% elsif othervisualsymptoms_options_length > 0 %>
                  and
                <% else %>.
                <% end %>
            <% end %>

            <% unless  @other_visual_symptoms.complaint_options.split(",").include?("photophobia") == false %>
              Photophobia<% othervisualsymptoms_options_length = othervisualsymptoms_options_length - 1 %>
                <% if othervisualsymptoms_options_length > 1 %>
                  ,
                <% elsif othervisualsymptoms_options_length > 0 %>
                  and
                <% else %>.
                <% end %>
            <% end %>
            <% unless  @other_visual_symptoms.complaint_options.split(",").include?("coloredhalos") == false %>
              Colored Halos<% othervisualsymptoms_options_length = othervisualsymptoms_options_length - 1 %>
                <% if othervisualsymptoms_options_length > 1 %>
                  ,
                <% elsif othervisualsymptoms_options_length > 0 %>
                  and
                <% else %>.
                <% end %>
            <% end %>
            <% unless  @other_visual_symptoms.complaint_options.split(",").include?("metamorphopsia") == false %>
              Metamorphopsia<% othervisualsymptoms_options_length = othervisualsymptoms_options_length - 1 %>
                <% if othervisualsymptoms_options_length > 1 %>
                  ,
                <% elsif othervisualsymptoms_options_length > 0 %>
                  and
                <% else %>.
                <% end %>
            <% end %>
            <% unless  @other_visual_symptoms.complaint_options.split(",").include?("chromatopsia") == false %>
              Chromatopsia<% othervisualsymptoms_options_length = othervisualsymptoms_options_length - 1 %>
                <% if othervisualsymptoms_options_length > 1 %>
                  ,
                <% elsif othervisualsymptoms_options_length > 0 %>
                  and
                <% else %>.
                <% end %>
            <% end %>
            <% unless  @other_visual_symptoms.complaint_options.split(",").include?("diminishednightvision") == false %>
              Diminished Night Vision<% othervisualsymptoms_options_length = othervisualsymptoms_options_length - 1 %>
                <% if othervisualsymptoms_options_length > 1 %>
                  ,
                <% elsif othervisualsymptoms_options_length > 0 %>
                  and
                <% else %>.
                <% end %>
            <% end %>

            <% unless  @other_visual_symptoms.complaint_options.split(",").include?("diminisheddayvision") == false %>
              Diminished Day Vision<% othervisualsymptoms_options_length = othervisualsymptoms_options_length - 1 %>
                <% if othervisualsymptoms_options_length > 1 %>
                  ,
                <% elsif othervisualsymptoms_options_length > 0 %>
                  and
                <% else %>
                  .
                <% end %>
            <% end %>
          <% end %>
        </span>
      </div>
    <% end %>

    <% if @case_sheet.try(:chief_complaints).find_by(name: "shadow_defect_in_vision").present? %>
      <div class="col-md-12">
        <span>Shadow/Defect in vision</span>
        <span>
          <%  @shadow_defect_in_vision = @case_sheet.try(:chief_complaints).find_by(name: "shadow_defect_in_vision") %>
          <% if @shadow_defect_in_vision.side.present? %>
            in
            <% if @shadow_defect_in_vision.side == "L" %>
              Left Eye
            <% elsif @shadow_defect_in_vision.side == "R" %>
              Right Eye
            <% else %>
              Both Eye
            <% end %>
          <% end %>
          <% if @shadow_defect_in_vision.duration.present? && @shadow_defect_in_vision.duration_unit.present? %>
            since <%= @shadow_defect_in_vision.duration %> <%= @shadow_defect_in_vision.duration_unit %>
          <% end %>
          <% if @shadow_defect_in_vision.comment.present? %>
            - <%= @shadow_defect_in_vision.comment %>
          <% end %>
        </span>
      </div>
    <% end %>

    <% if @case_sheet.try(:chief_complaints).find_by(name: "discoloration_of_eye").present? %>
      <div class="col-md-12">
        <span>Discoloration </span>
        <span>
          <% @discoloration_of_eye = @case_sheet.try(:chief_complaints).find_by(name: "discoloration_of_eye") %>
          <% if @discoloration_of_eye.side.present? %>
            in
            <% if @discoloration_of_eye.side == "L" %>
              Left Eye
            <% elsif @discoloration_of_eye.side == "R" %>
              Right Eye
            <% else %>
              Both Eye
            <% end %>
          <% end %>
          <% if @discoloration_of_eye.duration.present? && @discoloration_of_eye.duration_unit.present? %>
            since <%= @discoloration_of_eye.duration %> <%= @discoloration_of_eye.duration_unit %>
          <% end %>
          <% if @discoloration_of_eye.comment.present? %>
            - <%= @discoloration_of_eye.comment %>
          <% end %>
        </span>
      </div>
    <% end %>

    <% if @case_sheet.try(:chief_complaints).find_by(name: "swelling").present? %>
      <div class="col-md-12">
        <span>Burning Sensation </span>
        <span>
          <% @swelling = @case_sheet.try(:chief_complaints).find_by(name: "swelling") %>
          <% if @swelling.side.present? %>
            in
            <% if @swelling.side == "L" %>
              Left Eye
            <% elsif @swelling.side == "R" %>
              Right Eye
            <% else %>
              Both Eye
            <% end %>
          <% end %>
          <% if @swelling.duration.present? && @swelling.duration_unit.present? %>
            since <%= @swelling.duration %> <%= @swelling.duration_unit %>
          <% end %>
          <% if @swelling.comment.present? %>
            - <%= @swelling.comment %>
          <% end %>
        </span>
      </div>
    <% end %>

    <% if @case_sheet.try(:chief_complaints).find_by(name: "sensation_burning").present? %>
      <div class="col-md-12">
        <span>Swelling </span>
        <span>
          <% @sensation_burning = @case_sheet.try(:chief_complaints).find_by(name: "sensation_burning") %>
          <% if @sensation_burning.side.present? %>
            in
            <% if @sensation_burning.side == "L" %>
              Left Eye
            <% elsif @sensation_burning.side == "R" %>
              Right Eye
            <% else %>
              Both Eye
            <% end %>
          <% end %>
          <% if @sensation_burning.duration.present? && @sensation_burning.duration_unit.present? %>
            since <%= @sensation_burning.duration %> <%= @sensation_burning.duration_unit %>
          <% end %>
          <% if @sensation_burning.comment.present? %>
            - <%= @sensation_burning.comment %>
          <% end %>
        </span>
      </div>
    <% end %>
  <% end %>
</div>