<div class="row">
  <div class="col-md-12">
    <strong>Radiology</strong>
  </div>
</div>
<% if @case_sheet.present? && @radiology_investigations.count > 0 %>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th style="width: 20%;">Name</th>
            <th class="text-center">Advised</th>
            <th class="text-center">Counselled</th>
            <th class="text-center">Agreed</th>
            <th class="text-center">Payment Taken</th>
            <th class="text-center">Declined</th>
            <th class="text-center">Performed</th>
          </tr>
        </thead>
        <tbody>
          <% @radiology_investigations.each do |radiology_investigation| %>
            <tr style="font-size: 12px;">
              <td>
                <b style="color: #333;"><%= radiology_investigation.investigationname.to_s + ', ' + radiology_investigation.get_label_for_radiology_option(radiology_investigation.radiologyoptions) %></b>
              </td>
              <td class="text-center">
                <% if radiology_investigation.is_advised %>
                  <%= radiology_investigation.advised_by %><br/><%= radiology_investigation.advised_datetime.try(:strftime, '%d/%m/%Y') %>
                <% else %>
                  -
                <% end %>
              </td>
              <td class="text-center">
                <% if radiology_investigation.is_counselled %>
                  <%= radiology_investigation.counselled_by %><br/><%= radiology_investigation.counselled_datetime.try(:strftime, '%d/%m/%Y') %>
                <% else %>
                  -
                <% end %>
              </td>
              <td class="text-center">
                <% if radiology_investigation.has_agreed %>
                  <%= radiology_investigation.agreed_by %><br/><%= radiology_investigation.agreed_datetime.try(:strftime, '%d/%m/%Y') %>
                <% else %>
                  -
                <% end %>
              </td>
              <td class="text-center">
                <% if radiology_investigation.payment_taken %>
                  <%= radiology_investigation.payment_taken_by %><br/><%= radiology_investigation.payment_taken_datetime.try(:strftime, '%d/%m/%Y') %>
                <% else %>
                  -
                <% end %>
              </td>
              <td class="text-center">
                <% if radiology_investigation.has_declined %>
                  <%= radiology_investigation.declined_by %><br/><%= radiology_investigation.declined_datetime.try(:strftime, '%d/%m/%Y') %>
                <% else %>
                  -
                <% end %>
              </td>
              <td class="text-center">
                <% if radiology_investigation.is_performed %>
                  <%= radiology_investigation.performed_by %><br/><%= radiology_investigation.performed_datetime.try(:strftime, '%d/%m/%Y') %>
                <% else %>
                  -
                <% end %>
              </td>
            </tr>
            <% if radiology_investigation.template_created %>
              <tr class="performed-readings">
                <td></td>
                <td colspan="6" style="padding:5px;">
                  <table class="table table-bordered" style="margin:0px;">
                    <thead>
                      <tr>
                        <th style="padding:0px;text-align:center;font-size:12px;">Findings</th>
                        <th style="padding:0px;text-align:center;font-size:12px;">Normal Range</th>
                        <th style="padding:0px;text-align:center;font-size:12px;">Remark</th>
                        <th style="padding:0px;text-align:center;font-size:12px;">Doctor's Remark</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="padding:0px;text-align:center;font-size:12px;"><%= radiology_investigation.investigation_val %></td>
                        <td style="padding:0px;text-align:center;font-size:12px;"><%= radiology_investigation.normal_range %></td>
                        <td style="padding:0px;text-align:center;font-size:12px;"><%= radiology_investigation.investigation_comment %></td>
                        <td style="padding:0px;text-align:center;font-size:12px;"><%= radiology_investigation.doctors_remark %></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            <% elsif radiology_investigation.performed_comment.present? %>
              <tr class="performed-readings">
                <td></td>
                <td colspan="6" style="padding:5px;">
                  <table class="table table-bordered" style="margin:0px;">
                    <thead>
                      <tr>
                        <th style="padding:0px;text-align:center;font-size:12px;">Findings</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="padding:0px;text-align:center;font-size:12px;"><%= radiology_investigation.performed_comment %></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-12">
      <span>No Radiology Investigation</span>
    </div>
  </div>
<% end %>