<div class="row">
  <div class="col-md-12">
    <strong>Laboratory</strong>
  </div>
</div>
<% if @case_sheet.present? && @laboratory_investigations.count > 0 %>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th style="width: 20%;">Name</th>
            <th class="text-center">Advised</th>
            <th class="text-center">Counselled</th>
            <th class="text-center">Agreed</th>
            <th class="text-center">Payment Taken</th>
            <th class="text-center">Declined</th>
            <th class="text-center">Performed</th>
          </tr>
        </thead>
        <tbody>
          <% @laboratory_investigations.each do |laboratory_investigation| %>
            <tr style="font-size: 12px;">
              <td>
                <b style="color: #333;"><%= laboratory_investigation.investigationname.to_s %></b>
              </td>
              <td class="text-center">
                <% if laboratory_investigation.is_advised %>
                  <%= laboratory_investigation.advised_by %><br/><%= laboratory_investigation.advised_datetime.try(:strftime, '%d/%m/%Y') %>
                <% else %>
                  -
                <% end %>
              </td>
              <td class="text-center">
                <% if laboratory_investigation.is_counselled %>
                  <%= laboratory_investigation.counselled_by %><br/><%= laboratory_investigation.counselled_datetime.try(:strftime, '%d/%m/%Y') %>
                <% else %>
                  -
                <% end %>
              </td>
              <td class="text-center">
                <% if laboratory_investigation.has_agreed %>
                  <%= laboratory_investigation.agreed_by %><br/><%= laboratory_investigation.agreed_datetime.try(:strftime, '%d/%m/%Y') %>
                <% else %>
                  -
                <% end %>
              </td>
              <td class="text-center">
                <% if laboratory_investigation.payment_taken %>
                  <%= laboratory_investigation.payment_taken_by %><br/><%= laboratory_investigation.payment_taken_datetime.try(:strftime, '%d/%m/%Y') %>
                <% else %>
                  -
                <% end %>
              </td>
              <td class="text-center">
                <% if laboratory_investigation.has_declined %>
                  <%= laboratory_investigation.declined_by %><br/><%= laboratory_investigation.declined_datetime.try(:strftime, '%d/%m/%Y') %>
                <% else %>
                  -
                <% end %>
              </td>
              <td class="text-center">
                <% if laboratory_investigation.is_performed %>
                  <%= laboratory_investigation.performed_by %><br/><%= laboratory_investigation.performed_datetime.try(:strftime, '%d/%m/%Y') %>
                <% else %>
                  -
                <% end %>
              </td>
            </tr>
            <% if laboratory_investigation.template_created %>
              <tr class="performed-readings">
                <td></td>
                <td colspan="6" style="padding:5px;">
                  <table class="table table-bordered" style="margin:0px;">
                    <thead>
                      <tr>
                        <th style="padding:0px;text-align:center;font-size:12px;">Findings</th>
                        <th style="padding:0px;text-align:center;font-size:12px;">Normal Range</th>
                        <th style="padding:0px;text-align:center;font-size:12px;">Remark</th>
                        <th style="padding:0px;text-align:center;font-size:12px;">Doctor's Remark</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <% if laboratory_investigation.laboratory_panel_records.count > 0 %>
                          <td colspan="2" style="padding:0px;text-align:center;">Panel Below</td>
                        <% else %>
                          <td style="padding:0px;text-align:center;font-size:12px;"><%= laboratory_investigation.investigation_val %></td>
                          <td style="padding:0px;text-align:center;font-size:12px;"><%= laboratory_investigation.normal_range %></td>
                        <% end %>
                        <td style="padding:0px;text-align:center;font-size:12px;"><%= laboratory_investigation.investigation_comment %></td>
                        <td style="padding:0px;text-align:center;font-size:12px;"><%= laboratory_investigation.doctors_remark %></td>
                      </tr>
                      <% if laboratory_investigation.laboratory_panel_records.count > 0 %>
                        <tr style="background-color:#bbb;">
                          <td colspan="6" style="padding:5px 10px 2px;">
                            <table class="table" style="margin: 0 0 5px;" >
                              <thead>
                                <tr style="font-size:12px;">
                                  <th style="padding:0px;text-align:center;">Name</th>
                                  <th style="padding:0px;text-align:center;">Value</th>
                                  <th style="padding:0px;text-align:center;">N.Range</th>
                                </tr>
                              </thead>
                              <tbody>
                                <% laboratory_investigation.laboratory_panel_records.each_with_index do |panel_record, j| %>
                                  <tr style="font-size:12px;">
                                    <td style="padding:0px;text-align:center;"><%= panel_record.investigation_name %> </td>
                                    <td style="padding:0px;text-align:center;"><%= panel_record.investigation_val %></td>
                                    <td style="padding:0px;text-align:center;"><%= panel_record.normal_range %></td>
                                  </tr>
                                <% end %>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </td>
              </tr>
            <% elsif laboratory_investigation.performed_comment.present? %>
              <tr class="performed-readings">
                <td></td>
                <td colspan="6" style="padding:5px;">
                  <table class="table table-bordered" style="margin:0px;">
                    <thead>
                      <tr>
                        <th style="padding:0px;text-align:center;font-size:12px;">Findings</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="padding:0px;text-align:center;font-size:12px;"><%= laboratory_investigation.performed_comment %></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-12">
      <span>No Laboratory Investigation</span>
    </div>
  </div>
<% end %>