<% if @case_sheet.present? %>
  <% if @case_sheet.diagnoses.count > 0 %>
    <div class="row">
      <div class="col-md-12" style="text-decoration: underline;"><b>DIAGNOSIS</b></div>
      <% @case_sheet.diagnoses.each_with_index do |diagnosis, i| %>
        <div class="col-md-12">
          <% if diagnosis.icd_type == 'TranslatedIcdDiagnosis' %>
            <span><b style="color: #333;"><%= diagnosis.diagnosisname.to_s %> - <%= diagnosis.icddiagnosiscode.to_s.upcase.insert(3, '.') %></b> - <%= diagnosis.consultant_name %></span>
          <% else %>
            <span><b style="color: #333;"><%= diagnosis.diagnosisoriginalname.to_s %> - <%= diagnosis.icddiagnosiscode.to_s.upcase.insert(3, '.') %></b> - <%= diagnosis.consultant_name %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if @case_sheet.free_form_diagnoses.count > 0 %>
    <div class="row">
      <div class="col-md-12" style="text-decoration: underline;"><b>DIAGNOSIS</b></div>
      <% @case_sheet.free_form_diagnoses.each do |key, diagnosis| %>
        <div class="col-md-12">
          <span><b style="color: #333;"><%= diagnosis[:content].to_s.html_safe() %></b></span>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if @case_sheet.diagnoses.count == 0 && @case_sheet.free_form_diagnoses.count == 0 %>
    <div class="row">
      <div class="col-md-12" style="text-decoration: underline;"><b>DIAGNOSIS</b></div>
      <div class="col-md-12">
        <span>No Diagnoses</span>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="row">
    <div class="col-md-12" style="text-decoration: underline;"><b>DIAGNOSIS</b></div>
    <div class="col-md-12">
      <span>No Diagnoses</span>
    </div>
  </div>
<% end %>