<% if @case_sheet.present? %>
  <% if @procedures.count > 0 %>
    <div class="row">
      <div class="col-md-12" style="text-decoration: underline;"><b>PROCEDURES</b></div>
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th style="width: 20%;">Name</th>
              <th class="text-center">Advised</th>
              <th class="text-center">Counselled</th>
              <th class="text-center">Agreed</th>
              <th class="text-center">Payment Taken</th>
              <th class="text-center">Declined</th>
              <th class="text-center">Performed</th>
            </tr>
          </thead>
          <tbody>
            <% @procedures.each do |procedure| %>
              <tr style="font-size: 12px;">
                <td>
                  <b style="color: #333;"><%= procedure.procedurename.to_s + ', ' + procedure.get_label_for_procedure_side(procedure.procedureside) %></b>
                </td>
                <td class="text-center">
                  <% if procedure.is_advised %>
                    <%= procedure.advised_by %><br/><%= procedure.advised_datetime.try(:strftime, '%d/%m/%Y') %>
                  <% else %>
                    -
                  <% end %>
                </td>
                <td class="text-center">
                  <% if procedure.is_counselled %>
                    <%= procedure.counselled_by %><br/><%= procedure.counselled_datetime.try(:strftime, '%d/%m/%Y') %>
                  <% else %>
                    -
                  <% end %>
                </td>
                <td class="text-center">
                  <% if procedure.has_agreed %>
                    <%= procedure.agreed_by %><br/><%= procedure.agreed_datetime.try(:strftime, '%d/%m/%Y') %>
                  <% else %>
                    -
                  <% end %>
                </td>
                <td class="text-center">
                  <% if procedure.payment_taken %>
                    <%= procedure.payment_taken_by %><br/><%= procedure.payment_taken_datetime.try(:strftime, '%d/%m/%Y') %>
                  <% else %>
                    -
                  <% end %>
                </td>
                <td class="text-center">
                  <% if procedure.has_declined %>
                    <%= procedure.declined_by %><br/><%= procedure.declined_datetime.try(:strftime, '%d/%m/%Y') %>
                  <% else %>
                    -
                  <% end %>
                </td>
                <td class="text-center">
                  <% if procedure.is_performed %>
                    <%= procedure.performed_by %><br/><%= procedure.performed_datetime.try(:strftime, '%d/%m/%Y') %>
                  <% else %>
                    -
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
  <% if @free_form_procedures.count > 0 %>    
    <div class="row">
      <div class="col-md-12" style="text-decoration: underline;"><b>PROCEDURES</b></div>
      <% @free_form_procedures.each do |key, procedure| %>
        <div class="col-md-12">
          <span><b style="color: #333;"><%= procedure[:content].to_s.html_safe() %></b></span>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if @procedures.count == 0 && @free_form_procedures.count == 0 %>
    <div class="row no-procedure">
      <div class="col-md-12" style="text-decoration: underline;"><b>PROCEDURES</b></div>
      <div class="col-md-12">
        <span>No Procedures</span>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="row">
    <div class="col-md-12" style="text-decoration: underline;"><b>PROCEDURES</b></div>
    <div class="col-md-12">
      <span>No Procedure</span>
    </div>
  </div>
<% end %>