<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-discharge-note">
  <!-- Modal content-->
  <div class="modal-content">
    <%= simple_form_for @ipdrecord, url: @url,method: @method,action: 'update', format: :js, remote: true, multipart: true, html: { class: "operative-note-form", id: "operative-note-form" } do |f| %>
      <%= f.hidden_field :admission_id,value: @admission.try(:id).to_s %>
      <div class="modal-header">
        <div class="pull-left">
          <b style="color:#c9302c;">Note Date: </b>
          <input type="text" name="inpatient_ipd_record[operative_notes_attributes][0][note_date]" style="border:none;border-bottom:1px solid;background:#fff;color:#c9302c;cursor:pointer" class="note-created-date" readonly="readonly" value="<%= @operative_note.note_created_at.strftime('%d/%m/%Y') %>">
          <input type="hidden" name="inpatient_ipd_record[operative_notes_attributes][0][note_time]" class="note-created-time" value='<%= Time.current.strftime("%I:%M %p") %>'>
        </div>
        <div class="pull-right">
          <% if params[:action] == "new" %>
            <%= f.submit "Save", class: "btn btn-success btn-sm", 'data-disable-with' => "Please wait..", :onclick => 'ipd_ot_validate()' %>
          <% else %>
            <%= f.submit "Update", class: "btn btn-success btn-sm", 'data-disable-with' => "Please wait..", :onclick => 'ipd_ot_validate()' %>
          <% end %>
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        </div>
        <h4 class="modal-title" style="margin-top:2px;color:#000;margin-left: 10%;">Operative Form</h4>
      </div>
      <div class="modal-body operative_note" style="letter-spacing: 1px;">
        <!-- Common Fields -->
        <!-- Common Fields -->
        <!-- Patient Info -->
        <div class="row text-center">          
          <div class="col-md-3">
            <b style="color:#000;">Name:</b> <%= @patient.fullname %>
          </div>
          <div class="col-md-3">
            <b style="color:#000;">Age/Sex:</b> <%if @patient.calculate_age.present? || @patient.gender.present?%><%= @patient.calculate_age %>/<%= @patient.gender %><% else %> --<% end %>
          </div>
          <div class="col-md-4">
            <b style="color:#000;">Patient ID <% if @patient_mrn.to_s != "" %>/ MR No. <% end %> :</b> <%= @patient_identifier_id %><% if @patient_mrn.to_s != "" %> / <%= @patient_mrn %><% end %>
          </div>
          <div class="col-md-2">
            <b style="color:#000;">Adm Date:</b> <%= @admission.try(:admissiondate).try(:strftime, "%d %b %Y")%>
          </div>
        </div>
        <hr style="margin:10px;">
        <!-- Patient Info -->
        <div class="row">
          <div class="col-md-12">
            <%= render partial: 'inpatient/ipd_record/operative_note/' + @speciality_folder_name + '_notes/form_body', locals: {f: f, patient: @patient, admission: @admission, department: @department} %>
          </div>
          <!-- <div class="col-md-2">

          </div> -->
        </div>
      </div>
    <% end %>

  </div>

</div>

<style type="text/css">
  .procedure_note_name{
    overflow: hidden;
    width: 116px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
  }
</style>
<script type="text/javascript">
  $('[data-toggle="tooltip"]').tooltip();
</script>
<style>
.operative_note .btn{
  letter-spacing: 1px;
}
</style>
