<% if @facility == "all" %>
  <% if current_user.has_role?(:doctor) %>
    <% @ot_list_count = OtSchedule.where(:surgeonname => current_user.id, :otdate.gte => @current_date, :otdate.lt => @current_date + 1, is_deleted: false).count %>
    <% @ot_list_provisional_count = OtSchedule.where(:surgeonname => current_user.id, :otdate.gte => @current_date, :otdate.lt => @current_date + 1, admission_id: nil, is_deleted: false).count %>
    <% @ot_list_scheduled_count = OtSchedule.where(:surgeonname => current_user.id, :otdate.gte => @current_date, :otdate.lt => @current_date + 1, operation_done: false, is_deleted: false).not.where(admission_id: nil).count %>
    <% @ot_list__done_count = OtSchedule.where(:surgeonname => current_user.id, :otdate.gte => @current_date, :otdate.lt => @current_date + 1, operation_done: true, is_deleted: false).count %>
  <% else %>
    <% if @user.nil? %>
      <% @ot_list_count = OtSchedule.where(:facility_id.in => current_user.facility_ids, :otdate.gte => @current_date, :otdate.lt => @current_date + 1, is_deleted: false).count %>
      <% @ot_list_provisional_count = OtSchedule.where(:facility_id.in => current_user.facility_ids, :otdate.gte => @current_date, :otdate.lt => @current_date + 1, admission_id: nil, is_deleted: false).count %>
      <% @ot_list_scheduled_count = OtSchedule.where(:facility_id.in => current_user.facility_ids, :otdate.gte => @current_date, :otdate.lt => @current_date + 1, operation_done: false, is_deleted: false).not.where(admission_id: nil).count %>
      <% @ot_list__done_count = OtSchedule.where(:facility_id.in => current_user.facility_ids, :otdate.gte => @current_date, :otdate.lt => @current_date + 1, operation_done: true, is_deleted: false).count %>
    <% else %>
      <% @ot_list_count = OtSchedule.where(:otdate.gte => @current_date, :otdate.lt => @current_date + 1, :surgeonname => @user.id.to_s, is_deleted: false).count %>
      <% @ot_list_provisional_count = OtSchedule.where(:otdate.gte => @current_date, :otdate.lt => @current_date + 1, :surgeonname => @user.id.to_s, admission_id: nil, is_deleted: false).count %>
      <% @ot_list_scheduled_count = OtSchedule.where(:otdate.gte => @current_date, :otdate.lt => @current_date + 1, :surgeonname => @user.id.to_s, operation_done: false, is_deleted: false).not.where(admission_id: nil).count %>
      <% @ot_list__done_count = OtSchedule.where(:otdate.gte => @current_date, :otdate.lt => @current_date + 1, :surgeonname => @user.id.to_s, operation_done: true, is_deleted: false).count %>
    <% end %>
  <% end %>
<%else%>
  <% if current_user.has_role?(:doctor) %>
    <% @ot_list_count = OtSchedule.where(:facility_id => @facility.id.to_s ,:surgeonname => current_user.id, :otdate.gte => @current_date, :otdate.lt => @current_date + 1, is_deleted: false).count %>
    <% @ot_list_provisional_count = OtSchedule.where(:facility_id => @facility.id.to_s ,:surgeonname => current_user.id, :otdate.gte => @current_date, :otdate.lt => @current_date + 1, admission_id: nil, is_deleted: false).count %>
    <% @ot_list_scheduled_count = OtSchedule.where(:facility_id => @facility.id.to_s ,:surgeonname => current_user.id, :otdate.gte => @current_date, :otdate.lt => @current_date + 1, operation_done: false, is_deleted: false).not.where(admission_id: nil).count %>
    <% @ot_list__done_count = OtSchedule.where(:facility_id => @facility.id.to_s ,:surgeonname => current_user.id, :otdate.gte => @current_date, :otdate.lt => @current_date + 1, operation_done: true, is_deleted: false).count %>
  <% else %>
    <% if @user.nil? %>
      <% @ot_list_count = OtSchedule.where(:facility_id => @facility.id.to_s, :otdate.gte => @current_date, :otdate.lt => @current_date + 1, is_deleted: false).count %>
      <% @ot_list_provisional_count = OtSchedule.where(:facility_id => @facility.id.to_s, :otdate.gte => @current_date, :otdate.lt => @current_date + 1, admission_id: nil, is_deleted: false).count %>
      <% @ot_list_scheduled_count = OtSchedule.where(:facility_id => @facility.id.to_s, :otdate.gte => @current_date, :otdate.lt => @current_date + 1, operation_done: false, is_deleted: false).not.where(admission_id: nil).count %>
      <% @ot_list__done_count = OtSchedule.where(:facility_id => @facility.id.to_s, :otdate.gte => @current_date, :otdate.lt => @current_date + 1, operation_done: true, is_deleted: false).count %>
    <% else %>
      <% @ot_list_count = OtSchedule.where(:facility_id => @facility.id.to_s, :otdate.gte => @current_date, :otdate.lt => @current_date + 1, :surgeonname => @user.id.to_s, is_deleted: false).count %>
      <% @ot_list_provisional_count = OtSchedule.where(:facility_id => @facility.id.to_s, :otdate.gte => @current_date, :otdate.lt => @current_date + 1, :surgeonname => @user.id.to_s, admission_id: nil, is_deleted: false).count %>
      <% @ot_list_scheduled_count = OtSchedule.where(:facility_id => @facility.id.to_s, :otdate.gte => @current_date, :otdate.lt => @current_date + 1, :surgeonname => @user.id.to_s, operation_done: false, is_deleted: false).not.where(admission_id: nil).count %>
      <% @ot_list__done_count = OtSchedule.where(:facility_id => @facility.id.to_s, :otdate.gte => @current_date, :otdate.lt => @current_date + 1, :surgeonname => @user.id.to_s, operation_done: true, is_deleted: false).count %>
    <% end %>
  <% end %>
<%end%>

<div class="panel panel-default" style="padding:0px;">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12" style="display:inline;">
      <h5 class="subtitle mb5">Ot List Today (Total: <%= @ot_list_count %>)</h5>
      </div>
      <div class="col-sm-4">
        <b>Provisional:</b> <%= @ot_list_provisional_count %>
      </div>
      <div class="col-sm-4">
        <b>Scheduled:</b> <%= @ot_list_scheduled_count %>
      </div>
      <div class="col-sm-4">
        <b>Completed:</b> <%= @ot_list__done_count %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive" id="ot_list_dashboard_today">
          <%= render partial: "main/dashboard_content/ot_list_dashboard/ot_list" %>
        </div><!-- table-responsive -->
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .fac-dd {
    margin-top: -10px;
  }
  #facilitylistot, #userlistot {
    width:37%;
    display: inline-block;
  }
</style>