<% request_logs.each do |request_log| %>
        <li id='log-request' class="btn btn-link log-request" data-requestid='<%= request_log.id %>'>
          <div class='row' style="margin-left: auto">
            <div class='col-lg-7 row' style="overflow: hidden;white-space: nowrap; text-overflow: ellipsis;">
              <%=request_log.try(:patient_name).to_s.capitalize %>
              <% @invoice = Invoice::Inventories::Department::PharmacyInvoice.find_by(prescription_id: request_log.id.to_s) %>
              <% if @invoice.present? %>
                  <!--<i class="fa fa-check" style="color: yellow"></i>-->
                  <div class="invoice_true" style="display: none">
                    <%= @invoice.id %>
                  </div>
              <% end %>

            </div>
            <div class="col-lg-2 row" style="margin-right: auto;">
              (<%= request_log.medications.size %>)
            </div>
            <div class='col-lg-3'>
              <%= request_log.created_at.strftime('%d %b') %>
            </div>
          </div>
        </li>
<% end %>