<!--<%# current_inventory = current_inventory %>-->
<div class="sidebar-main col-lg-2 col-md-2">
<div class="">
  <div class="title">
    <h4 class="sidebar-heading">Filters</h4>
    <hr />
  </div>
  <div class="inventory-filters">
    <ul class="<%= current_inventory %>">
      <li id="filter-outstocked" class="li-sidebar-filter">
        <div class="row">
          <div class="col-lg-8 col-md-8">
            Out of Stock  (<%= @out_stock_count %>)
          </div>
          <div class="col-lg-4 col-md-4 text-right">
            <button class="btn btn-link filter_type" filter="out_stock" style="padding: 0">
              <i class="fa fa-toggle-off"></i>
            </button>
          </div>
        </div>
      </li>
      <hr />
      <li id="filter-none" class="li-sidebar-filter">
        <div class="row">
          <div class="col-lg-8 col-md-8">
            All (<%= @allCount %>)
          </div>
          <div class="col-lg-4 col-md-4 text-right">
            <button class="btn btn-link filter_type" filter="all_item" style="padding: 0">
              <i class="fa fa-toggle-on"></i>
            </button>
          </div>
        </div>
      </li>
      
      <hr />

      <li id="filter-optical-contact" class="li-sidebar-filter">
        <div class="row">
          <div class="col-lg-8 col-md-8">
            Contact Lens
          </div>
          <div class="col-lg-4 col-md-4 text-right">
            <button class="btn btn-link filter_type" filter="contact" style="padding: 0">
              <i class="fa fa-toggle-off"></i>
            </button>
          </div>
        </div>     
      </li>

      <li id="filter-optical-frame" class="li-sidebar-filter">
        <div class="row">
          <div class="col-lg-8 col-md-8">
            Frame
          </div>
          <div class="col-lg-4 col-md-4 text-right">
            <button class="btn btn-link filter_type" filter="frame" style="padding: 0">
              <i class="fa fa-toggle-off"></i>
            </button>
          </div>
        </div>     
      </li>
      <li id="filter-optical-other" class="li-sidebar-filter">
        <div class="row">
          <div class="col-lg-8 col-md-8">
            Optical (Others)
          </div>
          <div class="col-lg-4 col-md-4 text-right">
            <button class="btn btn-link filter_type" filter="other" style="padding: 0">
              <i class="fa fa-toggle-off"></i>
            </button>
          </div>
        </div>     
      </li>
      <li id="filter-miscellaneous" class="li-sidebar-filter">
        <div class="row">
          <div class="col-lg-8 col-md-8">
            Miscellaneous
          </div>
          <div class="col-lg-4 col-md-4 text-right">
            <button class="btn btn-link filter_type" filter="miscellaneous" style="padding: 0">
              <i class="fa fa-toggle-off"></i>
            </button>
          </div>
        </div>     
      </li>
      <li id="filter-implants" class="li-sidebar-filter">
        <div class="row">
          <div class="col-lg-8 col-md-8">
            Implants
          </div>
          <div class="col-lg-4 col-md-4 text-right">
            <button class="btn btn-link filter_type" filter="implant" style="padding: 0">
            <i class="fa fa-toggle-off"></i>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="btn-group col-md-12" role="group" id="btn_free_invoice">
    <button type="button" class="btn btn-xs btn-primary">Free Receipt</button>
    <button type="button" class="btn btn-xs btn-primary" id="free_invoice_item_count" style="display: none;"><%=@inventory_item_cart_count%></button>
  </div>
  
</div>
<div style="">
  <div class="title">
    <h4 class="sidebar-heading" style="display: inline;">Orders/Requests</h4>
    <!-- <span id="btnFreeInvoice" class="pull-right mr10" style="cursor: pointer"><i class="fa fa-newspaper-o"></i></span> -->
    <span id="btn-fetch-requests" class="pull-right mr10" style="cursor: pointer"><i class="fa fa-refresh"></i></span>
    <hr />
    <input type="text" id="search_optical_orders" style="border-radius: 0 18px 18px 0;width: 100%;font-size: 12px;padding-left: 5%" placeholder="Type to search..." />
    <hr />
  </div>
  <div class="">

  <ul id="items_request" style="overflow-y: scroll; height: 160px;">
    <%= render partial: "inventory/refresh_optical_request_log", locals: {request_logs: @request_logs} %>
  </ul>
    
  </div>

  <div>
    <hr />
    <button type="button" class="btn btn-xs btn-danger hg-tooltip" tabindex="-1" style="padding:2px 1px; margin-bottom: 5%;" title="Remove Old Requests" id="delete_old_item"><i class="fa fa-trash-alt" style="margin: 0px 6px"></i>Remove Old Requests&nbsp</button>
  </div>
</div>
<script type="text/javascript">
  $("#search_optical_orders").on("keyup", function () {
    query = $(this).val()
//  if (query.length > 2) {
    $.ajax({
      type : 'get',
      url: '/inventory/search_optical_request_log',
      data: {q: query, remote: "true" },
    })
//  }
  })

  $("#btn-fetch-requests").on('click',function(){
    $(this).find("i").addClass("fa-spin")
    $("#search_optical_orders").val("")
    $.ajax({
      url: '/inventory/refresh_optical_request_log',
      type: 'get',
      data: {
        department: '50121007'
      },
      success: function(){
        $("#btn-fetch-requests").find("i").removeClass("fa-spin")
      }
    });
  });

  $("#delete_old_item").on('click',function(){
    $.ajax({
      url: '/invoice/inventories/department/pharmacy/delete_old_request',
      dataType: 'json',
      type: 'get',
      data: {
        department: '50121007'
      },
      success: function(res) {
        return $('#btn-fetch-requests').trigger('click');
      }
    });
  })

  $('#btn_free_invoice').on('click',function(){
    $.ajax({
      type: "GET",
      data: {
        department_id:  '50121007'
      },
//      url: "/invoice/inventories/department/optical_invoices/new",
      url: "/invoice/inventories/department/optical/free_invoice",
    }) 
  })
  
  $('.log-request').on('click', function(){
    prescription_id = $(this).attr('data-requestid')
    invoice_id = $(this).find('.invoice_true').text().trim()
    if (invoice_id.length == 0){
      url = '/invoice/inventories/department/optical/patient_optical_prescription'
      data = {
        department_id:  '50121007',
        prescription_id: prescription_id,
      }
    } else {
      url = '/invoice/inventories/department/optical_invoices/'+invoice_id
      data = ''
    }
    $.ajax({
      type: "get",
      data: data,
      url: url,
    })
  })
</script>
</div>