<% content_for :page_title do %>
  <title>CENTRAL STORE | HEALTHGRAPH</title>
<% end %>
<% content_for :navbar_inventory_type do %>
<!-- <ul class="nav navbar-nav navbar-center" >
  <li class="">
    <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown" style="padding:12px; background-color:#fff; border:none;">
        <span style='font-size: 17px;'>Central Inventory</span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu children" style="">
    	<% @inventory_departments.each do |inventory| %>
    		<% unless inventory.department_id == "central" %>
					<li>
		        <%= link_to "inventory/department/#{inventory.department_id}" do %>
		          <span><%= inventory.name %></span>
		        <% end %>
		      <li>
	      <% end %>
    	<% end %>
    </ul>
    <ul class="dropdown-menu children" style="">
      <% @inventory_departments.each do |inventory| %>
        <% unless inventory.department_id == "central" %>
          <li>
            <%= link_to "inventory/department/#{inventory.department_id}" do %>
              <span><%= inventory.name %></span>
            <% end %>
          <li>
        <% end %>
      <% end %>
    </ul>
  </li>
</ul> -->
<% end %>
<input type="hidden" value="<%= current_user.role_ids[0]%>" id="current_user_role">
<div class="col-lg-12 col-md-12 contentpanel inventory-main">
	<input type="hidden" id="inventory_controller_action" value="<%= params[:action] %>" />

  <div id="sidebar">
    <%= render partial: 'sidebar', locals: {current_inventory: "central"}%>
  </div>

  <div id="toolbar">
    <%= render partial: 'toolbar', locals: {current_inventory: "central" }%>
  </div>

  <div id="inventory" style="height: 100%;">
    <%= render partial: 'items_list', locals: {current_inventory: "central" }%>
  </div>
</div>


<input type="hidden" id="inventory_controller_department" value="central" />

<form id="form-inventory-sub-department-list" style="display: none;">
	<select id="checkout_department_copy">
<% @inventory_departments.each do |inventory| %>
	<% unless inventory.department_id == 'central' %>
		<option value="<%= inventory.department_id %>"><%= inventory.name %></option>
	<% end %>
<% end %>
	</select>
</form>

<div id="dashboard_container">
    
</div>

<script type="text/javascript">

    <%= render partial: 'index.js' %>
  
</script>
<style type="text/css">
  .readonly{
    background: #ebebe4;
    cursor: not-allowed
  }
</style>