<div class="container-fluid">
  <div class="navbar-header" style="margin-right: 2%;">
    <a class="navbar-brand ps" style="color:#fff;" href="/mis/clinical_reports" data-remote="true">MIS Reports</a>
  </div>
  <form class="navbar-form navbar-left" style="width:20%;">
    <select id="clinical_mis_lists" data-placeholder="Search Reports">
      <option value=""></option>
      <% @mis_lists.each do |group_label, mis_lists| %>
        <optgroup label="<%= group_label.titleize %>">
          <% mis_lists.each do |mis_list| %>
            <option value="<%= mis_list %>" data-group-label="<%= group_label %>"><%= mis_list.titleize %></option>
          <% end %>
        </optgroup>
      <% end %>
    </select>
  </form>
</div>

<script type="text/javascript">
  <%= render partial: "index.js.erb" %>
</script>