<nav class="navbar navbar-inverse navbar-fixed-top mis_navbar">
  <%= render partial: "reports_navbar.html.erb" %>
</nav>

<div class="mis-reports-list">
  <div class="row" style="padding:30px 10px;">
    <div class="col-md-12 mb20">
      <div class="row">
        <div class="col-md-3">
          <%if @mis_params[:group] == 'ot' %>
            <% @mis_params[:url] = '/mis/new_clinical_reports/reports_view?' %>
            <% back_url = "/mis/new_clinical_reports" %>
          <% end %>
          <% if @mis_params[:back_group].present? && @mis_params[:back_title].present? %>
            <% back_url = "#{@mis_params[:url]}&group=#{@mis_params[:back_group]}&title=#{@mis_params[:back_title]}&start_date=#{@mis_params[:back_start_date]}&end_date=#{@mis_params[:back_end_date]}&facility_id=#{@mis_params[:facility_id]}&facility_name=#{@mis_params[:facility_name].gsub(/\'/,'`')}&store_id=#{@mis_params[:store_id]}&store_name=#{@mis_params[:store_name]&.gsub(/\'/,'`')}&currency_id=#{@mis_params[:currency_id]}&currency_symbol=#{@mis_params[:currency_symbol]}&time_period=#{@mis_params[:back_time_period]}&iDisplayStart=#{@mis_params[:back_iDisplayStart]}&iDisplayLength=#{@mis_params[:back_iDisplayLength]}&has_params=#{@mis_params[:has_params]}" %>
          <% else %>
            <% back_url ||= "/mis/clinical_reports" %>
          <% end %>

          <a class="btn btn-default btn-xs ps" href="<%= back_url %>" data-remote="true"><i class="fa fa-arrow-left"></i>&emsp;Back</a>
        </div>
        <div class="col-md-6 text-center">
          <h4><%= @mis_params[:facility_name] %></h4>
          <h3 class="reports-headerspacing"><%= @mis_params[:title].titleize %></h3>
          <% unless @mis_params[:title] == "aging_summary" %>
            <h5><span>From</span>&nbsp;<%=  @mis_params[:start_date].strftime("%d/%m/%Y") %>&nbsp;<span>To</span>&nbsp;<%=  @mis_params[:end_date].strftime("%d/%m/%Y") %></h5>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt10" style="overflow-y: auto;">
      <% if @mis_params[:group].present? && @mis_params[:title].present? %>
        <table id="<%= @mis_params[:group] %>_<%= @mis_params[:title] %>" class="table mis-dataTable dataTable text-center" style="<%= 'min-width:200%;' if @mis_params[:title] == 'patient_time_spent_wise' %>">
        </table>
      <% else %>
        <h3 class="text-center">SOMETHING SEEMS TO BE WRONG.</h3>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  // Page Height on Window Resize
  var window_height = $(window).height() - 50
  $(".mis_reports_panel").css('height', window_height)

  $(window).resize(function() {
    var window_height = $(window).height() - 50
    $(".mis_reports_panel").css('height', window_height)
  })

  // dataTable width on Window Resize
  $(window).resize(function() {
    $(".mis-dataTable").css('width', "100%")
  })

  <% if @mis_params[:group].present? && @mis_params[:title].present? %>
    <%= render partial: "/mis/clinical_reports/#{@mis_params[:group]}/#{@mis_params[:title]}.js.erb" %>

    url = "<%= @mis_params[:url] %>group=<%= @mis_params[:group] %>&title=<%= @mis_params[:title] %>"
    history.pushState('', '', url); // history.pushState([data], [title], [url]);
  <% end %>
</script>