<div class="row" style="margin-top:15px;">
  <div class="col-sm-6">
    <strong>Category Type</strong><br>
    <%#= f.select :type, [['medication', 0], ['optical', 1], ['asset', 2],['miscellaneous',3]],{ :class=> "form-control" } %>
    <%#= f.object.type %>
    <%#= cf.select :value,cf.object.value,{ selected: cf.object.value, include_hidden: false },{ multiple: true, class: "form-control p7_10 mb5 item-custom-field-value" } %>


    <%#= f.select :type, options_for_select([['medication', 0], ['optical', 1], ['asset', 2],['miscellaneous',3]], f.object.type) ,{ :class=> "form-control dispensing-unit-dd" } %>
    <%= f.select :type, options_for_select([['Medication', 'medication'], ['Optical', 'optical'], ['IOL', 'iol'], ['Asset', 'asset'],['Miscellaneous','miscellaneous']], f.object.type),{} ,{ :class=> "form-control p7_10 category-type" } %>
  </div>

  <div class="col-sm-6">
    <strong>Multiple Variants</strong><br>
    <%#= f.select :type, [['medication', 0], ['optical', 1], ['asset', 2],['miscellaneous',3]],{ :class=> "form-control" } %>
    <%#= f.object.type %>
    <%#= cf.select :value,cf.object.value,{ selected: cf.object.value, include_hidden: false },{ multiple: true, class: "form-control p7_10 mb5 item-custom-field-value" } %>


    <%#= f.select :type, options_for_select([['medication', 0], ['optical', 1], ['asset', 2],['miscellaneous',3]], f.object.type) ,{ :class=> "form-control dispensing-unit-dd" } %>
    <div class="col-md-6">
      <div class="rdio rdio-primary">
        <%= f.radio_button :multiple_variants, true, {} %>
        <label for="inventory_category_multiple_variants_true">Yes</label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="rdio rdio-primary">
        <%= f.radio_button :multiple_variants, false, {} %>
        <label for="inventory_category_multiple_variants_false">No</label>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <strong>Stockable</strong><br>
    <% if params[:action] == "edit" %>
      <% if @inventory_category.stockable == true %>
        <div class="col-md-6">
          <div class="rdio rdio-primary">
            <%= f.radio_button :stockable, true, {} %>
            <label for="inventory_category_stockable_true">Yes</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="rdio rdio-primary">
            <%= f.radio_button :stockable, false, {} %>
            <label for="inventory_category_stockable_false">No</label>
          </div>
        </div>
       <% else %>
        <div class="col-md-6">
          <div class="rdio rdio-primary">
            <%= f.radio_button :stockable, false, {disabled: "true"}  %>
            <label for="inventory_category_stockable_false">No</label>
          </div>
        </div>
       <% end%> 
    <% else %>
    <div class="col-md-6">
      <div class="rdio rdio-primary">
        <%= f.radio_button :stockable, true, {} %>
        <label for="inventory_category_stockable_true">Yes</label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="rdio rdio-primary">
        <%= f.radio_button :stockable, false, {} %>
        <label for="inventory_category_stockable_false">No</label>
      </div>
    </div>
    <% end %>
  </div>

</div>


<%#= f.select :category_id, @inventory_categories.pluck(:name, :id), { include_blank: true }, { class: 'form-control p7_10 sub_category_id', style: 'width: 100%' } %>

<%#= f.select :category_id, options_for_select(@inventory_categories.pluck(:name, :id), @inventory_categories[0].try(:id)), { :prompt => 'Select' }, { class: 'form-control p7_10', style: 'width: 100%', id: 'item_category' } %>

<%#= f.select :category_id, [["medicine1", "61214039718c45cb9602070f"], ["fdgsdg", "612498bc718c451d352cd822"]], "612498bc718c451d352cd822", {class: 'form-control p7_10 item_category', id: 'item_category'} %>

<%#= f.select :category_id, options_for_select(@inventory_categories.map { |ele| [ele.name, ele.id.to_s] }, {selected: @inventory_categories[0].try(:id).to_s} ), promt: true , class: 'form-control p7_10 item_category', id: 'item_category' %>
<%#= f.select :category_id, options_for_select(@inventory_categories.pluck(:name, :id), {selected: @inventory_categories[0].try(:id)} ), {promt: true} , { class: 'form-control p7_10 item_categoryq', id: 'item_categoryq' } %>

<%#= select_tag("inventory_item[category_id]", options_for_select(@inventory_categories.map { |ele| [ele.name, ele.id.to_s] }, @inventory_categories[0].try(:id).to_s ),{:class => 'form-control item_categorys', :style => 'width: 100%'}) %>


<%#= f.select :visibility, collection_for_visibility_select, :selected => (f.object.visibility.nil? ? Contact::VISIBILITY_PUBLIC : f.object.visibility), :include_blank => false %>


<%#= f.select :category_id, options_for_select(@inventory_categories.map { |ele| [ele.name, ele.id] }, @inventory_categories.try(:id).to_s), { include_blank: '' }, class: 'form-control specialty_dropdown', style: 'height:30px;padding:5px;' %>

<%#= @inventory_categories.map { |ele| [ele.name, ele.id.to_s] } %>
<%#= @inventory_categories[0].try(:id).to_s %>
