<div class="row">
  <div class="col-sm-12 text-center" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;"><strong>Category Information</strong></div>
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-sm-6">
    <strong>Name</strong><br>
    <%= f.text_field :name, { class: 'form-control p7_10 fullname', placeholder: 'Fullname' } %>
  </div>
  <div class="col-sm-6">
    <strong>Description</strong><br>
    <%= f.text_field :description, { class: 'form-control p7_10 description', placeholder: 'Description' } %>
  </div>
</div>
<div class="row" style="margin-top:15px;">
  <div class="col-sm-6">
    <strong>Prefix</strong><br>
    <% is_readonly = @inventory_category.prefix.present? ? true : false %>
    <%= f.text_field :prefix, { class: 'form-control p7_10 prefix', placeholder: '', readonly: is_readonly } %>
  </div>
  <div class="col-md-6">
    <strong>Expiry Days</strong><br>
    <%= f.number_field :expiry_days, min: 0 %>
  </div>
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-sm-12 text-center" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;"><strong>Category Settings</strong></div>
</div>


<%= render partial: 'inventory/categories/category_setting_fields.html.erb', locals: { f: f } %>
