<div class="row">
  <div class="col-md-4">
    <h4>MANAGE INVENTORY CATEGORY</h4>
  </div>
  <div class="col-md-3 text-right">
    <input type="text" name="" class="search-category-master form-control" placeholder="Search By Category Name" value="" style="margin-top: 5px;">
  </div>
  <div class="col-md-5 text-right">
    <%= link_to new_inventory_category_path, class: 'btn btn-primary', data: { remote: true, 'toggle': 'modal', 'target': '#category-modal' } do %><i class="fa fa-plus"></i> Add Category<% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <% if @inventory_categories.count > 0 %>
      <table id="manage_inventory_categories_table" class="table table-primary table-bordered">
        <thead>
        <th>Name</th>
        <th>Description</th>
        <th class="text-center">Actions</th>
        </thead>
        <tbody id="category_master-list">

        <% @inventory_categories.each do |category| %>
          <% visibility = category.is_disable ? 'visibility: hidden;' : 'visibility: visible' %>
          <tr class="each-contact-table-row category_master_tr">
            <td>
              <b class="category_name" style="color:#000;"><%= category.try(:name).try(:titleize) %></b>
            </td>

            <td>
              <b class="category_description" style="color:#000;"><%= category.try(:description).try(:titleize) %></b>
            </td>

            <td>
              <table style="width: 100%;">
                <tr>
                  <td style="<%=visibility%>">
                    <%= link_to edit_inventory_category_path(id: category.id.to_s), method: :get, data: { remote: true, toggle: 'modal', target: '#category-modal' }, class: 'btn btn-info btn-xs', style: 'display: inline;' do %>Edit<% end %>
                  </td>

                  <td style="<%=visibility%>">
                    <%= link_to link_unlink_multiple_dispensing_unit_inventory_categories_path(type: "link_dispensing_unit",category_id: category.id.to_s),class: "btn btn-info btn-xs", style: "display: inline;", data: {remote: true, 'toggle': "modal", 'target': '#category-modal'} do %><i class="fa fa-plus"></i> Link Dispensing Units<% end %>
                  </td>
                  <td style="<%=visibility%>">
                    <%= link_to link_unlink_multiple_dispensing_unit_inventory_categories_path(type: "unlink_dispensing_unit",category_id: category.id.to_s),class: "btn btn-warning btn-xs", style: "display: inline;", data: {remote: true, 'toggle': "modal", 'target': '#category-modal'} do %><i class="fa fa-minus"></i> Unlink Dispensing Units<% end %>
                  </td>

                  <td id='category_disable_button_<%= category.id %>'>
                    <% if category.try(:is_disable) == true %>
                      <%= link_to 'Active', toggle_disable_inventory_category_path(id: category.id, is_disable: false), class: 'btn btn-xs btn-primary', remote: true, style: 'display: inline;' %>
                    <% else %>
                      <div class="btn btn-danger btn-xs btn-disable-category" style="display: inline;" data-toggle="modal" data-target="#confirmation-modal" data-category='<%= category.name %>'>Disable</div>
                      <%= link_to 'Confirm', toggle_disable_inventory_category_path(id: category.id, is_disable: true), class: 'btn btn-danger', remote: true, style: 'display: none;', data: { dismiss: 'modal' } %>
                    <% end %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="col-md-12 text-center mt10">
        No Categories to Show.
      </div>
    <% end %>
  </div>
</div>

<style>
  #confirmation-modal a{
    display: inline-block !important;
  }
  .row-container{
    height: 25px;
  }
</style>

<script type="text/javascript">
  $(".search-category-master").on('keyup', function(){
    category_list = $(".category_master_tr");
    category_list_count = category_list.length;
    search = $(this).val().toUpperCase().trim();
    counter = 0
    for (var i = category_list.length - 1; i >= 0; i--) {
      category_name = $(category_list[i]).find(".category_name")
      category_description = $(category_list[i]).find(".category_description")
      if($(category_name).html().toUpperCase().indexOf(search) > -1 || $(category_description).html().toUpperCase().indexOf(search) > -1) {
        $(category_list[i]).css("display", "");
      } else {
        $(category_list[i]).css("display", "None");
        counter += 1
      }
    }

    if(category_list_count == counter){
      if($(".show-nothing").length <= 0){
        $("#category_master-list").append(`<tr class="show-nothing"><td class="text-center" colspan="5">Nothing to Show</td></tr>`)
      }
    } else {
      $(".show-nothing").remove();
    }
  })
</script>
