<div class="modal-dialog" style="width:40%;">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><% if @type == "unlink_dispensing_unit" %>Un<% end %>Link <%= @category.name %> to Dispensing Units</h4>
    </div><br>
    <%= form_tag("/inventory/categories/save_link_unlink_multiple_dispensing_unit", method: "patch", remote: true, id: 'save_link_unlink_multiple_dispensing_unit') do %>
      <%= hidden_field_tag :category_id, @category_id %>
      <%= hidden_field_tag :type, @type %>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <strong>Select Dispensing Units</strong><br>
            <%= select_tag :dispensing_unit_ids, options_for_select(@dispensing_units.pluck(:name, :id)), { class: 'form-control', multiple: true} %>
          </div>
        </div>

        <div class="row" style="padding-top: 35px;">
          <div class="col-sm-12" style="text-decoration: underline;">
            <strong>Currently <%= @type&.split('_')[0] %>ed Dispensing Unit</strong>
          </div>

          <div class="col-sm-12">
            <% if @other_dispensing_units.present? %>
              <% @other_dispensing_units.each do |dispensing_unit| %>
                <div style="margin: 7px;">
                  <i class="fa fa-arrow-right"></i> <%= dispensing_unit.name.upcase %><br>
                </div>
              <% end %>
            <% else %>
              <div style="margin: 7px;font-style: italic;"><strong>No <%= @type&.split('_')[0] %>ed Dispensing Unit existed</strong></div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= submit_tag "Save", class: 'btn btn-success', onclick: 'link_unlink_dispensing_unit()' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>
