<div class="modal-body" xmlns="http://www.w3.org/1999/html"> <!-- modal-body starts -->
  <div class="row">
    <div class="col-md-12">
      <div class="opdsummary">
        <div class="row">
          <div class="col-md-3" style="font-weight: 600;">
            Complaints:
          </div>
          <div class="col-md-9">
            <%= @legacy_opd_clinical_note.complaints %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3" style="font-weight: 600;">
            Examination:
          </div>
          <div class="col-md-9">
            <%= @legacy_opd_clinical_note.examination %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3" style="font-weight: 600;">
            Examinationcomments:
          </div>
          <div class="col-md-9">
            <%= @legacy_opd_clinical_note.examinationcomments %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3" style="font-weight: 600;">
            Diagnosis:
          </div>
          <div class="col-md-9">
            <%= @legacy_opd_clinical_note.diagnosis %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3" style="font-weight: 600;">
            Diagnosiscomments:
          </div>
          <div class="col-md-9">
            <%= @legacy_opd_clinical_note.diagnosiscomments %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3" style="font-weight: 600;">
            Investigations:
          </div>
          <div class="col-md-9">
            <%= @legacy_opd_clinical_note.investigations %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3" style="font-weight: 600;">
            Investigationcomments:
          </div>
          <div class="col-md-9">
            <%= @legacy_opd_clinical_note.investigationcomments %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3" style="font-weight: 600;">
            Plan(Treatment):
          </div>
          <div class="col-md-9">
            <%= @legacy_opd_clinical_note.plan %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3" style="font-weight: 600;">
            Plancomments(Action):
          </div>
          <div class="col-md-9">
            <%= @legacy_opd_clinical_note.plancomments %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3" style="font-weight: 600;">
            Advise:
          </div>
          <div class="col-md-9">
            <%= @legacy_opd_clinical_note.advise %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3" style="font-weight: 600;">
            Instruction:
          </div>
          <div class="col-md-9">
            <%= @legacy_opd_clinical_note.instruction %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3" style="font-weight: 600;">
            Notes:
          </div>
          <div class="col-md-9">
            <%= @legacy_opd_clinical_note.notes %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3" style="font-weight: 600;">
            OtherComments:
          </div>
          <div class="col-md-9">
            <%= @legacy_opd_clinical_note.othercomments %>
          </div>
        </div>

        <%if @legacy_opd_clinical_note.opto_readings.present?%>
        <div class="row">
          <div class="col-md-3" style="font-weight: 600;">
            Optometrist Readings:
          </div>
          <div class="col-md-9">
            <%@legacy_opd_clinical_note.opto_readings.each do |key,value|%>

              <%if value.present? %>
                <div class="col-md-4">
                  <%=key%>: <%=value%>
                </div>
              <%end%>


            <%end%>
          </div>
        </div>
        <%end%>

      </div>

    </div>
  </div>

</div>