<div class="modal-body" xmlns="http://www.w3.org/1999/html"> <!-- modal-body starts -->
  <div class="row">
    <div class="col-md-12">
      <div class="opdsummary">
        <div class="row">
          <div class="col-md-3" style="font-weight: 600;">
            Examinations:
          </div>
          <div class="col-md-9">
            <%= @legacy_ipd_clinical_note.observation %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3" style="font-weight: 600;">
            Diagnosis:
          </div>
          <div class="col-md-9">
            <%= @legacy_ipd_clinical_note.diagnosis %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3" style="font-weight: 600;">
            Surgery:
          </div>
          <div class="col-md-9">
            <%= @legacy_ipd_clinical_note.surgery %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3" style="font-weight: 600;">
            Surgeons:
          </div>
          <div class="col-md-9">
            <%= @legacy_ipd_clinical_note.surgeon %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3" style="font-weight: 600;">
            Anesthetist:
          </div>
          <div class="col-md-9">
            <%= @legacy_ipd_clinical_note.anesthetist %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3" style="font-weight: 600;">
            Anesthesia Type:
          </div>
          <div class="col-md-9">
            <%= @legacy_ipd_clinical_note.anatype %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3" style="font-weight: 600;">
            In Time:
          </div>
          <div class="col-md-9">
            <%= @legacy_ipd_clinical_note.intime %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3" style="font-weight: 600;">
            Out Time:
          </div>
          <div class="col-md-9">
            <%= @legacy_ipd_clinical_note.outtime %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3" style="font-weight: 600;">
            OT Note:
          </div>
          <div class="col-md-9">
            <%= @legacy_ipd_clinical_note.otnote %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3" style="font-weight: 600;">
            PostOp Note:
          </div>
          <div class="col-md-9">
            <%= @legacy_ipd_clinical_note.postop %>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>