
<tr class="table-row-radiology">
  <%= hidden_field_tag "#{source}[radiology_investigations_list_attributes][#{i}][_destroy]", "0" %>
  <td>
    <%= text_field_tag "#{source}[radiology_investigations_list_attributes][#{i}][investigationname]", " ",class: 'form-control', placeholder: 'Enter investigation name' %>
  </td>

  <td>
    <%= text_field_tag "#{source}[radiology_investigations_list_attributes][#{i}][investigation_comment]"," ",class: 'form-control', placeholder: 'Enter investigation comment' %> 
  </td>

  <td>
    <%= text_field_tag "#{source}[radiology_investigations_list_attributes][#{i}][doctors_remark]", " ",class: 'form-control', placeholder: 'Enter Doctor remark' %> 
  </td>

  <td>
    <%= text_field_tag "#{source}[radiology_investigations_list_attributes][#{i}][investigation_val]", " ",class: 'form-control', placeholder: 'Enter Investigation value' %> 
  </td>
  
  <td style="width:1%;">
    <a id="removeradiologyinvestigationbutton<%=i%>" class="btn btn-xs btn-danger" name="removeradiologyinvestigationbutton"><i class="fa fa-times"></i></a>
  </td>
</tr>