<% admin_counter = 0 %>
<% if @ipdrecord.admissionreason.present? || @ipdrecord.expected_management.present? || @ipdrecord.expected_stay.present? || @ipdrecord.complaint_date.present? || @clinical_note.first_opd_visit.present? || @admission.dischargedate.present? || @clinical_note.reason_for_complaints.present? %>
  <% admin_counter = admin_counter + 1 %>
<% end %>

<% if admin_counter > 0 %>
  <div class="row mb10">
    <div class="col-md-12">
      <div class="row">
        <strong>ADMIN DETAILS :</strong>
        <div class="summary-line-border"></div>
      </div>
      <% if @ipdrecord.admissionreason.present? || @ipdrecord.expected_management.present? || @ipdrecord.expected_stay.present? || @ipdrecord.complaint_date.present? || @clinical_note.first_opd_visit.present? || @admission.dischargedate.present? %>
        <div class="row mb10">
          <% if @ipdrecord.admissionreason.present? %>
            <div class="col-md-4 text-center">
              <b>Reason For Admission</b><br> <%= @ipdrecord.admissionreason %>
            </div>
          <% end %>
          <% if @ipdrecord.expected_management.present? %>
            <div class="col-md-4 text-center">
              <b>Expected Management</b><br> <%= @ipdrecord.expected_management %>
            </div>
          <% end %>
          <% if @ipdrecord.expected_stay.present? %>
            <div class="col-md-4 text-center">
              <b>Expected Length Of Stay</b><br> <%= @ipdrecord.expected_stay %>
            </div>
          <% end %>
          <% if @ipdrecord.complaint_date.present? %>
            <div class="col-md-4 text-center">
              <b>Start Of Complaint</b><br> <%= @ipdrecord.complaint_date %>
            </div>
          <% end %>
          <% if @clinical_note.first_opd_visit.present? %>
            <div class="col-md-4 text-center">
              <b>First OPD/EMR Visit</b><br> <%= @clinical_note.first_opd_visit %>
            </div>
          <% end %>
          <% if @admission.dischargedate.present? %>
            <div class="col-md-4 text-center">
              <b>Expected Discharge Date</b><br> <%= @admission.dischargedate %>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="row">
        <% if @clinical_note.ipd_payment_type.present? %>
          <div class="col-md-4 text-center">
            <b>Payment Type</b><br> <%= @ipdrecord.payment_type.split(",").join(", ") %>
          </div>
        <% end %>
        <% if @clinical_note.ipd_billing_category.present? %>
          <div class="col-md-4 text-center">
            <b>Billing Category</b><br> <%= @clinical_note.ipd_billing_category %>
          </div>
        <% end %>
        <% if @ipdrecord.medico_legal_case.present? %>
          <div class="col-md-4 text-center">
            <b>Medico-Legal Case</b><br> <%= @ipdrecord.medico_legal_case %>
          </div>
        <% end %>
      </div>
      
    </div>
  </div>
<% end %>