<% assesment_counter = 0 %>
<% primary_counter = 0 %>
<% secondary_counter = 0 %>
<% primary_counter_abnormal = 0 %>
<% primary_counter_yes = 0 %>
<% general_counter = 0 %>
<% cns_counter = 0 %>
<% cvs_counter = 0 %>
<% resp_counter = 0 %>
<% gut_counter = 0 %>
<% git_counter = 0 %>
<% ms_counter = 0 %>
<% skin_counter = 0 %>
<% vital_sign_count = 0%>
<% primary_comment_count = 0%>
<% blood_pressure_count = 0 %>
<% height_count = 0 %>
<% weight_count = 0 %>
<% pulse_count = 0 %>
<% temperature_count = 0 %>
<% respiratory_rate_count = 0 %>
<% spo2_count = 0 %>
<% vital_comment_count = 0 %>
<% bmi_count = 0 %>
<% if clinical_note.airway_assesment == 'Abnormal'  || clinical_note.breathing_assesment == 'Abnormal'  || clinical_note.pulse_assesment == 'Abnormal' || clinical_note.bp_assesment == 'Abnormal' || clinical_note.primary_comment.present? %>
  <% assesment_counter = assesment_counter + 1 %>
  <% primary_counter = primary_counter + 1 %>
  <% primary_counter_abnormal = primary_counter_abnormal + 1 %>
<% end %>

<% if clinical_note.pressure_ulcer_risk == "Yes" || clinical_note.risk_of_fall == "Yes" || clinical_note.vte_risk == "Yes" %>
  <% assesment_counter = assesment_counter + 1 %>
  <% primary_counter = primary_counter + 1 %>
  <% primary_counter_yes = primary_counter_yes + 1 %>
<% end %>

<% if clinical_note.general_pallor == "Yes"  || clinical_note.general_cyanosis == "Yes" || clinical_note.general_clubbing == "Yes" || clinical_note.general_edema == "Yes" || clinical_note.general_rash == "Yes" || clinical_note.general_white_oral_patch == "Yes" || clinical_note.general_lymphadenopathy == "Yes" || clinical_note.general_icterus == "Yes" || clinical_note.interpreter_needed == "Yes" %>
  <% assesment_counter = assesment_counter + 1 %>
  <% secondary_counter = secondary_counter + 1 %>
  <% general_counter = general_counter + 1 %>
<% end %>

<% if clinical_note.cns_temperature == 'Abnormal' || clinical_note.cns_orientation == 'Abnormal' || clinical_note.cns_emotinal_status == 'Abnormal'  || clinical_note.cns_memory_intact == 'Abnormal'  || clinical_note.cns_speech_status == 'Abnormal' || clinical_note.sensory_and_perception == "Abnormal" || clinical_note.respiratory == "Abnormal" %>
  <% assesment_counter = assesment_counter + 1 %>
  <% secondary_counter = secondary_counter + 1 %>
  <% cns_counter = cns_counter + 1 %>
<% end %>

<% if clinical_note.cvs_heart_sounds_status == 'Abnormal' || clinical_note.cvs_palpable_pulses_intact == 'Abnormal'  || clinical_note.cvs_peripheral_edema.present? || clinical_note.cvs_calf_tenderness.present? %>
  <% assesment_counter = assesment_counter + 1 %>
  <% secondary_counter = secondary_counter + 1 %>
  <% cvs_counter = cvs_counter + 1 %>
<% end %>

<% if clinical_note.resp_air_entry.present? || clinical_note.resp_breath_sounds == 'Abnormal'  || clinical_note.resp_nail_bed_color == 'Abnormal' || clinical_note.sleep_pattern == 'Abnormal' || clinical_note.general_appearance == 'Abnormal' %>
  <% assesment_counter = assesment_counter + 1 %>
  <% secondary_counter = secondary_counter + 1 %>
  <% resp_counter = resp_counter + 1 %>
<% end %>

<% if clinical_note.gut_urine_output == 'Abnormal' || clinical_note.gut_bladder_habits == 'Abnormal'  %>
  <% assesment_counter = assesment_counter + 1 %>
  <% secondary_counter = secondary_counter + 1 %>
  <% gut_counter = gut_counter + 1 %>
<% end %>

<% if clinical_note.git_abdomen.present? || clinical_note.git_bowel_movements == 'Abnormal' %>
  <% assesment_counter = assesment_counter + 1 %>
  <% secondary_counter = secondary_counter + 1 %>
  <% git_counter = git_counter + 1 %>
<% end %>

<% if clinical_note.ms_extreme_motion == 'Abnormal' || clinical_note.ms_sensation == 'Abnormal'  %>
  <% assesment_counter = assesment_counter + 1 %>
  <% secondary_counter = secondary_counter + 1 %>
  <% ms_counter = ms_counter + 1 %>
<% end %>

<% if clinical_note.skin_color == 'Abnormal' || clinical_note.skin_integrity == 'Abnormal'  %>
  <% assesment_counter = assesment_counter + 1 %>
  <% secondary_counter = secondary_counter + 1 %>
  <% skin_counter = skin_counter + 1 %>
<% end %>
<% if clinical_note.secondary_comment.present? %>
  <% assesment_counter = assesment_counter + 1 %>
  <% secondary_counter = secondary_counter + 1 %>
<% end %>

  <%# Vital Sign counter start %>
<% if clinical_note.blood_pressure.present? %>
  <% assesment_counter = assesment_counter + 1 %>
  <% vital_sign_count = vital_sign_count + 1 %>
  <% blood_pressure_count = blood_pressure_count + 1 %>
<% end %>
<% if clinical_note.height.present? %>
  <% assesment_counter = assesment_counter + 1 %>
  <% vital_sign_count = vital_sign_count + 1 %>
  <% height_count = height_count + 1 %>
<% end %>
<% if clinical_note.weight.present? %>
  <% assesment_counter = assesment_counter + 1 %>
  <% vital_sign_count = vital_sign_count + 1 %>
  <% weight_count = weight_count + 1 %>
<% end %>
<% if clinical_note.pulse.present? %>
  <% assesment_counter = assesment_counter + 1 %>
  <% vital_sign_count = vital_sign_count + 1 %>
  <% pulse_count = pulse_count + 1 %>
<% end %>
<% if clinical_note.temperature.present? %>
  <% assesment_counter = assesment_counter + 1 %>
  <% vital_sign_count = vital_sign_count + 1 %>
  <% temperature_count = temperature_count + 1 %>
<% end %>
<% if clinical_note.respiratory_rate.present? %>
  <% assesment_counter = assesment_counter + 1 %>
  <% vital_sign_count = vital_sign_count + 1 %>
  <% respiratory_rate_count = respiratory_rate_count + 1 %>
<% end %>
<% if clinical_note.spo2.present? %>
  <% assesment_counter = assesment_counter + 1 %>
  <% vital_sign_count = vital_sign_count + 1 %>
  <% spo2_count = spo2_count + 1 %>
<% end %>
<% if clinical_note.vital_comment.present? %>
  <% assesment_counter = assesment_counter + 1 %>
  <% vital_sign_count = vital_sign_count + 1 %>
  <% vital_comment_count = vital_comment_count + 1 %>
<% end %>
<% if clinical_note.bmi.present? %>
  <% assesment_counter = assesment_counter + 1 %>
  <% vital_sign_count = vital_sign_count + 1 %>
  <% bmi_count = bmi_count + 1 %>
<% end %>
  <%# Vital sign Counter end  %>
<% if assesment_counter > 0 %>
  <div class="row mb10">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <strong>ASSESSMENT CHECKLIST :</strong>
          <div class="summary-line-border"></div>
        </div>
      </div>

      <% if primary_counter > 0 %>
        <!-- Primary Assessment -->
        <div class="row mb5">
          <div class="col-md-12 text-center">
            <b style="text-decoration:underline;">Primary Assessment</b>
          </div>
        </div>
        <% if primary_counter_abnormal > 0 %>
          <div class="row mb5">
            <% if clinical_note.airway_assesment == 'Abnormal' && clinical_note.airway_assesment_abnormal.present? %>
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <b>Airway :</b> <%= clinical_note.airway_assesment_abnormal.split(",").join(", ") %>
              </div>
            <% elsif clinical_note.airway_assesment == 'Abnormal' && !clinical_note.airway_assesment_abnormal.present? %>
               <div class="col-md-6 col-sm-6 col-xs-12 ">
                <b>Airway :</b> <span>Abnormal</span>
              </div>
            <% end %>
            <% if clinical_note.breathing_assesment == 'Abnormal' && clinical_note.breathing_assesment_abnormal.present? %>
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <b>Breathing :</b> <%= clinical_note.breathing_assesment_abnormal.split(",").join(", ") %>
              </div>
            <% elsif clinical_note.breathing_assesment == 'Abnormal' && !clinical_note.breathing_assesment_abnormal.present? %>
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <b>Breathing :</b> <span>Abnormal</span>
              </div>
            <% end %>
            <% if clinical_note.pulse_assesment == 'Abnormal' && clinical_note.pulse_assesment_abnormal.present? %>
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <b>Pulse :</b> <%= clinical_note.pulse_assesment_abnormal.split(",").join(", ") %>
              </div>
            <% elsif  clinical_note.pulse_assesment == 'Abnormal' && !clinical_note.pulse_assesment_abnormal.present? %>
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <b>Pulse :</b> <span>Abnormal</span>
              </div>
            <% end %>
            <% if clinical_note.bp_assesment == 'Abnormal' && clinical_note.bp_assesment_abnormal.present? %>
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <b>Blood Pressure :</b> <%= clinical_note.bp_assesment_abnormal.split(",").join(", ") %>
              </div>
            <% elsif clinical_note.bp_assesment == 'Abnormal' && !clinical_note.bp_assesment_abnormal.present? %>
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <b>Blood Pressure :</b> <span>Abnormal</span>
              </div>
            <% end %>
            <% if clinical_note.primary_comment.present? %>
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <b>Primary Comment :</b> <span><%= clinical_note.primary_comment %></span>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if primary_counter_yes > 0 %>
          <div class="row mb5">
            <% if clinical_note.pressure_ulcer_risk == "Yes" %>
              <div class="col-md-4">
                Pressure Ulcer Risk : <b>Yes</b>
              </div>
            <% end %>
            <% if clinical_note.risk_of_fall == "Yes" %>
              <div class="col-md-4">
                Risk Of Fall : <b>Yes</b>
              </div>
            <% end %>
            <% if clinical_note.vte_risk == "Yes" %>
              <div class="col-md-4">
                VTE Risk : <b>Yes</b>
              </div>
            <% end %>
          </div>
        <% end %>
        <!-- Primary Assessment Ends -->
      <% end %>
      <% if secondary_counter > 0 %>
        <!-- Secondary Assessment -->
        <div class="row mb5">
          <div class="col-md-12 text-center">
            <b style="text-decoration:underline;">Secondary Assessment</b>
          </div>
        </div>
        <% if general_counter > 0 %>
          <div class="row mb5">
            <div class="col-md-12 text-center">
              <b style="text-decoration:underline;">General :</b>
            </div>
          </div>
          <div class="row mb5">
            <div class="col-md-12">
              <% if clinical_note.general_pallor == "Yes" %>
                Pallor : <b>Yes</b> |
              <% end %>
              <% if clinical_note.general_cyanosis == "Yes" %>
                Cyanosis : <b>Yes</b> |
              <% end %>
              <% if clinical_note.general_clubbing == "Yes" %>
                Clubbing : <b>Yes</b> |
              <% end %>
              <% if clinical_note.general_edema == "Yes" %>
                Edema : <b>Yes</b> |
              <% end %>
              <% if clinical_note.general_rash == "Yes" %>
                Rash/Ecchymosis/Purpura : <b>Yes</b> |
              <% end %>
              <% if clinical_note.general_white_oral_patch == "Yes" %>
                White Oral Patch : <b>Yes</b> |
              <% end %>
              <% if clinical_note.general_lymphadenopathy == "Yes" %>
                Lymphadenopathy : <b>Yes</b> |
              <% end %>
              <% if clinical_note.general_icterus == "Yes" %>
                General Icterus : <b>Yes</b> |
              <% end %>
              <% if clinical_note.interpreter_needed == "Yes" %>
                Interpreter Needed : <b>Yes</b> |
              <% end %>
            </div>
          </div>
        <% end %>
        <% if cns_counter > 0 %>
          <div class="row mb5">
            <div class="col-md-12 text-center">
              <b style="text-decoration:underline;">CNS</b>
            </div>
          </div>
          <div class="row mb5">
            <% if clinical_note.cns_temperature == 'Abnormal' && clinical_note.cns_temperature_abnormal.present? %>
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <b>Temperature :</b> <%= clinical_note.cns_temperature_abnormal.split(",").join(", ") %>
              </div>
            <% elsif  clinical_note.cns_temperature == 'Abnormal' && !clinical_note.cns_temperature_abnormal.present? %>
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <b>Temperature :</b> <span>Abnormal</span>
              </div>
            <% end %>
            <% if clinical_note.cns_orientation == 'Abnormal' && clinical_note.cns_orientation_abnormal.present? %>
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <b>Orientation :</b> <%= clinical_note.cns_orientation_abnormal.split(",").join(", ") %>
              </div>
            <% elsif clinical_note.cns_orientation == 'Abnormal' && !clinical_note.cns_orientation_abnormal.present?  %>
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <b>Orientation :</b> <span>Abnormal</span>
              </div>
            <% end %>
            <% if clinical_note.cns_emotinal_status == 'Abnormal' && clinical_note.cns_emotinal_status_abnormal.present? %>
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <b>Emotional Status :</b> <%= clinical_note.cns_emotinal_status_abnormal.split(",").join(", ") %>
              </div>
            <% elsif clinical_note.cns_emotinal_status == 'Abnormal' && !clinical_note.cns_emotinal_status_abnormal.present? %>
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <b>Emotional Status :</b> <span>Abnormal</span>
              </div>
            <% end %>
            <% if clinical_note.cns_memory_intact == 'Abnormal' && clinical_note.cns_memory_intact_abnormal.present? %>
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <b>Memory Intact :</b> <%= clinical_note.cns_memory_intact_abnormal.split(",").join(", ") %>
              </div>
            <% elsif clinical_note.cns_memory_intact == 'Abnormal' && !clinical_note.cns_memory_intact_abnormal.present? %>
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <b>Memory Intact :</b> <span>Abnormal</span>
              </div>
            <% end %>
            <% if clinical_note.cns_speech_status == 'Abnormal' && clinical_note.cns_speech_status_abnormal.present? %>
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <b>Speech :</b> <%= clinical_note.cns_speech_status_abnormal.split(",").join(", ") %>
              </div>
            <% elsif clinical_note.cns_speech_status == 'Abnormal' && !clinical_note.cns_speech_status_abnormal.present? %>
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <b>Speech :</b> <span>Abnormal</span>
              </div>
            <% end %>
            <% if clinical_note.sensory_and_perception == 'Abnormal' && clinical_note.sensory_and_perception_abnormal.present? %>
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <b>Sensory And Preception :</b> <%= clinical_note.sensory_and_perception_abnormal.split(",").join(", ") %>
              </div>
            <% elsif clinical_note.sensory_and_perception == 'Abnormal' && !clinical_note.sensory_and_perception_abnormal.present? %>
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <b>Sensory And Preception :</b> <span>Abnormal</span>
              </div>
            <% end %>
            <% if clinical_note.respiratory == 'Abnormal' && clinical_note.respiratory_abnormal.present? %>
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <b>Respiratory :</b> <%= clinical_note.respiratory_abnormal.split(",").join(", ") %>
              </div>
            <% elsif clinical_note.respiratory == 'Abnormal' && !clinical_note.respiratory_abnormal.present? %>
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <b>Respiratory :</b> <span>Abnormal</span>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if cvs_counter > 0 %>
           <div class="row mb5">
            <div class="col-md-12 text-center">
              <b style="text-decoration:underline;">CVS</b>
            </div>
          </div>
          <div class="row mb5">
            <% if clinical_note.cvs_heart_sounds_status == 'Abnormal' && clinical_note.cvs_heart_sounds_status_abnormal.present? %>
              <div class="col-md-6 col-md-6 col-xs-12">
                <b>Heart Sounds :</b> <%= clinical_note.cvs_heart_sounds_status_abnormal.split(",").join(", ") %>
              </div>
            <% elsif clinical_note.cvs_heart_sounds_status == 'Abnormal' && !clinical_note.cvs_heart_sounds_status_abnormal.present?  %>
              <div class="col-md-6 col-md-6 col-xs-12">
                <b>Heart Sounds :</b> <span>Abnormal</span>
              </div>
            <% end %>
            <% if clinical_note.cvs_palpable_pulses_intact == 'Abnormal' && clinical_note.cvs_palpable_pulses_intact_abnormal.present? %>
              <div class="col-md-6 col-md-6 col-xs-12">
                <b>Palable Pulses :</b> <%= clinical_note.cvs_palpable_pulses_intact_abnormal.split(",").join(", ") %>
              </div>
            <% elsif  clinical_note.cvs_palpable_pulses_intact == 'Abnormal' && !clinical_note.cvs_palpable_pulses_intact_abnormal.present?%>
              <div class="col-md-6 col-md-6 col-xs-12">
                <b>Palable Pulses :</b> <span>Abnormal</span>
              </div>
            <% end %>
            <% if clinical_note.cvs_peripheral_edema.present? %>
              <div class="col-md-6 col-md-6 col-xs-12">
                <b>Peripherial Edema :</b> <%= clinical_note.cvs_peripheral_edema.split(",").join(", ") %>
              </div>
            <% end %>
            <% if clinical_note.cvs_calf_tenderness.present? %>
              <div class="col-md-6 col-md-6 col-xs-12">
                <b>Calf Tenderness :</b> <%= clinical_note.cvs_calf_tenderness.split(",").join(", ") %>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if resp_counter > 0 %>
           <div class="row mb5">
            <div class="col-md-12 text-center">
              <b style="text-decoration:underline;">RESP.</b>
            </div>
          </div>
          <div class="row mb5">
            <% if clinical_note.resp_air_entry.present? %>
              <div class="col-md-6 col-md-6 col-xs-12">
                <b>Air Entry :</b> <%= clinical_note.resp_air_entry.split(",").join(", ") %>
              </div>
            <% end %>
            <% if clinical_note.resp_breath_sounds == 'Abnormal' && clinical_note.resp_breath_sounds_abnormal.present? %>
              <div class="col-md-6 col-md-6 col-xs-12">
                <b>Breath Sounds :</b> <%= clinical_note.resp_breath_sounds_abnormal.split(",").join(", ") %>
              </div>
            <% elsif clinical_note.resp_breath_sounds == 'Abnormal' && !clinical_note.resp_breath_sounds_abnormal.present? %>
              <div class="col-md-6 col-md-6 col-xs-12">
                <b>Breath Sounds : </b><span>Abnormal</span>
              </div>
            <% end %>
            <% if clinical_note.resp_nail_bed_color == 'Abnormal' && clinical_note.resp_nail_bed_color_abnormal.present? %>
              <div class="col-md-6 col-md-6 col-xs-12">
                <b>Nail Bed Color :</b> <%= clinical_note.resp_nail_bed_color_abnormal.split(",").join(", ") %>
              </div>
            <% elsif clinical_note.resp_nail_bed_color == 'Abnormal' && !clinical_note.resp_nail_bed_color_abnormal.present? %>
              <div class="col-md-6 col-md-6 col-xs-12">
                <b>Nail Bed Color :</b>  <span>Abnormal</span>
              </div>
            <% end %>
            <% if clinical_note.sleep_pattern == 'Abnormal' && clinical_note.sleep_pattern_abnormal.present? %>
              <div class="col-md-6 col-md-6 col-xs-12">
                <b>Sleep Pattern :</b> <%= clinical_note.sleep_pattern_abnormal.split(",").join(", ") %>
              </div>
            <% elsif clinical_note.sleep_pattern == 'Abnormal' && !clinical_note.sleep_pattern_abnormal.present? %>
              <div class="col-md-6 col-md-6 col-xs-12">
                <b>Sleep Pattern :</b>  <span>Abnormal</span>
              </div>
            <% end %>
            <% if clinical_note.general_appearance == 'Abnormal' && clinical_note.general_appearance_abnormal.present? %>
              <div class="col-md-6 col-md-6 col-xs-12">
                <b>General Appearance :</b> <%= clinical_note.general_appearance_abnormal.split(",").join(", ") %>
              </div>
            <% elsif clinical_note.general_appearance == 'Abnormal' && !clinical_note.general_appearance_abnormal.present? %>
              <div class="col-md-6 col-md-6 col-xs-12">
                <b>General Appearance :</b>  <span>Abnormal</span>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if gut_counter > 0 %>
           <div class="row mb5">
            <div class="col-md-12 text-center">
              <b style="text-decoration:underline;">GUT</b>
            </div>
          </div>
          <div class="row mb5">
            <% if clinical_note.gut_urine_output == 'Abnormal' && clinical_note.gut_urine_output_abnormal.present? %>
              <div class="col-md-6 col-md-6 col-xs-12">
                <b>Urine Output :</b> <%= clinical_note.gut_urine_output_abnormal.split(",").join(", ") %>
              </div>
            <% elsif clinical_note.gut_urine_output == 'Abnormal' && !clinical_note.gut_urine_output_abnormal.present?%>
              <div class="col-md-6 col-md-6 col-xs-12">
                <b>Urine Output :</b> <span>Abnormal</span>
              </div>
            <% end %>
            <% if clinical_note.gut_bladder_habits == 'Abnormal' && clinical_note.gut_bladder_habits_abnormal.present? %>
              <div class="col-md-6 col-md-6 col-xs-12">
                <b>Bladder Habits :</b> <%= clinical_note.gut_bladder_habits_abnormal.split(",").join(", ") %>
              </div>
            <% elsif clinical_note.gut_bladder_habits == 'Abnormal' && !clinical_note.gut_bladder_habits_abnormal.present? %>
              <div class="col-md-6 col-md-6 col-xs-12">
                <b>Bladder Habits :</b> <span>Abnormal</span>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if git_counter > 0 %>
          <div class="row mb5">
            <div class="col-md-12 text-center">
              <b style="text-decoration:underline;">GIT</b>
            </div>
          </div>
          <div class="row mb5">
            <% if clinical_note.git_abdomen.present? %>
              <div class="col-md-6">
                <b>Abdomen :</b> <%= clinical_note.git_abdomen.split(",").join(", ") %>
              </div>
            <% end %>
            <% if clinical_note.git_bowel_movements == 'Abnormal' && clinical_note.git_bowel_movements_abnormal.present? %>
              <div class="col-md-6">
                <b>Bowel Movements :</b> <%= clinical_note.git_bowel_movements_abnormal.split(",").join(", ") %>
              </div>
            <% elsif clinical_note.git_bowel_movements == 'Abnormal' && !clinical_note.git_bowel_movements_abnormal.present? %>
              <div class="col-md-6">
                <b>Bowel Movements :</b> <span>Abnormal</span>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if ms_counter > 0 %>
          <div class="row mb5">
            <div class="col-md-12 text-center">
              <b style="text-decoration:underline;">MS :</b>
            </div>
          </div>
          <div class="row mb5">
            <% if clinical_note.ms_extreme_motion == 'Abnormal' && clinical_note.ms_extreme_motion_abnormal.present? %>
              <div class="col-md-6">
                <b>Extremity Motion :</b> <%= clinical_note.ms_extreme_motion_abnormal.split(",").join(", ") %>
              </div>
            <% elsif clinical_note.ms_extreme_motion == 'Abnormal' && !clinical_note.ms_extreme_motion_abnormal.present? %>
              <div class="col-md-6">
                <b>Extremity Motion :</b> <span>Abnormal</span>
              </div>
            <% end %>
            <% if clinical_note.ms_sensation == 'Abnormal' && clinical_note.ms_sensation_abnormal.present? %>
              <div class="col-md-6">
                <b>Sensation :</b> <%= clinical_note.ms_sensation_abnormal.split(",").join(", ") %>
              </div>
            <% elsif clinical_note.ms_sensation == 'Abnormal' && !clinical_note.ms_sensation_abnormal.present? %>
              <div class="col-md-6">
                <b>Sensation :</b> <span>Abnormal</span>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if skin_counter > 0 %>
          <div class="row mb5">
            <div class="col-md-12 text-center">
              <b style="text-decoration:underline;">SKIN</b>
            </div>
          </div>
          <div class="row mb5">
            <% if clinical_note.skin_color == 'Abnormal' && clinical_note.skin_color_abnormal.present? %>
              <div class="col-md-6">
                <b>Color :</b> <%= clinical_note.skin_color_abnormal.split(",").join(", ") %>
              </div>
            <% elsif clinical_note.skin_color == 'Abnormal' && !clinical_note.skin_color_abnormal.present? %>
              <div class="col-md-6">
                <b>Color :</b> <span>Abnormal</span>
              </div>
            <% end %>
            <% if clinical_note.skin_integrity == 'Abnormal' && clinical_note.skin_integrity_abnormal.present? %>
              <div class="col-md-6">
                <b>Integrity :</b> <%= clinical_note.skin_integrity_abnormal.split(",").join(", ") %>
              </div>
              <% elsif clinical_note.skin_integrity == 'Abnormal' && !clinical_note.skin_integrity_abnormal.present? %>
                <div class="col-md-6">
                  <b>Integrity :</b> <span>Abnormal</span>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if clinical_note.secondary_comment.present? %>
          <div class="col-md-6 col-sm-6 col-xs-12 ">
            <b>Secondary Comment :</b> <span><%= clinical_note.secondary_comment %></span>
          </div>
        <% end %>
        <!-- Secondary Assessment Ends -->
      <% end %>
      <% if vital_sign_count > 0 %>
        <div class="row mb5">
          <div class="col-md-12 text-center">
            <b style="text-decoration:underline;">Vital Sign</b>
          </div>
        </div>
        <% if height_count > 0  %>
            <% if clinical_note.height.present? %>
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <b>Height :</b> <%= clinical_note.height %> <span>CM</span>
              </div>
            <% end %>
        <% end %>
        <% if blood_pressure_count > 0  %>
            <% if clinical_note.blood_pressure.present? %>
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <b>Blood Presseure :</b> <%= clinical_note.blood_pressure %> <span>mmHg</span>
              </div>
            <% end %>
        <% end %>
        <% if weight_count > 0  %>
            <% if clinical_note.weight.present? %>
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <b>Weight :</b> <%= clinical_note.weight %> <span>KG</sapn>
              </div>
            <% end %>
        <% end %>
        <% if pulse_count > 0  %>
            <% if clinical_note.pulse.present? %>
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <b>Pulse :</b> <%= clinical_note.pulse %> <span>per/min</sapn>
              </div>
            <% end %>
        <% end %>
        <% if bmi_count > 0  %>
            <% if clinical_note.bmi.present? %>
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <b>BMI :</b> <%= clinical_note.bmi %> <span>per/min</span>
              </div>
            <% end %>
        <% end %>
        <% if temperature_count > 0  %>
            <% if clinical_note.temperature.present? %>
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <b>Temperature:</b> <%= clinical_note.temperature %> <span>°F</sapn>
              </div>
            <% end %>
        <% end %>
        <% if respiratory_rate_count > 0  %>
            <% if clinical_note.respiratory_rate.present? %>
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <b>R.R :</b> <%= clinical_note.respiratory_rate %> <span>per/min</span>
              </div>
            <% end %>
        <% end %>
        <% if spo2_count > 0  %>
          <% if clinical_note.spo2.present? %>
            <div class="col-md-6 col-sm-6 col-xs-12 ">
              <b>SpO2 :</b>
              <% if clinical_note.spo2.to_i <= 90 %>
                <span style="color:red;">
                  <%= clinical_note.spo2 %> %
                </span>
              <% elsif clinical_note.spo2.to_i > 90 && clinical_note.spo2.to_i <= 94 %>
                <span style="color:orange;">
                  <%= clinical_note.spo2 %> %
                </span>
              <% else %>
                <span>
                  <%= clinical_note.spo2 %> %
                </span>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <% if vital_comment_count  > 0  %>
            <% if clinical_note.vital_comment.present? %>
              <div class="col-md-6 col-sm-6 col-xs-12 ">
                <b>Vital Comment :</b> <%= clinical_note.vital_comment %>
              </div>
            <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>