<% if false %>
  <% clinical_counter = 0 %>
  <% history_counter = 0 %>
  <% if @clinical_note.r_hpi.present? %>
    <% history_counter += 1 %>
  <% end %>
  <% if @clinical_note.r_refraction.present? || @clinical_note.l_refraction.present? || @clinical_note.r_iop.present? || @clinical_note.l_iop.present? || @clinical_note.r_appendages.present? || @clinical_note.l_appendages.present? || @clinical_note.r_anterior.present? || @clinical_note.l_anterior.present? || @clinical_note.r_eom.present? || @clinical_note.r_eom.present?%>
    <% clinical_counter = clinical_counter + 1 %>
  <% end %>

  <% if clinical_counter > 0 || history_counter >0%>
    <div class="row mb10">
      <div class="col-md-12">
        <div class="row">
          <strong>CLINCAL DETAILS :</strong>
          <div class="summary-line-border"></div>
        </div>
        <% if @clinical_note.r_hpi.present? %>
          <div class="row mb5">
            <div class="col-md-12">
              <b>History of Present Illness :</b> <%= @clinical_note.r_hpi %>
            </div>
          </div>
        <% end %>
        <% if clinical_counter> 0 %>
            <div class="row mb5">
              <div class="col-md-3">
              </div>
              <div class="col-md-4 text-center">
                <b>R/OD </b>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-4  text-center">
                <b>L/OS </b>
              </div>
            </div>
        <% end %>
        <% if @clinical_note.r_refraction.present? || @clinical_note.l_refraction.present?%>
          <div class="row mb5">
            <div class="col-md-3">
              <b>Refraction :</b>
            </div>
            <div class="col-md-4">
               <%= @clinical_note.r_refraction %>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
               <%= @clinical_note.l_refraction %>
            </div>
          </div>
        <% end %>
        <% if @clinical_note.r_iop.present? || @clinical_note.l_iop.present?%>
            <div class="row mb5">
              <div class="col-md-3">
                <b>IOP :</b>
              </div>
              <div class="col-md-4">
                 <%= @clinical_note.r_iop %>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-4">
                 <%= @clinical_note.l_iop %>
              </div>
            </div>
        <% end %>
        <% if @clinical_note.r_appendages.present? || @clinical_note.l_appendages.present?%>
            <div class="row mb5">
              <div class="col-md-3">
                <b>Appendages :</b>
              </div>
              <div class="col-md-4">
                <%= @clinical_note.r_appendages %>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-4">
                 <%= @clinical_note.l_appendages %>
              </div>
            </div>
        <% end %>
        <% if @clinical_note.r_anterior.present? || @clinical_note.l_anterior.present?%>
            <div class="row mb5">
              <div class="col-md-3">
                <b>Anterior Segment  :</b>
              </div>
              <div class="col-md-4">
                <% r_ant =  @clinical_note.r_anterior.gsub(/\n/, '|') %>
                <% r_ant.split("|") .each do |i|%>
                    <%= i %><br>
                <%end%>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-4">
                <% l_ant =  @clinical_note.l_anterior.gsub(/\n/, '|') %>
                <% l_ant.split("|") .each do |i|%>
                    <%= i %><br>
                <%end%>
              </div>
            </div>
        <% end %>
        <% if @clinical_note.r_posterior.present? || @clinical_note.l_posterior.present?%>
            <div class="row mb5">
              <div class="col-md-3">
                <b>Posterior Segment  :</b>
              </div>
              <div class="col-md-4">
                <%= @clinical_note.r_posterior %>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-4">
                <%= @clinical_note.l_posterior %>
              </div>
            </div>
        <% end %>
        <% if @clinical_note.r_eom.present? || @clinical_note.l_eom.present?  %>
          <div class="row mb5">
            <div class="col-md-3">
              <b>EOM :</b>
            </div>
            <div class="col-md-4">
              <%= @clinical_note.r_eom %>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
              <%= @clinical_note.l_eom %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<% @ophthal_investigations = @case_sheet.ophthal_investigations %>
<% @laboratory_investigations = @case_sheet.laboratory_investigations %>
<% @radiology_investigations = @case_sheet.radiology_investigations %>
<% @free_form_investigations = @case_sheet.free_form_investigations %>
<% if @case_sheet.free_form_histories.try(:count) > 0 || @case_sheet.diagnoses.try(:count) > 0 || @case_sheet.free_form_diagnoses.try(:count) > 0 || @case_sheet.procedures.try(:count) > 0 || @case_sheet.free_form_procedures.try(:count) > 0 || @ophthal_investigations.try(:count) > 0 || @laboratory_investigations.try(:count) > 0 || @radiology_investigations.try(:count) > 0 || @free_form_investigations.try(:count) > 0 %>
  <div class="row mb10">
    <div class="col-md-12">
      <div class="row">
        <strong>CLINCAL DETAILS :</strong>
        <div class="summary-line-border"></div>
      </div>
      <%= render partial: "inpatient/ipd_record/clinical_note/case_sheets/case_clinical_details.html.erb" %>
    </div>
  </div>
<% end %>

<div class="row mb20">
  <% if @ipdrecord.investigations.present?%>
      <div class="col-md-3">
        <b>Other Investigations:</b>
      </div>
      <div class="col-md-8">
        <p><%= @ipdrecord.investigations %></p>
      </div>
  <%end%>
</div>

<%= render partial: "inpatient/ipd_record/clinical_note/ophthalmology_notes/all_investigations_details.html.erb" %>
