<!-- File render Commented every where -->
<%= f.simple_fields_for :clinical_note do |clinical| %>
    <div class="row mb20 clinical_form_title">
      <div class="col-md-4 col-md-offset-2 panel panel-success" style="margin-top: 20px;" >
        <div class="panel-heading" style="padding: 0px">
          <h4 class="r-od" style="color: white;font-weight: 100;text-align: center;">R/OD</h4>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-1 panel panel-success" style="margin-top: 20px;" >
        <div class="panel-heading" style="padding: 0px">
          <h4 class="l-od" style="color: white;font-weight: 100;text-align: center;">L/OS</h4>
        </div>
      </div>
    </div>
    <div class="row mb20" style="margin-top:20px;">
      <div class="col-md-2">
        History of Present Illness :
      </div>
      <div class="col-md-7">
        <%= clinical.text_area :r_hpi, {style: "width:135%;display: none", placeholder: "Select Opd Record to copy data or Click on edit to add manually",class: "form-control r_hpi",:name => "inpatient_ipd_record[clinical_note_attributes][r_hpi]",value: @clinical_note.read_attribute(:r_hpi) ,rows: "4"} %>
            <p style=" text-overflow: ellipsis;"><%= (@clinical_note.read_attribute(:r_hpi) if @clinical_note.read_attribute(:r_hpi).present?)|| "________________________________________" %> &nbsp; &nbsp;<i class="fa fa-edit edit-para" style="cursor: pointer;color: #3a87ad"></i></p>
      </div>
    </div>
    <div class="row mb20" style="margin-top:20px;">
      <div class="col-md-2">
        Refraction :
      </div>
      <div class="col-md-3">
        <%= clinical.text_area :r_refraction, {style: "width:135%;display: none", placeholder: "Select Opd Record to copy data or Click on edit to add manually",class: "form-control r_refraction",:name => "inpatient_ipd_record[clinical_note_attributes][r_refraction]",value: @clinical_note.read_attribute(:r_refraction),rows: "2"} %>
        <p style=" text-overflow: ellipsis;"><%= (@clinical_note.read_attribute(:r_refraction)  if @clinical_note.read_attribute(:r_refraction).present?) || "________________________________________" %> &nbsp; &nbsp;<i class="fa fa-edit edit-para" style="cursor: pointer;color: #3a87ad"></i></p>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-3">
        <%= clinical.text_area :l_refraction, {style: "width:135%;display: none", placeholder: "Select Opd Record to copy data or Click on edit to add manually",class: "form-control l_refraction",:name => "inpatient_ipd_record[clinical_note_attributes][l_refraction]",value: @clinical_note.read_attribute(:l_refraction),rows: "2"} %>
        <p style=" text-overflow: ellipsis;"><%= (@clinical_note.read_attribute(:l_refraction) if @clinical_note.read_attribute(:l_refraction).present?) || "________________________________________" %> &nbsp; &nbsp;<i class="fa fa-edit edit-para" style="cursor: pointer;color: #3a87ad"></i></p>
      </div>
    </div>
    <div class="row mb20" style="margin-top:20px;">
      <div class="col-md-2">
        IOP :
      </div>
      <div class="col-md-3">
        <%= clinical.text_area :r_iop, {style: "width:135%;display: none", placeholder: "Select Opd Record to copy data or Click on edit to add manually",class: "form-control r_iop",:name => "inpatient_ipd_record[clinical_note_attributes][r_iop]",value: @clinical_note.read_attribute(:r_iop),rows: "2"} %>
         <p style=" text-overflow: ellipsis;"><%= (@clinical_note.read_attribute(:r_iop) if @clinical_note.read_attribute(:r_iop).present?) || "________________________________________" %> &nbsp; &nbsp;<i class="fa fa-edit edit-para" style="cursor: pointer;color: #3a87ad"></i></p>

      </div>
      <div class="col-md-2"></div>
      <div class="col-md-3">
        <%= clinical.text_area :l_iop, {style: "width:135%;display: none", placeholder: "Select Opd Record to copy data or Click on edit to add manually",class: "form-control l_iop",:name => "inpatient_ipd_record[clinical_note_attributes][l_iop]",value: @clinical_note.read_attribute(:l_iop),rows: "2"} %>
         <p style=" text-overflow: ellipsis;"><%= (@clinical_note.read_attribute(:l_iop) if @clinical_note.read_attribute(:l_iop).present?) || "________________________________________" %> &nbsp; &nbsp;<i class="fa fa-edit edit-para" style="cursor: pointer;color: #3a87ad"></i></p>
      </div>
    </div>
    <div class="row mb20" style="margin-top:20px;">
      <div class="col-md-2">
        Appendages :
      </div>
      <div class="col-md-3">
        <%= clinical.text_area :r_appendages, {style: "width:135%;display: none", placeholder: "Select Opd Record to copy data or Click on edit to add manually",class: "form-control r_appendages",:name => "inpatient_ipd_record[clinical_note_attributes][r_appendages]",value: @clinical_note.read_attribute(:r_appendages),rows: "2"} %>
         <p style=" text-overflow: ellipsis;"><%= (@clinical_note.read_attribute(:r_appendages) if  @clinical_note.read_attribute(:r_appendages).present?) || "________________________________________" %> &nbsp; &nbsp;<i class="fa fa-edit edit-para" style="cursor: pointer;color: #3a87ad"></i></p>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-3">
        <%= clinical.text_area :l_appendages, {style: "width:135%;display: none", placeholder: "Select Opd Record to copy data or Click on edit to add manually",class: "form-control l_appendages",:name => "inpatient_ipd_record[clinical_note_attributes][l_appendages]",value: @clinical_note.read_attribute(:l_appendages),rows: "2"} %>
         <p style=" text-overflow: ellipsis;"><%= (@clinical_note.read_attribute(:l_appendages) if @clinical_note.read_attribute(:l_appendages).present?) || "________________________________________" %> &nbsp; &nbsp;<i class="fa fa-edit edit-para" style="cursor: pointer;color: #3a87ad"></i></p>
      </div>
    </div>
    <div class="row mb20" style="margin-top:20px;">
      <div class="col-md-2">
        Anterior Segment :
      </div>
      <div class="col-md-3">
        <%= clinical.text_area :r_anterior, {style: "width:135%;display: none", placeholder: "Select Opd Record to copy data or Click on edit to add manually",class: "form-control r_anterior",:name => "inpatient_ipd_record[clinical_note_attributes][r_anterior]",value: @clinical_note.read_attribute(:r_anterior),rows: "2"} %>
         <p style=" text-overflow: ellipsis;"><%= (@clinical_note.read_attribute(:r_anterior) if @clinical_note.read_attribute(:r_anterior).present?) || "________________________________________" %> &nbsp; &nbsp;<i class="fa fa-edit edit-para" style="cursor: pointer;color: #3a87ad"></i></p>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-3">
        <%= clinical.text_area :l_anterior, {style: "width:135%;display: none", placeholder: "Select Opd Record to copy data or Click on edit to add manually",class: "form-control l_anterior",:name => "inpatient_ipd_record[clinical_note_attributes][l_anterior]",value: @clinical_note.read_attribute(:l_anterior),rows: "2"} %>
         <p style=" text-overflow: ellipsis;"><%= (@clinical_note.read_attribute(:l_anterior) if @clinical_note.read_attribute(:l_anterior).present?) || "________________________________________" %> &nbsp; &nbsp;<i class="fa fa-edit edit-para" style="cursor: pointer;color: #3a87ad"></i></p>
      </div>
    </div>

    <div class="row mb20" style="margin-top:20px;">
      <div class="col-md-2">
        Posterior Segment :
      </div>
      <div class="col-md-3">
        <%= clinical.text_area :r_posterior, {style: "width:135%;display: none", placeholder: "Select Opd Record to copy data or Click on edit to add manually",class: "form-control r_posterior",:name => "inpatient_ipd_record[clinical_note_attributes][r_posterior]",value: @clinical_note.read_attribute(:r_posterior),rows: "2"} %>
         <p style=" text-overflow: ellipsis;"><%= (@clinical_note.read_attribute(:r_posterior) if @clinical_note.read_attribute(:r_posterior).present?) || "________________________________________" %> &nbsp; &nbsp;<i class="fa fa-edit edit-para" style="cursor: pointer;color: #3a87ad"></i></p>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-3">
        <%= clinical.text_area :l_posterior, {style: "width:135%;display: none", placeholder: "Select Opd Record to copy data or Click on edit to add manually",class: "form-control l_posterior",:name => "inpatient_ipd_record[clinical_note_attributes][l_posterior]",value: @clinical_note.read_attribute(:l_posterior),rows: "2"} %>
         <p style=" text-overflow: ellipsis;"><%= (@clinical_note.read_attribute(:l_posterior) if @clinical_note.read_attribute(:l_posterior).present?) || "________________________________________" %> &nbsp; &nbsp;<i class="fa fa-edit edit-para" style="cursor: pointer;color: #3a87ad"></i></p>
      </div>
    </div>

    <div class="row mb20" style="margin-top:20px;">
      <div class="col-md-2">
        EOM :
      </div>
      <div class="col-md-3">
        <%= clinical.text_area :r_eom, {style: "width:135%;display: none", placeholder: "Select Opd Record to copy data or Click on edit to add manually",class: "form-control r_eom",:name => "inpatient_ipd_record[clinical_note_attributes][r_eom]",value: @clinical_note.read_attribute(:r_eom),rows: "2"} %>
         <p style=" text-overflow: ellipsis;"><%= (@clinical_note.read_attribute(:r_eom) if @clinical_note.read_attribute(:r_eom).present?) || "________________________________________" %> &nbsp; &nbsp;<i class="fa fa-edit edit-para" style="cursor: pointer;color: #3a87ad"></i></p>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-3">
        <%= clinical.text_area :l_eom, {style: "width:135%;display: none", placeholder: "Select Opd Record to copy data or Click on edit to add manually",class: "form-control l_eom",:name => "inpatient_ipd_record[clinical_note_attributes][l_eom]",value: @clinical_note.read_attribute(:l_eom),rows: "2"} %>
         <p style=" text-overflow: ellipsis;"><%= (@clinical_note.read_attribute(:l_eom) if @clinical_note.read_attribute(:l_eom).present?) || "________________________________________" %> &nbsp; &nbsp;<i class="fa fa-edit edit-para" style="cursor: pointer;color: #3a87ad"></i></p>
      </div>
    </div>
<% end %>

<div class="row mb30">
  <div class="col-md-2 ">
    Reason For Complaints :
    <input type="text" class="form-control" name="search_diagnosis_keyword" id="search_diagnosis_keyword" placeholder="Search Diagnosis" style= "width: 80%;" />
  </div>
  <!--<div class="col-md-3">-->
  <%#= f.text_area :reason_for_complaints, {style: "width:125%;", class: "form-control reason_for_complaints"} %>
  <input type="hidden" id="diagnosis_count" value="<%= @diagnosislist.count%>">
  <% if (current_user.department.name == "Orthopedics")%>
      <input type="hidden" id="opdrecord_specalityid" value="309989009" />
  <% elsif (current_user.department.name == "Ophthalmology")%>
      <input type="hidden" id="opdrecord_specalityid" value="309988001" />
  <%end%>

  <div class="col-md-10 opd_record_diagnosis">
    <%= render partial: "templates/common/soap_assessment_tab_diagnosis_icd_list" , locals: { diagnosislist: @diagnosislist,source: 'inpatient_ipd_record',record: @ipdrecord } %>
  </div>
  <div class="diagnosis-removed" style="display:none;"></div>
</div>

<div class="row mb20">
  <div class="col-md-2 ">
    Add Procedure:
    <input type="text" class="form-control ui-autocomplete-input" name="search_procedure_keyword" id="search_procedure_keyword" placeholder="Search Procedure" style="width: 80%;" autocomplete="off">
  </div>

  <div class="col-md-10">
    <table class="table table-bordered">
      <tbody id='procedure-added' class='procedure-added'>
      <%= render partial: "opd_records/ophthalmology_notes/opd_partials/soap_assessment_tab_procedures", locals: { procedures: @procedure,source: 'inpatient_ipd_record' } %>
      </tbody>
    </table>
    <div class="procedure-removed" style="display:none;">
    </div>
  </div>
</div>

<% @form_for = 'clinical_note' %>

<div class="row mb20">
  <div class="ophthal_investigations">
    <div class="col-md-2">
      Ophthal Investigations :
    </div>

     <div class="col-md-10">
      <table class="table table-bordered ophthal_investigations_table" style="background: #ffffff;" >
        <thead>
          <tr>
            <td class="text-center"><b>Investigation Name</b></td>
            <td class="text-center"><b>Investigation Remark</b></td>
            <td class="text-center"><b>Doctor Remark</b></td>
            <td class="text-center"><b>Investigation Value </b></td>
            <td></td>
          </tr>
        </thead>
        <tbody id='ophthal-investigations-added' class='ophthal-investigations-added'>
          <!-- <tr class="table-row-add-ophthal-button">
            <div class="alert" style="margin-bottom: -5px;padding: 6px;">
              <button class="btn btn-primary add-new-ophthal-inv">Add Ophthal Investigation <i class="fa fa-plus"></i></button>
            </div>
          </tr> -->
          <%= render partial: "ophthal_investigations_list", locals: { ophthal_investigations_list: @ophthal_investigations,source: 'inpatient_ipd_record' } %>
        </tbody>
      </table>
      <div class="ophthal-investigations-removed" style="display:none;">
      </div>
    </div>
  </div>
</div>

<div class="row mb20">
  <div class="radiology_investigations">
    <div class="col-md-2">
      Radiology Investigations :
    </div>

     <div class="col-md-10">
      <table class="table table-bordered radiology_investigations_table" style="background: #ffffff;" >
        <thead>
          <tr>
            <td class="text-center"><b>Investigation Name</b></td>
            <td class="text-center"><b>Investigation Remark</b></td>
            <td class="text-center"><b>Doctor Remark</b></td>
            <td class="text-center"><b>Investigation Value </b></td>
            <td></td>
          </tr>
        </thead>
        <tbody id='radiology-investigations-added' class='radiology-investigations-added'>
          <!-- <tr class="table-row-add-radiology-button">
            <div class="alert" style="margin-bottom: -5px;padding: 6px;">
              <button class="btn btn-primary add-new-radiology-inv">Add Radiology Investigation <i class="fa fa-plus"></i></button>
            </div>
          </tr> -->
          <%= render partial: "radiology_investigations_list", locals: { radiology_investigations_list: @radiology_investigations,source: 'inpatient_ipd_record' } %>
        </tbody>
      </table>
      <div class="radiology-investigations-removed" style="display:none;">
      </div>
    </div>
  </div>
</div>

<div class="row mb20">
  <div class="laboratory_investigations">
    <div class="col-md-2">
      Laboratory Investigations :
    </div>

     <div class="col-md-10">
      <table class="table table-bordered laboratory_investigations_table" style="background: #ffffff;" >
        <thead>
          <tr>
            <td class="text-center"><b>Investigation Name</b></td>
            <td class="text-center"><b>Investigation Remark</b></td>
            <td class="text-center"><b>Doctor Remark</b></td>
            <td class="text-center"><b>Investigation Value </b></td>
            <td class="text-center"><b>Normal Range</b></td>
            <td></td>
          </tr>
        </thead>
        <tbody id='laboratory-investigations-added' class='laboratory-investigations-added'>
          <!-- <tr class="table-row-add-laboratory-button">
            <div class="alert" style="margin-bottom: -5px;padding: 6px;">
              <button class="btn btn-primary add-new-laboratory-inv">Add Laboratory Investigation <i class="fa fa-plus"></i></button>
            </div>
          </tr> -->
          <%= render partial: "laboratory_investigations_list", locals: { laboratory_investigations_list: @laboratory_investigations,source: 'inpatient_ipd_record' } %>
        </tbody>
      </table>
      <div class="laboratory-investigations-removed" style="display:none;">
      </div>
    </div>
  </div>
</div>

<div class="row mb20">
  <div class="other_investigations">
    <div class="col-md-2">
      Other Investigations :
    </div>

    <div class="col-md-6">
      <%= text_area_tag "inpatient_ipd_record[investigations]",@ipdrecord.investigations ,class: 'form-control',rows: 2, placeholder: 'Enter other investigations'  %>
    </div>
  </div>
</div>


<style>
.opd-dropdown
{
  padding: 7px;
  position: fixed;
  margin-top: -10px;
  width: 96%;
  background-color: #fff;
  height: 52px;
  color: #636e7b;
  z-index: 10000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #c7c6c7;
}
</style>


