<% admission_summary_counter = 0 %>
<% if @ipdrecord.admissionreason.present? || @ipdrecord.expected_stay? || @admission.dischargedate.present? || @ipdrecord.ipd_payment_type.present? || @clinical_note.ipd_billing_category.present? || @ipdrecord.medico_legal_case.present? || @tpa.insurance_name.present? || @tpa.tpa_name.present?  || @tpa.bracket_amount.present? || @tpa.approved_amount.present? || @ipdrecord.has_ophthal_investigations_list? || @ipdrecord.has_radiology_investigations_list? || @ipdrecord.has_laboratory_investigations_list? || @case_sheet.present? %>
  <% admission_summary_counter = admission_summary_counter + 1 %>
<% end %>

<% if admission_summary_counter > 0 %>
  <div class="row">
    <div class="col-md-12">
      <% if @ipdrecord.admissionreason.present? || @admission.dischargedate.present? || @ipdrecord.expected_stay.present? %>
        <div class="row ">
          <% if @ipdrecord.admissionreason.present? %>
            <div class="col-md-6">
              <b>Reason For Admission :</b> <%= @ipdrecord.admissionreason %>
            </div>
          <% end %>
          <% if @admission.dischargedate.present? || @ipdrecord.expected_stay.present? %>
            <div class="col-md-6">
              <% if @ipdrecord.expected_stay.present? %>
                <b>Expected Stay :</b> <%= @ipdrecord.expected_stay %><br>
              <% end %>
              <% if @admission.dischargedate.present? %>
                <b>Expected Discharge Date:</b> <%= @admission.try(:dischargedate).try(:strftime, "%d/%m/%Y") %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
      <% if @ipdrecord.ipd_payment_type.present? || @clinical_note.ipd_billing_category.present? || @ipdrecord.medico_legal_case.present? %>
        <div class="row ">
          <% if @ipdrecord.ipd_payment_type.present? %>
            <div class="col-md-4">
              <b>Payment Type :</b> <%= @ipdrecord.ipd_payment_type %>
            </div>
          <% end %>
          <% if @clinical_note.ipd_billing_category.present? %>
            <div class="col-md-4">
              <b>Billing Category :</b> <%= @clinical_note.ipd_billing_category %>
            </div>
          <% end %>
          <% if @ipdrecord.medico_legal_case.present? %>
            <div class="col-md-4">
              <b>Medico-Legal Case :</b> <%= @ipdrecord.medico_legal_case %>
            </div>
          <% end %>
        </div>
      <% end %>
      
      <% @ophthal_investigations = @case_sheet.ophthal_investigations.where(ipd_record_id: @ipdrecord.id.to_s) %>
      <% @laboratory_investigations = @case_sheet.laboratory_investigations.where(ipd_record_id: @ipdrecord.id.to_s) %>
      <% @radiology_investigations = @case_sheet.radiology_investigations.where(ipd_record_id: @ipdrecord.id.to_s) %>
      <% @free_form_investigations = @case_sheet.free_form_investigations %>
      <% if @case_sheet.free_form_histories.try(:count) > 0 || @case_sheet.diagnoses.try(:count) > 0 || @case_sheet.free_form_diagnoses.try(:count) > 0 || @case_sheet.procedures.try(:count) > 0 || @case_sheet.free_form_procedures.try(:count) > 0 || @ophthal_investigations.try(:count) > 0 || @laboratory_investigations.try(:count) > 0 || @radiology_investigations.try(:count) > 0 || @free_form_investigations.try(:count) > 0 %>
        <%= render partial: "inpatient/ipd_record/clinical_note/case_sheets/case_clinical_details.html.erb" %>
      <% end %>

      <%= render partial: "inpatient/ipd_record/clinical_note/ophthalmology_notes/all_investigations_details.html.erb" %>
    </div>
  </div>
<% end %>

<!--Signature-->
<%= render partial: 'common/user_signature.html.erb',locals: {user_id: @admission.doctor} %>
<!--Signature Ends-->
