<% if laboratory_investigations_list.count > 0 %>
 
  <% laboratory_investigations_list.each_with_index do |elem, i| %>
    <tr class="table-row-laboratory">
      <% unless @action == "New" %>
        <%= hidden_field_tag "#{source}[laboratory_investigations_list_attributes][#{i}][id]", elem.id, {:class => 'id' } %>
      <% end %>
      <%= hidden_field_tag "#{source}[laboratory_investigations_list_attributes][#{i}][_destroy]", "0" %>
      <%= hidden_field_tag "#{source}[laboratory_investigations_list_attributes][#{i}][investigationname]", elem.investigationname %>
      <%= hidden_field_tag "#{source}[laboratory_investigations_list_attributes][#{i}][investigation_comment]", elem.investigation_comment %>
      <%= hidden_field_tag "#{source}[laboratory_investigations_list_attributes][#{i}][investigation_val]", elem.investigation_val %>
      <%= hidden_field_tag "#{source}[laboratory_investigations_list_attributes][#{i}][normal_range]", elem.normal_range %>
      <%= hidden_field_tag "#{source}[laboratory_investigations_list_attributes][#{i}][investigation_id]", elem.investigation_id %>
      <%= hidden_field_tag "#{source}[laboratory_investigations_list_attributes][#{i}][specimen_type]", elem.specimen_type %>
      <%= hidden_field_tag "#{source}[laboratory_investigations_list_attributes][#{i}][investigationadviseddate]", elem.investigationadviseddate %>
      <%= hidden_field_tag "#{source}[laboratory_investigations_list_attributes][#{i}][investigationstage]", elem.investigationstage %>
      <%= hidden_field_tag "#{source}[laboratory_investigations_list_attributes][#{i}][investigation_performed]", elem.investigation_performed %>
      <%= hidden_field_tag "#{source}[laboratory_investigations_list_attributes][#{i}][investigationfullcode]", elem.investigationfullcode %>
      <%= hidden_field_tag "#{source}[laboratory_investigations_list_attributes][#{i}][loinc_code]", elem.loinc_code %>
      <%= hidden_field_tag "#{source}[laboratory_investigations_list_attributes][#{i}][loincclass]", elem.loincclass %>

      <td class="text-center"><%= elem.investigationname %></td>
      <td class="text-center"><%= (elem.investigation_comment if elem.investigation_comment.present? )|| '-'  %></td>
      <td class="text-center"><%= (elem.doctors_remark if elem.doctors_remark.present? )|| '-'  %></td>
      <% if elem.laboratory_panel_records.count > 0 %>
        <td colspan="2" class="text-center">
          <b style="font-style: italic">Sub - investigations present</b>
        </td>
      <%else%>
        <td class="text-center"><%= (elem.investigation_val if elem.investigation_val.present? )|| '-'  %></td>
        <td class="text-center"><%= (elem.normal_range if elem.normal_range.present? )|| '-'  %></td>
      <%end%>
      
      <td style="width:10%;" class="buttons_td">
        <% if @form_for == 'clinical_note' %>  
          <a id="removelaboratoryinvestigationbutton<%=i%>" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
        <% end %>

        <% if elem.laboratory_panel_records.count > 0 %>
          <a class="btn btn-xs btn-primary row-toggle-button-show" button-id="panel_records_row_<%=i%>"><i class="fa fa-arrow-down"></i></a>
          <a class="btn btn-xs btn-primary row-toggle-button-hide" style="display: none" button-id="panel_records_row_<%=i%>"><i class="fa fa-arrow-up"></i></a>
        <% end %>
      </td>
    </tr>

    <% if elem.laboratory_panel_records.count > 0 %> 
      <tr style="display: none;background-color:#bbb;" parent-row-id="panel_records_row_<%=i%>">
        <td colspan="6" style="padding:5px 10px 2px;">
          <table class="table table-bordered" style="margin: 0 0 5px;" >
            <thead>
              <tr>
                <th>Investigation Name:</th>
                <th>Investigation Value:</th>
                <th>Normal range:</th>
              </tr>
            </thead>
            <tbody style="font-style: italic">
              <% elem.laboratory_panel_records.each_with_index do |panel_record, j| %>
                <% unless @action == "New" %>
                  <%= hidden_field_tag "#{source}[laboratory_investigations_list_attributes][#{i}][laboratory_panel_records][#{j}][id]", panel_record.id, {:class => 'id' } %>
                <% end %>
                  <%= hidden_field_tag "#{source}[laboratory_investigations_list_attributes][#{i}][laboratory_panel_records][#{j}][investigation_name]", panel_record.investigation_name %>
                  <%= hidden_field_tag "#{source}[laboratory_investigations_list_attributes][#{i}][laboratory_panel_records][#{j}][investigation_val]", panel_record.investigation_val %>
                  <%= hidden_field_tag "#{source}[laboratory_investigations_list_attributes][#{i}][laboratory_panel_records][#{j}][normal_range]", panel_record.normal_range %>
                  <%= hidden_field_tag "#{source}[laboratory_investigations_list_attributes][#{i}][laboratory_panel_records][#{j}][loinc_code]", panel_record.loinc_code %>   
                <tr>
                  <td style="width:27%;"><%= panel_record.investigation_name %> </td>
                  <td style="width:27%;"><%= panel_record.investigation_val %></td>
                  <td style="width:24%;"><%= panel_record.normal_range %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </td>
      </tr>
    <% end %>
  <% end %>
<% end %>


<script type="text/javascript">
  $('.row-toggle-button-show').on('click', function(){
    $(this).hide();
    $(this).parent('.buttons_td').find('.row-toggle-button-hide').show()

    var button_id = $(this).attr('button-id')
    $("tr[parent-row-id="+ button_id + "]").show()
  })

  $('.row-toggle-button-hide').on('click', function(){
    $(this).hide();
    $(this).parent('.buttons_td').find('.row-toggle-button-show').show()

    var button_id = $(this).attr('button-id')
    $("tr[parent-row-id="+ button_id + "]").hide()
  })
</script>


