<% if ophthal_investigations_list.count > 0 %>
  <% ophthal_investigations_list.each_with_index do |elem, i| %>
    <tr class="table-row-ophthals">

      <% investigation_name = elem.investigationname.to_s %>
      <% unless @action == "New" %>
        <%= hidden_field_tag "#{source}[ophthal_investigations_list_attributes][#{i}][id]", elem.id, {:class => 'id' } %>
      <% else %>
        <% if elem.try(:investigationside).present? %>
          <% investigation_name = investigation_name + "  (#{elem.get_label_for_ophthal_investigation_side(elem.investigationside)})" %>
        <% end %>
      <% end %>
      
      <%= hidden_field_tag "#{source}[ophthal_investigations_list_attributes][#{i}][_destroy]", "0" %>
      <%= hidden_field_tag "#{source}[ophthal_investigations_list_attributes][#{i}][investigationname]", investigation_name %>
      <%= hidden_field_tag "#{source}[ophthal_investigations_list_attributes][#{i}][investigation_comment]", elem.investigation_comment %> 
      <%= hidden_field_tag "#{source}[ophthal_investigations_list_attributes][#{i}][doctors_remark]", elem.doctors_remark %>
      <%= hidden_field_tag "#{source}[ophthal_investigations_list_attributes][#{i}][investigation_id]", elem.investigation_id %>
      <%= hidden_field_tag "#{source}[ophthal_investigations_list_attributes][#{i}][investigation_performed]", elem.investigation_performed %>
      <%= hidden_field_tag "#{source}[ophthal_investigations_list_attributes][#{i}][investigation_val]", elem.investigation_val %>
      <%= hidden_field_tag "#{source}[ophthal_investigations_list_attributes][#{i}][investigationadviseddate]", elem.investigationadviseddate %>
      <%= hidden_field_tag "#{source}[ophthal_investigations_list_attributes][#{i}][investigationfullcode]", elem.investigationfullcode %>
      <%= hidden_field_tag "#{source}[ophthal_investigations_list_attributes][#{i}][investigationside]", elem.investigationside %>
      <%= hidden_field_tag "#{source}[ophthal_investigations_list_attributes][#{i}][investigationstage]", elem.investigationstage %>
      
      <td class="text-center"><%= investigation_name %></td>
      <td class="text-center"><%= (elem.investigation_comment if elem.investigation_comment.present? )|| '-'  %></td>
      <td class="text-center"><%= (elem.doctors_remark if elem.doctors_remark.present? )|| '-'  %></td>
      <td class="text-center"><%= (elem.investigation_val if elem.investigation_val.present? )|| '-'  %></td>
      <td style="width:4%;" class="buttons_td">
        <% if @form_for == 'clinical_note' %>  
          <a id="removeophthalinvestigationbutton<%=i%>" class="btn btn-xs btn-danger" name="removeophthalinvestigationbutton"><i class="fa fa-times"></i></a>
        <% end %>
      </td>
    </tr>
  <% end %>
<% end %>