<% admission_summary_counter = 0 %>
<% if @ipdrecord.admissionreason.present? || @ipdrecord.expected_stay.present? || @admission.dischargedate.present? || @ipdrecord.ipd_payment_type.present? || @clinical_note.ipd_billing_category.present? || @ipdrecord.medico_legal_case.present? || @case_sheet.present? %>
  <% admission_summary_counter = admission_summary_counter + 1 %>
<% end %>

<% if admission_summary_counter > 0 %>
  <div class="row mb10">
    <div class="col-md-12">
      <% if @ipdrecord.admissionreason.present? || @admission.dischargedate.present? || @ipdrecord.expected_stay.present? %>
        <div class="row mb20">
        <% if @ipdrecord.admissionreason.present? %>
          <div class="col-md-6">
            <b>Reason For Admission :</b> <%= @ipdrecord.admissionreason %>
          </div>
        <% end %>
        <% if @admission.dischargedate.present? || @ipdrecord.read_attribute(:expected_stay).present? %>
          <div class="col-md-6">
            <% if @ipdrecord.read_attribute(:expected_stay).present? %>
              <b>Expected Stay :</b> <%= @ipdrecord.read_attribute(:expected_stay) %><br>
            <% end %>
            <% if @admission.dischargedate.present? %>
              <b>Expected Discharge Date:</b> <%= @admission.dischargedate %>
            <% end %>
          </div>
        <% end %>
        </div>
      <% end %>
      <% if @ipdrecord.ipd_payment_type.present? || @ipdrecord.ipd_billing_category.present? || @ipdrecord.medico_legal_case.present? %>
        <div class="row mb20">
          <% if @ipdrecord.ipd_payment_type.present? %>
            <div class="col-md-4">
              <b>Payment Type :</b> <%= @ipdrecord.ipd_payment_type %>
            </div>
          <% end %>
          <% if @ipdrecord.ipd_billing_category.present? %>
            <div class="col-md-4">
              <b>Billing Category :</b> <%= @ipdrecord.ipd_billing_category %>
            </div>
          <% end %>
          <% if @ipdrecord.medico_legal_case.present? %>
            <div class="col-md-4">
              <b>Medico-Legal Case :</b> <%= @ipdrecord.medico_legal_case %>
            </div>
          <% end %>
        </div>
      <% end %>
      
      <% @ophthal_investigations = @case_sheet.ophthal_investigations %>
      <% @laboratory_investigations = @case_sheet.laboratory_investigations %>
      <% @radiology_investigations = @case_sheet.radiology_investigations %>
      <% @free_form_investigations = @case_sheet.free_form_investigations %>
      <% if @case_sheet.free_form_histories.try(:count) > 0 || @case_sheet.diagnoses.try(:count) > 0 || @case_sheet.free_form_diagnoses.try(:count) > 0 || @case_sheet.procedures.try(:count) > 0 || @case_sheet.free_form_procedures.try(:count) > 0 || @ophthal_investigations.try(:count) > 0 || @laboratory_investigations.try(:count) > 0 || @radiology_investigations.try(:count) > 0 || @free_form_investigations.try(:count) > 0 %>
        <%= render partial: "inpatient/ipd_record/clinical_note/case_sheets/case_clinical_details.html.erb" %>
      <% end %>

      <%= render partial: "inpatient/ipd_record/clinical_note/#{@speciality_folder_name}_notes/all_investigations_details.html.erb" %>
    </div>
  </div>
<% end %>



<!--Signature-->
    <%= render partial: 'common/user_signature.html.erb',locals: {user_id: @admission.doctor} %>
<!--Signature Ends-->