<div class="row">
  <div class="col-md-12" style="background: white;">
    <strong style="text-decoration: underline; color: #1E90FF;">Item Details:</strong>

    <div class="row mb10">
      <div class="col-md-4 item-category">
        <div class="col-sm-4">
          <label for="" class="control-label item-label required">Category</label>  
        </div>
        <div class="col-sm-8">
          <select id="item_category" class="form-control">
            <% unless @inventory_store.department_id == "50121007" %>
              <option value="Medication">Medication</option>
              <option value="Consumable">Consumable</option>
            <% end %>
            <% unless @inventory_store.department_id == "284748001" %>
              <option value="OpticalFrame">Frame</option>
              <option value="OpticalContact">Contact Lens</option>
              <option value="OpticalSpectacle">Spectacle Lens</option>
              <option value="IntraocularLens">Intraocular Lens (IOL)</option>
            <% end %>
            <option value="Implant">Implant</option>
            <option value="Miscellaneous">Miscellaneous</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="col-sm-4">
          <label for="" class="item-label control-label">HSN Code</label>  
        </div>
        <div class="col-sm-8">
          <%= f.text_field :hsn_no,{ :class=> "form-control p7_10 mb5", :placeholder=>"HSN Code" } %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="col-md-8">
          <%= f.label :expiry_present, class: 'item-label' %>:
        </div>
        <div class="col-md-4" style="padding-top: 2px;">
          <span class="ckbox ckbox-primary" style="">
            <%= f.check_box :expiry_present , { checked: true }, 'true', 'false'  %>
            <label style=" " for="inventory_item_expiry_present"></label>
          </span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="col-md-8">
          <%= f.label :prescription_mandatory, class: 'item-label' %>:
        </div>
        <div class="col-md-4" style="padding-top: 2px;">
          <span class="ckbox ckbox-primary" style="">
            <%= f.check_box :prescription_mandatory , { checked: true }, 'true', 'false'  %>
            <label style=" " for="inventory_item_prescription_mandatory"></label>
          </span>
        </div>
      </div>
    </div>
    <div class="row mb10">
      <div class="col-md-4">
        <div class="col-sm-4">
          <label for="" class="control-label item-label required">Description</label>  
        </div>
        <div class="col-sm-8">
          <%= f.text_field :description,{ :class=> "form-control p7_10 mb5", :placeholder=>"Description / Name" } %>  
        </div>
      </div>
      <div class="col-md-3">
        <div class="col-sm-5">
          <label for="" class="control-label item-label required">Manufacturer</label>  
        </div>
        <div class="col-sm-7">
          <%= f.text_field :manufacturer,{ :class=> "form-control p7_10 mb5", :placeholder=>"Manufacturer Name" } %>  
        </div>
      </div>
      <div class="col-md-2">
        <div class="col-md-8">
          <%= f.label :tax_inclusive, class: 'item-label' %>:
        </div>
        <div class="col-md-4" style="padding-top: 2px;">
          <span class="ckbox ckbox-primary" style="">
            <%= f.check_box :tax_inclusive , { checked: true }, 'true', 'false'  %>
          <label style=" " for="inventory_item_tax_inclusive"></label>
          </span>
        </div>
      </div>

      <div class="col-md-2">
          <div class="col-md-4">
            <%= f.label :tax_id, class: 'item-label' %>:
          </div>
          <div class="col-md-8" style="padding: 0;">
            <input type="hidden" name="inventory_item[tax_rate]" value="" class="inventory_item_tax_rate">
            <input type="hidden" name="inventory_item[tax_name]" value="" class="inventory_item_tax_name">
            <select name="inventory_item[tax_group_id]" id="inventory_item_tax_group_id" class='form-control tax_group_id mb5' style="padding: 7px 1px;">
              <option value="">Please select</option>
              <% @tax_groups.each do |tax_group| %>
                <option value="<%= tax_group.id.to_s %>" data-tax-rate='<%= tax_group.rate %>' data-tax-name="<%= tax_group.name %>"><%= tax_group.name %> - <%= tax_group.rate %>%</option>
              <% end %>
            </select>
          </div>
      </div>
    </div>
  </div>

  <div class="col-md-12" style="background: white;border-top: 6px solid #e4e7ea;">
    <strong style="text-decoration: underline; color: #1E90FF;">Dispensing Unit:</strong>
    <div class="row mb10 col-md-12">
      <div class="col-md-3">
        <label for="" class="control-label">Dispensing Unit</label>
        <%= f.select :dispensing_unit, [['Tablets','Tablets'],['Capsules','Capsules'],['Sachets','Sachets'],['Syrups','Syrups'],['Spray','Spray'],['Implant','Implant'],['IOL','IOL'],['Powder','Powder'],['Eyedrops','Eyedrops'],['Vaccines','Vaccines'],['Ointment','Ointment'],['Granules','Granules'],['Inhalers','Inhalers'],['Rotacaps','Rotacaps'],['Oraldrops','Oraldrops'],['Eardrops','Eardrops'],['Cream','Cream'],['Aerosols','Aerosols'],['Cartridges','Cartridges'],['Gel','Gel'],['Enema','Enema'],['Suppository','Suppository'],['Pessary','Pessary'],['Lotion','Lotion'],['Nosedrops','Nosedrops'],['Solution','Solution'],['Suspension','Suspension'],['Injectable','Injectable'],['Cap','Cap'], ['Mask', 'Mask'],['Gloves', 'Gloves'], ['Needle', 'Needle'], ['Syringe', 'Syringe'], ['Surgical Blade', 'Surgical Blade'], ['MVR', 'MVR'], ['Keratome', 'Keratome'], ['Drape', 'Drape'], ['Eyeshield', 'Eyeshield'], ['Plain Towel', 'Plain Towel'], ['Roll', 'Roll'], ['Pair', 'Pair']], { :prompt => 'Select' } ,{ :class=> "form-control dispensing-unit-dd" } %>
      </div>
      <div class="col-md-2">
        <label for="" class="control-label">Package Type <i class="fa fa-info-circle hg-tooltip" title="Packaging In a Box,Pack,Strip,Bottle,Etc." style="cursor:help;"></i></label>
        <%= f.select :package_type, [ "Box", "Pack", "Ampule", "Case", "Dose Pack", "Bottle, Plastic", "Blister Pack", "Package", "Not Stated", "Packet","Supersack", "Tube", "Strip", "Pair"], { :prompt => 'Select' } ,{ :class=> "form-control dispensing-unit-dd",:style=> "display: inline; font-size: 9px" } %>
      </div>
      <div class="col-md-3">
        <label for="" class="control-label">#Sub package/Package <i class="fa fa-info-circle hg-tooltip" title="Total No. of Strip,Bottle,Etc." style="cursor:help;"></i></label>
        <div class="col-md-12">
          <div class="col-md-3" style="padding: 0">
            <%= f.number_field :sub_package_units,{ value: "1",class: "form-control p5_2 mb5", placeholder: "",min: 1 } %>
          </div>
          <div class="col-md-6">
            <%= f.select :sub_package_type, [['Number','Number'],['Strip','Strip'],['Ampule','Ampule'],['Applicator','Applicator'],['Bag','Bag'],['Blister Pack','Blister Pack'],['Bottle, with Applicator','Bottle, with Applicator'],['Bottle, Dispensing','Bottle, Dispensing'],['Bottle, Dropper','Bottle, Dropper'],['Bottle, Glass','Bottle, Glass'],['Bottle, Plastic','Bottle, Plastic'],['Bottle, Pump','Bottle, Pump'],['Bottle, Spray','Bottle, Spray'],['Bottle, Unit-Dose','Bottle, Unit-Dose'],['Box','Box'],['Pack','Pack'],['Box, Unit-Dose','Box, Unit-Dose'],['Can','Can'],['Canister','Canister'],['Carton','Carton'],['Cartridge','Cartridge'],['Case','Case'],['Cello Pack','Cello Pack'],['Container','Container'],['Cup','Cup'],['Cup, Unit-Dose','Cup, Unit-Dose'],['Cylinder','Cylinder'],['Dewar','Dewar'],['DialPack','DialPack'],['Dose Pack','Dose Pack'],['Drum','Drum'],['Inhaler','Inhaler'],['Inhaler, Refill','Inhaler, Refill'],['Jar','Jar'],['Jug','Jug'],['Kit','Kit'],['Not Stated','Not Stated'],['Package','Package'],['Package, Combination','Package, Combination'],['Packet','Packet'],['Pouch','Pouch'],['Supersack','Supersack'],['Syringe','Syringe'],['Syringe, Glass','Syringe, Glass'],['Syringe, Plastic','Syringe, Plastic'],['Tambinder','Tambinder'],['Tray','Tray'],['Tube','Tube'],['Tube, With Applicator','Tube, With Applicator'],['Vial','Vial'],['Vial, Dispensing','Vial, Dispensing'],['Vial, Glass','Vial, Glass'],['Vial, Multi-Dose','Vial, Multi-Dose'],['Vial, Patent Delivery System','Vial, Patent Delivery System'],['Vial, Pharmacy Bulk Package','Vial, Pharmacy Bulk Package'],['Vial, Piggyback','Vial, Piggyback'],['Vial, Plastic','Vial, Plastic'],['Vial, Single-Dose','Vial, Single-Dose'],['Vial, Single-Use','Vial, Single-Use'], ['Pair', 'Pair']], { :prompt => 'Select' } ,{ :class=> "form-control dispensing-unit-dd",:style=> "display: inline; font-size: 9px" } %>
          </div>
          <div class="col-md-3" style="padding-top: 5px;">
            <span style="font-size: x-large;">/</span> <span class="package-type-text">Box</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <label for="" class="control-label">#Unit/Sub package <i class="fa fa-info-circle hg-tooltip" title="Total No. of Strip,Bottle,Etc." style="cursor:help;"></i></label>
        <div class="col-md-12">
          <div class="col-sm-3">
            <%= f.number_field :item_units,{ value: "1",class: "form-control p5_2 mb5", placeholder: "",min: 1 } %>
          </div>
          <div class="col-sm-6">
            <%= f.select :item_type, [['Number','Number'],['Ampule','Ampule'],['Applicator','Applicator'],['Bottle, with Applicator','Bottle, with Applicator'],['Bottle, Dispensing','Bottle, Dispensing'],['Bottle, Dropper','Bottle, Dropper'],['Bottle, Glass','Bottle, Glass'],['Bottle, Plastic','Bottle, Plastic'],['Bottle, Pump','Bottle, Pump'],['Bottle, Spray','Bottle, Spray'],['Bottle, Unit-Dose','Bottle, Unit-Dose'],['Box','Box'],['Pack','Pack'],['Box, Unit-Dose','Box, Unit-Dose'],['Can','Can'],['Canister','Canister'],['Carton','Carton'],['Cartridge','Cartridge'],['Case','Case'],['Cello Pack','Cello Pack'],['Container','Container'],['Cup','Cup'],['Cup, Unit-Dose','Cup, Unit-Dose'],['Cylinder','Cylinder'],['Dewar','Dewar'],['DialPack','DialPack'],['Dose Pack','Dose Pack'],['Drum','Drum'],['Inhaler','Inhaler'],['Inhaler, Refill','Inhaler, Refill'],['Jar','Jar'],['Jug','Jug'],['Not Stated','Not Stated'],['Syringe','Syringe'],['Syringe, Glass','Syringe, Glass'],['Syringe, Plastic','Syringe, Plastic'],['Tambinder','Tambinder'],['Tray','Tray'],['Tube','Tube'],['Tube, With Applicator','Tube, With Applicator'],['Vial','Vial'],['Vial, Dispensing','Vial, Dispensing'],['Vial, Glass','Vial, Glass'],['Vial, Multi-Dose','Vial, Multi-Dose'],['Vial, Patent Delivery System','Vial, Patent Delivery System'],['Vial, Plastic','Vial, Plastic'],['Vial, Single-Dose','Vial, Single-Dose'],['Vial, Single-Use','Vial, Single-Use'], ['Pair','Pair']], { :prompt => 'Select' } ,{ :class=> "form-control dispensing-unit-dd",:style=> "display: inline; font-size: 9px" } %>
          </div>
          <div class="col-md-3" style="padding-top: 5px;">
            <span style="font-size: x-large;">/</span> <span class="sub-package-type-text">Number</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12" style="background: white;border-top: 6px solid #e4e7ea;padding-left: 0;">
    <div class="col-sm-6" style="padding-right: 0;padding-left: 0;">
      <div class="col-md-12">
        <div class="col-md-12" style="padding: 0;">
          <strong style="text-decoration: underline; color: #1E90FF;">Low Stock Warning:</strong>        
        </div>
        <div class="col-md-5">
          <div class="col-md-8">
            <%= f.label :fixed_threshold, class: 'item-label' %>:
          </div>
          <div class="col-md-4" style="padding-top: 2px;">
            <span class="ckbox ckbox-primary" style="">
              <%= f.check_box :fixed_threshold , { checked: false }, 'true', 'false'  %>
              <label style=" " for="inventory_item_fixed_threshold"></label>
            </span>
          </div>
        </div>
        <div class="col-md-7 threshold-value-container">
          <%= f.text_field :threshold_value,{ :class => 'set-item-threshold-value form-control p7_10 mb5', onkeypress: 'return event.charCode >= 48 && event.charCode <= 57', required: true } %>
        </div>        
        <div class="col-md-7 min-stock-percentages item-label">
          <div class="col-sm-4">
            <label for="" class="control-label">Min. Stock <i class="fa fa-info-circle hg-tooltip" title="Warns You if Stock(After Last Purchase) Goes Less Than Selected Percentage" style="cursor:help;"></i></label>          
          </div>
          <div class="col-md-8">
            <div>
              <%= f.hidden_field :threshold_value,{ :class => 'item-threshold-value' } %>
            </div>

            <div class="col-md-4" style="padding: 0px;">
              <div class="rdio rdio-primary rdio-changes">
                <%= f.radio_button :threshold, "10", { :class => 'radio-inline', id: "item_threshold1" } %>
                <label style="padding-left:5px;" for="item_threshold1"> 10&#37;</label>
              </div>
            </div>
            <div class="col-md-4" style="padding: 0px;">
              <div class="rdio rdio-primary rdio-changes">
                <%= f.radio_button :threshold, "20", { :class => 'radio-inline', id: "item_threshold2" } %>
                <label style="padding-left:5px;" for="item_threshold2"> 20&#37;</label>
              </div>
            </div>
            <div class="col-md-4" style="padding: 0px;">
              <div class="rdio rdio-primary rdio-changes">
                <%= f.radio_button :threshold, "30", { :checked => true, :class => 'radio-inline', id: "item_threshold3" } %>
                <label style="padding-left:5px;" for="item_threshold3"> 30&#37;</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% if params[:item_category] == 'Medication' || params[:item_category].blank? %>
      <div class=" col-sm-6" style="border-left: 6px solid #e4e7ea;padding-left: 6px;">
        <div class="col-md-12" style="padding: 0">
          <div class="col-md-12">
            <strong style="text-decoration: underline; color: #1E90FF;">Class:</strong>          
          </div>
          <div class="col-md-4">
            <input type="text" name="" id="item_medicine_class" class="form-control p7_10" placeholder="Search by class Name">
          </div>
          <div class="col-md-8" style="padding: 0">
            <div class="col-md-4">
              <div class="btn-group" style="margin-bottom: 0px;" role="group" aria-label="">
                <a class="btn btn-success btn-sm" id=""><i class="fa fa-filter"></i>Filter</a>
                <button type="button" class="btn btn-success btn-sm dropdown-toggle " data-toggle="dropdown" style="">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu children" style="">
                  <% @item_categories.each do |category| %>
                    <li><a class="category-name" href="#" category_name="<%= category %>"><%= category %></a></li></li>
                  <% end %>
                </ul>
              </div>
            </div>
            <div class="col-md-8 filter_text" style="padding: 0">
              <b style="float: left;">Filter :</b>
              <span class="clear-filters-tag" style="text-decoration: underline; color: gray;padding-right: 10px; float: right;">Clear Filters</span>
              <br>
              <div class="AddedCategory"></div>
            </div>
          </div>
        </div>
        <div class="col-sm-12" style="background: white;">
          <br>
          <div id="item_class_section">

          </div>
        </div>
      </div>
    <% end %>    
  </div>
  <% if params[:item_category] == 'Medication' || params[:item_category].blank? %>
    <div class="col-md-12" style="background: white;border-top: 6px solid #e4e7ea;min-height: 65px;">
      <strong style="text-decoration: underline; color: #1E90FF;">Generic Composition:</strong>
      <span class="clear-generic-tag" style="text-decoration: underline; color: gray; cursor: pointer;">Clear All</span>
      <div class="generic-composition-section row col-md-12">
        <div class="generic-composition-row col-sm-4">
          <div class="col-md-5">
            <%= text_field_tag 'inventory_item[generic_names_attributes][0][name]', '', class: 'item_name form-control p5_10' %>
            <%= hidden_field_tag 'inventory_item[generic_names_attributes][0][generic_id]', '', class: 'generic_id form-control p5_10' %>
          </div>
          <div class="col-md-5" style="padding: 0">
            <div class="col-md-5" style="padding: 0;">
              <%= number_field_tag 'inventory_item[generic_names_attributes][0][quantity]', '', class: 'item_quantity form-control p5_2', step: '0.00001', min: 0.0 %>
            </div>
            <div class="col-md-7" style="padding: 0;">
              <%= select_tag 'inventory_item[generic_names_attributes][0][unit]', options_for_select([ 'E/O', 'mg', 'ml', '%', '% E/O', '% w/v', '% w/w', 'mg/ml', 'w/v', 'IU' ], ''), { class: 'form-control item-generic-composition-dropdown p6_10', include_blank: true } %>
            </div>
          </div>
          <div class="col-md-2" >
            <button class="btn btn-danger btn-xs btn-remove-item" style="padding: 3px 10px;" id="first_delete_button" disabled="disabled">&times;</button>
          </div>
        </div>
        <div class='generic-btn-container col-md-1'>
          <span class="btn btn-primary btn-xs btn-add-item" disabled='disabled'><i class="fa fa-plus"></i></sapn>
        </div>
      </div>
      <div class="row"></div>
    </div>
  <%end%>


  <div class="col-md-12" style="background: white;border-top: 6px solid #e4e7ea;min-height: 65px;">
    <strong style="text-decoration: underline; color: #1E90FF;">Possible Variants:</strong>
    <div class="row col-md-12">
      <div class="col-md-12">
        <div class="item-custom-fields row">
          <%= render partial: '/inventory/items/custom_fields_form.html.erb', locals: { f: f, index: nil } %>
          <div class="col-md-1 custom_fields_button" style="float: right;">
            <%= link_to add_custom_field_inventory_items_path, method: :get, data: { remote: true }, class: "btn btn-primary btn-xs", title: 'Add extra fields with possible values' do %><i class="fa fa-plus"></i><% end %><span class="info"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<%= f.hidden_field :department_id, { value: @inventory_store.department_id } %>
<%= f.hidden_field :department_name, { value: @inventory_store.department_name } %>
<%= f.hidden_field :store_id, { value: @inventory_store.id } %>

<%= f.hidden_field :facility_id, { value: current_facility.id } %>
<%= f.hidden_field :organisation_id, { value: @inventory_store.organisation_id } %>

<%= f.hidden_field :checkoutable, { value: 'true' } %>
<%= f.hidden_field :category, { value: category  } %>
<%= f.hidden_field :barcode_present, { value:  true } %>
<%= f.hidden_field :system_generated_barcode, { value: true } %>


<%= f.submit "Save", class: "btn btn-success", remote: true,'data-disable-with' =>"Please Wait...", :onclick => 'addItem_page()' %>

<style type="text/css">
  .required:after {
    content:" *";
    color: red;
  }
  .p6_10{
    padding: 6px 10px;
  }
  .generic-composition-row{
    padding-left: 0;
    padding-right: 0;
    width: 30%;
  }
  .generic-btn-container{
    width: 3%;
    padding: 0;
  }
  .item-label{
    margin-top: 10px;
  }
  .item-class-card{
    padding-top: 1px;
    margin-left: 3px;
    margin-bottom: 3px;
    overflow: hidden;
    width: 32%;
    padding-bottom: 3px;
  }
  .item-class-card .btn-remove-class{
    float: right;
    font-weight: bold;
    color: red;
    font-size: 25px;
    cursor: pointer;
  }
  .clear-generic-tag{
    display: none;
  }
</style>
