<div class="row">
  <div class="col-md-12" style="background: white;">
    <strong style="text-decoration: underline; color: #1E90FF;">Item Details:</strong>
    <div class="row mb10">
      <div class="col-md-3 item-category">
        <label for="" class="control-label required">Category</label>
        <select id="item_category" class="form-control">
          <% unless @inventory_store.department_id == "50121007" %>
            <option value="Medication">Medication</option>
            <option value="Consumable">Consumable</option>
          <% end %>
          <% unless @inventory_store.department_id == "284748001" %>
            <option value="OpticalFrame">Frame</option>
            <option value="OpticalContact">Contact Lens</option>
            <option value="OpticalSpectacle">Spectacle Lens</option>
            <option value="IntraocularLens">Intraocular Lens (IOL)</option>
          <% end %>
          <option value="Implant">Implant</option>
          <option value="Miscellaneous">Miscellaneous</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="" class="control-label required">Item Name</label>
        <%= f.text_field :description,{ :class=> "form-control p7_10 mb5", :placeholder=>"Description / Name" } %>
      </div>

      <div class="col-md-3">
        <label for="" class="control-label">HSN Code</label>
        <%= f.text_field :hsn_no,{ :class=> "form-control p7_10 mb5", :placeholder=>"HSN Code" } %>
      </div>
      <div class="col-md-3">
        <label for="" class="control-label required">Manufacturer</label>
        <%= f.text_field :manufacturer,{ :class=> "form-control p7_10 mb5", :placeholder=>"Manufacturer Name" } %>
      </div>
    </div>
    <div class="row mb10">
      <div class="col-md-3">
        <label for="" class="col-sm-4 control-label">Model No.</label>
        <%= f.text_field :model_no,{:class=> "form-control p7_10 mb5", :placeholder=>""} %>
      </div>
      <div class="col-md-3">
        <label for="" class="control-label">Brand/Company</label>
        <%= f.text_field :brand,{:class=> "form-control p7_10 mb5", :placeholder=>""} %>
      </div>
      <div class="col-md-6">
        <label for="" class="col-sm-4 control-label">Price Range</label>
        <div class="col-md-12">
          <div class="col-md-4" style="padding: 0px;">
            <div class="rdio rdio-primary rdio-changes">
              <%= f.radio_button :pricing_index, "Low", { :class => 'radio-inline', id: "item_pricing_index1"} %>
              <label style="padding-left:10px;" for="item_pricing_index1"> Low</label>
            </div>
          </div>
          <div class="col-md-4" style="padding: 0px;">
            <div class="rdio rdio-primary rdio-changes">
              <%= f.radio_button :pricing_index, "Medium", {:class => 'radio-inline', id: "item_pricing_index2"} %>
              <label style="padding-left:10px;" for="item_pricing_index2"> Medium</label>
            </div>
          </div>
          <div class="col-md-4" style="padding: 0px;">
            <div class="rdio rdio-primary rdio-changes">
              <%= f.radio_button :pricing_index, "High", {:class => 'radio-inline', id: "item_pricing_index3"} %>
              <label style="padding-left:10px;" for="item_pricing_index3"> High</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" style="background: white;border-top: 6px solid #e4e7ea;">
    <strong style="text-decoration: underline; color: #1E90FF;">Dispensing Unit:</strong>
    <div class="col-md-12 mb10">
      <div class="col-md-4">
        <label for="" class="control-label">Package Type <i class="fa fa-info-circle hg-tooltip" title="Packaging In a Box,Pack,Strip,Bottle,Etc." style="cursor:help;"></i></label>
        <%= f.select :package_type, [ "Box", "Pack", "Package", "Not Stated", "Packet","Supersack", "Pair"], { :prompt => 'Select' } ,{ :class=> "p6_10 form-control dispensing-unit-dd",:style=> "display: inline; font-size: 9px" } %>
      </div>
      <div class="col-md-4">
        <label for="" class="control-label">#Sub package/Package <i class="fa fa-info-circle hg-tooltip" title="Total No. of Strip,Bottle,Etc." style="cursor:help;"></i></label>
        <div class="col-md-12">
          <div class="col-md-3" style="padding: 0">
            <%= f.number_field :sub_package_units,{ value: "1",class: "form-control p5_2 mb5", placeholder: "",min: 1 } %>
          </div>
          <div class="col-md-6">
            <%= f.select :sub_package_type, [['Number','Number'],['Bag','Bag'],['Box','Box'],['Pack','Pack'],['Carton','Carton'],['Cartridge','Cartridge'],['Case','Case'],['Cello Pack','Cello Pack'],['Container','Container'],['Packet','Packet'],['Pouch','Pouch'],['Supersack','Supersack'], ['Pair','Pair']], { :prompt => 'Select' } ,{ :class=> "form-control dispensing-unit-dd",:style=> "display: inline; font-size: 9px" } %>
          </div>
          <div class="col-md-3" style="padding-top: 5px;">
            <span style="font-size: x-large;">/</span> <span class="package-type-text">Box</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <label for="" class="control-label">#Unit/Sub package <i class="fa fa-info-circle hg-tooltip" title="Total No. of Strip,Bottle,Etc." style="cursor:help;"></i></label>
        <div class="col-md-12">
          <div class="col-sm-3">
            <%= f.number_field :item_units,{ value: "1",class: "form-control p5_2 mb5", placeholder: "",min: 1 } %>
          </div>
          <div class="col-sm-6">
            <%= f.select :item_type, [['Number','Number'],['Bag','Bag'],['Box','Box'],['Pack','Pack'],['Frame','frame'],['Contact','contact'],['Spectacle','spectacle'],['Carton','Carton'],['Cartridge','Cartridge'],['Case','Case'],['Cello Pack','Cello Pack'],['Container','Container'],['Packet','Packet'],['Pouch','Pouch'],['Supersack','Supersack'], ['Pair','Pair']], { :prompt => 'Select' } ,{ :class=> "p6_10 form-control dispensing-unit-dd",:style=> "display: inline; font-size: 9px" } %>
          </div>
          <div class="col-md-3" style="padding-top: 5px;">
            <span style="font-size: x-large;">/</span> <span class="sub-package-type-text">Number</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb10">
    </div>
  </div>
  <div class="col-md-12" style="background: white;border-top: 6px solid #e4e7ea;">
    <strong style="text-decoration: underline; color: #1E90FF;">Properties:</strong>
    <div class="row mb10">
      <div class="col-md-3">
        <div class="col-md-12">
          <div class="col-md-6">
            <%= f.label :tax_inclusive, class: 'item-label' %>:
          </div>
          <div class="col-md-6">
            <span class="ckbox ckbox-primary" style="">
              <%= f.check_box :tax_inclusive , { checked: true }, 'true', 'false'  %>
            <label style=" " for="inventory_item_tax_inclusive"></label>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="col-md-12">
          <div class="col-md-6">
            <%= f.label :tax_id, class: 'item-label' %>:
          </div>
          <div class="col-md-6">
            <input type="hidden" name="inventory_item[tax_rate]" value="" class="inventory_item_tax_rate">
            <input type="hidden" name="inventory_item[tax_name]" value="" class="inventory_item_tax_name">
            <select name="inventory_item[tax_group_id]" class='form-control tax_group_id p7_10 mb5'>
              <option></option>
              <% @tax_groups.each do |tax_group| %>
                <option value="<%= tax_group.id.to_s %>" data-tax-rate='<%= tax_group.rate %>' data-tax-name="<%= tax_group.name %>"><%= tax_group.name %> - <%= tax_group.rate %>%</option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" style="background: white;border-top: 6px solid #e4e7ea;">
    <strong style="text-decoration: underline; color: #1E90FF;">Low Stock Warning:</strong>
    <div class="row mb10">
      <div class="col-md-6">
        <div class="col-md-12">
          <div class="col-md-5">
            <%= f.label :fixed_threshold, class: 'item-label' %>:
          </div>
          <div class="col-md-3">
            <span class="ckbox ckbox-primary" style="">
              <%= f.check_box :fixed_threshold , { checked: false }, 'true', 'false'  %>
              <label style=" " for="inventory_item_fixed_threshold"></label>
            </span>
          </div>
          <div class="col-md-4 threshold-value-container">
            <%= f.text_field :threshold_value,{ :class => 'set-item-threshold-value form-control p7_10 mb5', onkeypress: 'return event.charCode >= 48 && event.charCode <= 57', required: true } %>
          </div>
        </div>
      </div>
      <div class="col-md-6 min-stock-percentages item-label">
        <label for="" class="col-sm-4 control-label">Min. Stock <i class="fa fa-info-circle hg-tooltip" title="Warns You if Stock(After Last Purchase) Goes Less Than Selected Percentage" style="cursor:help;"></i></label>
        <div class="col-md-8">
          <div>
            <%= f.hidden_field :threshold_value,{ :class => 'item-threshold-value' } %>
          </div>

          <div class="col-md-4" style="padding: 0px;">
            <div class="rdio rdio-primary rdio-changes">
              <%= f.radio_button :threshold, "10", { :class => 'radio-inline', id: "item_threshold1" } %>
              <label style="padding-left:5px;" for="item_threshold1"> 10&#37;</label>
            </div>
          </div>
          <div class="col-md-4" style="padding: 0px;">
            <div class="rdio rdio-primary rdio-changes">
              <%= f.radio_button :threshold, "20", { :class => 'radio-inline', id: "item_threshold2" } %>
              <label style="padding-left:5px;" for="item_threshold2"> 20&#37;</label>
            </div>
          </div>
          <div class="col-md-4" style="padding: 0px;">
            <div class="rdio rdio-primary rdio-changes">
              <%= f.radio_button :threshold, "30", { :checked => true, :class => 'radio-inline', id: "item_threshold3" } %>
              <label style="padding-left:5px;" for="item_threshold3"> 30&#37;</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="display: none">
    <%= f.check_box :expiry_present , { checked: false }, 'true', 'false'  %>
    <%= f.check_box :prescription_mandatory , { checked: false }, 'true', 'false'  %>
  </div>
  <div class="col-md-12" style="background: white;border-top: 6px solid #e4e7ea;">
    <strong style="text-decoration: underline; color: #1E90FF;">Possible Variants:</strong>
    <!-- <div class="row mb10">
      <div class="col-md-3">
        <%#= link_to add_custom_field_inventory_items_path, method: :get, data: { remote: true }, class: "btn btn-info btn-xs", style: "display: inline;" do %>Add custom<%# end %><span class="info"> Add extra fields with possible values</span>
      </div>
      <div class="col-md-9">
        <div class=""></div>
      </div>
    </div> -->
    <div class="col-md-12">
      <div class="col-md-12">
        <div class="item-custom-fields row mb10">
          <%= render partial: '/inventory/items/custom_fields_form.html.erb', locals: { f: f, index: nil } %>
          <div class="col-md-1 custom_fields_button" style="float: right;">
            <%= link_to add_custom_field_inventory_items_path, method: :get, data: { remote: true }, class: "btn btn-primary btn-xs", title: 'Add extra fields with possible values' do %><i class="fa fa-plus"></i><% end %><span class="info"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<%= f.hidden_field :department_id, { value: @inventory_store.department_id } %>
<%= f.hidden_field :department_name, { value: @inventory_store.department_name } %>
<%= f.hidden_field :store_id, { value: @inventory_store.id } %>

<%= f.hidden_field :facility_id, { value: current_facility.id } %>
<%= f.hidden_field :organisation_id, { value: @inventory_store.organisation_id } %>

<%= f.hidden_field :checkoutable, { value: 'true' } %>
<%= f.hidden_field :category, { value: category } %>


<%= f.submit "Save", class: "btn btn-success", remote: true,'data-disable-with' =>"Please Wait...", :onclick => 'addItem_page()' %>

<script type="text/javascript">
  var category = '<%= @item_category %>' || 'OpticalFrame'
  $("div.item-category select").val(category);
</script>

<style type="text/css">
  .required:after {
    content:" *";
    color: red;
  }
  .p6_10{
    padding: 6px 10px;
  }
  .item-label{
    margin-top: 10px;
  }
</style>