<% if @mode != "tabview" %>
  <% if current_facility.show_finances? %>
    <% if timeline['pst'][0]['primary_model'] == "Appointment" %>
      <button type="button" class="btn btn-xs btn-success btn-success-transparent btn-circle dropdown-toggle btn-opd-invoice-<%= timeline['pst'][0]['query']['_id'] %>" title="OPD Receipt" data-toggle="dropdown"><%= current_facility.try(:currency_symbol) %></button>
      <ul class="dropdown-menu opd-invoices opd-invoices-<%= timeline['pst'][0]['query']['_id'] %>" role="menu" aria-labelledby="invoice-print-dropdown"></ul>
    <% elsif timeline['pst'][0]['primary_model'] == "Admission" %>
      <button type="button" class="btn btn-xs btn-success btn-success-transparent btn-circle dropdown-toggle btn-ipd-invoice-<%= timeline['pst'][0]['query']['_id'] %>" title="IPD Receipt" data-toggle="dropdown"><%= current_facility.try(:currency_symbol) %></button>
      <ul class="dropdown-menu ipd-invoices ipd-invoices-<%= timeline['pst'][0]['query']['_id'] %>" role="menu" aria-labelledby="invoice-print-dropdown"></ul>
    <% end %>
  <% end %>
<% end %>
