<% if @mode != "tabview" %>
  <!-- Stored Receipts -->
    <% @invoice_templates.where(department_id: '485396012').each do |invoice_template| %>
      <li style="text-align:center;">
        <%= link_to new_invoice_opd_path(specialty_id: @appointment.specialty_id, appointment_id: @appointment.id, type: Global.ehrcommon.opd.abbr, department_id: '485396012', invoice_template_id: invoice_template.id), data: { :remote => true, 'toggle' => 'modal', 'target' => '#invoice-modal' } do %><%= invoice_template[:name] %><% end %>
      </li>
    <% end %>
    <!-- Free Receipt -->
    <!-- New Draft Receipt -->
    <li style="text-align:center;">
      <%= link_to new_invoice_opd_path(specialty_id: @appointment.specialty_id, appointment_id: @appointment.id, type: Global.ehrcommon.opd.abbr, is_draft: true), id: 'opd_new_invoice', data: { :remote => true, 'toggle' => 'modal', 'target' => '#invoice-modal' } do %>New Draft Bill<% end %>
    </li>
    <li style="text-align:center;">
      <%= link_to new_invoice_opd_path(specialty_id: @appointment.specialty_id, appointment_id: @appointment.id, type: Global.ehrcommon.opd.abbr), id: 'opd_new_invoice', data: { :remote => true, 'toggle' => 'modal', 'target' => '#invoice-modal' } do %>New Receipt<% end %>
    </li>
    <!-- Advance Receipt -->
    <li style="text-align:center;">
      <%= link_to new_invoice_advance_payment_path(appointment_id: @appointment.id, type: Global.ehrcommon.opd.abbr, patient_id: @appointment.patient_id, specialty_id: @appointment.specialty_id), data: { :remote => true, 'toggle' => 'modal', 'target' => '#invoice-modal' } do %> Advance Receipt<% end %>
    </li>
    <!-- Refund Receipt -->
<!--    <li style="text-align:center;">-->
<!--      <%#= link_to new_invoice_refund_payment_path(appointment_id: @appointment.id, type: Global.ehrcommon.opd.abbr, patient_id: @appointment.patient_id, specialty_id: @appointment.specialty_id), data: { :remote => true, 'toggle' => 'modal', 'target' => '#invoice-modal' } do %> Refund Receipt<%# end %>-->
<!--    </li>-->
    <!-- Old Receipts -->
    <% if @opd_invoices.size > 0 %>
      <li class="old_invoice_ss"><span>Previous Receipts</span></li>
      <% @opd_invoices.each do |patient_pastinvoice| %>
        <li style="text-align:center;">
          <%= link_to invoice_opd_path(id: patient_pastinvoice.id), data: { remote: true } do %><%= patient_pastinvoice.created_at.strftime("%d %b'%y at %I:%M %p") %><% end %>
        </li>
      <% end %>
    <% end %>
    <!-- All Receipts End -->
<% end %>
