<% if @mode != "tabview" %>
  <% @nursing_record = timeline['pst'][0]['links']['nursingrecord'] %>
  <% @assessment = timeline['pst'][0]['links']['assessment'] %>
  <% @otchecklist = timeline['pst'][0]['links']['otchecklist'] %>
  <% @wardchecklist = timeline['pst'][0]['links']['wardchecklist'] %>
  <% @pre_anaesthesia_note = timeline['pst'][0]['links']['pre_anaesthesia_note_id'] %>
  <% if @nursing_record.present? %>
    
    <% template_type = @nursing_record['template_type'] %>
    
    <% print_policy_identifier = "HGP-101-106-100" if template_type == "careplan" %>
    <% print_policy_identifier = "HGP-101-107-100" if template_type == "sedation" %>
    <% print_policy_identifier = "HGP-101-108-100" if template_type == "aldrete" || template_type == "pain" %>
    
    <%= link_to inpatient_nursing_records_edit_path(admission_id:@nursing_record[:admission_id],patient_id:@nursing_record[:patient_id],templatetype:template_type,id:@nursing_record['_id']), :class => "timeline-viewsummary-html btn btn-primary btn-primary-transparent btn-xs btn-circle hg-tooltip", title: "Edit Nursing Record", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#nursing_record-modal', method: :get } do %><i class="fa fa-edit"></i><% end %>
    <%= link_to inpatient_nursing_records_show_path(admission_id:@nursing_record[:admission_id],patient_id:@nursing_record[:patient_id],templatetype:template_type,id:@nursing_record['_id']), :class => "timeline-viewsummary-html btn btn-success btn-success-transparent btn-xs btn-circle hg-tooltip", title: "View Nursing Record", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#nursing-summary-modal', method: :get } do %><i class="fa fa-file-alt"></i><% end %>
    <% if Authorization::PolicyHelper.verification(current_user.id ,print_policy_identifier) %>
      <% if @print_settings.count > 1 %>
        <button class="btn btn-warning btn-warning-transparent btn-xs btn-circle" title="Print Nursing Record" data-toggle="dropdown"><i class="fa fa-print"></i></button>
        <ul class="dropdown-menu children" style="margin-left:-60px;font-size: 12px;">
          <li class="text-center">
            <% @print_settings.each do |print_setting| %>
              <li style="text-align:left" class="multi-print">
                <%= link_to inpatient_nursing_records_print_path(admission_id:@nursing_record[:admission_id],patient_id:@nursing_record[:patient_id],templatetype:template_type,id:@nursing_record['_id'], print_setting_id: print_setting.id,format:'pdf'), :class => "",:style => "color: #d9534f;",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> <%= print_setting.name %> <% end %>
              </li>
            <% end %>
          </li>
        </ul>
      <% else %>
        <%= link_to inpatient_nursing_records_print_path(admission_id:@nursing_record[:admission_id],patient_id:@nursing_record[:patient_id],templatetype:template_type,id:@nursing_record['_id'], print_setting_id: @print_settings[0].id,format:'pdf'), :class => "btn btn-warning btn-warning-transparent btn-xs btn-circle",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% if @assessment.present? %>
      <%= link_to inpatient_path(admission_id:@assessment[:admission_id],patient_id:@assessment[:patient_id]), :class => "timeline-viewsummary-html btn btn-primary btn-primary-transparent btn-xs btn-circle hg-tooltip", title: "Edit Patient Assessment", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#assessment-modal', method: :get } do %><i class="fa fa-edit"></i><% end %>
      <%= link_to inpatient_show_path(admission_id:@assessment[:admission_id],patient_id:@assessment[:patient_id]), :class => "timeline-viewsummary-html btn btn-success btn-success-transparent btn-xs btn-circle hg-tooltip", title: "View Patient Assessment", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#assessment-modal', method: :get } do %><i class="fa fa-file-alt"></i><% end %>
      <% if Authorization::PolicyHelper.verification(current_user.id ,"HGP-101-106-100") %>
        <% if @print_settings.count > 1 %>
          <button class="btn btn-warning btn-warning-transparent btn-xs btn-circle" title="Print Patient Assessment" data-toggle="dropdown"><i class="fa fa-print"></i></button>
          <ul class="dropdown-menu children" style="margin-left:-60px;font-size: 12px;">
            <li class="text-center">
              <% @print_settings.each do |print_setting| %>
                <li style="text-align:left" class="multi-print">
                  <%= link_to inpatient_assessmentprint_path(admission_id:@assessment[:admission_id],patient_id:@assessment[:patient_id], print_setting_id: print_setting.id,format:'pdf'), :class => "",:style => "color: #d9534f;",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> <%= print_setting.name %> <% end %>
                </li>
              <% end %>
            </li>
          </ul>
        <% else %>
          <%= link_to inpatient_assessmentprint_path(admission_id:@assessment[:admission_id],patient_id:@assessment[:patient_id], print_setting_id: @print_settings[0].id,format:'pdf'), :class => "btn btn-warning btn-warning-transparent btn-xs btn-circle",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> <% end %>
        <% end %>
      <% end %>
  <% end %>
  <% if @otchecklist.present? %>
    <%= link_to inpatient_ot_checklists_edit_path(admission_id:@otchecklist[:admission_id],patient_id:@otchecklist[:patient_id],id:@otchecklist[:_id]), :class => "timeline-viewsummary-html btn btn-primary btn-primary-transparent btn-xs btn-circle hg-tooltip", title: "Edit OT Checklist", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ot-checklist-modal', method: :get } do %><i class="fa fa-edit"></i><% end %>
    <%= link_to inpatient_ot_checklists_show_path(admission_id:@otchecklist[:admission_id],patient_id:@otchecklist[:patient_id],id:@otchecklist[:_id]), id: "ot-checklist-btn", :class => "timeline-viewsummary-html btn btn-success btn-success-transparent btn-xs btn-circle hg-tooltip", title: "View OT Checklist", data: { remote: true, toggle:  "modal", target: '#ot-checklist-modal' } do %><i class="fa fa-file-alt"></i><% end %>
    <% if Authorization::PolicyHelper.verification(current_user.id ,"HGP-101-107-100") %> 
      <% if @print_settings.count > 1 %>
        <button class="btn btn-warning btn-warning-transparent btn-xs btn-circle" title="Print OT Checklist" data-toggle="dropdown"><i class="fa fa-print"></i></button>
        <ul class="dropdown-menu children" style="margin-left:-60px;font-size: 12px;">
          <li class="text-center">
            <% @print_settings.each do |print_setting| %>
              <li style="text-align:left" class="multi-print">
                <%= link_to inpatient_ot_checklists_print_path(admission_id:@otchecklist[:admission_id],patient_id:@otchecklist[:patient_id],id:@otchecklist[:_id], print_setting_id: print_setting.id, format: 'pdf'), :class => "ot_checklist-note_print",:style => "color: #d9534f;",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> <%= print_setting.name %> <% end %>
              </li>
            <% end %>
          </li>
        </ul>
      <% else %>
        <%= link_to inpatient_ot_checklists_print_path(admission_id:@otchecklist[:admission_id],patient_id:@otchecklist[:patient_id],id:@otchecklist[:_id], print_setting_id: @print_settings[0].id, format: 'pdf'), :class => "btn btn-warning btn-warning-transparent btn-xs btn-circle", :target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% if @wardchecklist.present? %>
    <%= link_to edit_inpatient_ward_checklist_path(admission_id:@wardchecklist[:admission_id],patient_id:@wardchecklist[:patient_id],id:@wardchecklist[:_id]), :class => "timeline-viewsummary-html btn btn-primary btn-primary-transparent btn-xs btn-circle hg-tooltip", title: "Edit WARD Checklist", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#ward-checklist-modal', method: :get } do %><i class="fa fa-edit"></i><% end %>
    <%= link_to inpatient_ward_checklist_path(admission_id:@wardchecklist[:admission_id],patient_id:@wardchecklist[:patient_id],id:@wardchecklist[:_id]), id: "ward_checklist-note-btn", :class => "timeline-viewsummary-html btn btn-success btn-success-transparent btn-xs btn-circle hg-tooltip", title: "View WARD Checklist", data: { remote: true, toggle:  "modal", target: '#ward-checklist-modal' } do %><i class="fa fa-file-alt"></i><% end %>
    <% if Authorization::PolicyHelper.verification(current_user.id ,"HGP-101-106-100") %>
      <% if @print_settings.count > 1 %>
        <button class="btn btn-warning btn-warning-transparent btn-xs btn-circle" title="Print WARD Checklist" data-toggle="dropdown"><i class="fa fa-print"></i></button>
        <ul class="dropdown-menu children" style="margin-left:-60px;font-size: 12px;">
          <li class="text-center">
            <% @print_settings.each do |print_setting| %>
              <li style="text-align:left" class="multi-print">
                <%= link_to inpatient_ward_checklist_print_path(patient_id: @wardchecklist[:patient_id],admission_id: @wardchecklist[:admission_id], ward_checklist_id: @wardchecklist[:_id], print_setting_id: print_setting.id, format: 'pdf'), :class => "ward_checklist_print",:style => "color: #d9534f;",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> <%= print_setting.name %> <% end %>
              </li>
            <% end %>
          </li>
        </ul>
      <% else %>
        <%= link_to inpatient_ward_checklist_print_path(patient_id: @wardchecklist[:patient_id],admission_id: @wardchecklist[:admission_id], ward_checklist_id: @wardchecklist[:_id], print_setting_id: @print_settings[0].id, format: 'pdf'), :class => "btn btn-warning btn-warning-transparent btn-xs btn-circle",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% if @pre_anaesthesia_note.present? %>
    <%= link_to edit_inpatient_pre_anaesthesia_note_path(admission_id:@pre_anaesthesia_note[:admission_id],patient_id:@pre_anaesthesia_note[:patient_id],id:@pre_anaesthesia_note[:_id]), :class => "timeline-viewsummary-html btn btn-primary btn-primary-transparent btn-xs btn-circle hg-tooltip", title: "Edit Pre Anaesthesia Note", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#pre-anaesthesia-modal', method: :get } do %><i class="fa fa-edit"></i><% end %>
    <%= link_to inpatient_pre_anaesthesia_note_path(admission_id: @pre_anaesthesia_note[:admission_id],patient_id: @pre_anaesthesia_note[:patient_id],id: @pre_anaesthesia_note[:_id]), id: "pre_anaesthesia-note-btn", :class => "timeline-viewsummary-html btn btn-success btn-success-transparent btn-xs btn-circle hg-tooltip", title: "View Pre Anaesthesia Note", data: { remote: true, toggle:  "modal", target: '#pre-anaesthesia-modal' } do %><i class="fa fa-file-alt"></i> <% end %>
    <% if Authorization::PolicyHelper.verification(current_user.id ,"HGP-101-107-100") %>
      <% if @print_settings.count > 1 %>
        <button class="btn btn-warning btn-warning-transparent btn-xs btn-circle" title="Print Pre Anaesthesia Note" data-toggle="dropdown"><i class="fa fa-print"></i></button>
        <ul class="dropdown-menu children" style="margin-left:-60px;font-size: 12px;">
          <li class="text-center">
            <% @print_settings.each do |print_setting| %>
              <li style="text-align:left" class="multi-print">
                <%= link_to inpatient_pre_anaesthesia_note_print_path(patient_id: @pre_anaesthesia_note[:patient_id],admission_id: @pre_anaesthesia_note[:admission_id], pre_anaesthesia_note_id: @pre_anaesthesia_note[:_id], print_setting_id: print_setting.id, format: 'pdf'), :class => "pre_anaesthesia_note_print",:style => "color: #d9534f;",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> <%= print_setting.name %> <% end %>
              </li>
            <% end %>
          </li>
        </ul>
      <% else %>
        <%= link_to inpatient_pre_anaesthesia_note_print_path(patient_id: @pre_anaesthesia_note[:patient_id],admission_id: @pre_anaesthesia_note[:admission_id], pre_anaesthesia_note_id: @pre_anaesthesia_note[:_id], print_setting_id: @print_settings[0].id, format: 'pdf'), :class => "btn btn-warning btn-warning-transparent btn-xs btn-circle",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
