<div class="col-sm-12">
  <h4 class="" style="display: inline;font-size:18px;"><b>History: </b></h4>
</div>
<div class="col-sm-12">
  <% if @patient.present? %>
    <% if @patient.speciality_history_records.present?  ||  @patient.personal_history_records.present? || @patient.opthal_history_comment.present? || @patient.history_comment.present? %>

      <% patient_history = ["glaucoma","retinal_detachment","retinal_dystrophies","glasses","ocular_disease","ocular_surgery","eye_surgery","eye_disease","consanguinity","uveitis","retinal_laser","diabetes","hypertension","alcoholism","smoking_tobacco","steroid_intake","drug_abuse","hiv_aids","cancer_tumor","cardiac_disorder","tuberculosis","asthma","cns_disorder_stroke","thyroid_disorder","hypothyroidism","hyperthyroidism","hepatitis_cirrhosis","renal_disorder","acidity","on_insulin","on_aspirin_blood_thinners", "rheumatoid_arthritis", "benign_prostatic_hyperplasia"] %>
      <% if current_organisation["specialty_ids"].include?("309988001") %>
        <h5 style="margin:2px;display:inline;"><b>Ophthalmic & Systemic :</b></h5>
      <% else %>
        <h5 style="margin:2px;display:inline;"><b>Systemic :</b></h5>
      <% end %>
      <% if @patient.opthal_history_comment != "" && @patient.opthal_history_comment != nil %>
        <label class='label-history'><%= @patient.opthal_history_comment %></label>
      <%end%>
      <% if @patient.history_comment != "" && @patient.history_comment != nil %>
        <label class='label-history'><%=  @patient.history_comment %></label>
      <%end%>
      <% patient_history.each do |patient_history| %>
        <% name = patient_history.split("_").map(&:capitalize).join(" ") %>
        <% if @patient.speciality_history_records.find_by(name: patient_history).present? %>
          <label class='label-history'>
            <%= name %>
            <% @speciali_history =  @patient.speciality_history_records.find_by(name: patient_history)%>
            <% l_hidden_duration, l_duration, l_duration_unit, r_hidden_duration, r_duration, r_duration_unit  = @speciali_history.l_r_set_duration %>
            <% if l_duration.present? && l_duration_unit.present? %>
              Left Eye since <%= l_duration %> <%= l_duration_unit %>
            <%end%>
            <% if r_duration.present? && r_duration_unit.present? %>
              <% "&" if @speciali_history.l_duration.present? %>
              Right Eye since <%= r_duration_unit %> <%= r_duration_unit %>
            <% end %>
          </label>
        <% elsif @patient.personal_history_records.find_by(name: patient_history).present? %>
          <label class='label-history'>
            <%= name %>
            <% personal_history = @patient.personal_history_records.find_by(name: patient_history) %>
            <% hidden_duration, duration, duration_unit = personal_history.set_duration %>
            <% if duration.present? && duration_unit.present? %>

              Since <%= duration %> <%= duration_unit %>
            <% end %>
          </label>
        <% end %>
      <% end %>
    <% else %>
     <h4>No Systemic History</h4>
    <% end %>
  <% else %>
    <h4>No Systemic History</h4>
  <% end %>
</div>
<div class="col-sm-12" style="overflow: auto;">
  <% if @patient.other_history.medical_history.present? %>
    <div class="mb3"></div>
    <h5 style="margin:2px;display:inline;"><b>Medical :</b></h5>
    <label class="label-history"><%= @patient.other_history.medical_history %></label>
  <% end %>
</div>
<div class="col-sm-12" style="overflow: auto;">
  <% if @patient.other_history.family_history.present? %>
    <div class="mb3"></div>
    <h5 style="margin:2px;display:inline;"><b>Family :</b></h5>
    <label class="label-history"><%= @patient.other_history.family_history %></label>
  <% end %>
</div>
<div class="col-sm-12">
  <% if @patient.other_history.specialstatus.present? %>
    <div class="mb3"></div>
    <h5 style="margin:2px;display:inline;"><b>Special Status :</b></h5>
      <label class="label-history"><%= @patient.other_history.specialstatus %></label>
  <% end %>
</div>
<style>
  .label-history{
       background: none;
    border: 2px solid #1ba39c;
    color: #444;
    margin: 2px !important;
    padding: 2px;
    padding-left: 7px;
    letter-spacing: .5px;
    border-radius: 5px;
    padding-right: 7px;
    transition:0.5s;
  }
  .label-history:hover{
       background: #1ba39c;
      color: white;
      box-shadow:1px 0px 0px #333;
  }


</style>