<div class="col-sm-12">
  <h4 class="" style="display: inline;font-size:18px;"><b></b></h4>
</div>
<div class="col-sm-12">
  <% if @patient.present? %>
    <% if @patient.allergy_histories.present? || @patient.others_allergies.present? || @patient.drug_allergies_comment.present? || @patient.contact_allergies_comment.present? || @patient.food_allergies_comment.present? %>
      <% if @patient.allergy_histories.present? || @patient.drug_allergies_comment.present? || @patient.contact_allergies_comment.present? || @patient.food_allergies_comment.present? %>
        <% @patient_allergy =  @patient.allergy_histories.where(allergy_type: "drug_allergies") %>
        <% if @patient_allergy.present? || @patient.drug_allergies_comment.present? %>
          <h5 style="margin:2px;display:inline;"><b>Drug :</b></h5>
          <% if @patient_allergy.present? %>
            <% @patient_allergy.each do |allergy| %>
                <label class=" label-allergy">
                  <%= allergy.name.split("_").map(&:capitalize).join(" ")  %>
                  <% @allergy_hidden_duration, @allergy_duration, @allergy_duration_unit  = allergy.allergy_started %>
                  <% if @allergy_duration.present? && @allergy_duration_unit.present? %>

                    Since <%=  @allergy_duration %> <%= @allergy_duration_unit%>
                  <% end %>
                </label>
            <% end %>
          <% end %>
          <% if @patient.drug_allergies_comment.present? %>
            <label class="label-allergy"><%= @patient.drug_allergies_comment %></label>
          <% end %>
        <% end %>
        <% @contact_allergy = @patient.allergy_histories.where(allergy_type: "contact_allergies") %>
        <% if @contact_allergy.present? || @patient.contact_allergies_comment.present? %>
          <h5 style="margin:2px;display:inline;"><b>Contact :</b></h5>
          <% if @contact_allergy.present? %>
            <% @contact_allergy.each do |allergy| %>
              <label class=" label-allergy"><%= allergy.name.split("_").map(&:capitalize).join(" ")  %>
                <% @allergy_hidden_duration, @allergy_duration, @allergy_duration_unit  = allergy.allergy_started %>
                <% if @allergy_duration.present? && @allergy_duration_unit.present? %>
                  Since <%=  @allergy_duration %> <%= @allergy_duration_unit%>
                <% end %>
              </label>
            <% end %>
          <% end %>
          <% if @patient.contact_allergies_comment.present? %>
            <label class="label-allergy"><%= @patient.contact_allergies_comment %></label>
          <% end %>
        <% end %>
        <% @food_allergy = @patient.allergy_histories.where(allergy_type: "food_allergies") %>
        <% if @food_allergy.present? || @patient.food_allergies_comment.present? %>
          <h5 style="margin:2px;display:inline;"><b>Food :</b></h5>
          <% if @food_allergy.present? %>
            <% @food_allergy.each do |allergy| %>
              <label class=" label-allergy"><%= allergy.name.split("_").map(&:capitalize).join(" ")  %>
                <% @allergy_hidden_duration, @allergy_duration, @allergy_duration_unit  = allergy.allergy_started %>
                <% if @allergy_duration.present? && @allergy_duration_unit.present? %>
                  Since <%=  @allergy_duration %> <%= @allergy_duration_unit%>
                <% end %>
              </label>
            <% end %>
          <% end %>
          <% if @patient.food_allergies_comment.present? %>
            <label class="label-allergy"><%= @patient.food_allergies_comment %></label>
          <% end %>
        <% end %>  
      <% end %>
      <% if @patient.others_allergies.present? %>
        <div class="mb3"></div>
        <h5 style="margin:2px;display:inline;"><b>Other :</b></h5>
        <label class=" label-allergy"><%= @patient.others_allergies %></label>
      <% end %>
    <% else %>
      No Allergies
    <% end %>
  <% else %>
    No Allergies
  <% end %>
</div>
<style>
  .label-allergy{
    background: none;
    border: 2px solid #ec644b;
    color: #444;
    margin: 2px !important;
    padding: 2px;
    padding-left: 7px;
    letter-spacing: .5px;
    padding-right: 7px;
    border-radius: 5px;
  }
  .label-allergy:hover{
       background: #ec644b;
      color: white;
      box-shadow:1px 0px 0px #333;
  }
</style>