<%= f.fields_for :items, :child_index => (index || (Time.current.to_f.round(3)*1000).to_i) do |builder| %>
  <table width="100%" class="inventory-invoice-log-item lot-table lot-table-<%=item.id%>" data-child-index=<%= builder.options[:child_index] %>>
    <tr class= "tbody_medication" >
      <%= builder.hidden_field :item_code, { value: item.item_code } %>
      <%= builder.hidden_field :item_id, { value: item.id, class: 'item-id' } %>
      <%= builder.hidden_field :category, { value: item.category_name } %>
      <%= builder.hidden_field :barcode, { value: item.barcode_id } %>
      <%= builder.hidden_field :barcode_present, { value: item.barcode_present } %>
      <%= builder.hidden_field :item_reference_id, { value: item.reference_id } %>
      <%= builder.hidden_field :facility_id, { value: item.facility_id } %>
      <%= builder.hidden_field :store_id, { value: item.store_id } %>
      <%= builder.hidden_field :organisation_id, { value: item.organisation_id } %>
      <%= builder.hidden_field :srn_required, { value: 'true', class: 'srn-required' } %>
      <%= builder.hidden_field :srn_pending, { value: 'true' } %>
      <%= builder.hidden_field :requisition_required, { value: 'true', class: 'requisition-required' } %>
      <%= builder.hidden_field :requisition_pending, { value: 'true' } %>
      <%= builder.hidden_field :item_created_from, { value: @item_created_from } %>
      <%= builder.hidden_field :variant_id, { value: @variant&.id } %>
      <%= builder.hidden_field :variant_code, { value: @variant&.variant_code } %>
      <%= builder.hidden_field :variant_identifier, { value: @variant&.variant_identifier } %>
      <%= builder.hidden_field :variant_reference_id, { value: @variant&.reference_id } %>

      <td class="col-md-1 col-sm-1 col-xs-1">
        <strong><%= item.description %></strong>
        <% if current_facility.description_comment %>
          <br>
          <%= builder.text_field :description_comment, :class => "modalRequest_input_style", :placeholder=>"Comment", style: "width:90%;text-align:left" %>
        <% end %>
        <%= builder.hidden_field :description,value: item.description,readonly: true, :class => "item_description modalRequest_input_style", :placeholder=>"Description" %>
        <%= builder.hidden_field :_destroy,  {value: 0 ,class: 'form-control' } %>
      </td>
      <td class="col-md-1 col-sm-1 col-xs-1", style="">
        <label class="label label-info" style="font-size: 10px; padding: 2px">Batch No.</label>
      </td>
      <td class="col-md-1 col-sm-1 col-xs-1", style="">
        <% if item.model_no.present? %>
          <%= builder.hidden_field :model_no, { value: item&.model_no } %>
          <%= item&.model_no %>
        <%else %>
          N.A
        <%end %>
      </td>
      <td class="col-md-1 col-sm-1 col-xs-1">
        <%= builder.number_field :quantity, value: "", :class => "non_stockable_item_quantity modalRequest_input_style", :placeholder=>"Qty", :style=>"width:100%;text-align:left", min: '1', required: true %>
          <%= builder.hidden_field :quantity, value: "", :class => "item_quantity modalRequest_input_style", :placeholder=>"Qty", :style=>"width:100%;text-align:left", onkeypress: 'return event.charCode >= 48 && event.charCode <= 57', min: '1', required: true %>
      </td>
      <td class="col-md-1 col-sm-1 col-xs-1">
      </td>

      <td class="col-md-1 col-sm-1 col-xs-1">
        <%#= item.list_price %>
        <%= builder.number_field :list_price, value: "", :class => "unit_item_list_price modalRequest_input_style", :style=>"width:100%;text-align:left", min: '1', required: true %>
        <%= builder.hidden_field :unit_non_taxable_amount, value: "",readonly: true, :class => "unit_non_taxable_amount modalRequest_input_style", :style=>"width:100%;text-align:left" %>
        <%= builder.hidden_field :unit_taxable_amount, value: "",readonly: true, :class => "unit_taxable_amount modalRequest_input_style", :style=>"width:100%;text-align:left" %>
      </td>

      <td class="col-md-1 col-sm-1">
        <div class="tax_fields"></div>
        <%= item.tax_rate %>

        <%= builder.hidden_field :tax_rate, value: item.tax_rate,readonly: true, :class => "item_tax_rate modalRequest_input_style", :placeholder=>"Tax", :style=>"width:100%;text-align:left" %>
        <%= builder.hidden_field :tax_group_id, value: item.tax_group_id,readonly: true, :class => "item_tax_group_id modalRequest_input_style", :placeholder=>"Tax", :style=>"width:100%;text-align:left" %>
      </td>

      <td class="col-md-1 col-sm-1">
        <%= item.tax_inclusive %>

        <%= builder.hidden_field :tax_inclusive, value: item.tax_inclusive,readonly: true, :class => "item_tax_inclusive modalRequest_input_style", :placeholder=>"Tax", :style=>"width:100%;text-align:left" %>
      </td>

      <td class="col-md-1 col-sm-1">
        <%= builder.text_field :non_taxable_amount, :class => "item_non_taxable_amount modalRequest_input_style", :placeholder=>"NonTaxable Amount", style: "width:90%;text-align:left", :value => '0.0' %>
        <%= builder.hidden_field :item_new_non_taxable_amount, :class => "item_new_non_taxable_amount modalRequest_input_style", :value => '0.0' %>
      </td>

      <td class="col-md-1 col-sm-1">
        <%= builder.text_field :taxable_amount,readonly: true, :class => "item_taxable_amount modalRequest_input_style", :placeholder=>"Tax", :style=>"width:100%;text-align:left" %>
      </td>


      <td class="col-md-1 col-sm-1 col-xs-1 font_size">
        <%= builder.text_field :total_list_price,readonly: true ,:class => "modalRequest_input_style item_total_price", :placeholder=>"", :style=>"width:100%;text-align:left" %>
      </td>

      <td class="col-md-1 col-sm-1 col-xs-1 font-size text-center">
        <button type="button" class="btn btn-link hg-tooltip delete_empty_item" tabindex="-1" style="padding:0px;" title="Remove From List" value="<%= item.id %>"><i class="fa fa-trash-alt" style="color:#000;"></i></button>
      </td>
    </tr>
  </table>
<% end %>