<div class="btn-group">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
<div class="btn-group">
  <!--<a href="/invoice/inventories/department/pharmacy_invoices/<%=@inventory_order.id%>/edit" data-remote="true" class="btn btn-primary"> <i class="fa fa-pencil-alt"></i>&nbsp;Edit </a>-->
</div>
<div class="btn-group">
  <a href="/invoice/inventory_orders/print?order_id=<%= @inventory_order.id %>&page_size=A4" class="btn btn-success" target='_blank'> <i class="fa fa-print"></i>&nbsp;Print A4</a>
</div>
<div class="btn-group">
  <a href="/invoice/inventory_orders/print?order_id=<%= @inventory_order.id %>&page_size=A5" class="btn btn-success" target='_blank'> <i class="fa fa-print"></i>&nbsp;Print A5</a>
</div>
<div class="btn-group">
  <%# if (@inventory_order.payment_completed == false)  && (@inventory_order.is_canceled == false)  && (@inventory_order.payment_pending_breakups.count == 0)%>
    <!-- <%#= link_to review_order_invoice_inventory_invoices_path(id: @inventory_order.id, patient_id: @inventory_order.patient_id), class: "btn btn-warning", data: { remote: true, 'disable-with' =>  "Please Wait...", 'toggle' => 'modal', 'target' => '#review-order-modal', class: 'btn btn-info'} do %> <i class=""></i> Complete Payment<%# end %> -->
  <%# end %>
</div>

<div class="btn-group">
  <% if (@inventory_order.payment_completed == false)  && (@inventory_order.is_canceled == false) && (@inventory_order.payment_pending_breakups.count == 0) %>
    <% if @appointment.present? %>
      <%= link_to new_invoice_advance_payment_path(appointment_id: @appointment.id, type: @inventory_store.department_name, patient_id: @appointment.patient_id, specialty_id: @appointment.specialty_id, department_id: @inventory_store.department_id, store_id: @inventory_store.id, order_id: @inventory_order.id), class: "btn btn-primary", data: { :remote => true, 'toggle' => 'modal', 'target' => '#invoice-modal' } do %>Advance Against Order<% end %>
    <% else %>
      <%= link_to new_invoice_advance_payment_path(type: @inventory_store.department_name, patient_id: @inventory_order.patient_id, department_id: @inventory_store.department_id, store_id: @inventory_store.id, order_id: @inventory_order.id), class: "btn btn-primary", data: { :remote => true, 'toggle' => 'modal', 'target' => '#invoice-modal' } do %>Advance Against Order<% end %>
    <% end %>
  <% end %>
</div>
<div class="btn-group">
  <% patially_paid = (@inventory_order.payment_completed == true || @inventory_order.payment_pending.to_f == @inventory_order.net_amount.to_f) %>
  <% recieved_amount_def = (@inventory_order.net_amount.to_f.round(2) - (@inventory_order.set_amount_received + @inventory_order.advance_payment.to_f.round(2)) < 0.1) || (@inventory_order.payment_pending.to_f == @inventory_order.net_amount.to_f)%>
  <% if @return_transaction.present? && @inventory_order.is_canceled == false && patially_paid %>
    <span class="tool-tip" data-toggle="tooltip" data-placement="bottom" title="Cannot be cancelled. A return is already collected against this invoice.">
      <button type="button" disabled class=" btn btn-danger tooltip-wrapper disabled" title="Receive Items" data-title="Cannot be cancelled. A return is already collected against this invoice."><i class="fa fa-trash-alt"></i>Delete Invoice</button>
    </span>
  <% else %>
  <% if @inventory_order.is_canceled == false && (@inventory_order.created_at.to_date == Date.current || @inventory_order.invoice_type == 'credit') && (@inventory_order.payment_completed == true || @inventory_order.payment_pending.to_f == @inventory_order.net_amount.to_f) && recieved_amount_def && @inventory_order.payment_received_breakups.any_payer_master?%>
    <!-- <%#= link_to confirm_disable_invoice_inventory_orders_path(id: @inventory_order.id), class: "btn btn-danger ", data: { remote: true, 'toggle' => 'modal', 'target' => '#inventory-invoice-cancellation-modal', class: 'btn btn-info'} do %><i class="fa fa-trash-alt"></i>&nbsp; Cancel Order<%# end %> -->
    <% end %>
  <% end %>
</div>
