<div class="hr-line-border mb5"></div>
<div class="row" style="max-height: 130px; overflow-y: visible; overflow-x: hidden;">
	<div class="col-md-6">
		<div class="row r-acceptance-row">
	    <div class="col-md-12 col-sm-12 r-acceptance-column questionsforacceptance" id="r-questionsforacceptance">
	      <div class="col-md-3 col-sm-3" style="padding: 0px">
	        <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>GLASSES<div class="mb1"></div>PRESCRIPTIONS (Rx)&nbsp;&nbsp;</strong><i class="fa fa-arrow-right rcopybutton" title="Copy Left to Right" aria-hidden="true"></i>
	        </div>
	        <span class="row col-md-12 col-sm-12" style="margin-top: 5px; margin-bottom: 5px; cursor: pointer; display:block;" title="Fill Glasses Prescription" id="fill-glasses-prescription"><a href="/opd_records/ophthalmology_notes/fill_refraction_data?flag=glasses_prescription" data-remote="true"> <i class="fa fa-arrow-circle-right filldatabutton "> Fill</i></a></span>
	      </div>
	      <div class="col-md-9 col-sm-9 r-answersforglassesprescriptions">
	        <table class="table table-bordered">
	          <thead>
	          <tr class="success">
	            <th width="20%" style="padding-top:0px;padding-bottom:0px;"></th>
	            <th width="20%" style="padding-top:0px;padding-bottom:0px;">Sph</th>
	            <th width="20%" style="padding-top:0px;padding-bottom:0px;">Cyl</th>
	            <th width="20%" style="padding-top:0px;padding-bottom:0px;">Axis</th>
	            <th width="20%" style="padding-top:0px;padding-bottom:0px;">Vision</th>
	          </tr>
	          </thead>
	          <tbody>
	          <tr>
	            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
	              Distant
	            </td>
	            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
	              <%= f.text_field :r_glassesprescriptions_distant_sph, :class => "form-control form-control-custom glasses-prescription r_glassesprescriptions_distant_sph calculate_sph_near_from_distant ref_field", :maxlength => 6, :required => false, :name => "invoice_inventory_order[r_glassesprescriptions_distant_sph]" %>
	            </td>
	            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
	              <%= f.text_field :r_glassesprescriptions_distant_cyl, :class => "form-control form-control-custom glasses-prescription r_glassesprescriptions_distant_cyl calculate_cyl_near_from_distant ref_field", :maxlength => 6, :required => false, :name => "invoice_inventory_order[r_glassesprescriptions_distant_cyl]" %>
	            </td>
	            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
	              <%= f.text_field :r_glassesprescriptions_distant_axis, :class => "form-control form-control-custom glasses-prescription r_glassesprescriptions_distant_axis calculate_axis_near_from_distant ref_field", :maxlength => 6, :required => false, :name => "invoice_inventory_order[r_glassesprescriptions_distant_axis]" %>
	            </td>
	            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
	              <%= f.text_field :r_glassesprescriptions_distant_vision, :class => "form-control form-control-custom glasses-prescription r_glassesprescriptions_distant_vision ref_field", :maxlength => 12, :required => false, :name => "invoice_inventory_order[r_glassesprescriptions_distant_vision]" %>
	            </td>
	          </tr>
	          <tr>
	            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
	              Add<sup class="suphash">#</sup>
	            </td>
	            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
	              <%= f.text_field :r_glassesprescriptions_add_sph, :class => "form-control form-control-custom glasses-prescription r_glassesprescriptions_add_sph calculate_near_from_add ref_field", :maxlength => 6, :required => false, :name => "invoice_inventory_order[r_glassesprescriptions_add_sph]" %>
	            </td>
	            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
	              <%= f.text_field :r_glassesprescriptions_add_cyl, :class => "form-control form-control-custom r_glassesprescriptions_add_cyl ref_field",:readonly=> true, :maxlength => 6, :required => false, :name => "invoice_inventory_order[r_glassesprescriptions_add_cyl]" %>
	            </td>
	            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
	              <%= f.text_field :r_glassesprescriptions_add_axis, :class => "form-control form-control-custom r_glassesprescriptions_add_axis ref_field",:readonly=> true, :maxlength => 6, :required => false, :name => "invoice_inventory_order[r_glassesprescriptions_add_axis]" %>
	            </td>
	            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
	              <%= f.text_field :r_glassesprescriptions_add_vision, :class => "form-control form-control-custom glasses-prescription r_glassesprescriptions_add_vision ref_field", :maxlength => 12, :required => false, :name => "invoice_inventory_order[r_glassesprescriptions_add_vision]" %>
	            </td>
	          </tr>
	          <tr>
	            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
	              Near
	            </td>
	            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
	              <%= f.text_field :r_glassesprescriptions_near_sph, :class => "form-control form-control-custom glasses-prescription r_glassesprescriptions_near_sph ref_field", :maxlength => 6, :required => false, :name => "invoice_inventory_order[r_glassesprescriptions_near_sph]" %>
	            </td>
	            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
	              <%= f.text_field :r_glassesprescriptions_near_cyl, :class => "form-control form-control-custom glasses-prescription r_glassesprescriptions_near_cyl ref_field", :maxlength => 6, :required => false, :name => "invoice_inventory_order[r_glassesprescriptions_near_cyl]" %>
	            </td>
	            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
	              <%= f.text_field :r_glassesprescriptions_near_axis, :class => "form-control form-control-custom glasses-prescription r_glassesprescriptions_near_axis ref_field", :maxlength => 6, :required => false, :name => "invoice_inventory_order[r_glassesprescriptions_near_axis]" %>
	            </td>
	            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
	              <%= f.text_field :r_glassesprescriptions_near_vision, :class => "form-control form-control-custom glasses-prescription r_glassesprescriptions_near_vision ref_field", :maxlength => 12, :required => false, :name => "invoice_inventory_order[r_glassesprescriptions_near_vision]" %>
	            </td>
	          </tr>
	          </tbody>
	        </table>
				<div class="row" style="margin: auto;margin-bottom: 10px;">

				<span class="col-md-4 col-sm-4" style="padding: 0px;">
				<span class="col-md-5 col-sm-5" style="width: 100%;">Type of Lens</span>
				<span> <%= f.select(:r_glassesprescriptions_typeoflens, ['Single Vision - Distant', 'Single Vision - Near', 'Bifocal', 'Progressive', 'Bifocal or Progressive', 'D Bifocal', 'KT Bifocal'], {include_blank: "Select"}, { :class => 'col-md-3 col-sm-3 form-control salutation', :style =>'height:30px;padding:0px' }) %> </span>
				</span>

				<% unless current_user.country_id == 'KH_039' %>
					<span class="col-md-4 col-sm-4" style="padding-left: 10px;">
					<span class="col-md-5 col-sm-5">IPD</span>

					<div class="input-group col-md-7 col-sm-7" style="width: 126px;"><%= f.text_field :r_glassesprescriptions_ipd, class: 'form-control form-control-custom l_acceptance_ipd', :name =>  "invoice_inventory_order[r_glassesprescriptions_ipd]" %><span class="input-group-addon">mm</span></div>
					</span>
				<% end %>

				<span class="col-md-4 col-sm-4" style="padding: 0px;">
					<span class="col-md-5 col-sm-5">Size</span>
					<br>
					<span class="input-group col-md-7 col-sm-7" style="width: 130px;margin-left: 10px;">  <%= f.text_field :r_glassesprescriptions_size, class: "form-control form-control-custom l_glassesprescriptions_size", :name => "invoice_inventory_order[r_glassesprescriptions_size]"  %></span>
				</span>
			</div>
			<div class="row" style="margin: auto;margin-bottom: 10px;">

				<span class="col-md-4 col-sm-4" style="padding: 0px;">
					<span class="col-md-5 col-sm-5" style="width: 100%;">Lens Material</span>
					<span> <%= f.select(:r_glassesprescriptions_lensmaterial, ['Mineral', 'CR 39r', 'Patient Choice', 'Polycarbonate', 'Trivex', 'Organic', 'Evalution', 'MR7', 'MR10', 'MR8', 'Press on'], {include_blank: "Select"}, { :class => 'form-control salutation' , :style =>'height:30px;padding:0px'}) %></span>
				</span>

				<span class="col-md-4 col-sm-4" style="padding-left: 10px;">
					<span class="col-md-5 col-sm-5" style="width: 100%;">Lens Tint</span>
					<span> <%= f.select(:r_glassesprescriptions_lenstint, ['White', 'Amber', 'B1', 'B2', 'B3', 'Brown', 'G-15', 'Gradient Tint', 'Patient Choice', 'Photogrey', 'Photobrown', 'SP1', 'SP11', 'SP2', 'Yellow', 'Grey', 'Clear', 'Grey/Brown', 'Gray C/Brown C', 'Grey A', 'Gray / Brown / Green', 'PGX / PBX', 'Non Tintable', 'Pink', 'Photo Fusion Grey', 'Phot Fusion Brown', 'Polarised Brown', 'Polarised Grey', 'Transition', 'A1', 'A2', 'Colabar C', 'Colabar D', 'Non Clear', 'Polarised', 'Anti-reflection Coating'], {include_blank: "Select"}, { :class => 'form-control salutation' , :style =>'height:30px;padding:0px'}) %></span>
				</span>

				<span class="col-md-4 col-sm-4" style="padding: 0px;">
					<span class="col-md-5 col-sm-5" style="width: 100%;">Frame Material</span>
					<span> <%= f.select(:r_glassesprescriptions_framematerial, ['Patient Choice', 'Shell', 'Metal', 'Titanium', 'Shell(Paediatric Use)', 'Hypo-Allergenic Metal', 'Plastic', 'Carbon', 'Acetate', 'Aluminium', 'Optyl', 'Polyamide', 'Stainless Steel', 'TR-90', 'Ultem'], {include_blank: "Select"}, { :class => 'form-control salutation' , :style =>'height:30px;padding:0px'}) %></span>
				</span>
			</div>
			<div class="row" style="margin: auto;margin-bottom: 10px;">
				<span class="col-md-4 col-sm-4" style="padding: 0px;">
					<span class="col-md-5 col-sm-5" style="width: 100%;">Dia</span>
					<br>
					<div class="input-group col-md-7 col-sm-7" style="width: 130px;"> <%= f.text_field :r_glassesprescriptions_dia,  :class => "form-control form-control-custom r_glassesprescriptions_dia", :name => "invoice_inventory_order[r_glassesprescriptions_dia]" %> </div>
				</span>
				<span class="col-md-4 col-sm-4" style="padding: 0px;">
					<span class="col-md-5 col-sm-5" style="width: 100%;">Prism Base</span>
					<br>
				<div class="input-group col-md-7 col-sm-7" style="width: 130px;"> <%= f.text_field :r_glassesprescriptions_prismbase,  :class =>  "form-control form-control-custom r_glassesprescriptions_prismbase", :name => "invoice_inventory_order[r_glassesprescriptions_prismbase]"  %> </div>
				</span>
				<span class="col-md-4 col-sm-4" style="padding: 0px;">
					<span class="col-md-5 col-sm-5" style="width: 100%;">Fitting Height</span>
					<br>
					<div class="input-group col-md-7 col-sm-7" style="width: 130px;">  <%= f.text_field :r_glassesprescriptions_fittingheight, class: "form-control form-control-custom r_glassesprescriptions_fittingheight", :name => "invoice_inventory_order[r_glassesprescriptions_fittingheight]"  %> </div>
				</span>	
      </div>
      <% if current_user.country_id == 'KH_039' %>
	      <div class="row" style="margin: auto;margin-bottom: 10px;">
					<span class="col-md-4 col-sm-4" style="padding: 0px;">
						<span class="col-md-5 col-sm-5" style="width: 100%;">Distance PD</span>
						<br>
						<div class="input-group col-md-7 col-sm-7" style="width: 130px;"> <%= f.text_field :r_glassesprescriptions_distance_pd,  :class => "form-control form-control-custom r_glassesprescriptions_distance_pd", :name => "invoice_inventory_order[r_glassesprescriptions_distance_pd]" %> </div>
					</span>
					<span class="col-md-4 col-sm-4" style="padding: 0px;">
						<span class="col-md-5 col-sm-5" style="width: 100%;">Near PD</span>
						<br>
					<div class="input-group col-md-7 col-sm-7" style="width: 130px;"> <%= f.text_field :r_glassesprescriptions_near_pd,  :class =>  "form-control form-control-custom r_glassesprescriptions_near_pd", :name => "invoice_inventory_order[r_glassesprescriptions_near_pd]"  %> </div>
					</span>	
	      </div>
	    <% end %>
	  </div>
	</div>
</div>
</div>
	<div class="col-md-6">
		<div class="row l-acceptance-row">
	    <div class="col-md-12 col-sm-12 l-acceptance-column questionsforacceptance" id="l-questionsforacceptance">
	      <div class="col-md-3 col-sm-3" style="padding: 0px;">
	        <div class="col-md-12 col-sm-12 badge badge-eye-template-labels"><strong>GLASSES<div class="mb1"></div>PRESCRIPTIONS (Rx)&nbsp;&nbsp;</strong><i class="fa fa-arrow-left lcopybutton" title="Copy Right to Left" aria-hidden="true"></i></div>
	      </div>
	      <div class="col-md-9 l-answersforglassesprescriptions col-sm-9">
	        <table class="table table-bordered">
	          <thead>
	          <tr class="success">
	            <th width="20%" style="padding-top:0px;padding-bottom:0px;"></th>
	            <th width="20%" style="padding-top:0px;padding-bottom:0px;">Sph</th>
	            <th width="20%" style="padding-top:0px;padding-bottom:0px;">Cyl</th>
	            <th width="20%" style="padding-top:0px;padding-bottom:0px;">Axis</th>
	            <th width="20%" style="padding-top:0px;padding-bottom:0px;">Vision</th>
	          </tr>
	          </thead>
	          <tbody>
	          <tr>
	            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
	              Distant
	            </td>
	            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
	              <%= f.text_field :l_glassesprescriptions_distant_sph, class: 'form-control form-control-custom glasses-prescription l_glassesprescriptions_distant_sph calculate_sph_near_from_distant ref_field', maxlength: 6, size: 6, required: false, name: 'invoice_inventory_order[l_glassesprescriptions_distant_sph]' %>
	            </td>
	            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
	              <%= f.text_field :l_glassesprescriptions_distant_cyl, class: 'form-control form-control-custom glasses-prescription l_glassesprescriptions_distant_cyl calculate_cyl_near_from_distant ref_field', maxlength: 6, size: 6, required: false, name: 'invoice_inventory_order[l_glassesprescriptions_distant_cyl]' %>
	            </td>
	            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
	              <%= f.text_field :l_glassesprescriptions_distant_axis, class: 'form-control form-control-custom glasses-prescription l_glassesprescriptions_distant_axis calculate_axis_near_from_distant ref_field', maxlength: 6, size: 6, required: false, name: 'invoice_inventory_order[l_glassesprescriptions_distant_axis]' %>
	            </td>
	            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
	              <%= f.text_field :l_glassesprescriptions_distant_vision, class: 'form-control form-control-custom glasses-prescription l_glassesprescriptions_distant_vision ref_field', maxlength: 12, size: 6, required: false, name: 'invoice_inventory_order[l_glassesprescriptions_distant_vision]' %>
	            </td>
	          </tr>
	          <tr>
	            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
	              Add<sup class="suphash">#</sup>
	            </td>
	            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
	              <%= f.text_field :l_glassesprescriptions_add_sph, class: 'form-control form-control-custom glasses-prescription l_glassesprescriptions_add_sph calculate_near_from_add ref_field', maxlength: 6, size: 6, required: false, name: 'invoice_inventory_order[l_glassesprescriptions_add_sph]' %>
	            </td>
	            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
	              <%= f.text_field :l_glassesprescriptions_add_cyl, class: 'form-control form-control-custom l_glassesprescriptions_add_cyl ref_field', readonly: true, maxlength: 6, size: 6, required: false, name: 'invoice_inventory_order[l_glassesprescriptions_add_cyl]' %>
	            </td>
	            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
	              <%= f.text_field :l_glassesprescriptions_add_axis, class: 'form-control form-control-custom l_glassesprescriptions_add_axis ref_field', readonly: true, maxlength: 6, size: 6, required: false, name: 'invoice_inventory_order[l_glassesprescriptions_add_axis]' %>
	            </td>
	            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
	              <%= f.text_field :l_glassesprescriptions_add_vision, class: 'form-control form-control-custom glasses-prescription l_glassesprescriptions_add_vision ref_field', maxlength: 12, size: 6, required: false, name: 'invoice_inventory_order[l_glassesprescriptions_add_vision]' %>
	            </td>
	          </tr>
	          <tr>
	            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
	              Near
	            </td>
	            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
	              <%= f.text_field :l_glassesprescriptions_near_sph, class: 'form-control form-control-custom glasses-prescription l_glassesprescriptions_near_sph ref_field', maxlength: 6, size: 6, required: false, name: 'invoice_inventory_order[l_glassesprescriptions_near_sph]' %>
	            </td>
	            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
	              <%= f.text_field :l_glassesprescriptions_near_cyl, class: 'form-control form-control-custom glasses-prescription l_glassesprescriptions_near_cyl ref_field', maxlength: 6, size: 6, required: false, name: 'invoice_inventory_order[l_glassesprescriptions_near_cyl]' %>
	            </td>
	            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
	              <%= f.text_field :l_glassesprescriptions_near_axis, class: 'form-control form-control-custom glasses-prescription l_glassesprescriptions_near_axis ref_field', maxlength: 6, size: 6, required: false, name: 'invoice_inventory_order[l_glassesprescriptions_near_axis]' %>
	            </td>
	            <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
	              <%= f.text_field :l_glassesprescriptions_near_vision, class: 'form-control form-control-custom glasses-prescription l_glassesprescriptions_near_vision ref_field', maxlength: 12, size: 6, required: false, name: 'invoice_inventory_order[l_glassesprescriptions_near_vision]' %>
	            </td>
	          </tr>
	          </tbody>
	        </table>
			<div class="row" style="margin: auto;margin-bottom: 15px;margin-right: 10px;">
				<span class="col-md-4 col-sm-4" style="padding: 0px;">
					<span class="col-md-5 col-sm-5" style="width: 100%;">Type of Lens</span>
					<span> <%= f.select(:l_glassesprescriptions_typeoflens, ['Single Vision - Distant', 'Single Vision - Near', 'Bifocal', 'Progressive', 'Bifocal or Progressive', 'D Bifocal', 'KT Bifocal'], {include_blank: "Select"}, { :class => 'form-control salutation' , :style =>'height:30px;padding:0px'}) %></span>	
				</span>
				<% unless current_user.country_id == 'KH_039' %>
					<span class="col-md-4 col-sm-4" style="padding-left: 10px;">
					<span class="col-md-5 col-sm-5">IPD</span>

					<div class="input-group col-md-7 col-sm-7" style="width: 126px;" ><%= f.text_field :l_glassesprescriptions_ipd, class: 'form-control form-control-custom l_glassesprescriptions_ipd', :name =>  "invoice_inventory_order[l_glassesprescriptions_ipd]" %><span class="input-group-addon">mm</span></div>
					</span>
				<% end %>

				<span class="col-md-4 col-sm-4" style="padding: 0px;">
				<span class="col-md-5 col-sm-5">Size</span>
				<br>
				<span class="input-group col-md-7 col-sm-7" style="width: 130px;margin-left: 10px;">  <%= f.text_field :l_glassesprescriptions_size, class: "form-control form-control-custom l_glassesprescriptions_size", :name => "invoice_inventory_order[l_glassesprescriptions_size]"  %></span>
				</span>
            </div>
			<div class="row" style="margin: auto;margin-bottom: 10px;">

				<span class="col-md-4 col-sm-4" style="padding: 0px;">
					<span class="col-md-5 col-sm-5" style="width: 100%;">Lens Material</span>
					<span> <%= f.select(:l_glassesprescriptions_lensmaterial, ['Mineral', 'CR 39r', 'Patient Choice', 'Polycarbonate', 'Trivex', 'Organic', 'Evalution', 'MR7', 'MR10', 'MR8', 'Press on'], {include_blank: "Select"}, { :class => 'form-control salutation' , :style =>'height:30px;padding:0px'}) %></span>
				</span>

				<span class="col-md-4 col-sm-4" style="padding-left: 10px;">
					<span class="col-md-5 col-sm-5" style="width: 100%;">Lens Tint</span>
					<span> <%= f.select(:l_glassesprescriptions_lenstint, ['White', 'Amber', 'B1', 'B2', 'B3', 'Brown', 'G-15', 'Gradient Tint', 'Patient Choice', 'Photogrey', 'Photobrown', 'SP1', 'SP11', 'SP2', 'Yellow', 'Grey', 'Clear', 'Grey/Brown', 'Gray C/Brown C', 'Grey A', 'Gray / Brown / Green', 'PGX / PBX', 'Non Tintable', 'Pink', 'Photo Fusion Grey', 'Phot Fusion Brown', 'Polarised Brown', 'Polarised Grey', 'Transition', 'A1', 'A2', 'Colabar C', 'Colabar D', 'Non Clear', 'Polarised', 'Anti-reflection Coating'], {include_blank: "Select"}, { :class => 'form-control salutation' , :style =>'height:30px;padding:0px'}) %></span>
				</span>

				<span class="col-md-4 col-sm-4" style="padding: 0px;">
					<span class="col-md-5 col-sm-5" style="width: 100%;">Frame Material</span>
					<span> <%= f.select(:l_glassesprescriptions_framematerial, ['Patient Choice', 'Shell', 'Metal', 'Titanium', 'Shell(Paediatric Use)', 'Hypo-Allergenic Metal', 'Plastic', 'Carbon', 'Acetate', 'Aluminium', 'Optyl', 'Polyamide', 'Stainless Steel', 'TR-90', 'Ultem'], {include_blank: "Select"}, { :class => 'form-control salutation' , :style =>'height:30px;padding:0px'}) %></span>
				</span>
			</div>
			<div class="row" style="margin: auto;margin-bottom: 10px;">
				<span class="col-md-4 col-sm-4" style="padding: 0px;">
					<span class="col-md-5 col-sm-5" style="width: 100%;">Dia</span>
					<div class="input-group col-md-7 col-sm-7" style="width: 130px;"> <%= f.text_field :l_glassesprescriptions_dia,  :class => "form-control form-control-custom l_glassesprescriptions_dia", :name => "invoice_inventory_order[l_glassesprescriptions_dia]" %> </div>
				</span>
				<span class="col-md-4 col-sm-4" style="padding: 0px;">
					<span class="col-md-5 col-sm-5" style="width: 100%;">Prism Base</span>
					<br>
				<div class="input-group col-md-7 col-sm-7" style="width: 130px;"> <%= f.text_field :l_glassesprescriptions_prismbase,  :class =>  "form-control form-control-custom l_glassesprescriptions_prismbase", :name => "invoice_inventory_order[l_glassesprescriptions_prismbase]"  %> </div>
				</span>
				<span class="col-md-4 col-sm-4" style="padding: 0px;">
					<span class="col-md-5 col-sm-5" style="width: 100%;">Fitting Height</span>
					<br>
				<div class="input-group col-md-7 col-sm-7" style="width: 130px;"><%= f.text_field :l_glassesprescriptions_fittingheight, class: "form-control form-control-custom l_glassesprescriptions_fittingheight", :name => "invoice_inventory_order[l_glassesprescriptions_fittingheight]"  %> </div>
				</span>
      </div>
      <% if current_user.country_id == 'KH_039' %>
	      <div class="row" style="margin: auto;margin-bottom: 10px;">
					<span class="col-md-4 col-sm-4" style="padding: 0px;">
						<span class="col-md-5 col-sm-5" style="width: 100%;">Distance PD</span>
						<br>
						<div class="input-group col-md-7 col-sm-7" style="width: 130px;"> <%= f.text_field :l_glassesprescriptions_distance_pd,  :class => "form-control form-control-custom l_glassesprescriptions_distance_pd", :name => "invoice_inventory_order[l_glassesprescriptions_distance_pd]" %> </div>
					</span>
					<span class="col-md-4 col-sm-4" style="padding: 0px;">
						<span class="col-md-5 col-sm-5" style="width: 100%;">Near PD</span>
						<br>
					<div class="input-group col-md-7 col-sm-7" style="width: 130px;"> <%= f.text_field :l_glassesprescriptions_near_pd,  :class =>  "form-control form-control-custom l_glassesprescriptions_near_pd", :name => "invoice_inventory_order[l_glassesprescriptions_near_pd]"  %> </div>
					</span>	
	      </div>
	    <% end %>
	  </div>
	</div>
</div>
</div>
</div>

<style type="text/css">
	.copyfieldsbutton, .filldatabutton, .addfieldsbutton, .fill_inter_glass_btn{
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    padding: 2px 8px;
    border-radius: 3px;
    margin-left: 35px;
  }
  .lcopybutton, .rcopybutton {
    color: #fff;
    cursor: pointer;
  }
</style>

<script type="text/javascript">
	$('.lcopybutton').click(function(){
  var radio_array = ['Normal', 'Abnormal']
  $(this).parent().parent().parent().parent().find('table tr td,textarea,select,input').each(function(){
    var a = $(this);
    if (a.attr('id')) {
      var l_id =  a.attr('id');
      var r_id =  a.attr('id').replace('_l_','_r_');
      var l_val = $('#'+l_id).val();
      $('#'+r_id).val(l_val)

      if (radio_array.includes(l_val)) {
        copy_selected_radiobutton(r_id.replace('invoice_inventory_order_',''), r_id , l_val);
      }

      //for intraocular pressure slider
      if (a.attr('id')== 'invoice_inventory_order_l_intraocularpressure') {
        //check_visual_acuity_and_iop()
        toggle_iop_clear_button()
        $(".r-intraocularpressure-slider-range").slider("value", l_val);
        $('.r_intraocularpressure').val(l_val)
      }

      if (a.attr('id')== 'invoice_inventory_order_no_left_iop_advised') {
        check_iop_status()
        if($('#invoice_inventory_order_no_left_iop_advised').is(':checked')){
          $('#invoice_inventory_order_no_right_iop_advised').prop("checked", true);
          $('#invoice_inventory_order_no_right_iop_advised').val(true);
          $('.right_iop_row').hide()
        } else if(!$('#invoice_inventory_order_no_left_iop_advised').is(':checked')){
          $('#invoice_inventory_order_no_right_iop_advised').prop("checked", false);
            $('#invoice_inventory_order_no_right_iop_advised').val(false);
          $('.right_iop_row').show()
        }
      }

      check_glass_prescription_status()
    }
  });

  if($(this).closest('.glasses-prescription-block').length > 0){
    $(".glasses-details-block").find('table tr td,textarea,select,input').each(function(){
      var a = $(this);
      if (a.attr('id')) {
        var l_id =  a.attr('id');
        var r_id =  a.attr('id').replace('_l_','_r_');
        var l_val = $('#'+l_id).val();
        $('#'+r_id).val(l_val)

        //for intraocular pressure slider
        if (a.attr('id')== 'invoice_inventory_order_l_intraocularpressure') {
          jQuery(".r-intraocularpressure-slider-range").slider("value", l_val);
          $('.r_intraocularpressure').val(l_val)
        }
      }
    });
  }
});

$('.rcopybutton').click(function(){
  var radio_array = ['Normal', 'Abnormal']
  $(this).parent().parent().parent().parent().find('table tr td,textarea,select,input').each(function(){
    var a = $(this);
    if (a.attr('id')) {
      var r_id =  a.attr('id');
      var l_id =  a.attr('id').replace('_r_','_l_');
      var r_val = $('#'+r_id).val()
      $('#'+l_id).val(r_val)
      if (radio_array.includes(r_val)) {
        copy_selected_radiobutton(l_id.replace('invoice_inventory_order_',''), l_id , r_val);
      }
      //for intraocular pressure slider
      if (a.attr('id')== 'invoice_inventory_order_r_intraocularpressure') {
        //check_visual_acuity_and_iop()
        toggle_iop_clear_button()
        $(".l-intraocularpressure-slider-range").slider("value", r_val);
        $('.l_intraocularpressure').val(r_val);
      }

      if (a.attr('id')== 'invoice_inventory_order_no_right_iop_advised') {
        check_iop_status()
        if($('#invoice_inventory_order_no_right_iop_advised').is(':checked')){
          $('#invoice_inventory_order_no_left_iop_advised').prop("checked", true);
          $('#invoice_inventory_order_no_left_iop_advised').val(true);
          $('.left_iop_row').hide()
        } else if(!$('#invoice_inventory_order_no_right_iop_advised').is(':checked')){
          $('#invoice_inventory_order_no_left_iop_advised').prop("checked", false);
          $('#invoice_inventory_order_no_left_iop_advised').val(false);
          $('.left_iop_row').show()
        }
      }
      check_glass_prescription_status()
    }
  });

  if($(this).closest('.glasses-prescription-block').length > 0){
    $(".glasses-details-block").find('table tr td,textarea,select,input').each(function(){
      var a = $(this);
      if (a.attr('id')) {
        var r_id =  a.attr('id');
        var l_id =  a.attr('id').replace('_r_','_l_');
        var r_val = $('#'+r_id).val()
        $('#'+l_id).val(r_val)

        //for intraocular pressure slider
        if (a.attr('id')== 'invoice_inventory_order_r_intraocularpressure') {
          jQuery(".l-intraocularpressure-slider-range").slider("value", r_val);
          $('.l_intraocularpressure').val(r_val)
        }
      }
    });
  }
});

function add_success(ele_id) {
  $("#"+ele_id).removeClass('my-error');
  $("#"+ele_id).removeClass('my-danger');
  $("#"+ele_id+" > i").removeClass('fa-exclamation-triangle');
  $("#"+ele_id).addClass('my-success');
  if($("#"+ele_id).hasClass("my-error-dark")) {
    $("#"+ele_id).removeClass('my-error-dark');
    $("#"+ele_id).addClass('my-success-dark');
  }
  $("#"+ele_id+" > i").addClass('fa-check-circle');
  $("#opdrecord_"+ele_id).val(1);
}

function add_warning(ele_id) {
  $("#"+ele_id).removeClass('my-success');
  $("#"+ele_id+" > i").removeClass('fa-check-circle');
  $("#"+ele_id).addClass('my-error');
  if($("#"+ele_id).hasClass("my-success-dark")) {
    $("#"+ele_id).removeClass('my-success-dark');
    $("#"+ele_id).addClass('my-error-dark');
  }
  $("#"+ele_id+" > i").addClass('fa-exclamation-triangle');
  $("#opdrecord_"+ele_id).val(0);
}

function check_glass_prescription_status() {
      let all_glass_presc = ['invoice_inventory_order_r_glassesprescriptions_distant_sph', 'invoice_inventory_order_r_glassesprescriptions_distant_cyl', 'invoice_inventory_order_r_glassesprescriptions_distant_axis', 'invoice_inventory_order_r_glassesprescriptions_distant_vision', 'invoice_inventory_order_r_glassesprescriptions_add_sph', 'invoice_inventory_order_r_glassesprescriptions_add_vision', 'invoice_inventory_order_r_glassesprescriptions_near_sph', 'invoice_inventory_order_r_glassesprescriptions_near_cyl', 'invoice_inventory_order_r_glassesprescriptions_near_axis', 'invoice_inventory_order_r_glassesprescriptions_near_vision', 'invoice_inventory_order_l_glassesprescriptions_distant_sph', 'invoice_inventory_order_l_glassesprescriptions_distant_cyl', 'invoice_inventory_order_l_glassesprescriptions_distant_axis', 'invoice_inventory_order_l_glassesprescriptions_distant_vision', 'invoice_inventory_order_l_glassesprescriptions_add_sph', 'invoice_inventory_order_l_glassesprescriptions_add_vision', 'invoice_inventory_order_l_glassesprescriptions_near_sph', 'invoice_inventory_order_l_glassesprescriptions_near_cyl', 'invoice_inventory_order_l_glassesprescriptions_near_axis', 'invoice_inventory_order_l_glassesprescriptions_near_vision', 'invoice_inventory_order_r_intermediate_glasses_prescriptions_distant_sph', 'invoice_inventory_order_r_intermediate_glasses_prescriptions_distant_cyl', 'invoice_inventory_order_r_intermediate_glasses_prescriptions_distant_axis', 'invoice_inventory_order_r_intermediate_glasses_prescriptions_distant_vision', 'invoice_inventory_order_r_intermediate_glasses_prescriptions_add_sph', 'invoice_inventory_order_r_intermediate_glasses_prescriptions_add_vision', 'invoice_inventory_order_r_intermediate_glasses_prescriptions_near_sph', 'invoice_inventory_order_r_intermediate_glasses_prescriptions_near_cyl', 'invoice_inventory_order_r_intermediate_glasses_prescriptions_near_axis', 'invoice_inventory_order_r_intermediate_glasses_prescriptions_near_vision', 'invoice_inventory_order_l_intermediate_glasses_prescriptions_distant_sph', 'invoice_inventory_order_l_intermediate_glasses_prescriptions_distant_cyl', 'invoice_inventory_order_l_intermediate_glasses_prescriptions_distant_axis', 'invoice_inventory_order_l_intermediate_glasses_prescriptions_distant_vision', 'invoice_inventory_order_l_intermediate_glasses_prescriptions_add_sph', 'invoice_inventory_order_l_intermediate_glasses_prescriptions_add_vision', 'invoice_inventory_order_l_intermediate_glasses_prescriptions_near_sph', 'invoice_inventory_order_l_intermediate_glasses_prescriptions_near_cyl', 'invoice_inventory_order_l_intermediate_glasses_prescriptions_near_axis', 'invoice_inventory_order_l_intermediate_glasses_prescriptions_near_vision']
      let glass_presc = ''
      let glass_empty_count = 0
      for(glass_presc of all_glass_presc){
        if($('#'+ glass_presc).val() == ""){
          glass_empty_count = glass_empty_count - 1
        } else {
          glass_empty_count = glass_empty_count + 1
        }
      }

      if(glass_empty_count == -40 ){
        add_warning('glasses_is_valid');
      } else if(($('#invoice_inventory_order_templatetype').val() == "lens" || "<%=current_facility.country_id%>" == "VN_254") && glass_empty_count == 0){
        add_warning('glasses_is_valid');
      } else {
        add_success('glasses_is_valid');
      }
    }
</script>