<div class="modal-dialog" style="width: 40%">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title" style="color: #00BFFF">Invoice Details</h4>
    </div>
    <div class="modal-body window-body">
      <div class="row mb10">
        <div class="col-md-6">
          <b>Patient:</b>
          <%= text_field_tag 'inventory_order[patient_name]', @inventory_order.recipient, class: 'form-control patient-name p5_10', readonly: true %>
        </div>
        <div class="col-md-6">
          <b>Patient Mobile:</b>
          <%= text_field_tag 'inventory_order[patient_mobile]', @inventory_order.recipient_mobile, class: 'form-control patient-mobile p5_10', readonly: true %>
        </div>
      </div>
      <div class="row mb10">
        <div class="col-md-6">
          <b>Current Estimated Delivery Date:</b>
          <%= text_field_tag 'inventory_order[estimated_delivery_date]', @inventory_order.estimated_delivery_date.try(:strftime, "%d/%m/%Y"), class: 'form-control estimated-delivery-date p5_10', readonly: true %>
        </div>
        <div class="col-md-6">
          <b>New Estimated Delivery Date:</b>
          <%= text_field_tag 'inventory_order[new_estimated_delivery_date]', '', class: 'form-control new-estimated-delivery-datepicker p5_10', readonly: true %>
        </div>
      </div>
      <div class="row mb10">
        <div class="col-md-12">
          <b>Reason:</b>
          <%= text_field_tag 'inventory_order[reason]', '', class: 'form-control reason-delivery-reason p5_10', id: 'edit_delivery_date_reason', placeholder: 'Minimum 5 letters' %>
        </div>
      </div>
    </div>
    <div class="modal-footer window-footer">
      <button class="btn btn-primary" id="edit_delivery_date">Update</button>
    </div>
  </div>
</div>