<div id="filterModal" class="modal fade" role="dialog">
  <% @current_date = Date.current %>
  <div class="modal-dialog modal-dialog-custom">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn btn-succes" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
        <div style="float: right;">
          <button type="button" class="btn btn-success" id="submit-filter" >
            <span class="glyphicon glyphicon-ok"></span> Apply
          </button>
          <button type="button" class="btn btn-danger clear-to-default" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span>Clear to default
          </button>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="panel-body">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <ul class="nav navbar-nav" style="font-size:16px;margin-right:2%;">
                    <!-- TimePeriod -->
                    <li class="dropdown" style="margin-right:25px;">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" style="padding: 5px 2px; float: left;">
                        <span class="mis-dropdown-title">Period</span>
                        <span id="mis-date-filter" start-date="<%= @start_date %>" end-date="<%= @end_date %>"><%= @time_period %></span>&emsp;<span class="fa fa-caret-down"></span>
                      </a>
                      <span id= "default-period" class="apply-default" style="float: right"> Apply default</span>
                      <ul class="dropdown-menu mis-search-toggle-off" id="period-list" style="overflow-y: auto;max-height:400px;">
                        <li class="period-list"><a class="mis-date-filter" href="javascript:void(0);" start-date="<%= @current_date.strftime("%d/%m/%Y") %>" end-date="<%= @current_date.strftime("%d/%m/%Y") %>">Today</a></li>
                        <li class="period-list"><a class="mis-date-filter" href="javascript:void(0);" start-date="<%= @current_date.beginning_of_week.strftime("%d/%m/%Y") %>" end-date="<%= @current_date.end_of_week.strftime("%d/%m/%Y") %>">This Week</a></li>
                        <li class="period-list"><a class="mis-date-filter" href="javascript:void(0);" start-date="<%= @current_date.beginning_of_month.strftime("%d/%m/%Y") %>" end-date="<%= @current_date.end_of_month.strftime("%d/%m/%Y") %>">This Month</a></li>
                        <li class="period-list"><a class="mis-date-filter" href="javascript:void(0);" start-date="<%= @current_date.beginning_of_quarter.strftime("%d/%m/%Y") %>" end-date="<%= @current_date.end_of_quarter.strftime("%d/%m/%Y") %>">This Quarter</a></li>
                        <li class="period-list"><a class="mis-date-filter" href="javascript:void(0);" start-date="<%= @current_date.beginning_of_year.strftime("%d/%m/%Y") %>" end-date="<%= @current_date.end_of_year.strftime("%d/%m/%Y") %>">This Year</a></li>
                        <li class="period-list"><a class="mis-date-filter" href="javascript:void(0);" start-date="<%= @current_date.yesterday.strftime("%d/%m/%Y") %>" end-date="<%= @current_date.yesterday.strftime("%d/%m/%Y") %>">Yesterday</a></li>
                        <li class="period-list"><a class="mis-date-filter" href="javascript:void(0);" start-date="<%= (@current_date - @current_date.wday).beginning_of_week.strftime("%d/%m/%Y") %>" end-date="<%= (@current_date - @current_date.wday).end_of_week.strftime("%d/%m/%Y") %>">Previous Week</a></li>
                        <li class="period-list"><a class="mis-date-filter" href="javascript:void(0);" start-date="<%= (@current_date - @current_date.mday).beginning_of_month.strftime("%d/%m/%Y") %>" end-date="<%= (@current_date - @current_date.mday).end_of_month.strftime("%d/%m/%Y") %>">Previous Month</a></li>
                        <li class="period-list"><a class="mis-date-filter" href="javascript:void(0);" start-date="<%= (@current_date - 3.months).beginning_of_quarter.strftime("%d/%m/%Y") %>" end-date="<%= (@current_date - 3.months).end_of_quarter.strftime("%d/%m/%Y") %>">Previous Quarter</a></li>
                        <li class="period-list"><a class="mis-date-filter" href="javascript:void(0);" start-date="<%= (@current_date - @current_date.yday).beginning_of_year.strftime("%d/%m/%Y") %>" end-date="<%= (@current_date - @current_date.yday).end_of_year.strftime("%d/%m/%Y") %>">Previous Year</a></li>
                        <li class="period-list"><div class="mis-date-filter-custom" >Custom</div></li>
                        <!-- Custom -->
                      </ul>
                    </li>
                    <!-- Inventory -->
                  </ul>
                </div>
                <div class="form-group col-md-8">
                  <label class="f-title" for="pref-orderby" style="color: #428bca;">Date Range  </label>
                  <%= text_field_tag :date_range_field, "#{@start_date} To #{@end_date}", id: 'date_range_field',  class: 'form-control mis-date-range-picker', readonly: true, style: "cursor: pointer;text-align: center;"%>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="dropdown" style="margin-right:1%;">
                    <label class="f-title" for="pref-orderby" style="color: #428bca;">Fitter <span id= "default-fitter-ddlb" class="apply-default"> Apply default</span> </label>
                    <%= select_tag :fitter_id, options_for_select([['All', 'all']]+ @fitters, (@fitter_id || 'all')), { class: "form-control dropdown-filter", required: true }%>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <div class="dropdown" style="margin-right:1%;">
                    <label class="f-title" for="pref-orderby" style="color: #428bca;">
                      Order Status <span id= "default-order-status" class="apply-default"> Apply default</span>
                    </label>
                    <% states = [ ['All Orders', 'all'], ['Placed', 'placed'], ['Delivered', 'delivered'], ['Fitting', 'fitting'], ['Ready', 'ready'], ['Canceled', 'cancelled'] ] %>
                    <%= select_tag :order_status, options_for_select(states, @state_name), { class: "form-control dropdown-filter", required: true }%>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <div class="dropdown" style="margin-right:1%;">
                    <label class="f-title" for="pref-orderby" style="color: #428bca;">
                      Sort By <span id= "default-sort-by" class="apply-default"> Apply default</span>
                    </label>
                    <%sort_by = [['Transaction Date', 'newest_first'], ['Delivery Date', 'delivery_first']] %>
                    <%= select_tag :sort_by, options_for_select(sort_by, @sort_by), { class: "form-control dropdown-filter", required: true }%>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <div class="dropdown" style="margin-right:1%;">
                    <label class="f-title" for="pref-orderby" style="color: #428bca;">
                      Delivery Type <span id= "default-home-delivery-by" class="apply-default"> Apply default</span>
                    </label>
                    <% home_delivery = [['All Orders', 'all'], ['Home Delivery', 'true'], ['Normal', 'false']] %>
                    <%= select_tag :home_delivery, options_for_select(home_delivery, @home_delivery), { class: "form-control dropdown-filter", required: true }%>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
