<div class="inventory-item-toolbar1 inventory-toolbar">
  <% current_date = Date.current %>
  <nav class="navbar navbar-secondary navbar-fixed-top" style="margin-bottom: 0px; left: auto; right: auto; width: auto; position: relative;z-index:100; background: #354670;">
    <div class="container-fluid" style="padding-right:0;">
      <div class="col-xs-1 link-to-calendar" style="padding-left:initial;">
        <div class="navbar-header" style="margin-top: 7px;">
          <button class="btn btn-link btn-xs btn-inventory-refresh"><i class="fa fa-refresh" style="color:#fff;"></i></button>
        </div>
      </div>

      <div class="col-xs-3" style="padding: 5px 10px;">
        <% if @inventory_store.billable_transaction && Authorization::PolicyHelper.verification(current_user.id ,"HGP-100-118-100") %>
          <div class="btn-group" style="margin-bottom: 0px;" role="group" aria-label="">
            <a href="/invoice/inventory_orders/free_invoice?store_id=<%= @inventory_store.id %>" data-remote="true" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> New</a>
            <button type="button" class="btn btn-primary btn-sm dropdown-toggle " data-toggle="dropdown" style="">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu children" style="">
              <li>
                <a href="/invoice/inventory_orders/free_invoice?store_id=<%= @inventory_store.id %>" data-remote="true" class=""> New Order</a>
              </li>
            </ul>
          </div>
        <% end %>
      </div>

      <% if @inventory_store.department_id != '50121007' %>
        <div class="col-xs-3" style="padding: 5px 10px;">
          <div class="btn-group" style="margin-bottom: 0px;" role="group" aria-label="">
            <a class="btn btn-info btn-sm" style="margin-left: -10px" id="time_period"><%= @time_period %></a>
            <button type="button" class="btn btn-info btn-sm dropdown-toggle " data-toggle="dropdown" style="">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu children" style="">
              <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date %>" end-date="<%= current_date %>">Today</a></li>
              <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.yesterday %>" end-date="<%= current_date.yesterday %>">Yesterday</a></li>
              <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.beginning_of_week %>" end-date="<%= current_date.end_of_week %>">This Week</a></li>
              <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.beginning_of_month %>" end-date="<%= current_date.end_of_month %>">This Month</a></li>
              <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.beginning_of_quarter %>" end-date="<%= current_date.end_of_quarter %>">This Quarter</a></li>
              <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= current_date.beginning_of_year %>" end-date="<%= current_date.end_of_year %>">This Year</a></li>
              <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= (current_date - current_date.wday).beginning_of_week %>" end-date="<%= (current_date - current_date.wday).end_of_week %>">Previous Week</a></li>
              <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= (current_date - current_date.mday).beginning_of_month %>" end-date="<%= (current_date - current_date.mday).end_of_month %>">Previous Month</a></li>
              <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= (current_date - 3.months).beginning_of_quarter %>" end-date="<%= (current_date - 3.months).end_of_quarter %>">Previous Quarter</a></li>
              <li class="period-list"><a class="mis-date-filter" href="#" start-date="<%= (current_date - current_date.yday).beginning_of_year %>" end-date="<%= (current_date - current_date.yday).end_of_year %>">Previous Year</a></li>
                <!-- Custom -->
              <li class="period-list"><div class="mis-date-filter-custom" data-remote="true" data-toggle="modal" data-target="#mis-modal">Custom</div></li>
            </ul>
          </div>
          <% if @inventory_store.department_id == '284748001' %>
            <div style="margin-left: 130px; margin-top: -25px;display: flex;cursor: pointer" class="date_range_field" >
              <span style="color: #fff;"><%= @start_date %>&nbsp;&nbsp;to&nbsp;&nbsp;</span><span style="color: #fff;"><%= @end_date %></span>
              &nbsp;&nbsp;<span style="color: #fff;font-size: 20px;" class="fa fa-caret-down"></span>
            </div>
          <% end %>
        </div>
      <%end%> 
      <div id="esearch_summary">
        <%#= render partial: '/invoice/inventory_orders/filter' %>
      </div>
      <% if @inventory_store.department_id == '50121007' %>
        <div class="navbar-header col-xs-5 date_range_field" style="margin-top: 15px;display: flex;cursor: pointer" >
            <span style="color: #fff;"><%=@start_date %>&nbsp;&nbsp;-&nbsp;&nbsp;</span><br><span style="color: #fff;"><%= @end_date %></span>
            &nbsp;&nbsp;<span style="color: #fff;font-size: 20px;" class="fa fa-caret-down"></span>
        </div>
        <div class="col-xs-2" style="padding: 5px 10px;">
            <div class="btn-group" style="margin-bottom: 0px;" role="group" aria-label="" >
              <button type="button" data-toggle="modal" class="btn btn-primary btn-primary-transparent filter-button" style="color:#fff;margin-left:15px;" id="mod-btn" data-target="#filterModal">
                <span class="glyphicon glyphicon-filter"></span> Filter
              </button>
            </div>
        </div>
      <%end%>

    </div>
  </nav>
</div>

<div class="inventory-items" style=" height: initial;">
  <table class="table inventory_table_center">
    <thead class="inventory-table-head">
    <tr style="font-weight: bold;" class="thead-fixable text-center">
      <td class='thead-fix col-md-1'>Sl.No</td>
      <td class='thead-fix col-md-2'>Txn.Info</td>
      <td class='thead-fix col-md-2'>Delivery Date</td>
      <td class='thead-fix col-md-2'>Order Status</td>
      <td class='thead-fix col-md-2'>Recipient Info</td>
      <td class='thead-fix col-md-2'>Amount</td>
    </tr>
    </thead>
    <tbody class="inventory-table-body">
    <%= render partial: '/invoice/inventory_orders/index_body' %>
    </tbody>
  </table>
  <% unless @inventory_orders&.count < 30 %>
    <div class="show-more-timeline">
      <a class="col-sm-12", href="javascript:;", id="show_more_inventory", data-count = "0" , style="text-align: center;text-decoration: none;position: fixed;">
        <i class="fa fa-spinner fa-spin"></i> Loading...
      </a>
    </div>
  <% end %>
  <% if @inventory_store.department_id == '50121007' %>
    <div id ='filters_sidebar'>
      <%= render partial: "/invoice/inventory_orders/filters_sidebar.html.erb" %>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  $(".tagsinput .tag").on("click", function() {
    var tagattr = $(this).attr("data-attribute")
    $(this).hide()
    $("."+tagattr).val("")
    refreshPurchasePage()
  })

  function refreshPurchasePage() {
    loadingDots();
    let store_id = '<%= @store_id %>'

    jQuery.ajax({
      type: 'get',
      dataType: 'script',
      data: {
        store_id: store_id,
        remote: true
      },
      url: '/invoice/inventory_orders'
    });
  }

  function loadingDots() {
    $(".inventory-items ").html("<div class='loading_dots'><span></span> <span></span> <span></span></div>")
  }

</script>

<style>
  .print_button{
    border: 1px solid #6EC7EE;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    background: #6EC7EE;
    border-radius: 4px;
  }
  .print_button:hover{
    color: #fff;
    text-decoration: none;
  }

  .inventory-list-row:hover{
    background: aliceblue;
    cursor: pointer;
  }

  .inventory-list-row {
    cursor: pointer;
  }
  div.tagsinput {
    background: rgb(53, 70, 112)!important;
    border: none !important;
    padding:5px;
    width: auto !important;
    height: 48px !important;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
  }
  div.tagsinput span.tag {
    display: block;
    /*float: left;*/
    /*padding: 8px 5px;*/
    text-decoration: none;
    background: #ffffff !important;
    color: #000 !important;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
  }

  div.tagsinput span.tag:hover {
    text-decoration: line-through;
  }

  div.tagsinput span.tag a {
    font-weight: bold;
    color: #000 !important;
    opacity: 0.5;
    text-decoration: none;
    font-size: 11px;
  }
  .clear-filters-tag {
    padding: 10px;
    /*display: block;*/
    float: left;
    padding: 8px 5px;
    text-decoration: none;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
  }
</style>
