<% if @inventory_orders.length > 0 %>
  <% sl_no = params[:total_count_row].to_i %>
  <% @inventory_orders.each_with_index do |order,i| %>
    <% sl_no += 1 %>
    <% if order.is_canceled == true %>
      <tr id="<%= order.id %>" class="inventory-list-row text-center" style="color: red">
    <% else %>
      <tr id="<%= order.id %>" class="inventory-list-row text-center">
    <% end %>
      <td style="font-size: 10px;" class="col-md-1"><%=sl_no%></td>
      <td style="font-size: 10px;" class="col-md-2">
        <%= order.order_date.try(:strftime, '%d-%m-%Y') %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= order.order_date_time&.strftime("%I:%M%p") %>
        <br>
        <%= order.order_number %>
      </td>
      <td style="font-size: 10px;" class="col-md-2">
        <% if order.home_delivery %>
          <i class="fas fa-shipping-fast" style="color: green;"></i>&nbsp;&nbsp;
        <% end %>
        <% if order.delivered == true %>
          <%= order.delivery_date.try(:strftime, '%d-%m-%Y') %>
        <% elsif order.estimated_delivery_date.present? %>
          <span class="text-warning"><%= order.estimated_delivery_date.try(:strftime, '%d-%m-%Y') %></span>
          <br> <span class="small">Estimated</span>
        <% end %>
      </td>
      <% if order.is_canceled %>
        <td class="col-md-2 ">Canceled</td>
      <% else %>
        <td class="col-md-2 "><%= order.state&.capitalize %><br><%=order.fitter_name if order.state == 'fitting'%></td>
      <% end %>
      <td class="col-md-2"><%= order.recipient %><br><%= order.recipient_mobile %></td>

      <td class="col-md-2 ">
        <%= order.total.try(:round, 2) %>
        <%if order.delivered == false && order.amount_remaining.to_f > 0%>
          <br>
          <span class="small text-success">Adv. <%= order.advance_payment%></span>
        <%end%>    
      </td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td align="center"><strong style="font-size: 20px;">Nothing to Display</strong></td>
  </tr>
<% end %>
