<div class="row">
  <div class="col-sm-5" style="background: #eee;padding-top: 10px;">
    <div class="col-md-4">Invoice Type :</div>
    <div class="col-md-4">
      <div class="rdio rdio-primary">
        <input name="invoice_<%= type %>[invoice_type]" id="invoice_type_cash" class="invoice_type" type="radio" value="cash" <%= "checked='checked'" if @inventory_order.invoice_type == 'cash' %>>
        <label for="invoice_type_cash">Cash</label>
      </div>
    </div>
    <div class="col-md-4" >
      <div class="rdio rdio-primary">
        <input name="invoice_<%= type %>[invoice_type]" id="invoice_type_credit" class="invoice_type" type="radio" value="credit" <%= "checked='checked'" if @inventory_order.invoice_type == 'credit' %>>
        <label for="invoice_type_credit">Credit</label>
      </div>
    </div>
  </div>
  <div class="col-sm-7">
    <div class="patient-information">
      <%= render partial: 'invoice/inventory_invoices/patient_information_v1.html.erb', locals: {f:f} %>
    </div>
  </div>
</div>

<div class="row">
  <div id="payer_display_dropdowns" class="col-sm-12">

    <div class="col-md-2 col-md-2-shared" style="max-width: 14%; padding-right: 0;padding-left: 0;">
      <b style="color:#000;">Claim Processor:</b>
      <i class="fa fa-info-circle cursonr-filter tooltip-icon" id='claim_pocessor_info'></i>
      <span class="tooltip-data" tooltip_target='claim_pocessor_info'>
        This is payer or TPA selection
      </span>
    </div>
    <div class="col-md-3 col-md-5-shared" style="margin-top: -4px;">
      <%= select_tag("invoice_#{type}[contact_group_id]", options_for_select(@contact_groups, @inventory_order.contact_group_id), include_blank: 'Select Contact Type', class: 'invoice_contact_group_id form-control p7_10') %>
    </div>
    <div class="col-md-3 col-md-5-shared" style="margin-top: -4px;">
      <%= select_tag("invoice_#{type}[payer_master_id]", options_for_select([], ''), include_blank: 'Select Contact', class: 'invoice_payer_master_id form-control p7_10') %>
    </div>

    <div class="col-md-1 col-md-2-shared insurer-content" style="max-width: 9%;padding-right: 0;">
      <b style="color:#000;">Insurer:</b>
      <i class="fa fa-info-circle cursonr-filter tooltip-icon" id='insurer_info'></i>
      <span class="tooltip-data" tooltip_target='insurer_info'>
        This is optional. Will appear in bill print only if enabled from settings.
      </span>      
    </div>
    <div class="col-md-2 insurer-content" style="margin-top: -4px;">
      <%= select_tag("invoice_#{type}[insurer_group_id]", options_for_select(@contact_groups, @inventory_order.insurer_group_id), include_blank: 'Select Insurer Type', class: 'invoice_insurer_group_id form-control p7_10') %>
    </div>
    <div class="col-md-2 insurer-content" style="margin-top: -4px;">
      <%= select_tag("invoice_#{type}[insurer_id]", options_for_select([], ''), include_blank: 'Select Insurer', class: 'invoice_insurer_id form-control p7_10') %>
    </div>

  </div>
</div>
<style>
  .cursonr-filter{
    color: red;
  }
  #payer_display_dropdowns{
    display: none;
    padding: 6px 18px;
    border-bottom: 1px solid #cecece;
  }
</style>