<div class="row">
  <span style="margin-left: 10px;"><strong><%= 'INTERMEDIATE ' if @patient_prescription.prescription_type&.include?('intermediate') %>GLASSES PRESCRIPTIONS</strong> &nbsp;(Last updated on <%= @patient_prescription.updated_at.strftime("%d %b,%Y")%> &nbsp;at <%= @patient_prescription.updated_at.strftime("%I:%M %p")%>)</span>
  <span style="float: right;margin-top: -2px; margin-right: 65px;">
      <% if @print_settings.count > 1 %>
        <div class="btn-group">
          <button type="button" class="btn btn-link btn-sm full_print dropdown-toggle" data-toggle="dropdown"><i class="fa fa-print mr5"></i> Print Receipt <i class="fa fa-caret-down"></i></button>
          <ul class="dropdown-menu dropdown-left-manual" role="menu" aria-labelledby="summary-print-dropdown" style="">
            <% @print_settings.each do |print_setting| %>
              <li style="text-align:left">
                <%= link_to opd_records_print_glass_prescription_path(:opdrecordid => @patient_prescription.record_id.to_s, :patientid => @patient_prescription.patient_id.to_s, :appointmentid => @patient_prescription.appointment_id, :templatetype => "eye", :specality => "ophthalmology", print_setting_id: print_setting.id, flag: @patient_prescription.prescription_type, action_from: 'optical_store', prescription_id: @patient_prescription.id, format: :pdf), :class => "print_glass_prescription",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> <%= print_setting.name %> <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% else %>
        <%= link_to opd_records_print_glass_prescription_path(:opdrecordid => @patient_prescription.record_id.to_s, :patientid => @patient_prescription.patient_id.to_s, :appointmentid => @patient_prescription.appointment_id, :templatetype => "eye", :specality => "ophthalmology", print_setting_id: @print_settings[0].id, flag: @patient_prescription.prescription_type, action_from: 'optical_store', prescription_id: @patient_prescription.id, format: :pdf), :class => "print_glass_prescription", :target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> Print <% end %>
      <% end %>
    <!-- <a class="btn btn-xs btn-link pull-right" target="_blank" data-method="get" href="/opd_records/print_glass_prescription.pdf?appointmentid=<%#= @patient_prescription.appointment_id%>&amp;opdrecordid=<%#= @patient_prescription.record_id.to_s%>&amp;patientid=<%#= @patient_prescription.patient_id.to_s%>&amp;specality=ophthalmology&amp;templatetype=eye"> <i class="fa fa-print"></i> Print</a> -->
    </span>
</div>
<% optical_instance = Inventory::Department::OpticalHelper %>
<div class="row no_margin" style="max-height: 150px; overflow-y: visible; overflow-x: hidden; font-size: 11px;" >
  <div class="row" style="margin: 5px 0;">

    <% values = optical_instance.get_prescription_values(@patient_prescription, 'prescription') %>
    <div class="col-xs-6" style="padding-left: 10px;padding-right: 2px;">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th width="20%" style="padding-top:0px;padding-bottom:0px;">
            <div class="text-center">R/OD</div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td style="padding:0;">
            <div class="row">
              <div class="col-xs-12">
                <table class="mb3 table-bordered" style="margin-left: 0%; width: 100%">
                  <thead>
                  <tr>
                    <th width="10%" style="padding: 5px;text-align: center;">Print</th>
                    <th width="20%" style="padding: 5px;text-align: center;"></th>
                    <th width="20%" style="padding: 5px;text-align: center;">Sph</th>
                    <th width="20%" style="padding: 5px;text-align: center;">Cyl</th>
                    <th width="20%" style="padding: 5px;text-align: center;">Axis</th>
                    <th width="20%" style="padding: 5px;text-align: center;">Vision</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td style="text-align: center;"><input type="checkbox" checked="true" name="r_l_print_distant" id="r_l_print_distant"></td>
                    <td style="padding: 5px;text-align: center;">
                      Distant
                    </td>
                    <td style="padding: 5px;text-align: center;">
                      <%= values['r_distant_sph'] %>
                    </td>
                    <td style="padding: 5px;text-align: center;">
                      <%= values['r_distant_cyl'] %>
                    </td>
                    <td style="padding: 5px;text-align: center;">
                      <%= values['r_distant_axis'] %>
                    </td>
                    <td style="padding: 5px;text-align: center;">
                      <%= values['r_distant_vision'] %>
                    </td>
                  </tr>
                  <% if values[:show_add] %>
                    <tr>
                      <td style="text-align: center;"><input type="checkbox" checked="true" name="r_l_print_add" id="r_l_print_add"></td>
                      <td style="padding: 5px;text-align: center;">
                        Add
                      </td>
                      <td style="padding: 5px;text-align: center;">
                        <%= values['r_add_sph'] %>
                      </td>
                      <td style="padding: 5px;text-align: center;">
                        <%= values['r_add_cyl'] %>
                      </td>
                      <td style="padding: 5px;text-align: center;">
                        <%= values['r_add_axis'] %>
                      </td>
                      <td style="padding: 5px;text-align: center;">
                        <%= values['r_add_vision'] %>
                      </td>
                    </tr>
                  <% end %>
                  <tr>
                    <td style="text-align: center;"><input type="checkbox" checked="true" name="r_l_print_near" id="r_l_print_near"></td>
                    <td style="padding: 5px;text-align: center;">
                      Near
                    </td>
                    <td style="padding: 5px;text-align: center;">
                      <%= values['r_near_sph'] %>
                    </td>
                    <td style="padding: 5px;text-align: center;">
                      <%= values['r_near_cyl'] %>
                    </td>
                    <td style="padding: 5px;text-align: center;">
                      <%= values['r_near_axis'] %>
                    </td>
                    <td style="padding: 5px;text-align: center;">
                      <%= values['r_near_vision'] %>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-xs-6" style="padding-left: 2px;padding-right: 10px;">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th width="20%" style="padding-top:0px;padding-bottom:0px;">
            <div class="text-center">L/OS</div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td style="padding:0;">
            <div class="row">
              <div class="col-xs-12">
                <table class="mb3 table-bordered" style="margin-left: 0%; width: 100%">
                  <thead>
                  <tr>
                    <th width="20%" style="padding: 5px;text-align: center;"></th>
                    <th width="20%" style="padding: 5px;text-align: center;">Sph</th>
                    <th width="20%" style="padding: 5px;text-align: center;">Cyl</th>
                    <th width="20%" style="padding: 5px;text-align: center;">Axis</th>
                    <th width="20%" style="padding: 5px;text-align: center;">Vision</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td style="padding: 5px;text-align: center;">
                      Distant
                    </td>
                    <td style="padding: 5px;text-align: center;">
                      <%= values['l_distant_sph'] %>
                    </td>
                    <td style="padding: 5px;text-align: center;">
                      <%= values['l_distant_cyl'] %>
                    </td>
                    <td style="padding: 5px;text-align: center;">
                      <%= values['l_distant_axis'] %>
                    </td>
                    <td style="padding: 5px;text-align: center;">
                      <%= values['l_distant_vision'] %>
                    </td>
                  </tr>
                  <% if values[:show_add] %>
                    <tr>
                      <td style="padding: 5px;text-align: center;">
                        Add
                      </td>
                      <td style="padding: 5px;text-align: center;">
                        <%= values['l_add_sph'] %>
                      </td>
                      <td style="padding: 5px;text-align: center;">
                        <%= values['l_add_cyl'] %>
                      </td>
                      <td style="padding: 5px;text-align: center;">
                        <%= values['l_add_axis'] %>
                      </td>
                      <td style="padding: 5px;text-align: center;">
                        <%= values['l_add_vision'] %>
                      </td>
                    </tr>
                  <% end %>
                  <tr>
                    <td style="padding: 5px;text-align: center;">
                      Near
                    </td>
                    <td style="padding: 5px;text-align: center;">
                      <%= values['l_near_sph'] %>
                    </td>
                    <td style="padding: 5px;text-align: center;">
                      <%= values['l_near_cyl'] %>
                    </td>
                    <td style="padding: 5px;text-align: center;">
                      <%= values['l_near_axis'] %>
                    </td>
                    <td style="padding: 5px;text-align: center;">
                      <%= values['l_near_vision'] %>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <% values = optical_instance.get_prescription_values(@patient_prescription, 'acceptance') %>

    <div class="col-xs-6" style="padding-left: 2px;padding-right: 10px;">
    <div class="row" style="margin: auto;margin-bottom: 10px;">
      <%# if values['r_typeoflens'].present? && values['r_typeoflens'] != '--' %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444;">Type Of Lens </b><br></span>
          <%= select_tag "invoice_inventory_order[r_glassesprescriptions_typeoflens]", options_for_select([ 'Single Vision - Distant', 'Single Vision - Near', 'Bifocal', 'Progressive', 'Bifocal or Progressive', 'D Bifocal', 'KT Bifocal' ], values['r_typeoflens']), { class: 'form-control', include_blank: 'Select' } %>
        </div>
      <%# end %>
      <% unless @patient_prescription.templatetype == 'vision' %>
        <%# if values['r_ipd'].present? && values['r_ipd'] != '--' %>
          <div class="col-md-4 text-center">
            <span><b style="color:#444;">IPD </b><br></span>
            <% value = values['r_ipd'] == '--' ? '' : values['r_ipd'] %>
            <div class="input-group col-md-7 col-sm-7"><%= text_field_tag("invoice_inventory_order[r_glassesprescriptions_ipd]" , value )%><span class="input-group-addon">mm</span></div>
          </div>
        <%# end %>
      <% end %>
      <%# if values['r_size'].present? && values['r_size'] != '--' %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444;">Size </b><br></span>
          <% value = values['r_size'] == '--' ? '' : values['r_size'] %>
          <div class="input-group col-md-7 col-sm-7"><%= text_field_tag("invoice_inventory_order[r_glassesprescriptions_size]" , value )%></div>
        </div>
      <%# end %>
    </div> 
    <div class="row" style="margin: auto;margin-bottom: 10px;">
      <%# if values['r_lensmaterial'].present? && values['r_lensmaterial'] != '--' %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444;">Lens Material </b><br></span>
          <%= select_tag "invoice_inventory_order[r_glassesprescriptions_lensmaterial]", options_for_select([ 'Mineral','CR 39r','Patient Choice','Polycarbonate','Trivex','Organic','Evalution','MR7','MR10','MR8','Press on'], values['r_lensmaterial']), { class: 'form-control', include_blank: 'Select' } %>
        </div>
      <%# end %>
      <%# if values['r_lenstint'].present? && values['r_lenstint'] != '--' %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444;">Lens Tint </b><br></span>
          <%= select_tag "invoice_inventory_order[r_glassesprescriptions_lenstint]", options_for_select([ 'White','Amber','B1','B2','B3','Brown','G-15','Gradient Tint','Patient Choice','Photogrey','Photobrown','SP1','SP11','SP2','Yellow','Grey','Clear','Grey/Brown','Gray C/Brown C','Grey A','Gray / Brown / Green','PGX / PBX','Non Tintable','Pink','Photo Fusion Grey','Phot Fusion Brown','Polarised Brown','Polarised Grey','Transition','A1','A2','Colabar C','Colabar D','Non Clear','Polarised','Anti-reflection Coating' ], values['r_lenstint']), {class: 'form-control', include_blank: 'Select'} %>
        </div>
      <%# end %>
      <%# if values['r_framematerial'].present? && values['r_framematerial'] != '--' %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444;">Frame Material </b><br></span>
          <%= select_tag "invoice_inventory_order[r_glassesprescriptions_framematerial]", options_for_select([ 'Patient Choice', 'Shell', 'Metal', 'Titanium', 'Shell(Paediatric Use)', 'Hypo-Allergenic Metal', 'Plastic', 'Carbon', 'Acetate', 'Aluminium', 'Optyl', 'Polyamide', 'Stainless Steel', 'TR-90', 'Ultem' ], values['r_framematerial']), {class: 'form-control', include_blank: 'Select'} %>
        </div>
      <%# end %>
    </div> 
    <div class="row" style="margin: auto;margin-bottom: 10px;">  
      <%# if values['r_dia'].present? && values['r_dia'] != '--' %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444;">Dia </b><br></span>
          <% value = values['r_dia'] == '--' ? '' : values['r_dia'] %>
          <div class="input-group col-md-7 col-sm-7"><%= text_field_tag("invoice_inventory_order[r_glassesprescriptions_dia]" , value )%></div>
        </div>
      <%# end %>
      <%# if values['r_fittingheight'].present? && values['r_fittingheight'] != '--' %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444; margin-right: 80px;">Fitting Height </b><br> </span>
          <% value = values['r_fittingheight'] == '--' ? '' : values['r_fittingheight'] %>
          <div class="input-group col-md-7 col-sm-7"><%= text_field_tag("invoice_inventory_order[r_glassesprescriptions_fittingheight]" , value )%></div>
        </div>
      <%# end %>
      <%# if values['r_prismbase'].present? && values['r_prismbase'] != '--' %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444; margin-right: 70px;">Prism Base </b><br> </span>
          <% value = values['r_prismbase'] == '--' ? '' : values['r_prismbase'] %>
          <div class="input-group col-md-7 col-sm-7"><%= text_field_tag("invoice_inventory_order[r_glassesprescriptions_prismbase]" , value )%></div>
        </div>
      <%# end %>
    </div>
    <div class="row" style="margin: auto;margin-bottom: 10px;">
      <% if @patient_prescription.templatetype == 'vision' %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444; margin-right: 80px;">Distance PD</b><br></span>
          <% value = values['r_distance_pd'] == '--' ? '' : values['r_distance_pd'] %>
          <div class="input-group col-md-7 col-sm-7"><%= text_field_tag("invoice_inventory_order[r_glassesprescriptions_distance_pd]" , value )%></div>
        </div>
        <div class="col-md-4 text-center">
          <span style="text-center"><b style="color:#444; margin-right: 80px;">Near PD</b><br></span>
          <% value = values['r_near_pd'] == '--' ? '' : values['r_near_pd'] %>
          <div class="input-group col-md-7 col-sm-7"><%= text_field_tag("invoice_inventory_order[r_glassesprescriptions_near_pd]" , value )%></div>
        </div>
      <% end %>
    </div>   
      <%# if values['r_comments'].present? && values['r_comments'] != '--' %>
        <div class="col-md-12">
        <span><b style="color:#444;">Comments </b><br> <%= values['Comments'] %></span>
        <% value = values['r_comments'] == '--' ? '' : values['r_comments'] %>
         <div class="input-group col-md-7 col-sm-7"><%= text_field_tag("invoice_inventory_order[r_glassesprescriptions_comments]" , value )%></div>
        </div>
      <%# end %>
    </div>
    <div class="col-xs-6" style="padding-left: 2px;padding-right: 10px;">
      <div class="row" style="margin: auto;margin-bottom: 10px;">
        <%# if values['l_typeoflens'].present? && values['l_typeoflens'] != '--' %>
          <div class="col-md-4 text-center">
            <span><b style="color:#444;">Type Of Lens </b><br></span>
            <%= select_tag "invoice_inventory_order[l_glassesprescriptions_typeoflens]", options_for_select([ 'Single Vision - Distant', 'Single Vision - Near', 'Bifocal', 'Progressive', 'Bifocal or Progressive', 'D Bifocal', 'KT Bifocal' ], values['l_typeoflens']), {class: 'form-control', include_blank: 'Select'} %>
          </div>
        <%# end %>
        <% unless @patient_prescription.templatetype == 'vision' %>
          <%# if values['l_ipd'].present? && values['l_ipd'] != '--' %>
            <div class="col-md-4 text-center">
              <span><b style="color:#444;">IPD </b><br></span>
              <% value = values['l_ipd'] == '--' ? '' : values['l_ipd'] %>
              <div class="input-group col-md-7 col-sm-7"><%= text_field_tag("invoice_inventory_order[l_glassesprescriptions_ipd]" , value )%><span class="input-group-addon">mm</span></div>
            </div>
          <%# end %>
        <% end %>
        <%# if values['l_size'].present? && values['l_size'] != '--' %>
          <div class="col-md-4 text-center">
            <span><b style="color:#444;">Size </b><br></span>
            <% value = values['l_size'] == '--' ? '' : values['l_size'] %>
            <div class="input-group col-md-7 col-sm-7"><%= text_field_tag("invoice_inventory_order[l_glassesprescriptions_size]" , value )%></div>
          </div>
        <%# end %>
    </div> 
    <div class="row" style="margin: auto;margin-bottom: 10px;">
      <%# if values['l_lensmaterial'].present? && values['l_lensmaterial'] != '--' %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444;">Lens Material </b><br></span>
          <%= select_tag "invoice_inventory_order[l_glassesprescriptions_lensmaterial]", options_for_select([ 'Mineral','CR 39r','Patient Choice','Polycarbonate','Trivex','Organic','Evalution','MR7','MR10','MR8','Press on'], values['l_lensmaterial']), {class: 'form-control', include_blank: 'Select'} %>
        </div>
      <%# end %>
      <%# if values['l_lenstint'].present? && values['l_lenstint'] != '--' %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444;">Lens Tint </b><br></span>
          <%= select_tag "invoice_inventory_order[l_glassesprescriptions_lenstint]", options_for_select([ 'White','Amber','B1','B2','B3','Brown','G-15','Gradient Tint','Patient Choice','Photogrey','Photobrown','SP1','SP11','SP2','Yellow','Grey','Clear','Grey/Brown','Gray C/Brown C','Grey A','Gray / Brown / Green','PGX / PBX','Non Tintable','Pink','Photo Fusion Grey','Phot Fusion Brown','Polarised Brown','Polarised Grey','Transition','A1','A2','Colabar C','Colabar D','Non Clear','Polarised','Anti-reflection Coating' ], values['l_lenstint']), {class: 'form-control', include_blank: 'Select'} %>
        </div>
      <%# end %>
      <%# if values['r_framematerial'].present? && values['r_framematerial'] != '--' %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444;">Frame Material </b><br></span>
          <%= select_tag "invoice_inventory_order[l_glassesprescriptions_framematerial]", options_for_select([ 'Patient Choice', 'Shell', 'Metal', 'Titanium', 'Shell(Paediatric Use)', 'Hypo-Allergenic Metal', 'Plastic', 'Carbon', 'Acetate', 'Aluminium', 'Optyl', 'Polyamide', 'Stainless Steel', 'TR-90', 'Ultem' ], values['l_framematerial']), {class: 'form-control', include_blank: 'Select'} %>
        </div>
      <%# end %>
    </div> 
    <div class="row" style="margin: auto;margin-bottom: 10px;">  
      <%# if values['l_dia'].present? && values['l_dia'] != '--' %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444;">Dia </b><br></span>
          <% value = values['l_dia'] == '--' ? '' : values['l_dia'] %>
          <div class="input-group col-md-7 col-sm-7"><%= text_field_tag("invoice_inventory_order[l_glassesprescriptions_dia]" , value )%></div>
        </div>
      <%# end %>
      <%# if values['l_fittingheight'].present? && values['l_fittingheight'] != '--' %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444; margin-right: 80px;">Fitting Height </b><br> </span>
          <% value = values['l_fittingheight'] == '--' ? '' : values['l_fittingheight'] %>
          <div class="input-group col-md-7 col-sm-7"><%= text_field_tag("invoice_inventory_order[l_glassesprescriptions_fittingheight]" , value )%></div>
        </div>
      <%# end %>
      <%# if values['l_prismbase'].present? && values['l_prismbase'] != '--' %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444; margin-right: 70px;">Prism Base </b><br> </span>
          <% value = values['l_prismbase'] == '--' ? '' : values['l_prismbase'] %>
          <div class="input-group col-md-7 col-sm-7"><%= text_field_tag("invoice_inventory_order[l_glassesprescriptions_prismbase]" , value )%></div>
        </div>
      <%# end %>
    </div>
    <div class="row" style="margin: auto;margin-bottom: 10px;">
      <% if @patient_prescription.templatetype == 'vision' %>
        <div class="col-md-4 text-center">
          <span><b style="color:#444; margin-right: 80px;">Distance PD</b><br></span>
          <% value = values['l_distance_pd'] == '--' ? '' : values['l_distance_pd'] %>
          <div class="input-group col-md-7 col-sm-7"><%= text_field_tag("invoice_inventory_order[l_glassesprescriptions_distance_pd]" , value )%></div>
        </div>
        <div class="col-md-4 text-center">
          <span><b style="color:#444; margin-right: 80px;">Near PD</b><br></span>
          <% value = values['l_near_pd'] == '--' ? '' : values['l_near_pd'] %>
          <div class="input-group col-md-7 col-sm-7"><%= text_field_tag("invoice_inventory_order[l_glassesprescriptions_near_pd]" , value )%></div>
        </div>
      <% end %>
    </div>  

   <%# if values['l_comments'].present? && values['l_comments'] != '--' %>
      <div class="col-md-12">
        <% value = values['l_comments'] == '--' ? '' : values['l_comments'] %>
        <span><b style="color:#444;">Comments </b><br> <%= values['Comments'] %></span>
        <div class="input-group col-md-7 col-sm-7"><%= text_field_tag("invoice_inventory_order[l_glassesprescriptions_comments]" , value )%></div>
      </div>
    <%# end %>

    </div>
  </div>
  <!--row-->
</div>

<script type="text/javascript">
  $('#r_l_print_distant').on('click', function(){
    print_distant_add_near()
  })

  $('#r_l_print_add').on('click', function(){
    print_distant_add_near()
  })

  $('#r_l_print_near').on('click', function(){
    print_distant_add_near()
  })

  function print_distant_add_near() {
    var r_l_print_distant = $('#r_l_print_distant').prop('checked')
    var r_l_print_add = $('#r_l_print_add').prop('checked')
    var r_l_print_near = $('#r_l_print_near').prop('checked')
    var modified_data = `&r_l_print_distant=${r_l_print_distant}&r_l_print_add=${r_l_print_add}&r_l_print_near=${r_l_print_near}`
    var current_path = $('.print_glass_prescription').attr('href');
    var remove_current_path = $('.print_glass_prescription').removeAttr('href');
    var add_modfied_path = $('.print_glass_prescription').attr('href', current_path + modified_data);
  }

  print_distant_add_near()
</script>