<%# @inventory_order = invoice if @inventory_order.nil? %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>No.</th>
      <th>Date/Time</th>
      <th>Paid By</th>
      <th>Paid To</th>
      <th>Mode Of Payment</th>
      <th>Amount Received</th>
      <th>Taxes Deducted</th>
      <th>Payer Difference</th>
      <th>Revenue Spillage</th>
      <th>Total Amount Settled</th>
    </tr>
  </thead>
  <tbody>
    <% @inventory_order.try(:payment_received_breakups).try(:each_with_index) do |payment_received_breakup, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= payment_received_breakup.time.strftime('%I:%M %p') %>, <%= payment_received_breakup.date.strftime('%d/%m/%Y') %></td>
        <td>
          <% if payment_received_breakup.received_from.to_s == @inventory_order.patient_id.to_s %>
            <%= @inventory_order.patient.fullname %>
          <% else %>
            <% @payer_master = PayerMaster.find_by(id: payment_received_breakup.received_from.to_s) %>
            <% if @payer_master.present? %>
              <%= @payer_master.try(:display_name).to_s.titleize %> - <%= @payer_master.contact_group.name.to_s.titleize %>
            <% end %>
          <% end %>
        </td>
        <td><%= User.find_by(id: payment_received_breakup.received_by.to_s).try(:fullname) %></td>
        <td>
          <% if payment_received_breakup.try(:amount_received).to_f <= 0 %>
            -
          <% else %>
            <%= payment_received_breakup.mode_of_payment %>
            <% if payment_received_breakup.mode_of_payment == "Card" && (payment_received_breakup.card_number.present? || payment_received_breakup.card_transaction_note.present?) %>
              <br>
              <% if payment_received_breakup.card_number.present? %><b>Card Number:</b> <%= payment_received_breakup.card_number %><% end %>
              <% if payment_received_breakup.card_number.present? && payment_received_breakup.card_transaction_note.present? %> | <% end %>
              <% if payment_received_breakup.card_transaction_note.present? %><b>Transaction Note:</b> <%= payment_received_breakup.card_transaction_note %><% end %>
            <% elsif payment_received_breakup.mode_of_payment == "Paytm" && (payment_received_breakup.paytm_transaction_id.present? || payment_received_breakup.paytm_transaction_note.present?) %>
              <br>
              <% if payment_received_breakup.paytm_transaction_id.present? %><b>Transaction Id:</b> <%= payment_received_breakup.paytm_transaction_id %><% end %>
              <% if payment_received_breakup.paytm_transaction_id.present? && payment_received_breakup.paytm_transaction_note.present? %> | <% end %>
              <b>Transaction Note:</b> <%= payment_received_breakup.paytm_transaction_note %>
            <% elsif payment_received_breakup.mode_of_payment == "Google Pay" && (payment_received_breakup.gpay_transaction_id.present? || payment_received_breakup.gpay_transaction_note.present?) %>
              <br>
              <% if payment_received_breakup.gpay_transaction_id.present? %><b>Transaction Id:</b> <%= payment_received_breakup.gpay_transaction_id %><% end %>
              <% if payment_received_breakup.gpay_transaction_id.present? && payment_received_breakup.gpay_transaction_note.present? %> | <% end %>
              <b>Transaction Note:</b> <%= payment_received_breakup.gpay_transaction_note %>
            <% elsif payment_received_breakup.mode_of_payment == "PhonePe" && (payment_received_breakup.phonepe_transaction_id.present? || payment_received_breakup.phonepe_transaction_note.present?) %>
              <br>
              <% if payment_received_breakup.phonepe_transaction_id.present? %><b>Transaction Id:</b> <%= payment_received_breakup.phonepe_transaction_id %><% end %>
              <% if payment_received_breakup.phonepe_transaction_id.present? && payment_received_breakup.phonepe_transaction_note.present? %> | <% end %>
              <b>Transaction Note:</b> <%= payment_received_breakup.phonepe_transaction_note %>
            <% elsif payment_received_breakup.mode_of_payment == "Online Transfer" && (payment_received_breakup.transfer_date.present? || payment_received_breakup.transfer_note.present?) %>
              <br>
              <% if payment_received_breakup.transfer_date.present? %><b>Transfer Date:</b> <%= payment_received_breakup.transfer_date %><% end %>
              <% if payment_received_breakup.transfer_date.present? && payment_received_breakup.transfer_note.present? %> | <% end %>
              <% if payment_received_breakup.transfer_note.present? %><b>Note:</b> <%= payment_received_breakup.transfer_note %><% end %>
            <% elsif payment_received_breakup.mode_of_payment == "Cheque" && (payment_received_breakup.cheque_date.present? || payment_received_breakup.cheque_note.present?) %>
              <br>
              <% if payment_received_breakup.cheque_date.present? %><b>Cheque Date:</b> <%= payment_received_breakup.cheque_date %><% end %>
              <% if payment_received_breakup.cheque_date.present? && payment_received_breakup.cheque_note.present? %> | <% end %>
              <% if payment_received_breakup.cheque_note.present? %><b>Note:</b> <%= payment_received_breakup.cheque_note %><% end %>
            <% elsif payment_received_breakup.mode_of_payment == "Others" && (payment_received_breakup.other_transaction_id.present? || payment_received_breakup.other_note.present?) %>
              <br>
              <% if payment_received_breakup.other_transaction_id.present? %><b>Transaction Id:</b> <%= payment_received_breakup.other_transaction_id %><% end %>
              <% if payment_received_breakup.other_transaction_id.present? && payment_received_breakup.other_note.present? %> | <% end %>
              <b>Note:</b> <%= payment_received_breakup.other_note %>
            <% end %>
          <% end %>
        </td>
        <td class="text-right">
          <% amount_received_with_precision = number_with_precision(payment_received_breakup.try(:amount_received).to_f, precision: 2) %>
          <% amount_received_display = Common::Finance::NumberFormatService.call(@number_format, amount_received_with_precision) %>
          <%= amount_received_display %><br>
          <% print_url = 'print_receipt_invoice_inventory_orders_path' %>
          <% if payment_received_breakup.try(:amount_received).to_f > 0 && @print_settings.count > 1 %>
            <div class="btn-group">
              <button type="button" class="btn btn-primary btn-sm full_print padding-top-0 padding-bottom-0 dropdown-toggle" data-toggle="dropdown"><i class="fa fa-print mr5"></i> Print <i class="fa fa-caret-down"></i></button>
              <ul class="dropdown-menu dropdown-left-manual" role="menu" aria-labelledby="summary-print-dropdown" style="">
                <% @print_settings.each do |print_setting| %>
                  <li style="text-align:left">
                    <%= link_to send(print_url ,{id: @inventory_order.id, payment_received_id: payment_received_breakup.id, page_size: 'A4', print_setting_id: print_setting.id, format: :pdf}), class: '', style: 'color: #d9534f;', target: '_blank', data: { method: :get } do %> <i class="fa fa-print mr5"></i> <%= print_setting.name %> <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% elsif payment_received_breakup.try(:amount_received).to_f > 0 %>
            <%= link_to send(print_url, {id: @inventory_order.id, payment_received_id: payment_received_breakup.id, page_size: 'A4', print_setting_id: @print_settings[0].id, format: :pdf}), class: 'btn btn-primary btn-sm full_print padding-top-0 padding-bottom-0', target: '_blank', data: { method: :get } do %> <i class="fa fa-print mr5"></i> Print <% end %>
          <% end %>
        </td>
        <td class="text-right">
          <% tax_deducted_with_precision = number_with_precision(payment_received_breakup.tax_deducted.to_f, precision: 2) %>
          <% tax_deducted_display = Common::Finance::NumberFormatService.call(@number_format, tax_deducted_with_precision) %>
          <%= tax_deducted_display %>
        </td>
        <td class="text-right">
          <% payer_difference_with_precision = number_with_precision(payment_received_breakup.payer_difference.to_f, precision: 2) %>
          <% payer_difference_display = Common::Finance::NumberFormatService.call(@number_format, payer_difference_with_precision) %>
          <%= payer_difference_display %>
        </td>
        <td class="text-right">
          <% amount_with_precision = number_with_precision(payment_received_breakup.other_revenue_spilage.to_f, precision: 2) %>
          <% amount_display = Common::Finance::NumberFormatService.call(@number_format, amount_with_precision) %>
          <%= amount_display %>
        </td>
        <td class="text-right"><% amount_with_precision = number_with_precision(payment_received_breakup.amount.to_f, precision: 2) %><% amount_display = Common::Finance::NumberFormatService.call(@number_format, amount_with_precision) %><%= amount_display %></td>
      </tr>
    <% end %>
  </tbody>
  <% if false %>
    <thead>
      <tr>
        <th colspan="6" class='text-center'>ADVANCE ADJUSTED</th>
      </tr>
    </thead>
    <tbody>
      <% @advance_payment.try(:each_with_index) do |advance_payment, i| %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= advance_payment.updated_at.strftime('%d/%m/%Y') %></td>
          <td colspan="2"><%= advance_payment.reason.titleize %></td>
          <td></td>
          <td class="text-right"><%= number_with_precision(advance_payment.amount.to_f, precision: 2) %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
  <!-- <tfoot>
    <tr>
      <th colspan="5">Net Total: </th>
      <th class="text-right"><%#= number_with_precision((@inventory_order.payment_received.to_f + @inventory_order.advance_payment), precision: 2) %></th>
    </tr>
  </tfoot> -->
</table>
