<% if mail_job == true %>
  <% @flag = "view" %>
<% end %>
<% font = text_font_size%>
<div class="glassesprescriptions mb5 mt15" id="glassesprescriptions" style="<%= font %>">
  <% if opdrecord.send("#{@flag}_glassesprescriptions_flag") == "1" %>
      <% glassesprescriptions_counter = 0 %>
      <% r_glassesprescriptions_counter = 0 %>
      <% r_glassesprescriptions_comment_counter = 0 %>
      <% r_glassesprescriptions_distant_sph = "" %>
      <% r_glassesprescriptions_distant_cyl = "" %>
      <% r_glassesprescriptions_distant_axis = "" %>
      <% r_glassesprescriptions_distant_vision = "" %>
      <% r_glassesprescriptions_add_sph = "" %>
      <% r_glassesprescriptions_add_cyl = "" %>
      <% r_glassesprescriptions_add_axis = "" %>
      <% r_glassesprescriptions_add_vision = "" %>
      <% r_glassesprescriptions_near_sph = "" %>
      <% r_glassesprescriptions_near_cyl = "" %>
      <% r_glassesprescriptions_near_axis = "" %>
      <% r_glassesprescriptions_near_vision = "" %>
      <% glassesprescriptions_show_add = true %>
      <% r_acceptance_comments_counter = 0 %>
      <% r_acceptance_comments = "" %>

      <% unless opdrecord.r_glassesprescriptions_distant_sph.nil? %>
        <% if opdrecord.r_glassesprescriptions_distant_sph.length > 0 %>
            <% r_glassesprescriptions_distant_sph = "#{opdrecord.read_attribute(:"r_glassesprescriptions_distant_sph")}" %>
            <% r_glassesprescriptions_counter = r_glassesprescriptions_counter + 1 %>
            <% glassesprescriptions_counter = glassesprescriptions_counter + 1 %>
        <% else %>
            <% r_glassesprescriptions_distant_sph = "--" %>
        <% end %>
      <% end %>
      <% unless opdrecord.r_glassesprescriptions_distant_cyl.nil? %>
        <% if opdrecord.r_glassesprescriptions_distant_cyl.length > 0 %>
            <% r_glassesprescriptions_distant_cyl = "#{opdrecord.read_attribute(:"r_glassesprescriptions_distant_cyl")}" %>
            <% r_glassesprescriptions_counter = r_glassesprescriptions_counter + 1 %>
            <% glassesprescriptions_counter = glassesprescriptions_counter + 1 %>
        <% else %>
            <% r_glassesprescriptions_distant_cyl = "--" %>
        <% end %>
      <% end %>
      <% unless opdrecord.r_glassesprescriptions_distant_axis.nil? %>
        <% if opdrecord.r_glassesprescriptions_distant_axis.length > 0 %>
            <% r_glassesprescriptions_distant_axis = "#{opdrecord.read_attribute(:"r_glassesprescriptions_distant_axis")}" %>
            <% r_glassesprescriptions_counter = r_glassesprescriptions_counter + 1 %>
            <% glassesprescriptions_counter = glassesprescriptions_counter + 1 %>
        <% else %>
            <% r_glassesprescriptions_distant_axis = "--" %>
        <% end %>
      <% end %>
      <% unless opdrecord.r_glassesprescriptions_distant_vision.nil? %>
        <% if opdrecord.r_glassesprescriptions_distant_vision.length > 0 %>
            <% r_glassesprescriptions_distant_vision = "#{opdrecord.read_attribute(:"r_glassesprescriptions_distant_vision")}" %>
            <% r_glassesprescriptions_counter = r_glassesprescriptions_counter + 1 %>
            <% glassesprescriptions_counter = glassesprescriptions_counter + 1 %>
        <% else %>
            <% r_glassesprescriptions_distant_vision = "--" %>
        <% end %>
      <% end %>
      <% unless opdrecord.r_glassesprescriptions_near_sph.nil? %>
        <% if opdrecord.r_glassesprescriptions_near_sph.length > 0 %>
            <% r_glassesprescriptions_near_sph = "#{opdrecord.read_attribute(:"r_glassesprescriptions_near_sph")}" %>
            <% r_glassesprescriptions_counter = r_glassesprescriptions_counter + 1 %>
            <% glassesprescriptions_counter = glassesprescriptions_counter + 1 %>
        <% else %>
            <% r_glassesprescriptions_near_sph = "--" %>
        <% end %>
      <% end %>
      <% unless opdrecord.r_glassesprescriptions_near_cyl.nil? %>
        <% if opdrecord.r_glassesprescriptions_near_cyl.length > 0 %>
            <% r_glassesprescriptions_near_cyl = "#{opdrecord.read_attribute(:"r_glassesprescriptions_near_cyl")}" %>
            <% r_glassesprescriptions_counter = r_glassesprescriptions_counter + 1 %>
            <% glassesprescriptions_counter = glassesprescriptions_counter + 1 %>
        <% else %>
            <% r_glassesprescriptions_near_cyl = "--" %>
        <% end %>
      <% end %>
      <% unless opdrecord.r_glassesprescriptions_near_axis.nil? %>
        <% if opdrecord.r_glassesprescriptions_near_axis.length > 0 %>
            <% r_glassesprescriptions_near_axis = "#{opdrecord.read_attribute(:"r_glassesprescriptions_near_axis")}" %>
            <% r_glassesprescriptions_counter = r_glassesprescriptions_counter + 1 %>
            <% glassesprescriptions_counter = glassesprescriptions_counter + 1 %>
        <% else %>
            <% r_glassesprescriptions_near_axis = "--" %>
        <% end %>
      <% end %>
      <% unless opdrecord.r_glassesprescriptions_near_vision.nil? %>
        <% if opdrecord.r_glassesprescriptions_near_vision.length > 0 %>
            <% r_glassesprescriptions_near_vision = "#{opdrecord.read_attribute(:"r_glassesprescriptions_near_vision")}" %>
            <% r_glassesprescriptions_counter = r_glassesprescriptions_counter + 1 %>
            <% glassesprescriptions_counter = glassesprescriptions_counter + 1 %>
        <% else %>
            <% r_glassesprescriptions_near_vision = "--" %>
        <% end %>
      <% end %>
      <% if opdrecord.r_glassesprescriptions_add_sph.present?  %>
        <% r_glassesprescriptions_add_sph = "#{opdrecord.read_attribute(:"r_glassesprescriptions_add_sph")}" %>
      <% else %>
        <% r_glassesprescriptions_add_sph = "--" %>
      <% end %>
      <% if opdrecord.r_glassesprescriptions_add_cyl.present?  %>
        <% r_glassesprescriptions_add_cyl = "#{opdrecord.read_attribute(:"r_glassesprescriptions_add_cyl")}" %>
      <% else %>
        <% r_glassesprescriptions_add_cyl = "--" %>
      <% end %>
      <% if opdrecord.r_glassesprescriptions_add_axis.present?  %>
        <% r_glassesprescriptions_add_axis = "#{opdrecord.read_attribute(:"r_glassesprescriptions_add_axis")}" %>
      <% else %>
        <% r_glassesprescriptions_add_axis = "--" %>
      <% end %>
      <% if opdrecord.r_glassesprescriptions_add_vision.present?  %>
        <% r_glassesprescriptions_add_vision = "#{opdrecord.read_attribute(:"r_glassesprescriptions_add_vision")}" %>
      <% else %>
        <% r_glassesprescriptions_add_vision = "--" %>
      <% end %>
      <% if opdrecord.glassesprescriptions_show_add.present?  %>
        <% glassesprescriptions_show_add = "#{opdrecord.read_attribute(:"glassesprescriptions_show_add")}"  %>
      <% end %>
      <% unless optical_prescription.r_acceptance_comments.nil? %>
        <% if optical_prescription.r_acceptance_comments.length > 0 %>
            <% r_acceptance_comments = "#{optical_prescription.read_attribute(:"r_acceptance_comments")}" %>
            <% r_glassesprescriptions_counter = r_glassesprescriptions_counter + 1 %>
            <% r_acceptance_comments_counter = r_acceptance_comments_counter + 1 %>
            <% glassesprescriptions_counter = glassesprescriptions_counter + 1 %>
        <% end %>
      <% end %>

      <% l_glassesprescriptions_counter = 0 %>
      <% l_glassesprescriptions_comment_counter = 0 %>
      <% l_glassesprescriptions_distant_sph = "" %>
      <% l_glassesprescriptions_distant_cyl = "" %>
      <% l_glassesprescriptions_distant_axis = "" %>
      <% l_glassesprescriptions_distant_vision = "" %>
      <% l_glassesprescriptions_add_sph = "" %>
      <% l_glassesprescriptions_add_cyl = "" %>
      <% l_glassesprescriptions_add_axis = "" %>
      <% l_glassesprescriptions_add_vision = "" %>
      <% l_glassesprescriptions_near_sph = "" %>
      <% l_glassesprescriptions_near_cyl = "" %>
      <% l_glassesprescriptions_near_axis = "" %>
      <% l_glassesprescriptions_near_vision = "" %>
      <% l_acceptance_comments_counter = 0 %>
      <% l_acceptance_comments = "" %>

      <% unless opdrecord.l_glassesprescriptions_distant_sph.nil? %>
        <% if opdrecord.l_glassesprescriptions_distant_sph.length > 0 %>
            <% l_glassesprescriptions_distant_sph = "#{opdrecord.read_attribute(:"l_glassesprescriptions_distant_sph")}" %>
            <% l_glassesprescriptions_counter = l_glassesprescriptions_counter + 1 %>
            <% glassesprescriptions_counter = glassesprescriptions_counter + 1 %>
        <% else %>
            <% l_glassesprescriptions_distant_sph = "--" %>
        <% end %>
      <% end %>
      <% unless opdrecord.l_glassesprescriptions_distant_cyl.nil? %>
        <% if opdrecord.l_glassesprescriptions_distant_cyl.length > 0 %>
            <% l_glassesprescriptions_distant_cyl = "#{opdrecord.read_attribute(:"l_glassesprescriptions_distant_cyl")}" %>
            <% l_glassesprescriptions_counter = l_glassesprescriptions_counter + 1 %>
            <% glassesprescriptions_counter = glassesprescriptions_counter + 1 %>
        <% else %>
            <% l_glassesprescriptions_distant_cyl = "--" %>
        <% end %>
      <% end %>
      <% unless opdrecord.l_glassesprescriptions_distant_axis.nil? %>
        <% if opdrecord.l_glassesprescriptions_distant_axis.length > 0 %>
            <% l_glassesprescriptions_distant_axis = "#{opdrecord.read_attribute(:"l_glassesprescriptions_distant_axis")}" %>
            <% l_glassesprescriptions_counter = l_glassesprescriptions_counter + 1 %>
            <% glassesprescriptions_counter = glassesprescriptions_counter + 1 %>
        <% else %>
            <% l_glassesprescriptions_distant_axis = "--" %>
        <% end %>
      <% end %>
      <% unless opdrecord.l_glassesprescriptions_distant_vision.nil? %>
        <% if opdrecord.l_glassesprescriptions_distant_vision.length > 0 %>
            <% l_glassesprescriptions_distant_vision = "#{opdrecord.read_attribute(:"l_glassesprescriptions_distant_vision")}" %>
            <% l_glassesprescriptions_counter = l_glassesprescriptions_counter + 1 %>
            <% glassesprescriptions_counter = glassesprescriptions_counter + 1 %>
        <% else %>
            <% l_glassesprescriptions_distant_vision = "--" %>
        <% end %>
      <% end %>
      <% unless opdrecord.l_glassesprescriptions_near_sph.nil? %>
        <% if opdrecord.l_glassesprescriptions_near_sph.length > 0 %>
            <% l_glassesprescriptions_near_sph = "#{opdrecord.read_attribute(:"l_glassesprescriptions_near_sph")}" %>
            <% l_glassesprescriptions_counter = l_glassesprescriptions_counter + 1 %>
            <% glassesprescriptions_counter = glassesprescriptions_counter + 1 %>
        <% else %>
            <% l_glassesprescriptions_near_sph = "--" %>
        <% end %>
      <% end %>
      <% unless opdrecord.l_glassesprescriptions_near_cyl.nil? %>
        <% if opdrecord.l_glassesprescriptions_near_cyl.length > 0 %>
            <% l_glassesprescriptions_near_cyl = "#{opdrecord.read_attribute(:"l_glassesprescriptions_near_cyl")}" %>
            <% l_glassesprescriptions_counter = l_glassesprescriptions_counter + 1 %>
            <% glassesprescriptions_counter = glassesprescriptions_counter + 1 %>
        <% else %>
            <% l_glassesprescriptions_near_cyl = "--" %>
        <% end %>
      <% end %>
      <% unless opdrecord.l_glassesprescriptions_near_axis.nil? %>
        <% if opdrecord.l_glassesprescriptions_near_axis.length > 0 %>
            <% l_glassesprescriptions_near_axis = "#{opdrecord.read_attribute(:"l_glassesprescriptions_near_axis")}" %>
            <% l_glassesprescriptions_counter = l_glassesprescriptions_counter + 1 %>
            <% glassesprescriptions_counter = glassesprescriptions_counter + 1 %>
        <% else %>
            <% l_glassesprescriptions_near_axis = "--" %>
        <% end %>
      <% end %>
      <% unless opdrecord.l_glassesprescriptions_near_vision.nil? %>
        <% if opdrecord.l_glassesprescriptions_near_vision.length > 0 %>
            <% l_glassesprescriptions_near_vision = "#{opdrecord.read_attribute(:"l_glassesprescriptions_near_vision")}" %>
            <% l_glassesprescriptions_counter = l_glassesprescriptions_counter + 1 %>
            <% glassesprescriptions_counter = glassesprescriptions_counter + 1 %>
        <% else %>
            <% l_glassesprescriptions_near_vision = "--" %>
        <% end %>
      <% end %>
      <% if opdrecord.l_glassesprescriptions_add_sph.present?  %>
        <% l_glassesprescriptions_add_sph = "#{opdrecord.read_attribute(:"l_glassesprescriptions_add_sph")}" %>
      <% else %>
        <% l_glassesprescriptions_add_sph = "--" %>
      <% end %>
      <% if opdrecord.l_glassesprescriptions_add_cyl.present?  %>
        <% l_glassesprescriptions_add_cyl = "#{opdrecord.read_attribute(:"l_glassesprescriptions_add_cyl")}" %>
      <% else %>
        <% l_glassesprescriptions_add_cyl = "--" %>
      <% end %>
      <% if opdrecord.l_glassesprescriptions_add_axis.present?  %>
        <% l_glassesprescriptions_add_axis = "#{opdrecord.read_attribute(:"l_glassesprescriptions_add_axis")}" %>
      <% else %>
        <% l_glassesprescriptions_add_axis = "--" %>
      <% end %>
      <% if opdrecord.l_glassesprescriptions_add_vision.present?  %>
        <% l_glassesprescriptions_add_vision = "#{opdrecord.read_attribute(:"l_glassesprescriptions_add_vision")}" %>
      <% else %>
        <% l_glassesprescriptions_add_vision = "--" %>
      <% end %>
      <% unless optical_prescription.l_acceptance_comments.nil? %>
        <% if optical_prescription.l_acceptance_comments.length > 0 %>
          <% l_acceptance_comments = "#{optical_prescription.read_attribute(:"l_acceptance_comments")}" %>
          <% l_glassesprescriptions_counter = l_glassesprescriptions_counter + 1 %>
          <% l_acceptance_comments_counter = l_acceptance_comments_counter + 1 %>
          <% glassesprescriptions_counter = glassesprescriptions_counter + 1 %>
        <% end %>
      <% end %>

      <% if glassesprescriptions_counter > 0 %>
        <% if current_facility.country_id == 'VN_254' %>
          <% translated_language = 'vi' %>
        <% else %>
          <% translated_language = 'en' %>
        <% end %>
        <div class="row mb5" style="<%= font %>">
          <span><strong><%= LanguageHelper.translation('glasses_prescriptions', translated_language) %></strong></span>
          <% if mail_job == false %>
            <% unless params[:action] == "print_opd_record"  || params[:action] == "print_glass_prescription" || params[:action] == "optoreading"%>  <!-- In case of optometrist past reading view -->
              <span style="float: right;margin-top: -2px;">
                <div class="btn-group" style="margin-top: -8px;">
                  <%= link_to new_mail_record_tracker_path(:record_name => 'Glass prescription - OpdRecord', :patient_id => opdrecord.patientid.to_s, :record_id => opdrecord._id, :record_model => 'OpdRecord',appointment_id: appointment.id, speciality: specalityfoldername), :class => "btn btn-xs btn-primary", :data => {:remote => true, 'disable-with' =>  "Please Wait..."} do %> <i class="fa fa-envelope"></i> Email<% end %>
                  <% if @mode != "tabview" %>
                    <% if @print_settings.count > 1 %>
                      <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-xs full_print dropdown-toggle" data-toggle="dropdown"><i class="fa fa-print mr5"></i> Print <i class="fa fa-caret-down"></i></button>
                        <ul class="dropdown-menu dropdown-left-manual" role="menu" aria-labelledby="summary-print-dropdown" style="">
                          <% @print_settings.each do |print_setting| %>
                            <li style="text-align:left">
                              <%= link_to opd_records_print_glass_prescription_path(:opdrecordid => opdrecord._id, :patientid => opdrecord.patientid, :appointmentid => appointment.id, :templatetype => templatetype, :specality => specalityfoldername,print_setting_id: print_setting.id, :format => :pdf), :class => "",:style => "color: #d9534f;",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> <%= print_setting.name %> <% end %>
                            </li>
                          <% end %>
                        </ul>
                      </div>
                    <% else %>
                      <%= link_to opd_records_print_glass_prescription_path(:opdrecordid => opdrecord._id, :patientid => opdrecord.patientid, :appointmentid => appointment.id, :templatetype => templatetype, :specality => specalityfoldername,print_setting_id: @print_settings[0].id, :format => :pdf), :class => "btn btn-primary btn-xs full_print",:target => "_blank", :data => {method: :get} do %> <i class="fa fa-print mr5"></i> Print <% end %>
                    <% end %>
                  <% end %>  
                </div>
              </span>

            <%end%>
          <% end %>
          <div class="summary-line-border"></div>
        </div>

        <div class="row" style="<%= font %>">
          <div class="col-md-6 col-sm-6">
            <div class="text-center" style="background-color:#ddd;">R/OD</div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="text-center" style="background-color:#ddd;">L/OS</div>
          </div>
          <div class="col-md-6 col-sm-6">
            <% if r_glassesprescriptions_counter > 0 %>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th width="40%" style="padding:1px;text-align: center;"></th>
                    <th width="15%" style="padding:1px;text-align: center;">Sph</th>
                    <th width="15%" style="padding:1px;text-align: center;">Cyl</th>
                    <th width="15%" style="padding:1px;text-align: center;">Axis</th>
                    <th width="15%" style="padding:1px;text-align: center;">Vision</th>
                  </tr>
                </tbody>
                <tbody>
                  <% if params[:r_l_print_distant] == 'true' %>
                    <tr>
                      <td style="padding:1px;text-align: center;">Distant</td>
                      <td style="padding:1px;text-align: center;"><%= r_glassesprescriptions_distant_sph %></td>
                      <td style="padding:1px;text-align: center;"><%= r_glassesprescriptions_distant_cyl %></td>
                      <td style="padding:1px;text-align: center;"><%= r_glassesprescriptions_distant_axis %></td>
                      <td style="padding:1px;text-align: center;"><%= r_glassesprescriptions_distant_vision %></td>
                    </tr>
                  <% end %>
                  <% if glassesprescriptions_show_add  %>
                    <% if params[:r_l_print_add] == 'true' %>
                      <tr>
                        <td style="padding:1px;text-align: center;">Add</td>
                        <td style="padding:1px;text-align: center;"><%= r_glassesprescriptions_add_sph %></td>
                        <td style="padding:1px;text-align: center;"><%= r_glassesprescriptions_add_cyl %></td>
                        <td style="padding:1px;text-align: center;"><%= r_glassesprescriptions_add_axis %></td>
                        <td style="padding:1px;text-align: center;"><%= r_glassesprescriptions_add_vision %></td>
                      </tr>
                    <% end %>
                  <% end %>
                  <% if params[:r_l_print_near] == 'true' %>
                    <tr>
                      <td style="padding:1px;text-align: center;">Near</td>
                      <td style="padding:1px;text-align: center;"><%= r_glassesprescriptions_near_sph %></td>
                      <td style="padding:1px;text-align: center;"><%= r_glassesprescriptions_near_cyl %></td>
                      <td style="padding:1px;text-align: center;"><%= r_glassesprescriptions_near_axis %></td>
                      <td style="padding:1px;text-align: center;"><%= r_glassesprescriptions_near_vision %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              
            <% end %>
            <% if r_acceptance_comments_counter > 0 %>
              <span style="font-size: 11px"><b>Advice</b> : <%= r_acceptance_comments %></span>
            <% end %>
          </div>
          <div class="col-md-6 col-sm-6">
            <% if l_glassesprescriptions_counter > 0 %>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th width="40%" style="padding:1px;text-align: center;"></th>
                    <th width="15%" style="padding:1px;text-align: center;">Sph</th>
                    <th width="15%" style="padding:1px;text-align: center;">Cyl</th>
                    <th width="15%" style="padding:1px;text-align: center;">Axis</th>
                    <th width="15%" style="padding:1px;text-align: center;">Vision</th>
                  </tr>
                </tbody>
                <tbody>
                  <% if params[:r_l_print_distant] == 'true' %>
                    <tr>
                      <td style="padding:1px;text-align: center;">Distant</td>
                      <td style="padding:1px;text-align: center;"><%= l_glassesprescriptions_distant_sph %></td>
                      <td style="padding:1px;text-align: center;"><%= l_glassesprescriptions_distant_cyl %></td>
                      <td style="padding:1px;text-align: center;"><%= l_glassesprescriptions_distant_axis %></td>
                      <td style="padding:1px;text-align: center;"><%= l_glassesprescriptions_distant_vision %></td>
                    </tr>
                  <% end %>
                  <% if glassesprescriptions_show_add %>
                    <% if params[:r_l_print_add] == 'true' %>
                      <tr>
                        <td style="padding:1px;text-align: center;">Add</td>
                        <td style="padding:1px;text-align: center;"><%= l_glassesprescriptions_add_sph %></td>
                        <td style="padding:1px;text-align: center;"><%= l_glassesprescriptions_add_cyl %></td>
                        <td style="padding:1px;text-align: center;"><%= l_glassesprescriptions_add_axis %></td>
                        <td style="padding:1px;text-align: center;"><%= l_glassesprescriptions_add_vision %></td>
                      </tr>
                    <% end %>
                  <% end %>
                  <% if params[:r_l_print_near] == 'true' %>
                    <tr>
                      <td style="padding:1px;text-align: center;">Near</td>
                      <td style="padding:1px;text-align: center;"><%= l_glassesprescriptions_near_sph %></td>
                      <td style="padding:1px;text-align: center;"><%= l_glassesprescriptions_near_cyl %></td>
                      <td style="padding:1px;text-align: center;"><%= l_glassesprescriptions_near_axis %></td>
                      <td style="padding:1px;text-align: center;"><%= l_glassesprescriptions_near_vision %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              
            <% end %>
            <% if l_acceptance_comments_counter > 0 %>
              <span style="font-size: 11px"><b>Advice</b> : <%= l_acceptance_comments %></li></span>
            <% end %>
          </div>
        </div>
      <% end %>
  <% end %>
  
  <% if opdrecord.send("#{@flag}_examination_flag") == "1" %>
    <% examination_counter = 0 %>

    <% r_acceptance_counter = 0 %>
    <% r_acceptance_typeoflens = "" %>
    <% r_acceptance_ipd = "" %>
    <% r_acceptance_lensmaterial = "" %>
    <% r_acceptance_lenstint = "" %>
    <% r_acceptance_framematerial = "" %>

    <% l_acceptance_counter = 0 %>
    <% l_acceptance_typeoflens = "" %>
    <% l_acceptance_ipd = "" %>
    <% l_acceptance_lensmaterial = "" %>
    <% l_acceptance_lenstint = "" %>
    <% l_acceptance_framematerial = "" %>

    <% unless optical_prescription.r_acceptance_typeoflens == "" || optical_prescription.r_acceptance_typeoflens == nil%>
      <% r_acceptance_typeoflens = "Type of Lens - #{optical_prescription.read_attribute(:"r_acceptance_typeoflens")} |" %>
      <% r_acceptance_op = "#{r_acceptance_typeoflens}" %>
      <% r_acceptance_counter = r_acceptance_counter + 1 %>
      <% examination_counter = examination_counter + 1 %>
    <% end %>
    <% unless optical_prescription.r_acceptance_ipd == "" || optical_prescription.r_acceptance_ipd == nil%>
      <% r_acceptance_ipd = "#{current_facility.country_id == 'VN_254' ? "MPD" : "IPD"} - #{optical_prescription.read_attribute(:"r_acceptance_ipd")} |" %>
      <% r_acceptance_op = "#{r_acceptance_op} #{r_acceptance_ipd}" %>
      <% r_acceptance_counter = r_acceptance_counter + 1 %>
      <% examination_counter = examination_counter + 1 %>
    <% end %>
    <% unless optical_prescription.r_acceptance_lensmaterial == "" || optical_prescription.r_acceptance_lensmaterial == nil%>
      <% r_acceptance_lensmaterial = "Lens Material- #{optical_prescription.read_attribute(:"r_acceptance_lensmaterial")} |" %>
      <% r_acceptance_op = "#{r_acceptance_op} #{r_acceptance_lensmaterial}" %>
      <% r_acceptance_counter = r_acceptance_counter + 1 %>
      <% examination_counter = examination_counter + 1 %>
    <% end %>
    <% unless optical_prescription.r_acceptance_lenstint == "" || optical_prescription.r_acceptance_lenstint == nil%>
      <% r_acceptance_lenstint = "Lens Tint- #{optical_prescription.read_attribute(:"r_acceptance_lenstint")} |" %>
      <% r_acceptance_op = "#{r_acceptance_op} #{r_acceptance_lenstint}" %>
      <% r_acceptance_counter = r_acceptance_counter + 1 %>
      <% examination_counter = examination_counter + 1 %>
    <% end %>
    <% unless optical_prescription.r_acceptance_framematerial == "" || optical_prescription.r_acceptance_framematerial == nil%>
      <% r_acceptance_framematerial = "Frame Material- #{optical_prescription.read_attribute(:"r_acceptance_framematerial")} |" %>
      <% r_acceptance_op = "#{r_acceptance_op} #{r_acceptance_framematerial}" %>
      <% r_acceptance_counter = r_acceptance_counter + 1 %>
      <% examination_counter = examination_counter + 1 %>
    <% end %>

    <% unless optical_prescription.r_acceptance_dia == "" || optical_prescription.r_acceptance_dia == nil%>
      <% r_acceptance_dia = "Dia- #{optical_prescription.read_attribute(:"r_acceptance_dia")} |" %>
      <% r_acceptance_op = "#{r_acceptance_op} #{r_acceptance_dia}" %>
      <% r_acceptance_counter = r_acceptance_counter + 1 %>
      <% examination_counter = examination_counter + 1 %>
    <% end %>
    <% unless optical_prescription.r_acceptance_size == "" || optical_prescription.r_acceptance_size == nil%>
      <% r_acceptance_size = "Size- #{optical_prescription.read_attribute(:"r_acceptance_size")} |" %>
      <% r_acceptance_op = "#{r_acceptance_op} #{r_acceptance_size}" %>
      <% r_acceptance_counter = r_acceptance_counter + 1 %>
      <% examination_counter = examination_counter + 1 %>
    <% end %>
    <% unless optical_prescription.r_acceptance_fittingheight == "" || optical_prescription.r_acceptance_fittingheight == nil%>
      <% r_acceptance_fittingheight = "Fitting Height- #{optical_prescription.read_attribute(:"r_acceptance_fittingheight")} |" %>
      <% r_acceptance_op = "#{r_acceptance_op} #{r_acceptance_fittingheight}" %>
      <% r_acceptance_counter = r_acceptance_counter + 1 %>
      <% examination_counter = examination_counter + 1 %>
    <% end %>
    <% unless optical_prescription.r_acceptance_prismbase == "" || optical_prescription.r_acceptance_prismbase == nil%>
      <% r_acceptance_prismbase = "Prism Base- #{optical_prescription.read_attribute(:"r_acceptance_prismbase")} |" %>
      <% r_acceptance_op = "#{r_acceptance_op} #{r_acceptance_prismbase}" %>
      <% r_acceptance_counter = r_acceptance_counter + 1 %>
      <% examination_counter = examination_counter + 1 %>
    <% end %>
    <% unless optical_prescription.r_acceptance_distance_pd == "" || optical_prescription.r_acceptance_distance_pd == nil%>
      <% r_acceptance_distance_pd = "Monocular Distance PD- #{optical_prescription.read_attribute(:"r_acceptance_distance_pd")} |" %>
      <% r_acceptance_op = "#{r_acceptance_op} #{r_acceptance_distance_pd}" %>
      <% r_acceptance_counter = r_acceptance_counter + 1 %>
      <% examination_counter = examination_counter + 1 %>
    <% end %>
    <% unless optical_prescription.r_acceptance_near_pd == "" || optical_prescription.r_acceptance_near_pd == nil%>
      <% r_acceptance_near_pd = "Monocular Near PD- #{optical_prescription.read_attribute(:"r_acceptance_near_pd")}" %>
      <% r_acceptance_op = "#{r_acceptance_op} #{r_acceptance_near_pd}" %>
      <% r_acceptance_counter = r_acceptance_counter + 1 %>
      <% examination_counter = examination_counter + 1 %>
    <% end %>

    <% unless optical_prescription.l_acceptance_typeoflens == "" || optical_prescription.l_acceptance_typeoflens == nil%>
      <% l_acceptance_typeoflens = "Type of Lens - #{optical_prescription.read_attribute(:"l_acceptance_typeoflens")} |" %>
      <% l_acceptance_op = "#{l_acceptance_typeoflens}" %>
      <% l_acceptance_counter = l_acceptance_counter + 1 %>
      <% examination_counter = examination_counter + 1 %>
    <% end %>
    <% unless optical_prescription.l_acceptance_ipd == "" || optical_prescription.l_acceptance_ipd == nil%>
      <% l_acceptance_ipd = "#{current_facility.country_id == 'VN_254' ? "MPD" : "IPD"} - #{optical_prescription.read_attribute(:"l_acceptance_ipd")} |" %>
      <% l_acceptance_op = "#{l_acceptance_op} #{l_acceptance_ipd}" %>
      <% l_acceptance_counter = l_acceptance_counter + 1 %>
      <% examination_counter = examination_counter + 1 %>
    <% end %>
    <% unless optical_prescription.l_acceptance_lensmaterial == "" || optical_prescription.l_acceptance_lensmaterial == nil%>
      <% l_acceptance_lensmaterial = "Lens Material- #{optical_prescription.read_attribute(:"l_acceptance_lensmaterial")} |" %>
      <% l_acceptance_op = "#{l_acceptance_op} #{l_acceptance_lensmaterial}" %>
      <% l_acceptance_counter = l_acceptance_counter + 1 %>
      <% examination_counter = examination_counter + 1 %>
    <% end %>
    <% unless optical_prescription.l_acceptance_lenstint == "" || optical_prescription.l_acceptance_lenstint == nil%>
      <% l_acceptance_lenstint = "Lens Tint- #{optical_prescription.read_attribute(:"l_acceptance_lenstint")} |" %>
      <% l_acceptance_op = "#{l_acceptance_op} #{l_acceptance_lenstint}" %>
      <% l_acceptance_counter = l_acceptance_counter + 1 %>
      <% examination_counter = examination_counter + 1 %>
    <% end %>
    <% unless optical_prescription.l_acceptance_framematerial == "" || optical_prescription.l_acceptance_framematerial == nil%>
      <% l_acceptance_framematerial = "Frame Material- #{optical_prescription.read_attribute(:"l_acceptance_framematerial")} |" %>
      <% l_acceptance_op = "#{l_acceptance_op} #{l_acceptance_framematerial}" %>
      <% l_acceptance_counter = l_acceptance_counter + 1 %>
      <% examination_counter = examination_counter + 1 %>
    <% end %>
    <% unless optical_prescription.l_acceptance_dia == "" || optical_prescription.l_acceptance_dia == nil%>
      <% l_acceptance_dia = "Dia- #{optical_prescription.read_attribute(:"l_acceptance_dia")} |" %>
      <% l_acceptance_op = "#{l_acceptance_op} #{l_acceptance_dia}" %>
      <% l_acceptance_counter = l_acceptance_counter + 1 %>
      <% examination_counter = examination_counter + 1 %>
    <% end %>
    <% unless optical_prescription.l_acceptance_size == "" || optical_prescription.l_acceptance_size == nil%>
      <% l_acceptance_size = "Size- #{optical_prescription.read_attribute(:"l_acceptance_size")} |" %>
      <% l_acceptance_op = "#{l_acceptance_op} #{l_acceptance_size}" %>
      <% l_acceptance_counter = l_acceptance_counter + 1 %>
      <% examination_counter = examination_counter + 1 %>
    <% end %>
    <% unless optical_prescription.l_acceptance_fittingheight == "" || optical_prescription.l_acceptance_fittingheight == nil%>
      <% l_acceptance_fittingheight = "Fitting Height- #{optical_prescription.read_attribute(:"l_acceptance_fittingheight")} |" %>
      <% l_acceptance_op = "#{l_acceptance_op} #{l_acceptance_fittingheight}" %>
      <% l_acceptance_counter = l_acceptance_counter + 1 %>
      <% examination_counter = examination_counter + 1 %>
    <% end %>
    <% unless optical_prescription.l_acceptance_prismbase == "" || optical_prescription.l_acceptance_prismbase == nil%>
      <% l_acceptance_prismbase = "Prism Base- #{optical_prescription.read_attribute(:"l_acceptance_prismbase")} |" %>
      <% l_acceptance_op = "#{l_acceptance_op} #{l_acceptance_prismbase}" %>
      <% l_acceptance_counter = l_acceptance_counter + 1 %>
      <% examination_counter = examination_counter + 1 %>
    <% end %>
    <% unless optical_prescription.l_acceptance_distance_pd == "" || optical_prescription.l_acceptance_distance_pd == nil%>
      <% l_acceptance_distance_pd = "Monocular Distance PD- #{optical_prescription.read_attribute(:"l_acceptance_distance_pd")} |" %>
      <% l_acceptance_op = "#{l_acceptance_op} #{l_acceptance_distance_pd}" %>
      <% l_acceptance_counter = l_acceptance_counter + 1 %>
      <% examination_counter = examination_counter + 1 %>
    <% end %>
    <% unless optical_prescription.l_acceptance_near_pd == "" || optical_prescription.l_acceptance_near_pd == nil%>
      <% l_acceptance_near_pd = "Monocular Near PD- #{optical_prescription.read_attribute(:"l_acceptance_near_pd")}" %>
      <% l_acceptance_op = "#{l_acceptance_op} #{l_acceptance_near_pd}" %>
      <% l_acceptance_counter = l_acceptance_counter + 1 %>
      <% examination_counter = examination_counter + 1 %>
    <% end %>
    <div class="row" style="<%= font %>">
      <div class="col-md-6 col-sm-6">
        <%= r_acceptance_op %>
      </div>
      <div class="col-md-6 col-sm-6">
        <%= l_acceptance_op %>
      </div>
    </div>
  <% end %>
</div>