<% currency_symbol = (@inventory_order.try(:currency_symbol) || current_facility.try(:currency_symbol)) %>
<div class="row payment-received-details">
  <div class="col-md-10 mb5">
    <b style="text-decoration: underline; color: red;">PAYMENT RECEIVED DETAILS</b>
  </div>
  <div class="col-md-2 mb5 text-right">
    <div class="input-group">
      <span class="input-group-addon" style="padding: 5px 10px;font-size:10px;"><%= currency_symbol %></span>
      <input type="hidden" id="grand_total_inc_discount" value="<%= @inventory_order.net_amount %>">
      <input type="text" name="invoice_inventory_order[payment_received]" class="form-control invoice_payment_received p3_10" id="invoice_payment_received_total" value="0" readonly="readonly">
    </div>
  </div>
  <div class="col-md-12">
    <div class="row received-description">
      <div class="col-md-1">
        <b>S.No.</b>
      </div>
      <div class="col-md-2">
        <b>Mode of Payment</b>
      </div>
      <div class="col-md-3">
        <b>Payment Date</b>
      </div>
      <div class="col-md-3">
        <b>Payment Time</b>
      </div>
      <div class="col-md-2">
        <b>Amount</b>
      </div>
    </div>
    <div id="payment_received_details">
      <div class="row payment_received_row mb10">
        <input type="hidden" name="invoice_inventory_order[payment_received_breakups_attributes][0][received_by]" class="form-control payment_received_breakups_received_by p3_10" value="<%= current_user.id.to_s %>">
        <input type="hidden" name="invoice_inventory_order[payment_received_breakups_attributes][0][received_from]" class="form-control payment_received_breakups_received_from p3_10" value="<%= @patient.id %>">
        <input type="hidden" name="invoice_inventory_order[payment_received_breakups_attributes][0][currency_symbol]" class="form-control payment_received_breakups_currency_symbol p3_10" value="<%= @currency.symbol.to_s %>">
        <input type="hidden" name="invoice_inventory_order[payment_received_breakups_attributes][0][currency_id]" class="form-control payment_received_breakups_currency_id p3_10" value="<%= @currency.id.to_s %>">
        <div class="col-md-1">
          <span class="payment_received_breakups_sno">1.</span>
        </div>
        <div class="col-md-2">
          <% mop_list = Invoice::InvoicesHelper.mop_list(current_facility.country_id)%>
          <select class="form-control payment_received_breakups_mode_of_payment" name="invoice_inventory_order[payment_received_breakups_attributes][0][mode_of_payment]" style="height: 25px;padding:3px;" data-index="0">
            <option value=""></option>
            <% mop_list.each do |mop| %>
              <option value="<%= mop %>"><%= mop %></option>
            <% end %>
          </select>
        </div>
        <div class="col-md-3">
          <% unless Authorization::PolicyHelper.verification(current_user.id,"HGP-100-118-104") %>
            <input type="text" name="invoice_inventory_order[payment_received_breakups_attributes][0][date]" class="form-control" value="<%= Date.current.strftime('%d/%m/%Y') %>" readonly="readonly">
          <% else %>
            <input type="text" name="invoice_inventory_order[payment_received_breakups_attributes][0][date]" class="form-control payment_received_breakups_date p3_10" value="<%= Date.current.strftime('%d/%m/%Y') %>">
          <% end %>
        </div>
        <div class="col-md-3">
          <div class="bootstrap-timepicker timepicker">
            <% unless Authorization::PolicyHelper.verification(current_user.id,"HGP-100-118-104") %>
              <input type="text" name="invoice_inventory_order[payment_received_breakups_attributes][0][time]" class="form-control" value="<%= Time.current.strftime('%I:%M %p') %>" readonly="readonly">
            <% else %>
              <input type="text" name="invoice_inventory_order[payment_received_breakups_attributes][0][time]" class="form-control payment_received_breakups_time p3_10" value="<%= Time.current.strftime('%I:%M %p') %>">
            <% end %>
          </div>
        </div>
        <div class="col-md-2">
          <div class="input-group">
            <span class="input-group-addon" style="padding: 5px 10px;font-size:10px;"><%= currency_symbol %></span>
            <input type="hidden" name="invoice_inventory_order[payment_received_breakups_attributes][0][amount]" class="form-control payment_received_breakups_total_amount p3_10" min="0">
            <input type="number" name="invoice_inventory_order[payment_received_breakups_attributes][0][amount_received]" class="form-control payment_received_breakups_amount p3_10" min="0">
          </div>
        </div>
        <div class="col-md-1">
          <button class="btn btn-link btn-xs remove_payment_received">&times;</button>
        </div>
        <div class="col-md-4 col-md-offset-3 mt10 mop_details" style="display: none;border: 1px solid #ccc;padding: 5px;">
        </div>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-link btn-xs" id="add_payment_received">Add Payment</button>
    </div>
  </div>
</div>

<style>
  
  .payment_received_breakups_date, .payment_received_breakups_time{
    cursor: pointer !important;
  }

  .payment_received_breakups_date:disabled, .payment_received_breakups_time:disabled{
    cursor: not-allowed !important;
  }

</style>