<%= form_for @counselling_record, url: orders_counselling_record_path(@counselling_record.id.to_s), method: :put, remote: true do |f| %>
  <%= f.hidden_field :appointment_id, value: @appointment.id.to_s %>
  <%= f.hidden_field :patient_id, value: @appointment.patient_id.to_s %>
  <%= f.hidden_field :case_sheet_id, value: @case_sheet.id.to_s %>
  <%= f.hidden_field :entered_by, value: current_user.fullname %>
  <%= f.hidden_field :entered_by_id, value: current_user.id.to_s %>
  <%= f.hidden_field :user_id, value: current_user.id.to_s %>
  <%= f.hidden_field :facility_id, value: @appointment.facility_id.to_s %>
  <%= f.hidden_field :organisation_id, value: @appointment.organisation_id.to_s %>
  <%= f.hidden_field :counselled_by, value: @counselling_record.counselled_by %>
  <div class="modal-dialog modal-lg" style="width: 80%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="row" style="margin-bottom: 10px;">
          <div class="col-sm-2" style="margin-top: 10px;">
            Counselled by:
          </div>
          <div class="col-sm-3">
            <%= f.select :counselled_by_id, options_for_select(@counsellors&.map{|c| [c.fullname, c.id.to_s] }, @counselling_record.counselled_by_id.to_s),{include_blank: false}, {:class => "form-control"} %>
          </div>
        </div>
        <h4 class="modal-title" style="display: inline-block;margin-left: 43%;position: absolute;margin-top: -45px;">Counselling Record</h4>
      </div>
      <div class="modal-body">
        <div style="padding: 10px; border: 1px solid #e3e3e3;">
          <%= render partial: 'form.html.erb', locals: { f: f } %>
          <div class="row">
            <div class="col-sm-6">
              <label>Counselling Record Comments:</label>
              <%= f.text_area :comment, placeholder: "Add Comments here", class: "form-control" %>
            </div>
            <div class="col-sm-3" style="margin-top: 4%;width: 100px;">
              <%= f.submit "Update", class: "form-control btn btn-sm btn-success" %>
            </div>
            <div class="col-sm-3" style="margin-top: 4%;width: 100px;">
              <button class="form-control btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<style>
  #order-procedures-table.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #fff;
  }
  .orders-data:nth-child(odd) {
    background-color: #fff;
  }
  .orders-data:nth-child(even) {
    background-color: #e3e3e3;
  }
</style>
