<% if type == 'procedures' %>
  <% order_advised = @order_procedures.find{|op| order_data.try(:order_advised_id).to_s == op.id.to_s } %>
<% else %>
  <% order_advised = @order_investigations.find{|op| order_data.try(:order_advised_id).to_s == op.id.to_s } %>
<% end %>
<% if type == "procedures" %>
  <% order_name = order_advised.try(:procedurename) %>
  <% laterality = order_advised.try(:procedureside) %>
<% else %>
  <% order_name = order_advised.try(:investigationname) %>
  <% laterality = order_advised.get_label_for_side(order_advised.try(:investigationside)) %>
<% end %>
<div class="row orders-data" style="margin-top: 5px; font-size: 12px;">
  <div class="col-sm-2">
    <strong><%= order_name %> - <%= laterality %></strong><br/>
    <%= order_advised.try(:advised_by) %>(<%= order_advised.try(:advised_datetime).try(:in_time_zone).try(:strftime, "%d%b'%y at %I:%M %p") %>)
  </div>
  <div class="col-sm-2" style="text-align: center; padding: 10px;">
    <%= order_data.try(:status) %>
  </div>
  <div class="col-sm-2" >
    <% status = order_advised.try(:status).to_s %>
    <% if status == "Advised" || status.blank? %>
      <strong>Advised - </strong><%= order_advised.try(:advised_by) %><br/>
      - <%= order_advised.try(:advised_datetime).try(:in_time_zone).try(:strftime, "%d%b'%y at %I:%M %p") %>
    <% elsif status == "Scheduled" %>
      <strong><%= order_advised.try(:status) %> - </strong> <%= order_advised.try(:entered_by) %><br/>
      - <%= order_advised.try(:advised_datetime).try(:in_time_zone).try(:strftime, "%d%b'%y at %I:%M %p") %>
    <% elsif status == "Agreed" || status == "Declined" %>
      <strong><%= order_advised.try(:status) %> - </strong> <%= @counselling_record.try(:counselled_by) %><br/>
      - <%= order_advised.try(:counselled_datetime).try(:in_time_zone).try(:strftime, "%d%b'%y at %I:%M %p") %>
    <% end %>
  </div>
  <div class="col-sm-1">
    <%= order_advised.try(:quantity) %>
  </div>
  <div class="col-sm-2" style="text-align: center; padding: 10px;">
    <%= order_data.try(:patient_comment) %>
  </div>
  <div class="col-sm-2" style="text-align: center; padding: 10px;">
    <%= order_data.try(:counsellor_comment) %>
  </div>
</div>