<% if @print_setting.logo_url %>
    <% image_url = @print_setting.try(:logo) %>
<% else %>
    <% image_url = @organisation.try(:logo) %>
<% end %>
<div class="row" style="padding-bottom: 5px;">
  <% if !@print_setting.try(:customised_letter_head) %>
    <div style="height:<%= @print_setting.try(:header_height).to_i %>cm">
    </div>
  <% else %>
    <div class="row table-hg-print">
      <div class="col-xs-12 text-left">
        <% if @print_setting.try(:header_location)=="left"%>
            <% text = @print_setting.try(:header)%>
            <%= text.try(:html_safe) %>
        <%end%>
      </div>
      <div class="col-xs-12 text-center">
        <% if @print_setting.try(:header_location)=="center"%>
            <% text = @print_setting.try(:header)%>
            <%= text.try(:html_safe) %>
        <%end%>
      </div>
      <div class="col-xs-12 text-right">
        <% if @print_setting.try(:header_location)=="right"%>
            <% text = @print_setting.try(:header)%>
            <%= text.try(:html_safe) %>
        <%end%>
      </div>
    </div>
    <% if @print_setting.try(:header_logo_location)=='left' || @print_setting.try(:header_logo_location)=='right' || (@print_setting.try(:left).present? && @print_setting.left != '<br>') || (@print_setting.try(:right).present? && @print_setting.right != '<br>') %>
      <div class="row table-hg-print">
          <div class="col-xs-6 text-left">
          <% if @print_setting.try(:header_logo_location)=='left' %>
            <img src="<%= image_url %>" style="max-width:240px;max-height:100px;">
          <% else %>
            <% text  = @print_setting.try(:left) %>
            <%= text.try(:html_safe) %>
          <% end %>
          </div>
          <div class="col-xs-6 text-right" style="text-align:right;">
            <% if @print_setting.try(:header_logo_location)=='right' %>
              <img src="<%= image_url%>" style="max-width:240px;max-height:100px;">
            <% else %>
              <% text  = @print_setting.try(:right) %>
              <%= text.try(:html_safe) %>
            <% end %>
          </div>
      </div>
    <% end %>
  <% end %>
</div>