<% if @organisation.logo_url %>
  <% image_url = @organisation.logo_url %>
<% else %>
  <% image_url = '/assets/medical.png' %>
<% end %>

<div class="row" style="border-bottom:1px solid #eee;">
  <div class="col-md-4">
    <% if @organisation.letter_head_customisations[:logo_location]=='right' || @organisation.letter_head_customisations[:logo_location]=='left' %>
      <img src="<%= image_url %>" style="max-width:180px;max-height:75px;">
    <% end %>
  </div>
  <div class="col-md-4">
    <h5 style="text-align:center;"><b><%= @organisation.name %></b><br>
      <% if @organisation.tagline? %>
        <span style="text-align:center;font-size:11px;"><%= @organisation.tagline %></span>
      <% end %>
    </h5>
  </div>
  <div class="col-md-4">
    <p style="text-align:right;font-size:11px;"><%= @organisation.address1 %><% if @organisation.address1? && @organisation.address2? %>,<%end%></p>
    <p style="text-align:right;font-size:11px;"><%= @organisation.address2 %><% if @organisation.address1? && @organisation.address2? %>,<%end%></p>
    <p style="text-align:right;font-size:11px;"><%= @organisation.city %><% if @organisation.city? && @organisation.state? %>,<%end%><%= @organisation.state %><% if (@organisation.city? || @organisation.state?) && @organisation.pincode? %>-<%end%><%= @organisation.pincode %></p>
    <p style="text-align:right;font-size:11px;"><%= @organisation.email %></p>
    <p style="text-align:right;font-size:11px;"><%= @organisation.telephone %></p>
  </div>
</div>