<% facilitylaboratorylists.each do |laboratorylist| %>
  <% user = User.find_by(id: laboratorylist.user_id) %>
  <tr>
    <td><%= laboratorylist.name %></td>
    <td><%= user.fullname %></td>
    <td><%= laboratorylist.created_at.strftime("%d %b '%y") %></td>
    <td style="text-align: -webkit-center">
      <%= link_to edit_facility_laboratory_list_path(laboratorylist) ,:data => {:remote => true}, :class=> "btn btn-xs btn-success" do%><i class="fa fa-pencil-square-o"></i>Edit<%end%>
      <%= link_to facility_laboratory_list_path(laboratorylist) , :method => :delete, :data => {:remote => true, :confirm => 'Are you sure?'}, :class=> "btn btn-xs btn-danger" do%><i class="fa fa-trash-alt"></i> Delete <%end%>
    </td>
  </tr>
<% end %>