<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-body">

	<%= simple_form_for @facilitylaboratorylist, url: facility_laboratory_lists_path, :method => :post, :remote => true, :html => {:class => 'new_my_practice_laboratory', :id => "new_my_practice_laboratory" } do |f| %>

  	<%= f.hidden_field :user_id, { value: @current_user.id } %>
  	<%= f.hidden_field :facility_id, { value: @current_facility.id } %>
  	<%= f.hidden_field :doctor, { value: @current_user.id } %>

    <div class="row">
      <div class="col-md-6">
        <span class="col-sm-3"><b>Set Name :</b></span>
        <div class="col-sm-4">
          <%= f.text_field :name, :maxlength => 20, :size => 40, :class => 'form-control name mb10', :placeholder => "Ex: A-Fitness", :style => "width:auto;display:inline;," %>
        </div>
      </div>

      <!-- <div class="col-md-6">
        <span class="col-sm-3"><b>Specialty :</b></span>
        <div class="col-sm-6">
          <%#= select_tag "facility_laboratory_list[specialty_id]", options_for_select(@available_specialties.pluck(:name, :id), @selected_specialty.to_s), { :class => 'form-control specialty_dropdown',  :include_blank => 'Select any Specialty', id: 'opdrecord_specalityid' } %>
        </div>
      </div> -->
    </div>

    <div class="row" style="border-bottom: 1px solid #dcdada;padding-bottom: 13px;">
      <div class="col-md-3" style="margin-left: 11px;"><b>Set Type :</b></div>
      <div class="col-md-6">
        <%= f.input :set_type, collection: [ ['OPD', 440655000], ['Admission', 440654001], ['Pre-op', 262068006], ['Post-op', 262061000], ['Ward', 225746001], ['Discharge', 58000006], ['ER', 73770003], ['Administration', 413454004] ], :as => :hg_radio_button,:label => false, :required => false,:class => 'btn btn-xs btn-white', :input_html => {:name => "facility_laboratory_list[set_type]" }, :checked => @facilitylaboratorylist.read_attribute(:set_type) || 440655000 %>
      </div>
    </div>

    <div class="row" style="margin-top: 12px;margin-bottom: -12px;">
      <div class="col-sm-12">
        <div class="col-md-3"></div>
        <div class="rdio rdio-primary col-md-4">
          <div id="standard_lab_inv" class="standard_lab_inv" style="margin-bottom:15px;">
            <%= radio_button_tag "laboratory_inv_type", "standard_opthal_investigation", true, {:class => 'laboratory_inv_type', :id => "OphthalRadio1"} %>
            <label for="OphthalRadio1">Standard Investigations</label>
          </div>
        </div>
        <div class="rdio rdio-primary col-md-4 custom_lab_inv" id="custom_lab_inv">
          <%= radio_button_tag "laboratory_inv_type", "custom_opthal_investigation", false, {:class => 'laboratory_inv_type', :id => "OphthalRadio2"} %>
          <label for="OphthalRadio2">Custom Investigations</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 standard-lab-investigations">
        <% standard_investigations = @lab_investigations.where(is_custom: false) %>
        <% standard_investigations = standard_investigations.sort_by!{ |investigation| investigation.investigation_name.downcase } %>
        <%= f.input :toplaboratoryinvestigation, collection: (standard_investigations.map{|inv| [ inv.investigation_name, inv.loinc_code ]} ), input_html: { multiple: true, :size => '20', :style => 'height: 100%; width: 60;', :class => 'form-control toplaboratoryinvestigation'}, as: :select,  :label => false,  :item_wrapper_class => 'form-control', :required => false %>
  	  </div>

      <div class="col-sm-4 custom-lab-investigations">
        <% custom_investigations = @lab_investigations.where(is_custom: true) %>
        <% custom_investigations = custom_investigations.sort_by!{ |investigation| investigation.investigation_name.downcase } %>
        <%= select_tag "custom_laboratory_investigation", options_for_select(custom_investigations.map{|inv| [ inv.investigation_name, inv.loinc_code ]}) ,{ multiple: true, :style => 'height: 334px; width: 60;', :class => 'form-control custom_laboratory_investigation' } %>
      </div>

		  <div class="col-md-8">
		    <table class="table table-striped table-bordered">
		      <tbody class="laboratoryinvestigations">
		      </tbody>
		    </table>
		  </div>
		</div>
	<% end %>

</div>

<script type="text/javascript">
  jQuery(document).ready(function() {
    jQuery(".custom-lab-investigations").hide();
    jQuery("input[name='laboratory_inv_type']").on('click', function () {
      var laboratory_inv_type = jQuery("input[name='laboratory_inv_type']:checked").val();
      if (laboratory_inv_type == 'standard_opthal_investigation') {
        jQuery(".standard-lab-investigations").show();
        jQuery(".custom-lab-investigations").hide();
      }
       else if (laboratory_inv_type == 'custom_opthal_investigation') {
        jQuery(".standard-lab-investigations").hide();
        jQuery(".custom-lab-investigations").show();
      }
    });
  });
</script>