<div class="panel-body">
  <div class="row">
    <div class="col-sm-12">
      <h5 class="subtitle mb5" style="display:inline;">Appointment List Today (Total: <%= @appointment.size %>)</h5><a href="" class="pull-right btn-minimize-view"><i class="fa fa-minus"></i></a>
    </div>
    <% if @facility %>
      <% unless @facility.clinical_workflow %>
        <div class="col-sm-3">
          <b>Scheduled:</b><%= @appointment.where(current_state: "Scheduled").size %>
        </div>
        <div class="col-sm-3">
          <b>Waiting:</b><%= @appointment.where(current_state: "Waiting").size %>
        </div>
        <div class="col-sm-3">
          <b>Engaged:</b><%= @appointment.where(current_state: "Engaged").size %>
        </div>
        <div class="col-sm-3">
          <b>Completed:</b><%= @appointment.where(current_state: "Completed").size %>
        </div>
      <% else %>
        <div class="col-sm-4">
          <b>Not Arrived:</b><%= @appt_worlflow.where(state: "not_arrived").size %>
        </div>
        <% if @user %>
          <div class="col-sm-4">
            <b>In Queue:</b><%= @appt_worlflow.where(user_id: @user.id).size %>
          </div>
        <% end %>
        <div class="col-sm-4">
          <b>Completed:</b><%= @appt_worlflow.where(state: "complete").size %>
        </div>
      <% end %>
    <% else %>
        <div class="col-sm-4">
          <b>Total:</b> <%= @appointment.size %>
        </div>
    <% end %>
  </div>
  <div class="row toggle-view" id="appointment-list-dashboard">
    <div class="col-md-12">
      <div class="table-responsive">
        <%= render partial: '/dashboard/appointment/appointment_details.html.erb' %>
      </div><!-- table-responsive -->
    </div>
  </div>
</div><!-- panel-body -->