<% @poi = PatientOtherIdentifier.find_by(patient_id: patient.id) %>
<% patient_identifier = PatientIdentifier.find_by(patient_id: patient.id.to_s).try(:patient_org_id) %>
<% @referral = PatientReferralType.find_by(patient_id: patient.id) %>
<% @subreferral = SubReferralType.find_by(id: @referral.try(:sub_referral_type_id)) %>
<div class="appointment-patient-details mb10 mt10" style="<%= template_header_font_size %>">
  <div class="row">
    <div class="col-xs-2">
      <b>Patient</b>
    </div>
    <div class="col-xs-4">
      : <b><%= patient.fullname.to_s.upcase %></b>
    </div>
    <div class="col-xs-2">
      <b>Doctor</b>
    </div>
    <div class="col-xs-4">
      : <b>Dr. <%= opdrecord.consultant_name.try(:upcase)%></b>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <b>Age/Sex</b>
    </div>
    <div class="col-xs-4">
      : 
      <%if patient.calculate_age.present? || patient.gender.present?%><%= patient.calculate_age %>/<%= patient.gender %><% else %> Unavailable<% end %>
    </div>
    <div class="col-xs-2">
      <b>Facility</b>
    </div>
    <div class="col-xs-4">
      : <%= appointment.facility.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <b>Pat ID</b>
    </div>
    <div class="col-xs-4">
      : <%= patient_identifier %>
    </div>
    <div class="col-xs-2">
      <b>Appt. ID</b>
    </div>
    <div class="col-xs-4">
      : <%= appointment.display_id %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <b>Contact</b>
    </div>
    <div class="col-xs-4">
      : <%= patient.mobilenumber %>
    </div>
    <div class="col-xs-2">
      <b>Appt. Dt</b>
    </div>
    <div class="col-xs-4">
      : <%= appointment.appointmentdate.strftime("%d %b'%y") %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <b>MR No.</b>
    </div>
    <div class="col-xs-4">
      : <%= (@poi.try(:mr_no) if @poi.try(:mr_no).present?) || 'N/A' %>
    </div>    
    <div class="col-xs-2">
      <b>Note Dt</b>
    </div>
    <div class="col-xs-4">
      : <%= opdrecord.created_at.strftime("%d %b'%y") %>
    </div>
  </div>
  <%if @referral.present?%>
    <% if @referral.referral_type_id.include?("FS-RT-0002") %>
      <div class="row">
        <div class="col-xs-2">
          <b>Ref Doctor</b>
        </div>
        <div class="col-xs-4">
          : Dr. <%= @subreferral.try(:name) %>
        </div>
      </div>
    <% end %>
  <%end%>
</div>
<% if @mail_job == false %>
  <% if params[:action] == "print_medication" || params[:action] == "print_opd_record" || params[:action] == "print_glass_prescription"  %>
    <style type="text/css">
      <% if current_facility.organisation.letter_head_customisations[:left_margin].to_i <= 6 %>
        .appointment-patient-details * {
          font-size: 9px;
        }
      <% else %>
        .appointment-patient-details * {
          font-size: 7px;
        }
      <% end %>
      .appointment-patient-details {
        border:1px solid #aaa;
        padding:5px;
      }
    </style>
  <% else %>
    <style type="text/css">
      .appointment-patient-details {
        font-size: 12px;
      }
      .appointment-patient-details {
        border:1px solid #aaa;
        /*padding:5px;*/
      }
    </style>
  <% end %>
<% else %>
   <style type="text/css">
      .appointment-patient-details {
        font-size: 12px;
      }
      .appointment-patient-details {
        border:1px solid #aaa;
        /*padding:5px;*/
      }
    </style>
<% end %>