<% if @store_consumptions.size > 0 %>
  <% @store_consumptions.each do |store_consumption| %>
    <tr id="<%= store_consumption.id %>" class="inventory-list-row">
      <td style="font-size: 10px; color: #17a08c;" class="col-md-3"><%= store_consumption.transaction_date %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= store_consumption.created_at&.strftime("%I:%M%p") %></td>
      <td style="font-size: 10px; color: #17a08c;" class="col-md-3"><%= store_consumption.store_name %></td>
      <td class="col-md-4"><b><%= store_consumption.note.try(:capitalize) %></b></td>
      <!-- <td class="col-md-2"><b><%= store_consumption.total_cost %></b></td> -->
    </tr>
  <% end %>
<% else %>
  <tr>
    <td align="center"><strong style="font-size: 20px;">Nothing to Display</strong></td>
  </tr>
<% end %>
