<div class="row mb30" style="margin-top:20px;">
  <div class="col-md-2 ">
    Reason for Admission :
  </div>
  <div class="col-md-2" style="margin-top:-5px;">
    <%= f.text_field :admissionreason, {class: "form-control", value: @admission.try(:admissionreason),name: "inpatient_ipd_record[admission_attributes][admissionreason]"} %>
  </div>
  <div class="col-md-2 ">
    Expected Management :
    <small style="cursor: pointer;color: rgb(66, 139, 202);display: inline;border: 1px solid rgb(66, 139, 202);border-radius: 2px;" id="clear_expected_management">clear</small>
  </div>
  <div class="col-md-2" style="margin-top:-5px;">
    <% expected_management = ( @ipdrecord.read_attribute(:expected_management) if @ipdrecord.present?) %>
    <%= f.input :expected_management, collection: [ 'Surgical', 'Medical' ], :as => :hg_radio_button, :label => false, :required => false, :class => 'btn btn-xs btn-white r-chiefcomplaint', :input_html => {:name => "inpatient_ipd_record[expected_management]" }, :checked => expected_management %>
  </div>
  <div class="col-md-2 ">
    Expected Length Of Stay :
  </div>
  <div class="col-md-2" style="margin-top:-5px; width: 15%">
    <div class="input-group">
      <% expected_stay = @ipdrecord.try(:expected_stay).to_s  %>
      <%= f.number_field :expected_stay, class: 'form-control', value: expected_stay, name: 'inpatient_ipd_record[expected_stay]', min: 0 %>
      <span class="input-group-addon">Days</span>
    </div>
  </div>
</div>
<div class="row mb30">
  <div class="col-md-2 ">
    Start Of Complaints :
  </div>
  <div class="col-md-2" style="margin-top:-5px;">
    <%= f.text_field :complaint_date, {class: "form-control injury_complaint_date",value: @ipdrecord.try(:complaint_date),:name => "inpatient_ipd_record[complaint_date]", readonly: 'readonly', style: 'cursor:pointer;background:#fff;'} %>
  </div>
  <div class="col-md-2 ">
    Date of First OPD/EMR Visit:
  </div>
  <div class="col-md-2" style="margin-top:-5px;">
    <%= f.text_field :first_opd_visit, {class: "form-control first_opd_visit",:name => "inpatient_ipd_record[clinical_note_attributes][first_opd_visit]",value: @clinical_note.read_attribute(:first_opd_visit), readonly: 'readonly', style: 'cursor:pointer;background:#fff;' }%>
  </div>
  <div class="col-md-2 ">
    Expected Date of Discharge :
  </div>
  <div class="col-md-2" style="margin-top:-5px;">
    <% dischargedate = @admission.try(:dischargedate).try(:strftime,"%d/%m/%Y") %>
    <%= f.text_field :discharge_date, {class: "form-control expected_discharge_date", value: dischargedate,:name => "inpatient_ipd_record[discharge_date]", readonly: 'readonly', style: 'cursor:pointer;background:#fff;'} %>
  </div>
</div>
<div class="row mb30">
  <div class="col-md-2 ">
    Payment Type :
  </div>
  <div class="col-md-5">
    <% payment_type = @ipdrecord.checkboxes_checked(@ipdrecord.read_attribute(:payment_type))%>
    <%= f.input :payment_type, collection: ['Cash', 'Credit Card', 'Debit Card', 'Cashless', 'Reimbursement', 'Govt. Scheme'], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white r-chiefcomplaint', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[payment_type]" }, :checked => payment_type %>
  </div>
</div>
<div class="row mb30">
  <div class="col-md-2 ">
    Billing Category :
  </div>
  <div class="col-md-2">
    <%= f.text_field :ipd_billing_category, {class: 'form-control',:name => "inpatient_ipd_record[clinical_note_attributes][ipd_billing_category]",value: @clinical_note.read_attribute(:ipd_billing_category)} %>
  </div>
  <div class="col-md-2 ">
    Medico-Legal Case :
  </div>
  <div class="col-md-2">
    <% medico_legal_case = @ipdrecord.read_attribute(:medico_legal_case) || "No" %>
    <%= f.input :medico_legal_case, wrapper_html: {:class=>"primary_assesment_rb medico-legal-case"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[medico_legal_case]" }, :checked => medico_legal_case %>
  </div>
  <div class="col-md-4 medico-legal-details">
    <% medico_legal_details = @ipdrecord.checkboxes_checked(@ipdrecord.read_attribute(:medico_legal_details)) %>
    <%= f.input :medico_legal_details, collection: ['MLC report', 'Police FIR', 'Self-Inflicted', 'RTA', 'Substance Abuse', 'Alcohol consumption'], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white medico-legal-details', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[medico_legal_details]" }, :checked => medico_legal_details %>
  </div>
</div>
<%= f.hidden_field :selected_opdrecord_id, {class: 'form-control selected_opdrecord'} %>
<div class="row mb10">
  <div class="col-md-2">
    Comments :
  </div>
  <div class="col-md-3">
    <%= f.text_area :admin_comments, {style: "width:125%;", class: "form-control",:name => "inpatient_ipd_record[clinical_note_attributes][admin_comments]",value: @clinical_note.read_attribute(:admin_comments) }%>
  </div>
</div>
<script type="text/javascript">
  // datepicker
  datepicker_options = {
    changeMonth: true,
    changeYear: true,
    dateFormat: "dd/mm/yy"
  };

  datepicker_options_discharge = {
    changeMonth: true,
    changeYear: true,
    dateFormat: "dd/mm/yy",
    minDate: -0
  }

  $('.injury_complaint_date').datepicker(datepicker_options);
  <% unless @clinical_note.injury_complaint_date.present? %>
    // $(".injury_complaint_date").datepicker("setDate", new Date());
  <% end %>
  $('.first_opd_visit').datepicker(datepicker_options);
  <% unless @clinical_note.first_opd_visit.present? %>
    // $(".first_opd_visit").datepicker("setDate", new Date());
  <% end %>
  $('.expected_discharge_date').datepicker(datepicker_options_discharge);
  <% unless @clinical_note.expected_discharge_date.present? %>
    // $(".expected_discharge_date").datepicker("setDate", new Date());
  <% end %>

  // Show Hide TPA Details
  $(".cashless-true").hide();
  $("#Reimbursement").on('click', function(){
    if($(this).hasClass("btn-darkblue") && !($("#Cashless").hasClass("btn-darkblue"))){
      $(".cashless-true").hide();
    } else {
      $(".cashless-true").show();
    }
  })
  $("#Cashless").on('click', function(){
    if($(this).hasClass("btn-darkblue") && !($("#Reimbursement").hasClass("btn-darkblue"))){
      $(".cashless-true").hide();
    } else {
      $(".cashless-true").show();
    }
  })

  if($("#Reimbursement").hasClass("btn-darkblue") || $("#Cashless").hasClass("btn-darkblue")){
    $(".cashless-true").show();
  } else {
    $(".cashless-true").hide();
  }

  $(".medico-legal-details").hide()
  $(".medico-legal-case").find('button').on('click', function(){
    if($(this).html() == "Yes") {
      $(".medico-legal-details").show()
    } else {
      $(".medico-legal-details").hide()
    }
  })
  if($(".medico-legal-case").find('.btn-brown').html() == 'Yes'){
    $(".medico-legal-details").show()
  }

  function get_days(date1, date2) { // Format dd/mm/yyyy
    var date1 = new Date(date1.split("/")[2], date1.split("/")[1] - 1, date1.split("/")[0]);
    var date2 = new Date(date2.split("/")[2], date2.split("/")[1] - 1, date2.split("/")[0]);
    return days = ((date1 - date2)/1000/60/60/24)
  }

  $(".expected_discharge_date").on('change', function(){
    var days = get_days($(this).val(), "<%= @admission.try(:admissiondate).try(:strftime, '%d/%m/%Y') %>")
    $("#inpatient_ipd_record_expected_stay").val(days)
  })
  if($(".expected_discharge_date").val() != ''){
    $(".expected_discharge_date").change();
  }
  if ($("#inpatient_ipd_record_expected_management").val() == ""){
    $("#clear_expected_management").hide()
  }
  else{
    $("#clear_expected_management").show()
  }

  $(".r-chiefcomplaint").on("click",function(){
    setTimeout(function(){
      if ($("#inpatient_ipd_record_expected_management").val() == ""){
        $("#clear_expected_management").hide()
      }
      else{
        $("#clear_expected_management").show()
      }
    }, 200);
  });

  $("#clear_expected_management").on("click",function(){
    $("#inpatient_ipd_record_expected_management").val("")
    $(".r-chiefcomplaint").removeClass("btn-brown");
    $("#clear_expected_management").hide()
  });
</script>
