<% tpa = Inpatient::Insurance::Tpa.find_by(patient_id: @ot.patient_id) %>
<div class="row no_margin" style="padding: 5px;">
  <div class="col-sm-3 text-center">
    <% if @ot.patient.patientassets.count > 0%>
      <%= image_tag(@ot.patient.patientassets.last.asset_path_url, class: "patient_profile_pic") %>
    <%else%>
      <%= image_tag('placeholder.png', class: "patient_profile_pic") %>
    <%end%>
  </div>

  <div class="col-sm-9">
    <div class="row no_margin">
      <h4 class="" style="display: inline">Patient Details</h4>
    </div>
    <% unless @ot.patient.gender.nil? %>
      <% if @ot.patient.gender == "Male" %>
        <% gender = "(M)" %>
      <% elsif @ot.patient.gender == "Female" %>
        <% gender = "(F)" %>
      <% end %>
    <% else %>
      <% gender = "" %>
    <% end %>
    <div class="row no_margin">
      <div class="col-sm-4 no_padding text-left">Full Name</div>
      <div class="col-sm-1 no_padding text-left">:</div>
      <div class="col-sm-7 no_padding"><%= @ot.patient.fullname %> <%= gender %></div>
    </div>
    <div class="row no_margin">
      <div class="col-sm-4 no_padding text-left">Patient ID</div>
      <div class="col-sm-1 no_padding text-left">:</div>
      <div class="col-sm-7 no_padding"><%=PatientIdentifier.find_by(patient_id: @ot.patient.id.to_s).try(:patient_org_id) %></div>
    </div>
    <div class="row no_margin">
      <div class="col-sm-4 no_padding text-left">Date of Birth</div>
      <div class="col-sm-1 no_padding text-left">:</div>
      <div class="col-sm-6 no_padding"><%= @ot.patient.dob ? @ot.patient.dob.strftime("%d-%m-%y") : "Unavailable" %></div>
    </div>
    <div class="row no_margin">
      <div class="col-sm-4 no_padding text-left">Primary Contact</div>
      <div class="col-sm-1 no_padding text-left">:</div>
      <div class="col-sm-7 no_padding"><%= @ot.patient.mobilenumber %></div>
    </div>

    <% unless @ot.patient.secondarymobilenumber.blank? %>
      <div class="row no_margin">
        <div class="col-sm-4 no_padding text-left">Secondary Contact</div>
        <div class="col-sm-1 no_padding text-left">:</div>
        <div class="col-sm-7 no_padding"><%= @ot.patient.secondarymobilenumber %></div>
      </div>
    <% end %>

    <%if PatientOtherIdentifier.find_by(patient_id: @ot.patient.id).present? %>
        <div class="row no_margin">
          <%if PatientOtherIdentifier.find_by(patient_id: @ot.patient.id).mr_no.present? && PatientOtherIdentifier.find_by(patient_id: @ot.patient.id).ip_no.present?%>
              <div class="col-sm-2 no_padding text-left">MR NO :</div>
              <div class="col-sm-4 no_padding"><%= PatientOtherIdentifier.find_by(patient_id: @ot.patient.id).try(:mr_no) %></div>
              <div class="col-sm-2 no_padding text-left">IP NO :</div>
              <div class="col-sm-4 no_padding"><%= PatientOtherIdentifier.find_by(patient_id: @ot.patient.id).try(:ip_no) %></div>
          <%end%>
          <%if PatientOtherIdentifier.find_by(patient_id: @ot.patient.id).mr_no.present? && PatientOtherIdentifier.find_by(patient_id: @ot.patient.id).ip_no.blank?%>
              <div class="col-sm-4 no_padding text-left">MR NO</div>
              <div class="col-sm-1 no_padding text-left">:</div>
              <div class="col-sm-7 no_padding"><%= PatientOtherIdentifier.find_by(patient_id: @ot.patient.id).try(:mr_no) %></div>
          <%end%>
          <%if PatientOtherIdentifier.find_by(patient_id: @ot.patient.id).ip_no.present? && PatientOtherIdentifier.find_by(patient_id: @ot.patient.id).mr_no.blank?%>
              <div class="col-sm-4 no_padding text-left">IP NO</div>
              <div class="col-sm-1 no_padding text-left">:</div>
              <div class="col-sm-7 no_padding"><%= PatientOtherIdentifier.find_by(patient_id: @ot.patient.id).try(:ip_no) %></div>
          <%end%>
        </div>
    <%end%>
  </div>
</div><!-- .row -->
<hr style="border: 0.5 dotted #ababab;"/>
<div class="row no_margin">
  <div class="col-md-4">
    <%= link_to ipd_patients_admit_patient_path(:patientid => @ot.patient.id), class: "btn btn-info btn-xs navnew-btn-info", style: "margin-left:4px;",method: "post", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#inpatient-modal'} do %><i class="fa fa-plus fa-xs"></i> Admission<% end %>
  </div>
  <div class="col-sm-8 text-right">
    <label class="label label-warning">Note: On Deleting a Particular OT, It will be Permanently Deleted</label>
  </div>
</div>
<div class="row no_margin">
  <div class="col-sm-7">
    <div class="row no_margin">
      <h4 class="" style="margin-left: 10px;">OT Detail</h4>
    </div>
    <div class="row no_margin">
      <div class="col-sm-5">OT Date</div>
      <div class="col-sm-1">:</div>
      <div class="col-sm-6"><%= @ot.otdate.strftime("%d-%b-%Y") %><%= link_to ipd_patients_editot_path(:patient_id => @ot.patient.id, :otschedule_id => @ot.id), class: "btn btn-link btn-xs reschedule-btn", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#templates-modal'} do %> <i class="fa fa-edit"></i><% end %></div>
    </div>
    <div class="row no_margin">
      <div class="col-sm-5">Procedure Name</div>
      <div class="col-sm-1">:</div>
      <div class="col-sm-6"><% if @ot.procedurename.present? %><%= @ot.procedurename %><% else %><span>Not Mentioned</span><% end %></div>
    </div>
    <div class="row no_margin">
      <div class="col-sm-5">Surgeon Name</div>
      <div class="col-sm-1">:</div>
      <div class="col-sm-6"><%= User.find(@ot.surgeonname).fullname %></div>
    </div>
    <div class="row no_margin">
      <div class="col-sm-5">Start Time</div>
      <div class="col-sm-1">:</div>
      <div class="col-sm-6"><%= @ot.ottime.strftime("%I:%M %p") %></div>
    </div>
    <div class="row no_margin">
      <div class="col-sm-5">OT ID</div>
      <div class="col-sm-1">:</div>
      <div class="col-sm-6" id="modalCalendarOtDetailsId" data-ot-id="<%= @ot.id %>"><%= @ot.display_id %></div>
    </div>
    <div class="row no_margin">
      <div class="col-sm-5">Scheduled By</div>
      <div class="col-sm-1">:</div>
      <div class="col-sm-6"><%= @ot.user.fullname %></div>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="row no_margin">
      <h4 class="">Actions</h4>
    </div>
    <div class="row no_margin">
      <div class="col-md-12">
        
      </div>
    </div>
    <div class="row no_margin">
      <span>All OT's Scheduled :</span>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul style="padding-left:5px;list-style-type:none;">
          <li style="margin-left:-25px;"><b class="label label-default">Active</b></li>
          <li>
            <p style="margin-bottom:0;"><b><%=  @ot.otdate.strftime('%d %b') %><%= @ot.ottime.strftime(" at %I:%M %p") %></b><button data-ot-id="<%= @ot.id %>" style="margin-left:20px;" class="btn btn-link btn-xs" id="otschedule_0" style="margin-top:0px;">Delete</button></p>
            <p style="margin-bottom:0;margin-top:-10px;"><b style="font-size:10px;">by <%= User.find(@ot.user_id).fullname %></b></p>
          </li>
          <% @counter = 0 %>
          <% OtSchedule.where(patient_id: @ot.patient.id.to_s, is_deleted: false, admission_id: nil).each.with_index do |otschedule,i| %>
            <% @counter = @counter + 1 %>
            <% if @counter == 1 %>
              <li style="margin-left:-25px;"><b class="label label-default">Others</b></li>
            <% end %>
            <% if @ot.id != otschedule.id %>
              <li>
                <p style="margin-bottom:0;"><b><%=  otschedule.otdate.strftime('%d %b') %><%= otschedule.ottime.strftime(" at %I:%M %p") %></b><button data-ot-id="<%= otschedule.id %>" style="margin-left:20px;" class="btn btn-link btn-xs otschedule_list" id="otschedule_<%= i+1 %>" style="margin-top:0px;">Delete</button></p>
                <p style="margin-bottom:0;margin-top:-10px;"><b style="font-size:10px;">by <%= User.find(otschedule.user_id).fullname %></b></p>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

</div>

<style type="text/css">
  .patient_profile_pic{
    border: 3px solid white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    width: 75%;
    height: 90%  ;
  }

.ot-control{
  margin-bottom: 5px;
}


.ot-control .btn-group{
  margin-bottom: 0px;
}

.reschedule-btn {
  margin-top:-1px;
  padding:0px 5px;
  text-decoration:none;
  color:#333;
}

.reschedule-btn:hover {
  color:#000;
  font-size: 15px;  
}

.reschedule-btn:focus {
  outline: 0;
  color:#000;
}

#otschedule_0, .otschedule_list {
  color: #d9534f;
}
#otschedule_0:hover, .otschedule_list:hover {
 color: #d9534f; 
}

</style>

<script type="text/javascript">
  $("#otschedule_0").on('click', function(){
    ot_id = $(this).attr('data-ot-id')
    $.ajax({
      url: "/ipd_patients/deleteot",
      data: {
        ot_id: ot_id
      },
      dataType: 'json',
      success: function(res){
        $("#modalCalendarOtDetails").modal('hide')
        $("#ot-calendar").fullCalendar('refetchEvents');
      },
      error: function(err){
      }
    })
  })
  $(".otschedule_list").on('click', function(){
    ot_id = $(this).attr('data-ot-id')
    $.ajax({
      url: "/ipd_patients/deleteot",
      data: {
        ot_id: ot_id
      },
      dataType: 'json',
      success: function(res){
        $("#ot-calendar").fullCalendar('refetchEvents');
      },
      error: function(err){
      }
    })
  })
</script>