<% if @ot_schedule.admission_id.present? %>
    <div class="row">
      <label class="col-md-12"><b style="color:#000;">Diagnosis:</b></label>
    </div>
    <div class="row">
      <label class="col-md-offset-1 col-md-11">
          <% if @ot_schedule.specialty_id == "309988001" %>
              <% @diagnosis_ophthal.try(:each) do |dia| %>
                <% if dia.created_from == "migration"%>
                  <li><%= dia.diagnosisname %></li>
                <%else%>
                  <li><%= dia.diagnosisoriginalname %>  <%= dia.icddiagnosiscode.try(:upcase) %></li>
                <%end%>
              <%end %>
              <% if @diagnosis_ophthal.to_i.size == 0 %>
                None
              <% end %>
          <%elsif @ot_schedule.specialty_id == "309989009" %>
              <li><%= (@diagnosis_ortho if @diagnosis_ortho.present?) || "None" %></li>
          <% end %>
      </label>
    </div>
    <div class="row">
      <label class="col-md-12"><b style="color:#000;">Procedures:</b></label>
    </div>
    <div class="row">
      <label class="col-md-offset-1 col-md-11">
          <% if @ot_schedule.specialty_id == "309988001" %>
              <% @procedures_opthal.try(:each) do |pro| %>
                <li><%= pro.procedurename %>,<%= pro.get_label_for_procedure_side(pro.procedureside) %></li>
              <%end %>
            <% if @procedures_opthal.to_i.size == 0 %>
              None
            <% end %>
          <% elsif @ot_schedule.specialty_id == "309989009" %>
              <li><%= (@procedures_ortho if @procedures_ortho.present?) || "None" %></li>
          <% end %>
      </label>
    </div>
<% end  %>

<style type="text/css">
  .surgery-datepicker {
    background: #fff !important;
    cursor: pointer;
  }
</style>

<script>
  // datepicker
  datepicker_options = {
    changeMonth: true,
    changeYear: true,
    dateFormat: "dd/mm/yy"
  };

  $('.surgery-datepicker').datepicker(datepicker_options);
  ipd_ot_validate();
  function ipd_ot_validate(){
    $("#new_ot_schedule").validate({
      errorPlacement: function (error, element) {
        if ($("#error_procedure_performed").children().length == 0 ) {
          error.appendTo($("#error_procedure_performed"));
        }
      }
    })
  }

</script>
