<div class="row">

  <% diagnosis.each do |diagnosis| %>
    <div class="col-md-12">
      <% if diagnosis.created_from == "migration"%>
        <li style="margin-left: 10px"> <%= diagnosis.diagnosisname.capitalize %></li>
      <% else %>
        <% if diagnosis.icd_type == 'TranslatedIcdDiagnosis' %>
          <span><b style="color: #333;"><%= diagnosis.diagnosisname.capitalize %> - <%= diagnosis.icddiagnosiscode.upcase %></b></span>
        <% else %>
          <span><b style="color: #333;"><%= diagnosis.diagnosisoriginalname.capitalize %> - <%= diagnosis.icddiagnosiscode.upcase %></b></span>
          <% end %>
      <% end %>
    </div>
  <% end %>
</div>
