<% action = (params[:action] == "new") %>
<%= f.simple_fields_for @clinical_note do |clinical| %>
    <div class="row mb10" style="margin-top:10px;">
      <div class="col-md-12 text-center" style="text-decoration:underline;">
        PRIMARY ASSESSMENT
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <table class="table table-bordered primary-assesment">
          <tbody>
          <tr>
            <th width="20%">Airway</th>
            <th class="text-center" width="25%;"><%= clinical.input :airway_assesment, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][airway_assesment]" }, :checked => @clinical_note.read_attribute(:airway_assesment) || 'Normal' %></th>
            <th width= "60%" class="toggle-head">
              <%= clinical.input :airway_assesment_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Artificial', 'Unconscious', 'Potential Threat'], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white r-chiefcomplaint', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][airway_assesment_abnormal]" }, :checked => @clinical_note.checkboxes_checked(@clinical_note.read_attribute(:airway_assesment_abnormal)) %>
              <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
            </th>
          </tr>
          <tr>
            <th width="20%">Breathing</th>
            <th class="text-center" width="25%;"><%= clinical.input :breathing_assesment, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][breathing_assesment]" }, :checked => @clinical_note.read_attribute(:breathing_assesment) || 'Normal' %></th>
            <th width= "60%" class="toggle-head">
              <%= clinical.input :breathing_assesment_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Distressed', 'Cyanosed', 'Tachypnea', 'Decreased RR', 'SpO2 < 95%', 'Stridor', 'Wheeze'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][breathing_assesment_abnormal]" }, :checked => @clinical_note.checkboxes_checked(@clinical_note.read_attribute(:breathing_assesment_abnormal)) %>
              <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
            </th>
          </tr>
          <tr>
            <th width="20%">Pulse</th>
            <th class="text-center" width="25%;"><%= clinical.input :pulse_assesment, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][pulse_assesment]" }, :checked => @clinical_note.read_attribute(:pulse_assesment) || 'Normal' %></th>
            <th width= "60%" class="toggle-head">
              <%= clinical.input :pulse_assesment_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Tachycardia', 'Bradycardia', 'Irregular'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][pulse_assesment_abnormal]" }, :checked => @clinical_note.checkboxes_checked(@clinical_note.read_attribute(:pulse_assesment_abnormal)) %>
              <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
            </th>
          </tr>
          <tr>
            <th width="20%">Blood Pressure</th>
            <th class="text-center" width="25%;"><%= clinical.input :bp_assesment, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][bp_assesment]" }, :checked => @clinical_note.read_attribute(:bp_assesment) || 'Normal' %></th>
            <th width= "60%" class="toggle-head">
              <%= clinical.input :bp_assesment_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Hypotensive', 'Hypertensive'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][bp_assesment_abnormal]" }, :checked => @clinical_note.checkboxes_checked(@clinical_note.read_attribute(:bp_assesment_abnormal)) %>
              <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
            </th>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <table class="table table-bordered primary-assesment">
          <tbody>
          <tr>
            <th>Pressure Ulcer Risk</th>
            <th width="35%"><%= clinical.input :pressure_ulcer_risk, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][pressure_ulcer_risk]" }, :checked => @clinical_note.read_attribute(:pressure_ulcer_risk) || "No" %></th>
          </tr>
          <tr>
            <th>Risk of Fall</th>
            <th width="35%"><%= clinical.input :risk_of_fall, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][risk_of_fall]" }, :checked => @clinical_note.read_attribute(:risk_of_fall) || "No" %></th>
          </tr>
          <tr>
            <th>VTE Risk</th>
            <th width="35%"><%= clinical.input :vte_risk, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][vte_risk]" }, :checked => @clinical_note.read_attribute(:vte_risk) || "No" %></th>
          </tr>
          <tr>
            <th style="padding:24px;"></th>
            <th></th>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row mb10" style="margin-top:10px;">
      <div class="col-md-12 text-center" style="text-decoration:underline;">
        SECONDARY ASSESSMENT
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="mb10" style="text-decoration: underline;">
          GENERAL :
        </div>
        <table class="table table-bordered primary-assesment">
          <tbody>
          <tr>
            <th>Pallor</th>
            <th width=<%= "25%" if action %>><%= clinical.input :general_pallor, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][general_pallor]" }, :checked => @clinical_note.read_attribute(:general_pallor) || "No" %></th>
            <th>Icterus</th>
            <th width=<%= "25%" if action %>><%= clinical.input :general_icterus, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][general_icterus]" }, :checked => @clinical_note.read_attribute(:general_icterus) || "No" %></th>
          </tr>
          <tr>
            <th>Cyanosis</th>
            <th width=<%= "25%" if action %>><%= clinical.input :general_cyanosis, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][general_cyanosis]" }, :checked => @clinical_note.read_attribute(:general_cyanosis) || "No" %></th>
            <th>Clubbing</th>
            <th width=<%= "25%" if action %>><%= clinical.input :general_clubbing, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][general_clubbing]" }, :checked => @clinical_note.read_attribute(:general_clubbing) || "No" %></th>
          </tr>
          <tr>
            <th>Edema</th>
            <th width=<%= "25%" if action %>><%= clinical.input :general_edema, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][general_edema]" }, :checked => @clinical_note.read_attribute(:general_edema) || "No" %></th>
            <th>Rash/Ecchymosis/Purpura</th>
            <th width=<%= "25%" if action %>><%= clinical.input :general_rash, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][general_rash]" }, :checked => @clinical_note.read_attribute(:general_rash) || "No" %></th>
          </tr>
          <tr>
            <th>White Oral Patch</th>
            <th width=<%= "25%" if action %>><%= clinical.input :general_white_oral_patch, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][general_white_oral_patch]" }, :checked => @clinical_note.read_attribute(:general_white_oral_patch) || "No" %></th>
            <th>Lymphadenopathy</th>
            <th width=<%= "25%" if action %>><%= clinical.input :general_lymphadenopathy, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][general_lymphadenopathy]" }, :checked => @clinical_note.read_attribute(:general_lymphadenopathy) || "No" %></th>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <div class="mb10" style="text-decoration: underline;">
          RESP :
        </div>
        <table class="table table-bordered primary-assesment">
          <tbody>
          <tr>
            <th width="20%">Air Entry</th>
            <th colspan="2"><%= clinical.input :resp_air_entry, wrapper_html: {:class=>"primary_assesment_rb", style:""}, collection: ['B/L Equal', 'Reduced', 'Left', 'Right'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][resp_air_entry]" }, :checked => @clinical_note.checkboxes_checked(@clinical_note.read_attribute(:resp_air_entry)) %></th>
          </tr>
          <tr>
            <th width="20%">Breath Sounds</th>
            <th class="text-center" width="35%;"><%= clinical.input :resp_breath_sounds, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][resp_breath_sounds]" }, :checked => @clinical_note.read_attribute(:resp_breath_sounds) || 'Normal' %></th>
            <th width= "60%" class="toggle-head">
              <%= clinical.input :resp_breath_sounds_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Reduced', 'Wheeze', 'Crepitations', 'Left', 'Right'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][resp_breath_sounds_abnormal]" }, :checked => @clinical_note.checkboxes_checked(@clinical_note.read_attribute(:resp_breath_sounds_abnormal)) %>
              <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
            </th>
          </tr>
          <tr>
            <th width="20%">Nail Bed Color</th>
            <th class="text-center" width="35%;"><%= clinical.input :resp_nail_bed_color, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][resp_nail_bed_color]" }, :checked => @clinical_note.read_attribute(:resp_nail_bed_color) || 'Normal' %></th>
            <th width= "60%" class="toggle-head">
              <%= clinical.input :resp_nail_bed_color_abnormal, wrapper_html: {:class=>"primary_assesment_cb"}, collection: ['Cyanosed', 'Pale'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][resp_nail_bed_color_abnormal]" }, :checked => @clinical_note.checkboxes_checked(@clinical_note.read_attribute(:resp_nail_bed_color_abnormal)) %>
              <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
            </th>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="mb10" style="text-decoration: underline;">
          CNS :
        </div>
        <table class="table table-bordered primary-assesment">
          <tbody>
          <tr>
            <th width="20%">Temperature</th>
            <th class="text-center" width="35%;"><%= clinical.input :cns_temperature, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][cns_temperature]" }, :checked => @clinical_note.read_attribute(:cns_temperature) || 'Normal' %></th>
            <th width= "60%" class="toggle-head">
              <%= clinical.input :cns_temperature_abnormal, wrapper_html: {:class=>"primary_assesment_cb"}, collection: ['Cool', '> 37.5', '36'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][cns_temperature_abnormal]" }, :checked => @clinical_note.checkboxes_checked(@clinical_note.read_attribute(:cns_temperature_abnormal)) %>
              <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
            </th>
          </tr>
          <tr>
            <th width="20%">Orientation</th>
            <th class="text-center" width="35%;"><%= clinical.input :cns_orientation, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][cns_orientation]" }, :checked => @clinical_note.read_attribute(:cns_orientation) || 'Normal' %></th>
            <th width= "60%" class="toggle-head">
              <%= clinical.input :cns_orientation_abnormal, wrapper_html: {:class=>"primary_assesment_cb"}, collection: ['Vague', 'Drowsy', 'Confused', 'Unconscious'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][cns_orientation_abnormal]" }, :checked => @clinical_note.checkboxes_checked(@clinical_note.read_attribute(:cns_orientation_abnormal)) %>
              <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
            </th>
          </tr>
          <tr>
            <th width="20%">Emotional Status</th>
            <th class="text-center" width="35%;"><%= clinical.input :cns_emotinal_status, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][cns_emotinal_status]" }, :checked => @clinical_note.read_attribute(:cns_emotinal_status) || 'Normal' %></th>
            <th width= "60%" class="toggle-head">
              <%= clinical.input :cns_emotinal_status_abnormal, wrapper_html: {:class=>"primary_assesment_cb"}, collection: ['Anxious', 'Withdrawn', 'Hostile', 'Aggressive'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][cns_emotinal_status_abnormal]" }, :checked => @clinical_note.checkboxes_checked(@clinical_note.read_attribute(:cns_emotinal_status_abnormal)) %>
              <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
            </th>
          </tr>
          <tr>
            <th width="20%">Memory Intact</th>
            <th class="text-center" width="35%;"><%= clinical.input :cns_memory_intact, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][cns_memory_intact]" }, :checked => @clinical_note.read_attribute(:cns_memory_intact) || 'Normal' %></th>
            <th width= "60%" class="toggle-head">
              <%= clinical.input :cns_memory_intact_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Short Term Loss', 'Long Term Loss'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][cns_memory_intact_abnormal]" }, :checked => @clinical_note.checkboxes_checked(@clinical_note.read_attribute(:cns_memory_intact_abnormal)) %>
              <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
            </th>
          </tr>
          <tr>
            <th width="20%">Speech</th>
            <th class="text-center" width="35%;"><%= clinical.input :cns_speech_status, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][cns_speech_status]" }, :checked => @clinical_note.read_attribute(:cns_speech_status) || 'Normal' %></th>
            <th width= "60%" class="toggle-head">
              <%= clinical.input :cns_speech_status_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Anxious', 'Withdrawn', 'Hostile', 'Aggressive'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][cns_speech_status_abnormal]" }, :checked => @clinical_note.checkboxes_checked(@clinical_note.read_attribute(:cns_speech_status_abnormal)) %>
              <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
            </th>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <div class="mb10" style="text-decoration: underline;">
          CVS :
        </div>
        <table class="table table-bordered primary-assesment">
          <tbody>
          <tr>
            <th width="20%">Heart Sounds</th>
            <th class="text-center" width="35%;"><%= clinical.input :cvs_heart_sounds_status, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][cvs_heart_sounds_status]" }, :checked => @clinical_note.read_attribute(:cvs_heart_sounds_status) || 'Normal' %></th>
            <th width= "60%" class="toggle-head">
              <%= clinical.text_field :cvs_heart_sounds_status_abnormal, {class: "primary_assesment_cb form-control",:name => "inpatient_ipd_record[clinical_note_attributes][cvs_heart_sounds_status_abnormal]" , placeholder: "Comment", style:"margin-top: -7px;"} %>
              <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
            </th>
          </tr>
          <tr>
            <th width="20%">Palpable Pulses</th>
            <th class="text-center" width="35%;"><%= clinical.input :cvs_palpable_pulses_intact, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][cvs_palpable_pulses_intact]" }, :checked => @clinical_note.read_attribute(:cvs_palpable_pulses_intact) || 'Normal' %></th>
            <th width= "60%" class="toggle-head">
              <%= clinical.input :cvs_palpable_pulses_intact_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Feeble', 'Absent','Right U/L', 'Left U/L','Right L/L', 'Left L/L'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][cvs_palpable_pulses_intact_abnormal]" }, :checked => @clinical_note.checkboxes_checked(@clinical_note.read_attribute(:cvs_palpable_pulses_intact_abnormal)) %>
              <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
            </th>
          </tr>
          <tr>
            <th width="20%">Peripheral Edema</th>
            <th colspan="2"><%= clinical.input :cvs_peripheral_edema, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Absent', 'Pitting' ,'Non-Pitting', 'Left' ,'Right'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][cvs_peripheral_edema]" }, :checked => @clinical_note.checkboxes_checked(@clinical_note.read_attribute(:cvs_peripheral_edema)) %></th>
          </tr>
          <tr>
            <th width="20%">Calf Tenderness</th>
            <th colspan="2"><%= clinical.input :cvs_calf_tenderness, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Absent', 'Left', 'Right'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][cvs_calf_tenderness]" }, :checked => @clinical_note.checkboxes_checked(@clinical_note.read_attribute(:cvs_calf_tenderness)) %></th>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="mb10" style="text-decoration: underline;">
          GUT :
        </div>
        <table class="table table-bordered primary-assesment">
          <tbody>
          <tr>
            <th width="20%">Urine Output</th>
            <th class="text-center" width="35%;"><%= clinical.input :gut_urine_output, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][gut_urine_output]" }, :checked => @clinical_note.read_attribute(:gut_urine_output) || 'Normal' %></th>
            <th width= "60%" class="toggle-head">
              <%= clinical.text_field :gut_urine_output_abnormal, {class:"primary_assesment_cb form-control",:name => "inpatient_ipd_record[clinical_note_attributes][gut_urine_output_abnormal]", placeholder: "Comment", style:"margin-top: -7px;"} %>
              <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
            </th>
          </tr>
          <tr>
            <th width="20%">Bladder Habits</th>
            <th class="text-center" width="35%;"><%= clinical.input :gut_bladder_habits, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][gut_bladder_habits]" }, :checked => @clinical_note.read_attribute(:gut_bladder_habits) || 'Normal' %></th>
            <th width= "60%" class="toggle-head">
              <%= clinical.input :gut_bladder_habits_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Incontinence', 'Frequency','Urgency', 'Dribbling','Nocturia', 'Pain', 'Distension'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][gut_bladder_habits_abnormal]" }, :checked => @clinical_note.checkboxes_checked(@clinical_note.read_attribute(:gut_bladder_habits_abnormal)) %>
              <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
            </th>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <div class="mb10" style="text-decoration: underline;">
          GIT :
        </div>
        <table class="table table-bordered primary-assesment">
          <tbody>
          <tr>
            <th width="20%">Abdomen</th>
            <th colspan="2"><%= clinical.input :git_abdomen, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Soft', 'Distended', 'Hard', 'Tender', 'Guarding'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][git_abdomen]" }, :checked => @clinical_note.checkboxes_checked(@clinical_note.read_attribute(:git_abdomen)) %></th>
          </tr>
          <tr>
            <th width="20%">Bowel Movements</th>
            <th class="text-center" width="35%;"><%= clinical.input :git_bowel_movements, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][git_bowel_movements]" }, :checked => @clinical_note.read_attribute(:git_bowel_movements) || 'Normal' %></th>
            <th width= "60%" class="toggle-head">
              <%= clinical.input :git_bowel_movements_abnormal, wrapper_html: {:class=>"primary_assesment_cb"}, collection: ['Constipation', 'Diarrhoea', 'Incontinence'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][git_bowel_movements_abnormal]" }, :checked => @clinical_note.checkboxes_checked(@clinical_note.read_attribute(:git_bowel_movements_abnormal)) %>
              <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
            </th>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="mb10" style="text-decoration: underline;">
          MS :
        </div>
        <table class="table table-bordered primary-assesment">
          <tbody>
          <tr>
            <th width="20%">Extremity Motion</th>
            <th class="text-center" width="35%;"><%= clinical.input :ms_extreme_motion, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][ms_extreme_motion]" }, :checked => @clinical_note.read_attribute(:ms_extreme_motion) || 'Normal' %></th>
            <th width= "60%" class="toggle-head">
              <%= clinical.input :ms_extreme_motion_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Painful', 'Restricted','Loss of Power', 'Right U/L','Left U/L', 'Right L/L', 'Left L/L'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][ms_extreme_motion_abnormal]" }, :checked => @clinical_note.checkboxes_checked(@clinical_note.read_attribute(:ms_extreme_motion_abnormal)) %>
              <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
            </th>
          </tr>
          <tr>
            <th width="20%">Sensation</th>
            <th class="text-center" width="35%;"><%= clinical.input :ms_sensation, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][ms_sensation]" }, :checked => @clinical_note.read_attribute(:ms_sensation) || 'Normal' %></th>
            <th width= "60%" class="toggle-head">
              <%= clinical.input :ms_sensation_abnormal, wrapper_html: {:class=>"primary_assesment_cb", style:""}, collection: ['Altered', 'Reduced','Absent', 'Hyperaesthesia','Right U/L', 'Left U/L', 'Right L/L', 'Left L/L'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][ms_sensation_abnormal]" }, :checked => @clinical_note.checkboxes_checked(@clinical_note.read_attribute(:ms_sensation_abnormal)) %>
              <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
            </th>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <div class="mb10" style="text-decoration: underline;">
          SKIN :
        </div>
        <table class="table table-bordered primary-assesment">
          <tbody>
          <tr>
            <th width="20%">Color</th>
            <th class="text-center" width="35%;"><%= clinical.input :skin_color, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][skin_color]" }, :checked => @clinical_note.read_attribute(:skin_color) || 'Normal' %></th>
            <th width= "60%" class="toggle-head">
              <%= clinical.input :skin_color_abnormal, wrapper_html: {:class=>"primary_assesment_cb"}, collection: ['Pale', 'Cyanosed'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][skin_color_abnormal]" }, :checked => @clinical_note.checkboxes_checked(@clinical_note.read_attribute(:skin_color_abnormal)) %>
              <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
            </th>
          </tr>
          <tr>
            <th width="20%">Integrity</th>
            <th class="text-center" width="35%;"><%= clinical.input :skin_integrity, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Normal', 'Abnormal'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][skin_integrity]" }, :checked => @clinical_note.read_attribute(:skin_integrity) || 'Normal' %></th>
            <th width= "60%" class="toggle-head">
              <%= clinical.input :skin_integrity_abnormal, wrapper_html: {:class=>"primary_assesment_cb"}, collection: ['Poor', 'Pressure Area','Ulcer'], :as => :hg_checkbox,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[clinical_note_attributes][skin_integrity_abnormal]" }, :checked => @clinical_note.checkboxes_checked(@clinical_note.read_attribute(:skin_integrity_abnormal)) %>
              <span class="click-options"><i class="fa fa-arrow-left"></i>&emsp;Click for More Options</span>
            </th>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
<% end %>
<style type="text/css">
    .primary-assesment tbody tr th {
        padding:10px 0 0 10px;
    }

    .click-options {
        color:#ddd;
    }
</style>

<script type="text/javascript">
    $(".primary_assesment_rb").on('change', function(){
        if($(this).find('.btn-brown').text() == "Abnormal") {
            $(this).closest('th').siblings('.toggle-head').find('.primary_assesment_cb').show();
            $(this).closest('th').siblings('.toggle-head').find('.click-options').hide();
        } else {
            $(this).closest('th').siblings('.toggle-head').find('.primary_assesment_cb').hide();
            $(this).closest('th').siblings('.toggle-head').find('.click-options').show();
        }
    })
    $('.primary_assesment_rb').trigger('change');
</script>