<% assesment_counter = 0 %>
<% primary_counter = 0 %>
<% secondary_counter = 0 %>
<% primary_counter_abnormal = 0 %>
<% primary_counter_yes = 0 %>
<% general_counter = 0 %>
<% cns_counter = 0 %>
<% cvs_counter = 0 %>
<% resp_counter = 0 %>
<% gut_counter = 0 %>
<% git_counter = 0 %>
<% ms_counter = 0 %>
<% skin_counter = 0 %>

<% if (@clinical_note.read_attribute(:airway_assesment) == 'Abnormal' && @clinical_note.read_attribute(:airway_assesment_abnormal).present? || (@clinical_note.read_attribute(:breathing_assesment) == 'Abnormal' && @clinical_note.read_attribute(:breathing_assesment_abnormal).present?) || (@clinical_note.read_attribute(:pulse_assesment) == 'Abnormal' && @clinical_note.read_attribute(:pulse_assesment_abnormal).present?) || @clinical_note.read_attribute(:bp_assesment) == 'Abnormal' && @clinical_note.read_attribute(:bp_assesment_abnormal).present?) %>
    <% assesment_counter = assesment_counter + 1 %>
    <% primary_counter = primary_counter + 1 %>
    <% primary_counter_abnormal = primary_counter_abnormal + 1 %>
<% end %>

<% if @clinical_note.read_attribute(:pressure_ulcer_risk) == "Yes" || @clinical_note.read_attribute(:risk_of_fall) == "Yes" || @clinical_note.read_attribute(:vte_risk) == "Yes" %>
    <% assesment_counter = assesment_counter + 1 %>
    <% primary_counter = primary_counter + 1 %>
    <% primary_counter_yes = primary_counter_yes + 1 %>
<% end %>

<% if @clinical_note.read_attribute(:general_pallor) == "Yes" || @clinical_note.read_attribute(:general_icterus) == "Yes" || @clinical_note.read_attribute(:general_cyanosis) == "Yes" || @clinical_note.read_attribute(:general_clubbing) == "Yes" || @clinical_note.read_attribute(:general_edema) == "Yes" || @clinical_note.read_attribute(:general_rash) == "Yes" || @clinical_note.read_attribute(:general_white_oral_patch) == "Yes" || @clinical_note.read_attribute(:general_lymphadenopathy) == "Yes" %>
    <% assesment_counter = assesment_counter + 1 %>
    <% secondary_counter = secondary_counter + 1 %>
    <% general_counter = general_counter + 1 %>
<% end %>

<% if (@clinical_note.read_attribute(:cns_temperature) == 'Abnormal' && @clinical_note.read_attribute(:cns_temperature_abnormal).present?) || (@clinical_note.read_attribute(:cns_orientation) == 'Abnormal' && @clinical_note.read_attribute(:cns_orientation_abnormal).present?) || (@clinical_note.read_attribute(:cns_emotinal_status) == 'Abnormal' && @clinical_note.read_attribute(:cns_emotinal_status_abnormal).present?) || (@clinical_note.read_attribute(:cns_memory_intact) == 'Abnormal' && @clinical_note.read_attribute(:cns_memory_intact_abnormal).present?) || (@clinical_note.read_attribute(:cns_speech_status) == 'Abnormal' && @clinical_note.read_attribute(:cns_speech_status_abnormal).present?) %>
    <% assesment_counter = assesment_counter + 1 %>
    <% secondary_counter = secondary_counter + 1 %>
    <% cns_counter = cns_counter + 1 %>
<% end %>

<% if (@clinical_note.read_attribute(:cvs_heart_sounds_status) == 'Abnormal' && @clinical_note.read_attribute(:cvs_heart_sounds_status_abnormal).present?) || (@clinical_note.read_attribute(:cvs_palpable_pulses_intact) == 'Abnormal' && @clinical_note.read_attribute(:cvs_palpable_pulses_intact_abnormal).present?) || @clinical_note.read_attribute(:cvs_peripheral_edema).present? || @clinical_note.read_attribute(:cvs_calf_tenderness).present? %>
    <% assesment_counter = assesment_counter + 1 %>
    <% secondary_counter = secondary_counter + 1 %>
    <% cvs_counter = cvs_counter + 1 %>
<% end %>

<% if @clinical_note.read_attribute(:resp_air_entry).present? || (@clinical_note.read_attribute(:resp_breath_sounds )== 'Abnormal' && @clinical_note.read_attribute(:resp_breath_sounds_abnormal).present?) || (@clinical_note.read_attribute(:resp_nail_bed_color) == 'Abnormal' && @clinical_note.read_attribute(:resp_nail_bed_color_abnormal).present?) %>
    <% assesment_counter = assesment_counter + 1 %>
    <% secondary_counter = secondary_counter + 1 %>
    <% resp_counter = resp_counter + 1 %>
<% end %>

<% if (@clinical_note.read_attribute(:gut_urine_output) == 'Abnormal' && @clinical_note.read_attribute(:gut_urine_output_abnormal).present?) || (@clinical_note.read_attribute(:gut_bladder_habits) == 'Abnormal' && @clinical_note.read_attribute(:gut_bladder_habits_abnormal).present?) %>
    <% assesment_counter = assesment_counter + 1 %>
    <% secondary_counter = secondary_counter + 1 %>
    <% gut_counter = gut_counter + 1 %>
<% end %>

<% if @clinical_note.read_attribute(:git_abdomen).present? || (@clinical_note.read_attribute(:git_bowel_movements) == 'Abnormal' && @clinical_note.read_attribute(:git_bowel_movements_abnormal).present?) %>
    <% assesment_counter = assesment_counter + 1 %>
    <% secondary_counter = secondary_counter + 1 %>
    <% git_counter = git_counter + 1 %>
<% end %>

<% if (@clinical_note.read_attribute(:ms_extreme_motion) == 'Abnormal' && @clinical_note.read_attribute(:ms_extreme_motion_abnormal).present?) || (@clinical_note.read_attribute(:ms_sensation) == 'Abnormal' && @clinical_note.read_attribute(:ms_sensation_abnormal).present?) %>
    <% assesment_counter = assesment_counter + 1 %>
    <% secondary_counter = secondary_counter + 1 %>
    <% ms_counter = ms_counter + 1 %>
<% end %>

<% if (@clinical_note.read_attribute(:skin_color) == 'Abnormal' && @clinical_note.read_attribute(:skin_color_abnormal).present?) || (@clinical_note.read_attribute(:skin_integrity) == 'Abnormal' && @clinical_note.read_attribute(:skin_integrity_abnormal).present?) %>
    <% assesment_counter = assesment_counter + 1 %>
    <% secondary_counter = secondary_counter + 1 %>
    <% skin_counter = skin_counter + 1 %>
<% end %>


<% if assesment_counter > 0 %>
    <div class="row mb10">
      <div class="col-md-12">
        <div class="row">
          <strong>ASSESSMENT CHECKLIST :</strong>
          <div class="summary-line-border"></div>
        </div>

        <% if primary_counter > 0 %>
            <!-- Primary Assessment -->
            <div class="row mb5">
              <div class="col-md-12 text-center">
                <b style="text-decoration:underline;">Primary Assessment</b>
              </div>
            </div>
            <% if primary_counter_abnormal > 0 %>
                <div class="row mb5">
                  <% if @clinical_note.read_attribute(:airway_assesment) == 'Abnormal' && @clinical_note.read_attribute(:airway_assesment_abnormal).present? %>
                      <div class="col-md-6">
                        <b>Airway :</b> <%= @clinical_note.read_attribute(:airway_assesment_abnormal).split(",").join(", ") %>
                      </div>
                  <% end %>
                  <% if @clinical_note.read_attribute(:breathing_assesment) == 'Abnormal' && @clinical_note.read_attribute(:breathing_assesment_abnormal).present? %>
                      <div class="col-md-6">
                        <b>Breathing :</b> <%= @clinical_note.read_attribute(:breathing_assesment_abnormal).split(",").join(", ") %>
                      </div>
                  <% end %>
                  <% if @clinical_note.read_attribute(:pulse_assesment) == 'Abnormal' && @clinical_note.read_attribute(:pulse_assesment_abnormal).present? %>
                      <div class="col-md-6">
                        <b>Pulse :</b> <%= @clinical_note.read_attribute(:pulse_assesment_abnormal).split(",").join(", ") %>
                      </div>
                  <% end %>
                  <% if @clinical_note.read_attribute(:bp_assesment) == 'Abnormal' && @clinical_note.read_attribute(:bp_assesment_abnormal).present? %>
                      <div class="col-md-6">
                        <b>Blood Pressure :</b> <%= @clinical_note.read_attribute(:bp_assesment_abnormal).split(",").join(", ") %>
                      </div>
                  <% end %>
                </div>
            <% end %>
            <% if primary_counter_yes > 0 %>
                <div class="row mb5">
                  <% if @clinical_note.read_attribute(:pressure_ulcer_risk) == "Yes" %>
                      <div class="col-md-4">
                        Pressure Ulcer Risk : <b>Yes</b>
                      </div>
                  <% end %>
                  <% if @clinical_note.read_attribute(:risk_of_fall) == "Yes" %>
                      <div class="col-md-4">
                        Risk Of Fall : <b>Yes</b>
                      </div>
                  <% end %>
                  <% if @clinical_note.read_attribute(:vte_risk) == "Yes" %>
                      <div class="col-md-4">
                        VTE Risk : <b>Yes</b>
                      </div>
                  <% end %>
                </div>
            <% end %>
            <!-- Primary Assessment Ends -->
        <% end %>
        <% if secondary_counter > 0 %>
            <!-- Secondary Assessment -->
            <div class="row mb5">
              <div class="col-md-12 text-center">
                <b style="text-decoration:underline;">Secondary Assessment</b>
              </div>
            </div>
            <% if general_counter > 0 %>
                <div class="row mb5">
                  <div class="col-md-12">
                    <b>General :</b>
                  </div>
                </div>
                <div class="row mb5">
                  <div class="col-md-12">
                    <% if @clinical_note.read_attribute(:general_pallor) == "Yes" %>
                        Pallor : <b>Yes</b> |
                    <% end %>
                    <% if @clinical_note.read_attribute(:general_icterus) == "Yes" %>
                        Icterus : <b>Yes</b> |
                    <% end %>
                    <% if @clinical_note.read_attribute(:general_cyanosis) == "Yes" %>
                        Cyanosis : <b>Yes</b> |
                    <% end %>
                    <% if @clinical_note.read_attribute(:general_clubbing) == "Yes" %>
                        Clubbing : <b>Yes</b> |
                    <% end %>
                    <% if @clinical_note.read_attribute(:general_edema) == "Yes" %>
                        Edema : <b>Yes</b> |
                    <% end %>
                    <% if @clinical_note.read_attribute(:general_rash) == "Yes" %>
                        Rash/Ecchymosis/Purpura : <b>Yes</b> |
                    <% end %>
                    <% if @clinical_note.read_attribute(:general_white_oral_patch) == "Yes" %>
                        White Oral Patch : <b>Yes</b> |
                    <% end %>
                    <% if @clinical_note.read_attribute(:general_lymphadenopathy) == "Yes" %>
                        Lymphadenopathy : <b>Yes</b> |
                    <% end %>
                  </div>
                </div>
            <% end %>
            <% if cns_counter > 0 %>
                <div class="row mb5">
                  <div class="col-md-12">
                    <b>CNS :</b>
                  </div>
                </div>
                <div class="row mb5">
                  <% if @clinical_note.read_attribute(:cns_temperature) == 'Abnormal' && @clinical_note.read_attribute(:cns_temperature_abnormal).present? %>
                      <div class="col-md-6">
                        <b>Temperature :</b> <%= @clinical_note.read_attribute(:cns_temperature_abnormal).split(",").join(", ") %>
                      </div>
                  <% end %>
                  <% if @clinical_note.read_attribute(:cns_orientation) == 'Abnormal' && @clinical_note.read_attribute(:cns_orientation_abnormal).present? %>
                      <div class="col-md-6">
                        <b>Orientation :</b> <%= @clinical_note.read_attribute(:cns_orientation_abnormal).split(",").join(", ") %>
                      </div>
                  <% end %>
                  <% if @clinical_note.read_attribute(:cns_emotinal_status) == 'Abnormal' && @clinical_note.read_attribute(:cns_emotinal_status_abnormal).present? %>
                      <div class="col-md-6">
                        <b>Emotional Status :</b> <%= @clinical_note.read_attribute(:cns_emotinal_status_abnormal).split(",").join(", ") %>
                      </div>
                  <% end %>
                  <% if @clinical_note.read_attribute(:cns_memory_intact) == 'Abnormal' && @clinical_note.read_attribute(:cns_memory_intact_abnormal).present? %>
                      <div class="col-md-6">
                        <b>Memory Intact :</b> <%= @clinical_note.read_attribute(:cns_memory_intact_abnormal).split(",").join(", ") %>
                      </div>
                  <% end %>
                  <% if @clinical_note.read_attribute(:cns_speech_status) == 'Abnormal' && @clinical_note.read_attribute(:cns_speech_status_abnormal).present? %>
                      <div class="col-md-6">
                        <b>Speech :</b> <%= @clinical_note.read_attribute(:cns_speech_status_abnormal).split(",").join(", ") %>
                      </div>
                  <% end %>
                </div>
            <% end %>
            <% if cvs_counter > 0 %>
                <div class="row mb5">
                  <div class="col-md-12">
                    <b>CVS :</b>
                  </div>
                </div>
                <div class="row mb5">
                  <% if @clinical_note.read_attribute(:cvs_heart_sounds_status) == 'Abnormal' && @clinical_note.read_attribute(:cvs_heart_sounds_status_abnormal).present? %>
                      <div class="col-md-6">
                        <b>Heart Sounds :</b> <%= @clinical_note.read_attribute(:cvs_heart_sounds_status_abnormal).split(",").join(", ") %>
                      </div>
                  <% end %>
                  <% if @clinical_note.read_attribute(:cvs_palpable_pulses_intact) == 'Abnormal' && @clinical_note.read_attribute(:cvs_palpable_pulses_intact_abnormal).present? %>
                      <div class="col-md-6">
                        <b>Palable Pulses :</b> <%= @clinical_note.read_attribute(:cvs_palpable_pulses_intact_abnormal).split(",").join(", ") %>
                      </div>
                  <% end %>
                  <% if @clinical_note.read_attribute(:cvs_peripheral_edema).present? %>
                      <div class="col-md-6">
                        <b>Peripherial Edema :</b> <%= @clinical_note.read_attribute(:cvs_peripheral_edema).split(",").join(", ") %>
                      </div>
                  <% end %>
                  <% if @clinical_note.read_attribute(:cvs_calf_tenderness).present? %>
                      <div class="col-md-6">
                        <b>Calf Tenderness :</b> <%= @clinical_note.read_attribute(:cvs_calf_tenderness).split(",").join(", ") %>
                      </div>
                  <% end %>
                </div>
            <% end %>
            <% if resp_counter > 0 %>
                <div class="row mb5">
                  <div class="col-md-12">
                    <b>Resp. :</b>
                  </div>
                </div>
                <div class="row mb5">
                  <% if @clinical_note.read_attribute(:resp_air_entry).present? %>
                      <div class="col-md-6">
                        <b>Air Entry :</b> <%= @clinical_note.read_attribute(:resp_air_entry).split(",").join(", ") %>
                      </div>
                  <% end %>
                  <% if @clinical_note.read_attribute(:resp_breath_sounds) == 'Abnormal' && @clinical_note.read_attribute(:resp_breath_sounds_abnormal).present? %>
                      <div class="col-md-6">
                        <b>Breath Sounds :</b> <%= @clinical_note.read_attribute(:resp_breath_sounds_abnormal).split(",").join(", ") %>
                      </div>
                  <% end %>
                  <% if @clinical_note.read_attribute(:resp_nail_bed_color) == 'Abnormal' && @clinical_note.read_attribute(:resp_nail_bed_color_abnormal).present? %>
                      <div class="col-md-6">
                        <b>Nail Bed Color :</b> <%= @clinical_note.read_attribute(:resp_nail_bed_color_abnormal).split(",").join(", ") %>
                      </div>
                  <% end %>
                </div>
            <% end %>
            <% if gut_counter > 0 %>
                <div class="row mb5">
                  <div class="col-md-12">
                    <b>GUT :</b>
                  </div>
                </div>
                <div class="row mb5">
                  <% if @clinical_note.read_attribute(:gut_urine_output) == 'Abnormal' && @clinical_note.read_attribute(:gut_urine_output_abnormal).present? %>
                      <div class="col-md-6">
                        <b>Urine Output :</b> <%= @clinical_note.read_attribute(:gut_urine_output_abnormal).split(",").join(", ") %>
                      </div>
                  <% end %>
                  <% if @clinical_note.read_attribute(:gut_bladder_habits) == 'Abnormal' && @clinical_note.read_attribute(:gut_bladder_habits_abnormal).present? %>
                      <div class="col-md-6">
                        <b>Bladder Habits :</b> <%= @clinical_note.read_attribute(:gut_bladder_habits_abnormal).split(",").join(", ") %>
                      </div>
                  <% end %>
                </div>
            <% end %>
            <% if git_counter > 0 %>
                <div class="row mb5">
                  <div class="col-md-12">
                    <b>GIT :</b>
                  </div>
                </div>
                <div class="row mb5">
                  <% if @clinical_note.read_attribute(:git_abdomen).present? %>
                      <div class="col-md-6">
                        <b>Abdomen :</b> <%= @clinical_note.read_attribute(:git_abdomen).split(",").join(", ") %>
                      </div>
                  <% end %>
                  <% if @clinical_note.read_attribute(:git_bowel_movements) == 'Abnormal' && @clinical_note.read_attribute(:git_bowel_movements_abnormal).present? %>
                      <div class="col-md-6">
                        <b>Bowel Movements :</b> <%= @clinical_note.read_attribute(:git_bowel_movements_abnormal).split(",").join(", ") %>
                      </div>
                  <% end %>
                </div>
            <% end %>

            <% if ms_counter > 0 %>
                <div class="row mb5">
                  <div class="col-md-12">
                    <b>MS :</b>
                  </div>
                </div>
                <div class="row mb5">
                  <% if @clinical_note.read_attribute(:ms_extreme_motion) == 'Abnormal' && @clinical_note.read_attribute(:ms_extreme_motion_abnormal).present? %>
                      <div class="col-md-6">
                        <b>Extremity Motion :</b> <%= @clinical_note.read_attribute(:ms_extreme_motion_abnormal).split(",").join(", ") %>
                      </div>
                  <% end %>
                  <% if @clinical_note.read_attribute(:ms_sensation) == 'Abnormal' && @clinical_note.read_attribute(:ms_sensation_abnormal).present? %>
                      <div class="col-md-6">
                        <b>Sensation :</b> <%= @clinical_note.read_attribute(:ms_sensation_abnormal).split(",").join(", ") %>
                      </div>
                  <% end %>
                </div>
            <% end %>
            <% if skin_counter > 0 %>
                <div class="row mb5">
                  <div class="col-md-12">
                    <b>SKIN :</b>
                  </div>
                </div>
                <div class="row mb5">
                  <% if @clinical_note.read_attribute(:skin_color) == 'Abnormal' && @clinical_note.read_attribute(:skin_color_abnormal).present? %>
                      <div class="col-md-6">
                        <b>Color :</b> <%= @clinical_note.read_attribute(:skin_color_abnormal).split(",").join(", ") %>
                      </div>
                  <% end %>
                  <% if @clinical_note.read_attribute(:skin_integrity) == 'Abnormal' && @clinical_note.read_attribute(:skin_integrity_abnormal).present? %>
                      <div class="col-md-6">
                        <b>Integrity :</b> <%= @clinical_note.read_attribute(:skin_integrity_abnormal).split(",").join(", ") %>
                      </div>
                  <% end %>
                </div>
            <% end %>
            <!-- Secondary Assessment Ends -->
        <% end %>
      </div>
    </div>
<% end %>