<%= f.simple_fields_for :clinical_note,@clinical_note do |clinical| %>
  <div class="row mb30" style="margin-top:20px;">
    <div class="col-md-2">
      History :
    </div>
    <div class="col-md-4" style="margin-top:-5px;">
      <%= clinical.text_area :history, {class: "form-control history",rows: 5, value: @clinical_note.read_attribute(:history)} %>
    </div>
    <div class="col-md-2">
      Examination :
    </div>
    <div class="col-md-4" style="margin-top:-5px;">
      <%= clinical.text_area :examination, {class: "form-control examination",rows: 5, value: @clinical_note.read_attribute(:examination)} %>
    </div>
  </div>
  <div class="row mb30" style="margin-top:20px;">
    <div class="col-md-2">
      Diagnosis :
    </div>
    <div class="col-md-4" style="margin-top:-5px;">
      <%= clinical.text_area :diagnosis, {class: "form-control diagnosis",rows: 5, value: @clinical_note.read_attribute(:diagnosis)} %>
    </div>
    <div class="col-md-2">
      Procedure :
    </div>
    <div class="col-md-4" style="margin-top:-5px;">
      <!-- migrate procedure to procedurelist-->
      <%= clinical.text_area :procedurelist, {class: "form-control procedure",rows: 5, value: @clinical_note.read_attribute(:procedurelist)} %>
    </div>
  </div>
  <div class="row mb30" style="margin-top:20px;">
    <div class="col-md-2">
      Laboratory Investigations :
    </div>
    <div class="col-md-4" style="margin-top:-5px;">
      <%= clinical.text_area :laboratory_investigation, {class: "form-control laboratory_investigation",rows: 5, value: @clinical_note.read_attribute(:laboratory_investigation)} %>
    </div>
    <div class="col-md-2">
      Radiology Investigations :
    </div>
    <div class="col-md-4" style="margin-top:-5px;">
      <%= clinical.text_area :radiology_investigation, {class: "form-control radiology_investigation",rows: 5, value: @clinical_note.read_attribute(:radiology_investigation)} %>
    </div>
  </div>
  <div class="row mb30" style="margin-top:20px;">
    <div class="col-md-2">
      Other Investigations :
    </div>
    <div class="col-md-4" style="margin-top:-5px;">
      <%= clinical.text_area :investigation, {class: "form-control investigation",rows: 5, value: @clinical_note.read_attribute(:investigation)} %>
    </div>
  </div>    
<% end %>