<% if false %>
  <% clinical_counter = 0 %>
  <% if @clinical_note.read_attribute(:history).present? || @clinical_note.read_attribute(:examination).present? || @clinical_note.read_attribute(:diagnosis).present? || @clinical_note.read_attribute(:procedurelist).present? || @clinical_note.read_attribute(:investigation).present?%>
      <% clinical_counter = clinical_counter + 1 %>
  <% end %>

  <% if clinical_counter > 0 %>
    <div class="row mb10">
      <div class="col-md-12">
        <div class="row">
          <strong>CLINCAL DETAILS :</strong>
          <div class="summary-line-border"></div>
        </div>
        <% if @clinical_note.read_attribute(:history).present? %>
            <div class="row mb5">
              <div class="col-md-12">
                <b>History of Present Illness :</b> <%= @clinical_note.read_attribute(:history) %>
              </div>
            </div>
        <% end %>
        <% if @clinical_note.read_attribute(:examination).present? %>
            <div class="row mb5">
              <div class="col-md-12">
                <b>Examination :</b><%= @clinical_note.read_attribute(:examination) %>
              </div>
            </div>
        <% end %>
        <% if @clinical_note.read_attribute(:diagnosis).present? %>
            <div class="row mb5">
              <div class="col-md-12">
                <b>Diagnosis :</b><%= @clinical_note.read_attribute(:diagnosis) %>
              </div>
            </div>
        <% end %>
        <% if @clinical_note.read_attribute(:procedurelist).present? %>
          <div class="row mb5">
            <div class="col-md-12">
              <b>Procedure :</b><%= @clinical_note.read_attribute(:procedurelist) %>
            </div>
          </div>
        <% end %>
        <% if @clinical_note.read_attribute(:laboratory_investigation).present? %>
            <div class="row mb5">
              <div class="col-md-12">
                <b>Laboratory Investigation :</b><%= @clinical_note.read_attribute(:laboratory_investigation) %>
              </div>
            </div>
        <% end %>
        <% if @clinical_note.read_attribute(:radiology_investigation).present? %>
            <div class="row mb5">
              <div class="col-md-12">
                <b>Radiology Investigation :</b><%= @clinical_note.read_attribute(:radiology_investigation) %>
              </div>
            </div>
        <% end %>
        <% if @clinical_note.read_attribute(:investigation).present? %>
          <div class="row mb5">
            <div class="col-md-12">
              <b>Other Investigations :</b><%= @clinical_note.read_attribute(:investigation) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<% if @case_sheet.free_form_histories.try(:count) > 0 || @case_sheet.diagnoses.try(:count) > 0 || @case_sheet.free_form_diagnoses.try(:count) > 0 || @case_sheet.procedures.try(:count) > 0 || @case_sheet.free_form_procedures.try(:count) > 0 || @ophthal_investigations.try(:count) > 0 || @laboratory_investigations.try(:count) > 0 || @radiology_investigations.try(:count) > 0 || @free_form_investigations.try(:count) > 0 %>
  <div class="row mb10">
    <div class="col-md-12">
      <div class="row">
        <strong>CLINCAL DETAILS :</strong>
        <div class="summary-line-border"></div>
      </div>
      <%= render partial: "inpatient/ipd_record/clinical_note/case_sheets/case_clinical_details.html.erb" %>

      <!-- Investigation -->
      <%= render partial: "inpatient/ipd_record/clinical_note/ophthalmology_notes/all_investigations_details.html.erb" %>
    </div>
  </div>
<% end %>