<% admission_summary_counter = 0 %>
<% if @ipdrecord.admissionreason.present? || @ipdrecord.expected_stay.present? || @admission.dischargedate.present? || @ipdrecord.ipd_payment_type.present? || @clinical_note.ipd_billing_category.present? || @ipdrecord.medico_legal_case.present? || @tpa.insurance_name.present? || @tpa.tpa_name.present? || @tpa.bracket_amount.present? || @tpa.approved_amount.present? || @case_sheet.present? %>
  <% admission_summary_counter = admission_summary_counter + 1 %>
<% end %>

<% if admission_summary_counter > 0 %>
  <div class="row mb10">
    <div class="col-md-12">
      <% if @ipdrecord.admissionreason.present? || @admission.dischargedate.present? || @ipdrecord.expected_stay.present? %>
        <div class="row mb20">
        <% if @ipdrecord.admissionreason.present? %>
          <div class="col-md-6">
            <b>Reason For Admission :</b> <%= @ipdrecord.admissionreason %>
          </div>
        <% end %>
        <% if @admission.dischargedate.present? || @ipdrecord.read_attribute(:expected_stay).present? %>
          <div class="col-md-6">
            <% if @ipdrecord.read_attribute(:expected_stay).present? %>
              <b>Expected Stay :</b> <%= @ipdrecord.read_attribute(:expected_stay) %><br>
            <% end %>
            <% if @admission.dischargedate.present? %>
              <b>Expected Discharge Date:</b> <%= @admission.dischargedate %>
            <% end %>
          </div>
        <% end %>
        </div>
      <% end %>
      <% if @ipdrecord.ipd_payment_type.present? || @ipdrecord.ipd_billing_category.present? || @ipdrecord.medico_legal_case.present? %>
        <div class="row mb20">
          <% if @ipdrecord.ipd_payment_type.present? %>
            <div class="col-md-4">
              <b>Payment Type :</b> <%= @ipdrecord.ipd_payment_type %>
            </div>
          <% end %>
          <% if @ipdrecord.ipd_billing_category.present? %>
            <div class="col-md-4">
              <b>Billing Category :</b> <%= @ipdrecord.ipd_billing_category %>
            </div>
          <% end %>
          <% if @ipdrecord.medico_legal_case.present? %>
            <div class="col-md-4">
              <b>Medico-Legal Case :</b> <%= @ipdrecord.medico_legal_case %>
            </div>
          <% end %>
        </div>
      <% end %>
      <% if @tpa.insurance_name.present? || @tpa.tpa_name.present? || @tpa.bracket_amount.present? || @tpa.approved_amount.present? %>
        <div class="row mb20">
          <% if @tpa.insurance_name.present? %>
            <div class="col-md-4">
              <b>Insurance Name :</b> <%= @tpa.insurance_name %>
            </div>
          <% end %>
          <% if @tpa.tpa_name.present? %>
            <div class="col-md-4">
              <b>TPA Provider Name :</b> <%= @tpa.tpa_name %>
            </div>
          <% end %>
          <%# if @clinical_note.govt_scheme.present? %>
            <!--<div class="col-md-4">-->
          <!-- <b>Government Scheme :</b> --><%#= @clinical_note.govt_scheme %>
            <!--</div>-->
          <%# end %>
          <% if @tpa.is_insured? %>
            <% if @tpa.bracket_amount.present? %>
              <div class="col-md-4">
                <b>Bracket Amount :</b> <%= @tpa.bracket_amount %>
              </div>
            <% end %>
            <% if @tpa.approved_amount.present? %>
              <div class="col-md-4">
                <b>Approved Amount :</b> <%= @tpa.approved_amount %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% @ophthal_investigations = @case_sheet.ophthal_investigations %>
      <% @laboratory_investigations = @case_sheet.laboratory_investigations %>
      <% @radiology_investigations = @case_sheet.radiology_investigations %>
      <% @free_form_investigations = @case_sheet.free_form_investigations %>
      <% if @case_sheet.free_form_histories.try(:count) > 0 || @case_sheet.diagnoses.try(:count) > 0 || @case_sheet.free_form_diagnoses.try(:count) > 0 || @case_sheet.procedures.try(:count) > 0 || @case_sheet.free_form_procedures.try(:count) > 0 || @ophthal_investigations.try(:count) > 0 || @laboratory_investigations.try(:count) > 0 || @radiology_investigations.try(:count) > 0 || @free_form_investigations.try(:count) > 0 %>
        <%= render partial: "inpatient/ipd_record/clinical_note/case_sheets/case_clinical_details.html.erb" %>
      <% end %>

      <%= render partial: "inpatient/ipd_record/clinical_note/ophthalmology_notes/all_investigations_details.html.erb" %>
    </div>
  </div>
<% end %>



<!--Signature-->
    <%= render partial: 'common/user_signature.html.erb',locals: {user_id: @admission.doctor} %>
<!--Signature Ends-->