<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<%= form_for(@inventory_item,:format => :js,:method => :patch, :remote => true,:url => inventory_item_path, html: { id: "edit_inventory_item_asset" }) do |f|%>
    <div class="row">
      <div class="col-lg-6">
        <h4 style="margin-top:0;">Item Details&nbsp;

          <%= f.submit "Update Detail",{:class => 'btn btn-xs btn-default', :onclick => 'editAsset_page()'}%>

        </h4>
      </div>

    </div>

    <div id="item_information" class="row">

      <ul id="lots" style="list-style-type: none;">
        <div class="row" style="margin-bottom: 5px;">
          <div class="col-lg-3 text-right">
            <span class="item_code">Item Code:</span>
          </div>
          <div class="col-lg-3" id="details-item-code">
            <input type="text" class="editItem_input_style" id="details-item-itemcode" value="<%= @inventory_item.item_code %>" style='cursor:not-allowed' disabled/>

          </div>

          <div class="col-lg-3 text-right">
            Description
          </div>
          <div class="col-lg-3">
            <!-- <input type="text" class="editItem_input_style" id="details-item-description" value="<@inventory_item.description %>" /> -->
            <%= f.text_field :description, {:class => "editItem_input_style",  :value => @inventory_item.description} %>
          </div>


        </div>
        <div class="row" style="margin-bottom: 5px;">
          <div class="col-lg-3 text-right">
            Barcode:
          </div>
          <div class="col-lg-3">
            <%= f.text_field :barcode, {:class => "editItem_input_style",  :value => @inventory_item.barcode} %>
          </div>

          <div class="col-lg-3 text-right">
            Manufacturer
          </div>
          <div class="col-lg-3">
            <%= f.text_field :manufacturer, {:class => "editItem_input_style",  :value => @inventory_item.manufacturer} %>
          </div>
        </div>
<hr>
       <h4 class="text-center">Item Maintanance:</h4>

        <div class="row" style="margin-bottom: 5px;">
          <div class="col-lg-3 text-right">
            Condition:
          </div>
          <div class="col-lg-3">
            <input type="text" class="editItem_input_style" id="details-item-condition" value="<%= @inventory_item.condition %>" style='cursor:not-allowed' disabled/>
          </div>

          <div class="col-lg-3 text-right">
            Current Condition:
          </div>
          <div class="col-lg-3">
            <%= f.text_field :condition, {:class => "editItem_input_style",  :value => @inventory_item.condition} %>
          </div>
        </div>
        <div class="row" style="margin-bottom: 5px;">
          <div class="col-lg-3 text-right">
            Last Maintained On:
          </div>
          <div class="col-lg-3">
            <input type="text" class="editItem_input_style" id="details-item-maintained_on" value="<%= @inventory_item.maintained_on %>" style='cursor:not-allowed' disabled/>
          </div>

          <div class="col-lg-3 text-right">
            Last Maintanance Due:
          </div>
          <div class="col-lg-3">
            <input type="text" class="editItem_input_style" id="details-item-maintainance_due" value="<%= @inventory_item.maintainance_due %>" style='cursor:not-allowed' disabled/>
          </div>
        </div>

        <div class="row" style="margin-bottom: 5px;">
          <div class="col-lg-3 text-right">
            Current Maintanance:
          </div>
          <div class="col-lg-3">
            <%= f.text_field :maintained_on, {:class => "editItem_input_style datepicker"} %>
          </div>

          <div class="col-lg-3 text-right">
            New Maintanance Due:
          </div>
          <div class="col-lg-3">
            <%= f.text_field :maintainance_due, {:class => "editItem_input_style datepicker"} %>
          </div>
        </div>

      </ul>
    </div>
<% end %>

<script type="text/javascript">
  datepicker_options = {
    changeMonth: true,
    changeYear: true,
    dateFormat: "yy-mm-dd",
    minDate: -0
    //showButtonPanel: true,
  };

  $('.datepicker').datepicker(datepicker_options);

</script>

<style>
  input.error, select.error {
    border-color: #b94a48;
    background-image: none;
  }
  input.valid, select.valid {
    border-color: #468847;
    background-image: none;
  }
</style>

<script>
  function editAsset_page() {
    $("#edit_inventory_item_asset").validate({
      rules: {
        "inventory_item_asset[description]": {
          required: true,
        },
//        "inventory_item_asset[barcode]": {
//          required: true,
//        },
        "inventory_item_asset[manufacturer]": {
          required: true,
        },
      },
      messages: {
//        "inventory_item[description]": {
//          required: "Please enter Description."
//        },

      },
      errorPlacement: function (error, element) {
        var id = $(element).attr("id");
        var parent = $("#"+id).parents(".input-group").length
        if(parent == 0){
          error.insertAfter(element);
        } else {
          error.insertAfter($("#"+id).parents(".input-group"));
        }
      }
    });
  }
  editAsset_page()
</script>