<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<%= form_for(@inventory_item,:format => :js,:method => :patch, :remote => true,:url => inventory_item_path, html: { id: "edit_inventory_item_frame" }) do |f|%>
    <div class="row">
      <div class="col-lg-6">
        <h4 style="margin-top:0;">Item Details&nbsp;

          <%= f.submit "Update Detail",{:class => 'btn btn-xs btn-default', :onclick => 'editFrame_page()'}%>

        </h4>
      </div>

    </div>

    <div id="item_information" class="row">

      <ul id="lots" style="list-style-type: none;">
        <div class="row" style="margin-bottom: 5px;">
          <div class="col-lg-2 text-right">
            <span class="item_code">Item Code:</span>
          </div>
          <div class="col-lg-2" id="details-item-code">
            <input type="text" class="editItem_input_style" id="details-item-itemcode" value="<%= @inventory_item.item_code %>" style='cursor:not-allowed' disabled/>

          </div>

          <div class="col-lg-2 text-right">
            Description
          </div>
          <div class="col-lg-2">
            <!-- <input type="text" class="editItem_input_style" id="details-item-description" value="<@inventory_item.description %>" /> -->
            <%= f.text_field :description, {:class => "editItem_input_style",  :value => @inventory_item.description} %>
          </div>

          <div class="col-lg-2 text-right">
            Model No:
          </div>
          <div class="col-lg-2">
            <!-- <input type="text" class="editItem_input_style" id="details-item-description" value="<@inventory_item.description %>" /> -->
            <%= f.text_field :model_no, {:class => "editItem_input_style",  :value => @inventory_item.model_no} %>
          </div>
        </div>

        <div class="row" style="margin-bottom: 5px;">

          <div class="col-lg-2 text-right">
            Brand:
          </div>
          <div class="col-lg-2">
            <%= f.text_field :brand, {:class => "editItem_input_style",  :value => @inventory_item.brand} %>
          </div>

          <div class="col-lg-2 text-right">
            Color:
          </div>
          <div class="col-lg-2">
            <%= f.text_field :color, {:class => "editItem_input_style",  :value => @inventory_item.color} %>
          </div>

          <div class="col-lg-2 text-right">
            Gender:
          </div>
          <div class="col-lg-2">
            <%= f.select :gender, options_for_select([['Men','men'],['Women','women'],['Unisex','unisex'],['Children','children'],['Boys','boys'],['Girls','girls']], :selected => @inventory_item.gender), {}, {class:"form-control padded-select", id:"details-item-gender" } %>
          </div>
        </div>

        <div class="row" style="margin-bottom: 5px;">
          <div class="col-lg-2 text-right">
            Barcode:
          </div>
          <div class="col-lg-2">
            <%= f.text_field :barcode, {:class => "editItem_input_style",  :value => @inventory_item.barcode} %>
          </div>

          <div class="col-lg-2 text-right">
            Price Range:
          </div>
          <div class="col-lg-2">
            <%= f.select :pricing_index, options_for_select([['Low','Low'],['Medium','Medium'],['High','High']], :selected => @inventory_item.pricing_index), {}, {class:"form-control padded-select", id:"details-item-pricing_index" } %>
          </div>

          <div class="col-lg-2 text-right">
            Stock:
          </div>
          <div class="col-lg-2">
            <input type="text" class="editItem_input_style" id="details-item-stock" value="<%= @inventory_item.stock %>" style='cursor:not-allowed' disabled/>
          </div>

        </div>


        <div class="row" style="margin-bottom: 5px;">

          <div class="col-lg-2 text-right">
            Frame Type:
          </div>
          <div class="col-lg-2">
            <%= f.select :frame_type, options_for_select([['Rimless','Rimless'],['Full Rim','Full Rim'],['Semi-Rimless','Semi-Rimless'],['Half-Eye','Half-Eye'],['Shell','Shell'],['Kids Shell','Kids Shell'],['Supra','Supra'],['Others','Others']], :selected => @inventory_item.frame_type), {}, {class:"form-control padded-select", id:"details-item-frame_type" } %>
          </div>

          <div class="col-lg-2 text-right">
            Frame Material:
          </div>
          <div class="col-lg-2">
            <%= f.select :frame_material, options_for_select([['Monel Metal','Monel Metal'],['Stainless Steel','Stainless Steel'],['Plastic','Plastic'],['Carbon Fibre','Carbon Fibre'],['Others','Others']], :selected => @inventory_item.frame_material), {}, {class:"form-control padded-select", id:"details-item-frame_material" } %>
          </div>


          <div class="col-lg-2 text-right">
            Serial No:
          </div>
          <div class="col-lg-2">
            <%= f.text_field :reference_no, {:class => "editItem_input_style",  :value => @inventory_item.reference_no} %>
          </div>
        </div>


        <div class="row" style="margin-bottom: 5px;">
          <div class="col-lg-2 text-right">
            Manufacturer
          </div>
          <div class="col-lg-2">
            <%= f.text_field :manufacturer, {:class => "editItem_input_style",  :value => @inventory_item.manufacturer} %>
          </div>
        </div>


      </ul>
      <div class="col-md-12" style="border-bottom: 1px solid #dfdfdf;padding-bottom: 10px">
        <h4>Lots</h4>
      </div>
      <ul style="list-style-type: none; font-weight: bold; text-decoration: underline; border-bottom: 1px solid #dfdfdf;">
        <li>
          <div class="row">
            <div class="col-lg-1">
              Sl. No.
            </div>
            <!--<div class="col-lg-2">-->
              <!--Batch No.-->
            <!--</div>-->

            <div class="col-lg-2">
              Vendor
            </div>

            <div class="col-lg-2">
              Expiry
            </div>

            <div class="col-lg-1">
              Stock
            </div>

            <div class="col-lg-1">
              List Price
            </div>
            <div class="col-lg-1">
              Mark Up
            </div>
            <div class="col-lg-1">
              MRP
            </div>
          </div>
        </li>
      </ul>
      <ul style="list-style-type: none;">
        <% @inventory_item.lots.where('stock' => {'$gte' => 1},is_deleted: false).each_with_index do |lot,index| %>
            <li>
              <div class="row">

                <div class="col-lg-1">
                  <%= index+1 %>
                </div>


                <div class="col-lg-2">
                  <%= lot.vendor %>
                </div>

                <div class="col-lg-2">
                  <%= lot.expiry %>
                </div>

                <div class="col-lg-1">
                  <%= lot.stock %>
                </div>

                <div class="col-lg-1">
                  <%= lot.list_price.round(2)%>
                </div>
                <div class="col-lg-1">
                  <%= lot.mark_up %>
                </div>
                <div class="col-lg-1">
                  <%= lot.mrp.round(2) %>
                </div>
              </div>
            </li>

        <% end %>
      </ul>
    </div>
<% end %>
<style>
  input.error, select.error {
    border-color: #b94a48;
    background-image: none;
  }
  input.valid, select.valid {
    border-color: #468847;
    background-image: none;
  }
</style>

<script>
  function editFrame_page() {
    $("#edit_inventory_item_frame").validate({
      rules: {
        "inventory_item_optical_frame[description]": {
          required: true,
        },
//        "inventory_item_optical_frame[barcode]": {
//          required: true,
//        },
        "inventory_item_optical_frame[manufacturer]": {
          required: true,
        },
      },
      messages: {
//        "inventory_item[description]": {
//          required: "Please enter Description."
//        },

      },
      errorPlacement: function (error, element) {
        var id = $(element).attr("id");
        var parent = $("#"+id).parents(".input-group").length
        if(parent == 0){
          error.insertAfter(element);
        } else {
          error.insertAfter($("#"+id).parents(".input-group"));
        }
      }
    });
  }
  editFrame_page()
</script>