<table class="table table-primary table-bordered" id="medication-list-table">
  <thead>
    <tr>
      <th colspan="1">Medicine Name</th>
      <th colspan="1">Generic Name</th>
      <th colspan="1">Medicine Class Name</th>
      <th colspan="1">Dispensing Type</th>
      <th colspan="1" style="width: 150px;">Action</th>
    </tr>
  </thead>
  <tbody class="medication-list">
    <% if medication_lists.present? %>
      <% medication_lists.each do |medication| %>
        <tr>
          <td colspan="1"><%= medication.name %></td>
          <td colspan="1"><%= medication.contents %></td>
          <td colspan="1"><%= medication.medicine_class_name.pluck(:medicine_class).join(", ") %></td>
          <td colspan="1"><%= medication.med_type %></td>
          <td colspan="1">
            <a href="<%= practice_medication_lists_edit_name_path(id: medication.id, level: @level) %>" data-remote="true" data-toggle="modal" data-target="edit_medication" class="btn btn-primary btn-xs"><i class="fa fa-pencil-square-o"></i></a>
            <a href="<%= practice_medication_list_path(medication.id, level: @level) %>" data-remote="true" data-confirm="Are you sure?" data-method="delete" class="btn btn-danger btn-xs"><i class="fa fa-trash-alt"></i></a>
          </td>
        </tr> 
      <% end %>
    <% end %> 
  </tbody>
</table>

<style type="text/css">
  #medication-list-table tr{
    height: 45px;
    line-height: 45px;
  }
  #medication-list-table tr th{
    vertical-align: middle;
  }
  .dataTables_empty{
    text-align: center;
  }
  .note_text{
    color:#a94442;
    margin-bottom: 0;
  }
  .modal-content{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
</style>

<script type="text/javascript">
  $('#medication-list-table').DataTable({
    "oLanguage": {
        "sEmptyTable": "No Medication record found."
    }
});
</script>