<%@user = current_user%>
<%= form_for @user, url: practice_medication_lists_path, :method => :post, :remote => true, :html => {:class => 'new_my_practice_medication', :id => "new_my_practice_medication"} do |f| %>
    <button aria-hidden="true" class="btn btn-success savemedicationlist mb10 pull-right">Save Medication List</button>
      <%= hidden_field_tag "my_practice_medication[user_id]", current_user.id %>
      <% @user.initialize_nested_objects %>
      <div class="col-md-12" id="my-medication-table-list" style="overflow-y: scroll; height: 300px; width: 100%;">

          <% counter = 0 %>
          <%= f.fields_for :my_practice_medication_lists do |pml| %>

                    <div class="col-md-4 mb5">
                      <div class="col-md-2 mt10">
                        <strong><%= counter + 1%>.</strong>
                      </div>
                      <div class="col-md-8">
                        <%= pml.text_field :name, :size => 25, :maxlength => 40 ,:class => 'form-control name input', :placeholder => "Medicine Name #{counter + 1}", :style => "width:auto;display:inline;", :name => "my_practice_medication[my_practice_medication_lists_attributes][#{counter}][name]", :id => "my_practice_medication_my_practice_medication_lists_attributes_#{counter}_name" %>
                        <%= hidden_field_tag "my_practice_medication[my_practice_medication_lists_attributes][#{counter}][user_id]", current_user.id %>
                      </div>
                    </div>
                    <% counter = counter + 1 %>
          <% end %>

        </div>



  <% end %>

<script>
//    jQuery(document).ready(function() {
//        jQuery(".savemedicationlist").on("click", function(event) {
//            jQuery(".new_my_practice_medication").submit();
//        });
//    });
</script>
