<div class="row no_margin mt5">
  <ul class="nav nav-pills nav-stacked users_list">
    <% all_active = (@active_user.nil? || @active_user == "all" || @users['doctor'].count == 0 || current_user.role_ids.exclude?(158965000)) %>
    <li class="sidebar-user-filter-ot <%= "active" if all_active %>"><a href="javascript:void(0)" data-user-id="all">All</a></li>
  </ul>
</div>
<% @users.each do |label, users| %>
  <% if users.count > 0 %>
    <div class="row no_margin text-center">
      <h4 style="border-top: 1px solid #aaa;border-bottom: 1px solid #aaa;"><%= label.to_s.pluralize.titleize %></h4>
    </div>
    <div class="row no_margin">
      <ul class="nav nav-pills nav-stacked users_list">
        <% users.each do |user| %>
          <% if user[0].to_s == current_user.id.to_s %>
            <li class="sidebar-user-filter-ot active"><a href="javascript:void(0)" data-user-id="<%= user[0].to_s %>"><%= user[1] %></a></li>
          <% else %>
            <li class="sidebar-user-filter-ot"><a href="javascript:void(0)" data-user-id="<%= user[0].to_s %>"><%= user[1] %></a></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
  $(".sidebar-user-filter-ot").find('a').on('click', function(){
    $('.sidebar-user-filter-ot').removeClass('active')
    $(this).closest('.sidebar-user-filter-ot').addClass('active')
    $("#ot-calendar").fullCalendar('refetchEvents');
  })
</script>
