<% specialities = (current_facility.specialty_ids & current_user.specialty_ids).count %>
<% ot_list.try(:each) do |ot| %>
  <% patient = @patient_fields.find { |p| p[:id].to_s == ot.patient_id.to_s } %>
  <div class='row no_margin summary_ot summary_ot_clickable' data-ot-id='<%= ot.ot_id %>'>
    <div class='col-sm-5 no_padding text-left' style="overflow: hidden;white-space: nowrap; text-overflow: ellipsis;">
      <% if patient.present? %>
        <span title="<%= patient[:title] %>"><%= patient[:bang] ? "<b><i class='fa fa-exclamation' style='font-size: 14px;color:#FF8735;'></i>&nbsp;</b>".html_safe : "" %></span>
      <% end %>
      <span><b><%= ot.patient_name.to_s.upcase %></b></span>
    </div>
    <div class='col-sm-3 no_padding text-center'>
      <span style='font-size: 12px;'>
        <%= ot.ot_time.in_time_zone.strftime('%I:%M %p') %>
      </span>
    </div>
    <div class='col-sm-4 no_padding text-right' style="overflow: hidden;white-space: nowrap; text-overflow: ellipsis;">
      <b style='font-size:12px;'><%= ot.operating_doctor %></b>
    </div>
    <div class='col-sm-5 no_padding text-left' style="overflow: hidden;white-space: nowrap; text-overflow: ellipsis;">
      Reason : <b style='font-size:12px;'><%= ot.reason_for_admission %></b>
    </div>
    <div class="col-sm-3">
      <% if ot.theatre_number.present? %>
        <% otroom = @ot_rooms_hash.find{ |otroom| otroom[:id].to_s == ot.theatre_number.to_s} %>
        <span class="label label-info">
          <span><%= (otroom[:name] unless otroom.blank?) || ot.theatre_number %></span>
        </span>
      <% end %>
    </div>
    <div class='col-md-4 no_padding text-right'>
      <% if ot.specialty_name.present? && specialities > 1 %>
        <div class="specialty_section" style="">
          <span class="label label-info" title="Specialty Name"><%= ot.specialty_name %></span>
        </div>
      <% end %>

      <span style='font-size:12px;'>
        <% if ot.ward_code.nil? || ot.room_code.nil? || ot.bed_code.nil? %>
          <!-- <i class="fa fa-bed"></i> : DAYCARE -->
        <% else %>
          <i class="fa fa-bed"></i> : <%= ot.ward_code.upcase %>/<%= ot.room_code.upcase %>/<%= ot.bed_code.upcase %>
        <% end %>
      </span>
    </div>
  </div>
<% end %>