<%= render partial: '/inpatients/common_css.html.erb' %>
<div class="col-xs-6 sidebar_area" style="background: white;">
  <div id="toolbar_area">
    <div id="toolbar">
      <nav class="navbar navbar-secondary navbar-inverse navbar-fixed-top" style="margin-top: 50px; left: auto; right: auto; width: 50%;z-index:100;">
        <div class="container-fluid" style="padding-right:0;border-right: 1px solid #aaa;">
          <div class="col-xs-2 col-xs-5-shared" style="padding-left:initial;margin-right:-66px;">
            <div class="navbar-header ot-navbar" style="margin-top: 7px;">
              <%= link_to '/inpatients/ot_scheduler', class: 'btn btn-primary navbar-btn ps', id: 'show-ot-calender-view', data: { remote: true }, style: 'margin:0px;' do %><i class="fa fa-calendar" style="padding: 0 5px;"></i><% end %>
              <% if @ot_rooms.count > 1 %>
                <%= link_to '/inpatients/ot_summary', class: 'btn btn-primary navbar-btn btn-ot-summary ps', data: { remote: true }, style: 'margin:0px;' do %><i class="fa fa-bed"></i><% end %>
              <% end %>
              <button class="btn btn-link btn-xs" id='btn-ot-management-refresh'><i class="fa fa-refresh" style="color:#fff;"></i></button>
            </div>
          </div>

          <% if @available_specialties.count > 1 %>
            <div class="col-xs-2 specialty_section" style="margin-right: 46px;">
              <div class="input-group" style="margin-top: 7px;" title="Specialty Selection">
                <div class="input-group-btn">
                  <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" style="background: transparent;color: white;border-radius: 15px;" type="button" data-active-filter="Active">
                    &nbsp;&nbsp;
                    <%= @selected_specialty == 'all_specialties' ? 'All Specialties' : @available_specialties.find_by(id: @selected_specialty).name.truncate(12) %>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="ot_specialty_dropdown_options <%= 'active' if @selected_specialty == 'all_specialties' %>" data-id="all_specialties" style=" cursor: pointer; <%= 'background-color: #cfeaeb;' if @selected_specialty == 'all_specialties' %>">All Specialties</a></li>
                    <% for specialty in @available_specialties %>
                      <li><a class="ot_specialty_dropdown_options <%= 'active' if specialty.id == @selected_specialty %>" data-id="<%= specialty.id %>" style=" cursor: pointer;<%= 'background-color: #cfeaeb;' if specialty.id == @selected_specialty %>"><%= specialty.name %> Specialty</a></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          <% else %>
            <div class="col-xs-1"></div>
            <div class="specialty_section" style="margin-right: 46px;display: none">
              <div class="input-group" style="margin-top: 7px;" title="Specialty Selection">
                <div class="input-group-btn">
                  <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" style="background: transparent;color: white;border-radius: 15px;" type="button" data-active-filter="Active">
                    &nbsp;&nbsp;
                    <%= @selected_specialty == 'all_specialties' ? 'All Specialties' : @available_specialties.find_by(id: @selected_specialty).name.truncate(12) %>
                  <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="ot_specialty_dropdown_options <%= 'active' if @selected_specialty == 'all_specialties' %>" data-id="all_specialties" style=" cursor: pointer; <%= 'background-color: #cfeaeb;' if @selected_specialty == 'all_specialties' %>">All Specialties</a></li>
                    <% for specialty in @available_specialties %>
                      <li><a class="ot_specialty_dropdown_options <%= 'active' if specialty.id == @selected_specialty %>" data-id="<%= specialty.id %>" style=" cursor: pointer;<%= 'background-color: #cfeaeb;' if specialty.id == @selected_specialty %>"><%= specialty.name %> Specialty</a></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>

          <div class="col-xs-3 col-xs-5-shared patient-search">
            <input type="text" placeholder="Search Patient" class="search-ot form-control " id="search_ot" maxlength="50">
          </div>
          <div class="col-xs-1">
            <button class="btn btn-danger navbar-btn navbar-btn-hover ps" id="btn-ot-today" style="padding-left: 8.4px !important;padding-right: 8.4px !important;background:transparent;" <%= 'disabled="disabled"' if @current_date == Date.current %>> Today</button>
          </div>
          <div class="col-xs-3 text-center mobile_date_responsive">
            <button class="btn btn-success  navbar-btn navbar-btn-hover" id="btn-ot-backdate" style="padding-left: 8.4px !important;padding-right: 8.4px !important;border: none;margin-top:10px;font-size: 14px;padding-left:15px;"> <i class="fa fa-chevron-left"></i></button>
            <span style="font-size:14px;"><%= @current_date.strftime('%b %d, %Y') %></span>
            <button class="btn btn-success  navbar-btn navbar-btn-hover" id="btn-ot-frontdate" style="padding-left: 8.4px !important;padding-right: 8.4px !important;border: none;margin-top:10px;font-size: 14px;padding-left:15px;"> <i class="fa fa-chevron-right"></i></button>
          </div>
          <div class="col-xs-1 row text-right">
            <input type="text" id="ot-datepicker-inline" style="display: none;">
            <!-- Logic in ot_management.js.erb -->
          </div>
        </div>
      </nav>
    </div>
  </div><!-- #toolbar_area -->
  <div class="sidebar_area_content">
    <div class="col-xs-3 sidebar_pane sidebar-doctors-ot no_padding" id="sidebar_doctors_ot" style="display:none;">
      <%= render partial: 'inpatients/ot/sidebar_doctors' %>
    </div>
    <div class="col-xs-12 sidebar_pane" id="sidebar_summary">
      <div class="sidebar-summary-ot">

      </div>
    </div>
  </div>
</div>
<div class="col-xs-6 ot_main_content" style="padding:0px;">
  <%= render partial: '/inpatients/ot/ot_main_content.html.erb' %>
</div>

<script type="text/javascript">
  <%= render partial: '/inpatients/ot/ot_management.js.erb' %>
</script>
