<%= render partial: '/inpatients/ot_summary_css.html.erb' %>

<div class="col-xs-12 ot_summary_main_content" style="padding:0px;">
  <div id="toolbar">
    <nav class="navbar navbar-secondary navbar-inverse navbar-fixed-top ot_summary_nav" style="margin-top: 50px; left: auto; right: auto; width: 100%;z-index:555;">
      <div class="container-fluid">
        <div class="col-xs-1 col-xs-1-shared" style="padding-left:initial;">
          <div class="navbar-header admission-navbar" style="margin-top: 7px;">
            <%= link_to '/inpatients/ot_management', class: 'btn btn-primary navbar-btn ps', id: 'show-ot-calender-view', data: { remote: true }, style: 'margin:0px;' do %><i class="fa fa-list"></i><% end %>
          </div>
        </div>
        <div class="col-xs-6">
          <h4 class="nav_head_section">OT Summary</h4>
        </div>
        <div class="col-md-9 col-xs-11-shared tagsinput">
          <% if params[:ot_name].present? %>
            <span class="tag" data-attribute="ot"><span>OT&nbsp;&nbsp;</span><span title="Removing tag">x</span></span>
          <% end %>
          <% if params[:status].present? %>
            <span class="tag" data-attribute="status"><span>Status&nbsp;&nbsp;</span><span title="Removing tag">x</span></span>
          <% end %>
          <% if params[:ot_date].present? %>
            <span class="tag" data-attribute="ot_date"><span>Date&nbsp;&nbsp;</span><span title="Removing tag">x</span></span>
          <% end %>
          <% if params[:specialty].present? %>
            <span class="tag" data-attribute="specialty"><span>Specialty&nbsp;&nbsp;</span><span title="Removing tag">x</span></span>
          <% end %>
          <% if params[:patient_gender].present? %>
            <span class="tag" data-attribute="gender"><span>Gender&nbsp;&nbsp;</span><span title="Removing tag">x</span></span>
          <% end %>
          <% if params[:age_years].present? %>
            <span class="tag" data-attribute="age"><span>Age&nbsp;&nbsp;</span><span title="Removing tag">x</span></span>
          <% end %>
          <% if params[:age_months].present? %>
            <span class="tag" data-attribute="age_month"><span>Age Month&nbsp;&nbsp;</span><span title="Removing tag">x</span></span>
          <% end %>
          <% if params[:surgeon_name].present? %>
            <span class="tag" data-attribute="surgeon"><span>Surgeon&nbsp;&nbsp;</span><span title="Removing tag">x</span></span>
          <% end %>
          <% if params[:ot_name].present? || params[:status].present? || params[:ot_date]   .present? || params[:specialty].present? ||  params[:patient_gender].present? || params[:age_years].present? || params[:age_months].present? || params[:surgeon_name].present? %>
                <span class="clear-filters-tag">Clear Filters</span>
          <% end %>
          <input type="hidden" name="hiddenfilter[ot]" class="ot form-control hiddenfilter" value='<%= params[:ot_name] %>'>
          <input type="hidden" name="hiddenfilter[status]" class="status form-control hiddenfilter" value='<%= params[:status] %>'>
          <input type="hidden" name="hiddenfilter[ot_date]" class="ot_date form-control hiddenfilter" value='<%= params[:ot_date] %>'>
          <input type="hidden" name="hiddenfilter[specialty]" class="specialty form-control hiddenfilter" value='<%= params[:specialty] %>'>
          <input type="hidden" name="hiddenfilter[gender]" class="gender form-control hiddenfilter" value='<%= params[:patient_gender] %>'>
          <input type="hidden" name="hiddenfilter[age_years]" class="age form-control hiddenfilter" value='<%= params[:age_years] %>'>
          <input type="hidden" name="hiddenfilter[age_months]" class="age_month form-control hiddenfilter" value='<%= params[:age_months] %>'>
          <input type="hidden" name="hiddenfilter[surgeon_name]" class="surgeon form-control hiddenfilter" value='<%= params[:surgeon_name] %>'>
          <%= link_to inpatients_ot_summary_filter_path, data: { remote: true, 'toggle': 'modal', 'target': '#filter-modal' }, class: 'btn btn-primary filter_button open_side_modal', style: 'border:none;' do %><i class="fa fa-filter" aria-hidden="true"></i>&nbsp;Filter<% end %>
        </div>
      </div>
    </nav>
  </div>

  <div id="ot_summary" style="height: calc(100% - 50px);overflow: hidden; margin-top: 50px;">
    <div class="ui" style=" height: calc(100%); display: grid;">
      <!-- <button class="right-scroll-arrow"><i class="fa fa-angle-right"></i></button>
      <button class="left-scroll-arrow"><i class="fa fa-angle-left"></i></button> -->
      <div class="lists">
        <% @ot_list_views.each do |theatre_number, ot_list_value| %>
          <% if ot_list_value[0].theatre_name.present? %>
            <div class="col-md-4 col-sm-4 col-xs-6 list">
              <header>
                <span style="color:white"><b><%= ot_list_value[0].theatre_name %></b></span>
                <%= link_to inpatients_ot_summary_details_path(id: theatre_number), data: { remote: true, 'toggle': 'modal', 'target': '#ot-modal' }, class: 'pull-right' do %><i class="fa fa-arrows-alt" aria-hidden="true" style="color: white; font-size: 15px;"></i><% end %>
              </header>
              <% ot_list_value.sort_by!(&:ot_date).reverse_each do |ot_list_value_id| %>
                <div class="aspect-content">
                  <div class="aspect-tab">
                    <div class="aspect-info">
                      <div style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                        <div class="col-sm-4" style="display: block; word-break: break-word; white-space: normal;">
                          <span class="text-left"><b><%= ot_list_value_id.patient_name %></b></span>
                        </div>
                        <span class="col-sm-4 text-center" style="word-wrap: break-word;"><%= ot_list_value_id.patient_display_id %></span>
                        <span class="col-sm-4 text-right" style="word-wrap: break-word;"><%= ot_list_value_id.ot_date.strftime('%d/%m/%Y') %></span>
                      </div>
                      <div style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                        <div class="col-sm-4" style="display: block; word-break: break-word; white-space: normal;">
                          <span class="text-left"><%= ot_list_value_id.operating_doctor %></span>
                        </div>
                        <span class="col-sm-4 text-center"><%= ot_list_value_id.current_state %></span>
                        <span class="col-sm-4 text-right"><%= ot_list_value_id.ot_time.strftime('%H:%M') %></span>
                      </div>
                      <% case_sheet = @case_sheets.find { |cs| cs[:ot_schedule_ids].include?(ot_list_value_id.ot_id.to_s) } %>
                      <% all_procedures = case_sheet[:procedures] %>
                      <% if all_procedures == [] %>
                        <div class="col-sm-4" style="display: block; word-break: break-word; white-space: normal;">
                          <span class="text-center"> No Procedure </span>
                        </div>
                      <% else %>
                        <% all_procedures.each do |procedure| %>
                          <div class="col-sm-4" style="display: block; word-break: break-word; white-space: normal;">
                            <span class="text-center"><%= "#{procedure.procedurename}, #{procedure.get_label_for_procedure_side(procedure.procedureside)}" %></span>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $(".left-scroll-arrow").on("click",function(){
      scrollleft()
    }).bind("mouseover", function(event) {
      scrolling = true;
      scrollContent("right");
      $(this).css("opacity", "1");
    }).bind("mouseout", function(event) {
      scrolling = false;
      $(this).css("opacity", "0.4");
    });

  function scrollContent(direction) {
    var amount = (direction === "left" ? "+=1px" : "-=1px");
    $(".lists").animate({
      scrollLeft: amount
    }, 1, function() {
      if (scrolling) {
        scrollContent(direction);
      }
    });
  }

  function scrollright() {
    var mvleft = $(window).width()/3*1
    var leftPos = $('.lists').scrollLeft();
    $('.lists').animate({scrollLeft: leftPos + mvleft}, 800);
  }

  function scrollleft() {
    var mvleft = $(window).width()/3*1
    var leftPos = $('.lists').scrollLeft();
    $('.lists').animate({scrollLeft: leftPos - mvleft}, 800);
  }
  var step = 250;
  var scrolling = false;

  $(".right-scroll-arrow").on("click",function(event){
    scrollright()
  }).bind("mouseover", function(event) {
    scrolling = true;
    scrollContent("left");
    $(this).css("opacity", "1");

  }).bind("mouseout", function(event) {
    scrolling = false;
    $(this).css("opacity", "0.4");
  });

  $(".clear-filters-tag").on("click", function () {
    $(this).hide()
    $(".tag").hide()
    $(".hiddenfilter").val("")
    refreshotsummary()
  })

  $(".tag").on("click", function(){
    var tagattr = $(this).attr("data-attribute")
    $(this).hide()
    $("."+tagattr).val("")
    refreshotsummary()
  })

  var SearchParams = {};

  function search_params(){
    SearchParams = {}
    var ot_name
    var status
    var date
    var specialty
    var gender
    var age_years
    var age_months
    var surgeon

    ot_name = $("input[name='hiddenfilter[ot]']").val()
    if (!ot_name) {
      ot_name = ""
    }
    age_years = $("input[name='hiddenfilter[age_years]']").val()
    if (!age_years) {
      age_years = ""
    }
    age_months = $("input[name='hiddenfilter[age_months]']").val()
    if (!age_months) {
      age_months = ""
    }
    status = $("input[name='hiddenfilter[status]']").val()
    if (!status) {
      status = ""
    }
    date = $("input[name='hiddenfilter[ot_date]']").val()
    if (!date) {
      date = ""
    }
    specialty = $("input[name='hiddenfilter[specialty]']").val()
    if (!specialty) {
      specialty = ""
    }
    gender = $("input[name='hiddenfilter[gender]']").val()
    if (!gender) {
      gender = ""
    }
    surgeon = $("input[name='hiddenfilter[surgeon_name]']").val()
    if (!surgeon) {
      surgeon = ""
    }
    SearchParams.ot_name = ot_name;
    SearchParams.status = status;
    SearchParams.ot_date = date;
    SearchParams.specialty = specialty;
    SearchParams.patient_gender = gender;
    SearchParams.surgeon_name = surgeon;
    SearchParams.age_years = age_years;
    SearchParams.age_months = age_months;
    SearchParams.remote = true;
  }

  function refreshotsummary(){
    loading_dots()
    search_params()
    $.ajax({
      type: "GET",
      dataType: "script",
      data: SearchParams,
      url: "/inpatients/ot_summary",
    }).done(function(data){})
  }

  function loading_dots(){
    $(".lists").html("<div class='loading_dots'><span></span> <span></span> <span></span></div>")
  }
</script>
