<%= render partial: '/inpatients/common_css.html.erb' %>
<div class="col-xs-4 sidebar_area" style="background: white;">
  <div id="toolbar_area">
    <div id="toolbar"><nav class="navbar navbar-secondary navbar-inverse navbar-fixed-top" style="margin-top: 50px; left: auto; right: auto; width: 33.4%;z-index:1000;">
      <div class="container-fluid">
        <div class="navbar-header" style="margin-top:7px;">
          <%= link_to "/inpatients/ot_management", class: "btn btn-primary navbar-btn ps", id: "show-ot-list-view", data: { remote: true } , style: "margin:0px;margin-right:10px;" do %><i class="fa fa-list" style="padding: 0 5px;"></i><% end %>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <%unless current_user.has_role?(:optometrist)%>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <%#= link_to ipd_patients_addot_path(ottime: "current_time"), :class => "btn btn-danger navbar-btn",:id=>"add-ot-btn", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#templates-modal'} do %> <!-- <i class="glyphicon glyphicon-plus"></i>&nbsp; Add --><%# end %>
                <%= link_to patients_search_path(url: "/ots/new", current_date: "#{@current_date}", modal: "ot-modal"), class: "btn btn-danger navbar-btn navbar-btn-hover", id: "add-ot-btn", data: {remote: true, 'toggle': "modal", 'target': '#ot-modal' } do %> <i class="glyphicon glyphicon-plus"></i>&nbsp; Add<% end %>
              </li>
              <li>
                <button type="button" id="print-ot-dropdown" class="btn btn-info navbar-btn navbar-btn-hover" data-toggle="dropdown">
                  <span class=""><i class="fa fa-print"></i> Print</span>&nbsp;
                  <span class="caret fa-color"></span>
                </button>
                <ul class="dropdown-menu children" style="margin-left:30px;">
                  <li>
                    <%= link_to ots_print_all_list_path(current_date: @current_date, :format => :pdf), id: "print-all-ot-list", :class => "", style:"border-color:#FF8735", :target => "_blank" do %> All OTs on <%= @current_date.strftime("%d %b'%y") %><% end %>
                  </li>
                  <li>
                    <%= link_to ots_print_scheduled_list_path(current_date: @current_date, :format => :pdf), id: "print-scheduled-ot-list", :class => "", style:"border-color:#FF8735", :target => "_blank" do %> Scheduled on <%= @current_date.strftime("%d %b'%y") %><% end %>
                  </li>
                  <li>
                    <%= link_to ots_print_admitted_list_path(current_date: @current_date, :format => :pdf), id: "print-admitted-ot-list", :class => "", style:"border-color:#FF8735", :target => "_blank" do %> Admitted on <%= @current_date.strftime("%d %b'%y") %><% end %>
                  </li>
                  <li>
                    <%= link_to ots_print_engaged_list_path(current_date: @current_date, :format => :pdf), id: "print-engaged-ot-list", :class => "", style:"border-color:#FF8735", :target => "_blank" do %> Engaged on <%= @current_date.strftime("%d %b'%y") %><% end %>
                  </li>
                  <li>
                    <%= link_to ots_print_completed_list_path(current_date: @current_date, :format => :pdf), id: "print-completed-ot-list", :class => "", style:"border-color:#FF8735", :target => "_blank" do %> Completed on <%= @current_date.strftime("%d %b'%y") %><% end %>
                  </li>
                </ul>
              </li>
            </ul>
          <%end%>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    </div>
  </div><!-- #toolbar_area -->

  <div class="sidebar_area_content">
    <div class="col-xs-4 sidebar_pane sidebar-doctors no_padding" id="sidebar_doctors">
    </div>
    <div class="col-xs-8 sidebar_pane" id="sidebar_summary">
      <div class="modal" id="modalCalendarOtDetails" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" style="width: 50%;">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h5 class="modal-title">OT Details</h5>
            </div>
            <div class="modal-body" style="overflow-y: scroll; height:450px;" id="modalCalendarOtDetailsBody">
              <div class="loading_dots">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar-summary">
        
      </div>  
    </div>
  </div>
</div>
<div class="col-xs-8 ot-main-calendar">
  <div id="ot-calendar" class="hidden-print">
    <div class="loading_dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>

<script type="text/javascript">
  <%= render partial: '/inpatients/ot/ot_scheduler.js.erb' %>
</script>