<div class="aldrete_score">
  <div>
    <h5 class="heading">Activity</h5>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="rdio rdio-primary col-md-4 col-sm-4">
          <%= f.radio_button :activity,"2",class:"activity radio_0",:id=>"activity_2",:checked => @nursing_record.read_attribute(:activity) == 2 %>
          <label for="activity_2">Able to move Voluntarily or on Command(2) </label>
        </div>
        <div class="rdio rdio-primary col-md-4 col-sm-4">
          <%= f.radio_button :activity,"1",class:"activity radio_0",:id=>"activity_1",:checked => @nursing_record.read_attribute(:activity) == 1 %>
          <label for="activity_1"> 2 extremities(1) </label>
        </div>
        <div class="rdio rdio-primary col-md-4 col-sm-4">
          <%= f.radio_button :activity,"0",class:"activity radio_0",:id=>"activity_0",:checked => @nursing_record.read_attribute(:activity) == 0 || @nursing_record.read_attribute(:activity).nil? %>
          <label for="activity_0"> 0 extremities(0) </label>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h5 class="heading">Respiration</h5>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="rdio rdio-primary col-md-4 col-sm-4">
          <%= f.radio_button :respiration,"2",class:"respiration radio_0",:id=>"respiration_2",:checked => @nursing_record.read_attribute(:respiration) == 2 %>
          <label for="respiration_2">Able to breathe deeply and cough freely(2) </label>
        </div>
        <div class="rdio rdio-primary col-md-4 col-sm-4">
          <%= f.radio_button :respiration,"1",class:"respiration radio_0",:id=>"respiration_1",:checked => @nursing_record.read_attribute(:respiration) == 1 %>
          <label for="respiration_1"> Dyspnoea or limited breathing(1) </label>
        </div>
        <div class="rdio rdio-primary col-md-4 col-sm-4">
          <%= f.radio_button :respiration,"0",class:"respiration radio_0",:id=>"respiration_0",:checked => @nursing_record.read_attribute(:respiration) == 0 || @nursing_record.read_attribute(:respiration).nil? %>
          <label for="respiration_0"> Apnoeic(0) </label>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h5 class="heading">Circulation</h5>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="rdio rdio-primary col-md-4 col-sm-4">
          <%= f.radio_button :circulation,"2",class:"circulation radio_2",:id=>"circulation_2",:checked => @nursing_record.read_attribute(:circulation) == 2 %>
          <label for="circulation_2">BP +/-  20mmHg of pre anaesthetia level(2)</label>
        </div>
        <div class="rdio rdio-primary col-md-4 col-sm-4">
          <%= f.radio_button :circulation,"1",class:"circulation radio_1",:id=>"circulation_1",:checked => @nursing_record.read_attribute(:circulation) == 1 %>
          <label for="circulation_1"> BP +/- 20 - 50mmHg of pre anaesthetia level(1) </label>
        </div>
        <div class="rdio rdio-primary col-md-4 col-sm-4">
          <%= f.radio_button :circulation,"0",class:"circulation radio_0",:id=>"circulation_0",:checked => @nursing_record.read_attribute(:circulation) == 0 || @nursing_record.read_attribute(:circulation).nil? %>
          <label for="circulation_0"> BP +/- 50mmHg of pre anaesthetia level(0) </label>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h5 class="heading">Consciousness</h5>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="rdio rdio-primary col-md-4 col-sm-4">
          <%= f.radio_button :consciousness,"2",class:"consciousness radio_2",:id=>"consciousness_2",:checked => @nursing_record.read_attribute(:consciousness) == 2 %>
          <label for="consciousness_2">Fully Awake(2) </label>
        </div>
        <div class="rdio rdio-primary col-md-4 col-sm-4">
          <%= f.radio_button :consciousness,"1",class:"consciousness radio_1",:id=>"consciousness_1",:checked => @nursing_record.read_attribute(:consciousness) == 1 %>
          <label for="consciousness_1"> Arousable on Calling(1) </label>
        </div>
        <div class="rdio rdio-primary col-md-4 col-sm-4">
          <%= f.radio_button :consciousness,"0",class:"consciousness radio_0",:id=>"consciousness_0",:checked => @nursing_record.read_attribute(:consciousness) == 0 || @nursing_record.read_attribute(:consciousness).nil? %>
          <label for="consciousness_0"> Not Responding(0) </label>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h5 class="heading">O2 Saturation</h5>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="rdio rdio-primary col-md-4 col-sm-4">
          <%= f.radio_button :o2_saturation,"2",class:"o2_saturation radio_2",:id=>"o2_saturation_2",:checked => @nursing_record.read_attribute(:o2_saturation) == 2 %>
          <label for="o2_saturation_2">Able to maintain Spo2 > 92% on room air(2) </label>
        </div>
        <div class="rdio rdio-primary col-md-4 col-sm-4">
          <%= f.radio_button :o2_saturation,"1",class:"o2_saturation radio_1",:id=>"o2_saturation_1",:checked => @nursing_record.read_attribute(:o2_saturation) == 1 %>
          <label for="o2_saturation_1"> Needs supplementary O2 to maintain Spo2 > 92%(1)</label>
        </div>
        <div class="rdio rdio-primary col-md-4 col-sm-4">
          <%= f.radio_button :o2_saturation,"0",class:"o2_saturation radio_0",:id=>"o2_saturation_0",:checked => @nursing_record.read_attribute(:o2_saturation) == 0 || @nursing_record.read_attribute(:o2_saturation).nil? %>
          <label for="o2_saturation_0"> Spo2 < 90% despite supplementary O2(0) </label>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="row pscore">
      <div class="col-md-2 col-sm-3">
        <h5 class="heading"> Patient Score :</h5>
      </div>
      <div class="col-md-2 col-sm-2">
        <input style="padding:5px 10px 5px 10px;border: none;border-bottom: 1px solid #aaa;" class="form-control patient_score" id="patient_score" value="<%= @nursing_record.patient_score %>" type="text" name="nursing_record[patient_score]" readonly="readonly">
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <h5 class="heading">Patient Score >/=9 :Fit for Discharge</h5>
      </div>              
    </div>
    
  </div>
</div>
<style type="text/css">
  .heading{
    color: #444;
    font-size: 17px;
  }
  .pscore{
    margin-top: 20px;
  }
</style>
<script type="text/javascript">
  var activity = $('.activity:checked').val()
  var respiration = $('.respiration:checked').val()
  var consciousness = $('.consciousness:checked').val()
  var circulation = $('.circulation:checked').val()
  var o2_saturation = $('.o2_saturation:checked').val()

  $(".activity").click(function(){
    activity = $(this).val()
    get_score(activity, respiration, circulation, consciousness, o2_saturation)
  });
  $(".respiration").click(function(){
    respiration = $(this).val()
    get_score(activity, respiration, circulation, consciousness, o2_saturation)
  });
  $(".circulation").click(function(){
    circulation = $(this).val()
    get_score(activity, respiration, circulation, consciousness, o2_saturation)
  });
  $(".consciousness").click(function(){
    consciousness = $(this).val()
    get_score(activity, respiration, circulation, consciousness, o2_saturation)
  });
  $(".o2_saturation").click(function(){
    o2_saturation = $(this).val()
    get_score(activity, respiration, circulation, consciousness, o2_saturation)
  });
  function get_score(activity, respiration, circulation, consciousness, o2_saturation){
    var score = parseInt(activity) + parseInt(respiration) + parseInt(circulation) + parseInt(consciousness) + parseInt(o2_saturation)
    $('#patient_score').attr('value',score)
  }
</script>