<div class="patient_score mb20">
  <% if @print_flag %>
    <div class="row text-center">
      <strong class="heading"><%= @form_name %></strong>
      <div class="summary-line-border"></div>
    </div>
  <% end %>
  <div class="row mb10">
    <div class="col-md-3 col-sm-3">
      <b> Patient Score :</b>
    </div>
    <div class="col-md-2 col-sm-2">
      <%= @nursing_record.patient_score  %>
    </div>
  </div>
  <div class="row mb10">
    <div class="col-md-3 col-sm-3">
      <b> Activity :</b>
    </div>
    <div class="col-md-8 col-sm-8">
      <%= NursingRecordHelper.object_finder('activity', @nursing_record.activity) %>
    </div>
  </div>
  <div class="row mb10">
    <div class="col-md-3 col-sm-3">
      <b> Respiration :</b>
    </div>
    <div class="col-md-8 col-sm-8">
      <%= NursingRecordHelper.object_finder('respiration', @nursing_record.respiration) %>
    </div>
  </div>
  <div class="row mb10">
    <div class="col-md-3 col-sm-3">
      <b> Circulation :</b>
    </div>
    <div class="col-md-8 col-sm-8">
      <%= NursingRecordHelper.object_finder('circulation', @nursing_record.circulation) %>
    </div>
  </div>
  <div class="row mb10">
    <div class="col-md-3 col-sm-3">
      <b> Consciousness :</b>
    </div>
    <div class="col-md-8 col-sm-8">
      <%= NursingRecordHelper.object_finder('consciousness', @nursing_record.consciousness) %>
    </div>
  </div>
  <div class="row mb10">
    <div class="col-md-3 col-sm-3">
      <b> O2 Saturation :</b>
    </div>
    <div class="col-md-8 col-sm-8">
      <%= NursingRecordHelper.object_finder('o2_saturation', @nursing_record.o2_saturation) %>
    </div>
  </div>
  <% if @print_flag %>
    <div class="row">
      <div class="col-md-6 col-sm-6"><b>Anaesthetist Sign & Name :------------------------</b></div>
      <div class="col-md-6 col-sm-6"><b>Date & Time :------------------------</b></div>
    </div>
  <% end %>
</div>
<style type="text/css">
  .heading{
    color: #444;
    font-size: 17px;
  }
</style>