<div class="care_plan">
  <h4 style="text-decoration: underline;">Pre-Op Medication</h4>
  <!-- <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4"><strong>Store:</strong></div>
          <div class="col-md-8 col-sm-8 col-xs-8">
            <%# if @stores_array.length >= 1 %>
              <%#= select_tag("nursing_record[view_store_id]", options_for_select(@stores_array, @nursing_record.store_id ? @nursing_record.store_id : @stores_array[0][1]), { :class => 'form-control', style: "width: 100%;padding: 8px 0px;"}) %>
            <%# end %>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6"></div>
    </div><br> -->
  <div class="row">
    <%= render partial: "/inpatients/nursing_records/#{@speciality_folder_name.downcase}_notes/plan_medication.html.erb", locals: { f: f } %>
    <div class="col-md-2 col-sm-2">
      <!-- comment save medication kit will give later -->
      <div class="btn btn-success save-medication-kit-btn mb10"><i class="fa fa-hand-o-left"></i> Save Medication Set</div>
      <!-- medication set dropdown -->
      <div class="medication_set_dropdown_wrapper">
        <input type="hidden" name="opd_ipd" value="[444950001,0]" id="find_in_set_type" class="find_in_set_type">
        <input type="hidden" value="<%= @specalityid %>" class="selected_specialty">
        <%= render partial: "templates/shared/medication_set_dropdown" %>
      </div>
      <div class="mb5" style="border-bottom: solid"></div>
      <div style="padding:6px">
        <label for="medicationsets-label">Medication Sets</label>
        <input type="text" placeholder="Search" id="search_medication_set">
      </div>
      <div class="medication_kit_refresh">
        <%= f.input :medicationsets, collection: MedicationKit.where(:user_id => @current_user.id,:set_type.in => [444950001, 0], :organisation_id => @current_user.organisation.id, level: "user", specialty_id: @specalityid.to_i).sort_by{|med_kit| med_kit.name.downcase}, input_html: { multiple: true, :size => '13', :style => 'height: 100%; width:100%', :class => 'form-control webview option_remover'}, as: :select,  :label => false,  :item_wrapper_class => 'form-control', :required => false %>
      </div>
    </div>
  </div>  
  <h4 style="text-decoration: underline;">Patient Education On</h4> 
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <div class="col-md-6 col-sm-6">
        <h5 class="title">ID Band :</h5>
      </div>
      <div class="col-md-6 col-sm-6">
        <%= f.input :id_band, wrapper_html: {:class=>""}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "nursing_record[id_band]" }, :checked => @nursing_record.read_attribute(:id_band) || "No" %>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="col-md-6 col-sm-6">
        <h5 class="title">Nurse Call :</h5>
      </div>
      <div class="col-md-6 col-sm-6">
        <%= f.input :nurse_call, wrapper_html: {:class=>""}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "nursing_record[nurse_call]" }, :checked => @nursing_record.read_attribute(:nurse_call) || "No" %>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="col-md-6 col-sm-6">
        <h5 class="title">Non Smoking Policy :</h5>
      </div>
      <div class="col-md-6 col-sm-6">
        <%= f.input :non_smoking_policy, wrapper_html: {:class=>""}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "nursing_record[non_smoking_policy]" }, :checked => @nursing_record.read_attribute(:non_smoking_policy) || "No" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <div class="col-md-6 col-sm-6">
        <h5 class="title">Patient Rights & Responsibilities :</h5>
      </div>
      <div class="col-md-6 col-sm-6">
        <%= f.input :patient_right, wrapper_html: {:class=>""}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "nursing_record[patient_right]" }, :checked => @nursing_record.read_attribute(:patient_right) || "No" %>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="col-md-6 col-sm-6">
        <h5 class="title">Bed Side Rails :</h5>
      </div>
      <div class="col-md-6 col-sm-6">
        <%= f.input :bed_side_rails, wrapper_html: {:class=>""}, collection: ['No', 'Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'normal_abnormal btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html => {:name => "nursing_record[bed_side_rails]" }, :checked => @nursing_record.read_attribute(:bed_side_rails) || "No" %>
      </div>
    </div>
  </div>
  <div class="row mb10">
    <div class="col-md-3 col-sm-4">
      <h5 class="title">Information Given to Patient/Attendant :</h5>
    </div>
    <div class="col-md-6 col-sm-6">
      <%= f.text_field :information_patient, class: "form-control", placeholder: "" %>
    </div>
  </div>
</div>            
<script type="text/javascript">
    // Code For Save Medication Set
  jQuery(".save-medication-kit-btn").on('click', function(event) {
      event.preventDefault();
      jQuery(".save-medication-kit-btn").addClass("disabled");
        if (jQuery('.popover-save-medication-set').length) {
          jQuery('.popover-save-medication-set').popover('destroy');
        }

      var specialty_id= parseInt($("#nursing_record_specalityid").val())
      jQuery(this).popover({
        placement : 'left',
        title : 'New Medication Set',
        html : true,
        content : function(){
          jQuery.ajax({
            type: "GET",
            url: "/medication_kits/new_medication_kits_popup",
            data: {specialty_id: specialty_id, remote: "true" }
          }).done(function( data ) {
            jQuery('.popover.in .popover-content').empty();
            jQuery(".popover.in .popover-content").html(data);
            jQuery(".popover.in").css("top","-50px")
          });
        },
        template : '<div class="popover popover-save-medication-set" role="tooltip" style="width: 700px"><div class="arrow"></div><h5 class="popover-title"></h5><div class="popover-content"></div></div>'
      }).popover('show');
  });

  jQuery('#nursing_record_medicationsets').on('click', function() {
    if (this.value != undefined && this.value != "" ) {
      var params = { medicationkitid: this.value };
      jQuery.ajax({
        type: "GET",
        url: "/opd_records/fill_nursing_medication_data",
        data: {ajax: params, remote: "true" }
      });
    }
  });

  $("#search_medication_set").keyup(function(){
    let search_medication_set = $(this).val().trim().toLowerCase();    
    let medication_sets = $("#nursing_record_medicationsets option")
    if(search_medication_set == ""){
      $("#nursing_record_medicationsets option").show()
    }else{
      $("#nursing_record_medicationsets option").hide()
    }

    $("#nursing_record_medicationsets option").each(function(){
      let medication_set = $(this).text().toLowerCase();
      if(medication_set.indexOf(search_medication_set) > -1) {
        $(this).show()
      } else {
        $(this).hide();
      }
    })
  })

  // $('#nursing_record_view_store_id').select2();

  // let action = '<%= @pharmacy_prescription.present? %>'
  // if (action == 'true') {
  //   $('#nursing_record_view_store_id').prop('disabled', true)
  // }

  // $("#nursing_record_view_store_id").on("change",function(){
  //   $(".nursing_record_store_id").val($(this).val())
  //   $(".nursing_record_store_name").val($("#nursing_record_view_store_id option:selected").text())
  // }).trigger("change");

</script>