<div class="col-md-12 text-center">
  <div class="pcs-entity-title">
    <span><%= @form_name %> Summary</span>
  </div>
</div>
<% if @templatetype == "aldrete" %>
  <%= render partial: "/inpatients/nursing_records/aldrete_summary.html.erb" %>
<% elsif @templatetype == "pain" %>
  <%= render partial: "/inpatients/nursing_records/pain_summary.html.erb" %>
<% elsif @templatetype == "careplan" %>
  <%= render partial: "/inpatients/nursing_records/care_plan_summary.html.erb" %>
<% elsif @templatetype == "sedation" %>
  <%= render partial: "/inpatients/nursing_records/sedation_summary.html.erb" %>
<% end %>