<% if params[:action] == "new" %>
  <% action = (params[:action] == "new") %>  
<% end %>
<div class="modal-dialog" style="width:95%;">
  <div class="modal-content" style="letter-spacing: 0px;">
    <% if params[:action] == "new" %>
      <% @url = "/inpatient/nursing_records/create" %>
    <% else params[:action] == "edit" %>
      <% @url = "/inpatient/nursing_records/update" %>
    <% end %>
    <%= simple_form_for @nursing_record,   format: :js, remote: true, class: "form-control", url: @url, multipart: true do |f| %>
      <fieldset> 
        <div class="modal-header">
          <button type="button" class=" btn btn-default btn-sm close_nursing_modal" data-dismiss="modal">Close</button>
          <% if params[:action] == "edit" %>
            <%= f.submit "Update", class: " btn btn-success btn-sm submit_nursing" %>
          <%elsif params[:action] == "new" %>
            <%= f.submit "Save", class: "btn btn-success btn-sm submit_nursing" %>
          <% end %>
          <h4 class="modal-title"><%= @form_name %></h4>
        </div>
        <div class="modal-body">
          <%= f.hidden_field :id, value: @nursing_record.try(:id) %>
          <%= f.hidden_field :patient_id, value: @patient_id %>
          <%= f.hidden_field :admission_id, value: @admission_id %>
          <%= f.hidden_field :template_type, value: @templatetype %>
          <%= f.hidden_field :template_id, value: @templateid %>
          <%= f.hidden_field :specalityid, value: @specalityid %>
          <%= f.hidden_field :organisation_id, value: @current_user.organisation_id %>
          <%= f.hidden_field :facility_id, value: @current_facility.id %>
          <%= f.hidden_field :specalityname, value: @speciality_folder_name.downcase %>
          <%#= hidden_field_tag "nursing_record[store_id]", @nursing_record&.store_id, {:class => 'form-control nursing_record_store_id' } %>
          <%#= hidden_field_tag "nursing_record[store_name]", @nursing_record&.store_name, {:class => 'form-control nursing_record_store_name' } %>
          <%= hidden_field_tag "nursing_record[encountertypeid]", Global.ehrcommon.nursing.id %>
          <%= hidden_field_tag "nursing_record[encountertype]", Global.ehrcommon.nursing.abbr %>                
          <% if @templatetype == "aldrete" %>
            <%= render partial: "/inpatients/nursing_records/aldrete_form.html.erb", locals: { f: f } %>
          <% elsif @templatetype == "pain" %>
            <%= render partial: "/inpatients/nursing_records/pain_form.html.erb", locals: { f: f } %>
          <% elsif @templatetype == "careplan" %>
            <%= render partial: "/inpatients/nursing_records/care_plan_form.html.erb", locals: { f: f } %>
          <% elsif @templatetype == "sedation" %>
            <%= render partial: "/inpatients/nursing_records/sedation_form.html.erb", locals: { f: f } %>      
          <% end %>
        </div>
      </fieldset>
    <% end %>    
  </div>
</div>
<style type="text/css">
  .sign_in {
    border-right: 1px solid #ddd;
  }
  .sign_in h4, .time_out h4 {
    text-decoration: underline;
  }
  .submit_nursing{
    float: right;
    margin-right: 10px;
  }
  .close_nursing_modal{
    float: right;
    letter-spacing: 1px;
    font-size: 13px;
  }
</style>
