<div>
  <ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">PAIN SCALE</a></li>
    <li role="presentation"><a href="#Section2" aria-controls="home" role="tab" data-toggle="tab">MEDICATIONS</a></li>
    <li role="presentation"><a href="#Section3" aria-controls="home" role="tab" data-toggle="tab">OTHERS</a></li>
  </ul>
  <div class="tab-content assessment-form-body" style="background: #fff; height: 450px;">
    <div role="tabpanel" class="tab-pane fade in active" id="Section1">
      <div class="row">
        <div class="col-md-12 col-sm-12 text-center">
          <strong>Wong-Baker Faces Pain Rating Scale </strong>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-lg-2 col-sm-2">
          <div class="imageIcon">
            <i class="fa fa-smile-o" style="font-size: 45px; color:#63CF00;opacity: 1;"></i>
          </div>
          <div class="textIcon">
            <div class="rdio rdio-primary text-center">
              <%= f.radio_button :pain_rating,0,class:"pain_rating radio_0",:id=>"pain_rating_0",:checked => @nursing_record.read_attribute(:pain_rating) == 0 %>
              <label for="pain_rating_0">No Hurt(0) </label>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-2">
          <div class="imageIcon"><i class="fa fa-smile-o" style="font-size: 45px; color:#99E300;"></i></div>
          <div class="textIcon">
            <div class="rdio rdio-primary text-center">
              <%= f.radio_button :pain_rating,2,class:"pain_rating radio_2",:id=>"pain_rating_2",:checked => @nursing_record.read_attribute(:pain_rating) == 2 %>
              <label for="pain_rating_2">Hurts Little Bit(2) </label>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-2">
          <div class="imageIcon"><i class="fa fa-meh-o" style="font-size: 45px; color:#FCF800;"></i></div>
          <div class="textIcon">
            <div class="rdio rdio-primary text-center">
              <%= f.radio_button :pain_rating,4,class:"pain_rating radio_4",:id=>"pain_rating_4",:checked => @nursing_record.read_attribute(:pain_rating) == 4 %>
              <label for="pain_rating_4">Hurts Little More(4) </label>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-2">
          <div class="imageIcon"><i class="fa fa-meh-o" style="font-size: 45px; color:#EE9E3A;"></i></div>
          <div class="textIcon">
            <div class="rdio rdio-primary text-center">
              <%= f.radio_button :pain_rating,6,class:"pain_rating radio_6",:id=>"pain_rating_6",:checked => @nursing_record.read_attribute(:pain_rating) == 6 %>
              <label for="pain_rating_6">Hurts Even More(6) </label>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-2">
          <div class="imageIcon"><i class="fa fa-frown-o" style="font-size: 45px; color:#D65144;"></i></div>
          <div class="textIcon">
            <div class="rdio rdio-primary text-center">
              <%= f.radio_button :pain_rating,8,class:"pain_rating radio_8",:id=>"pain_rating_8",:checked => @nursing_record.read_attribute(:pain_rating) == 8 %>
              <label for="pain_rating_8">Hurts whole Lot(8) </label>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-2">
          <div class="imageIcon"><i class="fa fa-frown-o" style="font-size: 45px; color:#BE2B27;"></i></div>
          <div class="textIcon">
            <div class="rdio rdio-primary text-center">
              <%= f.radio_button :pain_rating,10,class:"pain_rating radio_10",:id=>"pain_rating_10",:checked => @nursing_record.read_attribute(:pain_rating) == 10 %>
              <label for="pain_rating_10">Hurts Worst(10)</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h5 class="text-center">1983 Wong-Baker Faces Foundation www.WongBakerFaces.org Used with permission </h5>
          <h4 class="text-center" style="margin-top: 10px; text-decoration: underline;">Instruction for Usage </h4>
          <h5 class="text-center">Explain to the patient that each face represents a person who has no pain(hurt) or some or a lot of pain </h5>
          <h5 class="text-center">Face 0 doesn't hurt at all,Face 2 hurt just a little bit, Face 4 hurt a little more ,Face 6 hurt even more, Face 8 hurt a whole lot, Face 10 hurt as much as you can imagine, although you don't have to be crying to this worst pain.  </h5>
          <h5> Ask the person to choose the fact that depicts the pain they are experiencing.</h5>
        </div>
      </div>

    </div>
    <div role="tabpanel" class="tab-pane fade in" id="Section2">
      <h4 style="text-decoration: underline;">Pain Management Drugs </h4>
      <div class="row">
        <%= render partial: "/inpatients/nursing_records/#{@speciality_folder_name.downcase}_notes/plan_medication.html.erb", locals: { f: f } %>
        <div class="col-md-2 col-sm-2">
          <!-- comment save medication kit will give later -->
          <div class="btn btn-success save-medication-kit-btn mb10"><i class="fa fa-hand-o-left"></i> Save Medication Set</div>
          <!-- medication set dropdown -->
          <div class="medication_set_dropdown_wrapper">
            <input type="hidden" name="opd_ipd" value="[444950001,0]" id="find_in_set_type" class="find_in_set_type">
            <input type="hidden" class="selected_specialty" value="<%= @specalityid %>">
            <%= render partial: "templates/shared/medication_set_dropdown" %>
          </div>
          <div class="mb5" style="border-bottom: solid"></div>
          <div style="padding:6px">
            <label for="medicationsets-label">Medication Sets</label>
            <input type="text" placeholder="Search" id="search_medication_set">
          </div>
          <div class="medication_kit_refresh">
            <%= f.input :medicationsets, collection: MedicationKit.where(:user_id => @current_user.id, specialty_id: @specialty_id.to_i, :set_type.in => [444950001, 0], :organisation_id => @current_user.organisation.id, level: "user").sort_by{|med_kit| med_kit.name.downcase}, input_html: { multiple: true, :size => '13', :style => 'height: 100%; width:100%', :class => 'form-control webview option_remover'}, as: :select,  :label => false,  :item_wrapper_class => 'form-control', :required => false %>
          </div>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade in" id="Section3">
      <div class="row mb20">
        <div class="col-md-3 col-sm-3 col-xs-3">
          <h5 class="title">Received by :</h5>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <div>
            <%= f.text_field :received_by, class: "form-control", placeholder: "" %>
          </div>
        </div>
      </div>
      <div class="row mb20">
        <div class="col-md-3 col-sm-3 col-xs-2">
          <h5 class="title">Patient Received from OT at :</h5>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
          <div>
            <%= text_field_tag "nursing_record[received_date]",@nursing_record.received_date.try(:strftime, "%d/%m/%Y") , { :class => "form-control received_date",readonly: true} %>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
          <div class="bootstrap-timepicker timepicker">
            <%= text_field_tag "nursing_record[received_time]", @nursing_record.received_time.try(:strftime, "%I:%M %p"), { :class => "form-control received_time"} %>
          </div>
        </div>
      </div>
      <div class="row mb20">
        <div class="col-md-3 col-sm-3 col-xs-3">
          <h5 class="title">Other Notes : </h5>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-9">
          <div class="">
            <%= f.text_area :pain_comment, class: "pain_comment form-control", placeholder:"Notes"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
  .heading{
    color: #444;
    font-size: 14px;
  }
  .received_time,.received_date{
    background: #fff !important;
    cursor: pointer !important;
  }
  .imageIcon{
    text-align: center;
  }
  .textIcon{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
</style>
<script type="text/javascript">
  $('.received_date').datepicker({dateFormat: "dd/mm/yy"})
  $('.received_time').timepicker({defaultTime: false, minuteStep: 5})
    // Code For Save Medication Set
  jQuery(".save-medication-kit-btn").on('click', function(event) {
    event.preventDefault();
    jQuery(".save-medication-kit-btn").addClass("disabled");
    if (jQuery('.popover-save-medication-set').length) {
      jQuery('.popover-save-medication-set').popover('destroy');
    }
    var specialty_id= parseInt($("#nursing_record_specalityid").val())
    jQuery(this).popover({
      placement : 'left',
      title : 'New Medication Set',
      html : true,
      content : function(){
        jQuery.ajax({
          type: "GET",
          url: "/medication_kits/new_medication_kits_popup",
          data: {specialty_id: specialty_id, remote: "true" }
        }).done(function( data ) {
          jQuery('.popover.in .popover-content').empty();
          jQuery(".popover.in .popover-content").html(data);
          jQuery(".popover.in").css("top","-50px")
        });
      },
      template : '<div class="popover popover-save-medication-set" role="tooltip" style="width: 700px"><div class="arrow"></div><h5 class="popover-title"></h5><div class="popover-content"></div></div>'
    }).popover('show');
  });
  jQuery('#nursing_record_medicationsets').on('click', function() {
    if (this.value != undefined && this.value != "" ) {
      var params = { medicationkitid: this.value };
      jQuery.ajax({
        type: "GET",
        url: "/opd_records/fill_nursing_medication_data",
        data: {ajax: params, remote: "true" }
      });
    }
  });
  $("#search_medication_set").keyup(function(){
    let search_medication_set = $(this).val().trim().toLowerCase();    
    let medication_sets = $("#nursing_record_medicationsets option")
    if(search_medication_set == ""){
      $("#nursing_record_medicationsets option").show()
    }else{
      $("#nursing_record_medicationsets option").hide()
    }

    $("#nursing_record_medicationsets option").each(function(){
      let medication_set = $(this).text().toLowerCase();
      if(medication_set.indexOf(search_medication_set) > -1) {
        $(this).show()
      } else {
        $(this).hide();
      }
    })
  })
</script>

