<div class="pain_score mb20">
  <% if @print_flag %>
    <div class="row text-center">
      <strong class="heading"><%= @form_name %></strong>
      <div class="summary-line-border"></div>
    </div>
  <% end %>
  <div class="row mb5">
    <div class="col-md-4 col-sm-4">
      <b> Pain Rating Scale :</b>
    </div>
    <div class="col-md-8 col-sm-8">
      <%= @nursing_record.pain_rating %>
    </div>           
  </div> 
  <div class="row mb5">
    <div class="col-md-4 col-sm-4">
      <b>Other Notes :</b>
    </div>
    <div class="col-md-8 col-sm-8">
      <%= @nursing_record.pain_comment %>
    </div>           
  </div> 
  <div class="row mb5">
    <div class="col-md-4"><b class="mb10">Patient Received from OT at :</b></div>
    <div class="col-md-3"><%=@nursing_record.received_date.try(:strftime, "%d/%m/%Y") %>&nbsp;&nbsp; <%=@nursing_record.received_time.try(:strftime, "%I:%M %p") %></div>
  </div>
  <div class="row mb5">
    <div class="col-md-4"><b>Received by :</b></div>
    <div class="col-md-3"><%=@nursing_record.received_by %></div>
  </div>
  <%= render partial: "inpatients/nursing_records/#{@nursing_record.specalityname}_notes/medications.html.erb" %>
  <% if @print_flag %>
    <div class="row">
      <div class="col-md-4 col-sm-4"><b>Name :</b></div>
      <div class="col-md-4 col-sm-4"><b>Signature :</b></div>
      <div class="col-md-4 col-sm-4"><b>Date & Time :</b></div>
    </div>
  <% end %>
</div>  
<style type="text/css">
  .heading{
    color: #444;
    font-size: 15px;
  }
</style>