<div class="sedation mb20">
  <% if @print_flag %>
    <div class="row text-center">
      <strong class="heading"><%= @form_name %></strong>
      <div class="summary-line-border"></div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-12 col-sm-12" style="margin-left: -10px;">
      <% if @nursing_record.has_sedation? %>
        <b style="text-decoration: underline;"> Sedation Records :</b>
        <div class="row mb10 check_font">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Sr No.</th>
              <th>Date/Time</th>
              <!-- <th>Time</th> -->
              <th>Resp rate/min</th>
              <th>BP</th>
              <th>Pulse</th>
              <th>Sedation Score</th>
              <th>Medication </th>
              <th>Bolus ml</th>
              <th>Bolus Mg</th>
              <th>O2 Saturation</th>
              <th>Comments</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <% @nursing_record.sedation.each.with_index do |sedation,i| %>
              <tr>
                <td><%= i+1 %></td>
                <td><%= sedation.date.try(:strftime, "%d/%m/%Y") %></br><%= sedation.time.try(:strftime, "%I:%M %p") %></td>
                <td><%= sedation.respiration_rate %></td>
                <td><%= sedation.blood_pressure %></td>
                <td><%= sedation.pulse %></td>
                <td><%= sedation.sedation_score %></td>
                <td><%= sedation.medication %></td>
                <td><%= sedation.bolus_ml %></td>
                <td><%= sedation.bolus_mg %></td>
                <td><%= sedation.o2_saturation %></td>
                <td><%= sedation.comments %></td>
                <td><%= sedation.name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% else %>
      	<h5 class="heading">No Sedation Records </h5>
      <% end %>
    </div>
  </div>
  <% if @print_flag %>
    <div class="row">
      <div class="col-md-6 col-sm-6"><b class="heading">Anaesthetist Sign & Name :------------------------</b></div>
      <div class="col-md-6 col-sm-6"><b class="heading">Date & Time :------------------------</b></div>
    </div>
  <% end %>
</div>
<style type="text/css">
	.heading{
    color: #444;
    font-size: 15px;
  }
  .check_font table tr th {
    padding: 2px 5px;
  }
  .check_font table tr td {
    padding: 2px 5px;
  }
</style>