<tr class="sedations">
  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" class="col-md-1 col-sm-1">
    <div class="form-group">
      <div class="input-group mb15">
        <div class="ui-widget">
          <%= hidden_field_tag "nursing_record[sedation_attributes][#{i}][_destroy]", "0", {:class => 'form-control' } %>
          <%= text_field_tag "nursing_record[sedation_attributes][#{i}][date]", nil, {:maxlength => 40, :class => 'form-control sedation_datepicker', :style =>'width:100%;',readonly:true} %>
        </div>
      </div>
    </div>
  </td>
  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" class="col-md-1 col-sm-1">
    <div class="form-group" style="width: 100%;">
       <div class="mb15 bootstrap-timepicker timepicker">
          <%= text_field_tag "nursing_record[sedation_attributes][#{i}][time]", Time.current.strftime("%I:%M %p"), { :class => "form-control form-control-custom sedation_timepicker ", id: "nursing_record_sedation_attributes_#{i}_time" } %>
       </div>
    </div>
  </td>
  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" class="col-md-1 col-sm-1">
    <div class="form-group">
      <div class="input-group mb15">
        <%= text_field_tag "nursing_record[sedation_attributes][#{i}][respiration_rate]",  nil, { :class => 'form-control',onkeypress:'validate(event)' } %>
      </div>
    </div>
  </td>
  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" class="col-md-1 col-sm-1">
    <div class="form-group">
      <div class="input-group mb15">
        <%= text_field_tag "nursing_record[sedation_attributes][#{i}][blood_pressure]",  nil, { :class => 'form-control' } %>
        <!-- ,onkeypress:'validate(event)' -->
      </div>
    </div>
  </td>
  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" class="col-md-1 col-sm-1">
    <div class="form-group">
      <div class="input-group mb15">
        <%= text_field_tag "nursing_record[sedation_attributes][#{i}][pulse]",  nil, { :class => 'form-control',onkeypress:'validate(event)',onkeypress:'validate(event)' } %>
      </div>
    </div>
  </td>
  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" class="col-md-1 col-sm-1">
    <div class="form-group">
      <div class="input-group mb15">
        <%= text_field_tag "nursing_record[sedation_attributes][#{i}][sedation_score]", nil, { :class => 'form-control' } %>
      </div>
    </div>
  </td>
  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" class="col-md-1 col-sm-1">
    <div class="form-group">
      <div class="input-group mb15">
        <%= text_field_tag "nursing_record[sedation_attributes][#{i}][medication]", nil , { :class => 'form-control' } %>
      </div>
    </div>
  </td>
  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" class="col-md-1-shared col-sm-1-shared">
    <div class="form-group">
      <div class="input-group mb15">
        <%= text_field_tag "nursing_record[sedation_attributes][#{i}][bolus_ml]", nil, { :class => 'form-control',onkeypress:'validate(event)' } %>
      </div>
    </div>
  </td>
  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" class="col-md-1-shared col-sm-1-shared">
    <div class="form-group">
      <div class="input-group mb15">
        <%= text_field_tag "nursing_record[sedation_attributes][#{i}][bolus_mg]", nil, { :class => 'form-control',onkeypress:'validate(event)' } %>
      </div>
    </div>
  </td>
  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" class="col-md-1 col-sm-1">
    <div class="form-group">
      <div class="input-group mb15">
        <%= text_field_tag "nursing_record[sedation_attributes][#{i}][o2_saturation]", nil, { :class => 'form-control' } %>
      </div>
    </div>
  </td>
  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" class="col-md-1 col-sm-1">
    <div class="form-group">
      <div class="input-group mb15">
        <%= text_field_tag "nursing_record[sedation_attributes][#{i}][comments]", nil, { :class => 'form-control' } %>
      </div>
    </div>
  </td>
  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" class="col-md-1 col-sm-1">
    <div class="form-group">
      <div class="input-group mb15">
        <%= text_field_tag "nursing_record[sedation_attributes][#{i}][name]", nil, { :class => 'form-control' } %>
      </div>
    </div>
  </td>
  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;" class="col-md-1 col-sm-1">
    <div class="form-group">
      <a id="addnewsedationbutton1" class="btn btn-xs btn-primary btn-square" href="javascript:;" name="addnewsedationbutton" ><span class="glyphicon glyphicon-plus-sign"></span></a>
      <a id="removesedationbutton1" class="btn btn-xs btn-primary btn-danger" href="javascript:;" name="removesedationbutton" ><span class="glyphicon glyphicon-remove"></span></a>
    </div>
  </td>
</tr>
<script type="text/javascript">
  $('.sedation_timepicker').timepicker({minuteStep: 5});
</script>