<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog appointment-dialog" style="width:55%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Add Consultancy Type</h4>
    </div>
    <div class="modal-body">
      <% if @past_appointment_fields.length > 0 %>
        <div class="row mb20 last-appointment-details">
          <div class="col-md-12">
            <b>Past Visits</b>
            <ul>
              <% @past_appointment_fields.reverse.each do |appointment| %>
                <li style="color: #354670;">
                  <b>
                    <%= past_visit(appointment) %>
                    (<%= appointment[:appointment_date].try(:strftime, "%d %b %Y") %>)&emsp;
                    <label class="label label-primary" style="background: <%= appointment[:appointment_type_color] %>"><%= appointment[:appointment_type] %></label>
                    <% if appointment[:consultancy_type].present? %>
                      <% is_free = (appointment[:consultancy_type] == "h1.001") %>
                      <label class="label label-primary" style="background: <%= is_free ? "#d9534f" : "#1CAF9A" %>">
                        <%= is_free ? "Free" : "Paid"  %>
                        <%= " - #{appointment[:consultancy_type_reason]}" if appointment[:consultancy_type_reason].present? %>
                      </label>
                    <% end %>
                  </b>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      <div class="row mb10">
        <div class="col-md-3">
          <b>Consultancy Type</b>
        </div>
        <div class="col-md-3">
          <div class="rdio rdio-primary" style="margin-right:-35px">
            <input id="consultancy_type_free" class="appointment_consultancy_type" name="consultancy_type" type="radio" value="h1.001" <%= 'checked' if @appointment.consultancy_type == "h1.001" %> />
            <label for="consultancy_type_free">Free</label>
          </div>
        </div>
        <div class="col-md-3">
          <div class="rdio rdio-primary" style="margin-right:-35px">
            <input id="consultancy_type_paid" class="appointment_consultancy_type" name="consultancy_type" type="radio" value="h1.002" <%= 'checked' if @appointment.consultancy_type == "h1.002" %> />
            <label for="consultancy_type_paid">Paid</label>
          </div>
        </div>
        <div class="col-md-12 col-md-offset-3 consultancy-rdio-error" style="color:red;"></div>
      </div>
      <div class="row mb10">
        <div class="col-md-6">
          <b>Consultancy Type Reason</b>
          <%= text_field_tag "consultancy_type_reason", @appointment.consultancy_type_reason, class: "form-control p7_10 consultancy_type_reason", placeholder: "Reason" %>
          <span class="consultancy_type_reason_error" style="color:red;"></span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= submit_tag "Save", class: "btn btn-success btn-consultancy-type", data: { 'disable-with': 'Please Wait...' } %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
