<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog appointment-dialog" style="width:85%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Edit <%= @appointment_label %> Form</h4>
    </div>
    <%= form_for @appointment, remote: true, html: { id: 'edit-appointment-form', class: "appointment-form" } do |appointment| %>
      <div class="modal-body" style="padding:5px 10px;background: #eee;">
        <div class="row">
          <% if @organisation_setting.time_slots_enabled && @type == "appointment"%>
            <div class="col-sm-6">
              <%= render partial: 'appointments/form.html.erb' %>
            </div>
            <div class="col-sm-6">
              <% if @appointment.arrived == false %>
                <%= render partial: 'appointments/user_calendar.html.erb' %>
              <% end %>
            </div>
          <% else %>
            <div class="col-sm-12">
              <%= render partial: 'appointments/form.html.erb' %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <%= appointment.submit "Save", class: "btn btn-success", data: { 'disable-with': 'Please Wait...' }, :onclick => 'appointment_page()' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>

<style type="text/css">
  /* Hack For Edit Case Form Height */
  /*.appointment-form-body {*/
    /*height: 450px !important;*/
  /*}*/
</style>