<div id="appointmentWizard" class="basic-wizard">
  <% if params[:action] == "new" %>
    <ul class="nav nav-pills nav-justified">
      <li role="presentation" class="active"><a href="#appointment-details" data-toggle="tab"><%= @appointment_label %> Details</a></li>
    </ul>
  <% end %>
  <div class="tab-content appointment-form-body">
    <div class="tab-pane active" id="appointment-details">
      <% if @organisation_setting.time_slots_enabled %>
        <% if @type == "appointment" %>
          <%= render partial: "appointments/form/appointment_type_form.html.erb" %>
        <% else %>
          <%= render partial: "appointments/form/appointment_form.html.erb" %>
        <% end %>
      <% else %>
        <%= render partial: "appointments/form/appointment_form.html.erb" %>
      <% end %>
    </div>
  </div>
</div>

<style type="text/css">
  <% if @appointment_list_view.nil? || @appointment_list_view.try(:current_state) == "Scheduled" %>
    .appointment-datepicker, .appointment-timepicker  {
      cursor: pointer !important;
      background: #fff !important;
    }
  <% end %>
</style>

<script type="text/javascript">
  <%= render partial: 'form.js.erb' %>
</script>