<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog appointment-dialog" style="width:99%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <% if params[:patient_id].present? || params[:camp_patient_id].present?%>
        <h4 class="modal-title"><%= @appointment_label %> Form</h4>
      <% else %>
        <h4 class="modal-title">Patient Registration & <%= @appointment_label %> Form</h4>
      <% end %>
    </div>
    <%= simple_form_for @patient, url: '/appointments', method: "post", format: :js, remote: true, multipart: true, html: { class: "patient-form appointment-form", id: "new-appointment-form" } do |f| %>
      <div class="modal-body" style="padding:5px 5px;background: #eee;">
        <div class="row">


          <div class="col-sm-7">

            <div id="patient-form" <%= "style=display:none;" if params[:patient_id].present? || params[:camp_patient_id].present?%> >
              <%= render partial: 'patients/form.html.erb', locals: { f: f } %>
            </div>
            <% if params[:patient_id].present? || params[:camp_patient_id].present?%>
              <div id="patient-view">
                <%= render partial: 'patients/view.html.erb' %>
              </div>
            <% end %>

            <% if @type == "appointment" %>
              <%= render partial: 'appointments/form.html.erb',locals: { f: f } %>
            <% end %>
          </div>

          <div class="col-sm-5">
            <% if @type == "appointment" %>
              <%= render partial: 'appointments/user_calendar.html.erb' %>
            <% else %>
              <%= render partial: 'appointments/form.html.erb',locals: { f: f } %>
            <% end %>
          </div>
        </div>




      </div>
      <div class="modal-footer">
        <%= submit_tag "Save", class: "btn btn-success", data: { 'disable-with': 'Please Wait...' }, onclick: 'appointment_page()' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>

<style type="text/css">
  .btn-toggle-patient-form:focus, .btn-toggle-patient-view:focus {
    outline:0 !important;
  }

  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background: #fcfcfc !important;
    color: #333 !important;
  }
</style>

<script type="text/javascript">
  $(".btn-toggle-patient-form").on('click', function(e){
    e.preventDefault();
    $("#patient-form").show()
    $("#patient-view").hide()
  })
</script>