<img class="mySlides" data-image-id=<%= @current_image.id %> id="zoom_01" src="<%= @current_image.asset_path_url %>" data-zoom-image="<%= @current_image.asset_path_url %>">
<% @all_current_investigation_uploads.each_with_index do |upload,i| %>
    <img class="mySlides" data-image-id=<%= upload.id %> id="zoom_0<%= i+2%>" src="<%= upload.asset_path_url %>" data-zoom-image="<%= upload.asset_path_url %>">
<% end %>
<% if @all_current_investigation_uploads.count > 0 %>
  <button class="button black display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="button black display-right" onclick="plusDivs(1)">&#10095;</button>
<% end %>