<div class="modal-dialog modal-lg" style="width: 95%">
  <div class="modal-content">
    <%= simple_form_for(@ehr_investigation_record,as: :ehr_investigation_record,:url => {:controller => "records",:action => @action}, :remote => true) do |f| %>
        <%= f.error_notification %>
        <div class="modal-header hidden-print">
          <div class="pull-right">
            <%= f.button :submit,class: "btn btn-sm btn-success" %>
            <button aria-hidden="true" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
          </div>

          <div class="text-center">
            <% if @form == "form" %>
                <h4 class="modal-title">New Record</h4>
            <%else%>
                <h4 class="modal-title">Edit Record</h4>
            <% end %>
          </div>
        </div>

        <div class="modal-body ">
          <div class="row">
            <div class="col-md-9">
              <div class="row text-left">
                <div class="col-md-4">
                  <b style="color:#000;">Name:</b>  <%= @investigation_advised.patient.fullname %>
                </div>
                <div class="col-md-4">
                  <b style="color:#000;">Age/Sex:</b> <%if @patient.calculate_age.present? || @patient.gender.present?%><%= @patient.calculate_age %>/<%= @patient.gender %><% else %> Unavailable<% end %>
                </div>
                <div class="col-md-4">
                  <b style="color:#000;">Patient ID  :</b> <%= @investigation_advised.patient.patient_identifier_id %>
                </div>
                <!--<div class="col-md-2">-->
                  <!--<b style="color:#000;">INV Date:</b> 13 Jan'17-->
                <!--</div>-->
              </div>
              <hr style="margin:10px;">
                <% if @form == "form" %>
                    <%= render partial: 'new_form',locals: {f: f,lab_test: @investigation_test,other_test: @investigation_advised} %>
                <% else %>
                    <%= render partial: 'edit_form',locals: {f: f,lab_test: @ehr_investigation_record} %>
                <% end %>
              </div>
              <%= render 'template_sidebar' %>
          </div>
        </div>
        <div class="modal-footer hidden-print">
          <p style="color: red; float: left;">** Note: If Result values are not filled, it won't reflect in print.</p>
        </div>
    <% end %>
  </div>

</div>
<style>
    .circle-text
    {
        border-radius: 100%;
        background-color: #026AA7;
        padding: 7px 10px;
        font-size: 12px;
        color: white;
        font-weight: bold;
    }
</style>

<script>
    $(".testing-tooltip").tooltip();
//    $('.last-updated').on('hover',function(){
//        $('.hidden-history').show();
//    })
    $(".last-updated").on({
        mouseover: function () {
            $(".hidden-history").show();
        },

        mouseout: function () {
            $(".hidden-history").hide();
        }
    });
    $(".hidden-history").on({
        mouseover: function () {
            $(".hidden-history").show();
        },

        mouseout: function () {
            $(".hidden-history").hide();
        }
    });
    $('.datepicker').datepicker({
       format: 'dd/mm/yy'
    });
    $('.template-sidebar').css('height','250px');

</script>