<%= f.hidden_field :patient_id,:value => @investigation_advised.patient_id %>
<%= f.hidden_field :appointment_id,:value => @investigation_advised.appointment_id %>
<%= f.hidden_field :requested_by,:value => @investigation_advised.requested_by %>
<%= f.hidden_field :advised_by,:value => @investigation_advised.advised_by %>
<%= f.hidden_field :advised_at,:value => @investigation_advised.advised_at %>
<%= f.hidden_field :performed_by,:value => @investigation_advised.performed_by %>
<%= f.hidden_field :performed_at, value: @investigation_advised.performed_at %>
<%= f.hidden_field :opd_record_id,:value => @investigation_advised.opd_record_id %>
<%= f.hidden_field :facility_id,:value => current_facility.id %>
<%= f.hidden_field :investigation_full_code,:value => @investigation_advised.investigation_full_code %>
<%= f.hidden_field :name,:value => @investigation_advised.name %>
<%= f.hidden_field :organisation_id,:value => @investigation_advised.organisation_id %>
<%= f.hidden_field :investigation_advised_id,:value => @investigation_advised.id %>
<%= f.hidden_field :_type,:value => @type %>

<div class="row" style="margin-left: 20px">
  <h3 class="col-md-4">
    INVESTIGATION
  </h3>

  <% if @type == 'EhrInvestigation::LaboratoryRecord' %>
      <h5 class="col-md-4 text-center">
        <strong>RESULT</strong>
      </h5>

      <h5 class="col-md-4 text-center">
        <strong>NORMAL RANGE</strong>
      </h5>
  <% else %>
      <h5 class="col-md-7 text-center">
        <strong>FINDINGS</strong>
      </h5>
  <% end %>

</div>
    <% if @type.to_s == "EhrInvestigation::LaboratoryRecord" %>
        <%= render partial: 'ehr_investigation/records/laboratory/lab_new_form',locals: {f: f,lab_test: lab_test} %>
    <% elsif @type.to_s == "EhrInvestigation::RadiologyRecord" %>
        <%= render partial: 'ehr_investigation/records/radiology/radiology_new_form',locals: {f: f,lab_test: other_test} %>
    <% elsif @type.to_s == "EhrInvestigation::OphthalmologyRecord" %>
        <%= render partial: 'ehr_investigation/records/ophthalmology/ophthal_new_form',locals: {f: f,lab_test: other_test} %>
    <% end %>

    <%= f.fields_for :record_history do |record| %>
        <%= record.hidden_field :user_id,:value => current_user.id.to_s%>
        <%= record.hidden_field :action,:value => 'C'%>
        <%= record.hidden_field :actiontime,:value => Time.current%>
        <%= record.hidden_field :template_type,:value => @type%>
    <%end%>



<!--<div class="form-inputs">-->
<!--<%#= f.input :test,class: "form-control" %>-->
<!--<%#= f.input :patient_id,class: "form-control" %>-->
<!--<#%= f.input :test_category,class: "form-control" %>-->
<!--</div>-->



