<div class="row mb10 mt10" style="border:1px solid #eee;">
  <div class="row">
    <div class="col-md-2" >
      <b>Patient Name</b><br>
    </div>
    <div class="col-md-4">
      : <b><%= @patient.fullname.upcase %></b>
    </div>
    <div class="col-md-2" >
      <b>MR No.</b><br>
    </div>
    <div class="col-md-4">
      : <% if !@poi.blank? %>
          <% if @poi.mr_no.present? %>
              <%= @poi.mr_no %>
          <% end %>
        <% end %><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <b>Patient ID </b><br>
    </div>
    <div class="col-md-4">
      : <%= @pat_org_id %><br>
    </div>
    <div class="col-md-2">
      <b>Advised On </b><br>
    </div>
    <div class="col-md-4">
      : <%= record.advised_at.strftime("%d %b %Y") %><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <b>Mobile </b><br>
    </div>
    <div class="col-md-4">
      : <%= @patient.mobilenumber %><br>
    </div>
    <div class="col-md-2">
      <b>Created On </b><br>
    </div>
    <div class="col-md-4">
      : <%= record.created_at.strftime("%d %b %Y") %><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <b>Age / Gender  </b><br>
    </div>
    <div class="col-md-4">
      : <%if @patient.calculate_age.present? || @patient.gender.present?%><%= @patient.calculate_age %>/<%= @patient.gender %><% else %> Unavailable<% end %><br>
    </div>
    <div class="col-md-2">
      <b>Performed By </b><br>
    </div>
    <div class="col-md-4">
      : <b><%= User.find_by(id: record.performed_by).fullname %></b><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2" >
      <b>Advised by</b><br>
    </div>
    <div class="col-md-4">
      : <b><%= User.find_by(id: record.advised_by).try(:fullname) %></b><br>
    </div>
    <div class="col-md-2">
      <b>Facility </b>
    </div>
    <div class="col-md-4">
      : <%= current_facility.name %>
      <br>
    </div>
  </div>
</div>