<div class="modal-dialog modal-lg" style="width: 90%;"> <!-- 80% -->
  <div class="modal-content">
    <div class="modal-header hidden-print">
      <div class="pull-right">
        <button aria-hidden="true" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
      </div>
      <div class="text-center">
        <h4 class="modal-title">
          <%= @investigation_detail.name %>
          <% if @investigation_detail.try(:investigation_side).present? %>
              <% if @investigation_detail.try(:investigation_side) == '40638003' %>
                (B/E)
              <% elsif @investigation_detail.try(:investigation_side) == '18944008' %>
                (R)
              <% elsif @investigation_detail.try(:investigation_side) == '8966001' %>
                (L)
              <% end %>
            <% end %>
            <% if @investigation_detail.try(:radiology_options).present? %>
              <% if @investigation_detail.try(:radiology_options) == '90084008' %>
                w/o contrast
              <% elsif @investigation_detail.try(:radiology_options) == '51619007' %>
                with contrast
              <% elsif @investigation_detail.try(:radiology_options) == '429859008' %>
                with complete screening
              <% elsif @investigation_detail.try(:radiology_options) == '431985004' %>
                screening of other region
              <% elsif @investigation_detail.try(:radiology_options) == '22400007' %>
                3D-reconstruction
              <% end %>
            <% end %>
        </h4>
      </div>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="col-md-2">
          <div class="row mini-images" style="overflow: auto;">
            <div class="col-md-12 text-center">
              <img src="<%= @current_image.asset_path_url %>" data-zoom-id='zoom_01' data-image-id='<%= @current_image.id %>' class="zoom_01 img-responsive image-mini-clickable active_image" data-rel="prettyPhoto" alt="">
              <p style="margin: 5px 0;"><%= @current_image.name %></p>
            </div>
            <% @all_current_investigation_uploads.each_with_index do |upload,i| %>
              <div class="col-md-12 text-center">
                <img src="<%= upload.asset_path.url %>" data-zoom-id='zoom_0<%= i+2 %>' data-image-id='<%= upload.id %>' class="zoom_0<%= i+2 %> img-responsive image-mini-clickable" data-rel="prettyPhoto" alt="">
                <p style="margin: 5px 0;"><%= upload.name %></p>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-md-7" style="border-left:1px solid #eee;border-right:1px solid #eee">
          <div class="row content display-container photo-body" style="background: black;margin:0 5px;">
            <%= render 'image_body' %>
          </div>
        </div>
        <div class=" col-md-3 details-body">
          <!-- Show Photo details -->
          <%= render partial: 'photo_detail',locals: {current_image: @current_image} %>
        </div>
      </div>
      <% if current_user.has_role?(:doctor) %>
        <hr style="margin:5px;">
        <div class="row">        
          <div class="col-md-12">
            <div class="row mt10">
              <div class="col-md-2">
                Doctor's Remark :
              </div>
              <div class="col-md-4">
                <textarea placeholder="Doctor's Remark" class="form-control"></textarea>
              </div>
              <div class="col-md-2">
                <button class="btn btn-success save-doctors-comment">Save</button>
              </div>
              <!-- <div class="col-md-6">
                Uploader's Remark :
                <div class="input-group">
                  <input type="text" name="uploader_comment" class="form-control" placeholder="Uploader's Remark" style="padding: 8px;">
                  <span class="input-group-btn">
                    <%#= button_tag type: 'submit', class: "btn btn-default", id: "create-comment" do %>Save<%# end %>
                  </span>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="modal-footer hidden-print">
      <div class="form-actions">
      </div>
    </div>
  </div>
</div>

<style>
  .photo-body{
      background-color: #000;
      height: 100%;
      min-height: 480px;
      position: relative;
      text-align: center;
      -webkit-user-select: none;
      line-height: 520px;
  }
  .photo-body img{
      max-width: 100%;
      max-height: 100%;
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
  }
  .zoomContainer{
      z-index: 9999;
  }
  .zoomWindow{
      z-index: 9999;
  }
  .black, .hover-black:hover {
      color: #fff!important;
      background-color: #000!important;
  }
  .display-left {
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(0%,-50%);
      -ms-transform: translate(-0%,-50%);
  }
  .button {
      height: 100%;
      min-height: 480px;
      border: none;
      display: inline-block;
      outline: 0;
      padding: 8px 16px;
      vertical-align: middle;
      overflow: hidden;
      text-decoration: none;
      color: inherit;
      background-color: inherit;
      text-align: center;
      cursor: pointer;
      white-space: nowrap;
  }
  .display-right {
      position: absolute;
      top: 50%;
      right: 0%;
      transform: translate(0%,-50%);
      -ms-transform: translate(0%,-50%);
  }

  .active_image {
    box-shadow: 0 0 12px #000;
  }

</style>
<% if @all_current_investigation_uploads.count > 0 %>
  <script>
    var slideIndex = 1;
    showDivs(slideIndex);
    function plusDivs(n) {
        showDivs(slideIndex += n);
        var current_image_id = $('.mySlides').siblings('img:visible').data('image-id')
        var zoom_image_id = $('.mySlides').siblings('img:visible').attr('id')
        $(".mini-images").find('.image-mini-clickable').removeClass('active_image')
        $(".mini-images").find('.' + zoom_image_id).addClass('active_image')
        $.ajax({
            url: '/investigation/records/fetch_photo_details',
            data: {current_image_id: current_image_id}
        });
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex-1].style.display = "block";
    }

    function checkKey(e) {
        e = e || window.event;
        if ((e.keyCode == 37 || e.keyCode == 38 ) && e.target.nodeName.toLowerCase() != 'input'){
            plusDivs(-1)
        }else if((e.keyCode == 39 || e.keyCode == 40 ) && e.target.nodeName.toLowerCase() != 'input'){
            plusDivs(1)
        }
    }

    document.onkeydown = checkKey;


    $(".image-mini-clickable").on('click', function(){
      $(".mini-images").find('.image-mini-clickable').removeClass('active_image')
      $(this).addClass('active_image')
      var small_image_id = $(this).attr('data-zoom-id')
      $('.mySlides').css('display','none')
      $('#'+small_image_id).css('display','block')
      var current_image_id = $(this).attr('data-image-id')
      $.ajax({
          url: '/investigation/records/fetch_photo_details',
          data: {current_image_id: current_image_id}
      });
    })


    $(".mini-images").css('height', $(".photo-body").height() + 'px')

  </script>
<% end %>



<% if false %>
  <div class="row mt10">
    <div class="col-md-8">
      <div class="row mini-images">
        <div class="col-md-2 text-center">
          <img src="<%= @current_image.asset_path_url %>" data-zoom-id='zoom_01' data-image-id='<%= @current_image.id %>' class="zoom_01 img-responsive image-mini-clickable active_image" data-rel="prettyPhoto" alt="">
          <b><%= @current_image.name %></b>
        </div>
        <% @all_current_investigation_uploads.each_with_index do |upload,i| %>
          <div class="col-md-2 text-center">
            <img src="<%= upload.asset_path.url %>" data-zoom-id='zoom_0<%= i+2 %>' data-image-id='<%= upload.id %>' class="zoom_0<%= i+2 %> img-responsive image-mini-clickable" data-rel="prettyPhoto" alt="">
            <b><%= upload.name %></b>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>