<div class="col-md-3 template-sidebar" style="border-left: 1px solid #e5e5e5;">
  <%history_count = @ehr_investigation_record.record_histories.count %>
  <% if history_count >= 1 and @action == 'update'%>
      <h3 style="border-bottom: 1px solid #e5e5e5">Previous Readings</h3>
      <% if @previous_values and @previous_values.count > 0 %>
          <div class="previous-reading" style="height: 350px;overflow-y: auto;overflow-x: hidden" >
            <div class="row" style="border-bottom: 1px solid #e5e5e5">
              <div class="col-md-2">Sr</div>
              <div class="col-md-6">Date</div>
              <!--<div class="col-md-3">Loinc</div>-->
              <div class="col-md-4">Reading</div>
            </div>
            <% @previous_values.each_with_index do |prev_val,i|%>
                <% if !prev_val.investigation_val.blank? %>
                    <div class="row">
                      <div class="col-md-2"><%= i+1 %>.</div>
                      <div class="col-md-6"><%= prev_val.created_at.strftime("%d/%m/%y") %></div>
                      <!--<div class="col-md-3"><%#=  prev_val.try(:loinc_code)%></div>-->
                      <%#= prev_val.panel_records.pluck(:investigation_name) %>
                      <div class="col-md-4"><%=  prev_val.investigation_val%></div>
                    </div>
                <% end %>
            <%end%>
          </div>
      <%else%>
          <h5>No Previous Records</h5>
      <%end%>
      <div class="row hidden-history" style="display: none;height: 65px;overflow: auto;position: absolute;top: 180px;">
        <div class="col-md-offset-2 col-md-9">
          <% if history_count > 1 %>
              <%@ehr_investigation_record.record_histories.each_index.each_cons(history_count-1) do |history,i|  %>
                  <p class="pull-right" ><%= @ehr_investigation_record.record_histories[i].user.try(:fullname)%>  <%= @ehr_investigation_record.record_histories[i].actiontime.try(:strftime,"%d %b'%y %I:%m %P")%></p>
              <%end %>
          <%end %>
        </div>
      </div>
      <div class="row last-updated" style="position: absolute;top: 240px;">
        <div class="col-md-3">
          <button style='padding: 0;' class="btn btn-link">Last Updated</button>
        </div>
        <div class="col-md-9">
          <p class="pull-right" ><%= @ehr_investigation_record.record_histories[history_count-1].user.try(:fullname)%>  <%= @ehr_investigation_record.record_histories[history_count-1].actiontime.try(:strftime,"%d %b'%y %I:%m %P")%></p>
        </div>
      </div>
      <p class="testing-tooltip" style='position: absolute;top: 280px;'><span class="testing-tooltip circle-text" title="Created By">C</span>   <%= @ehr_investigation_record.record_histories[0].user.fullname%>  <%= @ehr_investigation_record.record_histories[0].actiontime.strftime("%d %b'%y %I:%m %P")%></p>

  <% else %>
      <h3 style="border-bottom: 1px solid #e5e5e5">Previous Readings</h3>
      <% if @previous_values and @previous_values.count > 0 %>
          <div class="previous-reading" style="height: 350px;overflow-y: auto;overflow-x: hidden" >
            <div class="row" style="border-bottom: 1px solid #e5e5e5">
              <div class="col-md-2">Sr</div>
              <div class="col-md-6">Date</div>
              <!--<div class="col-md-3">Loinc</div>-->
              <div class="col-md-4">Reading</div>
            </div>
            <% @previous_values.each_with_index do |prev_val,i|%>
                <% if prev_val.panel_records.count > 0  %>
                    <div class="row" style="border-bottom: 1px solid #e5e5e5">
                      <div class="col-md-2"><%= i+1 %>.</div>
                      <div class="col-md-4"><%= prev_val.created_at.strftime("%d/%m/%y") %></div>
                    </div>
                    <% prev_val.panel_records.each do |panel| %>
                        <% if !panel.investigation_val.blank?  %>
                            <div class="row" style="border-bottom: 1px solid #e5e5e5">
                              <div class="col-md-offset-2 col-md-6" title='<%= panel.investigation_name %>' style="overflow: hidden;white-space: nowrap; text-overflow: ellipsis;">
                                <%= panel.investigation_name %>
                              </div>
                              <div class="col-md-4" title="<%= panel.investigation_val %>" style="overflow: hidden;white-space: nowrap; text-overflow: ellipsis;">
                                <%= panel.investigation_val %>
                              </div>
                            </div>
                        <% end %>
                    <% end  %>
                <% else %>
                    <div class="row">
                      <div class="col-md-2"><%= i+1 %>.</div>
                      <div class="col-md-4"><%= prev_val.created_at.strftime("%d/%m/%y") %></div>
                      <!--<div class="col-md-3"><%#=  prev_val.try(:loinc_code)%></div>-->
                      <div class="col-md-6"><%=  prev_val.investigation_val%></div>
                    </div>
                <% end %>
            <%end%>
          </div>
      <%else%>
          <h5>No Previous Records</h5>
      <%end%>
  <% end%>
</div>

