<div class="row filemanager mt5">
  <% inv_upload.each_with_index do |upload,i| %>
      <div class="col-md-2 col-sm-3" oncontextmenu="return false;">
        <div class="thmb" style="margin-bottom: 0px;">
          <div class="btn-group fm-group"  style="display: none;">
            <button type="button" class="btn btn-xs btn-default dropdown-toggle fm-toggle" data-toggle="dropdown" style="position: absolute;left: -1px;top: -8px">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu fm-menu" role="menu">
              <li><%= link_to paperrecords_download_asset_path(:id => upload.id, format: "application/doc") do %>
                <i class="fa fa-download"> </i>Download
                <%end%>
              </li>
              <li><%= link_to edit_paperrecords_path(:id => upload.id),:data =>  {:remote=>true}  do %>
                    <i class="fa fa-pencil-alt"> </i>Edit
                <%end%>
              </li>
              <li><%= link_to paperrecords_path(:id =>  upload.id),:data =>  {:remote=>true,:action => 'destroy',:method => :delete, :confirm => 'Are you sure want to delete this?'} do %>
                    <i class="fa fa-trash-alt"> </i>Delete
                <%end%>
              </li>
            </ul>
          </div>
          <div class="thmb-prev" style="height: 85px;">
            <% if upload.content_type.include?'pdf'%>
              <div id="dialog" style="display: none">
                <%= link_to upload.asset_path_url,target: "_blank" do %>
                  <%= image_tag "photos/pdf-page.png", :class => "img-responsive",:style=>"height: 100px" %>
                <% end %>
              </div>  
            <% elsif upload.extension.include?'doc'%>
              <div id="dialog" style="display: none">
                <%= link_to upload.asset_path_url do %>
                    <%= image_tag "photos/doc.ico", :class => "img-responsive",:style=>"height: 100px" %>
                <% end %>
              </div>  
            <% else %>
              <div id="dialog" style="display: none">
                <a href="/investigation/records/upload_details?investigation_id=<%= investigation.id.to_s%>&clicked_image_id=<%= upload.id%>"  class="file" data-remote="true">
                  <img style="height: 75px;" src="<%= upload.asset_path_url %>" class="img-responsive" data-rel="prettyPhoto" alt="">
                </a>
              </div>  
            <% end %>
          </div>
          <h5 class="fm-title text-center"><a href="/investigation/records/upload_details?investigation_id=<%= investigation.id.to_s%>&clicked_image_id=<%= upload.id%>"  class="file" data-remote="true"><%= upload.name %></a></h5>
        </div>
      </div>
  <% end %>
</div>


<style>
    .thmb{
        padding: 0 !important;
        -webkit-box-shadow: none !important;
    }
    .thmb-prev {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 90px;
        height: 130px;
    }

    .thmb-prev:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }


</style>
<script>
    jQuery('.thmb').hover(function(){
        var t = jQuery(this);
        t.find('.ckbox').show();
        t.find('.fm-group').show();
    }, function() {
        var t = jQuery(this);
        if(!t.closest('.thmb').hasClass('checked')) {
            t.find('.ckbox').hide();
            t.find('.fm-group').hide();
        }
    });
    $(document).ready(function(){
        $('.ckbox').change(function() {
            if (this.checked)
                $(this).css('display', 'block');

        }).change();

    });
</script>
