<style>
    .paper_view {
        box-shadow: 0 0 6px #ccc;
        max-width: 90%;
        padding: 2px 0.400000in 0 0.550000in;
        font-family: 'Open Sans';
        padding-bottom: 2px;
    }
</style>
<div class="container-fluid">
  <div class="row mb5">
    <span style="font-size:12px;" class="text-center col-md-12"><b>Investigation Summary</b></span>
  </div>
  <%= render partial: 'patient_info.html.erb',locals: {record: @ehr_investigation_record} %>

  <div class="row mb10">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-5 text-left"><strong>INVESTIGATION </strong></div>
        <%if !['EhrInvestigation::RadiologyRecord','EhrInvestigation::OphthalmologyRecord'].include?@ehr_investigation_record._type  %>
            <div class="col-md-3 text-center"><strong>RESULT</strong> </div>
            <div class="col-md-4 text-right"><strong>NORMAL RANGE </strong></div>
        <% else %>
            <div class="col-md-7 text-center"><strong>FINDINGS</strong> </div>
        <% end %>
        <div class="summary-line-border mb5" style="margin-top: 10px;"></div>
      </div>
    </div>
    <div class="col-md-12">
      <% if @ehr_investigation_record.try(:panel_records).try(:size) > 0  %>
          <div class="row mb10">
              <div class="col-md-4 text-left" style="text-decoration: underline"><%= @ehr_investigation_record.investigation_name %> </div>
              <%if @ehr_investigation_record.specimen_type.present? %>
                  <div class="col-md-4 text-right">
                    Specimen Type:
                    <%= @ehr_investigation_record.specimen_type %>
                  </div>
              <% end %>
              <% if @ehr_investigation_record.specimen_date.present? %>
                  <div class="col-md-4 text-right">
                    Specimen Date:
                    <%= @ehr_investigation_record.specimen_date %>
                  </div>
              <% end %>
          </div>
          <%@ehr_investigation_record.panel_records.each do |panel| %>
              <%if !panel.investigation_val.blank?  %>
                <div class="col-md-12">
                  <div class="row mb10">
                    <div class="col-md-4 text-left"><%= panel.investigation_name %> </div>
                    <div class="col-md-1 text-center">: </div>
                    <div class="col-md-3 text-center"><strong><%= panel.investigation_val %></strong> </div>
                    <div class="col-md-4 text-right"><%= panel.normal_range %> </div>
                  </div>
                </div>
              <%end%>
          <% end %>
          <% if @ehr_investigation_record.try(:investigation_comment).present? %>
              <div class="col-md-12">
                <div class="row">
                  <div class='col-md-4' ><b>Investigation Remark</b> </div>
                  <div class="col-md-1 text-center">:</div>
                  <div class='col-md-3 text-center'><%= @ehr_investigation_record.investigation_comment %></div>
                </div>
              </div>
          <% end %>
      <%else%>
          <div class="col-md-12">
            <%if ['EhrInvestigation::RadiologyRecord','EhrInvestigation::OphthalmologyRecord'].include?@ehr_investigation_record._type  %>
                <div class="col-md-12">
                  <div class="row mb10">
                    <div class="col-md-4 text-left"><%= @ehr_investigation_record.investigation_name %> </div>
                    <div class="col-md-1 text-center">: </div>
                    <div class="col-md-7 text-center"><strong><%= @ehr_investigation_record.investigation_val %></strong> </div>
                    <!--<div class="col-md-4 text-right"><%#=  @ehr_investigation_record.normal_range %> </div>-->
                  </div>
                  <% if !@ehr_investigation_record.investigation_comment.blank? %>
                      <div class="row mb10">
                        <div class="col-md-4 text-left">Investigation Remark</div>
                        <div class="col-md-1 text-center">: </div>
                        <div class="col-md-7 text-center"><strong><%=  @ehr_investigation_record.investigation_comment %></strong> </div>
                      </div>
                  <% end %>
                </div>
            <% else %>
                <div class="row mb10">
                  <div class="col-md-4 text-left" style="text-decoration: underline"><%= @ehr_investigation_record.investigation_name %> </div>
                  <%if @ehr_investigation_record.specimen_type.present? %>
                      <div class="col-md-4 text-right">
                        Specimen Type:
                        <%= @ehr_investigation_record.specimen_type %>
                      </div>
                  <% end %>
                  <% if @ehr_investigation_record.specimen_date.present? %>
                      <div class="col-md-4 text-right">
                        Specimen Date:
                        <%= @ehr_investigation_record.specimen_date %>
                      </div>
                  <% end %>
                </div>
                <div class="row mb10">
                  <div class="col-md-offset-4 col-md-1 text-center">: </div>
                  <div class="col-md-3 text-center"><strong><%= @ehr_investigation_record.investigation_val %></strong> </div>
                  <div class="col-md-4 text-right"><%=  @ehr_investigation_record.normal_range %> </div>
                </div>
                <% if @ehr_investigation_record.try(:investigation_comment).present? %>
                    <div class="row">
                      <div class='col-md-4' ><b>Investigation Remark</b> </div>
                      <div class="col-md-1 text-center">:</div>
                      <div class='col-md-3 text-center'><%= @ehr_investigation_record.investigation_comment %></div>
                    </div>
                <% end %>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
  <div class="row" style="margin-left: 10px;margin-top: 50px">
    <span class='col-md-2' >
    <b>
      <% if !@ehr_investigation_record.try(:doctors_remark).blank? %>
          Doctor's Remark:
      <% end %>
    </b>
    </span>
    <p class='col-md-4' style="text-decoration: underline;font-style: italic;border-right: 1px solid #eee">
      <% if !@ehr_investigation_record.try(:doctors_remark).blank? %>
          <%= @ehr_investigation_record.doctors_remark %>
      <% end %>
    </p>
  </div>
  <div class="row">
    <div class="col-md-12" style="">
      <%= render partial: 'common/user_signature.html.erb',locals: {user_id: @investigation_detail.reviewed_by} %>
    </div>
  </div>
</div>
<style type="text/css">
    .container-fluid {
        font-size: 8px;
        font-family: <%= UsersSetting.find_by(user_id: current_user.id).font_style %>;
    }

    /*.page_breaker {
      page-break-after: always;
    }*/
</style>