<div class="modal-body form-bordered clearfix">

  <div class="col-md-12 col-sm-12 row"  style="margin-top: 10px;">
    <div class="col-md-3 col-sm-3"><b>Send to:</b></div>
    <div class="col-md-7 col-sm-7">
      <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2"><i class="glyphicon glyphicon-envelope"></i> </span>
        <%#= f.text_field :email, value: nil, class: 'form-control patient_email', placeholder: "Enter patient email id" %>
        <%= f.hidden_field :email, value: nil, class: 'form-control patient_email', placeholder: "Enter patient email id" %>
      </div>
    </div>
    <div class="col-md-2 col-sm-2">
      <input type="submit" class="btn btn-primary submit_btn" data-disable-with="Please wait..." value="Preview" style= "width: 100%;" />
    </div>
  </div>

  <div class="col-md-12 col-sm-12 row"  style="margin-top: 10px;">
    <div class="col-md-3 col-sm-3"><b>Cc:</b></div>
    <div class="col-md-7 col-sm-7">
      <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2"><i class="glyphicon glyphicon-envelope"></i> </span>
        <%#= f.text_field :selectedtagnames, value: nil, class: 'form-control email_tracker_cc_mail', placeholder: "Enter patient email id" %>
        <!-- email_tracker_selectedtagnames -->
        <%#= f.text_field :selectedtagnames, value: nil, class: 'form-control email_tracker_cc_mail email_tracker_selectedtagnames', placeholder: "Enter patient email id" %>
        <%= f.hidden_field :selectedtagnames, value: nil, class: 'form-control email_tracker_cc_mail email_tracker_selectedtagnames', placeholder: "Enter patient email id" %>
      </div>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>

  <div class="col-md-12 col-sm-12 row"  style="margin-top: 10px;margin-bottom: 15px;">
    <div class="col-md-3 col-sm-3"><b>Subject:</b></div>
    <div class="col-md-7 col-sm-7">
      <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2"><i class="glyphicon glyphicon-envelope"></i> </span>
        <%= f.text_field :subject, class: 'form-control subject_field', placeholder: "Enter subject" %>
      </div>
      <span class="subject_error" style="color: #a14d4d;">**Please enter subject</span>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="col-md-3 col-sm-3"><b>Message: </b></div>
      <div class="col-md-9 col-sm-9">
        <strong style="color: red">*Note: Text b/w "% %",eg:"%pat_name%" in above body are place holders for the information like <br> patient name,organisation,phone number etc, so use them accordingly.</strong>
        <%= render 'mail_record_placeholders' %>
      </div>
    </div>
  </div>

  <div class="row" style="margin-bottom: 1px;">
    <div class="col-md-12 col-sm-12">
      <div class="col-md-3 col-sm-3" style="">
        <% @message = "<p>Dear <span style='font-weight: bold; font-style: italic;'>%pat_name%</span>,</p><p>&nbsp;&nbsp;&nbsp;&nbsp;Please find #{@content_type} mailed by <span style='font-style: italic; font-weight: bold;'>%fac_name%</span>.</p><p>&nbsp;&nbsp;&nbsp;&nbsp;For any queries call <span style='font-style: italic; font-weight: bold;'>%fac_no%.</span></p>" %>

        <button class="default_message btn btn-xs btn-primary" style="padding: 2px 13px;">Use Default message</button>
        <button class="save_set btn btn-sm btn-danger" style="margin-bottom: -20px;"><i class="fa fa-floppy-o"></i> Save Email message</button>
        <span class="refresh-mail-set-options">
          <% if @mode == "tabview" %>
            <%= select_tag "mail_record_tracker[record_mailer_sets]",options_for_select(@record_mail_sets.map{|set| [set.name, set.content]}), {:class => 'form-control record_mailer_sets',:style => "margin-top: 30px;", 'data-placeholder' => 'Choose region',:include_blank=> "Please select"} %>
          <% else %>  
            <%= select_tag "mail_record_tracker[record_mailer_sets]",options_for_select(@record_mail_sets.map{|set| [set.name, set.content]}), {:class => 'form-control record_mailer_sets',:style => "height: 202px;margin-top: 30px;", :multiple => true, 'data-placeholder' => 'Choose region',:include_blank=> false} %>
          <% end %>
        </span>
      </div>
      <div class="col-md-7 col-sm-7" style="margin-top: 30px;">
        <%= f.text_area :mail_text, value:  params[:action] == 'edit' ? @email_tracker.mail_text : @message, class: 'form-control message mail_text', style: 'margin-left: -10px;height: 220px;', rows: "1",placeholder: "Enter your message"%>
      </div>
      <div class="col-md-1 col-sm-1">
      </div>
    </div>
  </div>

  <div class="col-md-12 col-sm-12 row"  style="margin-top: 10px;margin-bottom: 15px;">
    <div class="col-md-3 col-sm-3"><b>Disclaimer:</b></div>
    <div class="col-md-7 col-sm-7">
      <%= f.text_area :disclaimer, class: 'form-control', style: 'margin-left: 10px; height: 91px;', placeholder: 'Write your Disclaimer here, if needed.' %>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>

</div>


<script type="text/javascript">
  <%= render partial: 'form.js.erb' %>
</script>

<style>
span.email-ids {
  float: left;
  border: 1px solid #ccc;
  margin-right: 5px;
  background: #f5f5f5;
  padding: 6px 10px;
  border-radius: 5px;
}
span.cancel-email {
  border: 1px solid #ccc;
  width: 18px;
  display: block;
  float: right;
  text-align: center;
  margin-left: 20px;
  border-radius: 49%;
  height: 18px;
  line-height: 15px;
  margin-top: 1px;
  cursor: pointer;
}
.email-id-row {
  border: 1px solid #ccc;
}
.email-id-row input {
  border: 0; outline:0;
}
span.to-input {
  display: block;
  float: left;
  padding-right: 11px;
}
.email-id-row {
  padding-top: 6px;
  padding-bottom: 7px;
}
.multi-input{
  padding: 5px 0;
  width: 30%;
}
.dup_email_error{
  display: none;
}
.email_error{
  display: none;
}
.email-error-highlight {
  outline-color: 'red';
  border: '2px solid red';
}
.email-normal-highlight {
  outline-color: 'black';
  border: '2px solid black';
}
</style>