<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-lg" style="background: black;" >
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">Compose Email</h4>
    </div>
    
    <%= form_for @email_tracker, format: :js, remote: true, html: { id: "mail-record-form" } do |f| %>
      <%= f.hidden_field :organisation_id, value: current_user.organisation_id %>
      <%= hidden_field_tag 'mail_record_tracker[facility_id]', current_facility.id %>
      <%= hidden_field_tag 'mail_record_tracker[patient_id]', @patient.id %>
      <%= hidden_field_tag 'mail_record_tracker[record_id]', params[:record_id] %>
      <%= hidden_field_tag 'mail_record_tracker[record_name]', params[:record_name] %>
      <%= hidden_field_tag 'mail_record_tracker[record_model]', params[:record_model] %>
      <%= hidden_field_tag 'mail_record_tracker[appointment_id]', @appointment_id %>
      <%= hidden_field_tag 'mail_record_tracker[admission_id]', @admission_id %>
      <%= hidden_field_tag 'mail_record_tracker[speciality]', params[:speciality] %>
      <%= hidden_field_tag 'mail_record_tracker[speciality_id]', params[:speciality_id] %>
      <%= hidden_field_tag 'mail_record_tracker[advice_language]', params[:advice_language] %>
      <%= hidden_field_tag 'mail_record_tracker[language_flag]', params[:language_flag] %>
      
      <%= render partial: 'form.html.erb', locals: { f: f } %>
    <% end %>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>

<style type="text/css">
  .modal{
    background: rgba(0, 0, 0, 0.74);
  }

  .modal-lg{
    width: 81%;
  }

  .label{
    width: auto;  
  }

  .email-error-highlight {
    outline-color: 'red';
    border: '2px solid red';
  }
  .email-normal-highlight {
    outline-color: 'black';
    border: '2px solid black';
  }
</style>