<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-lg" >
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">Email Preview</h4>
    </div>

    <div class="row" style="padding-top: 10px;">
      <div class="col-sm-4" ></div>
      <span class="note col-sm-6" style="color: #42bbd8;">**This is only preview form with your attached document.</span>
      <div class="col-sm-1" ></div>
    </div>

    <div class="modal-body" style="margin-top: 15px;margin-bottom: 25px;">
      <div class="main-content">

        <div class="col-sm-12 row" style="margin-top: 15px;">
          <div class="col-sm-1"></div>
          <div class="col-sm-2"><b>Send to:</b></div>
          <div class="col-sm-8">
            <%= @email_tracker.receiver_details["patient_email"]%>
            &nbsp;&nbsp;<span style="font-style: italic;">(Saved with Patient details, for future reference)</span>
          </div>
          <div class="col-sm-1"></div>
        </div>

        <% if @email_tracker.selectedtagnames.present? %>
          <div class="col-sm-12 row" style="margin-top: 15px;">
            <div class="col-sm-1"></div>
            <div class="col-sm-2"><b>Cc:</b></div>
            <div class="col-sm-8">
              <%= @email_tracker.selectedtagnames.split(",").join(", ")%>
            </div>
            <div class="col-sm-1"></div>
          </div>
        <% end %>

        <div class="col-sm-12 row" style="margin-top: 15px;">
          <div class="col-sm-1"></div>
          <div class="col-sm-2"><b>Subject:</b></div>
          <div class="col-sm-8">
            <%= @email_tracker.subject %>
          </div>
          <div class="col-sm-1"></div>
        </div>

        <div class="col-sm-12 row" style="margin-top: 15px;">
          <div class="col-sm-1"></div>
          <div class="col-sm-2"><b>Message: </b></div>
          <div class="col-sm-8">
            <%= @email_tracker.mail_text.html_safe %>
          </div>
          <div class="col-sm-1"></div>
        </div>

        <% if @email_tracker.disclaimer.present? %>
          <div class="col-sm-12 row" style="margin-top: 15px;">
            <div class="col-sm-1"></div>
            <div class="col-sm-2"><b>Disclaimer: </b></div>
            <div class="col-sm-8">
              <%= @email_tracker.disclaimer %>
            </div>
            <div class="col-sm-1"></div>
          </div>
        <% end %>

        <div class="row">
          <div class="col-sm-12" style="margin-top: 30px;">
            <div class="col-sm-1"></div>
            <div class="col-sm-2" style="margin-top: 14px;"><b>Your Attached Document: </b></div>
            <div class="col-sm-8">
              <%= image_tag "pdf_image.png", class: "pdf_image" %>
              <b style="font-style: italic;">
                <% if @email_tracker.record_details[:filename].present? %>
                  <%= "Your #{@email_tracker.record_details[:filename]}.pdf" %>
                <% elsif @email_tracker.record_details[:record_name] == 'Inventory Invoice' %>
                  <%= "Your " + Invoice::InventoryInvoice.find_by(id: @email_tracker.record_details[:record_id]).department_name + " Invoice"%>.pdf
                <% elsif ['Opd Invoice', 'Ipd Invoice'].include?(@email_tracker.record_details[:record_name]) %>
                  <%= "Your " + @email_tracker.record_details[:record_name] %>.pdf
                <% else %>
                  Your Health Record.pdf
                <% end %>
              </b>
            </div>
            <div class="col-sm-1"></div>
          </div>
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <div class="col-sm-12 row">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
          <%= link_to edit_mail_record_tracker_path(id: @email_tracker.id, patient_id: @patient.id), :class => "btn btn-sm btn-warning", :data => { method: :get, remote: true, 'disable-with' =>  "Please Wait..." } do %> Edit Email <% end %>
          <%= link_to send_mail_mail_record_trackers_path(id: @email_tracker.id, patient_id: @patient.id, language_flag: @language_flag, advice_language: @advice_language), :class => "btn btn-sm btn-primary", :data => { method: :get, remote: true, 'disable-with' =>  "Please Wait..." } do %> Send Email <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

<style type="text/css">
  .modal{
    background: rgba(0, 0, 0, 0.74);
    border-radius: 0px;
  }

  .pdf_image{
    height: 62px;
  }

  .modal-lg{
    width: 81%;
  }

  .main-content {
    border: 1px solid;
    padding-bottom: 25px;
    padding-top: 25px;
    margin-left: 67px;
    margin-right: 70px;
    box-shadow: 5px 6px #888888;
    border-radius: 10px;
    background: #fcfcfc;
  }
</style>
