<div class="row mb10">
  <div class="col-md-4">
    <%= p.text_field :investigation_name,name: 'ehr_investigation_record['+i.to_s+'][investigation_name]',:value => pat_investigation.name ,class: "fi_input_style" ,style: 'width: 100%;'%>
  </div>
  <%if !['EhrInvestigation::RadiologyRecord','EhrInvestigation::OphthalmologyRecord'].include?type  %>
      <div class="col-md-4 ">
        <%= p.text_field :specimen_type,name: 'ehr_investigation_record['+i.to_s+'][specimen_type]',class: "fi_input_style ",placeholder: "Specimen Type" ,style: 'width: 100%'%>
      </div>

      <div class="col-md-4 pull-right" >
        <%= p.text_field 'specimen_date',name: 'ehr_investigation_record['+i.to_s+'][specimen_date]',id: 'date'+i.to_s,class: "fi_input_style datepicker pull-right",placeholder: "Specimen Date" %>
      </div>
  <% end %>
</div>
<div class="row mb20" style= "<%='border-bottom: 1px solid #e5e5e5' unless @ehr_investigation_records.try(:length) == i+1 %>">
  <%if ['EhrInvestigation::RadiologyRecord','EhrInvestigation::OphthalmologyRecord'].include?type  %>
      <div class="col-md-offset-4 col-md-8">
        <%= p.text_area 'investigation_val',name: 'ehr_investigation_record['+i.to_s+'][investigation_val]',class: "form-control tooltip-i",placeholder: "Fndings",title: 'Findings'%>
      </div>
   <% else  %>
      <div class="col-md-offset-4 col-md-4">
        <%= p.text_field 'investigation_val',name: 'ehr_investigation_record['+i.to_s+'][investigation_val]',class: "form-control",placeholder: "Result" %>
      </div>
      <div class=" col-md-4" >
        <%= p.text_field 'normal_range',name: 'ehr_investigation_record['+i.to_s+'][normal_range]',class: "form-control",placeholder: "Normal Range" %>
      </div>
  <% end %>
  <div class="col-md-offset-4 col-md-4 mb10" style="margin-top: 10px">
    <%= p.text_area :investigation_comment,name: 'ehr_investigation_record['+i.to_s+'][investigation_comment]',class: "form-control tooltip-i",placeholder: "Investigation Remark",title: 'Investigation Remark' %>
  </div>
  <div class="col-md-4 mb10" style="margin-top: 10px">
    <%= p.text_area :doctors_remark,name: 'ehr_investigation_record['+i.to_s+'][doctors_remark]',class: "form-control tooltip-i",placeholder: "Doctor's Remark",title: "Doctor's Remark" %>
  </div>
</div>

<script>
  $('.tooltip-i').tooltip();
</script>