<div class="row mb10 mt10" style="border:1px solid #eee;">
  <div class="col-md-2" >
    <b>Patient Name</b><br>
    <b>Patient ID </b><br>
    <% if @poi %>
        <% if @poi.mr_no.present? %>
            <b>MR No. </b>
        <% end %>
    <% end %>
  </div>
  <div class="col-md-4">
    : <b><%= @patient.fullname.upcase %></b><br>
    : <%= @pat_org_id %><br>
    <% if @poi %>
        <% if @poi.mr_no.present? %>
            : <%= @poi.mr_no %>
        <% end %>
    <% end %>
  </div>
  <div class="col-md-3" style="width:22%;">
    <b>Mobile </b><br>
    <b>Age / Gender </b><br>
    <b>Facility</b><br>
  </div>
  <div class="col-md-3" style="width:24%;">
    : <%= @patient.mobilenumber %><br>
    : <%if @patient.calculate_age.present? || @patient.gender.present?%><%= @patient.calculate_age %>/<%= @patient.gender %><% else %> Unavailable<% end %> <br>
    : <%= current_facility.name %> <br>
  </div>
</div>
<div class="col-md-12 text-center">
  <div class="pcs-entity-title"><span>Investigation Summary</span></div>
</div>


<div class="row mb10">
  <div class="col-md-12">
    <div class="row">
      <div class="summary-line-border"></div>
      <div class="col-md-5 text-left"><strong>INVESTIGATION </strong></div>
      <div class="col-md-7 text-center"><strong>Findings</strong> </div>
      <div class="summary-line-border" style="margin-top: 20px;"></div>
    </div>
  </div>

  <% investigation_record.each do |ophthal_record|%>
      <div class="col-md-12">
        <% if ophthal_record.panel_records.try(:size) > 0 %>
            <strong><%= ophthal_record.investigation_name %>(Complete Blood Count)</strong>
            <%ophthal_record.panel_records.each do |panel| %>
                <div class="col-md-12">
                  <div class="row mb10">
                    <div class="col-md-4 text-left"><%= panel.investigation_name %> </div>
                    <div class="col-md-1 text-center">: </div>
                    <div class="col-md-3 text-center"><strong><%= panel.investigation_val %></strong> </div>
                    <div class="col-md-4 text-right"><%= panel.normal_range %> </div>
                  </div>
                </div>
            <% end %>
        <%else%>
            <div class="col-md-12 mb10" style="border-bottom: 1px solid #e5e5e5">
              <div class="row">
                <div class="col-md-4 text-left"><%= ophthal_record.investigation_name %> </div>
                <div class="col-md-1 text-center">: </div>
                <div class="col-md-7 text-center"><strong><%= ophthal_record.investigation_val %></strong> </div>
                <!--<div class="col-md-4 text-right"><%#=  ophthal_record.normal_range %> </div>-->
              </div>
              <% if !ophthal_record.investigation_comment.blank? %>
                  <div class="row mb10">
                    <div class="col-md-4 text-left">Investigation Remark</div>
                    <div class="col-md-1 text-center">: </div>
                    <div class="col-md-7 text-center"><strong><%=  ophthal_record.investigation_comment %></strong> </div>
                  </div>
              <% end  %>
            </div>
        <% end %>
      </div>
  <% end %>



</div>

