<%= render partial: 'patient_info',locals: {record: investigation_record[0] } %>
<div class="col-md-12 text-center">
  <div class="pcs-entity-title"><span>Investigation Summary</span></div>
</div>


<div class="row mb10">
  <div class="col-md-12">
    <div class="row">
      <div class="summary-line-border"></div>
      <div class="col-md-5 text-left"><strong>INVESTIGATION </strong></div>
      <div class="col-md-3 text-center"><strong>RESULT</strong> </div>
      <div class="col-md-4 text-right"><strong>NORMAL RANGE </strong></div>
      <div class="summary-line-border" style="margin-top: 20px;"></div>
    </div>
  </div>

  <% investigation_record.each do |lab_record|%>
      <div class="col-md-12" style="border-bottom: 1px solid #e5e5e5">
        <% if lab_record.panel_records.try(:size) > 0 %>

            <div class="row mb10">
              <div class="col-md-4 text-left" style="text-decoration: underline"><b><%= lab_record.investigation_name %></b> </div>
              <%if lab_record.specimen_type.present? %>
                  <div class="col-md-4 text-right">
                    Specimen Type:
                    <%= lab_record.specimen_type %>
                  </div>
              <% end %>
              <% if lab_record.specimen_date.present? %>
                  <div class="col-md-4 text-right">
                    Specimen Date:
                    <%= lab_record.specimen_date %>
                  </div>
              <% end %>
            </div>
            <%lab_record.panel_records.each do |panel| %>
                <% if !panel.investigation_val.blank?  %>
                    <div class="col-md-12">
                      <div class="row mb10">
                        <div class="col-md-4 text-left"><b><%= panel.investigation_name %></b> </div>
                        <div class="col-md-1 text-center">: </div>
                        <div class="col-md-3 text-center"><strong><%= panel.investigation_val %></strong> </div>
                        <div class="col-md-4 text-right"><%= panel.normal_range %> </div>
                      </div>
                    </div>
                <% end  %>
            <% end %>
            <% if !lab_record.try(:investigation_comment).blank? %>
                <div class="col-md-12">
                    <div class="row">
                      <div class='col-md-4' ><b>Investigation Remark</b> </div>
                      <div class="col-md-1 text-center">:</div>
                      <div class='col-md-3 text-center'><%= lab_record.investigation_comment %></div>
                    </div>
                </div>
            <% end %>
        <%else%>
            <div class="col-md-12">
              <div class="row mb10">
                <div class="col-md-4 text-left" style="text-decoration: underline"><b><%= lab_record.investigation_name %></b> </div>
                <%if lab_record.specimen_type.present? %>
                    <div class="col-md-4 text-right">
                      Specimen Type:
                      <%= lab_record.specimen_type %>
                    </div>
                <% end %>
                <% if lab_record.specimen_date.present? %>
                    <div class="col-md-4 text-right">
                      Specimen Date:
                      <%= lab_record.specimen_date %>
                    </div>
                <% end %>
              </div>
              <div class="row mb10">
                <div class="col-md-offset-4 col-md-1 text-center">: </div>
                <div class="col-md-3 text-center"><strong><%= lab_record.investigation_val %></strong> </div>
                <div class="col-md-4 text-right"><%=  lab_record.normal_range %> </div>
              </div>
              <% if !lab_record.try(:investigation_comment).blank? %>
                  <div class="row">
                    <div class='col-md-4' ><b>Investigation Remark</b> </div>
                    <div class="col-md-1 text-center">:</div>
                    <div class='col-md-3 text-center'><%= lab_record.investigation_comment %></div>
                  </div>
              <% end %>
            </div>
        <% end %>
        <% lab_tech = (User.find_by(id: lab_record.template_created_by).role_ids.include?(159282002) if lab_record.try(:template_created_by).present?) || false %>
        <% if lab_record.try(:state) == "reviewed" %>
          <div class="col-md-12 pull-right">
            <%= render partial: 'common/user_signature.html.erb',locals: {user_id: lab_record.reviewed_by} %>
            <!-- <span class="text-center pull-right"><%#= User.find_by(id: lab_record.try(:reviewed_by)).try(:designation)%></span> -->
          </div>
        <% elsif lab_record.try(:state) != "reviewed" && lab_tech == true %>
          <div class="col-md-12 pull-right">
            <%= render partial: 'common/user_signature.html.erb',locals: {user_id: lab_record.template_created_by} %>
          </div>
        <% end %>
      </div>
  <% end %>
</div>