        <%= simple_form_for(@ehr_investigation_records,as: :ehr_investigation_record,:url => {:controller => "records",:action => 'update_all_reports'}, :remote => true) do |f| %>
        <%= f.error_notification %>

          <div class="pull-right mb10" >
            <%= f.button :submit,class: "btn btn-xs btn-success" %>
          </div>

          <div class="row">
            <div class="col-md-12 template-new-sidebar paper_view">
              <h3 class="text-center">Edit Form</h3>
              <%= render partial: 'patient_info',locals: {record: @ehr_investigation_records[0]} %>
              <% @ehr_investigation_records.each_with_index do |pat_investigation,i|%>
                  <%= f.fields_for pat_investigation do |p| %>
                      <%= f.hidden_field :patient_id,value: pat_investigation.patient_id,name: 'ehr_investigation_record['+i.to_s+'][patient_id]' %>
                      <%= f.hidden_field :id,value: pat_investigation.id,name: 'ehr_investigation_record['+i.to_s+'][id]' %>
                      <%if  pat_investigation.panel_records.size > 0 %>
                          <%= render partial: 'ehr_investigation/records/all/edit_all_panel_form',locals: {pat_investigation: pat_investigation,p: p,i: i,panel_data: pat_investigation.panel_records} %>
                      <%else %>
                          <%= render partial: 'ehr_investigation/records/all/all_form',locals: {p: p,pat_investigation: pat_investigation,i: i,type: pat_investigation._type}%>
                      <%end  %>



                        <%= fields_for :record_histories do |record| %>
                            <%= record.hidden_field :user_id,name: 'ehr_investigation_record['+i.to_s+'][record_histories_attributes][0][user_id]',:value => current_user.id.to_s%>
                            <%= record.hidden_field :action,name: 'ehr_investigation_record['+i.to_s+'][record_histories_attributes][0][action]',:value => 'U'%>
                            <%= record.hidden_field :actiontime,name: 'ehr_investigation_record['+i.to_s+'][record_histories_attributes][0][actiontime]',:value => Time.current%>
                            <%= record.hidden_field :template_type,name: 'ehr_investigation_record['+i.to_s+'][record_histories_attributes][0][template_type]',:value => pat_investigation._type%>
                        <%end%>

                      <!--</div>-->
                  <% end %>
              <% end %>
            </div>
            <%#= render 'template_sidebar' %>
          </div>
    <% end %>
    <style>
    .circle-text
    {
        border-radius: 100%;
        background-color: #026AA7;
        padding: 7px 10px;
        font-size: 12px;
        color: white;
        font-weight: bold;
    }
    .fi_input_style{
        padding-left:3px;
        border: none;
        border-bottom: 1px solid #ccc;
        outline: none;
    }
    .fi_input_style:focus {
        background: #ffc;
    }
    .paper_view {
        box-shadow: 0 0 6px #ccc;
        padding: 0 0.400000in 0 0.550000in;
        font-family: 'Open Sans';
        background-color: #fff;
        min-height: 407px;
    }
</style>

<script>
    $(".testing-tooltip").tooltip();
    //    $('.last-updated').on('hover',function(){
    //        $('.hidden-history').show();
    //    })
    $(".last-updated").on({
        mouseover: function () {
            $(".hidden-history").show();
        },

        mouseout: function () {
            $(".hidden-history").hide();
        }
    });
    $(".hidden-history").on({
        mouseover: function () {
            $(".hidden-history").show();
        },

        mouseout: function () {
            $(".hidden-history").hide();
        }
    });
    $('.datepicker').each(function(){
        $(this).datepicker({
            format: 'dd/mm/yy'
        });
    });

</script>




