<% if current_facility.department_ids.include?('486546481') %>
  <% alv_present = @admission_list_views && @admission_list_views.count > 0 %>
  <div class="col-sm-<%= alv_present ? '6' : '12' %>">
    <%= link_to new_admission_path(patient_id: @patient.id, direct: true), class: 'btn btn-primary btn-primary-transparent btn-xs', data: { remote: true, toggle: 'modal', target: '#admission-modal' } do %> Schedule Admission<% end %>
  </div>
  <% if alv_present %>
    <div class="col-sm-6">
      <% if @admission_list_views.count > 1 %>
        <button class="btn btn-primary btn-primary-transparent btn-xs" data-toggle="dropdown"> Jump to Admission &nbsp;&nbsp;<i class="fa fa-caret-down"></i></button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="admissions-dropdown">
          <% @admission_list_views.order(admission_date: :asc).each do |alv| %>
            <% if alv.try(:admission_date).present? && alv.try(:admission_time).present? %>
            <li>
              <a href="" class="link-to-admission" data-admission-date="<%= alv.admission_date %>" data-admission-id="<%= alv.admission_id %>" data-admission-state="<%= alv.current_state %>"><%= alv.admission_time.strftime('%I:%M %p') %>, <%= alv.admission_date.strftime('%d/%m/%Y') %></a>
            </li>
            <% end %>
          <% end %>
        </ul>
      <% elsif @admission_list_views.count > 0 %>
        <a href="" class="btn btn-primary btn-xs link-to-admission" data-admission-date="<%= @admission_list_views[0].admission_date %>" data-admission-id="<%= @admission_list_views[0].admission_id %>" data-admission-state="<%= @admission_list_views[0].current_state %>">Jump to Admission</a>
      <% end %>
    </div>

    <script type="text/javascript">
      <% if alv_present %>
        $('#admission-details').removeClass('col-md-6').addClass('col-md-12')
      <% end %>

      $(".link-to-admission").on('click', function(e){
        e.preventDefault();
        var current_date = $(this).attr("data-admission-date")
        var active_user = "<%= @admission_list_view.try(:admitting_doctor_id) %>"
        var admission_id = $(this).attr("data-admission-id")
        var active_tab = $(this).attr("data-admission-state")
        $('#modalCalendarAppointmentDetails').modal('hide')
        $.ajax({
          type: "GET",
          dataType: "script",
          data: {
            active_tab: active_tab,
            current_date: current_date,
            active_user: active_user,
            admission_id: admission_id,
            message: "From OPD"
          },
          url: "/inpatients/admission_management",
          success: function(){
            if($('.departments_button').length > 0){
              $('.departments_button').html("<span class='fa-color departments_span'><i class='fa fa-ambulance' style='font-size:15px;'><strong> IPD </strong><span class='caret fa-color'></span></span>")
            }else{
                $("#appointment-management").removeClass("activate")
                $("#admission-management").addClass("activate")
            }
          }
        })
        history.pushState('', '', '/inpatients/admission_management'); // history.pushState([data], [title], [url]);
      })
    </script>
  <% end %>
<% end %>
