<style type="text/css">
  .nopadding_dropdown li.divider{
    margin: 4px 0;

  }
</style>
<div class="col-sm-12">
  <div id = "patient-medicalcertificates">
    <button type="button" id="print-admission-dropdown" class="btn btn-primary btn-xs btn-primary-transparent" data-toggle="dropdown"><span class="">Certificates</span>&nbsp;<span class="caret fa-color"></span></button>
    <ul class="dropdown-menu children nopadding_dropdown" style="margin-left:10px;">
      <% user_certificates = @user_notes_templates.select {|u| u.level == 'user' && u.type == '1000001' }%>
      <% organisation_certificates = @user_notes_templates.select {|u| u.level == 'organisation' && u.type == '1000001' }%>
      <% facility_certificates = @user_notes_templates.select {|u| u.level == 'facility' && u.type == '1000001' }%>

      <% user_certificates.each do |certificate_template| %>
        <li>
          <%= link_to new_user_note_path(patientid: @patient.id, doctor_id: current_user.id, template_details: certificate_template[:template_details], type: '1000001'), data: {remote: true, 'toggle' =>  "modal", 'target' => '#invoice-modal'} do %><%= certificate_template[:name]%><% end %>
        </li>
      <% end %>
      <li class="<%= user_certificates.present? ? 'divider' : '' %> "></li>
      <% facility_certificates.each do |certificate_template| %>
        <li>
          <%= link_to new_user_note_path(patientid: @patient.id, doctor_id: current_user.id, template_details: certificate_template[:template_details], type: '1000001'), data: {remote: true, 'toggle' =>  "modal", 'target' => '#invoice-modal'} do %><%= certificate_template[:name]%><% end %>
        </li>
      <% end %>
      <li class="<%= facility_certificates.present? ? 'divider' : '' %>"></li>
      <% organisation_certificates.each do |certificate_template| %>
        <li>
          <%= link_to new_user_note_path(patientid: @patient.id, doctor_id: current_user.id, template_details: certificate_template[:template_details], type: '1000001'), data: {remote: true, 'toggle' =>  "modal", 'target' => '#invoice-modal'} do %><%= certificate_template[:name]%><% end %>
        </li>
      <% end %>
      <li class="<%= organisation_certificates.present? ? 'divider' : '' %>"></li>
      <li>
        <%= link_to new_user_note_path(patientid: @patient.id, doctor_id: current_user.id, type: '1000001'), data: {remote: true, 'toggle' =>  "modal", 'target' => '#invoice-modal'} do %> New Medical Certificate <% end %>
      </li>
      <% if @patient_certificates.size > 0 %>

        <% @patient_certificates.where(type: '1000001').newest_certificate_first.each do |patient_certificates| %>
          <li>
            <%= link_to edit_user_note_path(id: patient_certificates.id, type: '1000001'), data: {remote: true} do %><%= patient_certificates.category %><% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>