<ul class="dropdown-menu dropdown-menu-right children nopadding_dropdown">
  <% user_referral_messages = @user_notes_templates.select {|u| u.level == 'user' && u.type == '1000002' }%>
  <% organisation_referral_messages = @user_notes_templates.select {|u| u.level == 'organisation' && u.type == '1000002' }%>
  <% facility_referral_messages = @user_notes_templates.select {|u| u.level == 'facility' && u.type == '1000002' }%>
  <% user_referral_messages.each do |user_note_template| %>
    <li>
      <%= link_to new_user_note_path(patientid: @patient.id, doctor_id: current_user.id, template_details: user_note_template[:template_details], type: '1000002'), data: {remote: true, 'toggle' =>  "modal", 'target' => '#invoice-modal'} do %><%= user_note_template[:name]%><% end %>
    </li>
  <% end %>
  <li class="<%= user_referral_messages.present? ? 'divider' : '' %> "></li>
  <% facility_referral_messages.each do |user_note_template| %>
    <li>
      <%= link_to new_user_note_path(patientid: @patient.id, doctor_id: current_user.id, template_details: user_note_template[:template_details], type: '1000002'), data: {remote: true, 'toggle' =>  "modal", 'target' => '#invoice-modal'} do %><%= user_note_template[:name]%><% end %>
    </li>
  <% end %>
  <li class="<%= facility_referral_messages.present? ? 'divider' : '' %>"></li>
  <% organisation_referral_messages.each do |user_note_template| %>
    <li>
      <%= link_to new_user_note_path(patientid: @patient.id, doctor_id: current_user.id, template_details: user_note_template[:template_details], type: '1000002'), data: {remote: true, 'toggle' =>  "modal", 'target' => '#invoice-modal'} do %><%= user_note_template[:name]%><% end %>
    </li>
  <% end %>
  <li class="<%= organisation_referral_messages.present? ? 'divider' : '' %>"></li>
  <li>
    <%= link_to new_user_note_path(patientid: @patient.id, doctor_id: current_user.id, type: '1000002'), data: {remote: true, 'toggle' =>  "modal", 'target' => '#invoice-modal'} do %>New Referral Message <% end %>
  </li>
  <% if @patient_certificates.present? %>
    <% @patient_certificates.where(type: '1000002').newest_certificate_first.each do |patient_certificates| %>
      <li>
        <%= link_to edit_user_note_path(id: patient_certificates.id, type: '1000002'), data: {remote: true} do %><%= patient_certificates.category %><% end %>
      </li>
    <% end %>
  <% end %>
</ul>


<style type="text/css">
  .nopadding_dropdown li.divider{
    margin: 4px 0;
  }
</style>