<div class="col-sm-12">
  <% if Authorization::PolicyHelper.verification(current_user.id, "HGP-102-109-100") %>
    <button type="button" data-patient-id="<%= @patient.id %>" class="btn btn-primary btn-primary-transparent btn-xs" title="Patient File Manager" id="patient-file-manager-dropdown" data-toggle="dropdown">
      <i class="fa fa-user"></i> Upload Manager
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="patient-file-manager-dropdown">
      <li data-patient-id="<%= @patient.id %>" ><%= link_to paperrecords_upload_patient_asset_path(:patientid => @patient.id), :target => "_blank" do %> <i class="glyphicon glyphicon-cloud-upload"></i> Upload Files <% end %></li>
      <li data-patient-id="<%= @patient.id %>" ><%= link_to dicomrecords_upload_patient_asset_path(:patientid => @patient.id), :target => "_blank" do %> <i class="glyphicon glyphicon-cloud-upload"></i> Upload Dicom<% end %></li>
    </ul>
  <% else %>
    <button type="button" class="btn btn-primary btn-xs disabled" style="pointer-events:all;cursor:not-allowed" title="Not Authorized">
      <i class="fa fa-user"></i> Upload Manager
    </button>
  <% end %>
</div>