<div class="row" style="margin:0px;">
  <div class="col-sm-12">
    <h4 class="" style="display: inline;font-size:18px;"><b>Actions</b></h4>
  </div>
</div>
<div class="row">
  <div id="appointment-details" class="col-md-6 text-center" style="padding:5px 0px;">
    <%= render partial: "patient_summary_timelines/other_details/appointment.html.erb" %>
  </div>
  <div id="upload-details" class="col-md-6 text-center" style="padding:5px 0px;">
    <%= render partial: "patient_summary_timelines/other_details/uploads.html.erb" %>
  </div>
</div>
<div class="row">
  <div id="admission-details" class="col-md-6 text-center" style="padding:5px 0px;">
    <%= render partial: "patient_summary_timelines/other_details/admission.html.erb" %>
  </div>
  <div id="ot-details" class="col-md-6 text-center" style="padding:5px 0px;">
    <%= render partial: "patient_summary_timelines/other_details/ot.html.erb" %>
  </div>
  <% if current_user.role_ids.include?158965000 %>
    <div id="certificate-details" class="col-md-6 text-center" style="padding:5px 0px;">
      <%= render partial: "patient_summary_timelines/other_details/certificate.html.erb" %>
    </div>

    <div id="referral_message_details" class="col-md-6 text-center" style="padding:5px 0px;">
      <%= render partial: "patient_summary_timelines/other_details/referral_message.html.erb" %>
    </div>
  <% end %>
  <% if current_organisation["specialty_ids"].size == 1 %>
    <div id="investigation-details" class="col-md-6 text-center" style="padding:5px 0px;">
      <%= render partial: "patient_summary_timelines/other_details/investigation.html.erb" %>
    </div>
  <% end %>

  <div id="consolidate-report-timeline" class="col-md-6 text-center" style="padding:5px 0px;">
    <%= render partial: "patient_summary_timelines/other_details/consolidate_report_timeline" %>
  </div>

  <div id="adverse-event-timeline" class="col-md-6 text-center" style="padding:5px 0px;">
    <%= render partial: "patient_summary_timelines/other_details/adverse_event.html.erb" %>
  </div>

</div>

<script type="text/javascript">
  $(".link-to-admission").on('click', function(e){
    e.preventDefault();
    var current_date = $(this).attr("data-admission-date")
    var active_user = "<%= @existing_admission.try(:admitting_doctor_id) %>"
    var admission_id = $(this).attr("data-admission-id")
    var active_tab = $(this).attr("data-admission-state")
    $('#modalCalendarAppointmentDetails').modal('hide')
    $.ajax({
      type: "GET",
      dataType: "script",
      data: {
        active_tab: active_tab,
        current_date: current_date,
        active_user: active_user,
        admission_id: admission_id,
        message: "From OPD"
      },
      url: "/inpatients/admission_management",
      success: function(){
        $("#appointment-management").removeClass("activate")
        $("#admission-management").addClass("activate")
      }
    })
    history.pushState('', '', '/inpatients/admission_management'); // history.pushState([data], [title], [url]);
  })
</script>