<!-- <div class="panel-group panel-group-dark addRoomsAccordion add-room-for-ward-<%= @counter %>" id="add-room-for-ward">
      <div class="panel panel-default">

            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" class="collapsed" data-parent="#addRoomsAccordion" href="#addRoomsAccordion<%= @counter + 1 %>" data-addRoomsAccordion="<%= @counter + 1 %>">
                  Room <%= @counter + 1 %>
                </a>
              </h4>
            </div>
            <div id="addRoomsAccordion<%= @counter + 1 %>" class="panel-collapse collapse" style="height: 0px;" data-addRoomsAccordion="<%= @counter + 1 %>">

                <div class="panel-body">
                    <div class="ward_room_details_<%= @counter + 1 %>" id="ward_room_details_<%= @counter + 1 %>">

                      <div class="row mb10">

                        <div class="col-md-3">
                        </div>

                        <div class="col-md-3 required">
                          <label>Name</label>
                        </div>

                        <div class="col-md-2 required">
                          <label>Code</label>
                        </div>

                        <div class="col-md-4">
                        </div>

                      </div>

                      <div class="row mb10">

                        <div class="col-md-2">
                        </div>

                        <div class="col-md-3 required">
                          <%= hidden_field_tag "ward[rooms_attributes][#{@counter}][organisation_id]", current_user.organisation.id.to_s, {:class => 'form-control ward_room_organisation_id' } %>
                          <%= hidden_field_tag "ward[rooms_attributes][#{@counter}][facility_id]", nil, {:class => 'form-control ward_room_facility_id' } %>
                          <%= hidden_field_tag "ward[rooms_attributes][#{@counter}][_destroy]", 0, {:class => 'form-control ward_room_destory' } %>

                          <%= hidden_field_tag "ward[rooms_attributes][#{@counter}][sequence]", "#{@counter}", {:class => 'form-control ward_room_sequence'} %>
                          <%= text_field_tag "ward[rooms_attributes][#{@counter}][name]", nil, {:maxlength => 20, :size => 20, :class => 'form-control room_name'} %>
                        </div>
                        <div class="col-md-2">
                          <%= text_field_tag "ward[rooms_attributes][#{@counter}][code]", nil, {:maxlength => 4, :size => 5, :class => 'form-control room_code'} %>
                        </div>
                        <div class="col-md-2">
                        </div>

                      </div>

                    </div>

                  <span class="btn btn-xs btn-lightblue room_add_beds" id="room_add_beds" data-room_add_beds="<%= @counter %>"><i class="glyphicon glyphicon-plus"></i> Bed</span>

                    <div class="add_b_2_room" id="add_b_2_room_<%= @counter %>">
                    </div>

                  <span class="btn btn-xs btn-danger pull-right ward_remove_room ward_remove_room-<%= @counter %>" id="ward_remove_room_<%= @counter %>" name="remove-room-button" data-ward_remove_room="<%= @counter %>"><i class="glyphicon glyphicon-remove"></i> Room <%= @counter + 1 %></span>
              </div>
            </div>

      </div>
</div> -->