<%= javascript_include_tag 'application-loggedin', 'data-turbolinks-track' => true %>
<div class="modal-dialog ward-dialog modal-md" style="width:60%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Add Ward</h4>
    </div>
    <%= simple_form_for @ward, remote: true, html: { id: 'new-ward-form', class: 'ward-form' } do |ward_fields| %>
      <% facility = current_facility %>
      <%= ward_fields.hidden_field :organisation_id, value: @ward.organisation_id || current_facility.organisation_id %>
      <%= ward_fields.hidden_field :facility_id, value: @ward.facility_id || current_facility.id %>
      <div class="modal-body">
        <div class="ward-form">
          <%= render partial: 'form.html.erb', locals: { ward_fields: ward_fields } %>
        </div>
      </div>
      <div class="modal-footer">
        <%= ward_fields.submit 'Update', class: 'btn btn-success', data: { "disable-with": 'Please Wait...', onClick: 'wardValidation()' } %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>

<style type="text/css">
  .room-form, .bed-form {
    margin: 0 10px 10px 10px;
  }

  .room-form-row {
    padding: 8px;
  }

  .ward-dialog hr {
    border-color: #000 !important;
  }
</style>
