<% @wards.each do |ward| %>
  <div class="col-md-4 ward-<%= ward.id.to_s %> mb20">
    <div class="col-md-12">
      <div class="row" style="background:#354670;color:#fff;padding:5px;">
        <div class="col-md-6">
          <h5><%= ward.name %> - <%= ward.code %></h5>
        </div>
        <div class="col-md-6 text-right" style="padding-top:3px;">
          <%= link_to edit_ward_path(id: ward.id), data: { remote: true, toggle: 'modal', target: '#ward-modal' }, class: 'btn btn-primary btn-xs edit-ward' do %><i class="fa fa-edit"></i><% end %>
          <% if !ward.in_use %>
            <%= link_to ward_path(id: ward.id), data: { remote: true, confirm: 'Are you Sure?' }, method: :delete, class: 'btn btn-danger btn-xs delete-ward' do %><i class="fa fa-trash-alt"></i><% end %>
          <% else %>
            <button class="btn btn-danger btn-xs delete-ward" disabled><i class="fa fa-trash-alt"></i></button>
          <% end %>
        </div>
      </div>
      <div class="row room-details">
        <% ward.rooms.each do |room| %>
          <% room_type = @room_types.find { |type| type[:abbreviation] == room.type } %>
          <table class="table table-bordered table-room-details">
            <thead>
              <tr>
                <th colspan="2" style="padding:10px;text-align:center;">
                  <span><%= room.name %> (<%= room_type[:name] if room_type %>) - <%= room.code %></span>
                </th>
              </tr>
              <tr>
                <th>Bed Name</th>
                <th><i class="fa fa-bed fa-1x" style="font-size:18px;"></i></th>
              </tr>
            </thead>
            <tbody>
              <% grouped_beds = room.beds.group_by(&:group_id) %>
              <% grouped_beds.each do |group_id, beds| %>
              <tr>
                <td><%= beds.first.name %></td>
                <td><%= beds.size %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
