<% if params[:action] == 'edit' %>
  <%= f.hidden_field :id, value: @pre_anaesthesia_note.try(:id) %>
<% end %>
<%= f.hidden_field :patient_id, value: @patient_id %>
<%= f.hidden_field :admission_id, value: @admission_id %>
<%= f.hidden_field :specalityid, value: @specalityid %>
<%= f.hidden_field :specalityname, value: @speciality_folder_name %>
<%= f.hidden_field :organisation_id, value: @current_user.organisation_id %>
<%= f.hidden_field :facility_id, value: @current_facility.id %>

<div class="mb20">
  <div class="col-md-12 text-center">
    <h4>Pre Anaesthesia Questionare</h4>
  </div>


  <div class="row form-group">
    <div class="col-md-2"><%= f.label :entered_by, "Form completed by" %></div>
    <div class="col-md-2"><%= @current_user.fullname %></div>
    <%= f.hidden_field :entered_by,{:class => "form-control",:value=>@current_user.id} %>
  </div>


  <div class="row form-group">
    <div class="col-md-2"><%= f.label :surgery_name %></div>
    <div class="col-md-2"><%= f.text_field :surgery_name,{:class => "form-control"} %></div>

    <div class="col-md-2"><%= f.label :surgery_date %></div>
    <div class="col-md-2"><%= f.text_field :surgery_date,{:class => "form-control datepicker", value: @pre_anaesthesia_note.try(:surgery_date).try(:strftime, "%d/%m/%Y"), readonly: true } %></div>

    <div class="col-md-2"><%= f.label :surgeon_name %></div>
    <div class="col-md-2"><%= f.text_field :surgeon_name,{:class => "form-control"} %></div>
  </div>

  <div class="row form-group">
    <div class="col-md-2"><%= f.label :anesthesia_planned %></div>

<!--    <div class="col-md-6"><%#= f.input :anesthesia_planned, wrapper_html: { class: 'anesthesia_planned' }, collection: ['GA', 'EA', 'SA', 'LA', 'Sedation', 'Topical', 'Sub-tenon\'s', 'Sub conjunctival'], as: :hg_checkbox, label: false, required: false, class: 'btn btn-xs btn-white', style: 'margin-top:-2px;', :input_html=> {:name => 'inpatient_pre_anaesthesia_note[anesthesia_planned]'}, checked: @pre_anaesthesia_note.checkboxes_checked(@pre_anaesthesia_note.read_attribute(:anesthesia_planned)) %></div>-->


    <div class="col-md-6"><%= f.input :anesthesia_planned, wrapper_html: { class: 'anesthesia_planned' }, collection: ['GA', 'EA', 'SA', 'LA', 'Sedation', 'Topical', 'Sub-tenon\'s', 'Sub conjunctival'], as: :hg_radio_button, label: false, required: false, class: 'btn btn-xs btn-white', style: 'margin-top:-2px;', :input_html=> {:name => 'inpatient_pre_anaesthesia_note[anesthesia_planned]'}, checked: @pre_anaesthesia_note.read_attribute(:anesthesia_planned) %></div>


    <div class="col-md-2"><%= f.label :hearing_ability %></div>
    <div class="col-md-2">
      <%= f.input :hearing_ability, wrapper_html: {:class=>"hearing_ability"}, collection: ['Absent','Poor','Good'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[hearing_ability]'}, :checked => @pre_anaesthesia_note.read_attribute(:hearing_ability) %>
    </div>
  </div>
</div>

<% if @specalityid == '309988001' %>
  <div class="row mb20">
    <div class="col-md-12 text-center">
      <h4>Eye Related</h4>
    </div>

    <div class="col-md-3"><%= f.label :eye_operated, 'Eye to be operated' %></div>
    <div class="col-md-3">
      <%= f.input :eye_operated, wrapper_html: {:class=>"eye_operated"}, collection: ['Right','Left','Both'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[eye_operated]'}, :checked => @pre_anaesthesia_note.read_attribute(:eye_operated) %>
    </div>

    <div class="col-md-3"><%= f.label :one_eyed, 'Are you ONE EYED?' %></div>
    <div class="col-md-3">
      <%= f.input :one_eyed, wrapper_html: {:class=>"one_eyed"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[one_eyed]'}, :checked => @pre_anaesthesia_note.read_attribute(:one_eyed) %>
    </div>

    <div class="col-md-3"><%= f.label :glaucoma_protruding_eye, 'Do you have GLAUCOMA/PROTRUDING eye?' %></div>
    <div class="col-md-3">
      <%= f.input :glaucoma_protruding_eye, wrapper_html: {:class=>"glaucoma_protruding_eye"}, collection: ['None','Right','Left','Both'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[glaucoma_protruding_eye]'}, :checked => @pre_anaesthesia_note.read_attribute(:glaucoma_protruding_eye) %>
    </div>

    <div class="col-md-3"><%= f.label :high_power_glass, 'Do you use high power glass?' %></div>
    <div class="col-md-3">
      <%= f.input :high_power_glass, wrapper_html: {:class=>"high_power_glass"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[high_power_glass]'}, :checked => @pre_anaesthesia_note.read_attribute(:high_power_glass) %>
    </div>


    <div class="col-md-3"><%= f.label :eye_surgery_done, 'Eye surgery was done to' %></div>
    <div class="col-md-3">
      <%= f.input :eye_surgery_done, wrapper_html: {:class=>"eye_surgery_done"}, collection: ['None','Right','Left','Both'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[eye_surgery_done]'}, :checked => @pre_anaesthesia_note.read_attribute(:eye_surgery_done) %>
    </div>


    <div class="col-md-3"><%= f.label :axial_length_greater_than_twentyfive, 'Axial length of Eye Ball > 25?' %></div>
    <div class="col-md-3">
      <%= f.input :axial_length_greater_than_twentyfive, wrapper_html: {:class=>"axial_length_greater_than_twentyfive"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[axial_length_greater_than_twentyfive]'}, :checked => @pre_anaesthesia_note.read_attribute(:axial_length_greater_than_twentyfive) %>
    </div>

  </div>
<% end %>

<div class="row mb20">
  <div class="col-md-12 text-center">
    <h4>Medical History</h4>
  </div>


  <div class="col-md-3"><%= f.label :diabetes %></div>
  <div class="col-md-3">
    <%= f.input :diabetes, wrapper_html: {:class=>"diabetes"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[diabetes]'}, :checked => @pre_anaesthesia_note.read_attribute(:diabetes) %>
  </div>
  <div class="col-md-3"><%= f.label :high_blood_pressure %></div>
  <div class="col-md-3">
    <%= f.input :high_blood_pressure, wrapper_html: {:class=>"high_blood_pressure"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[high_blood_pressure]'}, :checked => @pre_anaesthesia_note.read_attribute(:high_blood_pressure) %>
  </div>
  <div class="col-md-3"><%= f.label :asthama %></div>
  <div class="col-md-3">
    <%= f.input :asthama, wrapper_html: {:class=>"asthama"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[asthama]'}, :checked => @pre_anaesthesia_note.read_attribute(:asthama) %>
  </div>

  <div class="col-md-3"><%= f.label :tremors, 'Tremors or Shaky body parts' %></div>
  <div class="col-md-3">
    <%= f.input :tremors, wrapper_html: {:class=>"tremors"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[tremors]'}, :checked => @pre_anaesthesia_note.read_attribute(:tremors) %>
  </div>

<!--  'Using Blood thinners eg. Ecosprin, Clopitab, Warfarin, Acitron etc'-->
  <div class="col-md-3"><%= f.label :using_blood_thinners %></div>
  <div class="col-md-3">
    <%= f.input :using_blood_thinners, wrapper_html: {:class=>"using_blood_thinners"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[using_blood_thinners]'}, :checked => @pre_anaesthesia_note.read_attribute(:using_blood_thinners) %>
  </div>

  <div class="col-md-3"><%= f.label :bypass_surgery_under_one_year %></div>
  <div class="col-md-3">
    <%= f.input :bypass_surgery_under_one_year, wrapper_html: {:class=>"bypass_surgery_under_one_year"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[bypass_surgery_under_one_year]'}, :checked => @pre_anaesthesia_note.read_attribute(:bypass_surgery_under_one_year) %>
  </div>

  <div class="col-md-3"><%= f.label :bleeding_easily %></div>
  <div class="col-md-3">
    <%= f.input :bleeding_easily, wrapper_html: {:class=>"bleeding_easily"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[bleeding_easily]'}, :checked => @pre_anaesthesia_note.read_attribute(:bleeding_easily) %>
  </div>

  <div class="col-md-3"><%= f.label :mental_problem %></div>
  <div class="col-md-3">
    <%= f.input :mental_problem, wrapper_html: {:class=>"mental_problem"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[mental_problem]'}, :checked => @pre_anaesthesia_note.read_attribute(:mental_problem) %>
  </div>


  <div class="col-md-3"><%= f.label :chest_pain %></div>
  <div class="col-md-3">
    <%= f.input :chest_pain, wrapper_html: {:class=>"chest_pain"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[chest_pain]'}, :checked => @pre_anaesthesia_note.read_attribute(:chest_pain) %>
  </div>

  <div class="col-md-3"><%= f.label :kidney_problem %></div>
  <div class="col-md-3">
    <%= f.input :kidney_problem, wrapper_html: {:class=>"kidney_problem"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[kidney_problem]'}, :checked => @pre_anaesthesia_note.read_attribute(:kidney_problem) %>
  </div>


  <div class="col-md-3"><%= f.label :heart_problem %></div>
  <div class="col-md-3">
    <%= f.input :heart_problem, wrapper_html: {:class=>"heart_problem"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[heart_problem]'}, :checked => @pre_anaesthesia_note.read_attribute(:heart_problem) %>
  </div>

  <div class="col-md-3"><%= f.label :thyroid_problem %></div>
  <div class="col-md-3">
    <%= f.input :thyroid_problem, wrapper_html: {:class=>"thyroid_problem"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[thyroid_problem]'}, :checked => @pre_anaesthesia_note.read_attribute(:thyroid_problem) %>
  </div>

  <div class="col-md-3"><%= f.label :paralysis %></div>
  <div class="col-md-3">
    <%= f.input :paralysis, wrapper_html: {:class=>"paralysis"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[paralysis]'}, :checked => @pre_anaesthesia_note.read_attribute(:paralysis) %>
  </div>

  <div class="col-md-3"><%= f.label :stroke %></div>
  <div class="col-md-3">
    <%= f.input :stroke, wrapper_html: {:class=>"stroke"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[stroke]'}, :checked => @pre_anaesthesia_note.read_attribute(:stroke) %>
  </div>

  <div class="col-md-3"><%= f.label :fits %></div>
  <div class="col-md-3">
    <%= f.input :fits, wrapper_html: {:class=>"fits"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[fits]'}, :checked => @pre_anaesthesia_note.read_attribute(:fits) %>
  </div>

  <div class="col-md-3"><%= f.label :liver_problem %></div>
  <div class="col-md-3">
    <%= f.input :liver_problem, wrapper_html: {:class=>"liver_problem"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[liver_problem]'}, :checked => @pre_anaesthesia_note.read_attribute(:liver_problem) %>
  </div>

  <div class="col-md-3"><%= f.label :cervical_spondylitis %></div>
  <div class="col-md-3">
    <%= f.input :cervical_spondylitis, wrapper_html: {:class=>"cervical_spondylitis"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[cervical_spondylitis]'}, :checked => @pre_anaesthesia_note.read_attribute(:cervical_spondylitis) %>
  </div>

  <div class="col-md-3"><%= f.label :other_problem %></div>
  <div class="col-md-3">
    <%= f.input :other_problem, wrapper_html: {:class=>"other_problem"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[other_problem]'}, :checked => @pre_anaesthesia_note.read_attribute(:other_problem) %>
  </div>

  <div class="col-md-3"><%= f.label :extra_info_to_doctor, 'Extra Information To Doctor' %></div>
  <div class="col-md-3">
    <%= f.input :extra_info_to_doctor, wrapper_html: {:class=>"extra_info_to_doctor"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[extra_info_to_doctor]'}, :checked => @pre_anaesthesia_note.read_attribute(:extra_info_to_doctor) %>
  </div>

  <div class="col-md-3"><%= f.label :fallen_ill_recently, 'Fallen ill recently (15 days)' %></div>
  <div class="col-md-3">
    <%= f.input :fallen_ill_recently, wrapper_html: {:class=>"fallen_ill_recently"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[fallen_ill_recently]'}, :checked => @pre_anaesthesia_note.read_attribute(:fallen_ill_recently) %>
  </div>

</div>


<div class="row mb20">
  <div class="col-md-12 text-center">
    <h4>Personal History</h4>
  </div>


  <div class="row form-group">

    <div class="col-md-3"><%= f.label :allergy_or_reaction %></div>
    <div class="col-md-3">
      <%= f.input :allergy_or_reaction, wrapper_html: {:class=>"allergy_or_reaction"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[allergy_or_reaction]'}, :checked => @pre_anaesthesia_note.read_attribute(:allergy_or_reaction) %>
    </div>

    <div class="col-md-3"><%= f.label :anxiety %></div>
    <div class="col-md-3">
      <%= f.input :anxiety, wrapper_html: {:class=>"anxiety"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[anxiety]'}, :checked => @pre_anaesthesia_note.read_attribute(:anxiety) %>
    </div>

    <div class="col-md-3"><%= f.label :breathlessness %></div>
    <div class="col-md-3">
      <%= f.input :breathlessness, wrapper_html: {:class=>"breathlessness"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[breathlessness]'}, :checked => @pre_anaesthesia_note.read_attribute(:breathlessness) %>
    </div>

    <div class="col-md-3"><%= f.label :anaesthesia_problem %></div>
    <div class="col-md-3">
      <%= f.input :anaesthesia_problem, wrapper_html: {:class=>"anaesthesia_problem"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[anaesthesia_problem]'}, :checked => @pre_anaesthesia_note.read_attribute(:anaesthesia_problem) %>
    </div>

    <div class="col-md-3"><%= f.label :fear_of_darkness %></div>
    <div class="col-md-3">
      <%= f.input :fear_of_darkness, wrapper_html: {:class=>"fear_of_darkness"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[fear_of_darkness]'}, :checked => @pre_anaesthesia_note.read_attribute(:fear_of_darkness) %>
    </div>

    <div class="col-md-3"><%= f.label :snore_problem %></div>
    <div class="col-md-3">
      <%= f.input :snore_problem, wrapper_html: {:class=>"snore_problem"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[snore_problem]'}, :checked => @pre_anaesthesia_note.read_attribute(:snore_problem) %>
    </div>

    <div class="col-md-3"><%= f.label :can_you_lie_flat %></div>
    <div class="col-md-3">
      <%= f.input :can_you_lie_flat, wrapper_html: {:class=>"can_you_lie_flat"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[can_you_lie_flat]'}, :checked => @pre_anaesthesia_note.read_attribute(:can_you_lie_flat) %>
    </div>

    <div class="col-md-3"><%= f.label :smoking %></div>
    <div class="col-md-3">
      <%= f.input :smoking, wrapper_html: {:class=>"smoking"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[smoking]'}, :checked => @pre_anaesthesia_note.read_attribute(:smoking) %>
    </div>

    <div class="col-md-3"><%= f.label :alcohol %></div>
    <div class="col-md-3">
      <%= f.input :alcohol, wrapper_html: {:class=>"alcohol"}, collection: ['No','Yes'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white button_style', style: "margin-top:-2px;", :input_html=> {:name => 'inpatient_pre_anaesthesia_note[alcohol]'}, :checked => @pre_anaesthesia_note.read_attribute(:alcohol) %>
    </div>

  </div>

</div>


<div class="row mb20">
  <div class="col-md-12 text-center">
    <h4>Extra Information To Doctor</h4>
  </div>

  <div class="col-md-12">
    <%= f.text_area :extra_information_to_doctor_comment,{:class => "form-control"} %>
  </div>
</div>


<div class="row mb20">
  <div class="col-md-12 text-center">
    <h4>Medications</h4>
  </div>

  <div class="col-md-12">
    <%= f.text_area :medication_comments,{:class => "form-control"} %>
  </div>
</div>


