<div class="row mb10">
  <div class="col-md-12 text-center">
    <div class="pcs-entity-title">
      <span>Pre Anaesthesia Summary</span>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <strong>Pre Anaesthesia Details :</strong>
        <div class="summary-line-border"></div>
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-12 col-sm-12">
        <div class="col-md-5 col-sm-5">
          <b>Form Entered By : </b>
        </div>
        <div class="col-md-7 col-sm-7">
          <% if pre_anaesthesia_note.entered_by.present? %>
            <% entered_by_fullname = User.find_by(id: pre_anaesthesia_note.entered_by).try(:fullname) %>
            <%= entered_by_fullname.titleize %>
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>Surgery Name :</b>
        </div>
        <div class="col-md-7 col-sm-7">
          <% if pre_anaesthesia_note.surgery_name.present? %>
            <%= pre_anaesthesia_note.surgery_name.titleize %>
          <% else %>
            --
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>Surgeon Name :</b>
        </div>
        <div class="col-md-7 col-sm-7">
          <% if pre_anaesthesia_note.surgeon_name.present? %>
            <%= pre_anaesthesia_note.surgeon_name.titleize %>
          <% else %>
            --
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>Surgery Date :</b>
        </div>
        <div class="col-md-7 col-sm-7">
          <% if pre_anaesthesia_note.surgery_date.present? %>
            <%= pre_anaesthesia_note.surgery_date.strftime('%d-%m-%Y') %>
          <% else %>
            --
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>Anesthesia Planned :</b>
        </div>
        <div class="col-md-7 col-sm-7">
          <% if pre_anaesthesia_note.anesthesia_planned.present? %>
            <%= pre_anaesthesia_note.anesthesia_planned.titleize %>
          <% else %>
            --
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>Hearing Ability :</b>
        </div>
        <div class="col-md-7 col-sm-7">
          <% if pre_anaesthesia_note.hearing_ability.present? %>
            <%= pre_anaesthesia_note.hearing_ability.titleize %>
          <% else %>
            --
          <% end %>
        </div>
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-12 col-sm-12">
        <strong><b style="text-decoration:underline;">Medical History:</b></strong>
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="col-md-5 col-sm-5">
          <b>Diabetes : </b>
        </div>
        <div class="col-md-1 col-sm-1">
          <% if pre_anaesthesia_note.diabetes.present? %>
            <span><%= pre_anaesthesia_note.diabetes %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>High blood pressure : </b>
        </div>
        <div class="col-md-1 col-sm-1">
          <% if pre_anaesthesia_note.high_blood_pressure.present? %>
            <span><%= pre_anaesthesia_note.high_blood_pressure %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>Asthama : </b>
        </div>
        <div class="col-md-1 col-sm-1">
          <% if pre_anaesthesia_note.asthama.present? %>
            <span><%= pre_anaesthesia_note.asthama %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>Tremors or Shaky body parts : </b>
        </div>
        <div class="col-md-1 col-sm-1">
          <% if pre_anaesthesia_note.tremors.present? %>
            <span><%= pre_anaesthesia_note.tremors %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>Using blood thinners : </b>
        </div>
        <div class="col-md-1 col-sm-1">
          <% if pre_anaesthesia_note.using_blood_thinners.present? %>
            <span><%= pre_anaesthesia_note.using_blood_thinners %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>Bypass surgery under one year : </b>
        </div>
        <div class="col-md-1 col-sm-1">
          <% if pre_anaesthesia_note.bypass_surgery_under_one_year.present? %>
            <span><%= pre_anaesthesia_note.bypass_surgery_under_one_year %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>Bleeding easily : </b>
        </div>
        <div class="col-md-1 col-sm-1">
          <% if pre_anaesthesia_note.bleeding_easily.present? %>
            <span><%= pre_anaesthesia_note.bleeding_easily %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>Mental problem : </b>
        </div>
        <div class="col-md-1 col-sm-1">
          <% if pre_anaesthesia_note.mental_problem.present? %>
            <span><%= pre_anaesthesia_note.mental_problem %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>Chest pain : </b>
        </div>
        <div class="col-md-1 col-sm-1">
          <% if pre_anaesthesia_note.chest_pain.present? %>
            <span><%= pre_anaesthesia_note.chest_pain %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>Kidney problem : </b>
        </div>
        <div class="col-md-1 col-sm-1">
          <% if pre_anaesthesia_note.kidney_problem.present? %>
            <span><%= pre_anaesthesia_note.kidney_problem %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>Heart problem : </b>
        </div>
        <div class="col-md-1 col-sm-1">
          <% if pre_anaesthesia_note.heart_problem.present? %>
            <span><%= pre_anaesthesia_note.heart_problem %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>Thyroid problem : </b>
        </div>
        <div class="col-md-1 col-sm-1">
          <% if pre_anaesthesia_note.thyroid_problem.present? %>
            <span><%= pre_anaesthesia_note.thyroid_problem %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>Paralysis : </b>
        </div>
        <div class="col-md-1 col-sm-1">
          <% if pre_anaesthesia_note.paralysis.present? %>
            <span><%= pre_anaesthesia_note.paralysis %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>Stroke : </b>
        </div>
        <div class="col-md-1 col-sm-1">
          <% if pre_anaesthesia_note.stroke.present? %>
            <span><%= pre_anaesthesia_note.stroke %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>Fits : </b>
        </div>
        <div class="col-md-1 col-sm-1">
          <% if pre_anaesthesia_note.fits.present? %>
            <span><%= pre_anaesthesia_note.fits %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>Liver problem : </b>
        </div>
        <div class="col-md-1 col-sm-1">
          <% if pre_anaesthesia_note.liver_problem.present? %>
            <span><%= pre_anaesthesia_note.liver_problem %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>Cervical spondylitis : </b>
        </div>
        <div class="col-md-1 col-sm-1">
          <% if pre_anaesthesia_note.cervical_spondylitis.present? %>
            <span><%= pre_anaesthesia_note.cervical_spondylitis %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>Other problem : </b>
        </div>
        <div class="col-md-1 col-sm-1">
          <% if pre_anaesthesia_note.other_problem.present? %>
            <span><%= pre_anaesthesia_note.other_problem %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>Extra Information To Doctor : </b>
        </div>
        <div class="col-md-1 col-sm-1">
          <% if pre_anaesthesia_note.extra_info_to_doctor.present? %>
            <span><%= pre_anaesthesia_note.extra_info_to_doctor %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>Fallen ill recently (15 days) : </b>
        </div>
        <div class="col-md-1 col-sm-1">
          <% if pre_anaesthesia_note.fallen_ill_recently.present? %>
            <span><%= pre_anaesthesia_note.fallen_ill_recently %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-12 col-sm-12">
        <strong><b style="text-decoration:underline;">Personal History:</b></strong>
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="col-md-5 col-sm-5">
          <b>Allergy or reaction : </b>
        </div>
        <div class="col-md-1 col-sm-1">
          <% if pre_anaesthesia_note.allergy_or_reaction.present? %>
            <span><%= pre_anaesthesia_note.allergy_or_reaction %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>Anxiety : </b>
        </div>
        <div class="col-md-1 col-sm-1">
          <% if pre_anaesthesia_note.anxiety.present? %>
            <span><%= pre_anaesthesia_note.anxiety %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>Breathlessness : </b>
        </div>
        <div class="col-md-1 col-sm-1">
          <% if pre_anaesthesia_note.breathlessness.present? %>
            <span><%= pre_anaesthesia_note.breathlessness %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>Anaesthesia problem : </b>
        </div>
        <div class="col-md-1 col-sm-1">
          <% if pre_anaesthesia_note.anaesthesia_problem.present? %>
            <span><%= pre_anaesthesia_note.anaesthesia_problem %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>Fear of darkness : </b>
        </div>
        <div class="col-md-1 col-sm-1">
          <% if pre_anaesthesia_note.fear_of_darkness.present? %>
            <span><%= pre_anaesthesia_note.fear_of_darkness %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>Snore problem : </b>
        </div>
        <div class="col-md-1 col-sm-1">
          <% if pre_anaesthesia_note.snore_problem.present? %>
            <span><%= pre_anaesthesia_note.snore_problem %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>Can you lie flat : </b>
        </div>
        <div class="col-md-1 col-sm-1">
          <% if pre_anaesthesia_note.can_you_lie_flat.present? %>
            <span><%= pre_anaesthesia_note.can_you_lie_flat %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>Smoking : </b>
        </div>
        <div class="col-md-1 col-sm-1">
          <% if pre_anaesthesia_note.smoking.present? %>
            <span><%= pre_anaesthesia_note.smoking %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>Alcohol : </b>
        </div>
        <div class="col-md-1 col-sm-1">
          <% if pre_anaesthesia_note.alcohol.present? %>
            <span><%= pre_anaesthesia_note.alcohol %></span>
          <% else %>
            <span>--</span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row mb5">
      <div class="col-md-12 col-sm-12">
        <strong><b style="text-decoration:underline;">Comments:</b></strong>
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="col-md-5 col-sm-5">
          <b>Extra Information To Doctor : </b>
        </div>
        <div class="col-md-7 col-sm-7">
          <span>
            <% if pre_anaesthesia_note.extra_information_to_doctor_comment.present? %>
              <%= pre_anaesthesia_note.extra_information_to_doctor_comment %>
            <% else %>
              --
            <% end %>
          </span>
        </div>
        <div class="col-md-5 col-sm-5">
          <b>Medications : </b>
        </div>
        <div class="col-md-7 col-sm-7">
          <span>
            <% if pre_anaesthesia_note.medication_comments.present? %>
              <%= pre_anaesthesia_note.medication_comments %>
            <% else %>
              --
            <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>