<%= hidden_field_tag "admission[daycare]", value: false %>
<div class="modal-body">
  <div class="row">
    <div class="col-md-2">
      <b>Ward :</b>
    </div>
    <div class="col-md-4">
      <%= select_tag "admission[ward_id]", options_for_select(@wards.map { |ward| [ward.name, ward.id] }, @admission.ward_id.to_s), {}, {:class => "form-control"} %>
    </div>
    <div class="col-md-2">
      <b>Room :</b>
    </div>
    <div class="col-md-4">
      <%= select_tag "admission[room_id]", options_for_select(""), {}, {:class => "form-control"} %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-3">
      <b>Select Bed :</b>
    </div>
    <div class="col-md-9 text-right">
      <b style="color:#f00"><% unless @admission.daycare %>Existing Bed: <%= @bed.name %> ( <%= @bed.code %> )<% end %></b>
    </div>
  </div>
  <div class="row show-beds">
    
  </div>
</div>