<%= javascript_include_tag 'application-loggedin', 'data-turbolinks-track' => true %>
<div class="modal-dialog" style="width: 95%" >
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h2 class="authorization-modal-title">Add User Policy</h2>
    </div>

    <%= form_for @user_policy, remote: true, html: { id: 'authorization_user_policy_form' } do |f| %>
      <%= f.hidden_field :organisation_id, { value: @current_user.organisation_id } %>
      <%= f.hidden_field :last_edited_by, { value: @current_user.fullname } %>
      <%= f.hidden_field :policy_ids, { value: @user_policy.policy_ids } %>

      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-content user-policy-form-content" id="user_policy_form" style="box-shadow: none;background:#fff;">
              <%= render partial: 'authorization/user_policies/form.html.erb', locals: { f: f } %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit 'Save Changes', { class: 'btn btn-success', onclick: 'validate_user_policy_form()' } %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>

  </div>
</div>

<style type="text/css">

  .ui-menu-item a.ui-state-focus {
    background-color: #929090;
    color: #fff;
  }

  .select2-container .select2-selection--single {
    height: 34px !important;
  }
</style>
