<div class="policy-cards row">
  <% policies.each do |policy| %>
    <div class="policy-card col-md-6">
      <div class="row">
        <div class="col-md-5">
          <span class="policy-description"><%= policy.description %> </span>
        </div>
        <div class="col-md-3 full-view">
          <strong><i>Authorized:</i></strong> <span class="policy-value <%= policy.authorized ? 'text-success' : 'text-danger'  %>">&nbsp;&nbsp;&nbsp;<%= policy.authorized ? 'YES' : 'NO' %>&nbsp;&nbsp;&nbsp;&nbsp;</span>  
        </div>
        <div class="col-md-3 full-view">
          <% if  policy.hg_policy.try(:maker_checker_ability) %>
            <strong>Maker-Checker: </strong>
            <% if policy.try(:maker_checker) %>
              Yes
            <% else %>
              No
            <% end %>
          <% end %>
        </div>
        <div class="col-md-1 full-view">
          <div class="rdio rdio-primary">
            <%= f.radio_button "hg_policy#{policy.try(:hg_policy_id).to_s}", policy.id.to_s, id: "policy_#{policy.id.to_s}", data: { policy_id: "#{policy.id.to_s}" }, class: "selected-policy", checked: @user_policy.try(:policy_ids).include?(policy.id.to_s) %>
            <label for="policy_<%= policy.id.to_s %>"><b></b></label>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>