<div class="stat" style="max-width:100%;">
  <div class="row">
    <div class="col-xs-3">
      <small class="stat-label">Admissions</small>
      <small class="stat-label" style="color:#F0AD4E">|</small>
      <!-- Patients Admitted Today -->
      <% if current_user.has_role?(:doctor) %>
        <h1><%= @admission_today_doctor %></h1>
      <% else %>
        <h1><%= @admission_today_nurse %></h1>
      <% end %>
    </div>
    <div class="col-xs-3">
      <small class="stat-label">In OT</small>
      <small class="stat-label" style="color:#F0AD4E">|</small>
      <!-- Patient Scheduled for OT Today -->
      <% if current_user.has_role?(:doctor) %>
        <h1><%= @patients_ot_doctor %></h1>
      <% else %>
        <h1><%= @patients_ot_nurse %></h1>
      <% end %>
    </div>
    <div class="col-xs-3">
      <small class="stat-label">Total Admitted</small>
      <!-- Total Admitted Patient in Facility -->
      <% if current_user.has_role?(:doctor) %>
        <h1><%= @admitted_patient_doctor %></h1>
      <% else %>
        <h1><%= @admitted_patient_nurse %></h1>
      <% end %>
    </div>
    <div class="col-xs-3">
      <small class="stat-label">Discharged</small>
      <small class="stat-label" style="color:#F0AD4E">|</small>
      <!-- Patients Discharged Today -->
      <% if current_user.has_role?(:doctor) %>
        <h1><%= @discharged_today_doctor %></h1>
      <% else %>
        <h1><%= @discharged_today_nurse %></h1>
      <% end %>
    </div>
  </div>
</div>