<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title"><%= @set_type.capitalize %> Feedback Questions</h4>
    </div>
   
    <%= form_tag'/feedback_forms/update', method: "patch", remote: true, id: 'feedback_form', class: "feedback_form" do %>
      <%= hidden_field_tag "id", @feedback_setting.id %>
      <%= hidden_field_tag "set_type", @set_type %>
      <% @questions = @feedback_setting.feedback_question_sets %>
      <div class="modal-body form-bordered clearfix">
        
        <div class="row feedback-heading-row text-center" style="display: none;">
           <div class="col-md-3"><b>Type</b></div>
           <div class="col-md-8"><b>Question</b></div>
           <div class="col-md-1"></div>
        </div>

        <div class="feedback_question_rows">
          
          <% if @questions.count > 0 %>
            <% @questions.each_with_index do |question, i| %>
              
              <div class="question_row row temp_class" style="margin: 15px">
                <%= hidden_field_tag "feedback_setting[feedback_question_sets_attributes][#{i}][_destroy]", "0" %>
                <%= hidden_field_tag "feedback_setting[feedback_question_sets_attributes][#{i}][id]", question.id %>
                <div class="col-md-3" style="margin-top: 2px;">
                  <% type = [["Bedside manner","bedside_manner"], ["Easy Appointment","easy_appointment"], ["Promptness","promptness"], ["Accurate Diagnosis","accurate_diagnosis"],["Friendly Staff", "friendly_staff"],["Spends Time with me","spends_time_with_me"],["Appropriate Follow-up","appropriate_follow_up"]] %>
                  <%= select_tag "feedback_setting[feedback_question_sets_attributes][#{i}][type]", options_for_select(type.map { |type| [type[0], type[1]] }, question.type.to_s), {:class => "form-control"} %>
                </div>
                <div class="col-md-8">
                  <input type="text" name="feedback_setting[feedback_question_sets_attributes][<%=i%>][question_field]" class="form-control question_row_field" value="<%= question.question_field%>"  placeholder="Enter your question...">
                </div>
                <div class="col-md-1 remove_question_div">
                  <button class="btn btn-danger btn-xs remove_question_btn" style="margin-top: 5px;"><i class="fa fa-trash-alt"></i></button>
                </div>
              </div>

            <% end %>
          <%else%>
            <div class="row no_data_present text-center">
              <b style="margin-top: 50px;font-size: 20px;font-style: italic;">No Questions Present</b>
            </div>
          <% end %>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary add_more_question">Add Question</button>
        <%= submit_tag "Update",{:class => 'btn btn-success', :onclick => ''}%>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>

  </div>
</div>