<div style="max-width:800px;font-family:roboto,sans-serif;font-weight:40; ">
  <div style="font-size:16px;border:1px solid #dedede;">
    <div id="feedback-page" style="color: #868ba1;">
      <%= form_tag '/admins/feedback_form', method: "post", remote: true, id: 'feedback_form', class: "feedback_form" do %>
        <div id="feedback-header" style="padding:24px 20px 24px 20px;background-color:#e2e2e2">
          <span style="color:#000;font-size: 20px;">Feedback Questions</span>
        </div>
        
        <div id="feedback-content" style="margin:auto 30px 10px 30px;font-size:14px;line-height:20px;padding: 30px;">   
          <input type="hidden" name="feedback_form[organisation_id]" value="<%= current_user.organisation_id%>">
          <input type="hidden" name="feedback_form[facility_id]" value="<%= current_facility.id %>">

          <div class="feedback_question_rows row">
            <% if @feedback_questions.count > 0 %>
              <% @feedback_questions.each_with_index do |question, i| %>
                <div class="question_row row">
                  <div class="col-md-11 question_row_main_div">
                    <input type="text" name="feedback_form[question_row][<%=i%>]" class="form-control question_row_field" value="<%= question%>"  placeholder="Enter your question..." style="margin: 10px">
                  </div>
                  <div class="col-md-1 remove_question"><button class="btn btn-danger btn-xs" style="margin-top: 15px;"><i class="fa fa-trash-alt"></i></button></div>
                </div>
              <% end %>
            <%else%>
              <div class="row no_data_present text-center">
                <b style="margin-top: 50px;font-size: 20px;font-style: italic;">No Questions Present</b>
              </div>
            <% end %>

            <div class="row no_data_present_row text-center" style="display: none;">
              <b style="margin-top: 50px;font-size: 20px;font-style: italic;">No Questions Present</b>
            </div>
          </div>
          
        </div>
        
        <div id="feedback-footer" style="margin:auto 30px 10px 30px;font-size:14px;line-height:20px;padding-left: 30px;padding-top: 37px;">
          <div class="row text-right">
            <button class="btn btn-primary add_more_question">Add Question</button>
            <%= submit_tag "Update Form", {:class => 'btn btn-primary text-right update_btn'} %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>