<div class="main-div">
  <% if @opd_setting %>
    <div class="opd-feedback-details">
      <div class="row feedback-heading panel-heading">
        <div class="col-md-1"></div>
        <div class="col-md-2"><b>Turn Opd Feedback</b></div>
        <div class="col-md-1">
          <%if @opd_setting.opd_feedback_feature %>
            <div class="toggle-success feedback_feature_active" data-from="opd" data-id="<%=@opd_setting.id%>" data-commit="No" data-cancel="Yes"></div>
          <%else%>
            <div class="toggle-success feedback_feature_inactive" data-from="opd" data-id="<%=@opd_setting.id%>" data-commit="No" data-cancel="Yes"></div>
          <%end%>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 text-right">
          <%= link_to edit_feedback_form_path(id: @opd_setting, set_type: 'opd'), method: :get, data: {remote: true, toggle: 'modal', target: "#feedback-form-modal"}, class: "btn btn-info btn-xs edit-btn-questions" do %><i class="fa fa-edit"></i> Edit Questions<% end %>
          <button class="btn btn-primary btn-xs opd-feedback-details-show">View Details</button>
          <button class="btn btn-primary btn-xs opd-feedback-details-hide" style="display: none;">Hide Details</button>
        </div>
      </div>

      <div id="opd-feedback-content" style="margin:auto; font-size:14px; padding: 40px;background-color: #ececec;display: none;">   
      
        <div class="row">
          
          <% @feedback_questions = @opd_setting.feedback_question_sets %>
          <% if @feedback_questions.count > 0 %>
            <% @feedback_questions.each_with_index do |question, i| %>
              <div class="col-md-11">
                <ul>
                  <li><b><%= question.question_field %></b></li>
                  
                  <fieldset class="rate">
                    <input type="radio" id="opd_rating10_<%=i%>" rating_value="5" name="opd_rating_<%=i%>" value="10" class="star_rating" /><label class="star rating_star_label" for="opd_rating10_<%=i%>" title="5 stars"></label>
                    <input type="radio" id="opd_rating9_<%=i%>" rating_value="4.5" name="opd_rating_<%=i%>" value="9" class="star_rating" /><label class="star half" for="opd_rating9__<%=i%>" title="4 1/2 stars"></label>
                    <input type="radio" id="opd_rating8_<%=i%>" rating_value="4" name="opd_rating_<%=i%>" value="8" class="star_rating" /><label class="star rating_star_label" for="opd_rating8_<%=i%>" title="4 stars"></label>
                    <input type="radio" id="opd_rating7_<%=i%>" rating_value="3.5" name="opd_rating_<%=i%>" value="7" class="star_rating" /><label class="star half" for="opd_rating7_<%=i%>" title="3 1/2 stars"></label>
                    <input type="radio" id="opd_rating6_<%=i%>" rating_value="3" name="opd_rating_<%=i%>" value="6" class="star_rating" /><label class="star rating_star_label" for="opd_rating6_<%=i%>" title="3 stars"></label>
                    <input type="radio" id="opd_rating5_<%=i%>" rating_value="2.5" name="opd_rating_<%=i%>" value="5" class="star_rating" /><label class="star half" for="opd_rating5_<%=i%>" title="2 1/2 stars"></label>
                    <input type="radio" id="opd_rating4_<%=i%>" rating_value="2" name="opd_rating_<%=i%>" value="4" class="star_rating" /><label class="star rating_star_label" for="opd_rating4_<%=i%>" title="2 stars"></label>
                    <input type="radio" id="opd_rating3_<%=i%>" rating_value="1.5" name="opd_rating_<%=i%>" value="3" class="star_rating" /><label class="star half" for="opd_rating3_<%=i%>" title="1 1/2 stars"></label>
                    <input type="radio" id="opd_rating2_<%=i%>" rating_value="1" name="opd_rating_<%=i%>" value="2" class="star_rating" /><label class="star rating_star_label" for="opd_rating2_<%=i%>" title="1 star"></label>
                    <input type="radio" id="opd_rating1_<%=i%>" rating_value="0.5" name="opd_rating_<%=i%>" value="1" class="star_rating" /><label class="star half" for="opd_rating1_<%=i%>" title="1/2 star"></label>
                    <input type="radio" id="opd_rating0_<%=i%>" rating_value="0" name="opd_rating_<%=i%>" value="0" class="star_rating" /><label class="star rating_star_label" for="opd_rating0_<%=i%>" title="No star"></label>
                  </fieldset>
                  
                </ul>
              </div>
            <% end %>
          <%else%>
            <div class="row no_data_present text-center">
              <b style="margin-top: 50px;font-size: 20px;font-style: italic;">No Questions Present</b>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  <% end %>

  <% if @discharge_setting %>
    <div class="discharge-feedback-details">
      <div class="row discharge-feedback-heading panel-heading">
        <div class="col-md-1"></div>
        <div class="col-md-2"><b>Turn Discharge Feedback</b></div>
        <div class="col-md-1">
          
          <%if @discharge_setting.discharge_feedback_feature %>
            <div class="toggle-success feedback_feature_active" data-from="discharge" data-id="<%=@discharge_setting.id%>" data-commit="No" data-cancel="Yes"></div>
          <%else%>
            <div class="toggle-success feedback_feature_inactive" data-from="discharge" data-id="<%=@discharge_setting.id%>" data-commit="No" data-cancel="Yes"></div>
          <%end%>

        </div>
        <div class="col-md-2"></div>
      
        <div class="col-md-5 text-right">
          <%= link_to edit_feedback_form_path(id: @discharge_setting, set_type: 'discharge'), method: :get, data: {remote: true, toggle: 'modal', target: "#feedback-form-modal"}, class: "btn btn-info btn-xs edit-btn-questions" do %><i class="fa fa-edit"></i> Edit Questions<% end %>
          <button class="btn btn-primary btn-xs discharge-feedback-details-show">View Details</button>
          <button class="btn btn-primary btn-xs discharge-feedback-details-hide" style="display: none;">Hide Details</button>
        </div>
      </div>

      <div id="discharge-feedback-content" style="margin:auto; font-size:14px; padding: 40px;background-color: #ececec;display: none;">   
      
        <div class="row">
          <% @feedback_questions = @discharge_setting.feedback_question_sets %>
          <% if @feedback_questions.count > 0 %>
            <% @feedback_questions.each_with_index do |question, i| %>
              <div class="col-md-11 question_row_main_div">
                <ul>
                  <li><b><%= question.question_field %></b></li>
                  
                  <fieldset class="rate">
                    <input type="radio" id="rating10_<%=i%>" rating_value="5" name="rating_<%=i%>" value="10" class="star_rating" /><label class="star rating_star_label" for="rating10_<%=i%>" title="5 stars"></label>
                    <input type="radio" id="rating9_<%=i%>" rating_value="4.5" name="rating_<%=i%>" value="9" class="star_rating" /><label class="star half" for="rating9__<%=i%>" title="4 1/2 stars"></label>
                    <input type="radio" id="rating8_<%=i%>" rating_value="4" name="rating_<%=i%>" value="8" class="star_rating" /><label class="star rating_star_label" for="rating8_<%=i%>" title="4 stars"></label>
                    <input type="radio" id="rating7_<%=i%>" rating_value="3.5" name="rating_<%=i%>" value="7" class="star_rating" /><label class="star half" for="rating7_<%=i%>" title="3 1/2 stars"></label>
                    <input type="radio" id="rating6_<%=i%>" rating_value="3" name="rating_<%=i%>" value="6" class="star_rating" /><label class="star rating_star_label" for="rating6_<%=i%>" title="3 stars"></label>
                    <input type="radio" id="rating5_<%=i%>" rating_value="2.5" name="rating_<%=i%>" value="5" class="star_rating" /><label class="star half" for="rating5_<%=i%>" title="2 1/2 stars"></label>
                    <input type="radio" id="rating4_<%=i%>" rating_value="2" name="rating_<%=i%>" value="4" class="star_rating" /><label class="star rating_star_label" for="rating4_<%=i%>" title="2 stars"></label>
                    <input type="radio" id="rating3_<%=i%>" rating_value="1.5" name="rating_<%=i%>" value="3" class="star_rating" /><label class="star half" for="rating3_<%=i%>" title="1 1/2 stars"></label>
                    <input type="radio" id="rating2_<%=i%>" rating_value="1" name="rating_<%=i%>" value="2" class="star_rating" /><label class="star rating_star_label" for="rating2_<%=i%>" title="1 star"></label>
                    <input type="radio" id="rating1_<%=i%>" rating_value="0.5" name="rating_<%=i%>" value="1" class="star_rating" /><label class="star half" for="rating1_<%=i%>" title="1/2 star"></label>
                    <input type="radio" id="rating0_<%=i%>" rating_value="0" name="rating_<%=i%>" value="0" class="star_rating" /><label class="star rating_star_label" for="rating0_<%=i%>" title="No star"></label>
                  </fieldset>
                  
                </ul>
              </div>
            <% end %>
          <%else%>
            <div class="row no_data_present text-center">
              <b style="margin-top: 50px;font-size: 20px;font-style: italic;">No Questions Present</b>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= render "/feedback_forms/star_rating.html.erb" %>

<script type="text/javascript">
  var togglebuttoninactive = {
    off: true,
  }
  var togglebuttonactive = {
      on: true,
  };
  $('.feedback_feature_inactive').toggles(togglebuttoninactive);
  $('.feedback_feature_active').toggles(togglebuttonactive);

  $(".toggle-success").on('toggle', function(e, active) {
    var data_from = $(this).attr('data-from')
    var data_id = $(this).attr('data-id')

    if (active) {
        var feedback_feature_active_inactive = 'true'
    } else {;
        var feedback_feature_active_inactive = 'false'
    }
    jQuery.ajax({
      type: "GET",
      url: '/feedback_forms/feedback_form_status',
      data: {feedback_status: feedback_feature_active_inactive,data_from: data_from, data_id: data_id, remote: "true" },
    });
  });

  $(".opd-feedback-details-show").on('click', function(){
    $(this).hide();
    $(this).siblings('.opd-feedback-details-hide').show()
    $('#opd-feedback-content').show(200)
    $(".discharge-feedback-details-hide").trigger('click')
  })

  $(".opd-feedback-details-hide").on('click', function(){
    $(this).hide();
    $(this).siblings('.opd-feedback-details-show').show()
    $('#opd-feedback-content').hide()
  })

  $(".discharge-feedback-details-show").on('click', function(){
    $(this).hide();
    $(this).siblings('.discharge-feedback-details-hide').show()
    $('#discharge-feedback-content').show(200)
    $(".opd-feedback-details-hide").trigger('click')
  })

  $(".discharge-feedback-details-hide").on('click', function(){
    $(this).hide();
    $(this).siblings('.discharge-feedback-details-show').show()
    $('#discharge-feedback-content').hide()
  })
</script>