<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">Feedback Form Preview</h4>
    </div>
    
    <div class="modal-body form-bordered clearfix custom_icd_diagnosis_fields text-left">


      <div style="max-width:800px;font-family:roboto,sans-serif;font-weight:40;margin: auto;box-shadow: 0 0 15px 0 #333;">
        <div style="font-size:16px;border:1px solid #dedede;">
          <div id="feedback-page" style="color: #868ba1;">
            <div id="feedback-header" style="padding:24px 20px 24px 20px;background-color:#e2e2e2">
              <span style="color:#000;font-size: 20px;">Feedback Questions</span>
            </div>

            <div id="feedback-content" style="margin:auto 30px 10px 30px;font-size:14px;line-height:20px;padding: 30px;">   
              <input type="hidden" name="feedback_form[organisation_id]" value="<%= current_user.organisation_id%>">
              <input type="hidden" name="feedback_form[facility_id]" value="<%= current_facility.id %>">

              <div class="feedback_question_rows row">
                <% if @feedback_questions.count > 0 %>
                  <% @feedback_questions.each_with_index do |question, i| %>
                    <div class="col-md-11 question_row_main_div">
                      <ul>
                        <li><b><%= question %></b></li>
                        
                        <fieldset class="rate">
                          <input type="radio" id="rating10_<%=i%>" rating_value="5" name="rating_<%=i%>" value="10" class="star_rating" /><label for="rating10_<%=i%>" title="5 stars"></label>
                          <input type="radio" id="rating9_<%=i%>" rating_value="4.5" name="rating_<%=i%>" value="9" class="star_rating" /><label class="half" for="rating9__<%=i%>" title="4 1/2 stars"></label>
                          <input type="radio" id="rating8_<%=i%>" rating_value="4" name="rating_<%=i%>" value="8" class="star_rating" /><label for="rating8_<%=i%>" title="4 stars"></label>
                          <input type="radio" id="rating7_<%=i%>" rating_value="3.5" name="rating_<%=i%>" value="7" class="star_rating" /><label class="half" for="rating7_<%=i%>" title="3 1/2 stars"></label>
                          <input type="radio" id="rating6_<%=i%>" rating_value="3" name="rating_<%=i%>" value="6" class="star_rating" /><label for="rating6_<%=i%>" title="3 stars"></label>
                          <input type="radio" id="rating5_<%=i%>" rating_value="2.5" name="rating_<%=i%>" value="5" class="star_rating" /><label class="half" for="rating5_<%=i%>" title="2 1/2 stars"></label>
                          <input type="radio" id="rating4_<%=i%>" rating_value="2" name="rating_<%=i%>" value="4" class="star_rating" /><label for="rating4_<%=i%>" title="2 stars"></label>
                          <input type="radio" id="rating3_<%=i%>" rating_value="1.5" name="rating_<%=i%>" value="3" class="star_rating" /><label class="half" for="rating3_<%=i%>" title="1 1/2 stars"></label>
                          <input type="radio" id="rating2_<%=i%>" rating_value="1" name="rating_<%=i%>" value="2" class="star_rating" /><label for="rating2_<%=i%>" title="1 star"></label>
                          <input type="radio" id="rating1_<%=i%>" rating_value="0.5" name="rating_<%=i%>" value="1" class="star_rating" /><label class="half" for="rating1_<%=i%>" title="1/2 star"></label>
                          <input type="radio" id="rating0_<%=i%>" rating_value="0" name="rating_<%=i%>" value="0" class="star_rating" /><label for="rating0_<%=i%>" title="No star"></label>
                        </fieldset>
                        
                      </ul>
                    </div>
                  <% end %>
                <%else%>
                  <div class="row no_data_present text-center">
                    <b style="margin-top: 50px;font-size: 20px;font-style: italic;">No Questions Present</b>
                  </div>
                <% end %>

                <div class="row no_data_present_row text-center" style="display: none;">
                  <b style="margin-top: 50px;font-size: 20px;font-style: italic;">No Questions Present</b>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>

  </div>
</div>

<%= render "/feedback_forms/star_rating.html.erb" %>