<!-- Note: Any Changes Here May also be needed in InvestigationManagementModule file with the same name -->
<% @investigation = investigation %>
<% @investigation.try(:each_with_index) do |investigation, i| %>
  <div class="row toggle-row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4">
          <b>
            <%= i+1 %>. <%= investigation.name %>
            <% if investigation.try(:investigation_side).present? %>
              <% if investigation.try(:investigation_side) == '40638003' %>
                (B/E)
              <% elsif investigation.try(:investigation_side) == '18944008' %>
                (R)
              <% elsif investigation.try(:investigation_side) == '8966001' %>
                (L)
              <% end %>
            <% end %>
            <% if investigation.try(:radiology_options).present? %>
              <% if investigation.try(:radiology_options) == '90084008' %>
                w/o contrast
              <% elsif investigation.try(:radiology_options) == '51619007' %>
                with contrast
              <% elsif investigation.try(:radiology_options) == '429859008' %>
                with complete screening
              <% elsif investigation.try(:radiology_options) == '431985004' %>
                screening of other region
              <% elsif investigation.try(:radiology_options) == '22400007' %>
                3D-reconstruction
              <% end %>
            <% end %>
            <span class="toggle-detailed-timeline" style="font-size: 12px;color:#1CAF9A; cursor:pointer;">- <%= investigation.state.split("_").map(&:capitalize).join(' ') %>&nbsp;<i class="fa fa-caret-down"></i></span>
          </b>
        </div>
        <!-- <div class="col-sm-2 text-center">
          <label class="label label-primary toggle-detailed-timeline" style="border-radius: 10px;cursor: pointer;"><%#= investigation.state.split("_").map(&:capitalize).join(' ') %></label>
        </div> -->
        <div class="col-sm-8 text-right" id="action-<%= investigation.id%>">
          <% if @current_user.organisation.type_id == '22232009' %>
            <%= render partial: 'outpatients/appointment/investigation_details/investigation_workflow_actions.html.erb', locals: { investigation: investigation } %>
          <% else %>
            <%= render partial: 'outpatients/appointment/investigation_details/investigation_pp_actions.html.erb', locals: { investigation: investigation } %>
          <% end %>
        </div>
      </div>
      <div class="row toggle-this mb5" style="display: none;">
        <div class="col-sm-12">
          <%= render partial: 'outpatients/appointment/investigation_details/investigation_timeline.html.erb', locals: { investigation: investigation } %>
        </div>
      </div>
      <% inv_upload = @uploads.where(investigation_detail_id: investigation.id.to_s) %>
      <% if inv_upload.try(:count) > 0 %>
        <%= render partial: 'investigation/records/upload_section',locals: {inv_upload: inv_upload,investigation: investigation} %>
      <% end %>
    </div>
  </div>


  <% unless i+1 == @investigation.count %>
    <hr style="margin:5px 0;">
  <% end %>
<% end %>
<% if @investigation.count == 0 %>
  <div class="row">
    <div class="col-sm-12">
      <b>No <%= flag %> Investigation</b>
    </div>
  </div>
<% end %>