<!-- Note: Any Changes Here May also be needed in Outpatient/Appointment Module file with the same name -->
<% advised_by = investigation.try(:advised_by_username) %>
<% counselled_by = investigation.try(:counselled_by_username) %>
<% collected_by = investigation.try(:collected_by_username) %>
<% performed_by = investigation.try(:performed_by_username) %>
<% sent_outside_by = investigation.try(:sent_outside_by_username) %>
<% template_created_by = investigation.try(:template_created_by_username) %>
<% removed_by = investigation.try(:removed_by_username) %>
<% declined_by = investigation.try(:declined_by_username) %>
<% test_started_by = investigation.try(:test_started_by_username) %>
<% reviewed_by = investigation.try(:reviewed_by_username) %>
<% advised_at_facility = investigation.try(:advised_at_facility_name) %>
<% counselled_at_facility = investigation.try(:counselled_at_facility_name) %>
<% collected_at_facility = investigation.try(:collected_at_facility_name) %>
<% performed_at_facility = investigation.try(:performed_at_facility_name) %>
<% sent_outside_at_facility = investigation.try(:sent_outside_at_facility_name) %>
<% template_created_at_facility = investigation.try(:template_created_at_facility_name) %>
<% removed_at_facility = investigation.try(:removed_at_facility_name) %>
<% declined_at_facility = investigation.try(:declined_at_facility_name) %>
<% test_started_at_facility = investigation.try(:test_started_at_facility_name) %>
<% reviewed_at_facility = investigation.try(:reviewed_at_facility_name) %>
<% state = investigation.state.split("_").map(&:capitalize).join(' ') %>


<span style="font-size:12px;line-height:0;color:#000;">
  <% if investigation.state == 'advised' %>
    <b class="inv-state"><%= state %></b> | <b class="inv-user-facility"><%= advised_by %>(<%= advised_at_facility %>)</b> | <b class="inv-date"><%= investigation.advised_at.try(:strftime, '%I:%M %p, %d/%m/%Y') %></b>
  <% elsif investigation.state == 'counselled' %>
    <b class="inv-state"><%= state %></b> | <b class="inv-user-facility"><%= counselled_by %>(<%= counselled_at_facility %>)</b> | <b class="inv-date"><%= investigation.counselled_at.try(:strftime, '%I:%M %p, %d/%m/%Y') %></b>
  <% elsif investigation.state == 'payment_taken' %>
    <b class="inv-state"><%= state %></b> | <b class="inv-user-facility"><%= collected_by %>(<%= collected_at_facility %>)</b> | <b class="inv-date"><%= investigation.collected_at.try(:strftime, '%I:%M %p, %d/%m/%Y') %></b> | <b class="inv-no"> <%= investigation.try(:bill_number).to_s %> </b>
  <% elsif investigation.state == 'performed' %>
    <% if investigation.performed_outside == true %>
      <b class="inv-state"><%= state %></b> | <b class="inv-user-facility"><%= investigation.performed_outside_by %></b> | <b class="inv-date"><%= investigation.performed_at.try(:strftime, '%d/%m/%Y') %></b><!-- | <b class="inv-user-facility">Marked By: <%= performed_by %>(<%= performed_at_facility %>)</b> -->
    <% else %>
      <b class="inv-state"><%= state %></b> | <b class="inv-user-facility"><%= performed_by %>(<%= performed_at_facility %>)</b> | <b class="inv-date"><%= investigation.performed_at.try(:strftime, '%I:%M %p, %d/%m/%Y') %></b>
    <% end %>

  <% elsif investigation.state == 'test_started' %>
    <b class="inv-state"><%= state %></b> | <b class="inv-user-facility"><%= test_started_by %>(<%= test_started_at_facility %>)</b> | <b class="inv-date"><%= investigation.started_test_at.try(:strftime, '%I:%M %p, %d/%m/%Y') %></b>
  <% elsif investigation.state == 'sent_outside' %>
    <b class="inv-state"><%= state %></b> | <b class="inv-user-facility"><%= sent_outside_by %>(<%= sent_outside_at_facility %>)</b> | <b class="inv-date"><%= investigation.sent_outside_at.try(:strftime, '%I:%M %p, %d/%m/%Y') %></b>
  <% elsif investigation.state == 'removed' %>
    <b class="inv-state"><%= state %></b> | <b class="inv-user-facility"><%= removed_by %>(<%= removed_at_facility %>)</b> | <b class="inv-date"><%= investigation.removed_at.try(:strftime, '%I:%M %p, %d/%m/%Y') %> - <%= investigation.removing_reason %></b>
  <% elsif investigation.state == 'declined' %>
    <b class="inv-state"><%= state %></b> | <b class="inv-user-facility"><%= declined_by %>(<%= declined_at_facility %>)</b> | <b class="inv-date"><%= investigation.declined_at.try(:strftime, '%I:%M %p, %d/%m/%Y') %></b>
  <% elsif investigation.state == 'template_created' %>
    <b class="inv-state"><%= state %></b> | <b class="inv-user-facility"><%= template_created_by %>(<%= template_created_at_facility %>)</b> | <b class="inv-date"><%= investigation.try(:template_created_at).try(:strftime, '%I:%M %p, %d/%m/%Y') %></b>
   <% elsif investigation.state == 'reviewed' %>
     <b class="inv-state"><%= state %></b> | <b class="inv-user-facility"><%= reviewed_by %>(<%= reviewed_at_facility %>)</b> | <b class="inv-date"><%= investigation.reviewed_at.try(:strftime, '%I:%M %p, %d/%m/%Y') %></b>
  <% end %>
</span>
<% investigation.previous_state.reverse.each do |previous_state| %>
  <hr style="margin:0px;">
  <div class="row">
    <div class="col-sm-12">
      <% prev_state = previous_state.split("_").map(&:capitalize).join(' ') %>
      <span style="font-size:12px;line-height:0;color:#000;">
        <% if previous_state == 'advised' %>
          <b class="inv-state"><%= prev_state %></b> | <b class="inv-user-facility"><%= advised_by %>(<%= advised_at_facility %>)</b> | <b class="inv-date"><%= investigation.advised_at.try(:strftime, '%I:%M %p, %d/%m/%Y') %></b>
        <% elsif previous_state == 'counselled' %>
          <b class="inv-state"><%= prev_state %></b> | <b class="inv-user-facility"><%= counselled_by %>(<%= counselled_at_facility %>)</b> | <b class="inv-date"><%= investigation.counselled_at.try(:strftime, '%I:%M %p, %d/%m/%Y') %></b>
        <% elsif previous_state == 'payment_taken' %>
          <b class="inv-state"><%= prev_state %></b> | <b class="inv-user-facility"><%= collected_by %>(<%= collected_at_facility %>)</b> | <b class="inv-date"><%= investigation.collected_at.try(:strftime, '%I:%M %p, %d/%m/%Y') %></b> | <b class="inv-no"> <%= investigation.try(:bill_number).to_s %> </b>
        <% elsif previous_state == 'performed' %>
          <% if investigation.performed_outside == true %>
            <b class="inv-state"><%= prev_state %></b> | <b class="inv-user-facility"><%= investigation.performed_outside_by %></b> | <b class="inv-date"><%= investigation.performed_at.try(:strftime, '%d/%m/%Y') %></b> <!-- | <b class="inv-user-facility">(Marked By: <%= performed_by %>(<%= performed_at_facility %>))</b> -->
          <% else %>
            <b class="inv-state"><%= prev_state %></b> | <b class="inv-user-facility"><%= performed_by %>(<%= performed_at_facility %>)</b> | <b class="inv-date"><%= investigation.performed_at.try(:strftime, '%I:%M %p, %d/%m/%Y') %></b>
          <% end %>
        <% elsif previous_state == 'test_started' %>
          <b class="inv-state"><%= prev_state %></b> | <b class="inv-user-facility"><%= test_started_by %>(<%= test_started_at_facility %>)</b> | <b class="inv-date"><%= investigation.started_test_at.try(:strftime, '%I:%M %p, %d/%m/%Y') %></b>
        <% elsif previous_state == 'sent_outside' %>
          <b class="inv-state"><%= prev_state %></b> | <b class="inv-user-facility"><%= sent_outside_by %>(<%= sent_outside_at_facility %>)</b> | <b class="inv-date"><%= investigation.sent_outside_at.try(:strftime, '%I:%M %p, %d/%m/%Y') %></b>
        <% elsif previous_state == 'removed' %>
          <b class="inv-state"><%= prev_state %></b> | <b class="inv-user-facility"><%= removed_by %>(<%= removed_at_facility %>)</b> | <b class="inv-date"><%= investigation.removed_at.try(:strftime, '%I:%M %p, %d/%m/%Y') %> - <%= investigation.removing_reason %></b>
        <% elsif previous_state == 'declined' %>
          <b class="inv-state"><%= prev_state %></b> | <b class="inv-user-facility"><%= declined_by %>(<%= declined_at_facility %>)</b> | <b class="inv-date"><%= investigation.declined_at.try(:strftime, '%I:%M %p, %d/%m/%Y') %></b>
        <% elsif previous_state == 'reviewed' %>
          <b class="inv-state"><%= prev_state %></b> | <b class="inv-user-facility"><%= reviewed_by %>(<%= reviewed_at_facility %>)</b> | <b class="inv-date"><%= investigation.reviewed_at.try(:strftime, '%I:%M %p, %d/%m/%Y') %></b>
        <% end %>
      </span>
    </div>
  </div>
<% end %>

<style type="text/css">
  .inv-state {
    color:#1CAF9A;
    font-size: 12px;
  }

  .inv-date {
    color:#1CAF9A;
    font-size: 12px;
  }

  .inv-user-facility {
    color: #428bca;
    font-size: 12px; 
  }
</style>