<% if @investigation_present %>
  if("<%= params['new_ui'] %>" == 'true') {
    $("#investigation-wizard-inhere").html("<%= j render partial: 'outpatients/appointment/appointment_details/tab_details/investigations/wizard.html.erb' %>");
    $('#upload-section').html("<%= j render partial: 'outpatients/appointment/appointment_details/tab_details/uploads/list.html.erb' %>");
  } else {
    $("#investigation-wizard-inhere").html("<%= j render partial: 'outpatients/appointment/investigation_details/investigation_details_wizard.html.erb' %>")
  }

  function inves_tab_highlight(){
    let ophthal_investigations = parseInt("<%= @appointment.case_sheet.ophthal_investigations.select{|i| i['investigationstage'] != 'Performed' && i['investigationstage'] != 'Declined' && i['investigationstage'] != 'Reviewed' && i['investigationstage'] != 'Removed'}.count %>")
    let laboratory_investigation = parseInt("<%= @appointment.case_sheet.laboratory_investigations.select{|i| i['investigationstage'] != 'Performed' && i['investigationstage'] != 'Declined' && i['investigationstage'] != 'Reviewed' && i['investigationstage'] != 'Removed'}.count %>")
    let radiology_investigation = parseInt("<%= @appointment.case_sheet.radiology_investigations.select{|i| i['investigationstage'] != 'Performed' && i['investigationstage'] != 'Declined' && i['investigationstage'] != 'Reviewed' && i['investigationstage'] != 'Removed'}.count %>")
    let all_investigations = ophthal_investigations + laboratory_investigation + radiology_investigation
    if( all_investigations > 0) {
      $('.inves-highlight').show()
    } else {
      $('.inves-highlight').hide()
    }
  }
  inves_tab_highlight()
<% else %>
  if("<%= params['new_ui'] %>" == 'true') {
    $("#investigation-wizard-inhere").html("<%= j render partial: 'outpatients/appointment/appointment_details/tab_details/investigations/wizard.html.erb' %>");
    $('#upload-section').html("<%= j render partial: 'outpatients/appointment/appointment_details/tab_details/uploads/list.html.erb' %>");
  } else {
    $("#investigation-wizard-inhere").html("<div class='col-md-12'>No Investigation</div>")
  }
<% end %>
