<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog" style="width: 70%;">
  <%= form_for @procedure_note, remote: true, html: {id: 'procedure-note-form'} do |f| %>
    <div class="modal-content">    
      <div class="modal-header">
        <div class="row">
          <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12">
            <h4 class="modal-title pull-right"><%= @path.to_s %> Procedure Note</h4>
          </div>
          <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
            <div class="pull-right">
              <%= f.submit "#{ @path == 'Edit' ? 'Update' : 'Save' }", data: { remote: true }, onclick: 'procedure_note_form_validate()', class: "btn btn-success" %>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :organisation_id, value: current_user.organisation_id %>
        <%= f.hidden_field :facility_id, value: current_facility.id %>
        <%= f.hidden_field :level, value: @level %>
        <input type="hidden" name="level" value="<%= @level %>">
        <div class="row mb20">
          <div class="col-lg-6">
            <div class="col-sm-12"><label> Name :</label></div>
            <div class="col-sm-8">
              <%= f.text_field :name, class: "form-control set-name", maxlength: 20 %>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="col-lg-12"><label> Specialty :</label></div>
            <div class="col-lg-7">
              <%= f.select :specialty_id, options_for_select(@available_specialties.pluck(:name, :id), selected: @procedure_note.try(:specialty_id)),{ :include_blank => 'Select any Specialty' }, { :class => 'form-control specialty_dropdown' } %>
            </div>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-sm-12">
              <label>Procedure Note :</label>
            </div>
            <div class="col-sm-12 proceduretext">
            <%= f.text_area :proceduretext, class: "form-control summernote", id: "procedure_note_text" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  // $('.specialty_dropdown').select2()
  var summernote_options = {
    toolbar: [
      ['style', ['bold', 'italic', 'underline', 'clear']],
      ['fontsize', ['fontsize']],
      ['height', ['height']],
      ['fontname', ['fontname']],
    ],height: 200,
    fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','Georgia','Times New Roman','Palatino Linotype','Lucida Console','Verdana','Trebuchet MS','Helvetica','English111 Adagio BT Regular','Impact']
  };
  $("#procedure_note_text").summernote(summernote_options)
  $(".proceduretext").find(".panel-heading").css('background-color','#354670')

  function procedure_note_form_validate() {
    $("#procedure-note-form").validate({
    });

    $.validator.addMethod("fieldRequired", $.validator.methods.required, "Please enter set name.");
    $.validator.addClassRules("set-name", { fieldRequired: true});

    $.validator.addMethod("SpecialtyRequired", $.validator.methods.required, "Please select any specialty");
    $.validator.addClassRules("specialty_dropdown", { SpecialtyRequired: true});
  }
  procedure_note_form_validate()

</script>