  <div class="mis_list">
  <h4>Outpatient</h4>
  <% group = 'outpatient' %>
  <ul data-test-title="Outpatient" class="nav">
    <li data-test-title="Patient Type Wise">
      <%= link_to reports_view_mis_clinical_reports_path(group: group, title: 'patient_type_wise'), data: { remote: true }, class: 'mis_reports_link ps' do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Patient Type Wise</span>
      <% end %>
    </li>
    <li data-test-title="Date Wise">
      <%= link_to reports_view_mis_clinical_reports_path(group: group, title: 'appointment_date_wise'), data: { remote: true }, class: 'mis_reports_link ps' do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Date Wise</span>
      <% end %>
    </li>
    <li data-test-title="Optometrist Wise">
      <%= link_to reports_view_mis_clinical_reports_path(group: group, title: 'appointment_patient_list_wise'), data: { remote: true }, class: 'mis_reports_link ps' do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Patient wise</span>
      <% end %>
    </li>
    <li data-test-title="Facility Wise">
      <%= link_to reports_view_mis_clinical_reports_path(group: group, title: 'appointment_facility_wise'), data: { remote: true }, class: 'mis_reports_link ps' do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Facility Wise</span>
      <% end %>
    </li>
    <li data-test-title="Facility Wise">
      <%= link_to reports_view_mis_clinical_reports_path(group: group, title: 'appointment_city_wise'), data: { remote: true }, class: 'mis_reports_link ps' do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;City Wise</span>
      <% end %>
    </li>
    <li data-test-title="Facility Wise">
      <%= link_to reports_view_mis_clinical_reports_path(group: group, title: 'appointment_commune_wise'), data: { remote: true }, class: 'mis_reports_link ps' do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Commune Wise</span>
      <% end %>
    </li>
    <li data-test-title="Facility Wise">
      <%= link_to reports_view_mis_clinical_reports_path(group: group, title: 'appointment_district_wise'), data: { remote: true }, class: 'mis_reports_link ps' do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;District Wise</span>
      <% end %>
    </li>
    <li data-test-title="Facility Wise">
      <%= link_to reports_view_mis_clinical_reports_path(group: group, title: 'appointment_state_wise'), data: { remote: true }, class: 'mis_reports_link ps' do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;State Wise</span>
      <% end %>
    </li>
    <li data-test-title="Doctor Wise">
      <%= link_to reports_view_mis_clinical_reports_path(group: group, title: 'appointment_doctor_wise'), data: { remote: true }, class: 'mis_reports_link ps' do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Doctor Wise</span>
      <% end %>
    </li>
    <li data-test-title="Optometrist Wise">
      <%= link_to reports_view_mis_clinical_reports_path(group: group, title: 'appointment_optometrist_wise'), data: { remote: true }, class: 'mis_reports_link ps' do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Optometrist Wise</span>
      <% end %>
    </li>
    <li data-test-title="Counsellor Wise">
      <%= link_to reports_view_mis_clinical_reports_path(group: group, title: 'appointment_counsellor_wise'), data: { remote: true }, class: 'mis_reports_link ps' do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Counsellor Wise</span>
      <% end %>
    </li>
    <li data-test-title="Payment Type Wise">
      <%= link_to reports_view_mis_clinical_reports_path(group: group, title: 'appointment_payment_type_wise'), data: { remote: true }, class: 'mis_reports_link ps' do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Payment Type Wise</span>
      <% end %>
    </li>
    <li data-test-title="Walkin vs Appointment">
      <%= link_to reports_view_mis_clinical_reports_path(group: group, title: 'walkin_vs_appointment'), data: { remote: true }, class: 'mis_reports_link ps' do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Walkin vs Appointment</span>
      <% end %>
    </li>
    <li data-test-title="Patient Referral Wise">
      <%= link_to reports_view_mis_clinical_reports_path(group: group, title: 'patient_referral_wise'), data: { remote: true }, class: 'mis_reports_link ps' do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Patient Referral Wise</span>
      <% end %>
    </li>
    <li data-test-title="Consultacy Type Wise">
      <%= link_to reports_view_mis_clinical_reports_path(group: group, title: 'consultancy_type_wise'), data: { remote: true }, class: 'mis_reports_link ps' do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Consultacy Type Wise</span>
      <% end %>
    </li>
    <li data-test-title="Adverse Event">
      <%= link_to reports_view_mis_new_clinical_reports_path(group: group, title: 'patient_adverse_event'), data: { remote: true }, class: 'mis_reports_link ps' do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Adverse Event</span>
      <% end %>
    </li>
  </ul>
</div>
