<!-- <tr class="add-bed-tr add-bed-tr-<%= @counter %>" id="add-bed-tr-<%= @counter %>-<%= @bed_counter %>">

  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
    <div class="form-group">
      <div class="input-group mb15">
        <div class="ui-widget">
          <%= hidden_field_tag "ward[rooms_attributes][#{@counter}][beds_attributes][#{@bed_counter}][organisation_id]", current_user.organisation.id.to_s, {:class => 'form-control ward_rooms_bed_organisation_id'} %>
          <%= hidden_field_tag "ward[rooms_attributes][#{@counter}][beds_attributes][#{@bed_counter}][facility_id]", nil, {:class => 'form-control ward_rooms_bed_facility_id'} %>
          <%= hidden_field_tag "ward[rooms_attributes][#{@counter}][beds_attributes][#{@bed_counter}][_destroy]", 0, {:class => 'form-control ward_rooms_bed_destory'} %>
          <%= hidden_field_tag "ward[rooms_attributes][#{@counter}][beds_attributes][#{@bed_counter}][sequence]", "#{@bed_counter}", {:class => 'form-control ward_rooms_bed_sequence'} %>
          <%= text_field_tag "ward[rooms_attributes][#{@counter}][beds_attributes][#{@bed_counter}][name]", nil, {:maxlength => 30, :size => 30, :class => 'form-control bed_name'} %>
        </div>
      </div>
    </div>
  </td>

  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
    <div class="form-group">
      <div class="input-group mb15">
        <div class="ui-widget">
          <%= text_field_tag "ward[rooms_attributes][#{@counter}][beds_attributes][#{@bed_counter}][code]", nil, {:maxlength => 5, :size => 10, :class => 'form-control bed_code'} %>
        </div>
      </div>
    </div>
  </td>

  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
    <div class="form-group">
      <div class="input-group mb15">
        <div class="ui-widget">
          <%= number_field_tag "ward[rooms_attributes][#{@counter}][beds_attributes][#{@bed_counter}][no_of_beds]", 1, {:min => 1, :max => 20, :step => 1, :class => 'form-control no_of_beds'} %>

        </div>
      </div>
    </div>
  </td>

  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
    <div class="form-group">
      <div class="input-group mb15">
        <div class="ui-widget">
          <%= text_field_tag "ward[rooms_attributes][#{@counter}][beds_attributes][#{@bed_counter}][price]", nil, {:maxlength => 8, :size => 10, :class => 'form-control bed_price'} %>
        </div>
      </div>
    </div>
  </td>

  <td style="padding-left:1px;padding-top:1px;padding-bottom:1px;padding:0px;">
    <div class="form-group">
      <span class="btn btn-xs btn-brown btn-danger remove-bed-button-<%= @counter %>" id="remove-bed-button-<%= @counter %>-<%= @bed_counter %>" name="remove-bed-button" data-room_remove_bed="<%= @bed_counter %>"><i class="glyphicon glyphicon-remove"></i></span>
    </div>

  </td>
</tr> -->