<% procedures.each do |procedure| %>
  <% procedure_type = procedure.try(:procedure_type).present? ? procedure.try(:procedure_type) : 'CommonProcedure' %>
  <div class="main-procedure-list">
    <div class="row mb5">
      <div class="col-md-2">
        <b class="procedure_name"><%= procedure.name %>(<%= procedure.code.upcase %>)</b>
      </div>
      <% if @service_masters_attributes.pluck(:service_type_code, :service_type_code_type).include?([procedure.code.to_s, procedure_type.to_s]) %>
        <div class="col-md-10 add-procedure-service">
          <% @service_masters_attributes.each do |service| %>
            <% if service[:service_type_code].to_s == procedure.code.to_s && service[:service_type_code_type].to_s == procedure_type.to_s %>
              <div class="row procedure-service-details mb10">
                <input type='hidden' name='service_master[<%= @counter %>][id]' value='<%= service[:_id].to_s %>' class='service_id'>
                <input type='hidden' name='service_master[<%= @counter %>][is_updated]' value='false' class='is_updated'>
                <input type='hidden' name='service_master[<%= @counter %>][is_active]' value='<%= service[:is_active].to_s %>' class='is_active'>
                <input type='hidden' name='service_master[<%= @counter %>][service_type]' value='Procedure' class='service_type'>
                <input type='hidden' name='service_master[<%= @counter %>][service_type_code]' value='<%= procedure.code %>' class='service_type_code'>
                <input type='hidden' name='service_master[<%= @counter %>][service_type_code_name]' value='<%= procedure.name %>' class='service_type_code_name'>
                <input type='hidden' name='service_master[<%= @counter %>][service_type_code_type]' value='<%= procedure_type %>' class='service_type_code_type'>
                <div class="col-md-2">
                  <select name='service_master[<%= @counter %>][service_group_id]' class='form-control service_group_list p5_10' style='height:30px;'>
                    <option value=''>Select Group</option>
                    <% @service_groups_attributes.each do |service_group| %>
                      <option value='<%= service_group[:id].to_s %>' <%= "selected='selected'" if service[:service_group_id].to_s == service_group[:id].to_s %>>
                        <%= service_group[:name].to_s %>
                      </option>
                    <% end %>
                  </select>
                </div>
                <div class="col-md-2">
                  <select name='service_master[<%= @counter %>][service_sub_group_id]' class='form-control service_sub_group_list p5_10' style='height:30px;'>
                    <option value=''>Select Sub Group</option>
                    <% @service_sub_groups_attributes.each do |service_sub_group| %>
                      <option value='<%= service_sub_group[:id].to_s %>' <%= "selected='selected'" if service[:service_sub_group_id].to_s == service_sub_group[:id].to_s %>>
                        <%= service_sub_group[:name].to_s %>
                      </option>
                    <% end %>
                  </select>
                </div>
                <div class="col-md-2">
                  <input type='text' name='service_master[<%= @counter %>][service_name]' class='form-control service_name p5_10' value='<%= service[:service_name] %>'>
                </div>
                <div class="col-md-2 col-md-3-shared">
                  <input type='text' name='service_master[<%= @counter %>][organisation_service_code]' class='form-control organisation_service_code p5_10' value='<%= service[:organisation_service_code] %>'>
                </div>
                <div class="col-md-2 col-md-3-shared">
                  <input type='text' name='service_master[<%= @counter %>][service_amount]' class='form-control service_amount p5_10' value='<%= service[:service_amount] %>'>
                </div>
                <div class="col-md-2">
                  <%= select_tag "service_master[#{@counter}][department_ids]", options_for_select([['OPD', '485396012'], ['IPD', '486546481']], service[:department_ids]), class: 'form-control department_dropdown', multiple: true %>
                </div>
                <div class="col-md-1">
                  <% remove_style = ("display:none;" if !service[:is_active]) || "display:inline-block;" %>
                  <% activate_style = ("display:none;" if service[:is_active]) || "display:inline-block;" %>
                  <button class="btn btn-danger btn-xs btn-remove-procedure-service" style=<%= remove_style %>>&times</button>
                  <button class="btn btn-info btn-xs btn-activate-procedure-service" style=<%= activate_style %>>A</button>
                  <button class="btn btn-primary btn-xs btn-add-procedure-service"><i class="fa fa-plus"></i></button>
                </div>
              </div>
              <% @counter += 1 %>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <div class="col-md-10 add-procedure-service">
          <div class="row procedure-service-details mb10">
            <input type='hidden' name='service_master[<%= @counter %>][is_updated]' value='false' class='is_updated'>
            <input type='hidden' name='service_master[<%= @counter %>][service_type]' value='Procedure' class='service_type'>
            <input type='hidden' name='service_master[<%= @counter %>][service_type_code]' value='<%= procedure.code %>' class='service_type_code'>
            <input type='hidden' name='service_master[<%= @counter %>][service_type_code_name]' value='<%= procedure.name %>' class='service_type_code_name'>
            <input type='hidden' name='service_master[<%= @counter %>][service_type_code_type]' value='<%= procedure_type %>' class='service_type_code_type'>
            <div class="col-md-2">
              <select name='service_master[<%= @counter %>][service_group_id]' class='form-control service_group_list p5_10' style='height:30px;'>
                <option value=''>Select Group</option>
                <% @service_groups_attributes.each do |service_group| %>
                  <option value='<%= service_group[:id].to_s %>'>
                    <%= service_group[:name].to_s %>
                  </option>
                <% end %>
              </select>
            </div>
            <div class="col-md-2">
              <select name='service_master[<%= @counter %>][service_sub_group_id]' class='form-control service_sub_group_list p5_10' style='height:30px;'>
                <option value=''>Select Sub Group</option>
                <% @service_sub_groups_attributes.each do |service_sub_group| %>
                  <option value='<%= service_sub_group[:id].to_s %>'>
                    <%= service_sub_group[:name].to_s %>
                  </option>
                <% end %>
              </select>
            </div>
            <div class="col-md-2">
              <input type='text' name='service_master[<%= @counter %>][service_name]' class='form-control service_name p5_10'>
            </div>
            <div class="col-md-2 col-md-3-shared">
              <input type='text' name='service_master[<%= @counter %>][organisation_service_code]' class='form-control organisation_service_code p5_10'>
            </div>
            <div class="col-md-2 col-md-3-shared">
              <input type='text' name='service_master[<%= @counter %>][service_amount]' class='form-control service_amount p5_10' onKeyPress='return event.charCode >= 46 && event.charCode <= 57'>
            </div>
            <div class="col-md-2">
              <%= select_tag "service_master[#{@counter}][department_ids]", options_for_select([['OPD', '485396012'], ['IPD', '486546481']], ''), class: 'form-control department_dropdown', multiple: true %>
            </div>
            <div class="col-md-1">
              <button class="btn btn-danger btn-remove-procedure-service btn-xs" style="display:none;">&times;</button>
              <button class="btn btn-primary btn-xs btn-add-procedure-service"><i class="fa fa-plus"></i></button>
            </div>
          </div>
        </div>
        <% @counter += 1 %>
      <% end %>
    </div>
    <hr style="margin:5px 0 10px;" />
  </div>
<% end %>