<div class="col-md-3 col-lg-4"><h4>APPROVED TEMPLATES</h4></div>
<div class="col-md-6 col-lg-4 text-right">
  <div class="row">
    <div class="col-md-5" style="margin-top: 10px;"><label>Search Template</label></div>
    <div class="col-md-7"><input type="text" name="" class="search-approved-template form-control" placeholder="Search By Approved Template" value=""></div>
  </div>
</div>
<div class="col-md-3 col-lg-4" style="text-align:right; ">
<%= link_to add_template_communication_settings_path, class: 'btn btn-primary', data: { remote: true, 'toggle': 'modal', 'target': '#communication-user-template-modal' } do %><i class="fa fa-plus"></i> Add New Template<% end %>
</div>
<div class="col-md-12">
  <% if @approved_templates.count > 0 %>
    <table class="table table-primary table-bordered">
      <thead>
        <th>Sr No</th>
        <th>Department Type</th>
        <th>Template Title</th>
        <th>Template Content</th>
        <th class="text-center">Actions</th>
      </thead>
      <tbody id="approved_template-list">
        <% @approved_templates.each_with_index do |approved_template, index| %>
        <%unless approved_template.try(:module_names).blank? %>
          <% visibility = approved_template.is_disable ? 'visibility: hidden;' : 'visibility: visible' %>
          <tr class="each-contact-table-row approved_template_tr">
            <td>
              <b class="sno" style="color:#000;"><%= index+1 %></b>
            </td>
            <td>
              <b class="approved_template_module" style="color:#000;"><%= approved_template.try(:module_names).join(",").try(:upcase) rescue nil %></b>
            </td>
            <td>
              <b class="approved_template_title" style="color:#000;"><%= approved_template.try(:template_title) %></b>
            </td>
            <td>
              <b class="approved_template_content" style="color:#000;"><%= approved_template.try(:template_content).present? ? approved_template.try(:template_content).truncate(140) : ''%></b>
            </td>              
            
            <td>
              <table style="width: 100%;">
                <tr>
                  <td id='template_edit_button_<%= approved_template.id %>' style="<%=visibility%>">
                    <%= link_to edit_template_communication_settings_path(id: approved_template.id.to_s), method: :get, data: { remote: true, toggle: 'modal', target: '#communication-template-edit-modal' }, class: 'btn btn-info btn-xs', style: 'display: inline;' do %>Edit<% end %>
                  </td>
                  <td>
                    <%= link_to show_template_communication_setting_path(id: approved_template.id.to_s), method: :get, data: { remote: true, toggle: 'modal', target: '#communication-template-view-modal' }, class: 'btn btn-info btn-xs', style: 'display: inline;' do %>View Template<% end %>
                  </td>
                  <td id='template_setting_disable_button_<%= approved_template.id %>'>
                    <% if approved_template.try(:is_disable) == true %>
                      <div class="btn btn-xs btn-primary btn-active-approve_template" style="display: inline;" data-toggle="modal" data-target="#confirmation-modal" data-category="<%= approved_template.try(:template_title) %>">Active</div>
                      <%= link_to 'Confirm', toggle_disable_template_communication_setting_path(id: approved_template.id, is_disable: false), class: 'btn btn-danger', remote: true, style: 'display: none;', data: { dismiss: 'modal' } %>
                    <% else %>
                      <div class="btn btn-danger btn-xs btn-disable-approve_template" style="display: inline;" data-toggle="modal" data-target="#confirmation-modal" data-category="<%= approved_template.try(:template_title) %>">Disable</div>
                      <%= link_to 'Confirm', toggle_disable_template_communication_setting_path(id: approved_template.id, is_disable: true), class: 'btn btn-danger', remote: true, style: 'display: none;', data: { dismiss: 'modal' } %>
                    <% end %>
                  </td>
                  
                </tr>
              </table>
            </td>
          </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="col-md-12 text-center mt10">
      No Approved templates added
    </div>
  <% end %>
</div>

<style type="text/css">
  #confirmation-modal a{
    display: inline-block !important;
  }
  table tr td{
    word-wrap: break-word !important;
  }
</style>

<script type="text/javascript">
  $(".search-approved-template").on('keyup', function(){
    communication_event_list = $(".approved_template_tr");
    communication_event_list_count = communication_event_list.length;
    search = $(this).val().toUpperCase().trim();
    counter = 0
    for (var i = communication_event_list.length - 1; i >= 0; i--) {
      event_name = $(communication_event_list[i]).find(".approved_template_title")
      event_description = $(communication_event_list[i]).find(".approved_template_content")
      if($(event_name).html().toUpperCase().indexOf(search) > -1 || $(event_description).html().toUpperCase().indexOf(search) > -1) {
        $(communication_event_list[i]).css("display", "");
      } else {
        $(communication_event_list[i]).css("display", "None");
        counter += 1
      }
    }

    if(communication_event_list_count == counter){
      if($(".show-nothing").length <= 0){
        $("#approved_template-list").append(`<tr class="show-nothing"><td class="text-center" colspan="5">Nothing to Show</td></tr>`)
      }
    } else {
      $(".show-nothing").remove();
    }
  })
</script>
