<% if @showtask.count > 0 %>
  <% @showtask.each.with_index do |showtask,i| %>
    <% @user = User.find_by(:id => showtask.user_id) %>
    
    <div class="col-md-12 mb5" style="padding: 5px;border-radius: 5px;border: #428bca 2px solid;">
      <span style="font-size:18px; margin-right: -8px">
        <span class="ckbox ckbox-primary mb5">

          <% if showtask.is_complete == false %>
            <input type="checkbox" value="1" id='is_complete<%=i%>' class="is_complete" data= <%=showtask.id%> >
          <% else %>
            <input type="checkbox" value="1" id='is_complete<%=i%>' checked="checked" class="is_complete" data= <%=showtask.id%> >
          <%end%>

          <%#= check_box_tag 'is_complete'+_+i, 'no', false, data: showtask.id %>
          <label for="is_complete<%=i%>"><span></span></label>
        </span>
      </span>
      <% if showtask.is_complete == false %>
        <span style="font-size:12px;padding-right: 3px; color: #428bca" id="task_comment_<%=showtask.id%>" > <%= showtask.comment %></span>
      <% else %>
        <span style="font-size:12px;padding-right: 3px; color: #428bca ; text-decoration: line-through" id="task_comment_<%=showtask.id%>" > <%= showtask.comment %></span>
      <%end%>
        <span style="font-size:12px;padding-right: 3px"> on <strong><%= showtask.created_at.strftime("%d-%m-%y") %></strong></span>
        <span style="font-size:12px;padding-right: 3px"> by <strong><%= @user.fullname %></strong></span>

      <% if current_user.id.to_s == showtask.user_id.to_s || current_user.roles[0].name == "admin" || current_user.roles[1].try(:name) == "admin" || current_user.roles[0].name == "owner" || current_user.roles[1].try(:name) == "owner" %>
        <a href="/main/delete_task?task_id=<%= showtask.id %>" method = "get" data-remote="true" class="btn btn-link btn-xs pull-right" style="padding: 2px 0px" id="delete"><span style="color: red;padding: 2px 0px;" class="glyphicon glyphicon-trash" method="delete" ></span></a>
      <% end %>
      <!--<span class="pull-right"><i class="fa fa-trash-alt" style="color: orangered;margin-top: 5px;"></i></span>-->
    </div>
  <% end %>
  <!-- If Appointment count is less than 0 dont show "td" -->
<%else%>
  <div class="col-md-12" style="color: #999;">
    No Task Present
  </div>
<%end%>



<!--<div class="ckbox ckbox-primary">-->
  <!--<input type="checkbox" value="1" id="checkboxPrimary" checked="checked">-->
  <!--<label for="checkboxPrimary">Checkbox Primary</label>-->
<!--</div>-->

<script>

//  if ($(".is_complete").prop("checked")){
//    var task_id = $(this).attr("data")
//    $(".task_comment_"+task_id).css({"text-decoration": "line-through"});
//  }

  $(".is_complete").on("click",function(){

    var task_id = $(this).attr("data")

    if ($(this).prop("checked")){
      var is_complete = true

//      $(".task_comment_"+task_id).css({"text-decoration": "line-through"});

    }
    else{
      var is_complete = false
    }


    jQuery.ajax({
      type: "GET",
      url: '/main/save_task_is_complete',
      data: {
        task_id: $(this).attr("data"),
        is_complete: is_complete,
        remote: "true"
      }
    });




  })

</script>