<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="panel panel-default" style="padding:0px;">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-4" style="display:inline;">
        <h5 class="subtitle mb5">Task List</h5>
      </div>
      <div class="col-sm-8 fac-dd" style="text-align:right;display:inline;">

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table table-responsive" id="task_list_dashboard">

          <%= form_tag "/main/save_task_list.js", :method => :post, :remote => true, :id => 'task_form', :class => 'form form-bordered'  do  %>

              <div class="mb15 row">
                <span class="col-md-9 row mb15" ><%= text_area_tag :comment ,"",class: 'form-control message',placeholder: "Enter your task..",style: "width: 100%;"%></span>
                <span class="col-md-3"><%= submit_tag("Save Task",{:class=>"btn btn-success btn-sm",:onclick => 'task_page()'}) %></span>
              </div>



          <%end%>

          <%= render partial: "/main/dashboard_content/task_list/show_task_list.html.erb" %>


          <%#= simple_form_for @newtask,:format => :js,remote: true,:multipart => true,html: { :class => "task_form", :id => "task_form" } do |f| %>
          <!--<span class="ckbox ckbox-primary col-md-2" style="padding: 0px">-->
            <!--<%#= f.check_box :comment, {:class => "task_comment history_checked_unchecked", :id => "task_comment"}, "true", "false" %>-->
          <!--</span>-->



            <!--<div class="col-md-4 text-right">-->
              <!--<%#= f.submit "Save", class: "btn btn-success btn-sm" %>-->
            <!--</div>-->

          <!--<%#end%>-->





              </div><!-- table-responsive -->
      </div>
    </div>
  </div><!-- panel-body -->
</div><!-- panel -->


<style type="text/css">

  input.error, select.error {
    border-color: #b94a48;
    background-image: none;
  }
  input.valid, select.valid {
    border-color: #468847;
    background-image: none;
  }
</style>

<script>
  function task_page() {

    $("#task_form").validate({
      rules: {
        "comment": {
          required: true,
        },


      },
      messages: {
        "comment": {
          required: "Please add the task."
        },
      },
    });

  }
  task_page()

</script>