<% admin_counter = 0 %>
<% all_procedure = Inpatient::Procedure.where(ipdrecord_id: ipdrecord.id)%>
<% procedure = all_procedure.where(procedurestatus: "Pre-Operative")%>
<% performed_procedures = all_procedure.where(:procedurestatus.in =>["Performed"]).order("created_at DESC")%>
<% diagnosis_from_opd = Inpatient::Diagnosis.where(ipdrecord_id: ipdrecord.id)%>
<% if @ipdrecord.admissionreason.present? || @ipdrecord.expected_management.present? || @ipdrecord.expected_length_of_stay.present? || @ipdrecord.injury_complaint_date.present? || @ipdrecord.first_opd_visit.present? || @ipdrecord.expected_discharge_date.present? || @ipdrecord.reason_for_complaints.present? || @ipdrecord.preexisting_problems.present? || @ipdrecord.procedure_planned.present? || @ipdrecord.provisional_diagnosis.present? || procedure.count > 0 || diagnosis_from_opd.count > 0%>
  <% admin_counter = admin_counter + 1 %>
<% end %>

<% if admin_counter > 0 %>
  <div class="row mb10">
    <div class="col-md-12">
      <div class="row">
        <strong>ADMIN DETAILS :</strong>
        <div class="summary-line-border"></div>
      </div>
      <% if @ipdrecord.admissionreason.present? || @ipdrecord.expected_management.present? || @ipdrecord.expected_length_of_stay.present? || @ipdrecord.injury_complaint_date.present? || @ipdrecord.first_opd_visit.present? || @ipdrecord.expected_discharge_date.present? %>
        <div class="row mb10">
          <% if @ipdrecord.admissionreason.present? %>
            <div class="col-md-4 text-center">
              <b>Reason For Admission</b><br> <%= @ipdrecord.admissionreason %>
            </div>
          <% end %>
          <% if @ipdrecord.expected_management.present? %>
            <div class="col-md-4 text-center">
              <b>Expected Management</b><br> <%= @ipdrecord.expected_management %>
            </div>
          <% end %>
          <% if @ipdrecord.expected_length_of_stay.present? %>
            <div class="col-md-4 text-center">
              <b>Expected Length Of Stay</b><br> <%= @ipdrecord.expected_length_of_stay %>
            </div>
          <% end %>
          <% if @ipdrecord.injury_complaint_date.present? %>
            <div class="col-md-4 text-center">
              <b>Start Of Complaint</b><br> <%= @ipdrecord.injury_complaint_date %>
            </div>
          <% end %>
          <% if @ipdrecord.first_opd_visit.present? %>
            <div class="col-md-4 text-center">
              <b>First OPD/EMR Visit</b><br> <%= @ipdrecord.first_opd_visit %>
            </div>
          <% end %>
          <% if @ipdrecord.expected_discharge_date.present? %>
            <div class="col-md-4 text-center">
              <b>Expected Discharge Date</b><br> <%= @ipdrecord.expected_discharge_date %>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="row">
        <% if @ipdrecord.ipd_payment_type.present? %>
          <div class="col-md-4 text-center">
            <b>Payment Type</b><br> <%= @ipdrecord.ipd_payment_type.split(",").join(", ") %>
          </div>
        <% end %>
        <% if @ipdrecord.ipd_billing_category.present? %>
          <div class="col-md-4 text-center">
            <b>Billing Category</b><br> <%= @ipdrecord.ipd_billing_category %>
          </div>
        <% end %>
        <% if @ipdrecord.medico_legal_case.present? %>
          <div class="col-md-4 text-center">
            <b>Medico-Legal Case</b><br> <%= @ipdrecord.medico_legal_case %>
          </div>
        <% end %>
      </div>
      <% if @tpa.is_insured? %>
        <div class="row">
          <% if @ipdrecord.insurance_name.present? %>
            <div class="col-md-4 text-center">
              <b>Insurance Name</b><br> <%= @ipdrecord.insurance_name %>
            </div>
          <% end %>
          <% if @ipdrecord.tpa_name.present? %>
            <div class="col-md-4 text-center">
              <b>TPA Provider</b><br> <%= @ipdrecord.tpa_name %>
            </div>
          <% end %>
          <% if @ipdrecord.govt_scheme.present? %>
            <div class="col-md-4 text-center">
              <b>Govt. Scheme</b><br> <%= @ipdrecord.govt_scheme %>
            </div>
          <% end %>
          <% if @tpa.bracket_amount.present? %>
            <div class="col-md-4 text-center">
              <b>Bracket Amount</b><br> <%= @tpa.bracket_amount %>
            </div>
          <% end %>
          <% if @tpa.approved_amount.present? %>
            <div class="col-md-4 text-center">
              <b>Approved Amount</b><br> <%= @tpa.approved_amount %>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="row mb5">
        <% if @ipdrecord.reason_for_complaints.present? %>
          <div class="col-md-12">
            <b>Reason For Complaints :</b> <%= @ipdrecord.reason_for_complaints %>
          </div>
        <% end %>
        <% if @ipdrecord.preexisting_problems.present? %>
          <div class="col-md-12">
            <b>Pre-Existing Problems :</b> <%= @ipdrecord.preexisting_problems %>
          </div>
        <% end %>
        <% if @ipdrecord.procedure_planned.present? %>
          <div class="col-md-12">
            <b>Procedure Comments :</b> <%= @ipdrecord.try(:procedure_planned) %>
          </div>
        <% end %>
        <% if procedure.count > 0%>
            <div class="col-md-12">
              <b>Procedure Planned:</b>
              <% procedure.each do |i| %>
                <li style="margin-left: 10px"><%= i.procedurename + ',' + i.get_label_for_procedure_side(i.procedureside)%> </li>
              <%end%>
            </div>
        <%end%>
        <% if performed_procedures.count > 0 %>
            <div class="row mb20">
              <div class="col-md-3 ">
               <b> Procedure Performed:</b>
              </div>
              <div class="col-md-8">
                <table class="table table-bordered">
                  <tr>
                    <th>Name Of Surgery</th>
                    <th>Eye Operated</th>
                    <th>Date of Surgery</th>
                  </tr>

                  <% performed_procedures.each_with_index do |i|%>
                      <tr>
                        <td><%= i.procedurename%></td>
                        <% if i.procedureside == "8966001" %>
                            <td>Left Eye</td>
                        <% elsif i.procedureside == "18944008" %>
                            <td>Right Eye</td>
                        <% elsif i.procedureside == "40638003" %>
                            <td>Both Eyes</td>
                        <%end%>
                        <td><%= i.surgerydate%></td>
                      </tr>
                  <%end%>

                </table>
              </div>
            </div>
        <% end %>
        <% if diagnosis_from_opd.try(:count) > 0%>
              <div class="col-md-12">
                <b>Reason For Complaints(Diagnosis):</b>
                <%= render partial: 'inpatient/ipd_records/common/diagnosis_output.html.erb',locals: {diagnosis: diagnosis_from_opd}%>
                <% if @ipdrecord.provision_diagnosis.present?%>

                    <%= @ipdrecord.try(:provision_diagnosis) %>

                <% end %>
              </div>
        <% end %>
        <% if @ipdrecord.provisional_diagnosis.present? %>
          <div class="col-md-6">
            <b>Provisional Diagnosis :</b> <%= @ipdrecord.provisional_diagnosis %>
          </div>
        <% end %>
        <% if @ipdrecord.investigations.present? %>
          <div class="col-md-6">
            <b>Investigation:</b>
            <% inv_l =  @ipdrecord.investigations.gsub(/\n/, '|') %>
            <% inv_l.split("|") .each do |i|%>
                <li style="margin-left: 10px"><%= i %></li>
            <%end%>

          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>