<%if @operative_note.present?%>
  <div class="advice mb5 replace_advice_set" id="advice">
    <% if @operative_note.has_advice? %>
      <% advice_content = @operative_note.advice.advice_content %>
        <% if advice_content.present? && advice_content.to_s != "<br>" %>
            <div class="row">
              <strong>ADVICE</strong>
              <div class="summary-line-border"></div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <strong>Advice & Precautions : </strong><br>
                <%@id = @operative_note.advice.advice_set_id%>
                <%if @language_flag == "true"%>
                  <%if @id.length > 2 && @id.present?%>
                    <%@advice = AdviceSet.find_by(id: @id ).language_advice_subset.find_by(lcid_code: @advice_language)%>
                    <%if @advice.present?%>
                      <%= advice_content = @advice.content.to_s.html_safe.to_s %>
                    <%else%>
                      <%= advice_content = @operative_note.advice.advice_content.to_s.html_safe.to_s %>
                    <%end%>
                  <%elsif @id.length == 2 && @id.present? %>
                    <%@advice_set_arr = Global.send("ophthal_advice_option").send('sets')%>
                    <%@set = @advice_set_arr.select{|advice| advice["id"] == @id}%>
                    <%= advice_content = @set[0]["#{@advice_language}"].to_s.html_safe.to_s%>
                  <%else%>
                    <%= advice_content = @operative_note.advice.advice_content.to_s.html_safe.to_s %>
                  <%end%>
                <%else%>
                  <%= advice_content = @operative_note.advice.advice_content.to_s.html_safe.to_s %>
                <%end%>  
              </div>
            </div>
        <% end %>
    <% end %>
  </div>
<%end%>