<input type="hidden" name="inpatient_ipd_record[operative_notes_attributes][0][power_inventory]">
<div class="show-bom-items">
  <div class="row mb20" style="margin-top:20px;">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <label>Select The Applicable Bill Of Material With OT Consumables:</label>
    </div>

    <div class="col-md-3 col-sm-4 text-center">
      <button type="button" class="btn btn-xs btn-primary btn-primary-transparent dropdown-toggle" data-toggle="dropdown" id="bill_of_material_form">Select Bill Of Material <i class="fa fa-caret-down"></i></button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="summary-print-dropdown" style="">
        <li style="text-align: center; color: #428bca;">
        </li>
        <% if @final_bom.present? %>
          <% @final_bom.each_with_index do |bom, index| %>
            <%= link_to inpatient_bill_of_material_path(id: bom[0], from: 'operative_note', admission_id: params[:admission_id]), id: 'bom-note-btn', style: 'color: #428bca;', class: ' bill-of-material-note', data: { remote: true } do %>&nbsp;&nbsp;Bill Of Material, Created On&nbsp;&nbsp;<%= bom[1].try(:strftime, '%d-%m-%Y') %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= bom[2]&.localtime&.strftime('%I:%M%p') %><% end %>
            <br>
          <% end %>
        <% else %>
          <% unless @selected_bom.present? %>
            <strong>No Bill Of Material Created for this patient</strong>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11">
      <% if params[:action] == 'edit' && @selected_bom.present? %>
        <%= hidden_field_tag 'inpatient_ipd_record[operative_notes_attributes][0][bill_of_material_id]', @selected_bom[0].bom_id %>
          <div class="row mb20">
            <h4 style="margin-top:0; color: #1E90FF">Item Details:</h4>
          </div>
          <div class="check-font mt10 mb5">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Sl. No.</th>
                  <th>Category</th>
                  <th>Code</th>
                  <th>Description</th>
                  <th>Qty</th>
                  <th>Batch</th>
                  <th>Expiry</th>
                  <th>Billable</th>
                  <th>Print</th>
                </tr>
              </thead>
              <tbody>
                <% @selected_bom.each_with_index do |item, index| %>
                  <%= hidden_field_tag "ipd_record[bill_of_material][#{index}][bom_id]", item.bom_id %>
                  <%= hidden_field_tag "ipd_record[bill_of_material][#{index}][category]", item.category %>
                  <%= hidden_field_tag "ipd_record[bill_of_material][#{index}][variant_code]", item.variant_code %>
                  <%= hidden_field_tag "ipd_record[bill_of_material][#{index}][description]", item.description %>
                  <%= hidden_field_tag "ipd_record[bill_of_material][#{index}][bom_quantity]", item.bom_quantity %>
                  <%= hidden_field_tag "ipd_record[bill_of_material][#{index}][batch_no]", item.batch_no %>
                  <%= hidden_field_tag "ipd_record[bill_of_material][#{index}][expiry]", item.expiry %>
                  <%= hidden_field_tag "ipd_record[bill_of_material][#{index}][billable]", item.billable %>
                  <td><%= index + 1 %></td>
                  <td><%= item.category&.titleize %></td>
                  <td><%= item.variant_code %></td>
                  <td><%= item.description&.titleize %></td>
                  <td><%= item.bom_quantity %></td>
                  <td><%= item.batch_no %></td>
                  <td><%= item.expiry %></td>
                  <td><%= item.billable == true ? 'Yes' : 'No' %></td>
                  <td><%= check_box_tag "ipd_record[bill_of_material][#{index}][is_print]", true, item.is_print, id: "is_print_#{index}" %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
      <% end %>
    </div>
  </div>

  <% if params[:action] == 'show' %>
    <%= hidden_field_tag 'inpatient_ipd_record[operative_notes_attributes][0][bill_of_material_id]', @bom.id %>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-11">
        <div class="row">
          <h4 style="margin-top:0; color: #1E90FF">Item Details:</h4>
        </div>
        <div class="check-font mt10 mb5">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Sl. No.</th>
                <th>Category</th>
                <th>Code</th>
                <th>Description</th>
                <th>Qty</th>
                <th>Batch</th>
                <th>Expiry</th>
                <th>Billable</th>
                <th>Print</th>
              </tr>
            </thead>
            <tbody>
              <% @bom.items.each_with_index do |item, index| %>
                <%= hidden_field_tag "ipd_record[bill_of_material][#{index}][bom_id]", @bom.id %>
                <%= hidden_field_tag "ipd_record[bill_of_material][#{index}][category]", item.category %>
                <%= hidden_field_tag "ipd_record[bill_of_material][#{index}][variant_code]", item.variant_code %>
                <%= hidden_field_tag "ipd_record[bill_of_material][#{index}][description]", item.description %>
                <%= hidden_field_tag "ipd_record[bill_of_material][#{index}][bom_quantity]", item.bom_quantity %>
                <%= hidden_field_tag "ipd_record[bill_of_material][#{index}][batch_no]", item.batch_no %>
                <%= hidden_field_tag "ipd_record[bill_of_material][#{index}][expiry]", item.expiry %>
                <%= hidden_field_tag "ipd_record[bill_of_material][#{index}][billable]", item.billable %>
                <td><%= index + 1 %></td>
                <td><%= item.category&.titleize %></td>
                <td><%= item.variant_code %></td>
                <td><%= item.description&.titleize %></td>
                <td><%= item.bom_quantity %></td>
                <td><%= item.batch_no %></td>
                <td><%= item.expiry %></td>
                <td><%= item.billable == true ? 'Yes' : 'No' %></td>
                <td><%= check_box_tag "ipd_record[bill_of_material][#{index}][is_print]", true, false, id: "is_print_#{index}" %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<style type="text/css">
  .table-add-item td{
    padding: 5px 5px 0;
  }

  .check-font table tr th {
    padding: 2px 5px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }

  .check-font table tr td {
    padding: 2px 5px;
    text-align: center;
  }

  .check-font {
    font-size: 11px;
  }
</style>
