<div class="row mb20" style="margin-top:20px;">
  <div class="col-md-6 sign_in">
    <div class="row mb20">
      <div class="col-md-12 text-center">
        <h4>SIGN-IN (Before Induction)</h4>
      </div>
    </div>
    <div class="row mb20">
      <div class="col-md-10 col-md-offset-2">
        <div class="ckbox ckbox-primary mb5">
          <%= f.check_box :correct_patient, {:class => "correct_patient", :id => "correct_patient",:value => @operative_note.read_attribute(:correct_patient)}, "true", "false" %>
          <label for="correct_patient">&emsp;Correct Patient</label>
        </div>
        <div class="ckbox ckbox-primary mb5">
          <%= f.check_box :correct_procedure, {:class => "correct_procedure", :id => "correct_procedure",:value => @operative_note.read_attribute(:correct_procedure)}, "true", "false" %>
          <label for="correct_procedure">&emsp;Correct Procedure</label>
        </div>
      </div>
      <div class="col-md-10 col-md-offset-2">
        <div class="ckbox ckbox-primary mb5">
          <%= f.check_box :before_induction_valid_consent, {:class => "before_induction_valid_consent", :id => "before_induction_valid_consent",:value => @operative_note.read_attribute(:before_induction_valid_consent)}, "true", "false" %>
          <label for="before_induction_valid_consent">&emsp;Valid Consent</label>
        </div>
        <div class="ckbox ckbox-primary mb5">
          <%= f.check_box :site_marked, {:class => "site_marked", :id => "site_marked",:value => @operative_note.read_attribute(:site_marked)}, "true", "false" %>
          <label for="site_marked">&emsp;Site Marked</label>
        </div>
      </div>
      <div class="col-md-10 col-md-offset-2">
        <div class="ckbox ckbox-primary mb5">
          <%= f.check_box :anesthesia_machine, {:class => "anesthesia_machine", :id => "anesthesia_machine",:value => @operative_note.read_attribute(:anesthesia_machine)}, "true", "false" %>
          <label for="anesthesia_machine">&emsp;Anesthesia Machine checked</label>
        </div>
        <div class="ckbox ckbox-primary mb5">
          <%= f.check_box :tourniquet_drills_suction, {:class => "tourniquet_drills_suction", :id => "tourniquet_drills_suction",:value => @operative_note.read_attribute(:tourniquet_drills_suction)}, "true", "false" %>
          <label for="tourniquet_drills_suction">&emsp;Tourniquet/Drills/Suction checked</label>
        </div>
      </div>
      <div class="col-md-10 col-md-offset-2">
        <div class="ckbox ckbox-primary mb5">
          <%= f.check_box :implants_checked, {:class => "implants_checked", :id => "implants_checked",:value => @operative_note.read_attribute(:implants_checked)}, "true", "false" %>
          <label for="implants_checked">&emsp;Implants checked</label>
        </div>
      </div>
      <div class="row mb20">
        <div class="col-md-4 text-right">
          Patient Allergy :
        </div>
        <div class="col-md-4">
          <div class="rdio rdio-primary col-md-6">
            <%= f.radio_button :patient_allergy, "yes", {:class => 'patient_allergy', :id => "patient_allergy_yes", :value => @operative_note.read_attribute(:patient_allergy) == "yes" } %>
            <label class="label label-warning" style="margin-left:15px;" for="patient_allergy_yes">Yes</label>
          </div>
          <div class="rdio rdio-primary col-md-6">
            <%= f.radio_button :patient_allergy, "no", {:class => 'patient_allergy', :id => "patient_allergy_no", :value => @operative_note.read_attribute(:patient_allergy) != "yes" } %>
            <label class="label label-primary" style="margin-left:15px;" for="patient_allergy_no">No</label>
          </div>
        </div>
      </div>
      <div class="row mb20">
        <div class="col-md-4 text-right">
          Difficult Airway :
        </div>
        <div class="col-md-4">
          <div class="rdio rdio-primary col-md-6">
            <%= f.radio_button :difficult_airway, "yes", {:class => 'difficult_airway', :id => "difficult_airway_yes", :value => @operative_note.read_attribute(:difficult_airway) == "yes"} %>
            <label class="label label-warning" style="margin-left:15px;" for="difficult_airway_yes">Yes</label>
          </div>
          <div class="rdio rdio-primary col-md-6">
            <%= f.radio_button :difficult_airway, "no", {:class => 'difficult_airway', :id => "difficult_airway_no", :value => @operative_note.read_attribute(:difficult_airway) != "yes"} %>
            <label class="label label-primary" style="margin-left:15px;" for="difficult_airway_no">No</label>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-6 time_out">
    <div class="row mb20">
      <div class="col-md-12 text-center">
        <h4>TIME-OUT (Surgeon-Anesthetist-Nurse Verify)</h4>
      </div>
    </div>
    <div class="row mb20">
      <div class="col-md-10 col-md-offset-2">
        <div class="ckbox ckbox-primary mb5">
          <%= f.check_box :confirm_team_listed, {:class => "confirm_team_listed", :id => "confirm_team_listed",:value => @operative_note.read_attribute(:confirm_team_listed)}, "true", "false" %>
          <label for="confirm_team_listed">&emsp;Confirm all team members listed</label>
        </div>
      </div>
      <div class="row mb20">
        <div class="col-md-5 text-right">
          Patient Checked :
        </div>
        <div class="col-md-4">
          <div class="rdio rdio-primary col-md-6">
            <%= f.radio_button :patient_checked, "yes", {:class => 'patient_checked', :id => "patient_checked_yes", :value => @operative_note.read_attribute(:patient_checked) == "yes"} %>
            <label class="label label-primary" style="margin-left:15px;" for="patient_checked_yes">Yes</label>
          </div>
          <div class="rdio rdio-primary col-md-6">
            <%= f.radio_button :patient_checked, "no", {:class => 'patient_checked', :id => "patient_checked_no", :value => @operative_note.read_attribute(:patient_checked) != "yes"} %>
            <label class="label label-warning" style="margin-left:15px;" for="patient_checked_no">No</label>
          </div>
        </div>
      </div>
      <div class="row mb20">
        <div class="col-md-5 text-right">
          Valid Consent :
        </div>
        <div class="col-md-4">
          <div class="rdio rdio-primary col-md-6">
            <%= f.radio_button :valid_consent, "yes", {:class => 'valid_consent', :id => "valid_consent_yes", :value => @operative_note.read_attribute(:valid_consent) == "yes"} %>
            <label class="label label-primary" style="margin-left:15px;" for="valid_consent_yes">Yes</label>
          </div>
          <div class="rdio rdio-primary col-md-6">
            <%= f.radio_button :valid_consent, "no", {:class => 'valid_consent', :id => "valid_consent_no", :value => @operative_note.read_attribute(:valid_consent) != "yes"} %>
            <label class="label label-warning" style="margin-left:15px;" for="valid_consent_no">No</label>
          </div>
        </div>
      </div>
      <div class="row mb20">
        <div class="col-md-5 text-right">
          Procedure Checked :
        </div>
        <div class="col-md-4">
          <div class="rdio rdio-primary col-md-6">
            <%= f.radio_button :procedure_checked, "yes", {:class => 'procedure_checked', :id => "procedure_checked_yes", :value => @operative_note.read_attribute(:procedure_checked) == "yes"} %>
            <label class="label label-primary" style="margin-left:15px;" for="procedure_checked_yes">Yes</label>
          </div>
          <div class="rdio rdio-primary col-md-6">
            <%= f.radio_button :procedure_checked, "no", {:class => 'procedure_checked', :id => "procedure_checked_no", :value => @operative_note.read_attribute(:procedure_checked) != "yes"} %>
            <label class="label label-warning" style="margin-left:15px;" for="procedure_checked_no">No</label>
          </div>
        </div>
      </div>
      <div class="row mb20">
        <div class="col-md-5 text-right">
          Site Checked and Site Marked :
        </div>
        <div class="col-md-4">
          <div class="rdio rdio-primary col-md-6">
            <%= f.radio_button :site_checked_and_marked, "yes", {:class => 'site_checked_and_marked', :id => "site_checked_and_marked_yes", :value => @operative_note.read_attribute(:site_checked_and_marked) == "yes"} %>
            <label class="label label-primary" style="margin-left:15px;" for="site_checked_and_marked_yes">Yes</label>
          </div>
          <div class="rdio rdio-primary col-md-6">
            <%= f.radio_button :site_checked_and_marked, "no", {:class => 'site_checked_and_marked', :id => "site_checked_and_marked_no", :value => @operative_note.read_attribute(:site_checked_and_marked) != "yes"} %>
            <label class="label label-warning" style="margin-left:15px;" for="site_checked_and_marked_no">No</label>
          </div>
        </div>
      </div>
      <div class="row mb20">
        <div class="col-md-5 text-right">
          Imaging Checked :
        </div>
        <div class="col-md-4">
          <div class="rdio rdio-primary col-md-6">
            <%= f.radio_button :imaging_checked, "yes", {:class => 'imaging_checked', :id => "imaging_checked_yes", :value => @operative_note.read_attribute(:imaging_checked) == "yes"} %>
            <label class="label label-primary" style="margin-left:15px;" for="imaging_checked_yes">Yes</label>
          </div>
          <div class="rdio rdio-primary col-md-6">
            <%= f.radio_button :imaging_checked, "no", {:class => 'imaging_checked', :id => "imaging_checked_no", :value => @operative_note.read_attribute(:imaging_checked) != "yes"} %>
            <label class="label label-warning" style="margin-left:15px;" for="imaging_checked_no">No</label>
          </div>
        </div>
      </div>
      <div class="row mb20">
        <div class="col-md-5 text-right">
          Antibiotic prophylaxis given :
        </div>
        <div class="col-md-4">
          <div class="rdio rdio-primary col-md-6">
            <%= f.radio_button :antibiotic_prophylaxis_given, "yes", {:class => 'antibiotic_prophylaxis_given', :id => "antibiotic_prophylaxis_given_yes", :value => @operative_note.read_attribute(:antibiotic_prophylaxis_given) == "yes"} %>
            <label class="label label-primary" style="margin-left:15px;" for="antibiotic_prophylaxis_given_yes">Yes</label>
          </div>
          <div class="rdio rdio-primary col-md-6">
            <%= f.radio_button :antibiotic_prophylaxis_given, "no", {:class => 'antibiotic_prophylaxis_given', :id => "antibiotic_prophylaxis_given_no", :value => @operative_note.read_attribute(:antibiotic_prophylaxis_given) != "yes"} %>
            <label class="label label-warning" style="margin-left:15px;" for="antibiotic_prophylaxis_given_no">No</label>
          </div>
        </div>
      </div>
      <div class="row mb20">
        <div class="col-md-5 text-right">
          X-ray safety check :
        </div>
        <div class="col-md-4">
          <div class="rdio rdio-primary col-md-6">
            <%= f.radio_button :xray_safety_check, "yes", {:class => 'xray_safety_check', :id => "xray_safety_check_yes", :value => @operative_note.read_attribute(:xray_safety_check) == "yes"} %>
            <label class="label label-primary" style="margin-left:15px;" for="xray_safety_check_yes">Yes</label>
          </div>
          <div class="rdio rdio-primary col-md-6">
            <%= f.radio_button :xray_safety_check, "no", {:class => 'xray_safety_check', :id => "xray_safety_check_no", :value => @operative_note.read_attribute(:xray_safety_check) != "yes"} %>
            <label class="label label-warning" style="margin-left:15px;" for="xray_safety_check_no">No</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row personnel_row mb30">
  <div class="col-md-2 text-right">
    COMMENT BOX :
  </div>
  <div class="col-md-3">
    <%= f.text_area :otchecklist_comments, {style: "width:125%;", class: "form-control",:value => @operative_note.read_attribute(:otchecklist_comments)} %>
  </div>
</div>

<style type="text/css">
  .sign_in {
    border-right: 1px solid #ddd;
  }

  .sign_in h4, .time_out h4 {
    text-decoration: underline;
  }
</style>
