<div class="modal-dialog modal-lg" style="width:70%;">
  <!-- Modal content-->
  <div class="modal-content">

    <div class="modal-header" style="height:60px;">
      <!-- Template Type -->
      <div class="col-md-3">
        <h4 style="margin-top:2px;color:#000;"><%= @specialty_folder_name.split('_').map { |ele| ele.capitalize }.join(" ") %> Consent</h4>
      </div>

      <div class="col-md-7 text-center">

        <% patient_other_identifier =  PatientOtherIdentifier.find_by(patient_id: @patient.id.to_s)  %>

        <span><b>Name:</b> <%= @patient.fullname %></span>|<span><b>Age/Sex:</b> 
        <% if @patient.calculate_age.present? || @patient.gender.present? %>
          <%= @patient.calculate_age %>/<%= @patient.gender %>
        <% else %> Unavailable<% end %>  </span>|<span>

        <%if patient_other_identifier.try(:mr_no).present? %>
          <b>MR No:</b> <%= patient_other_identifier.mr_no %>
        <% else %>
          <b>ID No:</b> <%= PatientIdentifier.find_by(patient_id: @patient.id.to_s).try(:patient_org_id) %>
        <%end%></span>
      </div>
      <!-- Action Buttons -->
      <div class="col-md-2 pull-right">
        <a id= "print-consent" href="/inpatient/ipd_records/print_consent" target="_blank" class="btn btn-primary btn-sm">Print</a>
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>

    <div class="modal-body">
      <div class="row">

        <div class="col-md-6 text-center" style="margin-left: 225px">
          <select class="surgery-dropdown form-control" id="consent-dropdown">
            <% JSON.parse(Global.ipd.send("#{@specialty_folder_name}_consent").to_json).each do |key, value| %>
              <option value="<%=key%>"><%= value["displayname"]%></option>
            <% end %>
          </select>
        </div>
      </div>
      <br>
      <div class="consent-body"></div>
    </div>
    <div class="modal-footer">
      <button aria-hidden="true" class="btn btn-info consent-form-close" id="close-modal" data-dismiss="modal">Close</button>
    </div>


  </div>

</div>
<style>

  h2{
      text-align: center;
      position: relative;
      text-transform: uppercase;
      font-size: 13pt;
      color: #333333;
  }
  h3{

      color: #323232;

  }
  .consent-body{
      font-family: "Times New Roman", Times, serif;
      font-size: 8pt;
      color: #333333;
      background: #ffffff;
      box-shadow: 0 0 10px rgba(0,0,0,.175);
      max-width: 100%;
      padding: 0 0.2in 0 0.2in;
      padding-top: 0px;
      padding-right: 0.2in;
      padding-bottom: 0px;
      padding-left: 0.2in;
  }
</style>