<div class="modal-dialog modal-lg" style="width: 90%">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title text-center">Review the item</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="review_form">
            <%= form_for @inventory_item, :url => inventory_items_path, remote: true do |f|%>
              <table class="table-inventory table-add-item">
                <tr>
                  <td width="50%">
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Description</label>
                      <div class="col-sm-7">
                        <%= f.text_field :description, {:class=> "form-control review_field", :placeholder=>"", value: @inventory_params['description']}   %>
                      </div>
                    </div>
                  </td>
                <td>
                  <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Dispensing Unit</label>
                    <div class="col-sm-7">
                      <%= f.text_field :dispensing_unit, class:" form-control review_field dispensing_unit_unedit", id: "medication_dispensing_unit",  value: @inventory_params['dispensing_unit'] %>
                      <%= f.select :dispensing_unit, [['Tablets','Tablets'],['Capsules','Capsules'],['Sachets','Sachets'],['Syrups','Syrups'],['Spray','Spray'],['Powder','Powder'],['Eyedrops','Eyedrops'],['Vaccines','Vaccines'],['Ointment','Ointment'],['Granules','Granules'],['Inhalers','Inhalers'],['Rotacaps','Rotacaps'],['Oraldrops','Oraldrops'],['Eardrops','Eardrops'],['Cream','Cream'],['Aerosols','Aerosols'],['Cartridges','Cartridges'],['Gel','Gel'],['Enema','Enema'],['Suppository','Suppository'],['Pessary','Pessary'],['Lotion','Lotion'],['Nosedrops','Nosedrops'],['Solution','Solution'],['Suspension','Suspension'],['Injectable','Injectable']] ,{ :class=> "form-control  dispensing-unit-dd"} %>

                    </div>
                  </div>
                </td>
            </tr>
            <tr>
              <td>
                <div class="form-group">
                  <label for="" class="col-sm-4 control-label">Barcode</label>
                  <div class="col-sm-7">
                    <%= f.text_field :barcode,{:class=> "form-control review_field", :placeholder=>"", value: @inventory_params['barcode']} %>
                  </div>
                </div>
              </td>
              <td>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">Batch No.</label>
                <div class="col-sm-7">
                  <%= text_field_tag :batch_no ,"",class: 'form-control review_field' ,placeholder: "", value: @batch_no %>
                </div>
              </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-group">
                  <label for="" class="col-sm-4 control-label">Dosage</label>
                  <div class="col-sm-7">
                    <%= f.text_field :dosage, {:class=> "form-control review_field", :placeholder=>"", value: @inventory_params['dosage']} %>
                  </div>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <label for="" class="col-sm-4 control-label">Package Type <i class="fa fa-info-circle hg-tooltip" title="Packaging In a Box,Pack,Strip,Bottle,Etc." style="cursor:help;"></i></label>
                  <div class="col-sm-4">
                    <%= f.text_field :packaging_type, id:"review_packaging_type", class: "form-control review_field", value: @inventory_params['packaging_type']%>
                    <%= f.select :packaging_type, [ "Box", "Pack", "Ampule", "Case", "Dose Pack", "Bottle, Plastic", "Blister Pack", "Package", "Tube, With Applicator", "Not Stated", "Applicator", "Packet","Supersack", "Tube", "Bottle, Unit-Dose", "Strip", "Bottle, Dropper", "Bottle, Dispensing", "Bottle, with Applicator"], {:selected => @inventory_params['packaging_type'], :class=> "form-control dispensing-unit-dd",:style=> "display: inline; font-size: 9px" } %>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="form-group">
                  <label for="" class="col-sm-4 control-label">Item/Pack <i class="fa fa-info-circle hg-tooltip" title="Total No. of Strip,Bottle,Etc." style="cursor:help;"></i></label>
                  <div class="col-sm-2">
                    <%= f.text_field :item_units,{:value=>"1",:class=> "form-control review_field", :placeholder=>"",:style=> "height: 30px;"} %>
                  </div>
                  <div class="col-sm-1">
                    <span>/</span>
                  </div>
                  <div class="col-sm-4">
                    <%= f.text_field :item_type, id:"review_item_type", class: "form-control review_field", value: @inventory_params['item_type']%>
                    <%= f.select :item_type, [['Number','Number'],['Strip','Strip'],['Ampule','Ampule'],['Applicator','Applicator'],['Bag','Bag'],['Blister Pack','Blister Pack'],['Bottle, with Applicator','Bottle, with Applicator'],['Bottle, Dispensing','Bottle, Dispensing'],['Bottle, Dropper','Bottle, Dropper'],['Bottle, Glass','Bottle, Glass'],['Bottle, Plastic','Bottle, Plastic'],['Bottle, Pump','Bottle, Pump'],['Bottle, Spray','Bottle, Spray'],['Bottle, Unit-Dose','Bottle, Unit-Dose'],['Box','Box'],['Pack','Pack'],['Box, Unit-Dose','Box, Unit-Dose'],['Can','Can'],['Canister','Canister'],['Carton','Carton'],['Cartridge','Cartridge'],['Case','Case'],['Cello Pack','Cello Pack'],['Container','Container'],['Cup','Cup'],['Cup, Unit-Dose','Cup, Unit-Dose'],['Cylinder','Cylinder'],['Dewar','Dewar'],['DialPack','DialPack'],['Dose Pack','Dose Pack'],['Drum','Drum'],['Inhaler','Inhaler'],['Inhaler, Refill','Inhaler, Refill'],['Jar','Jar'],['Jug','Jug'],['Kit','Kit'],['Not Stated','Not Stated'],['Package','Package'],['Package, Combination','Package, Combination'],['Packet','Packet'],['Pouch','Pouch'],['Supersack','Supersack'],['Syringe','Syringe'],['Syringe, Glass','Syringe, Glass'],['Syringe, Plastic','Syringe, Plastic'],['Tambinder','Tambinder'],['Tray','Tray'],['Tube','Tube'],['Tube, With Applicator','Tube, With Applicator'],['Vial','Vial'],['Vial, Dispensing','Vial, Dispensing'],['Vial, Glass','Vial, Glass'],['Vial, Multi-Dose','Vial, Multi-Dose'],['Vial, Patent Delivery System','Vial, Patent Delivery System'],['Vial, Pharmacy Bulk Package','Vial, Pharmacy Bulk Package'],['Vial, Piggyback','Vial, Piggyback'],['Vial, Plastic','Vial, Plastic'],['Vial, Single-Dose','Vial, Single-Dose'],['Vial, Single-Use','Vial, Single-Use']] ,{:selected => @inventory_params['item_type'], :class=> "form-control dispensing-unit-dd",:style=> "display: inline; font-size: 9px" } %>
                  </div>
                </div>
              </td>

              <td>
                <div class="form-group">
                  <label for="" class="col-sm-4 control-label">Sub Item/Pack <i class="fa fa-info-circle hg-tooltip" title="Total No. of Strip,Bottle,Etc." style="cursor:help;"></i></label>
                  <div class="col-sm-2">
                    <%= f.text_field :sub_item_units,{:value=>"1",:class=> "form-control review_field", :placeholder=>"",:style=> "height: 30px;"} %>
                  </div>
                  <div class="col-sm-1">
                    <span>/</span>
                  </div>
                  <div class="col-sm-4">
                    <%= f.text_field :sub_item_type, id:"review_sub_item_type", class: "form-control review_field", value: @inventory_params['sub_item_type']%>

                    <%= f.select :sub_item_type, [['Number','Number'],['Ampule','Ampule'],['Applicator','Applicator'],['Bottle, with Applicator','Bottle, with Applicator'],['Bottle, Dispensing','Bottle, Dispensing'],['Bottle, Dropper','Bottle, Dropper'],['Bottle, Glass','Bottle, Glass'],['Bottle, Plastic','Bottle, Plastic'],['Bottle, Pump','Bottle, Pump'],['Bottle, Spray','Bottle, Spray'],['Bottle, Unit-Dose','Bottle, Unit-Dose'],['Box','Box'],['Pack','Pack'],['Box, Unit-Dose','Box, Unit-Dose'],['Can','Can'],['Canister','Canister'],['Carton','Carton'],['Cartridge','Cartridge'],['Case','Case'],['Cello Pack','Cello Pack'],['Container','Container'],['Cup','Cup'],['Cup, Unit-Dose','Cup, Unit-Dose'],['Cylinder','Cylinder'],['Dewar','Dewar'],['DialPack','DialPack'],['Dose Pack','Dose Pack'],['Drum','Drum'],['Inhaler','Inhaler'],['Inhaler, Refill','Inhaler, Refill'],['Jar','Jar'],['Jug','Jug'],['Not Stated','Not Stated'],['Syringe','Syringe'],['Syringe, Glass','Syringe, Glass'],['Syringe, Plastic','Syringe, Plastic'],['Tambinder','Tambinder'],['Tray','Tray'],['Tube','Tube'],['Tube, With Applicator','Tube, With Applicator'],['Vial','Vial'],['Vial, Dispensing','Vial, Dispensing'],['Vial, Glass','Vial, Glass'],['Vial, Multi-Dose','Vial, Multi-Dose'],['Vial, Patent Delivery System','Vial, Patent Delivery System'],['Vial, Plastic','Vial, Plastic'],['Vial, Single-Dose','Vial, Single-Dose'],['Vial, Single-Use','Vial, Single-Use']] ,{:selected => @inventory_params['sub_item_type'], :class=> "form-control dispensing-unit-dd",:style=> "display: inline; font-size: 9px" } %>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="form-group">
                  <label for="" class="col-sm-4 control-label">Manufacturer</label>
                  <div class="col-sm-7">
                    <%= f.text_field :manufacturer,{:class=> "form-control review_field", :placeholder=>"", value: @inventory_params['manufacturer']} %>
                  </div>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <label for="" class="col-sm-4 control-label">HSN Code</label>
                  <div class="col-sm-7">
                    <%= f.text_field :hsn_no ,{:class=> "form-control review_field", :placeholder=>"", value: @inventory_params['hsn_no']}%>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="form-group">
                  <div class="col-sm-4"><%= f.label :tax_id %></div>
                  <div class="col-sm-7">
                    <input type="hidden" name="inventory_item[tax]" value="" class="inventory_item_tax">
                    <select name="inventory_item[tax_id]" class='form-control tax_group_id'>
                      <option value="" data-tax-rate='0'> </option>
                      <% @tax_groups.each do |tax_group| %>
                          <option value="<%= tax_group.id.to_s %>" data-tax-rate='<%= tax_group.rate %>'><%= tax_group.name %> - <%= tax_group.rate %>%</option>
                      <% end %>
                    </select>
                  </div>
                </div>
              </td>
              <td>
                <div class="form-group " >
                  <label for="" class="col-sm-4 control-label">Min. Stock <i class="fa fa-info-circle hg-tooltip" title="Warns You if Stock Goes Less Than Selected Percentage" style="cursor:help;"></i></label>
                  <div class="col-sm-7" style="padding-top: 5px;", id="threshold_unedit">
                    <%= f.text_field :threshold,id: "threshold_unedit", class: "form-control review_field", value: @inventory_params['threshold']%>
                  </div>
                  <div class="col-sm-7" style="padding-top: 5px;" id="threshold_edit">
                    <div class="col-md-4" style="padding: 0px;">
                      <div class="rdio rdio-primary rdio-changes">
                        <%= f.radio_button :threshold, "10", { :class => 'radio-inline', id: "item_threshold1"} %>
                        <label style="padding-left:5px;" for="item_threshold1"> 10&#37;</label>
                      </div>
                    </div>
                    <div class="col-md-4" style="padding: 0px;">
                      <div class="rdio rdio-primary rdio-changes">
                        <%= f.radio_button :threshold, "20", {:class => 'radio-inline', id: "item_threshold2"} %>
                        <label style="padding-left:5px;" for="item_threshold2"> 20&#37;</label>
                      </div>
                    </div>
                    <div class="col-md-4" style="padding: 0px;">
                      <div class="rdio rdio-primary rdio-changes">
                        <%= f.radio_button :threshold, "30", {:class => 'radio-inline', id: "item_threshold3"} %>
                        <label style="padding-left:5px;" for="item_threshold3"> 30&#37;</label>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>





            <tr></tr>
            <tr style="border-top: 1px solid #efefef; margin-top: 5px; margin-bottom: 5px;">
                <td>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Stock <i class="fa fa-info-circle hg-tooltip" title="Total No. of Strip,Bottle,Etc." style="cursor:help;"></i></label>
                    <div class="col-sm-7">
                    <!--<input type="text" class="form-control" id="item_stock_pack" placeholder="" data-validation="number" data-validation-allowing="integer">-->
                    <%= text_field_tag :stock_pack ,"",class: 'form-control review_field ',placeholder: "", value: @stock_pack%>
                    </div>
                </div>
                </td>

                <td>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Stock in Units</label>
                    <div class="col-sm-7">
                    <!--<input type="text" class="form-control review_field" id="item_stock" placeholder="" data-validation="number" data-validation-allowing="integer" readonly="readonly" tabindex="-1">-->
                    <%= text_field_tag :stock ,"",class: 'form-control ',placeholder: "",readonly: "readonly", tabindex: "-1", value: @stock %>
                    </div>
                </div>
                </td>

            </tr>


            <tr><!-- <tr style="border-top: 1px solid #efefef; margin-top: 5px; margin-bottom: 5px;"> -->
                <td>
                <div class="form-group">
                    <label for="" class="col-sm-4 text-right">Purchase Price<br><span class="pack-small">(Pack)</span></label>
                    <div class="col-sm-7">
                    <div class="input-group">
                        <span class="input-group-addon">&#x20B9</span>
                        <!--<input type="text" class="form-control review_field" id="item_price_pack" data-validation="required" placeholder="">-->
                        <%= text_field_tag :price_pack ,"",class: 'form-control review_field',placeholder: "", value: @price_pack%>
                    </div>
                    </div>
                </div>
                </td>
                <td>
                <div class="form-group">
                    <label for="" class="col-sm-4 text-right">Purchase Price<br><span class="unit-small">(Unit)</span></label>
                    <div class="col-sm-7">
                    <div class="input-group">
                        <span class="input-group-addon">&#x20B9</span>
                        <!--<input type="text" class="form-control review_field" id="item_price" data-validation="required" placeholder="" readonly="readonly" tabindex="-1">-->
                        <%= text_field_tag :price ,"",class: 'form-control ',placeholder: "",readonly: "readonly", tabindex: "-1", value: @price %>
                    </div>
                    </div>
                </div>
                </td>
            </tr>
            <tr>
                <td>
                <div class="form-group">
                    <label for="" class="col-sm-4 text-right">MRP<br><span class="pack-small">(Pack)</span></label>
                    <div class="col-sm-7">
                    <div class="input-group">
                        <span class="input-group-addon">&#x20B9</span>
                        <%= text_field_tag :mrp_pack ,"",class: 'form-control review_field',placeholder: "", value: @mrp_pack%>
                        <!--<input type="text" class="form-control review_field" id="item_mrp_pack" data-validation="required" placeholder="">-->
                    </div>
                    </div>
                </div>
                </td>
                <td>
                <div class="form-group">
                    <label for="" class="col-sm-4 text-right">MRP<br><span class="unit-small">(Unit)</span></label>
                    <div class="col-sm-7">
                    <div class="input-group">
                        <span class="input-group-addon">&#x20B9</span>
                        <!--<input type="text" class="form-control review_field" id="item_mrp" data-validation="required" placeholder="" readonly="readonly" tabindex="-1">-->
                        <%= text_field_tag :mrp ,"",class: 'form-control ',placeholder: "",readonly: "readonly", tabindex: "-1", value: @mrp %>

                    </div>
                    </div>
                </div>
                </td>

            </tr>
            <tr style="border-top: 1px solid #efefef; margin-top: 5px;"></tr>
            <tr>
                <td>
                <div class="form-group">
                    <label for="" class="col-sm-4 text-right">Selling Price<br><span class="pack-small">(Pack)</span></label>
                    <div class="col-sm-7">
                    <div class="input-group">
                        <span class="input-group-addon">&#x20B9</span>
                        <!--<input type="text" class="form-control review_field" id="item_list_price_pack" data-validation="required" placeholder="" >-->
                        <%= text_field_tag :list_price_pack ,"",class: 'form-control review_field',placeholder: "", value: @list_price_pack%>

                    </div>
                    </div>
                </div>
                </td>
                <td>
                <div class="form-group">
                    <label for="" class="col-sm-4 text-right">Selling Price<br><span class="unit-small">(Unit)</span></label>
                    <div class="col-sm-7">
                    <div class="input-group">
                        <span class="input-group-addon">&#x20B9</span>
                        <!--<input type="text" class="form-control review_field" id="item_list_price" data-validation="required" placeholder="" readonly="readonly" tabindex="-1">-->
                        <%= text_field_tag :list_price ,"",class: 'form-control ',placeholder: "",readonly: "readonly", tabindex: "-1", value: @list_price %>

                    </div>
                    </div>
                </div>
                </td>
            </tr>
            <tr>
                <td>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Mark up <i class="fa fa-info-circle hg-tooltip" title="Total Profit Margin(in %)" style="cursor:help;"></i></label>
                    <div class="col-sm-7">
                    <div class="input-group">
                        <!--<input type="text" class="form-control review_field" id="item_mark_up" data-validation="required" placeholder="">-->
                        <%= text_field_tag :mark_up ,"",class: 'form-control review_field',placeholder: "", value: @mark_up%>

                        <span class="input-group-addon">&#37;</span>
                    </div>
                    </div>
                </div>
                </td>
                <td>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Expiry Date</label>
                    <div class="col-sm-7">
                    <!--<input type="text" class="form-control review_field datepicker" id="item_expiry" data-validation="required" placeholder="">-->
                    <%= text_field_tag :expiry ,"",class: 'form-control review_field datepicker',placeholder: "", value: @expiry%>

                    </div>
                </div>
                </td>
            </tr>
            </table>


                <%= f.hidden_field :checkoutable,{:value=>"true",:class=> "form-control review_field", :placeholder=>""} %>
                <%= f.hidden_field :category,{:value=>"medication",:class=> "form-control", :placeholder=>""} %>


                <%= f.submit "Save", class: "btn btn-success save_medi", remote: true,'data-disable-with' =>"Please Wait...", :onclick => 'addMedication_page()' %>
            <% end %>
            <button class="btn btn edit_item">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
#inventory_item_medication_dispensing_unit{
    display: inline-block;
    height: 33px;
    width: 100%;
    background: none;
}
#inventory_item_medication_packaging_type{
    display: inline-block;
    height: 33px;
    width: 100%;
    background: none;
}
.edit_item{
    margin-left: 122px;
    margin-top: -55px;
    border: 1px solid #FF7E7E;
    background: #FF7E7E;
    color: #fff;
}
</style>
<script type="text/javascript">

  datepicker_options = {
    changeMonth: true,
    changeYear: true,
    dateFormat: "yy-mm-dd",
    minDate: -0
    //showButtonPanel: true,
  };

  $('.datepicker').datepicker(datepicker_options);
  // var $messages = $('#error-message-wrapper');
  // $.validate({
  //   form: "#formAddItem",
  //   showErrorDialogs: false
  //   // errorMessagePosition : $messages,
  //   // scrollToTopOnError : false
  // });

  // Select2
//  $.fn.modal.Constructor.prototype.enforceFocus = function() {};
  $(".dispensing-unit-dd").select2();

  // Tooltip
  $(".hg-tooltip").tipsy();
  $(".hg-tooltip").on('click', function(){
    $(".tipsy").hide();
  })


  function addMedication_page() {
    $("#new_inventory_item").validate({
      rules: {
        "inventory_item[description]": {
          required: true,
        },
//       "inventory_item[barcode]": {
//          required: true,
//        },
       "stock_pack": {
          required: true,
          number: true
        },
       "inventory_item[manufacturer]": {
          required: true,
        },
       "price_pack": {
          required: true,
          number: true
        },
       "mrp_pack": {
          required: true,
          number: true
        },
       "list_price_pack": {
          required: true,
          number: true
        },
       "expiry": {
          required: true,
          dateISO: true
        },

      },
      messages: {
//        "inventory_item[description]": {
//          required: "Please enter Description."
//        },

      },
      errorPlacement: function (error, element) {
        var id = $(element).attr("id");
        var parent = $("#"+id).parents(".input-group").length
        if(parent == 0){
          error.insertAfter(element);
        } else {
          error.insertAfter($("#"+id).parents(".input-group"));
        }
      }
    });
  }
  addMedication_page()
</script>


<script>
    $('.review_field').attr('readonly', true);
    $("#inventory_item_medication_dispensing_unit").hide();
    $("#inventory_item_medication_packaging_type").hide();
    $("#inventory_item_medication_item_type").hide();
    $("#inventory_item_medication_sub_item_type").hide();

    $("#threshold_edit").hide();
    $(".edit_item").on('click', function(){
      $('.review_field').removeAttr('readonly');
      $(".dispensing_unit_unedit").hide();
      $("#review_packaging_type").hide();
      $("#review_item_type").hide();
      $("#review_sub_item_type").hide();
      $("#threshold_edit").show();
      $("#threshold_unedit").hide();
      $("#inventory_item_medication_dispensing_unit").show();

      $("#inventory_item_medication_packaging_type").show();
      $("#inventory_item_medication_packaging_type").select2();
      $("#inventory_item_medication_item_type").show();
      $("#inventory_item_medication_item_type").select2();
      $("#inventory_item_medication_sub_item_type").show();
      $("#inventory_item_medication_sub_item_type").select2();
    })
</script>
