<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-lg">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">   
        <h4 class="modal-title">TPA Details Form</h4>
      </div>
    </div>
    <%= form_tag({controller: "tpa_insurance_pre_authorization_form", action: "tpa_details_form_save"}, method: "post", remote: true, class: "tpa_form", id: "tpa_form") do %>
      <div class="modal-body tpa-insurance-modal-body">
        <div id="admissionWizard" class="basic-wizard">

          <input type="hidden" name="admission[admission_id]" value="<%=@admission.id%>">
          <input type="hidden" name="admission[tpa_insurance_workflow_id]" value="<%= @tpa_workflow.id %>">

          <ul class="nav nav-pills nav-justified tpa_details_forms_tabs">
            <li role="presentation" class="active admission-details" id="tab1"><a href="#admission-form-details" data-toggle="tab">Admission Details</a></li>
            <li role="presentation" class="insurance-details-tab" id="tab2"><a href="#insurance-details" data-toggle="tab">Insurance Details</a></li>
          </ul>
          
          <div class="tab-content tpa-details-form-body">
            <div class="tab-pane active" id="admission-form-details">
              <%= render partial: "admissions/form/admission_form.html.erb" %>
            </div>
            
            <div class="tab-pane" id="insurance-details">
              <%= render partial: "admissions/form/insurance_form.html.erb" %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= submit_tag "Save", class: "btn btn-success btn-save-tpa", data: { 'disable-with': 'Please Wait...' }, :onclick => "tpa_details_form_page()" %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  <%= render partial: '/tpa_insurance_pre_authorization_form/tpa_details_forms/start_tpa_form.js.erb' %>

  $("#insurance_<%=@admission.patient_insurance_id.to_s%>").attr('checked',true)
  $("#insurance_<%=@admission.patient_insurance_id.to_s%>").trigger('click')
</script>


<style type="text/css">
  <% if @admission_list_view.nil? || @admission_list_view.try(:current_state) == "Scheduled" %>
    .admission-datepicker, .admission-timepicker {
      cursor: pointer !important;
      background: #fff !important;
    }
  <% end %>
  .discharge-datepicker {
    cursor: pointer !important;
    background: #fff !important;
  }
</style>