<%= f.hidden_field :transaction_date, { value: Date.current } %>
<%= f.hidden_field :entry_type, { value: 'Bill Of Material' } %>
<%= f.hidden_field :entered_by, { value: current_user.fullname } %>
<%= f.hidden_field :user_id, { value: current_user.id } %>
<%= f.hidden_field :store_id, { value: @inventory_store.id } %>
<%= f.hidden_field :store_name, { value: @inventory_store.name } %>
<%= f.hidden_field :facility_id, { value: current_facility_id } %>
<%= f.hidden_field :organisation_id, { value: current_user.organisation_id } %>
<%= f.hidden_field :department_name, value: @inventory_store.department_name %>
<%= f.hidden_field :user_name, value: current_user.fullname %>
<%= f.hidden_field :department_id, value: @inventory_store.department_id %>
<%= f.hidden_field :patient_name, value: @patient.fullname %>
<%= f.hidden_field :patient_id, value: @patient.id %>
<%= f.hidden_field :admission_id, value: @admission.admission_id %>
<%= f.hidden_field :admitting_doctor, value: @admission.admitting_doctor %>
<%= f.hidden_field :admission_date, value: @admission.admission_date %>
<%= f.hidden_field :transaction_time, value: Time.current %>
<%= f.hidden_field :patient_display_id, value: @admission.patient_display_id %>

<div class="row mb5" style="border-bottom:1px solid #eee;border-top:1px solid #eee;">

  <div class="tray-lots-list" style="">
    <table class="table tray-lots-table" style="">
      <thead class="tray-table-head">
      <tr class='thead-fixable'>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Description</td>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Category</td>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Batch</td>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Expiry</td>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Cost Price</td>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>MRP</td>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Available Tray Qty</td>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Billable Unit price</td>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Consumed Qty</td>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Total&nbsp;(<%= current_facility.currency_symbol %>)</td>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Billable</td>
        <td class='thead-fix col-md-1 col-sm-1 col-xs-1'>Action</td>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="tray-table-body" style="min-height: 100px; font-size: 11px; overflow-x: hidden;">
    <% if params[:action] == 'edit' %>
      <%= render partial: 'inpatient/bill_of_materials/item_list.html.erb', locals: { f: f } %>
    <% elsif @trays.size > 0 %>
      <%= render partial: 'inpatient/bill_of_materials/tray_form.html.erb', locals: { f: f } %>
    <% end %>
  </div>
</div>

<style>
  .transaction-datepicker{
    cursor: pointer !important;
  }
  .disabled_row{
    pointer-events: none;
  }
</style>
