<div class="row transaction-common-fields" style="margin-bottom: 10px;">
	<div class="col-md-4">
		<b>Patient:&nbsp;</b><span><%= @admission.patient_name&.titleize %>&nbsp;(<%= @admission.patient_age %> / <%= @admission.patient_gender %>)</span>
	</div>
	<div class="col-md-2">
		<b>Doctor:&nbsp;</b><span><%= @admission.admitting_doctor&.titleize %></span>
	</div>
	<div class="col-md-3">
		<b>IPD Status:&nbsp;</b><spann><%= @admission.current_state %>&nbsp;(By:&nbsp;<%= @user&.fullname&.titleize %>)</spann>
	</div>
	<div class="col-md-3">
		<b>Admission Date:&nbsp;</b><spna><%= @admission.admission_date.try(:strftime, '%d-%m-%Y') %>&nbsp;|&nbsp;<%= @admission.admission_time&.strftime("%I:%M%p") %></spna>
	</div>
</div>
