<div class="container-fluid" id="freeInvoiceEdit" style="border-bottom:1px solid #eee;">
  <div class="row mb5">
    <div class="row mb5 col-md-12">
      <div class="col-md-4 font_size"><b>Patient:&nbsp;&nbsp; <%= @bom.patient_name&.titleize %></b></div>
      <div class="col-md-4 font_size"><b>Patient Id:&nbsp;&nbsp; <%= @bom.patient_display_id %></b></div>
      <div class="col-md-4 font_size"><b>Total Cost:&nbsp;&nbsp; <%= @bom.total_cost %></b></div>
    </div>
    <div class="row mb5 col-md-12">
      <div class="col-md-4 font_size"><b>Admission Status:&nbsp;&nbsp; <%= @admission.current_state %></b></div>
      <div class="col-md-4 font_size"><b>Date|Time:&nbsp;&nbsp; <%= @bom.transaction_date.try(:strftime, '%d-%m-%y') %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= @bom.transaction_time&.strftime("%I:%M%p")%></b></div>
    </div>
    <% if @bom.operative_note_id.present? %>
      <div class="row mb5 col-md-12">
        <b style="color: red; font-style: italic;">Note:&nbsp;&nbsp;</b><span style="color: red; font-style: italic;">This Bill Of Material has been Consumed On&nbsp; <%= @bom.operative_note_date.try(:strftime, '%d-%m-%Y') %>&nbsp;|&nbsp;<%= @bom.operative_note_time&.strftime("%I:%M%p") %></span>
      </div>
    <% end %>
    <% if @bom.ipd_invoice_id.present? %>
      <div class="row mb5 col-md-12">
        <b style="color: red; font-style: italic;">Note:&nbsp;</b><span style="color: red; font-style: italic;">This Bill Of Material has been Billed On&nbsp;<%= @bom.ipd_invoice_date.try(:strftime, '%d-%m-%Y') %>&nbsp;|&nbsp;<%= @bom.ipd_invoice_time&.strftime("%I:%M%p") %></span>
      </div>
    <% end %>
  </div>
  <div class="row">
    <h4 style="color: #00BFFF;">Item Details:</h4>
  </div>
  <div class="row check-font mt10 mb5">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Description</th>
          <th>Batch No.</th>
          <th>Category</th>
          <th>Expiry</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total Price</th>
          <th>Billable</th>
        </tr>
      </thead>
      <tbody>
        <% @bom.items.each do |item|%>
          <tr>
            <td><%= "#{item.description}-#{item.custom_field_tags&.reject(&:blank?)&.join(', ')}" %></td>
            <td><%= item.batch_no %></td>
            <td><%= item.category&.titleize %></td>
            <td><%= item.expiry %></td>
            <td><%= item.bom_list_price %></td>
            <td><%= item.bom_quantity %></td>
            <td><%= item.total_list_price %></td>
            <td><%= item.billable == true ? 'Yes' : 'No' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<style>
  .font_size {
    font-size: 12px;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .text-labels {
    font-weight: bold;
  }
  .check-font table tr th {
    padding: 2px 5px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
  }

  .check-font table tr td {
    padding: 2px 5px;
    text-align: center;
  }

  .check-font {
    font-size: 11px;
  }
</style>
