<% @trays.each_with_index do |tray, index| %>
	<div class="row">
		<div class="col-md-4">
			<strong style="color: blue; font-size: 15px;">Tray:&nbsp;&nbsp; <%= index + 1 %></strong>
		</div>
		<div class="col-md-4">
			<strong style="color: blue; font-size: 15px;">Date | Time:&nbsp;&nbsp;<%= tray.transaction_date.try(:strftime, '%d-%m-%Y') %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= tray.transaction_time&.strftime("%I:%M%p") %></strong>
		</div>
		<div class="col-md-4">
			<strong style="color: blue; font-size: 15px;">Created By:&nbsp;&nbsp;<%= tray.user_name&.titleize %></strong>
		</div>
	</div>
	<% tray.items.each_with_index do |item, index| %>
		<% if item.stock&.to_f > 0 %>
			<table class="inventory-bom-log-item inventory-bom-log-item-old">
				<% index = (Time.current.to_f.round(3)*1000).to_i %>
				<% variant = Inventory::Item::Variant.find(item.variant_id) %>
	  		<% lot = Inventory::Item::Lot.find(item.lot_id) %>
	  		<% @item = Inventory::Item.find_by(id: item.item_id) %>
	  		<%= hidden_field_tag "inpatient_bill_of_material[items_attributes][#{index}][item_code]", variant.item_code %>
		    <%= hidden_field_tag "inpatient_bill_of_material[items_attributes][#{index}][variant_code]", variant.variant_code %>
		    <%= hidden_field_tag "inpatient_bill_of_material[items_attributes][#{index}][item_id]", variant.item_id %>
		    <%= hidden_field_tag "inpatient_bill_of_material[items_attributes][#{index}][lot_id]", lot.id %>
		    <%= hidden_field_tag "inpatient_bill_of_material[items_attributes][#{index}][variant_id]", variant.id %>
		    <%= hidden_field_tag "inpatient_bill_of_material[items_attributes][#{index}][category]", variant.category %>
		    <%= hidden_field_tag "inpatient_bill_of_material[items_attributes][#{index}][barcode]", variant.barcode %>
		    <%= hidden_field_tag "inpatient_bill_of_material[items_attributes][#{index}][barcode_present]", variant.barcode_present %>
		    <%= hidden_field_tag "inpatient_bill_of_material[items_attributes][#{index}][variant_reference_id]", variant.reference_id %>
		    <%= hidden_field_tag "inpatient_bill_of_material[items_attributes][#{index}][item_reference_id]", @item.reference_id %>
		    <%= hidden_field_tag "inpatient_bill_of_material[items_attributes][#{index}][facility_id]", variant.facility_id %>
		    <%= hidden_field_tag "inpatient_bill_of_material[items_attributes][#{index}][store_id]", variant.store_id %>
		    <%= hidden_field_tag "inpatient_bill_of_material[items_attributes][#{index}][organisation_id]", variant.organisation_id %>
		    <%= hidden_field_tag "inpatient_bill_of_material[items_attributes][#{index}][search]", lot.search %>
		    <%= hidden_field_tag "inpatient_bill_of_material[items_attributes][#{index}][variant_identifier]", variant.variant_identifier %>
		    <%= hidden_field_tag "inpatient_bill_of_material[items_attributes][#{index}][mrp]", lot.mrp %>
		    <%= hidden_field_tag "inpatient_bill_of_material[items_attributes][#{index}][list_price]", lot.list_price %>
		    <%= hidden_field_tag "inpatient_bill_of_material[items_attributes][#{index}][tray_id]", tray.id %>
		    <%= hidden_field_tag "inpatient_bill_of_material[items_attributes][#{index}][tray_item_id]", item.id %>
				<tr>
					<td class="col-md-1 col-sm-1 col-xs-1">
						<% if lot.custom_field_data.present? %>
		          <% lot.custom_field_data.each do |k,v| %>
		            <%= hidden_field_tag "inpatient_bill_of_material[items_attributes][#{index}][custom_field_data][#{k}]", v %>
		          <% end %>
		        <% end %>
						<%= select_tag "inpatient_bill_of_material[items_attributes][#{index}][custom_field_tags]", options_for_select(lot.custom_field_tags,lot.custom_field_tags), include_hidden: false, multiple:true, style: "display: none;" %>
		        <strong><%= lot.description&.capitalize %></strong>
		        <%= hidden_field_tag "inpatient_bill_of_material[items_attributes][#{index}][description]", lot.description, readonly: true, class: "item_description modalRequest_input_style", :placeholder=>"Description" %>
		        <%= hidden_field_tag "inpatient_bill_of_material[items_attributes][#{index}][_destroy]", 0 , class: 'form-control' %>
					</td>
					<td class="col-md-1 col-sm-1 col-xs-1">
        		<%= lot.category&.capitalize %>
      		</td>
					<td class="col-md-1 col-sm-1 col-xs-1">
						<label class="label label-info" style="font-size: 10px; padding: 2px"><%= lot.batch_no %></label>
		        <%= hidden_field_tag "inpatient_bill_of_material[items_attributes][#{index}][batch_no]", lot.batch_no, readonly: true, class: 'item_batch modalRequest_input_style', placeholder: 'Batch' %>
		        <%= hidden_field_tag "inpatient_bill_of_material[items_attributes][#{index}][self_batched]", lot.self_batched %>
					</td>
					<td class="col-md-1 col-sm-1 col-xs-1">
		        <% if lot.expiry.present? %>
		          <%= lot.expiry.try(:strftime, '%d-%m-%Y') %>
		        <% else %>
		          N.A
		        <% end %>
		        <%= hidden_field_tag "inpatient_bill_of_material[items_attributes][#{index}][expiry_present]", lot.expiry_present, readonly: true, class: '', placeholder: 'Expiry' %>
		        <%= hidden_field_tag "inpatient_bill_of_material[items_attributes][#{index}][expiry]", lot.expiry, readonly: true, class: 'exp_datepicker item_expiry modalRequest_input_style', placeholder: 'Expiry' %>
					</td>
					<td class="col-md-1 col-sm-1 col-xs-1">
        		<%= lot.unit_cost %>
      		</td>
					<td class="col-md-1 col-sm-1 col-xs-1">
						<%= lot.list_price %>
		        <%= hidden_field_tag "inpatient_bill_of_material[items_attributes][#{index}][list_price]", lot.list_price, readonly: true, class: "unit_item_list_price modalRequest_input_style", style: "width:100%; text-align:left" %>
		        <%= hidden_field_tag "inpatient_bill_of_material[items_attributes][#{index}][unit_non_taxable_amount]", lot.unit_non_taxable_amount, readonly: true, class: "unit_non_taxable_amount modalRequest_input_style", style: "width:100%; text-align:left" %>
		        <%= hidden_field_tag "inpatient_bill_of_material[items_attributes][#{index}][unit_taxable_amount]", lot.unit_taxable_amount, readonly: true, class: "unit_taxable_amount modalRequest_input_style", style: "width:100%; text-align:left" %>
					</td>
					<td class="col-md-1 col-sm-1 col-xs-1">
						<%= number_field_tag "inpatient_bill_of_material[items_attributes][#{index}][quantity]", item.stock.to_f, placeholder: 'Qty', style: 'width:100%;text-align:left', class: 'item_quantity modalRequest_input_style', min: '1', readonly: true %>
		        <input type="hidden" value="<%= lot&.stock %>" class="item_max_quantity modalRequest_input_style" placeholder="" style="width:90%;text-align:left">
					</td>
					<td class="col-md-1 col-sm-1 col-xs-1">
						<%= number_field_tag "inpatient_bill_of_material[items_attributes][#{index}][bom_list_price]", lot.list_price, placeholder: 'BOM List Price', style: 'width:100%; text-align:left', class: 'modalRequest_input_style item_bom_list_price', min: '0' %>
					</td>
					<td class="col-md-1 col-sm-1 col-xs-1">
						<%= number_field_tag "inpatient_bill_of_material[items_attributes][#{index}][bom_quantity]", '', placeholder: 'Qty', style: 'width:100%; text-align:left', class: 'item_bom_quantity modalRequest_input_style', min: '1' %>
						<input type="hidden" value= "<%= item.stock.to_f %>" class="tray_quantity">
					</td>
					<td class="col-md-1 col-sm-1 col-xs-1 font_size">
						<%= text_field_tag "inpatient_bill_of_material[items_attributes][#{index}][total_list_price]", '', readonly: true , class: "modalRequest_input_style item_total_price", :placeholder=>"", :style=>"width:100%;text-align:left" %>
					</td>
					<td class="col-md-1 col-sm-1 col-xs-1 font-size">
	      		<%= check_box_tag "inpatient_bill_of_material[items_attributes][#{index}][billable]", true, item.billable, class: 'billable-price', style: 'width: 20px; height: 20px' %>
	    		</td>
					<td class="col-md-1 col-sm-1 col-xs-1 font-size">
						<button type="button" class="btn btn-link hg-tooltip delete_empty_item" tabindex="-1" style="padding:0px;" title="Remove From List" value="<%= lot.id %>"><i class="fa fa-trash-alt"	style="color:#000;"></i>
						</button>
					</td>
				</tr>
			</table>
		<% end %>
	<% end %>
	<hr>
<% end %>
