<% if @bill_of_material.present? && @bill_of_material.items.where(billable: true).count > 0 %>
  <div class="row" style="margin-top: 10px;font-size: 10px;">
    <% html_class = ('col-md-8 col-md-offset-1' if params[:tax_enabled] == 'true') || 'col-md-8 col-md-offset-2' %>
    <div class="<%= html_class %>">
      <table class="table table-bordered" style="margin-bottom: 0px;">
        <thead>
          <tr>
            <th style="padding:2px 10px;">S.No</th>
            <th style="padding:2px 10px;">Description</th>
            <th style="padding:2px 10px;">Batch</th>
            <th style="padding:2px 10px;" class="text-right">Quantity</th>
            <th style="padding:2px 10px;" class="text-right">Total Cost</th>
          </tr>
        </thead>
        <tbody>
          <% @bill_of_material.items.where(billable: true).each_with_index do |bom, i| %>
            <tr>
              <td style="padding:2px 10px;"><%= i + 1 %>.</td>
              <td style="padding:2px 10px;"><%= bom.description %><%= "(#{bom.variant_code})" if bom.variant_code.present? %></td>
              <td style="padding:2px 10px;"><%= bom.batch_no %></td>
              <td style="padding:2px 10px;" class="text-right"><%= bom.bom_quantity %></td>
              <td style="padding:2px 10px;" class="text-right"><%= bom.try(:total_list_price) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% if @bill_of_material.discount.present? %>
    <div class="row" style="margin-top: 10px;">
      <div class="col-md-7"></div>
      <div class="col-md-5">
        <b style="color: red; font-style: italic;">Note:&nbsp;&nbsp;</b><span style="color: red; font-style: italic;">This Bill Of Material Include Discount <%= current_facility.currency_symbol %>&nbsp;<%= @bill_of_material.discount %></span>
      </div>
    </div>
  <% end %>
<% end %>
