<div class="row">
  <div class="col-md-4">
    <h4>MANAGE PATIENT PAYER DATA</h4>
  </div>
  <div class="col-md-3 text-right">
    <input type="text" name="" class="search-patient_payer-master form-control" placeholder="Search By Patient Payer Data Name" value="" style="margin-top: 5px;">
  </div>
  <div class="col-md-5 text-right">
    <%= link_to new_finance_patient_payer_data_master_path, class: 'btn btn-primary', data: { remote: true, 'toggle': 'modal', 'target': '#finance-patient_payer-modal' } do %><i class="fa fa-plus"></i> Add Patient Payer Data<% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <% if @finance_patient_payers.count > 0 %>
      <table id="manage_finance_patient_payers_table" class="table table-primary table-bordered">
        <thead>
        <th>Name</th>
        <th>Description</th>
        <th class="text-center">Actions</th>
        </thead>
        <tbody id="patient_payer_master-list">

        <% @finance_patient_payers.each do |patient_payer| %>
          <% visibility = patient_payer.is_disable ? 'visibility: hidden;' : 'visibility: visible' %>
          <tr class="each-contact-table-row patient_payer_master_tr">
            <td>
              <b class="patient_payer_name" style="color:#000;"><%= patient_payer.try(:name) %></b>
            </td>

            <td>
              <b class="patient_payer_description" style="color:#000;"><%= patient_payer.try(:description) %></b>
            </td>

            <td>
              <table style="width: 100%;">
                <tr>
                  <td style="<%=visibility%>">
                    <%= link_to edit_finance_patient_payer_data_master_path(id: patient_payer.id.to_s), method: :get, data: { remote: true, toggle: 'modal', target: '#finance-patient_payer-modal' }, class: 'btn btn-info btn-xs', style: 'display: inline;' do %>Edit<% end %>
                  </td>

                  <td id='patient_payer_disable_button_<%= patient_payer.id %>'>
                    <% if patient_payer.try(:is_disable) == true %>
                      <%= link_to 'Active', toggle_disable_finance_patient_payer_data_master_path(id: patient_payer.id, is_disable: false), class: 'btn btn-xs btn-primary', remote: true, style: 'display: inline;' %>
                    <% else %>
                      <div class="btn btn-danger btn-xs btn-disable-patient_payer" style="display: inline;" data-toggle="modal" data-target="#confirmation-modal" data-patient_payer='<%= patient_payer.name %>'>Disable</div>
                      <%= link_to 'Confirm', toggle_disable_finance_patient_payer_data_master_path(id: patient_payer.id, is_disable: true), class: 'btn btn-danger', remote: true, style: 'display: none;', data: { dismiss: 'modal' } %>
                    <% end %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="col-md-12 text-center mt10">
        No Data to Show.
      </div>
    <% end %>
  </div>
</div>

<style>
  #confirmation-modal a{
    display: inline-block !important;
  }
  .row-container{
    height: 25px;
  }
</style>

<script type="text/javascript">
  $(".search-patient_payer-master").on('keyup', function(){
    patient_payer_list = $(".patient_payer_master_tr");
    patient_payer_list_count = patient_payer_list.length;
    search = $(this).val().toUpperCase().trim();
    counter = 0
    for (var i = patient_payer_list.length - 1; i >= 0; i--) {
      patient_payer_name = $(patient_payer_list[i]).find(".patient_payer_name")
      patient_payer_description = $(patient_payer_list[i]).find(".patient_payer_description")
      if($(patient_payer_name).html().toUpperCase().indexOf(search) > -1 || $(patient_payer_description).html().toUpperCase().indexOf(search) > -1) {
        $(patient_payer_list[i]).css("display", "");
      } else {
        $(patient_payer_list[i]).css("display", "None");
        counter += 1
      }
    }

    if(patient_payer_list_count == counter){
      if($(".show-nothing").length <= 0){
        $("#patient_payer_master-list").append(`<tr class="show-nothing"><td class="text-center" colspan="5">Nothing to Show</td></tr>`)
      }
    } else {
      $(".show-nothing").remove();
    }
  })
</script>
