<div class="row mb20">
  <div class="col-md-12">
    <div class="col-md-12">
      <h2 style="font-size: 20px!important;">Surgical repair of......(L/R)Achilles tendon</h2>
    </div>
    <hr>
    <div class="col-md-4">
      Name of Patient: <%=@patient.fullname.split(" ").map(&:capitalize).join(" ") %>
    </div>
    <div class="col-md-2">
      Sex/Age:   &nbsp;&nbsp;<%= @patient.gender %>/<%= @patient.age %>
    </div>
    <div class="col-md-4">
      <% patient_other_identifier =  PatientOtherIdentifier.find_by(patient_id: @patient.id.to_s)  %>
      <%if patient_other_identifier.try(:mr_no).present? %>
        MR No: <%=patient_other_identifier.mr_no%>
      <%else%>
        Patient ID: <%= PatientIdentifier.find_by(patient_id: @patient.id.to_s).try(:patient_org_id) %>
      <%end%>
    </div>
    <div class="col-md-2">
      Date: <%= Date.current.strftime("%d/%m/%y")%>
    </div>
    <div class="col-md-12">
      Son / Daughter of..............................................................................................................................................................<br>
      Address:
      <% unless @patient.address_1.blank? && @patient.address_2.blank? || @patient.city.blank? || @patient.state.blank? || @patient.pincode.nil? %>
          <%=  @patient.address_1 %>,
          <%=  @patient.address_2 %>,
          <%=  @patient.city %>,
          <%=  @patient.state %>,
          <%=  @patient.pincode %>
          <br>
      <%else%>
          ..............................................................................................................................................................................<br>
      <% end%>
      Tel:<%= @patient.mobilenumber%>
      <br/>
      <h3 style="font-size: 15px!important;">Procedure</h3>
      A tendon is a band of tissue that runs from a muscle to bone. The Achilles tendon runs from the calf to the heel bone. When your calf muscle contracts (flexes) the tendon pulls the foot down and lets you go on tip-toes.
<br>
      Your Achilles’ tendon has torn. You may have come to joint decision with your surgeon to repair it surgically. This means stitching the two ends of torn tendon back together again.
      <br>
      *** Please be aware that a surgeon other than the consultant but with adequate training or supervision  may perform the operation***
      <h3 style="font-size: 15px!important;">Alternate Procedure</h3>
      Researchers disagree whether to operate on torn Achilles’ tendons.  Some research shows that treating conservatively (not operating) has an equal “success” rate to surgery but also has far fewer comlications.
<br>
      Other surgeons say that surgery is especially successful if you are very active or sporty. Please be aware that you could be in a plaster cast for a similar amount of time whether operated or not.
      <br>
      With either treatment, you will wear a cast for a similar amount of time.
      <h3 style="font-size: 15px!important;">Risks</h3>
      <h3 style="font-size: 15px!important;">COMMON(2-5%)</h3>
      Pain: the procedure does involve moving soft tissue and will hurt afterwards. It
      is important to discuss this with the staff and ask for pain killers if needed.
      You are advised to keep your limb up as much as possible (before and
      after the operation). This will keep the swelling and pain to a minimum.<br>
      Bleeding: there will inevitably be some bleeding. But is not usually excessive.<br>
      Scar: the operation will leave a thin scar where the cut is made. This can be very
      irritating.<br>
      Infection: This is may present as redness, discharge or temperature 	around the
      wound. A course of antibiotics may be necessary. The wound can break
      down in these cases. In some cases, the wound breaks down for no
      obvious reason.<br>
      Stiffness:  This may be temporary and physiotherapy will help to lessen the
      restriction.<br>
      RE-rupture:  The repair may tear again. This can not be predicted , but moving it too early is
      often a cause.

      <h3 style="font-size: 15px!important;">RARE: (<1%) </h3>
      Thick/ keloid scar: These are scars which grow excessively (within the wound margin.
      They occur in some people and can not be predicted although if you have
      a previous keloid scar you are at greater risk. Scars may be treated with
      steroid injection or surgically if necessary.<br>
      Delayed wound healing: may occur if the wound is under tension, infected or short of
      blood supply. The scar will look worse in this case.<br>
      Fat necrosis: 	this is also a cause of delayed wound healing. Again, the scar will look
      worse.<br>
      Neurovascular damage: There are numerous blood vessels and nerves around the ankle.
      These may be damaged during the operation. In most cases, they can be
      also be repaired. Rarely, damage may result in numbness or weakness of
      muscles. This is usually temporary but rarely permanent. There can rarely
      be damage to a tendon.<br>
      DVT: This is a deep vein thrombosis. A blood clot in the blood vessels. They
      can be painful and if they travel to the lungs they can seriously affect your
      breathing.

      <h3 style="font-size: 15px!important;">Confirmation of consent :</h3>
      I have read/ understand the procedure, risks and complications. I have asked any questions and raised any immediate concerns I might have. I understand another surgeon other than my consultant may perform the operation.(although they will have adequate training/ supervision).<br>
      <b>I understand</b> that I will have the opportunity to discuss the details of anaesthesia with an anaesthetist before the procedure<br>
      <b>I understand</b> that any procedure in addition to those described on this form will only be carried out if it is necessary to save my life or to prevent serious harm to my health.
      <br>
      Signature / Thumb Impression of Patient/ Parent / Guardian: ...............................................................................................................................<br> Name: ........................................................ Relationship    ............................ Date  .............................................<br>
      Address:   .............................................................................................................................................................................<br>
      Phone (Off) .......................................(Res).......................................(Mob).......................................
      <br>
      I also give consent for my notes ⁯, any recorded data ⁯ or any discarded tissue ⁯ to be used in any studies and trials in the future<br>

      Signed .......................................... Date <%= Date.current%>
      <h3 style="font-size: 15px!important;">Declaration by Doctor</h3>
      I declare that I have explained the nature and consequences of the procedure to be performed, and discussed the risks that particularly concern the patient.
      <br>I have given the patient an opportunity to ask questions and I have answered these.<br>
      NAME of SURGEON (Capital letters)...................................................................................
      <br><br>

      SIGNATURE of SURGEON.......................................................................................................
      <br><br>

      POSITION.......................................................................................................................................
      <br>

      <br>

    </div>
    <div class="col-md-6">
      Witness 1<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>
    <div class="col-md-6">
      Witness 2<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>
    <br>
    <div class="col-md-12">
      <h3 style="font-size: 15px!important;">**Note</h3>
      If you have any complaints about your treatment or your care, you are always encouraged to discuss them with your surgical team.
      <br>
      However, if you wish to complain to the trust, each hospital will have a PALS or Patient Advise and Liaison Service. The head nurse on the ward or out patients’ clinic can direct you to them. The PALS team will treat all complaints seriously.
    </div>

  </div>

</div>


<style>
    h2{
        text-align: center;
        position: relative;
        text-transform: uppercase;
        font-size: 13pt;
        color: #333333;
    }
</style>




