<div class="row mb20">
  <div class="col-md-12">
    <div class="col-md-12">
      <h2 style="font-size: 20px!important;">Femur - Intramedullary Nailing</h2>
    </div>
    <hr>
    <div class="col-md-4">
      Name of Patient: <%=@patient.fullname.split(" ").map(&:capitalize).join(" ") %>
    </div>
    <div class="col-md-2">
      Sex/Age:   &nbsp;&nbsp;<%= @patient.gender %>/<%= @patient.age %>
    </div>
    <div class="col-md-4">
      <% patient_other_identifier =  PatientOtherIdentifier.find_by(patient_id: @patient.id.to_s)  %>
      <%if patient_other_identifier.try(:mr_no).present? %>
        MR No: <%=patient_other_identifier.mr_no%>
      <%else%>
        Patient ID: <%= PatientIdentifier.find_by(patient_id: @patient.id.to_s).try(:patient_org_id) %>
      <%end%>
    </div>
    <div class="col-md-2">
      Date: <%= Date.current.strftime("%d/%m/%y")%>
    </div>
    <div class="col-md-12">
      Son / Daughter of..............................................................................................................................................................
      <br>
      Address:
      <% unless @patient.address_1.blank? && @patient.address_2.blank? || @patient.city.blank? || @patient.state.blank? || @patient.pincode.nil? %>
          <%=  @patient.address_1 %>,
          <%=  @patient.address_2 %>,
          <%=  @patient.city %>,
          <%=  @patient.state %>,
          <%=  @patient.pincode %>
          <br>
      <%else%>
          ..............................................................................................................................................................................<br>
      <% end%>Tel:<%= @patient.mobilenumber%>
      <br/>
      <h3 style="font-size: 15px!important;">Procedure</h3>
      The femur is the long thigh bone. It is a weight bearing bone and will need to be fixed for you to walk on it. Your surgeons feel that the best way to hold the bone together is to insert a nail through the bone hence hold the two ends together and allow proper bone healing. The femur is essentially a long hollow tube with marrow in the middle. A nail (or metal rod) can pass through the hollow and bridge the two broken pieces.<br>

      ***Please be aware that a surgeon other than a consultant, but with adequate training or supervision may perform the operation***
      <h3 style="font-size: 15px!important;">Alternate Procedure</h3>
      When your femur has been broken it is very advisable to have it fixed. Not fixing may result in non-healing, delayed union or mal-union. All these can cause quite significant disability and long term problems.<br>

      There may be other options available to treat this fracture; these including external fixation or plating. However, it is the suggestion of the consultant surgeon looking after you that nailing is the best option. You are of course entitled to a second opinion.<br>

      There MAY also be a non-operative option. This would be to place the fractured leg in traction and regularly x-ray to watch the bone healing. You will have to be non-weight bearing and there is a high risk of non-union (when the bone ends do not fix properly of do not meet at all) in these fractures which may eventually require an operation such as the one above.<br>
      <h3 style="font-size: 15px!important;">Risks</h3>
      As with all procedures, this carries some risks and complications.
      <h3 style="font-size: 15px!important;">COMMON(2-5%)</h3>
      Pain: There will inevitably be some pain after the operation. This may be
      around the  wound site, the fracture site or at the hip or knee. If you are in pain it is important that you ask for pain killers. Pain will
      decrease over the next few days to weeks as the bone heals and the
      swelling decreases. Very rarely, pain may continue. This may be due to
      failed fixation in which case another operation may have to be
      performed. Pain at the knee is common after the operation.<br>
      Bleeding: There will be some bleeding. This is usually minimal and can be
      stopped at the time of operation. Very occasionally a blood transfusion
      or iron tablets may be necessary<br>
      Infection: the wound site may become red, swollen and painful. There may also
      be discharge. If this occurs, antibiotics may need to be given. If the
      metalwork becomes involved, it may be removed. There may be spread
      of the infection to bone or blood (sepsis). Again antibiotics may be
      necessary. Extremely rarely, very severe local infections my require
      the leg to amputated.<br>
      Numbness: the skin around the wound sites may be temporarily or more
      permanently numb.
      <h3 style="font-size: 15px!important;">LESS COMMON(1-2%)</h3>
      Stiffness of the joints around the fracture: may occur and may require vigorous
      physiotherapy<br>
      Stiffness: and osteoarthritis may continue. This may require vigorous
      physiotherapy  and or repeat surgery.<br>
      Fat embolus: the fat in the middle of the bone (marrow) may be spread to the blood
      and  eventually the lungs during manipulation or during the original
      break. This can cause severe breathing problems. Very rarely, this can
      be fatal.<br>
      Blood clots: a DVT (deep vein thrombosis) is a blood clot in a vein. These may
      present as red, painful and swollen legs (usually). The risks of
      developing a DVT are greater after any surgery (and especially bone
      surgery). Although not a problem themselves, a DVT can pass in the
      blood stream and be deposited in the lungs (a pulmonary embolism –
      PE). This is a very serious condition which affects your breathing.
      Your surgeon may give you medication through a needle to try and
      limit this risk of DVTs from forming. Some centres will also ask you
      to wears stockings on your legs, while others may use foot pumps to
      keep blood circulating around the leg. Start to walk and getting moving
      is one of the best ways to prevent blood clots from forming.<br>
      Catheterisation: The team may pass a tube into the bladder. This is usually temporary
      but will collect your urine.

      <h3 style="font-size: 15px!important;">RARE(<1%)</h3>
      Compartment syndrome: this is a build up pressure within the thigh and can cause
      pain, nerve damage, blood vessel damage and muscle damage. If this
      occurs, an emergency operation will have to be performed to prevent
      death of tissue of the lower leg/ foot.<br>
      Damage to the skin under the tourniquet: this may require dressing, surgery or skin graft. There may also be numbness of the skin under the tourniquet,
      this is usually temporary.<br>
      Failed reduction: this is difficulty in aligning the two ends of broken bone. In this
      case, the operation may need to be repeated or an alternative operation
      may be done at a later date.<br>
      Removal of metalwork: this may be necessary if it becomes infected or painful or
      damages the skin. Sometimes, the nail can be removed to allow greater
      movement once the bone has healed.<br>
      Abnormal wound healing: the scar may become thick, red and painful (keloid scar).
      This is more common in Afro-Caribbean’s.<br>
      Deformity of the leg: the bone may not heal in its intended alignment. This may
      require physiotherapy or further operation (including removal of nail).<br>
      Delayed or non-union of fracture: this is when the bone ends do not join adequately.
      At this point, a bone graft & further surgerymay be necessary.
      <br>
      Signature / Thumb Impression of Patient/ Parent / Guardian: ...............................................................................................................................<br> Name: ........................................................ Relationship    ............................ Date  .............................................<br>
      Address:   .............................................................................................................................................................................<br>
      Phone (Off) .......................................(Res).......................................(Mob).......................................
      <br>
      I also give consent for my notes ⁯, any recorded data ⁯ or any discarded tissue ⁯ to be used in any studies and trials in the future<br>

      Signed .......................................... Date <%= Date.current%>
      <h3 style="font-size: 15px!important;">Declaration by Doctor</h3>
      I declare that I have explained the nature and consequences of the procedure to be performed, and discussed the risks that particularly concern the patient.
      <br>I have given the patient an opportunity to ask questions and I have answered these.<br>
      NAME of SURGEON (Capital letters)...................................................................................
      <br><br>

      SIGNATURE of SURGEON.......................................................................................................
      <br><br>

      POSITION.......................................................................................................................................
      <br>

      <br>

    </div>
    <div class="col-md-6">
      Witness 1<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>
    <div class="col-md-6">
      Witness 2<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>
    <br>
    <div class="col-md-12">
      <h3 style="font-size: 15px!important;">**Note</h3>
      If you have any complaints about your treatment or your care, you are always encouraged to discuss them with your surgical team.
      <br>
      However, if you wish to complain to the trust, each hospital will have a PALS or Patient Advise and Liaison Service. The head nurse on the ward or out patients’ clinic can direct you to them. The PALS team will treat all complaints seriously.
    </div>

  </div>

</div>

<br/>

<style>
    h2{
        text-align: center;
        position: relative;
        text-transform: uppercase;
        font-size: 13pt;
        color: #333333;
    }
</style>




