<div class="row mb20">
  <div class="col-md-12">
    <div class="col-md-12">
      <h2 style="font-size: 20px!important;">Unicompartmental Knee Replacement
        (half knee replacement)
        (+/- proceed to total knee replacement)</h2>
    </div>
    <hr>
    <div class="col-md-4">
      Name of Patient: <%=@patient.fullname.split(" ").map(&:capitalize).join(" ") %>
    </div>
    <div class="col-md-2">
      Sex/Age:   &nbsp;&nbsp;<%= @patient.gender %>/<%= @patient.age %>
    </div>
    <div class="col-md-4">
      <% patient_other_identifier =  PatientOtherIdentifier.find_by(patient_id: @patient.id.to_s)  %>
      <%if patient_other_identifier.try(:mr_no).present? %>
        MR No: <%=patient_other_identifier.mr_no%>
      <%else%>
        Patient ID: <%= PatientIdentifier.find_by(patient_id: @patient.id.to_s).try(:patient_org_id) %>
      <%end%>
    </div>
    <div class="col-md-2">
      Date: <%= Date.current.strftime("%d/%m/%y")%>
    </div>
    <div class="col-md-12">
      Son / Daughter of..............................................................................................................................................................
      <br>
      Address:
      <% unless @patient.address_1.blank? && @patient.address_2.blank? || @patient.city.blank? || @patient.state.blank? || @patient.pincode.nil? %>
          <%=  @patient.address_1 %>,
          <%=  @patient.address_2 %>,
          <%=  @patient.city %>,
          <%=  @patient.state %>,
          <%=  @patient.pincode %>
          <br>
      <%else%>
          ..............................................................................................................................................................................<br>
      <% end%>Tel:<%= @patient.mobilenumber%>
      <br/>
      <h3 style="font-size: 15px!important;">Procedure</h3>
      The knee is an important hinge joint and as it is weight-bearing can be prone to “wearing out”. Arthritis is painful and disabling and you and your surgeon may have decided that a half knee replacement may be your best option. Like the tread of car tyre, in some patients only one half of the knee becomes worn. If the rest of the knee is still healthy, your surgeon may suggest having just a half knee replacement. The benefits of this are that the half knee replacement is intended to keep the healthy knee structures, and is intended to restore normal knee motion and function. You may of course go on to have a total knee replacement in the future.
<br>
      A Unicompartmental knee replacement is a surgical procedure, in which the injured or damaged running surfaces of the knee are replaced with artificial parts which are secured to the bone.
      <br>
      ***please be aware that a surgeon other than your consultant but with adequate
      training or supervision may perform the operation***
      <h3 style="font-size: 15px!important;">Alternate Procedure</h3>
      Total knee replacements are usually performed on patients suffering from severe arthritis (although there are other reasons). Most patients are above the age of 55yrs.<br>
      Other alternatives include –  Losing weight,
      stopping strenuous exercises or work,
      Physiotherapy and gentle exercises,
      Medicines, such as anti-inflammatory drugs (e.g.
      ibuprofen or steroids),
      Using a stick or a crutch,
      Using a knee brace,
      Arthroscopy, Cartilage transplant,
      Total knee replacement<br>
      Some of the above are not appropriate if you want to regain as much physical activity as possible, but you should discuss all possibilities with your surgeon.
      <h3 style="font-size: 15px!important;">Risks</h3>
      As with all procedures, this carries some risks and complications.
      <h3 style="font-size: 15px!important;">COMMON(2-5%)</h3>
      Pain: the knee will be sore after the operation. If you are in pain, it’s
      important to tell staff so that medicines can be given. Pain will
      improve with time. In rare cases, the replaced knee may ache for many
      months. Rarely, pain will be a chronic problem. This  may be due to
      any of the other complications listed below, or sometimes, for no
      obvious reason.<br>
      Bleeding: A blood transfusion or iron tablets may occasionally be required.
      The bleeding may form a blood clot or large bruise within the knee
      joint which may become painful  require an operation to remove it.<br>
      Blood clots:   DVT (deep vein thrombosis) is a blood clot in a vein. The risks of
      developing a DVT are greater after any surgery (and especially bone).
      DVT can pass in the blood stream and be deposited in the lungs (a
      pulmonary embolism –  PE). This is a very serious condition which
      affects your breathing. Your surgeon may give you medication to try
      and limit the risk of DVTs from forming. Some centres will also ask
      you to wear stockings on your legs, while others may use foot pumps
      to keep blood circulating around the leg. Starting to walk and moving
      early is one of the best ways to prevent blood clots from forming.<br>
      Knee stiffness: may occur after the operation, especially if the knee is stiff before the
      op.  Manipulation of the joint (under general anaesthetic) may be
      necessary.<br>
      Conversion to a Total Knee replacement: if the other parts of the knee look
      arthritic, the consultant may decide to proceed to a total replacement.<br>
      Prosthesis wear: Modern operating techniques and new implants mean knee implants
      can last for many years. In some cases, they fail earlier. The reason is
      often unknown. The plastic bearing is most commonly worn away.
      <h3 style="font-size: 15px!important;">LESS COMMON(1-2%)</h3>
      Infection: You will be given antibiotics just before and after the operation and the
      procedure will also be performed in sterile conditions (theatre) with
      sterile equipment. Despite this infections still occur (1 to 2%). The
      wound site may become red, hot and painful. There may also be a
      discharge of fluid or pus. This is usually treated with antibiotics, and
      an operation to washout the joint may be necessary. In rare cases, the
      prostheses may be removed and replaced at a later date. The infection
      can sometimes lead to sepsis (blood infection) and strong antibiotics are required.

      <h3 style="font-size: 15px!important;">RARE(<1%)</h3>
      Pulmonary Embolism: this (a PE) is a blood clot that has travelled to the lungs. This
      can seriously affect your breathing and can be fatal.<br>
      Altered wound healing: the wound may become red, thickened and painful (keloid
      scar) especially in Afro-Caribbean.<br>
      Nerve Damage: efforts are made to prevent this, however damage to the small nerves
      around the knee is a risk. This may cause temporary or permanent
      altered sensation around the knee.<br>
      Bone Damage: the thigh bone may be broken when the prosthesis (false joint) is
      inserted. This may require fixation, either at time or at a later
      operation.<br>
      Blood vessel damage: the vessels at the back of the knee may rarely be damaged. This
      may require further surgery by the vascular surgeons.<br>
      Death: Death is a rare occurrence from joint surgery but may be due many of
      those listed above.
      <br>
      Signature / Thumb Impression of Patient/ Parent / Guardian: ...............................................................................................................................<br> Name: ........................................................ Relationship    ............................ Date  .............................................<br>
      Address:   .............................................................................................................................................................................<br>
      Phone (Off) .......................................(Res).......................................(Mob).......................................
      <br>
      I also give consent for my notes ⁯, any recorded data ⁯ or any discarded tissue ⁯ to be used in any studies and trials in the future<br>

      Signed .......................................... Date <%= Date.current%>
      <h3 style="font-size: 15px!important;">Declaration by Doctor</h3>
      I declare that I have explained the nature and consequences of the procedure to be performed, and discussed the risks that particularly concern the patient.
      <br>I have given the patient an opportunity to ask questions and I have answered these.<br>
      NAME of SURGEON (Capital letters)...................................................................................
      <br><br>

      SIGNATURE of SURGEON.......................................................................................................
      <br><br>

      POSITION.......................................................................................................................................
      <br>

      <br>

    </div>
    <div class="col-md-6">
      Witness 1<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>
    <div class="col-md-6">
      Witness 2<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>
    <br>
    <div class="col-md-12">
      <h3 style="font-size: 15px!important;">**Note</h3>
      If you have any complaints about your treatment or your care, you are always encouraged to discuss them with your surgical team.
      <br>
      However, if you wish to complain to the trust, each hospital will have a PALS or Patient Advise and Liaison Service. The head nurse on the ward or out patients’ clinic can direct you to them. The PALS team will treat all complaints seriously.
    </div>

  </div>

</div>

<br/>
<style>
    h2{
        text-align: center;
        position: relative;
        text-transform: uppercase;
        font-size: 13pt;
        color: #333333;
    }
</style>





