<div class="row mb20">
  <div class="col-md-12">
    <div class="col-md-12">
      <h2 style="font-size: 20px!important;">Manipulation under anaesthesia (MUA) of
        fractured (broken)........wrist +/-   K-wiring
        (DISTAL radius in the adult) </h2>
    </div>
    <hr>
    <div class="col-md-4">
      Name of Patient: <%=@patient.fullname.split(" ").map(&:capitalize).join(" ") %>
    </div>
    <div class="col-md-2">
      Sex/Age:   &nbsp;&nbsp;<%= @patient.gender %>/<%= @patient.age %>
    </div>
    <div class="col-md-4">
      <% patient_other_identifier =  PatientOtherIdentifier.find_by(patient_id: @patient.id.to_s)  %>
      <%if patient_other_identifier.try(:mr_no).present? %>
        MR No: <%=patient_other_identifier.mr_no%>
      <%else%>
        Patient ID: <%= PatientIdentifier.find_by(patient_id: @patient.id.to_s).try(:patient_org_id) %>
      <%end%>
    </div>
    <div class="col-md-2">
      Date: <%= Date.current.strftime("%d/%m/%y")%>
    </div>
    <div class="col-md-12">
      Son / Daughter of..............................................................................................................................................................
      <br>
      Address:
      <% unless @patient.address_1.blank? && @patient.address_2.blank? || @patient.city.blank? || @patient.state.blank? || @patient.pincode.nil? %>
          <%=  @patient.address_1 %>,
          <%=  @patient.address_2 %>,
          <%=  @patient.city %>,
          <%=  @patient.state %>,
          <%=  @patient.pincode %>
          <br>
      <%else%>
          ..............................................................................................................................................................................<br>
      <% end%>Tel:<%= @patient.mobilenumber%>
      <br/>
      <h3 style="font-size: 15px!important;">Procedure</h3>
      The wrist is an important joint. When it has broken, it is important to try and put back into a normal position (as much as is possible). Your surgeons therefore feel an operation may be necessary.<br>

      After they have positioned the bones, your surgeons may wish to secure them with thin wires called K-wires and then a plaster.
      <br>
      ***Please be aware that a surgeon other than the consultant, but with the adequate training or supervision may perform the operation ***
      <h3 style="font-size: 15px!important;">Alternate Procedure</h3>
      the fracture may be left in its current position in a plaster. If it is not in a good solid position, it may not heal as well. This will make it more likely to develop arthritis, pain and disability.<br>

      You may of course seek a second opinion.
      <h3 style="font-size: 15px!important;">Risks</h3>
      As with all procedures, this carries some risks and complications.
      <h3 style="font-size: 15px!important;">COMMON(2-5%)</h3>
      Pain: your wrist will be sore after the operation. Keeping the arm up (elevated)
      most of the time will help reduce the pain and swelling. We will also give
      you pain killers. If you need more, however, please ask a member of staff.
      <h3 style="font-size: 15px!important;">RARE(<1%)</h3>
      Infection: unfortunately, even though the surgeon inserts the wires in theatre where
      everything is sterile, and your skin is cleaned, there is still a small percent
      of patients who develop an infection. Most infections will present as
      redness, swelling or even a discharge of fluid or pus. A course of antibiotic
      may be needed. If the infection is severe, removal of wires or a further
      operation may be necessary.<br>
      Neurovascular damage: there are numerous blood vessels and nerves that run through
      and around the wrist. This means that they may be damaged by the wires
      as they are put in. This might lead to numbness or weakness of muscles.
      This may be temporary or in very rare cases, permanent.<br>
      Compartment syndrome: this is a build up pressure within the forearm and can cause
      pain, nerve damage, blood vessel damage and muscle damage. If this
      occurs, an emergency operation will have to be performed to prevent
      death of the hand/ forearm muscles.<br>
      Slipped position; Despite manipulation and cast application, the fracture may still
      slip (even after K-wiring has been performed). Further operation may be
      necessary.<br>
      Removal of wires- The wires will usually be removed after 3 to 6 weeks, once the
      break has set. This can usually be done in a clinic without any anaesthesia.
      It doesn’t hurt but feel uncomfortable and strange.<br>
      Arthritis- and stiffness at the wrist or elbow may occur despite adequate reduction.
      Arthritis may be more common if the fracture involves the joint.<br>
      CRP syndrome: this is pain, swelling or stiffness around the fracture site and
      may occur even months or years after the original injury.<br>
      Swelling: it can take up to 6 months for the swelling in the wrist to go down.<br>
      Stiffenss: the wrist will almost certainly be stiff when you come out of the cast. You may need physiotherapy or occupational therapy to help regain the
      movement. It’s important that you move your fingers and elbow (if free)
      even when they are in the cast.
      <h3 style="font-size: 15px!important;">Confirmation of consent :</h3>
      I have read/ understand the procedure, risks and complications. I have asked any questions and raised any immediate concerns I might have. I understand another surgeon other than my consultant may perform the operation.(although they will have adequate training/ supervision).<br>
      <b>I understand</b> that I will have the opportunity to discuss the details of anaesthesia with an anaesthetist before the procedure<br>
      <b>I understand</b> that any procedure in addition to those described on this form will only be carried out if it is necessary to save my life or to prevent serious harm to my health.
      <br>
      Signature / Thumb Impression of Patient/ Parent / Guardian: ...............................................................................................................................<br> Name: ........................................................ Relationship    ............................ Date  .............................................<br>
      Address:   .............................................................................................................................................................................<br>
      Phone (Off) .......................................(Res).......................................(Mob).......................................
      <br>
      I also give consent for my notes ⁯, any recorded data ⁯ or any discarded tissue ⁯ to be used in any studies and trials in the future<br>

      Signed .......................................... Date <%= Date.current%>
      <h3 style="font-size: 15px!important;">Declaration by Doctor</h3>
      I declare that I have explained the nature and consequences of the procedure to be performed, and discussed the risks that particularly concern the patient.
      <br>I have given the patient an opportunity to ask questions and I have answered these.<br>
      NAME of SURGEON (Capital letters)...................................................................................
      <br><br>

      SIGNATURE of SURGEON.......................................................................................................
      <br><br>

      POSITION.......................................................................................................................................
      <br>

      <br>

    </div>
    <div class="col-md-6">
      Witness 1<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>
    <div class="col-md-6">
      Witness 2<br>
      Signature:  ................................................<br>
      Name: ......................................................<br>
      Address:  ..................................................<br>
      Tel:   .........................................................
    </div>
    <br>
    <div class="col-md-12">
      <h3 style="font-size: 15px!important;">**Note</h3>
      If you have any complaints about your treatment or your care, you are always encouraged to discuss them with your surgical team.
      <br>
      However, if you wish to complain to the trust, each hospital will have a PALS or Patient Advise and Liaison Service. The head nurse on the ward or out patients’ clinic can direct you to them. The PALS team will treat all complaints seriously.
    </div>

  </div>

</div>

<br/>

<style>
    h2{
        text-align: center;
        position: relative;
        text-transform: uppercase;
        font-size: 13pt;
        color: #333333;
    }
</style>




