<% if lab_test.try(:panel_records).size > 0%>
    <div class="row mb10">
      <div class="col-md-4" style="margin-left: 3%;text-decoration: underline;font-size: x-large;">
        <%= lab_test.investigation_name %>
      </div>
    </div>
    <% i = 0 %>
    <%= f.fields_for :panel_records do |panel_test| %>
        <div class="panel-body mb10">
          <div class="col-md-4 text-center">
            <%#= lab_test.panel_records[i].investigation_name %>
            <%= panel_test.text_field :investigation_name,value: lab_test.panel_records[i].investigation_name,class: "form-control",:readonly => true%>
          </div>

          <div class="col-md-4 text-center">
            <%= panel_test.text_field :investigation_val,class: "form-control"%>
          </div>

          <div class="col-md-4 text-center">
            <%#= lab_test.panel_records[i].normal_range %>
            <%= panel_test.text_field :normal_range,value: lab_test.panel_records[i].normal_range,class: "form-control", :readonly => true%>
          </div>
        </div>
        <% i+=1 %>
    <% end %>
<%else%>
    <%= render partial: 'ehr_investigation/records/common_form_radio',locals: {lab_test: lab_test,f: f} %>
<% end %>