<div class="row mb10">
  <div class="col-md-12">
    <div class="row">
      <div class="summary-line-border"></div>
      <div class="col-md-5 text-left"><strong>INVESTIGATION </strong></div>
      <div class="col-md-7 text-center"><strong>Findings</strong> </div>
      <div class="summary-line-border" style="margin-top: 20px;"></div>
    </div>
  </div>
  <div class="col-md-12">
    <% if @ehr_investigation_record.try(:panel_records).size > 0  %>
        <strong><%= @ehr_investigation_record.investigation_name %></strong>
        <%@ehr_investigation_record.panel_records.each do |panel| %>
            <div class="col-md-12">
              <div class="row mb10">
                <div class="col-md-4 text-left"><%= panel.investigation_name %> </div>
                <div class="col-md-1 text-center">: </div>
                <div class="col-md-7 text-center"><strong><%= panel.investigation_val %></strong> </div>
                <div class="col-md-4 text-right"><%= panel.normal_range %> </div>
              </div>
            </div>
        <% end %>
    <%else%>
        <div class="col-md-12">
          <div class="row mb10">
            <div class="col-md-4 text-left"><%= @ehr_investigation_record.investigation_name %> </div>
            <div class="col-md-1 text-center">: </div>
            <div class="col-md-7 text-center"><strong><%= @ehr_investigation_record.investigation_val %></strong> </div>
            <!--<div class="col-md-4 text-right"><%#=  @ehr_investigation_record.normal_range %> </div>-->
          </div>
          <% if !@ehr_investigation_record.investigation_comment.blank? %>
              <div class="row mb10">
                <div class="col-md-4 text-left">Investigation Remark</div>
                <div class="col-md-1 text-center">: </div>
                <div class="col-md-7 text-center"><strong><%=  @ehr_investigation_record.investigation_comment %></strong> </div>
              </div>
          <% end  %>
        </div>
    <% end %>
  </div>

</div>