<div class="col-md-4">
  <div class="col-md-12"><b>Counsellor Summary:</b></div>
  <div class="counsellor_record" style="padding-left: 8px;">
    <% if @counsellor_record %>
      <%= link_to counsellor_record_path(id: @counsellor_record.id.to_s, patient_id: @workflow.patient_id, appointment_id: @workflow.appointment_id, view_from: 'tpa_department'), id: 'edit_counsellor_record', data: {remote: true, toggle: "modal", target: "#counsellor-modal" }, class: 'btn btn-primary btn-xs' do %>Summary (<%= @counsellor_record.created_at.strftime('%d/%m/%y') %>)<% end %>
    <% else %> <b style="font-style: italic;">Note not created.</b>
    <% end %>
  </div>
</div>

<div class="col-md-3">
  <% if @workflow.state != 'workflow_ended' %>
    <% if ['pre_auth', 'pre_auth_approved','pre_auth_query','pre_auth_declined','pre_auth_final_approval','tpa_final_payment','tpa_payment_received'].include?@workflow.state %>
      <% if @insurance_details %>
        <div class="col-md-12 text-left" style="margin-left: -8px;"><b>Pre Auth Form :</b></div>
        <%= link_to edit_tpa_insurance_pre_authorization_form_path(:workflow_id => @patient_data.id, :data_class => @patient_data.class, :id => @insurance_details.id), :class => "btn btn-primary btn-xs", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#insurance-modal'} do %><i class="fa fa-file-code-o" aria-hidden="true"></i>&nbsp; TPA PREAUTH FORM <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="col-md-5 text-right">
  <div class="col-md-12 text-center" style="margin-left: 7px;"><b>TPA Notes:</b></div>   
  <div class="btn-group" style="margin-bottom: 0px;">
    <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-plus"></i> Create new&nbsp;<span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><%= link_to new_tpa_insurance_note_path(:tpa_insurance_workflow_id => @workflow.id), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#insurance-modal'}, class: '' do %><i class="fa fa-plus"></i> Create new<% end %></li>
      
      <!-- previous TPA_notes -->
      <% if @tpa_notes.size > 0 %>
        <li class="old_invoice_ss"><span>Previous TPA Notes</span></li>
        <% @tpa_notes.each do |past_tpa_note| %>
          <li style="text-align:center;">
            <%= link_to edit_tpa_insurance_note_path(:id => past_tpa_note.id, :tpa_insurance_workflow_id => past_tpa_note.tpa_insurance_workflow_id), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#insurance-modal'} do %><%= past_tpa_note.created_at.strftime("%d %b'%y at %I:%M %p") %><% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  
    <%= link_to tpa_insurance_notes_all_tpa_notes_path(:tpa_insurance_workflow_id => @workflow.id), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#insurance-modal'}, class: 'btn btn-xs btn-primary', :style => 'margin-left: -3px;' do %>All TPA Notes<% end %>
  </div>    
</div>