<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">End Process Form</h4>
    </div>

    <%= form_tag('/tpa/end_tpa_process_save', method: 'post', :remote => true) do %>
      <div class="modal-body">
        <%= hidden_field_tag "tpa_workflow_id", @tpa_workflow_id %>
         <div class="reason_section">
          <span><b style="color:#000;padding-bottom: 7px;">Enter Reason: </b></span>
          <%= text_area_tag "end_process_reason", "",  :rows => "7" ,class: "form-control" %>
        </div>
        <span style="color: red;font-size: 13px;"><b>This will convert Patient from Cashless to Non - Cashless</b></span>

      </div>
      <div class="modal-footer">
        <%= submit_tag "Submit",{:class => 'btn btn-primary', :onclick => ''}%>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div> 


