// Window Size
var window_height = $(window).height() - 50
$(".sidebar_area").css('height',window_height)
$(".tpa_main_content").css('height',window_height)

$(window).resize(function() {
  var window_height = $(window).height() - 50
  $(".sidebar_area").css('height',window_height)
  $(".tpa_main_content").css('height',window_height)
})

// To Refresh Admission Management Page
function refresh_tpa_management(active_tab, tpa_id, current_date="<%= @current_date %>"){
  $.ajax({
    type: "GET",
    dataType: "script",
    data: {
      current_date: current_date,
      active_tab: active_tab,
      tpa_id: tpa_id
    },
    url: "/tpa/insurance_management"
  })
}

$(document).ready(function(){

  $(".datepicker-for-btn").datepicker(); 
  $('#tpa-datepicker-inline').datepicker({
    dateFormat: "dd/mm/yy", 
    showOn: "button",
    buttonText: '<i class="fa fa-calendar"></i>',
    onSelect: function (dateText,obj) {
      jQuery.ajax({
        type: "GET",
        dataType: "script",          
        url: '/tpa/insurance_management?current_date='+moment(dateText, "DD/MM/YYYY").format('DD-MMMM-YYYY')+'&active_tab=' + $(".tab_active").find(".active").attr('data-tab-id'),
      })
      $.datepicker.setDefaults({"defaultDate": dateText});
    }
  })
  $(".ui-datepicker-trigger").addClass("btn btn-danger calender-btn navbar-btn navbar-btn-calender navbar-btn-hover")

  $("#btn-tpa-backdate").on('click',function(){
    // var doctor_id = $("#sidebar_doctors_tpa .active").find('a').attr('data-doctor-id')
    var active_tab = $(".tab_active").find(".active").attr('data-tab-id')
    $.ajax({
      type: "GET",
      dataType: "script",
      data: {
        current_date: "<%= @current_date.yesterday %>",
        active_tab: active_tab
      },
      url: "/tpa/insurance_management"
    })
  })

  $("#btn-tpa-frontdate").on('click',function(){
    // var doctor_id = $("#sidebar_doctors_tpa .active").find('a').attr('data-doctor-id')
    var active_tab = $(".tab_active").find(".active").attr('data-tab-id')
    $.ajax({
      type: "GET",
      dataType: "script",
      data: {
        current_date: "<%= @current_date.tomorrow %>",
        active_tab: active_tab
      },
      url: "/tpa/insurance_management"
    })
  })

  $("#btn-tpa-today").on('click',function(){
    // var doctor_id = $("#sidebar_doctors_tpa .active").find('a').attr('data-doctor-id')
    var active_tab = $(".tab_active").find(".active").attr('data-tab-id')
    $.ajax({
      type: "GET",
      dataType: "script",
      data: {
        current_date: "<%= Date.current %>",
        active_tab: active_tab
      },
      url: "/tpa/insurance_management"
    })
  })

  $("#btn-tpa-management-refresh").on('click', function(){
    var active_tab = $(".tab_active").find(".active").attr('data-tab-id')
    var tpa_id = $(".tpa_today").find('.active').find('.active-tpa').attr('data-tpa-id')
    refresh_tpa_management(active_tab, tpa_id, "<%= @current_date %>")
  })

  // $("#search_tpa").autocomplete({
  //   minLength: 4,
  //   source: function(request, response) {
  //     $.ajax({
  //       dataType: "json",
  //       type : 'get',
  //       url: '/prescriptions/search_patient',
  //       data: {
  //         current_date: "<%= @current_date %>",
  //         q: $( "#search_tpa").val().replace(/[^\w\s]/gi, '').toLowerCase(),
  //         filter: $(".search-filter.dropdown-toggle").attr('data-active-filter'),
  //         type: 'tpa'
  //       },
  //       success: function(data) {
  //         if(data.length == 0){
  //           $('.empty-result').text('** No Matching Prescription found').css('color','red')
  //         } else {
  //           $('.empty-result').text('')
  //         }
  //         items = [];
  //         x = [];
  //         for (i = 0, len = data.length; i < len; i++) {
  //             items.push(data[i].fullname);
  //             x[data[i].fullname] = data[i].id;
  //         }
  //         response(data)
  //       },
  //       error: function(data) {
  //       }
  //     })
  //   },
  //   create: function () {
  //     $(this).data('ui-autocomplete')._renderItem = function (ul, patient) {
  //     $(ul).css("border","1px solid #000").css("border-top","none").css('max-height','50%').css('overflow','auto')
  //     return $('<li>')
  //       .append('<hr style="margin:0 0 5px;padding:0;border-color:#354670;"><a style="color:#428bca"><b><span>' + patient.label + '</span><span class="badge badge-primary pull-right">' + patient.patient_display_id + '</span><br/><span class="">' + patient.mobile_number + '</span><span class="badge badge-warning pull-right">'+ patient.prescription_created_on + '</span><span class="badge badge-danger pull-right">' + patient.patient_mrn + '</span></b></a>')
  //       .appendTo(ul);
  //     }
  //   },
  //   select: function( event, ui ) {
  //     if(ui.item.filter == "Returning"){
  //       $(".tpa_today").find('.active').find('.active-tpa').removeClass('active-tpa')
  //       $.ajax({
  //         type: "GET",
  //         data: {
  //           tpa_id:  ui.item.prescription_id,
  //           current_date:  "<%= @current_date %>"
  //         },
  //         url: "/prescriptions/tpa_details",
  //       })
  //     } else {
  //       $(".tpa_today").find('.active').find("[data-tpa-id='" + ui.item['prescription_id'] + "']").addClass('active-tpa').click()
  //     }
  //   },
  // })

  $(".dropdown-options").on('click',function(e){
    e.preventDefault();
    var button_html = $(this).text()[0] + " <span class='caret'></span>"
    $(".search-filter.dropdown-toggle").html(button_html);
    $(".search-filter.dropdown-toggle").attr('data-active-filter', $(this).attr('data-filter-id'));
    $("#search_tpa").val("")
  });
  
})