<%= render partial: '/tpa/common_css.html.erb' %>
<div class="col-xs-6 col-lg-6 sidebar_area" style="background: white;">
  <div id="toolbar_area">
    <div id="toolbar">
      <nav class="navbar navbar-secondary navbar-inverse navbar-fixed-top" style="margin-top: 50px; left: auto; right: auto; width: 50%;z-index:100;">
        <div class="container-fluid" style="padding-right:0;border-right: 1px solid #aaa;">
          <div class="col-lg-1 col-xs-1-shared" style="padding-left:initial">
            <div class="navbar-header" style="margin-top: 7px;">
              <button class="btn btn-link btn-xs" id='btn-tpa-management-refresh'><i class="fa fa-refresh" style="color:#fff;"></i></button>
            </div>
          </div>
          
          <div class="col-xs-1 col-lg-1 col-sm-1 patient-search">
          </div>
          
          <div class="col-xs-2 col-lg-3 text-center btn-today">
            <button class="btn btn-danger navbar-btn navbar-btn-hover ps" id="btn-tpa-today" style="padding-left: 8.4px !important;padding-right: 8.4px !important;background:transparent;" <%= 'disabled="disabled"' if @current_date == Date.current %>> Today</button>
          </div>
          <div class="col-xs-3 col-lg-4 text-center navigate-date" style="padding:0px;">
            <button class="btn btn-success  navbar-btn navbar-btn-hover" id="btn-tpa-backdate" style="padding-left: 8.4px !important;padding-right: 8.4px !important;border: none;margin-top:10px;font-size: 14px;padding-left:15px;"> <i class="fa fa-chevron-left"></i></button>
            <span style="font-size:14px;"><%= @current_date.strftime("%b %d, %Y") %></span>
            <button class="btn btn-success  navbar-btn navbar-btn-hover" id="btn-tpa-frontdate" style="padding-left: 8.4px !important;padding-right: 8.4px !important;border: none;margin-top:10px;font-size: 14px;padding-left:15px;"> <i class="fa fa-chevron-right"></i></button>
          </div>
          <div class="col-xs-2 col-lg-3 row text-right btn-calendar-date">
            <input type="text" id="tpa-datepicker-inline" style="display: none;">
            <!-- Logic in tpa_management.js.erb -->
          </div>
        </div>
      </nav>
    </div>
  </div><!-- #toolbar_area -->
  <div class="sidebar_area_content">
    <div class="col-xs-12 sidebar_pane" id="sidebar_summary">
      <div class="sidebar-summary-tpa">
        <%= render partial: 'tpa/insurance/sidebar_summary.html.erb' %>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-6 col-lg-6 tpa_main_content" style="padding:0px;">
  <%= render partial: 'tpa/insurance/tpa_main_content.html.erb' %>
</div>
<script type="text/javascript">
  <%= render partial: 'tpa/insurance/insurance_management.js.erb' %>
</script>