<div class="col-md-3 no_padding text-left"><b style="margin-left: 10px;">Insurance Actions:</b></div>
  <div class="col-md-9 no_padding">
   
    <% if @workflow.admission_id.present? && @workflow.state == 'tpa_final_payment' %>
      <% if @courier_save.nil? %>
        <%= link_to new_inpatient_courier_path(admission_id: @workflow.admission_id ,:tpa_workflow_id => @workflow.id ,:patient_id => @workflow.patient_id), id: "courier-btn", class: "btn btn-info btn-sm", style:'padding: 2px 10px;', :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#insurance-modal'} do %> Courier Details <% end %>
      <% else %>
        <%= link_to inpatient_courier_path(id: @courier_save.id), id: "courier-btn", class: "btn btn-info btn-xs", style:'padding: 2px 10px;', :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#insurance-modal'} do %> Show Courier Details <% end %>
      <% end %>
    <% end %>

    <div class="btn-group" style="margin-bottom: 0px;">
      <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown">
        Estimates &nbsp;<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to new_invoice_insurance_estimate_path(:workflow_id => @workflow.id ,:patient_id => @workflow.patient_id), class: "btn btn-xs", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#insurance-modal'} do %> Create New<% end %></li>
        
        <!-- Old Receipts -->
        <% if @past_estimate_receipts.size > 0 %>
          <li class="old_invoice_ss"><span>Previous Estimates</span></li>
          <% @past_estimate_receipts.newest_invoice_first.each do |past_estimate_receipt| %>
            <li style="text-align:center;">
              <%= link_to edit_invoice_insurance_estimate_path(:id => past_estimate_receipt.id), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#insurance-modal'} do %><%= past_estimate_receipt.created_at.strftime("%d %b'%y at %I:%M %p") %><% end %>
            </li>
          <% end %> 
        <% end %>
        <!-- All Receipts End -->
      </ul>
    </div>
   
    <!-- Upload Paper Record -->
    <div class="btn-group" style="margin-bottom: 0px;">
      <button data-toggle="dropdown" title="Insurance Docs" id="upload_paper_<%= @insurance_details.try(:id).to_s %>" class="dropdown-toggle btn btn-xs btn-default">
        Insurance Uploads</b>
      </button>
      <ul role="menu" class="dropdown-menu pull-right">
        <li><%= link_to paperrecords_upload_patient_asset_path(:patientid => @workflow.patient_id, :category => "insurance"),:target => '_blank' do %> <i class="glyphicon glyphicon-cloud-upload"></i> Insurance Uploads <% end %></li>
        <% @insurance_assets = PatientSummaryAssetUpload.where(parent_folder_id: "560cc6f72b2e26135d000004", patient_id: @workflow.patient_id, is_deleted: false) %>
        <% if @insurance_assets.count > 0 %>
          <li class="old_invoice_ss" style="text-align: center;font-size: 10px;opacity: 0.6; border-bottom: 1px solid #eee;border-top: 1px solid #eee;margin-top: 5px;"><span>Uploaded Documents</span></li>
          <% @insurance_assets.each do |psau| %>
            <li style="text-align:center;"><a href=<%= psau.asset_path.url %> target="_blank"><%= psau.name %></a></li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <!-- Upload Paper Record End -->
  </div>