<% if tab == 'my_queue' && @admission_list.count > 0 %>
  <% @admission_list.each do |admission| %>
    <div class='row no_margin summary_tpa summary_tpa_clickable' data-tpa-id='<%= admission.id.to_s %>' data_patient_class='<%= admission.class %>'>
      <div class='no_padding text-left patient_name col-sm-4 overflow' title="<%= admission.patient_name.to_s.upcase %>">
        <span><b><%= admission.patient_name.upcase %></b></span>
      </div>
      <div class='col-sm-3 no_padding text-center overflow'>
        <% if admission.tpa_state.present? %>
          <span class="label label-primary" title="Insurance Status - <%= admission.tpa_state.split("_").join(" ").titleize %>">
            <%= admission.tpa_state.split("_").join(" ").titleize %>
          </span>
        <% end %>
      </div>
      <div class='col-sm-2 no_padding text-center overflow'>
        <span title="Admission Date"><%= admission.admission_date.try(:strftime,"%d %b'%y") %></span>
      </div>
      <div class='col-sm-3 no_padding text-center' style="font-size: 13px;overflow: hidden;white-space: nowrap; text-overflow: ellipsis;">
        <span title="Admission Doctor"><%= admission.admitting_doctor %></span>
      </div>
    </div>
  <% end %>
<% end %>

<% if tab == 'my_queue' && patient_list.count > 0 %>
<% end %>
<% patient_list.try(:each) do |patient| %>
  <div class='row no_margin summary_tpa summary_tpa_clickable' data-tpa-id='<%= patient.id.to_s %>' data_patient_class='<%=patient.class%>'>
    <div class='no_padding text-left patient_name col-sm-4 overflow' title="<%= patient.patient_name.to_s.upcase %>">
      <span><b><%= patient.patient_name.upcase %></b></span>
    </div>
    <% if tab == 'my_queue' %>
      <div class='col-sm-3 no_padding text-center overflow'>
        <% if patient.tpa_state.present? %>
          <span class="label label-primary" title="Insurance Status - <%= patient.tpa_state.split("_").join(" ").titleize %>">
            <%= patient.tpa_state.split("_").join(" ").titleize %>
          </span>
        <% end %>
      </div>
      <% if patient.tpa_admission_id.present? %>
        <div class='col-sm-2 no_padding text-center overflow'>
          <span title="Admission Date"><%= patient.tpa_admission_date.try(:strftime,"%d %b'%y") %></span>
        </div>
        <div class='col-sm-3 no_padding text-center' style="font-size: 13px;overflow: hidden;white-space: nowrap; text-overflow: ellipsis;">
          <span title="Admission Doctor"><%= patient.tpa_admission_doctor %></span>
        </div>
      <% end %>
    <% else %>
      <% if patient.state.present? %>
        <% if patient.state == 'workflow_deleted' %>
          <% label = 'Admission Deleted' %>
          <% label_color = 'label-danger' %>
        <% else %>
          <% label = patient.state.split("_").join(" ").titleize %>
          <% label_color = 'label-primary' %>
        <% end %>
        <div class='col-sm-3 no_padding text-center overflow'>
          <span class="label <%= label_color %>" title="Insurance Status - <%= label %>"><%= label %></span>
        </div>
      <% end %>
      <% if patient.admission_id.present? %>
        <div class='col-sm-2 no_padding text-center overflow'>
          <span title="Admission Date"><%= patient.tpa_admission_date.try(:strftime,"%d %b'%y") %></span>
        </div>
        <div class='col-sm-3 no_padding text-center' style="font-size: 13px;overflow: hidden;white-space: nowrap; text-overflow: ellipsis;">
          <span title="Admission Doctor"><%= patient.tpa_admission_doctor %></span>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<style type="text/css">
  .overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
</style>