<% if @tpa_workflow_present %>
  <% if @workflow.state != 'workflow_ended' %>
    <% if @workflow.state == 'initiated' %>
      <% if @admission || @unlinked_admission %>
        <%= link_to tpa_insurance_pre_authorization_form_tpa_details_form_path(:tpa_workflow_id => @workflow.id, :patient_id => @workflow.patient_id, :admission_id => @admission.try(:id) || @unlinked_admission.try(:id)), :class => "btn btn-primary btn-xs", :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#insurance-modal'} do %><i class="fa fa-file-code-o" aria-hidden="true"></i>&nbsp; TPA Details Form <% end %>
      <% else %>
        <%= link_to new_admission_path(patient_id: @workflow.patient_id, date: Date.current, time: Time.current, direct: true), class: "btn btn-primary btn-xs add_admission_btn", :data => {:remote => true, 'toggle' => "modal", 'target' => '#admission-modal'} do %><i class="fa fa-file-code-o" aria-hidden="true"></i>&nbsp; TPA Details Form <% end %>  
      <% end %>

      <% if @insurance_details %>
        <a href='#' class="btn btn-xs btn-primary tpa_state_button" data-id="<%= @workflow.id %>" data-value="pre_auth" data-disable-with="Please Wait...">Pre Auth</a>  
      <% end %>

    <% elsif @workflow.state =='pre_auth' %>
      <a href='#' class="btn btn-xs btn-info tpa_state_button" data-id="<%= @workflow.id %>" data-value="pre_auth_query" data-disable-with="Please Wait...">Pre Auth Query</a>
      
    <% elsif @workflow.state =='pre_auth_final_approval' %>
      <a href='#' class="btn btn-xs btn-info tpa_state_button" data-id="<%= @workflow.id %>" data-value="tpa_final_payment" data-disable-with="Please Wait...">Final payment From TPA</a>   
    
    <% elsif @workflow.state =='pre_auth_approved' %>
      <a href='#' class="btn btn-xs btn-info tpa_state_button" data-id="<%= @workflow.id %>" data-value="pre_auth_final_approval" data-disable-with="Please Wait...">Final Approval</a>

    <% elsif @workflow.state =='tpa_final_payment' %>
      <a href='#' class="btn btn-xs btn-primary tpa_state_button" data-id="<%= @workflow.id %>" data-value="tpa_payment_received" data-disable-with="Please Wait...">TPA Payment Received</a>
    <% end %>

    <% if ['pre_auth', 'pre_auth_query'].include?@workflow.state %>
      <a href='#' class="btn btn-xs btn-success tpa_state_button" data-id="<%= @workflow.id %>" data-value="pre_auth_approved" data-disable-with="Please Wait...">Pre Auth Approved</a>
      <a href='#' class="btn btn-xs btn-warning tpa_state_button" data-id="<%= @workflow.id %>" data-value="pre_auth_declined" data-disable-with="Please Wait...">Pre Auth Denied</a>
    <% end %>

    <% if ['initiated','pre_auth','pre_auth_approved','pre_auth_query','pre_auth_declined'].include?@workflow.state %>
      <!-- <a href='#' class="btn btn-xs btn-danger tpa_state_button" data-id="<%= @workflow.id %>" data-value="tpa_process_ended" data-disable-with="Please Wait..."></a> -->
      
      <%= link_to tpa_end_tpa_process_form_path(:tpa_workflow_id => @workflow.id), :data => {:remote => true, 'toggle' =>  "modal", 'target' => '#insurance-modal'}, class: 'btn  btn-xs btn-danger' do %>End TPA Process<% end %>

    <% end %>

    <% if !['initiated'].include?(@workflow.state) && @tpa_workflow_timeline.count > 0 %>
      <!-- <a href='#' class="btn btn-xs btn-success tpa_state_button" data-id="<%= @workflow.id %>" data-value="undo" data-disable-with="Please Wait...">Undo</a> -->
    <% end %>

  <% end %>
<% end %>
