<input type="hidden" name="none" id="tpa_refresher" value="<%= @patient_data.id.to_s %>">
<div class="row no_margin" style="padding: 10px 5px;">
  <div class="row no_margin no_padding" style="padding: 5px;">
    <%= render partial: 'tpa/insurance/patient_details.html.erb' %>
  </div>
  <% if false && @clinical_workflow_present %>
    <div class="row no_margin no_padding" style="padding: 5px;">
      <%= render partial: 'tpa/insurance/clinical_workflow_actions.html.erb' %>
    </div>
    <div class="row no_margin no_padding" style="padding: 5px;">
      <%= render partial: 'tpa/insurance/clinical_workflow_send.html.erb' %>
    </div>
    <div class="row no_margin no_padding" style="padding: 5px;">
      <%= render partial: 'tpa/insurance/clinical_workflow_timeline.html.erb' %>
    </div>
  <% end %>
  <!-- @show_tpa_data == true , all tabs except my-queue tab -->
  <% if @current_facility.show_finances %>
    <% if params[:patient_class] == 'AdmissionListView' || @patient_data.try(:admission_id).present? %>
      <hr style="border: 0.5 dotted #ababab; margin: 10px;">
      <div class="row no_margin no_padding" style="padding: 1px;">
        <%= render partial: 'tpa/insurance/tpa_patient_invoices_ipd.html.erb' %>
      </div>
    <% end %>
  <% end %>
  <% if current_facility.ipd_clinical_workflow && params[:patient_class] == 'AdmissionListView' && @workflow.present? %>
    <hr style="border: 0.5 dotted #ababab; margin: 10px;">
    <div class="row no_margin no_padding" style="padding: 5px;">
      <%= render partial: 'inpatients/admission/admission_details/workflow_actions.html.erb' %>
    </div>
    <div class="row no_margin no_padding" style="padding: 5px;">
      <%= render partial: 'inpatients/admission/admission_details/workflow_states.html.erb' %>
    </div>
  <% end %>

  <% if @workflow.present? %>
    <hr style="border: 0.5 dotted #ababab;margin-top: -1px;padding-bottom: 1px;">
    <div class="row no_margin no_padding" style="padding: 5px;">
      <%= render partial: 'tpa/insurance/tpa_workflow_timeline_actions.html.erb' %>
    </div>

    <hr style="border: 0.5 dotted #ababab;">
    <div class="row no_margin no_padding">
      <%= render partial: 'tpa/insurance/counsellor_record_tpa_notes.html.erb' %>
    </div>
  <% end %>

  <% if @show_tpa_data == false && !@workflow.present? %>
    <div class="create_tpa_workflow text-right" style="margin-right:10px;">
      <hr style="border: 0.5 dotted #ababab;">
      <b style="font-style: italic;margin-right: 15px;">To Initiate TPA - process, kindly click on start button</b>
      <%= link_to tpa_start_tpa_process_path(workflow_id: @patient_data.id, model_class: params[:patient_class]), class: 'btn btn-primary btn-xs start_tpa_btn', id: 'start_tpa_btn', data: { remote: true } do %>
        <span><i class="fa fa-hourglass-start"></i> Start TPA Process</span>
      <% end %>
    </div>
  <% end %>

  <% if @workflow.present? && @workflow.try(:admission_id).present? %>
    <div class="row no_margin no_padding text-right" style="padding-right:15px;margin-bottom:-3px;">
      <hr style="border: 0.5 dotted #ababab;">
      <% if @admission.present? %>
        <b style="font-style: italic;margin-right: 15px;">Patient is linked with Admission of <%= @admission_list_view.admission_date.strftime('%d-%m-%Y') %> by Dr. <%= @admission_list_view.admitting_doctor %> </b>
        <a href="" class="btn btn-primary btn-xs pull-right link-to-admission" style="margin-top:-5px;margin-left:5px;" data-admission-date="<%= @admission_list_view.admission_date %>" data-admission-id="<%= @admission_list_view.admission_id %>" data-admission-state="<%= @admission_list_view.current_state %>">Go to Admission</a>
      <% end %>
    </div>
  <% elsif @workflow.present? && !['workflow_deleted', 'tpa_process_ended'].include?(@workflow.state) %>
    <div class="row no_margin no_padding text-center" style="padding-right:15px;margin-bottom:-3px;">
      <hr style="border: 0.5 dotted #ababab;">
      <b style="font-style: italic;color: red">TPA Panel is not linked with any Admission, kindly fill above TPA Details Form to Link.</b>
    </div>
  <% end %>

  <!-- space for tpa-notes -->
  <% if @workflow.present? %>
    <div class="row no_margin yes_padding">
      <hr style="border: 0.5 dotted #ababab;">
      <%= render partial: 'tpa/insurance/insurance_actions.html.erb' %>
    </div>
  <% end %>

  <% if @current_facility.show_finances && params[:patient_class] == 'OpdClinicalWorkflow' %>
    <hr>
    <div class="row no_margin no_padding" style="padding: 1px;">
      <div class="col-md-12">
        <%= render partial: 'outpatients/appointment/appointment_details/tab_details/bills/index.html.erb', locals: { tab_id: nil } %>
      </div>
    </div>
  <% end %>

  <div class="row no_margin no_padding" style="padding-right:15px;">
    <hr style="border: 0.5 dotted #ababab;">
    <%= render partial: 'tpa/insurance/counselor_doctor_notes.html.erb' %>
  </div>

</div>

<script type="text/javascript">
  <%= render partial: 'tpa/insurance/tpa_details_section.js.erb' %>
</script>
