<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog" style="width: 60%">
  <div class="modal-content">
    <%= form_for @vendor, remote: true, html: { id: 'inventory_vendor_form' } do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h5 class="modal-title" style="color: #1E90FF">Add New Vendor</h5>
      </div>
      <div class="modal-body window-body">
        <% if @store_id.present? %>
          <%= f.hidden_field :store_id, { value: @store_id } %>
        <% end %>
        <%= render partial: 'form.html.erb', locals: { f: f } %>
      </div>
      <div class="modal-footer window-footer">
        <button type="button" class="btn btn-default cancel-inventory-vendor" data-dismiss="modal">Cancel</button>
        <%= f.submit 'Update Changes', { class: 'btn btn-success', onclick: 'validate_inventory_vendor_form()' } %>
      </div>
    <% end %>
  </div>
</div>
