<div class="row">
  <div class="col-sm-12 text-center" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;"><strong>Vendor Information</strong></div>
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-sm-6 mb5">
    <strong>Name</strong><br>
    <%= f.text_field :name, { class: 'form-control p7_10 fullname', placeholder: 'Fullname' } %>
  </div>

  <div class="col-sm-6 mb15">
    <strong>Vendor Type</strong><br>
    <%= f.select :vendor_group_id, @vendor_groups.pluck(:name, :id), { include_blank: true }, { class: 'form-control p7_10 vendor_group', style: 'width: 100%' } %>
    <%= f.hidden_field :vendor_group_name, { value: '', class: 'vendor_group_name' } %>
  </div>

  <div class="col-sm-6 mb5">
    <strong>Company Name</strong><br>
    <%= f.text_field :company_name, { class: 'form-control p7_10 company_name', placeholder: 'Company name' } %>
  </div>

  <div class="col-sm-6 mb5">
    <strong>Contact Person</strong><br>
    <%= f.text_field :contact_person, { class: 'form-control p7_10 contact_person', placeholder: 'Contact Person' } %>
  </div>

  <div class="col-sm-6 mb5">
    <strong>Mobile Number</strong><br>
    <%= f.text_field :mobile_number, { class: 'form-control p7_10 mobilenumber', placeholder: 'Mobile No.', minlength: 6, maxlength: 10, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
  </div>
  <div class="col-sm-6 mb5">
    <strong>Email</strong><br>
    <%= f.text_field :email, { class: 'form-control p7_10 email', placeholder: 'Email' } %>
  </div>

  <div class="col-sm-6 mb5">
    <strong>Secondary Mobile Number</strong><br>
    <%= f.text_field :secondary_mobile_number, { class: 'form-control p7_10 secondarymobilenumber', placeholder: 'Secondary Mobile No.', minlength: 6, maxlength: 10, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
  </div>

  <div class="col-sm-6 mb5">
    <strong>Pan Number</strong><br>
    <%= f.text_field :pan_number, { class: 'form-control p7_10 pan_number', placeholder: 'Pan Number'} %>
  </div>

  <div class="col-sm-6 mb5">
    <strong>CIN Number</strong><br>
    <%= f.text_field :cin_number, { class: 'form-control p7_10 cin_no', placeholder: 'CIN Number' } %>
  </div>
  <div class="col-sm-6 mb5">
    <strong>MSME Number</strong><br>
    <%= f.text_field :msme_number, { class: 'form-control p7_10 msme_number', placeholder: 'MSME Number' } %>
  </div>

  <div class="col-sm-6 mb5" >
    <div class="col-sm-2" id="is_filtter_show" >
      <strong>Fitter</strong>:
      <% if @vendor.is_fitter == true %>
        <%= f.check_box :is_fitter , { checked: true, disabled: 'true' }, 'true', 'false'  %>
      <% else %>
        <%= f.check_box :is_fitter , { checked: false }, 'true', 'false'  %>
      <% end %>
    </div>

    <% if @vendor.is_fitter == true %>
      <div class= "col-sm-7 mb7 fitting_charges_show">
        <strong>Fitting Charges</strong>
        <%= f.text_field :fitting_charges, { class: 'form-control fitting_charges', placeholder: "Fitting Charges", onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
      </div>
    <% else %>
      <div class= "col-sm-7 mb7 fitting_charges_show" style="display: none;">
        <strong>Fitting Charges</strong>
        <%= f.text_field :fitting_charges, { class: 'form-control fitting_charges', placeholder: "Fitting Charges", onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
      </div>
    <% end %>
  </div>

  <%# <div class="col-sm-6 mb5"> %>
    <%# <strong>Credit Days</strong><br> %>
    <%#= f.text_field :credit_days, { class: 'form-control p7_10 credit_days', placeholder: 'Credit Days', oninput: 'this.value = this.value.match(/^\d+\.?\d{0,2}/);' } %>
  <%# </div> %>
  <%# <div class="col-sm-6 mb5"> %>
    <%# <strong>Credit Limit</strong><br> %>
    <%#= f.text_field :credit_limit, { class: 'form-control p7_10 credit_limit', placeholder: 'Credit Limit' } %>
  <%# </div> %>

  <%# <div class="col-sm-6 mb5"> %>
    <%# <strong>DL Number</strong><br> %>
    <%#= f.text_field :dl_number, { class: 'form-control p7_10 dl-number', placeholder: 'Drug Licence Number' } %>
  <%# </div>
  <div class="col-sm-6 mb5">
    <strong>GST</strong><br> %>
    <%#= f.text_field :gst_number, { class: 'form-control p7_10 gst-number', placeholder: 'GST' } %>
  <%# </div> %>

  <%# <div class="col-sm-6 mb5">
    <strong>Expire PO after(days)</strong><br> %>
    <%#= f.text_field :po_expiry_days, { class: 'form-control p7_10 po_expiry_days', placeholder: 'Days', oninput: 'this.value = this.value.match(/^\d+\.?\d{0,2}/);' } %>
  <%# </div> %>
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-sm-12 text-center" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;"><strong>Corporate Address Information</strong></div>
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-sm-4">
    <strong>Country</strong><br>
    <%= f.select :country_id, options_for_select(@countries.collect {|p| [ p.name + " ("+p.abbreviation1+") ", p.id ] },@vendor.try(:country_id)), {include_blank: "Select Country"}, {class: 'form-control country', style:'max-height:40px;'} %>
  </div>
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-sm-12">
    <strong>Address</strong><br>
    <%= f.text_field :address, { class: 'form-control p7_10 address', placeholder: "Address" } %>
  </div>
</div>
<div class="row other-facility" style="margin-top:15px;">
  <div class="col-sm-4">
    <strong>Pincode</strong><a href="" class="clear-pincode" style="display:none;font-size: 10px;margin-top: -7px;">  Clear</a><br>
    <%= f.text_field :pincode, { class: 'form-control p7_10 pincode', placeholder: "Pincode", minlength: 5, maxlength: 7, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
  </div>
  <div class="col-sm-4">
    <strong>State</strong><br>
    <%= f.text_field :state, { class: 'form-control p7_10 state', placeholder: "State" } %>
  </div>
  <div class="col-sm-4">
    <strong>City</strong><br>
    <%= f.text_field :city, { class: 'form-control p7_10 city', placeholder: "City" } %>
  </div>
</div>

<div class="row vietnam-facility" style="margin-top:15px;">
  <div class="col-sm-4">
    <strong>City</strong><a href="" class="clear-commune" style="display:none;font-size: 10px;margin-top: -7px;">Clear</a><br>
    <%= f.text_field :city, { class: 'form-control p7_10 vietnam-city', placeholder: "City" } %>
  </div>
  <div class="col-sm-4">
    <strong>District</strong><br>
    <%= f.text_field :district, { class: 'form-control district p7_10', placeholder: "District" } %>
  </div>
  <div class="col-sm-4">
    <strong>Commune</strong><br>
    <%= f.text_field :commune, { class: 'form-control commune p7_10', placeholder: "Commune"} %>
  </div>
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-sm-12 text-center" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;"><strong>Bank Details</strong></div>
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-sm-6 mb5">
    <strong>Account Holder Name</strong><br>
    <%= f.text_field :account_holder_name, { class: 'form-control p7_10 account_holder_name', placeholder: 'Account Holder Name' } %>
  </div>
  <div class="col-sm-6 mb5">
    <strong>Account Number</strong><br>
    <%= f.text_field :account_number, { class: 'form-control p7_10 account_number', placeholder: 'Account Number' } %>
  </div>

  <div class="col-sm-6 mb5">
    <strong>Branch Name</strong><br>
    <%= f.text_field :branch_name, { class: 'form-control p7_10 branch_name', placeholder: 'Branch Name' } %>
  </div>
  <div class="col-sm-6 mb5">
    <strong>IFSC Code</strong><br>
    <%= f.text_field :ifsc_code, { class: 'form-control p7_10 ifsc_code', placeholder: 'IFSC Code' } %>
  </div>
</div>
