<div class="row">
  <div class="col-md-4">
    <h4>MANAGE INVENTORY VENDOR</h4>
  </div>
  <div class="col-md-3 text-right">
    <input type="text" name="" class="search-vendor-master form-control" placeholder="Search Vendor Name" value="" style="margin-top: 5px;">
  </div>
  <div class="col-md-5 text-right">
    <%= link_to new_inventory_vendor_path, class: 'btn btn-primary', data: { remote: true, 'toggle': 'modal', 'target': '#vendor-modal' } do %><i class="fa fa-plus"></i> Add Vendor<% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <% if @vendors.count > 0 %>
      <table id="manage_inventory_vendors_table" class="table table-primary table-bordered">
        <thead>
        <th>Name</th>
        <th>Vendor Group</th>
        <th class="text-center">Actions</th>
        </thead>
        <tbody id="vendor_master-list">

        <% @vendors.each do |vendor| %>
          <% visibility = vendor.is_deleted ? 'visibility: hidden;' : 'visibility: visible' %>
          <tr class="each-contact-table-row vendor_master_tr">
            <td>
              <b class="vendor_name" style="color:#000;"><%= vendor.try(:name) %></b>
            </td>

            <td>
              <b class="vendor_group_name" style="color:#000;"><%= vendor.try(:vendor_group).try(:name) %></b>
            </td>

            <td>
              <table style="width: 100%;">
                <tr>
                  <td style="<%=visibility%>">
                    <%= link_to edit_inventory_vendor_path(id: vendor.id.to_s), method: :get, data: { remote: true, toggle: 'modal', target: '#vendor-modal' }, class: 'btn btn-info btn-xs', style: 'display: inline;' do %>Edit<% end %>
                  </td>
                  <td style="<%=visibility%>">
                    <%= link_to new_inventory_vendor_document_url(vendor),
                          class: "btn btn-info btn-xs btn-info-transparent", target: :_blank do %>
                      <i class="glyphicon glyphicon-cloud-upload"></i>Upload Documents</a>
                    <% end %>
                    <%= link_to inventory_vendor_documents_url(vendor),
                          class: "btn btn-info btn-xs btn-info-transparent", remote: true do %>
                      <i class="fa fa-file-image-o"></i>View Documents</a>
                    <% end %>
                  </td>
                  <td id='vendor_disable_button_<%= vendor.id %>'>
                    <% if vendor.try(:is_deleted) == true %>
                      <%= link_to 'Active', enable_vendor_inventory_vendors_path(id: vendor.id), class: 'btn btn-xs btn-primary', remote: true, style: 'display: inline;' %>
                    <% else %>
                      <div class="btn btn-danger btn-xs btn-disable-vendor" style="display: inline;" data-toggle="modal" data-target="#confirmation-modal" data-vendor='<%= vendor.name %>'>Disable</div>
                      <%= link_to 'Confirm', inventory_vendor_path(id: vendor.id),method: :delete, class: 'btn btn-danger', remote: true, style: 'display: none;', data: { dismiss: 'modal' } %>
                    <% end %>
                  </td>

                  <td style="<%=visibility%>">
                    <%= link_to link_unlink_multiple_category_inventory_vendors_path(type: "link_category",vendor_id: vendor.id.to_s),class: "btn btn-info btn-xs", style: "display: inline;", data: {remote: true, 'toggle': "modal", 'target': '#category-modal'} do %><i class="fa fa-plus"></i> Link Category<% end %>
                  </td>
                  <td style="<%=visibility%>">
                    <%= link_to link_unlink_multiple_category_inventory_vendors_path(type: "unlink_category",vendor_id: vendor.id.to_s),class: "btn btn-warning btn-xs", style: "display: inline;", data: {remote: true, 'toggle': "modal", 'target': '#category-modal'} do %><i class="fa fa-minus"></i> Unlink Category<% end %>
                  </td>
                   <td>
                    <%= link_to inventory_vendor_locations_path(vendor_id: vendor.id.to_s),class: "btn btn-info btn-xs", style: "display: inline;", data: {remote: true} do %><i class="fa fa-map-marker"></i> Location<% end %>
                  </td>

                </tr>
              </table>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="col-md-12 text-center mt10">
        No Vendors to Show.
      </div>
    <% end %>
  </div>
</div>

<style>
  #confirmation-modal a{
    display: inline-block !important;
  }
  .row-container{
    height: 25px;
  }
</style>

<script type="text/javascript">
  $(".search-vendor-master").on('keyup', function(){
    vendor_list = $(".vendor_master_tr");
    vendor_list_count = vendor_list.length;
    search = $(this).val().toUpperCase().trim();
    counter = 0
    for (var i = vendor_list.length - 1; i >= 0; i--) {
      vendor_name = $(vendor_list[i]).find(".vendor_name")
      vendor_group_name = $(vendor_list[i]).find(".vendor_group_name")
      if($(vendor_name).html().toUpperCase().indexOf(search) > -1 || $(vendor_group_name).html().toUpperCase().indexOf(search) > -1) {
        $(vendor_list[i]).css("display", "");
      } else {
        $(vendor_list[i]).css("display", "None");
        counter += 1
      }
    }

    if(vendor_list_count == counter){
      if($(".show-nothing").length <= 0){
        $("#vendor_master-list").append(`<tr class="show-nothing"><td class="text-center" colspan="5">Nothing to Show</td></tr>`)
      }
    } else {
      $(".show-nothing").remove();
    }
  })
</script>
