<div class="modal-dialog" style="width:40%;">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><% if @type == "unlink_category" %>Un<% end %>Link <%= @vendor.name %> to Category</h4>
    </div><br>
    <%= form_tag("/inventory/vendors/save_link_unlink_multiple_category", method: "patch", remote: true, id: 'save_link_unlink_multiple_category') do %>
      <%= hidden_field_tag :vendor_id, @vendor_id %>
      <%= hidden_field_tag :type, @type %>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <strong>Select Category</strong><br>
            <%= select_tag :category_ids, options_for_select(@categories.pluck(:name, :id)), { class: 'form-control', multiple: true} %>
          </div>
        </div>

        <div class="row" style="padding-top: 35px;">
          <div class="col-sm-12" style="text-decoration: underline;">
            <strong>Currently <%= @type&.split('_')[0] %>ed Category</strong>
          </div>

          <div class="col-sm-12">
            <% if @other_categories.present? %>
              <% @other_categories.each do |category| %>
                <div style="margin: 7px;">
                  <i class="fa fa-arrow-right"></i> <%= category.name.upcase %><br>
                </div>
              <% end %>
            <% else %>
              <div style="margin: 7px;font-style: italic;"><strong>No <%= @type&.split('_')[0] %>ed Category existed</strong></div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= submit_tag "Save", class: 'btn btn-success', onclick: 'link_unlink_category()' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>
</div>
