<% currency_symbol = current_facility.currency_symbol %>
<div class="container-fluid" id="freeInvoiceEdit" style="border-bottom:1px solid #eee;">
  <h3 class="text-center" style="color: #00BFFF"><%= @vendor.name %></h3>
  <br>
  <div class="col-md-12 mb5">
    <div class="col-md-4">
      <h4 style="margin-top:0; color: #1E90FF">Vendor Details&nbsp;</h4>
    </div>
    <div class="col-md-4">
      <%= link_to edit_inventory_vendor_path(id: @vendor.id.to_s, store_id: @store_id), id: 'edit_vendor', data: { remote: true, toggle: 'modal', target: '#vendor-modal' }, class: 'btn btn-primary btn-xs' do %><i class="fa fa-edit"></i> Edit<% end %>
    </div>
    <div class="col-md-4">
      <% if @vendor.is_deleted %>
        <%= link_to enable_vendor_inventory_vendors_path(id: @vendor.id.to_s, store_id: @store_id), id: 'enable_vendor', data: { remote: true }, class: 'btn btn-success btn-xs' do %>Enable Vendor<% end %>
      <% else %>
        <%= link_to inventory_vendor_path(id: @vendor.id.to_s, store_id: @store_id), method: :delete, id: 'delete_vendor', data: { remote: true }, class: 'btn btn-danger btn-xs' do %><i class="fa fa-ban"></i> Disable Vendor<% end %>
      <% end %>
    </div>
  </div>
  <!-- <div class="row mb5">
    <div class="col-md-6">
      <b style="color: green;">Vendor Balance:&nbsp;&nbsp;<%#= currency_symbol %><%#= @vendor.debit_amount %></b>
    </div>
  </div> -->
  <div class="row mb5">
    <div class="col-md-6">
      <b>Name:&nbsp;&nbsp; <%= @vendor.name %></b>
    </div>
    <div class="col-md-6">
      <b>Mobie:&nbsp;&nbsp; <%= @vendor.mobile_number %></b>
    </div>
  </div>
  <div class="row mb5">
    <div class="col-md-6">
      <b>Company:&nbsp;&nbsp; <%= @vendor.company_name&.titleize %></b>
    </div>
    <div class="col-md-6">
      <b>Email:&nbsp;&nbsp; <%= @vendor.email %></b>
    </div>
  </div>
  <div class="row mb5">
    <% if @vendor.dl_number.present? %>
      <div class="col-md-6">
        <b>DL Number:&nbsp;&nbsp; <%= @vendor.dl_number %></b>
      </div>
    <% end %>
  <% if @vendor.gst_number.present? %>
    <div class="col-md-6">
      <b>GST:&nbsp;&nbsp; <%= @vendor.gst_number %></b>
    </div>
  <% end %>
  </div><br><br>
  <!-- <b style="color: #1E90FF">Transactions Details:</b>
    <div class="row check-font">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Sl. No.</th>
            <th>Date | Time</th>
            <th>User</th>
            <th>Type</th>
            <th>Settled</th>
            <th>Pending</th>
            <th>Total Amt.</th>
          </tr>
        </thead>
        <tbody>
          <%# @vendor.debit_amount_breakups&.order_by(transaction_time: 'desc')&.each_with_index do |breakup, index| %>
            <tr>
              <td><%#= index + 1 %></td>
              <td><%#= breakup.transaction_date %>&nbsp;|&nbsp;<%#= breakup.transaction_time&.strftime('%I:%M%p') %></td>
              <td><%#= breakup.user_name %></td>
              <td><%#= breakup.flow %>(<%#= breakup.type %>)</td>
              <td><%#= breakup.flow == 'In' ? breakup.settled_amount : 'NA' %></td>
              <td><%#= breakup.flow == 'In' ? breakup.pending_amount : 'NA' %></td>
              <td><%#= currency_symbol %>&nbsp;<%#= breakup.total_amount %></td>
            </tr>
          <%# end %>
        </tbody>
      </table>
    </div> -->
</div>

<style type="text/css">
  .check-font table tr th {
    padding: 2px 5px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
  }
  .check-font table tr td {
    font-size: 12px;
    padding: 2px 5px;
    text-align: center;
  }
</style>
