<% if @vendors.count > 0 %>
  <% @vendors.each do |vendor| %>
    <% if vendor.is_deleted %>
      <tr id="<%= vendor.id %>" class="inventory-list-row" style="color: red;">
    <% else %>
      <tr id="<%= vendor.id %>" class="inventory-list-row" style="color: #17a08c;">
    <% end %>
      <td class="col-md-2"><%= vendor.name&.titleize %></td>
      <td class="col-md-3"><%= vendor.mobile_number %></td>
      <td class="col-md-3" style=""><%= vendor.company_name&.titleize %></td>
      <td class="col-md-2"><%= vendor.debit_amount %></td>
      <td class="col-md-2">
        <% if vendor.is_deleted %>Inactive<% else %>Active<% end %>
      </td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td align="center"><strong style="font-size: 20px;">Nothing to Display</strong></td>
  </tr>
<% end %>
