<div class="row mb10">
  <div class="col-md-12">
    <div class="row">
      <strong>Medication (Rx)</strong>
      <div class="summary-line-border"></div>
      <% if @discharge_note.treatmentmedication.count > 0 %>
        <div class="row mb10">
          <table class="table table-bordered" style="font-size:12px;">
            <thead>
              <tr>
                <th width="5%">S.No.</th>
                <th width="25%">Name</th>
                <!-- <th width="5%">Quantity</th> -->
                <th class="text-center" width="40%">Frequency</th>
                <th width="10%">Duration</th>
                <th width="25%">Instruction</th>
              </tr>
            </thead>
            <% @medication_set_arr = Global.send("medication_instruction_option").send('sets')%>
            <tbody>
            <% @discharge_note.treatmentmedication.each.with_index do |medication,i| %>
              <tr>
                <td><%= i + 1 %></td>
                <td><b><%= medication.medicinename %><% if medication.medicinetype? %> - <%= medication.medicinetype.to_s.upcase %><% end %></b></td>
                <!-- <td class="text-right"><%= medication.medicinequantity %></td> -->
                <td class="text-center">
                  <% if Array['1-1-1', '1-1-0', '1-0-1', '0-1-1', '1-0-0', '0-1-0', '0-0-1','2-2-2','2-0-2', '1-1-1-1'].include?(medication.medicinefrequency) %>
                    <% frequency = medication.medicinefrequency.split('-') %>
                    <% unless frequency[3] == nil %>
                      <div class="row">
                        <div class="col-md-2 text-center"><%= frequency[0] %><br>Mrng</div>
                        <div class="col-md-1">-</div>
                        <div class="col-md-2 text-center"><%= frequency[1] %><br>Noon</div>
                        <div class="col-md-1">-</div>
                        <div class="col-md-2 text-center"><%= frequency[2] %><br>Evng</div>
                        <div class="col-md-1">-</div>
                        <div class="col-md-2 text-center"><%= frequency[3] %><br>Night</div>
                      </div>
                    <% else %>
                      <div class="row">
                        <div class="col-md-3 text-center"><%= frequency[0] %><br>Morning</div>
                        <div class="col-md-1">-</div>
                        <div class="col-md-3 text-center"><%= frequency[1] %><br>Afternoon</div>
                        <div class="col-md-1">-</div>
                        <div class="col-md-3 text-center"><%= frequency[2] %><br>Evening</div>
                      </div>
                    <% end %>
                  <% else %>
                    <%= medication.medicinefrequency %>
                  <% end %>
                </td>
                <td>
                  <% unless medication.medicinedurationoption == "F" %>
                    <% if medication.medicinedurationoption == "W" %>
                      <%= pluralize(medication.medicineduration, 'Week') %>
                    <% elsif medication.medicinedurationoption == "M" %>
                      <%= pluralize(medication.medicineduration, 'Month') %>
                    <% else medication.medicinedurationoption == "D" %>
                      <%= pluralize(medication.medicineduration, 'Day') %>
                    <% end %>
                  <% else %>
                    Next Followup
                  <% end %>
                </td>
                <td>
                  <%if medication.medicineinstructions.present?%>
                      <%=medication.medicineinstructions%>
                    <%elsif medication.instruction.present?%>
                      <% @set = @medication_set_arr.select{|medi| medi["id"] == medication.instruction} %>
                      <%if @set[0].present?%>
                        <%if @language_flag.present?%>
                          <%=@set[0]["#{@advice_language}"]%>
                        <%else%>
                          <%=@set[0]["en"]%>
                        <%end%>
                      <%end%>
                    <%end%>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>

<style type="text/css">
  .table thead tr th, .table tbody tr td {
    padding: 3px;
  }
</style>