<!-- Counter Logic -->
<% inventory_counter = 0 %>
<% table_counter = 0 %>
<%if @operative_note.present?%>
  <% if @operative_note.read_attribute(:irrigation_solution).present? || @operative_note.read_attribute(:sutures).present? || @operative_note.read_attribute(:viscoelastic).present? || @operative_note.read_attribute(:trypan_blue).present? || @operative_note.read_attribute(:other_consumables).present? %>
    <% inventory_counter = inventory_counter + 1 %>
    <% table_counter = table_counter + 1 %>
  <% end %>
  <% if @operative_note.read_attribute(:implants).present? || @operative_note.read_attribute(:power_inventory).present? %>
    <% inventory_counter = inventory_counter + 1 %>
  <% end %>

  <% if inventory_counter > 0 %>
    <div class="row mb10">
      <div class="col-md-12">
        <div class="row">
          <strong>INVENTORY :</strong>
          <div class="summary-line-border"></div>
        </div>
        <% if table_counter > 0 %>
          <div class="row mt10">
            <div class="col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th width="25%"><b>Consumables</b></th>
                    <th width="50%"><b>Name</b></th>
                    <th width="25%"><b>Batch No.</b></th>
                  </tr>
                </thead>
                <tbody>
                  <% if @operative_note.read_attribute(:irrigation_solution).present? %>
                    <tr>
                      <td>Irrigation Solution :</td>
                      <td><%= @operative_note.read_attribute(:irrigation_solution) %></td>
                      <td><%= @operative_note.read_attribute(:irrigation_solution_batch_no) %></td>
                    </tr>
                  <% end %>
                  <% if @operative_note.read_attribute(:sutures).present? %>
                    <tr>
                      <td>Sutures :</td>
                      <td><%= @operative_note.read_attribute(:sutures) %></td>
                      <td><%= @operative_note.read_attribute(:sutures_batch_no) %></td>
                    </tr>
                  <% end %>
                  <% if @operative_note.read_attribute(:viscoelastic).present? %>
                    <tr>
                      <td>Viscoelastic :</td>
                      <td><%= @operative_note.read_attribute(:viscoelastic) %></td>
                      <td><%= @operative_note.read_attribute(:viscoelastic_batch_no) %></td>
                    </tr>
                  <% end %>
                  <% if @operative_note.read_attribute(:trypan_blue).present? %>
                    <tr>
                      <td>Trypan Blue :</td>
                      <td><%= @operative_note.read_attribute(:trypan_blue) %></td>
                      <td><%= @operative_note.read_attribute(:trypan_blue_batch_no) %></td>
                    </tr>
                  <% end %>
                  <% if @operative_note.read_attribute(:other_consumables).present? %>
                    <tr>
                      <td>Other Consumables :</td>
                      <td><%= @operative_note.read_attribute(:other_consumables) %></td>
                      <td><%= @operative_note.read_attribute(:other_consumables_batch_no) %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
        <div class="row">
          <% if @operative_note.read_attribute(:implants).present? %>
            <div class="col-md-6">
              <b>Implants :</b> <%= @operative_note.read_attribute(:implants) %>
            </div>
          <% end %>
          <% if @operative_note.read_attribute(:power_inventory).present? %>
          <div class="col-md-6">
              <b>Power :</b> <%= @operative_note.read_attribute(:power_inventory) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<style type="text/css">
  .table thead tr th, .table tbody tr td {
    padding: 3px;
  }
</style>