<% if opdrecord.r_intraocularpressure.present? || opdrecord.r_intraocularpressure_time.present? || opdrecord.l_intraocularpressure.present? || opdrecord.l_intraocularpressure_time.present? %>
  <% r_iop = '' %>
  <% if opdrecord.r_intraocularpressure.present? && opdrecord.r_intraocularpressure.to_i > 0 %>
    <% r_iop = "#{opdrecord.r_intraocularpressure} mmHG at #{opdrecord.r_intraocularpressure_time}" %>
  <% end %>
  <% if opdrecord.r_iop_method.present? && r_iop.present? %>
    <% r_iop += " with #{opdrecord.r_iop_method}" %>
  <% end %>

  <% l_iop = '' %>
  <% if opdrecord.l_intraocularpressure.present? && opdrecord.l_intraocularpressure.to_i > 0 %>
    <% l_iop = "#{opdrecord.l_intraocularpressure} mmHG at #{opdrecord.l_intraocularpressure_time}" %>
  <% end %>
  <% if opdrecord.l_iop_method.present? && l_iop.present? %>
    <% l_iop += " with #{opdrecord.l_iop_method}" %>
  <% end %>
  <div class="<%= 'print_text_font_size' if  @print_setting %>" style="<%= text_font_size %>">
    <div class="row mb5">
      <strong>INTRAOCULAR PRESSURE</strong>
      <div class="summary-line-border"></div>
    </div>
    <div class="row mb5">
      <div class="col-xs-12">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-5 text-center">
          <h5><b style="color:#000;">R(OD)</b></h5>
        </div>
        <div class="col-xs-5 text-center">
          <h5><b style="color:#000;">L(OS)</b></h5>
        </div>
      </div>
    </div>
    <% if r_iop.present? || l_iop.present? %>
      <div class="row mb15">
        <div class="col-xs-12">
          <div class="col-xs-2">
            <b>Value</b>
          </div>
          <div class="col-xs-5 text-center">
            <span style="<%= 'color:red;' if opdrecord.r_intraocularpressure.to_i >= 19 %>">
              <%= opdrecord.replace_blank(r_iop, '-') %>
            </span>
            <% if opdrecord.r_iop_comments.present? %>
              <ul><li><%= opdrecord.r_iop_comments %></li></ul>
            <% end %>
          </div>
          <div class="col-xs-5 text-center">
            <span style="<%= 'color:red;' if opdrecord.l_intraocularpressure.to_i >= 19 %>">
              <%= opdrecord.replace_blank(l_iop, '-') %>
            </span>
            <% if opdrecord.l_iop_comments.present? %>
              <ul><li><%= opdrecord.l_iop_comments %></li></ul>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
