<div class="contactlens mb5" id="contactlens">
  <% if opdrecord.send("#{@flag}_contactlens_flag") == "1" %>
      <% contactlens_counter = 0 %>
      <% r_contactlens_counter = 0 %>
      <% r_contactlens_bc = "" %>
      <% r_contactlens_dia = "" %>
      <% r_contactlens_sph = "" %>
      <% r_contactlens_cyl = "" %>
      <% r_contactlens_axis = "" %>
      <% r_contactlens_add = "" %>
      <% r_contactlens_color = "" %>
      <% r_contactlens_types = "" %>
      <% r_contactlens_comments = "" %>
      <% r_contactlens_revisit_date = "--" %>

      <% unless opdrecord.r_contactlens_bc.nil? %>
        <% if opdrecord.r_contactlens_bc.length > 0 %>
            <% r_contactlens_bc = "#{opdrecord.read_attribute(:"r_contactlens_bc")}" %>
            <% r_contactlens_counter = r_contactlens_counter + 1 %>
            <% contactlens_counter = contactlens_counter + 1 %>
        <% else %>
            <% r_contactlens_bc = "--" %>
        <% end %>
      <% end %>
      <% unless opdrecord.r_contactlens_dia.nil? %>
        <% if opdrecord.r_contactlens_dia.length > 0 %>
            <% r_contactlens_dia = "#{opdrecord.read_attribute(:"r_contactlens_dia")}" %>
            <% r_contactlens_counter = r_contactlens_counter + 1 %>
            <% contactlens_counter = contactlens_counter + 1 %>
        <% else %>
            <% r_contactlens_dia = "--" %>
        <% end %>
      <% end %>
      <% unless opdrecord.r_contactlens_sph.nil? %>
        <% if opdrecord.r_contactlens_sph.length > 0 %>
            <% r_contactlens_sph = "#{opdrecord.read_attribute(:"r_contactlens_sph")}" %>
            <% r_contactlens_counter = r_contactlens_counter + 1 %>
            <% contactlens_counter = contactlens_counter + 1 %>
        <% else %>
            <% r_contactlens_sph = "--" %>
        <% end %>
      <% end %>
      <% unless opdrecord.r_contactlens_cyl.nil? %>
        <% if opdrecord.r_contactlens_cyl.length > 0 %>
            <% r_contactlens_cyl = "#{opdrecord.read_attribute(:"r_contactlens_cyl")}" %>
            <% r_contactlens_counter = r_contactlens_counter + 1 %>
            <% contactlens_counter = contactlens_counter + 1 %>
        <% else %>
            <% r_contactlens_cyl = "--" %>
        <% end %>
      <% end %>
      <% unless opdrecord.r_contactlens_axis.nil? %>
        <% if opdrecord.r_contactlens_axis.length > 0 %>
            <% r_contactlens_axis = "#{opdrecord.read_attribute(:"r_contactlens_axis")}" %>
            <% r_contactlens_counter = r_contactlens_counter + 1 %>
            <% contactlens_counter = contactlens_counter + 1 %>
        <% else %>
            <% r_contactlens_axis = "--" %>
        <% end %>
      <% end %>
      <% unless opdrecord.r_contactlens_add.nil? %>
        <% if opdrecord.r_contactlens_add.length > 0 %>
            <% r_contactlens_add = "#{opdrecord.read_attribute(:"r_contactlens_add")}" %>
            <% r_contactlens_counter = r_contactlens_counter + 1 %>
            <% contactlens_counter = contactlens_counter + 1 %>
        <% else %>
            <% r_contactlens_add = "--" %>
        <% end %>
      <% end %>
      <% unless opdrecord.r_contactlens_color.nil? %>
        <% if opdrecord.r_contactlens_color.length > 0 %>
            <% r_contactlens_color = "#{opdrecord.read_attribute(:"r_contactlens_color")}" %>
            <% r_contactlens_counter = r_contactlens_counter + 1 %>
            <% contactlens_counter = contactlens_counter + 1 %>
        <% else %>
            <% r_contactlens_color = "--" %>
        <% end %>
      <% end %>
      <% if opdrecord.r_contactlens_types %>
        <% if opdrecord.r_contactlens_types.length > 0 %>
            <% r_contactlens_types = "#{opdrecord.read_attribute(:"r_contactlens_types")}" %>
            <% r_contactlens_counter = r_contactlens_counter + 1 %>
            <% contactlens_counter = contactlens_counter + 1 %>
        <% else %>
            <% r_contactlens_types = "--" %>
        <% end %>
      <% end %>
      <% unless opdrecord.r_contactlens_comments.nil? %>
        <% if opdrecord.r_contactlens_comments.length > 0 %>
            <% r_contactlens_comments = "#{opdrecord.read_attribute(:"r_contactlens_comments")}" %>
            <% r_contactlens_counter = r_contactlens_counter + 1 %>
            <% contactlens_counter = contactlens_counter + 1 %>
        <% else %>
            <% r_contactlens_comments = "--" %>
        <% end %>
      <% end %>
      <% unless opdrecord.r_revisit_date.blank? %>
        <% r_contactlens_revisit_date = "#{opdrecord.read_attribute(:"r_revisit_date")}" %>
        <% r_contactlens_counter = r_contactlens_counter + 1 %>
        <% contactlens_counter = contactlens_counter + 1 %>
      <% end %>
      <% l_contactlens_counter = 0 %>
      <% l_contactlens_bc = "" %>
      <% l_contactlens_dia = "" %>
      <% l_contactlens_sph = "" %>
      <% l_contactlens_cyl = "" %>
      <% l_contactlens_axis = "" %>
      <% l_contactlens_add = "" %>
      <% l_contactlens_color = "" %>
      <% l_contactlens_types = "" %>
      <% l_contactlens_comments = "" %>
      <% l_contactlens_revisit_date = "--" %>

      <% unless opdrecord.l_contactlens_bc.nil? %>
        <% if opdrecord.l_contactlens_bc.length > 0 %>
            <% l_contactlens_bc = "#{opdrecord.read_attribute(:"l_contactlens_bc")}" %>
            <% l_contactlens_counter = l_contactlens_counter + 1 %>
            <% contactlens_counter = contactlens_counter + 1 %>
        <% else %>
            <% l_contactlens_bc = "--" %>
        <% end %>
      <% end %>
      <% unless opdrecord.l_contactlens_dia.nil? %>
        <% if opdrecord.l_contactlens_dia.length > 0 %>
            <% l_contactlens_dia = "#{opdrecord.read_attribute(:"l_contactlens_dia")}" %>
            <% l_contactlens_counter = l_contactlens_counter + 1 %>
            <% contactlens_counter = contactlens_counter + 1 %>
        <% else %>
            <% l_contactlens_dia = "--" %>
        <% end %>
      <% end %>
      <% unless opdrecord.l_contactlens_sph.nil? %>
        <% if opdrecord.l_contactlens_sph.length > 0 %>
            <% l_contactlens_sph = "#{opdrecord.read_attribute(:"l_contactlens_sph")}" %>
            <% l_contactlens_counter = l_contactlens_counter + 1 %>
            <% contactlens_counter = contactlens_counter + 1 %>
        <% else %>
            <% l_contactlens_sph = "--" %>
        <% end %>
      <% end %>
      <% unless opdrecord.l_contactlens_cyl.nil? %>
        <% if opdrecord.l_contactlens_cyl.length > 0 %>
            <% l_contactlens_cyl = "#{opdrecord.read_attribute(:"l_contactlens_cyl")}" %>
            <% l_contactlens_counter = l_contactlens_counter + 1 %>
            <% contactlens_counter = contactlens_counter + 1 %>
        <% else %>
            <% l_contactlens_cyl = "--" %>
        <% end %>
      <% end %>
      <% unless opdrecord.l_contactlens_axis.nil? %>
        <% if opdrecord.l_contactlens_axis.length > 0 %>
            <% l_contactlens_axis = "#{opdrecord.read_attribute(:"l_contactlens_axis")}" %>
            <% l_contactlens_counter = l_contactlens_counter + 1 %>
            <% contactlens_counter = contactlens_counter + 1 %>
        <% else %>
            <% l_contactlens_axis = "--" %>
        <% end %>
      <% end %>
      <% unless opdrecord.l_contactlens_add.nil? %>
        <% if opdrecord.l_contactlens_add.length > 0 %>
            <% l_contactlens_add = "#{opdrecord.read_attribute(:"l_contactlens_add")}" %>
            <% l_contactlens_counter = l_contactlens_counter + 1 %>
            <% contactlens_counter = contactlens_counter + 1 %>
        <% else %>
            <% l_contactlens_add = "--" %>
        <% end %>
      <% end %>
      <% unless opdrecord.l_contactlens_color.nil? %>
        <% if opdrecord.l_contactlens_color.length > 0 %>
            <% l_contactlens_color = "#{opdrecord.read_attribute(:"l_contactlens_color")}" %>
            <% l_contactlens_counter = l_contactlens_counter + 1 %>
            <% contactlens_counter = contactlens_counter + 1 %>
        <% else %>
            <% l_contactlens_color = "--" %>
        <% end %>
      <% end %>
      <% unless opdrecord.l_contactlens_types.nil? %>
        <% if opdrecord.l_contactlens_types.length > 0 %>
            <% l_contactlens_types = "#{opdrecord.read_attribute(:"l_contactlens_types")}" %>
            <% l_contactlens_counter = l_contactlens_counter + 1 %>
            <% contactlens_counter = contactlens_counter + 1 %>
        <% else %>
            <% l_contactlens_types = "--" %>
        <% end %>
      <% end %>
      <% unless opdrecord.l_contactlens_comments.nil? %>
        <% if opdrecord.l_contactlens_comments.length > 0 %>
            <% l_contactlens_comments = "#{opdrecord.read_attribute(:"l_contactlens_comments")}" %>
            <% l_contactlens_counter = l_contactlens_counter + 1 %>
            <% contactlens_counter = contactlens_counter + 1 %>
        <% else %>
            <% l_contactlens_comments = "--" %>
        <% end %>
      <% end %>

      <% unless opdrecord.l_revisit_date.blank? %>
        <% l_contactlens_revisit_date = "#{opdrecord.read_attribute(:"l_revisit_date")}" %>
        <% l_contactlens_counter = l_contactlens_counter + 1 %>
        <% contactlens_counter = contactlens_counter + 1 %>
      <% end %>

    <% if contactlens_counter > 0 %>
        <div class="row mb5 <%= 'print_text_font_size' if  @print_setting %>" style="<%= text_font_size %>">
          <span><strong>CONTACT LENS PRESCRIPTIONS</strong></span>
          <% if mail_job == false %>
            <%unless params[:action] == "print_opd_record" || params[:action] == "print_contactlens_prescription"%>
              <span style="float: right;margin-top: -2px;">
                <% if @mode != "tabview" && Authorization::PolicyHelper.verification(current_user.id,"HGP-101-113-100") %>
                  <%= link_to opd_records_print_contactlens_prescription_path(:opdrecordid => opdrecord._id, :patientid => patient.id, :appointmentid => appointment.id, :templatetype => templatetype, :specality => specalityfoldername, :format => :pdf), :class => "btn btn-xs btn-link pull-right", :target => "_blank", :data => {method: :get} do %> <i class="fa fa-print"></i> Print<% end %>
                <% end %>
              </span>
            <%end%>
          <% end %>
          <div class="summary-line-border"></div>
        </div>

        <div class="row <%= 'print_text_font_size' if  @print_setting %>" style="<%= text_font_size %>">
          <div class="col-md-6 col-sm-6">
            <div class="text-center" style="background-color:#ddd;">R/OD</div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="text-center" style="background-color:#ddd;">L/OS</div>
          </div>
          <div class="col-md-6 col-sm-6">
            <% if r_contactlens_counter > 0 %>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th width="17%" style="padding:1px;font-size:11px;text-align: center;">BC</th>
                    <th width="16%" style="padding:1px;font-size:11px;text-align: center;">DIA</th>
                    <th width="17%" style="padding:1px;font-size:11px;text-align: center;">SPH</th>
                    <th width="17%" style="padding:1px;font-size:11px;text-align: center;">CYL</th>
                    <th width="16%" style="padding:1px;font-size:11px;text-align: center;">AXIS</th>
                    <th width="17%" style="padding:1px;font-size:11px;text-align: center;">ADD</th>
                  </tr>
                </tbody>
                <tbody>
                  <tr>
                    <td style="padding:1px;font-size:11px;text-align: center;"><%= r_contactlens_bc%></td>
                    <td style="padding:1px;font-size:11px;text-align: center;"><%= r_contactlens_dia%></td>
                    <td style="padding:1px;font-size:11px;text-align: center;"><%= r_contactlens_sph %></td>
                    <td style="padding:1px;font-size:11px;text-align: center;"><%= r_contactlens_cyl %></td>
                    <td style="padding:1px;font-size:11px;text-align: center;"><%= r_contactlens_axis %></td>
                    <td style="padding:1px;font-size:11px;text-align: center;"><%= r_contactlens_add %></td>
                  </tr>
                </tbody>
              </table>
              <div class="row" style="margin: auto;margin-bottom: 10px;font-size: 11px">
                <b>Color :</b>&nbsp;&nbsp;
                  <%= r_contactlens_color %>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <b>Type :</b>&nbsp;&nbsp;
                  <%= r_contactlens_types %><br>
                  <b>Advice :</b> <%= r_contactlens_comments %><br>
                  <b>Revisit Date :</b> <%= r_contactlens_revisit_date %>
              </div>
            <% end %>

          </div>
          <div class="col-md-6 col-sm-6">
            <% if l_contactlens_counter > 0 %>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th width="17%" style="padding:1px;font-size:11px;text-align: center;">BC</th>
                    <th width="16%" style="padding:1px;font-size:11px;text-align: center;">DIA</th>
                    <th width="17%" style="padding:1px;font-size:11px;text-align: center;">SPH</th>
                    <th width="17%" style="padding:1px;font-size:11px;text-align: center;">CYL</th>
                    <th width="16%" style="padding:1px;font-size:11px;text-align: center;">AXIS</th>
                    <th width="17%" style="padding:1px;font-size:11px;text-align: center;">ADD</th>
                  </tr>
                </tbody>
                <tbody>
                  <tr>
                    <td style="padding:1px;font-size:11px;text-align: center;"><%= l_contactlens_bc%></td>
                    <td style="padding:1px;font-size:11px;text-align: center;"><%= l_contactlens_dia%></td>
                    <td style="padding:1px;font-size:11px;text-align: center;"><%= l_contactlens_sph %></td>
                    <td style="padding:1px;font-size:11px;text-align: center;"><%= l_contactlens_cyl %></td>
                    <td style="padding:1px;font-size:11px;text-align: center;"><%= l_contactlens_axis %></td>
                    <td style="padding:1px;font-size:11px;text-align: center;"><%= l_contactlens_add %></td>
                  </tr>
                </tbody>
              </table>
              <div class="row" style="margin: auto;margin-bottom: 10px; font-size: 11px">
                  <b>Color :</b>&nbsp;&nbsp;
                  <%= l_contactlens_color %>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <b>Type :</b>&nbsp;&nbsp;
                  <%= l_contactlens_types %><br>
                  <b>Advice :</b> <%= l_contactlens_comments %><br>
                  <b>Revisit Date :</b> <%= l_contactlens_revisit_date %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
  <% end %>
</div>
