<div class="row mb5" style="<%= heading_font_size %>">
  <strong style="<%= heading_font_size %>">BIOMETRY/ A-SCAN DETAILS</strong>
  <div class="summary-line-border"></div>
</div>
<div class="row mb10 mt10" style="<%= heading_font_size %>">
  <div class="col-md-12">
    <div class="row mb5 ">
      <div class="col-md-6 left-section">

        <div class="row table-responsive">


          <table class="table table-bordered mb10" width="100%">
            <thead>
              <tr>
                <th width="40%" class="table-css"></th>
                <th width="30%" class="table-css">R/OD</th>
                <th width="30%" class="table-css">L/OS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-css">K1</td>
                <td class="table-css"><%= opdrecord.read_attribute(:r_k1) %></td>
                <td class="table-css"><%= opdrecord.read_attribute(:l_k1) %></td>
              </tr>
              <tr>
                <td class="table-css">K2</td>
                <td class="table-css"><%= opdrecord.read_attribute(:r_k2) %></td>
                <td class="table-css"><%= opdrecord.read_attribute(:l_k2) %></td>
              </tr>
              <tr>
                <td class="table-css">K1 AXIS</td>
                <td class="table-css"><%= opdrecord.read_attribute(:r_k1_axis) %></td>
                <td class="table-css"><%= opdrecord.read_attribute(:l_k1_axis) %></td>
              </tr>
              <tr>
                <td class="table-css">K2 AXIS</td>
                <td class="table-css"><%= opdrecord.read_attribute(:r_k2_axis) %></td>
                <td class="table-css"><%= opdrecord.read_attribute(:l_k2_axis) %></td>
              </tr>
              <tr>
                <td class="table-css">AL</td>
                <td class="table-css"><%= opdrecord.read_attribute(:r_al) %></td>
                <td class="table-css"><%= opdrecord.read_attribute(:l_al) %></td>
              </tr>

              <tr>
                <td class="table-css">PC-POWER</td>
                <td class="table-css"><%= opdrecord.read_attribute(:r_pc_power) %></td>
                <td class="table-css"><%= opdrecord.read_attribute(:l_pc_power) %></td>
              </tr>
              <tr>
                <td class="table-css">AC-POWER</td>
                <td class="table-css"><%= opdrecord.read_attribute(:r_ac_power) %></td>
                <td class="table-css"><%= opdrecord.read_attribute(:l_ac_power) %></td>
              </tr>
              <tr>
                <td class="table-css">ACD</td>
                <td class="table-css"><%= opdrecord.read_attribute(:r_acd) %></td>
                <td class="table-css"><%= opdrecord.read_attribute(:l_acd) %></td>
              </tr>
              <tr>
                <td class="table-css">WW</td>
                <td class="table-css"><%= opdrecord.read_attribute(:r_ww) %></td>
                <td class="table-css"><%= opdrecord.read_attribute(:l_ww) %></td>
              </tr>
              <tr>
                <td class="table-css">REMARK</td>
                <td class="table-css" colspan="2"><%= opdrecord.read_attribute(:remark) %></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>




<!--      rigth section starts from here-->
      <div class="col-md-6 right-section">
        <div class="row">

          <table class="table table-bordered mb10" width="100%">
            <thead>
            <tr>
              <th width="40%" class="table-css">IOL CAL</th>
              <th width="30%" class="table-css">R/OD</th>
              <th width="30%" class="table-css">L/OS</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="table-css">EMMETROPIA</td>
              <td class="table-css"><%= opdrecord.read_attribute(:r_iol_emmetropia) %></td>
              <td class="table-css"><%= opdrecord.read_attribute(:l_iol_emmetropia) %></td>
            </tr>
            <tr>
              <td class="table-css">AMMETROPIA</td>
              <td class="table-css"><%= opdrecord.read_attribute(:r_iol_ammetropia) %></td>
              <td class="table-css"><%= opdrecord.read_attribute(:l_iol_ammetropia) %></td>
            </tr>
            <tr>
              <td class="table-css">SIZE</td>
              <td class="table-css"><%= opdrecord.read_attribute(:r_iol_size) %></td>
              <td class="table-css"><%= opdrecord.read_attribute(:l_iol_size) %></td>
            </tr>
            <tr>
              <td class="table-css">FORMULA</td>
              <td class="table-css"><%= opdrecord.read_attribute(:r_iol_formula) %></td>
              <td class="table-css"><%= opdrecord.read_attribute(:l_iol_formula) %></td>
            </tr>
            <tr>
              <td class="table-css">MODEL</td>
              <td class="table-css"><%= opdrecord.read_attribute(:r_iol_model) %></td>
              <td class="table-css"><%= opdrecord.read_attribute(:l_iol_model) %></td>
            </tr>

            <tr>
              <td class="table-css">A-CONSTANT</td>
              <td class="table-css"><%= opdrecord.read_attribute(:r_iol_a_constant) %></td>
              <td class="table-css"><%= opdrecord.read_attribute(:l_iol_a_constant) %></td>
            </tr>
            <tr>
              <td class="table-css">POWER</td>
              <td class="table-css"><%= opdrecord.read_attribute(:r_iol_power) %></td>
              <td class="table-css"><%= opdrecord.read_attribute(:l_iol_power) %></td>
            </tr>
            <tr>
              <td class="table-css">TARGET</td>
              <td class="table-css"><%= opdrecord.read_attribute(:r_iol_target) %></td>
              <td class="table-css"><%= opdrecord.read_attribute(:l_iol_target) %></td>
            </tr>
            <tr>
              <td class="table-css">FORMULA 1</td>
              <td class="table-css"><%= opdrecord.read_attribute(:r_iol_formula_1) %></td>
              <td class="table-css"><%= opdrecord.read_attribute(:l_iol_formula_1) %></td>
            </tr>
            <tr>
              <td class="table-css">MODEL</td>
              <td class="table-css"><%= opdrecord.read_attribute(:r_iol_model_1) %></td>
              <td class="table-css"><%= opdrecord.read_attribute(:l_iol_model_1) %></td>
            </tr>

            <tr>
              <td class="table-css">A-CONSTANT</td>
              <td class="table-css"><%= opdrecord.read_attribute(:r_iol_a_constant_1) %></td>
              <td class="table-css"><%= opdrecord.read_attribute(:l_iol_a_constant_1) %></td>
            </tr>
            <tr>
              <td class="table-css">POWER</td>
              <td class="table-css"><%= opdrecord.read_attribute(:r_iol_power_1) %></td>
              <td class="table-css"><%= opdrecord.read_attribute(:l_iol_power_1) %></td>
            </tr>
            <tr>
              <td class="table-css">TARGET</td>
              <td class="table-css"><%= opdrecord.read_attribute(:r_iol_target_1) %></td>
              <td class="table-css"><%= opdrecord.read_attribute(:l_iol_target_1) %></td>
            </tr>

            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>

<style>
  thead { display: table-header-group }
  tfoot { display: table-row-group }
  tr { page-break-inside: avoid }
</style>