<div class="row">
  <% if opdrecord.has_postoprecord? %>
    <br>
    <div class="row mb5">
      <strong>POSTOP CHECKUP - PROCEDURE PERFORMED</strong>
        <div class="summary-line-border"></div>
    </div>
    <div class="row mb10 check_font">
      <table class="table table-bordered" style="margin-bottom: 5px;">
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Surgery Name</th>
            <th>Eye Side</th>
            <th>Surgery Date</th>
            <th>Post Operative Day</th>
            <th>Surgeon</th>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody>
          <% opdrecord.postoprecord.each.with_index do |record,i| %>
            <tr>
              <td><%= i + 1 %></td>
              <td><b><%= record.surgery_name.to_s.upcase %></b></td>
              <td>
                <%if record.try(:eyeside).present?%>
                  <%= record.eyeside %>
                <%else%>
                  -
                <%end%>
              </td>
              <td>
                <%if record.try(:surgery_date).present?%>
                  <%= record.surgery_date.try(:strftime, '%d/%m/%Y') %>
                <%else%>
                  -
                <%end%>
              </td>
              <td>
                <%if record.try(:post_operative_day).present?%>
                  <%= record.post_operative_day %>
                <%else%>
                  -
                <%end%>
              </td>
              <td>
                <%if record.try(:surgeon_name).present?%>
                  <%= record.surgeon_name %>
                <%else%>
                  -
                <%end%>
              </td>
              <td>
                <%if record.try(:comment).present?%>
                  <%= record.comment %>
                <%else%>
                  -
                <%end%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>

<% if opdrecord.postop_comment.present? %>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <span><b>Surgery Comments:</b> <%= opdrecord.postop_comment %></span>
    </div>
  </div>
<% end %>

<style type="text/css">
  <% if mail_job == false %>
    <% if (params[:action] == 'print_opd_record') || (params[:action] == 'print_medication') %>
    .check_font * {
      font-size: 8px !important;
      font-weight: normal;
    }
    <% else %>
      .check_font * {
        font-size: 12px !important;
        font-weight: normal;
      }
    <% end %>
  <% elsif mail_job == true%>
    .check_font * {
      font-size: 8px !important;
      font-weight: normal;
    }
  <%end%>
  .check_font table tr th {
    padding: 2px 5px;
  }

  .check_font table tr td {
    padding: 2px 5px;
  }

  thead { display: table-header-group }
  tr { page-break-inside: avoid }
</style>
