<tr>
  <td><%= i + 1 %></td>
  <td style="word-break: break-all;"><b><%= medication.medicinename.to_s.upcase %><% if medication.medicinetype? %> - <%= medication.medicinetype.to_s.upcase %><% end %></b>
    <% facility = Facility.find_by(id: current_facility.id) %>
    <% if facility.display_generic_name && medication.generic_display_name.present? %>
      <br>
      <% unless medication.generic_display_name == 'undefined' %>
        Generic - <%= medication.generic_display_name %>
      <% end %>
    <% end %>
  </td>
  <% if medication.taper_id == "0" || medication.taper_id == nil || medication.taper_id == "" %>
    <td class="text-center"><%= medication.medicinequantity %></td>
    <td class="text-center">
      <%= OpdRecordsHelper.medicine_frequency(medication.medicinefrequency) %>
    </td>
    <td>
      <%= OpdRecordsHelper.medicine_duration(medication.medicinedurationoption, medication.medicineduration) %>
    </td>
  <% else %>
    <td colspan="3" class="text-center">
      As advised below
    </td>
  <% end %>
  <td>
    <%= OpdRecordsHelper.medicine_eyeside(medication['eyeside']) %>
  </td>
  <td style="word-break: break-all;">
    <% language = params[:advice_language] rescue nil %>
    <% @medication_set_arr ||= Global.send('medication_instruction_option').send('sets') %>
    <%= OpdRecordsHelper.medical_instructions(medication, @medication_set_arr, current_facility.country_id, language) %>
  </td>
</tr>
