<% if mail_job == true %>
  <% @flag = "print" %>
<% end %>

<% obj = OpdRecordHelpers::GlassPrescriptions::Intermediate.new(opdrecord) %>

<div class="intermediate_glasses_prescriptions mb5" id="intermediate_glasses_prescriptions">
  <% if opdrecord.send("#{@flag}_intermediate_glasses_prescriptions_flag") == "1" %>
    <% values = obj.calculate_advice_values %>
 
    <% if values[:glassesprescriptions_counter] > 0 %>
      <div class="row mb5 <%= 'print_text_font_size' if  @print_setting %>" style="<%= text_font_size %>">
        <span><strong>INTERMEDIATE GLASSES PRESCRIPTIONS</strong></span>
        <% if mail_job == false %>
          <% unless params[:action] == "print_opd_record"  || params[:action] == "print_glass_prescription" || params[:action] == "optoreading" %>  <!-- In case of optometrist past reading view -->
          <span style="float: right;margin-top: -4px; <%= text_font_size %>" class="<%= 'print_text_font_size' if  @print_setting %>">
              <div class="btn-group" style="margin-top: 0px;">
                <% if Authorization::PolicyHelper.verification(current_user.id ,"HGP-101-112-101") %>
                  <%= link_to new_mail_record_tracker_path(record_name: 'Intermediate Glass Prescription', patient_id: opdrecord.patientid.to_s, record_id: opdrecord._id, record_model: 'OpdRecord', appointment_id: appointment.id, speciality: specalityfoldername), class: "btn btn-xs btn-primary", data: { remote: true, 'disable-with' =>  "Please Wait..." } do %> <i class="fa fa-envelope"></i> Email<% end %>
                <% end %>
                <% if @mode != "tabview" %>
                  <% if Authorization::PolicyHelper.verification(current_user.id ,"HGP-101-112-100") %>  
                    <% if @print_settings.count > 1 %>
                      <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-xs full_print dropdown-toggle" data-toggle="dropdown"><i class="fa fa-print mr5"></i> Print <i class="fa fa-caret-down"></i></button>
                        <ul class="dropdown-menu dropdown-left-manual" role="menu" aria-labelledby="summary-print-dropdown" style="">
                          <% @print_settings.each do |print_setting| %>
                            <li style="text-align:left" class="multi-print">
                              <%= link_to opd_records_print_glass_prescription_path(flag: 'intermediate_glasses_prescriptions', opdrecordid: opdrecord._id, patientid: opdrecord.patientid, appointmentid: appointment.id, templatetype: templatetype, specality: specalityfoldername, print_setting_id: print_setting.id, format: :pdf), class: "", style: "color: #d9534f;", target: "_blank", data: {method: :get } do %> <i class="fa fa-print mr5"></i> <%= print_setting.name %> <% end %>
                            </li>
                          <% end %>
                        </ul>
                      </div>
                    <% else %>
                      <%= link_to opd_records_print_glass_prescription_path(flag: 'intermediate_glasses_prescriptions', opdrecordid: opdrecord._id, patientid: opdrecord.patientid, appointmentid: appointment.id, templatetype: templatetype, specality: specalityfoldername, print_setting_id: @print_settings[0].id, format: :pdf), class: "btn btn-primary btn-xs full_print", target: "_blank", data: {method: :get } do %> <i class="fa fa-print mr5"></i> Print<% end %>
                    <% end %>
                  <% end %>
                <% end %>  
              </div>
            </span>

          <%end%>
        <% end %>
        <div class="summary-line-border"></div>
      </div>

      <div class="row <%= 'print_text_font_size' if  @print_setting %>" style="<%= text_font_size %>"> 
        <div class="col-md-6 col-sm-6">
          <div class="text-center" style="background-color:#ddd;">R/OD</div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="text-center" style="background-color:#ddd;">L/OS</div>
        </div>

        <div class="col-md-6 col-sm-6">
          <% if values[:r_glasses_prescriptions_counter] > 0 %>
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th width="40%" style="padding:1px;font-size:11px;text-align: center;"></th>
                  <th width="15%" style="padding:1px;font-size:11px;text-align: center;">Sph</th>
                  <th width="15%" style="padding:1px;font-size:11px;text-align: center;">Cyl</th>
                  <th width="15%" style="padding:1px;font-size:11px;text-align: center;">Axis</th>
                  <th width="15%" style="padding:1px;font-size:11px;text-align: center;">Vision</th>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td style="padding:1px;font-size:11px;text-align: center;">Distant</td>
                  <td style="padding:1px;font-size:11px;text-align: center;"><%= values['r_intermediate_glasses_prescriptions_distant_sph'] %></td>
                  <td style="padding:1px;font-size:11px;text-align: center;"><%= values['r_intermediate_glasses_prescriptions_distant_cyl'] %></td>
                  <td style="padding:1px;font-size:11px;text-align: center;"><%= values['r_intermediate_glasses_prescriptions_distant_axis'] %></td>
                  <td style="padding:1px;font-size:11px;text-align: center;"><%= values['r_intermediate_glasses_prescriptions_distant_vision'] %></td>
                </tr>
                <% if values[:show_add] %>
                  <tr>
                    <td style="padding:1px;font-size:11px;text-align: center;">Add</td>
                    <td style="padding:1px;font-size:11px;text-align: center;"><%= values['r_intermediate_glasses_prescriptions_add_sph'] %></td>
                    <td style="padding:1px;font-size:11px;text-align: center;"><%= values['r_intermediate_glasses_prescriptions_add_cyl'] %></td>
                    <td style="padding:1px;font-size:11px;text-align: center;"><%= values['r_intermediate_glasses_prescriptions_add_axis'] %></td>
                    <td style="padding:1px;font-size:11px;text-align: center;"><%= values['r_intermediate_glasses_prescriptions_add_vision'] %></td>
                  </tr>
                <% end %>
                <tr>
                  <td style="padding:1px;font-size:11px;text-align: center;">Near</td>
                  <td style="padding:1px;font-size:11px;text-align: center;"><%= values['r_intermediate_glasses_prescriptions_near_sph'] %></td>
                  <td style="padding:1px;font-size:11px;text-align: center;"><%= values['r_intermediate_glasses_prescriptions_near_cyl'] %></td>
                  <td style="padding:1px;font-size:11px;text-align: center;"><%= values['r_intermediate_glasses_prescriptions_near_axis'] %></td>
                  <td style="padding:1px;font-size:11px;text-align: center;"><%= values['r_intermediate_glasses_prescriptions_near_vision'] %></td>
                </tr>
              </tbody>
            </table>
          <% end %>

          <% if values['r_intermediate_acceptance_comments'] != '--' %>
            <span style="font-size: 11px"><b>Advice</b> : <%= values['r_intermediate_acceptance_comments'] %></span>
          <% end %>
        </div>

        <div class="col-md-6 col-sm-6">
          <% if values[:l_glasses_prescriptions_counter] > 0 %>
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th width="40%" style="padding:1px;font-size:11px;text-align: center;"></th>
                  <th width="15%" style="padding:1px;font-size:11px;text-align: center;">Sph</th>
                  <th width="15%" style="padding:1px;font-size:11px;text-align: center;">Cyl</th>
                  <th width="15%" style="padding:1px;font-size:11px;text-align: center;">Axis</th>
                  <th width="15%" style="padding:1px;font-size:11px;text-align: center;">Vision</th>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td style="padding:1px;font-size:11px;text-align: center;">Distant</td>
                  <td style="padding:1px;font-size:11px;text-align: center;"><%= values['l_intermediate_glasses_prescriptions_distant_sph'] %></td>
                  <td style="padding:1px;font-size:11px;text-align: center;"><%= values['l_intermediate_glasses_prescriptions_distant_cyl'] %></td>
                  <td style="padding:1px;font-size:11px;text-align: center;"><%= values['l_intermediate_glasses_prescriptions_distant_axis'] %></td>
                  <td style="padding:1px;font-size:11px;text-align: center;"><%= values['l_intermediate_glasses_prescriptions_distant_vision'] %></td>
                </tr>
                <% if values[:show_add] %>
                  <tr>
                    <td style="padding:1px;font-size:11px;text-align: center;">Add</td>
                    <td style="padding:1px;font-size:11px;text-align: center;"><%= values['l_intermediate_glasses_prescriptions_add_sph'] %></td>
                    <td style="padding:1px;font-size:11px;text-align: center;"><%= values['l_intermediate_glasses_prescriptions_add_cyl'] %></td>
                    <td style="padding:1px;font-size:11px;text-align: center;"><%= values['l_intermediate_glasses_prescriptions_add_axis'] %></td>
                    <td style="padding:1px;font-size:11px;text-align: center;"><%= values['l_intermediate_glasses_prescriptions_add_vision'] %></td>
                  </tr>
                <% end %>
                <tr>
                  <td style="padding:1px;font-size:11px;text-align: center;">Near</td>
                  <td style="padding:1px;font-size:11px;text-align: center;"><%= values['l_intermediate_glasses_prescriptions_near_sph'] %></td>
                  <td style="padding:1px;font-size:11px;text-align: center;"><%= values['l_intermediate_glasses_prescriptions_near_cyl'] %></td>
                  <td style="padding:1px;font-size:11px;text-align: center;"><%= values['l_intermediate_glasses_prescriptions_near_axis'] %></td>
                  <td style="padding:1px;font-size:11px;text-align: center;"><%= values['l_intermediate_glasses_prescriptions_near_vision'] %></td>
                </tr>
              </tbody>
            </table>
          <% end %>

          <% if values['l_intermediate_acceptance_comments'] != '--' %>
            <span style="font-size: 11px"><b>Advice</b> : <%= values['l_intermediate_acceptance_comments'] %></span>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if opdrecord.send("#{@flag}_examination_flag") == "1" %>
    <% values = obj.calculate_exam_values %>

    <div class="row <%= 'print_text_font_size' if  @print_setting %>" style="<%= text_font_size %>">
      <div class="col-md-6 col-sm-6">
        <%= values[:r_acceptance_values].split(',').reject(&:blank?).join(' |') %>
      </div>
      <div class="col-md-6 col-sm-6">
        <%= values[:l_acceptance_values].split(',').reject(&:blank?).join(' |') %>
      </div>
    </div>
  <% end %>
</div>

<style type="text/css">
  
.<%= 'print_text_font_size' if  @print_setting %> *{
  font-size: inherit!important
}
</style>