<% if opdrecord.send("#{@flag}_examination_flag") == "1" %>
  <div class="examination mb5" id="examination">
    <% examination_counter = 0 %>
      <% generalexamination_counter = 0 %>

      <% if opdrecord.generalexaminationcommoncomments.present? && opdrecord.generalexaminationcommoncomments.length > 0 %>
        <% generalexaminationcommoncomments = opdrecord.read_attribute(:generalexaminationcommoncomments).to_s %>
        <% examination_counter += 1 %>
        <% generalexamination_counter += 1 %>
      <% end %>

      <% if opdrecord.generalexaminationcomments.length > 0 %>
        <% generalexaminationcomments = opdrecord.read_attribute(:generalexaminationcomments).to_s %>
        <% examination_counter += 1 %>
        <% generalexamination_counter += 1 %>
      <% end %>

    <% r_visualacuity_counter = 0 %>
    <% r_visualacuity_op = '' %>
    <% r_visualacuity_unaided = '' %>
    <% r_visualacuity_unaided_p = '' %>
    <% r_visualacuity_pinhole = '' %>
    <% r_visualacuity_pinhole_p = '' %>
    <% r_visualacuity_pinhole_ni = '' %>
    <% r_visualacuity_glasses = '' %>
    <% r_visualacuity_glasses_p = '' %>
    <% r_visualacuity_lens = '' %>
    <% r_visualacuity_lens_p = '' %>
    <% r_visualacuity_near = '' %>
    <% r_visualacuity_ua_s = '' %>
    <% r_visualacuity_ua_n = '' %>
    <% r_visualacuity_ua_i = '' %>
    <% r_visualacuity_ua_t = '' %>
    <% r_visualacuity_near_p = '' %>
    <% r_visualacuity_ua_near = '' %>
    <% r_visualacuity_ua_near_p = '' %>

    <% r_intraocularpressure_counter = 0 %>
    <% r_intraocularpressure_op = '' %>
    <% r_intraocularpressure = '' %>
    <% r_intraocularpressure_time = '' %>
    <% r_intraocularpressure_comments = '' %>

    <% if opdrecord.read_attribute(:r_visualacuity_unaided_p).present? %>
      <% r_visualacuity_unaided_p = "(#{opdrecord.read_attribute(:r_visualacuity_unaided_p)})" %>
    <% end %>
    <% if opdrecord.read_attribute(:r_visualacuity_unaided_comments).to_s.length > 0 %>
      <% r_visualacuity_unaided_comments = " (#{opdrecord.read_attribute(:r_visualacuity_unaided_comments)})" %>
    <% end %>
    <% unless opdrecord.r_visualacuity_unaided.blank? %>
      <% r_visualacuity_unaided = "UCVA - #{OpdRecordsHelper.visualacuity_unaided(opdrecord.read_attribute(:r_visualacuity_unaided))}#{r_visualacuity_unaided_p}#{r_visualacuity_unaided_comments}" %>
      <% r_visualacuity_op = r_visualacuity_unaided.to_s %>
      <% r_visualacuity_counter += 1 %>
      <% examination_counter += 1 %>
    <% end %>
    <% if opdrecord.read_attribute(:r_visualacuity_pinhole_p).present? %>
      <% r_visualacuity_pinhole_p = "(#{opdrecord.read_attribute(:r_visualacuity_pinhole_p)})" %>
    <% end %>
    <% if opdrecord.read_attribute(:r_visualacuity_pinhole_ni).present? %>
      <% r_visualacuity_pinhole_ni = "(#{opdrecord.read_attribute(:r_visualacuity_pinhole_ni)})" %>
    <% end %>
    <% if opdrecord.read_attribute(:r_visualacuity_ua_near_p).present? %>
      <% r_visualacuity_ua_near_p = "(#{opdrecord.read_attribute(:r_visualacuity_ua_near_p)})" %>
    <% end %>
    <% if opdrecord.read_attribute(:r_visualacuity_ua_near_comments).to_s.length > 0 %>
      <% r_visualacuity_ua_near_comments = " (#{opdrecord.read_attribute(:r_visualacuity_ua_near_comments)})" %>
    <% end %>
    <% unless opdrecord.r_visualacuity_ua_near.blank? %>
      <% r_visualacuity_ua_near = "UCVA Near- #{opdrecord.read_attribute(:r_visualacuity_ua_near)}#{r_visualacuity_ua_near_p}#{r_visualacuity_ua_near_comments}" %>
      <% r_visualacuity_op = "#{r_visualacuity_op} #{r_visualacuity_ua_near}" %>
      <% r_visualacuity_counter += 1 %>
      <% examination_counter += 1 %>
    <% end %>
    <% if opdrecord.r_visualacuity_ua_s.present? %>
      <% r_visualacuity_ua_s = "S#{opdrecord.read_attribute(:r_visualacuity_ua_s)}" %>
      <% r_visualacuity_counter += 1 %>
      <% examination_counter += 1 %>
    <% end %>
    <% if opdrecord.r_visualacuity_ua_i.present? %>
      <% r_visualacuity_ua_i = "I#{opdrecord.read_attribute(:r_visualacuity_ua_i)}" %>
      <% r_visualacuity_counter += 1 %>
      <% examination_counter += 1 %>
    <% end %>
    <% if opdrecord.r_visualacuity_ua_n.present? %>
      <% r_visualacuity_ua_n = "N#{opdrecord.read_attribute(:r_visualacuity_ua_n)}" %>
      <% r_visualacuity_counter += 1 %>
      <% examination_counter += 1 %>
    <% end %>
    <% if opdrecord.r_visualacuity_ua_t.present? %>
      <% r_visualacuity_ua_t = "T#{opdrecord.read_attribute(:r_visualacuity_ua_t)}" %>
      <% r_visualacuity_counter += 1 %>
      <% examination_counter += 1 %>
    <% end %>
    <% if opdrecord.read_attribute(:r_visualacuity_pinhole_comments).to_s.length > 0 %>
      <% r_visualacuity_pinhole_comments = " (#{opdrecord.read_attribute(:r_visualacuity_pinhole_comments)})" %>
    <% end %>
    <% unless opdrecord.r_visualacuity_pinhole.blank? %>
      <% r_visualacuity_pinhole = "PH- #{OpdRecordsHelper.visualacuity_unaided(opdrecord.read_attribute(:r_visualacuity_pinhole))}#{r_visualacuity_pinhole_p}#{r_visualacuity_pinhole_ni}#{r_visualacuity_pinhole_comments}" %>
      <% r_visualacuity_op = "#{r_visualacuity_op} #{r_visualacuity_pinhole}" %>
      <% r_visualacuity_counter += 1 %>
      <% examination_counter += 1 %>
    <% end %>
    <% if opdrecord.read_attribute(:r_visualacuity_glasses_p).present? %>
      <% r_visualacuity_glasses_p = "(#{opdrecord.read_attribute(:r_visualacuity_glasses_p)})" %>
    <% end %>
    <% if opdrecord.read_attribute(:r_visualacuity_glasses_comments).to_s.length > 0 %>
      <% r_visualacuity_glasses_comments = " (#{opdrecord.read_attribute(:r_visualacuity_glasses_comments)})" %>
    <% end %>
    <% unless opdrecord.r_visualacuity_glasses.blank? %>
      <% r_visualacuity_glasses = "Glasses- #{OpdRecordsHelper.visualacuity_unaided(opdrecord.read_attribute(:r_visualacuity_glasses))}#{r_visualacuity_glasses_p}#{r_visualacuity_glasses_comments}" %>
      <% r_visualacuity_op = "#{r_visualacuity_op} #{r_visualacuity_glasses}" %>
      <% r_visualacuity_counter += 1 %>
      <% examination_counter += 1 %>
    <% end %>
    <% if opdrecord.read_attribute(:r_visualacuity_lens_p).present? %>
      <% r_visualacuity_lens_p = "(#{opdrecord.read_attribute(:r_visualacuity_lens_p)})" %>
    <% end %>
    <% if opdrecord.read_attribute(:r_visualacuity_lens_comments).to_s.length > 0 %>
      <% r_visualacuity_lens_comments = " (#{opdrecord.read_attribute(:r_visualacuity_lens_comments)})" %>
    <% end %>
    <% unless opdrecord.r_visualacuity_lens.blank? %>
      <% r_visualacuity_lens = "Contact Lens- #{OpdRecordsHelper.visualacuity_unaided(opdrecord.read_attribute(:r_visualacuity_lens))}#{r_visualacuity_lens_p}#{r_visualacuity_lens_comments}" %>
      <% r_visualacuity_op = "#{r_visualacuity_op} #{r_visualacuity_lens}" %>
      <% r_visualacuity_counter += 1 %>
      <% examination_counter += 1 %>
    <% end %>
    <% if opdrecord.read_attribute(:r_visualacuity_near_p).present? %>
      <% r_visualacuity_near_p = "(#{opdrecord.read_attribute(:r_visualacuity_near_p)})" %>
    <% end %>
    <% if opdrecord.read_attribute(:r_visualacuity_near_comments).to_s.length > 0 %>
      <% r_visualacuity_near_comments = " (#{opdrecord.read_attribute(:r_visualacuity_near_comments)})" %>
    <% end %>
    <% unless opdrecord.r_visualacuity_near.blank? %>
      <% r_visualacuity_near = "Glasses Near- #{opdrecord.read_attribute(:r_visualacuity_near)}#{r_visualacuity_near_p}#{r_visualacuity_near_comments}" %>
      <% r_visualacuity_op = "#{r_visualacuity_op} #{r_visualacuity_near}" %>
      <% r_visualacuity_counter += 1 %>
      <% examination_counter += 1 %>
    <% end %>
    <% unless opdrecord.r_visualacuity_comments.blank? %>
      <% r_visualacuity_comments = " Comments- #{opdrecord.read_attribute(:r_visualacuity_comments)}" %>
      <% r_visualacuity_op = "#{r_visualacuity_op} #{r_visualacuity_comments}" %>
      <% r_visualacuity_counter += 1 %>
      <% examination_counter += 1 %>
    <% end %>

    <% if opdrecord.r_intraocularpressure.present? %>
      <% r_intraocularpressure = "#{opdrecord.read_attribute(:r_intraocularpressure)} mmHG" %>
      <% r_intraocularpressure_op = "#{r_intraocularpressure_op}#{r_intraocularpressure}" %>
      <% r_intraocularpressure_counter += 1 %>
      <% examination_counter += 1 %>
    <% end %>
    <% if opdrecord.r_intraocularpressure.present? && opdrecord.r_intraocularpressure_time.present? %>
      <% r_intraocularpressure_time = opdrecord.read_attribute(:r_intraocularpressure_time).to_s %>
      <% r_intraocularpressure_op = "#{r_intraocularpressure_op} at #{r_intraocularpressure_time}" %>
      <%# r_intraocularpressure_counter = r_intraocularpressure_counter + 1 %>
      <%# examination_counter = examination_counter + 1 %>
    <% end %>
    <% if opdrecord.r_intraocularpressure_comments.present? %>
      <% r_intraocularpressure_comments = opdrecord.read_attribute(:r_intraocularpressure_comments).to_s %>
      <% r_intraocularpressure_counter += 1 %>
      <% examination_counter += 1 %>
    <% end %>



    <% l_visualacuity_counter = 0 %>
    <% l_visualacuity_op = '' %>
    <% l_visualacuity_unaided = '' %>
    <% l_visualacuity_unaided_p = '' %>
    <% l_visualacuity_pinhole = '' %>
    <% l_visualacuity_pinhole_p = '' %>
    <% l_visualacuity_pinhole_ni = '' %>
    <% l_visualacuity_glasses = '' %>
    <% l_visualacuity_glasses_p = '' %>
    <% l_visualacuity_lens = '' %>
    <% l_visualacuity_lens_p = '' %>
    <% l_visualacuity_near = '' %>
    <% l_visualacuity_ua_s = '' %>
    <% l_visualacuity_ua_n = '' %>
    <% l_visualacuity_ua_i = '' %>
    <% l_visualacuity_ua_t = '' %>
    <% l_visualacuity_near_p = '' %>
    <% l_visualacuity_ua_near = '' %>
    <% l_visualacuity_ua_near_p = '' %>

    <% l_intraocularpressure_counter = 0 %>
    <% l_intraocularpressure_op = '' %>
    <% l_intraocularpressure = '' %>
    <% l_intraocularpressure_time = '' %>
    <% l_intraocularpressure_comments = '' %>

    <% diagram_counter = 0 %>
    <% if mail_job == false %>
      <% unless params[:action] == "print_opd_record" %>
        <% if opdrecord['r_appendages_diagram_present'] == "Y" %>
          <% diagram_counter += 1 %>
          <% examination_counter += 1 %>
        <% end %>
        <% if opdrecord['r_cornea_diagram_present'] == "Y" %>
          <% diagram_counter += 1 %>
          <% examination_counter += 1 %>
        <% end %>
        <% if opdrecord['r_corneaslit_diagram_present'] == "Y" %>
          <% diagram_counter += 1 %>
          <% examination_counter += 1 %>
        <% end %>
        <% if opdrecord['r_fundus_diagram_present'] == "Y" %>
          <% diagram_counter += 1 %>
          <% examination_counter += 1 %>
        <% end %>
        <% if opdrecord['l_appendages_diagram_present'] == "Y" %>
          <% diagram_counter += 1 %>
          <% examination_counter += 1 %>
        <% end %>
        <% if opdrecord['l_cornea_diagram_present'] == "Y" %>
          <% diagram_counter += 1 %>
          <% examination_counter += 1 %>
        <% end %>
        <% if opdrecord['l_corneaslit_diagram_present'] == "Y" %>
          <% diagram_counter += 1 %>
          <% examination_counter += 1 %>
        <% end %>
        <% if opdrecord['l_fundus_diagram_present'] == "Y" %>
          <% diagram_counter += 1 %>
          <% examination_counter += 1 %>
        <% end %>
      <% end %>
    <% end %>

    <% if opdrecord.read_attribute(:l_visualacuity_unaided_p).present? %>
      <% l_visualacuity_unaided_p = "(#{opdrecord.read_attribute(:l_visualacuity_unaided_p)})" %>
    <% end %>
    <% if opdrecord.read_attribute(:l_visualacuity_unaided_comments).to_s.length > 0 %>
      <% l_visualacuity_unaided_comments = " (#{opdrecord.read_attribute(:l_visualacuity_unaided_comments)})" %>
    <% end %>
    <% unless opdrecord.l_visualacuity_unaided.blank? %>
      <% l_visualacuity_unaided = "UCVA - #{OpdRecordsHelper.visualacuity_unaided(opdrecord.read_attribute(:l_visualacuity_unaided))}#{l_visualacuity_unaided_p}#{l_visualacuity_unaided_comments}" %>
      <% l_visualacuity_op = l_visualacuity_unaided.to_s %>
      <% l_visualacuity_counter += 1 %>
      <% examination_counter += 1 %>
    <% end %>
    <% if opdrecord.read_attribute(:l_visualacuity_ua_near_p).present? %>
      <% l_visualacuity_ua_near_p = "(#{opdrecord.read_attribute(:l_visualacuity_ua_near_p)})" %>
    <% end %>
    <% if opdrecord.read_attribute(:l_visualacuity_ua_near_comments).to_s.length > 0 %>
      <% l_visualacuity_ua_near_comments = " (#{opdrecord.read_attribute(:l_visualacuity_ua_near_comments)})" %>
    <% end %>
    <% unless opdrecord.l_visualacuity_ua_near.blank? %>
      <% l_visualacuity_ua_near = "UCVA Near- #{opdrecord.read_attribute(:l_visualacuity_ua_near)}#{l_visualacuity_ua_near_p}#{l_visualacuity_ua_near_comments}" %>
      <% l_visualacuity_op = "#{l_visualacuity_op} #{l_visualacuity_ua_near}" %>
      <% l_visualacuity_counter += 1 %>
      <% examination_counter += 1 %>
    <% end %>
    <% if opdrecord.l_visualacuity_ua_s.present? %>
      <% l_visualacuity_ua_s = "S#{opdrecord.read_attribute(:l_visualacuity_ua_s)}" %>
      <% l_visualacuity_counter += 1 %>
      <% examination_counter += 1 %>
    <% end %>
    <% if opdrecord.l_visualacuity_ua_i.present? %>
      <% l_visualacuity_ua_i = "I#{opdrecord.read_attribute(:l_visualacuity_ua_i)}" %>
      <% l_visualacuity_counter += 1 %>
      <% examination_counter += 1 %>
    <% end %>
    <% if opdrecord.l_visualacuity_ua_n.present? %>
      <% l_visualacuity_ua_n = "N#{opdrecord.read_attribute(:l_visualacuity_ua_n)}" %>
      <% l_visualacuity_counter += 1 %>
      <% examination_counter += 1 %>
    <% end %>
    <% if opdrecord.l_visualacuity_ua_t.present? %>
      <% l_visualacuity_ua_t = "T#{opdrecord.read_attribute(:l_visualacuity_ua_t)}" %>
      <% l_visualacuity_counter += 1 %>
      <% examination_counter += 1 %>
    <% end %>
    <% if opdrecord.read_attribute(:l_visualacuity_pinhole_p).present? %>
      <% l_visualacuity_pinhole_p = "(#{opdrecord.read_attribute(:l_visualacuity_pinhole_p)})" %>
    <% end %>
    <% if opdrecord.read_attribute(:l_visualacuity_pinhole_ni).present? %>
      <% l_visualacuity_pinhole_ni = "(#{opdrecord.read_attribute(:l_visualacuity_pinhole_ni)})" %>
    <% end %>
    <% if opdrecord.read_attribute(:l_visualacuity_pinhole_comments).to_s.length > 0 %>
      <% l_visualacuity_pinhole_comments = " (#{opdrecord.read_attribute(:l_visualacuity_pinhole_comments)})" %>
    <% end %>
    <% unless opdrecord.l_visualacuity_pinhole.blank? %>
      <% l_visualacuity_pinhole = "PH- #{OpdRecordsHelper.visualacuity_unaided(opdrecord.read_attribute(:l_visualacuity_pinhole))}#{l_visualacuity_pinhole_p}#{l_visualacuity_pinhole_ni}#{l_visualacuity_pinhole_comments}" %>
      <% l_visualacuity_op = "#{l_visualacuity_op} #{l_visualacuity_pinhole}" %>
      <% l_visualacuity_counter += 1 %>
      <% examination_counter += 1 %>
    <% end %>
    <% if opdrecord.read_attribute(:l_visualacuity_glasses_p).present? %>
      <% l_visualacuity_glasses_p = "(#{opdrecord.read_attribute(:l_visualacuity_glasses_p)})" %>
    <% end %>
    <% if opdrecord.read_attribute(:l_visualacuity_glasses_comments).to_s.length > 0 %>
      <% l_visualacuity_glasses_comments = " (#{opdrecord.read_attribute(:l_visualacuity_glasses_comments)})" %>
    <% end %>
    <% unless opdrecord.l_visualacuity_glasses.blank? %>
      <% l_visualacuity_glasses = "Glasses- #{OpdRecordsHelper.visualacuity_unaided(opdrecord.read_attribute(:l_visualacuity_glasses))}#{l_visualacuity_glasses_p}#{l_visualacuity_glasses_comments}" %>
      <% l_visualacuity_op = "#{l_visualacuity_op} #{l_visualacuity_glasses}" %>
      <% l_visualacuity_counter += 1 %>
      <% examination_counter += 1 %>
    <% end %>
    <% if opdrecord.read_attribute(:l_visualacuity_lens_p).present? %>
      <% l_visualacuity_lens_p = "(#{opdrecord.read_attribute(:l_visualacuity_lens_p)})" %>
    <% end %>
    <% if opdrecord.read_attribute(:l_visualacuity_lens_comments).to_s.length > 0 %>
      <% l_visualacuity_lens_comments = " (#{opdrecord.read_attribute(:l_visualacuity_lens_comments)})" %>
    <% end %>
    <% unless opdrecord.l_visualacuity_lens.blank? %>
      <% l_visualacuity_lens = "Contact Lens- #{OpdRecordsHelper.visualacuity_unaided(opdrecord.read_attribute(:l_visualacuity_lens))}#{l_visualacuity_lens_p}#{l_visualacuity_lens_comments}" %>
      <% l_visualacuity_op = "#{l_visualacuity_op} #{l_visualacuity_lens}" %>
      <% l_visualacuity_counter += 1 %>
      <% examination_counter += 1 %>
    <% end %>
    <% if opdrecord.read_attribute(:l_visualacuity_near_p).present? %>
      <% l_visualacuity_near_p = "(#{opdrecord.read_attribute(:l_visualacuity_near_p)})" %>
    <% end %>
    <% if opdrecord.read_attribute(:l_visualacuity_near_comments).to_s.length > 0 %>
      <% l_visualacuity_near_comments = " (#{opdrecord.read_attribute(:l_visualacuity_near_comments)})" %>
    <% end %>
    <% unless opdrecord.l_visualacuity_near.blank? %>
      <% l_visualacuity_near = "Glasses Near- #{opdrecord.read_attribute(:l_visualacuity_near)}#{l_visualacuity_near_p}#{l_visualacuity_near_comments}" %>
      <% l_visualacuity_op = "#{l_visualacuity_op} #{l_visualacuity_near}" %>
      <% l_visualacuity_counter += 1 %>
      <% examination_counter += 1 %>
    <% end %>
    <% unless opdrecord.l_visualacuity_comments.blank? %>
      <% l_visualacuity_comments = " Comments- #{opdrecord.read_attribute(:l_visualacuity_comments)}" %>
      <% l_visualacuity_op = "#{l_visualacuity_op} #{l_visualacuity_comments}" %>
      <% l_visualacuity_counter += 1 %>
      <% examination_counter += 1 %>
    <% end %>

    <% if opdrecord.l_intraocularpressure.present? %>
      <% l_intraocularpressure = "#{opdrecord.read_attribute(:l_intraocularpressure)} mmHG" %>
      <% l_intraocularpressure_op = "#{l_intraocularpressure_op}#{l_intraocularpressure}" %>
      <% l_intraocularpressure_counter += 1 %>
      <% examination_counter += 1 %>
    <% end %>
    <% if opdrecord.l_intraocularpressure.present? && opdrecord.l_intraocularpressure_time.present? %>
      <% l_intraocularpressure_time = opdrecord.read_attribute(:l_intraocularpressure_time).to_s %>
      <% l_intraocularpressure_op = "#{l_intraocularpressure_op} at #{l_intraocularpressure_time}" %>
      <%# l_intraocularpressure_counter = l_intraocularpressure_counter + 1 %>
      <%# examination_counter = examination_counter + 1 %>
    <% end %>
    <% if opdrecord.l_intraocularpressure_comments.present? %>
      <% l_intraocularpressure_comments = opdrecord.read_attribute(:l_intraocularpressure_comments).to_s %>
      <% l_intraocularpressure_counter += 1 %>
      <% examination_counter += 1 %>
    <% end %>

    <% if opdrecord.read_attribute(:"r_eyelids_comments").present? || opdrecord.read_attribute(:"r_conjunctiva_comments").present? || opdrecord.read_attribute(:"r_sclera_comments").present? || opdrecord.read_attribute(:"r_corneaquick_comments").present? ||opdrecord.read_attribute(:"r_vitreousquick_comments").present? || opdrecord.read_attribute(:"r_anteriorchamber_comments").present? || opdrecord.read_attribute(:"r_iris_comments").present? || opdrecord.read_attribute(:"r_pupilquick_comments").present? || opdrecord.read_attribute(:"r_lensquick_comments").present? || opdrecord.read_attribute(:"r_tonometry_comments").present? || opdrecord.read_attribute(:"r_gonioscopy_comments").present? || opdrecord.read_attribute(:"r_schirmers_comments").present? || opdrecord.read_attribute(:"r_lacrimalpatency_comments").present? || opdrecord.read_attribute(:"r_fundusquick_comments").present? || opdrecord.read_attribute(:"r_motorevaluation_comments").present? || opdrecord.read_attribute(:"r_squint_comments").present? || opdrecord.read_attribute(:"r_opticdiscquick_comments").present? || opdrecord.read_attribute(:"r_maculaquick_comments").present? || opdrecord.read_attribute(:"r_peripheralretinaquick_comments").present? %>
      <% examination_counter += 1 %>
    <% end %>
    <% if opdrecord.read_attribute(:"l_eyelids_comments").present? || opdrecord.read_attribute(:"l_conjunctiva_comments").present? || opdrecord.read_attribute(:"l_sclera_comments").present? || opdrecord.read_attribute(:"l_corneaquick_comments").present? || opdrecord.read_attribute(:"l_anteriorchamber_comments").present? || opdrecord.read_attribute(:"l_iris_comments").present? || opdrecord.read_attribute(:"l_pupilquick_comments").present? || opdrecord.read_attribute(:"l_lensquick_comments").present? ||opdrecord.read_attribute(:"l_vitreousquick_comments").present? || opdrecord.read_attribute(:"l_tonometry_comments").present? || opdrecord.read_attribute(:"l_gonioscopy_comments").present? || opdrecord.read_attribute(:"l_schirmers_comments").present? || opdrecord.read_attribute(:"l_lacrimalpatency_comments").present? || opdrecord.read_attribute(:"l_fundusquick_comments").present? || opdrecord.read_attribute(:"l_motorevaluation_comments").present? || opdrecord.read_attribute(:"l_squint_comments").present? || opdrecord.read_attribute(:"l_opticdiscquick_comments").present? || opdrecord.read_attribute(:"l_maculaquick_comments").present? || opdrecord.read_attribute(:"l_peripheralretinaquick_comments").present? %>
      <% examination_counter += 1 %>
    <% end %>

    <% if examination_counter > 0 %>
      <div class="row mb5">
        <strong style="<%= heading_font_size %>">EXAMINATION</strong><% if diagram_counter > 0 %><% end %>
        <div class="summary-line-border"></div>
      </div>
      <div class="row <%= 'print_text_font_size' if  @print_setting %>" style="<%= text_font_size %>">
        <div class="col-md-12 col-sm-12">
          <span style="white-space: pre-line"><%= generalexaminationcommoncomments %> </span>
        </div>
        <div class="col-md-12 col-sm-12">
          <span style="white-space: pre-line"><%= generalexaminationcomments %> </span>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="text-center" style="background-color:#ddd;">R/OD</div>
        </div><!-- col-md-6  -->
        <div class="col-md-6 col-sm-6">
          <div class="text-center" style="background-color:#ddd;">L/OS</div>
        </div><!-- col-md-6  -->
        <div class="col-md-6 col-sm-6">
          <% if r_visualacuity_counter > 0 %>
            <strong>VA:</strong> <%= r_visualacuity_op %><br>
            <% if r_visualacuity_ua_s.present? || r_visualacuity_ua_i.present? || r_visualacuity_ua_n.present? || r_visualacuity_ua_t.present? %>
                PR(UCVA): <%= r_visualacuity_ua_s %> <%= r_visualacuity_ua_i %> <%= r_visualacuity_ua_n %> <%= r_visualacuity_ua_t %>
            <% end %>
          <% end %>
          <% if r_intraocularpressure_counter > 0 %>
            <% if r_intraocularpressure_op.to_i >= 0 && r_intraocularpressure_op.to_i < 19 %>
                <strong>IOP:</strong>
                <%= r_intraocularpressure_op %>
            <% elsif r_intraocularpressure_op.to_i >= 19 %>
              <span class="abnormal-highlight">
                <strong>IOP:</strong>
                <%= r_intraocularpressure_op %>
              </span>
            <% end %>
            <% if r_intraocularpressure_comments.present? %>
              <ul><li><%= r_intraocularpressure_comments %></li></ul>
            <% end %>
            <br/>
          <% end %>

          <% if opdrecord.read_attribute(:"r_eyelids_comments").present? && opdrecord.read_attribute(:"r_eyelids_comments") != "<br>" %>
              <span><b>Eyelid</b> : <%= opdrecord.read_attribute(:r_eyelids_comments).html_safe %></span><br>
          <% end %>

          <% if opdrecord.read_attribute(:"r_conjunctiva_comments").present? && opdrecord.read_attribute(:"r_conjunctiva_comments")!= "<br>" %>
              <span><b>Conjunctiva</b> : <%= opdrecord.read_attribute(:r_conjunctiva_comments).html_safe %></span><br>
          <% end %>

          <% if opdrecord.read_attribute(:"r_corneaquick_comments").present? && opdrecord.read_attribute(:"r_corneaquick_comments") != "<br>" || opdrecord['r_cornea_diagram_present'] == "Y" || opdrecord['r_corneaslit_diagram_present'] == "Y" %>
            <span><b>Cornea</b> : <% if opdrecord.read_attribute(:"r_corneaquick_comments").present? && opdrecord.read_attribute(:"r_corneaquick_comments") != "<br>" %><%= opdrecord.read_attribute(:r_corneaquick_comments).html_safe %> <% end %></span>
            <% if mail_job == false %>
              <% unless params[:action] == "print_opd_record" %>
                <div class="row">
                  <% if opdrecord['r_cornea_diagram_present'] == "Y" %>
                    <div class="col-md-4 col-sm-4">
                      <% cornea_image_url_thumb = PatientSummaryAssetUpload.find_by(id: opdrecord.r_cornea_temp_asset_id).try(:asset_path) %>
                      <%= image_tag cornea_image_url_thumb.to_s, height: '90', width: '90' %>
                      <div>
                        Cornea
                      </div>
                    </div>
                  <% end %>
                  <% if opdrecord['r_corneaslit_diagram_present'] == "Y" %>
                    <div class="col-md-4 col-sm-4">
                      <% cornea_image_url_thumb = PatientSummaryAssetUpload.find_by(id: opdrecord.r_corneaslit_temp_asset_id).try(:asset_path) %>
                      <%= image_tag cornea_image_url_thumb.to_s, height: '90', width: '90' %>
                      <div>
                        Cornea Slit
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>
          <% if opdrecord.read_attribute(:"r_sclera_comments").present? && opdrecord.read_attribute(:"r_sclera_comments") != "<br>" %>
            <span><b>Sclera</b> : <%= opdrecord.read_attribute(:r_sclera_comments).html_safe %></span><br>
          <% end %>

          <% if opdrecord.read_attribute(:"r_anteriorchamber_comments").present? && opdrecord.read_attribute(:"r_anteriorchamber_comments") != "<br>" %>
            <span><b>Anterior Chamber</b> : <%= opdrecord.read_attribute(:r_anteriorchamber_comments).html_safe.html_safe %></span><br>
          <% end %>

          <% if opdrecord.read_attribute(:"r_iris_comments").present? && opdrecord.read_attribute(:"r_iris_comments") != "<br>" %>
            <span><b>Iris</b> : <%= opdrecord.read_attribute(:r_iris_comments).html_safe %></span><br>
          <% end %>

          <% if opdrecord.read_attribute(:"r_pupilquick_comments").present? && opdrecord.read_attribute(:"r_pupilquick_comments") != "<br>" %>
            <span><b>Pupil</b> : <%= opdrecord.read_attribute(:r_pupilquick_comments).html_safe %></span><br>
          <% end %>

          <% if opdrecord.read_attribute(:"r_lensquick_comments").present? && opdrecord.read_attribute(:"r_lensquick_comments") != "<br>" %>
            <span><b>Lens</b> : <%= opdrecord.read_attribute(:r_lensquick_comments).html_safe %></span><br>
          <% end %>

          <% if opdrecord.read_attribute(:"r_vitreousquick_comments").present? && opdrecord.read_attribute(:"r_vitreousquick_comments") != "<br>" %>
            <span><b>Vitreous</b> : <%= opdrecord.read_attribute(:r_vitreousquick_comments).html_safe.html_safe %></span><br>
          <% end %>

          <% if opdrecord.read_attribute(:"r_fundusquick_comments").present? && opdrecord.read_attribute(:"r_fundusquick_comments") != "<br>" || opdrecord['r_fundus_diagram_present'] == "Y" %>
            <span><b>Fundus</b> : <% if opdrecord.read_attribute(:"r_fundusquick_comments").present? && opdrecord.read_attribute(:"r_fundusquick_comments")!= "<br>" %><%= opdrecord.read_attribute(:r_fundusquick_comments).html_safe %><% end %></span>
            <% if mail_job == false %>
              <% unless params[:action] == "print_opd_record" %>
                <div class="row">
                  <% if opdrecord['r_fundus_diagram_present'] == "Y" %>
                    <div class="col-md-2 col-sm-2">
                      <% cornea_image_url_thumb = PatientSummaryAssetUpload.find_by(id: opdrecord.r_fundus_temp_asset_id).try(:asset_path) %>
                      <%= image_tag cornea_image_url_thumb.to_s, height: '90', width: '90' %>
                      <div>
                        Fundus
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>

          <% if opdrecord.read_attribute(:"r_opticdiscquick_comments").present? && opdrecord.read_attribute(:"r_opticdiscquick_comments") != "<br>" %>
            <span><b>Optic Disc</b> : <%= opdrecord.read_attribute(:r_opticdiscquick_comments).html_safe %></span><br>
          <% end %>
          <% if opdrecord.read_attribute(:"r_maculaquick_comments").present? && opdrecord.read_attribute(:"r_maculaquick_comments") != "<br>" %>
            <span><b>Macula</b> : <%= opdrecord.read_attribute(:r_maculaquick_comments).html_safe %></span><br>
          <% end %>

          <% if opdrecord.read_attribute(:"r_peripheralretinaquick_comments").present? && opdrecord.read_attribute(:"r_peripheralretinaquick_comments") != "<br>" %>
            <span><b>Peripheral Retina</b> : <%= opdrecord.read_attribute(:r_peripheralretinaquick_comments).html_safe %></span><br>
          <% end %>

          <% if opdrecord.read_attribute(:"r_tonometry_comments").present? && opdrecord.read_attribute(:"r_tonometry_comments") != "<br>" %>
            <span><b>Tonometry</b> : <%= opdrecord.read_attribute(:r_tonometry_comments).html_safe %></span><br>
          <% end %>

          <% if opdrecord.read_attribute(:"r_gonioscopy_comments").present? && opdrecord.read_attribute(:"r_gonioscopy_comments") != "<br>" %>
            <span><b>Gonioscopy</b> : <%= opdrecord.read_attribute(:r_gonioscopy_comments).html_safe %></span><br>
          <% end %>

          <% if opdrecord.read_attribute(:"r_schirmers_comments").present? && opdrecord.read_attribute(:"r_schirmers_comments")!= "<br>" %>
            <span><b>Schirmers Test</b> : <%= opdrecord.read_attribute(:r_schirmers_comments).html_safe %></span><br>
          <% end %>

          <% if opdrecord.read_attribute(:"r_lacrimalpatency_comments").present? && opdrecord.read_attribute(:"r_lacrimalpatency_comments") != "<br>" %>
            <span><b>Lacrimal Patency</b> : <%= opdrecord.read_attribute(:r_lacrimalpatency_comments).html_safe %></span><br>
          <% end %>

          <% if opdrecord.read_attribute(:"r_motorevaluation_comments").present? && opdrecord.read_attribute(:"r_motorevaluation_comments") != "<br>" %>
            <span><b>Motor Evaluation</b> : <%= opdrecord.read_attribute(:r_motorevaluation_comments).html_safe %></span><br>
          <% end %>

          <% if opdrecord.read_attribute(:"r_squint_comments").present? && opdrecord.read_attribute(:"r_squint_comments") != "<br>" %>
            <span><b>Measurement Of Squint</b> : <%= opdrecord.read_attribute(:r_squint_comments).html_safe %></span><br>
          <% end %>

          <% if mail_job == false %>
            <% unless params[:action] == "print_opd_record" %>
              <% if opdrecord['r_appendages_diagram_present'] == "Y" %>
                <b>Appendages</b> :
                <div class="row">
                  <div class="col-md-2 col-sm-2">
                    <% appendages_image_url_thumb = PatientSummaryAssetUpload.find_by(id: opdrecord.r_appendages_temp_asset_id).try(:asset_path) %>
                    <%= image_tag appendages_image_url_thumb.to_s, height: '90', width: '90' %>
                    <div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="col-md-6 col-sm-6">
          <% if l_visualacuity_counter > 0 %>
            <strong>VA:</strong> <%= l_visualacuity_op %><br>
            <% if l_visualacuity_ua_s.present? || l_visualacuity_ua_i.present? || l_visualacuity_ua_n.present? || l_visualacuity_ua_t.present? %>
              PR(UCVA): <%= l_visualacuity_ua_s %> <%= l_visualacuity_ua_i %> <%= l_visualacuity_ua_n %> <%= l_visualacuity_ua_t %>
            <% end %>
          <% end %>

          <% if l_intraocularpressure_counter > 0 %>
            <% if l_intraocularpressure_op.to_i >= 0  && l_intraocularpressure_op.to_i < 19 %>
              <strong>IOP:</strong>
              <%= l_intraocularpressure_op %>
            <% elsif l_intraocularpressure_op.to_i >= 19 %>
              <span class="abnormal-highlight">
                <strong>IOP:</strong>
                <%= l_intraocularpressure_op %>
              </span>
            <% end %>
            <% if l_intraocularpressure_comments.present? %>
              <ul><li><%= l_intraocularpressure_comments %></li></ul>
            <% end %>
            <br/>
          <% end %>

          <% if opdrecord.read_attribute(:"l_eyelids_comments").present? && opdrecord.read_attribute(:"l_eyelids_comments")!= "<br>" %>
            <span><b>Eyelid</b> : <%= opdrecord.read_attribute(:l_eyelids_comments).html_safe %></span><br>
          <% end %>

          <% if opdrecord.read_attribute(:"l_conjunctiva_comments").present? && opdrecord.read_attribute(:"l_conjunctiva_comments") != "<br>" %>
            <span><b>Conjunctiva</b> : <%= opdrecord.read_attribute(:l_conjunctiva_comments).html_safe %></span><br>
          <% end %>

          <% if opdrecord.read_attribute(:"l_corneaquick_comments").present? && opdrecord.read_attribute(:"l_corneaquick_comments") != "<br>" || opdrecord['l_cornea_diagram_present'] == "Y" || opdrecord['l_corneaslit_diagram_present'] == "Y" %>
            <span><b>Cornea</b> : <% if opdrecord.read_attribute(:"l_corneaquick_comments").present? && opdrecord.read_attribute(:"l_corneaquick_comments") != "<br>" %><%= opdrecord.read_attribute(:l_corneaquick_comments).html_safe %> <% end %></span>
            <% if mail_job == false %>
              <% unless params[:action] == "print_opd_record" %>
                <div class="row">
                  <% if opdrecord['l_cornea_diagram_present'] == "Y" %>
                    <div class="col-md-4 col-sm-4">
                      <% cornea_image_url_thumb = PatientSummaryAssetUpload.find_by(id: opdrecord.l_cornea_temp_asset_id).try(:asset_path) %>
                      <%= image_tag cornea_image_url_thumb.to_s, height: '90', width: '90' %>
                      <div>
                        Cornea
                      </div>
                    </div>
                  <% end %>
                  <% if opdrecord['l_corneaslit_diagram_present'] == "Y" %>
                    <div class="col-md-4 col-sm-4">
                      <% cornea_image_url_thumb = PatientSummaryAssetUpload.find_by(id: opdrecord.l_corneaslit_temp_asset_id).try(:asset_path) %>
                      <%= image_tag cornea_image_url_thumb.to_s, height: '90', width: '90' %>
                      <div>
                        Cornea Slit
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>

          <% if opdrecord.read_attribute(:"l_sclera_comments").present? && opdrecord.read_attribute(:"l_sclera_comments") != "<br>" %>
            <span><b>Sclera</b> : <%= opdrecord.read_attribute(:l_sclera_comments).html_safe %></span><br>
          <% end %>

          <% if opdrecord.read_attribute(:"l_anteriorchamber_comments").present? && opdrecord.read_attribute(:"l_anteriorchamber_comments") != "<br>" %>
            <span><b>Anterior Chamber</b> : <%= opdrecord.read_attribute(:l_anteriorchamber_comments).html_safe %></span><br>
          <% end %>

          <% if opdrecord.read_attribute(:"l_iris_comments").present? && opdrecord.read_attribute(:"l_iris_comments")!= "<br>" %>
            <span><b>Iris</b> : <%= opdrecord.read_attribute(:l_iris_comments).html_safe %></span><br>
          <% end %>

          <% if opdrecord.read_attribute(:"l_pupilquick_comments").present? && opdrecord.read_attribute(:"l_pupilquick_comments") != "<br>" %>
            <span><b>Pupil</b> : <%= opdrecord.read_attribute(:l_pupilquick_comments).html_safe %></span><br>
          <% end %>

          <% if opdrecord.read_attribute(:"l_lensquick_comments").present? && opdrecord.read_attribute(:"l_lensquick_comments") != "<br>" %>
            <span><b>Lens</b> : <%= opdrecord.read_attribute(:l_lensquick_comments).html_safe %></span><br>
          <% end %>

          <% if opdrecord.read_attribute(:"l_vitreousquick_comments").present? && opdrecord.read_attribute(:"l_vitreousquick_comments") != "<br>" %>
            <span><b>Vitreous</b> : <%= opdrecord.read_attribute(:l_vitreousquick_comments).html_safe %></span><br>
          <% end %>

          <% if opdrecord.read_attribute(:"l_fundusquick_comments").present? && opdrecord.read_attribute(:"l_fundusquick_comments") != "<br>" || opdrecord['l_fundus_diagram_present'] == "Y" %>
            <span><b>Fundus</b> : <% if opdrecord.read_attribute(:"l_fundusquick_comments").present? && opdrecord.read_attribute(:"l_fundusquick_comments") != "<br>" %><%= opdrecord.read_attribute(:l_fundusquick_comments).html_safe %><% end %></span>
            <% if mail_job == false %>
              <% unless params[:action] == "print_opd_record" %>
                <div class="row">
                  <% if opdrecord['l_fundus_diagram_present'] == "Y" %>
                    <div class="col-md-2 col-sm-2">
                      <% cornea_image_url_thumb = PatientSummaryAssetUpload.find_by(id: opdrecord.l_fundus_temp_asset_id).try(:asset_path) %>
                      <%= image_tag cornea_image_url_thumb.to_s, height: '90', width: '90' %>
                      <div>
                        Fundus
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>

          <% if opdrecord.read_attribute(:"l_opticdiscquick_comments").present? && opdrecord.read_attribute(:"l_opticdiscquick_comments") != "<br>" %>
            <span><b>Optic Disc</b> : <%= opdrecord.read_attribute(:l_opticdiscquick_comments).html_safe %></span><br>
          <% end %>

          <% if opdrecord.read_attribute(:"l_maculaquick_comments").present? && opdrecord.read_attribute(:"l_maculaquick_comments") != "<br>" %>
            <span><b>Macula</b> : <%= opdrecord.read_attribute(:l_maculaquick_comments).html_safe %></span><br>
          <% end %>

          <% if opdrecord.read_attribute(:"l_peripheralretinaquick_comments").present? && opdrecord.read_attribute(:"l_peripheralretinaquick_comments") != "<br>" %>
            <span><b>Peripheral Retina</b> : <%= opdrecord.read_attribute(:l_peripheralretinaquick_comments).html_safe %></span><br>
          <% end %>

          <% if opdrecord.read_attribute(:"l_tonometry_comments").present? && opdrecord.read_attribute(:"l_tonometry_comments") != "<br>" %>
            <span><b>Tonometry</b> : <%= opdrecord.read_attribute(:l_tonometry_comments).html_safe %></span><br>
          <% end %>

          <% if opdrecord.read_attribute(:"l_gonioscopy_comments").present? && opdrecord.read_attribute(:"l_gonioscopy_comments") != "<br>" %>
            <span><b>Gonioscopy</b> : <%= opdrecord.read_attribute(:l_gonioscopy_comments).html_safe %></span><br>
          <% end %>

          <% if opdrecord.read_attribute(:"l_schirmers_comments").present? && opdrecord.read_attribute(:"l_schirmers_comments") != "<br>" %>
            <span><b>Schirmers Test</b> : <%= opdrecord.read_attribute(:l_schirmers_comments).html_safe %></span><br>
          <% end %>

          <% if opdrecord.read_attribute(:"l_lacrimalpatency_comments").present? && opdrecord.read_attribute(:"l_lacrimalpatency_comments") != "<br>" %>
            <span><b>Lacrimal Patency</b> : <%= opdrecord.read_attribute(:l_lacrimalpatency_comments).html_safe %></span><br>
          <% end %>

          <% if opdrecord.read_attribute(:"l_motorevaluation_comments").present? && opdrecord.read_attribute(:"l_motorevaluation_comments") != "<br>" %>
            <span><b>Motor Evaluation</b> : <%= opdrecord.read_attribute(:l_motorevaluation_comments).html_safe %></span><br>
          <% end %>
          <% if opdrecord.read_attribute(:"l_squint_comments").present? && opdrecord.read_attribute(:"l_squint_comments") != "<br>" %>
            <span><b>Measurement Of Squint</b> : <%= opdrecord.read_attribute(:l_squint_comments).html_safe %></span><br>
          <% end %>

          <% if mail_job == false %>
            <% unless params[:action] == "print_opd_record" %>
              <% if opdrecord['l_appendages_diagram_present'] == "Y" %>
                  <b>Appendages</b> :
                  <div class="row">
                    <div class="col-md-2 col-sm-2">
                      <% appendages_image_url_thumb = PatientSummaryAssetUpload.find_by(id: opdrecord.l_appendages_temp_asset_id).try(:asset_path) %>
                      <%= image_tag appendages_image_url_thumb.to_s, height: '90', width: '90' %>
                      <div>
                      </div>
                    </div>
                  </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% if opdrecord.send("#{@flag}_diagram_flag") == "1" %>
  <% diagram_counter = 0 %>
  <% r_lens_diagram = '' %>
  <% r_lens_counter = 0 %>
  <% r_fundus_diagram = '' %>
  <% r_fundus_counter = 0 %>
  <% r_appendages_diagram = '' %>
  <% r_appendages_count = 0 %>
  <% r_cornea_diagram = '' %>
  <% r_cornea_img_counter = 0 %>
  <% r_cornea_slit_diagram = '' %>
  <% r_cornea_slit_img_counter = 0 %>
  <% l_fundus_diagram = '' %>
  <% l_fundus_counter = 0 %>
  <% l_lens_diagram = '' %>
  <% l_lens_counter = 0 %>
  <% l_appendages_diagram = '' %>
  <% l_appendages_count = 0 %>
  <% l_cornea_diagram = '' %>
  <% l_cornea_img_counter = 0 %>
  <% l_cornea_slit_diagram = '' %>
  <% l_cornea_slit_img_counter = 0 %>
  <% if opdrecord.l_corneaslit_diagram_full.present? %>
    <%# l_cornea_slit_diagram = opdrecord.l_corneaslit_diagram_full %>
    <% l_cornea_slit_diagram = PatientSummaryAssetUpload.find_by(id: opdrecord.l_corneaslit_temp_asset_id).try(:asset_path) %>
    <% diagram_counter += 1 %>
    <% l_cornea_slit_img_counter += 1 %>
  <% end %>
  <% if opdrecord.r_corneaslit_diagram_full.present? %>
    <%# r_cornea_slit_diagram = opdrecord.r_corneaslit_diagram_full %>
    <% r_cornea_slit_diagram = PatientSummaryAssetUpload.find_by(id: opdrecord.r_corneaslit_temp_asset_id).try(:asset_path) %>
    <% diagram_counter += 1 %>
    <% r_cornea_slit_img_counter += 1 %>
  <% end %>
  <% if opdrecord.l_cornea_diagram_full.present? %>
    <%# l_cornea_diagram = opdrecord.l_cornea_diagram_full %>
    <% l_cornea_diagram = PatientSummaryAssetUpload.find_by(id: opdrecord.l_cornea_temp_asset_id).try(:asset_path) %>
    <% diagram_counter += 1 %>
    <% l_cornea_img_counter += 1 %>
  <% end %>
  <% if opdrecord.r_cornea_diagram_full.present? %>
    <%# r_cornea_diagram = opdrecord.r_cornea_diagram_full %>
    <% r_cornea_diagram = PatientSummaryAssetUpload.find_by(id: opdrecord.r_cornea_temp_asset_id).try(:asset_path) %>
    <% diagram_counter += 1 %>
    <% r_cornea_img_counter += 1 %>
  <% end %>
  <% if opdrecord.l_appendages_diagram_full.present? %>
    <%# l_appendages_diagram = opdrecord.l_appendages_diagram_full %>
    <% l_appendages_diagram = PatientSummaryAssetUpload.find_by(id: opdrecord.l_appendages_temp_asset_id).try(:asset_path) %>
    <% diagram_counter += 1 %>
    <% l_appendages_count += 1 %>
  <% end %>
  <% if opdrecord.r_appendages_diagram_full.present? %>
    <%# r_appendages_diagram = opdrecord.r_appendages_diagram_full %>
    <% r_appendages_diagram = PatientSummaryAssetUpload.find_by(id: opdrecord.r_appendages_temp_asset_id).try(:asset_path) %>
    <% diagram_counter += 1 %>
    <% r_appendages_count += 1 %>
  <% end %>
  <% if opdrecord.r_lens_diagram_full.present? %>
    <%# r_lens_diagram = opdrecord.r_lens_diagram_full %>
    <% r_lens_diagram = PatientSummaryAssetUpload.find_by(id: opdrecord.r_lens_temp_asset_id).try(:asset_path) %>
    <% diagram_counter += 1 %>
    <% r_lens_counter += 1 %>
  <% end %>
  <% if opdrecord.l_lens_diagram_full.present? %>
    <%# l_lens_diagram = opdrecord.l_lens_diagram_full %>
    <% l_lens_diagram = PatientSummaryAssetUpload.find_by(id: opdrecord.l_lens_temp_asset_id).try(:asset_path) %>
    <% diagram_counter += 1 %>
    <% l_lens_counter += 1 %>
  <% end %>
  <% if opdrecord.l_fundus_diagram_full.present? %>
    <%# l_fundus_diagram = opdrecord.l_fundus_diagram_full %>
    <% l_fundus_diagram = PatientSummaryAssetUpload.find_by(id: opdrecord.l_fundus_temp_asset_id).try(:asset_path) %>
    <% diagram_counter += 1 %>
    <% l_fundus_counter += 1 %>
  <% end %>
  <% if opdrecord.r_fundus_diagram_full.present? %>
    <%# r_fundus_diagram = opdrecord.r_fundus_diagram_full %>
    <% r_fundus_diagram = PatientSummaryAssetUpload.find_by(id: opdrecord.r_fundus_temp_asset_id).try(:asset_path) %>
    <% diagram_counter += 1 %>
    <% r_fundus_counter += 1 %>
  <% end %>
  <% if diagram_counter > 0 %>
    <div class="row mb5">
      <strong style="<%= heading_font_size %>">Diagram</strong>
      <div class="summary-line-border"></div><br>
      <div class="col-md-6 col-sm-6">
        <div class="text-center" style="background-color:#ddd;">R/OD</div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="text-center" style="background-color:#ddd;">L/OS</div>
      </div>
    </div>
  <% end %>
  <% if r_lens_counter > 0 || l_lens_counter > 0 %>
    <p>Lens Diagram:</p>
    <% if opdrecord['r_lens_diagram_present'] == "Y" %>
      <span class="abnormal-highlight" style="margin-left: 4%">
        <%= image_tag(r_lens_diagram.to_s, { style: 'width:100px;' }) %>
      </span>
    <% end %>
    <% if opdrecord['l_lens_diagram_present'] == "Y" %>
      <span class="abnormal-highlight" style="margin-left: 22rem">
        <%= image_tag(l_lens_diagram.to_s, { style: 'width:100px;' }) %>
      </span>
    <% end %>
  <% end %>
  <div class="examination_non_tabular"></div><br>
  <% if r_fundus_counter > 0 || l_fundus_counter > 0 %>
    <p>Fundus Diagram:</p><br>
    <% if opdrecord['r_fundus_diagram_present'] == "Y" %>
      <span class="abnormal-highlight" style="margin-left: 4%">
        <%= image_tag(r_fundus_diagram.to_s, { style: 'width:100px;' }) %>
      </span>
    <% end %>
    <% if opdrecord['l_fundus_diagram_present'] == "Y" %>
      <span class="abnormal-highlight" style="margin-left: 22rem">
        <%= image_tag(l_fundus_diagram.to_s, { style: 'width:100px;' }) %>
      </span>
    <% end %>
  <% end %>
  <div class="examination_non_tabular"></div><br>
  <% if l_appendages_count > 0 || r_appendages_count > 0 %>
    <p>Appendges Diagram:</p><br>
    <% if opdrecord['r_appendages_diagram_present'] == "Y" %>
      <span class="abnormal-highlight" style="margin-left: 4%">
        <%= image_tag(r_appendages_diagram.to_s, { style: 'width:100px;' }) %>
      </span>
    <% end %>
    <% if opdrecord['l_appendages_diagram_present'] == "Y" %>
      <span class="abnormal-highlight" style="margin-left: 22rem">
        <%= image_tag(l_appendages_diagram.to_s, { style: 'width:100px;' }) %>
      </span>
    <% end %>
  <% end %>
  <div class="examination_non_tabular"></div><br>
  <% if l_cornea_img_counter > 0 || r_cornea_img_counter > 0 %>
    <p>Cornea Diagram:</p><br>
    <% if opdrecord['r_cornea_diagram_present'] == "Y" %>
      <span class="abnormal-highlight" style="margin-left: 4%">
        <%= image_tag(r_cornea_diagram.to_s, { style: 'width:100px;' }) %>
      </span>
    <% end %>
    <% if opdrecord['l_cornea_diagram_present'] == "Y" %>
      <span class="abnormal-highlight" style="margin-left: 22rem">
        <%= image_tag(l_cornea_diagram.to_s, { style: 'width:100px;' }) %>
      </span>
    <% end %>
  <% end %>
  <div class="examination_non_tabular"></div><br>
  <% if l_cornea_slit_img_counter > 0 || r_cornea_slit_img_counter > 0 %>
    <p>Cornea Slit Diagram:</p><br>
    <% if opdrecord['r_corneaslit_diagram_present'] == "Y" %>
      <span class="abnormal-highlight" style="margin-left: 4%">
        <%= image_tag(r_cornea_slit_diagram.to_s, { style: 'width:100px;' }) %>
      </span>
    <% end %>
    <% if opdrecord['l_corneaslit_diagram_present'] == "Y" %>
      <span class="abnormal-highlight" style="margin-left: 22rem">
        <%= image_tag(l_cornea_slit_diagram.to_s, { style: 'width:100px;' }) %>
      </span>
    <% end %>
  <% end %>

  <div class="examination_non_tabular"></div>
<% end %>

<style type="text/css">
  .examination_non_tabular {
    margin-bottom:0;
    padding-bottom:0;
    border-bottom:1px solid #ddd;
  }
  .abnormal-highlight{
    color: red;
  }
</style>