<!-- Note opdrecord.replace_blank is method to check blank in opd_record.rb -->
<% pmt_refraction_counter = 0 %>
<% pmt_right_left_counter = 0 %>

<!-- Counter Logic Dry Auto Refraction -->
<% pmt_auto_refraction_counter = 0 %>
<% if opdrecord.r_autorefraction_pmt_sph.present? || opdrecord.r_autorefraction_pmt_cyl.present? || opdrecord.r_autorefraction_pmt_axis.present? || opdrecord.r_autorefraction_pmt1_sph.present? || opdrecord.r_autorefraction_pmt1_cyl.present? || opdrecord.r_autorefraction_pmt1_axis.present? || opdrecord.r_autorefraction_pmt2_sph.present? || opdrecord.r_autorefraction_pmt2_cyl.present? || opdrecord.r_autorefraction_pmt2_axis.present? %>
  <% pmt_refraction_counter += 1 %>
  <% pmt_right_left_counter += 1 %>
  <% pmt_auto_refraction_counter += 1 %>

  <% r_autorefraction_pmt_sph = opdrecord.r_autorefraction_pmt_sph %>
  <% r_autorefraction_pmt_cyl = opdrecord.r_autorefraction_pmt_cyl %>
  <% r_autorefraction_pmt_axis = opdrecord.r_autorefraction_pmt_axis %>
  <% r_autorefraction_pmt1_sph = opdrecord.r_autorefraction_pmt1_sph %>
  <% r_autorefraction_pmt1_cyl = opdrecord.r_autorefraction_pmt1_cyl %>
  <% r_autorefraction_pmt1_axis = opdrecord.r_autorefraction_pmt1_axis %>
  <% r_autorefraction_pmt2_sph = opdrecord.r_autorefraction_pmt2_sph %>
  <% r_autorefraction_pmt2_cyl = opdrecord.r_autorefraction_pmt2_cyl %>
  <% r_autorefraction_pmt2_axis = opdrecord.r_autorefraction_pmt2_axis %>
<% end %>

<% if opdrecord.l_autorefraction_pmt_sph.present? || opdrecord.l_autorefraction_pmt_cyl.present? || opdrecord.l_autorefraction_pmt_axis.present? || opdrecord.l_autorefraction_pmt1_sph.present? || opdrecord.l_autorefraction_pmt1_cyl.present? || opdrecord.l_autorefraction_pmt1_axis.present? || opdrecord.l_autorefraction_pmt2_sph.present? || opdrecord.l_autorefraction_pmt2_cyl.present? || opdrecord.l_autorefraction_pmt2_axis.present? %>
  <% pmt_refraction_counter += 1 %>
  <% pmt_right_left_counter += 1 %>
  <% pmt_auto_refraction_counter += 1 %>

  <% l_autorefraction_pmt_sph = opdrecord.l_autorefraction_pmt_sph %>
  <% l_autorefraction_pmt_cyl = opdrecord.l_autorefraction_pmt_cyl %>
  <% l_autorefraction_pmt_axis = opdrecord.l_autorefraction_pmt_axis %>
  <% l_autorefraction_pmt1_sph = opdrecord.l_autorefraction_pmt1_sph %>
  <% l_autorefraction_pmt1_cyl = opdrecord.l_autorefraction_pmt1_cyl %>
  <% l_autorefraction_pmt1_axis = opdrecord.l_autorefraction_pmt1_axis %>
  <% l_autorefraction_pmt2_sph = opdrecord.l_autorefraction_pmt2_sph %>
  <% l_autorefraction_pmt2_cyl = opdrecord.l_autorefraction_pmt2_cyl %>
  <% l_autorefraction_pmt2_axis = opdrecord.l_autorefraction_pmt2_axis %>
<% end %>
<!-- Counter Logic Dry Auto Refraction Ends -->

<!-- Counter Logic Dry Net Retinoscopy -->
<% pmt_retinoscopy_counter = 0 %>
<% if opdrecord.r_retinoscopy_pmt_sph.present? || opdrecord.r_retinoscopy_pmt_cyl.present? || opdrecord.r_retinoscopy_pmt_axis.present? || opdrecord.r_retinoscopy_pmt_reflex.present? || opdrecord.r_retinoscopy_pmt_distance.present? || opdrecord.r_retinoscopy_pmt_drug_used.present? || opdrecord.r_retinoscopy_pmt_comments.present? %>
  <% pmt_refraction_counter += 1 %>
  <% pmt_right_left_counter += 1 %>
  <% pmt_retinoscopy_counter += 1 %>

  <% r_retinoscopy_pmt_sph = opdrecord.r_retinoscopy_pmt_sph %>
  <% r_retinoscopy_pmt_cyl = opdrecord.r_retinoscopy_pmt_cyl %>
  <% r_retinoscopy_pmt_axis = opdrecord.r_retinoscopy_pmt_axis %>
  <% r_retinoscopy_pmt_reflex = opdrecord.r_retinoscopy_pmt_reflex %>
  <% r_retinoscopy_pmt_distance = opdrecord.r_retinoscopy_pmt_distance %>
  <% r_retinoscopy_pmt_drug_used = opdrecord.r_retinoscopy_pmt_drug_used %>
  <% r_retinoscopy_pmt_comments = opdrecord.r_retinoscopy_pmt_comments %>
<% end %>

<% if opdrecord.l_retinoscopy_pmt_sph.present? || opdrecord.l_retinoscopy_pmt_cyl.present? || opdrecord.l_retinoscopy_pmt_axis.present? || opdrecord.l_retinoscopy_pmt_reflex.present? || opdrecord.l_retinoscopy_pmt_distance.present? || opdrecord.l_retinoscopy_pmt_drug_used.present? || opdrecord.l_retinoscopy_pmt_comments.present? %>
  <% pmt_refraction_counter += 1 %>
  <% pmt_right_left_counter += 1 %>
  <% pmt_retinoscopy_counter += 1 %>

  <% l_retinoscopy_pmt_sph = opdrecord.l_retinoscopy_pmt_sph %>
  <% l_retinoscopy_pmt_cyl = opdrecord.l_retinoscopy_pmt_cyl %>
  <% l_retinoscopy_pmt_axis = opdrecord.l_retinoscopy_pmt_axis %>
  <% l_retinoscopy_pmt_reflex = opdrecord.l_retinoscopy_pmt_reflex %>
  <% l_retinoscopy_pmt_distance = opdrecord.l_retinoscopy_pmt_distance %>
  <% l_retinoscopy_pmt_drug_used = opdrecord.l_retinoscopy_pmt_drug_used %>
  <% l_retinoscopy_pmt_comments = opdrecord.l_retinoscopy_pmt_comments %>
<% end %>
<!-- Counter Logic Dry Net Retinoscopy Ends -->

<!-- Counter Logic Dry Refraction -->
<% pmt_refraction_refraction_counter = 0 %>
<% if opdrecord.r_pmtrefraction_distant_ucva.present? || opdrecord.r_pmtrefraction_distant_sph.present? || opdrecord.r_pmtrefraction_distant_cyl.present? || opdrecord.r_pmtrefraction_distant_axis.present? || opdrecord.r_pmtrefraction_distant_vision.present? || opdrecord.r_pmtrefraction_distant_va_ph.present? || opdrecord.r_pmtrefraction_add_ucva.present? || opdrecord.r_pmtrefraction_add_sph.present? || opdrecord.r_pmtrefraction_add_cyl.present? || opdrecord.r_pmtrefraction_add_axis.present? || opdrecord.r_pmtrefraction_add_vision.present? || opdrecord.r_pmtrefraction_add_va_ph.present? || opdrecord.r_pmtrefraction_near_ucva.present? || opdrecord.r_pmtrefraction_near_sph.present? || opdrecord.r_pmtrefraction_near_cyl.present? || opdrecord.r_pmtrefraction_near_axis.present? || opdrecord.r_pmtrefraction_near_vision.present? || opdrecord.r_pmtrefraction_near_va_ph.present? || opdrecord.r_pmtrefraction_comments.present? %>
  <% pmt_refraction_counter += 1 %>
  <% pmt_right_left_counter += 1 %>
  <% pmt_refraction_refraction_counter += 1 %>

  <% r_pmtrefraction_distant_ucva = opdrecord.r_pmtrefraction_distant_ucva %>
  <% r_pmtrefraction_distant_sph = opdrecord.r_pmtrefraction_distant_sph %>
  <% r_pmtrefraction_distant_cyl = opdrecord.r_pmtrefraction_distant_cyl %>
  <% r_pmtrefraction_distant_axis = opdrecord.r_pmtrefraction_distant_axis %>
  <% r_pmtrefraction_distant_vision = opdrecord.r_pmtrefraction_distant_vision %>
  <% r_pmtrefraction_distant_va_ph = opdrecord.r_pmtrefraction_distant_va_ph %>
  <% r_pmtrefraction_near_ucva = opdrecord.r_pmtrefraction_near_ucva %>
  <% r_pmtrefraction_near_sph = opdrecord.r_pmtrefraction_near_sph %>
  <% r_pmtrefraction_near_cyl = opdrecord.r_pmtrefraction_near_cyl %>
  <% r_pmtrefraction_near_axis = opdrecord.r_pmtrefraction_near_axis %>
  <% r_pmtrefraction_near_vision = opdrecord.r_pmtrefraction_near_vision %>
  <% r_pmtrefraction_near_va_ph = opdrecord.r_pmtrefraction_near_va_ph %>
  <% r_pmtrefraction_comments = opdrecord.r_pmtrefraction_comments %>
  <% pmt_refraction_advice = opdrecord.pmt_refraction_advice %>
<% end %>

<% if opdrecord.l_pmtrefraction_distant_ucva.present? || opdrecord.l_pmtrefraction_distant_sph.present? || opdrecord.l_pmtrefraction_distant_cyl.present? || opdrecord.l_pmtrefraction_distant_axis.present? || opdrecord.l_pmtrefraction_distant_vision.present? || opdrecord.l_pmtrefraction_distant_va_ph.present? || opdrecord.l_pmtrefraction_add_ucva.present? || opdrecord.l_pmtrefraction_add_sph.present? || opdrecord.l_pmtrefraction_add_cyl.present? || opdrecord.l_pmtrefraction_add_axis.present? || opdrecord.l_pmtrefraction_add_vision.present? || opdrecord.l_pmtrefraction_add_va_ph.present? || opdrecord.l_pmtrefraction_near_ucva.present? || opdrecord.l_pmtrefraction_near_sph.present? || opdrecord.l_pmtrefraction_near_cyl.present? || opdrecord.l_pmtrefraction_near_axis.present? || opdrecord.l_pmtrefraction_near_vision.present? || opdrecord.l_pmtrefraction_near_va_ph.present? || opdrecord.l_pmtrefraction_comments.present? %>
  <% pmt_refraction_counter += 1 %>
  <% pmt_right_left_counter += 1 %>
  <% pmt_refraction_refraction_counter += 1 %>

  <% l_pmtrefraction_distant_ucva = opdrecord.l_pmtrefraction_distant_ucva %>
  <% l_pmtrefraction_distant_sph = opdrecord.l_pmtrefraction_distant_sph %>
  <% l_pmtrefraction_distant_cyl = opdrecord.l_pmtrefraction_distant_cyl %>
  <% l_pmtrefraction_distant_axis = opdrecord.l_pmtrefraction_distant_axis %>
  <% l_pmtrefraction_distant_vision = opdrecord.l_pmtrefraction_distant_vision %>
  <% l_pmtrefraction_distant_va_ph = opdrecord.l_pmtrefraction_distant_va_ph %>
  <% l_pmtrefraction_near_ucva = opdrecord.l_pmtrefraction_near_ucva %>
  <% l_pmtrefraction_near_sph = opdrecord.l_pmtrefraction_near_sph %>
  <% l_pmtrefraction_near_cyl = opdrecord.l_pmtrefraction_near_cyl %>
  <% l_pmtrefraction_near_axis = opdrecord.l_pmtrefraction_near_axis %>
  <% l_pmtrefraction_near_vision = opdrecord.l_pmtrefraction_near_vision %>
  <% l_pmtrefraction_near_va_ph = opdrecord.l_pmtrefraction_near_va_ph %>
  <% l_pmtrefraction_comments = opdrecord.l_pmtrefraction_comments %>
  <% pmt_refraction_advice = opdrecord.pmt_refraction_advice %>
<% end %>


<% if pmt_refraction_counter > 0 %>
  <div id="pmt-refraction-summary" class="pmt-refraction-summary">
    <div class="row mb5">
      <strong>PMT</strong>
      <div class="summary-line-border"></div>
    </div>
    <% if pmt_right_left_counter > 0 %>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="text-center" style="background-color:#ddd;">R/OD</div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="text-center" style="background-color:#ddd;">L/OS</div>
        </div>
      </div>
    <% end %>
    <% if pmt_auto_refraction_counter > 0 %>
      <div class="row pmt-auto-refraction-block">
        <div class="col-md-6 col-xs-6">
          <strong class="head-title">PMT Auto Refraction:</strong>
          <table class="table table-bordered mb10" width="100%">
            <thead>
              <tr>
                <th width="25%" class="table-css"></th>
                <th width="25%" class="table-css">Sph</th>
                <th width="25%" class="table-css">Cyl</th>
                <th width="25%" class="table-css">Axis</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-css">Dry</td>
                <td class="table-css"><%= opdrecord.replace_blank(r_autorefraction_pmt_sph) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_autorefraction_pmt_cyl) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_autorefraction_pmt_axis) %></td>
              </tr>
              <tr>
                <td class="table-css"></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_autorefraction_pmt1_sph) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_autorefraction_pmt1_cyl) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_autorefraction_pmt1_axis) %></td>
              </tr>
              <tr>
                <td class="table-css"></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_autorefraction_pmt2_sph) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_autorefraction_pmt2_cyl) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_autorefraction_pmt2_axis) %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6 col-xs-6">
          <strong class="head-title">PMT Auto Refraction:</strong>
          <table class="table table-bordered mb10" width="100%">
            <thead>
              <tr>
                <th width="25%" class="table-css"></th>
                <th width="25%" class="table-css">Sph</th>
                <th width="25%" class="table-css">Cyl</th>
                <th width="25%" class="table-css">Axis</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-css">Dry</td>
                <td class="table-css"><%= opdrecord.replace_blank(l_autorefraction_pmt_sph) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_autorefraction_pmt_cyl) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_autorefraction_pmt_axis) %></td>
              </tr>
              <tr>
                <td class="table-css"></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_autorefraction_pmt1_sph) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_autorefraction_pmt1_cyl) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_autorefraction_pmt1_axis) %></td>
              </tr>
              <tr>
                <td class="table-css"></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_autorefraction_pmt2_sph) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_autorefraction_pmt2_cyl) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_autorefraction_pmt2_axis) %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
    <% if pmt_retinoscopy_counter > 0 %>
      <div class="row pmt-retinoscopy-block">
        <div class="col-md-6 col-xs-6">
          <strong class="head-title">PMT Net Retinoscopy:</strong>
          <table class="table table-bordered mb10" width="100%">
            <thead>
              <tr>
                <th width="18%" class="table-css"></th>
                <th width="18%" class="table-css">Sph</th>
                <th width="18%" class="table-css">Cyl</th>
                <th width="18%" class="table-css">Axis</th>
                <th width="28%" class="table-css">Reflex Type</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-css">Distant</td>
                <td class="table-css"><%= opdrecord.replace_blank(r_retinoscopy_pmt_sph) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_retinoscopy_pmt_cyl) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_retinoscopy_pmt_axis) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_retinoscopy_pmt_reflex) %></td>
              </tr>
            </tbody>
          </table>
          <div class="col-md-12">
            <div class="row text-font">
              <% if r_retinoscopy_pmt_distance.present? %>
                <div class="col-md-6 col-xs-6">
                  <strong>At Distance :</strong>
                  <span><%= "#{r_retinoscopy_pmt_distance} Mt/cm" %></span>
                </div>
              <% end %>
              <% if r_retinoscopy_pmt_drug_used.present? %>
                <div class="col-md-6 col-xs-6">
                  <strong>Drug Used :</strong>
                  <span><%= r_retinoscopy_pmt_drug_used %></span>
                </div>
              <% end %>
              <% if r_retinoscopy_pmt_comments.present? %>
                <div class="col-md-12 col-xs-12">
                  <strong>Comment :</strong>
                  <span><%= r_retinoscopy_pmt_comments %></span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-6">
          <strong class="head-title">PMT Net Retinoscopy:</strong>
          <table class="table table-bordered mb10" width="100%">
            <thead>
              <tr>
                <th width="18%" class="table-css"></th>
                <th width="18%" class="table-css">Sph</th>
                <th width="18%" class="table-css">Cyl</th>
                <th width="18%" class="table-css">Axis</th>
                <th width="28%" class="table-css">Reflex Type</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-css">Distant</td>
                <td class="table-css"><%= opdrecord.replace_blank(l_retinoscopy_pmt_sph) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_retinoscopy_pmt_cyl) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_retinoscopy_pmt_axis) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_retinoscopy_pmt_reflex) %></td>
              </tr>
            </tbody>
          </table>
          <div class="col-md-12">
            <div class="row text-font">
              <% if l_retinoscopy_pmt_distance.present? %>
                <div class="col-md-6 col-xs-6">
                  <strong>At Distance :</strong>
                  <span><%= "#{l_retinoscopy_pmt_distance} Mt/cm" %></span>
                </div>
              <% end %>
              <% if l_retinoscopy_pmt_drug_used.present? %>
                <div class="col-md-6 col-xs-6">
                  <strong>Drug Used :</strong>
                  <span><%= l_retinoscopy_pmt_drug_used %></span>
                </div>
              <% end %>
              <% if l_retinoscopy_pmt_comments.present? %>
                <div class="col-md-12 col-xs-12">
                  <strong>Comment :</strong>
                  <span><%= l_retinoscopy_pmt_comments %></span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if pmt_refraction_refraction_counter > 0 %>
      <div class="row pmt-refraction-block">
        <div class="col-md-6 col-xs-6">
          <strong class="head-title">PMT Refraction:</strong>
          <table class="table table-bordered mb10" width="100%">
            <thead>
              <tr>
                <th width="14%" class="table-css"></th>
                <th width="14%" class="table-css">UCVA</th>
                <th width="14%" class="table-css">Sph</th>
                <th width="14%" class="table-css">Cyl</th>
                <th width="14%" class="table-css">Axis</th>
                <th width="14%" class="table-css">Vision</th>
                <th width="14%" class="table-css">VA(PH)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-css">Distant</td>
                <td class="table-css"><%= opdrecord.replace_blank(r_pmtrefraction_distant_ucva) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_pmtrefraction_distant_sph) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_pmtrefraction_distant_cyl) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_pmtrefraction_distant_axis) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_pmtrefraction_distant_vision) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_pmtrefraction_distant_va_ph) %></td>
              </tr>
              <tr>
                <td class="table-css">Near</td>
                <td class="table-css"><%= opdrecord.replace_blank(r_pmtrefraction_near_ucva) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_pmtrefraction_near_sph) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_pmtrefraction_near_cyl) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_pmtrefraction_near_axis) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_pmtrefraction_near_vision) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_pmtrefraction_near_va_ph) %></td>
              </tr>
            </tbody>
          </table>
          <div class="col-md-12">
            <div class="row text-font">
              <% if r_pmtrefraction_comments.present? %>
                <div class="col-md-12 col-xs-12">
                  <strong>Comment :</strong>
                  <span><%= r_pmtrefraction_comments %></span>
                </div>
              <% end %>
              <% if pmt_refraction_advice.present? %>
                <div class="col-md-12 col-xs-12">
                  <strong>Advice :</strong>
                  <span><%= pmt_refraction_advice %></span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-6">
          <strong class="head-title">PMT Refraction:</strong>
          <table class="table table-bordered mb10" width="100%">
            <thead>
              <tr>
                <th width="14%" class="table-css"></th>
                <th width="14%" class="table-css">UCVA</th>
                <th width="14%" class="table-css">Sph</th>
                <th width="14%" class="table-css">Cyl</th>
                <th width="14%" class="table-css">Axis</th>
                <th width="14%" class="table-css">Vision</th>
                <th width="14%" class="table-css">VA(PH)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-css">Distant</td>
                <td class="table-css"><%= opdrecord.replace_blank(l_pmtrefraction_distant_ucva) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_pmtrefraction_distant_sph) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_pmtrefraction_distant_cyl) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_pmtrefraction_distant_axis) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_pmtrefraction_distant_vision) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_pmtrefraction_distant_va_ph) %></td>
              </tr>
              <tr>
                <td class="table-css">Near</td>
                <td class="table-css"><%= opdrecord.replace_blank(l_pmtrefraction_near_ucva) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_pmtrefraction_near_sph) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_pmtrefraction_near_cyl) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_pmtrefraction_near_axis) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_pmtrefraction_near_vision) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_pmtrefraction_near_va_ph) %></td>
              </tr>
            </tbody>
          </table>
          <div class="col-md-12">
            <div class="row text-font">
              <% if l_pmtrefraction_comments.present? %>
                <div class="col-md-12 col-xs-12">
                  <strong>Comment :</strong>
                  <span><%= l_pmtrefraction_comments %></span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% if mail_job == true || params[:action] == "print_opd_record" %>
  <style type="text/css">
    .table-css {
      padding: 1px !important;
      font-size: 8px !important;
      text-align: center !important;
    }

    .text-font {
      font-size: 8px !important;
    }

    .head-title {
      font-size: 10px !important;
    }

    #pmt-refraction-summary table tr {
      page-break-inside: avoid;
    }
  </style>
<% else %>
  <style type="text/css">
    .table-css {
      padding: 1px !important;
      font-size: 12px !important;
      text-align: center !important;
    }

    .text-font {
      font-size: 12px !important;
    }
  </style>
<% end %>
