<div class="<%= 'print_text_font_size' if  @print_setting %>" style="<%= text_font_size %>">
  <% if opdrecord.r_lower_punctum_result.present? || opdrecord.l_lower_punctum_result.present? || opdrecord.r_upper_punctum_result.present? || opdrecord.l_upper_punctum_result.present? %>
    <% if mail_job == false && ['new', 'edit'].include?(params[:action]) %>
      <div class="row">
        <div class="col-xs-12">
          <div class="title">
            <h5 style="color: #444;font-size: 17px;">Syringing</h5>
          </div>
        </div>
      </div>
    <% else %>
      <div class="row mb5">
        <strong>SYRINGING</strong>
        <div class="summary-line-border"></div>
      </div>
    <% end %>

    <div class="row mb5">
      <div class="col-xs-12">
        <div class="col-xs-2">
          <h5><b style="color:#000;">PUNCTUM</b></h5>
        </div>
        <div class="col-xs-5 text-center">
          <h5><b style="color:#000;">R(OD)</b></h5>
        </div>
        <div class="col-xs-5 text-center">
          <h5><b style="color:#000;">L(OS)</b></h5>
        </div>
      </div>
    </div>
    <% if opdrecord.r_lower_punctum_result.present? || opdrecord.l_lower_punctum_result.present? %>
      <div class="row mb15">
        <div class="col-xs-12">
          <div class="col-xs-2">
            <b>Lower</b>
          </div>
          <div class="col-xs-5 text-center">
            <span style="<%= "color:red;" if opdrecord.r_lower_punctum_result != "Free" %>">
              <%= opdrecord.replace_blank(opdrecord.r_lower_punctum_result, '-') %>
            </span>
          </div>
          <div class="col-xs-5 text-center">
            <span style="<%= "color:red;" if opdrecord.l_lower_punctum_result != "Free" %>">
              <%= opdrecord.replace_blank(opdrecord.l_lower_punctum_result, '-') %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
    <% if opdrecord.r_upper_punctum_result.present? || opdrecord.l_upper_punctum_result.present? %>
      <div class="row mb15">
        <div class="col-xs-12">
          <div class="col-xs-2">
            <b>Upper</b>
          </div>
          <div class="col-xs-5 text-center">
            <span style="<%= "color:red;" if opdrecord.r_upper_punctum_result != "Free" %>">
              <%= opdrecord.replace_blank(opdrecord.r_upper_punctum_result, '-') %>
            </span>
          </div>
          <div class="col-xs-5 text-center">
            <span style="<%= "color:red;" if opdrecord.l_upper_punctum_result != "Free" %>">
              <%= opdrecord.replace_blank(opdrecord.l_upper_punctum_result, '-') %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>