<% diagram_counter = 0 %>
<% if opdrecord['r_appendages_diagram_present'] == "Y" || opdrecord['r_cornea_diagram_present'] == "Y" || opdrecord['r_corneaslit_diagram_present'] == "Y" || opdrecord['r_fundus_diagram_present'] == "Y" || opdrecord['r_lens_diagram_present'] == "Y" || opdrecord['l_lens_diagram_present'] == "Y" || opdrecord['l_appendages_diagram_present'] == "Y" || opdrecord['l_cornea_diagram_present'] == "Y" || opdrecord['l_corneaslit_diagram_present'] == "Y" || opdrecord['l_fundus_diagram_present'] == "Y" %>
  
  <% diagram_counter += 1 %>
<%end%>

<% if diagram_counter > 0 %>
    <br/><br/>
    <!-- <div class="pull-right">
      ** Diagrams will not be printed
    </div> -->
<%end%>

<!--commented below as not used for now - anoop -->

<!--<% if diagram_counter > 0 %>-->
    <!--<div class="row mb5">-->
      <!--<strong>DRAWINGS (Will not be printed)</strong>-->
      <!--<div class="summary-line-border"></div>-->
    <!--</div>-->
<!--<%end%>-->

<!--<div class="row">-->
  <!--<% if opdrecord['r_cornea_diagram_present'] == "Y" %>-->
    <!--<div class="col-md-2">-->
        <!--<% cornea_image_url_thumb = "r_cornea_diagram_thumb" %>-->
        <!--<%= image_tag "#{opdrecord.send(cornea_image_url_thumb)}", height: '90', width: '90' %>-->
        <!--<div>-->
          <!--Cornea-Right-->
        <!--</div>-->
    <!--</div>-->
  <!--<%end%>-->
  <!--<% if opdrecord['r_corneaslit_diagram_present'] == "Y" %>-->
    <!--<div class="col-md-2">-->
        <!--<% cornea_image_url_thumb = "r_corneaslit_diagram_thumb" %>-->
        <!--<%= image_tag "#{opdrecord.send(cornea_image_url_thumb)}", height: '90', width: '90' %>-->
        <!--<div>-->
          <!--Cornea Slit-Right-->
        <!--</div>-->
    <!--</div>-->
    <!--<%end%>-->
  <!--<% if opdrecord['r_fundus_diagram_present'] == "Y" %>-->
    <!--<div class="col-md-2">-->

        <!--<% cornea_image_url_thumb = "r_fundus_diagram_thumb" %>-->
        <!--<%= image_tag "#{opdrecord.send(cornea_image_url_thumb)}", height: '90', width: '90' %>-->
        <!--<div>-->
          <!--Fundus-Right-->
        <!--</div>-->
    <!--</div>-->
  <!--<%end%>-->
  <!--<% if opdrecord['l_cornea_diagram_present'] == "Y" %>-->
    <!--<div class="col-md-2">-->
        <!--<% cornea_image_url_thumb = "l_cornea_diagram_thumb" %>-->
        <!--<%= image_tag "#{opdrecord.send(cornea_image_url_thumb)}", height: '90', width: '90' %>-->
        <!--<div>-->
          <!--Cornea-Left-->
        <!--</div>-->
    <!--</div>-->
  <!--<%end%>-->
  <!--<% if opdrecord['l_corneaslit_diagram_present'] == "Y" %>-->
    <!--<div class="col-md-2">-->
        <!--<% cornea_image_url_thumb = "l_corneaslit_diagram_thumb" %>-->
        <!--<%= image_tag "#{opdrecord.send(cornea_image_url_thumb)}", height: '90', width: '90' %>-->
        <!--<div>-->
          <!--Cornea Slit-Left-->
        <!--</div>-->
    <!--</div>-->
  <!--<%end%>-->
  <!--<% if opdrecord['l_fundus_diagram_present'] == "Y" %>-->
    <!--<div class="col-md-2">-->
        <!--<% cornea_image_url_thumb = "l_fundus_diagram_thumb" %>-->
        <!--<%= image_tag "#{opdrecord.send(cornea_image_url_thumb)}", height: '90', width: '90' %>-->
        <!--<div>-->
          <!--Fundus-Left-->
        <!--</div>-->
    <!--</div>-->
  <!--<%end%>-->
<!--</div>-->
<!--<div class="row mb5">-->

<!--</div>-->
