<div class="clinicaldetails mb5" id="clinicaldetails">
  <% if opdrecord.send("#{@flag}_history_flag") == "1" %>
    <% if opdrecord.clincalevaluation.present? && opdrecord.clincalevaluation.length > 0 %>
      <div class="row">
        <strong style="<%= heading_font_size %>">HISTORY :</strong>
        <div class="summary-line-border"></div>
      </div>

      <div class="row" style="<%= text_font_size %>">
        <%= opdrecord.clincalevaluation.html_safe() %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="examination mb5" id="examination">
  <% if opdrecord.send("#{@flag}_examination_flag") == "1" %>
    <% if opdrecord.examination.length > 0 && opdrecord.examination != "<br>"%>
        <div class="row">
          <strong style="<%= heading_font_size %>">EXAMINATION :</strong>
          <div class="summary-line-border"></div>
        </div>
        <div class="row" style="<%= text_font_size %>">
          <%= opdrecord.examination.html_safe() %>
        </div>
    <% end %>
  <% end %>
</div>

<div class="diagnosis mb5" id="diagnosis">
  <% if opdrecord.send("#{@flag}_diagnosis_flag") == "1" %>
      <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_diagnosis.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, translated_language: @translated_language , mail_job: mail_job } %>
   <% end %>
</div>

<div class="advice mb5 <%= 'print_text_font_size' if  @print_setting %>" id="advice" style="<%= text_font_size %>">
  <% if opdrecord.plan.present? and opdrecord.plan.length > 0 %>
    <div class="row">
        <strong>OLD INVESTIGATION :</strong>
        <div class="summary-line-border"></div>
      </div>
      <div class="row mb5" >
        <%= opdrecord.plan.html_safe() %>
      </div>
  <% end %>
  <% if opdrecord.send("#{@flag}_investigations_flag") == "1" %>
      <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_ophthalinvestigations.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>
      <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_radiologyinvestigations.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>
      <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_laboratoryinvestigations.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality } %>
      <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_otherinvestigations.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
  <% end %>
</div>

<div class="advice mb5" id="procedure">
  <% if opdrecord.send("#{@flag}_procedures_flag") == "1" %>
    <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_procedure.html", locals: { specalityfoldername: @speciality_folder_name, specalityid: @specalityid, opdrecord: @opdrecord, templatetype: @templatetype, templateid: @templateid, opdspeciality: @opdspeciality, mail_job: false } %>
  <% end %>
</div>
