<% if mail_job == true %>
  <% @flag = "view" %>
<% end %>
<% if opdrecord.send("#{@flag}_squint_flag") == "1" %>
  <div class="squint mb5" id="squint">
    <% squint_counter = 0 %>
    <% @r_squint_input_1 = '' %>
    <% @r_squint_input_2 = '' %>
    <% @r_squint_input_3 = '' %>
    <% @r_squint_input_4 = '' %>
    <% @r_squint_input_5 = '' %>
    <% @r_squint_input_6 = '' %>
    <% @r_squint_select_1 = '' %>
    <% @r_squint_select_2 = '' %>
    <% @r_squint_select_3 = '' %>
    <% @r_squint_select_4 = '' %>
    <% @r_squint_select_5 = '' %>
    <% @r_squint_select_6 = '' %>
    <% @r_squint_select_7 = '' %>
    <% @r_squint_select_8 = '' %>
    <% @r_squint_select_9 = '' %>
    <% @r_squint_select_10 = '' %>
    <% @r_squint_select_11 = '' %>
    <% @r_squint_select_12 = '' %>
    <% @r_squint_select_13 = '' %>
    <% @r_squint_select_14 = '' %>
    <% @m_squint_input_1 = '' %>
    <% @m_squint_input_2 = '' %>
    <% @m_squint_input_3 = '' %>
    <% @m_squint_input_4 = '' %>
    <% @m_squint_input_5 = '' %>
    <% @m_squint_input_6 = '' %>
    <% @m_squint_input_7 = '' %>
    <% @m_squint_input_8 = '' %>
    <% @m_squint_input_9 = '' %>
    <% @m_squint_input_10 = '' %>
    <% @m_squint_select_1 = '' %>
    <% @m_squint_select_2 = '' %>
    <% @m_squint_select_3 = '' %>
    <% @m_squint_select_4 = '' %>
    <% @m_squint_select_5 = '' %>
    <% @m_squint_select_6 = '' %>
    <% @m_squint_select_7 = '' %>
    <% @m_squint_select_8 = '' %>
    <% @m_squint_select_9 = '' %>
    <% @m_squint_select_10 = '' %>
    <% @l_squint_select_1 = '' %>
    <% @l_squint_select_2 = '' %>
    <% @l_squint_select_3 = '' %>
    <% @l_squint_select_4 = '' %>
    <% @l_squint_select_5 = '' %>
    <% @l_squint_select_6 = '' %>
    <% @l_squint_select_7 = '' %>
    <% @l_squint_select_8 = '' %>
    <% @l_squint_select_9 = '' %>
    <% @l_squint_select_10 = '' %>
    <% @l_squint_select_11 = '' %>
    <% @l_squint_select_12 = '' %>
    <% @l_squint_select_13 = '' %>
    <% @l_squint_select_14 = '' %>
    <% @l_squint_input_1 = '' %>
    <% @l_squint_input_2 = '' %>
    <% @l_squint_input_3 = '' %>
    <% @l_squint_input_4 = '' %>
    <% @l_squint_input_5 = '' %>
    <% @l_squint_input_6 = '' %>
    <% @near_squint_select_1 = '' %>
    <% @near_squint_select_2 = '' %>
    <% @near_squint_input_1 = '' %>
    <% @near_squint_input_2 = '' %>
    <% @pd_squint_select_1 = '' %>
    <% @pd_squint_select_2 = '' %>
    <% @pd_squint_input_1 = '' %>
    <% @pd_squint_input_2 = '' %>
    <% @sd_squint_select_1 = '' %>
    <% @sd_squint_select_2 = '' %>
    <% @sd_squint_input_1 = '' %>
    <% @sd_squint_input_2 = '' %>
    <% @specs_prescription = '' %>
    <% @fixation_r = '' %>
    <% @fixation_l = '' %>
    <% @distance = '' %>
    <% @near = '' %>
    <% @cover_test_distance = '' %>
    <% @cover_test_near = '' %>
    <% @stereopsis = '' %>
    <% @stereopsis_chart = '' %>
    <% squintcomments = '' %>


    <% additional_fields = ['head_tilt','face_turn','head_posture','r_hirschberg_test','l_hirschberg_test','specs_prescription', 'fixation_r', 'fixation_l', 'distance', 'near', 'cover_test_distance', 'cover_test_near', 'stereopsis', 'stereopsis_chart', 'r_squint_input_1', 'r_squint_input_2', 'r_squint_input_3', 'r_squint_input_4', 'r_squint_input_5', 'r_squint_input_6', 'r_squint_select_1', 'r_squint_select_2', 'r_squint_select_3', 'r_squint_select_4', 'r_squint_select_5', 'r_squint_select_6', 'r_squint_select_7', 'r_squint_select_8', 'r_squint_select_9', 'r_squint_select_10', 'r_squint_select_11', 'r_squint_select_12', 'r_squint_select_13', 'r_squint_select_14', 'm_squint_input_1', 'm_squint_input_2', 'm_squint_input_3', 'm_squint_input_4', 'm_squint_input_5', 'm_squint_input_6', 'm_squint_input_7', 'm_squint_input_8', 'm_squint_input_9', 'm_squint_input_10', 'm_squint_select_1', 'm_squint_select_2', 'm_squint_select_3', 'm_squint_select_4', 'm_squint_select_5', 'm_squint_select_6', 'm_squint_select_7', 'm_squint_select_8', 'm_squint_select_9', 'm_squint_select_10', 'l_squint_input_1', 'l_squint_input_2', 'l_squint_input_3', 'l_squint_input_4', 'l_squint_input_5', 'l_squint_input_6', 'l_squint_select_1', 'l_squint_select_2', 'l_squint_select_3', 'l_squint_select_4', 'l_squint_select_5', 'l_squint_select_6', 'l_squint_select_7', 'l_squint_select_8', 'l_squint_select_9', 'l_squint_select_10', 'l_squint_select_11', 'l_squint_select_12', 'l_squint_select_13', 'l_squint_select_14', 'near_squint_input_1', 'near_squint_input_2', 'near_squint_select_1', 'near_squint_select_2', 'pd_squint_input_1', 'pd_squint_input_2', 'pd_squint_select_1', 'pd_squint_select_2', 'sd_squint_input_1', 'sd_squint_input_2', 'sd_squint_select_1', 'sd_squint_select_2'] %>
    <% unless opdrecord.squint_evaluation == "No" %>
      <% additional_fields.each do |additional_field| %>
        <% if opdrecord.send("#{additional_field}").present? %>
          <% instance_variable_set("@#{additional_field}", opdrecord.read_attribute("#{additional_field}").to_s) %>
          <% squint_counter += 1 %>
        <% end %>
      <% end %>
      <% if opdrecord.squintcomments.present? %>
        <% squintcomments = "Squint Comments- #{opdrecord.read_attribute(:squintcomments)}" %>
        <% squint_counter += 1 %>
      <% end %>
    <% end %>
    <% if squint_counter > 0 %>
      <div class="row mb5 <%= 'print_text_font_size' if  @print_setting %>" style="<%= text_font_size %>">
        <strong>SQUINT EXAMINATION</strong>
        <% if mail_job == false %>
          <% unless params[:action] == "print_opd_record" || params[:action] == "print_squint" %>
            <div class="btn-group pull-right" style="margin-top:-8px;">
              <%= link_to new_mail_record_tracker_path(record_name: 'Squint Examination', patient_id: patient.id, record_id: opdrecord._id, record_model: 'OpdRecord', appointment_id: appointment.id.to_s, speciality: specalityfoldername), class: 'btn btn-xs btn-primary', data: { :remote => true, 'disable-with' => 'Please Wait...' } do %> <i class="fa fa-print"></i> Email<% end %>
              <% if @mode != "tabview" %>
                <% if @print_settings.count > 1 %>
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown"><i class="fa fa-print mr5"></i> Print <i class="fa fa-caret-down"></i></button>
                    <ul class="dropdown-menu dropdown-left-manual" role="menu" aria-labelledby="summary-print-dropdown" style="">
                      <% @print_settings.each do |print_setting| %>
                        <li style="text-align:left" class="multi-print">
                          <%= link_to opd_records_print_squint_path(opdrecordid: opdrecord._id, patientid: patient.id, appointmentid: appointment.id, templatetype: templatetype, specality: specalityfoldername, print_setting_id: print_setting.id, format: :pdf), class: 'full_print', style: 'color: #d9534f;', target: '_blank', data: { method: :get } do %> <i class="fa fa-print mr5"></i> <%= print_setting.name %> <% end %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                <% else %>
                  <%= link_to opd_records_print_squint_path(opdrecordid: opdrecord._id, patientid: patient.id, appointmentid: appointment.id, templatetype: templatetype, specality: specalityfoldername, print_setting_id: @print_settings[0].id, format: :pdf), class: 'btn btn-primary btn-xs full_print', target: '_blank', data: { method: :get } do %> <i class="fa fa-print mr5"></i> Print <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <div class="summary-line-border"></div>
      </div>
      <div class="row <%= 'print_text_font_size' if  @print_setting %>" style="<%= text_font_size %>">
        <% if squint_counter > 0 %>
          <div class="col-md-12 col-sm-12">
            <div class="row mb5">
              <b>Squint :</b>
            </div>
            <% if @specs_prescription.present? %>
              <div class="row mb5">
                <div class="col-md-12 col-sm-12">
                  <span><b>Specs Prescription: </b></span>
                  <span><%= @specs_prescription %></span>
                </div>
              </div>
            <% end %>

            <div class="row mb5">
              <% if opdrecord.head_posture.present? || opdrecord.face_turn.present? || opdrecord.head_tilt.present?  %>
                <div class="col-md-6 col-sm-6">
                  <% ['head_posture', 'face_turn', 'head_tilt'].each do |squint_field| %>
                    <% if opdrecord.send(squint_field).present? %>
                      <div class="col-md-12 col-sm-12">
                        <span><%= squint_field.humanize.titleize %>:</span>
                        <span><%= opdrecord.send(squint_field) %></span>
                        <% if opdrecord.send("#{squint_field}_degree").present? %>
                          <span> - <%=opdrecord.send("#{squint_field}_degree") %> Degree </span>
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
              <% if opdrecord.l_hirschberg_test.present? || opdrecord.r_hirschberg_test.present? %>
                <div class="col-md-6">
                  <div class="col-md-12 col-sm-12">
                    <span><b>Hirschberg Test</b></span>
                  </div>
                  <div class="col-md-12 col-sm-12">
                    <% if opdrecord.r_hirschberg_test.present? %>
                      <span>Hirschberg Test (R):</span>
                      <span><%= opdrecord.r_hirschberg_test %></span>
                    <% end %>
                    <% if opdrecord.r_hirschberg_test.present? && opdrecord.l_hirschberg_test.present? %>
                      <br/>
                    <% end %>
                    <% if opdrecord.l_hirschberg_test.present? %>
                      <span>Hirschberg Test (L):</span>
                      <span><%= opdrecord.l_hirschberg_test %></span>
                    <% end %>
                  </div>
                </div>
              <% end %>

              <% if @fixation_r.present? || @fixation_l.present? || @cover_test_distance.present? || @cover_test_near.present? %>
                <div class="col-md-6">
                  <% if @fixation_r.present? || @fixation_l.present? %>
                    <div class="col-md-12 col-sm-12">
                      <span><b>Fixation</b></span>
                    </div>
                    <div class="col-md-12 col-sm-12">
                      <% if @fixation_r.present? %>
                        <span>Fixation (R):</span>
                        <span><%= @fixation_r %></span>
                      <% end %>
                      <% if @fixation_r.present? && @fixation_l.present? %>
                        <br/>
                      <% end %>
                      <% if @fixation_l.present? %>
                        <span>Fixation (L):</span>
                        <span><%= @fixation_l %></span>
                      <% end %>
                    </div>
                  <% end %>
                  <% if @cover_test_distance.present? || @cover_test_near.present? %>
                    <div class="col-md-12 col-sm-12">
                      <span><b>Cover Test</b></span>
                    </div>
                    <div class="col-md-12 col-sm-12">
                      <% if @cover_test_distance.present? %>
                        <span>Distance:</span>
                        <span><%= @cover_test_distance %></span>
                      <% end %>
                      <% if @cover_test_distance.present? && @cover_test_near.present? %>
                        <br/>
                      <% end %>
                      <% if @cover_test_near.present? %>
                        <span>Near:</span>
                        <span><%= @cover_test_near %></span>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              <% end %>

              <% if @distance.present? || @near.present? || @stereopsis.present? || @stereopsis_chart.present? %>
                <div class="col-md-6">
                  <% if @distance.present? || @near.present? %>
                    <div class="col-md-12 col-sm-12">
                      <span><b>Worth four dot test</b></span>
                    </div>
                    <div class="col-md-12 col-sm-12">
                      <% if @distance.present? %>
                        <span>Distance:</span>
                        <span><%= @distance %></span>
                      <% end %>
                      <% if @distance.present? && @near.present? %>
                        <br/>
                      <% end %>
                      <% if @near.present? %>
                        <span>Near:</span>
                        <span><%= @near %></span>
                      <% end %>
                    </div>
                  <% end %>
                  <% if @stereopsis.present? || @stereopsis_chart.present? %>
                    <div class="col-md-12 col-sm-12">
                      <span><b>Stereopsis</b></span>
                    </div>
                    <div class="col-md-12 col-sm-12">
                      <% if @stereopsis.present? %>
                        <span>Stereopsis:</span>
                        <span><%= @stereopsis %> Arc Seconds</span>
                      <% end %>
                      <% if @stereopsis.present? && @stereopsis_chart.present? %>
                        <br/>
                      <% end %>
                      <% if @stereopsis_chart.present? %>
                        <span>Chart:</span>
                        <span><%= @stereopsis_chart %></span>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
            <% if OpdRecordsHelper.show_squint(opdrecord) %>
              <div class="row mb5 squint_diagram">
                <div class="col-md-12 col-sm-12">
                  <div class="row mb5 text-center">
                    <div class="col-md-2 col-sm-2" style="width: auto;">
                      <div class="row mb5">
                        <table class="squint_table">
                          <tr style="border-bottom: 1px solid black;">
                            <td>
                              <% if @r_squint_input_1.present? %>
                                <%= @r_squint_input_1 %>
                              <% else %>
                                -
                              <% end %>
                              &ensp;
                            </td>
                            <td>
                              <% if @r_squint_select_1.present? %>
                                <%= @r_squint_select_1 %>
                              <% else %>
                                -
                              <% end %>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <% if @r_squint_input_2.present? %>
                                <%= @r_squint_input_2 %>
                              <% else %>
                                -
                              <% end %>
                              &ensp;
                            </td>
                            <td>
                              <% if @r_squint_select_2.present? %>
                                <%= @r_squint_select_2 %>
                              <% else %>
                                -
                              <% end %>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <div class="row mb5">
                        <table class="squint_table">
                          <tr style="border-bottom: 1px solid black;">
                            <td>
                              <% if @r_squint_input_3.present? %>
                                <%= @r_squint_input_3 %>
                              <% else %>
                                -
                              <% end %>
                              &ensp;
                            </td>
                            <td>
                              <% if @r_squint_select_3.present? %>
                                <%= @r_squint_select_3 %>
                              <% else %>
                                -
                              <% end %>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <% if @r_squint_input_4.present? %>
                                <%= @r_squint_input_4 %>
                              <% else %>
                                -
                              <% end %>
                              &ensp;
                            </td>
                            <td>
                              <% if @r_squint_select_4.present? %>
                                <%= @r_squint_select_4 %>
                              <% else %>
                                -
                              <% end %>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <div class="row mb5">
                        <table class="squint_table">
                          <tr style="border-bottom: 1px solid black;">
                            <td>
                              <% if @r_squint_input_5.present? %>
                                <%= @r_squint_input_5 %>
                              <% else %>
                                -
                              <% end %>
                              &ensp;
                            </td>
                            <td>
                              <% if @r_squint_select_5.present? %>
                                <%= @r_squint_select_5 %>
                              <% else %>
                                -
                              <% end %>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <% if @r_squint_input_6.present? %>
                                <%= @r_squint_input_6 %>
                              <% else %>
                                -
                              <% end %>
                              &ensp;
                            </td>
                            <td>
                              <% if @r_squint_select_6.present? %>
                                <%= @r_squint_select_6 %>
                              <% else %>
                                -
                              <% end %>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-3" style="width: 31%;">
                      <div class="row" style="padding-top: 8px;">
                        <div class="col-md-4 col-sm-4">
                          <% if @r_squint_select_7.present? %>
                            <%= sprintf("%+d", @r_squint_select_7) %>
                          <% else %>
                            -
                          <% end %>
                        </div>
                        <div class="col-md-4 col-sm-4">
                          <% if @r_squint_select_8.present? %>
                            <%= sprintf("%+d", @r_squint_select_8) %>
                          <% else %>
                            -
                          <% end %>
                        </div>
                        <div class="col-md-4 col-sm-4">
                          <% if @r_squint_select_9.present? %>
                            <%= sprintf("%+d", @r_squint_select_9) %>
                          <% else %>
                            -
                          <% end %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4 col-sm-4" style="bottom: -43px;">
                          <% if @r_squint_select_10.present? %>
                            <%= sprintf("%+d", @r_squint_select_10) %>
                          <% else %>
                            -
                          <% end %>
                        </div>
                        <div class="col-md-4 col-sm-4">
                          <svg height="105" width="65" style="margin-left: -18px !important;">
                            <circle cx="44" cy="60" r="20%" stroke="black" stroke-width="1" fill="none" />
                            <text x="44" y="60" fill="black" text-anchor="middle" alignment-baseline="central" style="font-size: 10px;">R</text>
                          </svg>
                        </div>
                        <div class="col-md-4 col-sm-4" style="bottom: -43px;">
                          <% if @r_squint_select_11.present? %>
                            <%= sprintf("%+d", @r_squint_select_11) %>
                          <% else %>
                            -
                          <% end %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4 col-sm-4" style="bottom: 16px;">
                          <% if @r_squint_select_12.present? %>
                            <%= sprintf("%+d", @r_squint_select_12) %>
                          <% else %>
                            -
                          <% end %>
                        </div>
                        <div class="col-md-4 col-sm-4" style="bottom: 16px;">
                          <% if @r_squint_select_13.present? %>
                            <%= sprintf("%+d", @r_squint_select_13) %>
                          <% else %>
                            -
                          <% end %>
                        </div>
                        <div class="col-md-4 col-sm-4" style="bottom: 16px;">
                          <% if @r_squint_select_14.present? %>
                            <%= sprintf("%+d", @r_squint_select_14) %>
                          <% else %>
                            -
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2 col-sm-2" style="width: auto;">
                      <div class="row mb5">
                        <table class="squint_table">
                          <tr style="border-bottom: 1px solid black;">
                            <td>
                              <% if @m_squint_input_1.present? %>
                                <%= @m_squint_input_1 %>
                              <% else %>
                                -
                              <% end %>
                              &ensp;
                            </td>
                            <td>
                              <% if @m_squint_select_1.present? %>
                                <%= @m_squint_select_1 %>
                              <% else %>
                                -
                              <% end %>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <% if @m_squint_input_2.present? %>
                                <%= @m_squint_input_2 %>
                              <% else %>
                                -
                              <% end %>
                              &ensp;
                            </td>
                            <td>
                              <% if @m_squint_select_2.present? %>
                                <%= @m_squint_select_2 %>
                              <% else %>
                                -
                              <% end %>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <div class="row mb5">
                        <table class="squint_table">
                          <tr style="border-bottom: 1px solid black;">
                            <td>
                              <% if @m_squint_input_3.present? %>
                                <%= @m_squint_input_3 %>
                              <% else %>
                                -
                              <% end %>
                              &ensp;
                            </td>
                            <td>
                              <% if @m_squint_select_3.present? %>
                                <%= @m_squint_select_3 %>
                              <% else %>
                                -
                              <% end %>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <% if @m_squint_input_4.present? %>
                                <%= @m_squint_input_4 %>
                              <% else %>
                                -
                              <% end %>
                              &ensp;
                            </td>
                            <td>
                              <% if @m_squint_select_4.present? %>
                                <%= @m_squint_select_4 %>
                              <% else %>
                                -
                              <% end %>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <div class="row mb5">
                        <table class="squint_table">
                          <tr style="border-bottom: 1px solid black;">
                            <td>
                              <% if @m_squint_input_5.present? %>
                                <%= @m_squint_input_5 %>
                              <% else %>
                                -
                              <% end %>
                              &ensp;
                            </td>
                            <td>
                              <% if @m_squint_select_5.present? %>
                                <%= @m_squint_select_5 %>
                              <% else %>
                                -
                              <% end %>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <% if @m_squint_input_6.present? %>
                                <%= @m_squint_input_6 %>
                              <% else %>
                                -
                              <% end %>
                              &ensp;
                            </td>
                            <td>
                              <% if @m_squint_select_6.present? %>
                                <%= @m_squint_select_6 %>
                              <% else %>
                                -
                              <% end %>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-3" style="width: 31%;">
                      <div class="row" style="padding-top: 8px;">
                        <div class="col-md-4 col-sm-4">
                          <% if @l_squint_select_1.present? %>
                            <%= sprintf("%+d", @l_squint_select_1) %>
                          <% else %>
                            -
                          <% end %>
                        </div>
                        <div class="col-md-4 col-sm-4">
                          <% if @l_squint_select_2.present? %>
                            <%= sprintf("%+d", @l_squint_select_2) %>
                          <% else %>
                            -
                          <% end %>
                        </div>
                        <div class="col-md-4 col-sm-4">
                          <% if @l_squint_select_3.present? %>
                            <%= sprintf("%+d", @l_squint_select_3) %>
                          <% else %>
                            -
                          <% end %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4 col-sm-4" style="bottom: -43px;">
                          <% if @l_squint_select_4.present? %>
                            <%= sprintf("%+d", @l_squint_select_4) %>
                          <% else %>
                            -
                          <% end %>
                        </div>
                        <div class="col-md-4 col-sm-4">
                          <svg height="105" width="65" style="margin-left: -18px !important;">
                            <circle cx="44" cy="60" r="20%" stroke="black" stroke-width="1" fill="none" />
                            <text x="44" y="60" fill="black" text-anchor="middle" alignment-baseline="central" style="font-size: 10px;">L</text>
                          </svg>
                        </div>
                        <div class="col-md-4 col-sm-4" style="bottom: -43px;">
                          <% if @l_squint_select_5.present? %>
                            <%= sprintf("%+d", @l_squint_select_5) %>
                          <% else %>
                            -
                          <% end %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4 col-sm-4" style="bottom: 16px;">
                          <% if @l_squint_select_6.present? %>
                            <%= sprintf("%+d", @l_squint_select_6) %>
                          <% else %>
                            -
                          <% end %>
                        </div>
                        <div class="col-md-4 col-sm-4" style="bottom: 16px;">
                          <% if @l_squint_select_7.present? %>
                            <%= sprintf("%+d", @l_squint_select_7) %>
                          <% else %>
                            -
                          <% end %>
                        </div>
                        <div class="col-md-4 col-sm-4" style="bottom: 16px;">
                          <% if @l_squint_select_8.present? %>
                            <%= sprintf("%+d", @l_squint_select_8) %>
                          <% else %>
                            -
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2 col-sm-2" style="width: auto;">
                      <div class="row mb5">
                        <table class="squint_table">
                          <tr style="border-bottom: 1px solid black;">
                            <td>
                              <% if @l_squint_input_1.present? %>
                                <%= @l_squint_input_1 %>
                              <% else %>
                                -
                              <% end %>
                              &ensp;
                            </td>
                            <td>
                              <% if @l_squint_select_9.present? %>
                                <%= @l_squint_select_9 %>
                              <% else %>
                                -
                              <% end %>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <% if @l_squint_input_2.present? %>
                                <%= @l_squint_input_2 %>
                              <% else %>
                                -
                              <% end %>
                              &ensp;
                            </td>
                            <td>
                              <% if @l_squint_select_10.present? %>
                                <%= @l_squint_select_10 %>
                              <% else %>
                                -
                              <% end %>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <div class="row mb5">
                        <table class="squint_table">
                          <tr style="border-bottom: 1px solid black;">
                            <td>
                              <% if @l_squint_input_3.present? %>
                                <%= @l_squint_input_3 %>
                              <% else %>
                                -
                              <% end %>
                              &ensp;
                            </td>
                            <td>
                              <% if @l_squint_select_11.present? %>
                                <%= @l_squint_select_11 %>
                              <% else %>
                                -
                              <% end %>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <% if @l_squint_input_4.present? %>
                                <%= @l_squint_input_4 %>
                              <% else %>
                                -
                              <% end %>
                              &ensp;
                            </td>
                            <td>
                              <% if @l_squint_select_12.present? %>
                                <%= @l_squint_select_12 %>
                              <% else %>
                                -
                              <% end %>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <div class="row mb5">
                        <table class="squint_table">
                          <tr style="border-bottom: 1px solid black;">
                            <td>
                              <% if @l_squint_input_5.present? %>
                                <%= @l_squint_input_5 %>
                              <% else %>
                                -
                              <% end %>
                              &ensp;
                            </td>
                            <td>
                              <% if @l_squint_select_13.present? %>
                                <%= @l_squint_select_13 %>
                              <% else %>
                                -
                              <% end %>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <% if @l_squint_input_6.present? %>
                                <%= @l_squint_input_6 %>
                              <% else %>
                                -
                              <% end %>
                              &ensp;
                            </td>
                            <td>
                              <% if @l_squint_select_14.present? %>
                                <%= @l_squint_select_14 %>
                              <% else %>
                                -
                              <% end %>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="row mb5 near_row">
                    <div class="col-md-2 col-sm-2 col-xs-2 col-md-offset-2" style="text-align: end;">Near</div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                      <div class="row">
                        <table class="squint_table">
                          <tr style="border-bottom: 1px solid black;">
                            <td>
                              <% if @near_squint_input_1.present? %>
                                <%= @near_squint_input_1 %>
                              <% else %>
                                -
                              <% end %>
                              &ensp;
                            </td>
                            <td>
                              <% if @near_squint_select_1.present? %>
                                <%=@near_squint_select_1 %>
                              <% else %>
                                -
                              <% end %>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <% if @near_squint_input_2.present? %>
                                <%= @near_squint_input_2 %>
                              <% else %>
                                -
                              <% end %>
                              &ensp;
                            </td>
                            <td>
                              <% if @near_squint_select_2.present? %>
                                <%= @near_squint_select_2 %>
                              <% else %>
                                -
                              <% end %>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="row mb5">
                    <div class="col-md-6 col-sm-6">
                      <div class="row mb5">
                        <div class="col-md-6 col-sm-6 col-xs-2" style="text-align: end;padding-top: 13px;">Primary Deviation</div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                          <div class="row">
                            <table class="squint_table">
                              <tr style="border-bottom: 1px solid black;">
                                <td>
                                  <% if @pd_squint_input_1.present? %>
                                    <%= @pd_squint_input_1 %>
                                  <% else %>
                                    -
                                  <% end %>
                                  &ensp;
                                </td>
                                <td>
                                  <% if @pd_squint_select_1.present? %>
                                    <%= @pd_squint_select_1 %>
                                  <% else %>
                                    -
                                  <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <% if @pd_squint_input_2.present? %>
                                    <%= @pd_squint_input_2 %>
                                  <% else %>
                                    -
                                  <% end %>
                                  &ensp;
                                </td>
                                <td>
                                  <% if @pd_squint_select_2.present? %>
                                    <%= @pd_squint_select_2 %>
                                  <% else %>
                                    -
                                  <% end %>
                                </td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="row mb5">
                        <div class="col-md-6 col-sm-6 col-xs-6" style="text-align: end;padding-top: 13px;">Secondary Deviation</div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                          <div class="row">
                            <table class="squint_table">
                              <tr style="border-bottom: 1px solid black;">
                                <td>
                                  <% if @sd_squint_input_1.present? %>
                                    <%= @sd_squint_input_1 %>
                                  <% else %>
                                    -
                                  <% end %>
                                  &ensp;
                                </td>
                                <td>
                                  <% if @sd_squint_select_1.present? %>
                                    <%= @sd_squint_select_1 %>
                                  <% else %>
                                    -
                                  <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <% if @sd_squint_input_2.present? %>
                                    <%= @sd_squint_input_2 %>
                                  <% else %>
                                    -
                                  <% end %>
                                  &ensp;
                                </td>
                                <td>
                                  <% if @sd_squint_select_2.present? %>
                                    <%= @sd_squint_select_2 %>
                                  <% else %>
                                    -
                                  <% end %>
                                </td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="row mb5" style="padding-top: 5%;">
                        <div class="col-md-4 col-sm-4" style="text-align: -webkit-center;padding-top: 14px;">
                          <div class="row">
                            <table class="squint_table">
                              <tr style="border-bottom: 1px solid black;">
                                <td>
                                  <% if @m_squint_input_7.present? %>
                                    <%= @m_squint_input_7 %>
                                  <% else %>
                                    -
                                  <% end %>
                                  &ensp;
                                </td>
                                <td>
                                  <% if @m_squint_select_7.present? %>
                                    <%= @m_squint_select_7 %>
                                  <% else %>
                                    -
                                  <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <% if @m_squint_input_8.present? %>
                                    <%= @m_squint_input_8 %>
                                  <% else %>
                                    -
                                  <% end %>
                                  &ensp;
                                </td>
                                <td>
                                  <% if @m_squint_select_8.present? %>
                                    <%= @m_squint_select_8 %>
                                  <% else %>
                                    -
                                  <% end %>
                                </td>
                              </tr>
                            </table>
                          </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                          <svg height="96" width="80">
                            <polyline points="10,7 40,70 70,10" style="fill:none;stroke:black;stroke-width:1" />
                            Sorry, your browser does not support inline SVG.
                          </svg>
                        </div>
                        <div class="col-md-4 col-sm-4 col-sm-offset-1" style="padding-top: 14px;">
                          <div class="row">
                            <table class="squint_table">
                              <tr style="border-bottom: 1px solid black;">
                                <td>
                                  <% if @m_squint_input_9.present? %>
                                    <%= @m_squint_input_9 %>
                                  <% else %>
                                    -
                                  <% end %>
                                  &ensp;
                                </td>
                                <td>
                                  <% if @m_squint_select_9.present? %>
                                    <%= @m_squint_select_9 %>
                                  <% else %>
                                    -
                                  <% end %>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <% if @m_squint_input_10.present? %>
                                    <%= @m_squint_input_10 %>
                                  <% else %>
                                    -
                                  <% end %>
                                  &ensp;
                                </td>
                                <td>
                                  <% if @m_squint_select_10.present? %>
                                    <%= @m_squint_select_10 %>
                                  <% else %>
                                    -
                                  <% end %>
                                </td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="row mb5">
              <% if squintcomments.present? %>
                <span style="white-space: pre-line"><%= squintcomments %></span>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<style type="text/css">
  .squint_table{
    margin-bottom: 14px;
    font-size: 8px;
  }
  .squint_diagram {
    page-break-inside: avoid;
  }

  .near_row {
    margin-left: 8%;
  }

</style>