<% if opdrecord.has_ophthalinvestigationlist? || opdrecord.ophthalcomments.present? %>
  <div class="ophthalmologyinvestigations mb5  <%= 'print_text_font_size' if  @print_setting %>" id="ophthalmologyinvestigations" style="<%= heading_font_size %>">
    <% ophthalinvestigations_counter = opdrecord.ophthalinvestigationlist.size %>
    <% advised_counter = 0%>
    <% performed_counter = 0%>
    <% advised_total = 0%>
    <% performed_total = 0%>

    <% opdrecord.ophthalinvestigationlist.each_with_index do |elem, i| %>
      <%if elem.investigationstage == "A"%>
        <% advised_total = advised_total+1 %>
      <%else%>
        <% performed_total = performed_total+1 %>
      <%end%>
    <%end%>

    <% if ophthalinvestigations_counter > 0 %>
      <div class="row">
        <strong>OPHTHAL INVESTIGATIONS</strong>
        <div class="summary-line-border"></div>
      </div>

      <div class="row">
        <%if opdrecord.ophthalinvestigationlist.count>0%>
            <div class="col-md-2 cols-sm-12">
              <strong>Advised:</strong>
            </div>
        <%end%>
        <div class="col-md-10 col-sm-10">
          <% opdrecord.ophthalinvestigationlist.each_with_index do |elem, i| %>
            <% advised_counter = advised_counter+1 %>
            <strong><%= advised_counter%>. </strong><%= elem.investigationname %>
            <% if elem.investigationside? %>(<%= opdrecord.get_label_for_ophthalinvestigations_side(elem.investigationside) %>)<% end %>
            <%if advised_counter < advised_total%><%else%><%end%> &nbsp;
          <%end%>
        </div>
      </div>
      <div class="row">
        <!--  performed_datetime: opdrecord.created_at.to_date.beginning_of_day..opdrecord.created_at.to_date.end_of_day, -->
        <% performed_opd_ophthal ||= @performed_opd_ophthal %>
        <% if performed_opd_ophthal && performed_opd_ophthal.count > 0 %>
          <br>
          <div class="col-md-2 col-sm-2">
            <strong>Performed:</strong>
          </div>
          <div class="col-md-10 col-sm-10">
            <table class="table table-bordered" style="margin:0px;">
              <thead>
                <tr>
                  <th width="5%" rowspan="2" style="padding:0px;text-align:center;">#</th>
                  <th width="15%" rowspan="2" style="padding:0px;text-align:center;">Investigation</th>
                  <th width="15%" rowspan="2" style="padding:0px;text-align:center;">Doctor's Comment</th>
                </tr>
              </thead>
              <tbody>
                <% performed_opd_ophthal.each_with_index do |elem, i| %>
                  <tr>
                    <td style="padding:0px;text-align:center;"><%= i+1 %></td>
                    <td style="padding:0px;text-align:center;"><%= elem.investigationname %> (<%= opdrecord.get_label_for_ophthalinvestigations_side(elem.investigationside) %>)</td>
                    <td style="padding:0px;text-align:center;"><%= elem.investigation_performed || '-' %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if ophthalinvestigations_counter == 0 %>
      <div class="row">
        <strong>OPHTHAL INVESTIGATIONS</strong>
        <div class="summary-line-border"></div>
      </div>
    <% end %>
    <div class="">
      <% if opdrecord.ophthalcomments.present? %>
        <span style="white-space: pre-line"><%= opdrecord.ophthalcomments %></span>
      <% end %>
    </div>
  </div>
<% end %>