<!-- Note opdrecord.replace_blank is method to check blank in opd_record.rb -->
<% dilated_refraction_counter = 0 %>
<% dilated_right_left_counter = 0 %>

<!-- Counter Logic for Dilation Drops -->
<% if opdrecord.dilation_drop.present? %>
  <% dilated_refraction_counter += 1 %>
<% end %>

<!-- Counter Logic Dry Auto Refraction -->
<% dilated_auto_refraction_counter = 0 %>
<% if opdrecord.r_autorefraction_dilated1_sph.present? || opdrecord.r_autorefraction_dilated1_cyl.present? || opdrecord.r_autorefraction_dilated1_axis.present? || opdrecord.r_autorefraction_dilated2_sph.present? || opdrecord.r_autorefraction_dilated2_cyl.present? || opdrecord.r_autorefraction_dilated2_axis.present? || opdrecord.r_autorefraction_dilated3_sph.present? || opdrecord.r_autorefraction_dilated3_cyl.present? || opdrecord.r_autorefraction_dilated3_axis.present? %>
  <% dilated_refraction_counter += 1 %>
  <% dilated_right_left_counter += 1 %>
  <% dilated_auto_refraction_counter += 1 %>

  <% r_autorefraction_dilated1_sph = opdrecord.r_autorefraction_dilated1_sph %>
  <% r_autorefraction_dilated1_cyl = opdrecord.r_autorefraction_dilated1_cyl %>
  <% r_autorefraction_dilated1_axis = opdrecord.r_autorefraction_dilated1_axis %>
  <% r_autorefraction_dilated2_sph = opdrecord.r_autorefraction_dilated2_sph %>
  <% r_autorefraction_dilated2_cyl = opdrecord.r_autorefraction_dilated2_cyl %>
  <% r_autorefraction_dilated2_axis = opdrecord.r_autorefraction_dilated2_axis %>
  <% r_autorefraction_dilated3_sph = opdrecord.r_autorefraction_dilated3_sph %>
  <% r_autorefraction_dilated3_cyl = opdrecord.r_autorefraction_dilated3_cyl %>
  <% r_autorefraction_dilated3_axis = opdrecord.r_autorefraction_dilated3_axis %>
<% end %>

<% if opdrecord.l_autorefraction_dilated1_sph.present? || opdrecord.l_autorefraction_dilated1_cyl.present? || opdrecord.l_autorefraction_dilated1_axis.present? || opdrecord.l_autorefraction_dilated2_sph.present? || opdrecord.l_autorefraction_dilated2_cyl.present? || opdrecord.l_autorefraction_dilated2_axis.present? || opdrecord.l_autorefraction_dilated3_sph.present? || opdrecord.l_autorefraction_dilated3_cyl.present? || opdrecord.l_autorefraction_dilated3_axis.present? %>
  <% dilated_refraction_counter += 1 %>
  <% dilated_right_left_counter += 1 %>
  <% dilated_auto_refraction_counter += 1 %>

  <% l_autorefraction_dilated1_sph = opdrecord.l_autorefraction_dilated1_sph %>
  <% l_autorefraction_dilated1_cyl = opdrecord.l_autorefraction_dilated1_cyl %>
  <% l_autorefraction_dilated1_axis = opdrecord.l_autorefraction_dilated1_axis %>
  <% l_autorefraction_dilated2_sph = opdrecord.l_autorefraction_dilated2_sph %>
  <% l_autorefraction_dilated2_cyl = opdrecord.l_autorefraction_dilated2_cyl %>
  <% l_autorefraction_dilated2_axis = opdrecord.l_autorefraction_dilated2_axis %>
  <% l_autorefraction_dilated3_sph = opdrecord.l_autorefraction_dilated3_sph %>
  <% l_autorefraction_dilated3_cyl = opdrecord.l_autorefraction_dilated3_cyl %>
  <% l_autorefraction_dilated3_axis = opdrecord.l_autorefraction_dilated3_axis %>
<% end %>
<!-- Counter Logic Dry Auto Refraction Ends -->

<!-- Counter Logic Dry Net Retinoscopy -->
<% dilated_retinoscopy_counter = 0 %>
<% if opdrecord.r_retinoscopy_dilated_sph.present? || opdrecord.r_retinoscopy_dilated_cyl.present? || opdrecord.r_retinoscopy_dilated_axis.present? || opdrecord.r_retinoscopy_dilated_reflex.present? || opdrecord.r_retinoscopy_dilated_distance.present? || opdrecord.r_retinoscopy_dilated_drug_used.present? || opdrecord.r_retinoscopy_dilated_comments.present? %>
  <% dilated_refraction_counter += 1 %>
  <% dilated_right_left_counter += 1 %>
  <% dilated_retinoscopy_counter += 1 %>

  <% r_retinoscopy_dilated_sph = opdrecord.r_retinoscopy_dilated_sph %>
  <% r_retinoscopy_dilated_cyl = opdrecord.r_retinoscopy_dilated_cyl %>
  <% r_retinoscopy_dilated_axis = opdrecord.r_retinoscopy_dilated_axis %>
  <% r_retinoscopy_dilated_reflex = opdrecord.r_retinoscopy_dilated_reflex %>
  <% r_retinoscopy_dilated_distance = opdrecord.r_retinoscopy_dilated_distance %>
  <% r_retinoscopy_dilated_drug_used = opdrecord.r_retinoscopy_dilated_drug_used %>
  <% r_retinoscopy_dilated_comments = opdrecord.r_retinoscopy_dilated_comments %>
<% end %>

<% if opdrecord.l_retinoscopy_dilated_sph.present? || opdrecord.l_retinoscopy_dilated_cyl.present? || opdrecord.l_retinoscopy_dilated_axis.present? || opdrecord.l_retinoscopy_dilated_reflex.present? || opdrecord.l_retinoscopy_dilated_distance.present? || opdrecord.l_retinoscopy_dilated_drug_used.present? || opdrecord.l_retinoscopy_dilated_comments.present? %>
  <% dilated_refraction_counter += 1 %>
  <% dilated_right_left_counter += 1 %>
  <% dilated_retinoscopy_counter += 1 %>

  <% l_retinoscopy_dilated_sph = opdrecord.l_retinoscopy_dilated_sph %>
  <% l_retinoscopy_dilated_cyl = opdrecord.l_retinoscopy_dilated_cyl %>
  <% l_retinoscopy_dilated_axis = opdrecord.l_retinoscopy_dilated_axis %>
  <% l_retinoscopy_dilated_reflex = opdrecord.l_retinoscopy_dilated_reflex %>
  <% l_retinoscopy_dilated_distance = opdrecord.l_retinoscopy_dilated_distance %>
  <% l_retinoscopy_dilated_drug_used = opdrecord.l_retinoscopy_dilated_drug_used %>
  <% l_retinoscopy_dilated_comments = opdrecord.l_retinoscopy_dilated_comments %>
<% end %>
<!-- Counter Logic Dry Net Retinoscopy Ends -->

<!-- Counter Logic Dry Refraction -->
<% dilated_refraction_field_counter = 0 %>
<% if opdrecord.r_dilatedrefraction_distant_ucva.present? || opdrecord.r_dilatedrefraction_distant_sph.present? || opdrecord.r_dilatedrefraction_distant_cyl.present? || opdrecord.r_dilatedrefraction_distant_axis.present? || opdrecord.r_dilatedrefraction_distant_vision.present? || opdrecord.r_dilatedrefraction_distant_va_ph.present? || opdrecord.r_dilatedrefraction_add_ucva.present? || opdrecord.r_dilatedrefraction_add_sph.present? || opdrecord.r_dilatedrefraction_add_cyl.present? || opdrecord.r_dilatedrefraction_add_axis.present? || opdrecord.r_dilatedrefraction_add_vision.present? || opdrecord.r_dilatedrefraction_add_va_ph.present? || opdrecord.r_dilatedrefraction_near_ucva.present? || opdrecord.r_dilatedrefraction_near_sph.present? || opdrecord.r_dilatedrefraction_near_cyl.present? || opdrecord.r_dilatedrefraction_near_axis.present? || opdrecord.r_dilatedrefraction_near_vision.present? || opdrecord.r_dilatedrefraction_near_va_ph.present? || opdrecord.r_dilatedrefraction_comments.present? %>
  <% dilated_refraction_counter += 1 %>
  <% dilated_right_left_counter += 1 %>
  <% dilated_refraction_field_counter += 1 %>

  <% r_dilatedrefraction_distant_ucva = opdrecord.r_dilatedrefraction_distant_ucva %>
  <% r_dilatedrefraction_distant_sph = opdrecord.r_dilatedrefraction_distant_sph %>
  <% r_dilatedrefraction_distant_cyl = opdrecord.r_dilatedrefraction_distant_cyl %>
  <% r_dilatedrefraction_distant_axis = opdrecord.r_dilatedrefraction_distant_axis %>
  <% r_dilatedrefraction_distant_vision = opdrecord.r_dilatedrefraction_distant_vision %>
  <% r_dilatedrefraction_distant_va_ph = opdrecord.r_dilatedrefraction_distant_va_ph %>
  <% r_dilatedrefraction_near_ucva = opdrecord.r_dilatedrefraction_near_ucva %>
  <% r_dilatedrefraction_near_sph = opdrecord.r_dilatedrefraction_near_sph %>
  <% r_dilatedrefraction_near_cyl = opdrecord.r_dilatedrefraction_near_cyl %>
  <% r_dilatedrefraction_near_axis = opdrecord.r_dilatedrefraction_near_axis %>
  <% r_dilatedrefraction_near_vision = opdrecord.r_dilatedrefraction_near_vision %>
  <% r_dilatedrefraction_near_va_ph = opdrecord.r_dilatedrefraction_near_va_ph %>
  <% r_dilatedrefraction_comments = opdrecord.r_dilatedrefraction_comments %>
  <% dilated_refraction_advice = opdrecord.dilated_refraction_advice %>
<% end %>

<% if opdrecord.l_dilatedrefraction_distant_ucva.present? || opdrecord.l_dilatedrefraction_distant_sph.present? || opdrecord.l_dilatedrefraction_distant_cyl.present? || opdrecord.l_dilatedrefraction_distant_axis.present? || opdrecord.l_dilatedrefraction_distant_vision.present? || opdrecord.l_dilatedrefraction_distant_va_ph.present? || opdrecord.l_dilatedrefraction_add_ucva.present? || opdrecord.l_dilatedrefraction_add_sph.present? || opdrecord.l_dilatedrefraction_add_cyl.present? || opdrecord.l_dilatedrefraction_add_axis.present? || opdrecord.l_dilatedrefraction_add_vision.present? || opdrecord.l_dilatedrefraction_add_va_ph.present? || opdrecord.l_dilatedrefraction_near_ucva.present? || opdrecord.l_dilatedrefraction_near_sph.present? || opdrecord.l_dilatedrefraction_near_cyl.present? || opdrecord.l_dilatedrefraction_near_axis.present? || opdrecord.l_dilatedrefraction_near_vision.present? || opdrecord.l_dilatedrefraction_near_va_ph.present? || opdrecord.l_dilatedrefraction_comments.present? %>
  <% dilated_refraction_counter += 1 %>
  <% dilated_right_left_counter += 1 %>
  <% dilated_refraction_field_counter += 1 %>

  <% l_dilatedrefraction_distant_ucva = opdrecord.l_dilatedrefraction_distant_ucva %>
  <% l_dilatedrefraction_distant_sph = opdrecord.l_dilatedrefraction_distant_sph %>
  <% l_dilatedrefraction_distant_cyl = opdrecord.l_dilatedrefraction_distant_cyl %>
  <% l_dilatedrefraction_distant_axis = opdrecord.l_dilatedrefraction_distant_axis %>
  <% l_dilatedrefraction_distant_vision = opdrecord.l_dilatedrefraction_distant_vision %>
  <% l_dilatedrefraction_distant_va_ph = opdrecord.l_dilatedrefraction_distant_va_ph %>
  <% l_dilatedrefraction_near_ucva = opdrecord.l_dilatedrefraction_near_ucva %>
  <% l_dilatedrefraction_near_sph = opdrecord.l_dilatedrefraction_near_sph %>
  <% l_dilatedrefraction_near_cyl = opdrecord.l_dilatedrefraction_near_cyl %>
  <% l_dilatedrefraction_near_axis = opdrecord.l_dilatedrefraction_near_axis %>
  <% l_dilatedrefraction_near_vision = opdrecord.l_dilatedrefraction_near_vision %>
  <% l_dilatedrefraction_near_va_ph = opdrecord.l_dilatedrefraction_near_va_ph %>
  <% l_dilatedrefraction_comments = opdrecord.l_dilatedrefraction_comments %>
  <% dilated_refraction_advice = opdrecord.dilated_refraction_advice %>
<% end %>


<% if dilated_refraction_counter > 0 %>
  <div id="dilated-refraction-summary" class="dilated-refraction-summary">
    <div class="row mb5">
      <strong>DILATED REFRACTION</strong>&emsp;<%= "Drops: #{patient.get_label_for_allergy("eyedrops", opdrecord.dilation_drop)}".titleize if opdrecord.dilation_drop.present? %>
      <div class="summary-line-border"></div>
    </div>
    <% if dilated_right_left_counter > 0 %>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="text-center" style="background-color:#ddd;">R/OD</div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="text-center" style="background-color:#ddd;">L/OS</div>
        </div>
      </div>
    <% end %>
    <% if dilated_auto_refraction_counter > 0 %>
      <div class="row dilated-auto-refraction-block">
        <div class="col-md-6 col-xs-6">
          <strong class="head-title">Dilated Auto Refraction:</strong>
          <table class="table table-bordered mb10" width="100%">
            <thead>
              <tr>
                <th width="25%" class="table-css"></th>
                <th width="25%" class="table-css">Sph</th>
                <th width="25%" class="table-css">Cyl</th>
                <th width="25%" class="table-css">Axis</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-css">Dilated</td>
                <td class="table-css"><%= opdrecord.replace_blank(r_autorefraction_dilated1_sph) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_autorefraction_dilated1_cyl) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_autorefraction_dilated1_axis) %></td>
              </tr>
              <tr>
                <td class="table-css"></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_autorefraction_dilated2_sph) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_autorefraction_dilated2_cyl) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_autorefraction_dilated2_axis) %></td>
              </tr>
              <tr>
                <td class="table-css"></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_autorefraction_dilated3_sph) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_autorefraction_dilated3_cyl) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_autorefraction_dilated3_axis) %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6 col-xs-6">
          <strong class="head-title">Dilated Auto Refraction:</strong>
          <table class="table table-bordered mb10" width="100%">
            <thead>
              <tr>
                <th width="25%" class="table-css"></th>
                <th width="25%" class="table-css">Sph</th>
                <th width="25%" class="table-css">Cyl</th>
                <th width="25%" class="table-css">Axis</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-css">Dilated</td>
                <td class="table-css"><%= opdrecord.replace_blank(l_autorefraction_dilated1_sph) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_autorefraction_dilated1_cyl) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_autorefraction_dilated1_axis) %></td>
              </tr>
              <tr>
                <td class="table-css"></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_autorefraction_dilated2_sph) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_autorefraction_dilated2_cyl) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_autorefraction_dilated2_axis) %></td>
              </tr>
              <tr>
                <td class="table-css"></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_autorefraction_dilated3_sph) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_autorefraction_dilated3_cyl) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_autorefraction_dilated3_axis) %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
    <% if dilated_retinoscopy_counter > 0 %>
      <div class="row dilated-retinoscopy-block">
        <div class="col-md-6 col-xs-6">
          <strong class="head-title">Dilated Net Retinoscopy:</strong>
          <table class="table table-bordered mb10" width="100%">
            <thead>
              <tr>
                <th width="18%" class="table-css"></th>
                <th width="18%" class="table-css">Sph</th>
                <th width="18%" class="table-css">Cyl</th>
                <th width="18%" class="table-css">Axis</th>
                <th width="28%" class="table-css">Reflex Type</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-css">Distant</td>
                <td class="table-css"><%= opdrecord.replace_blank(r_retinoscopy_dilated_sph) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_retinoscopy_dilated_cyl) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_retinoscopy_dilated_axis) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_retinoscopy_dilated_reflex) %></td>
              </tr>
            </tbody>
          </table>
          <div class="col-md-12">
            <div class="row text-font">
              <% if r_retinoscopy_dilated_distance.present? %>
                <div class="col-md-6 col-xs-6">
                  <strong>At Distance :</strong>
                  <span><%= "#{r_retinoscopy_dilated_distance} Mt/cm" %></span>
                </div>
              <% end %>
              <% if r_retinoscopy_dilated_drug_used.present? %>
                <div class="col-md-6 col-xs-6">
                  <strong>Drug Used :</strong>
                  <span><%= r_retinoscopy_dilated_drug_used %></span>
                </div>
              <% end %>
              <% if r_retinoscopy_dilated_comments.present? %>
                <div class="col-md-12 col-xs-12">
                  <strong>Comment :</strong>
                  <span><%= r_retinoscopy_dilated_comments %></span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-6">
          <strong class="head-title">Dilated Net Retinoscopy:</strong>
          <table class="table table-bordered mb10" width="100%">
            <thead>
              <tr>
                <th width="18%" class="table-css"></th>
                <th width="18%" class="table-css">Sph</th>
                <th width="18%" class="table-css">Cyl</th>
                <th width="18%" class="table-css">Axis</th>
                <th width="28%" class="table-css">Reflex Type</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-css">Distant</td>
                <td class="table-css"><%= opdrecord.replace_blank(l_retinoscopy_dilated_sph) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_retinoscopy_dilated_cyl) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_retinoscopy_dilated_axis) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_retinoscopy_dilated_reflex) %></td>
              </tr>
            </tbody>
          </table>
          <div class="col-md-12">
            <div class="row text-font">
              <% if l_retinoscopy_dilated_distance.present? %>
                <div class="col-md-6 col-xs-6">
                  <strong>At Distance :</strong>
                  <span><%= "#{l_retinoscopy_dilated_distance} Mt/cm" %></span>
                </div>
              <% end %>
              <% if l_retinoscopy_dilated_drug_used.present? %>
                <div class="col-md-6 col-xs-6">
                  <strong>Drug Used :</strong>
                  <span><%= l_retinoscopy_dilated_drug_used %></span>
                </div>
              <% end %>
              <% if l_retinoscopy_dilated_comments.present? %>
                <div class="col-md-12 col-xs-12">
                  <strong>Comment :</strong>
                  <span><%= l_retinoscopy_dilated_comments %></span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if dilated_refraction_field_counter > 0 %>
      <div class="row dilated-refraction-block">
        <div class="col-md-6 col-xs-6">
          <strong class="head-title">Dilated Refraction:</strong>
          <table class="table table-bordered mb10" width="100%">
            <thead>
              <tr>
                <th width="14%" class="table-css"></th>
                <th width="14%" class="table-css">UCVA</th>
                <th width="14%" class="table-css">Sph</th>
                <th width="14%" class="table-css">Cyl</th>
                <th width="14%" class="table-css">Axis</th>
                <th width="14%" class="table-css">Vision</th>
                <th width="14%" class="table-css">VA(PH)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-css">Distant</td>
                <td class="table-css"><%= opdrecord.replace_blank(r_dilatedrefraction_distant_ucva) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_dilatedrefraction_distant_sph) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_dilatedrefraction_distant_cyl) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_dilatedrefraction_distant_axis) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_dilatedrefraction_distant_vision) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_dilatedrefraction_distant_va_ph) %></td>
              </tr>
              <tr>
                <td class="table-css">Near</td>
                <td class="table-css"><%= opdrecord.replace_blank(r_dilatedrefraction_near_ucva) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_dilatedrefraction_near_sph) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_dilatedrefraction_near_cyl) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_dilatedrefraction_near_axis) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_dilatedrefraction_near_vision) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(r_dilatedrefraction_near_va_ph) %></td>
              </tr>
            </tbody>
          </table>
          <div class="col-md-12">
            <div class="row text-font">
              <% if r_dilatedrefraction_comments.present? %>
                <div class="col-md-12 col-xs-12">
                  <strong>Comment :</strong>
                  <span><%= r_dilatedrefraction_comments %></span>
                </div>
              <% end %>
              <% if dilated_refraction_advice.present? %>
                <div class="col-md-12 col-xs-12">
                  <strong>Advice :</strong>
                  <span><%= dilated_refraction_advice %></span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-6">
          <strong class="head-title">Dilated Refraction:</strong>
          <table class="table table-bordered mb10" width="100%">
            <thead>
              <tr>
                <th width="14%" class="table-css"></th>
                <th width="14%" class="table-css">UCVA</th>
                <th width="14%" class="table-css">Sph</th>
                <th width="14%" class="table-css">Cyl</th>
                <th width="14%" class="table-css">Axis</th>
                <th width="14%" class="table-css">Vision</th>
                <th width="14%" class="table-css">VA(PH)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-css">Distant</td>
                <td class="table-css"><%= opdrecord.replace_blank(l_dilatedrefraction_distant_ucva) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_dilatedrefraction_distant_sph) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_dilatedrefraction_distant_cyl) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_dilatedrefraction_distant_axis) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_dilatedrefraction_distant_vision) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_dilatedrefraction_distant_va_ph) %></td>
              </tr>
              <tr>
                <td class="table-css">Near</td>
                <td class="table-css"><%= opdrecord.replace_blank(l_dilatedrefraction_near_ucva) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_dilatedrefraction_near_sph) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_dilatedrefraction_near_cyl) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_dilatedrefraction_near_axis) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_dilatedrefraction_near_vision) %></td>
                <td class="table-css"><%= opdrecord.replace_blank(l_dilatedrefraction_near_va_ph) %></td>
              </tr>
            </tbody>
          </table>
          <div class="col-md-12">
            <div class="row text-font">
              <% if l_dilatedrefraction_comments.present? %>
                <div class="col-md-12 col-xs-12">
                  <strong>Comment :</strong>
                  <span><%= l_dilatedrefraction_comments %></span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% if mail_job == true || params[:action] == "print_opd_record" %>
  <style type="text/css">
    .table-css {
      padding: 1px !important;
      font-size: 8px !important;
      text-align: center !important;
    }

    .text-font {
      font-size: 8px !important;
    }

    .head-title {
     font-size: 10px !important;
    }

    #dilated-refraction-summary table tr {
      page-break-inside: avoid;
    }
  </style>
<% else %>
  <style type="text/css">
    .table-css {
      padding: 1px !important;
      font-size: 12px !important;
      text-align: center !important;
    }

    .text-font {
      font-size: 12px !important;
    }
  </style>
<% end %>
