<div class="<%= 'print_text_font_size' if  @print_setting %>" style="<%= text_font_size %>">
  <% if opdrecord.random_blood_sugar_result.present? || opdrecord.random_blood_sugar_comment.present? %>

    <% if mail_job == false && ['new', 'edit'].include?(params[:action]) %>
        <div class="row">
          <div class="col-xs-12">
            <div class="title">
              <h5 style="color: #444;font-size: 17px;">Random Blood Sugar</h5>
            </div>
          </div>
        </div>
    <% else %>
        <div class="row mb5">
          <strong>RANDOM BLOOD SUGAR</strong>
          <div class="summary-line-border"></div>
        </div>
    <% end %>

    <div class="row mb20">
      <div class="col-xs-12">
        <div class="col-xs-12">
          <div class="row">
            <% if opdrecord.random_blood_sugar_result.present? %>
              <div class="col-xs-4">
                <b>Result</b><br/>
                <span style="<%= "color:red;" if opdrecord.random_blood_sugar_result.to_i < 11 %>">
                  <%= opdrecord.random_blood_sugar_result %> mmol/L
                </span>
              </div>
              <div class="col-xs-2"></div>
            <% end %>
            <% if opdrecord.random_blood_sugar_comment.present? %>
              <div class="col-xs-4">
                <b>Comment</b><br/>
                <span><%= opdrecord.random_blood_sugar_comment %></span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>