<% @current_facility = current_facility  %>

<% if opdrecord.send("#{@flag}_history_flag") == "1" %>
  <div class="history mb5 <%= 'print_text_font_size' if  @print_setting %>" id="history" style="<%= heading_font_size %>">
    <% opd_history_counter = 0 %>
    <% r_opd_history_counter = 0 %>
    <% l_opd_history_counter = 0 %>
    <% be_opd_history_counter = 0 %>

    <% chief_complaints_counter = 0 %>
    <% r_chief_complaints_counter = 0 %>
    <% l_chief_complaints_counter = 0 %>
    <% be_chief_complaints_counter = 0 %>

    <% opthalmic_history_counter = 0 %>

    <% systemic_history_counter = 0 %>

    <% checkuptypecomments_history_counter = 0 %>
    <% antenatal_history_counter = 0 %>
    <% antenatal_history_counter = 0 %>
    <% natal_history_counter = 0 %>
    <% post_natal_history_counter = 0 %>
    <% ho_vaccination_history_counter = 0 %>
    <% developmental_history_history_counter = 0 %>
    <% developmental_history_counter = 0 %>
    <% checkuptype_history_counter = 0 %>
    <% personel_history_counter = 0 %>
    <% speciality_comment = 0 %>
    <% personal_comment = 0 %>
    <% other_history_counter = 0 %>
    <% speciality_history_counter = 0 %>
    <% peadiatric_history_counter = 0 %>

    <% if opdrecord.opthal_history_comment != "" && opdrecord.opthal_history_comment != nil %>
      <% speciality_comment = speciality_comment + 1 %>
    <%end%>
    <% if opdrecord.history_comment != "" && opdrecord.history_comment != nil %>
      <% personal_comment = personal_comment + 1 %>
    <%end%>
    <% if opdrecord.other_history.medical_history != "" && opdrecord.other_history.medical_history != nil %>
      <% other_history_counter = other_history_counter + 1 %>
    <%end%>
    <% if opdrecord.other_history.family_history != "" && opdrecord.other_history.family_history != nil %>
      <% other_history_counter = other_history_counter + 1 %>
    <%end%>

    <% if opdrecord.try(:speciality_history_records).find_by(name: "glaucoma").present? %>
      <% speciality_history_counter = speciality_history_counter + 1 %>
      <% opthalmic_history_counter = opthalmic_history_counter + 1 %>
    <%end%>
    <% if opdrecord.try(:speciality_history_records).find_by(name:"retinal_detachment").present? %>
      <% speciality_history_counter = speciality_history_counter + 1 %>
      <% opthalmic_history_counter = opthalmic_history_counter + 1 %>
    <%end%>
    <% if opdrecord.try(:speciality_history_records).find_by(name: "retinal_dystrophies").present? %>
      <% speciality_history_counter = speciality_history_counter + 1 %>
      <% opthalmic_history_counter = opthalmic_history_counter + 1 %>
    <%end%>
    <% if opdrecord.try(:speciality_history_records).find_by(name: "glasses").present? %>
      <% speciality_history_counter = speciality_history_counter + 1 %>
      <% opthalmic_history_counter = opthalmic_history_counter + 1 %>
    <%end%>
    <% if opdrecord.try(:speciality_history_records).find_by(name: "ocular_disease").present? %>
      <% speciality_history_counter = speciality_history_counter + 1 %>
      <% opthalmic_history_counter = opthalmic_history_counter + 1 %>
    <%end%>
    <% if opdrecord.try(:speciality_history_records).find_by(name: "ocular_surgery").present? %>
      <% speciality_history_counter = speciality_history_counter + 1 %>
      <% opthalmic_history_counter = opthalmic_history_counter + 1 %>
    <%end%>
    <% if opdrecord.try(:speciality_history_records).find_by(name: "eye_surgery").present? %>
      <% speciality_history_counter = speciality_history_counter + 1 %>
      <% opthalmic_history_counter = opthalmic_history_counter + 1 %>
    <%end%>
    <% if opdrecord.try(:speciality_history_records).find_by(name: "eye_disease").present? %>
      <% speciality_history_counter = speciality_history_counter + 1 %>
      <% opthalmic_history_counter = opthalmic_history_counter + 1 %>
    <%end%>
    <% if opdrecord.try(:speciality_history_records).find_by(name: "consanguinity").present? %>
      <% speciality_history_counter = speciality_history_counter + 1 %>
      <% opthalmic_history_counter = opthalmic_history_counter + 1 %>
    <%end%>
    <% if opdrecord.try(:speciality_history_records).find_by(name: "uveitis").present? %>
      <% speciality_history_counter = speciality_history_counter + 1 %>
      <% opthalmic_history_counter = opthalmic_history_counter + 1 %>
    <%end%>
    <% if opdrecord.try(:speciality_history_records).find_by(name: "retinal_laser").present? %>
      <% speciality_history_counter = speciality_history_counter + 1 %>
      <% opthalmic_history_counter = opthalmic_history_counter + 1 %>
    <%end%>
    <% if opdrecord.try(:speciality_history_records).find_by(name: "contact_lens").present? %>
      <% speciality_history_counter = speciality_history_counter + 1 %>
      <% opthalmic_history_counter = opthalmic_history_counter + 1 %>
    <%end%>

    <%# personal History Data  %>
    <% if opdrecord.try(:personal_history_records).find_by(name: "diabetes").present?  %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
    <% end %>
    <% if opdrecord.try(:personal_history_records).find_by(name: "hypertension").present? %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
    <%end%>
    <% if opdrecord.try(:personal_history_records).find_by(name: "alcoholism").present? %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
    <%end%>
    <% if opdrecord.try(:personal_history_records).find_by(name: "smoking_tobacco").present? %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
    <%end%>
    <% if opdrecord.try(:personal_history_records).find_by(name: "steroid_intake").present? %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
    <%end%>
    <% if opdrecord.try(:personal_history_records).find_by(name: "drug_abuse").present? %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
    <%end%>
    <% if opdrecord.try(:personal_history_records).find_by(name: "hiv_aids").present? %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
    <%end%>
    <% if opdrecord.try(:personal_history_records).find_by(name: "cancer_tumor").present? %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
    <%end%>
    <% if opdrecord.try(:personal_history_records).find_by(name: "cardiac_disorder").present?%>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
    <%end%>
    <% if opdrecord.try(:personal_history_records).find_by(name: "tuberculosis").present? %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
    <%end%>
    <% if opdrecord.try(:personal_history_records).find_by(name: "asthma").present? %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
    <%end%>
    <% if opdrecord.try(:personal_history_records).find_by(name: "cns_disorder_stroke").present? %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
    <%end%>
    <% if opdrecord.try(:personal_history_records).find_by(name: "thyroid_disorder").present? %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
    <%end%>
    <% if opdrecord.try(:personal_history_records).find_by(name: "hepatitis_cirrhosis").present? %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
    <%end%>
    <% if opdrecord.try(:personal_history_records).find_by(name: "renal_disorder").present? %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
    <%end%>
    <% if opdrecord.try(:personal_history_records).find_by(name: "acidity").present? %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
    <%end%>
    <% if opdrecord.try(:personal_history_records).find_by(name: "on_insulin").present? %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
    <%end%>
    <% if opdrecord.try(:personal_history_records).find_by(name: "on_aspirin_blood_thinners").present? %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
    <% end %>
    <% if  opdrecord.try(:personal_history_records).find_by(name: "hypothyroidism").present? %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
    <% end %>
    <% if  opdrecord.try(:personal_history_records).find_by(name: "hyperthyroidism").present? %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
    <% end %>
    <% if  opdrecord.try(:personal_history_records).find_by(name: "consanguinity").present? %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
    <% end %>
    <% if  opdrecord.try(:personal_history_records).find_by(name: "chewing_tobacco").present? %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
    <% end %>
    <% if  opdrecord.try(:personal_history_records).find_by(name: "rheumatoid_arthritis").present? %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
    <% end %>

    <%# end %>

    <%# chief Complaints %>
    <% if opdrecord.try(:chief_complaints).find_by(name: "blurring_diminution_of_vision").present? %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% chief_complaints_counter = chief_complaints_counter + 1 %>
    <% end %>
    <% if opdrecord.try(:chief_complaints).find_by(name:"redness").present? %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% chief_complaints_counter = chief_complaints_counter + 1 %>
    <% end %>
    <% if opdrecord.try(:chief_complaints).find_by(name: "pain").present? %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% chief_complaints_counter = chief_complaints_counter + 1 %>
    <% end %>
    <% if opdrecord.try(:chief_complaints).find_by(name: "injury").present? %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% chief_complaints_counter = chief_complaints_counter + 1 %>
    <% end %>
    <% if opdrecord.try(:chief_complaints).find_by(name: "watering").present? %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% chief_complaints_counter = chief_complaints_counter + 1 %>
    <% end %>
     <% if opdrecord.try(:chief_complaints).find_by(name: "discharge").present? %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% chief_complaints_counter = chief_complaints_counter + 1 %>
    <% end %>
    <% if opdrecord.try(:chief_complaints).find_by(name: "dryness").present? %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% chief_complaints_counter = chief_complaints_counter + 1 %>
    <% end %>
    <% if opdrecord.try(:chief_complaints).find_by(name: "itching").present? %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% chief_complaints_counter = chief_complaints_counter + 1 %>
    <% end %>
    <% if opdrecord.try(:chief_complaints).find_by(name: "FBsensation").present? %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% chief_complaints_counter = chief_complaints_counter + 1 %>
    <% end %>
    <% if opdrecord.try(:chief_complaints).find_by(name: "deviation_squint").present? %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% chief_complaints_counter = chief_complaints_counter + 1 %>
    <% end %>
    <% if opdrecord.try(:chief_complaints).find_by(name: "headache_strain").present? %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% chief_complaints_counter = chief_complaints_counter + 1 %>
    <% end %>
    <% if opdrecord.try(:chief_complaints).find_by(name: "change_in_size_shape").present? %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% chief_complaints_counter = chief_complaints_counter + 1 %>
    <% end %>
    <% if opdrecord.try(:chief_complaints).find_by(name: "other_visual_symptoms").present? %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% chief_complaints_counter = chief_complaints_counter + 1 %>
    <% end %>
    <% if opdrecord.try(:chief_complaints).find_by(name: "shadow_defect_in_vision").present? %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% chief_complaints_counter = chief_complaints_counter + 1 %>
    <% end %>
    <% if opdrecord.try(:chief_complaints).find_by(name: "discoloration_of_eye").present? %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% chief_complaints_counter = chief_complaints_counter + 1 %>
    <% end %>
    <% if opdrecord.try(:chief_complaints).find_by(name: "swelling").present? %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% chief_complaints_counter = chief_complaints_counter + 1 %>
    <% end %>
    <% if opdrecord.try(:chief_complaints).find_by(name: "sensation_burning").present? %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% chief_complaints_counter = chief_complaints_counter + 1 %>
    <% end %>
    <%# end %>

    <% if @templatetype == "paediatrics" %>
      <% if opdrecord.paediatrics_history.natal_history_normal.present? %>
        <% opd_history_counter = opd_history_counter + 1 %>
        <% natal_history_counter = natal_history_counter + 1 %>
      <% end %>
      <% if opdrecord.paediatrics_history.natal_history_forceps.present? %>
        <% opd_history_counter = opd_history_counter + 1 %>
        <% natal_history_counter = natal_history_counter + 1 %>
      <% end %>
      <% if opdrecord.paediatrics_history.natal_history_caesarean.present? %>
        <% opd_history_counter = opd_history_counter + 1 %>
        <% natal_history_counter = natal_history_counter + 1 %>
      <% end %>
      <% if opdrecord.nutritional_assessment.present? %>
        <% opd_history_counter = opd_history_counter + 1 %>
        <% peadiatric_history_counter = peadiatric_history_counter + 1 %>
      <% end %>
      <% if opdrecord.nutritional_assessment_comment.present? %>
        <% opd_history_counter = opd_history_counter + 1 %>
        <% peadiatric_history_counter = peadiatric_history_counter + 1 %>
      <% end %>
      <% if opdrecord.immunization_assessment.present? %>
        <% opd_history_counter = opd_history_counter + 1 %>
        <% peadiatric_history_counter = peadiatric_history_counter + 1 %>
      <% end %>
      <% if opdrecord.immunization_assessment_comment.present? %>
        <% opd_history_counter = opd_history_counter + 1 %>
        <% peadiatric_history_counter = peadiatric_history_counter + 1 %>
      <% end %>
    <% end %>


    <% if opdrecord.r_chiefcomplaint.present? %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% r_opd_history_counter = r_opd_history_counter + 1 %>
      <% chief_complaints_counter = chief_complaints_counter + 1 %>
      <% r_chief_complaints_counter = r_chief_complaints_counter + 1 %>
    <% end %>
    <% if opdrecord.r_subjectivecomments.present? %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% r_opd_history_counter = r_opd_history_counter + 1 %>
    <% end %>
    <% if opdrecord.l_chiefcomplaint.present? %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% l_opd_history_counter = l_opd_history_counter + 1 %>
      <% chief_complaints_counter = chief_complaints_counter + 1 %>
      <% l_chief_complaints_counter = l_chief_complaints_counter + 1 %>
    <% end %>
    <% if opdrecord.l_subjectivecomments.present? %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% l_opd_history_counter = l_opd_history_counter + 1 %>
    <% end %>
    <% unless opdrecord.chiefcomplaint_comments.blank? %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% be_opd_history_counter = be_opd_history_counter + 1 %>
    <% end %>
    <% unless opdrecord.checkuptype.blank? %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% checkuptype_history_counter = checkuptype_history_counter + 1 %>
    <% end %>
    <% unless opdrecord.checkuptypecomments.blank?  %>
      <% opd_history_counter = opd_history_counter + 1 %>
      <% checkuptypecomments_history_counter = checkuptypecomments_history_counter + 1 %>
    <% end %>
    <% if @templatetype == "paediatrics" %>
      <% unless opdrecord.paediatrics_history.antenatal_maternal_vaccination.blank?  %>
        <% opd_history_counter = opd_history_counter + 1 %>
        <% antenatal_history_counter = antenatal_history_counter + 1 %>
      <% end %>
      <% unless opdrecord.paediatrics_history.antenatal_maternal_infection.blank?  %>
        <% opd_history_counter = opd_history_counter + 1 %>
        <% antenatal_history_counter = antenatal_history_counter + 1 %>
      <% end %>
      <% unless opdrecord.paediatrics_history.natal_birth_weight.blank?  %>
        <% opd_history_counter = opd_history_counter + 1 %>
        <% natal_history_counter = natal_history_counter + 1 %>
      <% end %>
      <% unless opdrecord.paediatrics_history.post_natal_history.blank?  %>
        <% opd_history_counter = opd_history_counter + 1 %>
        <% post_natal_history_counter = post_natal_history_counter + 1 %>
      <% end %>
      <% unless opdrecord.paediatrics_history.ho_vaccination.blank?  %>
        <% opd_history_counter = opd_history_counter + 1 %>
        <% ho_vaccination_history_counter = ho_vaccination_history_counter + 1 %>
      <% end %>
      <% unless opdrecord.paediatrics_history.developmental_history.blank?  %>
        <% opd_history_counter = opd_history_counter + 1 %>
        <% developmental_history_history_counter = developmental_history_history_counter + 1 %>
      <% end %>
    <% end %>

    <% opdrecord_otherhistory = (opdrecord.other_history.present? && [opdrecord.other_history.medical_history, opdrecord.other_history.family_history, opdrecord.other_history.specialstatus].uniq != [""]) %>
    <% patient_other_history = [@patient.other_history.medical_history, @patient.other_history.family_history, @patient.other_history.specialstatus].uniq %>
    <% patient_otherhistory = (@patient.other_history.present? && (patient_other_history != [""] && patient_other_history != [nil] )) %>
    <div class="row mb5">
      <strong>HISTORY</strong>
      <div class="summary-line-border"></div>
    </div>

    <% if opd_history_counter > 0 %>
      <div class="row">
        <% if opd_history_counter > 0 %>
          <span>
            <% if checkuptypecomments_history_counter > 0 || checkuptype_history_counter > 0 %>
              <strong>Visit:</strong>
            <%end%>
            <% if opdrecord.checkuptype.blank? %>
              <% unless opdrecord.checkuptypecomments == nil || opdrecord.checkuptypecomments == ""  %><%= opdrecord.checkuptypecomments %><%end%>
            <%else%>
              <%= opdrecord.checkuptype %><% unless opdrecord.checkuptypecomments == nil || opdrecord.checkuptypecomments == ""  %>, <%= opdrecord.checkuptypecomments %><%end%>
            <%end%>
          </span>
        <% end %>
      </div>
    <% end %>
    <div class="row mb5">
      <strong>Chief Complaints :</strong>
      <% if chief_complaints_counter > 0 %>
        <div class="col-md-12">
          <% blurring_diminution_of_vision = opdrecord.try(:chief_complaints).find_by(name: "blurring_diminution_of_vision")%>

          <% if blurring_diminution_of_vision.present? %>
            <li>
              <span>Blurring/Diminution of vision</span>
              <span>
                <% if blurring_diminution_of_vision.side != nil || blurring_diminution_of_vision.side != "" %>
                  in
                  <% if blurring_diminution_of_vision.side == "L" %>
                    Left Eye
                  <% elsif blurring_diminution_of_vision.side == "R"%>
                    Right Eye
                  <% else %>
                    Both Eye
                  <% end %>
                <%end%>
                <%if blurring_diminution_of_vision.duration.present? && blurring_diminution_of_vision.duration_unit.present? %>
                  since <%= blurring_diminution_of_vision.duration %> <%= blurring_diminution_of_vision.duration_unit.try(:singularize).try(:pluralize, blurring_diminution_of_vision.duration.to_i) %>
                <% end %>
                <% if blurring_diminution_of_vision.comment.present? %>
                  - <%= blurring_diminution_of_vision.comment %>
                <%end%>

                <%if blurring_diminution_of_vision.complaint_options.present?%>
                    -
                    <% blurringdiminution_options_length = blurring_diminution_of_vision.complaint_options.split(",").length %>
                  <% unless blurring_diminution_of_vision.complaint_options.split(",").include?("distant") == false %>
                    Distant<%blurringdiminution_options_length = blurringdiminution_options_length - 1 %><%if blurringdiminution_options_length > 1%>,<% elsif blurringdiminution_options_length > 0%> and <%else%>.<%end%>
                  <% end %>
                  <% unless blurring_diminution_of_vision.complaint_options.split(",").include?("near") == false %>
                    Near<%blurringdiminution_options_length = blurringdiminution_options_length - 1 %><%if blurringdiminution_options_length > 1%>,<% elsif blurringdiminution_options_length > 0%> and <%else%>.<%end%>
                  <% end %>
                  <% unless blurring_diminution_of_vision.complaint_options.split(",").include?("pain") == false %>
                    Pain<%blurringdiminution_options_length = blurringdiminution_options_length - 1 %>
                    <%if blurringdiminution_options_length > 1%>,<% elsif blurringdiminution_options_length > 0%> and <%else%>.<%end%>
                  <% end %>
                  <% unless blurring_diminution_of_vision.complaint_options.split(",").include?("usingglasses") == false %>
                    Using Glasses<%blurringdiminution_options_length = blurringdiminution_options_length - 1 %><%if blurringdiminution_options_length > 1%>,<% elsif blurringdiminution_options_length > 0%> and <%else%>.<%end%>
                  <% end %>
                <%end%>

              </span>
            </li>
          <% end %>

          <% redness = opdrecord.try(:chief_complaints).find_by(name: "redness") %>
          <% if redness.present? %>
            <li>
              <span>Redness</span>
              <span>
                <% if redness.side.present? %>
                  in
                  <% if redness.side == "L" %>
                    Left Eye
                  <% elsif redness.side == "R"%>
                    Right Eye
                  <% else %>
                    Both Eye
                  <% end %>
                <%end%>
                <%if redness.duration.present? && redness.duration_unit.present? %>
                  since <%= redness.duration %> <%= redness.duration_unit.try(:singularize).try(:pluralize, redness.duration.to_i) %>
                <%end%>
                <% if redness.comment.present? %>
                  - <%= redness.comment %>
                <% end %>
              </span>
            </li>
          <% end %>

          <%pain = opdrecord.try(:chief_complaints).find_by(name: "pain")%>
          <% if pain.present? %>
            <li>
              <span>Pain</span>
              <span>
                <% if pain.side.present? %>
                  in
                    <% if pain.side == "L" %>
                    Left Eye
                  <% elsif pain.side == "R"%>
                    Right Eye
                  <% else %>
                    Both Eye
                  <% end %>
                <%end%>
                <%if pain.duration.present? && pain.duration_unit.present? %>
                  since <%= pain.duration%> <%= pain.duration_unit.try(:singularize).try(:pluralize, pain.duration.to_i) %>
                <%end%>
                <% if pain.comment.present? %>
                  - <%= pain.comment %>
                <% end %>
              </span>
            </li>
          <% end %>

          <% injury = opdrecord.try(:chief_complaints).find_by(name: "injury")%>
          <% if injury.present? %>
            <li>
              <span>Injury</span>
              <span>
                <% if injury.side.present? %>
                  in
                  <% if injury.side == "L" %>
                    Left Eye
                  <% elsif injury.side == "R"%>
                    Right Eye
                  <% else %>
                    Both Eye
                  <% end %>
                <%end%>
                <%if injury.duration.present? && injury.duration_unit.present? %>
                  since <%= injury.duration %> <%= injury.duration_unit.try(:singularize).try(:pluralize, injury.duration.to_i) %>
                <%end%>
                <% if injury.comment.present? %>
                  - <%= injury.comment %>
                <% end %>
              </span>
            </li>
          <% end %>

          <%watering = opdrecord.try(:chief_complaints).find_by(name: "watering")%>
          <% if watering.present? %>
            <li>
              <span>Watering</span>
              <span>
                <% if watering.side.present? %>
                  in
                  <% if watering.side == "L" %>
                    Left Eye
                  <% elsif watering.side == "R"%>
                    Right Eye
                  <% else %>
                    Both Eye
                  <% end %>
                <%end%>
                <%if watering.duration.present? && watering.duration_unit.present? %>
                  since <%= watering.duration %> <%= watering.duration_unit.try(:singularize).try(:pluralize, watering.duration.to_i) %>
                <%end%>
                <% if watering.comment.present? %>
                  - <%= watering.comment %>
                <% end %>
              </span>
            </li>
          <% end %>

          <% discharge = opdrecord.try(:chief_complaints).find_by(name: "discharge") %>
          <% if discharge.present? %>
            <li>
              <span>Discharge</span>
              <span>
                <% if discharge.side.present? %>
                  in
                  <% if discharge.side == "L" %>
                    Left Eye
                  <% elsif discharge.side == "R"%>
                    Right Eye
                  <% else %>
                    Both Eye
                  <% end %>
                <%end%>
                <%if discharge.duration.present? && discharge.duration_unit.present? %>
                  since <%= discharge.duration%> <%= discharge.duration_unit.try(:singularize).try(:pluralize, discharge.duration.to_i)%>
                <%end%>
                <% if discharge.comment.present? %>
                  - <%= discharge.comment %>
                <% end %>
              </span>
            </li>
          <% end %>

          <% dryness = opdrecord.try(:chief_complaints).find_by(name: "dryness") %>
          <% if dryness.present?  %>
            <li>
              <span>Dryness</span>
              <span>
                <% if dryness.side.present? %>
                  in
                  <% if dryness.side == "L" %>
                    Left Eye
                  <% elsif dryness.side == "R"%>
                    Right Eye
                  <% else %>
                    Both Eye
                  <% end %>
                <%end%>
                <%if dryness.duration.present? && dryness.duration_unit.present? %>
                  since <%= dryness.duration %> <%= dryness.duration_unit.try(:singularize).try(:pluralize, dryness.duration.to_i)%>
                <%end%>
                <% if dryness.comment.present? %>
                  - <%= dryness.comment %>
                <% end %>
              </span>
            </li>
          <% end %>

          <% itching =  opdrecord.try(:chief_complaints).find_by(name: "itching")%>
          <% if itching.present? %>
            <li>
              <span>Itching</span>
              <span>
                <% if itching.side.present? %>
                  in
                  <% if itching.side == "L" %>
                    Left Eye
                  <% elsif itching.side == "R"%>
                    Right Eye
                  <% else %>
                    Both Eye
                  <% end %>
                <%end%>
                <% if itching.duration.present? && itching.duration_unit.present? %>
                  since <%= itching.duration %> <%= itching.duration_unit.try(:singularize).try(:pluralize, itching.duration.to_i) %>
                <%end%>
                <% if itching.comment.present? %>
                  - <%= itching.comment %>
                <% end %>
              </span>
            </li>
          <% end %>

          <% fbsensation = opdrecord.try(:chief_complaints).find_by(name: "FBsensation") %>
          <% if fbsensation.present? %>
            <li>
              <span>FBsensation</span>
              <span>
                <% if fbsensation.side.present? %>
                  in
                  <% if fbsensation.side == "L" %>
                    Left Eye
                  <% elsif fbsensation.side == "R"%>
                    Right Eye
                  <% else %>
                    Both Eye
                  <% end %>
                <%end%>
                <%if fbsensation.duration.present? && fbsensation.duration_unit.present? %>
                  since <%= fbsensation.duration %> <%= fbsensation.duration_unit.try(:singularize).try(:pluralize, fbsensation.duration.to_i) %>
                <%end%>
                <% if fbsensation.comment.present? %>
                  - <%= fbsensation.comment %>
                <% end %>
              </span>
            </li>
          <% end %>

          <% deviation_squint = opdrecord.try(:chief_complaints).find_by(name: "deviation_squint") %>
          <% if deviation_squint.present? %>
            <li>
              <span>Deviation/Squint</span>
              <span>
                <% if deviation_squint.side.present? %>
                    in
                    <% if deviation_squint.side == "L" %>
                      Left Eye
                    <% elsif deviation_squint.side == "R"%>
                      Right Eye
                    <% else %>
                      Both Eye
                    <% end %>
                <%end%>
                <%if deviation_squint.duration.present? && deviation_squint.duration_unit.present? %>
                  since <%= deviation_squint.duration %> <%= deviation_squint.duration_unit.try(:singularize).try(:pluralize, deviation_squint.duration.to_i) %>
                <%end%>
                <% if deviation_squint.comment.present? %>
                  - <%= deviation_squint.comment%>
                <%end%>

                <%if  deviation_squint.complaint_options.present?%>
                  -
                  <%deviationsquint_options_length = deviation_squint.complaint_options.split(",").length%>
                  <% unless deviation_squint.complaint_options.split(",").include?("diplopia") == false %>
                    Diplopia<%deviationsquint_options_length = deviationsquint_options_length - 1 %><%if deviationsquint_options_length > 1%>,<% elsif deviationsquint_options_length > 0%> and <%else%>.<%end%>
                  <% end %>
                  <% unless deviation_squint.complaint_options.split(",").include?("trauma") == false %>
                    Trauma<%deviationsquint_options_length = deviationsquint_options_length - 1 %><%if deviationsquint_options_length > 1%>,<% elsif deviationsquint_options_length > 0%> and <%else%>.<%end%>
                  <% end %>
                  <% unless deviation_squint.complaint_options.split(",").include?("pastsurgery") == false %>
                    Past Surgery<%deviationsquint_options_length = deviationsquint_options_length - 1 %><%if deviationsquint_options_length > 1%>,<% elsif deviationsquint_options_length > 0%> and <%else%>.<%end%>
                  <% end %>
                <%end%>
              </span>
            </li>
          <% end %>

          <% headache_strain = opdrecord.try(:chief_complaints).find_by(name: "headache_strain") %>
          <% if headache_strain.present? %>
            <li>
              <span>Headache/Strain</span>
              <span>
                <% if headache_strain.side.present? %>
                  in
                  <% if headache_strain.side == "L" %>
                    Left Eye
                  <% elsif headache_strain.side == "R"%>
                    Right Eye
                  <% else %>
                    Both Eye
                  <% end %>
                <%end%>
                <%if headache_strain.duration.present? && headache_strain.duration_unit.present? %>
                  since <%= headache_strain.duration %> <%= headache_strain.duration_unit.try(:singularize).try(:pluralize, headache_strain.duration.to_i) %>
                <%end%>
                <% if headache_strain.comment.present? %>
                  - <%= headache_strain.comment %>
                <% end %>
              </span>
            </li>
          <% end %>

          <% change_in_size_shape = opdrecord.try(:chief_complaints).find_by(name: "change_in_size_shape") %>
          <% if change_in_size_shape.present? %>
            <li>
              <span>Change in Size/Shape</span>
              <span>
                <% if change_in_size_shape.side.present? %>
                  in
                  <% if change_in_size_shape.side == "L" %>
                    Left Eye
                  <% elsif change_in_size_shape.side == "R"%>
                    Right Eye
                  <% else %>
                    Both Eye
                  <% end %>
                <%end%>
                <%if change_in_size_shape.duration.present? && change_in_size_shape.duration_unit.present? %>
                  since <%=  change_in_size_shape.duration %> <%= change_in_size_shape.duration_unit.try(:singularize).try(:pluralize, change_in_size_shape.duration.to_i) %>
                <%end%>
                <% if change_in_size_shape.comment.present? %>
                  - <%= change_in_size_shape.comment %>
                <% end %>
              </span>
            </li>
          <% end %>

          <% other_visual_symptoms = opdrecord.try(:chief_complaints).find_by(name: "other_visual_symptoms") %>
          <% if other_visual_symptoms.present? %>
            <li>
              Other Visual Symptoms
                <% if other_visual_symptoms.side.present? %>
                    in
                    <% if other_visual_symptoms.side == "L" %>
                      Left Eye
                    <% elsif other_visual_symptoms.side == "R"%>
                      Right Eye
                    <% else %>
                      Both Eye
                    <% end %>
                <%end%>
                <%if other_visual_symptoms.duration.present? && other_visual_symptoms.duration_unit.present? %>
                  since <%= other_visual_symptoms.duration %> <%= other_visual_symptoms.duration_unit.try(:singularize).try(:pluralize, other_visual_symptoms.duration.to_i) %>
                <%end%>
                <% if other_visual_symptoms.comment.present? %>
                  - <%= other_visual_symptoms.comment%>
                <%end%>

                <%if other_visual_symptoms.complaint_options.present?%>
                  -
                  <% othervisualsymptoms_options_length = other_visual_symptoms.complaint_options.split(",").length %>
                  <% unless  other_visual_symptoms.complaint_options.split(",").include?("glare") == false %>
                    Glare<% othervisualsymptoms_options_length = othervisualsymptoms_options_length - 1 %><%if othervisualsymptoms_options_length > 1%>,<% elsif othervisualsymptoms_options_length > 0%> and <%else%>.<%end%>
                  <% end %>
                  <% unless  other_visual_symptoms.complaint_options.split(",").include?("floaters") == false %>
                    Floaters<%othervisualsymptoms_options_length = othervisualsymptoms_options_length - 1 %><%if othervisualsymptoms_options_length > 1%>,<% elsif othervisualsymptoms_options_length > 0%> and <%else%>.<%end%>
                  <% end %>

                  <% unless  other_visual_symptoms.complaint_options.split(",").include?("photophobia") == false %>
                    Photophobia<%othervisualsymptoms_options_length = othervisualsymptoms_options_length - 1 %><%if othervisualsymptoms_options_length > 1%>,<% elsif othervisualsymptoms_options_length > 0%> and <%else%>.<%end%>
                  <% end %>
                  <% unless  other_visual_symptoms.complaint_options.split(",").include?("coloredhalos") == false %>
                    Colored Halos<%othervisualsymptoms_options_length = othervisualsymptoms_options_length - 1 %><%if othervisualsymptoms_options_length > 1%>,<% elsif othervisualsymptoms_options_length > 0%> and <%else%>.<%end%>
                  <% end %>
                  <% unless  other_visual_symptoms.complaint_options.split(",").include?("metamorphopsia") == false %>
                    Metamorphopsia<%othervisualsymptoms_options_length = othervisualsymptoms_options_length - 1 %><%if othervisualsymptoms_options_length > 1%>,<% elsif othervisualsymptoms_options_length > 0%> and <%else%>.<%end%>
                  <% end %>
                  <% unless  other_visual_symptoms.complaint_options.split(",").include?("chromatopsia") == false %>
                    Chromatopsia<%othervisualsymptoms_options_length = othervisualsymptoms_options_length - 1 %><%if othervisualsymptoms_options_length > 1%>,<% elsif othervisualsymptoms_options_length > 0%> and <%else%>.<%end%>
                  <% end %>
                  <% unless  other_visual_symptoms.complaint_options.split(",").include?("diminishednightvision") == false %>
                    Diminished Night Vision<%othervisualsymptoms_options_length = othervisualsymptoms_options_length - 1 %><%if othervisualsymptoms_options_length > 1%>,<% elsif othervisualsymptoms_options_length > 0%> and <%else%>.<%end%>
                  <% end %>

                  <% unless  other_visual_symptoms.complaint_options.split(",").include?("diminisheddayvision") == false %>
                    Diminished Day Vision<%othervisualsymptoms_options_length = othervisualsymptoms_options_length - 1 %><%if othervisualsymptoms_options_length > 1%>,<% elsif othervisualsymptoms_options_length > 0%> and <%else%>.<%end%>
                  <% end %>
                <%end%>
            </li>
          <% end %>

          <% shadow_defect_in_vision = opdrecord.try(:chief_complaints).find_by(name: "shadow_defect_in_vision") %>
          <% if shadow_defect_in_vision.present?  %>
            <li>
              <span>Shadow/Defect in vision</span>
              <span>
                <% if shadow_defect_in_vision.side.present? %>
                  in
                  <% if shadow_defect_in_vision.side == "L" %>
                    Left Eye
                  <% elsif shadow_defect_in_vision.side == "R"%>
                    Right Eye
                  <% else %>
                    Both Eye
                  <% end %>
                <%end%>
                <%if shadow_defect_in_vision.duration.present? && shadow_defect_in_vision.duration_unit.present? %>
                  since <%= shadow_defect_in_vision.duration%> <%= shadow_defect_in_vision.duration_unit.try(:singularize).try(:pluralize, shadow_defect_in_vision.duration.to_i)%>
                <%end%>
                <% if shadow_defect_in_vision.comment.present? %>
                  - <%= shadow_defect_in_vision.comment %>
                <% end %>
              </span>
            </li>
          <% end %>

          <% discoloration_of_eye = opdrecord.try(:chief_complaints).find_by(name: "discoloration_of_eye") %>
          <% if discoloration_of_eye.present? %>
            <li>
              <span>Discoloration </span>
              <span>
                <% if discoloration_of_eye.side.present? %>
                  in
                  <% if discoloration_of_eye.side == "L" %>
                    Left Eye
                  <% elsif discoloration_of_eye.side == "R"%>
                    Right Eye
                  <% else %>
                    Both Eye
                  <% end %>
                <%end%>
                <%if discoloration_of_eye.duration.present? && discoloration_of_eye.duration_unit.present? %>
                  since <%= discoloration_of_eye.duration %> <%= discoloration_of_eye.duration_unit.try(:singularize).try(:pluralize, discoloration_of_eye.duration.to_i) %>
                <%end%>
                <% if discoloration_of_eye.comment.present? %>
                  - <%= discoloration_of_eye.comment %>
                <% end %>
              </span>
            </li>
          <% end %>

          <% swelling = opdrecord.try(:chief_complaints).find_by(name: "swelling") %>
          <% if swelling.present? %>
            <li>
              <span>Swelling </span>
              <span>
                <% if swelling.side.present? %>
                  in
                  <% if swelling.side == "L" %>
                    Left Eye
                  <% elsif swelling.side == "R"%>
                    Right Eye
                  <% else %>
                    Both Eye
                  <% end %>
                <%end%>
                <%if swelling.duration.present? && swelling.duration_unit.present? %>
                  since <%= swelling.duration%> <%= swelling.duration_unit.try(:singularize).try(:pluralize, swelling.duration.to_i) %>
                <%end%>
                <% if swelling.comment.present? %>
                  - <%= swelling.comment %>
                <% end %>
              </span>
            </li>
          <% end %>

          <% sensation_burning = opdrecord.try(:chief_complaints).find_by(name: "sensation_burning") %>
          <% if sensation_burning.present? %>
            <li>
              <span> Burning Sensation </span>
              <span>
                <% if sensation_burning.side.present? %>
                  in
                  <% if sensation_burning.side == "L" %>
                    Left Eye
                  <% elsif sensation_burning.side == "R"%>
                    Right Eye
                  <% else %>
                    Both Eye
                  <% end %>
                <%end%>
                <%if sensation_burning.duration.present? && sensation_burning.duration_unit.present? %>
                  since <%= sensation_burning.duration%> <%= sensation_burning.duration_unit.try(:singularize).try(:pluralize, sensation_burning.duration.to_i)%>
                <%end%>
                <% if sensation_burning.comment.present? %>
                  - <%= sensation_burning.comment %>
                <% end %>
              </span>
            </li>
          <% end %>

          <% if be_opd_history_counter > 0 %>
            <span>
              <% unless opdrecord.chiefcomplaint_comments == nil || opdrecord.chiefcomplaint_comments == "" %>
                <span style="white-space: pre-line"><%= opdrecord.chiefcomplaint_comments %></span>
              <% end %>
            </span>
          <% end %>
        </div>
      <% else %>
        <% if be_opd_history_counter > 0 %>
          <span>
            <% unless opdrecord.chiefcomplaint_comments == nil || opdrecord.chiefcomplaint_comments == "" %>
              <span style="white-space: pre-line"><%= opdrecord.chiefcomplaint_comments %></span>
            <% end %>
          </span>
        <% else %>
          <span>None</span>
        <% end %>
      <% end %>
    </div>

    <% if @templatetype == "lens" %>
      <% if opdrecord.present? %>
        <% @lens_history =  opdrecord.lens_history %>
        <% if @lens_history.profession.present? || @lens_history.lens_needed.present? || @lens_history.present_wearing_hour.present? || @lens_history.complaint_with_existing_lens.present? || @lens_history.hour_of_using_lens.present? || @lens_history.brand.present? || @lens_history.brand_duration.present? || @lens_history.brand_duration_unit.present? || @lens_history.comfort_level_time.present? || @lens_history.lens_weraing_duration.present? || @lens_history.lens_weraing_duration_unit.present? %>
          <%= "Profession: " + @lens_history.profession %><br>
          <%= "Lens Need: " + @lens_history.lens_needed %><br>
          <%= "Present Wearing Hour: " + @lens_history.present_wearing_hour %><br>
          <%= "Complaint With Exisiting Lens: " + @lens_history.complaint_with_existing_lens %><br>
          <%if @lens_history.hour_of_using_lens.present?%>
            <%= "Hour Of Lens Usages: " + @lens_history.hour_of_using_lens + "hours" %><br>
          <%end%>
          <%if @lens_history.brand_duration.present? && @lens_history.brand_duration_unit.present?%>
            <%=@since = "since"%>
          <%end%>
          <%= "Brand Using: " + @lens_history.brand + " " + @since.to_s + " " + @lens_history.brand_duration +  @lens_history.brand_duration_unit %><br>
          <%if @lens_history.comfort_level_time.present?%>
            <%= "Comfort Level Of Wearing: " + @lens_history.comfort_level_time + "hours" %><br>
          <%end%>
          <% if  @lens_history.lens_wearing_duration.present? && @lens_history.lens_wearing_duration_unit.present? %>
            <%= "Lens Wearing: " +  @lens_history.lens_wearing_duration.to_s + @lens_history.lens_wearing_duration_unit.try(:singularize).try(:pluralize, @lens_history.lens_wearing_duration.to_i) %><br>
          <% end %>
          <%= "Lens History Comment: " +  @lens_history.lens_history_comment %><br>
        <% end %>
      <% end %>
    <% end %>
    <% if @templatetype == "paediatrics" %>
      <% if antenatal_history_counter > 0 %>
        <div class="col-md-12 row">
          <span>Antenatal History: </span>
          <% if opdrecord.present? %>
            <% unless opdrecord.paediatrics_history.antenatal_maternal_vaccination.blank? %>
              <span>
                Maternal vaccination - <%=opdrecord.paediatrics_history.antenatal_maternal_vaccination %>
              </span>
            <%end%>
            <% if antenatal_history_counter > 1 %>,<% end %>
            <% unless opdrecord.paediatrics_history.antenatal_maternal_infection.blank? %>
              <span>
                Maternal Infection Or Other Complications - <%= opdrecord.paediatrics_history.antenatal_maternal_infection %>
              </span>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <% if natal_history_counter > 0 %>
        <div class="col-md-12 row">
          <span>Natal History: </span>
          <% if opdrecord.paediatrics_history.natal_history_normal.present? %>
            <span>
              Normal
            </span>
            <% natal_history_counter = natal_history_counter - 1 %>
            <%if natal_history_counter > 0%>,<% end %>
          <%end%>

          <% if opdrecord.paediatrics_history.natal_history_forceps.present? %>
            <span>
              Forceps
            </span>
            <% natal_history_counter = natal_history_counter - 1 %>
            <%if natal_history_counter > 0%>,<% end %>
          <%end%>
          <% if opdrecord.paediatrics_history.natal_history_caesarean.present? %>
            <span>
              Caesarean
            </span>
              <% natal_history_counter = natal_history_counter - 1 %>
              <%if natal_history_counter > 0%>,<% end %>
          <%end%>
          <% unless opdrecord.paediatrics_history.natal_birth_weight.blank? %>
            <span>
              Birth Weight - <%= opdrecord.paediatrics_history.natal_birth_weight %>
            </span>
          <% end %>
        </div>
      <% end %>

      <% if post_natal_history_counter > 0 %>
        <div class="col-md-12 row">
          <span>Postnatal History: <%= opdrecord.paediatrics_history.post_natal_history %></span>
        </div>
      <% end %>
      <% if ho_vaccination_history_counter > 0 %>
        <div class="col-md-12 row">
          <span>H/O Vaccination: <%= opdrecord.paediatrics_history.ho_vaccination %></span>
        </div>
      <% end %>
      <% if developmental_history_history_counter > 0 %>
        <div class="col-md-12 row">
          <span>Developmental History: <%= opdrecord.paediatrics_history.developmental_history %></span>
        </div>
      <% end %>
    <% end %>
    <% if mail_job == false %>
      <% if params[:action] == "view_opd_summary" && opdrecord.created_at.to_date == Date.current %>
        <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_allergy.html.erb", locals: {opdrecord: opdrecord} %>
      <% elsif params[:action] == "print_opd_record" &&  opdrecord.created_at.to_date == Date.current %>
        <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_allergy.html.erb", locals: {opdrecord: opdrecord} %>
      <% elsif params[:action] == 'new' %>
        <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_allergy.html.erb", locals: {opdrecord: @patient} %>
      <% else %>
        <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_allergy.html.erb", locals: {opdrecord: opdrecord} %>
      <% end %>
    <% elsif mail_job == true %>
        <% if opdrecord.created_at.to_date == Date.current %>
        <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_allergy.html.erb", locals: {opdrecord: opdrecord} %>
      <% else %>
        <%= render partial: "opd_records/ophthalmology_notes/opd_partials/summary/opd_summary_form_allergy.html.erb", locals: {opdrecord: opdrecord} %>
      <% end %>
    <% end %>
    <% if @templatetype == "paediatrics" %>
      <% if peadiatric_history_counter > 0 %>
        <div class="row mb5">
          <strong>Paediatric History  :</strong>
          <div class="col-md-12">
            <% if opdrecord.nutritional_assessment.present? && opdrecord.nutritional_assessment_comment.present? %>
              <li>
                <span style="white-space: pre-line"><%= opdrecord.nutritional_assessment %> - <%= opdrecord.nutritional_assessment_comment %></span>
              </li>
            <% elsif opdrecord.nutritional_assessment.present? %>
              <li>
                <%= opdrecord.nutritional_assessment %>
              </li>
            <% elsif opdrecord.nutritional_assessment_comment.present? %>
              <li>
                <span style="white-space: pre-line">Nutritional Assessment Comment - <%= opdrecord.nutritional_assessment_comment %></span>
              </li>
            <% end %>

            <% if opdrecord.immunization_assessment.present? && opdrecord.immunization_assessment_comment.present? %>
              <li>
               <span style="white-space: pre-line">Immunization <%= opdrecord.immunization_assessment %> - <%= opdrecord.immunization_assessment_comment %></span>
              </li>
            <% elsif opdrecord.immunization_assessment.present? %>
              <li>
                Immunization <%= opdrecord.immunization_assessment %>
              </li>
            <% elsif opdrecord.immunization_assessment_comment.present? %>
              <li>
                <span style="white-space: pre-line">Immunization Assessment Comment - <%= opdrecord.immunization_assessment_comment %></span>
              </li>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<style type="text/css">
  .print_text_font_size *{
    font-size: inherit!important
  }
</style>
