<% personel_history_counter = 0 %>
<% personel_systemic_history_counter = 0 %>
<% speciality_history_counter = 0 %>
<% personel_ophthal_history_counter = 0 %>
<% opthalmic_history_counter = 0 %>
<% systemic_history_counter = 0 %>
<% all_allergy_counter = 0 %>
<% if opdrecord.try(:speciality_history_records).present? || opdrecord.opthal_history_comment.present? %>
  <% speciality_history_counter = 0 %>
  <% personel_ophthal_history_counter = 0 %>

  <% if opdrecord.opthal_history_comment != "" && opdrecord.opthal_history_comment != nil %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% speciality_history_counter = speciality_history_counter + 1 %>
  <% end %>

  <% @personal_history = opdrecord.speciality_history_records %>
  <% if @personal_history.find_by(name: "glaucoma").present? %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% speciality_history_counter = speciality_history_counter + 1 %>
    <% opthalmic_history_counter = opthalmic_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "retinal_detachment").present? %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% speciality_history_counter = speciality_history_counter + 1 %>
    <% opthalmic_history_counter = opthalmic_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "glasses").present? %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% speciality_history_counter = speciality_history_counter + 1 %>
    <% opthalmic_history_counter = opthalmic_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "ocular_disease").present?  %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% speciality_history_counter = speciality_history_counter + 1 %>
    <% opthalmic_history_counter = opthalmic_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "ocular_surgery").present? %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% speciality_history_counter = speciality_history_counter + 1 %>
    <% opthalmic_history_counter = opthalmic_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "eye_surgery").present? %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% speciality_history_counter = speciality_history_counter + 1 %>
    <% opthalmic_history_counter = opthalmic_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "eye_disease").present? %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% speciality_history_counter = speciality_history_counter + 1 %>
    <% opthalmic_history_counter = opthalmic_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "consanguinity").present? %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% speciality_history_counter = speciality_history_counter + 1 %>
    <% opthalmic_history_counter = opthalmic_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "uveitis").present?  %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% speciality_history_counter = speciality_history_counter + 1 %>
    <% opthalmic_history_counter = opthalmic_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "retinal_laser").present?  %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% speciality_history_counter = speciality_history_counter + 1 %>
    <% opthalmic_history_counter = opthalmic_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "contact_lens").present?  %>
    <% personel_ophthal_history_counter = personel_ophthal_history_counter + 1 %>
    <% speciality_history_counter = speciality_history_counter + 1 %>
    <% opthalmic_history_counter = opthalmic_history_counter + 1 %>
  <% end %>
<% end %>

<% if opdrecord.try(:personal_history_records).present? || opdrecord.history_comment.present? %>
  <% personel_history_counter = 0 %>
  <% personel_systemic_history_counter = 0 %>
  <% @personal_history = opdrecord.personal_history_records %>

  <% if opdrecord.history_comment != "" && opdrecord.history_comment != nil %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "diabetes").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
    <% systemic_history_counter = systemic_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "hypertension").present?  %>
      <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "alcoholism").present?  %>
      <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "smoking_tobacco").present? %>
      <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "chewing_tobacco").present? %>
      <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "steroid_intake").present? %>
      <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "drug_abuse").present? %>
      <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "hiv_aids").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
    <% systemic_history_counter = systemic_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "cancer_tumor").present?  %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
    <% systemic_history_counter = systemic_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "cardiac_disorder").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
    <% systemic_history_counter = systemic_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "rheumatoid_arthritis").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
    <% systemic_history_counter = systemic_history_counter + 1 %>
  <% end %>

  <% if  @personal_history.find_by(name: "tuberculosis").present? %>
      <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
  <% end %>

  <% if  @personal_history.find_by(name: "asthma").present? %>
      <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
  <% end %>

  <% if  @personal_history.find_by(name: "cns_disorder_stroke").present?  %>
      <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
  <% end %>

  <% if  @personal_history.find_by(name: "thyroid_disorder").present? %>
      <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
  <% end %>

  <% if  @personal_history.find_by(name: "hypothyroidism").present? %>
      <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "hyperthyroidism").present? %>
      <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "hepatitis_cirrhosis").present?  %>
      <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "renal_disorder").present? %>
      <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "acidity").present? %>
      <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "on_insulin").present? %>
      <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "on_aspirin_blood_thinners").present? %>
      <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
      <% personel_history_counter = personel_history_counter + 1 %>
      <% systemic_history_counter = systemic_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "consanguinity").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
    <% systemic_history_counter = systemic_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "hypothyroidism").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
    <% systemic_history_counter = systemic_history_counter + 1 %>
  <% end %>

  <% if @personal_history.find_by(name: "hyperthyroidism").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
    <% systemic_history_counter = systemic_history_counter + 1 %>
  <% end %>
  
  <% if @personal_history.find_by(name: "benign_prostatic_hyperplasia").present? %>
    <% personel_systemic_history_counter = personel_systemic_history_counter + 1 %>
    <% personel_history_counter = personel_history_counter + 1 %>
    <% systemic_history_counter = systemic_history_counter + 1 %>
  <% end %>
<% end %>

<div class="row mb5">
  <strong style="<%= heading_font_size %>">Ophthalmic History :</strong>
  <% if opthalmic_history_counter > 0 %>
      <!-- Patient has a history of -->
    <div class="col-md-12" style="<%= text_font_size %>">
      <% @speciality_history = opdrecord.speciality_history_records %>
      <% @glaucoma = @speciality_history.find_by(name: "glaucoma") %>
      <% if @glaucoma.present?  %>
        <li>
          <% speciality_history_counter = speciality_history_counter - 1 %>
          Glaucoma
          <% if @glaucoma.l_duration.present? %>
              Left Eye since  <%= @glaucoma.l_duration %> <%= @glaucoma.l_duration_unit.try(:singularize).try(:pluralize, @glaucoma.l_duration.to_i) %>
          <% end %>
          <% if @glaucoma.r_duration.present? %>
              <%= "&" if @glaucoma.l_duration.present? %>
              Right Eye since  <%= @glaucoma.r_duration %> <%= @glaucoma.r_duration_unit.try(:singularize).try(:pluralize, @glaucoma.r_duration.to_i) %>
          <% end %>
          <% if @glaucoma.comment.present? %>
              <%= " - " +  @glaucoma.comment %>
          <% end %>
        </li>
      <% end %>

      <% @retinal_detachment = @speciality_history.find_by(name: "retinal_detachment") %>
      <% if @retinal_detachment.present? %>
        <li>
          <% speciality_history_counter = speciality_history_counter - 1 %>
          Retinal Detachment
          <% if @retinal_detachment.l_duration.present? %>
              Left Eye since <%= @retinal_detachment.l_duration %> <%= @retinal_detachment.l_duration_unit.try(:singularize).try(:pluralize, @retinal_detachment.l_duration.to_i) %>
          <% end %>
          <% if @retinal_detachment.r_duration.present? %>
              <%= "&" if @retinal_detachment.l_duration.present? %>
              Right eye since <%= @retinal_detachment.r_duration %> <%= @retinal_detachment.r_duration_unit.try(:singularize).try(:pluralize, @retinal_detachment.r_duration.to_i) %>
          <% end %>
          <% if @retinal_detachment.comment.present? %>
              <%= " - " + @retinal_detachment.comment %>
          <% end %>
        </li>
      <% end %>

      <% @glasses = @speciality_history.find_by(name: "glasses") %>
      <% if @glasses.present? %>
        <li>
          <% speciality_history_counter = speciality_history_counter - 1 %>
          Glasses
          <% if  @glasses.l_duration.present? %>
              Left Eye since  <%= @glasses.l_duration %> <%= @glasses.l_duration_unit.try(:singularize).try(:pluralize, @glasses.l_duration.to_i) %>
          <% end %>
          <% if  @glasses.r_duration.present? %>
              <%= "&" if @glasses.l_duration.present? %>
              Right Eye since  <%= @glasses.r_duration %> <%= @glasses.r_duration_unit.try(:singularize).try(:pluralize, @glasses.r_duration.to_i) %>
          <% end %>
          <% if @glasses.comment.present? %>
              <%= " - " +  @glasses.comment %>
          <% end %>
        </li>
      <% end %>

      <% @ocular_disease = @speciality_history.find_by(name: "ocular_disease") %>
      <% if @ocular_disease.present? %>
        <li>
          <% speciality_history_counter = speciality_history_counter - 1 %>
          Ocular disease
          <% if  @ocular_disease.l_duration.present? %>
              Left Eye since  <%= @ocular_disease.l_duration %> <%= @ocular_disease.l_duration_unit.try(:singularize).try(:pluralize, @ocular_disease.l_duration.to_i) %>
          <% end %>
          <% if  @ocular_disease.r_duration.present? %>
              <%= "&" if @ocular_disease.l_duration.present? %>
              Right Eye since  <%= @ocular_disease.r_duration %> <%= @ocular_disease.r_duration_unit.try(:singularize).try(:pluralize, @ocular_disease.r_duration.to_i) %>
          <% end %>
          <% if @ocular_disease.comment.present? %>
              <%= " - " + @ocular_disease.comment %>
          <% end %>
        </li>
      <% end %>

      <% @ocular_surgery = @speciality_history.find_by(name: "ocular_surgery") %>
      <% if @ocular_surgery.present? %>
        <li>
          <% speciality_history_counter = speciality_history_counter - 1 %>
          Ocular surgery
          <% if  @ocular_surgery.l_duration.present? %>
            Left Eye since  <%= @ocular_surgery.l_duration %> <%= @ocular_surgery.l_duration_unit.try(:singularize).try(:pluralize, @ocular_surgery.l_duration.to_i) %>
          <% end %>
          <% if  @ocular_surgery.r_duration.present? %>
            <%= "&" if @ocular_surgery.l_duration.present? %>
            Right Eye since  <%= @ocular_surgery.r_duration %> <%= @ocular_surgery.r_duration_unit.try(:singularize).try(:pluralize, @ocular_surgery.r_duration.to_i) %>
          <% end %>
          <% if @ocular_surgery.comment.present? %>
            <%= " - " +  @ocular_surgery.comment %>
          <% end %>
        </li>
      <% end %>

      <% @eye_surgery = @speciality_history.find_by(name: "eye_surgery") %>
      <% if @eye_surgery.present? %>
        <li>
          <% speciality_history_counter = speciality_history_counter - 1 %>
          Eye surgery
          <% if  @eye_surgery.l_duration.present? %>
              Left Eye since  <%= @eye_surgery.l_duration %> <%= @eye_surgery.l_duration_unit.try(:singularize).try(:pluralize, @eye_surgery.l_duration.to_i) %>
          <% end %>
          <% if  @eye_surgery.r_duration.present? %>
              <%= "&" if @eye_surgery.l_duration.present? %>
              Right Eye since  <%= @eye_surgery.r_duration %> <%= @eye_surgery.r_duration_unit.try(:singularize).try(:pluralize, @eye_surgery.r_duration.to_i) %>
          <% end %>
          <% if @eye_surgery.comment.present? %>
              <%= " - " +  @eye_surgery.comment %>
          <% end %>
        </li>
      <% end %>

      <% @eye_disease = @speciality_history.find_by(name: "eye_disease") %>
      <% if @eye_disease.present? %>
        <li>
          <% speciality_history_counter = speciality_history_counter - 1 %>
          Eye disease
          <% if  @eye_disease.l_duration.present? %>
            Left Eye since  <%= @eye_disease.l_duration %> <%= @eye_disease.l_duration_unit.try(:singularize).try(:pluralize, @eye_disease.l_duration.to_i) %>
          <% end %>
          <% if  @eye_disease.r_duration.present? %>
            <%= "&" if @eye_disease.l_duration.present? %>
              Right Eye since  <%= @eye_disease.r_duration %> <%= @eye_disease.r_duration_unit.try(:singularize).try(:pluralize, @eye_disease.r_duration.to_i) %>
          <% end %>
          <% if @eye_disease.comment.present? %>
            <%= " - " +  @eye_disease.comment %>
          <% end %>
        </li>
      <% end %>

      <% @consanguinity = @speciality_history.find_by(name: "consanguinity") %>
      <% if @consanguinity.present? %>
        <li>
          <% speciality_history_counter = speciality_history_counter - 1 %>
          Consanguinity
          <% if  @consanguinity.l_duration.present? %>
            Left Eye since  <%= @consanguinity.l_duration %> <%= @consanguinity.l_duration_unit.try(:singularize).try(:pluralize, @consanguinity.l_duration.to_i) %>
          <% end %>
          <% if  @consanguinity.r_duration.present? %>
            <%= "&" if @consanguinity.l_duration.present? %>
            Right Eye since  <%= @consanguinity.r_duration %> <%= @consanguinity.r_duration_unit.try(:singularize).try(:pluralize, @consanguinity.r_duration.to_i) %>
          <% end %>
          <% if @consanguinity.comment.present? %>
            <%= " - " + @consanguinity.comment %>
          <% end %>
        </li>
      <% end %>

      <% @uveitis = @speciality_history.find_by(name: "uveitis") %>
      <% if @uveitis.present? %>
        <li>
          <% speciality_history_counter = speciality_history_counter - 1 %>
          Uveitis
          <% if  @uveitis.l_duration.present? %>
            Left Eye since  <%= @uveitis.l_duration %> <%= @uveitis.l_duration_unit.try(:singularize).try(:pluralize, @uveitis.l_duration.to_i) %>
          <% end %>
          <% if  @uveitis.r_duration.present? %>
            <%= "&" if @uveitis.l_duration.present? %>
              Right Eye since  <%= @uveitis.r_duration %> <%= @uveitis.r_duration_unit.try(:singularize).try(:pluralize, @uveitis.r_duration.to_i) %>
          <% end %>
          <% if @uveitis.comment.present? %>
            <%= " - " +  @uveitis.comment %>
          <% end %>
        </li>
      <% end %>

      <% @retinal_laser = @speciality_history.find_by(name: "retinal_laser") %>
      <% if @retinal_laser.present? %>
        <li>
          <% speciality_history_counter = speciality_history_counter - 1 %>
          Retinal Laser
           <% if @retinal_laser.l_duration.present? %>
            Left Eye since  <%= @retinal_laser.l_duration %> <%= @retinal_laser.l_duration_unit.try(:singularize).try(:pluralize, @retinal_laser.l_duration.to_i) %>
          <% end %>
          <% if @retinal_laser.r_duration.present? %>
            <%= "&" if @retinal_laser.l_duration.present? %>
            Right Eye since  <%= @retinal_laser.r_duration %> <%= @retinal_laser.r_duration_unit.try(:singularize).try(:pluralize, @retinal_laser.r_duration.to_i) %>
          <% end %>
            <% if @retinal_laser.comment.present? %>
            <%= " - " +  @retinal_laser.comment %>
          <% end %>
        </li>
      <% end %>

      <% @contact_lens = @speciality_history.find_by(name: "contact_lens") %>
      <% if @contact_lens.present? %>
        <li>
          <% speciality_history_counter = speciality_history_counter - 1 %>
          Contact Lens
           <% if @contact_lens.l_duration.present? %>
            Left Eye since  <%= @contact_lens.l_duration %> <%= @contact_lens.l_duration_unit.try(:singularize).try(:pluralize, @contact_lens.l_duration.to_i) %>
          <% end %>
          <% if @contact_lens.r_duration.present? %>
            <%= "&" if @contact_lens.l_duration.present? %>
            Right Eye since  <%= @contact_lens.r_duration %> <%= @contact_lens.r_duration_unit.try(:singularize).try(:pluralize, @contact_lens.r_duration.to_i) %>
          <% end %>
            <% if @contact_lens.comment.present? %>
            <%= " - " +  @contact_lens.comment %>
          <% end %>
        </li>
      <% end %>
      <% if opdrecord.opthal_history_comment != "" && opdrecord.opthal_history_comment != nil %>
        <% speciality_history_counter = speciality_history_counter - 1 %>
        <span style="white-space: pre-line"><%= opdrecord.opthal_history_comment %></span>
      <% end %>
    </div>
  <% else %>
    <% if opdrecord.opthal_history_comment != "" && opdrecord.opthal_history_comment != nil %>
      <% speciality_history_counter = speciality_history_counter - 1 %>
      <span style="white-space: pre-line"><%= opdrecord.opthal_history_comment %></span>
    <% else %>
      <span style="<%= text_font_size %>">None</span>
    <% end %>
  <% end %>
</div>
<div class="row mb5">
  <strong style="<%= heading_font_size %>">Systemic History :</strong>
  <% if systemic_history_counter  > 0 %>
    <div class="col-md-12" style="<%= text_font_size %>">
      <% @personal_history = opdrecord.personal_history_records %>

      <% @diabetes = @personal_history.find_by(name: "diabetes") %>
      <% if  @diabetes.present? %>
        <li>
          <% personel_history_counter = personel_history_counter - 1 %>
          Diabetes
          <% unless @diabetes.duration == "" || @diabetes.duration == nil %>
              since
          <% end %>
          <%= @diabetes.duration %>
          <%= @diabetes.duration_unit.try(:singularize).try(:pluralize, @diabetes.duration.to_i) %>
          <% if @diabetes.comment.present? %>
          - <%= @diabetes.comment %>
          <% end %>
        </li>
      <% end %>

      <% @hypertension = @personal_history.find_by(name: "hypertension") %>
      <% if @hypertension.present? %>
        <li>
          <% personel_history_counter = personel_history_counter - 1 %>
            Hypertension
          <%unless @hypertension.duration == "" || @hypertension.duration == nil%>
              since
          <% end %>
          <%= @hypertension.duration%>
          <%= @hypertension.duration_unit.try(:singularize).try(:pluralize, @hypertension.duration.to_i)%>
          <% if @hypertension.comment.present? %>
              - <%= @hypertension.comment %>
          <% end %>
        </li>
      <% end %>

      <% @alcoholism = @personal_history.find_by(name: "alcoholism") %>
      <% if @alcoholism.present? %>
        <li>
          <% personel_history_counter = personel_history_counter - 1 %>
          Alcoholism
          <%unless @alcoholism.duration == "" || @alcoholism.duration == nil%>
              since
          <% end %>
          <%= @alcoholism.duration%>
          <%= @alcoholism.duration_unit.try(:singularize).try(:pluralize, @alcoholism.duration.to_i) %>
          <% if @alcoholism.comment.present? %>
              - <%= @alcoholism.comment %>
          <% end %>
        </li>
      <% end %>

      <% @smoking_tobacco = @personal_history.find_by(name: "smoking_tobacco") %>
      <% if @smoking_tobacco.present? %>
        <li>
          <% personel_history_counter = personel_history_counter - 1 %>
          Smoking/Tobacco
          <%unless @smoking_tobacco.duration == "" || @smoking_tobacco.duration == nil%>
              since
          <% end %>
          <%= @smoking_tobacco.duration %>
          <%= @smoking_tobacco.duration_unit.try(:singularize).try(:pluralize, @smoking_tobacco.duration.to_i) %>
          <% if @smoking_tobacco.comment.present? %>
              - <%= @smoking_tobacco.comment %>
          <% end %>
        </li>
      <% end %>

      <% @chewing_tobacco = @personal_history.find_by(name: "chewing_tobacco") %>
      <% if @chewing_tobacco.present? %>
        <li>
          <% personel_history_counter = personel_history_counter - 1 %>
          Chewing Tobacco
          <%unless @chewing_tobacco.duration == "" || @chewing_tobacco.duration == nil%>
              since
          <% end %>
          <%= @chewing_tobacco.duration %>
          <%= @chewing_tobacco.duration_unit.try(:singularize).try(:pluralize, @chewing_tobacco.duration.to_i) %>
          <% if @chewing_tobacco.comment.present? %>
              - <%= @chewing_tobacco.comment %>
          <% end %>
        </li>
      <% end %>

      <% @steroid_intake = @personal_history.find_by(name: "steroid_intake") %>
      <% if @steroid_intake.present? %>
        <li>
          <% personel_history_counter = personel_history_counter - 1 %>
          Steroid Intake
          <%unless @steroid_intake.duration == "" || @steroid_intake.duration == nil%>
              since
          <% end %>
          <%= @steroid_intake.duration%>
          <%= @steroid_intake.duration_unit.try(:singularize).try(:pluralize, @steroid_intake.duration.to_i) %>
          <% if @steroid_intake.comment.present? %>
              - <%= @steroid_intake.comment %>
          <% end %>
        </li>
      <% end %>

      <% @drug_abuse = @personal_history.find_by(name: "drug_abuse") %>
      <% if @drug_abuse.present? %>
        <li>
          <% personel_history_counter = personel_history_counter - 1 %>
          Drug Abuse
          <%unless @drug_abuse.duration == "" || @drug_abuse.duration == nil%>
              since
          <% end %>
          <%= @drug_abuse.duration%>
          <%= @drug_abuse.duration_unit.try(:singularize).try(:pluralize, @drug_abuse.duration.to_i) %>
          <% if @drug_abuse.comment.present? %>
              - <%= @drug_abuse.comment %>
          <% end %>
        </li>
      <% end %>

      <% @hiv_aids = @personal_history.find_by(name: "hiv_aids") %>
      <% if @hiv_aids.present? %>
        <li>
          <% personel_history_counter = personel_history_counter - 1 %>
              HIV/AIDS
          <%unless @hiv_aids.duration == "" || @hiv_aids.duration == nil%>
              since
          <% end %>
          <%= @hiv_aids.duration %>
          <%=@hiv_aids.duration_unit.try(:singularize).try(:pluralize, @hiv_aids.duration.to_i) %>
          <% if @hiv_aids.comment.present? %>
              - <%= @hiv_aids.comment %>
          <% end %>
        </li>
      <% end %>

      <% @cancer_tumor = @personal_history.find_by(name: "cancer_tumor") %>
      <% if @cancer_tumor.present? %>
        <li>
          <% personel_history_counter = personel_history_counter - 1 %>
          Cancer/Tumor
          <%unless @cancer_tumor.duration == "" || @cancer_tumor.duration == nil%>
              since
          <% end %>
          <%= @cancer_tumor.duration%>
          <%=@cancer_tumor.duration_unit.try(:singularize).try(:pluralize, @cancer_tumor.duration.to_i)%>
          <% if @cancer_tumor.comment.present? %>
              - <%= @cancer_tumor.comment %>
          <% end %>
        </li>
      <% end %>

      <% @cardiac_disorder = @personal_history.find_by(name: "cardiac_disorder") %>
      <% if @cardiac_disorder.present? %>
        <li>
          <% personel_history_counter = personel_history_counter - 1 %>
          Cardiac disorder
          <%unless @cardiac_disorder.duration == "" || @cardiac_disorder.duration == nil%>
              since
          <% end %>
          <%= @cardiac_disorder.duration%>
          <%=@cardiac_disorder.duration_unit.try(:singularize).try(:pluralize, @cardiac_disorder.duration.to_i)%>
          <% if @cardiac_disorder.comment.present? %>
              - <%= @cardiac_disorder.comment %>
          <% end %>
        </li>
      <% end %>

      <% @rheumatoid_arthritis = @personal_history.find_by(name: "rheumatoid_arthritis") %>
      <% if @rheumatoid_arthritis.present? %>
        <li>
          <% personel_history_counter = personel_history_counter - 1 %>
          Rheumatoid Arthritis
          <%unless @rheumatoid_arthritis.duration == "" || @rheumatoid_arthritis.duration == nil%>
              since
          <% end %>
          <%= @rheumatoid_arthritis.duration%>
          <%=@rheumatoid_arthritis.duration_unit.try(:singularize).try(:pluralize, @rheumatoid_arthritis.duration.to_i)%>
          <% if @rheumatoid_arthritis.comment.present? %>
              - <%= @rheumatoid_arthritis.comment %>
          <% end %>
        </li>
      <% end %>

      <% @tuberculosis = @personal_history.find_by(name: "tuberculosis") %>
      <% if @tuberculosis.present?  %>
        <li>
          <% personel_history_counter = personel_history_counter - 1 %>
          Tuberculosis
          <%unless @tuberculosis.duration == "" || @tuberculosis.duration == nil%>
              since
          <% end %>
          <%= @tuberculosis.duration %>
          <%= @tuberculosis.duration_unit.try(:singularize).try(:pluralize, @tuberculosis.duration.to_i) %>
          <% if @tuberculosis.comment.present? %>
              - <%= @tuberculosis.comment %>
          <% end %>
        </li>
      <% end %>

      <% @asthma = @personal_history.find_by(name: "asthma") %>
      <% if @asthma.present? %>
        <li>
          <% personel_history_counter = personel_history_counter - 1 %>
          Asthma
          <%unless @asthma.duration == "" || @asthma.duration == nil%>
              since
          <% end %>
          <%= @asthma.duration%>
          <%=@asthma.duration_unit.try(:singularize).try(:pluralize, @asthma.duration.to_i)%>
          <% if @asthma.comment.present? %>
              - <%= @asthma.comment %>
          <% end %>
        </li>
      <% end %>

      <% @cns_disorder_stroke = @personal_history.find_by(name: "cns_disorder_stroke") %>
      <% if @cns_disorder_stroke.present? %>
        <li>
          <% personel_history_counter = personel_history_counter - 1 %>
          CNS disorder/Stroke
          <%unless @cns_disorder_stroke.duration == "" || @cns_disorder_stroke.duration == nil%>
          since
          <% end %>
          <%= @cns_disorder_stroke.duration%>
          <%=@cns_disorder_stroke.duration_unit.try(:singularize).try(:pluralize, @cns_disorder_stroke.duration.to_i)%>
          <% if @cns_disorder_stroke.comment.present? %>
              - <%= @cns_disorder_stroke.comment %>
          <% end %>
        </li>
      <% end %>

      <% @thyroid_disorder = @personal_history.find_by(name: "thyroid_disorder") %>
      <% if @thyroid_disorder.present? %>
        <li>
          <% personel_history_counter = personel_history_counter - 1 %>
          Thyroid disorder
          <%unless  @thyroid_disorder.duration == "" ||  @thyroid_disorder.duration == nil%>
          since
          <% end %>
          <%=  @thyroid_disorder.duration%>
          <%= @thyroid_disorder.duration_unit.try(:singularize).try(:pluralize, @thyroid_disorder.duration.to_i)%>
          <% if @thyroid_disorder.comment.present? %>
              - <%= @thyroid_disorder.comment %>
          <% end %>
        </li>
      <% end %>

      <% @hypothyroidism = @personal_history.find_by(name: "hypothyroidism") %>
      <% if @hypothyroidism.present? %>
        <li>
          <% personel_history_counter = personel_history_counter - 1 %>
          Hypothyroidism
          <%unless  @hypothyroidism.duration == "" ||  @hypothyroidism.duration == nil%>
          since
          <% end %>
          <%=  @hypothyroidism.duration%>
          <%= @hypothyroidism.duration_unit.try(:singularize).try(:pluralize, @hypothyroidism.duration.to_i)%>
          <% if @hypothyroidism.comment.present? %>
              - <%= @hypothyroidism.comment %>
          <% end %>
        </li>
      <% end %>

      <% @hyperthyroidism = @personal_history.find_by(name: "hyperthyroidism") %>
      <% if @hyperthyroidism.present? %>
        <li>
          <% personel_history_counter = personel_history_counter - 1 %>
          Hyperthyroidism
          <%unless @hyperthyroidism.duration == "" ||  @hyperthyroidism.duration == nil%>
          since
          <% end %>
          <%=  @hyperthyroidism.duration%>
          <%= @hyperthyroidism.duration_unit.try(:singularize).try(:pluralize, @hyperthyroidism.duration.to_i)%>
          <% if @hyperthyroidism.comment.present? %>
          - <%= @hyperthyroidism.comment %>
          <% end %>
        </li>
      <% end %>

      <% @hepatitis_cirrhosis = @personal_history.find_by(name: "hepatitis_cirrhosis") %>
      <% if @hepatitis_cirrhosis.present? %>
        <li>
          <% personel_history_counter = personel_history_counter - 1 %>
          Hepatitis/Cirrhosis
          <%unless  @hepatitis_cirrhosis.duration == "" ||  @hepatitis_cirrhosis.duration == nil%>
          since
          <% end %>
          <%=  @hepatitis_cirrhosis.duration%>
          <%= @hepatitis_cirrhosis.duration_unit.try(:singularize).try(:pluralize, @hepatitis_cirrhosis.duration.to_i)%>
          <% if @hepatitis_cirrhosis.comment.present? %>
              - <%= @hepatitis_cirrhosis.comment %>
          <% end %>
        </li>
      <% end %>

      <% @renal_disorder = @personal_history.find_by(name: "renal_disorder") %>
      <% if @renal_disorder.present? %>
        <li>
          <% personel_history_counter = personel_history_counter - 1 %>
          Renal disorder
          <%unless @renal_disorder.duration == "" ||  @renal_disorder.duration == nil%>
          since
          <% end %>
          <%=  @renal_disorder.duration%>
          <%= @renal_disorder.duration_unit.try(:singularize).try(:pluralize, @renal_disorder.duration.to_i)%>
          <% if @renal_disorder.comment.present? %>
          - <%= @renal_disorder.comment %>
          <% end %>
        </li>
      <% end %>

      <% @acidity = @personal_history.find_by(name: "acidity") %>
      <% if @acidity.present? %>
        <li>
          <% personel_history_counter = personel_history_counter - 1 %>
          Acidity
          <%unless @acidity.duration == "" || @acidity.duration == nil%>
              since
          <% end %>
          <%= @acidity.duration%>
          <%=@acidity.duration_unit.try(:singularize).try(:pluralize, @acidity.duration.to_i)%>
          <% if @acidity.comment.present? %>
              - <%= @acidity.comment %>
          <% end %>
        </li>
      <% end %>

      <% @on_insulin = @personal_history.find_by(name: "on_insulin") %>
      <% if @on_insulin.present? %>
        <li>
          <% personel_history_counter = personel_history_counter - 1 %>
          On Insulin
          <%unless @on_insulin.duration == "" || @on_insulin.duration == nil%>
              since
          <% end %>
          <%= @on_insulin.duration%>
          <%=@on_insulin.duration_unit.try(:singularize).try(:pluralize, @on_insulin.duration.to_i)%>
          <% if @on_insulin.comment.present? %>
              - <%= @on_insulin.comment %>
          <% end %>
        </li>
      <% end %>

      <% @on_aspirin_blood_thinners = @personal_history.find_by(name: "on_aspirin_blood_thinners") %>
      <% if @on_aspirin_blood_thinners.present? %>
        <li>
          <% personel_history_counter = personel_history_counter - 1 %>
          On Aspirin/Blood Thinners
          <%unless  @on_aspirin_blood_thinners.duration == "" ||  @on_aspirin_blood_thinners.duration == nil%>
              since
          <% end %>
          <%=  @on_aspirin_blood_thinners.duration%>
          <%= @on_aspirin_blood_thinners.duration_unit.try(:singularize).try(:pluralize, @on_aspirin_blood_thinners.duration.to_i)%>
          <% if @on_aspirin_blood_thinners.comment.present? %>
              - <%= @on_aspirin_blood_thinners.comment %>
          <% end %>
        </li>
      <% end %>

      <% @consanguinity = @personal_history.find_by(name: "consanguinity") %>
      <% if @consanguinity.present? %>
        <li>
          <% personel_history_counter = personel_history_counter - 1 %>
          Consanguinity
          <%unless  @consanguinity.duration == "" ||  @consanguinity.duration == nil%>
              since
          <% end %>
          <%=  @consanguinity.duration%>
          <%= @consanguinity.duration_unit.try(:singularize).try(:pluralize, @consanguinity.duration.to_i)%>
          <% if @consanguinity.comment.present? %>
              - <%= @consanguinity.comment %>
          <% end %>
        </li>
      <% end %>

      <% @benign_prostatic_hyperplasia = @personal_history.find_by(name: "benign_prostatic_hyperplasia") %>
      <% if @benign_prostatic_hyperplasia.present? %>
        <li>
          <% personel_history_counter = personel_history_counter - 1 %>
          Benign Prostatic Hyperplasia(BPH)
          <%unless  @benign_prostatic_hyperplasia.duration == "" ||  @benign_prostatic_hyperplasia.duration == nil%>
              since
          <% end %>
          <%=  @benign_prostatic_hyperplasia.duration%>
          <%= @benign_prostatic_hyperplasia.duration_unit.try(:singularize).try(:pluralize, @benign_prostatic_hyperplasia.duration.to_i)%>
          <% if @benign_prostatic_hyperplasia.comment.present? %>
              - <%= @benign_prostatic_hyperplasia.comment %>
          <% end %>
        </li>
      <% end %>

      <% if opdrecord.history_comment != "" && opdrecord.history_comment != nil %>
        <% personel_history_counter = personel_history_counter - 1 %>
        <span style="white-space: pre-line"><%= opdrecord.history_comment %></span>
      <% end %>
    </div>
  <% else %>
    <% if opdrecord.history_comment != "" && opdrecord.history_comment != nil %>
      <% personel_history_counter = personel_history_counter - 1 %>
      <span style="white-space: pre-line"><%= opdrecord.history_comment %></span>
    <% else %>
      <span style="<%= text_font_size %>">None</span>
    <% end %>
  <% end %>
</div>

<% if opdrecord.other_history.medical_history != "" && opdrecord.other_history.medical_history != nil %>
  <div class="row mb5">
    <!-- Patient has a --><strong style="<%= heading_font_size %>">Medical history :</strong>
    <span style="<%= text_font_size %>"><%= opdrecord.other_history.medical_history %></span>
  </div>
<% end %>

<% if opdrecord.other_history.family_history != "" && opdrecord.other_history.family_history != nil %>
  <div class="row mb5">
    <!-- Patient has a --> <strong style="<%= heading_font_size %>">Family history :</strong>
    <span style="<%= text_font_size %>"><%=opdrecord.other_history.family_history %></span>
  </div>
<% end %>

<div class="row">
  <strong style="<%= heading_font_size %>">Allergies :</strong>
  <% if opdrecord.allergy_histories.present? || opdrecord.others_allergies.present? || opdrecord.drug_allergies_comment.present? || opdrecord.contact_allergies_comment.present? || opdrecord.food_allergies_comment.present? %>
    <div class="col-md-12 <%= 'print_text_font_size' if  @print_setting %>" style="<%= text_font_size %>">
      <% @allergies = Array.new %>
      <%# @allergies.push( opdrecord.allergy_histories.pluck(:name)) %>

      <% opdrecord.allergy_histories.each do |aller|%>
        <% if aller.duration.present? && aller.duration_unit.present? &&  aller.comment.present? %>
            <% history =   aller.name.to_s.capitalize.split('_').map(&:capitalize).join(' ') + ' since ' + aller.duration + ' '+ aller.duration_unit.try(:singularize).try(:pluralize, aller.duration.to_i) + ' - ' + aller.comment%>
        <% elsif  aller.duration.present? && aller.duration_unit.present? %>
              <% history =   aller.name.to_s.capitalize.split('_').map(&:capitalize).join(' ') + ' since ' + aller.duration + ' '+ aller.duration_unit.try(:singularize).try(:pluralize, aller.duration.to_i) %>
        <% elsif aller.comment.present? %>
            <% history = aller.name.to_s.capitalize.split('_').map(&:capitalize).join(' ') + ' - ' + aller.comment %>
        <% else %>
            <% history = aller.name.to_s.capitalize.split('_').map(&:capitalize).join(' ') %>
        <% end %>
        <% @allergies.push(history) %>
      <% end %>
      <% if @allergies.present? %>
        <div class="col-md-12"><!-- Patient is -->
          <% @allergies.each do |allergy| %>
            <li>
              From <%= allergy %>
            </li>
          <% end %>
        </div>
        <% if opdrecord.drug_allergies_comment.present? %>
          <div class="col-md-12">
            <li>
              Drug Allergies Comment: <%= opdrecord.drug_allergies_comment %>
            </li>
          </div>
        <% end %>
        <% if opdrecord.contact_allergies_comment.present? %>
          <div class="col-md-12">
            <li>
              Contact Allergies Comment: <%= opdrecord.contact_allergies_comment %>
            </li>
          </div>
        <% end %>
        <% if opdrecord.food_allergies_comment.present? %>
          <div class="col-md-12">
            <li>
              Food Allergies Comment: <%= opdrecord.food_allergies_comment %>
            </li>
          </div>
        <% end %>
        <% if opdrecord.others_allergies.present? %>
          <div class="col-md-12"><!-- Patient is -->
            <li>
              Other: <%= opdrecord.others_allergies %>
            </li>
          </div>
        <% end %>
      <% elsif opdrecord.others_allergies.present? || opdrecord.drug_allergies_comment.present? || opdrecord.contact_allergies_comment.present? || opdrecord.food_allergies_comment.present? %>
        <% if opdrecord.drug_allergies_comment.present? %>
          <div class="col-md-12">
            <li>
              Drug Allergies Comment: <%= opdrecord.drug_allergies_comment %>
            </li>
          </div>
        <% end %>
        <% if opdrecord.contact_allergies_comment.present? %>
          <div class="col-md-12">
            <li>
              Contact Allergies Comment: <%= opdrecord.contact_allergies_comment %>
            </li>
          </div>
        <% end %>
        <% if opdrecord.food_allergies_comment.present? %>
          <div class="col-md-12">
            <li>
              Food Allergies Comment: <%= opdrecord.food_allergies_comment %>
            </li>
          </div>
        <% end %>
        <% if opdrecord.others_allergies.present? %>
          <div class="col-md-12"><!-- Patient is -->
            <li>
              Other: <%= opdrecord.others_allergies %>
            </li>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <span style="<%= text_font_size %>">None</span>
  <% end %>
</div>