<%user = User.find_by(id: user_id) %>
<% if user.present? %>
  <div class="row signature_row">
    <% if user.digital_signature == true %>
      <div class="" style="padding: 30px 0px">
        <div class="col-md-12" style="text-align: left; position: relative; bottom: 5px; margin-top: 10px; word-wrap: break-word;">
          <div class="col-md-8"></div>
          <div class="col-md-4">
            <div class="fileupload-preview fileupload-exists thumbnail col-md-12" style="border: 0px none; max-width: 95px; max-height: 10px; min-height: 10px; line-height: 20px; position: relative; bottom: 15px;">
              <%= image_tag(user.user_signature_url.to_s )%>
            </div>
          </div>
        </div>
        <div class="col-md-12" style="text-align: left; position: relative; bottom: 5px; margin-top: 10px; word-wrap: break-word;">
          <div class="col-md-8"></div>
          <div class="col-md-4">
            <% if user.role_ids.include?(158965000) %>
              <span><strong>Dr. <%= user.fullname %></strong></span><br/>
            <% else %>
              <span><strong><%= user.salutation%> <%= user.fullname%></strong></span><br/>
            <% end %>
            <% if user.include_designation == true && user.designation.present? && user.registration_number.present? && user.include_registration_number == true && user.include_qualification == true && user.qualification.present? %>
              <span style="font-size:10px;"><%= user.qualification %>, </span>
              <span style="font-size:10px;">Reg. No:  <%= user.registration_number %></span><br/>
              <span style="font-size:10px;"><%= user.designation.titleize %></span><br/>
            <% else %>
              <% if user.include_qualification == true && user.qualification.present? %>
                <span style="font-size:10px;"><%= user.qualification %></span><% if user.include_registration_number == true && user.include_registration_number.present? %>, <% else %><br><% end %>
              <% end %>
              <% if user.include_registration_number == true && user.registration_number.present? %>
                <span style="font-size:10px;">Reg. No : <%= user.try(:registration_number) %></span><br>
              <% end %>
              <% if user.include_designation == true && user.designation.present? %>
                <span style="font-size:10px;"><%= user.designation.titleize %></span><br>
              <% end %>
            <% end %>
            <% if user.include_fellowship == true && user.fellowship.present? %>
              <span style="font-size:10px;"><%= user.fellowship %></span><br/>
            <% end %>
            <% if user.sub_specialty_names.present? && user.include_specialty == true %>
              <span style="font-size:10px;"><%= user.sub_specialty_names.join(" ,") %></span><br/>
            <% end %>
            <% if user.include_print_datetime == true %>
            <span style="font-size:9px;">Printed on: <%= Time.current.strftime("%d %b'%Y, %I:%M %p") %></span>
            <% end %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="col-md-12" style="text-align: left; position: relative; bottom: 5px; margin-top: 10px; word-wrap: break-word;">
        <div class="col-md-8"></div>
        <div class="col-md-4">
          <% if user.role_ids.include?(158965000) %>
            <span><strong>Dr. <%= user.fullname%></strong></span><br/>
          <% else %>
            <span><strong><%= user.salutation%> <%= user.fullname%></strong></span><br/>
          <% end %>
          <% if user.try(:registration_number).present? %>
            <span style="font-size:10px;">(Reg. No : <%= user.try(:registration_number) %>)</span><br/>
          <% end %>
          <span style="font-size:9px;">Printed on: <%= Time.current.strftime("%d %b'%Y, %I:%M %p") %></span>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
