<% invoice_inventory_department_opticals.each_with_index do |log,i| %>
    <tr class="text-center">
      <td><%= i+1 %>.</td>
      <td><%= log.bill_number %></td>
      <td><%= log.order_date.strftime("%d %b %Y") %></td>
      <td class="text-left"><%= log.recipient %></td>
      <td><%= log.recipient_mobile %></td>
      <td><%= log.items.length %></td>
      <td>
        <% if log.advance_payment.present? %>
          <%= log.advance_payment.round(2) %>
        <%end%>
      </td>
      <td>
        <%#= log.inspect %>
        <% if log.total.present? %>
          <%= log.total.to_f.round(2) %>
        <% else %>
          <% tax_amount = 0.0 %> 
          <%if log.tax_breakup.present?%>
            <% log.tax_breakup.each do |tax| %>
              <% tax_amount = tax_amount.to_f +  tax[:amount].to_f %>
            <% end %>
          <% end %>  
          <% advance = 0.0 %>
          <% if log.advance_payment.present?  %>
            <% advance = log.advance_payment %>
          <% end %>
          <% total =  ( log.non_taxable_amount.to_f + tax_amount.to_f )  - advance %>
          <%= total.round(1) %>
        <% end %>
      </td>
      <td>
        <div class="btn-group" role="group">
          <a href="/invoice/inventories/department/optical/print?log_id=<%= log.id %>&page_size=A5" class="btn btn-xs btn-success" target="_blank"><i class="fa fa-print"></i>&nbsp; A5</a>
          <a href="/invoice/inventories/department/optical/print?log_id=<%= log.id %>&page_size=A4" class="btn btn-xs btn-success" target="_blank"><i class="fa fa-print"></i>&nbsp; A4 </a>
          <a href="/invoice/inventories/department/optical/checkout_bill?id=<%= log.id %>" data-remote="true" class="btn btn-xs btn-success">Complete Payment</a>
          <!--<button class="btn btn-xs btn-danger btn-return" data-model="<%= log.id %>">Return</button>-->
        </div>
      </td>
    </tr>
<%end%>