<% @invoice_inventory_department_opticals.each_with_index do |log,i| %>
    <tr class="text-center inventroy_items_log">
      <td><%= i + @count.to_i + 1 %>.</td>
      <td><%= log.bill_number %></td>
      <td><%if log.checkout_date%><%= log.checkout_date.strftime("%d %b %Y") %><%end%></td>
      <td><%= log.order_date.strftime("%d %b %Y") %></td>
      <td class="text-left"><%= log.recipient %></td>
      <td><%= log.recipient_mobile %></td>
      <td><%= log.items.length %></td>
      <td>

        <%if log.total.present?%>
          <%= log.total.round(2) %>
        <%else%>
          <% tax_amount = 0.0 %> 
          <%if log.tax_breakup.present?%>
            <% log.tax_breakup.each do |tax| %>
              <% tax_amount = tax_amount.to_f +  tax[:amount].to_f %>
            <% end %>
          <% end %>  
          <% total =  ( log.non_taxable_amount.to_f + tax_amount.to_f ) %>
          <%= total.round(2) %>
        <% end %>
      </td>
      <td><%= (log.mode_of_payment if log.mode_of_payment.present? )|| '-' %></td>
      <td><%= (log.comments if log.comments.present? )|| '-' %></td>
      <td>
        <div class="btn-group" role="group">
          <a href="/invoice/inventories/department/optical/print?log_id=<%= log.id %>&page_size=A5" class="btn btn-xs btn-success" target="_blank"><i class="fa fa-print"></i>&nbsp; A5</a>
          <a href="/invoice/inventories/department/optical/print?log_id=<%= log.id %>&page_size=A4" class="btn btn-xs btn-success" target="_blank"><i class="fa fa-print"></i>&nbsp; A4 </a>
          <%= link_to new_mail_record_tracker_path(:record_name => 'Optical Invoice', :record_id => log.id, :record_model => 'Invoice::Inventories::Department::OpticalInvoice',appointment_id: log.try(:appointment_id), speciality: log.try(:specalityname), :patient_id => log.patient_id), :class => "btn btn-xs btn-primary", :data => {:remote => true, 'disable-with' =>  "Please Wait..."} do %> <i class="fa fa-envelope"></i> Email<% end %>
        </div>
      </td>
    </tr>
<%end%>