<div class="modal-dialog modal-lg" style="width:80%;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 style="margin-top: 3px; margin-bottom: 3px; color: #333">Optical Receipt</h4>
    </div>
    <div class="modal-body optical-request-log" id="freeInvoice" style="overflow-y: scroll; height:500px; color:#636e7b; font-size: 12px; padding-top: 3px;">
      <% if @optical_log.tax_enabled %>
        <%= render partial: '/invoice/inventories/department/optical_invoices/checkout_bill_tax_enabled.html.erb' %>
      <% else %>
        <%= render partial: '/invoice/inventories/department/optical_invoices/checkout_bill_tax_disabled.html.erb' %>
      <% end %>
    </div>
    <div class="modal-footer">
      <div class="btn-group">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      <div class="btn-group">
        <!--<a href="/invoice/inventories/department/optical_invoices/<%=@optical_log.id%>/edit" data-remote="true" class="btn btn-primary"> <i class="fa fa-pencil-alt"></i>&nbsp;Edit </a>-->
      </div>
      <div class="btn-group">
        <!--<a href="/invoice/inventories/department/optical/print?log_id=<%= @optical_log.id %>&page_size=A4" class="btn btn-success" target="_blank"><i class="fa fa-print"></i>&nbsp;Advance Bill </a>-->
        <a href="/invoice/inventories/department/optical/payment_done?log_id=<%= @optical_log.id %>&page_size=A4" class="btn btn-success" id="payment_done" target="_blank"><i class="fa fa-print"></i>&nbsp;Payment Done </a>
        <!--<a href="/inventory/items/<%='@inventory_item.id'%>/" data-remote="true" class="btn btn-success"> <i class="fa fa-print"></i>&nbsp;Print </a>-->
      </div>
      <!-- <button type="button" id="btnAddItem" class="btn btn-primary">Save Item to Inventory</button> -->
      <!-- <button class="btn btn-success btn-sm" id="btnCheckout" data-modelId=""><i class="fa fa-check-circle-o cursor-pointer"></i>&nbsp;&nbsp;Checkout &amp; Print Invoice</button> -->
    </div>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
<script type="text/javascript">
  $("#payment_done").on("click",function(){
  
    jQuery("#inventory-modal").modal("hide")
    notice = new PNotify({ title: 'Success', text: 'Successfully updated the bill', type: 'success' }); notice.get().click(function(){ notice.remove() });
  //    console.log("yoho")
  
  //    $.ajax({
  //      type : 'get',
  //      url: '/invoice/inventories/department/optical/advance_patient_list',
  //      data: {remote: "true",},
  //      success: function(data) {
  //        console.log('item', data);
  //        notice = new PNotify({ title: 'Success', text: 'Successfully updated the bill', type: 'success' }); notice.get().click(function(){ notice.remove() });
  //
  ////      jQuery("#addPrescription").html("<%#= escape_javascript(render partial: 'prescriptionPreview', locals: {prescription: @prescription}) %>")
  //      },
  //      error: function(data) {
  //      }
  //    })
  
  //    jQuery("#inventory-modal").html("<%#= escape_javascript(render '/invoice/inventories/department/optical_invoices/advance_patient_list') %>")
  })
  
</script>
<style type="text/css">
  .font_size {
  font-size: 11px;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
  }
</style>