
  <div class="modal-dialog modal-lg" style="width:80%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 style="margin-top: 3px; margin-bottom: 3px; color: #333">Optical Free Receipt</h4>
      </div>
      
      <%= simple_form_for(@optical_log,:format => :js,:method => :patch, :remote => true, :url => invoice_inventories_department_optical_invoice_path, :required => true) do |f|%>
        <div class="modal-body optical-request-log" id="freeInvoice" style="overflow-y: scroll; height:500px; color:#636e7b; font-size: 12px; padding-top: 3px;">
          <div class="container-fluid" id="freeInvoiceEdit" style="">

            <button type="button" class="btn btn-xs btn-success" id="btnPrintSetting" style="padding: 0px 5px;margin-left: 86.5%; margin-top: 1%; margin-bottom: 1% " data-toggle="collapse" data-target="#changeSettings"><i class="glyphicon glyphicon-cog"></i>Print Out Settings</button>
            <br>
            <!-- <div class="container-fluid print_settings collapse" id="changeSettings">
                <form accept-charset="UTF-8" action="/inventory/upload_print_settings" data-remote="true" enctype="multipart/form-data" method="post">
               
                  <input type="hidden" class="department_id fi_input_style" name='department_id' id="department_id" value="284748001" />
                  <div class="row">
                    <div class="col-md-2 text-right" style="margin-bottom: 1%" name='shop_name'> Shop Name:</div>
                    <div class="col-md-2"> 
                       <input type="text" class="shop_name fi_input_style" name="shop_name" />
                    </div>
                    <div class="col-md-1 text-right" style="margin-bottom: 1%" name='dl_no'> DL NO:</div>
                    <div class="col-md-2"> 
                      <input type="text" class="dl_number fi_input_style" name='dl_number' id="dl_number"/>
                    </div>
                    <div class="col-md-1 text-right" style="margin-bottom: 1%" name='tin'> TIN:</div>
                    <div class="col-md-2"> 
                      <input type="text" class="tin fi_input_style" name='tin' id="tin"/>
                    </div>
                    <div class="col-md-2 text-right">
                      <input type="submit" id="inputPrintSettingd" style='margin-top: 6%' value="Upload" class="btn btn-xs btn-primary">
                    </div>
                  </div>
                  <div class="row" style="padding-bottom: 1%; border-bottom: 1px solid #eee">
                    <div class="col-md-2 text-right" style="margin-top: 2%">Upload Logo: </div>
                    <div class="col-md-2">
                      <span class="btn btn-file-logo" style="width: 68%; background: #eee; margin-bottom: 1%">
                        <img width="60" height="60" class="thumb" onclick="$(this).parent().find('.profile_pic').click();" src="/assets/photos/no_picture_available.png" alt="No picture available">
                        
                          <input style="visibility:hidden; height: 0" class="profile_pic" onchange="readURL(this)" type="file" name="print_out_logo" id="printOutLogo">
                      </span>
                    </div>
                    <div class="col-md-1 text-right" name='dl_no'> <p>Pharmacist:</p><p>Contact:</p></div>
                    <div class="col-md-2"> 
                      <p><input type="text" class="username fi_input_style" name='username' id="username" style="margin-top: 0%" /></p>
                      <p><input type="text" class="contact fi_input_style" name='contact' id="contact" style="margin-top: 0%" maxlength="10" /></p>
                    </div>
                    <div class="col-md-1 text-right"><p>Address:</p><p>Email:</p> </div>
                    <div class="col-md-4"> 
                    <p>
                      <input type="text" class="shop_address fi_input_style" name='shop_address' style="margin-top: 0%; width:90%" id="shop_address"/></p>
                      <p><input type="text" class="email fi_input_style" name='email' style="margin-top: 0%; width:90%" id="email"/></p>
                    </div>
                    
                  </div>
                </form>
            </div> -->

            <div class="row">
              <div class="col-sm-12">
                <h4>Patient Details</h4>
              </div>
            </div>

            <div class="row mt10 mb5">
              <div id="patient_id" style="display: none"><%= @patient.id %></div>
              <div class="col-lg-2 font_size text-right">
                Patient Name:
              </div>
              <div class="col-lg-2 font_size">
                <%= f.text_field :recipient, :class => "fi_input_style readonly", :placeholder => '', :style=>"width:92%", :readonly => true, :value => @optical_log.recipient %>
              </div>
              <div class="col-lg-2 font_size text-right">
                Patient ID:
              </div>
              <div class="col-lg-2 font_size">
                <%= f.text_field :patient_identifier, :class => "fi_input_style readonly", :placeholder => '', :style=>"width:92%", :readonly => true, :value => @patient_idn.try(:patient_org_id) %>
              </div>
              <div class="col-lg-2 font_size text-right">
                Patient Mobile
              </div>
              <div class="col-lg-2 font_size">
                <%= f.text_field :recipient_mobile, :class => "fi_input_style readonly",:placeholder => '', :style=>"width:92%", :readonly => true, :value => @optical_log.recipient_mobile %>
              </div>
            </div>
            <div class="row mb5">
              <div class="col-lg-2 font_size text-right">
                Doctor:
              </div>
              <div class="col-lg-2 font_size">
                <%= f.text_field :doctor_name, :class => "fi_input_style", :placeholder => '', :style=>"width:92%", :value => @optical_log.doctor_name %>
              </div>
              <div class="col-lg-2" style="text-align: right">
                MR No:
              </div>
              <div class="col-lg-2" style="text-align: left" id="fi_mr_no">
                <%= @patient_o_idn.try(:mr_no) || 'NA'%>
              </div>
              <div class="col-lg-2 font_size text-right">
                Date &amp; Time
              </div>
              <div class="col-lg-2 font_size">
                <strong><%= Date.current().strftime('%d/%m/%Y') %></strong>
              </div>

            </div>

            <div class="row mb5">
              <div class="col-lg-2 font_size text-right">
                Additional Note:
              </div>
              <div class="col-lg-9">
                <%= f.text_field :note, :class => "fi_input_style", :style=> "width: 100%", :value => @optical_log.note%>
              </div>
            </div><!-- row -->
            
            <div class="row mt10 mb5" style="border-bottom:1px solid #eee;border-top:1px solid #eee;">

              <div class="col-sm-6">
                <h4>Items</h4>
              </div>
              <div class="col-sm-6 text-right">
                <div class="exp" style="margin-top: 3px; padding: 10px;">
                  <button type="button" class="btn btn-xs btn-primary" id="btnAddItemtoInvoice" style="padding: 0px 5px;"><i class="fa fa-plus-circle"></i> Add Item</button>
                  
                </div>
              </div>


              <div class="col-sm-6">
                <div class="col-sm-4 font_size">
                  <b>Code</b>
                </div>
                <div class="col-sm-3 font_size">
                  <b>Description</b>
                </div>
                
                <div class="col-sm-3 font_size">
                  <b>Brand</b>
                </div>

                <div class="col-sm-2 font_size">
                  <b>Color</b>
                </div>
              </div>
              <div class="col-sm-6">
                <!--<div class="col-sm-2 font_size">-->
                  <!--<b>Batch</b>-->
                <!--</div>-->
                <div class="col-sm-2 font_size">
                  <b>QTY</b>
                </div>
                <div class="col-sm-2 font_size">
                  <b>Exp.Date</b>
                </div>
                <div class="col-sm-2 font_size text-center" style="padding-right: 0px;padding-left: 0px">
                  <b>U.Price</b>
                </div>
                <div class="col-sm-2 font_size text-center">
                  <b>Tax(%)</b>
                </div>
                <div class="col-sm-2 font_size text-center">
                  <b>Total(&#8377;)</b>
                </div>
                <div class="col-sm-2 font_size text-center">
                  <b>Action</b>
                </div>
              </div>
            </div><!--row-->
            <%= f.hidden_field :id, :value => @invoice_inventory_department_optical.id%>


            <script type="text/javascript">
              $('#btnAddItemtoInvoice').on('click', function(){
                $('.add-optical-item').append("<%= escape_javascript(render partial: 'item_fields',locals: {f: f}) %>")
                new_id = new Date().getTime();
                $('.sr_no').last().text(new_id)
                $("input[name*='new_items']").each(function(){
                  new_attr = $(this).attr('name').replace('new_items',new_id)
                  new_selector_id = $(this).attr('id').replace('new_items',new_id)
                  $(this).removeAttr('name').attr('name',new_attr)
                  $(this).removeAttr('id').attr('id',new_selector_id)
                })
                datepicker_options = {
                  changeMonth: true,
                  changeYear: true,
                  dateFormat: "yy-mm-dd",
                  minDate: -0
                  //showButtonPanel: true,
                };

                $('.exp_datepicker').datepicker(datepicker_options);
              })

              $('.paymenttype').on('click', function(){
                // id = $(this).attr('id')
                total_wt = $('#total_wt').val()
                console.log(total_wt, 'QQQ')
                if (this.id == 'fullpaymentform'){
                  console.log(this.id);
                  $('.paymentform').html("<%= escape_javascript(render partial: 'fullpaymentform.html.erb',locals: {f: f}) %>")
                } else{
                  console.log(this.id);
                  $('.paymentform').html("<%= escape_javascript(render partial: 'advancepaymentform.html.erb',locals: {f: f}) %>")
                }
                $('#total_wt').val(total_wt)
              })
            </script>

            <script type="text/javascript">
//              $('#btnAddItemtoInvoice').on('click', function(){
//                $('.add-optical-item').append("<%= escape_javascript(render partial: 'edit_item_fields',locals: {f: f, item: @invoice_inventory_department_optical.items.build}) %>")
//                  new_id = new Date().getTime();
//                  $('.sr_no').last().text(new_id)
//                  $("input[name*='new_items']").each(function(){
//                    new_attr = $(this).attr('name').replace('new_items',new_id)
//                    $(this).removeAttr('name').attr('name',new_attr)
//                  })
//              })
//              $('.delete_empty_item').on('click', function(){
//                if ($('.request_log_item').length > 1){
//                  $(this).closest('.request_log_item').remove()
//                }
//
//              })
            </script>

            <div id="fi_items">
              <div class="add-optical-item">
              <% @optical_log_items.each_with_index do |optical_log_item,index|%>
              <%#= form_for Inventory::Item::Consumable.new, as: :inventory_item,:url => inventory_items_path,:format => :js ,:method => :post,:remote=>true, :validate => true do |f| %>
                <%= f.fields_for :items, optical_log_item, :child_index => index do |builder| %>
                <div class="row mt10 mb5 request_log_item">
                  
                    <div class="col-sm-6">
                      <div class="col-sm-4 font_size">
                        
                          <%= builder.text_field :item_code, :class => "search_optical_item_code modalRequest_input_style", :placeholder=>"Item Code", :style=>"width:100%;text-align:left", :value => optical_log_item.item_code %>
                          <%= builder.hidden_field :inventory_item_id, :class => "inventory_item_id", :value => optical_log_item.inventory_item_id%>
                          <%= builder.hidden_field :id, :class => "item_id"%>                   
                      </div>
                      <div class="col-sm-3 font_size">
                        <%= builder.text_field :description, :class => "search_optical_description modalRequest_input_style", :placeholder=>"Description", :style=>"width:100%;text-align:left", :value =>optical_log_item.description %>
                      </div>
                      <div class='col-sm-3 font-size'>
                        <%= builder.text_field :brand, :class => "item_brand modalRequest_input_style", :placeholder=>"Brand", :style=>"width:100%;text-align:left", :value =>optical_log_item.brand%>
                      </div>
                      <div class="col-sm-2 font_size">
                        <%= builder.text_field :color, :class => "item_color modalRequest_input_style", :placeholder=>"Description", :style=>"width:100%;text-align:left"%>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <!--<div class="col-sm-2 font_size">-->
                        <!--<%= builder.text_field :batch_no, :class => "item_batch modalRequest_input_style", :placeholder=>"Batch", :style=>"width:100%;text-align:left", :value => optical_log_item.batch_no%>-->
                      <!--</div>-->
                      <div class="col-sm-2 font_size">
                        <%= builder.text_field :quantity, :class => "item_quantity modalRequest_input_style", :placeholder=>"Qty", :style=>"width:100%;text-align:left", :value => optical_log_item.quantity%>
                      </div>
                      <div class="col-sm-2 font_size">
                        <%= builder.text_field :expiry, :class => "item_expiry exp_datepicker modalRequest_input_style", :placeholder=>"Expiry", :style=>"width:100%;text-align:left", :value => optical_log_item.expiry%>
                      </div>
                      <div class="col-sm-2 font_size">
                        <%= builder.text_field :price, :class => "item_price modalRequest_input_style", :placeholder=>"Unit Price", :style=>"width:100%;text-align:left", :value => optical_log_item.mrp%>
                      </div>
                      <div class="col-sm-2 font_size" style="padding-left: 0px;padding-right: 0px">

                        <%= builder.text_field :vat, :class => "item_tax modalRequest_input_style", :placeholder=>"Tax%", :style=>"width:100%;text-align:left" , :value => optical_log_item.vat%>
                        
                      </div>
                      <div class="col-sm-2 font-size">
                      <input type="text" disabled="disabled" class="item_total_price modalRequest_input_style" placeholder="Total" style="width:90%;text-align:left" value="<%= optical_log_item.mrp.to_i * optical_log_item.quantity.to_i %>" />
                      </div>
                      <div class="col-sm-2 font-size text-center">
                        <button type="button" class="btn btn-link hg-tooltip delete_empty_item" tabindex="-1" style="padding:0px;" title="Remove From List"><i class="fa fa-trash-alt" style="color:rgba(255, 0, 0, 0.78)"></i></button>
                      </div>
                    </div>
                  
                </div>
                <% end %>
              <% end %>
              </div>
            </div>

            <div class="row mb5" style="border-bottom:1px solid #eee;">
            </div>
            <div class="row mb5">
              <div class="col-sm-7 font-size">
              <b>Note :-</b>Search by item description or item code
              </div>



              <div class="col-sm-10">

                <div class="rdio rdio-primary col-md-3">
                  <%= f.radio_button "advance_taken",@optical_log.advance_taken == false, {:class => 'paymenttype', :id => "advancepaymentform"} %>
                  <label for="advancepaymentform">Advance Payment</label>
                </div>

                <div class="rdio rdio-primary col-md-3">
                  <%= f.radio_button "advance_taken",@optical_log.advance_taken == true, {:class => 'paymenttype', :id => "fullpaymentform"} %>
                  <label for="fullpaymentform">Full Payment</label>
                </div>

              </div>
              <div class="row mb5 paymentform">


                <%= render partial: 'fullpaymentform.html.erb',locals: {f: f} %>

              </div><!--row-->

            </div><!--row-->
          </div>   
        </div>
        
      
      <div class="modal-footer">
        <div class="btn-group">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        <div class="btn-group">
        <button type="button" id="btnGoBack" class="btn btn-warning" style="display: none;">Edit</button>
        </div>
        <div class="btn-group">
        
        <%= f.submit "Update",{:class => 'btn btn-warning'}%>
        <button id="btnProceedtoCheckoutA4" style="display: none" data-modelId="" data-attr="">Proceed to Checkout</button>
        </div>
        <!-- <button type="button" id="btnAddItem" class="btn btn-primary">Save Item to Inventory</button> -->
          <!-- <button class="btn btn-success btn-sm" id="btnCheckout" data-modelId=""><i class="fa fa-check-circle-o cursor-pointer"></i>&nbsp;&nbsp;Checkout &amp; Print Invoice</button> -->
      </div>
    <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->


<script type="text/javascript">

  
  datepicker_options = {
    changeMonth: true,
    changeYear: true,
    dateFormat: "yy-mm-dd",
    minDate: -0
    //showButtonPanel: true,
  };

  $('.exp_datepicker').datepicker(datepicker_options);
  optical_shop_name = $("#inventory_shop_name").val()
  $(".shop_name").val(optical_shop_name)
  optical_shop_address = $("#inventory_shop_address").val()
  $(".shop_address").val(optical_shop_address)
  optical_username = $("#inventory_username").val()
  $(".username").val(optical_username)
  $('.dl_number').val($('#inventory_dl_number').val())
  $('.gst').val($('#inventory_gst').val())
  $('.email').val($('#inventory_email').val())
  $('.contact').val($('#inventory_contact').val())
  logo = $('#inventory_logo').val()
  $('.thumb').attr("src", logo)

  function readURL(input) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $(input).parent().find(".thumb").attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
  }

  // $('.price_including_tax').on('keyup', function(){
  //   tax = $(this).val() * 0.945
  //   console.log('kk',tax)
  //   $(this).closest('.item_tax_price').val(tax)
  // })

//  $(".search_optical_item_code").autocomplete({
//      minLength: 2,
//      source: function(request, response) {
//          id = this.element.attr('id');
//          $.ajax({
//              type : 'get',
//              url: '/invoice/inventories/department/optical/search_optical_item',
//              //data: {searchpatient: params, remote: "true" },
//              data: {
//                  q: $('#'+id).val()
//              },
//              success: function(data) {
//                  console.log('item', data);
//                  items = [];
//                  x = [];
//                  for (i = 0, len = data.length; i < len; i++) {
//                    items.push(data[i].item_code);
//                    // var x;
//                    x[data[i].item_code] = data[i];
//                  }
//                  response(items)
//
//              },
//              error: function(data) {
//              }
//          })
//      },
//      select: function( event, ui ) {
//        console.log('abc', x[ui.item.value]['batch_no'] )
//        $(this).siblings('.inventory_item_id').val(x[ui.item.value]['id'])
//        $(this).parent().parent().find('.search_optical_description').val(x[ui.item.value]['barcode'])
//        $(this).parent().parent().find('.item_brand').val(x[ui.item.value]['Brand'])
//        $(this).parent().parent().parent().find('.item_batch').val(x[ui.item.value]['batch_no'])
//        $(this).parent().parent().parent().find('.item_expiry').val(x[ui.item.value]['expiry'])
//        $(this).parent().parent().parent().find('.item_price').val(x[ui.item.value]['mrp'])
//        $(this).parent().parent().parent().find('.item_color').val((x[ui.item.value]['color']))
//        //   $("#"+idname+'_'+x[ui.item.value]).children().click()
//
//      },
//  })
//
//  $('.item_quantity,.item_price,.item_tax').on('keyup',function(){
//    quantity = $(this).parent().parent().find('.item_quantity').val()
//    price = $(this).parent().parent().find('.item_price').val()
//    tax_percent = $(this).parent().parent().find('.item_tax').val()
//    if ( price!= "" && quantity!= ""&& tax_percent!= ""){
//      tax_amount = (price*tax_percent)/100
//      console.log(tax_amount, quantity, tax_percent, price)
//      total = quantity * (parseFloat(price) + parseFloat(tax_amount))
//      $(this).parent().parent().find('.item_total_price').val(total.toFixed(2) || 0.00)
//      if (price == 0){
//        $(this).parent().parent().find('.item_tax_price').val(0.00)
//      }
//    }
//    each_item_totals = $('.item_total_price')
//    each_item_tax = $('.item_tax_price')
//    total_wt = 0
//    sub_total_tax = 0
//    for(var i = 0; i < each_item_totals.length; i++){
//        total_wt += parseFloat($(each_item_totals[i]).val())
//        tax = ($(each_item_totals[i]).parent().parent().find('.item_tax').val() * $(each_item_totals[i]).val())/100
//        sub_total_tax += parseFloat(tax)
//    }
//    grand_total_inc_discount = total_wt - $('#invoice_discount').val()
//    // console.log(grand_total_inc_discount, 'ZZZZZZ')
//    total_wt = total_wt || 0.00
//    sub_total_tax = sub_total_tax || 0.00
//    grand_total_inc_discount = grand_total_inc_discount ||0.00
//    $('#total_wt').text(total_wt.toFixed(2))
//    $('#sub_total_tax').html(sub_total_tax.toFixed(2))
//    $('#grand_total_inc_discount').html(grand_total_inc_discount.toFixed(2))
//  })
//
//
//
//  $('#invoice_discount').on('keyup', function(){
//    total_wt = $('#total_wt').text().trim()
//    discount = $(this).val()
//    grand_total_inc_discount =  total_wt - discount
//    $('#grand_total_inc_discount').val(grand_total_inc_discount.toFixed(2))
//  })
</script>

<style type="text/css">
.font_size {
  font-size: 11px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
</style>