<div class="container-fluid" id="freeInvoiceEdit" style="">
  <div class="row">
    <div class="col-sm-12">
      <h4>Patient Details</h4>
    </div>
  </div>
  <div class="row mt10 mb5">
    <div id="patient_id" style="display: none"><%= @patient.id %></div>
    <div class="col-lg-2 font_size text-right">
      Patient Name:
    </div>
    <div class="col-lg-2 font_size">
      <%= f.text_field :recipient, :class => "fi_input_style readonly", :placeholder => '', :style=>"width:92%", :readonly => true, :value => @patient.try(:fullname) %>
    </div>
    <div class="col-lg-2 font_size text-right">
      Patient ID:
    </div>
    <div class="col-lg-2 font_size">
      <%= f.text_field :patient_identifier, :class => "fi_input_style readonly", :placeholder => '', :style=>"width:92%", :readonly => true, :value => @patient_idn.try(:patient_org_id) %>
    </div>
    <div class="col-lg-2 font_size text-right">
      Patient Mobile
    </div>
    <div class="col-lg-2 font_size">
      <%= f.text_field :recipient_mobile, :class => "fi_input_style readonly",:placeholder => '', :style=>"width:92%", :readonly => true, :value => @patient.try(:mobilenumber) %>
    </div>
  </div>
  <div class="row mb5">
    <div class="col-lg-2 font_size text-right">
      Doctor:
    </div>
    <div class="col-lg-2 font_size">
      <%= f.text_field :doctor_name, :class => "fi_input_style", :placeholder => '', :style=>"width:92%" %>
    </div>
    <div class="col-lg-2" style="text-align: right">
      MR No:
    </div>
    <div class="col-lg-2" style="text-align: left" id="fi_mr_no">
      <%= @patient_o_idn.try(:mr_no) || 'NA'%>
    </div>
    <div class="col-lg-2 font_size text-right">
      Date &amp; Time
    </div>
    <div class="col-lg-2 font_size">
      <strong><%= Date.current().strftime('%d/%m/%Y') %></strong>
    </div>
  </div>
  <div class="row mb5">
    <div class="col-lg-2 font_size text-right">
      Additional Note:
    </div>
    <div class="col-lg-9">
      <%= f.text_field :note, :class => "fi_input_style", :style=> "width: 100%"%>
    </div>
  </div>
  <%= f.hidden_field :patient_id, :value => @patient.id%>
  <div class="row collapse" style="border-bottom: 1px solid #ccc;padding: 5px 0;margin: 10px 0;" id="addPrescription">
    <div class="col-xs-6" style="padding-left: 10px;padding-right: 2px;">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th width="20%" style="padding-top:0px;padding-bottom:0px;">
              <div class="text-center">R/OD</div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="padding:0;">
              <div class="row">
                <div class="col-xs-12">
                  <table class="mb3 table-bordered" style="margin-left: 0%; width: 100%">
                    <thead>
                      <tr>
                        <th width="40%" style="padding: 5px;text-align: center;"></th>
                        <th width="15%" style="padding: 5px;text-align: center;">Sph</th>
                        <th width="15%" style="padding: 5px;text-align: center;">Cyl</th>
                        <th width="15%" style="padding: 5px;text-align: center;">Axis</th>
                        <th width="15%" style="padding: 5px;text-align: center;">Vision</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="padding: 5px;text-align: center;">
                          Distant
                        </td>
                        <td style="padding: 5px;text-align: center;">
                          <input type="text" class="fi_input_style" id="r_d_sph" style="width: 50%" />
                        </td>
                        <td style="padding: 5px;text-align: center;">
                          <input type="text" class="fi_input_style" id="r_d_cyl" style="width: 50%" />
                        </td>
                        <td style="padding: 5px;text-align: center;">
                          <input type="text" class="fi_input_style" id="r_d_axis" style="width: 50%" />
                        </td>
                        <td style="padding: 5px;text-align: center;">
                          <input type="text" class="fi_input_style" id="r_d_vision" style="width: 50%" />
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 5px;text-align: center;">
                          Near
                        </td>
                        <td style="padding: 5px;text-align: center;">
                          <input type="text" class="fi_input_style" id="r_n_sph" style="width: 50%" />
                        </td>
                        <td style="padding: 5px;text-align: center;">
                          <input type="text" class="fi_input_style" id="r_n_cyl" style="width: 50%" />
                        </td>
                        <td style="padding: 5px;text-align: center;">
                          <input type="text" class="fi_input_style" id="r_n_axis" style="width: 50%" />
                        </td>
                        <td style="padding: 5px;text-align: center;">
                          <input type="text" class="fi_input_style" id="r_n_vision" style="width: 50%" />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs-6" style="padding-left: 2px;padding-right: 10px;">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th width="20%" style="padding-top:0px;padding-bottom:0px;">
              <div class="text-center">L/OS</div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="padding:0;">
              <div class="row">
                <div class="col-xs-12">
                  <table class="mb3 table-bordered" style="margin-left: 0%; width: 100%">
                    <thead>
                      <tr>
                        <th width="40%" style="padding: 5px;text-align: center;"></th>
                        <th width="15%" style="padding: 5px;text-align: center;">Sph</th>
                        <th width="15%" style="padding: 5px;text-align: center;">Cyl</th>
                        <th width="15%" style="padding: 5px;text-align: center;">Axis</th>
                        <th width="15%" style="padding: 5px;text-align: center;">Vision</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="padding: 5px;text-align: center;">
                          Distant
                        </td>
                        <td style="padding: 5px;text-align: center;">
                          <input type="text" class="fi_input_style" id="l_d_sph" style="width: 50%" />
                        </td>
                        <td style="padding: 5px;text-align: center;">
                          <input type="text" class="fi_input_style" id="l_d_cyl" style="width: 50%" />
                        </td>
                        <td style="padding: 5px;text-align: center;">
                          <input type="text" class="fi_input_style" id="l_d_axis" style="width: 50%" />
                        </td>
                        <td style="padding: 5px;text-align: center;">
                          <input type="text" class="fi_input_style" id="l_d_vision" style="width: 50%" />
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 5px;text-align: center;">
                          Near
                        </td>
                        <td style="padding: 5px;text-align: center;">
                          <input type="text" class="fi_input_style" id="l_n_sph" style="width: 50%" />
                        </td>
                        <td style="padding: 5px;text-align: center;">
                          <input type="text" class="fi_input_style" id="l_n_cyl" style="width: 50%" />
                        </td>
                        <td style="padding: 5px;text-align: center;">
                          <input type="text" class="fi_input_style" id="l_n_axis" style="width: 50%" />
                        </td>
                        <td style="padding: 5px;text-align: center;">
                          <input type="text" class="fi_input_style" id="l_n_vision" style="width: 50%" />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row pull-right">
        <button type="button" class="btn btn-xs btn-success" id="savePrescription">Save Prescription</button>
      </div>
    </div>
  </div>
  <div class="row mt10 mb5" style="border-bottom:1px solid #eee;border-top:1px solid #eee;">
    <div class="col-sm-6">
      <h4>Items</h4>
    </div>
    <div class="col-sm-6 text-right">
      <div class="exp" style="margin-top: 3px; padding: 10px;">
        <button type="button" class="btn btn-xs btn-primary" id="btnAddItemtoInvoice" style="padding: 0px 5px;"><i class="fa fa-plus-circle"></i> Add Item</button>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-sm-4 font_size">
        <b>Code</b>
      </div>
      <div class="col-sm-3 font_size">
        <b>Description</b>
      </div>
      <div class="col-sm-3 font_size">
        <b>Brand</b>
      </div>
      <div class="col-sm-2 font_size">
        <b>Color</b>
      </div>
    </div>
    <div class="col-sm-6">
      <!--<div class="col-sm-2 font_size">-->
      <!--<b>Batch</b>-->
      <!--</div>-->
      <div class="col-sm-2 font_size">
        <b>QTY</b>
      </div>
      <div class="col-sm-2 font_size">
        <b>Exp.Date</b>
      </div>
      <div class="col-sm-2 font_size" style="padding-right: 0px;padding-left: 0px">
        <b>U.Price</b>
      </div>
      <div class="col-sm-2 font_size">
        <b>Tax(%)</b>
      </div>
      <div class="col-sm-2 font_size">
        <b>Total(&#8377;)</b>
      </div>
      <div class="col-sm-2 font_size">
        <b>Action</b>
      </div>
    </div>
  </div>
  <!--row-->
  <%= f.hidden_field :id, :value => @invoice_inventory_department_optical.id%>
  <div id="fi_items">
    <div class="add-optical-item">
      <% if @inventory_item_cart.count>0%>
      <% total = 0%>
      <% @inventory_item_cart.each_with_index do |item, index| %>
      <%= f.fields_for :items, :child_index => index do |builder| %>
      <div class="row mt10 mb5 request_log_item">
        <div class="col-sm-6">
          <div class="col-sm-4 font_size">
            <%= builder.text_field :item_code, :class => "search_optical_item_code modalRequest_input_style", :placeholder=>"Item Code", :style=>"width:100%;text-align:left" , :value =>item.try(:item_code)%>
            <%= builder.hidden_field :inventory_item_id, :class => "inventory_item_id", :value => item.try(:id)%>
          </div>
          <div class="col-sm-3 font_size">
            <%= builder.text_field :description, :class => "search_optical_description modalRequest_input_style", :placeholder=>"Description", :style=>"width:100%;text-align:left", :value =>item.description%>
          </div>
          <div class='col-sm-3 font-size'>
            <%= builder.text_field :brand, :class => "item_brand modalRequest_input_style", :placeholder=>"Brand", :style=>"width:100%;text-align:left", :value =>item.try(:brand)%>
          </div>
          <div class="col-sm-2 font_size">
            <%= builder.text_field :color, :class => "item_color modalRequest_input_style", :placeholder=>"Color", :style=>"width:100%;text-align:left" , :value =>item.try(:color)%>
          </div>
        </div>
        <div class="col-sm-6">
          <!--<div class="col-sm-2 font_size">-->
          <!--<%#= builder.text_field :batch_no, :class => "item_batch modalRequest_input_style", :placeholder=>"Batch", :style=>"width:100%;text-align:left" , :value => item ? item.lots.where('stock' => {'$gte' => 1},is_deleted: false).first.try(:batch_no) : ''%>-->
          <!--</div>-->
          <div class="col-sm-2 font_size">
            <%= builder.text_field :quantity, :class => "item_quantity modalRequest_input_style", :placeholder=>"Qty", :style=>"width:100%;text-align:left" , :value => 1 %>
            <%= builder.hidden_field :max_quantity, :class => "item_max_quantity", :value => item.try(:stock)%>
          </div>
          <div class="col-sm-2 font_size">
            <%= builder.text_field :expiry, :class => "item_expiry exp_datepicker modalRequest_input_style", :placeholder=>"Expiry", :style=>"width:100%;text-align:left", :value => item ? item.lots.where('stock' => {'$gte' => 1},is_deleted: false).first.try(:expiry) : ''%>
          </div>
          <div class="col-sm-2 font_size">
            <%= builder.text_field :list_price, :class => "item_price modalRequest_input_style", :placeholder=>"Unit Price", :style=>"width:100%;text-align:left", :value => item ? item.lots.where('stock' => {'$gte' => 1},is_deleted: false).first.try(:list_price) : ''%>
          </div>
          <div class="col-sm-2 font_size" style="padding-left: 0px;padding-right: 0px">
            <%= builder.text_field :vat, :class => "item_tax modalRequest_input_style", :placeholder=>"Tax", :style=>"width:100%;text-align:left;color:rgba(255, 0, 0, 0.78)", :value => '5.5'%>
          </div>
          <div class="col-sm-2 font-size">
            <input type="text" disabled="disabled" class="item_total_price modalRequest_input_style" placeholder="Total" style="width:90%;text-align:left" value="<%= (item.lots.where('stock' => {'$gte' => 1},is_deleted: false).first.try(:list_price).to_f + (item.lots.first.try(:list_price).to_f * 0.055 )).round(2)%>"/>
          </div>
          <div class="col-sm-2 font-size text-center">
            <button type="button" class="btn btn-link hg-tooltip delete_empty_item" tabindex="-1" style="padding:0px;" title="Remove From List"><i class="fa fa-trash-alt" style="color:rgba(255, 0, 0, 0.78)"></i></button>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
      <script type="text/javascript">
        var each_item_totals = 0, each_item_tax = 0, net_amount ;
        $('.item_total_price').each(function(){
          each_item_totals += parseFloat($(this).val());
          each_item_tax += (parseFloat($(this).parents(".request_log_item").find('.item_tax').val()) * parseFloat($(this).val()))/100
        });
        $("#total_wt").text(each_item_totals.toFixed(2))
        //    $("#sub_total_tax").text(each_item_tax.toFixed(2))
        net_amount = parseFloat(each_item_totals - $('#invoice_discount').val())
        
        $('#grand_total_inc_discount').val(net_amount.toFixed(2))
      </script>
      <% else %>
      <%= f.fields_for :items, :child_index => Time.current.to_i do |builder| %>
      <div class="row mt10 mb5 request_log_item">
        <div class="col-sm-6">
          <div class="col-sm-4 font_size">
            <%= builder.text_field :item_code, :class => "search_optical_item_code modalRequest_input_style", :placeholder=>"Item Code", :style=>"width:100%;text-align:left"%>
            <%= builder.hidden_field :inventory_item_id, :class => "inventory_item_id"%>                       
          </div>
          <div class="col-sm-3 font_size">
            <%= builder.text_field :description, :class => "search_optical_description modalRequest_input_style", :placeholder=>"Description", :style=>"width:100%;text-align:left"%>
          </div>
          <div class='col-sm-3 font-size'>
            <%= builder.text_field :brand, :class => "item_brand modalRequest_input_style", :placeholder=>"Brand", :style=>"width:100%;text-align:left"%>
          </div>
          <div class="col-sm-2 font_size">
            <%= builder.text_field :color, :class => "item_color modalRequest_input_style", :placeholder=>"Color", :style=>"width:100%;text-align:left"%>
          </div>
        </div>
        <div class="col-sm-6">
          <!--<div class="col-sm-2 font_size">-->
          <!--<%= builder.text_field :batch_no, :class => "item_batch modalRequest_input_style", :placeholder=>"Batch", :style=>"width:100%;text-align:left"%>-->
          <!--</div>-->
          <div class="col-sm-2 font_size">
            <%= builder.text_field :quantity, :class => "item_quantity modalRequest_input_style", :placeholder=>"Qty", :style=>"width:100%;text-align:left"%>
          </div>
          <div class="col-sm-2 font_size">
            <%= builder.text_field :expiry, :class => "item_expiry exp_datepicker modalRequest_input_style", :placeholder=>"Expiry", :style=>"width:100%;text-align:left"%>
          </div>
          <div class="col-sm-2 font_size">
            <%= builder.text_field :list_price, :class => "item_price modalRequest_input_style", :placeholder=>"Unit Price", :style=>"width:100%;text-align:left"%>
          </div>
          <div class="col-sm-2 font_size" style="padding-left: 0px;padding-right: 0px">
            <%= builder.text_field :vat, :class => "item_tax modalRequest_input_style", :placeholder=>"Tax%", :style=>"width:100%;text-align:left"%>
          </div>
          <div class="col-sm-2 font-size">
            <input type="text" disabled="disabled" class="item_total_price modalRequest_input_style" placeholder="Total" style="width:90%;text-align:left"  />
          </div>
          <div class="col-sm-2 font-size text-center">
            <button type="button" class="btn btn-link hg-tooltip delete_empty_item" tabindex="-1" style="padding:0px;" title="Remove From List"><i class="fa fa-trash-alt" style="color:rgba(255, 0, 0, 0.78)"></i></button>
          </div>
        </div>
      </div>
      <% end %>
      <%end%>
    </div>
  </div>
  <script type="text/javascript">
    $('#btnAddItemtoInvoice').on('click', function(){
      $('.add-optical-item').append("<%= escape_javascript(render partial: 'item_fields',locals: {f: f}) %>")
        new_id = new Date().getTime();
        $('.sr_no').last().text(new_id)
        $("input[name*='new_items']").each(function(){
          new_attr = $(this).attr('name').replace('new_items',new_id)
          new_selector_id = $(this).attr('id').replace('new_items',new_id)
          $(this).removeAttr('name').attr('name',new_attr)
          $(this).removeAttr('id').attr('id',new_selector_id)
        })
        datepicker_options = {
          changeMonth: true,
          changeYear: true,
          dateFormat: "yy-mm-dd",
          minDate: -0
          //showButtonPanel: true,
        };
    
        $('.exp_datepicker').datepicker(datepicker_options);
    })
    
    $('.paymenttype').on('click', function(){
        // id = $(this).attr('id')
        total_wt = $('#total_wt').val()
        if (this.id == 'fullpaymentform'){
         $('.paymentform').html("<%= escape_javascript(render partial: 'fullpaymentform.html.erb',locals: {f: f}) %>")
        } else{
          $('.paymentform').html("<%= escape_javascript(render partial: 'advancepaymentform.html.erb',locals: {f: f}) %>")
        }
        $('#total_wt').val(total_wt)
      })
  </script>
  <div class="row mb5" style="border-bottom:1px solid #eee;">
    <b>Note :-</b>Search by item description or item code
  </div>
  <div class="col-sm-10">
    <div class="rdio rdio-primary col-md-3">
      <%= f.radio_button "advance_taken", true, {:class => 'paymenttype', :id => "advancepaymentform"} %>
      <label for="advancepaymentform">Advance Payment</label>
    </div>
    <div class="rdio rdio-primary col-md-3">
      <%= f.radio_button "advance_taken", false, {:class => 'paymenttype', :id => "fullpaymentform"} %>
      <label for="fullpaymentform">Full Payment</label>
    </div>
  </div>
  <div class="row mb5">
    <div id='tax-cage' class="col-sm-5 col-sm-offset-7">
    </div>
  </div>
  <div class="row font-size" style="padding: 1px;">
    <div class="col-md-2">
      <b>Mode of Payment :</b>
    </div>
    <div class="col-md-2">
      <%= select_tag "invoice_inventories_department_optical_invoice[mode_of_payment]", options_for_select([['Cash','Cash'],['Card','Card'],['Cash & Card','Cash & Card'],['Cheque','Cheque'],['Online Transfer','Online Transfer'],['Others','Others']]), include_blank: "", :class => 'mop_field form-control' %>
      <span class="mop_select_payment" style="display:none;">Please select</span>
    </div>
    <div class="col-md-8"></div>
  </div>  
  <div class="row mb5">
    <div class="col-md-2">
      <b>Comments :</b>
    </div>
    <div class="col-md-3">
      <%= f.text_area :comments, {class: "form-control", placeholder: "Comments"} %>
    </div>
  </div>
  <div class="row mb5 paymentform">
    <%= render partial: 'fullpaymentform.html.erb',locals: {f: f} %>
  </div>
  <!--row-->
</div>

<script>
    $(".optical_checkout").on('click', function(e){
      if ($("#invoice_inventories_department_optical_invoice_mode_of_payment").find("option:selected").text() == ""){
        $(".mop_select_payment").css("display","block");
        $(".mop_select_payment").css("color", "red")
        $("#invoice_inventories_department_optical_invoice_mode_of_payment").css("border", "1px solid red")
        e.preventDefault();
      }
    }) 

    $("#invoice_inventories_department_optical_invoice_mode_of_payment").on('change', function(){
      $(".mop_select_payment").css("display","none");
      $("#invoice_inventories_department_optical_invoice_mode_of_payment").css("border-color", "#a79e9ed1")
    })
  
</script>