<div class="col-xs-6" style="padding-left: 10px;padding-right: 2px;">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th width="20%" style="padding-top:0px;padding-bottom:0px;"><div class="text-center">R/OD</div></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td style="padding:0;">
        <div class="row">
          <div class="col-xs-12">
            <table class="mb3 table-bordered" style="margin-left: 0%; width: 100%">
              <thead>
              <tr>
                <th width="40%" style="padding: 5px;text-align: center;"></th>
                <th width="15%" style="padding: 5px;text-align: center;">Sph</th>
                <th width="15%" style="padding: 5px;text-align: center;">Cyl</th>
                <th width="15%" style="padding: 5px;text-align: center;">Axis</th>
                <th width="15%" style="padding: 5px;text-align: center;">Vision</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td style="padding: 5px;text-align: center;">
                  Distant
                </td>
                <td style="padding: 5px;text-align: center;">
                  <div id="r_d_sph"><%= prescription.r_glassesprescriptions_distant_sph %></div>
                </td>
                <td style="padding: 5px;text-align: center;">
                  <div id="r_d_cyl"><%= prescription.r_glassesprescriptions_distant_cyl %></div>
                </td>
                <td style="padding: 5px;text-align: center;">
                  <div id="r_d_axis"><%= prescription.r_glassesprescriptions_distant_axis %></div>
                </td>
                <td style="padding: 5px;text-align: center;">
                  <div id="r_d_vision"><%= prescription.r_glassesprescriptions_distant_vision %></div>
                </td>
              </tr>
              <tr>
                <td style="padding: 5px;text-align: center;">
                  Near
                </td>
                <td style="padding: 5px;text-align: center;">
                  <div id="r_n_sph"><%= prescription.r_glassesprescriptions_near_sph %></div>
                </td>
                <td style="padding: 5px;text-align: center;">
                  <div id="r_n_cyl"><%= prescription.r_glassesprescriptions_near_cyl %></div>
                </td>
                <td style="padding: 5px;text-align: center;">
                  <div id="r_n_axis"><%= prescription.r_glassesprescriptions_near_axis %></div>
                </td>

                <td style="padding: 5px;text-align: center;">
                  <div id="r_n_vision"><%= prescription.r_glassesprescriptions_near_vision %></div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="col-xs-6" style="padding-left: 2px;padding-right: 10px;">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th width="20%" style="padding-top:0px;padding-bottom:0px;"><div class="text-center">L/OS</div></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td style="padding:0;">
        <div class="row">
          <div class="col-xs-12">
            <table class="mb3 table-bordered" style="margin-left: 0%; width: 100%">
              <thead>
              <tr>
                <th width="40%" style="padding: 5px;text-align: center;"></th>
                <th width="15%" style="padding: 5px;text-align: center;">Sph</th>
                <th width="15%" style="padding: 5px;text-align: center;">Cyl</th>
                <th width="15%" style="padding: 5px;text-align: center;">Axis</th>
                <th width="15%" style="padding: 5px;text-align: center;">Vision</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td style="padding: 5px;text-align: center;">
                  Distant
                </td>
                <td style="padding: 5px;text-align: center;">
                  <div id="l_d_sph"><%= prescription.l_glassesprescriptions_distant_sph %></div>
                </td>
                <td style="padding: 5px;text-align: center;">
                  <div id="l_d_cyl"><%= prescription.l_glassesprescriptions_distant_cyl %></div>
                </td>
                <td style="padding: 5px;text-align: center;">
                  <div id="l_d_axis"><%= prescription.l_glassesprescriptions_distant_axis %></div>
                </td>
                <td style="padding: 5px;text-align: center;">
                  <div id="l_d_vision"><%= prescription.l_glassesprescriptions_distant_vision %></div>
                </td>
              </tr>
              <tr>
                <td style="padding: 5px;text-align: center;">
                  Near
                </td>
                <td style="padding: 5px;text-align: center;">
                  <div id="l_n_sph"><%= prescription.l_glassesprescriptions_near_sph %></div>
                </td>
                <td style="padding: 5px;text-align: center;">
                  <div id="l_n_cyl"><%= prescription.l_glassesprescriptions_near_cyl %></div>
                </td>
                <td style="padding: 5px;text-align: center;">
                  <div id="l_n_axis"><%= prescription.l_glassesprescriptions_near_axis %></div>
                </td>
                <td style="padding: 5px;text-align: center;">
                  <div id="l_n_vision"><%= prescription.l_glassesprescriptions_near_vision %></div>
                </td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="row pull-right" style="margin-right: 1%">
    <button type="button" class="btn btn-xs btn-warning" id="editPrescription">Edit</button>
    <button type="button" class="btn btn-xs btn-primary" id="printPrescription">Print</button>
  </div>
</div>

