<div class="container-fluid" id="freeInvoiceEdit" style="border-bottom:1px solid #eee;">
  <!-- <div class="container-fluid print_settings collapse" id="changeSettings">
    <form accept-charset="UTF-8" action="/inventory/upload_print_settings" data-remote="true" enctype="multipart/form-data" method="post">
    
      <input type="hidden" class="department_id fi_input_style" name='department_id' id="department_id" value="284748001" />
      <div class="row">
        <div class="col-md-2 text-right" style="margin-bottom: 1%" name='shop_name'> Shop Name:</div>
        <div class="col-md-2"> 
           <input type="text" class="shop_name fi_input_style" name="shop_name" />
        </div>
        <div class="col-md-1 text-right" style="margin-bottom: 1%" name='dl_no'> DL NO:</div>
        <div class="col-md-2"> 
          <input type="text" class="dl_number fi_input_style" name='dl_number' id="dl_number"/>
        </div>
        <div class="col-md-1 text-right" style="margin-bottom: 1%" name='tin'> TIN:</div>
        <div class="col-md-2"> 
          <input type="text" class="tin fi_input_style" name='tin' id="tin"/>
        </div>
        <div class="col-md-2 text-right">
          <input type="submit" id="inputPrintSettingd" style='margin-top: 6%' value="Upload" class="btn btn-xs btn-primary">
        </div>
      </div>
      <div class="row" style="padding-bottom: 1%; border-bottom: 1px solid #eee">
        <div class="col-md-2 text-right" style="margin-top: 2%">Upload Logo: </div>
        <div class="col-md-2">
          <span class="btn btn-file-logo" style="width: 68%; background: #eee; margin-bottom: 1%">
            <img width="60" height="60" class="thumb" onclick="$(this).parent().find('.profile_pic').click();" src="/assets/photos/no_picture_available.png" alt="No picture available">
            
              <input style="visibility:hidden; height: 0" class="profile_pic" onchange="readURL(this)" type="file" name="print_out_logo" id="printOutLogo">
          </span>
        </div>
        <div class="col-md-1 text-right" name='dl_no'> <p>Pharmacist:</p><p>Contact:</p></div>
        <div class="col-md-2"> 
          <p><input type="text" class="username fi_input_style" name='username' id="username" style="margin-top: 0%" /></p>
          <p><input type="text" class="contact fi_input_style" name='contact' id="contact" style="margin-top: 0%" maxlength="10" /></p>
        </div>
        <div class="col-md-1 text-right"><p>Address:</p><p>Email:</p> </div>
        <div class="col-md-4"> 
        <p>
          <input type="text" class="shop_address fi_input_style" name='shop_address' style="margin-top: 0%; width:90%" id="shop_address"/></p>
          <p><input type="text" class="email fi_input_style" name='email' style="margin-top: 0%; width:90%" id="email"/></p>
        </div>
        
      </div>
    </form>
  </div> -->
  <div class="row">
    <div class="col-sm-12 row">
      <h4 style="margin-top: 3px; margin-bottom: 3px">Patient Details</h4>
    </div>
  </div>
  <div class="row mt10 mb5">
    <div class="col-lg-2 font_size text-right">
      Patient Name:
    </div>
    <div class="col-lg-2 font_size">
      <%= @optical_log.recipient %>
    </div>
    <div class="col-lg-2 font_size text-right">
      Patient ID:
    </div>
    <div class="col-lg-2 font_size">
      <%= @optical_log.patient_identifier%>
    </div>
    <div class="col-lg-2 font_size text-right">
      Patient Mobile
    </div>
    <div class="col-lg-2 font_size">
      <%= @optical_log.recipient_mobile %>
    </div>
  </div>
  <div class="row mb5">
    <div class="col-lg-2 font_size text-right">
      Doctor: 
    </div>
    <div class="col-lg-2 font_size">
      <%= @optical_log.doctor_name %>
    </div>
    <div class="col-lg-2 font_size text-right">
      Additional Note:
    </div>
    <div class="col-lg-6 font_size">
      <%= @optical_log.note %>
    </div>
  </div>
  <!-- row -->
  <div class="row">
    <h4>Items</h4>
  </div>
  <div class="row mt10 mb5" style="border-bottom:1px solid #eee;border-top:1px solid #eee;">
    <div class="col-sm-12 row" style="padding: 0px;">
      <div class="col-sm-2 font_size">
        <b>Code</b>
      </div>
      <div class="col-sm-2 font_size">
        <b>Description</b>
      </div>
      <div class="col-sm-2 font_size">
        <b>Brand</b>
      </div>
      <div class="col-sm-1 font_size">
        <b>Color</b>
      </div>
      <!--</div>-->
      <!--<div class="col-sm-6">-->
      <div class="col-sm-1 font_size">
        <b>QTY</b>
      </div>
      <div class="col-sm-1 font_size">
        <b>Exp.Date</b>
      </div>
      <div class="col-sm-1 font_size">
        <b>U.Price</b>
      </div>
      <div class="col-sm-1 font_size">
        <b>Tax(%)</b>
      </div>
      <div class="col-sm-1 font_size">
        <b>Total(&#8377;)</b>
      </div>
    </div>
  </div>
  <!--row-->
  <div id="fi_items">
    <% grand_total_price = 0 %>
    <% grand_total_tax = 0 %>
    <% if @optical_log.discount %>
      <% discount = @optical_log.discount %>
    <% else %>
      <% discount = 0 %>
    <% end %>
    <% if @optical_log.advance_payment %>
      <% advance_payment = @optical_log.advance_payment %>
    <% else %>
      <% advance_payment = 0 %>
    <% end %>
    <%  @optical_log.items.each do |item|%>
      <div class="add-optical-item row">
        <div class="col-sm-12 row" style="padding: 0px;">
          <div class="col-sm-2 font_size">
            <%= item.item_code %>
          </div>
          <div class="col-sm-2 font_size">
            <%= item.description %>
          </div>
          <div class='col-sm-2 font-size'>
            <%= item.brand %>
          </div>
          <div class='col-sm-1 font-size'>
            <%= item.try(:color) %>
          </div>
          <!--</div>-->
          <!--<div class="col-sm-6">-->
          <div class="col-sm-1 font_size">
            <%= item.quantity %>
          </div>
          <div class="col-sm-1 font_size">
            <%= item.expiry %>
          </div>
          <div class="col-sm-1 font_size">
            <%= item.list_price %>
          </div>
          <div class="col-sm-1 font_size">
            <%= item.vat.to_f %>
            <% total_tax = ((item.list_price.to_f * item.quantity.to_i * item.vat)/100).round(2) %>
            <% grand_total_tax = grand_total_tax + total_tax %>
          </div>
          <div class="col-sm-1 font-size">
            <%= total_with_tx = ((item.quantity.to_i * item.list_price.to_f) + total_tax).round(2) %>
            <!-- For Total Amount With Tax -->
            <% grand_total_price = grand_total_price + total_with_tx %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row mb5" style="border-bottom: 1px solid #eee">
  </div>
  <div class="row mb5">
    <div class="col-sm-offset-6 col-sm-6 text-right">
      <div class="col-sm-6 font_size">
        <b>Total Amt Including Tax</b>
      </div>
      <div class="col-sm-3 text-center font_size">
        :
      </div>
      <div class="col-sm-3 font_size">
        <%= grand_total_price.round(2) %>
      </div>
      <% if @optical_log.discount.present? %>
        <div class="col-sm-6 font_size">
          <b>Discount</b>
        </div>
        <div class="col-sm-3 text-center font_size">
          :
        </div>
        <div class="col-sm-3 font_size">
          <%= discount.round(2) %>
        </div>
      <%end%>
      <% @optical_log.items.each do |item| %>
        <% if item.service %>
          <% grand_total_price = grand_total_price + (item.list_price).to_f %>
          <div class="col-sm-6 font_size">
            <b><%= item.description %></b>
          </div>
          <div class="col-sm-3 text-center font_size">
            :
          </div>
          <div class="col-sm-3 font_size">
            <%= item.list_price.round(2) %>
          </div>
        <% end %>
      <% end %>
      <% if @optical_log.advance_payment.present? %>
        <div class="col-sm-6 font_size" style="border-bottom: 1px solid #ccc">
          <b>Advance Paid</b>
        </div>
        <div class="col-sm-3 text-center font_size" style="border-bottom: 1px solid #ccc">
          :
        </div>
        <div class="col-sm-3 font_size" style="border-bottom: 1px solid #ccc">
          <%= advance_payment.round(2) %>
        </div>
        <div class="col-sm-6 font_size" style="border-bottom: 1px solid #ccc">
          <b>Amount Remaining</b>
        </div>
        <div class="col-sm-3 text-center font_size" style="border-bottom: 1px solid #ccc">
          :
        </div>
        <div class="col-sm-3 font_size" style="border-bottom: 1px solid #ccc">
          <%= (grand_total_price - discount - advance_payment).round(2) %>
        </div>
      <%else%>
        <div class="col-sm-6 font_size">
          <b>Net Amount</b>
        </div>
        <div class="col-sm-3 text-center font_size">
          :
        </div>
        <div class="col-sm-3 font_size">
          <%= (grand_total_price - discount).round(2) %>
        </div>
      <%end%>
      <% if @print_advance == 'yes' %>
        <!-- <div class="col-sm-6 font_size">
          <b>Advance Amount</b>
          </div>
          <div class="col-sm-3 text-center font_size">
          :
          </div>
          <div class="col-sm-3 font_size">
          <%#= advance_payment.round(2) %>
          </div>
          
          
          <div class="col-sm-6 font_size">
          <b>Remaining Amount</b>
          </div>
          <div class="col-sm-3 text-center font_size">
          :
          </div>
          <div class="col-sm-3 font_size">
          <%#= ((wo_grand_total_price + grand_total_tax  - discount) - advance_payment).round(2) %>
        </div> -->
      <% end %>
    </div>
  </div>
  <!--row-->
</div>