<div class="people-item">
  <div class="media">
    <div class="row">
      <%= hidden_field_tag "patient_id", @patient.id, {:maxlength => 15, :size => 15, :class => 'form-control patient_id'}%>
      <div class="col-md-4">
        <a href="#" class="pull-left">
          <% if @patient.patientassets.present? %>
              <%= image_tag @patient.patientassets[@patient.patientassets.size-1].asset_path_url(:thumb), :class => "thumbnail media-object" %>
          <% else %>
              <%= image_tag "photos/no_picture_available.png", :class => "thumbnail media-object" %>
          <% end %>
        </a>
      </div>
      <div class="col-md-8">
        <div class="media-body">
          <div class="row">
            <div class="col-md-12">
              <h4 class="person-name"> <%= @patient.fullname %> </h4>
              <% if @patient.gender == 'Male' %>
                  <div class="text-muted"><i class="fa fa-male mr5"></i> <%= @patient.gender %><%= @patient.age %></div>
              <% end %>
              <% if @patient.gender == 'Female' %>
                  <div class="text-muted"><i class="fa fa-female mr5"></i> <%= @patient.gender %><%= @patient.age %></div>
              <% end %>
              <div class="text-muted"><i class="fa fa-mobile mr5"></i> <%= @patient.mobilenumber %></div>
              <% if @patient_ident.present? %>
                  <% if @patient_ident.mr_no.present? %>
                      <div class="text-muted"><i class="glyphicon glyphicon-record mr5"></i> MR NO: <%= @patient_ident.mr_no %></div>
                  <% end %>
                  <% if @patient_ident.ip_no.present? %>
                      <div class="text-muted"><i class="glyphicon glyphicon-record mr5"></i> IP NO. <%= @patient_ident.ip_no %></div>
                  <% end %>
              <% end %>
              <div class="text-muted"><i class="fa fa-home mr5"></i> <%= @patient.address_1 %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>