<h4 align="center">
  <%= current_user.organisation.read_attribute(:name) %>
</h4>

<span style="font-size: 10px">
  <div class="row">
    <div class="col-xs-12" style="padding-left: 10px;padding-right: 2px;">
    <hr>
      <table width="100%">
        <thead>
        <tr>
          <td class="text-left">Patient Name: <%= @patient.fullname %> </td>
          <td class="text-left">Mobile No: <%= @patient.mobilenumber %> </td>
          <% mr_no = PatientOtherIdentifier.find_by(patient_id: @patient.id).try(:mr_no) %>
          <% if mr_no.present? %>
            <td class="text-left">M.R No: <%= mr_no %> </td>
          <% end %>
        </tr>
        <tr>
          <td class="text-left">Doctor Name: <%= @prescription.doctor_name %></td>
          <td class="text-left">Date: <%= @prescription.created_at.strftime("%d-%B-%y") %></td>
        </tr>
        </thead>
        </table>
      <hr>
    </div>
  </div>  
</span> 
<div class="col-md-12" style="font-size: 9px">
  <div class="col-xs-6" style="padding-left: 10px;padding-right: 2px;">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="20%" style="padding-top:0px;padding-bottom:0px;"><div class="text-center">R/OD</div></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="padding:-2px;">
            <div class="row">
              <div class="col-xs-12">
                <table class="mb3 table-bordered" style="width: 100%">
                  <thead>
                    <tr>
                      <th width="40%" style="padding: 5px;text-align: center;"></th>
                      <th width="15%" style="padding: 5px;text-align: center;">Sph</th>
                      <th width="15%" style="padding: 5px;text-align: center;">Cyl</th>
                      <th width="15%" style="padding: 5px;text-align: center;">Axis</th>
                      <th width="15%" style="padding: 5px;text-align: center;">Vision</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="padding: 5px;text-align: center;">
                        Distant
                      </td>
                      <td style="padding: 5px;text-align: center;">
                        <%= @prescription.r_glassesprescriptions_distant_sph%>
                      </td>
                      <td style="padding: 5px;text-align: center;">
                        <%= @prescription.r_glassesprescriptions_distant_cyl%>
                      </td>
                      <td style="padding: 5px;text-align: center;">
                        <%= @prescription.r_glassesprescriptions_distant_axis%>
                      </td>
                      <td style="padding: 5px;text-align: center;">
                        <%= @prescription.r_glassesprescriptions_distant_vision%>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 5px;text-align: center;">
                        Near
                      </td>
                      <td style="padding: 5px;text-align: center;">
                        <%= @prescription.r_glassesprescriptions_near_sph%>
                      </td>
                      <td style="padding: 5px;text-align: center;">
                        <%= @prescription.r_glassesprescriptions_near_cyl%>
                      </td>
                      <td style="padding: 5px;text-align: center;">
                        <%= @prescription.r_glassesprescriptions_near_axis%>
                      </td>
                      
                      <td style="padding: 5px;text-align: center;">
                        <%= @prescription.r_glassesprescriptions_near_axis%>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-6" style="padding-left: 2px;padding-right: 10px;">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="20%" style="padding-top:0px;padding-bottom:0px;"><div class="text-center">L/OS</div></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="padding:0;">
            <div class="row">
              <div class="col-xs-12">
                <table class="mb3 table-bordered" style="margin-left: 0%; width: 100%">
                  <thead>
                    <tr>
                      <th width="40%" style="padding: 5px;text-align: center;"></th>
                      <th width="15%" style="padding: 5px;text-align: center;">Sph</th>
                      <th width="15%" style="padding: 5px;text-align: center;">Cyl</th>
                      <th width="15%" style="padding: 5px;text-align: center;">Axis</th>
                      <th width="15%" style="padding: 5px;text-align: center;">Vision</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="padding: 5px;text-align: center;">
                        Distant
                      </td>
                      <td style="padding: 5px;text-align: center;">
                        <%= @prescription.l_glassesprescriptions_distant_sph%>
                      </td>
                      <td style="padding: 5px;text-align: center;">
                        <%= @prescription.l_glassesprescriptions_distant_cyl%>
                      </td>
                      <td style="padding: 5px;text-align: center;">
                        <%= @prescription.l_glassesprescriptions_distant_axis%>
                      </td>
                      <td style="padding: 5px;text-align: center;">
                        <%= @prescription.l_glassesprescriptions_distant_vision%>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 5px;text-align: center;">
                        Near
                      </td>
                      <td style="padding: 5px;text-align: center;">
                        <%= @prescription.l_glassesprescriptions_near_sph%>
                      </td>
                      <td style="padding: 5px;text-align: center;">
                        <%= @prescription.l_glassesprescriptions_near_cyl%>
                      </td>
                      <td style="padding: 5px;text-align: center;">
                        <%= @prescription.l_glassesprescriptions_near_axis%>
                      </td>
                      <td style="padding: 5px;text-align: center;">
                        <%= @prescription.l_glassesprescriptions_near_vision%>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-6" style="padding-left: 2px;padding-right: 10px;">
    <% unless @prescription.r_acceptance_framematerial.blank? %>
      <div class="col-md-4 text-center">
        <span><b style="color:#444;">Frame Material </b><br> <%= @prescription.r_acceptance_framematerial %></span>
      </div>
    <% end %>
    <% unless @prescription.r_acceptance_ipd.blank? %>
      <div class="col-md-4 text-center">
        <span><b style="color:#444;">IPD </b><br> <%= @prescription.r_acceptance_ipd %></span>
      </div>
    <% end %>
    <% unless @prescription.r_acceptance_lensmaterial.blank? %>
      <div class="col-md-4 text-center">
        <span><b style="color:#444;">Lens Material </b><br> <%= @prescription.r_acceptance_lensmaterial %></span>
      </div>
    <% end %>
    <% unless @prescription.r_acceptance_lenstint.blank? %>
      <div class="col-md-4 text-center">
        <span><b style="color:#444;">Lens Tint </b><br> <%= @prescription.r_acceptance_lenstint %></span>
      </div>
    <% end %>
    <% unless @prescription.r_acceptance_typeoflens.blank? %>
      <div class="col-md-4 text-center">
        <span><b style="color:#444;">Type of Lens </b><br> <%= @prescription.r_acceptance_typeoflens %></span>
      </div>
    <% end %>
  </div>
  <div class="col-xs-6" style="padding-left: 2px;padding-right: 10px;">
    <% unless @prescription.l_acceptance_framematerial.blank? %>
      <div class="col-md-4 text-center">
        <span><b style="color:#444;">Frame Material</b><br> <%= @prescription.l_acceptance_framematerial %></span>
      </div>
    <% end %>
    <% unless @prescription.l_acceptance_ipd.blank? %>
      <div class="col-md-4 text-center">
        <span><b style="color:#444;">IPD </b><br> <%= @prescription.l_acceptance_ipd %></span>
      </div>
    <% end %>
    <% unless @prescription.l_acceptance_lensmaterial.blank? %>
      <div class="col-md-4 text-center">
        <span><b style="color:#444;">Lens Material </b><br> <%= @prescription.l_acceptance_lensmaterial %></span>
      </div>
    <% end %>
    <% unless @prescription.l_acceptance_lenstint.blank? %>
      <div class="col-md-4 text-center">
        <span><b style="color:#444;">Lens Tint </b><br> <%= @prescription.l_acceptance_lenstint %></span>
      </div>
    <% end %>
    <% unless @prescription.l_acceptance_typeoflens.blank? %>
      <div class="col-md-4 text-center">
        <span><b style="color:#444;">Type of Lens  </b><br> <%= @prescription.l_acceptance_typeoflens %></span>
      </div>
    <% end %>
  </div>
  </div>