<div style="border:1px solid #ccc;">
  <div class="row" style="border-bottom:1px solid #ccc;">

    <div class="col-md-3 text-left"> 
      <% if @department.asset_path.url %>
      <% unless @department.asset_path.url.split('/').last == '_old_' %>
          <img width="80" height="80" src="<%= @department.asset_path.url %>" >
      <% end %>
    <%end%>
    </div>
    <div class="col-sm-5 text-center">
      <% if @department.name ==nil || @department.name == "" || @department.shop_name == 'org-name'%>
        <h3 style="margin:0px"><%= @facility.name %></h3>
      <%else%>
          <h3 style="margin:0px"><%= @department.shop_name %></h3>
      <%end%>
    </div>
    <div class="col-sm-4 text-right">
      <% unless @department.shop_address == 'org-address' %>
        <h5 style="margin: 0px"><%= @department.shop_address %></h5>  
      <%end%>
      <% if @department.email.present? %>
        <p> <h5 style="margin: 0px"><%= @department.email %></h5> </p>
      <%end%>
      <% if @department.contact.present? %>
        <p> <h5 style="margin: 0px"><%= @department.contact %></h5> </p>
      <%end%>
    </div>

    <div class="row">
      <div class="col-sm-12 text-center">
        <b>OPTICAL ADVANCE RECEIPT</b>
      </div>
    </div>
    
  </div>
  <div class="row mb5">
    <div class="col-lg-2 font_size">
      Patient Name: 
    </div>
    <div class="col-lg-2 font_size">
      <%= Patient.find(@advance_invoice.patient_id).fullname %>
    </div>
    <div class="col-lg-2 font_size">
      Patient ID:
    </div>
    <div class="col-lg-2 font_size">
      <%= @advance_invoice.patient_org_id %>
    </div>
    <div class="col-lg-2 font_size">
      Prescription ID.
    </div>
    <div class="col-lg-2 font_size">
      <%= @advance_invoice.prescription_id %>
    </div>
  </div>
  <div class="row mb5">
    <div class="col-lg-2 font_size">
      Doctor: 
    </div>
    <div class="col-lg-2 font_size">
      <%= @advance_invoice.doctor_name %>
    </div>
    <div class="col-lg-2 font_size">
      Total Items:
    </div>
    <div class="col-lg-2 font_size">
      
    </div>
    <div class="col-lg-2 font_size">
      Date & Time
    </div>
    <div class="col-lg-2 font_size">
      <%= Time.current.strftime("%d %b'%y, %I:%M %p") %>
    </div>

  </div><!-- row -->
  <div class="row" style="border-bottom:1px solid #ccc;border-top:1px solid #ccc;">
      <div class="col-sm-2 col-sm-offset-2 font_size">
        <b>S.No</b>
      </div>
      <div class="col-sm-3 font_size">
        <b>Reason</b>
      </div>
      <div class="col-sm-3">
      <b>Amount</b>
      </div><!--row-->
      <br>
  </div>
  <div class="row" >
      <div class="col-sm-2 col-sm-offset-2 font_size">
        #
      </div>
      <div class="col-sm-3 font_size">
        <%= @advance_invoice.reason %>
      </div>
      <div class="col-sm-3">
      <%= @advance_invoice.advance_amount %>
      </div><!--row-->
      <br><br><br><br><br>
  </div>
  <div class="row" style="border-bottom:1px solid #ccc;"></div>
<br>

  <div class="row" style="">
    <div class="col-sm-offset-10 col-sm-2 font_size text-center">
    <b>____________</b>
    <b>Authorised Signatory</b>
    </div>
  </div>
</div>
<div>
  <div class="row" style="border-bottom:1px solid #ccc;">
    <div class="col-md-4 font_size">
      <p>OPTICIAN : <b><% if @department.username %><%= @department.try(:username) %><% else %> <%= current_user.name %><% end %></b></p>
    </div>
    <div class="col-md-4 font_size text-center" >
    </div>
    <div class="col-md-4 font_size text-center">
      <p>GST NO : <b><%if @department.gst %><%= @department.gst %><% else %>____________<% end %></b></p>
    </div>
  </div>
  <div clas="row">
    <div class="col-md-12">
      <ul class="med_rules">
        <!-- <li>MEDICINES SHOULD BE RETURNED IN PROPER CONDITION AND FULL STRIP WITHIN 15 DAYS FROM THE DATE OF BILL</li> -->
        <!-- <li>ORIGINAL COPY OF THE BILL SHOULD BE PROVIDED AT THE TIME OF RETURN</li>
        <li>CONTROLLED TEMPERATURE ITEMS WILL NOT BE TAKEN BACK*SURGICAL AND CONSUMABLE ITEMS WILL NOT BE TAKEN BACK</li>
        <li>THE SALE COVERS FROM OPTICAL IS SUBJECT TO INDIA JURSIDICTION ONLY</li>
        <li>ANY EXCESS COLLECTION BY OVERSIGHT WILL BE REFUNDED,AS PER DRUGS(PRICE CONTROL ORDER 1970)</li> -->
      </ul>
    </div>
  </div>
</div>

<div class="page_breaker"></div>




<style type="text/css">
  .font_size {
    font-size: 12px;
  }
  .med_rules {
    font-size: 7px;
  }
  .page_breaker {
    page-break-after: always;
  }
</style>