<%= f.hidden_field :selected_opdrecord_id, {class: 'form-control selected_opdrecord'} %>
<div class="row mb30" style="margin-top:20px;">
  <div class="col-md-2">
    Reason for Admission :
  </div>
  <div class="col-md-2" style="margin-top:-5px;">
    <%= f.text_field :admissionreason, {class: "form-control", value: @admission.admissionreason} %>
  </div>
  <div class="col-md-2">
    Expected Management :
  </div>
  <div class="col-md-2" style="margin-top:-5px;">
    <%= f.input :expected_management, collection: [ 'Surgical', 'Medical' ], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white r-chiefcomplaint', :input_html => {:name => "inpatient_ipd_record[expected_management]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:expected_management)) %>
  </div>
  <div class="col-md-2 ">
    Expected Length Of Stay :
  </div>
  <div class="col-md-2" style="margin-top:-5px; width: 15%">
    <div class="input-group">
      <%= f.text_field :expected_length_of_stay, {class: "form-control"} %>
      <span class="input-group-addon">Days</span>
    </div>
  </div>
</div>
<div class="row mb30">
  <div class="col-md-2 ">
    Date of Injury/Complaints :
  </div>
  <div class="col-md-2" style="margin-top:-5px;">
    <%= f.text_field :injury_complaint_date, {class: "form-control injury_complaint_date"} %>
  </div>
  <div class="col-md-2 ">
    Date of First OPD Visit :
  </div>
  <div class="col-md-2" style="margin-top:-5px;">
    <%= f.text_field :first_opd_visit, {class: "form-control first_opd_visit"} %>
  </div>
  <div class="col-md-2 ">
    Expected Date of Discharge :
  </div>
  <div class="col-md-2" style="margin-top:-5px;">
    <%= f.text_field :expected_discharge_date, {class: "form-control expected_discharge_date"} %>
  </div>
</div>
<div class="row mb30">
  <div class="col-md-2 ">
    Payment Type :
  </div>
  <div class="col-md-10">
    <%= f.input :ipd_payment_type, collection: ['Cash', 'Credit Card', 'Debit Card', 'Cashless', 'Reimbursement', 'Govt. Scheme'], :as => :hg_checkbox, :label => false, :required => false, :class => 'btn btn-xs btn-white r-chiefcomplaint', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[ipd_payment_type]" }, :checked => ipdrecord.checkboxes_checked(ipdrecord.read_attribute(:ipd_payment_type)) %>
  </div>
</div>
<div class="row mb30">
  <div class="col-md-2 ">
    Billing Category :
  </div>
  <div class="col-md-2">
    <%= f.text_field :ipd_billing_category, {class: 'form-control'} %>
  </div>
  <div class="col-md-2 ">
    Medico-Legal Case :
  </div>
  <div class="col-md-1" style="width: 50%">
    <%= f.input :medico_legal_case, wrapper_html: {:class=>"primary_assesment_rb"}, collection: ['Yes', 'No'], :as => :hg_radio_button,:label => false, :required => false, :class => 'btn btn-xs btn-white', style: "margin-top:-2px;", :input_html => {:name => "inpatient_ipd_record[medico_legal_case]" }, :checked => ipdrecord.read_attribute(:medico_legal_case) %>
  </div>
</div>
<% if tpa.is_insured %>
  <div class="row mb30">
    <div class="col-md-2 ">
      Insurance Company :
    </div>
    <div class="col-md-2">
      <%= f.text_field :insurance_name, {class: 'form-control', value: tpa.insurance_name} %>
    </div>
    <div class="col-md-2 ">
      TPA Provider Name :
    </div>
    <div class="col-md-2">
      <%= f.text_field :tpa_name, {class: 'form-control', value: tpa.tpa_name} %>
    </div>
    <div class="col-md-2 ">
      Government Scheme :
    </div>
    <div class="col-md-2">
      <%= f.text_field :govt_scheme, {class: 'form-control'} %>
    </div>
  </div>
<% end %>
<div class="row mb30">
  <div class="col-md-2 ">
    Comments :
  </div>
  <div class="col-md-3">
    <%= f.text_area :admin_comment, {style: "width:125%;", class: "form-control"} %>
  </div>
  <div class="col-md-1"></div>
</div>



<script type="text/javascript">
  // datepicker
  datepicker_options = {
    changeMonth: true,
    changeYear: true,
    dateFormat: "dd/mm/yy"
  };

  datepicker_options_discharge = {
    changeMonth: true,
    changeYear: true,
    dateFormat: "dd/mm/yy",
    minDate: -0
  }

  $('.injury_complaint_date').datepicker(datepicker_options);
  <% unless @ipdrecord.injury_complaint_date.present? %>
    // $(".injury_complaint_date").datepicker("setDate", new Date());
  <% end %>
  $('.first_opd_visit').datepicker(datepicker_options);
  <% unless @ipdrecord.first_opd_visit.present? %>
    // $(".first_opd_visit").datepicker("setDate", new Date());
  <% end %>
  $('.expected_discharge_date').datepicker(datepicker_options_discharge);
  <% unless @ipdrecord.expected_discharge_date.present? %>
    // $(".expected_discharge_date").datepicker("setDate", new Date());
  <% end %>
</script>