<div class="row mb30" style="margin-top:20px;">
  <div class="col-md-2">
    History :
  </div>
  <div class="col-md-4" style="margin-top:-5px;">
    <%= f.text_area :history, {class: "form-control history",rows: 5, value: ipdrecord.history} %>
  </div>
  <div class="col-md-2">
    Examination :
  </div>
  <div class="col-md-4" style="margin-top:-5px;">
    <%= f.text_area :examination, {class: "form-control examination",rows: 5, value: ipdrecord.examination} %>
  </div>
</div>
<div class="row mb30" style="margin-top:20px;">
  <div class="col-md-2">
    Diagnosis :
  </div>
  <div class="col-md-4" style="margin-top:-5px;">
    <%= f.text_area :diagnosis, {class: "form-control diagnosis",rows: 5, value: ipdrecord.diagnosis} %>
  </div>
  <div class="col-md-2">
    Procedure :
  </div>
  <div class="col-md-4" style="margin-top:-5px;">
    <%= f.text_area :procedure, {class: "form-control procedure",rows: 5, value: ipdrecord.procedure} %>
  </div>
</div>
<div class="row mb30" style="margin-top:20px;">
  <div class="col-md-2">
    Investigations :
  </div>
  <div class="col-md-4" style="margin-top:-5px;">
    <%= f.text_area :investigation, {class: "form-control investigation",rows: 5, value: ipdrecord.investigation} %>
  </div>
</div>
