<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title"><%=@call_type%> Referring Doctor</h4>
    </div>
    <div class="modal-body">

      <%= form_for(@referring_doctor,:remote => "true") do |f| %>
          <%= f.text_field :user_id,{:type => "hidden",:value=>@user_id} %>
          <div class="row form-group">
            <div class="col-md-3">*<%= f.label :name %></div>
            <div class="col-md-5"><%= f.text_field :name,{:class => "form-control"} %></div>
          </div>
          <div class="row form-group">
            <div class="col-md-3"><%= f.label :speciality %></div>
            <div class="col-md-5"><%= f.text_field :speciality,{:class => "form-control"} %></div>
          </div>
          <div class="row form-group">
            <div class="col-md-3"><%= f.label :hospital_name %></div>
            <div class="col-md-5"><%= f.text_field :hospital_name,{:class => "form-control"} %></div>
          </div>
          <div class="row form-group">
            <div class="col-md-3"><%= f.label :mobile_number %></div>
            <div class="col-md-5"><%= f.text_field :mobile_number,{:class => "form-control",:maxlength => 10} %></div>
          </div>
          <div class="row form-group">
            <div class="col-md-3"><%= f.label :email %></div>
            <div class="col-md-5"><%= f.text_field :email,{:class => "form-control"} %></div>
          </div>
          <div class="row form-group">
            <div class="col-md-3"><%= f.label :city %></div>
            <div class="col-md-5"><%= f.text_field :city,{:class => "form-control"} %></div>
          </div>

          <div class="row">
            <%= f.submit @call_type+' Referring Doctor',{:class => 'btn btn-success'} %>
          </div>
      <% end %>

    </div>
  </div>
</div>