<% currency_symbol = current_facility.currency_symbol %>
<div class="modal-dialog" style="width: 60%">
  <div class="modal-content">
    <%= form_for(@inventory_lot, html: { id: 'lot_information', class: 'lot-information' }, remote: true) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="color: #00BFFF">Lot Details</h4>
      </div>
      <div class="modal-body window-body">
        <div class="row mb10">
          <div class="col-md-2">
            <strong>Item code:</strong>
          </div>
          <div class="col-md-4">
            <%= f.text_field :item_code, class: 'form-control', readonly: true %>
          </div>
          <div class="col-md-2">
            <strong>Variant Code:</strong>
          </div>
          <div class="col-md-4">
            <%= f.text_field :variant_code, class: 'form-control', readonly: true %>
          </div>
        </div>
        <div class="row mb10">
          <div class="col-md-2">
            <strong>Description:</strong>
          </div>
          <div class="col-md-4">
            <%= f.text_field :description, class: 'form-control', readonly: true %>
          </div>
          <div class="col-md-2">
            <strong>Stock:</strong>
          </div>
          <div class="col-md-4">
            <%= f.text_field :stock, class: 'form-control', readonly: true %>
          </div>
        </div>
        <div class="row mb10">
          <div class="col-md-2">
            <strong>Old Selling Price:</strong>
          </div>
          <div class="col-md-4">
            <%= f.text_field :list_price, class: 'form-control', readonly: true %>
          </div>
          <div class="col-md-2">
            <strong>New Selling Price:</strong>
          </div>
          <div class="col-md-4">
            <%= text_field_tag 'inventory_lot[list_price]', @inventory_lot.list_price, class: 'form-control' %>
            <%= hidden_field_tag 'store_id', @inventory_lot.store_id, class: 'form-control' %>
          </div>
        </div>
        <div class="row mb10">
          <% unless @inventory_lot.unit_level %>
            <div class="col-md-2">
              <strong>Barcode</strong>
            </div>
            <div class="col-md-4">
              <% if @lot_histories.present? || @total_old_transactions > 0 %>
                <%= text_field_tag 'inventory_lot[barcode_id]', @inventory_lot.barcode_id, class: 'form-control', readonly: true, title: 'You have already made a transaction under this lot' %>
              <% else %>
                <%= text_field_tag 'inventory_lot[barcode_id]', @inventory_lot.barcode_id, class: 'form-control', maxlength: '20', oninput: 'this.value = this.value.toUpperCase()' %>
              <% end %>
            </div>
          <% end %>
          <% if @inventory_lot.model_no.present? %>
            <div class="col-md-2">
              <strong>Model No:</strong>
            </div>
            <div class="col-md-4">
              <%= f.text_field :model_no, class: 'form-control', readonly: true %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer window-footer">
        <%= f.submit 'Update Lot', class: 'btn btn-success update-item' %>
      </div>
    <% end %>
  </div>
</div>
