<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>

<%= form_for(@inventory_item, :as => :inventory_item,:format => :js, :remote => true,:method => :post,:url => inventory_item_lots_path) do |item|%>
    <div class="row">
      <div class="col-lg-6">
        <h4>Lots <%= item.submit "Save",{:class => 'btn btn-xs btn-success', :onclick => 'addImpStock_page()'}%> <a href="#" class="btn btn-primary btn-xs cancelLot"> Cancel</a>
        </h4>
      </div>

    </div>

    <%= item.hidden_field :item_id, {:class => "editItem_input_style addLot_input_style", :required => true,:value => @inventory_item.id} %>


    <div id="lots_information" class="row">

      <div id="addlots" style="padding: 10px 15px 0px 15px;">


        <%= item.fields_for :lots do |f| %>

            <div class="row" style="margin-bottom: 5px;">

              <div class="col-lg-1 text-left">
                <label>Batch No:</label>
              </div>
              <div class="col-lg-1">
                <%= f.text_field :batch_no, {:class => "editItem_input_style addLot_input_style"} %>
              </div>

              <div class="col-lg-1 text-left">
                <label>Stock:</label>
              </div>
              <div class="col-lg-1">
                <%= f.text_field :stock, {:id => "lot_stock",:class => "editItem_input_style addLot_input_style"} %>
              </div>

              <div class="col-lg-1 text-left">
                <label>Price:</label>
              </div>
              <div class="col-lg-1">
                <%= f.text_field :price, {:id => "price_pack",:class => "editItem_input_style addLot_input_style"} %>
              </div>

              <div class="col-lg-1 text-left">
                <label>MRP:</label>
              </div>
              <div class="col-lg-1">
                <%= f.text_field :mrp, {:id => "mrp_pack",:class => "editItem_input_style addLot_input_style"} %>
              </div>

              <div class="col-lg-1 text-left">
                <label>Selling Price:</label>
              </div>
              <div class="col-lg-1">
                <%= f.text_field :list_price, {:id => "list_price_pack",:class => "editItem_input_style addLot_input_style"} %>
              </div>

              <div class="col-lg-1 text-left">
                <label>Distributor:</label>
              </div>
              <div class="col-lg-1">
                <%= f.text_field :vendor, {:class => "editItem_input_style addLot_input_style"} %>
              </div>
            </div>

            <div class="row" style="margin-bottom: 5px;">

              <div class="col-lg-1 text-left">
                <label>Mark up(%):</label>
              </div>
              <div class="col-lg-1">
                <%= f.text_field :mark_up, {:id => "mark_up",:class => "editItem_input_style addLot_input_style"} %>
              </div>

              <div class="col-lg-1 text-left">
                <label>Expiry:</label>
              </div>
              <div class="col-lg-1">
                <%= f.text_field :expiry, {:class => "editItem_input_style addLot_input_style datepicker"} %>
              </div>
            </div>


        <%end%>


      </div>
    </div>
<% end %>
<style>
  input.error, select.error {
    border-color: #b94a48;
    background-image: none;
  }
  input.valid, select.valid {
    border-color: #468847;
    background-image: none;
  }
</style>
<script type="text/javascript">

  $(".cancelLot").on("click",function(){
    console.log("cancelled")
    jQuery(".add_item_lot").html("<h4>Lots <a href='/inventory/item/lots/new?item_id=<%=@inventory_item.id%>' data-remote='true' class='btn btn-primary btn-xs'> Add Stock</a> </h4>")
  })

  datepicker_options = {
    changeMonth: true,
    changeYear: true,
    dateFormat: "yy-mm-dd",
    minDate: -0
    //showButtonPanel: true,
  };

  $('.datepicker').datepicker(datepicker_options);

  function addImpStock_page() {
    $("#edit_inventory_item").validate({
      rules: {
        "inventory_item[lots][stock]": {
          required: true,
          number: true
        },
        "inventory_item[lots][price]": {
          required: true,
          number: true
        },
        "inventory_item[lots][mrp]": {
          required: true,
          number: true
        },
        "inventory_item[lots][list_price]": {
          required: true,
          number: true
        },
        "inventory_item[lots][expiry]": {
          required: true,
          dateISO: true
        },

      },
      messages: {
//        "inventory_item[description]": {
//          required: "Please enter Description."
//        },

      },
      errorPlacement: function (error, element) {
        var id = $(element).attr("id");
        var parent = $("#"+id).parents(".input-group").length
        if(parent == 0){
          error.insertAfter(element);
        } else {
          error.insertAfter($("#"+id).parents(".input-group"));
        }
      }
    });
  }
  addImpStock_page()


</script>