<% currency_symbol = current_facility.currency_symbol %>
<% lot = @inventory_item_lot %>
<div id="<%= lot.id %>" style="margin-top: 10px">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-9"></div>
    <div class="col-lg-3 pull-right">
      <% if lot.stock > 0 && !lot.is_blocked? && !lot.is_blocked_by_user %>
        <% if Authorization::PolicyHelper.verification(current_user.id ,"HGP-100-102-100") %>
          <%= link_to edit_inventory_item_lot_path(id: lot.id), id: 'edit_inventory_lot', data: { remote: true, toggle: 'modal', target: '#edit-inventory-lot' }, class: 'btn btn-primary btn-xs' do %><i class="fa fa-edit"></i> Edit<% end %>
        <% end %>
      <% end %>
       <% if lot.stock > 0 && lot.is_blocked? && lot.is_blocked_by_user %>
        <% if Authorization::PolicyHelper.verification(current_user.id ,"HGP-100-102-100") %>
           <%= link_to unblock_lot_inventory_item_lots_path(id: lot.id), class: "btn btn-success btn-xs unblockLot" do %><i class=""></i> Unblock Lot<% end %>
        <% end %>
      <% end %>
      <% if lot.available_stock > 0 %>
        <% if @disable_block_lot == true %>
          <%= button_tag type: 'button', class: "btn btn-danger disabled btn-xs", title: 'Transaction is Open with this Lot' do %>Block Lot<% end %>
        <% else %>
          <%= link_to block_lot_inventory_item_lots_path(id: lot.id), class: "btn btn-danger btn-xs blockLot" do %><i class=""></i> Block Lot<% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div id="item_information" class="col-lg-12 col-md-12 col-sm-12">

    <div class="row" style="margin-bottom: 5px">
      <div class="col-md-12">
        <div class="col-md-2">
          <span class="description">Description:</span>
        </div>
        <div class="col-md-10">
          <strong><%= lot.description %></strong>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-2">
          <span class="variant_code">Variant Code:</span>
        </div>
        <div class="col-md-4">
          <strong style="font-size: 80%"><%= lot.variant_code %></strong>
        </div>
        <div class="col-md-2">
          <span class="item_code">Item Code:</span>
        </div>
        <div class="col-md-4">
          <strong><%= lot.item_code %></strong>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-2">
          <span class="stock">Stock:</span>
        </div>
        <div class="col-md-4">
          <strong><%= lot.stock %></strong>
        </div>
        <div class="col-md-2">Available Stock:</div>
        <div class="col-md-4">
          <strong><%= lot.available_stock %></strong>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-2">Blocked Stock:</div>
        <div class="col-md-4">
          <strong><%= lot.blocked_stock %></strong>
        </div>
        <div class="col-md-2">
          <span class="list_price">Cost Price:</span>
        </div>
        <div class="col-md-4">
          <strong><b style="padding: 3px;font-size:12px;"><%= currency_symbol %></b><%= lot.unit_cost %></strong>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-2">
          <span class="list_price">List Price:</span>
        </div>
        <div class="col-md-4">
          <strong><b style="padding: 3px;font-size:12px;"><%= currency_symbol %></b><%= lot.list_price&.round(2) %></strong>
        </div>
        <div class="col-md-2">
          <span class="custom_field">Identifier:</span>
        </div>
        <div class="col-md-4">
          <% custom_fields = lot.custom_field_tags&.reject(&:blank?)&.join(', ') %>
          <strong><%= custom_fields.present? ? custom_fields : 'NA' %></strong>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-2">
          <span class="vendor_name">Vendor:</span>
        </div>
        <div class="col-md-4">
          <strong><%= lot.vendor_name %></strong>
        </div>
        <div class="col-md-2">
          <span class="barcode-id">Barcode:</span>
        </div>
        <div class="col-md-4">
          <strong><%= lot.barcode_id %></strong>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-2">
          Sub Store:
        </div>
        <div class="col-md-4">
          <strong><%= lot.try(:sub_store_name).try(:titleize) %></strong>
        </div>
        <div class="col-md-2">
          <span class="barcode-id">Lot Code:</span>
        </div>
        <div class="col-md-4">
          <strong><%= lot.lot_code %></strong>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-2">
          Unit level:
        </div>
        <div class="col-md-4">
          <strong><%= level = lot.unit_level ? 'YES' : 'NO' %></strong>
        </div>
        <% if lot.try(:model_no).present? %>
          <div class="col-md-2">
            Model No.:
          </div>
          <div class="col-md-4">
            <strong><%= lot.try(:model_no) %></strong>
          </div>
        <% end %>
      </div>
      <div class="col-md-12">
        <div class="col-md-2">
          Generic Names:
        </div>
        <div class="col-md-4">
          <strong><%= lot.generic_display_name.present? ? lot.generic_display_name : 'N/A' %></strong>
        </div>
      </div>
      <% if lot.try(:is_blocked_by_user) == true %>
        <div class="col-md-12">
          <div class="col-md-6"><b>Blocked Lot by User Details</b></div>
        </div>
        <div class="col-md-12">
          <div class="col-md-2">User:</div>
          <div class="col-md-4">
            <strong><%= lot.blocked_by_user_name %></strong>
          </div>
          <div class="col-md-2">Date:</div>
          <div class="col-md-4">
            <strong><%= lot.try(:blocked_datetime).try(:strftime, '%d-%m-%Y') %></strong>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-2">Blocked Stock:</div>
          <div class="col-md-4">
            <strong><%= lot.blocked_stock_by_user %></strong>
          </div>
          <div class="col-md-2">Comment:</div>
          <div class="col-md-4">
            <strong><%= lot.blocked_stock_by_user_comment %></strong>
          </div>
        </div>
      <% end %>
    </div><br>

    <b style="color: #1E90FF">Transactions Details:</b>
    <div class="row check-font">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Sl. No.</th>
            <th>Date | Time</th>
            <th>Model No.</th>
            <th>Flow</th>
            <th>Stock Before</th>
            <th>Stock After</th>
            <th>Amount Before</th>
            <th>Amount After</th>
            <!-- <th>Total Txn Cost</th> -->
            <!-- <th>Lot Value with Tax</th> -->
          </tr>
        </thead>
        <tbody>
          <% @lots.each_with_index do |lot,index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= lot.transaction_date %>&nbsp;|&nbsp;<%= lot.transaction_time&.strftime("%I:%M%p")%></td>
            <td><%= lot.model_no %></td>
            <td><%= lot.flow %>&nbsp;(<%= lot.transaction_type&.titleize %>)</td>
            <td><%= lot.stock_before %></td>
            <td><%= lot.stock_after %></td>
            <td><%= lot.amount_before %></td>
            <td><%= lot.amount_after&.round(2) %></td>
            <!-- <td><%#= lot.total_transaction_cost %></td> -->
            <!-- <td><%#= lot.amount_after&.round(2) %></td> -->
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="closeModal" class="modal false fade in" tabindex="-1" role="dialog" aria-labelledby="closeModal" aria-hidden="false" style="z-index: 1051; display: hidden;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close dontBlock" data-dismiss="modal" aria-hidden="true">×</button>
        <h5 id="closeModal" class="modal-title">Block Lot Confirmation</h5> 
      </div>
      <%= form_tag block_lot_inventory_item_lots_path(id: lot.id, store_id: lot.try(:store_id), sub_store_id: lot.try(:sub_store_id)), method: 'get', remote: true, id: 'new-message-form', class: "new-message-form" do %>
        <div class="modal-body">
          <%= label_tag "You are about to Block the Lot. Are you sure?"%><br>
          <%= label_tag "Please provide a reason for closure below"%>
          <%= text_field_tag :blocked_stock_by_user_comment, '', class: "form-control p7_10", placeholder: 'Block Lot Comment', minlength: '5', required: true %>
        </div>
        <div class="modal-footer">
          <button class="btn commit btn-danger dontBlock" data-dismiss="modal">Don't Block</button>
          <%= submit_tag "Block Lot", class: "btn btn-success", data: { 'disable-with': 'Please Wait...' }, onclick: 'validateMessage()' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="closeModal1" class="modal false fade in" tabindex="-1" role="dialog" aria-labelledby="closeModal1" aria-hidden="false" style="z-index: 1051; display: hidden;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close dontBlock" data-dismiss="modal" aria-hidden="true">×</button>
        <h5 id="closeModal1" class="modal-title">Unblock Lot Confirmation</h5> 
      </div>
      <%= form_tag unblock_lot_inventory_item_lots_path(id: lot.id, store_id: lot.try(:store_id), sub_store_id: lot.try(:sub_store_id)), method: 'get', remote: true, id: 'new-message-form', class: "new-message-form" do %>
        <div class="modal-body">
          <%= label_tag "You are about to Unblock the Lot. Are you sure?"%><br>
          <%= label_tag "Please provide a reason for closure below"%>
          <%= text_field_tag :blocked_stock_by_user_comment, '', class: "form-control p7_10", placeholder: 'Unblock Lot Comment', minlength: '5', required: true %>
        </div>
        <div class="modal-footer">
          <button class="btn commit btn-danger dontBlock" data-dismiss="modal">Don't Unblock</button>
          <%= submit_tag "Un Block Lot", class: "btn btn-success", data: { 'disable-with': 'Please Wait...' }, onclick: 'validateMessage()' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<style type="text/css">
  .table-add-item td{
    padding: 5px 5px 0;
  }
</style>

<script type="text/javascript">
  $('#btn_remove_item_confirm').on('click', function(){
    $('#input_remove_confirmation').show()
    $('#verified_item_remove').show()
    $(this).hide()
    $('#verified_item_remove').attr('disabled','disabled')
    $(".variant_code").addClass("glow-animation")
  })

  $('#input_remove_confirmation').on('keyup', function(){
    if($(".variant_code_value").text().trim() === $(this).val()){
      $('#verified_item_remove').removeAttr('disabled')
    } else {
      $('#verified_item_remove').attr('disabled', 'disabled')
    }

  })

  $('.btn_remove_lot_confirm').on('click', function(){
    $('.verified_lot_remove').hide()
    $('.btn_remove_lot_confirm').show()
    $(this).siblings('.verified_lot_remove').show()
    $(this).hide()
  })

  $('.dontBlock').on('click', function() {
    $('#blocked_stock_by_user_comment').val('')
  });
</script>

<style type="text/css">
  .check-font table tr th {
    padding: 2px 5px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
  }

  .check-font table tr td {
    padding: 2px 5px;
    text-align: center;
  }

  .check-font {
    font-size: 11px;
  }

  .btn.disabled {
    pointer-events: auto;
  }
</style>
