<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="br-pagebody pd-x-20 pd-sm-x-30">
    <div class="row no-gutters widget-1 shadow-base">
      <div class="card">
        <div class="card-header">
          <h6 class="card-title" style="font-size: 18px; margin-bottom: 5px;"><strong>Total Expenses</strong></h6>
        </div>
        <div class="card-body">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-4 card-data">
              <div class="card-header">
                <h6 class="card-title"><strong>All</strong></h6>
              </div>
              <div class="card-body">
                <div class="col-md-12">
                  <span class="number-data"><%= @total_expenses.try(:size)%></span>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-4 card-data">
              <div class="card-header">
                <h6 class="card-title"><strong>Paid</strong></h6>
              </div>
              <div class="card-body">
                <div class="col-md-12">
                  <span class="number-data"><%= @total_paid_expenses.try(:size) %></span>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-4 card-data">
              <div class="card-header">
                <h6 class="card-title"><strong>Unpaid</strong></h6>
              </div>
              <div class="card-body">
                <div class="col-md-12">
                  <span class="number-data"><%= @total_unpaid_expenses.try(:size) %> </span>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-4 last_card">
              <div class="card-header">
                <h6 class="card-title "><strong>In-Process</strong></h6>
              </div>
              <div class="card-body">
                <div class="col-md-12">
                  <span class="number-data"><%= @total_inprocess_expenses.try(:size) %></span>
                </div>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="br-pagebody pd-x-20 pd-sm-x-30">
    <div class="row no-gutters widget-1 shadow-base">
      <div class="card">
        <div class="card-header">
          <h6 class="card-title" style="font-size: 18px; margin-bottom: 5px;"><strong>Today's Expenses</strong></h6>
        </div>
        <div class="card-body">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-4 card-data">
              <div class="card-header">
                <h6 class="card-title"><strong>All</strong></h6>
              </div>
              <div class="card-body">
                <div class="col-md-12">
                  <span class="number-data"><%= @todays_expenses.try(:size)%></span>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-4 card-data">
              <div class="card-header">
                <h6 class="card-title"><strong>Paid</strong></h6>
              </div>
              <div class="card-body">
                <div class="col-md-12">
                  <span class="number-data"><%= @todays_paid_expenses.try(:size) %></span>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-4 card-data">
              <div class="card-header">
                <h6 class="card-title"><strong>Unpaid</strong></h6>
              </div>
              <div class="card-body">
                <div class="col-md-12">
                  <span class="number-data"><%= @todays_unpaid_expenses.try(:size) %> </span>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-4  last_card">
              <div class="card-header">
                <h6 class="card-title "><strong>In-Process</strong></h6>
              </div>
              <div class="card-body">
                <div class="col-md-12">
                  <span class="number-data"><%= @todays_inprocess_expenses.try(:size) %></span>
                </div>
              </div>
            </div>
            
          </div>   
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .card-data{
    background: #fff;
    padding: 10px;
    border-radius: 1px;
  }
  .card-title{
    color:#444;
    margin-left: 10px;
  }
  .card-data{
    border-right: 1px solid #444;
    text-align: center;
  }
  .last_card{
    border: none!important;
    text-align: center;
    background: #fff;
    padding: 10px;
    border-radius: 1px; 
  }
  .card-body{
        font-size: 19px;
    color: #444;
  }

</style>