<div class="trimmed_expenses_content col-md-5 col-lg-5" style="overflow-y: scroll;">
  <table class="table table-hover">

    <tbody id="trimmed_expenses">

    <tr class="well" style="border: 1px ">
      <td>
        <%= link_to new_finance_recurring_expense_path(modal: 'expense-modal'), class: "btn btn-xs btn-success", id: "add-expense-btn", data: {remote: true, 'toggle': "modal", 'target': '#expense-modal' } do %> Add<% end %>
        <div class="pull-right" style="padding: 0px">
          <%= select_tag("expense_status", options_for_select(["All","Unpaid","Paid","In process"], @recurring_expense_status || "All"),:class=> "form-control status-dropdown-for-expense p7_10") %>
        </div>
      </td>
    </tr>

    <%@recurring_expenses.each_with_index do |recurringexpense,i| %>
        <tr id="<%= recurringexpense.id%>" class="recurring-expense-row">
          <td>
            <div>
              <span style="padding: 0px" class="col-md-1"><%=i+1%>. </span>
              <span style="padding-left: 0px; font-size: medium;text-decoration: none;" class="col-md-8" id= <%= recurringexpense.id%>><%=recurringexpense.try(:profile_name)%></span>
              <span class="col-md-3" style="color: #000;" >₹<%=recurringexpense.try(:amount)%></span>
            </div>
            <div>
              <span class="col-md-8 col-md-offset-1" style="padding-left: 0px;  font-size: small; color: #555"><%=recurringexpense.try(:category)%></span>
              <span class="col-md-3" style="font-size: smaller;color: <%=(recurringexpense.try(:status_color))%>"><%=recurringexpense.try(:status)%></span>
            </div>
            <div>
              <span class="col-md-8 col-md-offset-1" style="padding-left: 0px; font-size: smaller"><%=recurringexpense.next_expense_date.try(:strftime, "%d-%m-%Y at %I:%M %p")%></span>
              <span class="col-md-3" style="font-size: smaller;color: #2c96dd"><%= recurringexpense.repetition %></span>
            </div>

          </td>



        </tr>
    <%end%>
    </tbody>
  </table>
</div>

<div class="show_recurring_expense col-md-7 col-lg-7">

</div>

<style>
  .trimmed_expense_row:hover{
    background: aliceblue;
    cursor: pointer;
  }

  .recurring-expense-row {
    cursor: pointer;
  }

</style>


