<div class="expense_action_buttons">
  <%= link_to edit_finance_expense_path(id: @expense.id), class: "btn btn-xs btn-warning", id: "edit-expense-btn", data: {remote: true, 'toggle': "modal", 'target': '#expense-modal' } do %> Edit<% end %>
  <%= link_to finance_expense_path(id: @expense.id), class: "btn btn-xs btn-danger",method: 'delete', :title => "Delete this Expense ?", id: "delete-expense-btn", data: {remote: true, :confirm => "<h4>Are you sure that you want to delete this Expense ?</h4>".html_safe, :commit => 'Delete Expense'} do %> Delete<% end %>
</div>
<div class="expense_show_details">
  <div style="font-weight: normal; margin-bottom: 5px !important;color: #AAA;">
    Expense Amount
  </div>
  <div style ="margin-bottom: 5px !important;" >
    <span style="color: #b94a48; font-size: 24px;font-family: 'LatoRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif;"><%= @expense.currency_symbol %><%= @expense.amount %> </span>
    <span style="color: #999;"> on <%= @expense.try(:date).try(:strftime, "%d-%m-%Y") %></span>
    <span class="pull-right" style="color: #777; font-size: 18px;"><%= @expense.status %></span>
  </div>
  <% if @expense.tax %>
    <div style ="margin-bottom: 5px !important;" >
      Tax <%= @expense.tax %>% (<%= @expense.currency_symbol %> <%= @expense.tax_amount%>)
    </div>
  <% end %>
  <div style ="margin: 25px 0px;">
    <span style ="margin: 15px 0px; padding: 10px; background: #c5e3ec"><%= @expense.category_name %></span>
    <span class="pull-right"><strong><%= @expense.try(:description) %></strong></span>
  </div>
</div>
<div class="expense_show_details">
  <address class="pull-left" style="padding:0 15px 0 10px;margin-right:12px;border-right:1px solid #eeeeee">
    <div class="text-muted">Merchant</div>
    <% if @expense.merchant %>
      <p style="color: #333"> <%= @expense.try(:merchant)%></p>
    <% else %>
      <p style="color: #333"> - </p>
    <%end%>
  </address>

  <address style="padding:0 15px 0 10px">
    <div class="text-muted">Reference</div>
    <% if @expense.try(:reference) %>
      <p style="color: #333"><%= @expense.try(:reference)%></p>
    <% else %>
      <p style="color: #333"> - </p>
    <%end%>
  </address>
</div>
<div class="expense_attachments">
  <h4>Attachments</h4>

  <div class="attachments_preview col-sm-12 ">

    <% @expense.expense_receipts.each do |item| %>
      <div class="col-md-3 expense-upload" style="background: #eee; padding-top: 1%; margin: 1%">
        <div class="thmb">
          <div class="thmb-prev preview">
            <a href="<%= item.asset_path.url%>" data-rel="prettyPhoto" target="_blank">
              <img src="<%= item.asset_path.url%>" class="img-responsive" alt="" style="height: 80px">
            </a>
          </div>
          <h5 class="fm-title"><a href="<%= item.asset_path.url%>" target="_blank"><%= item.name %></a></h5>
          <small class="text-muted">Added: <%= item.created_at %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <button class="btn btn-link delete_upload2" tabindex="-1" style="display: none"%>"></button>
            <button class="btn btn-link hg-tooltip delete_upload" tabindex="-1" style="padding:0px;margin-left: 5%" data-attribute="<%= @expense.id %>" id="<%= item.id %>" original-title="Delete Upload"><i class="fa fa-trash-alt" style="color:#555;"></i></button>
          </small>
        </div>
      </div>
    <%end%>




  </div>



  <div class="col-sm-1">
  </div>
  <form id="fileupload<%=@expense.id%>" class="fileupload" action="/finance/expenses/upload_expense_file" method="POST" enctype="multipart/form-data">
    <!-- Redirect browsers with JavaScript disabled to the origin page -->
    <!-- <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript> -->
    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->

    <input type="hidden" id="expenseId" name="expenseId" value="<%= @expense.id%>" />

    <div class="row fileupload-buttonbar">
      <div class="col-lg-7">
        <!-- The fileinput-button span is used to style the file input field as button -->
                  <span class="btn btn-xs btn-darkblue fileinput-button">
                      <i class="glyphicon glyphicon-plus"></i>
                      <span>Add files...</span>
                      <input type="file" class="select_file" name="files" multiple>
                  </span>
        <button type="submit" class="btn btn-xs btn-lightblue start">
          <i class="glyphicon glyphicon-upload"></i>
          <span>Start upload</span>
        </button>
        <button type="reset" class="btn btn-xs btn-warning cancel">
          <i class="glyphicon glyphicon-ban-circle"></i>
          <span>Cancel upload</span>
        </button>
        <!-- <button type="button" class="btn btn-xs btn-danger delete">
            <i class="glyphicon glyphicon-trash"></i>
            <span>Delete</span>
        </button> -->
        <!-- The global file processing state -->
        <span class="fileupload-process"></span>
      </div>
      <!-- The global progress state -->
      <div class="col-lg-5 fileupload-progress fade">
        <!-- The global progress bar -->
        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-darkblue" style="width:0%;"></div>
        </div>
        <!-- The extended global progress state -->
        <div class="progress-extended">&nbsp;</div>
      </div>
    </div>
    <!-- The table listing the files available for upload/download -->
    <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
  </form>

</div>



<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <input type="text" id="expenseuploadname" name="expenseuploadname" value="<%= @expense.try(:name)%>" />
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-darkblue" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-xs btn-lightblue start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-xs btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>


<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">

                {% if (file.url) { %}

                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-xs btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
            {% } else { %}
                <button class="btn btn-xs btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<script type="text/javascript">
  $('.fileupload').fileupload({
  });
  // $('.fileupload').on('fileuploaddone', function (e, data) { console.log('log shog', $(this))})
</script>

<style type="text/css">
  .fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  #edit-expense-btn{
    border: 1px solid #f1c40f;
  }
  .fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
  }

  /* Fixes for IE < 8 */
  @media screen\9 {
    .fileinput-button input {
      filter: alpha(opacity=0);
      font-size: 100%;
      height: 100%;
    }
  }

</style>

<script type="text/javascript">
  $('.delete_upload').on('click', function(e){
    e.preventDefault();
    _this = this

    $(this).addClass("deleted-expense-upload")
    $.ajax({
      url: '/finance/expenses/delete_upload',
      type: 'GET',
      data: {
        id: $(this).attr('id'),
        expense_id: $(this).attr('data-attribute')
      },
      success: function(){

        $(".deleted-expense-upload").parents(".expense-upload").hide()
      }

    })
  })
</script>