<div class="mis_list">
  <h3> Investigation Report</h3>
  <% group = 'investigation' %>
  <ul data-test-title="Outpatient" class="nav">
    <li data-test-title="Patient Type Wise">
      <%= link_to reports_view_mis_new_clinical_reports_path(group: group, title: 'investigation_detail'), data: { remote: true }, class: 'mis_reports_link ps' do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Investigation Detail Report (advised or performed)</span>
      <% end %>
    </li>
    <li data-test-title="Patient Type Wise">
      <%= link_to reports_view_mis_new_clinical_reports_path(group: group, title: 'investigation_performed'), data: { remote: true }, class: 'mis_reports_link ps' do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Investigation Performed By Date (with avg conversion time)</span>
      <% end %>
    </li>
  </ul>
  <h4 style="padding-left: 10px"> Advised <span class="badge cash" style="font-size: 13px;">and</span> Performed (aggregate)</h4>
  <ul data-test-title="Outpatient" class="nav">
    <li data-test-title="Patient Type Wise">
      <%= link_to reports_view_mis_new_clinical_reports_path(group: group, title: 'advised_performed_investigation'), data: { remote: true }, class: 'mis_reports_link ps' do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Investigation Advised <span class="badge cash">and</span> Performed By Date</span>
      <% end %>
    </li>
    <li data-test-title="Patient Type Wise">
      <%= link_to reports_view_mis_new_clinical_reports_path(group: group, title: 'daily_doctor_investigation'), data: { remote: true }, class: 'mis_reports_link ps' do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Investigation Advised <span class="badge cash">and</span> Performed By Doctor By Date</span>
      <% end %>
    </li>

    <li data-test-title="Investigations Advised Performed">
      <%= link_to reports_view_mis_new_clinical_reports_path(group: group, title: 'daily_investigation_conversion'), data: { remote: true }, class: 'mis_reports_link ps' do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Investigations Advised <span class="badge cash">and</span> Performed By Investigation Name By Date</span>
      <% end %>
    </li>
  </ul>
  <h4 style="padding-left: 10px"> Advised <span class="badge credit" style="font-size: 13px;">vs</span> Performed (comparision)</h4>
  <ul data-test-title="Outpatient" class="nav">
    <li data-test-title="Patient Type Wise">
      <%= link_to reports_view_mis_new_clinical_reports_path(group: group, title: 'advised_investigation_conversion'), data: { remote: true }, class: 'mis_reports_link ps' do %>
        <span class="mis-report-text"><i class="fa  fa-arrow-right"></i>&emsp;Investigations Advised <span class="badge credit">vs</span> Performed By Date (with avg conversion time)</span>
      <% end %>
    </li>
    <li data-test-title="Patient Type Wise">
      <%= link_to reports_view_mis_new_clinical_reports_path(group: group, title: 'doctor_advised_investigation_conversion'), data: { remote: true }, class: 'mis_reports_link ps' do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Investigations Advised <span class="badge credit">vs</span> Performed By Doctor (for a period)</span>
      <% end %>
    </li>
    <li data-test-title="Patient Type Wise">
      <%= link_to reports_view_mis_new_clinical_reports_path(group: group, title: 'cumulative_investigation_advised'), data: { remote: true }, class: 'mis_reports_link ps' do %>
        <span class="mis-report-text"><i class="fa fa-arrow-right"></i>&emsp;Investigations Advised <span class="badge credit">vs</span> Performed By Investigation Name (for a period)</span>
      <% end %>
    </li>
  </ul> 
</div>