<div class="col-md-12">
  <% if @fitters.count > 0 %>
      <table id="manage_inventory_stores_table" class="table table-primary table-bordered">
        <thead>
        <th width="15%">Name</th>
        <th width="10%">Mobile No.</th>
        <th width="10%">Sec. Mobile No.</th>
        <th width="15%">Company Name</th>
        <th width="15%">Email</th>
        <th width="20%">Address</th>
        <th width="15%" class="text-center">Actions</th>
        </thead>
        <tbody>
        <% @fitters.each do |fitter| %>
            <tr>
              <td>
                <%= fitter.try(:name) %>
              </td>
              <td>
                <%= fitter.try(:mobile_number) %>
              </td>
              <td>
                <%= fitter.try(:secondary_mobile_number) %>
              </td>
              <td>
                <%= fitter.try(:company_name) %>
              </td>
                <td>
                <%= fitter.try(:email) %>
              </td>
              <td>
                <%= fitter.try(:address) %>
              </td>
               <td>
               <% if !fitter.vendor_id.present? %>
              <table style="width: 100%;">
                <tr>
                  <td>
                    <%= link_to edit_inventory_fitter_path(id: fitter.id.to_s, store_id: @store_id), method: :get, data: { remote: true }, class: "btn btn-info btn-xs", style: "display: inline;" do %>Edit<% end %>
                  </td>
                 <td id='fitter_disable_button_<%= fitter.id %>'>
                    <% if fitter.try(:is_disable) == true %>
                      <%= link_to 'Active', toggle_disable_inventory_fitter_path(id: fitter.id, is_disable: false), class: 'btn btn-xs btn-primary', remote: true, style: 'display: inline;' %>
                    <% else %>
                      <div class="btn btn-danger btn-xs btn-disable-filter" style="display: inline;" data-toggle="modal" data-target="#confirmation-modal" data-fitter='<%= fitter.name %>'>Disable</div>
                      <%= link_to 'Confirm', toggle_disable_inventory_fitter_path(id: fitter.id, is_disable: true), class: 'btn btn-danger', remote: true, style: 'display: none;', data: { dismiss: 'modal' } %>
                    <% end %>
                </td>
                </tr>
              </table>
              <% end%>
            </td>              
            </tr>
        <%end%>
        </tbody>
      </table>
  <% else %>
      <div class="col-md-12 text-center mt10">
        No Fitters to Show.
      </div>
  <% end %>

</div>
<style>
  #confirmation-modal a{
    display: inline-block !important;
  }
  .row-container{
    height: 25px;
  }
</style>