<div class="well">

  <div class="row" style="margin-top:15px;">
    <div class="col-sm-6">
      <strong>Name</strong><br>
      <%= f.text_field :name, { class: 'form-control p7_10 fullname', placeholder: "Fullname" } %>
    </div>
    <div class="col-sm-6">
      <strong>Company Name</strong><br>
      <%= f.text_field :company_name, { class: 'form-control p7_10 company_name', placeholder: "Company name" } %>
    </div>
  </div>

  <div class="row" style="margin-top:15px;">
    <div class="col-sm-6">
      <strong>Mobile Number</strong><br>
      <%= f.text_field :mobile_number, {class: 'form-control p7_10 mobilenumber', placeholder: "Mobile No.", minlength: 6, maxlength: 10, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
    </div>
    <div class="col-sm-6">
      <strong>Email</strong><br>
      <%= f.text_field :email, { class: 'form-control p7_10 email', placeholder: "Email" } %>
    </div>
  </div>

  <div class="row" style="margin-top:15px;">
    <div class="col-sm-6">
      <strong>Secondary Mobile Number</strong><br>
      <%= f.text_field :secondary_mobile_number, { class: 'form-control p7_10 secondarymobilenumber', placeholder: "Secondary Mobile No.", minlength: 6, maxlength: 10, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' } %>
    </div>
    <div class="col-sm-6">
      <strong>Address</strong><br>
      <%= f.text_field :address, { class: 'form-control p7_10 address', placeholder: "Address" } %>
    </div>
  </div>


</div>