
<%= form_for @fitter, remote: true ,html: { id: "inventory_fitter_form" } do |f| %>
  <%= f.hidden_field :facility_id, { value: current_facility.id } %>
  <%#= f.hidden_field :store_id, { value: @store_id } %>
  <%= f.hidden_field :store_ids, :multiple => true, :value => params[:store_ids] %>
  <%#= f.hidden_field :store_ids, { value: @store_id } %>
  <%= f.hidden_field :organisation_id, { value: current_facility.organisation_id } %>
  <%= render partial: 'form.html.erb', locals: { f: f } %>
  <%= f.submit "Save Changes", { class: 'btn btn-success', onclick: 'validate_inventory_fitter_form()' } %>
  <button type="button" class="btn btn-default cancel-inventory-fitter" data-dismiss="">Cancel</button>
<%end%>