<% if @fitter.is_disable == false %>
$('#fitter_disable_button_<%= @fitter.id %>').html(`
      <div class="btn btn-danger btn-xs btn-disable-sub-category" style="display: inline;" data-toggle="modal" data-target="#confirmation-modal" data-sub-category='<%= @fitter.name %>'>Disable</div>
    <%= escape_javascript(link_to 'Confirm', toggle_disable_inventory_fitter_path(id: @fitter.id, is_disable: true), class: "btn btn-danger", remote: true, style: "display: none;", data: {dismiss: "modal"}) %>
  `)
$('#fitter_disable_button_<%=@fitter.id %>').closest('tr').find('td:not(#fitter_disable_button_<%=@fitter.id %>)').css({'visibility': 'visible'})
<% else %>
$('#fitter_disable_button_<%= @fitter.id %>').html(`
    <%= escape_javascript(link_to 'Active', toggle_disable_inventory_fitter_path(id: @fitter.id, is_disable: false), class: "btn btn-xs btn-primary", remote: true, style: "display: inline;") %>
    `)
$('#fitter_disable_button_<%= @fitter.id %>').closest('tr').find('td:not(#fitter_disable_button_<%= @fitter.id %>)').css({'visibility': 'hidden'})
<% end %>

$('.btn-disable-filter').on('click', function(){
  var btn = $(this).closest('td').find('a')
  var other_charge = $(this).data('fitter')
  $('#confirmation-modal').html(`
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Are You Sure?</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure, you want disable <strong>${transportation}</strong>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        ${btn[0].outerHTML}
      </div>
    </div>
  </div>
  `)
})
