<%= render partial: '/patient_summary_timelines/common_css.html.erb' %>
<% if @mode == 'tabview' %>
  <% main_div_class = 'col-xs-12' %>
<% else %>
  <% main_div_class = 'col-xs-8 col-xs-8_5' %>
<% end %>

<div class="<%= main_div_class %> timeline_main_content" style="padding:0px;">
  <% if current_user.role_ids.any? { |ele| [159282002, 41904004, 2822900478].include?(ele) } %>
    <%= render partial: '/patient_summary_timelines/investigation_timeline_main_content.html.erb' %>
  <%# elsif (current_user.role_ids.include?158965000) && (["309964003","261904005"].any? { |ele| current_user.department_ids.include?(ele) }) %>
    <%#= render partial: '/patient_summary_timelines/investigation_timeline_main_content.html.erb' %>
  <% elsif current_user.role_ids.include?(46255001) %>
    <%= render partial: '/patient_summary_timelines/medication_timeline_main_content.html.erb' %>
  <% elsif current_user.role_ids.include?(387619007) %>
    <%= render partial: '/patient_summary_timelines/optical_timeline_main_content.html.erb' %>
  <% elsif current_user.role_ids.include?(573021946) %>
    <%= render partial: '/patient_summary_timelines/uploads_timeline_main_content.html.erb' %>
  <% else %>
    <%= render partial: '/patient_summary_timelines/timeline_main_content.html.erb' %>
  <% end %>
</div>

<% if @mode != 'tabview' %>
  <div class="col-xs-4 col-xs-3_5 sidebar_area" style="background: white;">
    <div id="toolbar_area">
      <div id="toolbar">
        <nav class="navbar navbar-secondary navbar-inverse navbar-fixed-top" style="margin-top: 50px; left: auto; right: auto; width: 29.16%;z-index:100;">
          <div class="container-fluid" style="padding:0;height: 49px;">
            <div class="col-xs-12">
              <h4 id="timeline-patient-name" style="margin:13px 0 0 0;font-size:18px;"><%= @patient.fullname.to_s.upcase %>&emsp;<span style="font-size:14px;"><% if @patient.calculate_age.present? || @patient.gender.present? %><%= @patient.calculate_age %>/<%= @patient.gender %><% else %> Unavailable<% end %></span></h4>
            </div>
          </div>
        </nav>
      </div>
    </div><!-- #toolbar_area -->
    <div class="sidebar_area_content">
      <div class="col-xs-12 sidebar_pane" id="sidebar_summary">
        <%= render partial: '/patient_summary_timelines/sidebar_summary.html.erb' %>
      </div>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  <%= render partial: '/patient_summary_timelines/index.js.erb' %>
</script>
