<% nav_button_class = "btn btn-danger navbar-btn navbar-btn-hover btn-lg btn-circle btn-circle-navbar timeline-btn" %>
<div id="toolbar">
  <nav class="navbar navbar-secondary navbar-inverse navbar-fixed-top " style="margin-top: 50px; left: auto; right: auto; width: 70.83%;z-index:555;border-right:1px solid #fff;">
    <div class="container-fluid">
      <div class="col-xs-4" style="margin-left:-20px;">
        <button class="btn btn-orange btn-orange-transparent btn-circle btn-circle-navbar refresh-action-btn" style="padding:5px;margin: 8px 2px;" id="btn-back-refresh"><i class="fa fa-chevron-left" style="color: #fff;"></i></button>
        <button class="btn btn-orange btn-orange-transparent btn-circle btn-circle-navbar refresh-action-btn" style="padding:5px;margin: 8px 2px;" id="btn-timeline-refresh"><i class="fa fa-refresh" style="color: #fff;"></i></button>
      </div>
      <div class="col-xs-6 text-center" style="margin-top: 3px;"><h4 class="uppercase timeline-header-text">Patient <%= @filter.to_s %> Investigations</h4></div>
      <div class="col-xs-2 text-right">
        <button id="btn-investigations-view" class="<%= nav_button_class %> selected" title="Investigations" style='display:none;'><i class="fa fa-scissors"></i></button>
      </div>
    </div>
  </nav>
</div>

<div id="timeline_summary" style="height: calc(100% - 50px); margin-top: 50px; overflow-y: auto;background:#fff">
  <%= render partial: "patient_summary_timelines/timeline_details/investigations" %>
</div>

<script type="text/javascript">

  $("#btn-timeline-refresh").on('click', function(){
    filter_timeline(true)
  })

  $(".timeline-btn").on('click', function(){
    if(!($(this).hasClass('selected'))){
      $(this).addClass('selected').siblings('.selected').removeClass('selected')
      filter_timeline(false)
    }
  })

  function filter_timeline(use_filter){
    var title = $(".timeline-btn.selected").attr('title')
    var investigation_state = $(".investigation-state-filter").val()
    if(use_filter == true){
      var filter = $(".filter-header").find('.active').find('.filter-tab').data('tab-id')
    }
    if(title == "Timeline"){
      $(".timeline-view-content").html("<div class='loading_dots'><span></span> <span></span> <span></span></div>")
    } else if(title == "Uploads"){
      $(".assets-view-content").html("<div class='loading_dots'><span></span> <span></span> <span></span></div>")
    }
    $.ajax({
      type: "GET",
      dataType: "script",
      data: {
        patient_id: '<%= @patient.id.to_s %>',
        title: title,
        filter: filter,
        investigation_state: investigation_state
      },
      url: "/patient_summary_timelines/filter_main_content",
      success: function(){
        $(".timeline-header-text").html("Patient " + filter + " " + title)
      }
    })
  }

  $("#btn-back-refresh").on('click', function(){
    var url = "<%= @back_params['url'] %>"
    if(url.length > 0){
      $.ajax({
        type: "GET",
        dataType: "script",
        url: url,
        data: {
          patient_id: "<%= @back_params['patient_id'] %>",
          active_tab: "<%= @back_params['active_tab'] %>",
          current_date: "<%= @back_params['current_date'] %>"
        }
      });
      history.pushState('', '', url); // history.pushState([data], [title], [url]);
    } else {
      window.history.back();
      
      setTimeout(function(){
        $('body').on("click",".custom-radio-button", function(e) {
          var current_class = $(this).attr("class");
          var target_id = $(this).parent().attr("target-input-id");
          var target_value = "";

          if(current_class.indexOf("btn-brown") >= 0 && target_value !== "") {
            $(this).removeClass('btn-brown');
            $(this).blur();
          } else {
            $(this).addClass('btn-brown').siblings().removeClass('btn-brown');
            target_value = $(this).attr("input-value");
          }
          $("#"+target_id).val(target_value);
          $("#"+target_id).trigger("change");
          console.log(target_value);
        });

        $('body').on('click','.custom-checkbox', function(e) {

          var current_class = $(this).attr("class");
          var target_id = $(this).parent().attr("target-input-id");
          var target_value = "";
          var target_prev_value = $("#"+target_id).val();
          if(target_prev_value !== "") {
            var values_array = target_prev_value.split(",");
          } else {
            var values_array = Array();
          }

          if(current_class.indexOf("btn-darkblue") >= 0) {
            $(this).removeClass('btn-darkblue');
            values_array.splice( $.inArray($(this).attr("input-value"), values_array), 1 );
            $(this).blur();
          } else {
            $(this).addClass('btn-darkblue');
            values_array.push($(this).attr("input-value"))

          }
          target_value = values_array.toString();
          $("#"+target_id).val(target_value);
          $("#"+target_id).trigger("change");
        });
      }, 2000); 
    }
  })
</script>