<div class="row" id="patient-additional-details">
  <%= render partial: 'patient_summary_timelines/patient_details/patient_details.html.erb' %>
</div>
<hr style="margin:15px;">
<div class="row">
  <div class="col-sm-12" id="patient-history-details">
    <%= render partial: 'patient_summary_timelines/patient_details/patient_history.html.erb' %>
  </div>
</div>
<hr style="margin:15px;">
<div class="row">
  <div class="col-sm-12" id="patient-allergy-details">
    <%= render partial: 'patient_summary_timelines/patient_details/patient_allergy.html.erb' %>
  </div>
</div>

<% unless current_user.role_ids.any? { |ele| [46255001, 387619007, 573021946].include?(ele) } %>                          <!-- pharmacist, optician, tpa -->
  <hr style="margin:15px;">
  <div class="row">
    <div class="col-sm-12" id="all-actions-timeline">
      <% if current_user.role_ids.any? { |ele| [159282002, 41904004].include?(ele) } %>                                   <!-- laboratory, radiology -->
        <%= render partial: 'patient_summary_timelines/other_details/investigation_visit_summary.html.erb' %>
      <% else %>
        <%= render partial: 'patient_summary_timelines/other_details/visit_summary.html.erb' %>
      <% end %>
    </div>
  </div>
<% end %>

<hr style="margin:15px;">
<div class="row">
  <div class="col-sm-12" id="all-actions-timeline">
    <%= render partial: 'patient_summary_timelines/other_details/patient_note_details.html.erb' %>
  </div>
  <% if current_user.role_ids.include?499992366 %>
      <div class="col-sm-12" id="all-actions-timeline">
        <%= render partial: 'outpatients/appointment/appointment_details/counsellor_notes_details.html.erb' %>
      </div>
  <% end %>
</div>

<!-- <script type="text/javascript">
  if($('#patient-history-details').height() > $('#patient-allergy-details').height()){
    $('#patient-history-details').css('border-right','1px solid #eee')
    $('#patient-allergy-details').css('border-left','0px')
  } else {
    $('#patient-allergy-details').css('border-left','1px solid #eee')
    $('#patient-history-details').css('border-right','0px')
  }
</script> -->

<% if false #oldView %>
  <div class="row">
    <div class="col-sm-6" id="patient-history-details">
      <%= render partial: 'patient_summary_timelines/patient_details/patient_history.html.erb' %>
    </div>
    <div class="col-sm-6" id="patient-allergy-details">
      <%= render partial: 'patient_summary_timelines/patient_details/patient_allergy.html.erb' %>
    </div>
  </div>
<% end %>
