<% nav_button_class = 'btn btn-danger navbar-btn navbar-btn-hover btn-lg btn-circle btn-circle-navbar timeline-btn' %>

<div id="toolbar">
  <% if @mode == 'tabview' %>
    <nav class="navbar navbar-secondary navbar-inverse navbar-fixed-top " style="margin-top: 50px; left: auto; right: auto; width: 100%;z-index:555;">
      <div class="container-fluid">
        <div class="col-xs-2" style="margin-left:10px;">
          <button class="btn btn-orange btn-orange-transparent btn-circle btn-circle-navbar refresh-action-btn timeline-back-btn" style="padding:5px;margin: 8px 2px;" id="btn-back-refresh"><i class="fa fa-chevron-left" style="color: #fff;"></i></button>
          <button class="btn btn-orange btn-orange-transparent btn-circle btn-circle-navbar refresh-action-btn" style="padding:5px;margin: 8px 2px;" id="btn-timeline-refresh"><i class="fa fa-refresh" style="color: #fff;"></i></button>
        </div>
        <div class="col-xs-3 text-left" style="margin-top: 4px;margin-left:-20px;"><h4 class="timeline-header-text"><%= @patient.fullname %></h4></div>
        <div class="col-xs-3 text-center" style="margin-top: 3px;"><h4 class="uppercase timeline-header-text">Patient <%= PatientSummaryHelpers::OutpatientHelper.default_active_tab(current_user) %></h4></div>
        <div class="col-xs-4 text-right">
          <% if Authorization::PolicyHelper.verification(current_user.id, "HGP-102-110-101") %>
            <button id="btn-timeline-view" class="<%= nav_button_class %> selected" title="Timeline"><i class="fa fa-list"></i></button>
            <span style="font-size:20px;font-weight:bolder;">-</span>
          <% end %>
          <% if Authorization::PolicyHelper.verification(current_user.id, "HGP-102-110-102") %>
            <button id="btn-uploads-view" class="<%= nav_button_class %>" title="Uploads"><i class="fa fa-file-image-o"></i></button>
            <span style="font-size:20px;font-weight:bolder;">-</span>
          <% end %>
          <% if Authorization::PolicyHelper.verification(current_user.id, "HGP-102-110-103") %>
            <button id="btn-medications-view" class="<%= nav_button_class %>" title="Medications"><i class="fa fa-medkit"></i></button>
            <span style="font-size:20px;font-weight:bolder;">-</span>
          <% end %>
          <% if Authorization::PolicyHelper.verification(current_user.id, "HGP-102-110-104") %>
            <button id="btn-investigations-view" class="<%= nav_button_class %>" title="Investigations"><i class="fa fa-scissors"></i></button>
            <span style="font-size:20px;font-weight:bolder;">-</span>
          <% end %>
          <% if current_organisation["specialty_ids"].include?("309988001") && Authorization::PolicyHelper.verification(current_user.id, "HGP-102-110-105") %>
            <span style="font-size:20px;font-weight:bolder;">-</span>
            <button id="btn-optical-view" class="<%= nav_button_class %>" title="Optical"><i class="fa fa-eye"></i></button>
          <% end %>
          <% if current_facility.show_finances && Authorization::PolicyHelper.verification(current_user.id, "HGP-102-110-106") %>
            <span style="font-size:20px;font-weight:bolder;">-</span>
            <button id="btn-invoices-view" class="<%= nav_button_class %>" title="Bills"><i class="fa fa-money"></i></button>
          <% end %>
        </div>
      </div>
    </nav>
  <% else %>
    <nav class="navbar navbar-secondary navbar-inverse navbar-fixed-top" style="margin-top: 50px; left: auto; right: auto; width:70.83%;z-index:555;border-right:1px solid #fff;">
      <div class="container-fluid">
        <div class="col-xs-2" style="margin-left:-20px;">
          <button class="btn btn-orange btn-orange-transparent btn-circle btn-circle-navbar refresh-action-btn timeline-back-btn" style="padding:5px;margin: 8px 2px;" id="btn-back-refresh"><i class="fa fa-chevron-left" style="color: #fff;"></i></button>
          <button class="btn btn-orange btn-orange-transparent btn-circle btn-circle-navbar refresh-action-btn" style="padding:5px;margin: 8px 2px;" id="btn-timeline-refresh"><i class="fa fa-refresh" style="color: #fff;"></i></button>
        </div>
        <div class="col-xs-4 text-center" style="margin-top: 3px;"><h4 class="uppercase timeline-header-text">Patient <%= PatientSummaryHelpers::OutpatientHelper.default_active_tab(current_user) %></h4></div>
        <div class="col-xs-6 text-right">
          <% if Authorization::PolicyHelper.verification(current_user.id, "HGP-102-110-101") %>
            <button id="btn-timeline-view" class="<%= nav_button_class %> <%= 'selected' if PatientSummaryHelpers::OutpatientHelper.default_active_tab(current_user) == 'timeline' %>" title="Timeline"><i class="fa fa-list"></i></button>
            <% unless PatientSummaryHelpers::OutpatientHelper.get_last_tab(current_user) == 'timeline' %> <span style='font-size:20px;font-weight:bolder;'>-</span> <% end %> 
          <% end %>
          <% if Authorization::PolicyHelper.verification(current_user.id, "HGP-102-110-102") %>
            <button id="btn-uploads-view" class="<%= nav_button_class %> <%= 'selected' if PatientSummaryHelpers::OutpatientHelper.default_active_tab(current_user) == 'uploads' %>" title="Uploads"><i class="fa fa-file-image-o"></i></button>
            <% unless PatientSummaryHelpers::OutpatientHelper.get_last_tab(current_user) == 'uploads' %> <span style='font-size:20px;font-weight:bolder;'>-</span> <% end %>
          <% end %>
          <% if Authorization::PolicyHelper.verification(current_user.id, "HGP-102-110-103") %>
            <button id="btn-medications-view" class="<%= nav_button_class %> <%= 'selected' if PatientSummaryHelpers::OutpatientHelper.default_active_tab(current_user) == 'medications' %>" title="Medications"><i class="fa fa-medkit"></i></button>
            <% unless PatientSummaryHelpers::OutpatientHelper.get_last_tab(current_user) == 'medications' %> <span style='font-size:20px;font-weight:bolder;'>-</span> <% end %>
          <% end %>
          <% if Authorization::PolicyHelper.verification(current_user.id, "HGP-102-110-104") %>
            <button id="btn-investigations-view" class="<%= nav_button_class %> <%= 'selected' if PatientSummaryHelpers::OutpatientHelper.default_active_tab(current_user) == 'investigations' %>" title="Investigations"><i class="fa fa-scissors"></i></button>
            <% unless PatientSummaryHelpers::OutpatientHelper.get_last_tab(current_user) == 'investigations' %> <span style='font-size:20px;font-weight:bolder;'>-</span> <% end %>
          <% end %>
          <% if current_organisation["specialty_ids"].include?("309988001") && Authorization::PolicyHelper.verification(current_user.id, "HGP-102-110-105") %>
            <button id="btn-optical-view" class="<%= nav_button_class %> <%= 'selected' if PatientSummaryHelpers::OutpatientHelper.default_active_tab(current_user) == 'optical' %>" title="Optical"><i class="fa fa-eye"></i></button>
            <% unless PatientSummaryHelpers::OutpatientHelper.get_last_tab(current_user) == 'optical' %> <span style='font-size:20px;font-weight:bolder;'>-</span> <% end %> 
          <% end %>
          <% if current_facility.show_finances && Authorization::PolicyHelper.verification(current_user.id, "HGP-102-110-106") %>
            <button id="btn-invoices-view" class="<%= nav_button_class %> <%= 'selected' if PatientSummaryHelpers::OutpatientHelper.default_active_tab(current_user) == 'bills' %>" title="Bills"><i class="fa fa-money"></i></button>
          <% end %>
        </div>
      </div>
    </nav>
  <% end %>
</div>

<div id="timeline_summary" style="height: calc(100% - 50px); margin-top: 50px; overflow-y: auto;background:#fff">
  <%= render partial: "patient_summary_timelines/timeline_details/#{ PatientSummaryHelpers::OutpatientHelper.default_active_tab(current_user) }" %>
</div>

<script type="text/javascript">
  var mode = "<%= @mode %>"

  $(".timeline-back-btn").on('click', function(){
    if (mode == 'tabview') {
      Android.closeSummary();
    }
  })

  $("#btn-timeline-refresh").on('click', function(){
    filter_timeline(true)
  })

  $(".timeline-btn").on('click', function(){
    if(!($(this).hasClass('selected'))){
      $(this).addClass('selected').siblings('.selected').removeClass('selected')
      filter_timeline(false)
    }
  })

  function filter_timeline(use_filter){
    var title = $(".timeline-btn.selected").attr('title')
    var investigation_state = $(".investigation-state-filter").val()
    if(use_filter == true){
      var filter = $(".filter-header").find('.active').find('.filter-tab').data('tab-id')
    }
    if(title == "Timeline"){
      $(".timeline-view-content").html("<div class='loading_dots'><span></span> <span></span> <span></span></div>")
    } else if(title == "Uploads"){
      $(".assets-view-content").html("<div class='loading_dots'><span></span> <span></span> <span></span></div>")
    }
    $.ajax({
      type: "GET",
      dataType: "script",
      data: {
        patient_id: '<%= @patient.id.to_s %>',
        title: title,
        filter: filter,
        investigation_state: investigation_state,
        mode: mode
      },
      url: "/patient_summary_timelines/filter_main_content",
      success: function(){
        if (mode != 'tabview') {
          $(".timeline-header-text").html("Patient " + title)
        }
      }
    })
  }

  $("#btn-back-refresh").on('click', function(){
    var url = "<%= @back_params['url'] %>"
    if(url.length > 0){
      let active_user = "<%= @back_params['appointment_id'].to_s != '' ? @back_params['active_user'] : @back_params['active_doctor'] %>"
      $.ajax({
        type: "GET",
        dataType: "script",
        url: url,
        data: {
          appointment_id: "<%= @back_params['appointment_id'] %>",
          admission_id: "<%= @back_params['admission_id'] %>",
          ot_id: "<%= @back_params['ot_id'] %>",
          active_tab: "<%= @back_params['active_tab'] %>",
          active_user: active_user,
          active_doctor: "<%= @back_params['active_doctor'] %>",
          doctors_list: "<%= @back_params['doctors_list'] %>",
          current_date: "<%= @back_params['current_date'] %>"
        }
      });
      history.pushState('', '', url); // history.pushState([data], [title], [url]);
    } else {
      window.history.back();

      setTimeout(function(){
        $('body').on("click",".custom-radio-button", function(e) {
          var current_class = $(this).attr("class");
          var target_id = $(this).parent().attr("target-input-id");
          var target_value = "";

          if(current_class.indexOf("btn-brown") >= 0 && target_value !== "") {
            $(this).removeClass('btn-brown');
            $(this).blur();
          } else {
            $(this).addClass('btn-brown').siblings().removeClass('btn-brown');
            target_value = $(this).attr("input-value");
          }
          $("#"+target_id).val(target_value);
          $("#"+target_id).trigger("change");
          console.log(target_value);
        });

        $('body').on('click','.custom-checkbox', function(e) {

          var current_class = $(this).attr("class");
          var target_id = $(this).parent().attr("target-input-id");
          var target_value = "";
          var target_prev_value = $("#"+target_id).val();
          if(target_prev_value !== "") {
            var values_array = target_prev_value.split(",");
          } else {
            var values_array = Array();
          }

          if(current_class.indexOf("btn-darkblue") >= 0) {
            $(this).removeClass('btn-darkblue');
            values_array.splice( $.inArray($(this).attr("input-value"), values_array), 1 );
            $(this).blur();
          } else {
            $(this).addClass('btn-darkblue');
            values_array.push($(this).attr("input-value"))

          }
          target_value = values_array.toString();
          $("#"+target_id).val(target_value);
          $("#"+target_id).trigger("change");
        });
      }, 2000);
    }
  })
</script>
