<div class="modal-dialog modal-lg" style="width:45%;">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Collection Summary For <%= @collection_stats.user_name.titleize %> On <%= @collection_stats.receipt_date.strftime("%d %b'%y") %> In <%=@collection_stats.department_name%></h4>
    </div>
    <div class="modal-body">
      <% if @collection_stats.advance_info.count > 0 || @collection_stats.bills_info.count > 0 || @collection_stats.advance_bills_refund_info.count > 0 %>
        <div class="row advance-info mb20">
          <div class="col-md-12">
            <table class="table table-bordered table-padding-5">
              <thead>
                <tr>
                  <th style="padding: 5px;">Type</th>
                  <th style="padding: 5px;">Mode Of Payment</th>
                  <th style="padding: 5px;"># Of Receipts</th>
                  <th style="padding: 5px;">Amount</th>
                </tr>
              </thead>
              <tbody>
                <% if @collection_stats.advance_info.count > 0 %>
                  <% @collection_stats.advance_info.each do |advance_payment| %>
                    <tr class="incoming">
                      <td>Advance</td>
                      <td><%=advance_payment['mop'].titleize%></td>
                      <td><%=advance_payment['count']%></td>
                      <td><%=advance_payment['amount']%></td>
                    </tr>
                  <% end %>
                <% end %>
                <% if @collection_stats.bills_info.count > 0 %>
                  <% @collection_stats.bills_info.each do |bill_payment| %>
                    <tr class="incoming">
                      <td>Bill</td>
                      <td><%=bill_payment['mop'].titleize%></td>
                      <td><%=bill_payment['count']%></td>
                      <td><%=bill_payment['amount']%></td>
                    </tr>
                  <% end %>
                <% end %>
                <% if @collection_stats.advance_bills_refund_info.count > 0 %>
                  <% @collection_stats.advance_bills_refund_info.each do |refund_info| %>
                    <tr class="outgoing">
                      <td>Refund</td>
                      <td><%=refund_info['mop'].titleize%></td>
                      <td><%=refund_info['count']%></td>
                      <td><%=refund_info['amount']%></td>
                    </tr>
                  <% end %>
                <% end %>
                <tr class="final-collection">
                  <td colspan="2">Net Collection (<font class="text-green">Bill/Advance</font> - <font class="text-red">Refund</font>)</td>
                  <td><%=@receipt_count%></td>
                  <td><%=@collection_stats.net_collection%></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
