<% all_user ||= false %>
<%if all_user%><strong class="foss-f11"><%=table_title%> Collection</strong><%end%>
<table class="table">
  <% if all_mops.count > 0 %>
    <tr>
      <th style="text-align: right;"><strong><%if all_user%>All Users<%else%>Bill Type<%end%></strong></th>
      <% mop.each do |mode_of_payment| %>
        <th style="text-align: right;"><strong><%=mode_of_payment%></strong></th>
      <% end %>
      <th style="text-align: right;"><strong>Total</strong></th>
    </tr>
    <%if all_user%>
      <% all_mops.each do |k, v| %>
        <% total = 0 %>
        <tr>
          <td style="text-align: right;" width="10%"><%= k.titleize%></td>
          <% mop.each do |mode_of_payment| %>
            <td style="text-align: right;" width="10%"><%= v[mode_of_payment] || 0 %></td>
            <% total = total + v[mode_of_payment] %>
          <% end %>
          <td style="text-align: right;" width="10%"><%= total || 0 %></td>
        </tr>
      <% end %>
    <% else %>
      <% all_mops.each do |k, v| %>
        <tr>
          <td style="text-align: right;" width="10%"><%= k.titleize%></td>
          <% mop.each do |mode_of_payment| %>
            <td style="text-align: right;" width="10%"><%= v[mode_of_payment] || 0 %></td>
          <% end %>
          <td style="text-align: right;" width="10%"><%= v['Net'] || 0 %></td>
        </tr>
      <% end %>
    <% end %>
  <% else %>
    <tr>
      <td colspan="10" style="text-align: center;">No Data Found</td>
    </tr>
  <% end %>
  
</table>
