<div class="container-fluid" style="background: #EEF1F7; margin-top: 50px; position: fixed; height: 100%; padding-left: 0; padding-right: 0; width: 100%;">
 <div class="col-sm-12">
    <div id="toolbar_area">

    </div>
  </div>
  <div id="sidebar" class="col-sm-2" style="background: #fff; height: 100%; overflow-y: hidden;margin-top:50px;-webkit-box-shadow: 5px 0 5px -2px #888;box-shadow: 5px 0 5px -2px #888;padding:0px;">
    
  </div>

  <div id="main_area" class="col-sm-10" style="overflow-y: scroll; height: 100%; padding-left: 0;">
    <div id="reports_content" style="padding: 10px; margin-top: 50px;">
      Hello
    </div>
    
    <div id="facility_dropdown" style="display: none;">
      <% @facilities.each do |f| %>
        <span data-facility-id="<%= f.id %>"><%= f.name %></span>
      <% end %>
    </div>

    <div id="facility_inventories" style="display: none;">
      <% @facilities.each do |f| %>
        <ul data-facility-name="<%= f.name %>" data-facility-id="<%= f.id %>">
          <% Inventory::Department.where(facility_id: f.id).each do |i| %>
            <li data-inventory-id="<%= i.department_id %>"><%= i.name %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $( '.tabular_content' ).on( 'mousewheel DOMMouseScroll', function ( e ) {
      var e0 = e.originalEvent,
          delta = e0.wheelDelta || -e0.detail;
      
      this.scrollTop += ( delta < 0 ? 1 : -1 ) * 30;
      e.preventDefault();
    });
  });
  
</script>