<% 
  services_hash = {}
  @total_recieved = @total_refunds = @total_pending_cancelled = @total_pending =  @total_received_from_pending = @total_refunds_for_pending  = 0.0
  @total_credit_bill = @total_tax_deducted = @total_payer_difference = @total_revenue_spilage = @total_amount_received = 0.0
  cash_bills = {}
  credit_bills_received = {}
  refunds_for_pending = {}
  refunds = {}
 %>
 <div class="row" style="height: <%= @print_settings[0]['header_height'].to_f*2 %>px;"></div>
<% if params[:location] == "OPD"|| params[:location] == "All" %>
  <div class="col-md-12">
    <span class="col-md-4 text-left" style="font-size:12px;"><b>Bills By:</b> <%= @bill_by %></span>
    <span class="col-md-4 text-center" style="font-size:12px;">OPD <%= (@is_draft.present?) ? 'Draft' : '' %> Bills Report (<%= current_facility.name.upcase %>)</span>
    <span class="col-md-4 text-right" style="font-size:12px;">
      <b>Date:</b> <%= @datepicker_date.strftime("%b %d, %Y") %>
    </span>
  </div>
  <br/>
  <div class="row">
    <table class="table" style="padding: 5%;">
      <tr class="invoice_head">
        <th>#</th>
        <th>Patient/ID</th>
        <th>Bill Details</th>
        <th>Bill Status</th>
        <th>Comments</th>
        <th>Items</th>
        <th style="width: 8%;">Discount (<%= current_facility.currency_symbol %>)</th>
        <th>Receipt/ Refund Details</th>
        <th style="white-space: nowrap; text-overflow:ellipsis;">Net Bill Amt.&nbsp;(<%= current_facility.currency_symbol %>)</th>
      </tr>
      <% @total_list_opd.each.with_index do |list, i| %>
        <tr class="invoice_data">
          <td><%= i + 1 %></td>
          <td style="width: 10%;">
            <%= list.patient.fullname.titleize %><br/>
            <span style="font-size: 7px;"><%= PatientIdentifier.find_by(patient_id: list.patient_id.to_s).try(:patient_org_id) %></span>
          </td>

          <td style="width: 23%;">
            <% payer_master = PayerMaster.find_by(id: list.payer_master_id) %>
            <strong><%= list.invoice_type.to_s.titleize %></strong>:
            <span>
              <%= payer_master.present? ? payer_master.display_name.to_s.titleize : 'Self' %>
            </span>
            <b><%= list.bill_number %></b><br>
            By<% user = User.find_by(id: list.user_id.to_s) %>
            <% if user.present? %>
              <strong style="font-size: 7px;"><%= user.try(:fullname) %></strong>
            <% end %>on
            <span style="font-size: 7px; white-space: nowrap; text-overflow:ellipsis;"><%= list.created_at.strftime('%d-%m-%Y') %> <%= list.created_at.strftime('%I:%M %p') %></span>
          </td>
          <td>
            <% refund_amount_with_precision = number_with_precision(list.refund_amount, precision: 2) %>
            <% refund_amount_display = Common::Finance::NumberFormatService.call(@number_format, refund_amount_with_precision) %>
            <% if list.is_canceled %>
              <strong style="color: #d43f3a">Bill Cancelled</strong><br>
            <% end %>
            <% if refund_amount_display.to_i > 0 %>
              <span style="color: #d43f3a"> Refund:&nbsp;<%= refund_amount_display %></span><br>
            <% end %>
            <% if list.invoice_type == 'credit' && list.payment_pending > 0 %>
              <% cancel_text = list.is_canceled ? 'Cancelled Pending' : 'Pending' %>
              <span style="color: #d43f3a"> <%= "#{cancel_text}" %>:&nbsp;<% pending_amount_with_precision = number_with_precision(list.payment_pending, precision: 2) %><% pending_amount_display = Common::Finance::NumberFormatService.call(@number_format, pending_amount_with_precision) %><%= pending_amount_display %></span>
            <% end %>
            <% tax_deducted, payer_difference, revenue_spilage, amount_received  = payment_received_details(list.payment_received_breakups)
              @total_tax_deducted += tax_deducted
              @total_payer_difference += payer_difference
              @total_revenue_spilage += revenue_spilage
              @total_amount_received += amount_received if list.invoice_type == 'credit'
            %>
            <% if tax_deducted > 0 %>
              <br><span>Tax deducted:&nbsp;
                <%= Common::Finance::NumberFormatService.call(@number_format, number_with_precision(tax_deducted, precision: 2)) %>
              </span>
            <% end %>
            <% if payer_difference > 0 %>
              <br><span>Payer difference:&nbsp;
                <%= Common::Finance::NumberFormatService.call(@number_format, number_with_precision(payer_difference, precision: 2)) %>
              </span>
            <% end %>
            <% if revenue_spilage > 0 %>
              <br><span>Spillage:&nbsp;
                <%= Common::Finance::NumberFormatService.call(@number_format, number_with_precision(revenue_spilage, precision: 2)) %>
              </span>
            <% end %>
          </td>
          <td class="text-left" style="font-size: 7px;">
            <% if list.patient_comment.present? %>
              <b style="font-size: 7px;">Ext</b>: <%= list.patient_comment %>
            <% end %>
            <br/>
            <% if list.comments.present? %>
              <b style="font-size: 7px;">Int</b>: <%= list.comments %>
            <% end %>
          </td>
          <td class="text-left" style="font-size: 7px;">
            <% list.services.each_with_index do |service, si| %>
              <% entry_type = case service.entry_type
                 when "surgery_package"
                   '(P)'
                 when 'service'
                   '(S)'
                 else
                  ''
                 end
              %>
              <%= ", \n" if si > 0 %>
              <% unit_price_with_precision = number_with_precision(service.unit_price, precision: 2) %>
              <% unit_price_display = Common::Finance::NumberFormatService.call(@number_format, unit_price_with_precision) %>
              <% if services_hash[service.description].present? %>
                <%= services_hash[service.description] %> <%= entry_type %>: <%= unit_price_display %>
              <% else %>
                <% if list.version == "v20.0" %>
                  <% invoice_service_card = InvoiceServiceCard.find_by(id: service.try(:name)) %>
                    <%= services_hash[service.description] = invoice_service_card&.service_name %> <%= entry_type %>: <%= unit_price_display %>
                <% elsif service.entry_type == 'service' %>
                  <% pricing_master = PricingMaster.find_by(id: service.description) %>
                  <%= services_hash[service.description] = pricing_master&.service_name %> <%= entry_type %>: <%= unit_price_display %>
                <%else %>
                  <% surgery_package = SurgeryPackage.find_by(id: service.description) %>
                  <%= services_hash[service.description] = surgery_package&.display_name %> <%= entry_type %>: <%= unit_price_display %>
                <% end %>
              <% end %>
            <% end %>
          </td>
          <td class="text-left">
            <% if list.try(:services_discount).to_i > 0 %>
              <span class="f-7"><b class="f-7">Item (d)</b>: <%= list.services_discount %></span>
            <% end %>
            <% if list.try(:offer_on_services).to_i > 0 %>
              <br>
              <span class="f-7"><b class="f-7">Item (o)</b>: <%= list.offer_on_services %></span>
            <% end %>
            <% if list.try(:additional_discount).to_i > 0 %>
              <br>
              <span class="f-7"><b class="f-7">Bill (d)</b>: <%= list.additional_discount %></span>
            <% end %>
            <% if list.try(:offer_on_bill).to_i > 0 %>
              <br>
              <span class="f-7"><b class="f-7">Bill (o)</b>: <%= list.offer_on_bill %></span>
            <% end %>
          </td>
          <div>
          <td class="separated" style="width: 22%;font-size: 7px;">
            <% if list.advance_payment_breakups.count > 0 %>
              <b>Advance</b>
              <% list.advance_payment_breakups.try(:each_with_index) do |advance_payment, index| %>
                <% advance_payment_amount_with_precision =  number_with_precision(advance_payment[:amount].to_f, precision: 2) %><% advance_payment_amount_display = Common::Finance::NumberFormatService.call(@number_format, advance_payment_amount_with_precision) %>
                <div class="payment-details" style="font-size: 7px;">
                  <b style="font-size: 7px;">
                    <%= advance_payment[:mode_of_payment] %>: <%= advance_payment_amount_display %>
                  </b>
                  <% mop_sym = advance_payment[:mode_of_payment].downcase.gsub(" ", "_") %>
                  <%= send("#{mop_sym}_details", advance_payment)%>
                  <% if advance_payment[:advance_display_id].present? %>
                    <%= advance_payment[:advance_display_id] %><br/>By
                  <% end %>
                    <% user_name = if advance_payment[:user_id].present?
                         User.find_by(id: advance_payment[:user_id]).try(:fullname)
                       else
                        ""
                       end %>
                  <span style="font-size: 7px;">
                     <%= "#{user_name} on #{advance_payment[:advance_date].strftime('%d-%m-%Y')} #{advance_payment[:advance_time].strftime('%I:%M %p')}" %>
                    <br/>
                  </span>
                </div>
              <% end %>
              <hr/>
            <% end %>
            <% list.payment_received_breakups.try(:each_with_index) do |payment_received, index| %>
              <% next if payment_received[:amount_received].to_f == 0 %>
              <% payment_received_date = (payment_received.try(:date).present?) ? payment_received.date.strftime('%d-%m-%Y') : '' %>
              <% payment_received_time = (payment_received.try(:time).present?) ? payment_received.time.strftime('%I:%M %p') : '' %>
              <div class="payment-details" style="font-size: 7px;">
                  <% payment_received_amount_with_precision = number_with_precision(payment_received[:amount_received].to_f, precision: 2) %>
                  <% payment_received_amount_display = Common::Finance::NumberFormatService.call(@number_format, payment_received_amount_with_precision) %>
                  <b style="font-size: 7px;"><%= payment_received[:mode_of_payment] %>: <%= payment_received_amount_display %></b>
                  <% if payment_received[:card_number].present? %>
                    Card Number: <%= payment_received[:card_number] %>
                  <% end %>
                  <% if payment_received[:card_number].present? && payment_received[:card_transaction_note].present? %>
                  |
                  <% end %>
                  <% if payment_received[:card_transaction_note].present? %>
                    Txn Note: <%= payment_received[:card_transaction_note] %>
                  <% end %>

                  <% if payment_received[:paytm_transaction_id].present? %>
                    Txn Id: <%= payment_received[:paytm_transaction_id] %>
                  <% end %>
                  <% if payment_received[:paytm_transaction_id].present? && payment_received[:paytm_transaction_note].present? %>
                    |
                  <% end %>
                  <% if payment_received[:paytm_transaction_note].present? %>
                    Txn Note: <%= payment_received[:paytm_transaction_note] %>
                  <% end %>

                  <% if payment_received[:gpay_transaction_id].present? %>
                    Txn Id: <%= payment_received[:gpay_transaction_id] %>
                  <% end %>
                  <% if payment_received[:gpay_transaction_id].present? && payment_received[:gpay_transaction_note].present? %>
                    |
                  <% end %>
                  <% if payment_received[:gpay_transaction_note].present? %>
                    Txn Note: <%= payment_received[:gpay_transaction_note] %>
                  <% end %>

                  <% if payment_received[:phonepe_transaction_id].present? %>
                    Txn Id: <%= payment_received[:phonepe_transaction_id] %>
                  <% end %>
                  <% if payment_received[:phonepe_transaction_id].present? && payment_received[:phonepe_transaction_note].present? %>
                  |
                  <% end %>
                  <% if payment_received[:phonepe_transaction_note].present? %>
                    Txn Note: <%= payment_received[:phonepe_transaction_note] %>
                  <% end %>

                  <% if payment_received[:transfer_date].present? %>
                    Date: <%= payment_received[:transfer_date] %>
                  <% end %>
                  <% if payment_received[:transfer_date].present? && payment_received[:transfer_note].present? %>
                    |
                  <% end %>
                  <% if payment_received[:transfer_note].present? %>
                    Txn Note: <%= payment_received[:transfer_note] %>
                  <% end %>

                  <% if payment_received[:cheque_date].present? %>
                    Date: <%= payment_received[:cheque_date] %>
                  <% end %>
                  <% if payment_received[:cheque_date].present? && payment_received[:cheque_note].present? %>
                    |
                  <% end %>
                  <% if payment_received[:cheque_note].present? %>
                    Txn Note: <%= payment_received[:cheque_note] %>
                  <% end %>

                  <% if payment_received[:other_transaction_id].present? %>
                    Txn Id: <%= payment_received[:other_transaction_id] %>
                  <% end %>
                  <% if payment_received[:other_transaction_id].present? && payment_received[:other_note].present? %>
                    |
                  <% end %>
                  <% if payment_received[:other_note].present? %>
                    Txn Note: <%= payment_received[:other_note] %>
                  <% end %>
                <% if payment_received.receipt_id.present? %>
                  <%= payment_received.receipt_id %><br/>By
                <% end %>
                <span style="font-size: 7px;">
                  <% user_name = if payment_received.received_by.present?
                       User.find_by(id: payment_received.received_by).try(:fullname)
                     else
                      ""
                     end %>
                   <%= "#{user_name} on #{payment_received_date} #{payment_received_time}" %>
                  <br/>
                </span>
                <hr>
              </div>
              <% 
                 if list.invoice_type == 'credit'
                   if credit_bills_received[payment_received[:mode_of_payment]].present?
                     credit_bills_received[payment_received[:mode_of_payment]] += payment_received[:amount_received].to_f
                   else
                     credit_bills_received[payment_received[:mode_of_payment]] = payment_received[:amount_received].to_f
                   end
                 else
                   if cash_bills[payment_received[:mode_of_payment]].present?
                     cash_bills[payment_received[:mode_of_payment]] += payment_received[:amount].to_f
                   else
                     cash_bills[payment_received[:mode_of_payment]] = payment_received[:amount].to_f
                   end
                   @total_recieved += payment_received[:amount].to_f 
                 end
               %>
              <% end %>
              <% 
                 if list.invoice_type == 'credit'
                   @total_pending_cancelled += list.payment_pending if list.is_canceled == true
                   @total_pending += list.payment_pending if list.is_canceled == false
                   @total_received_from_pending += list.payment_received
                   @total_credit_bill += list.net_amount
                 end
               %>

            <% if list.refund_payments.count > 0 %>
              <%list.refund_payments.each_with_index do |refund_payment, index| %>
                <div class="refund_details" style="font-size: 7px;">
                  <% refund_payment_amount_with_precision = number_with_precision(refund_payment.amount.to_f, precision: 2) %>
                  <% refund_payment_amount_display = Common::Finance::NumberFormatService.call(@number_format, refund_payment_amount_with_precision)%>
                  <b style="font-size: 7px;color: #d43f3a"><%= refund_payment.mode_of_payment %>: <%= refund_payment_amount_display %></b>
                  <% if refund_payment.card_number.present? %>
                    Card Number: <%= refund_payment.card_number %>
                  <% end %>
                  <% if refund_payment.card_number.present? && refund_payment.card_transaction_note.present? %>
                  |
                  <% end %>
                  <% if refund_payment.card_transaction_note.present? %>
                    Txn Note: <%= refund_payment.card_transaction_note %>
                  <% end %>

                  <% if refund_payment.paytm_transaction_id.present? %>
                    Txn Id: <%= refund_payment.paytm_transaction_id %>
                  <% end %>
                  <% if refund_payment.paytm_transaction_id.present? && refund_payment.paytm_transaction_note.present? %>
                    |
                  <% end %>
                  <% if refund_payment.paytm_transaction_note.present? %>
                    Txn Note: <%= refund_payment.paytm_transaction_note %>
                  <% end %>

                  <% if refund_payment.gpay_transaction_id.present? %>
                    Txn Id: <%= refund_payment.gpay_transaction_id %>
                  <% end %>
                  <% if refund_payment.gpay_transaction_id.present? && refund_payment.gpay_transaction_note.present? %>
                    |
                  <% end %>
                  <% if refund_payment.gpay_transaction_note.present? %>
                    Txn Note: <%= refund_payment.gpay_transaction_note %>
                  <% end %>

                  <% if refund_payment.phonepe_transaction_id.present? %>
                    Txn Id: <%= refund_payment.phonepe_transaction_id %>
                  <% end %>
                  <% if refund_payment.phonepe_transaction_id.present? && refund_payment.phonepe_transaction_note.present? %>
                  |
                  <% end %>
                  <% if refund_payment.phonepe_transaction_note.present? %>
                    Txn Note: <%= refund_payment.phonepe_transaction_note %>
                  <% end %>

                  <% if refund_payment.transfer_date.present? %>
                    Date: <%= refund_payment.transfer_date %>
                  <% end %>
                  <% if refund_payment.transfer_date.present? && refund_payment.transfer_note.present? %>
                    |
                  <% end %>
                  <% if refund_payment.transfer_note.present? %>
                    Txn Note: <%= refund_payment.transfer_note %>
                  <% end %>

                  <% if refund_payment.cheque_date.present? %>
                    Date: <%= refund_payment.cheque_date %>
                  <% end %>
                  <% if refund_payment.cheque_date.present? && refund_payment.cheque_note.present? %>
                    |
                  <% end %>
                  <% if refund_payment.cheque_note.present? %>
                    Txn Note: <%= refund_payment.cheque_note %>
                  <% end %>

                  <% if refund_payment.other_transaction_id.present? %>
                    Txn Id: <%= refund_payment.other_transaction_id %>
                  <% end %>
                  <% if refund_payment.other_transaction_id.present? && refund_payment.other_note.present? %>
                    |
                  <% end %>
                  <% if refund_payment.other_note.present? %>
                    Txn Note: <%= refund_payment.other_note %>
                  <% end %>
                <% if refund_payment.refund_display_id.present? %>
                  <span style="font-size: 7px;"><%= refund_payment.refund_display_id %> By</span><br/>
                  
                <% end %>
                  <span style="font-size: 7px;">
                    <%= "#{(refund_payment.refunded_by || list.refunded_by)}" %> on
                    <%= refund_payment.try(:refund_time).try(:strftime, '%I:%M %p') || list.try(:refund_time).try(:strftime, '%I:%M %p') %>, <%= refund_payment.try(:refund_date).try(:strftime, '%d-%m-%Y') || list.try(:refund_date).try(:strftime, '%d-%m-%Y') %>
                  </span>
                  <hr>
                </div>
                <% 
                   if list.invoice_type == 'credit'
                     if refunds_for_pending[refund_payment[:mode_of_payment]].present?
                       refunds_for_pending[refund_payment[:mode_of_payment]] += refund_payment.amount.to_f
                     else
                       refunds_for_pending[refund_payment[:mode_of_payment]] = refund_payment.amount.to_f
                     end
                     @total_refunds_for_pending += refund_payment.amount.to_f
                   else
                     if refunds[refund_payment[:mode_of_payment]].present?
                       refunds[refund_payment[:mode_of_payment]] += refund_payment.amount.to_f
                     else
                       refunds[refund_payment[:mode_of_payment]] = refund_payment.amount.to_f
                     end
                     @total_refunds += refund_payment.amount.to_f
                   end
                 %>
              <% end %>
            <% end %>

          </td>
          </div>
          <td style="text-align: right;padding-right: 0 !important;"><% net_amount_with_precision = number_with_precision(list.net_amount, precision: 2) %><% net_amount_display = Common::Finance::NumberFormatService.call(@number_format, net_amount_with_precision) %><%= net_amount_display %></td>
        </tr>
      <% end %>
      <% opd_invoices = @total_list_opd.group_by(&:currency_symbol) %>
      <tr class="invoice_head" style="font-size: 12px;">
        <td colspan="6" style="background: #E8E8E8;border-right: 0 !important;"></td>
        <th colspan="2" class="text-left" style="background: #E8E8E8;text-align: left;border-left: 0 !important;">Gross Bill Total:</th>
        <th style="background: #E8E8E8;text-align: right;">
          <% opd_invoices.each do |currency_symbol, invoices| %>
            <% invoices_sum = invoices.map { |invoice| invoice.total.to_f }.sum %>
            <% invoices_sum_with_precision = number_with_precision(invoices_sum, precision: 2) %><% invoices_sum_display = Common::Finance::NumberFormatService.call(@number_format, invoices_sum_with_precision) %><%= invoices_sum_display %><br>
          <% end %>
        </th>
      </tr>
      <tr class="invoice_head" style="font-size: 12px;">
        <td colspan="6" style="background: #E8E8E8;border-right: 0 !important;"></td>
        <th colspan="2" class="text-left" style="background: #E8E8E8;text-align: left;border-left: 0 !important;">Discounts and Offer Total:</th>
        <th class="text-right" style="background: #E8E8E8;text-align: right;">
          <% opd_invoices.each do |currency_symbol, invoices| %>
            <% invoices_sum = invoices.map { |invoice| invoice.total_of_all_discount.to_f }.sum %>
            <% invoices_sum_with_precision = number_with_precision(invoices_sum, precision: 2) %><% invoices_sum_display = Common::Finance::NumberFormatService.call(@number_format, invoices_sum_with_precision) %><%= invoices_sum_display %><br>
          <% end %>
        </th>
      </tr>
      <tr class="invoice_head" style="font-size: 12px;">
        <td colspan="6" style="background: #E8E8E8;border-right: 0 !important;"></td>
        <th colspan="2" class="text-left" style="background: #E8E8E8;text-align: left;border-left: 0 !important;">Total Billed Amount:</th>
        <th class="text-right" style="background: #E8E8E8;text-align: right;">
          <% opd_invoices.each do |currency_symbol, invoices| %>
            <% invoices_sum = invoices.map { |invoice| invoice.net_amount.to_f }.sum %>
            <% invoices_sum_with_precision = number_with_precision(invoices_sum, precision: 2) %><% invoices_sum_display = Common::Finance::NumberFormatService.call(@number_format, invoices_sum_with_precision) %><%= invoices_sum_display %><br>
          <% end %>
        </th>
      </tr>
    </table>
  </div>
  <!-- <div class="page_break"></div> -->
<% end %>
<% if params[:location] == "IPD" || params[:location] == "All" %>
  <div class="col-md-12">
    <span class="col-md-4 text-left" style="font-size:12px;"><b>Bills By:</b> <%= @bill_by %></span>
    <span class="col-md-4 text-center" style="font-size:12px;">IPD <%= (@is_draft.present?) ? 'Draft' : '' %> Bills Report (<%= current_facility.name.upcase %>)</span>
    <span class="col-md-4 text-right" style="font-size:12px;">
      <b>Date:</b> <%= @datepicker_date.strftime("%b %d, %Y") %>
    </span>
  </div>
  <br/>
  <div class="row">
    <table class="table" >
      <tr class="invoice_head">
        <th>#</th>
        <th>Patient/ID</th>
        <th>Bill Details</th>
        <th>Bill Status</th>
        <th>Comments</th>
        <th>Items</th>
        <th>Discount (<%= current_facility.currency_symbol %>)</th>
        <th>Receipt/ Refund Details</th>
        <th>Net Bill Amt.&nbsp;(<%= current_facility.currency_symbol %>)</th>
      </tr>
      <% @total_list_ipd.each.with_index do |list, i| %>
        <tr class="invoice_data">
          <td><%= i + 1 %></td>
          <td>
            <%= list.patient.fullname %><br/>
            <span style="font-size: 7px;"><%= PatientIdentifier.find_by(patient_id: list.patient_id.to_s).try(:patient_org_id) %></span>
          </td>
          <td style="width: 23%;">
            <% payer_master = PayerMaster.find_by(id: list.payer_master_id) %>
            <strong><%= list.invoice_type.to_s.titleize %></strong>:
            <span>
              <%= payer_master.present? ? payer_master.display_name.to_s.titleize : 'Self' %>
            </span>
            <b><%= list.bill_number %></b><br>
            By<% user = User.find_by(id: list.user_id.to_s) %>
            <% if user.present? %>
              <strong style="font-size: 7px;"><%= user.try(:fullname) %></strong>
            <% end %>on
            <span style="font-size: 7px; white-space: nowrap; text-overflow:ellipsis;"><%= list.created_at.strftime('%d-%m-%Y') %> <%= list.created_at.strftime('%I:%M %p') %></span>
          </td>
          <td>
            <% refund_amount_with_precision = number_with_precision(list.refund_amount, precision: 2) %>
            <% refund_amount_display = Common::Finance::NumberFormatService.call(@number_format, refund_amount_with_precision) %>
            <% if list.is_canceled %>
              <strong style="color: #d43f3a">Bill Cancelled</strong><br>
            <% end %>
            <% if refund_amount_display.to_i > 0 %>
              <span style="color: #d43f3a"> Refund:&nbsp;<%= refund_amount_display %></span><br>
            <% end %>
            <% if list.invoice_type == 'credit' && list.payment_pending > 0 %>
              <% cancel_text = list.is_canceled ? 'Cancelled Pending' : 'Pending' %>
              <span style="color: #d43f3a"> <%= "#{cancel_text}" %>:&nbsp;<% pending_amount_with_precision = number_with_precision(list.payment_pending, precision: 2) %><% pending_amount_display = Common::Finance::NumberFormatService.call(@number_format, pending_amount_with_precision) %><%= pending_amount_display %></span>
            <% end %>
            <% tax_deducted, payer_difference, revenue_spilage, amount_received  = payment_received_details(list.payment_received_breakups)
              @total_tax_deducted += tax_deducted
              @total_payer_difference += payer_difference
              @total_revenue_spilage += revenue_spilage
              @total_amount_received += amount_received if list.invoice_type == 'credit'
            %>
            <% if tax_deducted > 0 %>
              <br><span> Tax deducted:&nbsp;
                <%= Common::Finance::NumberFormatService.call(@number_format, number_with_precision(tax_deducted, precision: 2)) %>
              </span>
            <% end %>
            <% if payer_difference > 0 %>
              <br><span>Payer difference:&nbsp;
                <%= Common::Finance::NumberFormatService.call(@number_format, number_with_precision(payer_difference, precision: 2)) %>
              </span>
            <% end %>
            <% if revenue_spilage > 0 %>
              <br><span>Spillage:&nbsp;
                <%= Common::Finance::NumberFormatService.call(@number_format, number_with_precision(revenue_spilage, precision: 2)) %>
              </span>
            <% end %>
          </td>
          <td  class="text-left" style="font-size: 7px;">
            <% if list.patient_comment.present? %>
              Ext: <span style="font-size: 7px;"><%= list.patient_comment %></span>
            <% end %>
            <br/>
            <% if list.comments.present? %>
              Int: <span style="font-size: 7px;"><%= list.comments %></span>
            <% end %>
          </td>
          <td class="text-left" style="font-size: 7px;">
            <% list.services.each_with_index do |service, si| %>
              <% entry_type = case service.entry_type
                 when "surgery_package"
                   '(P)'
                 when 'service'
                   '(S)'
                 when 'bill_of_material'
                  '(I)'
                 else
                  ''
                 end
              %>
              <%= ', ' if si > 0 %>
              <% unit_price_with_precision = number_with_precision(service.unit_price, precision: 2) %>
              <% unit_price_display = Common::Finance::NumberFormatService.call(@number_format, unit_price_with_precision) %>
              <% if services_hash[service.description].present? %>
                <%= services_hash[service.description] %> <%= entry_type %>: <%= unit_price_display %>
              <% elsif service.entry_type == 'bill_of_material' %>
                <% bill_of_material = Inpatient::BillOfMaterial.find_by(id: service.description)%>
                OT Consumables | <%= bill_of_material.transaction_date %>&nbsp;&nbsp;|&nbsp;&nbsp;
                <%= bill_of_material.transaction_time&.strftime("%I:%M%p") %> <%= entry_type %>: <%= unit_price_display %>
              <% else %>
                <% if list.version == "v20.0" %>
                  <% invoice_service_card = InvoiceServiceCard.find_by(id: service.try(:name)) %>
                    <%= services_hash[service.description] = invoice_service_card&.service_name %> <%= entry_type %>: <%= unit_price_display %>
                <% elsif service.entry_type == 'service' %>
                  <% pricing_master = PricingMaster.find_by(id: service.description) %>
                  <%= services_hash[service.description] = pricing_master&.service_name %> <%= entry_type %>: <%= unit_price_display %>
                <% else %>
                  <% surgery_package = SurgeryPackage.find_by(id: service.description) %>
                  <%= services_hash[service.description] = surgery_package&.display_name %> <%= entry_type %>: <%= unit_price_display %>
                <% end %>
              <% end %>
            <% end %>
          </td>
          <td class="text-left">
            <% if list.try(:services_discount).to_i > 0 %>
              <span class="f-7"><b class="f-7">Item (d)</b>: <%= list.services_discount %></span>
            <% end %>
            <% if list.try(:offer_on_services).to_i > 0 %>
              <br>
              <span class="f-7"><b class="f-7">Item (o)</b>: <%= list.offer_on_services %></span>
            <% end %>
            <% if list.try(:additional_discount).to_i > 0 %>
              <br>
              <span class="f-7"><b class="f-7">Bill (d)</b>: <%= list.additional_discount %></span>
            <% end %>
            <% if list.try(:offer_on_bill).to_i > 0 %>
              <br>
              <span class="f-7"><b class="f-7">Bill (o)</b>: <%= list.offer_on_bill %></span>
            <% end %>
          </td>

          <div>
          <td class="separated" style="width: 22%;font-size: 7px;">
            <% if list.advance_payment_breakups.count > 0 %>
              <b>Advance</b>
              <% list.advance_payment_breakups.try(:each_with_index) do |advance_payment, index| %>
                <% advance_payment_amount_with_precision =  number_with_precision(advance_payment[:amount].to_f, precision: 2) %><% advance_payment_amount_display = Common::Finance::NumberFormatService.call(@number_format, advance_payment_amount_with_precision) %>
                <div class="payment-details" style="font-size: 7px;">
                  <b style="font-size: 7px;">
                    <%= advance_payment[:mode_of_payment] %>: <%= advance_payment_amount_display %>
                  </b>
                  <% mop_sym = advance_payment[:mode_of_payment].downcase.gsub(" ", "_") %>
                  <%= send("#{mop_sym}_details", advance_payment)%>
                  <% if advance_payment[:advance_display_id].present? %>
                    <%= advance_payment[:advance_display_id] %><br/>By
                  <% end %>
                    <% user_name = if advance_payment[:user_id].present?
                         User.find_by(id: advance_payment[:user_id]).try(:fullname)
                       else
                        ""
                       end %>
                  <span style="font-size: 7px;">
                     <%= "#{user_name} on #{advance_payment[:advance_date].strftime('%d-%m-%Y')} #{advance_payment[:advance_time].strftime('%I:%M %p')}" %>
                    <br/>
                  </span>
                </div>
              <% end %>
              <hr/>
            <% end %>
            <% list.payment_received_breakups.try(:each_with_index) do |payment_received, index| %>
              <% next if payment_received[:amount_received].to_f == 0 %>
              <div class="payment-details" style="font-size: 7px;">
                  <% payment_received_amount_with_precision = number_with_precision(payment_received[:amount_received].to_f, precision: 2) %>
                  <% payment_received_amount_display = Common::Finance::NumberFormatService.call(@number_format, payment_received_amount_with_precision) %>
                  <b style="font-size: 7px;"><%= payment_received[:mode_of_payment] %>: <%= payment_received_amount_display %></b>
                  <% if payment_received[:card_number].present? %>
                    Card Number: <%= payment_received[:card_number] %>
                  <% end %>
                  <% if payment_received[:card_number].present? && payment_received[:card_transaction_note].present? %>
                  |
                  <% end %>
                  <% if payment_received[:card_transaction_note].present? %>
                    Txn Note: <%= payment_received[:card_transaction_note] %>
                  <% end %>

                  <% if payment_received[:paytm_transaction_id].present? %>
                    Txn Id: <%= payment_received[:paytm_transaction_id] %>
                  <% end %>
                  <% if payment_received[:paytm_transaction_id].present? && payment_received[:paytm_transaction_note].present? %>
                    |
                  <% end %>
                  <% if payment_received[:paytm_transaction_note].present? %>
                    Txn Note: <%= payment_received[:paytm_transaction_note] %>
                  <% end %>

                  <% if payment_received[:gpay_transaction_id].present? %>
                    Txn Id: <%= payment_received[:gpay_transaction_id] %>
                  <% end %>
                  <% if payment_received[:gpay_transaction_id].present? && payment_received[:gpay_transaction_note].present? %>
                    |
                  <% end %>
                  <% if payment_received[:gpay_transaction_note].present? %>
                    Txn Note: <%= payment_received[:gpay_transaction_note] %>
                  <% end %>

                  <% if payment_received[:phonepe_transaction_id].present? %>
                    Txn Id: <%= payment_received[:phonepe_transaction_id] %>
                  <% end %>
                  <% if payment_received[:phonepe_transaction_id].present? && payment_received[:phonepe_transaction_note].present? %>
                  |
                  <% end %>
                  <% if payment_received[:phonepe_transaction_note].present? %>
                    Txn Note: <%= payment_received[:phonepe_transaction_note] %>
                  <% end %>

                  <% if payment_received[:transfer_date].present? %>
                    Date: <%= payment_received[:transfer_date] %>
                  <% end %>
                  <% if payment_received[:transfer_date].present? && payment_received[:transfer_note].present? %>
                    |
                  <% end %>
                  <% if payment_received[:transfer_note].present? %>
                    Txn Note: <%= payment_received[:transfer_note] %>
                  <% end %>

                  <% if payment_received[:cheque_date].present? %>
                    Date: <%= payment_received[:cheque_date] %>
                  <% end %>
                  <% if payment_received[:cheque_date].present? && payment_received[:cheque_note].present? %>
                    |
                  <% end %>
                  <% if payment_received[:cheque_note].present? %>
                    Txn Note: <%= payment_received[:cheque_note] %>
                  <% end %>

                  <% if payment_received[:other_transaction_id].present? %>
                    Txn Id: <%= payment_received[:other_transaction_id] %>
                  <% end %>
                  <% if payment_received[:other_transaction_id].present? && payment_received[:other_note].present? %>
                    |
                  <% end %>
                  <% if payment_received[:other_note].present? %>
                    Txn Note: <%= payment_received[:other_note] %>
                  <% end %>
                <% if payment_received.receipt_id.present? %>
                  <%= payment_received.receipt_id %><br/>By
                <% end %>
                <span style="font-size: 7px;">
                  <% user_name = if payment_received.received_by.present?
                       User.find_by(id: payment_received.received_by).try(:fullname)
                     else
                      ""
                     end %>
                   <%= "#{user_name} on #{payment_received.date.strftime('%d-%m-%Y')} #{payment_received.time.strftime('%I:%M %p')}" %>
                  <br/>
                </span>
                <hr>
              </div>
              <% 
                 if list.invoice_type == 'credit'
                   if credit_bills_received[payment_received[:mode_of_payment]].present?
                     credit_bills_received[payment_received[:mode_of_payment]] += payment_received[:amount_received].to_f
                   else
                     credit_bills_received[payment_received[:mode_of_payment]] = payment_received[:amount_received].to_f
                   end
                 else
                   if cash_bills[payment_received[:mode_of_payment]].present?
                     cash_bills[payment_received[:mode_of_payment]] += payment_received[:amount].to_f
                   else
                     cash_bills[payment_received[:mode_of_payment]] = payment_received[:amount].to_f
                   end
                   @total_recieved += payment_received[:amount].to_f 
                 end
               %>
              <% end %>
              <% 
                 if list.invoice_type == 'credit'
                   @total_pending_cancelled += list.payment_pending if list.is_canceled == true
                   @total_pending += list.payment_pending if list.is_canceled == false
                   @total_received_from_pending += list.payment_received
                   @total_credit_bill += list.net_amount
                 end
               %>
            <% if list.refund_payments.count > 0 %>
              <%list.refund_payments.each_with_index do |refund_payment, index| %>
                <div class="refund_details" style="font-size: 7px;">
                  <% refund_payment_amount_with_precision = number_with_precision(refund_payment.amount.to_f, precision: 2) %>
                  <% refund_payment_amount_display = Common::Finance::NumberFormatService.call(@number_format, refund_payment_amount_with_precision)%>
                  <b style="font-size: 7px;color: #d43f3a"><%= refund_payment.mode_of_payment %>: <%= refund_payment_amount_display %></b>
                  <% if refund_payment.card_number.present? %>
                    Card Number: <%= refund_payment.card_number %>
                  <% end %>
                  <% if refund_payment.card_number.present? && refund_payment.card_transaction_note.present? %>
                  |
                  <% end %>
                  <% if refund_payment.card_transaction_note.present? %>
                    Txn Note: <%= refund_payment.card_transaction_note %>
                  <% end %>

                  <% if refund_payment.paytm_transaction_id.present? %>
                    Txn Id: <%= refund_payment.paytm_transaction_id %>
                  <% end %>
                  <% if refund_payment.paytm_transaction_id.present? && refund_payment.paytm_transaction_note.present? %>
                    |
                  <% end %>
                  <% if refund_payment.paytm_transaction_note.present? %>
                    Txn Note: <%= refund_payment.paytm_transaction_note %>
                  <% end %>

                  <% if refund_payment.gpay_transaction_id.present? %>
                    Txn Id: <%= refund_payment.gpay_transaction_id %>
                  <% end %>
                  <% if refund_payment.gpay_transaction_id.present? && refund_payment.gpay_transaction_note.present? %>
                    |
                  <% end %>
                  <% if refund_payment.gpay_transaction_note.present? %>
                    Txn Note: <%= refund_payment.gpay_transaction_note %>
                  <% end %>

                  <% if refund_payment.phonepe_transaction_id.present? %>
                    Txn Id: <%= refund_payment.phonepe_transaction_id %>
                  <% end %>
                  <% if refund_payment.phonepe_transaction_id.present? && refund_payment.phonepe_transaction_note.present? %>
                  |
                  <% end %>
                  <% if refund_payment.phonepe_transaction_note.present? %>
                    Txn Note: <%= refund_payment.phonepe_transaction_note %>
                  <% end %>

                  <% if refund_payment.transfer_date.present? %>
                    Date: <%= refund_payment.transfer_date %>
                  <% end %>
                  <% if refund_payment.transfer_date.present? && refund_payment.transfer_note.present? %>
                    |
                  <% end %>
                  <% if refund_payment.transfer_note.present? %>
                    Txn Note: <%= refund_payment.transfer_note %>
                  <% end %>

                  <% if refund_payment.cheque_date.present? %>
                    Date: <%= refund_payment.cheque_date %>
                  <% end %>
                  <% if refund_payment.cheque_date.present? && refund_payment.cheque_note.present? %>
                    |
                  <% end %>
                  <% if refund_payment.cheque_note.present? %>
                    Txn Note: <%= refund_payment.cheque_note %>
                  <% end %>

                  <% if refund_payment.other_transaction_id.present? %>
                    Txn Id: <%= refund_payment.other_transaction_id %>
                  <% end %>
                  <% if refund_payment.other_transaction_id.present? && refund_payment.other_note.present? %>
                    |
                  <% end %>
                  <% if refund_payment.other_note.present? %>
                    Txn Note: <%= refund_payment.other_note %>
                  <% end %>
                <% if refund_payment.refund_display_id.present? %>
                  <span style="font-size: 7px;"><%= refund_payment.refund_display_id %> By</span><br/>
                  
                <% end %>
                  <span style="font-size: 7px;">
                    <%= "#{(refund_payment.refunded_by || list.refunded_by)}" %> on
                    <%= refund_payment.try(:refund_time).try(:strftime, '%I:%M %p') || list.try(:refund_time).try(:strftime, '%I:%M %p') %>, <%= refund_payment.try(:refund_date).try(:strftime, '%d-%m-%Y') || list.try(:refund_date).try(:strftime, '%d-%m-%Y') %>
                  </span>
                  <hr>
                </div>
                <% 
                   if list.invoice_type == 'credit'
                     if refunds_for_pending[refund_payment[:mode_of_payment]].present?
                       refunds_for_pending[refund_payment[:mode_of_payment]] += refund_payment.amount.to_f
                     else
                       refunds_for_pending[refund_payment[:mode_of_payment]] = refund_payment.amount.to_f
                     end
                     @total_refunds_for_pending += refund_payment.amount.to_f
                   else
                     if refunds[refund_payment[:mode_of_payment]].present?
                       refunds[refund_payment[:mode_of_payment]] += refund_payment.amount.to_f
                     else
                       refunds[refund_payment[:mode_of_payment]] = refund_payment.amount.to_f
                     end
                     @total_refunds += refund_payment.amount.to_f
                   end
                 %>
              <% end %>
            <% end %>

          </td>
          </div>
          <td style="text-align: right;padding-right: 0 !important;"><% net_amount_with_precision = number_with_precision(list.net_amount, precision: 2) %><% net_amount_display = Common::Finance::NumberFormatService.call(@number_format, net_amount_with_precision) %><%= net_amount_display %></td>
        </tr>
      <% end %>
      <% ipd_invoices = @total_list_ipd.group_by(&:currency_symbol) %>
      <tr class="invoice_head" style="font-size: 12px;">
        <td colspan="6" style="background: #E8E8E8;border-right: 0 !important;"></td>
        <th colspan="2" class="text-left" style="background: #E8E8E8;text-align: left;border-left: 0 !important;">Gross Bill Total:</th>
        <th style="background: #E8E8E8;text-align: right;">
          <% ipd_invoices.each do |currency_symbol, invoices| %>
            <% invoices_sum = invoices.map { |invoice| invoice.total.to_f }.sum %>
            <% invoices_sum_with_precision = number_with_precision(invoices_sum, precision: 2) %><% invoices_sum_display = Common::Finance::NumberFormatService.call(@number_format, invoices_sum_with_precision) %><%= invoices_sum_display %><br>
          <% end %>
        </th>
      </tr>
      <tr class="invoice_head" style="font-size: 12px;">
        <td colspan="6" style="background: #E8E8E8;border-right: 0 !important;"></td>
        <th colspan="2" class="text-left" style="background: #E8E8E8;text-align: left;border-left: 0 !important;">Discounts and Offer Total:</th>
        <th style="background: #E8E8E8;text-align: right;">
          <% ipd_invoices.each do |currency_symbol, invoices| %>
            <% invoices_sum = invoices.map { |invoice| invoice.total_of_all_discount.to_f }.sum %>
            <% invoices_sum_with_precision = number_with_precision(invoices_sum, precision: 2) %><% invoices_sum_display = Common::Finance::NumberFormatService.call(@number_format, invoices_sum_with_precision) %><%= invoices_sum_display %><br>
          <% end %>
        </th>
      </tr>
      <tr class="invoice_head" style="font-size: 12px;">
        <td colspan="6" style="background: #E8E8E8;border-right: 0 !important;"></td>
        <th colspan="2" class="text-left" style="background: #E8E8E8;text-align: left;border-left: 0 !important;">Total Billed Amount:</th>
        <th style="background: #E8E8E8;text-align: right;">
          <% ipd_invoices.each do |currency_symbol, invoices| %>
            <% invoices_sum = invoices.map { |invoice| invoice.net_amount.to_f }.sum %>
            <% invoices_sum_with_precision = number_with_precision(invoices_sum, precision: 2) %>
            <% invoices_sum_display = Common::Finance::NumberFormatService.call(@number_format, invoices_sum_with_precision) %><%= invoices_sum_display %><br>
          <% end %>
        </th>
      </tr>
    </table>
  </div>
  <!-- <div class="page_break"></div> -->
<% end %>
<% if params[:location] == "All" %>
  <div class="col-md-12 text-right" style="font-size:12px;">
    <b>Date:</b> <%= @datepicker_date.strftime('%b %d, %Y') %>
  </div>
  <br/>
  <div class="row text-center" style="font-size:12px;">
    Pharmacy Receipt
  </div>
  <div class="row">
    <table class="table">
      <tr class="invoice_head">
        <th>S No.</th>
        <th>Patient ID</th>
        <th>Patient Name</th>
        <th>Receipt ID</th>
        <th class="text-right">Amount</th>
      </tr>
      <% @total_list_pharmacy.each.with_index do |list, i| %>
        <tr class="invoice_data">
          <td><%= i + 1 %></td>
          <td><%= list.patient_id %></td>
          <td><%= list.recipient %></td>
          <td><%= list.bill_number %></td>
          <% total_with_precision = number_with_precision(list.total, precision: 2) %>
          <% total_display = Common::Finance::NumberFormatService.call(@number_format, total_with_precision) %>
          <td class="text-right"><%= total_display %></td>
        </tr>
      <% end %>
      <tr class="invoice_head">
        <th colspan="4" class="text-right">Net Amount</th>
        <% main_total_invoice_sum = (@maintotalinvoice_pharmacy.inject(0) { |sum, x| sum + x }).to_f %>
        <% main_total_invoice_pharmacy_with_precision = number_with_precision(main_total_invoice_sum, precision: 2) %>
        <% main_total_invoice_pharmacy_display = Common::Finance::NumberFormatService.call(@number_format, main_total_invoice_pharmacy_with_precision) %>
        <th class="text-right"><%= main_total_invoice_pharmacy_display %></th>
      </tr>
    </table>
  </div>
  <div class="row text-center" style="font-size:12px;">
    Optical Receipt
  </div>
  <div class="row">
    <table class="table">
      <tr class="invoice_head">
        <th>S No.</th>
        <th>Patient ID</th>
        <th>Patient Name</th>
        <th>Receipt ID</th>
        <th class="text-right">Amount</th>
      </tr>
      <% @total_list_optical.each.with_index do |list, i| %>
        <tr class="invoice_data">
          <td><%= i + 1 %></td>
          <td><%= list.patient_id %></td>
          <td><%= list.recipient %></td>
          <td><%= list.bill_number %></td>
          <% total_with_precision = number_with_precision(list.total, precision: 2) %>
          <% total_display = Common::Finance::NumberFormatService.call(@number_format, total_with_precision) %>
          <td class="text-right"><%= total_display %></td>
        </tr>
      <% end %>
      <tr class="invoice_head">
        <th colspan="4" class="text-right">Net Amount</th>
        <% main_total_invoice_sum = (@maintotalinvoice_optical.inject(0) { |sum, x| sum + x }).to_f %>
        <% main_total_invoice_optical_with_precision = number_with_precision(main_total_invoice_sum, precision: 2) %>
        <% main_total_invoice_pharmacy_display = Common::Finance::NumberFormatService.call(@number_format, main_total_invoice_optical_with_precision) %>
        <th class="text-right"><%= main_total_invoice_pharmacy_display %></th>
      </tr>
    </table>
  </div>
<% end %>

<% if params[:location] == "OPD" || params[:location] ==  'IPD' || params[:location] == 'All'%>
  <% if @total_recieved > 0 || @total_refunds > 0  %>
    <div class="row bill-summary">
      <div class="row" style="background: lightgray;border-bottom: 3px solid gray;">
        <div class="col-sm-3">
          <b>Bill Type : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cash</b>
        </div>
        <div class="col-sm-1 col-sm-offset-8 text-right"><b>Total</b></div>
      </div>
      <div class="row even-row">
        <div class="col-sm-2">A: Cash Bills MOP</div>
        <div class="col-sm-8 text-right">
          <% cash_bills.each_with_index do |(mop, amount), index| %>
            <% amount = Common::Finance::NumberFormatService.call(@number_format, number_with_precision(amount, precision: 2)) %>
            <%= ' | ' if index > 0 %><%= "<b>#{mop}</b>: #{amount}".html_safe %> 
          <% end %>
        </div>
        <div class="col-sm-2 text-right">
          <% total_recieved_with_precision = number_with_precision(@total_recieved, precision: 2) %>
          <%= Common::Finance::NumberFormatService.call(@number_format, total_recieved_with_precision)%>
        </div>
      </div>
      <div class="row odd-row" style="padding-bottom: 0">
        <div class="col-sm-2">B: Refunds MOP</div>
        <div class="col-sm-8 text-right refunds">
          <% refunds.each_with_index do |(mop, amount), index| %>
            <% amount = Common::Finance::NumberFormatService.call(@number_format, number_with_precision(amount, precision: 2)) %>
            <%= ' | ' if index > 0 %><%= "<b>#{mop}</b>: #{amount}".html_safe %>
          <% end %>
        </div>
        <div class="col-sm-2 text-right" style="border-bottom: 1px solid gray;">
          <% total_refunds_with_precision = number_with_precision(@total_refunds, precision: 2) %>
          <%= Common::Finance::NumberFormatService.call(@number_format, total_refunds_with_precision)%>
        </div>
      </div>
      <div class="row even-row" style="border-bottom: 3px solid #E8E8E8;padding-bottom: 0">
        <div class="col-sm-2"><b>C: Net Received (A - B)</b></div>
        <div class="col-sm-2 col-sm-offset-8 text-right" style="border-bottom: 1px solid gray;">
          <% net_received = number_with_precision((@total_recieved - @total_refunds), precision: 2) %>
          <b><%= Common::Finance::NumberFormatService.call(@number_format, net_received)%></b>
        </div>
      </div>
    </div>
  <% end %>

  <% if @total_pending_cancelled > 0 || @total_pending > 0 || @total_received_from_pending > 0 || @total_credit_bill > 0 %>
    <br>
    <div class="row bill-summary">
      <div class="row" style="background: lightgray;border-bottom: 3px solid gray;">
        <div class="col-sm-3">
          <b>Bill Type : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Credit</b>
        </div>
        <div class="col-sm-1 col-sm-offset-8 text-right"><b>Total</b></div>
      </div>


      <div class="row even-row">
        <div class="col-sm-2">D: Pending</div>
        <div class="col-sm-1 col-sm-offset-9 text-right">
          <%= Common::Finance::NumberFormatService.call @number_format, number_with_precision(@total_pending, precision: 2) %>
        </div>
      </div>
      <div class="row odd-row">
        <div class="col-sm-2">E: Pending Cancelled</div>
        <div class="col-sm-2 col-sm-offset-8 text-right">
          <%= Common::Finance::NumberFormatService.call @number_format, number_with_precision(@total_pending_cancelled, precision: 2) %>
        </div>
      </div>
      <div class="row even-row">
        <div class="col-sm-2">F: Received MOP</div>
        <div class="col-sm-8 text-right">
          <% credit_bills_received.delete("")%>
          <% credit_bills_received.each_with_index do |(mop, amount), index| %>
            <% amount = Common::Finance::NumberFormatService.call(@number_format, number_with_precision(amount, precision: 2)) %>
            <%= ' | ' if index > 0 %><%= "<b>#{mop}</b>: #{amount}".html_safe %> 
          <% end %>       
        </div>
        <div class="col-sm-2 text-right">
          <%= total_settled = Common::Finance::NumberFormatService.call @number_format, number_with_precision(@total_amount_received, precision: 2) %>
        </div>
      </div>

      <div class="row odd-row">
        <div class="col-sm-2">G: Tax deducted</div>
        <div class="col-sm-1 col-sm-offset-9 text-right">
          <%= Common::Finance::NumberFormatService.call @number_format, number_with_precision(@total_tax_deducted, precision: 2) %>
        </div>
      </div>
      <div class="row even-row">
        <div class="col-sm-2">H: Payer Differece</div>
        <div class="col-sm-1 col-sm-offset-9 text-right">
          <%= Common::Finance::NumberFormatService.call @number_format, number_with_precision(@total_payer_difference, precision: 2) %>
        </div>
      </div>
      <div class="row odd-row" style="padding-bottom: 0">
        <div class="col-sm-2">I: Spillage </div>
        <div class="col-sm-2 col-sm-offset-8 text-right" style="border-bottom: 1px solid gray;">
          <%= Common::Finance::NumberFormatService.call @number_format, number_with_precision(@total_revenue_spilage, precision: 2) %>
        </div>
      </div>   

      <div class="row even-row" style="padding-bottom: 0" >
        <div class="col-sm-4"><b>J: Total Settled (F + G + H + I)</b></div>
        <div class="col-sm-2 col-sm-offset-6 text-right" style="border-bottom: 1px solid gray;">
          <b><%= total_settled = Common::Finance::NumberFormatService.call @number_format, number_with_precision(@total_received_from_pending, precision: 2) %></b>
        </div>
      </div> 

      <div class="row odd-row">
        <div class="col-sm-2">K: Refund MOP</div>
        <div class="col-sm-8 text-right">
          <% refunds_for_pending.each_with_index do |(mop, amount), index| %>
            <% amount = Common::Finance::NumberFormatService.call(@number_format, number_with_precision(amount, precision: 2)) %>
            <%= ' | ' if index > 0 %><%= "<b>#{mop}</b>: #{amount}".html_safe %> 
          <% end %>
        </div>
        <div class="col-sm-2 text-right">
          <%= Common::Finance::NumberFormatService.call @number_format, number_with_precision(@total_refunds_for_pending, precision: 2)  %>
        </div>
      </div>
      <div class="row even-row">
        <div class="col-sm-4"><b>L: Net Received (F - K)</b></div>
        <div class="col-sm-2 col-sm-offset-6 text-right">
          <b><%= Common::Finance::NumberFormatService.call @number_format, number_with_precision(@total_amount_received - @total_refunds_for_pending, precision: 2)  %></b>
        </div>
      </div> 
      <div class="row odd-row">
        <div class="col-sm-4"><b>M: Credit Bill Amount</b></div>
        <div class="col-sm-2 col-sm-offset-6 text-right" >
          <b><%= Common::Finance::NumberFormatService.call @number_format, number_with_precision(@total_credit_bill, precision: 2) %></b>
        </div>
      </div> 
 
    </div>

  <% end %>

<% end %>

<div colspan="11" class="text-right">
  <span style='font-size:8px;'>Printed on: <%= Time.current.strftime("%d %b'%Y, %I:%M %p") %></span>
</div>

<style type="text/css">
  .invoice_data * {
    font-size: 9px;
  }

  .invoice_head * {
    font-size: 10px;
    color: #000;

  }
  div.refund_details:last-child hr{
    display: none !important;
  }
  .separated {
    border: 1px solid black;
    display: flex;
    padding: -25px;
    margin: -10px;
  }

  div.receipt_details:last-child hr{
    display: none !important;
  }
/*  .payment-details, .refund_details{
    page-break-inside: avoid;
    display: inline-table;
  }*/
  div.payment-details:last-child hr{
    display: none !important;
  }
  div.refund_details:last-child hr{
    display: none !important;
  }
  .row table tr td {
    text-align: left;
    vertical-align: middle;
    padding: 1px 2px 0 2px !important;
    border: 1px solid lightgray !important;
    font-size: 10px;
  }
  .row table tr th {
    text-align: center;
    vertical-align: middle;
    padding: 0px !important;
    border: 1px solid lightgray !important;
    background: #87CEEB;
    font-size: 10px;
  }
  hr{
    border-top: 1px solid lightgray;
    margin-bottom: 2px;
    margin-top: 3px;
    width: 90%;
  }
  .f-7{
    font-size: 7px;
  }
  .bill-summary{
    font-size: 10px;
  }
  .bill-summary .row{
    padding: 2px 5px;
  }
  .odd-row{
    background: #E8E8E8;
  }
  .even-row{
    background: white;
  }
  tr { page-break-inside: avoid; clear:both; page-break-after:always; }
</style>
