<div class="row" style="font-size: 11px; padding-left: 5%; width: 94%; ">
  <div class="row">
    <table class="table table-bordered" style="padding: 5%;background: white">
      <tr class="invoice_head">
        <th colspan="2" class="text-center"><b>OPD</b></th>
        <th colspan="2" class="text-center"><b>IPD</b></th>
        <th colspan="2" class="text-center"><b>Inventory</b></th>
      </tr>
      <tr>
          <td><b>Receipt Total</b></td>
          <td style="border-right: 1px solid #eee "><%= @maintotalinvoice_opd.flatten.compact.sum.to_f %></td>
          <td><b>Receipt Total</b></td>
          <td style="border-right: 1px solid #eee "><%= @maintotalinvoice_ipd.flatten.compact.sum.to_f %></td>
          <td><b>Receipt Total</b></td>
          <td><%= @maintotalinvoice_pharmacy.flatten.compact.sum.to_f + @maintotalinvoice_optical.flatten.compact.sum.to_f %></td>

      </tr>
      <tr>
        <td>By Cash</td>
          <td style="border-right: 1px solid #eee "><%= @opd_cash.to_f %></td>
          <td>By Cash</td>
          <td style="border-right: 1px solid #eee "><%= @ipd_cash.to_f %></td>
          <td>Optical Receipt</td>
          <td><%= @maintotalinvoice_optical.flatten.compact.sum.to_f %></td>

      </tr>
      <tr>
        <td>By Card</td>
          <td style="border-right: 1px solid #eee "><%= @opd_card.to_f %></td>
          <td>By Card</td>
          <td style="border-right: 1px solid #eee "><%= @ipd_card.to_f %></td>
          <td>Pharmacy Receipt</td>
          <td><%= @maintotalinvoice_pharmacy.flatten.compact.sum.to_f %></td>

      </tr>
      <tr>
        <td><b>Cash Register</b></td>
          <td style="border-right: 1px solid #eee "><%= @maintotalinvoice_cash_opd.flatten.compact.sum.to_f %></td>
          <td><b>Cash Register</b></td>
          <td style="border-right: 1px solid #eee "><%= @maintotalinvoice_cash_opd.flatten.compact.sum.to_f %></td>
          <td></td><td></td>

      </tr>
      <tr>
        <td></td>
          <td style="border-right: 1px solid #eee "></td>
          <td><b>Insurance</b></td>
          <td style="border-right: 1px solid #eee "><%= @maintotalinvoice_insurance.flatten.compact.sum.to_f %></td>
          <td></td><td></td>

      </tr>
      <tr>
        <td><b>Net Amount OPD</b></td>
          <td style="border-right: 1px solid #eee "><%= @maintotalinvoice_cash_opd.flatten.compact.sum.to_f + @maintotalinvoice_opd.flatten.compact.sum.to_f %></td>
          <td><b>Net Amount IPD</b></td>
          <td style="border-right: 1px solid #eee "><%= @maintotalinvoice_cash_ipd.flatten.compact.sum.to_f + @maintotalinvoice_ipd.flatten.compact.sum.to_f + @maintotalinvoice_insurance.flatten.compact.sum.to_f %></td>
          <td></td><td></td>

      </tr>

      <tr class="invoice_head">
        <th colspan="7" class="text-right"><b>Net Amount : &nbsp&nbsp&nbsp</b><%= (@maintotalinvoice_opd.inject(0) { |sum, x| sum + x }).to_f %></th>
      </tr>
    </table>
  </div>
</div>
