<% if params[:location] == "OPD" || params[:location] == "All" %>
  <div class="row" style="font-size:12px;">
    <div class="col-md-4">
      OPD Receipt
    </div>
    <div class="col-md-4 text-center">
      <b><%= current_facility.name.upcase %></b>
    </div>
    <div class="col-md-4 text-right">
      <b>Date:</b> <%= @datepicker_date.strftime('%b %d, %Y') %>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <tr class="invoice_head">
        <th>S No.</th>
        <th>Patient ID</th>
        <th>Patient Name</th>
        <th>Receipt ID</th>
        <th class="text-right">Amount</th>
      </tr>
      <% @total_list_opd.each.with_index do |list, i| %>
        <tr class="invoice_data">
          <td><%= i + 1 %></td>
          <td><%= PatientIdentifier.find_by(patient_id: list.patient_id.to_s).try(:patient_org_id) %></td>
          <td><%= list.patient.fullname %></td>
          <td><%= list.bill_number %> <% if list.try(:is_canceled) %><strong style="color: #d43f3a"> - Cancelled</strong><% end %> </td><% if list.is_refunded %><strong style="color: #d43f3a"> - Refunded(<%= list.refund_amount %>)</strong><% end %>
          <td class="text-right"><%= list.net_amount %></td>
        </tr>
      <% end %>
      <tr class="invoice_head">
        <th colspan="4" class="text-right">Net Amount</th>
        <th class="text-right"><%= (@maintotalinvoice_opd.inject(0) { |sum, x| sum + x }).to_f %></th>
      </tr>
    </table>
  </div>
  <div class="page_break"></div>
  <div class="row" style="font-size:12px;">
    <div class="col-md-4">
      OPD Cash Register
    </div>
    <div class="col-md-4 text-center">
      <b><%= current_facility.name.upcase %></b>
    </div>
    <div class="col-md-4 text-right">
      <b>Date:</b> <%= @datepicker_date.strftime('%b %d, %Y') %>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <tr class="invoice_head">
        <th>S No.</th>
        <th>Patient ID</th>
        <th>Patient Name</th>
        <th>Cash Register ID</th>
        <th class="text-right">Amount</th>
      </tr>
      <% @total_list_cash_opd.each.with_index do |list, i| %>
        <tr class="invoice_data">
          <td><%= i + 1 %></td>
          <td><%= PatientIdentifier.find_by(patient_id: list.patient_id.to_s).try(:patient_org_id) %></td>
          <td><%= list.patient.fullname %></td>
          <td><%= list.bill_number %><% if list.is_canceled %><strong style="color: #d43f3a"> - Cancelled</strong><% end %><% if list.is_refunded %><strong style="color: #d43f3a"> - Refunded(<%= list.refund_amount %>)</strong><% end %></td>
          <td class="text-right"><%= list.total %></td>
        </tr>
      <% end %>
      <tr class="invoice_head">
        <th colspan="4" class="text-right">Net Amount</th>
        <th class="text-right"><%= (@maintotalinvoice_cash_opd.inject(0) { |sum, x| sum + x }).to_f %></th>
      </tr>
    </table>
  </div>
  <div class="page_break"></div>
<% end %>
<% if params[:location] == "IPD" || params[:location] == "All" %>
  <div class="row" style="font-size:12px;">
    <div class="col-md-4">
      IPD Receipt
    </div>
    <div class="col-md-4 text-center">
      <b><%= current_facility.name.upcase %></b>
    </div>
    <div class="col-md-4 text-right">
      <b>Date:</b> <%= @datepicker_date.strftime('%b %d, %Y') %>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <tr class="invoice_head">
        <th>S No.</th>
        <th>Patient ID</th>
        <th>Patient Name</th>
        <th>Receipt ID</th>
        <th class="text-right">Amount</th>
      </tr>
      <% @total_list_ipd.each.with_index do |list, i| %>
        <tr class="invoice_data">
          <td><%= i + 1 %></td>
          <td><%= PatientIdentifier.find_by(patient_id: list.patient_id.to_s).try(:patient_org_id) %></td>
          <td><%= list.patient.fullname %></td>
          <td><%= list.bill_number %> <% if list.is_canceled %><strong style="color: #d43f3a"> - Cancelled</strong><% end %><% if list.is_refunded %><strong style="color: #d43f3a"> - Refunded(<%= list.refund_amount %>)</strong><% end %> </td>
          <td class="text-right"><%= list.net_amount %></td>
        </tr>
      <% end %>
      <tr class="invoice_head">
        <th colspan="4" class="text-right">Net Amount</th>
        <th class="text-right"><%= (@maintotalinvoice_ipd.inject(0) { |sum, x| sum + x }).to_f %></th>
      </tr>
    </table>
  </div>
  <div class="page_break"></div>
  <div class="row" style="font-size:12px;">
    <div class="col-md-4">
      Insurance Receipt
    </div>
    <div class="col-md-4 text-center">
      <b><%= current_facility.name.upcase %></b>
    </div>
    <div class="col-md-4 text-right">
      <b>Date:</b> <%= @datepicker_date.strftime('%b %d, %Y') %>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <tr class="invoice_head">
        <th>S No.</th>
        <th>Patient ID</th>
        <th>Patient Name</th>
        <th>Insurance Receipt ID</th>
        <th class="text-right">Amount</th>
      </tr>
      <% @total_list_insurance.each.with_index do |list, i| %>
        <tr class="invoice_data">
          <td><%= i + 1 %></td>
          <td><%= PatientIdentifier.find_by(patient_id: list.patient_id.to_s).try(:patient_org_id) %></td>
          <td><%= list.patient.fullname %></td>
          <td><%= list.insurance_display_id %></td>
          <td class="text-right"><%= list.net_amount %></td>
        </tr>
      <% end %>
      <tr class="invoice_head">
        <th colspan="4" class="text-right">Net Amount</th>
        <th class="text-right"><%= (@maintotalinvoice_insurance.inject(0) { |sum, x| sum + x }).to_f %></th>
      </tr>
    </table>
  </div>
  <div class="page_break"></div>
  <div class="row" style="font-size:12px;">
    <div class="col-md-4">
      IPD Cash Register
    </div>
    <div class="col-md-4 text-center">
      <b><%= current_facility.name.upcase %></b>
    </div>
    <div class="col-md-4 text-right">
      <b>Date:</b> <%= @datepicker_date.strftime('%b %d, %Y') %>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <tr class="invoice_head">
        <th>S No.</th>
        <th>Patient ID</th>
        <th>Patient Name</th>
        <th>Cash Register ID</th>
        <th class="text-right">Amount</th>
      </tr>
      <% @total_list_cash_ipd.each.with_index do |list, i| %>
        <tr class="invoice_data">
          <td><%= i + 1 %></td>
          <td><%= PatientIdentifier.find_by(patient_id: list.patient_id.to_s).try(:patient_org_id) %></td>
          <td><%= list.patient.fullname %></td>
          <td><%= list.bill_number %><% if list.is_canceled %><strong style="color: #d43f3a"> - Cancelled</strong><% end %><% if list.is_refunded %><strong style="color: #d43f3a"> - Refunded(<%= list.refund_amount %>)</strong><% end %></td>
          <td class="text-right"><%= list.total %></td>
        </tr>
      <% end %>
      <tr class="invoice_head">
        <th colspan="4" class="text-right">Net Amount</th>
        <th class="text-right"><%= (@maintotalinvoice_ipd.inject(0) { |sum, x| sum + x }).to_f %></th>
      </tr>
    </table>
  </div>
  <div class="page_break"></div>
<% end %>
<% if params[:location] == "All" %>
  <div class="row" style="font-size:12px;">
    <div class="col-md-4">
      Pharmacy Receipt
    </div>
    <div class="col-md-4 text-center">
      <b><%= current_facility.name.upcase %></b>
    </div>
    <div class="col-md-4 text-right">
      <b>Date:</b> <%= @datepicker_date.strftime('%b %d, %Y') %>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <tr class="invoice_head">
        <th>S No.</th>
        <th>Patient ID</th>
        <th>Patient Name</th>
        <th>Receipt ID</th>
        <th class="text-right">Amount</th>
      </tr>
      <% @total_list_pharmacy.each.with_index do |list, i| %>
        <tr class="invoice_data">
          <td><%= i + 1 %></td>
          <td><%= list.patient_id %></td>
          <td><%= list.recipient %></td>
          <td><%= list.bill_number %></td>
          <td class="text-right"><%= list.total %></td>
        </tr>
      <% end %>
      <tr class="invoice_head">
        <th colspan="4" class="text-right">Net Amount</th>
        <th class="text-right"><%= (@maintotalinvoice_pharmacy.inject(0) { |sum, x| sum + x }).to_f %></th>
      </tr>
    </table>
  </div>
  <div class="page_break"></div>
  <div class="row" style="font-size:12px;">
    <div class="col-md-4">
      Optical Receipt
    </div>
    <div class="col-md-4 text-center">
      <b><%= current_facility.name.upcase %></b>
    </div>
    <div class="col-md-4 text-right">
      <b>Date:</b> <%= @datepicker_date.strftime('%b %d, %Y') %>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <tr class="invoice_head">
        <th>S No.</th>
        <th>Patient ID</th>
        <th>Patient Name</th>
        <th>Receipt ID</th>
        <th class="text-right">Amount</th>
      </tr>
      <% @total_list_optical.each.with_index do |list, i| %>
        <tr class="invoice_data">
          <td><%= i + 1 %></td>
          <td><%= list.patient_id %></td>
          <td><%= list.recipient %></td>
          <td><%= list.bill_number %></td>
          <td class="text-right"><%= list.total %></td>
        </tr>
      <% end %>
      <tr class="invoice_head">
        <th colspan="4" class="text-right">Net Amount</th>
        <th class="text-right"><%= (@maintotalinvoice_optical.inject(0) { |sum, x| sum + x }).to_f %></th>
      </tr>
    </table>
  </div>
<% end %>
<style type="text/css">
  .invoice_data * {
    font-size: 9px;
  }

  .invoice_head * {
    font-size: 10px;
    color: #000;

  }

  .page_break {
    page-break-after: always;
  }
</style>
