<div class="row">
  <div class="col-md-12">
    <div class="row mb10">
      <div class="col-md-6 col-md-offset-3">
        <%= text_field_tag 'sub_referral_type[name]', @sub_referral_type.try(:name), class: 'form-control p5_10', placeholder: 'Name' %>
      </div>
    </div>
    <div class="row mb10">
      <div class="col-md-6 col-md-offset-3">
        <%= text_field_tag 'sub_referral_type[mobile_number]', @sub_referral_type.try(:mobile_number), class: 'form-control p5_10', placeholder: 'Mobile', maxlength: 10, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
      </div>
    </div>
    <div class="row mb10">
      <div class="col-md-6 col-md-offset-3">
        <%= text_field_tag 'sub_referral_type[email]', @sub_referral_type.try(:email), class: 'form-control p5_10', placeholder: 'Email' %>
      </div>
    </div>
    <div class="row mb10">
      <div class="col-md-6 col-md-offset-3">
        <%= text_field_tag 'sub_referral_type[designation]', @sub_referral_type.try(:designation), class: 'form-control p5_10', placeholder: 'Designation' %>
      </div>
    </div>
    <div class="row mb10">
      <div class="col-md-6 col-md-offset-3">
        <%= text_field_tag 'sub_referral_type[location]', @sub_referral_type.try(:location), class: 'form-control p5_10', placeholder: 'Location' %>
      </div>
    </div>
    <div class="row mb10">
      <div class="col-md-6 col-md-offset-3">
        <%= text_field_tag 'sub_referral_type[city]', @sub_referral_type.try(:city), class: 'form-control p5_10', placeholder: 'City' %>
      </div>
    </div>
    <div class="row mb10">
      <div class="col-md-6 col-md-offset-3">
        <%= text_field_tag 'sub_referral_type[state]', @sub_referral_type.try(:state), class: 'form-control p5_10', placeholder: 'State' %>
      </div>
    </div>
    <div class="row mb10">
      <div class="col-md-6 col-md-offset-3">
        <%= text_field_tag 'sub_referral_type[comment]', @sub_referral_type.try(:comment), class: 'form-control p5_10', placeholder: 'Comment' %>
      </div>
    </div>
  </div>
</div>
