<div class="row tile_count">
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i>Diagnoses</span>
    <div class="count">334</div>
    <span class="count_bottom"><i class="green">14% </i> From last <%=Date.current.strftime('%A')%></span>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-clock-o"></i>Procedures</span>
    <div class="count">173</div>
    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>9% </i> From last <%=Date.current.strftime('%A')%></span>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i>Ophthal Investigations</span>
    <div class="count green">276</div>
    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>11% </i> From last <%=Date.current.strftime('%A')%></span>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Laboratory Investigations</span>
    <div class="count">379</div>
    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>15% </i> From last <%=Date.current.strftime('%A')%></span>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-md-8">

    <div class="panel panel-default">
      <div class="panel-body">
        <h5 class="subtitle mb5">Top 5 Prescribed(Last Month)</h5>
        <p class="mb15"></p>
        <canvas id="diagnosis-pie-chart" width="800" height="450"></canvas>
        <br>
        <br>
        <p class="mb15"></p>
        <canvas id="procedure-pie-chart" width="800" height="450"></canvas>
        <br>
        <br>
        <p class="mb15"></p>
        <canvas id="investigation-pie-chart" width="800" height="450"></canvas>
      </div><!-- panel-body -->
    </div><!-- panel -->

  </div><!-- col-sm-8-->


  <div class="col-sm-4 col-md-4">

    <div class="panel panel-default">
      <div class="panel-body">
        <h5 class="subtitle mb5">Top Prescribed</h5>
        <br>
        <p class="mb15"><strong>Diagnoses</strong></p>
        <div class="table-responsive dashboard-datatable">
          <table class="table" id="table1">
            <thead>
              <tr>
                <th>Name</th>
                <th>ICD code</th>
                <th>Count</th>
              </tr>
            </thead>

            <tbody>
              <%@patient_diagnoses_count.sort_by {|_key, value| value}.reverse.to_h.keys.each_with_index do |pd,i|%>
                <%if i < 11 %>
                  <%if i.odd?%>
                    <tr class="odd gradeX">
                      <td><%= IcdDiagnosis.find_by(code: pd).try(:originalname) %></td>
                      <td>
                        <a target="_blank" href="/search/results/diagnoses?search_filter=all&icd_code=<%=pd%>"><%=pd%></span></a>
                      </td>
                      <td><%=@patient_diagnoses_count[pd]%></td>
                    </tr>
                  <%end%>
                  <%if i.even?%>
                    <tr class="even gradeC">
                      <td><%= IcdDiagnosis.find_by(code: pd).try(:originalname) %></td>
                      <td><a target="_blank" href="/search/results/diagnoses?search_filter=all&icd_code=<%=pd%>"><%=pd%></span></a></td>
                      <td><%=@patient_diagnoses_count[pd]%></td>
                    </tr>
                  <%end%>
                <%end%>
              <%end%>
            </tbody>
          </table>
        </div>


        <br><br>

        <p class="mb15"><strong>Procedures</strong></p>
        <div class="table-responsive dashboard-datatable">
          <table class="table" id="table1">
            <thead>
            <tr>
              <th>Name</th>
              <th>Snomed code</th>
              <th>Count</th>
            </tr>
            </thead>

            <tbody>
            <%@patient_procedures_count.sort_by {|_key, value| value}.reverse.to_h.keys.each_with_index do |pd,i|%>
                <%if i < 11 %>
                    <%if i.odd?%>
                        <tr class="odd gradeX">
                          <td><%= CommonProcedure.find_by(code: pd).try(:name) %></td>
                          <td><a target="_blank" href="/search/results/procedures?search_filter=all&code=<%=pd%>"><%=pd%></span></a></td>
                          <td><%=@patient_procedures_count[pd]%></td>
                        </tr>
                    <%end%>
                    <%if i.even?%>
                        <tr class="even gradeC">
                          <td><%= CommonProcedure.find_by(code: pd).try(:name) %></td>
                          <td><a target="_blank" href="/search/results/procedures?search_filter=all&code=<%=pd%>"><%=pd%></span></a></td>
                          <td><%=@patient_procedures_count[pd]%></td>
                        </tr>
                    <%end%>
                <%end%>
            <%end%>
            </tbody>
          </table>
        </div>

        <!--<br>-->
        <!---->
        <!--<p class="mb15"><strong>Investigations</strong></p>-->

        <!---->

      </div><!-- panel-body -->
    </div><!-- panel -->

  </div><!-- col-sm-4-->

</div>

<div class="row">
  <div class="col-sm-8 col-md-8">

    <div class="panel panel-default">
      <div class="panel-body">
        <h5 class="subtitle mb5"><i class="fa fa-bar-chart" aria-hidden="true"></i>  <strong># of Patients</strong></h5>
        <div>
          <%#= content_tag :div, "", class:"", style:"height: 150px;", id: "referral-data", data: {reviews: @invoice_graph_data_array} %>
          <canvas id="bar-chart-patient-history" width="800" height="450"></canvas>
        </div>
      </div>
    </div>

  </div>
</div>
