jQuery(window).load(function() {

  // Page Preloader
  jQuery('#status').fadeOut();
  jQuery('#preloader').delay(350).fadeOut(function(){
    jQuery('body').delay(350).css({'overflow':'visible'});
  });
});

jQuery(document).ready(function() {


  $(".analytics-data-link").on("click", function(e){
    e.preventDefault()
    var analytics_url = $(this).attr("href");
    var filtered_facility = $(".dropdown-facilitymenu-button").attr("data-facility-id");
    var filtered_specialty = $(".dropdown-specialtymenu-button").attr("data-specialty-id");
    var analytics_to_date = $("#analytics-to-datepicker").val();
    var analytics_from_date = $("#analytics-from-datepicker").val();
    var currency_id = $("#currency_id").val();
    var data_data_range  = $(".dropdown-timemenu-button").attr('data-data_range');
    $("#btnAnalyticsReload").attr("href",analytics_url);

    $.ajax({
      type: "GET",
      dataType: "script",
      data: { filtered_facility: filtered_facility, filtered_specialty: filtered_specialty, analytics_to_date: analytics_to_date,
              analytics_from_date: analytics_from_date, currency_id: currency_id, remote: true, data_type: data_data_range },
      url: analytics_url
    })
  })

  $('.dropdown-menu-facilitymenu li').find("a").click(function(e){
    e.preventDefault()
    $('.dropdown-facilitymenu-button').html($(this).html()+'<span class="caret"></span>');

    $('.dropdown-facilitymenu-button').attr("data-facility-id", $(this).attr("data-search-category"))

  });

  $('.dropdown-menu-specialtymenu li').find("a").click(function(e){
    e.preventDefault()
    $('.dropdown-specialtymenu-button').html($(this).html()+'<span class="caret"></span>');

    $('.dropdown-specialtymenu-button').attr("data-specialty-id", $(this).attr("data-search-category"))

  });


  $('.dropdown-menu-timemenu li').find("a").click(function(e){
    e.preventDefault()
    $('.dropdown-timemenu-button').html($(this).html()+'<span class="caret"></span>');
    var time_value = $(this).attr('data-time-period');
    var data_range = $(this).attr('data-data_range');
    $('.dropdown-timemenu-button').attr('data-data_range', data_range);

    $(".analytics-from-datepicker").val("<%= Date.current.strftime('%d/%m/%Y')%>");
    $('.analytics-to-datepicker').val("<%= Date.current.strftime('%d/%m/%Y')%>")

    if (time_value == "day") {
      $(".analytics-from-datepicker").val("<%= Date.current.strftime('%d/%m/%Y')%>");
      $(".analytics-to-datepicker").val("<%= Date.current.strftime('%d/%m/%Y')%>");
    }
    if(time_value == "week") {
      $('.analytics-from-datepicker').val("<%= (Date.current.beginning_of_week).strftime('%d/%m/%Y')%>")
      $(".analytics-to-datepicker").val("<%= (Date.current.end_of_week).strftime('%d/%m/%Y')%>");
    }
    if(time_value == "month") {
      $('.analytics-from-datepicker').val("<%= (Date.current.beginning_of_month).strftime('%d/%m/%Y')%>");
      $(".analytics-to-datepicker").val("<%= (Date.current.end_of_month).strftime('%d/%m/%Y')%>");
    }
    if(time_value == "3months") {
      $('.analytics-from-datepicker').val("<%= (Date.current.beginning_of_quarter).strftime('%d/%m/%Y')%>");
      $(".analytics-to-datepicker").val("<%= (Date.current.end_of_quarter).strftime('%d/%m/%Y')%>");
    }
    if(time_value == "year") {
      $('.analytics-from-datepicker').val("<%= (Date.current.beginning_of_year).strftime('%d/%m/%Y')%>");
      $(".analytics-to-datepicker").val("<%= (Date.current.end_of_year).strftime('%d/%m/%Y')%>");
    }
    if(time_value == "yesterday") {
      $('.analytics-from-datepicker').val("<%= (Date.current.yesterday).strftime('%d/%m/%Y')%>");
      $(".analytics-to-datepicker").val("<%= (Date.current.yesterday).strftime('%d/%m/%Y')%>");
    }
    if(time_value == "prev_week") {
      $('.analytics-from-datepicker').val("<%= (Date.current.last_week.beginning_of_week).strftime('%d/%m/%Y')%>");
      $(".analytics-to-datepicker").val("<%= (Date.current.last_week.end_of_week).strftime('%d/%m/%Y')%>");
    }
    if(time_value == "prev_month") {
      $('.analytics-from-datepicker').val("<%= (Date.current.last_month.beginning_of_month).strftime('%d/%m/%Y')%>");
      $(".analytics-to-datepicker").val("<%= (Date.current.last_month.end_of_month).strftime('%d/%m/%Y')%>")
    }
    if(time_value == "prev_quarter") {
      $('.analytics-from-datepicker').val("<%= (Date.current.last_quarter.beginning_of_quarter).strftime('%d/%m/%Y')%>");
      $(".analytics-to-datepicker").val("<%= (Date.current.last_quarter.end_of_quarter).strftime('%d/%m/%Y')%>")
    }
    if(time_value == "prev_year") {
      $('.analytics-from-datepicker').val("<%= (Date.current.prev_year.beginning_of_year).strftime('%d/%m/%Y')%>");
      $(".analytics-to-datepicker").val("<%= (Date.current.prev_year.end_of_year).strftime('%d/%m/%Y')%>")
    }
  });




  $(".analytics-from-datepicker").datepicker({
    minDate: "-900D",
    maxDate: 0,
    numberOfMonths: 1,
    dateFormat: "dd/mm/yy",
    onSelect: function(selected) {
      $(".analytics-to-datepicker").datepicker("option","minDate", selected)
    }
  });
  $(".analytics-to-datepicker").datepicker({
    minDate: "-900D",
    maxDate: 0,
    numberOfMonths: 1,
    dateFormat: "dd/mm/yy",
    onSelect: function(selected) {
      $(".analytics-from-datepicker").datepicker("option","maxDate", selected)
    }
  });


  // Toggle Left Menu
  jQuery('.nav-parent > a').click(function() {

    var parent = jQuery(this).parent();
    var sub = parent.find('> ul');

    // Dropdown works only when leftpanel is not collapsed
    if(!jQuery('body').hasClass('leftpanel-collapsed')) {
      if(sub.is(':visible')) {
        sub.slideUp(200, function(){
          parent.removeClass('nav-active');
          adjustleftpanelheight();
        });
      } else {
        closeVisibleSubMenu();
        parent.addClass('nav-active');
        sub.slideDown(200, function(){
          adjustleftpanelheight();
        });
      }
    }
    return false;
  });

  function closeVisibleSubMenu() {
    jQuery('.nav-parent').each(function() {
      var t = jQuery(this);
      if(t.hasClass('nav-active')) {
        t.find('> ul').slideUp(200, function(){
          t.removeClass('nav-active');
        });
      }
    });
  }



  function adjustleftpanelheight() {
    // Adjust leftpanel height

    jQuery('.leftpanel').css({height: ''});
    var docHeight = jQuery(document).height();
    if(docHeight > jQuery('.mainpanel').height())
      jQuery('.leftpanel').height(docHeight);
  }
  adjustleftpanelheight()

  // Tooltip
  jQuery('.tooltips').tooltip({ container: 'body'});

  // Popover
  jQuery('.popovers').popover();


  // Add class everytime a mouse pointer hover over it
  jQuery('.nav-bracket > li').hover(function(){
    jQuery(this).addClass('nav-hover');
  }, function(){
    jQuery(this).removeClass('nav-hover');
  });



  $(".nav-bracket a").on("click",function(){
    if(!$(this).parent().hasClass("nav-parent")) {
      $(".nav-bracket li").removeClass("nav-active active")
      $(this).parent().addClass("active")
    }

  })

  jQuery("ul.nav-bracket > li").on("click", function () {
    jQuery("ul.nav-bracket > li[class='active']").removeClass("active");
    jQuery(this).addClass("active");
  });

  $(".nav-bracket >.nav-parent").on("click",function(){
    $(this).addClass("nav-active")
  })

  $(".nav-bracket .children > li").on("click",function(){
    $(this).addClass("active")
  })


  // Menu Toggle
  jQuery('.menutoggle').click(function(){

    var body = jQuery('body');
    var bodypos = body.css('position');

    if(bodypos != 'relative') {

      if(!body.hasClass('leftpanel-collapsed')) {
        body.addClass('leftpanel-collapsed');
        jQuery('.nav-bracket ul').attr('style','');

        jQuery(this).addClass('menu-collapsed');

      } else {
        body.removeClass('leftpanel-collapsed chat-view');
        jQuery('.nav-bracket li.active ul').css({display: 'block'});

        jQuery(this).removeClass('menu-collapsed');

      }
    } else {

      if(body.hasClass('leftpanel-show'))
        body.removeClass('leftpanel-show');
      else
        body.addClass('leftpanel-show');

      adjustleftpanelheight();
    }

  });


});