<div class="row tile_count">
  <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
    <div class="panel_h">
      <div class="count_top title_h"><i class="fa fa-clock-o" aria-hidden="true"></i> Appointment -Scheduled</div>
      <span class="count ">
        <% if @todays_data.present? %>
          <%= @total_appointment_created.reject(&:blank?).last.to_i %>
        <% else %>
          <%= @total_appointment_created.reject(&:blank?).sum %>
        <% end %>
      </span>
      <span id="weekly-appointment-created-counts" class="panel_chart chart pull-right"></span>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
    <div class="panel_h">
      <div class="count_top title_h"><i class="fa fa-sign-in-alt" aria-hidden="true"></i> Appointment -Arrived</div>
      <span class="count">
        <% if @todays_data.present? %>
          <%= @total_appointment_arrived.reject(&:blank?).last.to_i %>
        <% else %>
          <%= @total_appointment_arrived.reject(&:blank?).sum %>
        <% end %>
      </span>
      <span id="weekly-appointment-arrived-counts" class="panel_chart chart pull-right"></span>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
    <div class="panel_h">
      <div class="count_top title_h"><i class="fa fa-plus" aria-hidden="true"></i> Admission -Created</div>
      <span class="count green">
        <% if @todays_data.present? %>
          <%= @total_admission_created.reject(&:blank?).last.to_i %>
        <% else %>
          <%= @total_admission_created.reject(&:blank?).sum %>
        <% end %>
      </span>
      <span id="weekly-admission-counts" class="panel_chart chart pull-right"></span>
    </div>
  </div>
  <% if current_facility.show_finances? %>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head">
      <div class="panel_h panel-2l">
        <div class="count_top title_h">
          <i class="fa fa-money" aria-hidden="true"></i> Total Collection
        </div>
        <div class="col-sm-12 sub-panel">
          <div class="col-sm-6 sub-title">Net:</div>
          <div class="col-sm-6 count green" style="top: 0;text-align: left;">
            <%= @total_collection['net_amount'] %>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="sub-title">Gross</div>
          <div class="count" style="top: 0">
            <%= @total_collection['gross_amount'] %>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span class="sub-title">Refund</span><br>
          <span class="count" style="top: 0">
            <%= @total_collection['Refund'] %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if @specialty_id == '309988001' || (@current_user.specialty_ids.include?('309988001') && @specialty_id == 'all') %>
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
      <div class="panel_h">
        <div class="count_top title_h"> Pharmacy Prescription </div>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <span>Total</span>
            <br>
            <span class="count">
              <%if @todays_data.present? %>
                <%= @doctor_pharmacy_data_total_count.reject(&:blank?).last.to_i %>
              <% else %>
                <%= @doctor_pharmacy_data_total_count.reject(&:blank?).sum %>
              <% end %>
            </span>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <span>Converted</span>
            <br>
            <span class="count">
              <% if @todays_data.present? %>
                  <%= @doctor_pharmacy_data_converted_count.reject(&:blank?).last.to_i %>
              <% else %>
                  <%= @doctor_pharmacy_data_converted_count.reject(&:blank?).sum %>
              <% end %>
            </span>
          </div>
        </div>
      </div>
    </div>
    <% if @specialty_id == '309988001' || (@current_user.specialty_ids.include?('309988001') && @specialty_id == 'all') %>
      <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
        <div class="panel_h">
          <div class="count_top title_h"> Glasses Prescription</div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <span>Total</span>
            <br>
            <span class="count">
              <% if @todays_data.present? %>
                <%= @doctor_optical_data_total_count.reject(&:blank?).last.to_i %>
              <% else %>
                <%= @doctor_optical_data_total_count.reject(&:blank?).sum %>
              <% end %>
            </span>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <span>Converted</span>
            <br>
            <span class="count">
              <% if @todays_data.present? %>
                <%= @doctor_optical_data_converted_count.reject(&:blank?).last.to_i %>
              <% else %>
                <%= @doctor_optical_data_converted_count.reject(&:blank?).sum %>
              <% end %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head">
      <div class="panel_h">
        <div class="count_top title_h">Total Prescription</div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span>Total</span><br>
          <span class="count">
            <% if @todays_data.present? %>
              <%= @doctor_pharmacy_data_total_count.reject(&:blank?).last.to_i +  @doctor_optical_data_total_count.reject(&:blank?).last.to_i %>
            <% else %>
              <%= @doctor_pharmacy_data_total_count.reject(&:blank?).sum + @doctor_optical_data_total_count.reject(&:blank?).sum %>
            <% end %>
          </span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span>Converted</span><br>
          <span class="count">
            <% if @todays_data.present? %>
              <%= @doctor_pharmacy_data_converted_count.reject(&:blank?).last.to_i + @doctor_optical_data_converted_count.reject(&:blank?).last.to_i %>
            <% else %>
              <%= @doctor_pharmacy_data_converted_count.reject(&:blank?).sum + @doctor_optical_data_converted_count.reject(&:blank?).sum %>
            <% end %>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head">
      <div class="panel_h">
        <div class="count_top title_h"> Surgery Doctor</div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span>Total</span><br>
          <span class="count">
            <% if @todays_data.present? %>
              <%= @procedures_total_count.reject(&:blank?).last.to_i %>
            <% else %>
              <%= @procedures_total_count.reject(&:blank?).sum %>
            <% end %>
          </span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span>Converted</span><br>
          <span class="count">
            <% if @todays_data.present? %>
              <%= @procedures_converted_count.reject(&:blank?).last.to_i %>
            <% else %>
              <%= @procedures_converted_count.reject(&:blank?).sum %>
            <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <% if @specialty_id == '309988001' || (@current_user.specialty_ids.include?('309988001') && @specialty_id == 'all') %>
      <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
        <div class="panel_h">
          <div class="count_top title_h">Ophthal Investigation</div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <span>Total</span>
            <br>
            <span class="count">
              <% if @todays_data.present? %>
                <%= @ophthal_investigations_total_count.reject(&:blank?).last.to_i %>
              <% else %>
                <%= @ophthal_investigations_total_count.reject(&:blank?).sum %>
              <% end %>
            </span>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <span>Converted</span>
            <br>
            <span class="count">
              <% if @todays_data.present? %>
                <%= @ophthal_investigations_converted_count.reject(&:blank?).last.to_i %>
              <% else %>
                <%= @ophthal_investigations_converted_count.reject(&:blank?).sum %>
              <% end %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
      <div class="panel_h">
        <div class="count_top title_h">Laboratory Investigation</div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span>Total</span>
          <br>
          <span class="count">
            <% if @todays_data.present? %>
              <%= @laboratory_investigations_total_count.reject(&:blank?).last.to_i %>
            <% else %>
              <%= @laboratory_investigations_total_count.reject(&:blank?).sum %>
            <% end %>
          </span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span>Converted</span>
          <br>
          <span class="count">
            <% if @todays_data.present? %>
              <%= @laboratory_investigations_converted_count.reject(&:blank?).last.to_i %>
            <% else %>
              <%= @laboratory_investigations_converted_count.reject(&:blank?).sum %>
            <% end %>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
      <div class="panel_h">
        <div class="count_top title_h">Radiology Investigation</div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span>Total</span>
          <br>
          <span class="count">
            <% if @todays_data.present? %>
              <%= @radiology_investigations_total_count.reject(&:blank?).last.to_i %>
            <% else %>
              <%= @radiology_investigations_total_count.reject(&:blank?).sum %>
            <% end %>
          </span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span>Converted</span>
          <br>
          <span class="count">
            <% if @todays_data.present? %>
              <%= @radiology_investigations_converted_count.reject(&:blank?).last.to_i %>
            <% else %>
              <%= @radiology_investigations_converted_count.reject(&:blank?).sum %>
            <% end %>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
      <div class="panel_h">
        <div class="count_top title_h"> All Investigations</div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span>Total</span><br>
          <span class="count">
            <% if @todays_data.present?%>
              <%=  @ophthal_investigations_total_count.reject(&:blank?).last.to_i + @laboratory_investigations_total_count.reject(&:blank?).last.to_i + @radiology_investigations_total_count.reject(&:blank?).last.to_i %>
            <% else %>
              <%= @ophthal_investigations_total_count.reject(&:blank?).sum + @laboratory_investigations_total_count.reject(&:blank?).sum + @radiology_investigations_total_count.reject(&:blank?).sum %>
            <% end %>
          </span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span>Converted</span><br>
          <span class="count">
            <% if @todays_data.present? %>
              <%= @ophthal_investigations_converted_count.reject(&:blank?).last.to_i + @laboratory_investigations_converted_count.reject(&:blank?).last.to_i + @radiology_investigations_converted_count.reject(&:blank?).last.to_i %>
            <% else %>
              <%= @ophthal_investigations_converted_count.reject(&:blank?).sum + @laboratory_investigations_converted_count.reject(&:blank?).sum + @radiology_investigations_converted_count.reject(&:blank?).sum %>
            <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
      <div class="panel_h">
        <div class="count_top title_h"> Pharmacy Prescription </div>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <span>Total</span>
            <br>
            <span class="count">
              <%if @todays_data.present? %>
                <%= @doctor_pharmacy_data_total_count.reject(&:blank?).last.to_i %>
              <% else %>
                <%= @doctor_pharmacy_data_total_count.reject(&:blank?).sum %>
              <% end %>
            </span>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <span>Converted</span>
            <br>
            <span class="count">
              <% if @todays_data.present? %>
                  <%= @doctor_pharmacy_data_converted_count.reject(&:blank?).last.to_i %>
              <% else %>
                  <%= @doctor_pharmacy_data_converted_count.reject(&:blank?).sum %>
              <% end %>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
      <div class="panel_h">
        <div class="count_top title_h">Laboratory Investigation</div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span>Total</span>
          <br>
          <span class="count">
            <% if @todays_data.present? %>
              <%= @laboratory_investigations_total_count.reject(&:blank?).last.to_i %>
            <% else %>
              <%= @laboratory_investigations_total_count.reject(&:blank?).sum %>
            <% end %>
          </span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span>Converted</span>
          <br>
          <span class="count">
            <% if @todays_data.present? %>
              <%= @laboratory_investigations_converted_count.reject(&:blank?).last.to_i %>
            <% else %>
              <%= @laboratory_investigations_converted_count.reject(&:blank?).sum %>
            <% end %>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
      <div class="panel_h">
        <div class="count_top title_h">Radiology Investigation</div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span>Total</span>
          <br>
          <span class="count">
            <% if @todays_data.present? %>
              <%= @radiology_investigations_total_count.reject(&:blank?).last.to_i %>
            <% else %>
              <%= @radiology_investigations_total_count.reject(&:blank?).sum %>
            <% end %>
          </span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span>Converted</span>
          <br>
          <span class="count">
            <% if @todays_data.present? %>
              <%= @radiology_investigations_converted_count.reject(&:blank?).last.to_i %>
            <% else %>
              <%= @radiology_investigations_converted_count.reject(&:blank?).sum %>
            <% end %>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
      <div class="panel_h">
        <div class="count_top title_h"> All Investigations</div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span>Total</span><br>
          <span class="count">
            <% if @todays_data.present?%>
              <%=  @ophthal_investigations_total_count.reject(&:blank?).last.to_i + @laboratory_investigations_total_count.reject(&:blank?).last.to_i + @radiology_investigations_total_count.reject(&:blank?).last.to_i %>
            <% else %>
              <%= @ophthal_investigations_total_count.reject(&:blank?).sum + @laboratory_investigations_total_count.reject(&:blank?).sum + @radiology_investigations_total_count.reject(&:blank?).sum %>
            <% end %>
          </span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span>Converted</span><br>
          <span class="count">
            <% if @todays_data.present? %>
              <%= @ophthal_investigations_converted_count.reject(&:blank?).last.to_i + @laboratory_investigations_converted_count.reject(&:blank?).last.to_i + @radiology_investigations_converted_count.reject(&:blank?).last.to_i %>
            <% else %>
              <%= @ophthal_investigations_converted_count.reject(&:blank?).sum + @laboratory_investigations_converted_count.reject(&:blank?).sum + @radiology_investigations_converted_count.reject(&:blank?).sum %>
            <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if false %>
  <!-- <p>hidden need correction</p> -->
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head">
      <div class="panel_h">
        <div class="count_top title_h"> Surgery </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span>Total</span><br>
          <span class="count text-center">
            <% if @todays_data.present? %>
              <%= @counsellor_procedures_converted_count.reject(&:blank?).last.to_i + @counsellor_procedures_not_converted_count.reject(&:blank?).last.to_i %>
            <% else %>
              <%= @counsellor_procedures_converted_count.reject(&:blank?).sum + @counsellor_procedures_not_converted_count.reject(&:blank?).sum %>
            <% end %>
          </span>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-6">
          <span>Converted</span><br>
          <span class="count">
            <% if @todays_data.present? %>
              <%= @counsellor_procedures_converted_count.reject(&:blank?).last.to_i %>
            <% else %>
              <%= @counsellor_procedures_converted_count.reject(&:blank?).sum %>
            <% end %>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
      <div class="panel_h">
        <div class="count_top title_h"> Ophthal Investigations</div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span>Total</span>
          <br>
          <span class="count">
            <% if @todays_data.present? %>
              <%= @counsellor_ophthal_investigations_converted_count.reject(&:blank?).last.to_i + @counsellor_ophthal_investigations_not_converted_count.reject(&:blank?).last.to_i %>
            <% else %>
              <%= @counsellor_ophthal_investigations_converted_count.reject(&:blank?).sum + @counsellor_ophthal_investigations_not_converted_count.reject(&:blank?).sum %>
            <% end %>
          </span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span class="">Converted</span>
          <br>
          <span class="count">
            <% if @todays_data.present? %>
              <%= @counsellor_ophthal_investigations_converted_count.reject(&:blank?).last.to_i %>
            <% else %>
              <%= @counsellor_ophthal_investigations_converted_count.reject(&:blank?).sum %>
            <% end %>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head">
      <div class="panel_h">
        <div class="count_top title_h"> Laboratory Investigations </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span>Total</span>
          <br>
          <span class="count">
            <% if @todays_data.present? %>
              <%= @counsellor_laboratory_investigations_converted_count.reject(&:blank?).last.to_i + @counsellor_laboratory_investigations_not_converted_count.reject(&:blank?).last.to_i %>
            <% else %>
              <%= @counsellor_laboratory_investigations_converted_count.reject(&:blank?).sum + @counsellor_laboratory_investigations_not_converted_count.reject(&:blank?).sum %>
            <% end %>
          </span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span class="">Converted</span>
          <br>
          <span class="count">
            <% if @todays_data.present? %>
              <%= @counsellor_laboratory_investigations_converted_count.reject(&:blank?).last.to_i %>
            <% else %>
              <%= @counsellor_laboratory_investigations_converted_count.reject(&:blank?).sum %>
            <% end %>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
      <div class="panel_h">
        <div class="count_top title_h"> Radiology Investigations</div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span>Total</span>
          <br>
          <span class="count">
            <% if @todays_data.present? %>
              <%= @counsellor_radiology_investigations_converted_count.reject(&:blank?).last.to_i + @counsellor_radiology_investigations_not_converted_count.reject(&:blank?).last.to_i %>
            <% else %>
              <%= @counsellor_radiology_investigations_converted_count.sum + @counsellor_radiology_investigations_not_converted_count.sum %>
            <% end %>
          </span>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span class="">Converted</span>
          <br>
          <span class="count">
            <% if @todays_data.present? %>
              <%= @counsellor_radiology_investigations_converted_count.reject(&:blank?).last.to_i %>
            <% else %>
              <%= @counsellor_radiology_investigations_converted_count.reject(&:blank?).sum %>
            <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if current_facility.show_finances? %>
  <!-- finance -->
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head">
      <div class="panel_h panel-2l">
        <div class="count_top title_h" style="border-bottom: 0;">
          OPD Bills
        </div>
        <div class="col-sm-12 sub-panel">
          <div class="col-sm-6 sub-title">Net Total:</div>
          <div class="col-sm-6 count green" style="top: 0;text-align: left;">
            <%= @opd_bill[:total_net_amount].to_f %>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="sub-title">Cash</div>
          <div class="count" style="top: 0">
            <%= @opd_bill[:cash][:total_net_amount].to_f %>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span class="sub-title">Credit</span><br>
          <span class="count" style="top: 0">
            <%= @opd_bill[:credit][:total_net_amount].to_f %>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head">
      <div class="panel_h panel-2l">
        <div class="count_top title_h" style="border-bottom: 0;">
          IPD Bills
        </div>
        <div class="col-sm-12 sub-panel">
          <div class="col-sm-6 sub-title">Net Total:</div>
          <div class="col-sm-6 count green" style="top: 0;text-align: left;">
            <%= @ipd_bill[:total_net_amount].to_f %>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="sub-title">Cash</div>
          <div class="count" style="top: 0">
            <%= @ipd_bill[:cash][:total_net_amount].to_f %>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span class="sub-title">Credit</span><br>
          <span class="count" style="top: 0">
            <%= @ipd_bill[:credit][:total_net_amount].to_f %>
          </span>
        </div>
      </div>
    </div>


    <% if @specialty_id == '309988001' || (@current_user.specialty_ids.include?('309988001') && @specialty_id == 'all') %>
      <div class="col-md-3 col-sm-6 col-xs-12 panel-head">
        <div class="panel_h panel-2l">
          <div class="count_top title_h" style="border-bottom: 0;">
            Optical Bills
          </div>
          <div class="col-sm-12 sub-panel">
            <div class="col-sm-6 sub-title">Net Total:</div>
            <div class="col-sm-6 count green" style="top: 0;text-align: left;">
              <%= @optical_bill[:total_net_amount].to_f %>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="sub-title">Cash</div>
            <div class="count" style="top: 0">
              <%= @optical_bill[:cash][:total_net_amount].to_f %>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <span class="sub-title">Credit</span><br>
            <span class="count" style="top: 0">
              <%= @optical_bill[:credit][:total_net_amount].to_f %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head">
      <div class="panel_h panel-2l">
        <div class="count_top title_h" style="border-bottom: 0;">
          Pharmacy Bills
        </div>
        <div class="col-sm-12 sub-panel">
          <div class="col-sm-6 sub-title">Net Total:</div>
          <div class="col-sm-6 count green" style="top: 0;text-align: left;">
            <%= @pharmacy_bill[:total_net_amount].to_f %>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="sub-title">Cash</div>
          <div class="count" style="top: 0">
            <%= @pharmacy_bill[:cash][:total_net_amount].to_f %>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span class="sub-title">Credit</span><br>
          <span class="count" style="top: 0">
            <%= @pharmacy_bill[:credit][:total_net_amount].to_f %>
          </span>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="row">

    <div class="col-md-3 col-sm-6 col-xs-12 panel-head">
      <div class="panel_h panel-2l">
        <div class="count_top title_h" style="border-bottom: 0;">
          OPD Collection
        </div>
        <div class="col-sm-12 sub-panel">
          <div class="col-sm-6 sub-title">Net:</div>
          <div class="col-sm-6 count green" style="top: 0;text-align: left;">
            <%= @opd_collection['net_amount'].to_f %>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="sub-title">Gross</div>
          <div class="count" style="top: 0">
            <%= @opd_collection['gross_amount'].to_f %>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span class="sub-title">Refund</span><br>
          <span class="count" style="top: 0">
            <%= @opd_collection['Refund'].to_f %>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head">
      <div class="panel_h panel-2l">
        <div class="count_top title_h" style="border-bottom: 0;">
          IPD Collection
        </div>
        <div class="col-sm-12 sub-panel">
          <div class="col-sm-6">Net:</div>
          <div class="col-sm-6 count green" style="top: 0;text-align: left;">
            <%= @ipd_collection['net_amount'].to_f %>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="sub-title">Gross</div>
          <div class="count" style="top: 0">
            <%= @ipd_collection['gross_amount'].to_f %>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span class="sub-title">Refund</span><br>
          <span class="count" style="top: 0">
            <%= @ipd_collection['Refund'].to_f %>
          </span>
        </div>
      </div>
    </div>
    <% if @specialty_id == '309988001' || (@current_user.specialty_ids.include?('309988001') && @specialty_id == 'all') %>
      <div class="col-md-3 col-sm-6 col-xs-12 panel-head">
        <div class="panel_h panel-2l">
          <div class="count_top title_h" style="border-bottom: 0;">
            Optical Collection
          </div>
          <div class="col-sm-12 sub-panel">
            <div class="col-sm-6 sub-title">Net:</div>
            <div class="col-sm-6 count green" style="top: 0;text-align: left;">
              <%= @optical_collection['net_amount'].to_f %>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="sub-title">Gross</div>
            <div class="count" style="top: 0">
              <%= @optical_collection['gross_amount'].to_f %>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <span class="sub-title">Refund</span><br>
            <span class="count" style="top: 0">
              <%= @optical_collection['Refund'].to_f %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head">
      <div class="panel_h panel-2l">
        <div class="count_top title_h" style="border-bottom: 0;">
          Pharmacy Collection
        </div>
        <div class="col-sm-12 sub-panel" >
          <div class="col-sm-6 sub-title">Net:</div>
          <div class="col-sm-6 count green" style="top: 0;text-align: left;">
            <%= @pharmacy_collection['net_amount'].to_f %>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="sub-title">Gross</div>
          <div class="count" style="top: 0">
            <%= @pharmacy_collection['gross_amount'].to_f %>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <span class="sub-title">Refund</span><br>
          <span class="count" style="top: 0">
            <%= @pharmacy_collection['Refund'].to_f %>
          </span>
        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- optical data  -->
<% if @specialty_id == '309988001' || (@current_user.specialty_ids.include?('309988001') && @specialty_id == 'all') %>
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
      <div class="panel_h">
        <div class="count_top title_h">Optical Total Count </div>
        <span class="count "> 
          <% if @todays_data.present? %>
            <%= @optical_total_count.reject(&:blank?).last.to_i %>
          <% else %>
            <%= @optical_total_count.reject(&:blank?).sum %>
          <% end %>
        </span>
        <span id="weekly-appointment-created-counts_optical" class="panel_chart chart pull-right"></span>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
      <div class="panel_h">
        <div class="count_top title_h"> Optical Converted Count</div>
        <span class="count">
          <% if @todays_data.present? %>
            <%= @optical_converted_count.reject(&:blank?).last.to_i %>
          <% else %>
            <%= @optical_converted_count.reject(&:blank?).sum %>
          <% end %> 
        </span>
        <span id="weekly-appointment-arrived-counts_optical" class="panel_chart chart pull-right"></span>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
      <div class="panel_h">
        <div class="count_top title_h"> Optical Not Converted Count</div>
        <span class="count green">
          <% if @todays_data.present? %>
            <%= @optical_not_converted_count.reject(&:blank?).last.to_i %>
          <% else %>
            <%= @optical_not_converted_count.reject(&:blank?).sum %>
          <% end %>
        </span>
        <span id="weekly-admission-counts-optical" class="panel_chart chart pull-right"></span>
      </div>
    </div>
  </div>
<% end %>
<!-- pharmacy data -->
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
    <div class="panel_h">
      <div class="count_top title_h">Pharmacy Total Count </div>
      <span class="count "> 
        <% if @todays_data.present? %>
          <%= @pharmacy_total_count.reject(&:blank?).last.to_i %>
        <% else %>
          <%= @pharmacy_total_count.reject(&:blank?).sum %>
        <% end %>            
      </span>
      <span id="weekly-appointment-created-counts" class="panel_chart chart pull-right"></span>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
    <div class="panel_h">
      <div class="count_top title_h"> Pharmacy Converted Count</div>
      <span class="count">
        <% if @todays_data.present? %>
          <%= @pharmacy_converted_count.reject(&:blank?).last.to_i %>
        <% else %>
          <%= @pharmacy_converted_count.reject(&:blank?).sum %>
        <% end %> 
      </span>
      <span id="weekly-appointment-arrived-counts" class="panel_chart chart pull-right"></span>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12 panel-head ">
    <div class="panel_h">
      <div class="count_top title_h"> Pharmacy Not Converted Count</div>
      <span class="count green">
        <% if @todays_data.present? %>
          <%= @pharmacy_not_converted_count.reject(&:blank?).last.to_i %>
        <% else %>
          <%= @pharmacy_not_converted_count.reject(&:blank?).sum %>
        <% end %>
      </span>
      <span id="weekly-admission-counts" class="panel_chart chart pull-right"></span>
    </div>
  </div>
</div>

<script type="text/javascript">
  window.counting_animation()
</script>
<style>
  .panel-2l .title_h {
      border-bottom: 0;
    }

  .sub-panel {
    border-bottom: 1px solid #dcdde1;
    top: -10px;
  }
  .sub-title{
    font-size:  12px;    
  }
  .count{
    font-size: 12px !important;
  }
</style>
