<table class="table table-success mb30">
  <thead class="thead-appt">
    <tr>
      <th>#</th>
      <!--<th>Patient ID</th>-->
      <th>Patient Name</th>
      <th>Discharge Time</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="tbody-appt">
  <!-- If discharged count is more than 0 show "td" -->
    <% if @discharged.size > 0 %>
      <% @discharged_by_facility.try(:keys).each do |fac| %>
        <% if @discharged_by_facility[fac].size > 0 && @all_facilities.size > 1 %>
            <tr>
              <td class="facility-name" colspan="5"><%= @discharged_facilities[fac][0].name.upcase %></td>
            </tr>
        <% end %>
        <% @discharged_by_facility[fac].each_with_index do |discharged,i| %>
          <% if i.to_i < @count.to_i %>
            <% @patient = discharged.patient %>
            <tr>
              <td><%= i+1 %></td>
              <!--<td><%# @display_id = PatientIdentifier.find_by(patient_id: discharged.patient_id).try(:patient_org_id).split("-") %><%#= @display_id[1] %>-<%#= @display_id[2] %></td>-->
              <td><%= @patient.fullname %></td>
              <td><%= discharged.dischargetime.try(:strftime,"%I:%M %p") %></td>
              <td class="table-action">
                <%= link_to '/patient_summary/' + @patient.id.to_s, class: "ps", id: "patient-summary-timeline-link ps", data: {remote: "true"} do %><i class="fa fa-chevron-right"></i><% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    <!-- If discharged count is less than 0 dont show "td" -->
    <%else%>
      <td></td>
      <td>No Patients Discharged</td>
    <%end%>
  <!-- dischargedList Ends -->
  </tbody>
</table>

<style type="text/css">
  .thead-appt th, .tbody-appt td {
    padding: 5px !important;
    font-size: 12px;
  }

  .facility-name {
    text-align:center !important;
    background-color:#eee !important;
    color:#000 !important;
    font-weight:bold !important;
    padding: 0px !important;

  }
</style>