<div class="toggle-success <%= type %>_sms_active_inactive" id="<%= type %>_sms_inactive<%= i%><%= j%>" data-confirm="You really want to Change SMS Settings for this Location?" data-commit="No" data-cancel="Yes" data-level="<%= @level %>"></div>
<script>
    var togglebuttoninactive = {
        off: true,
    }

    $('.facility_sms_active_inactive').on('click', function() {
        $(this).confirmModal()
    });

    var facility_count = $(".panel-group").children().length
    for (i=0;i < facility_count;i++){
        $('#'+'<%= type%>'+'_sms_inactive'+i).toggles(togglebuttoninactive);
        for (j=0;j < $(".user"+i).length;j++){
            $('#'+'<%= type%>'+'_sms_inactive'+i+j).toggles(togglebuttoninactive);
        }
    }


    $("#"+"<%= type %>"+"_sms_inactive"+"<%= i%>"+"<%= j%>").on('toggle', function(e, active) {
       var facilityid = $("#hidden_facilityid").val();
        if (active) {
            var visit_sms_active_inactive = 'true'
        } else {;
            var visit_sms_active_inactive = 'false'
        }
        jQuery.ajax({
            type: "GET",
            url: '/sms_settings/set_facility_settings',
            data: {sms_active_inactive: visit_sms_active_inactive,user_id: '<%= user_id%>',facility_id: '<%= facility_id %>',type: "<%= type %>", remote: "true", level: $(this).attr("data-level"), facilityid: facilityid },
        });
    });

</script>