<%= form_tag "/sms_settings/followup_sms_setting", :method => :post, :remote => true, :id => 'customise_sms', :class => 'form form-bordered'  do  %>
  <div class="modal-content">
    <div class="modal-header hidden-print">
      <div class="row">
        <div class="col-md-8 text-right">
          <h4 class="modal-title text-right">Followup Appointment SMS</h4>
        </div>
        <div class="col-md-4 text-right">
          <%= submit_tag("Save Changes",{:class=>"btn btn-success btn-sm", onclick:"message_required()"}) %>
          <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
        </div>
      </div>
    </div>
    <div class="modal-body">
    <%= hidden_field_tag :facility_setting_id,@facility_setting.try(:id) %>
    <%= hidden_field_tag "level" , @level %>
    <%= hidden_field_tag "followup_sms_last_update" , current_user.try(:fullname) %>
    <%= hidden_field_tag "facilityid",@facility_setting.try(:facility_id) %>
    <div class="row mb10 clearfix">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            SMS Time:
          </div>
          <div class="col-md-12">
             <%= select_tag :followup_sms_time, options_for_select([['8am','08:00:00'],['8pm','20:00:00']],selected: @setting_source.try(:followup_sms_time).try(:strftime, "%H:%M:%S")), { :class => 'form-control'} %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            SMS Day:
          </div>
          <div class="col-md-12">
            <%= select_tag :followup_sms_schedule, options_for_select([['Same day',"0"],['1 day prior',"1"],['2 day prior',"2"],['3 day prior',"3"]],selected: @setting_source.try(:followup_sms_schedule)), { :class => 'form-control'} %>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb10">
      <div class="col-md-12">
        <%= text_area_tag :followup_sms_text ,@setting_source.try(:followup_sms_text),class: 'form-control message',rows: "6",placeholder: "Enter your SMS"%>
      </div>
    </div>
    <div class="row mb10">
      <div class="col-md-12">
        <span class="countdown"></span>
      </div>
    
      <div class="col-md-12">
        <%= render 'note_info_text' %>
        <%= render 'sms_word_help' %>
      </div>
    </div>
 </div>
</div>
<% end %>
<script type="text/javascript">
  function message_required() {
    $("#customise_sms").validate({
      rules: {
        'followup_sms_text':{
          required: true,
        }
      },
      messages:{
        'followup_sms_text': {
          required: "Message field is required",
        }
      }
    })
  }
</script>

