<%= form_tag "/sms_settings/long_overdue_sms_setting", :method => :post, :remote => true, :id => 'customise_sms', :class => 'form form-bordered'  do  %>
  <div class="modal-content">
    <div class="modal-header hidden-print">
      <div class="row">
        <div class="col-md-8">
          <h4 class="modal-title text-right">Long Overdue SMS Customization</h4>
        </div>
        <div class="col-md-4 text-right">
          <%= submit_tag("Save Changes",{:class=>"btn btn-success btn-sm", onclick: "message_required()"}) %>
          <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <%= hidden_field_tag :facility_setting_id, @facility_setting.try(:id) %>
      <%= hidden_field_tag "level" , @level %>
      <%= hidden_field_tag "long_overdue_sms_last_update" , current_user.try(:fullname) %>
      <%= hidden_field_tag "facilityid",@facility_setting.try(:facility_id) %>
      <div class="row mb10 clearfix">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">SMS Time:</div>
            <div class="col-md-12">
              <%= select_tag :long_overdue_sms_time, options_for_select([['8am','08:00:00']],selected: @setting_source.try(:long_overdue_sms_time).try(:strftime, "%H:%M:%S")), { :class => 'form-control'} %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              SMS Day:
            </div>
            <div class="col-md-12">
              <%= select_tag :long_overdue_sms_schedule, options_for_select([['After 1 month',"30"],['After 2 month',"60"],['After 6 month',"180"]],selected: @setting_source.try(:long_overdue_sms_schedule)), { :class => 'form-control'} %>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb10">
        <div class="col-md-12">
          <%= text_area_tag :long_overdue_sms_text ,@setting_source.try(:long_overdue_sms_text),class: 'form-control message',rows: "6",placeholder: "Enter your SMS"%>
        </div>
      </div>
      <div class="row mb10">
        <div class="col-md-12">
          <span class="countdown"></span>
        </div>
        <div class="col-md-12">
          <%= render 'note_info_text' %>
          <%= render 'sms_word_help' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script type="text/javascript">
function message_required() {
  $("#customise_sms").validate({
    rules: {
      'long_overdue_sms_text':{
        required: true,
      }
    },
    messages:{
      'long_overdue_sms_text': {
        required: "Message field is required",
      }
    }
  })
}
</script>