<!-- In Use -->
<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Add/Edit Work Experience Information</h4>
    </div>
    <%= form_for @user, url: settings_profiles_update_work_experience_path(user_id: @user.id), method: 'patch', remote: true, id: 'update_work_experience' do |user| %>
      <% if params[:index].present? %>
        <%= hidden_field_tag 'index', params[:index] %>
        
        <% work_experience = @user.work_experience[params[:index].to_i] %>
        <% company_name = work_experience[:company_name] %>
        <% job_title = work_experience[:job_title] %>
        <% job_location = work_experience[:job_location] %>
        <% joining_date = work_experience[:joining_date] %>
        <% leaving_date = work_experience[:leaving_date] %>
        <% job_description = work_experience[:job_description] %>
      <% end %>
      <div class="modal-body">
        <div class="row mb10">
          <div class="col-sm-12">
            <strong>Company Name</strong><br>
            <%= text_field_tag 'user[work_experience][company_name]', company_name.to_s, { class: 'form-control p5_10' } %>
          </div>
        </div>
        <div class="row mb10">
          <div class="col-sm-6">
            <strong>Job Title</strong><br>
            <%= text_field_tag 'user[work_experience][job_title]', job_title.to_s, { class: 'form-control p5_10' } %>
          </div>
          <div class="col-sm-6">
            <strong>Location</strong><br>
            <%= text_field_tag 'user[work_experience][job_location]', job_location.to_s, { class: 'form-control p5_10' } %>
          </div>
        </div>
        <div class="row mb10">
          <div class="col-sm-6">
            <strong>From</strong><br>
            <%= text_field_tag 'user[work_experience][joining_date]', joining_date.to_s, { class: 'form-control p5_10', placeholder: 'dd/mm/yy', readonly: 'readonly' } %>
          </div>
          <div class="col-sm-6">
            <strong>To</strong><br>
            <%= text_field_tag 'user[work_experience][leaving_date]', leaving_date.to_s, { class: 'form-control p5_10', placeholder: 'dd/mm/yy', readonly: 'readonly' } %>
          </div>
        </div>
        <div class="row mb10">
          <div class="col-sm-12">
            <strong>Description</strong><br>
            <%= text_field_tag 'user[work_experience][job_description]', job_description.to_s, { class: 'form-control p5_10' } %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= user.submit 'Save Information', class: 'btn btn-success', onclick: 'edit_work_experience()' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>

</div>

<style type="text/css">
  #user_work_experience_joining_date, #user_work_experience_leaving_date {
    background: #fff;
    cursor: pointer;
  }

  input.error, select.error {
    border-color: #b94a48;
    background-image: none;
  }
  input.valid, select.valid {
    border-color: #468847;
    background-image: none;
  }
</style>

<script type="text/javascript">
  <%= render partial: 'edit_work_experience.js.erb' %>
</script>