<!-- In Use -->
<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Edit Personal Information</h4>
    </div>
    <%= form_for @user, url: settings_profiles_update_user_profile_path(user_id: @user.id), method: 'patch', remote: true, id: 'update_user_profile' do |user| %>
      <%= user.hidden_field :age, value: @user.age %>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-3">
            <!-- <b>LOGO SPACE</b> -->
            <strong>Click to Upload</strong><br>
            <span class="btn btn-default btn-user-asset" id="results" style="padding:2px;">
              <% user_asset = (@user.user_profile_pic_url if @user.user_profile_pic_url.present?) || 'placeholder.png' %>
              <%= image_tag(user_asset, class: "thumb", style: 'max-width: 100px; min-height: 100px; max-height: 100px; line-height: 20px;', onclick: "$('#upload-user-picture').click();")%>
            </span><br/>
            <a href="" class="clear-user-asset" style="font-size: 10px;">Remove</a><br/>
            <span>100px x 100px.</span>
            <input type="hidden" name="remove_user_profile_pic" id="remove_user_profile_pic" value="false">
            <% if @user.user_profile_pic.present? %>
              <%= file_field_tag "user[user_profile_pic]", { value: "~/#{@user.user_profile_pic.try(:file).try(:filename)}",style: "visibility:hidden", id: 'upload-user-picture', onchange: "readURL(this)" } %>
            <% else %>
              <%= file_field_tag "user[user_profile_pic]", { style: "visibility:hidden", id: 'upload-user-picture', onchange: "readURL(this)" } %>
            <% end %>
          </div>
          <div class="col-sm-9">
            <div class="row mb10">
              <div class="col-md-3">
                <strong>Salutation</strong><br>
                <%= user.text_field :salutation, value: @user.salutation, class: 'form-control p5_10' %>
              </div>
              <div class="col-md-9">
                <strong>Full Name</strong><br>
                <%= user.text_field :fullname, value: @user.fullname, class: 'form-control p5_10' %>
              </div>
            </div>
            <div class="row mb10">
              <div class="col-md-6">
                <strong>Designation</strong><br>
                <%= user.text_field :designation, value: @user.designation, class: 'form-control p5_10' %>
              </div>
              <div class="col-md-6">
                <strong>Employee ID</strong><br>
                <%= user.text_field :employee_id, value: @user.employee_id, class: 'form-control p5_10' %>
              </div>
            </div>
            <div class="row mb10">
              <div class="col-md-4">
                <strong>Gender</strong>
                <%= user.select(:gender, ['Male', 'Female'], { include_blank: true }, { value: @user.gender, class: "form-control p5_10"} ) %>
              </div>
              <div class="col-md-4">
                <strong>Birthday</strong>
                <%= user.text_field :dob, value: @user.dob.try(:strftime, "%d/%m/%Y"), class: 'form-control p5_10', placeholder: 'dd/mm/yyyy', readonly: 'readonly' %>
              </div>
              <div class="col-sm-4">
                <strong>Country</strong><br>
                <%= user.select :country_id, options_for_select(@countries.collect {|p| [ p.name + " ("+p.abbreviation1+") ", p.id ] },@user.country_id), {include_blank: "Select Country"}, {class: 'form-control country p5_10'} %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="row mb10">
              <div class="col-md-4">
                <strong>Qualification</strong><br>
                <%= user.text_field :qualification, value: @user.qualification, class: 'form-control p5_10', placeholder: 'E.g MBBS, MS, FRS' %>
              </div>

              <div class="col-md-4">
                <strong>Fellowship</strong><br>
                <%= user.text_field :fellowship, value: @user.fellowship, class: 'form-control p5_10', placeholder: 'E.g Fellowship at HG Hospital India' %>
              </div>
            </div>
            <div class="row mb10">
              <div class="col-md-4">
                <strong>Mobile Number</strong><br>
                <%= user.text_field :mobilenumber, value: @user.mobilenumber, class: 'form-control p5_10', minlength: 6, maxlength: 10, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
              </div>
              <div class="col-md-4">
                <strong>Telephone</strong><br>
                <%= user.text_field :telephone, value: @user.telephone, class: 'form-control p5_10', minlength: 6, maxlength: 10, onkeypress: 'return event.charCode >= 48 && event.charCode <= 57' %>
              </div>
              <div class="col-md-4">
                <strong>Registration No.</strong>
                <%= user.text_field :registration_number, value: @user.registration_number, class: 'form-control p5_10', placeholder: 'Registration No.' %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="row mb10">
              <div class="col-md-7">
                <strong>Address</strong><br>
                <%= user.text_field :address, value: @user.address, class: 'form-control p5_10' %>
              </div>
              <div class="col-md-5">
                <strong>Email</strong><br>
                <%= user.text_field :email, value: @user.email, class: 'form-control p5_10', readonly: 'readonly' %>
              </div>
            </div>
            <div class="row mb10">
              <div class="col-md-4">
                <strong>Pincode</strong><a href="" class="clear-pincode" style="display:none;font-size: 10px;margin-top: -7px;"> Clear</a>
                <%= user.text_field :pincode, value: @user.pincode, class: 'form-control p5_10', placeholder: 'Pincode'%>
              </div>
              <div class="col-md-4">
                <strong>State</strong>
                <%= user.text_field :state, value: @user.state, class: 'form-control p5_10',id: 'user_state_name', placeholder: 'State'%>
              </div>
              <div class="col-md-4">
                <strong>City</strong><br>
                <%= user.text_field :city, value: @user.city, class: 'form-control p5_10', placeholder: 'City' %>
              </div>  
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= user.submit 'Update Information', class: 'btn btn-success', onclick: 'edit_user_profile()' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>

</div>

<style type="text/css">
  #user_dob {
    background: #fff;
    cursor: pointer;
  }

  #user_email {
    background: #fff;
  }

  input.error, select.error {
    border-color: #b94a48;
    background-image: none;
  }
  input.valid, select.valid {
    border-color: #468847;
    background-image: none;
  }

  .ui-menu-item a.ui-state-focus {
    background-color: #929090; 
    color: #fff; 
  }

</style>

<script type="text/javascript">
  <%= render partial: 'edit_user_profile.js.erb' %>
</script>