<!-- In Use -->
<%= javascript_include_tag "application-loggedin", "data-turbolinks-track" => true %>
<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Add/Edit Educational Information</h4>
    </div>
    <%= form_for @user, url: settings_profiles_update_education_information_path(user_id: @user.id), method: 'patch', remote: true, id: 'update_education_information' do |user| %>
      <% if params[:index].present? %>
        <%= hidden_field_tag 'index', params[:index] %>
        
        <% education_qualification = @user.education_qualification[params[:index].to_i] %>
        <% school = education_qualification[:school] %>
        <% degree = education_qualification[:degree] %>
        <% field_of_study = education_qualification[:field_of_study] %>
        <% grade = education_qualification[:grade] %>
        <% educ_start = education_qualification[:educ_start] %>
        <% educ_end = education_qualification[:educ_end] %>
        <% educ_desc = education_qualification[:educ_desc] %>
      <% end %>
      <div class="modal-body">
        <div class="row mb10">
          <div class="col-sm-6">
            <strong>Institute</strong><br>
            <%= text_field_tag 'user[education_qualification][school]', school.to_s, { class: 'form-control p5_10' } %>
          </div>
          <div class="col-sm-6">
            <strong>Degree</strong><br>
            <%= text_field_tag 'user[education_qualification][degree]', degree.to_s, { class: 'form-control p5_10' } %>
          </div>
        </div>
        <div class="row mb10">
          <div class="col-sm-6">
            <strong>Field of Study</strong><br>
            <%= text_field_tag 'user[education_qualification][field_of_study]', field_of_study.to_s, { class: 'form-control p5_10' } %>
          </div>
          <div class="col-sm-6">
            <strong>Grade</strong><br>
            <%= text_field_tag 'user[education_qualification][grade]', grade.to_s, { class: 'form-control p5_10' } %>
          </div>
        </div>
        <div class="row mb10">
          <div class="col-sm-6">
            <strong>From</strong><br>
            <%= text_field_tag 'user[education_qualification][educ_start]', educ_start.to_s, { class: 'form-control p5_10', placeholder: 'dd/mm/yy', readonly: 'readonly' } %>
          </div>
          <div class="col-sm-6">
            <strong>To</strong><br>
            <%= text_field_tag 'user[education_qualification][educ_end]', educ_end.to_s, { class: 'form-control p5_10', placeholder: 'dd/mm/yy', readonly: 'readonly' } %>
          </div>
        </div>
        <div class="row mb10">
          <div class="col-sm-12">
            <strong>Description</strong><br>
            <%= text_field_tag 'user[education_qualification][educ_desc]', educ_desc.to_s, { class: 'form-control p5_10' } %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= user.submit 'Save Information', class: 'btn btn-success', onclick: 'edit_education_information()' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    <% end %>
  </div>

</div>

<style type="text/css">
  #user_education_qualification_educ_start, #user_education_qualification_educ_end {
    background: #fff;
    cursor: pointer;
  }

  input.error, select.error {
    border-color: #b94a48;
    background-image: none;
  }
  input.valid, select.valid {
    border-color: #468847;
    background-image: none;
  }
</style>

<script type="text/javascript">
  <%= render partial: 'edit_education_information.js.erb' %>
</script>