<!-- In Use -->
<div class="pageheader header_change" style="padding-bottom: 5px ;padding-top: 5px">
  <%= stylesheet_link_tag  "settings_update", media: "all", "data-turbolinks-track" => true %>
  <h2 style="font-size: 20px"><i class="fa fa-user" style="font-size: 20px;padding: 6px 8px;"></i>Profile Settings<span>Manage your profile here...</span></h2>
</div>
<div class="content clearfix">
  <div role="tabpanel" class="content_container clearfix">
      <div class="col-md-2 mt15 side_bar_menu">
      <!-- new menu -->
      <ul class="list-unstyled components settings_update">
        <li class="active">
          <a href="#generalSettingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle settings_head"><span class="b-icon"><i class="fa fa-cog"></i>&nbsp;&nbsp;</span>General &nbsp;&nbsp;&nbsp;<span class="caret"></span></a>
          <ul class="collapse list-unstyled in padded_list" id="generalSettingSubmenu">
            <li role="presentation" class="active"><a href="#user_profile" data-toggle="tab">Personal Information</a></li>
            <li role="presentation"><a href="#user_signature" data-toggle="tab">Signature Info</a></li>
            <li role="presentation"><a href="#education_information" data-toggle="tab">Educational Info</a></li>
            <li role="presentation"><a href="#work_experience" data-toggle="tab">Work Experience</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="tab-content col-md-10 mt15">
      <div class="tab-pane active" id="user_profile">
        <%= render "user_profile.html.erb" %>
      </div>

      <div class="tab-pane" id="user_signature">
        <%= render "user_signature.html.erb" %>
      </div>

      <div class="tab-pane" id="education_information">
        <%= render "education_information.html.erb" %>
      </div>

      <div class="tab-pane" id="work_experience">
        <%= render "work_experience" %>
      </div>
    </div>
  </div>
</div>
