<!-- In Use -->
<div class="row">
  <div class="col-md-6">
    <h4>SIGNATURE</h4>
  </div>
  <div class="col-md-6 text-right">
    <%= link_to settings_profiles_edit_user_signature_path(user_id: @user.id.to_s), :class => "btn btn-info navbar-btn edit_signature_info", data: {remote: true, 'toggle': "modal", 'target': '#edit-user-setting-modal'} do %><i class="fa fa-edit"></i> Edit<% end %>
  </div>
</div>

<div class="col-md-6">
  <div class="row">
    <div class="col-md-6 text-right">
      <b>Use Digital Signature in Templates:</b>
    </div>
    <div class="col-md-6 radio_buttons_passcode">
      <div class="row">
      <div class="rdio rdio-primary col-md-6">
        <input type="radio" name="digital_signature" class="digital_signature" id="digital_signature_yes" value="true" <%= 'checked="checked"' if @user.try(:digital_signature) == true %> />
        <label for="digital_signature_yes">Yes</label>
      </div>
      <div class="rdio rdio-primary col-md-6">
        <input type="radio" name="digital_signature" class="digital_signature" id="digital_signature_no" value="false" <%= 'checked="checked"' if @user.try(:digital_signature) == false || @user.try(:digital_signature) == nil %> />
        <label for="digital_signature_no">No</label>
      </div>
      </div>
    </div>
  </div>
  <% if @current_user.role_ids.include?(158965000) %>
    <div class="row">
      <div class="col-md-6 text-right">
        <b>Include with signature:</b>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-7 ckbox ckbox-success mb5 specialty">
            <%= check_box_tag 'digital_signature_qualification', false, @user.include_qualification, {id: "digital_signature_qualification"} %>
            <label for="digital_signature_qualification">Qualification</label>
          </div>
          <div class="col-md-5 qualification_not" style="color: red; display: none;"><b>Not Available</b></div>
        </div>
        <div class="row">
          <div class="col-md-7 ckbox ckbox-success mb5 registration">
            <%= check_box_tag 'digital_signature_registration', true, @user.include_registration_number, {id: "digital_signature_registration"} %>
            <label for="digital_signature_registration">Registration No.</label>
          </div>
          <div class="col-md-5 registration_number_not" style="color: red; display: none;"><b>Not Available</b></div>
        </div>
        <div class="row">
          <div class="col-md-7 ckbox ckbox-success mb5 designation">
            <%= check_box_tag 'digital_signature_designation', false, @user.include_designation, {id: "digital_signature_designation"} %>
            <label for="digital_signature_designation">Designation</label>
          </div>
          <div class="col-md-5 designation_not" style="color: red; display: none;"><b>Not Available</b></div>
        </div>
        <div class="row">
          <div class="col-md-7 ckbox ckbox-success mb5 specialty">
            <%= check_box_tag 'digital_signature_fellowship', false, @user.include_fellowship, {id: "digital_signature_fellowship"} %>
            <label for="digital_signature_fellowship">Fellowship</label>
          </div>
          <div class="col-md-5 fellowship_not" style="color: red; display: none;"><b>Not Available</b></div>
        </div>
        <div class="row">
          <div class="col-md-7 ckbox ckbox-success mb5 specialty">
            <%= check_box_tag 'digital_signature_specialty', false, @user.include_specialty, {id: "digital_signature_specialty"} %>
            <label for="digital_signature_specialty">Sub Specialty</label>
          </div>
          <div class="col-md-5 specialty_not" style="color: red; display: none;"><b>Not Available</b></div>
        </div>
        <div class="row">
          <div class="col-md-7 ckbox ckbox-success mb5 specialty">
            <%= check_box_tag 'digital_signature_print_datetime', false, @user.include_print_datetime, {id: "digital_signature_print_datetime"} %>
            <label for="digital_signature_print_datetime">Print Date & Time</label>
          </div>
          <div class="col-md-5 print_datetime_not" style="color: red; display: none;"><b>Not Available</b></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% if @current_user.role_ids.include?(158965000) %>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12 text-left"><label style="font-size: large;">Signature Print Preview</label></div>
      <div class="col-md-6">
        <div class="fileupload-preview fileupload-exists thumbnail" style="padding: 10px; min-height: 80px; line-height: 20px;">
          <%= image_tag(@user.user_signature_url.to_s) %>
          <span style="color: black; font-size: revert;"><b><%= @user.fullname.titleize %></b></span><br/>
          <% if @user.qualification.present? %>
            <span class="user_qualification">
              <%= @user.qualification %><br/>
            </span>
          <% end %>
          <% if @user.registration_number.present? %>
            <span class="user_registration_number">
              Reg. No:  <%= @user.registration_number %><br/>
            </span>
          <% end %>
          <% if @user.designation.present? %>
            <span class="user_designation">
              <%= @user.designation.titleize %><br>
            </span>
          <% end %>
          <% if @user.fellowship.present? %>
            <span class="user_fellowship">
              <%= @user.fellowship %><br/>
            </span>
          <% end %>
          <% if @user.sub_specialty_names.present? %>
            <span class="user_sub_specialty">
              <%= @user.sub_specialty_names.join(" ,") %><br/>
            </span>
          <% end %>
          <span class="user_print_datetime">Printed on: <%= Time.current.strftime("%d %b'%Y, %I:%M %p") %></span>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12 text-left"><label style="font-size: large;">Signature Print Preview</label></div>
      <div class="col-md-6">
        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 150px; max-height: 80px; min-height: 80px; line-height: 20px;margin:0px;">
          <%= image_tag(@user.user_signature_url.to_s) %>
          <span style="color: black; font-size: revert;"><b><%= @user.fullname.titleize %></b></span><br/>
          <span>Printed on: <%= Time.current.strftime("%d %b'%Y, %I:%M %p") %></span>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  <%= render partial: 'user_signature.js.erb' %>
</script>
