<!-- In Use -->
<div class="row">
  <div class="col-md-6">
    <h4>PERSONAL INFORMATION</h4>
  </div>
  <div class="col-md-6 text-right">
    <%= link_to settings_profiles_edit_user_profile_path(user_id: @user.id.to_s), :class => "btn btn-info navbar-btn edit_user_info", data: {remote: true, 'toggle': "modal", 'target': '#edit-user-setting-modal'} do %><i class="fa fa-edit"></i> Edit<% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <% if @user.user_profile_pic_url.present? %>
      <%= image_tag @user.user_profile_pic_url.to_s, style: 'width:100px;height:100px;' %>
    <% else %>
      <%= image_tag "placeholder.png", style: 'width:100px;height:100px;' %>
    <% end %>
  </div>

  <div class="col-md-10">
    <h3 style="margin-top: 0px;">
      <%= @user.salutation %>&nbsp;<%= @user.fullname %>
      <% if @user.registration_number.present? || @user.employee_id.present? %>
        <span style="font-size: 16px;">(<%= @user.registration_number.to_s %><%= "&nbsp;|&nbsp;".html_safe if (@user.registration_number.present? && @user.employee_id.present?) %><%= @user.employee_id.to_s %>)</span>
      <% end %>
    </h3>
    <h4> <%= @user.designation%>&nbsp; at &nbsp;<%= @user.organisation.try(:name)%></h4>
    <p><strong>Age | Birthday:</strong> <%= @user.age %> Years | <%=@user.try(:dob).try(:strftime, '%d %b %Y') %></p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <h4>CONTACT INFORMATION</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
    <p><strong>Email:</strong></p>
  </div>
  <div class="col-md-3">
    <p>&nbsp; <%= @user.email %></p>
  </div>
  <div class="col-md-1">
    <p><strong>Mobile:</strong></p>
  </div>
  <div class="col-md-3">
    <p><%= @user.mobilenumber %> <%= "| " + @user.telephone.to_s if @user.telephone.present? %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
    <p><strong>Address:</strong></p>
  </div>
  <div class="col-md-10">
    <p><%= @user.address %><br><%= @user.city %>, <%= @user.state %> - <%= @user.pincode %></p>
  </div>
</div>