<!-- In Use -->
<div class="row">
  <div class="col-md-6">
    <h4>WORK EXPERIENCE</h4>
  </div>
  <div class="col-md-6 text-right">
    <%= link_to settings_profiles_edit_work_experience_path(user_id: @user.id.to_s), :class => "btn btn-info navbar-btn add_work_experience", data: {remote: true, 'toggle': "modal", 'target': '#edit-user-setting-modal'} do %><i class="fa fa-plus"></i> Add<% end %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <% work_experience = @user.work_experience %>
    <% if work_experience.count > 0 %>
      <% work_experience.each_with_index do |work, i| %>
        <div class="row">
          <div class="col-md-3">
            <label>Company Name</label>
          </div>
          <div class="col-md-6">
            <%= work['company_name'] %>
          </div>
          <div class="col-md-3 text-right">
            <%= link_to settings_profiles_edit_work_experience_path(user_id: @user.id.to_s, index: i), :class => "btn btn-success btn-xs edit_work_experience", data: {remote: true, 'toggle': "modal", 'target': '#edit-user-setting-modal'} do %><i class="fa fa-edit"></i><% end %>
            <%= link_to settings_profiles_delete_work_experience_path(user_id: @user.id.to_s, index: i), method: 'delete', :class => "btn btn-danger btn-xs delete_work_experience", data: {remote: true} do %><i class="fa fa-times"></i><% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label>Job Title</label>
          </div>
          <div class="col-md-9">
            <%= work['job_title'] %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label>Job Location</label>
          </div>
          <div class="col-md-9">
            <%= work['job_location'] %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label>Duration</label>
          </div>
          <div class="col-md-2">
            <label>From</label>
          </div>
          <div class="col-md-2">
            <%= work['joining_date'] %>
          </div>
          <div class="col-md-1">
            <label>To</label>
          </div>
          <div class="col-md-1">
            <%= work['leaving_date'] %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
             <label> Description </label>
          </div>
          <div class="col-md-9">
             <%= work['job_description'] %>
          </div>
        </div>
        <hr/>
      <% end %>
    <% else %>
      No Work Experience
    <% end %>
  </div>
</div>