<!DOCTYPE html>
<html>
<head>
  <title>HG | Reports</title>
  <%= favicon_link_tag 'foss.ico' %>
  <%= stylesheet_link_tag "application_backbone", media: "all", "data-turbolinks-track" => true, 'data-turbolinks-eval'=>false %>
  <%= stylesheet_link_tag  "inventory/jquery-ui.min", media: "all", "data-turbolinks-track" => true, 'data-turbolinks-eval'=>false %>
  <%= javascript_include_tag "application_backbone", "data-turbolinks-track" => true, 'data-turbolinks-eval'=>false %>
  <%= javascript_include_tag "analytics/backbone_analytics", "data-turbolinks-track" => true %>
  <!-- inventory/jquery-ui.min -->
  <%= javascript_include_tag "jquery-ui-1.12.1.min", "data-turbolinks-track" => true, 'data-turbolinks-eval'=>false %>
  <%= csrf_meta_tags %>


</head>
<body style="">
  
  <%= render partial: "loggedin/nav_reports" %>

  <%= yield %>


</body>
</html>
