<!DOCTYPE html>
<html>
<head>
  <!-- <title>Foss - EHR</title> -->
  <% if content_for?(:page_title) %>
    <%= yield :page_title %>
  <% else %>
    <title>Foss - EHR</title>
  <% end %>
  <%= yield(:page_title).presence || "<title>EHR HealthGraph</title>" %>
  <%= favicon_link_tag 'foss.ico' %>
  <%= stylesheet_link_tag "application_backbone", media: "all", "data-turbolinks-track" => true, 'data-turbolinks-eval'=>false %>
  <%= stylesheet_link_tag  "inventory", media: "all", "data-turbolinks-track" => true, 'data-turbolinks-eval'=>false %>
  <%= stylesheet_link_tag  "inventory/jquery-ui.min", media: "all", "data-turbolinks-track" => true, 'data-turbolinks-eval'=>false %>
  <%= javascript_include_tag "application_backbone", "data-turbolinks-track" => true, 'data-turbolinks-eval'=>false %>
  <%#= javascript_include_tag "inventory/bb_inventory", "data-turbolinks-track" => true %>
  <!-- inventory/jquery-ui.min -->
  <%= javascript_include_tag "jquery-ui-1.12.1.min", "data-turbolinks-track" => true, 'data-turbolinks-eval'=>false %>
  <%= csrf_meta_tags %>


</head>
<body style="">
  <%# if current_user %>
      <%#= auto_session_timeout_js frequency: 5 %>
  <%# end %>

  <div id="dashboard_container" ></div>
  
 <!--  <div id="ajaxloader" class="text-center" style="position: fixed; top: 50%; left: 50%; margin-top: -15px; margin-left: -75px;">
    <img src="/images/loaders/loader6.gif">
    <br />
    Loading Inventory
  </div> -->

  <%= render "loggedin/modal" %>

  <div class="mainpanel_inventory">
    <% if current_user.has_role?(:pharmacist) || current_user.has_role?(:optician) %>
      <%= render partial: "loggedin/nav_inventory_only" %>
    <% else %>
      <%= render partial: "loggedin/nav_inventory" %>
    <% end %>
    <%= yield %>
  </div>

<script>
  $('.modal').on('hidden.bs.modal', function () {
    $(this).html('')
    $(".tipsy").on("hover",function(){
      $(this).remove();
    })
  });

  $('.modal').on('show.bs.modal', function () {
    $(".tipsy").on("hover",function(){
      $(this).remove();
    })
  });

  // function to disable right click
  // $(function() {
  //   $(this).bind("contextmenu", function(e) {
  //     e.preventDefault();
  //   });
  // });
</script>

</body>
</html>