<!DOCTYPE html>
<html>
<head>
  <title>HG | Investigation</title>
  <%= favicon_link_tag 'foss.ico' %>
  <%= stylesheet_link_tag "application_backbone", media: "all", "data-turbolinks-track" => true, 'data-turbolinks-eval'=>false %>
  <%= javascript_include_tag "application_backbone", "data-turbolinks-track" => true, 'data-turbolinks-eval'=>false %>
  <%= javascript_include_tag "investigation/application", "data-turbolinks-track" => true %>
  <!-- inventory/jquery-ui.min -->
  <%= csrf_meta_tags %>


</head>
<body style="">
  
  <%= render partial: "loggedin/nav_reports" %>

  <%= yield %>


</body>
</html>
