<!DOCTYPE html>
<html>
  <head>
    <% if content_for?(:page_title) %>
      <%= yield :page_title %>
    <% else %>
      <title>Foss - EHR</title>
    <% end %>
    <%= favicon_link_tag 'foss.ico' %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true, 'data-turbolinks-eval'=>false %>
    <%= stylesheet_link_tag  "bootstrap-timepicker.min", media: "all", "data-turbolinks-track" => true, 'data-turbolinks-eval'=>false %>
    <%= javascript_include_tag "application-header", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "jquery-ui-1.12.1.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "jquery.timeago", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "toggles.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "jquery.elevatezoom.js", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "bootstrap-timepicker.min", "data-turbolinks-track" => true, 'data-turbolinks-eval' => false %>

    <%= csrf_meta_tags %>
  </head>
  <body style="overflow: auto">
    <div class="mainpanel" style="margin-top: 30px;margin-bottom: 30px;">
      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>
  </body>
</html>

