<!DOCTYPE html>
<html>
  <head>
    <title>Foss - EHR</title>
    <%= favicon_link_tag 'foss.ico' %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true, 'data-turbolinks-eval'=>false %>
    <%= stylesheet_link_tag  "bootstrap-timepicker.min", media: "all", "data-turbolinks-track" => true, 'data-turbolinks-eval'=>false %>

    <%= javascript_include_tag "application-header", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true, 'data-turbolinks-eval'=>false %>
    <%= javascript_include_tag "jquery-ui-1.12.1.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "bootstrap-timepicker.min", "data-turbolinks-track" => true, 'data-turbolinks-eval'=>false %>

    <%= csrf_meta_tags %>
  </head>
  <body class="signin" style="overflow-y: auto;background: #fff;">
    <%= yield %>
    
    <%= render "loggedout/modal" %>
  </body>
</html>