<!DOCTYPE html>
<html>
  <head>
    <% if content_for?(:page_title) %>
      <%= yield :page_title %>
    <% else %>
      <title>Foss - EHR</title>
    <% end %>
    <%= favicon_link_tag 'foss.ico' %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true, 'data-turbolinks-eval'=>false %>
    <%= stylesheet_link_tag  "bootstrap-timepicker.min", media: "all", "data-turbolinks-track" => true, 'data-turbolinks-eval'=>false %>
    <%= javascript_include_tag "application-header", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true, 'data-turbolinks-eval' => false %>
    <%= javascript_include_tag "jquery-ui-1.12.1.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "bootstrap-timepicker.min", "data-turbolinks-track" => true, 'data-turbolinks-eval' => false %>
    <%= javascript_include_tag "fuelux", "data-turbolinks-track" => true, 'data-turbolinks-eval' => false %>
    <%= javascript_include_tag "jquery.timeago", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "toggles.min", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "jquery.elevatezoom.js", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <style type="text/css">
      .window-dialog {
        width:100%;
        margin:0px;
        /*margin-top:-50px;*/
      }
    </style>
  </head>
  <body style="overflow: auto">
    
    <div class="mainpanel">
      <%= yield %>
    </div>

    <%= render "loggedin/modal" %>
    <%= render "loggedin/modalimagegallery" %>

    <script>
      // Need to change
      $("button").on('click', function(){
        if($(this).attr('data-dismiss') == "window"){
          window.close();
          Android.closeTemplate("");
        }
      })

      $(window).resize(function() {
        resize_function()
      })

      function resize_function(){
        var window_height = $(window).height()
        var window_header_height = $(".window-header").height()
        var window_footer_height = $(".window-footer").height()
        var window_body_height = window_height - (window_header_height + window_footer_height + 62)
        $(".window-body").css("min-height", window_body_height)
      }
      resize_function()
      jQuery(document).ready(function () {

        jQuery(document).bind("ajax:beforeSend", function () {
          $("#ajaxloader").show()
        }).bind("ajaxComplete", function () {
          url = window.location.href
          if(url.indexOf('patients/summary?appointment_id=') > -1)
            {
              $('.facility_dropdown').removeAttr('data-toggle')
            }
          else
            {$('.facility_dropdown').attr('data-toggle','dropdown')}
          $("#ajaxloader").hide()
        });

        jQuery("ul.nav-bracket > li").on("click", function () {
          jQuery("ul.nav-bracket > li[class='active']").removeClass("active");
          jQuery(this).addClass("active");
        });
        $('.modal').on('hidden.bs.modal', function () {
          $(this).html('')
          $(".tipsy").on("hover",function(){
            $(this).remove();
          })
        });

        $('.modal').on('show.bs.modal', function () {
          $(".tipsy").on("hover",function(){
            $(this).remove();
          })
        });

        jQuery('.thmb').hover(function () {
          var t = jQuery(this);
          t.find('.ckbox').show();
          t.find('.fm-group').show();
        }, function () {
          var t = jQuery(this);
          if (!t.closest('.thmb').hasClass('checked')) {
            t.find('.ckbox').hide();
            t.find('.fm-group').hide();
          }
        });

        jQuery('.ckbox').each(function () {
          var t = jQuery(this);
          var parent = t.parent();
          if (t.find('input').is(':checked')) {
            t.show();
            parent.find('.fm-group').show();
            parent.addClass('checked');
          }
        });


        jQuery('.ckbox').click(function () {
          var t = jQuery(this);
          if (!t.find('input').is(':checked')) {
            t.closest('.thmb').removeClass('checked');
            enable_itemopt(false);
          } else {
            t.closest('.thmb').addClass('checked');
            enable_itemopt(true);
          }
        });

        jQuery('#selectall').click(function () {
          if (jQuery(this).is(':checked')) {
            jQuery('.thmb').each(function () {
              jQuery(this).find('input').attr('checked', true);
              jQuery(this).addClass('checked');
              jQuery(this).find('.ckbox, .fm-group').show();
            });
            enable_itemopt(true);
          } else {
            jQuery('.thmb').each(function () {
              jQuery(this).find('input').attr('checked', false);
              jQuery(this).removeClass('checked');
              jQuery(this).find('.ckbox, .fm-group').hide();
            });
            enable_itemopt(false);
          }
        });

        function enable_itemopt(enable) {
          if (enable) {
            jQuery('.itemopt').removeClass('disabled');
          } else {

            // check all thumbs if no remaining checks
            // before we can disabled the options
            var ch = false;
            jQuery('.thmb').each(function () {
              if (jQuery(this).hasClass('checked'))
                ch = true;
            });

            if (!ch)
              jQuery('.itemopt').addClass('disabled');
          }
        }

        //Replaces data-rel attribute to rel.
        //We use data-rel because of w3c validation issue
        jQuery('a[data-rel]').each(function () {
          jQuery(this).attr('rel', jQuery(this).data('rel'));
        });

        jQuery("a[rel^='prettyPhoto']").prettyPhoto();
        

        // function to disable right click
        // $(function() {
        //   $(this).bind("contextmenu", function(e) {
        //     e.preventDefault();
        //   });
        // });
        
      });
    </script>
  </body>
</html>