<tr class="treatmentmedications" id="<%= @variant.reference_id %>">
  <% index = (Time.current.to_f.round(3)*1000).to_i %>
  <%= hidden_field_tag "inventory_order_indent[items_attributes][#{index}][item_code]", @variant.item_code %>
  <%= hidden_field_tag "inventory_order_indent[items_attributes][#{index}][variant_code]", @variant.variant_code %>
  <%= hidden_field_tag "inventory_order_indent[items_attributes][#{index}][item_id]", @variant.item_id %>
  <%= hidden_field_tag "inventory_order_indent[items_attributes][#{index}][variant_id]", @variant.id %>
  <%= hidden_field_tag "inventory_order_indent[items_attributes][#{index}][default_variant_id]", @variant.id, class: 'variant-id' %>
  <%= hidden_field_tag "inventory_order_indent[items_attributes][#{index}][category]", @variant.category %>
  <%= hidden_field_tag "inventory_order_indent[items_attributes][#{index}][category_id]", @variant.category_id %>
  <%= hidden_field_tag "inventory_order_indent[items_attributes][#{index}][barcode]", @variant.barcode %>
  <%= hidden_field_tag "inventory_order_indent[items_attributes][#{index}][barcode_present]", @variant.barcode_present %>
  <%= hidden_field_tag "inventory_order_indent[items_attributes][#{index}][variant_reference_id]", @variant.reference_id, class: 'variant-reference-id' %>
  <%= hidden_field_tag "inventory_order_indent[items_attributes][#{index}][item_reference_id]", @item.reference_id %>
  <%= hidden_field_tag "inventory_order_indent[items_attributes][#{index}][facility_id]", @variant.facility_id %>
  <%= hidden_field_tag "inventory_order_indent[items_attributes][#{index}][store_id]", @variant.store_id %>
  <%= hidden_field_tag "inventory_order_indent[items_attributes][#{index}][organisation_id]", @variant.organisation_id %>
  <%= hidden_field_tag "inventory_order_indent[items_attributes][#{index}][variant_identifier]", @variant.variant_identifier %>
  <%= hidden_field_tag "inventory_order_indent[items_attributes][#{index}][tax_rate]", @item.tax_rate %>
  <%= hidden_field_tag "inventory_order_indent[items_attributes][#{index}][tax_name]", @item.tax_name %>
  <%= hidden_field_tag "inventory_order_indent[items_attributes][#{index}][tax_group_id]", @item.tax_group_id %>
  <%= hidden_field_tag "inventory_order_indent[items_attributes][#{index}][tax_inclusive]", @item.tax_inclusive %>
  <%= hidden_field_tag "inventory_order_indent[items_attributes][#{index}][dispensing_unit]", @item.dispensing_unit %>
  <%= hidden_field_tag "inventory_order_indent[items_attributes][#{index}][item_units]", @item_units  %>
  <td class="set_s_no"></td>
  <td class="col-md-3 col-sm-3 col-xs-3">
    <% if @variant.custom_field_data.present? %>
      <% @variant.custom_field_data.each do |k,v| %>
        <%= hidden_field_tag "inventory_order_indent[items_attributes][#{index}][custom_field_data][#{k}]", v %>
      <% end %>
    <% end %>
    <%= select_tag "inventory_order_indent[items_attributes][#{index}][custom_field_tags]", options_for_select(@variant.custom_field_tags,@variant.custom_field_tags), include_hidden: false, multiple:true, style: "display: none;" %>
    <strong><%= @variant.description %>&nbsp;&nbsp;<%= @variant.variant_identifier.try(:capitalize) %></strong>
    <%= hidden_field_tag "inventory_order_indent[items_attributes][#{index}][description]", @variant.description, readonly: true, class: "item_description modalRequest_input_style", :placeholder=>"Description" %>
    <%= hidden_field_tag "inventory_order_indent[items_attributes][#{index}][_destroy]", 0 , class: 'form-control' %>
  </td>
  <td class="col-md-3 col-sm-3 col-xs-3">
    <label class="label label-info" style="font-size: 10px; padding: 2px"><%= @variant.variant_code %></label>
  </td>
  <td class="col-md-1 col-sm-1 col-xs-1">
    <% is_readonly = @item_max_value.present? ? true : false %>
    <% stock_val = @item_max_value.present? ? @item_max_value.to_f : '' %>
    <%= number_field_tag "inventory_order_indent[items_attributes][#{index}][stock]", stock_val, placeholder: 'Qty', style: 'text-align:left; background-image: none;width: 80px;', class: 'item_quantity modalRequest_input_style', min: '0.1', readonly: is_readonly ,id:"myTextBox"%>
    <%= hidden_field_tag "", @variant.stock.to_i, class: 'item_max_quantity form-control' %>
    <%= hidden_field_tag "", @item_units, class: 'item_sub_units_value form-control' %>
    <lable class="new_value" style=" color: red;" ></label>
  </td>
  <td class="col-md-1 col-sm-1 col-xs-1" style="text-align:left;width: 30px;">
   <lable > <%= @item_units %></label>
  </td>
  <td class="col-md-2 font-size" style="text-align:left;">
    <% if @item&.dispensing_unit.present? %><%= @item&.dispensing_unit %><% else %>NA<% end %>
  </td>
   <td class="col-md-2 font_size item_remark modalRequest_input_style">
     <%= text_field_tag "inventory_order_indent[items_attributes][#{index}][indent_remarks]", "", class: 'item_remark modalRequest_input_style' %>  
   </td>
   <%if @sub_stores.size > 1 %>
    <td class="col-md-2 col-sm-2 col-xs-2 font-size">
      <%= select_tag "inventory_order_indent[items_attributes][#{index}][sub_store_id]", options_for_select(@sub_stores, selected: ''), include_blank: 'Select', class: 'sub-store-id modalRequest_input_style', style: 'padding: 5px' %>
      <%= hidden_field_tag "inventory_order_indent[items_attributes][#{index}][sub_store_name]", "", class: 'sub-store-name' %>
    </td>
  <% else %>
    <%= hidden_field_tag "inventory_order_indent[items_attributes][#{index}][sub_store_name]", @sub_stores[0][0], placeholder: 'Qty', style: 'text-align:left', class: 'modalRequest_input_style', readonly: true %>
    <%= hidden_field_tag "inventory_order_indent[items_attributes][#{index}][sub_store_id]", @sub_stores[0][1], placeholder: 'Qty', style: 'text-align:left', class: 'modalRequest_input_style', readonly: true %>
  <% end %>
  <td class="col-md-2 font-size" style="text-align:left;">
    <button type="button" class="btn btn-link hg-tooltip delete_empty_item" tabindex="-1" style="padding:0px;" title="Remove From List" value="<%= @variant.id %>"><i class="fa fa-trash-alt" style="color:#000;"></i></button>
  </td>
</tr>
