<% if @indents.length > 0 %>
  <% @indents.each do |indent| %>
    <tr id="<%= indent.id %>" class="inventory-list-row">
      <td style="font-size: 10px; color: #17a08c;" class="col-md-3"><%= indent.indent_date_time&.strftime('%d-%m-%Y') %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= indent.indent_date_time&.strftime("%I:%M%p") %></td>
      <td class="col-md-3"><b><%= indent.status&.titleize %></b></td>
      <td class="col-md-3"><b><%= indent.indent_type&.titleize %></b></td>
      <%# store_name = Inventory::Store.find_by(id: indent.store_id)&.name %>
      <td class="col-md-3"><b><%= indent.store_name  %></b></td>
      <td class="col-md-3"><b><%= indent.indent_display_id %></b> </td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td align="center"><strong style="font-size: 20px;">Nothing to Display</strong></td>
  </tr>
<% end %>

<style>
  .order-status, .order-vendor {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
</style>