<div class="">
  <h3 class="text-center"><%= @indent.remarks %></h3>

  <div class="btn-group" style="margin: 10px;">
    <% unless @from.present? %>
      <a href="/inventory/order/indents/print?order_id=<%= @indent.id %>&page_size=A4" class="btn btn-success btn-xs" target='_blank'> <i class="fa fa-print"></i>&nbsp;Print A4</a>
      <a href="/inventory/order/indents/print?order_id=<%= @indent.id %>&page_size=A5" class="btn btn-success btn-xs" target='_blank'> <i class="fa fa-print"></i>&nbsp;Print A5</a>
    <% end %>
    <% unless @purchase_orders.pluck(:order_status).include? 'Pending' %>
      <% if @indent.is_closed == false %>
        <%= link_to new_transaction_inventory_order_indents_path(id: @indent.id), class: 'btn btn-primary btn-xs ', data: { remote: true, 'disable-with' => 'Please Wait...', 'toggle' => 'modal', 'target' => '#inventory-modal', class: 'btn btn-info' } do %> <i class=""></i> New Order<% end %>
      <% end %>
    <% end %>
  </div>
  <br><br>
  <div class="container-fluid" id="freeInvoiceEdit" style="border-bottom:1px solid #eee;">
    <div class="row mb5">
      <%= render partial: '/inventory/order/indents/show_body.html.erb' %>
    </div>
    <hr>
    <% if @purchase_orders.length > 0 %>
    <h4 style="margin-top:0; color: #00BFFF">Order Against Indent:&nbsp;</h4>
    <% @purchase_orders.each do |purchase| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#purchase-<%=purchase.id%>"
               role="button" aria-expanded="false" aria-controls="purchase-<%=purchase.id%>">
              <%= purchase.purchase_display_id %> |
               <%= purchase.created_at&.strftime("%d/%m/%Y") %>&nbsp;&nbsp;<%= purchase.created_at&.strftime("%I:%M%p") %>&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= purchase.order_status.titlecase %>
            </a>
          </h4>
        </div>
        <div class="col-sm-12 collapse panel-collapse" id="purchase-<%=purchase.id%>">
          <div class="panel-body">
            <%= render partial: '/inventory/order/purchases/show_body.html.erb', locals: {purchase: purchase} %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
  





<style type="text/css">
  .table-add-item td{
    padding: 5px 5px 0;
  }

  .check_font table tr th {
    padding: 2px 5px;
  }

  .check_font table tr td {
    padding: 2px 5px;
  }

  .check_font {
    font-size: 11px;
  }
  .panel-heading {
    padding: 0;
    border:0;
  }
  .panel-title>a, .panel-title>a:active{
    display:block;
    padding:15px;
    color:#555;
    font-size:13px;
    font-weight:bold;
    text-transform:uppercase;
    /*letter-spacing:1px;*/
    word-spacing:3px;
    text-decoration:none;
  }
  .panel-heading  a:before {
     font-family: 'Glyphicons Halflings';
     content: "\e114";
     float: right;
     transition: all 0.5s;
  }
  .panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
  } 
</style>
