<% @current_user = current_user %>
<div class="row">
  <div class="col-md-12">
    <label class="label label-info" style="font-size:12px;"><b>Note :</b> The View That is Selected Will Be the First Page that opens while You login</label>
    <p class="success_label text-right"></p>
  </div>
  <div class="col-md-12">
    <b style="color: #000;">Select Default View</b>
  </div>
</div>
<div class="row" style="margin:10px;">
  <% @user_departments.each do |department| %>
    <div class="col-md-3">
      <div class="rdio rdio-primary">
        <input type="radio" value="<%= department[:id] %>" name="user_selected_url" id="default_url_<%= department[:id] %>" class="user_selected_url" <%= 'checked="checked"' if current_user.department_ids[0] == department[:id] %>>
        <label for="default_url_<%= department[:id] %>"><%= department[:name] %></label>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $(".user_selected_url").on('click', function(){
      let department_id = $(this).val()

      // fetch method from ES6
      fetch(`/users/user_preferred_url?id=<%= @current_user.id.to_s %>&department_id=${department_id}`)
        .then((data) => data.json())
        .then((d) => d.success ? successNotify() : errorNotify())
        .catch((error) => errorNotify())

      const successNotify = () => {
        notice = new PNotify({
          title: 'Success',
          text: "Default View Successfully Changed",
          icon: 'fa fa-check-circle',
          type: 'success'
        });
        $(".ui-pnotify").on('click', function(){
          $(this).remove();
        })
      }

      const errorNotify = () => {
        notice = new PNotify({
          title: 'Failure',
          text: "Error Updating Default View",
          icon: 'fa fa-ban',
          type: 'error'
        });
        $(".ui-pnotify").on('click', function(){
          $(this).remove();
        })
      }
    })
  })
</script>