<div class="pageheader header_change" style="padding-bottom: 5px ;padding-top: 5px">
  <%= stylesheet_link_tag  "bootstrap-fileupload.min", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "bootstrap-fileupload.min", "data-turbolinks-track" => true %>
  <h2 style="font-size: 20px"><i class="fa fa-user" style="font-size: 20px;padding: 6px 8px;"></i>Practice Settings<span>Manage your profile here...</span></h2>
  <!--<div class="breadcrumb-wrapper" style="top: 16px;">-->
  <!--<span class="label">You are here:</span>-->
  <!--<ol class="breadcrumb">-->
  <!--<li><%#= link_to 'Account Settings', 'javascript:history.go(-1);' %></li>-->
  <!--<li class="active"> Staffs Settings </li>-->
  <!--</ol>-->
  <!--</div>-->
</div>

<% @current_user = current_user %>
<div class="content clearfix">
  <div role="tabpanel" class="content_container clearfix">
    <div class="col-md-2 mt15 side_bar_menu">
      <!-- new menu -->
      <ul class="list-unstyled components settings_update">
        <li>
          <a href="#setsAndListSettingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle settings_head" id="submenu-clinical"><span class="b-icon"><i class="fa fa-stethoscope"></i>&nbsp;&nbsp;</span>Clinical&nbsp;&nbsp;&nbsp;<span class="caret"></span></a>
          <ul class="collapse list-unstyled in padded_list" id="setsAndListSettingSubmenu">
            <% if @current_user.department_ids.include?('261904005') || @current_user.role_ids.any? { |ele| [159561009, 59561000, 159562000, 106292003, 28229004, 28221005, 499992366].include?(ele) }  %>
              <li role="presentation" class="sub_list_li tab-pane active">
                <a href="#laboratorysets" aria-controls="laboratorysets" role="tab" id="laboratorysets_ids" data-toggle="tab">Laboratory Sets</a>
              </li>
            <% end %>

            <% if @current_user.department_ids.include?('309935007') || @current_user.role_ids.any? { |ele| [159561009,59561000, 159562000, 106292003, 28229004, 28221005, 499992366].include?(ele) }  %>
              <li role="presentation" class="sub_list_li <%= "active" if @current_user.role_ids.include?(2822900478) %>">
                <a href="#ophthal_sets" aria-controls="ophthal_sets" role="tab" id="ophthal_sets_id" data-toggle="tab">Ophthal Sets</a>
              </li>
            <% end %>

            <% if @current_user.department_ids.include?('309964003') || @current_user.role_ids.any? { |ele| [159561009,59561000, 159562000, 106292003, 28229004, 28221005, 499992366].include?(ele) }  %>
              <li role="presentation" class="sub_list_li <%= "active" if @current_user.role_ids.include?(41904004) %>">
                <a href="#radiology_sets" aria-controls="radiology_sets" role="tab" id="radiology_sets_id" data-toggle="tab">Radiology Sets</a>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
      <!-- new menu end -->
    </div>

    <div class="tab-content col-md-10 mt15">
      <% if @current_user.department_ids.include?('261904005') || @current_user.role_ids.any? { |ele| [159561009, 59561000, 159562000, 106292003, 28229004, 28221005, 499992366].include?(ele) } %>
        <div role="tabpanel" class="tab-pane active" id="laboratorysets"></div>
      <% end %>

      <% if @current_user.department_ids.include?('309935007') || @current_user.role_ids.any? { |ele| [159561009, 59561000, 159562000, 106292003, 28229004, 28221005, 499992366].include?(ele) } %>
        <div role="tabpanel" class="tab-pane <%= "active" if @current_user.role_ids.include?(2822900478) %>" id="ophthal_sets"></div>
      <% end %>

      <% if @current_user.department_ids.include?('309964003') || @current_user.role_ids.any? { |ele| [159561009, 59561000, 159562000, 106292003, 28229004, 28221005, 499992366].include?(ele) }  %>
        <div role="tabpanel" class="tab-pane <%= "active" if @current_user.role_ids.include?(41904004) %>" id="radiology_sets"></div>
      <% end %>
    </div>
  </div>
</div>